<header><h1>凌臨靈方</h1></header>
<dl class="元資料" data-type="book">
<div><dt>作者</dt><dd>凌曉五</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1644/1911">公元1644年至公元1911年</data></dd></div>
</dl>
<h2>序</h2>
<p>吾友沈君仲圭博雅士也，精究岐黃，富有穎悟。復從武林名醫王香岩先生游，盡得其傳，造詣乃益深。先生為我湖已故名醫凌公曉五之高足，凌公固儒而醫者也。當時求診之繁，及門之盛，首屈一指。而尤能博濟貧病始終罔懈，是以鄉中故老至今猶稱道之，活人術深，濟世心濃，可以為公詠矣。公晚年自號折肱老人，年七十二歸道山，惜乎。公之著作絕少流傳，今沈君慨然以表揚先哲啟迪後來為己任　將凌公遺著次第付梓，並承郵視《凌臨靈方》一冊囑為序言，堯雖不文，然聆斯舉，彌覺撫掌稱快，漱誦之余乃益嘆沈君師承有由來也。是書選案不多而皆精肯，吉光片羽珍貴奚如，愧余筆乏生花未能為公表揚萬一，僅於公之行略及沈君刊傳之熱忱，用志數言為讀者告。時維</p>
<p><u>黃帝紀元四六三七年歲次第七十八甲子孟夏之上浣後學費澤堯拜撰於山右旅次</u></p>
<h2>風溫夾食</h2>
<p>某左　風溫外襲，肺氣不宣，加以食滯壅遏府氣，釀痰化熱，體熱頭痛，咳嗽嘔惡，眠食欠安，脈弦滑而數，胎中白尖紅。防發風疹，先宜疏肺。</p>
<p>羚角片　嫩薄荷　純鉤　鮮竹茹　焦楂肉　連翹　金蟬衣　白杏仁　銀花露　牛蒡　橘紅　象貝　川鬱金</p>
<h2>時</h2>
<p>吳官（十一月）　時　未得宣達，此由風溫束肺為患，脈滑而數，治宜辛涼宣解。</p>
<p>羚角片　薄荷　純嫩鉤　麥芽　銀花露　連翹　蟬衣　通草　蘆根　牛蒡　丹皮　象貝　竹茹</p>
<h2>濕溫</h2>
<p>程（四月）　濕溫邪擾於陽明，頭痛暈眩，身熱煩渴，筋骨酸楚，暮夜神昏譫語，大便挾熱溏泄，小便短赤，脈弦滑數，治宜清解。</p>
<p>羚角片　薄荷梗　丹皮　益元散　牛黃清心丸（一顆）　連翹　川鬱金　象貝　銀花露　牛蒡鮮斛　竹茹　車前子</p>
<h2>暑風兼疹</h2>
<p>長兄（六月）　感受暑風，擾於肺胃，吐瀉交作，脘悶煩渴，身熱無休，肌膚已現風疹，未得宣達，神煩不寐，全無汗出，脈弦滑數，胎黃糙。治宜辛涼宣解。</p>
<p>羚角片　嫩薄荷　青蒿子　鮮竹茹　萬氏清心丸　連翹　川鬱金　純鉤　車前草　牛蒡　鮮斛　象貝　銀花露</p>
<h2>暑濕</h2>
<p>姑奶奶　暑風穢濕互擾陽明，升降不和，寒熱如潮，脘悶絡酸，口乾溺少，脈弦滑數，胎黃膩。惟恐汗出不徹，轉受白　之弊，治宜清解一法。</p>
<p>連翹　川斛　赤苓　川鬱金　銀花露　佩蘭葉　青蒿子　益元散　純鉤　牛蒡　地骨皮　杏仁　竹茹</p>
<h2>白</h2>
<p>伏暑蒸化白　未得宣達，（照前方）或可加：羚角片　綠豆衣　車前草　象貝　通草；頭痛甚者中薄荷數分；無汗加橘紅、淡豆豉；脘悶加川朴、廣皮白。</p>
<p>沈老潮（三十二歲大胖子，七月十六日）暑濕熱邪擾於陽明，體稟多濕多痰，痰熱阻郁氣機，升降不宣，神煩脘悶，骨絡煩疼，頭眩支倦，紅疹已透，未得宣達，脈弦數，右寸關兼浮滑，治宜清解。</p>
<p>局方紫雪丹　連翹　鮮扁斛　真川連　車前草　牛黃清心丸　牛蒡　丹皮　益元散　蘆根　羚角片　佩蘭葉純鉤　鮮石菖蒲根（一錢五分，搗汁和沖）　鮮竹瀝按：痧疹已透，尚未宣達，如無刺平塌者，俗為疹子透勿出，若冒風即隱，屬內陷者危，俗為疹子回肚是也。</p>
<p>又按：痧疹有刺者佳，無刺勿起者，危。</p>
<p>又十七日再診原方一帖。</p>
<p>又十八十九日去紫雪丹加川鬱金。</p>
<p>又二十日紅疹已得透解，肺胃痰熱未清，肝胃氣滯不和，時有潮熱，脘悶支倦，神疲嗜臥，口苦溺赤，脈小弦數，胎黃膩，治宜清肅上中，佐以平肝。</p>
<p>元參　佩蘭葉　杏仁　黑梔　車前草　連翹　鮮斛　真川貝　銀花露　牛蒡　丹皮　全瓜薑　益元散又二十二日，陽明遺濕未清，心脾尚有餘熱，肝胃不和，口乾嘔酸，頭眩支倦，便解下矢堅黑，小溲短赤而澀且痛，脈弦小數，胎光紅，治宜清解為法。</p>
<p>元參　青蒿　生穀芽　宋半夏象貝同拌　車前草一兩煎湯代水　連翹　鮮斛　新會皮佩葉葉　童木通　益元散真西珀三分同燈心研同拌　丹皮　薑汁　焦梔</p>
<h2>紅疹</h2>
<p>褚阿大（木行水手，七月）　紅疹由潮透達，肺胃痰火有餘，壯熱脘悶，神煩口渴，脈弦滑數，治宜清解陽明，附方請正。</p>
<p>牛黃清心丸　連翹　丹皮　竹瀝　鮮細石菖蒲根（一錢五分，搗汁和沖）　蘆根　紫雪丹牛蒡　純嫩鉤　貝母　羚角片　青蒿　鮮斛　車前草按：犀角能透少陰陽明之邪，疹　當為要藥。牛黃清心丸清心包之痰火，與熱證相宜，若疹　家非其長也。</p>
<h2>紫斑</h2>
<p>萬（左八月）　陽明血熱遍身致發紫斑，牙齦衄血不已，大便不爽，小便赤，身疲內熱，脈弦洪數。治宜清解陽明，以搜伏邪為法。</p>
<p>元參　大青　人中黃　川鬱金　大竹葉　犀角尖　丹皮　連翹　黑荊芥　鮮生地　赤芍　淨銀花　天蟲按：青腿牙疳亦宜從此方，加馬勃薄腦飲之即愈。此症詳《外科金鑒》、《吳醫匯講》參看。</p>
<h2>春溫逆入心包</h2>
<p>曹（十七歲，二月二十四日）　春溫化斑，隱約不達，痰火自肺胃逆入心營，熱傷津液，神昏譫語，手指掣搐，唇齒燥裂出血，苔焦燥邊紅，脈弦滑數兼見，以脈參證，慎防痰升內閉之憂，擬清解為法以俟。高明酌奪。</p>
<p>台參須　牛蒡　丹皮　石決明　青黛五分拌打　竹瀝　鮮石菖蒲汁一茶匙和沖　烏犀角川鬱金　純鉤　人中黃　銀花露　翹心　鮮地　赤芍　珠黃散　西珀三分研同沖入</p>
<h2>伏暑</h2>
<p>游左蔣杏泉診（八月）　伏暑內發，新涼外束，自肺胃干及少陽，先起寒熱作潮，繼則壯熱神蒙，煩渴引飲，胸脘懊　，脈來弦數而滑，兩尺偏大，兩關短數，苔黃膩，四支厥逆，兩目悶瞀，便溏溲少，以脈參證，惟恐邪鬱不達，致上厥下脫之變，擬升提陽明，宣解一法是否如斯，附方即請高明酌正。</p>
<p>羚羊片　葛根　川鬱金　柴雪丹（三分，沖）　竹茹　連翹　制川朴　通草　銀花露　薄荷梗　新會皮　益元散　車前草服一劑白　紅疹即透，紫雪丹易金斛。</p>
<h2>伏暑內閉</h2>
<p>金松依（看菜園為業，年五十六歲，八月）　伏暑內閉治之非易。（先以烏梅擦牙，待牙關一開即進至寶丹一顆，菖蒲湯下）</p>
<p>羚角片　川鬱金　竹瀝　鮮石菖根和沖　益元散　連翹　丹皮　石決明　車前草牛蒡　純嫩鉤　陳膽星　小至寶丹一顆又次日灌藥後而內閉即開，神色時有不清，仍宗前法，照原方去至寶丹竹瀝，加牛黃清心丸竹茹。</p>
<h2>熱入營分</h2>
<p>錢（十一歲）　煩出於心，躁出於腎，熱邪深入營分，津液被奪，壯熱口渴，煩躁不安，惟恐熱邪從營分逆於心主，宮城激動肝風，致有痙厥之變，脈弦滑數，治宜清解為法，冀其轉機，附方候正。</p>
<p>元參　薄荷　純鉤　鮮竹瀝　石菖汁（同沖）　牛黃清心丸　連翹　川鬱金　石決明車前草　羚角片　丹皮　京膽星　紫雪丹</p>
<h2>熱入厥陰</h2>
<p>喻（年十五歲，七月十日）　病經旬余，熱傷營陰，暑濕熱邪，深入厥陰，內熱煩渴，體力疲憊，眩暈昏黑，四支厥逆，時有潮熱，肌腠曾有白　，未得宣達，風動痙厥，慎防厥脫之變，脈弦滑數，按之均少神韻。治宜清心滌痰兼平肝宣竅，附方請正。</p>
<p>台參須玫瑰花三朵同燉沖　純嫩鉤　青蒿子　竹瀝　牛黃清心丸　真滁菊　石決明真川連三分拌　川鬱金　膽星　丹皮　朱茯神　薄荷益元散（方中有膽星牛黃川連可勿用也）</p>
<p>又次日厥逆已平，喘汗已止，而肺津胃液已被熱邪劫耗，潮熱未退，大便挾熱旁流，左脅痞痛拒按，神疲支倦，不飢不納，脈虛數近弦，苔黃糙。治宜滋清以撤余邪，還須節食避風，勿使反復，另紙錄方請正。</p>
<p>台參須玫瑰花三朵同燉沖　東白芍　青蒿子　車前草　小青皮　連心麥冬　左牡蠣丹皮　生穀芽　金扁石斛　淡鱉甲　純嫩鉤　朱茯神。如舌胎黃糙，遺邪尚未清淨，參麥滯膩用宜斟量，見症不飢不納，膩補更宜加意審辨為重。</p>
<p>按：上方及此方即復脈之變方也。</p>
<h2>熱邪消爍津液</h2>
<p>某（七月）　體稟陰虛，感受酷暑熱邪蘊留陽明，加以風食擾動，始起頭疼惡寒，煩渴嘔惡，繼則身熱脘悶，熱甚神昏，肌腠曾現紅疹白　，漸次透達，病經一月之久，肺津與胃液已被熱邪消爍，前治一派蠻法，遂致陰分日耗一日，所謂奪汗則無血也，今診脈象弦滑虛數，按之均少神韻，唇焦口燥，以脈參證再延恐有喘脫之虞，姑擬扶正化邪，冀其轉機附方請高明酌正。</p>
<p>台參須玫瑰花（三朵同燉沖）　天花粉　石決明　真川貝　珠黃散　大連心麥冬　鮮金斛朱茯神　竹瀝菖蒲汁一茶匙同沖　鮮生地　丹皮　連翹　益元散真西珀（三分研同沖）。</p>
<p>迭因前治進滋膩收澀之品，擬用花露以滌腸胃。</p>
<p>銀花露　青蒿露　佛手露　玫瑰露　鮮穀子露　杷葉露按、此即甘露飲法。</p>
<h2>陰虛陽浮</h2>
<p>葉左（七月十三日，燈下）　二年前曾經咯血，火升咳嗽由來日久，陰虛陽浮不喻可知。入夏以來感受暑濕熱邪，自陽明擾動肝陽，潮熱來時於火妄動遺精走泄，小便短赤，口渴津煩。前醫竟作溫熱論治，甚至服二角二鮮紫雪至寶之類，津液從此暴脫，唇灰燥裂舌起白屑，大便泄痢不止，內熱而飲不解渴，脈細如絲，將有喘脫之虞。勉擬壯水之主以制陽光法，然鞭長莫及矣。附方請高明酌奪。</p>
<p>台參須玫瑰（三朵同燉沖）　女貞子　鱉甲童便炙　炒秫米　車前草　麥冬米炒　東白芍青蒿童便炙　鮮蓮子　霍石斛　左牡蠣　生熟穀芽（各四錢）　半貝丸又（十四日次診）　大便已結，內熱亦減，精神漸旺，而腰膂痛楚，脘窒少納，眩暈體疲，此陰虛也，脈尚濡小而數，兩關近弦，舌邊微紅，中後白屑已退而微黃，治從前法略為損益，附方請政。</p>
<p>台參須　左牡蠣　地骨皮　生穀芽　車前草　金扃斛　淡鱉甲　朱茯神　生米仁　東白芍　陳青蒿真川貝　鮮蓮子</p>
<h2>陰斑</h2>
<p>某（初平診）　春分節後肝木犯中乘脾則瀉，犯胃則嘔，病起夜半，肢厥脈伏，喘汗發斑，慎防閉脫之變，勉擬附子理中為法或可挽回萬一，另請高明酌政。</p>
<p>高麗別直參玫瑰花（五朵燉沖）　左牡蠣　熟附（五分同煮去附入煎）　宣木瓜　生仙居術　淡乾薑　新會皮　清炙甘草　東白芍　左金丸（三分拌入）　煎朱茯神復診昨擬進人參附子回陽法今吐瀉已止，知飢能納，微有嘔惡眩暈，正氣雖得克復，而肝胃氣尚未和也，脈形緩弱右寸兩關重按見弦，治擬兩和厥陰陽明法，還須節食避風，勿使反復，附方候政。</p>
<p>高麗別直參　東白芍左金丸（三分拌炒）　純鉤　澤瀉　米炒大麥冬　廣皮　石決明生熟穀芽（另煎代水）　原株金斛　半夏曲　朱茯神</p>
<h2>伏暑夾食</h2>
<p>龔左（十九歲，九月四日）　伏暑內發，新涼外束，加以食滯壅遏，腑氣升降不和，吐瀉交作，脘悶口渴，甚且厥逆不省人事，支厥脈伏，喘汗不止，舌苔白膩，以脈參症，慎防厥脫之虞，勉擬參附桂枝甘草龍骨牡蠣出入為法，然恐鞭長莫及矣，附方請高明酌奪。</p>
<p>台參須　龍骨　東白芍　左金丸（二分同拌）　天生術（五分）　左牡蠣　熟附片（五分煮去附入煎）　嫩桂枝（五分）　炙草　朱茯神　戈製半夏（五分）　來復丹（五分）　新會皮</p>
<h2>霍亂夾食</h2>
<p>鄭（六月二十六日），暑寒濕食阻郁陽明三焦，氣滯不和，脘悶支倦，症起腹中絞痛嘔吐泄瀉，名曰霍亂，繼則身熱憎寒，口苦溺少，轉防瘧痢兩端，脈弦滑數，舌苔黃膩，治以正氣法加減。</p>
<p>生米仁　新會皮　丹皮　赤苓　車前草　廣藿香　半夏曲　純嫩鉤　木豬苓　制川朴　青蒿　建神麯　澤瀉</p>
<h2>霍亂</h2>
<p>施左（五月）　寒暑穢濕互擾陽明，清濁升降混淆，霍然吐瀉交作，脈形沉弦而滑。治宜和中為先。</p>
<p>生米仁　老木香左金丸（三分同拌）　查炭　木豬苓　青荷梗　廣藿香　半夏曲　六神麯澤瀉　制川朴　新會皮　赤苓　車前草徐，霍亂轉筋治之非易。（照施氏方加木瓜鉤藤）。</p>
<h2>遺濕</h2>
<p>顏（八月）　瘧後遺濕未清，脾胃不和，脈象弦數，治宜調理。</p>
<p>生米仁　新會皮　綿杜仲　川斛　車前草　佩蘭葉　宋半夏　川萆　生穀芽　赤苓　川斷肉　澤瀉　鮮佛手</p>
<h2>風斑</h2>
<p>凌（五月）　脾欠健運，濕熱留著陽明，現值太陰濕土司氣，又加風邪擾動，風濕客於皮膚，汗出不徹致成風斑，搔癢無定。經謂：汗出見濕，乃生痤痱，痤即風斑也，脈弦數。治宜調理祛法風濕。</p>
<p>稀　草　新會皮　丹皮　連翹　帶皮苓　生葛根　宋半夏　川萆　淨銀花　蟬衣　東白芍　晚蠶砂　綠豆衣</p>
<h2>寒水襲肺</h2>
<p>某（七月三十日初，平診）　夏秋陽氣發泄，皮毛疏豁，偶逢豪雨寒水之氣內襲太陰，咳逆痰稠，遷延日久，邪鬱化火。釀痰，痰青咽痛是其候也，脈右郁滑近弦，病本在肺，何乎竟從肝腎主治耶，擬從麻杏甘石湯法加味度中肯綮。</p>
<p>水煮麻黃　炒兜鈴　炙紫苑　白茯苓　白杏仁　清炙草　薄橘紅　冬瓜子　冰糖水炒石膏　旋覆花　絲瓜絡</p>
<h2>內燥</h2>
<p>高右（八月十五日）　體稟陰虛，水不涵木，肝膽氣火偏旺，木火凌金，肺失清肅，時在燥金司氣，加以秋燥，風邪乘虛襲入，風燥相搏，金受火刑，咳嗽見紅，咯痰色青，胸脅引痛，乍寒乍熱，內熱為甚，今但燥咳烘熱汗溢，明是陰虛陽浮之征，脈濡小數右寸關獨大於諸部，舌苔光紅中後微有黃胎。以脈參證恐其陽絡血溢，現近霜降節候，慎防加劇，謹擬喻氏清燥救肺出入為法，冀其退機，附方請政。</p>
<p>西洋參　杷葉　炙甘草　冰糖水炒石膏　玫瑰花　連心麥冬　真川貝　陳阿膠　鴨血炒絲瓜絡北杏仁　火麻仁　東白芍　經霜桑葉</p>
<h2>冬溫痰火</h2>
<p>笑山兄（十一月）　冬溫燥邪自肺胃擾動肝陽，痰飲加以食滯，壅遏腑氣，升降不和，始起寒熱如潮，頭脹眩暈，骨絡煩疼，口乾嘔惡，繼則身熱無休，咳唾濁痰，神疲嗜臥，氣逆脘悶，時有譫語。良由痰熱自肺胃墊於心主宮城，心經受其客熱，清明主氣為邪濁所蒙也。</p>
<p>按脈弦滑數兼見左小弦數，舌胎黃糙，上　滯膩濁痰非白屑也，現屆冬至大節，平素操勞，心營自虛，以脈參症如能痰氣順利，邪熱減退，即是轉機，否則慎防喘脫之虞，姑擬清心滌痰平肝降氣，一則附方請政。</p>
<p>西洋參　炒牛蒡　竹瀝菖蒲汁和勻同沖　羚角片　川鬱金　炒白蒺藜　連翹　旋覆花　牛黃清心丸按此方本有杏仁川貝丹皮青黛石決明霍斛絲通草以其繁雜，故不錄也。</p>
<h2>暑風化瘧</h2>
<p>慶侄　暑風化瘧，寒熱交作，頭脹脘悶，氣絡不舒，脈弦滑數，治宜疏解。</p>
<p>連翹　川鬱金　建神麯　益元散　廣藿香　青蒿子　新會皮　青荷梗　白杏仁　地骨皮　半貝丸　鮮佛手吾師云：寒濕瘧，日日作，藿香正氣散為主。</p>
<p>無汗加蘇梗，豆豉，杏仁；寒多加草蔻，生薑；熱多加青蒿，地骨皮；腹脹加枳實，大腹絨。</p>
<p>又云：不可用扁豆，用之必復發也。</p>
<p>愚見如正瘧者宜當詳考《金匱》論諸條，柴胡湯等法，又不可廢也，亦不可拘處暑之前柴胡不可用。</p>
<h2>陰瘧</h2>
<p>阮左（九月八日）　夏秋暑濕留伏陽明，近加新涼擾動，邪自肺胃干及少陽，寒熱間日而作，咳嗽痰稠，四肢酸倦，便閉溺赤，口苦脘悶，皆由此致，脈弦滑數，舌苔黃膩，陰虛體質，治宜清解。</p>
<p>鱉血炒柴　胡　知母　金斛　炒竹茹　淡鱉甲（防柴胡無鱉血拌故用此）　地骨皮　杏仁路路通　青蒿子　淡條芩　半貝丸　車前草。</p>
<p>又潮有餘波，胃納欠醒，眩暈肢倦，口苦溺赤，此陰虛留濕未清，脈小弦數，治宜清理。</p>
<p>元參　新會皮　鮮佛手　車前草　佩蘭葉　宋半夏　地骨皮　生穀芽　金斛　青蒿子　澤瀉　鮮糯稻苗葉</p>
<h2>肝胃</h2>
<p>沈太太（五十九歲，六月二十九日）　肝升太過，胃降不及，平素操勞，肝胃兩虛，肝膽氣火偏旺，氣滯不和，又加感受暑風，自肺胃擾動肝陽，肝胃氣失通調，脘痛脅脹，身熱煩渴，口乾嘔吐，骨絡煩疼，眠食欠安，《內經》謂：陰氣先傷，陽氣獨發，瘧自陰來者，謂之癉瘧。又云：厥陰之為病苦寒熱是也。脈弦滑數兼見尺部濡數，舌苔黃糙少潤，脈證互參切忌怒，怒則氣逆陽升，防有肝厥之虞，治宜清解暑熱，兩和肝胃法，冀其退機。另紙錄方請正。</p>
<p>連翹　青蒿　東白芍　川鬱金　車前草　銀花露　地骨皮　朱茯神　玫瑰花　鮮金斛淡鱉甲　純嫩鉤　薄橘紅陳少云（五十二歲，南潯，三月二日）　肝陰素本不足，肝膽氣火偏旺，操勞動肝，肝木與心火相為煽動，肝與胃臟腑相對，一勝一負，肝善升而胃少降，激動肝中濕濁，痰飲加以食滯壅遏，府氣始起，寒熱脘悶，繼則左脅引痛，咳嗽身熱，骨絡煩疼，大便秘結，此病本在肝胃，而標在肺經，所謂厥陰之為病苦寒熱是也。脈氣六陽，按左弦數而濡，右寸關弦滑數，兼見舌苔黃膩尖邊紅。治宜清熱豁痰平肝降氣。附方請高明政之。</p>
<p>西秦艽　青蒿子　赤苓　玫瑰花（二分挫末再研極細分沖）　淡鱉甲　地骨皮　方通草　東白芍　半貝丸　銀胡　金扁斛　絲瓜絡　枷楠香</p>
<h2>癉瘧</h2>
<p>孟右（六月）　陰氣先傷，陽氣獨發，瘧自陰來，但熱無寒者謂之癉瘧，脈弦數，治宜銀胡清骨飲。</p>
<p>北沙參　知母　粉丹皮　朱茯神　銀胡　青蒿子　純嫩鉤　青荷梗　淡鱉甲　地骨皮　玫瑰花</p>
<h2>氣虛下陷</h2>
<p>某　勞倦內傷，久瘧不已，脈弦數而濡，治宜補中益氣。</p>
<p>真防黨　鱉血炒柴胡　東白芍　白雲苓　炙冬術　炙黑升麻　淡鱉甲　清炙甘草　嫩綿　新會陳皮　何首烏　生薑汁炒奎紅</p>
<h2>暑濕泄瀉</h2>
<p>陳（六月）　暑濕互擾陽明，又加瓜果傷脾，脾胃不和，腸鳴泄瀉，次數甚多，脘悶腹脹，口苦溺赤，脈右弦滑，治宜和中導滯。</p>
<p>生米仁　扁豆衣　半夏曲　白寇仁　車前草　制川朴　煨木香左金丸（五分拌）　赤苓焦六曲　廣藿香　新會皮　木豬苓　澤瀉或用胃苓湯原方亦可。</p>
<h2>脾虛泄瀉</h2>
<p>施　大便溏泄已稀，神色清潤肌肉漸生，脾胃元氣未復之征，脈形弦緩，治宜調中。</p>
<p>參苓白朮原方。</p>
<p>景岳五陰煎，四神丸皆可用之。</p>
<h2>白積</h2>
<p>程左（六月）　寒暑濕食互擾陽明，寒熱似漸漸無，汗泄邪陷成痢，痢下白積，更衣腹痛後重，脈弦滑而濡，舌苔黃膩，治宜和中導滯。</p>
<p>生米仁　煨木香左金丸（五分拌）　車前草　澤瀉　廣藿香　陳皮　木豬苓　赤苓　制川朴　楂炭　半夏曲或可用枳殼大腹皮以疏泄之。</p>
<p>或加白蔻煨薑以溫之。</p>
<p>按：赤白痢初起亦從此法，即胃苓合香連之變方也，以米仁代術，車前代桂通陽，余三味合之即五苓散也。</p>
<h2>暑濕內陷</h2>
<p>葛（魚巷口）　瘧痢交作，此由邪陷少陽陽明，失於提解所致，脈象弦數，治宜疏解。</p>
<p>細柴胡　香連丸　車前草　鮮蘇葉　查楂　葛根　制川朴　青蒿子　赤苓　淡條芩新會皮　炒銀花　半夏曲</p>
<h2>濕火紅積</h2>
<p>卓順兄（長橋頭，七月）　暑濕侵脾，下痢紅積，更衣腹痛後重，乍寒乍熱，脈弦滑數，宜清解陽明。</p>
<p>煨葛根　煨木香　青蒿子　木豬苓　炒條芩　枳殼　炒丹皮　青荷梗　炒川連　楂炭　銀花或用白槿花或用白頭翁湯。</p>
<p>或用淡芩元明粉約三五分拌之。</p>
<h2>赤白積煙漏</h2>
<p>葉左（五十歲，七月二十五日）　暑濕侵脾下痢，赤白相雜，晝夜無度，更衣腹痛後重，脈小弦數，治宜泄木和肝。</p>
<p>生白朮　東白芍　半夏曲　炒丹皮　青荷蒂　炒枳實　煨木香　楂炭　赤白苓　炒條芩　新會皮　青蒿子　白槿花幼群兄（七月）　吸煙之體，胃氣與榮氣並虛，夏秋暑濕蘊留陽明，太陰脾經失運化之權，加以食滯壅遏。腑氣轉化敗濁，下痢灰色，更衣裡急後重，晝夜登圊數十次之多。古謂痢積稱滯下是也，前醫謂其煙體，進藥一味辛燥而氣火之勢益劇，是以裡急更甚，今診脈象左右三部弦數，兼見舌苔光紅根後黃膩，以脈參症，正虛邪實難治奚疑，拙擬宣氣導滯利濕清熱，一則附方可否，請高明酌政。</p>
<p>生米仁　廣木香　紫厚朴　澤瀉　焦鍋巴（五錢，連蒂青荷葉包）　佩蘭葉　炒枳殼　半夏曲車前草　金斛　大腹絨　赤白苓　架楠香（二分，挫末再研極細分沖）</p>
<h2>噤口痢脫肛</h2>
<p>陳（五歲，七月）　痢經一月，赤白相雜，檢閱前醫數方一派攻伐，遂致肝脾營陰受傷，腸胃脂膏殆盡，氣虛下陷，圊時後重脫肛，眼眶內陷，神煩，全不思食，延成襟口重症，慎防汗喘虛脫之變，脈虛數近弦，舌苔光紅，姑擬人參石蓮飲為法，冀其轉機，附方請正。</p>
<p>台參須　鮮佛手露　青蒿露（各一兩，代水燉沖）　江枳殼　地榆炭　澤瀉　紅白扁豆花（各十朵焙研分沖）　石蓮肉　東白芍（東壁土炒）　煨木香（真川連拌）　車前草　真野術（陳壁土炒）　真陳不臭阿膠（藕粉炒成珠）　抱木神（辰砂拌）　陳年糕片（綿包入煎）</p>
<h2>休息痢</h2>
<p>羅左　脾腎雙虛已成休息痢之候，由來半載之久，吸煙之體遷延非宜，所幸胃氣尚蘇不致受困，脈雙弦而濡，擬宗繆仲淳法，繆氏脾腎雙補丸四兩，每日清晨、午後空心青鹽湯送下三錢。</p>
<p>如酒積者，葛花解酲湯主之。</p>
<h2>飧泄</h2>
<p>費三和　酒客，中虛飧泄不已，補中益氣湯主之。</p>
<p>胃苓湯法亦主之。</p>
<h2>脫肛</h2>
<p>潘左（二月）　久痢脫肛，當宗東垣補中益氣法。</p>
<h2>腸紅</h2>
<p>某　腸紅三載，糾纏不已，肝脾營分受傷，從歸脾湯法。</p>
<h2>痔</h2>
<p>倪（二月）　陰虛濕火下注，肛門血痔，更衣見紅，由來日久，即《內經》所謂陰絡傷則血內溢是也。脈象弦數，擬宗丹溪槐角法。</p>
<p>炒槐米　黑荊芥　丹皮炒黑　赤苓　地榆炭　女貞子　淨銀花（炒焦）　澤瀉　炒枳殼　東白芍　米仁車前草血不止加柿餅炭。</p>
<p>內外痔俱同法，漏管者，加象牙屑。</p>
<h2>痔漏脫肛</h2>
<p>陳　氣虛濕熱下注，痔漏脫肛，脈象弦數，治宜調理。</p>
<p>水泛補中益氣丸（四兩）　加味槐角丸（四兩。二丸和勻每日清晨午後空心開水送下五錢）</p>
<h2>血痢</h2>
<p>何左（正月）　脾欠健運，濕熱留著陽明，加以操勞動肝，肝木乘脾，脾失統血，血痢糾纏，更衣腹痛後重，脈弦緩。治宜兩和汗脾為先。</p>
<p>真防黨　焦當歸　遠志肉　東白芍　樗白皮　嫩綿　清炙草　炒棗仁　陳阿膠真於朮（東壁土炒）　云茯神　廣木香　桂圓肉　桂圓肉（一枚），苦參子（五粒）包吞。</p>
<h2>水腫</h2>
<p>陳小孩（二月）寒水侮脾，水腫脹滿，脈雙弦而濡，治之非易易耳。</p>
<p>米仁　製香附　法半夏　廣陳皮　車前子　綿茵陳　大腹絨　椒目　飛滑石　帶皮苓制川朴　地骷髏　冬瓜皮此症小兒謂之瓠白，大人謂之水腫，同一病也。</p>
<h2>下體腫脹</h2>
<p>許左（年三十一歲，八月三日）　傷於濕者下先受之，諸濕腫滿皆屬於脾，脾失運化之權，濕熱曾著陽明，太陰陽明之脈皆從足經而起，濕熱下注其經氣絡不和，腫自足跗而起，膀胱氣化失司，腫及陰囊，小溲不利，脈象弦緩，治宜分利，方照陳孩水腫之方去香附大腹絨，加漢防己、晚蠶沙。</p>
<h2>腳氣</h2>
<p>如濕熱香港腳亦從此方，加萆　、漢防己、晚蠶沙。（按原稿無正方）</p>
<h2>腫脹</h2>
<p>張（七月）　脾肺氣虛，中焦失運化之權，濕熱蘊留陽明，三焦氣滯不和，腫自足跗而起，延及四肢頭面，腹脹少納，四肢酸倦，小溲不利，脈右弦滑，治宜清利。</p>
<p>生於朮　大腹絨　椒目　晚蠶沙（酒炒絹包）　車前草　炒枳實　新會皮　飛滑石　帶皮苓　製香附　法半夏　漢防己　地骷髏。</p>
<p>汪鴻橋（年四十六歲，七月）　寒水侮脾，水腫脹滿，前以分利不應，今已喘矣，脈形濡緩，擬宗滿生加減腎氣湯法。</p>
<p>大熟地　縮砂仁（四分，拌）　丹皮　懷牛膝　懷山藥　帶皮苓　車前子　陳萸肉　澤瀉地骷髏　上搖桂　熟附片（各五分二味飯丸分吞）</p>
<p>按：菁山某亦用此方數十劑全愈，靈效非常。</p>
<h2>寒濕氣滯</h2>
<p>左（八月）　寒濕氣滯，肝脾不和，腹脹脘悶，四肢酸倦，氣逆痰稠，眠食欠安，脈右弦滑，治宜泄木和中。</p>
<p>米仁　大腹絨　炒枳殼　焦麥芽　連穗　車前草　廣藿香　新會皮　萊菔子　杏仁　製香附法半夏　赤苓　薑汁炒竹茹</p>
<h2>濕食</h2>
<p>僧（六月）　濕食鬱遏，腹脹不和，治宜疏化。</p>
<p>藿香正氣丸、保和丸各二兩，二味和勻，每服三錢，開水送下。</p>
<h2>單臌脹</h2>
<p>刑云窯　濕熱侵脾，脾虛作脹，土不生金，肺失清肅，咳嗽便溏，單腹臌脹，青筋外露，（或腹笥膨脹，青筋外露，勢成單臌之候）脈雙弦而濡，治之非易易耳。</p>
<p>生於朮　大腹絨　陳香櫞　雞內金　小溫中丸　炒枳實　新會皮　沉香曲　楂炭便結易萊菔子　製香附　法半夏　赤苓　車前子李　單腹膨脹希冀萬一。</p>
<p>生仙居術（一錢）　陳新會皮（一錢五分）　二味煎湯，送丹溪小溫中丸三錢。</p>
<h2>黃疸</h2>
<p>王右　瘀滯黃膽，脾胃不和，脈象弦數，治在陽明。</p>
<p>綿茵陳　新會皮　赤苓　制川朴　車前草　連翹　宋半夏　木豬苓　地骷髏　赤小豆米仁　澤瀉　范志曲。</p>
<h2>風淫末疾</h2>
<p>陸（鈕店橋）　血不榮筋，加以風濕阻絡，陽明虛不能束筋骨以利機關，手指麻木不仁，風淫末疾是也，脈小弦數，治宜和營，以祛風濕。</p>
<p>米仁　西秦艽　帶皮苓　嫩桂枝　川萆　全當歸　晚蠶沙　片薑黃　宣木瓜　粒紅花或易雞血藤　野桑枝</p>
<h2>行痹</h2>
<p>某　風濕為痹，游走無定，即前方加（乳香七分陳酒半杯）入煎。</p>
<h2>著痹</h2>
<p>邱　風寒濕三氣雜至合而為痹，風勝為行痹，寒勝為痛痹，濕勝為著痹，足筋痹由血不榮筋，寒濕下注陽明經絡而成，脈弦數，苔薄白，治宜疏解。</p>
<p>米仁　西蓁艽　帶皮苓　懷牛膝　川萆　全當歸　晚蠶沙　虎脛骨　宣木瓜　粒紅花　垂下野桑枝　小活絡丹（一顆剖開用開水化服）</p>
<h2>痛痹</h2>
<p>康左（七月）　寒濕下注，足三裡筋絡腫痛，不能任地。《內經》云：伸而不能屈，病在骨是也，脈弦緩，治宜和營，以逐風濕。</p>
<p>照邱方加熟附片、威靈仙。</p>
<h2>半身不遂</h2>
<p>李左（二十六歲，館前，初十）　半身不遂良由筋骨失於榮養，寒濕乘隙入於筋絡所致。</p>
<p>前擬進溫通筋絡法已得小動，脈弦緩，仍步前法出入。</p>
<p>全當歸　敗龜版　米仁　晚蠶沙　東白芍　瑣陽　川萆　製香附　虎脛骨　懷牛膝　宣木瓜　小活絡丹一顆。</p>
<p>又半身不遂擬進河間虎潛法已得活動，而脛骨無力，大筋軟短，猶是血不榮筋使然，脈弦，仍踵前法。</p>
<p>全當歸　虎脛骨　懷牛膝　製香附　東白芍　敗龜版　米仁　小活絡丹　生地根　瑣陽　晚蠶沙。</p>
<h2>痿</h2>
<p>欽局票　痿　成癱，治之非易。</p>
<p>丹溪虎潛丸（每服三錢青鹽湯送下）</p>
<h2>風寒</h2>
<p>風寒襲肺：杏蘇散主之杏仁　桔梗　法半夏　生薑　紫蘇梗（或用葉用子皆可）　枳殼（麩炒或用蜜炙）　赤苓　紅棗前胡　陳皮　炙甘草</p>
<h2>風溫</h2>
<p>風溫襲肺，即從徐姓秋燥方，同見後。</p>
<h2>暑風</h2>
<p>陳（七月）　感受暑風，擾於肺胃，咳嗽潮熱，脘悶口渴，脈象數，治宜清解。</p>
<p>老蘇梗　薄橘紅　竹茹　冬瓜子　薄荷梗　白杏仁　通草　焦麥芽　連翹　象貝　益元散　青荷梗</p>
<h2>濕氣</h2>
<p>王　濕鬱氣滯，肝肺不和，咳嗆氣逆，宜用清泄。</p>
<p>米仁　旋覆花　路路通　絲瓜絡　冬瓜仁　生蛤殼　赤苓　車前草　白杏仁　炒白蒺　通草兼肺熱合瀉白散。</p>
<p>如面黃加茵陳。</p>
<p>如脹加萊菔子。</p>
<h2>風燥</h2>
<p>徐　秋燥風溫，治宜清肅。</p>
<p>元參　橘紅　丹皮　竹茹　蘿卜汁　薄荷　炒牛蒡　象貝　通草　連翹　栝蔞皮　純嫩鉤　赤苓此方余在蔣永生家得來，不知是何人手筆，因屢試有驗故錄之。</p>
<p>生米仁　全栝蔞　竹瀝（一兩）　淡薑汁（三滴和沖）　冬瓜仁　海石粉　黑山梔　蘆根白杏仁　青黛　炒兜鈴如痰火阻肺絡，聲嗄者亦效。</p>
<p>傅左　寒水侮脾，土無堤防，水氣泛濫，始起咳嗽，繼則遍體浮腫，腹脹氣逆，脈象沉細，治宜溫中利水，症虞喘促之變，附方請正。</p>
<p>生米仁（三錢）　薑半夏（二錢）　生薑皮（六分）　白杏仁（二錢）　熟附塊（六分）　廣皮（一錢）　椒目（一錢）　炒蘇子（一錢五分）　帶皮苓（四錢）　杭白芍（一錢五分）　冬瓜子皮（各三錢）</p>
<p>（此方系余診因有驗故附此）</p>
<p>傅左次診，腫已漸消，惟腳腫未已，脈弦滑而緩，照前方去蘇子加米泔制茅朮漢防己旋覆花。</p>
<p>濕疥瘡懸擬方，余擬疥瘡有濕燥之分，屬濕者應用此加減。</p>
<p>草　廣皮　黑山梔　綿茵陳　帶皮苓　蒺藜　忍冬藤有熱疼痛，加連翹、大腹絨、晚蠶沙、黃芩。</p>
<h2>胃咳</h2>
<p>李官官（三歲，三月）　胃咳則蟲動，蟲動則嘔，非比痰阻肺氣為咳，讀《內經‧咳論》自知也，脈右弦滑而浮，治宜降氣平肝理胃。</p>
<p>炙桑皮　新會皮　旋覆花　烏梅肉　薑汁炒竹茹　地骨皮　宋半夏　紫石英　焦麥芽杏仁　赤苓　炒蘇子　左金丸膽咳之狀，咳嘔苦汁，亦從此方。</p>
<h2>三焦咳</h2>
<p>許左（八月）　脾虛留濕，濕痰阻肺，久咳不已，則三焦受之，三焦咳狀，咳而浮腫，脈象弦數，治宜降氣豁痰。</p>
<p>炙桑皮　帶皮茯苓　薄橘紅　瓜瓤（四兩代水）　地骨皮　葶藶子　象貝　冬瓜皮　萊菔子　路路通如水飲者或用小青龍湯原方。</p>
<h2>木火刑金</h2>
<p>邱左（鴻橋，八月）　木火刑金，肺失清肅，咳逆痰稠，脘悶支倦，脈弦數右浮，治宜清肅上中。</p>
<p>南沙參　真川貝　地骨皮　炒白蒺　梨汁（一杯沖）　炒蘇子　旋覆花　赤苓　玫瑰花杏仁　生蛤殼（五錢，青黛五分拌打）　通草　鮮竹茹</p>
<h2>金水雙虧</h2>
<p>史左（四月）　金水雙虧，肝陽浮越，不潛木火，上刑肺金，肺失清肅下行，潮熱咳嗽，咽乾目眩，脈象弦數，治宜清肅。</p>
<p>雪梨膏　西洋參　真川貝　炙冬花　朱茯神　百合（須白花者佳黃花不堪入藥　或用）天冬杏仁　生蛤殼　枇杷葉　官燕根　炒蘇子　丹皮　玫瑰花</p>
<h2>肝氣痰飲</h2>
<p>王（八月）　脾肺氣虛，中焦留伏痰飲，加以操勞動肝，肝氣橫逆，挾痰飲上犯於肺，氣逆脘悶，咳嗽痰稠，脈左弦右滑，治宜降氣豁痰。</p>
<p>粉沙參　新會皮　紫石英　赤苓　炒蘇子　宋半夏　炒白蒺　八月扎　杏仁　旋覆花玫瑰花　薑汁炒竹茹</p>
<h2>肝氣擾動痰飲</h2>
<p>朱左（年五十余，菱湖）　吸煙之體，脾肺自虛，中焦留伏痰飲，加以肝氣擾動，痰阻肺氣，咳逆痰稠，潮熱腹脹，糾纏不已，脈右滑左小數而弦，治宜調理。</p>
<p>東洋參　麩枳殼　赤苓　戈半夏（五分）　生於朮　真紫沉水香（三分，刮片另燉分沖）　新會皮旋覆花　炒白蒺　玫瑰花　紫石英　東白芍　薑汁炒竹茹</p>
<h2>痰阻氣絡</h2>
<p>劉（太和坊，正月）　《巢氏病源》云：脅痛左屬蓄血，右屬痰飲，見症右脅引痛，氣逆痰稠，明是痰阻其氣絡，不主宣使然，脈右弦左小弦數，治宜泄木和中。</p>
<p>旋覆花　全栝栝蔞　宋半夏　赤苓　新絳　川鬱金　炒白蒺　玫瑰花　青蔥管　新會橘絡　絲瓜絡　薑汁紗竹茹某，懸飲內在脅間，按之漉漉有聲，宜三子養親湯。</p>
<h2>風熱致衄</h2>
<p>沈右（年二十五歲，二月）　感受風溫，擾於陽明，頭脹身熱，脘悶咯痰，血自鼻孔中流出，《傷寒論》所謂紅汗而解也，脈弦數而浮，治宜清解。</p>
<p>元參　黑山梔　丹皮　鮮竹茹　銀花露　薄荷尖　橘紅　象貝　方通草　連翹　川鬱金　懷牛膝　白茅根暑風鼻紅宜從此方，多搗荷葉汁生地汁茅根汁為妙。</p>
<h2>鼽衄</h2>
<p>沈（二月）　《內經》謂春善病鼽衄，良由氣火偏旺，風熱外襲，風火相煽，陽絡多傷使然也。治宜黑參犀角湯法。</p>
<p>元參　東白芍　焦山梔　荊芥炭　犀角盤　丹皮　連翹　白茅根　生地　懷牛膝　淨銀花　薄荷梗　鮮竹葉。</p>
<h2>胃血上吐下利</h2>
<p>某（三月）　酒客多濕，濕熱內擾，酒性　悍，致傷胃絡，絡血上溢下注遂致吐血便血，脈右芤大，治宜清解。</p>
<p>犀角盤　茜根炭　丹皮　玫瑰花　鮮地　淡芩　懷牛膝　藕汁　黑梔　東白芍　絲瓜絡　車前草。</p>
<h2>胃血</h2>
<p>費（東街，年三十一歲，三月）　肝火沖激胃絡，絡血不時上溢，脈弦數，治宜清絡。</p>
<p>小薊炭　鮮地　懷牛膝　麋銜草　藕節　蒲黃炭　東白芍　絲瓜絡　仙鶴草　茜根炭丹皮　玫瑰花　白茅根甘心服童便終身無恙；常服藕粉大佳；心肺火甚加連翹，黑梔，犀角；陽明胃火加淡芩，制軍；肝火甚加青黛，石決明；腎火甚加女貞，旱蓮草；血虛加阿膠，生地。</p>
<h2>牙衄不止</h2>
<p>高（新市西河頭，年三十一歲，巧月二十四）　少陰不足為病之本，陽明有餘為病之標，血不足氣有餘，有餘便是火。齒是腎之余，牙齦又屬陽明經脈所注，火犯陽經，血熱妄行，血自齒縫中流出，甚且牙衄不止，去血過多而營陰受傷，內熱神疲，四肢酸倦，脈左小弦數，右寸關弦數而芤，舌胎光紅甚且起有火溝，治宜壯水之主，以制陽光法。</p>
<p>米炒西洋參　東白芍　懷牛膝　鮮佛手　黃衣　米炒大麥冬　左牡蠣　連翹殼　玫瑰花大生地　粉丹皮　銀花露　鮮穀芽　帶心竹葉</p>
<h2>離經之血未淨</h2>
<p>臧左（環域，三月）　努力傷絡，絡血上溢盈碗，離經之血未淨，咯痰見紅，兼有咳嗽，五內煩熱，良由操勞動肝，肝火激動胃絡所致，脈弦數，治宜清解。</p>
<p>照東街費姓血溢之方加蘇子川貝。</p>
<h2>瘀血滯於肺絡</h2>
<p>許（五月）努力傷絡，絡血不時上溢，血上而瘀滯肺絡，肺失清肅，咳逆痰稠，脘悶脅痛，脈象弦數，治宜疏解佐以理絡。</p>
<p>丹參　川鬱金　旋覆花　麋銜草　童便　參三七　新絳　炒白蒺　白茅根　澤蘭絲瓜絡　炒蘇子　藕節</p>
<h2>瘀血滯肺</h2>
<p>徐左（合溪）　努力傷絡，瘀血內蓄，咳吐紫瘀，體疲內熱，脈象郁數，治宜疏化。</p>
<p>丹參　川鬱金　澤蘭　懷牛膝　參三七末　元胡　粉丹皮　茜根炭　桃仁　歸尾新絳　絲通草蓄血瘀滯，咳吐不止，用治蓄血之法甚妥。</p>
<h2>痰中夾血</h2>
<p>莫左　火盛刑金，肺失清肅，咳嗽傷絡，痰中夾血，胸脅引痛，脘悶肢倦，脈形郁數，治宜清絡。</p>
<p>炒蘇子　旋覆花　玫瑰花　川鬱金　白杏仁　新絳　藉節　銀花露　真川貝　絲瓜絡　絲通草　青蘆根</p>
<h2>勞嗽見紅</h2>
<p>酈翁　摻用神機，肝膽氣火偏旺，上刑肺金，肺失肅化之權，咳嗽震動，肺絡交節見紅，木叩金鳴，陽絡傷則血外溢是也，脈小弦數，右寸關弦滑數兼見。治宜清金平木，兼以理絡。</p>
<p>南沙參　真川貝　丹皮　枇杷葉　麋銜草　炒蘇子　旋覆花　懷牛膝　玫瑰花　藕節白杏仁　生蛤殼　絲瓜絡　仙鶴草　青蘆根或用丹參、參三七、陳阿膠亦可。</p>
<p>如洋參、麥冬、燕窩、冬花、白芍、阿膠、女貞子、旱蓮草之類隨加，蓄血類傷寒，宜從《指掌》。</p>
<p>跌傷者亦從蓄血法。</p>
<p>活蝌蚪治吐血大靈，帶活吞半碗許即愈。</p>
<p>白麋銜治吐血大效，浸陳好酒佳。</p>
<p>活曲　治傷血大效，浸陳酒佳。</p>
<h2>風痰擾肺</h2>
<p>沈左（二月）　風痰擾肺，肺氣不宣，肺為聲音門戶，咳嗽聲嗄不揚，脈象弦數，治宜清肅上中。</p>
<p>元參　杏仁　通草　金蟬衣　炒兜鈴　旋覆花　象貝　活水蘆根　炒牛蒡　生蛤殼　鮮竹茹。</p>
<h2>寒鬱於肺</h2>
<p>某　暴嗽失音，且有氣逆，肺為寒鬱故也。</p>
<p>三拗東加桔梗白前。</p>
<h2>金實無聲</h2>
<p>宋（二月）　去夏暑風襲肺，失於清解，肺熱蒸痰，痰阻肺氣，咳嗽迄今，聲音重濁不揚，所謂金實則無聲也，脈弦滑而濡，治宜清肅上中。</p>
<p>方見咳嗽門中，埭頭王姓濕氣鬱肺之方，加兜鈴蟬衣蘆根。</p>
<h2>木火刑金聲嗄</h2>
<p>殷左（三十三歲，十一月）　久嗽曾失血，肺失清肅，聲嗄不揚，良由水不涵木，木火刑金使然也。脈象弦數，治宜清金平木。</p>
<p>方見咳嗽門史姓之方，去燕根、旋覆花，加冬花、鳳凰衣等分。</p>
<h2>金破無聲</h2>
<p>楊左（五月）　金水雙虧，喉痹聲嗄，所謂金破則無聲也，脈形弦數，治宜滋陰降火。</p>
<p>方見咳嗽門史姓方，去蘇子、梨膏，加射干、金果欖、豬肺露、青蘆根。</p>
<h2>肺癰已潰</h2>
<p>吳　肺癰已成，咳吐膿血，氣逆痰稠，右脅引痛，脈右弦滑兼數，治宜清肅上中。</p>
<p>生米仁　真川貝　連翹　青蘆梗　甜瓜仁如無以冬瓜子代　炙紫苑　經霜桑葉　陳年芥菜鹵　白杏仁　炙冬花　銀花露　冬瓜煎湯代水如初起去川貝紫苑款冬蘆梗芥菜鹵，加桃仁苦桔梗川鬱金全栝蔞蘆根。</p>
<p>肺痿宜從金水雙虧法。</p>
<h2>久嗽吐白血</h2>
<p>陳左（遞浦，五十二歲）　久嗽傷陰已成肺痿，咳嗽曾失血，但吐白沫，咽痛喉痹，妨納飲食，五內煩熱，便燥，溺水眩暈，體疲，形內羸瘦，積勞成之候。脈虛數近弦，姑擬滋清一則，兼其轉機，附方請正。</p>
<p>台參須（五分入煎）　陳清阿膠（一錢五分，藕粉炒成珠）　北杏仁（三錢，去皮尖）　雪梨膏（一兩，分沖）　冰糖水炒石膏（三錢）　連心麥冬（一錢五分）　炙冬花（一錢五分）　川貝（去心，二錢）　酒炒丹皮（一錢五分）　生蛤殼（五錢，青黛五分拌打）　霜桑葉（二錢五分）　冬蟲夏草（一錢五分，蜜炙）　枇杷葉（三張）　炒馬兜鈴（二錢）　玫瑰花（八分，後入）。</p>
<h2>哮喘</h2>
<p>老夫自服風哮有年，遇寒勞秋而發，咳逆痰稠，甚且不能平臥，脈弦滑浮，治宜降氣豁痰。</p>
<p>方見肝氣痰飲，同王姓之方。</p>
<p>肺風痰喘宜從《指掌》。肺傷痰喘之法加羚角犀黃竹瀝，或用小青龍湯，麻杏甘石湯，射干麻黃湯。</p>
<h2>喘逆</h2>
<p>嚴左（七十二歲，八月）　喘逆未平，咯痰欠順，丹溪謂：上升之氣，自肝而出。操勞動肝，肝氣橫逆擾動痰飲為患，年高病者是非宜也，脈濡滑近弦，舌苔黃膩。治擬平肝降逆理氣豁痰，附方是否，以候高明酌政。</p>
<p>薑製西洋參（一錢五分）　真川貝（二錢）　復（一錢五分）　真紫沉水香（三分）　蛤蚧尾（一對，酒洗去鱗，焙研極細分沖）　化陳皮（一錢五分，鹽水炒軟）　紫石英（三錢，生打）　絲瓜絡（三錢）　白杏仁（三錢）　戈製半夏（一錢五分）　炒白蒺（三錢）　竹瀝（一兩，淡薑汁一滴和勻分沖）。</p>
<h2>半頭痛目翳</h2>
<p>王（潞村，年五十六歲，十一月二十六日）　血虛生風，半　頭痛，痛甚損目，目起翳障，潮熱口苦，心悸眩暈，眠食欠安，脈小弦數，治宜育陰潛陽。</p>
<p>西洋參　甘菊蕊　丹皮　玫瑰花　製首烏　歸身　石決明　冬桑葉（炒）　蔓荊　東白芍　朱茯神外風宜從後川芎茶調散法。</p>
<p>諸風掉眩，痰多宜癇，厥方治之。</p>
<h2>風痰癇厥</h2>
<p>章　痰病已成癇厥，火風自肝而至。</p>
<p>元參　丹皮　宋半夏　化陳皮　鮮竹瀝　鮮細葉　石菖蒲汁（一匙同沖）　羚角片　純嫩鉤川鬱金　陳膽星　明天麻　朱茯神　石決明（青黛五分拌打）　木蝴蝶</p>
<h2>痰厥</h2>
<p>朱右（市陌路，年十六歲，六月）　暑濕風邪釀痰化熱，自肺胃擾動肝陽，痰隨氣升，徒然厥逆，不省人事，牙關緊急，手指搐搦，脈弦滑數，蒲清心滌痰平肝宣竅。</p>
<p>元參　連翹心　純鉤　陳膽星　鮮竹瀝　鮮細葉石菖蒲汁（同沖）　羚角片　川鬱金　石決明（青黛拌打）　牛黃清心丸　薄荷梗　丹皮　朱茯苓　青荷梗</p>
<h2>肝厥</h2>
<p>又（二裡諸姓，年三十一歲，右）　感受濕邪，動擾肝陽，陡然厥逆。</p>
<p>方照前去薄荷、鬱金、膽星、竹瀝，加沉香、二陳、薑竹茹。</p>
<h2>心悸怔忡</h2>
<p>某　心體不足，心用有餘，肝為心母，操用神機，肝木與心火相為煽動，肝陽浮越不潛，徹夜不寐，心悸忡怔，有不能支持之候，脈弦滑數，左寸關長直，治宜清心和胃，佐以平肝。</p>
<p>紫丹參（豬心血拌炒）　廣陳皮　朱茯神　川鬱金　卷心竹葉　元參　宋半夏　蒼龍齒石菖蒲　豬膽汁　炒棗仁　石決明　玳瑁邊（如無以）　元武板　鮮竹茹</p>
<h2>痰迷心竅</h2>
<p>費（菱湖，三月）　因驚外觸，激動肝陽，木火生痰，痰火二者阻蔽肝膽胞絡之間，清明之氣為邪濁所蒙，心緒紛紜，識神時清時糊，俗為嚇痴之候，治宜清心滌痰，安魂益志法。</p>
<p>紫丹參（豬心血拌炒）　丹皮　蒼龍齒　陳膽星　真西琥珀　元參　石決明（真川連三分拌打）</p>
<p>元武版　鮮竹瀝鮮菖蒲（一錢五分，同搗）　川鬱金　淨棗仁　朱茯神　遠志肉　卷心竹葉</p>
<h2>重陽則狂</h2>
<p>汪左（十一月）　天時溫燥，陽明受之，釀痰化火，上擾肺胃，加以肝陽浮越，不潛陽氣，皆並於上，夜無眠，歌哭聲怒，襲成癲狂之候，經謂：重陽則狂是也，治宜清心豁痰，平肝宣竅為法。</p>
<p>犀角盤　九孔石決明　真川連（三分，同拌生打）　陳膽星　鮮橄欖（明礬五分同拌）　丹皮鮮生地汁　抱木茯神（辰砂拌透）　竹瀝鮮菖蒲（一錢五分，搗汁和沖）　生鐵落（四兩，煎湯代水）</p>
<p>蒼龍齒　川鬱金。</p>
<p>王左（二月）　酒客多痰，無非濕熱，蒸窨而致痰病，延久每多襲成癇厥之虞，蓋痰以陽明為窟宅，加以肝膽陽升，痰鬱為病，其變百出，誠如王隱君所云，今診脈象稟質六陰，重按弦滑，舌邊微絳，中後黃膩，擬以黃連溫膽湯，大意未知妥否。</p>
<p>元參　化陳皮　全栝蔞　鮮石菖蒲　真川連　宋半夏　海石粉　川鬱金　炒枳實朱茯神　焦山梔　鮮竹茹又舌絳脈滑數，陡然神識不清，妄言妄動，心無主張，目赤顴紅，不飢不便，此痰火風也。昨擬黃連溫膽法未能獲效，此證治法總不離乎清火豁痰熄風安神之劑，仍仿昨法，略大其制，以折其標，未識當否，附方候政。</p>
<p>元參　化陳皮　海石粉　陳膽星　礞石　滾痰丸　真川連　仙半夏　石決明（青黛五分拌打）　川鬱金（明礬五分拌打）　枳實汁　全栝蔞　黑梔（辰砂一分拌打）　竹瀝　鮮石菖蒲（二錢，搗汁和沖）</p>
<h2>耳鈍不聰</h2>
<p>錢（局前巷，年十五歲，六月）　陽明濕火熏蒸，耳為宗脈之所，清竅不利，耳鈍不聰，休作無定，脈象弦數，治宜清降。</p>
<p>元參　土貝　石決明　綿茵陳　翹殼　黑梔　炒白蒺　赤苓　夏枯草　丹皮　玫瑰花　石菖蒲或用紫雪丹亦可。</p>
<p>腎虛用左磁丸方。</p>
<h2>天行赤眼</h2>
<p>徐（八月）　天行赤眼，赤澀羞明，脈弦數而滑，治宜傅氏羚羊角散法。</p>
<p>羚角片　夏枯草　地骨皮　白甘菊　薄荷尖　連翹　淨銀花　童木通　元參　桑白皮　穀精珠　清寧丸外用龍膽乙分和乳點之。</p>
<p>風熱鼻淵宜從陳無擇蒼耳散為主。</p>
<h2>偏正頭風</h2>
<p>此方不知從何處得來，治偏正頭痛新起，體氣壯實者，治之無不應手，故錄之。</p>
<p>川芎（八分）　本（一錢）　香附（五分）　紅棗（七枚）　香白芷　明天麻（各一錢五分）　貝母（一錢）　白鯗頭（半個，左痛用左，右痛用右，滿頭痛全用）　川羌（一錢五分）　西秦艽（一錢五分）</p>
<p>馬料豆（四十九粒）</p>
<p>或用川芎茶調散。</p>
<p>如血虛頭痛，宜從潞村王姓頭痛之方。</p>
<h2>爛喉丹痧</h2>
<p>右　爛喉丹痧，身熱脘悶，痰隨氣升，咽喉腫痛，糜腐肌腠，已現風疹，未得宣達，適值經轉之時，熱入血室，熱盛神蒙，煩渴引飲，脈弦滑數，右寸關浮洪，姑擬辛涼透解，以犀角地黃湯為法，冀其轉機，否恐痰升內閉之憂，附方請專家酌政。</p>
<p>元參　連翹　犀角盤　懷牛膝　象貝　射干　炒牛蒡　鮮生地　赤芍　珠黃散（分二次，白滾湯沖服五厘）　山豆根　川鬱金　丹皮　炒天蠶　碧玉散　鮮竹瀝鮮細葉石菖蒲（連根搗汁三匙和沖）　活水蘆根</p>
<h2>喉痹</h2>
<p>某　經云：一陰一陽結；謂之喉痹。古無喉科專門，故不分症，通稱之喉痹。夫一陰者厥陰也，一陽者少陽也。二經上循咽嗌，君相火熾，結為喉痹。良由榮陰內虧，水不涵木，木火上炎，先患目疾，繼發喉痹，同是一源之恙所謂陰虛喉為之患也。脈形弦數，舌苔邊紅中黃。治擬滋陰降火。《內經》又云：壯水之主，以制陽光法也。附方請明眼裁之。</p>
<p>元參　肥知母　丹皮　朱茯神　枇杷葉　射干　鮮石斛　懷牛膝　象貝　鮮竹茹山豆根　鮮生地　石決明　金果欖</p>
<h2>頭項結核</h2>
<p>潘右（螺螄莊）　痰凝氣滯，頸項結核，久延恐成乳　，脈弦滑數，擬逍遙合疏解法。</p>
<p>鱉血炒柴胡　白茯苓　製香附　忍冬藤　地栗　金當歸　丹皮　子青皮　土貝　東白芍　左牡蠣　真橘核陳海蜇　又六味丸（半斤）　消　丸（四兩，二味和勻，每日清晨午後空心淡鹽湯送下三錢）</p>
<h2>噎膈</h2>
<p>吳左（八月）　痰氣交阻，病成噎膈，脈右弦滑，治宜降氣豁痰，即老夫自吃風哮之方加川鬱金全栝蔞。</p>
<h2>翻胃</h2>
<p>張左（十一月）　嗜飲傷胃，鬱怒傷肝，木為土賊，生化之源大傷，以致胃不受納，經云：食入反出者屬上膈也，脈來弦細而數，病延半載，非易調治。</p>
<p>真川連　全栝蔞　新會皮　妙竹茹　牛囀草　淡乾薑　旋覆花　製半夏　青皮蔗汁炒枳實　代赭石　八月扎　赤苓或可加牛乳、韭汁、枇杷葉之類。</p>
<h2>肝氣胃寒</h2>
<p>葉　中虛留飲，肝胃不和，乍寒乍熱，嘔吐酸飲，頭脹眩暈，脈右弦滑而浮，治宜疏解。</p>
<p>老蘇梗　新會皮　製香附　白蔻仁　廣藿香（左金丸三分，拌炒）　赤苓　澤瀉　淡薑渣制川朴　宋半夏　六神麯</p>
<h2>胃火沖逆</h2>
<p>陽明熱病，舌胎黃，燥渴嘔惡，脈來洪滑，米飲入口即吐，惟涼水可納者，宜《千金》蘆根湯主之，薑汁炒竹茹亦主之。</p>
<h2>肝火乘胃</h2>
<p>傷寒甚熱之時，自覺氣從左升，嘔吐，勺水不納，脈滑數，舌燥刺，或嘔苦黃水，此肝火上乘於胃也，宜降之泄之。</p>
<p>川連　吳萸肉　薑汁炒竹茹　青陳皮　赤白苓　半夏　薑汁沙山梔　八月扎之類。</p>
<h2>上呃</h2>
<p>陳左（七月）　風痰阻郁肺氣，肺不主宣，呃逆頻頻，由來旬余，脈右弦滑按欠達，治宜疏風豁痰。</p>
<p>粉沙參　化陳皮　炒白蒺　赤苓　炒蘇子　宋半夏　玫瑰花　八月扎　白杏仁　旋覆花　川貝　紫石英潘，中虛呃逆。</p>
<p>東洋參　柿蒂　旋覆花　建蓮肉　公丁香　生薑　紫石英　大紅棗每日晨服胡桃同杏仁雪冰糖研沖服。</p>
<h2>下呃</h2>
<p>沈（新市六塔裡左，年五十歲）　真陰不足，肝腎陰火挾同衝脈上逆，呃逆頻頻，無休息時，覺氣自少腹而上，謂之下呃，久延恐成呃忒之變，脈小弦數，治擬都氣飲，佐以攝納法。</p>
<p>東洋參　懷山藥　朱茯神　紫石英　真紫沉水香　大熟地（縮砂末四分，拌）　丹皮　北五味刀豆子　核桃肉　陳萸肉　澤瀉　旋覆花　紫油安桂心</p>
<h2>瘕氣</h2>
<p>沈右（三月）　肝陰不足，氣鬱成瘕，攻逆脘悶，左脊痞痛，痛甚欲嘔，脈右弦滑，治宜疏化。</p>
<p>金鈴子　東白芍　左金丸　焦麥芽　延胡索　製香附　沉香曲　朱茯神　全當歸宣木瓜　小青皮　車前草陸左　寒濕成疝，治宜疏解。</p>
<p>金鈴子　製香附　全當歸　椒目　元胡小青皮　赤苓　真橘核　東白芍　荔枝核　澤瀉　車前草或加小茴香、木香、胡蘆巴；熱加飛滑石。</p>
<h2>瘧母</h2>
<p>周左（小溪口，二月）　三瘧纏久，榮陰自虛，脾失統運之權，寒濕瘧痰留滯成　，左脅痞脹有形，三瘧仍來，腹脹少納，四肢酸倦，暮夜盜汗，脈象弦數，治擬泄木和中。</p>
<p>鱉血炒柴胡　淡鱉甲　大腹絨　全當歸　東白芍（如桂枝、左金、沉香等俱可拌）　焙鼠婦小青皮　焦麥芽　製香附　半貝丸　奎紅（生薑搗汁炒　或加）　青蒿子　地骨皮或用鱉甲煎丸，阿魏消痞丸等類。</p>
<h2>胃寒痛</h2>
<p>牛（左，年廿六，上興橋）　寒濕氣滯，肝胃不和，胃脘當心而痛，痛甚欲嘔，脈右弦緩，治擬泄木和中。</p>
<p>生米仁　宣木爪　東白芍（桂枝三分，拌炒）　赤苓　縮砂仁或用陽春砂仁　廣藿香（左金丸三分，拌）　新會皮　延胡索　小青皮　製香附　法半夏　瓦楞子　焦麥芽如乾薑、吳萸、刺猥皮，九香蟲、肉桂、沉香之類，隨意用之，常服香砂養胃丸大佳。</p>
<p>南皋橋七家田沈商堯，年五十余，胃寒痛不止，脈弦遲舌白胖，清烏鎮沈馨齋治之，用歸建中湯一劑即止，方附後。</p>
<p>桂枝（一錢）　煨薑（三片）　全當歸（二錢）　東白芍（三錢）　紅棗（三枚）　大棉　（一錢五分）</p>
<p>炙甘草（七分）　飴糖（三錢）　胡蘆巴（一錢）</p>
<p>朱（北街，年三十，六月專請）　飢飽失常，勞倦內傷，厥陰肝氣橫逆，擾動胃中留伏痰飲，痰氣交阻，肝胃氣失通調，胃脘當心而痛，痛甚欲嘔，兩脅支滿，甚且厥逆，拘攣不仁，屢經更醫，擬進辛溫香燥之品，肝胃血液益受其耗，而脘痛脅脹不除，病經旬余，食不沾唇，形肉羸瘦，嘗讀《內經》有云：肝苦急，急食甘以緩之。治肝之體宜酸宜甘，治肝之用宜酸宜苦，酸甘能斂肝陰。肝與胃臟腑相對，一勝則一負，肝善升而胃少降，所以見證如是也。今診脈象虛數近弦，右關弦滑而浮，舌胎黃糙邊紅。擬宗經旨主治，附方請明眼酌奪。</p>
<p>台參須（玫瑰花三朵同燉沖）　東白芍　新會皮　吉梅炭　筧麥冬　左金丸　宋制夏　綠梅蕊　清炙甘草　宣木瓜　朱茯神　陳冬米</p>
<h2>腹痛</h2>
<p>錢左（三月）　寒濕氣滯，肝胃不和，繞臍腹痛，糾纏不已，脈右弦滑，治宜泄木和中。</p>
<p>金鈴子　荔枝核　新會皮　小茴香　淡乾薑　元胡索　宣木瓜　法夏　焦麥芽　製香附　左金丸　小青皮　廣木香</p>
<h2>石瘕</h2>
<p>陳右（三月）　血虛氣滯，已成石瘕，少腹痛脹，經停五月，脈弦澀數，治宜疏散。</p>
<p>紫丹參　粉赤芍　地鱉蟲　小青皮　製香附　延胡索　懷牛膝　焦麥芽　全當歸　五靈脂　紅通草輕者可用疝氣法。</p>
<p>重者可用內瘧法。</p>
<h2>內癰</h2>
<p>鄭（包家弄）　瘀滯小腸，少腹痛脹，有形有質，勢成內癰，乍熱乍寒，眠食欠安，脈象弦數，治宜疏散。</p>
<p>金鈴子　粉赤芍　桃仁　懷牛膝　紅通草　延胡索　製香附　制軍　小青皮　歸尾真橘核　紫油安桂（三分，去皮飯丸，分吞）　焦麥芽</p>
<h2>腰痛</h2>
<p>老宸兄　勞傷蓄血，阻住腰膂筋絡，症起腰　，抽掣作痛，交陰分時為甚，皮色不變，眠食欠安，脈弦澀數，治宜疏散。</p>
<p>金毛狗脊　赤白芍　雞血藤　西秦艽　全當歸　川斷肉　明乳香（七分）　麻皮　綿杜仲　粒紅花　炒甲片腎虛腰痛青蛾丸主之。</p>
<h2>癃閉</h2>
<p>沈（局票）　小便秘。</p>
<p>蟋蟀（三只，酒洗焙燥，如無以螻蛄代之，用腐衣包吞之）　元參　焦梔　蓄　粉青黛　翹殼　童木通　瞿麥　益元散（真西珀三分，同燈心研極細末拌）　真川連　海金沙　丹皮　車前子或用龍薈通關丸等類。</p>
<p>外治以麝香，用蛤殼合臍中。</p>
<h2>血淋</h2>
<p>欽（左，望丹橋，三月）　陰虛陰火下注，小便淋濁，溺管塞痛，脈小弦數，治宜清理。</p>
<p>馮左（六月）　胞移熱於膀胱則癃溺血，又云膀胱不利為癃，小便癃閉溺血，此由陰虛火熾，心火妄動使然，脈象弦數，治宜清降。</p>
<p>血余炭　童木通　西琥珀　仙鶴草　旱蓮草　甘草梢　赤苓　麋銜草　丹皮　海金沙　澤瀉　車前子如氣淋者宜萆　釐清飲。</p>
<h2>遺精</h2>
<p>陳左（六月）　腎開竅於於陰，精竅開則溺竅閉，溺竅開則精竅閉。時乃濕土司令，濕鬱熱蒸，水道不利，土愈不燥，是以體疲內熱，精滑自遺，小便赤澀，大便閉結，有時跗腫面浮，口苦胃鈍，脈左弦數右濡數，切勿以陰虛火熾治之。</p>
<p>元參　童木便　真川柏　川萆　翹殼　鮮生地　益元散（真西珀二分研極細末拌）　車前草焦山梔　肥知母　淡竹葉。</p>
<h2>夢遺</h2>
<p>左（二月）　操用神機，肝木與心火相為煽動，肝膽內寄相火，心火妄動，則相火隨之，精滑不固，五內煩熱，體疲　酸，皆屬陰分不足之恙，脈弦小數，治宜滋清一法，擬方請政。</p>
<p>台參須　細生地　丹皮　蓮子心　大麥冬　東白芍　朱茯苓　車前子　懷山藥　左牡蠣　澤瀉或用聚精丸、小滋腎丸等類。</p>
<p>聚精丸方　潼蒺藜　線魚膘膠（蛤粉炒珠）。</p>
<p>小滋腎丸方　真川柏（三錢）　豬脊髓（一條）　為丸分吞。</p>
<p>附喉科金銀散治爛喉痧緊喉風（凡因火喉痛、喉腫、喉間糜爛吹之足，佐湯劑初起尤靈）。</p>
<p>人指甲（五分　）　鵝管石（三分　）　真腰黃（二分）　硼砂（三分，漂）　大梅片（一分）</p>
<p>薑蠶（二分，炒斷絲，照方修合不可增減）</p>
<p>上六味除指甲梅片外，各研細末，置研器內再研，然後入指甲梅片，研至無聲為度，裝內緊塞其口，以防泄氣，用時以自來風打入。</p>
