<header><h1>傷寒論翼</h1></header>
<dl class="元資料" data-type="book">
<div><dt>作者</dt><dd>柯琴</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1644/1911">公元1644年至公元1911年</data></dd></div>
</dl>
<h2>自序</h2>
<p>世之補《傷寒》者百余家，究其所作，不出二義：一則因論本文為之注疏，猶公、穀說《春秋》也；一則引仲景之文而為立論，猶韓嬰說《詩》而為《外傳》也。然引征者，固不得斷章取義之理；而注疏者，反多以辭害義之文。初不知仲景先師著《傷寒雜病論》合十六卷，良法大備。此《靈》、《素》已具諸病之體，而明針法之巧妙；至仲景復備諸病之用，而詳方藥之準繩。其常中之變，變中之常，靡不曲盡。使全書具在，尋其所集，盡可以見病知源。自王叔和編次，傷寒、雜病分為兩書，於本論削去雜病。然論中雜病，留而未去者尚多，是叔和有《傷寒論》之專名，終不失傷寒雜病合論之根蒂也。名不副實，是非混淆，古人精義弗彰，是以讀之者鮮。而旁門歧路，莫知適從，豈非叔和編次之謬以禍之歟？世謂治傷寒，即能治雜病，豈知仲景《雜病論》，即在《傷寒論》中。且傷寒中又最多雜病夾雜其間，故傷寒與雜病合論，則傷寒、雜病之症治井然。今傷寒與雜病分門，而頭緒不清，必將以雜病混傷寒而妄治之矣。乃後人專為傷寒著書，自朱奉議出而傷寒之書日多，而傷寒之病日混。非其欲傷寒之混也，由不識何病是傷寒也。陶節庵出而傷寒之書更多，非真傷寒多也，即《金匱》中雜病，亦盡指為傷寒也。世錮於邪說，反以仲景書難讀，而不知仲景書皆叔和改頭換面，非本來面目也。冠脈法序例於前集，可汗不可汗等於後，引痙、濕、　於太陽之首，霍亂、勞復等於厥陰之外，雜鄙見於六經之中，是一部王叔和之書矣。林億諸公校正，不得仲景原集，惑於《傷寒論》之名，又妄編三百九十七法、一百一十三方之數，以附會叔和所定之傷寒。於是欲知仲景之道，更不可得。成無己信古篤好，矯然特出，惜其生林億之後，欲為仲景功臣，無由得其真傳。故注仲景之書，而仲景之旨多不合；作《明理論》，而傷寒之理反不明。因不得仲景傷寒、雜病合論之旨，故不能辨許叔微三方鼎立之謬。反集之於注，開疑端於後人，豈非為三百九十七法等說所誤乎？由是方中行有《條辨》之作，而仲景之規矩準繩，更加敗壞，名為翻叔和之編，實以滅仲景之活法也。盧子由</p>
<p>《疏抄》，不編林億之數目，不宗方氏之三綱，意甚有見，而又以六經謬配六義，增標本形層本氣化氣等說。仲景之法，又何堪如此撓亂哉？近日作者蜂起，尚論愈奇，去理愈遠，條分愈新，古法愈亂。仲景六經反茅塞而莫辨，不深可憫耶？原夫仲景之六經，為百病立法，不專為傷寒一科。傷寒、雜病。治無二理，咸歸六經之節制。</p>
<p>六經各有傷寒，非傷寒中獨有六經也。治傷寒者，但拘傷寒，不究其中有雜病之理。治雜病者，以《傷寒論》為無關於雜病，而置之不問。將參贊化育之書，悉歸狐疑之域。愚甚為斯道憂之，於仲景書究心有年，愧未深悉。</p>
<p>然稍見此中微理，敢略陳固陋，名曰《傷寒論翼》。不兼雜病者，恐人未知原文合論之旨，以雜病為不足觀耳。</p>
<p>其當與否，自有能辨之者。</p>
<p><u>甲寅春慈溪柯琴序。</u></p>
<h2>卷上</h2>
<h3>全論大法第一</h3>
<p>按仲景自序言作《傷寒雜病論》合十六卷，則傷寒雜病，未嘗分兩書也。凡條中不冠傷寒者，即與雜病同義。</p>
<p>如太陽之頭項強痛，陽明之胃實，少陽之口苦、咽乾、目眩，太陰之腹滿吐利，少陰之欲寐，厥陰之消渴、氣上撞心等症，是六經之為病，不是六經之傷寒，乃是六經分司諸病之提綱，非專為傷寒一症立法也。觀五經提綱，皆指內證，惟太陽提綱為寒邪傷表立；五經提綱皆指熱證，惟太陰提綱為寒邪傷裡立。然太陽中暑發熱而亦惡寒，太陰傷熱亦腹痛而吐利，俱不離太陽主外、太陰主內之定法。而六經分症，皆兼傷寒、雜病也明矣。因太陽主表，其提綱為外感立法，故叔和將仲景之合論全屬傷寒，不知仲景已自明其書不獨為傷寒設。所以太陽篇中，先將諸病線索，逐條提清，比他經更詳也。其曰太陽病，或已發熱，或未發熱，必惡寒體痛嘔逆，脈陰陽俱緊者，名曰傷寒，是傷寒另有提綱矣。此不特為太陽傷寒之提綱，即六經傷寒總綱，亦不外是。觀仲景獨於太陽篇，別其名曰傷寒、曰中風、曰中暑、曰溫病、曰濕痹，而他經不復分者，則一隅之舉，可以尋其一貫之理也。其他結胸、臟結、陽結、陰結、瘀熱發黃、熱入血室、譫語如狂等症，或因傷寒，或非傷寒，紛紜雜沓之中，正可思傷寒雜病合論之旨矣。蓋傷寒之外皆雜病，病名多端，不可以數計，故立六經而分司之；傷寒之中最多雜病，內外夾雜，虛實互呈，故將傷寒雜病而合參之。正以合中見涇渭之清濁，此扼要法也。叔和不知此旨，謂痙、濕、　三種，宜應別論，則中風、溫病何得與之合論耶？以三症為傷寒所致，與傷寒相似，故此見之，則中風非傷寒所致、溫病與傷寒不相似者，何不為之另立耶？霍亂是肝邪為患，陰陽易、瘥後勞復，皆傷筋動血所致，咸當屬於厥陰，何得另立篇目？叔和分太陽三症於前，分厥陰諸症於後，開後人分門類症之端。豈知仲景約法，能合百病，兼該於六經，而不能逃六經之外，只在六經上求根本，不在諸病名目上尋枝葉。乃叔和以私意紊亂仲景之原集，於勞復後重集可發汗不可發汗諸篇。如弱反在關，濡反在巔，微反在上，澀反在下，不知如何名反，豈濡弱微澀等脈有定位乎？此類姑不悉辨。其云大法春夏宜發汗，春宜吐，秋宜下。設未值其時，當汗不汗，當下不下，必待其時耶？而且利水、清火、溫補、和解等法，概不言及，所以今人稱仲景只有汗、吐、下三法，實由於此。夫四時者，眾人所同，受病者，因人而異，汗、吐、下者，因病而施也。立法所以治病，非以治時。自有此大法之謬，後人因有隨時用藥之迂。論麻黃、桂枝湯者，謂宜於冬月嚴寒，而三時禁用。論白虎湯者，謂宜於夏，而大禁於秋分後與立夏之前。夫寒熱溫涼之逆用，必先歲氣，毋伐天和，為平人飲食調理之常耳。仲景因症立方，豈隨時定劑哉？當知仲景治法，悉本《內經》。按岐伯曰：「調治之方，必別陰陽。陽病治陰，陰病治陽。定其中外，各守其鄉。外者外治，內者內治。從外之內者，治其外；從內之外者，調其內。從內之外而盛於外者，先調其內，後治其外；從外之內而盛於內者，先治其外，後調其內。中外不相及，則治主病。微者調之，其次平之，盛者奪之。寒熱溫涼，衰之以屬，隨其攸利。」此大法也。仲景祖述靡遺，憲章昭著。本論所稱發熱惡寒發於陽，無熱惡寒發於陰者，是陰陽之別也。陽病制白虎、承氣以存陰，陰病制附子、吳萸以扶陽。外者用麻、桂以治表，內者用硝、黃以治裡。其於表虛裡實，表熱裡寒，發表和表，攻裡救裡，病有淺深，治有次第，方有輕重，是以定其中外，各守其鄉也。太陽陽明並病，小發汗，太陽陽明合病，用麻黃湯，是從外之內者，治其外也。陽明病，發熱汗出，不惡寒，反惡熱，用梔子豉湯，是從內之外者，調其內也。發汗不解，蒸蒸發熱者，從內之外而盛於外，調胃承氣，先調其內也。表未解而心下痞者，從外之內而盛於內，當先解表，乃可攻痞，是先治其外，後調其內也。中外不相及，是病在半表半裡，大小柴胡湯，治主病也。此即所謂微者調之，其次平之，用白虎、梔豉、小承氣之類。盛者奪之，則用大承氣、陷胸、抵當之類矣。所云觀其脈症，知犯何逆，以法治之，則寒熱溫涼，衰之以屬，隨其攸利之謂也。若分四時以拘法，限三法以治病，遇病之變遷，則束手待斃矣。且汗、吐、下之法亦出於岐伯。而利水、清火、調補等法悉具焉。其曰有邪者，漬形以為汗，在皮者，汗而發之，實者，散而瀉之，此汗家三法。中滿者，瀉之於內，血實者，宜決之，是下之二法。高者因而越之謂吐，下者引而竭之謂利小便。剽悍者，按而收之，是清火法。氣虛宜掣引之，是調補法也。夫邪在皮毛，猶未傷形，故仲景制麻黃湯，急汗以發表，邪入肌肉，是已傷其形，故制桂枝湯、啜稀熱粥以解肌，是漬形以為汗。若邪正交爭，內外皆實，寒熱互呈，故制大青龍於麻桂中加石膏以瀉火，是散以瀉之也。吐劑有梔豉、瓜蒂，分胸中虛實之相殊；下劑有大小承氣、調胃、抵當，分氣血淺深之不同。</p>
<p>利水有豬苓、真武寒熱之懸絕，清火有石膏、芩、連輕重之差等。陽氣虛，加人參於附子、吳萸中以引陽；陰氣虛，加人參於白虎、瀉心中以引陰。諸法井然，質之岐伯，纖毫不爽。先聖後聖，其揆一也。愚更有議焉，仲景言「平脈辨症為《傷寒雜病論》」，是脈與症亦未嘗兩分也。夫因病而平脈，則平脈即在辨症中。病有陰陽，脈合陰陽。發熱惡寒發於陽，無熱惡寒發於陰，是病之陰陽也，當列全論之首。浮、大、動、滑、數名陽，沉、澀、弱、弦、微名陰，是脈之陰陽也，此條當為之繼。叔和既云搜采仲景舊論，錄其症候診脈，是知叔和另立脈法，從此搜采耳。試觀太陽篇云：「脈浮者，病在表。脈浮緊者，法當身疼痛。脈浮數者，法當汗出愈。」諸條脈法，不入辨脈平脈篇，是叔和搜采未盡，猶遺仲景舊格也。由此推之，知寸口脈浮為在表，及寸口脈浮而緊、脈浮而數諸條，皆從此等處采出。脈有陰結、陽結條，未始不在陽明中風、中寒之間；洒淅惡寒而發熱者，未始不在少陽寒熱往來之部。脈陰陽俱緊者，未必非少陰之文；陰陽相搏條，未必不在傷寒脈結代之際。設仲景另集脈法，或有上下之分，諒無辨平之別矣。名平名辨，皆叔和搜采之說，仲景所云各承家技者是也。世徒云《序例》為叔和之文，而不知仲景之書，皆系叔和改換，獨為傷寒立論。十六卷中，不知遺棄幾何，而六經之文夾雜者亦不少，豈猶然仲景舊集哉？如疑余見之謬，請看序例所引《內經》，莫不增句易字，彼尚敢改岐伯之經，況乎仲景之論耶？欲識真仲景者，逐條察其筆法，知《考工記》自不合於《周官》，褚先生大不侔於太史矣。世皆以</p>
<p>《金匱要略》為仲景雜病論，則有若之似聖人，惟曾子為不可強乎？</p>
<h3>六經正義第二</h3>
<p>按仲景自序云「雖未能盡愈諸病」，其留心諸病可知。故於諸病之表裡陰陽，分為六經，令各得所司。清理脈症之異同，寒熱之虛實，使治病者只在六經下手，行汗吐下和解溫補等法而無失也。夫一身之病，俱受六經范圍者，猶《周禮》分六官而百職舉，司天分六氣而萬物成耳。傷寒不過是六經中一症，叔和不知仲景之六經，是經界之經，而非經絡之經，妄引《內經‧熱病論》作序例，以冠仲景之書，而混其六經之症治。六經之理因不明，而仲景平脈辨症，能盡愈諸病之權衡廢矣。夫熱病之六經，專主經脈為病，但有表裡之實熱，並無表裡之虛寒。</p>
<p>雖因於傷寒，而已變成熱病，故竟稱熱病，而不稱傷寒。要知《內經》熱病，即溫病之互名，故無惡寒症，但有可汗可泄之法，並無可溫可補之例也。觀溫病名篇，亦稱評熱病論，其義可知矣。夫叔和不於病根上講求，但於病名上分解，故序例所引《內經》，既背仲景之旨，亦舛岐伯之意也。夫仲景之六經，是分六區地面，所該者廣，雖以脈為經絡，而不專在經絡上立說。凡風寒溫熱內傷外感，自表及裡，有寒有熱，或虛或實，無乎不包。故以傷寒雜病合為一書，而總名《傷寒雜病論》。所以六經提綱，各立一局，不為經絡所拘，弗為風寒劃定也。然仲景既云撰用《素問》，當於《素問》之六經廣求之。按《皮部論》云：「皮有分部，脈有經紀。其生病各異，別其部分，左右上下，陰陽所在，諸經始終。」此仲景創立六經部位之原。又曰：「陽主外，陰主內。」故仲景以三陽主外，三陰主內。又曰：「在陽者主內，在陰者主出，以滲於內。」故仲景又以陽明主內。少陰亦有反發熱者，故仲景又於表劑中用附子，是固其滲也。又曰：「少陰之陰，名曰樞儒。其入於經也，從陽部注於經，其出者，從陰部注於骨。」故仲景制麻黃附子湯，治發熱脈沉無裡症者，是從陽部注經之義也；制附子湯治身體骨節痛、手足寒、背惡寒、脈沉者，是從陰內注於骨之義也。又《陰陽離合論》「太陽為開。」故仲景以之主表，而以脈浮、惡寒、頭項強痛為提綱，立言與熱病頗同，而立意自別。陽明為闔，故以之主裡，而以胃實為提綱，雖有目痛、鼻干等症，而所主不在是。少陽為樞，少陰亦為樞，故皆主半表半裡症。少陽為陽樞，歸重在半表，故以口苦、目眩為提綱，而不及胸脅痛硬。少陰為陰樞，其欲寐不寐，欲吐不吐，亦半表半裡症，雖有舌乾、口燥等症，而不入提綱，歸重在半裡也。豈惟陽明主裡，三陰皆主裡，而陰陽異位，故所主各不同。陽明主裡症之陽，陽道實，故以胃實屬陽明。太陰主裡症之陰，陰道虛，故以自利屬太陰。太陰為開，又為陰中之至陰，故主裡寒自利。厥陰為闔，又為陰中之陽，故主裡熱而氣逆。少陰為陰中之樞，故所主或寒或熱之不同，或表或裡之無定，與少陽相似也。請以地理喻，六經猶列國也。腰以上為三陽地面，三陽主外而本乎裡。心者三陽夾界之地也。內由心胸，外自巔頂，前至額顱，後至肩背，下及於足，內合膀胱，是太陽地面。此經統領營衛，主一身之表症，猶近邊御敵之國也。內自心胸至胃及腸，外自頭顱，由面至腹，下及於足，是陽明地面。由心至咽，退場門頰，上耳目，斜至巔，外自脅內屬膽，是少陽地面。此太陽差近陽明，猶京畿矣。腰以下為三陰地面，三陰主裡，而不及外。腹者三陰夾界之地也。自腹由脾及二腸魄門，為太陰地面。自腹至兩腎及膀胱溺道，為少陰地面。自腹由肝上膈至心，從脅肋下及於小腹宗筋，為厥陰地面。此經通行三焦，主一身之裡症，猶近京夾輔之國也。太陰陽明，同居異治，猶周、召分政之義。四經部位，有內外出入，上下牽引之不同，猶先王分土域民，犬牙相制之理也。若經絡之經，是六經道路，非六經地面矣。六經之有正邪客邪、合病並病、屬脾屬胃者，猶寇賊充斥，或在本境，或及鄰國，或入京師也。太陽地面最大，內鄰少陰，外鄰陽明，故病有相關。如小便不利，本膀胱病，少陰病而亦小便不利者，是邪及太陽之界也。腰痛本腎病，太陽病而亦腰痛者，是邪及少陰之界也。六七日不大便，及頭痛身熱者，是陽明熱邪，侵入太陽之界也。頭項強痛兼鼻鳴乾嘔者，是太陽風邪，侵及陽明之界也。心胸是陽明地面，而為太陽之通衢。因太陽主營衛，心胸是營衛之本，營衛環周不休，猶邊邑之吏民士卒，會於京畿，往來不絕也。如喘而胸滿者，是太陽外邪入陽明地面而騷擾，故稱為太陽陽明合病。若頭不痛，項不強，胸中痞硬，氣衝咽喉，不得息者，此邪不自太陽來，乃陽明實邪結於胸中，猶盜賊聚於本境而為患也。心為六經之主，故六經皆有心煩證。如不頭項強痛，則煩不屬太陽；不往來寒熱，則煩不屬少陽；不見三陰症，則煩不屬三陰矣。故心憒憒，心怵惕，心中懊　，一切虛煩，皆屬陽明，以心居陽明之地面也。陽明猶京師，故心腹皆居其地。邪在心為虛煩，在腹為實熱，以心為陽而屬無形，腹為陰而屬有形也。夫人身之病，動關心腹。陽邪聚於心，陰邪聚於腹。肝為陰中之陽，故能使陰邪之氣撞於心。陽明主在裡之陽，故能使陽邪入聚於腹耳。更請以兵法喻，兵法之要，在明地形。必先明六經之路，才知賊寇所從來，知某方是某府來路，某方是某郡去路。來路是邊關，三陽是也；去路是內境，三陰是也。六經來路各不同，太陽是大路，少陽是僻路，陽明是直路，太陰近路也，少陰後路也，厥陰斜路也。客邪多從三陽來，正邪多由三陰起，猶外寇自邊關至，盜賊自內地生也。明六經地形，始得握百病之樞機；詳六經來路，乃得操治病之規則。如以證論，傷寒大寇也，病從外來；中風流寇也，病因旁及；雜病盜賊也，病由中起。既認為何等之賊，又知為何地所起，發於其境，便御之本境，移禍鄰郡，即兩路夾攻。如邪入太陽地面，即汗而散之，猶陳利兵於要害，乘其未定而擊之也。</p>
<p>邪之輕者在衛，重者在營，尤重者在胸膈，猶寇之淺者在關外，其深者在關上，尤深者在關內也。麻黃為關外之師，桂枝、葛根為關上之師，大小青龍為關內之師矣。凡外寇不靖，內地盜賊必起而應之，因立兩解法，故有大小青龍及桂枝、麻黃加減諸方。如前軍無紀，致內亂蜂起，當重內輕外，因有五苓、十棗、陷胸、瀉心、抵當等湯也。邪入少陽地位，宜雜用表裡寒熱攻補之品，為防御解利之法。如偏僻小路，利於短兵，不利於矛戟，利於守備，不利於戰爭也。邪之輕者入腠理，重者入募原，尤重者入脾胃。小柴胡腠理之劑也，大柴胡募原之劑也。</p>
<p>小建中、半夏瀉心、黃芩、黃連四湯，少陽之脾劑也；柴胡加芒硝加龍蠣二方，少陽之胃劑也。如太陽少陽有合並病，是一軍犯太陽，一軍犯少陽矣。用柴胡桂枝湯，是兩路分擊之師也。甚至三陽合並病，是三面受敵矣，法在獨取陽明。陽明之地整肅，則太、少兩路之陽邪，不攻自解。但得內寇寧而外患自息，此白虎之所由奏捷耳。</p>
<p>若陽邪不戢於內地，用大承氣以急下之，是攻賊以護主。若陰邪直入於中宮，用四逆湯以急救其裡，是強主以逐寇也。陽明為內地，陽明界上，即太陽少陽地面。邪入陽明之界，近太陽地面，雖不犯太陽，太陽之師，不得坐視而不救。故陽明之營衛病；即假麻黃桂枝等方以汗之。邪近少陽地面，雖不入少陽，少陽之師，不得高壘而無戰。故陽明之腠理病，即假柴胡以解之。是陽明之失守，非太陽之不固，即少陽之無備，所以每每兩陽相合而為病也。若邪已在陽明地面，必出師奮擊，以大逐其邪，不使少留，故用梔豉瓜蒂之吐法以迅掃之。</p>
<p>若深入內地，不可復驅，則當清野千裡，使無所剽掠，是又白虎得力處也。若邪在內廷，又當清宮除盜，此三承氣所由取勝。如茵陳、豬苓輩，又為失紀之師立法矣。太陰亦內地，少陰厥陰是太陰之夾界也。太陰居中州，雖外通三陽，而陰陽既已殊途，心腹更有膈膜之藩蔽。故寒水之邪，從太陽外屬者輕，由少陰內授者重；風木之邪，自少陽來侵者微，因厥陰上襲者甚。如本經正邪轉屬陽明而為實，猶師老勢窮，可下之而愈。如陽明實邪轉屬本經而成虛，則邪盛正衰，溫補挽回者甚難。蓋太陰陽明，地面雖分，並無阻隔。陽明猶受敵之通衢，甲兵所聚，四戰之地也。太陰猶倉廩重地，三軍所依，亦盜賊之巢穴也。故元氣有餘，則邪入陽明；元氣不支，則邪入太陰。</p>
<p>在陽明地面，則陳師鞠旅，可背城一戰，取勝須臾。在太陰地面，則焚劫積蓄，倉廩空虛，枵腹之士，無能御敵耳。厥陰之地，相火游行之區也，其本氣則為少火。若風寒燥濕之邪，一入其境，悉化為熱，即是壯火。其少火為一身之生機，而壯火為心腹之大患。且其地面通達三焦，邪犯上焦，則氣上撞心，心中疼熱，消渴口爛，咽痛喉痹。逼入中焦，即手足厥冷，脈微欲絕，飢不欲食，食即吐蛔。移禍下焦，則熱利下重，或便膿血，為害非淺，猶跋扈之師矣。仲景制烏梅丸方，寒熱並用，攻補兼施，通理氣血，調和三焦，為平治厥陰之主方，猶總督內地之大帥也。其與之水以治消渴，茯苓甘草湯以治水，炙甘草湯以復脈，當歸四逆以治厥，是間出銳師，分頭以救上焦之心主，而安神明也。用白虎、承氣輩，清胃而平中焦之熱實，白頭翁、四逆散，清脾而止下焦之熱利，是分頭以救腹中之陰，而扶胃脘之元氣耳。胃為一腑，而分陰陽二經，少陰一經，而兼陰陽兩臟者，皆為根本之地故也。邪有陰陽兩途，臟分陰陽二氣。如陽邪犯少陰之陽，反發熱心煩，咳渴咽痛；陽邪犯少陰之陰，則腹痛自利，或便膿血；陰邪犯少陰之陽，則身體骨節痛，手足逆冷，背惡寒，而身蜷臥；陰邪犯少陰之陰，則惡寒嘔吐，下利清穀，煩躁欲死。仲景制麻黃附子細辛、黃連阿膠、甘草、桔梗、豬膚、半夏、苦酒等湯，御陽邪犯少陰之陽也；其制桃花、豬苓等湯，御陽邪入少陰之陰也；附子、吳茱萸、四逆等湯，御陰邪犯少陰之陽也；通脈四逆、茯苓四逆、乾薑附子等湯，御陰邪入少陰之陰也。少陰為六經之根本，而外通太陽，內接陽明。</p>
<p>故初得之而反發熱，與八九日而一身手足盡熱者，是少陰陽邪侵及太陽地面也；自利純清水，心下痛，口燥舌乾者，少陰陽邪侵陽明地面也。出太陽則用麻黃為銳師，而督以附子，入陽明則全仗大承氣，而不設監制，猶兵家用向導與用本部不同法也。其陰邪侵入太陰，則用理中、白通加人尿豬膽等法，亦猶是矣。嗟乎！不思仲景之所集，安能見病知源也哉？</p>
<h3>合並啟微第三</h3>
<p>病有定體，故立六經而分司之，病有變遷，更求合病並病而互參之，此仲景二法之盡善也。夫陰陽互根，氣雖分而神自合。三陽之裡，便是三陰，三陰之表，即是三陽。如太陽病而脈反沉，便合少陰；少陰病而反發熱，便合太陽。陽明脈遲，即合太陰；太陰脈緩，即合陽明。少陽細小，是合厥陰；厥陰微浮，是合少陽。雖無合並之名，而有合並之實。或陽得陰而解，陰得陽而解，或陽入陰而危，陰亡陽而逆，種種脈證，不可枚舉。學人當於陰陽兩症中，察病勢之合不合，更於三陽三陰中，審其症之並不並，予以陰病治陽，陽病治陰，扶陽抑陰，瀉陽補陰等法，用之恰當矣。三陽皆有發熱症，三陰皆有下利症，如發熱而下利者，陰陽合病也。陰陽合病，陽盛者屬陽經，則下利為實熱，如太陽陽明合病、陽明少陽合病、太陽少陽合病，必自下利，用葛根、黃芩等湯者是也。陰盛者屬陰經，則下利屬虛寒，如少陰病吐利及發熱者不死，少陰病下利清穀，裡寒外熱，不惡寒而面色赤，用通脈四逆者是也。若陽與陽合，不合於陰，即是三陽合病，則不下利而自汗出，為白虎症也。陰與陰合，不合於陽，即是三陰合病，不發熱而吐利厥逆，為四逆症也。並病與合病稍異者，合則一時並見，並則以次相乘。如太陽之頭項強痛未罷，遞見脈弦、眩冒、心下痞硬，是與少陽並病，更見譫語，即三陽並病矣。太陽與陽明並病，太陽症未罷者，從太陽而小發汗，太陽症已罷者，從陽明而下之，其機在惡寒發熱而分也。然陽明之病，在胃家實，太陽陽明合病，喘而胸滿者，不可下，恐胃家未實耳。若陽明與太、少合病，必自下利，何以得稱陽明？要知協熱下利，即胃實之始，《內經》所云「暴注下迫，皆屬於熱」，其脈必浮大弦大，故得屬之陽明，而不系太陰也。若下利清穀，裡寒外熱，脈浮而遲者，則浮不得屬之於表，而遲則為在臟。</p>
<p>若見脈微欲絕，即身不惡寒，而面色赤者，又當屬之少陰。蓋太陰陽明下利之辨，在清穀不清穀，而太陰少陰之清穀，又在脈之遲與微為辨也。夫陽明主胃實，而有協熱利；太陰主下利清穀，又因脈微細而屬少陰。脈微下利，反見陽明之不惡寒而面色赤，若不於合並病參之，安知病情之變遷如此，而為之施治哉？然此為六經之合並與內傷外感之合並，神而明之，不可勝極。以陰陽互根之體，見陰陽離合之用，是知六經之準繩，更屬定不定法矣。</p>
<p>何漫云三陰無合並病也哉？</p>
<h3>風寒辨惑第四</h3>
<p>風寒二氣，有陰陽之分，又相因為患。蓋風中無寒，即是和風，一夾寒邪，中人而病，故得與傷寒相類，亦得以傷寒名之。所以四時皆有風寒，而冬月為重也。傷寒中風，各有重輕，不在命名，而在見症。太陽篇言中風脈症者二：一曰太陽中風，陽浮而陰弱，陽浮者熱自發，陰弱者汗自出，嗇嗇惡寒、淅淅惡風、翕翕發熱、鼻鳴乾嘔者，桂枝湯主之；一曰太陽中風，脈浮緊，發熱惡寒，身疼痛，不汗出而煩躁者，大青龍湯主之。以二症相較，陽浮見寒之輕，浮緊見寒之重；汗出見寒之輕，不汗出見寒之重；嗇嗇淅淅見風寒之輕，翕翕見發熱之輕，發熱惡寒見寒熱之俱重；鼻鳴見風之輕，身疼見風之重；自汗乾嘔，見煩之輕，不汗煩躁，見煩之重也。言傷寒脈症者二：一曰太陽病，或未發熱，或已發熱，必惡寒體痛嘔惡，脈陰陽俱緊者，名曰傷寒；一曰傷寒脈浮，自汗出，小便數，心煩微惡寒，腳攣急。以二症相較，微惡寒，見必惡寒之重，體痛，覺腳攣急之輕；自汗出、小便數、心煩，見傷寒之輕，或未發熱，見發熱之輕，必先嘔逆，見傷寒之重；脈浮見寒之輕，陰陽俱緊見寒之重。中風傷寒，各有輕重如此。今人必以傷寒為重，中風為輕，但知分風寒之中、傷，而不辨風寒之輕重，於是有傷寒見風、中風見寒之遁辭矣。夫風為陽邪，寒為陰邪，雖以皆於時氣之感，而各不失其陰陽之性。故傷寒輕者，全似中風，獨腳攣急不似，蓋腰以上為陽，而風傷於上也；中風重者，全似傷寒，而煩躁不似，蓋寒邪嘔而不煩，逆而不躁也。　然陰陽互根，煩為陽邪，煩極致躁；躁為陰邪，躁極致煩。故中風輕者煩輕，中風重者煩躁，傷寒重者躁煩，傷寒輕者微煩。微煩則惡寒亦微，是微陽足以勝微寒，故脈浮不緊矣。如本論所云：凡欲自解者，必當先煩，乃有汗而解。以脈浮不緊，故知汗出解也。若不待自解而妄攻其表，所以亡陽，因陽微故耳。凡傷寒見煩，則寒氣欲解。躁煩則陽為寒鬱，而邪轉盛。故傷寒一日，若躁煩者，為欲傳；六七日，躁煩者，為陽去入陰也。因病患所稟之陽氣有不同，而受邪之部位、陰陽更不類，故陽有多少，熱有微甚。如太陽為先天之巨陽，其熱發於營衛，故一身手足壯熱。陽明乃太少兩陽相合之陽，其熱發於肌肉，故蒸蒸發熱。少陽為半表半裡之陽，其熱發於腠理，時開時闔，故往來寒熱。此三陽發熱之差別也。</p>
<p>太陰為至陰，無熱可發，因為胃行津液，以灌四旁，故得主四肢，而熱發於手足。所以太陰傷寒，手足自溫，太陰中風，四肢煩疼耳。少陰為封蟄之本，若少陰不藏，則坎陽無蔽。故有始受風寒而脈沉發熱者，或始無表熱，八九日來，熱入膀胱，致一身手足盡熱者。厥陰當兩陰交盡，一陽之初生，其傷寒也，有從陰而先厥後熱者，有從陽而先熱後厥者，或陽進而熱多厥少，或陽退而熱少厥多，或陰陽和而厥與熱相應者。是三陰發熱之差別也。太陽為父，多陽盛之病。如初服桂枝而反煩，解半日許而復煩，下之而脈仍浮、氣上衝，與不汗出而躁煩，服藥微除而煩瞑發衄者，皆陽氣重故也。少陰為雌，多亡陽之病。如下利清穀，手足厥逆，脈微欲絕，惡寒蜷臥，吐利汗出，裡寒外熱，不煩而躁，皆亡陽故也。又《內經‧病形篇》云：「邪中於項，則下太陽，中於面，則下陽明，中於頰，則下少陽，其中膺背兩脅，亦中其經。」故本論太陽受邪，有中項中背之別，中項則頭項強痛，中背則背強KT　KT　也。陽明有中面中膺之別，中面則目疼鼻干，中膺則胸中痞硬也。少陽有中頰中脅之別，中頰則口苦咽乾，中脅則脅下痞硬也。此岐伯中陽溜經之義。又云：「邪中於陰，從臂　始，自經及臟，臟氣實而不能容，則邪還於府。」故本論三陰皆有自利症，是寒邪還府也；三陰皆有可下症，是熱邪還府也。此岐伯中陰溜府之義。</p>
<p>六經之部位有高下，故受邪之日有遠近。太陽為三陽，居表位最高，最易傷寒，故一日受；陽明為二陽而居前，故二日受；少陽為一陽而居側，故三日受；太陰為三陰，居陰位最高，故四日受；少陰為二陰，居陰位之中，故五日受；厥陰為一陰，居三陰之盡，故六日受。此皆言見症之期，非六經以次相傳之日也。《內經》曰：「氣有高下，病有遠近，適其至所。」即此意也。按本論傳字之義，各各不同，必牽強為傳經則謬。傷寒一日，太陽受之，脈若靜者為不傳，是指熱傳本經，不是傳陽明之經絡。陽明無所復傳，始雖惡寒，二日自止，是指寒傳本經，不是傳少陽之經絡。傷寒二三日，陽明少陽症不見者，為不傳，皆指熱傳本經，不是二日傳陽明，三日傳少陽之謂。太陽病至七日以上自愈者，以行其經盡故也。言七日當來復之辰，太陽一經之病當盡，非日傳一經，七日復傳太陽之謂。若復傳，不當曰盡，若日一經，不當曰行其經矣。若欲再作經，是太陽不罷而並病陽明。傳經不傳，是使陽明之經不傳太陽之熱，非再傳少陽之謂也。太陽與陽明少陽地位相近，故太陽陽盛而不罷，便轉屬陽明，陽已衰而不罷，便轉系少陽。若陽陷便轉系太陰，陽虛則轉入少陰，陽逆則轉屬厥陰矣。陽明萬物所歸，故六經皆得轉屬。而陽明無所復傳，是知太陽陽明無轉屬少陽之症。陽明太陰俱屬於胃，胃實則太陰轉屬陽明，胃虛則陽明轉屬太陰矣。少陰與二陰地位相近，受太陰之寒，則吐利清穀，受厥陰之熱，則咽痛便血也。厥陰為陰之盡，亦如陽明之無所復傳，然陰出之陽，則熱多厥少，陰極亡陽，則熱少厥多，此即少陽往來寒熱之變局也。</p>
<p>按本論云：「太陽病，發熱汗出，惡風脈緩者，為中風。」又云：「太陽中風，脈浮緊，不汗出而煩躁。」又云：「陽明中風，脈弦浮大，不得汗。」合觀之，不得以無汗為非中風矣。本論云：「太陽病，或未發熱，或已發熱，必惡寒體痛嘔逆，脈陰陽俱緊者，名傷寒。」而未嘗言無汗。又云：「太陽病頭痛發熱，身疼腰痛，骨節疼痛，惡風無汗而喘者，麻黃湯主之。」此不冠以傷寒，又不言惡寒。又云：「傷寒脈浮，自汗出，微惡寒。」合觀之，又不得以有汗為非傷寒矣。人但據桂枝條之中風自汗，而不究傷寒亦有自汗出者。強以麻黃症之無汗為傷寒，而不究中風最多無汗者。謂傷寒脈浮緊，中風脈浮緩，而不知傷寒亦有浮緩，中風亦有浮緊者。知三陽脈浮，三陰脈沉，而不知三陰皆有浮脈，三陽亦有沉脈者。總是據一條之說，不理會全書耳。當知麻黃湯大青龍湯治中風之重劑，桂枝湯葛根湯治中風之輕劑，傷寒可通用之，非主治傷寒之劑也。世皆推桂枝為中風主劑，而不敢以大青龍為中風之劑者，是惑於中風見寒脈，傷寒見風脈之謬也。不敢以麻黃為中風之劑者，是泥於有汗為中風，無汗為傷寒之謬也。風為陽邪，因四時之氣而變遷，且一日亦具有四時之氣，氣運更有郁復淫勝之不同，故有麻黃、桂枝、葛根、青龍等法。當知四時俱有中風，俱有傷寒，不得拘春傷於風，冬傷於寒之一說矣。太陽經多中風方，如麻黃、桂枝，葛根、大青龍是也。少陰經多傷寒方，如麻黃附子細辛、真武、附子、茱萸、白通、四逆、通脈等湯是也。中風諸方，可移治傷寒，傷寒諸方，不可移治中風者，寒可溫而風不可以熱治也。風為陽邪，故中風者雖在少陰，每多陽症；寒為陰邪，故傷寒者雖在太陽，每多陰症。太陽經多中風症，陽從陽也；少陰經多傷寒症，陰從陰也。夫風者，善行而數變，故脈症皆不可拘。自變者觀之，其症或自汗鼻鳴，或無汗而喘，或不汗出而煩躁，或下利嘔逆，或渴欲飲水，或往來寒熱，或口苦咽乾，或短氣腹滿、鼻干嗜臥，或目赤耳聾、胸滿而煩，或四肢煩疼，種種不同；其脈或浮緩，或浮緊，或弦而浮大，或陽微陰澀，或陽微陰浮，亦種種不同。自不變者觀之，惟浮是中風之主脈，惡風是中風之定症。蓋風脈變態不常，而浮為真體；風症變幻多端，而惡風其真情也。仲景廣設諸方，以曲盡其變耳。夫寒之傷人也有三：早晚霧露，四時風雨，冬春霜雪，此天之寒氣也；幽居曠室，磚地石階，大江深澤，邃穀高山，地之寒氣也；好飲寒泉，喜食生冷，酷嗜瓜果，誤服冷藥，人之寒氣也。此義最淺，傷寒諸書莫之或及，而以冬寒春溫時疫之三症掩之，何不求致病之因，而歸時令之變耶？夫寒固為冬氣，三時豈必無寒？第寒有輕重，傷亦有輕重，不拘定於冬。溫固為春氣，而三時亦病溫，且溫隨時而發者多，因冬月傷寒而致者少，不可謂必然之道也。即冬時病溫，亦因其人陰虛而發，豈冬時之暖氣，即有毒以傷人乎？若時行疫氣，正天地溫熱之毒，如涼風一起，疫邪自散，豈遇寒而反重耶？疫與寒，如風牛馬之不相及，何得以寒冠時行之疫？若為暴寒所折而病，即是三時之傷寒，勿得妄以疫名之矣。謂三四月陽氣尚弱，為寒折而病熱輕，五六月陽氣已盛，為寒折而病熱重，七八月陽氣已衰，為寒折而病熱微，此叔和無稽之說也。</p>
<p>夫病寒病熱，當審其人陰陽之盛衰，不得拘天氣之寒熱。天氣之寒熱傷人，必因其人陰陽之多少，元氣之虛實為輕重，不全憑時令之陰陽為轉移也。所以仲景制方，全以平脈辨症為急務，不拘於受病之因，不拘於發病之時為施治。如夏月盛暑而傷寒吐利，多有用薑、附、吳萸而始效，隆冬嚴寒而病溫，多有用石膏、硝、黃而熱乃解者。</p>
<p>今謂麻桂二湯只宜於冬月之正傷寒，而三時不可輕用，其失豈不多乎？夫開口言傷寒，動手反用寒涼克伐之劑，曷不於傷寒二字顧名思義耶？寒傷於表，法當溫散；寒傷於裡，法當溫補。仲景治傷寒，只有溫散、溫補二法。其清火、涼解、吐下等法，正為溫暑時疫而設，所以治熱，非以治寒，治熱淫於內，非治寒傷於表也。今傷寒家皆曰仲景治溫治暑，必另有法治，今遺失而無。惟傷寒只有汗吐下三法，將溫補正法，置之不用，反曰治傷寒無補法。於是人傷於天地之寒者輕，傷於醫師之法者重；死於飲食之內傷者少，死於寒藥之內傷者多耳。</p>
<h3>溫暑指歸第五</h3>
<p>《內經》論傷寒而反發熱者有三義：有當時急發者，曰人傷於寒，則為病熱也；有過時發熱者，曰冬傷於寒，春必病溫也；有隨時易名者，曰凡病傷寒而成溫者，先夏至日為病溫，後夏至日為病暑也。夫病溫、病暑，當時即病者不必論，凡病傷寒而成者，其病雖由於冬時之傷寒，而根實種於其人之鬱火。《內經》曰：「藏於精者，春不病溫。」此明冬傷於寒，春必病溫之源。先夏至日為病溫，後夏至日為病暑，申明冬不藏精，夏亦病溫之故。</p>
<p>夫人傷於寒，則為病熱，其恆耳。此至春夏而病者，以其人腎陽有餘，好行淫欲，不避寒冷，雖外傷於寒，而陽氣足以御之。但知身著寒，而不為寒所病。然表寒雖不得內侵，而虛陽亦不得外散，乃下陷入陰中。故身不知熱，而亦不發熱，所云陽病者，上行極而下也。冬時行收藏之令，陽不遽發，寒愈久則陽愈匿，陽日盛則陰愈虛。若寒日少而蓄熱淺，則陽火應春氣而病溫；寒日多而鬱熱深，則陰火應夏氣而病暑。此陰消陽長，從內而達於外也。</p>
<p>叔和不知此義，謂寒毒藏於肌膚，至春變為溫病，至夏變為暑病。夫寒傷於表，得熱則散，何以能藏？設無熱以御之，必深入臟腑，何以只藏於肌膚？且能藏者不能變，何以時換而變其所藏乎？不知原其人之自傷，而但咎其時之外傷；只知傷寒之因，不究熱傷其本；妄擬寒毒之能變熱，不知內陷之陽邪，發見其本來之面目也。又謂辛苦之人，春夏多溫熱病者，皆因冬時觸寒所致，而非時行之氣。不知辛苦之人，動搖筋骨，凡動則為陽，往往觸寒即散，或因飢寒而病者有之，或因勞倦而發熱者有之。故春夏之時，辛苦之人，因虛而感時行之氣者不少矣。</p>
<p>若夫春夏之溫熱，由冬時觸寒所致者，偏在飽暖淫欲之人，不知持滿，醉以入房，以欲絕其精，以耗散其真，陽強不能密，精失守而陰虛，故遺禍至於春夏也。《內經》論溫之脈症治法甚詳，學人多不得其要領，仲景獨挈發熱而渴、不惡寒為提綱，洞悉溫病之底蘊，合《內經》冬不藏精之旨矣。熱病以口燥舌乾而渴屬少陰，少陰者，封蟄之本，精之處也。少陰之表，名曰太陽，太陽根起於至陰，名曰陰中之陽，故太陽病當惡寒。此發熱而不惡寒，是陽中無陰矣。而即見少陰之渴，太陽之根本悉露矣。於此見逆冬氣，則少陰不藏，腎氣獨沉，孤陽無附，而發為溫病也。溫病症治，散見六經，請類推之。如傷寒發熱不渴，服湯已渴者，是傷寒溫病之關也。寒去而熱罷，即傷寒欲解症，寒去而熱不解，是溫病發見矣。如服桂枝湯大汗出後，大煩渴不解，脈洪大者，即是溫勢猖獗。用白虎加人參，預保元氣於清火之時，是凡病傷寒而成溫者之正治法也。因所傷之寒邪，隨大汗而解，所成之溫邪，隨大汗而發，焉得無虛？設不加參，則熱邪因白虎而解，安保寒邪不因白虎而來乎？是傷者當補，治病必求其本耳。如服柴胡湯已渴者，屬陽明也，以法治之。夫柴胡湯有參、甘、芩、棗，皆生津之品，服已反渴，是微寒之劑，不足以解溫邪，少陽相火，直起陽明也。是當用白虎加人參法。若柴胡加人參法，非其治矣。夫相火寄甲乙之間，故肝膽為發溫之源；腸胃為市，故陽明為成溫之藪。</p>
<p>陽明始雖惡寒，二日即止，即不惡寒而反惡熱，此亦病傷寒而成溫之一征也。若夫溫熱不因傷寒而致者，只須扶陰抑陽，不必補中益氣矣。且溫邪有淺深，治法有輕重。如陽明病，脈浮發熱，渴欲飲水，小便不利者，豬苓湯主之。瘀熱在裡不得越，身體發黃，渴欲飲水，小便不利者，茵陳湯主之。少陰病，得之二三日，口燥咽乾者，大承氣湯急下之。厥陰病，下利欲飲水者，白頭翁湯主之。此仲景治溫之大略也。夫溫與暑，偶感天氣而病者輕，因不藏精者此為自傷，其病重。若再感風土之異氣，此三氣相合而成溫疫也。溫熱利害，只在一人；溫疫移害，禍延鄰裡。今人不分溫熱、溫疫，渾名溫病，令人惡聞而諱言之，因於辭之害義矣。吳又可《溫疫論》，程郊倩</p>
<p>《熱病注》，俱有至理可傳，愚不復贅。</p>
<h3>痙濕異同第六</h3>
<p>六氣為病，皆能發熱。然寒與熱相因，暑與濕相從，獨燥與濕相反。風寒溫暑皆因天氣，而濕病多得之地氣，燥病多得之內因，此病因之殊同也。《內經》病機十九條，其分屬六氣者，火居其八，風寒濕各居其一，燥症獨無。若諸痙項強，皆屬於濕，愚嘗疑其屬燥。今本論有痙、濕之分，又曰：「太陽病發汗太多，因致痙，」則痙之屬燥無疑也。夫痙以狀命名，因血虛而筋急耳。六氣為患，皆足以致痙，然不熱則不燥，不燥則不成痙矣。六經皆有痙病，須審部位以別之。身以後者屬太陽，則凡頭項強急，項背KT　KT　，脊強反張，腰似折，髀不可以曲，　如結，皆其症也。身之前者屬陽明，頭面動搖，口噤齒　，缺盆紐痛，腳攣急，皆其症也。身之側者屬少陽，口眼　斜，手足牽引，兩脅拘急，半身不遂，皆其症也。若腹內拘急，因吐利而四肢拘急，是太陰痙。惡寒蜷臥，尻以代踵，脊以代頭，俯而不能仰者，是少陰痙。睪丸上升，宗筋下注，少腹裡急，陰中拘攣，膝脛拘急者，厥陰痙也。若痙之挾風寒者，其症發熱無汗而惡寒，氣上衝胸而小便少，其脈必堅緊，其狀必強直而口噤，此得之天氣，《內經》所云「諸暴強直，皆屬於風」者是也。其勢勇猛，故曰剛痙。病因外來，當逐邪而解外。痙有挾本邪而為患者，其邪從內出，故發熱汗出而不惡寒，其脈沉遲，其狀則項背強KT　KT　，此得之地氣，《內經》云「諸痙項強，皆屬於濕」者是也。其勢弱　，故名柔痙。病因於內，當滋陰以和內。要知屬風之痙，不因風而因熱；屬濕之痙，不因濕而因燥。治風君葛根，治濕君栝蔞根者，非以治風，實以生津，非以治濕，實以潤燥耳。夫痙之始也，本非正病，必夾雜於他病之中。人之病此者，世醫悉指為風，所以不明其理。善醫者，必於他症中審察而預防之。如頭項強痛，即痙之一端，是太陽之血虛，故筋急也。今人但知風寒，不惜津液，所以發汗太多，因致痙者多矣。夫痙之征，本有由來，一經妄治，即奇形畢現。項背強KTKT，是痙之征兆，故用葛根；身體強，是痙狀已著，故用栝蔞根；臥不著席，腳攣急，口噤齒　，是痙之極甚，故用大黃、芒硝。無非取多津多液之品，以滋養陰血，不得與當汗不汗者同例也。觀傷寒脈浮，自汗心煩惡寒，而見腳攣急，是痙勢已成，便當滋陰存液，不得仍作傷寒主治。故與桂枝湯則厥，與芍藥甘草湯，其腳即伸，此明驗矣。第以表症未除，不得用承氣，若譫語者，少與調胃承氣，是又與不著席者與大承氣湯，同一機彀也。凡痙之為病，因外邪傷筋者少，因血虛筋急者多。如誤作風治，用辛散以助陽，則真陰愈虛，用燥劑以驅風，則血液愈涸。故痙得之暴起者少，妄治而致者多。虛而不補，不死何待？非參、　、歸、地，調治營衛，未易平痙而奏捷也。</p>
<p>《內經》曰：「諸濕腫滿，皆屬於脾。」又曰：「濕勝則濡泄。」此指濕傷於內者言也。又曰：「地之濕氣，感則害人皮肉筋骨。」又曰：「因於濕，首如裹。」此指濕傷於外者言也。若濕而兼熱，則大筋　短而為拘，小筋弛長而為痿，即柔痙之變見矣。陽明篇有濕熱發黃之症，叔和不為別論，獨取太陽之風濕相搏者，尚遺數條，亦搜采之疏失也。《內經》曰：「身半以上者，風中之也；身半以下者，濕中之也。中陽則溜於經，中陰則溜於府。」又曰：「陽受風氣，陰受濕氣。故傷於風者，上先受之；傷於濕者，下先受之。」皆風濕對言，本論則風濕合言也。風濕相合，則陰陽相搏，上下內外交病矣。所以身體煩疼，不能轉側，骨節掣痛，不能屈伸，小便不利，大便反快也。《內經》曰：「風濕之傷人也，血氣與邪並客於分腠之間，其脈堅大，故曰實；寒濕之中人也，皮膚不收，肌肉堅固，營血澀，衛氣去，故曰虛。」此又以濕家虛實，因風寒而分也。本論傷寒發汗，寒濕在裡不解，身目為黃，與陽明之熱不得越，瘀熱在裡，身體發黃者，當下不當下，亦以寒濕濕熱分虛實矣。《內經》以風寒濕三氣合而成痹，本論又合風寒濕熱四氣而名濕痹。當知痹與痙，皆由濕變。夫同一濕也，濕去燥極則為痙，久留而著則為痹。痹為實，痙為虛，痙痹異形，虛實亦殊。固不得妄以痙屬風，亦不得因於濕、而竟視痙為濕矣。</p>
<h3>平脈準繩第七</h3>
<p>上古以三部九候決死生，是遍求法；以人迎、寸口、趺陽辨吉凶，是扼要法。自《難經》獨取寸口之說行，人迎、趺陽不參矣。氣口成寸，為脈之大會，死生吉凶系之焉，今所傳者只此耳。自有《脈經》以來，諸家繼起，各以脈名取勝，泛而不切，漫無指歸。夫在診法取其約，於脈名取其繁，此仲景所云「馳競浮華，不固根本」者是也。仲景立法，只在脈之體用上推求，不在脈之名目上分疏。故以陰陽為體，則以浮、大、動、滑、數為陽之用，沉、澀、弱、弦、遲為陰之用；以表裡為體，則以浮為表用，沉為裡用；以臟腑為體，則以數為腑用，遲為臟用。如以浮沉為體，則以浮、沉中各有遲、數為用。以浮為體，則以大、動、滑、數為用之常，澀、弱、弦、遲為用之變；以沉為體，則以澀、弱、弦、遲為用之常，大、動、滑、數為用之變。體用之間，見脈之變化，而致病之因，與病情之虛實、病機之轉移，亦隨之而見，全在診者指法之巧，與看法之細耳。脈理浩繁，大綱不外名陽名陰之十種。陰陽兩分，自成對峙，陰陽配偶，惟見五端。浮、沉是脈體，大、弱是脈勢，滑、澀是脈氣，動、弦是脈形，遲、數是脈息，不得概以脈象視之也。</p>
<p>脈有對看法，有正看法，有反看法，有平看法，有側看法，有徹底看法。如有浮即有沉，有大即有弱，有滑即有澀，有數即有遲。合之於病，則浮為在表，沉為在裡，大為有餘，弱為不足，滑為血多，澀為氣少，動為搏陽，弦為搏陰，數為在腑，遲為在臟，此對看法也。如浮、大，動、數、滑脈氣之有餘者為陽，當知其中有陽勝陰病之機；沉、澀、弱、弦、遲脈氣之不足者為陰，當知其中有陰勝陽病之機。此正看法也。夫陰陽之轉旋也，有餘而往，不足隨之，不足而往，有餘從之。故其始也，為浮為大為滑為動為數；其繼也，反沉反弱反澀反弦反遲。</p>
<p>此是陽消陰長之機，其病為進。其始也，為沉為弱為澀為弦為遲；其繼也，微浮微大微滑微動微數。此是陽進陰退之機，皆病為欲愈。此反看法也。浮為陽，如更兼大、動、滑、數之陽脈，是為純陽，必陽盛陰虛之病矣；沉為陰，而更兼弱、澀、弦、遲之陰脈，是為重陰，必陰盛陽虛之病矣。此為平看法。如浮而弱、浮而澀、浮而弦、浮而遲者，此陽中有陰，其人陽虛而陰脈伏於陽脈中也，將有亡陽之變，當以扶陽為急務矣；如沉而大、沉而滑、沉而動、沉而數者，此陰中有陽，其人陰虛而陽邪下陷於陰脈中也，將有陰竭之患，當以存陰為深慮矣。此為側看法。如浮、大、動、滑、數之脈體雖不變，始為有力之陽強，終為無力之陽微，知陽將絕矣；沉、澀、弱、弦、遲之脈，雖喜變而為陽，如急見浮、大，動、滑、數之狀，是陰極似陽，知反照之不長，余燼之易滅也。是為徹底看法。更有真陰真陽看法，如凡陰病見陽脈者生，陽病見陰脈者死也。成注只據傷寒立言，觀凡字則知脈法不專為傷寒設，亦不是承接上文，擴充之見仲景活法矣。脈以胃氣為本，玩名陽名陰，見此等脈狀，尚是陰陽之名，而非陰陽之實，因胃氣稍虛，則陰陽偏重，較之平脈有餘名陽、不足名陰耳。此陽病兼外傷六氣言，陰病兼內傷精氣言，若專指傷寒之陰症陽症，則淺矣。陽脈指胃脘之真陽，《內經》所謂二十五陽者是也。陰病見陽脈，是胃氣來復，五臟沖和之氣發見，故主生，《內經》所云別於陽者，知病起時也。陰脈指五臟之真陰，因胃脘之陽，不至於手太陰，五臟之真陰來見也。陽病見陰脈，是脈無胃氣，故主死，《內經》所謂別於陰者，知死生之期也。要見沉、澀、弱、弦、遲，是病脈不是死脈，其見於陽病最多。陽病見浮、大、動、數、滑不休，即是死脈；陰病見浮、大、動、數、滑之脈，多陰極似陽，未必即可生之機也。若真臟脈至，如肝脈之中外急，心脈堅而搏，肺脈浮而大，腎脈如彈石，脾脈如距喙，皆反見有餘之象，豈可以陽脈名之？《經》曰「邪氣來也，緊而疾，穀氣來也，徐而和，」</p>
<p>則又不得以遲數論陰陽矣。仲景表裡臟腑之法，則又以浮沉遲數為大綱。浮沉是審起伏，遲數是察至數，浮沉之間，遲數寓焉。凡脈之不浮不沉而在中，不遲不數而五至者，謂之平脈，是有胃氣。可以神求，不可以象求。若一見浮沉遲數之象，斯為病脈。浮沉遲數，本不以表裡臟腑分，今既有陰陽之可名，即以陽表陰裡、腑陽臟陰，定其為病所在耳。試觀脈之浮為在表，應病亦為在表，然脈浮亦有裡症，或表邪初陷，或裡邪欲出，究竟不離於表，故主表其大綱也。沉為在裡，應病亦為在裡，然脈沉亦有表症，或陽病見陰而危，或陰出之陽而愈，究竟病根於裡，故主裡其大綱也。數、陽主熱，而數有浮沉，浮數應表熱，沉數應裡熱，雖數脈多有病在臟者，然其由必自腑，蓋六腑為陽，陽脈縈其腑，故主腑其大綱也。遲為陰，陰主寒，而遲亦有浮沉，浮遲應表寒，沉遲應裡寒，雖遲脈多有病在腑者，然其根必自臟，蓋五臟為陰，陰脈縈其臟，故主臟其大綱也。脈狀種種，總括於浮沉遲數。然四者之中，又以獨見為準則，獨見何部，即以其部定表裡臟腑之所在，病無遁情矣。然陰陽之十脈，表裡臟腑之四診，皆指脈之體用而言。而診法之體用，則又以病為體，而脈為用。請以浮脈言之，其他可類推。如脈浮者病在表，則必有發熱惡寒之表症。然浮有不同，有但浮者，其三部皆同，無息數，無遲數，其氣象亦滑、澀、動、弦、大、小，此太陽之脈體然也。因風寒在表，而脈陽之陽御之，內無太過不及之病，故見此象。此病脈中之平脈，故可用麻黃湯發汗而煩解，然此脈不可多得。所以發熱即有發熱之脈象，惡寒即有惡寒之脈象。如寸口脈浮而緊，是浮為風象，緊為寒象也。此為陽中有陰，乃陽之變見矣。然寒不協風，則玄府不開，寒在皮毛。</p>
<p>衛氣足以衛外而為固，雖受寒而不傷，寒去而身自和矣。若風不夾寒，但能鼓動衛氣，使元府不閉，皮膚受邪，肺氣不清而已，不能深入於營，而發熱惡寒，頭項骨節俱痛。惟風挾寒邪，其勢始猛，此風則傷衛，寒則傷營，初非有二義也。衛氣不能衛外，反內擾營氣而為煩；營氣不得交通，內迫於骨節而作痛。營衛俱病，發熱所由來耳。如脈浮而數，為陽中見陽，是陽脈之正局，然不得認為陽脈有餘，實因陽氣不足，反見有餘之象也。夫脈為血府，實由氣行，長則氣治，短則氣病。弦脈象長，數脈象短。脈數因於氣之不足，則數為虛可知。風為陽邪，風則為熱，虛為陰邪，虛則為寒。虛寒相搏於營衛，衛氣不足以御之，此惡寒所由來也。上條陽中有陰，而反征其發熱，此條陽中見陽，而反征其惡寒，是互文以見義。此二條皆當發汗，而與但浮者不同。故又云：「脈浮緊者，法當身疼痛，宜以汗解之。假令尺中遲，不可發汗，以營氣不足，血少故也。」可知用麻黃湯不專治寒傷營者，皆仲景法矣。又云：「脈浮數者，法當汗出愈。若尺中脈微，此裡虛不可發汗。」則又見脈浮數者，不得竟用麻黃湯。</p>
<p>又云：「傷寒解半日許，復煩，脈浮數者，可更發汗，宜桂枝湯。」則所云須表裡實，津液自和，便自汗出愈者，為稀熱粥示法耳。夫人之尺脈，如樹之有根，不拘浮數浮緊，皆據尺脈以審虛實，此又仲景為浮為在表之注疏矣。十脈中無緊脈，緊即弦之轉旋。當知按之不移，是靜為陰之體；轉旋無常，是動為陽之用。故浮中見緊者，系在中風，與傷寒之陰陽俱緊者殊矣。緊又與數相似，緊見於法象，數見於至數。然緊以氣來之長，反得為陰中有陽之實脈；數以氣來之短，反得為陽中有陰之虛脈也。若脈浮而大，是陽中見陽，此兩陽合明之脈。然脈不遽大，必至三四日乃大，是陽明內熱外見之脈，此浮不得仍為在表。當知大為病進，故見心下反硬，即攻之不令發汗耳。若浮脈而遲，面熱赤而戰栗者，是陽中見陰，故面見假熱，而身見真寒。此因遲為在臟，故無陽不能作汗，而浮為在表，則又當用漬形為汗之法矣。遲因浮而從表，浮因大而從裡，浮無數而反虛，緊入浮而成實，則表裡臟腑陰陽虛實之間，悉屬定不定法也。</p>
<h2>卷下</h2>
<h3>太陽病解第一</h3>
<p>仲景六經各有提綱一條，猶大將立旗鼓使人知有所向，故必擇本經至當之脈症而標之。讀書者須緊記提綱以審病之所在。然提綱可見者只是正面，讀者又要看出底板，再細玩其四旁，參透其隱曲，則良法美意始得了然。</p>
<p>如太陽提綱提出「脈浮頭項強痛惡寒」八字，是太陽受病之正面。讀者要知三陽之脈俱浮，三陽俱有頭痛症，六經受寒俱各惡寒，惟頭項強痛，是太陽所獨也。故見頭連項強痛，知是太陽受病。蓋太陽為諸陽主氣，頭為諸陽之會，項為太陽之會故也。如脈浮惡寒發熱，而頭不痛項不強，便知非太陽病。如頭但痛不及於項，亦非太陽定局。如頭項強痛反不惡寒，脈反沉，不可謂非太陽病。或溫邪內發，或吐後內煩，或濕流關節，或病關少陰，法當救裡者也。因當浮不浮，當惡不惡，故謂之反，所謂看出底板法者以此。前輩以一日太陽，二日陽明，七日復傳之說拘之，故至今不識仲景所稱之太陽病。</p>
<p>太陽病有身痛、身重、腰痛、骨節疼痛、鼻鳴乾嘔、嘔逆、煩躁、胸滿、背強、咳喝、汗出惡風、無汗而喘等症，仲景以其或然或否，不可拘定，故散見諸節，而不入提綱。又太陽為巨陽，陽病必發熱，提綱亦不言及者，以初受病者，或未發熱故也。其精細如此。故診者於頭項強痛，必須理會此等兼症，更細審其惡風惡寒之病情，有汗無汗之病機，已發熱未發熱之病勢，以探其表裡之虛實，是從旁細看法也。即於此處辨其有汗為桂枝症，無汗為麻黃症，無汗煩躁是大青龍症，乾嘔發熱而咳是小青龍症，項背強KT　KT　是葛根症，用之恰當，效如桴鼓。前輩以桂枝主風傷衛，麻黃主寒傷營，大青龍主傷寒見風，中風見寒分三綱鼎立之說以拘之，所以埋沒仲景心法，又敗壞仲景正法。</p>
<p>脈浮，只講得脈體之正面，診者當於浮中審其強、弱、遲、數、緊、緩、滑、澀、弦、芤。故太陽一症，有但浮、浮弱、浮緩、浮遲、浮數等脈，散見於諸條。或陽浮而陰弱，或陰陽俱緊，或陰陽俱浮，或尺中遲，或尺中脈微，或寸緩、關浮、尺弱，必體認以消息其裡之虛實，是從中索隱法。若謂脈緊是傷寒，脈緩是中風，脈緊有汗是中風見寒，脈緩無汗是傷寒見風，夫既有傷寒中風之別，更有傷寒中風之渾，使人無下手處矣，豈可為法乎？凡見脈浮遲、浮弱者用桂枝，浮緊、浮數者用麻黃，不必於風寒之分，但從脈之虛實而施治，是仲景治法，亦是仲景定法。今傷寒書皆以膀胱為太陽，故有傳足不傳手之謬。不知仲景書，只宗陰陽大法，不拘陰陽之經絡也。夫陰陽散之可千，推之可萬。心為陽中之太陽，故更稱巨陽以尊之。又中身以上，名曰廣明，太陽之前，名曰陽明，廣明亦君主之尊稱。廣明居陽明之上，故六經分位，首太陽，次陽明。又腰以上為陽，膀胱位列下焦之極底，其經名為足太陽，以手足陰陽論，實陰中之少陽耳，以六腑為陽論，與小腸之太陽，同為受盛之器耳，不得混膈膜之上為父之太陽也。仲景以心為太陽，故得外統一身之氣血，內行五臟六腑之經隧。若膀胱為州都之官，所藏精液必待上焦之氣化而後能出，何能外司營衛而為諸陽主氣哉？岐伯曰：「聖人面南而立，前曰廣明，後曰太衝，太衝之地，名曰少陰。」是心腎為一身之大表裡也。膀胱與腎為表裡，第足經相絡之一義也。且表裡亦何常之有？如太陽與少陽並病，刺肺俞、肝俞，豈非以肝居膽外，為少陽之表，肺居心外，為太陽之表耶？少陰病，一身手足盡熱，以熱在膀胱必便血。夫在膀胱而仍稱少陰病，是知膀胱屬腰以下之陰，得為少陰之府，不得為六經之太陽，故不稱太陽病。又太陽不解，熱結膀胱，其人如狂，以太陽隨經瘀熱在裡，熱在下焦，下血乃愈。蓋太陽位最高，故太陽病以頭項強痛為提綱。此云熱結下焦，是太陽陽邪下陷之變症也。其云隨經，云在裡，是知膀胱屬在下焦，為太陽之根底，而非主表之太陽；為太陽之經隧，而非太陽之都會；為太陽主血之裡，非諸陽主氣之太陽也明矣。</p>
<p>傷寒最多心病，以心當太陽之位也。心為君主，寒為賊邪，君火不足，寒邪得以傷之，所以名為大病。今傷寒家反以太陽為寒水之經，是拘於膀胱為水府，因有以寒召寒之說，而不審寒邪犯心、水來克火之義矣。夫人傷於寒，熱雖甚不死者，以寒所在，是邪之所留，熱之所在，是心所主也。如初服桂枝而反煩，解半日許而復煩，大青龍之煩躁，小青龍之水氣，十棗湯之心下痞硬，白虎、五苓之燥渴心煩，皆心病也。若妄治後，叉手冒心，恍惚心亂，心下逆滿，往往關心，是心病為太陽本病也。然心為一身之主，六經皆能病及。故陽明有憒憒、怵惕、懊　等症，少陽有煩悸、支結等症，太陰之暴煩，少陰之心中溫溫欲吐，厥陰之氣上衝心、心中疼熱，皆心病也。何前輩有傷足不傷手之說？夫心主營，肺主衛，風寒來傷營衛，即是手經始。且大腸接胃，俱稱陽明，小腸通膀胱，俱稱太陽，傷則俱傷，何分手足？如大便硬是大腸病，豈專指胃言？小便不利，亦是小腸病，豈獨指膀胱？且汗為心液，如汗多亡陽，豈獨亡坎中之陽，而不涉離中之陽耶？因不明仲景六經，故有傳經之妄耳。</p>
<p>人皆知太陽經絡行於背，而不知背為太陽之所主；競言太陽主營衛，而不究營衛之所自；只知太陽主表，而不知太陽實根於裡；知膀胱為太陽之裡，而不知心肺是為太陽之裡。因不明《內經》之陰陽，所以不知太陽之地面耳。《內經》以背為陽，腹為陰，五臟以心肺為陽，而屬於背，故仲景以胸中心下屬三陽；肝脾腎為陰，而屬於腹，故仲景以腹中之症屬三陰。此陰陽內外相輸之義也。營衛行於表，而發源於心肺，故太陽病則營衛病，營衛病則心肺病矣。心病則惡寒，肺病則發熱，心病則煩，肺病則喘。桂枝療寒，芍藥止煩，麻黃散熱，杏仁除喘。</p>
<p>所以和營者，正所以寧心也；所以調衛者，正所以保肺也。麻、桂二方，便是調和內外表裡兩解之劑矣。如大青龍用石膏以治煩躁，小青龍用五味乾薑以除咳嗽，皆於表劑中即兼治裡。後人妄謂仲景方治表而不及裡，曷不於藥性一思之？太陽主表，為心君之藩籬，猶京師之有邊關也。風寒初感，先入太陽之界，惟以得汗為急務，得汗而解，猶邊關之有備也。必發汗而解，是君主之令行也。若發汗而汗不出，與發汗而仍不解，是君主之令不行也。夫汗為心之液，本水之氣，在傷寒為天時寒水之氣，在人身為皮膚寒濕之氣，在發汗為君主陽和之氣。君火之陽內發，寒水之邪外散矣，故治太陽傷寒以發汗為第一義。若君火不足，則腎液之輸於心下者，不能入心為汗，又不能下輸膀胱，所以心下有水氣也，故利水是治傷寒之第二義。若君火太盛，有煩躁消渴等症，恐不戢而自焚，故清火是太陽傷寒之反治法。若君火衰微不足以自守，風寒內侵於臟腑，必扶陽以御之，故溫補是太陽傷寒之從治法。其他救弊諸法，種種不同，大法不外乎此。</p>
<p>發汗、利水，是治太陽兩大法門。發汗分形層之次第，利水定三焦之高下，皆所以化太陽之氣也。發汗有五法：麻黃湯汗在皮膚，是發散外感之寒氣；桂枝湯汗在經絡，是疏通血脈之精氣；葛根湯汗在肌肉，是升提津液之清氣；大青龍汗在胸中，是解散內擾之陽氣；小青龍汗在心下，是驅逐內蓄之水氣。其治水有三法：乾嘔而咳，水入即吐，是水氣在上焦，在上者汗而發之，小青龍、五苓散是也；心下痞硬，硬滿而痛，是水氣在中焦，中滿者瀉之於內，十棗湯、大陷胸是也；熱入膀胱，小便不利，是水氣在下焦，在下者引而竭之，桂枝去桂加苓朮是也。</p>
<p>太陽之根，即是少陰。緊則為寒，本少陰脈。太陽病而脈緊者，必無汗。此雖太陽能衛外而為固，令汗不出，亦賴少陰能藏精而為守，故不得有汗也。人但知其為表實，而不知其裡亦實，故可用麻黃湯而無患。若脈陰陽俱緊而反汗出者，是陽不固而陰不守，雖稱亡陽而陰不獨存。曰此屬少陰者，是指太陽轉屬少陰，而非少陰本病。</p>
<p>太陽陽虛，不能主外，內傷真陰之氣，便露出少陰底板。少陰陰虛，不能主內，外傷太陽之氣，便假借太陽之面目。所以太陽病而脈反沉，用四逆以急救其裡；少陰病而表反熱，用麻辛以微解其表。此表裡雌雄相應之機也。</p>
<p>傷寒一日，太陽受之，即見煩躁是陽氣外發之機。六七日乃陰陽自和之際，反見躁煩，是陽邪內陷之兆。所云陽去入陰者，指陽邪下陷言，非專指陰經也。或入太陽之府而熱結膀胱，或入陽明之府而胃中干燥，或入少陽之府而脅下硬滿，或入太陰而暴煩下利，或入少陰而口舌乾燥，或入厥陰而心中疼熱，皆入陰之謂。後人惑於傳經之謬，因不知有入陰、轉屬等義矣。</p>
<h3>陽明病解第二</h3>
<p>按陽明提綱，以裡症為主。雖有表症，仲景意不在表，為有諸中而形諸外也。或兼經病，仲景意不在經，為標在經而根於胃也。太陰陽明同處中州，而太陰為開，陽明為闔也。故陽明必以闔病為主，不大便固闔也，不小便亦闔也，不能食、食難用飽、初欲食反不能食，皆闔也。自汗盜汗，表開而裡闔也。反無汗，內外皆闔也。種種闔病，或然或否，故提綱獨以胃實為主。胃實不竟指燥糞堅硬，只對下利言，下利是胃家不實矣。故汗出解後，胃中不和而下利者，不稱陽明病。如胃中虛而不下利者，便屬陽明，即初硬後溏，水穀不別，雖死而不下利者，總為陽明病也。蓋陽明太陰，同為倉廩之官，而所司各別。胃司納，故以陽明主實；脾司輸，故太陰主利。同一胃病，而分治如此，是二經所由分也。按陽明為傳化之府，當更實更虛，食入胃實而腸虛，食下腸實而胃虛，若但實不虛，斯陽明病根矣。胃實不是陽明病，而陽明之為病，悉從胃實上得來，故以胃家實為陽明一經總綱也。然致實之由，最宜詳審，有實於未病之先者，有實於得病之後者，有風寒外束、熱不得越而實者，有妄吐汗下、重亡津液而實者，有從本經熱盛而實者，有從他經熱盛轉屬而實者。此只舉其病根在實，勿得即以胃實為可下之症。</p>
<p>身熱汗自出，不惡寒反惡熱，是陽明表症之提綱。故胃中虛冷，亦得稱陽明病，因其表症如此也。然此為內熱發外之表，非中風傷寒之表。此時表寒已散，故不惡寒；裡熱閉結，故反惡熱。只因有胃家實之病根，即見此身熱自汗之外症、不惡寒反惡熱之病情。然此但言病機發見，非即可下之症也，必譫語、潮熱、煩躁、脹痛諸症兼見，才可下耳。</p>
<p>太陽總綱示人以正面，陽明總綱反示人以底板。其正面與太陽之表同，又當看出陽明之表與太陽不同矣。如陽明病，脈遲汗出多，微惡寒者，是陽明之桂枝症；陽明病，脈浮無汗而喘者，是陽明之麻黃症。本論云「病得之一日，不發熱而惡寒」者，即此是也。後人見太陽已得此脈症，便道陽明不應有此脈症，故有尚在太陽將入陽明之說。不知仲景書，多有本條不見，而他條中發見者，若始雖惡寒與反無汗等句是也。以陽明表症本自汗出不惡寒，故加「雖、反」字耳。有本經未宣而他經發見者，若太陽之頭項強痛、少陽之脈弦細者是也。若頭痛而項不強，脈大而不弦細，便是陽明之表矣。太陽行身之後，陽明行身之前，所受風寒，俱在營衛之表。太陽營衛有虛實，陽明營衛亦有虛實。虛則桂枝，實則麻黃，是仲景治表邪之定局也。仲景之方，因症而設，非因經而設，見此症便與此方，是仲景活法。後人妄以方分經絡，非惟陽明不敢用二方，即太陽亦棄之久矣。陽明之表有二：有外邪初傷之表，有內熱達外之表。外邪之表，只在一二日間，其症微惡寒汗出多，或無汗而喘者是也。內熱之表，在一二日後，其症身熱汗自出，不惡寒反惡熱是也。表因風寒外束，故仲景亦用麻、桂二湯汗之；表因內熱外發，故仲景更制梔豉湯，因其勢而吐之。後人認不出陽明表症，一二日既不敢用麻、桂，二三日後，又不知用梔豉。不識仲景治陽明之初法，所以廢棄仲景之吐法，必待熱深實極，始以白虎、承氣投之，是養虎貽患也。六經傷寒，惟陽明最輕，以陽明為水穀之海，穀氣足以勝邪氣；陽明為十二經脈之長，血氣足以御寒氣；陽明寓兩陽合明之地，陽氣足以御陰氣也。陽明陰邪一日惡寒與太陽同，二日便不惡寒反惡熱。故《內經》曰：「二日陽明受之，」以陽明之症在二日見，非謂陽明之病在太陽受交也。仲景曰：「傷寒三日，陽明脈大。」要知陽明傷寒，在一日二日，即寒去熱生，三日見陽明之大脈，則全無寒氣，便是陽明病熱，而非復前日之傷寒。始雖由於傷寒，今不得再稱傷寒，以傷寒之劑治之矣。陽明之惡寒，二日自止，固與他經不同，其惡寒微，又不若太陽之甚。陽明在肌肉中蒸蒸發熱，但熱無寒，與太陽翕翕發熱，寒束於皮毛之上者不同。陽明自汗，亦異於太陽中風之自汗。太陽雖自汗，而出之不利，有執持之意，故其狀曰　，陽明自汗，多有波瀾搖動之狀，故名曰　。太陽之脈浮而緊者，熱必不解；陽明病脈浮而緊者，必潮熱，太陽脈但浮者，必無汗；陽明脈但浮者，必盜汗出。二經表症表脈不同如此。</p>
<p>今傷寒書，以頭痛分三陽，陽明之頭痛在額，理固然也。然陽明主裡，頭痛非其本症。《內經》曰：「傷寒一日，巨陽受之，以其脈連風府，故頭項痛。七日太陽病衰，頭痛少愈也。二日陽明受之，其脈夾鼻絡於目，故身熱、目痛、鼻干不得眠。」是《內經》以頭痛屬太陽，不屬陽明矣。仲景有陽明頭痛二條：一曰陽明病，反無汗而小便利，二三日嘔而咳，手足厥者，必苦頭痛；若不咳不嘔，手足不厥者，頭不痛。此頭痛在二三日，而不在得病之一日，且因於嘔咳，而不因於外邪也。一曰傷寒不大便六七日，頭痛身熱者，與承氣湯。此頭痛反在太陽病衰時，而因於不大便，即《內經》所謂　脹而頭痛，非因於風寒也。其中風傷寒諸條，俱不及頭痛症，在陽明頭痛，又與太陽迥別矣。</p>
<p>本論云「陽明病，脈浮而緊，咽燥口苦，腹滿而喘，發熱汗出，不惡寒，反惡熱，身重」，此處當直接「梔子豉湯主之」句。若發汗三段，因不用此方而妄治所致，仍當梔子豉湯主之。仲景但於結句一見，是省文法也。</p>
<p>後人竟認梔子豉湯為汗下後救逆之劑，請問未汗下前，仲景何法以治之乎？要知咽燥口苦，腹滿而喘，是陽明裡熱；發熱汗出，不惡寒，反惡熱，是陽明表熱。因陽明之熱自內達表，則裡症為重，故此條序症，以裡症列表症之前。任梔子以清裡熱，而表熱亦解；用香豉以瀉腹滿，而身重亦除。後人不能於仲景書中尋出陽明之表，而遽引《內經‧熱病論》之目痛鼻干不得臥以當之；不得仲景陽明治表之法，妄用痘科中葛根升麻湯以主之；不知《內經》因論熱病，而只發明陽明經病之一端，仲景立陽明一經，是該內外症治之主治；又不知目痛鼻干是陽盛陰虛，法當滋陰清火，而反發陽明之汗，上而鼻衄，下而便難，是引邪入內矣。要知是風寒之表，則用麻桂而治。如是內熱之表，即荊芥、薄荷，皆足亡津液而成胃實。是在用者何如耳。</p>
<p>治陽明之表熱有三法：熱在上焦用梔豉湯吐之，上焦得通，津液得下，胃家不實矣；熱在中焦，用白虎湯清之，胃火得清，胃家不實矣；熱陷下焦，用豬苓湯利之，火從下泄，胃家不實矣。要知陽明之治表熱，即是預治其裡，三方皆潤劑，所以存津液而不令胃家實也。後人因循升麻葛根之謬，不察仲景治陽明表症之法。</p>
<p>太陽以心胸為裡，故用辛甘發散之劑，助心胸之陽而開玄府之表，不得用苦寒之劑，以傷上焦之陽也，所以宜汗而不宜吐。陽明以心胸為表，當用酸苦涌泄之劑，引胃脘之陽而開胸中之表，不當用溫散之劑，以傷中宮之津液也，故法當吐而不當汗。陽明當吐而反行汗、下、溫針等法，以致心中憒憒、怵惕、懊　、煩躁、譫語、舌苔等症，然不離陽明之表。太陽當汗而反吐，便見自汗出，不惡寒，飢不能食，朝食暮吐，不欲近衣，欲飲冷食等症，此為太陽轉屬陽明之表，皆是梔子豉湯症。蓋陽明以胃實為裡，不特發熱、惡寒、汗出、身重、目痛、鼻干為之表，一切虛熱，如口苦、咽乾、舌苔、喘滿、不得臥、消渴而小便不利，凡在胃之外者，悉屬陽明之表。但除胃口之熱，便解胃家之實，此梔子豉湯為陽明解表之聖劑矣。</p>
<p>按傷寒脈浮，自汗出，微惡寒，是陽明表症；心煩，小便數，腳攣急，是陽明裡之表症。斯時用梔子豉湯吐之，則胃陽得升，惡寒自罷，心煩得止，汗自不出矣；上焦得通，津液得下，小便自利，其腳自伸。反用桂枝發表，所以亡陽，其咽中干、煩躁、吐逆，是梔子生薑豉湯症。只以亡陽而厥，急當回陽。其改用甘草乾薑湯，陽復後，仍作芍藥甘草以和陰，少與調胃承氣以和裡，皆因先時失用梔豉，如此挽回費力耳。</p>
<p>按仲景云「病如桂枝症，」則便不得鑿定為太陽中風。凡惡風、惡寒、發熱而汗自出者，無論太陽、陽明、中風、傷寒，皆是桂枝症矣。太陽病，頭項強痛，而此云頭不痛、項不強，便非太陽症。《內經》曰：「邪中於膺，則入陽明。」此云胸中痞硬，氣上衝咽喉不得息，是陽明受病無疑也。雖外症象桂枝，而病在胸中，不在營衛，便不是桂枝症。故立瓜蒂散，所謂在上者因而越之也。此與前條本陽明病，仲景不冠於陽明者，以不關胃實，而未見不惡寒之病情耳。</p>
<p>上越、中清、下奪，是治陽明三大法；發汗、利小便，是陽明經兩大禁。然於風寒初入陽明之表，即用麻黃桂枝發汗者，以急於除熱而存津液，與急下之法同。若脈浮煩渴，小便不利，用豬苓湯利小便者，亦以清火而存津液。而又曰汗多者，不可與豬苓湯。要知發汗利小便，是治陽明權巧法門，非正治法。</p>
<p>陽明之病在熱實，宜無溫補法矣，而食穀欲嘔者，是胃口虛寒，故不主內熱也。然胃口雖虛，胃中猶實，仍不失為陽明病，與吳茱萸湯散胃口之寒，上焦得通，津液得下，胃氣因和，則溫補又是陽明之從治法。若胃口虛熱者，用白虎加參，是陽明又有涼補法也。此二義又是治陽明權巧法門。</p>
<p>本論云：「傷寒三日，三陽為盡，三陰當受邪。其人反能食不嘔，此為三陰不受邪矣。」蓋陽明為三陰之表，故三陰皆看陽明之轉旋，三陰之不受邪者，藉胃為之蔽其外也。胃氣和則能食不嘔，故邪自解而三陰不病。胃陽虛，邪始得入三陰。故太陰受邪，腹滿而吐，食不下；少陰受邪，欲吐不吐；厥陰受邪，飢不欲食，食即吐蛔。</p>
<p>若胃陽亡，則水漿不入而死。要知三陰受邪，關系不在太陽少陽，而全在陽明。陽明以太陰為裡，是指牝藏言；太陰亦以陽明為裡，是指轉屬言也。腎者胃之關，水者土之賊，故三陰亦得以陽明為裡。三陰為三陽之裡，而三陰反得轉屬陽明為裡，故三陰皆得從陽明而下，則陽明又是三陰經實邪之出路也。既為三陰之表以御邪，又為三陰之裡以逐邪，陽明之關系三陰重矣。</p>
<h3>少陽病解第三</h3>
<p>少陽處半表半裡，司三焦相火之游行。仲景特揭口苦、咽乾、目眩為提綱，是取病機立法矣。夫口、咽、目三者，臟腑精氣之總竅，與天地之氣相通者也。不可謂之表，又不可謂之裡，是表之入裡，裡之出表處，正所謂半表半裡也。三者能開能闔，開之可見，闔之不見，恰合為樞之象。苦、干、眩者，皆相火上走空竅而為病，風寒雜病咸有之，所以為少陽一經總綱也。如曰兩耳無聞，胸滿而煩，只舉得中風一症之半表半裡。《內經》之胸脅痛而耳聾，只舉得熱症中之半表半裡，故提綱不與焉。</p>
<p>少陽之表有二：脈弦細、頭痛、發熱，或嘔而發熱者，少陽傷寒也；耳聾、目赤、脅滿而煩，少陽中風也。</p>
<p>此少陽風寒之表，而非少陽之半表。陽明風寒之表，亦有麻、桂症。少陽風寒之表，既不得用麻、桂之汗，亦不得用瓜蒂、梔豉之吐。若發汗則譫語，吐、下則悸而驚，是少陽之和解，不特在半表而始宜也。少陽初感風寒，惡寒發熱與太陽同，不得為半表。惟寒熱不齊，各相回避，一往一來，勢若兩分，始得謂之半表耳。往來寒熱有三義：少陽自受寒邪，陽氣尚少，不能發熱，至五六日鬱熱內發，始得與寒氣相爭，而往來寒熱，一也；或太陽傷寒過五六日，陽氣已衰，余邪未盡，轉屬少陽而往來寒熱，二也；夫風為陽邪，少陽為風府，一中於風，便往來寒熱，不必五六日而始見，三也。</p>
<p>太陽之身寒在未發熱時，如已發熱，雖惡寒而身不再寒。陽明之身寒惡寒，只在初得之二日，至三日則惡寒自罷，便發熱而反惡熱。惟少陽之寒熱有往而復來之異，寒來時便身寒惡寒而不惡熱，熱來時便身熱惡熱而不惡寒，與太陽之如瘧，發熱惡寒而不惡熱，陽明之如虐，潮熱惡熱而不惡寒者，不侔也。蓋以少陽為嫩陽，如日初出，寒留於半表者不遽散，熱出於半裡者未即舒，故見此象耳。然寒為欲去之寒，熱為新熾之熱，寒固為虛寒，而熱亦非實熱，故小柴胡湯只治熱而不治寒，預補其虛而不攻其實也。小柴胡為半表設，而其症皆屬於裡，蓋表症既去其半，則病機偏於向裡矣。惟寒熱往來一症，尚為表邪未去，故獨以柴胡一味主之，其他悉屬裡症藥。凡裡症屬陽者多實熱，屬陰者多虛寒。而少陽為半裡，偏於陽，偏於熱，雖有虛有實，不盡屬於虛也。仲景深以裡虛為慮，故於半表未解時，便用人參以固裡。寒熱往來，病情見於外；苦、喜、不欲，病情得於內。看苦、喜、欲三字，非真嘔、真滿、不能飲食也；看往來二字，即見有不寒熱時。寒熱往來，胸脅苦滿，是無形之表；心煩喜嘔，默默不欲飲食，是無形之裡。其或胸中煩而不嘔，或渴、或腹中痛，或脅下痞硬，或心悸、小便不利，或咳者，此七症皆偏於裡，惟微熱為在表；皆屬無形，惟脅下痞硬為有形；皆風寒通症，惟脅下痞硬為少陽。總是氣分為病，非有實熱可據，故皆從半表半裡之治法。</p>
<p>少陽為游部，其氣游行三焦，循兩脅，輸腠理，是先天真元之氣，所以謂之正氣。正氣虛，不足以固腠理，邪因腠理之開，得入少陽之部。少陽主膽，為中正之官，正氣雖虛，不容邪氣內犯，必與之相搏，搏而不勝，所以邪結脅下也。往來寒熱，即邪正相爭之象。更實更虛，所以休作有時。邪實正虛，所以默默不欲飲食。仲景於表症不用人參，此因正邪分爭，正不勝邪，故用之扶元氣，助正以卻邪也。若外有微熱而不往來寒熱，是風寒之表未解，不可謂之半表，當小發汗，故去參加桂。心煩與咳，雖逆氣有餘而正氣未虛，不可益氣，故去人參。如太陽汗後身痛，而脈浮沉遲，與下後協熱利而心下硬，是太陽之半表裡症也。表雖不解，裡氣已虛，故參桂兼用。</p>
<p>是知仲景用參，皆是預保元氣耳。</p>
<p>更有脈症不合柴胡者，仍是柴胡症。本論云：「傷寒五六日，頭汗出，微惡寒，手足冷，心下滿，口不欲食，大便硬，脈細者，此為陽微結，半在裡半在表也。脈雖沉緊，不得為少陰病者，陰不得有汗，今頭汗出，故可與小柴胡湯」。此條是少陰陽明並病，而脈症俱是少陰。五六日又少陰發病之期，若謂陰不得有汗，則少陰亡陽，亦有反汗出者。然陽亡與陰結，其別在大便，亡陽則咽痛吐利，陰結則不能食而大便反硬也。亡陽與陽結，其別在汗。亡陽者，衛氣不固，汗出必遍身；陽結者，熱邪鬱閉，汗只在頭也。陽結、陽微之別在食。陽明陽盛，故能食而大便硬，此為純陽結；少陽陽微，故不能食而大便硬，此為陽微結。故欲與柴胡湯，必究其病在半表。然微惡寒，亦可屬少陰，但頭汗出，始可屬少陽。故反復講明頭汗之義，可與小柴胡而勿疑也。所以然者，少陽為樞，少陰亦為樞，故見症多相似，必於陰陽表裡辨之真而審之確，始可一劑而瘳。此少陰少陽之疑似症，又柴胡症之變局也。</p>
<p>少陽主人身之半，脅主一身之半，故脅為少陽之樞，而小柴胡為樞機之劑也。岐伯曰：「中於脅，則入少陽。」</p>
<p>此指少陽自病。然太陽之邪欲轉屬少陽，少陽之邪欲轉並陽明，皆從脅轉。如傷寒四五日，身熱惡寒，頭項強脅下滿者，是太陽少陽並病，將轉屬少陽之機也。以小柴胡湯與之，所以斷太陽之來路。如陽明病，發潮熱，大便溏，小便自可，胸脅滿下去者，是少陽陽明並病，此轉屬陽明之始也。以小柴胡與之，所以開陽明之出路。若據次第傳經之說，必陽明始傳少陽，則當大便硬而不當溏，當曰胸脅始滿，不當曰滿不去矣。又陽明病，脅下硬滿，不大便而嘔，舌上白苔者，此雖已屬陽明，而少陽之症未罷也。蓋少陽之氣，游行三焦，因脅下之阻隔，令上焦之治節不行，水精不能四布，故舌上有白苔而嘔。與之小柴胡，轉少陽之樞也，則上焦氣化始通，津液得下，胃家不實，而大便自輸矣。身　然而自汗解者，是上焦津液所化，故能開發腠理，熏膚、充身、澤毛，若霧露之溉。</p>
<p>與胃中邪熱熏蒸而自汗不解者不同。</p>
<p>東垣云：「少陽有不可汗、吐、下、利小便四禁。」然柴胡症中口不渴，身有微熱者，仍加桂枝以取汗。下後胸脅滿微結，小便不利，渴而不嘔，頭汗出，寒熱往來者，用柴胡桂枝乾薑湯汗之。下後胸滿煩驚，小便不利，譫語身重者，柴胡龍骨牡蠣湯中用大黃、茯苓以利二便。柴胡症具而反下之，心下滿而硬痛者，大陷胸湯下之。醫以丸藥下之而不得利，已而微利，胸脅滿而嘔，日晡潮熱者，小柴胡加芒硝下之。是仲景於少陽經中已備汗、下、利小便法也。若吐法本為陽明初病胸中實不得息、不得食、不得吐而設。少陰病，飲食入口即吐，心下溫溫欲吐，復不能吐，亦是胸中實，當吐之。若水飲蓄於胸中，雖是有形而不可為實，故不可吐。何則？少陽之喜嘔而發熱，便是中氣之虛，但熱而不實，故用人參以調中氣，上焦得通，津液得下，胃氣因和。故少陽之嘔與譫語不並見，所以嘔者是少陽本症，譫語是少陽壞症。然本渴而飲水，嘔與但欲嘔，胸中痛微溏者，又非柴胡症，是嘔中又當深辨也。</p>
<p>按嘔、渴雖六經俱有之症，而少陽陽明之病機，在嘔、渴中分。渴則屬陽明，嘔則仍在少陽。如傷寒嘔多，雖有陽明症不可攻之，因三焦之氣不通，病未離少陽也。服柴胡湯已，渴者，屬陽明也。此兩陽之並合，病已過少陽也。夫少陽始病，便見口苦、咽乾、目眩，先以津液告竭矣。故少陽之病，最易轉屬陽明，所以發汗即胃實而譫語。故小柴胡中已具或渴之症，方中用參、芩、甘、棗，皆生津液之品，以預防其渴。服之反渴，是相火熾盛，津液不足以和胃，即轉屬陽明之機也。</p>
<p>少陽妄下後有二變：實則心下滿而硬痛為結胸，用大陷胸湯下之；虛則但滿而不痛為痞，用半夏瀉心湯和之。</p>
<p>此二症皆從嘔變，因不用柴胡，令上焦不通，津液不下耳。本論云：「傷寒中風，有柴胡症，但見一症即是，不必悉具」者，言往來寒熱，是柴胡主症。此外兼見胸脅滿硬，心煩喜嘔，及或為諸症中凡有一者，即是半表半裡。</p>
<p>故曰嘔而發熱者，小柴胡湯主之，因柴胡為樞機之劑也。風寒不全在表，未全入裡者，皆可用。故症不必悉具，而方有加減法也。然柴胡有疑似症，不可不審。如脅下滿痛，本渴而飲水嘔者，柴胡不中與也。又但欲嘔，腹中痛微溏者，此非柴胡症。如此詳明。所云但見一症便是者，又當為細辨矣。</p>
<h3>太陰病解第四</h3>
<p>按《熱病論》云：「太陰脈布胃中，絡於嗌，故腹滿而嗌干。」此熱傷太陰之標，自陽部注經之症，非太陰本病也。仲景立本病為提綱，因太陰主內，故不及中風、四肢煩疼之表，又為陰中至陰，故不及熱病嗌干之症。</p>
<p>太陰為開，又陰道虛，太陰主脾所生病，脾主濕，又主輸。故提綱主腹滿時痛而吐利，皆是裡虛不固，濕勝外溢之症也。脾虛則胃亦虛，食不下者，胃不主內也。要知胃家不實，便是太陰病。</p>
<p>脾胃同處腹中，故腹滿為太陰陽明俱有之症。在陽明是熱實為患，在太陰是寒濕為眚。陽明腹滿不敢輕下者，恐胃家不實，即轉屬太陰耳。世拘陽明傳少陽之謬，反昧傳太陰之義。</p>
<p>熱病腹滿，是熱鬱太陰之經，有嗌干可證，病在標也；寒濕腹滿，是寒生至陰之臟，有自利可證，病在本也。</p>
<p>脾經有熱，則陰精不上輸於肺，故嗌干；脾臟有寒，則脾不為胃行其津液，故下利。夫陽明之當下，因本病；而太陰之下症，反是標病。可以見陰陽異位之故，又以見陰從陽轉之義也。</p>
<p>參中陰溜府之義，知熱邪不遽入至陰，雖熱在太陰之經，而實仍在陽明之胃。可知下症只在陽明，太陰本無下法。</p>
<p>腹滿亦兩經之症：不大便而滿痛，或繞臍痛者，為實熱，屬陽明；下利而腹滿時痛，為虛寒，屬太陰。寒濕是太陰本症，濕熱又傷寒所致之變症也。其機關在小便；小便不利，則濕熱外見而身黃；小便自利，非暴煩下利而自愈，即大便硬而不便。所以然者，脾胃相連，此脾家實則腐穢自去，而成太陰之開。若胃家實則地道不通，而轉陽明之闔矣。故叔和知有三陽明，不知有太陰陽明症。</p>
<p>《序例》謂太陰受病，脈當沉細。不知沉細是太陰本病之脈，不是熱病嗌干之脈。蓋脈從病見，如太陰中風則脈浮，不從臟之陰而從風之陽也。然浮為麻黃湯脈而用桂枝者，以太陰是裡之表症，桂枝湯是裡之表藥。因脾主肌肉，是宜解肌耳。太陰傷寒，脈浮而緩者，亦非太陰本病。蓋浮為陽脈，緩為胃脈。太陰傷寒，脈不沉細，而反浮緩，是陰中有陽，脈有胃氣。所以手足自溫，而顯脾家之實，或發黃便硬，而轉屬陽明。此脈症在太陰陽明之間，故曰「系在」。故若太陰自受寒邪，不應如是矣。</p>
<p>太陰脈浮為在表，當見四肢煩疼等症；沉為在裡，當見腹滿吐利等症。表有風熱可發汗，宜桂枝湯；裡有寒邪當溫之，宜四逆輩。太陽而脈沉者，因於寒，寒為陰邪，沉為陰脈也；太陰而脈浮者，因於風，風為陽邪，浮為陽脈也。當知脈從病變，不拘於經，故陽經有陰脈，陰經有陽脈。世謂脈至三陰則俱沉，陰經不當發汗者，未審此耳。</p>
<p>太陰中風，陽微陰澀而長者，為欲愈。要知澀與長不是並見，澀本病脈，澀而轉長，病始愈耳。風脈本浮，今浮已微，知風邪當去。澀則少氣少血故中風，今長則氣治，故愈。太陰中風，四肢煩疼，太陰傷寒，手足自溫，此指表熱言也。熱在四肢，則身體不熱可知。蓋太陰主內，表當無熱。惟四肢為諸陽之本，脾為胃行津液以灌四旁，故得主四肢，則四肢之溫熱，仍是陽明之陽也。且曰自溫，便見有時不溫，有時四逆矣。《內經》云：「人有四肢熱，逢風而如炙如火者，是陰氣虛而陽氣盛。風者陽也，四肢亦陽也，兩陽相搏，是火當內爍。」此即太陰中風症。要知太陰中風，與三陽不同。太陰之陰，名曰關蟄，故陽邪不得深入。惟病在四關，久而不愈，脾液不足以充肌肉，故肉爍。世人最多此症，其有手足心熱者，亦中風之輕者耳。然太陰中風，因陰虛而陽湊之，外風為內熱所致，但當滋陰以和陽，不得驅風而增熱也。</p>
<p>手足自溫句，暗對身不發熱言，非言太陰傷寒必當手足溫也。夫病在三陽尚有手足冷者，何況太陰？陶氏分太陰手足溫、少陰手足寒、厥陰手足冷，是大背「太陰手足煩疼，少陰一身盡熱」之義矣。凡傷於寒知為病熱，寒為陰，太陰為至陰，兩陰相合，無熱可發，惟四末為陰陽之會，故當溫耳。惟手足自溫，中宮不遽受邪，故或發身黃，或暴煩下利自止。即手足自溫處，因以見脾家之實也。</p>
<p>發黃是陽明病，太陰身當發黃，非言太陰本有發黃症也。以手足溫處。是陽明之陽盛。寒邪不得傷太陰之臟，臟無寒而身有濕，故當發黃。若濕從溺泄，暴煩下利，仍是主輸，故不失為太陰病。若煩而不利，即胃家之熱實，非太陰之濕熱矣。此太陰傷寒，全藉陽明為之根，故有轉屬之症。此知傷寒以陽為主，不知太陰傷寒以陽明為主。</p>
<p>東垣以有聲無聲分嘔吐，非也。嘔吐皆有聲有物，惟乾嘔是有聲無物。嘔以水勝，屬上焦也；吐以物勝，屬中焦也。六經皆有嘔吐，而嘔屬少陽，以喜嘔故吐，屬太陰而不屬陽明，亦主輸主內之分。</p>
<p>太陽以陰為根，而太陰以陽為本。太陽不敢妄汗，恐亡少陰之津也；太陰不敢輕下，恐傷陽明之氣也。太陰本無下症，因太陽妄下而陽邪下陷於太陰，因而有桂枝東加芍藥等法。太陰脈弱，知胃氣易動，便當少加矣。此因裡急後重者，不可不用，又不可多用，故如是叮嚀耳。</p>
<h3>少陰病解第五</h3>
<p>少陰一經，兼水火二氣，寒熱雜居，為病不可捉摸。其寒也，症類太陰；其熱也，症似太陽。故仲景以微細之病脈，欲寐之病情為提綱，立法於象外，使人求法於病中。凡症之寒熱與寒熱之真假，仿此義以推之，真陰之虛實見矣。</p>
<p>五經提綱，皆是邪氣盛則實。惟少陰提綱，是指正氣奪則虛者，以少陰為人身之本也。然邪氣之盛，亦因正氣之虛，故五經皆有可溫可補症。正氣之奪，亦由邪氣之盛，故少陰亦有汗吐下者。要知邪氣盛而正氣已虛者，固本即所以逐邪，正不甚虛而邪氣實者，逐邪即所以護正，此大法也。少陽為陽樞，少陰為陰樞。弦為木象，弦而細者，是陽之少也；微為水象，微而細者，陰之少也。此脈氣之相似。衛氣行陽則寤，行陰則寐。其行陰二十五度，常從足少陰之分，間行臟腑。少陰病，則樞機不利，故欲寐也。與少陽喜嘔者同。嘔者主出，陽主外也；寐者主入，陰主內也。喜嘔是不得嘔，欲寐是不得寐，皆在病患意中，得樞機之象如此。</p>
<p>少陰脈微，不可發汗，亡陽故也。脈細沉數，病為在裡，不可發汗，然可汗之機亦見於此。夫微為無陽，數則有伏陽矣。須審其病為在裡而禁汗，不得拘沉為在裡而禁汗也。發熱脈沉者，是病為在表，以無裡症，故可發汗。若脈浮而遲，表熱裡寒，下利清穀，是遲為無陽，病為在裡，又不得拘浮為在表而發汗矣。要知陰中有陽，沉亦可汗；陽中有陰，浮亦當溫。若八九日一身手足盡熱，是自裡達表、陽盛陰虛，法當滋陰，又與二三日無裡症者不侔。</p>
<p>太陰是陽明之裡，陽明不惡寒，故太陰雖吐利腹滿而無惡寒症。少陰是太陽之裡，太陽惡寒，故少陰吐利必惡寒，陰從陽也。太陰手足溫者，必暴煩下利而自愈，是太陰藉胃脘之陽。少陰吐利，亦必手足溫者可治，手足厥者不治，是下焦之虛寒，既侵迫於中宮，而胃脘之陽仍得敷於四末。斯知先天之元陽，仍賴後天之胃氣培植也。</p>
<p>太陽是少陰之標，太陰是少陰之本。少陰陰虛，則移熱於膀胱，故一身手足盡熱而便血，從標也；少陰陽虛，則移寒於脾土而吐利，從本也。</p>
<p>少陰傳陽症有二：六七日腹脹不大便者，是傳陽明，臟氣實則還之腑也；八九日一身手足盡熱者，是傳太陽，陰出之陽，下行極而上也。</p>
<p>熱在膀胱而便血，亦臟病傳腑，此陰乘陽也，然氣病而傷血，又陽乘陰也，亦見少陰中樞機之象。此是自陰轉陽，與太陽熱結膀胱自下血者，見症同而病因異。</p>
<p>少陰病，脈緊，至七八日自下利，脈暴微，手足反溫，脈緊反去者，雖煩，利必自愈。此亦是脾家實，露出太陰底板，與太陰七八日暴煩下利自止同。蓋少陰來復之陽，微則轉屬太陰，而穢腐自去；盛則轉屬陽明，而糟粕不傳。郁則內實，而入陽明大府廣腸之區；橫則外達，而遍太陽內外氣血之部。要知緊脈轉微，是復少陰本脈，故轉太陰而自解；脈沉細數，是兼陽脈，故入陽經而為患。然熱雖盛不死，亦陰得陽則解之變局也。</p>
<p>六經皆有煩躁，而少陰更甚者，以真陰之虛也。蓋陽盛則煩，陰盛則躁，煩屬氣，躁屬形。煩發於內，躁見於外，是形從氣動也；先躁後煩，是氣為形役也。不躁而時自煩，是陽和漸回，故可治；不煩而躁，是五臟之陽已竭，惟魄獨居，故死。故少陰以煩為生機，躁為死兆。</p>
<p>傷寒以陽為主，不特陰症見陽脈者生，亦陰病見陽症者可治也。凡　臥四逆，吐利交作，純陰無陽之症，全賴一陽來復，故反煩者可治，手足反溫、反發熱者不死耳。太陽少陰皆有身痛骨節痛之表，水氣為患之裡。太陽則脈浮緊而身發熱，用麻黃湯發汗，是振營衛之陽以和陰也；少陰則脈沉而手足寒，用附子湯溫補，是扶坎宮之陽以配陰也。太陽之水屬上焦，小青龍汗而發之，陽水當從外散也；少陰之水屬下焦，真武溫而利之，陰水當從下泄也。</p>
<p>陰陽俱緊，與太陽傷寒脈相似。夫緊脈為寒，當屬少陰。然病發於陰，不當有汗，反汗出者，陰極似陽，陰虛不能藏精所致也。亡陽之前，已先亡陰矣。陽無所依，故咽痛嘔吐，見虛陽之不歸；陰不能藏，故下利不止，見真陰之欲脫也。則附子湯用三白以滋陰，參、附以回陽，為少陰返本還原之劑。</p>
<p>腎主五液，入心為汗，少陰受病，液不上升，所以陰不得有汗。仲景治少陰之表，於麻黃細辛湯中加附子，是升腎液而為汗也。若真陰為邪熱所逼，則水隨火越，故反汗出。仲景治少陰之裡，附子湯中任人參，是補腎液而止汗也。脈陰陽俱緊，口中氣出條，是少陰經文，王氏集之脈法中，故諸家議論不一。夫少陰脈絡肺，肺主鼻，故鼻中涕出；少陰脈絡舌本，故舌上苔滑；少陰大絡注諸絡以溫足脛，故足冷。此症不名亡陽者，外不汗出，內不吐利也。口中氣出，唇口乾躁，鼻中涕出，此為內熱；陰陽脈緊，舌上苔滑，　臥足冷，又是內寒。此少陰為樞，故見寒熱相持之症，而口舌唇鼻之半表半裡，恰與少陽口苦咽乾目眩相應也。勿妄治者，恐陰陽相持時，清火溫補等法用之不當，寧靜以待之至七日來復。微發熱，手足溫，是陰得陽則解也。若八日以上反大發熱，再加吐利，即是亡陽。若其人反加惡寒，是寒甚於表，上焦應之，必欲嘔矣。若加腹痛是寒甚於裡，中焦受之，必欲利矣。當此陰盛，急當扶陽，庶不為假熱所惑而妄治。</p>
<p>但欲寐，即是不得眠。然但欲寐是病情，乃問而知之；不得眠是病形，可望而知之。欲寐是陰虛，不眠是煩躁，故治法不同。三陽惟少陽無承氣症，三陰惟少陰有承氣症。少陽為陽樞，陽稍虛，便入於陰，故不得妄下，以虛其元陽。少陰為陰樞，陽有餘，便傷其陰，故當急下以存其真陰。少陽屬木，惟畏其克土，故無下症；少陰主水，更畏有土制，故當急下。蓋真陰不可虛，強陽不可縱也。</p>
<p>少陰病用大承氣急下者有三症；得病二三日，熱淫於內，腎水不支，因轉屬陽明，胃火上炎，故口燥咽乾也，急下之，穀氣下流，津液得升矣。得病六七日，當解不解，津液枯涸，因轉屬陽明，故腹脹不大便，所謂已入於腑，下之則脹已，宜於急下者。六七日來，陰虛已極，恐土燥於中，心腎不交耳。若自利純清水，心下痛，口燥舌乾者，是土燥火炎，脾氣不濡，胃氣反濃，水去而穀不去，故宜於急下。</p>
<p>少陰為性命之根，少陰病是生死關，故六經中獨於少陰歷言死症。然少陰中風，始得時，尚有發熱脈沉可汗症。若初受傷寒，其機甚微，脈微細但欲寐，口中和，背惡寒，人已皆不覺其為病也。若身體痛，手足寒，骨節痛，脈沉者，此表中陽虛症；若欲吐不吐，心煩欲寐，自利而渴，小便色白者，此裡之陽虛症；心煩不得臥，此裡之陰虛症也。若下利咽痛胸滿心煩，與口中氣出，唇口燥干，鼻中涕出，　臥足冷，舌上苔滑者，此少陰半表半裡，陰陽駁雜之症也。脈陰陽俱緊，反汗出而咽痛吐利者，此陰極似陽，腎陽不歸，為亡陽症也。若至八九日，一身手足盡熱者，是寒極生熱，腎陽鬱極而勝復太過也。其腹痛下利，少便不利者，有水火之分；若四肢沉重疼痛，為有水氣，是陽虛而不勝陰也；若便膿血與泄利下重者，此為火鬱，是陽邪陷入於陰中也。下利清穀，裡寒外熱，手足厥逆，脈微欲絕，身反不惡寒，其人面赤者，是下虛而格陽也。吐利兼作，手足逆冷，煩躁欲死者，是陰極而發躁也。岐伯曰：「陰病治陽，陽病治陰，定其中外，各守其鄉。」此即仲景治少陰之大法也。同是惡寒臥，利止手足溫者可治，利不止手足逆冷者不治。時自煩欲去衣被者可治，不煩而躁，四逆而脈不至者死。</p>
<p>同是吐利，手足不逆冷、反發熱者不死，煩躁四逆者死。同是嘔吐汗出，小便數、少者可治，自利煩躁，不得臥者死。蓋陰陽互為其根，陰中無陽則死，獨陰不生故也。</p>
<h3>厥陰病解第六</h3>
<p>太陰厥陰，皆以裡症為提綱。太陰為陰中之陰而主寒，故不渴；厥陰為陰中之陽而主熱，故消渴也。太陰主濕土，土病則氣陷下，濕邪入胃，故腹痛自利；厥陰主相火，火病則氣上逆，火邪入心，故心中疼熱也。太陰腹滿而吐，食不下；厥陰飢不欲食，食即吐蛔。同是食不下，太陰則滿，厥陰則飢。同是一吐，太陰則吐食，厥陰則吐蛔。此又屬土屬木之別也。太陰為開，本自利而下之，則開折，胸下痞硬者，開折反　也；厥陰為　，氣上逆而下之，則　折，利不止者，　折反開也。</p>
<p>兩陰交盡，名曰厥陰，又名陰之絕陽，是厥陰宜無熱矣。然厥陰主肝，而膽藏肝內，則厥陰熱症，皆少陽相火內發也。要知少陽厥陰，同一相火。相火入於內，是厥陰病；相火出於表，為少陽病。少陽咽乾，即厥陰消渴之機；胸脅痞滿，即氣上撞心之兆；心煩，即邪熱之初；不欲食，是飢不欲食之根；喜嘔，即吐蛔之漸。故少陽不解，轉屬厥陰而病危；厥陰病衰，轉屬少陽而欲愈。如傷寒熱少厥微，指頭寒不欲食，至數日熱除，欲得食，其病愈者是已。</p>
<p>太陰提綱是內傷寒，不是外感。厥陰提綱是溫病，而非傷寒。要知六經各有主症，是仲景傷寒雜病合論之旨也。諸經傷寒無渴症，太陽不惡寒而渴，即是溫病也。惟厥陰傷寒，肝木鬱而不得出，熱甚於內，盜竊母氣以克火，故渴欲飲水。若不惡寒，當作溫病治之。要知溫乃風木之邪，是厥陰本病，消渴是溫病之本，厥利是溫病之變。《內經》所謂熱病皆傷寒之類，此正其類也。</p>
<p>厥陰消渴，即以水飲之，所謂順其欲，然少與之可以平。凡水多與之，反以益陰邪，當量其消與不消，恐水漬入胃也。渴欲飲水與飢不欲食對看，始盡厥陰病情。</p>
<p>手足厥冷，脈微欲絕，是厥陰傷寒之外症；當歸四逆，是厥陰傷寒之表藥。夫陰寒如此而不用薑、附者，以相火寄於肝經，外雖寒而臟不寒。故先厥者，後必發熱，手足愈冷，肝膽愈熱，故厥深熱亦深。所以傷寒初起，脈症如此者，不得遽認為虛寒，妄投薑、附以遺患也。</p>
<p>厥者必發熱，熱與厥相應，厥深熱亦深，厥微熱亦微，此四證是厥陰傷寒之定局。先熱後厥，厥熱往來，厥多熱少，熱多厥少，此四證是厥陰傷寒之變局。皆因其人陽氣多寡而然，如太陽傷寒亦有已發熱未發熱之互詞也。</p>
<p>《內經》之寒熱二厥，因於內傷，與本論因外邪者不同。《內經》熱厥，只在足心，是腎火起涌泉之下也。本論熱厥，因熱在肝臟，而手足反寒，故曰厥深熱亦深。《內經》之寒厥，有寒無熱；本論之寒厥，先厥者後必發熱。熱勝則生，寒勝則死，此內傷外感之別。厥陰有晦朔具合之理，陰極陽生，故厥陰傷寒，反以陽為主。熱多厥少，是為生陽，故病當愈；厥多熱少，是為死陰，故病為進。其熱氣有餘者，或便膿血，或發癰膿，亦與《內經》熱厥不同。</p>
<p>陰氣起於五指之裡，陽氣起於五指之表，氣血調和，營衛以行，則陰陽相貫，如環之無端也。厥陰無陽，厥陰病則陰陽不相順接，故手足厥冷。若熱少厥微而指頭寒，知病可愈，手足反溫者，雖下利必自愈，此陰陽自和而順接也。若脈微煩躁，灸厥陰，厥不還者死，是陰陽之氣絕矣。</p>
<p>本篇云：「諸四逆厥者，不可下。」又曰：「厥應下之而反發汗者，必口傷爛赤。」二義不同，當理會上下矣。蓋諸四逆不可下，是指傷寒脈微欲絕，此時外寒切迫，內熱未起。此當發汗，是指虛寒症言，故曰虛家亦然。</p>
<p>應下之者，是脈滑而厥，內熱閉郁，故曰厥深熱亦深。若發汗只能引火上升，不能逐熱外散，故令口傷。所謂下之是下其熱，非下其實。泄利下重者，四逆散；欲飲水數升者，白虎湯。此厥陰之下藥，所以下無形之邪也。若以承氣下之，利不止矣。</p>
<p>診厥陰脈，以陽為主，而治厥陰病，以陰為主。故當歸四逆不去芍藥，白頭翁重用芩、連，烏梅丸用黃連至一斤，又佐黃柏六兩，復脈湯用地黃至一斤，又佐麥冬八兩。要知脈微欲絕，手足厥冷，雖是陰盛，亦未陽虛，故可表散外邪，不可固裡。脈結代心動悸者，似乎陽虛，實為陰弱，只可大劑滋陰，不可溫補。所以然者，肝之相火，本少陽之生氣，而少陽實出於坎宮之真陰。《經》曰：「陽予之正，陰為之主。」又曰：「陰虛則無氣。」</p>
<p>又曰：「少火生氣，壯火食氣。」審此，則知治厥陰之理矣。</p>
<p>中州四肢，皆脾所主。厥陰傷寒，手足逆冷，而又下利，木克土也。復發熱者，下利必自止，火生土也。若肝火上行逼心，故反汗出氣上衝心，心不受邪，因而越之，故咽中痛而喉為痹。若發熱而利，汗出不止者死，是虛陽外亡，為有陰無陽，與少陰亡陽同義。若肝火內行而入脾，火土合德，必無汗而利自止。若發熱而利不止，此肝火內行，血室不寧，故便膿血。若發熱下利，甚至厥不止者死，是土敗木賊，諸陽之本絕也。厥陰傷寒，有乘脾乘肺二症，疑似難明，最當詳辨。一曰傷寒腹滿譫語，寸口脈浮而緊，此肝乘脾也，名曰縱，刺期門。夫腹滿譫語，似胃家實，然脈浮緊而不潮熱，非陽明脈也。《脈法》曰：「浮而緊者，名曰弦。」此弦為肝脈矣。《內經》曰：「諸腹脹大，皆屬於熱。」又曰：「肝氣盛則多言。」是腹滿由於肝火，而譫語乃肝氣所發也。木旺則侮其所勝，直犯脾土，故名縱。一曰傷寒發熱，嗇嗇惡寒，大渴欲飲水，其腹必滿，此肝乘肺也，名曰橫，刺期門。夫發熱惡寒，似太陽之表；未經大汗而大渴，非轉屬陽明；未經妄下而腹滿，非轉屬太陰。且頭不痛，胃不實，不下利，斷非三經症矣。</p>
<p>然知發熱惡寒是肺病，肺虛而肝火乘之。脾畏木邪，水精不上歸於肺，故大渴；肺不能通調水道，故腹滿。是侮所不勝寡於畏也，故名橫，一縱而乘脾，一橫而乘肺，總是肝有亢火，當瀉無補，必刺期門，隨其實而瀉之。募原清則氣皆順，表裡盡解矣。此非汗吐下清火諸法所可治，故宜針。</p>
<p>傷寒陽脈澀，陰脈弦，腹中急痛者，此亦肝乘脾也。故先與小建中安脾，繼與小柴胡疏木。要知小建中是桂枝湯倍加芍藥以平木加飴糖以緩急，為厥陰驅邪發表、和中止痛之神劑也。不瘥者，中氣虛而不振，邪尚留連，繼以小柴胡補中發表，令木邪直走少陽，使有出路，所謂陰出之陽則愈也。仲景有一症而用兩方者；在太陽，先麻黃繼桂枝，是先外後內法；在厥陰，先建中後柴胡，是先內後外法，亦是令厥陰轉屬少陽之機。</p>
<p>傷寒厥而心下悸者，此亦肝乘肺也。雖不發熱惡寒，亦木實金虛，水氣不利所致。彼腹滿者，是水在中焦，故刺期門以瀉其實。此水在上焦，故用茯苓甘草湯以發其汗。此方是化水為汗，發散內邪之劑，即厥陰治厥之劑也。</p>
<p>厥陰中風之脈，與他經不同。凡脈浮為風，此云不浮為未愈，是厥陰中風，脈反沉矣。此本由陰虛，風入地中，木鬱不舒，故未愈；微浮是風行地上，草木發陳，復厥陰風木之常，故愈也。</p>
<p>凡脈浮為在表，沉為在裡。厥陰中風，其脈既沉，其症亦為在裡。</p>
<p>此熱利下重，是厥陰中風也。太陽中風，下利嘔逆，是有水氣；厥陰中風，熱利下重，是有火氣。故以白頭翁湯為主以治風，芩、連為輔以清火，佐秦皮以升九地之風，則肝木欣欣向榮矣。下利而渴欲飲水，是厥陰之消渴，亦中風之煩所致也。下利脈沉弦，是沉為在裡，弦為風脈。弦而大，是風因火動，故利未止。微弱數者，是風火勢微，故為自止。雖發熱不死者，陰出之陽也。下利有微熱，汗出，見中風本症，裡症出表，則風從外散，故令自愈。欲愈之脈，當微浮。若寸脈反浮數，風去而熱不去，尺中自澀者，熱傷陰絡，肝血不藏，必便膿血也。</p>
<p>厥陰中風熱利，是裡有熱；傷寒亦有協熱利，是裡有寒。又與厥利不同，厥利見發熱則利止。此六七日不利，便發熱而利，汗出不止，是外熱內寒，故為有陰無陽。要知《內經》之舌卷囊　，是有陽無陰，故熱雖甚而可治。</p>
<p>厥陰下利，有因厥而利者，有協熱而利者，有內熱而利者，總屬於熱，乃相火挾風木而為患也。</p>
<p>陰陽易之為病，本於厥陰之欲火。始也因肝火之動，致傷少陰之精；繼也少陰之精不藏，厥陰之火不羈。所以少腹裡急，陰中拘攣，熱上衝胸，眼中生花，身重少氣，頭重不欲舉，皆厥陰相火為眚。頓令無病之人，筋脈形氣為之一變。此即瘟疫傳染，遺禍他人之一症也。</p>
<h3>制方大法第七</h3>
<p>凡病有名有症，有機有情，如中風、傷寒、溫暑、濕痙等類，此為名也。外有頭痛、身痛、腰痛，內有喘咳、煩渴、吐利、腹滿，此為症也。其間在表在裡，有汗無汗，脈浮脈沉，有力無力，是其機也。此時惡寒惡熱，苦滿喜嘔，能食不欲食，欲臥不得臥，或飲水數升，或漱水不欲咽，皆病情也。因名立方者，粗工也；據症定方者，中工也；於症中審病機察病情者，良工也。仲景制方，不拘病之命名，惟求症之切當，知其機得其情，凡中風傷寒雜病，宜主某方，隨手拈來，無不活法，此謂醫不執方也。今談仲景方者，皆曰桂枝湯治中風，不治傷寒，麻黃湯治傷寒，不治中風。不審仲景此方主何等症，又不審仲景何症用何等藥，只在中風、傷寒二症中較量，青龍、白虎命名上敷衍，將仲景活方活法，為死方死法矣。</p>
<p>仲景立方精而不雜，其中以六方為主，諸方從而加減焉。凡汗劑皆本桂枝，吐劑皆本梔豉，攻劑皆本承氣，和劑皆本柴胡，寒劑皆本瀉心，溫劑皆本四逆。溷而數之，為一百十三方者，未之審也。</p>
<p>六經各有主治之方，而他經有互相通用之妙。如麻、桂二湯，為太陽營衛設，而陽明之病在營衛者亦用之。</p>
<p>真武湯為少陰水氣設，而太陽之汗後亡陽者亦用之。四逆湯為太陰下利清穀設，太陽之脈反沉者宜之。五苓散為太陽消渴水逆設，陽明之飲水多者亦宜之。豬苓湯為少陰下利設，陽明病小便不利者亦宜之。抵當湯為太陽瘀血在裡設，陽明之蓄血亦用之。瓜蒂散為陽明胸中痞硬設，少陰之溫溫欲吐者亦用之。合是症便用是方，方各有經，而用可不拘，是仲景法也。仲景立方，只有表裡寒熱虛實之不同，並無傷寒中風雜症之分別，且風寒有兩湯迭用之妙，表裡有二方更換之奇。或以全方取勝，或以加減奏功。後人論方不論症，故反以仲景方為難用耳。桂枝汗劑中第一品也，麻黃之性直透皮毛，生薑之性橫散肌肉。故桂枝佐麻黃，則開玄府而逐衛分之邪，令無汗者有汗而解，故曰發汗；桂枝率生薑，則開腠理而驅營分之邪，令有汗者復汗而解，故曰解肌。解肌者解肌肉之邪也，正在營分，何立三綱者反立麻黃主營、桂枝主衛耶？麻黃不言解肌，而肌未嘗不解；桂枝之解肌，正所以發汗。</p>
<p>要知麻黃桂枝二湯，是發汗分深淺之法，不得以發汗獨歸麻黃，不得以解肌與發汗對講。前人論方不論藥，只以二方為談柄，而置之不用也。</p>
<p>凡風寒中人，不在營衛，即入腠理。仲景制桂枝湯調和營衛，製柴胡湯調和腠理。觀六經症，仲景獨出桂枝症、柴胡症之稱，見二方任重，不可拘於經也。惟太陽統諸陽之氣，六經表症，咸屬於太陽，故柴胡湯得與桂枝湯對待於太陽之部。桂枝本為太陽風寒設，凡六經初感之邪，未離營衛者悉宜之；柴胡本為少陽半表設，凡三陽半表之邪，逗留腠理者悉宜之。仲景最重二方，所以自為桂枝症注釋，又為小柴胡注釋。桂枝有疑似症，柴胡亦有疑似症。桂枝有壞病，柴胡亦有壞病。桂枝症罷，桂枝不中與矣，而隨症治法，仍不離桂枝方加減；柴胡症罷，柴胡不中與矣，而設法救逆，仍不出柴胡方加減。</p>
<p>麻黃症熱全在表。桂枝之自汗，大青龍之煩躁，皆兼裡熱。仲景於表劑中，便用寒藥以清裡。自汗是煩之兆，躁是煩之征。汗出則煩得外泄，故不躁，宜用微寒酸苦之味以和之；汗不出則煩不得泄，故躁，宜用大寒堅重之品以清之。夫芍藥、石膏是裡藥入表劑，今人不審表中有裡，因生疑畏，當用不用，至熱並陽明，而斑黃狂亂髮矣。是不任大青龍之過也。仲景於太陽經中用石膏以清胃火，是預保陽明之先著；加薑、棗以培中，又慮夫轉屬太陰矣。</p>
<p>小青龍、柴胡，俱是兩解表裡之劑，小青龍重在裡症，小柴胡重在表症。故小青龍加減，麻黃可去；小柴胡加減，柴胡獨存。蓋小青龍重在半裡之水，小柴胡重在半表之熱也。小青龍治傷寒未解之水氣，故用溫劑，汗而發之；十棗湯治中風已解之水氣，故用寒劑，引而竭之。此寒水、風水之異治也。小青龍之水，動而不居；五苓散之水，留而不行；十棗湯之水，縱橫不羈；大陷胸之水，痞硬堅滿；真武湯之水，四肢沉重。水氣為患不同，所以治法各異。</p>
<p>林億云：「瀉心本名理中黃連人參湯，蓋瀉心療痞，正是理中處。」當知仲景用理中，有寒熱兩法，一以扶陽，一以益陰也。邪在營衛之間，惟汗是其出路，故立麻黃、桂枝二方。邪在胸腹之間，惟吐是其出路，故立瓜蒂、梔豉二方。瓜蒂散主胸中痞硬，治在上焦；梔豉湯主腹滿而喘，治兼中焦。猶麻黃之主皮膚，桂枝之主肌肉。</p>
<p>瓜蒂散峻劑也，猶麻黃之不可輕用；梔豉湯輕劑也，猶桂枝湯之可更用而無妨。故太陽表劑，多從桂枝加減；陽明表劑，多從梔豉加減。陽明用梔豉，猶太陽用桂枝，既可用之以去邪，即可用之以救逆。今人但知汗為解表，不知吐亦為解表，知吐中使能發散之說，不知所以當吐之義。故於仲景大法中，取其汗下遺其吐法耳。</p>
<p>少陽為樞，不全在裡，不全在表。仲景本意重裡，而柴胡所主又在半裡，故必見半表病情，乃得從柴胡加減。</p>
<p>如悉入在裡，則柴胡非其任矣，故柴胡稱解表之方。小柴胡雖治在半表，實以理三焦之氣，所以稱樞機之劑。如胸滿胸中煩，心煩心下悸，咳渴喜嘔，是上焦無開發之機也；腹滿脅下痞硬，是中焦廢轉運之機也；小便不利，是下焦失決瀆之任也。皆因邪氣與正氣相搏而然，用人參扶三焦之正氣，壯其樞耳。</p>
<p>少陰病二三日，心中煩不得臥者，病本在心，法當滋離中之真火，隨其勢之潤下，故君黃連之苦寒以泄之。</p>
<p>四五日小便不利，下膿血者，病本在腎，法當升坎中之少火，順其性之炎上，故佐乾薑之苦溫以發之。此伏明之火，與升明之火不同。少陰心煩欲寐，五六日，欲吐不吐，自利而渴，小便色白者，是下焦虛寒，不能制水，宜真武湯，以溫下焦之腎水。下利六七日，咳而嘔渴，心煩不眠，是上焦虛熱，水津不布，宜豬苓湯，以通上焦之津液。</p>
<p>四逆為太陰主方，而諸經可以互用。在太陰本經，固本以逐邪也；用於少陰，溫土以制水也；用於厥陰，和土以生木也；用於太陽，益火以扶元陽也。惟陽明胃實、少陽相火，非所宜耳。</p>
<p>少陰病四五日，腹痛小便不利，下利不止。若四肢沉重疼痛者，為下焦水鬱，用真武湯，是引火歸元法；若便膿血者，為下焦火鬱，用桃花湯，是升陽散火法。此因坎中陽虛，不得以小便不利作熱治。</p>
<p>小柴胡為少陽主方，烏梅為厥陰主方。二方雖不同，而寒溫互用、攻補兼施之法相合者，以臟腑相連、經絡相貫、風木合氣、同司相火故也。其中皆用人參，補中益氣以固本逐邪，而他味俱不相襲者，因陰陽異位。陽宜升發，故主以柴胡；陰宜收降，故主以烏梅。陽主熱，故重用寒涼；陰主寒，故重用辛熱。陽以動為用，故湯以蕩之，其症變幻不常，故柴胡有加減法；陰以靜為體，故丸以緩之，其症有定局，故烏梅無加減法也。</p>
<p>厥陰下利，用白頭翁湯，升陽散火，是火鬱發之也。制烏梅丸以收火，是曲直作酸之義。佐苦寒以和陰，主溫補以存陽，是肝家調氣之法也。其治厥利與久利，故半兼溫補。白頭翁湯主中風熱利與下重，故專於涼散。</p>
<p>按：發表攻裡，乃御邪之長技。蓋表症皆因風寒，如表藥用寒涼，則表熱未退而中寒又起。所以表藥必用桂枝，發表不遠熱也，然此為太陽表熱言耳。如陽明少陽之發熱，則當用柴、芩、梔、豉之類主之。裡症皆因鬱熱，下藥不用苦寒，則瘀熱不除，而邪無出路。所以攻劑必用大黃，攻裡不遠寒也，然此謂陽明胃熱言耳。如惡寒痞硬，陽虛陰結者，又當以薑、附、巴豆之類兼之矣。</p>
<p>麻黃、桂枝，太陽陽明表之表藥；瓜蒂、梔豉，陽明裡之表藥；小柴胡，少陽半表之表藥。太陰表藥桂枝湯，少陰表藥麻黃附子細辛湯，厥陰表藥當歸四逆湯。六經之用表藥，為六經風寒之出路也。</p>
<p>手足厥逆之症，有寒熱表裡之各異。四逆散解少陰之裡熱，當歸四逆湯解厥陰之表寒，通脈四逆湯挽少陰真陽之將亡，茯苓四逆湯留太陰真陰之欲脫。四方更有各經輕重淺深之別也。</p>
<p>膀胱主水，為太陽之裡，十棗、五苓，為太陽水道之下藥；胃腑主穀，為陽明之裡，三承氣為陽明穀道之下藥；膽腑主氣；為少陽之裡，大柴胡為少陽氣分之下藥。此三陽之下藥，三陽實邪之出路也。大腸小腸，皆屬於胃，胃家實則二腸俱實矣。若三分之，則調胃承氣胃家之下藥，小承氣小腸之下藥，大承氣大腸之下藥。戊為燥土，庚為燥金，故加芒硝以潤其燥也。桂枝加大黃，太陽轉屬陽明之下藥；桂枝加芍藥，太陽轉屬太陰之下藥。</p>
<p>凡下劑兼表藥，以未離於表故也。柴胡加芒硝，少陽轉屬陽明之下藥。大柴胡下少陽無形之邪，柴胡加芒硝下少陽有形之邪也。桂枝加芍藥下太陰無形之邪，三物白散下太陰有形之邪也。四逆散下少陰厥陰無形之邪，承氣湯下諸經有形之邪也。其間有輕重之分；下劑之輕者，只用氣分藥；下劑之重者，兼用血分藥。酸苦涌泄，下劑之輕，故芍藥、枳實為輕；鹹苦涌泄，下劑之重，故大黃、芒硝為重。</p>
<p>仲景用攻下二字，不專指大便。凡與桂枝湯欲攻其表，此指發汗言；表解者乃可攻之，指利水言；有熱屬臟者攻之，指清火言也。寒濕在裡不可下，指利水言；以有熱故也，當以湯下之，指清火言也。</p>
<p>仲景下劑，只重在湯，故曰醫以丸藥下之，非其治也。觀陷胸、抵當二丸，仍用水制，是丸復其湯，重兩許，連滓服，則勢力更猛於湯、散劑矣。當知仲景方以銖、兩、分計者，非外感方；丸如桐子大，每服十丸者，不是治外感法。</p>
<p>仲景制方，隨方立禁，使人受其功不蹈其弊也。如用發表藥，一服汗者停後服。若脈浮緊發熱汗不出者，不可與桂枝；若脈微弱汗出惡風者，不可服大青龍湯；脈浮發熱無汗，表不解者，不可與白虎；諸亡血虛家，不可用瓜蒂；病患舊微溏者，不可與梔子；陽明病汗出多者，不可與豬苓；外未解，其熱不潮者，未可與承氣；嘔家不可與建中。皆仲景慎重出之者也。仲景加減有深意。如腹中痛者，少陽加芍藥，少陰加附子，太陰加人參。若心下悸者，少陰加桂枝，少陽加茯苓。若渴者，少陽加栝蔞根、人參，太陰加白朮。加減中分陰陽表裡如此。故細審仲景方，知隨症立方之妙；理會仲景加減法，知其用藥取舍之精。</p>
<p>小青龍設或然五症，加減法內即備五方。小柴胡設或然七症，即具加減七方。要知仲景有主治之方，如麻、桂等方是也；有方外之方，如桂枝東加附子加大黃輩是也；有方內之方，如青龍、真武之有加減法是也。仲景書法中有法，方外有方，何得以三百九十七法、一百一十三方拘之耶？昔岐伯創七方以制病，仲景更窮其病之變幻，而盡其精微。如發表攻裡，乃逐邪大法，而發表攻裡之方，各有大小，如青龍、柴胡、陷胸、承氣是也。夫發表既有麻黃、桂枝方矣，然有裡邪夾表而見者，治表不及裡，非法也。而裡邪又有夾寒夾熱之不同，故制小青龍以治表熱裡寒，制大青龍以治表寒裡熱，是表中便兼解裡也，不必如壞病之先裡後表、先表後裡之再計也。然大、小青龍，即麻、桂二方之變，只足以解營衛之表，不足以驅腠理之邪。且邪留腠理之間，半表之往來寒熱雖同，而半裡又有夾虛夾實之懸殊。因制小柴胡而防半裡之虛，大柴胡以除半裡之實，是表中便兼和裡也，不必如後人之先攻後補、先補後攻之斟酌也。攻裡既有調胃承氣矣，然裡邪在上焦者有夾水夾痰之異，在中焦者有初硬後溏、燥屎定硬之分，非調胃所能平也。因制小陷胸以清胸膈之痰，大陷胸以下胸膈之水，小承氣以試胃家之矢氣，大承氣以攻腸胃之燥屎，方有分寸，邪氣去而元氣無傷，不致有顧此遺彼、太過不及之患也。按發表攻裡之方，各有緩急之法。如麻黃、大承氣汗下之急劑也，而桂枝則發表之緩劑。其用桂枝諸法，是緩汗中更有輕重矣。小承氣下之緩劑也，曰少與之令小安，曰微和胃氣，曰不轉矢氣者勿更與之。其調胃承氣下之尤緩者也，曰少少溫服之，且不用氣分藥，更加甘草。是緩下中亦有差別矣。若夫奇偶之法，諸方既已備見，而更有麻桂各半之偶，有桂枝二麻黃一之奇，是奇偶中之各有淺深也。服桂枝湯已，須更啜熱粥，為復方矣，而更有取小柴胡一升加芒硝之復，是復中又分汗下二法矣。若白散之用復方更異，不利，進熱粥一杯，利不止，進冷粥一杯，是一粥中又寓熱瀉冷補之二法也。</p>
<p>病有虛熱相關，寒熱夾雜，有時藥力所不能到者，仲景或針或灸以治之。自後世針、藥分為兩途，刺者勿藥，藥者勿刺，豈知古人刺、藥相須之理。按岐伯治風厥，表裡刺之，飲之以湯。故仲景治太陽中風，服桂枝湯反煩不解者，刺風池、風府，復與桂枝湯而愈。陽明中風，刺之小瘥，如外不解，脈弦浮者，與小柴胡，脈但浮無余症者與麻黃湯。吾故曰：仲景治法，悉本《內經》，先聖後聖，其揆一也。</p>
<p>仲景方備十劑之法；輕可去實，麻黃葛根諸湯是已；宣可決壅，梔豉、瓜蒂二方是已；通可行滯，五苓、十棗之屬是已；泄可去閉，陷胸、承氣、抵當是已；滑可去著，膽導、蜜煎是已；澀可固脫，赤石脂桃花湯是已；補可扶弱，附子、理中丸是已；重可鎮怯，禹餘糧、代赭石是已；濕可潤燥，黃連阿膠湯是已；燥可去濕，麻黃連翹赤小豆湯是已；寒能勝熱，白虎、黃連湯是已；熱能制寒，白通、四逆諸湯是已。</p>
