<header><h1>黃帝明堂灸經</h1></header>
<dl class="元資料" data-type="book">
<div><dt>朝代</dt><dd>唐</dd></div>
<div><dt>作者</dt><dd>不詳</dd></div>
</dl>
<h2>序</h2>
<p>夫玄黃始判，上下爰分，中和之氣為人，萬物之間最貴，莫不稟陰陽氣度，作天地英靈。頭於日月，呼吸猶若風云，氣血以類江河，毛髮比之草木，雖繼體於父母，悉取象於乾坤，貴且若斯，命豈輕也。是以立身之道，濟物居先，保壽之宜，治病為要。草木有蠲　之力，針灸有劫病之功，欲滌邪由，信茲益矣。夫明堂者，聖人之遺教，黃帝之正經，紀血脈循環，明陰陽俞募，窮流注之玄妙，辨穴道之根源，為臟腑權衡，作經絡津要。今則采其精粹，去彼繁蕪，皆目睹有憑。手經奇功，書病源以知主療，圖人形貴免參差。並集小兒明堂，編錄於次，庶幾長幼盡涉安衢，欲俾華夷同歸壽域云爾。(按上文已見載《太平聖惠方》)</p>
<p><u>至大辛亥春月燕山活濟堂刊</u></p>
<h2>卷上</h2>
<h3>定尺寸法</h3>
<p>《岐伯明堂經》云：以八寸為一尺，以八分為一寸。緣人有長短肥瘦不同，取穴不準。</p>
<p>短手長，取穴不準。</p>
<p>唐時《孫思邈明堂經》云：取患人男左女右，手大拇指節橫紋為一寸。以意消詳，巧拙亦有一法，令取男左女右，手中指第二節，內度兩橫紋相去為一寸。自依此寸法，與人著灸療病以來，其病多得獲愈。此法有準，今以為定。</p>
<h3>點灸法</h3>
<p>凡點灸時，須得身體平直，四肢無令拳縮，坐點無令俯仰，立點無令傾側。灸時孔穴不正，</p>
<h3>下火法</h3>
<p>凡下火點灸，欲令艾炷根下赤輝廣三分，若不三分，孔穴不中，不合得經絡。緣榮衛經脈，氣血通流，各有所主，灸穴不中，即火氣不能遠達，而病未能愈矣。</p>
<h3>用火法</h3>
<p>古來用火灸病，忌八般木火，切宜避之。八木者，松木火難瘥增病，柏木火傷神多汗，竹木火傷榮衛經絡。有火珠耀日，以艾丞之，遂得火出，此火灸病為良，凡人卒難備矣；次有火照耀日，以引之便得火出，此火亦佳。若遇天色陰暗，遂難得火，今即不如無木火也，灸人不犯諸忌，兼去久　，清油點燈，燈上燒艾莖點灸是也；兼滋潤灸後至瘡愈已安。且無疼痛；用蠟燭更佳。諸蕃部落，知此八木火之忌，用鑌鐵擊KT　石得火出，以艾引之，遂乃著灸。</p>
<h3>候天色法</h3>
<p>凡點灸時，若值陰霧大起，風雪忽降，猛雨炎暑，雷電虹霓，暫時且停，候待晴明，即再下火灸。灸時不得傷飽大飢，飲酒大醉，食生硬物。兼忌思慮愁憂，恚怒呼罵，吁嗟嘆息，一切不祥，忌之大吉。</p>
<h3>定灸多少法</h3>
<p>凡灸頭與四肢，皆不令多灸。緣人身有三百六十五絡，皆歸於頭，頭者，諸陰之會也。</p>
<p>若灸多，令人頭旋目眩，遠視不明。緣頭與四肢肌肉薄，若並灸，則氣血滯絕於炷下，宜歇火氣少時，令氣血遂通，再使火氣流行，候炷數足，自然除病，宜詳察之。</p>
<h3>定發際法</h3>
<p>凡灸發際，如是患人有發際整齊，依明堂所說，易取其穴；如是患人，有因疾患後脫落盡發際，或性本額項無發，難憑取穴，今定患人兩眉中心，直上三寸為發際，後取大椎直上三寸為發際，以此為準。</p>
<h3>發灸瘡法</h3>
<p>凡著火療病，歷春夏秋冬不較者，灸炷雖然數足，得瘡發膿壞，所患即瘥；如不得瘡發膿壞，其疾不愈。《甲乙經》云：灸瘡不發者，用故履底灸令熱熨之，三日即發，膿出自然愈疾。今用赤皮蔥三、五莖，去其蔥青，於　灰火中煨熱，拍破熱慰灸瘡十余遍，其瘡三日自發</p>
<h3>淋洗灸瘡法</h3>
<p>凡著灸治病，才住火，便用赤皮蔥、薄荷二味煎湯，溫溫淋洗灸瘡周回約一、二尺以來，驅令逐風氣於瘡口內出，兼令經脈往來不滯於瘡下，自然瘡壞疾愈。若灸瘡退火痂後，用桃樹東南枝梢，青嫩柳皮二味，等分煎湯，溫溫淋洗灸瘡，此二味，偏能護灸瘡中諸風。若瘡內黑爛潰者，加胡荽三味，等分煎湯，溫溫淋洗，灸瘡自然生好肉也。若灸瘡疼痛不可忍，多時不較者，加黃連四味，等分煎湯淋洗，立有神效。</p>
<h3>貼灸瘡法</h3>
<p>春取柳飛花如鵝毛者，夏用竹膜，秋用新棉，冬用兔毛，取腹上白細膩者，貓兒腹上者</p>
<h3>人神所在不宜針灸</h3>
<p>一日在大趾，二日在外踝，三日在股內，四日在腰間，五日在口舌，六日在兩手，七日在內十四日在胃管，十五日在遍身，十六日在胃，十七日在氣衝，十八日在股內，十九日在足，二十日在內踝，二十一日手小指，二十二日在外踝，二十三日肝及足，二十四日手陽明，二十五日足陽明，二十六日在胸，二十七日在膝，二十八日在陰，二十九日膝脛，</p>
<h3>每月忌日不宜針灸出血</h3>
<p>正月丑日，二月未日，三月寅日，四月申日，五月卯日，六月酉日，七月辰日，八月戌日，九月巳日，十月亥日，十一月午日，十二月子日。</p>
<h3>十二部人神不宜灸</h3>
<p>建日在足，禁晡時；除日在眼，禁日入；滿日在腹，禁黃昏；平日在背，禁人定，定日在心，禁夜半；執日在手，禁雞鳴；破日在口，禁平旦；危日在鼻，禁日出；成日在唇，禁食時；收日在頭，禁禺中；開日在耳，禁午時；閉日在目，禁日　。</p>
<h3>十二時忌不宜灸</h3>
<p>子時在踝，丑時在頭，寅時在耳，卯時在面，辰時在項，巳時在乳，午時在胸，未時在腹，申時在心，酉時在背，戌時在腰，亥時在股。</p>
<h3>十二部年人神不宜灸</h3>
<p>一歲：十三、二十五、三十七、四十九、六十一、七十三、八十五。　人神在心。</p>
<p>二歲：十四、二十六、三十八、五十、六十二、七十四、八十六。　人神在喉。</p>
<p>三歲：十五、二十七、三十九、五十一、六十三、七十五、八十七。　人神在頭。</p>
<p>四歲：十六、二十八、四十、五十二、六十四、七十六、八十八。　人神在眉。</p>
<p>五歲：十七、二十九、四十一、五十三、六十五、七十七、八十九。　人神在背。</p>
<p>六歲：十八，三十、四十二、五十四、六十六、七十八、九十。　人神在腰。</p>
<p>七歲：十九、三十一、四十三、五十五、六十七、七十九、九十一。　人神在腹。</p>
<p>八歲：二十、三十二、四十四、五十六、六十八、八十、九十二。　人神在項。</p>
<p>九歲：二十一、三十三、四十五、五十七、六十九、八十一、九十三。　人神在足。</p>
<p>十歲：二十二、三十四、四十六、五十八、七十、八十二、九十四。　人神在膝。</p>
<p>十一歲：二十三、三十五、四十七、五十九、七十一、八十三、九十五。　人神在陰。</p>
<h3>九部旁通人神不宜灸</h3>
<p><a href="_files/p06-d15a1.bmp">九部旁通人神不宜灸</a></p>
<h3>雜忌旁通不宜灸</h3>
<p><a href="_files/p06-d15a2.bmp">雜忌旁通不宜灸</a></p>
<h3>四季人神不宜灸</h3>
<p>春在左脅，秋在右脅，夏在臍，冬在腰。男忌除日，女忌破日。</p>
<h3>胡侍郎奏過尻神指訣</h3>
<p><a href="_files/pm-m1.bmp">胡侍郎奏過尻神指訣</a></p>
<p>一歲十歲起，二官順行，逐日人神，就甲子內檢尻神者，神農之所制也。凡人年命巡行九宮，值此尻神所在不可針灸。犯者必主喪命，或生癰疽，尚憂致命，宜急速醫治。《明堂》云：以八分為一寸；孫思邈云：人有長短肥瘦，宜取患人中指第二節兩橫紋相去為則。</p>
<h3>天醫取師療病吉日</h3>
<p>正月卯日　二月寅日　三月丑日四月子日　五月亥日　六月戌日七月酉日　八月申日　九月未日十月午日　十一月巳　十二月辰凡醫者，若不能知此諸般禁忌，趨吉避凶，妄亂針灸，非惟不能愈疾，甚至或致患人傷命，為害非輕。若逢病患，年命厄會處，男女氣怯，下手至難，通人達士，豈能拘此哉!若遇卒急暴患，何暇選擇避忌，即不可拘此若是禁穴。諸般醫療不瘥，明堂許灸一壯至三壯，更宜以意詳之。</p>
<h3>正人形第一</h3>
<p><u>百會</u></p>
<p>　一穴，在頭中心陷者中。灸七壯。主腦重鼻塞，頭疼目眩，少心力，忘前失後，心神恍惚，及大人小兒脫肛等疾。</p>
<p><u>神庭</u></p>
<p>　一穴，在鼻柱上發際中。灸三壯。主登高而歌，棄衣而走，角弓反張，羊癇吐舌。</p>
<p><u>水溝</u></p>
<p>　一穴，在鼻柱下宛宛中。灸五壯。主消渴飲水無休，水氣遍身腫，笑無時節，顛癇病，語不識尊卑，及口噤牙關不開也。</p>
<p><u>天突</u></p>
<p>　一穴，在項結喉下五分中央宛宛中。灸五壯。主咳逆氣喘，暴啞不能言，身寒熱頸腫，喉中鳴翕翕，胸中氣哽哽也。</p>
<p><a href="_files/pm-m2.bmp">正人形第一圖</a></p>
<p><u>支溝</u></p>
<p>　二穴，在腕後三寸，兩骨間陷者中。灸五壯。主熱病汗不出，肩臂酸重，脅腋急痛，四肢不舉，口噤不開，暴啞不能言也。</p>
<p><u>至陰</u></p>
<p>　二穴，在足小指外側去爪甲角如韭葉宛宛中。灸三壯。主瘧發寒熱，頭重心煩，目翳KT　KT　，鼻塞不通，小便淋瀝失精。</p>
<h3>正人形第二</h3>
<p><u>三裡</u></p>
<p>　二穴，一名手三裡，在曲池下二寸，按之肉起，兌肉之端。灸三壯。主肘臂酸痛，屈伸難。《秦承祖明堂》云：主五勞虛乏，四肢羸瘦。</p>
<p><a href="_files/pm-m3.bmp">正人形第二圖</a></p>
<p><u>天池</u></p>
<p>　二穴，在乳後一寸著脅，直腋撅脅間。灸三壯。主寒熱　瘧，熱病汗不出，胸滿頭痛，四肢不舉，腋下腫，上氣，胸中有聲，喉鳴也。</p>
<p><u>章門</u></p>
<p>　二穴，在大橫紋外，直臍季肋端，側臥，屈上足，伸下足，舉臂取之，灸七壯。</p>
<p>主腸鳴盈盈然，食飲不化，脅痛不得臥，煩熱口乾，不嗜食，胸脅支滿，腰背肋間痛，不可轉側，身黃羸瘦，四肢怠倦，腹中膨脹，兩脅積氣如卵石也。</p>
<p><u>中渚</u></p>
<p>　二穴，在手小指次指本節後間陷者中。灸三壯。主目KT　KT　無所見，肘臂酸痛，手五指不握盡痛也。</p>
<h3>正人形第三</h3>
<p><a href="_files/pm-m4.bmp">正人形第三圖</a></p>
<p><u>輸府</u></p>
<p>　二穴，在旋機傍各二寸陷者中，仰而取之。灸三壯。主咳逆上氣喘急，嘔吐，不下食飲，胸中痛也。</p>
<p><u>胸鄉</u></p>
<p>　二穴，在周榮下一寸六分陷者宛宛中。灸五壯。主胸脅支滿，卻引背痛，不得臥，轉側難也。</p>
<p><u>偏歷</u></p>
<p>　二穴，在腕後三寸陷者中。灸五壯。主發寒熱，瘧久不愈，目視KT　KT　，手不及頭，臂膊肘腕酸痛難屈伸，及顛疾多言。</p>
<p><u>豐隆</u></p>
<p>　二穴，在外踝上八寸陷者中。灸七壯。主厥逆胸痛，氣刺不可忍，腹中如刀，大小便難，四肢不收，身體倦怠，膝腿酸痛，屈伸難也。</p>
<p><u>昆侖</u></p>
<p>　二穴，在足外踝後跟骨上陷者中。灸三壯。主寒熱癲疾，目KT　KT　，鼻衄多涕，腰尻重，不欲起，俯仰難，惡聞人者，女子絕產也。</p>
<p><u>厲兌</u></p>
<p>　二穴，在足大指次指之端，去爪甲一韭葉。灸一壯，主尸厥如死，不知人，多睡善驚，面上浮腫也。</p>
<h3>正人形第四</h3>
<p>黃帝問岐伯曰：凡人中風，半身不遂，如何灸之?岐伯答曰：凡人未中風時，一兩月前，或三五個月前，非時，足脛上忽發酸重頑痹，良久方解，此乃將中風之候也。便須急灸三裡穴與絕骨穴，四處各三壯。後用蔥、薄荷、桃、柳葉四味煎湯，淋洗灸瘡，令驅逐風氣於瘡口中出也。</p>
<p>灸瘡：若春較，秋更灸；秋較，春更灸。常令兩腳上有灸瘡為妙。凡人不信此法，或飲食不節，酒色過度，忽中此風，言語謇澀，半身不遂，宜於七處一齊下火，各灸三壯。如風在左灸右，在右灸左。一、</p>
<p><u>百會穴</u>。二、</p>
<p><u>耳前發際</u>。三、</p>
<p><u>肩井穴</u>。四、</p>
<p><u>　</u></p>
<p>風市穴</p>
<p><u>。五、</u></p>
<p>三裡穴</p>
<p><u>。六、</u></p>
<p>絕骨穴</p>
<p><u>。七、</u></p>
<p>曲池穴</p>
<p><u>。　</u></p>
<p>上件七穴，神效極多，不能具錄，依法灸之，萬無一失也。</p>
<p><a href="_files/pm-m5.bmp">正人形第四圖</a></p>
<h3>正人形第五</h3>
<p><u>紫宮</u></p>
<p>　一穴，在華蓋下一寸陷者中，仰而取之。灸七壯。主飲食不下，嘔逆煩心，上氣吐血，及唾如白膠。</p>
<p><u>乳根</u></p>
<p>　二穴，在乳下一寸六分陷者中，仰而取之。灸五壯。主胸下滿悶，臂腫及乳痛也。《華佗明堂》云：主膈氣不下食噎病。</p>
<p><a href="_files/pm-m6.bmp">正人形第五圖</a></p>
<p><u>少衝</u></p>
<p>　二穴，在手小指內廉之側，去爪甲如韭葉。灸三壯。主煩心上氣，卒心痛，悲恐畏人，善驚，手拳不得伸，掌中熱痛也。《秦承祖明堂》云：兼主驚癇，吐舌沫出也。千金、楊玄操同。</p>
<p><u>涌泉</u></p>
<p>　二穴，在腳心底宛宛中，白肉際，屈足卷趾得之。灸三壯。主心痛，不嗜食，婦不得踐地也。</p>
<h3>正人形第六</h3>
<p><a href="_files/pm-m7.bmp">正人形第六圖</a></p>
<p><u>石門</u></p>
<p>　一穴，在臍下二寸陷者中。灸七壯。主腹大堅，氣淋，小便黃，身寒熱，咳逆上氣，嘔血，卒疝繞臍痛，賁豚氣上衝，甄權云：主婦人因產惡露不止也。</p>
<p><u>分水</u></p>
<p>　一穴，在下管下一寸陷者中。灸七壯。主水病腹腫，繞臍痛衝胸中，不得息。甄權云：主水氣浮腫鼓脹腸鳴，狀如雷聲，時上衝心。日灸七壯，四日罷。</p>
<p><u>華蓋</u></p>
<p>　一穴，在璇璣下一寸陷者中，仰而取之。灸五壯。主胸脅支滿，咳逆上氣，喘不能言也。</p>
<h3>正人形第七</h3>
<p><a href="_files/pm-m8.bmp">正人形第七圖</a></p>
<p><u>上星</u></p>
<p>　一穴，在直鼻上入發際一寸陷者中。灸七壯。主頭風目眩，鼻塞不聞香臭。</p>
<p><u>膻中</u></p>
<p>　一穴，在兩乳間陷者中。灸五壯，主胸膈滿悶，咳嗽氣短，喉中鳴，婦人奶脈滯，無汗，下灸立愈。岐伯云：積氣干噎。</p>
<p><u>巨闕</u></p>
<p>　一穴，在鳩尾穴下一寸陷者中。灸七壯。主心痛不可忍，嘔血煩心，膈中不利，胸脅支滿，霍亂吐痢不止，困頓不知人。</p>
<p><u>間使</u></p>
<p>　二穴，在掌後三寸兩筋間陷者中。灸七壯。主卒狂驚悸，臂中腫痛，屈伸難。岐伯云：主鬼神邪也。</p>
<p><u>太衝</u></p>
<p>　二穴，在足大趾本節後二寸，骨罅間陷者中。灸五壯。主卒疝，小腹痛，小便不利如淋狀，及月水不通。</p>
<h3>正人形第八</h3>
<p><u>青靈</u></p>
<p>　二穴，在肘上三寸，伸肘舉臂取之。灸三壯。主肩不舉，不能帶衣。</p>
<p><u>不容</u></p>
<p>　二穴，在上管兩旁各一寸。灸三壯。主腹內弦急，不得食，腹痛如刀刺，兩脅積氣彭彭然。</p>
<p><u>五樞</u></p>
<p>　二穴，在帶脈下二寸，水道傍一寸半陷者中。灸三壯。主陰疝，小腹痛，及膀胱氣攻兩脅也。</p>
<p><u>復留</u></p>
<p>　二穴，在足內踝上二寸，動脈中陷者是。灸七壯。主腰疼痛引脊內，痛不可俯仰。善怒多言，足痿不收履，脛寒不自溫，腹中雷鳴，兼治腹鼓脹，四肢腫，十水病，女子赤白漏下，五淋，小便如散灰也。</p>
<p><u>大都</u></p>
<p>　二脈，在足大趾本節後陷者中。灸三壯。主熱病汗不出，手足逆冷，腹滿善嘔吐，目眩煩心，四肢腫病。</p>
<p><a href="_files/pm-m9.bmp">正人形第八圖</a></p>
<p>婦人懷孕，不論月數，及生產後未滿百日，不宜灸之。若絕子，灸臍下二寸三寸間動脈中三壯。</p>
<h3>正人形第九</h3>
<p><u>通裡</u></p>
<p>　二穴，在腕後一寸陷者中。灸七壯。主頭目眩痛，悲恐畏人，肘腕酸重，及</p>
<p><u>陰都</u></p>
<p>　二穴，在通谷下一寸陷者中。灸三壯。主身寒熱，　瘧，病心恍惚也。</p>
<p><a href="_files/pm-m10.bmp">正人形第九圖</a></p>
<p><u>石關</u></p>
<p>　二穴，在陰都下一寸宛宛中。灸三壯。主多唾嘔沫，大便難，婦人無子，臟有惡血，腹厥痛，絞刺不可忍者。</p>
<p><u>帶脈</u></p>
<p>　二穴，在季肋下一寸八分陷者宛宛中。灸七壯。主婦人腹堅痛，月水不通，帶下赤白，兩脅下氣，轉運背痛不可忍也。</p>
<h3>正人形第十</h3>
<p><u>　中</u></p>
<p>　二穴，在輸府下一寸陷者中，仰而取之。灸三壯。主咳嗽上喘，不能食也。</p>
<p><a href="_files/pm-m11.bmp">正人形第十圖</a></p>
<p><u>氣衝</u></p>
<p>　二穴，在歸來下一寸，鼠鼷上一寸動脈宛宛中。灸五壯。主腹有大氣，腹脹臍下堅，　疝陰腫，亦主婦人月水不通，無子。</p>
<p><u>三裡</u></p>
<p>　二穴，在膝下三寸，　骨外，大筋內，筋骨之間陷者宛宛中。灸三壯。主臟腹久積冷氣，心腹脹滿，胃氣不足，聞食臭，腸鳴腹痛，秦承祖云：諸病皆治，食氣暑氣，蠱毒癖，四肢腫滿，腿膝酸痛，目不明。華佗云：亦主五勞羸瘦，七傷虛乏，大小人熱，皆調三裡。《外台明堂》云：凡人年三十以上，若不灸三裡，令氣上眼暗，所以三裡下氣。</p>
<p><u>懸鐘</u></p>
<p>　二穴，在足外踝上三寸動脈中。灸三壯。主心腹脹滿，胃中熱，不嗜食，膝脛連腰痛，筋攣急，足不收履，坐不能起。</p>
<p>《張文仲灸經》：療病卒心痛不可忍，吐冷酸綠水，及元臟氣。灸足大趾次趾內橫紋中，各灸一壯，炷如小麥大，下火立愈。</p>
<h3>正人形第十一</h3>
<p><a href="_files/pm-m12.bmp">正人形第十一圖</a></p>
<p><u>禾聊</u></p>
<p>　二穴，在鼻孔下俠水溝旁五分。灸三壯。主鼻窒口癖，清涕出不可止，鼻衄有瘡，口不可開，及尸厥也。</p>
<p><u>天井</u></p>
<p>　二穴，在肘外大骨之後一寸兩筋間陷者中，屈肘得之。灸五壯。主肘痛引肩，不可屈伸，頸項及肩背痛，臂痿不仁，驚悸悲傷，癇病羊鳴吐舌也。</p>
<p><u>承滿</u></p>
<p>　二穴，在不容下一寸陷者中。灸三壯。主腸鳴腹脹，上喘氣逆，及膈氣唾血</p>
<p><u>商陽</u></p>
<p>　二穴，在手大指次指內側，去爪甲如韭葉。灸三壯。主胸膈氣滿，喘急，耳鳴聾，瘧病口乾，熱病汗不出也。</p>
<p><u>孔最</u></p>
<p>　二穴，在腕上七寸陷者宛宛中，灸三壯。主熱病汗不出，肘臂厥痛，屈伸難，手不及頭，不握也。</p>
<p>《黃帝灸法》：療中風，眼戴上及不能語者，灸第二椎並第五椎上，各七壯，齊下火炷如半棗核大，立瘥。</p>
<h3>正人形第十二</h3>
<p><u>肩聊</u></p>
<p>　二穴，在肩　上，舉肩取之陷者中。灸五壯。主肩重不舉，臂痛也。</p>
<p><u>食竇</u></p>
<p>　二穴，在天溪下一寸六分陷者中，舉臂取之。灸五壯。主胸脅支滿，膈間鳴，陸陸常有聲。</p>
<p><u>通谷</u></p>
<p>　二穴，在幽門下一寸陷者中，灸三壯，主失欠，口　及嘔，暴啞不能言也。</p>
<p><u>俠谿</u></p>
<p>　二穴，在足小趾歧骨間本節前陷者中，足少陽脈之所流也。灸三壯。主耳鳴</p>
<p><a href="_files/pm-m13.bmp">正人形第十二圖</a></p>
<p>華佗療男子卒疝，陰卵偏大，取患人足大趾，去甲五分，內側白肉際，灸三壯，炷如半棗核大。患左取右，患右取左。</p>
<h3>正人形第十三</h3>
<p><a href="_files/pm-m14.bmp">正人形第十三圖</a></p>
<p><u>三陽絡</u></p>
<p>　二穴，在肘前五寸外廉陷者中，支溝上一寸，灸五壯。主嗜臥，身不欲動，卒聾暴啞，及齒痛。</p>
<p><u>脅堂</u></p>
<p>　二穴，在腋下二骨間陷者中，舉腋取之，灸五壯。主胸脅氣滿，噫噦喘逆，目黃，遠視KT　KT　。</p>
<p><u>天地</u></p>
<p>　二穴，在腋下三寸陷者中，灸三壯。主上氣咳嗽，胸中氣滿，喉中鳴，四肢不舉，腋下腫也。</p>
<p><u>日月</u></p>
<p>　二穴，在期門下五分陷者中，灸五壯。主善悲不樂，欲走多睡，言語不正，及四肢不收。</p>
<p><u>地機</u></p>
<p>　二穴，在膝內側轉骨下陷者中，伸足取之，灸三壯。主腰痛不可俯仰，足痹痛，屈伸難也。</p>
<p><u>三陰交</u></p>
<p>　二穴，在內踝上三寸陷者中，灸三壯。主膝內廉痛，小便不利，身重足痿，不能行也。</p>
<h3>正人形第十四</h3>
<p><u>　會</u></p>
<p>　二穴，在臂前廉去肩頭三寸宛宛中，灸七壯。主癭及臂氣腫也。</p>
<p><a href="_files/pm-m15.bmp">正人形第十四圖</a></p>
<p><u>外關</u></p>
<p>　二穴，在腕後二寸陷者宛宛中，灸三壯。主肘腕酸重，屈伸難，手十指盡痛不得握，兼主耳　渾渾，聾無所聞也。</p>
<p><u>幽門</u></p>
<p>　二穴，在巨闕旁各一寸半陷者中，灸五壯。主善吐，食飲不下，兼唾多吐涎，干噦，嘔沫，泄有膿血也。</p>
<p><u>二間</u></p>
<p>　二穴，在手大指次指本節前陷者中，灸三壯。主喉痹咽腫，多臥喜睡，鼻鼽，及口眼斜。</p>
<p><u>中衝</u></p>
<p>　二穴，在手中指之端，去爪甲如韭葉陷者中，灸一壯。主熱病煩心，心悶而汗不出，身熱如火，頭痛如破，煩滿，舌本痛。秦承祖云：兼主神氣不足，失志也。</p>
<h3>正人形第十五</h3>
<p><a href="_files/pm-m16.bmp">正人形第十五圖</a></p>
<p><u>上管</u></p>
<p>　一穴，在巨闕下一寸，灸三壯。主嘔吐，食飲不下，腹脹氣滿，心忪驚悸，時吐嘔血，腸　刺痛，痰多吐涎也。</p>
<p><u>中極</u></p>
<p>　一穴，在臍下四寸陷者中，灸五壯。主尸厥不知人，冷氣積聚，時上衝心，飢不能食，小腹痛，積聚堅如石，小便不利，失精絕子，面　也。</p>
<p><u>陰包</u></p>
<p>　二穴，在膝上四寸陷者中，灸七壯。主腰痛連小腹腫，小便不利，及月水不</p>
<h3>正人形第十六</h3>
<p><u>攢竹</u></p>
<p>　二穴，在眉頭陷者中，灸一壯。主頭目風眩，眉頭痛，鼻鼽衄，目KT　KT　無遠見，但是尸厥，癲狂病，神邪鬼魅，皆主之。</p>
<p><u>中庭</u></p>
<p>　一穴，在膻中下一寸宛宛中。灸三壯。主食飲不下，嘔逆，食下還出也。</p>
<p><u>關元</u></p>
<p>　一穴，在臍下三寸陷者中。灸五壯。主賁豚，寒氣入小腹，時欲嘔，溺血，便黃，腹泄不止，卒疝，小腹痛，轉胞，不得小便。岐伯云：但是積冷虛乏病皆宜灸之。</p>
<p><a href="_files/pm-m17.bmp">正人形第十六圖</a></p>
<p><u>太泉</u></p>
<p>　二穴，在手中掌後橫紋頭陷者中。灸五壯。主胸中氣滿，不得臥，肺脹滿膨膨然，目中白翳，掌中熱，胃氣上逆，唾血及狂言，肘中痛。</p>
<p><u>交信</u></p>
<p>　二穴，在內踝上二寸後廉筋間陷者中。灸三壯。主氣淋，卒疝，大小便難，及膝脛內廉痛也。</p>
<p><u>太谿</u></p>
<p>　二穴，在足內踝後跟骨上動脈中。灸三壯。主　瘧咳逆，煩心不得臥，小便黃，足脛寒，唾血及鼻衄不止也。</p>
<h3>正人形第十七</h3>
<p><u>囟會</u></p>
<p>　一穴，在上星後一寸陷者中。灸三壯，主頭目眩，頭皮腫生白屑，兼主面赤</p>
<p><u>璇璣</u></p>
<p>　一穴，在天突下一寸陷者中，仰頭取之。灸三壯。主胸脅支滿，咳逆上喘，喉中鳴也。</p>
<p><u>鳩尾</u></p>
<p>　一穴，在蔽骨下五分陷者中。灸三壯。主心驚悸，神氣耗散，癲癇病狂，歌不擇言也。</p>
<p><u>氣海</u></p>
<p>　一穴，在臍下一寸五分宛宛中。灸七壯。主冷病，面黑，肌體羸瘦，四肢力弱，小腹氣積聚，賁豚腹堅，脫陽欲死，不知人，五臟氣逆上攻也。</p>
<p><a href="_files/pm-m18.bmp">正人形第十七圖</a></p>
<p>張文仲救婦人橫產，先手出，諸般符藥不捷，灸右腳小趾尖頭三壯，炷如小麥大，下火</p>
<h3>正人形第十八</h3>
<p><a href="_files/pm-m19.bmp">正人形第十八圖</a></p>
<p><u>前頂</u></p>
<p>　一穴，在囟會後一寸，直鼻中央陷者中。灸三壯。主頭風目眩，頭皮腫，小兒驚癇病也。</p>
<p><u>耳門</u></p>
<p>　二穴，在耳前起肉當缺陷者中。主耳有膿，及底耳　耳，耳痛鳴聾，並齒齲禁，不宜灸，有病不過三壯也。</p>
<p><u>少商</u></p>
<p>　二穴，在手大指內側，去爪甲如韭葉陷者中。灸三壯。主瘧寒熱，煩心善噦，唾沫唇干，嘔吐不下食，腸脹腹滿，微喘，心下膨膨然。</p>
<p><u>少海</u></p>
<p>　二穴，在肘大骨外，去肘端五分陷者中，屈肘乃得之。灸五壯。主四肢不舉，癲癇吐舌，沫出羊鳴也。</p>
<p><u>交儀</u></p>
<p>　二穴，在內踝上五寸陷者中。灸五壯。主卒疝，小腹痛，小便不利，及婦人漏下赤白，月水不調。</p>
<p><u>解谿</u></p>
<p>　二穴，在系鞋處陷者中。灸三壯。主上氣喘息，咳嗽急，腹中積氣上下行，及目生白翳也。</p>
<h3>正人形第十九</h3>
<p><u>尺澤</u></p>
<p>　二穴，在肘中約上兩筋動脈中。甄權云：在臂屈伸橫紋中，筋骨罅陷者中，不宜灸。主癲病不可向，手臂不得上頭。</p>
<p><u>天樞</u></p>
<p>　二穴，夾臍兩傍各二寸陷者中。灸五壯。主久積冷氣，繞臍切痛，時上衝心，女子漏下赤白，及肚大堅，食不化，面色蒼蒼也。</p>
<p><u>曲骨</u></p>
<p>　一穴，在橫骨上，中極下一寸，其毛際陷者中。灸七壯。主五淋，小便黃，水病脹滿，婦人帶下赤白，惡合陰陽，小便閉澀不通，但是虛乏冷極者，皆宜灸之。</p>
<p><u>陽陵泉</u></p>
<p>　二穴，在膝下一寸外廉陷者中，灸一壯。主膝股內外廉痛不仁，屈伸難，及喉中鳴，驚恐如人將捕之。</p>
<p><a href="_files/pm-m20.bmp">正人形第十九圖</a></p>
<p><u>丘墟</u></p>
<p>　二穴，在外踝如前，去臨泣三寸。灸三壯。主胸脅痛，善太息，胸滿膨膨然，足腕不收，足脛偏細。</p>
<h3>正人形第二十</h3>
<p><a href="_files/pm-m21.bmp">正人形第二十圖</a></p>
<p><u>率谷</u></p>
<p>　二穴，在耳上入發際一寸五分，陷者宛宛中，嚼而取之。灸三壯。主醉後酒風發，頭重，皮膚腫，兩角眩痛也。</p>
<p><u>中府</u></p>
<p>　二穴，在云門下一寸六分，乳上三肋間，動脈應手。灸五壯。主肺急，胸中滿，喘逆，唾濁，善噎，皮膚痛也。</p>
<p><u>養老</u></p>
<p>　二穴，在手太陽踝骨上一穴，後一寸陷者中。灸三壯。主肩欲折，臂如拔，手不能自上下也。</p>
<p>張文仲傳《神仙灸法》：療腰重痛，不可轉側，起坐難，及冷痹，腳筋攣急不可屈伸。</p>
<p>灸曲　兩文頭，左右腳四處，各三壯。每灸一腳，二火齊下，艾炷才燒到肉，初覺痛，便用兩人兩邊齊吹至火滅。午時著灸，至人定已來，自行動臟腑一兩回，或臟腑轉動如雷聲，其疾立愈。此法神效，卒不可量也。</p>
<h2>卷中</h2>
<h3>背人形第一</h3>
<p><a href="_files/pm-m22.bmp">背人形第一圖</a></p>
<p><u>風府</u></p>
<p>　一穴，在項後入發際一寸大筋內宛宛中，禁不可灸。主頭痛，項急不得顧，暴喑不得言，多悲恐驚悸，狂走欲自殺，目反視。</p>
<p><u>大杼</u></p>
<p>　二穴，在項第一椎下兩旁各一寸半陷者中，灸五壯。主頸項痛，不可俯仰，左右罔顧，癲病螈　，身熱目眩，項強急，臥不安席。</p>
<p><u>心俞</u></p>
<p>　二穴，在第五椎下兩旁各一寸半陷者中，灸五壯。主寒熱心痛，背相引痛，胸中滿悶，咳嗽不得息，煩心，多涎，胃中弱，食飲不可，目KT　KT　淚出，悲傷也。</p>
<p><u>膈俞</u></p>
<p>　二穴，在第七椎下兩旁各一寸半陷者中，灸五壯。主咳逆，嘔吐，膈上寒，食飲不下，脅腹滿，胃弱食少，嗜臥怠惰，不欲動身。</p>
<p><u>肝俞</u></p>
<p>　二穴，在第九椎下兩旁各一寸半陷者中，灸七壯。主咳逆，兩脅滿悶，肋中痛，目生白翳，氣短，唾血，目上視，多怒，狂衄，目KT　KT　無遠視也。</p>
<p><u>腎俞</u></p>
<p>　二穴，在十四椎下兩旁各一寸半陷者中，灸三壯。主腰疼不可俯仰，轉側難，身寒熱，飲食倍多，身羸瘦，面黃黑，目KT　KT　，兼主丈夫婦人久積冷氣變成勞疾也。</p>
<h3>背人形第二</h3>
<p><u>風門</u></p>
<p>　二穴，在第二椎下兩旁各一寸半陷者中，灸五壯，主頭疼風眩，鼻衄不止，鼻流清涕也。</p>
<p><a href="_files/pm-m23.bmp">背人形第二圖</a></p>
<p><u>魂戶</u></p>
<p>　二穴，在第三椎下兩旁各三寸陷者中，灸三壯。主背田滿悶，項急強不得顧，勞損虛乏，尸厥走疰，胸背連痛也。</p>
<p><u>至陽</u></p>
<p>　一穴，在第七椎節下間，微俯而取之宛宛中，灸七壯。主四肢重，少氣難言，脊急強也。</p>
<p><u>胃俞</u></p>
<p>　二穴，在第十二椎下兩旁各一寸半宛宛中，灸七壯。主胃中寒氣不能食，胸脅支滿，身羸瘦，背中氣上下行，腰脊痛，腹中鳴也。</p>
<p><u>膀胱俞</u></p>
<p>　二穴，在第十九椎下兩旁各一寸半陷者中，灸七壯。主腰脊急強，腰以下酸重，勞損不仁，腹中痛，大便難也。</p>
<p><u>仆參</u></p>
<p>　二穴，在跟骨下陷者中，拱足得之，灸三壯。主腰痛不可舉足，承山下重，腳痿癲疾，尸厥，霍亂，馬癇也。</p>
<h3>背人形第三</h3>
<p><u>大椎</u></p>
<p>　一穴，在項第一椎下陷者中，灸七壯。主五勞虛損，七傷乏力，疰氣背膊間悶，項強不得顧，及　瘧久不愈也。</p>
<p><u>身柱</u></p>
<p>　一穴，在第三椎下間宛宛中，灸三壯。主癲狂螈　，怒欲殺人，狂走見鬼。</p>
<p>秦承祖明堂云：主小兒驚癇也。《千金》楊玄操同。</p>
<p><u>筋縮</u></p>
<p>　一穴，在第九椎節下間，俯而取之陷者中，灸五壯。主驚癇狂走，癲病多言，脊急強，兩目轉上，及目瞪也。</p>
<p><a href="_files/pm-m24.bmp">背人形第三圖</a></p>
<p><u>膽俞</u></p>
<p>　二穴，在第十椎下兩旁各一寸半，正坐取之陷者中，灸五壯。主胸脅支滿，嘔無所出，舌乾飲食不下。</p>
<p><u>脾俞</u></p>
<p>　二穴，在第十一椎下兩旁各一寸半陷者中，灸五壯。主腹中脹滿，引背間痛，食飲多，身羸瘦，四肢煩熱，嗜臥怠惰，四肢不欲動搖。</p>
<p><u>志室</u></p>
<p>　二穴，在第十四椎下兩旁各三寸半陷者中，正坐微俯而取之，灸七壯。主腰痛脊急，兩脅脹滿，大便難，食飲不下，背氣俯仰不得也。</p>
<h3>背人形第四</h3>
<p>岐伯灸法：療頭旋，目眩，及偏頭痛不可忍，牽眼KT　KT　不遠視，灸兩眼小　上發際，各一壯，立瘥。</p>
<p><u>長強</u></p>
<p>　一穴，在腰俞下脊骸端陷者中，灸五壯。主腰脊急強不可俯仰，癲狂病，大小便難，洞泄不禁，五淋，久痔，小兒驚癇病。</p>
<p><a href="_files/pm-m25.bmp">背人形第四圖</a></p>
<p><u>委中</u></p>
<p>　二穴，在曲　內兩筋兩骨中，宛宛是也，令病患合面臥，舒挺兩腳取之，灸三壯。主腳弱無力，腰尻重，曲　中筋急，半身不遂。</p>
<h3>背人形第五</h3>
<p><u>陶道</u></p>
<p>　一穴，在項大椎節下間，俯而取之陷者中，灸五壯。主頭目眩重，　瘧寒熱洒淅矣。</p>
<p><u>肺俞</u></p>
<p>　二穴，在第三椎下兩旁各一寸半宛宛中，灸三壯。主肺寒熱，肺痿，上喘咳嗽，唾血，胸脅氣滿不得臥，不嗜食，汗不出，及背強弦急也。</p>
<p><u>神道</u></p>
<p>　一穴，在五椎下間陷者中，灸五壯。主身熱頭痛進退，往來　瘧，恍惚悲愁</p>
<p><a href="_files/pm-m26.bmp">背人形第五圖</a></p>
<p><u>噫嘻</u></p>
<p>　二穴，在第六椎下兩旁各三寸陷者中，灸五壯。主瘧久不愈者，背氣滿悶，胸中氣噎，勞損虛乏不得睡也。</p>
<p><u>陽剛</u></p>
<p>　二穴，在十椎下兩旁各三寸陷者中，正坐微俯而取之，灸七壯。主飲食不下，腹中雷鳴，腹滿臚脹，大便泄，消渴，身熱，面目黃，不嗜食，怠惰也。</p>
<p><u>三焦俞</u></p>
<p>　二穴，在十三椎下兩旁各一寸半，正坐取之陷者中，灸五壯。主背痛，身熱，腹脹腸鳴，腰脊急強也。</p>
<h3>背人形第六</h3>
<p><u>玉枕</u></p>
<p>　二穴，在絡卻後七分半俠腦盧旁一寸三分，入發際三寸，灸三壯。主頭重如石，目痛如脫，不能遠視。</p>
<p><a href="_files/pm-m27.bmp">背人形第六圖</a></p>
<p><u>天牖</u></p>
<p>　二穴，在白骨穴下發際宛宛中，灸三壯。主瘰　寒熱，頸有積氣，暴聾，肩中痛，頭風目眩，鼻塞不聞香臭。</p>
<p><u>神堂</u></p>
<p>　二穴，在五椎下兩旁各三寸陷者中，正坐取之，灸三壯。主肩背連胸痛不可俯仰，腰脊急強，逆氣上攻，時復噎也。</p>
<p><u>命門</u></p>
<p>　一穴，在十四椎節下間，微俯而取之，灸三壯。主身熱如火，頭痛如破，寒熱瘧，腰腹相引痛。</p>
<p><u>白環俞</u></p>
<p>　二穴，在二十一椎下兩旁各一寸半，灸三壯。主腰脊急強不能俯仰，起坐難，手足不仁，小便黃，腰尻重不舉也。</p>
<p><u>承扶</u></p>
<p>　二穴，在尻臀下衡文中，灸三壯。主腰脊尻臀股陰寒痛五腫，痔疾瀉鮮血，尻椎中腫。大便難，小便不利。</p>
<h3>背人形第七</h3>
<p><a href="_files/pm-m28.bmp">背人形第七圖</a></p>
<p><u>天柱</u></p>
<p>　二穴，在項後大筋外宛宛中。灸三壯。主頭暈腦重，目如脫，項如拔，項痛急強，左右罔顧也。</p>
<p><u>魄戶</u></p>
<p>　二穴，在第三椎下兩旁各三寸，正坐取之宛宛中。灸五壯。主肩膊間急痛，背氣不能引顧，咳逆上喘也。</p>
<p><u>意舍</u></p>
<p>　二穴，在第九椎下，兩旁各三寸陷者中，正坐闊肩取之。灸七壯。主胸脅脹滿，背痛，惡寒，飲食不下，嘔吐不留住也。</p>
<p><u>懸樞</u></p>
<p>　一穴，在第十一椎節下陷者中。灸三壯。主腹中積氣上下行，腠中盡痛也。</p>
<p><u>胞肓</u></p>
<p>　二穴，在第十九椎下，兩旁各三寸陷者中，俯而取之。灸五壯。主腰痛不可忍，俯仰難，惡寒，小便澀也。</p>
<p><u>中膂俞</u></p>
<p>　二穴，在第二十椎下，兩旁各一寸半。主腰痛不可俯仰，夾背膂痛，上下按之，應者從項後至此穴，痛者灸之立愈也。</p>
<h3>背人形第八</h3>
<p><u>強間</u></p>
<p>　一穴，在後頂後一寸五分宛宛中。灸三壯。主頭痛如針刺，不可動，項如拔，左右不得顧。岐伯曰：兼治風癇病。</p>
<p><u>翳風</u></p>
<p>　二穴，在耳後尖角陷者中，按之引耳是也。灸三壯。主耳鳴聾失欠，暴啞不能言，口噤不開，及口吻　也。</p>
<p><u>列缺</u></p>
<p>　二穴，在腕上一寸，筋骨罅間宛宛中。灸三壯。主偏風，半身不舉，口　，腕勞肘臂痛，及　瘧，面色不定。</p>
<p><u>合谷</u></p>
<p>　二穴，一名虎口，在手大指兩骨罅間宛宛中。灸三壯，主　瘧寒熱，熱病汗不出，目不明，生白翳，皮膚痂疥，遍身風疹。</p>
<p><u>飛陽</u></p>
<p>　二穴，在外踝上七寸陷者中。灸五壯。主體重，起坐不能步，失履不收，腳酸重，戰栗不能久立。</p>
<p><a href="_files/pm-m29.bmp">背人形第八圖</a></p>
<p><u>附陽</u></p>
<p>　二穴，在外踝上二寸後筋骨間陷者中。灸五壯。主腰痛不能久立，腿膝脛酸重，筋急，屈伸難，坐不能起，四肢不舉也。</p>
<h3>背人形第九</h3>
<p><u>後頂</u></p>
<p>　一穴，在百會後一寸五分，玉枕骨上陷者中。灸三壯。主目不明，惡風寒，頭目眩重。</p>
<p><a href="_files/pm-m30.bmp">背人形第九圖</a></p>
<p><u>扁骨</u></p>
<p>　二穴，在肩端上兩骨間陷者中。灸三壯。主肩中熱，指臂痛也。</p>
<p><u>腰俞</u></p>
<p>　一穴，在二十一椎節下間陷者中。灸五壯。主腰疼不能久立，腰以下至足冷不仁，坐臥難，腰脊強急，不可俯仰，腰重如石，難舉動也。</p>
<p><u>陷谷</u></p>
<p>　二穴，在足大趾次趾間，本節後陷者中。灸三壯。主卒疝，小腹痛，頭面虛腫，及　瘧發寒熱也。</p>
<p><u>承山</u></p>
<p>　二穴，在兌　腸下分肉間陷者中。灸五壯。主寒熱癲疾，腳　酸痛，不能久立，腰膝重，行坐難，筋攣急，不可屈伸。</p>
<h3>側人形第一</h3>
<p><a href="_files/pm-m31.bmp">側人形第一圖</a></p>
<p><u>腦空</u></p>
<p>　二穴，在承靈穴後一寸半，玉枕骨下陷者中。灸七壯。主頭暈目瞑，癲狂病，身寒熱引項強急，鼻衄不止，耳鳴耳聾。</p>
<p><u>頰車</u></p>
<p>　二穴，在耳下二韭葉陷者宛宛中。灸三壯。主牙關不開，口噤不能言，牙齒疼痛不得嚼，及頰腫也。</p>
<p>秦承祖灸狐魅神邪，及癲狂病，諸般醫治不瘥者，以並兩手大拇指，用軟絲繩子急縛之，灸三壯。艾炷著四處，半在甲上，半在肉上，四處盡燒，一處不燒其疾不愈，神效不可量也。</p>
<p>小兒胎癇、奶癇、驚癇一依此，灸一壯，炷如小麥大。</p>
<p><u>懸鐘</u></p>
<p>　二穴，在外踝上三寸宛宛中。灸五壯。主腹滿，中焦客熱，不嗜食，並腿胯連膝脛痹麻，屈伸難也。</p>
<p><u>蠡溝</u></p>
<p>　二穴，在內踝上五寸陷者中。灸七壯。主卒疝，小腹腫，小便不利，臍下積氣如卵石，足寒脛酸，屈伸難也。</p>
<p>岐伯灸膀胱氣攻衝兩脅，臍下時鳴，陰卵入腹，灸臍下六寸，長過兩旁各一寸六分，各三七壯。</p>
<h3>側人形第二</h3>
<p><u>巨骨</u></p>
<p>　二穴，在肩端上兩行骨陷者中。灸一壯。主肩中痛，不能動搖也。</p>
<p><u>周榮</u></p>
<p>　二穴，在中府下一寸六分，仰而取之陷者中。灸五壯。主胸脅支滿，不得俯仰，咳唾膿也。</p>
<p><u>曲池</u></p>
<p>　二穴，在肘外輔屈肘曲骨之中，紋頭陷者是穴也。灸七壯。主肘中痛，屈伸難，手不得舉，偏風，半身不遂，捉物不得，挽弓不開，肘臂偏細。《秦承祖明堂》云：主大人小兒遍身風疹，皮膚痂疥也。</p>
<p><a href="_files/pm-m32.bmp">側人形第二圖</a></p>
<p><u>後谿</u></p>
<p>　二穴，在手外側腕前起骨下陷者中。灸三壯。主　瘧寒熱，目生白翳，肘臂腕重，難屈伸，五指盡痛不可掣。</p>
<p>岐伯灸法：療腳轉筋，時發不可忍者，灸腳踝上一壯。內筋急，灸內；外筋急，灸外也</p>
<h3>側人形第三</h3>
<p><u>支正</u></p>
<p>　二穴，在手太陽腕後五寸，去養老穴四寸陷者中。灸五壯。主驚恐悲愁，肘臂攣，難屈伸，手不握，十指盡痛也。秦承祖云：兼主五勞，四肢力弱，虛乏等病。</p>
<p><a href="_files/pm-m33.bmp">側人形第三圖</a></p>
<p><u>巨虛</u></p>
<p>　二穴，在三裡穴下三寸，　骨外，大筋內；筋骨之間陷者中。灸三壯。主腳脛酸痛，屈伸難，不能久立。甄權云：主六氣不足，偏風，　腿腳不能相隨也。</p>
<p>黃帝問岐伯曰：凡人患噎疾，百味珍饌不能而食者，灸何穴而立得其愈?岐伯答曰：夫人噎病者五般：一曰氣噎；二曰憂噎；三曰食噎；四曰勞噎；五曰思噎。此皆由陰陽不和，三焦隔絕，津液不利，故令氣隔不調成噎疾。氣噎，灸膻中，在兩乳間；憂噎，灸心俞，在第五椎下兩旁各一寸半；食噎，灸乳根，在兩乳下各一寸六分；勞噎，灸膈愈，在第七椎下兩旁各一寸半；思噎，灸天府，在腋下三寸。</p>
<h3>側人形第四</h3>
<p><a href="_files/pm-m34.bmp">側人形第四圖</a></p>
<p><u>上關</u></p>
<p>　二穴，在耳前上廉起骨開口有穴陷者宛宛中是也。灸一壯。主唇吻強上，口眼偏斜，牙齒齲痛，耳鳴聾。</p>
<p><u>天窗</u></p>
<p>　二穴，在曲頰下扶突後，動脈應有陷者中。灸三壯。主耳鳴聾無所聞，頰腫喉中痛，暴喑不能言，及肩痛引項不得顧。</p>
<p><u>液門</u></p>
<p>　二穴，在手小指次指之間陷者中。灸三壯。主肘痛不能上下，　瘧寒熱，目澀KT　KT　，頭痛泣出也。</p>
<p><u>束骨</u></p>
<p>　二穴，在足下小指外側，本節後陷者中。灸三壯。主驚癇狂癲，身寒熱，頭痛目眩。秦承祖云：主風赤，胎赤，兩目　爛。</p>
<p><u>築賓</u></p>
<p>　二穴，在足內踝上。灸三壯。主小兒胎疝，癲病，吐舌及嘔吐不止也。張文仲療風眼卒生翳膜，兩目疼痛不可忍，灸手中指本節間尖上，三壯。炷如小麥大。患左灸右。患右</p>
<h3>側人形第五</h3>
<p><u>曲發</u></p>
<p>　二穴，在耳上發際曲隅陷者中，鼓頷有穴。灸三壯。主頸項急強，不得顧引，牙齒痛，口噤不能言也。</p>
<p><u>兌端</u></p>
<p>　一穴，在頤前下唇之下宛宛中，開口取之。灸三壯。主口噤，鼓頷，癲疾及吐沫，衄血不止。</p>
<p><u>天頂</u></p>
<p>　二穴，在項缺盆直扶突氣舍後一寸陷者中。灸七壯。主暴喑，咽腫，飲食不下，及喉中鳴。</p>
<p><a href="_files/pm-m35.bmp">側人形第五圖</a></p>
<p><u>環跳</u></p>
<p>　二穴，在硯子骨下宛宛中。灸三壯。主冷痹，風濕，偏風，半身不遂，腰胯疼痛。岐伯曰：主睡臥伸縮回轉不得也。</p>
<p><u>漏谷</u></p>
<p>　二穴，在足內踝上六寸陷者中。灸三壯。主足熱痛，腿冷痛，疼不能久立，麻痹不仁也。</p>
<p><u>京骨</u></p>
<p>　二穴，在足外側大骨下，白肉際陷者中。灸五壯。主寒瘧寒熱，善驚悸，不欲食，腿膝脛痿，腳攣不得伸，癲病狂走，善自嚙，及膝脛寒也。</p>
<h3>側人形第六</h3>
<p><a href="_files/pm-m36.bmp">側人形第六圖</a></p>
<p>黃帝灸法：療神邪鬼魅及癲狂病，語不擇尊卑，灸上唇裡面中央肉弦上一壯，炷如小麥大。又用鋼刀決斷更佳。</p>
<p><u>承漿</u></p>
<p>　一穴，在下唇棱下宛宛中，灸三壯。主偏風口眼　斜，消渴飲水不休，口禁不開，及暴啞不能言也。</p>
<p><u>肩外俞</u></p>
<p>　二穴，在肩甲上廉去脊骨三寸，灸三壯，主肩痛發寒熱，引項急強，左右罔顧。</p>
<p><u>溫留</u></p>
<p>　二穴，在腕後五寸六寸間動脈中是穴，灸三壯。主寒熱頭痛，善噦衄，肩不舉，癲癇病，吐舌鼓頷，狂言，喉痹不能言。</p>
<p><u>少府</u></p>
<p>　二穴，在手小指本節後陷者中，直勞宮，灸三壯。主　瘧久不愈者，煩滿少氣，悲恐畏人，臂酸掌中熱，手握不伸。</p>
<p><u>陰市</u></p>
<p>　二穴，在膝上三寸，伏兔穴下宛宛陷者中，灸五壯。主卒疝，小腹痛，力痿氣少，伏兔中寒，腰如冷水。</p>
<p><u>臨泣</u></p>
<p>　二穴，在足小趾次趾本節後，去俠谿一寸半陷者中，灸三壯。主胸膈滿悶，腋下腫，善自嚙頰，兼主瘧病，日西發者。</p>
<h3>側人形第七</h3>
<p><a href="_files/pm-m37.bmp">側人形第七圖</a></p>
<p><u>庫房</u></p>
<p>　二穴，在氣戶下一寸六分陷者宛宛中，仰而取之，灸五壯。主胸脅支滿，咳逆上氣，呼吸不至息，及肺寒咳嗽，唾膿也。《千金》楊玄操同。</p>
<p><u>肘聊</u></p>
<p>　二穴，在肘大骨外廉陷者中。灸五壯。主肘臂酸重，不可屈伸，麻痹不仁也</p>
<p><u>風市</u></p>
<p>　二穴，在膝外兩筋間，乎立舒下兩手著腿當中，指頭陷者宛宛中，灸三壯。</p>
<p>主冷痹腳脛麻，腿膝酸痛，腰尻重，起坐難也。</p>
<p><u>光明</u></p>
<p>　二穴，在外踝上五寸陷者中，灸七壯。主膝脛酸痹不仁，手足偏小，坐不能也。</p>
<p><u>陰蹺</u></p>
<p>　二穴，在足內踝下陷者中，灸三壯。主卒疝，小腹痛，左取右，右取左立已，及女子月水不調，嗜臥怠惰，喜悲不樂，手足偏枯不能行，及小便難也。</p>
<h2>卷下</h2>
<p>夫治小兒之患，診察幽玄，默而抱疾，自不能言也。或即胎中受病，或是生後傷風，動發無繁至甚，互說不同，既穴默以差訛，則治病全然紕繆。按諸家明堂之內，精選到小兒應驗七十余穴，並是曾經使用，累驗神功，今具編錄於後。(按：此序已見載《太平聖惠方》)</p>
<h3>正人形第一</h3>
<p>小兒驚癇者，先驚悸啼叫，後乃發也。灸頂上旋毛中，三壯。及耳後青絡脈，炷小兒風癇者，先屈手指如數物及發也。灸鼻柱上發際宛宛中，三壯，炷如小麥大。</p>
<p>小兒緩驚風，灸尺澤各一壯，在肘中橫紋約上動脈中，炷如小麥大。</p>
<p>小兒二三歲，忽發兩眼大小　俱赤，灸手大指次指間後一寸五分口陷者中，各三壯，炷如小麥大。</p>
<p>小兒囟開不合，灸臍上、臍下各五分，二穴各三壯。灸瘡未發，囟開先合。炷如小麥大。</p>
<p>小兒夜啼者，上燈啼，雞鳴止者，灸中指甲後一分中衝穴一壯。炷如小麥大。</p>
<p><a href="_files/pm-m38.bmp">正人形第一圖</a></p>
<h3>正人形第二</h3>
<p>小兒喉中鳴，咽乳不利，灸璇璣一穴，三壯。在天突下一寸陷者中。炷如小麥大癇病者，小兒惡疾也。呼吸之間，不及求師，致困者不少。諺云：國無良醫，枉死者半，小兒豬癇病，如尸厥吐沫，灸巨闕穴，三壯。在鳩尾下一寸陷者中。炷如小麥大。</p>
<p>小兒睡中驚，目不合，灸屈肘橫紋中上三分，各一壯。炷如小麥大。</p>
<p><a href="_files/pm-m39.bmp">正人形第二圖</a></p>
<p>小兒口有瘡蝕，齦爛臭，穢氣衝人，灸勞宮　二穴，各一狀。在手中心，以無名指屈指頭著處是也。炷如小麥大。</p>
<p>小兒雞癇，善驚反折，手掣自搖，灸手少陰三壯。在掌後去腕半寸陷者中。炷如小麥大。</p>
<p>小兒瘧久不愈者，灸足大趾次趾外間陷者中，各一壯。炷如小麥大。內庭穴也。</p>
<h3>正人形第三</h3>
<p>小兒身強，角弓反張，灸鼻上入發際三分，三壯。次灸大椎下節間，三壯。如小麥大。</p>
<p>小兒龜胸，緣肺熱脹滿，攻胸膈所生。又緣乳母食熱面五辛，轉更胸起高也。灸兩乳前各一寸半，上兩行三骨罅間穴處各三壯。炷如小麥大。春夏從下灸上，秋冬從上灸下，若不依此法，十灸不愈一二也。</p>
<p><a href="_files/pm-m40.bmp">正人形第三圖</a></p>
<p>小兒疳眼，灸合谷　二穴，各一壯。炷如小麥大。在手大指次指兩骨間陷者中。</p>
<p>小兒秋深冷痢不止者，灸臍下二寸三寸間動脈中。炷如小麥大。</p>
<h3>正人形第四</h3>
<p>小兒驚癇，灸鬼祿穴一壯。在上唇內中央弦上。炷如小麥大。用鋼刀決斷更佳。</p>
<p>小兒水氣，四肢盡腫及腹大，灸臍上一寸，三壯。炷如小麥大。分水穴也。</p>
<p><a href="_files/pm-m41.bmp">正人形第四圖</a></p>
<p>小兒熱毒風盛，眼睛疼痛，灸手中指本節頭，三壯，名拳尖也。炷如小麥大。</p>
<p>小兒龜背，生時被客風拍著脊骨，風達於髓所致也。如是灸肺俞、心俞、膈俞，各三壯。炷如小麥大。肺俞：在三椎下兩傍各一寸半；心俞：在五椎下兩傍各一寸半；膈俞：在七椎下兩傍各一寸半。</p>
<p>小兒臍腫，灸腰後對臍骨節間，三壯。炷如小麥大。</p>
<h3>正人形第五</h3>
<p>小兒急驚風，灸前頂一穴，三壯。在百會前一寸。若不愈，須灸兩眉頭及鼻下人中一穴，炷如小麥大。</p>
<p><a href="_files/pm-m42.bmp">正人形第五圖</a></p>
<p>小兒但是風癇，諸般醫治不瘥，灸耳上入發際一寸五分，嚼而取之，率谷穴也。</p>
<p>小兒嘔吐奶汁，灸中庭一穴，一壯。在膻中穴下一寸陷者中。炷如小麥大。</p>
<p>小兒目澀怕明，狀如青盲，灸中渚　二穴，各一壯。在手小指次指本節後陷者中。</p>
<p>炷如小麥大。</p>
<p>小兒雀目夜不見物，灸手大指甲後一寸，內廉橫紋頭白肉際，各一壯。炷如小麥大。</p>
<p>小兒睡中驚掣，灸足大趾次趾之端，去爪甲如韭葉，各一壯。炷如小麥大。</p>
<h3>正人形第六</h3>
<p><a href="_files/pm-m43.bmp">正人形第六圖</a></p>
<p>小兒多涕者，是腦門被風拍著及肺寒也。灸囟會一穴三壯。炷如小麥大。在上星上一寸，直鼻。</p>
<p>小兒急喉痹，灸天突穴一壯，在項結喉下三寸兩骨間。炷如小麥大。</p>
<p>小兒食癇者，先寒熱洒淅乃發也。灸鳩尾上五分，三壯。炷如小麥大。</p>
<p>小兒牛癇，目直視腹脹乃發也。灸鳩尾一穴，三壯。在胸蔽骨下五分陷者中，炷如小麥大。</p>
<p>小兒馬癇，張口搖頭，身反折馬鳴也。灸仆參　二穴，各三壯。在足跟骨下白肉際陷者中，拱足取之。炷如小麥大。</p>
<p>小兒陰腫，灸內昆侖　二穴，各三壯。在內踝後五分，筋骨間陷者中。炷如小麥大</p>
<h3>背人形第一</h3>
<p><a href="_files/pm-m44.bmp">背人形第一圖</a></p>
<p>小兒脫肛瀉血，每廁臟腑撮痛不可忍者，灸百會一穴三壯，在頭中心陷者是也。</p>
<p>炷如小麥大。</p>
<p>小兒新生二七日內，著噤不吮奶多啼者，是客風中於臍，循流至心脾二經，遂使舌強唇痙，嗍奶不得，斯病所施方藥，不有十全爾，大抵以去客風無過。灸承漿一穴，七壯。</p>
<p>在下唇棱下宛宛中是也。次灸頰車二穴，各七壯，在耳下曲頰骨後。炷如雀屎大。</p>
<p>小兒食時頭痛，及五心熱者，灸噫嘻　二穴，各一壯，在第六椎下兩旁各三寸宛宛中。炷如小麥大。</p>
<p>小兒三五歲，兩眼每至春秋忽生白翳，遮瞳子，疼痛不可忍者，灸九椎節上一壯。炷如小麥大。</p>
<h3>背人形第二</h3>
<p><a href="_files/pm-m45.bmp">背人形第二圖</a></p>
<p>小兒五六歲不語者，心氣不足，舌本無力，發轉難，灸心俞穴三壯。炷如小麥大。在五椎下兩傍各一寸半陷者中。</p>
<p>小兒痢下赤白，秋末脫肛，每廁肚疼不可忍者，灸十二椎下節間，名接脊穴，灸一壯。</p>
<p>三後用清帛子試，兼有似見疳蟲子隨汁出也。此法神效不可量也。《岐伯灸法》：療小兒脫肛瀉血，秋深不較，灸龜尾一壯。炷如小麥大。脊端窮骨也。</p>
<h3>背人形第三</h3>
<p><a href="_files/pm-m46.bmp">背人形第三圖</a></p>
<p>小兒班瘡入眼，灸大杼　二穴，各一壯。在項後第一椎下兩傍，各一寸半陷者中。</p>
<p>小兒奶癖目不明者，灸肩中俞　二穴，各一壯。在肩甲內廉，去脊二寸陷者中。炷如小麥大。</p>
<p>小兒羊癇，目瞪吐舌羊鳴也。灸第九椎下節間三壯。炷如小麥大。</p>
