<header><h1>歸硯錄</h1></header>
<dl class="元資料" data-type="book">
<div><dt>作者</dt><dd>王士雄</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1861">公元1861年</data></dd></div>
</dl>
<h2>弁言</h2>
<p>吾族系出安化，籍隸鹽官。十四世祖遷於海鹽之水北，十九世祖復歸於原籍之舊倉。乾隆間，曾王父遭海溢之患，攜吾祖吾父僑居錢塘。嗣為吾父娶於杭，生余昆季六人，而殤其三，故雖行四而字孟英。嘗憶吾父之歸葬曾王父暨大父也，謂先世邱壟所在，意將挈家回籍而未逮。道光紀元，府君遽捐館舍，時余甫十四，童昏無知。</p>
<p>家無擔石儲，衣食於奔走有年，不獲時省祖墓，罪戾實深，而敝廬數椽，地土數畝，亦遂悉為人　。是以先府君之葬，勢難歸　祖塋。因循多載，吾母命卜地仁和之皋亭山，以為海昌便道，子孫易於祭掃，余敬謹恪遵。先孺人棄養，即合葬焉。迨癸丑春，金陵失守，杭城遷徙者紛如。竊謂吾儕藉硯田以糊其口，家無長物，辛丑之警，有老母在，尚不作避地計，況今日乎！第省會食物皆昂，既非寒士之所宜居，而婚嫁從華，向平之愿亦不易了，倘風鶴稍平，可不繼志以歸籍耶？余雖未有子，而女已多，從子亦數輩，必乘其年尚幼稚，俾鄉居以習於儉約，斯謂遺之以安。然族已久疏，悵難如愿。先是有嘉興謝君再華者，端人也。家於杭之保佑坊，以白手致小康。甲辰春，余謂其地將有郁攸災，囑其移居，從之。及秋而不幸余言偶中。謝以獲免感於心，至是曲為余籌之。久之，引一人來曰：此管君芝山也，與我為垂髫交，醇謹朴誠，一鄉稱之。世居海昌北鄉之　溪，地既幽僻，俗亦淳良，小有市廛，頗堪棲隱，距海較遠，水患無虞。子欲歸故鄉，盍與結鄰乎？余聞之慰甚，遂與訂交。既而偕弟季傑，舟往訪。至其地，如漁人之入桃源，且有朱姓曠宅，愿我賃，心益喜。返杭告廟而卜之吉，季傑復謀諸趙君笛樓，得壬占曰：利久居，宜子孫。而會垣僦居之屋適易主，爰諏吉攜眷往家焉。時咸豐五年乙卯冬十月中浣三日也。回思先府君以四十九歲棄諸孤，余昨歲之病，幾如湯睢陽與父同壽。然而一事無成，虛延人世，霜侵兩鬢，余年幾何。賴良友啟余，得以勉承遺志。謝君之德，曷敢以忘！而機緣相湊，殆亦先人之靈有以默相歟？設謂無田可歸，必待買山有資，則歲不我與。　此志而弗能償者，舉目皆是也。余竊悲之。乃余自失怙後，即攜一硯以泛於江、浮於海，荏苒三十余年，僅載一硯以歸籍，人皆患之，而余載硯時游，亦足以行吾之痴，而樂吾余年，他非所知也。游時偶有所錄，漸積成卷，題曰《歸硯》。蓋雖以硯游，而游為歸之計，歸乃游之本也。因識其歸之所以於簡端，以為序，並示我後人。</p>
<p><u>咸豐丁巳冬十一月下浣安化後人南渡第二十七世半痴王士雄書於吳門歸棹</u></p>
<h2>序</h2>
<p>蓋聞天定勝人，人定亦能勝天。醫相皆能挽造化之權，故先哲有「不為良相則為良醫」之語也，迨世風日下，醫道日衰，良者罕見矣。王公孟英，博雅君子也。儲八斗之才，富五車之學，而尤長於醫，療疾之神，人莫能測。</p>
<p>著有醫學叢書十六種，闡明至理，井井指陳。其醫案十四卷，治法益昭，發前人之未發，悟前人所未悟，上追</p>
<p>《靈》、《素》，下纂諸家，抉其奧以顯其幽，存其純而糾其繆，道明世俗之風，說盡暗昧之弊，分混淆，別邪異，千古流弊，一旦而消，萬世蔽蒙，一朝而破，功蓋前賢，學垂後世，證無巨細，惻隱常存，卓識敦行，誠人所不能及也。往歲歸隱海昌，惜蘭女輩，未能負笈以從，而欽佩之心，不能自已。茲先生草《歸硯錄》以明志，因不揣譾陋而為之序。</p>
<p><u>時丙辰三月中浣仁和彭蘭媛敬撰</u></p>
<h2>題詞</h2>
<p>揮手湖山意洒然，卜居林野愛幽偏。濟時有道同良相，涉世無機是散仙。重慶淵源宏舊緒，存仁著述富新編。</p>
<p>相逢路較前時近，易棹王猷雪夜船。</p>
<p><u>丙辰春仲秀水愚弟曹大經海槎</u></p>
<p>喜從桑梓話樵漁，境僻溪環好結廬。非有閑情耽水石，每尋佳趣到琴書。折肱道契孫思邈，苦口言符陸敬輿。</p>
<p>不盡憂時懷古意，且開小圃灌春蔬。</p>
<p>仁心古誼繼忠州，千頃波濤一葉舟。書可活人常小試，才堪醫國切先憂。艾溪老宿牽離緒，秀水耆英慨舊游。</p>
<p>惆悵生平師友誼，靈根天爵要交修。</p>
<p>世態模棱靜裡參，有時捫虱縱清談。《靈蘭》獨悟能砭俗，甘蔗旁生祝夢男。把卷閑宜窗臥北，著書名若斗垂南。會當一遂緇衣好，一棹雙橋益訪三。</p>
<p>幾歲瘡痍未息兵，桃源小隱謝浮名。高文縱筆千言當，妙語揮犀四座傾。世外神仙留橘井，山中風味足　羹。</p>
<p>一編自有千秋業，不獨歸來硯可耕。</p>
<p><u>丁巳長夏宜春晚生袁鳳桐敬民</u></p>
<p>回溯神交兩載余，獲親光霽快何如！名山著述窮元奧，濟世襟期藉發攄。妻子一廛甘小隱，丹黃四壁愛吾廬。</p>
<p>新編借富規時意，許我先窺未見書。</p>
<p><u>戊午仲夏同邑教弟周在思二郊</u></p>
<p>曲水回環一碧流，　溪地僻樂清幽。居非近市耽歌嘯，家有藏書供校讎。良相救時同妙手，奇方獲解豁雙眸。</p>
<p>先生此道肱三折，苦口言如藥石投。</p>
<p>高曠襟期志氣恬，不貪為寶勵雞廉。功深著作琳琅富，學究岐黃歲月淹。種杏成林追董奉，撫松歸隱似陶潛。</p>
<p>孱軀一再叨仁術，黍穀回春勿藥占。</p>
<p><u>戊午新秋歸安女史章華徵</u></p>
<p>生不為相當為醫，一掃寰宇之瘡痍。吸水直須窮上池，洞燭　結如燃犀。真宰上訴閶闔披，乃許司命侔神祗。</p>
<p>我觀毒藥供醫師，十失三四猶次之，食不制兮事不稽，無怪使我生狐疑。吁嗟乎！富貴溺心鼎爐欹，功利奪人龍虎飛，群魔欹正艱且危，乾坤不交坎離暌。世事如云類若斯，靈丹一粒珍刀圭。王君抱硯歸　溪，布衣蔬食甘掩扉，著書索隱探淵微，世人未見驚新奇。天雞HT　旦醒夢迷，名山一席傳者誰！</p>
<p><u>己未春仲仁和趙夢齡菊齋氏</u></p>
<p>先生自是人中龍，二十八宿羅心胸。岐黃術欲追上古，盧醫扁鵲將無同！偶然著作《歸硯》編，闡揚至理開蠶叢。笑他世上爭名客，蕉鹿繁華駒過隙。恬淡真如張季鷹，逍遙直似陶彭澤。轉瞬滄桑事可悲，吳山看遍劫灰飛。申屠卓識先歸隱，早向　溪掩竹扉。輞川莊好春風靜，扁舟似入桃源境。屋後時聞　乃聲，門前且看桑榆景。</p>
<p>避亂重來訪舊游，依然把酒話田疇。當年曾起膏肓疾，回首而今已十秋。受恩深愧酬無力，坎HT　愁常淚沾臆。往事淒涼不忍談，故園今已生荊棘。何日三吳息戰爭，與君相約結比鄰。硯田同作歸耕計，對榻西窗論道經。</p>
<p><u>庚申孟夏仁和世侄胡耀曾榮甫</u></p>
<p>溪深處結茅廬，遍地瘡痍孰療除？惟此石交堪與共，歸來且著活人書。</p>
<p>遁世逍遙寄睡鄉，回春妙手擅岐黃。編成小錄千秋業，重慶遺書合瓣香。</p>
<p>把卷蓬窗動旅懷，申江一棹與君偕。思歸已是無家客，淒絕當年賜硯齋。</p>
<p><u>同治元年仲夏錢塘後學戴穗孫</u></p>
<h2>跋</h2>
<p>是書鐫於杭，托徐君亞枝校讎。庚申春，刻甫竣而杭垣失守。迨援兵來，賊遁去，杭人慮其復至，率遷避，承胡子榮甫挈版畀余，顧僻鄉無攻木之工，迄未修校。辛酉秋，海昌日蹙，余攜以棲於濮院，改字夢隱。迨季冬，杭垣復陷，海昌亦潰，余不能歸。今夏更攜以至滬。有元和金君　齋者，讀余書有年，亦竄難在此，適霍亂大行，市醫罔措，　齋遍搜坊間《霍亂論》，大聲疾呼以告人曰：指南在是，毋走歧途！因而救全者不少。且嘗於乙巳年，輯《轉筋證治》一書於姑蘇，書中多采芻蕘，惜版已毀，余亦未之知也。　齋與仁和周鶴庭茂才同寓，始知余在滬。六月十九日，遂來訂交。善氣迎人，使我如坐春風中。序齒長余兩歲，乃殷殷然必欲執贄門下，余何敢當！而謙光下濟，益可見其虛心好學之不可及矣。既而余有瀛洲之游，爰以此版托其修校。比返申，業已蕆事。</p>
<p>余方快遇心交於萍寄之時，將出諸稿以質正之，並欲重訂《霍亂論》，以補前刻之未備。詎八月二十八日乙夜陡患霍亂，詰朝吳縣華君麗云速余往視，已形脈兩脫，音嗄汗淋，亟授參、苓，莫從挽救。嗚呼！余不覺涕下之如雨也。回憶亞枝於申春閉城後，溘然而逝；榮甫於酉冬城陷後，未聞下落；贈言諸君如海槎、菊齋、二郊，並歸道山；敬民孑身竄難來申，於六月十七日哭母身亡，年甫三十一，尤可傷也；彭、章兩閨秀，亦已化去。是書之成，皆不及見。而余曩刻醫書十種，版尚在杭，諒化劫灰。夢境如斯，能無感慨？且知己零落殆盡，更何從而析疑問難哉！因筆以識余痛。</p>
<p><u>同治元年八月夢隱又書於上海之隨息居</u></p>
<h2>卷一</h2>
<p>竊思人賴飲食以生，而飲食之烹飪，必藉於水。水之於人，顧不重歟？夫水以流動為性，以潤下為德，故水無不流，流則不腐，所謂「合千派而不竭，納眾流而不污」者也。惟杭、嘉、湖、蘇、常數郡之水，獨異於他處。</p>
<p>以地勢坦夷，水極平衍，自古稱為「澤國」，而支河萬派，　汊繁多，其大河之水既已平流，則　汊之間竟如止水。居其所者，飲於斯，食於斯，濯糞穢於斯。若暑月旱年，則熱毒蘊蓄，為害尤烈。考鄱陽章氏《飲食辨》云：止水藏垢納污，飲之主多病。故此處居人，每患三瘧，輒延綿不易愈，患而癰瘍、香港腳者為尤多，始信章氏之言為不誣也。欲康濟斯民者，當以鑿井為急務焉。奈水鄉之人，以河汲既便，遂相沿成習而不察其弊，故罕知鑿井之利。苟知瘍、瘧、香港腳之甚於他處，而識其病源之在水，則救弊之策，曷可緩乎？況「鑿井而飲」，古之訓也，且可備旱。或曰吾鄉為荷葉地，不宜於井。噫，是何言歟？所謂荷葉地者，以四面環水，形如荷葉也。凡屬水鄉，大都若是，不獨吾鄉爾也。至水鄉鑿井，及泉甚易。工省價廉，又何樂而不為耶？且聞每有湮塞之井，可見前人具有卓識，而後人廢置為可嘆也。若能隨處掘浚，較鑿尤易。惟宜冬令為之，夏令地中冷，恐不能深入也。井口宜小，庶免墮溺之虞。但囿於習者，難與謀始。敢望大雅君子，仁心為質，廣為傳說，身先開鑿，俾人人共飲清泉而免疾病，則井養不窮，同享王明之福，其陰德曷可量哉！士雄嘗以泰西鑿井法附刊先曾祖《隨筆》中。乙卯冬，挈眷回籍，居於　溪，復為此說以貽同志，奈為眾議所格。丙辰夏秋亢旱，赤地千裡，余復慫恿浚河，又格不行，而日汲幾斷。幸張君雪沂有方塘半畝，頗極淵深，農人欲購以戽田。張曰：「吾將以此濟一鄉之飲者。」竟不售。余家亦賴之。</p>
<p>飲水思源，因撰楹帖一聯以贈云：「我澤如春，仁言利溥：上善若水，世德流長」。其時余嘗遵陸游禾，一路鄉民，咸憂渴死。石水貴至百錢，大戶水費日以千計，無井故耳。有心有力者，不可境過輒忘也。</p>
<p>章杏云先生《飲食辨》云：凡米新者，香甘汁濃，養人為勝。試觀作餳作酒，新者之力較濃，稍久則漸薄，豈非陳不及新之明驗乎？本草言陳者良，是為病患言也。以新者力濃，恐貽食復之患耳。又極言炒米之弊，余皆韙之。蓋米愈陳則愈劣，納稼之時，但宜藏穀，隨時碾食，則香味不減而滑。乃嘉興等處不諳藏穀之法，刈獲之後，即舂而入囤，用糠蒸　數月，米色變紅，如陳倉之粟，名曰「冬舂米」，取其經久不蛀，亦杜遠方販運，以慣食此米者，不出二百裡之外也。志乘未載，不知何人作俑，而土人習之，翻以白米為味淡不香，何異醉人視醒人為醉之顛倒耶？然米經蒸變，不但色香味全失，而汁枯性澀，是去其精華，徒存糟粕也。故煮粥不稠，造餳、釀酒皆不成，與炒米相去一間耳。余偶食之，即腹脹便閉，必啜淖糜粥數日以濡之始愈。此與武彝人蒸茶為紅者，同一矯揉造作。今奸商更有造發急冬舂之法，旬余即成，隨時可作。米極易敗，尤不宜人。紅茶亦各處效尤，遍行宇內，嗜痂者眾。二者之弊，殆不可革，然知味者固自有人也。又按錢塘龍井茶，甲於天下。邇年土人以秋采者造為紅茶，頗獲濃利，故聖人有鮮能知味之嘆。凡藝茶亦須肥壅，昔人謂專藉雲霧以滋培，不待人力之灌溉者，皆未經目擊之談也。</p>
<p>茶能清神醒睡，止渴除煩，有解風熱，涼肝膽，吐風痰，利頭目，去油垢，肅肺胃之功。口不渴者，可以勿飲。紅茶既經蒸　，失其清滌之性，更易停飲。昔人夸之者未免過當，毀之者殊失其中。章杏翁至謂為災星厄運之媒，亦矯枉而失實也。惟論薑茶治痢之弊，為發前人所未發。其辨云：楊氏立此方，謂東坡治文潞公有效。夫蘇、文二公誠名士、誠貴人，服藥治病，不論資格。苟藥餌不當，恐二豎無知，非勢力所能壓也。醫書所列諸方，嘗有某帝王、某卿相試驗之說，皆是游方術士虛張聲勢，哄騙鄉愚之法，可鄙可笑。且潞公偶然患病，偶然服藥，正史既所不書，稗官亦復未載，後世之醫，何自而知？乃楊氏言之，李氏信之，尤為不值一笑，即使果有其事，所患必是寒痢，治而愈者，得力於薑也。設為熱痢，而欲藉茶之涼，制薑之勢，豈非夢夢！乃今之愚俗，雖目不識丁者，無不知薑茶為治痢之方。迨至百用而百誤，而猶圭臬奉之，抑不思至此乎？愚謂產後之生化湯，亦同此弊。惟洄溪有產後禁薑之論，且曰暑證忌薑，雖與芩、連同用，亦有大害。正與章辨暗合。彼詩文字畫，俗眼不辨妍媸，專尚紗帽，已屬鄙陋。醫藥亦爾，豈不更可哀哉！杏翁以談笑而出之，其慨世深矣！章氏云：《論語》記聖人飲食，不曰必以薑食，亦不曰無薑不食，而曰不撒薑食。撒字從手，檢而去之也。</p>
<p>蓋指聖人作客而言。凡作客者，於主人所設，各隨其便，不宜當食講究烹調。《曲禮》曰：毋絮羹，毋　醢。絮羹、　醢，是臨食時加入調和；撒薑是臨食時檢出調和：皆非作客之禮。薑雖有害，少食亦自不妨。調和之內，業已有薑，聖人必不於食時令其檢去，但不多食而已。然則此句當連下句成文，始為通貫，乃竟講作無薑不食。其誤不始於宋儒，漢、晉人已有「通神明、去穢惡」之說，漢人則本於《神農本草經》。穢惡作臭惡言，能去食物中腥惡之臭也；而通神明殊不可解，神明指人身何物？蓋此書雖傳自上古，其中為後人附益處甚多，須善讀也。《朱子語錄》亦云：秋薑夭人天年。是亦明知其非佳物矣。夫偏於辛而無回味，即偏於熱而無回性也。食之斷不宜多，斷不可久。入藥亦止能散寒，苟無寒邪而誤用之，則營血受傷，津液被劫，外感變而內傷矣。雖有良藥，無從解救，慎之！愚謂神明似指心臟而言，以心藏神，或為陰邪所侵，寒痰所蔽，則神為之蒙，而君主不明矣。並可灌以薑汁者，陰寒之病藉辛以通之，而神明自復也。因誤信《論語集注》而致大病者，余有治吳永言、徐樂亭兩案可參。</p>
<p>又云：感冒客邪，如系風寒，溫散故所當用，倘為溫熱初起，即宜清解。俗人不知，妄以胡椒、辣枚子之類，肆啖以為發散。不知此類止能溫中，不能散表。數十年中，屢見食此過多，一、二日即死者。未死時必唇焦舌黑，津液全無，此《靈樞》所謂陰竭也。陰竭者，血死也。又必昏昏無知，此元化所謂胃爛也。死後必遍身青紫，與中砒毒無殊。更可惡者，俗傳胡椒炒雞，可以調經種子。豈不調、不孕，盡屬血寒？即使果寒，溫暖血室，雞已足矣，何必助之以椒？遂致血枯經絕，即俗云干血癆是也；或崩漏、吐、衄，即血熱妄行也。無病求病，不死求死，良可憫也。愚謂俗傳調經種子等方，大抵皆溫熱之品，世人不察體氣病情，一概恣服，陰虛者必成干血癆，血熱者必致妄行。章氏之言，允為名論。又凡婦女月信有妨於事，欲其暫緩者，先期以胡椒數粒，冷水逐粒吞下，汛即緩行，別無他患。蓋月事將行，冷水能凝遏，使之不行，而胡椒極熱，囫圇吞下，則性不遽發，數日之後，椒性作而冷氣消，其汛始行也。逐粒吞者，一口冷水可緩汛期一日，而一粒胡椒能消一口冷水。觀嚴寒時以胡椒水研墨，則硯不冰，則其性熱傷營可知矣。故孕婦食之墮胎，而陰虛內熱之人，一切辛烈之物皆當屏絕，舉此可例其余也。</p>
<p>鴉片煙之害，夫人知之，而吸之者率不肯戒，余竊怪之。故人張孝子養之謂余曰：吾嘗聞諸吸者云，凡吸此煙，樂不可支，暢美達於骨髓，賢於房事遠矣。故可以移酒色之荒，而沉迷於此，雖至死不忍棄，曷云戒乎？余聞之未能深信。既而楊大尹素園以《飲食辨》寄贈，其煙葉條下附載鴉片，亦有此煙一吸，其樂逾於登仙，雖死不悔之說，信者其為淫藥矣。又云：吸此煙者，初則壯健非常，三數年漸漸黧瘦，不久髓竭精枯而死。始因坐擁濃資，身本無病而求快樂，詎知乃以求死。更有富貴之家，有病不肯祛邪，惟喜立齋、景岳之言，樂於補塞，豈知其害較克伐尤烈？其死乃在一朝半日，或旬月之間，較之吸鴉片煙為尤慘也。愚按吸入腎主之，又必臥而吸，臥則氣歸於腎，故初吸大能鼓舞腎氣，令人不倦，久之則精華發越漸盡，逐致形枯神槁。李維鏞謂其專傷肺氣，甚屬不然。始則富貴人吸之，不過自速其敗亡；繼則貧賤亦吸之，因而失業破家者眾，而盜賊遍地矣。故余目之為妖煙也。亦有因衰病而誤墮其中者，以其吸之入口，直行清道，頃刻而遍一身，壅者能宣，郁者能舒，陷者能舉，脫者能收，凡他藥所不能治之病，間有一吸而暫效者，人不知其為劫劑，遂詫以為神丹。而因病吸此，尤易成癮，迨癮既成，臟氣已與相習，其後舊疾復作，必較前更劇，而煙亦不能奏效矣。欲罷不能，噬臍莫及，乃致速死。余見亦多，敢告世人，毋蹈覆轍。章氏以立齋、景岳之法害人，謂較鴉片尤慘；吾鄉前輩陳乾初先生以堪輿為異端之尤，謂地師之罪浮於佛、老：皆救世之藥石也。讀者切勿視為憤嫉，庶可共挽頹風。</p>
<p>泰西瑪高溫云：麥教師謂鴉片之進中華，創自葡萄牙人。乾隆三十一年以前進口者，歲不過二百箱；至三十一年，有一千箱；三十七年，KT　咭　人始運鴉片自天竺至中華；四十三年，KT　人復自天竺運來二千八百箱，但未盡賣，後即運至別處去矣。此時鴉片交易尚未繁盛。至嘉慶二年，始有四千一百七十二箱進口，而交易後此漸大。</p>
<p>以後每年加損不一。道光元年，有五千五百七十六箱進口；十年，有一萬七千四百五十六箱進口；自十年至二十年，每年加多。於二十年間，有三萬四千六百三十一箱進口。迨今咸豐五年，則尤多矣，有六萬五千三百五十四箱進口。其價大土每箱計洋四百二十一元，小土每箱三百六十元，則今歲鴉片進口，中華費銀統計四百七十八兆六百十六千四百元。每箱斤兩若干，較平算之，如每人吸一錢，則華人食此物者，不下二百萬余人。噫，鴉片進口逐漸加多，其害愈熾愈盛，伊芳於胡底！嘉慶二年至今六十載，進口之數若是之廣，有心人聞之，有不為之痛哭流涕者耶？然此止就外國鴉片進口而論，更可痛者，云、貴二省及浙之溫、台等處，亦廣種此物，將沃土之田，可以種穀養人者，反種此以毒人！合中華所產而計之，則吸此者當不止二百萬余人矣。愚謂中華甘此鳩毒，而外邦為之痛哭，詢從來未有之忠告，敢不亟為手錄。又按徐松龕中丞云：天竺自六朝後皆稱印度，今五印度為KT　咭　所轄。進口貨物近以鴉片為主，宇宙浮孽之氣乃獨鐘於佛國，何其怪也！沃土良田，原以種穀養人。今釀酒之米，種者愈增；而養人之穀，種者愈減：此舉世所未覺也。余足跡所及雖不廣，而到處咨詢，凡蕞爾一邑，歲費造酒之米必以萬石計，無怪乎米價之日昂也！《先憂集》列稅酒為救荒要務，誠為名論。按朱四輔云：世儒言及生財，輒以聚斂目之。但他物可以不稅，而酒不可不稅。鹽有稅而鹽貴，民不能以淡食，鹽貴則艱於食矣；布有稅而布貴，民不能終歲不著衣，布貴則艱於衣矣。衣、鹽之於民必不可少，而且稅之；酒之於民可多可少，而何不稅之也？況彼煮海為鹽，績麻為布，采天生之物而為百貨，皆化無用以為有用；而酒則糜費五穀以成糟粕，化有用以為無用也。就貨物論之，而酒斷當稅矣。商賈作客，攜千百兩之本，以涉百千裡之道途，有風波之恐，有盜賊之憂，而其利不能十一；酒戶賣酒，則坐擁高資，優游庭戶，而其利且數倍也。就商而論，而酒益當稅矣。如以稅酒為聚斂之事，則夫理財非《大學》之務乎？請更辨之：凡民日食不過一升，而尋常之量輒飲斗酒，故一人之飲，足供數人之食；至於盛肴饌、多朋侶，其費又不可勝計也。酒之為物，勤儉多妨，是故稅酒可以使民富。貞節之人以酒亂性，力學之人以酒廢業，盜賊之徒以酒結伙，剛暴之徒以酒行凶：凡世間敗德損行之事，無不由於酒者。此《書》之所以作《酒誥》，漢初所以三人群飲罰金四兩也。酒之為物，志氣兩昏，是故稅酒可以興民教。富之教之，誠經國利民之善術，而安得謂小人之蠹政也哉？宋趙開稱為善理財，其領四川財賦也，言蜀民已困，惟榷酤尚有盈余，遂大變酒法，四路歲課增至六百九十余萬。宋儒胡致堂，稱為通達事理，其論酒禁之事也，曰知治體者，欲罷官榷酤，使民自為之，而量取其利，雖未盡合古法，亦裕民去奢之漸也。其他名臣如范、韓、司馬，名儒如朱文公、真西山等，論列政務，俱極詳悉，而從未言酒稅之非，亦足以見其為濟時之要務矣。又陳漱六先生云：稅酒之法，當行於平時；禁酒之令，當行於凶年。儲一邑酒稅之所入，即為一邑凶年之賑。必平時之稅常令有餘，而後凶年之賑無憂不足。安不忘危，以羨補不足之道也。稅酒宜在城市、集鎮，不宜在村落。村落之酒，米少水多，田家力作者流，聊以滋氣血而和筋脈，非以沉湎也。一人不能耗米數合，一肆日賣不過數斗，稅之則損貧人，且以病酒家矣。市廛既稅酒，則宜禁私釀，不禁則酒家之入利少，而稅不能取盈；村落則止禁醇酒，以毋令分市權也。造燒酒則最耗穀、麥，凶年此當首禁。</p>
<p>章氏云：《詩》八穀禾、麻、菽、麥，後人以脂麻當之。夫脂麻本名胡麻，來自大宛，漢時始入中國，僅可榨油及作餅餌，不堪為飯，安得三代時即列於八穀？古人救飢用火麻，即《本經》之大麻，其為八穀之麻無疑。</p>
<p>至醫書、本草所載香油，皆謂脂麻油，俗以芸苔油為香油，大謬。愚按所辨皆是。若云芸苔油能使女人不孕，雖見古書，然世人以之為烹飪常食之物者廣矣，其可盡信乎？惟肴饌所需，各有所宜耳。至論其性，則欖仁油、豬油最良，茶油、麻油、豆油次之，芸苔油為下，其余等諸自鄶。凡麻、菜諸油皆香，而方言不同，或以麻油為香油，或以菜油為香油，習俗難移，用者貴審其宜。若筆之於書，必明言何油，庶免疑誤。至烏　子殼內之仁榨油，名青油，雖香而有毒，燃燈煤重，鼠亦不食，夏月合蘇油、黃蠟造燭，不堪重按，而晒反堅，世人又往往與他油之久窨無腳名清油者相混。須知此曰青油者，所以別於殼外白皮之名白油也。白油色白如蠟，造燭最良，又名　油、皮油。若皮與仁同榨者，曰綠油，造燭不佳，性冷利。凡瘡藥中用青油、白油，皆取其殺蟲。並不可食，誤食之必吐利。章氏謂為大熱可食者，誤也。</p>
<p>《南中紀聞》云：茶油樹葉四季常青，每於八九月間開花，色白而香，晝舒夜斂，結實凡十余月，直至次年六月，方采掇榨油。足備周歲之氣，以故色味清和不滑，此食品中最宜脾胃者也。愚按衢、嚴亦有用其渣者，可以浣衣去垢，故閨閣中以此油加香料蒸熟澤發，則發黑而不膩　，蓋諸油惟此最清也。</p>
<p>《飲食辨》云：咸能補腎，故有堅筋骨、令人壯健之功。觀牛、馬食鹽則肥健，橐駝嗜咸故多力，飼艾　以鹽則善交，則補腎之說信矣。凡血證、水證、消渴、喘嗽之外，皆不必申食鹽之禁。愚按焚修之人食淡者，正慮腎得補而欲易動也。</p>
<p>又云：《月令》仲夏令民毋刈藍以染。鄭氏以為恐傷生養之氣。夫生養之氣，萬物所共，何刈他草不禁，獨禁藍乎？至於字從監，或六書諧聲之理，鄭氏解為監禁，亦屬牽強。蓋藍主解百種惡藥毒，制百種惡蟲毒，退一切大熱，行一切敗血。是以先王之世禁之者，以時當仲夏，炎　正盛，毒蟲正多，意在留此有用之物，以救民疾，觀「以染」二字，可見言不當為染色之小用也。愚謂此辨誠前人之所未及，益見先王仁民之政之無微不至也。</p>
<p>又荷葉條下云：東垣諸方，不論溫、涼、補、瀉，必用升、柴、蒼、葛等升散之藥數味，乃至治天行疙瘩大頭證，亦用升、蒼、荷葉三味為清震湯，名其病曰雷頭風。升麻、荷葉助其上盛之陽邪，蒼朮燥其垂竭之陰液，背道離經，至此而極。後世無目之人，猶亟稱之，豈不悲哉！此證之來，其氣最惡，死最速。回憶生平閱歷，惟以退熱、消風、解毒為主者，則十全八九，服清震湯者，則百無一生，嘗目擊數十百人矣。愚謂此言是也，何以於藕因其能療凍瘡，遂謂其性大熱，凡肺熱嗽血、心熱悸遺，並垂深戒，殆智者之一失也。夫治凍瘡之品，如椒、蒜之類，固屬辛熱，然黃柏亦治凍瘡，豈可概指為熱藥乎？又東垣普濟消毒飲，用者亦須減去上升之藥，庶免助邪之患。</p>
<p>又云：丹溪倒倉法，無理不通，乃自明以後，醫書群附和之，我朝先輩謂其於人腹中作把戲是矣。況牛為稼穡之資，天子無故不忍宰，祭祀非天神不敢歆，豈可妄殺乎？及觀《莊子》犧牛、耕牛之喻，知古人宰殺者惟犧牛，而耕牛必不殺也。愚謂丹溪義烏人，彼地有豢牛以斗者，名曰操牛，斗勝則善價以爭購，敗則賤賣於屠而宰之。平時不事南畝，食稻飲醇，奉如上客，此他處所無者。其肉云極腴嫩，人皆嗜之。余失怙後，蒙父執金履思丈提挈，館其地者將十載，因家規不食牛、犬，故未染指。土人因豢牛而破家者不少，真陋俗也。不知元時已有此風否？諸書未載，故附錄之。</p>
<p>驢、騾，馬屬也，而騾介驢、馬之間。楊素園大尹云：牡驢、牝馬交而生者曰馬騾，形較馬尤高；牡馬、牝驢交而生者曰驢騾，形較驢為大。皆有牝而無牡。余謂騾既皆牝，再與驢馬交而生者何名？楊云：騾性貞，從無與驢、馬交者。余曰：然則《易》言利牝馬之貞，當是騾也。有牝無牡，正合坤之純陰，以其為馬所生，仍為馬類，故直謂之牝馬耳。大令深頷之。又乾為馬，馬之牝者，猶是陽中之陰，惟騾行最健，雖駿馬不能及，而性極調良，故日牝馬地類，行地無疆，有君子攸行之象焉。世傳騾之前陰，有骨如環，不能辟翕，故性貞而不交。余按女人有賦此形，而不能安貞如彼者，必遭產厄。曩仁和謝金堂先生云：有姚穩婆者，嘗為其親串家洗一女，即曰：此女騾形，長成後慎勿嫁，可享長年。初不信，久亦忘之。後適某氏，孕而欲娩，諸穩婆莫能措手，母家遣人召姚。曰：我雖耄矣，猶憶二十年前，即囑勿嫁，汝主豈不憶乎？辭不往。竟不產而亡。噫，此嫗手眼可云精矣。故於初生時一捫，即知其交骨無縫也。古書訛騾為螺，致令費解，余已考正於《女科輯要》中。或云驢、馬交非其匹，而騾性獨貞，誠不可解。余謂人亦有之，目擊屢矣，當以不解解之。</p>
<p>本草據《月令》，強分麋、鹿二角有補陰、補陽之別。純廟謂木蘭之鹿、吉林之麋，角皆解於夏，惟麈角解於冬，曾於南苑見之，特正其訛。於乾隆三十三年，改時憲書仲冬月令「麋角解」為「麈角解」。後之修本草者，當遵奉改注。</p>
<p>《蠡海集》云：凡鳥卵皆系著於脊，乃本於天者親上也。脊系卵處，下生一腸，上口連屬於系卵。卵既長足而產，則入於此腸，俗謂之花腸也。下口乃並於直腸，以通於後竅出焉。凡獸之胎，則系著於腹，而其結處為胎室。既長足則並膀胱下口，以通於前竅出焉。此本乎地者親下也。</p>
<p>又云：天賦氣，氣之質無性情，雨、露、霜、雪，無性情者也；地賦形，形之質有性而無情，草、木、土、石，無情者也；天地交則氣形具，氣形具則性情備焉，鳥、獸、蟲、魚，性情備者也。涎、涕、汗、淚，得天之氣；羽、毛、鱗、甲，得地之形。</p>
<p>又云：萬物之所為生者，必由氣，氣者，金也。金受氣，順行則為五行之體者，金生水，水生木，木生火，火生土，冬至起歷之元，自冬而春，春而夏，夏而長夏，長夏而歸於秋，返本歸元而收斂也；逆行為五行之用者，金出礦而從革於火以成材，成材則為有生之用，然火非木不生，必循木以繼之，木必依水以滋榮，水必托土以止蓄，故木而水，水而土，是則四行之賴土以定位，敵大撓作甲子，分發五行為納音：初一日金，二日火，三日木，四日水，五日土，乃知金者，受氣居先也。所以金為氣母，在天為星，在地為石，天垂象，地賦形，故石上云而星降雨，天地氣交。星者氣之精，石者氣之形，精氣合而水生焉，故曰金生水。《天文志》以星動搖而為風雨之候，石津濕而為雨水之應，豈非金生水乃氣化之義歟？五行以氣為主，是以五行之序以金為首也。又天氣主生，地氣主成，水氣主化，故曰三元。</p>
<p>又云：梨，春花秋實，有金木互交之義，故曰交梨；棗，味甘色赤，有陽土生物之義，故曰火棗。</p>
<p>周公謹云：種竹法──每歲當於新竹成竿後，即移先一歲者為最佳。蓋當年八月便可行鞭，來年便可抽筍，不過夏令早晚澆水，無不活者。若至立秋後移，雖無日晒之患，但當行鞭之際，或在行鞭之後，則可僅活，直至來年方可行鞭，後年春方始抽筍，比之初夏所移者，遲一年氣候矣。</p>
<p>又云：種葡萄法──於正月末，取葡萄嫩枝長四五尺者，卷為小圈，令緊實，先治地土，松而沃之以肥，種之，止留二節在外。候春氣發動，眾萌競吐，而土中之節不能條達，則盡萃花於出土之二節，不二年成大棚。其實大如棗，而且多液也。愚謂此二物皆藥中上品，宜廣種之。</p>
<p>徐季方云：甘枸杞以甘州得名。河以西遍地皆產，惟涼州鎮番衛了江石所產獨佳。了江石在邊外數百裡，為番夷往牧之地。土人往取，率數十人結隊，晝伏夜行，采不數掬即還，恐番夷劫掠也。道遠而得之難，故甚貴。</p>
<p>干者大如豆，赤如朱。即當時貴人，歲得亦止升合耳。黎愧曾為彼地觀察，云僅二見。服食家以細小紫色者為甘枸杞，非也。余所見真者，大而赤，少子，即如川貝母大如龍眼，川附子八只重一斤，人多不識。然則燕石似玉，魚目混珠，天下以偽亂真，大抵然也。</p>
<p>梁晉竹云：世傳化州橘樹乃仙人羅辨種於石龍腹上，共九株，各相去數武，以近龍井略偏一株為最，井在州署大堂左廊下，龍口相近者次之，城內又次之，城外則臭味迥殊矣。廣西江樹玉孝廉著《橘紅辨》，謂橘小皮薄，柚大皮濃，橘熟由青轉黃，柚熟透才轉黃。間嘗坐樹下，細驗其枝葉香味，明明柚也，而混呼之曰橘，且飾其皮曰紅，實好奇之過云。又范呂男《粵中見聞》云：今售於外省之橘紅，俱是增城香柚皮偽為之。其柚皮薄小而尖長，甚芬郁，不同別處所產，故可　人。愚謂世人貴耳賤目，喜以重價購偽藥，橘柚易辨尚爾，況罕見之物乎！包公剡云：黔中出九香蟲，生澗水中。春、夏出游水面者不可用，秋、冬潛伏崖石下，土人掀石得蟲，輒以售人。服之宜子，不但房術之需也。服法用十四枚，將七枚微火炒去殼、翅及足，七枚生用，每服一生一熟，作一次嚼食，白湯下，日二，三次，用完十四枚而止。愚謂此蟲性溫助陽，而秋、冬潛蟄，故為補腎宜男妙品，若春、夏浮游水面者勿用也。今藥肆中所售，用者鮮效，豈產非其地乎？抑采非其時乎？</p>
<p>《嶠南雜記》云：試龍涎香法──將結塊者奮力投水中，須臾突起浮水面；或取一錢口含之，微有腥氣，經宿其細沫已咽，余膠黏舌上，取出就淖，秤之仍重一錢，又干之其重如故；雖極干枯，以銀簪燒極熱鑽入，乘暖抽出，其涎引絲不絕。驗果如是，不論褐白、褐黑色皆真。</p>
<p>又云：藤江出青魚膽，售者以黃藤膏混之，黃藤亦能行血去翳也。余過藤，詢漁人獲青魚否，漁人以一尾來獻，狀似鯇而黑。取其膽懸之船窗上，越宿漿裂出過半。土人云：膽衣甚薄，漿發即裂，故難得全者。張七澤云：松江人謂草魚為青魚，青魚為烏青。草魚今人家池中用草蓄之者，即鯇也。愚按金華人謂青魚即烏鯔，以其狀似鯔而色黑也。謂鯇魚為青魚，則彼俗之訛也。蓋各處方言不同，沿習既久，雖博雅者亦承訛而不自知。即此類推，博物難矣。至嘉興人則謂鯇魚為池魚，最屬可笑。夫池中可蓄之魚甚多，何得獨指於鯇耶？更有誤鯇為　為、　者。一尋常食品，尚爾難辨，況遐方罕覯之藥乎？青魚善啖螺螄，杭人以螺螄青呼之最通，使人不致混淆也。</p>
<p>《筆談》云：吳人嗜河豚魚，有遇毒者，往往殺人，可為深戒。據本草：河豚味甘溫無毒，補虛去濕氣，理腰腳。因有此說，人遂信以為無毒，食之不疑，而不知本草所載河豚，乃今人之KT　魚，又名吐肚魚、規魚、胡夷魚，非本草所載河豚也，引以為注大誤矣。愚按丁巳春，錢塘姚君歐亭宰崇明，招余往游，適余滯跡禾中，辭不能往，使者復來，初夏始去。姚云：來何暮？三月間河豚極美，為此地物產之最。余謂此物不吃也罷。姚笑曰：君惑矣！止須去其肝、子、眼三件，而洗淨其血，並無所謂忌煤　之說也。吾闔署大啖，試問曾有人中毒否？其西席張君心鋤余戚也，今春至署，初不敢食，及見多人食之無恙，亦恣啖。且云諺謂「拚死吃河豚」之「死」字，乃「洗」字之訛。苟能拼用工夫，洗得淨盡可吃也。KT　魚則彼地亦有，余曾染指，惜河豚未嘗其味，贅此以質博雅。然衛生者不可以余之所聞如此，遂縱爾口腹而不之慎也。</p>
<h2>卷二</h2>
<p>問：丹溪謂人身陰不足，景岳謂人身陽不足，君以為孰是？余曰：人身一小天地，試以天地之理論之。陰陽本兩平而無偏也，故寒與暑為對待，晝與夜為對待。然雨露之滋、霜雪之降，皆所以佐陰之不足，而制陽之有餘。</p>
<p>明乎此，則朱、張之是非判矣。</p>
<p>周公謹云：北齊高緯以六月游南苑，從官　死者六十人，見本紀。而《通鑒》書曰：「賜死」，「賜」乃「」字之訛耳。《綱目》乃直書曰：「殺其從官六十人」，而不言其故，其誤甚矣。尹起莘巧為之說曰：此朱子書法所寓，且引《孟子》殺人以梃與刃而政之，說固善矣，然其實《通鑒》誤之於前，《綱目》承之於後耳。</p>
<p>緯荒游無時，不避寒暑，於從官死者尚六十人，則其余可知矣。據事直書，其罪自見，何必沒其實哉！余按暑殺人，自古為烈。而儒者既誤以「　」為「賜」，醫者又妄以暑屬陰，幾使卒死於　者冤無可訴。葉天士先生嘗云：熱地如爐，傷人最速。可謂要言不煩，足以喚醒後人。</p>
<p>宋逸士劉卞云：人多以嗜欲殺身，以貨財殺子孫，以政事殺百姓，以學術殺天下後世。吾無是四者，不亦快哉！愚謂學術殺天下後世，醫書亦其一也，著術家當何如兢兢乎？</p>
<p>《蠡海集》云：觀心字之義，大有旨哉。其為象也，左點以配木，右點以配金，在上之點微撓而尖銳以配火，在下則曲鉤而撓起以配水。蓋元武之神，二物在下之象為多。腎亦二枚也。此四行豈不親切乎？土亦寄下，以水、土同行耳。</p>
<p>又云：五行五氣，死中有生之義存。如耳為腎竅屬子，陽金死於子，而陰金生焉；鼻為肺竅屬酉，陽火死於酉，而陰火生焉。是以耳能司聽，鼻能司臭也。愚謂鼻塞治心，耳聾治肺，亦本此義。</p>
<p>又云：北斗位北而得七，為火之成數；南斗位南而得六，為水之成數：此乃陰陽精神交感之義也。日生於東，乃有西酉之雞；月生於西，乃有東卯之兔：此陰陽魂魄往來之義也。人身之肝位在於右，而脈診卻見左手；脾位在左，而脈診卻見右手：此亦陰陽互藏其宅之義也。</p>
<p>又云：男子之氣始於子，子在下起坎，為男而位北也，故男子氣鐘於外腎，外腎者，督、任二脈之交也；女子之氣始於午，午在上起離，為女而位南也，故女子氣鐘於兩乳者，肺、肝之脈始終也。</p>
<p>雷艾陵精理學，嘗云欲亦原於天，舍欲不能獨為理。天有理有氣，人得其理以成性，得其氣以成形。有形而有欲，性即天之理，而欲者天之氣也。飲食男女，人之大欲存焉。使無飲食男女之欲，則無所謂邪，又安有所謂正，而理亦無從附以見。又何殊於釋氏絕色、聲、香、味，而歸於虛無寂滅之道哉！愚謂聖賢教人不過窒欲、節欲、寡欲而已，強人絕欲，則不近人情矣。艾陵所言，真通儒之論。</p>
<p>《星甫野語》云：廬江姬氏婦，母女皆無穀道，便遺悉由前陰，而不害生育。其女嫁後，婿家欲退婚而涉訟，邑宰劉公為干據其母供，麾令入內室，夫人質驗而訟遂息。劉判有「尾閭偶闕，無虧種玉之田」云云。愚謂此異稟也，昔所未聞，故錄之。</p>
<p>《四庫全書提要》謂魏氏《續名醫類案》網羅繁富，變證咸備，惜編次潦草，不免蕪雜。愚按此書十一卷瘧門陸祖愚治陳雅初案後云：己丑長至後一日錄是案。嗣考仁和胡書農學士《先友記》云：魏君沒於乾隆壬辰。然則以六十卷之書，僅三年而蕆事，雖極敏捷，殆不過草創初就耳。倘天假以年，重為刪定，斷無以上諸病矣。茲錄拙校數條，博雅正是。</p>
<p>卷四中寒門按語：余有凌二官案可參。愚嘗通部展閱，並無凌二官之案，恐即熱病門凌表侄案耳。前後稱謂不一，如何參考？其為初創草稿，而非定本也灼然可見。</p>
<p>厥門後二條是魏案。</p>
<p>凡屬外淫，皆曰感證。魏氏所編雖首列傷寒、瘟疫二門，而風溫、濕溫闕然未備，乃於第六卷列感證一門，殊為含混，蓋外感頗疏也。楊氏子至宋復華各案，皆其治驗，率內傷挾感耳。</p>
<p>魏氏謂傷風誤表，多成勞損，諄諄致戒。愚謂此特其一面也，亦有因邪未清而誤補以成勞者。雍、乾間，歙人吳澄字師朗者，著《不居集》一書，專論外損，自成一家。雖用法未盡善，而其言不可廢也。本門末條是魏案。</p>
<p>熱病門喻案，面足浮腫云云。魏氏謂面腫可云，足腫則未確，終是血不配氣耳。愚按肺主一身之氣，而皮毛者肺之合也。感證後氣復而血虛足腫者固有之，而余熱不清、肺氣壅滯者則尤多也。觀燥門趙我完次子案可知。</p>
<p>若胃熱不清，則津液不復。經云：胃不和則臥不安也。又耳閉宜清肺，與耳鳴宜滋腎者有殊。至脾、胃分別論治，尤為開千古之群蒙，葉天士深得力於此，而為靈胎、潤安所折服，乃魏氏一概非之何耶？惟「痢以下多而亡陰，瘧以汗多而耗液」二語最精確。凌表侄一條是魏案。</p>
<p>火門石頑治張太史虛火證，魏評極是。</p>
<p>嘔門自鮑綠飲以下皆魏案。</p>
<p>瀉門自宋復華以下皆魏案。但復華之病，似肝木乘胃，故潤藥相宜。如果乘脾，則參、朮是要藥矣。</p>
<p>瘧門施渙之、許懷民二條皆魏案。此門治法，於暑濕時瘧，闕焉未及。惟繆氏解用白虎以治暑證，而乃初病即雜以牛膝、首烏等陰分之藥，皆未可為軌則也。胎瘧之稱，尤為不典。魏君博雅，胡亦惑之？痢門自張龍文以下皆魏案。</p>
<p>痢後風末一條是魏案，第此案宜入瘧痢門。</p>
<p>消門胡天敘條是魏案。</p>
<p>黃膽門自徐環薇以下皆魏案。</p>
<p>內傷門末二條皆魏案。</p>
<p>吐血門末三條皆魏案。</p>
<p>衄血門末二條皆魏案。</p>
<p>便血門趙正為室人條系魏案。</p>
<p>痿門按語云：此證為肝經燥火鬱於脾土而成，世罕知者。此誠不刊之論。所附黃澹翁案未見，蓋此書脫誤甚多也。馮楚瞻治李主政案，議論極精，治法未盡善，而馮氏最為柳洲所心折，故不覺推許過當也。末兩條皆魏案。</p>
<p>膈門陳溶上以下皆魏案。末條竟是一篇祭文。</p>
<p>喘門葉石林家喘延四世，而愈病之藥不同，夫一脈相傳，病情尚爾。世之執死方以治活病，而不察其臟性、病因之各異者，皆盲醫也。末四條皆魏案。</p>
<p>呃逆門末條是魏案。</p>
<p>汗門自詹渭豐以下皆魏案。</p>
<p>面病門後二條注云：自來選鈔入，不知誰案。觀此，則其書非魏氏一人輯選，不過總其成耳。且其中有注未入選而仍載入者，可見為草創之稿，而非定本。蕪復脫簡，宜乎不少。</p>
<p>目門自金封翁以下皆魏案。</p>
<p>耳門自朱、余二女以下皆魏案。閱先生自述耳病之由，士雄亦十四歲失怙，而廢書服賈，雖困苦顛連，尚不致有疾者，以母氏　拄家事也。讀此既感少境之與先生相似，又恨學術空疏，不能起老母之危　，為終身莫贖之罪。涕淚交流，為之掩卷。</p>
<p>鼻門自沈晉培以下皆魏案。</p>
<p>喑門自嚴鐵橋以下皆魏案。</p>
<p>脅痛門自范康候以下皆魏案。</p>
<p>腰痛門末條是魏案。</p>
<p>疝門末二條皆魏案。</p>
<p>五十九卷跌撲門，詳列各證，可云備矣。而二十八卷不知何以先著跌撲諸條，此宜並入於後。又二十八卷之小兒門，皆鯁刺等病，亦宜改標鯁刺為是。</p>
<p>二十九卷既列諸蟲，復列蛔證，蛔亦蟲也，似可並入。至文垣所治馬迪庵內人證，魏氏病其議論不經。夫伏痰挾火上衝，蛔蟲因熱而動，皆能使胸中跳躍，熱降痰蛔並下，則病自安。未可濃非也。</p>
<p>中毒門劉立之治老婦案，方法可謂神矣。曷以知其服水銀？竟不敘明何也。如其煉餌，當入丹石毒門；設云誤服，不能病至歷年。</p>
<p>奇疾門湖州鄔阿二所患乃蛇纏證，非奇疾也，當入外科門。</p>
<p>經水門徐、范二條皆魏案。</p>
<p>崩漏門劉、姚二條皆魏案。</p>
<p>妊娠下疾自汪陛堂以下皆魏案。</p>
<p>妊娠虛損姚、胡二條皆魏案。</p>
<p>喻氏治李、黃二案，笠澤治吳元水婦案，皆不當列於心腹痛條。至黃咫旭室病，魏氏謂喻君不知肝胃病治法。</p>
<p>愚按柳洲獨擅此長，云可概治諸證，未免矯枉過正。如吳元水婦病，斷不可投以血藥者，烏得專究肝腎，而不問其余耶？歸、地滯膈而作嘔，乃氣分病之名論，曷可非哉！妊娠下血許、胡二條皆魏案。</p>
<p>產難門末二條皆魏案。</p>
<p>胞衣不下門末條是魏案。</p>
<p>產後血崩自許竹溪夫人以下皆魏案。</p>
<p>產後血虛按語戒用薑、附剛劑，最為切貼，以養營為先生獨得之心法也。末條是其治驗。</p>
<p>產後火熱自沈協蘭室人以下皆魏案。</p>
<p>產後虛損，愚謂此證最多，何魏氏僅采溫補數案耶？產後顛狂條忽自標魏玉橫治一婦云云，前此各門所附己案，皆不注明，故余一一點出，庶讀者易知。本門丁潤兄室條亦魏案。凡各門自案皆附於後，而此獨羼雜其間，體例不符，顯未編定也。</p>
<p>小兒傷寒袁仲卿子病，喻云寒涼藥皆在胃口之上，不能透入，魏氏駭其何以上云鎮墜深入臟腑。愚謂鎮墜之品，性皆重降，藥雖停於胃口，邪則不能外解而深入矣。用理中湯運轉前藥，必以枳實等為佐。此種意在言表之處，皆須自有會心也。</p>
<p>小兒喘嗽條「嗽」字當刪，以嗽證已列於前也。</p>
<p>小兒疳病末二條皆魏案。</p>
<p>五十二卷肺癰肺痿門止標一「肺」字，脫下三字。</p>
<p>懸癰門魏案一條居首，　癖門魏案一條居中，並宜移後。</p>
<p>五十八卷瘡瘍門吳性全案，乃魏氏治驗。但各門附案，專滋肝腎，豈生平得力於此，而欲獨豎一幟乎？先曾祖《重慶堂隨筆》下卷所附《洗冤錄‧人身骨節辨》，秀水莊芝階先生讀之，謂尚有未是處，因以襄平姚立齋大尹所著《洗冤錄解》示余。據歷驗多案，方骨下之尾蛆骨名曰尾閭，一名　端，一名窮骨，一名橛骨，俗名尾樁，實尾　骨之末節，無竅無髓，或如菱角，或如人參蘆，有連生於方骨下者，有與方骨斷而連者，原不足異，而與現行檢骨格所言：男子九竅、女人六竅，實不符也。又云女子羞秘骨為《洗冤錄補》附會之說，余檢女骨從未見也，詢之同官，亦無見者，且據老仵作云，婦人產子則交骨開，若有羞秘骨則不能開矣。蓋架骨前胯青黑者，多有生前患瘡，或服金石毒藥使然，故踢傷致死條有此骨切不可檢，恐誤認青黑為傷云云。豈有因　精而致骨青黑之理哉？況舍一而起於二，尤為必無之事。若曰天理以此辨貞淫，則婦人再醮不得謂之淫，處子外遇安可謂之貞？苟不辨正，則婦女之下部受傷而死，轉致污其名節者，豈不大可慘哉！愚謂推勘最細，而《人身說概》、《全體新論》諸書，皆不言人有羞秘骨，余方疑矣，閱此始釋然。亟錄之，以志余陋。</p>
<p>太平戚鶴泉集中，有《書漢張太守仲景碑陰文》一首，因錄於下，俾後世咸知醫聖之當敬也。其文曰：南陽漢張太守仲景墓碑載：太守涅陽人，為今南召，故隸南陽。墓久淪沒，無有知者。崇正戊辰夏，蘭陽諸生馮應鰲病，恍惚見神來，稱故漢長沙太守某，為療，囑應鰲為修某處墓。應鰲既愈，依所指南陽城東祠後七十步，跡至祝縣丞園，境宛然，顧不見墓形。向祝求尺寸地，為太守封樹，祝以無驗呵斥之。應鰲計無所出，立石祠中，記其事而歸。後三年，有人於園穿井見石碣，果太守墓。會寇亂，應鰲雖聞信不能往也。國朝戊子，應鰲選南陽郡屬葉縣校，乃親至其地，已自祝而包而楊三易主。驗葬處雖實，墓猶在荒坎中。具始末陳於府，出金市楊地，重甓　，並建墓祠，參議桑公芸為碑記。噫，如碑言，太守靈甚著矣。顧不示於南陽近地，必假之甚遠之馮生，又千余年不一顯，必遲至有明將易代之際，雖顯晦有時，理固有難解者。而卒使遺蛻所存，不終沉沒，林廟蔚然，令後人過而生敬，則事確有實，而言之非誣。嗚呼，太守功在萬世，當報者豈特馮生？而靳尺寸地不一封樹如祝縣丞，又安在哉？長洲沈歸愚尚書《香岩先生傳》云：君名桂，字天士，號香岩。先世自歙遷吳，諸生　山公曾祖也。祖紫帆有孝行，通醫理，至君考陽生而精其術。范少參長倩無子，晚得伏庵太史、生無穀道，啼不止，延醫視之，皆束手。陽生翁至曰：是在膜裡，須金刀割之。割之而穀道果開。太史既長，為紫帆翁作傳以報焉。君少從師受經書，暮歸陽生翁授以岐黃學。年十四，翁棄養，君乃從翁門人朱君某，專學為醫。朱君即舉翁平日所教教之。君聞言即徹其蘊，見出朱君上，因有聞於時。君察脈、望色、聽聲、寫形，言病之所在，如見五臟　結。治方不執成見，嘗云劑之寒溫，視疾之涼熱。自河間以暑火立論，專用寒涼；東垣論脾胃之火，必務溫養，習用參、附；丹溪創陰虛火動之論，又偏於寒涼。嗣是宗丹溪者多寒涼，宗東垣者多溫養。近之醫者，茫無定識，假兼備以幸中，借和平以藏拙，甚至朝用一方，暮易一劑，而無定見。蓋病有見證，有變證，有轉證，必灼見其初終轉變，胸有成竹，而後施之以方，否則以藥治病，實以人試藥也。持論如是。以是名著朝野，即下至販夫豎子，遠至鄰省外服，無不知有葉天士先生，由其實至而名歸也。居家頓倫紀，內行修備，交朋友信，人以事就商，為剖析成敗利鈍，如決疾然，洞中　會。以患難相告者，傾橐拯之，無所顧惜。君又不止以醫擅名者！沒年八十。配潘孺人。子二：奕章、龍章，奕章亦善醫，以君名掩。孫二人：曰堂、曰堅。曾孫三人，習儒業。食君之德，高碩家聲，將於是乎在。論曰：自太史公傳倉公件系其事，陳承祚作《華佗傳》因之，後戴九靈、宋景濂仿其體作名醫傳。君不欲以醫自名，並不欲以醫傳世。臨末誡其子曰：醫可為而不可為，必天資敏悟，又讀萬卷書，而後可借術濟世，不然鮮有不殺人者，是以藥餌為刀刃也。吾死，子孫慎毋輕言醫。嗚呼，可謂達且仁矣。</p>
<p>隨園先生與薛壽魚書云：談何容易！天生一不朽之人，而其子若孫，必欲推而納之於必朽之地，此吾所為而悲也。夫所謂不朽者，非必周、孔而後不朽也，羿之射、秋之奕、俞跗之醫，皆可以不朽也。使必待周、孔而後可以不朽，則宇宙間安得有此紛紛之周、孔哉？子之大父一瓢先生，醫之不朽者也。高年不祿，仆方思輯其梗概，以永其人，而不意寄來墓志，無一字及醫，反托於與陳文恭公講學云云。嗚呼，自是而一瓢先生不傳矣，朽矣！夫學在躬行，不在講也。聖學莫如仁，先生能以術仁其民，使無夭扎，是即孔子老安少懷之學也。素位而行，學孰大於是？而何必舍之以他求。王陽明勛業爛然，胡世寧笑其多一講學。文恭公亦復為之，於余心猶以為非。然而文恭相公也，子之大父布衣也。相公借布衣以自重則名高，而布衣挾相公以自尊則甚陋。今執途人而問之曰：一瓢先生非名醫乎？雖子之仇無異詞也。又問之曰：一瓢先生其理學乎？雖子之戚有異詞也。子不以人所共信者傳先人，而以人所共疑者傳先人，得毋以藝成而下之說為斤斤乎？不知藝即道之有形者也。精求之，何藝非道？貌襲之，道藝兩失。燕噲子之何嘗不托堯、舜以鳴高，而卒為梓匠輪輿所笑。醫之為藝，尤非易言。神農始之，黃帝創之，周公使塚宰鎮之，其道通於神聖。今天下醫絕矣，惟講學一流轉未絕者何也？醫之效立見，故名醫百無一人：學之講無稽，故村儒舉目皆是。子不尊先人於百無一人之上，而反賤之於舉目皆是其中，過矣。即或衰年無俚，有此附會，則亦當牽連書之，而不可盡沒其所由來。仆曾疾病性命危篤，爾時雖十周，程、張、朱何益？而先生獨能以一刀圭活之，仆所以心折，而信以為不朽之人也。慮此外必有異案良方，可以拯人，可以壽世者，輯而傳焉，當高出語錄陳言萬萬。而乃諱而不宣，甘舍神奇以就臭腐。在理學中未必增一偽席，而方伎中轉失一真人矣。豈不悖哉？豈不惜哉！故人沈君辛甫，端恪公曾孫也。嘗病吳鞠通混疫於溫。余謂不但此也，其《條辨》首列曰：溫病者，有風溫、有溫熱、有溫疫、有溫毒、有暑溫、有濕溫、有秋燥、有冬溫、有溫瘧。凡九項，似無遺義，而不自知其題旨未清也。</p>
<p>夫冬傷於寒，至春而發者曰溫病，夏至後發者曰熱病。冬春感風熱之邪而病者，首先犯肺，名曰風溫，其病於冬者亦曰冬溫，病於春者亦曰春溫，即葉氏所論者是也。夏至後所發之熱病，在《內經》亦曰暑，以其發於暑令也。</p>
<p>故仲景以夏月感暑成病者名曰　，蓋暑、　者，皆熱之謂也。今杜撰暑溫名目，最屬不通。至於疫證，更不可與溫熱同治，當從吳又可、余師愚兩家為正鵠。而溫之為毒為瘧，乃溫之節目矣。概而論之，宜乎愈辨愈不清矣。</p>
<p>其次條云：凡病溫者，始於上焦，在手太陰。嘻，豈其未讀《內經》耶？伏氣為病，自內而發，惟冬春風溫、夏、秋燥，皆始於上焦。若此等界限不清，而強欲劃界以限病，未免動手即錯矣。夫溫熱究三焦者，非謂病必在上焦始，而漸及於中、下也。伏氣自內而發，則病起於下者有之；胃乃藏垢納污之所，濕溫、疫毒，病起於中者有之；暑邪挾濕者，亦犯中焦；又暑屬火而心為火臟，同氣相求，邪極易犯，雖始上焦，亦不能必其在手太陰一經也。</p>
<p>第四條云：太陰風溫、溫熱、溫疫、冬溫，初起惡風寒者，桂枝湯主之。夫鞠通既宗葉氏，當詳考葉氏論案以立言，如《指南》溫熱門第三案云：溫邪上受，內入乎肺，肺主周身之氣，氣窒不化，外寒似戰栗，其溫邪內郁，必從熱化。風溫門第五案云：風溫入肺，氣不肯降，形寒內熱，乃　郁之象。用藥皆是辛涼輕劑。至《幼科要略》，論三時伏氣外感尤為詳備。於春溫證因外邪引動伏熱者，必先辛涼以解新邪，自注用蔥豉湯。垂訓昭然，何甘違悖？意欲紹述仲聖乎，則祖上之門楣，不可夸為自己之閥閱也。在涇先生云：溫病伏寒變熱，少陰之精已被劫奪，雖有新舊合邪，不得更用用桂枝湯助熱而絕其本也。豈吳氏皆未之聞乎？中焦篇第一條自注云：肺病逆傳，則為心包，上焦失治，則傳中焦，始上焦，終下焦。嘻，是鞠通排定路徑，必欲溫熱病遵其道而行也，有是理乎？彼犯肺之邪若不外解，原以下傳於胃為順，故往往上焦未罷，已及中焦；惟其不能下行為順，是以內陷膻中為逆傳。章虛穀亦昧此義，乃云火來克金，而肺邪反傳於包絡，故曰逆。夫從所勝來者為微邪，胡可反以為逆？豈二公皆未讀《難經》耶？其不始於上焦者，更無論矣。</p>
<p>書名《溫熱條辨》，而所列霍亂，皆是寒證，故余年少時輒不自揣，而有《霍亂論》之作也。沈辛老云：鞠通書藍本葉氏，有前人未見及而補之者，如秋燥增入正化，痙螈別為兩條，談理抑何精細。有前人已見及而忘之者，如霍亂證自具暑濕門，岫云未經摘出，而伊芳遂不知有熱；疝氣條當分暴久治，香岩先生業已道明，而伊芳又惟知有寒。蓋心思之用，固各有至不至，雖兩間亦缺陷世界，而況人乎？又曰：鞠通所云之疝多系暴證，而久者又系宿瘕病，故可一以溫下取下。若疝雖有歷久不痊，然聚則有形，散即無形，初非真有物焉，如瘀積腹中也。又云：干霍亂以生芋杵汁下咽即生，遠勝鹽湯探吐也。暑瘍初起用絲瓜杵汁塗，或荷花瓣貼之，皆妙，不必水仙根也。</p>
<p>中焦八十四條云：少陽瘧如傷寒證者，小柴胡湯主之，此與溫熱何與，而乃闌入乎？辛老云：葉氏知暑濕時瘧與風寒正瘧迥別，融會聖言，惟從清解，所見甚超；而洄溪反以不用柴胡屢肆詆訾，食古不化，徐公且然，況其下乎？噫，辛老長余九歲，與余交最深，品學兼優，真古君子也。嘗為余校《溫熱經緯》，而家貧無子，今墓草宿矣。</p>
<p>遺稿未梓，偶於拙草中檢得數條，附錄於此，亦可以見其讀書具眼、立言忠濃也。</p>
<p>下焦篇之定風珠，一派腥濁濃膩，無病患胃弱者亦難下咽。如果厥噦欲脫而進此藥，是速其危矣。</p>
<p>二十四至二十六條，皆冬寒內伏、春溫初發之治，乃妄謂溫熱、溫疫，自上、中傳下之治，豈非夢囈？四十二條自注謂宋元以來，不明仲景一書專為傷寒而設。吳氏直未讀《傷寒論》也。注《傷寒》者無慮數十家，皆以為專論傷寒之書，故恆覺支離附會。考論中風、寒、溫、　、濕五氣為病，古人皆曰傷寒，故《難經》云：「傷寒者有五」，而仲聖以傷寒名其書也。此等大綱不清，豈可率爾著書！五十一條痰濕阻氣之陰吹證，實前人所未道及。</p>
<p>五十五條發明蠶砂功用，何其精切，故余治霍亂以為主藥也。</p>
<p>吳氏此書不過將《指南》溫熱、暑濕各案穿插而成，惜未將《內經》、《難經》、《傷寒論》諸書溯本窮源，即葉氏《溫熱論》、《幼科要略》亦不匯參，故雖曰發明葉氏，而實未得其精奧也。至采附各方，不但剪裁未善，去取亦有未當。此余不得已而有《溫熱經緯》之纂也。</p>
<p>後三卷雜說，解產難、解兒難等篇，皆可傳之作，遠勝三焦《條辨》多矣。雜說中惟「霍亂不得吐瀉，治以苦辛芳熱」一語為可議。《條辨》中可議處甚多，姑舉大略如上，庶讀者勿隨波而逐流也。</p>
<p>陰吹乃婦人常有之事，別無所苦者，自亦不知為病，況系隱微，醫更不知。相傳產後未彌月而啖蔥則有此，不可謂為病也。惟吹之太喧而大便堅滯者，或由腸燥，或由瘀阻，或由痰滯，以致腑氣不通，而逼走前陰也。然亦但宜潤其燥，化其瘀，宣其痰，不必治其吹也。</p>
<p>轉女成男之說，自古有之，而驗者甚少。錢塘沈君西海云：有一法每試有效，且甚簡易。若停汛而確知為孕，即取紅紙一張，本夫親書「五更露結桃花實，二月春生燕子巢」十四字於上，書時心中默誦：「無思也，無為也，寂然不動，感而遂通」四句，書畢，貼於臥床內隱處。凡書時、貼時，均勿令人見，並勿令人知，驗後始可傳人也。</p>
<p>黃錦芳云：杜仲、續斷二味，舉世用以安胎，而不知續斷味苦，專入血分，活血消腫，故乳癰、　結、腸風、痔、金瘡、跌仆，一切血瘀之證，皆可用也，雖稍有澀性，行不至泄，然誤施於氣弱、氣陷之婦，則順流而下，奔迫莫御，而有排山倒海之勢，豈區區澀味所能止其萬一者乎？杜仲色紫而潤，辛甘微溫，性專入肝，補氣強筋，筋強則骨亦健，凡腎虛、腎寒腳弱之病，用之最宜，若氣陷、氣弱之輩，斷不可服，以其性最引氣下行，而無上升堅固之意也。夫胎墜本忌血行氣陷，其服此二味亦有奏效者，以人身氣血貴乎溫通，胎墜之因不一，亦有因腎氣不溫，經血凝滯，而胞胎失蔭者，得此二味，則氣煦血濡，不滯不漏，而胎自安矣。止為下虛上實者設也。故胎墜而尺強寸弱者，動作少氣者，表虛惡風汗時出者，心下懸飢得食則止者，一身之氣盡欲下墜者，皆在禁例。</p>
<p>奈作俑者既不分辨明晰，流傳既久，遂以為安胎聖藥，總緣醫理不明，藥性不曉，證候不知，見方號為神驗，雖滑脫之婦，亦爾通用。豈知杜仲、續斷原或因於跌仆，或下寒挾瘀而胎動者之妙劑，苟不知審顧區別而妄用之，則不但不能安胎，反能催胎、墜胎，甚有殞其母命者，可不戒哉！愚按此二藥余不甚用，而世人皆視為補益之品，得黃氏此論，自信管見之未昏。</p>
<p>婦人臨產，世俗每慮其飢寒，而不知飽暖以致難產。《治法匯》云：如飢宜食稀粥，勿令過飽，宜稍飢為佳，以飢則氣下，氣下則速產。若食肉及多食，或啖膩滯之物，則礙於上焦，氣不得下，故產難，雖產下而食滯中焦，則生寒熱。醫者不察，亂投溫補，多致危殆。隆冬淺屋，固宜遮蔽密實，添設火盆；若盛暑必擇清涼之所，但須避風，切勿過暖，致生諸患。如無涼室，榻前可以新汲水盆貯映之。</p>
<p>《明史》載光宗諒暗，鄭貴妃進美女四人，上不豫，內醫崔文升用大黃藥，一日夜三四十起，頭目眩暈，不能動履。楊漣疏劾之云：有心之誤耶？無心之誤耶？有心則齏粉不足償，無心則一誤豈可再誤！上宣漣入，目注久之。方從哲荐李可灼進紅丸。上飲湯輒喘，藥進乃受。上喜稱忠臣者再，頃之傳聖體用藥後，暖潤舒暢。復進一丸，明旦駕崩矣。從哲擬旨賞可灼銀五十兩，以王舜安疏改罰俸一年。於是言者蜂起，謂文升情罪不減張差，而可灼次之，並劾從哲。從哲疏辨，自請削奪，可灼遣戍，文升發遣南京。愚謂此勝國三大案之一，實千古之大疑案也。論者紛紛，迄未得其病情，以文人多不知醫耳。吾友仁和徐君亞枝嘗云：李可灼進紅丸於光宗也，先有奄人崔文升之用大黃，故尤悔庵擬明史樂府有「大黃一下法不治，紅丸雖進補已遲」之句。其謂文升誤下固然矣，而以紅丸為補則非是。蓋光宗之病，陽明實而太陽未罷之證也。史載進紅丸後，聖體暖潤舒暢，則前此用大黃時，必惡寒無汗、周身拘急之證悉具。大黃下之，湯飲不受，明是誤下成結胸之證。紅丸者丸而色紅，莫知所用何藥。余意必是開太陽兼陷胸之品，所以進後暖潤舒暢。史載「上不豫」於「進美女」之下，或太陽經府均病，配紅鉛為經府雙解之劑，故其丸色紅，則仍是下法，不是補法。嘉言所謂得其下之之力，非得其補之之力者也。至於明旦駕崩，或因小愈而復犯女色，宮圍邃密，外廷莫知，不然豈有得暖潤舒暢之轉機，未嘗變證而甫隔一夜遽然長逝乎？因慨文人談醫，每多謬誤，如《兩般秋雨庵隨筆》載詠甘草云：「歷事五朝長樂老，未曾獨將漢留候」，皆未讀醫書之故也。愚謂雖讀醫書，而閱歷未深者，尚有人為書囿之弊，故論病最非易事。</p>
<p>江陰陳定九《留溪外傳》載前明崇明蔡指方神於醫，嘗云醫家心動氣浮，志歧欲侈，訛審察之微，失參辨之宜，而用藥舛謬，未有不殺人於頃刻者也。譬之良相治國，必舉賢任能，因材器使，其心休休，其如有容，正己無私，然後鼎鼐和，陰陽燮，而天下治。如或心術匪端，志向偏趨，而用人失當，欲求竣其功業，終其令聞者鮮矣。故曰為醫如為相，用藥若用人。醫道微矣，非絕欲無私，通神於微妙之鄉，窮理盡性，研幾於幽明之極者，不足以傳也。</p>
<p>歙吳畹清太守，世精外科，以家傳秘法刊行壽世，名《攢花知不足方》。業外科者，當奉為圭臬也。又刻徐、陳兩家《易簡方》四卷於蘇州。其凡例首條云：近來無論內外科，一病就診，先求多衍時日，不肯使人速愈。在有力者雖不惜費，不知病久體乏，受害端由於此；至於貧病，既不能一概送診，務使早日痊愈，方可自食其力，若亦久延，必至無力調治，奄息待斃，甚且因病廢業，舉室飢寒，忍乎不忍？愿行道者心存利濟，力返積習，定獲善報。</p>
<p>呂君慎庵所輯拙案《三編》，卷二第六頁屠小蘇令正案後附顧氏子證，蒙烏程汪謝城孝廉評云：「覆杯即已」</p>
<p>下宜刪去，以言過當也。若然則藜藿人溫證、暑證，亦可用辛溫矣。此評甚是，余極佩服。第杭城之飲食起居甲於天下，雖蘇、揚不及也，而席豐履濃人家之小兒，往往愛惜過分，因嬌養而生飽暖之疾，亦甚於他處。非深歷其境者，不能悉知。余發此論，亦有為而言也。故下文特著「櫛風沐雨」四字，如果「櫛風沐雨」之人，雖感溫暑，似非一味清涼可治，當稍佐以辛散，始合機宜。又結以量體裁衣，勿膠瑟柱，正慮印定眼目，不敢說然也。</p>
<p>第二十二頁所用之交泰丸，系黃連、桂心二物。呂君未注，亦附及之。</p>
<p>曩武進董蘭痴鹺尹、貢海門茂才、四明項君新橋，咸謂余為袁簡齋先生後身，余聞之愧不敢當。以袁公之聰明孝友、政事文章，焉能望其萬一，不過性情通脫有相類耳。定州楊素園明府云：袁乃曠代之名醫也。君之治胡季槎茂材發背案，所引之語已括盡內外諸病治法，無余蘊矣，而千古無人會意。惟尊案不論用補、用清，悉以運樞機、通經絡為妙用。蘭痴諸君之說，殆以此也。余謂此愚者之一得，偶合袁公之見耳。至其集中論議，無非入理深談。愚每因彼而悟此，事實有之。緣人身氣貴流行，百病皆由愆滯，苟不知此，雖藥已對證，往往格不相入，豈但不足以愈病已耶？故錄存拙案，不厭煩瑣，諄諄以此告人。設知此義，則平易之藥，輕淡之方，每可以愈重證，縱必死之病，或可藉以暫緩須臾。乃昧者謂余妙術仁聲，播於邇遐，而病情千態萬狀，多人苦思力索所不能中者，君輒以平淡常用之品而得之，毋乃醫運之亨乎？余但笑而不答。然清夜捫心，慚無實學，而虛名幸獲，隱匿殊多。</p>
<p>遂伏處窮鄉，欲期寡過。惟痴腸未冷，饒舌何辭。嘻，定有慧心人會吾意也。</p>
<p>余親家戴雪賓茂才之先德干齋先生，精於醫，行道四十年。嘗云醫學一門，顯則譬之有形之棋，應變無方，能者多而精者少；隱則譬之無形之道，神明莫測，行之易而知之難。可謂說盡此中微妙矣。故先生年逾花甲，即誓不臨證，而樂善好施，雖家無儲蓄，亦不倦也。壽至七十九而終。</p>
<p>山陰俞君仲華，下方橋陳念義之高弟也。人極豪爽，有俠氣，飲酒談兵，輕財好客，兼佞佛。久寓省垣，與余交最深。惟談醫不合，聞余論景岳，輒怒形於色。余諒其信師過篤，不與較也。然遇時感重證，必囑病家延余主治。而其二子皆誤於溫補，雖余與故孝子張君養之極口苦諫，奈喬梓皆不悟，和而不同如此也。俞嘗撰《結水滸演義》一書，又名《蕩寇志》，尊朝廷以誅盜賊，命意極正，惜筆力遠遜耐庵；且誤以扶陽抑陰之旨寓意於醫，適形偏謬。楊大令素園嘗著論非之。夫以仲華之才之學談醫，而猶走入魔道，醫豈易言哉！故錄之，愿後人勿輕言醫。</p>
<p>扶陽抑陰，大《易》以喻君子小人，章虛穀謂但可以論治世，不可以論治病，韙矣。愚謂未嘗不可以論治病，特扶陽抑陰不可專藉熱藥耳。何也？人身元氣猶陽也，外來邪氣猶陰也。故熱傷胃液，仲聖謂之無陽。醫者欲扶其陽，須充其液，欲抑其陰，須撤其熱。雖急下曰存陰，而急下者下邪也，下邪即是抑陰，存陰者存正也，存正即是扶陽。苟知此義，則易道醫理原一貫也。趙養葵未明此義，僅知溫補為扶陽之藥，而不知陰陽乃邪正之喻，故其法但可以治寒邪為病，陰盛格陽之證也。而乃書名《醫貫》，以致後人惑之，誤盡蒼生，宜乎洄溪之力加呵斥也。</p>
<p>仁和許周生駕部云：吳台卿篤信乩言，長齋禮拜，忘其體之羸，又受道士戒，百日不語，方夏暑火鬱肺，遂病血而死。因謂乩之術，始猶一二好事者信之，繼則朴實之士信焉，繼則聰明之士亦信焉。禍福以乩為筮，學問以乩為師，疾病以乩為醫。背陽而入陰，舍昭昭而即冥冥，其幽陰沉墨，足以消去人之精爽也。愚謂更有因此而遭橫禍者，歷歷可稽焉。大抵惑於此者，總由義利不明，心有妄冀。近日乩壇愈廣，乩術愈新，竟有不堪縷述者，尤可嘆也。</p>
<p>《艮齋雜說》：懲忿則火不上升，窒欲則水不下泄，水火既濟，鼎道成矣。君子讀損之象，得養生焉。</p>
<p>疫癘傷人，莫過於《談往》所云之崇正十六年。有疙瘩瘟、羊毛瘟等名，呼病即亡，不留片刻。八、九兩月，疫死數百萬。十月間有閩人曉解病由，看膝灣後有筋突起，紫者無救，紅則速刺出血可活。至霜雪漸降，勢亦漸殺。愚謂此疫雖奇，殺人既速且多，然無非暑熱毒瓦斯深入營分耳。故輕者刺之可活，而霜雪降病自衰也。考嘉興王肱《枕蚓庵瑣語》及桐鄉陳松濤《災荒記事》，皆云崇正十四年大旱，十五、十六經年亢旱，通國奇荒，疫癘大作。合三書而觀之，則其為暑燥熱毒之氣可知。呼病即亡者，邪氣直入於臟也。彼時設有餘師愚其人者，或可救全一二也。</p>
<p>童　廬云：鎮海鐘景龍先生，精於痧痘，經其治者，百不失一，逆證決期，從無爽日。所用之藥，初服大黃者十居其五，後用補劑者十之七；至於攻發，惟僵蠶而已，全蠍、穿山甲、桑蟲之類，從未一施；獨地龍遇血熱毒盛，百余條不嫌多。嘗曰：小兒血氣未充，臟腑嬌嫩，痘瘡不能起發，良由元虛不能足漿，漿不足則毒不泄，若再以毒攻毒，不但毒不肯出，而正氣更受其害，未有正虛而毒能化者也。語簡理微，真濟世之格言。愚謂亦有因熱極而漿不起者，以正氣為壯火所食也。宜瀉火，忌補托。至痘後生毒，多由妄投毒藥，誤用溫補所致。</p>
<p>楊素園大尹云：余見阜平趙功甫處方極輕。嘗曰：小兒之腹幾何，須令其胃氣足以運化藥力，始能有效。亦至理也。愚謂趙先生雖論小兒，即大人之病，亦須量其胃氣而後權方劑。凡脆薄之人，竟與小兒同視可也。近世惟休寧汪廣期，治小兒專用輕劑。</p>
<p>吾鄉管君榮棠，少服賈，天資穎異，自知體弱，恐不永年，乃潛心於瘍科者十余年，遂精其術。性慷慨，施藥濟人，能起危證。與余為莫逆交。丙辰季冬，忽患吐血而亡，年僅四十四，子才五齡耳。鄉人咸惋惜之。余挽以一聯云：「頻年冷處存心，施藥施糧，共嘆君腸之熱；一旦紅塵撒手，斯人斯疾，可憐兒口猶黃。」其沒前一月，適余養　在裡，嘗攜酒肴見餉，且以未完之稿示余。曰癰疽之生，昔人謂有三因，其實從乳岩、瘰　之外，無所謂內因也。凡外感六淫，先作內病，如傷寒發汗不徹、溫熱分解不清，余邪逗留，為內癰，為痞結，為流注，為附骨疽，皆內有伏熱，外被寒凝所致。即胸背等癰，亦由濕熱上升而成。所謂營氣不從，逆於肉裡，發為癰腫。若云陰虛火炎而生癰疽者，千不得一。總之，瘍證不外氣血阻滯，即損傷致病，亦是血凝氣滯使然皆無補法。</p>
<p>至服藥之道，原不過為富貴人設法，以安其心耳。斷不可通套徇俗，如見　腫而投內疏黃連，毒必黑陷；投犀角地黃，舌必灰黑：脾胃受戕，變證因而蜂起。但此義無論病家不知，即醫家白首其間，亦未悉原委，迨證漸劇，亦不自咎其用非所宜，反謂病勢利害，藥須加重，雖至於死，彼此不悟，悲夫！即諸家所刻治案，抄襲雷同，或各是其是，各非其非，無足取法。若立齋輒用參、附，貧病則先傾其家，而命即隨之矣。且今世瘍醫不知治法，但以書方為能事，更造不服藥必遺毒為害之言以惑人，推其意，無非要譽以斂財，罔顧其人生死。嘗戲改《醉翁亭記》二句云：「醫生之意不在病，在乎斂財而已矣。」一笑。自愧未嘗學問，方劑藥性，素所未諳，然每治人之壞證，均不從服藥中得手也。余覽之，欽其見道之深，而所言皆得我心，正欲析疑商榷，不料其卒然溘逝，天道不可尚矣。亟為節錄如上，以傳其人。</p>
<p>又云：從來外科諸書圖形名狀，設想於魚、蟲、鳥、獸，最是可笑。如頭部之鱔　頭、螻蛄串，唇部之龍泉疽、虎髭毒，手部之蛇頭疔、蜣螂蛀，腿部之上水魚、泥鰍疽，並無解說；更不通者，足跟之牛程蹇，以人比畜，近於謔矣。醫者並罔顧名思義，妄立名目，以惑病家，而病家反以醫人能呼其名為有識。遂相沿成習，牢不可破。</p>
<p>推其緣故，良由不能按穴立名，設此夜半之詞以聳聽耳。宜改牛程蹇為「行程蹇」，其余均以穴道名之。如不入部位者，曰無名腫毒而已。若夫便毒，不盡生於怨曠，古書指為欲念不遂，殆不其然。即霉瘡亦不僅淫毒為患，必先有濕熱內伏，乘淫邪而發作。若其人本無濕熱，雖日游邪徑，亦不傳染也。苟濕熱內甚者，雖不狎邪，感著其氣即染也。破傷成證亦然，皆不可執一而論。</p>
<p>又云：外科蠟礬丸，本草載之，極言其解毒護心護膜之功，夫蠟極難化，礬又傷心而澀腸。病者進以甘旨，尚難運動，反投以堅澀難化之物，必胃閉而不能食，證將因之而劇。即膜須蠟護，而吞入腸胃之間，蠟亦未必至膜。方書之言，可盡信哉！又云：古書所載，有不盡然者。濃味生癰疽；膏粱之變，足生大疔。此「忌口」二字之所本也。余謂此為富貴之說法，非所以論大概也。《千金》、《外台》無不以慎口腹為要務。東垣云：癰疽食肉，乃自棄也。究之諸公當日所交游者，皆富貴也。王氏自謂我術但治貧病，然以刺史之尊，於民間日用疾苦，相離尚遠，其所稱貧病，非藜藿無告之貧也。若勞苦貧人，所患瘍毒，皆由六淫外乘，而醫者不知變通，甚至蔬腐不許入口，一餐之間，有許多禁忌，幾有絕食之苦，病患何以堪此？因之胃閉而病不能愈。此由見理不明，操技不精，藉「忌口」二字為口實，以文過而飾非。及至用藥，則蜈蚣、桑蟲、甲片、蜂房、蛇蛻、角刺諸毒藥，浪用無忌，何獨於尋常食品而嚴申禁戒乎？習而不察，曷勝浩嘆！若能於富貴人退之，貧苦者進之，庶乎兩得其平。蓋胃氣充足，病必易愈，肌亦易生。設此義不知，亦焉能識病情而施妙治乎？又云：考古治疾，無分內外。刀、針、砭、刺、蒸、灸、熨、洗諸法並用，不專主於湯液一端。今諸法失傳，而專責之湯液，故有邪氣隱伏於經絡之間，而發為癰疽也。夫用藥如用兵，若為將者，奉命伐暴，廢其紀律，不以摧堅破賊為己任，徒從事於文檄簿書之間，虛應故事，以待賊之自斃，養奸玩寇，滋蔓難圖，至使與國俱亡而後已，失其為將之道矣。乃醫者治癰疽棄其刀針，不以決去膿腐為亟務，徒從事於方劑湯液之間，以待疽之自潰，因循姑息，養癰貽患，至使與身俱亡而後已，失其為醫之道矣。洄溪論外科曰：手法必求傳授。此言是已，但穎悟者自能心得，否則雖授無益也。今針、砭諸法不行久矣，醫者棄難而就易，病者畏痛而苟安，亦由今時之風氣，尚虛聲，喜浮譽，循名而不責實。世道所以愈趨而愈下者，時也，勢也。秦緩曰：藥之不達，針之不及。仲景治傷寒，用麻、桂以發汗，其汗之不徹者，針刺出血以代汗。今人謂麻、桂不可用而代之，又禁刺法，謗為泄氣，以致留邪不去，發為遺毒。如史傳所載，雖帝王將相之病而用刀針者，不勝縷指。試問今日遇之，尚敢出諸口乎？故曰：時也，勢也。可見在昔內證尚須外治，今則瘍科專以湯液治外疾。藉言補托，遷移時日，輕淺者糜帑勞師，深久者潰敗決裂，或死無斂具，或殘體破家。</p>
<p>醫者自謂謹慎，而不知殺人無跡；病者樂於苟安，而至死不悟。此即子產所論水　弱，民狎而玩之則多死也。不意於醫道亦然，可不哀哉！彼醫者豈設心欲殺人耶？實由不能辨其為膿為血也。亦有能辨之，而故緩之以斂財。亦有不能用刀針，僅藉湯液數方，貌為愛護之言，以愚病家，反訾刀針為險事，而自護其短，指蒸膿發墊為內病，指重證為死證，果死則可以顯我之有斷，幸而不死，又可邀功而索謝。吾誰欺？欺天乎！古人有戒用刀針之說者，蓋謂膿未成而戒其早用，非一概戒之也。然則決不可服藥乎？曰：始則不外汗之則瘡已，若瘡家不可發汗，指既成而言也，亦非一概戒之也。善後不外理脾胃。數法之外，不必他求矣。愚謂外證初起，由於濕熱內蘊，或痰飲留滯，以致氣壅血凝者多，此宜疏通清化為先。汗之則瘡已，特為外感不淨而發者言也。</p>
<p>又云：《正宗》十日點破之說，不可泥定，總須辨其膿之成否為斷。辨膿甚難，或一、二日已有膿而皮色不變，或十余日無膿而皮色紫黑。「辨」之一字，談何容易！刀針不敢輕用，由其審斷不明也。始之以謹慎愛之者，終之以因循誤之也。嘗有破家廢業，殘損肢體，服藥至累百盈千，挨延至數月之久，仍須刀決者，亦有不待決而徑死者，其故在辨之不早、辨之不精也。如胸疽膿脹為患，不決必死；臟毒不早決，必成漏管；頭、面、唇、口疔毒，不決不拔必死；喉癰既成，不決必死；疽發交骱，不決必成殘廢；青腿牙疳，不砭必不救；行程蹇、涌泉疽，不決成廢而死；紫云風，不砭必死。</p>
<p>又云：《正宗》脫疽一證，在指則切之說，全無道理；洄溪論蟲之說，亦屬笑談。蟲，動物也，豈能隔皮殺之？若使遁往他處，猶之流寇滋蔓，必致遍地荊棘矣。石榴疽即翻花瘡同類，大率由於伏熱外越，血不歸經所致，似與目中　肉同義。昔人治一人目垂　肉，刺委中及患處立痊。余師其法，以治此證甚效。寒族中有患此者，內服外蝕而亡，治此者宜鑒之。瘭疽甚多，手指生滿，逐枚破去其膿立愈。誰謂江浙所無，吾鄉呼為「惹肥」。多骨疽有二：其一因膿老而干，漸堅如骨而不能出，久則成漏瘡，出之即愈，亦有患處高起，膿與細骨並出不已者；又一種患處堅硬，十年五載，不痛不潰者，古書謂受孕月內，六親骨肉交合而成，此等不經之談，污蔑後世，誠可痛恨！而無識之醫輕信之，妄肆譏誚，覆盆之冤，誰為雪之？余謂胎無二受，其為駢為品者，皆一受而成者也。</p>
<p>此證實由流痰滯血，阻於腠理，日久堅硬，其堅如骨，痛則骨欲出也。亦有幾出復生，數出而後已者，尚得再謂胎裡疾乎？智者不惑，斯可以為醫矣。余治四人皆愈。</p>
<p>又云：紅腫屬血，心主血，若執諸瘡痛癢皆屬心火之說，而用瀉心湯、內疏黃連湯誅伐無過，往往有內陷者矣。去其膿腐，為外科要務。富貴者畏痛不欲去，貧者穢惡異常，醫家托言不可去，因而蔓延不救者多矣。</p>
<p>吳俗好鬼，自吾鄉以及嘉、湖、蘇、松、常、鎮等處，凡家有病患，必先卜而後醫，而卜者別有傳授，信口胡言，輒云有鬼，令病家召巫祈禱，必用雞數只，豕首數枚。禱而未愈，則頻卜頻禱，故有病未去而家產已傾者，有人已死而殮葬無資者，不量貧富，舉國若狂。其禱畢之際，所備牲物，必使親朋啖盡，若在富宦之家，則使仆婢啖之，故大嚼之徒，每有因此致病者。病必亦卜亦禱，遂至蔓延不已。習俗相沿，即號為紳士者，亦復為之，陋俗殆不易革。惟望長民者嚴示卜人，凡占課但從《卜筮正宗》，不得擅用邪書，妄言鬼祟，即欲徇俗祈禱，準以素食為供，庶可全民命而惜物力，洵賢有司之惠政也。拭目俟之。</p>
<p>《避暑錄話》云：士大夫於天下事，苟聰明自信，無不可為，惟醫不可強。如聖散子方，初不見於世間方書，巢穀自言得之於異人，子瞻以穀奇俠而取其方，序以傳世，天下以子瞻文章而信其言。事本不相因，而趨名者又至於忘性命而試其藥，人之惑蓋至是也。</p>
<p>又云：蔡子因之妻服陷冰丹，而齒皆焦落。愚按友人徐君亞枝之外姑，許丈亮耕室也，誤服附子藥一劑而齒盡落。</p>
<p>禾中虞君梅亭患莖痿，醫者不知其為濕熱，而誤認陽衰，與以雄蠶蛾而一齒陡折。</p>
<p>周公謹云：《和劑局方》乃當時精集諸家名方，凡經幾名醫之手，至提領以從官內臣參校，可謂精矣。然差舛之處不少，且以牛黃清心丸一方言之：凡用藥二十九味，其間藥味寒熱訛雜，殊不可曉。嘗見一名醫云：此方止是前八味，至蒲黃而止，自干山藥以後凡二十一味，乃補虛門中山芋丸，當時不知何故誤寫在此方之後，因循不曾改正。凡此之類，貽誤匪細。</p>
<p>楊素園大令云：余與半痴論膈證，謂噎必有物為梗，當有專治之藥，能消其梗者，斷非書中所云生地、當歸等滋潤之品所能治也。且余於此證，歷考群言，均無定論，用藥亦皆庸劣，惟戴人確有所見，但用藥太峻，人不能從耳。至其病所由來，則必屬於肝膽。試觀患此證者，多憂思抑郁之人，或嗜酒之徒，是其故可思也。半痴頗不以為謬，命著一論，附諸《古今醫案按選》之後。第愧學識淺陋，不能思一物以治之也。近竟得一方，以初生小鼠新瓦上焙乾，研末醇酒沖服。萬舉萬全，真是奇方。因錄寄半痴，俾傳於世。愚曩輯《古今醫案按選》成，而大令於乙卯初夏過杭，為余評點。別去經年，忽於軍務倥傯之際，不遠千裡，以此方附包封遽來，其仁民之心可謂切矣。</p>
<p>余近采簡妙單方一帖，名《篷窗錄驗方》，又續采二卷，多醫家宜備之藥。可以應世，可以濟貧。吾鄉蔣生沐廣文見而善之，已梓入匯刊經驗方矣。</p>
<p>徐洄溪云：嘗見一人頭風痛甚，兩目皆盲，遍求良醫不效。</p>
<p>有友人教以用十字路口及人家屋腳旁野莧菜，煎湯注壺內，塞住壺嘴，以雙目就壺熏之。日漸見光，竟得復明。</p>
<p>愚謂此方藥易而功奇，未入《錄驗方》，故附於此。考本草莧通九竅，其實主青盲明目，而莧字從「見」，益嘆古聖取義之精。</p>
<p>吾鄉許君辛木重訂《外科正宗》，附自製消核膏一方，治瘰　、乳核、流注，及各種結核。施送多年，甚著奇效，惟已潰者勿用。其方用制甘遂、紅芽大戟各二兩，白芥子八錢，麻黃四錢，生南星、薑製半夏、僵蠶、藤黃、朴硝各一兩六錢。凡九味，以麻油一斤，先入甘遂、南星、半夏，熬枯撈出；次下大戟，三下麻黃、僵蠶，四下白芥子，五下藤黃，逐次熬枯，先後撈出；六下朴硝，熬至不爆，用絹將油瀝淨；再下鍋熬滾，徐投入炒透東丹攪勻，丹之多少，以膏之老嫩為度，夏宜稍老，冬宜稍嫩；膏成，乘熱傾冷水盆內，扯撥數十次，以去火毒，即可攤貼，宜濃勿薄。且云膏之老嫩，各有所宜。凡潰瘍諸證，膏勿太嫩，總以貼之即黏，揭之易落為度。攤勿過濃，嫩而過濃，則揭時非帶脫皮肉，即黏住皮肉。凡尋常熱癤，本可無疤，而或生妒肉，或如　鏡者，非黏傷其肉，即膏藥之過也。獨消核膏宜稍嫩，但令貼時勿烊塌而已。攤時須極濃，蓋此膏本以代敷藥，嫩而濃則藥氣沉浸濃鬱而能深入，又皮肉如常帶脫，無慮黏住，可洗也。即煎膏亦有法度，藥物堅脆不同，若一同投入，則脆者先枯，其勢欲燃，不得不一同撈出，然堅者實未熬透，雖銖兩較重，而味終未出也。如消核膏甘遂、南星、半夏最堅，故先下；大戟次之；麻黃、僵蠶更脆，故又次之；白芥爆油，又次之；藤黃多液少渣，又次之；朴硝無質，故最後下。凡煎他膏，亦當如此。愚謂凡結核多挾痰，故許君以控涎丹為君，而加行氣散結為佐，宜乎施之輒效也。至所論膏之老嫩濃薄，及藥物之堅脆分落鍋之先後，尤為用法者之所當知。惜未有人道及，故亟錄之。</p>
<p>蕭山郁龍士《瑤史》云：到瘴癘之鄉，一不可吃冷物，凡蠱毒皆下於冷物也；二不可近女色；三不可過飽，飢則可治，飽則不可治也。若瘴氣來，鼻聞異香，宜即臥地，口含土，即不受矣。又廣中溪水不可飲，因山多鐵梨，其葉落於山水中，漬之極毒，又多孔雀，其糞甚毒，惟開土掘泉為妙，左江至英德一路皆然。鐵梨器用放熱物受毒，誤食即生癰疽。愚謂食毋求飽，乃養生卻疾第一方。應休璉詩云：「量腹節所受」是也。「強飯」二字，最為無理。世人因此致命者甚多，豈獨瘴鄉所忌哉！</p>
<p>《認字測》八十一篇，關中周子夫宇著，以八十一字為題。閱其認「壽」字云：理壽莫如口，其說備於《易》之頤。頤者，養也。頤貞得養，得養斯壽，乃其歸在慎言語，節飲食。言語能慎而出，飲食能節而入，頤貞莫如斯，理壽莫如斯矣。</p>
<p>蘆菔可代糧救荒。《膳夫經》云：貧窶之家，與鹽、飯偕行，號為「三白」。</p>
<p>《瑤史》又載治夢遺方：臨睡時以朴硝些須放手心內，用唾調和，將龜頭一擦，甚驗。</p>
<p>蔬中之蔥，功用甚廣。跌打金瘡，皆為聖藥。其性與蜜相反，而外治藉其相濟，更多神妙。凡癰疽初起，及熱結腫痛、痞積諸病，塗之輒效。從此引伸觸類，可得用藥之巧。蘆菔之功，先曾祖《隨筆》中已發明之矣。冬時采其葉，懸掛樹上，或攤屋瓦上，至立春前一日收入瓮中，藏固；如不干燥，收掛屋內，候極燥入瓮。凡一切喉證，洗淨濃煎，覆杯立已：並治時行、客感、斑疹、瘧痢，及飲食停滯，脹、瀉、疳、疸、痞滿諸證，無不神效。價廉功敏，極宜備之。又《瀛寰志略》云；佛郎西蘆菔造糖，味同蔗。惜未傳其法也。</p>
<p>海　，妙藥也。宣氣化瘀，消痰行食，而不傷正氣。以經鹽、礬所制，入煎劑雖須漂淨，而軟堅開結之勛則固在也。故哮喘、胸痞、腹痛、　瘕、脹滿、便秘、滯下、疳、疸等病，皆可量用。雖宜下之證，而體質柔脆，不能率投硝、黃者，余輒重用，而隨機佐以枳、朴之類，無不默收敏效。晉三先生但言協地栗以清肝熱，豈足以盡其能哉！余偶患睛赤腫疼，而素畏服藥，亟以朴硝一味泡茶，乘熱熏洗，日數作，不日痊。夫硝善滌垢濁，乘熱則風、火、濕、熱諸邪皆可清散。凡水鄉農人，多患香港腳，俗名大腳風，又名沙木腿，一腫不消，與尋常香港腳發過腫消者迥殊，治之輒無效。此因傷絡瘀凝，氣亦阻痹，風、濕、熱雜合之邪，襲入而不能出也。故病起必胯間結核而痛，憎寒發熱，而漸以下行至足。初起宜亟用蔥白杵爛，和蜜罨胯核痛處；濃煎海　、地栗二物，俟海　化盡，取湯吞當歸龍薈丸三錢，俾即消散為妙。若已成者，以川黃柏一斤，酒炒研末，海　一斤，勿漂，煎烊，加蔥須自然汁和勻，泛丸如綠豆大，茅根湯日送三錢；外用杉木刨花煎濃湯，入朴硝一兩頻洗，日以藍布浸鹽鹵束之，以鹽鹵善清濕熱、散風毒，凡洗鵝掌風、香港腳並良也。忌一切辛熱發物，尤忌蠶蛹。如此治愈數人矣。</p>
<p>次女定宜十四歲，患左腿足赤痛微腫，初不以為病也，既而時作，余令以黃柏研末，水泛丸，淡鹽湯下，日一錢，服匝月而刈其根。舍弟季傑之外家，患帶下如注，余知其肝熱素熾也，亦令服此丸，日三錢，月余果愈。以此類推，不但藥貴精而不貴多，並不貴貴也。故詳錄之。</p>
<p>營虛氣奪，脈微欲絕者，仲聖主炙甘草湯以復其脈，故此方又名「復脈湯」，夫人而知之者。若客邪深受，氣機痹塞，脈道不能流通，而按之不見者，名曰伏脈，此為實證，與絕脈判若天淵。苟遇伏脈而不亟從宣通開泄之治，則脈亦伏而漸絕矣。但此為邪閉之絕，彼為元竭之絕，不可同日而語也。聞一人素患香港腳，今秋發之甚劇，兼有寒熱、氣逆、面浮等證，醫切其脈沉伏難尋，以為年逾五十，宿恙時發，脈已欲絕，遂進炙甘草湯，冀復其脈，越日視之，果脈絕將死矣。或稱其脈法精而善用古方，以告於余。因詢其二便通乎，曰否。嘻，此邪閉而脈伏也。大實之候，誤作虛治，滋膩妄投，徑爾塞殺。死於病乎？死於藥乎？可哀也已。</p>
<p>今年夏仲，仁和胡次瑤學博過訪，云其從女適朱仲和茂才六令弟者，患肝胃痛，朱以省垣罕名手，為求乩方與服，大率多香燥伐肝之品，數服徑死。何耶？余曰：肝胃痛亦有虛、實、寒、熱之分，令侄愛想是陰虛血少之病。因檢甲寅治徐君亞枝令媳案示之，胡始悟為藥誤。又云沈少蓮孝廉七令弟，患兩腿　軟，頻餌雞血藤膏，忽一日精流不止而亡。此曷故也？余謂雞血藤性熱善走，專祛風濕而行瘀滯，沉乃瘦弱陰虧之質，此腿恙必肝腎之虛，治宜滋潛濡養，而誤服燥熱之品，故有此變，是陰精悉為迫逐也。又云余杭唐聽江進士患疝，醫投溫補法，附子服至一兩二錢，馴致二便不行，飲食礙進，復重用麝香等藥，以開關格，而便不能通，乃至糞從口吐，狂叫而死。抑又何歟？余曰：昔唐設帳於會垣陳君雪舫家，余嘗切其脈，亦屬陰虛之體，此疝必非實病，亦非寒證，但宜溫養少陰、清舒厥陰為治，而率投剛烈香散，已屬非宜，況服之過多，則陰液盡劫，風火上騰，腸胃受燎原之焚，而失傳導之職，顛倒反覆，故糞從口出，狂叫以死也。胡云：君盍筆此於書，以為世人惑鬼神、餌成藥、喜溫補之戒乎？余遂錄之。</p>
<p>山妻將娩，已見紅矣，胎忽上衝作嘔。夤夜事急，余以醬油和開水一錢與服，咸能潤下，果入口即安。</p>
<h2>卷三</h2>
<p>漢軍王爵字大封，博通今古，不求進取，而工醫，能起死回生，危疾遇之罔不活。某軍有大貴人，舉家數百口皆疫，疫且將死，延之治。王逐一視脈投劑，皆立起。惟貴人不與療，強之再，乃開方，大書云：砒霜三錢，火酒四兩，煎服。貴人愕然，謂之曰：「若是者不速死耶？」王正色曰：「若貴人者，不速死何俟？」貴人曰：「我何罪而至是耶？」王曰：「貴人身為大臣，不思致君澤民，乃以貨利為心，橫求苛索，八旗軍士，痛恨入骨，一旦聖明知之，賜死西市，身首異處，家財籍沒，妻孥入官，不若速飲余之砒酒，庶幾完其頭領，保全家口，此真良藥也，寧以為毒而卻之乎？」於是貴人悚然受教，卒改其行。</p>
<p>郡中朱姓，素有飲癖，在左脅下，發則脹痛嘔吐。始發甚輕，醫者每以補劑療之，發益勤而甚。余戒之曰：「此飲癖也，患者甚多。惟以消飲通氣為主，斷不可用溫補，補則成堅癖，不可治矣。」不信也。後因有郁結之事，其病大發，痛極嘔逆，神疲力倦，醫者乃大進參、附，熱氣上衝，痰飲閉塞，其痛加劇，肢冷脈微，醫者益加參、附、助其閉塞。飲藥一口，如刀箭攢心，哀求免服。妻子環跪泣求曰：「名醫四人合議立方，豈有謬誤？人參如此貴重，豈有不效？」朱曰：「我豈不欲生？此藥實不能受！使我少緩痛苦，死亦甘心耳。必欲使我痛極而死，亦命也。」勉飲其半，火沸痰壅，呼號宛轉而絕。大凡富貴人之死，大半皆然，但不若是之甚耳。要知中病之藥，不必入口而知，聞其氣即喜樂而欲飲；若不中病之藥，聞其氣則厭惡之。故服藥而勉強若難者，皆與病相違者也。</p>
<p>《內經》云：臨病患問所便。此真治病之妙訣也。若《孟子》云：藥不瞑眩，厥疾不瘳。此乃指攻邪破積而言，非一例也。</p>
<p>鄰人顧姓者，因少年勤內事，頭皮血出如汗。此肝腎之火逆上，因血熱甚，所以從發竅直出。蓋汗乃血之液，從氣化白。經有肌衄一條，因氣散不能從化，故肌膚汗血。此證非氣不能化，化亦不及也。與甘露飲而痊。</p>
<p>章御臣屢夢白人，持刀自割其頭，至流血即驚醒，漸至閉目即夢，眾醫莫措。松江沈魯珍治之，曰：寐而見白人者，肺虛也。以獨參湯，每劑一兩，服之而愈。</p>
<p>當湖汪希生內政中年時，每食豬肉即體戰栗，屢醫不效。嗣因他病服逍遙散數劑，而舊疾亦瘳。後與余談及此事，並詢其故。余謂《素問》云：諸禁鼓栗，皆屬於火。此必肝膽素有鬱熱，豬肉乃動風之物，能引動其病，而不能開其郁，故食之即發。逍遙散乃開鬱散火之劑，所以偶服得愈。愚按錢塘吳君馥齋令正，每食豬肉少許，即腹痛氣衝，神瞀如寐，必嘔吐而始舒，如是者經年。余亦作厥陰鬱熱治，以雪羹吞當歸龍薈丸而瘥。</p>
<p>余郡一人，項邊忽癢，漸起白痕一條，相延漸欲至喉，癢不可忍。群醫莫識。一方士以刀輕開其痕，出白虱甚多而愈。曰：此虱瘤之類。凡皮內作癢，或起痕、或高起，皆其證也。</p>
<p>杭州周南溪，年三十余，體壯畏熱，飲冷貪涼，至仲秋忽兩腿筋脈掣痛，數日後牽掣至兩臂，又數日手指一動即周身筋脈掣痛而絕，諸治不效。余脈之弦而急，弦為飲，急為寒，乃寒濕生痰，流入筋隧也。以半夏、茯苓各三錢，白芥子二錢，橘皮、木瓜各一錢五分，乾薑一錢，生薑三片，煎送控涎丹一錢。服後手指可動，再服手足不復牽掣，改與六君子湯善後而愈。</p>
<p>湖州湯榮光解元，世業傷科，接骨有奇效。其家佣者采桑於樹，樹折墜地，腹著枯樁而破，人即昏暈。湯聞之，令徒攜藥敷治。徒視瘡口二寸余，已透膜，內系紅肉，不見腸，故以線縫之，而形似口張不能合。徒以告湯，自往視之，果然，乃令舁歸。佣少醒，復飲以藥酒，使不知痛楚，隨用刀割傷口使寬，以鐵鉤鉤膜內紅肉出，則其大如掌，乃宿患之瘧母也。始如法敷治瘡口而愈，宿疾頓除。</p>
<p>一富翁傾跌傷臂，骱脫，護痛不許人動搖，人皆技窘。湯令患者向隅立，卒取冷水潑其頂。患者陡作寒噤，即乘勢將臂一把，骨隨入骱，愈矣。</p>
<p>一人因跌而脊骨脫骱者，下節錯向內，無可著手。湯令其家密備栲栳一只，中安綿絮，置於旁，扶患者環柱走，走乏，卒推置栲栳間，上身直而下體彎環，所脫脊骨稍凸出，遂以按入而愈。愚謂此等手法心思，非凡庸所及，苟能觸類而通，則自無難題矣。</p>
<p>呂氏婦病兩旬，延余視之。甫入室，病患裸衣而臥，神色不清，猶自掖被掩其胸：及按脈，細而無神，目瞀內煩，咽痛不能容湯水，身冷如冰，汗出如洗。余思仲景云：大寒反汗出，身必冷如冰，咽痛目瞀者，龍雷之火上炎也。用熟地一兩，桂、附各一錢，菊花三錢，煎成，冷水浸涼服之，諸病如失，即索粥飲，次日再一服，隨以大補之藥十余帖而安。愚按大寒反汗出，乃陰盛格陽於外也，故身冷如冰；咽痛目瞀者，陽戴於上也。凡格陽、戴陽，皆是虛陽外越，所謂內真寒而外假熱故可以以桂、附引之內潛，不可誤謂龍雷之火上炎也。夫春分龍見而雷乃發聲，秋分龍蜇而雷乃收聲。是龍雷之火，必炎於陽盛之時。人身一小天地，肝為角木，震為雷，龍雷之火即肝火也。必腎陰虛者，肝陽始熾，致生龍雷上炎諸證。治宜壯水制火，設昧此義，而妄援引火歸元之說，不啻抱火救薪矣。古書辨別不清，貽誤非淺。惟葉天士先生《景岳發揮》、何西池先生《醫碥》，發明最暢，學人所當究心也。舍弟仲韶，於乙卯新秋陡患洞瀉，數行即渾身汗出如洗，懨懨一息。夤夜速余往視，脈亦沉細，身涼不熱，宛似虛寒之證，惟苔色黃膩，小溲全無，乃濕熱病也。與桂苓甘露飲，一劑而瘳。附錄於此，以便互勘。</p>
<p>友人洪岳山，用仙人杖炭與　牛齒等分研末，　子內青油調，以箍膿甚效。後余治一肝鬱為病，中脘脹滯作痛，腹漸大，欲成脹病。治以宣利疏養之法，二十余劑，腹中已覺寬暢，惟大腹仍空阜不癟。思索再四，於原方加入仙人杖數寸，一劑果平。蓋嫩竹出土自枯，取其自然之性，遂合病機，而收捷效。</p>
<p>愚謂方藥主治，皆可借用。有人因勞力後季肋作痛，諸藥不愈，而問治於余，適徐君亞枝有保胎神佑丸寄送，余遂以三錢與之，竟爾霍然。繼有因踢傷而腹痛時作者來乞藥，亦用此丸一服，果下黑矢而平。</p>
<p>道光丁亥秋季，病寒熱者中脘俱結塊如覆碗，投以瀉心、陷胸皆不效，死者不少。因閱《外台秘要》，載有增損理中丸方，主治纖毫不爽。余用以治此證，無不立應。間有一時不能消，仍作丸服以刈根株。凡余所治，其最劇者陝人王姓，群醫雜治兩旬，邪塊較大，按之拒痛，四肢逆冷，形萎面青，齒槁，舌鏡無津，大便旬余不解，脈弱欲伏。余謂邪氣搏結中宮，正氣津氣幾已消涸，即師其法，用東洋參、白朮各二錢，黃連、乾薑各五分，牡蠣五錢，花粉三錢，枳實一錢五分，元明粉三錢。服後便行，塊即漸減，脈亦稍起，四肢略溫，仍以是方加減，十余劑而痊。</p>
<p>陳氏婦盛夏病霍亂吐瀉，腹中　痛，四肢厥冷，冷汗溱溱，轉筋戴眼，煩燥大渴，喜冷凍飲料，飲已即吐，六脈皆伏。余曰：雖霍亂，實臟厥也。經云：大氣入臟，腹痛下注，可以致死，不可致生。速宜救陽為急，遲則腎陽絕矣。以四逆湯：薑、附各三錢，炙甘草、吳萸各一錢，木瓜四錢，煎成冷服。日夜連服三劑，四肢始得全和，危象皆退，口渴反喜沸湯，寒象始露。即於方中佐以生津存液之品，兩服而安。愚謂此案論證用藥。皆有卓識，惟不言苔色，尚欠周詳。其真諦在喜冷凍飲料而飲已即吐，若能受冷凍飲料者，即為內真熱而外假寒矣。</p>
<p>倪姓患霍亂吐瀉，審知始不作渴，四肢不逆，脈不沉細，一醫用大順散兩帖，漸至於此，因見四逆，復加附子，脈證更劇。余曰：此病一誤再誤，命將殆矣。若果屬寒，投熱病已，今反四逆，脈轉沉細欲伏，乃釀成熱深厥深，與熱邪傳人厥陰者何異？即以竹葉石膏湯，人參易西洋參，加黃連、滑石，兩劑而愈。同時有陸姓患此，醫用回陽之劑，日夜兼進，厥逆煩躁日增，病患欲得冷水，禁絕不與，甚至病者自起拾地上痰涎以解渴，遷延旬日而死。噫，即使真屬陰寒，陽回躁渴如是，熱藥之性，鬱而無主，以涼藥和之，病亦立起。不學無術，曷勝浩嘆！張氏女夏月患霍亂，醫用薑、附、藿、朴、茱、連等藥，吐嘔雖止，腹痛不已，而痢五色。至第八日，始延余診。兩目罩翳，唇紅舌絳，胸隔煩　，口渴引飲，脈細數，沉部有力。是暑穢之毒，擾亂中宮而病霍亂，苦熱雖欲開鬱止嘔，畢竟反助邪勢，致變五色毒痢。與子和桂苓甘露飲加黃連、銀花、黑豆，兩服翳退，而諸恙遞減，胃亦稍蘇，因畏藥不肯再服。余謂余邪未淨，留而不去，戕害臟腑，必轉他病。乃與三豆東加甘草代茶，頻飲而愈。</p>
<p>李陸集園，治寒濕暴侵，咳嗽不止，用豬肺管一條，入去節麻黃二、三分，兩頭以線扎緊，配以杏、苑、橘、枳、蘇子等品煎服，甚有巧思。</p>
<p>王燮庵乃郎痙病，角弓反張，兒醫不能治。王自用當歸四逆湯，一服汗解，亦可謂善讀仲景聖書矣。然此必太陽風寒之邪，因血分不足而內犯厥陰，故宜此方，非凡痙皆宜此方也。</p>
<p>一成衣患三瘧數年，繼又痢下，後患周身浮腫，待死而已。忽得一方，用新鮮楝樹上蕈一枚，切碎煮熟，連湯淡服，一啜而三恙悉痊。</p>
<p>王燮庵幼時，痧後食酸太多，咳嗆不止，年余骨立，五心煩熱，已近童勞。一人教於每日黎明，以頭窠雞子一枚，打千余下，入鹽少許，沸湯瀹服，百日而痊。</p>
<p>黃氏婦崩血不止，大便泄瀉，半身痹痛。余脈之，右濡、左浮弦略數，知其脾有積濕，肝有鬱熱，因外風內陷，入腸胃則泄，入血室則崩，竄絡則痛也。與旋覆花東加歸須、桃仁、柏子仁潤血和絡，川芎、神麯以化濕，芩、防堅營散風，五服而三恙全愈。</p>
<p>常州伍某素壯健，方啖飯，忽呼痛倒地，云胸膈如刀割，群醫莫解。閱三日，懨懨待斃矣。一老人過問病患，令磨陳墨汁與啜，痛立止，病如失。因問此何證？曰：記少時鄰人患病類此，一老醫以此法治之而愈，謂誤食天絲毒也。想墨汁無害，故令試之，不料其果合耳。</p>
<p>固始有人於元旦食湯圓訖，方出門賀歲，忽腹如火燒，痛不可忍，暈絕仆地，移時稍蘇，而號痛聲徹四鄰。</p>
<p>延醫診視，皆云脈細如絲，不治。越日門外來一丐僧，家人辭以有病，僧云何不問我，家人苦無策，姑令診視。</p>
<p>僧一望即曰：是誤食蛇精也。於破囊中取藥丸一粒，以水研灌。移時病者起，嘔如雀卵者數枚，僧云未也；復嘔穢野狼藉，出一物如雞子大，僧曰是矣。剖視乃血裹中蟠一小蛇，見人遽動作勢上下。病已若失，舉家驚服。叩其所以，云多年陳穀，蛇交其上，余瀝黏著，誤入腹中，乃成此物，少停即洞胸腹出矣。僧徑裹蛇而去。愚謂二證皆不易識。大凡腹中卒然大痛，在飲食後而無別證可憑者，無非中毒也。重用玉樞丹研灌，似亦有效。</p>
<p>海州劉氏子，五歲出痘，遍體疙瘩，大如甌，凡三、四十枚，醫皆不識。一老嫗見之曰：此包痘也。吾所見並此而二，決無他虞。六、七日疙瘩悉破，內如榴子，層層灌漿皆滿，真從來未睹者。痘書充棟，亦未道及。可見醫理淵微，即此一門，已難測識矣。</p>
<p>一婦免身後，脬腸內損，積穢礙塞，清濁混淆，而大小溲易位而出。以生黃絲絹、黃蠟、白芨、明礬、琥珀，銼末水丸，豬脬一具煎湯下，即愈。</p>
<p>一人無故舌出於口寸余，或以巴豆煙熏之，飲以清心脾之藥，不效。余取雞冠血塗之，使人持銅鉦立其後，卒擲於地，聲大而騰，病者愕顧，視其舌已收矣。或請其故。曰：無他，舌為心苗，心主血，用從其類，必雞冠者，清高之分，精華所聚；擲鉦於地者，驚氣先入心，治其原也。</p>
<p>富人馮氏者，寒熱如瘧，溲溺閉塞，少腹隱痛，汗出淋漓，醫以為瘵，頻飲補劑，日益憔悴。余切其脈細，重按之沉緊而實。曰：此有積瘀而成小腸癰，於法當下。咸謂病久　羸，下恐有害，且素逸處，安有積瘀。余曰：論脈如是，可詢病者，曾持重物否。其人以告病者，初不省，既而曰：一月前會攜鏹方出，遭客至，匆遽復入，越日而寒熱作，得毋是耶？藥已遍嘗而病不去，盍從其治！遂用桃仁承氣湯，搗土牛膝根汁和服。次日腹下痛如刀割，殷血從溲溺出。如是數次，痛良已，病尋愈。</p>
<p>余視疾以之至先後為序，一日於眾中瞥見一人，額端已起白色，急呼前，問所患。曰：臂有微腫。視之，僅一小　。因潛謂同來者曰：此白刃疔，色已見額，速歸矣，危在頃刻。其人方出門，面部色漸趨口角，未至家死。</p>
<p>有仆足跟腫，終日奇癢。余曰：此虱瘤也。破之，出黑白虱數百，癢止腫亦退。</p>
<p>一人患時疫，發狂譫語，若有物憑之，曰：不饗我，當取汝手骨。已而十指軟墮如餳。余曰：是謂筋解，實痿證也。古人治痿獨取陽明，脾主四肢，表裡相應，投以桂枝白虎湯，神識頓清，手指無恙。</p>
<p>潘氏子肋下腫潰，竄孔甚巨，孔中作聲，如嬰兒啜泣。余曰：是名淵疽，法不得治。其母哀請曰：是子少孤，婚又未久，一脈之傳，惟此而已。余聞之惻然，乃曰：但善調攝，更量力以行陰德，萬分一得不死，專事醫藥，不足恃也。母子唯唯受教。余乃日夜屬思，以謂證屬大虛，固當補益，但疽孔作聲，則內膜已破，氣從旁出矣。</p>
<p>非護其膜，補亦徒施！以人參、白朮、烏梅炭、白芨、白蠟、象牙屑、豬脊髓和為丸，令日三服，以固氣；仍搗諸藥，益以生肌之品，制若黏餅，塞疽口，絲綿裹青鉛罨其外，大膏藥蓋之，闊布纏縛其體，三日一易；復用參麥六味加龍、蠣等品，煎汁飲之。如是二十余日，其聲漸除，三月余而口斂。余初經治，不望其果奏效也。</p>
<p>鎮洋鄭秀才頸下出水，涓涓不絕，已數年矣。醫謂串　。余視之，潰口三、四，皆甚深奧，曰：此古所謂蟻也。用穿山甲炙存性研敷，果瘳。</p>
<p>有食阿芙蓉者，遍體發　，痛癢交作，抑搔膚脫，終日昏聵，言語誕妄。余曰：此中毒之最盛者，尋常解法，恐不及濟。用朱砂一兩，與琥珀同研末，犀角磨汁，和三豆湯進之。神志頓清，而遍身無皮，痛不可忍，復磨石菖蒲、綠豆粉如塵黏席，乃得安臥，不半月愈。</p>
<p>一婦患三瘧年余，忽轉身發瘡，大皆如錢，瘍醫治久轉劇，飲食不進。余曰：此伏邪走泄為瘡，三陰無恙矣，不可作瘡治，而以寒涼傷胃也。以四君子加　、歸、白芷，數服即愈。</p>
<p>昔在海門，有同事樊姓者，肩上患癰，醫進荊防敗毒散而寒熱大作；又進仙方活命飲、外敷三黃散四五日，俠脊　腫作痛，紅暈滿背，脊間高如覆碗；又飲內疏黃連湯、外塗鐵箍等散，更日服蠟礬丸，至十朝黑陷，聲嘶嘔惡，湯水亦不能沾，十一朝昏暈不蘇。前醫皆云毒盛無可挽回，招之不至矣。有故游擊楊公朝棟之孫忘其名，善治癰疽，因不識字，人皆輕之。樊證瀕危，不得已邀彼來視。笑曰：此非陰證，被寒涼遏抑所致。用吾藥而患處能高起者，尚可救。乃出藥敷瘡上，越日果高起。楊復視曰：能從吾言，此疾可生。第一不許服藥，第二不許忌口。緣現下粒米不進，必停藥三日，使胃中宿藥漸消，自能進食。既能食，正宜投其所喜，豈可強禁其口，而再絕其胃氣哉？如此則百二十日可以收功。後竟如其言而愈。至所用之藥，留心揣測，終莫能識。然此證若於初起時，內以點舌丹汗之，頂上以蟾酥丸或白降丹泄其毒，使有出路，必無橫潰決裂之禍。寒涼日進而胃閉不納，蠟礬頻服而聲嘶作嘔，釀成敗證。設無楊公，人亦但知其死於病，惡知其死於藥乎？舉世夢夢，良可深悼。</p>
<p>壬寅，余在海門之東昌鎮。有徐姓者，患胸鑠，腐肉上至頂，下至頸，左右至兩耳，醫不能治。余憫其貧，為設法痊之。並不服藥，凡百四十余日而收攻。此開手第一證也，由是求治者踵門不絕。余初亦未知不服藥可愈病，因目擊楊公之法，而私淑其意，治之果應。始悟世之外科，朝涼暮熱，欺世盜名，殺人不可勝計，而無形跡可尋也。其始臨證，則曰死證也，或他人治過之證，則曰前醫誤治，不可救矣。皆為日後邀功避謗之計耳，可嘆也已。</p>
<p>余在海門，見沈氏司炊者患唇疔，自辰至午，口不能開，醫投蔥礬不能吞，用活命飲亦無濟。易醫屢進寒涼，遂硬腫至項，色白不變。最後一醫砭腫處，出血筋一條，流血不止，知飢不能食，至三十一日而死。夫唇疔急證也，色白無紅陰證也，發於手足陽明交會之所，誤投寒涼克伐之藥，內熱為外寒所束可知。若初起時刺委中及陽明諸穴出黑血，進點舌丹汗之，外塗蟾酥，或有可效。惜諸醫皆不知之。不然急證安能延至一月余之久？人不知死於藥也，哀哉！癸丑四月，桐鄉屠甸鎮張德祥令正，年八十一歲，患腦鑠，醫者皆云必死。余視之，瘡已潰爛不堪，不臥者二十三日，不飲食者五日，平素體肥，肌已削盡，兩耳絕不聞聲，脈象弦數。性不喜藥，一病至此，亦未嘗一藥也。諸醫皆謂不服藥以至於是，余謂潰敗至此，尚可挽回者，幸未服藥耳。但須從我言，行我法，則五、六十日可以收功。蓋瘡口已深，須開一孔泄其膿血，若不從我言，則下延及喉，雖有神丹，不可救矣。病家唯唯。遂開一孔，去黑血盞許，膿亦相等。明日頭重如失，兩耳能聽，且進粥碗許。越五日復視，腐肉下半脫盡，新肉已生，細視上半黑處，尚未全死，用物挑起其皮，入藥於內，令其每日抽換，果得黏連。凡九十日全愈。其滿頭之發皆白，而爛處復生之肉，新發皆黑。此人至今尚健，益信享高年者不服丸散。嗣有於某等十余人，余悉治愈。是此證並無死法。曩上海望族王輯庭之嗣君，年六十一歲，患此證。素識醫者謂曰：少忍痛，當為去之。不聽，逾旬漸大，適道署延蘇州陳某治疾，乃赫赫一時者，遂請視之。進以人參、鹿茸等藥，瘡已勢甚，猶曰未也，乃殺雞煎湯，煮藥以進，一服而口眼皆合，頭重如山，證隨以敗。凡富貴之家，死於此者甚多。始則畏少痛而逆忠言，繼則慕虛名而被慘殺。非死於病，實死於醫。愿天下人少察狂瞽之言，毋蹈前車之覆。</p>
<p>發背之極大者，所謂竟體發也。平湖郭湘屏患此證，始醫者進犀角、黃連，致成黑陷，後醫者投桂、附而作淋渴，飲食不進。或斷三日，或斷一旬，更醫數輩，技窮莫措。令郎肖屏茂才求余往視。被問曰：曾見此大證乎？余實未嘗見如許大證，欲安其心，慰之曰：吾所見有大於此者，不足畏也。為取去腐肉碗許，病者即覺如釋重負。</p>
<p>其子請用十全大補，余曉之曰：尊翁之所以絕粒者，正坐補托之故，胸次宿藥未消，今再峻補，生機絕也。俟三日後，宿藥消盡，胃氣自蘇。此證本由濕熱鬱蒸而成，寒涼以遏之，溫補以錮之，宜其滋蔓日甚也。今惟導赤散驅其濕熱下行，至溺清則止。越五日復視，已能自起，在床沿叩謝救命。凡百八十余日而全愈。在百日之間，曾患牙疳，與竹葉石膏湯而安。其人至今尚在。設依立齋上渴下淋而用十全、八味，安有生理？陳良甫云：既潰一毫冷藥不可進，其可泥乎？斜橋蘇氏婦，年二十四歲，患乳腫如懸瓠，潰處日流水，醫治二百余日，略不見效。冬初求治於余，視其面色青瘦，微嗽唇紅，音朗不嘶，寒熱暮甚，日進粥兩盞、飯半盞。所服之藥，洋參、鱉甲、丹皮之類，皆謂瘡勞已成，不過苟延時日也。余知其因循誤藥致此，以紙捻入藥於瘡孔，囑到家自為抽換。婦云：胃氣不佳，求賜一方。余曰：汝誤藥至此，尚不悟耶？停藥五日，胃自蘇矣。又問究成勞否？余給之曰：後五日來，當贈汝妙藥，決不成勞也。</p>
<p>忻然而去。越五日來日：奇哉，到家方暮，覺乳脹，抽去藥線，出清膿碗許，是夜寒熱頓減；近來抽換，日得清膿杯許，今不復如前腫硬矣。飯已可進兩盞，固求賜方。余曰：煎劑費事，余有合就丸藥，日服數錢可也。持去後，越旬復來曰：自服妙藥，胃氣勝於平時，惟膿水未淨，月事未行，求一通經方。余見其肌肉豐潤，兩頰紅暈，經已將至。若不與藥，而另求內科通經，反恐誤事，仍以前丸與之。後即全愈受孕。其實兩次所用之藥，皆飯焦磨末，少如橘皮而丸也。余治六、七年不愈之乳證，無不用藥線刀針愈者，不勝仆數。即如此婦，若不插藥，膿何由出？寒熱何由止？胃氣何由復？豈但瘡勞而已，殆無生理矣！設不停藥，腸胃津液被伐，必致絕粒。嘗謂漢、唐方士以金石殺人，賴高賢救止，而草木延年補益諸說，牢不可破，真醫道設而枉死者多矣。竊怪今之醫生勸人服藥，吾不知其居心何為？或問：斷為死證而得不死，何也？曰：醫之所謂死證，彼自有死之之法耳。斷為死證而竟死，昧者必詫其術之神，而醫者亦詡其斷之準，而自鳴得意。悲夫，業醫者知此有幾人哉？張德祥令孫患行程蹇，多醫不效。上至小腿，腫如瓠，氣喘聲嘶，不食者九日，煩躁惡近人，近則熱不可當。</p>
<p>多醫聚訟，或決之立斃，或決之成廢。邀余往，已暮，執燭視之，近燭則痛如錐刺。乃父恐余用刀，屢述群醫之說。余曉之曰：汝不欲此子之生，余不敢言。既邀余來，是欲其生也，豈可隨聲附和、袖手旁觀耶？今之外科皆鄉愿也，抄寫成方，虛應故事，並無真知灼見；更可惡者，造作疑似之言，簧惑病家，有如奸胥猾吏造案，雖咎陶聽之，猶以為殺無可宥。要知腳跟之皮，濃於牛領，不能下潰，必至上穿足面，則不可救矣。言未已，病者曰：怪道數日來骨縫錐痛難忍。其妻跪求請救，而一家數十口猶執不可。余曰：吾豈挾仇而欲害彼，若決之而斃，吾償其命可也。眾皆咋舌不敢言，遂決之，出膿半盞，敷貼已，余至外廳晚膳，未畢，內報熟睡矣，如之何？余曰：覺來要啜粥矣。</p>
<p>既而果然。三日後吃飯，四十日收功。然人情畏痛苟安者多，故庸醫之言易於入耳。病無去路，上潰足面，腐及內外踝，而遷延以死者，比比也。</p>
<p>屠甸鎮王某，先患疔毒，旋生背疽，高腫不紅，醫巫術盡，家破而病日劇。延余往視，肌肉全消，面無人色，脈至斷續如絲，按其瘡，虛軟漫腫無紅，證已七十六日矣。流淚被面，聲言救命，音細如蜂，深堪憫惻，殊難措手。合家痛哭，而求設法。余索其方視之，先則犀角、牛黃，繼則參、　、歸、朮之類，皆謂內有瘀血，虛不化膿也。余靜坐籌思，七十余日之瘀血，既不化膿，亦不消散，乃脾胃被伐，氣弱難潰，內肌盡腐，皮濃難穿，日久力窮，勢瀕於殆。若不決則必死，設決之而斯須斃命，又當如何？乃謂其父曰：此證內肉盡腐，外皮甚濃，膿無出路，以致背重如山，肌肉日消，而膿日多，勢必消盡而後已。吾今籌一死裡求生之法，汝可導我復視，其父從之。因細按其皮，略無薄隙可乘，不得已久按以亂之，卒然一刺，得大膿四大碗，幸不斃命，隨以粥食調之。</p>
<p>越五日復視，已能披衣起坐矣。以上數證，皆所謂養癰為患也。古人原有刀針不可輕用之戒，蓋為手法不精，或輕淺之證，及膿未成時而言也。以決之之法，誠不易易，即辨膿亦甚難，脈訣洪滑為膿成，而此證脈至如絲，刺膿至四大碗，脈豈可憑乎？然此證若診於三十日內外，未始非洪滑也。惟醫家誤信補托可使自潰，孰知欲托其膿者，反能化肌肉以為膿，膿日多則氣血日少，尚欲尋其洪滑之脈，安可得乎？昧者猶訾刀針為蠻法。嗚呼，此與談性命而廢武備，寇至不戰，委而去之者，何以異耶？須知此膿不刺，必與此身同就木而已。余見如此斃命者，指不勝屈，故憤而為之，豈好為瘍醫哉！至腿上附骨疽，遷延補托，而膿隨身斂者，則尤多也。</p>
<p>一婦淵疽，膿蓄不潰，下至腰，前至胸，形容骨立，聲細如蜂，頭暈身熱，不食。延逾半載，求治於余。余亦不能措手，實深慚愧。然此二證，皆誤於補托求潰，孰知終不可潰。元氣未漓者，尚可決之求活；元氣已漓者，膿必隨身而殉。</p>
<p>一膀胱癰，脹痛求死，膿自小便而出，與八正散加琥珀、乳香、麝香而愈。</p>
<p>一男子小腿數日間全腐，疼痛難忍。與珠黃十寶而痛止腐脫。</p>
<p>一男子臂腫如腿，　木而硬，醫投消散如故。余與　峒丸二服，外敷解散之藥於骱間，四面作膿而潰。此亦臂上附骨疽也。治不得法，即難收功。</p>
<p>一男子唇疔，既拔其一，復生其七。先用蟾酥丸，頭面腫退，後用犀地加牛黃而愈。</p>
<p>壬子夏，余次子患干霍亂，身熱不渴，舌燥無苔，六脈俱伏，痛在胃脘，連及胸脅，勢甚洶涌。余與地漿一碗，勢少定，少頃復作，因徑投大承氣湯一帖，其痛即下行之臍間，又一帖，痛又下行，伏於少腹右角，按之始痛，不按則與平人無異，起病至此，已歷周時，思食甚急，乃與綠豆煮粥與之。食後一切如常，惟少腹右角按之仍有小塊，隱隱作痛，遂重用當歸、杞子、蔞仁，佐以桃仁、紅花，少加牛膝以導之。服一時許，腹中　有聲，下紫黑血一塊，約五寸許，而少腹之痛塊若失。此病治法，原出一時臆見，然竟已獲痊，特錄出質之潛齋，不知以為何如？愚謂霍亂證因於暑熱者多，故感受稍重，極易入營，古人刺以泄血，及內飲茺蔚湯、藕汁、童便，此所以治營分之邪也。楊公子舌燥無苔而不渴，痛又及脅，必平日偶有絡傷未覺，乃邪遂乘隙而入也。承氣之硝、黃，並是血藥，氣行則瘀降，故痛得漸下，迨塊在痛未蠲，而知飢能食，益見氣分之邪已廓，而血分之邪尚匿，無庸承氣之直攻，改從濡化而曲導。操縱有法，余服其手眼之超。</p>
<h2>卷四</h2>
<p>乙卯冬初，余挈眷回籍，卜居　溪。秀水呂君慎庵邀余游新塍，視屠舜傳之女適張氏者。據云病起產後，延已五年，久臥於床，勢成癱瘓，廣服補劑，迄不見功。及入室視之，病者尚著單衣，貼身僅鋪草席，而窗戶盡扃。</p>
<p>因詢畏熱而喜暗乎？曰然。按脈弦而滑，執燭照之，面有赤色，苔甚黃膩。復詢其胸悶氣升乎？溲熱易汗乎？亦曰然。且汛事仍行，飢不能食，耳鳴頭暈，腿軟痰多。病不在於血分，雖起自產後，而根株實不在是。細詰之，始云未嫁之前，宿有氣升眩暈之疾，於今已十載矣。余曰是也，此固風陽內熾，搏液成痰之證，因娩而血大去，故發之較劇，醫者不揣其本而齊其末，遂以為產後之虛，溫補率投，升逆愈甚，下虛上實，致不能行。與清火降痰之劑而別。曰氣得下趨，病可漸愈。後聞其西席鐘君子安向慎庵云：服王藥五帖，即能扶杖以出矣。</p>
<p>舜傳之舅嫂，因用力拔針而患指痛，內外雜治，漸至痛遍一身，臥榻不起，食少形消。余診之，脈細而數，口乾舌絳。乃營陰大虧，無以營養筋骨。豈可因拔針起病，遂以為外傷而妄投燥烈之藥乎？宜其病日以甚也。以集靈膏加減為方而愈。</p>
<p>謝君再華之室，偶患齒痛，日以加甚，至第五日，知余游武林，拉往視之，已呻吟欲絕，渾身肉顫，按脈不能準，問病不能答，苔色不能察，惟欲以冷器貼痛處。余諦思良久，令以淡鹽湯下滋腎丸三錢；外以坎宮錠塗痛外、吳茱萸末醋調貼涌泉穴。次日復診，已談笑自若，如常作針黹矣。向余致謝曰：昨藥一飲即寐，而病如失，真仙丹也。余謂昨日大窘，若非素知為肝陽內熾之體，幾無措手。今火雖降，脈尚弦數，宜用滋潛善後。以一貫煎方，囑其熬膏服之，遂不復發。</p>
<p>仁和邵位西樞部令嬡字許子雙司馬為媳者，在都患心悸頭暈，漸不起榻，馴致不能出語。旋杭，多醫治之，僉以為虛，廣服補劑，遂減餐少寐，頻吐痰涎，畏風怕煩，溲短便閉，汛愆帶盛，以為不能過冬至矣。適余游武林，趙君菊齋囑其邀診。脈之弦數而滑，面白唇紅，目光炯炯而眉蹙羞明，苔黃乳裂，既非喑證，又非失音，強使出一、二字，則艱澀異常，搖手點頭，或以筆代口，且無妄見，亦非祟病。余諦審之，謂其必起於驚恐，而痰涎阻於竅隧。病者頷之。以起病時為一大瓶墮地，乍聞其聲而一嚇也。遂與清心肝膽胃之法，加舒絡滌痰開鬱之品。服後各恙漸減，眠食漸安。丙辰春，余復視之。仍臥於床，仍不出語。按鈕氏《續觚剩》鼠魂一條，與此相似，彼特神其說耳。然余竟不能治之使語，殊深抱愧，錄之以質高明。戊午季秋，復游武林往診，尚如故。聞其仍服補劑，因力勸阻，而贈以清肺通絡滌痰之品，制丸噙化。服至次年春仲，遍身發疹，頻吐穢痰，語能漸出，乃蘊結外解，從此整肅，可期奏績，初論尚不甚爽。</p>
<p>丙辰春初，余游梅涇，曹靄山茂才拉視其令郎之證。云起於往夏瘧後，暮熱鼻衄，善欠羞明，額頰時　，溲混有腳。先稟素弱，僉慮成勞，頻服滋填，毫無寸效，久不起榻。及余診之，脈軟滑而微長，苔淡黃而不渴，僅能仰臥，反側不能。曰此非虛勞也，乃熱伏陽明，是以機關不利，筋骨不束，而見以上諸證。幸衄血頻流，小溲混濁，熱氣尚有宣泄，而人不甚枯削，以陽明為多氣多血之經也。與生槐蕊、知、柏、芩、梔、白薇、花粉、茅根、茹、斛、絲瓜絡等藥，久服果漸愈。</p>
<p>裡中張君雪沂令正，三十七歲。於乙巳年患經行腹痛，醫進膠艾湯多劑，痛乃日盛，而加以嘔吐，迄今十載，諸藥備嘗。邇年經至益頻，痛勢益劇，滿床亂滾，聲徹比鄰。乞余診之，脈弦滑而數。曰：巔痛、口渴乎？帶多、腰痛乎？汛色紫黑乎？病者驚以為神，慘容為之一展。余謂雪沂曰：此證不但溫燥膩補不可用，即四物湯亦在禁例。宜乎遍訪女科，而竟無一效也。與芩、連、梔、膽、茹、柏、蒿、薇、烏　、茅根、藕為劑，服至下月經行，即不吐，痛亦大減。此等藥服逾半載，各恙悉蠲。</p>
<p>錢塘張君篪伯令郎韻梅茂才之室，自去年夏間娩後，雖不自乳，經亦未行。方疑其勞也，四月間患感，醫進升散藥，遂腹膨氣逆，肢痙欲厥，或又疑其娠也。延余診之，脈弦巔痛，乃營虛肝鬱，微挾客邪，誤投提表耳。</p>
<p>以清解輕宣之品數劑而愈，繼參養榮，月事亦至，人皆詫為神治，其實非大病也。</p>
<p>仁和胡次瑤孝廉，北上未歸，其令正於仲夏陡患肢麻昏暈，速余往視。面微紅，音低神憊，睛微赤，舌苔微黃，足微冷，身微汗，胸微悶，脈微弦。乃本元素薄，謀慮縈思，心火上炎，內風隨以上僭也。不可誤以為痧閉，而妄投香燥辛散之品。以人參、龍、蠣、菖、連、石英、麥冬、小麥、竹葉、蓮子心為方，兩啜而愈，尋與平補善其後。</p>
<p>仁和戴君文叔令嬡，年十二。患風斑睛赤，服升散藥數帖，忽覺胸次不舒，飲食下咽即吐，時作時止，醫皆莫措。六、七日後，其作愈頻，而有欲厥之勢。所親徐君樂亭，囑延余診。脈弦而數，夜不成眠，目赤未蠲，苔黃口苦。是發斑不由外感，乃稚質陰虧，風陽上越，助以溫散，厥少陡升，肅降無權，因而吐逆。以連、柏、橘、半、梔、苑、茹、旋、海　，少加蘇葉煎送當歸龍薈丸。一劑知，二劑已。</p>
<p>桐鄉馮詒齋廣文，年二十七歲。自上年患　，至今已十余枚，皆破而不斂，肌肉漸削，迨季夏漸形發熱，而納食阻膈，溲短便溏，氣逆嗽痰，咽喉疼腫。諸醫束手，秀水莊丈芝階荐余診之。脈數而左寸關兼弦大，是病由過擾心陽，兼傷謀慮，從前但從呆補，已成不治之證，近則吸受暑邪，猶日服滋填之劑，是以藥造病也。而詒齋一見傾心，堅留數日。因謂其令兄靜岩贊府曰：余僅許愈其新病也。以沙參、苡、斛、橘、半、蒿、薇、蛤殼、浮石、茯苓，煎吞香連丸。二劑而痛瀉漸止，去香連加鱉甲。又二劑而熱退，改用參、苓、橘、半、苡、蠣、石英、首烏、象牙屑、冬蟲草等出入為方，臥時另制噙化丸，以肅上焦痰滯。服四帖已能起榻，眠食皆安，余遂歸。</p>
<p>秋杪聞其沒於魚江外科家，少年博學，惜哉！余郵挽一聯云：「傾蓋相知，詎成永訣；著書未竟，遽赴修文。」</p>
<p>知渠方注顧亭林先生《肇域志》而即病也。其夫人即於秋杪起患赤痢，延至次年春杪，證已瀕危。適余游鴛湖，往視之。晝夜三、四十行，汛斷肌消，少腹素有聚瘕，躍躍而動，氣衝胸下，絞痛難堪，臥不能眠，飢不能食，口乾舌絳，五熱溺無，頭項汗頻，音低色奪，脈來細數，右軟尺空。是久積憂勞，兼傷哀慟。真陰素弱，豈可與常痢同觀。以沙參、熟地、黃連、黃柏、白頭翁、秦皮、冬蟲夏草、枸杞、橘核、白薇，用藕、苡、燕窩煮湯煎藥，服二十劑。余游瀛洲轉禾復診，脈和痢減，安穀能眠，痛止溺行，面有華色。改用人參、熟地、龜版、歸身、黃連、黃柏、枸杞、白薇、薏苡、砂仁，以藕湯煎成，入阿膠烊服而愈。</p>
<p>項君香圃患赤痢瀕危，所親莊眉仙少府拉余往視。脈細不飢，口乾舌絳，形消色瘁，不寐溺無。禾中醫者以其素耽曲　，輒進苦燥滲利之藥，而不聞景岳云：酒之為害，陰虛者飲之，則傷陰也。況病因暑熱，不夾濕邪，溫燥過投，陰液有立涸之虞。余將旋裡，為定西洋參、生地、甘草、銀花、石斛、麥冬、生白芍、扁豆花、枳子、藕汁一方，冬瓜湯煎，令其恣服。次年春，余往禾候莊芝階先生之疾，有一人來拜謝，面如重棗，素昧生平，甚訝之。眉仙曰：即香圃也，面向赤，上年因病危而色脫，故先生不識耳。承惠之方，服十余劑而愈。今又善飲如昔矣。</p>
<p>角裡街怡昌燭鋪蘇嫗，年已六旬。偶患腹痛，醫謂寒也，進以熱劑，痛漸劇而腹脹便閉，按之甚堅，又以為腸癰，攻之而愈痛，遂絕粒不眠，呼吸將絕。挽余診之，脈滑而數，舌絳苔黃，口臭溺無，熱阻氣也。以雪羹煎湯調益元散五錢徐灌之，即痛減氣平；次日以雪羹湯送當歸龍薈丸三錢，便行溺暢；隨以輕清藥數帖而痊。</p>
<p>七月中旬，余游　李歸，道出梅涇，呂君慎庵拉視沈則甫令正之恙。兩年前曾患滯下，嗣後便瀉不已，今夏更劇，每晨尤甚，後重腸鳴，不飢不渴，畏熱無汗，胸悶時嘔，夜不成眠，形消色瘁，小溲通暢，脈軟微弦，經事漸稀。</p>
<p>乃中虛木侮，生化無權，氣久虛而血將涸矣。若剛燥則助風陽，滋膩更增滑溜，議砥柱中流，回狂瀾而鎮風輪。</p>
<p>以潞黨參、山藥、石脂、余糧各三錢，茯苓、白芍各一錢五分，煨訶子、橘皮各一錢，牡蠣八錢，烏梅肉炭八分，酒炒黃柏六分，熟附子、炙甘草各五分，甘瀾水煎陳米湯煮藥使濃濃，徐徐細呷，俾留戀中宮，不致直下為法。</p>
<p>迨八月下旬，在曹靄山茂才處晤則甫云：前方服至四劑，病即愈，今已色華能食矣。因以詩什、芽茶為贈。次年冬，聞患寒熱亡。</p>
<p>山妻懷孕四月，患間瘧，腹痛便溏，汗多嘔悶，乃痰氣內滯，風暑外侵，脈滑而弦。與枳、桔、蘇、連、柴、芩、菖、夏，三劑而瘳。大女馥宜患微寒熱熾，每發於夜，汛不當期而至，口渴便閉，目眩多汗，米飲不沾，暑熱為瘧也，脈洪數。以知、芩、橘、半、蒿、薇、鮮斛、元參、梔子、花粉，服六劑而熱減大半；去蒿、半，加西洋參、麥冬、竹茹、枇杷葉，又六劑而便行瘧止；隨去元參、鮮斛，加歸身調之而愈。季傑弟　室之瘧，日輕夜重，少腹覺有塊，上衝則嘔嗽並作，杳不進穀。余游禾歸，已交八日矣。脈軟以澀，是肝鬱於內，暑侵其外也。</p>
<p>用芩、夏、翹、滑、菖、蛤、蘇、連、旋、橘、絲瓜絡，服六帖，諸恙霍然，隨與清養善後。仲秋二十八日，余游濮院歸。是夜又陡患霍亂，腹痛異常。余起診其脈，細數而弦，肢冷畏寒，蓋覆甚濃，詢其口不渴，而瀉亦不熱，惟小溲全無，吐者極苦，舌色甚赤，乃新涼束暑也。玉樞丹、絳雪灌之皆不受，瀉至四、五次，始覺漸熱而口大渴，仍不受飲，語言微謇。余令搗生藕汁徐灌之，漸能受，隨以芩、連、苡、楝、梔、斛、桑葉煎服，痛即減，吐瀉亦止，次日知飢，略受食，神憊已極，筋絡　疼，與清養法而痊。</p>
<p>硤石鎮蔣寅　大理令正，久患少腹聚氣，時或上衝於胸而為脘痛，時或下墜而為腿腫，帶多汛速，腹脹胸悶，口膩不渴，便雖溏而欲解不行，必啖鹽而始暢。皆以為脾虛，率進補劑，病日以甚。迎余診之，脈弦滑。以梔、芩、菖、枳、連、夏、茹、旋、雪羹清肝熱以豁痰，滯氣果下行至足，而胸腹漸舒。</p>
<p>管君幼齋令正，汛停七月，至仲秋經行不多，腹乃微脹，繼則胸悶不飢，身有寒熱。呂某以桂枝、黃連等藥進，而痞悶轉加，二便不行，口糜而渴，得飲即吐，夜不能寐，五內如焚。余診之，脈弦而細，面赤足冷，神憊不支。是營陰素虧，氣機多郁，郁久生熱，辛燥忌投。授沙參、蔞、薤、梔、茹、旋、苑、冬瓜子、枇杷葉，二劑而燥矢行，胸腹舒，知飢，吐止，繼以宣養而瘥。其汛停良由血不足，非有血不行而阻也。</p>
<p>前月中旬，余過濮院，有香海寺前一婦患三瘧求診。面白唇紅，舌絳而渴，寒微熱盛，溲短便艱，汛事先期，不眠，脈數，乃暑邪侵營也。與元參、丹皮、知、薇、蒿、梔、花粉、鮮斛、竹葉之方。至八月下旬，再游其地，渠復求視，云前方服即病減，至二十劑而痊，乃子以為病後須服補藥，才四帖，瘧復作，遂不敢再進。余謂此必溫補方也，閱之果然。仍授清化之劑，五服而瘳。</p>
<p>仲秋偶覺左乳微疼，按之更甚，始知有堅核如小豆大，外微腫，即取外科藥圍塗，而以紙蓋之，迨藥干，揭之甚痛，余不能忍。且僉云必破而不易收功，以其在乳盤之內也。余不畏死，而懼不能受此楚毒，因往求呂君慎庵視之。曰無慮也，掃榻款留。日以蔥白寸許，嵌入梅花點舌丹一粒，旋覆花三錢煎湯下；外用洄溪束毒圍圍之，亦以紙蓋之，而藥干則自然脫落，略無黏肉伐毛之苦，此玉精炭之妙用也。凡十二日，核漸消盡。深佩呂君之德，謹錄之以識其手眼之不可及，而方藥之效驗，俾後人亦有所征信也。</p>
<p>一鐵匠婦患感，雜治經旬，身熱不退，不眠妄語，口渴耳聾，求治於余。脈來細數，唇紅面白，肌瘦汗頻。</p>
<p>雖是貧家，卻為嬌質，神虛液奪，余暑未清。以西洋參、甘草、小麥、黃連、麥冬、石斛、丹參、蓮心、竹葉為劑服之，神氣遂安；自云心悸，因加紅棗與紫石英，服之浹旬，竟以告愈。</p>
<p>九月初旬，蔣君寅　招余治其令兄仲卿孝廉夫人之病。年五十九歲。平素操持，腹有聚氣，脘痛時作，大便易溏。半月以來，身熱耳聾，病瀉不食，胸中痞塞，痰韌如膠，口膩欲嘔，神情憊甚，脈來虛弦而細，舌苔黃膩無津。乃營津久耗，氣鬱不舒，既挾客邪，過投清散，以致本實欲撥也。與參、苓、橘、半、蔞、薤、茹、連、菖、斛、燕窩、枇杷葉，用水露煎服，三劑後瀉止痰稀，胸寬進粥。醫見苔退舌紅，驚為脫液。仲卿復延余往視，乃病退之象也。舌上無津，前案已述，今脈漸轉，如何反為詫慮？於前方去蔞、薤、連、半，加歸、地、麥冬、藕，服之而愈。</p>
<p>朱氏婦患赤痢匝月，多醫雜治。痢止三日矣，而起病至今，胸痞頭脹，米飲不沾，口渴苔黃，瘦熱而痛，凜寒身熱，夜不成眠，神憊形消。諸醫技窘，乞余往視，脈數而弦。伏暑未清，營津已劫，氣機窒塞，首議清泄。</p>
<p>南沙參、石菖蒲、蔞、薤、梔、芩、茹、連、橘、半、白薇、紫菀，四劑而痰活胸舒寒熱大減，且能啜粥；改用北沙參、生首烏、柏子仁、冬瓜子、元參、蔞、薤、菖、梔，二劑堅矢下，授清養法而痊。</p>
<p>錢君友琴，年五十九歲。曾於七月間患滯下，自服大黃一劑而瘥。季秋患寒熱時作，自服柴、桂等藥，病益甚，狂躁欲啖西瓜而服石膏。余診之，脈滑右甚，苔色膩黃，便秘溲短，胸痞，不沾粒米，乃暑濕挾痰阻於氣分，治宜開泄，白虎不可投也。用蔞、薤、枳、朴、連、夏、茹、芩、苑、桔，服三劑，二便既暢，胸次豁然而愈矣。</p>
<p>方氏婦勞傷挾感，業已治愈，服補藥數劑，漸形浮腫。或謂邪未淨而補之早也，用消導、清解法皆不應；且兼咳逆礙眠，便溏溲澀，又謂腎氣不納，改從滋填，其勢益增，遂束手矣。挽余視之，脈浮無汗，尺靜經行，既非根蒂之虛，亦豈邪留誤補，殆愈後復感風邪，肺氣阻痹，水津失布，所謂皮水證也。與香薷、杏仁、紫蘇、橘皮、兜鈴、麝干、紫菀、通草、蔥白，天泉水蘆火煎服，覆杯而愈。</p>
<p>余雖挈眷回籍，而會垣戚友，未能恝然置之，故時往寓焉。今歲六月初二日剌船返裡，欲避暑月應酬之繁也。</p>
<p>嗣因亢旱河涸，舟楫不通，或以肩輿相招，余畏長途而卻之。中秋後，河漸通，乃二十夜夢先慈以不必晉省為訓，初謂心有所憶也。至九月下旬，欲展墓於皋亭山，因赴杭視弟妹，舟人忘備白米，強啖冬舂米飯一餐，遂腹脹不飢。越日抵寓，身漸發熱，徐君亞枝為余多劑清化，至十六日始解極堅燥矢，解後大渴喜飲，少頃則傾囊而吐，吐則氣自少腹上涌，味極酸苦，甚至吐蛔。趙君笛樓診云：十六日不食，中已大虛，一解之後，更無砥柱，故肝木乘而沖侮也。投參、苓、椒、梅、萸、連、橘、半、茹、薑等，四劑吐止，稍進飲食，然肌肉削盡，寐則肢惕，而稍一展動，則絡痛異常，大解必旬日一行，極其艱澀。扶病而歸，兩跗皆腫，自知虛不易復，而性不受藥，遂啖肥濃。至冬杪腫消，而大便始潤，津液易奪而難復如此！且稍或煩勞，即作寒熱。至次年三月，各恙始休，而步履如常，惟肌肉不能復舊，以脾主四肢，胃主肌肉，而束骨利機關也。余脾胃素弱，故畏藥如虎，稍有惡劣之氣者，飲之即吐，若吞丸藥，則不能克化，生冷硬物，概不敢嘗，最奇者冬舂米飯之氣，亦所素畏，偶食之輒小病，而未有如此之劇者，嗣後不敢略試矣。且深悔不遵先慈夢示，遂息影窮鄉，不復寓省，乃不知者徑目余為神仙中人，蓋余能安其痴也，而吳越之間，亦未嘗不偶游焉。次年夏游武林，晤許貫之茂才，見其令嬡　姑，患疳膨聚氣，云起於桐鄉外家食冬舂米飯也。可見人之脾胃，有同於我者矣。</p>
<p>秋杪山妻懷孕已七月，又患瘧，醫從清解不應，半月後轉為間作。時余臥病省垣，家人恐添憂慮，初不我聞。</p>
<p>延至匝月，病漸瀕危。錢君意山、管君芝山放棹迎余，扶病歸來。診脈軟滑，而尺帶虛弦，凡瘧至一時之先，必大渴、背麻、脘悶，既熱則頭疼、腿足腫脹，寒不過一時，而熱有七、八時之久，骨瘦如豺，肌膚甲錯，便堅溲澀，心悸無眠，目不見人，舌光無液。乃真陰素虧，水不涵木，風陽內熾，耗血傷津，兼挾勞傷而吸秋熱，熱茗頻啜，米飯惡沾，腰痛而胎動不安，勢已十分險惡。遂與西洋參、元參、知、薇、蒿、菊、菖、麥、梔、甘、桑葉、竹瀝，兩劑嗽痰甚多，渴悶稍減；去桑、菊、梔、蒿，加橘紅八分，蘇葉五分，蔥白兩莖，又兩劑瘧止，吐痰更多，舌色漸潤；去元參、知、薇，加冬瓜子、茯苓、蛤殼，一劑嗽雖減，而左脅時疼；乃用北沙參、熟地、麥冬、蔞仁、楝實、石菖蒲、絲瓜絡、十大功勞、藕，以養陰柔木而清痰熱，服之甚妥；然目雖能視而早晨必昏臥如迷，遂增熟地，加白薇、歸身，一帖寒熱陡作，面赤氣衝，或咎補早瘧復，余曰非也，此不耐歸身之竄動耳，即去此一味，加蔥白、蒲桃干，服之果愈；隨去蔥白，加甘草、石斛，兩帖嗽大減，胃漸和，更衣較潤，惟手心如烙，兩足不溫；乃易沙參以西洋參，去蔞、楝而加生牡蠣一兩，鹽水炒橘紅一錢，二帖足漸溫，痰漸濃，而腰痛、脅痛未已；又加酒炒知母一錢，兩帖痰出極多，昏臥始減，惟納食如噎，火降即飢，舌辣　干，小溲尚熱；改用西洋參、二地、二冬、二至、知、柏、牡蠣、十大功勞，少佐砂仁為劑，服六帖各恙皆已，能起榻而腿軟干，神猶貿貿，即以此方加白芍、木瓜、石菖蒲熬膏，服至冬至後，神氣始爽而痊。</p>
<p>秀水董君枯瓠之夫人，余於秋仲偶診其脈，知其八脈久虧，積勞多郁，故指下虛弦而澀，寒熱時形，虛火易升，少眠善悸，性又畏藥，不肯節勞。至冬令證類三瘧，余以病未能往視。來信云：桐鄉傳一妙方，治三瘧效驗如神。方用甜茶、半夏各二錢，川貝、檳榔各三錢，橘皮、甘草各一錢五分，乾薑一錢，木香五分，凡八味。已服三劑而瘳。余即函復云：此乃劫劑，僅可以治寒濕飲邪為患之實證，設虛證、熱證，服之雖愈，必有後患。故抄傳單方，最非易事，若好仁不好學，功過恐不相敵也。既而病果復作，較甚於前。余與呂君慎庵同議鎮養柔潛之法，始得漸愈。後聞服此方者率多反復，乃郎味清茂才深佩余之先見云。</p>
<p>張寶商室患凜寒乍熱，咳逆形消，面赤少餐，經遲眩暈，醫投補劑，盜汗帶頻，咸謂不能過春矣。余診之，脈弦滑而數。本非虛勞，無須補藥。乃肝陽內盛，搏液成痰，阻塞氣機，法宜清展。以元參、丹參、紫菀，白薇、青蒿、黃柏、石菖蒲、菊花、竹茹、竹葉為方，每服送當歸龍薈丸一分，二十劑遂健如初。</p>
<p>馮益三令正上年春汛偶愆，頗露虛象，群賢咸以為損，余診為孕，季秋果舉一男。至丁已春初，產逾三月，既不自乳，汛亦未行，偶感客邪，醫療半月，漸至不飢不食，氣自少腹上衝，似有聚瘕，嘔惡腹痛，面黃形瘦，溲熱便溏，口渴帶多，面浮咳逆，僉云已成蓐損，復延余診。脈滑而弦，遂以孕斷。與沙參、蘇葉、桑皮、冬瓜皮、黃芩、枳殼、石菖蒲、白薇、橘核、楝實、煎送香連丸，三服霍然。復聞六月中旬產一女甚快。</p>
<p>郎氏婦崩後淋帶，五內如焚，溲熱口乾，不飢脘悶，腰疼肌削，臥榻呻吟，頭暈耳鳴，夜不能寐，脈來細數，少腹不舒。滋補雜投，皆不見效。余以沙參、菖蒲、斛、柏、薇、苓、蛤殼、冬瓜子、藕、十大功勞先為清展，服五劑熱退渴和，脘舒安穀，且能起坐，夜亦能眠，其氣機已調暢矣，參入潛陽養血而瘥。</p>
<p>梅溪蔣君寶齋令堂，自上年夏秋間患痢之後，神疲少寐，不能起床，醫謂其虛，率投補藥，馴致驚疑善悸，煩躁囈語，脅痛巔疼，耳鳴咽痛，凜寒暮熱，大汗如淋，暈厥時形，愈補愈殆。李君蒼雨邀余診之，脈弦滑而數，白睛微紅，而眼眶如墨，舌絳無苔。因問胸悶乎？曰悶甚。便秘乎？曰秘甚。溺熱乎？曰熱甚。豈非氣鬱而痰凝，痰阻而氣痹，肺胃無以肅降，肝膽並力上升，濁不下行，風自火出？雖年逾五旬，陰血不足，而上中窒塞，首要通陽。為處小陷胸加菖、薤、旋、茹、苓、枳、郁李仁，群醫謂是猛劑，無不咋舌。</p>
<p>寶齋云：鎮補滋斂，業已備嘗，不但無功，病反日劇，且服之。果一劑知，三劑安。已而余有會垣之游，前醫謂病既去，復進守補月余，仍便秘無眠，胸痞躁亂，加以發斑腹痛，人皆危之。時余游禾中，函乞往視。仍用前法增損，合雪羹投數劑，連得大解，率皆堅燥，改與柔養，更衣漸暢，粥食漸增，以潛鎮舒養之劑善其後。</p>
<p>仁和彭君芝亭之三令嬡，年甫逾笄。自去秋患痰嗽內熱，漸至汛愆減食，咽爛音嘶，肌瘦便溏，不眠心悸。</p>
<p>丁巳正月下旬，專人逆余往視。左脈細軟而數，寸尤甚，右尺洪數，寸關不耐尋按。殆燥邪薄肺，初失整肅，陰分素虧，源流兩涸，今胃氣已敗，萬物發蟄之時，如何過去。其二令嬡深諳醫理，極以為然。適邵位西樞部持蔣大理之函相召，余即解纜。嗣接趙君笛樓信云：彭證果歿於驚蟄前三日，抑何脈之神耶？余謂亦偶然事耳。如前年五月間，偶診顧聽泉明經之脈，即謂家　伯茂才云：顧君不可以冬，蓋石象已見也。後竟歿於立冬之刻。今年二月診莊丈芝階脈，謂其文孫眉仙少君云：恐難以夏。而立夏前三日竟逝。十月初游武林，訪家瘦石兄，切其脈尺中微露浮弦，即謂其子曰：春令可虞。亦於次年驚蟄日無疾而終。脈之可憑者如是，而竟有不可憑者，此其所以為深微之學乎？蔣君寅　太夫人患恙，適余游武林，專丁招往。病已七日，齦糜頤腫，寒熱時形，脘悶頭疼，不眠不食，苔黃便秘，脈數而弦。是冬令伏邪發為溫病，血虛肝旺，稟賦使然。以枳、桔、羚、翹、梔、菖、蔥頭、兜鈴、麝干為前茅，三劑而熱退腫消；以小陷胸合梔豉，加菖、苓、竹茹、雪羹開中堅，亦三劑而便暢胸舒，漸啜糜粥；以西洋參、肉蓯蓉、麥冬、石斛、川貝母、竹茹、歸身、知母、黃連為後勁，漸安眠食而痊。其庶祖母年八十六歲，患胸悶便秘，少腹瘕痛，夜分凜寒，兩目更冷，不飲不食，口苦息粗，咸以高年為慮。按脈弦數而澀，此肝氣素滯，食阻上焦，升降並愆，故脈澀而息不調也，豈可誤以為正氣之衰乎？進枳、桔、蔞、薤、菖、苑、蘇、連、橘核、旋覆之方，投匕而瘥。次年春病復如是而較甚，余亦以此法瘳之。寅　曾於去冬患血溢，與清舒肝膽而安。惟久患不眠，臂冷食少，自云服補心丹及知柏八味丸甚合。余曰：脈至弦細而緩，因賦質陰虧，心多思慮，五火內熾，爍液成痰，阻礙氣機，故脈證如是。滋膩之藥，不可再投。用沙參、丹參、絲瓜絡、茅根、旋覆、橘、半、菖、苓，服十余劑而愈。</p>
<p>梅裡任會嘉令正，年逾五旬。季春患證漸劇，訪余視之。身熱頭疼，凜寒胸悶，氣衝無寐，神憊音低，苦渴嗽痰，乾嘔便閉，脈甚細軟，延已旬余。咸以為虛，欲投補劑。余謂陰分雖虧，氣鬱痰滯，溫邪留戀，胡可補耶？輕展清宣，庶乎合拍。以蔥豉合小陷胸，加南沙參、麝干、馬兜鈴、通草、竹茹，二劑而熱退嘔吐止；去蔥、豉、兜、麝，加梔、貝、芩、菖，三帖而便行胸適，得寐知飢，改投柔木涵陰而愈。</p>
<p>錢塘姚歐亭大令宰崇明，其夫人自上年九月以來，夜不成寐，僉以為神虛也，補藥頻投，漸不起榻，頭重如覆，善悸便難，肢汗而心內如焚，多言，溺暢畏煩，而腹中時脹，遍治無功。其西席張君心鋤，屢信專丁邀診，余不獲辭，初夏乘桴往視。左寸關弦大而數，右稍和而兼滑，口不作渴，舌尖獨紅。乃憂思謀慮擾動心肝之陽，而中挾痰飲，火鬱不宣。溫補更助風陽，滋膩尤增痰滯。至鹿茸為透生巔頂之物，用於此證，猶舟行逆風而扯滿其帆也；明粉為芒硝所煉，投以通便，是認為陽明之實秘也，今脹能安穀，顯非府實，不過胃降無權，肝無疏泄，乃無形之氣秘耳。遂以參、連、旋、枳、半、芍、蛤、茹、郁李、麻仁、鳧茈、海　，兩服即寐，且覺口苦溺熱。余曰：此火鬱外泄之征也。去蛤殼，加梔子，便行脹減，脈亦漸柔；再去麻、郁、雪羹，加石英、柏子仁、茯苓、橘皮、小麥、蓮子心、紅棗核，三劑各恙皆安；去石英、梔子，加冬蟲夏草、鱉甲為善後。余即掛帆歸矣。然不能靜攝，季夏漸又少眠，復遣丁諄請，余畏熱不行，命門人張笏山茂才往診，遵前法而治，遂以告愈。</p>
<p>崇明刑幕吳江史勵齋令正，久患少腹聚瘕，時欲攻痛，羞明心悸，汛速帶頻。向服補藥，交夏發之更劇。醫用膠艾東加參、朮、　、茸峻補，痛益難支，遂致暈厥，不眠不食，業已四朝。屈余視之，脈來弦滑，苔黃苦渴，溺熱便難。與沙參、石英、龜版、鱉甲、蒿、薇、苡、柏、　、　、茹、菖，一飲而病如失，眠食皆安，贈以清養柔潛而別。</p>
<p>余游瀛洲，有越人李姓，挽心鋤茂才見余，云親串中一婦人，因娩後嗽血，遂至兩目無光，四肢　不能動，欲求一方。張謂如此大證，未審其脈，如何施治。余曰：吾知之矣，此肺熱欲成痿　也。遂以西洋參、桑皮、元參、百合、知母、苡仁、藕、茅根、枇杷葉為方，服六劑。聞余將歸，李亟來署致謝云：病去大半矣，真仙丹也。欲再求一方，余為加葳蕤一味。然此由海外，因不知有「產後宜溫」之謬說，故無人阻撓，而得偶然幸愈也。</p>
<p>楓涇程笙伯令正，半產之後，汛事先期，淋漓不斷，時且痛脹，齦衄減餐，苦渴苔黃，脈弦而數。頻服補劑，久不能瘳。余投沙參、龜版、製香附、絲瓜絡、茹、楝、菖、蒿、桅、薇、柏、藕十余劑，次月經即調，復來求診，與柔養善其後。</p>
<p>細君上年病後，以清養藥熬膏，服至歲杪，已康復勝常。孟春十八日，分娩亦快健。七日後，余即游武林，繼返硤川，由梅溪而游嘉秀，至清明歸，為展墓也。知其左乳裂疼，乳房亦癢，搔即水出，起已月余，初謂外恙不足慮，令取瘍科善藥敷之。余復鼓棹游梅涇而至　李，又浮海游崇沙，迨歸已屆端陽矣。見其右目胞坍而甚赤，詢厥乳患，左加甚而更及於右，諸藥久敷，皆無偶效，且兼氣衝痰嗽，口渴膚糙，蓋津液悉從外患而耗也。察其脈滑而數，良由肺胃熱熾使然。遂授元參、石膏、知、翹、甘、苡、蔞、梔、菖、菊、蛤殼、銀花等，二十余劑而各恙並蠲。既而余游吳越間者月余，歸見其遍身暑癤，形瘦少餐，食後神疲，二便不暢，脈則弦澀不調。與元參、絲瓜絡、梔、連、菖、橘、蔞、苑、薇、蘇，四帖而經月之病若失，亦因氣鬱熱壅也。可見治病必探其源，勿徒遏其流，而故人管君榮棠嘗謂外證不宜服藥，蓋為服不得其當，及信書太過、泥用成方者言耳。若宣氣清血之法，原不禁也。</p>
<p>沈雪江光祿年五十歲，於客臘偶患頭暈，既而右手足麻木，醫進再造丸十余顆，漸至攣曲不伸，針藥無效。</p>
<p>仲春余游　李，吳門李君雨村招往視之。手足亦腫而疼，便堅溲赤，口乾舌絳，準頭一瘰磊然，脈象弦滑而數，平時屢有鼻衄。肝陽易動，曲運神機，體質性情，陰虛火盛，風自火出，爍液成痰，竄入絡中，則為是證。初起若以竹瀝一味灌之，可以漸愈。乃溫補率投，遂成錮疾，幸而病在經絡，停補尚可延年，苟欲望有轉機，必與清通宣泄。擬方三劑，腫痛稍瘥。議者謂藥太清涼，多服恐妨脾胃，更醫復事溫補，並雨村亦不延診矣。迨四月中旬，大便忽秘，飲食不思，半月余，更衣極艱滯，而解後胸次愈形窒塞，遂不食，然參藥不輟也。至五月十八日，復解燥矢，仍不思食，勉強啜粥輒嘔吐，次日轉為滯下，色如魚腦，日數十行。醫謂有出無入，脾腎兩敗矣，溫補方再加固澀之品，遂鼻血如注，且有成塊成條之堅韌紫血，自喉間涌出，雖米飲不能下咽，小溲澀滯不行，時欲呷茶以潤口。或云已傳關格，無藥可圖，而引火歸元之法，愈用愈劇。諸醫無策，眷屬皇皇，業辦後事矣。乃弟云峰待詔，余春時所囑，挽人聘余往援。二十四日余抵禾，見其面色枯黧，牙關緊而舌不出齒，脈至右滑左弦細數，皆上溢而尺不應指。胸悶溺澀，陽宜通而不通，是滋膩阻塞氣道也；血溢下利，陰宜守而不守，是溫燥灼爍營液也。吾先慈所謂人身如欹器，滿則必覆。半年蠻補，填滿胃中，設不傾筐倒篋而出，亦必塞死，豈可不加揣測，而誤認為神機化滅之出入廢、關閘不禁之下利、陰盛格陽之吐衄，而再施鎮納堵截之藥哉！古云：上部有脈，下部無脈，其人當吐，不吐者死。今火熾上炎，鼻血大流，湯水不能略咽，有升無降，與吐何殊？況見證雖危，而呼吸不促，稍能安寐，皆是未絕之生機。考古下利而渴者屬厥陰，白頭翁湯主之；滯下不食者為噤口，參連湯主之。余合而用之，加石菖蒲宣氣通陽，石斛、茅根生津涼血，一服而利減其半；次日去連、柏，加元參、犀角、童便，專治其衄，一服血漸少，利漸止；然離絡之血，不可不使之出，未動之血，亟當使其各安於位，故以西洋參、丹參、麥冬、茯苓、菖蒲、石斛、小麥、竹葉、梔子、甘草梢、燕窩等出入，三劑血既止，牙關漸開，苔色黃膩，啜飲必拍膈始得下行；因參以小陷胸法，數劑自覺身體略輕，手腕稍舒；改清肅肺胃，展氣化以充津，苔漸退，渴亦減，脈較平；守至閏月二十二日，尺脈滑動，於方中加肉蓯蓉、麻仁二味，夜間即解堅黑燥矢，而漸能進粥；隨去麻、蓯，加生地，服至六月初七日，口始不渴而吃飯。繼因過飲西瓜汁，大便溏瀉，復延余往。以六君去朮、草，加苡、藿，數帖而安；隨去藿，加首烏、絡石、石斛、十大功勞，服二十劑漸能起坐，右腿可以屈伸，但軟而無力耳。中秋後又邀余往，則胃氣已復，右指已伸，皮膚色澤，而右臂未能動，右頰猶覺木硬，是絡中之痰未淨，肝臟之風易生，氣血之灌溉流行，因有所阻礙，而不能貫注也。以養血息風、蠲痰宣氣之方，加竹瀝為向導，服後足漸能立。</p>
<p>十月間食蟹過多，大解泄瀉。余以六君加藕、木香、蘇葉調愈。嗣余游盛湖轉禾，適交至節，而天暖不藏，又因勞怒，陡發頭暈，嘔吐痰涎，目閉不言，不食不便，舉家無措。醫者率主首烏、牡蠣等滋攝之治。余脈之弦而緩，是中虛不能御木，故內風上僭，陰柔之品徒滯中樞，不可服也。仍用六君去甘草，加菖蒲、黃連、旋覆花、薑皮、鉤藤，三劑霍然。小寒後余游姑蘇轉禾，又因天暖而發鼻衄，改換養陰潛陽法而瘳。次年春季出門，因不節勞，至端陽復中而逝。</p>
<p>季夏余游　李，陸君又溪邀視其友王姓之病。寒熱時作，汗多不解，便溏不暢，溲赤妄言，面黑如煤，苔黃大渴，煩燥氣逆，脈滑而洪，按其心胸，堅硬而痛，乃暑濕挾痰食也。群醫但知時感，輒進寒涼，聞說胸次不舒，遂疑為疹，羚、犀、膏、地，力竭計窮，已囑病家備後事。余曰：此非重證，何必張皇！撤被啟窗，勝於服藥，病家唯唯，而不甚信。余即手為揭被開窗。病患　曰：舒暢多矣。藥以小陷胸加芩、枳、翹、茹、薤、菖、海　，數服而愈。繼有裡中張姓者，證相類，面不黑而紅，舌無苔而干。諸醫亦不察其氣分之尚結，痰食之未行，屢進生地，唇齒漸焦，遂束手。余以小陷胸加元參、海　、菖、枳、芩、翹，一飲而脘舒得臥，齒舌皆津。蓋結散邪行，則氣通液布也。</p>
<p>乙卯六月，余三媳患感。身熱頭重，脘悶，頻嘔不食，耳聾。余投清解藥一劑，病不少減，而汛事非期而至，邪雖尚在氣分，但營陰素虧，恐易陷血室。亟迓半痴至，投小柴胡加減一帖，病少瘥而虛象畢呈，少腹右角甚形掣痛；半痴於清解中即佐養營通絡柔肝之品，服四劑，證交七日，得大戰汗而愈。原方為三兒遺失，惟記後四劑重用乾地黃為君，是血虛者必養血則得汗，而兒婦氣分甚郁，苟不先行清展氣機，則養血之藥不能遽入，此因事制宜之所以不易也，要在先辨其體氣與病情耳。更奇者，同時余內侄許貫之茂才室，體極清　，似較余媳更弱，且娩已五次，而產後即發壯熱。半痴視為暑證，投大劑涼解數帖，即戰汗而瘥。無何胃氣漸復，忽又壯熱，便閉渴悶，不飢不食，或疑新產誤餌涼藥使然，幸病家素信，仍延半痴診之。右甚滑實，曰食復也。詰之，果啖豆腐稍多。遂投枳實梔豉東加蔞、翹、桔、薄、蘆菔汁，三啜而痊。斯人斯證，使他醫視之，必以為營陰大虧矣，而半痴獨不顧及，憑證用藥，應手而痊，且愈後不勞培補，尋健如常。可見產後不必皆虛，而體氣之堅脆，亦不能但憑於形色之間也。嘻，難矣。丁巳冬，余假館潛齋，適半痴草《歸硯錄》，余讀至「結散邪行，氣通液布」二語，因追憶兩案，筆之於此。又可見佳案之遺漏尚多。惟冀同志者抄存以期續采仁和徐然石附識。</p>
<p>七月初旬，余游鴛湖歸，三侄壽和陡患凜寒，身熱筋　，面紅，譫妄汗頻，四肢厥冷。年甫六歲，其母危之。</p>
<p>余察其苔色黃膩，口渴唇紅，乃停食感冒耳。以枳實梔豉東加菖蒲及冬干之蘆菔葉，煎成調入玉樞丹五分灌之，次日譫　皆減，而腹痛微有吐瀉，寐醒則神猶瞀亂，知其邪有外泄之機，治當迎刃而導，於前方加蘇葉一分、黃連二分同炒煎服，連吐三，五次，瀉六、七次，痛即減；第三日神情爽慧，余謂去疾莫如盡，再服原方一劑，遂愈。蓋小兒之病，因於食滯者多，胃不和則臥不安，陽明實則譫妄，而世人輒作驚風治之，每致僨事。昧者更惑於巫瞽，而祭非其鬼，則尤可笑也。八月初，余游虎林歸，二女定宜患感旬余，熱雖退而乾咳無痰，不眠，不食，不便，胸腹無所苦，湯飲亦不思，五熱形瘦，僉慮成勞。余按脈弦細，是痰阻而氣不通也。以紫菀、白前、蔞仁、薤白、橘紅、半夏、菖蒲、竹茹、枳殼、桔梗，服數帖漸愈。三女杏宜年十四，因侍姊病過勞，且浹旬風雨，寒氣外侵，而自恐不支，勉強納食，起病則凜寒微熱，腿腫而　，泛泛欲嘔，兼以微嗽。適余歸之次日也。視其苔微黃而膩，尖微絳，脈緩滑。以枳實梔豉東加前、蘇、杏、桔、芩、菔飲之。日晡余游南鄉歸，內子述服藥後神情昏瞀，嘔出藥食，恐夾痧邪，曾為刮背。余謂此食滯上焦，濁未下行耳。迨夜頗靜，詰朝察之，胸仍拒按，原方加菖蒲、紫菀投之，余即游硤川，黃昏而歸。內子云午後神復瞀亂，恐有變證，明日君毋他往也。余頷之。夜間亦靜，次早問答如常，胸猶拒按，因其吐既未暢，大便未行，以前方合小陷胸為劑，外用朴硝罨其胸次。至已刻即神昏如寐，引衣自覆，呼之不應，時或妄言，面色晦滯，四肢時冷。內子對之下淚。余按脈如故，確系濁氣上熏，清陽失布，既非寒邪深入，亦非溫熱逆傳，原方再服一劑，病如故。余再四思維，徑以薤白、石菖蒲各一錢，蔞仁三錢，煎成和入醇酒一杯灌之；外用蔥白杵罨胸次，牙皂末吹鼻取嚏。時將薄暮，至初更始得微汗而肢和，尋即溏解一次而識人，夜分安眠。第四、五日胸次已舒，略無譫語，乃目有妄見，寐即惡夢，時有潮熱。余以蔞、薤、菖，茹、翹、薇、苑、半、梔、豉、省頭草等藥通府滌濁，連解三次，各恙皆安；改用清肝肅肺法，至七朝身涼全愈。繼治蔣君寅　五令郎全官，身熱筋螈，不啼不乳，神呆嗜臥，或疑驚風，夤夜逆余往視，乃風熱夾食也。與開泄清解法數帖，便行而痰漸嗽出，病即漸瘥。此等雖非大證。設稍誤治，告危極速，故連類錄之，以備大匠木屑竹頭之需。</p>
<p>管君芝山拉余治其表嫂吳媼，年五十五歲。上年仲夏患癃二十余日，愈後小溲迄未通暢，已成錮疾。今秋分後，溺秘不行，醫療旬余，溫如薑、桂、烏藥，涼如梔、芩、黃柏，利如木通、滑石，皆不效，甚有用益智等以澀之者，漸至腰腹皆脹而拒按，胸高腿腫，不飢不食，大便不通，小溲略滴幾點，熱痛異常，舌絳無津，渴喜沸飲，而不敢多啜以增脹滿，呻吟待斃。脈軟而微，乃陰虛氣化無權也。以沙參、熟地、連、蔞、苓、澤、麥冬、紫菀、牛膝、車前，加附子一錢，桂心五分，煎成冷服，一周時溺出桶許，而大便隨行，進粥得眠，口苦而喜涼飲，即去附、桂、連、蔞、苑、膝，加知、柏、芍藥、砂仁，數服而起。緣境窘不復調理，錮疾聞猶存也。</p>
<p>盛澤王西泉丈仲郎巽齋刑部夫人，年未四旬，而十八年前誕子之後，汛即不行，醫以為虛，頻年溫補，略無小效。董味青茂才囑就余診。脈弦滑而體甚豐，乃氣鬱生熱，熱爍津液以成痰，痰復阻其氣道，不能化血以流行，以致行度愆期，腹形脹痛，肢背不舒，骨疼寐惕，渴不欲飲，間或吐酸，二便不宣，苔黃口苦，皆風陽浮動，治節橫斜之故也。與沙參、蛤粉各四錢，絲瓜絡、石菖蒲各一錢，紫菀、仙夏、旋覆、蒺藜各一錢五分，茯苓三錢，丹參二錢，黃連四分，海　二兩，鳧茈一兩，服十余劑，來轉方云：脹痛蠲而腹背皆舒，夜寐安而二便亦暢，酸水不吐，痰出已松，是肝已漸柔，惟食少無味，骨節　疼右甚，乃陽明虛無以束骨利機關也。擬通養法：參須、石菖蒲各一錢，茯神、絡石各三錢，薏苡四錢，仙夏、竹茹各一錢五分，木瓜八分，薑汁炒黃連三分，十大功勞一兩。仲冬招余往游復視，則諸恙皆安，惟右腿尚疼耳。即於通養方內加黃柏、仙靈脾，服之遂愈。</p>
<p>王西翁令孫芝生茂才室，久患汛行太速，頭痛神疲，形瘦內煩，渴喜熱飲，納食滯膈，絡脹少眠，脈至軟滑虛弦，腿　而有赤塊甚痛，乃陰虧水不涵木，風陽內熾，氣鬱痰凝。議宣養清潛互用法：沙參六錢，鱉甲八錢，首烏三錢，茯神、菊花各二錢，梔炭、竹茹、桑葉各一錢五分，白薇、黃柏、絲瓜絡各一錢，以藕二兩，十大功勞一兩，煮湯煎藥；外用蔥白杵爛，蜜調，塗腿上赤塊。仲冬復視，煩減能眠，汛行較緩，頭疼腿塊均已漸瘥，乃與通補柔潛之劑。後信來知其服甚效。</p>
<p>鴛湖吳君小漁令寵，數年前因娩後啖生菜而患便瀉，久治不愈。仲秋余視之，脈弦數。曰：此非菜之罪也，乃土受木乘，而頻年溫補，益廣病機，頭痛帶多，脘疼食少，吐酸痰嗽，五熱無眠，無非八脈無權，風陽偏盛，授宣養清潛之法而愈。繼其令妹適岳氏者，久患帶下，去冬崩血，赤白並行，延今不已，臥榻數月，僉云無生理矣。余診脈甚滑數，面赤口乾。因問足冷乎？溲熱乎？耳鳴無寐乎？向來輒服溫補乎？皆曰然。幸能安穀，是藥病也；幸澀之不止，藥力尚有分勢也。投以大劑清熱堅陰之法，服數十劑．仲冬余復游禾，已能踵寓就診矣。</p>
<p>秀水吳君小漁，年近七旬。平昔善飲，久患便瀉帶血，日夜十余次，溺不單行，廣治罔效，聘余往視。脈虛以弦，用補中益氣湯去歸、柴，加烏梅、黃柏、白芍、茯苓，不十劑而痊。其季郎雅軒，素有失血之患，近由穹窿山歸，途次發熱，兼以咳逆見血，醫治兩旬不應。余診之，脈弦數而上溢，氣衝則自覺血腥，喘汗睛紅，面黧足冷，飢不能食，脅痛耳鳴，苔膩口乾，小溲短赤，寤不成寐，痰色甚濃，乃稟賦陰虧，水不涵木，心火內熾，肺金受戕，兼感客邪，胃濁不降。</p>
<p>甚難措手，即欲辭歸，而虞君梅亭、胡君春田力乞疏方，勉圖一二。爰以沙參五錢，蛤粉四錢，冬瓜子六錢，浮石、茯苓、石斛各三錢，桑皮二錢，竹茹、枇杷葉各一錢五分，絲瓜絡、桃仁各一錢，蘆根湯煎服。是清心肝以靖浮越之陽，肅肺胃而廓逗遛之熱也。一劑脈色轉和，氣衝亦減。余留七日返棹，已熱退便行，能安眠食，惟不能慎口腹，戒忿怒，故痰嗽脅痛未能盡蠲。逾二月，余游聞川過禾，因喉痛復邀過診，仍是心肝之火上炎，為留三日，與龔萍江茂才內外協治而瘥。但病源匪淺，情性不柔，春令深時，恐興險浪。臨別與其友人余姚岑君九鼎言之，以為左券。</p>
<p>賢倡橋朱君蘭坡令堂，年已六旬。素患跗腫，夏季患瘧轉痢，痢止而腹之疼脹不休，漸至脘悶面浮，一身盡腫，遍治罔效，臥榻百日，後事皆備。聞余游禾，諄乞一診。左極弦細，右弱如無，舌赤無津，呻吟嘔沫，不眠不食，溲短目眵。系肝旺之體，中土受傷，運化無權，氣液兩竭。如何措手，勉盡人謀。方用參須、石菖蒲、仙夏各一錢，石斛、冬瓜皮、建蘭葉各三錢，竹茹一錢五分，薑汁炒川連四分，陳米湯煎服。詰朝蘭坡忻忻然有喜色而相告曰：已轉機矣。求再診。余往視，面浮已減。病者囅然曰：胸腹中舒服多矣，故不呻吟。且進稀粥，按脈略起。遂於原方加冬蟲夏草一錢，烏梅肉炭四分，服後連得大解，色醬而夾蠕蠕之蟲盈萬，腹之疼脹遂蠲，肢腫亦消，舌潤進粥。又邀余診，色脈皆和，喜出望外。初亦不知其蟲病也，所用連、梅，不過為泄熱生津、柔肝和胃之計，竟能暗合病情，殆蘭坡孝心感格，故危險至是，可以一、二劑取效。謹識之，以見重證不可輕棄，而余僥幸成功，實深慚恧。將返棹，留與善後方，惟加燕窩根、薏苡、白蒲桃干而已。冬初余再游禾，詢其所親，云已出房，因索原方案歸錄之。</p>
<p>邱氏婦年四十余，患少腹瘕聚，時欲上衝，昏暈而厥，臥榻數月，足冷面紅，寤不成寐，諸治不應。余按脈虛細而弦，口乾無液。與大劑一貫煎，覆杯即愈。人咸詫異稱神，余卻愧抄來墨卷也。</p>
<p>秀水嚴小亭令正，五十八歲。因數年前家有訟事，屢遭驚嚇而起，輒疑自欲吞金，雖己衣不敢用鈕扣，並時縶手足，即夫媳兒孫，皆屏絕不許入房，云恐自摘他人之衣扣環飾咽下也。僅留一媼，在室服侍，而飲食起居如常人。醫皆謂其神虛，率投鎮補。今秋患右腿青紫腫痛，牙齦臭腐。季秋延余視之，脈弦滑而數。曰：此病不在心而在膽，故能記憶往事而善謀慮，豈可指為神志不足乎？膽熱則善疑，愈補則熱愈熾，熾極則傳於胃，胃熱蘊隆，乃成青腿牙疳也。錮疾已六、七年，宜先治其新病。以菖蒲、膽星、石膏、膽草、知母、元參、銀花、梔子、白薇、竹茹、黃連煎調玉樞丹，並令購白馬乳飲之。六劑而病減，半月新病愈。仲冬余又游禾，復診脈較平，而膽亦稍和，蓋白馬乳善清膽胃之熱也。</p>
<p>朱君慶雨次郎，夙有癇證，因勞傷之後，發冷吐酸，不飢神憊，服藥數劑，遂致故恙日作數次，醫者技窮。</p>
<p>余脈之，弦細若伏，而肢冷如冰，苔白如砂，涎沫頻吐，頭疼而暈，重裘不知溫。是熱深厥深，誤投熱藥，而飲邪內盛，故熱邪隱伏不顯也。詢其小溲果甚赤，以導痰湯去草合雪羹，加芩、連、梔、茹、木通煎吞當歸龍薈丸，覆杯而愈。</p>
<p>管君錫棠仲郎蘭穀之室，季秋患寒熱，娠已八月矣。繼因其子患驚，憂勞數月，遂兼痰嗽，而舌糜口臭。服藥數帖而娩，其胎已腐，然寒熱、咳嗽、口糜諸恙不減。醫以其產後也，用藥益無把握，馴致氣逆自汗，面赤無眠，束手囑備後事矣。適余游武原歸，延診。其脈寸關弦滑右大，惡露流通，二便無阻。是下焦無病，雖在產後而病與產後無涉。若云產後宜溫，固是謬說，而此之口舌糜臭，亦非大熱，毋庸重劑涼解。良由胎已早殞，失於早下，以致濁氣熏蒸於肺胃，故見以上諸證。既見諸證而早為整肅，則源澄流潔，奚至是耶？設再誤作產後虛喘而妄投補劑，則雖死而莫知其所以死也。爰以南沙參、省頭草、厚朴、杏仁、菖蒲、桑皮、竹茹、枇杷葉、冬瓜子、絲瓜絡為方，薔薇葉、蘆根煮湯煎服，兩劑氣順嗽蠲，知飢進穀；去杏、朴，加苡仁、甘草，口舌隨愈，寒熱亦休；惟骨節　疼，合目即汗，改清熱養陰而起榻；腰足尚　軟，授滋補氣血而痊。</p>
<p>管授青翁季郎蓉舫之室，初冬患寒熱，耳聾胸悶，便秘，帶下如注，嘔渴不眠，粒米不沾者旬余矣，人皆危之。余按脈弦數，舌絳無苔，氣逆面紅，自求速死。此肝鬱深沉，木火內爍，耗津阻氣，出入無權。小柴胡湯、逍遙散皆貌合而神離，誤施必然決裂，此辨證用藥之所以難也。幸其喬梓深信，遂以小陷胸加菖、茹、旋覆、梔、芩，蘆根湯煎服，一劑胸漸舒，氣漸平，再劑稍寐，三劑嘔止進粥，五劑便行溺暢，寒熱亦休，苔布知飢，始改柔養而瘳。</p>
<p>金氏婦，自仲夏墮胎，迄今四月有餘，惡露淋漓不斷，兩臂近復患瘡，渾身膚癢，脈數而弦，多藥罔效，亦為產後宜溫之謬說所誤也。用西洋參、銀花各二錢，生地、龜版各四錢，冬瓜皮三錢，梔炭、竹茹各一錢五分，白薇、青蒿、黃柏各一錢，甘草六分，不十劑愈矣。</p>
<p>沈君雪江令嬡，黎裡徐少岩刑部之媳也。胎前患瀉，娩後不瘳，半載以來，諸藥莫效。余按脈弦數而尺滑，詢知帶盛口乾，腰　咽痛，溲熱善噫，肢冷畏煩。乃肝熱而風行於胃，液走則陰血日虧。與白頭翁東加余糧、石脂、熟地、龜版、竹茹、青蒿、砂仁，頻服而痊。</p>
<p>沈君云峰令正，誕子後患身熱痰嗽，白　頭疼，腹痛便溏，不飲口渴。醫者治此礙彼，專事模棱。至九朝，余抵禾，視脈滑數，苔微黃，胎前感受冬溫也。主以清解法，或疑有礙便溏。余曰：便溏為肺熱之去路，設便閉則將喘逆矣。況夏間余嘗治其胎前溺澀，群醫滲利而不應，余專清肺而得手，今雖產後，體臟未更，兼有客熱外侵，所謂有病則病受也。連服多劑，果即向安。</p>
<p>仲冬余游姑蘇，有長洲朱姓患久瘧求診。面腫目黃，聲音不爽，溲赤腹脹，脈滑而弦，濕熱蘊隆，失於宣解，苔膩無汗，食少痰多。與清化方，囑其慎口腹，戒甜膩。渠云此間名手皆曰藥餌之外，須日飲糖湯，庶久瘧易愈。</p>
<p>余曰：渠但知表散可以發汗解邪，糖湯可以和中已瘧，而愈散愈不解，愈和愈不已者，是執死法以限活病也。再信其言，必成瘧臌。病患聞之悚然，亟服余方數帖，得汗而愈。</p>
<p>秀水懷某，三十五歲。自春前偶失血一日，嗣即頻發，所吐漸多，延至季冬，聘余往視。左脈虛弦而數，右軟大，氣逆自汗，足冷面紅，夜不成眠，食不甘味，音低神憊，時欲嘔酸。此由心境不怡，肝多怫鬱，而脈候如斯，有氣散血竭之虞。堅欲返，然既邀余至，不得不勉寫一方，聊慰其意。而病者強作解事，反以所疏舒郁之品為不然，執意要用五味、山萸、薑、桂之類。性情剛愎，此病之所由來，而執迷不悟，更為速死之道矣。既而其妻出診，脈至弦細，頂癬頭疼，心悸帶多，不飢五熱，亦是水虧木旺。退而謂其所親曰：茲二人何郁之深耶？始知其無子，欲買外家而妻不許，遂以反目成病。及病成而妻乃憂悔交縈，因亦致疾。此與曩視省垣顧金城之病同，因家擁巨資，故壯年即慮無子，亦可謂欲速不達矣。而愚婦不知大計，徑為一「妒」字，以致潰敗決裂。此時雖亟為置外家，亦無濟矣！即以身殉，亦何益乎？錄之以垂炯戒。</p>
<p>一少年久患內熱，鼻衄齦宣，溺赤便艱，睛紅口渴。熱象畢露，因陽萎經年，醫者但知為陽虛之證，而不知有因熱而萎之病。遂進溫補，其熱愈熾。父母不知，為之畢姻。少年大窘，求治於余。脈滑而數，曰無傷也。與元參、丹皮、知、柏、薇、梔、石菖蒲、絲瓜絡、沙參、蛤殼、竹茹，服六劑，來報昨夜忽然夢遺。余曰：此鬱熱泄而陽事通矣。已而果然。</p>
<p>娼女榮瑛就診於余。自述本良家子，十四歲而天癸至，二十二歲而適人，二十五歲初產，但覺腰腹微　，子即墮地，三十二歲再產亦爾，茲又嫁二夫，向不自乳，而產育漸頻，分娩漸慢，今春誕子為第十胎，腹痛逾四時而始生，在他人猶以為極快，而我已覺漸徐，且年雖五十，天癸不衰，錮疾全無，向不服藥，素有微帶，邇年漸無，惟每日吐痰，別無他苦，恐此後有難產之虞，求為設法。余聞而訝之，其貌雖不甚都，而粉黛不施，風致嫣然，肌膚尚似三十許人，真尤物也。</p>
<p>始信雞皮三少之說為不誣。按脈六部皆緩滑而長，左寸關帶弦數，是聰明有壽之征，故年愈長而氣愈固，是以分娩漸慢也。向有帶而近有痰，以左寸關合之，火搏其液而不下趨也。囑以六君子加減為常服之方，設再孕至七、八月，以束胎飲頻服，可期易娩。渠聞之忻然，受方而去。錄之以見賦體之奇。</p>
<p>余口上齒下牙密排各十六，雖從無痛楚，而自幼不能決硬物，故侵晨必以鹽擦而冷水漱之，無間寒暑。今年春夏以來，飯食日減，右之第六齒漸不能嚼，偶觸堅韌之物，痛不可忍，且畏冷漱。以為去年一病，遂形衰象，初不介意。余天性不飲，而頗識杯中趣，曩侍先慈晚膳，輒陪一、二杯。因去冬苦絡虛不能轉側，戚友咸勸日飲醇酒數杯，以和氣血。遂習以為常，然不敢縱肆，未嘗一醉也。十二月十八夜，寐中忽為右齦痛覺，詰朝即礙於飲食，而是日已訂有青鎮之游，遂攜一針登舟，頻刺痛處，出血不少，午後漸松。次日歸，飲食如常，以為無患矣。二十一日立春，晨起痛脹復作，刺亦不應，繼以凜寒身熱，偏右之巔、額、　、　、顴、頰、頤、頦，無不掣痛，苔色未露，謂是風火外侵，用艽、翹、蠶、芷、桑，薄等，二劑惡寒雖已，而足冷面熱，溺赤苔黃，且鼻竅不塞，而右流濁涕如膿，時欲哼而出之，不則自上　流下，臭苦不堪，右面盡腫，滿口唇瘡，腫處極其畏寒，須以熱物熨之為快，而時時火升。自問素不服丸散，又不啖肥甘，的系飲酒經年，濕熱久蘊而上熏。蓋以酒之熱歸於膽，上移於腦則為鼻淵，其實移腦者即移胃也，故見證皆在少陽、陽明分野。遂以元參、桑葉、菊花、花粉、銀花、枳　子、絲瓜絡、冬瓜子、蘆根為劑，和入蘆菔汁，調以玉樞丹，兩服而苔化火平，二便亦暢，外用鹽鹵熱洗右面而腫漸消；去玉樞丹又二服，可以嚼飯，日啖北梨，至戊午元旦，而臭濁之涕始稀。初五、六連日出門，適大風，初七日午後右齦復痛，上連頭角耳門，右之第六齒復長出而礙食，凜寒畏風。乃用桑葉、菊花、生甘草、綠豆皮、元參、苡仁、銀花、梔炭、薄荷、鉤藤，以清散風熱，一服腫出痛減；去薄、鉤，加枇杷葉，四劑痛平，而右之第六齒已內外分裂矣。其根仍固，但礙於嚼物，而齦腫直至夏初消盡。既而頭面四肢遍發斑塊瘰，腫而且癢，游行無定，手十指、足十趾、兩手掌、兩足心無處不到，用力搔之，微出紫血，結痂堅黑，痕如痘疤，至秋杪始痊。癢時以鹽鹵洗之，內服銀花、綠豆、生苡仁湯，戒口腹者八閱月。嘻，酒之為害如此！深愧悟之不早，從此一滴不敢沾唇。憶二十年前海豐張雨農司馬招游東甌，臨行妹嘗戒余勿飲酒，佩不敢忘，故向無酒病。年來自問衰頹，稍爾放溢，遂釀此恙，幸而資格尚淺，藥治未誤，不致延成錮疾。蓋天性不飲者，雖少飲亦能為患也。詳錄之，以為世鑒。余妹天性孝友，又極賢明，幼佐先慈操井臼、理家務，有北宮嬰兒之志，余強之適金氏，十載而嫠。余深悔之，附錄以志余過。</p>
<p>余襁褓時患瀉經年，迨三歲種痘，而痘科不知其天花已將出也，復以苗助之，遂及於險。先慈抱而膝行於床者五晝夜，賴任六嘉先生救全，因而體氣甚弱，童年畏勞，稍動即鼻衄，故恆靜坐。十二歲夏間患溫甚劇，父母深憂之，病中見諸神將相謂曰：此一路福星也。遂醒而汗出以瘳。失怙後遠游於婺，遵母氏之訓，諸凡謹慎，弱冠後衄病始痊。隆冬可不挾纊，但略犯生冷即便瀉，偶食炙爆則咽痛。己丑受室。甲午舉家患疫，悉余治愈。既而自病甚危，夢一淡妝中年婦人，持合貯紅藥一丸，以藥納余口中而去，乃大汗而寤，口中尚有藥香，病即已。復因作勞太早，倏然暈去，余妹甫十七歲，泣禱於天，欲　股以救，而余已蘇，妹因卒嚇遂吐血。</p>
<p>至今思之，愧無以報也。嗣後冬始衣絮。壬寅病　，熱盛時夢日月並麗於天，而有帶下垂，余手挽兩帶而撼之，日月皆動，遂驚醒，出汗而愈。丙午酷熱，而酬應甚繁，始患滿額暑瘍，續患痢，又患瘧，熱時輒夢御風而行，告愈之時凌虛上至霄漢，忽墜淵一浴，汗出如涌而蘇。丁未續娶。己酉夏，錢塘沈悅亭茂才邀視陳茂才疫證，勢已垂危。余初不知其兼患霉瘡也，略不經意，吸其穢毒，歸而即病。雖服故孝子張君養之之藥而愈，時夢身化異類，遍體鱗甲，游泳深淵，騰云而上，適雨聲如注而覺，汗如沐雨，而天雨竟數日不止，江浙因以成災，亦奇矣哉。此後始衣帛。乙卯挈眷回籍。丙辰秋杪，病於省寓。十月初六夜，夢法華山備冠服、輿從，迎余赴職，余即忻然冠帶而去，出錢塘門，過昭慶寺，見老少婦女數百人持香攔阻，因停輿，巳而東岳傳令送歸，余遂返寓，甫到門，一跌而寤。此夢則更奇也，究不知後來何如？嗟乎，幸而免者屢矣。附錄於此，以存夢境。</p>
