<header><h1>急救便方</h1></header>
<dl class="元資料" data-type="book" hidden></dl>
<h2>救自縊良方</h2>
<p>凡自縊高懸者，徐徐抱住，不可截斷繩索；但緩緩解下，安被放臥。微微拈正喉嚨，以腳一人以手摩擦其胸臆啟動之，一人摩擦其手足屈伸之。若已僵直，但漸漸強屈之，又按其腹。</p>
<p>一人以腳裹衣，抵其糞門，勿令泄氣。如此一飯時，即氣從口出，呼吸眼開。勿苦勞動，又以官桂湯及粥飲與之，令潤咽喉。更以二人以筆管吹其耳內。若以此救，無不活者。此法自旦至暮，雖己冷可活。自暮至旦，陰氣盛，為難救。心下微溫者，雖一日以上亦可活，百發百中。又法，細辛、皂角等分，研末，如大豆許，吹兩鼻孔。又法，治自縊氣已脫極重者，只灸涌泉穴（在足底心），男左女右，灸三壯即活。又法，取活鵝嘴入口內，鵝鳴應聲即活。</p>
<p>又法，刺雄雞冠血，滴入口中即活，不可將茶水灌。又法，以手緊掩鼻口，勿令通氣，兩時許，氣急即活。又法，以野山羊血二三分研極細末以好酒灌下立愈。</p>
<h3>官桂湯</h3>
<p>廣皮（八分）　厚朴（一錢）　肉桂（五分）　製半夏（一錢）　乾薑（三分）　甘草（三分）</p>
<h2>救溺死</h2>
<p>凡溺死者，先以刀干開溺者口，橫箸一只，令其牙銜之，可使水出。又令一健夫，屈溺人兩足放肩上，以背相貼，倒駝而行，令其水出即活。一法，先取燥土或壁土置地上，將溺者仰臥於上，更以土覆之，只露口眼，自然水氣吸入土中，其人即醒。仍急用竹管各於口耳鼻臍糞門內，更迭吹之，令上下相通即醒。又方，用半夏末搐其鼻。又法，皂角末，綿裹塞糞門，須臾出水即活。又法，炒熱沙敷死人面，上下著沙，只留退場門眼耳鼻。沙濕冷又換，數易即蘇。又法，醋半盞灌鼻中。又法，用雄雞冠血滴入口鼻內。又法，倒懸以好酒灌鼻中及下部，又倒懸去濕衣並去臍中垢，令二人以筆管吹其耳，方用艾灸其臍數壯即活。一法，取梯乘其人倒掛，用鹽塞鼻填滿，鹽化即醒，並將鹽堆臍上。又法，以鴨血灌之即活。又法，撈起時急急將口撬（音轎）開，橫銜箸一只，使可出水；以竹管吹其兩耳，碾生半夏吹其鼻孔，以皂角末置管中，吹其穀道。如系夏月，將溺人肚皮橫覆牛背之上，兩邊使人扶住，牽牛緩緩行走，腹中之水，自然從口中並大小便流出。再用生薑湯化蘇合丸灌之，或單用薑湯灌之亦可。若無牛，以活人覆臥弓腰，令溺人如前將肚腹橫覆於活人身上，令活人動搖，水亦可出。若一時無牛，活人又不肯拯救，則用鍋一口，將溺人覆於鍋上亦可。如系冬月，急將濕衣解去，為之更換，一面炒鹽用布包熨臍，一面濃鋪被褥，取灶內不著草灰多多鋪於被褥之上，令溺人覆臥於上，臍下墊以棉枕一個，仍以草灰將渾身濃蓋之，灰上再加被褥。（不可撬口後宜略飲粥湯。）又法，以酒壇一個，紙片一把，燒放壇內，急以壇口覆臍上，冷再燒紙片放壇內，覆擔身上，將尸微微頃倒之，（以箸放溺人牙內尤妙），令其腹內水流出。若水往外流，即有生機。一面用即可得生。</p>
<h2>救凍死</h2>
<p>凡凍死但胸前有微溫者，（冬月落水即時撈起，吸水不多有微氣者，脫去濕衣隨解活人熱衣包暖，余與救凍死同。）用米炒熱囊盛熨心上，冷即換之，或炒灶灰熨其心亦可。候目開氣回後，以溫酒或薑湯及粥飲，稍稍灌之。若先將火烘必死，（救時倘微笑急為掩其口鼻，如用生薑連皮搗碎，陳皮（銼細）各一兩，水三碗，煎一碗半，溫服。又法，用氈或　荐卷之，以索系定，放在平穩處，令二人對踏，輕輕滾轉往來，如　氈法，俟四肢溫即活。</p>
<h2>救五絕</h2>
<h3>中惡卒死</h3>
<p>（或先病或睡臥間忽然而絕皆是中惡也。夜間原無燈者，不可用火照）。</p>
<p>急取鴨血熱灌下喉間即活。又用蒜頭搗汁灌入鼻中即活，或韭菜汁亦可。一方用皂角末吹其鼻孔，或生半夏末亦可。又法，視上唇沿有如粟米粒大小泡，以針刺破。又方，用羊屎燒煙熏鼻中。又法，棉浸好醋半盞，手按令汁入鼻中及捉其兩手，勿令驚，須臾即活。又方，用生菖蒲研汁一盞灌之。</p>
<h3>中惡驚悶</h3>
<p>用雄雞冠血滴口，塗面，吹鼻，即蘇。</p>
<h3>邪魅浸人</h3>
<p>用鱉甲同蒼朮焚之，即絕。</p>
<h3>救驚死</h3>
<p>以好酒一二杯灌之，即活。</p>
<h3>救壓死及墜跌死</h3>
<p>凡壓死及墜跌死心頭溫者，急扶坐起，將手提其發，用半夏末吹入鼻內少蘇。以生薑汁同菜油調勻灌之，次取散血藥服，如無藥以小便灌之。一方取向東桃柳枝各七寸，煎湯灌下。</p>
<h3>救魘死</h3>
<p>凡中惡魘死者，不得近前急叫，但吹其面，不醒即咬腳跟及拇指，頻呼其名，灌以薑湯，必活。一法略移動臥處徐徐喚之，原有燈者存之，如無燈者不可用燈照。又方，以皂角末如大豆許，吹兩鼻內，得嚏即醒。又方，研韭菜汁灌鼻中，（冬月用根，）亦可得嚏。一法，用筆管吹兩耳及取病患頭發十四根，拈繩刺其耳內。又鹽開水一杯加薑汁兩匙灌之。又法，用艾灸兩足大拇趾生毛處，三壯或七壯。</p>
<h3>總治卒死三方</h3>
<p>凡溺死，縊死，魘死，急用韭菜搗汁灌鼻中，得皂角末、麝香同灌更快捷。</p>
<p>凡五絕，皆以生半夏為末，冷水為丸如豆大納鼻中即愈，心溫者一日可治。又於人中穴及兩足大趾甲離肉一線各灸三壯。</p>
<p>凡卒死，以生半夏吹入鼻中，又治產後暈死神效。</p>
<p>凡卒暴惡死，或縊死，或奄忽死，心頭微溫者，蔥心黃莖，男左女右，入鼻孔三四寸，鼻目出血者，有生機也。凡人涎潮於心，卒然倒地，急扶入暖室正坐，用火炭沃醋氣衝入鼻內，即蘇。或搗韭菜汁入喉中亦妙。</p>
<h3>中風中暑中毒霍亂中各症俱詳內科</h3>
<p>凡中風、中暑、中毒、中惡、干霍亂，一切速暴之症，以生薑自然汁和童便服立愈。（暑天中　死，切勿飲冷水，急取灶間灰或道上熱土，壅其臍間一窩，淋以熱湯或溺，立愈。</p>
<h2>救諸傷</h2>
<h3>跌打損傷秘方</h3>
<p>雖重傷頻死，但有氣者，灌之可蘇。其方或於重陽日，或於十一月采野菊連枝葉陰乾。</p>
<p>每用菊花一兩加童便無灰酒各一碗，同煎熱服，神效。若已氣絕不能言者，急用韭菜汁和童便一盞灌之亦可。</p>
<h3>治跌打損傷昏迷不省人事神效方</h3>
<p>蘇木、白麻皮、細木耳，以上各二錢，俱方瓦上焙焦，木耳更要焦為妙，共為末，黃酒同黑糖調服，服後將酒飲醉，避風處睡一宿，即愈。</p>
<h3>跌打及牆壁壓傷驗方</h3>
<p>川麻（一分）　木香（二分）　紅花（三分）　甘草（四分）</p>
<p>共研末，黃酒送下，藥均生用。</p>
<h3>凡傷磕損及爛入寸許者</h3>
<p>千年鍛石、輕粉、血竭、白蠟，研末摻之，外以隨便膏藥蓋上立愈。如配藥不拘多少各等分。</p>
<h3>金瘡或磕損折傷血出不止疼痛難忍</h3>
<p>蔥白、砂糖等分，研為泥封日，其痛立止。</p>
<h3>金刃傷</h3>
<p>用龍眼核剝淨外面光皮，只用其仁，搗研極細末，填敷傷口，即愈。</p>
<h3>治閃跌挫痛並風寒襲人經絡舉動不便</h3>
<p>梔子（七枚）　杏仁（七粒），共研為末，入雞蛋清一個，量加燒酒、麥面，打成稠糊敷患處，隔宿撥出青藍色即愈。</p>
<h3>救殺傷未破膜方</h3>
<p>凡金瘡及折傷，不可飲冷水，又忌嗔怒及大聲動作勞力。</p>
<p>凡殺傷不透膜者，用乳香、沒藥各一塊，如皂角子大，研爛以小便半盞、好酒半盞同煎，通口服，然後以花蕊石散敷傷口上立止。或用烏賊骨為末，敷之亦妙。</p>
<h3>七厘散方</h3>
<p>治跌打損傷，不論金刃他物，傷至骨斷筋折血流不止者，並皆治之。為金瘡第一方，古之七厘今之三分，驗傷者隨時帶用，甚便。</p>
<p>上朱砂（用水飛淨，一錢二分）　真麝香（一分二厘）　冰片（一分二厘）　乳香（去油，一分）</p>
<p>以上各藥，選黃道吉日，端節日午時尤好，共為細末，瓷瓶收貯，黃蠟封口，每服七粒，燒酒或黃酒衝下。傷處用藥七八分調敷極效，如傷重多調些，血多亦加敷干藥末。如金刃傷重，或食嗓割斷，用雞皮急為包裹，用些藥末干摻，定痛止血，立時見效。（並治一切無名腫毒，亦用前法，量瘡之大小，調敷神效。孕婦則可敷不可服。）</p>
<h3>刀械殺傷氣尚未絕</h3>
<p>凡金瘡敷藥後須避風濕，亦忌水洗，如要換藥，須濃煎湯避風洗之再上藥。</p>
<p>急用蔥白，熱鍋內炒熱，遍敷傷處，繼而呻吟，易蔥再敷，俟蘇定，用三七研末，以津（即口水也）調敷，立愈。</p>
<h3>刀傷跌打傷血出不止</h3>
<p>（凡金瘡諸傷暈絕者，急用熱尿多灌即蘇，童尿尤好。）</p>
<p>用紫藤香（即降香之佳者）瓷瓦鐮刮下，石碾碾細，（凡此皆忌銅鐵之故，）敷之血立止，又無瘢痕。又刃傷痛不可止，用好雞骨灰擲地上鏗然有聲者與松香明透者等分，捶成一塊，再多用韭菜汁拌入陰乾，如此拌捶三四遍後，為細末收貯，上巳、端午、七夕，或黃道吉日制就，敷患處完好如常。血流不止，用千年鍛石研細末敷之，立效。又韭菜同陳鍛石搗成餅，沾藕一枝，去節連皮搗爛，掩上即止血。又松香和生半夏為末，敷之亦效。又鍛石（略陳者亦可，用六兩，和大黃一兩，）同炒至桃花色，去大黃，再篩用之尤妙。或用干面粉和白糖撒傷處，亦效。又方，真降香（切片火上炙去油，）荔枝核、血竭等分，為細末，敷患處立效，雖斷指亦能續。又方，三七末、海螵蛸（去硬殼）、龍眼核（剝去外光皮，）各研末，敷之俱效。</p>
<h3>金瘡腸出</h3>
<p>（用口噙新吸水忽　其面，令寒噤即入腸，入後用麻繩縫好，用七厘散或花用小麥五升，水九升煮至四升，綿布濾淨汁，待極冷令病患臥席上，一人含汁　其瘡上並噴其背，則腸暫入。　時勿令病患知及多人在旁言語。如未入，抬席四角輕搖則自入。</p>
<p>入者，當用麻油潤線縫緊，（或用麻線，或桑白皮尖茸為線，麻油潤之。不可縫外重皮，皮開摻藥生肉，）仍以潤帛扎束，慎勿驚動，使瘡口復迸開，仍服芎歸湯或七厘散亦好。總勿令大小便秘澀為要。</p>
<h3>金瘡磕損折傷血出痛甚</h3>
<p>用蔥白、砂糖等分研封之，又無疤痕。又方，川貝母一錢，去心，杏仁去皮尖七粒，同嚼掩患處，一日一換。又方，魚膠一錢，融化封之，另以酒服一錢，皆可止痛愈。</p>
<h3>刀傷急治方</h3>
<p>用柿餅搗爛塗之，血止自合。</p>
<h3>打傷方</h3>
<p>用白蠟一兩、藤黃三錢，入麻油熔化，塗傷處立愈。此方止痛止血及湯火傷皆神效。</p>
<h3>撲打猝死（凡五絕及撲打猝死等皆須心頭尚溫，雖經日亦可救。）</h3>
<p>先將死人盤屈在地上，如僧打坐狀，令一人將死人頭發控放低，用生半夏末吹在鼻內，如活以生薑自然汁灌之，再用干荷葉燒灰，熱小便調下三錢，日進三服自愈。打撲傷腕折有瘀血作痛，取麻根並葉搗取汁飲，無則干麻煮汁飲亦可。又稻稈燒灰，以酒糟淋灰取汁，乘溫淋洗痛處，立效。又酒糟和醋滓，蒸溫熨之，立愈。又芥子和生薑研，微暖塗貼患處，即效。暈在地者，用血管鵝毛　存性一錢，乳香、沒藥、百草霜各一錢，共為末，老酒調灌。</p>
<h3>救跌壓重傷</h3>
<p>（不可多人環繞、嘈雜，致令傷者驚魂不復。）</p>
<p>傷重者，口耳出血，一時昏暈，（若面色尚有生氣，身體尚綿軟皆可救，）急令親人扶而呼手用（一兩錢），山楂（搗碎，數傷重者加倍。）用急流水二大碗，在透入腹，乘熱用小鐘灌之。如不受，少停再灌勿令泄氣不救。俟腹中動而有聲，上下往來數毒已解半，方可令睡。如前劑再服兩三劑，凡卒暴墮　築倒及鬼魘死，若肉未冷，急以酒調蘇合香丸灌入口。若下喉去可活，或先飲熱童便亦可。</p>
<h3>又雞鳴散</h3>
<p>（治打撲傷瘀血凝積煩悶者，）大黃（酒蒸，五錢，）歸尾（三錢，）桃仁（搗，酒煎雞鳴時服之，次日下瘀血即愈（並治折傷。）</p>
<h3>金瘡傷筋斷</h3>
<p>旋覆花，取根搗汁滴瘡中，渣封瘡口，神妙。</p>
<h3>接指</h3>
<p>真蘇木，為極細末，摻於斷指間接定，外用蠶繭包縛牢固，數日即如故。</p>
<h3>接一切骨折</h3>
<p>用公牛角（一個，火上炙，干一層刮下一層，）榆樹皮白裹楊梅葉、黃米面（蕎面亦可。</p>
<p>以上薄木色為度，捆住勿（俱用</p>
<h3>斷筋損骨</h3>
<p>鮮生地搗取汁好酒和服，日二三次妙。又搗爛蒸熟封傷處二日，筋骨連續。又方，糯米（一升，）皂角切碎（半斤），銅錢（百個，）同炒至焦黑，去錢，上為末，熱酒調膏貼患處神效研，溶調敷錢效。</p>
<h3>刀斧傷</h3>
<p>（切不可見水）</p>
<p>用生半夏末帶血敷上，立止痛，能收口生肌。又熟艾拓金散，止血止痛效。又用松香（明透嫩者）、堅實細炭等分，研極細末，絹篩篩過入瓶，遇患敷之神效。又桑葉為末干糝之</p>
<h3>止血方</h3>
<p>凡刀斧傷或瘡口出血不止者，將水調泥（要干腳泥）敷出血處四邊。若傷頭面敷頸周遭，傷又石榴花和鍛石，（略陳者可，）為搗末糝之，血便止。</p>
<h3>人咬傷</h3>
<p>用熱尿洗出牙黃瘀血，以蟾酥丸塗孔中，或嚼生白果塗之。又先以童便洗齒垢淨，隨用生栗子嚼爛敷之（並治馬咬傷。）人咬傷成瘡，用龜板或鱉甲燒灰，油調敷。</p>
<h3>咬指傷</h3>
<p>急用人尿入瓶，將指浸之，一夕即愈。如爛，以克蛇烏龜殼灰敷之。</p>
<h3>踢傷</h3>
<p>冬青葉同醋煮數沸，略滴麻油少許在內，取葉換貼自好。</p>
<h3>下蠶室傷不和</h3>
<p>取所割勢，火　為末，酒調敷，不數日即愈。</p>
<h3>救急治破傷風</h3>
<p>鴿糞（尖者，炒，一錢，）白面（炒，一兩，）麻（不拘分兩）炒存性，以上三味為末。</p>
<p>如遇香油炒黃服，汗出</p>
<h3>治打撲刃破傷風</h3>
<p>（並蛇、犬、毒物所傷）</p>
<p>蟬蛻為末，蔥涎調敷破傷處，去惡水即愈。或取竹瀝，灌二三升，即效。又方，天南星（切開湯泡七次，如急要只略泡，用濕紙裹煨熱，）防風等分，合為末，每服二錢，溫酒調敷尚溫傾出洗蠟（五錢）</p>
<p>之，汗出立愈，百日血流注紫黑，用大黃末、生薑汁調敷立消。</p>
<h3>治抓破面上皮</h3>
<p>用生薑自然汁調輕粉末敷之，無疤痕。（人身偶然皮破出血，用本人鼻涕搽之，可止痛生肌。）</p>
<p>墜車落馬筋骨疼痛不止，用玄胡索末，好酒調敷二錢，日進二次效。</p>
<p>閃拗手足，用生薑蔥白同搗爛和面炒，乘熱敷之，或活蟹打爛敷之亦妙。</p>
<p>閃腳踝作痛並治夾棍瘡，用爛稻草炒灰，童便拌作餅遏痛處。又方，綠豆炒熱以綢包裹遏之，立效。</p>
<p>手足刺，惡木刺及狐尿刺腫痛，用蒲公英摘取白汁，多塗立愈。</p>
<h3>杖傷</h3>
<p>有瘀血壅腫者，用磁針先刺出惡血，再用黃柏、大黃為末，生地汁調貼之。</p>
<p>又大黃末和童便調敷亦效。</p>
<p>杖後即飲溫熱童便一碗，（對熱酒一盅更佳，）以免血攻心。再用熱豆腐鋪傷處，其熱如蒸者者）</p>
<h3>夾棍傷</h3>
<p>急用熱童便一盆浸足，如冷燒紅磚淬之即熱，直浸至童便面上浮起白油，其傷盡出矣，再用肥皂搗如泥，入雞子清和勻掩患處，以草紙裹足縛緊，一夜不可動，即效。內服藥末用人中白（　，二兩），自然銅（　，五錢，）乳香（箸炙二錢，）沒藥（二錢，）牛膝（三錢，）</p>
<p>木耳兩塊壓去油，以後制</p>
<h3>跌打損傷效方</h3>
<p>撲壓跌打，從高墜下及竹木所磕，落馬覆車者，皆瘀血凝滯。大小便通者輕，不通者重以淡豆豉一合，煎湯飲之，或用生薑自然汁和麻油溫服之，再將淨土五升蒸熱以舊布重裹作兩包，更換熨之，不可太熱。若骨節打折離脫，搗生蟹極爛，用淡酒沖服，任量飲之，以蟹渣敷患處，或以大蛤蟆生搗如泥敷患處，縛定其骨自合。又方，用地鱉蟲（十個，酒蚯蚓（十條，焙乾，）自然銅（二錢，醋　，）骨碎補（三錢，）乳香（五錢）為末，加蘇木（</p>
<h3>抓破腎囊卵丸脫落</h3>
<p>（懸掛末斷）</p>
<p>教人慢慢托上，多取壁錢敷貼患處，日漸即安，其囊如故。</p>
<h3>跌破出血</h3>
<p>急忙無藥，即用干的煙末一撮敷患處，扎好即止痛，易完口，莫透風沾水，香灰切不可用，至囑。又方，掘牆縫中鍛石，搓末敷效。</p>
<h3>中斷耳鼻方</h3>
<p>用油發灰，乘急以所落耳鼻，蘸發灰綴定，以軟帛縛定，神效，外搽七厘散尤妥。</p>
<h3>穿斷舌心血出不止</h3>
<p>取米醋以雞羽作刷，掃斷處，其血立止。仍用蒲黃末（二錢，）杏仁（去皮，二錢，）硼砂</p>
<h3>箭鏃傷</h3>
<p>用陳腌肉去皮，取紅活中之肥者，細切銼濃，將象牙末及人爪甲共研極細，拌入肉內勻搗合一，濃敷箭鏃周遭，其鏃自迸脫。又方，螻蛄取汁，頻塗五七次，或用鼠腦塗之亦可。</p>
<p>又好磁石著其上俱自出，又頭上黑虱及人牙齒同研塗之即出。</p>
<h3>治箭鏃竹木器傷方</h3>
<p>（用艾絨攤成餅子，將火硝研細末鋪上，再用大蜣螂搗成末鋪火硝上，包傷處一日夜即出。）</p>
<h3>竹木刺入肉</h3>
<p>蜣螂研末，敷之即出。又方，蓖麻仁槌敷，極效。又方，用象牙磋末，水調敷之即出，（治魚刺入肉亦可。）又牛膝嚼敷亦可，又土狗搗爛，敷之俱效。</p>
<h3>箭鏃及鉛彈傷方</h3>
<p>干莧菜搗爛和砂糖塗之皆可出。</p>
<p>箭鏃及針物不出，或在咽喉，用螻蛄即濕地上夜鳴拉呼腦子，搗如泥敷上，不過三五次即出。</p>
<h3>針刺入肉</h3>
<p>陳臘肉連皮並肥者，貼之自出。又象牙屑水調塗其上亦出，（余同箭鏃傷。）又螻蛄腦同硫磺末研敷，覺癢自出。</p>
<h3>治疤方</h3>
<p>橄欖核磨汁塗之，久而無痕。</p>
<p>竹刺入喉，用銅錢燒紅，酒淬鐘乘熱飲之，自效。</p>
<h3>吞金</h3>
<p>凡誤吞五金，以飴糖半斤啖之。吞銀用韭菜一把，入滾水略煮，不切斷，淡食之。少刻菜包銀嘔出或從大便下，吞銅錢以羊脛骨燒灰研末，米飲下三錢立效。（吞金亦用羊脛骨米飲下三錢。）吞錢哽喉，取雞冠血入喉內。用銅盆盛至面前，將冷水向小兒一噴，錢出吐落盆中，吞銅多食荸薺（即慈菇）自化。吞鐵物將木炭皮及鐵鐘研極細末，沙糖和丸。一云一錢升麻（分，研末</p>
<h3>吞針</h3>
<p>取田雞眼烏珠一對合水囫圇吞下，其針兩頭穿珠，立刻吐出。冬天無田雞，在桑樹底下掘深三尺自有。又小兒吞針，將半生熟出芽蠶豆搗爛，用韭菜汁為丸吞下。又凡吞針，用鹽蛋一個，韭菜一把，略煮不切食之，即裹針從大便出。</p>
<h3>喉中為諸物所哽</h3>
<p>用象牙磨水飲之即效。諸骨哽，用野苧麻根搗爛為丸，如梧子大，某骨哽即為某物熬湯如雞骨哽即用雞骨熬湯送下，即效。</p>
<h3>諸骨哽</h3>
<p>威靈仙二錢，用沙糖和酒煎，口服立下。又用犬吊其一足，取其涎咽下亦可。又方，鳳仙花子二十粒白湯送下，或用玉簪花亦妙。俱不可著齒。恐其損落。魚骨卡喉，用椿樹皮煎水，噙含片時服下，其刺如綿或下或出。又用橄欖並核打破煎服亦妙，或取貓涎咽亦下。</p>
<h3>吞發繞喉</h3>
<p>（附吞竹葉木屑方）</p>
<p>將亂髮燒灰，開水調下即愈。又吞竹葉卡喉，刮取牛口涎，開水對服即下。吞木屑以鐵斧磨水灌下妙。</p>
<h2>傷眼耳</h2>
<h3>打傷眼睛</h3>
<p>（如突出者急要揉進）</p>
<p>用初宰鮮豬肉一濃片，將當歸，赤石脂末少許糝肉上貼之，去毒血即愈。</p>
<h3>煙渣入目</h3>
<p>（凡誤犯者，切勿將湯洗，愈洗愈痛，恐致廢瞎。）</p>
<p>用亂頭發或棕纓緩緩揉之，即愈。</p>
<h3>打鐵時被燃鐵屎暴入目內</h3>
<p>用真磁石吸之，自愈。</p>
<h3>魚刺卡方法</h3>
<p>尺KT　，同席有人卡者，隨以手默畫上面尺KT　符，照式不鉤，畫於桌上畢，問卡者曰：「好</p>
<h3>水銀入耳</h3>
<p>以黃金枕耳邊自出。若水銀入肉，令人筋攣，以金物熨之，水銀乃出蝕金，其病即瘥。</p>
<h2>中毒箭</h2>
<p>以犀角刺瘡中立愈。（又方，急飲麻油一碗，以人糞塗傷處。又方，飲藍靛汁一碗，並塗傷處均效。）</p>
<h2>鳥槍傷</h2>
<p>凡槍子打入皮肉，用生南瓜切片，貼患處即出。又方，用蜂蜜半斤煎滾，入好頭燒酒一斤（好黃酒亦可），隨量熱服，其子當黏衣被上出。鐵子不出，用陳肥臘肉蘸真磁石末，貼之自數十</p>
<h2>湯火傷</h2>
<p>（最忌浸冷水中，防火毒攻心，並勿服寒冷之藥）</p>
<p>平日取老黃瓜不拘多少，瓷瓶貯之，藏暗濕處自爛為水，將此水抹患處立刻止痛，且不起泡。又以人乳拌鉛粉，雞毛調敷患處，專治初經湯火者。又以白蘞、大黃等分為末，麻油調敷，神效。如藥不便，先服童便以護其心，使火不能內攻，隨取大黃末，用桐油、香油均可，調敷，即垂危者，皆保無虞。又用雞蛋清。柏葉汁、麻油調勻，敷患處即愈。又方，槐花子、生大黃、地榆、芙蓉粉等分為末，雞子白加麻油二匙調敷。</p>
<h3>治湯火傷急便方</h3>
<p>（切勿以冷水冷物井下泥及溺泥激之，致令火毒攻心，當先以熱童便凡湯火傷，先以鹽末擦傷處，護肉不壞，然後用藥敷之。急用菜油，擂門限下人，足多踏之土，搽上即愈，並不起泡。但宜及時趕搽，多搽數遍更好，太緩則起泡，方力多減。（無菜油則麻油茶油亦可。）又方，鰣魚蒸下油，以瓦瓶盛埋土中，取塗湯火傷最效。又熱小便淋細香搗油糝末切嚼爛茶葉湯火傷，凡湯潑火燒，急覓水中大蚌，置瓷盆中，將其口向上，無人處用冰片三分，真當門麝三分，為細末。俟大蚌口自開時以匙挑冰麝一二分，傾入蚌口內，其口自合。而蚌內之肉悉化為漿。然後再入冰片少許，用雞翎黏掃傷處，先從四邊圍層層掃入，每日用兩三枚，痛處自減，及其火氣已退，將用下蚌殼燒灰存性，研細末入冰麝少許，自邊圍掃。如無蚌處，用冰片從四面摩起漸及於中，亦可漸愈。又方，用多年陳醬寬寬塗之，但愈後自有黑。又方，著人嚼生芝麻塗，隨干止痛，如患處寬大，令眾人共嚼塗之即愈。又方，舊葫蘆瓢燒灰塗之，（或以麻油調敷亦可。）</p>
<h3>救火滅良方</h3>
<p>左手捏三山訣，持雞蛋一個，右手捏劍訣，向蛋上將咒語，默念空寫七遍，即投之火中自滅。一個不靈，七個即滅。咒語曰，敷施發潤天尊。</p>
<h3>火藥燒湯火傷極重諸藥不效者</h3>
<p>牛口刺根搗汁，用雞翎刷患處即愈，此仙方也。</p>
<h3>煙熏欲死者</h3>
<p>用生白蘿卜嚼汁咽之立爽。</p>
<h2>諸物咬傷</h2>
<h3>毒蛇咬傷</h3>
<p>用蒲公英搗爛，貼上即愈。又方，用雞蛋敲破蛋頭合在蛇咬處。蛋變黑色，再用一蛋合之。俟蛋內黃白不甚黑，再用一個合之，即愈。（兼治蜈蚣蠍子咬傷。）又方，將夜壺內尿垢用津唾研爛，搽之立愈。又方，以大藍汁一碗，雄黃末二錢，調勻點在傷處，並令徐徐服其汁醋中錢五方干無蛇毒口敷之卻以苦苣</p>
<h3>上虺蛇咬</h3>
<p>急拔去頭心紅發一根，用生何首烏搗汁，沖酒服之，其渣敷患處，痛立止。</p>
<p>凡蛇蠍蜈蚣咬傷，用五靈脂研塗傷處，立愈。</p>
<h3>蜘蛛咬傷</h3>
<p>（腹大如孕，一身生絲。）</p>
<p>用羊乳飲之，幾日即平。遍身成瘡者，取好酒飲令醉，須臾，蟲於肉中如小粟自出。又方，藍汁一碗，細飲其汁，並點咬處，即效。又雞冠血塗之，亦效，桑白皮搗汁塗，立愈。</p>
<p>或蔓荊子油、薤白汁，各塗咬處，俱效。</p>
<h3>蛇遺水毒</h3>
<p>誤飲腹中必生蛇，水調雄黃服，即下。</p>
<h3>虎咬傷</h3>
<p>先飲清油一碗，取白礬為末納傷口。又砂糖水調，服之一二碗，並塗傷處。又生葛汁飲之，及洗瘡口。又飲酒令大醉，當吐出毒瓦斯，良。又少飲麻油亦效。又方，生薑、白礬搗敷，仍飲薑汁解毒，效。</p>
<h3>治蠍刺傷</h3>
<p>（蠍有雌雄。雄者，痛在一處，井泥敷之。雌者，痛牽諸處，取瓦檐溝下濕土敷之。無雨時，則取新水從瓦土淋下，取濕泥敷之。）</p>
<p>用蝸牛角搗爛敷之，極妙。蝸角即扁身天螺獅。蠍咬，用銀朱雞蛋清調敷。又方，生半夏、白礬等分，和醋敷傷處即愈。又膽礬搽之，立消。蠍螫痛甚，取冷水漬之即不痛，水微溫復痛，即易新水漬之。又薄荷細嚼，敷之亦瘥。</p>
<h3>癲狗咬傷</h3>
<p>用野菊花研細，酒調服盡醉，效。無花則用根葉四兩，煎酒二碗，水二碗，七分服。一方用人糞塗於患處，新糞尤好，諸藥不及此。又法，急至溪河，將傷處洗，擠血淨盡，多飲生薑汁則毒可解。仍封扎傷口，勿使受風。又方，用防風獨莖者一兩，天南星一兩（泡七次，）晒乾共為末，每服一錢，白湯送下。半日再進一服，汗下即愈。一方：口含漿水洗淨，用天南星（切片，淡薑水炒，二錢，）真防風（二錢，）共為末，干貼傷處，效，不更發。又常飲韭用米研末盡乃止。</p>
<p>愈。</p>
<h3>瘋犬咬傷日久復發</h3>
<p>用雄黃（明者，五錢，）真麝香（五分，）共為末，酒調敷二錢，服後必使得睡，切勿驚動</p>
<h3>獅犬傷</h3>
<p>（與上條略同）</p>
<p>急於無風處吮出惡血，無血則以針刺出血，小便洗淨，香油調雄黃末，少加麝香敷之。</p>
<p>如倉卒無藥，以百草霜、麻油調敷，或蚯蚓糞濃敷之，皆能急救。散毒法：生麻油研豆豉為膏，丸如彈子大，常揩拭所咬處，卻掐開看豉丸內若有犬毛，此毒瓦斯已出，另換一丸揩至無茸毛乃痊可。</p>
<h3>狗咬成瘡</h3>
<p>用白果去殼，嚼細塗之，即效。</p>
<h3>鼠咬傷</h3>
<p>用貓毛燒存性，入麝香少許略研，香油調塗患處，效。</p>
<h3>蜈蚣咬傷</h3>
<p>用雄黃末醋調塗之。又白礬、生薑、半夏等分研末，醋調塗之。又桑白皮搗汁塗傷口，或獨頭蒜研貼之。又蝸牛取汁滴入咬口，又烏雞冠血及屎塗之。又人頭垢塗之，不痛不癢。</p>
<p>又青油點紙燃取煙熏之，又鹽湯漬之，又黃蠟火上熔汁，滴患處，俱效。又法，用生蜘蛛放在傷處，蜘蛛自會向傷口吸毒，須臾，毒盡即將蜘蛛放在水中，可救蜘蛛。</p>
<h3>雜色諸蟲傷</h3>
<p>用青黛、雄黃等分為末，新汲水調服二錢，又外敷之。又大紙燃蘸香油，點火吹滅，以煙熏之，即愈。又以麝香塗之，又生雞蛋輕輕敲一孔合傷處，即愈。</p>
<p>蚯蚓傷（中毒腹大，夜聽蚯蚓鳴，用鹽水漬之，或先下鹽湯一杯尤妙。又以鍛石水浸之，又以雞屎或鴨屎敷之，又老茶葉研末，油調敷之。）</p>
<p>蠶咬傷（川芎和醬汁研敷，又苧汁飲之，並塗患處。）</p>
<p>螻蟈傷（用鍛石和醋，塗患處，即愈，神效。）</p>
<p>蝸牛傷（用蓼子取汁，浸傷口，即效。）</p>
<p>壁獍咬人必死（桑枝燒灰，淋取汁，調白礬末，敷傷處即愈。又方，雄黃末磨醋塗之，可愈。）</p>
<h2>救諸毒</h2>
<h3>解砒毒</h3>
<p>（服砒未久，毒在上，宜吐之。若時既久，毒入腹，則不能吐出，須用黑鉛等方下之。</p>
<p>即先吐者，亦宜服鉛水、鴨血等，以盡余毒。）</p>
<p>其症煩躁如狂，心腹絞痛，頭旋欲吐不吐，面色青黑，四肢逆冷，又或悶厥心頭微溫，命在須臾者，用綠豆半升擂去渣，以新汲水調，通口服。又方，炒柏子殼三錢，紅土三錢，同研細末，雞蛋清調服，服後作一寒顫，即愈。重者不過兩服。又方，用真靛花二錢分二服，以井花水濃調服之。又方，用細葉冬青汁頻灌，即解。又方，無花果五錢研末，冷水調下，即活。又楊梅樹皮煎湯，二三盞服之。又方，用黑鉛磨水灌之。又方，毒在腹中，禾稈燒灰，新吸水淋汁濾清，冷服一碗，毒隨利下。又方，生油灌之令吐。又方，熱鴨血灌下立解。又方，用防風四兩煎湯冷凍飲料之即解。又方，桐樹葉搗爛，沖生白酒服之，又用糞清灌之亦解。又方，臘去沫，又打又吹花根搗汁一碗，甘草水煎濃汁</p>
<h3>解斷腸草毒</h3>
<p>（即野葛，一名鉤吻，江西人謂之黃藤根，粵人呼為胡蔓草，又名大葉茶先用鴨蛋三個，將服毒人扶正，撬開牙關，剝開蛋殼，待蛋入胃，裹住毒草，次用豬膏融化溫和灌之一飯碗，後用黃豆半升，同筍雞一只連毛帶腸搗爛，同清水一碗半煮熟，布袋濾去渣取汁灌下，其毒即吐。如不吐，即用芋苗探喉，鵝羽亦可，吐出即愈。其毒在胃者可治，入腸者難治。又方，用蕹菜生搗汁，飲一二茶杯即愈。（冬春用蕹菜子一兩煎服，治胡蔓同。）</p>
<h3>解胡蔓草毒</h3>
<p>（治鉤吻同前）</p>
<p>急將大糞汁灌之可解。或以嫩葉心浸水，涓滴入口，百竅潰血，急用抱卵不出之雞蛋研細和麻油，開口灌之，吐出可救，少遲則難治。（余同上條。）</p>
<h3>解鼠莽草毒</h3>
<p>（可與前兩條同治）</p>
<p>用黑豆取汁服之，可解其毒。又方，用枯蓮房殼帶蒂梗陰乾，　咀一兩半，煎水二三碗，將冷灌之。如無蓮房，用荷葉中心蒂七個，或用藕節七個，煎湯一碗，溫令灌之，毒即解</p>
<h3>解信毒</h3>
<p>（即砒霜未煉過者）</p>
<p>速取梁上燕子窠，用井水三四大碗放桶內，將手攪調，用夏布手巾如榨腐法，篩去泥土、取泥水連灌三四碗，自吐。不吐再灌，吐盡即醒。（余與上條解砒毒同。）</p>
<h3>治一切藥蠱金石毒</h3>
<p>俱用石蟹，以熱水磨服即效。</p>
<h3>服銀黝毒</h3>
<p>以生羊血灌之，吐盡即愈，或黃泥水亦可。</p>
<h3>解鹽鹵毒</h3>
<p>用生豆腐漿灌下，再以鵝翎絞喉數次，令吐即活。又方，急將白糖四兩湯灌下，垂死者即活。又方，用生羊血灌之亦可。又方，將常用搽桌布洗水灌之，使吐即解。又方，用生大黃一兩搗碎，再用豆腐漿同搗數十下，服後瀉數遍，即愈。又方，用黃豆入水搗汁灌之，亦效。</p>
<h3>解巴豆毒</h3>
<p>中巴豆毒痢不止，以大豆一升煮汁飲之可解，或紅豆煮汁亦可，又以冷粥一碗食下亦解。</p>
<p>又方，以芭蕉葉搗自然汁，服之即止。又方，用葛根搗取汁飲之，又以冷水浸兩手足極效忌食熱物。又藍根、沙糖擂爛和水服之。又巴豆畏大黃、黃連、蘆筍、菰筍，各水煎水冷皆能止泄。</p>
<h3>中鳩鳥毒</h3>
<p>用干葛末，每服二錢，井水調下即愈。</p>
<h3>中河毒</h3>
<p>（毒在肝血脂子井眼，又忌煤塵落入鍋釜。）</p>
<p>用橄欖汁或糞汁、蘆根汁俱效，或白茅根搗汁，冷凍飲料亦愈。又方，用白礬研末，白湯調下探吐之。</p>
<h3>馬毒</h3>
<p>（開剝死半馬中毒，遍身生紫　俱潰，叫痛，急服紫金錠，吐泄則愈。）</p>
<p>馬汗入人瘡內，毒瓦斯攻心悶欲絕，燒粟稈灰濃淋作汁，煮熱蘸瘡，於灰汁中出盡白沫即瘥。又用馬齒莧搗敷，並取汁飲之。又以冷水浸瘡數易，飲好酒立愈。驢涎及馬汗入瘡，用柘白礬、黃丹炒等分調貼之。</p>
<h3>中牛馬肉毒</h3>
<p>甘草煮濃汁，飲一二升，或煎酒服，或吐或下。如渴不可飲水，飲之則死。</p>
<h3>食馬肝致毒</h3>
<p>用豬骨灰，或牡鼠屎，或豆豉，或狗屎灰，人頭垢，每一樣水服，俱效。</p>
<h3>食鱉過多或遇毒</h3>
<p>用木香錢半，略研，煎服可解。莧菜與鱉同食，腹生小鱉，用馬尿熱飲一二碗即瘥，白馬尿更妙。凡中魚鱉毒者，飲靛汁即愈，或陳皮湯亦可。</p>
<h3>竹雞斑鳩</h3>
<p>（夏食生半夏，人多食亦中毒。）</p>
<p>用生薑汁飲之，如口噤者，撬齒灌入即活。</p>
<h3>中鉛粉毒</h3>
<p>以麻油調蜂蜜服之，其毒自解，或飴糖亦可。</p>
<h3>中煤炭毒</h3>
<p>（房中置水一盆，並使窗戶有透氣處，則煤炭雖毒不能為害。）</p>
<p>受毒時頭暈而心口作嘔者，即是，急用生蘿卜汁灌之，或生咸菜水飲之，即解。</p>
<h3>食隔夜菜誤受蟲毒</h3>
<p>用生鴨血飲之，再煮熟鴨肉食之，其毒自解。</p>
<h3>蒙汗毒</h3>
<p>多飲涼水即安。</p>
<h3>守宮毒</h3>
<p>（驚蟄至九月，茶水未蓋者，經宿則不可飲，守宮之性見水即淫，余瀝遺誤飲守宮毒水急用地漿水解之。（門限下泥常踏者取數兩，以新汲水攪數遍，澄清飲，可救一二。）</p>
<h3>莨菪毒</h3>
<p>（中此毒則衝心大煩悶，眼生星火，狂亂奔走，時見鬼怪。）</p>
<p>抬磨針水研綠豆汁飲之。又方，甘草、薺　煎汁飲，或藍汁飲下亦可。又犀角磨水飲，又以蟹汁服之，又甘草、黑豆煎湯服。</p>
<h3>艾毒</h3>
<p>（久服艾葉則熱氣衝上，狂躁不禁，眼內生瘡或有血出。）</p>
<p>用甘草、黑豆煎湯服，或藍葉汁、綠豆汁飲之俱可解。</p>
<h3>過食豆腐毒</h3>
<p>（生瘡、噫氣、遺精、白濁，切忌飲酒。）</p>
<p>用蘿卜（或子）煎湯飲之，又杏仁水研取汁飲之。</p>
<h3>多食熱面毒</h3>
<p>用蘿卜汁（無生者用子）水研汁服。又赤小豆末沸水服，即愈。</p>
<h3>川椒毒</h3>
<p>（閉口川椒有毒，人吞之使氣欲絕，或下白沫，身體冷痹。）</p>
<p>誤食閉口椒戟喉氣閉，吃大棗三四枚解之，又飲井水一二升便瘥。又地漿飲之，又濃煎黑豆汁將冷凍飲料之，俱效。</p>
<h3>杏仁毒</h3>
<p>（杏子雙仁有毒，誤服必死。）</p>
<p>藍葉汁飲之，又藍實研取汁飲之，又地漿飲之三碗，又用香油多灌之，俱效。</p>
<h3>解苦杏仁毒</h3>
<p>（炒半生半熟即有毒）</p>
<p>用杏樹皮煎湯飲之，雖迷亂將死者亦可救。</p>
<h3>解斑蝥芫青毒</h3>
<p>用大黑豆汁服之即效（小黑豆亦可。）又方，用肥皂水灌下，再以鵝翎攪喉數次，令吐即得吐</p>
<h3>多食萵苣中毒</h3>
<p>（此菜內加以生薑可制之）</p>
<p>以生薑服之毒可解。</p>
<h3>治菌蕈毒</h3>
<p>（如菌蕈夜中有光者，欲爛無蟲者，煮不熟者，煮的汁照人無影者，上有毛即卷赤色者，皆有毒，中之殺人。）</p>
<p>掘地一穴以冷水攪之令濁，少頃取飲可解。又馬蘭根葉搗汁飲之。又楓樹菌食之笑不止而死，用地漿最妙，人糞次之，或用冬瓜蔓汁解之。救諸菌毒用苦菜、白礬掬新汲水　咽之。</p>
<p>誤食毒蕈，即采生金銀花嚼之可解，治菌毒亦同。又六畜及鵝鴨之類，刺取熱血飲之可解。又油煎甘草冷凍飲料，只多飲香油亦可。中蕈毒吐下不止，用細茶芽（即雀舌茶）為末，新汲</p>
<h3>藜蘆毒</h3>
<p>（人中此毒，吐逆不止）</p>
<p>蔥白汁飲之可解，或雄黃末和水服亦可。又方，香油或溫湯飲。</p>
<h3>苦楝毒</h3>
<p>（中苦楝根毒，瀉不止。）</p>
<p>用冷粥食之可止。</p>
<h3>礬石毒</h3>
<p>用黑豆煎汁飲之可解。</p>
<h3>硫黃毒</h3>
<p>（中者令人心悶）</p>
<p>用豬血或羊血乘熱飲之，俱效。又宿冷豬肉或鴨肉羹冷食之。又方，黑錫煎汁飲，亦效</p>
<h3>水銀毒</h3>
<p>用肥豬肉冷食之。又以豬脂食之，俱效。</p>
<h3>KT砂毒</h3>
<p>用生綠豆研汁一二升，飲之即解。</p>
<h3>大戟毒</h3>
<p>令人泄瀉不禁，煎薺　或搗菖蒲汁飲之。</p>
<h3>野狼毒毒</h3>
<p>杏仁研水和取汁服，或藍葉汁、白蘞末和水服之，俱可解。</p>
<h3>躑躅毒</h3>
<p>梔子煎湯飲，又甘豆湯飲亦可。</p>
<h3>甘遂毒</h3>
<p>黑豆煎汁飲之。</p>
<h3>半夏毒</h3>
<p>生薑汁飲之，又乾薑煮汁服之亦可。</p>
<h3>芫花毒</h3>
<p>柑皮煎汁飲，又甘草或防風煎湯服。</p>
<h3>苦瓠毒</h3>
<p>吐痢不止，以黍　灰汁飲。</p>
<h3>諸石藥毒</h3>
<p>以雁肚服之，又白鴨屎為末和水服。</p>
<h3>多食海菜毒</h3>
<p>腹痛發氣，口吐白沫，以熱醋飲即安。</p>
<h3>燒酒醉死</h3>
<p>（燒酒不可用錫器盛燉及過宿貯，久則飲之殺人。）</p>
<p>用鍋蓋上氣流水灌下半碗即活。又方，以井底泥攤其胸，浸發冷水中，飲以綠豆水可解又諸酒致毒，惟綠豆粉湯可解之。又飲酒中毒經日不醒者，用黑豆一升煮汁，溫服一杯，次即愈。</p>
<h3>解飲饌毒</h3>
<p>凡中飲饌毒不知何物，即煎甘草薺　湯飲之便效。</p>
<h3>解百毒</h3>
<p>用生雞子清調白礬末可吐眾毒，綠豆甘草湯亦解百毒。又法，在上不論何毒，多灌香油探吐即安，毒在下只以芒硝甘草湯利之亦可。又解毒丸：用板藍根四兩，貫眾（去毛，）青黛恍惚十五丸爛嚼，新水送下，兩次即解。</p>
<h3>菜蔬毒</h3>
<p>（食諸菜中毒，發狂煩悶或吐下。）</p>
<p>用葛根濃煎汁服佳。又豬骨燒灰，沖水服良。又多飲香油，又人乳汁或童便飲二升，愈</p>
<h3>郁肉</h3>
<p>（肉盛密器蓋之隔宿，名郁肉有毒。漏脯茅屋漏水沾濕脯，名漏脯，有毒。）</p>
<p>用黑豆濃煎汁飲數升，即解。又多飲人乳汁，又搗韭菜汁服二三升，皆可解。</p>
<h3>雜瓜果毒</h3>
<p>（桂心為末，飯丸綠豆大，用水吞下十數丸，即愈，加以麝香尤妙。）</p>
<h3>瓜毒</h3>
<p>（石首魚炙食數枚，或煮汁服之亦可。）</p>
<p>六畜肉毒（犀角濃磨汁一碗服之，又水浸豆豉取汁數升服亦可。又胡荽子一升煮汁停冷，每服半升，日兩次，又搗生韭菜絞汁飲俱效。）</p>
<h3>食自死六畜毒</h3>
<p>（用黃柏末二三錢，水調服，不解再服。）</p>
<h3>食自死鳥獸肝中毒</h3>
<p>（用人頭垢一錢，煎湯化服。）</p>
<h3>食牛馬肉中毒</h3>
<p>（用蘆根取汁飲一二升，又多飲清酒即解，濁酒亦可。）</p>
<h3>牛馬肝毒</h3>
<p>（用人乳汁飲一二升，立愈。）</p>
<h3>食牛羊肉中毒</h3>
<p>（以甘草汁一二升服之。）</p>
<h3>食狗肉不消</h3>
<p>（用蘆根搗汁飲之，又杏仁一升去皮研，水二升煎，去渣，分三服。）</p>
<h3>食鵝鴨中毒</h3>
<p>（糯米泔飲，或溫酒飲，又秫末水研取汁服一杯。）</p>
<h3>食雉肉中毒吐下</h3>
<p>（用犀角磨濃汁，飲一碗。）</p>
<h3>食中毒箭死鳥獸肉及野鳥肉毒</h3>
<p>（用狸骨燒灰和水服，又黑豆汁或藍汁亦可。）</p>
<h3>食魚中毒</h3>
<p>（飲生冬瓜汁最驗，又濃煮冬瓜汁飲之。）</p>
<h3>食蟹中毒</h3>
<p>（生藕汁、冬瓜汁煮，蒜汁、紫蘇葉或子煮汁飲之，俱效。）</p>
<h3>食鱔中毒</h3>
<p>（以蟹食之即解，或豆豉汁飲之亦可。）</p>
<h3>食魚膾不消</h3>
<p>（食魚腦即消，凡食魚過度，亦食魚腦為妙，又以生薑汁服亦消。）</p>
<h3>多食生膾成癖</h3>
<p>（取水中小石子數十枚燒紅，投五升水內，復取出，燒赤再投，七次即即解。）</p>
<h3>食鱔食鱉毒</h3>
<p>（用豆豉一合，新汲水半碗，研濃飲，頻頻服之，即愈。）</p>
<h3>凡食生肉中毒</h3>
<p>（以地漿飲之可解。）</p>
<h2>物性相反誤食傷人</h2>
<p>甘草與　魚同食殺人。蟹與柿反。黃瓜與花生反。南瓜不可與羊肉同食，犯之立死。豬肉得胡荽爛人臍。羊肝得生椒爛人臟。河豚同鹿肉食殺人。河豚風栗並食有毒。羊肉同膾酪食害人。膾生同酥乳食之變諸蟲。鱉肉與莧菜食之還生鱉。荊花落魚羹即殺人。石膏與蕎麥面同食殺人。服木鱉子啖豬肉殺人。食黃嗓魚犯荊芥殺人。食驢肉亦最忌荊芥。蜜　並食有毒至死者。茅舍漏滴肉上，食之殺人。</p>
<p>獸有歧尾，蟹有獨螯，羊一角，雞四足，鱉三足，白鳥烏首，烏雞白首，白馬青蹄，黑馬白蹄，魚無腸膽，牛肝葉孤，飲瓶花水有毒，瓶浸臘梅尤甚。采草藥夾雜毒物能殺人。</p>
<p>魚昂頭出水二三寸者，有毒殺人。蛇虺涎滴入飲食中殺人。淘積糞坑穢水入口即死。淘古井須防冷毒致死。百足蟲毒殺人。服官粉殺人（即鉛粉。）</p>
<p>曼陀羅鬧陽花釀酒令人狂笑，昏沉不語。</p>
<p>多服仙茅，舌脹大難治，（以小刀刮之，至百十下，有血出乃縮，即用大黃、芒硝煎服二三碗，仍以蒲黃、青黛、黃柏末或冰硼散等藥搽之，可愈。）</p>
<p>老雞過數年有毒（養生家雞老不食，夏不食雞。）</p>
<h2>水毒</h2>
<p>（江河溪澗水初漲時，汲之煮食有毒害人）</p>
<p>用貫眾一二枚放水缸內，以雄黃二錢，明礬二錢入水內，俟澄清方可飲食，缸底泥須去之。</p>
<h2>避蠱毒</h2>
<p>如入蠱鄉飲食，即潛於初下箸時，收藏一塊在手，盡吃不妨。少頃即將所藏一塊潛埋於人行十字路下。即蠱於其家作鬧，蠱主必反來求教。或食時讓主家先動箸，或明問主家云，莫有蠱，以箸築桌而後食，則蠱不能為害。又方，雄黃末少許，洒於酒中，先食大蒜，再食他物，主家見之，即不下蠱。</p>
<h3>中蠱毒</h3>
<p>（如中蠱毒，先以白礬末，令嘗不澀覺味甘，次食生黑豆不腥，乃中蠱也。）</p>
<p>毒在上，則服升麻以吐之；毒在下，則服鬱金以下之。或合升麻鬱金以服之，不吐則下。</p>
<p>又方，濃煎石榴根皮飲之，不下即吐出蟲，皆活。又方：以白礬牙茶搗為末，冷水調飲即又方，用鰻鱺魚干末，空心服之，魚或燒炙令香食之。其魚有五色紋者尤佳。一方，土三錢煎服，又馬兜玲三錢煎服，俱效。又用甘草、白礬為末，清水調服，或吐或下即安方，燕屎三合，熬獨蒜三枚和搗為丸，梧子大，每服三丸，（日三五服，）蠱當隨利下而又胡荽根（即芫荽根）搗汁半升和酒服，蠱立下。又取胡荽子研，水煮取汁，冷服半升日二次瘥後</p>
<h3>金蠶蠱毒</h3>
<p>（驗法用白礬、生豆如前。）</p>
<p>取兩刺　，置病患房中搜擒其蟲。又方，石榴花濃煎汁飲之，吐出活蟲即愈。又　皮燒為末和水服一錢，當吐蟲出即愈。</p>
<h3>送蠱法</h3>
<p>中蠱欲死，取　荷葉，密安病患臥席下，（勿令病者知，）病者呼蠱主姓名，令其收去即安。</p>
<h3>炙蠱毒</h3>
<p>於足小指尖上艾炙三壯良，有物出。飲酒得之，隨酒飯出；肉菜得之，隨肉菜出。即愈。</p>
<p>神效。皆於炙瘡上出。</p>
<h2>挑生毒</h2>
<p>（嶺南人挑毒於飲食中以害人，其候初覺胸腹作痛，次漸攪刺，十日則物則胸痛，在下則腹痛）</p>
<p>在上者，用膽礬末五分，投熱茶內，化毒探吐之。在下者，用鬱金末二錢，米飲調服，當瀉下惡物。</p>
<p>後以四君子湯去甘草調理脾胃。有人脅下腫起，頃刻如碗大，此挑生毒也。五更時以生綠豆試嚼之，覺香甜即是。用升麻研細末，取開水冷定，調服六錢，連服二三次，痛泄中，蔥數莖，根須皆具，腫則消縮，仍服平胃散調補而愈。</p>
<h2>吞鴉片煙毒</h2>
<p>輕則心中發燥，急用活鴨血或鵝血灌之，或醬油或涼水多灌之，吐出鴉片煙即愈。或用白礬、雄黃同研末，清水調灌亦效。若服多毒重，則身冷氣絕，似乎已死。若肢體柔軟，實未死也，乃鴉片性烈醉迷之故。將其人放在潮濕陰地，用筷撬開牙齒，又以竹筷一枝橫放口內，令口常開，時以冷水一杯灌之，有金汁灌之更妙，外以冷水在胸前摩蕩，每日夜十余次，又用冷水一盆，將頭發散放水盆內漂之，三四日後，鴉片之氣退盡即活。（切勿見太陽，若一經日照，便不可救。）但身不僵硬不變色，七日以內毋遽棺斂，曾見以此法救之皆活。又方，用燈油頻灌，吐即愈。（蓋煙膏見油不散。）惟調酒服者難救。</p>
<h2>野芋毒</h2>
<p>野芋自生溪澗間，葉與芋相似，而形差小，誤食之殺人，惟以地漿與糞汁飲之則活。又方：大豆煎濃汁，多溫飲之，甚效。芋種三年不采成□芋，誤食並殺人，治法與上同。</p>
