<header><h1>神仙濟世良方</h1></header>
<dl class="元資料" data-type="book" hidden></dl>
<h2>上卷</h2>
<h3>壽星序</h3>
<p>嘉慶二年，余降乩於陽曲尉之官舍時，鶴等正以神仙濟世良方告成，因請序於余。覽竟濟世驗之費苦力者亦良哉！皆推</p>
<p><u>南極老人漫題。</u></p>
<h3>序曰</h3>
<p>李白雖非才士，但嘉慶元年冬月，鶴亭等三人，常請乩仙，吾愛其雅，故頻頻降機與爾等聯</p>
<p><u>醉學士青蓮　</u></p>
<h3>壽星大仙</h3>
<p>不矬不胖不身低　宮開南極紫薇西大道無為千萬億　修成仙壽與天齊（呂　岩）</p>
<h3>鐘離大仙</h3>
<p>紅臉先生出自然　飄飄雙髻醉如顛逍遙天上胸膛露　卻是蓬萊第一仙（李　白）</p>
<h3>果老大仙</h3>
<p>白發銀須一老翁　紙驢騰起碧云空元功九九誰能似　八洞天仙可並鐘（洞　賓）</p>
<h3>李鐵拐大仙</h3>
<p>本來出世自飄然　換骨超凡亦有緣誤殺當年名鐵拐　多因指李姓訛傳（鶴亭敬題）</p>
<h3>呂大仙</h3>
<p>玄妙觀前看畫鶴　人間普度大慈仙（何仙姑）</p>
<h3>曹大仙</h3>
<p>不作皇親愛作仙　白云深處鶴蹁躚自從海島逢師後　伏虎降龍在九天（青蓮居士）</p>
<h3>藍大仙</h3>
<p>山水西湖好　吾居更有情竹籃常作伴　采藥四時春（采和自題）</p>
<h3>韓大仙</h3>
<p>齒白唇紅在妙年　不知何處煉成仙手持玉笛偏多趣　飛去飛來白鶴旋（藍采和）</p>
<h3>何大仙</h3>
<p>楚楚衣裳豐麗殊　世人休認是麻姑自從八洞升瑤島　愧煞人間說丈夫（涇源謹識）</p>
<h3>醉學士</h3>
<p>坐石銜杯興未闌　一年四季不知寒詩成百首天然趣　看月云中煙氣漫（醉學士自題）</p>
<h3>董大仙</h3>
<p>生前大義重倫彝　死後瑤池王母知千載修來成大道　司文書卷不輕離（張玉娥題）</p>
<h3>許大仙</h3>
<p>合浦前生結善緣　慈親夢兆得珠先當年克盡倫常志　今日瑤池並董仙（張玉娥）</p>
<h3>張大仙</h3>
<p>當年歌舞盡皆春　看破人間不染塵修煉元功千載後　瑤池今日伴仙真（董雙成題）</p>
<h3>葛真人</h3>
<p>修隱歸東海　山中葛米鮮經綸不用世　且作大羅仙（張玉娥）</p>
<h3>昴日星君</h3>
<p>辰升於東　遵行有度　耀九洲　照臨下土　分野晉疆乃眷西顧　驅除心疾　如鑒肺腑　星列此方　人其多福（鶴鳴敬志）</p>
<h3>華真人</h3>
<p>至哉華聖　豈惟醫博燎毒荊州　欲除奸惡玉帝駕前　香煙漠漠（度世謹題）</p>
<h3>劉大仙</h3>
<p>脫卻朝冠棄紫衣　儒妝結束豈寒微清泉半畝金蟾影　養得真元入翠薇（鶴舉謹識）</p>
<h3>柳大仙</h3>
<p>滿腹燦珠璣　懷才未遇時　清貧甘自守　磊落復誰知心厭紅塵路　神依碧柳枝　司文南斗下　指點賴仙師（鶴　翔）</p>
<h3>紅鸞侍者</h3>
<p>梅嶺別含香　養親有異方而今天上恨　猶望白云鄉（鶴亭敬題）</p>
<h3>壽星論人子息</h3>
<p>壽星曰：人生子嗣，雖曰天命，豈盡無人事哉。有男子不能生者，有六病。六病為何？一精衰者子者女子不能生者，有十病。一胎胞冷也；一脾胃寒也；一帶脈急也；一肝氣鬱也；一痰氣盛也冷者子果老曰：男女之病，各有不同，得其病之因，用其方之當，何患無子哉。</p>
<h3>呂祖論治病法</h3>
<p>平治法：氣虛，用六君子、四君子湯；血虛者，用四物湯；腎虛無火者，用八味湯；腎虛有用胡哉。</p>
<p>奇治法：一味而成功，不必借重二味也。如吐，只用瓜蒂一味足矣，不必再添別藥，反牽制湯飲於上水穀轉，偶治法：方中不能一味奏功，二味兼而治之。吐血用當歸、黃　；中寒用附子、人參；中熱之物子足故必兼用參以挽回於絕續之頃也；中熱之症，上焦火氣彌漫，不用降火之品，何能救焚，用元肺金通，其形治法：四肢頭面，有形可據而治之也。如目痛則治目，頭痛則治頭，手痛則治手，腳痛則如手之麻木乃氣倘舍外形而求皮五分　甘草一錢得桂枝始能入手經</p>
<h3>又論人參性</h3>
<p>世人用不起人參者，黨參可代。醫家往往用洋參代，大錯。黨參即先朝之人參也。如今力薄，無力吃參，黨參加倍用之可也。（後有諸大仙制黨參法，功比人參。）</p>
<p>有人得脾經之病，如水瀉乃脾氣不溫，血痢乃過於燥熱而成此症。水瀉用白朮一兩，車前子五錢。二味煎湯立效。血痢不同，有腹痛不痛之分。痛者乃火熱也，用歸尾一兩　黃連三錢枳殼二錢　白芍一兩　廣木香二錢　甘草一錢　蘿卜子二錢。用水煎服；不痛者乃寒也，用白芍三錢　當歸三錢　蘿卜子一錢　枳殼一錢　檳榔一錢　甘草一錢。用水煎服。水瀉者，乃一時水氣浸脾，用白朮以利腰臍之氣血，車前分消其水勢，此正治之法也。</p>
<p>藍大仙曰：白朮、車前利腰臍，消水氣。然白朮亦能健脾，健脾水自消，原不必借重車前。</p>
<p>神耳曹大仙曰：血痢者，肝克脾土，雖因脾土之濕，又加暑熱暗浸，瓜果內傷所致。終因肝木火而血韓大仙曰：血痢雖有痛不痛之分，其實皆火熱而挾濕氣也。論理二方俱可通治，而呂仙分別蓋火邪則火李鐵拐大仙曰：按血痢，呂仙指為火邪挾濕，此乃壯實人之痢言之也。然內傷勞倦與中氣虛乾薑，內傷熱湯</p>
<h3>又論治人當分強弱</h3>
<p>呂祖曰：人有南北之分，分於強弱也。南人之弱不及北人之強也，然南人亦有強於北人者，偏陰者宜果老曰：是。</p>
<h3>又論病知生死</h3>
<p>呂祖曰：知病之生死而後可為醫，生中知死，死中知生，非易易也。傷寒七日不汗死是也予獨邪火不死如酣死入藥，正足以死之也。此死中之生而辨其死也。</p>
<p>華真人曰：真奇絕之文。</p>
<h3>又治癆瘵之症</h3>
<p>呂祖曰：癆瘵之症，用不得霸藥，宜用清火之味。方用：熟地五錢　地骨皮五錢（藥雖多而五味服，神又有一法治人虛癆未成，癆瘵之症。方用：熟地一兩　山藥一兩　山茱萸三錢　麥冬三錢五錢治前方服之不效，必有癆蟲尸氣。另有一方：鬼箭三錢　鱉甲一兩　地栗粉半斤　生何首烏半兩。各半料即無汗葛真人曰：此病難治，非偏於熱，則偏於寒；非多於清，即多於補。當時無可遵之方，今呂不妨少同服，則水勝陰常不足，似皮一錢半　山人之善用六味劉真人曰：癆已成，最難治，有蟲以食人之氣血也。若徒補其氣血，而不知殺蟲之品，飲食入殺蟲八兩　鱉打成糊為丸曹仙曰：未成癆病，將要成者，方用：熟地一兩　地骨皮五錢　人參五分　北五味五分　白朮一錢　山藥三錢　白芥子一錢。水煎服。妙在平補，無偏勝之弊。雖熟地多，有參、朮以行氣，自易制其膩滯，故轉奏功。倘謂參、朮助陽，熟地過濕，舉世不知其要也。</p>
<p>柳守真曰：吾有一方，治癆蟲神效。榧子半斤　鱉甲一斤　地栗粉八兩　獺肝一付　白薇四</p>
<h3>董仙治臌脹方</h3>
<p>甘遂三錢　牽牛三錢。水三碗，煎半碗，服之，瀉水即愈。瀉極用人參一錢　茯苓三錢　薏仁一兩　山藥五錢　芡實一兩　陳皮五分　白芥子一錢。水煎服，一劑即愈。但忌鹽一月可也。</p>
<p>治痿症方：元參一兩　熟地三兩　麥冬四兩　山茱萸一兩　沙參三兩　五味子五錢。水煎服</p>
<h3>又治心痛暴亡、非寒即火方</h3>
<p>炒梔子五錢　白芍五錢。煎湯服下，下喉即愈。寒當用人參一錢　白朮三錢　肉桂八分附意治腹痛極甚至手足皆青，救若少遲必至立亡，此腎經感受寒邪也。急溫命門之火，佐熱其心桂一錢　吳茱萸五分　乾薑五分。水煎服，即愈。</p>
<p>昴日星君曰：余亦有方，但不同耳，中惡中痰。方用：人參三錢　茯苓五錢　天南星三錢治心痛有火神效方：貫仲三錢　白芍三錢　梔子三錢　甘草二錢。水煎服，即止痛也。</p>
<h3>呂祖、華真人同議治乳蛾方</h3>
<p>但得乳蛾，火多寒少，兼亦有寒者，如面白身戰，人多認其寒也。而不知火伏於內，外現寒治火症方用：大黃一錢　青黛一錢　冰片五分　硼砂一錢　皂針一錢　寒水石一錢。共研細如寒者，藥不能下，用生附子切片貼腳心，可少刻自松，然後服藥。方用生蘿卜汁、生薑汁華真人曰：人有得雙蛾者，人以為熱也。喉腫痛，痰如鋸不絕，茶水一滴不下，豈非熱症下出味三凡人腎水大耗，元陽不能下藏，無水以養火，火必上越，火衝上而咽喉口小不能任其出入，梗何大仙曰：陰虛雙蛾之症，余亦有一治法：用附子切片一錢，鹽水炒，將一片含在口中，即</p>
<h3>藍大仙治喉痛方</h3>
<p>咽喉忽然腫痛，生雙蛾者，飲水不下，此症實火易治，虛火難治。實火世人已有方：山豆根咽喉火，味二錢喉腫閉塞，水不能下，有藥安能施乎？另有一法：用附子一個　破故紙五錢。各研末調如糊</p>
<h3>呂祖治噎食方</h3>
<p>廣木香五分　生地一錢　炒當歸一錢　酒炒檳榔一錢　陳皮一錢　半夏一錢　厚朴一錢。水又治過經隔、經傳、傷寒。方用：麻黃一錢　柴胡一錢　厚朴一錢　石膏五錢　知母一錢生。</p>
<p>隔經傳方：人參五錢　石膏五錢　知母一錢　青蒿一兩　柴胡二錢　白芍三錢　半夏一錢道實治第三日少陽與厥陰兩感，水漿不入，不知人者，再傳一方：人參一兩　麥冬三錢　當歸一傷寒發斑，死症也。亦有不同，有遍身者，有只心窩內者。遍身者，似重而反輕；心窩有者錢甘元參治人得兩手不能下者，將人抱住，縛在柱上，把木棒打去，病患自然來隔，而手自下矣。</p>
<p>當二下</p>
<h3>葛真人論脈訣</h3>
<p>內經已暢言之也。後王叔和又發明之，尚有未備者。脈訣大約言愈多，則旨益晦，吾簡以切則九知曹大仙曰：脈訣原不必多，多則反晦，明言十法至簡至要，可以為萬世之法。</p>
<h3>葛真人制黨參代人參法</h3>
<p>要真潞黨，河南、陝西者不用。用盤盛之，加大米數撮，用碗蓋好，蒸三次，換米三次，用</p>
<h3>又論傷寒相舌秘法</h3>
<p>白苔者邪火未甚，用小柴胡湯；舌黃色者心熱，用黃連、梔子以涼之；黃而帶灰色者胃熱，芩、者，連以解之歸膀胱也以涼之；柴胡以以分水分泄可驟用大黃亦用石膏用大黃、茵陳血用抵當也；者，邪初入心黑尖白者，胃黑尖黃者，邪則，用柴胡、死之也。用元參急用大黃加生地下之則愈，不應則則愈加脹急以害之者，邪將入腎也，柴胡、梔子、大黃、白，內黑外黃皆前症較前少輕，俱可以前法陰症也，苔必滑，必惡火極似水，一帶純黑，曹大仙曰：茲相舌法，較《金鏡錄》更備，且無誤治之虞。誠濟世之慈航，救生之良方也。</p>
<h3>昴日星君治小兒科三方</h3>
<p>昴日星君曰：兒科得其要，無難治人，今特傳一法門，使世上小兒，盡登仁壽。先看氣色，筋橫現者，肝有寒；色之病，故看其數與邪也；滑者痰病，或心腹痛痞今立三方通治第一方：人參三分　白朮五分　茯苓一錢　甘草一分　陳皮二分　神麯三分　半夏一分。此五分；豬苓第二方治外感也，或傷風寒咳嗽，發熱不發熱，頭痛鼻塞，痰多驚悸，角弓反張，以此方治白乃分；脅痛者加芍藥三錢；腹痛者以手按之，手按而痛甚者乃食也，加大黃一錢；按之而不痛者火第三方治虛寒之症，夜熱出汗、夜啼不寐、怔忡、久嗽不已，行遲、語遲、龜背、狗肚，將錢茯苓一錢　苡仁三錢　丹皮一錢　沙參二錢　地骨皮二錢。水煎服。倘兼有外感，少加柴胡五分，白芍三錢，白芥子一錢。</p>
<p>許仙曰：此方世所罕見者，真天上奇方也。人間信而服之，小兒皆可至仁壽也。</p>
<h3>董大仙論治痘法五方</h3>
<p>董仙治痘法：今人看痘不知法則難也。初起時不論強弱補其氣血為要，加之發散之藥，重者一小第一日方，見小兒身熱，眼如醉眼者，是也。不是醉眼不可用此方。外感治之，見醉眼急投錢先煎速愈第二日方：白朮二錢　麥冬三錢　甘草一錢　桔梗二錢　當歸五錢　元參三錢　生地五錢服。</p>
<p>第三日方：人參五分　白芍三錢　白朮三錢　茯苓三錢　元參二錢　神麯三分　丹皮一錢。</p>
<p>第四日方：人參一錢　當歸二錢　熟地五錢　茯苓三錢　金銀花三錢　陳皮五分　甘草一錢不可第五方：人參一錢　茯苓三錢　白朮二錢　甘草一錢。有加麥芽五分，山楂五粒，不傷食不四</p>
<h3>華真人論壞症方</h3>
<p>華真人傳壞症方：治已黑者，人將棄之，下喉即活，用人參三錢　陳皮一錢　蟬蛻五分　元參二錢　當歸二錢　荊芥穗一錢。水二盅，煎八分，灌下即活。大約壞症皆元氣虛而火不能發，用參以助元氣，元參以去浮游之火。陳皮去痰開胃，參無所礙。荊芥以發之，引火歸當歸生新去舊，消滯氣。蟬蛻去毒斑。世人如何知此妙法，初起不可服，必壞症乃可服</p>
<h3>許大仙治痘瘡出齊方</h3>
<p>人參一錢　黃　一錢　甘草一錢　白芍二錢　生地二錢　麥冬二錢　柴胡八分　紅花五分。</p>
<p>色黑有汗倍加黃　；有痰加白芥子一錢；癢加荊芥子六分；身痛者加廣加肉桂一錢，人參、黃　多加；頭不突者氣虛也，倍黃　；漿不滿熟地二錢可也。</p>
<h3>張大仙治四時疹方</h3>
<p>張仙曰：總之，小兒宜補不宜散，一言盡之矣。疹乃熱也，不可用人參、白朮。當用補血，水錢辨各經病，看小兒山根之色，須要洗去面上塵土，細看之可也。凡疹初起，小兒必發熱，口四時疹方：元參三錢　麥冬二錢　蘇葉一錢　升麻五分　天花粉一錢　金銀花三錢　陳皮三夏</p>
<h3>紅鸞侍者治痘疹初起方</h3>
<p>白芍二錢　柴胡一錢　當歸一錢　陳皮五分　荊芥八分　防風三分　生地二錢　甘草一錢桔梗一錢　麥冬一錢　干葛一錢。水煎服二劑，惡者必變為良也。</p>
<p>又治夏日發疹神效方：蘇葉一錢　麥冬二錢　桔梗一錢　生甘草一錢　元參三錢　青蒿三錢</p>
<h3>董大仙治水痘方</h3>
<p>柴胡一錢　茯苓二錢　桔梗一錢　生甘草五分　黃芩五分　竹葉十片　燈草一團。水煎服難</p>
<h3>紅鸞侍者治痘將回方</h3>
<p>人參一錢　白朮一錢　茯苓一錢　甘草三分　桔梗三分（升提其氣），水煎服。有紫干燥黑陷一錢；者，多大黃三蟬蛻五症用此</p>
<h3>葛真人論兒科秘法</h3>
<p>山根上有青筋直現者，乃肝熱也。柴胡三分　白芍一錢　當歸五分　半夏三錢　白朮五分前去胸服芽二分子二分，者加白豆蔻一大黃三分，枳身發熱者不可用此方，予分立一方──萬金湯。凡小兒發熱者，無論早夜熱，無不神效。</p>
<p>方三分一分瀉人</p>
<h3>張大仙治小兒感冒風寒方</h3>
<p>柴胡五分　白朮一錢　茯苓三分　陳皮二分　當歸八分　白芍一錢　炙甘草三分　半夏三分治小兒痢疾神方：當歸一錢　黃連二分　白芍一錢半　枳殼五分　檳榔五分　甘草三分。</p>
<p>甘草者加</p>
<h3>紅鸞侍者治小兒雜症</h3>
<p>小兒瘧疾方：柴胡六分　白朮一錢　歸身一錢　白芍一錢　生半夏五分　青皮五分　厚朴五痰加小兒咳嗽方：蘇葉五分　桔梗一錢　甘草一錢。水一酒盅，煎五分，熱服，二劑痊愈。</p>
<p>有痰小兒口疳流水口爛方：黃柏二錢　人參一錢。為末，敷口內，二日即愈。一匙一次，不過用小兒便蟲方：用榧子（去殼）五個　甘草三分。為末，米飯為丸，蟲盡化為水矣。大人亦可用小兒蟲積方：用使君子十個（去殼炒香）　檳榔一錢　榧子十個　甘草一錢。各為末，米飯為何仙曰：小兒病驚疳吐瀉盡之矣，不可不別言也。</p>
<p>人動曰驚風，小兒驚則有之，風則無也，純陽之體不宜有風之入。狀若有風者，小兒陽旺，方一分疳症，脾熱也。因心熱脾火，火旺極口中流涎，不平其心火，脾火旺而濕熱上蒸，不可徒錢吐症，胃氣之弱，因脾氣虛，恣意飽食，食而不化，久而停積於脾中，上衝胃口，久之大吐錢無不瀉痢專責脾矣。瀉有不同，有火瀉寒瀉。火，必然身熱、口乾、舌燥、喜冷。方用：車前子水煎寒，腹痛而喜手按，口不干而舌滑，喜熱湯不喜冷，方用：人參一錢　白朮一錢　茯苓二生下不肯食乳，心熱也。蔥煎乳汁小兒服之，不若用黃連三分，煎湯灌數匙即食乳，神效。</p>
<p>肚臍突出半寸許，氣不收也，急安之。若變為角弓反張，難治也，用茯苓一錢　車前子一錢呂祖曰：吐瀉，傷食之故也。不上吐即下瀉矣。六君子湯，吐者去甘草加砂仁，瀉者加車前吾言，</p>
<h3>呂祖治產前方</h3>
<p>如子懸之症最難治之，乃胎熱。子不安，身欲起，立於胞中，故若懸起之象，並非子懸掛也生漏胎乃氣血不足之故。方用：人參二錢　白朮五錢　杜仲、枸杞子各一錢　山藥三錢歸身服。</p>
<p>難產如橫生、倒養，死亡頃刻也，急救之。胎不順，出於血氣之虧，往往不能轉頭，故手足芎一若兒頭已到門，久而不下，交骨不開也。速用柞木枝一兩　當歸一兩　川芎五錢　人參五錢柞木於胸</p>
<h3>紅鸞侍者論產前</h3>
<p>紅鸞侍者曰：產前無白帶，有難產之兆，即幸而順生，產後必血暈之事。方用：黑豆二合（薏不小產非產前也。雖非正產，可作產前治；雖非大產之虛，氣血已大傷矣。宜補之，日後坐胎薑張仙曰：余尚有二方，一漏胎也，一胎動也。胎動方：用白朮一兩　熟地一兩。水煎服。</p>
<p>白一兩</p>
<h3>又治難產</h3>
<p>紅鸞侍者曰：難產婦人常事生子，母反死，仁人所痛心也。但難產實母之氣衰，以致兒身不佛百芎二錢半　黃　五錢。煎湯飲之，兒身即順，立刻產下矣。</p>
<p>再子落地，胞忽上升者，恐惡血奔心，用蓖麻子一錢搗爛，塗於產婦足心，少頃胞胎自下矣。</p>
<p>有胎落子生而大腸墮下者，更可畏，虛極下陷，用人參、升麻、柴胡發散正氣，腸愈難收，留，時又治產後乳症。若生乳癤名曰外吹，治法與胎前不同。若產後而兒不育，乳忽作痛，此乳汁痛容木梳梳乳</p>
<h3>華真人治癰疽對口並無名瘡毒方</h3>
<p>凡人癰疽，發於背、頭、項、胸、腹、手、足、臂、腿、腰、臍、前陰、糞門之際。無論陰陽毒二兩　元參善功諸毒人忽為湯火所傷，遍身潰爛，與死為鄰，可以變死而生。用大黃五錢　當歸四兩　荊芥三痛減半五絕，乃縊死、跌死、魘死、淹死、壓死是也。禍成倉猝，往往不救，然五臟未絕，外來之黃紙用蔥無比。</p>
<p>麝香分兩灌之起又曰：人足毛孔標血一線者，流而不止即死。急以米醋三升，煮滾熱，以足浸之，血即止。</p>
<p>世人即愈。</p>
<p>錢白人舌縮，喉嚨不能言語者，寒氣結於胸腹之間，急用附子一錢　人參二錢　白朮五錢肉桂一錢　乾薑一錢。治之舌自舒矣。</p>
<p>人有傷寒口渴，過飲涼水者，愈後倘手足出水者，急用吾方可救，指節腳板墮落也。薏仁三手腳更有人手指甲脫下不痛不癢，乃腎經火虛，行房之後涼水洗手遂成。用六味東加柴胡、白人有小便溺五色石者，未溺前痛甚，溺後少覺快，石淋也。用熟地三兩　茯苓五兩　薏仁五兩人腰間長一條肉痕，如帶，圍至臍間，不痛不癢，久之飲食少進，氣血枯槁也。過於行房盡三兩兩。十矣。</p>
<p>人身忽長鱗甲於腹間、脅上，乃婦人居多，而男子亦有之。乃孽龍多化與婦人交即成此症三再服三錢，則鱗盡落也。此最神最奇之方也。</p>
<p>呂祖曰：以上諸方無一不奇，諸論無一不精，真世上之奇寶，黃岐之精髓也。善用之成醫之</p>
<h3>昴日星君治奇症方</h3>
<p>昴日星君曰：奇病尚有數症，我今盡傳無隱。如人手皮上現蛇形一條，痛不可忍，蛇乘人睡日，又刺血如前，又以白芷末糝之，二次化去其形。先刺頭後刺尾，不可亂也。</p>
<p>喉中似有物行動，吐痰則痛更甚，身上皮膚開裂，有水流出，目紅腫不痛，足重難行。</p>
<p>乃人也。用出。倘蜈蚣盡胃脘不一人耳內長肉線一條，手不可近，色紅紫，此腎火飛騰於耳也。用硼砂二分　冰片一分。</p>
<p>點治雙目失明方：用沙苑蒺藜八分　炒白菊花一錢　木賊草二錢　夜明砂八分　石決明一錢治王德儒夜臥不寐方：用黨參一錢　茯苓二錢　白朮二錢　棗仁一錢（半生半炒）　蕎麥一錢又治王鶴鳴夜臥不寐方：用白當歸五錢（酒洗）　白朮三錢（土炒）　生地六錢　茯苓三錢　菖</p>
<h3>華真人治瘡毒神效方</h3>
<p>金銀花一兩　當歸一兩　蒲公英一兩　甘草一錢　荊芥一錢　連翹一錢。水煎服，三劑必愈頭昴日星君曰：予尚有二方：頭面上瘡，用金銀花二兩　當歸一兩　川芎五錢　蒲公英三錢又治手足之瘡疽方，神效。用金銀花三兩　當歸一兩　生甘草三錢　蒲公英三錢　牛蒡子呂祖曰：二方俱可傳也。</p>
<h3>許大仙治癆瘵</h3>
<p>許仙曰：癆瘵之症，佛心神術誠難速效。今立一方亦極平穩。用芡實八兩　薏仁八兩　山藥各董仙曰：大妙。吾亦有一方：用山藥二斤　芡實一斤　黑芝麻八兩　小黃米（炒）三斤　薏仁</p>
<h3>李鐵拐大仙治大小便雜症</h3>
<p>李鐵拐仙治小便閉塞方：用車前子五錢　肉桂三分。水煎服，即愈。</p>
<p>治大便閉結方：用熟地三兩　元參三兩　火麻子一錢　升麻二錢　牛乳一碗。水二盅，煎六再如人之便血溺血雖不同，然總之出血於下，用生地一兩　地榆三錢治之。大小便有經絡腰痛頭痛上下相殊也，然腎氣通於上腦，氣下達於腎，上下雖殊，氣實相通，用熟地一兩遺精健忘，用黨參一兩　蓮須五錢　芡實一兩五錢　山藥二兩　麥冬一兩半　五味子五錢半山</p>
<h3>呂祖治奇瘡</h3>
<p>呂祖曰：如人生怪病於腹中，生異症於身上，或生奇形於口上是也。當以奇藥治之。腹中忽錢，余又華真人曰：妙絕矣！不可思議。</p>
<p>呂祖曰：人生人面瘡者，人以為冤家債主也。余為不然，有祟憑之，我有一奇方：用雷丸髓人口中生瘡於舌上，吐在外寸余，結成黃靨，難以食物，人以為心熱故也，亦近理。然非也舌鼻中生紅線一條，長一尺許，少動痛欲死，人以為怪病也，亦祟也。方用：硼砂一分　冰片一分。研為面，人乳調之，輕輕點在紅線中，覺有人如將病患打一拳一般，頃刻即消。</p>
<p>耳中聞螞蟻戰斗之聲，非祟，乃腎水耗盡，又加怒氣傷肝。用白芍三兩　柴胡、梔子各三王耳中作癢，以刀刺其底，有聲始覺快，乃腎肝之火結成，非湯藥可救。余立一方：用皂角刺後，以矣。後服而祟憑之有山魈、蟲、蛇、狐狸作祟者，方用生桐油塗其下體或人褲子包頭，則妖大笑去矣。睡夢中而去人背忽裂一縫，出虱千余，腎中有風，得陽氣吹之，不覺破裂而虱現，用熟地三兩　山茱萸矣。</p>
<p>紅鸞侍者曰：方皆絕妙。脊縫生虱，余亦有一方：蓖麻三粒，研成如膏，用紅棗三枚搗成丸風出人有腹中生蛇者，毒瓦斯化成也。或感四時不正之氣，或感尸氣病氣而成也。方用：雄黃一兩食之張仙曰：蛇生腹中，身上辨之，身必干如柴，似有鱗甲者，蛇毒也，易辨，吾有一方最驗化雄紅鸞侍者曰：如婦人腹中高碩，似生胎者，形容憔悴，面目瘦黑，骨干毛枯，乃鬼胎也。</p>
<p>用治血曹仙曰：有人背上疼痛，裂開出蛇一條，長尺余，頗善跳躍，予親治之，其症必先背脊痛甚我至健壯奇，鶴舉曰：吾見治一人，七孔流血者，亦腎虛熱也。用六味加麥冬三錢　五味子一錢　骨碎補鐘仙曰：水腫之病土不克水也，方用：牽牛三錢　甘遂三錢。水煎服一劑，大瀉水斗余，脹服此二味之後，一食鹽則病重犯，不可救也。水腫之病，必須手按足而如泥者，可用此二味，按之不如泥者，隨按而皮隨起者，非水也。當作氣虛、腎虛治之，不可用此二味，以殺之也。</p>
<p>果老曰：此方固奇，各用三錢太多，減去一錢，則不過猛也。病去而不傷本，病未盡去可以曹大仙曰：何言之當也。</p>
<p>韓大仙曰：水腫治法甚多，獨此二味奇妙通神。牽牛性雖猛，得甘遂而遲矣；甘遂性雖緩葛真人曰：昔論腫症，大概隨按而起者為水腫，按肉如泥者為氣虛，臨症者自驗。</p>
<h3>韓大仙治水臌</h3>
<p>方用：牽牛二錢　甘遂二錢　肉桂三分　車前子一兩。水煎服，二劑可愈。不可再服。</p>
<p>改氣臌乃氣虛作腫，以水臌按之，皮肉不如泥，先從腳面腫起，漸腫至身，於是頭面皆腫，用車前子一錢　蘿卜子一錢　神麯一錢。水煎服。日一劑便覺氣漸舒，二十劑全消，三十劑而痊愈矣。奏功雖緩，而起死實妙也。必禁食鹽百日，即秋石亦不可用也。</p>
<p>蟲臌惟小腹作痛，四肢浮脹，不十分之甚，色紅而帶點，如蟲蝕之象，眼下無臥蠶微腫之甌）　神不必吃血臌由來久矣。或跌閃血瘀不散，或憂郁結血不行，或風邪血畜不發，因循時日，留在腹中末三（去皮四物湯血症。人有一時吐狂血者，此乃血不歸經之故，用人參五錢　當歸一兩（炒黑）　荊芥三錢出或沖八分　紅花</p>
<h3>鐘大仙治老人</h3>
<p>鐘離仙曰：老人氣血衰敗，不可照少年治之。食多則飽悶，少食則困餒，食寒則腹痛，食熱六十肯節麥甘草五分。水煎服。有火者加元參二錢；有寒者加肉桂五分；有痰者加半夏五分；有食山者三華真人曰：老人之法平穩而當，不必再立方也。</p>
<p>果老仙曰：吾亦有一方，治老人不寐最妙，用六味地黃丸一料，加麥冬四兩　炒棗仁五兩蜜為</p>
<h3>藍大仙治少年</h3>
<p>藍仙曰：治少年人血氣方剛，不可亂用補藥，看其強弱，因病下藥自然無差。方用：厚朴一逐症三十薷一故易</p>
<h3>昴日星君治筋脈血脈等症</h3>
<p>昴日星君曰：治筋脈方，人若筋急拳縮俯仰而不能直者，用當歸一兩　白芍五錢　薏仁五錢血脈不足或毛髮干枯，色澤不潤，用當歸一錢　白芍三錢　川芎一錢　熟地四錢　白果五個李鐵拐仙曰：筋脈之治，予立二方：用當歸三錢　芍藥一兩　熟地二兩　柴胡一錢　白朮五三錢服兩鬢</p>
<h3>鐘大仙服須發藥方</h3>
<p>鐘離仙曰：吾有烏須奇方，不須十日，保汝重為烏黑。用熟地三兩　何首烏三兩（用生不用兩白者也果老仙曰：加花椒一錢，此方奇絕，不畏泄天機耳。</p>
<h3>呂祖治痰方</h3>
<p>一治初起之痰，一治已病之痰，一治久病之痰。</p>
<p>初起之痰，用半夏一錢　陳皮一錢　天花粉一錢　茯苓一錢　甘草一錢　蘇子一錢。</p>
<p>水煎已病之痰在中焦也。看其色之白與黃，黃者，火已將退也；白者，火正熾也。火熾宜涼火，芥久病不愈，未有不腎水虧損也。方用：熟地五錢　茯苓三錢　山藥三錢　苡仁五錢　芡實五肉桂李白大仙曰：三方極妙，治痰之聖藥。予有一方，治已病之痰，並附於後：用白朮三錢　茯苓三錢　陳皮一錢　天花粉二錢　益智仁三分。　人參三分　薏仁三分。有火者加黃芩一錢；無火者加乾薑一錢。水煎服。二劑而痰自消。再久病之痰，用六味東加麥冬、五味有奇功也。</p>
<p>無火加附子、肉桂可耳。</p>
<p>柳仙曰：予亦有二方，久而成老痰者，用白芍三錢　柴胡一錢　白芥子五錢　茯苓三錢陳者。</p>
<p>又治頑痰。成塊塞在喉嚨者，為頑痰；留在胸膈而不化者，為老痰也。用貝母三錢　甘草一煎服劉仙曰：火沸為痰，反加肉桂，此火不從水折，後二方亦不可廢也。</p>
<p>何仙姑曰：死厥不醒人事，中風不語，鬼神之祟，山魈之侵，一時卒倒不醒人事是也。</p>
<p>此病虛，錢共二碗取一之類，薇一一劑矣。大約董仙曰：治厥症只消一味蒼朮（切片）三兩，水六碗，煎三碗，灌之必吐，吐後即愈。</p>
<p>蒼朮，</p>
<h3>許大仙治窮人方便方</h3>
<p>許仙曰：吾有一法，是窮人之法也。人卒然見鬼，或倒在神廟之內，或在棺木之旁偶遇尸氣淨也一錢張仙曰：予尚有一方並傳之。死症有中陰、中陽、中惡、中毒之分。如中蛇蟲之毒，一過，出惡加白</p>
<h3>李白大仙治童子童女癆神效方</h3>
<p>用鬱金二錢　廣木香一錢　炒玉竹一錢　赤白何首烏一錢半　黑豆汁炒黑芝麻一錢　炒生地</p>
<h3>治瘟疫神效方</h3>
<p>用大黃二錢　元參四錢　柴胡一錢　麥冬一錢　石膏三錢　滑石三錢　荊芥一錢　白芍一錢</p>
<h3>華真人治瘟疫丸藥方</h3>
<p>用大黃一斤　生花椒、桂皮、陳皮、蘇葉各五兩。用薑五錢搗汁，同泡三日後晒乾，冬至日隨症用引：頭痛，　本一錢；腹痛，大腹皮一錢；脅痛，青皮、鬱金各五分；老人不出汗，三日方吃，不又預防時氣方：用大黃一錢　桂皮五錢　蘇葉一錢　廣木香一錢。將木香熬汁泡桂皮，木香半劑，三日服完，即不染時氣矣。小兒減半。</p>
<p>又冬至日，用大黃一塊約一二錢，將線穿好，合家大小佩之，瘟疫即不染矣。</p>
<h3>李太白大仙治反胃</h3>
<p>李白大仙曰：人有時吐，有時不吐。吐則盡情吐出，人以為胃也。然此非反胃，又似乎反胃急，矣。</p>
<p>一錢膝</p>
<h3>葛真人論噎隔</h3>
<p>總因血衰胃脘干槁，槁在上者，水飲可行，食物難入；槁在下者，食雖可入，良久復出，名郁昴日星君曰：食不得入，是有火也；食入反出，是無火也。嗝多因熱，反胃多因寒也，不吐</p>
<h3>蓮池大士治氣滯胃寒膈方</h3>
<p>廣木香（磨）五分　白朮（土炒）一錢半　陳皮、香附各一錢半　白豆蔻八分　青皮一錢半夏前服，十治膈症脾虛方：人參一錢　白朮三錢　陳皮一錢　茯苓二錢　砂仁三粒　炙甘草四分。</p>
<p>有痰如胸膈不利，或痰盛閉塞，一時中風不語，以小劑治之。</p>
<p>胸膈不利，氣不順也。用蘇葉一錢　半夏一錢　甘草一錢　桔梗一錢　百部五分。一劑快然。</p>
<p>痰盛閉塞作痛者，乃痰在上焦。用天花粉一錢　甘草一錢　柴胡一錢　陳皮五分　半夏一錢或中風不語者，用瓜蒂散、皂角湯，吐之。然必看其真中風方可吐之，否則不可。真正中風者是不十分響者</p>
<h3>紅鸞侍者治失血離魂反胃等症</h3>
<p>紅鸞侍者治失血方。血有口鼻出者，有從手、足、皮毛之孔、九竅而出者，症似各異，可統服。血離魂之症，魂出於外，覺吾身之外更有一吾，此欲死未死之症，急用人參一兩　茯神五錢甘草反胃，有食入而即出者，腎虛不能潤喉之燥而即出也；有食久而反出者，腎火虛、脾寒而出一治無火而反胃者，用熟地二兩　山茱萸一兩　附子三錢　茯苓三錢　澤瀉三錢　丹皮三錢一治有火而反胃者，用熟地二兩　山茱萸五錢　山藥一兩　澤瀉三錢　丹皮三錢　茯苓五錢董仙批云：反胃雖一時不死，治不得其宜，必死而後已，反胃多是腎虛無火，故今日食至明而脾亦水煎服腎中水許仙曰：吾有一方，用肉桂二錢　附子一錢　熟地一兩　山茱萸五錢。水煎服。一劑吐減半虞</p>
<h3>葛真人論反胃之症</h3>
<p>飲食入胃即吐者，此肝木克土也，用逍遙散加吳茱萸、炒黃連治之，隨手而愈。無如人以胃半熱藥藥、元鶴翔曰：此方純補精血，水足而腎中有精，而大腸有度，自然上下相通，而無阻滯之虞。</p>
<p>真</p>
<h3>看花童子治胃病、心痛、痞塊痛方</h3>
<p>用延胡索、五靈脂、草豆蔻、沒藥各五錢。研極細面，每服二錢，用酒沖服，早晚兩次，即又曰：呂大仙達元散最妙，能治百病，如何不傳也？用白犀角二兩（遍身白者佳，銼碎屑）</p>
<p>竭一兩（小瓜斤去核，搗泥，去淨紙包，藥如時，或天醫日，冷氣、喉閉、乳右；女先點右，後生冷、氣惱、勞碌用陳米炒過熬粥湯柳仙曰：絕妙好方也。</p>
<p>看花童子曰：頭腦疼痛，手足、兩臂、兩肩背疼痛，腰以下疼痛，不必支解刀破，囫圇而治華真人曰：妙。世人不知頭痛，至終年累月，其邪深入於腦，一二錢之散藥，安能至巔頂而先散地五柳仙曰：吾有一方，用柴胡五錢　白芍三錢　辛夷三錢　郁李仁五錢　麥冬五錢　桔梗三錢劉真人曰：腦痛，風入膽經也，膽應於腦故痛。人以用柴胡太多，過於辛散，不知有白芍以又治藍大仙曰：肩膊臂痛，亦用黃酒二斤　當歸三兩　白芍三兩　柴胡五錢　羌活三錢　半夏三醉為韓大仙曰：臂與肩膊，手經之病，肝氣之郁也。妙在用白芍為君，平舒肝木之氣，不來克脾風邪去而痰不留，又有附子無經不逐，余邪尚能存之哉，自然一醉而愈也。</p>
<p>華真人曰：兩足腰以下痛，用黃酒二升　黃　半斤　防風五錢　薏仁五兩　杜仲一兩　茯苓曹大仙曰：腰足痛，明是腎虛氣衰不能運動，更加之以溫，妙在不補腎而單益氣，氣足血生風八分更有一方，治腰痛如神。用白朮三兩　芡實二兩　薏仁三兩。水煎服，一劑愈。年老人恐有此方兼治夢遺，一劑可也。</p>
<p>何大仙曰：凡頭痛因風寒者宜酒，因火邪者宜茶也。</p>
<h3>曹大仙治痢疾方</h3>
<p>凡人夏秋之間，患痢便血，一日間至百十次不止者，至危急也。用白芍二兩　當歸二兩　枳殼二錢　檳榔二錢　甘草二錢　滑石末三錢　廣木香一錢　蘿卜子一錢。水煎服，三劑痊愈。些小痢疾，不必用如此之多，減半治之無不奏功。不必問其紅白、痛與不痛，皆神效。</p>
<h3>又治亡陽方</h3>
<p>凡人毋論有病無病，一旦汗出如雨不止，名曰亡陽，最危之症。急當補其氣，尚可挽回。</p>
<p>用地五</p>
<h3>果老大仙治斑疹方</h3>
<p>果老仙治斑疹。一時身熱，即便身冷，遍體生斑如疹者，乃火從外泄而不得盡泄於皮膚，故麻三錢　白芷一錢　白芥子三錢　沙參三錢　丹皮五錢。水煎服。一劑斑勢減，三劑斑影盡消矣。</p>
<h3>許仙治耳聾</h3>
<p>用珍珠一粒，外用龍骨末一分，以蜜調之，丸在珠上，丹砂為衣，錦裹塞耳中即愈。一月</p>
<h3>華真人治疝氣方</h3>
<p>用沙參一兩　橘核一錢　肉桂一錢　柴胡一錢　白芍五錢　陳皮五分　吳茱萸五分。水煎服</p>
<h3>又治婦人暗瘡</h3>
<p>婦人陰門生瘡作癢作痛者，以此方煎水洗之立效。方用：蛇床子一兩　花椒三錢　白礬三錢次，神效</p>
<h3>又治血上行不止</h3>
<p>血上行，不拘何處出血不止，用黃酒溫微熱傾盆內，將兩足泡一時許即愈。真神方也。</p>
<p>血上行，不拘何處出血不止，用黃酒溫微熱傾盆內，將兩足泡一時許即愈。真神方也。</p>
<p>血上行，不拘何處出血不止，用黃酒溫微熱傾盆內，將兩足泡一時許即愈。真神方也。</p>
<p>血上行，不拘何處出血不止，用黃酒溫微熱傾盆內，將兩足泡一時許即愈。真神方也。</p>
<p>血上行，不拘何處出血不止，用黃酒溫微熱傾盆內，將兩足泡一時許即愈。真神方也。</p>
<h3>北斗咒</h3>
<p>（此得之於陳喇嘛，昔在榆次王胡鎮，因辦差遇之，談此咒甚靈，有不可思議之妙，並囑有南（音那）無（音摩）　（音來）　哪。　夜耶。　你野他。曷伽摩西。麻伽摩西。</p>
<p>阿陀　（音麻裡支耶摩西忙）薩　（音伐）。薩　。難吒（音查）薩　。　薩　。婆喻叭（音八）　（音奈）　。</p>
<p>費（音未）避瓢。沙　賀。南無三李白大仙降壇云：此咒乃番音，以北音念之，南音即誤也。此西番高僧所作，念之即可消前丁已二月初五日，觀士音菩薩降壇，更正咒語注解云：此咒本吾親作，以度世間婦人女子。</p>
<p>私訛</p>
<h3>觀音咒</h3>
<p>南無（音那摩）大慈大悲救苦救難廣大靈感觀世音菩薩。南無佛。南無法。南無僧。怛（音達）</p>
<p>哆。娑訶。天羅將此咒刊以傳世，前誤者可改，後讀者可得真也。凡善男信女，持誦萬遍，刻印千章，以不乾隆五十四年，鶴亭丁憂回京，住包頭張兒胡同。子華文得時病，服藥無效，伊芳母林氏，夜早又五十八年，至山西省城，林氏偶得黃病，不食不睡，約有半月，吃藥無效，後夢神云：如半故參三實三錢又賜丸藥方：熟地四兩　黨參二兩　白朮二兩　茯苓二兩　半夏五錢　神麯五錢　白芥子三膝三又藥酒方：用燒酒十斤　木瓜一兩　牛膝五錢　杜仲一兩　黨參二兩　白芍一兩　當歸四兩兩。泡</p>
<h2>下卷</h2>
<h3>金母娘娘序</h3>
<p>嘉慶二年，秋七月，望日。余降機於凝碧西軒。因前鶴亭所刊濟世良方，未經全備，此番擇其最善者而加減之，又擇其議論之高妙者反復辯論，必求精詳。故令鶴等抄寫刊刻，傳以濟見切王鶴鳴弟子　柏鶴亭　敬刊張鶴舉奧妙獨辟，表率女仙，居西池之聖地，實參化於九天。蟠桃熟而開宴，玉液成而最鮮。</p>
<p>並非泥像（呂岩謹識）</p>
<h3>論病已將愈</h3>
<p>呂祖擇，天師論病將愈。飲食難消，胸膈不快，或吐酸，或溏泄，或夜臥不寧，或日間潮熱方用：人參一錢　茯苓二錢　白朮二錢　甘草五分　陳皮五分　製半夏七分，此六君子湯覺胸中少痛，加枳殼五分、山楂十粒；有痰加白芥子一錢；咳嗽加桔梗一錢；下一錢；腹中痛甚加肉桂五分、白芍一錢；頭暈加蔓荊子一錢、川芎一錢；上吐酸錢、倍加茯苓；飽滿加枳殼五分。</p>
<p>昴日星君曰：看之平淡，用之其妙莫測也。</p>
<h3>論大吐瀉渴滿發背癰腫之類</h3>
<p>呂祖選並加減，如遇大吐瀉渴滿發背癰腫之類，死亡頃刻，若不用大劑去邪去毒之藥，單刀之。</p>
<p>方用服則肉桂大瀉者乃火挾邪勢，將膀胱脾中水穀盡驅而出，腹必大痛，手不可按，完穀不化，飲食下喉乘參五錢　黃連三錢　車前子三錢　甘草八分。水煎服，一劑愈。</p>
<p>華真人曰：此方之奇，全在用大黃以利之也。然用大黃不多用參，有攻無補，致傷真氣，又議。</p>
<p>大滿，此邪壅住上焦而不得散也。方用：枳殼二錢　梔子二錢　栝蔞一個　天花粉二錢甘昴日星君曰：此方之妙，全在用栝蔞去胸膈之食，消上焦之痰，又佐枳殼、天花消中焦之勝散而發背癰腫前已定方，俱可通觀，故不再悉耳。奇談暢論無不入妙入神，又何能贊一辭。</p>
<p>然大寒在夏秋之間，將何以辨之？予辨之熱與痛耳，火熱者，口必渴，舌必燥，甚則生刺也，舌苔必黃灰黑色，腹必痛而手不可按也。寒瀉口不渴，亦不喜十分飲水，舌苔白滑而燥，腹痛喜手按是也。方當用補氣之藥，生其胃氣，佐以分消之品。方用：人參、白朮、附子、茯苓、澤瀉、豬苓、肉桂。水煎服。此五苓散加參者也。用時看病之輕重定其分兩可也。</p>
<p>葛真人曰：論妙用人參始能挽回垂絕之地，佐茯苓、白朮以去水濕之氣，又有附子、肉桂以而寒</p>
<h3>治瘡疥方</h3>
<p>華真人選擇，人生瘡疥者，用苦參四兩　生甘草一兩　金銀花一兩　蒼耳草半斤　荊芥一兩一日</p>
<h3>治手汗癩頭方</h3>
<p>昴日星君曰：妙。人有手汗出者，以黃　一兩　葛根一兩　荊芥三錢　防風三錢。水煎湯一更有癩頭洗方，用蝸牛三十條，水三碗，煎湯洗之，二次痊愈，亦神方也。</p>
<h3>治火鬱胸中方</h3>
<p>呂祖擇，人有火鬱於胸中而不得散，因達之外也。火氣熱甚而蓄日久，勢亦盛，往往變為火參四胃火未葛華真人曰：古今絕妙異方，目中不曾多見，此方實奇而當。予又擇一方，亦可少佐高深：白防風一錢　天花粉二錢。水煎服。此方專散肝木中之火，而諸經之火盡散矣。</p>
<p>昴日星君曰：妙極！予亦有一方治火丹神效。絲瓜子一兩　柴胡一錢　元參一兩　升麻一錢</p>
<h3>論病已入膏肓</h3>
<p>呂祖擇並加減。如病入膏肓，或在骨髓，或在腦中者，是此等症，非一朝能治，必須多服熟三晚服丸方：用紫河車一具　鹿角膠二兩　龜膠三兩　元參三兩　熟地八兩　山茱萸四兩地骨皮五兩　人參一兩　白朮五兩　白芍五兩　炒棗仁三兩　枸杞子三兩　麥冬三兩　人乳二碗浸熟地晒乾　砂仁五錢。各為末，每日半夜白滾水送下五錢。有力者參倍加。此熱不寒，可以長服。方名正中丸。病傷根本，扶之不易。譬如花木大肆摧殘，欲其枝葉之茂，豈能一朝成。必須培植終歲經年，自然春意漸回，萌芽可達漸漸扶蘇，而不可性急也。飲食更須得時。治之難從來眉　，切勿心急，以期奏功之速。前症十人只可逃一二，此治法非盡能救之也，但舍此再無治法，余憫世人，故立此方。倘肯聽吾言，斷絕色欲，口淡滋味，心戒貪嗔，自然服藥有功。否則只可苟延歲月而已，不可不告戒也。</p>
<p>華真人曰：妙。佛心神術，此症誠難速效。呂仙擇此平穩中實有妙理。予亦擇一方，亦極平苓三兩　蓮子半斤　白糖半斤。各為末，每日白滾水調服一兩。如不欲調服，以水打成丸如元宵服亦可。上下午服一丸，亦可為佐也。</p>
<p>果老大仙亦擇加減一方：芡實一斤　山藥二斤　黑芝麻八兩　小黃米三斤（炒）　苡仁一斤精。人何熱之有</p>
<h3>論久遠痿痙二症方</h3>
<p>呂祖擇，論人久遠之病不可以歲月計也。如病痿症、痙症是也。痿病必久臥床席不能即起，只治膝</p>
<p>《石室秘錄》論此方之妙，全在不去治陽明而直治腎經，補其匱乏，腎水一生，胃火自息。</p>
<h3>論腰背骨病腿酸目生肉</h3>
<p>華真人曰：妙。治法不獨痿痙之症，擇秘錄中如腰疼、背脊骨痛而腿酸痛、兩目生　肉是也而無不著苓一錢　肉桂三分　白朮五錢　甘草五分　山藥三錢　白芥子一錢。水煎服。</p>
<p>秘錄中此方最妙，入腎而去濕氣，多服為妙。腰痛初起，三四劑可愈。若至經年累月，非服一劑背脊痛者，乃腎水衰耗不能上潤於腦。河車之路，干澀難行，故爾作痛。一二劑不能見功，茱萸擇秘錄中論此方補氣，黃　、白朮補水，熟地、山茱萸去濕，茯苓去風，防風引經，附子、奏兩腿酸痛乃濕氣入於骨中，皮外無濕也。此病不只骨內，或被褥得之亦有。方用：苡仁二兩一錢。水煎服。</p>
<p>鐘大仙論，秘錄中此方妙在苡仁入骨而去水，芡實健脾去濕，牛膝、萆　最利雙足之品，肉桂引經直入於骨中，濕有不去，酸痛不止耳。必須多服方效。</p>
<p>肉攀睛眼病，失治而生肉，人不知避忌，將眼皮反轉以取涼快，誰知風中之，則眼毛倒生園決明兩。一料少愈，二料全可。最忌房事，能忌欲者</p>
<h3>治痙痿二症方</h3>
<p>呂祖擇論，痙病乃寒濕之氣集雙足之間，骨中寒痛不可止，亦終歲經年不能身離床褥，傴僂土無權經年仍一兩耗其真果老大仙曰：是。吾亦擇一方：白朮四兩　苡仁八兩　山藥八兩　車前子三兩　牛膝三兩　生黃　十兩　肉桂一兩　杜仲四兩。蜜為丸，每日飯前送下。</p>
<p>又治痿症方：元參一兩　甘菊花五錢　麥冬一兩　熟地二兩　牛膝五錢　天門冬三錢。</p>
<p>水煎昴日星君曰：此方與呂仙擇同，意俱妙。</p>
<h3>論病日重並發寒熱方</h3>
<p>華真人擇，治發寒熱較夜尤重，此等症必須從天未明而先截之。方用：柴胡三錢　當歸三錢一錢故擇此方者，妙在加柴胡一錢，參、　、歸、朮之中。蓋邪之感在日間作祟者，欺正氣之衰軟弱補正用也皮一二呂祖曰：日間發熱乃邪在於陽分也，補陽氣而邪自敗。方用：人參二錢　甘草一錢　白朮五名助</p>
<h3>論病夜重於日間方</h3>
<p>果老大仙擇，日重者已暢言之也。病重於夜者，至夜發熱，或寒少而熱多，或熱少而寒多方用生鐘大仙曰，此方妙在鱉甲、柴胡並用，又以諸補陰之藥合而功之也。鱉甲至陰之物，逢陰則生何須在</p>
<h3>論陰經帶陽經方</h3>
<p>華真人擇曰：真奇絕之論，何從而贊助高深，惟有陰經之邪盛，而又有帶陽經之邪尚未發明發熱藥，胡三錢方也。</p>
<p>鐘大仙曰：甚妙。</p>
<h3>論五臟受病法惟三</h3>
<p>呂祖擇，如五臟有病，治法補三，脾肺、腎肝、心腎同一治也。肺氣之傷必須補脾，補脾必不知不行子一錢吐嘔瀉症腎肝同治。腎水不能滋肝，肝木抑鬱而不舒，必有兩脅飽悶之症。肝不能生腎中之火，腎水歸五肝生命門之火乎。此有至理存焉，非吾輩安能闡發細底也。</p>
<p>再心腎治法，二臟合而治之其義何居。心，火臟也。心腎二經為仇敵，似乎不宜牽連而一治滋養術二兩五錢　遠志五錢　炒棗仁一兩五錢　熟地二兩五錢　山茱萸一兩五錢　麥冬一兩五錢神一於治華真人曰：治臟之法盡於三方，無可再議。但肺忽感風寒而鼻塞出嚏，咳嗽不已，吐痰如敗干一今予擇此方者，全妙在桔梗升提引去痰之品，上行於肺，以散風寒之邪，邪散則鼻塞頓除，</p>
<h3>論肺熱移於大腸治法</h3>
<p>《石室秘錄》中脾虛熏肺之症，方用燥脾利濕，如肺熱移於大腸者，又宜清肺潤燥法治之，</p>
<h3>論變症治法</h3>
<p>華真人擇，論變症不同，用藥各異。如傷寒變為結胸，瘧疾變為下痢，中風變為發狂，中暑則結其蔞陷於脾瘧疾變為下痢，輕變為重，欲發汗則身已亡陽，欲祛邪則已變物，顧上則慮下，顧下則礙上五錢則下今生，外邪自散，此治下痢而瘧病同除，此種治法，何可不知。</p>
<p>中風危症況變為發狂，死在眉睫，不以變法救之何以得免。方用：人參一兩五錢　菖蒲一錢項煎若蒲痰中暑原熱症，亦由於氣虛。氣實形壯者多難中暑。中暑宜補為先，解暑為次，人以為熱也，則參血，五味收斂肺氣，不止汗而汗止矣。若以四君子湯平常治之，一杯水何能止車薪之發焰哉反胃初起，未嘗非胃病，以逍遙散加黃連一錢立止。無知世醫不知治法，乃用香砂、厚朴、不應，防風、蘇冬三錢胃，正所以而干，則飲純補腎中哉。此腎水翻胃之名雖同，翻胃之實各異。腎中無水而翻胃者，食下喉即吐；腎中無火而翻胃者，食久山茱萸四錢　麥冬五錢　北五味一錢　茯苓二錢　山藥二錢　丹皮一錢　澤瀉一錢　牛膝一錢。水煎服。此方八味丸湯也。妙在用附、桂補水中之火，脾胃之氣必得命門之火始生。譬如釜下無火，何以煮爨，水冷金寒，結成冰凍，必得一陽，初復之氣始解陽和，人之脾胃亦然。然而寒症，該腹心疼痛，今反此症乃上越而吐者何也？脾胃有出路，則寒邪之氣不留於中，今日日上吐，將胃口咽門已成大道，熟經往來無所阻滯，則徑情趨奔，其勢甚便，又何必積蓄於中州，盤踞於心腹，顛寒作熱，以苦脾胃哉。此心腹之所以不痛也。又不治反胃，此正所以治反胃也。</p>
<p>昴日星君曰：說得暢，我不能言，反胃用逍遙散加黃連，此必食入即吐之症。如朝食暮吐者</p>
<h3>論病初起治法</h3>
<p>呂祖擇，論凡人初病，藥易奏功。無如人看不清，用藥錯亂，變症蜂起，苟認得清用藥當，防風傷寒之初起也，鼻塞目痛，項強頭痛，切其脈必浮緊，此傷寒也。方用：桂枝一錢　甘草一傷食之症，心中飽悶，見食則惡，食之轉痛，此傷食也。方用：白朮一錢　茯苓一錢　枳殼水初治之方也。</p>
<h3>論傷暑傷濕燥症火症方</h3>
<p>藍大仙曰：此三方而初起之症定之矣。今余又擇此初病傷暑，必然頭暈口渴惡熱，甚則身熱錢傷濕初起之時，必然惡濕，身重足腫，小便短赤。方用：白朮三錢　澤瀉三錢　豬苓三錢然。</p>
<p>燥病初起，咽乾口燥，嗽不已，痰能吐，面目紅色，不畏風吹者是也。方用：麥冬五錢　桔梗三錢　甘草一錢　天花粉一錢　陳皮三分　元參五錢　百部八分。水煎服。一劑燥止，三劑痊愈也。</p>
<p>火症初起，必大渴引飲，身有　點，或身熱如焚，或發狂亂語，方急用：石膏三錢　元參一劑痊也，昴日星君曰：妙甚。暑症未有不兼濕者，故方中多用朮、苓，善。</p>
<h3>論病好後調理三方</h3>
<p>鐘大仙曰：病已愈為善後之計，吾亦擇數方何如。傷寒邪已盡退，正氣自虛，理宜補正，恐腎之方用子一中暑傷氣而調理之法，不可治氣，宜補血為主，但陽傷陰血亦耗也。方用：當歸一兩　白芍陰中風亦氣虛也，此只宜補氣，不可補血也。因血滯而後中風，再補以增氣滯也。方用：人參陳皮五者，可葛真人曰：妙極矣。予擇此方當亦補之，中濕之後水已瀉盡，法當健脾兼補命門之火，以生煎服火症既已散盡，不可一味瀉火，恐胃氣受傷。方用：熟地一兩　元參五錢　麥冬一兩　牛膝味治之可也。</p>
<h3>一方可治二症方</h3>
<p>董大仙曰：以上諸方各盡其妙，吾不能言之也。余亦擇一論，如四物可治吐血，又可治下血用血母於六君子湯同治之法可不審乎。</p>
<p>何大仙曰：秘錄中不只三方，再擇之。歸脾湯可治鬱怒傷肝，又可治心虛不寐；小柴胡湯可湯可脫；</p>
<h3>人久坐必使行動然後用藥法</h3>
<p>呂祖擇，如人久坐，則血滯　疏，久臥則肉痿而骨縮，必使之行走於途中，而後以藥繼之也方用：當歸一兩　白芍三錢　黃　一兩　甘草一錢　陳皮五分　防風五分　半夏一錢。</p>
<p>水煎未補余果老大仙曰：此方妙絕。</p>
<h3>論過勞當逸服藥法</h3>
<p>華真人擇，如人之過勞當勸其安閑，而後以藥治之。太勞則脈甚浮大不倫，按之無力，若不隨萸神有偏勝之禍也。幸為留意。</p>
<p>果老大仙曰：方劑有法。</p>
<p>昴日星君曰：勞逸得宜，予擇二方，一治氣之勞，一治血之勞。</p>
<p>勞氣方：人參三兩　黃　三兩　茯苓四兩　白朮八兩　白芍三兩　陳皮一兩　炙甘草八錢者宜左手脈大於右手者，乃傷血也。另立一方：熟地八兩　白芍八兩　當歸四兩　山茱萸四兩橘錢，</p>
<h3>治病厥當立飲法</h3>
<p>李鐵拐大仙擇，論人病厥多兩手反張，兩足轉逆，必須立而服藥，不可不知也。此病原是熱症，熱深則厥亦深，倘令其臥而服藥，藥到胃一遇火氣沸騰沖擊，而不相入，反致吐出者比比也。我今立一法，立而服藥，則斷無吐出之虞。方用：黃連三方俟尚有腰疼之症，亦宜立而飲。蓋腰屬腎，腎虛而後腰痛，痛久則腎宮益虛。總有補腎之藥北五味一錢　麥冬二錢　白朮一兩　杜仲五錢。酒煎服。此雖妙，非立飲不能直入腎宮，皆立飲之妙也。</p>
<p>呂祖曰：立飲之症無多，只此二症不再選。</p>
<h3>治目痛方</h3>
<p>曹大仙擇，論目痛肝經之病，宜治肝矣！亦不治肝。方用：黃連一錢　花椒七粒　明礬三分　荊芥五分　生薑一片。水煎半碗，乘熱洗之，日洗七次，明日即愈，此治火眼之法。</p>
<p>若虛火之眼，又不如是。方用：人乳半盅　生地二錢　葳蕤仁五分（去殼取一分研碎）　明礬無紅鸞侍者曰：予亦有治眼痛方。方用：柴胡、防風各二分　黃連三分　花椒三粒　明礬一分何大仙曰：余擇一方最妙：人乳一合　黃連三分　大棗一個　人參三分。水半盅，同煎二沸耳。</p>
<h3>治兩脅背手足生瘡毒方</h3>
<p>華真人曰：如人胸前、乳上、兩脅、兩背、兩手生瘡是也。統治中焦部位之瘡，無不神效子方消劉仙曰：真人擇選統治瘡之方妙甚。余擇一方：用生甘草一兩　當歸一兩　蒲公英一兩黃神</p>
<h3>治諸瘡方</h3>
<p>柳仙曰：予亦擇一方，統治諸瘡。方用：天花粉三錢　生甘草一兩　金銀花一兩　蒲公英五華真人曰：予同意無可語。</p>
<h3>治騎馬囊癰等症方</h3>
<p>呂祖擇，囊癰、騎馬癰等最難治。此皆少年人不保重，或串花街柳巷，或貪倚翠偎紅，忍精歸一此毒</p>
<h3>治鶴膝風多骨疽足疽方</h3>
<p>鶴膝風法此，因濕而戰立而行房，水氣襲之故成此疾。方用：黃　八兩　肉桂三錢　苡仁四一服肉多骨疽乃生於大腿之中，多生一骨者是，乃濕熱而生也，治得法則易，否則變生可畏。</p>
<p>方用生甘草夾出骨非骨足疽亦濕熱也。方用：金銀花一兩　蒲公英一兩　生甘草三錢　當歸一兩　苡仁二兩。</p>
<p>水也。</p>
<h3>治腳脛生爛瘡腿癰方</h3>
<p>腳脛生爛瘡亦濕熱也。往往兩腿腐爛，臭氣難聞，先以蔥湯洗之，後以白蠟一兩　黃丹二兩鉛粉錢。各細面，乘蔥湯洗濕之時，滲在瘡口之上，必然癢不可當，但不必流黃水如金汁者數碗。再用蔥湯洗之，又滲又洗，如是者三四次，日用前膏藥以原皮攤貼，仍入藥末加入二錢貼之，任其水出。倘癢之癢。貼二膏即止水，痊愈。</p>
<p>腿癰即照多骨治法，不再立方。</p>
<p>腳脛爛方，內服湯藥。方用：金銀花一兩　薏仁二兩　茯苓一兩　生甘草五錢　牛膝五錢金毒，藍大仙曰：最妙。下治之法盡之矣。余今也擇一方，多骨之生，雖由於濕熱而成之，不由於一兩樣，任韓大仙曰：吾亦擇治多骨之方，內消之法，最奇效。大凡毒至於環跳之間者，即骨疽也。</p>
<p>方碗可也。</p>
<p>華真人曰：鶴膝風，古方多用大防風湯，內氣血並用，以病在下焦陰分故也。此除去血藥，</p>
<h3>治人忽然仆跌方</h3>
<p>曹大仙擇，如人忽然撲跌為災，此非內外之症也。又一門也。方用：當歸五錢　大黃二錢煎為倘跌傷手足斷折，急以杉板夾住手足，不可顧病患之痛，急扶正之，再用藥服之可也。</p>
<p>方用十個（末調服一也。躑躅之處。況即缺而之，後呂祖曰：方至此神矣、聖矣、化矣，亦何能贊一言。我惟有前方煎藥內少為商酌者，第一方瘀血果老大仙曰：無可言。</p>
<h3>治傷寒陽症諸方</h3>
<p>呂祖擇，陽症甚多，不能概舉，姑舉一二症大者言之。傷寒發斑，身熱心如火，口渴呼水，日芩桑白皮五錢。一劑消大半，二劑痊愈。此方妙在元參去其浮游之火、胃中之熱，且性濕潤，斑雖火熱，不能外越，少潤即可出也。黃芩涼其胸膈，麻、防引散其火，更佐之麥冬、生地清肺熱，清肅下行而中焦之火盡化為烏有也。</p>
<p>至於中暑之病，亦陽火邪熾也。青蒿五錢　石膏五錢　麥冬五錢　半夏一錢　黃連一錢人錢華真人曰：妙論，出奇不窮。陽症固多，二症最急。呂仙特舉之，予再擇之一則，傷暑中之陰者當清服。</p>
<p>劑，一陽症之火，瀉也。完穀不化，飲食下喉即出。一日或瀉十余次，或數十次數百次，人以為乎宜茱萸昴日星君曰：無一論不奇妙。</p>
<h3>治腎水虛寒兼感寒氣方</h3>
<p>呂祖擇，如腎水虛寒又感寒者，或腎水虧竭夜熱晝寒，此等若認作陽症治之，則口渴熱益熾足而三錢乃治茱得況於故表而出之。倘只用附、桂祛寒，未嘗不效，邪去而陰消必然枯渴，或治之不得必有亡陽之症，愿人加意，水中補火更於水中去邪也。</p>
<p>葛真人曰：妙絕之論，發千古所未發，何以再贊高深。然尚有一方，參之前症乃陰虛火動也陰之</p>
<h3>治強陽不倒痿陽疝病方</h3>
<p>鐘大仙擇，男子與女子殊者，疝病，強陽不倒，痿而不舉。然而與婦人異者，只狐疝不同耳氣，桂強陽不倒，虛火上炎，肺金之氣不能下行故也。若用黃柏、知母煎湯飲之，立時消散，倒後全在肅下至於痿而不振者，乃過於琢削，日消其腎水，腎火亦消泄耳。方用：熟地一兩　山茱萸四錢杜仲則火韓大仙曰：余亦擇此方，可並傳之狐疝方：白朮五錢　沙參一兩　柴胡三錢　白芍三錢王陽倒不舉方：熟地一斤　肉桂三兩　覆盆子三兩　黃　二斤　巴戟六兩　柏子仁（去油）三矣。</p>
<p>華真人擇，治疝方：用沙參一兩　橘核一兩　肉桂一錢　柴胡一錢　白芍五錢　陳皮五分自隨手而奏功也。</p>
<h3>治嘔吐痛瀉方</h3>
<p>果老大仙擇，熱症與寒症不同，舉一二言之。如嘔吐不已，食久而出者是也。或下利不已，可止食脾兩為丸藍大仙曰：此方之妙，全在用腎藥居多，胃藥居少。尤妙在用溫熱之品，補腎補土之中，則存治曹大仙曰：真妙絕之論，快心之語。前言補腎之法，而余擇一論，乃言補心方也。胃脾雖同補，當補心中之心，分脾果仙擇治心腎兼補，予可不必擇方，然而治脾胃兩虛者用之神效，若單胃虛胃寒者，自宜獨蒲三錢炒棗仁足自然生華真人曰：治法與余相同，無可言，妙極。</p>
<h3>治氣虛下陷方</h3>
<p>李鐵拐大仙擇，如氣虛下陷，因飢飽勞碌內傷正氣，以致氣乃下行，脾胃不能克化，飲食不輕則致膨三分以為即以此方麻用於參補者不至則柴、苟或不然華真人擇，補中益氣湯從無言此痛快者，何幸得如是之褒揚哉，吾何言乎。惟是陽虛下陷者止，藥三陰中</p>
<h3>治胸腹疼痛方</h3>
<p>何大仙擇，人腹中痛，手按疼甚，或胸中傷食，皆宜墮之也，如何。方用：白朮二錢　枳殼但消導之品足矣，何又以加朮、芍。蓋傷食，食不能化，結在胸中以致痛。若徒消食不健胃之氣，土弱而難化物之速。故用術以健胃口之氣，以生其脾內之陰土，氣有餘食何難消哉。</p>
<p>若肝經乘我之困，來侵脾胃之土，所以加白芍以平肝木，此墮治之妙法也。</p>
<p>至於氣挾食存於大腸，大腸內火氣炎蒸，夾食作祟，痛而不可手按，是食已離脾胃，可攻之此大但其功，許大仙曰：不可思議之論，予又擇《石室秘錄》中更有一症相商，有人成痞塊，一時發作一備，知之張大仙曰：吾擇一方，如人腹痛手不可按。方用：枳實一錢　大黃二錢　生甘草一錢　白芍</p>
<h3>治欲吐不吐並噴嚏方</h3>
<p>華真人擇，尚有二法未傳，一陰陽湯也。法用滾水、涼水各一碗，均之，加炒鹽一撮打百余一噴嚏之法未授也。用生半夏三錢為末，水丸如黃豆大，入鼻中必噴嚏不已，用飲之立止。</p>
<h3>治關膈等症並夢遺脫精方</h3>
<p>關膈症上不得入，下不得出，病在上下二焦，而根實本於中焦。以黃連湯進退法兼朝服八味我有夢遺方最妙。方用：白朮八兩　山藥八兩　人參二兩　生棗仁四兩　遠志一兩　麥冬此乃遇交感脫精，急以人參三兩煎湯灌之，故是奇妙。然貧家何以救之，我有法，用人抱起，以可</p>
<h3>治吐血神方</h3>
<p>昴日星君曰：不畏泄漏天地之奇也，予擇一吐血妙方傳世。方用：生地汁一碗（無鮮生地處可治也柳大仙曰：妙，簡便之甚。</p>
<h3>治虛寒久病方</h3>
<p>呂祖擇，如虛寒之人，不可日斷藥餌，參、苓、　、朮之類，日日煎飲，否則即昏眩怔忡是五分心不寧加生棗仁一錢；不寐加熟棗仁一錢、遠志一錢；飽悶加白芍一錢；口渴加當歸二錢、夏五加柴胡痛加肉華真人曰：甚妙。</p>
<h3>論人歌色脈息法</h3>
<p>葛真人選，凡治人必須看病患色澤之真偽，脈息之虛實，有神無神，問病患之喜好，食若何，有痰無痰，痰之色若何。再察病患舌之顏色若何，滑與不滑，能食不能食間痛不痛，試觀其情意，詳審其從違，徐聽其聲音，再聞其氣息，病之症了然於心患不得哉。</p>
<h3>論辨真假虛實陰陽寒熱法</h3>
<p>呂祖擇，近日醫人不能知病之真假、症之虛實、陰陽寒熱，而妄治之也。信口雌黃全無見識視熟作驚鄙茱病難攻，悟於指下求得，庶投之而燥調；見利功之術，臨症切須詳審，慎弗忽略。</p>
<h3>論因病患之意用藥法</h3>
<p>華真人曰：醫者，意也。因病患之意而用之，一法也；病症之意而用之，一法也；因時令之物投吾藥見弓生疫或思而昴日星君擇，通神之治不可思議，而測度之以人謀也。或剖腹以洗腸，或決竇以出鳥雀，此之</p>
<h3>論春夏秋冬導引法</h3>
<p>鐘大仙曰：春夏秋冬各有其令，得其時則無病，失其時則病生矣。有導引法欲傳世久矣，今先春養陽法：每日閉目冥心而坐，心注定腎中，咽津七口送下丹田，起立雙手自抱，兩脅微行六先夏養陰法：每日閉目冥心而坐，心中注定於心，咽津十四口送下心中，永無暑氣之侵。</p>
<p>先秋養陰法：每日閉目冥心而坐，心注肺中，咽津送下丹田者十二口，以雙手攀足心者三次，候氣定，再如前送下丹田者七口而後止，永無燥熱之病。</p>
<p>先冬養陽法：每日五更坐起，心中注定兩腎，口中候有津水送下丹田者三口，不必漱津，以何大仙曰：妙方也，惜乎人不肯耳，行則不但卻病，更可長生，即婦人女子亦可行也。</p>
<h3>治膿窠瘡頑癬粉刺方</h3>
<p>董大仙擇，人生肌膚之病，從腠理而出，較皮毛略深，如人生膿窠瘡、粉刺、頑癬之類是也膿窠瘡用：當歸三錢　生地三錢　熟地三錢　白芍三錢　麥冬三錢　天門冬三錢　川芎一錢服。</p>
<p>如掃粉刺之症，乃肺熱而風吹之，多成此症。雖無關人病，然美婦嬌女各生此病，亦欠豐姿。</p>
<p>我為滅惟有頑癬之方最難治理，然亦易收功。方用：楝樹皮一兩　白薇一兩　輕粉三錢　冰片一殼扒碎</p>
<h3>治凍瘡坐板瘡方</h3>
<p>紅鸞侍者曰：凍瘡乃人不能耐寒而肌膚凍死，忽遇火氣乃成凍瘡。耳上凍瘡，必人用手去溫分，以藥，只坐板瘡亦是肌膚之病。輕粉一錢　蘿卜子三錢　冰片半分　杏仁（去皮尖）十四粒。研為末</p>
<h3>治虛勞怔忡驚悸方</h3>
<p>許大仙擇，如人病虛勞，四肢無力，飲食少思，怔忡驚悸，失血之後，大汗之後，此等症不必有歸血之張大仙曰：治法甚妙。余亦擇一方可存。熟地五錢　山藥一錢　茯苓一錢　甘草一錢　女貞砂之華真人曰：可並傳。</p>
<h3>治夏月思睡不足方</h3>
<p>劉仙擇，如人夏月無陰，到三伏之時，全無氣力，悠悠忽忽，惟思睡眠，一睡不足，再睡不以如茱萸生棗凡小兒女子十歲上下者，天癸未至，亦有患前症者，豈皆冬不藏精之故耶。小兒最不忌口，亦茯苓一錢　熟地三錢　北五味五分　麥冬一錢　白芍二錢　陳皮三分　山楂三粒　枳殼二分人參五分。水煎服。一劑立愈，不必再服也。小兒純陽，尤易奏功，不若大人之必須多服也。小兒最宜先服一二劑，再無注夏之病，留心兒科者當察之。</p>
<h3>治陽明各臟腑之火</h3>
<p>呂祖擇，如治陽明之火，則五臟之火，各腑之火，無難治矣。陽明，本胃土也，如何有火？辛涼之不看火勢參三錢始可放以急救倘無汗而渴，明是腎有餘火，而腎水不足，用此恐傷其腎水乎！當用：熟地三兩　山茱萸二也。</p>
<p>其余心火用黃連，肝火用梔子，肺火用黃芩，前悉之矣，藥不再贅。</p>
<h3>論肝經之火</h3>
<p>昴日星君曰：妙。不意此論闡發，如此大快也。然予亦擇一說，陽明之火，雖起於心包，實火則大用石肺金之兩知加白芍二在麥冬以</p>
<h3>論治各經之火</h3>
<p>果老大仙曰：予乃論各經之火並傳子。梔子三錢　白芍五錢　甘草一錢　丹皮三錢　元參三各一治肝味去</p>
<h3>治拂逆之症</h3>
<p>昴日星君曰：如人病拂逆之症，躁急之狀不可一刻停留，此火鬱而不得舒，故爾如此。</p>
<p>倘用則一火</p>
<h3>治氣燥方</h3>
<p>柳仙曰：妙。從無人講至此更欲立方，而不可得。氣燥乃氣中有火也，亦宜靜法待之，予亦錢血燥乃血熱之故，往往鼻衄流血，心煩不寐，不能安枕、怔忡等症。方用：當歸三兩　芍藥炒棗仁一錢。水煎服</p>
<h3>治手足麻木不能動轉方</h3>
<p>呂祖擇，如雙腳麻木不能履地，兩手不能執物，法當用火竹筒一個，去其中間之節，以園木而踏薏仁必遂不能伸縮如意，必使動之而後用藥也。</p>
<p>兩手之動，必使兩人反轉病患之手在背後，以木槌轉捶之，捶至兩臂酸麻，而後以湯藥與之服。</p>
<p>否則華真人曰：治法最妙。予更有法於二症，尤當。使人抱起坐了，以有力者將其手延拳回者不</p>
<h3>治四季病症方</h3>
<p>董大仙擇，春、夏、秋、冬治法：春宜疏泄，夏宜清涼，秋宜順其氣之肅，冬宜順其氣之寒中，春用方：人參一錢　黃　一錢　柴胡一錢　當歸二錢　白芍三錢　陳皮五分　甘草一錢神夏用：麥冬三錢　元參三錢　五味子一錢　白朮五錢　甘草一錢　香薷八分　神麯三分茯秋用：麥冬五錢　北五味一錢　人參一錢　甘草一錢　百合五錢　款冬花一錢　天花粉一錢冬用：白朮五錢　茯苓三錢　山茱萸二錢　熟地五錢　肉桂三分　生棗仁一錢　枸杞子一錢紅鸞侍者曰：春用參、　以理氣，有柴、芍、歸以養肝，而舒木氣，不克脾土，自然得養矣斂不補減</p>
<h3>論治傷寒方</h3>
<p>李白大仙曰：吾閱醫書，傷寒門最為緊要。兩感隔經，前書已載明不論外，今有發狂登高而首畏退。</p>
<p>膏三膏胱，二劑此方傷寒發斑者，死症。遍身發斑者，似重而反輕，只心窩發斑似輕而反重。心窩發斑者，熱存參三必須滋心以和結胸煩燥者死，不可下，即下亦死也。結胸煩燥者，胃氣之將絕也，胃絕津液何生，津液既生也方用：天花粉五錢　枳殼一錢　陳皮五分　麥芽三錢　天門冬三錢　桑白皮三錢　神麯三錢枳殼花粉速其有臟結之症，載在太陽經中，其實非太陽經也。載在太陽經者，何故？正辨其太陽經，有似重白朮五錢　甘草一錢　附子一錢　當歸一錢　肉桂五分。水煎服。白朮利腰臍之氣，人參救元陽之絕，當歸活周身之血，甘草和中以定痛，附、桂散寒以祛邪，臟中既溫，結自散矣。</p>
<p>如有人直視、譫語、喘滿下利，死證也。苟有一臟未絕，尚可治之。方用：石膏五錢　人參止傷寒壞症，已汗、已吐、已下，而身仍熱者，不治之症也。今特傳奇，以救三者之失。</p>
<p>方用歸五生也少陰症，惡寒、身蜷而下利，不治之症也。陽氣將絕，急用補陽之藥挽回也。方用：人參二痊愈吐利兼作、煩悶、手足四逆者，死症也。然而治之於早，未嘗不可救也。方用：人參二兩下利雖止，而頭眩昏暈，亦是死症。陽雖回而陰已絕，今因陰絕，而諸陽上聚於頭，陽尚未四逆惡寒身蜷，脈不至，不煩而燥，本是死症。為可救者，脈不至，不煩而燥，則陽未絕，心息高見於六七日之間，是少陰之症，非太陽症也。息高者，鼻息微小耳。此乃下元之真氣欲兩也。</p>
<p>傷寒少陰症，脈微細沉，欲臥，汗出不煩，自欲嘔吐，至五六日自利，復煩躁不能臥者，死兩脈遲是寒，誤用黃芩湯益加寒矣。寒甚反能食，病名除中。胃寒而加之寒藥，反致能食者，氣除肉桂傷寒六七日，脈微手足厥冷，煩躁，厥不還者，死。陰症發厥，灸其厥陰之經，亦不得已之參附服，從臍始傷寒發熱而厥者，便有可生之機，邪往外出也。然厥可一二，不可頻頻，下利至甚，如何可通達煎服傷寒熱六七日不下利，忽然下利者，危症。況汗出不止乎，乃亡陽也。有陰無陽，死症明矣生。</p>
<p>錢。</p>
<p>下利手足厥冷，無脈，急矣。其關元之脈者，非灸不能出也。灸之後，脈仍不出，反作微喘三錢　熟地五錢　甘草一錢　附子一錢　名為還脈湯。一劑而脈出者死，若漸漸而出者可望全生傷寒　下利十余行，脈反實者，死。何也？亡陽宜脈之虛弱，而反不虛，現假實之象也。是正也。方用呂祖曰：妙論如見，吾不能言之矣。</p>
<h3>治產後諸症方</h3>
<p>紅鸞侍者擇，產後感太陽風邪。大喘、大吐、大嘔，不治之症也。喘則元陽將絕，況大喘乎死方服產後感少陽風邪，譫語煩躁，更加驚悸者，死。少陽，膽經也。膽中無汁，則不能潤心，心減熟地五錢。水煎服。芎、歸生血養心，參、棗、麥、茹、砂心腎兩濟，何煩躁驚悸之不愈乎。</p>
<p>產後感陽明之風邪，大喘大汗者不治，此病該用白虎湯，而產婦氣血虧損如何用之，今另立而不損臨月忽感少陰經風邪，惡寒蜷臥，手足冷者，不治之症也。少陰，腎經也。此症多不能治。</p>
<p>脾胃一劑月之白老婦產後手足青，身黑，不救。此陰寒之最重，毒瓦斯之最酷者，原無方法可治，然見死須救服產後吐蛔蟲者，不治之症也。胃氣將絕，蟲不安身耳。蓋人臟既絕，蟲亦寂然，今紛然上吐薇肉產後患厥陰症，嘔吐，兩脅脹滿者，必便血，不治之症。傷肝血乃下行，本無血而又傷血，煎服產婦感水腫，以致面浮、手足浮，心脹者。然此浮非水氣也，乃虛氣作浮耳。方用：白朮二也。產婦痢痰而又嘔逆者，必死之症也。吾有一方，不必服藥。將田螺一個搗碎，入麝香一厘，草一產婦一身發黃者，濕熱壅滯而不散。欲治黃，氣血更消，欲補虛，而濕黃更甚，而醫人束手虛而發黃者，並治之。方用：白朮一兩　薏仁二兩　車前子五錢陳五分。水煎服。非產婦者茵陳三錢、肉桂五分可也。</p>
<p>產婦濕氣感中於包絡，下陰腫脹，小水點滴不出，死症也。今不由膀胱小便而出，盡入於胎化。產胱之氣自前子三錢　人參五錢。水煎服。此方因腎水之通，自能化水而分消於出，此實有妙用，非泛然以立方也。</p>
<p>血崩之後，口舌燥裂不能飲食者，死。方必須使精血重生，當上下兼補。方用：熟地一兩味二生而有人燥極，口吐白沫者，不治之症也。苟不速治，白沫變成綠痰，斷不能治也。方用六味味一產後大便結燥，欲解不能解，煩躁身熱者，往往不救。必須用地黃湯大補之，然後可生也。</p>
<p>皮五產後血燥成癆瘵者，乃產怯也。亦緣失於調理故成。方用：熟地一兩　當歸一兩　黃一兩以此</p>
<h3>治產後心腹痛方</h3>
<p>張大仙曰：產後諸方，無一不妙，吾不能贊一詞也。吾亦有治心腹痛之方，亦不敢秘。</p>
<p>心痛反冷治寒痛方：良薑三錢　肉桂一錢　白朮三錢　甘草一錢　草烏一錢　蒼朮三錢　管仲三錢。</p>
<p>治火痛方：炒梔子三錢　甘草一錢　白芍二錢　半夏一錢　柴胡一錢。水煎服。此妙在白芍即可脅痛乃肝病，宜順不宜逆，逆則痛，痛不止則死矣。故須平肝，平肝必須補腎，腎水足而肝錢而痛腹痛之最急者，絞腸痧也。世人俱用官料藥者多。吾有一方最妙。方用：馬糞一兩，炒黑，用土</p>
<h3>治癭瘤方</h3>
<p>華真人曰：自青囊失後，數千載矣，今不敢以傳世，嘆前車可鑒。今以癭瘤之類，吾不敢秘而身過如粉瘤三年之後，自然出粉，如線香出盡自愈。</p>
<p>肉瘤最易治，用水銀一錢　兒茶三錢　冰片三分　硼砂一錢　麝香三分　黃柏五錢　血竭三物瘤根大難治，不時而動，無故而鳴，或如蟲鳥之鳴，必須用刀破其孔，則物自難居，必然非理血竭三三分　兒癭不同，形亦各異，然皆濕熱之病也。由小而大，大而破，破必死也。初起之時，即宜用小半日作點藥用：水銀一錢　硼砂一錢　輕粉一錢　鵲糞一錢　鶯糞一錢　冰片五分　潮腦五分綠則可故煎方：人參三錢　茯苓五錢　薏仁一兩　澤瀉二錢　豬苓一錢　黃　一兩　白芍五錢生甘若犯</p>
<h3>治遍身作痛方</h3>
<p>昴日星君曰：妙極。吾又擇一方，如人遍身上下由背起而至於腰膝兩脛，無不作痛，飲食無骨節骨傷腎，腎傷則邪欺正，久住不肯透出矣。雖然腎不可泄，而胃與大腸而胃之風濕可去也。方用：黃　一兩　白朮五錢　茯苓五錢　甘菊花草一錢　防風五分　羌活五分。水煎服。一劑而痛減，二劑而痛除，用八味地黃丸調理，永無再犯之患也。</p>
<h3>治遍身生塊方</h3>
<p>藍大仙曰：甚妙。吾亦擇一方，如人遍身生塊而痛者，人以為痛風也。然雖是痛風，因濕氣楚亦只錢痛止</p>
<h3>治遺尿方</h3>
<p>有夜臥遺尿者，其人畏寒喜熱，面黃體怯，大便溏泄，小便勤，以為小腸之虛也，誰知是腎劑止一年老，不必夜臥而遺，雖日間不睡而自遺也。較前更重，此命門寒不能制水也。夫老人孤苓此</p>
<h3>治脫肛方</h3>
<p>劉仙曰：妙極。吾擇一方，治脫肛者，久則澀痛，人以為腸虛下陷，誰知是陽氣之衰，不能污穢之品白</p>
<h3>論脫肛方</h3>
<p>柳仙曰：最妙。然亦有不大便而脫肛者，人以為氣虛下陷也，誰知是大腸之火奔迫而出。</p>
<p>大大等自安矣。方用：元參一兩　石膏三錢　熟地一兩　陳皮三錢　地榆錢（炒黑）　荊芥三錢。水煎服。一劑而痛安，再劑而腸升，三劑而兼清大腸之火，水源不斷，火氣自消，故園有可歸之途，有不急返</p>
<h3>治兩足紅腫方</h3>
<p>蓮池大士擇，人忽得兩足紅腫而發熱作癢作痛，誰知是香港腳之症。傷寒中原有香港腳之門，然宜斷炒山梔一錢　薏仁一兩　澤瀉三錢　木瓜一錢。水煎服。一劑而小便利，二劑而身熱解，再二劑而腳腫消，又二劑而痊愈也。斷不可用風藥，則引陰濕而入於陽分，反成不治之症，甚矣。散邪之藥亦斷不可用，香港腳之病即生於冬月，尚不可用散邪之藥，何況春夏秋令哉。</p>
<h3>治人服諸毒方</h3>
<p>一人有服砒霜者，疼痛欲死。蓋砒霜不過石經火　煉，何至以毒至若此，而人不知，砒霜生救之食之參一人有服斷腸草者，初則胸前隱隱作痛，久則氣不能通，大小便均不能出矣。斷腸草者，鉤往短錢一治鴆酒，方用：金銀花八兩（煎湯取汁二碗）　白礬三錢　寒水石三錢　菖蒲三錢　天花粉再一人食鱉而腹痛欲死，往往有發青而死者。夫鱉本無毒，然多化生，有蛇化者，蛇化最毒，肉一法，合而用之，則鱉毒易消。枳實走積，茯苓利水。水族之毒隨水而化，易於救之耳。</p>
<p>一人有道途之間，誤服蒙汗藥者，口吐涎沫，眼瞪不語，並燒悶香者同。雖冷水可解，少蘇錢醉也一兩廣之間，多下蠱毒於飯食之中，人食之則兩目漸黃，飲食倦怠，或一年無藥解之，必致收之化之痰裹之方用而胸一人有食牛犬之肉，一時心痛，欲吐不能，欲瀉不可，結於心胃，不升不降也。方用：山牛犬一人有短見，服鹽鹵者，必用甘草以解之。甘草三兩，煎湯救之。服鹵未久，加豆豉一兩同有人愛飲燒酒，大醉而死。燒酒大熱，不比黃酒，易於飲下，往往大醉不勝，以至火焚其身方一一人有大笑不止，或背人處自笑，異於平時，人以為有邪也，誰知是心包之火盛乎。心包者為自錢柳仙曰：妙極。吾何言之，但予尚擇一方，有人笑哭不常，以為鬼祟也。誰知是積痰類祟乎而胃苦痰哭，方用鵝翎</p>
<p>華真人、呂大仙、昴日星君曰：以上諸論皆詳細明晰，惟傷寒症最難，而最易也。蓋邪有來是斷其可以件件</p>
<h3>呂祖論黨參可代人參法又附經驗方</h3>
<p>呂祖曰：此書既成，人有不能用者，方內人參太多，貧人不能用，吾故告之。貧人與膏梁子雖世呂祖經驗方治痢疾丹方用：香附一斤（鹽水炒）　烏藥六兩（炒）　檳榔六兩（炒）　蒼朮六兩（炒）</p>
<p>青皮六丸，如綠豆大，歲君是火，未免方八味配合可也。</p>
<p>治　瘡方：用古錢、松塔各等分，燒成灰，用真麻油調擦即愈。</p>
<p>治皋母八十五歲感受風寒方，此病老人血氣衰敗，天時冷熱不勻，偶然外感耳。方用：麥冬片，燈治皋母跌傷方，此跌倒火暈有痰之故，並傷於內，又老人驚著故耳。方用：山羊血一分半當歸二錢　小生地一錢（炒）　破故紙一錢　牛膝一錢　引用藕節三個。煎服。二劑即愈也。</p>
<p>治皋母受風邪方，汝母本病，又受風邪，老人病久虛弱，故易受風邪，又兼血虛故潮熱，並梗八治皋妻魏氏血虛兼受風濕，又兼左脅疼痛十數載方：當歸二錢（酒炒）　白朮一錢（土炒）　茯錢。晚服，治皋母停食方：神麯一錢　紫蘇一錢　製半夏一錢　麥芽一錢（炒）　白朮一錢（土炒）</p>
<p>茯苓治皋母失血痢疾內熱外寒方，此痢疾之病，老人氣血兩虛，外受風寒，腹中有熱，因而得之分茯苓又改方加山楂一錢　制黃　一錢　去滑石、砂仁、生地、北五味、麥芽。</p>
<p>又續改方用：白芍一錢（醋炒）　當歸二錢　枳殼八分　甘草五分　蘿卜子一錢　廣木香五分又改方加黨參一錢　麥芽二錢　砂仁三粒　去枳殼、甘草、廣木香、檳榔　引用薑一片棗治皋血氣不足兼受風寒方：當歸一錢半（酒洗）　牛膝一錢（鹽炒）　肉桂五分（研細面，煎好腰子樣）。</p>
<p>參五錢澤瀉四錢。研末為丸，早服二錢，五日後每服三錢，常吃即能多食，脾胃可開四錢　芡實一兩　丸藥引用　木香一錢　南山楂一錢。煎湯空心服可也。</p>
<p>治章氏右臂方。病由因梯子上跌下，跌傷右臂，疼痛月余方止，至丙辰十月又發舊病，疼痛便酒治賈氏左臂方。病由從板凳上跌下，跌傷左臂，三骨節皆疼，不能活動，至今六七載。</p>
<p>蒙祖丸藥方用：桂枝三錢　木瓜二兩　當歸三兩（童便炒）　製半夏五錢　老鸛草一兩　制附子三發為丸，治趙生眼痛洗方：用白菊花、明礬、青礬、膽礬、桔梗各等分，煎水洗之。</p>
<p>治阮氏生孩未盈月，乳爛有濃。方用：蒲公英一錢　黃連三分　歸身二錢　白芍一錢。</p>
<p>俱用酒炒（本地酒不好，因暑月有石膏，用假南酒亦可），水煎服。</p>
<p>又擦方用：黃柏、黃連、大黃各一錢，研細面，真香油調擦。又用鮮蒲公英搗爛貼上，貼干，洗去再貼。洗，用舊蒜辮熬湯洗，或可好也。</p>
<p>治張氏腿疼，方用：川牛膝二錢　白芍二錢（酒炒）　當歸三錢（酒炒）　香附二錢（酒炒）　製半夏一錢　薏仁五錢（炒）。水煎服。</p>
<p>嘉慶二年季冬月晉陽忠恕堂敬刊要刷印者太原府城純陽宮藏板</p>
<h3>金母娘娘降壇詩</h3>
<p>丁巳閏六月初四日混沌初分煙氣連，星辰日月我為先。琪樹婆娑千載茂，靈芝綽約四時鮮。金樽不斷長生酒，鐘離大仙和松環殿閣閣環山，疊疊重重霄漢間。萬道祥光臨福地，千條瑞彩繞云天。琉璃日射黃金燦，果老大仙和九天高際瑞云封，寶殿巍峨隱約中。千樹琪花頻映月，四時異卉拂輕風。蟠桃熟待真仙宴，呂大仙和群巒擁翠地基平，一望台高鋪素瓊。金殿窗虛明月朗，玉爐香緲篆煙輕。云過深院紅蓮潤，七月初七日何大仙和絳閣朱宮鎖亂霞，何人妝飾甚繁華。珍珠瑪瑙山靈獻，翡翠琉璃寶殿奢。院宇深沉香氣繞，李白大仙和台高山外瑞云漫，四季長春花不殘。鶴舞半空翻白雪，蓮開五色繞朱欄。壽同天地千年合，八月十五夜董大仙和瑤池金闕對函關，殿閣崔嵬霄漢間。鶴舞云中鳴白鹿，靈芝瑞草滿崖前。</p>
<p>何時久煉何人傳，混沌初分福德仙。對對青鸞朝紫闕，瑤池王母位參天。</p>
<p>張大仙和瓊樓玉宇實繁華，畫棟雕梁瑞氣遮。異卉奇花香滿苑，台前鶴舞帶風斜。</p>
<p>巡游高望五龍車，歌管笙簫滿道遮。鶴鹿雙鳴時獻瑞，山前山後產奇花。</p>
<p>許大仙和白云深鎖靜無塵，金碧輝煌日日新。玉樹參天千古秀，琪花香馥四時春。</p>
<p>盤古初分紫府仙，台高隱現瑞云旋。金鐘玉磬傳清韻，舞袖紛紜侍綺筵。</p>
<p>紅鸞侍者和蟠桃千樹是誰栽，何代何人造此台。紫氣氳氤香氣繞，祥光　寶光開。鈞天樂奏笙簧集，高碩智恭和望中仙氣紫云浮，金母瓊宮在上頭。彩鳳參差翔碧闕，斑龍蜿　下神洲。丹書秘笈乾坤始，張鶴翔恭和道冠群仙位自尊，瑤池寶地接昆侖。工成九九丹砂足，修滿三三鶴鹿馴。殿宇寬明飛鳳繞，柏鶴亭恭和瑤池鐘秀結西方，玄妙高深不可量。香繞玉珂鳴鳳輦，日臨丹陛燦龍光。彩鸞掩映翔琪樹，王鶴鳴恭和大道功成開辟先，瑤池位次冠群仙。玎　佩玉非凡響，錦繡霞裳有異妍。五色祥云浮殿上，壽星大仙吾乃仙而兼星宿者，南極老人星是也。吾須發白勝於果老，身體亦如之。世傳頭長身短豈不即欲登仙，亦不難也。勉而行之，勿忘吾告式之意耳。</p>
<p>到壇尋梅不見寺中培，案上水仙白玉裁。佛手酒香多益善，盤堆鹿脯味奇哉。</p>
<p>鐘離大仙吾乃漢朝武帝時為大將，白朝墩兵敗，遂隱入華山修煉。得遇東華帝君度封為八洞第一。吾生於五月二十八日，上升於唐太宗十二年八月初十日到蓬萊仙到壇雙髻垂垂飲興豪，天香馥馥染仙袍。瑤池宴罷過東海，醉戲蛟龍滾浪濤。</p>
<p>果老大仙吾老人果在堯王時修煉，至唐朝成其正果，受封於明皇。又受東華帝君敕封，列於八洞第二，住西岳華山鶴棲洞，十二月二十一日生。</p>
<p>到壇趙州橋上久傳揚，幻術唐宮獨擅長。歲歲蟠桃常遇宴，鶴童仙子進霞觴。</p>
<p>日月同春不計年，幾經滄海又桑田。閑游五岳觀棋局，醉向仙驢背上眠。</p>
<p>雪後寒鴉集青宵爐火夜初寒，枯樹鴉鳴掛遠灘。今早風和不較冷，花飛台上水晶盤。</p>
<p>月冷五星天上掛空懸，斜月三更望去寒。春夜不知人盡醉，新翻一曲和皆難。</p>
<p>和月冷二首　鶴亭雪月交輝夜有光，詩成多為酒生香。仙緣何幸同幽賞，忘卻迢迢更漏長。　白批　早鶴清冷爐中煙冷酒思融，心竟靈通天地空。明月滿階涼似水，神仙不怕五更風。　呂批　靈機活潑李鐵拐大仙吾生於堯王時，住華岳山修煉將成，遇王母招飲童子，看吾凡身真神，赴瑤池三時不返回來，身被虎食，故入窮人之軀，指道旁李十五歲至華岳，遇廣成度之，到唐太宗時，方登八洞第三。吾道號鐵拐李。</p>
<p>到壇千載修成兩世身，如何神負一貧人。超凡入聖朝金闕，脫卻凡身不惹塵。</p>
<p>酒到詩成若有神，天仙醉後樂天真。騎龍跨鶴云霞亂，滿地梅花盡是春。</p>
<p>修道歌天上人間總要空，心無著相任隨風。乾坤到處憑吾戲，醉後逍遙混沌中。</p>
<p>和前題一首　鶴亭四大時辰要認真，水龍火虎助精神。十年面壁胎元足，方得升騰萬古春。　李批　養性話和前題二首　鶴舉默坐殷勤養太和，那知靜裡有風波。閑中變幻無形影，片刻私緣即是魔。</p>
<p>功成九仞豈能休，屋漏還防此念頭，息息常存惟自檢。隱微無愧始悠悠。</p>
<p>和前題二首　鶴鳴培養天和動靜中，先須克己要專攻。一朝掃盡煙云氣，真性清虛無不通。</p>
<p>莫說難成　有終，登仙修煉久成功。常常如在冰淵地，收斂心思歸至公。</p>
<p>呂大仙姓呂名　字洞賓，號純陽子，天寶十四年四月十四日巳時生。居西京河南府滿拓縣，永樂鎮鐘離大仙授道度成八洞之位。住蓬萊山洞，先為九天采訪使，今列為四相之一。</p>
<p>到壇幾入科場不第歸，棄儒學道上蓬萊。岳陽高處頻吹笛，江水如今記落梅。</p>
<p>岸容待臘將舒柳冷定春灰日漸長，朝衣典盡酒添香。月明如水寒梅瘦，天上人間詩興狂。　張批　大有意致題華文母壽主人今日喜開筵，幸有馨兒拜座先。五十生來頻鶴算，不如今歲有天仙。　董批　好句鶴等請問八洞位次呂祖曰：上八洞居蓬萊山，一名鶴云、一名鶴棲、一名鶴眠、一名鶴桃、一名鶴飛、一名功也中八洞乃鶴岡山，在甘肅地界，乃散仙也。赤腳等仙所居之處。</p>
<p>下八洞乃地仙所居之處，名鶴鶴山，乃西方地界，離昆侖山不遠，有德之人成仙者，並無修曹大仙吾乃唐國舅，並非宋國舅也。於天寶十二年四月二十日生，得道於宋真宗十一年七月初十日到壇曾拋王帶棄紅袍，仿道蓬萊走一遭。今日修成歸洞府，八人會飲興偏豪。</p>
<p>岸容待臘將舒柳一夜寒梅葉盡芳，不知陽復暗催香。天上總比人工巧，弱線添時細細長。</p>
<p>和前題　鶴亭陽回葭管雪飄然，弱線添長冬至天。枯柳暗催梅破臘，數枝香馥小窗前。　呂批　煙月雅懷藍大仙吾生於宋，住浙江湖旁，因水青山秀，故此不舍修道之心堅矣。故吟踏踏歌自修於宋，南度到壇千載調勻五氣和，蓬萊仙境瑞云多。花藍時采長生藥，醉後狂吟踏踏歌。</p>
<p>證道歌二首春日遲遲鳥倦歌，仙凡遠隔養天和。而今已降紅塵路，日日修之贈斧柯。</p>
<p>大道原來不易傳，人生只要有仙緣。心空妙諦靈機話，正直朝元玉帝前。</p>
<p>韓大仙吾生於唐，韓文公乃吾叔，幼年好道，因妻不賢，故棄之往云夢山學道，十余年而得半仙之體，回家度叔與妻，皆無仙骨，逢叔壽宴客點化，叔不悟，後又隔十余年，吾道已成，至藍關幻雪又點之，叔終不悟。吾受封於東華帝君仙旨授為八洞神仙第七位。</p>
<p>到壇鶉衣百結暮春寒，筵上當時不識韓。偶爾庭前施幻術，花開傾刻大於盤。</p>
<p>一枝梅影破深紅，到處煙云吹任風。鶴舞洞前憑玩賞，無拘無束色空空。</p>
<p>詩酒平生興自狂，瑤池桃熟遠飄香。至今已過三千歲，日月壺中更久長。</p>
<p>何大仙吾在漢生時，母夢有白蓮一枝，故名愛蓮。生而好道，得果老大仙度之，江南吳地遇呂大仙又度之，至唐初登仙，以掃花天門。後蒙呂大仙度。盧生代之方受東華帝君封為八洞之位。</p>
<p>到壇仙帚輕移掃落花，翩翩翠袖拂云霞。邯鄲夢覺歸蓬島，洞府新添一女娃。</p>
<p>請眾仙降壇飲酒八仙齊到酒生香，李白貪杯興本狂。壽老座中歌壽曲，雙成月下試新妝。</p>
<p>昴日星君醉態狂，華陀醒酒葛花湯。玉娥歌落三更月，尊者金蓮目吐光。</p>
<p>醉後同回蓬島忙，紙驢過海袖中藏。不然落水如何覓，飄去龍宮果老荒。</p>
<p>爾等殷勤茶酒香，水仙銀燭繞仙裳。座中李白頻頻飲，白鶴添杯飛羽觴。</p>
<p>李大仙白原本是謫仙降生於唐。生時吾母夢太白星入懷即生吾，長遇名師教訓，故番字皆識詩詞，乃生而知之。又夢中得受於文星指教，故才思日進。生於四川峨嵋山青蓮村，故號青蓮道人翻嚇儀以乃吾後到壇大地乾坤桂子香，不如染翰侍天皇。案前批駁留仙跡，團鶴當胸早近王。</p>
<p>早掛朝衣終日忙，半生詩酒近君王。今朝得遇鶴亭輩，雅意頻頻助興狂。</p>
<p>早間朝罷醉天香，百首新詩百斗狂。當日牡丹亭上事，至今留恨碧云鄉。</p>
<p>重陽詩天上雙星月照南，早朝時帶御香酣。與君醉後方聯句，對客燈前新友談。愁聽雁聲思重九，白菊詩興來思逸望籬邊，適過黃州目睹鮮。素質開留纖月影，玉盤對舞曲廳前。紫鴛等輩難為侶，無題千金買筆亦何妨，裘馬沽來亦可狂。生輩也知詩酒好，飲中歌內尚流芳。</p>
<p>生前斗酒詩百篇，長安道上也曾眠。吾今不食人間食，有酒還須飲大千。呂批　仙機活潑人生幾見月當頭春去秋來云樹思，葉飛木脫有誰知。西風好月來天上，酒興添春不可遲。張批　風流瀟洒白菊霜雪清霄玉漏遲，云飄影月到山西。去來無復陶彭澤，秋盡還須典白衣。董批　真切詠月春花秋月舊相知，桂子天香待月時。紫微院落沉沉夜，寒樹棲烏不自持。</p>
<p>看花賞月百花齊放早春天，秋月偏依白露前。載酒東山西嶺醉，人生快樂寸心閑。</p>
<p>茶香世人不解酒生香，盡道茶煙勝酒場。天上酒泉清若水，一生何苦為他忙。</p>
<p>顧渚浮甌勝酒香，春來早掛美人裳。知君不愛蘭陵酒，故持芽茶潤客腸。</p>
<p>元霄鰲山燈火醉人斜，鑼鼓喧天慶萬家，明月高懸清似水，滿城爭看墜鈿花。</p>
<p>董大仙吾生於春秋時山東齊地，有村名董家村，其地土地荒蕪；更多賊盜。至父死母嫁，兄弟年幼不能自立，吾因此不嫁，撫弟成人，而自盡死，蒙王母收為侍者，又轉玄女娘娘司文侍者，住瑤池鶴煙洞。</p>
<p>到壇人間早識董雙成，屢降前朝武帝驚。當日瑤池為侍從，如今玄女掌書卿。</p>
<p>重九詩倒掛青天月正南，推開云影色鮮酣。春花已落秋思賦，游伴登高勝晉談。呂批心靜圓活春花落盡雁棲灘，秋色蕭條籬菊寒。正欲登高風雨至，不如載酒赴詩壇。李批　平允花時酒一樽一枝梅影早春天，二月黃鸝新色添。更有煙光浮草綠，飛來彩鳳坐神仙。</p>
<p>和前題　鶴亭花酒盈樽　寶香，群仙卻亦愛霞觴。醉中養性乾坤大，一枕黃梁午夢長。呂批　有仙味許大仙吾姓許，唐時生於河南青村。母夢珠一粒吞之，吾生。故愛之，因名飛瓊，適河南大荒不能王母差董仙救之，因脫凡身至宋朝方得道。同董仙一處為司文侍者。</p>
<p>到壇千百年前一女娃，粲風吸月泛胡麻。誰知　娜蹁躚輩，今也乘云駕鳳車。</p>
<p>滄海桑田幾變遷，飛瓊不覺有千年。而今大道功成滿，指日蓬萊作散仙。</p>
<p>張玉娥大仙吾本西晉時人，住南方閶門街，姓張名玉娥，到於唐安祿山亂時，投於河內，得王母救之，同董仙相熟，故今早得仙緣，也在玄女娘娘座下為侍者，住瑤池鶴煙洞。</p>
<p>月冷梅影當階香滿園，早煙飛靜月中寒。興來一斗洧俗念，清素三千盡有緣。呂批　清韻飄揚故燒高燭照紅妝海棠嬌艷卻無香，杜甫無詩為甚狂。蘇子在時偏愛賞，團團燭影繞紅妝。</p>
<p>蘇子生時，當浮一大缽。鶴亭謹識。</p>
<p>題華文母壽壽筵開處露桃鮮，桂子台中拜座前。新酒一杯遙祝壽，三秋荊茂早豐年。</p>
<p>題鶴舉壽台前茶酒倍鮮妍，鶴鹿同春不計年。恰有椒盤添逸興，今朝適遇數天仙。</p>
<p>葛大仙吾在東粵德慶州地界，有葛仙洞乃修煉之所，吾洞出葛仙米，吾吃之以成道。吾乃春秋時人故少到壇逍遙海外白云邊，不是凡人不是仙。洞府深藏千百載，閑看老鶴舞蹁躚。</p>
<p>春秋到此不知年，花謝花開看萬千。靜養長生無限樂，蟠桃美酒醉飛仙。</p>
<p>昴日星君吾在日中另有星宿，管西方一帶地方，分野在晉省也。</p>
<p>到壇火棗交梨助興狂，仙人不愛飲茶湯。只因天上無沽處，故落機盤佛手嘗。</p>
<p>華陀祖師吾漢三國人，生等皆知，被曹操殺後，吾上天告知於玉帝，因吾生有義氣，故封於天醫院中上帝敕封為巡察使，巡九天善惡，又升玉帝案旁香爐使者。</p>
<p>到壇當年未得殺奸操，燎毒荊州義氣豪。可惜青囊書失後，至今遺恨在天曹。</p>
<p>一寸光陰春已深，黃鸝不見柳難新。山西二月寒如許，到處尋梅雪滿身。</p>
<p>劉大仙姓劉名操字宗成，號海蟾子，改名玄英，燕山人，仕遼為相，遇呂大仙即解印佯狂，避於秦川。</p>
<p>呂大仙授以丹道，詩云：拋離大宅三千口，屏去門兵百萬家。道成，遁跡終南太華山，生於到壇本是朝中第一人，拋開世界棄凡塵。只因仙度回頭岸，也上蓬萊幾百春。</p>
<p>得到蓬萊幾百春，仙緣有分遇仙真。若非騎鶴仙山去，僅作朝中一大臣。</p>
<p>留得青青自在身，鶴群常繞滿山春。倒掛云天踏遠樹，一番清興即仙真。</p>
<p>春花秋月惹人愁，我在江邊踏浪游。偶戲金蟾成正果，而今無礙空悠悠。</p>
<p>茶色酒香夜深詩酒興偏長，茶色清新到口涼。燭暗花開因結子，鬱金玉碗更生香。</p>
<p>美酒偏能惹興長，文人更喜品茶香。兩般卻是人間寶，為我仙家不冒嘗。</p>
<p>柳大仙吾非柳樹得仙，吾唐朝秀士柳楚台，乃湖北漢陽縣董家村人，因貧困投井，遇呂師救之，以魂附柳得生。因法名守真。今受文昌帝君司文郎。</p>
<p>到壇天地原來共一家，不知望去即生涯。而今已上蓬萊路，流水桃花泛木槎。</p>
<p>佛是空門卻不空，仙家有象是飛龍。有法終歸無法寂，年年佳興與人同。</p>
<p>凡人心寂即仙真，何必勞勞苦一身。大地乾坤都是夢，回頭即岸鶴同春。</p>
<p>紅鸞大仙姓白名持桂，鶴翔之女，在生時住山西潞安府尋梅嶺，在城東七十裡有村名尋梅村。因家貧見吾王母巡查地府，因憐之故，將吾度送至紅鸞星處。吾生於唐，死於唐，得道於宋仁宗時。</p>
<p>到壇洞府依依望白云，千秋遺恨積吾身。蓼莪雖廢終余痛，粉黛無顏倍慘神。未遂膝前成半子，和到壇詩　鶴舉反哺心難遂，深深　恨長，幾曾違色笑，逃爾遠高堂。雖殞紅顏命，寧沉潛德光，賢媛克和前詩二首　鶴亭尋梅村內孝名揚，死後精魂地府香。感動瑤池金母度，而今天上佐星忙。</p>
<p>佐理天星日月長，身居洞府白云鄉。生前心跡誰能曉，遺恨千秋暗自傷。</p>
<p>題鶴舉壽仁者如山壽更長，壺中日月靜收藏。蟠桃筵上鶴飛繞，五氣朝元姓氏香。</p>
<p>蓮池大士吾姓王，生時好善，以放生為事，再生姓沈，不昧前修乃成善果。蒙如來度為羅漢，吾以濟人為心，今見生等好善，故降乩耳。</p>
<p>到壇前生最喜放生緣，後世方能得上天。佛祖度為真羅漢，不然還是一生員。</p>
<p>看花仙人吾乃千年鹿童玄帝座下修已三百年矣，元朝脫去凡身，一年四季與玄帝修花，故名看花童子。</p>
<p>到壇清風明月景長新，拔宅升天仙道真。等得功成登紫府，大千世界早皆春。</p>
<p>白鶴仙人吾白鶴童子，乃千年老鶴也。修成人身脫凡於元朝。在壽星座下。</p>
<p>到壇大地乾坤任意游，飛來飛去幾停留。千年養得胎元足，棄了皮囊不惹愁。</p>
<p>鐵鶴仙人吾乃千年玄鶴，早脫凡身。在董仙座下已五百年矣。今受為符使也。</p>
<p>到壇千年本是一鶴身，脫去皮囊養性真。吸露餐花修煉久，瑤池會上不思春。</p>
<p>化作人身百歲春，而今已是散仙真。九天洞府憑吾到，飛去飛來不惹塵。</p>
<p>青鸞仙人吾羽仙乃須陀山修養數百年，於唐朝乃得人身。受文昌帝君收作童子。</p>
<p>到壇文鸞修得上瑤台，南斗星君部下排。千載宮中為使者，大仙洞中任徘徊。</p>
<p>羽化登仙實可憐，修真養性有千年。文昌座下為文使，不赴蟠桃也是仙。</p>
<p>七仙姑吾等七姊妹，住西湖，借山水精華脫去毛羽。春秋時到蓬萊修煉，保養天和，漢時遇鐘離大仙修煉，吾等在山為伴，八洞大仙齊至，日日聽講玄機，故得修煉秘訣。於宋時王母度為侍外家也。又蒙王母賜蟠桃仙酒，而今不復人間閑戲也。</p>
<p>七姑到壇各一首紫姑天上人間共一家，七姑流水泛胡麻。前緣已結山中相，不久蟠桃鶴舞斜。</p>
<p>絳姑前生本是一仙家，後世如何不泛槎。天上有名難富貴，將來各駕五云車。</p>
<p>青姑凡塵到處有仙家，自在逍遙度歲華。爾等不知天上樂，瑤池蓬島萬年花。</p>
<p>云姑鶴飛到處盡奇花，洞府深藏云氣遮。若等數年歸八洞，靈芝瑞草滿天涯。</p>
<p>月姑好酒天仙亦有奢，人心好善鬼神夸。云中白鶴添多少，付與瑤池定等差。</p>
<p>渺姑付與瑤池定等差，仙緣深淺道高夸。玄玄若得其中意，三教原來共一家。</p>
<p>碧姑三教原來共一家，西方各自有天涯。色即是空空是色，依然頂上現天花。</p>
<p>西路財神姓杜名寶，系唐天寶十三年正月二十日生，於唐留名，宋仁宗時方得成道，受封於東岳天齊早敕掛名於簿籍，今受封玉帝為西路財神，不過人間五品之職也。</p>
<p>到壇天下財源滾滾前，不知飛去又飛還。人生早露新如草，何必貪心只愛錢。</p>
<p>西路財源我盡知，人間福祿有先期，陽消陰長添除算，使去還來各待時。</p>
<p>山西省土地姓雷名青霄號喜楚，乃楚人也。生襄陽府，生前為江南蘇州太守，林下尋樂，死後魂游湖南到壇生前本是一寒儒，五馬黃堂恩遇殊。作吏一行勤政績，而今遺愛在江蘇。</p>
<p>云夢瀟湘寄我魂，無端恩詔出天門。晉陽守土滋多福，庇佑生民報至尊。</p>
<p>陽曲縣縣土地姓魏名吾陽，系太原縣北關人。離城三裡，生前曾做五台教官，為官清正，死後受東岳天齊封於此地為縣土地也。</p>
<p>到壇經綸聊展濟時才，師范儼然在五台。道溯程朱述既往，薪傳游夏誘將來。未膺民社蒼生望，眾仙聯句酒中曾得道輝煌銀燭酒生香，（李）折桂攀鰲白也狂，（董）且飲杯中千萬盞，（鐘）醉歸踏破碧云忙。（張）</p>
<p>春花秋月為人忙，（李）興到何妨沽酒香。（董）不識人間有樂事，（張）漫斟細酌助詩狂。（鐘）</p>
<p>詩酒生平我自憐，（李）早間忙起整花鈿。（董）老人不解關心事，（張）不醉梅邊醉月邊。（鐘）</p>
<p>天上人間酒早傳，（李）春風時醉碧云端。（董）鶴童扶我瑤階去，（張）睡到蓬萊不計年。（鐘）</p>
<p>題壽（華文母壽）</p>
<p>鶴算添籌五十年，（呂）桂子留香待晚天。（李）蟠桃已熟三千歲，（董）壽到人間梅蕊鮮。（張）</p>
<p>題華文桂子春間樹已黃，（曹）早開雨露也生香，不知到處云霞靜，（董）一派青光照玉堂。（李）</p>
<p>春無題早間留飲玉爐香，（李）草色青青粉蝶狂。（何）春色染衣天桂馥，（董）秋光拂袖月娥裳。（許）</p>
<p>蹇驢踏亂云霞碎，（果）白鶴沖空詩客忙。（鐘）雙劍龍飛牛斗暗，（呂）一枝梅影臘初黃。（張）</p>
<p>聯句燭殘酒正香（得香字）</p>
<p>燭月交輝影正雙，（舉）常將斗酒度天香。（李）一生醉倒新詩俊，（董）半世看他早掛霜。（張）</p>
<p>裳。（高）</p>
<p>和前題　鶴亭窗前紅燭淚凝脂，蟻綠香濃正及時。葭管未吹冬至日，酒酣融暖夜深期。</p>
<p>漏深殘燭結成花，美酒香濃落彩霞。梅影帶煙籠月淡，風寒浸竹數枝斜。一汪紅淚心偏熱，三鶴蹁躚攀醉仙云外翱翔片羽高，攀援仙駕醉仙桃。（舉）一杯濁酒消寒夜，（亭）萬裡祥光映海濤，（鳴）</p>
<p>將掛（果）</p>
<p>和前題　鶴亭三鶴飛鳴徹九天，翱翔踏破碧云煙。梨花隊內翻輕雪，月夜空明繞綺筵。素羽瑤台看並潔，看花賞月杯酒論詩亦可仙，（舉）看花賞月在春天。人生詩趣全憑韻，（李）警句吟時出自然。（亭）</p>
<p>茶看清晨一盞色添香，（李）酒後情怡余味長。（舉）雪水漫烹天外味，（董）梅花浸入嶺頭黃。（果）</p>
<p>岸容待臘將舒柳舒柳青青伴臘梅，沿河春信早相催。（舉）不知與君一夕話，管裡陽生漫度灰。（李）</p>
<p>張批　切題恭頌八仙詩　張鶴翔頭挽雙髻與鬢齊，天教散漢樂天倪。終南得遇東華後，憐爾惺惺各自迷。</p>
<p>春秋早將姓名揚，何待唐宮幻術狂。偶控蹇驢留勝跡，五星談處笑人忙。</p>
<p>煉就金丹正及時，適承招飲赴瑤池。歸來不見前廬舍，借體成仙仙亦奇。</p>
<p>劍氣光芒並斗牛，敲爻歌罷復搖頭。世人果奉慈悲訓，為善一端樂事悠。</p>
<p>笑看富貴如浮云，那是榮華那是親。一自云陽勘破後，悠悠萬古樂長春。</p>
<p>采來仙藥助天和，脫卻塵寰樂事多。覽盡山青與水秀，清風明月莫蹉跎。</p>
<p>早知道味便辭家，俗骨焉能泛海槎。欲度世人難遍度，一聲玉笛落天花。</p>
<p>勤掃天花正是修，蓮生淨土復何求。自從瑤島頻頻赴，洞府閑閑自在游。</p>
<p>恭頌八仙詩　沈度世蓬萊仙島日遲遲，鶴發童顏兩髻垂。真訣自從東帝得，醉時海上弄蛟螭。</p>
<p>西岳優游已有年，五星學術貫人天。閑從南極消棋局，頻赴蟠桃玳瑁筵。</p>
<p>煉就真神出世塵，妍雖軀殼有何　。丹成笑指白云去，洞裡乾坤盡是春。</p>
<p>術成九九道歸一，煉就長生不老形。黃鶴樓頭云影散，瀟湘江上數峰青。</p>
<p>厭棄人間富貴身，宮袍卸卻道袍新。月明滄海群仙會，醉到沉沉不厭頻。</p>
<p>西湖湖畔養天和，養得天和樂事多。籃滿長生新采藥，醉看明月笑呵呵。</p>
<p>聲明不繼斗山高，云夢潛修仙骨豪。湘子喬頭功德遠，粵人競頌舊春膏。</p>
<p>奉帚平明掃落花，云衣五色燦奇葩。邯鄲夢覺同歸道，瑤島春和歲月賒。</p>
<p>又頌眾仙詩李白大仙百首新詞萬古傳，沉香亭畔筆生妍。至今猶憶長安市，詩在人間月在天。</p>
<p>華大仙醫聖聲名大漢傳，奸雄不識是明賢。青囊雖失千秋後，猶幸仙蹤屢降緣。</p>
<p>昴日星君高寄陽宗燦日華，天衣五色映云霞。神明滄海龍宮術，不忍生靈伏枕嗟。</p>
<p>葛大仙共沐休和自在天，神游海上幾千年。藥爐丹灶依稀在，不料仙輿遇目前。</p>
<p><u>嘉慶二年暮春弟子沈度世敬頌</u></p>
<p>呂大仙序名高紫府，洞分上下之殊。望重赤城，仙判天人之別。數符乾剛之健，德備純陽道深，坎離之功，煉成升舉。溯居裡於中州，山清水秀。詳誕生於天寶，鳳舞鸞翔。幼而岐嶷，早具仙風道骨。壯而俊異陶情，飲酒賦詩，功名不足，上，九天今勤，翼贊之勞。身居四相，世間甲子，不囿支干，洞裡乾坤，別有天地。數局殘棋江青岫，以是為頌。</p>
<p>岍惟知仙之當敬也。至降乩醫病，暢飲賦詩，一堂歡聚，婉若相親，實平生僅聞及見者。丙辰秋，柏君、鶴亭招余館於尉署，公余之暇，酌酒論詩，余雖不敏，勉步相習五月，晝夜無間，時有佳題，必請眾仙唱和，我輩亦伺其側，累積日深，新詩不首。誠恐散失零落，故有刊刻之舉。鶴亭又請壽世濟人仙方，即經驗良方，一並仙諾。所以數月以來，仙孚於眾仙，好生之婆心也志喜，俾覽斯集者，亦識丙辰嘉平月中浣之日，清苑弟子，鶴舉、張岍謹識於篇末。</p>
<p>英自巳酉去齊，歸紹舌耕，以延余年，本無四方之志。偶憶故人游於晉陽，遇柏公鶴亭者，寐之更加仙師鶴鳴瑞非雅人，而頗不耐俗事。少小失學，以致空疏，遇筆墨事，未嘗不深為悵也。昔從兄游於載，同一驗誠恐日久散失，敬將仙跡仙詩仙方，刊成一集，什襲珍藏者，正所以志不忘之意云爾。</p>
<p><u>嘉慶元年十二月，既望之吉，鐵嶺弟子鶴亭、柏永瑞敬志於陽曲撲署凝碧西軒。</u></p>
