<header><h1>傷寒直格</h1></header>
<dl class="元資料" data-type="book">
<div><dt>朝代</dt><dd>金</dd></div>
<div><dt>年份</dt><dd><data value="1127/1279">公元1127年至公元1279年</data></dd></div>
</dl>
<h2>序</h2>
<p>習醫要用直格，乃河間高尚先生劉守真所述也。守真深明《素問》造化陰陽之理，比嘗語予曰：傷寒謂之大病者，死生在六、七日之間。經曰：人之傷於寒也，則為病熱。古今亦通謂之傷寒熱病。</p>
<p>前三日，太陽、陽明、少陽受之，熱壯於表，汗之則愈；後三日，太陰、少陰、厥陰受之，熱傳於裡，下之則痊。六經傳受，自淺至深，皆是熱證，非有陰寒之病。古聖訓陰陽為表裡，惟仲景深得其旨，厥後朱肱奉議作《活人書》，尚失仲景本意，將陰陽字釋作寒熱，此差之毫厘，失之千裡，而中間誤罹橫夭者蓋不少焉，不可不知也。予語守真曰：先生之論如此，何不辟此說以暴耀當世，以革醫流之弊，反忍而無言何邪？守真曰：世之所集各異，人情喜溫而惡寒，恐論者不詳，反生疑謗。又曰：欲編書十卷，尚未能就，故弗克耳。今太原書坊劉生鋟梓以廣其傳，深有益於世。如宵行冥冥，迷不知徑，忽遇明燈巨火，正路昭然。若有執迷而不知信行者，固不足言，而聰明博雅君子，能於此者，原始反終研精覃思，則其所得又何待予之喋喋也。</p>
<p><u>據金‧馬宗素《傷寒醫鑒》作「平城翟公序」</u></p>
<h2>卷上</h2>
<h3>十干</h3>
<p>甲　乙　丙　丁　戊　己　庚　辛　壬　癸</p>
<h3>臟腑配合</h3>
<p>甲　膽（手少陽）　乙肝（手厥陰）　東方木也。</p>
<p>丙小腸（手太陽）　丁心（手少陰）　南方火也。</p>
<p>庚大腸（手陽明）　辛肺（手太陰）　西方金也。</p>
<p>壬膀胱（足太陽）　癸腎（足太陰）　北方水也。</p>
<p>戊　胃（足陽明）　己脾（足太陰）　中央土也。</p>
<p>凡先言者為剛、為陽為兄、為腑、主於表；後言者為柔、為陰、為妹、為臟、主於裡也。</p>
<h3>十二支</h3>
<p>寅卯辰　巳午未　申酉戌　亥子丑</p>
<h3>臟腑經絡配合</h3>
<p>寅三焦（手少陽）　卯大腸（手陽明）　辰小腸（手太陽）</p>
<p>巳包絡（手厥陰）　午　心（手少陰）　未　肺（手太陰）</p>
<p>申　膽（足少陽）　酉　胃（足陽明）　戌膀胱（足太陽）</p>
<p>亥　肝（足厥陰）　子　腎（足少陰）　丑　脾（足太陰）</p>
<p>手足三陰三陽者，十二經絡之名也。</p>
<h3>手足經絡配天地四時</h3>
<p>寅卯辰手三陽，天陽春也。巳午未手三陰，天陰夏也。</p>
<p>申酉戌足三陽，地陽秋也。亥子丑足三陰，地陰冬也。</p>
<h3>合主表裡</h3>
<p>（合音甘，入聲，余不音者並如字）</p>
<p>太陽、少陰合，陽明、太陰合，少陽、厥陰合；足與足合，手與手合。如：足太陽膀胱水，合足陰腎水。陽為腑屬表，陰為臟屬裡。</p>
<h3>陰陽臟腑</h3>
<p>肝與膽（厥陰）風木也，心與小腸（少陰）君火暑熱也，包絡及三焦（少陽）相火也（此為陽之臟腑）。脾與胃（太陰）濕土也，肺與大腸（陽明）燥金也，腎與膀胱（太陽）寒水也（此為陰之臟腑）。脾、心、肝、肺、腎兼包絡（一名命門），為六臟。胃、小腸、膽、大腸、膀胱兼三焦，為六腑。</p>
<h3>經絡病證</h3>
<p>絡者，正經脈道之旁小絡，如支絡、孫絡之類也，皆營運氣血之脈也，各宗於本經焉。</p>
<p>手太陰肺病，則肺脹滿，膨膨而喘咳，缺盆中痛，咳喘上氣，喘喝，煩心，胸滿，　臂內前廉痛，甚則交兩手而瞀，肩背痛而汗出，虛則氣不能報息，小便數變。</p>
<p>十二經始於肺經，故其序如此。喝（乙介切，　聲也。）缺盆者，肩前　內陷中也。</p>
<p>（音如，從肩至肘，通名曰　，自手至腕，通名曰臂。）廉（猶畔也。）瞀（音莫，眼黑也，昏也，言氣亂、兩手相交而昏瞀也。）不能報息（俗所云氣少不能接續也。）數（音朔，頻也。）</p>
<p>手陽明大腸病，則齒痛，　腫，虛則目黃，口乾，鼽衄，喉痹，腹中雷鳴，氣常衝胸，喘，不能久立、肩前　痛，大指次指不能為用。</p>
<p>（音拙，面秀骨，目下起骨也。）鼽（音求，清涕也。）衄（音濃，入聲，鼻出血也。）不能為用（言屈伸不能如意也。）</p>
<p>足陽明胃經病，則洒洒振寒，善伸，數欠，或惡人與火，聞木聲則惕然而驚，心欲動，獨閉戶牖而處，欲上高而歌，棄衣而走，賁向腹脹，罵詈不避親疏，氣盛則身前皆熱，消穀善飢，尿色黃。氣虛則身前皆寒栗。胃中寒，則腹脹滿實，胃脘當心而痛，上支兩脅，膈咽不通，食飲不下，狂瘧溫　汗出，鼽衄，口，唇胗，頸腫，喉痹，腹水腫脹，膝臏腫痛，循胸旁，過乳、衝、股、伏兔、　外廉、足　上皆痛，中指不能動。</p>
<p>振（動搖也。）善伸（自然能也。）數欠（頻呵欠也。）心欲動（不寧也。）閉戶（為惡人，兼多驚。）賁（音奔，勇猛也。）向（向同，熱聚也。）栗（戰憚也。）支（持也。固也。）　（亂也。）臏（音牝，膝骨也。）股（腿髀肉。）伏兔（膝上起肉也。）　（戶當切，乃脛骨也。）跗（音夫，足面動脈也。）</p>
<p>足太陰脾經病，則舌本強，食則嘔，腹脹，溏、泄，瘕，水閉，飲發中滿，食減，善噫，身體皆重，得後與氣，快然而衰。甚則肌肉痿，足不收，行善契，腳下痛，四肢不舉，大小便不痛。虛則腹滿腸鳴、飧泄食不化，舌本痛，體不能動搖，食不下，煩心，心下急痛，寒瘧，溏，泄，水閉，黃膽，不能臥，股膝內腫厥，大指不用。</p>
<p>本（舌根也。）強（去聲，不和柔也。）溏（大便稀薄。）瘕（音假，肚中結病也。）水閉（言水不宣通也。）噫（衣介切，轉氣也。）後與氣（言下氣也。）痿（於為切，痹病也。）契（合也，行則不覺腳相揩也。）飧（音孫，食也。）厥（其也，不能運用也。）</p>
<p>手少陰心經病，則胸中痛，脅支滿，脅下痛，膺、背、肩、胛間痛，兩臂內痛。甚則嗌干，心痛，渴而欲飲，身熱膚痛，煩心譫妄。虛則善悲，時眩仆，胸腹大，脅下與腰、背相引而痛，目黃，脅痛，　後廉痛，掌中熱。</p>
<p>譫（音占，亂言也。）妄（見虛妄而言也。）眩（玄去聲，眩暈昏亂也。）仆（音付，卒然而倒也。）</p>
<p>手太陽小腸經病，則嗌干，頷腫，不可回顧，肩似拔，　似折。虛則少腹控卵，引腰脅上衝心痛。耳聾，目黃，頰、頷腫，肩、　、肘、臂外廉痛。</p>
<p>嗌（音亦，氣系也。）少腹（臍下兩旁也。）控（引也。）卵（陰丸也。）</p>
<p>足太陽膀胱經病，則沖頭痛，目似脫，項似拔，腰似折，髀不可以曲，　如結，　如裂。虛則痔，盛則瘧、狂、巔疾，頸項、囟頂、腦戶中痛，目黃淚出，項、背、腰、脊、尻後、　、腳皆痛，小趾不為用。</p>
<p>沖頭痛（腦後橫沖眉間痛也。）　（曲腳後也，結括也。）　（市兗切，一名　，俗所謂腿肚也。）巔（頂也。）尻（居刀切，後陰後分合處也，大而言之睢也。）</p>
<p>足少陰腎經病，則飢不欲食，面黑如漆，咳唾則有血，喝喝而喘，坐而欲起，目　如無所見，心懸如飢，腹大，脛腫，喘咳身重，寢汗出，憎風。虛則腹滿身重，濡泄，寒瘍流水，腰股痛發，　、　促膝不便，煩冤，足痿，清厥，意不樂，大便難，善恐，心惕惕如人將捕之，口熱舌乾，咽腫上氣，嗌干而痛，心煩而痛，黃膽，腸　，脊、股內後廉痛，痿厥嗜臥，臥不安，足下熱而痛。</p>
<p>喝（乙介切。）　（音荒。）濡（溏泄也。）寒瘍（俗言凍瘡。）不便（不利便也。）煩冤（心悶亂不寧。）痿（痹弱。）清厥（手足清冷而厥逆也。）痿厥（欲臥而不安也。）腸　（下利也。）</p>
<p>手厥陰心胞絡病，則手心熱，臂、肘攣急，腋腫。甚則胸脅支滿，心澹澹大動，面赤目黃，喜笑不休，虛則煩心，心痛，掌中熱。</p>
<p>澹澹（水搖動貌。）</p>
<p>手少陽三焦病，則耳聾，渾渾　。虛則目銳　痛，耳後、肩、　、肘、臂外皆痛，小指次指不能為用。</p>
<p>（足少陽膽經原缺）</p>
<p>足厥陰肝經病，則腰不可俯仰。丈夫　疝，婦人少腹腫，兩脅下痛引少腹。</p>
<p>甚則嗌干，面塵，善怒，忽忽眩痛，巔疾，目赤腫痛，耳聾，頰痛。虛則目如無所見、無所聞，善恐如人欲捕之，胸滿嘔逆，洞泄，狐疝，遺尿，癃閉。</p>
<p>腋下曰脅，脅下骨為肋，脅肋之下曰　（音區。）面塵（面如浮塵。）忽忽（昏亂也。）眩（頭目眩暈也。）洞（疾流也。）狐疝（言狐者，疝氣之變化，隱見、往來不可測，如狐也。）遺尿、癃閉（小便癃閉而病疲憊也。）</p>
<h3>內外八邪</h3>
<p>外有風寒暑濕，內有飢飽勞逸。勞逸，非奔逸之逸，乃逸豫怠惰而生病也，與勞相反。故經曰：勞者溫之，逸者行之。使氣血營運也。西山記曰：久勞則安閑以保其極力之處，久逸則導引以宣其積滯之氣。或作役者誤也。</p>
<h3>內外病生四類</h3>
<p>一者，因氣變動而內成積聚、　瘕、癲狂、驚癇之類也。</p>
<p>（音貞，堅積。）瘕（音假，血氣聚也。）多喜曰癲。多怒曰狂。</p>
<p>二者，因氣變動而外成癰腫、瘡瘍、痂疥、疽痔、掉眩、浮腫、目赤、　胗、　腫、痛癢之類也。</p>
<p>不因一時所傷而病，乃久以漸積臟腑變動興衰而病者，是曰因氣變動也；臟腑和平，卒然而即成病者，是曰不因氣之變動也。淺而大曰癰，深而惡曰疽。</p>
<p>掉，動搖也。　（音漂，赤丹留毒，火　也。）</p>
<p>三者，不因氣之變動而病生於內，則留飲、僻食、飢飽、勞損、宿食、霍亂、悲恐、想慕、憂結之類也。</p>
<p>僻（邪也。）霍亂（上吐而下瀉也。）</p>
<p>四者，不因氣之變動，而病生於外，則瘴氣、鬼魅、蟲蛇、蠱毒、蜚尸、鬼擊、衝薄、墜墮、斫射、刺割、捶撲、打探、HT　拉、觸抹、風、寒、暑、濕之類也。</p>
<p>蜚（去聲，獸也。通言獸所傷人。）</p>
<h3>九氣</h3>
<p>怒則氣上，喜則氣緩，悲則氣消，恐則氣下，寒則氣收，炅則氣泄，驚則氣亂，勞則氣耗，思則氣結。</p>
<p>炅（音桂，熱也，舊音耿，非。）人怒則氣逆，甚則嘔血及飧泄，故氣上也。人喜則氣和而志達，榮衛通利，故氣緩。緩猶和也，故令人氣散也。悲則心系急，肺布葉舉，而上焦不通，榮衛不散，熱氣在中，故令人氣消也。恐則氣卻，卻則上焦閉，閉則氣還，還則下焦脹，故氣下也。寒則腠理閉而氣不行，故氣收也。炅者，熱也，熱則腠理開，而榮衛通，汗大泄，故氣泄也。驚則心無所倚，神無所歸，慮無所定，故氣亂也。勞則喘且汗出，內外皆越，故氣耗也。越，散越也。</p>
<p>思則心有所存，神有所歸，正氣留而不行，故氣結也。結者，滯而不通也。</p>
<h3>五邪</h3>
<p>母乘子曰虛邪（乘，勝也，克也），如心火熱，乘脾土也。</p>
<p>子乘母曰實邪，如肺金燥，乘脾土也。</p>
<p>妻乘夫曰微邪，如腎水寒，乘脾土也。</p>
<p>夫乘妻曰賊邪，如肝木風，乘脾土也。</p>
<p>自病曰正邪，如脾土自病濕也。</p>
<p>五臟腑同法（各以類推）。</p>
<h3>五邪微甚</h3>
<p>微、實、正、虛、賊，從微至甚也。</p>
<p>此亦大略之言，細而推之，各有微甚。</p>
<h3>十干夫婦配合成五運</h3>
<p>甲己合為「土運」甲剛木，克己柔土，為夫婦成土運。</p>
<p>乙庚合為「金運」乙柔木，嫁庚剛金。</p>
<p>丁壬合為「木運」丁陰火，配壬陽水。</p>
<p>丙辛合為「水運」丙陽火，娶辛柔金。</p>
<p>戊癸合為「火運」戊陽土，娶癸陰水。</p>
<h3>五運太過不及</h3>
<p>陽剛夫為太過；陰柔妻為不及。</p>
<p>此其略也。凡六十四年而周甲子，其中有歲運同司天曰天府，同歲支曰歲會，孟年同曰支德符，歲運同司地，剛為同天符，柔為同歲會。凡此二十九歲，太過司天克之曰天刑，及年前大寒交氣日，反時程與運程為夫婦曰程德符，皆非太過、不及，乃年運之氣也。申、子、辰年寅初交；巳、酉、丑年巳初交；寅、午、戌年申初交；亥、卯、未年亥初交氣也。</p>
<h3>十二支應六氣三陰三陽</h3>
<p>六氣為本，三陰三陽為標。</p>
<p>子午少陰「君火」（暑）丑未太陰「濕土」</p>
<p>寅申少陽「相火」（主大熱）卯酉陽明「燥金」</p>
<p>辰戌太陽「寒水」巳亥厥陰「風木」</p>
<h3>六氣有餘不足</h3>
<p>孟少，仲平，季多也。</p>
<p>《內經》以寅、申、巳、亥四孟為一陰一陽也，子、午、卯、酉四仲為一陰一陽也，辰、戌、丑、未為三陰三陽也。然陽為先，故主虛無變化，輕微而少；陰為後，故形體安靜，重濁而多也。故風火動亂至陽為先，居孟，未甚為少；寒濕肅靜至陰為後，居季，已甚而為多，燥熱各得乎中，故居仲而平也。注曰：氣有多少，是言六氣；形有旺衰，言五運也。</p>
<h3>六氣</h3>
<p>寒、暑、燥、濕、風、火。</p>
<h3>五運應五臟主病</h3>
<p>諸風掉眩皆屬肝木。諸痛癢瘡瘍皆屬心火。</p>
<p>諸濕腫滿皆屬脾土。諸寒收引皆屬腎水。</p>
<p>諸氣　郁病痿皆屬肺金。</p>
<p>（悶亂也。）郁（結滯、壅塞也。）</p>
<h3>六氣為病</h3>
<p>諸暴強直，支痛耍戾，裡急，筋縮，皆屬於風（乃厥陰風木，肝膽之氣也）。</p>
<p>諸病喘嘔吐酸，暴注下迫，轉筋，小便混濁，腹脹大鼓之如鼓有聲，癰疽瘍疹，瘤氣結核，吐下霍亂，瞀郁腫脹，鼻塞鼽衄，血溢血泄，淋閉身熱，惡寒戰栗，驚惑悲笑譫妄，衄　血汗皆屬於熱（少陰君火，乃真心、小腸之氣也）。</p>
<p>注（泄也。下迫後痛，裡急痛也。）結核（言肌肉結硬如果中核也。）溢（上出。）泄（下出。）　（音慢，血汗也。）衄（音肉，鼻出血也。）</p>
<p>諸痙強直，積飲痞隔，中滿，霍亂吐下，體重　腫，肉如泥而按不復起，皆屬於濕也（太陰濕土，乃脾與胃之氣也）。</p>
<p>痙（其井切，似風狂病也，一名曰　尺至切）。積飲（水蓄不散也。）痞（否），腸胃氣液血脈否閉，不能營運，謂之痞也。水穀傳化阻隔失常，則曰膈　（音附）。</p>
<p>諸熱瞀螈，筋惕悸動，搐搦螈　，暴喑冒昧，躁擾狂越，罵詈驚駭，　腫疼酸，氣逆衝上，禁栗如喪神守，嚏嘔瘡瘍，喉痹，耳鳴及聾，嘔涌溢，食不下，目昧不明，暴注　螈，暴病暴死，皆主於火也（手少陽相火乃心包絡、三焦之氣也）。</p>
<p>螈（尺至切）。喑（音）。　（啞）。狂（躁亂髮狂也）。禁栗（寒戰如喪心神之守）。嚏（音帝。）</p>
<p>（音縱，兒病也）。螈（音契，小兒病也）。</p>
<p>諸澀枯涸，干勁皴揭，皆屬於燥（陽明燥金，肺與大腸之氣。）</p>
<p>諸病上下所出水液澄徹清冷，　瘕　疝，堅痞、腹滿急痛，下利青白，食已不飢，吐利腥穢，屈伸不便，厥逆禁固，皆屬於寒（太陽寒水乃腎與膀胱之氣也）。</p>
<h3>論脈</h3>
<h4>三部九候</h4>
<p>夫三部者，寸、關、尺也。寸，應天為上部；關，應人為中部、尺，應地為下部。九候者，各浮於天，沉於地，中為人也。</p>
<h4>脈位輕重</h4>
<p>高骨旁動脈為關。</p>
<p>中指正按高骨之端是也。俗不明其正理，但以應於下指而差，高骨於頭、中指之間，如此則三指各差在本位之後半部耳。或以頭指正在高骨，或更在高骨之後者，此不通脈之正理也。便使心精了然，既下指失其本位，則亦無以知為何病也。</p>
<p>關前至魚際為寸，是名陽位。</p>
<p>一名寸口，正在東關前、堂骨後，赤白肥肉際宛中，骨縫陷中，可容一豆者是，乃名魚際者也。</p>
<p>關後為尺，是名陰位。</p>
<p>關後至本經於太陰所入為合，在肘內大約紋動處是名尺澤，長一尺，故名尺也。陰陽兩者之間則名關，三部長三寸，以應三才。凡男左、女右，以中指與大指相接如關，度中指上仄中節兩橫紋之際為一寸。凡取穴以此為則，而脈位之尺寸亦應此也。凡寸脈主自心胸上至頭也；而關脈主中，心胃至臍也；尺脈主下，臍以至足也。</p>
<p>左寸主心及小腸（君火）。左關主肝膽（風木）。左尺主腎、膀胱（寒水）。右寸主肺、大腸（燥金）。右關主脾、胃（濕土）。右尺主命門、三焦（相火）。</p>
<p>所以然者，左手為陽，陽為君，面南布政，而陽始於子水；以一歲六氣正位分之，則應於亥正至丑終氣衰也。水之位主於左尺之脈，脈從尺入寸，故水生風木於左關，應丑至卯初之氣也。木生君火於左寸，陽道已成，故為君火，猶乾始於子而終於巳也，自卯正至巳，二之氣也。</p>
<p>君上而臣下，陽進而升，陰退而降，故右手為陰，始於午火，火面北而受氣，自巳至未正，三之氣也。三焦為正火，主右尺之脈，相火生濕土於右關，正未以至酉，四之氣也。濕土生金於右寸，應酉至亥，五之氣也。又主左尺水，周而復始也。及夫男左、女右為夫婦，故左寸君火克右寸之金；左關木克右關之土，左尺水克右尺之火。及夫命門者右腎也，屬火不屬水，乃手厥陰心包絡之臟。舉世皆言心包絡之臟有名而無形，由不明理也。夫三焦乃水穀傳化之道路，自口至胃上口為上焦，下至胃下二腸分處為中焦，下至傳化出處為下焦，通曰三焦。今俗妄言無形狀而空有名者誤也。且如人從頭數至足，皆不謂之人，則亦安可言人無形狀耶。全身而言之，固名人也，且血脈盡皆環貫臟腑，營運周身，如果無命、三焦之形體，則何得氣血營運之道路耶。各浮於腑而沉於臟，中而和緩者胸也。</p>
<p>脈在肌肉以上曰浮，在肌肉之下曰沉。或以肺養皮毛，心養血脈，脾養肌肉，肝養筋膜，腎養骨髓，以此浮沉而分五臟之脈者，言脈位則可，為用則有失治病之道也。</p>
<h4>脈息遲速</h4>
<p>呼為陽以應天，脈再動以應春夏；吸為陰以應地，脈再動以應冬秋。</p>
<p>氣出為呼，入為吸。再，兩次也。動，至也。</p>
<p>或閏以太息而又一動者，以應長夏脾土，故一息四至、五至皆為和平。</p>
<p>太息，言呼吸或有長者也。長夏，六月也。和平，言為平人不病之脈。</p>
<p>謂一歲四時俱備也。五至以上曰數，不滿四至曰遲。數過備者死，不及一至者亦死。</p>
<p>數為熱，遲為寒。過備，八至之上也。是以平人之息，合病患之脈也。</p>
<p>故經曰：常以不病調病患。由是小兒八至為和平，十至有熱，六至為病寒也。自六歲以下，通曰以此三歲之法。人小則脈如數，長短亦然。</p>
<h4>七表</h4>
<p>浮、芤、滑、實、弦、緊、洪，此名七表，為陽。少陽之數為七。</p>
<p>浮脈者，輕手乃得，重按之不見。脈見諸陽為表熱，諸陰為表寒。</p>
<p>脈動於肌肉之上也，浮，屬陽，為病在表，一名腑病。或傷風自汗，脈浮為表熱，遲緩之陰者，表寒。</p>
<p>芤脈者，浮大而軟，按之中央虛，兩邊實也。</p>
<p>芤主熱甚失血，寸芤則吐血，微則衄，甚則俱出。關芤則胸癰下血。尺芤則大便血，微則小便血，甚則俱下。</p>
<p>滑脈者，不澀也，多與實、數相兼，則為病熱。或亡液、血衰，雖熱而反澀也；或滑兼遲，則為病寒；平而滑者，腎之本脈。</p>
<p>實脈大而長，浮沉皆得而數，陽熱也。</p>
<p>弦脈者，軟虛而滑，端直而長也。弦主於風，或如琴弦，或如張弓者，弦之太過也。</p>
<p>緊者不緩也，或如轉索，或如切繩者，緊之太過也。</p>
<p>緊脈主痛，多與實、數相兼，則為熱痛；或短、緊、微、細，陰脈相兼者，寒痛也。</p>
<p>洪脈者，極大而數。舉、按者，指實熱之極甚者也。</p>
<h4>八裡</h4>
<p>八裡為陰（象易少陰之數八），微、沉、緩、澀、遲、伏、濡、弱也。</p>
<p>微脈者，若有若無，極細而軟也，多兼於遲，主於陰寒。然或熱甚汗泄、吐、利，氣而損虛者；或陽厥極深者，或陽極將死，脈欲絕者；脈亦有微、沉、緩、澀、遲、伏、濡、弱諸陰脈見也。不寒便言為寒，須以標本明之。</p>
<p>先病為本，根本也；後病為標，梢末。又為病之氣為本，受病之臟腑經絡為標。世俗至此更不明其陽極熱證，但以執其陰脈為寒，內外急救於於陽，則殘陰暴絕，而反致死亡者不少也。且察色、聽聲、問證、切脈為神、聖、功、巧，別病之四法，而脈最為下，則安可執巧之一法，而去其神、聖、功之三法耶！及夫八裡之脈，皆有此義，以微脈居先，故於此總而言之也。</p>
<p>沉脈輕手不見，重切之乃得，動在肌肉之下，其位屬陰，為病在裡。一名臟病，或蓄於胸及膀胱者，雖為腑病，其脈亦沉，則皆宜下之。由十二臟腑俱在裡，而經絡皆在表也。大抵但以浮為表，沉為裡。然雖臟為陰主裡，腑為陽主表，其於病脈之浮、沉有所不拘也。故太陰脾臟之病腹滿而脈浮者，桂枝攻於表也。夫脈沉數為裡熱，沉遲為裡寒。余脈皆仿此。</p>
<p>或裡熱吐、利，氣液虛損，或陽厥極深，或熱極將死者，亦皆見諸陰脈沉，切宜審之，不可妄以施治。</p>
<p>緩脈者，縱緩而不急，似遲而小疾。緩而遲為寒，緩大長為熱。</p>
<p>當傷風自汗，或自汗過多，亦為遲緩，熱更甚也。</p>
<p>澀脈者，澀而不滑也。或如刀刮竹，或澀而止住者，澀之太過，主液血衰。</p>
<p>由汗、泄、吐、利，或血溢、血泄，或熱盛耗液而成燥也。一曰澀主心痛，血少故也，以心養血。</p>
<p>遲脈者，一息四至以下也。遲為病寒，然熱盛自汗，吐利過極，則亦為遲也。</p>
<p>氣液損虛，故脈遲而不能數。</p>
<p>伏脈者，脈附於骨，沉之甚也。伏主水蓄於內，積飲不散也。伏位屬陰，在裡深也。病之寒熱，以隨陰陽別之。</p>
<p>附，切近也。水蓄於內，一名留飲。</p>
<p>濡脈者，按之似無，舉之無力也，有似微弱，多兼於遲，主於極冷。然熱泄後，或熱極將死者，脈亦濡弱，須以外證標本參之。</p>
<p>弱脈者，軟虛而無力也。弱之虛冷，必兼微與遲也。然而傷風、中暑，熱甚而自汗大出，則易緩弱而遲也。</p>
<h4>四時平脈</h4>
<p>春弦　夏洪（一曰數一曰鉤）　秋毛（一曰潘一曰浮）　冬石（一曰沉）</p>
<h4>六步主位平脈</h4>
<p>初之氣：自大寒日至春分，厥陰風木之陽用事，而氣微。</p>
<p>故曰冬至後日甲子少陽主，然冬至甲子斯無常準，以大約分之：一月如在冬後，即大寒交初氣之分也。一歲六周甲子，以應六氣。下皆仿此。（一氣正月、二月也）</p>
<p>脈乍大、乍小、乍短、乍長，時物及風木之象也。</p>
<p>二之氣：春分至小滿，少陰君火之位，陽氣清正在兩陽合明之間，故又云陽明主。</p>
<p>脈弦也。</p>
<p>三之氣：小滿日至大暑，少陽相火之位，陽氣萬物皆盛，故亦云太陽主。</p>
<p>脈洪大而長，天氣萬物人脈與造化同。</p>
<p>四之氣：大暑日至秋分，太陰濕土之位，天氣尚盛，而夏後陰已用事，故又云太陰主。此三陰三陽與六氣標本之陰陽異矣。</p>
<p>脈緩大而長。</p>
<p>或云緊大而長者，傳寫之誤也。濕土主緩大而長，燥金主緊細而短澀，以萬物干濕明可見焉。時濕土盛，膚腠開通，汗液時泄，故脈雖大長而力緩，不能緊也。至秋後氣衰，寒涼乍閉，故雖微細而力緊也。</p>
<p>五之氣：秋分日以至小雪，陽明燥金之位，氣衰陰盛，故又云少陰主也。</p>
<p>脈緊細而微。</p>
<p>終之氣（一曰六之氣）：小雪日以至大寒，太陽寒水之位，陰極而終盡，天氣之所收隱，故曰厥陰主。厥者盡也。</p>
<p>脈沉短以敦（敦，濃也）。</p>
<p>萬物收藏在內，寒氣閉塞而膚腠氣液不能散越，故脈沉短而反有力，敦濃而如石也。</p>
<p>凡四時六位平脈大退，則時氣有餘而為病。</p>
<p>如春弦太過則風為病。</p>
<p>不及者氣衰而為病。</p>
<p>四時脈微見為平，此言過微也，如秋脈微而兼夏脈之類也。</p>
<p>反見他脈者，他氣有餘而來為病也。</p>
<p>遲為寒，而數為熱之類也。</p>
<h4>結促代</h4>
<p>結脈者，遲緩而時一止，為陰也，主陰盛發躁煩滿，或陽厥極深，以至身冷，脈微欲絕，而緩弱時一止者，亦胸煩躁，此止為熱極而非寒也，皆須以標本明之。</p>
<p>促脈者，陽也，數而時一止也，主聚積、氣痞，憂思所成；亦或熱劇失下，則令脈促。下之則平也。</p>
<p>代脈者，主緩弱而無力不能動，因而復動，病必危而死。</p>
<h4>趺陽脈</h4>
<p>趺陽脈者，胃土之脈也。趺陽脈遲而緩者，胃氣如經也。</p>
<p>動在足趺陽之經，故曰趺陽。一曰衝陽者，陽明所過之原。過者，沖也。</p>
<p>如經，如本經之常脈。</p>
<p>滑為胃實，緊為脾強。浮而滑者，浮為胃虛，滑則為噦。浮而鼻中燥者，必衄也。沉為胃實（上本下故也），數為消穀（胃熱故也），緊則難治。蓋四時五臟皆以胃氣為本，緊燥盛而土濕氣衰，故曰難治。浮而大者，氣實血虛也（氣為陽、血為陰故也）。浮而澀者，胃虛下利也（去液故澀）。伏而澀者，伏則吐逆，水穀不化（內濕故也），澀則氣不下食，脈不出則身冷膚硬。</p>
<h4>太谿脈</h4>
<p>太谿者，腎水之脈也，動於左足內踝下後、跟骨下陷中，足少陰腎水之胃，故曰大浮也。太谿脈，則腎氣如經也，弱則微煩，澀則厥逆（微厥也）。</p>
<h4>死生脈候</h4>
<p>陽病熱證不退，反見陰脈者死（脈近於絕故也）；汗後熱退而見陰脈者愈。陰陽證脈平愈。傷寒咳逆上氣，脈散者死（形損故也）；脈浮而洪，身汗如油，喘而不休，水漿不入，形體不仁（不仁者不和也），乍靜乍動，命絕也；汗出發潤，喘不休者，肺先絕也；陽反獨留，體如煙薰，直視搖頭，心先絕也。唇吻（音穩）反青，四肢　習者，肝絕也（　，丑入切，汗出也。習，水流不絕，此言汗不止也）。環口黧黑，柔汗發黃者，脾先絕也（柔，虛也）。溲便遺失，狂言直視者，腎先絕也（溲，小便。便，大便）。寸口脈陰陽俱緊盛（寸口即氣口，此言三部，關前為陽，關後為陰），大汗出，不解者死；身熱喘粗，見陽脈而躁者死（汗不勝病也）。汗後微熱不解者，病不可便言死也，脈如轉索者當日死，譫語、身微熱、脈浮大，手足溫者生，欲作大汗故也（俗作好汗）；脈暴出者死，陰衰欲絕，而陽暴獨勝則脈暴出，少間陰氣先絕，則陽氣後竭而死矣；逆冷，脈沉細者，不過一日死（死證多矣，以致危極則無越此矣）。</p>
<h2>卷中</h2>
<h3>傷寒總評</h3>
<h4>傷寒六經傳受</h4>
<p>經言：寒傷形，寒傷皮毛，寒傷血，寒傷榮。然寒主閉藏而腠理閉密，陽氣拂鬱不能通暢，怫然內作，故身熱燥而無汗。故經曰；人之傷於寒也，則為病熱。又曰：夫熱病皆傷寒之類也。《內經》既直言熱病者，言一身為病之熱氣也；以至仲景直言傷寒者，言外傷之寒邪也，以分風、寒、暑、濕之所傷，主療不同，故只言傷寒，而不通言熱病也。其寒邪為害至大，故一切內外所傷，俱為受汗之熱病者，通謂之傷寒也。一名大病者，皆以為害之大也。又春曰溫病，夏曰熱病，秋曰濕病，冬曰傷寒。傷寒者是隨四時天氣春溫、夏熱、秋濕、冬寒為名，以明四時病之微甚，及主療消息，稍有不等，大而言之則一也，非為外傷及內病有此異耳。或云冬伏寒邪於肌膚骨肉之間，至於春變為溫病，夏變為熱病，秋變為濕病，冬變為正傷寒病者，及名冒其寒而內生拂熱，熱微而不即病者，以至將來陽熱變動，或又感之而成熱病，非謂伏其寒氣而反變寒為熱也。經曰：冬傷於寒，春必病溫。亦其義也。亦有一時冒寒而便為熱病者，或感四時不正乖戾之氣，或隨氣運興衰變動，或內外諸邪所傷，或因他病變成，或因他人傳染皆能成之，但以分門隨證治之耳。經言此六經傳受，乃外傷於寒而為熱病之大略，主療之要法也。大法曰：傷寒一日，太陽受之，故頭項痛，腰脊強。</p>
<p>此足太陽膀胱之經也，故與經言五日足少陰腎水為其表裡。或言為手太陽者，誤也。此六經之證也，或以此直云傷寒不傳手經者，亦誤也。豈不詳熱論云五臟六腑皆受病，又刺熱篇皆言五臟熱病。但以熱病多於足經，而其病甚少於手經，而其病微，且與足經微為兼證，汗下之治，但分表裡，故不單言手經，而但寄於足經而已。若針刺，則本經補瀉，各分五臟手足之經矣。</p>
<p>二日陽明受之，故身熱、目疼、鼻干，不得眠也。</p>
<p>三日少陽受之，故胸脅痛而耳聾。</p>
<p>四日太陰受之，故腹滿而咽乾。</p>
<p>五日少陰受之，故目燥、舌乾而渴。</p>
<p>六日厥陰受之，則煩滿囊縮。</p>
<p>或言傳手厥陰包絡相火，則水火既濟而愈；傳足厥陰肝經，則土敗木賊而當死者，妄說也。此經言足厥陰肝經之證也。</p>
<p>大法曰：前三日三陽病，在表，故宜汗之。</p>
<p>汗泄熱退身涼而愈。</p>
<p>後三日三陰病，在裡，故宜下之。</p>
<p>下，退裡熱，則怫熱宣通，汗出氣和而愈也。亦有內熱下盡，無汗氣和而愈者也。或曰前三日寒在表者，誤也。此皆熱證也。</p>
<p>或未愈者，再經衰之，七日太陽病衰（自此以下皆言病自衰減），頭項少愈；八日陽明病衰，身熱少愈；九日少陽病衰，耳能微聞；十日太陰病衰，身熱少愈，腹滿如故；十一日少陰病衰，渴止、不滿（以言腹不復滿），舌乾，已而嚏；十二日厥陰病衰，囊縱、少腹微下，大氣皆去（言大病熱氣散去），病則瘳（音抽，愈也）矣。</p>
<p>此亦大略言之耳，傷寒受不必拘此，但以明其諸證而如法治療耳。</p>
<h4>裡外傷</h4>
<p>如得病脈便沉，而裡病表和者，內傷也；脈浮而表病裡和者，外傷也。</p>
<p>病在身體四肢為表病，病在胸腹之內為裡病。</p>
<h4>表裡證</h4>
<p>身熱為熱在表。</p>
<p>言皮膚壯熱而反憎寒，非謂自發熱燥也。</p>
<p>引飲（煩渴）或小便黃赤為熱在裡。身熱、飲水或小便黃赤，為表裡皆有熱。身涼不渴，小便清白，則表裡皆無熱。</p>
<p>不言為寒者，蓋表裡熱微，則亦有身表不熱而裡亦不渴故也。</p>
<p>渾身疼痛拘急，表熱惡寒而脈浮者，皆為熱在表也。引飲、譫妄、腹滿實痛，發熱而脈沉者，皆為熱在裡也。胸脅痞痛或嘔，而寒熱往來，脈在肌肉，不浮不沉，則邪熱半在表、半在裡也。</p>
<p>夫邪熱在表而淺，邪微而畏正，故病熱而反憎寒也。寒則腠理益閉而怫熱益加故也。邪熱在裡而深，邪甚則不畏於正，物盛其極，故不惡寒而反自惡熱也。半在表、半在裡，進退無常，則寒熱往來也。寒多，為表多，脈稍浮，熱多，為裡多，脈稍沉也。諸病寒熱並同，惟瘧疾反此。由表之正氣與邪熱並之於裡，表氣虛而裡熱實，亢則害，承乃制，故裡之火熱極甚，而反兼寒水之化制之，故病熱極而反寒戰也。臨汗而戰及諸戰皆然，寒戰為裡熱表虛故也，飲水而脈微不見也。裡之正氣與邪氣並出於表，則表熱裡虛，是以煩熱汗出而脈浮也。</p>
<p>經以熱並於裡之陰分，則為陰勝而發寒；熱並於表之陽分，則為陽勝而發熱也。俗未知其為表裡之陰陽，而妄為寒熱之陰陽，故皆失《內經》之本旨也。夫傷寒之寒熱者，惡寒為表熱裡和，故脈浮；發熱為裡，表氣不虛，故發熱而脈沉實也。氣並、不並，故寒熱相反而有微甚也，熱並則甚，不並則微也。</p>
<h4>主療</h4>
<p>傷寒表證，當汗而不可下。</p>
<p>反下之，則蓄熱內余而成結胸。或為虛痞、懊　、喘滿、腹痛、下利不止、發黃、驚狂、斑出，諸熱變證，危而死矣。</p>
<p>裡證當下而不可汗。</p>
<p>反汗之，則熱甚發黃、驚狂、斑出、譫妄而喘、悶亂，危極而死矣。</p>
<p>半在表、半在裡，則宜和解。</p>
<p>相和通解表裡也。</p>
<p>不可發汗、吐、下，妄治之則有前諸證。</p>
<p>在上則涌（音涌，吐也）之。</p>
<p>言病在膈上，如胸滿而嘔或眩，脈關前緊甚者，宜瓜蒂散吐之。</p>
<p>在下者瀉之。</p>
<p>言蓄熱下焦，則承氣、抵當之類瀉之，皆隨病所在攻之。</p>
<p>傷寒無汗，表病裡和，則麻黃湯汗之，或天水散之類亦佳。</p>
<p>身熱、惡寒、無汗，脈浮緊而數。</p>
<p>表不解，半入於裡，半尚在表者，小柴胡湯主之，或天水、涼膈二藥各一服，合約服之尤佳。表裡之熱勢俱甚者，大柴胡湯微下之，更甚者，大承氣湯下之。</p>
<p>表雖未罷而裡證已甚，若不下之，則表熱更入於裡，而裡熱危極，宜以大柴胡、大承氣下之，雙除表裡之熱，則免使但下裡熱，而下後表熱乘虛又入於裡，而生結胸及痞諸病之類也。</p>
<p>表熱多，裡熱少，天水一、涼膈半，以和解也。</p>
<p>煎涼膈半服，調天水一服。上下同法。</p>
<p>裡熱多、表熱少，未可下之者，涼膈一、天水半調之。勢更甚者，小承氣湯下之。表證罷，但有裡證者，熱傳於裡也，調胃承氣湯下之，但除裡熱也。凡此諸可下之（言大柴胡、三承氣諸下證），通宜三乙承氣下之，善能開發峻效，而使之無表熱入裡而成結胸及痞之眾病也。</p>
<p>發汗不解，下證前後別無異證者，通宜涼膈散調之，以退其熱，便無熱甚危極也。除此之外，遠勝小柴胡湯，兩感仿此而已。</p>
<p>但隨表裡微甚而以調之。兩感謂一日太陽與少陰兩證俱見，二日陽明與太陰、三日少陽與厥陰俱病，前六經之證是也。</p>
<p>傷風自汗，表病裡和者，桂枝湯解肌。</p>
<p>無汗為傷寒，不可服桂枝湯。</p>
<p>有汗為傷風，不可服麻黃湯。</p>
<p>半在表、半在裡（脈在肌肉而半入於裡），白虎湯和解之。病在裡，脈當沉也，大承氣湯下之。一法無問風寒暑濕，有汗無汗，但有可下諸證，或表裡兩證俱不見，而病日深，但目睛不了了者（昏昧不精明），或腹滿實痛者，或煩渴、或譫妄、或狂躁、喘滿者，或蓄熱極深而將死者，通宜大承氣湯下之，或三乙承氣湯下之尤良。傷寒，大發汗，汗出不解，反無汗，脈尚浮者，蒼朮白虎湯再解之。</p>
<p>或中暑、大汗自出、脈虛弱、頭痛、口乾、倦怠、煩躁、或時惡寒、或畏日氣、無問表裡，通宜白虎湯；或裡熱甚，腹滿而脈沉可下者，宜大承氣湯，或三乙承氣湯尤妙。傷寒表熱極甚，身疼、頭疼不可忍，或眩，或嘔，裡有微熱，不可發汗、吐下，擬以小柴胡、天水、涼膈之類和解，恐不能退其熱勢之甚者。</p>
<p>表熱勢甚，而裡已有熱，發表未開，則陽熱暴甚，故不宜汗之。表熱勢甚，若吐下之，則表之熱大乘虛而入，反成結胸等證，則危極也。</p>
<p>或大下後，或再三下後，熱勢尚甚而不能退，本氣損虛而脈不能實，擬更下之，恐下脫而立死，不下之則熱極而死，寒溫諸藥不能退其熱勢之甚者；或濕熱內余，下利不止，熱不退者；或因大下後濕熱利不止而熱不退，脈弱、氣虛，不可更下者；或諸濕熱內余，小便赤澀，大便溏泄、頻並、少而急痛者，必欲作痢也，通宜黃連解毒湯以解之也。</p>
<p>或裡熱極甚，而恐承氣不能退者；或以下後而熱不退者；或蓄熱內甚，陽厥極深，以至陽氣拂鬱，不能營運於身表、四肢，以致通身清（一作青）冷，痛甚不堪，項背拘急，目赤睛疼，昏眩恍惚，咽乾或痛，　渴虛汗，嘔吐下利，腹滿實痛，煩冤悶亂，喘急鄭聲。</p>
<p>郁，鬱滯不通。鄭，音聲，連濁邪惡而不清雅也，此乃熱勢過極而語音濁亂，不能清利也。俗反妄傳以為寒極陰毒，誤之甚矣。</p>
<p>脈須疾數，以其極熱蓄甚，而脈道不利及致脈沉細而欲絕。俗未明其造化之理，而反謂傳為寒極陰毒者；或始得之陽熱暴甚，而便有此證候者。</p>
<p>夫辨傷寒陰陽之異證者，是以邪熱在表，腑病為陽；邪熱在裡而臟病為陰也。俗乃妄言寒熱陰陽之異證者，誤之久矣。且《素問》傷寒直云熱病，誠非寒也。其三篇名曰熱論、刺熱篇、評熱病篇，及逐篇明言為熱，竟無寒理。兼《素問》及《靈樞》諸篇運氣造化之理推之，則明為熱病，誠非寒也。寒病固有，夫非汗病之謂也。且造化為汗液之氣者，乃陽熱之氣所為，非陰寒之所能也。以觀萬物熱極而出液，明可知矣。經曰：夫熱病皆傷寒之類也。又曰：人之傷於寒也，則為熱病。</p>
<p>然既身內有陰寒者，止為雜病，終莫能為汗病也。況病法曰：身熱為熱在表，飲水為熱在裡。其傷寒汗病，本末身涼不渴，小便不黃，脈不數者，未之有也。雖仲景有四逆、薑、附之類熱藥，是以治其本。</p>
<p>裡和，誤以寒藥下之太早；表熱未入於裡，而寒下，利不止；及或表熱裡寒而自利者，急以四逆湯攻裡，利止裡和，急以解於表也。故仲景四逆湯證後，復有承氣下熱之說也。由是觀之，傷寒汗病，經直言熱病而不言其有寒，無疑也。經言三陰證者，為邪熱在臟、在裡，以臟與裡為陰也，宜下熱者也。夫傷寒陰陽之別者，但非表熱，當汗，而下之則死；裡熱當下，而汗之亦死。故仲景曰：桂枝下咽，陽盛即斃；承氣入胃，陰實即亡。死生之要，在乎須臾，視身之盡，不暇計日。此陰陽虛實之交錯，其候至微，發汗、吐下之相反，其禍至速，而醫術淺短者，懵然不知病源，為始乃誤，使病者殞沒。然則止謂邪熱在表則汗之，邪熱在裡則下之，熱在上則吐之，熱在下則泄之，邪熱半在表半在裡則和解之，豈分寒熱陰陽之虛實，與陰陽汗病之證耶。況朱奉議自言陰毒脈疾至七至八至以上，疾不可數者，陰毒已深也。夫既云疾至八至以上，疾不可數者，正是陽熱極深之脈也，豈是陰寒歟？凡世俗所謂陰毒諸證，以《素問》造化驗之，皆陽熱亢極之證，但蓄熱極深在內，而身表有似陰寒也。經云：亢則害，承乃制。言五行之道，實甚過極則反似克其己者，是為兼化。如萬物熱極反出水液；以火煉金，熱極反似水。是以火極而似水之化也，五行皆然。故肝熱甚則出淚，心熱甚則出汗，脾熱甚則出涎，肺熱甚則出涕，腎熱甚則出唾。</p>
<p>今傷寒為作汗之病氣者，乃陽極怫鬱而否極復泰，即熱氣蒸蒸而為汗出也。如天時陽熱亢旱，否極而泰，則復為雨也。故欲雨，則乃鬱熱，晴霽則天反涼。人涼則病愈，熱在病在。故病寒者自是寒病，非此汗病之氣也。雖寒屬陰水，而天地陰陽氣液相生之道，則寒之化，不能更生陰水也。故古聖曰：陽中生陰，陰中生陽；氣中生液，液中生氣。又曰：積液生氣，積氣生液。又經曰：氣和而生猶液，然氣為陽物，故萬物之水液，皆生於陽熱之氣，如天氣陽熱極甚則萬物濕潤，而冬寒萬物干燥。由是言之，既為作汗之病氣，本熱非寒明矣。故經又曰：凡傷寒而成溫病者，先夏至日為溫病，後夏至日為暑病。暑與其汗皆出止。言邪熱隨汗皆出盡而愈也。又經曰：飲食飽甚，汗出於胃。驚而奪精，汗出於心。負重遠行，汗出於腎。疾走恐懼，汗出於肝。搖體勞苦，汗出於脾。此皆動亂勞苦而致陽熱以為汗出，豈可反言作汗之病以為陰寒耶。今之俗醫，不明陰陽變化之道，而妄取陽主於生，陰主於死，而欲養於陽熱者，殊不知此言自生之後，以顯為陽，陽中生陰，故生者死之道也。既死之後，以隱為陰，陰中生陽，故死者生之道也。此古人之論道，乃死生、有無、動靜、隱顯之陰陽，非言寒熱之陰陽也。俗又妄言仙經云純陽升而為仙，純陽死而為鬼，因以養陽熱者，亦不知此以陽主虛無而言神為陽，陰主形體而言形為陰。言善養生者，調順陽陰，煉就陽神超升，棄其陰體，即純陽之神乃為仙也；不明道者，寒熱不調，以致陰陽勝負，耗絕陽神，惟存陰殼，則游魂冥冥，非鬼何哉。此則修養家言形神之陰陽，而非醫家寒熱之陰陽也。俗又妄謂周易以陽為尊、為美、為善、為剛、為清、為正，而陰邪反之。因以但欲養於陽熱者，此又不知易象言陰陽體用之道以為教，非言一身寒熱之陰陽也。</p>
<p>故陽健唱命而陰順和之，陰順和之則陰陽和平而同歸善道，非以乾陽特為熱也。且夫子云：乾為天、為圓、為君、為父、為玉、為金、為寒、為冰，然則乾之純陽。豈謂熱耶？此亦非特取寒冰為陽，是取寒冰之勁健、整肅、清剛為乾健之象耳。夫寒熱之卦，坎為中男，乃少陽之卦，即寒冰也；離為中女，乃少陰之卦，即火熱也。坎離水火為夫婦，而易以陽剛坎水寒者為夫，而陰柔離火熱者為婦，亦非以熱為陽剛，而寒為陰柔也。故易言陰陽者，但以明其物象，而非《素問》論病寒熱陰陽之氣也。設云乾為寒者，本非取乾陽為寒，但取寒之勁栗清整，像乾之道也。俗又妄言人生則身溫，而死則身冷，及病雖身熱未至於死，將死者必熱反變寒而後死也。因云陽則生，陰則死。以此專欲養於陽熱，殊不知一身之內，寒、暑、燥、濕、風、火，六氣渾而為一，雨停則和平，一興一衰，病以生也。夫和平之常者，溫涼得所適當，其陽和之氣，如俗云人體溫和是也。然冬寒而人腠理閉密，則身當溫和；夏熱則腠理開通，而多汗出，則身當微涼；相反者病，過與不及亦病。其中臟腑陰分以為根本，則固守陽和之氣，但當溫和乃為和平。唯臟腑之氣，各隨五行休囚旺相死之時位，而微有虛實不一也，此之虛實乃自然之道，而不為病者。然冬腎水陰至而寒，復以天氣寒則腠理閉密，而陽氣收藏固守於內，則適當其平，而以能內外之寒。夏心火陽旺而熱，復以天氣熱則膚腠開泄，而陽熱散越於外，適當其平，而以能內外之熱。萬物皆然。此陰陽否泰大道造化之理，蓋莫大乎此也。然雖秋冬痞閉，此以其肺腎陰王而得其所，故康強省病，而病亦輕微也；春夏開泰，以其肝心陽王，故　（音區）弱多病，而病熱怫鬱，則陽氣散越，故病甚而多死亡。及夫地理方位高下，四時寒熱溫涼，安危壽夭病同。故經曰：陰精所奉人多壽，陽精所奉其人夭。又《仙經‧西山記》言：平人四時嘗有唏，謂三焦相火無不足；八節不得吹，謂腎臟陰難得實。然則豈可不明陰陽虛實，但欲養於陽熱耶。凡病致死者，陽和氣既不存，則止為陰濕形體而已，非冷何哉。俗未知熱甚則熱蓄於內，而陽熱不能營運於四肢、身表，故四肢逆冷，以致身冷、脈細而微則死；蓄熱甚者，氣血不通而身面俱青，此則蓄熱之深也。所以仲景言傷寒熱極失下則厥，厥深者，熱亦深；而厥微者，熱亦微。如此則熱極而死者，莫不身冷、脈微，而以致於絕也。俗未明其然，直反妄曰陽在則生，陽去則死，又曰陽熱變為陰寒則死，因以但欲養其陽熱，而反致殘陰暴絕，則陽氣後竭而死不為少也。俗醫未深明造化，又以妄為傷寒得之勢惡，陽勢暴甚而便蓄熱以深，身冷厥逆，手足無復溫和者，直以為寒極而為陰厥，以對陽厥；及表裡熱勢俱甚，而不蓄熱於內者以為陽毒，以配陰毒，分為寒熱陰陽之異證。曾不知傷寒汗病，便是熱病，實無陰毒、陰厥者也。嗚呼！病本熱甚，熱蘊於裡，則陽氣陷下，以致厥逆身冷或青，而脈微，乃妄以寒極而內外急救其陽，而反招其暴害，因以妄言必死之證。間或強實之人，素本不衰，及熱鬱怫結，況衰微者，偶中辛甘熱藥發散，而腠理氣通，怫熱以隨汗泄而愈者，遂以為必死之病而救之以活，反恨往之死者，救助其陽之不及，因以互相議論。但見蓄熱內結厥逆者，或未厥者，早以溫之，無用寒涼，恐成陰毒、陰證而死。俗醫治傷寒，誤人多者，無過於此。後學之士，但以《素問》運氣自然造化之理，原其標本，則明可見焉。且以依法救人，慎勿惑於眾人之言。故經曰：謹熟陰陽，無與眾謀。又曰：知逆與從，正行無問，此其道也。</p>
<p>或兩感勢甚者，通宜解毒加大承氣湯下之。熱不退者，宜再下之。然雖古人皆云，三下之熱未退即死矣。亦有按法以下四、五次，利一、二行熱方退而得活者，免致不下退其熱而必死也。下後熱稍退而未愈者，黃連解毒湯調之。或微熱未除者，涼膈散調之。或失下熱極，以致身冷、脈微，而昏冒將死者，急下之，則殘陰暴絕而死，蓋陽氣後竭而然也，不下亦死，宜涼膈散或黃連解毒湯養陰退陽，蓄熱漸以宣散，則心胸復暖，脈漸以生。至於脈復而有力，方可以三一承氣湯下之，或解毒加大承氣湯尤良。下後微熱不解，涼膈散調之。</p>
<p>愈後常宜服愈熱之藥，忌發熱諸物。</p>
<h4>傷寒表證</h4>
<p>夫傷寒之候，頭項痛，腰脊強，身體拘急，表熱惡寒，不煩躁，無自汗；或頭、面、目痛，肌熱，鼻干；或胸滿而喘，手足指末微厥，脈浮數而緊者，邪熱在表，皆麻黃湯發汗之證也，或天水散之類甚佳。無使藥不中效而益加害也。</p>
<p><u>益元散</u></p>
<p>（一名天水散，一名太白散）治身熱、嘔吐、泄瀉、腸　、下痢赤白；治淋閉、癃閉疼痛、利小腑，偏主石淋，蕩胸中積聚寒熱，大益精氣，通九竅、六腑津液，去留結，消蓄水，止渴利中，除煩熱、心燥，治腹脹痛悶，補益五臟，大養脾腎之氣（此腎水之臟，非胃土之腑也），理內傷、陰痿，安魂定魄，補五勞七傷，一切虛損。主癇螈、驚悸、健忘，止煩滿、短氣、臟傷咳嗽，療飲食不下，肌肉疼痛。治口瘡、牙齒疳蝕，明耳目，壯筋骨，通經脈，和氣血，消水穀，保真元，解百藥、酒、食邪熱毒，耐勞役、飢渴、寒熱，辟中外諸邪所傷，久服強志、輕身、駐顏、益壽，及解中暑、傷寒、疫癘、飢飽勞損、憂愁思慮、恚怒驚恐、傳染、並汗後遺熱、勞復諸疾，兼解兩感傷寒，能遍身結滯宣通，和氣而愈；及婦人下乳、催生，並產後損液血虛，陰虛熱甚，一切諸證，並宜服之。</p>
<p>兼愈吹乳、乳發或已覺吹乳，乳癰頻服即愈。乃神驗之仙藥也。</p>
<p>石淋：服金石熱藥，結為砂石，自小便中出，痛不可忍。</p>
<h4>傷風表證</h4>
<p>（一曰中風）</p>
<p>夫傷風之候，頭痛項強，股節煩疼，或目疼、肌熱、乾嘔、鼻鳴、手足溫、自汗出、惡風寒，脈陽浮而緩，陰浮而弱也（關前曰陽，關後曰陰）。此為邪熱在表，皆桂枝湯解肌之證也。或汗出憎風而加項背強痛者，宜桂枝東加葛根湯也；反無汗者宜葛根湯也。雖已服桂枝，反煩不解而無裡證者，先刺風池、風府，卻與服之。或服桂枝大汗出，脈浮而洪大，再宜服之。發汗後半日許，復熱煩，脈浮數者，再宜桂枝湯也。當汗而反下之，不成結胸而但下利，清穀不化，表證尚在者，表熱裡寒也，此言承氣寒藥下之者也，或誤用巴豆熱藥下之，而協熱利不止者，或表裡皆熱，自利或嘔者，皆宜五苓散止利兼解表也。</p>
<p>急以四逆湯溫裡；利止裡和，急以桂枝湯解表。</p>
<p>或表熱裡和，下利同法。</p>
<p>或陽明病，脈浮遲、汗出、微惡寒。或太陰病，腹滿而脈浮者，並宜桂枝湯也。</p>
<p>脈反沉實者，大承氣湯下之。</p>
<p>或下之早，而心下痞，汗出、惡寒、脈浮者，表未解也。先桂枝湯以解表，已而以下血也。</p>
<p>宜桃仁承氣湯，或抵當丸攻之。</p>
<h4>俱中風寒</h4>
<p>頭項痛、肢疼、手足溫，中風也。反無汗、惡寒、脈浮緊者，傷寒也。或頭項痛、腰脊強、身拘急、指末微厥、不自汗，為傷寒也。反煩躁而脈緩者，為傷風也。風則傷衛，而寒則傷榮。</p>
<p>萬物必以陰求陽、陽求陰，陰陽相應，則為和平。故榮者陰氣也，寒加之則傷耳。故又曰寒傷血，血亦陰也。衛陽氣也，風亦陽也，故風加之則傷耳。故曰熱傷氣，氣為陽也。經言陰寒主於閉藏，而陽熱主於開泄。故寒傷榮，則腠理閉密，拂熱內作，燥熱而無汗，故脈數浮而緊也；風傷衛，則腠理開泄而自汗也，故脈浮而緩；以邪熱泄越，故脈不能實；陽明主於肌肉，故自汗多而脈反遲也。熱乃陽中之至陽，故傷熱氣則大汗自出，病雖為熱，脈不能實而虛弱也。然拂熱痞閉無汗者故當病也，其汗泄通泰而亦病者，蓋泰極則否也。夫人氣和而為汗，如天地氣和而為雨，過多則澇，久不雨則旱，有無多少貴乎應時，興衰失常則災害至矣。萬事皆然。</p>
<p>榮衛俱傷，則表裡熱甚也，宜大青龍湯。</p>
<p><u>小青龍湯</u></p>
<p>　治傷寒表未罷，心下有水氣。</p>
<p>表雖未罷，而已有熱入於裡，怫鬱於胃，則飲食水液不能傳化宣行，蓄積不散而為此，非裡熱大實，煩渴引飲過多，停積而為病者。</p>
<p>乾嘔發熱而咳，或渴、或利、或噎、或小便不利，少腹滿，或喘者。</p>
<p>水不能浸潤宣散，滋潤腸胃臟腑，故熱而渴，或噎、或喘、或小便不利、少腹滿而喘也；水液不能宣行，則濕熱盛於腸胃，故或利也。</p>
<p><u>小柴胡湯</u></p>
<p>　治傷寒中風，其病半在表、半在裡（脈在肌肉不沉不浮），筋脈拘急。</p>
<p>身體疼痛，寒熱往來（惡寒為表熱，發熱為裡熱）。寒熱往來者，邪熱半在表、半在裡也，進退不已，而言無常也。</p>
<p>或嘔、或咳，胸脅痞滿硬痛，下之前後，無問日數及汗後余熱不解，或無問傷寒、雜病、蒸熱作發並兩感，可和解者，並宜服之。</p>
<p><u>涼膈散</u></p>
<p>（一名連翹飲子）治傷寒表不解，半入於裡，下證未全，或復未愈者；或燥熱怫結於內，而煩心懊　不得眠者；及無問傷寒、雜病、大人、小兒、臟腑積熱、煩躁多渴、面熱、頭昏、唇焦、咽躁、舌腫、喉痹、目赤、鼻衄，頷頰結硬、口舌生瘡、痰實不利、咳唾稠黏、睡臥不安、譫語狂妄、腸胃濕燥、便尿悶結、一切風熱壅滯、風眩、瘡癬及傷寒陽明胃熱發斑、下證未全者；或誤服暖藥過多，為諸熱證，並酒甚熱毒，兼小兒　疹、痘瘡未出及驚風積熱、傷寒不能辨別者；或熱甚痘瘡已出未快者，或熱極黑陷將死者。</p>
<p>小兒疹痘未出，誤以熱藥發汗，致使陽熱轉甚，則重密出不快，多致黑陷而死。因以世俗多疹不敢服藥，以誤小兒諸病多矣。亦不知古人所留涼瀉之藥，通治風、驚、積熱、傷寒熱病，縱誤是瘡，亦使熱勢稍退，而稀少出快，早得痊安也。若用此最為妙也。</p>
<p>閻孝忠集《小兒方論》未達錢氏本意，不明造化之理，反妄言疹病黑陷為寒，及曰凡　疹始終不可服涼瀉之藥。後人因之反致熱甚黑陷而死者不可勝計也。閻公豈不詳自所編錢氏方治　疹黑陷用牛李膏及百祥丸，凡寒藥下之而多得痊愈者，而不救則必死。然則痘疹為熱病豈不明哉。況經曰：諸痛癢瘡瘍皆屬於心。及夫　瘡黑陷，無不腹滿喘喝（嘶聲）而小便赤澀不通，豈不是熱極乎。況　疹本因熱而生，病勢轉甚也，豈能反為寒者也。</p>
<p>並兩感諸證（三陰三陽雙傳諸證），並宜服之。或傷寒熱極將死，陰氣衰殘則不宜下，下之則陰氣暴絕，陽氣後竭而死矣。惟宜養陰退陽，以至脈復而有力，而後以三一承氣湯微下之。下後未愈者，更以涼膈散調之，雖愈後猶宜少少服之，庶邪熱不致再作也。</p>
<p>白虎湯治傷風自汗，桂枝證表未解，半入裡，可以和解者。</p>
<p>脈在肌肉而不可下者也。</p>
<p>或中暑自汗脈虛弱者。</p>
<p>熱傷氣而反自汗大出，故脈不能自實而反虛弱。</p>
<p>或傷寒自汗，脈滑數而實，表裡俱熱。</p>
<p>脈沉浮皆得有力而數，身熱、頭痛、煩渴、腹滿、小便赤黃也。或三陽合病（言太陽、少陽、陽明合受其為病之熱氣），腹滿、身重，難以轉側，口燥、面垢、譫語、遺尿。</p>
<p>如誤發汗則譫語益甚，下之則便額上出汗，後必發黃。</p>
<p>或厥逆自汗者，是謂熱越（言自汗散越也）。如或裡熱而脈厥者；或下證未全者；兼和解兩感傷寒。此方最解頭痛，並止自汗，無問中暑、傷寒、風熱雜病，及傳染時疫，本非外傷風寒，脈便不浮，而自汗、頭痛，欲作汗病者，並宜服之。</p>
<p>無問四時，但隨證而用之。他藥仿此。</p>
<p><u>五苓散</u></p>
<p>　治中暑，並傷寒大發汗後，胃中干，煩躁不得眠，脈浮，小便不利，後熱煩渴及表裡俱熱，飲水反吐（名曰水逆），或攻痞不解，或口乾煩渴，小便不利，或痞尚在而利不止者，或當汗而反下之，利遂不止，脈浮表不解，自利或小便不利者。</p>
<p>凡用五苓散，證無問脈之沉浮。</p>
<p>或一切留飲不散，以此散水止渴，並解兩感，太陽、少陰俱病。</p>
<p>經言六經病證者是也。</p>
<p>或一切吐瀉霍亂（無問寒熱），及小兒瀉驚風（無問急慢），皆宜服之。</p>
<p><u>桂苓甘露散</u></p>
<p>（一名桂苓白朮散）治傷寒中風，冒暑飲食，內外一切所傷，傳受濕熱內甚，或頭痛、口乾，或吐瀉、煩渴，或小便赤澀、大便急痛，或瀉利間作，並一切濕熱，霍亂吐瀉，轉筋急痛，腹滿痛悶，或中外諸邪所傷而並吐瀉者，濕熱之時尤宜服之。</p>
<p>並治小兒驚風。</p>
<p><u>白朮散</u></p>
<p>　治傷寒雜病，一切吐瀉、煩渴、霍亂、虛損及氣弱久虛，保養衰老兼治酒膈嘔噦。</p>
<p><u>四逆湯</u></p>
<p>　治傷寒，表熱未入於誤以寒藥下之太早，其表熱本未入，因而裡寒，下利不止，或表熱裡寒，自利不止者，急以四逆溫裡。</p>
<p>脈浮不渴，小便清白不溫，完穀不化者是也。或辨便、溺之色者，須更審其飲食萬物之色也。</p>
<p>或下後協熱利不止者，咽乾煩渴也，謹不宜溫也，宜五苓之類散其濕熱也。惟裡寒者可以溫之，止其寒瀉。</p>
<p>利止裡和，表證尚在者，急以桂枝湯解表也。或雜病寒飲嘔吐者，或寒濕泄瀉者。</p>
<p>然雖雜病，若濕熱吐瀉者，不宜此方。雖亦有濕熱痞閉之微者，誤中辛熱開發而效，甚者強劫不開，則怫熱病轉加也。惟裡寒可通用四逆湯也。</p>
<p><u>茯苓半夏湯</u></p>
<p>　治傷寒雜病，一切嘔吐或喘咳、頭痛者。</p>
<p><u>半夏橘皮湯</u></p>
<p>　治傷寒雜病，嘔噦風眩，痰逆咳喘，頭痛並風熱反胃吐食諸證。</p>
<p><u>黃連解毒湯</u></p>
<p>　治傷寒雜病，並酒燥熱毒，煩悶乾嘔，口燥呻吟，錯語，不得眠，凡一切大熱狂躁喘滿及陰厥極甚，蓄熱內深，俗妄傳為陰毒者（見前辨）；表熱太甚，頭項、肢體痛不可忍，脈洪躁，裡有微熱不可汗者；或濕熱內甚，或欲作痢者。</p>
<p>大便溏數而少腹急痛，小便赤或澀者，必欲作痢也。</p>
<p>或已利，熱勢甚者（並服本方）；及下之前後，寒涼諸藥不能退其熱勢之甚者。兩感諸證同法。</p>
<p>兩感者：一日，太陽與少陰俱病，則頭痛、口乾而煩滿；二日陽明與太陰俱病，則耳聾、囊縮而厥，通宜此方以退表裡諸熱。朱氏不明此皆熱證，妄言前三日真為病寒，以四逆湯急溫裡，而後以桂枝湯急解表，大誤人也。</p>
<p>此二方皆不可用，但隨表與裡，熱勢微，甚以退其熱，使無致熱極而死者是也。若勢甚宜下者，加大承氣湯下之。及夫經言，此三日傳受，亦大略之法也。大抵宜隨證以施治，亦不必拘也。</p>
<p>或勢甚欲下，慮不能退其熱者，加大承氣湯下之。或熱結極深，而諸藥數下，畢竟不能利，不救必死者，此法更下甘逐末一錢以下之（吐利同效）。或但自熱結胸中，心胸高起，腹雖不滿，而但喘急、悶結、譫妄、昏冒，關脈沉數而緊者，尤宜此法急以下之。</p>
<h4>吐愈佳</h4>
<p>瓜蒂散　治表證罷，邪熱入裡，結於胸中，煩滿而飢不能食，微厥而脈乍緊者，宜以吐之。</p>
<h4>諸可下證</h4>
<p><u>大柴胡湯</u></p>
<p>　諸服小柴胡湯證後，病不解，表裡熱勢更甚而心下急郁微煩，或發熱汗出不解，下心痞硬，嘔吐下利（以上屬太陽）；或陽明病，多汗；或少陰病，下利清水，心下痛而口乾；或太陰病，腹滿而痛；或無表裡證，但發熱七、八日，雖脈浮而數，或脈在肌肉，實數而滑者；及兩感諸證，可微下者，雙除表裡三熱者，並宜此劑。</p>
<p><u>大承氣湯</u></p>
<p>　治大、小二柴胡證後，表裡俱熱，病勢更甚者；或陽明脈遲、汗出、不惡寒。</p>
<p>陽明主肌肉，熱甚，自汗多，故脈不能數而反遲也。裡熱更甚，故不惡寒而反惡熱也。</p>
<p>身重短氣，腹滿而喘，有時潮熱，惡寒為表熱，當汗而不可下；發熱為裡熱，當下而不可汗。</p>
<p>或手足心　然汗出者。（　，阻立切，和也。）</p>
<p>今言，唯手心足心氣似和，然而汗出也。</p>
<p>此大便已硬也；或吐下後不解，不大便五、六日至十余日，日晡潮熱，不惡寒，獨語如見鬼狀，劇者發則不識人，循衣摸床，惕然而安，微喘，此陽明裡熱極甚也。</p>
<p>足陽明胃經外為肌肉十二經之長；內為五臟之本，六腑之大源。故陽明胃病雖為腑病，其脈沉數而實者，皆當下之也。然腸胃熱甚則大便自黃赤變褐以至於黑者，難治也。</p>
<p>凡潮熱譫語，不能食者，腸中已有燥糞，能食者但硬耳。舊云胸中有燥糞，是寄手陽明證在足陽明也。</p>
<p>燥糞實非在於胸耳。</p>
<p>或陽明病，下之後，心胸燥熱而懊　煩躁者（亡液故也）；或煩熱，汗出則解，復如瘧狀，日晡發熱而脈沉實者，宜以下也。</p>
<p>脈浮虛者，桂枝湯主之。</p>
<p>或六、七日不大便，目不了了，睛不和，無表裡證，大便難，身微熱者；或小便不利，大便乍難乍易，時發微熱，喘冒不能臥者，有燥糞也；或三部脈皆平，心下硬；或脈大而緊者；或下利、脈滑而數者；或下利，脈遲而滑者。</p>
<p>遲由熱泄不止而致之，實非寒也。</p>
<p>或少陽病，二、三日，口燥咽乾者；或自利清水，色純青，心下痞痛，口燥者。</p>
<p>皆濕相搏於腸胃之內而或下利也。然熱則郁結，濕則痞閉，故水液不結及浸潤於外，則腸胃之外，燥熱太甚，而煩渴不止，腸胃之內濕熱瀉也，本因熱鬱而留飲以成濕也。</p>
<p>或諸腹滿實痛，煩渴譫妄，脈實數而沉者，無問日數，並宜大承氣下之。或裡熱燥甚，腸胃怫鬱，留飲不散，煩渴不止，胸腹高起痛不可忍，但嘔冷液，大渴反不能飲飲亦不能止其渴，喘急悶亂但欲死者，熱服下咽立止其渴有若無病之人，須臾大汗而愈，至此往往多未利而汗出，亦有藥力但隨汗之宣通，則不利而愈者也。</p>
<p><u>小承氣湯</u></p>
<p>　治傷寒日深，恐有燥屎，欲知之法，少服小承氣湯，腹中轉矢氣（謂動轉失泄之氣也），有燥屎也，乃可攻之；不轉矢氣者，必初硬後溏，未可攻之，攻之則腹滿不能食也。欲飲水而噦，其後發熱者，大便復硬而少也，宜小承氣和之。若腹大滿不通與小承氣湯微和胃氣，勿大泄也。或陽明多汗，津液外出，腸胃燥熱，大便必硬而譫語也。或譫語、脈滑疾，或發汗、吐、下後，微煩，小便、大便因硬者；或下利譫語者，多復有燥屎也，通宜小承氣湯下之。或得病二、三日，脈弱，無太陽柴胡證，煩躁，心下硬，至四、五日，雖能食，少少與小承氣湯和之，令小安。</p>
<p><u>調胃承氣湯</u></p>
<p>　治諸發汗、和解、吐後，不惡寒，但發熱而或蒸蒸然者；或日深，心下溫溫欲吐而胸中滿痛，大便反溏，腹微滿，郁郁微煩，先此時，自極吐下者（先，蘇佃切）。</p>
<p>先此時者，先此時之前，已曾自極吐、下而復此證也。</p>
<p>或日深，裡熱、譫語，法當承氣下之。誤以銀粉、巴豆燥熱大毒丸藥下之，以致真陰損虛，則邪熱轉甚（甚者為邪，衰者為正），因而協熱下利不止，脈反調和也（協，胡劫切，和也，合也）。</p>
<p>今言病本為熱，而又與辛熱大毒丸藥下之，則兩熱協和相合而熱甚，下利不止也。下利脈當微厥，而其熱藥攻之，故脈反適當其調和也。言有熱，利不止而脈反平，或滑、實、大而緊者也。</p>
<p>及或表病裡和，而下之太早，表熱乘虛入裡，而或不成結胸，但為熱利不止，心下滿硬或痛，煩渴咽乾，脈滑數而或實者，或諸腹滿實痛者，或煩渴譫妄者，小便赤澀，大便或硬，或熱泄，脈滑實而緊甚也，並宜調胃承氣湯下之。</p>
<p><u>三一承氣湯</u></p>
<p>　通治大、小、調胃，三承氣湯證。</p>
<p>大法表證罷，熱傳於裡則宜下之，熱除即愈，宜調胃承氣也；此失下，熱極則危而死矣。表病裡和，則當汗之，熱泄身涼即愈；若反下之，則表熱乘虛入裡而成結胸之類諸病也。或表熱半傳於裡，半尚在表，則不可汗、下，宜小柴胡之類和解之也。或表裡兩證熱勢俱甚，而和解不能已者，雖邪熱半在裡、半在表，法當寒熱往來，以其表裡熱勢俱甚，故亦不惡寒而俱惡熱也，宜大柴胡湯微下之，通除表裡之熱也。或誤用調胃承氣，則只能攻裡不能除其表熱；或用小承氣，多攻裡、少除表，則表熱乘虛入裡，皆能為害也。其大柴胡證，勢更甚者，宜大承氣下之。設未全愈，而或有表之微淺邪熱入之於裡，以其厚朴、枳實之類，善開結滯，而不能成其結胸之類諸病也。故《活人書》言：攻裡之藥，調胃承氣最緊，小承氣次之，大承氣又次之，大柴胡最緩慢。故表證未罷而為裡熱已甚，須可緩下者，先大柴胡，次大承氣，亦可通也。若論善開鬱結，怫熱峻疾得利，而效至大，設未痊除而亦難再郁結者，大承氣也。故《活人書》復言大承氣最緊，小承氣次之，調胃承氣又次之，大柴胡最慢也。是以可急下之者，宜大承氣也，故雖大柴亦可通用，而復無急下之證也。或可微下及微和胃氣者，小承氣湯、調胃承氣為後、先之次。由是觀之，而緩下、急下，善開發而難郁結，可通用者，大承氣湯最為妙也。故今加甘草名曰三一承氣湯，通治三承氣湯證於效甚速而無加害也。然以其甘草味能緩其急結，溫中潤燥而又善以和合諸藥而能成功，故《本草》云國老子也。是以大承氣湯得其甘草則尤妙也。然此一方，是三承氣等湯也。</p>
<p>或無問傷寒、雜病、內外一切所傷，日數遠近，但以腹滿、咽乾、煩渴、譫妄、心下按之硬痛，或熱甚喘咳、悶亂、驚悸、癲狂、目疾、口瘡、舌腫、喉痹、癰腫、瘡瘍，或傷寒、陽明胸熱、發斑、脈沉，須可下者；及小兒驚風、熱極潮搐，涎喘、昏塞，並斑疹。痘瘡、熱極黑陷、小便不通、腹滿喘急、將欲死者，或斑疹後熱毒不退，久不作痂者（痂，音茄，瘡痂也），或作斑癰、瘡癬，久不已者；或怫熱內成　癖堅積，腹滿而喘，黃瘦潮熱，驚風熱積，及大人小兒久新瘧疾，暴卒心痛，風痰酒膈，腸垢積滯，久壅風暴，傷酒食，煩心悶亂，脈數沉實，或腎水陰虛，陽熱暴甚，而僵仆卒中，或一切暴喑不語，失喑；或蓄熱內甚，陽厥極深，脈反沉細而欲絕者；或表之沖和正氣與邪氣並之於裡，則裡熱亢甚而陽極似陰，反為寒戰，脈微欲絕者；或風熱燥甚，客於下焦而大、小便澀滯或不通者；風木能勝濕土，火熱能耗水液，因而成燥。燥則緊斂、堅結、滯不通，故風熱燥甚於下焦，則燥糞結硬，腹又緊斂者，其燥糞不能相離，並膀胱燥郁不能滲泄，故不通也。慎不可用銀粉、巴豆大毒燥熱丸藥下之，反生燥熱而耗其陰液也。故傷寒下熱，古皆禁之。最宜三一承氣湯兼用下取法。</p>
<p>或產婦胎死不下者；風熱燥濕緊斂，則產戶不得自然開通也。其證逆，脈弦數而澀，面赤，或青，或變五色，腹滿急痛，喘閉，胎已不動者，是也。手足溫而脈滑者止為難產，但宜滑胎催生，慎不可下也。</p>
<p>及兩感，表裡熱甚，欲可下者，並宜三一承氣（大承氣加甘草是也）。或下食積及急攻結滯者，調下輕粉一字。滯下、目疾、口瘡、咽喉瘡瘍，斑疹，加涼膈散。下死胎加益元散。</p>
<p><u>十棗湯</u></p>
<p>　治太陽中風，下痢嘔逆，表證罷，乾嘔短氣，不惡寒，　汗出，發作有時，頭痛、心下痞、硬滿，引脅下痛者，兼下水腫、腹脹，並酒積、食積一切腸垢積滯、癖堅積，或蓄熱心腹暴痛，或瘧氣久不已者，或表之正氣與邪熱並甚於裡，熱極似陰而反寒戰，表氣入裡而陽厥極深，故脈微而欲絕也。並風熱燥甚，結於下焦，大便不通，或實熱腰痛者，及小兒熱結，乳癖積熱作發，驚風潮搐，斑疹熱毒不能了絕者，宜以下之。</p>
<p>（瘀，於預切，積也。又音於）</p>
<p><u>桃仁承氣湯</u></p>
<p>　治太陽病不解，而循經熱結在膀胱，其人如狂，血自下者愈。</p>
<p>表不解者，先以桂枝湯解表，已而，但小腹急結者乃以下之（或言少腹者誤也，臍上為腹，腹下為小腹，小腹兩旁，謂之少腹，凡下皆作小腹也）。</p>
<p><u>抵當丸</u></p>
<p>　治傷寒裡熱，少腹滿，當小便不利，今反利者，有蓄血也，宜以下之。</p>
<p><u>抵當湯</u></p>
<p>　治太陽日深，表證仍在，循經而熱蓄下焦，脈微而沉，不結胸而發狂者，熱在下焦，少腹當硬滿，小便自利也，血下乃愈，宜以攻之。或太陽病，身黃，脈沉者，循經而蓄熱下焦也，少腹硬，小便不利，為無血，小便自利，如狂者，瘀血證也。或陽明蓄熱內甚而喜忘（喜，許記切），或狂，大便雖硬而反易不難也，其色黑者，有蓄血也。或無表裡證，但發熱日深，脈雖浮者，亦可下之。或已下後，脈數、胸熱、消穀善飢，數日不大便者，有瘀血也，並宜抵當湯下之。</p>
<h4>發黃</h4>
<p><u>茵陳湯</u></p>
<p>　治陽明裡熱極甚，煩渴，熱鬱留飲不散，以致濕熱相搏而身體發黃。</p>
<p>或言寒熱相搏而發黃者，誤也。則如萬物濕熱甚，則自生黃色苔也。或本傷寒熱極失下，或誤汗之、溫之、灸之、熨之，或誤服銀粉、巴豆大毒熱藥下之，反以亡液損其陰氣，邪熱轉甚；或下之太早，熱入裡，不成結胸，但以發黃者；或失寒涼調治，或熱勢本惡，雖按法治之，而不能退其熱勢之甚者，或下後，熱勢不退，皆能發於黃也。大抵本因熱鬱極甚，留飲不散，濕熱相搏而黃也。</p>
<p>其候但頭汗出，身無汗，劑頸而還，小便不利，渴飲水漿者，身必發黃也。</p>
<p>怫熱在表，燥而無汗，濕熱在裡，氣甚不能散越於外，則濕熱之氣鬱甚而上行，以至頭面陽極之分，則濕熱蒸為微汗，而頸下無汗。然濕熱不能自然宣通散越於周身，故濕熱鬱之極甚，而面目、遍身發黃也。故白虎湯證，遍身自汗出者，仲景謂之散越，不發於黃也。小便不利者，濕熱發黃之證也。或小便自利，或狂，或大便黑者，瘀血證也。發黃亦有譫妄者，本所不言，以黃證未明，故不須言也。</p>
<p>宜茵陳湯調下五苓散以利小便，退其濕熱也。已黃者，茵陳湯利大、小便也。</p>
<h4>結胸</h4>
<p>汗下之後，不大便五、六日，舌乾而渴，日晡小有潮熱，從心至少腹硬滿而痛，不可近，脈尚沉、緊、滑、數，或但關脈沉緊者，通宜大陷胸湯或凡下之。或脈浮者，表未罷也，不可下之（下之死），宜小陷胸湯及小柴胡之類和解，罷者，方可下之。或結胸，雖脈浮而裡熱勢惡，須可下者，宜三一承氣湯，一服分作三次，約三時許服訖，得利甚良，雖未利，稍減，脈必漸沉。病微者，只用三一承氣湯半服，按而下之。裡熱甚者，以大陷胸湯大半服而下之。</p>
<p>謂有前藥之力也。然雖二方中甘遂反甘草，或勢惡者故意以甘草擊甘遂，使開發峻疾而為效速矣。故《世方》及《活人書》雙圓子，亦直用甘草、甘遂也。</p>
<p>或但結胸，別無大段熱證，但頭微汗出，脈沉潛者，水結胸也，通宜大陷胸湯。小結胸者，心下按之而痛，脈浮而滑，別無大段熱證也。</p>
<p>此亦下之早而熱結心胸也。但以熱微於大架構，而甚於痞，但熱之微，甚也。俗未明之，又以妄謂，但結胸無大熱，證為寒實結胸。殊不知《素問》明言熱病而實非寒也。及夫臟結、陰結、陽結者，經以熱結於腑，而腑為陽，是名陽結；熱結於臟，而臟為陰，是名陰結，一名臟結也。然熱結於腑則微而淺，故病厥微而易治；熱結於臟則深，而當病甚，故厥深而難治矣。</p>
<p>或臟結蓄熱極深，而至身冷、脈微而欲絕者，表之熱證反不見也。俗未知本熱極而致，反言陰寒臟結，本亦病熱極，俗又妄加熱藥，反絕殘陰而暴死，十無一生，因以世傳臟結便為死病也。若以《素問》六氣脈證標本驗之，則明可見其熱證也。留飲不散而成頭汗，而脈沉潛反附於骨者，積飲以成水結胸。</p>
<p>及水結胸者，通宜小陷胸湯也。</p>
<h4>痞</h4>
<p>傷寒，表裡俱熱，下證未全，法當和解。誤下之早，則成痞。心下痞滿而不痛，按之軟虛也。</p>
<p>然須裡之陰分已受熱入而為病，是謂病發於陰也。或熱微下證未全，則不任轉瀉。誤下之早，則裡之微熱除去之，外反為熱入所損，虛而表熱，故虛入裡雖不能成結胸，亦作痞也。俗醫妄謂陰寒之作發，下之早而成痞者，誤也。然病既已為陰寒，何得更言發於陰也。</p>
<p>故此之邪熱，病之表於陽分，而裡和未有邪熱，反以下之太早，則裡乃極虛，而表之全熱，大入於裡，此失之至大，故成結胸，而病熱勢惡也。痞則誤之小，故為熱勢輕微也。小結胸者，微於大結胸，而甚於痞也。但分誤之大、小，熱之微、甚，非謂痞為寒也。故仲景本攻痞，多用大黃、黃連、黃芩寒藥耳。後或以加附子、乾薑之類者，是以辛熱佐其寒藥，欲令開發痞之怫熱結滯也，非攻寒耳。故攻痞下開者，後當陷胸湯寒藥下其熱也。或當用大柴胡、大承氣雙下表裡，則表熱入裡，而亦成痞也。</p>
<p>或無問可下、不可下，而誤用銀粉、巴豆燥熱大毒丸藥下之，反以損陰亡液，以使怫熱太甚，亦或成痞。或為諸熱變證，各以本論詳之。</p>
<p>痞脈浮而尚惡寒者，表未解也，當先桂枝湯解表已，而後攻痞也，故只服五苓散便雙散表裡，甚良。或痞，惡寒而汗出者；或痞而煩渴，小便不利者；或痞而留飲，濕熱下痢者；或已成痞，而因藥利尚不止，以其痞滿，誤更下之，其痞轉甚，嘔噦下利，心煩躁者，無問痞脈沉浮，並宜煎生薑湯（生薑一味），調下五苓散，每服四、五錢，頻服。或痞不已，則後亦實熱煩滿，或譫妄，脈沉，無他證者，宜大黃黃連瀉心湯。或用前方小陷胸亦得。</p>
<h4>懊</h4>
<p>懊　者，煩心、熱燥、悶亂不寧也，甚者似中巴豆、草烏頭之類毒藥之狀也。</p>
<p><u>梔子湯</u></p>
<p>　治懊　、煩心、反復顛倒、不得眠者；燥熱怫鬱於內，而氣不能宣通也。經曰：血氣者，人之神，由榮衛血氣營運，則神在乎其中也。然神行於表則榮衛流注於經，謂之行陽，令人寤，猶天之日出為晝也。神行於裡，則五臟相生而順傳，謂之行陰，令人寐。故神識外無所用而惑，神迷於內，則復為夢也，猶日入於夜。其夫燥金主澀，而濕土主滑，夫燥濕之體，必先因之於彼氣而後為其兼化也，猶先大涼而物後燥，及風勝，濕熱耗其液而成燥體，及熱太甚，則萬物濕潤而出液者也。由是表熱無燥者，氣血營運通利，而成癲狂走呼而力大者也。燥熱病於外者，氣血壅滯，則痿弱而無力也。故病內熱而無燥者，津液潤澤，氣血滑利，則昏冒多睡也。如洗心散寒藥，言治多睡是也。故小兒晝精健，夜安寢，由血液不衰也。夫燥病於內者，氣血澀滯，則懊　煩心不得眠也。夫傷寒之燥熱者，因於大發吐下，或嘔吐瀉痢，自汗過多，或陽熱太甚，損陰耗液，亡液則血衰而成燥熱也。或炙熨、炙烙，或誤服熱劑，或誤因銀粉、巴豆燥熱大毒丸藥下之，反損陰亡液，血衰則燥熱太甚，多為此誤。經曰：目得血而能視，耳得血而能聽，手指得血而能操，掌得血而能握，足得血而能步，臟得血而能液，腑得血而能氣。然則一身之至貴者莫過於血，故陽熱雖甚而血液不衰，則榮衛通利而為病微。</p>
<p>血液既衰以伐，燥熱怫鬱則甚也。且如酒熱方甚，而血液未衰，則氣血宣通而和暢；因其酒熱損陰亡液，以致血衰而酒漸以散之，燥熱怫鬱而煩渴，病於酒也。而再飲後得平者，氣液宣行而燥熱怫鬱後得散也。或不受，復者，酒毒已甚，燥熱不能散也。亦猶世俗妄意以分陽毒微於陰毒者，是謂內外燥熱太甚，而血液不衰，則氣血營運之太甚，而為病者，猶泰極失常，以為陽毒也。以血液衰竭，燥熱太甚，蓄之於內，則陽氣不能營運於表，故遍身青冷、厥逆，病危極將死者，妄謂寒極陰毒也，因以中外急救其陽，而反招暴禍。倘或病熱尚微，而誤中《素問》言辛熱開發強劫之效，因以妄矜己能，以謂陰毒必死之證，救之以活，致使世俗愈感而惟恨救之不及，誤人多矣。殊不知，但以退熱、潤燥、散結，則氣液宣行而愈也。故經曰：腎苦燥，急食辛以溫之。開腠理，致津液，通氣脈也。然氣通和即津液宣行也（故經曰：氣和而生津液相盛而神自生）。</p>
<p>或胸滿結滯，或頭微汗出，劇煩者，梔子湯主之。或少氣者，加甘草一錢，或加嘔者，及初誤以丸藥下之者，加生薑半兩。凡懊　虛煩者，皆用涼膈散甚佳，及宜湯濯手足，使心胸結熱宣散而已。</p>
<p><u>梔子厚朴湯</u></p>
<p>　治心煩、腹滿、坐臥不安。</p>
<h2>卷下</h2>
<h3>諸證藥石分劑</h3>
<p><u>麻黃散</u></p>
<p>麻黃（一兩半去節，湯泡去黃汁，焙乾。秤。）　桂枝（一兩削去皴皮。官桂是也。）　甘草（半兩炙）　杏仁（二十粒，湯浸去皮、尖、雙仁者。下並同法。）</p>
<p>上銼如麻豆大，每服五錢匕。（匕：匙也，謂錢作匙抄也。）水一盞半，煎至八分，濾去滓，溫服。（滓：阻史切，澱也，HT　也。）衣覆以取微汗。或溫病身煩痛，小便自利者，加白朮四分微汗之。（每一分二錢半也。）</p>
<p><u>益元散</u></p>
<p>（一名天水散、一名太白散）</p>
<p>滑石（六兩白膩好者）　甘草（一兩）</p>
<p>上為細末，每服三錢，蜜少許，溫水調下，或無蜜亦可，每日三服，或欲冷凍飲料者，新井泉調下亦得。解利發汗，煎蔥白、豆豉湯下。每服水一盞，蔥白五寸，豆豉五十粒，煮取汁七分調，並三、四服以效為度。此藥是寒涼解散熱鬱，設病甚不解，多服無害，但有益耳。本世傳名太白散，俗惡性寒，蔥易得之賤物，而又不明《素問》造化之理，故不取，本草神驗之言，而多不用焉。若以隨證驗之，乃凡人之仙藥也，何可缺歟。夫傷寒當汗則不可下，當下則不可汗，且如誤服此藥，則汗自不出，而裡熱亦不獲效，亦有裡熱便得宣通而愈者也。或半在表、半在裡，可和解而不可吐。下、發汗者，若服此藥多愈，或不愈亦小減，加涼膈散和解尤佳。或自當汗解者，更加蒼朮粗末三錢，同蔥、豉煎湯調服尤良。</p>
<p>或孕婦不宜滑石、麻黃、桂枝輩發汗，即用甘草一兩、蒼朮二兩同為粗末，每服四錢，水一盞，蔥白五寸、豉五十粒，同煎至六分，濾去滓，熱服。並二、三服取微汗，是名逼毒散，非孕婦亦可服。或太白散、加麻黃二兩去節，如法煎服，世云神白散。或逼毒散加麻黃與蒼朮等分，去節。濟眾云青龍散。或青龍散更加滑石末與蒼朮二倍，是為發汗之妙藥，名曰大逼毒散。此方唯正可汗者即用，誤服之則轉加熱也。或解利兩感，煎涼膈調下益元散四錢。</p>
<p>或下乳，用豬肉、面羹、粥、飲、湯之類調下四錢，不拘時候，日三服，及宜食肉、面、羹、粥。</p>
<p>催產，溫香油漿調下五錢，並二、三服，以產為度。或死胎不下者，煎三一承氣湯一服，調下益元散五錢，須臾，更頻用油漿調益元散溫服，前後俱下，而胎下可活產母也。凡難產或死胎不下，皆由風熱燥澀，緊斂結滯而不能舒緩，故產戶不得自然開通也。此藥力至，則結滯頓開而產矣，後慎不可溫補而反生燥熱也。俗未知產後亡液損血，疼痛怖懼，以致神狂氣亂，則陰氣損虛，邪熱太甚而為諸熱證。由不讀《素問》，不知造化，故不識證候陰陽，反以妄為產諸虛百損，便為虛冷而無熱也，誤以熱藥溫補；或見煩渴者不令飲水，本雖善心為害多矣，豈治病之道。但以臨時審其臟腑六氣虛實，明其標本，如法治之而已矣。此藥泛常多用，然須為效至大，而俗以病異藥同，將謂妄行，反招侮慢，今以黃丹加令桃紅色，名曰紅玉散；加青黛令輕碧色，名碧玉散；加薄荷葉一分，名雞蘇散，主療不殊，收效則一。俗目懵然，何能別此，可遠妄侮，可顯玄功，後之學人其究心焉。</p>
<p><u>桂枝湯</u></p>
<p>桂枝（去皴）　芍藥　甘草（炙等分。三分為率。）</p>
<p>上銼如麻豆大，每服八錢，水一盞半、薑三片、棗三枚擘破，煎至七分，令去滓溫服，續後啜熱稀粥，溫覆令遍身微汗，或暖也。及初夏可加黃芩一兩，名陽旦湯，大熱之分及素有熱人，可再加知母半兩、石膏一兩為末，或更加升麻一分。禁生、冷、黏、滑、肉、面、五辛、酒、酪、臭物等。桂枝證，反下之，不成結胸及痞，但腹滿證在者，本方倍加芍藥，大實痛者，更加大黃半兩；脈弱自利者，不加。</p>
<p><u>桂枝加葛根湯</u></p>
<p>桂枝　芍藥　甘草（各六錢三字）　葛根（一兩三錢）</p>
<p>上如桂枝湯服（謂如桂枝湯銼煎服也，下並仿此）。</p>
<p><u>葛根湯</u></p>
<p>葛根（一兩）　麻黃（泡去黃汁，焙乾秤三分。）　桂枝（去皴）　芍藥　甘草（炙各半兩）</p>
<p>上如桂枝湯服。</p>
<p><u>大青龍湯</u></p>
<p>麻黃（如前制）　石膏（為末各三分）　桂枝（一分半）　甘草（炙一分）　杏仁（十枚湯去皮尖雙仁）</p>
<p>上銼如麻豆大，抄五錢，水一盞，生薑三片，棗三枚擘破，煎至半盞，濾去滓，溫服，令身汗濕，未潤再服。</p>
<p><u>小青龍湯</u></p>
<p>麻黃（如前制）　半夏（湯洗）　芍藥　細辛　乾薑　甘草（炙）　桂枝（去皴各三分）　五味子（二錢）</p>
<p>上銼麻豆大，每服八錢，水一盞半。生薑四片，煎至七分，絞汁溫服。渴者去半夏加栝蔞根三錢。微利去麻黃加芫花彈子大。噎者去麻黃加附子二錢（炮），以開怫熱結滯。小便不利，少腹滿者，去麻黃加茯苓四錢。喘者去麻黃加杏仁（制如前法）。此方燥，至溫散其水，以潤腸胃臟腑之燥，以開發怫熱結滯者也。</p>
<p><u>小柴胡湯</u></p>
<p>柴胡（去苗秤二兩）　黃芩　甘草　人參（各三分）　半夏（六錢泡五七次）</p>
<p>上銼如麻豆大，抄五錢、生薑三片，棗三枚切，煎至半盞，濾去滓，溫服，日三。小兒一服作三服（諸藥法同）。</p>
<p><u>涼膈散</u></p>
<p>（一名連翹飲子）</p>
<p>連翹（一兩）　山梔子　大黃　薄荷葉（去毛）　黃芩（各半兩）　甘草（一兩半）　朴硝（一分）</p>
<p>上為粗末，每服二、三錢，水一盞、蜜少許（或無蜜亦可。舊用竹葉，或亦不須），煎至七分、濾去滓，溫服。熱甚者，可服四錢，亦有可服一、二十錢者。治咽喉並涎嗽加桔梗一兩、荊芥穗半兩。咳而嘔者，本方加半夏半兩，每服生薑三片煎。衄、嘔血者，加當歸、芍藥各半兩、生地黃一兩。淋者加滑石四兩、茯苓一兩。風眩者加川芎、防風各半兩，石膏三兩。酒毒者加葛根一兩。斑疹、痘瘡加荊芥穗、赤芍藥、川芎、防風、桔梗各半兩。三歲兒可服七、八錢；或熱甚黑陷、腹滿喘急、小便赤澀而將死者，此一服更加大承氣湯，約以下之，得利立蘇。</p>
<p>凡言加者，皆自本方加也，但加者每服五、七錢，以意加減調理。兩感傷寒，下證前後以退表裡之熱者，煎本方四、五錢，調下益元散三、四錢。其本方皆能治此諸證，但加即為效也。</p>
<p><u>白虎湯</u></p>
<p>知母（一兩半）　甘草（一兩炙）　粳米（一合）　石膏（四兩為末）</p>
<p>上銼麻豆大，抄五錢，水一盞，煎至六分去滓，溫服無時。日三、四服。熱甚者服七、八錢至十余錢。或眩、或嘔、或咳者加半夏半兩、陳皮半兩，每服用生薑三片煎服。或傷寒，發汗不解，脈浮者，加蒼朮半兩名曰蒼朮白虎湯。或發汗、或下後，煩渴口乾，或脈洪大，或微惡寒者，或不可下者，或除可者之藥外，並宜加人參半兩以調之，名人參白虎湯。</p>
<p><u>五苓散</u></p>
<p>豬苓（去黑皮）　茯苓　白朮（各半兩）　桂（去皴一分）　澤瀉（一兩）</p>
<p>上為細末，每服二、三錢，熱湯調下。惡熱欲冷凍飲料者，新水調下，或生薑湯調下愈妙。或加滑石二兩。甚或喘，嗽咳，煩心不得眠者，更加阿膠半兩炮。</p>
<p><u>桂苓甘露飲</u></p>
<p>（一名桂苓白朮散）</p>
<p>桂（半兩）　茯苓　白朮（各半兩）　甘草（炙）　澤瀉　石膏　寒水石（各一兩）　滑石（二兩制如前）</p>
<p>上為極細末，熱湯調下三錢。欲冷凍飲料者，新水調下，或生薑湯調下尤良。小兒服一錢。</p>
<p><u>白朮散</u></p>
<p>白朮　茯苓（去皮）　人參　藿香葉（淨各半兩）　甘草（炙一兩半）　木香（一分）　葛根（一兩）</p>
<p>上為細末，白湯調下三錢。若煩渴者加滑石二兩。病甚者為粗末，每服一兩半，水一大升，煎至七合，絞汁放冷，從意續續飲之。小兒尤宜。</p>
<p><u>四逆湯</u></p>
<p>甘草（炙）　乾薑（各一分）　附子（半個，生，去皮、臍）</p>
<p>凡用附子，以半兩重者佳，小者力弱，大者性惡，非稱處方之宜也。世皆美其大者，未知古人之有則也。</p>
<p>上銼麻豆大，用水兩盞，煮至一盞，絞汁分溫二服。強實人二劑作三服。或蓄熱極深者，手足厥冷，則不宜此方，當以下之也。</p>
<p><u>茯苓半夏湯</u></p>
<p>茯苓（去皮）　生薑（取汁各一分）　半夏（一錢）</p>
<p>上銼麻豆大，用水一盞，煎至四分，絞汁，下薑汁，溫服。</p>
<p><u>半夏橘皮湯</u></p>
<p>半夏（炮如法）　陳皮（湯浸洗去穰）　甘草（炙）　人參　茯苓　黃芩（去腐心，各一分）　葛根（半兩）　厚朴（去皮，各一分）</p>
<p>上銼麻豆大，用水三盞，生薑一分切，煎至一盞半，絞取汁，分四服，作一日，食後溫服。</p>
<p><u>黃連解毒湯</u></p>
<p>黃連（去須）　黃柏　黃芩　大梔子（各半兩）</p>
<p>上銼麻豆大，每服秤半兩，水一茶盞，煎至四分，絞取汁溫服，無時，日三、四以效為度。每一、二服效。或腹滿嘔吐，或欲作利者，每服加半夏三枚全用，厚朴二錢銼，茯苓去皮銼，水一盞半，生薑三片，煎至半盞，絞汁溫服，名曰半夏黃連解毒湯。或欲急下者，本方加大承氣湯一服，生薑煎，如前法，以利為度。一法為細末，水研如小豆大，溫水下二十丸，治積熱、勞咳、瀉痢甚良。</p>
<p><u>瓜蒂散</u></p>
<p>瓜蒂　赤小豆（等分）</p>
<p>上為細末，以香豉半合（豆豉也），水一盞半，煮取汁半盞，調下一錢匕。不吐加服，得快吐乃止。虛人不宜。</p>
<p><u>大柴胡湯</u></p>
<p>柴胡（去苗秤）　大黃（各半兩）　黃芩　芍藥（各一分）　半夏（二錢）　枳實（三錢，生用，小者是也。）</p>
<p>枳實不去穰，為效甚速。下並同。</p>
<p>上銼麻豆大，分作三服，每服水一盞、生薑三片、棗三枚，煎至半盞，絞取汁溫服。未利再服。</p>
<p><u>大承氣湯</u></p>
<p>大黃　芒硝（朴硝有芒頭者亦得）　厚朴（去皴）　枳實（各半兩）</p>
<p>加甘草一兩，是名三一承氣湯。</p>
<p>上銼麻豆大，分一半，用水一盞半、生薑三片，煎至六分，納硝煎一、二沸，絞去滓，熱服。</p>
<p>凡煎藥須慢火，煎沸即下火為一沸。或言煎至幾分，亦如此法。煎不可強火耗去其水也。</p>
<p>凡病熱鬱甚而冷服寒藥，則病能拒藥，多不能下。故經曰：寒因熱用。未利再服，熱甚者，此一劑分大半作一服，未利再服少半。熱更甚者，一劑都作一服。熱勢甚者，亦可並此二劑為一服（劑：分劑，一劑為一料），方得利而效者，臨時消息以利為度（消息謂損益多少也）。</p>
<p>凡用藥多少，仿於此耳。</p>
<p><u>小承氣湯</u></p>
<p>大黃（半兩）　厚朴（三錢）　枳實（三錢）</p>
<p>上銼如麻豆大，作二服，每服用水一盞、生薑三片，煎至半盞，絞取汁熱服，未利再服。或微下者，一劑分作二服。或和胃氣，不欲利者，一劑分為四、五服。</p>
<p><u>調胃承氣湯</u></p>
<p>甘草　大黃　芒硝（各半兩）</p>
<p>上銼如麻豆大，分一半，用水一大盞，煎至半盞，絞去滓，納硝煎一、二沸熱服。不利再服。</p>
<p><u>十棗湯</u></p>
<p>芫花（慢火炒變色）　大戟　甘遂（各等分）</p>
<p>上為散（細末），用水一盞、肥棗十枚切開，煮取汁半盞，調下半錢匕。強實人服一錢匕，以意加減快利為度。</p>
<p><u>桃仁承氣湯</u></p>
<p>桃仁（湯去皮、尖、雙仁，用板錘碎原缺分量）　芒硝（半兩）　大黃（六錢）　桂（去皴皮）　甘草（各三錢）</p>
<p>上銼如麻豆大，分作三服，每服用水一盞，煎至半盞，下硝絞取汁熱服，日三。以微利為度。</p>
<p><u>抵當丸</u></p>
<p>水蛭（炒）　虻蟲（炒各七枚）　桃仁（八粒）　大黃（一錢）</p>
<p>上為細末，蜜和作二丸，用水一小盞，煮一丸，至六分溫服。　時，血未下者再服。</p>
<p><u>抵當湯</u></p>
<p>水蛭（炒）　虻蟲（炒去翅、足，各十枚）　桃仁（七枚）　大黃（一錢）</p>
<p>上銼如麻豆大，分作二服，每用水一盞，煮半盞，絞去滓溫服。未下再服（蛭，之吉、丁結二切，水蟣也。虻，莫庚切）</p>
<p><u>茵陳湯</u></p>
<p>茵陳蒿（去莖一兩，一名山茵陳）　川大黃（半兩）　山梔子（七枚，小者十枚）</p>
<p>上銼如麻豆大，用水兩盞半，慢火煮至一盞，絞取汁溫服六分。未利再服四分，以利為度。勢甚者作一服，未利再作，以意加減，當下如爛魚肚及膿血膠膘等物，及小便多出金色如皂角汁。或見證將欲發黃者，此一劑分作四服，每服調下五苓散三錢。凡治發黃無越此法也。</p>
<p>世俗有傳烙黃而或愈者。此強實之人，素本中氣不衰；而及濕勢郁之微者，烙之，而誤中強劫，開發得開，氣血宣通，即作汗而愈。或體質本虛，濕熱結甚，則劫發不開，而反致死者，不為少矣。莫若仲景法，對證以藥致之，則免致強劫不開，而反誤人生命也。及夫近世妄傳，有寒極陰黃，而內、外極救其陽，為害多矣。設若病微，而誤中開發得愈，亦已鮮矣。而傷生者，不可勝言也。大抵凡諸黃者有二：一則濕熱氣而黃，萬物皆然。又如麥秀而　雨濕熱過極，則黃膽者也；及水澇而天氣濕熱，則草木將死，而色變黃者也；或病血液衰則虛，燥熱太甚，而身面痿黃者，猶亢旱而草木萎黃也。夫病燥熱而黃者，當退熱、潤燥而已。此傷寒濕熱極甚，而發黃者，開結退熱，雙利大、小腑以除水濕，則利和而愈也。（　，於林切，今作陰）</p>
<p>結胸而發黃者，同陷胸湯各半服，下之。或誤服巴豆熱毒丸藥下之，反損陰氣，遂協熱利不止而發黃者，同大承氣各半服，下之。亦有協熱利不止，更或結胸而發黃者，用茵陳五分，同陷胸湯三分、大承氣二分以下之。或兩感發黃者，本方加黃連解毒湯一服急下之。或頭微汗、小便利而微黃者，濕熱微也，宜此。</p>
<p><u>梔子柏皮湯</u></p>
<p>大山梔子（十五枚）　甘草（一錢）　黃柏（半兩）</p>
<p>上銼如麻豆大，此劑則作二服，每服水三盞，煮至一盞，取絞汁，分三次作一日服。</p>
<p><u>大陷胸湯</u></p>
<p>大黃　芒硝（各三錢）　甘遂末（三字匕）</p>
<p>上銼如麻豆大，一劑分作二服，每服用水一盞，煮大黃至六分，內硝，煎一、二沸絞汁，內甘遂末一字匕半，溫服。未快利再服。熱惡不利者，以意加服。</p>
<p><u>大陷胸丸</u></p>
<p>大黃（半兩）　葶藶（三錢微炒）　芒硝（一分）　杏仁（十二個，草灰炒色變。）</p>
<p>上大黃為細末，下葶藶杵，再羅，研杏仁、硝如泥，和丸如彈子大，每服一丸，入甘遂末三字匕、白蜜半匙、水一盞，煮至半盞溫服。當一宿許乃下。未利再服。</p>
<p><u>小陷胸湯</u></p>
<p>半夏（四錢，湯洗，全用，不銼。）　生薑（二錢切）　黃連（二錢銼）　栝蔞實（大者半個，惟銼其殼，子則不銼。或但用其中子者非也。）</p>
<p>上以水三盞，煮栝蔞取汁一盞半，內余藥煮至一盞，絞取汁，分兩次溫服，以效為度。</p>
<p><u>大黃黃連瀉心湯</u></p>
<p>大黃　黃連　黃芩（各一分）一法加生薑一分甚良。</p>
<p><u>梔子湯</u></p>
<p>大梔子（七枚銼碎）　豆豉（半合）</p>
<p>上以水兩盞，煮梔子至一盞半，內豉煮至半盞，絞汁溫服。</p>
<p>凡加者，皆用梔子先煮。</p>
<p>或吐者，止後服。凡諸梔子湯，皆非吐人之藥，以其燥熱鬱結之甚，而藥頓攻之不能開通，則郁發而吐。因其嘔吐，發開鬱結，則氣通、津液寬行而已，故不須再服也。</p>
<p><u>梔子厚朴湯</u></p>
<p>大梔子（七枚）　厚朴（半兩，炙去粗皮）　枳實（二錢）</p>
<p>上銼如麻豆大，以水一盞半煮，絞汁半盞，溫服。</p>
<h3>泛論</h3>
<p>凡傷寒熱病，下後熱不退，下證尚在者，再三下之以熱退為度。雖熱退尚未痊愈者，隨證調之。</p>
<p>凡下之前後，或大汗將出，或大汗已出（俗言好汗，是言大汗），或汗後煩渴及諸吐瀉雜病，一切煩渴者，須以細細飲之。渴未止者，頻頻時與，但不可過多，以成留飲不散者也（留飲，一名水蓄；經曰積飲）。</p>
<p>夫留飲，謂水液留積蓄聚於內，而不濕潤傳化者也。夫腸胃燥熱太甚，則結滯而氣液不能宣通，故雖飲而難以止其煩渴也。若以頓飲過多，則水濕過極，而腸胃燥熱怫鬱，轉以加其水濕痞閉，故成留飲，而心腹滿痛，或為吐瀉也。</p>
<p>設若不與飲之，則燥熱轉甚，危而死矣。</p>
<p>夫腸胃之燥、濕，猶地旱、澇適當其宜，皆不可過與不及。凡治病之道，以調六氣陰陽，使無偏傾，各守其常，平和而矣。嗟夫！世俗或以妄為冷水、寒藥水損脾腎，隔卻大汗。但令中外俱熱而欲望其作大汗者；或大汗欲出，腸胃燥熱煩渴；及汗已出及慮水卻大汗，不與水者；或氣弱久虛，煩渴者；或吐瀉煩渴者；或產婦煩渴，皆以妄為氣虛，不可飲水也。此乃未知古人云渴欲飲水為熱在裡也。若夫正氣既衰，邪熱燥甚而煩渴者，若非水液寒藥滋養，救其殘陰，退其邪熱，則陽熱暴甚而為害速矣。況不與水而反以大毒熱藥燥之，寧無損者耶。且如酒之體者，水也，比之飲水，則過能多飲，而旋能消散之外，轉能發於渴者，以其苦熱養於心火，則陽盛陰衰，而燥去水濕之體，故旋能消散而善多飲水也。其酒之善多飲者，以其酒之熱毒，若非復以水體勝之；則亦少飲疾醉者，強以飲多，則燥熱太甚而多生病也。然酒力之熱，善消水體，復制酒力，以其熱力多於水體，故飲多即熱醉而燥盡水體，勢力尚在，則燥熱煩渴而病於酒也。然酒之熱耗盡水體之外，尚能燥熱煩渴為病，況病於燥熱太甚，而煩渴，及不與水者，豈不知其害耶。凡燥熱煩渴者，腸胃易為怫鬱，常以退熱、開結、散水、潤燥之藥調之，免致燥熱太甚，則怫鬱以成留飲。雖多飲，亦不止其腸胃臟腑之燥熱煩渴；而或腸胃之內，濕甚以成吐瀉也，涼膈、白虎、五苓及桂苓甘露散之類，隨證以調之也。或成留飲諸病者，隨證燥之。</p>
<p>宜小青龍湯、五苓、桂苓甘露、黃連解毒湯、小陷胸、大承氣之類證本方論中。</p>
<h4>戰汗</h4>
<p>夫熱病大汗將出而反寒戰者，古人以百病皆為雜病，惟傷寒名曰大病，俗言汗病是也。經言大汗者，非謂邪熱自汗大出者也，乃陽氣怫熱鬱結後，得開通發散宣通，則蒸蒸而為汗出，是謂大汗。言大病怫熱邪毒之氣鬱極，乃發以為汗出，故曰大汗也。故經曰：大氣皆去，病得已矣。</p>
<p>表之正氣與邪熱並甚於裡，大熱亢極，而反兼水化制之，故反寒栗也（化謂造化之化也）。</p>
<p>經曰：少陰所至為驚，或惡寒戰栗，譫妄，謂少陰君火熱氣之所至，而為此等之病也。又經曰：諸禁　栗，如喪神守，皆屬於火。注云：熱之內作然。禁：俗作噤，　振搖而動也。言禁冷振栗反寒戰也。經曰：亢則害，承乃制。謂五行之道，微者當其本化，實甚過亢，則反兼勝已之化，以制其甚。老子云：天之道，其張弓乎，高者抑之。斯其道也。經云：水曰靜順。謂靜而自己無為，但順物之氣味也。及方圓不與物爭，乃至柔順者也。水本寒，寒極則水冰如地，而能載物。又經曰：水發而雹、雪。是水寒亢極，而反似克水之土化，是謂兼化也。故病寒極者反堅滿也。夫土主濕，　云雨而安靜，雨濕極甚則飄驟散落，是反兼風水制其土濕也。故經言痙為濕極，而反似風強病也。木主生榮而王於春，其氣濕，其本風，風大則反涼而毀折，是兼金化制其本也。故風病過極，則中外燥澀，皮膚皴揭，反氣營運之燥澀而筋脈螈緩，是反兼金化也。金主於秋而屬於陰，其氣涼，涼極則天氣清明，而萬物反燥，燥物莫若火，是金極反兼火化制之也。故為病血液衰少，燥金之化極甚，則反熱也，燥物莫若火，夏月火盛熱極，甚則天氣曛昧而萬物反潤，以出水液，林木流津，及體熱極而反出汗液，以火煉金，熱極而反化為水，是火極而反兼水化制之也。故病熱極則反出五濕。婦人帶下淋瀝及厥逆身冷，或為惡寒戰栗，而或反冷痛也。俗以帶下，直言冷病，及惡寒戰栗，便為陰寒者，俗醫未知此也。夫天道造化，病微必當其本化，寒見水化，熱見火化也。病甚者，反似勝己之化。如寒極反似濕土，熱極反似寒水之化也。嗟夫！百病之極甚者，其狀反似於己之相反者。俗醫不求其病之本氣，而百端擬疑，莫知真源，不得已而但隨兼化之虛象，妄為其治，反助其病而害於生命多矣。以至舉世皆云病至危極之時，則陰陽反變而無能辨別也。殊不知但以運氣造化之理推之，則設若千變萬化，而歸其要則一也。何得有難易之二邪。故經曰：夫標本之為道，要而博、小而大，可以言一而知百病之害。經又曰：善言始者，必念於終；善言近者，必知其遠。是則至數而道不惑，所謂明矣。故老子曰：不窺牖見天道，不出戶見天下，其出彌遠，其知彌少。蓋知要與不知要也。</p>
<p>古聖曰：反常合道。謂古聖天理大道合約，而常俗之心，則有相反者也。然古聖道不離於俗者，謂道包於俗而入俗也。又云：俗自離道者，常俗莫能合於道也。夫俗則有相，而道本無形者，正如五行之變化，微則守常，而本化自見，乃有相之俗，是化以自見也，甚則反似勝己之化，乃無相而反常合道，是謂變，以其取變於本化之相，而反見勝己之化也。變化之道多端，此則微、甚外相之變化也。故仙經曰：大道似不肖，濃德若不足，即藏其本相於內，而反變化勝己之化，於外無相，乃反常合於道者也。卻以道眼觀之，則求其內也，若但以俗眼觀其外，則逐相而遷，何由得其要也。故聖經所論，天地變化，與道合約而俗無所慊，但隨俗見編集方論，有乖其理，只合俗心，致使後人皆由說，反自以為明，而聖經之妙理懵然罔究，病者無辜，竟罹橫夭。</p>
<p>吁！可痛者。且如經言：陽勝則熱，陰勝則寒。俗直謂陽熱之氣勝則發熱，陰寒之氣勝則發寒者，皆經之本旨也。此言表裡之陰陽正氣之虛實，言正氣勝者為不病，而不勝者為病也。故經曰：陰勝則陽病，陽勝則陰病。陽勝則熱，陰勝則寒。是謂表陽之正氣為不病，裡陰之正氣衰而為受病也。裡陰之正氣勝為不病，表陽之正氣衰而為受病者也。此皆熱在表裡陰陽之部分者也。然病勝在裡，為陽勝陰虛，病當發熱，故發熱為病熱在裡。陽勝陰虛，下之則愈，汗之即死者是也。表熱裡和，則病當惡寒，為陰勝陽虛，汗之則愈，下之即死者是也。故熱在表，為陰勝陽虛，而言惡寒之寒，則為寒也。熱在裡為陽勝陰虛，而言發熱之熱，則為熱也。故傷寒表熱則惡寒，當汗；裡熱則發熱而當下之。又經曰：重寒則熱，重熱則寒者，非謂病寒而極重反變也。此重言當有兩重惡寒，則不惡寒而惡熱，謂表熱惡寒為一寒也；若裡之陽和，正氣又出之於表，則又當有一重惡寒，是謂重寒，則反不惡寒，而為發熱也。若表之正陽之氣，與邪熱並入於裡，則為兩重發熱，則不發熱而復禁栗寒戰也。此反言陽和衛氣，並之於表陽分，則病氣之勝為陽勝也。病氣與衛氣，並甚於裡之陰分，則為陰勝也。此亦表裡之陰陽，正氣之與邪熱相並，而以言為虛實也。然邪熱在於表，則惡寒而熱，與裡之衛氣並之於表，則反煩熱也。邪熱獨在於裡，則發熱，而表之正氣與邪熱並之於裡，則反寒戰也。故經云：陽虛則外寒，陰虛則內熱。此言不並者也。正氣虛而受邪熱，故言虛也。又曰：陽勝則外熱，陰勝則內寒，此言並者也。夫表裡陰陽之分，受其邪熱之所在，其沖和正陽之衛氣，又為邪熱相並，而為病之所，正氣轉實而不虛。故經言勝也。故經瘧論云：陽氣並於陰，當是之時，陽虛而陰盛，外無氣，故先寒栗也。陰氣逆極，則復出之陽，陽與陰復並於外，則陰虛而陽實，故先熱而渴。又曰：並於陽則陽勝，並於陰則陰勝，陰勝則寒，陽勝則熱。是言表裡之陰陽，熱氣之虛實，非寒熱陰陽之虛實也。故經云：病在陽則熱而脈燥，在陰則寒而脈靜。然氣並於內，而外無氣，故寒戰，脈不能燥，甚而沉細欲絕，靜或不見也。夫瘧者邪熱與衛氣並則作發，而不並則休止也。故經曰：衛氣相離，或病得休，衛氣集則復病也。故又云：陰虛而陽盛，陽盛則熱矣，衰則氣復反入，入則寒矣。此只言表裡之陰陽氣不並者為虛，而並者為實，其為病之氣者，乃熱之一也。俗未明之，直以經言陰勝則寒，不明其經意以病熱而反惡寒戰栗，便為陰寒之病，誤之久矣。其陰寒之為病者，脈遲細，不煩渴，小便清白，吐利腥穢，屈伸不便，厥逆禁固，體寒而不熱，不惡寒，無戰栗者也。故經言：人多病氣也，陽少陰多，故身寒如從水中出。又曰：人有身寒，湯火不能熱，濃衣不能溫，不凍栗。此是陰寒為病，而直云不凍栗寒冷也。夫陽動陰靜，故經云：戰栗動搖為陽火熱氣以為病也。反寒冷者，亢則害，承乃制，是火熱極，而反似寒水者也。故病寒戰者反渴，及雜病而寒戰者多有燥糞也。及夫平人冒寒而戰栗者，寒主閉藏，而外冒於寒，則裡熱怫鬱，而表之陽和衛氣，以外寒逼入於裡，則陽並於陰而寒戰也。夫恐極而戰者，經言五志過極則勞傷本臟，恐為腎。故經曰：恐傷腎。然腎傷而虛，則心火自甚而熱也。又經曰：恐則氣下。然陽主出行舒榮，故心火之志喜則身心放肆；而陰主收藏，故腎水之志恐，則身心收斂也。夫恐則腎虛，心實而熱，正氣收藏，陷下於裡，亦是陽並於陰而寒戰也。夫酒噤而戰者，腸胃酒熱未散，身表酒力已消，則陽熱易為蓄熱入裡，故但冒於寒，則陽並於陰而寒戰也。夫欲汗而寒戰者，傷寒日深，表證罷，蓄熱於裡則發熱也，若表裡之正氣並入裡，則火熱無極而反寒戰也。陰分陽熱之氣，逆極而後出之陽，則煩熱而大汗作也。</p>
<p>世所謂交陽者，非陰寒交熱以為陽熱也，乃怫熱蓄之於裡，而鬱極乃發，則交傳出之於表之陽分，是為交陽，而後作汗也。或怫鬱過極，而不能交出於表者，是鬱極不發，否極不泰，即正氣衰殘，陰氣先絕，則陽氣後竭而死矣。夫欲汗而脈忽沉細，而或不見者，陽表正氣並入於裡故也。交陽而燥亂昏冒者，裡熱鬱極，乃發而欲出，以怫鬱而陽之氣極不能出，故氣亂則神背而躁擾也。凡欲作汗，無問病之微甚，或已經新下者，或下證未全者，恆以涼膈散調之。甚者宜黃連解毒湯。或下後二、三日，或未經下，腹滿煩渴，脈沉實而有下證者，三一承氣湯下之。勢惡者，加黃連解毒湯下之。或已戰不快者，或戰後汗出不快者，或微戰數次，經大戰而汗不出者，乃並之不甚，而病之不速也，通宜三一承氣湯，或更加黃連解毒湯下之，以散怫熱而開鬱結也。大法曰：脈浮不可下。傷寒病已有裡證，脈沉，下之，裡證尚在，脈漸浮，至一、二日汗不能出者，裡證郁，發之不峻，病已，三一承氣湯微下之。凡此諸可下者，或得利而汗便出者，或服藥而怫鬱頓然開發，先汗出而後利者，或利性但隨汗出，泄則氣和而愈，更不利者，說不快交不過而死者，止由裡熱極甚，而不能開發也。故常以寒涼，或下怫熱，免致但以其作汗，而為邪熱耗絕陰氣而死也。</p>
<p>或不戰而汗出者，津液不盡而陽不並陰也。或戰而無汗，而自愈者，津液已衰，以經發汗、吐。利或自汗、吐、利，亡液過多，則津液衰竭，無由作津，但氣和而愈也。或不戰，無汗而愈者，陽不並陰則不戰，津液已衰，故無汗而已也。</p>
<p>世俗未知，而直以惡寒戰栗名陽熱氣虛，陰寒實勝，因而為治，誤人多矣。</p>
<h4>受汗</h4>
<p>夫大汗將出者，慎不可限其煩熱，而外用水濕及風涼制熱也。</p>
<p>陽熱開發，將欲作汗而出者，若為外風、涼、水、濕所薄，則怫熱反入於裡而不能出泄，病多危極而死矣。</p>
<p>亦不可恨其汗遲而濃衣壅覆，欲令大汗快而早出也。</p>
<p>怫熱已甚，而鬱極乃發，其發之微則順，甚則逆。順則發易，逆則發難。病已怫熱作發，而煩熱悶亂，更以濃衣壅覆太過，則陽熱暴然太甚，陰氣轉衰，而正氣不榮，則無由開發。即燥熱喘滿，危而死矣。</p>
<h4>汗後</h4>
<p>雙解散：普解風寒暑濕，飢飽勞逸，憂愁思慮，恚怒悲恐，四時中外諸邪所傷，億覺身熱、頭疼、拘倦強痛，無問自汗、無汗，憎寒發熱，渴與不渴，有甚傷寒疫癘，汗病兩感，風氣雜病，一切舊病作發，三曰裡外，並宜服之。設若感之勢甚，本難解者常服，三兩日間，亦漸減可，並無所損。或裡熱極甚，腹滿實痛，煩渴譫妄，須可急下者，以大承氣湯下之，三一承氣湯亦妙也。或下後未愈，或證未全，或大汗前後逆氣，或汗後余熱不解，或遺熱勞復，或感他人病氣、汗毒傳染，或中瘴氣、馬氣、羊氣一切穢毒，並漆毒，酒、食，一切藥毒，及墜墮打撲，傷損疼痛，或久新風眩頭疼，中風偏枯，破傷風，洗頭風，風癇病，或婦人產後諸疾，小兒驚風積熱，瘡瘍疹痘諸證，無問日數，但服之，周身中外氣血宣通，病皆除愈（是防風通聖散加天水散各一半）。</p>
<p>防風　川芎　當歸（切焙）　芍藥　薄荷葉（淨）　大黃　麻黃（去根苗節）　連翹　芒硝（別研各半兩）　石膏（別研）　桔梗（各一兩）　滑石（十五兩別研）　白朮　山梔子　荊芥葉　甘草（四兩銼爛）　黃芩（各一分）</p>
<p>上為粗末，每服五錢、六錢，水一大盞半，入蔥白五寸、鹽豉五十粒、生薑三片，煎至一盞，濾汁去滓，溫服無時，日三、四服，以效為度。常服三錢，水一中盞，煎六分絞汁，溫服不拘時，兼夜四服。設痊愈後，更宜常服，使病不再作，新病不生，並無過竟。無問歲數，乃平人常服之仙藥也。凡人已衰老，則腎水真陰損虛，即風熱燥郁甚，精血涸竭枯燥而死，但以此藥扶補滋潤者也。嗟夫！世俗反以妄傳中年以上，火氣漸衰，止是虛冷，更無熱病，誤服熱毒之劑，害人無數。豈知識病之法，全憑脈證，以別寒熱、陰陽、虛實，豈可以中年上下為則耶。此藥除孕婦及產後，月事經水過多，並泄瀉者不宜服。或治雜病，亦宜治風熱極妙。一名通氣防風散，一名通解散。</p>
<h4>傷寒傳染論</h4>
<p>夫傷寒傳染之由者，因聞大汗穢毒，以致神狂氣亂，邪熱暴甚於內，作發於外而為病也。則如西山記曰：近穢氣而觸真氣。錢仲陽云：步履糞穢之履，無使近於嬰兒，若聞其氣，則令兒急驚風搐也。孫真人云：乘馬遠行，至暮當沐浴、更衣，然後方可近於嬰兒，使不聞馬汗氣毒，不然則多為天吊、急驚風搐也。故剝死馬者，感其毒瓦斯而成馬氣、丁黃之疾，皆由聞其毒瓦斯之所作也。故《聖惠方》一法，大汗出則懸藥於戶，辟其大汗穢毒，無使傷於人也。世以艾灸席隅者，皆其義也。多染親屬，憂戚侍奉之人，勞役者，由其神氣怯弱，易為變亂故也。何以知傳染？脈不浮者是也。若誤以熱藥解表，不惟不解，其病反甚而危殆矣。其治之法，自汗宜以蒼朮白虎湯，無汗宜滑石涼膈散，熱散而愈。其不解者，適其表裡微甚，隨證治之，而與傷寒之法，皆無異也。</p>
