<header><h1>金匱要略方論</h1></header>
<dl class="元資料" data-type="book">
<div><dt>作者</dt><dd>張仲景</dd></div>
<div><dt>朝代</dt><dd>漢</dd></div>
<div><dt>年份</dt><dd><data value="219">公元219年</data></dd></div>
<div><dt>品質</dt><dd>90%</dd></div>
<div><dt>底本</dt><dd>出自《四部叢刊初編·新編金匱要畧方論》（<a href="https://ctext.org/library.pl?if=gb&res=77418">掃描本</a>、<a href="https://www.kanripo.org/text/KR3e0007/">文字化本</a>）</dd></div>
</dl>
<h2>金匱要略方論序</h2>
<p>張仲景為《傷寒雜病論》合十六卷，今世但傳《傷寒論》十卷，雜病未見其書，或於諸家方中載其一二矣。翰林學士王洙在館閣日，於蠹簡中得仲景《金匱玉函要略方》三卷：上則辨傷寒，中則論雜病，下則載其方，並療婦人；乃錄而傳之士流，才數家耳。嘗以對方證對者，施之於人，其效若神。然而或有證而無方，或有方而無證，救疾治病，其有未備。國家詔儒臣校正醫書，臣奇先校定《傷寒論》，次校定《金匱玉函經》，今又校成此書。仍以逐方次於證候之下，使倉卒之際，便於檢用也；又採散在諸家之方，附於逐篇之末，以廣其法。以其傷寒文多節略，故斷自雜病以下，終於飲食禁忌，凡二十五篇，除重複合二百六十二方，勒成上、中、下三卷，依舊名曰《金匱方論》。臣奇嘗讀《魏志．華佗傳》云，出書一卷曰：此書可以活人。每觀華佗凡所療病，多尚奇怪，不合聖人之經。臣奇謂活人者，必仲景之書也。大哉！炎農聖法，屬我盛旦，恭惟主上丕承大統，撫育元元，頒行方書，拯濟疾苦，使和氣盈溢，而萬物莫不盡和矣。</p>
<p>　　太子右贊善大夫臣高保衡，尚書都官員外郎臣孫奇，尚書司封郎中充秘閣校理臣林億等傳上。</p>
<h2>臟腑經絡先後病脈證第一</h2>
<div class="古版"><!--
--><p class="今版"><span class="編號">1.</span>問曰：上工治未病，何也？師曰：夫治未病者，見肝之病，知肝傳脾，當先實脾，四季脾旺不受邪，即勿補之；中工不曉相傳，見肝之病，不解實脾，惟治肝也。</p><!--
--><p class="今版">夫肝之病，補用酸，助用焦苦，益用甘味之藥調之。酸入肝，焦苦入心，甘入脾。脾能傷腎，腎氣微弱則水不行，水不行則心火氣盛，心火氣盛則傷肺，肺被傷則金氣不行，金氣不行則肝氣盛，故實脾則肝自愈。此治肝補脾之要妙也。肝虛則用此法，實則不在用之。</p><!--
--><p class="今版">經曰：「虛虛實實，補不足，損有餘」，是其義也。餘臟準此。</p><!--
--></div>
<div class="古版"><!--
--><p class="今版"><span class="編號">2.</span>夫人稟五常，因風氣而生長，風氣雖能生萬物，亦能害萬物，如水能浮舟，亦能覆舟。若五臟元真通暢，人即安和。客氣邪風，中人多死。千般疢難，不越三條：一者，經絡受邪，入臟腑，為內所因也；二者，四肢九竅，血脈相傳，壅塞不通，為外皮膚所中也；三者，房室、金刃、蟲獸所傷。以此詳之，病由都盡。</p><!--
--><p class="今版">若人能養慎，不令邪風干忤經絡；適中經絡，未流傳臟腑，即醫治之。四肢才覺重滯，即導引、吐納、鍼灸、膏摩，勿令九竅閉塞；更能無犯王法、禽獸災傷，房室勿令竭乏，服食節其冷熱苦酸辛甘，不遺形體有衰，病則無由入其腠理。腠者，是三焦通會元真之處，為血氣所注；理者，是皮膚臟腑之文理也。</p><!--
--></div>
<p><span class="編號">3.</span>問曰：病人有氣色見於面部，願聞其說。師曰：鼻頭色青，腹中痛，苦冷者死<span class="註"><small class="雙行小字">一云腹中冷，苦痛者死</small></span>。鼻頭色微黑者，有水氣；色黃者，胸上有寒；色白者，亡血也，設微赤非時者死；其目正圓者痙，不治。又色青為痛，色黑為勞，色赤為風，色黃者便難，色鮮明者有留飲。</p>
<p><span class="編號">4.</span>師曰：病人語聲寂然，喜驚呼者，骨節間病；語聲喑喑然不澈者，心膈間病；語聲啾啾然細而長者，頭中病<span class="註"><small class="雙行小字">一作痛</small></span>。</p>
<p><span class="編號">5.</span>師曰：息搖肩者，心中堅；息引胸中上氣者，咳；息張口短氣者，肺痿唾沫。</p>
<p><span class="編號">6.</span>師曰：吸而微數，其病在中焦，實也，當下之即愈；虛者不治。在上焦者，其吸促，在下焦者，其吸遠，此皆難治。呼吸動搖振振者，不治。</p>
<p><span class="編號">7.</span>師曰：寸口脈動者，因其旺時而動，假令肝旺色青，四時各隨其色。肝色青而反色白，非其時色脈，皆當病。</p>
<p><span class="編號">8.</span>問曰：有未至而至，有至而不至，有至而不去，有至而太過，何謂也？師曰：冬至之後，甲子夜半少陽起，少陽之時，陽始生，天得溫和。以未得甲子，天因溫和，此為未至而至也；以得甲子，而天未溫和，為至而不至也；以得甲子，而天大寒不解，此為至而不去也；以得甲子，而天溫如盛夏五六月時，此為至而太過也。</p>
<p><span class="編號">9.</span>師曰：病人脈浮者在前，其病在表；浮者在後，其病在裏，腰痛背強不能行，必短氣而極也。</p>
<p><span class="編號">10.</span>問曰：經云：「厥陽獨行」，何謂也？師曰：此為有陽無陰，故稱厥陽。</p>
<p><span class="編號">11.</span>問曰：寸脈沉大而滑，沉則為實，滑則為氣，實氣相搏，血氣入臟即死，入腑即愈，此為卒厥，何謂也？師曰：唇口青，身冷，為入臟即死；如身和，汗自出，為入腑即愈。</p>
<p><span class="編號">12.</span>問曰：脈脫入臟即死，入腑即愈，何謂也？師曰：非為一病，百病皆然。譬如浸淫瘡，從口起流向四肢者可治，從四肢流來入口者不可治；病在外者可治，入裏者即死。</p>
<p><span class="編號">13.</span>問曰：陽病十八，何謂也？師曰：頭痛、項、腰、脊、臂、腳掣痛。陰病十八，何謂也？師曰：咳、上氣、喘、噦、咽、腸鳴、脹滿、心痛、拘急。五臟病各有十八，合為九十病，人又有六微，微有十八病，合為一百八病，五勞、七傷、六極、婦人三十六病，不在其中。
清邪居上，濁邪居下，大邪中表，小邪中裏，䅽飪之邪，從口入者，宿食也。五邪中人，各有法度，風中於前，寒中於暮，濕傷於下，霧傷於上，風令脈浮，寒令脈急，霧傷皮腠，濕流關節，食傷脾胃，極寒傷經，極熱傷絡。</p>
<p><span class="編號">14.</span>問曰：病有急當救裏救表者，何謂也？師曰：病，醫下之，續得下利清穀不止，身體疼痛者，急當救裏；後身體疼痛，清便自調者，急當救表也。</p>
<p><span class="編號">15.</span>夫病痼疾加以卒病，當先治其卒病，後乃治其痼疾也。</p>
<p><span class="編號">16.</span>師曰：五臟病各有所得者愈，五臟病各有所惡，各隨其所不喜者為病。病者素不應食，而反暴思之，必發熱也。</p>
<p><span class="編號">17.</span>夫諸病在臟，欲攻之，當隨其所得而攻之，如渴者與豬苓湯。餘皆仿此。</p>
<h2>痙濕暍病脈證並治第二</h2>
<p><span class="編號">1.</span>太陽病，發熱無汗，反惡寒者，名曰剛痙。</p>
<p><span class="編號">2.</span>太陽病，發熱汗出，而不惡寒，名曰柔痙。</p>
<p><span class="編號">3.</span>太陽病，發熱，脈沉而細者，名曰痙，為難治。</p>
<p><span class="編號">4.</span>太陽病，發汗太多，因致痙。</p>
<p><span class="編號">5.</span>夫風病，下之則痙，復發汗，必拘急。</p>
<p><span class="編號">6.</span>瘡家雖身疼痛，不可發汗，汗出則痙。</p>
<p><span class="編號">7.</span>病者身熱足寒，頸項強急，惡寒，時頭熱，面赤，目赤，獨頭動搖，卒口噤，背反張者，痙病也。若發其汗者，寒濕相得，其表益虛，即惡寒甚。發其汗已，其脈如蛇。<span class="註"><small class="雙行小字">一云其脈浛。</small></span></p>
<p><span class="編號">8.</span>暴腹脹大者，為欲解。脈如故，反伏弦者，痙。</p>
<p><span class="編號">9.</span>夫痙脈，按之緊如弦，直上下行。<span class="註"><small class="雙行小字">一作築築而弦。《脈經》云：痙家其脈伏堅，直上下。</small></span></p>
<p><span class="編號">10.</span>痙病有灸瘡，難治。</p>
<p><span class="編號">11.</span>太陽病，其證備，身體強，几几然，脈反沉遲，此為痙，栝蔞桂枝湯主之。</p>
<span class="方">
<p><b>栝蔞桂枝湯方：</b></p>
<p>栝蔞根<small class="雙行小字">二兩</small>　桂枝<small class="雙行小字">三兩</small>　芍藥<small class="雙行小字">三兩</small>　甘草<small class="雙行小字">二兩</small>　生薑<small class="雙行小字">三兩</small>　大棗<small class="雙行小字">十二枚</small></p>
<p>右六味，以水九升，煮取三升，分溫三服，取微汗。汗不出，食頃，啜熱粥發之。</p>
</span>
<p><span class="編號">12.</span>太陽病，無汗而小便反少，氣上衝胸，口噤不得語，欲作剛痙，葛根湯主之。</p>
<span class="方">
<p><b>葛根湯方：</b></p>
<p>葛根<small class="雙行小字">四兩</small>　麻黃<small class="雙行小字">三兩，去節</small>　桂枝<small class="雙行小字">二兩，去皮</small>　芍藥<small class="雙行小字">二兩</small>　甘草<small class="雙行小字">二兩，炙</small>　生薑<small class="雙行小字">三兩，切</small>　大棗<small class="雙行小字">十二枚，擘</small></p>
<p>右七味，㕮咀，以水一斗，先煮麻黃、葛根，減二升，去沫，內諸藥，煮取三升，去滓，溫服一升，覆取微似汗，不須啜粥，餘如桂枝湯法將息及禁忌。</p>
</span>
<p><span class="編號">13.</span>痙為病<span class="註"><small class="雙行小字">一本痙字上有剛字</small></span>。胸滿口噤，臥不著席，腳攣急，必齘齒，可與大承氣湯。</p>
<span class="方">
<p><b>大承氣湯方：</b></p>
<p>大黃<small class="雙行小字">四兩，酒洗</small>　厚朴<small class="雙行小字">半斤，炙去皮</small>　枳實<small class="雙行小字">五枚</small>　芒硝<small class="雙行小字">三合</small></p>
<p>右四味，以水一斗，先煮枳樸，取五升，去滓，內大黃，煮取二升，去滓，內芒硝，更上微火一二沸，分溫再服，得下止服。</p>
</span>
<p><span class="編號">14.</span>太陽病，關節疼痛而煩，脈沉而細<span class="註"><small class="雙行小字">一作緩</small></span>者，此名濕痹<span class="註"><small class="雙行小字">《玉函》云中濕</small></span>。濕痹之候，小便不利，大便反快，但當利其小便。</p>
<p><span class="編號">15.</span>濕家之為病，一身盡疼<span class="註"><small class="雙行小字">一云疼煩</small></span>。發熱，身色如熏黃也。</p>
<p><span class="編號">16.</span>濕家，其人但頭汗出，背強，欲得被覆向火。若下之早則噦，或胸滿，小便不利<span class="註"><small class="雙行小字">一云利</small></span>。舌上如胎者，以丹田有熱，胸上有寒，渴欲得飲而不能，則口燥煩也。</p>
<p><span class="編號">17.</span>濕家下之，額上汗出，微喘，小便利<span class="註"><small class="雙行小字">一云不利</small></span>者死；若下利不止者，亦死。</p>
<p><span class="編號">18.</span>風濕相搏，一身盡疼痛，法當汗出而解；值天陰雨不止，醫云此可發汗，汗之病不愈者，何也？蓋發其汗，汗大出者，但風氣去，濕氣在，是故不愈也。若治風濕者，發其汗，但微微似欲汗出者，風濕俱去也。</p>
<p><span class="編號">19.</span>濕家病身疼發熱，面黃而喘，頭痛鼻塞而煩，其脈大，自能飲食，腹中和無病，病在頭中寒濕，故鼻塞，內藥鼻中則愈。<span class="註"><small class="雙行小字">《脈經》云：病人喘，而無濕家病以下至而喘十一字。</small></span></p>
<p><span class="編號">20.</span>濕家身煩疼，可與麻黃加朮湯發其汗為宜，慎不可以火攻之。</p>
<span class="方">
<p><b>麻黃加朮湯方：</b></p>
<p>麻黃<small class="雙行小字">三兩，去節</small>　桂枝<small class="雙行小字">二兩，去皮</small>　甘草<small class="雙行小字">二兩，炙</small>　杏仁<small class="雙行小字">七十個，去皮尖</small>　白朮<small class="雙行小字">四兩</small></p>
<p>右五味，以水九升，先煮麻黃，減二升，去上沫，內諸藥，煮取二升半，去滓，溫服八合，覆取微似汗。</p>
</span>
<p><span class="編號">21.</span>病者一身盡疼，發熱，日晡所劇者，名風濕。此病傷於汗出當風，或久傷取冷所致也。可與麻黃杏仁薏苡甘草湯。</p>
<span class="方">
<p><b>麻黃杏仁薏苡甘草湯方</b></p>
<p>麻黃<small class="雙行小字">去節，半兩，湯泡</small>　甘草<small class="雙行小字">一兩，炙</small>　薏苡仁<small class="雙行小字">半兩</small>　杏仁<small class="雙行小字">十個，去皮尖，炒</small></p>
<p>上銼麻豆大，每服四錢匕，水盞半，煮八分，去滓，溫服，有微汗，避風。</p>
</span>
<p><span class="編號">22.</span>風濕，脈浮身重，汗出惡風者，防己黃耆湯主之。</p>
<span class="方">
<p><b>防己黃耆湯方：</b></p>
<p>防己<small class="雙行小字">一兩</small>　甘草<small class="雙行小字">半兩，炒</small>　白朮<small class="雙行小字">七錢半</small>　黃耆<small class="雙行小字">一兩一分，去蘆</small></p>
<p>上銼麻豆大，每抄五錢匕，生薑四片，大棗一枚，水盞半，煎八分，去滓，溫服，良久再服。喘者加麻黃半兩，胃中不和者加芍藥三分，氣上衝者加桂枝三分，下有陳寒者加細辛三分。服後當如蟲行皮中，從腰下如冰，後坐被上，又以一被繞腰以下，溫令微汗，差。</p>
</span>
<p><span class="編號">23.</span>傷寒八九日，風濕相搏，身體疼煩，不能自轉側，不嘔不渴，脈浮虛而澀者，桂枝附子湯主之；若大便堅，小便自利者，去桂加白朮湯主之。</p>
<span class="方">
<p><b>桂枝附子湯方：</b></p>
<p>桂枝<small class="雙行小字">四兩，去皮</small>　生薑<small class="雙行小字">三兩，切</small>　附子<small class="雙行小字">三枚，炮，去皮，破八片</small>　甘草<small class="雙行小字">二兩，炙</small>　大棗<small class="雙行小字">十二枚，擘</small></p>
<p>右五味，以水六升，煮取二升，去滓，分溫三服。</p>
</span>
<span class="方">
<p><b>白朮附子湯方：</b></p>
<p>白朮<small class="雙行小字">二兩</small>　附子<small class="雙行小字">一枚半，炮，去皮</small>　甘草<small class="雙行小字">一兩，炙</small>　生薑<small class="雙行小字">一兩半，切</small>　大棗<small class="雙行小字">六枚，擘</small></p>
<p>右五味，以水三升，煮取一升，去滓，分溫三服。一服覺身痹，半日許，再服，三服都盡，其人如冒狀，勿怪，即是朮附並走皮中，逐水氣未得除故耳。</p>
</span>
<p><span class="編號">24.</span>風濕相搏，骨節疼煩掣痛，不得屈伸，近之則痛劇，汗出短氣，小便不利，惡風不欲去衣，或身微腫者，甘草附子湯主之。</p>
<span class="方">
<p><b>甘草附子湯方：</b></p>
<p>甘草<small class="雙行小字">二兩，炙</small>　白朮<small class="雙行小字">二兩</small>　附子<small class="雙行小字">二枚，炮，去皮</small>　桂枝<small class="雙行小字">四兩，去皮</small></p>
<p>右四味，以水六升，煮取三升，去滓。溫服一升，日三服，初服得微汗則解，能食，汗出復煩者，服五合。恐一升多者，服六、七合為妙。</p>
</span>
<p><span class="編號">25.</span>太陽中暍，發熱惡寒，身重而疼痛，其脈弦細芤遲。小便已，洒洒然毛聳，手足逆冷，小有勞，身即熱，口開，前板齒燥。若發其汗，則惡寒甚；加溫鍼，則發熱甚；數下之，則淋甚。</p>
<p><span class="編號">26.</span>太陽中熱者，暍是也。汗出惡寒，身熱而渴，白虎加人參湯主之。</p>
<span class="方">
<p><b>白虎加人參湯方：</b></p>
<p>知母<small class="雙行小字">六兩</small>　石膏<small class="雙行小字">一斤，碎</small>　甘草<small class="雙行小字">二兩</small>　粳米<small class="雙行小字">六合</small>　人參<small class="雙行小字">三兩</small></p>
<p>右五味，以水一斗，煮米熟，湯成，去滓，溫服一升，日三服。</p>
</span>
<p><span class="編號">27.</span>太陽中暍，身熱疼重，而脈微弱，此以夏月傷冷水，水行皮中所致也，一物瓜蒂湯主之。</p>
<span class="方">
<p><b>一物瓜蒂湯方：</b></p>
<p>瓜蒂<small class="雙行小字">二十個</small></p>
<p>上銼，以水一升，煮取五合，去滓，頓服。</p>
</span>
<h2>百合病狐惑陰陽毒病脈證並治第三</h2>
<div class="古版"><!--
--><p class="今版"><span class="編號">1.</span>論曰：百合病者，百脈一宗，悉致其病也。意欲食復不能食，常默默，欲臥不能臥，欲行不能行，欲飲食，或有美時，或有不用聞食臭時，如寒無寒，如熱無熱，口苦，小便赤，諸藥不能治，得藥則劇吐利，如有神靈者，身形如和，其脈微數。</p><!--
--><p class="今版">每溺時頭痛者，六十日乃愈；若溺時頭不痛，淅然者，四十日愈；若溺快然，但頭眩者，二十日愈。</p><!--
--><p class="今版">其證或未病而預見，或病四、五日而出，或病二十日或一月微見者，各隨證治之。</p><!--
--></div>
<p><span class="編號">2.</span>百合病發汗後者，百合知母湯主之。</p>
<span class="方">
<p><b>百合知母湯方：</b></p>
<p>百合<small class="雙行小字">七枚，擘</small>　知母<small class="雙行小字">三兩，切</small></p>
<p>上先以水洗百合，漬一宿，當白沫出，去其水，更以泉水二升，煎取一升，去滓；別以泉水二升煎知母，取一升，去滓；後合和，煎取一升五合，分溫再服。</p>
</span>
<p><span class="編號">3.</span>百合病下之後者，滑石代赭湯主之。</p>
<span class="方">
<p><b>滑石代赭湯方：</b></p>
<p>百合<small class="雙行小字">七枚，擘</small>　滑石<small class="雙行小字">三兩，碎，綿裹</small>　代赭石<small class="雙行小字">如彈丸大一枚，碎，綿裹</small></p>
<p>上先以水洗百合，漬一宿，當白沫出，去其水，更以泉水二升，煎取一升，去滓；別以泉水二升煎滑石、代赭，取一升，去滓；後合和重煎，取一升五合，分溫服。</p>
</span>
<p><span class="編號">4.</span>百合病，吐之後者，用後方主之。</p>
<span class="方">
<p><b>百合雞子湯方：</b></p>
<p>百合<small class="雙行小字">七枚，擘</small>　雞子黃.<small class="雙行小字">一枚.</small></p>
<p>上先以水洗百合，漬一宿，當白沫出，去其水，更以泉水二升，煎取一升，去滓，內雞子黃，攪勻，煎五分，溫服。</p>
</span>
<p><span class="編號">5.</span>百合病，不經吐、下、發汗，病形如初者，百合地黃湯主之。</p>
<span class="方">
<p><b>百合地黃湯方：</b></p>
<p>百合<small class="雙行小字">七枚，擘</small>　生地黃汁.<small class="雙行小字">一升.</small></p>
<p>上以水洗百合，漬一宿，當白沫出，去其水，更以泉水二升，煎取一升，去滓，內地黃汁，煎取一升五合，分溫再服。中病，勿更服。大便當如漆。</p>
</span>
<p><span class="編號">6.</span>百合病一月不解，變成渴者，百合洗方主之。</p>
<span class="方">
<p><b>百合洗方：</b></p>
<p>上以百合一升，以水一斗，漬之一宿，以洗身。洗已，食煮餅，勿以鹽豉也。</p>
</span>
<p><span class="編號">7.</span>百合病，渴不差者，用後方主之。</p>
<span class="方">
<p><b>栝蔞牡蠣散方：</b></p>
<p>栝蔞根　牡蠣<small class="雙行小字">熬等分</small></p>
<p>上為細末，飲服方寸匕，日三服。</p>
</span>
<p><span class="編號">8.</span>百合病變發熱者<span class="註"><small class="雙行小字">一作發寒熱</small></span>，百合滑石散主之。</p>
<span class="方">
<p><b>百合滑石散方：</b></p>
<p>百合<small class="雙行小字">一兩，炙</small>　滑石.<small class="雙行小字">三兩.</small></p>
<p>上為散，飲服方寸匕，日三服。當微利者，止服，熱則除。</p>
</span>
<p><span class="編號">9.</span>百合病見於陰者，以陽法救之；見於陽者，以陰法救之。見陽攻陰，復發其汗，此為逆；見陰攻陽，乃復下之，此亦為逆。</p>
<p><span class="編號">10.</span>狐𧌒之為病，狀如傷寒，默默欲眠，目不得閉，臥起不安，蝕於喉為𧌒，蝕於陰為狐，不欲飲食，惡聞食臭，其面目乍赤、乍黑、乍白。蝕於上部則聲喝<span class="註"><small class="雙行小字">一作嗄</small></span>，甘草瀉心湯主之。</p>
<span class="方">
<p><b>甘草瀉心湯方：</b></p>
<p>甘草<small class="雙行小字">四兩</small>　黃芩<small class="雙行小字">三兩</small>　人參<small class="雙行小字">三兩</small>　乾薑<small class="雙行小字">三兩</small>　黃連<small class="雙行小字">一兩</small>　大棗<small class="雙行小字">十二枚</small>　半夏<small class="雙行小字">半升</small></p>
<p>右七味，水一斗，煮取六升，去滓再煎，取三升，溫服一升，日三服。</p>
</span>
<p><span class="編號">11.</span>蝕於下部則咽乾，苦參湯洗之。</p>
<span class="方">
<p><b>苦參湯方：</b></p>
<p>苦參<small class="雙行小字">一升</small></p>
<p>水一斗，煮取七升，薰洗，日三次。</p>
</span>
<p><span class="編號">12.</span>蝕於肛者，雄黃熏之。</p>
<span class="方">
<p><b>雄黃薰方：</b></p>
<p>雄黃</p>
<p>右一味為末，筒瓦二枚合之，燒，向肛熏之。<span class="註"><small class="雙行小字">《脈經》云：病人或從呼吸上蝕其咽，或從下焦蝕其肛陰，蝕上為惑，蝕下為狐，狐惑病者，豬苓散主之。</small></span></p>
</span>
<p><span class="編號">13.</span>病者脈數，無熱，微煩，默默但欲臥，汗出，初得之三、四日，目赤如鳩眼；七、八日，目四眥<span class="註"><small class="雙行小字">一本此有黃字</small></span>黑。若能食者，膿已成也，赤豆當歸散主之。</p>
<span class="方">
<p><b>赤豆當歸散方：</b></p>
<p>赤小豆<small class="雙行小字">三升，浸，令芽出，曝乾</small>　當歸</p>
<p>右二味，杵為散，漿水服方寸匕，日三服。</p>
</span>
<p><span class="編號">14.</span>陽毒之為病，面赤斑斑如錦紋，咽喉痛，唾膿血，五日可治，七日不可治，升麻鱉甲湯主之。</p>
<span class="方">
<p><b>升麻鱉甲湯方：</b></p>
<p>升麻<small class="雙行小字">二兩</small>　當歸<small class="雙行小字">一兩</small>　蜀椒<small class="雙行小字">炒去汗，一兩</small>　甘草<small class="雙行小字">二兩</small>　雄黃<small class="雙行小字">半兩，研</small>　鱉甲<small class="雙行小字">手指大一片，炙</small></p>
<p>右六味，以水四升，煮取一升，頓服之，老小再服，取汗。<span class="註"><small class="雙行小字">《肘後》、《千金方》：陽毒用升麻湯，無鱉甲，有桂：陰毒用甘草湯，無雄黃。</small></span></p>
</span>
<p><span class="編號">15.</span>陰毒之為病，面目青，身痛如被杖，咽喉痛。五日可治，七日不可治，升麻鱉甲湯去雄黃、蜀椒主之。</p>
<h2>瘧病脈證并治第四</h2>
<p><span class="編號">1.</span>師曰：瘧脈自弦，弦數者多熱，弦遲者多寒，弦小緊者下之差，弦遲者可溫之，弦緊者可發汗、鍼灸也，浮大者可吐之，弦數者風發也，以飲食消息止之。</p>
<p><span class="編號">2.</span>病瘧以月，一日發，當以十五日愈；設不差，當月盡解；如其不差，當云何？師曰：此結為癥瘕，名曰瘧母，急治之，宜鱉甲煎丸。</p>
<span class="方">
<p><b>鱉甲煎丸方：</b></p>
<p>鱉甲<small class="雙行小字">十二分，炙</small>　烏扇<small class="雙行小字">三分，燒</small>　黃芩<small class="雙行小字">三分</small>　柴胡<small class="雙行小字">六分</small>　鼠婦<small class="雙行小字">三分，熬</small>　乾薑<small class="雙行小字">三分</small>　大黃<small class="雙行小字">三分</small>　芍藥<small class="雙行小字">五分</small>　桂枝<small class="雙行小字">三分</small>　葶藶<small class="雙行小字">一分，熬</small>　石葦<small class="雙行小字">三分，去毛</small>　厚朴<small class="雙行小字">三分</small>　牡丹<small class="雙行小字">五分，去心</small>　瞿麥<small class="雙行小字">二分</small>　紫葳<small class="雙行小字">三分</small>　半夏<small class="雙行小字">一分</small>　人參<small class="雙行小字">一分</small>　䗪蟲<small class="雙行小字">五分，熬</small>　阿膠<small class="雙行小字">三分，炙</small>　蜂窩<small class="雙行小字">四分，炙</small>　赤硝<small class="雙行小字">十二分</small>　蜣螂<small class="雙行小字">六分，熬</small>　桃仁<small class="雙行小字">二分</small></p>
<p>上二十三味，為末，取鍛灶下灰一斗，清酒一斛五斗，浸灰，候酒盡一半，著鱉甲於中，煮令泛爛如膠漆，絞取汁，內諸藥，煎為丸，如梧子大，空心服七丸，日三服。</p>
</span>
<p><span class="編號">3.</span>師曰：陰氣孤絕，陽氣獨發，則熱而少氣煩冤，手足熱而欲嘔，名曰癉瘧，若但熱不寒者，邪氣內藏於心，外舍分肉之間，令人消鑠脫肉。</p>
<p><span class="編號">4.</span>溫瘧者，其脈如平，身無寒但熱，骨節疼煩，時嘔，白虎加桂枝湯主之。</p>
<span class="方">
<p><b>白虎加桂枝湯方：</b></p>
<p>知母<small class="雙行小字">六兩</small>　甘草<small class="雙行小字">炙，二兩</small>　石膏<small class="雙行小字">一斤</small>　粳米<small class="雙行小字">二合</small>　桂枝<small class="雙行小字">去皮，三兩</small></p>
<p>上銼，每五錢，水一盞半，煎至八分，去滓，溫服，汗出愈。</p>
</span>
<p><span class="編號">5.</span>瘧多寒者，名曰牝瘧，蜀漆散主之。</p>
<span class="方">
<p><b>蜀漆散方：</b></p>
<p>蜀漆<small class="雙行小字">洗去腥</small>　雲母<small class="雙行小字">燒二日夜</small>　龍骨<small class="雙行小字">等分</small></p>
<p>右三味，杵為散，未發前以漿水服半錢匕。溫瘧加蜀漆半分，臨發時服一錢匕。</p>
</span>
<h3>附注：《外臺秘要》方</h3>
<span class="方">
<p><b>牡蠣湯：</b>治牝瘧</p>
<p>牡蠣<small class="雙行小字">四兩</small>　麻黃<small class="雙行小字">四兩，去節</small>　甘草<small class="雙行小字">二兩</small>　蜀漆<small class="雙行小字">三兩</small></p>
<p>右四味以水八升，先煮蜀漆、麻黃，去上沫，得六升，內諸藥，煮取二升，溫服一升，若吐則勿更服。</p>
</span>
<span class="方">
<p><b>柴胡去半夏加栝蔞湯</b>，治瘧病以發渴者，亦治勞瘧。</p>
<p>柴胡<small class="雙行小字">八兩</small>　人參　黃芩　甘草<small class="雙行小字">各三兩</small>　栝蔞根<small class="雙行小字">四兩</small>　生薑<small class="雙行小字">二兩</small>　大棗<small class="雙行小字">十二枚</small></p>
<p>右七味，以水一斗二升，煮取六升，去渣，再煎，取三升，溫服一升，日二服。</p>
</span>
<span class="方">
<p><b>柴胡桂薑湯：</b>治瘧寒多微有熱，或但寒不熱。<span class="註"><small class="雙行小字">服一劑如神。</small></span></p>
<p>柴胡<small class="雙行小字">半斤</small>　桂枝<small class="雙行小字">三兩，去皮</small>　乾薑<small class="雙行小字">二兩</small>　栝蔞根<small class="雙行小字">四兩</small>　黃芩<small class="雙行小字">三兩</small>　牡蠣<small class="雙行小字">三兩熬</small>　甘草<small class="雙行小字">三兩，炙</small></p>
<p>右七味，以水一斗二升，煮取六升，去渣，再煎，取三升，溫服一升，日三服，初服微煩，復服汗出便愈。</p>
</span>
<h2>中風歷節病脈證并治第五</h2>
<p><span class="編號">1.</span>夫風之為病，當半身不遂，或但臂不遂者，此為痹。脈微而數，中風使然。</p>
<p><span class="編號">2.</span>寸口脈浮而緊，緊則為寒，浮則為虛；寒虛相搏，邪在皮膚；浮者血虛，絡脈空虛；賊邪不瀉，或左或右；邪氣反緩；正氣即急，正氣引邪，喎僻不遂。
邪在於絡，肌膚不仁；邪在於經，即重不勝；邪入於腑，即不識人；邪入於臟，舌即難言，口吐涎。</p>
<span class="方">
<p><b>侯氏黑散：</b>治大風四肢煩重，心中惡寒不足者。<span class="註"><small class="雙行小字">《外臺》治風癲。</small></span></p>
<p>菊花<small class="雙行小字">四十分</small>　白朮<small class="雙行小字">十分</small>　細辛<small class="雙行小字">三分</small>　茯苓<small class="雙行小字">三分</small>　牡蠣<small class="雙行小字">三分</small>　桔梗<small class="雙行小字">八分</small>　防風<small class="雙行小字">十分</small>人參<small class="雙行小字">三分</small>　礬石<small class="雙行小字">三分</small>　黃芩<small class="雙行小字">五分</small>　當歸<small class="雙行小字">三分</small>　乾薑<small class="雙行小字">三分</small>　芎藭<small class="雙行小字">三分</small>　桂枝<small class="雙行小字">三分</small></p>
<p>右十四味，杵為散，酒服方寸匕，日一服，初服二十日，溫酒調服，禁一切魚肉大蒜，常宜冷食，六十日止，即藥積在腹中不下也。熱食即下矣，冷食自能助藥力。</p>
</span>
<p><span class="編號">3.</span>寸口脈遲而緩，遲則為寒，緩則為虛；營緩則為亡血，衛緩則為中風。邪氣中經，則身癢而癮疹；心氣不足，邪氣入中，則胸滿而短氣。</p>
<span class="方">
<p><b>風引湯：</b>除熱癱癇</p>
<p>大黃　乾薑　龍骨<small class="雙行小字">各四兩</small>　桂枝<small class="雙行小字">三兩</small>　甘草　牡蠣<small class="雙行小字">各二兩</small>　寒水石　滑石　赤石脂　白石脂　紫石英　石膏<small class="雙行小字">各六兩</small></p>
<p>右十二味，杵，粗篩，以韋囊盛之，取三指撮，井花水三升，煮三沸，溫服一升。<span class="註"><small class="雙行小字">治大人風引，少小驚癇瘛瘲，日數十發，醫所不療，除熱方。巢氏云：腳氣宜風引湯。</small></span></p>
</span>
<span class="方">
<p><b>防己地黃湯：</b>治病如狂狀，妄行，獨語不休，無寒熱，其脈浮。</p>
<p>防己<small class="雙行小字">一錢</small>　桂枝<small class="雙行小字">三錢</small>　防風<small class="雙行小字">三錢</small>　甘草<small class="雙行小字">二錢</small></p>
<p>右四味，以酒一杯，浸之一宿，絞取汁，生地黃二斤，㕮咀，蒸之如斗米飯久，以銅器盛其汁，更絞地黃汁，和，分再服。</p>
</span>
<span class="方">
<p><b>頭風摩散方：</b></p>
<p>大附子<small class="雙行小字">一枚，炮</small>　鹽<small class="雙行小字">等分</small></p>
<p>右二味為散，沐了，以方寸匕，已摩疢上，令藥力行。</p>
</span>
<p><span class="編號">4.</span>寸口脈沉而弱，沉即主骨，弱即主筋，沉即為腎，弱即為肝。汗出入水中，如水傷心，歷節黃汗出，故曰歷節。</p>
<p><span class="編號">5.</span>趺陽脈浮而滑，滑則穀氣實，浮則汗自出。</p>
<p><span class="編號">6.</span>少陰脈浮而弱，弱則血不足，浮則為風，風血相搏，即疼痛如掣。</p>
<p><span class="編號">7.</span>盛人脈澀小，短氣，自汗出，歷節痛，不可屈伸，此皆飲酒汗出當風所致。</p>
<p><span class="編號">8.</span>諸肢節疼痛，身體魁羸，腳腫如脫，頭眩短氣，溫溫欲吐，桂枝芍藥知母湯主之。</p>
<span class="方">
<p><b>桂枝芍藥知母湯方：</b></p>
<p>桂枝<small class="雙行小字">四兩</small>　芍藥<small class="雙行小字">三兩</small>　甘草<small class="雙行小字">二兩</small>　麻黃<small class="雙行小字">二兩</small>　生薑<small class="雙行小字">五兩</small>　白朮<small class="雙行小字">五兩</small>　知母<small class="雙行小字">四兩</small>　防風<small class="雙行小字">四兩</small>　附子<small class="雙行小字">二枚，炮</small></p>
<p>右九味，以水七升，煮取二升，溫服七合，日三服。</p>
</span>
<p><span class="編號">9.</span>味酸則傷筋，筋傷則緩，名曰泄。鹹則傷骨，骨傷則痿，名曰枯。枯泄相搏，名曰斷泄。營氣不通，衛不獨行，營衛俱微，三焦無所御，四屬斷絕，身體羸瘦，獨足腫大，黃汗出，脛冷。假令發熱，便為歷節也。</p>
<p><span class="編號">10.</span>病歷節不可屈伸，疼痛，烏頭湯主之。</p>
<span class="方">
<p><b>烏頭湯方：</b>治腳氣疼痛，不可屈伸。</p>
<p>麻黃　芍藥　黃耆<small class="雙行小字">各三兩</small>　甘草<small class="雙行小字">三兩，炙</small>　川烏<small class="雙行小字">五枚，㕮咀，以蜜二升，煎取一升，即出烏頭</small></p>
<p>右五味，㕮咀四味，以水三升，煮取一升，去滓，內蜜煎中，更煎之，服七合。不知，盡服之。</p>
</span>
<span class="方">
<p><b>礬石湯：</b>治腳氣衝心</p>
<p>礬石二兩</p>
<p>右一味，以漿水一斗五升，煎三五沸，浸腳良。</p>
</span>
<h3>〔附方〕</h3>
<span class="方">
<p><b>《古今錄驗》續命湯：</b>治中風痱，身體不能自收持，口不能言，冒昧不知痛處，或拘急不得轉側。<span class="註"><small class="雙行小字">姚云：與大續命同，兼治婦人產後出血者及老人小兒。</small></span></p>
<p>麻黃　桂枝　當歸　人參　石膏　乾薑　甘草<small class="雙行小字">各三兩</small>　芎藭<small class="雙行小字">一兩</small>　杏仁<small class="雙行小字">四十枚</small></p>
<p>右九味，以水一斗，煮取四升，溫服一升，當小汗，薄覆脊，憑几坐，汗出則癒；不汗，更服。無所禁，勿當風。並治但伏不得臥，咳逆上氣，面目浮腫。</p>
</span>
<span class="方">
<p><b>《千金》三黃湯：</b>治中風手足拘急，百節疼痛，煩熱心亂，惡寒，經日不欲飲食。</p>
<p>麻黃<small class="雙行小字">五分</small>　獨活<small class="雙行小字">四分</small>　細辛<small class="雙行小字">二分</small>　黃耆<small class="雙行小字">二分</small>　黃芩<small class="雙行小字">三分</small></p>
<p>右五味，以水六升，煮取二升，分溫三服，一服小汗，二服大汗。心熱加大黃二分，腹滿加枳實一枚，氣逆加人參三分，悸加牡蠣三分，渴加栝蔞根三分，先有寒加附子一枚。</p>
</span>
<span class="方">
<p><b>《近效方》朮附湯：</b>治風虛頭重眩，苦極，不知食味，暖肌補中，益精氣。</p>
<p>白朮<small class="雙行小字">二兩</small>　甘草<small class="雙行小字">一兩，炙</small>　附子<small class="雙行小字">一枚半，炮，去皮</small></p>
<p>右三味，剉，每五錢匕，薑五片，棗一枚。水盞半，煎七成，去滓，溫服。</p>
</span>
<span class="方">
<p><b>崔氏八味丸：</b>治腳氣上入，少腹不仁。</p>
<p>乾地黃<small class="雙行小字">八兩</small>　山茱萸<small class="雙行小字">四兩</small>　薯蕷<small class="雙行小字">四兩</small>　澤瀉　茯苓　牡丹皮<small class="雙行小字">各三兩</small>　桂枝<small class="雙行小字">一兩</small>　附子<small class="雙行小字">一兩，炮</small></p>
<p>右八味，末之，煉蜜和丸，梧子大。酒下十五丸，日再服。</p>
</span>
<span class="方">
<p><b>《千金方》越婢加朮湯：</b>治肉極，熱則身體津脫，腠理開，汗大泄，厲風氣，下焦腳弱。</p>
<p>麻黃<small class="雙行小字">六兩</small>　石膏<small class="雙行小字">半斤</small>　生薑<small class="雙行小字">二兩</small>　甘草<small class="雙行小字">二兩</small>　白朮<small class="雙行小字">四兩</small>　大棗<small class="雙行小字">十五枚</small></p>
<p>右六味，以水六升，先煮麻黃去沫，內諸藥，煮取三升，分溫三服。惡風加附子一枚，炮。</p>
</span>
<h2>血痹虛勞病脈證并治第六</h2>
<p><span class="編號">1.</span>問曰：血痹病從何得之？師曰：夫尊榮人骨弱肌膚盛，重困疲勞汗出，臥不時動搖，加被微風，遂得之。但以脈自微澀，在寸口，關上小緊，宜鍼引陽氣，令脈和緊去則愈。</p>
<p><span class="編號">2.</span>血痹陰陽俱微，寸口關上微，尺中小緊，外證身體不仁，如風痹狀，黃耆桂枝五物湯主之。</p>
<span class="方">
<p><b>黃耆桂枝五物湯方：</b></p>
<p>黃耆<small class="雙行小字">三兩</small>　芍藥<small class="雙行小字">三兩</small>　桂枝<small class="雙行小字">三兩</small>　生薑<small class="雙行小字">六兩</small>　大棗<small class="雙行小字">十二枚</small></p>
<p>右五味，以水六升，煮取二升，溫服七合，日三服，一方有人參。</p>
</span>
<p><span class="編號">3.</span>夫男子平人，脈大為勞，極虛亦為勞。</p>
<p><span class="編號">4.</span>男子面色薄者，主渴及亡血，卒喘悸，脈浮者，裏虛也。</p>
<p><span class="編號">5.</span>男子脈虛沉弦，無寒熱，短氣裏急，小便不利，面色白，時目瞑，兼衄，少腹滿，此為勞使之然。</p>
<p><span class="編號">6.</span>勞之為病，其脈浮大，手足煩，春夏劇，秋冬差，陰寒精自出，酸削不能行。</p>
<p><span class="編號">7.</span>男子脈浮弱而澀，為無子，精氣清冷。<span class="註"><small class="雙行小字">一作泠。</small></span></p>
<p><span class="編號">8.</span>夫失精家少腹弦急，陰頭寒，目眩<span class="註"><small class="雙行小字">一作目眶痛</small></span>，髮落，脈極虛芤遲，為清穀亡血，失精。脈得諸芤動微緊，男子失精，女子夢交，桂枝加龍骨牡蠣湯主之。</p>
<span class="方">
<p><b>桂枝加龍骨牡蠣湯方：</b><span class="註"><small class="雙行小字">《小品》云：虛弱浮熱汗出者，除桂，加白薇、附子各三分，故曰二加龍骨湯。</small></span></p>
<p>桂枝　芍藥　生薑<small class="雙行小字">各三兩</small>　甘草<small class="雙行小字">二兩</small>　大棗<small class="雙行小字">十二枚</small>　龍骨　牡蠣<small class="雙行小字">各三兩</small></p>
<p>右七味，以水七升，煮取三升，分溫三服。</p>
</span>
<span class="方">
<p><b>天雄散方：</b></p>
<p>天雄<small class="雙行小字">三兩，炮</small>　白朮<small class="雙行小字">八兩</small>　桂枝<small class="雙行小字">六兩</small>　龍骨<small class="雙行小字">三兩</small></p>
<p>右四味、杵為散，酒服半錢匕，日三服，不知，稍增之。</p>
</span>
<p><span class="編號">9.</span>男子平人，脈虛弱細微者，喜盜汗也。</p>
<p><span class="編號">10.</span>人年五六十，其病脈大者，痹俠背行，若腸鳴，馬刀俠癭者，皆為勞得之。</p>
<p><span class="編號">11.</span>脈沉小遲，名脫氣，其人疾行則喘喝，手足逆寒，腹滿，甚則溏泄、食不消化也。</p>
<p><span class="編號">12.</span>脈弦而大，弦則為減，大則為芤，減則為寒，芤則為虛，虛寒相搏，此名為革。婦人則半產漏下，男子則亡血失精。</p>
<p><span class="編號">13.</span>虛勞裏急，悸、衄，腹中痛，夢失精，四肢痠疼，手足煩熱，咽乾口燥，小建中湯主之。</p>
<span class="方">
<p><b>小建中湯方：</b></p>
<p>桂枝<small class="雙行小字">三兩，去皮</small>　甘草<small class="雙行小字">三兩，炙</small>　大棗<small class="雙行小字">十二枚</small>　芍藥<small class="雙行小字">六兩</small>　生薑<small class="雙行小字">三兩</small>　膠飴<small class="雙行小字">一升</small></p>
<p>右六味，以水七升，煮取三升，去滓，內膠飴，更上微火消解，溫服一升，日三服。<span class="註"><small class="雙行小字">嘔家不可用建中湯，以甜故也。</small></span></p>
</span>
<p><span class="編號">14.</span>虛勞裏急、諸不足，黃耆建中湯主之。<span class="註"><small class="雙行小字">於小建中湯內加黃耆一兩半，餘依上法，氣短胸滿者加生薑；腹滿者去棗，加茯苓一兩半；及療肺虛損不足，補氣加半夏三兩。</small></span></p>
<p><span class="編號">15.</span>虛勞腰痛，少腹拘急，小便不利者，八味腎氣丸主之。<span class="註"><small class="雙行小字">方見腳氣中。</small></span></p>
<span class="方">
<p><b>腎氣丸方：</b></p>
<p>乾地黃<small class="雙行小字">八兩</small>　山藥　山茱萸<small class="雙行小字">各四兩</small>　澤瀉　牡丹皮　茯苓<small class="雙行小字">各三兩</small>　桂枝　附子<small class="雙行小字">炮。各一兩</small></p>
<p>右八味末之，煉蜜和丸梧子大，酒下十五丸，加至二十五丸，日再服。</p>
</span>
<p><span class="編號">16.</span>虛勞諸不足，風氣百疾，薯蕷丸主之。</p>
<span class="方">
<p><b>薯蕷丸方：</b></p>
<p>薯蕷<small class="雙行小字">三十分</small>　當歸　桂枝　条　乾地黃　豆黃卷<small class="雙行小字">各十分</small>　甘草<small class="雙行小字">二十八分人參七分</small>　芎藭　芍藥　白朮　麥門冬　杏仁<small class="雙行小字">各六分</small>　柴胡　桔梗　茯苓<small class="雙行小字">各五分</small>　阿膠<small class="雙行小字">七分</small>　乾薑<small class="雙行小字">三分</small>　白斂<small class="雙行小字">二分</small>　防風<small class="雙行小字">六分</small>　大棗百枚為膏</p>
<p>上二十一味，末之，煉蜜和丸，如彈子大，空腹酒服一丸，一百丸為劑。</p>
</span>
<p><span class="編號">17.</span>虛勞虛煩不得眠，酸棗仁湯主之。</p>
<span class="方">
<p><b>酸棗仁湯方：</b></p>
<p>酸棗仁<small class="雙行小字">二升</small>　甘草<small class="雙行小字">一兩</small>　知母<small class="雙行小字">二兩</small>　茯苓<small class="雙行小字">二兩</small>　芎藭<small class="雙行小字">二兩</small>　<span class="註"><small class="雙行小字">深師有生薑二兩</small></span></p>
<p>右五味，以水八升，煮酸棗仁，得六升，內諸藥，煮取三升，分溫三服。</p>
</span>
<p><span class="編號">18.</span>五勞虛極羸瘦，腹滿不能飲食，食傷、憂傷、飲傷、房室傷、飢傷、勞傷、經絡營衛氣傷，內有乾血，肌膚甲錯，兩目黯黑，緩中補虛，大黃䗪蟲丸主之。</p>
<span class="方">
<p><b>大黃䗪蟲丸方：</b></p>
<p>大黃<small class="雙行小字">十分，蒸</small>　黃芩<small class="雙行小字">二兩</small>　甘草<small class="雙行小字">三兩</small>　桃仁<small class="雙行小字">一升</small>　杏仁<small class="雙行小字">一升</small>　芍藥<small class="雙行小字">四兩</small>　乾地黃<small class="雙行小字">十兩</small>　乾漆<small class="雙行小字">一兩</small>　虻蟲<small class="雙行小字">一升</small>　水蛭百枚　蠐螬<small class="雙行小字">一升</small>　䗪蟲<small class="雙行小字">半升</small></p>
<p>右十二味，末之，煉蜜和丸小豆大，酒飲服五丸，日三服。</p>
</span>
<h3>〔附方〕</h3>
<span class="方">
<p><b>《千金翼》炙甘草湯<span class="註"><small class="雙行小字">一云復脈湯</small></span>：</b>治虛勞不足、汗出而悶，脈結悸，行動如常，不出百日，危急者十一日死。</p>
<p>甘草<small class="雙行小字">四兩，炙</small>　桂枝　生薑<small class="雙行小字">各三兩</small>　麥門冬<small class="雙行小字">半升</small>　麻仁<small class="雙行小字">半升</small>　人參　阿膠<small class="雙行小字">各二兩</small>　大棗<small class="雙行小字">三十枚</small>　生地黃<small class="雙行小字">一斤</small></p>
<p>右九味，以酒七升，水八升，先煮八味，取三升，去滓，內膠消盡，溫服一升，日三服。</p>
</span>
<span class="方">
<p><b>《肘後》獺肝散：</b>治冷勞，又主鬼疰一門相染。</p>
<p>獺肝一具</p>
<p>炙乾末之，水服方寸匕，日三服。</p>
</span>
<h2>肺痿肺癰咳嗽上氣病脈證治第七</h2>
<p><span class="編號">1.</span>問曰：熱在上焦者，因咳為肺痿。肺痿之病，從何得之？師曰：或從汗出，或從嘔吐，或從消渴，小便利數，或從便難，又被快藥下利，重亡津液，故得之。
曰：寸口脈數，其人咳，口中反有濁唾涎沫者何？師曰：為肺痿之病。若口中辟辟燥，咳即胸中隱隱痛，脈反滑數，此為肺癰，咳唾膿血。
脈數虛者為肺痿，數實者為肺癰。</p>
<p><span class="編號">2.</span>問曰：病咳逆，脈之何以知此為肺癰，當有膿血，吐之則死，其脈何類？師曰：寸口脈微而數，微則為風，數則為熱；微則汗出，數則惡寒。風中於衛，呼氣不入；熱過於營，吸而不出。風傷皮毛，熱傷血脈。風舍於肺，其人則咳，口乾喘滿，咽燥不渴，多唾濁沫，時時振寒，熱之所過，血為之凝滯，蓄結癰膿，吐如米粥。始萌可救，膿成則死。</p>
<p><span class="編號">3.</span>上氣面浮腫，肩息，其脈浮大，不治，又加利尤甚。</p>
<p><span class="編號">4.</span>上氣喘而躁者，屬肺脹，欲作風水，發汗則愈。</p>
<p><span class="編號">5.</span>肺痿吐涎沫而不咳者，其人不渴，必遺尿，小便數。所以然者，以上虛不能制下故也。此為肺中冷，必眩，多涎唾，甘草乾薑湯以溫之。若服湯已渴者，屬消渴。</p>
<span class="方">
<p><b>甘草乾薑湯方：</b></p>
<p>甘草<small class="雙行小字">四兩，炙</small>　乾薑<small class="雙行小字">二兩，炮</small></p>
<p>上㕮咀，以水三升，煮取一升五合，去滓，分溫再服。</p>
</span>
<p><span class="編號">6.</span>咳而上氣，喉中水雞聲，射干麻黃湯主之。</p>
<span class="方">
<p><b>射干麻黃湯方：</b></p>
<p>射干<small class="雙行小字">十三枚</small><span class="註"><small class="雙行小字">一法三兩</small></span>　麻黃<small class="雙行小字">四兩</small>　生薑<small class="雙行小字">四兩</small>　細辛<small class="雙行小字">三兩</small>　紫菀<small class="雙行小字">三兩</small>　款冬花<small class="雙行小字">三兩</small>　五味子<small class="雙行小字">半升</small>　大棗<small class="雙行小字">七枚</small>　半夏大者洗<small class="雙行小字">八枚</small><span class="註"><small class="雙行小字">一法半升</small></span></p>
<p>右九味，以水一斗二升，先煮麻黃兩沸，去上沫，內諸藥，煮取三升，分溫三服。</p>
</span>
<p><span class="編號">7.</span>咳逆上氣，時時吐濁，但坐不得眠，皂莢丸主之。</p>
<span class="方">
<p><b>皂莢丸方：</b></p>
<p>皂莢<small class="雙行小字">八兩，刮去皮，用酥炙</small></p>
<p>右一味，末之，蜜丸梧子大，以棗膏和湯服三丸，日三夜一服。</p>
</span>
<p><span class="編號">8.</span>咳而脈浮者，厚朴麻黃湯主之。</p>
<span class="方">
<p><b>厚朴麻黃湯方：</b></p>
<p>厚朴<small class="雙行小字">五兩</small>　麻黃<small class="雙行小字">四兩</small>　石膏<small class="雙行小字">如雞子大</small>　杏仁<small class="雙行小字">半升</small>　半夏<small class="雙行小字">半升</small>　乾薑<small class="雙行小字">二兩</small>　細辛<small class="雙行小字">二兩</small>　五味子<small class="雙行小字">半升</small>　小麥<small class="雙行小字">一升</small>　</p>
<p>右九味，以水一斗二升，先煮小麥熟，去滓，內諸藥，煮取三升，溫服一升，日三服。</p>
</span>
<p><span class="編號">9.</span>脈沈者，澤漆湯主之。</p>
<span class="方">
<p><b>澤漆湯方：</b></p>
<p>半夏<small class="雙行小字">半升</small>　紫參<small class="雙行小字">五兩</small><span class="註"><small class="雙行小字">一作紫菀</small></span>　澤漆<small class="雙行小字">三斤，以東流水五斗，煮取一斗五升</small>　生薑<small class="雙行小字">五兩</small>　白前<small class="雙行小字">五兩</small>　甘草　黃芩　人參　桂枝<small class="雙行小字">各三兩</small></p>
<p>右九味，㕮咀，內澤漆汁中，煮取五升，溫服五合，至夜盡。</p>
</span>
<p><span class="編號">10.</span>大逆上氣，咽喉不利，止逆下氣者，麥門冬湯主之。</p>
<span class="方">
<p><b>麥門冬湯方：</b></p>
<p>麥門冬<small class="雙行小字">七升</small>　半夏<small class="雙行小字">一升</small>　人參<small class="雙行小字">三兩</small>　甘草<small class="雙行小字">二兩</small>　粳米<small class="雙行小字">三合</small>　大棗<small class="雙行小字">十二枚</small></p>
<p>右六味，以水一斗二升，煮取六升，溫服一升，日三夜一服。</p>
</span>
<p><span class="編號">11.</span>肺癰，喘不得臥，葶藶大棗瀉肺湯主之。</p>
<span class="方">
<p><b>葶藶大棗瀉肺湯方：</b></p>
<p>葶藶<small class="雙行小字">熬令黃色，搗丸如彈子大</small>　大棗<small class="雙行小字">十二枚</small></p>
<p>上先以水三升，煮棗取二升，去棗，內葶藶，煮取一升，頓服。</p>
</span>
<p><span class="編號">12.</span>咳而胸滿，振寒脈數，咽乾不渴，時出濁唾腥臭，久久吐膿如米粥者，為肺癰，桔梗湯主之。</p>
<span class="方">
<p><b>桔梗湯方：</b>亦治血痹。</p>
<p>桔梗<small class="雙行小字">一兩</small>　甘草<small class="雙行小字">二兩</small></p>
<p>右二味，以水三升，煮取一升，分溫再服，則吐膿血也。</p>
</span>
<p><span class="編號">13.</span>咳而上氣，此為肺脹，其人喘，目如脫狀，脈浮大者，越婢加半夏湯主之。</p>
<span class="方">
<p><b>越婢加半夏湯方：</b></p>
<p>麻黃<small class="雙行小字">六兩</small>　石膏<small class="雙行小字">半斤</small>　生薑<small class="雙行小字">三兩</small>　大棗<small class="雙行小字">十五枚</small>　甘草<small class="雙行小字">二兩</small>　半夏<small class="雙行小字">半升</small></p>
<p>右六味，以水六升，先煮麻黃，去上沫，內諸藥，煮取三升，分溫三服。</p>
</span>
<p><span class="編號">14.</span>肺脹，咳而上氣，煩躁而喘，脈浮者，心下有水，小青龍加石膏湯主之。<span class="註"><small class="雙行小字">《千金》證治同，外更加脅下痛引缺盆。</small></span></p>
<span class="方">
<p><b>小青龍加石膏湯方：</b></p>
<p>麻黃　芍藥　桂枝　細辛　甘草　乾薑<small class="雙行小字">各三兩</small>　五味子　半夏<small class="雙行小字">各半升</small>　石膏<small class="雙行小字">二兩</small></p>
<p>右九味，以水一斗，先煮麻黃，去上沫，內諸藥，煮取三升，強人服一升，羸者減之，日三服，小兒服四合。</p>
</span>
<h3>〔附方〕</h3>
<span class="方">
<p><b>《外臺》炙甘草湯：</b>治肺痿涎唾多，心中溫溫液液者。<span class="註"><small class="雙行小字">方見虛勞中。</small></span></p>
</span>
<span class="方">
<p><b>《千金》甘草湯：</b></p>
<p>甘草</p>
<p>右一味，以水三升，煮減半，分溫三服。</p>
</span>
<span class="方">
<p><b>《千金》生薑甘草湯：</b>治肺痿，咳唾涎沫不止，咽燥而渴。</p>
<p>生薑<small class="雙行小字">五兩</small>　人參<small class="雙行小字">三兩</small>　甘草<small class="雙行小字">四兩</small>　大棗<small class="雙行小字">十五枚</small></p>
<p>右四味，以水七升，煮三升，分溫三服。</p>
</span>
<span class="方">
<p><b>《千金》桂枝去芍藥加皂莢湯：</b>治肺痿吐涎沫。</p>
<p>桂枝<small class="雙行小字">三兩</small>　生薑<small class="雙行小字">三兩</small>　甘草<small class="雙行小字">二兩</small>　大棗<small class="雙行小字">十枚</small>　皂莢<small class="雙行小字">一枚，去皮子炙焦</small></p>
<p>右五味，以水七升，微微火煮取三升，分溫三服。</p>
</span>
<span class="方">
<p><b>《外臺》桔梗白散：</b>治咳而胸滿，振寒脈數，咽乾不渴，時出濁唾腥臭，久久吐膿如米粥者，為肺癰。</p>
<p>桔梗　貝母<small class="雙行小字">各三分</small>　巴豆<small class="雙行小字">一分，去皮，熬，研如脂</small></p>
<p>右三味，為散，強人飲服半錢匕，羸者減之。病在膈上者吐膿血，在膈下者瀉出，若下多不止，飲冷水一杯則定。</p>
</span>
<span class="方">
<p><b>《千金》葦莖湯：</b>治咳有微熱，煩滿，胸中甲錯，是為肺癰。</p>
<p>葦莖<small class="雙行小字">二升</small>　薏苡仁<small class="雙行小字">半升</small>　桃仁<small class="雙行小字">五十枚</small>　瓜瓣<small class="雙行小字">半升</small></p>
<p>右四味，以水一斗，先煮葦莖，得五升，去滓，內諸藥，煮取二升，服一升，再服，當吐如膿。</p>
</span>
<p><span class="編號">15.</span>肺癰胸滿脹，一身面目浮腫，鼻塞清涕出，不聞香臭酸辛，咳逆上氣，喘鳴迫塞，葶藶大棗瀉肺湯主之。<span class="註"><small class="雙行小字">方見上，三日一劑，可至三四劑，此先服小青龍湯一劑乃進。小青龍湯方見咳嗽門中。</small></span></p>
<h2>奔豚氣病脈證治第八</h2>
<p><span class="編號">1.</span>師曰：病有奔豚，有吐膿，有驚怖，有火邪，此四部病，皆從驚發得之。師曰：奔豚病，從少腹起，上衝咽喉，發作欲死，復還止，皆從驚恐得之。</p>
<p><span class="編號">2.</span>奔豚氣上衝胸，腹痛，往來寒熱，奔豚湯主之。</p>
<span class="方">
<p><b>奔豚湯方：</b></p>
<p>甘草　芎藭　當歸<small class="雙行小字">各二兩</small>　半夏<small class="雙行小字">四兩</small>　黃芩<small class="雙行小字">二兩</small>　生葛<small class="雙行小字">五兩</small>　芍藥<small class="雙行小字">二兩</small>　生薑<small class="雙行小字">四兩</small>　甘李根白皮<small class="雙行小字">一升。</small></p>
<p>右九味，以水二斗，煮取五升，溫服一升，日三夜一服。</p>
</span>
<p><span class="編號">3.</span>發汗後，燒鍼令其汗，鍼處被寒，核起而赤者，必發奔豚，氣從少腹上至心，灸其核上各一壯，與桂枝加桂湯主之。</p>
<span class="方">
<p><b>桂枝加桂湯方：</b></p>
<p>桂枝<small class="雙行小字">五兩</small>　芍藥<small class="雙行小字">三兩</small>　甘草<small class="雙行小字">二兩，炙</small>　生薑<small class="雙行小字">三兩</small>　大棗<small class="雙行小字">十二枚</small></p>
<p>右五味，以水七升，微火煮取三升，去滓，溫服一升。</p>
</span>
<p><span class="編號">4.</span>發汗後，臍下悸者，欲作奔豚，茯苓桂枝甘草大棗湯主之。</p>
<span class="方">
<p><b>茯苓桂枝甘草大棗湯方：</b></p>
<p>茯苓<small class="雙行小字">半斤</small>　甘草<small class="雙行小字">二兩，炙</small>　大棗<small class="雙行小字">十五枚</small>　桂枝<small class="雙行小字">四兩</small></p>
<p>右四味，以甘瀾水一斗，先煮茯苓、減二升，內諸藥，煮取三升，去滓，溫服一升，日三服。甘瀾水法：取水二斗，置大盆內，以杓揚之，水上有珠子五、六千顆相逐，取用之。</p>
</span>
<h2>胸痹心痛短氣病脈證治第九</h2>
<p><span class="編號">1.</span>師曰：夫脈當取太過不及，陽微陰弦，即胸痹而痛，所以然者，責其極虛也。今陽虛知在上焦，所以胸痹、心痛者，以其陰弦故也。</p>
<p><span class="編號">2.</span>平人無寒熱，短氣不足以息者，實也。</p>
<p><span class="編號">3.</span>胸痹之病，喘息咳唾，胸背痛，短氣，寸口脈沉而遲，關上小緊數，栝蔞薤白白酒湯主之。</p>
<span class="方">
<p><b>栝蔞薤白白酒湯方：</b></p>
<p>栝蔞實<small class="雙行小字">一枚，搗</small>　薤白<small class="雙行小字">半斤</small>　白酒<small class="雙行小字">七升</small></p>
<p>右三味，同煮，取二升，分溫再服。</p>
</span>
<p><span class="編號">4.</span>胸痹不得臥，心痛徹背者，栝蔞薤白半夏湯主之。</p>
<span class="方">
<p><b>栝蔞薤白半夏湯方：</b></p>
<p>栝蔞實<small class="雙行小字">一枚，搗</small>　薤白<small class="雙行小字">三兩</small>　半夏<small class="雙行小字">半升</small>　白酒<small class="雙行小字">一斗</small></p>
<p>右四味，同煮，取四升，溫服一升，日三服。</p>
</span>
<p><span class="編號">5.</span>胸痹心中痞，留氣結在胸，胸滿，脅下逆搶心，枳實薤白桂枝湯主之；人參湯亦主之。</p>
<span class="方">
<p><b>枳實薤白桂枝湯方：</b></p>
<p>枳實<small class="雙行小字">四枚</small>　厚朴<small class="雙行小字">四兩</small>　薤白<small class="雙行小字">半斤</small>　桂枝<small class="雙行小字">一兩</small>　栝蔞<small class="雙行小字">一枚，搗</small></p>
<p>右五味，以水五升，先煮枳實、厚朴，取二升，去滓，內諸藥，煮數沸，分溫三服。</p>
</span>
<span class="方">
<p><b>人參湯方：</b></p>
<p>人參　甘草　乾薑　白朮<small class="雙行小字">各三兩</small></p>
<p>右四味，以水八升，煮取三升，溫服一升，日三服。</p>
</span>
<p><span class="編號">6.</span>胸痹，胸中氣塞，短氣，茯苓杏仁甘草湯主之；橘枳薑湯亦主之。</p>
<span class="方">
<p><b>茯苓杏仁甘草湯方：</b></p>
<p>茯苓<small class="雙行小字">三兩</small>　杏仁<small class="雙行小字">五十個</small>　甘草<small class="雙行小字">一兩</small></p>
<p>右三味，以水一斗，煮取五升，溫服一升，日三服。不差，更服。</p>
</span>
<span class="方">
<p><b>橘枳薑湯方：</b></p>
<p>橘皮<small class="雙行小字">一斤</small>　枳實<small class="雙行小字">三兩</small>　生薑<small class="雙行小字">半斤</small></p>
<p>右三味，以水五升，煮取二升，分溫再服。<span class="註"><small class="雙行小字">《肘後》《千金》云：治胸痹，胸中愊愊如滿，噎塞習習如癢，喉中澀燥，唾沫。</small></span></p>
</span>
<p><span class="編號">7.</span>胸痹緩急者，薏苡附子散主之。</p>
<span class="方">
<p><b>薏苡附子散方：</b></p>
<p>薏苡仁<small class="雙行小字">十五兩</small>　大附子<small class="雙行小字">十枚，炮</small></p>
<p>右二味，杵為散，服方寸匕，日三服。</p>
</span>
<p><span class="編號">8.</span>心中痞，諸逆，心懸痛，桂枝生薑枳實湯主之。</p>
<span class="方">
<p><b>桂枝生薑枳實湯方：</b></p>
<p>桂枝　生薑<small class="雙行小字">各三兩</small>　枳實<small class="雙行小字">五枚</small></p>
<p>右三味，以水六升，煮取三升，分溫三服。</p>
</span>
<p><span class="編號">9.</span>心痛徹背，背痛徹心，烏頭赤石脂丸主之。</p>
<span class="方">
<p><b>烏頭赤石脂丸方：</b></p>
<p>蜀椒<small class="雙行小字">一兩</small><span class="註"><small class="雙行小字">一法二分</small></span>　烏頭<small class="雙行小字">一分，炮</small>　附子<small class="雙行小字">半兩，炮</small>　一法<small class="雙行小字">一分</small>　乾薑<small class="雙行小字">一兩</small><span class="註"><small class="雙行小字">一法一分</small></span>　赤石脂<small class="雙行小字">一兩</small><span class="註"><small class="雙行小字">一法二分</small></span></p>
<p>右五味，末之，蜜丸如桐子大，先食服一丸，日三服，不知，稍加服。</p>
</span>
<h3>〔附方〕</h3>
<span class="方">
<p><b>九痛丸：</b>治九種心痛。</p>
<p>附子<small class="雙行小字">三兩，炮</small>　生狼牙<small class="雙行小字">一兩，炙香</small>　巴豆<small class="雙行小字">一兩，去皮心，熬，研如脂</small>　人參　乾薑　吳茱萸<small class="雙行小字">各一兩</small></p>
<p>右六味，末之，煉蜜丸如桐子大，酒下。強人初服三丸，日三服，弱者二丸。兼治卒中惡，腹脹痛，口不能言；又治連年積冷，流注心胸痛，並冷衝上氣，落馬墜車血疾等皆主之。忌口如常法。</p>
</span>
<h2>腹滿寒疝宿食病脈證治第十</h2>
<p><span class="編號">1.</span>趺陽脈微弦，法當腹滿，不滿者必便難，兩胠疼痛，此虛寒從下上也，當與溫藥服之。</p>
<p><span class="編號">2.</span>病者腹滿，按之不痛為虛，痛者為實，可下之；舌黃未下者，下之黃自去。</p>
<p><span class="編號">3.</span>腹滿時減，復如故，此為寒，當與溫藥。</p>
<p><span class="編號">4.</span>病者痿黃，躁而不渴，胸中寒實，而利不止者，死。</p>
<p><span class="編號">5.</span>寸口脈弦者，即脅下拘急而痛，其人嗇嗇惡寒也。</p>
<p><span class="編號">6.</span>夫中寒家，喜欠，其人清涕出，發熱色和者，善嚏。</p>
<p><span class="編號">7.</span>中寒，其人下利，以裏虛也，欲嚏不能，此人肚中寒。<span class="註"><small class="雙行小字">一云痛。</small></span></p>
<p><span class="編號">8.</span>夫瘦人繞臍痛，必有風冷，穀氣不行，而反下之，其氣必衝；不衝者，心下則痞也。</p>
<p><span class="編號">9.</span>病腹滿，發熱十日，脈浮而數，飲食如故，厚朴七物湯主之。</p>
<span class="方">
<p><b>厚朴七物湯方：</b></p>
<p>厚朴<small class="雙行小字">半斤</small>　甘草　大黃<small class="雙行小字">各三兩</small>　大棗<small class="雙行小字">十枚</small>　枳實<small class="雙行小字">五枚</small>　桂枝<small class="雙行小字">二兩</small>　生薑<small class="雙行小字">五兩</small></p>
<p>右七味，以水一斗，煮取四升，溫服八合，日三服。嘔者加半夏五合，下利去大黃，寒多者加生薑至半斤。</p>
</span>
<p><span class="編號">10.</span>腹中寒氣，雷鳴切痛，胸脅逆滿，嘔吐，附子粳米湯主之。</p>
<span class="方">
<p><b>附子粳米湯方：</b></p>
<p>附子<small class="雙行小字">一枚，炮</small>　半夏<small class="雙行小字">半升</small>　甘草<small class="雙行小字">一兩</small>　大棗<small class="雙行小字">十枚</small>　粳米<small class="雙行小字">半升</small></p>
<p>右五味，以水八升，煮米熟，湯成，去滓，溫服一升，日三服。</p>
<p>痛而閉者，厚朴三物湯主之。</p>
</span>
<span class="方">
<p><b>厚朴三物湯方：</b></p>
<p>厚朴<small class="雙行小字">八兩</small>　大黃<small class="雙行小字">四兩</small>　枳實<small class="雙行小字">五枚</small></p>
<p>右三味，以水一斗二升，先煮二味，取五升，內大黃，煮取三升，溫服一升。以利為度。</p>
</span>
<p><span class="編號">11.</span>痛而閉者，厚朴三物湯主之。</p>
<p><span class="編號">12.</span>按之心下滿痛者，此為實也，當下之，宜大柴胡湯。</p>
<span class="方">
<p><b>大柴胡湯方：</b></p>
<p>柴胡<small class="雙行小字">半斤</small>　黃芩<small class="雙行小字">三兩</small>　芍藥<small class="雙行小字">三兩</small>　半夏<small class="雙行小字">半升，洗</small>　枳實<small class="雙行小字">四枚，炙</small>　大黃<small class="雙行小字">二兩</small>　大棗<small class="雙行小字">十二枚</small>　生薑<small class="雙行小字">五兩</small></p>
<p>右八味：以水一斗二升，煮取六升，去滓，再煎，溫服一升，日三服。</p>
</span>
<p><span class="編號">13.</span>腹滿不減，減不足言，當須下之，宜大承氣湯。</p>
<span class="方">
<p><b>大承氣湯方：</b><span class="註"><small class="雙行小字">見前痙病中</small></span></p>
</span>
<p><span class="編號">14.</span>心胸中大寒痛，嘔不能飲食，腹中滿，上衝皮起，出見有頭足，上下痛而不可觸近，大建中湯主之。</p>
<span class="方">
<p><b>大建中湯方：</b></p>
<p>蜀椒<small class="雙行小字">二合，去汗</small>　乾薑<small class="雙行小字">四兩</small>　人參<small class="雙行小字">二兩</small></p>
<p>右三味，以水四升，煮取三升，去滓，內膠飴一升，微火煎取一升半，分溫再服；如一炊頃，可飲粥二升，後更服，當一日食糜，溫覆之。</p>
</span>
<p><span class="編號">15.</span>脅下偏痛，發熱，其脈緊弦，此寒也，以溫藥下之，宜大黃附子湯。</p>
<span class="方">
<p><b>大黃附子湯方：</b></p>
<p>大黃<small class="雙行小字">三兩</small>　附子<small class="雙行小字">三枚，炮</small>　細辛<small class="雙行小字">二兩</small></p>
<p>右三味，以水五升，煮取二升，分溫三服；若強人煮取二升半，分溫三服，服後如人行四、五里，進一服。</p>
</span>
<p><span class="編號">16.</span>寒氣厥逆，赤丸主之。</p>
<span class="方">
<p><b>赤丸方：</b></p>
<p>茯苓<small class="雙行小字">四兩</small>　烏頭<small class="雙行小字">二兩，炮</small>　半夏<small class="雙行小字">四兩，洗</small><span class="註"><small class="雙行小字">一方用桂</small></span>　細辛<small class="雙行小字">一兩</small><span class="註"><small class="雙行小字">《千金》作人參</small></span></p>
<p>右四味，末之，內真朱為色，煉蜜丸如麻子大，先食酒飲下三丸，日再夜一服；不知，稍增之，以知為度。</p>
</span>
<p><span class="編號">17.</span>腹痛，脈弦而緊，弦則衛氣不行，即惡寒，緊則不欲食，邪正相搏，即為寒疝。
寒疝繞臍痛，若發則白汗出，手足厥冷，其脈沉緊者，大烏頭煎主之。</p>
<span class="方">
<p><b>烏頭煎方：</b></p>
<p>烏頭<small class="雙行小字">大者五枚，熬，去皮，不㕮咀</small></p>
<p>上以水三升，煮取一升，去滓，內蜜二升，煎令水氣盡，取二升，強人服七合，弱人服五合。不差，明日更服，不可一日再服。</p>
</span>
<p><span class="編號">18.</span>寒疝腹中痛，及脅痛裏急者，當歸生薑羊肉湯主之。</p>
<span class="方">
<p><b>當歸生薑羊肉湯方：</b></p>
<p>當歸<small class="雙行小字">三兩</small>　生薑<small class="雙行小字">五兩</small>　羊肉<small class="雙行小字">一斤</small></p>
<p>右三味，以水八升，煮取三升，溫服七合，日三服。若寒多者，加生薑成一斤；痛多而嘔者，加橘皮二兩，白朮一兩。加生薑者，亦加水五升，煮取三升二合，服之。</p>
</span>
<p><span class="編號">19.</span>寒疝腹中痛，逆冷，手足不仁，若身疼痛，灸刺諸藥不能治，抵當烏頭桂枝湯主之。</p>
<span class="方">
<p><b>烏頭桂枝湯方：</b></p>
<p>烏頭</p>
<p>右一味，以蜜二斤，煎減半，去滓，以桂枝湯五合解之，得一升後，初服二合，不知，即服三合；又不知，復加至五合。其知者，如醉狀，得吐者，為中病。</p>
</span>
<span class="方">
<p><b>桂枝湯方：</b></p>
<p>桂枝<small class="雙行小字">三兩，去皮</small>　芍藥<small class="雙行小字">三兩</small>　甘草<small class="雙行小字">二兩，炙</small>　生薑<small class="雙行小字">三兩</small>　大棗<small class="雙行小字">十二枚</small></p>
<p>右五味，銼，以水七升，微火煮取三升，去滓。</p>
</span>
<p><span class="編號">20.</span>其脈數而緊，乃弦，狀如弓弦，按之不移。脈數弦者，當下其寒；脈緊大而遲者，必心下堅；脈大而緊者，陽中有陰，可下之。</p>
<h3>〔附方〕</h3>
<span class="方">
<p><b>《外臺‧卷七》烏頭湯：</b>治寒疝腹中絞痛，賊風入攻五臟，拘急不得轉側，發作有時，使人陰縮，手足厥逆。<span class="註"><small class="雙行小字">方見上。</small></span></p>
</span>
<span class="方">
<p><b>《外臺》柴胡桂枝湯：</b>治心腹卒中痛者。</p>
<p>柴胡<small class="雙行小字">四兩</small>　黃芩　人參　芍藥　桂枝　生薑<small class="雙行小字">各一兩半</small>　甘草<small class="雙行小字">一兩</small>　半夏<small class="雙行小字">二合半</small>　大棗<small class="雙行小字">六枚</small></p>
<p>右九味，以水六升，煮取三升，溫服一升，日三服。</p>
</span>
<span class="方">
<p><b>《外臺》走馬湯：</b>治中惡心痛腹脹，大便不通。</p>
<p>杏仁<small class="雙行小字">二枚</small>　巴豆<small class="雙行小字">二枚，去皮心，熬</small></p>
<p>右二味，以綿纏捶令碎，熱湯二合，捻取白汁飲之，當下。老小量之。通治飛尸鬼擊病。</p>
</span>
<p><span class="編號">21.</span>問曰：人病有宿食，何以別之？師曰：寸口脈浮而大，按之反澀，尺中亦微而澀，故知有宿食，大承氣湯主之。</p>
<p><span class="編號">22.</span>脈數而滑者，實也，此有宿食，下之愈，宜大承氣湯。</p>
<p><span class="編號">23.</span>下利不欲食者，有宿食也，當下之，宜大承氣湯。</p>
<p><span class="編號">24.</span>宿食在上脘，當吐之，宜瓜蒂散。</p>
<span class="方">
<p><b>瓜蒂散方：</b></p>
<p>瓜蒂<small class="雙行小字">一分，熬黃</small>　赤小豆<small class="雙行小字">一分，煮</small></p>
<p>右二味，杵為散，以香豉七合煮取汁，和散一錢匕，溫服之，不吐者少加之，以快吐為度而止。亡血及虛者，不可與之。</p>
</span>
<p><span class="編號">25.</span>脈緊如轉索無常者，有宿食也。</p>
<p><span class="編號">26.</span>脈緊，頭痛風寒，腹中有宿食不化也。<span class="註"><small class="雙行小字">一云寸口脈緊。</small></span></p>
<h2>五臟風寒積聚病脈證并治第十一</h2>
<p><span class="編號">1.</span>肺中風者，口燥而喘，身運而重，冒而腫脹。</p>
<p><span class="編號">2.</span>肺中寒，吐濁涕。</p>
<p><span class="編號">3.</span>肺死臟，浮之虛，按之弱如蔥葉，下無根者，死。</p>
<p><span class="編號">4.</span>肝中風者，頭目瞤，兩脅痛，行常傴，令人嗜甘。</p>
<p><span class="編號">5.</span>肝中寒者，兩臂不舉，舌本燥，喜太息，胸中痛，不得轉側，食則吐而汗出也。<span class="註"><small class="雙行小字">《脈經》、《千金》云：時盜汗、咳，食已吐其汁。</small></span></p>
<p><span class="編號">6.</span>肝死臟，浮之弱，按之如索不來，或曲如蛇行者，死。</p>
<p><span class="編號">7.</span>肝著，其人常欲蹈其胸上，先未苦時，但欲飲熱，旋覆花湯主之。<span class="註"><small class="雙行小字">臣億等校諸本旋覆花湯方，皆同。</small></span></p>
<span class="方">
<p><b>旋覆花湯方：</b></p>
<p>旋覆花<small class="雙行小字">三兩</small>　蔥<small class="雙行小字">十四莖</small>　新絳<small class="雙行小字">少許</small></p>
<p>右三味，以水三升，煮取一升，頓服之。</p>
</span>
<p><span class="編號">8.</span>心中風者，翕翕發熱，不能起，心中飢，食即嘔吐。</p>
<p><span class="編號">9.</span>心中寒者，其人苦病心如噉蒜狀，劇者心痛徹背，背痛徹心，譬如蠱注。其脈浮者，自吐乃愈。</p>
<p><span class="編號">10.</span>心傷者，其人勞倦，即頭面赤而下重，心中痛而自煩，發熱，當臍跳，其脈弦，此為心臟傷所致也。</p>
<p><span class="編號">11.</span>心死臟，浮之實如麻豆，按之益躁急者，死。</p>
<p><span class="編號">12.</span>邪哭使魂魄不安者，血氣少也；血氣少者屬於心，心氣虛者，其人則畏，合目欲眠，夢遠行而精神離散，魂魄妄行。陰氣衰者為癲，陽氣衰者為狂。</p>
<p><span class="編號">13.</span>脾中風者，翕翕發熱，形如醉人，腹中煩重，皮目瞤瞤而短氣。</p>
<p><span class="編號">14.</span>脾死臟，浮之大堅，按之如覆盃潔潔，狀如搖者，死。<span class="註"><small class="雙行小字">臣億等詳五臟各有中風、中寒，今脾只載中風，腎中風、中寒俱不載者，以古文簡亂極多，去古既遠，無它可以補綴也。</small></span></p>
<p><span class="編號">15.</span>趺陽脈浮而澀，浮則胃氣強，澀則小便數，浮澀相搏，大便則堅，其脾為約，麻子仁丸主之。</p>
<span class="方">
<p><b>麻子仁丸方：</b></p>
<p>麻子仁<small class="雙行小字">二升</small>　芍藥<small class="雙行小字">半斤</small>　枳實<small class="雙行小字">一斤</small>　大黃<small class="雙行小字">一斤</small>　厚朴<small class="雙行小字">一尺</small>　杏仁<small class="雙行小字">一升</small></p>
<p>右六味，末之，煉蜜和丸，梧子大，飲服十丸，日三，以知為度。</p>
</span>
<p><span class="編號">16.</span>腎著之病，其人身體重，腰中冷，如坐水中，形如水狀，反不渴，小便自利，飲食如故，病屬下焦，身勞汗出，衣<span class="註"><small class="雙行小字">一作表</small></span>裏冷濕，久久得之，腰以下冷痛，腹重如帶五千錢，甘薑苓朮湯主之。</p>
<span class="方">
<p><b>甘草乾薑苓朮湯方：</b></p>
<p>甘草　白朮<small class="雙行小字">各二兩</small>　乾薑　茯苓<small class="雙行小字">各四兩</small></p>
<p>右四味，以水四升，煮取三升，分溫三服，腰中即溫。</p>
</span>
<p><span class="編號">17.</span>腎死臟，浮之堅，按之亂如轉丸，益下入尺中者，死。</p>
<p><span class="編號">18.</span>問曰：三焦竭部，上焦竭善噫，何謂也？師曰：上焦受中焦氣未和，不能消穀，故能噫耳。下焦竭，即遺溺失便，其氣不和，不能自禁制，不須治，久則愈。</p>
<p><span class="編號">19.</span>師曰：熱在上焦者，因咳為肺痿；熱在中焦者，則為堅；熱在下焦者，則尿血，亦令淋秘不通。大腸有寒者，多鶩溏；有熱者，便腸垢。小腸有寒者，其人下重便血；有熱者，必痔。</p>
<p><span class="編號">20.</span>問曰：病有積、有聚、有䅽氣，何謂也？師曰：積者，臟病也，終不移；聚者，腑病也，發作有時，展轉痛移，為可治，䅽氣者，脅下痛，按之則愈，復發為䅽氣。諸積大法，脈來細而附骨者，乃積也。寸口，積在胸中；微出寸口，積在喉中；關上，積在臍旁；上關上，積在心下；微下關，積在少腹；尺中，積在氣衝。脈出左，積在左；脈出右，積在右；脈兩出，積在中央。各以其部處之。</p>
<h2>痰飲咳嗽病脈證并治第十二</h2>
<p><span class="編號">1.</span>問曰：夫飲有四，何謂也？師曰：有痰飲，有懸飲，有溢飲，有支飲。</p>
<p><span class="編號">2.</span>問曰：四飲何以為異？師曰：其人素盛今瘦，水走腸間，瀝瀝有聲，謂之痰飲；飲後水流在脅下，咳唾引痛，謂之懸飲；飲水流行，歸於四肢，當汗出而不汗出，身體疼重，謂之溢飲；咳逆倚息，短氣不得臥，其形如腫，謂之支飲。</p>
<p><span class="編號">3.</span>水在心，心下堅築，短氣，惡水不欲飲。</p>
<p><span class="編號">4.</span>水在肺，吐涎沫，欲飲水。</p>
<p><span class="編號">5.</span>水在脾，少氣身重。</p>
<p><span class="編號">6.</span>水在肝，脅下支滿，嚏而痛。</p>
<p><span class="編號">7.</span>水在腎，心下悸。</p>
<p><span class="編號">8.</span>夫心下有留飲，其人背寒冷如手大。</p>
<p><span class="編號">9.</span>留飲者，脅下痛引缺盆，咳嗽則輒已。<span class="註"><small class="雙行小字">一作轉甚。</small></span></p>
<p><span class="編號">10.</span>胸中有留飲，其人短氣而渴；四肢歷節痛，脈沉者，有留飲。</p>
<p><span class="編號">11.</span>膈上病痰，滿喘咳吐，發則寒熱，背痛腰疼，目泣自出，其人振振身瞤劇，必有伏飲。</p>
<p><span class="編號">12.</span>夫病人飲水多，必暴喘滿。凡食少飲多，水停心下。甚者則悸，微者短氣。
脈雙弦者寒也，皆大下後善虛。脈偏弦者飲也。</p>
<p><span class="編號">13.</span>肺飲不弦，但苦喘短氣。</p>
<p><span class="編號">14.</span>支飲亦喘而不能臥，加短氣。其脈平也。</p>
<p><span class="編號">15.</span>病痰飲者，當以溫藥和之。</p>
<p><span class="編號">16.</span>心下有痰飲，胸脅支滿，目眩。苓桂朮甘湯主之。</p>
<span class="方">
<p><b>苓桂朮甘湯方：</b></p>
<p>茯苓<small class="雙行小字">四兩</small>　桂枝　白朮<small class="雙行小字">各三兩</small>　甘草<small class="雙行小字">二兩</small></p>
<p>右四味，以水六升，煮取三升，分溫三服，小便則利。</p>
</span>
<p><span class="編號">17.</span>夫短氣有微飲，當從小便去之，苓桂朮甘湯主之；<span class="註"><small class="雙行小字">方見上。</small></span>腎氣丸亦主之。<span class="註"><small class="雙行小字">方見腳氣中。</small></span></p>
<p><span class="編號">18.</span>病者脈伏，其人欲自利，利反快，雖利，心下續堅滿，此為留飲欲去故也，甘遂半夏湯主之。</p>
<span class="方">
<p><b>甘遂半夏湯方：</b></p>
<p>甘遂大者<small class="雙行小字">三枚</small>　半夏<small class="雙行小字">十二枚，以水一升，煮取半升，去滓</small>　芍藥<small class="雙行小字">五枚</small>　甘草如指大<small class="雙行小字">一枚，炙</small><span class="註"><small class="雙行小字">一本作無。</small></span></p>
<p>右四味，以水二升煮取半升，去滓，以蜜半升，和藥汁煎取八合。頓服之。</p>
</span>
<p><span class="編號">19.</span>脈浮而細滑，傷飲。</p>
<p><span class="編號">20.</span>脈弦數，有寒飲，冬夏難治。</p>
<p><span class="編號">21.</span>脈沉而弦者，懸飲內痛。</p>
<p><span class="編號">22.</span>病懸飲者，十棗湯主之。</p>
<span class="方">
<p><b>十棗湯方：</b></p>
<p>芫花<small class="雙行小字">，熬</small>　甘遂　大戟<small class="雙行小字">各等分</small></p>
<p>右三味，搗篩，以水一升五合，先煮肥大棗十枚。取六合，去滓，內藥末，強人服一錢七分，羸人服半錢，平旦溫服之；不下者，明日更加半錢。得快下後，糜粥自養。</p>
</span>
<p><span class="編號">23.</span>病溢飲者，當發其汗，大青龍湯主之；小青龍湯亦主之。</p>
<span class="方">
<p><b>大青龍湯方：</b></p>
<p>麻黃<small class="雙行小字">六兩，去節</small>　桂枝<small class="雙行小字">三兩，去皮</small>　甘草<small class="雙行小字">二兩，炙</small>　杏仁<small class="雙行小字">四十個，去皮尖</small>　生薑<small class="雙行小字">三兩，切</small>　大棗<small class="雙行小字">十二枚</small>　石膏<small class="雙行小字">如雞子大，碎</small></p>
<p>右七味，以水九升，先煮麻黃，減二升，去上沫，內諸藥，煮取三升，去滓，溫服一升，取微似汗，汗多者，溫粉粉之。</p>
</span>
<span class="方">
<p><b>小青龍湯方：</b></p>
<p>麻黃<small class="雙行小字">三兩，去節</small>　芍藥<small class="雙行小字">三兩</small>　五味子<small class="雙行小字">半升</small>　乾薑<small class="雙行小字">三兩</small>　甘草<small class="雙行小字">三兩，炙細辛三兩</small>　桂枝<small class="雙行小字">三兩，去皮</small>　半夏<small class="雙行小字">半升，洗</small></p>
<p>右八味，以水一斗，先煮麻黃，減二升，去上沫，內諸藥，煮取三升，去滓，溫服一升。</p>
</span>
<p><span class="編號">24.</span>膈間支飲，其人喘滿，心下痞堅，面色黧黑，其脈沉緊，得之數十日，醫吐下之不愈，木防己湯主之。虛者即愈，實者三日復發，後與不愈者，宜木防己湯去石膏加茯苓芒硝湯主之。
<span class="方">
<p><b>木防己湯方：</b></p>
<p>木防己<small class="雙行小字">三兩</small>　石膏<small class="雙行小字">十二枚雞子大</small>　桂枝<small class="雙行小字">三兩</small>　人參<small class="雙行小字">四兩</small></p>
<p>右四味，以水六升，煮取二升，分溫再服。</p>
</span>
</p>
<span class="方">
<p><b>木防己去石膏加茯苓芒硝湯方：</b></p>
<p>木防己　桂枝<small class="雙行小字">各二兩</small>　人參<small class="雙行小字">四兩</small>　芒硝<small class="雙行小字">三合</small>　茯苓<small class="雙行小字">四兩</small></p>
<p>右五味，以水六升，煮取二升，去滓，內芒硝，再微煎，分溫再服，微利則愈。</p>
</span>
<p><span class="編號">25.</span>心下有支飲，其人苦冒眩，澤瀉湯主之。</p>
<span class="方">
<p><b>澤瀉湯方：</b></p>
<p>澤瀉<small class="雙行小字">五兩</small>　白朮<small class="雙行小字">二兩</small></p>
<p>右二味，以水二升，煮取一升，分溫再服。</p>
</span>
<p><span class="編號">26.</span>支飲胸滿者，厚朴大黃湯主之。</p>
<span class="方">
<p><b>厚朴大黃湯方：</b></p>
<p>厚朴<small class="雙行小字">一尺</small>　大黃<small class="雙行小字">六兩</small>　枳實<small class="雙行小字">四枚</small></p>
<p>右三味，以水五升，煮取二升，分溫再服。</p>
</span>
<p><span class="編號">27.</span>支飲不得息，葶藶大棗瀉肺湯主之。<span class="註"><small class="雙行小字">方見肺癰中。</small></span></p>
<p><span class="編號">28.</span>嘔家本渴，渴者為欲解，今反不渴，心下有支飲故也，小半夏湯主之。<span class="註"><small class="雙行小字">《千金》云小半夏加茯苓湯。</small></span></p>
<span class="方">
<p><b>小半夏湯方：</b></p>
<p>半夏<small class="雙行小字">一升</small>　生薑<small class="雙行小字">半斤</small></p>
<p>右二味，以水七升，煮取一升半，分溫再服。</p>
</span>
<p><span class="編號">29.</span>腹滿，口舌乾燥，此腸間有水氣，己椒藶黃丸主之。</p>
<span class="方">
<p><b>己椒藶黃丸方：</b></p>
<p>防己　椒目　葶藶<small class="雙行小字">熬</small>　大黃<small class="雙行小字">各一兩</small></p>
<p>右四味，末之，蜜丸如梧子大，先食飲服一丸，日三服，稍增，口中有津液，渴者加芒硝半兩。</p>
</span>
<p><span class="編號">30.</span>卒嘔吐，心下痞，膈間有水，眩悸者，小半夏加茯苓湯主之。</p>
<span class="方">
<p><b>小半夏加茯苓湯方：</b></p>
<p>半夏<small class="雙行小字">一升</small>　生薑<small class="雙行小字">半斤</small>　茯苓<small class="雙行小字">三兩</small><span class="註"><small class="雙行小字">一法四兩。</small></span></p>
<p>右三味，以水七升，煮取一升五合，分溫再服。</p>
</span>
<p><span class="編號">31.</span>假令瘦人臍下有悸，吐涎沫而癲眩，此水也，五苓散主之。</p>
<span class="方">
<p><b>五苓散方：</b></p>
<p>澤瀉<small class="雙行小字">一兩一分</small>　豬苓<small class="雙行小字">三分，去皮</small>　茯苓<small class="雙行小字">三分</small>　白朮<small class="雙行小字">三分</small>　桂枝<small class="雙行小字">二分，去皮</small></p>
<p>右五味，為末，白飲服方寸匕，日三服，多飲暖水，汗出愈。</p>
</span>
<h3>〔附方〕</h3>
<span class="方">
<p><b>《外臺》茯苓飲：</b>治心胸中有停痰宿水，自吐出水後，心胸間虛，氣滿，不能食，消痰氣，令能食。</p>
<p>茯苓　人參　白朮<small class="雙行小字">各三兩</small>　枳實<small class="雙行小字">二兩</small>　橘皮<small class="雙行小字">二兩半</small>　生薑<small class="雙行小字">四兩</small></p>
<p>右六味，水六升，煮取一升八合，分溫三服，如人行八九里進之。</p>
</span>
<p><span class="編號">32.</span>咳家其脈弦，為有水。十棗湯主之。<span class="註"><small class="雙行小字">方見上。</small></span></p>
<p><span class="編號">33.</span>夫有支飲家，咳煩胸中痛者，不卒死，至一百日或一歲，宜十棗湯。<span class="註"><small class="雙行小字">方見上。</small></span></p>
<p><span class="編號">34.</span>久咳數歲，其脈弱者可治；實大數者死；其脈虛者必苦冒。其人本有支飲在胸中故也。治屬飲家。</p>
<p><span class="編號">35.</span>咳逆倚息不得臥，小青龍湯主之。<span class="註"><small class="雙行小字">方見上。</small></span></p>
<p><span class="編號">36.</span>青龍湯下已，多唾口燥，寸脈沉，尺脈微，手足厥逆，氣從小腹上衝胸咽，手足痹，其面翕熱如醉狀，因復下流陰股，小便難，時復冒者，與茯苓桂枝五味甘草湯，治其氣衝。</p>
<span class="方">
<p><b>桂苓五味甘草湯方：</b></p>
<p>茯苓<small class="雙行小字">四兩</small>　桂枝<small class="雙行小字">四兩，去皮</small>　甘草<small class="雙行小字">三兩，炙</small>　五味子<small class="雙行小字">半升</small></p>
<p>右四味，以水八升，煮取三升，去滓，分溫三服。</p>
</span>
<p><span class="編號">37.</span>衝氣即低，而反更咳、胸滿者，用桂苓五味甘草湯去桂加乾薑、細辛，以治其咳滿。</p>
<span class="方">
<p><b>苓甘五味薑辛湯方：</b></p>
<p>茯苓<small class="雙行小字">四兩</small>　甘草　乾薑　細辛<small class="雙行小字">各三兩</small>　五味子<small class="雙行小字">半升</small></p>
<p>右五味，以水八升，煮取三升去滓，溫服半升，日三服。</p>
</span>
<p><span class="編號">38.</span>咳滿即止，而更復渴，衝氣復發者，以細辛、乾薑為熱藥也，服之當遂渴，而渴反止者，為支飲也。支飲者法當冒，冒者必嘔，嘔者復內半夏以去其水。</p>
<span class="方">
<p><b>桂苓五味甘草去桂加薑辛夏湯方：</b></p>
<p>茯苓<small class="雙行小字">四兩</small>　甘草　細辛　乾薑<small class="雙行小字">各二兩</small>　五味子　半夏<small class="雙行小字">各半升</small></p>
<p>右六味，以水八升，煮取三升，去滓，溫服半升，日三。</p>
</span>
<p><span class="編號">39.</span>水去嘔止，其人形腫者，加杏仁主之。其證應內麻黃，以其人遂痹，故不內之。若逆而內之者，必厥，所以然者，以其人血虛，麻黃發其陽故也。</p>
<span class="方">
<p><b>苓甘五味加薑辛半夏杏仁湯方：</b></p>
<p>茯苓<small class="雙行小字">四兩</small>　甘草<small class="雙行小字">三兩</small>　五味<small class="雙行小字">半升</small>　乾薑<small class="雙行小字">三兩</small>　細辛<small class="雙行小字">三兩</small>　半夏<small class="雙行小字">半升</small>　杏仁<small class="雙行小字">半升，去皮尖</small></p>
<p>右七味，以水一斗，煮取三升，去滓，溫服半升，日三服。</p>
</span>
<p><span class="編號">40.</span>若面熱如醉，此為胃熱上衝熏其面，加大黃以利之。</p>
<span class="方">
<p><b>苓甘五味加薑辛半杏大黃湯方：</b></p>
<p>茯苓<small class="雙行小字">四兩</small>　甘草<small class="雙行小字">三兩</small>　五味<small class="雙行小字">半升</small>　乾薑<small class="雙行小字">三兩</small>　細辛<small class="雙行小字">三兩</small>　半夏<small class="雙行小字">半升</small>　杏仁<small class="雙行小字">半升</small>　大黃<small class="雙行小字">三兩</small></p>
<p>右八味，以水一斗，煮取三升，去滓，溫服半升，日三服。</p>
</span>
<p><span class="編號">41.</span>先渴後嘔，為水停心下，此屬飲家，小半夏茯苓湯主之。<span class="註"><small class="雙行小字">方見上。</small></span></p>
<h2>消渴小便利淋病脈證并治第十三</h2>
<p><span class="編號">1.</span>厥陰之為病，消渴，氣上衝心，心中疼熱，飢而不欲食，食即吐，下之不肯止。</p>
<p><span class="編號">2.</span>寸口脈浮而遲，浮即為虛，遲即為勞；虛則衛氣不足，勞則營氣竭。
趺陽脈浮而數，浮即為氣，數即消穀而大堅一作緊，氣盛則溲數，溲數即堅，堅數相搏，即為消渴。</p>
<p><span class="編號">3.</span>男子消渴，小便反多，以飲一斗，小便一斗，腎氣丸主之。<span class="註"><small class="雙行小字">方見腳氣中。</small></span></p>
<p><span class="編號">4.</span>脈浮，小便不利，微熱消渴者，宜利小便發汗，五苓散主之。<span class="註"><small class="雙行小字">方見上。</small></span></p>
<p><span class="編號">5.</span>渴欲飲水，水入則吐者，名曰水逆，五苓散主之。<span class="註"><small class="雙行小字">方見上。</small></span></p>
<p><span class="編號">6.</span>渴欲飲水不止者，文蛤散主之。</p>
<span class="方">
<p><b>文蛤散方：</b></p>
<p>文蛤<small class="雙行小字">五兩</small></p>
<p>右一味，杵為散，以沸湯五合，和服方寸匕。</p>
</span>
<p><span class="編號">7.</span>淋之為病，小便如粟狀，小腹弦急，痛引臍中。</p>
<p><span class="編號">8.</span>趺陽脈數，胃中有熱，即消穀引食，大便必堅，小便即數。</p>
<p><span class="編號">9.</span>淋家不可發汗，發汗則必便血。</p>
<p><span class="編號">10.</span>小便不利者，有水氣，其人若渴，栝蔞瞿麥丸主之。</p>
<span class="方">
<p><b>栝蔞瞿麥丸方：</b></p>
<p>栝蔞根<small class="雙行小字">二兩</small>　茯苓<small class="雙行小字">三兩</small>　薯蕷<small class="雙行小字">三兩</small>　附子<small class="雙行小字">一枚，炮</small>　瞿麥<small class="雙行小字">一兩</small></p>
<p>右五味，末之，煉蜜丸梧子大，飲服三丸，日三服；不知。增至七八丸，以小便利，腹中溫為知。</p>
</span>
<p><span class="編號">11.</span>小便不利，蒲灰散主之；滑石白魚散，茯苓戎鹽湯并主之。</p>
<span class="方">
<p><b>蒲灰散方：</b></p>
<p>蒲灰<small class="雙行小字">七分</small>　滑石<small class="雙行小字">三分</small></p>
<p>右二味，杵為散，飲服方寸匕，日三服。</p>
</span>
<span class="方">
<p><b>滑石白魚散方：</b></p>
<p>滑石<small class="雙行小字">二分</small>　亂髮<small class="雙行小字">二分〔燒〕</small>　白魚<small class="雙行小字">三分</small></p>
<p>右三味，杵為散，飲服方寸匕，日三服。</p>
</span>
<span class="方">
<p><b>茯苓戎鹽湯方：</b></p>
<p>茯苓<small class="雙行小字">半斤</small>　白朮<small class="雙行小字">二兩</small>　戎鹽彈丸大<small class="雙行小字">一枚</small></p>
<p>右三味</p>
</span>
<p><span class="編號">12.</span>渴欲飲水，口乾舌燥者，白虎加人參湯主之。<span class="註"><small class="雙行小字">方見中暍中。</small></span></p>
<p><span class="編號">13.</span>脈浮發熱，渴欲飲水，小便不利者，猪苓湯主之。</p>
<span class="方">
<p><b>豬苓湯方：</b></p>
<p>豬苓<small class="雙行小字">去皮</small>　茯苓　阿膠　滑石　澤瀉<small class="雙行小字">各一兩</small></p>
<p>右五味，以水四升，先煮四味，取二升，去滓，內膠烊消，溫服七合，日三服。</p>
</span>
<h2>水氣病脈證并治第十四</h2>
<p><span class="編號">1.</span>師曰：病有風水、有皮水、有正水、有石水、有黃汗。風水其脈自浮，外證骨節疼痛，惡風；皮水其脈亦浮，外證胕腫，按之沒指，不惡風，其腹如鼓，不渴，當發其汗。正水其脈沉遲，外證自喘；石水其脈自沉，外證腹滿不喘。黃汗其脈沉遲，身發熱，胸滿，四肢頭面腫，久不愈，必致癰膿。</p>
<p><span class="編號">2.</span>脈浮而洪，浮則為風，洪則為氣，風氣相搏，風強則為癮疹，身體為癢，癢為泄風，久為痂癩；氣強則為水，難以俯仰，風氣相擊，身體洪腫，汗出乃愈，惡風則虛，此為風水；不惡風者，小便通利，上焦有寒，其口多涎，此為黃汗。</p>
<p><span class="編號">3.</span>寸口脈沉滑者，中有水氣，面目腫大，有熱，名曰風水。視人之目窠上微擁，如蠶新臥起狀，其頸脈動，時時咳，按其手足上，陷而不起者，風水。</p>
<p><span class="編號">4.</span>太陽病，脈浮而緊，法當骨節疼痛，反不痛，身體反重而痠，其人不渴，汗出即愈，此為風水。惡寒者，此為極虛發汗得之。
渴而不惡寒者，此為皮水。
身腫而冷，狀如周痹，胸中窒，不能食，反聚痛，暮躁不得眠，此為黃汗。痛在骨節。
咳而喘，不渴者，此為脾脹，其狀如腫，發汗即愈。
然諸病此者，渴而下利，小便數者，皆不可發汗。</p>
<p><span class="編號">5.</span>裏水者，一身面目黃腫，其脈沉，小便不利，故令病水。假如小便自利，此亡津液，故令渴也。越婢加朮湯主之。<span class="註"><small class="雙行小字">方見下。</small></span></p>
<p><span class="編號">6.</span>趺陽脈當伏，今反緊，本自有寒，疝瘕，腹中痛，醫反下之，下之即胸滿短氣。</p>
<p><span class="編號">7.</span>趺陽脈當伏，今反數，本自有熱，消穀，小便數，今反不利，此欲作水。</p>
<p><span class="編號">8.</span>寸口脈浮而遲，浮脈則熱，遲脈則潛，熱潛相搏，名曰沉。趺陽脈浮而數，浮脈即熱，數脈即止，熱止相搏，名曰伏。沉伏相搏，名曰水。沉則脈絡虛，伏則小便難，虛難相搏，水走皮膚，即為水矣。</p>
<p><span class="編號">9.</span>寸口脈弦而緊，弦則衛氣不行，即惡寒，水不沾流，走於腸間。少陰脈緊而沉，緊則為痛，沉則為水，小便即難。</p>
<p><span class="編號">10.</span>脈得諸沉，當責有水，身體腫重，水病脈出者，死。</p>
<p><span class="編號">11.</span>夫水病人，目下有臥蠶，面目鮮澤，脈伏，其人消渴。病水腹大，小便不利，其脈沉絕者，有水，可下之。</p>
<p><span class="編號">12.</span>問曰：病下利後，渴飲水，小便不利，腹滿因腫者，何也？答曰：此法當病水，若小便自利及汗出者，自當愈。</p>
<p><span class="編號">13.</span>心水者，其身重而少氣，不得臥，煩而躁，其人陰腫。</p>
<p><span class="編號">14.</span>肝水者，其腹大，不能自轉側，脅下腹痛，時時津液微生，小便續通。</p>
<p><span class="編號">15.</span>肺水者，其身腫，小便難，時時鴨溏。</p>
<p><span class="編號">16.</span>脾水者，其腹大，四肢苦重，津液不生，但苦少氣，小便難。</p>
<p><span class="編號">17.</span>腎水者，其腹大，臍腫腰痛，不得溺，陰下濕如牛鼻上汗，其足逆冷，面反瘦。</p>
<p><span class="編號">18.</span>師曰：諸有水者，腰以下腫，當利小便；腰以上腫，當發汗乃愈。</p>
<p><span class="編號">19.</span>師曰：寸口脈沉而遲，沉則為水，遲則為寒，寒水相搏。趺陽脈伏，水穀不化，脾氣衰則鶩溏，胃氣衰則身腫。少陽脈卑，少陰脈細，男子則小便不利，婦人則經水不通；經為血，血不利則為水，名曰血分。</p>
<p><span class="編號">20.</span>問曰：病有血分水分，何也？師曰：經水前斷，後病水，名曰血分，此病難治；先病水，後經水斷，名曰水分，此病易治。何以故？去水，其經自下。</p>
<div class="古版"><!--
--><p class="今版"><span class="編號">21.</span>問曰：病者苦水，面目身體四肢皆腫，小便不利，脈之，不言水，反言胸中痛，氣上衝咽，狀如炙肉，當微咳喘，審如師言，其脈何類？</p><hr class="分段"><!--
--><p class="今版">師曰：寸口脈沉而緊，沉為水，緊為寒，沉緊相搏，結在關元，始時尚微，年盛不覺，陽衰之後，營衛相干，陽損陰盛，結寒微動，腎氣上衝，喉咽塞噎，脅下急痛。醫以為留飲而大下之，氣擊不去，其病不除。後重吐之，胃家虛煩，咽燥欲飲水，小便不利，水穀不化，面目手足浮腫。又與葶藶丸下水，當時如小差，食飲過度，腫復如前，胸脅苦痛，象若奔豚，其水揚溢，則浮咳喘逆。當先攻擊衝氣，令止，乃治咳；咳止，其喘自差。先治新病，病當在後。</p><!--
--></div>
<p><span class="編號">22.</span>風水，脈浮身重，汗出惡風者，防己黃耆湯主之。腹痛加芍藥。</p>
<p><span class="編號">23.</span>風水惡風，一身悉腫，脈浮不渴，續自汗出，無大熱，越婢湯主之。</p>
<span class="方">
<p><b>越婢湯方：</b></p>
<p>麻黃<small class="雙行小字">六兩</small>　石膏<small class="雙行小字">半斤</small>　生薑<small class="雙行小字">三兩</small>　甘草<small class="雙行小字">二兩</small>　大棗<small class="雙行小字">十五枚</small></p>
<p>右五味，以水六升，先煮麻黃，去上沫，內諸藥，煮取三升，分溫三服。惡風者加附子一枚炮。風水加朮四兩。</p>
</span>
<p><span class="編號">24.</span>皮水為病，四肢腫，水氣在皮膚中，四肢聶聶動者，防己茯苓湯主之。</p>
<span class="方">
<p><b>防己茯苓湯方：</b></p>
<p>防己<small class="雙行小字">三兩</small>　黃耆<small class="雙行小字">三兩</small>　桂枝<small class="雙行小字">三兩</small>　茯苓<small class="雙行小字">六兩</small>　甘草<small class="雙行小字">二兩</small></p>
<p>右五味，以水六升，煮取二升，分溫三服。</p>
</span>
<p><span class="編號">25.</span>裏水，越婢加朮湯主之；甘草麻黃湯亦主之。</p>
<span class="方">
<p><b>越婢加朮湯方：</b>方見上。於內加白朮四兩。又見腳氣中。</p>
</span>
<span class="方">
<p><b>甘草麻黃湯方：</b></p>
<p>甘草<small class="雙行小字">二兩</small>　麻黃<small class="雙行小字">四兩</small></p>
<p>右二味，以水五升，先煮麻黃，去上沫，內甘草，煮取三升，溫服一升，重覆汗出，不汗，再服。慎風寒。</p>
</span>
<p><span class="編號">26.</span>水之為病，其脈沉小，屬少陰；浮者為風，無水虛脹者，為氣。水，發其汗即已。脈沉者宜麻黃附子湯；浮者宜杏子湯。</p>
<span class="方">
<p><b>麻黃附子湯方：</b></p>
<p>麻黃<small class="雙行小字">三兩</small>　甘草<small class="雙行小字">二兩</small>　附子<small class="雙行小字">一枚，炮</small></p>
<p>右三味，以水七升，先煮麻黃，去上沫，內諸藥，煮取二升半，溫服八分，日三服。</p>
</span>
<span class="方">
<p><b>杏子湯方：</b><span class="註"><small class="雙行小字">未見，恐是麻黃杏仁甘草石膏湯。</small></span></p>
</span>
<p><span class="編號">27.</span>厥而皮水者，蒲灰散主之。<span class="註"><small class="雙行小字">方見消渴中。</small></span></p>
<p><span class="編號">28.</span>問曰：黃汗之為病，身體腫<span class="註"><small class="雙行小字">一作重</small></span>。發熱汗出而渴，狀如風水，汗沾衣，色正黃如柏汁，脈自沉，何從得之？師曰：以汗出入水中浴，水從汗孔入得之，宜耆芍桂酒湯主之。</p>
<span class="方">
<p><b>黃耆芍藥桂枝苦酒湯方：</b></p>
<p>黃耆<small class="雙行小字">五兩</small>　芍藥<small class="雙行小字">三兩</small>　桂枝<small class="雙行小字">三兩</small></p>
<p>右三味，以苦酒一升，水七升，相和，煮取三升，溫服一升，當心煩，服至六七日乃解。若心煩不止者，以苦酒阻故也。<span class="註"><small class="雙行小字">一方用美酒醯代苦酒。</small></span></p>
</span>
<div class="古版"><!--
--><p class="今版"><span class="編號">29.</span>黃汗之病，兩脛自冷；假令發熱，此屬歷節。食已汗出，又身常暮盜汗出者，此勞氣也。若汗出已反發熱者，久久其身必甲錯；發熱不止者，必生惡瘡。</p><hr class="分段"><!--
--><p class="今版">若身重，汗出已輒輕者，久久必身瞤，瞤即胸中痛，又從腰以上必汗出，下無汗，腰髖弛痛，如有物在皮中狀，劇者不能食，身疼重，煩躁，小便不利，此為黃汗，桂枝加黃耆湯主之。</p><!--
--></div>
<span class="方">
<p><b>桂枝加黃耆湯方：</b></p>
<p>桂枝<small class="雙行小字">三兩</small>　芍藥<small class="雙行小字">三兩</small>　生薑<small class="雙行小字">三兩</small>　大棗<small class="雙行小字">十二枚</small>　甘草　黃耆<small class="雙行小字">各二兩</small></p>
<p>右六味，以水八升，煮取三升，溫服一升，須臾飲熱稀粥一升餘，以助藥力，溫服取微汗；若不汗，更服。</p>
</span>
<p><span class="編號">30.</span>師曰：寸口脈遲而澀，遲則為寒，澀為血不足。趺陽脈微而遲，微則為氣，遲則為寒。寒氣不足，則手足逆冷；手足逆冷，則營衛不利；營衛不利，則腹滿脅鳴相逐；氣轉膀胱，營衛俱勞，陽氣不通即身冷，陰氣不通即骨疼；陽前通則惡寒，陰前通則痹不仁；陰陽相得，其氣乃行，大氣一轉，其氣乃散；實則失氣，虛則遺尿，名曰氣分。</p>
<p><span class="編號">31.</span>氣分，心下堅，大如盤，邊如旋杯，水飲所作，桂枝去芍藥加麻辛附子湯主之。</p>
<span class="方">
<p><b>桂枝去芍藥加麻黃細辛附子湯方：</b></p>
<p>桂枝<small class="雙行小字">三兩</small>　生薑<small class="雙行小字">三兩</small>　甘草<small class="雙行小字">二兩</small>　大棗<small class="雙行小字">十二枚</small>　麻黃<small class="雙行小字">二兩</small>　細辛<small class="雙行小字">二兩</small>　附子<small class="雙行小字">一枚，炮</small></p>
<p>右七味，以水七升，煮麻黃，去上沫，內諸藥，煮取二升，分溫三服，當汗出，如蟲行皮中，即愈。</p>
</span>
<p><span class="編號">32.</span>心下堅，大如盤，邊如旋盤，水飲所作，枳朮湯主之。</p>
<span class="方">
<p><b>枳朮湯方：</b></p>
<p>枳實<small class="雙行小字">七枚</small>　白朮<small class="雙行小字">二兩</small></p>
<p>右二味，以水五升，煮取三升，分溫三服，腹中軟即當散也。</p>
</span>
<h3>〔附方〕</h3>
<span class="方">
<p><b>《外臺》防己黃耆湯：</b>治風水，脈浮為在表，其人或頭汗，表無他病，病者但下重，從腰以上為和，腰以下當腫及陰，難以屈伸。<span class="註"><small class="雙行小字">方見風濕中。</small></span></p>
</span>
<h2>黃疸病脈證并治第十五</h2>
<p><span class="編號">1.</span>寸口脈浮而緩，浮則為風，緩則為痹。痹非中風。四肢苦煩、脾色必黃，瘀熱以行。</p>
<div class="古版"><!--
--><p class="今版"><span class="編號">2.</span>趺陽脈緊而數，數則為熱，熱則消穀，緊則為寒，食即為滿。尺脈浮為傷腎，趺陽脈緊為傷脾。風寒相搏，食穀即眩，穀氣不消，胃中苦濁，濁氣下流，小便不通，陰被其寒，熱流膀胱，身體盡黃，名曰穀疸。</p><hr class="分段"><!--
--><p class="今版">額上黑，微汗出，手足中熱，薄暮即發，膀胱急，小便自利，名曰女勞疸；腹如水狀不治。</p><hr class="分段"><!--
--><p class="今版">心中懊憹而熱，不能食，時欲吐，名曰酒疸。</p><!--
--></div>
<p><span class="編號">3.</span>陽明病，脈遲者，食難用飽，飽則發煩頭眩，小便必難。此欲作穀疸。雖下之，腹滿如故，所以然者，脈遲故也。</p>
<p><span class="編號">4.</span>夫病酒黃疸，必小便不利，其候心中熱，足下熱，是其證也。</p>
<p><span class="編號">5.</span>酒黃疸者，或無熱，靖言了了，腹滿欲吐，鼻燥；其脈浮者先吐之，沉弦者先下之。</p>
<p><span class="編號">6.</span>酒疸，心中熱，欲嘔者，吐之愈。</p>
<p><span class="編號">7.</span>酒疸下之，久久為黑疸，目青面黑，心中如噉蒜虀狀，大便正黑，皮膚爪之不仁，其脈浮弱，雖黑微黃，故知之。</p>
<p><span class="編號">8.</span>師曰：病黃疸，發熱煩喘，胸滿口燥者，以病發時火劫其汗，兩熱所得。然黃家所得，從濕得之。一身盡發熱而黃，肚熱，熱在裏，當下之。</p>
<p><span class="編號">9.</span>脈沉，渴欲飲水，小便不利者，皆發黃。</p>
<p><span class="編號">10.</span>腹滿，舌痿黃，燥不得睡，屬黃家。<span class="註"><small class="雙行小字">舌痿疑作身痿。</small></span></p>
<p><span class="編號">11.</span>黃疸之病，當以十八日為期，治之十日以上瘥，反劇為難治。</p>
<p><span class="編號">12.</span>疸而渴者，其疸難治；疸而不渴者，其疸可治。發於陰部，其人必嘔；陽部，其人振寒而發熱也。</p>
<p><span class="編號">13.</span>穀疸之為病，寒熱不食，食即頭眩，心胸不安，久久發黃為穀疸，茵陳蒿湯主之。</p>
<span class="方">
<p><b>茵陳蒿湯方：</b></p>
<p>茵陳蒿<small class="雙行小字">六兩</small>　梔子<small class="雙行小字">十四枚</small>　大黃<small class="雙行小字">二兩</small></p>
<p>右三味，以水一斗，先煮茵陳，減六升，內二味，煮取三升，去滓，分溫三服。小便當利，尿如皂角汁狀，色正赤，一宿腹減，黃從小便去也。</p>
</span>
<p><span class="編號">14.</span>黃家日晡所發熱，而反惡寒，此為女勞得之；膀胱急，少腹滿、身盡黃，額上黑，足下熱，因作黑疸，其腹脹如水狀，大便必黑，時溏，此女勞之病，非水也。腹滿者難治。硝石礬石散主之。</p>
<span class="方">
<p><b>硝石礬石散方：</b></p>
<p>硝石　礬石<small class="雙行小字">，燒等分</small></p>
<p>右二味為散，以大麥粥汁和服方寸匕，日三服。病隨大小便去、小便正黃，大便正黑，是候也。</p>
</span>
<p><span class="編號">15.</span>酒黃疸，心中懊憹或熱痛，梔子大黃湯主之。</p>
<span class="方">
<p><b>梔子大黃湯方：</b></p>
<p>梔子<small class="雙行小字">十四枚</small>　大黃<small class="雙行小字">一兩</small>　枳實<small class="雙行小字">五枚</small>　豉<small class="雙行小字">一升</small></p>
<p>右四味，以水六升，煮取二升，分溫三服。</p>
</span>
<p><span class="編號">16.</span>諸病黃家，但利其小便；假令脈浮，當以汗解之，宜桂枝加黃耆湯主之。<span class="註"><small class="雙行小字">方見水氣病中。</small></span></p>
<p><span class="編號">17.</span>諸黃，豬膏髮煎主之。</p>
<span class="方">
<p><b>豬膏髮煎方：</b></p>
<p>豬膏<small class="雙行小字">半斤</small>　亂髮<small class="雙行小字">如雞子大三枚</small></p>
<p>右二味，和膏中煎之，髮消藥成，分再服。病從小便出。</p>
</span>
<p><span class="編號">18.</span>黃疸病，茵陳五苓散主之。<span class="註"><small class="雙行小字">一本云茵陳湯及五苓散并主之。</small></span></p>
<span class="方">
<p><b>茵陳五苓散方：</b></p>
<p>茵陳蒿末<small class="雙行小字">十分</small>　五苓散<small class="雙行小字">五分</small><span class="註"><small class="雙行小字">方見痰飲中。</small></span></p>
<p>上二物和，先食飲方寸匕，日三服。</p>
</span>
<p><span class="編號">19.</span>黃疸腹滿，小便不利而赤，自汗出，此為表和裏實，當下之，宜大黃硝石湯。</p>
<span class="方">
<p><b>大黃硝石湯方：</b></p>
<p>大黃　黃柏　硝石<small class="雙行小字">各四兩</small>　梔子<small class="雙行小字">十五枚</small></p>
<p>右四味，以水六升，煮取二升，去滓，內硝，更煮取一升，頓服。</p>
</span>
<p><span class="編號">20.</span>黃疸病，小便色不變，欲自利，腹滿而喘，不可除熱，熱除必噦。噦者，小半夏湯主之。<span class="註"><small class="雙行小字">方見痰飲中。</small></span></p>
<p><span class="編號">21.</span>諸黃，腹痛而嘔者，宜柴胡湯。<span class="註"><small class="雙行小字">必小柴胡湯，方見嘔吐中。</small></span></p>
<p><span class="編號">22.</span>男子黃，小便自利，當與虛勞小建中湯。<span class="註"><small class="雙行小字">方見虛勞中。</small></span></p>
<h3>〔附方〕</h3>
<span class="方">
<p><b>瓜蒂湯：</b>治諸黃。<span class="註"><small class="雙行小字">方見暍病中。</small></span></p>
</span>
<span class="方">
<p><b>《千金》麻黃醇酒湯：</b>治黃疸。</p>
<p>麻黃<small class="雙行小字">三兩</small></p>
<p>右一味，以美清酒五升，煮去二升半，頓服盡。冬月用酒，春月用水煮之。</p>
</span>
<h2>驚悸吐衄下血胸滿瘀血病脈證治第十六</h2>
<p><span class="編號">1.</span>寸口脈動而弱，動即為驚，弱則為悸。</p>
<p><span class="編號">2.</span>師曰：夫脈浮，目睛暈黃，衄未止。暈黃去，目睛慧了，知衄今止。</p>
<p><span class="編號">3.</span>又曰：從春至夏衄者太陽，從秋至冬衄者陽明。</p>
<p><span class="編號">4.</span>衄家不可汗，汗出必額上陷，脈緊急，直視不能眴，不得眠。</p>
<p><span class="編號">5.</span>病人面無色，無寒熱。脈沉弦者，衄；浮弱，手按之絕者，下血；煩咳者，必吐血。</p>
<p><span class="編號">6.</span>夫吐血，咳逆上氣，其脈數而有熱，不得臥者，死。</p>
<p><span class="編號">7.</span>夫酒客咳者，必致吐血，此因極飲過度所致也。</p>
<p><span class="編號">8.</span>寸口脈弦而大，弦則為減，大則為芤，減則為寒，芤則為虛，寒虛相擊，此名曰革，婦人則半產漏下，男子則亡血。</p>
<p><span class="編號">9.</span>亡血不可發其表，汗出即寒慄而振。</p>
<p><span class="編號">10.</span>病人胸滿，唇痿舌青，口燥，但欲漱水不欲嚥，無寒熱，脈微大來遲，腹不滿，其人言我滿，為有瘀血。</p>
<p><span class="編號">11.</span>病者如熱狀，煩滿，口乾燥而渴，其脈反無熱，此為陰伏，是瘀血也，當下之。</p>
<p><span class="編號">12.</span>火邪者，桂枝去芍藥加蜀漆牡蠣龍骨救逆湯主之。</p>
<span class="方">
<p><b>桂枝救逆湯方：</b></p>
<p>桂枝<small class="雙行小字">三兩，去皮</small>　甘草<small class="雙行小字">二兩，炙</small>　生薑<small class="雙行小字">三兩</small>　牡蠣<small class="雙行小字">五兩，熬</small>　龍骨<small class="雙行小字">四兩</small>　大棗<small class="雙行小字">十二枚</small>　蜀漆<small class="雙行小字">三兩，洗去腥</small></p>
<p>上為末，以水一斗二升，先煮蜀漆，減二升，內諸藥，煮取三升，去滓，溫服一升。</p>
</span>
<p><span class="編號">13.</span>心下悸者，半夏麻黃丸主之。</p>
<span class="方">
<p><b>半夏麻黃丸方：</b></p>
<p>半夏　麻黃<small class="雙行小字">等分</small></p>
<p>右二味，末之，煉蜜和丸小豆大，飲服三丸，日三服。</p>
</span>
<p><span class="編號">14.</span>吐血不止者，柏葉湯主之。</p>
<span class="方">
<p><b>柏葉湯方：</b></p>
<p>柏葉　乾薑<small class="雙行小字">各三兩</small>　艾<small class="雙行小字">三把</small></p>
<p>右三味，以水五升，取馬通汁一升，合煮，取一升，分溫再服。</p>
</span>
<p><span class="編號">15.</span>下血，先便後血，此遠血也，黃土湯主之。</p>
<span class="方">
<p><b>黃土湯方：</b>亦主吐血衄血。</p>
<p>甘草　乾地黃　白朮　附子<small class="雙行小字">，炮</small>　阿膠　黃芩<small class="雙行小字">各三兩</small>　灶中黃土<small class="雙行小字">半斤</small></p>
<p>右七味，以水八升，煮取三升，分溫二服。</p>
</span>
<p><span class="編號">16.</span>下血，先血後便，此近血也，赤小豆當歸散主之。<span class="註"><small class="雙行小字">方見狐惑中。</small></span></p>
<p><span class="編號">17.</span>心氣不足，吐血、衄血，瀉心湯主之。</p>
<span class="方">
<p><b>瀉心湯方：</b><span class="註"><small class="雙行小字">亦治霍亂。</small></span></p>
<p>大黃<small class="雙行小字">二兩</small>　黃連　黃芩<small class="雙行小字">各一兩</small></p>
<p>右三味，以水三升，煮取一升，頓服之。</p>
</span>
<h2>嘔吐噦下利病脈證治第十七</h2>
<p><span class="編號">1.</span>夫嘔家有癰膿，不可治嘔，膿盡自愈。</p>
<div class="古版"><!--
--><p class="今版"><span class="編號">2.</span>先嘔卻渴者，此為欲解。先渴卻嘔者，為水停心下，此屬飲家。</p><hr class="分段"><!--
--><p class="今版">嘔家本渴，今反不渴者，以心下有支飲故也，此屬支飲。</p><!--
--></div>
<div class="古版"><!--
--><p class="今版"><span class="編號">3.</span>病人脈數，數為熱，當消穀引食，而反吐者，何也？師曰：以發其汗，令陽微，膈氣虛，脈乃數，數為客熱，不能消穀，胃中虛冷故也。</p><hr class="分段"><!--
--><p class="今版">脈弦者，虛也，胃氣無餘，朝食暮吐，變為胃反。寒在於上，醫反下之，今脈反弦，故名曰虛。</p><!--
--></div>
<p><span class="編號">4.</span>寸口脈微而數，微則無氣，無氣則營虛，營虛則血不足，血不足則胸中冷。</p>
<p><span class="編號">5.</span>趺陽脈浮而澀、浮則為虛，澀則傷脾，脾傷則不磨，朝食暮吐，暮食朝吐，宿穀不化，名曰胃反。脈緊而澀、其病難治。</p>
<p><span class="編號">6.</span>病人欲吐者，不可下之。</p>
<p><span class="編號">7.</span>噦而腹滿，視其前後，知何部不利，利之即愈。</p>
<p><span class="編號">8.</span>嘔而胸滿者，茱萸湯主之。</p>
<span class="方">
<p><b>茱萸湯方：</b></p>
<p>吳茱萸<small class="雙行小字">一升，人參三兩</small>　生薑<small class="雙行小字">六兩</small>　大棗<small class="雙行小字">十二枚。</small></p>
<p>右四味，以水五升，煮取三升，溫服七合，日三服。</p>
</span>
<p><span class="編號">9.</span>乾嘔，吐涎沫，頭痛者，茱萸湯主之。<span class="註"><small class="雙行小字">方見上。</small></span></p>
<p><span class="編號">10.</span>嘔而腸鳴，心下痞者，半夏瀉心湯主之。</p>
<span class="方">
<p>半夏瀉心湯：</p>
<p>半夏<small class="雙行小字">半升，洗</small>　黃芩<small class="雙行小字">三兩</small>　乾薑<small class="雙行小字">三兩</small>　人參<small class="雙行小字">三兩</small>　黃連<small class="雙行小字">一兩</small>　大棗<small class="雙行小字">十二枚</small>　甘草<small class="雙行小字">三兩，炙</small></p>
<p>右七味，以水一斗，煮取六升，去滓，再取三升，溫服一升，日三服。</p>
</span>
<p><span class="編號">11.</span>乾嘔而利者，黃芩加半夏生薑湯主之。</p>
<span class="方">
<p><b>黃芩加半夏生薑湯方：</b></p>
<p>黃芩<small class="雙行小字">三兩</small>　甘草<small class="雙行小字">二兩，炙</small>　芍藥<small class="雙行小字">二兩</small>　半夏<small class="雙行小字">半升，</small>　生薑<small class="雙行小字">三兩</small>　大棗<small class="雙行小字">十二枚</small></p>
<p>右六味，以水一斗，煮取三升，去滓、溫服一升，日再夜一服。</p>
</span>
<p><span class="編號">12.</span>諸嘔吐，穀不得下者，小半夏湯主之。<span class="註"><small class="雙行小字">方見痰飲中。</small></span></p>
<p><span class="編號">13.</span>嘔吐而病在膈上，後思水者，解，急與之。思水者，猪苓散主之。</p>
<span class="方">
<p><b>豬苓散方：</b></p>
<p>豬苓　茯苓　白朮各等分</p>
<p>右三味，杵為散，飲服方寸匕，日三服。</p>
</span>
<p><span class="編號">14.</span>嘔而脈弱，小便復利，身有微熱，見厥者，難治，四逆湯主之。</p>
<span class="方">
<p><b>四逆湯方：</b></p>
<p>附子<small class="雙行小字">生用，一枚</small>　乾薑<small class="雙行小字">一兩半</small>　甘草<small class="雙行小字">二兩，炙</small></p>
<p>右三味，以水三升，煮取一升二合，去滓，分溫再服。強人可大附子一枚，乾薑三兩。</p>
</span>
<p><span class="編號">15.</span>嘔而發熱者，小柴胡湯主之。</p>
<span class="方">
<p><b>小柴胡湯方：</b></p>
<p>柴胡<small class="雙行小字">半斤</small>　黃芩<small class="雙行小字">三兩</small>　人參<small class="雙行小字">三兩</small>　甘草<small class="雙行小字">三兩</small>　半夏<small class="雙行小字">半斤</small>　生薑<small class="雙行小字">三兩</small>　大棗<small class="雙行小字">十二枚</small></p>
<p>右七味，以水一斗二升，煮取六升，去滓，再煎取三升，溫服一升，日三服。</p>
</span>
<p><span class="編號">16.</span>胃反嘔吐者，大半夏湯主之。<span class="註"><small class="雙行小字">《千金》云：治胃反不受食，食入即吐。《外臺》云：治嘔，心下痞硬者。</small></span></p>
<span class="方">
<p><b>大半夏湯方：</b></p>
<p>半夏<small class="雙行小字">二升，洗完用</small>　人參<small class="雙行小字">三兩</small>　白蜜<small class="雙行小字">一升</small></p>
<p>右三味，以水一斗二升、和蜜揚之二百四十遍，煮取二升半，溫服一升，餘分再服。</p>
</span>
<p><span class="編號">17.</span>食已即吐者，大黃甘草湯主之。<span class="註"><small class="雙行小字">《外臺》方，又治吐水。</small></span></p>
<span class="方">
<p><b>大黃甘草湯方：</b></p>
<p>大黃<small class="雙行小字">四兩</small>　甘草<small class="雙行小字">一兩</small></p>
<p>右二味，以水三升，煮取一升，分溫再服。</p>
</span>
<p><span class="編號">18.</span>胃反，吐而渴欲飲水者，茯苓澤瀉湯主之。</p>
<span class="方">
<p><b>茯苓澤瀉湯方：</b><span class="註"><small class="雙行小字">《外臺》云：治消渴脈絕，胃反吐食之，有小麥一升。</small></span></p>
<p>茯苓<small class="雙行小字">半斤</small>　澤瀉<small class="雙行小字">四兩</small>　甘草<small class="雙行小字">二兩</small>　桂枝<small class="雙行小字">二兩</small>　白朮<small class="雙行小字">三兩</small>　生薑<small class="雙行小字">四兩</small></p>
<p>右六味，以水一斗，煮取三升，內澤瀉、再煮取二升半，溫服八合，日三服。</p>
</span>
<p><span class="編號">19.</span>吐後、渴欲得水而貪飲者，文蛤湯主之。兼主微風、脈緊、頭痛。</p>
<span class="方">
<p><b>文蛤湯方：</b></p>
<p>文蛤<small class="雙行小字">五兩</small>　麻黃<small class="雙行小字">三兩</small>　甘草<small class="雙行小字">三兩</small>　生薑<small class="雙行小字">三兩</small>　石膏<small class="雙行小字">五兩</small>　杏仁<small class="雙行小字">五十枚</small>　大棗<small class="雙行小字">十二枚</small></p>
<p>右七味，以水六升，煮取二升，溫服一升，汗出即愈。</p>
</span>
<p><span class="編號">20.</span>乾嘔，吐逆，吐涎沫，半夏乾薑散主之。</p>
<span class="方">
<p><b>半夏乾薑散方：</b></p>
<p>半夏　乾薑<small class="雙行小字">等分</small></p>
<p>右二味，杵為散，取方寸匕，漿水一升半，煎取七合，頓服之。</p>
</span>
<p><span class="編號">21.</span>病人胸中似喘不喘，似嘔不嘔，似噦不噦，徹心中憒憒然無奈者，生薑半夏湯主之。</p>
<span class="方">
<p><b>生薑半夏湯方：</b></p>
<p>半夏<small class="雙行小字">半升</small>　生薑汁<small class="雙行小字">一升</small></p>
<p>右二味，以水三升，煮半夏取二升，內生薑汁，煮取一升半，小冷，分四服，日三夜一服，嘔止、停後服。</p>
</span>
<p><span class="編號">22.</span>乾嘔、噦，若手足厥者，橘皮湯主之。</p>
<span class="方">
<p><b>橘皮湯方：</b></p>
<p>橘皮<small class="雙行小字">四兩</small>　生薑<small class="雙行小字">半斤</small></p>
<p>右二味，以水七升，煮取三升，溫服一升，下咽即愈。</p>
</span>
<p><span class="編號">23.</span>噦逆者，橘皮竹茹湯主之。</p>
<span class="方">
<p><b>橘皮竹茹湯方：</b></p>
<p>橘皮二升，竹茹二升，大棗三十枚，人參一兩，生薑半斤，甘草五兩。</p>
<p>右六味，以水一斗，煮取三升、溫服一升，日三服。</p>
</span>
<p><span class="編號">24.</span>夫六腑氣絕於外者，手足寒、上氣、腳縮；五臟氣絕於內者，利不禁，下甚者，手足不仁。</p>
<p><span class="編號">25.</span>下利脈沉弦者、下重；脈大者、為未止；脈微弱數者、為欲自止，雖發熱不死。</p>
<p><span class="編號">26.</span>下利，手足厥冷，無脈者，灸之不溫。若脈不還，反微喘者、死。少陰負趺陽者，為順也。</p>
<p><span class="編號">27.</span>下利有微熱而渴、脈弱者，今自愈。</p>
<p><span class="編號">28.</span>下利脈數、有微熱汗出、今自愈；設脈緊為未解。</p>
<p><span class="編號">29.</span>下利脈數而渴者，今自愈；設不差，必圊膿血，以有熱故也。</p>
<p><span class="編號">30.</span>下利脈反弦，發熱身汗者，自愈。</p>
<p><span class="編號">31.</span>下利氣者，當利其小便。</p>
<p><span class="編號">32.</span>下利、寸脈反浮數，尺中自澀者、必圊膿血。</p>
<p><span class="編號">33.</span>下利清穀，不可攻其表，汗出必脹滿。</p>
<p><span class="編號">34.</span>下利，脈沉而遲，其人面少赤，身有微熱，下利清穀者，必鬱冒，汗出而解，病人必微熱。所以然者，其面戴陽，下虛故也。</p>
<p><span class="編號">35.</span>下利後脈絕，手足厥冷，晬時脈還，手足溫者生，脈不還者死。</p>
<p><span class="編號">36.</span>下利腹脹滿，身體疼痛者，先溫其裏，乃攻其表。溫裏宜四逆湯，攻表宜桂枝湯。</p>
<span class="方">
<p><b>四逆湯方：</b><span class="註"><small class="雙行小字">方見上。</small></span></p>
</span>
<span class="方">
<p><b>桂枝湯方：</b></p>
<p>桂枝<small class="雙行小字">三兩，去皮</small>　芍藥<small class="雙行小字">三兩</small>　甘草<small class="雙行小字">二兩，炙</small>　生薑<small class="雙行小字">三兩</small>　大棗<small class="雙行小字">十二枚</small></p>
<p>右五味，㕮咀，以水七升，微火煮取三升，去滓，適寒溫服一升，服已須臾，啜稀粥一升，以助藥力，溫覆令一時許，遍身漐漐微似有汗者、益佳，不可令如水淋漓，若一服汗出病瘥，停後服。</p>
</span>
<p><span class="編號">37.</span>下利，三部脈皆平，按之心下堅者，急下之，宜大承氣湯。</p>
<p><span class="編號">38.</span>下利脈遲而滑者、實也、利未欲止，急下之，宜大承氣湯。</p>
<p><span class="編號">39.</span>下利脈反滑者，當有所去，下乃愈，宜大承氣湯。</p>
<p><span class="編號">40.</span>下利已差，至其年月日時復發者，以病不盡故也。當下之，宜大承氣湯。</p>
<p><span class="編號">41.</span>下利譫語者，有燥屎也，小承氣湯主之。</p>
<span class="方">
<p><b>小承氣湯方：</b></p>
<p>大黃<small class="雙行小字">四兩</small>　厚朴<small class="雙行小字">二兩，炙</small>　枳實大者<small class="雙行小字">三枚，炙</small></p>
<p>右三味，以水四升，煮取一升二合，去滓，分溫二服，得利則止。</p>
</span>
<p><span class="編號">42.</span>下利便膿血者、桃花湯主之。</p>
<span class="方">
<p><b>桃花湯方：</b></p>
<p>赤石脂<small class="雙行小字">一升，一半挫，一半篩末</small>　乾薑<small class="雙行小字">一兩</small>　粳米<small class="雙行小字">一升</small></p>
<p>右三味，以水七升，煮令米熟，去滓，溫服七合，內赤石脂末方寸匕，日三服。若一服愈，餘勿服。</p>
</span>
<p><span class="編號">43.</span>熱利下重者，白頭翁湯主之。</p>
<span class="方">
<p><b>白頭翁湯方：</b></p>
<p>白頭翁<small class="雙行小字">二兩</small>　黃連<small class="雙行小字">三兩，黃柏三兩</small>　秦皮<small class="雙行小字">三兩</small></p>
<p>右四味，以水七升，煮取二升、去滓、溫服一升、不愈，更服。</p>
</span>
<p><span class="編號">44.</span>下利後更煩，按之心下濡者，為虛煩也，梔子豉湯主之。</p>
<span class="方">
<p><b>梔子豉湯方：</b></p>
<p>梔子<small class="雙行小字">十四枚</small>　香豉<small class="雙行小字">四合，綿裹</small></p>
<p>右二味，以水四升，先煮梔子得二升半、內豉，煮取一升半、去滓、分二服，溫進一服，得吐則止。</p>
</span>
<p><span class="編號">45.</span>下利清穀，裏寒外熱，汗出而厥者，通脈四逆湯主之。</p>
<span class="方">
<p><b>通脈四逆湯方：</b></p>
<p>用大附子<small class="雙行小字">一枚，生用</small>　乾薑<small class="雙行小字">三兩，強人可四兩</small>　甘草<small class="雙行小字">二兩，炙</small></p>
<p>右三味，以水三升、煮取一升二合，去滓，分溫再服。</p>
</span>
<p><span class="編號">46.</span>下利肺痛，紫參湯主之。</p>
<span class="方">
<p><b>紫參湯方：</b></p>
<p>紫參<small class="雙行小字">半斤</small>　甘草<small class="雙行小字">三兩</small></p>
<p>右二味，以水五升，先煮紫參，取二升，內甘草，煮取一升半，分溫三服。<span class="註"><small class="雙行小字">疑非仲景方。</small></span></p>
</span>
<p><span class="編號">47.</span>氣利，訶黎勒散主之。</p>
<span class="方">
<p><b>訶黎勒散方：</b></p>
<p>訶黎勒<small class="雙行小字">十枚，煨</small></p>
<p>右一味，為散，粥飲和，頓服。疑非仲景方。</p>
</span>
<h3>〔附方〕</h3>
<span class="方">
<p><b>《千金翼》小承氣湯：</b>治大便不通，噦數譫語。<span class="註"><small class="雙行小字">方見上。</small></span></p>
</span>
<span class="方">
<p><b>《外臺》黃芩湯：</b>治乾嘔下利。</p>
<p>黃芩<small class="雙行小字">三兩</small>　人參<small class="雙行小字">三兩乾薑三兩</small>　桂枝<small class="雙行小字">一兩</small>　大棗<small class="雙行小字">十二枚</small>　半夏<small class="雙行小字">半斤</small></p>
<p>右六味，以水七升，煮取三升，溫分三服。</p>
</span>
<h2>瘡癰腸癰浸淫病脈證并治第十八</h2>
<p><span class="編號">1.</span>諸浮數脈，應當發熱，而反洒淅惡寒，若有痛處，當發其癰。</p>
<p><span class="編號">2.</span>師曰：諸癰腫，欲知有膿無膿，以手掩腫上，熱者為有膿，不熱者為無膿。</p>
<p><span class="編號">3.</span>腸癰之為病，其身甲錯，腹皮急，按之濡，如腫狀，腹無積聚，身無熱，脈數，此為腸內有癰膿，薏苡附子敗醬散主之。</p>
<span class="方">
<p><b>薏苡附子敗醬散方：</b></p>
<p>薏苡仁<small class="雙行小字">十分</small>　附子<small class="雙行小字">二分</small>　敗醬<small class="雙行小字">五分</small></p>
<p>右三味，杵為末，取方寸匕，以水二升，煎減半，頓服，小便當下。</p>
</span>
<p><span class="編號">4.</span>腸癰者，少腹腫痞，按之即痛如淋，小便自調，時時發熱，自汗出，復惡寒。其脈遲緊者，膿未成，可下之，當有血。脈洪數者，膿已成，不可下也，大黃牡丹湯主之。</p>
<span class="方">
<p><b>大黃牡丹湯方：</b></p>
<p>大黃<small class="雙行小字">四兩</small>　牡丹<small class="雙行小字">一兩</small>　桃仁<small class="雙行小字">五十枚</small>　瓜子<small class="雙行小字">半升</small>　芒硝<small class="雙行小字">三合</small></p>
<p>右五味，以水六升，煮取一升，去滓，內芒硝，再煎沸，頓服之，有膿當下，如無膿，當下血。</p>
</span>
<p><span class="編號">5.</span>問曰：寸口脈浮微而澀，法當亡血，若汗出，設不汗者云何？答曰：若身有瘡，被刀斧所傷，亡血故也。</p>
<p><span class="編號">6.</span>病金瘡，王不留行散主之。</p>
<span class="方">
<p><b>王不留行散方：</b></p>
<p>王不留行<small class="雙行小字">十分，八月八日採</small>　蒴藋細葉<small class="雙行小字">十分，七月七日採</small>　桑東南根白皮<small class="雙行小字">十分，三月三日採</small>　甘草<small class="雙行小字">十八分</small>　川椒<small class="雙行小字">三分，除目及閉口，去汗黃芩二分</small>　乾薑<small class="雙行小字">二分</small>　厚朴<small class="雙行小字">二分</small>　芍藥<small class="雙行小字">二分</small></p>
<p>右九味，桑根皮以右三味燒灰存性，勿令灰過，各別杵篩，合治之為散，服方寸匕。小瘡即粉之，大瘡但服之，產後亦可服。如風寒，桑東根勿取之；前三物，皆陰乾百日。</p>
</span>
<span class="方">
<p><b>排膿散方：</b></p>
<p>枳實<small class="雙行小字">十六枚</small>　芍藥<small class="雙行小字">六分</small>　桔梗<small class="雙行小字">二分</small></p>
<p>右三味，杵為散，取雞子黃一枚，以藥散與雞黃相等，揉和令相得，飲和服之，日一服。</p>
</span>
<span class="方">
<p><b>排膿湯方：</b></p>
<p>甘草<small class="雙行小字">二兩</small>　桔梗<small class="雙行小字">三兩</small>　生薑<small class="雙行小字">一兩</small>　大棗<small class="雙行小字">十枚</small></p>
<p>右四味，以水三升，煮取一升，溫服五合，日再服。</p>
</span>
<p><span class="編號">7.</span>浸淫瘡，從口流向四肢者，可治；從四肢流來入口者，不可治。</p>
<p><span class="編號">8.</span>浸淫瘡，黃連粉主之。<span class="註"><small class="雙行小字">方未見。</small></span></p>
<h2>趺蹶手指臂腫轉筋陰狐疝蚘蟲病脈證治第十九</h2>
<p><span class="編號">1.</span>師曰：病趺蹶，其人但能前，不能卻，刺腨入二寸，此太陽經傷也。</p>
<p><span class="編號">2.</span>病人常以手指臂腫動，此人身體瞤瞤者，藜蘆甘草湯主之。</p>
<span class="方">
<p><b>藜蘆甘草湯方：</b><span class="註"><small class="雙行小字">未見</small></span></p>
</span>
<p><span class="編號">3.</span>轉筋之為病，其人臂腳直，脈上下行，微弦。轉筋入腹者，雞屎白散主之。</p>
<span class="方">
<p><b>雞矢白散方：</b></p>
<p>雞矢白</p>
<p>右一味，為散，取方寸匕，以水六合，和，溫服。</p>
</span>
<p><span class="編號">4.</span>陰狐疝氣者，偏有小大，時時上下，蜘蛛散主之。</p>
<span class="方">
<p><b>蜘蛛散方：</b></p>
<p>蜘蛛<small class="雙行小字">十四枚，熬焦</small>　桂枝<small class="雙行小字">半兩</small></p>
<p>右二味，為散，取八分一匕，飲和服，日再服。蜜丸亦可。</p>
</span>
<p><span class="編號">5.</span>問曰：病腹痛有蟲，其脈何以別之？師曰：腹中痛，其脈當沉，若弦，反洪大，故有蚘蟲。</p>
<p><span class="編號">6.</span>蚘蟲之為病，令人吐涎，心痛，發作有時，毒藥不止，甘草粉蜜湯主之。</p>
<span class="方">
<p><b>甘草粉蜜湯方：</b></p>
<p>甘草<small class="雙行小字">二兩</small>　粉<small class="雙行小字">一兩</small>　蜜<small class="雙行小字">四兩</small></p>
<p>右三味，以水三升，先煮甘草，取二升，去滓，內粉、蜜，攪令和，煎如薄粥，溫服一升，差即止。</p>
</span>
<p><span class="編號">7.</span>蚘厥者，當吐蚘，令病者靜而復時煩，此為臟寒，蚘上入膈，故煩，須臾復止，得食而嘔，又煩者，蚘聞食臭出，其人當自吐蚘。</p>
<p><span class="編號">8.</span>蚘厥者，烏梅丸主之。</p>
<span class="方">
<p><b>烏梅丸方：</b></p>
<p>烏梅<small class="雙行小字">三百個</small>　細辛<small class="雙行小字">六兩</small>　乾薑<small class="雙行小字">十兩</small>　黃連<small class="雙行小字">一斤</small>　當歸<small class="雙行小字">四兩</small>　附子<small class="雙行小字">六兩，炮</small>　川椒<small class="雙行小字">四兩，去汗</small>　桂枝<small class="雙行小字">六兩</small>　人參<small class="雙行小字">六兩</small>　黃柏<small class="雙行小字">六兩</small></p>
<p>右十味，異搗篩，合治之，以苦酒漬烏梅一宿，去核，蒸之五升米下，飯熟搗成泥，和藥令相得，內臼中，與蜜杵二千下，丸如梧子大。先食飲服十丸，日三服，稍加至二十丸。禁生冷滑臭等食。</p>
</span>
<h2>婦人妊娠病脈證并治第二十</h2>
<p><span class="編號">1.</span>師曰：婦人得平脈，陰脈小弱，其人渴，不能食，無寒熱，名妊娠，桂枝湯主之。<span class="註"><small class="雙行小字">方見下利中</small></span>。於法六十日當有此證；設有醫治逆者，卻一月加吐下者，則絕之。</p>
<p><span class="編號">2.</span>婦人宿有癥病，經斷未及三月，而得漏下不止，胎動在臍上者，為癥痼害。妊娠六月動者，前三月經水利時，胎也。下血者，後斷三月衃也。所以血不止者，其癥不去故也，當下其癥，桂枝茯苓丸主之。</p>
<span class="方">
<p><b>桂枝茯苓丸方：</b></p>
<p>桂枝　茯苓　牡丹<small class="雙行小字">去心</small>　芍藥　桃仁<small class="雙行小字">去皮尖熬各等分</small></p>
<p>右五味，末之，煉蜜和丸，如兔屎大，每日食前服一丸，不知，加至三丸。</p>
</span>
<p><span class="編號">3.</span>婦人懷娠六七月，脈弦發熱，其胎愈脹，腹痛惡寒者，少腹如扇，所以然者，子臟開故也，當以附子湯溫其臟。<span class="註"><small class="雙行小字">方未見。</small></span></p>
<p><span class="編號">4.</span>師曰：婦人有漏下者，有半產後因續下血都不絕者，有妊娠下血者，假令妊娠腹中痛，為胞阻，膠艾湯主之。</p>
<p><span class="編號">5.</span>婦人懷妊，腹中㽲痛，當歸芍藥散主之。</p>
<span class="方">
<p><b>當歸芍藥散方：</b></p>
<p>當歸<small class="雙行小字">三兩</small>　芍藥<small class="雙行小字">一斤，一作六兩</small>　茯苓<small class="雙行小字">四兩</small>　白朮<small class="雙行小字">四兩</small>　澤瀉<small class="雙行小字">半斤</small>　芎藭<small class="雙行小字">半斤，作三兩</small></p>
<p>右六味，杵為散，取方寸匕，酒和，日三服。</p>
</span>
<p><span class="編號">6.</span>妊娠嘔吐不止，乾薑人參半夏丸主之。</p>
<span class="方">
<p><b>乾薑人參半夏丸方：</b></p>
<p>乾薑　人參<small class="雙行小字">各一兩</small>　半夏<small class="雙行小字">二兩</small></p>
<p>右三味，末之，以生薑汁糊為丸，如梧桐子大，飲服十丸，日三次。</p>
</span>
<p><span class="編號">7.</span>妊娠，小便難，飲食如故，當歸貝母苦參丸主之。</p>
<span class="方">
<p><b>當歸貝母苦參丸方：</b><span class="註"><small class="雙行小字">男子加滑石半兩。</small></span></p>
<p>當歸<small class="雙行小字">四兩</small>　貝母<small class="雙行小字">四兩</small>　苦參<small class="雙行小字">四兩</small></p>
<p>右三味，末之，煉蜜丸如小豆大，飲服三丸，加至十丸。</p>
</span>
<p><span class="編號">8.</span>妊娠有水氣，身重，小便不利，洒淅惡寒，起即頭眩，葵子茯苓散主之。</p>
<span class="方">
<p><b>葵子茯苓散方：</b></p>
<p>葵子<small class="雙行小字">一斤</small>　茯苓<small class="雙行小字">三兩</small></p>
<p>右二味，杵為散，飲服方寸匕，日三服，小便利則愈。</p>
</span>
<p><span class="編號">9.</span>婦人妊娠，宜常服當歸散主之。</p>
<span class="方">
<p><b>當歸散方：</b></p>
<p>當歸　黃芩　芍藥　芎藭<small class="雙行小字">各一斤</small>　白朮<small class="雙行小字">半斤</small></p>
<p>右五味，杵為散，酒服方寸匕，日再服，妊娠常服即易產，胎無苦疾，產後百病悉主之。</p>
</span>
<p><span class="編號">10.</span>妊娠養胎，白朮散主之。</p>
<span class="方">
<p><b>白朮散方：</b><span class="註"><small class="雙行小字">見《外臺》。</small></span></p>
<p>白朮　芎藭　蜀椒<small class="雙行小字">三分去汗</small>　牡蠣</p>
<p>右四味，杵為散，酒服一錢匕，日三服，夜一服。但苦痛，加芍藥；心下毒痛，倍加芎藭；心煩吐痛，不能食飲，加細辛一兩，半夏大者二十枚。服之後，更以醋漿水服之。若嘔，以醋漿水服之；復不解者，小麥汁服之。已後渴者，大麥粥服之，病雖愈，服之勿置。</p>
</span>
<p><span class="編號">11.</span>婦人傷胎，懷身腹滿，不得小便，從腰以下重，如有水氣狀。懷身七月，太陰當養不養，此心氣實，當刺瀉勞宮及關元，小便微利則愈。<span class="註"><small class="雙行小字">見《玉函》。</small></span></p>
<h2>婦人產後病脈證治第二十一</h2>
<p><span class="編號">1.</span>問曰：新產婦人有三病，一者病痙，二者病鬱冒，三者大便難，何謂也？師曰：新產血虛，多汗出，喜中風，故令病痙；亡血復汗，寒多，故令鬱冒；亡津液，胃燥，故大便難。</p>
<p><span class="編號">2.</span>產婦鬱冒，其脈微弱，嘔不能食，大便反堅，但頭汗出。所以然者，血虛而厥，厥而必冒。冒家欲解，必大汗出。以血虛下厥，孤陽上出，故頭汗出。所以產婦喜汗出者，亡陰血虛，陽氣獨盛，故當汗出，陰陽乃復。大便堅，嘔不能食，小柴胡湯主之。<span class="註"><small class="雙行小字">方見嘔吐中。</small></span></p>
<p><span class="編號">3.</span>病解能食，七八日更發熱者，此為胃實，大承氣湯主之。<span class="註"><small class="雙行小字">方在痙病中。</small></span></p>
<p><span class="編號">4.</span>產後腹中㽲痛，當歸生薑羊肉湯主之，并治腹中寒疝，虛勞不足。</p>
<span class="方">
<p><b>當歸生薑羊肉湯方：</b><span class="註"><small class="雙行小字">見寒疝中。</small></span></p>
</span>
<p><span class="編號">5.</span>產後腹痛，煩滿不得臥，枳實芍藥散主之。</p>
<span class="方">
<p><b>枳實芍藥散方：</b></p>
<p>枳實<small class="雙行小字">燒令黑，勿太過</small>　芍藥<small class="雙行小字">等分</small></p>
<p>右二味，杵為散，服方寸匕，日三服，並主癰膿，以麥粥下之。</p>
</span>
<p><span class="編號">6.</span>產婦腹痛、法當以枳實芍藥散，假令不愈者，此為腹中有瘀血著臍下，宜下瘀血湯主之；亦主經水不利。</p>
<span class="方">
<p><b>下瘀血湯方：</b></p>
<p>大黃<small class="雙行小字">二兩</small><small class="雙行小字">二十枚</small>　䗪蟲<small class="雙行小字">二十枚，熬、去足</small></p>
<p>右三味、末之，煉蜜和為四丸，以酒一升，煎一丸，取八合頓服之，新血下如豚肝。</p>
</span>
<p><span class="編號">7.</span>產後七八日，無太陽證，少腹堅痛，此惡露不盡；不大便，煩躁發熱、切脈微實，再倍發熱，日晡時煩躁者，不食，食則譫語，至夜即愈，宜大承氣湯主之。熱在裏，結在膀胱也。<span class="註"><small class="雙行小字">方見痙病中。</small></span></p>
<p><span class="編號">8.</span>產後風，續之數十日不解，頭微痛，惡寒，時時有熱，心下悶，乾嘔，汗出，雖久，陽旦證續在耳，可與陽旦湯。<span class="註"><small class="雙行小字">即桂枝湯，方見下利中。</small></span></p>
<p><span class="編號">9.</span>產後中風，發熱，面正赤，喘而頭痛，竹葉湯主之。</p>
<span class="方">
<p><b>竹葉湯方：</b></p>
<p>竹葉<small class="雙行小字">一把</small>　葛根<small class="雙行小字">三兩</small>　防風<small class="雙行小字">一兩</small>　桔梗<small class="雙行小字">一兩</small>　桂枝<small class="雙行小字">一兩</small>　人參<small class="雙行小字">一兩</small>　甘草<small class="雙行小字">一兩</small>　附子<small class="雙行小字">一枚，炮</small>　大棗<small class="雙行小字">十五枚</small>　生薑<small class="雙行小字">五兩</small></p>
<p>右十味，以水一斗，煮取二升半，分溫三服，溫覆使汗出，頸項強，用大附子一枚，破之如豆大，煎藥揚去沫。嘔者加半夏半升洗。</p>
</span>
<p><span class="編號">10.</span>婦人乳中虛，煩亂嘔逆，安中益氣，竹皮大丸主之。</p>
<span class="方">
<p><b>竹皮大丸方：</b></p>
<p>生竹茹<small class="雙行小字">二分</small>　石膏<small class="雙行小字">二分</small>　桂枝<small class="雙行小字">一分</small>　甘草<small class="雙行小字">七分</small>　白薇<small class="雙行小字">一分</small></p>
<p>右五味，末之，棗肉和丸彈子大，以飲服一丸、日三夜二服。有熱者倍白薇，煩喘者加柏實一分。</p>
</span>
<p><span class="編號">11.</span>產後下利虛極，白頭翁加甘草阿膠湯主之。</p>
<span class="方">
<p><b>白頭翁加甘草阿膠湯方：</b></p>
<p>白頭翁<small class="雙行小字">二兩</small>　甘草<small class="雙行小字">二兩</small>　阿膠<small class="雙行小字">二兩</small>　秦皮<small class="雙行小字">三兩</small>　黃連<small class="雙行小字">三兩</small>　柏皮<small class="雙行小字">三兩</small></p>
<p>右六味，以水七升、煮取二升半，內膠令消盡，分溫三服。</p>
</span>
<h3>〔附方〕</h3>
<span class="方">
<p><b>《千金》三物黃芩湯：</b>治婦人在草蓐，自發露得風，四肢苦煩熱，頭痛者與小柴胡湯；頭不痛但煩者，此湯主之。</p>
<p>黃芩<small class="雙行小字">一兩</small>　苦參<small class="雙行小字">二兩</small>　乾地黃<small class="雙行小字">四兩</small></p>
<p>右三味，以水八升，煮取二升，溫服一升，多吐下蟲。</p>
</span>
<span class="方">
<p><b>《千金》內補當歸建中湯：</b>治婦人產後虛羸不足，腹中刺痛不止，吸吸少氣，或苦少腹急摩痛引腰背，不能食飲；產後一月，日得服四、五劑為善，令人強壯宜。</p>
<p>當歸<small class="雙行小字">四兩</small>　桂枝<small class="雙行小字">三兩</small>　芍藥<small class="雙行小字">六兩</small>　生薑<small class="雙行小字">三兩</small>　甘草<small class="雙行小字">一兩</small>　大棗<small class="雙行小字">十二枚</small></p>
<p>右六味，以水一斗，煮取三升，分溫三服，一日令盡。若大虛加飴糖六兩，湯成內之，於火上暖令飴消，若去血過多，崩傷內衄不止，加地黃六兩，阿膠二兩，合成八味，湯成內阿膠，若無當歸，加芎藭代之，若無生薑，以乾薑代之。</p>
</span>
<h2>婦人雜病脈證并治第二十二</h2>
<p><span class="編號">1.</span>婦人中風，七八日續來寒熱，發作有時，經水適斷，此為熱入血室，其血必結，故使如瘧狀，發作有時，小柴胡湯主之。<span class="註"><small class="雙行小字">方見嘔吐中。</small></span></p>
<p><span class="編號">2.</span>婦人傷寒發熱，經水適來，晝日明了，暮則譫語如見鬼狀者，此為熱入血室，治之無犯胃氣及上二焦，必自愈。</p>
<p><span class="編號">3.</span>婦人中風，發熱惡寒，經水適來，得之七八日，熱除脈遲，身涼和，胸脅滿，如結胸狀，讝語者，此為熱入血室也，當刺期門，隨其實而取之。</p>
<p><span class="編號">4.</span>陽明病、下血讝語者，此為熱入血室，但頭汗出，當刺期門，隨其實而瀉之，濈然汗出者愈。</p>
<p><span class="編號">5.</span>婦人咽中如有炙臠，半夏厚朴湯主之。</p>
<span class="方">
<p><b>半夏厚朴湯方：</b><span class="註"><small class="雙行小字">《千金》作胸滿，心下堅，咽中帖帖，如有炙肉，吐之不出，吞之不下。</small></span></p>
<p>半夏<small class="雙行小字">一升</small>　厚朴<small class="雙行小字">三兩</small>　茯苓<small class="雙行小字">四兩</small>　生薑<small class="雙行小字">五兩</small>　乾蘇葉<small class="雙行小字">二兩</small></p>
<p>右五味，以水七升，煮取四升，分服四服，日三夜一服。</p>
</span>
<p><span class="編號">6.</span>婦人臟躁，喜悲傷欲哭，象如神靈所作，數欠伸，甘麥大棗湯主之。</p>
<span class="方">
<p><b>甘麥大棗湯方：</b></p>
<p>甘草<small class="雙行小字">三兩</small>　小麥<small class="雙行小字">一升</small>　大棗<small class="雙行小字">十枚</small></p>
<p>右三味，以水六升，煮取三升，溫分三服，亦補脾氣。</p>
</span>
<p><span class="編號">7.</span>婦人吐涎沫，醫反下之，心下即痞，當先治其吐涎沫，小青龍湯主之；涎沫止，乃治痞，瀉心湯主之。</p>
<div class="古版"><!--
--><p class="今版"><span class="編號">8.</span>婦人之病，因虛、積冷、結氣，為諸經水斷絕，至有歷年，血寒積結，胞門寒傷，經絡凝堅。</p><hr class="分段"><!--
--><p class="今版">在上嘔吐涎唾，久成肺癰，形體損分。在中盤結，繞臍寒疝；或兩脅疼痛，與臟相連；或結熱中，痛在關元，脈數無瘡，肌若魚鱗，時著男子，非止女身。在下未多，經候不勻，令陰掣痛，少腹惡寒；或引腰脊，下根氣街，氣衝急痛，膝脛疼煩。奄忽眩冒，狀如厥癲；或有憂慘，悲傷多嗔，此皆帶下，非有鬼神。</p><hr class="分段"><!--
--><p class="今版">久則羸瘦，脈虛多寒；三十六病，千變萬端；審脈陰陽，虛實緊弦；行其鍼藥，治危得安；其雖同病，脈各異源，子當辨記，勿謂不然。</p><!--
--></div>
<p><span class="編號">9.</span>婦人年五十所，病下利數十日不止，暮即發熱，少腹裏急，腹滿，手掌煩熱，唇口乾燥，何也？師曰：此病屬帶下，何以故？曾經半產，瘀血在少腹不去。何以知之？其證唇口乾燥，故知之。當以溫經湯主之。</p>
<span class="方">
<p><b>溫經湯方：</b></p>
<p>吳茱萸<small class="雙行小字">三兩</small>　當歸<small class="雙行小字">二兩</small>　芎藭<small class="雙行小字">二兩</small>　芍藥<small class="雙行小字">二兩</small>　人參<small class="雙行小字">二兩</small>　桂枝<small class="雙行小字">二兩</small>　阿膠<small class="雙行小字">二兩</small>　生薑<small class="雙行小字">二兩</small>　牡丹皮<small class="雙行小字">，去心二兩</small>　甘草<small class="雙行小字">二兩</small>　半夏<small class="雙行小字">半升</small>　麥門冬<small class="雙行小字">一升，去心</small></p>
<p>右十二味，以水一斗，煮取三升，分溫三服，亦主婦人少腹寒，久不受胎；兼取崩中去血，或月水來過多，及至期不來。</p>
</span>
<p><span class="編號">10.</span>帶下經水不利，少腹滿痛，經一月再見者，土瓜根散主之。</p>
<span class="方">
<p><b>土瓜根散方：</b><span class="註"><small class="雙行小字">陰靏腫亦主之。</small></span></p>
<p>土瓜根<small class="雙行小字">三兩</small>　芍藥<small class="雙行小字">三兩</small>　桂枝<small class="雙行小字">三兩</small>　䗪蟲<small class="雙行小字">三兩</small></p>
<p>右四味，杵為散，酒服方寸匕，日三服。</p>
</span>
<p><span class="編號">11.</span>寸口脈弦而大，弦則為減，大則為芤，減則為寒，芤則為虛，寒虛相搏，此名曰革，婦人則半產漏下，旋覆花湯主之。</p>
<p><span class="編號">12.</span>婦人陷經，漏下黑不解，膠薑湯主之。<span class="註"><small class="雙行小字">臣億等校諸本無膠薑湯方，想是前妊娠中膠艾湯。</small></span></p>
<p><span class="編號">13.</span>婦人少腹滿如敦狀，小便微難而不渴，生後者，此為水與血俱結血室也，大黃甘遂湯主之。</p>
<span class="方">
<p><b>大黃甘遂湯方：</b></p>
<p>大黃<small class="雙行小字">四兩</small>　甘遂<small class="雙行小字">二兩</small>　阿膠<small class="雙行小字">二兩</small></p>
<p>右三味，以水三升，煮取一升，頓服之，其血當下。</p>
</span>
<p><span class="編號">14.</span>婦人經水不利下，抵當湯主之。<span class="註"><small class="雙行小字">亦治男子膀胱滿急有瘀血者。</small></span></p>
<span class="方">
<p><b>抵當湯方：</b></p>
<p>水蛭<small class="雙行小字">二十個，熬</small>　虻蟲<small class="雙行小字">三十枚，熬、去翅足</small>　桃仁<small class="雙行小字">二十個，去皮尖</small>　大黃<small class="雙行小字">三兩，酒浸</small></p>
<p>右四味，為末，以水五升，煮取三升，去滓，溫服一升。</p>
</span>
<p><span class="編號">15.</span>婦人經水閉不利，臟堅癖不止，中有乾血，下白物，礬石丸主之。</p>
<span class="方">
<p><b>礬石丸方：</b></p>
<p>礬石<small class="雙行小字">三分，燒</small>　杏仁<small class="雙行小字">一分</small></p>
<p>右二味，末之，煉蜜和丸，棗核大，內臟中，劇者再內之。</p>
</span>
<p><span class="編號">16.</span>婦人六十二種風，及腹中血氣刺痛，紅藍花酒主之。</p>
<span class="方">
<p><b>紅藍花酒方：</b><span class="註"><small class="雙行小字">疑非仲景方。</small></span></p>
<p>紅藍花<small class="雙行小字">一兩</small></p>
<p>右一味，以酒一大升，煎減半，頓服一半，未止再服。</p>
</span>
<p><span class="編號">17.</span>婦人腹中諸疾痛，當歸芍藥散主之。</p>
<span class="方">
<p><b>當歸芍藥散方：</b><span class="註"><small class="雙行小字">見前妊娠中</small></span></p>
</span>
<p><span class="編號">18.</span>婦人腹中痛，小建中湯主之。</p>
<span class="方">
<p><b>小建中湯方：</b><span class="註"><small class="雙行小字">見虛勞中。</small></span></p>
</span>
<p><span class="編號">19.</span>問曰：婦人病飲食如故，煩熱不得臥，而反倚息者，何也？師曰：此名轉胞，不得溺也。以胞系了戾，故致此病。但利小便則愈，宜腎氣丸主之。<span class="註"><small class="雙行小字">方見虛勞中。</small></span></p>
<p><span class="編號">20.</span>蛇床子散方，溫陰中坐藥。</p>
<span class="方">
<p><b>蛇床子散方：</b></p>
<p>蛇床子仁</p>
<p>右一味，末之，以白粉少許，和合相得，如棗大，棉裹內之，自然溫。</p>
</span>
<p><span class="編號">21.</span>少陰脈滑而數者，陰中即生瘡，陰中蝕瘡爛者，狼牙湯洗之。</p>
<span class="方">
<p><b>狼牙湯方：</b></p>
<p>狼牙<small class="雙行小字">三兩</small></p>
<p>右一味，以水四升，煮取半升，以綿纏筋如繭浸湯瀝陰中，日四遍。</p>
</span>
<p><span class="編號">22.</span>胃氣下泄，陰吹而正暄，此穀氣之實也，膏髮煎導之。</p>
<span class="方">
<p><b>膏髮煎方：</b><span class="註"><small class="雙行小字">見黃疸中</small></span></p>
</span>
<span class="方">
<p><b>小兒疳蟲蝕齒方：</b><span class="註"><small class="雙行小字">疑非仲景方。</small></span></p>
<p>雄黃　葶藶</p>
<p>右二味，末之，取臘月豬脂溶，以槐枝綿裹頭四五枚，點藥烙之。</p>
</span>
<h2>雜療方第二十三</h2>
<span class="方">
<p><b>退五臟虛熱，四時加減柴胡飲子方：</b></p>
<p>冬三月加柴胡<small class="雙行小字">八分</small>　白朮<small class="雙行小字">八分</small>　陳皮<small class="雙行小字">五分</small>　大腹檳榔<small class="雙行小字">四枚，並皮子用</small>　生薑<small class="雙行小字">五分</small>　桔梗<small class="雙行小字">七分</small>　春三月加枳實　減白朮，共六味　夏三月加生薑<small class="雙行小字">三分</small>　枳實<small class="雙行小字">五分</small>　甘草<small class="雙行小字">三分</small>，共八味　秋三月加陳皮<small class="雙行小字">三分</small>，共六味</p>
<p>上各㕮咀，分為三貼，一貼以水三升，煮取二升，分溫三服；如人行四五里進一服，如四體壅，添甘草少許，每貼分作三小貼，每小貼以水一升，煮取七合，溫服，再合滓為一服。重煮，都成四服。<span class="註"><small class="雙行小字">疑非仲景方。</small></span></p>
</span>
<span class="方">
<p><b>長服訶黎勒丸方：</b><span class="註"><small class="雙行小字">疑非仲景方。</small></span></p>
<p>訶黎勒<small class="雙行小字">煨</small>　陳皮　厚朴<small class="雙行小字">各三兩</small></p>
<p>右三味，末之，煉蜜丸如梧子大，酒飲服二十丸，加至三十丸。</p>
</span>
<span class="方">
<p><b>三物備急丸方：</b><span class="註"><small class="雙行小字">見《千金》司空裴秀為散用亦可。先和成汁，乃傾口中，令從齒間得入，至良驗。</small></span></p>
<p>大黃<small class="雙行小字">一兩</small>　乾薑<small class="雙行小字">一兩</small>　巴豆<small class="雙行小字">一兩，去皮心熬，外研如脂</small></p>
<p>上藥各須精新，先搗大黃、乾薑為末，研巴豆內中，合治一千杵，用為散，蜜和丸亦佳，密器中貯之，莫令歇。主心腹諸卒暴百病，若中惡客忤，心腹脹滿，卒痛如錐刺，氣急口噤，停尸卒死者，以煖水苦酒服大豆許三四丸，或不下，捧頭起，灌令下咽，須臾當差，如未差，更與三丸，當腹中鳴，即吐下便差。若口噤，亦須折齒灌之。</p>
</span>
<span class="方">
<p><b>治傷寒令愈不復，紫石寒食散方：</b><span class="註"><small class="雙行小字">見《千金翼》。</small></span></p>
<p>紫石英　白石英　赤石脂　鐘乳<small class="雙行小字">研煉</small>　栝蔞根　防風　桔梗　文蛤　鬼臼<small class="雙行小字">各十分</small>　太乙餘糧<small class="雙行小字">十分，燒</small>　乾薑　附子<small class="雙行小字">炮，去皮</small>　桂枝<small class="雙行小字">去皮各四分</small></p>
<p>右十三味，杵為散，酒服方寸匕。</p>
</span>
<span class="方">
<p><b>救卒死方：</b></p>
<p>薤搗汁，灌鼻中。</p>
</span>
<span class="方">
<p><b>又方：</b></p>
<p>雄雞冠，割取血，管吹內鼻中。</p>
<p>豬脂如雞子大，苦酒一升，煮沸灌喉中。</p>
<p>雞肝及血，塗面上，以灰圍四旁，立起。</p>
<p>大豆二七粒，以雞子白并酒和，盡以吞之。</p>
</span>
<span class="方">
<p><b>救卒死而壯熱者方：</b></p>
<p>礬石半斤，以水一斗半煮消，以漬腳，令沒踝。</p>
</span>
<span class="方">
<p><b>救卒死而目閉者方：</b></p>
<p>騎牛臨面，搗薤汁灌耳中，吹皂莢末鼻中，立效。</p>
</span>
<span class="方">
<p><b>救卒死而張口反折者方：</b></p>
<p>灸手足兩爪後十四壯了，飲以五毒諸膏散。<span class="註"><small class="雙行小字">有巴豆者。</small></span></p>
</span>
<span class="方">
<p><b>救卒死而四肢不收，失便者方：</b></p>
<p>馬屎一升，水三斗，煮取二斗以洗之，又取牛洞<span class="註"><small class="雙行小字">稀糞也</small></span>一升，溫酒灌口中。灸心下一寸，臍上三寸，臍下四寸，各一百壯，差。</p>
</span>
<span class="方">
<p><b>救小兒卒死而吐利，不知是何病方：</b></p>
<p>狗屎一丸，絞取汁以灌之；無濕者，水煮乾者，取汁。</p>
</span>
<span class="方">
<p><b>尸蹶，脈動而無氣，氣閉不通，故靜而死也，治方：</b><span class="註"><small class="雙行小字">脈證見上卷。</small></span></p>
<p>菖蒲屑，內鼻兩孔中吹之，令人以桂屑著舌下。</p>
</span>
<span class="方">
<p><b>又方：</b></p>
<p>剔取左角髮方寸，燒末，酒和，灌令入喉立起。</p>
</span>
<span class="方">
<p><b>救卒死，客忤死，還魂湯主之方：</b><span class="註"><small class="雙行小字">《千金方》云：主卒忤鬼擊飛尸，諸奄忽氣絕，無復覺，或已無脈，口噤拗不開，去齒下湯。湯下口不下者，分病人髮左右，捉帱肩引之。藥下復增取一升，須臾立蘇。</small></span></p>
<p>麻黃<small class="雙行小字">三兩</small>　去節。<small class="雙行小字">一方四兩</small>　杏仁<small class="雙行小字">去皮尖，七十個</small>　甘草<small class="雙行小字">一兩，炙</small><span class="註"><small class="雙行小字">《千金》用桂心二兩。</small></span></p>
<p>右三味，以水八升，煮取三升，去滓，分令嚥之，通治諸感忤。</p>
<p><b>又方：</b></p>
<p>韭根<small class="雙行小字">一把</small>　烏梅<small class="雙行小字">二七個</small>　吳茱萸<small class="雙行小字">半升，炒</small></p>
<p>右三味，以水一斗煮之，以病人櫛內中，三沸，櫛浮者生，沉者死，煮取三升，去滓分飲之。</p>
</span>
<p>救自縊死，旦至暮，雖已冷，必可治；暮至旦，小難也，恐此當言陰氣盛故也。然夏時夜短於晝，又熱，猶應可治。又云：心下若微溫者，一日以上，猶可治之方。
徐徐抱解，不得截繩，上下安被臥之，一人以腳踏其兩肩，手少挽其髮，常弦弦勿縱之；一人以手按據胸上，數動之；一人摩捋臂脛，屈伸之。若已僵，但漸漸強屈之，并按其腹，如此一炊頃，氣從口出，呼吸眼開，而猶引按莫置，亦勿苦勞之，須臾，可少與桂枝湯及粥清，含與之，令濡喉，漸漸能嚥，及稍止，若向令兩人以管吹其兩耳朵，此法最善，無不活也。</p>
<span class="方">
<p><b>凡中暍死，不可使得冷，得冷便死，療之方：</b></p>
<p>屈草帶，繞暍人臍，使三兩人溺其中，令溫。亦可用熱泥和屈草，亦可扣瓦碗底，按及車缸，以著暍人，取令溺須得流去，此謂道路窮，卒無湯當令溺其中，欲使多人溺，取令溫，若湯，便可與之，不可泥及車缸，恐此物冷，暍既在夏月，得熱泥土，暖車缸，亦可用也。</p>
</span>
<span class="方">
<p><b>救溺死方：</b></p>
<p>取灶中灰兩石餘，以埋人，從頭至足，水出七孔，即活。</p>
<p>上療自縊溺暍之法并出自張仲景為之，其意殊絕，殆非常情所及，本草所能關，實救人之大術矣，傷寒家數有暍病，非此遇熱之暍。<span class="註"><small class="雙行小字">見《外臺》《肘後》目。</small></span></p>
</span>
<span class="方">
<p><b>治馬墜及一切筋骨損方：</b><span class="註"><small class="雙行小字">見《肘後方》。</small></span></p>
<p>大黃<small class="雙行小字">一兩，切浸湯成下</small>　緋帛<small class="雙行小字">如手大，燒灰</small></p>
<p>亂髮如雞子大燒灰用　久用炊單布<small class="雙行小字">一尺，燒灰</small>　敗蒲<small class="雙行小字">一握三寸</small>　桃仁<small class="雙行小字">四十九枚，去皮尖熬</small>　甘草<small class="雙行小字">如中指節，炙剉</small></p>
<p>右七味，以童子小便，量多少，煎成湯，內酒一大盞，次下大黃，去滓，分溫三服，先剉敗蒲席半領，煎湯浴，衣被蓋覆，斯須，通利數行，痛楚立差，利及浴水赤，勿怪，即瘀血也。</p>
</span>
<h2>禽獸魚蟲禁忌并治第二十四</h2>
<p>凡飲食滋味，以養於生，食之有妨，反能為害，自非服藥煉液、焉能不飲食乎？切見時人，不閑調攝，疾疢競起；若不因食而生，苟全其生，須知切忌者矣。所食之味，有與病相宜，有與身為害，若得宜則益體，害則成疾，以此致危，例皆難療。凡煮藥飲汁以解毒者，雖云救急，不可熱飲，諸毒病，得熱更甚，宜冷飲之。</p>
<p>肝病禁辛，心病禁鹹，脾病禁酸，肺病禁苦，腎病禁甘。春不食肝，夏不食心，秋不食肺，冬不食腎，四季不食脾。辯曰：春不食肝者，為肝氣王，脾氣敗，若食肝，則又補肝，脾氣敗尤甚，不可救，又肝王之時，不可以死氣入肝，恐傷魂也，若非王時即虛，以肝補之佳，餘臟準此。</p>
<p>凡肝臟，自不可輕噉，自死者彌甚。</p>
<p>凡心皆為神識所舍，勿食之，使人來生復其報對矣。</p>
<p>凡肉及肝，落地不著塵土者，不可食之。</p>
<p>豬肉落水浮者，不可食。</p>
<p>諸肉及魚，若狗不食，鳥不啄者，不可食。</p>
<p>諸肉不乾，火灸不動，見水自動者，不可食之。</p>
<p>肉中有朱點者，不可食之。</p>
<p>六畜肉，熱血不斷者，不可食之。</p>
<p>父母及身本命肉，食之令人神魂不安。</p>
<p>食肥肉及熱羹，不得飲冷水。</p>
<p>諸五臟及魚，投地塵土不污者，不可食之。</p>
<p>穢飯，餒肉，臭魚，食之皆傷人。</p>
<p>自死肉口閉者，不可食之。</p>
<p>六畜自死，皆疫死，則有毒，不可食之。</p>
<p>獸自死，北首及伏地者，食之殺人。</p>
<p>食生肉，飽飲乳，變成白蟲。<span class="註"><small class="雙行小字">一作血蠱。</small></span></p>
<p>疫死牛肉，食之令病洞下，亦致堅積，宜利藥下之。</p>
<p>脯藏米甕中有毒，及經夏食之，發腎病。</p>
<span class="方">
<p><b>治自死六畜肉中毒方：</b></p>
<p>黃蘗屑，搗服方寸匕。</p>
</span>
<span class="方">
<p><b>治食鬱肉漏脯中毒方：</b><span class="註"><small class="雙行小字">鬱肉，密器蓋之，隔宿者是也。漏脯，茅屋漏下，沾著者是也。</small></span></p>
<p>燒犬屎，酒服方寸匕，每服人乳汁亦良。飲生韭汁三升，亦得。</p>
</span>
<span class="方">
<p><b>治黍米中藏乾脯，食之中毒方：</b></p>
<p>大豆濃煮汁，飲數升即解，亦治狸肉漏脯等毒。</p>
</span>
<span class="方">
<p><b>治食生肉中毒方：</b></p>
<p>掘地深三尺，取其下土三升，以水五升，煮數沸，澄清汁，飲一升即愈。</p>
</span>
<span class="方">
<p><b>治六畜鳥獸肝中毒方：</b></p>
<p>水浸豆豉，絞取汁，服數升愈。</p>
</span>
<p>馬腳無夜眼者，不可食之。</p>
<p>食酸馬肉，不飲酒，則殺人。</p>
<p>馬肉不可熱食，傷人心。</p>
<p>馬鞍下肉，食之殺人。</p>
<p>白馬黑頭者，不可食之。</p>
<p>白馬青蹄者，不可食之。</p>
<p>馬肉㹠肉共食，醉飽臥，大忌。</p>
<p>驢、馬肉，合豬肉食之，成霍亂。</p>
<p>馬肝及毛不可妄食，中毒害人。</p>
<span class="方">
<p><b>食馬肝中毒，人未死方：</b></p>
<p>雄鼠屎二七粒，末之，水和服，日再服。<span class="註"><small class="雙行小字">屎尖者是。</small></span></p>
<p><b>又方：</b>人垢取方寸匕，服之佳。</p>
</span>
<span class="方">
<p><b>治食馬肉中毒欲死方：</b></p>
<p>香豉<small class="雙行小字">二兩</small>　杏仁<small class="雙行小字">三兩</small></p>
<p>右二味，蒸一食頃，熟杵之服，日再服。</p>
<p><b>又方：</b>煮蘆根汁，飲之良。</p>
</span>
<p>疫死牛，或目赤，或黃，食之大忌。</p>
<p>牛肉共豬肉食之，必作寸白蟲。</p>
<p>青牛腸，不可合犬肉食之。</p>
<p>牛肺從三月至五月，其中有蟲如馬尾，割去勿食，食則損人。</p>
<p>牛羊豬肉，皆不得以楮木、桑木蒸炙，食之令人腹內生蟲。</p>
<p>噉蛇牛肉殺人，何以知之？噉蛇者，毛髮向後順者，是也。</p>
<span class="方">
<p><b>治噉蛇牛肉，食之欲死方：</b></p>
<p>飲人乳汁一升，立愈。</p>
<p><b>又方：</b></p>
<p>以泔洗頭，飲一升，愈。</p>
<p>牛肚細切，以水一斗，煮取一升，暖飲之，大汗出者愈。</p>
</span>
<span class="方">
<p><b>治食牛肉中毒方：</b></p>
<p>甘草煮汁，飲之即解</p>
</span>
<p>羊肉其有宿熱者，不可食之。</p>
<p>羊肉不可共生魚酪食之，害人。</p>
<p>羊蹄甲中有珠子白者，名羊懸筋，食之令人癲。</p>
<p>白羊黑頭，食其腦，作腸癰。</p>
<p>羊肝共生椒食之，破人五臟。</p>
<p>豬肉共羊肝和食之，令人心悶。</p>
<p>豬肉以生胡荽同食，爛人臍。</p>
<p>豬脂不可合梅子食之。</p>
<p>豬肉和葵食之，少氣。</p>
<p>鹿肉不可和蒲白作羹，食之發惡瘡。</p>
<p>麋脂及梅李子，若妊婦食之，令子青盲，男子傷精。</p>
<p>昼肉不可合蝦及生菜，梅李果食之，皆病人。</p>
<p>痼疾人不可食熊肉，令終身不愈。</p>
<p>白犬自死，不出舌者，食之害人。</p>
<p>食狗鼠餘，令人發鞄瘡。</p>
<span class="方">
<p><b>治食犬肉不消，心下堅或腹脹，口乾大渴，心急發熱，妄語如狂，或洞下方：</b></p>
<p>杏仁<small class="雙行小字">一升，合皮熟研用</small></p>
<p>右一味，以沸湯三升和取汁，分三服，利下肉方，大驗。</p>
</span>
<p>婦人妊娠，不可食兔肉、山羊肉及鱉、雞、鴨，令子無聲音。</p>
<p>兔肉不可合白雞肉食之，令人面發黃。</p>
<p>兔肉著乾薑食之，成霍亂。</p>
<p>凡鳥自死，口不閉，翅不合者，不可食之。</p>
<p>諸禽肉肝青者，食之殺人。</p>
<p>雞有六翮四距者，不可食之。</p>
<p>烏雞白首者，不可食之。</p>
<p>雞不可共葫蒜食之，滯氣。<span class="註"><small class="雙行小字">一云雞子。</small></span></p>
<p>山雞不可合鳥獸肉食之。</p>
<p>雉肉久食之，令人瘦。</p>
<p>鴨卵不可合鱉肉食之。</p>
<p>婦人妊娠，食雀肉，令子淫亂無恥。</p>
<p>雀肉不可合李子食之。</p>
<p>燕肉勿食，入水為蛟龍所噉。</p>
<span class="方">
<p><b>鳥獸有中毒箭死者，其肉有毒，解之方：</b></p>
<p>大豆煮汁，及鹽汁，服之解。</p>
</span>
<p>魚頭正白，如連珠至脊上，食之殺人。</p>
<p>魚頭中無鰓者，不可食之，殺人。</p>
<p>魚無腸膽者，不可食之，三年陰不起，女子絕生。</p>
<p>魚頭似有角者，不可食之。</p>
<p>魚目合者，不可食之。</p>
<p>六甲日，勿食鱗甲之物。</p>
<p>魚不可合雞肉食之。</p>
<p>魚不得和鸕鶿肉食之。</p>
<p>鯉魚鮓不可合小豆藿食之，其子不可合豬肝食之，害人。</p>
<p>鯉魚不可合犬肉食之。</p>
<p>鯽魚不可合猴雉肉食之。一云不可合豬肝食。</p>
<p>鯷魚合鹿肉生食，令人筋甲縮。</p>
<p>青魚鮓不可合生胡荽，及生葵，并麥中食之。</p>
<p>鰌鱔不可合白犬血食之。</p>
<p>龜肉不可合酒果子食之。</p>
<p>鱉目凹陷者，及壓下有王字形者，不可食之。</p>
<p>其肉不得合雞鴨子食之。</p>
<p>龜鱉肉不可合莧菜食之。</p>
<p>蝦無鬚及腹下通黑，煮之反白者，不可食之。</p>
<p>食膾，飲乳酪，令人腹中生蟲，為瘕。</p>
<span class="方">
<p><b>鱠食之，在心胸間不化，吐復不出，速下除之，久成癥病，治之方：</b></p>
<p>橘皮<small class="雙行小字">一兩</small>　大黃<small class="雙行小字">二兩</small>　朴硝<small class="雙行小字">二兩</small></p>
<p>右三味，以水一大升，煮至小升，頓服即消。</p>
</span>
<span class="方">
<p><b>食鱠多，不消，結為癥病，治之方：</b></p>
<p>馬鞭草</p>
<p>右一味，搗汁飲之，或以薑葉汁飲之一升，亦消。又可服吐藥吐之。</p>
</span>
<span class="方">
<p><b>食魚後中毒，兩種煩亂，治之方：</b></p>
<p>橘皮</p>
<p>濃煎汁，服之即解。</p>
</span>
<span class="方">
<p><b>食鯸鮧魚中毒方：</b></p>
<p>蘆根煮汁，服之即解。</p>
</span>
<p>蟹目相向，足斑目赤者，不可食之。</p>
<span class="方">
<p><b>食蟹中毒，治之方：</b></p>
<p>紫蘇</p>
<p>煮汁，飲之三升。紫蘇子搗汁，飲之亦良。</p>
<p><b>又方：</b></p>
<p>冬瓜汁，飲二升，食冬瓜亦可。</p>
</span>
<p>凡蟹未遇霜，多毒，其熟者，乃可食之。</p>
<p>蜘蛛落食中，有毒，勿食之。</p>
<p>凡蜂蠅蟲蟻等，多集食上，食之致鞄。</p>
<h2>果實菜穀禁忌并治第二十五</h2>
<p>果子生食生瘡。</p>
<p>果子落地經宿，蟲蟻食之者，人大忌食之。</p>
<p>生米停留多日，有損處，食之傷人。</p>
<p>桃子多食令人熱，仍不得入水浴，今人病淋瀝寒熱病。</p>
<p>杏酪不熟，傷人。</p>
<p>梅多食，壞人齒。</p>
<p>李不可多食，令人臚脹。</p>
<p>林檎不可多食，令人百脈弱。</p>
<p>橘柚多食，令人口爽，不知五味。</p>
<p>梨不可多食，令人寒中，金瘡、產婦，亦不宜食。</p>
<p>櫻桃杏多食，傷筋骨。</p>
<p>安石榴不可多食，損人肺。</p>
<p>胡桃不可多食，令人動痰飲。</p>
<p>生棗多食，令人熱渴，氣脹。寒熱羸瘦者，彌不可食，傷人。</p>
<span class="方">
<p><b>食諸果中毒，治之方：</b></p>
<p>豬骨<small class="雙行小字">燒灰</small></p>
<p>右一味，末之，水服方寸匕。亦治馬肝漏脯等毒。</p>
</span>
<p>木耳赤色，及仰生者，勿食。菌仰卷及赤色者不可食。</p>
<span class="方">
<p><b>食諸菌中毒，悶亂欲死，治之方：</b></p>
<p>人糞汁飲一升，土漿飲一二升，大豆濃煎汁飲之。服諸吐利藥，并解。</p>
</span>
<p>食楓柱菌而哭不止，治之以前方。</p>
<p>誤食野芋，煩亂欲死，治之以前方。<span class="註"><small class="雙行小字">其野芋根，山東人名魁芋，人種芋，三年不收，亦成野芋，并殺人。</small></span></p>
<span class="方">
<p><b>蜀椒閉口者有毒，誤食之戟人咽喉，氣病欲絕。或吐下白沫，身體痹冷，急治之方：</b></p>
<p>肉桂，煎汁飲之，飲冷水一二升。</p>
<p>或食蒜，或飲地漿。</p>
<p>或濃煮豉汁飲之。並解。</p>
</span>
<p>正月勿食生蔥，令人面生游風。</p>
<p>二月勿食蓼，傷人腎。</p>
<p>三月勿食小蒜，傷人志性。</p>
<p>四月、八月勿食胡荽，傷人神。</p>
<p>五月勿食韭，令人乏氣力。</p>
<p>五月五日勿食生菜，發百病。</p>
<p>六月、七月勿食茱萸，傷神氣。</p>
<p>八月、九月勿食薑，傷人神。</p>
<p>十月勿食椒，損人心，傷心脈。</p>
<p>十一月、十二月勿食薤，令人多涕唾。</p>
<p>四季勿食生葵，令人飲食不化，發百病，非但食中，藥中皆不可用，深宜慎之。</p>
<p>時病差未健，食生菜，手足必腫。</p>
<p>夜食生菜，不利人。</p>
<p>十月勿食被霜生菜，令人面無光，目澀心痛，腰疼，或發心瘧，瘧發時手足十指爪皆青，困萎。</p>
<p>蔥韭初生芽者，食之傷人心氣。</p>
<p>飲白酒食生韭，令人病增。</p>
<p>生蔥不可共蜜，食之殺人，獨顆蒜彌忌。</p>
<p>棗和生蔥食之，令人病。</p>
<p>生蔥和雄雞、雉、白犬肉食之，令人七竅經年流血。</p>
<p>食糖蜜後，四日內食生蔥蒜，令人心痛。</p>
<p>夜食諸薑蒜蔥等，傷人心。</p>
<p>蕪菁根多食之，令人氣脹。</p>
<p>薤不可共牛肉作羹食之，成瘕病，韭亦然。</p>
<p>蓴多病，動痔疾。</p>
<p>野苣不可同蜜食之，作內痔。</p>
<p>白苣不可共酪同食，作䘌蟲。</p>
<p>黃瓜食之，發熱病。</p>
<p>葵心不可食，傷人；葉尤冷，黃背赤莖者勿食之。</p>
<p>胡荽久食之，令人多忘。</p>
<p>病人不可食胡荽及黃花菜。</p>
<p>芋不可多食，動病。</p>
<p>妊婦食薑，令子餘指。</p>
<p>蓼多食，發心痛。</p>
<p>蓼和生魚食之，令人奪氣，陰咳疼痛。</p>
<p>芥菜不可共兔肉食之，成惡邪病。</p>
<p>小蒜多食，傷人心力。</p>
<span class="方">
<p><b>食躁式躁方：</b></p>
<p>豉濃煮汁飲之。</p>
</span>
<span class="方">
<p><b>鉤吻與芹菜相似，誤食之，殺人，解之方：</b><span class="註"><small class="雙行小字">《肘後》云，與茱萸黃食芥相似。</small></span></p>
<p>薺苨<small class="雙行小字">八兩</small></p>
<p>右一味，水六升，煮取二升，分溫二服。鉤吻生地傍無他草，其莖有毛者，以此別之。</p>
</span>
<span class="方">
<p><b>菜中有水莨菪，葉圓而光，有毒，誤食之，令人狂亂，狀如中風，或吐血，治之方：</b></p>
<p>甘草煮汁，服之即解。</p>
</span>
<span class="方">
<p><b>春秋二時，龍帶精入芹菜中，人偶食之為病，發時手青腹滿，痛不可忍，名蛟龍病，治之方：</b></p>
<p>硬糖<small class="雙行小字">二、三升</small></p>
<p>右一味，日兩度，服之，吐出如蜥蜴三五枚，差。</p>
</span>
<span class="方">
<p><b>食苦瓠中毒，治之方：</b></p>
<p>黎穰煮汁，數服之解。</p>
</span>
<p>扁豆，寒熱者，不可食之。</p>
<p>久食小豆，令人枯燥。</p>
<p>食大豆等，忌啖豬肉。</p>
<p>大麥久食，令人作㿍。</p>
<p>白黍米不可同飴蜜食，亦不可合葵食之。</p>
<p>荍麥麵，多食令人髮落。</p>
<p>鹽多食，傷人肺。</p>
<p>食冷物，冰人齒。食熱物，勿飲冷水。</p>
<p>飲酒，食生蒼耳，令人心痛。</p>
<p>夏月大醉汗流，不得冷水洗著身，及使扇，即成病。</p>
<p>飲酒大忌灸腹背，令人腸結。</p>
<p>醉後勿飽食，發寒熱。</p>
<p>飲酒食豬肉，臥秫稻穰中則發黃。</p>
<p>食飴多飲酒，大忌。</p>
<p>凡水及酒，照見人影動者，不可飲之。</p>
<p>醋合酪食之，令人血瘕。</p>
<p>食白米粥勿食生蒼耳，成走疰。</p>
<p>食甜粥已，食鹽即吐。</p>
<p>犀角嶐攪飲食，沫出，及澆地墳起者，食之殺人。</p>
<span class="方">
<p><b>飲食中毒煩滿，治之方：</b></p>
<p>苦參<small class="雙行小字">三兩</small>　苦酒<small class="雙行小字">一升半</small></p>
<p>右二味，煮三沸，三上三下，服之，吐食出即差，或以水煮亦得。</p>
<p><b>又方：</b></p>
<p>犀角湯亦佳。</p>
</span>
<span class="方">
<p><b>貪食、食多不消，心腹堅滿痛治之方：</b></p>
<p>鹽<small class="雙行小字">一升</small>　水<small class="雙行小字">三升</small></p>
<p>右二味，煮令鹽消，分三服，當吐出食，便差。</p>
</span>
<p>礬石生入腹，破人心肝，亦禁水。</p>
<p>商陸，以水服，殺人。</p>
<p>葶藶子，傅頭瘡，藥成入腦，殺人。</p>
<p>水銀入人耳及六畜等，皆死。以金銀著耳邊，水銀則吐。</p>
<p>苦練無子者殺人。</p>
<p>凡諸毒，多是假毒以投，無知時宜煮甘草薺苨汁飲之，通除諸毒藥。</p>
