<header><h1>瀕湖炮炙法</h1></header>
<dl class="元資料" data-type="book">
<div><dt>作者</dt><dd>雷斆</dd></div>
<div><dt>朝代</dt><dd>南朝</dd></div>
<div><dt>年份</dt><dd><data value="420/581">公元420-581年（南朝·宋）</data></dd></div>
</dl>
<h2>卷一‧玉石類</h2>
<h3>白堊</h3>
<p>〔　曰〕凡使勿用色青並底白者，搗篩末，以鹽湯飛過，曝乾用，則免結澀人腸也。每堊二兩，用鹽一分。〔大明曰〕入藥燒用，不入湯飲。</p>
<h3>梁上塵</h3>
<p>〔　曰〕凡梁上塵，須去煙火大遠，高堂殿上者，拂下，篩淨末用。〔時珍曰〕凡用倒掛塵，燒令煙盡，篩取末入藥。雷氏所說，似是梁上灰塵，今人不見用。</p>
<h3>銀屑</h3>
<p>〔弘景曰〕醫方鎮心丸用之，不可正服。為屑，當以水銀研令消也。〔恭曰〕方家用銀屑，取見成銀箔，以水銀硝之為泥，合硝石及鹽研為粉，燒出水銀，淘去鹽石，為粉極細，用之乃佳，不得只磨取屑耳。〔時珍曰〕入藥只用銀箔易細，若用水銀鹽硝制者，反有毒矣</p>
<p>《龍木論》謂之銀液。又有錫箔可偽，宜辨之。</p>
<h3>赤銅屑</h3>
<p>〔時珍曰〕即打銅落下屑也。或以紅銅火　水淬，亦自落下。以水淘淨，用好酒入沙鍋內炒見火星，取研末用。</p>
<h3>自然銅</h3>
<p>〔　曰〕采得石髓鉛捶碎，同甘草湯煮一伏時，至明漉出，攤令干，入臼中搗了，重篩過，火次，</p>
<h3>鉛</h3>
<p>〔時珍曰〕凡用以鐵銚熔化瀉瓦上，濾去渣腳，如此數次收用。其黑錫灰，則以鉛沙取黑灰。白錫灰，不入藥。</p>
<h3>鉛霜</h3>
<p>〔頌曰〕鉛霜，用鉛雜水銀十五分之一合煉作片，置醋瓮中密封，經久成霜。〔時珍曰以霜</p>
<h3>密陀僧</h3>
<p>〔　曰〕凡使搗細，安瓷鍋中，重紙袋盛柳蛀末焙之，次下東流水浸滿，火煮一伏時，去柳末、紙袋，取用。</p>
<h3>鐵華粉</h3>
<p>〔志曰〕作鐵華粉法：取鋼　作葉，如笏或團，平面磨錯，令光淨，以鹽水洒之，於醋瓮中丸散咸味</p>
<h3>玉屑</h3>
<p>〔弘景曰〕玉屑是以玉為屑，非別一物也。仙經服　玉，有搗如米粒，乃以苦酒輩，消令如泥，亦有合為漿者，凡服玉皆不得用已成器物，及塚中玉璞。〔恭曰〕餌玉當以消作水者為豆，</p>
<h3>玉泉</h3>
<p>〔青霞子曰〕作玉漿法：玉屑一升，地榆草一升，稻米一升，取白露二升，銅器中煮，米熟朱草，瑞草也。朮家取蟾蜍膏軟玉如泥，以苦酒消之成水。</p>
<h3>雲母</h3>
<p>〔　曰〕凡使，黃黑者濃而頑，赤色者，經婦人手把者，並不中用。須要光瑩如冰色者為上。每一斤，用小地膽草、紫背天葵、生甘草、地黃汁各一鎰，干者細銼，濕者取汁了，於瓷卻以池水或以或以除瓦罐珍粉成</p>
<h3>紫石英</h3>
<p>〔時珍曰〕凡入丸散，用火　醋淬七次，碾末水飛過，晒乾入藥。</p>
<h3>丹砂</h3>
<p>〔　曰〕凡修事朱砂，靜室焚香齋沐後，取砂以香水浴過，拭乾，碎搗之，缽中更研三伏時東流山須麻子鐵屑晒用</p>
<h3>水銀</h3>
<p>〔　曰〕凡使勿用草汞並舊朱漆中者，經別藥制過者，在尸中過者，半生半死者。其朱砂中水銀色微紅，收得後用葫蘆貯之，免遺失。若先以紫背天葵並夜交藤自然汁二味同煮一伏時</p>
<h3>水銀粉</h3>
<p>〔時珍曰〕升煉輕粉法：用水銀一兩，白礬二兩，食鹽一兩，同研不見星，鋪於鐵器內，以小烏盆覆之。篩灶灰，鹽水和，封固盆口。以炭火打二炷香取開，則粉升於盆上矣。其白如如上白何</p>
<h3>粉霜</h3>
<p>〔時珍曰〕升煉法：用真汞粉一兩，入瓦罐內令勻。以燈盞仰蓋罐口，鹽泥塗縫。先以小炭定取兩，銀不蓋面分舊前，</p>
<h3>靈砂</h3>
<p>〔慎微曰〕靈砂，用水銀一兩，硫黃六銖，細研炒作青砂頭，後入水火既濟爐，抽之如束針紋者，成就也。〔時珍曰〕按胡演丹藥秘訣云：升靈砂法：用新鍋安逍遙爐上，蜜揩鍋底，之。</p>
<p>取天已天煮</p>
<h3>雄黃</h3>
<p>〔　曰〕每雄黃三兩，以甘草、紫背天葵、地膽、碧棱花各五兩，細銼，東流水入坩堝中，煮能劫於有毒，或如</p>
<h3>雌黃</h3>
<p>〔　曰〕凡修事，勿令婦人、雞、犬、新犯淫人、有患人、不男人、非形人，及曾是刑獄臭遂子淘三形如</p>
<h3>石膏</h3>
<p>〔　曰〕凡使，石臼中搗成粉，羅過，生甘草水飛過，澄晒篩研用。〔時珍曰〕古法惟打碎如豆大，絹包入湯煮之。近人因其性寒，火　過用，或糖拌炒過，則不妨脾胃。</p>
<h3>滑石</h3>
<p>〔　曰〕凡用白滑石，先以刀刮淨研粉，以牡丹皮同煮一伏時。去牡丹皮，取滑石，以東流水淘過，晒乾用。</p>
<h3>五色石脂</h3>
<p>〔　曰〕凡使赤脂，研如粉，新汲水飛過三度，晒乾用。〔時珍曰〕亦有火　水飛者。</p>
<h3>爐甘石</h3>
<p>〔時珍曰〕凡用爐甘石，以炭火　紅，童子小便淬七次，水洗淨，研粉，水飛過，晒用</p>
<h3>井泉石</h3>
<p>〔禹錫曰〕凡用，細研水飛過。不爾，令人淋。</p>
<h3>石鐘乳</h3>
<p>〔　曰〕凡使勿用頭粗濃並尾大者，為孔公石，不用。色黑及經大火驚過，並久在地上收者者。</p>
<p>方用篩過晒乾瓦</p>
<h3>陽起石</h3>
<p>〔大明曰〕凡入藥燒後水　用之，凝白者佳。〔時珍曰〕凡用火中　赤，酒淬七次，研細水飛過，日干。亦有用燒酒浸過，同樟腦入罐升煉，取粉用者。</p>
<h3>磁石</h3>
<p>〔　曰〕凡修事一斤，用五花皮一鎰，地榆一鎰，故綿十五兩，三件並銼。於石上捶，碎作如塵</p>
<h3>代赭石</h3>
<p>〔　曰〕凡使研細，以臘水重重飛過，水面上有赤色如薄云者去之。乃用細茶腳湯煮一伏時，取出又研一萬匝。以淨鐵鐺燒赤，下白蜜蠟一兩，待化投新汲水沖之，再煮一二十沸，取經</p>
<h3>禹餘糧</h3>
<p>〔弘景曰〕凡用，細研水洮，取汁澄之，勿令有沙土也。〔　曰〕見太一下。</p>
<h3>太一余糧</h3>
<p>〔　曰〕凡修事，用黑豆五合，黃精五合，水二斗，煮取五升，置瓷鍋中，下余糧四兩煮之，旋添，汁盡為度，其藥氣自然香如新米，搗了，又研一萬杵，方用。</p>
<h3>曾青</h3>
<p>〔　曰〕凡使勿用夾石及銅青。每一兩要紫背天葵、甘草、青芝草三件，干濕各一鎰，細銼水浴</p>
<h3>砒石</h3>
<p>〔　曰〕凡使用，以小瓷瓶盛，後入紫背天葵、石龍芮二味，火　從巳至申，便用甘草水浸，從申至子，出拭乾，入瓶再　，別研三萬下用。〔時珍曰〕醫家皆言生砒經見火則毒甚，乎？</p>
<h3>土黃</h3>
<p>〔時珍曰〕用砒石二兩，木鱉子仁、巴豆仁各半兩，　砂二錢，為末，用木鱉子油、石腦油和成一塊，油裹，埋土坑內，四十九日取出，劈作小塊，瓷器收用。</p>
<h3>礞石</h3>
<p>〔時珍曰〕用大坩堝一個，以礞石四兩打碎，入硝石四兩拌勻。炭火十五斤簇定，　至硝盡，其石色如金為度。取出研末，水飛去硝毒，晒乾用。</p>
<h3>花乳石</h3>
<p>〔時珍曰〕凡入丸散，以罐固濟，頂火　過，出火毒，研細水飛晒乾用。</p>
<h3>金牙石</h3>
<p>〔大明曰〕入藥燒赤，去粗乃用。</p>
<h3>蛇黃</h3>
<p>〔大明曰〕入藥燒赤醋淬三、四次，研末水飛用。</p>
<h3>食鹽</h3>
<p>〔時珍曰〕凡鹽，人多以礬、硝、灰、石之類雜之。入藥須以水化，澄去腳滓，煎煉白色，乃良。</p>
<h3>凝水石</h3>
<p>〔　曰〕凡使，須用生薑自然汁煮干研粉用。每十兩，用生薑一鎰也。</p>
<h3>玄明粉</h3>
<p>〔時珍曰〕制法：用白淨朴硝十斤，長流水一石，煎化去滓，星月下露一夜，去水取硝每再露一夜取出。以大沙罐一個，築實盛之，鹽泥固濟濃半寸，不蓋口，置爐中，以炭火十斤，從文至武　之。待沸定，以瓦一片蓋口，仍前固濟，再以十五斤頂火　之。放冷一伏時，取出，隔紙安地上，盆覆三日出火毒，研末。每一斤，入生甘草瓶收用。</p>
<h3>硝石</h3>
<p>〔大明曰〕真硝石，柳枝湯煎三周時，如湯少，即加熱者，伏火即止。〔　曰〕凡使硝石，火中七十曰〕</p>
<h3>砂</h3>
<p>〔宗　曰〕凡用須水飛過，去塵穢，入瓷器中，重湯煮干，則殺其毒。〔時珍曰〕今時人多用水飛淨，醋煮干如霜，刮下用之。</p>
<h3>石硫黃</h3>
<p>〔　曰〕凡使勿用青赤色及半白半青、半赤半黑者。自有黃色，內瑩淨似物命者，貴也。凡件合汁盡取出蘿卜莢湯以竹</p>
<h3>礬石</h3>
<p>〔　曰〕凡使白礬石，以瓷瓶盛，於火中　令內外通赤，用鉗揭起蓋，旋安石蜂巢入內燒之。每十兩用巢六兩，燒盡為度。取出放冷，研粉，以紙裹，安五寸深土坑中一宿，取用。</p>
<p>又內一謂之枯礬，不　者為生礬。若入服食，須循法度。按九鼎神丹秘訣，煉礬石入服食法：用新桑合　一具。於密室淨掃，以火燒地令熱，洒水於上，或洒苦酒於上，乃布白礬於地上，以覆之，四面以灰擁定。一日夜，其石精皆飛於　上，掃取收之。未盡者，更如前法，數遍乃止，此為礬精。若欲作水，即以掃下礬精一斤，納三年苦酒一斗中清之，號曰礬華，百日彌佳。若急用之，七日亦可。</p>
<h3>風化硝</h3>
<p>〔時珍曰〕以芒硝於風日中消盡水氣，自成輕飄白粉也。或以瓷瓶盛，掛檐下，待硝滲出瓶外，刮下收之。別有甜瓜盛硝滲出刮收者，或黃牯牛膽囊收硝刮取，皆非甜硝也。</p>
<h2>卷二‧草類</h2>
<h3>甘草</h3>
<p>〔雷　曰〕凡使須去頭尾尖處，其頭尾吐人。每用切長三寸，掰作六七片，入瓷器中盛，用炮令熟，</p>
<h3>黃</h3>
<p>〔　曰〕凡使勿用木　草，真相似，只是生時葉短並根橫也。須去頭上皺皮，蒸半日，擘細，於槐砧上銼用。〔時珍曰〕今人但捶扁，以蜜水塗炙數次，以熟為度。亦有以鹽湯潤透，</p>
<h3>人參</h3>
<p>〔弘景曰〕人參易蛀　，唯納新器中密封，可經年不壞。〔炳曰〕人參頻見風日則易蛀，惟用盛過麻油瓦罐，泡淨焙乾，入華陰細辛與參相間收之，密封，可留經年。一法：用淋過灶宜隔</p>
<h3>桔梗</h3>
<p>〔　曰〕凡使勿用木梗，真似桔梗，只是咬之腥澀不堪。凡用桔梗，須去頭上尖硬二、三分以來、並兩畔附枝。於槐砧上細銼，用生百合搗膏，投水中浸一伏時濾出，緩火熬令干用。</p>
<h3>黃精</h3>
<p>〔　曰〕凡采得以溪水洗淨蒸之，從巳至子，薄切曝乾用。〔頌曰〕羊公服黃精法：二月、汁；之。</p>
<p>密蓋漸漸可食</p>
<h3>葳蕤</h3>
<p>〔　曰〕凡使勿用黃精並鉤吻，二物相似。葳蕤節上有須毛，莖斑，葉尖處有小黃點，為不同。采得以竹刀刮去節皮，洗淨，以蜜水浸一宿，蒸了焙乾用。</p>
<h3>知母</h3>
<p>〔　曰〕凡使，先於槐砧上銼細，焙乾，木臼杵搗，勿犯鐵器。〔時珍曰〕凡用，揀肥潤裡白者，去毛切。引經上行則用酒浸焙乾，下行則用鹽水潤焙。</p>
<h3>肉蓯蓉</h3>
<p>〔　曰〕凡使先須清酒浸一宿，至明以棕刷去沙土浮甲，劈破中心，去白膜一重，如竹絲草樣。有此，能隔人心前氣不散，令人上氣也。以甑蒸之，從午至酉取出，又用酥炙得所。</p>
<h3>赤箭</h3>
<p>〔　曰〕修事天麻十兩，銼安於瓶中。用蒺藜子一鎰，緩火熬焦，蓋於天麻上，以三重紙封若以濕紙包，於糠火中煨熟，取出切片，酒浸一宿，焙乾用。</p>
<h3>蒼朮</h3>
<p>〔大明曰〕用術以米泔浸一宿，入藥。〔宗　曰〕蒼朮辛烈，須米泔浸洗，再換泔浸二日，炒，</p>
<h3>狗脊</h3>
<p>〔　曰〕凡修事，火燎去須，細銼了，酒浸一夜，蒸之，從巳至申，取出晒乾用。〔時珍曰〕今人惟銼炒去毛須用。</p>
<h3>巴戟天</h3>
<p>〔　曰〕凡使須用枸杞子湯浸一宿，待稍軟漉出，再酒浸一伏時，漉出，同菊花熬焦黃，去菊花，以布拭乾用。〔時珍曰〕今法：惟以酒浸一宿，銼焙入藥。若急用，只以溫水浸軟去</p>
<h3>遠志</h3>
<p>〔　曰〕凡使須去心，否則令人煩悶。仍用甘草湯浸一宿，曝乾或焙乾用。</p>
<h3>淫羊藿</h3>
<p>〔　曰〕凡使時呼仙靈脾，以夾刀夾去葉四畔花枝，每一斤用羊脂四兩拌炒，待脂盡為度。</p>
<h3>仙茅</h3>
<p>〔　曰〕采得以清水洗，刮去皮，於槐砧上用銅刀切豆許大，以生稀布袋盛，於烏豆水中浸一宿，取出用酒拌濕蒸之，從巳至亥，取出曝乾。勿犯鐵器及牛乳，斑人鬢須。〔大明曰〕</p>
<h3>玄參</h3>
<p>〔　曰〕凡采得後，須用蒲草重重相隔，入甑蒸兩伏時，晒乾用。勿犯銅器，餌之噎人喉，喪人目。</p>
<h3>紫草</h3>
<p>〔　曰〕凡使，每一斤用蠟三兩溶水拌蒸之，待水干，取去頭並兩畔髭，細銼用。</p>
<h3>黃連</h3>
<p>〔　曰〕凡使以布拭去肉毛，用漿水浸二伏時，漉出，於柳木火上焙乾用。〔時珍曰〕</p>
<p>五臟六為治則以朴硝炒；制其</p>
<h3>秦艽</h3>
<p>〔　曰〕秦艽須於腳文處認取：左文列為秦，治疾；右文列為艽，即發香港腳。凡用秦，以布拭去黃白毛，乃用還元湯浸一宿，日干用。〔時珍曰〕秦艽但以左文者為良，分秦與艽為</p>
<h3>柴胡</h3>
<p>〔　曰〕凡采得銀州柴胡，去須及頭，用銀刀削去赤薄皮少許，以粗布拭盡，銼用。勿令犯火，立便無效也。</p>
<h3>前胡</h3>
<p>〔　曰〕修事先用刀刮去蒼黑皮並髭土了，細銼，以甜竹瀝浸令潤，日中晒乾用。</p>
<h3>獨活</h3>
<p>〔　曰〕采得細銼，以淫羊藿拌，　二日，曝乾去藿，用，免煩人心。〔時珍曰〕此乃服食家治法，尋常去皮或焙用爾。</p>
<h3>升麻</h3>
<p>〔　曰〕采得刮去粗皮，用黃精自然汁浸一宿。曝乾，銼蒸再曝用。〔時珍曰〕今人惟取裡白外黑而緊實者，謂之鬼臉升麻，去須及頭蘆，銼用。</p>
<h3>苦參</h3>
<p>〔　曰〕采根，用糯米濃泔汁浸一宿，其腥穢氣並浮在水面上，須重重淘過，即蒸之，從巳至申，取晒切用。</p>
<h3>貝母</h3>
<p>〔　曰〕凡使，先於柳木灰中炮黃，擘破，去內口鼻中有米許大者心一顆，後拌糯米於上同炒，待米黃，去米用。</p>
<h3>龍膽</h3>
<p>〔　曰〕采得陰乾。用時，銅刀切去須、土、頭了，銼細，甘草湯浸一宿，漉出，曝乾用。</p>
<h3>細辛</h3>
<p>〔　曰〕凡使細辛，切去頭、土了，以瓜水浸一宿，曝乾用。須揀去雙葉者，服之害人</p>
<h3>鬼督郵</h3>
<p>〔　曰〕凡采得細銼，用生甘草水煮一伏時，日干用。</p>
<h3>徐長卿</h3>
<p>〔　曰〕凡采得粗杵，拌少蜜令遍，以瓷器盛，蒸三伏時，日干用。</p>
<h3>白薇</h3>
<p>〔　曰〕凡采得，以糯米泔汁浸一宿，取出去髭，於槐砧上細銼，蒸之從巳至申，晒乾用。〔時珍曰〕後人惟以酒洗用。</p>
<h3>白前</h3>
<p>〔　曰〕凡用，以生甘草水浸一伏時，漉出，去頭須了，焙乾收用。</p>
<h3>當歸</h3>
<p>〔　曰〕凡用去蘆頭，以酒浸一宿入藥。止血破血，頭尾效各不同。若要破血，即使頭一節素曰過，而不天；尾，</p>
<h3>蛇床</h3>
<p>〔　曰〕凡使，須用濃藍汁並百部草根自然汁，同浸一伏時，漉出日干。卻用生地黃汁相拌蒸之，從巳至亥，取出日干用。〔大明曰〕凡服食，即　去皮殼，取仁微炒殺毒，即不辣也</p>
<h3>白芷</h3>
<p>〔　曰〕采得刮去土皮，細銼，以黃精片等分，同蒸一伏時，晒乾去黃精用。〔時珍曰今人采根洗刮寸截，以鍛石拌勻，晒收，防其易蛀，並欲色白也。入藥微焙。</p>
<h3>芍藥</h3>
<p>〔　曰〕凡采得，竹刀刮去皮並頭土銼細，以蜜水拌蒸，從巳至未，晒乾用。〔時珍曰今多生用，惟避中寒者以酒炒，入女人血藥以醋炒耳。</p>
<h3>牡丹</h3>
<p>〔　曰〕凡采得根日干，以銅刀劈破去骨，銼如大豆許，用清酒拌蒸，從巳至未，日干用。</p>
<h3>木香</h3>
<p>〔時珍曰〕凡入理氣藥，只生用，不見火。若實大腸，宜面煨熟用。</p>
<h3>杜若</h3>
<p>〔　曰〕凡使勿用鴨喋草根，真相似，只是味效不同。凡采得根，以刀刮去黃赤皮，細銼，用三重絹袋陰乾。臨使以蜜浸一夜，漉出用。</p>
<h3>高良薑</h3>
<p>〔時珍曰〕高良薑、紅豆蔻，並宜炒過入藥。亦有以薑同吳茱萸、東壁土炒過入藥用者</p>
<h3>豆蔻</h3>
<p>〔　曰〕凡使須去蒂，取向裡子及皮，用茱萸同於　上緩炒，待茱萸微黃黑，即去茱萸，取草豆蔻皮及子杵用之。〔時珍曰〕今人惟以面裹　火煨熟，去皮用之。</p>
<h3>蓽茇</h3>
<p>〔　曰〕凡使，去挺用頭，以醋浸一宿，焙乾，以刀刮去皮粟子令淨乃用，免傷人肺，令人上氣。</p>
<h3>醬</h3>
<p>〔　曰〕凡采得後，以刀刮去粗皮，搗細。每五兩，用生薑自然汁五兩拌之，蒸一日，曝乾用。</p>
<h3>肉豆蔻</h3>
<p>〔　曰〕凡使，須以糯米粉熟湯搜裹豆蔻，於　灰火中煨熟，去粉用。勿令犯鐵。</p>
<h3>補骨脂</h3>
<p>〔　曰〕此性燥毒，須用酒浸一宿，漉出，以東流水浸三日夜，蒸之，從巳至申，日干用。一法：以鹽同炒過，曝乾用。</p>
<h3>蓬莪朮</h3>
<p>〔　曰〕凡使，於砂盆中以醋磨令盡，然後於火畔　干，重篩過用。〔頌曰〕此物極堅硬，入藥</p>
<h3>荊三棱</h3>
<p>〔元素曰〕入藥用須炮熟。〔時珍曰〕消積須用醋浸一日，炒或煮熟焙乾，入藥乃良。</p>
<h3>香附子</h3>
<p>〔　曰〕凡采得陰乾，於石臼中搗之，切忌鐵器。〔時珍曰〕凡采得連苗曝乾，以火燎去苗鹽水得醋浸炒則消積聚，薑汁炒則化痰飲。又稻草煮之，味不苦。</p>
<h3>澤蘭</h3>
<p>〔　曰〕凡用大小澤蘭，細銼，以絹袋盛，懸於屋南畔角上，令干用。又蘭草葉修治同澤蘭。</p>
<h3>香薷</h3>
<p>〔　曰〕凡采得去根留葉，銼曝乾，勿令犯火。服至十兩，一生不得食白山桃也。〔時珍曰〕八、九月開花著穗時，采之陰乾，入用。</p>
<h3>赤車使者</h3>
<p>〔　曰〕此草原名小錦枝。凡用並粗搗，以七歲童子小便拌蒸，晒乾入藥。</p>
<h3>艾</h3>
<p>〔宗　曰〕艾葉干搗，去青滓，取白，入石硫黃末少許，謂之硫黃艾，炙家用之。得米粉少許，可搗為末，入服食藥用。〔時珍曰〕凡用艾葉，須用陳久者，治令細軟，謂之熟艾。</p>
<p>若臼丸佳</p>
<h3>青蒿</h3>
<p>〔　曰〕凡使，惟中為妙，到膝即仰，到腰即俯。使子勿使葉，使根勿使莖，四件若同使，翻然成痼疾。采得葉，用七歲兒七個溺，浸七日七夜，漉出晒乾。</p>
<h3>角蒿</h3>
<p>〔　曰〕凡使勿用紅蒿並邪蒿，二味真似角蒿，只是此香而角短爾。采得，於槐砧上細銼用之。</p>
<h3>茺蔚</h3>
<p>〔時珍曰〕凡用，微炒香，亦或蒸熟，烈日曝燥，舂簸去殼，取仁用。</p>
<h3>劉寄奴草</h3>
<p>〔　曰〕凡采得，去莖葉，只用實。以布拭去薄殼令淨，拌酒蒸，從巳至申，曝乾用。</p>
<p>〔時珍曰〕莖、葉、花、子皆可用。</p>
<h3>旋覆花</h3>
<p>〔　曰〕采得花，去蕊並殼皮及蒂子，蒸之，從巳至午，晒乾用。</p>
<h3>青葙</h3>
<p>〔　曰〕凡用先燒鐵杵臼，乃搗用之。</p>
<h3>續斷</h3>
<p>〔　曰〕凡采得根，橫切銼之，又去向裡硬筋。以酒浸一伏時，焙乾，入藥用。</p>
<h3>漏蘆</h3>
<p>〔　曰〕凡采得漏蘆，細銼，以生甘草相對拌蒸之，從巳至申，揀出晒乾用。</p>
<h3>飛廉</h3>
<p>〔　曰〕凡用根，先刮去粗皮，杵細，以苦酒拌一夜，漉出，日干細杵用。</p>
<h3>葫蘆巴</h3>
<p>〔時珍曰〕凡入藥，淘淨，以酒浸一宿，晒乾，蒸熟或炒過用。</p>
<h3>蠡實</h3>
<p>〔時珍曰〕凡入藥炒過用，治疝則以醋拌炒之。</p>
<h3>惡實</h3>
<p>〔　曰〕凡用揀淨，以酒拌蒸，待有白霜重出，以布拭去，焙乾搗粉用。</p>
<h3>耳</h3>
<p>〔大明曰〕入藥炒熟，搗去刺用，或酒拌蒸過用。〔　曰〕凡采得去心，取黃精，以竹刀細切拌之，蒸從巳至亥時出，去黃精，陰乾用。</p>
<h3>荷</h3>
<p>〔　曰〕凡使勿用革牛草，真相似，其革牛草腥澀。凡使白　荷，以銅刀刮去粗皮一重，細切，入砂盆中研如膏，取自然汁煉作煎，新器攤冷，如干膠狀，刮取用之。</p>
<h3>麻黃</h3>
<p>〔弘景曰〕用之折去節根，水煮十余沸，以竹片掠去上沫。沫令人煩，根節能止汗故也</p>
<h3>燈心草</h3>
<p>〔時珍曰〕燈心難研，以粳米粉漿染過，晒乾研末，入水澄之，浮者是燈心也，晒乾用。</p>
<h3>乾地黃</h3>
<p>〔藏器曰〕乾地黃，本經不言生干及蒸干。方家所用二物各別，蒸干即溫補，生干即平宣，擇肥日</p>
<h3>熟地黃</h3>
<p>〔頌曰〕作熟地黃法：取肥地黃三二十斤淨洗，別以揀下瘦短者三二十斤搗絞取汁，投石器中，浸漉令浹，甑上浸三、四過，時時浸濾轉蒸訖，又曝使汁盡。其地黃當光黑如漆，味甘令氣曰〕</p>
<p>晾和</p>
<h3>牛膝</h3>
<p>〔　曰〕凡使去頭蘆，以黃精自然汁浸一宿，漉出，銼，焙乾用。〔時珍曰〕今惟以酒浸入藥，欲下則生用，滋補則焙用，或酒拌蒸過用。</p>
<h3>紫菀</h3>
<p>〔　曰〕凡使先去須。有白如練色者，號曰羊須草，自然不同。去頭及土，用東流水洗淨，以蜜浸一宿，至明於火上焙乾用。一兩用蜜二分。</p>
<h3>麥門冬</h3>
<p>〔弘景曰〕凡用取肥大者，湯澤，抽去心，不爾令人煩。大抵一斤須減去四五兩也。〔時珍熱，則</p>
<h3>敗醬</h3>
<p>〔　曰〕凡收得便粗杵，入甘草葉相拌對蒸，從巳至未，去甘草葉，焙乾用。</p>
<h3>款冬花</h3>
<p>〔　曰〕凡采得，須去向裡裹花蕊殼，並向裡實如栗零殼者。並枝葉，以甘草水浸一宿卻取款冬葉相拌　一夜，晒乾去葉用。</p>
<h3>瞿麥</h3>
<p>〔　曰〕凡使只用蕊殼，不用莖葉。若一時同使，即空心令人氣噎，小便不禁也。用時以竹瀝浸一伏時，漉晒。</p>
<h3>王不留行</h3>
<p>〔　曰〕凡采得拌濕蒸之，從巳至未。以漿水浸一宿，焙乾用。</p>
<h3>葶藶</h3>
<p>〔　曰〕凡使葶藶，以糯米相合，置於燠上，微焙，待米熟，去米，搗用。</p>
<p>解。張紹堂本作「灶」，義長。</p>
<h3>車前</h3>
<p>〔時珍曰〕凡用子須以水淘洗去泥沙，晒乾。入湯液，炒過用；入丸散，則以酒浸一夜蒸蕊</p>
<h3>虎杖</h3>
<p>〔　曰〕采得細銼，卻用葉包一夜，晒乾用。</p>
<h3>蒺藜</h3>
<p>〔　曰〕凡使揀淨蒸之，從午至酉，日干，木臼舂令刺盡，用酒拌再蒸，從午至酉，日干用。〔大明曰〕入藥不計丸散，並炒去刺用。</p>
<h3>大黃</h3>
<p>〔雷曰〕凡使細切，以文如水旋斑緊重者，銼片蒸之，從巳至未，晒乾，又洒臘水蒸之從器曰〕凡用有蒸、有生、有熟，不得一概用之。〔承曰〕大黃采時，皆以火石爆干貨賣，更無生者，用之亦不須更多炮炙蒸煮。</p>
<h3>商陸</h3>
<p>〔　曰〕取花白者根，銅刀刮去皮，薄切，以東流水浸兩宿，漉出，架甑蒸，以黑豆葉一重，商陸一重，如此蒸之，從午至亥，取出去豆葉，曝乾銼用。無豆葉，以豆代之。</p>
<h3>防葵</h3>
<p>〔　曰〕凡使須揀去　末，用甘草湯浸一宿，漉出曝乾，用黃精自然汁一、二升拌了，土器中炒至汁盡用。</p>
<h3>大戟</h3>
<p>〔　曰〕凡使勿用附生者，誤服令人泄氣不禁，即煎薺　湯解之。采得後，於槐砧上細銼，與海芋葉拌蒸，從巳至申，去芋葉，晒乾用。〔時珍曰〕凡采得以漿水煮軟，去骨，晒乾用</p>
<h3>甘遂</h3>
<p>〔　曰〕凡采得去莖，於槐砧上細銼，用生甘草湯、薺　自然汁二味，攪浸三日，其水如墨汁，乃漉出，用東流水淘六、七次，令水清為度。漉出，於土器中熬脆用之。〔時珍曰〕</p>
<p>今</p>
<h3>續隨子</h3>
<p>〔時珍曰〕凡用去殼，取色白者，以紙包，壓去油，取霜用。</p>
<h3>莨菪</h3>
<p>〔　曰〕修事莨菪子十兩，以頭醋一鎰，煮干為度。卻用黃牛乳汁浸一宿，至明白乳汁黑，即是真者。晒乾搗篩用。</p>
<h3>雲實</h3>
<p>〔　曰〕凡采得，粗搗，相對拌渾顆橡實，蒸一日，揀出曝乾。</p>
<h3>蓖麻子</h3>
<p>〔　曰〕凡使勿用黑天赤利子，緣在地蔞上生，是顆兩頭尖有毒。其蓖麻子，節節有黃黑斑水一</p>
<h3>常山</h3>
<p>〔　曰〕采時連根苗收。如用莖葉，臨時去根。以甘草細銼，同水拌濕蒸之。臨時去甘草，取蜀漆細銼，又拌甘草水勻，再蒸，日干用。其常山，凡用以酒浸一宿，漉出日干，熬搗用</p>
<h3>藜蘆</h3>
<p>〔雷曰〕凡采得去頭，用糯米泔汁煮之，從巳至未，晒乾用。</p>
<h3>附子</h3>
<p>〔保升曰〕附子、烏頭、天雄、側子、烏喙，采得，以生熟湯浸半日，勿令滅氣，出以白灰　之，數易使干。又法：以米粥及糟曲等淹之。並不及前法。〔頌曰〕五物收時，一處造釀其之曰釀密難閩浙才得其中者，其上品則皆貴人得之矣。〔弘景曰〕凡用附子、烏頭、天雄，皆熱灰微炮令拆，勿過焦。惟薑附湯生用之。俗方每用附子，須甘草、人參、生薑相配者，正制其毒故也。〔　曰〕凡使烏頭，宜文武火中炮令皴拆，擘破用。若用附子，須底平有九角如鐵色，一個重一兩者，即是氣全。勿用雜木火，只以柳木灰火中炮令皴拆，以刀刮去上孕子，並去底尖，擘破，於屋下平地上掘一土坑安之，一宿取出，焙乾用。若陰制者，生去皮尖底，薄切，以東流水並黑豆浸五日夜，漉出，日中晒乾用。〔震亨曰〕凡烏、附、天雄，須用童子小便浸透煮過，以殺其毒，並助下行之力，入鹽少許尤好。或以小便浸二七日，揀去壞者，以竹刀每個切作四片，井水淘淨，逐日換水，再浸七日，晒乾用。〔時珍曰〕附子生用則發散，熟用則峻補。生用者，須如陰制之法，去皮臍入藥。熟用者，以水浸過，炮令發拆，去皮臍，乘熱切片再炒，令內外俱黃，去火毒入藥。又法：每一個，用甘草二錢，鹽水、薑汁、童尿各半盞，同煮熟，出火毒一夜用之，則毒去也。</p>
<h3>天雄</h3>
<p>〔　曰〕宜炮皴去皮尖底用，或陰制如附子法亦得。〔大明曰〕凡丸散炮去皮用，飲藥即和以</p>
<h3>側子</h3>
<p>同附子。</p>
<h3>烏頭</h3>
<p>〔時珍曰〕草烏頭或生用，或炮用，或以烏大豆同煮熟，去其毒用。</p>
<h3>天南星</h3>
<p>〔頌曰〕九月采虎掌根，去皮臍，入器中湯浸五七日，日換三四遍，洗去涎，曝乾用。或再淨，仍小坑出用。</p>
<p>常洒脾虛末作取黃</p>
<h3>半夏</h3>
<p>〔弘景曰〕凡用，以湯洗十許過，令滑盡。不爾，有毒戟人咽喉。方中有半夏必須用生薑者，以制其毒故也。〔　曰〕修事半夏四兩，用白芥子末二兩，釅醋六兩，攪濁，將半夏投中以去汁痰汁和妙法</p>
<h3>射干</h3>
<p>〔　曰〕凡采根，先以米泔水浸一宿，漉出，然後以　竹葉煮之，從午至亥，日干用。</p>
<h3>芫花</h3>
<p>〔弘景曰〕用當微熬。不可近眼。〔時珍曰〕芫花留數年陳久者良。用時以好醋煮十數沸，去醋，以水浸一宿，晒乾用，則毒滅也。或以醋炒者次之。</p>
<h3>莽草</h3>
<p>〔　曰〕凡使取葉細銼，以生甘草、水蓼二味同盛入生稀絹袋中，甑中蒸一日，去二件晒乾用。</p>
<h3>菟絲子</h3>
<p>〔　曰〕凡使勿用天碧草子，真相似，只是味酸澀並黏也。菟絲采得，去殼了，用苦酒浸二去三再浸曝搗時，入紙</p>
<h3>五味子</h3>
<p>〔　曰〕凡用以銅刀劈作兩片，用蜜浸蒸，從巳至申，卻以漿浸一宿，焙乾用。〔時珍曰〕入補藥熟用，入嗽藥生用。</p>
<h3>復盆子</h3>
<p>〔詵曰〕復盆子五月采之，烈日曝乾。不爾易爛。〔雷曰〕凡使用東流水淘去黃葉並皮蒂，取子以酒拌蒸一宿，以東流水淘兩遍，又晒乾方用。〔時珍曰〕采得搗作薄餅，晒乾密貯，</p>
<h3>馬兜鈴</h3>
<p>〔　曰〕凡采得實，去葉及蔓，以生絹袋盛於東屋角畔，待干劈開，去革膜，取淨子焙用。</p>
<h3>牽牛子</h3>
<p>〔　曰〕凡采得子，晒乾，水淘去浮者，再晒，拌酒蒸，從巳至未，晒乾收之。臨用舂去黑皮。〔時珍曰〕今多只碾取頭末，去皮麩不用。亦有半生半熟用者。</p>
<h3>栝蔞</h3>
<p>〔　曰〕凡使皮子莖根，其效各別。其栝，圓黃皮濃蒂小；蔞則形長赤皮蒂粗。陰人服蔞，陽人服栝。並去殼革膜及油。用根亦取大二三圍者，去皮搗爛，以水澄粉用。〔時珍曰〕</p>
<p>栝換</p>
<h3>天門冬</h3>
<p>〔弘景曰〕門冬采得蒸，剝去皮食之，甚甘美，止飢，雖曝乾，尤脂潤難搗，必須曝於日中或火烘之。今人呼苗為棘刺，煮作飲宜人，而終非真棘刺也。〔頌曰〕二、三、七、八月采洒</p>
<h3>百部</h3>
<p>〔　曰〕凡采得以竹刀劈，去心皮花，作數十條，懸檐下風乾。卻用酒浸一宿，漉出焙乾，銼用。或一窠八十三條者，號曰地仙苗。若修事餌之，可千歲也。</p>
<h3>何首烏</h3>
<p>〔志曰〕春夏秋采其根，雌雄並用。乘濕以布拭去土，曝乾。臨時以苦竹刀切，米泔浸經宿以瓷制法三合何首</p>
<h3>女葳</h3>
<p>〔　曰〕凡采得陰乾，去頭並白蕊，於槐砧上銼，拌豆淋酒蒸之，從巳至未出，晒乾。</p>
<h3>茜草</h3>
<p>〔　曰〕凡使，用銅刀於槐砧上銼，日干，勿犯鉛鐵器。勿用赤柳草根，真相似，只是味酸澀。誤服令人患內障眼，速服甘草水解之，即毒瓦斯散。</p>
<h3>防己</h3>
<p>〔　曰〕凡使勿用木條，色黃、腥、皮皺、上有丁足子，不堪用。惟要心有花紋黃色者細銼，以車前草根相對蒸半日，晒乾取用。〔時珍曰〕今人去皮銼，酒洗晒乾用。</p>
<h3>赤地利</h3>
<p>〔　曰〕凡采得細銼，用藍葉並根，同入生絹袋盛之，蒸一伏時，去藍晒用。</p>
<h3>絡石</h3>
<p>〔雷曰〕凡采得，用粗布揩去毛了，以熟甘草水浸一伏時，切，晒用。</p>
<h3>澤瀉</h3>
<p>〔　曰〕不計多少，細銼，酒浸一宿，取出曝乾，任用。</p>
<h3>菖蒲</h3>
<p>〔　曰〕凡使勿用泥菖、夏菖二件，如竹根鞭，形黑、氣穢味腥。惟石上生者，根條嫩黃，熟，</p>
<h3>蒲黃</h3>
<p>〔　曰〕凡使勿用松黃並黃蒿。其二件全似，只是味　及吐人。真蒲黃須隔三重紙焙令色</p>
<h3>水萍</h3>
<p>〔時珍曰〕紫背浮萍，七月采之，揀淨，以竹篩攤晒，下置水一盆映之，即易干色。</p>
<h3>海藻</h3>
<p>〔　曰〕凡使須用生烏豆，並紫背天葵，三件同蒸一伏時，日干用。〔時珍曰〕近人但洗淨咸味，焙乾用。</p>
<h3>昆布</h3>
<p>〔　曰〕凡使昆布，每一斤，用甑箅大小十個，同銼細，以東流水煮之，從巳至亥，待咸味去，乃晒焙用。</p>
<h3>石斛</h3>
<p>〔　曰〕凡使，去根頭，用酒浸一宿，曝乾，以酥拌蒸之，從巳至酉，徐徐焙乾，用入補藥乃效。</p>
<p>〔　曰〕凡使，去根頭，用酒浸一宿，曝乾，以酥拌蒸之，從巳至酉，徐徐焙乾，用入補藥乃效。</p>
<h3>石葦</h3>
<p>〔別錄曰〕凡用去黃毛。毛射人肺，令人咳，不可療。〔大明曰〕入藥去梗，須微炙用一法：以羊脂炒干用。</p>
<h3>卷柏</h3>
<p>〔時珍曰〕凡用，以鹽水煮半日，再以井水煮半日，晒乾焙用。</p>
<h3>馬勃</h3>
<p>〔時珍曰〕凡用以生布張開，將馬勃於上摩擦，下以盤承，取末用。</p>
<h2>卷三‧木類</h2>
<h3>柏實</h3>
<p>〔　曰〕凡使先以酒浸一宿，至明漉出，晒乾。用黃精自然汁於日中煎之，緩火煮成煎為度舂簸</p>
<h3>柏葉</h3>
<p>〔　曰〕凡用　去兩畔並心枝了，用糯泔浸七日，以酒拌蒸一伏時。每一斤用黃精自然汁十二兩浸焙，又浸又焙，待汁乾用之。〔時珍曰〕此服食治法也。常用或生或炒，各從本方。</p>
<h3>松脂</h3>
<p>〔弘景曰〕采煉松脂法，並在服食方中。以桑灰汁或酒煮軟，　納寒水中數十過，白滑則可用。〔頌曰〕凡用松脂，先須煉治。用大釜加水置甑，用白茅籍甑底，又加黃砂於茅上，濃既凝又蒸，如此三過，其白如玉，然後入用。</p>
<h3>辛夷</h3>
<p>〔　曰〕凡用辛夷，拭去赤肉毛了，以芭蕉水浸一宿。用漿水煮之，從巳至未，取出焙乾用。若治眼目中患，即一時去皮，用向裡實者。〔大明曰〕入藥微炙。</p>
<h3>沉香</h3>
<p>〔觜曰〕凡使沉香，須要不枯，如觜角硬重沉於水下者為上，半沉者次之。不可見火。</p>
<p>〔時煎劑，惟</p>
<h3>楓香脂</h3>
<p>〔時珍曰〕凡用以齏水煮二十沸，入冷水中，揉扯數十次，晒乾用。</p>
<h3>乳香</h3>
<p>〔頌曰〕乳性至黏難碾。用時以繒袋掛於窗隙間，良久取研，乃不黏也。〔大明曰〕入丸散，或言熱水源</p>
<h3>沒藥</h3>
<p>修治同乳香。</p>
<h3>騏竭</h3>
<p>〔　曰〕凡使先研作粉，篩過入丸散中用。若同眾藥搗，則化作塵飛也。</p>
<h3>龍腦香</h3>
<p>〔恭曰〕龍腦香合糯米炭、相思子貯之，則不耗。〔時珍曰〕或言以雞毛、相思子同入小瓷辨也</p>
<h3>樟腦</h3>
<p>〔時珍曰〕凡用，每一兩以二碗合住，濕紙糊口，文武火　之。半時許取出，冷定用。</p>
<p>又法：每一兩，用黃連、薄荷六錢，白芷、細辛四錢、荊芥、密蒙花二錢，當歸、槐花一錢。</p>
<p>以待水干取開，其腦自升於上。以翎掃下，形似松脂，可入風熱眼藥。人亦多以亂片腦，不可不辨。</p>
<h3>柏木</h3>
<p>〔　曰〕凡使柏皮，削去粗皮，用生蜜水浸半日，漉出晒乾，用蜜塗，文武火炙，令蜜盡為度。每五兩，用蜜三兩。〔元素曰〕二制治上焦，單制治中焦，不制治下焦也。</p>
<p>〔時珍曰〕</p>
<p>蜜製則治中。</p>
<h3>厚朴</h3>
<p>〔　曰〕凡使要紫色味辛者為好，刮去粗皮。入丸散，每一斤用酥四兩炙熟用。若入湯飲，用自然薑汁八兩炙盡為度。〔大明曰〕凡入藥去粗皮，用薑汁炙，或浸炒用。</p>
<p>〔宗　曰〕味</p>
<h3>杜仲</h3>
<p>〔　曰〕凡使削去粗皮。每一斤，用酥一兩，蜜三兩，和塗火炙，以盡為度。細銼用。</p>
<h3>乾漆</h3>
<p>〔大明曰〕乾漆入藥，須搗碎炒熟。不爾，損人腸胃。若是濕漆，煎干更好。亦有燒存性者。</p>
<h3>椿樗</h3>
<p>〔　曰〕凡使椿根，不近西頭者為上。采出拌生蔥蒸半日，銼細，以袋盛掛屋南畔，陰乾用。</p>
<p>〔時珍曰〕椿、樗木皮、根皮，並刮去粗皮，陰乾，臨時切焙入用。</p>
<h3>楝實</h3>
<p>〔　曰〕凡采得晒乾，酒拌令透，蒸待皮軟，刮去皮，取肉去核用。凡使肉不使核，使核不使肉。如使核，捶碎，用漿水煮一伏時，晒乾。其花落子，謂之石茱萸，不入藥用。</p>
<p>〔嘉謨</p>
<h3>槐實</h3>
<p>〔　曰〕凡采得，去單子並五子者，只取兩子、三子者，以銅錘錘破，用烏牛乳浸一宿，蒸過用。</p>
<h3>槐花</h3>
<p>〔宗　曰〕未開時采收，陳久者良，入藥炒用。染家以水煮一沸出之，其稠滓為餅，染色更鮮也。</p>
<h3>皂莢</h3>
<p>〔　曰〕凡使，要赤肥並不蛀者，以新汲水浸一宿，用銅刀削去粗皮，以酥反復炙透，捶去依</p>
<h3>皂莢子</h3>
<p>〔　曰〕揀取圓滿堅硬不蛀者，以甑煮熟，剝去硬皮一重，取向裡白肉兩片，去黃，以銅刀切，晒用。其黃消人腎氣。</p>
<h3>無食子</h3>
<p>〔　曰〕凡使勿犯銅鐵，並被火驚。用顆小、無　米者妙。用漿水於砂盆中研令盡，焙乾再研，如烏犀色入藥。</p>
<h3>訶黎勒</h3>
<p>〔　曰〕凡用訶黎勒，酒浸後蒸一伏時，刀削去路，取肉銼焙用。用核則去肉。</p>
<h3>櫸木皮</h3>
<p>〔　曰〕凡使勿用三四年者無力，用二十年以來者心空，其樹只有半邊，向西生者良。</p>
<p>剝下去粗皮，細銼蒸之，從巳至未，出，焙乾用。</p>
<h3>白楊木皮</h3>
<p>〔　曰〕凡使，銅刀刮去粗皮蒸之，從巳至未。以布袋盛，掛屋東角，待干用。</p>
<h3>蘇方木</h3>
<p>〔　曰〕凡使去上粗皮並節。若得中心文橫如紫角者，號曰木中尊，其力倍常百等。須細銼重搗，拌細梅樹枝蒸之，從巳至申，陰乾用。</p>
<h3>巴豆</h3>
<p>〔弘景曰〕巴豆最能瀉人，新者佳，用之去心、皮，熬令黃黑，搗如膏，乃和丸散。</p>
<p>〔明曰〕凡入用殼者，用豆霜）。</p>
<h3>大風子</h3>
<p>〔時珍曰〕取大風子油法：用子三斤（去殼及黃油者）研極爛，瓷器盛之，封口入滾湯中，蓋鍋密封，勿令透氣，文武火煎至黑色如膏，名大風油，可以和藥。</p>
<h3>桑根</h3>
<p>〔別錄曰〕采無時。出土上者殺人。〔弘景曰〕東行桑根乃易得，而江邊多出土，不可輕信治心根，鐵及</p>
<h3>楮實</h3>
<p>〔　曰〕采得後，水浸三日，攪旋投水，浮者去之。晒乾，以酒浸一伏時了。蒸之，從巳至亥，焙乾用。經驗後方：煎法：六月六日，采取　（即楮）子五升，以水一斗，煮取五升，去</p>
<h3>枳實</h3>
<p>〔弘景曰〕枳實采，破令干，除核，微炙令香用。以陳者為良。俗方多用，道家不須。</p>
<p>〔並去穰核</p>
<h3>梔子</h3>
<p>〔　曰〕凡使須要如雀腦，並須長有九路赤色者為上。先去皮、須取仁，以甘草水浸一宿，治</p>
<h3>蕤核</h3>
<p>〔　曰〕凡使蕤核仁，以湯浸去皮、尖，擘作兩片。每四兩，用芒硝一兩，木通草七兩同水煮一伏時，取仁研膏入藥。</p>
<h3>山茱萸</h3>
<p>〔　曰〕凡使以酒潤，去核取皮，一斤只取四兩以來，緩火熬干方用。能壯元氣，秘精其核能滑精，不可服。</p>
<h3>郁李</h3>
<p>〔　曰〕先以湯浸，去皮、尖，用生蜜浸一宿，漉出陰乾，研如膏用之。</p>
<h3>衛矛</h3>
<p>〔　曰〕采得只使箭頭用，拭去赤毛，以酥拌緩炒。每一兩，用酥二錢半。</p>
<h3>枸杞（地骨皮）</h3>
<p>〔　曰〕凡使根，掘得以東流水浸，刷去土，捶去心，以熟甘草湯浸一宿，焙珍曰〕凡用子，揀淨枝梗，取鮮明者洗淨，酒潤一夜，搗爛入藥。</p>
<h3>牡荊瀝</h3>
<p>〔時珍曰〕取法：用新采荊莖，截尺五寸長，架於兩磚上，中間燒火炙之，兩頭以器承取，汁瀝</p>
<h3>蔓荊實</h3>
<p>〔　曰〕凡使，去蒂子下白膜一重，用酒浸一伏時，蒸之從巳至未，晒乾用。〔時珍曰尋常只去膜打碎用之。</p>
<h3>密蒙花</h3>
<p>〔　曰〕凡使揀淨，酒浸一宿，漉出候干，拌蜜令潤，蒸之從卯至酉，日干再拌蒸，如此三度，日干用。每一兩用酒八兩，蜜半兩。</p>
<h3>賣子木</h3>
<p>〔　曰〕凡采得粗搗，每一兩用酥五錢，同炒干入藥。</p>
<h3>茯苓</h3>
<p>〔　曰〕凡用，去皮、心，搗細，於水盆中攪濁，浮者濾去之。此是茯苓赤筋，若誤服餌，令人瞳子並黑睛點小，兼盲目。〔弘景曰〕作丸散者，先煮二、三沸仍切，曝乾用。</p>
<h3>琥珀</h3>
<p>〔　曰〕入藥，用水調側柏子末，安瓷鍋中，置琥珀於內煮之，從巳至申，當有異光，搗粉篩用。</p>
<h3>豬苓</h3>
<p>〔　曰〕采得，銅刀削去粗皮，薄切，以東流水浸一夜。至明漉出，細切，以升麻葉對蒸一日，去葉，晒乾用。〔時珍曰〕豬苓取其行濕，生用更佳。</p>
<h3>雷丸</h3>
<p>〔　曰〕凡使，用甘草水浸一夜，銅刀刮去黑皮，破作四五片。以甘草水再浸一宿，蒸之，從巳至未，日干。酒拌再蒸，日干用。〔大明曰〕入藥炮用。</p>
<h3>桑上寄生</h3>
<p>〔　曰〕采得，銅刀和根、枝、莖、葉細銼，陰乾用。勿見火。</p>
<h3>淡竹瀝</h3>
<p>〔機曰〕將竹截作二尺長，劈開。以磚兩片對立，架竹於上。以火炙出其瀝，以盤承取</p>
<p>〔其汁瀝</p>
<h2>卷四‧蟲獸類</h2>
<h3>蜂蜜</h3>
<p>〔　曰〕凡煉蜜一斤，只得十二兩半是數。若火少、火過，並用不得。〔時珍曰〕凡煉沙蜜，每斤入水四兩，銀石器內，以桑柴火慢煉，掠去浮沫，至滴水成珠不散乃用，謂之水火煉</p>
<h3>露蜂房</h3>
<p>〔　曰〕凡使革蜂窠，先以鴉豆枕等同拌蒸，從巳至未時，出鴉豆枕了，晒乾用。〔大明曰〕入藥並炙用。</p>
<h3>五倍子（百藥煎）</h3>
<p>〔時珍曰〕用五倍子為粗末。每一斤，以真茶一兩煎濃汁，入酵糟四兩，擂爛拌和，器盛置糠缸中　之，待發起如發面狀即成矣。捏作餅丸，晒乾用。〔嘉謨曰〕入藥者，五倍子（鮮者）十斤舂細，用瓷缸盛，稻草蓋，　七日夜。取出再搗，入桔梗、甘草末各二兩，又　一七。仍搗仍　，滿七次，取出捏餅，晒乾用。如無鮮者，用干者水漬為之。又方：五倍子一斤，生糯米一兩（滾水浸過），細茶一兩，以上共研末，入罐內封固，六月要一七，取開配合用。又方：五倍子一斤（研末），酒曲半斤，細茶一把（研末）。上用小蓼汁調勻，入缽中按緊，上以長稻草封固。另用籮一個，多著稻草，將藥缽坐草中，上以稻草蓋，置淨處。過一七後，看藥上長起長霜，藥則已成矣。或捏作丸，或作餅，晒乾才可收用。</p>
<h3>桑螵蛸</h3>
<p>〔別錄曰〕桑螵蛸生桑枝上，螳螂子也。二月、三月采，蒸過火炙用。不爾令人泄。</p>
<p>〔淘七次，鍋干，於柳木</p>
<h3>僵蠶</h3>
<p>〔別錄曰〕生穎川平澤。四月取自死者。勿令中濕，有毒不可用。〔弘景曰〕人家養蠶時，白。</p>
<p>者佳凡使，先以糯米泔浸一日，待蠶桑涎出，如蝸涎浮水上，然後漉出，微火焙乾，以布拭淨黃肉、毛，並黑口甲了，搗篩如粉，入藥。</p>
<h3>樗雞</h3>
<p>〔時珍曰〕凡使去翅、足，以糯米或用面炒黃色，去米、面用。</p>
<h3>斑蝥</h3>
<p>〔　曰〕凡斑蝥、芫青、亭長、地膽修事，並用糯米、小麻子相拌炒，至米黃黑色取出，去頭、足、兩翅，以血余裹，懸東牆角上一夜，至明用之，則毒去也。〔大明曰〕入藥須去翅</p>
<h3>水蛭</h3>
<p>〔保升曰〕采得，以　竹筒盛，待干，用米泔浸一夜，曝乾，以冬豬脂煎令焦黃，然後用之。〔藏器曰〕收干蛭，當展其身令長，腹中有子者去之。性最難死，雖以火炙，亦如魚子煙入腸或</p>
<h3>蠐螬</h3>
<p>〔　曰〕凡收得後陰乾，與糯米同炒，至米焦黑取出，去米及身上、口畔肉毛並黑塵了作三四截，研粉用之。〔時珍曰〕諸方有干研及生取汁者，又不拘此例也。</p>
<h3>蟬蛻</h3>
<p>〔時珍曰〕凡用蛻殼，沸湯洗，去泥土、翅、足，漿水煮過，晒乾用。</p>
<h3>蜣螂</h3>
<p>〔別錄曰〕五月五日采取蒸藏之，臨用（去足）火炙。勿置水中，令人吐。</p>
<h3>蜚虻</h3>
<p>〔大明曰〕入丸、散，去翅、足，炒熟用。</p>
<h3>蟾蜍</h3>
<p>〔蜀圖經曰〕五月五日采得，日干或烘乾用。一法：去皮、爪，酒浸一宿，又用黃精自然汁之。</p>
<p>可丸</p>
<h3>蟾酥</h3>
<p>〔宗　曰〕眉間白汁，謂之蟾酥。以油單紙裹眉裂之，酥出紙上，陰乾用。〔時珍曰〕</p>
<p>取蟾筒內下，</p>
<h3>蛤蟆</h3>
<p>〔　曰〕凡使蛤蟆，先去皮並腸及爪子，陰乾。每個用真牛酥一分塗，炙干。若使黑虎，即連頭、尾、皮、爪並陰乾，酒浸三日，漉出焙用。</p>
<h3>蜈蚣</h3>
<p>〔　曰〕凡使勿用千足蟲，真相似，只是頭上有白肉，面並嘴尖。若誤用，並把著，腥臭氣入頂，能致死也。凡制蜈蚣，先以蜈蚣木末（或柳蛀末）於土器中炒，令木末焦黑，去木末，去尾</p>
<h3>馬陸</h3>
<p>〔雷曰〕凡收得馬陸，以糠頭炒，至糠焦黑，取出去糠，竹刀刮去頭、足，研末用。</p>
<h3>蚯蚓</h3>
<p>〔弘景曰〕若服干蚓，須熬作屑。〔　曰〕凡收得，用糯米泔浸一夜，漉出，以無灰酒浸一日，焙乾切。每一兩，以蜀椒、糯米各二錢半同熬，至米熟，揀出用。〔時珍曰〕入藥有為</p>
<h3>龍骨</h3>
<p>〔　曰〕凡用龍骨，先煎香草湯浴兩度，搗粉，絹袋盛之。用燕子一只，去腸肚，安袋於內，懸井面上，一宿取出，研粉。入補腎藥中，其效如神。〔時珍曰〕近世方法，但　赤為粉煮焙胃，</p>
<h3>龍齒</h3>
<p>同龍骨。或云以酥炙。</p>
<h3>鼉甲</h3>
<p>酥炙，或酒炙用。</p>
<h3>鯪鯉甲</h3>
<p>〔時珍曰〕方用或炮、或燒，或酥炙、醋炙、童便炙，或油煎、土炒、蛤粉炒，當各隨本方，未有生用者。仍以尾甲乃力勝。</p>
<h3>石龍子</h3>
<p>〔時珍曰〕古方用酥炙或酒炙。惟治傳尸勞瘵天靈蓋丸，以石蜥蜴連腸肚，以醋炙四十九遍用之，亦一異也。</p>
<h3>蛤蚧</h3>
<p>〔　曰〕其毒在眼。須去眼及甲上、尾上、腹上肉毛，以酒浸透，隔兩重紙緩焙令干，以瓷器盛，懸屋東角上一夜用之，力可十倍，勿傷尾也。〔日華曰〕凡用去頭、足，洗去鱗鬣內息者</p>
<h3>蛇蛻</h3>
<p>〔　曰〕凡使，勿用青、黃、蒼色者，只用白色如銀者。先於地下掘坑，深一尺二寸，安蛻於中，一宿取出，醋浸炙干用。〔時珍曰〕今人用蛇蛻，先以皂莢水洗淨纏竹上，或酒、或</p>
<h3>白花蛇</h3>
<p>〔頌曰〕頭尾各一尺，有大毒，不可用。只用中段干者，以酒浸，去皮、骨，炙過收之則不炙，頭尾之，炭火</p>
<h3>烏賊魚骨</h3>
<p>〔弘景曰〕炙黃用。〔　曰〕凡使勿用沙魚骨，其形真似。但以上文順者是真，橫者是假。以血鹵作水浸，並煮一伏時漉出。掘一坑燒紅，入魚骨在內，經宿取出入藥，其效加倍也。</p><h3>龜甲</h3>
<p>以龜甲鋸去四邊，石上磨淨，灰火炮過，塗酥炙黃用。亦有酒炙、醋炙、豬脂炙、燒灰用者。</p>
<h3>秦龜甲</h3>
<p>〔李　曰〕經卜者更妙。以酥或酒炙黃用。</p>
<h3>綠毛龜</h3>
<p>〔時珍曰〕此龜古方無用者。近世滋補方往往用之，大抵與龜甲同功。劉氏先天丸用之，其法用龜九枚，以活鯉二尾安釜中，入水，覆以米篩，安龜在篩上蒸熟，取肉晒乾。其甲仍以</p>
<h3>鱉甲</h3>
<p>〔別錄曰〕鱉甲生丹陽池澤。采無時。〔頌曰〕今處處有之，以岳州‧沅江所出甲有九肋者者便用盡三升，乃去裙、肋骨，炙干入用。若治勞去熱藥，不用醋，用童子小便煎，盡一斗二升，乃去裙留骨，石臼搗粉，以雞　皮裹之，取東流水三斗盆盛，閣於盆上，一宿取用，力有萬倍也。〔時珍曰〕按《衛生寶鑒》云：「凡鱉甲，以　灶灰一斗，酒五升，浸一夜，煮令爛如膠漆用，更佳。桑柴灰尤妙。」</p>
<h3>蟹</h3>
<p>〔時珍曰〕凡蟹生烹，鹽藏糟收，酒浸、醬汁浸，皆為佳品。但久留易沙，見燈亦沙，得椒蟹名</p>
<h3>牡蠣</h3>
<p>〔宗　曰〕凡用，須泥固燒為粉。亦有生用者。〔　曰〕凡用牡蠣，先用二十個，以東流水入鹽一兩，煮一伏時，再入火中　赤，研粉用。〔時珍曰〕按溫隱居云：「牡蠣將童尿浸四</p>
<h3>真珠</h3>
<p>〔李　曰〕凡用，以新完未經鑽綴者研如粉，方堪服食。不細則傷人臟腑。〔　曰〕凡用以乃淘淨人長生。以酪漿漬之，皆化如水銀，以浮石、蜂巢、蛇黃等物合之，可引長三四尺，為丸服之。〔時珍曰〕凡入藥，不用首飾及見尸氣者。以人乳浸三日，煮過如上搗研。一法：以絹袋盛，入豆腐腹中，煮一炷香，云不傷珠也。</p>
<h3>海蛤</h3>
<p>〔　曰〕凡使海蛤，勿用游波蟲骨。真相似，只是面上無光。誤餌之，令人狂走欲投水如東流水淘三次，搗粉用。〔保升曰〕取得，以半天河煮五十刻，以枸杞汁拌勻，入　竹筒內蒸一伏時，搗用。</p>
<h3>石決明</h3>
<p>〔　曰〕凡用以面裹煨熟，磨去粗皮，爛搗，再乳細如面，方堪入藥。〔　曰〕每五兩用鹽半分，同東流水入瓷器內煮一伏時，搗末研粉。再用五花皮、地榆、阿膠各十兩，以東流水今方</p>
<h3>蛤粉</h3>
<p>〔震亨曰〕用蛤蜊燒　成粉，不入煎劑。〔時珍曰〕按吳球云：凡用蛤粉，取紫口蛤蜊殼，炭火　成，以熟栝蔞連子同搗，和成團，風乾用，最妙。</p>
<h3>魁蛤</h3>
<p>〔日華曰〕凡用，取陳久者炭火　赤，米醋淬三度，出火毒，研粉。</p>
<h3>貝子</h3>
<p>〔　曰〕凡入藥，燒過用。〔　曰〕凡使，勿用花蟲殼，真相似，只是無效。貝子以蜜醋相對浸之，蒸過取出，以清酒淘，研。</p>
<h3>珂</h3>
<p>〔　曰〕珂，要冬采得色白膩者，並有白旋水文。勿令見火，即無用也。凡用以銅刀刮末研細，重羅再研千下，不入婦人藥也。</p>
<h3>甲香</h3>
<p>〔　曰〕凡使，用生茅香、皂角同煮半日，石臼搗篩用之。〔經驗方曰〕凡使，用黃泥同水</p>
<p>〔頌出，三復硬，香，兗</p>
<h3>人牙</h3>
<p>〔時珍曰〕兩旁曰牙，當中曰齒。入藥燒用。《錢氏小兒方》云：「用人牙燒存性。入麝香或青紫，或變黑，用人齒脫落者，不拘多少，瓦罐固濟，　過出火毒，研末用。」</p>
<h3>糞清</h3>
<p>〔大明曰〕臘月截淡竹，去青皮，納糞中，浸滲取汁，治天行熱疾中毒，名糞清。〔弘景曰〕以空罌塞口，納糞中，積年得汁，甚黑而苦，名為黃龍湯，療溫病垂死者皆瘥。</p>
<h3>人中黃</h3>
<p>〔震亨曰〕人中黃，以竹筒入甘草末於內，竹木塞兩頭，冬月浸糞缸中，立春取出，懸風處陰乾，破竹取草，晒乾用。</p>
<h3>爪甲</h3>
<p>〔普濟〕治破傷風。用人手足指甲燒存性六錢，薑製南星、獨活、丹砂各二錢，為末，分作二服，酒下。</p>
<h3>亂髮</h3>
<p>〔別錄〕鼻衄，亂髮燒灰，吹之立已。〔華佗中藏經〕頭發切，入銚內炒存性。研。</p>
<p>〔先以苦參干，入罐</p>
<h3>天靈蓋</h3>
<p>〔藏器曰〕凡用彌腐爛者乃佳。有一片如三指闊者，取得，用　火罨一夜。待腥穢氣盡，卻藥魂男</p>
<h3>人胞</h3>
<p>〔吳球曰〕紫河車，古方不分男女。近世男用男，女用女：一云男病用女，女病用男。</p>
<p>初生膜，蒸者藥最</p>
<h3>胞衣水</h3>
<p>〔藏器曰〕此乃胞衣埋地下，七八年化為水，澄徹如冰。南方人以甘草、升麻和諸藥，瓶盛埋之，三五年後掘出，取為藥也。</p>
<h3>豬脂</h3>
<p>〔時珍曰〕凡凝者為肪為脂，釋者為膏為油，臘月煉淨收用。〔恭曰〕十二月上亥日，取入新瓶，埋亥地百日用之，名　脂。每升入雞子白十四枚，更良。〔弘景曰〕勿令中水。</p>
<p>臘月</p>
<h3>白馬陰莖</h3>
<p>〔藏器曰〕凡收，當取銀色無病白馬，春月游牝時，力勢正強者，生取陰乾，百日用。</p>
<p>〔用。</p>
<h3>阿膠</h3>
<p>〔弘景曰〕凡用皆火炙之。〔　曰〕凡用，先以豬脂浸一夜，取出，柳木火上炙燥研用</p>
<p>〔膏，或</p>
<h3>牛黃</h3>
<p>〔　曰〕凡用，單搗細研如塵，絹裹定，以黃嫩牛皮裹，懸井中一宿，去水三四尺，明早取之。</p>
<h3>虎骨</h3>
<p>〔頌曰〕虎骨用頭及脛骨，色黃者佳。凡虎身數物，俱用雄虎者勝。藥箭射殺者，不可入藥，其毒浸漬骨血間，能傷人也。〔時珍曰〕凡用虎之諸骨，並捶碎去髓，塗酥或酒或醋，各隨方法，炭火炙黃入藥。</p>
<h3>虎睛</h3>
<p>〔頌曰〕虎睛多偽，須自獲者乃真。〔　曰〕凡使虎睛，須問獵人：有雌有雄，有老有嫩，有殺得者。惟中毒自死者勿用之，能傷人。虎睛，以生羊血浸一宿漉出，微火焙乾，搗粉用。〔時珍曰〕《千金》治狂邪，有虎睛湯、虎睛丸，並用酒浸炙干用。</p>
<h3>象膽</h3>
<p>〔　曰〕凡使勿用雜膽。其象膽干了，上有青竹文斑光膩，其味微帶甘。入藥勿便和眾藥，須先搗成粉，乃和眾藥。（按：本條《大觀》、《政和》無。）</p>
<h3>犀角</h3>
<p>〔弘景曰〕入藥惟雄犀生者為佳。若犀片及見成器物皆被蒸煮，不堪用。〔頌曰〕凡犀入藥蛻角湯、坼燥</p>
<h3>熊脂</h3>
<p>〔　曰〕凡取得，每一斤入生椒十四個，同煉過，器盛收之。</p>
<h3>熊掌</h3>
<p>《聖惠方》云：熊掌難　（義同爛），得酒、醋、水三件同煮，熟即大如皮球也。</p>
<h3>羚羊角</h3>
<p>〔　曰〕凡用，有神羊角甚長，有二十四節，內有天生木胎。此角有神力，可抵千牛。</p>
<p>凡使更研</p>
<h3>鹿茸</h3>
<p>〔別錄曰〕四月、五月解角時取，陰乾，使時燥。〔恭曰〕鹿茸，夏收之陰乾，百不收一，且易臭，惟破之火干大好。〔　曰〕凡使鹿茸，用黃精自然汁浸兩日夜，漉出切焙搗用，免脆研矣</p>
<h3>鹿角</h3>
<p>〔詵曰〕凡用鹿角、麋角，並截段錯屑，以蜜浸過，微火焙，令小變色，曝乾，搗篩為末。</p>
<p>按崔盛之</p>
<h3>白膠</h3>
<p>（一名鹿角膠）〔別錄曰〕白膠生云中，煮鹿角作之。〔弘景曰〕今人少復煮作，惟合角弓用之。其法：先以米瀋汁漬七日令軟，煮煎如作阿膠法耳。又一法：銼角令細，入干牛皮一片何煮之。〔　曰〕采全角鋸開，並長三寸，以物盛，於急水中浸一百日取出，刀刮去黃皮，拭淨。以釅醋煮七日，旋旋添醋，勿令少歇。戌時不用著火，只從子至戌也。日足，角白色，軟如粉。搗爛，每十兩入無灰酒一鎰，煮成膠，陰乾研篩用。〔時珍曰〕今人呼煮爛成粉者，為鹿角霜；取粉熬成膠，或只以濃汁熬成膏者，為鹿角膠。按胡　《衛生方》云：以米泔浸鹿角七日令軟，入急流水中浸七日，去粗皮，以東流水、桑柴火煮七日，旋旋添水，入醋少許，搗成霜用。其汁，加無灰酒，熬成膠用。又邵以正《濟急方》云：用新角三對，寸截，盛於長流水浸三日，刮淨，入楮實子、桑白皮、黃蠟各二兩，鐵鍋中水煮三日夜，不可少停，水少即添湯。日足，取出刮淨，晒研為霜。韓　《醫通》云：以新鹿角寸截，囊盛，於流水中浸七日，以瓦缶入水，桑柴火煮。每一斤，入黃蠟半斤，以壺掩住，水少旋添。其角軟，以竹刀刮淨，搗為霜用。</p>
<h3>麋角</h3>
<p>〔　曰〕麋角，頂根上有黃毛若金線，兼旁生小尖也。色蒼白者為上。〔詵曰〕凡用麋角，小者與鹿盛牛再以</p>
<p>〔附〕麋茸修治與鹿茸同。</p>
<h3>麝香</h3>
<p>〔　曰〕凡使麝香，用當門子尤妙。以子日開之，微研用，不必苦細也。</p>
<h3>貓屎</h3>
<p>臘月采干者，泥固，燒存性，收用。</p>
<h3>膃肭臍</h3>
<p>〔　曰〕用酒浸一日，紙裹炙香銼搗。或於銀器中，以酒煎熟合藥。〔時珍曰〕以漢椒樟腦同收，則不壞。</p>
<h3>皮</h3>
<p>細銼，炒黑入藥。</p>
<h3>雄雀屎</h3>
<p>〔日華曰〕凡鳥右翼掩左者是雄。其屎頭尖挺直。〔　曰〕凡使，勿用雀兒糞。雀兒口黃，去雄分用，則出自雷氏也。</p>
<h3>伏翼</h3>
<p>〔　曰〕凡使要重一斤者。先拭去肉上毛，及去爪、腸，留肉、翅並嘴、腳。以好酒浸一宿，取出以黃精自然汁五兩，塗炙至盡，炙干用。〔時珍曰〕近世用者，多　存性耳。</p>
<h3>天鼠屎</h3>
<p>〔時珍曰〕凡采得，以水淘去灰土惡氣，取細沙晒乾焙用。其沙乃蚊蚋眼也。</p>
<h3>五靈脂</h3>
<p>〔頌曰〕此物多夾沙石，絕難修治。凡用研為細末，以酒飛去沙石，晒乾收用。</p>
<h3>鴟頭</h3>
<p>〔弘景曰〕雖不限雌雄，雄者當勝。用須微炙。不用蠹者。古方治頭面方有鴟頭酒。</p>
<h2>卷五‧果菜米穀類</h2>
<h3>山楂</h3>
<p>〔時珍曰〕九月霜後取帶熟者，去核曝乾，或蒸熟去皮核，搗作餅子，日干用。</p>
<h3>白柿</h3>
<p>〔時珍曰〕白柿即干柿生霜者。其法用大柿去皮捻扁，日晒夜露至干，內瓮中，待生白霜乃取出。今人謂之柿餅，亦曰柿花。其霜謂之柿霜。</p>
<h3>柿</h3>
<p>〔瑞曰〕水藏者性冷，鹽藏者有毒。〔時珍曰〕　，藏柿也。水收、鹽浸之外，又有以熟柿用灰汁澡三四度，令汁盡著器中，經十余日即可食，治病非宜。</p>
<h3>柿糕</h3>
<p>〔時珍曰〕案李氏《食經》云：用糯米（洗淨）一斗，大干柿五十個，同搗粉蒸食。如干，入煮棗泥和拌之。</p>
<h3>石榴皮</h3>
<p>〔　曰〕凡使榴皮、葉、根勿犯鐵，並不計干濕，皆以漿水浸一夜，取出用，其水如墨汁也。</p>
<h3>黃橘皮</h3>
<p>〔　曰〕凡使勿用柚皮、皺子皮，二件用不得。凡修事，須去白膜一重，銼細，以鯉魚裹一宿，至明取用。〔宗　曰〕本草橘柚作一條，蓋傳誤也。後世不知，以柚皮為橘皮，是貽無不甚曰〕</p>
<p>柚皮皮性雜之說出</p>
<h3>青橘皮</h3>
<p>〔時珍曰〕青橘皮乃橘之未黃而青色者，薄而光，其氣芳烈。今人多以小柑、小柚、小橙偽為之，不可不慎辨之。入藥以湯浸去瓤，切片醋拌，瓦炒過用。</p>
<h3>橘核</h3>
<p>〔時珍曰〕凡用須以新瓦焙香，去殼取仁，研碎入藥。</p>
<h3>薯蕷</h3>
<p>〔頌曰〕采白根刮去黃皮，以水浸之，糝白礬末少許入水中，經宿淨洗去涎，焙乾用。</p>
<p>〔宗堪啖耳。</p>
<p>候全干生經十</p>
<h3>李根皮</h3>
<p>〔時珍曰〕李根皮取東行者，刮去皺皮，炙黃入藥用。《別錄》不言用何等李根，亦不言其白皮</p>
<h3>杏仁</h3>
<p>〔別錄曰〕五月采之。〔弘景曰〕凡用杏仁，以湯浸去皮尖，炒黃。或用面麩炒過。</p>
<p>〔午，取出晒</p>
<h3>烏梅</h3>
<p>〔弘景曰〕用須去核，微炒之。〔時珍曰〕造法：取青梅籃盛，於突上熏黑。若以稻灰淋汁乃上</p>
<h3>桃核仁</h3>
<p>〔別錄曰〕七月采，取仁陰乾。〔　曰〕凡使須去皮，用白朮、烏豆二味，同於坩鍋中煮二伏時，漉出劈開，心黃如金色乃用。〔時珍曰〕桃仁行血，宜連皮、尖生用。潤燥活血，宜</p>
<h3>桃花</h3>
<p>〔別錄曰〕三月三日采，陰乾之。</p>
<p>〔　曰〕桃花勿用千葉者，令人鼻衄不止，目黃。收</p>
<h3>桃莖及白皮</h3>
<p>〔時珍曰〕樹皮、根皮皆可，用根皮尤良。並取東行者，刮去粗皮，取白皮入藥。</p>
<h3>桃膠</h3>
<p>〔時珍曰〕桃茂盛時，以刀割樹皮，久則膠溢出，采收，以桑灰湯浸過，曝乾用。如服食，當依本方修煉。</p>
<h3>木瓜</h3>
<p>〔　曰〕凡使木瓜，勿犯鐵器，以銅刀削去硬皮並子，切片晒乾，以黃牛乳汁拌蒸，從巳至未，待如膏煎，乃晒用也。</p>
<p>〔時珍曰〕今人但切片晒乾入藥爾。按《大明會典》：宣州歲貢亦取其陳久無木氣，如栗子去木氣之義爾。</p>
<h3>枇杷葉</h3>
<p>〔恭曰〕凡用須火炙，以布拭去毛。不爾射入肺，令咳不已。或以粟稈作刷刷之，尤易潔淨以甘塗炙</p>
<h3>橡實</h3>
<p>〔雷曰〕霜後收采，去殼蒸之，從巳至未，銼作五片，日干用。〔周定王曰〕取子換水浸十五次，淘去澀味，蒸極熟食之，可以濟飢。</p>
<h3>橡實的斗殼</h3>
<p>〔大明曰〕入藥並宜搗細，炒焦或燒存性研用。</p>
<h3>槲若</h3>
<p>〔頌曰〕若即葉之名也。入藥須微炙令焦。</p>
<h3>檳榔</h3>
<p>〔　曰〕頭圓矮毗者為榔，形尖紫紋者為檳。檳力小，榔力大。凡使用白檳及存坐穩正心力得吐去紅水一口，乃滑美不澀，下氣消食。此三物相去甚遠，為物各異，而相成相合如此，亦為異矣。俗謂「檳榔為命賴扶留」以此。古賁灰即蠣蚌灰也。賁乃蚌字之訛。瓦屋子灰亦可用。</p>
<h3>大腹子</h3>
<p>〔思邈曰〕鴆鳥多集檳榔樹上。凡用檳榔皮，宜先以酒洗，後以大豆汁再洗過，晒乾入灰火燒煨，切用。</p>
<h3>椰子</h3>
<p>〔頌曰〕不拘時月采其根皮，入藥炙用。一云：其實皮亦可用。</p>
<h3>蜀椒</h3>
<p>〔　曰〕凡使南椒須去目及閉口者，以酒拌濕蒸，從巳至午，放冷密蓋，無氣後取出，便入瓷器中，勿令傷風也。</p>
<p>〔宗　曰〕凡用秦椒、蜀椒，並微炒使出汗，乘熱入竹筒中，以梗搗用，未盡再搗。或只炒熱，隔紙鋪地上，以碗覆，待冷碾取紅用。</p>
<h3>蓽澄茄</h3>
<p>〔　曰〕凡采得，去柄及皺皮了，用酒浸蒸之，從巳至酉，杵細晒乾，入藥用。</p>
<h3>吳茱萸</h3>
<p>〔　曰〕凡使去葉梗，每十兩以鹽二兩投東流水四斗中，分作一百度洗之，自然無涎，日干入丸散用之。若用醋煮者，每十兩用醋一鎰，煮三十沸後，入茱萸熬干用。〔宗　曰〕</p>
<p>凡用</p>
<h3>甜瓜子仁</h3>
<p>〔　曰〕凡收得曝乾杵細，馬尾篩篩過成粉，以紙三重裹壓去油用。不去油，其力短也西瓜子仁同。</p>
<h3>甜瓜蒂</h3>
<p>〔　曰〕凡使勿用白瓜蒂，要取青綠色瓜，氣足時，其蒂自然落在蔓上。采得，系屋東有風</p>
<p>〔宗　曰〕此甜瓜蒂也。去瓜皮用蒂，約半寸許，曝極干，臨時研用。</p>
<p>〔時珍瓜，其蒂不</p>
<h3>蓮實</h3>
<p>〔弘景曰〕藕實即蓮子，八、九月采黑堅如石者，干搗破之。</p>
<p>〔頌曰〕其　至秋黑而沉水，為石蓮子，可磨為飯食。</p>
<p>〔時珍曰〕石蓮剁去黑殼，謂之蓮肉。以水浸去赤皮、青心，生食心，或晒或焙乾用。亦有每一斤，用　豬肚一個盛貯，煮熟搗焙用者。</p>
<p>子，狀如土石而味苦，不知何物也？</p>
<h3>荷葉</h3>
<p>〔大明曰〕入藥並炙用。</p>
<h3>芡實</h3>
<p>〔詵曰〕凡用蒸熟，烈日晒裂取仁，亦可舂取粉用。</p>
<p>〔時珍曰〕新者煮食良。入澀精藥，連殼用也可。案劉　《暇日記》云：芡實一斗，以防風四兩煎湯浸過用，且經久不壞。</p>
<h3>韭子</h3>
<p>〔大明曰〕入藥揀淨，蒸熟曝乾，簸去黑皮，炒黃用。</p>
<h3>胡蔥</h3>
<p>〔　曰〕凡采得依紋擘碎，用綠梅子相對拌蒸一伏時，去梅子，砂盆中研如膏，瓦器晒乾用。</p>
<h3>灰</h3>
<p>〔　曰〕灰　即金鎖天葉，撲蔓翠上，往往有金星，堪用。若白青色者，是忌女莖，不中用日干而葉</p>
<h3>胡麻</h3>
<p>〔弘景曰〕服食胡麻，取烏色者，當九蒸九曝，熬搗餌之。斷穀，長生，充飢，雖易得而湯丸爾。</p>
<p>〔　曰〕凡修事以水淘去浮者，晒乾，以酒拌蒸，從巳至亥，出攤晒乾。臼中舂去粗留薄皮。以小豆對拌，同炒。豆熟，去豆用之。</p>
<h3>大麻</h3>
<p>〔宗　曰〕麻仁極難去殼。取帛包置沸湯中，浸至冷出之。垂井中一夜，勿令著水。次日日中曝乾，就新瓦上　去殼，簸揚取仁，粒粒皆完。張仲景麻仁丸，即此大麻子中仁也。</p>
<h3>薏苡仁</h3>
<p>〔　曰〕凡使，每一兩，以糯米一兩同炒熟，去糯米用。亦有更以鹽湯煮過者。</p>
<h3>罌粟殼</h3>
<p>〔時珍曰〕凡用以水洗潤，去蒂及筋膜，取外薄皮，陰乾細切，以米醋拌炒入藥。亦有蜜炒、蜜炙者。</p>
<h3>扁豆</h3>
<p>〔時珍曰〕凡用取硬殼扁豆子，連皮炒熟，入藥。亦有水浸去皮生用者，從本方。</p>
