<header><h1>難經集註</h1></header>
<dl class="元資料" data-type="book">
<div><dt>作者</dt><dd>王九思</dd></div>
<div><dt>朝代</dt><dd>明</dd></div>
<div><dt>年份</dt><dd><data value="1505">公元1505年</data></dd></div>
<div><dt>底本</dt><dd>出自《王翰林集註黃帝八十一難經》（<a href="https://ctext.org/library.pl?if=gb&res=2825">浙江大學圖書館掃描本</a>、<a href="https://www.kanripo.org/text/KR3e0003/000">文字化本</a>）</dd></div>
</dl>
<h2>序</h2>
<p>黃帝八十一難經者。斯乃勃海秦越人之所作也。越人受桑君之秘術。遂洞明醫道。至能徹視臟腑。刳腸剔心。以其與軒轅時扁鵲相類。乃號之為扁鵲。（按史記正義引此文。乃作仍）又家於盧國。因命之曰盧醫。世或以盧扁為二人者。</p>
<p>斯實謬矣。按黃帝有內經二帙。帙各九卷而其義幽賾。殆難窮覽。越人乃采摘英華。抄撮精要。二部經內凡八十一章。</p>
<p>勒成卷軸。伸演其道。（按原本誤作首。依滑氏本義引此文改）探微索隱。傳示後昆。名為八十一難。以其理趣深遠。非卒易了故也。既宏暢聖言。故首稱黃帝。斯乃醫經之心髓。救疾之樞機。所謂脫牙角於象犀。收羽毛於翡翠者矣。逮於吳太醫令呂廣為之注解。亦會合元宗。足可垂訓。而所釋未半。余皆見闕。余性好醫方。問道無倦。斯經章句。特承師授。既而耽研無HT　。十載於茲。雖未達其本源。蓋亦舉其綱目。此教所興。多歷年代。非唯文句舛錯。抑亦事緒參差。</p>
<p>後人傳覽。良難領會。今輒條貫編次。使類例相從。凡為一十三篇。仍舊八十一首。呂氏未解。今並注釋。呂氏注不盡。</p>
<p>因亦伸之。並別為音義。以彰厥旨。昔皇甫元晏總三部為甲乙之科。近世華陽陶貞白廣肘後為百一之制。皆所以留情極慮。濟育群生者矣。余今所演。蓋亦遠慕高仁。邇遵盛德。但恨庸識有量。聖旨無涯。綆促汲深。元致難盡。</p>
<p><u>前歙州歙縣尉楊元操序。</u></p>
<h2>卷之一</h2>
<h3>經脈診候第一(凡二十四首)</h3>
<p>一難曰。十二經皆有動脈。</p>
<p>呂曰。是手足經十二脈也。丁曰。十二經皆有動脈者。是人兩手足各有三陰三陽之經也。以應天地各有三陰三陽之氣也。所謂天地三陰三陽。各有所主。其時自春分節後。到夏至之前九十日。為天之三陽所主也。夏至之後。秋分之前九十日。天之三陰所主也。秋分節後。冬至之前九十日。是地之三陰所主也。冬至之後。春分節前九十日。地之三陽所主也。凡左右上下。各有此三陰三陽之氣。合為十二。故人亦有十二經也。所主左右上下之分也。又人膈以上者。手三陰三陽所主也。即通於天氣。膈以下。足三陰三陽所主也。即通於地氣。其通天氣者為氣為脈。其通地氣者主味歸形。</p>
<p>故十二經通陰陽行氣血也。又經者、徑也。遞相溉灌。無所不通。所以黃帝云。十二經處百病。次決死生。不可不通也。</p>
<p>其言十二經皆有動脈者。即在兩手三部各有會動之脈也。即（按此字衍。）左手寸部。心與小腸動脈所出也。心脈曰手少陰。（按原本此下有心包絡脈曰手心主八字。據下文，心包之脈。隸於右尺。不應自相矛盾。故刪之。）小腸脈曰手太陽。</p>
<p>其應東南方君火在巽是也。左手關部。肝膽動脈所出也。肝脈曰足厥陰。膽脈曰足少陽。其應東方木在震是也。左手尺部。腎與膀胱動脈所出也。腎脈曰足少陰。膀胱脈曰足太陽。其應北方水在坎是也。右手寸部。肺與大腸動脈所出也。</p>
<p>肺脈曰手太陰。大腸脈曰手陽明。其應西方金在兌是也。右手關部。脾胃動脈所出也。脾脈曰足太陰。胃脈曰足陽明。</p>
<p>其應中央土在坤是也。右手尺部。心包絡與三焦動脈所出也。心包絡曰手厥陰。三焦脈曰手少陽。其應南方相火。在離是也。此三部動脈所出。故經言皆有動脈也。楊曰。凡人兩手足。各有三陰脈三陽脈。合十二經脈。肝脈曰足厥陰。脾脈曰足太陰。腎脈曰足少陰。膽脈曰足少陽。胃脈曰足陽明。膀胱脈曰足太陽。肺脈曰手太陰。心脈曰手少陰。（按原本此下誤衍心包絡脈曰手心主八字。與上注同。今刪之。）大腸脈曰手陽明。小腸脈曰手太陽。包絡脈曰手厥陰。三焦脈曰手少陽。凡脈皆雙行。故有六陰六陽也。呂曰。足太陽動委中。足少陽動耳前。楊曰。下關穴也。又動懸鐘。呂曰。足陽明動趺上。楊曰。衝陽穴也。在足趺上。故以為名。又動頸人迎。又動大迎。呂曰。手太陽動目外　。楊曰。瞳子穴也。呂曰。手少陽動客主人。楊曰。又動聽會。呂曰。手陽明動口邊。楊曰。地倉穴也。呂曰。又動陽谿。足厥陰動人迎。楊曰。按人迎乃足陽明脈。非足厥陰也。呂曰。厥陰動人迎。誤矣。人迎通候五臟之氣。非獨因厥陰而動也。按厥陰脈動於回骨焉。呂曰。足少陰動內踝下。楊曰。太谿穴也。按此動脈非少陰脈也。斯乃衝脈動耳。衝脈與少陰並行。</p>
<p>因謂少陰脈動。其實非也。亦呂氏之謬焉。少陰乃動內踝上五寸間也。經曰。彈之以候死生是也。呂曰。足太陰動髀上。</p>
<p>楊曰。箕門穴也。呂曰。手少陰動腋下。</p>
<p>楊曰。極泉穴也。又動靈道少海。呂曰。手心主動勞宮。手太陰脈動大淵。楊曰。又動尺澤俠白天府也。虞曰。呂楊二注。惟各取其經脈流行之穴。言其動脈。與本經下文獨取寸口之義。不相乘也。庶今舉之。經曰。脈會大淵。大淵在兩手掌後魚際間。乃手太陰脈之動也。太陰主氣。是知十二經脈會於大淵。故聖人準此脈要會之所。於人兩手掌後魚際間。分別三部。名寸、尺、關。於三部中診其動脈。乃知人五臟六腑虛實冷熱之證。謂一經之中。有一表一裡。來者為陽。去者為陰。兩手合六部。六部合之為十二經。其理明矣。察陽者。知病之所在。察陰者。知死生之期。故曰十二經皆有動脈也。乃合診法。</p>
<p>獨取寸口。以決五臟六腑死生吉凶之法。何謂也。</p>
<p>丁曰。夫獨取寸口診法者。其一指指下。各有上下左右長短浮沉滑澀遲數。見病吉凶也。此法是黃帝脈要精微論中之旨也。越人引此一篇。以為眾篇之首也。昔黃帝問曰。診法何如。岐伯對曰。常以平旦陰氣未動。陽氣未散。飲食未進。經脈未盛。絡脈調勻。氣血未亂。乃可診有過之脈。切脈動靜。視精明。察五色。視五臟有餘不足。形之盛衰。參伍決死生之分也。此者是獨取寸口之法也。楊曰。自難曰至此。是越人引經設問。從然字以下。是解釋其義。余悉如此。</p>
<p>例可知也。</p>
<p>然寸口者。脈之大會。手太陰之脈動也。</p>
<p>呂曰。太陰者。肺之脈也。肺為諸臟上蓋。主通陰陽。故十二經皆會手太陰寸口。所以決吉凶者。十二經有病。皆見寸口。知其何經之動。浮沉滑澀。春秋逆順。知其死生也。丁曰。其手太陰者、是右手寸部也。為肺主其氣。為五臟六腑之華蓋。凡五臟六腑有病。皆見於氣口。故曰大會也。虞曰。五味入胃。化生五氣。五味者。甘、辛、咸、苦、酸，五氣者，膻、腥、香、焦、腐。乃五行之氣味也。其味化氣。上傳手太陰。太陰主氣。得五氣以溉灌五臟，若胃失中和。</p>
<p>則不化氣。手太陰無所受。故寸口以浮沉長短滑澀。乃知病發於何臟。故經云。寸口者。脈之大要會也。五臟別論曰。</p>
<p>五味入口。以藏於胃。以養五臟氣。本經曰。人受氣於穀。玉機真藏論曰。因胃氣乃能至手太陰。陰陽應象論曰。味歸形。形歸氣。氣歸精。精歸化。夫如是。則知人之氣。自味而化。上傳手太陰。故寸口為要會也。</p>
<p>人一呼、脈行三寸。一吸、脈行三寸。呼吸定息。脈行六寸。</p>
<p>呂曰。十二經。十五絡。二十七氣。皆候於寸口。隨呼吸上下。呼脈上行三寸。吸脈下行三寸。呼吸定息。脈行六寸。二十七氣。皆隨上下行。以寤行於身。寐行於臟。晝夜流行。無有休息時。丁曰。言人一呼、脈行三寸。一吸、脈行三寸。呼吸定息。脈行六寸者。即是天地陰陽升降定息也。即是周於六甲。而又日月曉昏。人呼吸上下以六氣周身。</p>
<p>故乃法定息六寸也。</p>
<p>人一日一夜。凡一萬三千五百息。脈行五十度。周於身。漏水下百刻。榮衛行陽二十五度。行陰亦二十五度。為一周也。故五十度復會於手太陰寸口者。五臟六腑之所終始。故法取於寸口也。</p>
<p>呂曰。人一息脈行六寸。十息脈行六尺。百息脈行六丈。千息六十丈。萬息六百丈。一萬三千五百息。合為八百一十丈為一周。陽脈出行二十五度。陰脈入行二十五度。合為五十度。陰陽呼吸。覆溢行周畢度數也。（按史記正義引此文無溢字。）脈行周身畢。即漏水百刻亦畢也。謂一日一夜漏刻盡。天明日出東方。脈還寸口。當復更始也。故曰。寸口者、五臟六腑之所終始也。丁曰。按舊經注。其脈息以為八百一十丈。即當水下二刻。得周身一度。如百刻。計周身五十度。</p>
<p>如此。則行陽五十度。行陰亦五十度。此乃甚與經意不同也。經言行陽二十五度。行陰亦二十五度。共得五十度而復會也。所謂行陽行陰各二十五度者。謂一歲陰陽。始於立春。交相復會於立春。故共行五十度也。日之曉昏。人之寤寐。</p>
<p>皆在於平旦。日行二十四時。復會於是。人氣始自中焦。注手太陰。行其經絡。計二十四。亦復交會於手太陰。其右寸內有穴太淵。是脈之大會始終。故各計二十五。所以言寸口者。脈之終始也。虞曰。二百七十息。脈行一十六丈二尺。</p>
<p>及一周身。應漏水下二刻。一萬三千五百息。脈行八百一十丈。應漏水下百刻。是知一日一夜。行五十周於身。凡行陰陽。分晝夜。是故行陽二十五度。行陰二十五度也。</p>
<h4>漏水下百刻圖</h4>
<p>一歲陰陽升降。會於立春。一日陰陽曉昏。會於艮時。一身榮衛還周。會於手太陰。同天度一萬三千五百息。榮衛始於從中焦。（按於從二字。當衍其一。）注手太陰陽明。陽明注足陽明太陰。太陰注手少陰太陽。太陽注足太陽少陰。</p>
<p>少陰注手心主少陽。少陽注足少陽厥陰。厥陰復還注手太陰。天度二十四氣。晝夜二十四時。人身經二十四條。（按原本此下復有人身經二十四條七字。系衍文。今刪。）流注與天同度。所以計一萬三千五百息。</p>
<p><a href="_files/pt40a1.bmp">漏水下百刻圖</a></p>
<p><u>水下四刻移一經復還於手太陰其得百刻榮衛各計二十五度。</u></p>
<p>二難曰。脈有尺寸。何謂也。然。尺寸者、脈之大要會也。</p>
<p>呂曰。諸十二經脈。三部九候。有病者皆見於尺寸。故言脈之大要會也。丁曰。舊經注此說為五臟六腑之法者非也。</p>
<p>大要會者、謂尺寸陰陽往復。各有要會也。</p>
<p>從關至尺是尺。內陰之所治也。從關至魚際是寸。內陽之所治也。</p>
<p>呂曰。至尺者、言從尺至關。其脈見一寸。而言尺者、是其根本。寸口長一寸。而脈見九分。陽數奇。陰數偶也。</p>
<p>故分寸為尺。分尺為寸。</p>
<p>丁曰。分寸為尺者、人從關至尺澤穴當一尺也。於其尺內。分一寸以代一尺之法。是故分寸為尺分尺為寸也。</p>
<p>故陰得尺內一寸。</p>
<p>丁曰。陰數偶也。</p>
<p>陽得寸內九分。</p>
<p>丁曰。陽數奇也。</p>
<p>尺寸終始一寸九分。故曰尺寸也。</p>
<p>丁曰。尺寸之法。舊經有注。言諸家所傳撰不同。執引三寸。（按以下注考之。此寸字當作部。）輒相去一寸。以備三寸。並不見一寸九分之理。其一寸九分之法者。蓋為尺寸之位。各有陰陽始終也。陽氣者、生於尺而動於寸。陰氣者、生於寸而動於尺。是以法陽氣。始生於立春。上至芒種之節。其數九。三陽王於前法寸內九分而浮。夏至之節。其氣下行。至立冬而終。其數十。即三陰王於後法尺內一寸而沉。故知尺寸各有始終也。此是越人引其陽中陰陽始終也。所謂陰中陰陽始終者。陰氣復從立秋而生。下至冬至之節。其數十。冬至之後。隨少陽上行。至立夏之節。其數九。此者天地陰陽始終。故法尺寸陰陽各有始終也。天地要會之門。在於四立。謂之天門、地戶、人門、鬼門。人之氣口人迎左右神門。亦法也。楊曰。寸關尺三位。諸家所撰。多不能同。故備而論之。以顯其正。按皇甫士安脈訣。以掌後三指為三部。一指之下為六分。三部凡一寸八分。華佗脈訣云。寸尺位各八分。關位三分。合一寸九分。王叔和脈訣云。三部之位。輒相去一寸。合為三寸。諸經如此差異。則後之學人。疑惑彌深。然脈法始於黃帝。難經起自扁鵲。此之二部俱祖宗。諸家諸論蓋並枝葉爾。正可務本遺末。不容逐末忘本。今的舉指歸。用明大要。宜依黃帝正經。以掌後三寸為三部。</p>
<p>則寸與關尺。各得一寸。備三才之義也。此法永定。不可移改。其王叔和、可謂得之矣。凡診脈者、先明三部九候之本位。五臟六腑之所出。然後可以察其善惡。以別浮沉。如其本位尚迷。則病源莫辨。欲其愈疾。亦難矣哉。三部者。寸關尺也。九候者、天地人也。一部之中。則有天地人。三部之中。合為九候。以候五臟之氣也。其五臟六腑所出者。左手寸口者。心與小腸脈之所出也。關上者。肝與膽脈之所出也。尺中者。腎與膀胱脈之所出也。關前一分者。人迎之位也。關後一分。神門之位也。右手寸口者。肺與大腸脈之所出也。關上者。脾與胃脈之所出也。尺中者。命門三焦脈之所出也。關前一分者。氣口之位也。關後一分者。神門之位也。凡五臟之脈並為陰。陰脈皆沉。六腑之脈並為陽。陽脈皆浮。假令左手寸口脈浮者。小腸脈也。沉者。心之脈也。余皆仿此。斯乃脈位之綱維。診候之法式也。虞曰。楊氏諸論數家寸尺長短部分。互有不同。令後人難為依據。庶今明之。以示後學。華佗之說。乃如脈經言。果不謬矣。王叔和以三寸為式。義有隱微。此乃黃帝正經之說。豈有誤也。況上古以一膚指為四寸。王叔和必取其膚指之三寸。與今之一寸九分。短長相近也。何休注公羊傳云。側手為膚。按指為寸。即其義也。況越人生於周。采靈樞素問作此難經。今之寸尺度量。乃周之制也。故越人取一寸九分為定式。乃天九地十之義也。</p>
<h4>二難畫圖</h4>
<p>（此二難以下畫圖，皆下注圖也。）</p>
<p>凡此以下畫圖內。黑白道以分陰陽終始。其天門、地戶、人門、鬼門。是陰陽升降關格門戶。其氣口人迎左右神門。</p>
<p>是呼吸上下尺寸關格門戶。（原脫尺字。據李駒纂圖句解補。）</p>
<p>陰氣始於立秋。陽氣始於立冬。</p>
<p>陰氣終於立夏。陽氣終於立春。</p>
<p><a href="_files/pt40a2.bmp">天地陰陽升降始終之圖</a></p>
<p><a href="_files/pt40a3.bmp">手足陰陽流注始終之圖</a></p>
<p><u>諸陽會於首　諸陰至胸中</u></p>
<p><a href="_files/pt40a4.bmp">尺寸陰陽隨呼吸出入上下始終圖</a></p>
<p><u>陰為裡隨呼至寸內　陽為表隨吸至尺外</u></p>
<p><a href="_files/pt40a5.bmp">圖</a></p>
<p><u>此圖明其人迎氣口左右神門寸尺關前關後一分案素問云人迎氣口在頸法象天地要會始終之門戶</u></p>
<p><a href="_files/pt40a6.bmp">圖</a></p>
<p>三難曰。脈有大過。有不及。有陰陽相乘。有覆。有溢。有關。有格。何謂也。然。關之前者。陽之動。（別本有也字。以下條考之。當是。）脈當見九分而浮。過者法曰大過。減者法曰不及。遂上魚為溢。為外關內格。此陰乘之脈也。</p>
<p>呂曰。過者。謂脈過九分出一寸。名曰大過。減者。脈不及九分至八分七分六分也。此為不及之脈也。遂上魚者。</p>
<p>出一寸至魚際也。一名溢脈。一名外關之脈。一名內格之脈。一名陰乘之脈。一脈有四名也。丁曰。大過者。寸脈本浮。</p>
<p>又加實大。是為陽大過也。上魚者。陰陽溢。（按陰字誤。當作為。）浮而損小者。是陽不及也。陽不及。則陰出乘之。</p>
<p>又名陰溢。此者是外關內格。虞曰。氣有餘。脈乃大過。氣不足。脈乃不及。外關則內脈不得出。故曰不及。亦曰陰乘脈。內格則外脈不得入。故曰大過。亦曰溢脈。下文關後之義。反此言之也。</p>
<p>關以後者。陰之動也。脈當見一寸而沉。過者法曰大過。減者法曰不及。遂入尺為覆。為內關外格。此陽乘之脈也。</p>
<p>呂曰。過者。謂脈出過一寸至一分二分三分四分五分。此大過之脈也。減者。謂不滿一寸。脈見八分七分或六分五分。此為不及之脈。遂入尺以言覆。覆脈者。脈從關至尺澤皆見也。此覆行之脈所以言覆者。脈從關至尺澤。脈見一寸。</p>
<p>其余伏行不見也。今從關見至尺澤。故言覆行也。一名覆脈。一名內關。一名外格。一名陽乘之脈也。丁曰。大過者。</p>
<p>為尺脈本沉。又加實大。名曰陰太過。沉之損小者。是謂不及。陰不及則陽入乘之。此為陽覆。又名內關外格也。</p>
<p>故曰覆溢。是其真臟之脈。人不病而死也。</p>
<p>呂曰。脈來見如此者。此皆諸病相乘克之脈。非謂外邪中風傷寒之類。脈已見。人雖未病。病即死。不可治也。丁曰。此者是自有增損。使陰陽不守本位。有此覆溢。故形不病而死也。虞曰。陰陽不相榮。脈乃上魚入尺。故曰覆溢之脈。脈既覆溢。此由關格所致。本經曰。關格者。不得盡其命而死也。不病亦死。</p>
<h4>三難畫圖</h4>
<p>凡診脈於掌後約文。密排三指。頭指半指之前為寸外。陽中之陽。半指之後為寸內。陽中之陰。第二指半指前。為關上陽。半指後。關下陰。（按原本此下有半指之前尺外陽半指之後尺內陰十四字。乃因下文而誤衍也。今刪之。）第三指半指之前。為尺外陽。半指之後。為尺內陰。寸外陽浮散。寸內陰浮大。關上陽弦長。關下陰弦緊。尺外陽沉滑。尺內陰沉澀。此左手脈之陰陽。察其脈狀。明其覆溢。</p>
<p>夫夏至之後。陰出二分。故曰天關。冬至之後。陽入三分。故曰地軸。所以人之脈陰出陽入。名曰關也。其立夏陰氣乃終。名曰地戶。立冬陽氣乃終。名曰天門。其關格門戶。是陰陽始終之要。其過於本位。應見而不見。名曰不及。</p>
<p>不應見處而見。名曰覆溢。其關格覆溢。是陰陽相勝。皆當不病而死也。</p>
<p><a href="_files/pt40a7.bmp">圖</a></p>
<p><u>立秋處暑否卦所主為陰始生</u></p>
<p><u>小滿芒種乾卦所主故陰至立夏而終</u></p>
<p><u>小雪大雪坤卦所主故陽至立冬而終</u></p>
<p><u>立春雨水泰卦所主為陽所生</u></p>
<p><a href="_files/pt40a8.bmp">圖</a></p>
<p><a href="_files/pt40a9.bmp">圖</a></p>
<p><u>此寸外主頭寸內主胸中關上主膈中</u></p>
<p><u>關下主腹中尺外主臍下尺內主至足</u></p>
<p>四難曰。脈有陰陽之法。何謂也。然。呼出心與肺。吸入腎與肝。呼吸之間。脾受穀味也。其脈在中。</p>
<p>呂曰。心肺在膈上。臟中之陽。故呼其氣出。腎肝在膈下。臟中之陰。故吸其氣入。脾者。中州主養四臟。故曰呼吸以受穀氣。丁曰。經言呼出者。非氣自心肺而出也。為腎肝在膈下。主內。因呼而出至心至肺。故呼出心與肺也。又心肺者在膈上。主外。故吸即隨陰而入至腎至肝。故經曰。呼者因陽出。吸者隨陰入。其呼吸陰陽相隨上下。經歷五臟之間。乃脾受穀味也。又脾者主中州。故言其脈在中也。</p>
<p>浮者、陽也。</p>
<p>丁曰。謂脈循行皮膚血脈之間。在肌肉之上。則名曰浮也。楊曰。按之不足。舉之有餘。故曰浮。虞曰。陽象火而炎上、故曰浮也。</p>
<p>沉者、陰也。</p>
<p>丁曰。謂脈循行帖節輔骨。名曰沉。楊曰。按之有餘。舉之不足。故曰沉。虞曰。陰象水而潤下。故曰沉。</p>
<p>故曰陰陽也。心肺俱浮。何以別之。然。浮而大散者。心也。浮而短澀者。肺也。</p>
<p>丁曰。心者、南方火也。故脈來浮而大散。其大者是臟。散者是腑也。肺者、西方金也。金主燥。其脈浮澀而短。</p>
<p>短者、臟也。澀者、腑也。楊曰。細而遲。來往難且散。或一止。名曰澀也。虞曰。心象火。明燭於外。故浮大而散。</p>
<p>肺屬金。其位居高。故浮短而澀。故曰心肺俱浮也。</p>
<p>腎肝俱沉。何以別之。然。牢而長者。肝也。</p>
<p>丁曰。肝者、東方木也。其脈牢而長。牢者、臟也。長者。腑也。楊曰。按之但覺堅極。故曰牢。虞曰。肝屬木。</p>
<p>根本生於地。牢義可知。枝葉長於天。長理出此也。</p>
<p>按之濡。舉指來實者。腎也。</p>
<p>丁曰。腎者、北方水也。主寒。其性濡沉。濡者、臟也。沉滑者、腑也。楊曰。按之不足。舉之有餘。謂之濡也。</p>
<p>大而長。微強。按之應指　然者。謂之實。虞曰。火性外柔。按之乃濡。水性內剛。舉指來實。則其義也。</p>
<p>脾者中州。故其脈在中。</p>
<p>丁曰。脾者、中央土也。能成養四旁。故隨四時而見。所以經不言脈之象也。楊曰。脾王於季夏。主養四臟。其脈來大小浮沉。故依四時。王脈俱至四季一十八日。即變寬緩。是脾之王氣也。上有心肺。下有腎肝。故曰在中也。虞曰。</p>
<p>上文言呼吸之間。脾受穀味。此言脾者中州。其脈在中。　者、穀也。穀、空也。謂人之呼吸之氣。自穀而有。脾土屬土。位居中央。土者、五方物始終以之。故受穀味。乃處中州。故曰其脈在中也。</p>
<p>是陰陽之法也。脈有一陰一陽。一陰二陽。一陰三陽。有一陽一陰。一陽二陰。一陽三陰。如此之言。寸口有六脈俱動耶。然此言者。非有六脈俱動也。謂浮沉長短滑澀也。</p>
<p>丁曰。經前引五臟之脈。以應五行。今引此三陰三陽之脈。以應六氣。其浮滑長。三陽也。其沉短澀。三陰也。凡持三部中。察此六脈。即可知陰陽伏匿之法也。若皮膚之下。是脈之下為陽部也。若有此三陰之脈見。是陰上乘於陽也。</p>
<p>若肌肉之下。是脈之下為陰部也。若有此三陽脈見。即是陽氣下乘於陰也。此乃是上下察陰陽之法也。楊曰。過於本位謂之長。不及本位謂之短也。</p>
<p>浮者、陽也。滑者、陽也。長者、陽也。</p>
<p>楊曰。按之往來流利展轉替替然。謂之滑。</p>
<p>沉者、陰也。短者、陰也。澀者、陰也。所謂一陰一陽者。謂脈來沉而滑也。</p>
<p>丁曰。其脈若在左尺而見。此是腎與膀胱表裡。順也。若在左寸口。即為病脈。逆也。</p>
<p>一陰二陽者。謂脈來沉滑而長也。</p>
<p>此脈見於陰部。即是陽下乘於陰也。</p>
<p>一陰三陽者。謂脈來浮滑而長。時一沉也。</p>
<p>此者是陽伏於陰也。</p>
<p>所言一陽一陰者。謂脈來浮而澀也。</p>
<p>丁曰。浮澀者肺脈。當見右手寸口。即是本部之陰陽。即順也。若在左關。病。即是逆也。</p>
<p>一陽二陰者。謂脈來長而沉澀也。</p>
<p>丁曰。即乏血氣。皆澀也。</p>
<p>一陽三陰者、謂脈來沉澀而短。時一浮也。</p>
<p>丁曰。若有陽部見之。此謂陰伏陽也。</p>
<p>各以其經所在。名病逆順也。</p>
<p>楊曰。隨春夏秋冬。觀其六脈之變。則知病之逆順也。</p>
<p>五難曰。脈有輕重。何謂也。然。初持脈如三菽之重。與皮毛相得者。肺部也。如六菽之重。與血脈相得者。心部也。</p>
<p>呂曰。菽者、豆也。言脈之輕重。如三豆之重。在皮毛之間。皮毛者、肺氣所行也。言肺部也。心主血脈。次於肺。</p>
<p>如六豆重。</p>
<p>如九菽之重。與肌肉相得者。脾部也。</p>
<p>呂曰。脾在中央。主肌肉。故次心。如九豆之重也。</p>
<p>如十二菽之重。與筋平者、肝部也。</p>
<p>呂曰。肝主筋。又在脾下。故次之。</p>
<p>按之至骨。舉指來疾者、腎也。</p>
<p>呂曰。腎主骨。其脈沉至骨。故曰腎也。</p>
<p>故曰輕重也。</p>
<p>丁曰。經言菽者、豆也。此是診脈舉按之法也。此篇當在四難之前。以等陰陽高下。虞曰。脈之輕重。經中所載甚詳。若依經逐位尋之。義且淺矣。今舉一例為式。假令左手寸口如三菽得之。乃知肺氣之至。如六菽之重得之。知本經之至。如九菽得之。知脾氣之至。如十二菽得之。知肝氣之至。按之至骨得之。知腎氣之至。夫如是。乃知五臟之氣。</p>
<p>更相溉灌。六脈因茲亦有準繩。可以定吉凶。可以言疾病。余皆仿之。故曰輕重也。</p>
<p>六難曰。脈有陰盛陽虛。陽盛陰虛。何謂也。然。浮之損小。沉之實大。故曰陰盛陽虛。沉之損小。浮之實大。故曰陽盛陰虛。是陰陽虛實意也。</p>
<p>呂曰。陽脈是寸口。本浮而實。今輕手浮而得之。更損減而小。故曰陽虛。重手按之。沉、反更實大。沉者陰。故言陰實也。丁曰。陽脈本浮。輕手而按其脈。損至而小。此是陽虛不足也。陰脈本沉而濡。今重手而按之。損至而小。</p>
<p>是陰不足也。陽脈本浮。更加實大。此是陽盛陰虛也。素問曰。諸浮者。腎不足也。虞曰。人之所稟者。陰陽也。陰陽平。權衡等。則無更虛更實之證。今言盛與虛。則為病之脈。脈要精微論曰。陰盛則夢涉大水恐懼。陽盛則夢大火燔灼。</p>
<p>陰陽俱盛。則夢相殺毀傷。夫如是。可驗陰陽虛實之意也。</p>
<p>七難曰。經言少陽之至。乍小乍大。乍短乍長。陽明之至。浮大而短。太陽之至。洪大而長。太陰之至。緊大而長。</p>
<p>少陰之至。緊細而微。厥陰之至。沉短而敦。此六者。是平脈邪。將病脈邪。然。皆王脈也。其氣以何月。各王幾日。</p>
<p>然冬至之後得甲子。少陽王。復得甲子。陽明王。復得甲子。太陽王。復得甲子。太陰王。復得甲子。少陰王。復得甲子。厥陰王。王各六十日。六六三百六十日。以成一歲。此三陽三陰之王時日大要也。</p>
<p>呂曰。少陽王正月二月。其氣尚微少。故其脈來進退無常。陽明王三月四月。其氣始萌未盛。故其脈來浮大而短也。</p>
<p>太陽王五月六月。其氣太盛。故其脈來洪大而長。太陰王七月八月。乘夏余陽。陰氣未盛。故其脈來緊大而長。少陰王九月十月。陽氣衰而陰氣盛。故其脈來緊細而微也。厥陰王十一月十二月。陰氣盛極。故言厥陰。其脈來沉短以敦。敦者、沉重也。四時經一陰一陽八王。此難經三陽在前。三陰在後。其王所以不同者。其移各異也。難經謂從正月至六月。</p>
<p>春夏半歲。浮陽用事。故言三陽王在前。從七月至十二月。秋冬半歲。沉陰用事。故言三陰在後。謂四時陰陽夫婦之王也。丁曰。夫三陰三陽之氣王。隨六甲以言之。此法是按黃帝六節臟象論云。天以六六之節成一歲。其自冬至之後。得甲子。即是盛年初之氣分也。（按盛字疑衍。）其甲子或在小寒之初。或在大寒之後，所以少陽之氣。未出陰分。故其脈乍大乍小。乍短乍長也。復得甲子。陽明王。其陽明之至。浮大而短。為二之氣。其後始暄。其氣未盛。是故陽明之至。</p>
<p>浮大而短。太陽之至。洪大而長。復得甲子。為三之氣。盛陽之分。故太陽之至。洪大而長也。太陰之至。緊大而長。</p>
<p>復得甲子。為四之氣。暑濕之分。秋氣始生。乘夏余陽。故太陰之至。緊大而長也。少陰之至。緊細而微。復得甲子。</p>
<p>為五之氣。清切之分。故少陰之至。緊細而微也。（按此而字。原本誤在下文水凝二字下。今移正。）厥陰之至。沉短而敦。復得甲子。為終之氣。盛陰之分。水凝如石。故厥陰之至。沉短而敦也。此三陰三陽之脈王。隨六甲之日數。故有此六脈之狀。是謂平脈也。</p>
<p>八難曰。寸口脈平而死者。何謂也。然。諸十二經脈者。皆系於生氣之原。所謂生氣之原者。謂十二經之根本也。</p>
<p>謂腎間動氣也。此五臟六腑之本。十二經脈之根。呼吸之門。三焦之原。一名守邪之神。故氣者、人之根本也。根絕則莖葉枯矣。寸口脈平而死者。生氣獨絕於內也。</p>
<p>呂曰。寸口脈平而死者。非應四時脈。其脈狀若平和也。又曰。十二經皆系於生氣之原。所謂生氣之原者。為十二經本原也。夫氣衝之脈者。起於兩腎之間。主氣。故言腎間動氣。挾任脈上至喉咽。通喘息。故云呼吸之門。上系手三陰三陽為支。下系足三陰三陽為根。故聖人引樹以設喻也。其三焦之原者。是三焦之府。宣行榮沖。（按沖字疑當作衛。）</p>
<p>邪不妄入。故曰守邪之神也。人以尺脈為根本。寸脈為莖葉。寸脈雖平。尺脈絕。上部有脈。下部無脈者。死也。</p>
<p>寸口脈平者。應四時也。所云死者。尺中無脈也。尺脈者、人之根本。根本既絕。則莖葉枯焉。然則以尺脈為根本。寸脈為莖葉。故引樹以為譬也。丁曰。腎間動氣者。謂左為腎。右為命門。命門者、精神之所舍。元氣之所系也。一名守邪之神者。以命門之神固守。邪氣不得妄入。入則死矣。此腎氣先絕於內。其人不病。病即死矣。虞曰。經言十二經。</p>
<p>皆系於生氣之原。謂腎間動氣也。何以言之。謂兩腎之間動氣者。乃人之所受父母之原氣也。腎者。北方子之正位。故聖人云。元氣起於子。子者、坎之方位。坎者、即父母之元氣也。謂乾為天為父。坤為地為母。今坎之初六六三。乃坤之初六六三也。坎之九二。乾之九二也。謂乾坤交於六三。九二而成坎卦。坎主子位。所以元氣起於子也。腎者、水也。</p>
<p>黃庭經云。是水之精。坎之氣。今言兩腎之間。即人之原氣也。朮士云。腎間曰丹田。亦曰隱海。中有神龜。呼吸原氣。</p>
<p>故曰呼吸之門也。人之三焦。法天地三元之氣。故曰三焦之原。十二經脈憑此而生。乃曰十二經之根也。今寸口傳受穀氣。其脈但平和。奈人之生氣之原。已絕於兩腎之間。則十二經無所相依據。雖寸脈平和。人當死矣。所以喻木之無根本也。腎者、足少陰之經也。左為腎。右曰命門。命門有穴。在背十四椎節下。又有志室二穴。在十四椎節下兩旁各三寸。有神守於命門。不令邪入志室。邪入志室。人則死矣。</p>
<p>九難曰。何以別知臟腑之病耶。然。數者、腑也。遲者、臟也。</p>
<p>楊曰。去來急促。一息過五至。名數也。呼吸三至。去來極遲。故曰遲也。</p>
<p>數則為熱。遲則為寒。諸陽為熱。諸陰為寒。故以別知臟腑之病也。</p>
<p>呂曰。病者陽，故其脈數。臟者陰。故其脈來遲。楊曰。陽脈行疾。故病乃數。陰脈行遲。故病乃遲。此直云病在臟腑。不顯其名。則病莫知準的。若數而弦者。病在膽。遲而弦者。病在肝。除臟腑悉依本狀。而遲數皆仿此也。虞曰。</p>
<p>陽氣亂則數。陰氣虛則遲。則知臟腑有寒熱之證也。丁曰。脈者、計於漏刻。其春秋二分。晝夜五十刻。則陰陽俱等。</p>
<p>故得平和。冬夏二至。晝夜不等。夏至之前。晝六十刻。故六十為數（按六十疑當作六至。）故數則為熱。冬至之前。夜加六十刻。故陰多陽少。是為寒。夫陰陽漏刻可定。人自有損益。故遲數有加。所以經云。諸陽為熱。諸陰為寒。</p>
<p>十難曰。一脈為十變者。何謂也。然。五邪、剛柔相逢之意也。假令心脈急甚者。肝邪干心也。</p>
<p>呂曰。夏心主。脈見浮大而散。今反弦。弦者、肝脈來干心也。楊曰。干。猶乘也。虞曰。母乘子曰虛邪。</p>
<p>心脈微急者。膽邪干小腸也。</p>
<p>呂曰。小腸、心之府。脈當浮大而洪。長而微弦者。膽脈也。虞曰。陽干於陽。陰乾於陰。同氣相求也。</p>
<p>心脈大甚者。心邪自干心也。</p>
<p>呂曰。心脈雖洪大。當以胃氣為本。今無胃甚。（按甚字疑當作氣。）故其脈大甚也。此為心自病。故言自干心也。</p>
<p>虞曰。此失時脈也。</p>
<p>心脈微大者。小腸邪自干小腸也。</p>
<p>呂曰。小腸、心之府。微大者、其脈小。為小腸自病。故言自干也。虞曰。小腸、太陽脈也。王於五六月。其脈洪大而長。今得之微大。是知小腸之邪。自干小腸也。此曰正經自病。法曰正邪。故云自干也。</p>
<p>心脈緩甚者。脾邪干心也。</p>
<p>呂曰。緩者、脾脈乘心。故令心脈緩也。虞曰。心脈見緩甚。此曰子之乘母。法曰實邪。</p>
<p>心脈微緩者、胃邪干小腸也。</p>
<p>呂曰。胃脈小緩見於心部。小腸。心府。故言干之。虞曰。於心部中。輕手得之小緩是也。</p>
<p>心脈澀甚者。肺邪干心也。</p>
<p>呂曰。澀、肺脈故言干心也。虞曰。金反凌火。此曰微邪脈也。</p>
<p>心脈微澀者。大腸邪干小腸也。</p>
<p>呂曰。微澀、大腸脈。小腸。心府。故曰干也。</p>
<p>心脈沉甚者。腎邪干心也。</p>
<p>呂曰。沉者、腎脈。故言干也。虞曰。心火炎上。其脈本浮。今見沉形。水來克火。法曰賊邪也。</p>
<p>心脈微沉者、膀胱邪干小腸也。</p>
<p>呂曰。微沉者、膀胱脈也。小腸。心府。故言干也。</p>
<p>五臟各有剛柔邪。故令一脈輒變為十也。</p>
<p>呂曰。此皆夏王之時。心脈見如此者。為失時脈。楊曰。剛柔陰陽也。邪者、不正之名。非有身王氣。而水來干身為病者。通謂之邪也。虞曰。推此十變之候。乃五行勝復相加。故聖人謂之五邪也。五臟各有表裡。更相乘之。一脈成十。故十變也。有陽有陰。故曰剛柔也。於本位見他脈。故曰相逢干也。聖人乃以心一臟為例。其余皆可知也。丁曰。</p>
<p>其言肝邪干心。膽邪干小腸者。此皆虛邪干心也。心邪自干心。小腸邪自干小腸者。此皆為正邪也。脾邪干心。胃邪干小腸者。此皆為實邪也。肺邪干心。大腸邪干小腸者。此皆微邪也，腎邪干心。膀胱邪干小腸者。此皆賊邪也。所謂剛柔相逢者。則十雜也。其十雜者。甲與己合。甲為剛。己為柔。戊與癸合。戊為剛。癸為柔。丁與壬合。丁為剛。壬為柔。丙與辛合。丙為剛。辛為柔。乙與庚合。乙為剛。庚為柔。凡剛柔相逢為病者。剛甚則為病重。柔甚則為病微。柔逢剛。謂從所不勝於剛。故為病甚也。剛逢柔。謂從所勝於柔。故為病微也。其一脈十變之法。是師引此一部之中。二經說此。五邪相干。為之十變。凡兩手三部。各有二經六部之內。各有五邪十變也。故從其首。計其數。六部十變也。</p>
<p>數有六十。是謂六十首也。黃帝曰。先持陰陽。然後診六十首之謂也。</p>
<p>十一難曰。經言脈不滿五十動而一止。</p>
<p>呂曰。經言一臟五十動。五臟二百五十動。謂之平脈。不滿五十動者。無有五十動也。是以一臟無氣也。</p>
<p>一臟無氣者、何臟也。然。人吸者隨陰入。呼者因陽出。今吸不能至腎至肝而還。故知一臟無氣者、腎氣先盡也。</p>
<p>楊曰。按經言持其脈口。數其至也。五十動而不一代者。五臟皆受氣。是為平和無病之人矣。四十動而一代者。一臟無氣。四歲死。三十動而一代者。二臟無氣。三歲死。二十動而一代者。三臟無氣。二歲死。十動而一代者。四臟無氣。一歲死。不滿十動而一代者。五臟無氣也。七日死。難經言止。本經言代。按止者、按之覺於指下而中止。名止。</p>
<p>代者、還尺中停久方來。名曰代也。止代雖兩經不同。據其脈狀亦不殊別。故兩存之。虞曰。此與第八難生氣獨絕之義略相似。八難言父母生氣源。已絕於兩腎之間。故云死也。此言一臟無氣。言呼吸之間。肺行穀氣。腎間父母之原氣。</p>
<p>亦無穀氣所養。原氣漸耗。乃知四歲必死。故云腎氣先盡也。丁曰。五十動者。是天地陰陽。以漏刻為制度。人之脈息。</p>
<p>為自有損益。故無常數。其益過於六十。心肺有餘也。心肺有餘。則腎肝不足也。其損者不及四十之數。則心肺不足。</p>
<p>乃腎肝有餘也。今陽氣虛少。故不滿五十也。其言動而止者。謂吸不能至腎至肝而還。此是陽不榮於下。故腎氣先絕也。</p>
<p>絕則止也。此法又與生氣獨絕於內同法也。</p>
<p>十二難曰。經言五臟脈已絕於內。用針者反實其外。五臟脈已絕於外。用針者反實其內。內外之絕。何以別之。然。</p>
<p>五臟脈已絕於內者。腎肝氣已絕於內也。而醫反補其心肺。五臟脈已絕於外者。其心肺脈已絕於外也。（別本無其字。與上文一例。）而醫反補其腎肝。陽絕補陰。陰絕補陽。是謂實實虛虛。損不足。益有餘。如此死者。醫殺之耳。</p>
<p>呂曰。心肺所以在外者。其臟在膈上。上氣外為榮衛。浮行皮膚血脈之中。故言絕於外也。腎肝所以在內者。其臟在膈下。下氣內養筋骨。故言絕於內也。丁曰。夫五臟內外者。為心肺在膈上。通於天氣也。心主於脈。肺主於氣。外華榮於皮膚。故言外也。腎肝在下。通於地氣。以藏精血。最於骨髓。心肺外絕。絕則皮聚毛落。腎肝內絕。絕則骨痿筋緩，診其脈。學人不能明於內外虛實。致使針藥誤投。所以實實虛虛。損不足。益有餘。如此死者。是醫殺之耳。</p>
<h2>卷之二</h2>
<p>十三難曰。經言見其色而不得其脈。反得相勝之脈者。即死。得相生之脈者病。即自已色之與脈。當參相應。為之奈何。然。五臟有五色。皆見於面。亦當與寸口尺內相應。假令色青。其脈當弦而急。</p>
<p>呂曰。色青、肝也。弦急者肝脈。是謂相應也。虞曰。色青脈弦。中外相應也。素問曰。肝部在目下。於此視色以參脈證。</p>
<p>色赤其脈浮大而散。</p>
<p>呂曰。色赤、心也。浮大而散。心脈也。是謂相應。虞曰。色赤脈大。色脈相應也。素問曰。心部在口。視色合脈。</p>
<p>色黃。其脈中緩而大。</p>
<p>呂曰。色黃者、脾也。中緩而大。脾脈也。虞曰。此色脈相應也。素問曰。脾部在唇。色見其中。以應脈狀。</p>
<p>色白。其脈浮澀而短。</p>
<p>呂曰。白者、肺也。浮澀而短。肺脈也。虞曰。肺部見於闕庭。兩眉上也。</p>
<p>色黑。其脈沉澀而滑。</p>
<p>呂曰。色黑者、腎色也。腎主水。水性沉。腎亦在五臟之下。故其脈沉濡而滑。虞曰。腎色之見於肌皮。在面取其地閣。</p>
<p>此所謂五色之與脈。當參相應也。</p>
<p>呂曰。此正經自病不中他邪故也。虞曰。謂應本經虛實之證也。丁曰。經言色青脈弦而急。色赤脈浮而散。色黃脈中緩而大。色白脈浮澀而短。色黑脈沉濡而滑。此是五臟色脈皆相應。謂正經自病無他色也。脈相則所以言當參相應也。</p>
<p>脈數。尺之皮膚亦數。</p>
<p>丁曰。數即心也。所以臂內皮膚熱也。</p>
<p>脈急。尺之皮膚亦急。</p>
<p>丁曰。急者、臂內經絡滿實。所以堅急也。</p>
<p>脈緩。尺之皮膚亦緩。</p>
<p>丁曰。緩者、肌肉消。故皮膚亦緩弱也。</p>
<p>脈澀。尺之皮膚亦澀。</p>
<p>丁曰。肺主燥。所以臂內皮膚亦澀也。</p>
<p>脈滑。尺之皮膚亦滑。</p>
<p>丁曰。腎主水。其脈滑。所以臂內皮膚亦滑也。此五者。皮膚滑澀急緩數。又與色脈參同也。呂曰。此謂陰陽臟腑浮沉滑澀相應也。</p>
<p>五臟各有聲色臭味。當與寸口尺內相應。</p>
<p>丁曰。其言相應者。脈數、色赤、皮膚熱。此是心之一臟。色脈皮膚參相應也。脈急、青色、皮膚經絡堅急而青。</p>
<p>（此二字疑衍文。）此是肝之一臟。色脈皮膚參相應也。脈緩、色黃、皮膚緩。此是脾之一臟。色脈皮膚參相應也。脈澀、色白、皮膚澀。此是肺之一臟。色脈皮膚參相應也。脈滑色黑、皮膚滑。此是腎之一臟。色脈皮膚參相應也。凡診脈者。</p>
<p>先須循臂之內外。然後診脈視色也。虞曰。肝脈弦。其色青。其聲呼。其臭膻。其味酸。心脈洪。其色赤。其聲笑。其臭焦。其味苦。脾脈緩。其色黃。其聲歌。其臭香。其味甘。肺脈澀。其色白。其聲哭，其臭腥。其味辛。腎脈沉。其色黑。其聲呻。其臭腐。其味鹹。此謂相應也。</p>
<p>其不相應者病也。</p>
<p>虞曰。相應、謂正經自病也。假令肝病。脈弦。色青。多呼。好膻。喜酸。此曰自病也。不相應者。乃如下說。假令肝病。脈澀。色白。多哭。好腥。喜辛。此曰相反。聲色臭味。皆見肺之證候。金之賊木。此曰賊邪。不相應。必死也。</p>
<p>假令色青。其脈浮澀而短。若大而緩為相勝。浮大而散。若小而滑為相生也。</p>
<p>呂曰。色青者、肝也。浮澀而短者、肺也。肺勝肝為賊邪。若大而緩。為脾脈也。肝勝脾。故言相勝也。浮大而散。</p>
<p>心脈也。心為肝之子。若小而滑。腎脈也。腎為肝之母。肝為腎之子。</p>
<p>其脈當弦急。其色當青。即為順也。色青脈澀者、逆也。脈若大而緩。是肝勝於脾也。其病甚。故云相勝。若脈浮大而散。若小而滑。是為相生也。</p>
<p>經言知一為下工。知二為中工。知三為上工。上工者十全九。中工者十全八。下工者十全六。此之謂也。</p>
<p>呂曰。五臟一病輒有五。今經載肝家一臟為例耳。解一臟為下工。解二臟為中工。（按史記正義引此文。二作三。）</p>
<p>解五臟為上工。丁曰。上工者。謂全知色脈皮膚三法相生相勝本始。故治病十全其九。中工知二。謂不能全收。故治病十全得八。下工知一。謂不解明於全法。一心治已病。故十全得六也。虞曰。工者。萬學萬全乃曰工也。凡為醫者。窮難經。察脈之浮沉臟腑虛實。通素問。知經脈往來。針之補瀉。窮本草。識藥之寒溫氣味所歸。全此三家。然後治病。</p>
<p>可曰知三為上工也。醫不三世。不服其藥。謂非工也。素問曰。五臟之象。可以類推。五臟相錯。可以意識。此可曰工也。</p>
<p>十四難曰。脈有損至。何謂也。然。至之脈。一呼再至曰平。</p>
<p>呂曰。平者。謂平調之脈也。丁曰。平者、無過之脈也。虞曰。人之呼吸。曰陰陽也。一呼一吸。謂之一息。經言一呼再至。一吸再至。謂之平脈也。人呼吸法陰陽。一息法一年。一息脈動四至。四至法四時。一呼脈行三寸法三陽。</p>
<p>一吸脈行三寸法三陰。故曰平也。</p>
<p>三至曰離經。</p>
<p>呂曰。經言再至曰平。三至曰離經。不如經言也。其人必病。丁曰。謂加於陰之二倍。故曰離經。虞曰。經者、常也。謂脈離常經之所。細而言之。人一呼脈行三寸。一吸脈行三寸。呼吸定息。脈行六寸。一日一夜。一萬三千五百息。</p>
<p>脈行八百一十丈。乃為一周。後從始起之經再行。令一呼脈三至。脈行四寸半。一吸三至。脈行四寸半。一息脈行九寸。</p>
<p>三日一夜一萬三千五百息。脈行一千二百一十五丈。過於半脈。不在所起之經再起。故曰離經也。舉一例以擬之。如人一日周行百裡。卻從初行之處再行。曰平。今一日卻一百五十裡。過於五十裡。不在周而復始之處再行。故曰離經也。</p>
<p>四至曰奪精。</p>
<p>呂曰。其人短困奪精者。鼻目唇口精候色奪診見也。丁曰。謂加於陰四倍。故曰奪精。虞曰。平脈一息行六寸。今奪精之脈。一息行一尺二寸。此乃一日一夜息數。乃行兩日夜脈度數。尺寸脈。諸夫為數脈者、陽氣亂。況陽為病。頗亦狂言。顏色恍歡。（歡疑惚）呂氏言鼻目唇口精候色奪者非也。夫人納五味。味歸形。形歸氣。氣歸精。今一息四至。</p>
<p>乃陽氣亂。故脈數。數則氣耗。耗則精無所歸。猶如奪去。故曰奪精。如人一日行一百裡。今一日行二百裡。氣疲乏則耗也。</p>
<p>五至曰死。</p>
<p>呂曰。其人病證候已見。脈復加一至。定當死也。虞曰。此比平脈一倍過半。四至已是奪精。五至。其死明矣。丁曰。為加於陰六倍。故曰死也。</p>
<p>六至曰命絕。此死之脈。</p>
<p>呂曰。不出日死。虞曰。五至。死之漸也。六至。今死矣。此言死之脈也。（按原本此下誤衍必是言至之脈也七字。</p>
<p>今刪之。）必是言至之脈。恐寫之誤。可合下文。（按此下似有脫字。）</p>
<p>何謂損。一呼一至曰離經。</p>
<p>丁曰。為陰加於陽四倍也。虞曰。前之至脈離經。謂脈行過半。此之損脈離經。謂脈行減半。以下吸養於呼也。</p>
<p>二呼一至曰奪精。</p>
<p>丁曰。謂陰加於陽六倍也。虞曰。平人脈。一日一夜。五十周身。今二呼而脈一至。一日一夜。不及一十三周身。</p>
<p>脈只行及二百二丈五尺。其人氣耗血枯。神慘色夭。精華猶如奪去。</p>
<p>三呼一至曰死。</p>
<p>虞曰。平人之脈。三呼脈六至。一日一夜。八百一十丈。無危。今三呼脈一至。脈口行一寸半。一日一夜。只行及六十七丈五尺。不及五周身。（按此數誤。當云行一百三十五丈。不及九周身。）如此之候死可待也。</p>
<p>四呼一至曰命絕。此謂損之脈也。</p>
<p>虞曰。四呼當八至。今四呼脈一至。一日一夜。不及四周身。（按當云不及七周身。）氣血已盡。臟敗神去。故命絕也。</p>
<p>至脈從下上。損脈從上下也。</p>
<p>呂曰。至脈從下上者。謂脈動稍增。上至六。至多而呼少。損脈從上下者。謂脈動稍減至一。呼多而至少也。</p>
<p>損脈之為病奈何。然。一損損於皮毛。皮聚而毛落。</p>
<p>虞曰。一損損肺。肺主皮毛。故皮聚而毛落也。</p>
<p>二損損於血脈。血脈虛少。不能榮於五臟六腑也。（別本無也字。與上文一例。）</p>
<p>虞曰。二損損血脈。是知心受之。心主血。今則心血枯。不能榮於五臟六腑也。</p>
<p>三損損於肌肉。肌肉消瘦。飲食不為肌膚。</p>
<p>虞曰。脈之三損損於脾。脾者、受納五味。以化生五氣臟腑。以長肌膚。今既損。故味不化。則肌肉消瘦也。</p>
<p>四損損於筋。筋緩不能自收持。</p>
<p>虞曰。四損損肝。病乃如是。素問曰。其有傷筋縱。若其不容容。容、不收持也。</p>
<p>五損損於骨。骨痿不能起於床。反此者至於收病也。</p>
<p>虞曰。今之五損損於腎。腎主骨故骨痿不能起於床。素問曰。腎熱則腰脊不舉。骨枯髓減。發為骨痿。痿者、無力也。呂曰。收者、取也。經但載損家病。不載至家病。至家者。諸陽六腑病。六腑病。苦頭痛身熱。忽特不利。與損家病異。今反載損家病證。故損脈於此受病。非是至家病也。</p>
<p>從上下者。骨痿不能起於床者死。</p>
<p>呂曰。從肺損至骨。五臟俱盡。故死。肺在上也。虞曰。至此推窮損家病證。一損肺。二損心。三損脾。四損肝。</p>
<p>五損腎。乃如第五難脈輕重菽數下損之腎也。</p>
<p>從下上者。皮聚而毛落者死。</p>
<p>呂曰。從腎損之肺。亦復五臟俱盡。故死也。此是損家病證。非至家病證。腎在下故也。</p>
<p>治損之法奈何。然。損其肺者。益其氣。</p>
<p>呂曰。肺主氣。今損。故當以針藥益其氣也。丁曰。肺者、主其氣。故損即補之以針。補其手太陰經中俞大淵穴也。</p>
<p>以辛味佐不足。即是益其氣也。</p>
<p>損其心者。調其榮衛。</p>
<p>呂曰。心者、榮衛之本。今損當以針藥調之。丁曰心者、主榮衛。故損即補之以針。補其手少陰經中井。手厥陰經中井。是其母。手少衝。手中衝。亦是其母。以苦味佐之。此調其榮衛之現也。虞曰。心主血。血為憂愁。思慮傷於心。</p>
<p>因茲致損。凡人血流據氣。氣動依血。宣調榮衛。節憂愁思慮以治之。</p>
<p>損其脾者。調其飲食。適寒溫。（別本適下有其字。與上句一例。）</p>
<p>呂曰。脾主飲食。今其氣衰損。穀不消化。故當調適寒溫也。丁曰。脾損則調其飲食。適其寒溫。謂脾主意思。故順其意思飲食。適其寒溫也。虞曰。脾化水穀以生氣血。今見脾損。飲食不為肌肉。宜調節飲食。無令傷脾也。適其寒溫者。啟玄子謂春涼食、夏冷食、秋溫食、冬熱食也。本經曰。飲食勞倦傷脾也。</p>
<p>損其肝者。緩其中。</p>
<p>呂曰。肝主怒。其氣急。故以針藥以緩其中。丁曰。肝主怒。以甘緩其中。以土味和其肝。當補足厥陰合曲泉穴是也。虞曰。怒則氣逆。脈乃強急。以憑方術。以緩其中。素問曰。肝苦急。急食甘以緩之。又曰。宜食甘。粳米生肉棗葵味皆甘。甘性緩也。</p>
<p>損其腎者。益其精。此治損之法也。</p>
<p>呂曰。腎主精。今損。故以針藥補益其精氣。丁曰。益其精者。以咸味補之。當補足少陰經中復溜穴。是其母也。</p>
<p>虞曰。耗周過多。（按周字疑當作用。）而致損腎。宜憑咸味以補精華。</p>
<p>脈有一呼再至。一吸再至。有一呼三至。一吸三至。有一呼四至。一吸四至。有一呼五至。一吸五至。有一呼六至。</p>
<p>一吸六至。</p>
<p>虞曰。此重明前之至脈病證。乃如後說。</p>
<p>有一呼一至。一吸一至。有再呼一至。再吸一至。有呼吸再至。（按此五字疑衍。）</p>
<p>虞曰。此重明損脈。輕重生死當如後說。</p>
<p>脈來如此。何以別知其病也。然。脈來一呼再至。一吸再至。不大不小曰平。一呼三至。一吸三至。為適得病。</p>
<p>虞曰。脈三至曰離經。反於常經。知病始得。</p>
<p>前大後小。即頭痛目眩。</p>
<p>虞曰。病在三陽。</p>
<p>前小後大。即胸滿短氣。</p>
<p>丁曰。前大者、為寸外大也。後小者、寸內小也。寸前大則頭痛目眩。寸後大者。胸滿短氣。經言寸部法天。主胸以上至頭有疾故也。虞曰。病在三陰。</p>
<p>一呼四至。一吸四至。病欲甚。</p>
<p>虞曰。脈病反常經。法曰奪精之脈。脈大。法曰渾渾。革至如涌泉者。病進欲甚之理明也。</p>
<p>脈洪大者。苦煩滿。</p>
<p>虞曰。病在三陽。陽盛煩滿。</p>
<p>沉細者。腹中痛。</p>
<p>虞曰。病在三陰。陰主於內。故腹中病也。</p>
<p>滑者傷熱。</p>
<p>虞曰。脈動如徐前卻流利替替然。熱盛於氣。其脈滑也。</p>
<p>澀者中霧露。</p>
<p>虞曰。澀脈狀如刀刮竹。寒盛於血。故脈乃澀也。</p>
<p>一呼五至。一吸五至。其人當困。</p>
<p>虞曰。脈一息十至。氣血勞走不困。受為生死。如下說。</p>
<p>沉細夜加。浮大晝加。</p>
<p>虞曰。陰脈細沉。夜加可驗。陽脈浮大。晝甚可加。（按此加字當作知。）</p>
<p>不大不小。雖困可治。其有大小者。為難治。</p>
<p>虞曰。極大。陽大盛。必減。極小。陰水弱。必竭。故曰難治。</p>
<p>一呼六至。一吸六至。為死脈也。</p>
<p>虞曰。三倍於常。陽氣亂極。故曰死也。</p>
<p>沉細夜死。</p>
<p>虞曰。陰絕使然。</p>
<p>浮大晝死。</p>
<p>虞曰。陽絕如是。</p>
<p>一呼一至。一吸一至。名曰損。</p>
<p>虞曰。此損至離經之脈證。</p>
<p>人雖能行。猶當著床。所以然者。血氣皆不足故也。再呼一至。呼吸再至。（按此句當云再吸一至。）名曰無魂。無魂者、當死也。人雖能行。名曰行尸。</p>
<p>虞曰。尋此至數。與前義相違。亦恐錯簡也。魂屬陽。陽主生。今脈形如是減損。乃知陽絕。陽絕則魂去。故人死也。</p>
<p>上部有脈。下部無脈。其人當吐。不吐者死。上部無脈。下部有脈。雖困無能為害也。所以然者。譬如人之有尺。</p>
<p>樹之有根。（按滑氏本義云。譬如二字。當在有尺下。）枝葉雖枯槁。根本將自生。脈有根本。人有元氣。故知不死。</p>
<p>丁曰。經言脈有從上下者。是謂五臟之氣。不相榮養。致令有此損至也。五臟之氣。隨呼吸上下。遞相榮養。其心肺主氣。脈則隨吸而榮其腎肝。其吸不能至腎至肝者。蓋腎先損。則病骨痿也。其腎肝不榮於上。故先病其肺。病則皮聚毛落也。其損甚者皆死。一呼再至曰平。一呼三至。即是陽加於陰二倍也。適得病也。其脈洪大曰離經。前大者、謂寸外大也。後小者、謂寸內小也。前小者、寸外小也。後大者、寸內大也。前大後小。則頭痛目眩。前小後大。即胸滿短氣。經曰。上部法天。以候胸以上至頭。素問曰。寸外以前。主頭角耳目。寸內以後。主胸中。關以上。主膈下脅旁。</p>
<p>關內以後。主腹中。尺外以前。主臍下。尺內以後。主至足下。凡左右有此大小隨部言之。一呼四至。謂陽氣加陰四倍。</p>
<p>故曰奪精也。二呼一至者。是陰加於陽四倍。亦曰奪精。其浮大者。陽病甚。苦煩滿也。加於滑者。傷於熱極也。其沉細者。陰病甚。所以腹中痛也。加於澀者。中霧露所作也。一呼五至。一吸五至。沉細則夜甚。浮大則晝甚。其有內外大小者。游魂也。此不可療。其數至愈增愈減者死。上部有脈。下部無脈。其人自當發吐。其不吐。是氣獨絕於內也。</p>
<p>上部無脈。下部有脈。雖困無能為害者。謂神不守也。（按不字疑當作內。）神昏如魚掉尾者死。楊曰。上部寸口。下部尺中也。虞曰。此又明人稟父母之元氣也。</p>
<p>十五難曰。經言春脈弦。夏脈鉤。秋脈毛。冬脈石。是王脈耶。將病脈也。然。弦鉤毛石者。四時之脈也。春脈弦者。肝東方木也。萬物始生。未有枝葉。故其脈之來。濡弱而長。故曰弦。</p>
<p>呂曰。春、萬物始生。未有枝葉。形狀正直如弦。故脈法之也。丁曰。春脈弦者。微弦曰平。平者、謂有胃氣。胃者、土也。能成於四方。間於四旁。故四時脈見。弦鉤毛石。皆當微見。即是有胃氣也。但獨見四時之脈者。皆無胃氣也。</p>
<p>夏脈鉤者。心南方火也。萬物之所盛。垂枝布葉。皆下曲如鉤。故其脈之來疾去遲。故曰鉤。</p>
<p>呂曰。心脈法火。曲如鉤。又陽盛。其脈來疾。陰虛。脈去遲也。脈從下上至寸口疾。還尺中遲。寸口滑不泄。故令其脈環曲如鉤。</p>
<p>秋脈毛者。肺西方金也。萬物之所終。草木華葉。皆秋而落。其枝獨在若毫毛也。若其脈之來。輕虛以浮。故曰毛。</p>
<p>呂曰。肺浮在上。其氣主皮毛。故令其脈浮如毛也。</p>
<p>冬脈石者。腎北方水也。萬物之所藏也。盛冬之時。水凝如石。故其脈之來。沉濡而滑。故曰石。</p>
<p>呂曰。腎脈法水。水凝如石。又伏行溫於骨髓。故其脈實牢如石也。</p>
<p>此四時之脈也。如有變奈何。然。春脈弦。反者為病。何謂反。</p>
<p>丁曰。反者、為見秋脈如毛。是謂肝病。</p>
<p>然。其氣來實強。是謂太過。病在外。</p>
<p>呂曰。實強者、陽氣盛也。少陽當微弱。今更實強。謂太過。陽主表。故令其病在外也。丁曰。病在外者。是少陽。</p>
<p>其脈微弦。今實強者。是膽有餘。面青好怒。是肝木之外證也。</p>
<p>氣來虛微。是謂不及。病在內。</p>
<p>呂曰。厥陰之氣養於筋。其脈弦。今更虛微。故曰不及。陰處中。故令其病在內。丁曰。病在內者。肝不足也。肝含血養筋。不足則筋緩。溲便難。是肝之內證也。虞曰。太過之脈。謂不至而至。不及之脈。謂脈息虛微。太過。眩冒顛疾。其不及。則令人胸痛。引背下。則兩脅脹滿也。</p>
<p>氣來厭厭聶聶。如循榆葉。曰平。</p>
<p>呂曰。春少陰厥陰俱合主。其脈之來。如春風吹榆葉。濡弱而調。故曰平脈也。</p>
<p>益實而滑。如循長竿。曰病。</p>
<p>呂曰。此謂弦多胃氣少也。丁曰。長而不軟。故若循竿。是為病也。</p>
<p>急而勁益強。如新張弓弦。曰死。</p>
<p>呂曰。此謂但弦。無胃氣也。丁曰。謂強急而緊細。故曰如新張弓弦也。</p>
<p>春脈微弦曰平。弦多胃氣少曰病。但弦無胃氣曰死。春以胃氣為本。</p>
<p>呂曰。胃主水穀。故人稟胃氣。丁曰。胃者、水穀之海。五臟皆受氣於穀。胃者主稟四方。故以胃氣而為本也。（按而字疑衍）</p>
<p>夏脈鉤。反者為病。何謂反。</p>
<p>丁曰。謂脈來石滑。如冬之脈。故曰反。</p>
<p>然。其氣來實強。是謂太過。病在外。</p>
<p>呂曰。實強者、太陽受氣盛也。太陽者、浮散。今反實強。故曰太過也。丁曰。其外者、太陽小腸為腑。故病在外。</p>
<p>其面赤喜笑。是心火之外證也。</p>
<p>氣來虛微。是謂不及。病在內。</p>
<p>呂曰。手少陰主血脈。其氣尚平實。今反見虛微。故曰不及也。丁曰。少陰心。夏盛王。今反虛微。是謂不及。不及則病在內。喜笑其神不守。虞曰。少陰心脈。本平實。今反虛微。故曰不及也。太陽小腸。脈本浮大。今反實強。曰太過也。其太過不及之證。乃如下說。玉機真臟論曰。夏脈太過。其病身熱而膚痛。為浸淫。其不及者。令人煩心。上見咳嗽。下為氣泄也。</p>
<p>其脈來。累累如環。如循琅　。曰平。</p>
<p>呂曰。心滿實。累累如人指循琅　者。是金銀　釧之物勁也。此皆實之類也。故云平。丁曰。言心脈滿實。累累如連珠。其言循琅　者。謂琅　是玉與珠類貫如環之象也。</p>
<p>來而益數。如雞舉足者曰病。</p>
<p>呂曰。心脈但當浮散。不當數也。雞舉足者。喻其數也。丁曰。心脈但當浮散。今又加其至數。即病。故喻其脈如雞舉足走也。</p>
<p>前曲後居。如操帶鉤。曰死。</p>
<p>呂曰。後居謂之後直。如人革帶之鉤。前曲後直也。是謂但鉤無胃氣。丁曰。操者、執也。如手執革帶前鉤曲無力也。後居。倨而不動勁有。故曰死也。</p>
<p>夏脈微鉤曰平。鉤多胃氣少曰病。但鉤無胃氣曰死。夏以胃氣為本。</p>
<p>呂曰。胃者。中州。主養於四臟也。</p>
<p>秋脈微毛。反者為病。何謂反。然。氣來實強。是謂太過。病在外。</p>
<p>呂曰。肺脈者當微毛。今更實強。故曰病在外。丁曰。外者、謂手陽明太陰也。故外證面白善嚏。悲愁不樂。皮毛干燥。此是肺金之外證也。</p>
<p>氣來虛微。是謂不及。病在內。</p>
<p>呂曰。肺脈輕。虛浮如毛。今按之益虛微。是無胃氣。故病在內。丁曰。病在內者。手太陰肺也。其內證。喘咳、洒淅寒熱。此是肺金之內證也。虞曰。太過不及。病如下說。玉機真臟論曰。秋脈太過。則令人逆氣。而背痛慍慍然。</p>
<p>秋脈不及。則令人喘。呼吸少氣。上氣見血。下聞病音。</p>
<p>其脈來。藹藹如車蓋。按之益大。曰平。</p>
<p>呂曰。車蓋、乃小車之蓋。輕浮。藹藹然也。按之益大。有胃氣。故曰平也。丁曰。如車之曲蓋偃藹之狀。故曰平也。</p>
<p>不上不下。如循雞羽。曰病。</p>
<p>呂曰。如循雞羽者。是其氣虛微。胃氣少。故曰病。丁曰。手太陰肺金。乘夏余陽。故其脈上。又其氣當於下降。</p>
<p>今不上不下。如循雞羽者。但當澀澀然。故曰病也。</p>
<p>按之消索。如風吹毛。曰死。</p>
<p>呂曰。此無胃氣。丁曰。風吹毛者。飄騰不定無歸之象。故曰如風吹毛而死也。</p>
<p>秋脈微毛為平。毛多胃氣少曰病。但毛無胃氣曰死。秋以胃氣為本。</p>
<p>呂曰。四臟皆須稟胃氣也。</p>
<p>冬脈石。反者為病。何謂反。然。其氣來實強。是謂太過。病在外。</p>
<p>呂曰。冬脈當沉濡。今反實強。故曰太過。太過者。陽脈病。故言病在外也。丁曰。反者、冬得長夏之脈。長夏者。</p>
<p>土也。胃土脈緩而微曲。故病也。在外者。是足太陽之經也。面黑善恐欠。是其腎水之外證也。</p>
<p>氣來虛微。是謂不及。病在內。</p>
<p>呂曰。冬脈沉濡。今反虛微。故言不及。不及者、陰病在內也。丁曰。足少陰腎脈也。主水王冬。其脈沉濡而滑。</p>
<p>今虛微少氣。是謂不及。病在內。其內證。氣逆小腹急。痛泄如下重。此腎水內證也。虞曰。冬脈太過。則令人解　。</p>
<p>謂似病不病也。春脈痛而少氣不欲言也。冬脈不及。則令人心如懸病飢。　中清。脊中痛。少腹滿。小便變也。</p>
<p>脈來上大下兌。濡滑如雀之喙。曰平。（按原本喙誤啄。並後音釋亦誤。然注云許穢切。則為喙字明矣。今改正。）</p>
<p>呂曰。上大者、足太陽。下兌者、足少陰。陰陽得所。為胃氣強。故謂之平。雀喙、謂本大末兌也。丁曰。腎脈本性濡滑。今診之。應手而大。去而小。故曰上大下兌。喻如雀喙。是謂平也。</p>
<p>啄啄連屬。其中微曲。曰病。</p>
<p>呂曰。啄啄者、不息。故謂之連屬。其中微曲。是脾來乘腎。脈緩而曲。故病。丁曰。啄啄謂如雀。啄啄連連時止。</p>
<p>腎衰之病也。</p>
<p>來如解索。去如彈石。曰死。</p>
<p>呂曰。解索謂虛縵無根本也。來遲去疾。故曰彈石也。丁曰。診之應手如脫解之索。無力也。去疾而如彈石，是腎死也。</p>
<p>冬脈微石曰平。石多胃氣少曰病。但石無胃氣曰死。冬以胃氣為本。胃者、水穀之海也。主稟四時。故皆以胃氣為本。是謂四時之變病。死生之要會也。</p>
<p>虞曰。胃屬土。土者、五也。萬物歸之。故曰水穀之海。一年王辰戌丑未。故曰主稟四時。謂弦鉤毛石。四時之經。</p>
<p>皆得胃氣為本。若胃氣少則人病。若無胃氣則人死。故曰四時變病。死生之要會也。萬物非土孕育。則形質不成也。易曰。坤濃載物。德合無疆。</p>
<p>脾者、中州也。其平和不可得見。衰乃見耳。來如雀之啄。如水之下漏。是脾之衰見也。</p>
<p>呂曰。脾寄王四季。故不言王言平和。脈不見。其衰病見耳。其脈見如屋之漏。如雀之啄。如水之下漏。皆腎來乘脾。故使衰病。肝乘脾則死。腎不勝脾。故但病也。丁曰。脾者、成於四方。故平常不見。衰乃見。如雀之啄。如水之滴漏。虞曰。如水之漏。乃是脾脈太過。如雀之啄。是謂脾脈不及。太過則令人四肢不舉。不及則令人九竅不通。故平和不可得見。衰乃見也。</p>
<p>十六難曰。脈有三部九候。</p>
<p>呂曰。三部者、寸關尺也。九候者、上部三候。中部三候。下部三候。三三如九也。丁曰。三部者、寸關尺也。九候者、浮中沉也。是一難之所演也。虞曰，三部法三才。故有天地人。三部之中。亦各有天地人。因而成九。上部天。</p>
<p>以候頭角。上部之人。以候耳目。上部之地。以候口齒。中部之天。以候肺。中部之人。以候心。中部之地。以候胸中之氣。下部之天。以候肝。下部之人。以候脾胃。下部之地。以候腎。故曰三部九候也。</p>
<p>有陰陽。</p>
<p>呂曰。寸口者、陽脈見九分而浮。尺部者、陰脈見一寸而沉。丁曰。陰陽者、是二難。尺寸皆陰陽前後上下之法也。</p>
<p>虞曰。三部之中。各有一陰一陽。來者為陽。去者為陰。察陽者知病之所有。察陰者知死生之期也。</p>
<p>有輕重。</p>
<p>呂曰。肺如三菽之重。是謂輕腎脈。按之至骨。如十五菽之重。是謂重也。丁曰。輕重者、是五難。言輕重之法也。</p>
<p>虞曰。凡切陽脈。乃輕手取。謂陽脈浮也。切陰脈。乃重手取。謂陰脈沉也。故曰輕重也。</p>
<p>有六十首。</p>
<p>呂曰。首、頭首也。蓋三部從頭者。脈輒有六十首。丁曰。六十首者、是十難。經一脈變為十是也。虞曰。六十首者。乃一脈變為四時是也。謂春脈弦。夏脈鉤。秋脈毛。冬脈石。季夏及四季脈緩。逐四時之休王。一脈變為五十二經。</p>
<p>內成六十首也。</p>
<p>一脈變為四時。</p>
<p>呂曰。是手太陰之動。以決四時逆順吉凶之法也。丁曰。十五難是言四時以胃氣為本。況經脈十二經。謂脈隨四時之變換。非手太陰也。虞曰。凡切脈。始起於六脈。謂浮沉長短滑澀也。乃三陰三陽之脈也。六脈趣四時之變。故有二十四脈形焉。今六十首。乃備言手足三陰三陽。合之為十二脈。隨弦鉤毛石變之為時經。合之為六十脈。故曰一脈變為四時。</p>
<p>離聖久遠。各自是其法。何以別之。</p>
<p>呂曰。言三部是一法。九候是一法。陰陽是一法。輕重是一法。六十首是一法。言法象無多。難可分別。故言之此難也。丁曰。離聖人久遠者。為越人時去聖逾遠也。各自是其法者。為前所演其法也。故曰各自是其法也。</p>
<p>然。是其病有內外證。</p>
<p>呂曰。法象無多。或變為四時。難可分別。故以中外別其病。以名之難也。丁曰。是字當作視物之視。上文言視病之法。不與診法同。故云別也。然字者、是越人自答之語也。言使人視其精明五色。循按察之左右。即知內外之證。故知是字當作視物字用。此是字傳寫之錯誤也。虞曰。一臟一腑。乃一表一裡。腑之病主於外。故有外證。臟之病主於內。</p>
<p>故有內證也。</p>
<p>其病為之奈何。然。假令得肝脈。</p>
<p>虞曰。肝脈弦軟而長。</p>
<p>其外證善潔。面青善怒。</p>
<p>足少陽膽者、腑也。故有病則見於外也。又膽為清淨之腑。故善潔也。主於外。見面青也。又膽為中正之官。主決斷。故善怒也。</p>
<p>其內證齊左有動氣。按之牢若痛。</p>
<p>虞曰。五積之候。肝之積名曰肥氣。在齊之左也。</p>
<p>其病四肢滿閉。</p>
<p>虞曰。肝木脾土。脾主四肢。木病則土無所畏。故四肢閉滿。玉機真臟論曰。脾太過。令人四肢不舉。癃溲便難轉筋。有是者肝也。無是者非也。</p>
<p>丁曰。肝者、東方木也。其治在左應震。齊左有動氣。按之牢若痛。其病四肢滿閉者。謂肢節攣　也。淋溲便難者、足厥陰上系舌本。下環於陰器。故淋溲便難也。其轉筋者、謂肝含血以養筋。故病即轉筋也。有此內外證。即肝也。無是者。非也。虞曰。癃溲、謂小府澀也。便難。大府所注難也。謂肝脈循於陰器。故癃溲也。肝腎主下部。肝病則氣逆不行於下。故便難也。肝屬木也。木曰曲直。筋乃象之。今肝病。故轉筋也。呂曰。外證者。腑之候。膽者清淨之腑。</p>
<p>故面青善潔。若衣被飲食不潔者。其人便欲怒。膽色青。故面青怒也。（按此怒字疑衍。）其內證者、肝之證。肝者、東方為青龍。在左方。故肝之證在齊左。</p>
<p>假令得心脈。其外證。面赤。口乾。喜笑。</p>
<p>丁曰。外證者、手太陽之脈為外經。故有病即見於外。其應火。故病即外熱、口乾、喜笑。是其外證也。虞曰。心脈浮大而散。心屬火。火性炎上。故面亦口乾也。心在聲為笑也。</p>
<p>其內證。齊上有動氣。按之牢若痛。其病煩心。心痛。掌中熱而　。有是者。心也。無是者。非也。</p>
<p>丁曰。心者、南方火也。其位在離。故齊上有動氣。其病煩心、心痛、掌中熱而　者。心病即煩痛、故　。臂內掌中熱而　者。是其內證也。有其證者。心之病。無其證者。即非也。虞曰。心之積名曰伏梁。在齊上。火之生熱。心為五臟之君。四臟有病。心主知之。尚有痛狀。何況本經自病耶。常痛、乃心包脈也。正心不受病。病則旦占夕死。夕占旦死。重明受病。則心包絡。乃手厥陰之脈。出兩手中指之端。不入掌心。屈名指取之。　名勞宮　。心包病。則掌中熱而　心。呂曰。外證者。小腸手太陽脈為熱。故令口乾。陽主躁。故喜笑也。其內證者心。心在前為朱雀。故證在齊上也。</p>
<p>假令得脾脈。</p>
<p>虞曰。脾脈中緩而大。</p>
<p>其外證面黃善噫。</p>
<p>丁曰。其外證面黃。陽明為胃之經。故見色黃。外之證也。虞曰。脾、土也。在變動為噫。</p>
<p>善思。</p>
<p>虞曰。脾者在志為思也。</p>
<p>善味。</p>
<p>虞曰。脾主甘受味。故善味。</p>
<p>其內證。當齊有動氣。按之牢若痛。</p>
<p>虞曰。脾之積。名曰痞氣。當齊之中。</p>
<p>其病。腹脹滿。食不消。體重。節痛。怠墮嗜臥。四肢不收。有是者。脾也。無是者。非也。</p>
<p>丁曰。內證者、足太陰脾也。當齊有動氣者。脾主中州也。其病腹滿。食不消。體重節痛。怠墮嗜臥。四肢不收。</p>
<p>皆為土。土靜、故有此證。前注言外證面黃而不解余說者。為善噫。善味者、是脾也。今腹脹滿。食不消。即是胃也。</p>
<p>胃為水穀之海。病即食不消。體重節痛。怠墮嗜臥。四肢不收。皆是見外證也。今卻言內證也。此經所說。文至不明。</p>
<p>未敢盡注其說。以俟後賢。虞曰。濕氣勝則令人彭脹。陽氣在下。食乃不消。得主內。病則如是。脾屬土。土性安靜。</p>
<p>故知是土主四肢。病乃四肢不收。呂曰。外證、足陽明胃脈之證。胃氣實。穀氣消。即多所思。欲飲食。胃氣虛。食不消。氣力虛羸。其人感思慮。內證者、脾也。脾在中央。故證當齊。齊者、又陰陽之中。故其脈在脾也。</p>
<p>假令得肺脈。其外證。面白善嚏。悲愁不樂。欲哭。</p>
<p>丁曰。其外證者、手陽明之經。大腸為肺之腑也。故善嚏。悲愁不樂。欲哭。此外之證也。虞曰。肺脈浮短而澀。</p>
<p>面白。乃金之色也。肺主皮毛。皮毛外感寒。內合於肺。故嚏也。悲者、肺之志也。脾土肺金。脾為肺母。脾主歌。子病母憂。故不樂。在聲為哭。</p>
<p>其內證。齊右有動氣。按之牢若痛。其病。喘嗽、洒淅寒熱。有是者。肺也。無是者。非也。</p>
<p>丁曰。其言內證者。手太陰之經。應西方金在兌。故言齊右有動氣也。其為喘嗽洒淅寒熱者。故知內證也。虞曰。</p>
<p>肺之積。名曰息賁。在右脅下。肺主皮毛。今寒氣外感於皮毛。內合於肺。則氣道澀。故喘而咳。肺主氣。外候於皮毛。</p>
<p>肺虛則洒淅寒。肺實則熱而悶。故云寒熱也。呂曰。外證者、大腸脈也。乃手陽明之脈。為肺之腑。氣通於鼻。故善嚏。</p>
<p>肺主秋。秋、愁也。故其病悲哭。內證者。肺之證。肺主皮毛。有寒則洒淅咳嚏。肺在西方。為白虎。主右方。故證在齊右。</p>
<p>假令得腎脈。其外證。面黑、喜恐欠。</p>
<p>丁曰。其外證者。太陽膀胱之經。故為外經也。故有病則色黑。面黑喜恐欠也。虞曰。沉濡面滑。腎之脈也。黑色、腎之色也。在志曰恐。巨陽虛則欠。</p>
<p>其內證。齊下有動氣。按之牢若痛。</p>
<p>虞曰。腎之積。名曰賁豚。在齊下。故云在齊下。（按以前四條例之。此五字疑衍。）</p>
<p>其病逆氣。少腹急痛。泄如下重。足脛寒而逆。有是者。腎也。無是者。非也。</p>
<p>丁曰。其內證者、腎王於冬。應北方。故在齊之下也。其病。逆氣。少腹急痛。泄如下重。其泄者為大瘕。泄而裡急後重也。此內之證也。虞曰。腎氣不足。傷於衝脈。故氣逆腎者。足少陰之脈。循少腹與足厥陰足太陰三陰交於齊下。</p>
<p>今病。故少腹急痛也。五泄之候。腎為後重泄。腎者、胃之關。今氣虛。故為下重泄。謂食畢思急圊。足內踝上五寸間。</p>
<p>乃足少陰之動脈。故足脛寒而逆。通評虛實論曰。氣逆者、足寒也。呂曰。外證、足太陽膀胱脈也。其人善欠者。其人善惡寒。若脛寒。身體洒洒而寒。故其善欠。（按此其字疑衍。）腎與手少陽。俱主候心。故善恐。其內證者。腎王於冬。</p>
<p>主北方玄武。故證在齊下。虞曰。經言是其病有內外證。推尋至此。惟肝脈平證。善潔二字是表證。心脈不見手太陽外證。脾脈中有善噫。是外證。肺脈亦無手陽明之證。腎脈中只有欠一字。是足太陽不足之證。五臟推之。黃帝素問並言皆只足臟之證也。越人言其外證者、取其形見於外也。呂氏所注。多不該經旨。</p>
<p>十七難曰。經言病或有死。或有不治自愈。或連年月不已。其死生存亡。可切脈而知之耶。然。可盡知也。診病若閉目不欲見人者。脈當得。肝脈強急而長。</p>
<p>丁曰。此是肝之病證。故脈強急而長。楊曰。強急猶弦急。虞曰。肝木之脈。弦軟而長。今見強急。病乃如是。</p>
<p>而反得肺脈浮短而澀者。死也。</p>
<p>丁曰。浮短澀者。是肺脈。此者金當勝木。故知死也。楊曰。肝為木。肺為金。肝病得肺脈。真鬼來克。金勝木。</p>
<p>故必死也。</p>
<p>病若開目而渴。心下牢者。脈當得緊實而數。反得沉濡而微者。死也。</p>
<p>丁曰。心之病證。今反見腎脈。心火腎水。水來克火。故知死也。楊曰。心病得腎脈。水勝火。故死也。按之短實而數。有似切繩。謂之緊也。按之短小不動搖。若有若無。輕手乃得。重手不得。謂之微也。虞曰。病開目而渴。心下牢。脈又緊實而數。此曰陽病得陽脈。脈不相反。今見沉濡而微。謂陽病得陰脈。故曰死也。</p>
<p>病若吐血。復鼽衄血者。脈當沉細而反。浮大而牢者。死也。</p>
<p>丁曰。此者肺脈之病證。今反見心脈。心火肺金。火來勝金。故知死也。虞曰。血屬陰。吐血衄血。脈得沉細。此謂脈與病相應。今反浮大而牢。與病相反。故死也。</p>
<p>病若譫言妄語。身當有熱。脈當洪大。而手足厥逆。脈沉細而微者。死也。</p>
<p>丁曰。此病是心病之證。今反手足厥。脈沉細而微者。是水勝火。即知死也。楊曰。按之遲但小謂之細。</p>
<p>虞曰。肺主聲。心主言。今脈洪大。是知熱乘於心。肺邪受之。故譫言妄語。肺主皮毛。今邪客於衛氣。不得宣通。</p>
<p>乃身熱。夫如是。病與脈相應。今手足厥逆。脈沉細而微。陽病得陰脈。故云必死也。</p>
<p>病若大腹而泄者。脈當微細而澀。反緊大而滑者。死也。</p>
<p>丁曰。此病脾土之證候。緊大滑者是肝。木來勝土。故知死也。此經不言腎。水之證。闕此一臟也。楊曰。凡此五者。病脈相反。故為必死。經云。五逆者死。此之謂也。虞曰。濕氣勝則脹。脾不禁故泄。脈微細澀。病脈相承。緊大而滑。此曰相反。如此之候。其死明矣。</p>
<p>十八難曰。脈有三部。部有四經。手有太陰陽明。足有太陽少陰。為上下部。何謂也。然。手太陰。陽明金也。足少陰。太陽水也。金生水。水流下行而不能上。故在下部也。</p>
<p>丁曰。夫脈有三部者。寸關尺也。若合兩手言之。即六部也。每部之內。各有二經。六部之內。合為十二經。今此云四經者。是謂手太陽陽明。與足太陽少陰。此四經者。法水火之性。各有綱紀。而不能變通上下。余八經在手生足。</p>
<p>在足生手。所以經言部有四也。是右手寸口。肺與大腸應金生左尺水也。足太陽少陰水。其性潤下。故不能上生於手。</p>
<p>而生左足厥陰少陽木。此二部皆是足之經紀。所以言在下部也。是左尺水。生左關木。楊曰。手太陰、肺脈也。肺為諸臟上蓋。其治在右方。故在右手上部也。手陽明。大腸脈。是肺之府。故隨肺居上部焉。足少陰腎脈。腎為水。肺之子。</p>
<p>水流趣於腎。又最居於下。故為左手下部也。足太陽膀胱。為腎之府。故隨腎居下部焉。經言脈有三部。部有四經者。</p>
<p>謂總兩手而言之也。兩手各有三部。部各有二經。兩手上部合四也。中下二部亦復如此。三四十二。則十二經也。肺金居上而下生腎水。故肺腎在左右手上下部也。</p>
<p>足厥陰少陽木也。生手太陽少陰火。火炎上行而不能下。故為上部。</p>
<p>丁曰。手太陽少陰。應左寸君火。火上（按此上字疑當作性。）炎上。不能下生足。而生手心主少陽火。是生右尺相火也。楊曰。足厥陰。肝脈也。肝治在左方。故為左手之下部。足少陽膽者。為肝之府。故隨肝居下部也。手太陽。小腸脈。為心之府。故隨心居上部焉。</p>
<p>手心主少陽火。生足太陰陽明土。土主中宮。故在中部也。</p>
<p>丁曰。是相火應其灰火也。中部者、右關也。生右寸。金也。楊曰。手心主心包絡脈也。手少陽。三焦脈也。故合為左手中部。足太陰。脾脈也。足陽明。胃脈也。故合為右手中部。此經作如此分別。若依脈經配二部。又與此不同也。</p>
<p>虞曰。經言手心主少陽火。生足太陰陽明土。土主中宮。故在右手中部。惟只言火生土之意。不言手心主少陽。在左手中部。惟只取其相生言之也。今明三部相生之意如此。右手尺中少陽火。生關上陽明土。關上陽明土。卻生寸口太陰金。</p>
<p>寸口太陰金。卻生左手尺中少陰水。左手尺中少陰水。卻生左手關上厥陰木。關上厥陰木。卻生左手寸口少陰火。卻又別心主火。故心主生足太陰陽明土也。此乃五行相生之意耳。又足厥陰與足太陰。何以居於左右兩手關部中。胃脾太陰。</p>
<p>脾脈居於中州。乃在右手關上也。又足厥陰木。木者根生於地。枝葉長於天。亦陰陽共焉。故亦在左中部也。</p>
<p>此皆五行子母更相生養者也。</p>
<p>丁曰。言此皆五行更相生養者。是謂右寸金生左尺水。水生左關木。木生左寸君火。君火生右尺相火。相火生右關土。而後生右寸金。故言子母更相生養者也。</p>
<p>脈有三部九候。各何所主之。然。三部者、寸關尺也。九候者。浮中沉也。</p>
<p>丁曰。前順五行而言之生養。即逆三部而反到。所以經別問各何所主也。楊曰。寸口、陽也。關中、部也。尺中、陰也。此三部各有浮中沉三候。三三九候也。故曰。九浮為陽。沉為陰。中者胃氣也。虞曰。一部之中有三候。浮者為腑。沉者為臟。中者、乃是中焦之脈也。假令寸口浮為腑。沉為臟。中為中焦。皆仿此用之。</p>
<p>上部法天。主胸以上至頭之有疾也。</p>
<p>丁曰。兩手寸口。皆為上部。即寸外主頭。寸內主胸中。是頭皆一指下。前後言病。左右同法也。楊曰。所謂自膈以上為上焦也。</p>
<p>中部法人。主膈以下至齊之有疾也。</p>
<p>丁曰。言左右兩關也。第二指半指以前。言膈下。半指之後。主齊上。左右同。楊曰。所謂自膈以下為中焦也。</p>
<p>下部法地。主齊以下至足之有疾也。</p>
<p>丁曰。下部左右兩尺。第三指半指之前。主齊下有疾。半指之後。以候至足之有疾。楊曰。所謂自齊以下至足為下焦也。</p>
<p>審而刺之者也。</p>
<p>丁曰。刺字當作次第之次。此是審三部各有內外。主從頭至足之有疾也。故知刺字傳文誤也。楊曰。用針者。必當審詳三部九候病之所在。然後各依其源而刺之也。</p>
<p>人病有沉滯久積聚。可切脈而知之耶。然。診在右脅有積氣。得肺脈結。脈結甚則積甚。結微則氣微。診不得肺脈。</p>
<p>而右脅有積氣者何也。然。肺脈雖不見。右手脈當沉伏。</p>
<p>丁曰。病久積聚。可切脈而知之者。五臟六腑。皆有積聚。今云右脅有積氣。當肺脈見。如是脈不見。亦沉伏。詳經之意。脈浮、行於肉上（按原本於誤腎。又誤在下句首。今改正。）脈沉、行於筋下。其浮行於肉上而無常數而止者。</p>
<p>名曰結也。其沉行於筋下時上。名曰伏也。伏者臟病積也。浮結者。腑病聚也。兩手三部。各有浮沉結伏而言病也。今經、引肺脈一經於此言之也。楊曰。往來緩而時一止復來。謂之結也。脈結甚者。是診脈之狀也。結甚者此結訓積。猶言脈結甚則積甚。脈積微則積微。其言積隱也。虞曰。結脈主塊積。其脈動而中止。小數有還反動。故曰結也。其積之大小。隨診言之也。楊曰。診雖不得肺脈浮短而澀。但右手脈當沉伏。即右脅有積氣矣。肺治在右也。極重指著骨乃得。</p>
<p>故謂伏脈也。</p>
<p>其外痼疾。同法耶。將異也。然。結者、脈來去時一止無常數。名曰結也。伏者、脈行筋下也。浮者、脈在肉上行也。左右表裡法皆如此。假令脈結伏者。內無積聚。脈浮結者。外無痼疾。有積聚脈不結伏。有痼疾脈不浮結。為脈不應病。病不應脈。是為死病也。</p>
<p>丁曰。人心有所思慕。脈亦結。心無所思。內外無病。其脈伏結。此者形不病而脈病。故知死矣。楊曰。脈與病不相應為逆者。難治。故曰是死病也。</p>
<p>舊經注云。手心主心包絡脈也。手少陽。三焦脈也。故合為左手中部。足太陰。脾脈也。足陽明。胃脈也。故合為右手中部。此經作如此分別。若依脈經配三部。又與此不同也。（此即前手心主少陽節之楊注也。下條中又備引其文。復衍於此。甚屬無謂。姑依原本存之。）</p>
<p>舊經有此。前注　牾。具列此圖。以正其文。楊氏曰。手心主心包絡脈。手少陽三焦脈也。故合為左手上部。足太陰脾脈也。足陽明胃脈也。故合為右手中部。此經作如此分別。若依脈經配三部。又與此不同。夫此法。楊氏不能明其理。故言不同也。是師將三部反倒配合五行六氣而言之。師謂此寸尺反倒。又問三部各何所主。經云。上部法天。主胸以上至頭有疾。中部法人。主膈下至齊上有疾。下部法地。主齊以下至足有疾。故云審而次之者也。又王叔和將自左寸逆行言之曰。左心小腸肝膽腎。右肺大腸脾胃命。女人反此背看之。尺脈第三同斷病。蓋兩尺反倒。同主齊以下至足有疾。故扁鵲云審而次之。王叔和云用心仔細須尋趁。</p>
<p><a href="_files/pt40a10.bmp">圖</a></p>
<p><u>手太陽少陰火火炎上而不能下生手心主少陽火足厥陰少陽木木生火</u></p>
<p><u>手太陽少陰君火</u></p>
<p><u>足太陽少陰水水流下而不能上行生足厥陰少陽木</u></p>
<p><u>手心主少陽相火生足太陰陽明土土復生金足太陰陽明土土生手太陰陽明金</u></p>
<p><u>手太陰陽明金金生</u></p>
<p><u>足太陽少陰水</u></p>
<p>十九難曰。經言脈有逆順。男女有常而反者。何謂也。然。男子生於寅。寅為木陽也。女子生於申。申為金陰也。</p>
<p>楊曰。元氣起於子。人之所生也。男從子左行三十。之巳。（按此二字疑衍。）女從子右行二十。俱至於巳。為夫婦懷妊也。古者男子三十。女年二十。然後行嫁娶。法於此也。十月而生男。從巳至寅左行為十月。故男行年起於丙寅。</p>
<p>女從巳右行至申。為十月。故女行年起於壬申。所以男子生於寅。女子生於申。虞曰。經言男子生於寅。女子生於申。</p>
<p>謂其父母之年會合於巳上。男左行十月。至寅而生。女右行十月。至申而生也。小運人言男一歲起於丙寅。女一歲起於壬申。難經不言起而言生。謂生下已為一歲矣。丙壬二干。水火也。水火為萬物之父母。寅申二支。金木也。為生物成實之終始。木胞在申。金胞在寅。二氣自胞相配。故用寅申也。金生於巳。巳與申合。故女子取申木。生於亥。亥與寅合。故男子取寅。所以男年十歲。順行在亥。女年十歲。逆行亦在亥。男年十六天癸至。左行至巳。巳者申之生氣。女年十四天癸至。右行亦在巳。（按依其說推之。女年十四。在未不在巳也。此句誤。）與男年同在本宮生氣之位。陰陽相配。乃成夫婦之道。故有男女也。上古天真論曰。男二八而天癸至。精氣溢瀉。陰陽和。故能有子。楊氏言男三十。行年在巳。方娶於此。非也。女二七天癸至。任脈通。衝脈盛。月事以時下。故能有子。楊氏言女二十右行之巳方嫁。於此義非矣。楊氏之言。但合古禮行夫婦嫁娶之法，又與本經天癸之數相違也。況聖人於此十九難中。論男女配合之道。</p>
<p>陰陽交會之所。言天癸之至數。知脈盛於上下。推之強弱。診其有餘不及。若止言三十而娶。二十而嫁。於本經延醫之道。憑何依據。</p>
<p>故男脈在關上。女脈在關下。是以男子尺脈恆弱。女子尺脈恆盛。是其常也。</p>
<p>丁曰。其言男子女人尺脈者。是陰陽之根本也。逆順者為陽抱陰生。陰抱陽生也。三陽始生於立春。建寅。故曰男生於寅、木陽也。三陰生於立秋。七月建申。故言女生於申、金陰也。男子之氣。始於少陽。極於太陽。所以男子尺脈恆弱而寸脈陽也。（按此陽字疑當作強。）女子之氣。始於太陰。極於厥陰。女子尺脈浮而寸脈沉。故云男脈在關上。女脈在關下。此是男女逆順有常而反也。楊曰。男子陽氣盛。故尺脈弱。女子陰氣盛。故尺脈強。此是其常性。</p>
<p>反者、男得女脈。女得男脈也。其為病何如。然。男得女脈為不足。病在內。左得之病則在左。右得之病則在右。</p>
<p>隨脈言之也。女得男脈為太過。病在四肢。左得之病則在左。右得之病則在右。隨脈言之。此之謂也。</p>
<p>丁曰。男得女脈言不足者。是陰不足。即陽入乘之。故陽不見於寸口。而反見尺內。陰氣主內。不足。故知病即在內。女得男脈為太過。病在四肢者。女子尺脈本浮。更加見於寸。是謂太過。陽主外。故病在四肢。隨其脈左右言之。</p>
<p>左得之病在左。右得之病在右也。楊曰。男得女脈為陰氣盛。陰主內。故病在內。女得男脈為陽氣盛。（按此下似脫陽字。）</p>
<p>主四肢。故病在四肢也。虞曰。寸口曰陽。男以陽用事。今見陰脈反於天常。故病發於內。女以陰用事。今寸口卻見陽脈。亦是反於天常。故病在四肢。素問曰。四肢為諸陽之本也。</p>
<h3>十九難圖</h3>
<p>（此圖本附十八難後。今移置此）</p>
<p><a href="_files/pt40a11.bmp">太陰少陰厥陰</a></p>
<p>男子面南背陽向陰。如天之覆。離為陽</p>
<p><a href="_files/pt40a12.bmp">圖</a></p>
<p>　坎為陰北</p>
<p><a href="_files/pt40a13.bmp">太陽陽明少陽</a></p>
<p><a href="_files/pt40a14.bmp">太陰少陰厥陰</a></p>
<p>南離為陰</p>
<p><a href="_files/pt40a15.bmp">圖</a></p>
<p>　坎為陽　女子面北背陰向陽如地之仰</p>
<p><a href="_files/pt40a16.bmp">太陽陽明少陽</a></p>
<h2>卷之三</h2>
<p>二十難曰。經言脈有伏匿。伏匿於何臟而言伏匿耶。然。謂陰陽更相乘更相伏也。脈居陰部而反陽脈見者。為陽乘陰也。</p>
<p>丁曰。其部非獨言寸為陽尺為陰也。若以前後言之。即寸為陽部。尺為陰部。若以上下言之。曰肌肉上為陽部。肌肉下為陰部。今陰虛不足。陽入乘之。故陰部見陽脈。其脈乘時見沉澀而短。（按此乘字疑衍。）此是陽中伏陰也。楊曰。</p>
<p>謂尺中浮滑而長。</p>
<p>脈雖時沉澀而短。此謂陽中伏陰也。脈居陽部而反陰脈見者。為陰乘陽也。</p>
<p>丁曰。寸口之內。肌肉之上。時見沉澀短也。楊曰。尺中已浮滑而長。又時時沉澀而短。故曰陽中伏陰。寸口關中沉短而澀也。</p>
<p>脈雖時浮滑而長。此謂陰中伏陽也。</p>
<p>丁曰。寸口之內。肌肉之下。脈時見浮滑而長者。是陰中伏陽也。楊曰。寸關已沉短而澀。而時時浮滑而長。故曰陰中伏陽也。</p>
<p>重陽者狂。重陰者癲。脫陽者見鬼。脫陰者目盲。</p>
<p>丁曰。重陽者狂。謂脈浮滑而長。加於實數。所以狂言大事。自高自賢。狂越棄衣。其脫陰者目盲。視物卒失。故言盲也。盲、猶荒也。重陰者癲。癲者、蹶也。其脫陽者、視其暗中見鬼。是故經言重陽者狂。重陰者癲。脫陽者見鬼。</p>
<p>脫陰者目盲也。虞曰。寸口曰陽。又今重見陽脈三倍以上。故曰重陽。其病狂惑。自高賢智。登高而歌。棄衣而走。罵詈不避親疏。故曰狂。尺中曰陰。而尺脈重見陰。故曰重陰。其為病也。名曰癲疾。謂僵仆於地。閉目不醒。陰極陽復。</p>
<p>良久卻醒。故曰癲也。今天吊之類是也。人之所稟者陰與陽。陰陽平則權衡等。今陰氣已脫。陽氣獨盛。五臟屬陰。五臟行氣血溉灌。上榮於目。今陰氣已脫。五臟之氣不榮於目。故目盲無所見。故曰脫陰者目盲也。楊曰。重陽者、陽氣並於上也。謂關以前既浮滑而長。兼實強。復喘數。是謂重陽也。重陰者、謂尺中既沉短而澀。而又盛實。是謂重陰。</p>
<p>脫陽者、無陽氣也。謂關以前細微甚也。故目中妄見而睹鬼物焉。脫陰者、謂尺中微細甚也。陰者。精氣也。精氣脫故盲。盲脫之言失也。謂亡失陰陽之氣也。</p>
<p>二十一難曰。經言人形病脈不病曰生。脈病形不病曰死。何謂也。</p>
<p>丁曰。此者五臟各有所主也。肺主氣心主脈。脾主肌肉。肝主筋。腎主骨。其心肺主息脈。為通天氣。邪不可中。</p>
<p>邪中則息脈不相應。形雖不病。當知死矣。腎肝脾皆主其形。皆通地氣。邪中則害其形。其脈不病者皆生。形脈皆病者不可理。此是五臟各主其形脈。故言大法也。</p>
<p>然。人形病脈不病。非有不病者也。謂息數不應脈數也。此大法。</p>
<p>呂曰。形病者。謂五臟損形體羸瘦。氣微。脈反遲。與息不相應。其脈不相應。為形病也。脈病者。謂數諸至。脈已病。人雖未頭痛寒熱。方病不久病。病則死。虞曰。人形病脈不病者。謂形苦而志樂。或勞形於事以致肌體瘦羸。脈息俱。呼吸大小雖合常經。息數必違此大法。故曰形病脈不病也。脈病患不病者。其人必外多眷慕。內結想思。脈病形安。形樂志苦。以致傷。脈息反常。不及有餘。乍遲乍數。及乎病而不死爰焉。故曰。脈病患不病也。</p>
<p>二十二難曰。經言脈有是動。</p>
<p>虞曰。言反常之動也。</p>
<p>有所生病。</p>
<p>虞曰。脈動反常。故云有所生病。</p>
<p>一脈輒變為二病者。何也。然。經言是動者氣也。所生病者血也。</p>
<p>虞曰。氣病傳血。此乃一脈變為二病。</p>
<p>邪在氣。氣為是動。</p>
<p>虞曰。脈動反常。邪在氣也。</p>
<p>邪在血。血為所生病。</p>
<p>虞曰。氣受邪傳之與血。故血為所生病。</p>
<p>氣主　之。</p>
<p>虞曰。　之、氣流行之貌也。</p>
<p>血主濡之。</p>
<p>丁曰。氣主　之。　謂吹噓往來之象。血主濡之。濡謂濡軟也。氣行則血行。氣止則血止。虞曰。濡者、濡潤之貌。言人身所稟者氣血也。氣血通行。沮潤人身。其為病也。乃如下說也。</p>
<p>氣留而不行者。為氣先病也。血壅而不濡者。為血後病也。故先為是動。後所生病也。</p>
<p>丁曰。人一身經脈。通行氣血。或居一經脈中。氣留不行。故血壅不濡。其氣先病。名曰是動。血壅不濡後病。名曰所生。此是一脈輒變為二病也。虞曰。上文言脈有是動。動為陽。謂氣先受熱。熱亦傳於血。氣血皆受熱。則津液妄行。是知脈有是動。此言留而不行。謂氣血津液妄行。賊風薄之。故不行也。氣傳之與血。故血壅而不濡潤。復受賊風。</p>
<p>故血亦住而病也。楊曰。經言手太陰之脈。起於中焦。下絡大腸。還循胃口。上膈屬肺。從肺系橫出腋下。循　內行。</p>
<p>少陰心主之。前下肘臂。內上骨下廉入寸口。上循魚際。出大指之端。其支者。從腕後直出次指。內廉出其端。是動則病肺脹滿。膨膨而喘咳。故缺盆中痛甚。則交兩手而瞀。是為臂厥。是主肺。所生病者。咳。上氣喘。渴。心煩。胸滿。臂內前廉痛厥。掌中熱氣有餘。則肩背痛也。（按靈樞經脈篇、背作臂。下同。）、汗出中風。小便數而欠。氣虛則肩背痛。寒少。氣不足以息。溺色變。略舉此一經為例。余經皆可知也。凡人所以得主命者。氣與血也。氣為陽。陽為衛。</p>
<p>血為陰。陰為榮。二氣常流。所以無病也。邪中於陽。陽為氣。故氣先病。陽氣在外故也。若在陽不治。則入於陰中。</p>
<p>陰為血。故為血後病。血在內故也。氣實則熱。氣虛則寒。血實則為寒。血虛則為熱。陰陽之道理其然也。凡一臟之病。</p>
<p>有虛有實。有寒有熱。有內有外。皆須知臟腑之所在。識經絡之流行。隨其本原以求其疾。則病形可辨。而針藥無失矣。</p>
<p>如其不委斯道。（今委字疑當作悉。）則雖命藥投針。病難愈也。故黃帝曰。夫十二經脈者。所以調虛實。處百病。決生死。不可不通哉。此之謂也。虞曰。凡人血流據氣。氣動依血。凝留而不行。壅而不濡。是知為病也。</p>
<p>二十三難曰。手足三陰三陽脈之度數。可曉以不。然。手三陽之脈。從手至頭長五尺。五六合三丈。</p>
<p>楊曰。一手有三陽。兩手合為六陽。故曰。五六合三丈也。虞曰。手太陽之脈。自兩手小指之端。循臂上行。之耳珠子前。長五尺。兩手合一丈。手陽明之脈。起於兩手大指次指之側。上循臂絡於鼻左之右。右之左。長五尺。兩手合一丈。手少陽之脈。起於兩手小指次指之端。上臂終於耳前。長五尺。兩手合一丈。故曰。五六合三丈也。</p>
<p>手三陰之脈。從手至胸中。長三尺五寸。三六一丈八尺。五六三尺。合二丈一尺。</p>
<p>楊曰。兩手各有三陰。合為六陰。故曰三六一丈八尺。虞曰。手太陰之脈。起於中焦。下絡大腸。還循胃口。屬肺。</p>
<p>出腋下。下肘入寸口。上魚際。出乎大指之端。長三尺五寸。兩手合七尺。手少陰之脈。起於心中。出屬心系。下絡小腸。上肺出腋下。循臂出手小指之端。長三尺五寸。兩手合七尺。手厥陰之脈。起於胸中。屬心包絡三焦。出脅腋下。</p>
<p>循入肘下。出小指次指之端。長三尺五寸。兩手合長七尺。故曰二丈一尺。</p>
<p>足三陽之脈。從足至頭。長八尺。六八四丈八尺。</p>
<p>楊曰。兩足各有三陽。故曰六八四丈八尺也。按此脈度數。七尺五寸。中人之形。而云長八尺。理則難解。然足之六陽。從足指而向上行。由其紆曲。故曰八尺也。虞曰。足太陽之脈。起於兩足小指之側。上循膝交　。中背上頭。下入目內　。長八尺。兩足上行。合一丈六尺。足陽明之脈。起於足大指次指之端。循足脛。上挾臍左右各二寸。終於額角發際。長八尺。兩足合一丈六尺。足少陽之脈。起於足小指次指之端。上循兩膝外廉。入季脅。上循目外　。長八尺。</p>
<p>兩足合一丈六尺。故曰四丈八尺也。</p>
<p>足三陰之脈。從足至胸。長六尺五寸。六六三丈六尺。五六三尺。合三丈九尺。</p>
<p>楊曰。兩足各有三陰。故曰六六三丈六尺也。按足太陰少陰。皆至舌下。足厥陰至於頂上。今言至胸中者。蓋據其相接之次也。虞曰。足太陰之脈。起於足大指內側。循足脛內廉上。交出厥陰脈之前。上循入腹。屬肝絡胃。連舌本。</p>
<p>長七尺五寸。兩行合長一丈五尺。足厥陰之脈。起於足大指聚毛之上。循足跗上廉去內踝一寸。上踝八寸。交出足太陰之後。循股入陰毛。中環陰器抵少腹。挾胃。屬肝。絡膽。循喉嚨。入頏顙。連目系。出額。長六尺五寸。兩行合長一丈三尺。足少陰之脈。起於足小指之下。斜趣足心。上　股內。貫脊。屬腎。絡膀胱。貫肝入肺。循喉嚨挾舌本。長六尺五寸。合長一丈三尺。故云三丈九尺。</p>
<p>人兩足蹺脈。從足至目。長七尺五寸。二七一丈四尺。二五一尺。合一丈五尺。</p>
<p>楊曰。人長七尺五寸。而蹺脈從踝至目。不得有七尺五寸也。今經言七尺五寸者。是腳脈上於頭而行焉。言至目者舉其綱維也。虞曰。人有陰蹺陽蹺二脈。兩足合四脈。陽蹺者、起於跟中。循外踝上行。入風池。陰蹺者、亦起於跟中。</p>
<p>乃是足少陰之別絡也。自然骨之後。上內踝之上。直上循陰股入陰。循腹（按原本誤作股。依二十八難注改正。）上胸裡。</p>
<p>入缺盆。上出人迎之前。入　內廉。（按靈樞脈度篇。無內廉二字。）屬目內　。合太陽脈。長七尺五寸。兩行合一丈五尺。準此推之。至目者、推尺是兩足陰蹺脈也。故經言從足至目。長七尺五寸。以合一丈五尺是也。</p>
<p>督脈。任脈。各長四尺五寸。二四八尺。二五一尺。合九尺。凡脈長一十六丈二尺。此所謂十二經脈長短之數也。</p>
<p>丁曰。此篇云十二經脈長短。又言陰蹺從足至目。又言督任二脈。何獨不言陽蹺。陽蹺亦起於跟中。循外踝上入風池。亦長一丈五尺。言之則據經。丈尺有剩。不言有此闕漏。更俟後賢。其脈上云八尺者。其中庸之人。以省尺言之。</p>
<p>皆得四尺。今尺者、非黍尺也。皆以同身寸之為尺大小言之。皆八尺。楊曰。督脈起於脊KT　。上於頭。下於面。至口齒縫。計此不止長四尺五寸。今言四尺五寸者。當取其上極於風府而言之也。手足各十二脈（按原本各誤合。依史記正義改。）為二十四脈。並督任兩蹺四部。合為二十八脈。以應二十八宿。凡長一十六丈二尺。榮衛行周此數。則為一度也。</p>
<p>故曰長短之數也。虞曰。經言督脈起於下極之俞。並於脊裡。上至風府。入屬於腦。長四尺五寸。任脈者。起於中極之下。以上毛際。循復上關元。至咽喉。長四尺五寸。督任計之。長合九尺也。以上十二經。合二十四脈。合長一十三丈八尺。兼之督任陰蹺三脈。合長二丈四尺。共二十七脈。合長一十六丈二尺。以法三九之數。應漏水下二刻。楊氏言二十八脈。乃陽蹺亦系其數推之。二蹺四行。則尺寸有餘也。楊氏言二十八脈。誤矣。</p>
<p>經脈十二。絡脈十五。何始何窮也。然。經脈者。行血氣。通陰陽。以榮於身者也。其始從中焦注手太陰陽明。陽明注足陽明太陰。太陰注手少陰太陽。太陽注足太陽少陰。少陰注手心主少陽。少陽注足少陽厥陰。厥陰復還注手太陰。</p>
<p>別絡十五。皆因其原。如環無端。轉相溉灌。朝於寸口人迎。以處百病而決死生也。</p>
<p>丁曰。此者天地陰陽一歲終始於二十四氣。日月曉昏。終始於二十四時。人之榮衛行經絡二十四條。故復會於寸口人迎。其言寸口者。手太陰脈口也。其穴名曰太淵。故脈會於太淵。其十二經十五絡。皆輔三焦而生。故始從中焦注手太陰陽明。所以處百病決死生也。楊曰。行手太陽訖。即注手陽明。行手陽明訖。即注足陽明。輸轉而行。余皆仿此也。</p>
<p>虞曰。其始從中焦者。謂直兩乳間。名曰膻中穴。亦名氣海。言氣從此而起注太陰肺也。肺行訖。傳之與手陽明也。素問曰。膻中為臣使之官。謂胃化味為氣。自此上傳於肺也。楊曰。經脈十二。絡脈十五。凡二十七氣。以法三九之數。</p>
<p>天有九星。地有九州。人有九竅是也。其經絡流行。皆朝會於寸口人迎。所以診寸口人迎。則知其經絡之病。死生之候矣。虞曰。厥陰還注手太陰。如此推尋丈尺。則前後經義相違。離聖久遠。難為粗述。</p>
<p>經曰。明知終始。陰陽定矣。何謂也。然。終始者、脈之紀也。寸口人迎陰陽之氣通於朝。使如環無端，故曰始也。</p>
<p>楊曰。經脈流行。應於天之度數。周而復始。故曰如環無端也。</p>
<p>終者。三陰三陽之脈絕。絕則死。死各有形。故曰終也。</p>
<p>楊曰。陰陽氣絕。其候亦見於寸口人迎。見則死矣。其死各有形診。故曰終也。丁曰。所言三陰三陽之脈絕。絕則死。死各有形。其義本經自解在二十四難中。</p>
<p>二十四難曰。手足三陰三陽氣已絕。何以為候。可知其吉凶不。然。足少陰氣絕即骨枯。少陰者、冬脈也。伏行而溫於骨髓。故骨髓不溫。即肉不著骨。骨肉不相親。即肉濡而卻。肉濡而卻。故齒長而枯。發無潤澤者。骨先死。戊日篤。己日死。</p>
<p>丁曰。足少陰之經。腎脈也。屬水。王冬。內榮於骨髓。外華於發。其氣絕則齒本長。骨枯。發無潤澤。故戊日篤而己日死也。此足少陰絕之形也。楊曰。足少陰。腎脈也。腎主冬。故云冬脈也。腎主內榮骨髓。故云伏行而溫於骨髓也。腎氣既絕。則不能榮骨髓。故肉濡而卻。卻、結縮也。謂齒齦之肉結縮。而（按此而字疑衍。）故齒漸長而枯燥也。</p>
<p>謂齒干燥色不澤也。腎為津液之主。今無津液。故使發不潤焉。戊己、土也。腎、水也。土能克水。故云戊日篤。己日死也。虞曰。陰陽有少壯。故有三陰三陽。以通氣血。以養人身。是故三陰乃有離合。太陰為開。厥陰為闔。少陰為樞。</p>
<p>開者、司動靜之基。闔者執禁固之權。樞者、主動轉之微。三經不得相失。今足少陰腎脈已絕。是故一經相失。少陰不得為樞。動轉之微不主矣。故曰死也。診要經終論曰。少陰終者。面黑齒長而垢。腹脹閉。上下不通而終矣。此之謂也。</p>
<p>足太陰氣絕。則脈不榮其口唇。口唇者、肌肉之本也。脈不榮。則肌肉不滑澤。肌肉不滑澤。則肉滿。肉滿則唇反。</p>
<p>唇反則肉先死。甲日篤。乙日死。</p>
<p>丁曰。足太陰經者。脾之脈也。屬土。王季夏。其氣內養肌肉。外華衛於口唇。其氣絕則唇反肉滿。故甲日篤而乙日死也。此是足太陰絕之形也。楊曰。足太陰。脾脈也。脾主肌肉。其氣既絕。故肌肉粗澀而唇反。甲乙、木也。脾、土也。木能克土。故云甲日篤乙日死也。虞曰。口唇、肉之所終。亦曰脾之華。今唇反色青。木賊土也。故曰死矣。陰陽之離合。以太陰為開。謂司動靜之基。今脈已絕。則動靜之基乃失司存。故曰死也。素問曰。太陰終者。腹脹閉不得息。善嘔。嘔則逆。逆則面赤也。</p>
<p>足厥陰氣絕。即筋縮引卵與舌卷。厥陰者、肝脈也。肝者、筋之合也。筋者、聚於陰器。而絡於舌本。故脈不榮。</p>
<p>則筋縮急。筋縮急。即引卵與舌。故舌卷卵縮。此筋先死。庚日篤。辛日死。</p>
<p>丁曰。足厥陰經者。肝之脈也。屬木。王春。氣內養於筋。外則上系舌本。下環於陰器。其氣絕。則舌卷卵縮。故庚日篤而辛日死也。此足厥陰絕之形也。楊曰。足厥陰。肝脈也。肝主筋。其氣既絕。故筋縮急而舌卷卵縮。庚辛、金也。肝、木也。金能克木。故云庚日篤而辛日死也。</p>
<p>手太陰氣絕。即皮毛焦。太陰者、肺也。行氣溫於皮毛者也。氣弗榮、則皮毛焦。皮毛焦、則津液去。津液去、即皮節傷。皮節傷、則皮枯毛折。毛折者。則氣先死。丙日篤。丁日死。</p>
<p>丁曰。手太陰經者、肺之脈也。屬金。王秋。其氣內主於氣。外榮於皮毛。其氣絕。則津液去。皮毛焦。故丙日篤而丁日死也。楊曰。手太陰。肺脈也。肺主行氣。故曰溫皮毛。丙丁、火也。肺、金也。火能克金。故云丙日篤丁日死也。虞曰。肺行衛氣以養皮毛。今皮毛焦。則知火來爍金。皮枯毛折脈絕。其為離合。與足太陰同法也。</p>
<p>手少陰氣絕。則脈不通。脈不通。則血不流。血不流。則色澤去。故面黑如梨。此血先死。壬日篤。癸日死。</p>
<p>丁曰。手少陰經者。真心脈也。屬君火。王夏。主於榮。通於脈也。其經非不言手厥陰心包絡為主相火。相行君命。</p>
<p>主通榮氣。今真心氣絕。則榮氣不行。榮氣不行。則血不流行。是以色澤去。故面黑如黧。壬日篤而癸日死。此者是病。</p>
<p>非老憊也。梨字當作此黧字。楊曰。經云手三陰。今此惟釋太陰少陰。而心主一經不言之。何也。然。心主者、心包絡之脈也。少陰者、心脈也。二經同候於心。故言少陰絕則心主亦絕，其診既同。故不別解也。本經云。面黑如漆柴。此云如梨。漆柴者、恆山苗也。其草色黃黑。無潤澤。故以為喻。梨者、即人之所食之果也。亦取其黃黑焉。言人即無血。</p>
<p>則色黃黑。似此二物無光華也。壬癸、水也。心火也。水克火。故云壬日篤癸日死也。虞曰。心主血。血乃為榮。榮華人身。故有光華之色。今脈已絕。血乃不行。故人色夭。面黑如梨。是知水來賊火。離合與足少陰同。</p>
<p>三陰氣俱絕者。則目眩轉目瞑。目瞑者為失志。失志者、則志先死。死即目瞑也。</p>
<p>丁曰。所言三陰者。獨是言足三陰也。足少陰者。腎也。腎藏精與志。足厥陰。肝也。肝藏魂。通於目。故絕則失志而亂。魂去目眩也。楊曰。三陰者、是手足三陰脈也。此五臟之脈也。五臟者、人之根本也。故三陰俱絕。則目瞑。</p>
<p>瞑、閉也。言根絕於內。而華□於外。目者、人之光華也。眩、亂也。言目亂不識人也。腎藏精與志。精氣已竭。故曰失志也。三陰絕。皆止得一日半死也。虞曰。五臟之脈皆屬三陰。五臟之脈。皆會於目。今三陰俱絕。故目眩目瞑也。</p>
<p>人之五志皆屬於陰。謂肝志怒。心志喜。脾志思。肺志憂。腎志恐。今三陰已絕。五臟皆失其志。故無喜怒憂思恐。五志俱亡。故曰失志也。楊氏言失志。乃止言腎一臟也。本經曰。陰陽相離則悵然失志。此之謂也。</p>
<p>六陽氣俱絕者。則陰與陽相離。陰陽相離。則腠理泄。絕汗乃出。大如貫珠。轉出不流。即氣先死。旦占夕死。夕占旦死。</p>
<p>丁曰。所言六陽。是手足三陽也。後言陰與陽相離者。謂手三陽通天氣。故曰陽也。足三陽通地氣。故云陰也。天地陰陽痞隔。所以言陰陽相離也。是故腠理泄。絕汗乃出。大如貫珠。故其死不移旦夕也。楊曰。此六陽氣絕。不出日死。六陽氣絕之狀。今略條之。經云。太陽脈絕者。其絕也。戴眼、反折、螈　。其色白。絕汗乃出。出則終矣。少陽脈絕者。其絕也。耳聾、百節盡縱、目環絕系、絕系一日半死。其色青者乃死。陽明脈絕者。其絕也。口耳張、善驚、妄言、色黃、其上下經盛而不仁則終矣。此是三陽絕之狀也。前云六陽。今經曰三陽絕狀者。手足諸陽脈絕。其絕狀並同。所以不別出。陰與陽相離者。陰陽隔絕不相朝使也。腠理泄者。陽氣已下。毛孔皆開。所以然也。絕汗。乃汗出如珠。言身體汗出著肉。如綴珠而不流散。故曰貫珠也。旦占夕死。夕占旦死者。正得半日也。惟少陽絕得一日半矣。虞曰。陰陽相離。氣位隔絕。腠理開疏。汗乃大出。夫如是。則六陽皆絕。其死明矣。況三陽之脈。亦有離合。太陽為開。</p>
<p>陽明為闔。少陽為樞。開者、司動靜之基。闔者、執禁固之權。樞者、明轉動之微。三經不得相失。今六陽已絕。失其動靜之司。弛其禁固之樞。止其動轉之微。三經相失。故曰死也。六陽者。素問曰。上下經乃成六也。</p>
<h3>經絡大數第二（凡二首）</h3>
<p>二十五難曰。有十二經。五臟六腑。十一耳。其一經者。何等經也。然。一經者、手少陰與心主別脈也。心主與三焦為表裡。俱有名而無形。故言經有十二也。</p>
<p>丁曰。言少陰與心主別脈者。謂心與小腸為表裡。心主與三焦為表裡也。少陰是真心脈。為君火。心主者。共三焦相火。故別也。相行君命。故有心名無位也。楊曰。手少陰。真心脈也。手心主。心包絡脈也。二脈俱是心脈。而少陰與小腸合。心主與三焦脈合。三焦有位而無形。心主有名而無臟。故二經為表裡也。五臟六腑各一脈為十一脈。心有兩脈。合成十二經焉。據此而言。六腑亦止五腑耳。虞曰。心主者、手厥陰脈也。三焦者、手少陽脈也。二經合為表裡。</p>
<p>乃合為十二經也。手厥陰心包絡脈者。起於胸中。出屬心包。下膈。歷絡三焦。其支者。循胸中。出脅下腋三寸。上抵腋下。下循　內。行太陰少陰之間。入肘中。下臂行兩筋之間。入掌中。出中指之端。準此推之。心包外有經脈。出於中指。內相維絡於三焦。歸於少陰之經。配手厥陰之脈。手少陽脈者。出於手小指次指之端。上出次指之間。循手表腕。</p>
<p>出臂外兩骨之間。上貫肘。循　外上肩。交出足少陽之後。入缺盆布膻中。散絡心包。下膈。循屬三焦。準此推尋。乃與心包更相維絡。三焦配手少陽。心包配手厥陰。二經俱外有流行經脈。內無臟腑。故配之為表裡。諸家脈惟言命門與三焦為表裡。在右手尺中。惟此經言。則三焦與心主為表裡也。又左寸火。右寸金。左關木。右關土。左尺水。右尺火。</p>
<p>左尺男。右尺女。可驗之。經有夫婦對位。若三焦配命門為表裡。則水火同位也。</p>
<p>二十六難曰。經有十二。絡有十五。余三絡者、是何等絡也。然。有陽絡。有陰絡。有脾之大絡。陽絡者、陽蹺之絡也。陰絡者、陰蹺之絡也。故絡有十五焉。</p>
<p>丁曰。十二經十五絡者。謂每一經各有一絡。其肝、心、腎。經在左即絡右。其脾、肺、心包。經在右即絡左。其陽蹺。經在左足外踝。絡在右足外踝。其陰蹺。經在右足內踝。絡在左足內踝。此者是陰蹺陽蹺之絡也。脾之大絡者。</p>
<p>脾象土。主中宮。王四季。分養四臟。故曰脾之大絡。是名大包穴。在淵液下三寸。布胸中。出九肋間是也。楊曰。十二經各有一絡。為十二絡耳。今云十五絡者。有陰陽之二絡。脾之大絡。合為十五絡也。人有陰陽兩蹺。在兩足內外。</p>
<p>男子以足外者為經。足內者為絡。女子以足內者為經。足外者為絡。故有陰陽蹺二絡也。經云。男子數其陽。女子數其陰。當數者為經。不當數者為絡。此之謂也。脾之大絡。名曰大包。此則脾有二絡也。凡經脈為裡。（按為下原衍表字。</p>
<p>依靈樞脈度篇刪。）支而橫者為絡。絡之別者為孫也。</p>
<h3>奇經八脈第三（凡三首）</h3>
<p>二十七難曰。脈有奇經八脈者。不拘於十二經。何謂也。然。有陽維。有陰維。有陽蹺。有陰蹺。有衝、有督、有任、有帶之脈。凡此八脈者。皆不拘於經。故曰。奇經八脈也。經有十二。絡有十五。凡二十七氣。相隨上下。何獨不拘於經也。然聖人圖設溝渠。通利水道。以備不然。天雨降下。溝渠溢滿。當此之時。　霈妄行。聖人不能復圖也。此絡脈滿溢。諸經不能復拘也。</p>
<p>丁曰。前言十二經十五絡。二十七氣相隨上下。流通氣血。相貫無有休息。今此八脈謂別道而行。故曰奇經八脈也。</p>
<p>其所起言在後章。楊曰。奇、異也。此之八脈。與十二經不相拘制。別道而行。與正經有異。故曰奇經也。其數有八。</p>
<p>故曰八脈也。虞曰。奇音基也。奇、斜也。奇、零也。不偶之義。謂此八脈。不系正經陰陽。無表裡配合。別道奇行。</p>
<p>故曰奇經也。所以經言八脈不拘於經。以此可驗矣。楊氏言奇異之義。非也。</p>
<p>二十八難曰。其奇經八脈者。既不拘於十二經。皆何起何繼也。然。督脈者。起於下極之俞。並於脊裡。上至風府。</p>
<p>入於腦。（別本入下有屬字。）</p>
<p>丁曰。督脈起於下極之俞者。長強穴在脊　。腎脈絡任脈絡會之所。並於脊裡上至風府。穴在發上一寸。腎脈陽維所會。奇經之一脈也。呂曰。督脈者、陽脈之海也。楊曰。督之為言都也。是人陽脈之都綱。人脈比於水。故呂氏曰陽脈之海。此為奇經之一脈也。下極者、長強也。虞曰。經言督脈起於下極。上入屬於腦。呂氏曰。諸陽之海也。楊氏曰。</p>
<p>陽脈之都綱。據其督脈流行。起自會陰穴。循脊中上行至大椎穴。與手足三陽之脈交會。上至喑門穴。與陽維會其所。</p>
<p>上至百會穴。與太陽交會。下至於鼻柱下水溝穴。與手陽明交會。準此推之。實謂為諸陽之海。陽脈之都綱也。</p>
<p>任脈者。起於中極之下。以上毛際。循腹裡。上關元。至咽喉。</p>
<p>丁曰。中極者、穴名也。在齊下四寸。其中極之下者。曲骨穴也。是任脈所起。其循腹裡上關元至咽喉者。天突穴也。是任脈之所會。奇經之二脈也。楊曰。任者、妊也。此是人之生養之本。故曰位中極之下。長強之上。此奇經之二脈也。虞曰。據針經推尋。任脈起於會陰穴。上毛際者。乃是曲骨穴。在少腹下毛際。與足厥陰會於此。上至關元。乃齊下二寸也。至咽喉。與陰維脈會也。素問曰。女子二七天癸至。任脈通。衝脈盛。月事以時下。故能有子也，故楊氏曰。生養之本。良由此也。</p>
<p>衝脈者。起於氣衝。並足陽明之經。挾齊上行。至胸中而散也。</p>
<p>呂曰。衝脈者陰脈之海。丁曰。衝脈起於氣衝。並足陽明之內。挾任脈之外。上行至胸中而散。皆起於兩間。此者是三焦行氣之府也。故呂氏云。一本曰沖者。此之謂也。楊曰。經云衝脈者。十二經之海也。如此則不獨為陰脈之海。</p>
<p>恐呂氏誤焉。沖者、通也。言此脈下至於足。上至於頭。通受十二經之氣血。故曰沖焉。此奇經之三脈也。虞曰。素問曰。衝脈起於氣街。難經曰。起於氣衝。又針經。穴中兩存其名。沖街之義俱且通也。素問曰。並足少陰之經。難經卻言並足陽明之經。況少陰之經。挾齊左右各五分。陽明之經。挾齊左右各二寸。氣衝又是陽明脈氣所發。如此推之。則衝脈自氣衝起。在陽明少陰二經之內。挾齊上行。其理明矣。大體督脈任脈波脈此三脈。皆自會陰穴會合而起。一脈分為三岐。行於陰陽。部分不同。故名各異也。</p>
<p>帶脈者。起於季脅。回身一周。</p>
<p>丁曰。季脅下一寸八分。是其帶脈之穴也。回身一周。是奇經之四脈也。楊曰。帶之為言束也。言總束諸脈。使得調柔也。季脅在肋下。下接於　骨之間是也。回、繞也。繞身一周。猶如束帶焉。此奇經之四脈也。</p>
<p>陽蹺脈者。起於跟中。循外踝。上行入風池。</p>
<p>丁曰。陽蹺脈起於跟中。循外踝者、中衝穴也。上入風池穴者。項後發際陷中。是奇經之五脈也。楊曰。蹺、捷疾也。言此脈是人行走之機要。動足之所由。故曰蹺脈焉。此奇經之五脈也。</p>
<p>陰蹺脈者。亦起於跟中。循內踝。上行至咽喉。交貫衝脈。</p>
<p>丁曰。陰蹺脈亦起跟中。循內踝者、照海穴也。上行至咽喉。交貫衝脈。其又至目下承泣穴。是陰蹺脈始終也。是奇經之六脈也。楊曰。其義與陽蹺同也。此奇經之六脈也。虞曰。陰蹺者、起於足然骨之後。上內踝之上。循陰股入陰。</p>
<p>而循腹上胸裡。入缺盆。出人迎之前。入　內廉。屬目內　。合於太陽陽蹺而上行。</p>
<p>陽維陰維者。維絡於身。溢蓄不能環流。灌溉諸經者也。故陽維起於諸陽會也。陰維起於諸陰交也。</p>
<p>丁曰。陽維者。維絡諸陽。故曰陽維。起於諸陽會也。陰維者、維絡諸陰。故曰陰維。起於諸陰交也。楊曰。維者、維持之義也。此脈為諸脈之綱維。故曰維脈也。此有陰陽二脈。為奇經八脈也。</p>
<p>比干聖人。圖設溝渠。溝渠滿溢。流於深湖。故聖人不能拘通也。而人脈隆盛。入於八脈。而不環周。故十二經亦不能拘之。其受邪氣。蓄則腫熱。砭射之也。</p>
<p>丁曰。凡八脈為病。皆砭射取之。楊曰。九州之內。有十二經水以流泄地氣。人有十二經脈以應之。亦所以流灌身形之血氣。奉以生身。故比之於溝渠也。虞曰。十二經隆盛。入於八脈而不環周。邪在八脈腫熱。蓄積。故以砭石射刺之。故曰砭射之也。</p>
<p>二十九難曰。奇經之為病何如。然。陽維維於陽。陰維維於陰。陰陽不能自相維。則悵然失志。溶溶不能自收持。</p>
<p>呂曰。悵然者。其人驚。驚即維脈緩。故令人身不能收持。驚則失志善忘恍惚也。丁曰。陽維者。（○按陽維下脫陰維二字）是陰陽之綱維也。而主持陰陽之脈。今不能相維者。是陽不能主持諸陽。陰不能主持諸陰。故言悵然失志也。</p>
<p>溶溶者緩慢。所以不能收持也。</p>
<p>陰蹺為病。陽緩而陰急。陽蹺為病。陰緩而陽急。</p>
<p>呂曰。陰蹺在內踝上。病則其脈從內踝以上急。外踝以上緩也。陽蹺在外踝上。病則其脈從外踝以上急。內踝以上緩也。丁曰。奇經八脈者。而聖人圖設溝渠之理。（按而字疑當作乃。）以備通水道焉。非自生其病。盡諸經隆盛而散入也。乃砭射取之。諸陽脈盛。散入陽蹺。則陽蹺病。諸陰脈盛。散入陰蹺。則陰蹺病。故陰蹺陽蹺乃為病耳。其陰陽緩急者。即是虛實之義。陰蹺為病。則陽緩而陰急。即病陰厥。足勁直而五絡不通。陽蹺為病。則陰緩而陽急。即狂走不臥死。蹺者、健也。</p>
<p>沖之為病。逆氣而裡急。</p>
<p>丁曰。逆氣、腹逆也。裡急、腹痛也。呂曰。衝脈從關元。上至咽喉。故其脈為病。逆氣而裡急。虞曰。衝脈並足少陰之經。挾齊上行。病故逆氣裡急矣。巢氏病源曰。腎氣不足。傷於衝脈。故逆氣而裡急。</p>
<p>督之為病。脊強而厥。</p>
<p>呂曰。督脈在脊。病則其脈急。故令其脊強也。丁曰。督脈起於下極之俞。行脊裡。上入風池。病則脊強。</p>
<p>任之為病。其內苦結。男子為七疝。女子為瘕聚。</p>
<p>呂曰。任脈起於胞門子戶。故其脈結。為七疝瘕聚之病。丁曰。任脈起胞門子戶。循腹裡。上關元至咽喉。病則男子內結為七疝。女子為瘕聚。虞曰。任脈當少腹上行。故其內苦結。男子病七疝者。謂厥疝、　疝、寒疝、　疝、咐疝、野狼疝、氣疝。此七病。由氣血虛弱寒溫不調致之也。女子病為瘕聚。瘕有八瘕。謂青瘕、黃瘕、燥瘕、血瘕、狐瘕、蛇瘕、鱉瘕、脂瘕。瘕者、謂假於物形是也。</p>
<p>帶之為病。腹滿。腰溶溶若坐水中。</p>
<p>呂曰。帶脈者、回帶人之身體。病則其腹緩。故令腰溶溶也。丁曰。帶脈者、回帶人之身。病則腰溶溶也。</p>
<p>陽維為病。苦寒熱。陰維為病。苦心痛。</p>
<p>呂曰。陽為衛。故寒熱。陰為榮。榮為血。血者心。故心痛也。丁曰。陽維主於諸陽之經。病則苦寒熱。陰維主於諸陰之經。病則苦心痛也。</p>
<p>此奇經八脈之為病也。</p>
<p>楊曰。一本云衝脈者。起於關元。循腹裡。直上於咽喉中。任脈者，起於胞門子戶。挾齊上行。至胸中。二本雖不同。亦俱有所據。並可依用。故並載之。呂氏注與經不同者。由此故也。虞曰。據素問言。衝脈起氣街。挾齊上行至胸中。任脈起於中極謂當齊心上行也。以上呂楊氏所舉。皆非也。</p>
<h3>榮衛三焦第四（凡二首）</h3>
<p>三十難曰。榮氣之行。常與衛氣相隨。不。然。經言人受氣於穀。穀入於胃。乃傳與五臟六腑。五臟六腑皆受於氣。</p>
<p>其清者為榮。濁者為衛。榮行脈中。衛行脈外。榮周不息。五十而復大會。陰陽相貫。如環之無端。故知榮衛相隨也。</p>
<p>丁曰。夫人之生。稟天真之氣後。飲水穀食入胃。傳於五臟六腑。化為精血。其精血各有清濁。其精中清者。歸肺以助天真。其濁者。堅強骨髓。故血中之清者。歸心。榮養於神血中之濁者。外華於肌肉。而清者行於脈內。濁者行於脈外。而衛者、衛護之義也。楊曰。營行作榮。榮者、榮華之義也。言人百骸九竅所以得榮華者。由此血氣也。營者、經營也。言十二經脈常行不已。經紀人身。所以得長生也。二義皆通焉。衛者、護也。此是人之　悍之氣。行於經脈之外。晝行於身。夜行於臟。衛護人身。故曰衛氣。凡人陰陽二氣。皆會於頭手足。流轉無窮。故曰如環之無端也。心榮血。肺衛氣。血流據氣。氣動依血。相憑而行。故知榮衛相隨也。虞曰。經言人受氣於穀。穀入胃。乃傳與五臟六腑者。</p>
<p>謂水穀入口。下至於胃。胃化穀為氣。上傳與肺。肺乃主氣。氣乃為衛。胃化水上傳與心。心乃生血。血乃為榮。氣為表。行於脈外。血為裡。行於脈內。二者相依而行。故一日一夜五十周於身。復會於手太陰。如環之無端。轉相溉灌也。</p>
<p>經言清氣為榮。濁氣為衛。詳此清濁之義。倒言之為正。恐傳寫誤也。陰陽應象論曰。清陽實四肢。濁陰歸六腑。即其義也。</p>
<p>三十一難曰。三焦者。何稟何生。何始何終。其治常在何許。可曉以不。然。三焦者。水穀之道路。氣之所終始也。</p>
<p>楊曰。焦、元也。天有三元之氣。所以生成萬物。人法天地。所以亦有三元之氣。以養人身形。三焦皆有其位。而無正臟也。虞曰。天有三元。以統五運。人有三焦。以統五臟也。今依黃庭經配八卦屬五臟法三焦。以明人之三焦法象三元也。心肺在上部。心法離卦。肺法兌卦乾卦。主上焦。乾為天。所以肺行天氣。脾胃在中部。脾胃屬土。統坤卦。</p>
<p>艮亦屬土。艮為運氣。主治中焦。腎肝在下部。腎法坎卦。肝法震卦。巽卦。主下焦。主通地氣。行水道。夫如是。乃知坎離震兌坤以法五臟。乾艮巽乃法三焦。以合八卦變用。乃如下說。</p>
<p>上焦者。在心下下膈。在胃上口。主內而不出。其治在膻中玉堂下一寸六分。直兩乳間陷者是。楊曰。自膈以上。</p>
<p>名曰上焦。主出陽氣。溫於皮膚分肉之間。若霧露之溉焉。胃上口穴在鳩尾下二寸五分也。虞曰。膻中者、穴名也。直兩乳中是穴。任脈氣之所發。素問曰。膻中為臣使之官。以主氣布陰陽。氣和志遠。喜樂由生。謂布氣也。故治其中矣。</p>
<p>上焦主入水穀。內而不出。其為病止言冷熱。虛則補其心。實則瀉其肺。如此治者。萬無一失。靈樞經曰。上焦如霧。</p>
<p>謂行氣如露溉灌諸經也。言胃氣自膻中布氣。與肺下溉灌諸臟。經曰。肺行天氣。即此義也。</p>
<p>中焦者。在胃中脘。不上不下。主腐熟水穀。其治在齊旁。</p>
<p>楊曰。自齊以上。名曰中焦。變化水穀之味。生血以榮五臟六腑。及於身體。中脘穴在鳩尾下四寸也。虞曰。中焦乃脾胃也。中焦為病。止言冷熱。虛則補其胃。實則瀉其脾。如此治者。萬無一失。靈樞經曰。中焦如漚。謂腐熟水穀也。其治在齊旁。齊旁左右各一寸。乃足陽明胃脈所發。挾齊乃天樞穴也。中焦主脾胃。故治在此經中。故曰齊旁也。</p>
<p>下焦者。（按史記正義引。此下有在臍下三字。）當膀胱上口。主分別清濁。主出而不內以傳導也。其治在齊下一寸。</p>
<p>楊曰。自齊以下。名曰下焦。齊下一寸。陰交穴也。主通利溲便以時下而傳。故曰出而不內也。虞曰。下焦為病。</p>
<p>止言冷熱。虛則補其腎。實則瀉其肝。如此治者。萬無一失。靈樞經曰。下焦如瀆。謂膀胱主水也。素問曰。三焦為決瀆之官。水道出焉。齊下一寸。乃足三陰任脈之會。其治在茲。乃下紀也。</p>
<p>故名曰三焦。其腑在氣街。一本曰沖。</p>
<p>丁曰。靈蘭秘典論曰。三焦者。決瀆之官。引導陰陽水穀。故言三焦者、水穀之道路也。布氣於胸中。故治在膻中穴也。其腑在氣街而或曰沖者。二義俱通。言氣街者、即陰陽道路也。言氣衝者、氣衝脈也。氣衝者、十二經根本諸經行氣之腑也。故言腑在氣衝也。楊曰。氣街者、氣之道路也。三焦既是行氣之主。故云腑在氣街。街、衢也。衢者、四達之道焉。一本曰沖。此非扁鵲之語。蓋呂氏再錄之言。別本有此言。於義不可用也。虞曰。氣街在少腹毛中兩旁各二寸。是穴。乃足陽明脈氣所發。言其三焦主三元之氣。其腑在氣街。其氣街者、針經本名氣衝。沖者。通與四達之義不殊。兩存之亦可也。以氣街為腑者。何也。謂足陽明胃。化穀為氣。三焦又主三元之氣。故以氣街為腑也。</p>
<h3>臟腑配像第五（凡六首）</h3>
<p>三十二難曰。五臟俱等。而心肺獨在膈上者。何也。然。心者血。肺者氣。血為榮。氣為衛。相隨上下。謂之榮衛。</p>
<p>通行經絡。營周於外。故令心肺在膈上也。</p>
<p>丁曰。心肺主通天氣。故在膈上。楊曰。自齊以上通為陽。自齊以下通為陰。故經曰。腰以上為天。腰以下為地。</p>
<p>天陽地陰。即其義也。今心肺既居膈上而行榮衛。故云榮周於外。虞曰。心為帝王。高居遠視。肺為華蓋。位亦居膈。</p>
<p>心主血。血為榮。肺主氣。氣為衛。血流據氣。氣動依血。血氣相依而行。故心肺居在上焦也。</p>
<p>三十三難曰。肝青象木。肺白象金。肝得水而沉。木得水而浮。肺得水而浮。金得水而沉。其意何也。然。肝者。</p>
<p>非為純木也。乙、角也。庚之柔。大言陰與陽。小言夫與婦。釋其微陽而吸其微陰之氣。其意樂金。又行陰道多。故令肝得水而沉也。</p>
<p>丁曰。五行既定。即有剛柔。配合夫婦。柔納其剛。今經舉肝青象木。木性本浮。今肝得水沉者。謂又懷金性也。</p>
<p>又木七月受氣。正月臨官。行其陰道多。是故肝得水而沉也。楊曰。四方皆一陰一陽。東方甲乙木。甲為陽。乙為陰。</p>
<p>余皆如此。又甲為木。乙為草。丙為火。丁為灰。戊為土。己為糞。庚為金。辛為石。壬為水。癸為池。又乙帶金氣。</p>
<p>丁帶水氣。己帶木氣。辛帶火氣。癸帶土氣。此皆五行王相配偶。故言肝者、非為純木也。陰陽交錯故也。木生於亥而王於卯。故云行陰道多。東方甲乙木。畏西方庚辛金。故釋其妹乙。嫁庚為婦。故曰庚之柔。柔陰也。乙帶金氣以歸。</p>
<p>故令肝得水而沉也。虞曰。乙與庚合。從夫之性。故得水而沉也。</p>
<p>肺者。非為純金也。辛。商也。丙之柔。大言陰與陽。小言夫與婦。釋其微陰。婚而就火。其意樂火又行陽道多。</p>
<p>故令肺得水而浮也。</p>
<p>丁曰。肺白象金。金性本沉。今肺反浮。謂辛納火性。又正月受氣。七月臨官。行其陽道多。是故肺得水而浮也。</p>
<p>楊曰。金生於己。王於酉。故云行陽道多。西方庚辛金。畏南方丙丁火。故釋其妹辛。嫁為丙婦。故曰丙之柔。辛帶火氣以歸。故令肺得水而浮也。虞曰。丙與辛合。隨夫之性。炎上而浮。故云也。</p>
<p>肺熟而復沉。肝熟而復浮者。何也。故知辛當歸庚。乙當歸甲也。</p>
<p>丁曰。皆歸本性也。楊曰。肝生沉而熟浮。肺生浮而熟沉。此是死則歸本之義。熟喻死矣。如人夫婦有死亡者。未有子息。各歸其本。極陰變陽。寒盛生熱。壅久成通。聚而必散。故其然也。義之反覆。故浮沉改變也。</p>
<p>三十四難曰。五臟各有聲色臭味。可曉知以不。然。十變言肝色青。</p>
<p>虞曰。五色之變在於木也。五臟五色。由肝木之氣更相溉灌。故各從其類見其色。黃庭經云。肝者水之精。震之氣。</p>
<p>其色青。位居東方。</p>
<p>其臭臊。</p>
<p>虞曰。得火之變。故其臭則臊也。</p>
<p>其味酸。</p>
<p>虞曰。土受木味則酸。洪范曰。曲直作酸。酸取其收斂也。</p>
<p>其聲呼。</p>
<p>虞曰。金木相配。發聲為呼。呼亦嘯也。</p>
<p>其液泣。</p>
<p>虞曰。泣則言淚也。此乃水行氣。溉灌於子。故生泣也。</p>
<p>心色赤。</p>
<p>虞曰。木之布色。在火乃赤也。</p>
<p>其臭焦。</p>
<p>虞曰。五臭之變在於火。五臟五臭。火盛則焦苦出焉。故曰其臭焦也。</p>
<p>其味苦。</p>
<p>虞曰。火性炎上。故生焦苦。故洪范云。炎上作苦。本經云。脾主甘。受味。火由土受之。則味苦。取其燥泄也。</p>
<p>其聲言。</p>
<p>虞曰。金火相當。夫婦相見。發聲為言。素問云笑。</p>
<p>其液汗。</p>
<p>虞曰。水火交泰。蒸而成汗。</p>
<p>脾色黃。</p>
<p>虞曰。脾土在中央。其色黃。此乃木之布色。在土乃黃也。</p>
<p>其臭香。</p>
<p>虞曰。火之化土。其臭則香也。</p>
<p>其味甘。</p>
<p>虞曰。脾土。味甘。甘能受味以取寬緩。行五味以養五臟。各從其數以配其味。在本性則甘。故洪范云。稼穡作甘也。</p>
<p>其聲歌。</p>
<p>虞曰。金土相生。母子相見。發聲為歌。</p>
<p>其液涎。</p>
<p>虞曰。水之行液。在脾成涎。</p>
<p>肺色白。</p>
<p>虞曰。木之布色。在肺乃白也。</p>
<p>其臭腥。</p>
<p>虞曰。火之變。在金則腥也。</p>
<p>其味辛。</p>
<p>虞曰。土之受味。在肺為辛。辛取其散潤也。</p>
<p>其聲哭。</p>
<p>虞曰。凡五音之發在於金。金發五音以出五臟。各從其類以發其聲。金在本性為哭者。謂肺屬金。金、商也。商、傷也。主於秋。秋、愁也。故在志則悲哭。此之謂也。</p>
<p>其液涕。</p>
<p>虞曰。水之行液。在肺成涕。</p>
<p>腎色黑。</p>
<p>虞曰。水之布色。在腎。乃黑。淮南子云。水者、積陰之氣而成水也。取其積陰。故其色乃黑。</p>
<p>其臭腐。</p>
<p>虞曰。火主臭。在水為腐臭也。啟玄子云。因水變為腐也。</p>
<p>其味鹹。</p>
<p>虞曰。土之受味。在水作咸。咸、取其柔　也。</p>
<p>其聲呻。</p>
<p>虞曰。子之見母。乃發嬌呻之聲也。</p>
<p>其液唾。</p>
<p>虞曰。凡五液皆出於水。水行五液。分灌五臟。故諸臟各有液也。在本宮則為唾也。</p>
<p>是五臟聲色臭味也。</p>
<p>丁曰。其言五聲五色五味五音五液。此者是五臟遞相榮養。過此則病也。楊曰。五臟相通各有五。五五合為二十五。</p>
<p>以相生養也。</p>
<p>五臟有七神。各何所藏耶。然。臟者、人之神氣所舍藏也。故肝藏魂。肺藏魄。心藏神。脾藏意與智。</p>
<p>虞曰。心有所億謂之意。水從其夫。故有智也。</p>
<p>腎藏精與志也。</p>
<p>丁曰五臟七神者。宣明五氣篇注云。心藏神。精氣之化成也。肺藏魄。精氣之匡輔也。靈樞經云。並精而出入者謂之魄。肝藏魂。神氣之輔弼也。靈樞經曰。隨神而往來者謂之魂。脾藏意與智。意主所思。智主其記。腎藏精與志。專意而不移者也。靈樞經曰。意之所在謂之志。又云守其精者謂之志也。虞曰。氣之所化謂之精。意之所存謂之志。楊曰。</p>
<p>肝心肺各一神。脾腎各二神。五臟合有七神。</p>
<p>三十五難曰。五臟各有所。腑皆相近。而心肺獨去大腸小腸遠者。何謂也。經言心榮肺衛。通行陽氣。故居在上。</p>
<p>大腸小腸傳陰氣而下。故居在下。所以相去而遠也。又諸腑者。皆陽也。清淨之處。今大腸小腸胃與膀胱。皆受不淨。</p>
<p>其意何也。然。諸腑者。謂是非也。</p>
<p>丁曰。經言諸府皆陽、清淨之處者。為手足三陽為行氣之府。故言清淨之處也。今大腸小腸胃膀胱為傳化之府。故言非也。楊曰。謂是非者、言諸府各別其所傳化。此為是也。小腸為府。此為非也。何為如此。然。小腸者。雖配心為表。其治則別。其氣則通。其氣雖通。其所主又異。所以雖曰心病。而無心別位。故曰非也。</p>
<p>經言小腸者、受盛之府也。大腸者、傳瀉行道之府也。膽者、清淨之府也。胃者。水穀之府也。膀胱者、津液之府也。</p>
<p>楊曰。此各有此傳也。</p>
<p>一腑猶無兩名。故知非也。小腸者、心之腑。大腸者、肺之腑。胃者、脾之腑。膽者、肝之腑。膀胱者、腎之腑。</p>
<p>楊曰。此是小腸與心通氣也。余並同矣。</p>
<p>小腸謂赤腸。大腸謂白腸。膽者謂青腸。胃者謂黃腸。膀胱者謂黑腸。下焦所治也。</p>
<p>丁曰。皆謂隨五臟之色相配而言也。楊曰。腸者、取其積貯熱治之義也。故以名之。然六腑五臟之正色也。</p>
<p>三十六難曰。臟各有一耳。腎獨有兩者。何也。然。腎兩者。非皆腎也。其左者為腎。右者為命門。命門者諸神精之所舍。原氣之所系也。故男子以藏精。女子以系胞。故知腎有一也。</p>
<p>丁曰。命門者諸神精之所舍。原氣之所系也。故男子藏精。女子系胞也。是知腎有一也。其言命門者。非右尺也為人之生命之門也。腎屬水。故知以其右尺。為相火行君火之命。今亦名命門。即非腎之命門也。蓋同名而異義也。楊曰。</p>
<p>腎雖有兩而非一腎。故脈經曰。左手尺中為腎脈。右手尺中為神門脈。此其義也。腎者、人生之根本。神門者、元氣之宗始。故云精神之所舍也。神門亦命門也。虞曰。經云。右為命門。元氣之所系也。脈經言與三焦為表裡。三焦又主三元之氣。準此推之。三焦自命門之所起也。屬手少陽火。配心包手厥陰火為表裡。其理明矣。</p>
<p>三十七難曰。五臟之氣。於何發起通於何許。可曉以不。然。五臟者、當上關於九竅也。故肺氣通於鼻。鼻和則知香臭矣。肝氣通於目。目和則知白黑矣。脾氣通於口。口和則知穀味矣。心氣通於舌。舌和則知五味矣。腎氣通於耳。</p>
<p>耳和則知五音矣。</p>
<p>楊曰。七竅者、五臟之門戶。臟氣平調。則門戶和利矣。</p>
<p>五臟不和。則九竅不通。</p>
<p>楊曰。五臟失和於內，九竅壅塞於外也。今上有七竅而云九者。二竅幽隱。所以不言。腎氣上通於耳。下通於二陰。</p>
<p>故云九竅也。</p>
<p>六腑不和。則留結為癰。</p>
<p>丁曰。不和者、為腑與臟不和者。邪氣不得外泄。則害其九竅。六腑不得內通。則留結為癰。凡人臟腑陰陽和。即如水之流不得息也。如環之無端。莫知其紀周而復始也。楊曰。六腑、陽氣也。陽氣不和。則結癰腫之屬。故云為癰也。</p>
<p>邪乘氣來。先游於腑也。</p>
<p>邪在六腑。則陽脈不和。陽脈不和。則氣留之。氣留之。則陽脈盛矣。邪在五臟。則陰脈不和。陰脈不和。則血留之。血留之。則陰脈盛矣。陰氣太盛。則陽氣不得相營也。故曰格。陽氣太盛。則陰氣不得相營也。故曰關。陰陽俱盛。</p>
<p>不得相營也。故曰關格。關格者。不得盡其命而死矣。</p>
<p>丁曰。內外不相濟。是為關格。故知死矣。楊曰。人之所有者。氣與血也。氣為陽。血為陰。陰陽俱盛。或俱虛。</p>
<p>或更盛。或更虛。皆為病也。</p>
<p>經言氣獨行於五臟。不營於六腑者。何也。然氣之所行也。如水之流不得息也。故陰脈營於五臟。陽脈營於六腑。</p>
<p>如環之無端。莫知其紀。終而復始。其不覆溢。人氣內溫於臟腑。外濡於腠理。</p>
<p>丁曰。諸陰不足。陽入乘之。為覆。諸陽不足。陰出乘之。為溢也。此者是氣之獨行也。楊曰。覆溢者。謂上魚入尺也。若不如此。當行不止。故云終而復始焉。</p>
<h3>臟腑度數第六（凡十首）</h3>
<p>三十八難曰。臟唯有五腑獨有六者。何也。然。所以腑有六者。謂三焦也。有原氣之別焉。主持諸氣有名而無形。</p>
<p>其經屬手少陽。此外腑也。故言腑有六焉。</p>
<p>丁曰。其言五臟六腑者。謂五臟應地之五行。其六腑應天之六氣。其言天之六氣。謂三焦為相火。屬手少陽。故言腑獨有六也。楊曰。三焦無內腑。惟有經脈名手少陽。故曰。外腑也。</p>
<p>三十九難曰。經言腑有五。臟有六者。何也。然。六腑者。正有五腑也。然五臟亦有六臟者。謂腎有兩臟也。其左為腎。右為命門。命門者。謂精神之所舍也。男子以藏精。女子以系胞。其氣與腎通。故言臟有六也。腑有五者。何也。</p>
<p>然。五臟各一腑。三焦亦是一腑。然不屬於五臟。故言腑有五焉。</p>
<p>丁曰。五臟正有五腑。今曰三焦。是為一腑。配心包絡為臟。即臟腑皆有六焉。其二經俱是相火。相行君命。故曰命門也。楊曰。五臟六腑皆五。有五六之數。或俱五。或俱六。或一五。或一六。並應天地之數也。若以正臟腑言之。</p>
<p>則臟腑俱有五也。臟五以應地之五岳。腑五以應天之五星。若以俱六言之、則臟六以應六律。腑六以應乾數。若以臟五腑六言之。則臟五以應五行。腑六以法六氣。若以腑五臟六言之。則臟六以法六陰。腑五以法五常。所以臟腑俱五者。</p>
<p>手心主非臟。三焦非腑也。臟腑俱六者。合手心主及三焦也。其余例可知也。虞曰。天以六氣司下。地以五行奉上。天地交泰。五六之數而成也。人法三才。所以臟腑以法五六之數。謂人頭圓象天。足方象地。以臟腑五六之數以象人。則三才備矣。十一之數。相因而成。故不離於五六也。漢書云。五六乃天地之中數也。</p>
<h2>卷之四</h2>
<p>四十難曰。經言肝主色。</p>
<p>虞曰。肝、木也。木之華萼。敷布五色。故主色也。</p>
<p>心主臭。</p>
<p>虞曰。心火也。火之化物。五臭出焉。是故五臭心獨主之也。</p>
<p>脾主味。</p>
<p>虞曰。脾、土也。土甘。甘受味。故主味。禮云。甘受和味。此義也。</p>
<p>肺主聲。</p>
<p>虞曰。肺金也。金擊之有聲。故五音皆出於肺也。</p>
<p>腎主液。</p>
<p>虞曰。腎、水也。水流濕。主液也。</p>
<p>鼻者肺之候。而反知香臭。耳者、腎之候。而反聞聲。其意何也。然。肺者、西方金也。金生於巳。巳者、南方火也。火者心。心主臭。故令鼻知香臭。腎者北方水也。水生於申。申者、西方金。金者肺。肺主聲。故令耳聞聲。</p>
<p>楊曰。五行有相因成事。有當體成事者。至如肺腎二臟。相因成也。其余三臟。自成之也。</p>
<p>四十一難曰。肝獨有兩葉。以何應也。然。肝者、東方木也。木者、春也。</p>
<p>虞曰。在五常木法春。應仁。故云木者春也。人之仁發用也。</p>
<p>萬物始生。其尚幼小。</p>
<p>虞曰。肝、木足厥陰。配膽木足少陽。少陽之至。乍大乍小。乍短乍長。故云幼少。</p>
<p>意無所親。</p>
<p>虞曰。木者、應春法仁。施恩無求報。不以親而施化育。故曰意無所親。</p>
<p>去太陰尚近。</p>
<p>虞曰。十二經相注。足厥陰還復注手太陰。故曰。去太陰尚近也。</p>
<p>離太陽不遠。</p>
<p>虞曰。本經言足厥陰少陽木。生手太陽少陰火。故云離太陽不遠。則此義也。</p>
<p>猶有兩心。</p>
<p>虞曰。猶如也。如有兩心者。謂注於太陰。有畏金之心。生於太陽。有生火之心。故云猶有兩心。</p>
<p>故有兩葉。亦應木葉也。</p>
<p>楊曰。肝者據大葉言之。則是兩葉也。若據小葉言之。則多葉矣。解在後章。丁曰。經言肝者、東方木也。應春萬物之所生。其尚幼小。然始生者。非長生也。謂木初受氣。是言幼少也。意無所親者。謂以失其父未識其母。故曰意無所親也。去太陰尚近太陰是七月。木始受氣。離太陽不遠也。太陽是六月。故言離太陽不遠也。猶有兩心者。為離太陽戀太陰。有此離戀。故言兩心也。所以肝有兩葉。以應木葉也。</p>
<p>四十二難曰。人腸胃長短。受水穀多少。各幾何。然。胃大一尺五寸。徑五寸。長二尺六寸。橫屈受水穀三斗五升。</p>
<p>其中常留穀二斗。水一斗五升。</p>
<p>楊曰。凡人食入於口而聚於胃。故經云。胃者、水穀之海。胃中穀熟。則傳入小腸也。</p>
<p>小腸大二寸半。徑八分分之少半。長三丈二尺。受穀二斗四升。水六升三合合之太半。</p>
<p>楊曰。小腸受胃之穀。而傳入於大腸。分穀三分有二為太半。有一為少半。</p>
<p>回腸大四寸。徑一寸半。長二丈一尺。受穀一斗。水七升半。</p>
<p>楊曰。回腸者、大腸也。受小腸之穀。而傳入於廣腸焉。虞曰。水穀自胃有三斗五升。傳入小腸。則穀剩四升。水少八升六合合之少半。又傳入大腸。水穀之數。比之在胃各減一半。至此則水分入膀胱。穀傳入肛門也。</p>
<p>廣腸大八寸。徑二寸半。（按下文云。徑二寸大半。以圍三徑一約之。其數正合。此處脫大字。）長二尺八寸。受穀九升三合八分合之一。</p>
<p>楊曰。廣腸者。　腸也。一名肛門。受大腸之穀而傳出。</p>
<p>故腸胃凡長五丈八尺四寸。合受水穀八斗七升六合八分合之一（按此數誤。依上文計之。當云九斗二升一合又二十四分合之十九。）此腸胃長短受水穀之數也。</p>
<p>楊曰。據甲乙經言。腸胃凡長六丈四寸四分。所以與此不同者。甲乙經從口至　腸而數之。故長。此經從胃至腸而數之。故短。亦所以互相發明。非有謬也。</p>
<p>肝重四斤四兩。（按別本並作二斤四兩。惟史記正義引作四斤四兩。與此合。）左三葉。右四葉。凡七葉。</p>
<p>虞曰。肝足厥陰。配足少陽。少陽之次數於七。故有七葉。</p>
<p>主藏魂。</p>
<p>虞曰。魂者、神氣之輔弼也。楊曰。肝者、干也。於五行為木。故其體狀有枝干也。（按原本。其下衍於字。依史記正義引此文刪。）肝神七人。老子名曰明堂宮、蘭台府。從官三千六百人。又云肝神。六童子。三女人。又肝神名蓋藍。</p>
<p>心重十二兩。中有七孔三毛。盛精汁三合。主藏神。</p>
<p>楊曰。心、纖也。（按原本。纖誤作識。依史記正義引此文改。下同。）言所識纖微。（按原本所下衍以字。依史記正義引此文刪。）無物不貫也。又云。心、任也。言能任物也。其神九人。太尉公名絳宮大始。南極老人元先之身。（按史記正義引此文元先作員光。）其從官三千六百人。又曰心為帝王。身之主也。心神又名　。虞曰。神者、精氣之化成也。</p>
<p>脾重二斤三兩。扁廣三寸。長五寸。有散膏半斤。主裹血。溫五臟。主藏意。</p>
<p>楊曰。脾、裨也。（按原本裨誤作俾。依史記正義引此文改。下同。）在胃之下。裨助胃氣。主化水穀也。其神五人。</p>
<p>玄光玉女子母。其從官三千六百人。其脾神又名俾俾。</p>
<p>肺重三斤三兩。六葉兩耳。凡八葉。</p>
<p>虞曰。肺者、金之稽。兌之氣。位居於酉。酉是八門。八葉之應。法於此也。</p>
<p>主藏魄。</p>
<p>楊曰。肺、勃也。言其氣勃郁。（按史記正義引此下有故短二字。）也。其神八人。大和君名曰玉堂宮、尚書府。其從官三升六百人。又云。肺神十四。童子七。女子七。（按此字依史記正義補。）肺神又名鳴鳩。虞曰。魄者、精氣之匡輔也。</p>
<p>腎有兩枚。重一斤一兩。主藏志。</p>
<p>楊曰。腎、引也。腎屬水。主引水氣灌注諸脈也。其神六人。司徒。司宮、司命（按史記正義。宮作空。又司命下有司錄。）司隸、校尉、廷尉卿。腎神又名　。虞曰。專意不移者志。</p>
<p>膽在肝之短葉間。重三兩三銖。盛精汁三合。</p>
<p>楊曰。膽、敢也。言其人有膽氣果敢也。（按史記正義引此句無其字。）其神五人。太一道君。居紫房宮中。其從官三千六百人。膽神又名灌灌。虞曰。膽者、中正之官。決斷出焉。</p>
<p>胃重二斤二兩。（按史記正義引作二斤十四兩。）紆曲屈伸。長二尺六寸。大一尺五寸。徑五寸。盛穀二斗。水一斗五升。</p>
<p>楊曰。胃、圍也。言圍受食物也。其神十二人。五元之氣諫議大夫。其胃神名且且。虞曰。胃為倉廩之官也。</p>
<p>小腸重二斤十四兩。長三丈二尺。廣二寸半。徑八分分之少半。左回疊積十六曲。盛穀二斗四升。水六升三合合之太半。</p>
<p>楊曰。腸、暢也。言通暢胃氣。去滓穢也。其神二人。元梁使者。小腸神又名潔潔。虞曰。小腸為受盛之官。化物出焉。</p>
<p>大腸重二斤十二兩。長二丈一尺。廣四寸。徑一寸半。（按原本脫半字。依史記正義引此句補。與前文合。）當齊右回十六曲。盛穀一斗。水七升半。</p>
<p>楊曰。大腸、即回腸也。以其回曲。因以名之。其神二人。元梁使者。其神名涸涸。虞曰。大腸為傳導之官。變化出焉。</p>
<p>膀胱重九兩二銖。縱廣九寸。盛溺九升九合。</p>
<p>楊曰。膀、橫也。胱、廣也。言其體短而橫廣。又名胞。胞、　也。　者、空也。以需承水液焉。（史記正義引此文云。胞、虛空也。主以虛承水液。）今人多以兩脅下及小腹兩邊為膀胱。深為謬也。虞曰。膀胱為州都之官。津液藏焉。</p>
<p>口廣二寸半。唇至齒長九分。齒以後至會厭。深三寸半。大容五合。舌重十兩。長七寸。廣二寸半。</p>
<p>楊曰。舌者、泄也。言可舒泄言語也。（按原本舒泄下有於字。依史記正義刪。）虞曰。唇者、聲之扇。舌者、聲之機。</p>
<p>咽門重十兩。廣二寸半。至胃長一尺六寸。</p>
<p>楊曰。咽、　也。言可以　物也。又謂之嗌。言氣之流通　要之處也。咽為胃之系也。故經曰。咽主地氣。胃為土。</p>
<p>故云主地氣也。</p>
<p>喉嚨重十二兩。廣二寸。長一尺二寸。九節。</p>
<p>楊曰。喉嚨空虛也。言其中空虛。可以通氣息焉。即肺之系也。呼吸之道路。故經云。喉主天氣。肺應天。故云主天氣也。喉嚨與咽並行。其實兩異。而人多惑之。（按原本兩作無。惑作感。並依史記正義改正。）</p>
<p>肛門重十二兩。大八寸。徑二寸大半。長二尺八寸。受穀九升二合八分合之一。</p>
<p>楊曰。肛、　也。言其處似車　形。故曰肛門。即廣腸也。又言　腸。丁曰。前腸胃徑圍。</p>
<p>一尺五寸徑五寸者、即是圍三徑一也。小腸徑八分。大二寸四分則是也。今言二寸半。即分之少半。回腸徑一寸半。即大四寸五分。今言大四寸。即少五分也。廣腸徑二寸半。即大七寸五分。今言八寸。即有剩五分也。其升斗寸尺者。先立其尺。然後造其升斗秤兩。皆以同身寸之為法。以尺造斗。斗面闊一尺。底闊七寸。高四寸。俱濃三分。可容十升。</p>
<p>凡以木此指節者。方一寸為兩。十六兩為斤。此制同身寸尺升斗之度。為人之腸胃斤重長短之法也。</p>
<p>四十三難曰。人不食飲。七日而死者。何也。然。人胃中常有留穀二斗。水一斗五升。故平人日再至圊。一行二升半。日中五升。七日五七三斗五升。而水穀盡矣。故平人不食飲七日而死者。水穀津液俱盡。即死矣。</p>
<p>丁曰。人受氣於穀以養其神。水穀盡即神去。故安穀者生。絕穀者死也。楊曰。胃中常留水穀三斗五升。人既不食飲。而日別再圊。便一日五升。七日之中。五七三斗五升。胃中水穀俱盡。無氣以生。故死焉。圊、廁也。虞曰。人受氣於穀。今不食飲七日。是知水穀氣盡即死也。</p>
<p>四十四難曰。七衝門何在。然。唇為飛門。齒為戶門。會厭為吸門。胃為賁門。太倉下口為幽門。大腸小腸會為闌門。下極為魄門。故曰七衝門也。</p>
<p>丁曰。經言唇為飛門者、取動之義也。齒為戶門者、為關鍵開合。五穀由此摧廢出入也。會厭為吸門者、咽喉為水穀下時厭按呼吸也。胃為賁門者、胃言若虎賁之士。圍達之象。故曰賁門也。況胃者、圍也。主倉廩、故別名太倉。其下口者、即腸口是也。大腸小腸會為闌門。會者合也。大腸小腸合會之處。分闌水穀精血。各有所歸。故曰闌門也。下極為魄門。大腸者、肺之腑也。藏其魄。大腸下名肛門。又曰魄門也。楊曰。人有七竅。是五臟之門戶。皆出於面。今七衝門者。亦是臟腑之所。出而內外兼有證焉。飛門者、脾氣之所出也。脾主於唇為飛門也。飛者動也。言唇受水穀。</p>
<p>動轉入於內也。齒為戶門者、口齒心氣之所出也。在心為志。退場門為言。故齒為心之門戶。亦取摧伏五穀傳入於口也。</p>
<p>會厭為吸門者、會厭為五臟音聲之門戶。故云會厭為吸門也。胃為賁門。賁者、膈也。胃氣之所出也。胃出穀氣以傳於肺。肺在膈上。故以胃為賁門也。太倉下口為幽門者。腎氣之所出也。太倉者、胃也。胃之下口。在齊上三寸。既幽隱之處。故曰幽門。大腸小腸會為闌門。闌門者、遺失之義也。言大小二腸皆輸瀉於廣腸。廣腸既受傳而出之。是遺失之意也。故曰闌門。下極為魄門。魄門者、下極肛門也。肺氣上通喉嚨。下通於肛門。是肺氣之所出也。肺藏魄。故曰魄門焉。沖者、通也。出也。言臟腑之氣通出之所也。</p>
<p>四十五難曰。經言八會者。何也。然。腑會太倉。</p>
<p>丁曰。腑會太倉者、胃也。其穴者、中脘是也。虞曰。太倉在心前鳩尾下四寸是也。足陽明胃脈、手太陽小腸脈、手少陽三焦脈、任脈之會。本名中脘。此云太倉也。即胃之募也。胃化氣養大腑。故云會。</p>
<p>臟會季脅。</p>
<p>丁曰。臟會季脅。軟筋之名。其端有穴。直臍章門穴。是脾之募。足厥陰少陽所會。故曰臟會季脅也。虞曰。是章門穴。乃脾之募也。直齊季脅端側臥。屈上足。伸下足。齊臂取之。乃足厥陰少陽之會也。</p>
<p>筋會陽陵泉。</p>
<p>丁曰。陽陵泉、穴名也。在膝下一寸外廉是也。虞曰。陽陵泉穴。在膝下宛宛中。足少陽膽脈氣所發也。</p>
<p>髓會絕骨。</p>
<p>丁曰。髓會絕骨、是骨名也。其穴在外踝上四寸。陽輔穴是也。虞曰。絕骨、乃陽輔穴也。亦足少陽之脈氣所出也。</p>
<p>血會鬲俞。</p>
<p>丁曰。血會鬲俞、穴名也。在第七椎下兩旁。同身寸各一寸五分是也。虞曰。鬲俞二穴。在脊骨第七椎下兩旁各一寸五分。足太陽膀胱脈氣所發也。</p>
<p>骨會大杼。脈會太淵。</p>
<p>丁曰。骨會大杼、穴名也。在項後第一椎兩旁相去同身寸一寸五分。脈會太淵穴。在右寸內魚際下。虞曰。大杼亦足太陽脈。氣所發。在脊第一椎兩旁各一寸五分。太淵在手魚際間。應手動脈。則手太陰之脈氣所發也。</p>
<p>氣會三焦外一筋直兩乳內也。熱病在內者。取其會之氣穴也。</p>
<p>丁曰。氣會三焦外一筋直兩乳內者、膻中穴是也。此者是成會之穴所在也。楊曰。人臟腑筋骨髓血脈氣。此八者。</p>
<p>皆有會合之穴。若熱病在於內。則於外取其所會之穴以去其疾也。季脅、章門穴也。三焦外一筋直兩乳內者、膻中穴也。</p>
<p>余皆可知也。</p>
<p>四十六難曰。老人臥而不寐。少壯寐而不寤者。何也。然。經言少壯者。血氣盛。肌肉滑。氣道通。榮衛之行。不失於常。故晝日精、夜不寤。（別本有也字。與下文一例。）老人血氣衰。肌肉不滑。榮衛之道澀。故晝日不能精。夜不得寐也。故知老人不得寐也。</p>
<p>丁曰。天地交泰。日月曉昏。人之寤寐。皆相合也。少壯未損其榮衛。故寤寐與天地陰陽同度。是以晝日精強夜得其寐也。老者損瘁。故晝日不能精強。榮衛滯澀。所以夜不得寐也。是以晝日不精而夜不得寐也。楊曰。衛氣者、晝日行於陽。陽者。身體也。夜行於陰。陰者、腹內也。人目開衛氣出則寤。入則寐。少壯者。衛氣行不失於常。故晝得安靜而夜得穩眠也。老者衛氣出入。不得應時。故晝不得安靜。夜不得寐也。精者靜。靜、安也。</p>
<p>四十七難曰。人面獨能耐寒者。何也。然。人頭者、諸陽之會也。諸陰脈皆至頭、胸中而還獨諸陽脈皆上至頭耳。</p>
<p>故令面耐寒也。</p>
<p>丁曰。天地陰陽升降。各有始終。陽氣始於立春。終於立冬。陰氣始於立秋。終於立夏。其小滿、芒種、夏至、小暑、大暑。此五節故以法象於頭。故面獨能耐寒。其小雪、大雪、冬至、小寒。大寒。此五節法象人之足。亦不耐其寒。</p>
<p>此之謂也。楊曰。接諸陰脈皆至頸、胸中而還。蓋取諸陽盡會於頭面。諸陰至頭面者少。故以言之耳。經云。三百六十五脈。悉會於目。（按靈樞邪氣臟腑病形篇云。十二經脈。三百六十五絡。其血氣皆上於面而走空竅。此所引有脫誤。）</p>
<p>如此。則陰陽之脈皆至於面。不獨言陽脈自至於頭面也。</p>
<h3>虛實邪正第七（凡五首）</h3>
<p>四十八難曰。人有三虛三實。何謂也。然。有脈之虛實。有病之虛實。有診之虛實也。脈之虛實者。濡者為虛。緊牢者為實。</p>
<p>丁曰。脈緩軟者濡。按之而有力者牢實也。楊曰。按之如切繩之狀。謂之緊也。</p>
<p>病之虛實者。出者為虛。入者為實。</p>
<p>丁曰。陰陽者、主其內外也。今陽不足。陰出乘之。在內俱陰。故知出者為虛也。陰不足。陽入乘之。在外俱陽。</p>
<p>故知入者為實也。楊曰。呼多吸少。吸多呼少。</p>
<p>言者為虛。不言者為實。</p>
<p>楊曰。肺主聲。入心為言。故知言者為虛。肝主謀慮。故入心即不言。用為實邪。故知不言者為實也。楊曰。臟氣虛。精氣脫。故多言語也。臟氣實。邪氣盛。故不欲言語也。</p>
<p>緩者為虛。急者為實。</p>
<p>丁曰。陽主躁。陰主靜。陰即緩。陽即急。故知緩者為虛。急者為實也。楊曰。皮肉寬緩。皮膚滿急也。</p>
<p>診之虛實者。濡者為虛。</p>
<p>楊曰。皮膚濡緩也。</p>
<p>牢者為實。</p>
<p>楊曰。皮肉牢強也。</p>
<p>癢者為虛。</p>
<p>楊曰。身體虛癢也。</p>
<p>痛者為實。</p>
<p>楊曰。身形有痛處皆為實。</p>
<p>外痛內快。為外實內虛。</p>
<p>楊曰。輕手按之則痛。為外實。病淺故也。重手按之則快。為內虛。病深故也。</p>
<p>內痛外快。為內實外虛。</p>
<p>楊曰。重手按之則痛。為內實。病深故也。輕手按之則快。為外虛。病淺故也。凡人病。按之則痛者。皆為實。按之則快者。皆為虛也。</p>
<p>故曰虛實也。</p>
<p>楊曰。是三虛三實之證也。丁曰。診按之心腹皮膚內外。其痛按之而止者虛。接之而其痛甚者實。內外同法也。</p>
<p>四十九難曰。有正經自病。有五邪所傷。何以別之。然。經言憂愁思慮則傷心。</p>
<p>丁曰。心主脈。憂愁思慮。即心脈不得宣行。故傷心也。呂曰。心為神。五臟之君。聰明才智。皆由心出。憂勞之甚。則傷其心。心傷神弱也。虞曰。任治於物清箏棲靈曰心。今憂愁思慮不息。故傷心也。</p>
<p>形寒飲冷則傷肺。</p>
<p>丁曰。肺主皮毛。惡其寒。所以形寒飲寒則令傷其肺也。呂曰。肺主皮毛。形寒者、皮毛寒也。飲冷者、傷肺也。</p>
<p>肺主受水漿。水漿不可冷凍飲料。肺又惡寒。故曰傷也。</p>
<p>恚怒氣逆。上而不下。則傷肝。</p>
<p>丁曰。肝主謀慮。膽主勇斷。故怒極即傷其肝也。呂曰。肝與膽為臟腑。其氣勇。故主怒。怒則傷也。虞曰。素問云。怒則血菀積於上焦。名曰逆厥。又曰。怒甚嘔血。氣逆使然。故傷也。</p>
<p>飲食勞倦則傷脾。</p>
<p>丁曰。脾主味。飲食味美。而過食之無度。勞動其力。倦局其足。故傷脾也。呂曰。飲食飽。胃氣滿。脾絡恆急。</p>
<p>或走馬跳躍。或以房勞脈絡裂。故傷脾也。虞曰。脾為倉廩之官。五味出焉。謂納其五味。化生五氣。以養人身。今飲食勞倦而致自傷。是故聖人謹和五味。骨正筋柔。謹道如法。長有尺命。安致自傷。養生之道。可不戒哉。</p>
<p>久坐濕地。強力入水。則傷腎。</p>
<p>丁曰。腎主腰。腰者、腎之府。久坐則腎氣不得宣行。故損也。腎穴在足心底。名曰涌泉。居處濕地入水。故有損也。強力者。務快其心。強合陰陽。故傷其腎也。呂曰。久坐濕地。謂遭憂喪。強力者。謂舉重引弩。入水者。謂復溺於水。或婦人經水未過。強合陰陽也。虞曰。土主濕。自然之理也。今久坐濕地。則外濕內感於腎。合之風寒。發為瘴病。強力過用。必致自飲也。經脈別論曰。持重遠行。必傷於腎。生氣通天論曰。因而強力。腎氣乃傷。高骨乃壞。經脈別論曰。度水跌仆。喘出於腎與胃也。</p>
<p>是正經之自病也。</p>
<p>丁曰。此五者。皆正經自病。非謂他邪也。呂曰。此皆從其臟內自發病。不從外來也。虞曰。呂氏言其臟內自發其病。不從外來。其義、非也。只如形寒飲冷傷肺者。謂外寒感於皮毛。內合於肺。此從外來也。又飲冷入口。內傷於肺。</p>
<p>亦從外來也。余悉如此。聖人大意。言正經虛則腠理開。腠理開則外感於內。故曰正經自病也。</p>
<p>何謂五邪。然有中風。</p>
<p>丁曰。中者、傷也。言中風者。調肝應風。主色邪。散於五臟。為之五色也。呂曰。肝主風也。虞曰。東方生風。</p>
<p>風生木。惡風。又巽木為風。</p>
<p>有傷暑。</p>
<p>丁曰。傷暑者。謂心應暑。主臭邪。放於五臟。為之五臭也。呂曰。心主暑也。虞曰。心火主暑。王於夏暑、熱也。</p>
<p>素問曰。夏傷於暑。秋必　瘧。</p>
<p>有飲食勞倦。</p>
<p>丁曰。脾應濕。主味邪。散入五臟為五味。呂曰。脾主勞倦也。虞曰。正經自病。亦言飲食勞倦。傷脾。今五邪亦言飲食勞倦。正經病謂正經虛。又傷飲食五邪病。謂食飲傷於脾而致病也。</p>
<p>有傷寒。</p>
<p>丁曰。肺主燥。而其令清切。惡寒。主其聲邪散入五臟。為之五聲也。呂曰。肺主寒也。虞曰。謂寒感皮毛。故曰傷寒也。</p>
<p>有中濕。</p>
<p>丁曰。腎應寒。主水邪散入五臟。為之五液也。呂曰。腎主濕也。虞曰。水流濕之義也。</p>
<p>此之謂五邪。</p>
<p>呂曰。此五病。從外來也。虞曰。此五行相勝也。作邪如下說也。</p>
<p>假令心病。何以知中風得之。然。其色當赤。何以言之。肝主色。</p>
<p>虞曰。巽為風。屬木。故主中風。木之華萼。敷布五色。作五邪。乃如下說也。</p>
<p>自入為青。</p>
<p>虞曰。木經自病也。</p>
<p>入心為赤。</p>
<p>虞曰。肝邪入心。其色乃赤。</p>
<p>入脾為黃。</p>
<p>虞曰。肝邪入脾。其色黃也。</p>
<p>入肺為白。</p>
<p>虞曰。肝邪入肺。故其色白。</p>
<p>入肝為黑。</p>
<p>虞曰。肝邪在腎。其色黑。</p>
<p>肝為心邪。故知當赤色也。</p>
<p>呂曰。肝主中風。心主傷暑者。今心病中風。故知肝邪往傷心也。</p>
<p>其病身熱。脅下滿痛。</p>
<p>呂曰。身熱者心。滿痛者肝。二臟之病證也。虞曰。心主傷暑。病則身熱。肝布兩脅。故脅滿。肝之乘心也。</p>
<p>其脈浮大而弦。</p>
<p>呂曰。浮大者心。弦者肝。二臟脈見應也。</p>
<p>何以知傷暑得之。然。當惡臭。何以言之。心主臭。</p>
<p>虞曰。心火也。火之化物。五臭出焉。</p>
<p>自入為焦臭。</p>
<p>虞曰。火性炎上。則生焦臭。此曰正經自病也。</p>
<p>入脾為香臭。</p>
<p>虞曰。火之化土。其臭乃香。</p>
<p>入肝為臊臭。</p>
<p>虞曰。火之化木。其臭乃臊。</p>
<p>入腎為腐臭。</p>
<p>虞曰。火之化水。其臭乃腐。</p>
<p>入肺為腥臭。</p>
<p>虞曰。火之化金，其臭乃腥。</p>
<p>故知心病傷暑得之也。（按此也字。當在下句之末。別本並脫去。）當惡臭。其病身熱而煩。心痛。其脈浮大而散。</p>
<p>呂曰。心主暑。今傷暑。此正經自病。不中他邪。</p>
<p>何以知飲食勞倦得之。然。當喜苦味也。虛為不欲食。實為欲食。何以言之。脾主味。</p>
<p>虞曰。稼穡作甘。禮云。甘受和。故主味也。</p>
<p>入肝為酸。</p>
<p>虞曰。脾主味。為邪乘肝病者。乃喜酸味也。</p>
<p>入心為苦。</p>
<p>虞曰。脾主味。為邪干心病者。乃喜苦味也。</p>
<p>入肺為辛。</p>
<p>虞曰。脾主味。為邪干肺病者。乃喜辛味也。</p>
<p>入腎為咸。</p>
<p>虞曰。脾主味。為邪干腎病者。乃喜咸味也。</p>
<p>自入為甘。</p>
<p>虞曰。土為稼穡。本經自病。乃喜甘味也。</p>
<p>故知脾邪入心。為喜苦味也。</p>
<p>呂曰。心主傷熱。脾主勞倦。今心病以飲食勞倦得之。故知脾邪入心也。</p>
<p>其病身熱。而體重嗜臥。四肢不收。</p>
<p>呂曰。身熱者、心也。體重者、脾也。此二臟病證也。</p>
<p>其脈浮大而緩。</p>
<p>呂曰。浮大者、心脈。緩者、脾脈也。</p>
<p>何以知傷寒得之。然。當譫言妄語。何以言之。肺主聲。</p>
<p>虞曰。五金擊之有聲。故五音出於肺也。</p>
<p>入肝為呼。</p>
<p>虞曰。木之畏金故呼。啟玄子云。呼亦當嘯。</p>
<p>入心為言。</p>
<p>虞曰。此云言。素問云笑。謂金火相當。夫婦相見。故言笑。</p>
<p>入脾為歌。</p>
<p>虞曰。土母金子。母子相見。故有歌義。</p>
<p>入腎為呻。</p>
<p>虞曰。金母水子。子之見母。發嬌呻聲也。</p>
<p>自入為哭。</p>
<p>虞曰。肺主於秋。秋者愁也。其音商。商、傷也。故自入為哭也。</p>
<p>故知肺邪入心。為譫言妄語也。</p>
<p>呂曰。心主暑。肺主寒。（按依前後注例。此下脫今心病以傷寒六字。）得之。故知肺邪入心以為病也。</p>
<p>其病身熱。洒洒惡寒。甚則喘咳。</p>
<p>呂曰。身熱者心。惡寒者肺。此二臟病證也。</p>
<p>其脈浮大而澀。</p>
<p>呂曰。浮大者心脈。澀者、肺脈也。</p>
<p>何以知中濕得之。然。當喜汗出不可止。何以言之。腎主濕。</p>
<p>丁曰。腎主水。水化五液也。虞曰。腎主水。水流濕。故五濕皆出於腎。</p>
<p>入肝為泣。</p>
<p>虞曰。悲哀動中則傷魂。魂傷則感而淚下。謂肺主悲。悲則金有餘。木乃畏之。水者木之母。母憂子。故肝為泣也。</p>
<p>入心為汗。</p>
<p>虞曰。水火交泰。蒸之為汗。</p>
<p>入脾為液。</p>
<p>虞曰。土夫水妻。妻從夫則生涎也。</p>
<p>入肺為涕。</p>
<p>虞曰。北方生寒。寒生腎。今寒感皮毛。內合於肺。肺寒則涕。是知入肺為涕。</p>
<p>自入為唾。</p>
<p>虞曰。腎之脈上絡於舌。故生唾也。離中六二爻是也。此則正經自病。</p>
<p>故知腎邪入心。為汗出不可止也。</p>
<p>呂曰。心主暑。腎主濕。今心病以傷濕得知。故知腎邪入心也。</p>
<p>其病身熱。而小腹痛。足脛寒而逆。</p>
<p>呂曰。身熱者心。小腹痛者腎。腎邪干心。此二臟病證也。</p>
<p>其脈沉濡而大。</p>
<p>呂曰。大者、心脈。沉濡者、腎脈也。</p>
<p>此五邪之法也。</p>
<p>五十難曰。病有虛邪。有實邪。有賊邪。有微邪。有正邪。何以別之。然。從後來者為虛邪。</p>
<p>丁曰。假令心病得肝脈來乘。是為虛邪。肝是母。心是子。子能令母虛。故云從後來者為虛邪。呂曰。心王之時。</p>
<p>脈當洪大而長。反得弦小而急。是肝王畢木傳於心。奪心之王。是肝往乘心。故言從後來也。肝為心之母。母之乘子。</p>
<p>是為虛邪也。</p>
<p>從前來者為實邪。</p>
<p>丁曰。脾脈來乘。是為實邪。心是母。脾是子。而母能令子實。故云從前來者為實邪也。呂曰。謂心王得脾脈。心王畢。當傳脾。今心王未畢。是脾來逆奪其王。故言從前來也。脾者心之子。子之乘母。是為實邪。</p>
<p>從所不勝來者為賊邪。</p>
<p>丁曰。火所不勝於水。心病腎脈來乘。故為賊邪。呂曰。心王得腎脈。水勝火。故是為賊邪也。</p>
<p>從所勝來者為微邪。</p>
<p>丁曰。火所勝於金。心病肺脈來乘。故云微邪。呂曰。心王反得肺脈。火勝金。故為微邪也。</p>
<p>自病者為正邪。</p>
<p>丁曰。無他邪相乘。則為正邪。呂曰。心王之時。脈實強太過。反得虛微。為正邪也。</p>
<p>何以言之。假令心病。中風得之為虛邪。傷暑得之為正邪。</p>
<p>呂曰。心主暑。今心自病傷暑。故為正邪也。</p>
<p>飲食勞倦得之為實邪。</p>
<p>呂曰。從前來者。脾乘心也。脾主勞倦。故為實邪。</p>
<p>傷寒得之為微邪。</p>
<p>呂曰。從所勝來者。肺乘心也。肺主寒。又畏心。故為微邪。</p>
<p>中濕得之為賊邪。</p>
<p>呂曰。從所不勝來者。腎乘心也。腎主濕。水克火。故為賊邪也。丁曰。夫在天之寒。在地為水。在人為腎。腎主水與寒。在天之風。在地為木。在人為肝。肝主風。在天之暄暑。在地為火。在人為心。心主暑。在天之燥。在地為金。</p>
<p>在人為肺。肺主燥。在天之濕。在地為土。在人為脾。脾主濕。此是天地人三才相通也。今經以寒合肺。以濕合腎。以飲食勞倦合脾。此三者。義理稍差。未詳其旨。</p>
<p>五十一難曰。病有欲得溫者。有欲得寒者。有欲得見人者。有不欲得見人者。而各不同。病在何臟腑也。然。病欲得寒而欲見人者。病在腑也。病欲得溫而不欲得見人者。病在臟也。何以言之腑者、陽也。陽病欲得寒。又欲見人。臟者、陰也。陰病欲得溫。又欲閉戶獨處。惡聞人聲。故以別知臟腑之病也。</p>
<p>丁曰。手三陰三陽應天。主暄暑燥病。即欲得寒也。然陽者、明也。是以欲得見人。陽為腑。故言病在腑也。足三陰三陽應地。主風寒濕。故病即欲得溫。陰主臟。故不欲見人也。諸浮躁者。病在手。諸靜不躁者。病在足。</p>
<p>五十二難曰。腑臟發病。根本等不。然。不等也。其不等奈何。然。臟病者。止而不移其病。不離其處。</p>
<p>丁曰。臟病為陰。陰主靜。故止而不移。呂曰。臟者陰。決於地。（按決字疑當作法。）故不移動也。</p>
<p>腑病者。仿佛賁向。上下行流。居處無常。</p>
<p>丁曰。腑病為陽。主動。故上下行流。居處無常。呂曰。腑、陽也。陽者法天。天有回旋不休。故病流轉。居無常處也。</p>
<p>故以此知臟腑根本不同也。</p>
<h3>臟腑傳病第八（凡二首）</h3>
<p>五十三難曰。經言七傳者死。間臟者生。何謂也。然。七傳者、傳其所勝也。間臟者、傳其子也。何以言之。假令心病傳肺。肺傳肝。肝傳脾。脾傳腎。腎傳心。一臟不再傷。故言七傳者死也。間臟者、傳其所生也。</p>
<p>丁曰。經云前七傳者死。後言間臟者生。其言七傳者。是五臟為陰。傳其所勝。間臟者。是六腑為陽。故傳其所生。</p>
<p>亦五臟六腑並應五行。傳其所生者生。傳其所勝者死。其言傳肺。肺死而不傳。故一臟不再傷也。呂曰。七當為次字之誤也。此下有間字。即知上當為次。又有五臟。心獨再傷。為有六傳耳。此蓋次傳其所勝臟故其病死也。虞曰。七傳者死。七字明也。呂氏以七為次。深為誤矣。又聲音不相近也。今明之以示後學。謂五行相生而數之。數終於五。又卻再數至二成七。向上之五。來傳於七。七之被克。故云死也。今舉一例以發明之。假令相生之數。數木火土金水木火。第五水字。隔第六木字。來克第七火字。火被水克。故曰七傳。下文云間臟者。是第五水字。下傳與第六木字。見相生。</p>
<p>故曰間臟者生也。呂氏言次者。次正成間臟也。</p>
<p>假令心病傳脾。脾傳肺。肺傳腎。腎傳肝。肝傳心。是母子相傳。竟而復始。如環之無端。故言生也。</p>
<p>丁曰。其言心傳脾。脾得生氣。再傳於肺。是母子相傳。故言生也。呂曰。間臟者、間其所勝之臟而相傳也。心勝肺。脾間之。肝勝脾。心間之。脾勝腎。肺間之。肺勝肝。腎間之。腎勝心。肝間之。此謂傳其所生也。</p>
<p>五十四難曰。臟病難治。腑病易治。何謂也。然。臟病所以難治者、傳其所勝也。腑病易治者、傳其子也。與七傳間臟同法也。</p>
<p>丁曰。臟者、陰也。病難治者、謂言傳其勝也（按謂言二字。當衍其一。）勝者、謂肝勝脾。脾勝腎。腎勝心。心勝肺。肺勝肝。故難治也。腑者。陽也。言陽病傳其子者。即是木病傳火。火病傳土。土病傳金。金病傳水。水木遞相生。</p>
<p>即腑病易治也。是故與七傳間臟法同也。楊曰。</p>
<h3>臟腑積聚第九（凡二首）</h3>
<p>五十五難曰。病有積有聚。何以別之。然。積者、陰氣也。聚者、陽氣也。故陰沉而伏。陽浮而動。氣之所積。名曰積。氣之所聚。名曰聚。故積者、五臟所生。聚者、六腑所成也。積者、陰氣也。其始發有常處。其痛不離其部。上下有所終始。左右有所窮處。聚者、陽氣也。其始發無根本。上下無所留止。其痛無常處。謂之聚。故以是別知積聚也。</p>
<p>丁曰。積者、陰氣所積。是五臟傳其所勝。當王時不受邪。故留結為積。所以止而不移也。聚者、六腑之為病。陽也。所傳其子。以回轉不定。又陽主動。故無常處。呂曰。諸陰證病常在一處牢強。有頭足。止不移者。臟氣所作。死不治。故言臟、病難治。所以證病上下左右無常處者。此所謂陽證。雖困可治。本不死也。</p>
<p>故當經歲月。故經言腑病易治。</p>
<p>五十六難曰。五臟之積。各有名乎。以何月何日得之。然。肝之積名曰肥氣。在左脅下。如覆杯。有頭足。久不愈。</p>
<p>令人發咳逆　瘧。連歲不已。以季夏戊己日得之。何以言之。肺病傳於肝。肝當傳脾。脾季夏適王。王者不受邪。肝復欲還肺。肺不肯受。故留結為積。故知肥氣以季夏戊己日得之。</p>
<p>楊曰。積、蓄也。言血脈不行。積蓄成病也。凡積者、五臟所生也。榮氣常行。不失節度。謂之平人。平人者、不病也。一臟受病。則榮氣壅塞。故病焉。然五臟受病者。則傳其所勝。所勝適王。則不肯受傳。既不肯受。則反傳所勝。</p>
<p>所勝復不為納。於是則留結成積。漸以長大。病因成矣。肥氣者、肥盛也。言肥氣聚於左脅之下。如覆杯突出。如肉肥盛之狀也。小兒多有此病。按前章有積有聚。此章唯出五積之名狀。不言諸聚。聚者。六腑之病。亦相傳行。還如五臟。</p>
<p>以勝相加。故不重言。從省約也。</p>
<p>心之積名曰伏梁。起齊上。大如臂。上至心下。久不愈。令人病煩心。以秋庚辛日得之。何以言之。腎病傳心。心當傳肺。肺以秋適王。王者不受邪。心復欲還腎。腎不肯受。故留結為積。故知伏梁以秋庚辛日得之。</p>
<p>楊曰。伏梁者、言積自齊上。至心下。其大如臂。狀似屋舍棟梁也。</p>
<p>脾之積名曰痞氣。在胃脘。覆大如盤。久不愈。令人四肢不收。發黃膽。飲食不為肌膚。以冬壬癸日得之。何以言之。肝病傳脾。脾當傳腎。腎以冬適王。王者不受邪。脾復欲還肝。肝不肯受。故留結為積。故知痞氣以冬壬癸日得之。</p>
<p>楊曰。痞、否也。言痞結成積也。脾氣虛。則胃中熱而引食焉。脾病不能通氣。行津液。故雖食多而羸瘦也。</p>
<p>肺之積名曰息賁。在右脅下。覆大如杯。久不已。令人洒淅寒熱。喘咳。發肺壅。以春甲乙日得之。何以言之。心病傳肺。肺當傳肝。肝以春適王。王者不受邪。肺復欲還心。心不肯受。故留結為積。故知息賁以春甲乙日得之。</p>
<p>楊曰。息、長也。賁、膈也。言肺在膈上。其氣不行。漸長而逼於膈。故曰息賁。一曰賁、聚也。言其漸長而聚蓄。</p>
<p>肺為上蓋。臟中陽也。陽氣盛。故令人發肺壅也。</p>
<p>腎之積名曰賁豚。發於少腹。上至心下。若豚狀。或上或下無時。久不已。令人喘逆骨痿。少氣。以夏丙丁日得之。</p>
<p>何以言之。脾病傳腎。腎當傳心。心以夏適王。王者不受邪。腎復欲還脾。脾不肯受。故留結為積。故知賁豚以夏丙丁日得之。此是五積之要法也。</p>
<p>丁曰。人之五臟本和。謂恣欲五情。所以有增損。故蘊積生其病也。故有積有聚。積病為陰。聚病為陽。王時即安。</p>
<p>失時即病也。舊經文注皆明矣。楊曰。此病狀似豚而上衝心。又有奔豚之氣。非此積病也。名同而疾異焉。</p>
<h3>五泄傷寒第十（凡四首）</h3>
<p>五十七難曰。泄凡有幾。皆有名不。然。泄凡有五。其名不同。有胃泄。有脾泄。有大腸泄。有小腸泄。有大瘕泄。</p>
<p>名曰後重。胃泄者、飲食不化。色黃。</p>
<p>楊曰。泄利也。胃屬土。故其利色黃。而飲食不化焉。化變也。消也。言所食之物。皆完出不消變也。虞曰。此乃風入於腸。上重於胃。故使食不消化。風論曰。久風入中。則為腸風飧泄。飧泄、為食不消化也。</p>
<p>脾泄者。腹脹滿泄注。食即嘔吐逆。</p>
<p>楊曰。注者、無節度也。言利下猶如注水。不可禁止焉。脾病不能化穀。故食即吐逆。虞曰。中央生濕。濕生土。</p>
<p>土生脾。脾惡濕。濕氣之勝。故腹脹而泄注。土性主信。又主味。今土病於味。無信。故食則吐逆。陰陽應象論曰。濕勝則濡瀉。謂濕氣內攻脾胃。則水穀不分。故泄注。</p>
<p>大腸泄者。食已窘迫。大便色白。腸鳴切痛。</p>
<p>楊曰。窘迫、急也。食訖即欲利。迫急不可止也。白者、從肺色焉。腸鳴切痛者、冷也。切者、言痛如刀切。其腸之狀也。虞曰。大腸氣虛。所以食畢而急思廁。虛則邪傳於內。真邪相擊。故切痛也。</p>
<p>小腸泄者。溲而便膿血。少腹痛。</p>
<p>楊曰。小腸屬心。心主血脈。故便膿血。小腸處在少腹。故小腹痛也。</p>
<p>大瘕泄者。裡急後重。數至圊而不能便。莖中痛。此五泄之法也。</p>
<p>楊曰。瘕、結也。少腹有結而又下利者是也。一名後重。言大便處疼重也。數欲利。至所即不利。又痛引陰莖中。</p>
<p>此是腎泄也。按諸方家。利有二十余種。而此惟見五種者。蓋舉其宗維耳。虞曰。腎開竅於二陰。氣虛故數思圊。後重而不能便。莖中痛。腎氣不足傷於衝脈。故裡急也。靈樞病總曰。凡五泄者。春傷於風。寒邪留連。乃為洞泄。（按此文見素問生氣通天論。無凡五泄者句。靈樞無病總篇。惟論疾診尺篇云。春傷於風。夏生飧泄腸　。亦與此文小異。然則今之靈樞。非虞氏所見之舊矣。）此之謂也。丁曰。裡急者。腸中痛。後重者。腰以下沉重也。余皆舊經有注。</p>
<p>五十八難曰。傷寒有幾。其脈有變不。然。傷寒有五。有中風。有傷寒。有濕溫。有熱病。有溫病。其所苦各不同。</p>
<p>中風之脈。陽浮而滑。陰濡而弱。</p>
<p>丁曰。肌肉之上。陽脈所行。輕手按之。狀若太過。謂之滑。肌肉之下。陰脈所行。重手按之。不足。謂之弱。此者是按之不足。舉之有餘。故知中風也。楊曰。自霜降至春分。傷於風冷即病者。謂之傷寒。其冬時受得寒氣。至春又中春風而病者。謂之溫病。其至夏發者。多熱病。病而多汗者。謂之濕溫。其傷於八節之虛邪者。謂之中風。據此經言。</p>
<p>溫病則是疫癘之病。非為春病也。疫癘者。謂一年之中、或一州一縣、若大若小俱病者是也。按之乃覺往來如有。舉之如無者。謂之弱也。關以前浮滑、尺中濡弱者也。</p>
<p>濕溫之脈。陽濡而弱。陰小而急。</p>
<p>丁曰。陽濡而弱者。肌肉之上。陽脈所行。濡弱者。是濕氣所勝火也。肌肉之下。陰脈所行。小急者。是土濕之不勝木。故見小急。所以言陽濡而弱。陰小而急也。楊曰。小、細也。急、疾也。虞曰。濕溫之病。謂病患頭多汗出。何以言之。寸口謂陽脈見濡弱。此水之乘火也。本經曰。腎主液入心成汗。此之謂也。</p>
<p>傷寒之脈。陰陽俱盛而緊澀。</p>
<p>丁曰。陰陽俱盛者、極也。謂寸尺脈俱盛極而緊澀。此者中霧露之寒也。水得風寒而凝結。故知腎得寒而有此脈見也。虞曰。如切繩狀曰緊。如刀剖竹曰澀。</p>
<p>熱病之脈。陰陽俱浮。浮之而滑。沉之散澀。</p>
<p>丁曰。陰陽俱浮者、謂尺寸俱浮也。浮之而滑者、輕手按之而滑。是心傷熱脈也。（按心熱二字當互易。）沉之而散澀者、沉、手按之而散澀。是津液虛少也。楊曰。輕手按者名浮。重手按者名沉也。</p>
<p>溫病之脈。行在諸經。不知何經之動也。各隨其經所在而取之。</p>
<p>丁曰。肺者金。主氣。散行諸經。不知何經虛而傳受此邪。故隨其所在取其病邪也。楊曰。兼鬼癘之氣。散行諸經。</p>
<p>故不可預知。臨病患而診之。知其何經之動。即為治也。</p>
<p>傷寒有汗出而愈。下之而死者。有汗出而死、下之而愈者。何也。然。陽虛陰盛。汗出而愈。下之即死。陽盛陰虛。</p>
<p>汗出而死。下之而愈。</p>
<p>丁曰。其陰陽盛虛者、謂非言脈之浮沉也。謂寒暑病異。燥濕不同。人之五臟六腑。有十二經。皆受於病。其手太陽少陰屬火。主暄。手陽明太陰屬金。主燥。手少陽厥陰屬相火。主暑。此是燥暑暄六經。以通天氣。病即不體重惡風而有躁。素問曰諸浮躁者。病在手是也。若以承氣下之即愈。服桂枝取汗。汗出即死。其足太陽少陰屬水。主寒。足陽明太陰屬土。主濕。足厥陰少陽屬木。主風。此是風寒濕六經。以通地氣。病即體重惡寒。故素問曰諸浮不躁者。病在足是也。若以桂枝取汗。汗出即愈。服承氣下之即死。此是五臟六腑配合陰陽大法也。所以經云。陽虛陰盛。汗出而愈。</p>
<p>下之而死。其陽盛陰虛。汗出而死。下之而愈。此義非反顛倒也。楊曰。此說反倒於義不通。不可依用也。若反此行之。</p>
<p>乃為順爾。虞曰。諸經義皆不錯。此經例義。必應傳寫誤也。凡傷寒之病。脈浮大而數。可汗之則愈。病在表也。脈沉細而數。可下之則愈。病在裡也。推此行之。萬無一失。</p>
<p>寒熱之病。候之如何也。然。皮寒熱者。皮不可近席。毛髮焦。鼻　。不得汗。</p>
<p>丁曰。肺候身之皮毛。大腸為表裡。臟病即寒。腑病即熱。故言皮寒熱也。皮不可近席者。謂手三陰三陽法天天動。</p>
<p>故病即不欲臥近席也。毛髮焦。鼻　不得汗者。謂下有心火燥熱之為病。不得汗之。汗之即死。下之即愈。謂肺主燥故也。</p>
<p>肌寒熱者。皮膚痛。唇舌　。無汗。</p>
<p>丁曰。脾候身之肌肉。胃為表裡。臟病即體寒。腑病即體熱。故言肌寒熱也。皮膚痛。唇舌　。脾者應土。土主濕。</p>
<p>故皮膚津液出。體重。其津液外泄。即唇舌　。病名濕燥。無以汗之。汗之即腸胃瀉不通。下之即泄注。此者是濕氣之為病。當溫中調氣也。</p>
<p>骨寒熱者。病無所安。汗注不休。齒本　痛。</p>
<p>丁曰。腎主骨。與膀胱為表裡。病在陽。即身熱、體重、惡寒。在陰即寒。病無所安。腎主水。汗注不休。齒本痛。汗即愈。下即死。陰盛陽虛故死。楊曰。五臟六腑。皆有寒熱。此經惟出三狀。余皆闕也。</p>
<p>五十九難曰。狂癲之病。何以別之。然。狂之始發。少臥而不飢。自高賢也。自辨智也。自貴倨也。妄笑好歌樂。</p>
<p>妄行不休是也。</p>
<p>丁曰。狂病者、病在手三陽。而反汗。故陽盛即發狂也。病在足三陰。而反下。故陰盛即發癲也。楊曰。狂病之候。</p>
<p>觀其人初發之時。不欲眠臥。又不肯飲食。自言賢智尊貴。歌笑行走不休。皆陽氣盛所為。故經言重陽者狂。此之謂也。</p>
<p>今人以為癲疾。謬矣。</p>
<p>癲疾始發。意不樂。直視僵仆。其脈三部陰陽俱盛是也。</p>
<p>丁曰。經言重陽者狂。重陰者癲。今三部陰陽俱盛者。寸為陽。尺為陰。寸尺俱盛極而沉也。楊曰。癲、顛也。發則僵仆焉。故有顛蹶之言也。陰氣太盛。故不得行立而側仆也。今人以為癇病。誤矣。</p>
<p>六十難曰。頭心之病。有厥痛。有真痛。何謂也。然。手三陽之脈。受風寒。伏留而不去者。則名厥頭痛。入連在腦者。名真頭痛。</p>
<p>丁曰。手三陽者。陽中之陽。今受風寒。伏留不去。即是三陽逆於上。故名曰厥頭病。入連在腦者。名曰真頭痛。</p>
<p>腦者。髓海。風寒入即死矣。楊曰。去者、行也。厥者、逆也。言手三陽之脈。伏留而不行。則壅逆而沖於頭。故名厥頭痛也。足三陽留壅。亦作頭痛。今經不言之。從省久故也。（按久字疑當作文。）虞曰。風冷之氣。入於三陽之經。故頭厥痛也。其痛立已。真頭痛者。謂風冷之氣。入於泥丸宮。則為髓海。邪入則曰真頭痛也。頭腦中痛甚。而手足冷至肘膝者。名真頭痛。其寒氣入深故也。風寒之氣。循風府入於腦。故云入連腦也。</p>
<p>其五臟氣相干。名厥心痛。</p>
<p>楊曰。諸經絡皆屬於心。若一經有病。其脈逆行。逆則乘心。乘心則心痛。故曰厥心痛。是五臟氣衝逆致痛。非心家自痛也。</p>
<p>其痛甚。但在心。手足青者。即名真心痛。其真心痛者。旦發夕死。夕發旦死。</p>
<p>丁曰。真心不病。外經受五邪相干。名曰厥心痛。其痛甚則手足青而冷。神門穴絕者死。病名真心痛也。楊曰。心者、五臟六腑之主。法不受病。病即神去氣竭。故手足為之青冷也。心痛手足冷者。為真心痛。手足溫者。為厥心痛也。</p>
<p>頭痛亦然。從今日平旦至明日平旦為一日。今云旦發夕死。夕發旦死。是正得半日而死也。</p>
<h3>神聖工巧第十一（凡一首）</h3>
<p>六十一難曰。經言望而知之謂之神。聞而知之謂之聖。問而知之謂之工。切脈而知之謂之巧。何謂也。然。望而知之者望見其五色以知其病。</p>
<p>楊曰。望色者、假令肝部見青色者。肝自病。見赤色者。心乘肝。肝亦病。故見五色知五病也。</p>
<p>聞而知之者。聞其五音以別其病。</p>
<p>楊曰。五音者、謂宮、商、角、徵、羽也。以配五臟。假令病患好哭者。肺病也。好歌者。脾病也。故云聞其音知其病也。</p>
<p>問而知之者。問其所欲五味。以知其病所起所在也。</p>
<p>楊曰。問病患云好辛味者。則知肺病也。好食冷者。則知內熱。故云知所起所在。</p>
<p>切脈而知之者。診其寸口。視其虛實。以知其病。病在何臟腑也。</p>
<p>丁曰。視當作持字。為以手循持其寸口也。楊曰。切、按也。謂按寸口之脈。若弦多者。肝病也。洪多者。心病也。</p>
<p>浮數則病在腑。沉細則病在臟。故云在何臟也。（按臟下似脫腑字。）</p>
<p>經言以外知之曰聖。以內知之曰神。此之謂也。</p>
<p>丁曰。夫脈合五色。色合五味。味合五音。故有此望聞問切之法。經內前篇具說。習之者能知此。乃是神聖工巧之良醫也。楊曰。視色聽聲、切脈。皆在外而知內之病也。</p>
<h3>臟腑井俞第十二（凡七首）</h3>
<p>六十二難曰。臟井滎有五。腑獨有六者。何謂也。然。腑者陽也。三焦行於諸陽。故置一俞名曰原。腑有六者。亦與三焦共一氣也。</p>
<p>丁曰。三焦者、臣使之官。位應相火。宣行君火命令。使行於諸陽經中。見置一俞名曰原。所以腑有六。亦是三焦之一氣。故三焦共一氣也。楊曰。五臟之脈。皆以所出為井。所流為滎。所注為俞。所行為經。所入為合。是謂五俞。</p>
<p>以應金木水火土也。六腑亦並以所出為井。所流為滎。所注為俞。所過為原。所行為經。所入為合。其俞亦應五行。惟原獨不應五行。原者、元也。元氣者、三焦之氣也。其氣尊大。故不應五行。所以六腑有六俞。亦以應六合於干道也。</p>
<p>然五臟亦有原。則以第三穴為原。所以不別立穴者。五臟法地。地卑。故三焦之氣經過而已。所以無別穴。六腑既是陽。</p>
<p>三焦亦是陽。故云共一氣也。虞曰。天以六氣司下。地以五行奉上。六氣者、風寒暑燥濕火也。五行者、金木水火土也。</p>
<p>十一之氣相因而成。人應之。乃六腑法六氣。五臟法五行。亦十一之氣相因而成也。天得六。謂天屬陽。以陰數配之。</p>
<p>地得五。謂地屬陰。以陽數配之。而成陰陽也。人腑臟亦然。六腑配六氣者。謂膽木配風。膀胱水配寒。小腸火配暑。</p>
<p>大腸金配燥。胃土配濕。三焦少陽配火。三焦為原氣。在六腑陽脈中。自立一為原也。五臟配五行者。肝木。心火。脾土。肺金。腎水。五臟法陰無原。一穴者。謂五行陰脈穴中原氣暗主之。故原並俞同一穴也。（按五臟以俞為原。此井字疑衍。）故曰。三焦共一氣。其理明矣。詳此經義前後問答。文理有闕。</p>
<p>六十三難曰。十變言五臟六腑滎合。皆以井為始者。何也。然。井者、東方春也。</p>
<p>虞曰。經言井者、東方春也。春者、施化育無求其報。春者、仁也。在五常。仁乃法水。水之有仁者。井水也。井水濟人亦無求報。故經云。井者、東方春也。易曰。井養而不窮。可象春仁也。</p>
<p>萬物之始生。</p>
<p>虞曰。萬物始生。由春氣之化育也。</p>
<p>諸　行喘息。　飛蠕動。當生之物。莫不以春而生。</p>
<p>虞曰。井有仁焉。故聖人涉春育物以象於井也。夫葭灰方飛。蟄蟲始振。所以　蟲行。喘蟲息。　蟲飛。蠕蟲動。</p>
<p>皆因春氣而生故也。　乃井中蟲。</p>
<p>故歲數始於春。</p>
<p>虞曰。春木也。下文甲亦木。井有仁。仁亦木也。今以井為始者。謂仁道至大。在歲春為首。在日甲為首。在經脈井為首故也。</p>
<p>日數始於甲。故以井為始也。</p>
<p>楊曰。凡臟腑皆以井為始。井者、謂穀井爾。非謂掘作之井。山谷之中。泉水初出之處。名之曰井。井者、主出之義也。泉水既生。留停於近。縈迂未成大流。故名之曰滎。滎者、小水之狀也。留停既深。便有注射輸文之處。故名之曰俞。俞者、委積逐流行。經歷而成渠徑。經者、徑也。亦經營之義也。經行既達。合會於海。故名之曰合。合者、會也。此是水行流轉之義。人之經脈。亦法於此。故取名焉。所以井為始春者。以其所生之義也。歲數始於春者、正月為歲首故也。日數始於甲者、謂東方甲乙也。正月與甲乙。皆屬於春也。</p>
<p>丁曰。十二經氣穴三百六十五穴。皆以井為始。各有其終矣。</p>
<h2>卷之五</h2>
<p>六十四難曰。十變又言陰井木。陽井金。陰滎火。陽滎水。陰俞土。陽俞木。陰經金。陽經火。陰合水。陽合土。</p>
<p>陰陽皆不同。其意何也。然。是剛柔之事也。陰井乙木。陽井庚金。陽井庚。庚者乙之剛也。陰井乙。乙者、庾之柔也。</p>
<p>乙為木。故言陰井木也。庚為金。故言陽井金也。余皆仿此。</p>
<p>丁曰。經言剛柔者。謂陰井木。陽井金。庚金為剛。乙木為柔。陰滎火。陽滎水。壬水為剛。丁火為柔。陰俞土。</p>
<p>陽俞木。甲木為剛。己土為柔。陰經金。陽經火。丙火為剛。辛金為柔。陰合水。陽合土。戊土為剛。癸水為柔。</p>
<p>楊曰。五臟皆為陰。陰井為木。滎為火。俞為土。經為金。合為水。六腑為陽。陽井為金。滎為水。俞為木。經為火。合為土。以陰井木配陽井金。是陰陽夫婦之義。故云乙為庚之柔。庚為乙之剛。余並如此也。虞曰。所克者為妻。</p>
<p>謂孤陽不生。孤陰不長。故井滎亦名。夫婦剛柔相因而成也。</p>
<p>六十五難曰。經言所出為井。所入為合。其法奈何。</p>
<p>楊曰。奈何猶如何也。</p>
<p>然。所出為井。井者東方春也。萬物之始生。故言所出為井也。所入為合。合者、北方冬也。陽氣入臟。故言所入為合也。</p>
<p>丁曰。人之陽氣。隨四時而出入。故春氣在井。夏在滎。秋在經。冬在合。其所取氣穴。皆隨四時而刺之也。</p>
<p>楊曰。春夏主生養。故陽氣在外。秋冬主收藏。故陽氣在內。人亦法之。</p>
<p>六十六難曰。經言肺之原。出於太淵。</p>
<p>丁曰。在右手掌後。魚際下。是脈之大會。故云肺之原。出於太淵。楊曰。穴在掌後是也。虞曰。針經言。五臟有俞無原。原與俞共一穴所出。難經又言。五臟有原所出。乃亦針經中俞穴也。兩義皆通也。</p>
<p>心之原。出於大陵。</p>
<p>丁曰。在掌後兩筋間陷中。此是心包絡之原也。虞曰。在掌後兩骨間。</p>
<p>肝之原。出於太衝。</p>
<p>虞曰。在足大指本節後二寸是。又曰。足大指本節後二寸或一寸半是也。</p>
<p>脾之原出於太白。</p>
<p>丁曰。在足內側核骨下。</p>
<p>腎之原。出於太谿。</p>
<p>丁曰。在足內踝後跟骨間是也。</p>
<p>少陰之原。出於兌骨。</p>
<p>丁曰。神門穴是也。此是真心之脈也。楊曰。此皆五臟俞也。所以五臟皆以俞為原。少陰真心脈也。亦有原在掌後兌骨端陷者中。一名神門。一名中都。前云心之原出於大陵者。是心胞絡脈也。凡云心病者。皆在心包絡脈矣。真心不病。故無俞。今有原者。外經之病。不治五內也。</p>
<p>膽之原出於丘墟。</p>
<p>丁曰。在足外踝下微前是也。楊曰。足內踝後微前也。</p>
<p>胃之原。出於衝陽。</p>
<p>丁曰。在足跗上五寸骨間動脈是也。</p>
<p>三焦之原。出於陽池。</p>
<p>丁曰。在手小指次指本節後陷中是也。楊曰。手表腕上也。</p>
<p>膀胱之原。出於京骨。</p>
<p>丁楊曰。在足外側大骨下赤白肉際。</p>
<p>大腸之原出於合谷。</p>
<p>丁曰。在大指次指間虎口內。楊曰。手大指岐骨間。</p>
<p>小腸之原出於腕骨。</p>
<p>丁曰。在小指腕骨內。楊曰。在手腕陷中。指腕者。誤也。虞曰。以上十二經。皆配之五行。其五行行勝之年。於王前先瀉其原。不足之年。先補其原。即此原也。</p>
<p>十二經皆以俞為原者。何也。然。五臟俞者。三焦之所行。氣之所留止也。三焦所行之俞為原者。何也。然臍下腎間動氣者。人之生命也。十二經之根本也。故名曰原。三焦者、原氣之別使也。主通行三氣。經歷於五臟六腑。原者、三焦之尊號也。故所止輒為原。五臟六腑之有病者。取其原也。</p>
<p>楊曰。齊下腎間動氣者。丹田也。丹田者、人之根本也。精神之所藏。五氣之根元。太子之腑也。男子以藏精女子主月水。以生養子息。合和陰陽之門戶也。在齊下三寸。方圓四寸。附著脊脈兩腎之根。其中央黃。左青。右白。上赤。</p>
<p>下黑。三寸法三才。四寸法四時。五色法五行。兩腎之間。名曰大海。一名溺水。中有神龜。呼吸元氣流行。則為風雨。</p>
<p>通氣四肢。無所不至也。腎者、分為日月之精。虛無之氣。人之根本也。齊者、人之命也。分為一名太中極。一名太　。</p>
<p>一名昆侖。一名持樞。一名五城。五城有真人。即五帝也。五城之外有八使者。即八卦神也。八使者。並太一為九卿。</p>
<p>八卦之外有十二樓。樓有十二子也。並三焦神為二十七大夫。又並四肢神為八十一元士。齊中央名太一君之侯王。王天大將軍。特進侯。主人身中萬二千神也。郊在頭上腦戶中。廟在項後頂上。社在脾左端。稷在大腸窮。風伯在八門。八門在齊旁。雨師在小腸窮。四瀆云氣在昆侖。弱水在胞中。所以備言此者。欲明腎為人生之本焉。故知丹田者。性命之本也。道士思神。比邱坐禪。皆行心氣於臍下者。良為此也。故云原者。三焦之尊號也。三焦合氣於腎故也。虞曰。在天則三元五運相因而成。在人則三焦五臟相因而成也。素問曰。其氣三。其生五。此之謂也。啟玄子曰。人之所存。秉五行之運用。征其本始。從三氣以生成。此則天地之原氣也。故五臟六腑有病皆取其原也。丁曰。三焦者、是十二經根本。是生氣之原也。為臣使之官。宣行榮衛。所以在陽經輒有其原也。</p>
<h3>井滎俞經合圖</h3>
<p>（此圖明其經絡始終五臟六腑之原。）</p>
<p>手厥陰心包絡之經。起於中衝穴。在手中指之端。去爪甲角如韭葉是也。終於天池穴。在腋下乳後一寸。著脅肋間是也。</p>
<p><a href="_files/pt40a17.bmp">圖</a></p>
<p>手太陰肺之經。起於少商穴。在手大指內側。去爪甲角如韭葉是也。終於中府穴。在云門下一寸乳上三肋間是也。</p>
<p><a href="_files/pt40a18.bmp">圖</a></p>
<p>手陽明大腸之經起於商陽穴。在手大指次指之側。去爪甲角如韭葉是也。終於迎香穴。在鼻孔旁禾　上是也。</p>
<p><a href="_files/pt40a19.bmp">圖</a></p>
<p>手太陽小腸之經。起於少澤穴。在手小指之端。去爪甲下一分是也。終於聽宮穴。在耳內珠子上是也。</p>
<p><a href="_files/pt40a20.bmp">圖</a></p>
<p>手少陽三焦之經。起於關衝穴。在手小指次指之側。去爪甲角如韭葉是也。終於耳門穴。在耳前起肉缺者是也。</p>
<p><a href="_files/pt40a21.bmp">圖</a></p>
<p>手少陰真心之經。起於少衝穴。在手小指內側。去爪甲角如韭葉是也。終於極泉穴。在腋下筋間動脈是也。</p>
<p><a href="_files/pt40a22.bmp">圖</a></p>
<p>靈樞經曰。少陰獨無俞者不病乎。言外經病而臟不病也。是治外不治內也。故少陰真心應君火之位。故不治內而治外也。</p>
<p>足厥陰肝之經。起於大敦穴。在足大指之端。去爪甲角如韭葉是也。終於期門穴。在不容旁一寸五分二肋端是也。</p>
<p><a href="_files/pt40a23.bmp">圖</a></p>
<p>足陽明胃之經。起於厲兌穴。在足大指次指之端。去爪甲角如韭葉是也。終於頭維穴。在面五行額角發際本神旁一寸五分是也。</p>
<p><a href="_files/pt40a24.bmp">圖</a></p>
<p>足太陽膀胱之經。起於睛明穴。在目內　淚孔邊是也。終於至陰穴。在足小指外側去爪甲角如韭葉是也。</p>
<p><a href="_files/pt40a25.bmp">圖</a></p>
<p>足少陰腎之經。起於涌泉穴。在足心陷中。屈足卷指宛宛中是也。終於俞府穴。在璇璣旁二寸巨骨下是也。</p>
<p><a href="_files/pt40a26.bmp">圖</a></p>
<p>足少陽膽之經。起於竅陰穴。在足小指次指之端。去爪甲角如韭葉是也。終於瞳子　穴。在目外　五分是也。</p>
<p><a href="_files/pt40a27.bmp">圖</a></p>
<p>足太陰脾之經。起於隱白穴。在足大指內側之間。去爪甲角如韭葉是也。終於大包穴。在淵腋下三寸九肋間是也。</p>
<p><a href="_files/pt40a28.bmp">圖</a></p>
<p>六十七難曰。五臟募皆在陰。而俞在陽者。何謂也。然。陰病行陽。陽病行陰。放令募在陰。俞在陽。</p>
<p>丁曰。人背為陽。腹為陰。是言五臟俞皆在陽者。背俞也。故肺俞二穴。在第三椎下兩旁。相去同身寸之一寸五分是也。心俞二穴。在第五椎下兩旁、相去同身寸之一寸五分是也。肝俞二穴。在第九椎下兩旁。相去同身寸之一寸五分是也。脾俞二穴。在第十一椎下兩旁。相去同身寸之一寸五分是也。腎俞二穴。在第十四椎下兩旁。相去同身寸之一寸五分是也。肺之募。中府二穴。在云門下一寸乳上三肋間是也。心之募。巨闕一穴。在鳩尾下一寸是也。脾之募。章門二穴。在季脅下直齊是也。肝之募。期門二穴。在不容兩旁一寸五分是也。腎之募。京門二穴。在腰中季脅本是也。楊曰。腹為陰。五臟之募皆在腹。故云募皆在陰。背為陽。五臟之俞皆在背。故云俞皆在陽。五內有病。則出行於陽。陽俞在背也。外體有病。則入行於陰。陰募在腹也。故針法云。從陽引陰。從陰引陽。此之謂也。</p>
<p>六十八難曰。五臟六腑。各有井滎俞經合。皆何所主。然。經言所出為井。所流為滎。所注為俞。所行為經。所應為合。井主心下滿。</p>
<p>呂曰。井者木。木者肝。肝主滿也。虞曰。井法木以應肝脾。位在心下。今邪在肝。肝乘脾。故心下滿。今治之於井。不令木乘土也。</p>
<p>滎主身熱。</p>
<p>呂曰。滎者火。火者心。心主身熱也。虞曰。滎為火以法心。肺屬金。外主皮毛。今心火灼於肺金。故身熱。謂邪在心也。故治之於滎。不令火乘金。則身熱必愈也。</p>
<p>俞主體重節痛。</p>
<p>呂曰。俞者土。土者脾。脾主體重也。虞曰。俞者。法土應脾。今邪在土。土必刑水。水者腎。腎主骨。故病則節痛。邪在土。土自病則體重。宜治於俞穴。</p>
<p>經主喘咳寒熱。</p>
<p>呂曰。經者金。金主肺。肺主寒熱也。虞曰。經法金應肺。今邪在經。則肺為病。得寒則咳。得熱則喘。今邪在金。</p>
<p>金必刑木。木者肝。肝在志為怒。怒則氣逆乘肺。故喘。何以然。謂肝之支別。從肝別貫膈上注肺。脈要精微論曰。血在脅下。令人喘逆。此之謂也。治之於經。則金不刑於木矣。</p>
<p>合主逆氣而泄。</p>
<p>呂曰。合者水。水主腎。腎主泄也。虞曰。合法水應腎。腎氣不足。傷於衝脈。則氣逆而裡急。腎主開竅於二陰。</p>
<p>腎氣不禁。故泄注。邪在水。水必乘火。火者心。法不受病。肝木為心火之母。為腎水之子，一憂母受邪。二憂子被刑。</p>
<p>肝在志為怒。憂則怒。怒則氣逆。故也。此五行更相乘克。故病有異同。今治之於合。不令。水乘火。則肝木不憂。故氣逆止。邪不在腎。則無注泄。以上井滎俞經合。法五行應五臟。邪湊其中。故主病如是。善診者審而行之。則知自病。</p>
<p>或相乘虛則補之。實則瀉之。</p>
<p>此五臟六腑。其井滎俞經合所主病也。</p>
<p>丁曰。此是五臟井滎俞經合也。經言井主心下滿者為肝病。即逆滿。當取其諸井以主其心下滿也。滎主身熱者。滎者、火也。故身熱。當取其諸滎以主其熱也。俞主體重節痛。俞者、土也。故令體重節痛。當取其諸俞以主其體重節痛也。經主喘咳寒熱。經者、金也。故喘咳而發寒熱。當取其諸經以主其喘咳寒熱也。合主逆氣而泄。合為水。水主泄。</p>
<p>當取其諸合以主逆氣而泄也。虞曰。以上井滎俞經合之生病。各依其時而調治之。謂四時之邪。各湊滎俞中留止也。</p>
<h3>用針補瀉第十三（凡十三首）</h3>
<p>六十九難曰。經言虛者補之。實者瀉之。不實不虛。以經取之。何謂也。然。虛者補其母。實者瀉其子。當先補之。</p>
<p>然後瀉之。不實不虛。以經取之者。是正經自生病。不中他邪也。當自取其經。故言以經取之。</p>
<p>丁曰。此經先立井滎俞經合配象五行。即以十二經中各有子母。遞相生養。然後言用針補瀉之法也。假令足厥陰肝之絡中虛。即補其足厥陰經合。是母也。實即瀉足厥陰經滎。是子也。如無他邪。即當自取其經。故言以經取之也。楊曰。春得腎脈為虛邪。是腎虛不能傳氣於肝。故補腎。腎有病則傳之於肝。肝為腎子。故曰補其母也。春得心脈為實邪。</p>
<p>是心氣盛實。逆來乘肝。故瀉心。心平則肝氣通。肝為心母。故曰瀉其子也。不實不虛。是諸臟不相乘也。春得弦多及但弦者。皆是肝臟自病也。則自於足厥陰少陽之經而補瀉焉。當經有金木水火土。隨時而取之也。</p>
<p>七十難曰。經言春夏刺淺。秋冬刺深者。何謂也。然。春夏者。陽氣在上。人氣亦在上。故當淺取之。秋冬者。陽氣在下。人氣亦在下。故當深取之。</p>
<p>丁曰。春夏刺淺。秋冬刺深者。經言春夏剌井滎。從肌肉淺薄之處。秋冬刺經合。從肌肉深濃之處。此是因時隨所在刺之也。楊曰。經言春氣在毫毛。夏氣在皮膚。秋氣在分肉。冬氣在筋骨。此四時之氣也。其四時受病。亦各隨正氣之深淺。故用針者治病。各依四時氣之深淺而取之也。</p>
<p>春夏各致一陰。秋冬各致一陽者。何謂也。然。春夏溫必致一陰者。初下針。沉之。至腎肝之部。得氣引持之。陰也。</p>
<p>虞曰。經言春夏養陽。言取一陰之氣以養於陽。慮成孤陽。致者、都也。及也。言到於腎肝。引持一陰之氣。肝腎乃陰也。</p>
<p>秋冬寒必致一陽者。初內針。淺而浮之。至心肺之部。得氣推內之。陽也。</p>
<p>虞曰。經言秋冬養陰。言至陰用事。無陽氣以養其陰。故取一陽之氣以養於陰。免成孤陰也。心肺。乃陽也。故言至心肺之部也。</p>
<p>是謂春夏必致一陰。秋冬必致一陽。</p>
<p>楊曰。入皮三分。心肺之部。陽氣所行也。入皮五分。腎肝之部。陰氣所行也。陽為衛。陰為榮。春夏病行於陽。</p>
<p>故引陰以和陽。秋冬病行於陰。故內陽以和陰也。虞曰。楊氏所注言三分為心肺之部。五分為肝腎之部。此乃玄珠密語。</p>
<p>分天地氣而言之。故有三分五分之說也。丁曰。人之肌膚。皆有濃薄之處。但皮膚之上。為心肺之部。陽氣所行。肌肉之下。為腎肝之部。陰氣所行。其春夏陽氣上勝。所用針沉。手內針至腎肝之部。得氣引持陰氣。以和其陽氣。故春夏必致一陰也。秋冬陰氣下降。所用針浮。手至心肺之部。得氣推內針入。引持陽氣。以和其陰氣也。故秋冬必致一陽也。</p>
<p>所以經云。春夏必致一陰。秋冬必致一陽也。</p>
<p>七十一難曰。經言刺榮無傷衛。刺衛無傷榮。何謂也。然。針陽者。臥針而刺之。刺陰者。先以左手攝按所針滎俞之處。氣散乃內針。是謂刺榮無傷衛。刺衛無傷榮也。</p>
<p>丁曰。人之榮為陰。衛為陽。二者為之表裡。其臥針取之。恐傷於榮也。針榮先以左手攝按所刺之穴。令陽散而內針者。蓋恐傷於衛也。楊曰。入皮三分為衛氣。病在衛。用針則淺。故臥針而刺之。恐其深傷榮氣故也。入皮五分為榮氣。故先按所針之穴。待氣散乃內針。恐傷衛氣故也。虞曰。三陰三陽。各主氣血。至有多少不同。故聖人說行針之道。</p>
<p>無令至有傷於榮衛也。血氣形志篇曰。太陽多血少氣。少陽少血多氣。陽明多氣多血。厥陰多血少氣。少陰多氣少血。</p>
<p>太陰多氣少血。啟玄子注曰。血氣多少。天之常數。故用針之道。常瀉其多也。</p>
<p>七十二難曰。經言能知迎隨之氣。可令調之。調氣之方。必在陰陽。何謂也。然。所謂迎隨者。知榮衛之流行。經脈之往來也。隨其逆順而取之。故曰迎隨。調氣之方。必在陰陽者。知其內外表裡。隨其陰陽而調之。故曰調氣之方。</p>
<p>必在陰陽。</p>
<p>丁曰。夫榮衛通流。散行十二經之內。即有始有終。其始自中焦注手太陰一經一絡。然後手陽明注一經一絡。其經絡有二十四。日有二十四時。皆相合。此凡氣始至而用針取之。名曰迎而奪之。其氣流注終而內針。出而捫其穴。名曰隨而濟之。又補其母亦名曰隨而補之。瀉其子亦名曰迎而奪之。又隨呼吸出內其針。亦曰迎隨也。此者是調陰陽之法。</p>
<p>故曰必在陰陽也。楊曰。榮氣者。常行不已。衛氣者。晝行於身體。夜行於臟腑。迎者、逆也。隨者、順也。謂衛氣逆行。榮氣順行。病在陽。必候榮衛。行至於陽分而刺之。病在陰。必候榮衛行至於陰分而刺之。是迎隨之意也。又迎者、瀉也。隨者、補也。故經曰迎而奪之。安得無虛。言瀉之則虛也。隨而濟之。安得無實。言補之則實也。調氣之方。必在陰陽者。陰虛陽實。則補陰瀉陽。陽虛陰實。則補陽瀉陰。或陽並於陰。陰並於陽。或陰陽俱虛。或陰陽俱實。皆隨病所往。而調其陰陽。則病無不已。虞曰。迎、取也。乃五行六氣。各有勝復。假令木氣有餘之年。於王前先瀉其化源。</p>
<p>玄珠密語曰。木之行勝也。蒼埃先見於林木。木乃有聲。宮音失調。　蟲不滋。濕雨失合。先於十二月瀉其化源。故曰迎也。不足之年。補於化源。故曰隨也。調氣之方。必在陰陽者。言引外至內。引內至外也。謂月生無瀉。月滿無補。</p>
<p>定人之呼吸。觀日之寒溫。從陽引陰。從陰引陽。春夏致一陰。秋冬致一陽。故曰調氣之方。必在陰陽也。知其內外表裡者。謂察脈之浮沉。識病之虛實。以外知內。視表如裡。故曰。知其內外表裡也。隨其陰陽而調之者。謂各隨病在何陰陽脈中而調治之也。</p>
<p>七十三難曰。諸井者。肌肉淺薄。氣少。不足使也。刺之奈何。然。諸井者、木也。滎者、火也。火者木之子。當刺井者。以滎瀉之。故經言補者不可以為瀉。瀉者不可以為補。此之謂也。</p>
<p>丁曰。諸井在手足指梢。故言肌肉淺薄也。井為木。是火之母。滎為火。是木之子。故肝木實。瀉其滎。肝木氣虛不足。補其合。瀉之復不能補。故言不可以為補也。楊曰。冬刺井。病在臟。取之應井。刺井者。則瀉其滎。以去其病。</p>
<p>故經曰。冬陰氣緊。陽氣伏。故取井以下陰氣。逆取滎以通陽氣也。虞曰。不至而至。故春乃瀉滎也。</p>
<p>七十四難曰。經言春刺井。夏刺滎。季夏刺俞。秋刺經。冬刺合者。何謂也。然。春刺井者邪在肝。夏刺滎者邪在心。季夏刺俞者邪在脾。秋刺經者邪在肺。冬刺合者邪在腎。</p>
<p>丁曰。其言春刺井者。謂邪在肝。無令肝木邪害於脾土。故刺諸井也。夏刺滎者。謂邪在心。無令心火邪害於肺金。</p>
<p>故刺諸滎也。季夏刺俞者。謂邪在脾。無使脾土邪害於腎水。故刺諸俞也。秋刺經者。謂邪在肺。無令肺金邪害於肝木。</p>
<p>故刺諸經也。冬刺合者。謂邪在腎。無令腎水邪害於心火。故刺諸合也。此是斷五邪之原法也。楊曰。用針微妙。法無窮。若不深達變通。難以救疾者矣。至如此說。則是變通之義也。經云。冬刺井。春刺滎。此乃云春刺井。夏刺滎。理極精奇。特宜留思。不可固守以一概之法也。虞曰。春刺井。夏刺滎。季夏刺俞。秋刺經。冬刺合。乃經之大法也。七十三難。以言春刺於滎。此乃休王未畢。火奪木王。法曰實邪。故瀉之於滎。所以經言瀉者不可以為補也。</p>
<p>其肝、心、脾、肺、腎、而系於春夏秋冬者。何也。然。五臟一病輒有五也。假令肝病。色青者。肝也。臊臭者。</p>
<p>肝也。喜酸者。肝也。喜呼者。肝也。喜泣者。肝也。其病眾多。不可盡言也。四時有數而並系於春夏秋冬者也。針之要妙。在於秋毫者也。</p>
<p>丁曰。人之五臟系於四時。五臟一病輒有五者。謂五聲、五色、五味、五液、五香、（按此二字疑衍。）五臭。若持針者。皆能斷其五邪。令中病原。故知針之要妙。在於秋毫。不可不通也。楊曰。五臟六腑病。各有形證。今略舉肝家一臟以為法爾。雖言春刺井。夏刺滎。若一臟有病。脈亦隨之。診而取之。假令肝自病。實則取肝中火瀉之。虛則取肝中木補之。余皆仿此。即秋毫微細之意也。言用針微細若秋毫矣。虞曰。五臟各有聲色臭味液。以為形證。以合四時井滎俞經合。而行補瀉之法也。微妙之理。若秋毫之在目也。</p>
<p>七十五難曰。經言東方實。西方虛。瀉南方。補北方。何謂也。然。金木水火土。當更相平。東方、木也。西方、金也。木欲實。金當平之。火欲實。水當平之。土欲實。木當平之。金欲實。火當平之。水欲實。土當平之。東方肝也。</p>
<p>則知肝實。西方肺也。則知肺虛。瀉南方火。補北方水。南方火。火者、木之子也。北方水。水者、木之母也。水勝火。</p>
<p>子能令母實。母能令子虛。故瀉火補水。欲令金不得平木也。經曰。不能治其虛。何問其余。此之謂也。</p>
<p>丁曰。四方者。五行之正位也。其王應四時。即春應東方木。夏應南方火。秋應西方金。冬應北方水。長夏應中央土。南方火實勝西方金。即北方水來復勝。火水且待爭。反害於肺。今當先瀉南方火。實即還北方水。肺金得平也。平者、調四方虛實之法也。楊曰。五行以勝相加。故木勝土。金勝木。木、肝也。金、肺也。肺氣虛弱。肝氣強實。木反凌金。金家不伏。欲來平木。金木若戰。二臟則傷。故用針者。診知其候。則須瀉心。心氣既通。肝氣則復。又補於腎。</p>
<p>腎家得氣。傳而養肝。肝氣已定。則肺不復來平肝。然後卻補脾氣。脾是肺母。母氣傳子。子便安定。故曰不能治其虛。</p>
<p>何問其余。此之謂也。一本說楊氏曰。金克木。今據肝家一條以例五臟。假令東方木肝實。西方金肺虛。肝木實凌肺金虛。金本克木。木伏金。肝欲制肺。肺乃不伏。二臟爭勝。反害於火。宜瀉其心。心屬火。火者木之子。子氣既通。肝虛則伏。肝氣既復。則肺不復來。然後補其脾。脾是肺母。母氣授子。子氣便實。故言母能令子實。子能令母虛。不能治其虛。何問其余。虞曰。五臟五行。更相平伏。宜憑補瀉以調治之。素問曰。邪氣盛則實。真氣奪則虛。以下凡有虛實。皆準此也。經言木實金虛。瀉火補水也。夫木實者。謂木有餘。則土遙畏之。土畏之。則金無所養而令金虛也。若不瀉火。火必盛而爍金。金乃仇讎於木。金木相勝。而致兩相刑克。故瀉火。火者木之子。子合母氣。木亦不實。火亦不平。金土亦無所畏。乃行氣養於金也。金虛者。乃補水御火。補水養木。御火火不平金。養木木亦安復。故曰子能令母實也。木有餘。則土乃畏木。土不能傳氣與金。金乃虛。故曰母能令子虛也。</p>
<p>七十六難曰。何謂補瀉。當補之時。何所取氣。當瀉之時。何所置氣。然。當補之時。從衛取氣。</p>
<p>虞曰。肺行五氣。溉灌五臟。通注六經。歸於百脈。凡取氣須自衛取氣。得氣乃推內針於所虛之經脈淺深分部之。</p>
<p>所以補之。故曰。當補之時。從衛取氣。此之謂也。</p>
<p>當瀉之時。從榮置氣。</p>
<p>虞曰。邪在榮分。故內針於所實之經。待氣引針而瀉之。故曰。當瀉之時。從榮置氣。置者、取也。迎也。</p>
<p>其陽氣不足。陰氣有餘。當先補其陽。而後瀉其陰。</p>
<p>虞曰。假令膽不足。肝有餘。先補足少陽。而後瀉足厥陰也。</p>
<p>陰氣不足。陽氣有餘。當先補其陰。而後瀉其陽。</p>
<p>虞曰。反於上法。</p>
<p>榮衛通行。此其要也。</p>
<p>楊曰。此是陰陽更虛更實之變。須通榮衛。病則愈也。丁曰。其當補之時。從衛取氣。衛者、陽也。故從衛取氣。</p>
<p>方其補也。當瀉之時。從榮置氣。榮者。陰也。故從榮置氣。置榮而後瀉之。陰陽有餘不足。當先補其不足。然後瀉其有餘。故得榮衛通行。即是持針之要妙。故言其要也。</p>
<p>七十七難曰。經言上工治未病。中工治已病者。何謂也。然。所謂治未病者。見肝之病。則知肝當傳之與脾。故先實其脾氣。無令得受肝之邪。故曰治未病焉。中工治已病者。見肝之病。不曉相傳。但一心治肝。故曰治已病也。</p>
<p>丁曰。素問曰。春勝長夏。長夏勝冬。冬勝夏。夏勝秋。秋勝春。此四時五行相勝之理也。人之五臟有餘者行勝。</p>
<p>不足者受邪。上工先補不足。無令受邪。而後瀉有餘。此是治未病也。中工持針。即便瀉有餘。故言治已病也。楊曰。</p>
<p>五臟得病。皆傳其所勝。肝病傳脾之類是也。若當其王時。則不受傳。即不須行此方也。假令肝病當傳脾。脾以季夏王。</p>
<p>正王則不受邪。故不須實脾氣也。若非季夏。則受肝邪。便當預令實脾氣。勿令得受肝邪也。如此者。謂之上工。工、猶妙也。言妙達病源者也。其中工未能全解。故止守一臟而已。</p>
<p>七十八難曰。針有補瀉。何謂也。然。補瀉之法。非必呼吸出內針也。</p>
<p>楊曰。補者呼則出針。瀉者吸則內針。故曰呼吸出內針也。虞曰。謂用針補瀉之法。呼吸取生成之數為之。</p>
<p>然知為針者信其左。不知為針者信其右。當刺之時。必先以左手厭按所針榮俞之處。彈而努之。爪而下之。其氣之來。如動脈之狀。順針而刺之。得氣因推而內之。是謂補。動而伸之。是謂瀉。不得氣乃與。男外女內。不得氣。是謂十死不治也。</p>
<p>楊曰。凡欲下針之法。先知穴處。便以左手按之。乃以右手彈其所接之處。脈動應在左手之下。仍即以左手指按之。</p>
<p>然後循針而刺之。待氣應於針下。因推入榮中。此是補也。若得氣便搖轉而出之。此是瀉也。若久留針而待氣不至。則於衛中留針。待氣久不得。又內入於榮中。久留待氣。如其三處氣候不應於針者。謂陰陽俱盡。不可復針。如此之候。</p>
<p>十人十死。故云十死不治。衛為陽。陽為外。故云男外。榮為陰。陰為內。故云女內也。虞曰。自衛得氣。推之以所虛之分。開穴出針。曰補也。自衛取氣。引針開穴出針。曰瀉也。候吸內。針呼盡出針。曰先補後瀉。反此行之。則曰先瀉後補也。玄珠密語稱其補瀉法云。按之得氣。內於天部。天部得氣。推之至地部。天地氣相接則出針曰瀉。反此行之曰補。與此義相反。丁曰。知為針者。信其左。謂左手先按所刺之穴。以其氣來。如動脈而應其手。即內其針。亦是迎而奪之。為之瀉氣過而順針而刺之。是為隨而濟之也。其男子陽氣行於外。女人陰氣行於內。男子則輕手按其穴。女子則重手按其穴。過時而氣不至。不應其左手者。皆不可刺之也。刺之則無功。謂氣絕。故十死不治也。何待留針而候氣也。</p>
<p>七十九難曰。經言迎而奪之。安得無虛。隨而濟之。安得無實。虛之與實。若得若失。實之與虛。若有若無。何謂也。然。迎而奪之者、瀉其子也。隨而濟之者、補其母也。假令心病。瀉手心主俞。</p>
<p>虞曰。心病卻瀉手心主俞。心者法不受病。受病者、心包絡也。手心主者、則手厥陰心包絡也。包絡中俞者、土也。</p>
<p>心、火也。土是火子。乃瀉其俞。此乃瀉子也。</p>
<p>是謂迎而奪之者也。</p>
<p>虞曰。迎謂取氣。奪謂瀉氣也。</p>
<p>補手心主井。是謂隨而濟之者也。</p>
<p>虞曰。心火井木。今補心主之井。謂補母也。木者、火之母也。隨謂自衛取氣。濟謂補不足之經。</p>
<p>所謂實之與虛者。牢濡之意也。</p>
<p>虞曰。牢濡。虛實之意也。</p>
<p>氣來牢實者為得。濡虛者為失。故曰若得若失也。</p>
<p>楊曰。此是當臟自病。而行斯法。非五臟相乘也。丁曰。五臟虛即補其母。是謂隨而濟之。實則瀉其子。是謂迎而奪之。況欲行其補瀉。即先候其五臟之脈。及所刺穴中如氣來牢實者。可瀉之。虛濡者。可補之。若持針不能明其牢濡者。故若得若失也。</p>
<p>八十難曰。經言有見如入。有見如出者。何謂也。然。所謂有見如入者。（滑氏本義云。有見如入下。當欠有見如出四字。）謂左手見氣來至。乃內針。針入。見氣盡。乃出針。是謂有見如入。有見如出也。</p>
<p>丁曰。欲刺人脈。先以左手候其穴中之氣。其氣來而內針。候氣盡乃出其針者。非迎隨瀉補之穴也。謂不虛不實。</p>
<p>自取其經。施此法也。楊曰。此還與彈而努之、爪而下之相類也。</p>
<p>八十一難曰。經言無實實虛虛。損不足而益有餘。是寸口脈耶。將病自有虛實耶。其損益奈何。然。是病非謂寸口脈也。謂病自有虛實也。假令肝實而肺虛。肝者、木也。肺者、金也。金木當更相平。當知金平木。假令肺實而肝虛。</p>
<p>微少氣。用針不瀉其肝。而反重實其肺。故曰。實實虛虛。損不足而益有餘。此者中工之所害也。</p>
<p>丁曰。中者、傷也。謂昧學之工。不能明其五臟之剛柔。而針藥誤投。所以反增其害。十人全八。能知二臟也。令肝虛肺實二臟之病。全六反增其害也。楊曰。上工治未病。知其虛實之原。故補瀉而得其宜。中工未審傳病之本。所治反增其害也。</p>
<h2>跋</h2>
<p>難經集注五卷。明王九思等集錄吳呂廣、唐楊玄操、宋丁德用、虞庶、楊康侯注解者。按晁公武郡齋讀書志。載呂楊注一卷。丁注五卷。虞注五卷。陳振孫書錄解題。載丁注二卷。馬端臨經籍考。引晁氏作呂楊注五卷。蓋當時各家別行。至九思等始掇輯以便觀覽耳。葉盛綠竹堂書目。載難經集注一冊。不著撰人名氏。此則書名偶同。非九思所集。按王圻續經籍考。載金紀天錫難經集注五卷。盛之所收恐此耳。盛、正統進士。九思、宏治進士。則其非是編也明矣。其他諸家藏　書目。及乾隆四庫全書總目。並未收入。若殷仲春醫藏目錄。宜裒搜無遺。而亦遺之。蓋似失傳者。然以余不涉醫家。但知據目錄考之耳。因質諸醫官多紀廉夫。廉夫云。近代醫書。絕無援引。久疑散佚。廉夫於醫家。雅稱賅洽。而其言如此。則知其果失傳也。夫方伎一家。固有其人。其存其佚。何干我事。然小道可觀。至理存焉。則竟非可棄也。</p>
<p><u>癸亥花朝天瀑識。</u></p>
