<header><h1>馬王堆簡帛</h1></header>
<dl class="元資料" data-type="book" hidden></dl>
<h2>十問</h2>
<p>黃帝問於天師曰：「萬物何得而行？草木何得而長？日月何得而明？」天師曰：「爾察天地之情，陰陽為正，萬物失之而不繼，得之而贏。食陰擬陽，稽於神明。食陰之道，虛而五藏，廣而三咎，若弗能出朴。食之貴靜而神風，距而兩峙，參築而毋遂，神風乃生，五聲乃對。吸毋過五，致之口，枚之心，四輔所貴，玄尊乃至。飲毋過五，口必甘味，至之五藏，形乃極退。搏而肌膚，及夫發末，毛脈乃遂，陰水乃至，濺彼陽勃，堅蹇不死，飲食賓體，此謂復奇之方，通於神明。」天師之食神氣之道。</p>
<p>黃帝問於大成曰：「民何失而顏色鹿黎，黑而蒼？民何得而腠理靡曼，鮮白有光？」大成答曰：「君欲練色鮮白，則察觀尺蠖。尺蠖之食方，通於陰陽，食蒼則蒼，食黃則黃。唯君所食，以變五色。君必食陰以為常，助以柏實盛良，飲走獸泉英，可以老復壯，曼澤有光。接陰將眾，繼以蜚蟲，春爵雀員子，興彼鳴雄，鳴雄有精，誠能服此，玉策復生。太上藝遇，壅彼玉竇，盛乃從之，員子送之；若不埶遇，置之以。誠能服此，可以起死。」大成之起死食鳥精之道。</p>
<p>黃帝問於曹熬曰：「民何失而死？何得而生？」曹熬答曰：「□□□□□而取其精。待彼合氣，而微動其形。能動其形，以致五聲，乃入其精，虛者可使充盈，壯者可使久榮，老者可使長生。長生之稽，偵用玉閉，玉閉時辟，神明來積。積必見章，玉閉堅精，必使玉泉毋傾，則百疾弗嬰，故能長生。接陰之道，必心塞葆。形氣相葆，故曰：壹至勿瀉，耳目聰明；再至勿瀉，音氣高揚；三至勿瀉，皮革有光；四至勿瀉，脊胠不傷；五至勿瀉，尻髀能壯；六至勿瀉，百脈通行；七至勿瀉，終身失殃；八至勿瀉，可以壽長；九至勿瀉，通於神明。」曹熬之接陰治神氣之道。</p>
<p>黃帝問於容成曰：「民始敷淳溜刑，何得而生？溜刑成體，何失而死？何泄之人也，有惡有好，有夭有壽？欲聞民氣贏屈弛張之故。」容成答曰：「君若欲壽，則順察天地之道。天氣月盡月盈，故能長生。地氣歲有寒暑，險易相取，故地久而不腐。君必察天地之情，而行之以身。有徵可知，間雖聖人，非其所能，唯道者知之。天地之至精，生於無徵，長於無形，成於無體，得者壽長，失者夭死。故善治氣摶精者，以無徵為積，精神泉溢，吸甘露以為積，飲瑤泉靈尊以為經，去惡好俗，神乃溜刑。吸氣之道，必致之末，精生而不厥。上下皆精，寒溫安生？息必深而久，新氣易守。宿氣為老，新氣為壽。善治氣者，使宿氣夜散，新氣朝最，以徹九竅，而實六府。食氣有禁，春避濁陽，夏避湯風，秋避霜霧，冬避淩陰，必去四咎，乃深息以為壽。朝息之志，其出也務合於天，其入也揆彼閨滿，如藏於淵，則陳氣日盡，而新氣日盈，則形有云光。以精為充，故能久長。晝息之志，呼吸必微，耳目聰明，陰陰喜氣，中不潰腐，故身無苛殃。暮息之志，深息長除，使耳勿聞，且以安寢。魂魄安形，故能長生。夜半之息也，覺寤毋變寢形，深徐去勢，六府皆發，以長為極。將欲壽神，必以腠理息。治氣之精，出死入生，驩欣美穀，以此充形，此謂摶精。治氣有經，務在積精，精盈必瀉，精出必補。補瀉之時，於為之。出入，以修美浬，白內成，何病之有？彼生有殃，必其陰精漏泄，百脈菀廢，喜怒不時，不明大道，生氣去之。俗人芒生，乃恃巫醫，行年桼十，形必夭埋，頌事自殺，亦傷悲哉。死生安在，徹士制之，實下閉精，氣不漏泄。心制死生，孰為之敗？慎守勿失，長生累世。累世安樂長壽，長壽生於蓄積。彼生之多，上察於天，下播於地，能者必神，故能形解。明大道者，其行陵云，上自榣，水流能遠，龍登能高，疾不力倦，□□□□□□□巫成□□不死。巫成以四時為輔，天地為經，巫成與陰陽皆生。陰陽不死，巫成與相視，有道之士亦如此。」酒食五味，以志治氣。目明耳聰，皮革有光，百脈充盈，陰乃盈生，繇使則可以久交，可以遠行，故能壽長。</p>
<p>堯問於舜曰：「天下孰最貴？」舜曰：「生最貴。」堯曰：「治生奈何？」舜曰：「審夫陰陽。」堯曰：「人有九竅十二節，皆設而居，何故而陰與人俱生而先身去？」舜曰：「飲食弗以，謀慮弗使，諱其名而匿其體，其使甚多而無寬禮，故與身俱生而先身死。」堯曰：「治之奈何？」舜曰：「必愛而喜之，教而謀之，飲而食之，使其題堅強而緩事之，必盬之而勿予，必樂矣而勿瀉，材將積，氣將畜，行年百歲，賢於往者。」舜之接陰治氣之道。</p>
<p>王子喬父問彭祖曰：「人氣何是為精乎？」彭祖答曰：「人氣莫如朘精。朘氣菀閉，百脈生疾；朘氣不成，不能繁生，故壽盡在朘。朘之葆愛，兼予成佐，是故道者發明唾手循臂，摩腹從陰從陽。必先吐陳，乃吸朘氣，與朘通息，與朘飲食，飲食完朘，如養赤子。赤子驕悍數起，慎勿。繇使則可以久交，可以遠行，故能壽長。出入，以修美理，固薄內成，何病之有？彼生有殃，必其陰精漏泄，百脈菀廢，喜怒不時，不明大道，生氣去之。俗人芒性，乃恃巫醫，行年七十，形必夭埋，容事自殺，亦傷悲哉。死生安在，徹士制之，實下閉精，氣不漏泄。心制死生，孰為之敗？慎守勿失，長生累世。累世安樂長壽，長壽生於蓄積。彼生之多，上察於天，下播於地，能者必神，故能形解。明大道者，其行陵云，上自群瑤，水流能遠，龍登能高，疾不力倦，□□□□□□□務成昭□□不死。務成昭以四時為輔，天地為經，務成昭與陰陽皆生。陰陽不死，務成昭與相視，有道之士亦如此。」</p>
<p>帝盤庚問於耇老曰：「聞子接陰以為強，吸天之精，以為壽長，吾將何處而道可行？」耇老答曰：「君必貴夫與身俱生而先身老者，弱者使之強，短者使長，貧者使多糧。其事壹虛壹實，治之有節：一曰垂肢，直脊，撓尻；二曰疏股，動陰，縮州，三曰合睫毋聽，吸氣以充；四曰含其五味，飲夫泉英；五曰精皆上，吸其大明。至五而止，精神日怡。」耇老接陰食神氣之道。</p>
<p>禹問於師癸曰：「明耳目之智，以治天下，上均沉地，下因江水，至會稽之山，處水十年矣。今四肢不用，家大亂，治之奈何？」師癸答曰：「凡治政之紀，必自身始。血氣宜行而不行，此謂殃，六極之宗也。此氣血之續也，筋脈之族也，不可廢忘也。於也施，於味也移，導之以志，動之以事。非味也，無以充其中而長其節；非志也，無以知其中虛與實；非事也，無以動其四肢而移去其疾。故覺寢而引陰，此謂練筋；既伸又屈，此謂練骨。動用必當，精故泉出。行此道也，何世不物忽？」禹於是飲湩，酒食五味，以志治氣。目明耳聰，皮革有光，百脈充盈，陰乃盈生。以安後姚，家乃復寧。師癸治神氣之道。</p>
<p>文摯見齊威王，威王問道焉，曰：「寡人聞子大夫之博於道也，寡人已宗廟之祠，不暇其聽，欲聞道之要者，二、三言而止。」文摯答曰：「臣為道三百編，而最為首。」威王曰：「子繹之，時食何是有？」文摯答曰：「淳酒毒韭。」威王曰：「子之長韭何邪？」文摯答曰：「後稷播耰，草千歲者唯韭，故因而命之。其受天氣也早，其受地氣也葆，故聶辟懹怯者，食之恒張；目不察者，食之恒明；耳不聞者，食之恒聰；春三月食之，苛疾不昌，筋骨益強，此謂百草之王。」威王曰：「善。子之長酒何邪？」文摯答曰：「酒者，五穀之精氣也，其入中散流，其入理也徹而周，不胥而究理，故以為百藥由。」威王曰：「善。然有不如子言者，夫春沃瀉入入以韭者，何其不與酒而恒與卵邪？」文摯答曰：「亦可。夫者，陽獸也，發明聲聰，伸頭羽張者也。復陰三月，與韭俱徹，故道者食之。」威王曰：「善。子之長何邪？」文摯答曰：「夫，非徒生民之事也。舉鳧雁、鵠、鷫相、蚖蟺、魚蟞、蝡動之徒，胥食而生者也；食者，胥而成者也。夫，使食靡消，散藥以流刑者也。譬於食，如火於金。故一夕不，百日不復。食不化，必如純鞠，是生甘心密墨，危傷痹蹶，故道者敬。」威王曰：「善。寡人恒善暮飲而連於夜，苟無苛乎？」文摯答曰：「無妨也。譬如鳥獸，早早起，暮暮起，天者受明，地者受晦，道者究其事而止。夫食氣潛入而默移，夜半而□□□□□氣，致之六極。六極堅精，是以內實外平，痤弗處，癰噎不生，此道之至也。」威王曰：「善。」</p>
<p>王期見，秦昭王問道焉，曰：「寡人聞客食陰以為動強，吸氣以為精明。寡人何處而壽可長？」王期答曰：「必朝日月而吸其精光，食松柏，飲走獸泉英，可以老復壯，曼澤有光。夏三月去火，以日爨烹，則神慧而聰明。接陰之道，以靜為強，平心如水，靈露內藏，款以玉策，心毋怵蕩，五音進答，孰短孰長，吸其神霧，飲夫天漿，致之五藏，欲其深藏。龍息以晨，氣形乃剛，襄□□□，□□近水，精氣淩健久長。神和內得，魂魄皇□，五藏固薄，玉色重光，壽參日月，為天地英。」昭王曰：「善。」</p>
<h2>合陰陽</h2>
<p>凡將合陰陽之方，握手，出腕陽，揗肘房，抵腋旁，上綱，抵領鄉，揗拯匡，覆周環，下缺盆，過醴津，陵勃海，上恒山，入玄門，禦交筋，上欱精神，乃能久視而與天地侔存。交筋者，玄門中交脈也，為得操揗之，使體皆樂癢，悅懌以好。雖欲勿為，作相呴相抱，以恣戲道。戲道：一曰氣上面熱，徐呴；二曰乳堅鼻汗，徐抱；三曰舌薄而滑，徐屯；四曰下液股濕，徐操；五曰嗌乾咽唾，徐撼，此謂五欲之徵。徵備乃上，上揕而勿內，以致其氣。氣至，深內而上撅之，以抒其熱，因復下反之，毋使其氣歇，而女乃大竭。然後熱十動，接十節，雜十修。接形已沒，遂氣宗門，乃觀八動，聽五音，察十已之徵。</p>
<p>十動：始十，次廿、卅、、五十、六十、七十、八十、九十、百，出入而毋瀉。一動毋瀉，耳目聰明，再而音聲章，三而皮革光，四而脊脅強，五而尻髀壯，六而水道行，七而至堅以強，八而腠理光，九而通神明，十而為身常，此謂十動。</p>
<p>十節：一曰虎遊，二曰蟬附，三曰尺蠖，四曰囷角，五曰蝗磔，六曰猿踞，七曰蟾諸，八曰兔騖，九曰蜻蛉，十曰魚嘬。</p>
<p>十修：一曰上之，二曰下之，三曰左之，四曰右之，五曰疾之，六曰徐之，七曰希之，八曰數之，九曰淺之，十曰深之。</p>
<p>八動：一曰接手，二曰伸肘，三曰直踵，四曰側鉤，五曰上鉤，六曰交股，七曰平踴，八曰振動。夫接手者，欲腹之傅也；伸肘者，欲上之摩且距也；直踵者，深不及也；側鉤者，旁欲摩也；上鉤者，欲下摩也；交股者，刺太過也；平踴者，欲淺也；振動者，欲人久持之也。</p>
<p>瘛息者，內急也；喘息，至美也；累哀者，玉策入而癢乃始也；吙者，鹽甘甚也，齧者，身振動，欲人之久也。</p>
<p>昏者，男之精壯；早者，女之精積。吾精以養女精，前脈皆動，皮膚氣血皆作，故能發閉通塞，中府受輸而盈。</p>
<p>十已之徵：一已而清出，再已而臭如燔骨，三已而燥，四已而膏，五已而薌，六已而滑，七已而，八已而脂，九已而膠，十已而，已復滑，清復出，是謂大卒。大卒之徵，鼻汗唇白，手足皆作，尻不傅席，起而去，成死為薄。當此之時，中極氣張，精神入藏，乃生神明。</p>
<h2>天下至道談</h2>
<p>黃神問於左神曰：「陰陽九竅十二節俱生而獨先死，何也？」左神曰：「力事弗使，哀樂弗以，飲食弗右，其居甚陰而不見陽，猝而暴用，不待其壯，不忍兩熱，是故亟傷。諱其名，匿其體，至多暴事而無禮，是故與身俱生而獨先死。」</p>
<p>怒而而不大者，肌不至也；大而不堅者，筋不至也；堅而不熱者，氣不至也。肌不至而用則腄，氣不至而用則避，三者皆至，此謂三詣。</p>
<p>天下至道談</p>
<p>如水味淫，如春秋氣，往者弗見，不得其功；來者弗堵，吾饗其饋。嗚呼慎哉，神明之事，在於所閉。審操玉閉，神明將至。凡彼治身，務在積精。精贏必舍，精缺必補，補舍之時，精缺為之。為之合坐，闕尻鼻口，各當其時，忽往忽來，至精將失，吾奚以止之？虛實有常，慎用勿忘，勿困勿窮，筋骨隆強，踵以玉泉，食以芬芳，微出微入，待盈是常，三和氣至，堅勁以強。將欲治之，必審其言，踵以玉閉，可以壹仙。壹動耳目聰明，再動聲音章，三動皮革光，四動脊骨強，五動尻髀壯，六動水道行，七動至堅以強，八動志驕以揚，九動順彼天英，十動生神明。</p>
<p>氣有八益，又有七損。不能用八益、去七損，則行年而陰氣自半也，五十而起居衰，六十而耳目不聰明，七十下枯上脫，陰氣不用，灌泣流出。令之復壯有道，去七損以振其病，用八益以貳其氣，是故老者復壯，壯者不衰。君子居處安樂，飲食恣欲，皮腠曼密，氣血充贏，身體輕利。疾使內，不能道，生病出汗喘息，中煩氣亂；弗能治，生內熱；飲藥灼灸以致其氣，服餌以輔其外，強用之，不能道，生痤腫睾；氣血充贏，九竅不道，上下不用，生痤疽，故善用八益、去七損，五病者不作。</p>
<p>八益：一曰治氣，二曰致沫，三曰知時，四曰畜氣，五曰和沫，六曰竊積氣，七曰待贏，八曰定傾。</p>
<p>七損：一曰閉，二曰泄，三曰竭，四曰勿，五曰煩，六曰絕，七曰費。</p>
<p>治八益：旦起起坐，直脊，開尻，翕州，抑下之，曰治氣；飲食，垂尻，直脊，翕州，通氣焉，曰致沫；先戲兩樂，交欲為之，曰知時。為而耎脊，翕州，抑下之，曰蓄氣；為而勿亟勿數，出入和治，曰和沫；出，令人起之，怒釋之，曰積氣；幾已，內脊，毋動，翕氣，抑下之，靜身須之，曰待贏；已而灑之，怒而舍之，曰定傾，此謂八益。</p>
<p>七損：為之而疾痛，曰內閉：為之出汗，曰外泄；為之不已，曰竭；臻欲之而不能，曰弗；為之喘息中亂，曰煩；弗欲強之，曰絕；為之臻疾，曰費，此謂七損。故善用八益，去七損，耳目聰明，身體輕利，陰氣益強，延年益壽，居處樂長。</p>
<p>人生而所不學者二，一曰息，二曰食。非此二者，無非學與服。故貳生者食也，損生者色也，是以聖人合男女必有則也。故：</p>
<p>一曰虎流，二曰蟬附，思外，三曰尺蠖，四曰囷角，五曰蝗磔，息內，六曰猿踞，思外，七曰蟾諸，八曰兔騖，九曰蜻蛉，思外，十曰魚嘬，此謂十勢。</p>
<p>一曰致氣，二曰定味，三曰治節，四曰勞實，五曰必時，六曰通才，七曰微動，八曰待盈，九曰齊生，十曰息形，此謂十修。</p>
<p>一曰高之，二曰下之，三曰左之，四曰右之，五曰深之，六曰淺之，七曰疾之，八曰徐之，此謂八道。</p>
<p>十修既備，十勢豫陳，八道雜□，接形以昏。汗不及走，遂氣血門，翕咽搖前，通脈利筋。乃察八動，觀氣所存，乃智五言，孰後孰先。</p>
<p>八動：一曰接手，二曰伸肘，三曰平踴，四曰直踵，五曰交股，六曰振動，七曰側鉤，八曰上鉤。</p>
<p>五音：一曰喉息，二曰喘息，三曰累哀，四曰吙，五曰齧。審察五音，以知其心；審察八動，以知其所樂所通。</p>
<p>接手者，欲腹之傅；伸肘者，欲上之摩且距也；側鉤者，旁欲摩也；交股者，刺太過也；直踵者，深不及；上鉤者，下不及心也；平踴者，欲淺；振動者，至善也，此謂八觀。</p>
<p>氣上面熱，徐呴；乳堅鼻汗，徐抱；舌薄而滑，徐傅；下液股濕，徐操；嗌乾咽唾，徐撼，此謂五徵，此謂五欲，徵備乃上。</p>
<p>怒而不大者，膚不至也；大而不堅者，筋不至也；堅而不熱者，氣不至也；三至乃入。壹已清涼出，再已而臭如靡骨，三已而燥，四已而膏，五已而薌，六已而精如黍粱，七已而滯，八已而脂，九已而膩，十已而迄，迄而復滑，朝氣乃出。</p>
<p>一曰笄光，二曰封紀，三曰瓠，四曰鼠婦，五曰穀實，六曰麥齒，七曰嬰女，八曰反去，九曰何寓，十曰赤，十一曰赤珠九，十二曰石，得之而勿釋，成死有薄，走理毛，置腰心，唇盡白，汗流至膕，已數以百。</p>
<p>人人有善者，不失女人，女人有之，善者獨能，毋予毋治，毋作毋疑，必徐以久，必微以持，如已不已，女乃大怡。喉息，下咸吐陰光陽；喘息，氣上相薄，自容張；絫者，尻彼疾而動封紀；吙者，銜甘甚而癢乃始；齧者，身振動，置已而久。是以雄牡屬，為陽，陽者外也；雌牝屬，為陰，陰者內也。凡牡之屬摩表，凡牝之屬摩裏，此謂陰陽之數，牝牡之理，為之弗得，過在數已。嬲樂之要，務在遲久。苟能遲久，女乃大喜，親之弟兄，愛之父母。凡能此道者，命曰天士。</p>
<h2>胎產書</h2>
<p>禹問幼頻曰：我欲殖人產子，何如而有？幼頻答曰：月朔已去汁□，三日中從之，有子。其一日男，其二日女也。故人之產也，入於冥冥，出於冥冥，乃始為人。一月名曰流刑，食飲必精，酸羹必熟，毋食辛腥，是謂哉貞。二月始膏，毋食辛臊，居處必靜，男子勿勞，百節皆病，是謂始藏。三月始脂，果蓏宵效，當是之時，未有定儀，見物而化，是故君公大人，毋使侏儒，不觀沐猴，不食薑，不食兔羹；□欲產男，置弧矢，□雄雉，乘牡馬，觀牡虎；欲產女，佩簪珥，紳珠子，是謂內象成子。四月而水授之，乃始成血，其食稻麥，觶魚□□，以清血而明目。五月而火授之，乃始成氣，晏起□沐，厚衣居堂，朝吸天光，避寒殃，其食稻麥，其羹牛羊，和以茱萸，毋食□，以養氣。六月而金授之，乃始成筋，勞□□□，出遊於野，數觀走犬馬，必食□□也，未□□□，是謂變腠□筋，□□□□。七月而木授之，乃始成骨，居燥處，毋使定止，□□□□□□□□□□□□，飲食避寒，□□□□□□□□□美齒。八月而土授之，乃始成膚革，□□□□□□□□，是謂密腠理。九月而石授之，乃始成毫毛，□□□□□□□□□□□□□□□□□□□□□□□□□□□□伺之。十月氣陳□□，以為。</p>
<p>凡治字者，以清水澣胞。</p>
<p>一曰：必熟灑澣胞，又以灑澣□□□□□□□□小□□□□□□□□□□□□□以瓦甌，毋令蟲蟻能入，而□□□□□□□毋見日所，使嬰兒無疕，曼理，壽□。</p>
<p>一曰：埋胞席下，不疕瘙。內中□□□□以建日飲。</p>
<p>字而多男無女者而欲女，後□□□□胞埋陰垣下。多女無男，亦取胞埋陽垣下。一曰：以甗衣約胞，埋之。</p>
<p>懷子者，為烹白牡狗首，令獨食之，其子美皙，又易出。欲令子勁者，□時食母馬肉。</p>
<p>懷子未出三月者，吞爵甕二，其子男也。一曰：取雀甕中蟲青背者三，生吞之，必產男，萬全。</p>
<p>一曰：以方咀時，取蒿、牡、蜱蛸三，冶，飲之，必產男。已試。一□曰：遺溺半升，□□堅而少汁。</p>
<p>一曰：取蜂房中子、狗陰，乾而冶之，以飲懷子，懷子產男。一曰：□鮮魚□□食之。</p>
<p>□□□□□□□□乾，冶之，投酒中，□□□懷子者產□□□三月不可以□。</p>
<p>□□□□□□□□令□□□□□□□□□□□□□□產男。</p>
<p>一曰：取烏□□□□男子獨食肉歠汁，女子席莞。</p>
<p>欲產女，取烏雌煮，令女子獨食肉歠汁，席。</p>
<p>求子之道曰：求九宗之草，而夫妻共以為酒，飲之。</p>
<p>字者，且垂字，先取市土濡清者，□之方三四尺，高三四寸。子既產，置土上，勿庸□，令嬰兒□上，其身盡得土，乃浴之，為勁有力。</p>
<p>字者已，即燔其蓐，置水中，□□嬰兒，不疕瘙。及取嬰兒所已浴者水半杯飲母，母亦無余病。</p>
<p>女子鮮子者產，令它人抱其□，以去□□濯其胞，以新布裹之，為三約以斂之，入□中，令其母自操，入溪穀□□□之三，置去，歸勿顧；即令它人善埋之。</p>
<h2>雜禁方</h2>
<p>有犬善嗥於壇及閘，塗井上方五尺。夫妻相惡，塗戶□方五尺。欲媚貴人，塗門左右方五尺。多惡夢，塗下方七尺。姑婦善，塗戶方五尺。嬰兒善泣，塗牖上方五尺。</p>
<p>與人訟，書其名直履中。</p>
<p>取兩雌隹尾，燔冶，自飲之，媚矣。</p>
<p>取東西向犬頭，燔冶，飲。</p>
<p>夫妻相去，取其左眉置酒中，飲之，必得之。取雄隹左爪四，小女子左爪四，以鍪熬，並冶，傅，人得矣。取兩雌隹尾，燔冶，自飲之，媚矣。取其左眉置酒中，飲之，必得之。</p>
<h2>養生方</h2>
<p>老不起</p>
<p>老不起：□□□□□□□□□臭可□□□□□□□□□□□□□□□□□□□□□□□□□□□□□和則□乃□□□□□□下</p>
<p>一曰：□□以顛棘為漿方：刌顛棘長寸□節者三鬥，□□□□□□□□之，以雚堅稠節者爨，大沸，止火，定，復爨之。不欲如此，二鬥半□□□□□□，以故瓦器盛，□為剛炊秫米二鬥而足之。氣熟，□旬□寒□即乾□□□□□沃之，居二日而□槳。即已，近內而飲此漿一升。漿□□□□□□□□□□□□□偫其汁，即漿□□以沃之，令酸甘□□飲之。雖□□□□□□□□□□□□□□□□□□□□使人即起。漿所。</p>
<p>一曰：□□□□□漬烏□□矣。有。</p>
<p>為醴</p>
<p>為醴：為醴，取黍米、稻米□□□□□□□□□□□□□□□□□□□□□□□□稻醴熟，即每朝厭歠□□□□□□更。</p>
<p>不起</p>
<p>不起：為不起者，旦為善水粥而□□，以厭為故，□□□□□□□□□□□□□□□然，而□出之，如此二，且起矣。勿□□有益二日不用□□以□水□之□□□□□□把，用□□，已後再歠一，已後三□，不過三歠，挺後用□□。其歠毋相次□□□□□□□□歠。若已施，以寒水濺，毋□□必又歠。飲食□□□棄水已必以□□□□□氣呴口仰之，比□，稍以鼻出氣，□□復氣，□老者。</p>
<p>加</p>
<p>加：以五月望取萊、蘭，陰乾冶之，又冶白松脂之□□□□□□□□□□□□□□各半之，善裹以韋，日一飲之。每飲，三指撮入酒中，□□□□□□□□□□□□□力善行。雖旦暮飲之，可也。</p>
<p>孱</p>
<p>孱：以五月望取鄉軵者，入鑰□盈，鑰長五□□□□□□□□□□□□□□□之，置甗中，傅箕炊，澤上□□而出，重□□□□□□□□□□□□□□□□不知，即取鑰中藥大如黍，。</p>
<p>一曰：以五月□備茯苓，纔黃，即□□□□□□□□□□□□□□□□□□□□□多為善藏</p>
<p>一曰：治中者，段烏□□□□□□□□□□□□□□□□□□□□□□□□□□此醯。</p>
<p>為醪酌</p>
<p>為醪酌：以美酒三鬥漬麥□□□□□□□□□□□□□□□□成醪飲之。男□□□以稱醴煮薤。</p>
<p>治</p>
<p>治：取雄一，生搣，□浴之□□□□□□□□□，陰乾而冶，多少如，◎◎◎◎□令大如□□□□□□□□□藥，□其汁漬脯三日。食脯四寸，六十五。</p>
<p>一曰：取黃蜂駘廿，置一杯醴中，□□日中飲之，一十。　　易。</p>
<p>一曰：取黃蜂百，以美醬一杯漬，一日一夜而出，以汁漬饘糗九分升二。每食，以酒飲三指撮。</p>
<p>一曰：平陵呂樂道，蠃中蟲陰乾冶，欲廿用七撮，欲十用三撮，酒一杯。</p>
<p>麥卵</p>
<p>麥卵：有恆以旦毀卵入酒中，前飲。明飲二，明飲三；又更飲一，明飲二，明飲三，如此盡二卵，令人強益色美。</p>
<p>一曰：八月取菟蘆實陰乾，乾析取其米，冶，以韋裹。到春，以牝鳥卵汁弁，丸如鼠矢，陰乾，□入八丸菽醬中，以食。</p>
<p>一曰：□春日鳥卵一，毀投糗中，丸之，如大牛蟣，食多之善。</p>
<p>一曰：。已□乾□者。</p>
<p>一曰：治陰，以醬漬□□□□□□□□□□□□□□□□□□其中。</p>
<p>◎◎灑男</p>
<p>灑男：□□□□□□□□□□□□□□□□三鬥，漬梓實一鬥五日，以灑男，男強。</p>
<p>灼</p>
<p>灼：曰以五月望取勃蠃，漬□□□□□布□中，陰乾，以□□熱。　　易。</p>
<p>一曰：取乾薑，桂、蔈苕、蛇、□□，皆冶之，各等，以蜜若棗脂和丸，大如指端，裹以疏布，入中，熱細。</p>
<p>一曰：五月取蒲薄蠃三鬥、桃實二鬥，並撓，盛以缶，沃以美酨三鬥，蓋塗，埋中，令□□三寸，杜上，令與地平。炊上晝日而火不絕，四日出，濾棄其滓。以汁染布三尺，陰乾，輒復染。汁索，善裹布，勿令麤□。用，取大如掌，竄鼻孔，小癢而熱；以據臂，臂大癢堅熱；勿令汙面，汙面癢不可支也。為布多少以此衰之。</p>
<p>益甘</p>
<p>益甘□茯苓去滓，以汁肥豯，以食女子，令益甘中美。取牛腮燔冶之，□乾薑、菌桂◎皆並□，□□囊盛之，◎以醯漬之，入中。</p>
<p>一曰：□汁，以牛若鹿殽，令女子自探入其戒。</p>
<p>一曰：削予柔，去其上惡者，而卒斬之，以水煮□□氣□□□□□□□□□□□□而清，取汁，去其濁者，復煮其清，令竭，乾則□□□□□□□□□□□□□□□□下，如◎食頃，以水灑，支七八□□□嘗。</p>
<p>一曰：取鳥產不鷇者，以一食其四□□□□□□□□□□□□□□□□□□□□□□□□□□□濺而陰乾，乾即。</p>
<p>戲</p>
<p>戲：□□者，取守宮，□以□□□甚，已，埋口下，深□□□◎□□水染其汁，以染女子臂。女子與男子戲，□即破缺；□，即去。</p>
<p>取守宮置新甕中，而置丹甕中，令守宮食之。須死，即冶，□畫女子臂若身。即與男子戲，即不明；。</p>
<p>去毛</p>
<p>去毛：欲去毛，新乳始沐，即先沐下，乃沐，其氄毛去矣。</p>
<p>一曰：煎白嬰頸蚯蚓，殽蜘蛛網及苦瓠，而淬鐵，即以汁傅之。</p>
<p>一曰：以五月拔，而以稱醴傅之。</p>
<p>病最腫</p>
<p>病最腫：冶柳柎，與脂膏相挐和，以傅腫者。巳，即裹以布。</p>
<p>便近內</p>
<p>便近內：為便近內方：用顛棘根刌之，長寸者二參，善灑之；又取全黑雄，合翼成□□□三之心腦胸，以水二升洎故鐵鬵，並煮之。以雚堅稠節者爨之，令大沸一，即□□□去其滓，以其清煮黑騭犬卒歲以上者之心肺肝□，以雚堅稠節□□□□□□□□芵□□□□五物□□以□□□□□□以餔食食之，多少恣。</p>
<p>一曰：近內□□□□□□□□□□□□□□□□□□□□□□□□□□□□烏喙大者四□□□□□□□□□□□□□□□□□□□，取車前，生蒸之，大把二，氣□□□□□□□□□□□□車前□□□者，以布橐若盛。為欲用之，即食□之。</p>
<p>一曰：治中者，以汾囷始汾以出者，取，□令見日，陰乾之。須其乾，□以稗□五、門冬二、茯苓一，即並搗，漬以水，令纔掩，□而排取汁，以漬墳菌，亦令纔掩，即出而乾之。令盡其乾，即冶，參指撮，以□半杯飲之。</p>
<p>巾</p>
<p>巾：取纔能讙者，生搣，盡去毛，遺兩翼之末，而係縣竿□□□□摩蜂房一大者，令之；厭，又徙之，令以死。死，即挩去其□□□□其肌，善冶，以布曬之，已，而以雜棗之脂弁之，而以塗布巾。即以巾摩足□□□四五乃復，以二巾為卒。□足者少氣，此令人多氣。</p>
<p>一曰：治巾，取楊思一升、赤蟻一升、斑廿，以美□半鬥並漬之，掩□□□□其汁，以漬細布一尺。已漬，暘之，乾，復漬。汁盡，即取榖、椅桐汁□□□□□塗所漬布，乾之，即善藏之。節（即）用之，操以揗玉策，馬因驚矣。楊思者，□□□□□狀如小□□而螫人。</p>
<p>一曰：□□蛇泰半參、菻本二鬥半、潘石三指撮一，桂尺者五挺□□□□□之菩半□□者一，以三月莤酨□，熟煮，◎◎令沸，而以布巾曼其□□□汁。且為之，□□□□□□□□□□□□之，令膚急毋垂，又令男子足。</p>
<p>一曰：取萩莢二，冶之，以水一參沃之，善挑，即漬巾中，卒其時而抽之，□□□乾，輒復漬。</p>
<p>一曰：陰乾牡鼠腎，冶，取邑鳥卵潰，並以塗新布巾。，以抿男女。</p>
<p>一曰：取岪嬴一鬥，二分之，以酨漬一分而暴之。冬日置上，令極沸，即出岪選，□□□□，余如前，即以漬巾，盡其汁。已，而漬巾，以抿男，令牝亦。</p>
<p>一曰：蠃四鬥，美酪四鬥，天牡四分升一，桃可大如棗，牡螻首二七，□□□□□□□□□半升，並漬酪中。已，取汁以□□□布□□漬，汁盡而已。□用之，濕□□操玉策，則馬驁矣。所謂天社者，□□□食桃李花者也。桃可者，桃實小時毛也。牡螻者，頡蠸□□□□□□□□□□□□者也。□□者，狀如贛皮。</p>
<p>一曰：燔□柎，張巾其□□□□□□□□□□□有□□□□□，以巾抏牝，馬纔。</p>
<p>輕身益力。</p>
<p>一曰：欲輕身者，取人所□□□□□□□□□□□□□□□□□□□□□□□□並□，以為後飯，春秋□□□□□□□□□□□□□□□□□□□□□□□□□□□□□之各四鬥，與□□□養□□□□□□□□□□□□□□□□。</p>
<p>除中益氣</p>
<p>除中益氣：□□牸肉肥□□□膏者，皆陰乾，冶，以三指撮一。</p>
<p>一曰□節者，其藥以鳥□、□□、澤瀉、朮、酸棗□□□□□□□□□□□□□等，冶，即以松脂和，以為丸，後飯，少多自。</p>
<p>一曰：春秋時取菀，陰乾，冶之；取冬葵種，冶，並之參指撮□□□□□□□□□□□□益中。◎。</p>
<p>一曰：□□、防風、□三等，芥當三物，冶，三指撮後飯。</p>
<p>一曰：取牛肉薄劙之，即取萆薢寸者，置□□牛肉中，炊沸，休，又炊沸，又休，三而出肉食之。藏汁及萆薢，以復煮肉，三而去之。□□人環益強而不傷人。食肉多少恣也。</p>
<p>一曰：取白芫本，陰乾而冶之，以馬醬和，□丸，大如指端，□□□□□□孔中，張且大。</p>
<p>一曰：滿冬、、防風，各冶之等，並之。</p>
<p>一曰：取菌桂二，細辛四，萩一，牡蠣一，秦椒二，三指撮以為後飯，令人強。</p>
<p>一曰：茹，濕磨，盛之，飽食飲酒□□者嗅之。□□各善冶，皆並，三宿雄血□□□□□□，以繒裝之，因以蓋□以韋□雄□堅□□□旬。竹緩節者一節，大徑三寸。</p>
<p>一曰：以秋取斑□□首□□□□□三□□□之，強。</p>
<p>一曰：取□□□□□□□□□□□□□□□□強。</p>
<p>一曰：□□汁置鑰中，牡鳥□□□□□□□□□置水中，飲之。</p>
<p>一曰：以豬膏大如手，令蜂□□□□□□□□□□□□□□□□□醇糟四鬥，善冶□。即弗欲，灑之。</p>
<p>一曰：□□□□□等，亦以□□後飯。</p>
<p>一曰：□□□大牡兔，皮，去腸。取萆薢長四寸一把，朮一把，烏喙十□□□削皮細析，以大牡兔肉入藥間，盡之，乾，勿令見日，百日□裹。以三指撮一為後飯百日，支六七歲，□食之可也，恣所用。</p>
<p>一曰：取細辛、乾薑、菌桂、烏喙，凡四物，各冶之。細辛四，乾薑、菌桂、烏喙各二，並之，三指撮以為後飯，益氣，又令人面澤。</p>
<p>一曰：取白苻、紅符、茯苓各二兩，薑十顆，桂三尺，皆各冶之，以美醯二鬥和之。即取刑馬臚肉十□，善脯之，令薄如手三指，即漬之醯中，反復挑之，即漏之；已漏，陰乾煬之，□□□□沸，又復漬煬如前，盡汁而已。煬之□修，即以椎薄段之，令澤，復煬□□□之，令□澤，□□□□□□□□□□□□□漆之，乾，即善藏之。朝日晝□夕食食各三寸，皆先飯□□□□□□□□□□□□。□□□各冶等，以為後飯。</p>
<p>用少</p>
<p>用少男子用少而清，□□□□□□□□□□□□□□□□雄二之血和丸，大如酸棗，以為後飯，治一即。</p>
<p>□□□□□□□鬥□□□□□□□□□□□□□□□以□化半鬥，牡臘□□□□□□□□□升。</p>
<p>治力</p>
<p>治力：□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□身若癢若不癢，以。</p>
<p>黑髮</p>
<p>：黑髮益氣，取□□□□□□□□□□□□□□□□□□□□□□□□□行，復盛，以一復行□□□□□□□□□□□□□□□□□□□□□□□食，火毋絕，卅□□冶，以□□裹，□□□□□□□□□□□□□□□□□□□□□八月為藥。</p>
<p>為醴</p>
<p>：為醴，用石膏一斤少半，本、牛膝□□□□□□□□□□□□□□□□□□□□□二鬥，上□其汁，淳□□□□□□□□□□□□□□□□□□□。</p>
<p>益力</p>
<p>：益力，清除□心胸中惡氣，取槐莢中實，置□□□□□□□□□□□□□五實，癢甚。□之不癢，益之，令身若癢若不癢，□□□□□□□□□□□□□。</p>
<p>益壽</p>
<p>□穀名有泰室、少室，其中有石，名曰駢石，取小者□□□□□□□□□□□□□病益壽。</p>
<p>：取刑馬脫脯之。段烏喙一升，以淳酒漬之，□去其滓，□□□□□□□□□□輿、虋冬各□□，萆薢、牛膝各五，□莢、桔梗、厚□二尺，烏喙十顆，並冶，以淳酒四鬥漬之，毋去其滓，以◎□□盡之，□□□以韋橐裹。食以三指撮為後飯。服之六末強，益壽。</p>
<p>：冶雲母、消松脂等，並以麥丸之，勿□手，令大如酸棗，□之吞一丸。日益一丸，至十日；日後日捐一丸，至十日，日□□□□□□益損□□□□□，令人壽不老。</p>
<p>醪利中</p>
<p>醪利中：取漆□之莖，少多等，而□□□□□□□□□□□□□其清汁四鬥半，□□□之間為之若□□□□□□□□□□□□□□□□□以釀之。取熏烏喙八顆，□取漆、節之□□□□□□□□□□□□□□□□釀下，善封其罌口，令□□□□□□□□□□□□□□□□□□□□□□□□□之熟，而以平□□□□□□□□□□□□□□□□□□□□□□□□□□。</p>
<p>一曰：□九鬥，先□□□□□□□□□□□□□□□□□□□□□□□□□□者二升其中十日，冶□□□□□□□□□□從器出□□□□□□□□□中，服之百日，令腸中無病。</p>
<p>一曰：為醪，細斬漆、節各一鬥，以水五□□□□浚，以汁煮紫威□□□□□□□□，又浚◎◎◎曲、◎麥曲各一鬥，□□□，卒其時，即浚□□□□黍稻□□□各一鬥，並□，以曲汁滫之，如恒飯。取烏喙三顆，乾薑五，焦□□，凡三物，甫□□投之。先置□罌中，即釀黍其上，□汁均沃之，又以美酒十鬥沃之，勿撓，□□□塗之。十一□熟矣，即發，勿釃，稍□□清汁盡，又以□□酒沃，如此三而□□。以餔食飲一杯。已飲，身體癢者，摩之。服之百日，今目明耳聰，末皆強，□□病及偏枯。</p>
<p>治</p>
<p>治：取蠃四鬥，以酢酨漬二日，去蠃，以其汁漬□肉撞者，□犬脯□□，復漬汁，□□。食脯一寸勝一人，十寸勝十人。</p>
<p>折角</p>
<p>折角：燔螑，冶。裹其灰以□牛，可以翕壺折角。益力。</p>
<p>走</p>
<p>走：非廉、方葵、石韋、桔梗、紫威各一小束，烏喙三顆，□□□□□□□□□大□□□五寸，白螣蛇若蒼梗蛇長三四寸，若□□□□□□□□，各冶，並以□若棗脂丸，大如羊矢，五十裏一食。陰菌出雒□□□□□□□□。七百。</p>
<p>一曰：烏喙五，龍葵三，石韋、防風、伏菟各□，陰乾，□□□□□□□□去其□□治五物，入酒中一日一夜，浚去其滓，以汁漬滫飯，如食頃，□□乾，乾又復□□乾，索汁而成。</p>
<p>一曰：烏喙二，北南陳陽□骨一，冶，並以細新白布裹三。馬膏□□□□棲肥雞□□□□，復煮瓦苔長如中指，置□□□□汁，出苔，以囊盛，□□□□日棄埋□□滓。即行，漬，東行水一杯，置□□□□□□□□□□□□□□二以出□□□見日飲之。</p>
<p>一曰：□□犬三卒烏喙一半，冶之，為。</p>
<p>一曰：走者，取女□□□□□□□□□□□□□□□□□□□□□□□□□□□□服一鬥，取。</p>
<p>一曰：□□有□□□□□□□□□□□□□□□□□□□□晦漬，晝乾之，盡□□□行百里。</p>
<p>一曰：行宿，自呼：「大山之陽，天□□□，□□先□，城郭不完，□以金關。」即禹步三，曰以生荊長二寸周畫中。</p>
<p>一曰：東向呼：「敢告東君明星，□來敢到畫所者，席彼裂瓦，何人？」又即周中。</p>
<p>一曰：走疾欲善先者，取女子未嘗男子者□縣枲，懷之，見旋風以投之。風止，即□□帶之。</p>
<p>疾行</p>
<p>疾行：取牛車枲帶之，欲疾，一約之。</p>
<p>一曰：行欲毋足痛者，南向禹步三，曰：「何水不酨，何道不枯，氣我□□。」末即取突墨□□□□□納履中。</p>
<p>：□□□□天下□□□□□□□□□□宗，有氣則生，無氣則死，是□□□□□□。怒而不大者，膚不至也；大而不堅者，筋不至也；堅而不熱者，氣不至也。膚不至而用則垂，筋不至而用則避，氣不至而用則惰，是以聖人必□□之。湯游於瑤台，陳□□於南宮，問◎◎男女之齊至相當、毋傷於身者若何？答曰：益生者食也，損產者色也，是以聖人必有法則：一曰麇觸，二爰據，三曰蟬傅，四曰蟾諸，五曰魚嘬，六曰青靈。七曰兔騖。一曰云石，二曰瓠，三曰濯昏，四伏□，五曰□□。一曰高之，二曰下之，三曰左之，四曰右之，五曰深之，六曰淺之，一曰吙，二曰齧。一曰□□，二曰震動。一曰定味，二曰致氣，三曰勞實，四曰時節。</p>
<p>□語</p>
<p>□語：□見三月吉日在□，禹乃□□入於璿房，其狀變，色甚雄以美，乃若始壯。娥見之，□□□□□□□□□□□□□□□□娥月之□治扣而見□，凡彼莫不既蒿有英。今人□□□□□□□□□□□□□□□□□□□□□我鬚眉既化，血氣不足，我無所樂，□□□□□□□□□□□□□□□□□□□□□□□□□欲毋言，王有□色，□□□□□□□□□□□□□□□□□□□□□□□□□□□□□昏有悟。南娥□□□□女子之□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□不能已。西娥□□□□□□□□□□□□俞曰：□□□□□□□□□□□□□□□□堅病而□而不已，恐過而不悟。少娥□答眉睫□□□□□□□□□□□□□□□其□撞而問之，以謁情故。少娥進答曰：女子之樂有□□□□□□□□□□□□□幼疾，暴進暴退，良氣不節。禹曰：善哉言乎。□□□□□□□□□□□□□□□□我欲合氣，男女蕃茲，為之若何？少娥曰：凡合氣之道，必□□□□□□□□□□□曰：君何不羹茅必至□思？氣不□鬱。禹曰：善哉乎！今我血氣外揖艾，取甚湛，以實五賞石膏白□□□□□□□□□□□□□□□，端夜茨，白雖賞，登左下右，亦毋暴成。</p>
<p>食引</p>
<p>食引：利益氣，食飲恒移陰動之，又引之，故曰：飲□□，又教誨之。右引而曲左足。</p>
<h2>卻穀食氣</h2>
<p>卻穀者食石韋，朔日食質，日加一節，旬五而止；旬六始匡，日□一節，至晦而復質，與月進退。為首重足輕體胗，則呴吹之，視利止。食穀者食質而□，食氣者為呴吹，則以始與始興。凡呴中息而吹。年廿者朝廿暮廿，二日之暮二百；◎年卅者朝卅暮卅，三日之暮三百，以此數誰之。春食一去濁陽，和以銧光、朝霞，昏清可。夏食一去湯風，和以朝霞、沆瀣，昏清可。秋食一去□□、霜霧，霜霧和以輸陽、銧，昏清可。冬食一去淩陰，和以端陽、銧光、輸陽、輸陰，昏清可。□□□□□者，□四塞，清風折首者也。霜霧者，□□□□□□□。濁陽者，黑四塞，天之亂氣也，及日出而霧也。湯風者，□風也，熱而中人者也，日□。淩陰者，入骨□□也，此五者不可食也。朝霞者，□□□□□□□□□□□□□□□者，日出二乾，春為濁□□□□□云如蓋，蔽□□□□者也。□□者，苑□□□□□□夏昏清風也。凡食□□□□□□□□□□□□□□□□□□食穀者食方，食氣者食圓，圓者天也，方者地也。□□□者北向□□□□□□□□多食。□□□□□□□□□□□□□□□□□□□□□則和以正陽。夏氣霞□□□□□□□□□□□□□多陰，日夜分□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□為青附，青附即多朝霞。朝◎佚氣為白附，白附即多銧光。昏失氣為黑附，黑附即多輸□。□□□□□□□□□食毋。</p>
<h2>導引圖</h2>
<p>（附圖：導引圖）</p>
