<header><h1>醫宗金鑑·幼科雜病心法</h1></header>
<dl class="元資料" data-type="book">
<div><dt>作者</dt><dd><data value="吳謙">吳謙等</data></dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1644/1911">公元1644-1911年（清·乾隆）</data></dd></div>
<div><dt>古版</dt><dd><data value="false">非古版</data></dd></div>
<div><dt>直書</dt><dd><data value="false">非直書</data></dd></div>
</dl>
<pre>
編輯幼科雜病心法要訣一
四診總括
條文：001
兒科自古最為難，毫釐之差千里愆，氣血末充難據脈，神識未發不知言，
惟憑面色識因病，再向三關診熱寒。聽聲審病兼切脈，表裡虛實隨證參。
[註]
兒科一道，自古為難，
蓋以小兒形質柔脆，易虛易實，調治少乖，則毫釐之失遂致千里之謬，
氣血末充者，氣血尚未充盈也，
難據脈者，脈無定準，不可只以脈為主也，
神識未發者，茫然無知識也，
不知言者，不能言其疾苦也，
診小兒之病，惟憑察面部形色，識其因何而生也，
三關者，手虎口處風氣命三關也，當視脈紋形色以診其屬熱屬寒也，
聽聲音，聽其五聲所主之病也，
審病者，審其安煩苦欲飲食二便也，
切脈者，切脈之浮沉遲數，滑澀大小，有力無力也，
醫者誠能以四診參合表裡虛實寒熱之病，則可保萬全也。

<hr class="分段">
察色
條文：002
欲識小兒百病源，先從面部色詳觀，五部五色應五藏，誠中形外理昭然，
額心頦腎鼻脾位，右腮屬肺左屬肝，青肝赤心黃脾色，自為肺色黑腎顏，
青主驚風赤火熱，黃傷脾食白虛寒，黑色主痛多惡候，明顯濁晦輕重參，
部色相生為病順，部色相剋病多難，相生實者邪助病，相剋虛者正難堪，
天庭青暗驚風至，紅主內熱黑難痊，太陽青驚人耳惡，印堂青色驚瀉纏，
風氣青驚紫吐逆，兩眉青吉紅熱煩，鼻赤脾熱黑則死，脣赤脾熱白脾寒，
左腮赤色肝經熱，右腮發赤肺熱痰，承漿青驚黃嘔吐，黑主抽搐病纏綿，
此是察色之大要，還將脈證一同參。
[註]
小兒之病，先從面部氣色觀之，詳察五部之色，
則五藏之病自昭然可見矣，
五部者，額屬心，頦屬腎，鼻屬脾，左腮屬肝，右腮屬肺也，
五色者，青為肝色，赤為心包，黃為脾色，自為肺色，黑為腎色也，
如面青主是驚風之證，面赤主火熱，面黃主傷脾傷食，
面白主虛寒，面黑主痛，多是惡候，
總之五色明顯為新病，其證輕，濁晦為久病，其證重，
部色相生為順者，如脾病色黃，此正色也，若見紅色，乃火能生土，故為順也，
若見青色，乃木來剋土，故為逆也，餘病倣此，
若氣血充實，又遇部色相生，縱有外邪助病，亦易為治療，
若久病氣血虛弱，又遇部色相剋，則正氣不支，每難治療，
如天庭青暗主驚風，紅主內熱，黑則不治，
太陽青主驚風，青色入耳者死，印堂青主驚瀉，
風池在眉下，氣池在眼下，二處青主驚風，紫多吐逆，
兩眉青主吉，紅色主多煩熱，
鼻赤主脾熱，鼻黑則死，
脣赤主脾熱，白主脾寒，
左腮發赤主肝經有熱，右腮發赤主肺熱痰盛，
承漿青主驚，黃主吐，黑主抽搐，
此皆察色之大要，再以脈證參之，庶治得其要矣。

<hr class="分段">
聽聲
條文：003
診兒之法聽五聲，聆音察理始能明，五聲相應五藏病，五聲不和五藏情，
心病聲急多言笑，肺病聲悲音不清，肝病聲呼多狂叫，脾病聲歌音顫輕，
腎病聲呻長且細，五音昭著證分明，啼而不哭知腹痛，哭而不啼將作驚，
嗞煎不安心煩熱，嗄聲聲重感寒風，有餘聲雄多壯厲，不足聲短怯而輕，
多言體熱陽府證，懶語身冷陰藏形，狂言焦躁邪熱盛，譫語神昏病熱凶，
鴨聲在喉音不出，直聲無淚命將傾，虛實寒熱從聲別，聞而知之無遁情。
[註]
小兒之病，既觀其色，又當細聽其聲，
蓋笑，呼，歌，悲，呻，五聲，內應心肝脾肺腎五藏也，
五聲不和，則知五藏有病之情矣，
知心屬火病，則聲急喜笑，
肺屬金病，則聲悲音濁，
肝屬木病，則聲狂叫多呼，
脾屬土病，則聲顫輕如歌，
腎屬水病，則其聲長細如呻吟，
有聲有淚聲長曰哭，有聲無淚聲短曰啼，
如啼而不哭，則氣不伸暢，主腹痛，
哭而不啼，則氣急心煩，將成驚也，
嗞煎不安者，乃心經內熱，故燥躁不寧也，
嗄聲音啞也，聲重聲濁也，此為外感風寒也，有餘之證其氣實，
故聲雄大而壯厲，
不足之證其氣虛，故聲怯弱而輕短，
多言與身熱皆陽也，陽主府，故曰陽府證也，
懶語與身涼皆陰也，陰主藏，故曰陰藏證也，
狂言焦躁者，邪熱盛也，
神昏譫語者，熱乘於心，故曰病熱凶也，
鴨聲聲在喉中而啞，氣將絕也，
直聲聲無回轉而急，氣將散也，二者俱為不治之證，
醫者果能以此察之，
則知表裡藏府寒熱虛實諸病之情態無所遁矣。

<hr class="分段">
審病
條文：004
審兒之病貴詳參，要在安煩苦欲間，能食不食渴不渴，二便調和通秘勘，
發熱無汗為表病，內熱便鞕作裡看，安煩晝夜陰陽證，若欲冷暖定熱寒，
能食不食胃壯弱，渴與不渴胃熱乾，便稠黏穢為滯熱，尿清不赤乃寒占，
耳尻肢涼知痘疹，指梢發冷主驚癇，肚腹熱悶乃內熱，四肢厥冷是中寒，
眉皺曲啼腹作痛，風熱來臨耳熱纏，腹痛須按軟與鞕，喜按不喜虛實參，
欲保赤子誠心辨，對證施方治不難。
[註]
小兒有病，貴乎詳審，先問起居安煩苦欲何知，
次問飲食能食不食，渴與不渴，
又次問二便或通或柲，而後病源可識矣，
如發熱無汗，此邪在表也，
內熱便鞕，此邪在裡也，
安煩者，謂晝若煩熱而夜安靜，是陽旺於陽分，其病在陽，
若夜煩熱而晝安靜，是陽陷於陰分，其病在陰，
若欲者，喜冷惡熱皆屬陽病，故為熱也，
喜熱惡冷皆屬陰病，故為寒也，
胃壯者能食，胃弱者不能食，
胃乾燥者口渴，胃濕盛者口不渴，
至於大使稠黏，穢氣難聞者，是內有滯熱，從熱化也，
小便清白不赤為虛寒，從寒化也，
若耳梢冷，尻骨冷，四肢發冷者，此痘疹欲發之候，
如單指梢發冷者，此驚癇將作之徵，
肚腹熱悶主內熱，手足厥冷主中寒，
小兒無故皺眉，曲腰啼叫者，主內因腹痛也，
兩耳常常發熱者，主外因風熱也，
然腹痛又當按其或軟與鞕，若喜接者為虛，不喜接者為實，
保赤者須誠心勘問，對證施治，庶隨手奏效矣。

<hr class="分段">
切脈
條文：005
小兒過歲當切脈，位小一指定三關，浮脈輕取皮膚得，沉脈重取筋骨間，
一息六至平和脈，過則為數減遲傳，滑脈如珠多流利，濇脈滯濇往來艱，
三部無力為虛脈，三部有力作實言，中取無力為孔脈，微脈微細有無間，
洪脈來盛去無力，數緩時止促結占，緊脈左右如轉索，弦則端直張弓弦，
浮為在表外感病，沉為在裡內傷端，數為在府屬陽熱，遲為在藏乃陰寒，
滑痰洪火微怯弱，弦飲結聚促驚癇，孔主失血濇血少，沉緊腹痛浮感寒，
虛主諸虛不足病，實主諸實有餘看，疸疹欲發脈洪緊，大小不勻中惡勘，
一息三至虛寒極，九至十至熱極炎，一二十一十二死，浮散無根沉伏難，
表裡陰陽虛實診，惟在兒科隨證參。
[註]
過歲者一歲也，有疾則當切脈，但部位甚小，不能以三指診之，
須用一指以定三關，三關者寸關尺也，
浮脈者，輕取皮膚之上即得，故曰浮也，
沉脈者，重按筋骨之問則見，故曰沉也，
一息者，人之一呼一吸也，
至者，脈之至數也，
一息六至為和平之脈，則曰無疾，
至數若過者，七至八至也，謂之數脈，
至數若減者，四至五至也，謂之遲脈，
滑脈如珠，往來流利，
濇脈滯洪，往來艱難，
三部者脈之浮沉中也，
浮中沉三部無力為虛，浮中沉三部有力為實，
芤脈者，中取無力，微脈者，按之微細，若有若無，
洪脈者，來時雖盛，去時無力，
促脈者，數而時止，結脈者，緩而時止，
緊脈者，左右如轉索之象，
弦脈者，端直如張弓弦，此皆言脈之形象至數也，
浮脈病在表，外感風寒也，
沉脈病在裡，內傷飲食也，
數脈病在六府，屬陽也，
遲脈病在五藏，屬陰也，
滑主痰盛，
洪主火熱，
微主怯弱之證，
弦主停飲，
結主積聚，
促主驚癇，
芤主失血，
濇主血少，
沉緊主腹痛，
浮緊主感寒，
虛為不足，主諸虛，
實為有餘，主諸實，
洪緊者，疽疹欲發也，
大小不勻者，中惡之證也，
一息三至是虛寒之極，
九至十至乃火熱太甚，此諸脈所主之病也，
若一息只一至二至，或十一十二至者，皆死脈也，
浮散無根又沉浮，取之不應指者，皆難治之脈也，
凡病之陰陽表裡虛實，雖可以診脈而得，
惟臨證時合望聞問三者，細為參考焉。

<hr class="分段">
虎口三關部位脈紋形色
條文：006
初生小兒診虎口，男從左手女右看，次指三節風氣命，脈紋形色隱隱安，
形見色變知有病，紫屬內熱紅傷寒，黃主脾病黑中惡，青主驚風白是疳，
風關病輕氣關重，命關若見病多難，大小曲紫傷滯熱，曲青人驚走獸占，
赤色水火飛禹撲，黃色雷驚黑陰癇，長珠傷食流珠熱，去蛇吐瀉來蛇疳，
弓裡感冒外痰熱，左斜傷風右斜寒，鍼形槍形生痰熱，射指射甲命難全，
紋見乙字為抽搐，二曲如鈎傷冷傳，三曲如蟲傷硬物，水紋咳嗽吐瀉環，
積滯曲蟲驚魚骨，形似亂蟲有蛔纏，脈紋形色如參合，醫者留神仔細觀。
[註]
凡初生小兒有疾病者，須視虎口叉手處脈紋之形色，以決病之死輕重，
男先看左手次指內側，女先看右手次指內側，
指之三節，初節日風關，次節日氣關，三節日命關，
其紋色紅黃相兼，隱隱不見，則為平安無病，
若紋色紫屬內熱，紅屬傷寒，黃為傷脾，黑為中惡，青主驚風，白主疳證，
紋在風關主病輕，氣關主病重，若過命關主病危難治，
又當視其紋形大小曲彎，
色紫者主傷食內熱，色青者主人驚及走獸驚，色赤者主水火飛禽所驚，
黃主雷驚，黑主陰癇，
如指上紋形一點紅色，名曰流珠紋，主內熱，
圓長者名曰長珠形，主飲食傷，
上尖長下微大者，名日去蛇形，主傷食吐瀉，
上大下尖長者，名日來蛇形，主濕熱成疳，
弓反裡者，形彎向中指，主感冒寒邪，
弓反外者，形彎向大指，主內熱痰盛，
紋斜向左者，其紋斜向中指，主傷風，
紋斜向右者其紋斜向大指，主感寒，
鍼形者，直若懸鍼微短，
槍形者，直射如槍微長，皆主痰熱透，
關射指射甲者，其紋直射指甲指端，主脾氣大敗，病危不起，
二者俱屬不治，
乙字紋似乙字，主驚風抽搐，
二曲如鈎，主傷生冷，
三曲如蟲，主傷硬物，
水紋形似水字，主咳嗽，
環形聯絡如環，主疳病，
曲蟲紋如彎蟲，主積滯魚骨，
紋如魚刺，主驚熱，
紋形如亂蟲者，主蛔蟲纏擾，
習幼科者，必以此形色合參，留衶診察，始不誤矣。

<hr class="分段">
初生門
拭口附下胎毒法
條文：001
拭口須用燕脂法，穢淨方無口病生，古云末啼先取穢，只緣未察此中情。
[註]
嬰兒初生，預用軟棉裹指拭淨口中不潔，繼以燕脂蘸茶清擦口舌齒頰之間，
則不使一切口病生矣，
古云：子未啼時先取穢血，此古人不詳體察，
蓋兒在胞衣之中，以臍蒂資生，胞中皆是氤氳精氣，生長蒸化，
並無血脈，兒口之血，從何而來，此說不經，不可為訓也。

<hr class="分段">
初生門
條文：002
甘草法
甘草之法自古稱，能解諸毒性味平，濃煎頻令兒吮服，免使胎毒蘊腹中。
[註]
甘草味甘，平和五藏解百毒之藥也，四時皆可用，虛實皆可服，
取中指一節，用水煎濃，以棉纏指蘸水，令兒吮之，其毒自解。

<hr class="分段">
初生門
黃連法
條文：003
索稟胎熱蘊於中，惟有黃連法最靈，水浸濃汁滴口內，臍糞胎毒自此清。
[註]
黃連清熱解毒之要藥也，凡夏月及四時看兒有胎熱者，
恐熱蘊於中致生他病，故宜用之，須取黃連數塊，搥碎用湯浸出汁，
時時滴兒口中，以臍糞下為度，其毒自解矣。

<hr class="分段">
初生門
硃蜜法
條文：004
硃蜜鎮神利腸冑，清熱防驚大有功，胎熱便秘皆堪用，稟賦怯弱慎而行。
[註]
硃砂鎮心定驚，兼能除邪，蜂蜜解毒潤腸，更能清熱，
一鎮一潤，功效殊常，胎熱便閉者，四時皆可用之，
取一大豆許研細水飛過，煉蜜調勻，乳汁化服最佳，
惟胎稟太弱者，不宜用也

<hr class="分段">
初生門
豆豉法
條文：005
怯弱之兒豆豉法，宣發胎毒功最良兒生冬月亦宜此，煎取濃汁當乳嘗。
[註]
淡豆豉，輕腐宣發之藥也。
凡怯弱之兒，或值冬月欲解胎毒者，
只將此藥煎為濃汁，與兒三五口，其毒自開矣。

<hr class="分段">
初生門
斷臍
條文：006
臍帶剪下即用烙，男女六寸始合宜，烙臍灸法防風襲，胡粉封臍為避濕。
[註]
嬰兒初生，先用剪刀向火烘熱，剪斷臍帶，次用火器繞臍帶烙之，
當以六寸為度，不可過為短長，短則傷藏，長則損肌斷訖，
又用烙臍餅子安灸臍上，以防風邪外入，
隨用胡粉散敷臍帶間，用軟絹新棉封裹之，以避尿濕風邪，
如藥不備，即以細熟艾一塊，照依前法封裹。

（胡粉散）胡粉 甑帶灰 乾薑 白石脂 棉灰各等分 麝香少許 
以上共為細末，每用一錢，敷臍上封之。
(烙臍餅子) 豆豉 黃蠟等分 麝香少許 以上以豆豉麝香研勻，
鎔蠟，量臍大小捻為餅灸用

<hr class="分段">
初生門
浴兒
條文：007
浴兒之法五枝湯，冬夏寒溫適可當，加豬膽汁去污穢，且滋肌膚免生瘡。
[註]
斷臍後三日浴兒，此法其來舊矣，為其革污穢也，
臨浴時，須擇無風密處，適可而止，不可久在水中，
冬月恐其受寒，夏日恐其傷熱，
其為湯之法，須用桃槐桑梅柳枝熬成，再加豬膽汁以去其污穢，
且能滋潤肌膚，令兒胎瘡不生。

<hr class="分段">
初生門
藏胎衣法
條文：008
藏衣新瓶用帛纏，埋築天德月空邊，向陽高燥宜嚴密，令兒無疾壽綿綿。
[註]
凡藏胎衣，盛在新瓶內，以青帛裹瓶口，擇向陽高燥之地，
天德月空處掘地三尺埋之，兒自長壽無疾，若藏衣不諲，於兒不利。

<hr class="分段">
初生門
天德月空
條文：009
正月在丁二月坤，三月居壬四月辛，五乾六甲七月癸，八艮九丙十乙宮，
十一巽兮庚十二，此是天德牢記心，月空單月壬共丙，雙月俱在甲與庚。
[註]
天德，如正月在丁，二月在坤，三月在壬，四月在辛，五月在乾，
六月在甲，七月在癸，八月在艮，九月在丙，十月在乙，十一月在巽，
十二月在庚是也，
月空，如正月在丙壬，二月在甲庚，三月在丙壬，四月在甲庚，
五月在內壬，六月在甲庚，七月在丙壬，八月在甲庚，
九月在丙壬，十月在甲庚，十一月在丙壬，十二月在甲庚是也，
天德方向俱依此圖為準，其月空方向，單月在丙壬方，雙月在甲庚方，
四處如值天德方向不便，即按圖尋丙壬，甲庚所在用之，
如值月空方向不便，亦按圖尋天德用之。

<hr class="分段">
初生門
剃頭
條文：010
小兒彌月剃胎頭，密室溫和適可求，杏麻薄膩揉頭上，胎毒瘡癤一切休。
[註]
兒滿月剃頭，須向密室溫煖處剃之，為其氣血末盈，寒風易人，
剃頭後須用杏仁三枚研細，入薄荷三葉，再同研，
將麻油滴三四點，合膩粉拌勻，擦頭上，能避風邪，免生瘡癤熱毒等證

<hr class="分段">
初生門
不啼
條文：011
小兒生下不能啼，俗語名之為草迷，多因臨產難生育，或值嚴寒氣所逼，
氣閉不通聲不出，奄奄呼吸命須臾，氣閉不通蔥鞭背，寒逼急用火熏臍。
[註]
兒生落地，啼聲即發，形生命立矣，
有不啼者，俗云草迷，多因臨產時生育艱難，以致兒生氣閉不通，
所以不啼也，急以蔥鞭其背，使氣通則啼，
又有時值天寒之際，兒氣為寒所逼，亦不能啼，宜用熏臍帶法，
急為挽回，庶氣通而啼聲出也，
若氣絕無聲，面青甲黑是形雖存而命已不立，安望其生哉。

<hr class="分段">
初生門
鞭背法
條文：012
小兒初生氣不通，奄奄呼吸少啼聲，用蔥鞭背輕輕擊，須臾聲發可回生。
[註]
蔥辛通氣，擊動醒神，用蔥鞭背者，取開通擊醒之義也，
如無蔥以手輕擊之亦可。

<hr class="分段">
初生門
熏臍帶法
條文：013
小兒生下或冒寒，氣閉無聲啼則難，油撚熏臍休剪帶，煖氣人腹自通安。
[註]
兒初生方離母腹，
若值天寒，氣為寒閉，使兒聲不出，須急用棉絮包裹，抱於懷中，
且勿斷臍，用紙撚蘸油，點火於臍帶下往來熏之，
令火氣由臍入腹，寒得溫散，氣得煖通，啼聲自出矣。

<hr class="分段">
初生門
不乳
條文：014
兒生能乳本天然，若不吮兮必有緣，腹中穢惡末下淨，或在胎中素稟寒，
穢惡不淨一捻效，胎寒不乳勻氣先，若更面青肢冷厥，此是寒虛理中煎．
[註]
不乳，謂初出胞胎不吮乳也，其故有二，不可不辨，
兒生腹中臍糞末下，能令小兒腹滿氣短，嘔吐不乳，當用一捻金治之，
若兒母過食寒涼，胎受其氣，兒必腹痛多啼，面色青白，宜勻氣散主之，
若四肢厥逆者理中湯主之。

(一捻金) 大黃生 黑丑 白丑 人參 檳榔各等分 以上為細末，
每少許蜜水調服。

(勻氣散) 陳皮 桔梗各一錢 炮薑 砂仁 炙甘草各五分 木香三分 
以上共為細末，每服五分，紅棗煎湯調服。

(理中湯) 人參 白朮土炒 乾薑 甘草炙 引用紅棗肉水煎服。
(方歌)
理中人參並乾薑，白朮甘草共為湯，胎寒諸疾皆當服，不乳肢冷更堪嘗。

<hr class="分段">
初生門
眼不開
條文：015
兒生眼閉不能開，皆因脾熱受於胎，內用地黃湯最妙，熊膽洗目效靈哉。
[註]
小兒初生眼不開者，因孕婦飲食不節，恣情厚味，熱毒熏蒸，
以致熱蘊兒脾，眼胞屬脾，其脈絡緊束，故不能開也，內服生地黃湯，
外用熊膽湯，洗之自愈。

(生地黃湯) 生地黃 赤芍藥 當歸 川芎 甘草生 天花粉 水煎服。
(方歌)
目閉不開胎熱成，生地黃湯赤芍，芎當歸花粉生地，草水煎速服莫稍停。

(熊膽洗法) 熊膽 黃連各少許 用滾湯淬洗，其目自開。

<hr class="分段">
初生門
吐不止
條文：016
兒吐不止何因生，穢惡停留胃內成，或緣稟賦胎寒熱，或因生時感寒風，
穢惡一捻金散下，外感香蘇溫散能，熱涎酸黏連陳治，寒吐清沫用理中。 
[註]
兒自胞胎既脫以後，有因便柲，腹中穢惡不淨，
今兒腹滿其吐不止者，一捻金主之，
若生育時觸冒寒邪，人裹犯胃，則曲腰而啼，吐沫不止者，香蘇飲溫散之，
又有胎前受熱，面黃赤手足溫，口吐黃涎酸黏者，二陳湯加黃連主之，
若胎前受寒，面青白，四肢冷，口吐清稀白沫者，理中湯主之。

(一捻金) 方見不乳。

(香蘇飲) 藿香 蘇葉 厚朴薑炒 陳皮 枳殼麩炒 茯苓 木香煨 
炙甘草 引用生薑水煎服。
(方歌) 香蘇飲用藿香蘇，厚朴陳皮枳殼茯，甘草木香一併入，生薑為引吐能除。

(黃連二陳湯) 半夏薑製 陳皮 茯苓 生甘草 黃連薑炒 引用生薑水煎服。
(方歌) 兒生胎熱吐頻頻，醫治須當用二陳，半夏陳皮茯苓草，薑連加人效如神。

(理中湯) 方見不乳。

<hr class="分段">
初生門
不小便
條文：017
小便不通胎熱壅，導赤八正二方從，外用豆豉貼臍法，須臾小便自能通。
[註]
小兒初生不小使者，乃胎熱流於下也，宜導赤散熱，盛者八正散主之，
外用豆豉膏貼臍上，則小便自通矣。

(導赤散) 
生地黃 木通 甘草生 引用燈心竹葉水煎服，加黃連滑石赤苓更妙。
(方歌)
方名導赤妙難言，生地木通甘草煎，引用燈心共竹葉，清熱利水便如泉。

(八正散)
 扁蓄 瞿麥 滑石飛 木通 赤苓 車前子 生大黃 梔子生 引用燈心水煎服。
(方歌)
八正散治小便柲，扁蓄瞿麥車前利，木通滑石赤茯苓，大黃梔子合成劑。

(豆豉膏) 
淡豆豉一勺 田螺十九個 蔥一大束 以上搗爛，用芭蕉汁，調貼臍上。

<hr class="分段">
初生門
不大便
條文：018
大便不通名鎖肛，皆緣熱毒受胎中，硃蜜捻金俱可用，急咂五心臍下通。
[註]
小兒初生之日或吹日，即大便者，俗云下臍屎，此腸胃通和，幽門潤澤也，
若至二三日不大使者，名日鎖肛，乃胎中受辛熱之毒，氣滯不通也，
其兒必面赤腹脹，不乳多啼，宜先用硃蜜法治之，
設若不應，用一捻金量兒與之，繼令婦人以溫水漱口，
咂兒前後心手足心並臍下，共七處，以皮見紅赤色為度，須臾大使自通矣。

(硃蜜法)方見拭口
(一捻金)方見不乳。

<hr class="分段">
初生門
大小便不通
條文：019
二便俱秘胎熱極，木通散與紫霜丸，行熱開結真神妙，口嘬之法悉如前。
[註]
小兒初生大小便不通者，為最急候，乃胎中熱毒太甚而成也，
急用前口咂五心臍下法，再以木通散行其熱，紫霜丸開其結，庶可望生，
若延至七日，謂之一臘，肚腹硬脹，常作呻吟，則難治矣。
(木通散) 
車前子 扁蓄 瞿麥 木通 赤苓 山梔 滑石飛 黃芩 生甘草 大黃
 引用燈心水煎服，或入薄荷同煎。
(方歌)
二便閉兮如何醫，木通散用甚為奇，車蓄瞿通苓梔子，滑石甘草大黃宜。

(紫霜丸) 
代赭石一兩火煨醋浸三五吹研 赤石脂一兩 杏仁六十粒炒去皮尖
巴豆三十粒去油膜 以上為末，飯糊如麻子大，口服三丸，白水下。

<hr class="分段">
初生門
肛門內合
條文：020
有因熱毒肛門結，或是內合無隙通，清毒宜服黑白散，脂瞞簪通導法精。
[註]
小兒初生，肛門內合有二，一者熱毒太甚，壅結肛門，
一者脂膜遮瞞，無隙可通，
如肛門壅結者，急服黑白散，外用蘇合香丸，作棗核狀納入孔中，
取其香能開竅，又能潤澤，大便一下，庶可望生，
如脂膜遮瞞，無隙可通者，先以金玉簪透之，刺破脂膜，
再以蘇合香丸照前法導之，庶可挽回於萬一耳。

(黑白散) 黑牽牛半生半炒 白牽牛半生半炒 大黃生 檳榔 陳皮各五錢
生甘草三錢 元明粉一兩 以上除檳榔，不過火餘五味，或晒或焙，
仍合檳榔為末，同元明粉入乳缽內研細，每服五分至六七分，溫蜜湯調化。

(蘇合香丸) 蘇合香油五錢入安息香內 安息香一兩另為末用無灰酒半觔熬膏 
丁香 青木香 白檀香 沈香 蓽茇 香附子 訶子煨取肉 烏犀鎊 硃砂各一兩水飛 
薰陸香 片腦各五錢研 麝香七錢半 以上為細末，入安息香膏，煉蜜和劑，
圓如芡實大，空心用沸湯化下，酒下亦可。

<hr class="分段">
初生門
噤口
條文：021
噤口舌上如黍米，吮乳不得啼漸難，清肝龍膽湯極妙，腹硬便柲紫霜丸，
吐涎牙緊擦牙效，次用辰砂全蠍煎，病勢稍安勿過劑，調和脾胃勻氣先。
[註]
小兒噤口之證失治，多至不救，其候舌上生瘡如黍米狀，吮乳不得，
啼聲漸小，因胎熱所致也，法當清熱疏利，以龍膽湯主之，
若肚腹脹硬，二便不通者，紫霜丸主之，
又有一種口吐白沫，牙關緊急者，此胎熱內結，復為風邪外襲，
當以秘方擦牙散先擦其牙關，吹服辰砂全蠍散，
中病即止，不可過服，證退當稠和脾胃，以勻氣散主之。

(龍膽湯) 
柴胡 黃芩 生甘草 鈎藤鈎 赤芍 大黃紙裹煨 龍膽草 蜣螂去翅足
桔梗  赤茯苓 引用棗肉水煎服。
(方歌)
噤口龍膽湯極靈，柴胡黃芩草釣藤，赤芍大黃龍膽草，蜣螂桔梗赤茯苓。

(紫霜丸) 方見二便不通

(秘方擦牙散)生天南星二錢去皮臍 龍腦少許 以上研為極細末,
用脂蘸,合生薑汁放大牙根擦之立效,如不開者,將應用之葯調和稀糊,
含在不病人口內,以筆管插入病人之鼻孔,用氣將
藥極力吹人其關，立時即開，此法有通仙之妙，不可不知。

(辰砂全蠍散)辰砂五分水飛 全蠍三枚去毒 硼砂 龍腦 麝香各一分 
以上為極細末，用乳母唾調抹口唇裹及齒上。

(勻氣散) 方見不乳。

<hr class="分段">
初生門
撮口
條文：022
撮如囊口吮乳難，舌強脣青吐沫痰，面色赤黃胎熱極，四肢厥冷命難全，
痰盛宜用殭蠶散，便柲須進紫霜丸，驚熱龍膽湯極妙，抽搐撮風散自安。
[註]
撮口者，口撮如囊口也，吮乳不得，舌強脣青，面色黃赤，
乃心脾之熱，受自胎中而然也，
其證為危候，急當隨證治之，
如氣高痰盛者，辰砂殭蠶散主之，
二便柲結者，紫霜丸主之，
身熱多驚者，龍膽湯主之，
手足抽搐者，撮風散主之，
若更口吐白沫，四肢厥冷，雖有神丹，終屬無濟。

(辰砂殭蠶散) 辰砂五分水飛 殭蠶一錢直的去系嘴炒 蛇蛻皮一錢炒 
麝香五分 以上為末，用蜜調敷脣口。

(紫霜丸)方見二便不通 

（龍膽湯）方見噤口。

(撮風散) 赤腳蜈蚣半條炙 鈎藤鈎一錢五分 硃砂水飛 直殭蠶焙 
全蠍尾各一錢 麝香一字 以上為末，每服一宇，竹瀝調下。

<hr class="分段">
初生門
臍濕臍瘡 
條文：023
浴兒不慎水浸臍，或因硼袍濕漬之，臍間淋漓多痛瘡，甚則焮腫作瘡痍，
臍濕必用滲臍散，瘡腫金黃散最宜，治療之法須如此，臨證施之不可疑。
[註]
兒生洗浴，不可久在水中，任意洗濯，既包裹畢，宜時常留意，
勿令尿濕浸臍，
如不知慎，遂致肚臍浸漬不乾，名口臍濕，須以滲臍散敷之，
甚則焮赤成瘡，名日臍瘡，須以金黃散敷之，庶不致寒濕之氣內攻也。

(滲臍散) 枯礬 龍骨各二錢煆 麝香少許 共研細末，乾撤臍中。

(金黃散) 川黃連二錢半煆 胡粉 龍骨各一錢 共為末，敷患處。

<hr class="分段">
初生門
臍突
條文：024
嬰兒蘊熱在腹中，呻引頻頻臥不寧，努脹其氣沖臍本，虛大光浮臍突成，
速服犀角消毒飲，二豆能消腫赤攻，最忌寒涼敷臍上，冰凝毒熱反成凶。
[註]
嬰兒熱在腹中，無所發瀉，故頻頻呻引，睡臥不寧努脹，其氣衝入臍間，
所以臍忽腫赤虛大光浮，名日臍突，此乃胎熱所致，非斷臍不利之過也，
內服犀角消毒飲，外敷二豆散，其腫自消，
最忌寒涼之藥敷於臍上，恐寒凝毒熱，反為害也。

(犀角消毒飲) 牛蒡子炒研 生甘草 荊芥 防風 金銀花 水煎熟，
臨服入犀角細末調勻服
(方歌)
犀角消毒牛蒡加，甘草荊防金銀花，細研犀角調勻服，臍突能消功最佳。

(二豆散) 赤小豆不去皮 豆豉 天南星去皮臍 白歛各一錢 以上為細末，
用五分芭蕉汁調敷臍四旁，日二次。

<hr class="分段">
初生門
臍風
條文：025
斷臍不慎起臍風，感受風寒濕水成，將作驅風散最效，已成兼證要分明，
腹脹便秘黑白散，面白肢寒用理中，痰涎壅盛礓蠶散，壯熱面赤龍膽清，
嘔吐多啼益脾治，唇青撮口撮風平，臍青口噤為不治，一臘逢之命必傾。
[註]
臍者小兒之根蒂也，名日神闕，穴近三陰，喜溫惡涼，喜乾惡濕，
如斷臍悉遵前法，臍風何自而起，
惟不知慎重，以致水濕風冷之氣人於臍中，
兒必腹脹臍腫，日夜啼叫，此臍風將作也，須急用驅風散治之，
若寒邪深入，已成臍風者，又當視其所兼之形證治之，
如肚腹脹硬，大便不通者，風兼實也，黑白散主之，
面青肢冷，二便不實者，風兼虛也，理中湯主之，
痰涎壅盛，氣高喘急者，風兼痰也，辰砂殭蠶散主之，
身體壯熱，面赤口乾者，風兼熱也，龍膽湯主之，
面青嘔吐曲腰多啼者，風兼寒也，益脾散主之，
撮口唇青，抽搐不止者，風兼驚也，撮風散主之，
若臍邊青黑，口噤不開者，是為內抽不治，臍風見於一臘者，亦不治，
一臘者七日也，兒生七日，血脈末凝，病已中藏，醫之無益。
(驅風散) 
蘇葉 防風 陳皮 厚朴薑炒 枳殼麩炒 木香煨 殭蠶炒 鈎藤鈎 生甘草
 引用生薑水煎服。
(方歌)
臍風將作用驅風，蘇防陳朴枳香從，殭蠶鈎藤與甘草，生薑加入更靈通。

(黑白散)方見肛門內合

 (理中湯)方見不乳 

(辰砂殭蠶散)方見撮口 

(龍膽湯)方見噤口．

(益脾散) 白茯苓 人參 草果煨 木香煨 炙甘草 陳皮 厚朴薑炒 
紫蘇子各等分炒 共為末，每服一錢，薑棗湯調服。

(撮風散)方見撮口。

<hr class="分段">
初生門
天釣
條文：026
天釣邪熱積心胸，痰涎壅盛氣不通，瘛瘲壯熱同驚證，頭目仰視若釣形，
九龍控涎醫搐掣，牛黃散用善驅風，瘛瘲減參鈎藤飲，爪甲青色蘇合精。
[註]
小兒天釣證，由邪熱痰涎壅塞胸間，不得宣通而成，發時驚悸壯熱，
眼口上翻，手足瘛瘲，爪甲青色，
證似驚風，但目多仰視，較驚風稍異，
痰盛兼搐者，九龍控涎散主之，
驚盛兼風者，牛黃散主之，搐盛多熱者，鈎藤飲主之，
爪甲皆青者，蘇合香丸主之。

(九龍控涎散) 赤腳蜈蚣一條酒塗炙乾 滴乳香 天竺黃各一錢二味研勻
臘茶 雄黃 炙甘草各二錢 荊芥穗炒 白礬各一錢枯 菉豆一百粒半生半熟 
共為末，每服五分，人參薄荷湯調下。

(牛黃散) 牛黃一錢細研 硃砂一錢水飛細研 麝香五分 天竺黃二錢 
蠍梢一錢 鈎藤鈎二錢 共研勻，每服一字，薪汲水調下。

(鈎藤飲) 人參 全蠍去毒 羚羊角 天麻 甘草炙 鈎藤鈎 水煎服。
[註]天釣乃內熱痰盛，應減人參。
(方歌)
天釣須用鈎藤飲，瘛瘲連連無止歇，人參羚羊與鈎藤，炙草天麻共全蠍。

(蘇合香丸) 方見肛門內合。

<hr class="分段">
初生門
內釣
條文：027
內釣肝藏病受寒，糞青潮搐似驚癇，傴僂腹痛吐涎沫，紅絲血點目中纏，
瘛瘲甚者鈎藤飲，急啼腹痛木香丸，肢冷甲青脣口黑，養藏溫中或保全．
[註]
內釣者，多因肝藏素病，外受寒冷，其候糞青潮搐者，作止有時也，
傴僂腹痛者，曲腰而痛也，口吐涎沫，
證雖與驚癇相類，但目有紅絲血點，
瘛瘲甚者，釣藤飲主之，
急啼腹痛者，木香丸主之，
若肢冷甲青脣口黑者，養藏散主之，
然內釣至此，乃中寒陰盛不治之證，用此救治，庶或保全。

(釣藤飲) 方見天釣。

(木香丸) 
沒藥 木香煆 茴香炒 釣藤鈎 全蠍 乳香各等分 先將乳香沒藥研勻，
後入諸藥末和畢，取大蒜少許研細，和丸如桐子大，晒乾，
每次二丸，鈎藤湯下。

(養藏散) 當歸 沈香 木香煨 肉桂 川芎各半兩 丁香二錢 
共為末，每服一錢，淡薑湯調服。

<hr class="分段">
初生門
盤腸氣痛
條文：028
盤腸寒摶腸中痛，曲腰不乳蹙雙眉，定痛溫中豆蔻散，熨臍外治法堪垂。
[註]
凡盤腸氣痛，皆由寒邪所摶，肝腎居下，故痛則曲腰，宜白豆蔻散主之，
外用熨臍法，其效甚速。

(白豆蔻散) 
白豆蔻 砂仁 青皮醋炒 陳皮 炙甘草 香附米製 蓬莪朮各等分 共為末，
每服一錢，紫蘇煎湯調下。

(熨脾法)
淡豆豉 生薑各二錢切碎 蔥白五莖 食鹽一兩 同炒熱，置臍上熨之。

<hr class="分段">
初生門
目爛
條文：029
兒生兩目痛難睜，胞邊赤爛胎熱攻，內用地黃湯清熱，外點真金目即明。
[註]
目爛者，胞邊赤爛，痛癢難睜，
因胎中蘊熱生後，毒熱上攻於目，故有是證，
內服地黃湯以清熱，外用真金散以點目，其證自愈。

(生地黃湯) 方見目不開。

(真金散) 黃連生 黃蘗生 當歸 赤芍藥各一錢 杏仁五分炒去皮尖 以上剉散，
乳汁浸一宿，曬乾為極細末，用生地黃汁調一字，頻頻點眼即愈。

<hr class="分段">
初生門
懸癰
條文：030
腭上腫起號懸癰，皆因胎毒熱上衝，法當刺破鹽湯拭，如聖一字摻之靈．
[註]
凡喉裹上腭腫起如蘆籜盛水狀者，名日懸癰，
蘆籜者蘆筍也，此胎毒上攻，
須以綿纏長鍼留鋒刺之，瀉去青黃赤汁，未消者來日再刺，
刺後以鹽湯拭口，用如聖散或一字散摻之。

(如聖散) 
鉛霜一錢 真牛黃一錢 太陰元精石 碌砂各二錢五分水飛 龍腦五分 
以上為極細末，每用一字摻患處。

(一字散)搽口內。硃砂水飛 硼砂各五分 龍腦 朴硝各一宇 
以上為極細末，用蜜調少許，鵝翎蘸

<hr class="分段">
初生門
重齦
條文：031
重齦胎熱胃中蓄，牙根腫脹痛難禁，刺破一字散敷上，繼進清胃效如神。
[註]
重齦者，因小兒在胎有熱蓄於胃中故牙根腫如水泡，名日重齦，
治法用鍼刺破，以鹽湯拭淨，外敷一宇散，內服清胃散，其腫自消。

(一字散) 方見懸癰。

(清胃散) 生地 丹皮 黃連 當歸 升麻 石膏煆 引用燈心水煎服。
(方歌)
清胃散治胃熱熏，生地黃連當歸身，丹皮升麻石膏煆，臨煎須要入燈心。

<hr class="分段">
初生門
鵝口
條文：032
鵝口白屑滿舌口，心脾蘊熱本胎原，清熱瀉脾搽保命，少遲糜爛治難痊。
[註]
鵝口者白屑生滿口舌，如鵝之口也，
由在胎中受母飲食熱毒之氣，蘊於心脾二經，故生後遂發於口舌之間，
治法以清熱瀉脾散主之，
外用髮蘸井水拭口，搽以保命散，日敷二三吹，白退自安，
倘治之稍遲，必口舌糜爛，吮乳不得，則雖痊矣。

(清熱瀉脾散) 山梔炒 石膏煆 黃連薑炒 生地 黃芩 赤苓 引用燈心水煎服。
(方歌)
清熱瀉脾治鵝口，石膏生地赤苓煎，芩連梔子合成劑，加人燈心病即安。

(保命散) 白礬燒灰 硃砂各二錢五分水飛 馬牙硝五錢 以上研末，
以白鵝糞水攪取汁，塗舌與口角上。

<hr class="分段">
初生門
吐舌
條文：033
吐長收緩名吐舌，皆是心經有熱成，面紅煩渴溺濇赤，瀉心導赤服即寧。
[註]
吐舌者，伸長而收緩也，因心經有熱所致，
故面紅煩躁，口渴尿赤，宜瀉心導赤湯主之。

(瀉心導赤湯) 木通 生地 黃連 甘草生 引用燈心水煎服。
(方歌)
瀉心導赤湯最良，心熱吐舌即堪嘗，木通生地黃連草，燈心加入服自強。

<hr class="分段">
初生門
弄舌
條文：034
弄舌時時口內搖，心脾發熱口唇焦，煩熱舌乾大使穢，瀉黃導赤並能療。
[註]
兒熱口中搖動者，因心脾有熱，以致唇焦舌乾煩熱便穢，
光用瀉黃散，次用瀉心導赤湯。

(瀉黃散) 藿香葉 山梔子炒 石膏煆 防風 甘草生 引用燈心水煎服。
(方歌)
弄舌瀉黃散最神，藿香葉配山梔仁，甘草防風石膏煆，臨時煎服人燈心。

(瀉心導赤湯)方見吐舌。

<hr class="分段">
初生門
重舌 
條文：035
舌下腫突似舌形，心脾積熱上攻衝，內服宜以清熱飲，外敷涼心功最靈。
[註]
重舌者，因舌下近舌根處其腫形似舌，故名重舌，
此心脾之熱，宜服清熱飲外吹涼心散。

(清熱飲) 黃連生 生地 木通 甘草生 連翹去心 蓮子 
引用淡竹葉水煎，時時灌入口中
(方歌)
清熱飲內用黃連，生地蓮子木通甘，連翹更加淡竹葉一同煎服自然安。

(涼心散) 青黛 硼砂 黃蘗 黃連人乳拌曬 人中白各二錢煆過 
風化硝一錢 冰片二分
以上為極細末，吹之甚效。

<hr class="分段">
初生門
木舌
條文：036
木舌心脾積熱成，腫脹木硬證多凶，外用川硝敷舌上，內服瀉心導赤靈。
[註]
木舌一證，皆因心脾積熱而成，
蓋脾之脈絡在舌下，又舌為心苗，遇火上衝，令兒舌腫滿木硬，不能轉動，
故名木舌，
外用川硝散敷舌上，內服瀉心導赤湯，若不急治，必致難救。

(川硝散) 朴硝五分 真紫雪二分 鹽一分 以上為細末，以竹瀝調敷舌上。

(瀉心導赤散)方見吐舌

<hr class="分段">
初生門
哯乳 
條文：037
哯乳之候非一端，傷乳停痰胃熱寒，熱宜和中清熱飲，寒用溫中止吐煎，
傷乳平胃散最妙，停痰二陳湯可痊，若是滿而自溢者，常須節乳自能安。
[註]
小兒哯乳，證非一端，有宿乳停痰胃寒胃熱之分，不可一例而治，
如面色多赤，二便微秘，手足指熱，此為熱哯也，宜和中清熱飲主之，
面色青白，糞清多沫，手足指冷，此因寒而哯也，宜溫中止吐湯主之，
口熱脣乾，夜臥不寧，手足心熱，此為傷乳而哯也，宜平胃散主之，
胸膈膨滿，嘔吐痰涎，此因停痰而哯也，宜枳桔二陳湯主之，
若喫乳過多，滿而自溢者，不須服藥，惟節乳則哯自止矣。

(和中清熱飲) 黃連薑炒 半夏薑製 陳皮 茯苓 藿香 砂仁 引用薑水煎服。
(方歌)
和中清熱飲黃連，半夏陳皮茯苓攢，藿香砂仁合成劑，水煎徐服可安全。

(溫中止吐湯) 白豆蔻研 茯苓 半夏薑製 生薑 水煎沖磨沈香汁服。
(方歌)
溫中止吐白豆蔻，茯苓半夏共生薑，臨服沈香汁加人，專治哯乳自寒傷。

(平胃散) 蒼朮炒 陳皮 厚朴薑炒 甘草炙 麥芽炒 砂仁研 引用薑水煎服。
(方歌)
小兒傷乳多吐哯，平胃調和功可見，蒼陳厚朴甘草偕，加人麥砂薑一片。

(枳桔二陳湯) 枳殼麩炒 桔梗 陳皮 半夏薑製 茯苓 甘草炙 引用薑水煎服。
(方歌)
停痰哯乳不能安，枳桔二陳湯最先，枳桔陳半苓甘草，生薑加入即時痊。

<hr class="分段">
初 生 門
夜啼
條文：038
夜啼寒熱因胎受，須將形色辨分明，寒屬脾經面青白，手腹俱冷曲腰疼，
面赤溺閉屬心熱，熱用導赤寒釣藤，若無寒熱表裹證，古法蟬花散最精。
[註]
小兒初生夜啼，其因有二，一日脾寒，一日心熱，皆受自胎中，
觀其形色便知病情矣，
如面色青白，手腹俱冷，不欲吮乳，曲腰不伸者，脾寒也，鈎藤飲主之，
面赤脣紅，身腹俱熱，小便不利，煩躁多啼者，心熱也，導赤散主之，
若無以上形證，但多啼者，用蟬花散最當。

(鈎藤飲) 
川芎 白當歸 茯神 白芍炒 茯苓 甘香 木香煨 鈎藤鈎 引用紅棗水煎服。
(方歌)
夜啼之證因脾寒，須服釣藤飲可痊，芎歸神芍苓甘草，木香鈎藤紅棗煎。

(導赤散) 方見小便不通。

(蟬花散) 蟬蛻不拘多少用下半截 以上研細末，每服少許，薄荷煎湯調下。

<hr class="分段">
初生門
胎黃
條文：039
兒生徧體色如金，濕熱熏蒸胎受深，法當滲濕兼清熱，地黃犀角二方神。
[註]胎黃者，徧體面目皆黃，其色如金，
乃孕婦濕熱太盛，小兒在胎受母熱毒，故生則有是證也，
法當滲濕清熱，須分輕重治之，色微黃生地黃湯，深黃者犀角散。

(生地黃湯) 生地黃 赤芍藥 川芎 當歸 天花粉 赤茯苓 澤瀉 豬苓 甘草生 
茵陳蒿 引用燈心水煎，食前服。
(方歌) 
胎黃須用地黃湯，四物花粉赤苓良，澤瀉豬苓甘草等，茵蔯加入水煎嘗。
(犀角散) 犀角鎊 茵蔯蒿 栝蔞根 升麻 甘草生 龍膽草 生地 寒水石煆 
水煎不拘時服。
(方歌)
胎黃又有犀角散，甘草犀角與茵蔯，升麻膽草生地共，寒水石同栝蔞根。

<hr class="分段">
初生門
胎赤
條文：040
胎赤胎中受毒熱，生後遍體若丹塗，清熱解毒湯極妙，蔣氏化毒功效殊。
[註]
胎赤者，因孕婦過食辛熱之物，以致毒熱凝結，蘊於胞中，
遂令小兒生下頭面肢體赤若丹塗，故名日胎赤，
當以清熱解毒湯主之，
熱盛便秘者，蔣氏化毒丹主之。

(清熱解毒湯) 生地 黃連 金銀花 薄荷葉 連翹去心 赤芍 木通 甘草生 
引用燈心水煎服。
(方歌)
清熱解毒湯堪誇，生地黃連金銀花，薄荷連翹赤芍藥，木通甘草燈心加。

(蔣氏化毒丹) 犀角 黃連 桔梗 元參 薄荷葉 甘草生 大黃各一兩生 青黛五錢 
以上為細末，煉白蜜為丸，重六分，每服一丸，燈心湯化服。

<hr class="分段">
初生門
赤遊風 
條文：041
赤遊胎中毒熱成，皮膚赤腫遍身行，頭面四肢猶可治，若歸心腹命難生，
內服犀角藍葉散，外用砭法敷神功，百日之內忌砭血，貼塗二法可安寧。
[註]
小兒赤遊風證，多由胎中毒熱而成，或生後過於溫暖，毒熱蒸發於外，
以致皮膚赤熱而紅腫，色若丹塗遊走不定，行於遍身，故名日赤遊風，
多發於頭面四肢之間，
若內歸心腹則死，治法當服犀角解毒飲，
如不愈，繼以藍葉散，外用砭法刺出毒血，
毒甚者，敷以神功散，毒輕者，不用敷藥，
在百日內者，小兒忌砭血，以其肌肉難任也，須用豬肉貼法，
或以赤小豆末雞子清調塗之甚效。
(犀角解毒飲) 牛蒡子炒 犀角 荊芥穗 防風 連翹去心 金銀花 
赤芍藥 生甘草 川黃連 生地黃 引用燈心水煎服。
(方歌)
犀角解毒藥最良，牛蒡犀角合荊防，連翹銀花赤芍藥，甘草川連生地黃。

(藍葉散) 藍葉五錢 黃芩 犀角屑 川大黃剉微炒 柴胡 梔子各二錢生 
川升麻一錢  石膏 生甘草一錢 以上為粗末，每服一錢，
水一小盞，煎五分，去渣兌竹瀝一酒盃，煎三兩沸
放溫，量兒大小用之，氣怯弱者可去大黃。
(砭血法) 
口吮毒血各聚一處，用細磁器擊碎，取鋒芒者，將筋頭劈開夾住，
用線縛定，兩指輕撮筋梢，令磁芒對聚血處，再用筋一根頻擊，刺出毒血，
砭後毒甚者，以神功散敷之，毒輕者，砭後不可用，恐皮膚即破草烏能作痛也，
如患在頭者，不用砭法，只宜臥鍼倒挑患處，出毒血則愈。

(神功散) 黃蘗炒 草烏生 以上為末，等分用漱口水調敷，頻以漱口水潤之。

(豬肉貼法) 用生豬肉切片，貼於赤腫處，數數更換。

(塗法) 生赤小豆不拘多少，研為細末，用雞子清調塗患處，乾則再塗。

<hr class="分段">
初生門
初生無皮
條文：042
兒生無皮有二端，父母梅毒遺染傳，或因未足月生早，無皮赤爛痛難堪，
梅毒換肌消毒散，胎怯當歸飲能痊，外敷清涼鵝黃粉，毒解形完膚自堅。
[註]
嬰兒生下無皮，其證有二，
或因父母素有楊梅結毒，傳染胞胎，
故生下或上半身赤爛，或下半身赤爛，甚至色帶紫黑，
又有因月分末足，生育太早，遍體浸漬紅嫩而光，
二證俱屬惡候遺毒者，內服換肌消毒散，外用清涼膏，或鵝黃散敷之，
胎元不足者，內服當歸飲，外用稻米粉撲之，
毒解形完者，謂解去毒氣，其皮自慚漸生完而堅實矣。

(換肌消毒散) 當歸 生地黃 赤芍藥 川芎 皂刺 土茯苓 金銀花 
連翹去心 甘草生自芷 苦參 白蘚皮 防風 引用燈心水煎服。
(方歌)
無皮換肌消毒治，四物皂刺土茯苓，銀花連翹草白芷，苦參白蘚共防風。

(當歸飲) 何首烏製 白蘚皮 白蒺藜 甘草 當歸 生地黃 白芍藥 
人參 黃耆 川芎 水煎服。
(方歌)
當歸飲治兒無皮，面白肢冷服最宜，首烏蘚皮白蒺藜，甘草四物共參耆。

(清涼膏) 石灰四兩朱經水濕成塊者 用水泡之，沒指半許，
露一宿，面上有浮起如雲片者，輕輕取之，微帶清水，視其多寡，
對小磨香油亦如之，以順攪成膏為度，用雞翎搽之自愈。

(鵝黃散) 
黃蘗生 石膏各等分煆 共研為細末撲之，濕則乾撲，乾則用豬苦膽調搽。

(撲粉法) 旱稻白米作粉，時時撲之，其皮漸生神效。

<hr class="分段">
初生門
變蒸
條文：043
萬物春生夏熱長，兒生同此變形神三十二日為一變，六十四日日一蒸，
變長百骸生藏府，蒸璔智慧發聰明，十八五百七十六，變蒸即畢形神成，
變蒸之狀身微熱，耳尻骨冷無病情。
[註]
天地生化萬物，必以春溫夏熱，兒之初生，變生形神亦同此理，
自生之日至三十二日，日一變，至六十四日日一蒸，變則長其百骸，
生其藏府，蒸則璔其智慧，發其聰明也，
日十八五百七十六者，謂十變五蒸之，外又有三大蒸，合計五百七十六日也，
變蒸即畢，形神俱足，此後則不復變蒸矣，
然每變蒸之時，其狀惟身微熱、耳冷、尻骨冷而無他病情狀，
蓋以陰陽和變，生化神氣，故無他病情狀也，
身微熱者，以陰陽氤氳變蒸之氣而然也，
耳尻冷者，耳尻屬陰，以陽不傷陰，而與陰和之象，故不熱也。
[按]
變蒸即口生五藏六府次序，又曰包絡三焦二經俱無形狀，故不變
不蒸，夫包絡乃周身脂膜聯絡百骸藏府者，三焦乃軀殼內氣充滿百骸藏府者，
變蒸時豈獨不及之耶，其說不經，細閱靈素自知，附辨以俟識者。

<hr class="分段">
驚風門
驚風總括
條文：001
心主驚兮肝主風，心熱肝風作急驚，素虛藥峻因成慢，吐瀉後起慢脾風，
急驚陽證有實象，慢脾陰證有虛形，慢驚半陰半陽證，虛實寒證要詳明。
[註]
心藏神，心病故主驚也，肝屬木，肝病故主風也，
凡小兒心熱肝盛，一觸驚受風，則風火相搏，必作急驚之證也，
若素稟不足，或因急驚用藥過峻，暴傷元氣，每致變成慢鷘之證，
更有因吐瀉既久，中氣大虛，脾土衰弱，肝木乘虛而內生驚風者，
名曰慢脾風也，
三者致病之因即不同，故所現之證亦各異，
急驚屬陽，必有陽熱有餘等實象也，
慢脾屬陰，必有陰冷不足等虛象也，
至於慢驚初得之時，陰陽尚未過損，或因急驚傳變而成，
其中常有夾痰夾熱等證，如屬半陰半陽，不比慢脾純陰之病也，
治者須詳分虛實寒熱以治之，庶不致誤矣。

<hr class="分段">
驚風門
驚風八候 
條文：002
驚風八候搐搦掣，顫反引竄視之名，胕臂伸縮名為搐，十指開合搦狀成，
勢若相撲謂之掣，顫則頭肢動搖鈴，反張身仰頭向後，引狀兩手若開弓，
竄則目直常似怒，視則睹物不轉睛，內外左右分順逆，須視急慢證皆同。
[註]
八候謂搐搦掣顫反引竄視是也，
搐謂胕臂伸縮，
搦謂十指開合，
掣謂肩頭相撲，
顫謂手足動搖，
反者身仰向後，
引者手若開弓，
竄則目直而似怒，
視則睛露而不活，
其搐以男左手女右手，男大指在外，女大指在內為順，反是為逆，
此候急驚慢驚同皆見之，虛實無所異焉，治者宜切記之。

<hr class="分段">
驚風門
通關救急法
條文：003
驚風搐搦神昏憒，痰壅氣塞在心胸，急用通關吹入鼻，無嚏則死有嚏生。
[註]
驚風搐搦，必神氣昏憒，皆由痰壅氣塞，壅結胸中而致，
急用通關散吹入鼻內，無嚏者不治，有嚏者審其表裹虛實隨證治之。

(通關散) 
半夏生 皂角 細辛 薄荷各等分 共為細末，用筆管吹入鼻內少許。

<hr class="分段">
驚風門
急驚風 
條文：004
急驚觸異心驚熱，或由風礬火生風，暴發痰盛或熱極，壯熱煩急面唇紅，
痰壅氣促牙關噤，二便秘濇脈數洪，驚用鎮驚風至寶，牛黃攻痰涼膈清，
平治羌活瀉青等，化痰導赤共涼驚。
[註]
急驚風一證，有因目觸異物耳聞異聲，神散氣亂而生者，
有因心肝火盛，外為風寒鬱閉，不得宣通而生者，
有因痰熱極盛而內動風者，
然證多暴發壯熱，煩急面紅脣赤，痰壅氣促，牙關噤急，二便秘濇，
噤急者齒緊急不能開也，
二便秘濇者，大便秘結而小便澀難也，
脈洪數者主陽熱也，
觸異致驚者，清熱鎮驚湯安神鎮驚丸主之，
火鬱生風者，至寶丹主之，
痰盛生驚者，牛黃丸攻下之，
熱極生風者，涼膈散清解之，病不甚者，則用平治之法，
風熱者，羌活散主之，
肝熱者，瀉青丸主之，
痰兼熱者，清熱化痰湯主之，
心經熱者，導赤散涼驚丸主之，惟在臨證者審而用之。

(清熱鎮驚湯) 柴胡 薄荷 麥冬去心 梔子 川黃連 龍膽草 茯神
 鈎藤鈎 甘草生 木通 引加燈心竹葉調硃砂末服。
 (方歌)
清熱鎮驚治外驚，柴胡薄荷麥門冬，梔子黃連龍膽草，茯神釣藤草木通。

(安神鎮驚丸) 
天竺黃 茯神各五錢 膽星 棗仁炒 麥冬去心 赤芍 當歸各三錢
 薄荷葉 黃連 辰砂 牛黃 梔子 木通 龍骨各三錢煆 青黛一錢 
以上為細末，煉蜜丸如菉豆大，赤金箔為衣，量兒大小與之，淡薑湯化下。

(至寶丹) 麻黃 防風 荊芥 薄荷 當歸 赤芍 大黃 芒硝 川芎 
黃芩 桔梗 連翹去心 白朮土炒 梔子 石膏煆 甘草生 滑石 
全蠍去毒 細辛 天麻 白附子 羌活 殭蠶炒 川連 獨活 黃蘗各等分
 以上共為細末，煉蜜為丸，每丸重五分，量兒大小與之，薑湯化下。

(牛黃丸) 黑牽牛 白牽牛各七錢半 膽星 枳實麩炒 半夏各五錢薑製 
牙皂二錢去皮弦  大黃一兩半 以上研極細末，煉白蜜為丸，重五分，
量兒大小與之，薑湯化下。

(涼膈散) 
黃芩 大黃 連翹去心 芒硝 甘草生 梔子 薄荷 引用竹葉生蜜煎服。
無汗者，加防風羌活。
(方歌)
涼膈散治膈熱盛，梔翹芩薄芒硝黃，便秘硝黃加倍用，無汗更加羌活防。

(羌活散) 羌活 防風 川芎 薄荷 天麻 殭蠶炒 甘草生 川黃連 
柴胡 前胡 枳殼麩炒 桔梗 引用生薑水煎服。
(方歌)
羌活散風兼清熱，羌防川芎薄荷葉，天麻殭蠶草黃連，柴胡前胡枳殼桔。

(瀉青丸) 龍膽草焙 梔子 大黃煨 羌活 防風各一錢 川芎錢半 
以上研末，煉蜜為丸，
如梧桐子大，竹葉薄荷湯調下。

(清熱化痰湯) 橘紅 麥冬去心 半夏薑製 赤苓 黃芩 竹茹 
甘草生 川連 枳殼麩炒  桔梗 膽星 引用生薑燈心水煎服。
(方歌)
清熱化痰有橘紅，麥冬半夏赤茯苓，黃芩竹茹生甘草，川連枳桔膽南星。

(瀉心導赤清) 方見木舌

(涼驚丸) 
龍膽草 防風 青黛各三錢 鈎藤鈎二錢 黃連五錢 牛黃一錢 
以上研細末，麵糊為丸，如粟米大，量兒大小與之，金器煎湯化下。

<hr class="分段">
驚風門
急驚後調理法
條文：005
急驚之後尚未清，痰熱琥珀抱龍靈，神虛氣弱痰兼熱，清心滌痰功效呈。
[註]
急驚多用寒涼之藥，亦急則治標之法，
但得痰火稍退，即當調補氣血，
若過用寒涼,必致轉成慢驚等證，
故驚邪一退，餘熱尚在者，當用琥珀抱龍丸主之，
若脾虛多痰者，宜清心滌痰湯主之。

(琥珀抱龍丸) 人參 琥珀 茯神各五錢 山藥一兩炒 甘草四錢炙 
檀香三錢 天竺黃 枳殼麩炒 枳實各五錢麩炒 辰砂三錢 膽星五錢 
赤金箔二十片 以上為細末，煉蜜為丸,每丸重一錢，
大兒一丸，小兒半丸，淡薑湯化下。

(清心滌痰湯) 竹茹 橘紅 半夏薑製 茯苓 枳實麩炒 甘草生 
麥冬去心 棗仁炒 人參 菖蒲 南星 川黃連 引用生薑水煎服。
(方歌)
清心滌痰湯效靈，補正除邪兩收功，參苓橘半連茹草，枳實菖棗星麥冬。

<hr class="分段">
驚風門
慢驚風
條文：006
慢驚多緣稟賦弱，或因藥峻損而成，緩緩搐搦時作止，面白青黃身則溫，
昏睡眼合睛或露，脈遲神慘大便青，氣虛夾痰醒脾效，脾虛肝旺緩肝靈．
 [註]
慢驚一證，或緣稟賦虛弱，土虛木盛者有之，
或由急驚過用峻利之藥以致轉成此證者有之，
發時緩緩搐搦，時作時止，
面色淡黃，或青白相兼，身必溫和，昏睡眼合，
或睡臥露睛，脈來遲緩，神氣慘慘，大便青色，
此乃脾胃虛弱，治宜培補元氣為主，
虛而夾痰者，醒脾湯主之，
脾虛肝旺者，緩肝理脾湯主之。

(醒脾湯) 人參 白朮土炒 茯苓 天麻 半夏薑製 橘紅 全蠍去毒 
殭蠶炒 甘草炙 木香 倉米 膽南星 引用生薑水煎服。
(方歌)
氣虛夾痰醒脾治，參朮天麻白茯苓，橘半全蠍殭蠶草，木香倉米膽南星。

(緩肝理脾湯) 廣桂枝 人參 白茯苓 白芍藥炒 白朮土炒 陳皮 
山藥炒 扁豆炒研 甘草炙 引用煨薑大棗水煎服。

(方歌)
肝旺脾虛緩肝湯，桂枝參苓芍朮良，陳皮山藥扁豆草，煎服之時入棗薑。

<hr class="分段">
驚風門
夾熱夾痰慢驚
條文：007
慢驚夾熱或夾痰，身熱心煩口溢涎，宜以清心滌痰治，白丸柴芍六君煎。
[註]
慢驚之證，本無熱可言，但脾虛虛熱內生，
故痰涎上泛，咽喉氣粗，身熱心煩，所謂虛夾痰熱是也，
痰熱相兼者，清心滌痰湯主之，
脾虛肝旺痰盛者，青州白丸子柴芍六子君湯主之。

(清心滌痰湯) 方見急驚後調理法。

(青州白丸子) 生川島五錢去皮臍 生半夏七兩 南星三兩生 白附子二兩生 
以上為末，盛生絹袋內，用井花水擺出粉，未盡再擺，以粉盡為度，
罝磁盆內，日曬夜露，每早撇去舊水，別用新水攪，
春五日，夏三日，秋七日，冬十日，去水曬乾，研為細末，
用糯米粉煎粥清丸菉豆大，每服三五丸，薄荷湯送下。

(柴芍六君子湯) 人參 白朮土炒 茯苓 陳皮 半夏薑製 甘草炙 
柴胡 白芍炒 鈎藤鈎 引用薑棗水煎服。
(方歌)
脾虛木旺風痰盛，四君人參朮草苓，痰盛陳半因加人，肝風更用柴芍藤。

<hr class="分段">
驚風門
慢脾風
條文：008
肝盛脾衰金氣弱，金失承制木風生，每因吐瀉傷脾胃，閉目搖頭面唇青，
額汗昏睡身肢冷，舌短聲啞嘔澄清，溫中補脾為主劑，固真理中隨病情．
[註]
慢脾風一證，多緣吐瀉即久，脾氣大傷，以致土虛不能生金，
金弱不能制木，肝木強盛，惟脾是剋，
故曰脾風，閉口搖頭，面唇青黯，額汗昏陲，四肢厥冷，
舌短聲啞，頻嘔清水，此乃純陰無陽之證，
逐風則無風可逐，治驚則無驚可治，
惟宜大補脾上，生胃回陽為主，
吐瀉亡陽者,溫中補脾湯主之,
大病後成、固真湯主之，四肢厥冷者，理中湯加附子主之。

(溫中補脾湯) 
人參 黃耆蜜炙 白朮土炒乾薑 附子製 半夏薑製 陳皮 茯苓 砂仁
肉桂去粗皮研 白芍炒焦 甘草炙 丁香  引用煨薑水煎服。
(方歌)
慢脾溫中補脾湯，參耆白朮共乾薑,陳半附苓縮砂桂,白芍甘草共丁香

(固真湯) 人參 白朮土炒 肉桂去粗皮 白茯苓 山葯炒 黃耆蜜炙 
甘草濕紙裏透 附子去皮臍湯泡浸 引用薑棗水煎服。
(方歌)
固真湯治慢脾風，人參白朮桂茯苓，山葯黃耆煨甘草，附子浸泡最宜精。

(理中湯) 方見不乳。

<hr class="分段">
癇證門
癇證總括
條文：001
小兒癇證類痙驚，發時昏倒搐涎聲，食頃即甦如無病，陰陽驚痰食風分。
[註]
癇證類乎驚風，痙風者謂發時昏倒抽搐，痰涎壅盛，氣促作聲，
與驚痙二證相似也，但四體柔軟，一食之頃即醒，依然如無病之人，
非若痙風一身，強硬，終日不醒也，
陰者陰癇也，見藏陰證，陽者陽癇也，見府陽證，
驚癇因驚，痰癇因痰，食癇因食，風癇因風，
其證不一，治亦不同，臨證宜詳辨之。

<hr class="分段">
癇證門
陰癇
條文：002
陰癇屬藏肢厥冷，偃臥拘急面白青，吐沫聲微脈沈細，醒脾固真定癇靈。
[註]
陰癇屬陰藏寒之病也，多因慢驚之後痰入心包而得，
發時手足厥冷，偃臥拘急，面色青白，口吐涎沫，聲音微小，脈來沈細，
輕者醒脾湯，重者固真湯，病退調理用定癇丹主之。

(醒脾湯)方見慢驚門 

(固真湯)方見慢脾風。

(定癇丹) 人參三錢 當歸三錢 白芍三錢炒 茯神 棗仁各五錢炒 
遠志三錢去心 琥珀三錢 天竺黃四錢 白朮五錢土炒 橘紅 半夏薑製 
天麻各三錢 鈎藤鈎四錢 甘草二錢炙 以上共為細末，煉蜜丸如榛子大，
每服一丸，淡薑湯化服。

<hr class="分段">
癇證門
陽癇
條文：003
陽癇屬府身熱汗，仰臥面赤脈數洪，噤急啼叫吐涎沫，龍膽瀉青與抱龍。
[註]
陽癇屬陽，府熱之病也，
多因急驚去風下痰不淨，久而致成此證，
發時身熱自汗，仰臥面赤，脈象洪數，牙關噤急，
或啼叫不已，口吐涎沫，
如風兼熱者，用龍膽湯，肝經熱者，用瀉清
丸，痰涎壅盛者，用四製抱龍丸主之。

(龍膽湯)方見噤口。

(瀉清丸)方見急驚風。

(四製抱龍丸) 天竺黃五錢 辰砂二錢 膽星一兩 雄黃二錢 
麝香一分半 以上為極細末，另用麻黃，款冬花，甘草，各五錢煎湯，
去滓慢火熬成，膏和藥末為丸，如芡實大，每服一丸，
薄荷湯化下。

<hr class="分段">
癇證門
驚癇
條文：004
驚癇觸異驚神氣，吐舌急叫面白紅，發作如人將捕狀，安神大青鎮驚功。
[註]
小兒小肝熱盛，偶被驚邪所觸，因而神氣潰亂，遂成癇證，
發時吐舌急叫，面色乍紅乍白，悚惕不安，如人將捕之狀，
先服大青膏，次服鎮驚丸，則癇自定矣。

(大青膏) 天麻三錢 白附子二錢 青黛一錢研 蠍尾一錢去毒 
硃砂一錢研 天竺黃二錢麝香三分 烏梢蛇肉一錢酒浸焙乾 
以上同研細，煉蜜和膏，每服大兒五分，小兒三分，薄荷湯化服。

(鎮驚丸) 茯神 麥冬各五錢去心 辰砂 遠志去心 石菖蒲 
棗仁各三錢炒 牛黃一錢半 川黃連三錢生 珍珠二錢 膽星五錢 
鈎藤鈎五錢 天竺黃五錢 犀角三錢 甘草二錢生 以上共研細末，
煉蜜為丸每丸重五分，量兒與之，用淡薑湯下。

<hr class="分段">
癇證門
痰癇
條文：005
痰癇平素自多痰，發時痰壅在喉間，氣促昏倒吐痰沫，一捻金與滾痰丸。
[註]
痰癇者，因小兒平素痰盛，或偶因驚熱，遂成至癇，
發時痰涎壅塞喉間，氣促昏倒，口吐涎沫，
宜先服一捻金以急下其痰，吹服硃衣滾痰丸，則氣順痰清而癇自止矣。
(一捻金) 方見不乳。
(硃衣滾痰丸) 礞石一兩煆 沈香五錢 黃芩七錢 大黃一兩 以上為細末，
水泛為丸，硃砂為衣，多寡量兒大小，白滾水化服。

<hr class="分段">
癇證門
食癇
條文：006
食癇食過積中脘，一時痰熱使之然，面黃腹滿吐利臭，妙聖滾痰和胃安。
[註]
食癇者，其病在脾，因小兒乳食過度，停結中脘，
乘一時痰熱壅盛，遂致成癇，
其初面黃腹滿，吐利酸臭，後變時時發搐，宜用妙聖丹主之，
痰盛者硃衣滾痰丸主之，後用清熱和胃丸調理，則積滯清而驚癇定矣。

(妙聖丹) 雄黃 蠍梢 硃砂 代赭石各二錢煆醋淬 巴豆三個去油 
杏仁二錢炒去皮尖 以上共為細末，蒸棗肉丸如桐子大，每服三五丸，
木香煎湯化服。

（硃衣滾痰丸）方見痰癇。

(清熱和胃丸) 川連五錢生 梔子五錢生 竹茹四錢 麥冬五錢去心
連翹四錢去心 山查一兩 神麴一兩炒 麥芽一兩炒 陳皮四錢 枳實五錢麩炒
大黃五錢 甘草三錢生 以上為細末，煉蜜為丸，每丸重一錢，
量兒與之，用白滾水化下。

<hr class="分段">
癇證門
風癇
條文：007
風癇汗出風襲經，二目青黯面淡紅，十指屈伸如數物，化風羌活牛黃功。
[註]
風癇因汗出脫衣，腠理開張，風邪乘隙而入，
發時目青面紅，手如數物，
治法先宜疏風解表，輕則化風丹主之，重則羌活桂枝湯主之，
風兼痰者，牛黃丸主之。

(化風丹) 膽星二錢 羌活 獨活 天麻 防風 甘草炙 荊芥穗 
人參 川芎各一錢 以上共為細末，煉蜜丸皂子大，每服一丸，
薄荷湯化開服。

(羌活桂枝湯) 羌活 防風 麻黃 桂枝 天麻 大黃 甘草生 
引用生薑水煎服。
(方歌)羌活桂枝治風癇，疏風瀉熱難妙言，羌防麻桂天麻草，
大黃煎服自然痊。

(牛黃丸) 膽星 全蠍去毒 蟬退各一錢半 防風 牛黃 白附子生 
殭蠶炒 天麻各一錢五
分 麝香五分 以上為細末，煮棗去核皮，取肉和丸，如菉豆大，
每服三五丸，生薑湯化服。

<hr class="分段">
疳證門
條文：001
疳證總括
大人為勞小兒疳，乳食傷脾是病原，甘肥失節生積熱，氣血津液被熬煎，
初患尿泔午潮熱，日久青筋肚大堅，面色青黃肌肉瘦，皮毛憔悴眼睛晛．
 [註]
大人者十五歲以上也，病則為勞，
若十五歲以下者，皆名為疳，
緣所稟之氣血虛弱，藏府嬌嫩，易於受傷，
或因乳食過飽，或因肥甘無節，
停滯中脘，傳化遲滯，腸胃漸傷，則生積熱，熱盛成疳，
則消耗氣血，前灼津液，
凡疳病初起，尿如米泔，午後潮熱，
日久失治，致令青筋暴露，肚大堅硬，面色青黃，肌肉消瘦，
皮毛憔悴，眼睛發晛，而疳證成矣，
然當分其所屬而治之，庶不致有誤也。

<hr class="分段">
疳證門
脾疳
條文：002
脾疳面黃肌消瘦，身熱困倦喜睡眠，心下痞硬滿腫脹，臥冷食泥腹痛堅，
頭大頸細食懶進，吐瀉煩渴便腥黏，攻積消疳肥兒治，補脾參苓白朮先。
 [註]
脾屬土，色黃主肌肉，
故脾疳則見面黃肌肉消瘦，身體發熱，困倦喜睡，
心下痞硬乳食懶進，睡臥喜冷，好食泥土，肚腹堅硬疼痛，
頭大頸細，有時吐瀉，口乾煩渴，大便腥黏之證也，
宜先攻其積，用消疳理脾湯肥兒丸主之，
積退然後調理其脾，以參苓白朮散主之。

(消疳理脾湯) 蕪荑 三棱 莪朮 青皮炒 陳皮 蘆薈 檳榔 
史君子肉 甘草生 川黃連 胡黃連 麥芽炒 神麴炒 引用燈心水煎服。
(方歌)
消疳理脾用蕪荑，三棱莪朮青陳皮 蘆薈檳榔史君草， 連胡連麥芽麴。

(肥兒丸) 人參二錢半 白朮五錢土炒 茯苓三錢 黃連二錢 
胡黃連五錢 史君子肉四錢神麴炒 麥芽炒 山查肉各三錢半 
甘草錢半炙 蘆薈二錢半煆 以上為末，黃米糊丸，如黍米大，
每服二三十丸，米湯化下。

(參苓白朮散) 人參二錢 茯苓 白朮土炒 扁豆炒 薏米炒 
山藥各五錢炒 陳皮三錢 縮砂 桔梗各二錢 甘草一錢炙 建蓮子五錢去心
以上共為細末 每服一錢，老米湯調服。

<hr class="分段">
疳證門
疳瀉
條文：003
疳疾傷脾因作瀉，先清後補為妙訣，初宜清熱和中湯，久瀉參苓白朮捷。
[註]
疳瀉之證多緣積熱傷脾，以致水榖不分，頻頻作瀉，
法當清熱滲濕，以清熱和中湯主之，
若瀉久不愈，當漸為調理，參苓白朮散主之。

(清熱和中湯) 白朮土炒 陳皮 厚朴薑炒 赤苓 黃連 神麴炒 
穀芽炒 史君子 生甘草 澤瀉 引用燈心水煎服。
(方歌)
疳久泄瀉名疳瀉，清熱和中功甚捷，白朮陳厚赤苓連，柛榖史君草澤瀉。

(參苓白朮散) 方見脾疳。

<hr class="分段">
疳證門
疳腫脹
條文：004
疳疾腫脹面浮光，傳化失宜脾肺傷，氣逆喘欬胸膈滿，御苑勻氣服最良。  
[註]
疳病腫脹之證，多因傳化失宜，以致肺脾兩傷，
現證氣逆喘欬，胸膈痞悶，肚腹腫脹，面色浮光，
宜用御苑勻氣散治之，其腫脹自消矣。

(御苑勻氣散) 桑皮蜜炒 桔梗 赤苓 甘草生 藿香 陳皮 木通 引用薑皮燈心水煎服。
(方歌)
疳久脾虛腫脹生，御苑勻氣有奇功，桑皮桔梗赤苓草，藿香陳皮合木通。

<hr class="分段">
疳證門
疳痢
條文：005
疳疾日久頻下痢，多緣腸胃熱凝滯，或赤或白腹窘急，香連導滯為妙劑。
[註]
疳痢之由，皆因熱結腸胃所致，
故痢時或赤或白，腹中窘痛，
急用香連導滯湯治之，其痢自愈。

(香連導滯湯) 青皮炒 陳皮 厚朴薑炒 川黃連薑炒 生甘草 山查 神麴炒 
木香煨 檳榔 大黃 引用燈心水煎服。
(方歌)
疳久下痢名疳痢，香連導滯功最良，青陳厚朴川連草，查麴木香檳大黃。

<hr class="分段">
疳證門
肝疳
條文：006
肝疳面目爪甲青，眼生眵淚澀難睜，搖頭揉目合面臥，耳流濃水濕瘡生，
腹大青筋身羸瘦，燥渴煩急糞帶青，清熱柴胡同蘆薈，調養逍遙抑肝靈．
[註]
肝屬木，包青主筋，故肝疳則見面目爪甲皆青，眼生眵淚，
隱澀難睜，搖頭揉目，合面睡臥，耳瘡流膿，腹大青筋，身體羸瘦，
燥渴煩急，糞青如苔之證也，
治宜先清其熱，用柴胡清肝散，蘆薈肥兒丸主之，
治病勢稍退，當以逍遙散抑肝扶脾湯調理。

(柴胡清肝散) 銀柴胡 梔子微炒 連翹去心 生地黃 胡黃連 赤芍 
龍膽草 青皮炒 甘草生．引用燈心竹葉水煎。
(方歌)
柴胡清肝治肝疳，銀柴梔子翹胡連，生地赤芍龍膽草，青皮甘草一同煎。

(蘆薈肥兒丸) 五穀蟲二兩炒 蘆薈生 胡黃連薑 川黃連各一兩薑炒 
銀柴胡一兩二錢炒  扁豆炒 山藥各二兩炒 南山查二兩半 蝦蟆四個煆 
肉豆蔻七錢煨 檳榔五錢 使君子二兩半炒 神麴三兩炒 麥芽一兩六錢炒 
鶴虱八錢炒 蕪荑一兩炒 硃砂二錢飛 麝香二錢 共研細末，醋糊為丸，
如黍米大，每服一錢，米飲下。

(加味逍遙散) 茯苓 白朮炒 當歸 白芍炒 柴胡 薄荷 炙甘草 
丹皮 梔子炒 引用薑棗水煎服。
(方歌)
加味逍遙散如神，茯苓白朮當歸身，白芍柴胡薄荷草，再加丹皮梔子仁。

(抑肝扶脾湯) 
人參 白朮土炒 黃連薑炒 柴胡酒炒 茯苓 青皮醋炒 陳皮 白芥子
龍膽草 山查 神麴炒 炙甘草 引用薑棗水煎服。
(方歌)
調理抑肝扶脾湯，參朮黃連柴苓良，青陳白芥龍膽草，山查神麴甘草嘗。

<hr class="分段">
疳證門
心疳
條文：007
心疳面赤脈絡赤，壯熱有汗時煩驚，咬牙弄舌口燥渴，口舌生瘡小便紅，
胸膈滿悶喜伏臥，懶食乾瘦吐利頻，瀉心導赤珍珠治，茯神調理可收功。
[註]
心屬火，色赤主血脈，
故心疳則見面紅目脈絡赤，壯熱有汗，時時驚煩，咬牙弄舌，口舌乾燥，
渴飲生瘡，小便紅赤，胸膈滿悶，睡喜伏臥，懶食乾瘦，或吐或利也，
熱盛者，瀉心導赤湯主之，
熱盛兼驚者，珍珠散主之，
病久心虛者，茯神湯調理之。

(瀉心導赤湯) 方見木舌。

(珍珠散) 珍珠三錢 麥冬五錢去心 天竺黃三錢 金箔二十五片 
牛黃一錢 胡黃連三錢  生甘草二錢 羚羊角 大黃 當歸各三錢 
硃砂二錢 雄黃一錢 茯神五錢 犀角三錢 以上細末，每五分，茵陳湯調服
（茯神湯）茯神　當歸　炙甘草　人參　引用龍眼肉水煎服　煩熱者加麥冬
（方歌）
茯神湯內用茯神，當歸甘草共人參，若是煩熱麥冬入，清補兼施功最純。

<hr class="分段">
疳證門
疳渴
條文：008
肥甘積熱傷津液，大渴引飲心煩熱，速用清熱甘露宜，熱減津生渴自歇。
【註】
疳渴者，多因肥疳積熱煎耗脾胃，以致津液虧損，
故不時大渴引飲，心神煩熱，
速用清熱甘露飲，其渴自愈。為生地清肺飲以疏解之

（清熱甘露飲）生地黃　麥冬去心　石斛　知母生　枇杷葉蜜炙　石膏煆　
甘草生　茵陳蒿　黃芩　引用燈心水煎服　
（方歌）
耗液傷津成疳渴，清熱甘露飲如神，生地麥冬斛知母，枇杷石膏草茵芩

<hr class="分段">
疳證門
肺疳　
條文：009
面白氣逆時欬嗽，毛髮焦枯皮粟乾，發熱憎寒流清涕，鼻頰生瘡號肺疳，
疎散生地清肺效，清熱甘露飲為先，肺虛補肺散最妙，隨證加減莫遲延。
【註】
肺屬金，色白主皮毛，
故肺疳則見面白氣逆，欬嗽，毛髮焦枯，皮上生粟，肌膚乾燥，憎寒發熱，
常流清涕，鼻頰生瘡也，
先用生地清肺飲以疎解之，繼用甘露飲凊之，
日久肺虛者，當以補肺散主之。

(生地清肺散) 桑皮炒 生地黃 天冬 前胡 枯梗 蘇葉 防風 黃芩 
生甘草 當歸 連翹去心 赤苓 引用生薑紅棗水煎服。
(方歌)
生地清肺用桑皮，生地天冬前枯齊，蘇葉防風黃芩草，當歸連翹赤苓宜。

(甘露飲) 生地黃 熟地黃 天冬 麥冬去心 枳殼麩炒 枯梗 黃芩 
枇杷葉蜜炙 茵陳蒿 石斛 引用紅棗肉煎服。
(方歌)
甘露飲治肺火壅，生熟地黃二門冬，枳桔黃芩枇杷葉，茵陳石斛共煎成。

(補肺散) 白茯苓 阿膠蛤粉炒 糯米 馬兜鈐 炙甘草 杏仁炒去皮尖 水煎服。
(方歌)
肺虛補肺散通仙，茯苓阿膠糯米攢，馬兜鈴配炙甘草，杏仁微炒去皮尖。

<hr class="分段">
疳證門
腎疳
條文：010
解顱鶴膝齒行遲，骨瘦如柴面黑黧，齒齦出血口臭氣，足冷腹痛瀉哭啼，
腎疳先用金蟾治，九味地黃繼進宜，若逢稟賦氣虛弱，調元散進莫遲疑。
[註]
腎屬水，色黑主骨，患此疳者，
初必有解顱鶴膝齒遲行遲腎氣不足等證，
更因甘肥失節，久則漸成腎疳，故見面色黧黑，齒齦出血，
口中氣臭，足冷如冰，腹痛泄瀉，啼哭不已之證，
先用金蟾丸治其疳，
繼以九味地黃丸調補之，
若稟賦不足者，調元散主之。

(金蟾丸) 乾蝦蟆五個煆 胡黃連 黃連各三錢 鶴蝨二錢 肉豆蔻煨 
苦楝根 白皮 雷丸 蘆薈生 蕪荑各三錢 以上為末，麴糊為丸，
菉豆大，雄黃為衣，每服十五丸，米湯化下。

(九味地黃丸) 熟地 茱萸肉各五錢 赤茯苓 澤瀉 牡丹皮 山藥炒 
當歸 川楝子 史君子各三錢肉 以上為細末，煉白蜜為丸，如芡實大，
用滾白水研化，食前服。

(調元散) 人參 茯苓 白朮土炒 山藥炒 川芎 當歸 熟地黃 
茯神 黃耆炙 甘草炙　白芍炒 引用薑棗水煎服。
(方歌)
調元散治稟賦弱，參苓白朮乾山藥，芎歸熟地共茯神，黃耆甘草同白芍。

<hr class="分段">
疳證門
疳熱
條文：011
小兒疳疾身發熱，輕重虛實當分別，初用青蒿飲為宜，日久鼈甲散最捷。
[註]
疳疾之證，身多發熱，治者宜分別輕重虛實治之，
病初起多實者，鼈甲青蒿飲主之，日久多虛者，鼈甲散主之。

(鼈甲青蒿飲) 銀柴胡 鼈甲炙 青蒿 生甘草 生地黃 赤芍 胡黃連 
知母炒 地骨皮  引用燈心水煎服。
(方歌)
疳疾血虛身發熱，鼈甲青蒿藥有功，銀柴鼈蒿草地芍，胡連知母地骨同。

(鼈甲散) 人參 黃耆 鼈甲炙 生地 熟地 當歸 白芍炒 地骨皮 水煎服。
(方歌)
疳疾日久骨熱蒸，鼈甲散治效從容，參耆鼈甲生熟地，當歸白芍地骨同。

<hr class="分段">
疳證門
腦疳
條文：012
腦疳多緣受風熱，又乘乳哺失調節，頭皮光急生餅瘡，頭熱髮焦如穗結，
鼻乾心煩腮顖腫，困倦睛暗身汗熱，龍膽龍腦丸甚良，吹鼻龍腦效甚捷。
[註]
腦疳者，因兒素受風熱，又兼哺乳失調，以致變生此證，
頭皮光急，腦生餅瘡，頭熱毛焦，髮結如穗，鼻乾心煩，腮顖腫硬，
困倦睛暗，自汗身熱也，
腦熱生瘡者，龍膽丸主之，
煩熱羸瘦者，龍腦丸主之，
外用吹鼻龍腦散吹之，其證自愈。

(龍膽丸) 龍膽草 升麻 苦楝根皮焙 赤茯苓 防風 蘆薈 
油髮灰各二錢 青黛 黃連各三錢 以上為細末，豬膽汁浸糕楜丸，
如麻子大，薄荷湯下，量兒大小與之。

(龍腦丸) 龍腦 麝香各五分 雄黃二錢 胡黃連三錢 牛黃一錢 
硃砂一錢五分 蘆薈三錢生 乾蝦蟆四錢灰 以上為細末，
熊膽合丸，如麻子大，每服三丸，薄荷湯下。
(吹鼻龍腦散) 龍腦 麝香少許各研細末 蝸牛殼炒黃 蝦蟆灰 
瓜蒂 黃連 細辛 桔梗各等分 以上為細末，入磁盒內貯之，
每取少許吹人鼻中，日吹二次。

<hr class="分段">
疳證門
眼疳
條文：013
疳熱上攻眼疳成，癢澀赤爛胞腫疼，白睛生翳慚遮滿，流淚羞明目不睜，
疏解瀉肝散最妙，雲翳清熱退翳靈，日久不瘥當補養，逍遙瀉肝二方從。
[註]
眼疳者，疳熱上攻於眼，
故發時癢澀赤爛，眼胞腫疼，白睛生翳，漸漸遮滿，不時流淚，羞明閉目也，
先用瀉肝散疏解之，再用清熱退翳湯消其翳，
若日久不瘥，法當調補逍遙散，或羊肝散主之。

(瀉肝散) 生地黃 當歸 赤芍 川芎 連翹去心 梔子生 龍膽草 
大黃 羌活 甘草生　防風 引用燈心水煎服。
（方歌）
瀉肝散治肝熱壅，生地當歸赤芍芎，連翹梔子龍膽草，大黃羌活草防風。

(清熱退翳湯) 梔子微炒 胡黃連 木賊草 生地 羚羊角 龍膽草 
銀柴胡 蟬蛻 赤芍　甘草生 菊花 蒺藜 引用燈心水煎服。
(方歌)
清熱退翳消雲翳，梔連木賊芍生地，羚羊龍膽銀柴胡，蟬蛻甘草菊蒺藜。
（
逍遙散）方見肝疳。

（羊肝散）青羊肝一具去筋膜切韭葉厚片 人參 羌活 白朮土炒 
蛤粉各等分 以上為細末，令勻聽用，將藥置荷葉上，如錢厚一層，
鋪肝一層包固，外以新青布包裹蒸熟，任兒食之，
如不食者，及夏月恐腐壞，則曬乾為末，早晚白湯調服，
服完再合，以好為度，若熱者減人參。

<hr class="分段">
疳證門
鼻疳
條文：014
疳熱攻肺成鼻疳，鼻塞赤癢痛難堪，浸淫潰爛連脣際，欬嗽氣促髮毛乾，
熱盛清金化毒效，疳蟲蝕鼻化蟲丸，調敷須用鼻疳散，吹鼻蟬殼效通仙。
[註]
鼻疳者，因疳熱攻肺而成，蓋鼻為肺竅，
故發時鼻塞赤癢，疼痛浸淫潰爛，下連脣際成瘡，欬嗽氣促，毛髮焦枯也，
熱盛者，宜清金散，蔣氏化毒丹主之，
蟲蝕者，用化蟲丸主之，
外用鼻疳散敷之，或以吹鼻蟬殼散吹入鼻內。

(清金散) 生梔子 黃芩 枇杷葉蜜炙 生地黃 花粉 連翹去心 
麥冬去心 薄荷 元參　生甘草 桔梗 引用燈心水煎服。
(方歌)
清金散治肺壅熱，梔子黃芩枇杷葉，生地花粉翹麥冬，薄荷元參甘草桔。

(蔣氏化毒丹) 方見胎赤。

(化蟲丸)蕪荑 蘆薈生 青黛 川芎 白芷梢 胡黃連 川黃連 蝦蟆各等分灰 
以上為細末，豬膽汁浸糊為丸，如麻子大，每服二十丸，食後杏仁煎湯下。

(鼻疳散) 青黛一錢 麝香少許 熊膽五分 以上為細末，乾者，
用豬骨髓調貼，濕者乾上。

(吹鼻蟬殼散) 蟬殼微炒 青黛研 蛇蛻皮灰 滑石 麝香各等分細研 
以上為細末，每用菉豆大，吹人鼻中，日三用之，疳蟲盡出。

<hr class="分段">
疳證門
牙疳
條文：015
疳成毒熱內攻胃，上發齦肉赤爛疼，口鼻血出牙枯落，穿腮蝕脣命多傾，
攻毒消疳蕪荑效，繼以蘆薈肥兒靈，外用牙疳散時上，能食堪藥始能生．
[註]
牙疳者，因毒熱攻胃而成，
故熱毒上發，齦肉赤爛痛疼，口臭血出，牙枯脫落，穿腮蝕唇，
病勢危急，急用消疳蕪荑湯瀉其毒熱，
繼以蘆薈肥兒丸清其餘熱，
外用牙疳散時時敷之自愈，
總之此證必胃能強食，堪勝峻藥，始有生機，否則難治也。

(消疳蕪荑湯) 大黃 芒硝 蕪荑 蘆薈生 川連 胡黃連 黃芩 
雄黃 水煎服，服後便軟及不食者，去大黃芒硝，加石膏羚羊角。
(方歌)
蕪荑消疳大黃硝，蘆薈蕪荑二連標，黃芩雄黃一同入，能清積熱牙疳消。

(蘆薈肥兒丸) 方見肝疳。

(牙疳散) 人中白煆存性 綠礬燒紅 五倍子各等分炒黑 冰片少許 
以上為極細末，先用水拭淨牙齒，再以此散敷之，有蟲者加檳榔。

<hr class="分段">
疳證門
脊疳
條文：016
積熱生蟲蝕脊膂，于擊其背若鼓嗚，羸瘦脊骨鋸齒狀，身熱下利煩渴璔，
十指皆瘡齧爪甲，此名脊疳病熱凶，蘆薈丸同金蟾散，急急調治莫從容．
[註]
脊疳者，因積熱生蟲上蝕脊膂也，
以手擊其背，必空若鼓鳴，脊骨羸瘦，狀若鋸齒，始為脊疳外證，
亦身體發熱，下利煩渴，十指皆瘡，頻齧爪甲，其證最為可畏，
須先以蘆薈丸殺其蟲，
繼用金蟾散消其疳，隨時調治，或可愈也。

(蘆薈丸) 生蘆薈 青黛 硃碎 熊膽 胡黃連 貫眾 地龍微炒
 川黃連 蟬蛻去足 雷丸各五錢 麝香一錢 蝦蟆一個酥塗炙焦 
以上為細末，用蝸角肉研和，丸如麻子大，
每服五丸，粥飲下，量兒大小與之。

(金蟾散) 蟾一枚酥塗炙焦夜明沙炒 桃白皮 樗根白皮 地堬 黃蘗 
訶黎勒皮煨百合 人參 大黃 白蕪荑炒 胡粉各三錢 檳榔一錢 
丁香三十七粒  以上為細末，每服五分粥飲調下。

<hr class="分段">
疳證門
蛔疳
條文：017
過食膩冷並肥甘，濕熱生蛔腹內纏，時煩多啼時腹痛，口脣色變溢清涎，
腹脹青筋肛濕癢，史君散治莫遲延，不愈下蟲丸極效，蛔退補脾肥兒丸。
[註]
蛔疳者，因過食生冷油膩肥甘之物，以致濕熱生蛔，腹中擾動，
故有時煩燥多啼，有時肚腹攪痛，口唇或紅或白，
口溢清涎，腹脹青筋，肛門濕癢也，
先用史君子散治之，不愈下蟲丸主之，
若蛔退，又當調補其脾，肥兒丸主之

(史君子散) 史君子十個瓦上炒為末 苦楝子五個泡去核 
白蕪荑 甘草各一錢膽汁浸一宿　以上為末，每服一錢，水調服。

(下蟲丸) 苦楝根皮新白者佳酒浸焙 木香 桃仁浸去皮尖 綠色貫眾 
蕪荑焙 雞心檳榔各二錢 輕粉五分 鶴虱一錢炒 乾蝦蟆三錢炒黑 
史君子三錢取肉煨 以上為末，麵糊成丸，如麻子大，每服二十丸，滾白水下。

(肥兒丸) 方見脾疳。

<hr class="分段">
疳證門
無辜疳
條文：018
無辜疳傳有二因，鳥羽污服著兒身，或緣乳母病傳染，頸項瘡核便利膿，
蟲蝕臟腑身羸瘦，面黃發熱致疳生，清熱宜用柴胡飲，消疳肥兒效如神．
[註]
無辜疳者，其病原有二，
或因浣衣夜露，被無辜烏落羽所污，兒著衣後，致成此證，
或因乳母有病，傳染小兒，以有此疾，
其證頸項生瘡，或項內有核如彈，按之轉動，軟而不疼，
其中有蟲如米粉，不速破之，使蟲蝕臟腑，便利膿血，
身體羸瘦，面黃發熱也，
治宜先清其熱，柴胡飲主之，再消其疳以蘆薈肥兒丸主之。

(柴胡飲) 赤芍藥 柴胡 黃連 半夏薑製 桔梗 夏枯草 龍膽草 
浙貝母 黃芩 甘草生 引用燈心水煎服。
(方歌)
柴胡飲治無辜疳，赤芍柴胡川黃連，半夏桔梗夏枯草，龍膽浙貝芩草煎。

(蘆薈肥兒丸) 方見肝疳。

<hr class="分段">
疳證門
丁奚疳
條文：019
遍身骨露號丁奚，肌肉乾澀晝夜啼，手足枯細面鯬黑，項細腹大突出臍，
尻削身軟精神倦，骨蒸潮熱渴煩隨，化滯五疳消積治，補養人參啟脾宜．
[註]
丁奚者，遍身骨露，其狀似丁，故名曰丁奚也，
其證肌肉乾澀，啼哭不已，手足枯細，面色鯬黑，項細腹大，
肚臍突出，尻削身軟，精神倦怠，骨蒸潮熱，燥渴煩急也，
先用五疳消積丸化其滯，
繼用人參散脾丸理其脾病，可漸愈矣。

(五疳消積丸) 史君子肉五錢炒 麥芽炒 陳皮 神麴炒 山查各一兩 
白蕪荑 黃連 膽草各三錢 以上為末，陳米飯為丸，每服一錢，米飲下。

(人參散脾丸) 人參五錢 白朮五錢土炒 白茯苓五錢 陳皮四錢
 扁豆五錢炒 山藥五錢炒 木香二錢煨 榖芽三錢炒 神麴三錢炒 
炙甘草二錢 以上研細末，煉蜜為丸，重一錢，用建連湯化下。

<hr class="分段">
疳證門
哺露疳
條文：020
乳食不節傷脾胃，羸瘦如柴哺露成，吐食吐蟲多煩渴，頭骨開張哺熱蒸，
先用集聖消積滯，繼用肥兒甚有靈，若還腹大青筋現，人參丸服莫從容。
[註]
哺露者，因乳食不節大傷脾胃也，
其證羸瘦如柴，吐食吐蟲，心煩口渴，頭骨開張，日哺蒸熱，
先用集聖丸消其積滯，
再用肥兒丸清理其脾，若哺露日久，
肚大青筋者，又宜清補兼施，以人參丸主之。

(集聖丸) 蘆薈微炒 五靈脂炒 夜明沙淘洗焙乾 縮砂 木香 陳皮 莪朮 
史君子肉 黃連 川芎酒洗炒 乾蟾各二錢炙 當歸一錢五分 青皮二錢製 
以上為細末，用雄豬膽二個，取汁和麵糊為丸，每服一錢，米飲送下。

(肥兒丸) 方見脾疳。

(人參丸) 人參 麥冬去心 半夏薑製 大黃微炒 黃耆炙 茯苓 
柴胡 黃芩 炙甘草　川芎 訶黎勒煨 鼈甲炙 以上為細末，
煉蜜為丸，如麻子大，以粥飲下，量兒大小用之。

<hr class="分段">
吐證門
吐證總括
條文：001
諸逆上衝成嘔吐，乳食傷胃或夾驚，或因痰飲或蟲擾，虛實寒熱要分明。
[註]
嘔吐一證，皆諸逆上衝所致也，
夫諸逆之因，或以乳食過多，停滯中脘，致傷胃氣，不能健運而上逆也，
或於食時觸驚，停積不化而上逆也，
或痰飲壅盛，阻隔氣道，
或蚘蟲擾亂、懊憹不安而上逆也。
總之上逆之因雖不同，而皆能成嘔吐也，
但病有虛有實，有寒有熱，
治者當於臨證時，參合兼見之證，審慎以別之，庶不誤矣。

<hr class="分段">
吐證門
辨嶇吐噦證
條文：002
有物有聲謂之嘔，有物無聲吐證名，無物有聲謂噦證，分別醫治中病情。
[註]
吐證有三，曰嘔，曰吐，曰噦，
古人謂嘔屬陽明，有聲有物，氣血俱病也，
吐屬太陽，有物無聲，血病也，
噦屬少陽，有聲無物，氣病也，
獨李杲謂嘔吐噦俱屬胃虛弱，
潔古老人又從三焦以分氣積寒之三因，然皆不外諸逆上衝也，
治者能分虛實別寒熱以治之，自無不曲中病情矣。

<hr class="分段">
吐證門
傷乳吐
條文：003
乳食過飽蓄胃中，乳片不化吐頻頻，身熱面黃腹膨脹，消乳保和有神功。
[註]
傷乳者，因乳食過飽，停蓄胃中，以致運化不及，
吐多乳片，猶如物盛滿而上溢也，
其證身熱面黃，吐腹膨脹，
治宜消乳丸保和丸化其宿乳，安胃和中，節其乳食，自然止也。

(消乳丸) 香附二兩製 神麴炒 麥芽各一兩炒 陳皮八錢 縮砂仁炒 
甘草各五錢炙 以上為細末，滴水為丸如粟米大，量兒大小服之，薑湯化下。

(保和丸) 
南山查二兩 神麴一兩炒 茯苓 半夏各一兩薑製 連翹去心 陳皮 萊
菔子各五錢炒  以上為細末，麵糊為丸，麥芽湯化服。

<hr class="分段">
吐證門
傷食吐
條文：004
過食傷胃腹脹熱，惡食口臭吐酸黏，眼胞虛浮身潮熱，須服三稜和胃煎。
[註]
傷食吐者，因小兒飲食無節，過食油膩麵食等物，以致壅塞中脘而成也,
其證肚腹脹熱,惡食口臭，頻吐酸黏，眼胞虛浮，身體潮熱，
治宜清胃和中為主，先用三稜丸止其吐，再用和胃湯化其滯，而病漸愈矣。

(三稜丸) 三稜煨 陳皮 半夏薑製 神麴各一兩炒 黃連薑製 
枳實麩炒 丁香各五錢 以上研細末，麵和為丸，如黃米大，
每服二十丸，食後薑湯下。

(和胃湯) 陳皮 半夏薑製 縮砂仁研 蒼朮炒 厚朴薑製 藿香葉 
香附炒 甘草炙 山查 神麴炒 引用生薑水煎服。
(方歌)
和胃湯治嘔吐頻，陳皮半夏縮砂仁，蒼朮厚朴藿香葉，香附甘草山查神

<hr class="分段">
吐證門
夾驚吐
條文：005
食時觸異吐青涎，身熱心煩睡不安，截風觀音散極妙，止吐定吐丸可痊。
[註]
夾驚吐者，多因飲食之時忽被驚邪所觸而致吐也，
其證頻吐青涎，身體發熱，心神煩躁，睡臥不寧，
先用全蠍觀音散截其風，次用定吐丸止其嘔，而病可痊矣。

(全蠍觀音散) 人參三錢 黃耆蜜炙 扁豆炒 茯苓各五錢 蓮肉三錢去心
木香一錢五分煨 白芷二錢 羌活 防風 天麻 全蠍各三錢去毒 
炙甘草一錢五分 以上為細末，薑棗煎湯調服，量兒大小與之。

(定吐丸) 丁香二十一粒 蠍梢四十九條去毒 半夏三個薑製 以上為細末，
令勻煮棗肉為丸，如黍米大，每服七丸，金器煎湯化服。

<hr class="分段">
吐證門
痰飲吐
條文：006
痰飲壅盛在胸中，痰因氣逆嘔吐成，眩暈面青吐涎飲，香砂二陳六君寧。
[註]
痰飲吐者，由小兒飲水過多，以致停留胸膈，變而為痰，
痰因氣逆，遂成嘔吐之證，
其候頭目眩暈面青，嘔吐涎水痰沫也，宜用香砂二陳湯，
虛者香砂六君子湯治之。

(二陳湯) 方見哯乳  本方加藿香砂仁。

(香砂六君子湯) 藿香 縮砂仁 白朮土炒 人參 茯苓 半夏薑製 
陳皮 甘草 引用生薑水煎服。
(方歌)
香砂六君虛痰吐，藿香縮砂共白朮，人參茯苓及陳皮 半夏甘草同煎服。

<hr class="分段">
吐證門
蟲吐
條文：007
蟲吐胃熱或胃寒，色變時疼嘔清涎，寒熱當以陰陽辨，化蟲加減理中痊。
[註]
蟲吐之證有二，有以胃經熱蒸者，有以胃經寒迫者，
皆能令蟲不安，擾亂胃中而作吐也，
其證脣色或紅或白，胃口時痛時止，頻嘔清涎，屬寒屬熱，
當從陰陽之證辨之，熱者化蟲丸主之，寒者加減理中湯主之。

(化蟲丸) 蕪荑五錢 鶴虱 苦楝根皮 胡粉 史君子肉 檳榔各一兩 
枯礬二錢五分 以上為細末，麵糊為丸，量兒大小用之。

(加減理中湯) 人參 乾薑 白朮土炒 川椒 引用烏梅一個，水煎服。
(方歌)
加減理中寒吐蟲，人參乾薑白朮從，川椒烏梅伏蟲動，煎成服下即安寧。

<hr class="分段">
吐證門
虛吐
條文：008
虛吐多因胃弱成，神倦顄動睡露睛，自利不渴頻嘔吐，丁沈四君藥最靈。
[註]
虛吐之證，多因胃氣虛弱不能消納乳食，致成此證也，
其精神倦怠，順門煽動，睡臥露睛，自利不渴，頻頻嘔吐者，
以丁沈四君子湯治之。

(丁沈四君子湯) 
人參 白朮土炒 茯苓 炙甘草 丁香 沈香 引用煨薑水煎服。
(方歌)
胃虛嘔吐不思食，丁沈四君治最宜，參朮苓草補其胃，丁香沈香溫其脾。

<hr class="分段">
吐證門
實吐
條文：009
小兒實吐腹脹滿，二便不利痞硬疼，發渴思涼吐酸臭，三一承氣可收功。
[註]
實吐者，小兒平素壯實，偶而停滯，胸腹脹滿，二便秘澀，痞硬疼痛，
口渴思飲寒涼，吐多酸臭也，宜用三一承氣湯下之，二便利而吐止矣。

(三一承氣湯) 
芒硝 生大黃 枳實麩炒 甘草生 厚朴薑炒 引用生薑水煎服。
(方歌)
三一承氣治實吐，滌滯通塞功最著，芒硝相配生大黃，枳實甘草同厚朴。

<hr class="分段">
吐證門
寒吐
條文：010
朝食暮吐為冷吐，乳食不化不臭酸，四肢厥冷面脣白，薑橘丁萸理中煎。
[註]
寒吐者，皆因小兒過食生冷，
或乳母當風取涼，使寒氣入乳，小兒飲之，則成冷吐之證，
其候朝食暮吐，乳食不化，吐出之物，不臭不酸，四肢逆冷，面脣色白，
治當溫中定吐，胃微寒者，薑橘散主之，寒甚者，丁萸理中湯主之。

(薑橘散) 白薑一錢 陳皮一兩 炙甘草一錢 以上為細末，
每服一錢，溫棗湯調服。

(理中湯) 方見不乳本方加丁香吳茱萸。

<hr class="分段">
吐證門
熱吐
條文：011
食入即吐因胃熱，口渴飲冷吐酸涎，身熱脣紅小便赤，加味溫膽湯可痊。
 [註]
熱吐之證，或因小兒過食煎燇之物，
或因乳母過食厚味，以致熱積胃中，遂令食入即吐，
口渴飲冷，嘔吐酸涎，身熱脣紅，小便赤色，
治宜清熱為主，加味溫膽湯主之。

(加味溫膽湯) 陳皮 半夏薑製 茯苓 麥冬去心 枳實麩炒 
生甘草 竹茹 黃連薑炒用燈心水煎服。
(方歌)
熱吐須用溫膽湯，陳皮半夏茯苓良，麥冬枳實生甘草，竹茹黃連水煎嘗。

<hr class="分段">
瀉證門
瀉證總括
條文：001
小兒泄瀉認須清，傷乳停食冷熱驚，藏寒脾虛飧水瀉，分消溫補治宜精。
 [註]
瀉之一證，多因脾被濕浸，土不勝水而成，
然致病之原各異，
或乳食停滯不化，
或感受寒暑之氣，
或驚邪外觸，
或藏受寒冷，
或脾虛作瀉，
更有飧瀉水瀉之證，致疾之因不同，而調治之法亦異，
醫者詳細辨之，或分消或溫補，因證施治，庶不誤矣。

<hr class="分段">
瀉證門
傷乳食瀉
條文：002
乳食過傷瀉酸膿，噫臭腹熱脹滿疼，口渴惡食溺赤澀，保安平胃奏神功。
[註]
傷乳食瀉者，因乳食過飽，損傷脾胃，乳食不化，
故頻瀉酸膿也，噫臭腹熱，脹滿疼痛，口渴惡食，小便赤澀，
須用保安丸消其滯，次用平胃散和其脾，庶積消而瀉止矣。

(保安丸) 香附醋炒 縮砂仁各一兩 白薑炮 青皮醋炒 陳皮 三稜
莪朮 炙甘草各五錢
以上為細末，麴糊為丸，量兒大小與之，白湯化下。

(平胃散) 方見哯乳。

<hr class="分段">
瀉證門
中寒瀉
條文：003
過食生冷中寒瀉，腸嗚脹痛泄澄清，面白肢冷懶飲食，理中訶子散堪行。
[註]
中寒瀉者，因過食生冷，以致寒邪凝結，腸鳴腹脹，時復疼痛，
所瀉皆澄澈清冷，面色淡白，四肢厥冷，飲食懶進也，
溫中理中湯主之，止瀉訶子散主之。

(理中湯) 方見不乳。

(訶子散) 訶子麩炒 肉豆蔻麵煨 白朮土炒 人參 茯苓 木香各二兩煨 
陳皮 炙甘草各五錢  以上為細末  每服一錢薑湯調服

<hr class="分段">
瀉證門
火瀉
條文：004
火瀉內熱或傷暑，暴注下迫腹痛疼，煩渴瀉黃小便赤，玉露四苓可收功。
[註]
火瀉者，皆因臟腑積熱，或外傷暑氣，
故瀉時暴注下迫，肚腹疼痛，心煩口渴，瀉多黃水，小便赤色也，
先用玉露散清其熱，再用四苓湯利其水，庶得其要矣。

(玉露散) 寒水石 石膏各一兩 甘草三錢 以上為細末，量兒大小，溫湯無時調服。

(四苓湯) 茯苓 白朮土炒 豬苓 澤瀉 引用燈心水煎服。
 (方歌)
火瀉小便不利通，利水除濕用四苓，茯苓白朮豬苓澤，燈心為引共煎成。

<hr class="分段">
瀉證門
驚瀉
條文：005
驚瀉因驚成泄瀉，夜臥不安晝惕驚，糞稠若膠帶青色，鎮驚養脾服通靈。
[註]
驚瀉者，因氣弱受驚，致成此證，
其候夜臥不安，晝則驚惕，糞稠若膠，色青如苔，
治宜鎮心抑肝，先以益脾鎮驚散定其驚，
次以養脾丸理其脾，庶可愈矣。

(益脾鎮驚散) 人參錢半 自朮土炒 茯苓各三錢 硃砂八分 鈎藤二錢 
甘草五分炙 以上為細末，每服一錢，燈心湯調服。

(養脾丸) 人參 白朮土炒 當歸 川芎各三錢 青皮醋炒 木香煨 黃連薑炒 
陳皮各二錢 神麴炒 山查 縮砂仁 麥芽各一錢炒 以上研細末，
神麴糊為丸，如麻子大，每服二十丸，陳倉米飲下。

<hr class="分段">
瀉證門
臍寒瀉
條文：006
剪臍失護受寒冷，糞包青白腹痛嗚，散寒和氣飲極效，溫補調中湯最靈。
[註]
臍寒瀉者，多因斷臍失護，風冷乘人,傳於大腸，遂成寒瀉之證，
其候糞包青白，腹痛腸鳴，
先用和氣飲溫散之，再以調中湯溫補之,庶治得其要矣。

(和氣飲) 蒼朮 紫蘇 防風 赤苓 豆豉 藿香 陳皮 厚朴薑炒 炙甘草 
引用生薑燈心水煎服。
(方歌)
和氣飲具溫散功，蒼朮紫蘇共防風 赤苓豆豉藿香葉，陳皮厚朴甘草同。

(調中湯) 人參 茯苓 藿香 白朮土炒 炙甘草 木香煨 香附製 縮砂仁 
引用煨薑水煎服。
(方歌)
臍寒瀉用調中湯，人參白朮煨木香 藿香茯苓同香附，縮砂炙草引煨薑。

<hr class="分段">
瀉證門
脾虛瀉
條文：007
脾虛食後即作瀉，腹滿不渴少精神，面黃懶食肌消瘦，參苓白朮奏奇勳。
[註]
脾虛瀉者，多因脾不健運，
故每逢食後作瀉腹滿不渴，精神短少，面黃懶食，肌肉消瘦也，
宜用參苓白朮散以補脾，其瀉自止。

(參苓白朮散) 方見脾疳。

<hr class="分段">
瀉證門
飧瀉
條文：008
清氣下陷失健運，完穀不化飧瀉名，補中益氣湯升補，久瀉腸滑用四神。
[註]
飧瀉者，或因春傷風邪，清氣下陷，脾失健運，以致完穀不化也，
治者須補養脾土，用補中益氣湯升其中氣，
若泄瀉日久，腸滑不禁者，用四神丸治之。

(補中益氣湯) 人參 黃耆蜜炙 當歸土炒 白朮土炒 炙甘草 
陳皮 升麻土炒 柴胡醋炒 引用薑棗水煎服。
(方歌)
飧瀉多因清陽陷，補中益氣湯最驗，參耆歸朮草陳皮，升麻柴胡功無限。

(四神丸) 補骨脂四兩 五味子 肉豆蔻各二兩麵裹煨 吳茱萸一兩水浸炒 
以上為細末，生薑棗肉為丸，每服一錢，米飲下。

<hr class="分段">
瀉證門
水瀉
條文：009
脾胃濕盛成水瀉，懶食溏瀉色多黃，清濁不分溺短濇，胃苓升陽除濕湯。
[註]
水瀉者，皆因脾胃濕盛，以致清濁不分，變成水瀉之證，
其候小便短濇，懶食溏瀉色黃，宜用胃苓湯以除濕，
若瀉久不止，則用升陽除濕湯治之，其證自愈。

(胃苓湯) 蒼朮炒 陳皮 厚朴薑炒 白朮土炒 茯苓 炙甘草 肉桂 澤瀉 豬苓
薑紅棗水煎服。
(方歌)
濕瀉胃苓湯堪行，蒼朮陳皮厚朴同，白朮茯苓炙甘草，肉桂澤瀉共豬苓。

(升陽除濕湯) 
蒼朮炒 陳皮 防風 神麴炒 麥芽炒 澤瀉 炙甘草 升麻 羌活 柴胡
豬苓 引用生薑水煎服。
(方歌)
升陽除濕瀉不停，蒼朮陳皮共防風，神麴麥芽澤甘草，升麻羌活柴豬苓。

<hr class="分段">
感冒門
感冒風寒總括
條文：001
小兒肌膚最柔脆，偶觸風寒病榮衛，輕為感冒病易痊，重為傷寒證難退，
夾食夾熱或夾驚，疏散和解宜體會。
[註]
小兒氣血末充，肌膚柔脆，風寒所觸，邪氣入於腠理，榮衛受病， 
輕者為感冒，易痊，重者為傷寒，難治，
又有夾食夾熱夾驚等證或宜疏散，或宜和解，臨證時細為體察焉。

<hr class="分段">
感冒門
傷風
條文：002
肺主皮毛感邪風，發熱憎寒頭痛疼，有汗嚏涕脈浮緩，鼻塞聲重咳嗽頻，
杏蘇飲同金沸散，疏風解表莫從容。
[註]
傷風者，風邪傷衛也，衛主皮毛，內合於肺，
故令身體發熱憎寒，頭疼有汗，嚏涕鼻塞聲重，不時咳嗽也，
脈浮緩宜杏蘇飲解散外邪，繼用金沸草散開通氣逆則愈。

(杏蘇飲) 杏仁炒去皮尖 紫蘇 前胡 桔梗 枳殼麩炒 桑皮炒 
黃芩 甘草生 麥冬去心 浙貝母去心 橘紅 引用生薑水煎服。
(方歌)
杏蘇飲治風傷肺，杏仁，紫蘇前桔同，枳殼桑皮黃芩草，麥冬貝母合橘紅。

(金沸草散) 
細辛 荊芥 半夏薑製 旋覆花 前胡 甘草 赤苓 引用薑棗水煎服。
(方歌)
金沸草散微傷風，細辛荊芥半夏同，旋覆前胡生甘草，生薑紅棗赤茯苓。

<hr class="分段">
感冒門
傷寒
條文：003
小兒傷寒表感寒，發熱無汗而惡寒，頭痛身痛脈浮緊，嘔逆煩渴病邪傳，
初用羌活熱通盛，邪傳柴葛大柴煎。
[註]
傷寒者，乃寒邪傷表榮分也，
其證身體發熱，惡寒無汗，頭痛身痛，而脈浮緊，
若嘔逆煩渴者，則為邪盛欲傳經也，
此證初宜九味羌活湯，
如熱盛者，以雙解通聖湯治之，
服此藥後已，汗下不解而傳經者，用柴葛解肌湯
兼裹證者，用大柴胡湯以解表通裏，因證施治，庶不致誤。

(九味羌活湯) 蒼朮炒 白芷 川芎 細辛 羌活 防風 生地 黃芩 
甘草生 引用生薑蔥白水煎服，大便秘者，加大黃。
(方歌)
傷寒初起羌活湯，蒼芷芎細合羌防，生地芩草薑蔥入，便秘之時加大黃。

(雙解通聖湯) 麻黃 朴硝 大黃 當歸 赤芍 川芎 白朮土炒 石膏 
滑石 桔梗 梔子 連翹去心 黃芩 薄荷 甘草生 荊芥 防風 
引用生薑蔥白水煎服。
(方歌)
傷寒熱盛通聖湯，表裹兩解麻硝黃，歸芍芎朮膏滑桔，梔翹芩薄草荊防。

(柴葛解肌湯) 葛根 柴胡 白芷 羌活 桔梗 石膏 黃芩 赤芍藥 甘草生 
引用生薑紅棗  水煎服。
(方歌)
柴葛解肌解三陽，葛根柴胡白芷羌，桔梗石膏芩赤芍，甘草煎服自安康。

(大柴胡湯) 
柴胡 黃芩 赤芍藥 半夏薑製 枳實麩炒 大黃 引用生薑大棗水煎服。
(方歌)
大柴胡治邪傳經，少陽陽明表裹通，柴胡黃芩赤芍藥，半夏枳實大黃同。

<hr class="分段">
感冒門
感冒夾食
條文：004
內傷飲食感寒風，發熱憎寒頭痛疼，惡食噯臭吐酸物，便柲尿澀腹熱膨，
雙解藿香正氣飲，化滯平胃斟酌行。
[註]
小兒平日飲食無節，內傷停滯，外復為風寒所襲，故成是證也，
其候發熱憎寒，頭痛惡食，噯臭吐酸，便柲尿濇，腹熱膨脹也，
熱盛者，用雙解通聖湯兩解之，
內無熱者，用藿香正氣湯和解之，
表邪即解，然後調理其脾，用平胃散消導之，
庶幾外無餘邪，內無滯熱，而病自愈矣。

(雙解通聖湯) 方見傷寒。

(藿香正氣湯) 
蘇葉 白芷 藿香 陳皮 半夏薑製 茯苓 大腹皮 甘草生 
厚朴薑炒 桔梗 引用生薑紅棗水煎服。
(方歌)
和解藿香正氣湯，蘇葉白芷共藿香，陳半茯苓大腹草，厚朴桔梗引棗薑。

(平胃散) 方見哯乳 加山查神麴麥芽。

<hr class="分段">
感冒門
感冒夾熱
條文：005
平素有熱感風寒，面赤脣焦口鼻乾，憎寒壯熱頻飲冷，心煩譫妄便多艱，
瀉熱先宜用通聖，清熱涼膈天水煎。
[註]
小兒臟腑素稟多熱，今復為風寒所傷，風熱相搏，則火邪愈盛，
故其現證有面赤脣焦，口鼻乾燥，憎寒壯熱，口渴飲冷心煩神燥，
譫語狂妄，二便秘澀，
治宜散其風寒，更宜兼瀉其熱，須用雙解通聖湯兩解之，
若服藥後汗出便利，病雖少減，熱猶不退者，治宜清熱為主，
當以涼膈散合天水散治之，則表裏清而病愈矣。

(雙解通聖湯)方見傷寒

 (涼膈散)方見急驚風。

(天水散) 滑石六兩飛 甘草一兩生 共為細末，每服一錢，燈心湯調下。

<hr class="分段">
感冒門
感冒夾驚
條文：006
感冒病時觸驚異，心驚膽怯睡不安，身熱煩躁面青赤，疏解散與涼驚丸，
和以柴胡溫膽劑，寧神定志效通仙．
[註]
小兒感冒邪氣未解，復為驚異所觸，
故見心驚膽怯，睡臥不安，身熱煩躁，面色青赤之證，
先以疏解散疏散之，再以涼驚丸清鎮之，
如病雖退，尚覺心驚不寐者，宜用柴胡溫膽湯和解之。

(疏解散) 
羌活 蘇葉 防風 枳殼麩炒 桔梗 前胡 赤芍藥 杏仁炒去皮尖 殭蠶炒 
甘草生 黃連酒炒 引用生薑水煎服。
(方歌)
疏解散治感冒驚，羌活蘇葉及防風，枳前胡黃連芍，杏仁殭蠶甘草同。

(涼驚丸) 方見急驚風

(柴胡溫膽湯) 
柴胡 陳皮 半夏薑製 茯苓 甘草生 竹茹 枳實麩炒 引用生薑水煎服。
(方歌)
柴胡溫膽感冒驚，病後餘邪尚未寧，柴胡陳半茯芩草，竹茹枳實薑用生。

<hr class="分段">
瘟疫門
瘟疫總括
條文：001
瘟病傷寒傳變同，感寒即病傷寒名，冬受寒邪春復感，因感而發瘟病成，
至夏感發為熱病，逐戶相傳乃天行，四時不正為時氣，痧疹瘟癍要詳明。
[註]
瘟病之傳變與傷寒無異，有冬感於寒而即病者，名曰傷寒，
有冬傷於寒而末即病者，寒邪藏於肌膚之內，伏於榮衛之間，
至春復感春風，發為瘟病，至夏復感暑熱，發為熱病，
若逐戶闔門老幼相傳，乃天行瘟疫，其害更烈，
或春夏應煖熱而反寒，秋冬應寒涼而反熱，此為四時不正之氣，
名曰時氣，相感為病，亦與傷寒同其治也，其
間或發癍發痧發疹，要當詳明其證，治法在後。

<hr class="分段">
瘟疫門
瘟病
條文：002
冬受寒邪不即病，復感春寒發名瘟，證同傷寒治雙解，嘔加生薑半夏均。
[註]
瘟病一證，乃冬受寒邪不即為病，至春復感春風而發者也，
現證與傷寒相同，用雙解通聖湯兩解之，
若嘔吐者，以生薑半夏入之，其嘔自止。

(雙解通聖湯) 方見傷寒

<hr class="分段">
瘟疫門
風瘟
條文：003
風瘟復感春風發，汗熱身重睡鼾眠，汗少荊防敗毒治，汗多桂枝白虎湯。
[註]
風瘟，冬受寒邪復感春風而發為病也，
其證身重睡憨，發熱自汗，
汗少者以荊防敗毒散解，汗多者以桂枝合白虎湯清解之。

(荊防敗毒散) 荊芥 防風 羌活 獨活 柴胡 前胡 甘草生 川芎 
枳殼麩炒  桔梗 茯苓  引用生薑水煎服。
(方歌)
荊防敗毒宜時氣，風瘟無汗用自靈，荊防羌獨柴前草，川芎枳桔與茯苓。

(桂枝合白虎湯) 
桂枝 芍藥 石膏煆 知母生 甘草生 粳米 引加生薑大棗水煎服。
(方歌)
桂枝湯合白虎湯，壯熱多汗服此方，桂芍石膏知母草，粳米大棗共生薑。

<hr class="分段">
瘟疫門
熱病
條文：004
冬受寒邪不即病，至夏復感暑熱成，身不惡寒而多渴，證同瘟病治亦同。
[註]
熱病，乃冬受寒邪不即為病，至夏復感暑熱而成，故名曰熱病，
現證與瘟病相類，但不惡寒，口乾作渴為少異耳，治法亦與瘟病同。

<hr class="分段">
瘟疫門
瘟疫
條文：005
天行厲氣瘟疫病，為病挨門合境同，皆由邪自口鼻入，故此傳染迅如風，
當分表裹陰陽毒，因時取治審重輕，古法皆以攻為急，荊防普濟救苦攻。
[註]
瘟疫一證，乃天地之厲氣流行，沿門闔戶，無論老少強弱，觸之者即病，
蓋邪氣自口鼻而入，故傳染之速迅如風火，
但毒有在表在裏在陰在陽之分，
其或發或攻或清，當因春風夏熱秋涼冬寒之四時各異，
隨人虛實，量乎輕重以施治也，
古法皆以攻毒為急者，以邪自口鼻而入，在裏之病多故也，
發以荊防敗毒散，清以普濟消毒飲，攻以二聖救苦丹，
則酌量合直審度醫治，庶幾臨證時有得心應手之妙矣。

(荊防敗毒散) 方見風瘟
(普濟消毒飲) 
黃芩酒炒 黃連酒炒 陳皮 桔梗 板藍根 升麻 柴胡 薄荷 
連翹去心　牛蒡子炒研 殭蠶炒 馬勃 甘草生 元參 引用燈心水煎服。
(方歌)
普濟消毒清時瘟，芩連陳桔板藍根，升柴薄荷翹牛蒡，殭蠶馬勃草元參。

(二聖救苦丹) 
大黃四兩 皂角二兩 以上為末，水丸，每服一錢 量兒大小與之，
用無根水下。

<hr class="分段">
瘟疫門
瘟癍疹痧
條文：006
傷寒疹癍失汗下，時氣初感即其然，表邪覆鬱榮衛分，外泛皮脈痧疹癍，
疳白疹紅如膚粟，癍紅如豆片連連，紅輕赤重黑多死，淡紅稀暗是陰癍，
未透升麻消毒治，熱盛三黃石膏煎，已透消癍青黛飲，痧疹表裹雙解先。
[註]
傷寒發癍疹痧，皆因汗下失宜，外邪覆鬱，內熱泛出而成也，
惟時氣傳染，感而即出，亦猶疫之為病，烈而速也，
發於衛分則為痧，衛主氣，故色白如膚粟也，
發於榮分則為疹癍，榮主血，故色紅，
膚淺為疹，深重為癍，癍形如豆，甚則成片連連，
癍疹之色紅者輕，赤者重，黑者死，此以色辨熱之淺深驗死生也，
若其色淡紅，稀暗者，皆因邪在三陽已成，癍疹由外入裏，邪從陰化，
或過服涼藥所致，是為陰癍陰痧陰疹，法當從陰寒治也，
癍出未透，表熱輕者，宜升麻葛根湯合消毒犀角飲治之，
表熱重者，宜三黃石膏湯發之，
已透者，用消癍青黛飲加減清之，
疹痧初起，表裹不清，用雙解通聖湯先通表裏，餘法同前。

(升麻葛根湯合消毒犀角飲) 升麻 葛根 芍藥 甘草生 牛蒡子 荊芥 
防風 犀角 引用芫荽水煎服。
(方歌)
升麻消毒表癍疹，升葛芍草蒡荊防，偣加犀角急煎服，表實熱盛另有方。

(三黃石膏湯) 黃連 黃芩 梔子 黃蘗 豆豉 麻黃 石膏 引用生蔥水煎服。
(方歌)
三黃石膏發癍疹，表實熱盛有奇功，連芩枙蘗與豆豉，麻黃石膏生用蔥。

(消癍青黛飲) 
石膏煆 知母 犀角 甘草生 梔子生 川連生 青黛 元參 柴胡 生地
人參 大黃 引用薑棗水煎，臨服人苦酒一匙和服。
(方歌)
消癍青黛消毒癍，石知犀角草梔連，青黛元參柴生地，人參大黃斟酌添。

(雙解通聖湯) 方見傷寒。

<hr class="分段">
暑證門
暑證總括
條文：001
小兒暑病有四證，中暑陽邪傷暑陰，暑風攻肝抽搐見，暑厥攻心不識人。
[註]
中暑，為陽邪單中暑熱也，陽邪身熱有汗，
傷暑，為陰邪中暑復感寒也，陰邪身熱無汗，
中暑熱極，攻肝則抽搐，攻心則厥冒不省人事，
治者果能因證分別施治，自無難矣。

<hr class="分段">
暑證門
中暑
條文：002
中暑汗出身壯熱，頭痛大渴煩不寧，氣乏衶倦兩足冷，加味人參白虎靈。
[註]
中暑之證，身熱有汗，因暑熱熏蒸，
故頭痛口渴，煩躁不寧，甚則氣乏神倦，足冷惡寒，
須以加味人參白虎湯治之。

(加味人參白虎湯) 人參 石膏生 知母 粳米 甘草 蒼朮 水煎服。
(方歌)
加味人參白虎湯，暑熱傷氣服最良，參膏知母粳米草，停飲嘔水更加蒼。

<hr class="分段">
暑證門
傷暑
條文：003
傷暑受暑感風寒，無汗熱渴面赤紅，乾噦噁心腹絞痛，嗜臥懶食肢重疼，
清散二香飲極效，氣虛六合湯奏功，夾食惡食多吐瀉，加味香薷法最靈。
[註]
小兒傷暑，謂受暑復感風寒也，
其證發熱無汗，口渴飲水面色紅赤，乾嘔惡心，或腹中絞痛，嗜臥懶食，
以二香飲治之，此內清外散之法也，
若正氣虛弱，當補正袪邪，以六合湯治之，
若傷暑夾食，大吐瀉者，以加味香薷飲治之．

(二香飲) 蘇葉 藿香 白茯苓 扁豆炒 厚朴薑製 陳皮 半夏薑製 
甘草生 大腹皮 白芷 桔梗 川黃連 香薷 引用生薑燈心水煎服。
(方歌)
二香飲治風暑病，蘇葉藿香白茯苓，扁豆厚朴陳半草，腹芷桔連香薷靈。

(六合湯) 
人參 香薷 半夏薑製 甘草生 砂仁 木瓜 赤茯苓 藿香 
杏仁炒去皮尖 厚朴薑炒 扁豆炒 引用薑棗水煎服。
(方歌)
六合虛暑用人參，香薷半夏草砂仁，木瓜赤苓藿香杏，厚朴扁豆棗薑勻。

(加味香薷飲) 
香薷 厚朴薑炒 陳皮 扁豆炒 山查肉 豬苓 
甘草生 枳實麩炒 水煎服
（方歌）
加味香薷治夾食，香薷厚朴共陳皮，白扁豆配山查肉，豬苓甘草炒枳宜

<hr class="分段">
暑證門
暑風
條文：004
暑風抽搐似驚風，煩渴汗熱便黃紅，先用加味香薷飲，繼用玉露散即寧。
【註】
暑風者，手足搐搦狀似驚風者也，由暑熱攻，肝內生風病，
其證煩渴，身熱有汗，二便黃赤，
先宜加味香薷飲，疏其風，繼以玉露散，清其熱，
暑熱一解，而搐自止矣，切不可當驚治之。

（加味香薷飲）
香薷　黃連　扁豆炒　厚朴薑炒　羌活　引用燈心水煎服
（方歌）
加味香薷治暑風，香薷黃連扁豆同，厚朴薑炒羌活入，燈心煎服效從容。

（玉露散）方見火瀉

<hr class="分段">
暑證門
暑厥
條文：005
暑厥昏眩不知人，氣虛挾痰上衝心，虛者清暑益氣治，挾痰益元抱龍均。
【註】
暑厥之證，昏昧不省人事，因其人元氣素虛，暑熱衝心，
或挾痰上衝，以致精神昏憒，
虛者以清暑益氣湯治之，
實者以辰砂益元散合抱龍丸治之。

（清暑益氣湯）
人參　黃者炙　當歸酒洗　白朮土炒　陳皮　麥冬去心　
五味子　青皮炒 蒼朮炒 黃蘗酒炒 升麻 葛根 澤瀉 神麴炒 
引用薑棗水煎服。
(方歌)
清暑益氣虛受暑，參耆歸朮草陳皮，麥味青皮蒼朮蘗，升葛澤瀉衶麴宜。

(辰砂益元散) 
辰砂三錢水飛 滑石六兩水飛 甘草一兩末 每用一錢，
薑燈心湯，調勻合抱龍丸服。
(抱龍丸) 
黑膽星四兩九轉者佳 天竺黃一兩 雄黃水飛 辰砂各半兩另研 
麝香一錢另研以上為細末煮甘草膏，和丸皂莢子大，溫水化下。

<hr class="分段">
霍亂門
霍亂總括
條文：001
霍亂風寒暑飲成，卒然吐瀉腹心疼，飲暑盛兮濕霍亂，寒勝為乾症不輕。
[註]
霍亂者，乃風寒暑飲之雜邪為病，
卒然揮霍變亂，心腹大痛，吐瀉交作也，其能吐能瀉者，謂之濕霍亂，
夫暑飲雖盛，若已經吐瀉，其邪即解，故易治也，
若欲吐不能，欲瀉不能者，謂之乾霍亂，
蓋寒盛則凝，既不吐瀉，則邪無去路，故多不救也。

<hr class="分段">
霍亂門
濕霍亂
條文：002
吐瀉不已腹頻疼，口渴引飲胸悶膨，飲盛主以二香飲，暑盛益元散最靈。
[註]
濕霍亂者，乃暑飲合邪也，
其證吐瀉不已，肚腹疼痛，口渴引飲，胸膈膨悶，
飲盛者以二香飲主之，
暑盛者以辰砂益元散主之，
因證調治，則暑飲之邪既清，而霍亂之證立愈矣，治者宜詳辨之。

(二香飲)方見傷寒

(辰砂益元散)方見暑厥。

<hr class="分段">
霍亂門
乾霍亂
條文：003
欲吐瀉之不吐瀉，腹中絞痛不能堪，煩渴大飲甘露飲，肢厥不渴理中煎。
[註]
乾霍亂者，乃寒暑凝結，欲吐不吐，欲瀉不瀉，腹中絞痛，
俗名絞腸痧病也，
治者當分寒暑，
如煩渴大飲者為熱，以桂苓甘露飲主之，
若厥逆不渴者屬寒，以理中湯主之，因證調治，其病自愈。	

(桂苓甘露飲) 白朮土炒 茯苓 澤瀉 豬芩 肉桂少許 石膏 
滑石水飛 寒水石水煎服。
(方歌)
寒暑凝結霍亂成，桂苓甘露莫從容，白朮茯苓豬澤桂，膏滑寒水石相同。

(理中湯) 方見不乳。

<hr class="分段">
痢疾門
痢疾總括
條文：001
痢疾暑熱生冷成，傷氣為自傷血紅，後重裹急腹窘痛，寒熱時痢噤口名。
[註]
痢之為證，多因外受暑熱，因傷生冷而成，
傷於氣者色多白，以肺與大腸為表裹也，
傷於血者色多赤，以心與小腸為表裹也，
裏急者腹窘痛也，後重者頻下墜也，
又有寒痢熱痢時痢噤口痢之別，醫者須詳察之。

<hr class="分段">
痢疾門
寒痢
條文：002
寒傷久痢藏虛寒，腸嗚切痛實難堪，面脣青自喜飲熱，理中養藏效通仙。
[註]
寒痢者，寒冷傷胃，久痢不已，或藏氣本虛，復為風冷所乘，傷於腸胃，
故痢時腸鳴切痛，面脣青白，口雖渴，喜飲熱，此裏寒虛之證也，
初宜理中湯，久則真人養藏湯治之，寒得溫散而證愈矣。

(理中湯) 方見不乳。

(真人養藏湯) 人參 白朮土炒 木香煨 當歸土炒 白芍炒 肉桂 
甘草炙 罌粟殼蜜炙  訶子肉麵煨去核 肉果煨 引用烏梅水煎服。
(方歌)
寒痢須用養藏湯，人參白朮廣木香，歸芍肉桂炙甘草，粟殼訶之肉果良。

<hr class="分段">
痢疾門
熱痢
條文：003
痢初實熱腹窘痛，下痢無度尿短紅，舌赤脣焦喜飲冷，芍藥白頭香連靈。
[註]
熱痢者，皆因濕熱凝結於腸胃，以致腹中窘痛，頻頻下利，
尿短色紅，舌赤脣焦，喜飲冷水，此裏熱之證也，
重則當歸芍藥湯主之，輕則白頭翁湯主之，或香連丸主之。

(當歸芍藥湯) 
當歸 白芍 木香 黃芩 黃連 肉桂 大黃 甘草生 檳榔 水煎服。
(方歌)
熱痢當歸芍藥湯，裏急後重服最良，歸芍木香芩連桂，大黃甘草共檳榔。

(白頭翁湯) 黃連 黃蘗 秦皮 白頭翁 水煎服。
(方歌)
白頭翁湯治熱痢，腹中窘痛溺短赤，連蘗秦皮白頭翁，煎服之後痢自愈。

(香連丸) 木香 川黃連各等分 共為細末，酯糊為丸，如桐子大，
量兒大小用之，空心米飲下。

<hr class="分段">
痢疾門
時痢
條文：004
時痢痢疾感時氣，發熱無汗遍身疼，熱為邪束因作嘔，倉廩湯散有奇功。
[註]
時痢者，乃痢疾時復感時氣也，
身熱無汗，遍身疼痛，熱為邪束，頻作嘔逆，
須以倉廩湯散之，先解時邪，其痢自止。

(倉廩湯) 人參 茯苓 獨活 枯梗 前胡 川芎 甘草炙 枳殼麩炒
 倉米 柴胡 羌活引用生薑水煎服。
(方歌)
時痢須用倉廩湯，參苓獨活桔梗良，前胡川芎炙甘草，枳殼倉米及柴羌。

<hr class="分段">
痢疾門
噤口痢
條文：005
火毒沖胃成噤口，脈大身熱不能食，舌赤脣紅惟飲冷，參連開噤散奇功。
[註]
噤口痢一證，乃火毒沖胃而成，
其證脈大身熱，不能飲食，舌赤脣紅，惟喜飲冷，急宜參連開噤散救之。

(參連開噤散) 人參 川連薑炒 蓮子肉各等分 共為細末，米飲調下。

<hr class="分段">
瘧疾門
瘧疾總括
條文：001
瘧疾夏暑秋寒風，榮衛合邪病始成，陰陽相並發寒熱，口間淺深作分明。
[註]
瘧疾者，多因夏傷於暑，其氣舍於榮內，至秋復感寒風，
則榮衛合邪而成瘧，發時或寒或熱者，陰陽相並也，
每日作者，因初病邪氣尚淺，伏藏於榮，隨經絡而行故也，
其間日作者，因邪已深入脊，膂間伏藏於衝脈故也，
其晝發者，因邪在三陽之淺，
夜發者，因邪在三陰之深，
瘧之將退者，亦由夜而晝，由間日而至每日，
此為去陰就陽，由深而淺，其病欲巳也，
治者須詳細分別可也。

<hr class="分段">
瘧疾門
寒瘧風瘧
條文：002
先寒後熱身無汗，此為寒瘧不須評，先熱後寒身有汗，此為風瘧須詳明，
寒宜麻黃羌活劑，風惟桂枝羌活從。
[註]
此瘧疾初起，發散之法也，
先寒後熱者，因先傷於寒後傷於風，寒多熱少身無汗者，謂之寒瘧，
以麻黃羌活湯主之，
先熱後寒者，因先傷於風，後傷於寒，熱多寒少，身有汗者，謂之風瘧，
以桂枝羌活湯主之。

(麻黃羌活湯) 麻黃 羌活 防風 甘草生 引用生薑水煎服。
(方歌)
麻黃羌活湯醫瘧，身體無汗寒熱璔，麻黃羌活防風草，引薑煎服體安寧。

(桂枝羌活湯) 羌活 防風 桂枝 甘草生 引用生薑水煎服。
(方歌)
桂枝羌活湯，治瘧豈尋常，羌活生甘草，防風桂枝良。

<hr class="分段">
瘧疾門
食瘧
條文：003
食瘧寒熱腹脹膨，面黃惡食悶不通，輕者須用柴平劑，便鞕加味大柴攻。
[註]
食瘧者，因食而病瘧者也，由小兒飲食無節，復受風暑之氣，
以致寒熱交作，胸腹脹滿，痞悶不通，面黃惡食也，
但食有輕重，須當別之，
輕者宜柴平湯主 ，重者宜大柴胡湯加檳榔草果主之，
治者果能因證調理，則積滯清，而瘧慚退矣。

(柴平湯) 陳皮 半夏薑製 蒼朮米泔水浸炒 厚朴薑炒 黃芩 
柴胡 甘草 人參 引用薑棗水煎服。
(方歌)
柴平湯治傷食瘧，陳半蒼朮同厚朴，黃芩柴胡草人參，薑棗作引為良藥。

(大柴胡湯) 方見傷寒。

<hr class="分段">
瘧疾門
瘧痰瘧飲
條文：004
瘧疾痰飲多嘔逆，面黃目腫胸膈膨，痰盛清脾加橘半，飲盛加蒼倍人苓。
[註]
小兒素有痰飲，復因外邪凝結脾胃，故嘔逆也，
若瘧疾或經汗下之後，表裹無證，宜用清脾飲以和之，
痰盛者，本方加橘紅倍半夏，飲盛者，加蒼朮倍茯苓，
若兒氣已虛弱，更當加人參以扶其正。

(加減清脾飲) 柴胡 黃芩 半夏薑製 甘草炙 厚朴薑製 青皮醋炒 
檳榔 茯苓 草果人參 白朮土炒 橘紅 南蒼朮炒 引用生薑水煎服。
(方歌)
清脾治瘧兼痰飲，柴苓半朴青榔，苓果氣虛參朮入，痰盛加橘飲盛蒼。

<hr class="分段">
咳嗽門
咳嗽總括
條文：001
肺病咳嗽有痰聲，有聲無痰咳之名，有痰無聲謂之嗽，為病寒熱食與風。
[註]
病機式要云：咳嗽謂有聲有痰，因肺氣受傷，動乎脾濕而然也，
咳謂無痰而有聲，肺氣傷而不清也，
嗽謂無聲而有痰，脾濕動而為痰也，
二者雖俱屬肺病，然又有肺寒肺熱之分，食積風寒之別，醫者宜詳辨之。

<hr class="分段">
咳嗽門
肺寒咳嗽
條文：002
肺虛飲冷致咳嗽，面色垙白痰涕清，聖惠橘皮宜初進，補肺阿膠久嗽靈。
[註]
寒嗽者，因平素肺虛喜啖生冷，以致寒邪傷肺，發為咳嗽，
其證面色㿠白，痰多清稀，鼻流清涕，初宜聖惠橘皮散主之，
若日久不愈者，須以補肺阿膠散主之，則氣順痰清而嗽自止矣。

(聖惠橘皮散) 
人參 貝母 蘇葉 陳皮 桔梗 杏仁去皮尖炒 引用紅棗水煎服。
(方歌)
肺虛受寒頻咳嗽，橘皮散治效通仙，參貝蘇葉陳皮桔，杏仁微炒去皮尖。

(補肺阿膠散) 
人參 阿膠麩炒 牛蒡子炒 杏仁去皮尖炒 糯米 甘草炙 
馬兜鈴 水煎食後服。
(方歌)
小兒肺寒時時嗽，補肺阿膠效若衶，人參阿膠牛蒡子，杏仁糯米草兜鈴。

<hr class="分段">
咳嗽門
肺熱陔嗽
條文：003
火嗽面赤咽乾燥，痰賁氣穢帶稠黏，便軟加味瀉白散，便硬加味涼膈煎。
[註]
火嗽一證，乃火熱熏擾肺金，遂致頻頻咳嗽，面赤咽乾，
痰黃氣穢，多帶稠黏也，
便軟者加味瀉白散主之，便硬者涼膈散加枯梗桑皮煎服，
則熱退氣清而嗽自止矣。

(加味瀉白散) 
桑皮蜜炙 地骨皮 甘草生 川貝母去心碾 麥冬去心 
知母生 桔梗 黃芩 薄荷 水煎服。
(方歌)
加味瀉自治火欬，桑皮地骨甘草合，貝母麥冬生知母，桔梗黃芩同薄荷。

(涼膈散)方見急驚風

<hr class="分段">
咳嗽門
食積咳嗽
條文：004
食積生痰熱熏蒸，氣促痰壅咳嗽頻，便溏麴麥二陳治，便燥蘇葶滾痰攻。
[註]
積嗽者，因小兒食積生痰，熱氣熏蒸肺氣，氣促痰壅，頻頻咳嗽，
便溏者以麴麥二陳湯消導之，
便柲者以蘇葶滾痰丸攻下之。

(麴麥二陳湯) 陳皮 半夏薑製 茯苓 甘草生 黃連薑製 山查 
麥芽炒 神麴炒 栝蔞仁 枳實麩炒 引用生薑紅棗水煎服。
(方歌)
麴麥二陳食積嗽，陳半苓草川黃連，山查麥芽衶麴炒，栝蔞枳實一同煎。

(蘇葶滾痰丸) 
蘇子一兩炒 苦葶藶一兩微炒 大黃四兩酒蒸一次 
沈香五錢 黃芩四兩 青礞石五錢火煆如金為度 
以上為末，水為丸，量兒虛實服之，薑湯送下。

<hr class="分段">
咳嗽門
風寒咳嗽
條文：005
風寒咳嗽頻嚏涕，鼻塞聲重唾痰涎，疏風參蘇金沸散，散寒加味華蓋痊。
[註]
小兒脫衣偶為風冷所乘，肺先受邪，
使氣上逆衝塞咽膈，發為咳嗽，嚏噴流涕，鼻塞聲重，頻唾痰涎，
先以參蘇飲疏解表邪，再以金沸草散清其痰嗽，
若寒邪壅蔽，當以加味華蓋散治之，
則風邪解而氣道通，氣道通而咳嗽止矣。

(參蘇飲) 蘇葉 乾葛 前胡 陳皮 半夏薑製 甘草生 枳殼麩炒 
桔梗 赤茯苓 水煎服
(方歌)
參蘇飲治風寒嗽，蘇葉乾葛前胡從，陳皮半夏生甘草，枳殼桔梗配赤苓。

(金沸草散) 方見傷風。

(加味華蓋散) 麻黃 杏仁去皮尖炒 蘇子炒 前胡 橘紅 甘草生 桑皮炒 
桔梗 赤茯苓　水煎，食後溫服。
(方歌)
華蓋散治風寒盛，氣促胸滿咳嗽頻，麻杏蘇子前橘草，桑皮桔梗赤茯苓。

<hr class="分段">
喘證門
喘證總括
條文：001
喘則呼吸氣急促，抬肩欠肚哮有聲，實熱氣粗胸滿鞕，寒虛痰飲馬脾風。
[註]
呼吸氣出急促者，謂之喘急，外候抬肩欠肚，
若更喉中有聲響者，謂之哮吼，
然致病之原不一，
如氣粗胸滿痰稠，便鞕而喘者，此實熱也，
氣乏息微，不能續息而喘者，此虛邪也，
其中有風寒鬱閉而喘者，又有痰飲壅逆而喘者，
更有馬脾風一證，最為急候，醫者須分別詳明，庶用藥如響矣。

<hr class="分段">
喘證門
火熱喘急
條文：002
火喘燥渴紅面脣，肺胃涼膈白虎清，瀉心宜用導赤散，陰虛如蘗地黃靈。
[註]
火邪刑金作喘者，多口乾舌燥作渴，面赤脣紅也，
因於肺熱者，以涼膈散主之，
胃熱者，涼膈白虎湯主之，
心火刑金者，導赤散主之，
腎虛火來爍金者，宜知蘗地黃湯主之，
醫者果能審察精詳，按證調治，庶幾用藥如響，而不致有虛實之誤矣。

(涼膈散) 方見急驚風。

(涼膈白虎湯) 大黃生 朴硝 甘草生 連翹去心 梔子 黃芩生 
薄荷葉 石膏生 知母生 引用粳米水煎，溫服。
(方歌)
涼膈白虎肺胃熱，梔子連翹薄荷葉，黃芩大黃朴硝草，知母石膏粳米列。

(導赤散) 方見不小便。

(知蘗地黃湯) 乾生地黃 山茱萸肉 山藥炒 知母炒 黃蘗鹽炒 牡丹皮 
澤瀉 茯苓 水煎服。
(方歌)
知蘗地黃陰虛熱，知母黃蘗牡丹皮，乾生地黃並澤瀉，茯苓山藥共茱萸。

<hr class="分段">
喘證門
肺虛作喘
條文：003
虛喘氣乏聲短濇，潔古黃耆湯效捷，百合固金化虛痰，本事黃耆清虛熱。
[註]
虛喘之證，氣乏聲音短鴙，以潔古黃耆湯主之，
若喘促夾痰者，以百合固金湯主之，
夾熱者，以本事黃耆湯主之。

(潔古黃耆湯) 人參 黃耆炙 甘草炙 地骨皮 桑白皮炒 水煎溫服。
(方歌)
潔古黃耆湯，虛喘最為良，人參黃耆共，甘草地骨桑。

(百合固金湯) 
百合 天門冬 麥門冬去心 生地黃 熟地黃 當歸 白芍藥炒 
甘草生 貝母去心 元參 桔梗 水煎服。
(方歌)
百合固金虛痰喘，百合二冬二地黃，當歸白芍生甘草，貝母元參桔梗良。

(本事黃耆湯) 
五味子 白芍藥 天門冬 麥門冬去心 人參 黃耆炙 
熟地黃 甘草炙 茯苓引用烏梅薑棗水煎服。
(方歌)
本事黃耆虛熱喘，五味芍藥二門冬，參耆熟地炙甘草，烏梅薑棗茯苓功。

<hr class="分段">
喘證門
風寒喘急
條文：004
風寒傷肺氣喘急，表熱無汗華蓋方，肺虛被邪紫蘇飲，無邪氣逆降氣湯。
[註]
肺主皮毛，一受風寒，內閉肺氣，則氣逆不降，呼吸氣急，故作喘也，
發熱無汗，宜以華蓋散汗而散之，
若肺氣本虛，外復被風寒所傷者，宜以紫蘇飲子補而散之，
若肺虛外無風寒所傷，內無痰涎壅塞，惟氣逆喘急者，
以加減蘇子降氣湯降則逆氣，其喘自愈，治者宜詳之。

(華蓋散)  方見風寒咳嗽。

(紫蘇飲子)  蘇葉 杏仁炒去皮尖 桑皮炒 陳皮 青皮醋炒 半夏醋製 
人參 五味子 甘草生 麻黃 引用生薑水煎服。
(方歌)
氣虛又被風寒傷，紫蘇飲子最相當，蘇葉杏桑陳青半，人參五味草麻黃。

(蘇子降氣湯)  
蘇子炒 當歸 陳皮 半夏薑製 甘草生 前胡 厚朴薑製 桂心 沈香
 引用薑棗水煎服。
(方歌)
氣逆喘用降氣湯，肺虛無邪服最良，蘇子當歸陳半草，前胡厚朴桂沈香。

<hr class="分段">
喘證門
痰飲喘急
條文：005
痰飲壅逆因作喘，痰飲蘇草滾痰從，停飲喘急不得臥，瀉飲降逆蘇葶功。
[註]
小兒痰飲作喘者，因痰壅氣逆也，其音如潮響，聲如拽鋸者，
須急攻痰壅，蘇葶滾痰丸主之，
若停飲喘急不得臥者，又當瀉飲降逆蘇葶丸主之，
醫者須分別施治，庶幾曲中病情矣。

(蘇葶滾痰丸) 方見食積咳嗽。

(蘇葶丸) 南蘇子炒 苦葶藶子各等分微炒 以上為細末，蒸棗肉為丸，
如麻子大，每服五丸，至七丸，淡薑湯下。

<hr class="分段">
喘證門
馬脾風
條文：006
暴喘傳名馬脾風，胸高脹滿脅作坑，鼻竅搧動神悶亂，五虎一捻方最靈。
[註]
馬脾風俗得之名，即暴喘是也，因寒邪容於肺俞，寒化為熱，閉於肺經，
故胸高氣促，肺張喘滿，兩脇掮動，陷下作坑，鼻竅握張，神氣悶亂，
初遇之急服五虎湯，繼用一捻金下之，倘得氣開，其喘自止，
如兒生百日內見此者病多不救。

(五虎湯) 麻黃蜜炒 杏仁炒去皮尖 甘草生 白石膏研為末 細茶 
引用生薑水煎，臨時用藥沖石膏服。
(方歌)
五虎湯治馬脾風，麻黃蜜炒杏仁從，甘草石膏細茶葉，煎服之後喘自鬆。

(一捻金) 方見不大便。

<hr class="分段">
痰證門
痰證總括
條文：001
痰因津液不四布，陰盛為飲陽盛痰，稠黏黃色為燥熱，清稀色自乃濕寒。
[註]
痰者，水穀所化之津液不能四布，留於胸中而成者也，
多因飲食無節，
或乳食過食厚味，脾胃不能運化而生，
若陰氣素盛，則化而為飲，
陽氣素盛，則化而為痰，
稠黏黃色，澀滯難出，謂之燥痰，
清稀色白，滑而易出，謂之濕痰，二者或宜清潤，或宜通利，治各不同也。

<hr class="分段">
痰證門
燥痰
條文：002
燥痰肺燥澀難出，氣逆喘欬臥不舒，面紅口乾小便赤，清氣化痰滾痰孚。
[註]
燥痰者，痰因火動也，
火盛則痰多燥黏，氣逆喘咳，夜臥不寧，面赤口乾，小便黃赤，
輕者用清氣化痰丸清之，重者用蘇葶滾痰丸下之。

(清氣化痰丸) 膽南星九轉 半夏各一兩五錢薑製 橘紅 枳實麩炒 
杏仁炒去皮尖 栝蔞仁去油 黃芩酒炒 白茯苓各一兩 共為細末，薑汁為丸，
淡薑湯化服。

(蘇葶滾痰丸) 方見食積咳嗽。

<hr class="分段">
痰證門
濕痰
條文：003
濕痰脾濕懶飲食，倦怠嗜臥面色黃，痰多枳桔二陳劑，飲多桂苓甘朮湯。
[註]
濕痰者，因小兒過食生冷油膩之物，有傷脾胃，
遂致脾土虛濕，不能運化而成濕痰，滑而易出，
脾虛不運，故懶食，
脾主四肢，故倦怠嗜臥，
脾屬土，故面色多黃，
痰多者，宜用枳桔二陳湯加蒼朮白朮，除濕化痰，
飲盛者，須用桂苓甘朮湯，扶陽散飲，調治合宜，而痰自化矣。

(枳桔二陳湯) 方見哯乳。

(桂苓甘朮湯) 茯苓 桂枝 甘草生 自朮土炒 引用生薑水煎服。
(方歌)
桂苓甘朮濕痰飲，除濕利飲更扶陽，茯苓桂枝生甘草，白朮土炒引生薑。

<hr class="分段">
疝證門
疝證總括
條文：001
諸疝厥陰，任脈病，外因風寒邪聚凝，內因濕熱為寒鬱，證皆牽睪引腹疼，
胎疝多因稟賦病，總審熱縱寒痛疼，血左不移氣右動，濕則墜重虛墜輕。
[註]
厥陰環陰器入少腹，
任脈起於中極之下，以上毛際，循腹裏上關元，故諸病疝莫不屬之也，
小兒病此，多因先天不足，本藏虛弱，
復因外感風邪，內食生冷，寒邪凝結而成有之，
或因濕熱鬱於中，復被寒邪束於外，邪氣乘虛井於血隊，流入厥陰，
厥陰屬肝，其性急速，故牽引睪丸少腹絞痛也，
又有胎疝一證，多因孕婦啼泣過傷，動於陰氣，結聚不散，
令兒生下即成此證者，
大扺熱則多縱，寒則多痛，在血分者不移，在氣分者多動，
濕腫墜則重，虛腫墜則輕，因證施治，自切中病情矣。

<hr class="分段">
疝證門
寒疝
條文：002
寒濕內蓄日已深，復被風冷水氣侵，囊冷硬痛成寒疝，烏頭桂枝金茱神。
[註]
寒疝者，因兒平日過食生冷，或臥濕地，以致陰結於內，氣滯不行， 
為日既久，復為風冷所束，水濕所傷，
故發時囊冷結硬，牽引少腹作痛，
初得之兼表者，以烏頭桂枝湯主之，寒甚者，以金茱丸治之。

(烏頭桂枝湯) 桂枝 赤芍藥 甘草炙 烏頭 引用生薑水煎服。
(方歌)
烏頭桂枝治寒疝，解表溫中法最良，廣桂枝同赤芍藥，烏頭甘草引生薑。

(金茱丸) 金鈴子肉一兩 吳茱萸五錢 以上為細末，酒煮麴糊為丸，
如麻子大，每服數丸，鹽湯下。

<hr class="分段">
疝證門
濕熱感寒疝
條文：003
厚味過度生濕熱，復觸風寒疝氣成，囊縱紅腫常刺痛，烏頭梔子服即寧。
[註]
小兒平素過食厚味，致生濕熱，濕熱之氣下行，流入囊中，
復為風寒所束，而疝證成矣，發時囊縱紅腫，常常刺痛，
當以烏頭梔子湯調治之，庶疝可愈矣。

(烏頭梔子湯) 烏頭 梔子炒 引用順流水入薑汁煎服。
(方歌)
濕熱感寒疝氣疼，烏頭梔子湯最靈，梔子烏頭薑汁共，順流水煎病即寧。

<hr class="分段">
疝證門
胎疝
條文：004
胎疝多因母過啼，兒生胞硬痛無時，輕用十味蒼蘗治，重用金鈴川楝宜。
[註]
胎疝者，因孕婦啼泣過傷，氣結不散，蘊於胞中，令兒生下胞硬疼痛，
輕者十味蒼蘗散主之，重者以金鈐散或川楝丸主之。

(十味蒼蘗散) 青皮醋炒 川附子炮 黃蘗 南山查肉酒炒 蒼朮米泔水浸 
香附製 益智仁 元胡索醋炒 桃仁 甘草炙 引用小茴香水煎服。
(方歌)
十味蒼蘗治胎疝，青皮川附蘗查蒼，香附益智元胡索，桃仁甘草引茴香。

(金鈴散) 三稜 莪朮各三錢 陳皮 赤茯苓各五錢 茴香三錢 甘草二錢生 
檳榔 枳殼各三錢麩炒 鈎藤鈎 青皮各四錢炒 南木香三錢 金鈴子肉一兩 
以上除檳榔木香不過火，餘焙共為細末，每服半錢至一錢，無灰酒調服。

(川楝丸) 木香 檳榔 三稜 莪朮各三錢 青皮醋炒 陳皮各四錢 
川楝肉八錢 芫花五分醋炒 辣桂二錢 牽牛二錢生取仁 巴豆三粒去油 
共為極細末，麵糊為丸，如麻子大，每服三四丸，薑湯送下。

<hr class="分段">
疝證門
陰腫
條文：005
陰囊腫大邪氣凝，風癢濕墜熱多疼，疏風五苓導赤散，偏墜守效尤最靈。
[註]
陰器者，乃諸經之總會也，因邪客於少陰厥陰之經，
濕熱之氣與風冷之氣相搏，氣不得通，
故結聚而陰囊腫大，總之風盛多癢，濕盛多墜，熱盛多疼，
如外腎膚囊腫大，癢痛墜下，此風濕襲於下也，宜疏風五芩散主之，
如外腎膚囊腫光亮，此因心火移熱於小腸故也，宜加味五苓散或導赤散主之，
更有偏墜一證，或左或右，睪丸作腫者，
此因食積不消，濕氣下行故也，宜加味守效丸主之。

(疏風五苓散) 防風 蒼朮米泔水浸 肉桂 羌活 豬苓 澤瀉 赤茯苓 
白朮土炒 引用生薑水煎服。
(方歌)
陰腫疏風五苓散，防風蒼朮肉桂羌，豬苓澤瀉赤苓朮，煎服之時入生薑。

(加味五苓散)金鈴子 白朮土炒 澤瀉 木通 茴香炒 赤茯苓 橘核仁 
肉桂 檳榔 豬苓 引用生薑燈心水煎服。
(方歌)
五苓散內用金鈴，白朮澤瀉與木通，茴香赤苓橘核配，肉桂檳榔合豬苓。

(導赤散) 方見不小便。

(加味守效丸) 南星 山查肉酒炒 蒼朮各二錢炒 白芷 半夏薑製 橘核仁 
神麴各一兩　炒海藻 昆布各五錢 吳茱萸 青皮醋炒 元胡索醋炒 
荔枝核各一兩炒 以上共為末，神麴糊為丸，如梧桐子大，
每服三十丸，空心酒下。

<hr class="分段">
疝證門
小腸氣
條文：006
痛引腰脊小腸氣，加味香蘇溫散宜，上衝心痛失笑散，有形胡盧巴丸醫。
[註]
小腸氣一證，其受病與疝氣等，
亦因濕氣在內，而寒氣又束於外也，
發時少腹脹，控睪丸引腰脊，上衝心痛而不腫是也，治宜分別形狀，
如引腰而痛者，加味香蘇散溫散之，
痛而衝心氣者，加味失笑散主之，
如少腹中有形如卵，上下往來，痛不可忍者，宜胡盧巴丸主 。

(加味香蘇散)蒼朮米泔水浸 陳皮 川楝肉 甘草 蘇葉 香附酯炒 
引用連鬚蔥白水酒兌煎服。
(方歌)
加味香蘇散蒼朮，廣陳皮與川楝肉，甘草蘇葉香附同，連鬚蔥白共煎服。

(加味失笑散) 五靈脂 蒲黃隔紙炒 元胡索各等分醋炒 共為細末，
每服一二錢，水酒調下

(胡盧巴丸) 胡盧巴炒 川楝子各四錢蒸去皮核焙 川烏去皮臍 
巴戟肉各一錢五分 茴香三錢 吳茱萸二錢五分半酒半醋浸一宿焙 
牽牛二錢炒 以上共為細末，酒麴糊為丸，如梧桐子大，
每服數丸，空心溫酒下。

<hr class="分段">
淋證門
淋證總括
條文：001
諸淋皆緣寒熱濕，下移膀胱溲無時，水道澀滯常作痛，寒熱石血隨證醫。
[註]
小兒淋證，或因風寒襲人，或因濕熱下移，乘入膀胱，以致水道澀滯，
欲出不出，淋漓不斷，甚至窒塞其間，令兒作痛，
然必辨其為寒為熱，為石為血，分別治之，則水道宣通，淋自愈矣．

<hr class="分段">
淋證門
寒淋
條文：002
冷氣入胞成寒淋，小便閉塞脹難禁，淋漓不斷腹隱痛，五苓倍桂小茴柛。
[註]
寒淋者，皆因風寒乘入膀胱，致下焦受冷，遂成寒淋，
其候小便閉塞，脹痛難禁，不時淋漓，少腹隱痛，
須以五苓散倍加肉桂小茴香治之，其淋自愈。

(五苓散) 白朮土炒 澤瀉 豬苓 肉桂 小茴香 赤茯苓 水煎服。
(方歌)五苓治寒淋，白朮澤豬苓，肉桂加倍用，茴香赤茯苓。

<hr class="分段">
淋證門
熱淋
條文：003
膀胱蓄熱淋證成，十味導赤有奇功，小腹脹滿大使結，急服八正莫少停。
[註]
熱淋者，膀胱蓄熱而成也，小便不通，淋漓澀痛，以十味導赤湯主之，
若少腹脹滿，引臍作痛，大便秘結者，以八正散主之。

(十味導赤湯) 生地 山梔子 木通 瞿麥 滑石 淡竹葉 茵陳蒿 黃芩 
甘草生 豬苓　水煎服。
(方歌)
十味導赤藥最靈，生地山梔合木通，瞿麥滑石淡竹葉，茵陳黃芩草豬苓。

(八正散) 方見不小便。

<hr class="分段">
淋證門
石淋
條文：004
濕熱蓄久石淋成，溲如沙石莖中疼，輕者須用葵子散，重則八正可相從。
[註]
石淋者，逢溺則莖中作痛，常帶沙石之狀，因膀胱蓄熱日久所致，
正如湯瓶久經火煉，底結白磏也，輕煮葵子散主之，重則八正散主之。

(葵子散) 桑皮炒 瞿麥 梔子 赤茯苓 木通 車前子 甘草生 葵子 水煎服。
(方歌)
葵子散治石淋證，桑皮瞿麥山梔仁，赤苓木通車前子，甘草葵子共和勻。

(八正散)方見不小便。

<hr class="分段">
淋證門
血淋
條文：005
血淋心熱傷血分;尿血同出莖中疼，清利須用小薊飲，莖中痛甚五淋從。
[註]
血淋者，
蓋因心熱傷於血分，熱氣傳入於胞，日久則尿血同出，遂成血淋，
莖中不時作痛，須以小薊飲子治之，若莖中痛甚者，五淋散主之。

(小薊飲子) 通草 滑石 淡竹葉 當歸 小薊 梔子炒 甘草生 生地 
蒲黃 藕節 水煎空心服。
(方歌)
小藕飲子治血淋，通草滑石淡竹葉，當歸小薊山梔甘，生地蒲黃合藕節。

(五淋散) 當歸 赤芍 苦葶藶 黃芩炒 木通 梔子 車前子 
淡竹葉 滑石 葵子 甘草生 赤茯苓 引用荵白水煎服。
(方歌)
五淋血淋莖中疼，歸芍葶藶芩木通，梔子車前淡竹葉，滑石葵子草赤苓。

<hr class="分段">
頭痛門
頭痛總括
條文：001
小兒頭痛分表裹，裏屬內熱表風寒，風寒外閉須疏散，內熱熏蒸以清攻。
[註]
小兒頭痛之證不一，有在表在裏之分，
在表者，外感風寒也，法宜疏散之，
在裏者，內熱熏蒸也，法宜清解之，苟能調治得宜，則頭痛自除矣。

<hr class="分段">
頭痛門
風寒頭痛
條文：002
風寒頭痛屬太陽，上及巔頂額角傍，惡寒無汗身發熱，加味清空自堪嘗。
[註]
風寒頭痛者，乃太陽經受邪也，
其候惡寒發熱，上及巔頂，下連額角，不時作痛，
法宜取汗，悉以清空膏主之，
如痛甚者，於本方中加細辛，
熱甚便秘者，於本方中加川大黃。

(清空膏) 羌活 防風 柴胡 川芎 黃芩 黃連 甘草生 引用生薑水煎服
痛甚加細辛，便秘加川大黃。
(方歌)
風熱上攻頭疼痛，加味清空膏最良，羌防柴芎芩連草，痛甚加辛便柲黃。

<hr class="分段">
頭痛門
內熱頭痛
條文：003
內熱頭痛屬陽明，鼻乾目痛齒頰疼，清熱加味茶調治，便柲加入大黃攻。
[註]
胃熱頭痛，病在陽明，因小兒肥甘無節，胃火上炎，
故發時鼻乾目痛，上至頭下至齒，頰痛無定時，宜加味茶調散清之。

(加味茶調散) 
荊芥穗 薄荷 黃芩 青茶葉 石膏生 自芷 川芎 引用生薑水煎服。
便秘者加川大黃。
(方歌)
加味茶調治頭疼，胃經積熱上攻沖，荊穗薄荷芩茶葉，石膏生用芷川芎。

<hr class="分段">
腹痛門
腹痛總括
條文：001
小兒腹痛有四因，食寒蟲動痛相侵，停食感寒相兼痛，臨證醫治要詳分。
[註]
小兒腹痛，其證有四，
如寒痛，食痛，蟲痛，停食感寒痛也，須隨證施治，
寒則溫中，食則消導，蟲則安蟲，停食感寒則消散，
調治合宜，其痛自除矣。

<hr class="分段">
腹痛門
食痛
條文：002
食痛傷食心胃痛，食入即痛喜飲涼，惡食腹滿吐便秘，承氣平胃酌量嘗。
[註]
食痛者，皆因飲食不節，積滯不化所致，故食入即痛也。
其候喜飲涼水，惡食腹滿，吐酸便柲，宜先以小承氣湯下之，
若下後仍痛者，以香砂平胃散消導可也。

(小承氣湯)大黃 枳實麩炒 厚朴薑炒 引用生薑水煎服。
(方歌)
小承氣湯治腹痛，腹硬煩渴便不通，枳實厚朴大黃共 煎服便利立時鬆。

(香砂平胃散)
蒼朮米泔水浸炒 陳皮 厚朴薑炒 甘草炙 。砂研 香附醋炒 
南山查 神麴炒 麥芽炒 枳殼麩炒 白芍炒 引用生荁水煎服。
(方歌)
香砂平胃傷食痛，下後仍痛用此和，蒼陳朴草縮香附 山查麴麥枳殼芍。

<hr class="分段">
腹痛門
寒痛
條文：003
寒痛中虛脾受寒，尿爪俱白面青看，喜熱腹滿或下利，理中肢厥加附煎。
[註]
寒痛者，多因小兒中氣虛弱，復為風冷所乘，則脾經受寒，
故不時腹痛，現證尿白爪甲白，面多青，喜飲熱，
或腹滿下利，宜理中湯溫之，
若四肢厥冷，兼屬少陰，則加附子。

(理中湯) 方見不乳。

<hr class="分段">
腹痛門
蟲痛
條文：004
蟲痛不安腹因痛，面色乍青乍赤白，時痛時止吐清涎，安蟲理中治最合。
[註]
蟲痛者，因腹中蟲動不安，
故腹中作痛，其候面色乍赤乍青乍白，其痛時作時止，時吐清水，
切不可妄用攻下，當以安蟲為主，其痛即除，
新痛者，錢氏安蟲散治之，痛久不愈者，加減理中湯治之。

(錢氏安蟲散) 胡粉炒黃 鶴虱炒黃 白礬枯 川楝子各二錢五分去皮核 
以上為細末，每服一大匙，大者五分，米飲調下，痛時服。

(加減理中湯) 方見蟲吐。

<hr class="分段">
腹痛門
內食外寒腹痛
條文：005
內傷乳食外感寒，發熱惡寒腹痛兼，惡食嘔吐多啼叫，藿香和中可急煎。
[註]
小兒內傷乳食，外感寒邪，遂致食寒凝結，腹中作痛，
其候發熱惡寒，而更兼腹痛惡食，嘔吐啼叫不已者，以藿香和中湯治之。

(藿香和中湯) 藿香 砂仁研 羌活 蒼朮米泔水浸 陳皮 厚朴薑炒 
甘草生 山查 香附炙 白芷 蘇葉 川芎 引用生薑水煎服。
(方歌)
藿香和中治腹疼，內傷食滯外寒風，藿砂羌蒼陳朴草，山查香附芷蘇芎。

<hr class="分段">
黃疸門
黃疸總括
條文：001
黃疸濕熱鬱蒸成，遍身皆黃及目睛，陽黃色亮身多熱，陰黃色暗冷如冰。
[註]
黃疸一證，乃濕熱鬱久，外發肌膚而然也，
其候遍身面目皆黃，甚則深黃，面如煙熏之狀，
其中又有陰陽之別，
如面紅口渴尿赤，色亮身熱者，乃脾家濕熱，此陽黃也，
口不渴而色暗黃，身冷如冰者，乃脾腎寒濕，此陰黃也，
治者宜分別施治。

<hr class="分段">
黃疸門
陽黃
條文：002
陽黃無汗宜疏散，茵陳麻黃能發汗，腹滿便秘茵陳攻，表裹無證茵苓善。
[註]
陽黃一證，原因濕熱而成，治者當詳審之，
如表實無汗，宜外發其汗，茵陳麻黃湯主之，使黃從表解也，
裏實二便秘濇腹滿者，宜茵陳蒿湯下之，使黃從裏解也，
若表有汗，裏不便秘腹滿，是表裏無證，不可汗下，惟利小便，
宜用茵陳五苓散，使黃從水道利之則愈。

(茵陳麻黃湯) 茵陳蒿 麻黃 水煎，加黃酒少許服之。
(方歌)
兒發陽黃身無汗，茵陳麻黃湯極便，麻黃茵陳各等分，量兒煎服有奇驗。

(茵陳蒿湯) 茵陳蒿 川大黃 梔子 引用燈心水煎服。
(方歌) 
裏實須用茵陳湯，梔子茵陳生大黃，燈心為引水煎服，便利黃消體泰康。

(茵陳五苓散) 
茵蔯蒿 赤苓 豬苓 澤瀉 白朮土炒 肉桂 引用燈心水煎服。
(方歌)
茵陳五苓治黃病，利水除濕有奇功，朮苓澤瀉豬苓桂，茵陳加入便自清。

<hr class="分段">
黃疸門陰黃
條文：003
陰黃多緣轉屬成，脾濕腎寒兩虧生，溫脾茵陳理中治，溫腎茵陳四逆靈。
[註]
陰黃者，乃脾濕腎寒，兩虛而成，此最為危候，
溫脾去黃，以理中湯加茵陳主之，
溫腎去黃，以茵陳四逆湯主之。

(茵陳理中湯) 方見不乳

(茵陳四逆湯) 附子製 乾薑 茵陳蒿 甘草炙 水煎服。
(方歌)茵陳四逆湯，附子共乾薑，茵陳炙甘草，黃消病漸康。

<hr class="分段">
水腫門
水腫總括
條文：001
水腫俱屬脾肺經，肺喘脾脹要分明，上腫屬風宜汗散，下腫屬濕利冰靈，
通身腫者兼汗利，喘則逐飲脹則攻，再辨陽水與陰水，攻瀉溫補貴變通。
[註]
小兒水腫，皆因水停於脾肺二經，水停胸中則喘，水停膈中則脹，
其間所腫部位，不可不察，
如腫在腰以上者，屬風，法宜發汗，
腫在腰以下者，屬濕，法宜利水，
有通身上下皆腫者，係風濕兩傷，法宜汗利兼施，
腫而喘不得臥，宜逐肺飲，
腫而脹滿便秘，宜攻脾水， 
腫從腹起至四肢者，可治，
腫從四肢起至腹者，不可治，
然又有陽水陰水之分，
直詳別焉，陽水屬實，法宜攻泄，陰水屬虛，法宜溫補，
應證而施，自無不效也。

<hr class="分段">
水腫門
風水腫
條文：002
腫在上者因風起，急宜發汗莫從容，越婢湯中加蒼朮，汗後全消病即寧。
[註]
上身腫者，頭面肩臂至腰間皆腫也，病因外感風邪，法宜發汗則愈，
經所謂開鬼門是也，以越婢加蒼朮湯治之。

(越婢湯) 麻黃 石膏煆 甘草生 蒼朮米泔水浸 水煎服。
(方歌)
越婢湯治風水腫，麻賁甘草共石膏，再加蒼朮水煎服，能使兒童腫即消。

<hr class="分段">
水腫門
濕水腫
條文：003
腫在下者因濕起，急宜利水可安然，外法貼臍如神妙，內服沈香琥珀丸。
[註]
下身腫者，腰臍至兩足皆腫也，
病因脾經濕熱所成，急用利水之法，
經所謂潔淨府是也，外用貼臍法，內服沈香琥珀丸。

(貼臍法) 巴豆四錢去油 水碾粉二錢 硫黃一錢 共研勻成餅，
先用新棉一片，包藥布臍上，外用帛縛時許，自然瀉下惡水，
待下三五次，去藥以粥補佳。

(沈香琥珀丸) 
苦葶藶子一兩五錢 郁李仁一兩五錢去皮 防己七錢五分 
沈香一兩五錢 陳皮七錢五分去自 琥珀五錢 杏仁五錢去皮尖炒 
蘇子五錢 赤苓五錢 澤瀉五錢 以上共為細末，煉蜜為丸，如梧桐子大，
以麝香為衣，每服一錢，量兒大小與之，用滾白水下。

<hr class="分段">
水腫門
風濕腫
條文：004
通身皆腫屬風濕，外散內利最相宜，峻攻則用疏鑿飲，和劑茯苓導水醫，
水上攻肺喘不臥，蘇葶定喘最相宜，水停中州脹急滿，舟車神祐量攻之。
[註]
通身腫者，頭面手足皆腫也，
得病之由，內停濕飲，外感風邪，風濕相搏，
水道不利，外攻肌表，因而作腫也，
重者用疏鑿飲峻攻之，輕者用茯苓導水湯和解之，
若水停上攻於肺，喘急不得臥者，以蘇葶丸瀉之，
水停中州脹滿者，以舟車神祐丸攻之。

(疏鑿飲) 
商陸 秦艽 羌活 椒目 木通 赤小豆 茯苓皮 大腹皮 澤瀉 檳榔 
以上引用薑皮水煎服。
(方歌)
疏鑿飲子風濕腫，外發內利陸秦羌，椒目木通赤小豆，苓皮小腹澤檳榔。

(茯苓導水湯) 
紫蘇 陳皮 白朮土炒 木香 桑白皮炒 麥冬去心 赤茯苓 澤瀉 木瓜
大腹皮 縮砂仁 檳榔 引用燈心水煎服。
(方歌)
和解茯苓導水湯，紫蘇陳皮朮木香，桑皮麥冬赤苓澤，木瓜大腹縮檳榔。

(蘇葶丸) 方見痰飲喘急。

(舟車神祐丸) 
甘遂 芫花 大戟各一兩俱醋炒 大黃二兩 黑牽牛四兩頭末
青皮炒 陳皮　木香 檳榔各五錢 輕粉一錢 以上共為細末，水丸如椒目大，
小兒二丸三丸，大兒五丸七丸，量服之，滾白水送下。

<hr class="分段">
水腫門
陽水
條文：005
陽水身熱脈沈數，小便赤濇大便難，熱盛煩渴濬川散，濕盛脹滿神祐丸，
量兒大小斟酌用，應變而施勿一偏。
[註]
陽水者，小兒濕熱內鬱，水道阻塞，外攻肌表，以致外腫內脹，
發熱口渴心煩，小便短赤，大便秘結，法當泄水，不可少緩， 
熱盛煩渴者，以大聖濬川散攻之，
濕盛脹滿者，舟車神祐丸攻之，
須量兒大小，視病輕重，合宜而用，勿執一偏過於峻攻，徒傷正氣也。

(大聖濬川散) 川大黃煨 牽牛取頭末 郁李仁各一兩 木香三錢 
芒硝三錢 甘遂五分　以上為細末，薑湯調下，量兒大小用之。

(舟車神祐丸) 方見風濕腫。

<hr class="分段">
水腫門
陰水
條文：006
陰水便利不煩熱，須服實脾腎氣丸，若服溫補俱無驗，攻補兼施病始痊。
[註]
陰水者，因脾腎虛弱也，脾虛不能制水，腎虛不能主水，
以致外泛作腫內停作脹，
若二便不實，身不熱心不煩者，宜用實脾散，金匱腎氣丸，
若服溫補之藥而無效驗者，則是虛中有實也，欲投攻下之劑，恐小兒難堪，
若不攻之，又豈可坐以待斃，須攻補兼施，或一補一攻，或三補一攻，
或九補一攻，審其進退，俟有可攻之機，以意消息，藥與元氣相當，
始能逐邪而不傷正也，必須忌鹽醬百日，方可收功。

(實脾散) 草果仁研 大腹皮 木瓜 木香研 厚朴薑炒 乾薑 附子製 
白朮土炒 茯苓甘草炙 以上引用棗二枚，水煎服。
(方歌)
實脾散治陰水腫，草葉大腹木瓜香，厚朴薑附朮苓草，虛者仍兼腎氣方。

（金匱腎氣丸）熟地黃一兩 山藥八錢炒 山茱萸八錢 牡丹皮五錢 
茯苓一兩 澤瀉五錢　肉桂五錢 淡附子五錢 車前子五錢 牛膝八錢 
以上為細末，煉蜜為丸，如梧桐子大，每服錢半，白滾水送下。

<hr class="分段">
腹脹門
腹脹總括
條文：001
腹脹脾虛因久病，胃實多由食滯停，補虛健脾兼理氣，攻食消導自然寧。
[註]
腹脹之病，脾胃二經主之，有虛有實，宜分晰焉，
虛者因久病內傷其脾，
實者因飲食停滯於胃，虛則補脾，實則消導，調治合宜，其脹自漸除矣。

<hr class="分段">
腹脹門
虛脹
條文：002
久病脾虛失運健，或因吐瀉暴傷脾，食少即脹精神倦，面黃肌瘦四君宜。
[註]
凡小兒久病脾虛，或吐瀉暴傷脾氣，健運失常，
所以飲食不化，食少腹即脹滿，現證精神倦怠，面黃肌瘦，此虛脹也，
宜用香朴四君子湯治之。

(香朴四君子湯) 
人參 白朮土炒 白茯苓 甘草炙 香附製 厚朴薑炒 引用生薑水煎服。
(方歌)
香朴四君治虛脹，參朮甘草共茯苓，香附厚朴宜加人，引薑煎服脹即寧。

<hr class="分段">
腹脹門
實脹
條文：003
飲食過度內傷胃，停滯腹脹便不通，潮熱煩渴形氣壯，平胃承氣施治靈。
[註]
小兒飲食過度，則胃中停滯，
以致腹脹，大便不利，身體潮熱，心煩口渴，形氣壯實，此實脹也，
輕者平胃散主之，重者小承氣湯主之。

(加味平胃散) 南蒼朮炒 厚朴薑炒 大腹皮製 甘草生 陳皮 萊菔子焙 
山查 麥芽炒　神麴炒　引用生薑水煎服。
(方歌)
加味平胃治實脹，蒼朮厚朴大腹皮 甘草陳皮萊菔子，山查麥芽炒神麴。

(小承氣湯) 方見食痛。

<hr class="分段">
發熱門
諸熱總括
條文：001
小兒有病多發熱，表裏虛實宜分別，觀形察色辨因由，審證切脈有妙訣，
表證須汗裹下之，虛則宜補實則瀉，平昔體認要精詳，方得臨時無遺闕。
[註]
小兒發熱有表裏虛實之異，治亦有汗下補瀉之殊，
須觀形察色，審證切脈以別之，
惟在平昔講習精詳，臨證庶不致誤。

<hr class="分段">
發熱門
表熱
條文：002
表熱之證因外感，脈浮發熱惡風寒，頭痛身疼而無汗，十神通聖表為先。
[註]
小兒外感寒邪，脈浮發熱，惡風惡寒，頭疼身痛無汗，
此表熱也，宜十神湯主之，
若兼內熱者，雙解通聖湯兩解之。

（十神湯）升麻 葛根 麻黃 香附醋炒 陳皮 蘇葉 赤芍藥 川芎 香白芷 
甘草生 引用生薑水煎服。
(方歌)
十神湯治表熱證，升麻乾葛共麻黃，香附陳皮蘇葉芍，芎芷甘草引生薑。

(雙解通聖湯) 方見傷寒。

<hr class="分段">
發熱門
裏熱
條文：003
裏熱之證因內熱，遍身蒸熱小便紅，面赤唇焦舌燥渴，調胃白虎解毒清。
[註]
小兒肥甘過度，必生內熱，
以致發熱蒸蒸，小便赤濇，面赤脣焦，舌燥而渴，
脈實有力者先以調胃承氣湯下之，不愈用白虎湯，或黃連解毒湯清之。

(調胃承氣湯) 大黃 芒硝 甘草 引用生薑水煎服。
(方歌)
謂胃承氣治裹熱，大黃甘草共芒硝，引用生薑水煎服，大使通利熱自消。

(白虎湯) 石膏煆 知母生 甘草生 粳米 水煎服。
(方歌)胃熱白虎湯，知母生用良，石膏合甘草，粳米共煎嗜。

(黃連解毒湯) 黃芩 黃連 梔子 黃蘗 水煎服。
(方歌)黃連解毒湯，清熱效非常，芩連梔子蘗，煎服保安康。

<hr class="分段">
發熱門
虛熱
條文：004
虛熱病後榮衛弱，神倦氣乏用補中，嘔渴竹葉石膏治，面赤尿白厥自通。
[註]
虛熱者，因小兒病後氣血虛弱，榮衛尚未調勻之故，
其證神倦氣乏，宜用補中益氣湯治之，
若兼口渴引飲而嘔者，宜用竹葉石膏湯治之，
又有陰盛格陽，外浮發熱者，其面色雖赤，
然小便必清白，四肢必厥逆，宜用白通湯收斂陽氣，熱退自愈。

(補中益氣湯) 方見飧泄。

(竹葉石膏湯) 竹葉 石膏煆 人參 麥冬去心 甘草生 半夏薑製 粳米 
引用生薑水煎服
(方歌)
病後虛弱煩渴嘔，皆因氣弱胃津亡，竹葉石膏參麥草，半夏粳米共生薑。

(白通湯) 乾薑 附子製 蔥 水煎服。
(方歌)虛熱原於陰格陽，真寒假熱白通湯，散寒薑附蔥白莖，厥回熱退自然康。

<hr class="分段">
發熱門
實熱
條文：005
實熱積熱午潮熱，腹脹尿紅大便難，煩渴口瘡腮頰赤，涼膈大柴效通仙。
[註]
小兒有餘積熱，以致午後潮熱，蒸蒸有汗，肚腹脹滿小便赤，大便難，
煩渴啼叫，口舌生瘡，腮頰紅赤，脈洪數有力，
法宜清熱通利，時時熱者，涼膈散主之，
午後潮熱者，大柴胡湯主之。

(涼膈散)方見急驚風 
(大柴胡湯)方見傷寒

<hr class="分段">
積滯門
積滯總括
條文：001
小兒養生食與乳，撙節失宜積滯成，停乳傷食宜分晰，因證調治保安寧。
[註]
夫乳與食，小兒資以養生者也，胃主納受，脾主運化，乳貴有時，
食貴有節，可免積滯之患，
若父母過愛，乳食無度，則宿滯不消而病成矣，
醫者當別其停乳傷食之異，臨證斟酌而施治焉。

<hr class="分段">
積滯門
乳滯
條文：002
嬰兒乳滯睡不安，多啼口熱吐驚煩，肚脹腹熱便酸臭，慎攻宜用消乳丸。
[註]
乳滯之兒，其候睡臥不寧，不時啼叫，口中氣熱，頻吐乳片，
肚腹脹熱，大便酸臭也，但臟腑嬌嫩，不可過攻，
惟宜調和脾胃為上，以消乳丸消導之。

(消乳丸) 方見傷乳吐。

<hr class="分段">
積滯門
食滯
條文：003
小兒食滯任意餐，頭溫腹熱便膿酸，噯氣惡食煩作渴，大安承氣審宜先。
[註]
小兒恣意肥甘生冷，不能運化，則腸胃積滯矣，
其證頭溫腹熱，大便酸臭，曖氣惡食，煩不安眠，口乾作渴，
滯輕者，宜木香大安丸消導之，
滯重便秘者，宜小承氣湯攻下之。

(木香大安丸) 木香 黃連 陳皮 白朮土炒 枳實麩炒 山查肉各三餞 
連翹二錢去心 神麴炒 麥芽各三錢炒 砂仁 萊菔子各二錢焙 
共為細末，神麴糊為丸，每服一錢，陳倉米湯下

(小承氣湯)方見食痛。

<hr class="分段">
癖疾門
癖疾總括
條文：001
癖疾過食腸胃滿，濁液外溢被寒凝，潮熱飲冷肌削瘦，腹滿硬塊面黃青。
[註]
癖疾一證，皆因飲食過節，腸胃瑱滿，濁汁外溢，復感寒氣凝結而成，
每生於左脅之下，始如雞卵，堅硬成塊，漸如覆盆之形，越臍則難治矣，
其候身體潮熱，喜飲涼水，肌膚削瘦，面色青黃也，治者宜詳察之。

<hr class="分段">
癖疾門
癖疾證治
條文：002
癖疾潮熱渴飲冷，肚大青筋堅硬疼，內服消癖木香效，外貼紅花膏最靈。
[註]
癖疾之始作也，午後潮熱，口渴飲冷，肚大青筋，
漸至堅硬成塊，不時作痛，
內以千金消癖丸治之，外貼紅花膏，內外兼治，其癖自消，
若無熱渴者，先以木香丸治之，外亦以紅花膏貼之．

(千金消癖丸) 蘆薈 阿魏另為糊 青黛 木香 厚朴薑炒 檳榔 陳皮 
甘草各一錢生 史君子去殼 胡黃連 山查肉 香附酯炒 三棱醋炒 
莪朮各二錢醋炒 水紅花子 神麴炒 麥芽各四錢炒 人參 白朮土炒 
茯苓各三錢 以上為細末，將阿魏一錢，白水和麵，打糊為丸，
菉豆大，米飲下，量兒大小服之。

(木香丸) 木香 蓬莪朮 縮砂仁 青皮 硃砂各二錢研細 
以上為細末和勻，飛白麵糊和丸，麻子大，每服二三丸，
乳傷乳飲下，食傷以所傷物熬湯飲下。

(紅花膏) 沒藥五錢 血竭 麝香 阿魏各三錢 當歸 赤芍各一錢 
水紅花料一捆煎汁去渣　熬膏一碗 以上為細末，
入膏內攬勻，以青布攤貼患處。

<hr class="分段">
汗證門
汗證總括
條文：001
自汗屬陽有虛實，或因胃熱或表虛，睡中盜汗為陰弱，心虛血熱隨證醫。
[註]
汗乃人之津液，存於陽者為津，存於陰者為液，發洩於外者為汗，
若汗無故而出者，乃因陰陽偏勝也，
如小兒無因而汗自出者，謂之自汗，
自汗屬陽有虛實之別，
虛者汗出翕翕，發熱惡寒，乃表虛也，
汗出蒸蒸，發熱不惡寒，乃裏熱也，
表虛者，法當固表，裏實者，法當攻熱，
又有睡則汗出，覺則汗止，謂之盜汗，
盜汗主陰虛，然當分心虛不固，心火傷陰也，
心虛當補心，心熱當涼血，治者宜詳辨之，庶無差謬。

<hr class="分段">
汗證門
自汗
條文：002
表虛自汗玉屏風，甚者桂枝加附從，裹實自汗用白虎，便秘調胃承氣攻。
[註]
表虛濈濈自汗，玉屏風散主之，
若惡寒冷，陽氣虛也，桂枝湯加附子固之，
陽明裏實，蒸蒸自汗，用白虎湯清之，
便秘者，以調胃承氣湯攻之。

(玉屏風散) 黃耆蜜炙 防風 白朮土炒 水煎服。
(方歌)
表氣虛弱時自汗，玉屏風治頗相宜，黃耆防風炒白朮，水煎溫服不拘時。

(桂枝加附子湯) 白芍藥 桂枝 甘草炙 附子製 引用薑棗水煎服。
(方歌)表氣虛弱甚，桂枝湯最良，芍藥桂枝草，加附病漸康。

(白虎湯)方見裏熱 
(調胃承氣湯)方見裏熱。

<hr class="分段">
汗證門
盜汗
條文：003
心虛盜汗睡多驚，酸棗仁湯服即寧，心火傷陰必煩熱，當歸六黃湯奏功。
[註]
盜汗有二，虛實兩分，
心虛者陰氣不斂也，睡則多驚，以酸棗仁湯主之，
心熱者，火傷於陰也，身多煩熱，以當歸六黃湯主之。

(酸棗仁湯) 當歸 白芍炒 生地 茯苓 酸棗仁炒 知母炒 黃蘗炒 
五味子 人參 黃耆炒 水煎服。
(方歌)
酸棗仁湯治盜汗，陽不能藏陰本虛，歸芍生地茯苓棗，知蘗五味共參耆。

(當歸六黃湯) 
當歸 生地黃 熟地黃 黃芩 黃蘗 黃連 黃耆炙 引用浮麥水煎服。
(方歌)
當歸六黃治盜汗，陽盛傷陰液自流，生熟二地芩連蘗，歸耆浮麥汗能收。

<hr class="分段">
失血門
失血總括
條文：001
陰乘陽熱血妄行，血犯氣分不歸經，血病及腑滲濁道，傷於藏者溢出清，
熱犯陽絡上吐衄，熱侵陰絡下失紅，又有努勞成血病，血止仍嗽勢多凶。
[註]
凡失血之證，陽盛乘陰，則血為熱迫，不能安於脈中，
犯於氣分，妄行不能歸入經脈也，
若血病傷及於腑者，則血滲入腸胃之濁道上行於咽，出而為吐為衄，
下從二便而出，為便為溺也，
若血病傷及於藏者，則溢出於胸中之清道，上從喉出而兼咳嗽，
下從精竅而出，為溺血也，
失血藏於臟內，行於脈中，流於軀殼之內，
不可得而見也，非損傷不能為病，
而損之因有三，
一曰熱傷陽絡，腑病也，熱傷陰絡，藏病也，宜以清熱為主，
一曰努傷，宜以破逐為主，
一曰勞傷，宜以理損為主，
若日久血止，而咳嗽不休者，主必死之證，故勢多凶也。

<hr class="分段">
失血門
衄血
條文：002
衄血之候鼻乾燥，身熱不渴苦頭疼，失表分汗麻桂治，內熱犀角瀉心清。
[註]
衄血者，鼻中出血也，
其候鼻中乾燥，身熱不渴，苦頭痛，是熱傷陽絡也，
有因傷寒失汗衄血者，乃熱鬱於榮，其身無汗，宜以麻黃湯汗之，
身有汗者，宜以桂枝湯解之，
設無表病，因內熱而衄血者，宜以犀角地黃湯清之，
熱盛者，四物三黃瀉心湯瀉之，
外俱用髮灰散，或黑梔子末吹鼻，其衄自止

(麻黃湯) 麻黃 杏仁炒去皮尖 桂枝 甘草生 引用生薑水煎服。
(方歌)
傷寒失表榮鬱熱，身體無汗血妄行，須用麻黃湯調治，桂麻杏草引生薑。

(桂枝湯) 方見自汗。

(犀角地黃湯) 牡丹皮 白芍藥 犀角 生地黃 水煎服。便硬者加川大黃。
(方歌)犀角地黃湯，治衄效非常，丹皮芍犀地，便秘加大黃。

(四物三黃瀉心湯) 
川芎 當歸酒洗 生地黃 赤芍藥 黃芩 黃連 川大黃酒洗 水煎服。
(方歌)
物四三黃瀉心湯，熱盛吐衄功最良，芎歸生地赤芍藥，黃芩黃連川大黃。

(髮灰散) 取壯實人頭髮，陰陽瓦煆成灰，放在地上，去火性，研細末，
吹入鼻中，血衄自止

<hr class="分段">
失血門
吐血
條文：003
吐血下咳因熱逆，若兼咳嗽努勞傷，內熱犀角地黃治，努傷承氣四物嘗，
勞傷有熱雞蘇散，無熱須用救肺良。
[註]
小兒吐血不咳嗽者，多因內熱，致血妄行上逆也，宜以犀角地黃湯主之，
若因努勞吐血者，兼咳嗽，
先用桃仁承氣湯以破逐之，次用加味四物湯和之，
又有勞傷吐血者，亦兼咳嗽，
痰中帶血有熱者，雞蘇散主之，無熱者救肺散主之。

(犀角地黃湯) 方見本門衄血。

(桃仁承氣湯) 桃仁去皮尖研 大黃 芒硝 甘草 桂枝 
加當歸　芍藥　蘇木　紅花，水煎服。
(方歌)
努傷吐血先破逐，桃仁承氣湯妙絕，桃仁黃硝草桂枝，加人歸芍蘇紅捷。

(加味四物湯) 當歸 芍藥 川芎 生地黃 茅根 蒲黃 牡丹皮 
梔子炒黑 甘草生 引用藕節酒水煎服。
(方歌)
勞傷吐血須活血，四物為主真妙訣，再加茅根與蒲黃，丹皮梔草引藕節。

(雞蘇散) 雞蘇薄荷葉 川貝母去心 麥門冬去心 桔梗 阿膠蛤粉炒 
生地黃 甘草生 黃耆炙 白茅根 蒲黃炒 水煎服。
(方歌)
勞傷有熱嗽痰血，雞蘇貝母麥門冬，桔梗阿膠生地草，黃耆茅根蒲黃同。

(加味救肺散) 麥冬去心 人參 黃耆炙 鬱金 五味子 當歸酒洗 
白芍藥酒炒 川貝母去心研 甘草炙 馬兜鈴 水煎服。
(方歌)
勞傷無熱嗽痰血，加味救肺麥冬參，黃耆鬱金主味子，歸芍貝母草兜鈴。

<hr class="分段">
失血門
便血
條文：004
熱傷陰絡病便血，藏毒血黯腸風紅，須辨腹痛肛腫痛，熱盛濕盛要分明，
藏毒初起腫痛甚，大黃皂刺莫消停，熱盛俱宜槐花散，濕盛平胃地榆靈，
日久脈微氣血弱，升陽和血共養榮。
[註]
大便下血皆因小兒恣食肥甘，致生內熱傷陰絡也，
若血色，黯而濁，肛門腫痛，先血後糞，此為近血，名日藏毒，
若血鮮而清，腹中不痛，先糞後血此為遠血，名日腸風，
藏毒肛門每多腫痛，初起宜用皂刺大黃湯消之，
大下血後，熱盛微痛者，以槐花散和之，
濕盛不痛者，以平胃地榆湯和之，
腸風亦宜槐花散主之，
便血日久，脈微氣血弱者，升陽和血湯和之，繼以人參養榮湯補之

(皂刺大黃湯) 皂刺 生川大黃各等分 
量小兒年歲大小虛實，酌其多少，水酒煎服。

(槐花散) 槐花炒 側柏葉 枳殼麩炒 川黃連 荊芥穗炒 水煎服。
藏毒加蒼朮苦楝。腸風加秦艽防風。
(方歌)藏毒腸風槐花散，黃連枳殼槐柏荊，臟毒蒼朮苦楝人，腸風須加艽防行。

(平胃地榆湯) 蒼朮炒 陳皮 厚朴薑炒 甘草 地榆 引用生薑水煎服。
(方歌)便血濕盛腹不痛，須用平胃地榆湯，蒼朮陳皮厚朴草，地榆同煎引生薑。

(升陽和血湯) 黃耆炙 黃歸酒洗 白芍炒 牡丹皮 陳皮 肉桂 
秦艽 生地黃 熟地黃　生甘草 炙甘草 蒼朮炒 升麻 水煎服。
(方歌)下血日久腹中痛，治宜升陽和血湯，二地二草耆歸芍，陳丹秦艽升桂蒼。

(人參養榮湯) 人參 黃耆炙 白朮土炒 白茯苓 白芍藥炒 肉桂 
熟地黃 當歸酒洗　甘草炙 陳皮 引用薑棗水煎服。
(方歌)失血日久氣血虛，人參養榮湯頗宜，參耆朮苓白芍桂，地黃當歸草陳皮。

<hr class="分段">
失血門
溺血
條文：005
溺血多緣精竅病，尿血分出莖或疼，牛膝四物湯調治，急宜煎服效從容。
[註]
溺血為精竅之病，乃尿與血先後分出者也，
宜用牛膝四物湯治之，其證自愈。

(牛膝四物湯) 
牛膝 木通 鬱金 甘草梢 瞿麥 當歸 川芎 生地 赤芍藥 水煎服。
(方歌)
小兒溺血精竅病，宜用牛膝四物湯，牛膝鬱金通瞿草，歸芎赤芍生地黃。

<hr class="分段">
雜證門
二便祕結
條文：001
小兒熱結二便秘，口渴舌乾唇面紅，八正尿秘少腹滿，神芎便秘腹脹疼。
[註]
此證多因乳食停滯生熱，結於腸胃，以致二便秘結，
其候舌乾口渴，面赤脣焦也，
熱積則小便秘濇，少腹滿急，宜八正散主之，
若食積大便秘腹脹痛者，宜神芎丸主之。

（八正散） 方見不小便。

(神芎丸) 大黃 滑石各一兩水飛 薄荷 川芎各四錢 黃芩 黃連各五錢生 
牽牛四錢 共為細末，滴水為丸，每服五丸，蜜湯化下。

<hr class="分段">
雜證門
氣虛脫肛
條文：002
瀉痢日久中氣陷，肛鬆腸薄滑而脫，面色青黃指梢冷，脈來沈細唇淡白，
補中益氣湯升舉，真人養藏固滑脫，外用澀腸散調敷，氣升肛澀腸自合。
[註]
脫肛一證，因瀉痢日久，中氣下陷，腸胃薄瘦遂令肛門滑脫不收，
現證面色青黃，指梢冷，脈沈細，唇色淡白，
宜溫補為主，先以補中益氣湯升提其氣，再以真人養藏湯溫補固滑，
外以澀腸散摻之，則氣升肛澀而腸自收矣。

(補中益氣湯)方見飧瀉

 (真人養藏湯)方見寒痢。

(澀腸散) 訶子 赤石脂 龍骨各等分煆 以上為細末，
用臘茶調敷，和藥摻腸頭上，綿帛揉入。

<hr class="分段">
雜證門
肛腫翻肛
條文：003
積熱紅腫大使難，努力肛出翻不還，外用蟠龍散消腫，內宜皂刺大黃煎。
[註]
小兒積熱太盛，以致肛門作腫大便艱難，努力翻出，肛脫不還，
外用蟠龍散消其腫，內服皂刺大黃湯，其腫一消，肛自收矣。

(皂刺大黃湯) 方見便血。

(曹氏蟠龍散) 乾地蟠龍一兩略去土焙 風化朴硝二錢 以上剉稅為細末，
仍和勻朴硝，每以二錢至三錢，肛門濕潤者乾塗，乾燥者用清油調塗，
先用荊芥生蔥煎水，候溫洗浴輕與拭乾，然後敷藥。

<hr class="分段">
雜證門
龜胸
條文：004
肺積痰熱病龜胸，胸骨高聳若龜形，氣急喘咳體羸瘦，寬氣百合酌量行。
[註]
龜胸一證，多因小兒飲食不節痰熱熾盛，復為風邪所傷，
風熱相搏，以致肺經脹滿，攻於胸膈，高如覆杯，
現證咳嗽喘急，身體羸瘦，
治宜清肺化痰為主，先以寬氣飲開其氣道,
再以百合丹除其壅滯，肺熱清而脹滿自除矣。

(寬氣散) 杏仁去皮尖炒 桑白皮炒 橘紅 蘇子炒 枳殼麩炒 枇杷葉蜜炙 
麥冬去心　生甘草 苦葶藶 水煎服。
(方歌)
寬氣飲治兒龜胸，杏仁桑皮合橘紅，蘇子枳殼枇杷葉，甘草葶藶麥門冬。

(百合丹)百合 天門冬 杏仁炒去皮尖 木通 桑白皮炒 甜葶藶 
石膏各五錢 大黃三錢　以上為細末，煉蜜丸如菉豆大，
量兒大小服之，臨臥滾白水迭下。

<hr class="分段">
雜證門
龜背
條文：005
龜背坐早被風吹，傴僂背高狀如龜，內服松蕊丹緩治，外用灸法點龜尿。
[註]
龜背者，因嬰兒坐旱被客風吹入脊膂，遂致傴僂曲折，背高如龜，
往往為終身痼疾，
內以松蕊丹調治之，外用聖惠灸穴法，灸肺俞心俞膈俞三穴三五壯，
或以龜尿點骨節上，亦可得效。

(松蕊丹) 松花 枳實麩炒 防風 獨活各一兩 麻黃 前胡 川大黃生 
桂心各五錢 以上為細末，煉蜜丸如黍米大，每服十丸，粥飲送下。

<hr class="分段">
雜證門
五軟
條文：006
五軟稟賦不足證，頭項手足口肉肌，地黃丸與扶元散，全在後天調養宜。
[註]
五軟者，為頭項軟，手軟，足軟，口軟，肌肉軟，是也，
頭軟者，項軟無力，
手足軟者，四肢無力也，
肉軟者，皮寬不長肌肉也，
口軟者，唇薄無力也，
此五者，皆因稟受不足,氣血不充，故骨脈不強，筋肉痿弱，
治宜補氣為主，
先以補腎地黃丸補其先天精氣，再以扶元散補其後天羸弱，
漸次調理，而五軟自強矣。

(補腎地黃丸) 熟地黃一兩五錢 山萸肉一兩 懷山藥炒 茯苓各八錢 
牡丹皮 澤瀉各五錢　牛膝八錢 鹿茸五錢酥炙 
以上為細末，煉蜜丸如梧桐子大，每服二錢，用鹽湯下

(扶元散) 人參 白朮土炒 茯苓 熟地黃 茯神 黃耆蜜炙 山藥炒 
炙甘草 當歸 白芍藥 川芎 石菖蒲 引用薑棗水煎服。
(方歌)
五軟扶元散堪嚐，參朮茯苓熟地黃，茯神黃耆山藥草，歸芍川芎及石菖。

<hr class="分段">
雜證門
五鞕
條文：007
陽氣不榮成五鞕，仰頭取氣難搖動，手足強直冷如冰，氣壅胸膈牽連痛，
小續命湯最為良，烏藥順氣散極應，若遇肝木乘脾經，加味六君妙無竟。
[註]
五鞕者，仰頭取氣，難以動搖，氣壅疼痛，連胸膈間，手心足心冰涼而鞕，
皆由陽氣不榮於四末，最為難治，
重者以小續命湯疏其風，輕者以烏藥順氣散調其氣，
若肝木乘脾，食少氣弱者，加味六君子湯治之，內外交治，而證自日瘥矣。 

(小續命湯) 人參 麻黃 川芎 黃芩 芍藥 甘草炙 防風 官桂去皮 
附子泡去皮臍　杏仁炒去皮尖 漢防己 引用薑棗水煎服。
(方歌)
小續命湯治五鞕，人參麻黃川芎共，黃芩芍藥草防風，官桂附子防己杏。

(烏藥順氣散) 麻黃 白芷 川芎 桔梗 枳殼炒 烏藥 殭蠶炒 炮薑 
甘草生 橘紅 引用蔥白水煎服。
(方歌)
烏藥順氣五鞕輕，麻黃白芷合川芎，桔梗枳殼殭蠶炒，烏藥炮薑草橘紅。

(加味六君子湯) 人參 白朮 炮薑 陳皮 半夏製 茯苓 炙甘草 
升麻蜜炙 柴胡醋炒肉桂 水煎服。
(方歌)
加味六君虛五鞕，人參白朮共炮薑，陳半茯苓炙甘草，升麻柴胡肉桂良。

<hr class="分段">
雜證門
五遲
條文：008
小兒稟來氣血虛，筋骨軟弱步難移，牙齒不生髮疏薄，身坐不穩語言遲，
加味地黃為主治，補中益氣繼相醫，邪乘心氣菖蒲好，血虛髮遲苣勝宜。
[註]
小兒五遲之證，多因父母氣血虛弱，先天有虧，致兒生下筋骨軟弱，
行步艱難，齒不速長，坐不能穩，要皆腎氣不足之故，
先用加味地黃丸滋養其血，再以補中益氣湯調養其氣，
又足少陰為腎之經，其華在髮，
若少陰之血氣不足，即不能上榮於髮，苣勝丹主之，
又有驚邪乘入心氣，至四五歲尚不能言者，菖蒲丸主之。

(加味六味地黃丸) 熟地黃一兩 山萸肉一兩 懷山藥炒 
茯苓各八錢 澤瀉 牡丹皮各五錢　鹿茸三錢炙 五加皮五錢 麝香五分 
以上為細末，煉蜜丸如梧桐子大，
大兒每服二錢，小兒一錢五分，鹽湯送下。

(補中益氣湯) 方見飧瀉。

(苣勝丹) 
當歸洗焙 生地黃 白芍藥各一兩炒 苣勝子二兩碾 胡粉三錢碾 
以上同研勻，煉蜜為丸如黍米大，每服十粒，煎黑豆湯下。

(菖蒲丸) 
人參 石菖蒲 麥門冬去心 遠志去心 川芎 當歸酒洗 乳香 
硃砂各一錢水飛  以上為細末，煉白蜜為丸，如黍米大，
食遠用米湯送下。

<hr class="分段">
雜證門
鶴膝風
條文：009
小兒稟賦不充盈，肌肉削瘦少崢嶸，膝骨外露如鶴膝，多緣腎弱髓難生，
血脈不榮筋攣縮，膝貯風涎時作疼，大防風湯宜先服，地黃繼進莫從容。
【註】
小兒鶴膝風，多因稟賦不足，血氣不榮，肌肉削瘦，
遂致骨節外露，筋脈攣縮，股漸細小，而膝愈大，
腰皆腎虛不能生精髓之故也，
須先服大防風湯，繼以補腎地黃丸治之，庶氣血充而證自愈矣。

（大防風湯）
人參　白朮土炒　茯苓　甘草炙　熟地黃　當歸身　白芍藥炒
川芎　黃耆蜜炙　羌活　防風　附子製　杜仲　牛膝　引用薑棗水煎服。
（方歌）
大防風湯八珍耆，羌防附子杜仲移，榮筋更有川牛膝，虛風鶴膝最相宜。

（補腎地黃丸）方見五軟

<hr class="分段">
雜證門
解顱
條文：010
小兒解顱最堪憐，先天有損腦髓乾，面色㿠白形瘦弱，二目多白若愁煩，
補腎地黃丸堪服，補陽扶元散為先，更有封䪿散極效，臨時攤貼保安然。
【註】
解顱者，乃䪿大骨縫不合也，
蓋腎生髓，腦為髓海，腎氣有虧，腦髓不足，亦如花木無根，
現證面色㿠白，形體瘦弱，目多白睛，悲愁少笑，治宜補養腎氣為主，
先以補腎地黃丸滋補其陰，再以扶元散補養其氣，
外用封䪿散攤貼之，則精血稍充，或可轉危為安也。

（補腎地黃丸）（扶元散）俱見五軟。

（封䪿散）
柏子仁　防風　天南星各四兩　以上為細末，每用一錢，以豬膽汁調勻，
攤在緋絹帛上，看䪿大小剪貼，一日一換，不得令乾，時時以湯潤動。

<hr class="分段">
雜證門
䪿陷
條文：011
小兒緣何䪿下陷，瀉久脾虧虛弱見，面目青黃四肢涼，六脈沈緩神慘淡，
補中益氣湯最宜，固真湯進有奇驗，外用烏附膏攤貼，溫中理脾功無限。
[註] 
小兒藏府有熱 渴飲水漿，致成瀉痢，久則脾氣虛寒，不能上充腦髓，
故䪿陷成坑，名日䪿陷。
現證面目青黃,四肢逆冷，六脈沈緩，神氣慘淡，
先以補中益氣湯升提其氣，再以回真湯溫補其脾，
外用烏附攤貼於陷處極效。

(補中益氣湯)方見飧瀉 

(固真湯)方見慢脾風

(烏附膏) 雄黃二錢 川烏 附子各五錢生 以上為細末 用生蔥和根葉細切，
杵爛入前藥末，同煎作成膏，每早空心貼陷處。

<hr class="分段">
雜證門
䪿填
條文：012
䪿門腫起氣上衝，其間虛實要分明，毛髮憔悴頻頻汗，胸高氣促口唇紅，
肝盛瀉青丸最效，裹熱連翹飲堪行，因表防風升麻劑，鞕冷屬陰用理中。
[註]
䪿填者，謂䪿門腫起也，
蓋因乳哺無度，或寒或熱，乘於脾經，致使藏府不調，
其氣上衝，為之填腫脹突，
現證毛髮憔悴，頻頻出汗，胸高氣促，口唇色紅，
須分虛實治之，
肝氣盛者，瀉青丸主之，裏熱盛者，大連翹飲主之，
因表者，防風升麻湯主之，堅鞕不熱者，屬陰，理中湯主之。

(瀉青丸) 方見急驚風。
(大連翹飲) 柴胡 荊芥 連翹去心 木通 滑石水飛 梔子 
蟬退去足翅 瞿麥 當歸酒洗　赤芍藥 黃芩 甘草生 防風 水煎服。
(方歌)
連翹飲治熱上衝，柴胡荊芥翹木通，滑石梔子蟬瞿麥，歸芍黃芩草防風。

(防風升麻湯) 
麥冬去心 木通 甘草節 山梔 升麻 防風 引用淡竹葉水煎服。
(方歌)防風升麻湯，䪿填效非常，麥冬木通草，山梔升麻防。

(理中湯) 方見不乳。

<hr class="分段">
雜證門
中惡
條文：013
小兒神氣末充實，觸惡何能自主持，目閉面青驚悶亂，蘇合皂角功效奇。
[註]
小兒神氣末充，一為邪惡所觸，何能主持，自然神魂離舍，
目閉面青，悶亂不省人事，內以四合香丸除其邪，
外以皂角末開通其閉，嚏出則氣通而甦矣。

(蘇合香丸) 方見肛門內合。
</pre>
