<header><h1>傷寒附翼</h1></header>
<dl class="元資料" data-type="book">
<div><dt>作者</dt><dd>柯琴</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1644/1911">公元1644年至公元1911年</data></dd></div>
</dl>
<h2>卷上</h2>
<h3>太陽方總論</h3>
<p>太陽主表，故立方以發表為主，而發表中更兼治裡，故種種不同。麻黃湯於發表中降氣，桂枝湯於發表中滋陰，葛根湯於發表中生津，大青龍湯與麻杏甘膏湯、麻翹赤豆湯，於發表中清火，小青龍湯與五苓散，於發表中利水，清火中復有輕重，利水中各有淺深也。若白虎之清火，十棗之利水，又解表後之證治。其陷胸、瀉心、抵當、調胃、四逆、真武等劑，又隨症救逆之法矣。大抵太陽之表，不離桂枝、麻黃二東加減，以心為太陽之裡也。今將諸方詳論，表章仲景治法，令後人放膽用之，則麻黃湯治傷寒而不治中風。桂枝湯治中風而不治傷寒等說，其可少息乎？</p>
<p><u>桂枝湯：</u></p>
<p>桂枝　芍藥　甘草　生薑　大棗此為仲景群方之魁，乃滋陰和陽，調和營衛，解肌發汗之總方也。凡頭痛發熱惡風惡寒，其脈浮而弱，汗自出者，不拘何經，不論中風、傷寒、雜病，咸得用此發汗。若妄汗妄下，而表不解者，仍當用此解肌。如所云頭痛、發熱、惡寒、惡風、鼻鳴乾嘔等病，但見一症即是，不必悉具，惟以脈弱自汗為主耳。桂枝赤色，通心溫經，能扶陽散寒，甘能益氣生血，辛能解散外邪，內輔君主，發心液而為汗。故麻黃、葛根、青龍輩，凡發汗御寒者咸用之，惟桂枝湯不可用麻黃，麻黃湯不可無桂枝也。本方皆辛甘發散，惟芍藥微苦微寒，能益陰斂血，內和營氣。先輩之無汗不得用桂枝湯者，以芍藥能止汗也。芍藥之功，本在止煩，煩止汗亦止，故反煩、更煩，與心悸而煩者咸賴之。若倍加芍藥，即建中之劑，非復發汗之劑矣。是方也，用桂枝發汗，即用芍藥止汗，生薑之辛，佐桂以解肌，大棗之甘，佐芍以和裡。桂、芍之相須，薑、棗之相得，陰陽表裡，並行而不悖，是剛柔相濟以為和也。甘草甘平，有安內攘外之功，用以調和氣血者，即以調和表裡，且以調和諸藥矣。而精義尤在啜稀熱粥以助藥力。蓋穀氣內充，外邪勿復入，熱粥以繼藥之後，則余邪勿復留，復方之妙用又如此。故用之發汗，自不至於亡陽；用之止汗，自不至於貽患。今人凡遇發熱，不論虛實，悉忌穀味，刊桂枝方者，俱削此法，是豈知仲景之心法乎？要知此方專治表虛，但能解肌，以發營中之汗，不能開皮毛之竅，以出衛分之邪。故汗不出者，是麻黃症，脈浮緊者，是麻黃脈，即不得與桂枝湯矣。然初起無汗，當用麻黃發汗。如汗後復煩，即脈浮數者，不得再與麻黃而更用桂枝。如汗後不解，與下後脈仍浮，氣上衝，或下利止而身痛不休者，皆當用此解外。蓋此時表雖不解，腠理已疏，邪不在皮毛而在肌肉。故脈證雖同麻黃，而主治當屬桂枝也。粗工妄謂桂枝湯專治中風一證，印定後人耳目，而所稱中風者，又與此方不合，故置之不用。愚常以此湯治自汗、盜汗、虛虐、虛痢，隨手而愈。因知仲景方可通治百病，與後人分門證類，使無下手處者，可同年而語耶？</p>
<p><u>麻黃湯：</u></p>
<p>麻黃　桂枝　杏仁　甘草治風寒在表，頭痛項強，發熱身痛，腰痛，骨節煩疼，惡風惡寒，無汗，胸滿而喘，其脈浮緊浮數者，此為開表逐邪發汗之峻劑也。古人用藥用法象之義，麻黃中空外直，宛如毛竅骨節，故能去骨節之風寒，從毛竅而出，為衛分發散風寒之品。桂枝之條縱橫，宛如經脈系絡，能入心化液，通經絡而出汗，為營分散解風寒之品。杏仁為心果，溫能助心散寒，苦能清肺下氣，為上焦逐邪定喘之品。甘草甘平，外拒風寒，內和氣血，為中宮安內攘外之品。此湯入胃行氣於玄府，輸精於皮毛，斯毛脈合精而溱溱汗出，在表之邪，其盡去而不留，痛止喘平，寒熱頓解，不煩啜粥而藉汗於穀也。其不用薑、棗者，以生薑之性，橫散解肌，礙麻黃之上升；大棗之性，滯泥於膈，礙杏仁之速降。此欲急於直達，稍緩則不迅，橫散則不峻矣。若脈浮弱汗自出者，或尺脈微遲者，是桂枝所主，非此方所宜。蓋此乃純陽之劑，過於發散，如單刀直入之將，投之恰當，一戰成功，不當則不戢而召禍。故用之發表，可一而不可再，如汗後不解，便當以桂枝湯代之。若汗出不透，邪氣留連於皮毛骨肉之間，又有麻桂合半與桂枝二麻黃一之妙用。若陽盛於內而無汗者，又有麻黃杏仁石膏連翹赤小豆等劑。此皆仲景心法也。予治冷風哮與風寒濕三氣成痹等證，用此輒效，非傷寒一證可拘也。按：麻、桂二方，治傷寒中風者，遇當用而不敢用，注疏傷寒家於不當用者，妄言其當用。如太陽衄血證，宜桂枝湯句，語意在當須發汗下，麻黃主之句，在當發其汗下，二句皆於結句補出，是倒序法也。仲景於論證時，細明其所以然，未及於方故耳。夫桂枝乃行血之品，仲景用桂枝發汗，不是用桂枝止衄，是用在未衄時，非用在已衄後，且奪血者無汗，此理甚明。麻黃乃上升之品，夫既云衄乃解，又云自衄者愈，若復用升提之藥，衄流不止可必矣，且衄家不可發汗，此禁甚明矣。又如小青龍主之句，語意在服湯已上，豈有寒去欲解，反用燥熱之劑，重亡津液，令渴不解乎？且云服藥已，服藥已者，是何藥何湯耶？觀仲景於所服藥不合法者，必明斥之。如所云「服瀉心湯，復以他藥下之，利不止。」又云「知醫以他藥下之，非其治也。」粗工不知倒序等法，又溺於風寒二字，而曰是雖熱甚，邪由在經，以麻黃治衄，是發散經中邪氣耳。請問邪氣寒乎？熱乎？若寒邪則血凝不流，焉得有衄？若熱邪則清降不遑，而敢升發耶？且云點滴不成流者，必用服藥。若成流不止，將何法以善其後乎？此誤天下蒼生之最盛者，余因表而出之。</p>
<p><u>葛根湯：</u></p>
<p>葛根　麻黃　桂枝　白芍　甘草　薑棗治頭項強痛，背亦強，牽引KT　KT　然，脈浮無汗惡寒，兼治風寒在表而自利者，此開表逐邪之輕劑也。</p>
<p>其證身不疼，腰不痛，骨節不痛，是骨不受寒矣。頭項強痛，下連於背，牽引不寧，是筋傷於風矣。不喘不煩躁，不乾嘔，是無內症；無汗而惡風，病只在表；若表病而兼下利，是表實裡虛矣。比麻黃、青龍之劑較輕，然KT　KT　更甚於項強，而無汗不失為表實，脈浮不緊數，是中於鼓動之陽風，故以桂枝湯為主，而加麻、葛以攻其表實也。葛根味甘氣涼，能起陰氣而生津液，滋筋脈而舒其牽引，故以為君。麻黃、生薑，能開玄府腠理之閉塞，祛風而出汗，故以為臣。寒熱俱輕，故少佐桂、芍，同甘、棗以和裡。此於麻、桂二方之間，衡其輕重，而為調和表裡之劑也。故用之以治表實，而外邪自解，不必治裡虛，而下利自瘳，與大青龍治表裡俱實者異矣。要知葛根秉性輕清，賦體濃重，輕可去實，重可鎮動，濃可固裡，一物而三美備。然惟表實裡虛者宜之，胃家實者，非所宜也。故仲景於陽明經中不用葛根。</p>
<p>東垣用藥分經，不列於太陽，而列於陽明。易老云：「未入陽明者不可服。」皆未知此義。喻氏謂「仲景不用於陽明，恐亡津液，」與本草生津之說左。又謂「能開肌肉，」又與仲景治汗出惡風桂枝湯中加葛根者左矣。</p>
<p>蓋桂枝葛根俱是解肌和裡之劑，故有汗無汗，下利不下利，皆可用，與麻黃專於治表者不同。麻黃葛根俱有沫，沫者濁氣也。故仲景皆以水煮去其沫，而後入諸藥，此取其清揚發腠理之義。桂枝湯啜稀粥者，因無麻黃之開，而有芍藥之斂，恐邪有不盡，故假穀氣以逐之，此汗生於穀也。</p>
<p><u>大青龍湯：</u></p>
<p>麻黃　桂枝　石膏　杏仁　甘草　薑棗太陽中風，脈浮緊，頭痛發熱，惡寒身疼，不汗出而煩躁，此麻黃證之劇者，故加味以治之也。諸證全是麻黃，有喘與煩躁之別。喘者是寒鬱其氣，升降不得自如，故多用杏仁之苦以降氣；煩躁是熱傷其氣，無津不能作汗，故特加石膏之甘以生津。然其性沉而大寒，恐內熱頓除而表寒不解，變為寒中而挾熱下利，是引賊破家矣。故必倍麻黃以發表，又倍甘草以和中，更用薑棗以調營衛。一汗而表裡雙解，風熱兩除，此大青龍清內攘外之功，所以佐麻、桂二方之不及也。夫青龍以發汗命名，其方分大小，在麻黃之多少，而不關石膏，觀小青龍之不用可知。石膏不能驅在表之風寒，但能清中宮之燔灼，觀白虎之多用可知。世不知石膏為煩躁用，妄為發汗用，十劑之輕可去實，豈至堅至重之質而能發汗哉？汗多亡陽者，過在麻黃耳。少陰亦有發熱惡寒煩躁之症，與大青龍同，但脈不浮、頭不痛為異。若脈浮弱汗自出者，是桂枝證。二證妄與石膏，則胃氣不至於四肢而手足厥冷；妄用麻黃，則衛陽不周於身而筋惕肉　。此仲景所深戒也。要知少陰見陽證而用麻黃，必固以附子。太、少異位，陰陽殊途，故寒溫有別。桂枝證之煩，因於木旺，故用微苦微寒之劑以升降之；大青龍之兼躁，因於風動，故用至陰至重之品以鎮墜之。有汗無汗，虛實不同，輕重有差也。必細審其所不用，然後不失其所當用耳。</p>
<p>按：許叔微云：「桂枝治中風，麻黃治傷寒，大青龍治中風見寒脈、傷寒見風脈，三者如鼎立。」此方氏三大綱所由來。而大青龍之證治，自此不明於世矣。不知仲景治表，只在麻、桂二法，麻黃治表實，桂枝治表虛，方治在虛實上分，不在風寒上分也。蓋風寒二證，俱有虛實，俱有淺深，俱有營衛，大法又在虛實上分淺深，並不在風寒上分營衛也。夫有汗為表虛，立桂枝湯治有汗之風寒，而更有加桂去桂、加芍去芍，及加附子、人參、厚朴、杏仁、茯苓、白朮、大黃、龍骨、牡蠣等劑，皆是桂枝湯之變局。因表虛中更有內虛內實淺深之不同，故加減法亦種種不一耳。以無汗為表實，而立麻黃湯治無汗之風寒，然表實中亦有夾寒夾暑、內寒內熱之不同，故以麻黃為主而加減者，若葛根湯，大小青龍、麻黃附子細辛甘草、麻黃杏仁甘草石膏、麻黃連翹赤豆等劑，皆麻黃湯之變局，因表實中亦各有內外寒熱淺深之殊也。</p>
<p>葛根湯因肌肉津液不足，而加芍藥、葛根，大青龍因內熱煩躁而加石膏，小青龍以乾嘔而咳，而加半夏、細辛、乾薑，麻黃附子細辛甘草二方，以脈沉而加附子，若連翹赤豆梓皮，濕熱發黃而加。諸劑皆因表實，從麻黃湯加減，何得獨推大青龍為鼎立耶？何但知有風寒，而不知有風熱，但知有中風見寒、傷寒見風之症，而不知小青龍之治風寒、大青龍之治風熱、麻杏甘膏之治溫熱、麻翹豆湯之治濕熱，表實中更有如是之別耶？且前輩之鑿分風寒者，拘於脈耳。不知仲景之論脈甚活而不拘，如大青龍之條，有中風而脈浮緊、傷寒而脈浮緩，是互文見意處。言中風脈緩，然亦有脈浮緊者；傷寒脈緊，然亦有脈浮緩者。蓋中風傷寒，各有淺深，或因人之強弱而異，地之高下而異，時之乖和而異。證既不可拘，脈即不可執。如陽明中風而脈浮緊，太陰傷寒而脈浮緩，不可謂脈緊必傷寒，脈緩必中風矣。按《內經》脈滑曰風，則風脈原無定象；又盛而緊曰脹，則緊脈不專屬傷寒；又緩而滑為熱中，則緩脈亦不專指中風矣。且陽明中風，有脈浮而緊者，又有脈弦浮大者。必欲以太陽之脈緩自汗、脈緊無汗，定分風寒，割裂營衛，他經皆有中風，皆不言及何耶？要知脈緊固為有力，脈浮緩亦不是浮弱，即《內經》緩而滑為熱中之脈也。蓋仲景憑脈辨證，只審虛實。故不論中風傷寒脈之緩緊，但於指下有力者為實，脈弱無力者為虛；不汗出而煩躁者為實，汗出多而煩躁者為虛；證在太陽而煩躁者為實，證在少陰而煩躁者為虛。實者可服大青龍，虛者便不可服，此最易知也。凡先煩不躁而脈浮者，必有汗而自解；煩躁而脈浮緊者，必無汗而不解。大青龍湯為風寒在表而兼熱中者設，不是為有表無裡而設。故中風無汗煩躁者可用，傷寒而無汗煩躁者亦可用。蓋風寒本是一氣，故湯劑可以互投。論中有中風傷寒互稱者，如大青龍是也；有中風傷寒兼提者，如小柴胡是也。仲景但細辨脈症而施治，何嘗拘拘於中風傷寒之別其名乎？如既立麻黃湯治寒，桂枝湯治風，而中風見寒、傷寒見風者，曷不用桂枝麻黃合半湯，而更用大青龍為主治耶？且既有中風惡風不惡寒，傷寒惡寒不惡風之說，曷不用大青龍之惡寒主傷寒，麻黃證之惡風主中風，桂枝證之惡風復惡寒，主中風見寒、傷寒見風耶？方氏因三綱之分，而有風寒多少之陋見。喻氏又因大青龍之名，而為龍背龍腹龍尾之奇說。又謂縱橫者，龍之所以飛期門及大青龍之位。青龍之說愈工，而青龍之法愈湮，此所謂好龍而不識真龍者也。大青龍之點睛，在無汗煩躁、無少陰證二句。合觀之，知本方本為太陽煩躁而設。仲景恐人誤用青龍；不特為脈弱汗出者禁，而吃緊尤在少陰。蓋少陰亦有發熱、惡寒、身疼、無汗而煩躁之症，此陰極似陽，寒極反見熱化也。誤用則厥逆筋惕肉　所必至，全在此處著眼，故必審其非少陰證，而為太陽煩躁無疑。太陽煩躁為陽盛，非大青龍不解。</p>
<p>故不特脈浮緊之中風可用，即浮緩而不微弱之傷寒，亦可用也。不特身疼身重者可用，即身不疼與身重而乍有輕時者，亦可用也。蓋胃脘之陽，內郁胸中而煩，外擾四肢而躁，第用麻黃發汗於外，不加石膏泄熱於內，煩躁不解，陽盛而死矣。諸家不審煩躁之理，以致少陰句無所著落，妄謂大青龍為風寒兩傷營衛而設，不知其為兩解表裡而設。請問石膏之設，為治風歟？治寒歟？營分藥歟？衛分藥歟？只為熱傷中氣，用之治內熱耳。</p>
<p><u>小青龍湯：</u></p>
<p>麻黃　桂枝　白芍　甘草　乾薑　細辛　半夏　五味傷寒表不解，心下有水氣，乾嘔發熱而渴，或利、或噎、或小便不利少腹滿、或喘者，用此發汗利水。夫陽之汗，以天地之雨名之。水氣入心則為汗，一汗而外邪頓解矣。此因心氣不足，汗出不徹，故寒熱不解而心下有水氣。其咳是水氣射肺之征，乾嘔知水氣未入於胃也。心下乃胞絡相火所居之地，水火相射，其病不可擬摹。如水氣下而不上，則或渴或利；上而不下，則或噎或喘；留於腸胃，則小便不利而少腹滿耳。惟發熱乾嘔而渴，是本方之當證。此於桂枝湯去大棗之泥，加麻黃以開玄府，細辛逐水氣，半夏除嘔，五味、乾薑以除咳也。以乾薑易生薑者，生薑之味氣不如乾薑之猛烈，其大溫足以逐心下之水，苦辛可以解五味之酸，且發表既有麻黃、細辛之直銳，更不藉生薑之橫散矣。若渴者，是心液不足，故去半夏之燥熱，加栝蔞根之生津。若微利與噎，小便不利與喘者，病機偏於向裡，故去麻黃之發表，加附子以除噎，芫花、茯苓以利水，杏仁以定喘耳。兩青龍俱兩解表裡法，大青龍治裡熱，小青龍治裡寒，故發表之藥同，而治裡之藥殊也。此與五苓，同為治表不解而心下有水氣。在五苓治水蓄而不行，故大利其水而微發其汗，是為水鬱折之也。本方治水之動而不居，故備舉辛溫以散水，並用酸苦以安肺，培其化源也，兼治膚脹最捷。葛根與大、小青龍皆合麻、桂二方加減。葛根減麻黃、杏仁者，以不喘故，加葛根者，和太陽之津，升陽明之液也。大青龍減桂枝、芍藥者，以汗不出故，加石膏者，煩躁故也。若小青龍減麻黃之杏仁，桂枝之生薑、大棗，既加細辛、乾薑、半夏、五味，而又立加減法。神而明之，不可勝用矣。</p>
<p>此方又主水寒在胃，久咳肺虛。</p>
<p><u>五苓散：</u></p>
<p>澤瀉　白朮　茯苓　豬苓　桂枝太陽本病脈浮，發汗表證雖解，而膀胱之熱邪猶存，用之利水止渴，下取上效之法。桂性熱，少加為引導。</p>
<p>五苓能通調水道，培助土氣，其中有桂枝以宣通衛陽，停水散，表裡和，則火熱自化，而津液得全，煩渴不治而治矣。</p>
<p>治太陽發汗後，表熱不解，脈浮數，煩渴飲水，或水入即吐，或飲水多而小便不利者。凡中風傷寒，結熱在裡，熱傷氣分，必煩渴飲水。治之有二法：表症已罷而脈洪大，是熱邪在陽明之半表裡，用白虎加人參，清火以益氣；表症未罷，而脈仍浮數，是寒邪在太陽之半表裡，用五苓散，飲暖水利水而發汗。此因表邪不解，心下之水氣亦不散，既不能為溺，更不能生津，故渴。及與之水，非上焦不受，即下焦不通，所以名為水逆。</p>
<p>水者腎所司也。澤瀉味鹹入腎，而培水之本；豬苓黑色入腎，以利水之用；白朮味甘歸脾，制水之逆流；茯苓色白入肺，清水之源委，而水氣順矣。然表裡之邪，諒不因水利而頓解。故必少加桂枝，多服暖水，使水精四布，上滋心肺，外達皮毛，溱溱汗出，表裡之煩熱兩除也。白飲和服，亦啜稀粥之微義，又復方之輕劑矣。本方非能治消渴也，注者不審消渴之理，及水逆之性，稱為化氣回津之劑。夫四苓之燥，桂枝之熱，何所恃而津回？豈知消渴與水逆不同，消字中便見飲水多能消則不逆矣。本論云：飲水多者，小便利必心下悸，是水蓄上焦為逆；小便少者，必苦裡急，是水蓄下焦為逆也。又云：渴欲飲水者，以五苓散救之。可知用五苓原是治水，不是治渴，用以散所飲之水，而非治煩渴、消渴之水也。且本方重在內煩外熱，用桂枝是逐水以除煩，不是熱因熱用；是少發汗以解表，不是助四苓以利水。其用四苓是行積水留垢，不是疏通水道。後人不明此理，概以治水道不通。夫熱淫於內者，心下已無水氣，則無水可利，無汗可發，更進燥烈之品，津液重亡，其能堪耶？本論云：下後復發汗，小便不利者，亡津液故也，勿治之。又云：若亡津液，陰陽自和者，必自愈。又云：汗出多，胃中燥，不可用豬苓湯復利其小便。夫利水諸方，惟豬苓湯為潤劑，尚不可用，其不欲飲水而小便不利者，五苓散之當禁，不待言矣。</p>
<p><u>十棗湯：</u></p>
<p>大棗　芫花　甘遂　大戟治太陽中風，表解後裡氣不和，下利嘔逆，心下至脅痞滿硬痛，頭痛短氣，汗出不惡寒者。仲景利水之劑種種不同，此其最峻者也。凡水氣為患，或喘或咳，或利或吐，或吐利而無汗，病一處而已。此則外走皮毛而汗出，內走咽喉而嘔逆，下走腸胃而下利，水邪之泛溢者，既浩潔莫御矣。且頭痛短氣，心腹脅下皆痞硬滿痛，是水邪尚留結於中，三焦升降之氣，拒隔而難通也。表邪已罷，非汗散所宜，裡邪充斥，又非滲泄之品所能治。非選利水之至銳者以直折之，中氣不支，亡可立待矣。甘遂、芫花、大戟，皆辛苦氣寒，而秉性最毒，並舉而任之，氣同味合，相須相濟，決瀆而大下，一舉而水患可平矣。然邪之所湊，其氣已虛，而毒藥攻邪，脾胃必弱。使無健脾調胃之品主宰其間，邪氣盡而元氣亦隨之盡。故選棗之大肥者為君，預培脾土之虛，且制水勢之橫，又和諸藥之毒，既不使邪氣之盛而不制，又不使元氣之虛而不支。此仲景立法之盡善也。用者拘於甘能緩中之說，豈知五行承制之理乎？張子和制浚川、禹功、神　等方，治水腫痰飲，而不知君補劑以護本，但知用毒藥以攻邪，所以善全者鮮。</p>
<p><u>麻黃杏仁甘草石膏湯：</u></p>
<p>此溫病發汗逐邪之主劑也。凡冬不藏精之人，熱邪內伏於臟腑，至春風解凍，伏邪自內而出，法當乘其勢而汗之，勢隨汗散矣。然發汗之劑，多用桂枝。此雖頭項強痛，反不惡寒而渴，是有熱而無寒。桂枝下咽，陽盛則斃。故於麻黃湯去桂枝之辛熱，易石膏之甘寒，以解表裡俱熱之症。岐伯所云未滿三日可汗而已者，此法是也。此病得於寒時而發於風令，故又名風溫。其脈陰陽俱浮，其症自汗身重。蓋陽浮則強於衛外而閉氣，故身重，當用麻黃開表以逐邪；陰浮不能藏精而汗出，當用石膏鎮陰而清火。表裡俱熱，則中氣不運，升降不得自如，故多眠息鼾，語言難出，當用杏仁、甘草以調氣。此方備升降輕重之性，足以當之。若攻下火熏等法，此粗工促病之術也。凡風寒在表，頭痛發熱惡寒無汗者，必用麻黃發汗，汗後復煩，更用桂枝發汗。若溫病發汗已而身灼熱，是內熱猖獗，雖汗出而喘，不可更用桂枝湯。蓋溫暑之邪，當與汗俱出，而勿得止其汗。即灼然之大熱，仍當用此方開表，以清裡降火而平喘。蓋治內蘊之火邪，與外感之余熱不同法也。若被下而小便不利，直視失溲者，真陰虛極而不治。若汗出而喘，是熱勢仍從外越，雖未下前之大熱，因下而稍輕，仍當涼散，亦不得仿風寒未解之例。下後氣上衝者，更行桂枝湯也。是方也，溫病初起，可用以解表而清裡，汗後可復用，下後可復用，與風寒不解而用桂枝湯同法。仲景因治風寒汗下不解之證，必須桂枝，故特出此涼解之義，以比類桂枝加厚朴杏仁湯證，正與風寒溫病分涇渭處，合觀溫病提綱，而大旨顯然矣，此大青龍之變局，白虎湯之先著也。石膏為清火重劑，青龍白虎，皆賴以建功，然用之謹甚。故青龍以惡寒脈緊，兼用薑、桂以扶衛外之陽；白虎以汗後煩渴，兼用參、米以保胃脘之陽也。此但熱無寒，佐薑、桂則脈流薄疾，斑黃狂亂作矣。此但熱不虛，加參、米則食入於陰，氣長於陽，譫語腹脹矣。凡外感之汗下後，汗出而喘為實，重在存陰者，不必慮其亡陽也。然此為解表之劑，若無喘鼾語言難出等證，則又白虎湯之證治矣。此方治溫病表裡之實，白虎加參、米，治溫病表裡之虛，相須相濟者也。若葛根黃連黃芩湯，則治利而不治喘。要知溫病下後，無利不止證，葛根、黃連之燥，非治溫藥。且麻黃專於外達，與葛根之和中發表不同；石膏甘潤，與黃連之苦燥懸殊。</p>
<p>同是涼解表裡，同是汗出而喘，而用藥有毫厘千裡之辨矣。</p>
<p><u>麻黃連翹赤小豆湯：</u></p>
<p>麻黃　連翹　赤小豆　梓白皮　杏仁　甘草　生薑　大棗治太陽傷寒妄下熱入，但頭汗出，小便不利，身體發黃。此以赤小豆、梓皮為君，而冠以麻黃者，見此為麻黃湯之壞症，此湯為麻黃湯之變劑也。傷寒不用麻黃發汗，而反下之，熱不得越，因瘀於裡，熱邪上炎，故頭有汗。無汗之處，濕熱熏蒸，身必發黃，水氣上溢皮膚，故小便不利。此心肺為瘀熱所傷，營衛不和故耳。</p>
<p>夫皮膚之濕熱不散，仍當發汗，而在裡之瘀熱不清，非桂枝所宜。必擇味之酸苦，氣之寒涼，而能調和營衛者，以涼中發表，此方所由制也。小豆赤色，心家穀也，酸以收心氣，甘以瀉心火，專走血分，通經絡，行津液，而利膀胱。梓白皮色白，肺家藥也，寒能清肺熱，苦以瀉肺氣，專走氣分，清皮膚，理胸中，而散煩熱，故以為君。佐連翹、杏仁以瀉心，麻黃、生薑以開表，甘草、大棗以和胃。潦水味薄，流而不止，故能降火而除濕，取而煮之。半日服盡者，急方通劑，不必緩也。夫麻黃一方，與桂枝合半，則小發汗；加石膏、薑、棗，即於發表中清火而除煩躁；去桂枝之辛熱，加石膏之辛寒，則於發表中清火而定喘；君以文蛤，即於發表中祛內外之濕熱；加連翹等之苦寒，即於發表中清火而治黃。仲景於太陽中隨證加減，曲盡麻黃之長技，不拘於冬月之嚴寒而用矣。若加附子、細辛之大辛熱，加附子、甘草之辛甘，亦因少陰表裡之微甚，並非為嚴寒之時拘也。</p>
<p><u>文蛤湯：</u></p>
<p>文蛤　麻黃　石膏　杏仁　甘草　薑棗病發於陽，應以汗解。庸工用水攻之法，熱被水劫而不得散。外則肉上粟起，因濕氣凝結於玄府也；內則煩熱，意欲飲水，是陽邪內郁也。當渴而反不渴者，皮毛之水氣入肺也。夫皮肉之水氣，非五苓散之可任，而小青龍之溫散，又非內煩者之所宜，故制文蛤湯。文蛤生於海中而不畏水，其能制水可知。咸能補心，寒能勝熱，其殼能利皮膚之水，其肉能止胸中之煩，故以為君。然陽為陰郁，非汗不解，而濕在皮膚，又不當動其經絡，熱淫於內，亦不可發以大溫，故於麻黃湯去桂枝而加石膏、薑、棗。此亦大青龍之變局也。其不瘥者，更與五苓散以除未盡之邪；若汗出已而腹中痛者，更與芍藥湯以和肝脾之氣。</p>
<p>按本論以文蛤一味為散，以沸湯和方寸匕，服滿五合。此等輕劑，恐難散濕熱之重邪。《金匾要略》云：「渴欲飲水不止者，文蛤湯主之。審症用方，則此湯而彼散，故移彼方而補入於此。</p>
<p><u>桂枝二麻黃一湯：</u></p>
<p>桂枝湯（二分）　麻黃湯（一分）</p>
<p>服桂枝湯後，而惡寒發熱如瘧者，是本當用麻黃發汗，而用桂枝則汗出不徹故也。凡太陽發汗太過，則轉屬陽明，不及則轉屬少陽。此雖寒熱往來，而頭項強痛未罷，是太陽之表尚在，故仍在太陽。夫瘧因暑邪久留，而內著於募原，故發作有時，日不再作。此因風邪泊於營衛，動靜無常，故一日再發，或三度發耳。邪氣稽留於皮毛肌肉之間，固非桂枝湯之可解，已經汗過，又不宜麻黃湯之峻攻。故取桂枝湯三分之二，麻黃湯三分之一，合而服之，再解其肌，微開其表。審發汗於不發之中，此又用桂枝後更用麻黃法也。後人合為一方者，是大背仲景比較二方之輕重偶中出奇之妙理矣。</p>
<p><u>桂枝麻黃合半湯：</u></p>
<p>桂枝湯（三合）　麻黃湯（三合）</p>
<p>太陽病，得之八九日，如瘧狀，發熱惡寒，熱多寒少，面有赤色者，是陽氣拂鬱在表不得越。因前此當汗不汗，其身必癢，法當小發汗，故以麻、桂二湯各取三分之一，合為半服而急汗之。蓋八九日來，正氣已虛，表邪未解，不可不汗，又不可多汗，多汗則轉屬陽明，不汗則轉屬少陽。此欲只從太陽而愈，不再作經，故立此法耳。此與前症大不同，前方因汗不如法，雖不徹，而已得汗，故取桂枝二分，入麻黃一分，合為二升，分再服而緩汗之。此因未經發汗，而病日已久，故於二湯各取三合，並為六合，頓服而急汗之。兩湯相合，涇渭分明，見仲景用偶方輕劑，其中更有緩急、大小、反佐之不同矣。原法兩湯各煎而合服，猶水陸之師，各有節制，兩軍相為表裡，異道夾攻之義也。後人算其分兩合為一方，與葛根、青龍輩何異？</p>
<p><u>桂枝二越婢一湯：</u></p>
<p>金匱越婢湯　麻黃　石膏　甘草　薑棗太陽病，發熱惡寒，熱多寒少，脈微弱者，此無陽也，不可發汗，故立此方。按本論無越婢症，亦無越婢湯，後人取《金匱》方補之。竊謂仲景言不可發汗，則必不用麻黃；言無陽，是無胃脘之陽，亦不用石膏。古方多有名同而藥不同者，安可循名而不審其實也？此等脈症最多，宜用柴胡桂枝為恰當。</p>
<p>按：喻嘉言云：「越婢者石膏之辛涼也，以此兼解其寒。」夫辛涼之品，豈治寒之劑乎？考越婢方，比大青龍無桂枝、杏仁，與麻黃杏子石膏湯同為涼解表裡之劑。此不用杏仁之苦，而用薑、棗之辛甘，可以治太陽陽明合病、熱多寒少而無汗者，猶白虎湯證背微惡寒之類，而不可以治脈弱無陽之證也。按：《外台秘要》云：「越脾湯易此一字，便合《內經》脾不濡，脾不能為胃行其津液之義。」是脾經不足而無汗者，可用此起太陰之津，以滋陽明之液而發汗。如成氏所云「發越脾氣者是也。」然必兼見煩渴之症，脈雖不長大，浮緩而不微弱者宜之。</p>
<p><u>桂枝加附子湯：</u></p>
<p>太陽病發汗，遂漏不止，其人惡風，小便難，四肢微急，難以屈伸者，此發汗不如法也。病在太陽，固當發汗，然得微似有汗者佳。發汗太過，陽氣無所止息，而汗出不止矣。汗多亡陽，玄府不蔽，風乘虛入，故復惡風；津液外泄，不能潤下，故小便難。四肢者，諸陽之本，陽氣者，柔則養筋，開闔不得，寒氣從之，故筋急而屈伸不利。此離中陽虛，不能斂液，當用桂枝湯補心之陽，陽密則漏汗自止，惡風自罷矣。坎中陽虛，不能制水，必加附子以固腎之陽，陽回則小便自利，四肢自柔矣。漏不止與大汗出不同。服桂枝湯後，大汗出而大煩渴，是陽陷於裡，急當滋陰，故用白虎加參以和之。用麻黃湯遂漏不止，是陽亡於外，急當扶陽，故用桂枝加附以固之。要知發汗之劑，用桂枝太過，則陽陷於裡，用麻黃太過，則陽亡於外。因桂枝湯有芍藥而無麻黃，故雖大汗出，而玄府仍能自閉，但能使陽盛，斷不致亡陽。又與汗出不解者異。此發汗汗遂不止，是陽中之陽虛，不能攝汗，所以本證之惡風不除，而變症有四肢拘急之患、小便難之理，故仍用桂枝加附，以固太陽衛外之氣也。彼發汗汗出不解，是陰中之陽虛，汗雖出而不徹，所以本證之發熱不除，而變症見頭眩身振之表、心下悸之裡，故假真武湯以固坎中真陰之本也。與「傷寒，自汗」條似同而實異。彼腳攣急在未汗前，是陰虛；此四肢急在發汗後，是陽虛。自汗因心煩，其出微；遂漏因亡陽，故不止。小便數，尚不難；惡寒微，不若惡風之甚；腳攣急，尚輕於四肢不利也。彼用芍藥甘草湯，此用桂枝加附子，其命劑懸殊矣。</p>
<p><u>芍藥甘草附子湯：</u></p>
<p>發汗而病不解，反惡寒，其裡虛可知也。夫發汗所以逐寒邪，故只有寒去而熱不解者。今惡寒比未汗時反甚，表雖不解，急當救裡矣。蓋太陽有病，本由少陰之虛，不能藏精而為陽之守。若發汗以扶陽，寒邪不從汗解，是又太陽陽虛，不能衛外，令陰邪得以久留。亡陽之兆，已見於此，仍用薑、桂以攻裡，非以扶陽，而反以亡陽矣。故於桂枝湯去桂枝、薑、棗，取芍藥，收少陰之精，甘草緩陰邪之逆，加附子固坎中之火，但使腎中元陽得位，表邪不治而自解矣。按：少陰亡陽之症，未曾立方，本方恰與此症相合。芍藥止汗，收肌表之余津；甘草和中，除咽痛而止吐利；附子固少陰而招失散之陽，溫經絡而緩脈中之緊。此又仲景隱而未發之旨歟！作芍藥甘草湯治腳攣急，因其陰虛。此陰陽俱虛，故加附子，皆治裡不治表之義。</p>
<p><u>桂枝甘草湯：</u></p>
<p>此補心之峻劑也。發汗過多，則心液虛，心氣餒，故心下悸。叉手冒心則外有所衛，得按則內有所依。如此不堪之狀，望之而知其虛矣。桂枝本營分藥，得麻黃、生薑，則令營氣外發而為汗，從辛也；得芍藥，則收斂營氣而止汗，從酸也；得甘草，則內補營氣而養血，從甘也。此方用桂枝為君，獨任甘草為佐，以補心之陽，則汗出多者，不至於亡陽矣。薑之辛散，棗之泥滯，固非所宜，並不用芍藥者，不欲其苦泄也。甘溫相得，氣和而悸自平，與心中悸而煩、心下有水氣而悸者迥別。</p>
<p><u>茯苓桂枝甘草大棗湯：</u></p>
<p>發汗後，心下悸欲得按者，心氣虛而不自安，故用桂枝甘草湯以補心。若臍下悸欲作奔豚者，是腎水乘心而上克，故制此方以瀉腎。豚為水畜，奔則昂首疾馳，酷肖水勢上攻之象，此症因以為名。臍下悸時，水氣尚在下焦，欲作奔豚之兆而未發也，當先其時而急治之。君茯苓之淡滲，以伐腎邪；佐桂枝之甘溫，以保心氣；甘草、大棗，培土以制水。亢則害者，承乃制矣。瀾水狀似奔豚，而性則柔弱，故又名勞水，用以先煮茯苓，水鬱折之之法。繼以諸甘藥投之，是制以所畏，令一惟下趨耳。</p>
<p><u>桂枝去芍藥生薑新加人參湯：</u></p>
<p>發汗後，又見身疼痛，是表虛，不得更兼辛散，故去生薑；脈沉為在裡，遲為臟寒，自當遠斥陰寒，故去芍藥。惟在甘草大棗以佐桂枝，則桂枝當入心養血之任，不復為解肌發汗之品矣。然不得大補元氣之味以固中，則中氣不能遽復，故加人參以通血脈，則營氣調和，而身痛自瘳。名曰新加者，見表未解者，前此無補中法，今因脈沉遲，故爾始加也。此與用四逆湯治身疼脈沉之法同。彼在未汗前而脈反沉，是內外皆寒，故用乾薑、生附大辛大熱者，協甘草以逐裡寒，而表寒自解。此在發汗後而脈沉遲，是內外皆虛，故用人參之補中益氣者，以助桂枝、甘草而通血脈，是調中以發表之義也。此與桂枝人參湯不同者，彼因妄下而胃中虛寒，故用薑、朮。</p>
<p>表尚協熱，故倍桂、甘；此因發汗不如法，亡津液而經絡空虛，故加人參，胃氣未傷，不須白朮，胃中不寒，故不用乾薑耳。是敦濃和平之劑也。（坊本作加芍藥、生薑者誤）</p>
<p><u>桂枝去桂加茯苓白朮湯：</u></p>
<p>服桂枝湯已，桂枝症仍在者，當仍用桂枝如前法。而或妄下之，下後，其本症仍頭痛項強，翕翕發熱，而反無汗，其變症心下滿微痛，而小便不利，法當利小便則愈矣。凡汗下之後，有表裡症兼見者，見其病機向裡，即當救其裡症。心下滿而不硬，痛而尚微，此因汗出不徹，有水氣在心下也，當問其小便。若小便利者，病仍在表，仍須發汗；如小便不利者，病根雖在心下，而病機實在膀胱。由膀胱之水不行，致中焦之氣不運，營衛之汗反無，乃太陽之府病，非桂枝症未罷也。病不在經，不當發汗；病已入腑，法當利水。故於桂枝湯去桂而加苓、朮，則薑、芍即為利水散邪之佐，甘、棗得效培土制水之功，非復辛甘發散之劑矣。蓋水結中焦，可利而不可散，但得膀胱水去，而太陽表裡之邪悉除，所以與小青龍、五苓散不同法。《經》曰：「血之與汗，異名而同類。」又曰：「膀胱津液氣化而後能出。」此汗由血化，小便由氣化也。桂枝為血分藥，但能發汗，不能利水。觀五苓方未云：多服暖水出汗愈。此云小便利則愈。比類二方，可明桂枝去桂之理矣。今人不審，概用五苓以利水，豈不悖哉？</p>
<p><u>桂枝人參湯：</u></p>
<p>桂枝　甘草　乾薑　白朮　人參</p>
<p><u>葛根黃連黃芩湯：</u></p>
<p>葛根　黃連　黃芩　甘草太陽病，外症未解而反下之，遂協熱而利，心下痞硬，脈微弱者，用桂枝人參湯。本桂枝症，醫反下之，利遂不止，其脈促，喘而汗出者，用葛根黃連黃芩湯。二症皆因下後外熱不解，下利不止。一以脈微弱而心下痞硬，是脈不足而症有餘；一以脈促而喘反汗出，是脈有餘而症不足。表裡虛實，當從脈而辨症矣。弱脈見於數下後，則痞硬為虛，非辛熱何能化痞而軟硬，非甘溫無以止利而解表。故用桂枝、甘草為君，佐以乾薑、參、朮，先煎四味，後內桂枝，使和中之力饒，而解肌之氣銳，是又於兩解中行權宜法也。桂枝症，脈本緩，誤下後而反促，陽氣重可知。邪束於表，陽擾於內，故喘而汗出。利遂不止者，此暴注下迫，屬於熱，與脈微弱而協熱利者不同。表熱雖未解，而大熱已入裡，故非桂枝、芍藥所能和，亦非厚朴、杏仁所能解矣。故君氣輕質重之葛根，以解肌而止利；佐苦寒清肅之芩、連，以止汗而除喘；用甘草以和中。先煮葛根，後內諸藥，解肌之力優，而清中之氣銳，又與補中逐邪之法迥殊矣。上條脈症是陽虛，表雖有熱，而裡則虛寒。下條脈症是陽盛，雖下利不止，而表裡俱熱。同一協熱利，同是表裡不解，而寒熱虛實攻補不同。前方用理中加桂枝，而冠桂枝於人參之上；後方用瀉心加葛根，而冠葛根於芩、連之首。不名理中、瀉心者，總為表未解，故仍不離解肌之名耳。仲景制兩解方，補中亦能解表，涼中亦能散表，補中亦能散痞，涼中亦能止利。若失之毫厘，差之千裡矣。</p>
<p><u>桂枝去芍藥湯</u></p>
<p><u>桂枝去芍藥加附子湯：</u></p>
<p>太陽病，下之後，脈促胸滿者，桂枝去芍藥湯主之。若更見微惡寒者，去芍藥方中加附子主之。夫促為陽脈，胸滿為陽症。然陽盛則促，陽虛亦促；陽盛則胸滿，陽虛亦胸滿。此下後脈促而不汗出，胸滿而不喘，非陽盛也，是寒邪內結，將作結胸之脈。桂枝湯陽中有陰，去芍藥之寒酸，則陰氣流行而邪自不結，即扶陽之劑矣。</p>
<p>若微見惡寒，則陰氣凝聚，恐薑、桂之力薄不能散邪，加附子之辛熱，為純陽之劑矣。仲景於桂枝湯一減一加，皆成溫劑，而更有淺深之殊也。</p>
<p><u>桂枝加厚朴杏仁湯：</u></p>
<p>治太陽下後微喘，而表未解者。夫喘為麻黃症，方中治喘者，功在杏仁，桂枝本不治喘。此因妄下後，表雖不解，腠理已疏，則不當用麻黃而宜桂枝矣。所以宜桂枝者，以其中有芍藥也。既有芍藥之斂，若但加杏仁，則喘雖微，恐不能勝任，必加厚朴之辛溫，佐桂以解肌，佐杏仁以降氣。故凡喘家不當用麻黃湯，而作桂枝湯者，加厚朴、杏仁為佳法矣。</p>
<p><u>桂枝加芍藥湯</u></p>
<p><u>桂枝加大黃湯：</u></p>
<p>妄下後，外不解，而腹滿時痛，是太陽太陰並病。若大實痛，是太陽陽明並病。此皆因妄下而轉屬，非太陰陽明之本證也。脾胃同處中宮，位同而職異。太陰主出，太陰病則穢腐之出不利，故腹時痛。陽明主納，陽明病則穢腐燥結而不行，故大實而痛。仍主桂枝湯者，是桂枝證未罷，不是治病求本，亦不是升舉陽邪。仲景治法，只舉目前，不拘前症，如二陽並病，太陽證罷，但潮熱汗出，大便難而譫語者，即用大承氣矣。此因表症未罷，而陽邪已陷入太陰，故倍芍藥以滋脾陰而除滿痛，此用陰和陽法也。若表邪未解，而陽邪陷入於陽明，則加大黃以潤胃燥，而除其大實痛，此雙解表裡法也。凡妄下必傷胃氣，胃陽虛即陽邪襲陰，故轉屬太陰；胃液涸則兩陽相搏，故轉屬陽明。屬太陰則腹滿時痛而不實，陰道虛也；屬陽明則腹大實而痛，陽道實也。滿而時痛，下利之兆；大實而痛，是燥屎之征。桂枝加芍藥，小試建中之劑；桂枝加大黃，微示調胃之方。</p>
<p><u>茯苓桂枝白朮甘草湯：</u></p>
<p>治傷寒吐下後，心下逆滿，氣上衝胸，起則頭眩，脈沉緊，復發汗而動經，身為振搖者。此太陽轉屬厥陰之症也。吐下後，既無下利胃實症，是不轉屬太陰陽明；心下又不痞硬而逆滿，是病已過太陽矣。此非寒邪自外而內結，乃肝邪自下而上達，其氣上衝心可知也。下實而上虛，故起則頭眩，脈因吐下而沉，是沉為在裡矣。</p>
<p>復發汗以攻其表，經絡空虛，故一身振搖也。夫諸緊為寒，而指下須當深辨。浮沉俱緊者，傷寒初起之脈也；浮緊而沉不緊者，中風脈也。若下後結胸熱實而脈沉緊，便不得謂之裡寒，此吐下後熱氣上衝，更非裡寒之脈矣。緊者弦之轉旋，浮而緊者名弦、是風邪外傷；此沉而緊之弦，是木邪內發。凡厥陰為病，氣上衝心。此因吐下後胃中空虛，木邪因而為患，是太陽之轉屬，而非厥陰之自病也。君以茯苓，以清胸中之肺氣，則治節出而逆氣自降；用桂枝以補心血，則營氣復而經絡自和；白朮培既傷之元氣，而胃氣可復；甘草調和氣血，而營衛以和，則頭自不眩而身不振搖矣。若粗工遇之，鮮不認為真武症。</p>
<p><u>桂枝加桂湯：</u></p>
<p>燒針令其汗，針處被寒，核起而赤者，必發奔豚，氣從少腹上衝心者，先灸其核上各一壯，乃與此湯。寒氣外束，火邪不散，發為赤核，是將作奔豚之兆也；從少腹上衝心，是奔豚已發之象也。此因當汗不發汗，陽氣不舒，陰氣上逆，必灸其核以散寒，仍用桂枝以解外。更加桂者，補心氣以益火之陽，而陰自平也。前條發汗後，臍下悸，是水邪乘陽虛而犯心，故君茯苓以清水之源。此表寒未解，而少腹上衝，是水邪挾陰氣以凌心，故加肉桂以溫水之主。前症已在裡而奔豚未發，此症尚在表而奔豚已發，故治有不同。桂枝不足以勝風，先刺風池、風府，復與桂枝以祛風；燒針不足以散寒，先灸其核，與桂枝加桂以散寒。皆內外夾攻法，又先治其外後治其內之理也。桂枝加芍藥，治陽邪下陷；桂枝更加桂，治陰邪上攻。只在一味中加分兩，不於本方外求他味，不即不離之妙如此。</p>
<p><u>桂枝去芍藥加蜀漆龍骨牡蠣救逆湯：</u></p>
<p>傷寒者，寒傷君主之陽也。以火迫劫汗，並亡君主之陰，此為火逆矣。蓋太陽傷寒，以發汗為主。用麻黃發汗，是為扶陽。用火劫汗猶挾天子以令諸侯，權不由主，此汗不由心也。故驚狂而起臥不安，猶芒刺在背之狀矣。心為陽中之陽，太陽之汗，心之液也。凡發熱自汗出者，是心液不收，桂枝方用芍藥以收之。此因迫汗，津液既亡，無液可斂。故去芍藥加龍骨牡蠣者，是取其咸以補心，重以鎮怯，澀以固脫，故曰救逆也。且去芍藥之酸，則肝家得辛甘之補；加龍骨牡蠣之咸，腎家既有既濟之力。此虛則補母之法，又五行承制之理矣。</p>
<p>（蜀漆未詳。昔云常山之苗則謬。）</p>
<p><u>桂枝甘草龍骨牡蠣湯：</u></p>
<p>火逆又下之，因燒針而煩躁，即驚狂之漸也。急用桂枝、甘草以安神，加龍骨、牡蠣以救逆，比前方簡而切當。近世治傷寒者，無火熨之法，而病傷寒者，多煩躁驚狂之變，大抵用白虎、承氣輩，作有餘治之。然此症屬實熱者固多，而屬虛寒者間有，則溫補安神之法，不可廢也。更有陽盛陰虛而見此症者，當用炙甘草加減，用棗仁、遠志、茯苓、當歸等味，又不可不知。</p>
<p><u>桂枝附子湯：</u></p>
<p>桂枝　附子　甘草　生薑　大棗</p>
<p><u>桂枝附子去桂加白朮湯：</u></p>
<p>治傷寒八九日，風濕相搏，身體煩疼，不能轉側，不嘔不渴，脈浮虛而澀者。若其人大便硬，小便自利，去桂加白朮。按：桂枝附子湯，即桂枝去芍藥加附子湯也。彼治下後脈促胸滿而微惡寒，是病在半表，仍當是桂枝為君，加附子為佐。此風寒濕相合而相搏於表，當從君君臣臣之制，則桂、附並重可知。舊本兩方，分兩相同，誤亦甚矣。夫脈浮為風，澀為虛，浮而澀，則知寒之不去，而濕之相承也。風寒濕三氣合至，合而成痹，故身體煩疼而不能轉側，病只在表而不在內。桂枝能驅風散寒而勝濕，故重其分兩，配附子之辛熱，率甘草、薑、棗以主之，三氣自平，營衛以和矣。若其人又兼裡氣不和，大便反硬，小便反利者，此非胃家實，乃脾家虛也。蓋脾家實，腐穢當自去。此濕流肌肉，因脾土失職，不能制水，故大便反見燥化。不嘔不渴，是上焦之化源清，故小便自利。濡濕之地，風氣常存，故風寒相搏而不解耳。病本在脾，法當培土以勝濕，而風寒自解，故君白朮以代桂枝。白朮專主健脾。脾虛則濕勝而不運，濕流於內，故使大便不實，濕流於表，更能使大便不濡。脾健則能制水，水在內，能使下輸膀胱而大便實，水在外，能使還入胃中而大便濡。故方末云：「初服其人身如痹，三服盡，其人如冒狀。」此以朮、附並走皮肉，逐水氣未得除，故使然耳，法當加桂四兩。此本一方二法，以大便硬，小便自利，去桂也。以大便不硬，小便不利，當加桂。因桂枝治上焦，大便硬小便利，是中焦不治，故去桂。服湯已，濕反入胃，故大便不硬，小便不利，是上焦不治，故仍須加桂。蓋小便由於上焦之氣化，而後膀胱之藏者能出也。《內經》曰：「風氣勝者為行痹，寒氣勝者為痛痹，濕氣勝者為著痹。」</p>
<p>此身痛而不能轉側，是風少而寒濕勝，必賴附子雄壯之力，以行痹氣之著。然附子治在下焦，故必同桂枝，始能令在表之痹氣散；同白朮，又能令在表之痹氣內行。故桂枝附子湯是上下二焦之表劑，去桂加白朮湯是中下二焦之表劑，附子白朮湯仍加桂枝是通行三焦之表劑也。是又一方三法也。世以仲景方、法分兩，動稱一百一十三方，三百九十七法，不知從何處而起。</p>
<p><u>甘草附子湯：</u></p>
<p>甘草　附子　白朮　桂枝治風濕相搏，骨節疼痛，不得屈伸，近之則痛劇，汗出短氣，小便不利，惡風不欲去衣，或身微腫者。此即桂枝附子東加白朮去薑、棗者也。前症得之傷寒，有表無裡。此症因於中風，故兼見汗出身腫之表，短氣小便不利之裡。此《內經》所謂風氣勝者，為行痹之症也。然上焦之化源不清，總因在表之風濕相搏，故於前方仍重用桂枝，而少減朮、附。去薑棗者，以其短氣，而辛散濕泥之品，非所宜耳。</p>
<p><u>大陷胸丸：</u></p>
<p>大黃　芒硝　杏仁　葶藶　甘遂</p>
<p><u>大陷胸湯：</u></p>
<p>大黃　芒硝　甘遂病發於陽，而反下之，邪入於胃中與不得為汗之水氣，結而不散，心中硬痛，因名結胸。然結胸一症，有只在太陽部分者，有並病陽明者。此或丸或湯，有輕重緩急之不同也。結在太陽部分者，身無大熱，但頭汗出，項亦強如柔　狀，寸脈浮，關脈沉，是病在上焦。因氣之不行，致水之留結耳。夫胸中者，太陽之都會，宗氣之所主，故名氣海。太陽為諸陽主氣，氣為水母，氣清則水精四布，氣熱則水濁而壅瘀矣。此水結因於氣結，用杏仁之苦溫，以開胸中之氣，氣降則水下矣。氣結因於熱邪，用葶藶之大寒，以清氣分之熱，源清而流潔矣。</p>
<p>水結之所，必成窠臼：甘遂之苦辛，所以直達其窠臼也。然太陽之氣化，不行於胸中，則陽明之胃府，亦因熱而成實，必假大黃、芒硝，小其制而為丸，和白蜜以緩之，使留戀於胸中，過一宿乃下，即解心胸之結滯，又保腸胃之無傷。此太陽裡病之下法，是以攻劑為和劑者也。其並病陽明者，因水結於胸，上焦不通，則津液不下，無以潤腸胃。故五六日不大便，因而舌乾口渴，日晡潮熱，是陽明亦受病矣。心下至小腹硬滿而痛不可近，脈沉緊者，此水邪結於心胸，而熱邪實於腸胃。用甘遂以浚太陽之水，硝黃以攻陽明之實，湯以蕩之，是為兩陽表裡之下法也。二方比大承氣更峻，治水腫痢疾之初起者甚捷。然必視其人之壯實者施之，如平素虛弱，或病後不任攻伐者，當念虛虛之禍。</p>
<p><u>小陷胸湯：</u></p>
<p>黃連　半夏　栝蔞實熱入有淺深，結胸分大小。心腹硬痛，或連小腹不可按者，為大結胸。此土燥水堅，故脈亦應其象而沉緊。止在心下，不及胸腹，按之知痛不甚硬者，為小結胸。是水與熱結，凝滯成痰，留於膈上，故脈亦應其象而浮滑也。穢物據清陽之位，法當瀉心而滌痰，用黃連除心下之痞實，半夏消心下之痰結，寒溫並用，溫熱之結自平。栝蔞實色赤形圓，中含津液，法象於心，用以為君，助黃連之苦，且以滋半夏之燥，洵為除煩滌痰開結寬胸之劑。雖同名陷胸，而與攻利水穀之方懸殊矣。</p>
<p>大小青龍攻太陽之表，有水火之分，大小陷胸攻太陽之裡，有痰飲之別，不獨以輕重論也。</p>
<p><u>生薑瀉心湯：</u></p>
<p>人參　甘草　黃連　黃芩　乾薑　半夏　生薑　大棗此小柴胡湯去柴胡加乾薑、黃連，又即黃連湯去桂易芩。</p>
<p>傷寒汗出外已解，胃中不和，心下痞硬，乾嘔食臭，脅下有水氣，腹中雷鳴下利者，是陽不足而陰乘之也。</p>
<p>凡外感風寒而陽盛者，汗出不解，多轉屬陽明而成胃實。此心下痞硬而下利者，病雖在胃，不是轉屬陽明。</p>
<p>下利不因誤下，腸鳴而不滿痛，又非轉屬太陰矣。夫心為陽中太陽，則心下是太陽之宮城，而心下痞是太陽之裡也。君主之火用不宣，汗出不徹，內之水氣不得越。水氣不得散，所以痞硬；邪熱不殺穀，故乾嘔食臭。脅下為少陽之位，太陽之陽氣不盛，少陽之相火不支，故水氣得支。脅下土虛不能制水，水氣從脅入胃，泛溢中州，故腹中雷鳴而下利也。病勢已在腹中，病根猶在心下，總因寒熱交結於內，以致胃中不和。若用熱散寒，則熱勢猖獗；用寒攻熱，則水勢橫行。法當寒熱並舉，攻補兼施，以和胃氣。故用芩、連除心下之熱，乾薑散心下之痞，生薑、半夏去脅下之水，參、甘、大棗培腹中之虛。因太陽之病為在裡，故不從標本，從乎中治也。</p>
<p>且芩、連之苦，必得乾薑之辛，始能散痞；人參得甘、棗之甘，協以保心。又君生薑佐半夏，全以辛散甘苦之樞，而水氣始散。名曰瀉心，實以安心也。</p>
<p>此與十棗症，皆表解而裡不和。見心下痞硬，乾嘔下利，然後因於中風之陽邪，故外症尚有餘熱，是痞硬下利屬於熱，故可用苦寒峻利之劑以直攻之。此因於傷寒之陰邪，故內症反有郁逆，是痞硬下利屬於虛，故當用寒溫兼補之劑以和解之。是治病各求其本也。按：瀉心本名理中黃連人參湯，此以病在上焦，故名瀉心耳。</p>
<p>世徒知膀胱為太陽之裡，熱入膀胱為犯本，不知心下痞硬為犯本，因有傳足不傳手之謬。</p>
<p><u>甘草瀉心湯：</u></p>
<p>甘草　黃連　黃芩　乾薑　半夏　大棗傷寒中風，初無下症，下之，利日數十行，完穀不化，腹中雷鳴，其人胃氣素虛可知。則心下痞硬而滿，非有形之結熱，以胃中空虛，客氣上逆於胃口，故乾嘔心煩不得安。所云當汗不汗，其人心煩耳。若認為實熱而復下之，則痞益甚矣。本方君甘草者，一以瀉心而除煩，一以補胃中之空虛，一以緩客氣之上逆也。倍加乾薑者，本以散中宮下藥之寒，且以行芩、連之氣而消痞硬，佐半夏以除嘔，協甘草以和中。是甘草得位而三善備，乾薑任重而四美具矣。中虛而不用人參者，以未經發汗，熱不得越，上焦之余邪未散，與用小柴胡湯有胸中煩者去人參同一例也。乾嘔而不用生薑者，以上焦之津液已虛，無庸再散耳。此病已在胃，亦不曰理中，仍名瀉心者，以心煩痞硬，病在上焦，猶未離乎太陽也。心煩是太陽裡症，即是陽明之表症，故雖胃中空虛，完穀不化，而不用人參。因心煩是胃實之根，太陽轉屬陽明之捷路也。凡傷寒中風，下利清穀屬於寒，下利完穀屬於熱。《內經》所云「暴注下迫屬於熱」者是也。仲景之去人參，預以防胃家之實歟？</p>
<p><u>半夏瀉心湯：</u></p>
<p>半夏　乾薑　黃連　黃芩　人參　甘草　大棗本論云：「嘔而發熱者，小柴胡主之。」即所云「傷寒中風有柴胡證，但見一症即是，不必悉具」者是也。</p>
<p>又云：「嘔多雖有陽明證，不可攻之。」可見少陽陽明合病，闔從樞轉，故不用陽明之三承氣，當從少陽之大柴胡。上焦得通，則津液得下，故大柴胡為少陽陽明之下藥也。若傷寒五六日，嘔而發熱，是柴胡湯證，而以他藥下之，樞機廢弛，變症見矣。少陽居半表半裡之位，其症不全發陽，不全發陰。故下後變症偏於半表者，熱入而成結胸；偏於半裡者，熱結心下而成痞也。結胸與痞，同為硬滿之症，當以痛為辨。滿而硬痛為結胸熱實，大陷胸下之，則痛隨利減。如滿而不痛者為虛熱痞悶，宜清火散寒而補虛。蓋瀉心湯方，即小柴胡去柴胡加黃連乾薑湯也。不往來寒熱，是無半表症，故不用柴胡。痞因寒熱之氣互結而成，用黃連、乾薑之大寒大熱者，為之兩解，且取其苦先入心，辛以散邪耳。此痞本於嘔，故君以半夏。生薑能散水氣，乾薑善散寒氣。凡嘔後痞硬，是上焦津液已干，寒氣留滯可知，故去生薑而倍乾薑。痛本於心火內郁，故仍用黃芩佐黃連以瀉心也。乾薑助半夏之辛，黃芩協黃連之苦，痞硬自散。用參、甘、大棗者，調既傷之脾胃，且以壯少陽之樞也。</p>
<p>《內經》曰：「腰以上為陽。」故三陽俱有心胸之病。仲景立瀉心湯，以分治三陽。在太陽以生薑為君者，以未經誤下而心下成痞，雖汗出表解，水氣猶未散，故微寓解肌之義也。在陽明用甘草為君者，以兩番妄下，胃中空虛，其痞益甚，故倍甘草以建中，而緩客邪之上逆，是亦從乎中治之法也。在少陽用半夏為君者，以誤下而成痞，邪已去半表，則柴胡湯不中與之，又未全入裡，則黃芩湯亦不中與之矣。未經下而胸脅苦滿，是裡之表症，用柴胡湯解表。心下滿而胸脅不滿，是裡之半裡症，故制此湯和裡，稍變柴胡半表之治，推重少陽半裡之意耳。名曰瀉心，實以瀉膽也。</p>
<p><u>大黃黃連瀉心湯</u></p>
<p><u>附子瀉心湯：</u></p>
<p>附子　大黃　黃連　黃芩治心下痞，按之濡，其脈關上浮者，用大黃黃連瀉心湯。心下痞而復惡寒汗出者，用附子瀉心湯。此皆攻實之劑，與前三方，名雖同而法不同矣。濡者濕也，此因妄下汗不得出，熱不得越，結於心下而成痞。胃火熾於內，故心下有汗，而按之者，知其濡濕耳。結胸症，因症發於陽，熱邪留於上焦，故其寸脈獨浮，而但頭汗出，余處無汗。此心下痞，因症發於陰，熱邪已蓄於中焦，故其脈獨關上浮，而汗但出於心下。心下者，胃口之氣。尺寸不浮而關上獨浮，此浮為胃實外見之征，不得責之浮為在表矣。子能令母實，故心下之痞不解，母實而兼瀉其子，是又治太陽陽明並病之一法也。云瀉心者，瀉其實耳。熱有虛實，客邪內陷為實，藏氣自病為虛。黃連苦燥，但能解離宮之虛火，不能除胃家之實邪。非君大黃之勇以蕩滌之，則客邪協內實而據心下者，漫無出路。故用一君一臣，以麻沸湯漬其汁，乘其銳氣而急下之，除客邪須急也。夫心下痞而大便硬者，是熱結於中，當不惡寒而反惡寒，當心下有汗，而余處皆無汗。若惡寒已罷，因痞而復惡寒，初無汗，今痞結而反出汗，是傷寒之陰邪不得散，而兩陽之熱邪不得舒，相搏於心下而成痞也。法當佐以附子，炮用而別煮，以溫其積寒，三物生用而取汁。欲急於除熱，寒熱各制而合服之。是又於偶方中用反佐之奇法也。夫結熱不速去，必成胃家之燥實；心下痞不散，必轉成為大結胸。此二方用麻沸湯之意歟？仲景瀉心無定法，正氣奪則為虛痞，雜用甘補、辛散、苦泄、寒溫之品以和之；邪氣盛則為實痞，用大寒、大熱、大苦、大辛之味以下之。和有輕重之分，下有寒熱之別，同名瀉心，而命劑不同如此。然五方中諸藥味數分兩，各有進退加減，獨黃連定而不移者，以其苦先入心，中空外堅，能疏通諸藥之寒熱，故為瀉心之主劑。</p>
<p><u>旋覆代赭湯：</u></p>
<p>旋覆　代赭　人參　甘草　半夏　生薑　大棗傷寒發汗，若吐若下，表解後，心下痞硬，噫氣不除者，此心氣大虛，余邪結於心下，心氣不得降而然也。</p>
<p>心為君主，寒為賊邪。表寒雖解而火不得位，故使閉塞不通，而心下痞硬；君主不安，故噫氣不除耳。此方乃瀉心之變劑，以心虛不可復瀉心，故去芩、連、乾薑輩苦寒辛熱之品。心為太陽，通於夏氣。旋覆花開於夏，咸能補心而軟痞硬；半夏根成於夏，辛能散結氣而止噫。二味得夏氣之全，故用之以通心氣。心本苦緩，此為賊邪傷殘之後，而反苦急，故加甘草以緩之；心本欲收，今因余邪留結，而反欲散，故倍生薑以散之。虛氣上逆，非得金石之重為之鎮墜，則痞硬不能遽消，而噫氣無能頓止。代赭秉南方之赤色，入通於心，堅可除痞，重可除噫，用以為佐，急治其標也。人參、大棗，補虛於余邪未平之時，預治其本也。扶正驅邪，神自安。若用芩、連以瀉心，能保微陽之不滅哉？旋覆、半夏作湯，調代赭末，治頑痰結於胸膈，或涎沫上涌者最佳。挾虛者加人參甚效。</p>
<p><u>乾薑黃連黃芩人參湯：</u></p>
<p>治傷寒吐下後，食入口即吐。此寒邪格熱於上焦也，雖不痞硬而病本於心，故用瀉心之半。乾薑以散上焦之寒，芩、連以清心下之熱，人參以通格逆之氣，而調其寒熱以至和平。去生薑、半夏者，胃虛不堪辛散；不用甘草、大棗者，嘔不宜甘也。凡嘔家夾熱者，不利於香砂桔半，服此方而晏如。妄汗後，水藥不得入口，是為水逆；妄吐下後，食入口即吐，是為食格。此肺氣胃氣受傷之別也。入口即吐，不使少留，乃火炎上之象，故苦寒倍於辛熱。不名瀉心者，以瀉心湯專為痞硬之法耳。要知寒熱相結於心下，而成痞硬，寒熱相阻於心下，而成格逆，源同而流異也。</p>
<p><u>赤石脂禹餘糧湯：</u></p>
<p>下後下利不止，與理中湯而痢益甚者，是胃關不固，下焦虛脫也。夫甘、薑、參、朮，可以補中宮大氣之虛，而不足以固大腸脂膏之脫。故利在下焦者，概不得以理中之理收功矣。夫大腸之不固，仍責在胃；關門之不閉，仍責在脾。土虛不能制水，仍當補土。然芳草之氣，稟甲乙之化，土之所畏，必擇夫稟戊土之化者，以培土而制水，乃克有成。石者，土之剛也。二石皆土之精氣所結，味甘歸脾，氣衝和而性凝靜，用以固堤防而平水土，其功勝於草木耳。且石脂色赤入丙，助火以生土，余糧色黃入戊，實胃而澀腸，用以治下焦之標，實以培中宮之本也。此症土虛而火不虛，故不宜於薑、附。本條云：「復利不止者，當利其小便。」可知與桃花湯異局矣。凡下焦虛脫者，以二物為本，參湯調服最效。</p>
<p><u>抵當湯丸：</u></p>
<p>水蛭　大黃　虻蟲　桃仁太陽病六七日，而表症仍在，陽氣重可知。脈當大而反微，當浮而反沉。沉為在裡，當作結胸之症，反不結胸，是病不在上焦；諸微無陽，而其人反發狂者，是病不在氣分矣。凡陽病者，上行極而下，是熱在下焦可知。</p>
<p>下焦不治，少腹硬滿，是熱結於膀胱，當有癃閉之患。而小便反利者，是上焦肺家之氣化行，經絡之營氣不利也。人知內熱則小便不通，此熱結膀胱，而小便反利，當知小便由肺氣矣。凡陽盛者陰必虛，氣勝者血必病。</p>
<p>瘀熱內結於膀胱，營血必外溢於經絡。營氣傷，故脈微而沉；瘀血蓄，故少腹硬滿。血瘀不行，心不得主，肝無所藏，神魂不安，故發狂，或身黃而脈沉結者，皆由營氣不舒故也。只以小便之自利決之，則病在血分而不謬矣。</p>
<p>夫瘀血不去，則新血不生，營氣不流，則五臟不通而死可立待。岐伯曰：「血清氣澀，疾瀉之，則氣竭焉；血濁氣澀，疾瀉之，則經可通也。」非得至峻之劑，不足以抵其巢穴，而當此重任矣。水蛭，蟲之巧於飲血者也；虻，飛蟲之猛於吮血者也。茲取水陸之善取血者攻之，同氣相求耳。更佐桃仁之推陳致新，大黃之苦寒以蕩滌邪熱，名之曰抵當者，謂直抵其當攻之所也。若雖熱而未狂，小腹滿而未硬，宜小其制，為丸以緩治之。若外證已解，少腹結急而滿，人如狂者，是轉屬陽明也，用桃仁、桂枝於調胃承氣湯中以微利之，胃和則愈矣。或問血得熱則行，此何以反結？膀胱熱則小便不通，此何以反利乎？答曰：衝脈為血海，而位居少腹之上，膀胱居小腹之極底。膀胱熱而血多，則血自下而不蓄；膀胱熱而血少，則血凝而結於少腹矣。水入於胃，上輸脾肺，下輸膀胱，膀胱為州都之官，全藉脾肺氣化而津液得出。此熱在下焦，上中二焦之氣化不病，故小便自利也。膀胱不利為癃，由太陰之不固：不約為遺溺，由太陰之不攝。仲景制大青龍、大柴胡、白虎湯，治三陽無形之熱結。三承氣之熱實，是糟粕為患，桃仁、抵當之實結，是蓄血為眚，在有形中又有氣血之分也。凡仲景用硝、黃，是蕩熱除穢，不是除血。後人專以氣分血分對講，誤認糟粕為血，竟推大黃為血分藥，不知大黃之芳香，所以開脾氣而去腐穢，故方名承氣耳。若不加桃仁，豈能破血？非加蛭、虻，何以攻堅？是血劑中又分輕重也。凡　瘕不散；久而成形者，皆蓄血所致。今人不求其屬而治之，反用三棱等氣分之藥，重傷元氣，元氣日衰，邪氣易結。蓋謂糟粕因氣行而除，瘀血因氣傷而反堅也。明知此理，則用抵當丸，得治　瘕及追蟲攻毒之效。</p>
<p>按：水蛭賦體最柔，秉性最險，暗竊人血而人不知。若飲水而誤吞之，留戀胃中，消耗血液，腹中或痛或不痛，令人黃瘦而死。觀牛肚中有此者必瘦，可類推矣。虻蟲之體，能高飛而遠舉，專吮牛血，其形氣猛於蒼蠅。觀蒼蠅取人血汗最痛，誤食入胃，即刻腹痛，必瀉出而後止。可知飛蟲為陽屬，專取營分之血，不肯停留胃中，與昆蟲之陰毒不同也。仲景取虻、蛭同用，使蛭亦不得停留胃中，且更有大黃以蕩滌之，毒物與蓄血俱去，而無遺禍。然二物以毒攻毒者也，若非邪氣固結，元氣不虛者，二物不可輕用矣。</p>
<p>上共四十六方，其桂枝加葛根、葛根加半夏等，最為易曉，故不具論。如四逆、真武等劑，乃太陽所借用，其方論各歸本位，經論列於後。</p>
<h2>卷下</h2>
<h3>陽明方總論</h3>
<p>陽明之病在胃實，當以下為正法矣。然陽明居中，諸病咸臻，故治法悉具。如多汗無汗，分麻黃桂枝；在胸在腹，分瓜蒂梔豉；初硬燥堅，分大小承氣。即用汗吐下三法，亦有輕重淺深之不同也。若大煩大渴而用白虎，瘀血發黃而用茵陳，小便不利而用豬苓，停飲不散而用五苓，食穀欲吐而用茱萸等法，莫不各有差等。</p>
<p>以棋喻之，發汗是先著，涌吐是要著，清火是穩著，利水是閑著，溫補是忿著，攻下是末著。病至於攻下，無別著矣。故汗之得法，他著都不必用。其用吐法，雖是奇著，已是第二手矣。他著都非正著，惟攻下為煞著，亦因從前之失著也。然諸法皆因清火而設，則清火是陽明之上著與？</p>
<p><u>梔子豆豉湯</u></p>
<p><u>梔子甘草豆豉湯</u></p>
<p><u>梔子生薑豆豉湯</u></p>
<p><u>梔子厚朴湯：</u></p>
<p>梔子　厚朴　枳實</p>
<p><u>梔子乾薑湯</u></p>
<p><u>梔子柏皮湯：</u></p>
<p>梔子　柏皮　甘草此陽明半表裡涌泄之和劑也。少陽之半表是寒，半裡是熱。而陽明之熱自內達外，有熱無寒。故其外症身熱汗出，不惡寒反惡熱，身重，或目痛、鼻干、不得眠；其內症咽燥、口苦、舌苔、煩躁，渴欲飲水，心中懊　，腹滿而喘。此熱半在表半在裡也。脈雖浮緊，不得為太陽病，非汗劑所宜，又病在胸腹而未入胃府，則不當下，法當涌泄以散其邪。梔子苦能泄熱，寒能勝熱，其形象心，又赤色通心，故主治心中上下一切症。豆形象腎，又黑色入腎，制而為豉，輕浮上行，能使心腹之濁邪，上出於口，一吐而心腹得舒，表裡之煩熱悉除矣。所以然者，二陽之病發心脾，以上諸症，是心熱不是胃家熱，即本論所云有熱屬臟者攻之，不令發汗之謂也。若夫熱傷氣者少氣，加甘草以益氣，虛熱相搏者多嘔，加生薑以散邪，此可為夾虛者立法也。若素有宿食者，加枳實以降之，地道不通者，加大黃以潤之，此可為實熱者立法也。叔和用以治太陽瘥後勞復之症，誤甚矣。如妄下後，而心煩腹滿起臥不安者，是熱已入胃，便不當吐，故去香豉；心熱未解，不宜更下，故只用梔子以除煩，佐枳、朴以泄滿。此兩解心腹之妙，是小承氣之變局也。或以丸藥下之，心中微煩，外熱不去，是知寒氣留中，而上焦留熱，故任梔子以除煩，用乾薑逐內寒以散表熱，此甘草瀉心之化方也。若因於傷寒而肌肉發黃者，是寒邪已解而熱不得越，當兩解表裡之熱。故用梔子以除內煩，柏皮以散外熱，佐甘草以和之，是又茵陳湯之輕劑矣。此皆梔豉東加減，以御陽明表症之變幻者。</p>
<p>夫梔子之性，能屈曲下行，不是上涌之劑，惟豉之腐氣上熏心肺，能令人吐耳。觀瓜蒂散必用豉汁和服，是吐在豉而不在梔矣。觀梔子乾薑湯去豉用薑，是取其橫散，梔子厚朴湯以枳、朴易豉，是取其下泄，皆不欲上越之義。舊本二方後俱云得吐止後服，豈不謬哉？觀梔子柏皮湯與茵陳湯，方中俱有梔子，俱不言吐，又病患舊微溏者不可與，則梔子之性自明矣。</p>
<p><u>瓜蒂散：</u></p>
<p>瓜蒂　赤小豆　香豉此陽明涌泄之峻劑，治邪結於胸中者也。胸中為清虛之府，三陽所受氣，營衛所由行。寒邪凝結於此，胃氣不得上升，內熱不得外達，以致痞硬。其氣上衝咽喉不得息者，此寒格於上也；寸脈微浮，寒束於外也。此寒不在營衛，非汗法所能治。因得酸苦涌泄之品，因而越之，上焦得通，中氣得達，胸中之陽氣復，肺氣之治節行，痞硬可得而消也。瓜蒂色青，象東方甲木之化，得春升生發之機，能提胃中陽氣，以除胸中之寒熱，為吐劑中第一品。然其性走而不守，與梔子之守而不走者異，故必得穀氣以和之。赤小豆形色象心，甘酸可以保心氣。黑豆形色象腎，性本沉重，霉熟而使輕浮，能令腎家之精氣交於心，胃中之濁氣出於口。作為稀糜，調服二味，雖快吐而不傷神，奏功之捷，勝於汗下矣。前方以梔子配豉，此方以赤豆配豉，皆以形色取其心腎合交之義。</p>
<p>若夫心中溫溫欲吐復不吐，始得之，手足寒，脈弦遲者，以不腹滿，不得為太陰病。但以欲寐而知其為少陰病，不在上焦而在胸中，亦有可吐之理矣。夫病在少陰，當補無瀉，而亦有可吐可下之法者，以其實也。實在胸中可吐，實在胃府當下，此皆少陰陽明合並之病，是吐下二法，仍屬陽明也。如病患手足厥冷，脈乍緊，心下滿而煩，飢不能食者，是厥陰陽明合病。病本發於厥陰，而實邪結於陽位，急則治其標，亦當從陽明涌吐之法矣。</p>
<p>余義見制方大法。</p>
<p><u>甘草乾薑湯</u></p>
<p><u>芍藥甘草湯：</u></p>
<p>二方為陽明半表半裡症，誤服桂枝之變症而設也。桂枝湯本為中風自汗而設，若陽明病汗出多微惡寒而無裡症者，為表未解，故可用桂枝湯發汗。其脈遲，猶中風之緩，與脈浮而弱者同義。若但浮之脈，在太陽必無汗，在陽明必盜汗出，則傷寒之脈浮而自汗出者，是陽明之熱淫於內，而非太陽之浮為在表矣。心煩是邪中於膺，心脈絡小腸，心煩則小腸亦熱，故小便數。微惡寒而腳攣急，知惡寒將自罷，趺陽脈因熱甚而血虛筋急，故腳攣也。此病在半表半裡，服梔豉湯而可愈。反用桂枝攻表，汗多所以亡陽；胃脘之陽不至於四肢，故厥：虛陽不歸其部，故咽中乾嘔吐逆而煩躁也。勢不得不用熱因熱用之法，救桂枝之誤以回陽，然陽亡實因於陰虛而無所附，又不得不用益津斂血之法以滋陰，故與甘草乾薑湯而厥愈，更與芍藥甘草湯腳伸矣。且芍藥酸寒，可以止煩、斂自汗而利小便，甘草甘平，可以解煩和肝血而緩筋急，是又內調以解外之一法也。</p>
<p>仲景回陽，每用附子，此用乾薑、甘草者，正以見陽明之治法。夫太陽少陰所謂亡陽者，先天之元陽也，故必用附子之下行者回之，從陰引陽也。陽明所謂亡陽者，後天胃脘之陽也，取甘草、乾薑以回之，從乎中也。</p>
<p>蓋桂枝之性辛散，走而不守，即佐以芍藥，尚能亡陽；乾薑之味苦辛，守而不走，故君以甘草，便能回陽。然先天太、少之陽不易回，回則諸症悉解。後天陽明之陽雖易回，既回而前症仍在，變症又起，故更作芍藥甘草湯繼之。蓋脾主四肢，胃主津液，陽盛陰虛，脾不能為胃行津液以灌四旁，故足攣急。用甘草以生陽明之津，芍藥以和太陰之液，其腳即伸，此亦用陰和陽法也。</p>
<p>或因薑、桂之遺熱，致胃熱而譫語，少與調胃承氣以和之，仗硝、黃以對待薑、桂，仍不失為陽明從乎中治之法。只以兩陽合明之位，氣血俱多之經，故不妨微寒之而微利之，與他經亡陽調理不同耳。甘草乾薑湯，得理中之半，取其守中，不須其補中；芍藥甘草湯，減桂枝之半，用其和裡，不取其攻表。是仲景加減法之隱而不宣者。</p>
<p><u>白虎加人參湯：</u></p>
<p>石膏　知母　甘草　粳米　人參外邪初解，結熱在裡，表裡俱熱，脈洪大，汗大出，大煩大渴，欲飲水數升者，是陽明無形之熱。此方乃清肅氣分之劑也。蓋胃中糟粕燥結，宜苦寒壯水以奪土；若胃口清氣受傷，宜甘寒瀉火而護金。要知承氣之品，直行而下泄，如胃家未實而下之，津液先亡，反從火化，故妄下之後，往往反致胃實之眚，內經所謂味過於苦，脾氣不濡，胃氣反濃者是已。法當助脾家之濕土，以制胃家燥火之上炎。《經》曰「甘先入脾。」又曰：「以甘瀉脾」。又曰：「脾氣散津，上歸於肺，」是甘寒之品，乃土中瀉火而生津液之上劑也。石膏大寒，寒能勝熱，味甘歸脾，性沉而主降，已備秋金之體，色白通肺，質重而含津，已具生水之用。知母氣寒主降，味辛能潤，泄肺火而潤腎燥，滋肺金生水之源。甘草土中瀉火，緩寒藥之寒，用為舟楫，沉降之性，始得留連於胃。粳米稼穡作甘，培形氣而生津血，用以奠安中宮，陰寒之品，無傷脾損胃之慮矣。飲入於胃，輸脾歸肺，水精四布，煩渴可除也。更加人參者，以氣為水母，邪之所湊，其氣必虛，陰虛則無氣，此大寒劑中，必得人參之力，以大補真陰，陰氣復而津液自生也。若壯盛之人，元氣未傷，津液未竭，不大渴者，只須滋陰以抑陽，不必加參而益氣。若元氣已虧者，但用純陰之劑，火去而氣無由生，惟加人參，則火瀉而土不傷，又使金能得氣，斯立法之盡善歟！此方重在煩渴，是熱已入裡，若傷寒脈浮，發熱無汗惡寒表不解者，不可與。若不惡寒而渴者雖表未全解，如背微惡寒時惡風者，亦用之。若無汗煩渴而表不解者，是麻黃杏子甘草石膏症。若小便不利，發熱而渴，欲飲水者，又五苓豬苓之症矣。若太陽陽明之瘧，熱多寒少，口燥舌乾，脈洪大者，雖不得汗，用之反汗出而解。</p>
<p>陶氏以立夏後立秋前天時不熱為拘，誤人最甚。烏知方因症立，非為時用藥也。</p>
<p><u>竹葉石膏湯：</u></p>
<p>竹葉　石膏　人參　甘草　半夏　麥冬　粳米此加減人參白虎湯也。三陽合病，脈浮大，在關上，但欲睡而不得眠，合目則汗出，宜此主之。若用於傷寒解後，虛羸少氣，氣逆欲吐者，則謬之甚矣。三陽合病者，頭項痛而胃家實，口苦、咽乾、目眩者是也。夫脈浮為陽，大為陽，是三陽合病之常脈。今在關上，病機在肝胃兩部矣。凡胃不和，則臥不安，如肝火旺則上走空竅，亦不得睡。夫腎主五液，入心為汗，血之與汗，異名同類，是汗即血也。心主血而肝藏血，人臥則血歸於肝。目合即汗出者，肝有相火，竅閉則火無從泄，血不得歸肝，心不得主血，故發而為汗。此汗不由心，故名之為盜汗耳。此為肝眚，故用竹葉為引導，以其秉東方之青色，入通於肝。大寒之氣，足以瀉肝家之火，用麥冬佐人參以通血脈，佐白虎以回津，所以止盜汗耳。半夏稟一陰之氣，能通行陰之道，其味辛，能散陽蹺之滿，用以引衛氣從陽入陰，陰陽通，其臥立至，其汗自止矣。其去知母者何？三陽合病而遺尿，是肺氣不收，致少陰之津不升，故藉知母以上滋手太陰，知母外皮毛而內白潤，肺之潤藥也。此三陽合病而盜汗出，是肝火不寧，令少陰之精妄泄，既不可復濡少陰之津，又不可再泄皮毛之澤，故用麥冬以代之歟！</p>
<p><u>茵陳蒿湯：</u></p>
<p>茵陳　梔子　大黃太陽陽明俱有發黃症，但頭汗而身無汗，則熱不外越，小便不利，則熱不下泄，故瘀熱在裡而渴飲水漿。</p>
<p>然黃有不同，症在太陽之表，當汗而發之，故用麻黃連翹赤豆湯，為涼散法；症在太陽陽明之間，當以寒勝之，用梔子柏皮湯，乃清火法；症在陽明之裡，當瀉之於內，故立本方，是逐穢法。茵陳秉北方之色、經冬不凋，傲霜凌雪，歷遍冬寒之氣，故能除熱邪留結。佐梔子以通水源，大黃以除胃熱，令瘀熱從小便而泄，腹滿自減，腸胃無傷。仍合「引而竭之」之義，亦陽明利水之奇法也。</p>
<p>仲景治陽明渴飲有四法：本太陽轉屬者，五苓散微發汗以散水氣；大煩燥渴，小便自利者，白虎加參，清火而生津；脈浮發熱，小便不利者，豬苓湯滋陰而利水；小便不利腹滿者，茵陳湯以泄滿，令黃從小便出。病情不同，治法亦異矣。竊思仲景利小便必用化氣之品，通大便必用承氣之味。故小便不利者，必加茯苓，甚者兼用豬苓，因二苓為化氣之品，而小便由於氣化矣。此小便不利，不用二苓者何？本論之陽明病，汗出多而渴者，不可與豬苓湯，以汗多胃中燥，豬苓復利小便故也。斯知陽明病汗出多而渴者，不可用，則汗不出而渴者，津液先虛，更不可用明矣。故以推陳致新之茵陳，佐以屈曲下行之梔子。不用枳、朴以承氣，與芒硝之峻利，則大黃但可以潤胃燥，而大便之遽行可知。故必一宿而腹始減，黃從小便去而不由大腸。仲景立法神奇，匪伊芳所思耳。</p>
<p><u>大承氣湯：</u></p>
<p>大黃　芒硝　枳實　厚朴</p>
<p><u>小承氣湯：</u></p>
<p>大黃　枳實　厚朴治陽明實熱，地道不通，燥屎為患。其外症身熱汗出，不惡寒反惡熱，日晡潮熱，手足　汗出，或不了了。其內症六七日不大便，初欲食反不能食，腹脹滿繞臍痛，煩躁譫語，發作有時，喘冒不得臥，腹中轉矢氣，或咽燥口乾，心下痛，自利純清水，或汗吐下後熱不解，仍不大便，或下利譫語，其脈實或滑而數者，大承氣湯主之。如大便不甚堅硬者，小承氣湯微和之。如大便燥硬而證未劇者，調胃承氣湯和之。若汗多微發熱，惡寒未罷，腹未滿，熱不潮，屎未堅硬，初硬後溏，其脈弱或微滿者，不可用。夫諸病皆因於氣，穢物之不去，由於氣之不順，故攻積之劑必用行氣之藥以主之。亢則害，承乃制，此承氣之所由。又病去而元氣不傷，此承氣之義也。夫方分大小，有二義焉：厚朴倍大黃，是氣藥為君，名大承氣；大黃倍厚朴，是氣藥為臣，名小承氣。</p>
<p>味多、性猛、制大，其服欲令泄下也，因名曰大；味少、性緩、制小，其服欲微和胃氣也，故名曰小。二方煎法不同，更有妙義。大承氣用水一斗，先煮枳、朴，煮取五升，內大黃，煮取三升，內硝者，以藥之為性，生者銳而先行，熟者氣純而和緩。仲景欲使芒硝先化燥屎，大黃繼通地道，而後枳、朴除其痞滿。緩於制劑者，正以急於攻下也。若小承氣則三物同煎，不分次第，而服只四合。此求地道之通；故不用芒硝之峻，且遠於大黃之銳矣，故稱為微和之劑。</p>
<p><u>調胃承氣湯：</u></p>
<p>大黃　芒硝　甘草此治太陽陽明並病之和劑也。因其人平素胃氣有餘，故太陽病三日，其經未盡，即欲再作太陽經，發汗而外熱未解。此外之不解，由於裡之不通。故太陽之頭項強痛雖未除，而陽明之發熱不惡寒已外見。此不得執太陽禁下之一說，坐視津液之枯燥也。少與此劑以調之，但得胃氣一和，必自汗而解。是與針足陽明同義，而用法則有在經在腑之別矣。不用氣藥而亦名承氣者，調胃即所以承氣也。《經》曰：「平人胃滿則腸虛，腸滿則胃虛，更虛更實，故氣得上下。」今氣之不承，由胃家之熱實。必用硝、黃以濡胃家之糟粕，而氣得以下；同甘草以生胃家之津液，而氣得以上。推陳之中，便寓致新之義，一攻一補，調胃之法備矣。胃調則諸氣皆順，故亦得以承氣名之。前輩見條中無燥屎字，便云未堅硬者可用，不知此方專為燥屎而設，故芒硝分兩多於大承氣。因病不在氣分，故不用氣藥耳。古人用藥分兩有輕重，煎服有法度。粗工不審其立意，故有三一承氣之說。豈知此方全在服法之妙，少少服之，是不取其勢之銳，而欲其味之留中，以濡潤胃腑而存津液也。所云「太陽病未罷者不可下」，又與「若欲下之，宜調胃承氣湯」合觀之，治兩陽並病之義始明矣。白虎加人參，是於清火中益氣：調胃用甘草，是於攻實中慮虛。</p>
<p><u>桃仁承氣湯：</u></p>
<p>桃仁　大黃　芒硝　甘草　桂枝治太陽病不解，熱結膀胱，小腹急結，其人如狂。此蓄血也，如表症已罷者，用此攻之。夫人身之經營於內外者，氣血耳。太陽主氣所生病，陽明主血所生病。邪之傷人也，先傷氣分，繼傷血分，氣血交並，其人如狂。是以太陽陽明並病所云氣留而不行者，氣先病也；血壅而不濡者，血後病也。若太陽病不解，熱結膀胱，乃太陽隨經之陽熱瘀於裡，致氣留不行，是氣先病也。氣者血之用，氣行則血濡，氣結則血蓄，氣壅不濡，是血亦病矣。小腹者膀胱所居也，外鄰衝脈，內鄰於肝。陽氣結而不化，則陰血蓄而不行。故少腹急結；氣血交並，則魂魄不藏，故其人如狂。治病必求其本，氣留不行，故君大黃之走而不守者，以行其逆氣，甘草之甘平者，以調和其正氣；血結而不行，故用芒硝之咸以軟之，桂枝之辛以散之，桃仁之苦以泄之。氣行血濡，則小腹自舒，神氣自安矣。此又承氣之變劑也。此方冶女子月事不調，先期作痛，與經閉不行者最佳。</p>
<p><u>蜜煎方　豬膽汁</u></p>
<p>《經》曰：「外者外治，內者內治。」然外病必本於內，故薛立齋於外科悉以內治，故仲景於胃家實者，有蜜煎、膽導等法。蜂蜜釀百花之英，所以助太陰之開；膽汁聚苦寒之津，所以潤陽明之燥。雖用甘、用苦之不同，而「滑可去著」之理則一也。惟求地道之通，不傷脾胃之氣。此為小便自利、津液內竭者設，而老弱虛寒無內熱症者最宜之。</p>
<h3>少陽方總論</h3>
<p>六經各有提綱，則應用各有方法。如太陽之提綱主表，法當汗解，而表有虛實之不同，故立桂枝、麻黃二法。陽明提綱主胃實，法當下解，而實亦有微甚，故分大、小承氣。少陽提綱有口苦、咽乾、目眩之症，法當清火，而火有虛實：若邪在半表，則制小柴胡以解虛火之游行，大柴胡以解相火之熱結，此治少陽寒熱往來之二法；若邪入心腹之半裡，則有半夏、瀉心、黃連、黃芩等劑。叔和搜采仲景舊論，錄其對症真方，提防世急，於少陽太陰二經，不錄一方，因不知少陽證，故不知少陽方耳。</p>
<p><u>小柴胡湯：</u></p>
<p>柴胡　人參　黃芩　甘草　半夏　薑　棗此為少陽樞機之劑，和解表裡之總方也。少陽之氣游行三焦，而司一身腠理之開　。血弱氣虛，腠理開發，邪氣因入與正氣相搏，邪正分爭，故往來寒熱。與傷寒頭疼發熱而脈弦細、中風兩無關者，皆是虛火游行於半表。故取柴胡之輕清微苦微寒者，以解表邪，即以人參之微甘微溫者，預補其正氣，使裡氣和而外邪勿得入也。</p>
<p>其口苦、咽乾、目眩、目赤、頭汗、心煩、舌苔等症，皆虛火游行於半裡。故用黃芩之苦寒以清之，即用甘、棗之甘以緩之，亦以提防三陰之受邪也。太陽傷寒則嘔逆，中風則乾嘔。此欲嘔者，邪正相搏於半裡，故欲嘔而不逆。脅居一身之半，為少陽之樞，邪結於脅，則樞機不利，所以胸脅苦滿默默不欲食也。引用薑、半之辛散，一以佐柴、芩而逐邪，一以行甘、棗之泥滯，可以止嘔者，即可以泄滿矣。夫邪在半表，勢已向裡，未有定居，故有或為之證，所以方有加減，藥無定品之可拘也。若胸中煩而不嘔者，去半夏、人參，恐其助煩也。若煩而嘔者，則人參可去，而半夏不得不用矣。加栝蔞實者，取其苦寒降火而除煩也。若渴者，是元氣不足而津液不生，去半夏之辛溫，再加人參以益氣而生津液，更加栝蔞根之苦寒者，以升陰液而上滋也。若腹中痛者，雖相火為患，恐黃芩之苦，轉屬於太陰，故易芍藥之酸以瀉木。若邪結於脅下而痞硬者，去大棗之甘能助滿，加牡蠣之咸以軟堅也。若心下悸、小便不利者，是為小逆，恐黃芩之寒轉屬於少陰，故易茯苓之淡滲而利水。若內不渴而外微熱者，是裡氣未傷，而表邪未解，不可補中，故去人參，加桂枝之辛散，溫覆而取其微汗。若咳者，是相火迫肺，不可益氣，故去人參，所謂肺熱還傷肺者此也。凡發熱而咳者重在表，故小青龍於麻、桂、細辛中加乾薑、五味。此往來寒熱而咳者，重在裡，故並去薑、棗之和營衛者，而加乾薑之苦辛，以從治相火上逆之邪，五味之酸，以收肺金之氣也。合而觀之，但顧邪氣之散，而正氣無傷，此制小柴胡之意歟！是方也，與桂枝湯相仿。而柴胡之解表，遜於桂枝；黃芩之清裡，重於芍藥；薑、棗、甘草，微行辛甘發散之常；而人參甘溫，已示虛火可補之義。</p>
<p>且去滓再煎之法，又與他劑不同。粗工恐其閉住邪氣，妄用柴、芩而屏絕人參，所以夾虛之症，不能奏功，反以速斃也。按，本方七味，柴胡主表邪不解，甘草主裡氣不調，五物皆在進退之列。本方若去甘草，便名大柴胡；若去柴胡，便名瀉心、黃芩、黃連等湯矣。前輩皆推柴胡為主治，盧氏又以柴胡三生半冬配半夏為主治，皆未審本方加減之義耳。本方為脾家虛熱、四時瘧疾之聖藥，余義詳少陽病解制方大法。</p>
<p><u>大柴胡湯：</u></p>
<p>柴胡　黃芩　半夏　芍藥　枳實　薑棗傷寒發熱，汗出不解，十余日結熱在裡，心下痞硬，嘔吐下利，復往來寒熱；或妄下後，柴胡證仍在，與小柴胡湯，嘔不止，心下急，郁郁微煩者。此皆少陽半表裡氣分之症。此方是治三焦無形之熱邪，非治胃腑有形之實邪也。其心下急煩痞硬，是病在胃口，而不在胃中，結熱在裡，不是結實在胃。因不屬有形，故十余日復能往來寒熱，若結實在胃，則蒸蒸而發熱，不復知有寒矣。因往來寒熱，故倍生薑，佐柴胡以解表：結熱在裡，故去參、甘，加枳、芍以破結。條中並不言及大便硬，而且有下利症，仲景不用大黃之意曉然。後人因有下之二字，妄加大黃以傷胃氣。非大謬乎？妄作傷寒書者，總不知憑脈辨症以用藥，專以並合仲景方為得意。如加甘草於大承氣中，而名三一承氣，加柴、芩、芍藥於承氣中，而名六一順氣，以為可以代三承氣、大柴胡、大陷胸等湯。竟不審仲景方分大小，藥分表裡，設方命劑，當因病患病機變遷輕重耳。豈聖賢之立方不精也，須爾輩更改乎？大小柴胡，俱是兩解表裡之劑。大柴胡主降氣，小柴胡主調氣。調氣無定法，故小柴胡除柴胡、甘草外，皆可進退；降氣有定局，故大柴胡無加減法。後人每方俱有加減，豈知方者哉！</p>
<p><u>柴胡桂枝乾薑湯：</u></p>
<p>柴胡　桂枝　乾薑　黃芩　甘草　牡蠣　栝蔞根傷寒五六日，發汗不解，尚在太陽界，反下之，胸脅滿微結，是系在少陽矣。此微結與陽微結不同：陽微結對純陰結言，是指結實在胃；此微結對大結胸言，是指胸脅痞硬。小便不利者，因下後下焦津液不足也。頭為三陽之會，陽氣不得降，故但頭汗出；半表半裡之寒邪未解，上下二焦之邪熱已甚，故往來寒熱心煩耳。此方全從柴胡加減。心煩不嘔不渴，故去半夏之辛溫，加栝蔞根以生津。胸脅滿而微結，故減大棗之甘滿，加牡蠣之咸以軟之。小便不利而心下不悸，是無水可利，故不去黃芩，不加茯苓。雖渴而太陽之余邪不解，故不用參而加桂。生薑之辛，易乾薑之溫苦，所以散胸脅之滿結也。初服煩即微者，黃芩、栝蔞之效；繼服汗出周身，內外全愈者，薑桂之功。小柴胡加減之妙，若無定法，而實有定局矣。更其名曰柴胡桂枝乾薑，以柴胡證具，而太陽之表猶未解，裡已微結，須此桂枝解表，乾薑解結，以佐柴胡之不及耳。</p>
<p><u>柴胡桂枝湯：</u></p>
<p>柴胡　桂枝　人參　甘草　半夏　黃芩　芍藥　大棗　生薑柴胡二湯，皆調和表裡之劑。桂枝湯重解表，而微兼清裡；柴胡湯重和裡，而微兼散表。此傷寒六七日，正寒熱當退之時，尚見發熱惡寒諸表症，更兼心下支結諸裡症，表裡不解，法當雙解之。然惡寒微，則發熱亦微可知；支節煩疼，則一身骨節不痛可知。微嘔心下亦微結，故謂之支結。表症雖不去而已輕，裡症雖已見而未甚，此太陽少陽並病之輕者。故取桂枝之半，以解太陽未盡之邪；取柴胡之半，以解少陽之微結。凡口不渴，身有微熱者，當去人參。此以六七日來邪雖不解，而正氣已虛，故用人參以和之也。外症雖在，而病機已見於裡，故方以柴胡冠桂枝之前，為雙解兩陽之輕劑。</p>
<p><u>柴胡加龍骨牡蠣湯：</u></p>
<p>柴胡　人參　黃芩　半夏　生薑　龍骨　牡蠣　桂枝　鉛丹　茯苓　大黃　大棗傷寒八九日不解，陽盛陰虛，下之應不為過，而變症蜂起者，是未講於調胃承氣之法，而下之不得其術也。</p>
<p>胸滿而煩，小便不利，三陽皆有是症。而驚是木邪犯心，譫語是熱邪入胃。一身盡重，是病在陽明而無氣以動也；不可轉側，是關少陽而樞機不利也。此為少陽陽明並病。故取小柴胡之半，以轉少陽之樞；輔大黃之勇，以開陽明之　。滿者忌甘，故去甘草：小便不利，故加茯苓。驚者須重以鎮怯，鉛稟於金之體，受癸水之氣，能清上焦無形之煩滿，中焦有形之熱結，煉而成丹，不特入心而安神，且以入肝而滋血矣。龍骨重能鎮驚而平木，蠣體堅不可破，其性守而不移，不特靜可以鎮驚，而寒可以除煩熱。且咸能潤下，佐茯苓以利水，又能軟堅，佐大黃以清胃也。半夏引陽入陰，能治目不瞑，亦安神之品，故少用為佐。人參能通血脈，桂枝能行營氣，一身盡重不可轉側者，在所必須，故雖胸滿譫語而不去也。此於柴胡方加味而取龍蠣名之者，亦以血氣之屬，同類相求耳。</p>
<p><u>黃連湯：</u></p>
<p>黃連　人參　甘草　桂枝　乾薑　半夏　大棗傷寒表不發熱，而胸中有熱，是其人未傷寒時素有蓄熱也。熱在胸中，必上形頭面，故寒邪不得上干：上焦實，必中氣虛，故寒邪得從脅而入胃。《內經》云：「中於脅則入少陽」，此類是已。凡邪在少陽，法當柴胡主治。此不往來寒熱，病不在半表，則柴胡不中與之。胸中為君主之宮城，故用半夏瀉心加減。胸中之熱不得降，故炎上而欲嘔；胃因邪氣之不散，故腹中痛也。用黃連瀉心胸之熱，薑、桂祛胃中之寒，甘、棗緩腹中之痛，半夏除嘔，人參補虛。雖無寒熱往來於外，而有寒熱相搏於中，所以寒熱並用，攻補兼施，仍不離少陽和解之治法耳。此症在太陰、少陽之間，此方兼瀉心、理中之劑。</p>
<p><u>黃芩湯：</u></p>
<p>黃芩　芍藥　甘草　大棗太陽陽明合病，是寒邪初入陽明之經，胃家未實，移寒於脾，故自下利，此陰盛陽虛，與葛根湯辛甘發散以維陽也。太陽少陽合病，是熱邪陷入少陽之裡，膽火肆逆，移熱於脾，故自下利，此陽盛陰虛，與黃芩湯苦甘相淆以存陰也。凡太、少合病，邪在半表者，法當從柴胡桂枝加減。此則熱淫於內，不須更顧表邪，故用黃芩以泄大腸之熱，配芍藥以補太陰之虛，用甘、棗以調中州之氣。雖非胃實，亦非胃虛，故不必人參以補中也。若嘔是上焦之邪未散，故仍加薑、夏。此柴胡桂枝湯去柴桂人參方也。凡兩陽之表病，用兩陽之表藥；兩陽之半表病，用兩陽之半表藥。此兩陽之裡病，用兩陽之裡藥。逐條細審，若合符節。然凡正氣稍虛，表雖在而預固其裡，邪氣正盛，雖下利而不須補中，此又當著眼處。《內經‧熱病論》云：「太陽主氣，陽明主肉，少陽主膽。傷寒一日太陽，二日陽明，三日少陽。」冬不藏精，則精不化氣，故先氣病，次及肉之病而及膽，仍自外之內。此病本雖因於內，而病因為傷於寒，故一病兩名耳。膽汁最苦最寒，乃相火中之真味。火旺之水虧，膽汁上溢而口苦，故用芩、連之品以滋膽汁而清相火也。</p>
<h3>太陰方總論</h3>
<p>太陰主內，為陰中至陰，最畏虛寒，用溫補以理中，此正法也。然太陰為開，故太陰亦能中風，則亦有可汗症。若見四肢煩疼之表，而脈浮者，始可與桂枝湯發汗。若表熱裡寒，下利清穀，是為中寒，當用四逆以急救其裡，不可攻表，以汗出必脹滿也。又恐妄汗而腹脹滿，故更製厚朴生薑甘草半夏人參湯以解之。太陰本無下症，因太陽妄下而腹滿時痛者，是陽邪內陷，故有桂枝加芍藥湯之下法。若病不從太陽來，而腹滿時痛，是太陰本病。倘妄下之，必胸下結硬而成寒實結胸，故更制三物白散以散之。此仲景為太陰誤汗誤下者立救逆法也。</p>
<p>叔和不能分明六經之方治，而專以汗吐下之三法教人，重集諸可與、不可與等浮泛之辭，以混仲景切近的當之方法，是點金成鐵矣。</p>
<p><u>理中丸：</u></p>
<p>人參　白朮　乾薑　甘草太陰病，以吐利腹滿痛為提綱，是遍及三焦矣。然吐雖屬上，而由於腹滿，利雖屬下，而由於腹滿，皆因中焦不治以致之也。其來由有三：有因表虛而風寒自外入者，有因下虛而寒濕自下上者，有因飲食生冷而寒邪由中發者。總不出於虛寒，法當溫補以扶胃脘之陽，一理中而滿痛吐利諸症悉平矣。故用白朮培脾土之虛，人參益中宮之氣，乾薑散胃中之寒，甘草緩三焦之急也。且乾薑得白朮，能除滿而止吐，人參得甘草，能療痛而止利。或湯或丸，隨機應變，此理中確為之主劑歟！夫理中者理中焦，此仲景之明訓，且加減法中又詳其吐多下多腹痛滿等法。而叔和錄之於大病瘥後治真吐一症，是坐井觀天者乎！按：太陰傷寒，手足自溫者，非病由太陽，必病關陽明。此陰中有陽，必無吐利交作之患，或暴煩下利，或發黃便硬，則腹滿腹痛，是脾家實，而非虛熱，而非寒矣，又當於茵陳、調胃輩求之。</p>
<p><u>四逆湯：</u></p>
<p>乾薑　附子　甘草脈浮而遲，表熱裡寒二句，是立方之大旨。脈浮為在表，遲為在臟，浮中見遲，是浮為表虛，遲為臟寒矣。</p>
<p>腹滿吐利，四肢厥逆，為太陰症。薑、附、甘草，本太陰藥，諸條不冠以太陰者，以此方為太陽並病立法也。</p>
<p>按四逆諸條，皆是太陽壞病轉屬太陰之症。太陽之虛陽留於表而不罷，太陰之陰寒，與外來之寒邪相得而益深。</p>
<p>故外症則惡寒發熱，或大汗出，身體痛，四肢疼，手足冷，或脈浮而遲，或脈微欲絕；內症則腹滿腹脹，下利清穀，小便自利，或吐利交作。此陰邪猖獗，真陽不歸，故云逆也。本方是用四物以救逆之謂，非專治四肢厥冷而為名。蓋仲景凡治虛症，以補中為主，觀協熱下利，脈微弱者用人參，汗後身疼，脈沉遲者加人參。此脈微欲絕，下利清穀，且不煩不咳，中氣大虛，元氣已虛，若但溫不補，何以救逆乎？觀茯苓四逆之治煩躁，且用人參，其冠以茯苓而不及參，則本方有參可知。夫人參通血脈者也，通脈四逆，豈得無參？是必因本方之脫落而仍之耳。薛新甫用三生飲，加人參兩許，而駕馭其邪，則仲景用生附，安得不用人參以固其元氣耶？叔和以太陰之吐利四逆，混入厥陰，不知厥陰之厥利，是木邪克土為實熱，太陰之厥利，是脾土自病屬虛寒，徑庭自異。</p>
<p>若以薑、附治相火，豈不逆哉？按理中、四逆二方，在白朮、附子之別。白朮為中宮培土益氣之品，附子為坎宮扶陽生氣之劑。故理中只理中州脾胃之虛寒，四逆能佐理三焦陰陽之厥逆也。後人加附子於理中，名曰附子理中湯，不知理中不須附子，而附子之功不專在理中矣。蓋脾為後天，腎為先天，少陰之火所以生太陰之土。脾為五臟之母，少陰更太陰之母，與四逆之為劑，重於理中也。不知其義者，謂生附配乾薑，補中有發。附子得生薑而能發散，附子非乾薑則不熱，得甘草則性緩。是只知以藥性上論寒熱攻補，而不知於病機上分上下淺深也，所以不入仲景之門也哉！</p>
<p><u>厚朴生薑半夏甘草人參湯：</u></p>
<p>此太陰調胃承氣之方也。凡治病必分表裡，而表裡偏有互呈之證，如麻黃之喘，桂枝之自汗，大青龍之煩躁，小青龍之咳，皆病在表而夾裡症也。用杏仁以治喘，芍藥以止汗，石膏以治煩躁，五味、乾薑以治咳，是於表劑中兼治裡也。若下利腹脹滿者，太陰裡症而兼身體疼痛之表症，又有先溫其裡，後解其表之法。若下利清穀，而兼脈浮表實者，又有只宜治裡，不可攻表之禁。是知仲景重內輕外之中，更有淺深之別也。夫汗為陽氣，而腰以上為陽，發汗只可散上焦營衛之寒，不能治下焦臟腑之濕。若病在太陰，寒濕在腸胃而不在營衛，故陰不得有汗，妄發其汗，則胃脘之微陽隨而達於表，腸胃之寒濕入經絡，而留於腹中，下利或止，而清穀不消，所以汗出必脹滿也，凡太陽汗後脹滿，是陽實於裡，將轉屬陽明；太陰汗後而腹滿，是寒實於裡，而陽虛於內也。邪氣盛則實，故用厚朴、薑、夏，散邪而除脹滿；正氣奪則虛，故用人參、甘草，補中而益元氣。此亦理中之劑歟！若用之於太陽汗後，是抱薪救火，如此症而妄作太陽治之，如水益深矣。</p>
<p><u>三物白散：</u></p>
<p>桔梗　貝母　巴豆太陽表熱未除，而反下之，熱邪與水氣相結，成實熱結胸；太陰腹滿時痛，而反下之，寒熱相結，成寒實結胸。夫大小陷胸用苦寒之品者，為有熱也。此無熱症者，則不得概以陽症之法治之矣。三物小陷胸湯者，即白散也。以其結硬而不甚痛，故亦以小名之；以三物皆白，欲以別於小陷胸之黃連，故以白名之。在太陽則或湯或丸，在太陰則或湯或散，隨病機之宜也。貝母善開心胸郁結之氣，桔梗能提胸中陷下之氣。然微寒之品，不足以勝結硬之陰邪，非巴豆之辛熱斬關而入，何以使胸中之陰氣流行也？故用二分之貝、桔，必得一分之巴豆以佐之，則清陽升而濁陰降，結硬斯可得而除矣。和以白飲之甘，取其留戀於胃，不使速下，散以散之，比湯以蕩之者，尤為的當也。服之而病在膈上必吐，在膈下者必利，以本症原自吐利，因胸下結硬而暫止耳。今因其勢而利導之，使還其出路，則結硬自散也。然此劑非欲其吐，本欲其利，亦不欲其過利。故不利進熱粥一杯，利過不止進冷粥一杯，此又復方之妙理歟！仲景每用粥為反佐者，以草木之性各有偏長，惟稼穡作甘為中和之味，人之精神血氣，皆賴之以生。故桂枝湯以熱粥發汗，理中湯以熱粥溫中，此以熱粥導利，復以冷粥止利，神哉！東垣云：「淡粥為陰中之陽，所以利小便。」則利水之劑，未始不可用也。今人服大黃後用冷粥止利，尚是仲景遺意乎？此證叔和編在太陽篇中水　病後，云「寒實結胸無熱症者，與三物小陷胸湯，白散亦可服。」按本論小陷胸湯是黃連、栝蔞、半夏三物，而貝母、桔梗、巴豆亦是三物。夫黃連、巴豆，寒熱天淵，豈有可服黃連之症，亦可服巴豆之理？且此外更無別方，則當云三物小陷胸湯為散亦可服。如云白散亦可服，是二方矣。</p>
<p>而方後又以身熱皮粟一段雜之，使人昏昏不辨。今移之太陰胸下結硬之後，其症其方，若合符然。</p>
<p><u>麻仁丸：</u></p>
<p>杏仁　芍藥　枳殼　厚朴　大黃　麻仁土為萬物之母者，以其得和平之氣也。濕土不能生草木，然稻、藕、菱、芡等物，亦有宜於水者。若燥土堅硬無水以和之，即不毛之地矣。凡胃家之實，多因於陽明之熱結，而亦有因太陰之不開者，是脾不能為胃行其津液，故名為脾約也。承氣諸劑，只能清胃，不能扶脾。如病在倉卒，胃陽實而脾陰不虛，用之則胃氣通而大便之開闔如故。若無惡熱、自汗、煩躁、脹滿、譫語、潮熱等症，飲食小便如常，而大便常自堅硬，或數日不行，或出之不利，是謂之孤陽獨行。此太陰之病不開，而穢污之不去，乃平素之蓄積使然也。慢而不治，則飲食不能為肌肉，必至消瘦而死。然腑病為客，臟病為主，治客須急，治主須緩。病在太陰，不可蕩滌以取效，必久服而始和。蓋陰無驟補之法，亦無驟攻之法。故取麻仁之甘平入脾，潤而多脂者為君，杏仁之降氣利竅，大黃之走而不守者為臣，芍藥之滋陰斂液，與枳、朴之消導除積者為佐，煉蜜為丸，少服而漸加焉，以和為度。此調脾承氣，推陳致新之和劑也。使脾胃更虛更實，而受盛傳道之官，各得其職，津液相成，精血相生，神氣以清，內外安和，形體不敝矣。</p>
<p>上太陰五方。按諸經皆有溫散溫補法，惟少陽不用溫；諸經皆有益陰清火法，惟太陰忌寒涼。若熱病傳經有嗌干等症，仍當清火；素有脾約大便不順，亦當滋陰。要知制方，全在活法，不可執也。</p>
<h3>少陰方總論</h3>
<p>仲景以病分六經，而制方分表裡寒熱虛實之六法。六經中各具六法，而有偏重焉。太陽偏於表寒，陽明偏於裡熱，太陰偏於虛寒，厥陰偏於實熱，惟少陽與少陰司樞機之職，故無偏重。而少陽偏於陽，少陰偏於陰，制方亦因之而偏重矣。然少陰之陰中有陽，故其表症根於裡，熱證因於寒。治表症先顧其裡，熱症多從寒治者，蓋陰以陽為主，固腎中之元陽，正以存少陰之真陰也。其或陽盛陰虛，心煩不得臥，見於二三日中，可用芩、連者，無幾耳。腎本無實，實症必轉屬陽明，亦由少陰之虛。知其虛，得其機矣。</p>
<p><u>麻黃附子細辛湯</u></p>
<p><u>麻黃附子甘草湯：</u></p>
<p>少陰主裡，應無表症；病發於陰，應無發熱，今始受風寒即便發熱，似乎太陽而屬之少陰者，以頭不痛而但欲寐也。《內經》曰：「逆冬氣而少陰不藏，腎氣獨沉。」故少陰之發熱而脈沉者，必於表劑中加附子，以預固其裡。蓋腎為坎象，二陰不藏，則一陽無蔽，陰邪因得以內侵，孤陽無附而外散耳。夫太陽為少陰之表，發熱無汗，太陽之表不得不開，沉為在裡，少陰之本不得不固。設用麻黃開腠理，細辛散浮熱，而無附子以固元氣，則少陰之津液越出，太陽之微陽外亡，去生遠矣。惟附子與麻黃並用，內外咸調，則風寒散而陽自歸，精得藏而陰不擾。此裡病及表，脈沉而當發汗者，與表病及裡脈浮而可發汗者徑庭矣。若得之二三日，表熱尚未去，裡症亦未見，麻黃未可去，當以甘草之和中，易細辛之辛散。佐使之任不同，則麻黃之勢亦減，取微汗而痊，是又少陰發表之輕劑矣。二方皆少陰中風托裡解外法。</p>
<p>風本陽邪，雖在少陰中而即發，不拘於五六日之期。用細辛、麻黃者，所以治風，非以治寒也；用附子者，所以固本，非熱因熱用也。寒本陰邪，即在太陽，熱不遽發，故有或未發之辭。麻黃、桂枝，長於治風，而非治寒之主劑，故主治在發熱惡寒。若無熱惡寒者，雖有頭項強痛之表急，當以四逆、真武輩救其裡矣。</p>
<p>蓋病發於陰，便已亡陽，不得以汗多亡陽一語為談柄也。少陰制麻附細辛方，猶太陽之麻黃湯，是急汗之峻劑；制麻附甘草湯，猶太陽之桂枝湯，是緩汗之和劑。蓋太陽為陽中之陽而主表，其汗易發，其邪易散，故初用麻黃、甘草而助以桂枝，次用桂枝、生薑而反佐以芍藥。少陰為陰中之陰而主裡，其汗最不易發，其邪最不易散，故用麻黃、附子而助以細辛，其次亦用麻黃、附子而緩以甘草。則少陰中風，脈陽微陰浮者，為欲愈，非必須陰出之陽而解耶。然必細審其脈沉而無裡症者，可發汗，即知脈沉而症為在裡者，不可發汗矣。此等機關，必須看破。人皆謂麻黃治太陽之傷寒，而不知仲景用以治少陰之中風。且麻黃在太陽，只服八合，不必盡劑，妙在更發汗，則改用桂枝。在少陰始得之與二三日，皆可溫服一升，日三服。則湯液本草分麻黃為太陽經藥，猶掘井得泉，而曰水專在是矣。</p>
<p><u>附子湯：</u></p>
<p>人參　白朮　附子　茯苓　芍藥此大溫大補之方，乃正治傷寒之藥，為少陰固本御邪之劑也。夫傷則宜補，寒則宜溫，而近世治傷寒者，皆以寒涼克伐相為授受，其不講於傷寒二字之名實久矣。少陰為陰中之陰，又為陰水之藏，故傷寒之重者，多入少陰，所以少陰一經，最多死症。如少陰病，身體痛，手足寒，骨節痛，口中和，惡寒脈沉者，是純陰無陽之症，方中用生附二枚，取其力之銳，且以重其任也。蓋少火之陽，鼓腎間動氣以御外侵之陰翳，則守邪之神有權，而呼吸之門有鎖鑰，身體骨節之痛自除，手足自溫，惡寒自罷矣。以人參固生氣之原，令五臟六腑之有本，十二經脈之有根，腎脈不獨沉矣。三陰以少陰為樞，設使扶陽而不益陰，陰虛而陽無所附，非治法之善也。</p>
<p>故用白朮以培太陰之土，芍藥以滋厥陰之木，茯苓以利少陰之水。水利則精自藏，土安則水有所制，木潤則火有所生矣。扶陽以救寒，益陰以固本，此萬全之術。其畏而不敢用，束手待斃者，曷可勝計耶？此與麻黃附子湯，皆治少陰表症而大不同。彼因病從外來，表有熱而裡無熱，故當溫而兼散。此因病自內出，表裡俱寒而上虛，故大溫大補。然彼發熱而用附子，此不熱而用芍藥，是又陰陽互根之理欽！此與真武湯似同而實異。此倍朮、附去薑而用參，全是溫補以壯元陽。彼用薑而不用參，尚是溫散以逐水氣。補散之分歧，只在一味之旋轉歟！</p>
<p><u>真武湯：</u></p>
<p>附子　生薑　白朮　茯苓　芍藥真武，主北方水也。坎為水，而一陽居其中，柔中之剛，故名真武。取此名方者，所以治少陰水氣為患也。</p>
<p>蓋水體本靜，其動而不息者，火之用耳。若坎宮之火用不宣，則腎家之水體失職，不潤下而逆行，故中宮四肢俱病。此腹痛下利，四肢沉重疼痛，小便不利者，由坎中陽虛，下焦有寒不能制水故也。法當壯元陽以消陰翳，培土泄水，以消留垢。故君大熱之附子，以奠陰中之陽；佐芍藥之酸苦，以收炎上之氣；茯苓淡滲，止潤下之體；白朮甘溫，制水邪之溢；生薑辛溫，散四肢之水。使少陰之樞機有主，則開闔得宜，小便得利，下利自止，腹中四肢之邪解矣。若兼咳者，是水氣射肺所致，加五味之酸溫，佐芍藥以收腎中水氣，細辛之辛溫，佐生薑以散肺中水氣，而咳自除。若兼嘔者，是水氣在胃，因中焦不和，四肢亦不治，此病不涉少陰，由於太陰濕化不宣也。與治腎水射肺者不同法，不須附子以溫腎水，倍加生薑以散脾濕，此為和中之劑，而非治腎之劑矣。</p>
<p>若大便自利而下利者，是胃中無物，此腹痛因於胃寒，四肢因於脾濕。故去芍藥之陰寒，加乾薑以佐附子之辛熱，即茯苓之甘平者亦去之，此為溫中之劑，而非利水之劑矣。要知真武加減，與小柴胡不同。小柴胡為少陽半表之劑，只不去柴胡一味，便可名柴胡湯。真武以五物成方，為少陰治本之劑，去一味便不成真武。故去薑加參，即名附子湯，於此見制方有陰陽動靜之別也。</p>
<p><u>白通湯：</u></p>
<p>蔥白　乾薑　附子</p>
<p><u>白通加豬膽汁湯：</u></p>
<p>前方加豬膽汁。</p>
<p>白通者，通下焦之陰氣，以達於上焦也。少陰病，自利而渴，小便色白者，是下焦之陽虛，而陰不生少火。</p>
<p>不能蒸動其水氣而上輸於肺，故渴；不能生土，故自利耳。法當用薑、附以振元陽，而不得升騰之品，則利止而渴不能止，故佐蔥白以通之。蔥白稟西方之色味入通於肺，則水出高源而渴自止矣。凡陰虛則小便難，下利而渴者，小便必不利，或出澀而難，是厥陰火旺，宜豬苓白頭翁輩。此小便色白，屬少陰火虛，故曰下焦虛。又曰：虛，故引水自救。</p>
<p>自救者，自病患之意，非醫家之正法也。若厥陰病欲飲水者，少少與之矣。</p>
<p><u>通脈四逆湯：</u></p>
<p>甘草　乾薑　附子　蔥下利清穀，裡寒外熱，手足厥逆，脈微欲絕，此太陰壞症，轉屬少陰之症，四逆湯所主也。而但欲寐，是系在少陰。若反不惡寒，或咽痛乾嘔，是為亡陽，其人面赤色，是為戴陽。此下焦虛極矣，恐四逆之劑，不足以起下焦之元陽，而續欲絕之脈。故倍加其味，作為大劑，更加蔥以通之。蔥稟東方之色，能行少陽生發之機；體空味辛，能入肺以行營衛之氣。薑、附、參、甘，得此以奏捷於經絡之間，而脈自通矣。脈通則虛陽得歸其部，外熱自除，而裡寒自解，諸症無虞矣。按：本方以陰症似陽而設。症之異於四逆者，在不惡寒而面色赤；方之異於四逆者，若無蔥，當與桂枝加桂加芍同矣。何更加以通脈之名？夫人參所以通血脈，安有脈欲絕而不用者？舊本乃於方後云：面赤色者加蔥，利止脈不出者加參。豈非抄錄者之疏失於本方，而蛇足於加法乎？且減法所云去者，去本方之所有也。而此云去蔥、芍、桂者，是後人之加減可知矣。</p>
<p><u>茯苓四逆湯：</u></p>
<p>茯苓　人參　甘草　乾薑　附子</p>
<p><u>乾薑附子湯：</u></p>
<p>前方去人參　甘草　茯苓發汗若下之，病仍不解，煩躁者，茯苓四逆湯主之。下後復發汗，晝日煩躁不得眠，夜則安靜，不嘔不渴，無表症，脈微沉，身無大熱者，乾薑附子湯主之。此二條皆太陽壞病轉屬少陰也。凡太陽病而妄汗妄下者，其變症或仍在太陽，或轉屬陽明，或轉系少陽，或系在太陰，皆是陽氣為患。若汗而復下，或下而復汗，陽氣喪亡，則轉屬少陰矣。此陽症變陰，陰症似陽，世醫多不能辨。用涼藥以治煩躁，鮮有不速其斃者，由不知太陽以少陰為裡，少陰為太陽之根源也。脈至少陰則沉微，邪入少陰則煩躁。煩躁雖六經俱有，而兼見於太陽少陰者，太陽為真陰之標，少陰為真陰之本也。陰陽之標本，皆從煩躁見；煩躁之虛實，又從陰陽而分。如未經汗下而煩躁，屬太陽，是煩為陽盛，躁為陰虛矣。汗下後煩躁屬少陰，是煩為陽虛，躁為陰竭矣。陰陽不相附，故煩躁。其亡陽亡陰，又當以汗之先後，表症之解不解為之詳辨，則陰陽之差多差少，不致溷淆，而用方始不誤矣。先汗後下，於法為順，而表仍不解，是妄下亡陰，陰陽俱虛而煩躁也，故制茯苓四逆，固陰以收陽。先下後汗，於法為逆，而表症反解，內不嘔渴，似於陰陽自和，而實妄汗亡陽，所以虛陽擾於陽分，晝則煩躁也，故專用乾薑附子，固陽以配陰。二方皆從四逆加減，而有救陽救陰之異。茯苓感天地太和之氣化，不假根而成，能補先天無形之氣，安虛陽外脫之煩，故以為君。人參配茯苓，補下焦之元氣；乾薑配生附，回下焦之元陽。調以甘草之甘，比四逆為緩，固裡宜緩也。</p>
<p>薑、附者，陽中之陽也，用生附而去甘草，則勢力更猛，比四逆為峻，回陽當急也。一去甘草，一加茯苓，而緩急自別，加減之妙，見用方之神乎！</p>
<p><u>吳茱萸湯：</u></p>
<p>吳茱萸　人參　生薑　大棗少陰吐利，手足厥冷，煩躁欲死者，此方主之。按少陰病吐利，煩躁四逆者死，此何復出治方？要知欲死是不死之機，四逆是兼脛臂言，手足只指指掌言，稍甚微甚之別矣。岐伯曰：「四末陰陽之會，氣之大路也。</p>
<p>四街者，氣之經絡也。絡絕則經通，四末解則氣合從。」合在肘膝之間，即四街也，又謂之四關。夫四郊擾攘，而關中猶固，知少陰生氣猶存。然五臟更相生，不生即死。少陰之生氣注於肝，陰盛水寒，則肝氣不舒而木鬱，故煩躁；肝血不榮於四末，故厥冷；水欲出地而不得出，則中土不寧，故吐利耳。病本在腎而病機在肝，不得相生之機，故欲死。勢必溫補少陰之少火，以開厥陰之出路，生死關頭，非用氣味之雄猛者，不足以當絕處逢生之任也。吳茱萸辛苦大熱，稟東方之氣色，入通於肝，肝溫則木得遂其生矣。苦以溫腎，則水不寒；辛以散邪，則土不擾。佐人參固元氣而安神明，助薑、棗調營衛以補四末。此撥亂反正之劑，與麻黃、附子之拔幟先登，附子、真武之固守社稷者，鼎足而立也。若命門火衰，不能腐熟水穀，故食穀欲嘔。若乾嘔吐涎沫而頭痛，是脾腎虛寒，陰寒上乘陽位也。用此方鼓動先天之少火，而後天之土自生；培植下焦之真陽，而上焦之寒自散。</p>
<p>開少陰之關，而三陰得位者，此方是歟？上少陰十一方，皆溫散溫補法。</p>
<p><u>黃連阿膠湯：</u></p>
<p>黃連　阿膠　黃芩　芍藥　雞子黃內膠烊盡少冷，內雞子黃攪令相得，溫服七合，日三服，此少陰之瀉心湯也。凡瀉心必藉芩、連，而導引有陰陽之別。病在三陽，胃中不和而心下痞硬者，虛則加參、甘補之，實則加大黃下之。病在少陰而心中煩不得臥者，既不得用參、甘以助陽，亦不得用大黃以傷胃矣。用黃連以直折心火，佐芍藥以收斂神明，所以扶陰而益陽也。然以但欲寐之病情，而至於不得臥，以微細之病脈，而反見心煩，非得氣血之屬以交合心腎，甘平之味以滋陰和陽，不能使水升而火降。陰火不歸其部，則少陰之熱不除。雞子黃稟南方之火色，入通於心，可以補離宮之火。用生者攪和，取其流動之義也。黑驢皮稟北方之水色，且咸先入腎，可以補坎宮之精，內合於心，而性急趨下。則阿井有水精凝聚之要也，與之相溶而成膠，用以配雞子之黃，合芩、連、芍藥，是降火歸原之劑矣。《經》曰：「火位之下，陰精承之。陰平陽秘，精神乃治。」斯方之謂歟！</p>
<p><u>豬苓湯：</u></p>
<p>豬苓　茯苓　澤瀉　滑石　阿膠少陰病，得之二三日，心煩不得臥，是上焦實熱，宜黃連阿膠湯清之。少陰病，欲吐不吐，心煩但欲寐，至五六日自利而渴者，是下焦虛寒，宜白通湯以溫之。此少陰初病而下利，似為虛寒，至六七日反見咳而嘔渴，心煩不得臥者，此豈上焦實熱乎？是因下多亡陰，精虛不能化氣，真陽不藏；致上焦之虛陽擾攘，而致變症見也。下焦陰虛而不寒，非薑、附所宜，上焦虛而非實熱，非芩、連之任，故制此方。二苓不根不苗，成於太空元氣，用以交合心腎，通虛無氤氳之氣也。阿膠味濃，乃氣血之屬，是精不足者，補之以味也。澤瀉氣味輕清，能引水氣上升，滑石體質重墜，能引火氣下降，水升火降，得既濟之理矣。且豬苓、阿膠，黑色通腎，理少陰之本；茯苓、滑石，白色通肺，滋少陰之源；澤瀉、阿膠，咸先入腎，培少陰之體；二苓、滑石，淡滲膀胱，利少陰之用。五味皆甘淡，得土中衝和之氣，是水位之下，土氣承之也。五物皆潤下，皆滋陰益氣之品，是君火之下，陰精承之也。以此滋陰利水而升津，諸症自平矣。</p>
<p><u>四逆散：</u></p>
<p>柴胡　枳實　芍藥　甘草少陰病四逆，泄利下重，其人或咳或悸，或小便不利，或腹中痛者，此方主之。少陰為水火同處之臟，水火不和，則陰陽不相順接。四肢為陰陽之會，故厥冷四逆，有寒熱之分，胃陽不敷於四肢為寒厥，陽邪內擾於陰分為熱厥。然四肢不溫，故厥者必利，先審瀉利之寒熱，而四逆之寒熱判矣。下利清穀為寒，當用薑、附壯元陽之本；泄瀉下重為熱，故用白芍、枳實酸苦涌泄之品以清之。不用芩、連者，以病於陰而熱在下焦也。更用柴胡之苦平者，以升散之，令陰火得以四達。佐甘草之甘涼，以緩其下重。合而為散，散其實熱也。用白飲和服，中氣和而四肢之陰陽自接，三焦之熱自平矣。此症以泄利下重，知少陰之陽邪內擾於陰，四逆即非寒症矣。</p>
<p>四逆皆少陰樞機無主，升降不利所致，只宜治下重，不須兼治諸症也。仲景因有四逆症，欲以別於四逆湯，故以四逆散名之。本方有咳者，加五味、乾薑，悸者。加桂枝，腹痛加附子，泄利下重加薤白，俱非泄利下重所宜。且五味、薑、桂加五分，於附子加一枚，薤白三升，何多寡不同若是？且以散只服方寸匕，恐不濟此症，此後人附會可知也。</p>
<p><u>豬膚湯：</u></p>
<p>豬膚　白蜜　白粉少陰病多下利，以下焦之虛也。陰虛則陽無所附，故下焦虛寒者，反見上焦之實熱。少陰脈循喉嚨，挾舌本，其支者，出絡心，注胸中。凡腎精不足，腎火不藏，必循經上走於陽分也。咽痛胸滿心煩者，因陰並於下，而陽並於上，承不上承於心，火不下交於腎，此未濟之象。豬為水畜，而津液在膚，取其膚以治上焦虛浮之火，和白蜜、白粉之甘，瀉心潤肺而和脾。滋化原，培母氣，水升火降，上熱下行，虛陽得歸其部，不治利而利自止矣。三味皆食物，不藉於草，所謂隨手拈來，盡是道矣。</p>
<p><u>甘草湯：</u></p>
<p>甘草</p>
<p><u>桔梗湯：</u></p>
<p>甘草　桔梗</p>
<p><u>半夏湯：</u></p>
<p>半夏　桂枝　甘草</p>
<p><u>苦酒湯：</u></p>
<p>半夏　雞子白　苦酒四方皆因少陰咽痛而設也。少陰之脈循喉嚨，挾舌本，故有咽痛症。若因於他症而咽痛者，不必治其咽。</p>
<p>如脈陰陽俱緊，反汗出而吐利者，此亡陽也。只回其陽，則吐利止而咽痛自除。如下利而胸滿心煩者，是下焦虛而上焦熱也。升水降火，上下和調而痛自止。若無他症而但咽痛者，又有寒熱之別。見於二三日，是陰火上衝，可與甘草湯，甘涼瀉火以緩其熱。不瘥者，配以桔梗，兼辛以散之，所謂奇之不去而偶之也。二方為正治之輕劑，以少陰為陰中之陰，脈微細而但欲寐，不得用苦寒之劑也。若其陰症似陽，惡寒而欲吐者，非甘、桔所能療，當用半夏之辛溫，散其上逆之邪，桂枝之甘溫，散其陰寒之氣，緩以甘草之甘平，和以白飲之穀味，或為散，或為湯，隨病之意也。如咽中因痛而且傷，生瘡不能言，語聲不出者，不得即認為熱症。必因嘔而咽痛，胸中之痰飲未散，仍用半夏之辛溫，取苦酒之酸以斂瘡，雞子白之清以發聲。且三味相合，而半夏減辛烈之猛，苦酒緩收斂之驟，取雞子白之潤滋其咽喉，又不令泥痰飲於胸膈也。故其法以雞子連殼置刀環中，安火上，只三沸即去滓，此意在略見火氣，不欲盡出半夏之味也明矣。二方皆少少含咽，是從治緩劑。按雞卵法太極之形，含陰陽兩氣，其黃走血分，故心煩不臥者用之。此仲景用藥法象之義也。</p>
<p>上少陰七方，皆涼解法，後二方，皆溫補法。</p>
<h3>厥陰方總論</h3>
<p>太陰以理中丸為主，厥陰以烏梅丸為主。丸者，緩也。太陰之緩，所以和脾胃之氣；厥陰之緩，所以制相火之逆也。觀所主諸方，治手足厥冷，脈微欲絕，而不用薑、附；下利、脈沉結，而用黃柏；心動悸、脈代結，而用生地、麥冬。總因肝有相火，當瀉無補，與腎中虛陽之發，當補當溫者不同耳。夫三陰皆有本經之熱：太陰之熱，脾家實而行胃脘之陽也；少陰之熱，腎陰虛而元陽發越也；厥陰之熱，肝膽熱而拂鬱之火內熱也。</p>
<p>舉世誤於傳經熱邪之說，遇三陰熱症，漫無主張。見發熱脈沉者，斷為陽症，見陰脈而不治，中風下利者，妄呼為漏底傷寒。不明仲景之論，因不敢用仲景之方，非不學無術乎？</p>
<p><u>烏梅丸：</u></p>
<p>烏梅　乾薑　桂枝　附子　蜀椒　黃連　黃柏　人參　當歸　細辛六經惟厥陰最為難治，其本陰而標熱，其體風木，其用相火，以其具合晦朔之理。陰之初盡，即陽之初出，所以一陽為紀，一陰為獨，則厥陰病熱，是少陽之相火使然也。火旺則水虧，故消渴；氣有餘便是火，故氣上撞心；心中疼熱，木甚則克土，故飢不欲食，是為風化；飢則胃中空虛，蛔聞食臭則出，故吐蛔。此厥陰之火症，非厥陰之傷寒也。《內經》曰：「必伏其所主，而先其所因。或收或散，或逆或從，隨所利而行之，調其中氣，使之和平。」是厥陰之治法也。仲景之方，多以辛甘、甘涼為君，獨此方用酸收之品者，以厥陰主肝而屬木。《洪范》云：「木曰曲直，曲直作酸。」《內經》曰：「木生酸，酸入肝，以酸瀉之，以酸收之。」君烏梅之大酸，是伏其所主也。佐黃連瀉心而除痞，黃柏滋腎以除渴，先其所因也。腎者肝之母，椒、附以溫腎，則火有所歸，而肝得所養，是固其本也。肝欲散，細辛、乾薑以散之；肝藏血，桂枝、當歸引血歸經也。寒熱並用，五味兼收，則氣味不和，故佐以人參調其中氣。以苦酒浸烏梅，同氣相求，蒸之米下，資其穀氣。加蜜為丸，少與而漸加之，緩以治其本也。仲景此方，本為厥陰諸症之法，叔和編於吐蛔條下，令人不知有厥陰之主方。觀其用藥，與諸症符合，豈只吐蛔一症耶？蛔為生冷之物，與濕熱之氣相成，故寒熱互用以治之。且胸中煩而吐蛔，則連、柏是寒因熱用。蛔得酸則靜，得辛則伏，得苦則下，殺蟲之方，無更出其上者。久利則虛，調其寒熱，扶其正氣，酸以收之，其利自止。愚按：厥利發熱諸症，諸條不立方治，當知治法不出此方矣。</p>
<p><u>當歸四逆湯：</u></p>
<p>桂枝　芍藥　當歸　細辛　通草　甘草　大棗</p>
<p><u>當歸四逆加吳茱萸生薑湯：</u></p>
<p>前方加吳茱萸　生薑　酒此厥陰傷寒發散表邪之劑也。厥陰居兩陰之交盡，名曰陰之絕陽。外傷於寒，則陰陽之氣不相順接，故手足厥冷，脈微欲絕。然相火居於厥陰之臟，臟氣實熱，則寒邪不能侵，只外傷於經，而內不傷臟，故先厥者，後必發熱。凡傷寒初起，內無寒症，而外寒極盛者，但當溫散其表，勿遽溫補其表。此方用桂枝湯以解外，而以當歸為君者，因厥陰主肝為血室也。肝苦急，甘以緩之，故倍加大棗，猶小建中加飴糖法。肝欲散，當以辛散之。細辛，其辛能通三陰之氣血，外達於毫端，比麻黃更猛，可以散在表之嚴寒。不用生薑，不取其橫散也。通草即木通，能通九竅而通關節，用以開厥陰之闔，而行氣於肝。夫陰寒如此，而仍用芍藥者，須防相火之為患也。是方桂枝得歸、芍，生血於營；細辛同通草，行氣於衛；甘草得棗，氣血以和。且緩中以調肝，則營氣得至手太陰，而脈自不絕；溫表以逐邪，則衛氣行四末，而手足自溫。不須參、朮之補，不用薑、桂之燥，此厥陰之四逆，與太、少不同治，而仍不失辛甘發散為陽之理也。若其人內有久寒者，其相火亦不足。加吳萸之辛熱，直達厥陰之臟；生薑之辛散，淫氣於筋；清酒以溫經絡，筋脈不沮弛。則氣血如故，而四肢自溫，脈息自至矣。此又治厥陰內外兩傷於寒之劑也，冷結膀胱而少腹滿痛，手足厥冷者宜之。</p>
<p><u>小建中湯：</u></p>
<p>桂枝　芍藥　甘草　生薑　大棗　飴糖厥陰為闔，外傷於寒，肝氣不舒，熱鬱於下，致傷中氣，故制此方以主之。凡六經外感未解者，皆用桂枝湯解外。如太陽誤下，而陽邪下陷於太陰者，桂枝湯倍加芍藥，以瀉木邪之干脾也。此肝火上逼於心脾，於桂枝加芍藥湯中更加飴糖，取酸苦以平肝臟之火，辛甘以調脾家之急，又資其穀氣以和中也。此方安內攘外，瀉中兼補，故名曰建。外症未除，尚資薑、桂以散表，不全主中，故稱曰小。所謂中者有二：一曰心中，一曰腹中。如傷寒二三日，心中悸而煩者，是厥陰之氣逆上衝於心也。比心中疼熱者稍輕，而有虛實之別。疼而熱者為實，當用苦寒以瀉心火；悸而煩者為虛，當用甘溫以保心氣。是建腹中之宮城也。傷寒陽脈澀，陰脈弦，腹中急痛者，是厥陰之逆氣上侵脾胃也。比飢不欲食，食則吐蛔者為更重，而有形氣之別。食即吐蛔為有形，當用酸苦以安蛔；腹中急痛為無形，當用辛寒以止痛。是建腹中之都會也。世不明厥陰之為病，便不知仲景所以制建中之理；不知膽藏肝內，則不明仲景先裡後表之法。蓋寒雖外來，而熱從中發。必先開厥陰之闔，始得轉少陰之樞；先平厥陰陰脈之弦，始得通少陽陽脈之澀。此腹中痛者，先與小建中湯，不瘥者，繼用小柴胡湯之理也。凡腹痛而用芍藥者，因相火為患。若因於虛寒者，大非所宜，故有建中、理中之別。或問：腹痛既與小建中溫之，更用小柴胡涼之，先熱後寒，仲景亦姑試之乎？曰：不瘥者，但未愈，非更甚也。先之以建中，是解肌而發表，止痛在芍藥；繼之以柴胡，是補中以逐邪，止痛在人參。按柴胡加減法，腹中痛者，去黃芩加芍藥，其功倍於建中。可知陽脈仍澀，故用人參以助桂枝；陰脈仍弦，故用柴胡以助芍藥。若一服建中而即瘥，則不必人參之補，亦不須柴胡之散矣。</p>
<p><u>茯苓甘草湯：</u></p>
<p>桂枝　生薑　茯苓　甘草此厥陰傷寒發散內邪之汗劑。凡傷寒厥而心下悸者，宜先治水，後治其厥，不爾水漬入胃，必作利也。此方本欲利水，反取表藥為裡症用，故雖重用薑、桂，而以裡藥名方耳。厥陰傷寒，先熱者後必厥，先熱時必消渴。今厥而心下悸，是下利之源，斯時不熱不渴可知矣。因消渴時飲水多，心下之水氣不能入心為汗，蓄而不消，故四肢逆冷而心下悸也。肺為水母，肺氣不化，則水氣不行。茯苓為化氣之品，故能清水之源。然得豬苓、澤瀉，則行西方收降之令，下輸膀胱而為溺。桂枝、生薑，則從辛入肺，使水氣通於肺，以行營衛陰陽，則外走肌表而為汗矣。佐甘草以緩之，汗出周身，而厥自止，水精四布，而悸自安。以之治水者，即所以治厥也。</p>
<p>凡厥陰之渴在未汗時，太陽之渴在發汗後。如傷寒心悸，汗出而渴者，是水氣不行，而津液又不足，須小發汗以散水氣，故用五苓。傷寒心悸無汗而不渴者，津液未虧，故可用此方大發其汗。五苓因小發汗故少佐桂枝，不用生薑用白朮者，恐漬水入脾也。此用薑、桂與茯苓等分，而不用芍藥、大棗，是大發其汗。佐甘草者，一以協辛發汗，且恐水漬入胃也。厥陰厥而不利，與見厥復利者，因熱少而不能消水，水漬入胃，故仲景言其症而未及治法。與本方汗之則利自止，是下者舉之之義也。本方為汗家峻劑，與麻黃湯義異，而奏捷則同。因水氣在心下而不在皮毛，故不用麻黃；悸而不喘，故不用杏仁；且外不熱而內不渴，故不用小青龍。仲景化水發汗之劑，不同如此。</p>
<p>按傷寒汗出而渴，是傷寒、溫病分歧處，大宜著眼。要知不惡寒反惡熱者，即是溫病；有水氣而心下悸，尚是傷寒。若無水氣，則五苓燥熱，即溫病發火之藥矣。</p>
<p><u>炙甘草湯：</u></p>
<p>炙甘草　人參　阿膠　麻仁　桂枝　麥冬　生薑　大棗　清酒　生地厥陰傷寒，則相火內郁，肝氣不舒，血室干涸，以致營氣不調，脈道澀滯而見代結之象。如程郊倩所云：「此結者不能前而代替，非陰盛也。」凡厥陰病，則氣上衝心，故心動悸。此悸動因於脈代結，而手足不厥，非水氣為患矣。不得甘寒多液之品以滋陰而和陽，則肝火不息，而心血不生。心不安其位，則悸動不止；脈不復其常，則代結何以調？故用生地為君，麥冬為臣，炙甘草為佐，大劑以峻補真陰，開來學滋陰之一路也。反以甘草名方者，藉其載藥入心，補離中之虛以安神明耳。然大寒之劑，無以奉發陳、蕃秀之機，必須人參、桂枝，佐麥冬以通脈，薑、棗佐甘草以和營，膠、麻佐地黃以補血，甘草不使速下，清酒引之上行，且生地、麥冬，得酒力而更優也。</p>
<p><u>燒　散：</u></p>
<p>男女交媾而病傳焉，奇病也。其授者始因傷寒，而實種於欲火，其受者因於欲火，而實發於陰虛，此陰陽易之病所由來也。無惡寒發熱之表，無胃實自利之症。此因兩精相搏，而當時即發，與冬不藏精，春必病溫者不同。夫邪之所湊，其氣必虛。陰虛者陽必湊之，故少氣而熱上衝胸；氣少不得運，故頭重不舉，身體皆重；邪中於陰，故陰中拘攣；衝任脈傷，故少腹裡急；精神散亂，故目中生花；動搖筋骨，故膝脛拘急；病由於腎，毒侵水道，故小便不利。諒非金石所能愈，仍須陰陽感召之理以致之。　襠者，男女陰陽之衛。衛乎外者，自能清乎內。感於無形者，治之以有形。取其隱內，燒而服之，形氣相感，小便即利。陰頭微腫，濁陰走下竅而清陽出上竅，欲火平而諸症自息矣。男服女，女服男，然更宜六味地黃湯合生脈散治之。</p>
<h3>六經方余論</h3>
<p>既論制方之大法，又分六經之方以論之，亦云詳矣。而定方不同之故，更不可不辨也。夫風寒暑濕之傷人，六經各有所受，而發見之脈不同。或脈同而症異，或脈症皆同而主症不同者，此經氣之有別也。蓋六經分界，如九州之風土，人物雖相似，而衣冠、飲食、言語、性情之不同，因風土而各殊。則人身表裡之寒熱虛實，亦皆因經氣而異矣。如太陽一經，寒熱互呈，虛實遞見，治之者，當於表中顧裡，故發表諸方，往往兼用裡藥。陽明之經主實熱，治者當於實中防虛，故制攻下諸方，而又叮嚀其不可輕用。少陽之經氣主虛熱，故立方涼解，每用人參。太陰之經氣主虛寒，故立方溫補，不離薑、附。少陰之經氣多虛寒，故雖見表熱而用附子，亦間有虛熱，故亦有滋陰之劑。厥陰之經氣主實熱，故雖手足厥冷，脈微欲絕，而不用薑、附。然此為無形之實熱，與陽明有形之實熱徑庭矣。仲景制方，因乎經氣，《內經》「審其陰陽，以別剛柔，陽病治陰，陰病治陽，定其氣血，各守其鄉」之理也。所以表裡攻補陰陽之品，或同或異者，亦因其經氣血之多少而為之定劑耳。請再以表裡論之：三陽主表而有裡，三陰主裡而無表，何也？太陽為五臟之主，以胸中為裡，以少陰為裡；陽明為六腑之主，以腹中為裡，以太陰為裡；少陽為十一臟所決之主，故胸腹皆為其裡而無定位，以厥陰為裡，猶運籌於帷幄也。治三陽者，既顧心腹之裡，又顧三陰之裡，所以陽經之方倍於陰經。而陽有多少，病有難易，所以陽明之方不及太陽，少陽之方更少於陽明也。三陰非無表症也，而謂其無表。故少陰之一身盡熱，無非太陽漸外之陽；太陰之四肢煩疼，原是胃脘之所發；厥陰之厥而發熱，疇非三焦膽甲之氣也。第不頭痛項強，胃家不實，不口苦目眩，定其為陰經耳。三陰之表自三陽來，所以三陰表劑，仍用麻黃、桂枝為出路。太陰之芍藥，少陰之附子，厥陰之當歸，得互列於表劑之間，並行而不悖。此《內經》陰陽、表裡、雌雄相輸應之義也。</p>
<p><u>麻黃升麻湯：</u></p>
<p>麻黃　升麻　黃芩　知母　石膏　芍藥　天冬　乾薑　桂枝　當歸　茯苓　白朮　玉竹　甘草六經方中，有不出於仲景者。合於仲景，則亦仲景而已矣。若此湯其大謬者也。傷寒六七日，大下後，寸脈沉而遲。夫寸為陽，主上焦，沉而遲，是無陽矣。沉為在裡，則不當發汗；遲為臟寒，則不當清火。且下部脈不至，手足厥冷，泄利不止，是下焦之元陽已脫，又咽喉不利吐膿血，是上焦之虛陽無依而將亡，故擾亂也。如用參、附以回陽，而陽不可回，故曰難治，則仲景不立方治也明矣。此用麻黃、升麻、桂枝以散之，匯集知母、天冬、黃芩、芍藥、石膏等大寒之品以清之，以治陽實之法，治亡陽之症，是速其陽之斃也。安可望其汗出而愈哉！用乾薑一味之溫，苓、朮、甘、歸之補，取玉竹以代人參，是猶攻金城高壘，而用老弱之師也。且用藥至十四味，猶廣羅原野，冀獲一兔，與防風通聖等方，同為粗工僥幸之符也。謂東垣用藥多多益善者，是不論脈病之合否，而殆為妄談歟！</p>
