<header><h1>脾胃論</h1></header>
<dl class="元資料" data-type="book">
<div><dt>作者</dt><dd>李東垣</dd></div>
<div><dt>朝代</dt><dd>金</dd></div>
<div><dt>年份</dt><dd><data value="1249">公元1249年</data></dd></div>
<div><dt>底本</dt><dd>《欽定四庫全書·子部五·醫家類·脾胃論》（<a href="https://www.kanripo.org/text/KR3e0053/">掃描及文字化本</a>）</dd></div>
</dl>
<h2>序</h2>
<p>天之邪氣，感則害人五臟，八風之中，人之高者也；水穀之寒熱，感則害人六腑，謂水穀入胃，其精氣上注於肺，濁溜於腸胃，飲食不節而病者也；地之濕氣，感則害人皮膚筋脈，必從足始者也。《內經》說百病皆由上中下三者，及論形氣兩虛，即不及天地之邪，乃知脾胃不足，為百病之始，有餘不足，世醫不能辨之者，蓋已久矣。往者，遭壬辰之變，五六十日之間，為飲食勞倦所傷而歿者，將百萬人，皆謂由傷寒而歿，後見明之辨內外傷及飲食勞倦傷一論，而後知世醫之誤。學術不明，誤人乃如此，可不大哀耶！明之既著論矣，且懼俗蔽不可以猝悟也，故又著《脾胃論》叮嚀之。上發二書之微，下祛千載之惑，此書果行，壬辰藥禍，當無從而作。仁人之言，其意博哉！</p>
<p><u>己酉七月望日遺山元好問序</u></p>
<h2>卷上</h2>
<h3>脾胃虛實傳變論</h3>
<p>《五臟別論》云：胃、大腸、小腸、三焦、膀胱，此五者，天氣之所生也。其氣象天，故瀉而不藏，此受五臟濁氣，名曰傳化之府，此不能久留，輸瀉者也。所謂五臟者，藏精氣而不瀉也，故滿而不能實；六腑者，傳化物而不藏，故實而不能滿。所以然者，水穀入口，則胃實而腸虛，食下，則腸實而胃虛，故曰實而不滿，滿而不實也。《陰陽應象大論》云：穀氣通於脾。六經為川，腸胃為海，九竅為水注之氣。九竅者，五臟主之。五臟皆得胃氣，乃能通利。《通評虛實論》云：頭痛耳鳴，九竅不利，腸胃之所生也。胃氣一虛，耳目口鼻，俱為之病。《經脈別論》云：食氣入胃，散精於肝，淫氣於筋。食氣入胃，濁氣歸心，淫精於脈。脈氣流經，經氣歸於肺，肺朝百脈，輸精於皮毛。毛脈合精，行氣於腑，腑精神明，留於四臟。氣歸於權衡，權衡以平，氣口成寸，以決死生。飲入於胃，游溢精氣，上輸於脾。脾氣散精，上歸於肺，通調水道，下輸膀胱。水精四布，五經並行，合於四時五臟陰陽，揆度以為常也。又云：陰之所和，本在五味；陰之五官，傷在五味。至於五味，口嗜而欲食之，必自裁制，勿使過焉，過則傷其正也。謹和五味，骨正筋柔，氣血以流，腠理以密，如是則骨氣以精，謹道如法，長有天命。《平人氣象論》云：人以水穀為本，故人絕水穀則死，脈無胃氣亦死。所謂無胃氣者，非肝不弦，腎不石也。歷觀諸篇而參考之，則元氣之充足，皆由脾胃之氣無所傷，而後能滋養元氣；若胃氣之本弱，飲食自倍，則脾胃之氣既傷，而元氣亦不能充，而諸病之所由生也。</p>
<p>《內經》之旨，皎如日星，猶恐後人有所未達，故《靈樞經》中復申其說。經云：水穀入口，其味有五，各注其海，津液各走其道。胃者，水穀之海，其輸上在氣街，下至三裡。</p>
<p>水穀之海有餘，則腹滿；水穀之海不足，則飢不受穀食。人之所受氣者，穀也；穀之所注者，胃也。胃者，水穀氣血之海也。海之所行云氣者，天下也。胃之所出氣血者，經隧也。經隧者，五臟六腑之大絡也。又云：五穀入於胃也，其糟粕、津液、宗氣，分為三隧。故宗氣積於胸中，出於喉嚨，以貫心肺，而行呼吸焉。榮氣者，泌其津液，注之於脈，化而為血，以榮四末，內注五臟六腑，以應刻數焉。衛者，出其悍氣之　疾，而行於四末分肉、皮膚之間，而不休者也。又云：中焦之所出，亦並胃中，出上焦之後，此所受氣者，泌糟粕，蒸津液，化為精微，上注於肺脈，乃化而為血，以奉生身，莫貴於此。聖人諄復其辭而不憚其煩者，仁天下後世之心亦倦倦矣。</p>
<p>故夫飲食失節，寒溫不適，脾胃乃傷。此因喜怒憂恐，損耗元氣，資助心火。火與元氣不兩立，火勝則乘其土位，此所以病也。《調經篇》云：病生陰者，得之飲食居處，陰陽喜怒。又云：陰虛則內熱，有所勞倦，形氣衰少，穀氣不盛，上焦不行，下脘不通，胃氣熱，熱氣熏胸中，故為內熱。脾胃一傷，五亂互作，其始病遍身壯熱，頭痛目眩，肢體沉重，四肢不收，怠惰嗜臥，為熱所傷，元氣不能運用，故四肢困怠如此。聖人著之於經，謂人以胃土為本，成文演義，互相發明，不一而止，粗工不解讀，妄意使用，本以活人，反以害人。</p>
<p>淨，則志意治，順之則陽氣固，雖有賊邪，弗能害也，此因時之序。故聖人傳精神，服天氣，而通神明。失之內閉九竅，外壅肌肉，衛氣散解。此謂自傷，氣之削也。陽氣者，煩勞則張，精絕，辟積於夏，使人煎厥。目盲耳閉，潰潰乎若壞都。故蒼天之氣貴清淨，陽氣惡煩勞，病從脾胃生者一也。《五常政大論》云：陰精所奉其人壽，陽精所降其人夭。陰精所奉，謂脾胃既和，穀氣上升，春夏令行，故其人壽。陽精所降，謂脾胃不和，穀氣下流，收藏令行，故其人夭，病從脾胃生者二也。《六節臟象論》云：脾、胃、大腸、小腸、三焦、膀胱者，倉廩之本，榮之居也。名曰器，能化糟粕，轉味而入出者也。其華在唇四白，其充在肌，其味甘，其色黃。此至陰之類，通於土氣，凡十一臟，皆取決於膽也。膽者，少陽春生之氣，春氣升則萬化安。故膽氣春升，則余臟從之；膽氣不升，則飧泄腸　，不一而起矣。病從脾胃生者三也。經云：天食人以五氣，地食人以五味。五氣入鼻，藏於心肺，上使五色修明，音聲能彰；五味入口，藏於腸胃，味有所藏，以養五氣，氣和而生，津液相成，神乃自生。</p>
<p>此謂之氣者，上焦開發，宣五穀味，熏膚充身澤毛，若霧露之溉。氣或乖錯，人何以生，病從脾胃生者四也。豈特四者，至於經論天地之邪氣，感則害人五臟六腑，及形氣俱虛，乃受外邪，不因虛邪，賊邪不能獨傷人，諸病從脾胃而生明矣。聖人旨意，重見疊出，詳盡如此，且垂戒云，法於陰陽，和於朮數，食飲有節，起居有常，不妄作勞，故能形與神俱，而盡終其天年，度百歲乃去。由是言之，飲食起居之際，可不慎哉。</p>
<h3>臟氣法時升降浮沉補瀉圖說</h3>
<p><a href="_files/ps123a1.bmp">臟氣法時升降浮沉補瀉圖說</a></p>
<p>五行相生，木、火、土、金、水，循環無端，惟脾無正行，於四季之末各旺一十八日，以生四臟。四季者，辰、戌、丑、未是也。人身形以應九野，左足主立春，丑位是也；左手主立夏，辰位是也；右手主立秋，未位是也；右足主立冬，戌位是也。戌濕，其本氣平，其兼氣溫、涼、寒、熱，在人以胃應之；己土，其本味鹹，其兼味辛、甘、酸、苦，在人以脾應之。脾胃兼化，其病治之，各從其宜，不可定體；肝肺之病，在水火之間，順逆傳變不同，溫涼不定，當求責耳。</p>
<h3>脾胃勝衰論</h3>
<p>胃中元氣盛，則能食而不傷，過時而不飢。脾胃俱旺，則能食而肥；脾胃俱虛，則不能食而瘦。或少食而肥，雖肥而四肢不舉，蓋脾實而邪氣盛也。又有善食而瘦者，胃伏火邪於氣分，則能食，脾虛則肌肉削，即食亦也。叔和云：多食亦肌虛，此之謂也。</p>
<p>夫飲食不節則胃病，胃病則氣短精神少而生大熱，有時而顯火上行，獨燎其面，《黃帝針經》云：面熱者，足陽明病。胃既病，則脾無所稟受，脾為死陰，不主時也，故亦從而病焉。形體勞役則脾病，脾病則怠惰嗜臥，四肢不收，大便泄瀉；脾既病，則其胃不能獨行津液，故亦從而病焉。</p>
<p>大抵脾胃虛弱，陽氣不能生長，是春夏之令不行，五臟之氣不生。脾病則下流乘腎，土克水，則骨乏無力，是為骨蝕，令人骨髓空虛，足不能履地，是陰氣重疊，此陰盛陽虛之證。大法云，汗之則愈，下之則死。若用辛甘之藥滋胃，當升當浮，使生長之氣旺。言其汗者，非正發汗也，為助陽也。</p>
<p>夫胃病其脈緩，脾病其脈遲，且其人當臍有動氣，按之牢若痛，若火乘土位，其脈洪緩，更有身熱心中不便之證。此陽氣衰弱，不能生發，不當於五臟中用藥法治之，當從《臟氣法時論》中升降浮沉補瀉法用藥耳。</p>
<p>如脈緩，病怠惰嗜臥，四肢不收，或大便泄瀉，此濕勝，從平胃散。若脈弦，氣弱自汗，四肢發熱，或大便泄瀉，或皮毛枯槁，發脫落，從黃　建中湯。脈虛而血弱，於四物湯中摘一味或二味，以本顯證中加之。或真氣虛弱，及氣短脈弱，從四君子湯。或渴，或小便閉澀，赤黃多少，從五苓散去桂，摘一二味加正藥中。</p>
<p>以上五藥，當於本證中隨所兼見證加減。假令表虛自汗，春夏，加黃　；秋冬，加桂。</p>
<p>不轉者，勿加。雖氣不轉，而脾胃中氣不和者，勿去，但加厚朴以破滯氣，然亦不可多用，於甘草五分中加一分可也。腹中夯悶，此非腹脹，乃散而不收，可加芍藥收之。</p>
<p>如肺氣短促，或不足者，加人參、白芍藥。中焦用白芍藥，則脾中升陽，使肝膽之邪不敢犯也。腹中窄狹及縮急者，去之，及諸酸澀藥亦不可用。</p>
<p>腹中痛者，加甘草、白芍藥，稼穡作甘，甘者己也；曲直作酸，酸者甲也。甲己化土，此仲景妙法也。腹痛兼發熱，加黃芩；惡寒或腹中覺寒，加桂。</p>
<p>怠惰嗜臥，有濕，胃虛不能食，或沉困，或泄瀉，加蒼朮；自汗，加白朮。</p>
<p>小便不利，加茯苓，渴亦加之。</p>
<p>氣弱者，加白茯苓、人參；氣盛者，加赤茯苓、縮砂仁；氣復不能轉運，有熱者，微加黃連；心煩亂亦加之。</p>
<p>小便少者，加豬苓、澤瀉；汗多津液竭於上，勿加之。是津液還入胃中，欲自行也。不渴而小便閉塞不通，加炒黃柏、知母。</p>
<p>小便澀者，加炒滑石；小便淋澀者，加澤瀉。且五苓散治渴而小便不利，無惡寒者，不得用桂。</p>
<p>不渴而小便自利，妄見妄聞，乃瘀血證，用炒黃柏、知母，以除腎中燥熱。</p>
<p>竅不利而淋，加澤瀉、炒滑石。只治竅不利者，六一散中加木通亦可。心臟熱者，用錢氏方中導赤散。</p>
<p>中滿或但腹脹者，加厚朴；氣不順，加橘皮；氣滯，加青皮一、橘皮三。</p>
<p>氣短小便利者，四君子湯中去茯苓，加黃　以補之；如腹中氣不轉者，更加甘草一半。</p>
<p>也，血虛則裡急；或血氣虛弱而目睛痛者，皆加當歸身。</p>
<p>頭痛者，加川芎；苦頭痛，加細辛，此少陰頭痛也。</p>
<p>發脫落及臍下痛，加熟地黃。</p>
<p>予平昔調理脾胃虛弱，於此五藥中加減，如五臟證中互顯一二證，各對證加藥，無不驗，然終不能使人完復，後或有因而再至者，亦由督、任、衝三脈為邪，皆胃氣虛弱之所致也。法雖依證加減，執方料病，不依《素問》法度耳，是以檢討《素問》《難經》及《黃帝針經》中說脾胃不足之源，乃陽氣不足，陰氣有餘，當從六氣不足，升降浮沉法，隨證用藥治之。蓋脾胃不足，不同余臟，無定體故也。其治肝、心、肺、腎，有餘不足，或補或瀉，惟益脾胃之藥為切。</p>
<p>經云：至而不至，是為不及，所勝妄行，所生受病，所不勝乘之也。至而不至者，謂從後來者為虛邪，心與小腸來乘脾胃也。脾胃脈中見浮大而弦，其病或煩躁悶亂，或四肢發熱，或口乾舌乾咽乾。蓋心主火，小腸主熱，火熱來乘土位，乃濕熱相合，故煩躁悶亂也。四肢者，脾胃也，火乘之，故四肢發熱也。飲食不節，勞役所傷，以致脾胃虛弱，乃血所生病，主口中津液不行，故口乾咽乾也。病患自以為渴，醫者治以五苓散，謂止渴燥，而反加渴燥，乃重竭津液，以至危亡。經云：虛則補其母。當於心與小腸中以補脾胃之根蒂者。甘溫之藥為之主，以苦寒之藥為之使，以酸味為之臣佐。以其心苦緩，急食酸以收之。心火旺則肺金受邪，金虛則以酸補之，次以甘溫及甘寒之劑，於脾胃中瀉心火之亢盛，是治其本也。</p>
<p>所勝妄行者，言心火旺能令母實，母者，肝木也，肝木旺則挾火勢，無所畏懼而妄行也，故脾胃先受之。或身體沉重，走疰疼痛，蓋濕熱相搏，而風熱鬱而不得伸，附著於有形也。或多怒者，風熱下陷於地中也。或目病而生內障者，脾裹血，胃主血，心主脈，脈者，血之腑也，或云心主血，又云肝主血，肝之竅開於目也。或妄見妄聞，起妄心，夜夢亡人，四肢滿閉，轉筋，皆肝木火盛而為邪也。或生痿，或生痹，或生厥，或中風，或生惡瘡，或作腎痿，或為上熱下寒，為邪不一，皆風熱不得升長，而木火遏於有形中也。</p>
<p>所生受病者，言肺受土火木之邪，而清肅之氣傷。或胸滿少氣短氣者，肺主諸氣，五臟之氣皆不足，而陽道不行也。或咳嗽寒熱者，濕熱乘其內也。</p>
<p>所不勝乘之者，水乘木之妄行而反來侮土，故腎入心為汗，入肝為泣，入脾為涎，入肺為痰。為嗽、為涕、為嚏，為水出鼻也。一說，下元土盛克水，致督、任、衝三脈盛，火旺煎熬，令水沸騰，而乘脾肺，故痰涎唾出於口也。下行為陰汗，為外腎冷，為足不任身，為腳下隱痛。或水附木勢而上為眼澀，為眵，為冷淚，此皆由肺金之虛而寡於畏也。</p>
<p>夫脾胃不足，皆為血病，是陽氣不足，陰氣有餘，故九竅不通。諸陽氣根於陰血中，陰血受火邪則陰盛，陰盛則上乘陽分，而陽道不行，無生發升騰之氣也。夫陽氣走空竅者也，陰氣附形質者也，如陰氣附於土，陽氣升於天，則各安其分也。</p>
<p>今所立方中，有辛甘溫藥者，非獨用也；復有甘苦大寒之劑，亦非獨用也。以火、酒二制為之使，引苦甘寒藥至頂，而復入於腎肝之下，此所謂升降浮沉之道，自耦而奇，奇而至耦者也。（陽分奇，陰分偶。）瀉陰火以諸風藥，升發陽氣以滋肝膽之用，是令陽氣生，上出於陰分，末用辛甘溫藥接其升藥，使大發散於陽分，而令走九竅也。</p>
<p>經云：食入於胃，散精於肝，淫氣於筋。食入於胃，濁氣歸心，淫精於脈，脈氣流經，經氣歸於肺，肺朝百脈，輸精於皮毛，毛脈合精，行氣於腑。且飲食入胃，先行陽道，而陽氣升浮也。浮者，陽氣散滿皮毛；升者，充塞頭頂，則九竅通利也。若飲食不節，損其胃氣，不能克化，散於肝，歸於心，溢於肺，食入則昏冒欲睡，得臥則食在一邊，氣暫得舒，是知升發之氣不行者此也。經云：飲入於胃，游溢精氣，上輸於脾，脾氣散精，上歸於肺。</p>
<p>病患飲入胃，遽覺至臍下，便欲小便，由精氣不輸於脾，不歸於肺，則心火上攻，使口燥咽乾，是陰氣大盛，其理甚易知也。況脾胃病則當臍有動氣，按之牢若痛，有是者乃脾胃虛，無是則非也，亦可作明辨矣。</p>
<p>脾胃不足，是火不能生土，而反抗拒，此至而不至，是為不及也。</p>
<p>白朮（君），人參（臣），甘草（佐），芍藥（佐），黃連（使），黃　（臣），桑白皮（佐）。</p>
<p>諸風藥皆是風能勝濕也，及諸甘溫藥亦可。</p>
<p>心火亢盛，乘於脾胃之位，亦至而不至，是為不及也。黃連（君），黃柏（臣），生地黃（臣），芍藥（佐），石膏（佐），知母（佐），黃芩（佐），甘草（佐）。</p>
<p>肝木妄行，胸脅痛，口苦舌乾，往來寒熱而嘔，多怒，四肢滿閉，淋溲便難，轉筋，腹中急痛，此所不勝乘之也。</p>
<p>羌活（佐），防風（臣），升麻（使），柴胡（君），獨活（佐），芍藥（臣），甘草（臣），白朮（佐），茯苓（佐），豬苓、澤瀉（佐），肉桂（臣），　本、川芎、細辛、蔓荊子、白芷、石膏、黃柏（佐），知母、滑石。</p>
<p>肺金受邪，由脾胃虛弱，不能生肺，乃所生受病也。故咳嗽氣短、氣上，皮毛不能御寒，精神少而渴，情慘慘而不樂，皆陽氣不足，陰氣有餘，是體有餘而用不足也。</p>
<p>人參（君），白朮（佐），白芍藥（佐），橘皮（臣），青皮（以破滯氣），黃　（臣），桂枝（佐），桔梗（引用），桑白皮（佐），甘草（諸酸之藥皆可），木香（佐），檳榔、五味子（佐，此三味除客氣）。</p>
<p>腎水反來侮土，所勝者妄行也。作涎及清涕，唾多，溺多，而惡寒者是也。土火復之，及三脈為邪，則足不任身，足下痛，不能踐地，骨之無力，喜睡，兩丸冷，腹陰陰而痛，妄聞妄見，腰脊背胛皆痛。</p>
<p>乾薑（君），白朮（臣），蒼朮（佐），附子（佐炮，少許），肉桂（佐去皮，少許），川烏頭（臣），茯苓（佐），澤瀉（使），豬苓（佐）。</p>
<p>夫飲食入胃，陽氣上行，津液與氣，入於心，貫於肺，充實皮毛，散於百脈。脾稟氣於胃，而灌溉四旁，營養氣血者也。今飲食損胃，勞倦傷脾，脾胃虛則火邪乘之，而生大熱，當先於心分補脾之源，蓋土生於火，兼於脾胃中瀉火之亢甚，主生化之源；足陽明為十二經之海，主經營之氣，諸經皆稟之。言陽明，厥陰與何經相並而為病，酌中以用藥，如權之在衡，在兩則有在兩之中，在斤則有在斤之中也。所以言此者，發明脾胃之病，不可一例而推之，不可一途而取之，欲人知百病皆由脾胃衰而生也，毫厘之失，則災害立生。假如時在長夏，於長夏之令中立方，謂正當主氣衰而客氣旺之時也，後之處方者，當從此法加時令藥，名曰補脾胃瀉陰火升陽湯。</p>
<h3>補脾胃瀉陰火升陽湯</h3>
<p>柴胡（一兩五錢）　甘草（炙）　黃　（臣）　蒼朮（泔浸，去黑皮，切作片子，日曝乾，銼碎炒）　羌活（以上各一兩）　升麻（八錢）　人參（臣）　黃芩（以上各七錢）　黃連（去須，酒製，五錢炒，為臣為佐）　石膏（少許，長夏微用，過時去之，從權）</p>
<p>上件　咀，每且三錢，水二盞，煎至一盞，去渣，大溫服，早飯後、午飯前，間日服。服藥之時，宜減食，宜美食。服藥訖，忌語話一二時辰許，及酒、濕面、大料物之類，恐大濕熱之物，復助火邪而愈損元氣也。亦忌冷水及寒涼淡滲之物及諸果，恐陽氣不能生旺也。宜溫食及薄滋味，以助陽氣。大抵此法此藥，欲令陽氣升浮耳，若滲泄淡味，皆為滋陰之味，為大禁也。雖然，亦有從權而用之者。如見腎火旺及督、任、衝三脈盛，則用黃柏、知母，酒洗訖，火炒制加之，若分兩則臨病斟酌，不可久服，恐助陰氣而為害也。小便亦或澀，當利之，大便澀，當行之，此亦從權也，得利，則勿再服。此雖立食禁法，若可食之物，一切禁之，則胃氣失所養也，亦當從權而食之，以滋胃也。</p>
<p>附：……夫飲食人胃，陽氣上行，津液與氣，入於心，貫於肺，充實皮毛，散於百脈。脾稟氣於胃，而灌溉四旁，營養氣血者也。今飲食損胃，勞倦傷脾，脾胃虛則火邪乘之，而生大熱，當先於心分補脾之源，蓋土生於火，兼於脾胃中瀉火之亢甚是先治其標，後治其本也。</p>
<p>且濕熱相合，陽氣日以虛，陽氣虛則不能上升，而脾胃之氣下流，並於腎肝，是有秋冬而無春夏。春主升，夏主浮，在人則肝心應之。弱則陰氣盛，故陽氣不得經營。經云：陽本根於陰，惟瀉陰中之火，味薄風藥，升發以伸陽氣，則陰氣不病，陽氣生矣。傳云：履端於始，序則不愆，正謂此也。</p>
<p>《四氣調神大論》云：天明則日月不明，邪害空竅，陽氣者閉塞，地氣者冒明，雲霧不精，則上應白露不下，在人則緣胃虛，以火乘之。脾為勞倦所傷，勞則氣耗，而心火熾動，血脈沸騰，則血病，而陽氣不治，陰火乃獨炎上，而走於空竅，以至燎於周身，反用熱藥以燥脾胃，則謬之謬也。</p>
<p>胃乃脾之剛，脾乃胃之柔，表裡之謂也。飲食不節，則胃先病，脾無所稟而後病；勞倦則脾先病，不能為胃行氣而後病。其所生病之先後雖異，所受邪則一也。胃為十二經之海，十二經皆稟血氣，滋養於身，脾受胃之稟，行其氣血也。脾胃既虛，十二經之邪，不一而出。假令不能食而肌肉削，乃本病也。其右關脈緩而弱，本脈也。而本部本證脈中兼見弦脈，或見四肢滿閉，淋溲便難，轉筋一二證，此肝之脾胃病也。當於本經藥中，加風藥以瀉之。本部本證脈中兼見洪大，或見肌熱，煩熱，面赤而不能食，肌內消一二證，此心之脾胃病也。當於本經藥中，加瀉心火之藥。本部本證脈中兼見浮澀，或見氣短、氣上，喘咳、痰盛，皮澀一二證，此肺之脾胃病也。當於本經藥中，兼瀉肺之體，及補氣之藥。本部本證脈中兼見沉細，或見善恐欠之證，此腎之脾胃病也，當於本經藥中，加瀉腎水之浮，及瀉陰火伏熾之藥。</p>
<p>經云：病有逆從，治有反正，除四反治法，不須論之。其下云：惟有陽明、厥陰，不從標本，從乎中也。其注者，以陽明在上，中見太陰，厥陰在上，中見少陽為說，予獨謂不然，此中，非中外之中也，亦非上中之中也，乃不定之辭，蓋欲人臨病消息，酌中用藥耳，以手足陽明、厥陰者，中氣也，在卯酉之分，天地之門戶也。春分、秋分，以分陰陽也，中有水火之異者也，況手厥陰為十二經之領袖，主生化之源；足陽明為十二經之海，主經營之氣，諸經皆稟之。言陽明、厥陰與何經相並而為病，酌中以用藥，如權之在衡，在兩，則有在兩之中；在斤，則有在斤之中也。所以言此者，發明脾胃之病，不可一例而推之，不可一途而取之，欲人知百病皆由脾胃衰而生也，毫厘之失，則災害立生。假如時在長夏，於長夏之令中立方，謂正當主氣衰而客氣旺之時也，後之處方者，當從此法，加時令藥，名曰補脾胃瀉陰火升陽湯。</p>
<h3>肺之脾胃虛論</h3>
<p>脾胃之虛，怠惰嗜臥，四肢不收，時值秋燥令行，濕熱少退，體重節痛，口苦舌乾，食無味，大便不調，小便頻數，不嗜食，食不消。兼見肺病，瀝淅惡寒，慘慘不樂，面色惡而不和，乃陽氣不伸故也。當升陽益胃，名之曰升陽益胃湯。</p>
<h3>升陽益胃湯</h3>
<p>黃　（二兩）　半夏（湯洗，此一味脈澀者宜用）　人參（去蘆）　甘草（炙，以上各一兩）　防風（以其秋旺，故以辛溫瀉之）　白芍藥　羌活　獨活（以上各五錢）　橘皮（連瓤，四錢）　茯苓（小便利、不渴者勿用）　澤瀉（不淋勿用）　柴胡　白朮（以上各三錢）　黃連（二錢）</p>
<p>何故秋旺用人參、白朮、芍藥之類反補肺，為脾胃虛則肺最受病，故因時而補，易為力上　咀。每服三錢，生薑五片，棗二枚，去核，水一盞，同煎至二盞，去渣，溫服，早飯、午飯之間服之。禁忌如前。其藥漸加至五錢止。服藥後，如小便罷而病加增劇，是不宜利小便，當少去茯苓、澤瀉。</p>
<p>若喜食，初一二日不可飽食，恐胃再傷，以藥力尚少，胃氣不得轉運升發也。須薄滋味之食，或美食，助其藥力，益升浮之氣，而滋其胃氣也，慎不可淡食，以損藥力，而助邪氣之降沉也。可以小役形體，使胃與藥得轉運升發，慎勿大勞役，使復傷。若脾胃得安靜尤佳。若胃氣少覺強壯，少食果，以助穀藥之力。經云：五穀為養，五果為助者也。</p>
<h3>君臣佐使法</h3>
<p>《至真要大論》云：有毒無毒，所治為主。主病者為君，佐君者為臣，應臣者為使。一法，力大者為君。凡藥之所用，皆以氣味為主，補瀉在味，隨時換氣。氣薄者，為陽中之陰，氣濃者，為陽中之陽；味薄者，為陰中之陽，味濃者，為陰中之陰。辛、甘、淡中熱者，為陽中之陽，辛、甘、淡中寒者，為陽中之陰；酸、苦鹹之寒者，為陰中之陰，酸、苦、咸之熱者，為陰中之陽。夫辛、甘、淡、酸、苦、咸，乃味之陰陽，又為地之陰陽也；溫、涼、寒、熱，乃氣之陰陽，又為天之陰陽也。氣味生成，而陰陽造化之機存焉。一物之內，氣味兼有，一藥之中，理性具焉，主對治療，由是而出。假令治表實，麻黃、葛根；表虛，桂枝、黃　。裡實，枳實、大黃；裡虛，人參、芍藥。熱者，黃芩、黃連；寒者，乾薑、附君藥，分兩最多，臣藥次之，使藥又次之，不可令臣過於君，君臣有序，相與宣攝，則可以御邪除病矣。如《傷寒論》云：陽脈澀，陰脈弦，法當腹中急痛。以芍藥之酸，於土中瀉木為君；飴糖、炙甘草甘溫補脾養胃為臣。水挾木勢亦來侮土，故脈弦而腹痛，肉桂大辛熱，佐芍藥以退寒水。薑、棗甘辛溫，發散陽氣，行於經脈皮毛為使。建中之名，於此見焉。有緩、急、收、散、升、降、浮、沉、澀、滑之類非一，從權立法於後。</p>
<p>如皮毛肌肉之不伸，無大熱，不能食而渴者，加葛根五錢；燥熱及胃氣上衝，為衝脈所逆，或作逆氣而裡急者，加炒黃柏、知母；覺胸中熱而不渴，加炒黃芩；如胸中結滯氣澀，或有熱病者，亦各加之。如食少而小便少者，津液不足也，勿利之，益氣補胃自行矣。</p>
<p>如氣弱氣短者，加人參，只升陽之劑助陽，尤勝加人參；惡熱發熱而燥渴，脈洪大，白虎湯主之；或喘者，加人參；如渴不止，寒水石、石膏各等分，少少與之，即錢氏方中甘露散，主身大熱而小便數，或上飲下溲，此燥熱也；氣燥，加白葵花；血燥，加赤葵花。</p>
<p>如脈弦，只加風藥，不可用五苓散；如小便行病增者，此內燥津液不能停，當致津液，加炒黃柏、赤葵花。</p>
<p>如心下痞悶者，加黃連一、黃芩三，減諸甘藥；不能食，心下軟而痞者，甘草瀉心湯則愈（痞有九種，治有仲景湯五方瀉心湯）。</p>
<p>如喘滿者，加炙厚朴。</p>
<p>如胃虛弱而痞者，加甘草。</p>
<p>如喘而小便不利者，加苦葶藶（小便不利者加之，小便利為禁藥也）。</p>
<p>如氣短氣弱而腹微滿者，不去人參，去甘草，加厚朴，然不若苦味泄之，而不令大便行如腹微滿而氣不轉加之。</p>
<p>中滿者，去甘草，倍黃連，加黃柏，更加三味，五苓散少許。</p>
<p>此病雖宜升宜汗，如汗多亡陽，加黃　。</p>
<p>四肢煩熱肌熱，與羌活、柴胡、升麻、葛根、甘草如鼻流清涕惡風，或項、背、脊背強痛，羌活、防風、甘草等分，黃　加倍，臨臥服之。</p>
<p>如有大熱，脈洪大，加苦寒劑而熱不退者，加石膏；如脾胃中熱，加炒黃連、甘草。</p>
<p>凡治此病脈數者，當用黃柏，或少加黃連，以柴胡、蒼朮、黃　、甘草，更加升麻，得汗出則脈必下，乃火鬱則發之也。</p>
<p>如證退而脈數不退，不洪大而疾有力者，多減苦藥，加石膏。如大便軟或泄者，加桔梗，食後服之。此藥若誤用，則其害非細，用者當斟酌，旋旋加之。如食少者，不可用石膏。</p>
<p>石膏善能去脈數疾，病退脈數不退者，不可治也。如不大渴，亦不可用。如脈弦而數者，此陰氣也，風藥升陽以發火鬱，則脈數峻退矣。以上五法，加減未盡，特以明大概耳。</p>
<h3>分經隨病制方</h3>
<p>《脈經》云：風寒汗出，肩背痛，中風，小便數而欠者，風熱乘其肺，使肺氣鬱甚也，當瀉風熱，以通氣防風湯主之。</p>
<h3>通氣防風湯</h3>
<p>柴胡　升麻　黃　（以上各一錢）　羌活　防風　橘皮　人參　甘草（以上各五分）　本（三分青皮　白豆蔻仁　黃柏（以上各二分）</p>
<p>上　咀。都作一服，水二大盞，煎至一盞，去渣，溫服，食後。氣盛者，宜服；面白脫色，氣短者，勿服。</p>
<p>如小便遺失者，肺氣虛也，宜安臥養氣，禁勞役，以黃　、人參之類補之；不愈，當責有熱，加黃柏、生地黃。</p>
<p>如肩背痛，不可回顧，此手太陽氣鬱而不行，以風藥散之。</p>
<p>如脊痛</p>
<h3>羌活勝濕湯</h3>
<p>羌活　獨活（以上各一錢）　甘草（炙）　本　防風（以上各五分）　蔓荊子（三分）　川芎（二分）</p>
<p>上件　咀。都作一服，水二盞，煎至一盞，去渣，溫服，食後。</p>
<p>如身重，腰沉沉然，乃經中有濕熱也，更加黃柏一錢，附子半錢，蒼朮二錢。</p>
<p>如腿腳沉重無力者，加酒洗漢如臥而多驚，小便淋溲者，邪合病也如大便後有白膿，或只便白膿者，因勞役氣虛，傷大腸也，以黃　人參湯補之；如裡急頻見者，血虛也，更加當歸。</p>
<p>如肺少許。</p>
<p>如甚則交兩手而瞀者，真氣大虛也，若氣短，加黃　、五味子、人參；氣盛，加五味子、人參、黃芩、荊芥穗；冬月，去荊芥穗，加草豆蔻仁。</p>
<p>如嗌痛頷腫，脈洪大，面赤者，如耳鳴目黃，頰頷腫，頸、肩、　、肘、臂外後廉痛，面赤，脈洪大者，以羌活、防風、甘草、　本，通其經血，加黃芩、黃連消其腫，以人參、黃益其元氣而瀉其火邪；如脈緊者，寒也，或面白善嚏，或面色惡，皆寒也，亦加羌活等四味，當瀉足太陽，不用連、芩，少加附子以通其脈；面色惡，多悲恐者，更加桂、附。</p>
<p>如便白膿，少有滑，頻見汗衣者，氣脫，加附子皮，甚則加米殼；如氣澀者，只以甘藥補氣，當安臥不語，以養其氣。</p>
<h3>用藥宜禁論</h3>
<p>凡治病服藥，必知時禁、經禁、病禁、藥禁。夫時禁者，必本四時升降之理，汗、下、吐、利之宜。大法春宜吐，象萬物之發生，耕耨科斫，使陽氣之郁者易達也。夏宜汗，象萬物之浮而有餘也。秋宜下，象萬物之收成，推陳致新，而使陽氣易收也。冬周密，象萬物之閉藏，使陽氣不動也。經云：夫四時陰陽者，與萬物浮沉於生長之門，逆其根，伐其本，壞其真矣。又云：用溫遠溫，用熱遠熱，用涼遠涼，用寒遠寒，無翼其勝也。故冬不用白虎，夏不用青龍，春夏不服桂枝，秋冬不服麻黃，不失氣宜。如春夏而下，秋冬而汗，是失天信，伐天和也。有病則從權，過則更之。</p>
<p>經禁者，足太陽膀胱經為諸陽之首，行於背，表之表，風寒所傷則宜汗，傳入本則宜利小便；若下之太早，必變證百出，此一禁也。足陽明胃經，行身之前，主腹滿脹，大便難，宜下之，蓋陽明化燥火，津液不能停，禁發汗、利小便，為重損津液，此二禁也。足少陽膽經，行身之側，在太陽、陽明之間，病則往來寒熱，口苦胸脅痛，只宜和解；且膽者、無出無入，又主發生之氣，下則犯太陽，汗則犯陽明，利小便則使生發之氣反陷入陰中，此三禁也。三陰非胃實不當下，為三陰無傳，本須胃實得下也。分經用藥，有所據焉。</p>
<p>病禁者，如陽氣不足，陰氣有餘之病，則凡飲食及藥，忌助陰瀉陽。諸淡食及淡味之藥，瀉升發以助收斂也；諸苦藥皆沉，瀉陽氣之散浮；諸薑、附、官桂辛熱之藥，及濕面、酒、大料物之類，助火而瀉元氣；生冷、硬物損陽氣，皆所當禁也。如陰火欲衰而退，以三焦元氣未盛，必口淡淡，如咸物亦所當禁。</p>
<p>藥禁者，如胃氣不行，內亡津液而干涸，求湯飲以自救，非渴也，乃口乾也，非溫勝也，乃血病也。當以辛酸益之，而淡滲五苓之類，則所當禁也。汗多禁利小便，小便多禁發汗。咽痛禁發汗利小便，若大便快利，不得更利。大便秘澀，以當歸、桃仁、麻子仁、郁李仁、皂角仁，和血潤腸，如燥藥則所當禁者。吐多不得復吐；如吐而大便虛輒者，此土氣壅滯，以薑、橘之屬宣之；吐而大便不通，則利大便，上藥則所當禁也。諸病惡瘡，及小兒　後，大便實者，亦當下之，而薑、橘之類，則所當禁也。又如脈弦而服平胃散，脈緩而服黃建中湯，乃實實虛虛，皆所當禁也。人稟天之濕化而生胃也，胃之與濕，其名雖二，其實一也。濕能滋養於胃，胃濕有餘，亦當瀉濕之太過也。胃之不足，惟濕物能滋養。仲景云：胃勝思湯餅，而胃虛食湯餅者，往往增劇，濕能助火，火旺鬱而不通主大熱。初病火旺不可食，以助火也。察其時，辨其經，審其病，而後用藥，四者不失其宜，則善矣。</p>
<h3>《內經》、仲景所說脾胃</h3>
<p>著議處方已詳矣，然恐或者不知其源，而無所考據，復以《黃帝內經》、仲景所說脾胃者列於下。</p>
<p>《太陰陽明論》云：太陰陽明為表裡，脾胃脈也，生病而異者何也？岐伯曰：陰陽異位，更虛更實，更逆更從，或從內，或從外，所從不同，故病異名也。帝曰：愿聞其異狀也？岐伯曰：陽者，天氣也，主外；陰者，地氣也，主內。故陽道實，陰道虛。故犯賊風虛邪者，陽受之，食飲不節，起居不時者，陰受之。陽受之則入六腑，陰受之則入五臟。入六腑，則身熱不得臥，上為喘呼；入五臟，則腹滿閉塞，下為飧泄，久為腸　。故喉主天氣，咽主地氣。故陽受風氣，陰受濕氣。陰氣從足上行至頭，而下行循臂至指端；陽氣從手上行至頭，而下行至足。故曰：陽病者，上行極而下，陰病者，下行極而上。故傷於風者，上先受之，傷於濕者，下先受之。</p>
<p>帝曰：脾病而四肢不用，何也？岐伯曰：四肢皆稟氣於胃，而不得至經，必因於脾，乃得稟也。今脾病不能為胃行其津液，四肢不得稟水穀氣，氣日以衰，脈道不利，筋骨肌肉，皆無氣以生，故不用焉。</p>
<p>帝曰：脾不主時何也？岐伯曰：脾者，土也，治中央，常以四時長四臟各十八日寄治，不得獨主於時也。脾臟者，常著胃土之精也。土者，生萬物而法天地，故上下至頭足，不得主時也。</p>
<p>《陰陽應象論》曰：人有五臟，化五氣，以生喜怒悲憂恐。故喜怒傷氣，寒暑傷形，暴怒傷陰，暴喜傷陽。厥氣上行，滿脈去形。喜怒不節，寒暑過度，生乃不固。《玉機真臟論》曰：脾大過，則令人四肢不舉，其不及，則令人九竅不通，名曰重強。又《通評虛實論》曰：頭痛耳鳴，九竅不利，腸胃之所生也。《調經論》曰：形有餘，則腹脹，經溲不利，不足，則四肢不用。</p>
<p>又《氣交變論》曰：歲土太過，雨濕流行，腎水受邪，民病腹痛，清厥意不樂，體重煩冤；甚則肌肉萎，足萎不收，行善　，腳下痛，飲發，中滿食減，四肢不舉。又云：歲土不及，風乃大行。霍亂，體重腹痛，筋骨繇復，肌肉潤酸，善怒。又云：咸病寒中，復則收政嚴峻，胸脅暴痛，下引少腹，善太息，蟲食甘黃，氣客於脾，民食少失味。又云：土不及，四維有埃云，潤澤之化不行，則春有鳴條鼓拆之政；四維發振拉飄勝之變，則秋有肅殺霖淫之復。其眚四維，其臟脾，其病內舍心腹，外在肌肉四肢。</p>
<p>《五常政大論》：土平曰備化，不及曰卑監。又云：其動瘍涌分潰癰腫，其發濡滯，其病留滿痞塞，從木化也。其病飧泄。又云：土太過曰敦阜，其味甘咸酸，其象長夏，其經足太陰陽明。又曰：其病腹滿，四肢不舉，邪傷脾也。</p>
<p>《經脈別論》云：太陰藏搏者，用心省真，五脈氣少，胃氣不平，三陰也，宜治其下俞，補陽瀉陰。《臟氣法時論》云：脾主長夏，足太陰陽明主治，其日戊己。脾苦濕，急食苦以燥之。又云：病在脾，愈在秋，秋不愈，甚於春，春不死，持於夏，起於長夏。禁溫食飽食，濕地濡衣。脾病者，愈在庚辛，庚辛不愈，加於甲乙，甲乙不死，持於丙丁，起於戊己。脾病者，日　慧，日出甚，下晡靜。脾欲緩，急食甘以緩之，用苦瀉之，甘補之。又云：脾病者，身重，善飢，足痿，足不能行，行善　，腳下痛。虛則腹滿腸鳴，飧泄食不化血者。《經脈別論》：食氣入胃，散精於肝，淫氣於筋。食氣入胃，濁氣歸心，淫精於脈。脈。氣歸於權衡，權衡以平，氣口成寸，以決死生。飲入於胃，游溢精氣，上輸於脾，脾氣散精，上歸於肺，通調水道，下輸膀胱。水精四布，五經並行，合於四時五臟陰陽，揆度以為常也。</p>
<p>《五常政大論》：有太過不及，太過者，薄所不勝，乘所勝也。不及者，至而不至，是為不及，所勝妄行，所生受病，所不勝者乘之也。</p>
<p>仲景云：人受氣於水穀以養神，水穀盡而神去，故云安穀則昌，絕穀則亡。水去則營散，穀消則衛亡，營散衛亡，神無所依。又云：水入於經，其血乃成，穀入於胃，脈道乃行。</p>
<p>故血不可不養，衛不可不溫，血溫衛和，營衛乃行，得盡天年。</p>
<h2>卷中</h2>
<h3>氣運衰旺圖說</h3>
<p>天地互為體用四說　察病神機濕、胃、化；熱、小腸、長；風、膽、生，皆陷下不足，先補則：黃　、人參、甘草、當歸身、柴胡、升麻，乃辛甘發散，以助春夏生長之用也。</p>
<p>土、脾、形；火、心、神；木、肝、血；皆大盛，上乘生長之氣，後瀉則：甘草梢子之甘寒，瀉火形於肺，逆於胸中，傷氣者也。黃芩之苦寒，以泄胸中之熱，喘氣上奔者也。紅花以破惡血，已用黃芩大補腎水，益肺之氣，瀉血中火燥者也。</p>
<p>寒，膀胱，藏氣，燥，大腸，收氣　皆大旺，後瀉則：黃　之甘溫，止自汗，實表虛，使不受寒邪。當歸之辛溫，能潤燥，更加桃仁以通幽門閉塞，利其陰路，除大便之難燥者也。</p>
<p>水、腎、精；金、肺、氣；皆虛衰不足，先補則：黃柏之苦寒，降濕熱為痿，乘於腎，救足膝無力，亦除陰汗、陰痿，而益精。其草梢子、黃芩補肺氣，泄陰火之下行，肺苦氣上逆，急食苦以泄之也。</p>
<p>此初受熱中常治之法也，非權也。權者，臨病制宜之謂也。常道，病則反常矣。春夏，乃天之用也，是地之體也。秋冬，乃天之體也，是地之用也。此天地之常道，既病反常也。</p>
<p>，自不聞其音，語聲清響如鐘。</p>
<p>春夏地之體，人亦應之，食罷，皮肉筋骨血脈皆滑利，屈伸柔和，而骨剛力盛，用力不乏。</p>
<h3>飲食勞倦所傷始為熱中論</h3>
<p>古之至人，窮於陰陽之化，究乎生死之際，所著《內外經》，悉言人以胃氣為本。蓋人受水穀之氣以生，所謂清氣、營氣、運氣、衛氣，春升之氣，皆胃氣之別稱也。夫胃為水穀之海，飲食入胃，游溢精氣，上輸於脾；脾氣散精，上歸於肺；通調水道，下輸膀胱；水精四布，五經並行，合於四時五臟陰陽，揆度以為常也。</p>
<p>若飲食失節，寒溫不適，則脾胃乃傷。喜、怒、憂、恐，損耗元氣。既脾胃氣衰，元氣不足，而心火獨盛。心火者，陰火也。起於下焦，其系系於心。心不主令，相火代之。相火，下焦胞絡之火，元氣之賊也。火與元氣不兩立，一勝則一負。脾胃氣虛，則下流於腎，陰火得以乘其土位，故脾證始得，則氣高而喘，身熱而煩，其脈洪大而頭痛，或渴不止，其皮膚不任風寒，而生寒熱。蓋陰火上衝，則氣高喘而煩熱，為頭痛，為渴，而脈洪。脾胃之氣下流，使穀氣不得升浮，是春生之令不行，則無陽以護其營衛，則不任風寒，乃生寒熱，此皆脾胃之氣不足所致也。</p>
<p>然而與外感風寒所得之證，頗同而實異，內傷脾胃，乃傷其氣，外感風寒，乃傷其形；傷其外為有餘，有餘者瀉之，傷其內為不足，不足者補之。內傷不足之病，苟誤認作外感有餘之病，而反瀉之，則虛其虛也。實實虛虛，如此死者，醫殺之耳！然則奈何？惟當以辛甘溫之劑，補其中而升其陽，甘寒以瀉其火則愈矣。經曰：勞者溫之，損者溫之。又云：溫能除大熱，大忌苦寒之藥，損其脾胃。脾胃之證，始得則熱中，今立治始得之證。</p>
<h3>補中益氣湯</h3>
<p>黃　（病甚，勞役熱者一錢）　甘草（以上各五分，炙）　人參（去節，三分，有嗽去之。）</p>
<p>以上當歸身（三分，酒焙乾，或日干，以和血脈）　橘皮（不去白，二分或三分，以導氣，又能益元氣，得諸甘藥乃可，若獨用瀉脾胃）　升麻（二分或三分，引胃氣上騰而復其本位，便是行春升之令）　柴胡（二分或三分，引清氣，行少陽之氣上升）　白朮（三分，降胃中熱，利腰臍間血）　上件藥　咀。都作一服，水二盞，煎至一盞，量氣弱氣盛，臨病斟酌水盞大小，去渣，食遠，稍熱服。如傷之重者，不過二服而愈；若病日久者，以權立加減法治之。</p>
<p>如惡寒冷痛者，加去皮中桂一分或三分（桂心是也）。</p>
<p>如惡熱喜寒而腹痛者，於已加白芍藥二味中更加生黃芩三分或二分；如夏月腹痛，而不惡熱者亦然，治時熱也。</p>
<p>如天涼時惡熱而痛，於已加白芍藥、甘草、黃芩中，更少加桂。</p>
<p>如天寒時腹痛，去芍藥，味酸而寒故也，加益智三分或二分，或加半夏五分、生薑三片。</p>
<p>如頭痛，加蔓荊子二分或三分。</p>
<p>如痛甚者，加川芎二分；如頂痛腦痛，加　本三分或五分。</p>
<p>如苦痛者，加細辛二分，華陰者。諸頭痛者，並用此四味足矣；如頭上有熱，則此不能治，別以清空膏主之。</p>
<p>如臍下痛者，加真熟地黃五分，其痛立止；如不已者，乃大寒也，更加肉桂（去皮）二分或三分。《內經》所說少腹痛，皆寒證，從復法相報中來也。經云：大勝必大復，從熱病中變而作也，非傷寒厥陰之證也（仲景以抵當湯並丸主之，乃血結下焦膀胱也）。</p>
<p>如胸中氣壅滯，加青皮二分；如氣促，少氣者，去之。</p>
<p>如身有疼痛者，濕，若身重者，亦濕，加去桂五苓散一錢。</p>
<p>如風濕相搏，一身盡痛，加羌活、防風、　本根，以上各五分，升麻、蒼朮以上各一錢，勿用五苓，所以然者，為風藥已能勝濕，故別作一服與之；如病去，勿再服，以諸風之藥，損人元氣，而益其病故也。</p>
<p>如大便秘澀，加當歸梢一錢；閉澀不行者，煎成正藥，先用一口，調玄明粉五分或一錢，得行則止，此病不宜下，下之恐變凶證也；如久病痰嗽者，去人參；初病者，勿去之；冬月或春寒，或秋涼時，各宜加去根節麻黃五分；如春令大溫，只加佛耳草三分，款冬花一分；如夏月病嗽，加五味子三十二枚，麥門冬（去心）二分或三分；如舌上白滑苔者，是胸中有寒，勿用之；如夏月不嗽，亦加人參三分或二分，並五味子、麥門冬各等分，救肺受火邪也；如病患能食而心下痞，加黃連一分或三分；如不能食，心下痞，勿加黃連；如脅下痛，或脅下急縮，俱加柴胡三分，甚則五分。</p>
<p>上一方加減，是飲食勞倦，喜怒不節，始病熱中，則可用之；若末傳為寒中，則不可用也，蓋甘酸適足益其病爾，如黃　、人參、甘草、芍藥、五味子之類也。</p>
<p>今詳《內經》、《針經》熱中寒中之證列於下。</p>
<p>《調經論》云：血並於陽，氣並於陰，乃為炅中。血並於上，氣並於下，心煩惋善怒。</p>
<p>又云：其生於陰者，得之飲食居處，陰陽喜怒。又云：有所勞倦，形氣衰少，穀氣不盛，上焦不行，下脘不通，胃氣熱，熱氣熏胸中，故曰內熱。陰盛生內寒，厥氣上逆，寒氣積於胸中而不瀉；不瀉則溫氣去，寒獨留；寒獨留則血凝泣；血凝泣則脈不通，其脈盛大以澀，故曰寒中。</p>
<p>先病熱中證者，衝脈之火附二陰之裡，傳之督脈；督脈者，第二十一椎下長強穴是也。與足太陽膀胱寒氣為附經督脈，其盛也，如巨川之水，疾如奔馬，其勢不可遏。太陽寒氣，細細如線，逆太陽寒氣上行，沖頂入額，下鼻尖，入手太陽於胸中，手太陽者，丙，熱氣也；足膀胱者，壬，寒氣也。壬能克丙，寒熱逆於胸中，故脈盛大。其手太陽小腸熱氣不能交入膀胱經者，故十一經之盛氣積於胸中，故其脈盛大。其膀胱逆行，盛之極，子能令母實，手陽明大腸經，金，即其母也，故燥旺，其燥氣挾子之勢，故脈澀而大便不通。以此言脈盛大以澀者，手陽明大腸脈也。</p>
<p>《黃帝針經》：胃病者，腹脹，胃脘當心而痛，上支兩脅，膈咽不通，飲食不下，取三裡以補之。</p>
<p>若見此病中一證，皆大寒，禁用諸甘酸藥，上已明之矣。</p>
<h3>脾胃虛弱隨時為病隨病制方</h3>
<p>夫脾胃虛弱，必上焦之氣不足，遇夏天氣熱盛，損傷元氣，怠惰嗜臥，四肢不收，精神不足，兩腳痿軟，遇早晚寒厥，日高之後，陽氣將旺，復熱如火，乃陰陽氣血俱不足，故或熱厥而陰虛，或寒厥而氣虛。口不知味，目中溜火，而視物KT　KT　無所見。小便頻數，大便難而結秘。胃脘當心而痛，兩脅痛或急縮。臍下周遭，如繩束之急，甚則如刀刺，腹難舒伸。胸中閉塞，時顯嘔噦，或有痰嗽，口沃白沫，舌強。腰、背、胛眼皆痛，頭痛時作。食不下，或食入即飽，全不思食。自汗尤甚，若陰氣覆在皮毛之上。皆天氣之熱助本病也，乃庚大腸，辛肺金為熱所乘而作。當先助元氣，理治庚辛之不足，黃　人參湯主之。</p>
<h3>黃人參湯</h3>
<p>黃　（一錢，如自汗過多，更加一錢）　升麻（六分）　人參（去蘆）　橘皮（不去白）　麥門冬（去心）　蒼朮（無汗更加五分）　白朮（以上各五分）　黃柏（酒洗，以救水之源）　炒曲（以上三分）　當歸身（酒洗）　炙甘草（以上各二分）　五味子（九個）</p>
<p>上件同　咀。都和一服，水二盞，煎至一盞，去渣，稍熱服，食遠或空心服之。忌酒、濕面、大料物之類，及過食冷物。</p>
<p>如心下痞悶，加黃連二分或三分；如胃脘當心痛，減大寒藥，加草豆蔻仁五分；如脅下痛或縮急，加柴胡二分或三分；如頭痛，目中溜火，加黃連二分或三分、川芎三分；如頭痛，目不清利，上壅上熱，加蔓荊子、川芎以上各三分，　本、生地黃以上各二分，細辛一分；如氣短，精神如夢寐之間，困乏無力，加五味子九個；如大便澀滯，隔一二日不見者，致食少，食不下，血少，血中伏火而不得潤也，加當歸身、生地黃、麻子仁泥以上各五分，桃仁三枚（湯泡去皮尖，另研）；如大便通行，所加之藥勿再服。</p>
<p>如大便又不快利，勿用別藥，如不利者，非血結血秘而不通也，是熱則生風，其病患必顯風證，單血藥不可復加之，止常服黃　人參湯藥，只用羌活、防風以上各五錢，二味，　咀，以水四盞，煎至二盞，去渣，空心服之，其大便必大走也，一服便止。</p>
<p>如胸中氣滯，加青皮皮用清香可愛者一分或二分，並去白橘皮倍之，去其邪氣。此病本元氣不足，惟當補元氣，不當瀉之；如氣滯大甚，或補藥大過，或病患心下有憂滯郁結之事，更加木香、縮砂仁以上各二分或三分，白豆蔻仁二分，與正藥同煎；如腹痛不惡寒者，加白芍藥五分，黃芩二分，卻減五味子。</p>
<p>夫脾胃虛弱，過六七月間，河漲霖雨，諸物皆潤，人汗沾衣，身重短氣，甚則四肢痿軟，行步不正，腳欹，眼黑欲倒，此腎水與膀胱俱竭之狀也，當急救之。滋肺氣以補水之上源，又使庚大腸不受邪熱，不令汗大泄也。汗泄甚則亡津液，亡津液則七神無所依。經云：津液相成，神乃自生。津者，庚大腸所主，三伏之義，為庚金受囚也。</p>
<p>若亡津液，汗大泄，濕令亢甚，則清肅之氣亡，燥金受囚，風木無可以制，故風濕相搏，骨節煩疼，一身盡痛，亢則害，承乃制是也。孫思邈云：五月常服五味子，是瀉丙火，補庚大腸，益五臟之元氣。</p>
<p>壬膀胱之寒已絕於巳，癸腎水已絕於午，今更逢濕旺，助熱為邪，西方北方之寒清絕矣。聖人立法，夏月宜補者，補天元之真氣，非補熱火也，令人夏食寒是也。為熱傷元氣，以人參、麥門冬、五味子生脈。脈者，元氣也。人參之甘，補元氣，瀉熱火也；麥門冬之苦寒，補水之源，而清肅燥金也；五味子之酸以瀉火，補庚大腸與肺金也。</p>
<p>當此之時，無病之人，亦或有二證，或避暑熱，納涼於深堂大廈得之者，名曰中暑。其病必頭痛惡寒，身形拘急，肢節疼痛而煩心，肌膚大熱無汗，為房屋之陰寒所遏，使周身陽氣不得伸越，世多以大順散主之是也。若行人或農夫，於日中勞役得之者，名曰中熱，其病必苦頭痛，發躁熱，惡熱，捫之肌膚大熱，必大渴引飲，汗大泄，無氣以動，乃為天熱外傷肺氣，蒼朮白虎湯主之。潔古云：動而得之為中熱，靜而得之為中暑。中暑者，陰證，當發散也。中熱者，陽證，為熱傷元氣，非形體受病也。</p>
<p>若虛損脾胃，有宿疾之人，遇此天暑，將理失所，違時伐化，必困乏無力，懶語氣短，氣弱氣促，似喘非喘，骨乏無力，其形如夢寐，朦朦如煙霧中，不知身所有也，必大汗泄。</p>
<p>若風犯汗眼，皮膚必搐，項筋皮枯毛焦，身體皆重，肢節時有煩疼，或一身盡痛，或渴或不渴，或小便黃澀，此風濕相搏也。</p>
<p>頭痛或頭重，上熱壅盛，口鼻氣短氣促，身心煩亂，有不樂生之意，情思慘淒，此陰勝陽之極也。病甚，則傳腎肝為痿厥。厥者，四肢如在火中，為熱厥；四肢寒冷者，為寒厥。</p>
<p>寒厥則腹中有寒，熱厥則腹中有熱，為脾主四肢故也。若肌肉濡潰，痹而不仁，傳力肉痿誣。證中皆有肺疾，用藥之人，當以此調之。氣上衝胸，皆厥證也。痿者，四肢痿軟而無力也，其心煩冤不止。厥者，氣逆也，甚則大逆，故曰厥逆。其厥痿多相須也，於前已立黃　人參五味子麥門冬湯中，每服加白茯苓二分、澤瀉四分，豬苓、白朮以上各一分。如小便快利，不黃澀者，只加澤瀉二分，與二術上下分消其濕。</p>
<p>如行步不正，腳膝痿弱，兩足欹側者，已中痿邪，加酒洗黃柏、知母三分或五分，令二足涌出氣力矣。</p>
<p>如汗大泄者，津脫也，急止之，加五味子六枚，炒黃柏五分，炒知母三分。不令妨其食，當以意斟酌；若防食則止，候食進，則再服。三裡、氣街，以三棱針出血；若汗不減不止者，於三裡穴下三寸上廉穴出血。禁酒、濕面。</p>
<p>夫痿者，濕熱乘腎肝也，當急去之。不然，則下焦元氣竭盡而成軟癱，必腰下不能動，心煩冤而不止也。若身重減，氣不短，小便如常，及濕熱之令退時，或所增之病氣退者，不用五味子、澤瀉、茯苓、豬苓、黃柏、知母、蒼朮、白朮之藥，只依本病中證候加減。常服藥亦須用酒黃柏二分或三分，如更時令，清燥之氣大行，卻加辛溫瀉之。若濕氣勝，風證不退，眩運麻木不已，除風濕羌活湯主之。</p>
<h3>除風濕羌活湯</h3>
<p>羌活（一兩）　防風（去蘆）　蒼朮（酒浸，去皮）　黃　（以上各一錢）　升麻（七分）　炙甘草　獨活柴胡（以上各五分）　川芎（去頭痛）　黃柏　橘皮　本（以上各三分）　澤瀉（去須，一分）　豬苓（去黑皮）　茯苓（以上各二分）　黃連（去須，一分）</p>
<p>上　咀。每服秤三錢或五錢，水二盞，煎至一盞，去渣，稍熱服，量虛實施用。</p>
<p>如有不盡證候，依加減法用之。</p>
<p>夫脈弦洪緩，而沉按之中之下得時一澀，其證：四肢滿悶，肢節煩疼，難以屈伸，身體沉重，煩心不安，忽肥忽瘦，四肢懶倦，口失滋味，腹難舒伸，大小便清利而數，或上飲下便，或大便澀滯不行，一二日一見，夏月飧泄，米穀不化，或便後見血，見白膿，胸滿短氣，膈咽不通，或痰嗽稠黏，口中沃沫，食入反出，耳鳴耳聾，目中流火，視物昏花，　肉紅絲，熱壅頭目，不得安臥，嗜臥無力，不思飲食，調中益氣湯主之。</p>
<h3>調中益氣湯</h3>
<p>黃　（一錢）　人參（去蘆頭，有嗽者去之）　甘草　蒼朮（以上各五分）　柴胡（一味為上氣不足，胃氣與脾氣下溜，乃補上氣，從陰引陽也）</p>
<p>橘皮（如腹中氣不得運轉，更加一分）　升麻（以上各二分）　木香（一分或二分）</p>
<p>上件銼麻豆大。都作一服，水二大盞，煎至一盞，去渣，帶熱，宿食消盡服之。寧心絕思，藥必神效，蓋病在四肢血脈，空腹在旦是也。</p>
<p>如時頭熱躁，是下元陰火蒸蒸發也，加真生地黃二分、黃柏三分，無此證則去之。</p>
<p>如大便虛坐不得，或大便了而不了，腹中常逼迫，血虛血澀也，加當歸身三分；如身體沉重，雖小便數多，亦加茯苓二分，蒼朮一錢，澤瀉五分，黃柏三分，時暫從權而祛濕也，不可常用，兼足太陰已病，其脈亦絡於心中，故顯濕熱相合而煩亂；如胃氣不和，加湯洗半夏五分，生薑三片；有嗽，加生薑，生地黃二分，以製半夏之毒；如痰厥頭痛，非半夏不能除，此足太陰脾所作也；如兼躁熱，加黃柏、生地黃以上各二分；如無以上證，只服前藥；如夏月，須加白芍藥三分；如春月腹中痛，尤宜加。</p>
<p>如惡熱而渴，或腹痛者，更加芍藥五分，生黃芩二分。</p>
<p>如惡寒腹中痛，加中桂三分，去黃芩，謂之桂枝芍藥湯，亦於芍藥湯中加之同煎；如冬月腹痛，不可用芍藥，蓋大寒之藥也。只加乾薑二分，或加半夏五七分，以生薑少許制之。</p>
<p>如秋冬之月，胃脈四道為衝脈所逆，並脅下少陽脈二道而反上行，病名曰厥逆，《內經》曰：逆氣上行，滿脈去形，明七神昏絕，離去其形而死矣，其證：氣上衝咽不得息，而喘急有音，不得臥，加吳茱萸五分或一錢五分，湯洗去苦，觀厥氣多少而用之。</p>
<p>如夏月有此證，為大熱也，蓋此病隨四時為寒熱溫涼也，宜以酒黃連、酒黃柏、酒知母各等分，為細末，熱湯為丸。梧桐子大，每服二百丸，白湯送下，空心服。仍多飲熱湯，服畢少時，便以美飲食壓之，使不令胃中留停，直至下元，以瀉衝脈之邪也。大抵治飲食勞倦所得之病，乃虛勞七損證也，當用溫平，甘多辛少之藥治之，是其本法也。</p>
<p>如時上見寒熱，病四時也，又或將理不如法，或酒食過多，或辛熱之食作病，或寒冷之食作病，或居大熱大寒之處益其病，當臨時制宜，暫用大寒大熱治法而取效，此從權也，不可以得效之故而久用之，必致難治矣。</p>
<p>《黃帝針經》云：從下上者，引而去之。上氣不足，推而揚之。蓋上氣者，心肺上焦之氣，陽病在陰，從陰引陽，宜以入腎肝下焦之藥，引甘多辛少之藥，使升發脾胃之氣，又從而去其邪氣於腠理皮毛也。又云：視前痛者，常先取之，是先以繆刺瀉其經絡之壅者，為血凝而不流，故先去之，而後治他病。</p>
<h3>長夏濕熱胃困尤甚用清暑益氣湯論</h3>
<p>《刺志論》云：氣虛身熱，得之傷暑，熱傷氣故也。《痿論》云：有所遠行勞倦，逢大熱而渴，渴則陽氣內伐，內伐則熱舍於腎；腎者，水臟也。今水不能勝火，則骨枯而髓虛，足不任身，發為骨痿。故《下經》曰：骨痿者，生於大熱也。此濕熱成痿，令人骨乏無力，故治痿獨取於陽明。</p>
<p>時當長夏，濕熱大勝，蒸蒸而熾，人感之多四肢困倦，精神短少，懶於動作，胸滿氣促，肢節沉疼；或氣高而喘，身熱而煩，心下膨痞，小便黃而數，大便溏而頻，或痢出黃如糜，或如泔色；或渴或不渴，不思飲食，自汗體重；或汗少者，血先病而氣不病也。其脈中得洪緩，若濕氣相搏，必加之以遲，遲、病雖互換少瘥，其天暑濕令則一也。宜以清燥之劑治之。</p>
<p>《內經》曰：陽氣者，衛外而為固也，炅則氣泄。今暑邪干衛，故身熱自汗，以黃　甘溫補之為君；人參、橘皮、當歸、甘草，甘微溫，補中益氣為臣；蒼朮、白朮、澤瀉，滲利而除濕，升麻、葛根，甘苦平，善解肌熱，又以風勝濕也。濕勝則食不消而作痞滿，故炒曲甘辛，青皮辛溫，消食快氣，腎惡燥，急食辛以潤之，故以黃柏苦辛寒，借甘味瀉熱補水虛者滋其化源；以人參、五味子、麥門冬，酸甘微寒，救天暑之傷於庚金為佐。名曰清暑益氣湯。</p>
<h3>清暑益氣湯</h3>
<p>黃　（汗少減五分）　蒼朮（泔浸，去皮）　升麻（以上各一錢）　人參（去蘆）　澤瀉　神麯（炒黃）　橘皮　白朮（以上各五分）　麥門冬（去心）　當歸身　炙甘草（以上各三分）　青皮（去白，二分半）　黃柏（酒洗，去皮，二分或三分）　葛根（二分）　五味子（九枚）</p>
<p>上件同　咀。都作一服，水二大盞，煎至一盞，去渣，大溫服，食遠。劑之多少，臨病斟酌。</p>
<p>此病皆由飲食勞倦，損其脾胃，乘天暑而病作也，但藥中犯澤瀉、豬苓、茯苓、燈心、通草、木通，淡滲利小便之類，皆從時令之旺氣，以瀉脾胃之客邪，而補金水之不及也。此正方已是從權而立之，若於無時病濕熱脾旺之證，或小便已數，腎肝不受邪者誤用之，必大瀉真陰，竟絕腎水，先損其兩目也，復立變證加減法於後。</p>
<p>心火乘脾，乃血受火邪，而不能升發，陽氣伏於地中；地者，人之脾也。必用當歸和血，少用黃柏以益真陰。</p>
<p>脾胃不足之證，須少用升麻，乃足陽明、太陰引經之藥也。使行陽道，自脾胃中右遷，少陽行春令，生萬化之根蒂也。更少加柴胡，使諸經右遷，生發陰陽之氣，以滋春之和氣也。</p>
<p>脾虛，緣心火亢甚而乘其土也；其次肺氣受邪，為熱所傷，必須用黃　最多，甘草次之，人參又次之，三者皆甘溫之陽藥也。脾始虛，肺氣先絕，故用黃　之甘溫，以益皮毛之氣，而閉腠理，不令自汗而損其元氣也。上喘氣短懶語，須用人參以補之。心火乘脾，須用炙甘草以瀉火熱，而補脾胃中元氣；甘草最少，恐資滿也。若脾胃之急痛，並脾胃大虛，腹中急縮，腹皮急縮者，卻宜多用之。經云：急者緩之。若從權，必加升麻以引之，恐左遷之邪堅盛，卒不肯退，反致項上及腎尻肉消而反行陰道，故使引之以行陽道，使清氣之出地，上遷而上行，以和陰陽之氣也。若中滿者，去甘草；咳甚者，去人參。如口乾嗌干者，加干葛。</p>
<p>脾胃既虛，不能升浮，為陰火傷其生發之氣，營血大虧，營氣伏於地中，陰火熾盛，日漸煎熬，血氣虧少；且心包與心主血，血減則心無所養，致使心亂而煩，病名曰　；者，心惑而煩悶不安也。是清氣不升，濁氣不降，清濁相干，亂於胸中，使周身血逆行而亂。《內經》云：從下上者，引而去之。故當加辛溫、甘溫之劑生陽，陽生則陰長。已有甘溫三味之論。或曰：甘溫何能生血，又非血藥也？仲景之法，血虛以人參補之，陽旺則能生陰血也。更加當歸和血。又宜少加黃柏，以救腎水。蓋甘寒瀉熱火，火減則心氣得平而安也。如煩亂猶不能止，少加黃連以去之，蓋將補腎水，使腎水旺而心火自降，扶持地中陽氣矣。</p>
<p>如氣浮心亂，則以朱砂安神丸鎮固之。得煩減，勿再服，以防瀉陽氣之反陷也。如心下痞，亦少加黃連。氣亂於胸，為清濁相干，故以橘皮理之，又能助陽氣之升而散滯氣，又助諸甘辛為用也。</p>
<p>長夏濕土客邪大旺，可從權加蒼朮、白朮、澤瀉，上下分消其濕熱之氣也。濕氣大勝，主食不消化，故食減，不知穀味，加炒曲以消之。復加五味子、麥門冬、人參，瀉火益肺氣，助秋損也，此三伏中長夏正旺之時藥也。</p>
<h3>隨時加減用藥法</h3>
<p>濁氣在陽，亂於胸中，則　滿閉塞，大便不通。夏月宜少加酒洗黃柏大苦寒之味，冬月宜加吳茱萸大辛苦熱之藥以從權，乃隨時用藥，以泄濁氣之不降也。借用大寒之氣於甘味中，故曰甘寒瀉熱火也。亦須用發散寒氣，辛溫之劑多，黃柏少也。</p>
<p>清氣在陰者，乃人之脾胃氣衰，不能升發陽氣，故用升麻、柴胡助辛甘之味，以引元氣之升，不令飧泄也。</p>
<p>堵塞咽喉，陽氣不得出者曰塞；陰氣不得下降者曰噎。夫噎塞、迎逆於咽喉胸膈之間，令諸經不行，則口開、目瞪、氣欲絕。當先用辛甘氣味俱陽之藥，引胃氣以治其本，加堵塞之藥以瀉其標也。寒月陰氣大助陰邪於外，於正藥內加吳茱萸，大熱大辛苦之味，以瀉陰寒之氣。暑月陽盛，則於正藥中加青皮、陳皮、益智、黃柏，散寒氣，瀉陰火之上逆；或以消痞丸合滋腎丸。滋腎丸者，黃柏、知母，微加肉桂，三味是也。或更以黃連別作丸，二藥七八十丸，空心約宿食消盡服之，待少時，以美食壓之，不令胃中停留也。</p>
<p>如食少不飢，加炒曲；如食已心下痞，別服橘皮枳朮丸；如脈弦，四肢滿閉，便難而心下痞，加甘草、黃連、柴胡；如腹中氣上逆者，是衝脈逆也，加黃柏三分，黃連一分半以泄之；如大便秘燥，心下痞，加黃連、桃仁，少加大黃、當歸身；如心下痞，夯悶者，加白芍藥、黃連；如心下痞，腹脹，加五味子、白芍藥、縮砂仁；如天寒，少加乾薑或中桂；如心下痞，中寒者，加附子、黃連；如心下痞，嘔逆者，加黃連、生薑、橘皮；如冬月，不加黃連，少入丁香、藿香葉；如口乾嗌干，加五味子、葛根；如脅下急或痛甚，俱加柴胡、甘草；如胸中滿悶郁郁然，加橘紅、青皮，木香少許；如頭痛有痰，沉重懶倦者，乃太陰痰厥頭痛，加半夏五分，生薑二分或三分；如腹中或周身間有刺痛，皆血澀不足，加當歸身；如噦，加五味子多，益智少；如食不下，乃胸中胃上有寒，或氣澀滯，加青皮、陳皮、木香，此三味為定法；如冬天，加益智仁、草豆蔻仁；如夏月，少用，更加黃連；如秋月，氣澀滯，食不下，更加檳榔、草豆蔻仁、縮砂仁，或少加白豆蔻仁；如三春之月，食不下，亦用青皮少，陳皮多，更加風藥，以退其寒覆其上；如初春猶寒，更少加辛熱，以補春氣之不足，以為風藥之佐，益智、草豆蔻皆可也；如脈弦者，見風動之證，以風藥通之；如脈澀，覺氣澀滯者，加當歸身、天門冬、木香、青皮、陳皮。有寒者，加桂枝、黃　；如胸中窒塞，或氣閉悶亂者，肺氣澀滯而不行，宜破滯氣，青皮、陳皮，少加木香、檳榔；如冬月，加吳茱萸、人參，或胸中窒塞，閉悶不通者，為外寒所遏，使呼出之氣不得伸故也，必寸口脈弦，或微緊，乃胸中大寒也，若加之以舌上有白苔滑者，乃丹田有熱，胸中有寒明矣。丹田有熱者，必尻臀冷，前陰間冷汗，兩丸冷，是邪氣乘其本，而正氣走於經脈中也。遇寒，則必作陰陰而痛，以此辨丹田中伏火也。加黃柏、生地黃，勿誤作寒證治之。如秋冬天氣寒涼而腹痛者，加半夏，或益智，或草豆蔻之類；如發熱，或捫之而肌表熱者，此表證也，只服補中益氣湯一二服，亦能得微汗則涼矣；如腳膝痿軟，行步乏力，或疼痛，乃腎肝中伏濕熱，少加黃柏，空心服之，不愈，更增黃柏，加漢防己五分，則腳膝中氣力如故也；如多唾，或唾白沫者，胃口上停寒也，加益智仁；如少氣不足以息者，服正藥二三服；氣猶短促者，為膈上及表間有寒所遏，當引陽氣上伸，加羌活、獨活，　本最少，升麻多，柴胡次之，黃　加倍。</p>
<h3>腸下血論</h3>
<p>《太陰陽明論》云：食飲不節，起居不時者，陰受之。陰受之則入五臟，入五臟則滿閉塞，下為飧泄，久為腸　。夫腸　者，為水穀與血另作一派，如HT　桶涌出也。今時值長夏，濕熱大盛，正當客氣勝而主氣弱也，故腸　之病甚，以涼血地黃湯主之。</p>
<h3>涼血地黃湯</h3>
<p>黃柏（去皮，銼，炒）　知母（銼，炒，以上各一錢）　青皮（不去皮穰）　槐子（炒）　熟地黃當歸（以上各五分）</p>
<p>上件　咀。都作一服，用水一盞，煎至七分，去渣，溫服。</p>
<p>如小便澀，臍下悶，當下之；如有傳變，隨證加減：如腹中動搖有水聲，而小便不調者，停飲也，診顯何臟之脈，以去水飲藥瀉之；假令脈洪大，用瀉火利小便藥之類是也；如胃虛不能食，而大渴不止者，不可用淡滲之藥止之，乃胃中元氣少故也，與七味白朮散補之；如發熱惡熱，煩躁，大渴不止，肌熱不欲近衣，其脈洪大，按之無力者，或兼目痛鼻干者，非白虎湯證也，此血虛發躁，當以黃　一兩、當歸身二錢，　咀，水煎服；如大便閉塞，或裡急後重，數至圊而不能便，或少有白膿，或少有血，慎勿利之，利之則必致病重，反郁結而不通也，以升陽除濕防風湯舉其陽，則陰氣自降矣。</p>
<h3>升陽除濕防風湯</h3>
<p>蒼朮（泔浸，去皮淨，四兩）　防風（二錢）　白朮　白茯苓　白芍藥（以上各一錢）</p>
<p>上件　咀。除蒼朮另作片子，水一碗半，煮至二大盞，納諸藥，同煎至一大盞，去渣，稍熱服，空心食前。</p>
<p>如此證飧泄不禁，以此藥導其濕；如飧泄及泄不止，以風藥升陽，蒼朮益胃去濕；脈實，脹，閉塞不通，從權以苦多甘少藥泄之；如得通，復以升陽湯助其陽，或便以升陽湯中加下泄藥。</p>
<h3>脾胃虛不可妄用吐藥論</h3>
<p>《六元政紀論》云：木鬱則達之者，蓋木性當動蕩軒舉，是其本體，今乃郁於地中，無所施為，即是風失其性。人身有木鬱之證者，當開通之，乃可用吐法，以助風木，是木鬱則達之之義也。又說，木鬱達之者，蓋謂木初失其性，郁於地中，今既開發，行於天上，是發而不郁也，是木復其性也，有餘也；有餘則兼其所勝，脾土受邪，見之於木鬱達之條下，不止此一驗也。又厥陰司天，亦風木旺也，厥陰之勝，亦風木旺也，俱是脾胃受邪，見於上條，其說一同。或者不悟「木鬱達之」四字之義，反作「木鬱治之」，重實其實，脾胃又受木制，又復其木，正謂補有餘而損不足也。既脾胃之氣先已不足，豈不因此而重絕乎！再明胸中窒塞當吐，氣口三倍大於人迎，是食傷太陰。上部有脈，下部無脈，其人當吐，不吐則死。以其下部無脈，知其木鬱在下也，塞道不行，而肝氣下絕矣。兼肺金主塞而不降，為物所隔，金能克木，肝木受邪，食塞胸咽，故曰在上者因而越之。仲景云：實煩以瓜蒂散吐之；如經汗下，謂之虛煩，又名懊　，煩躁不得眠，知其木鬱也，以梔子豉湯吐之。昧者將膈咽不通，上支兩脅，腹脹，胃虛不足，乃濁氣在上則生　脹之病吐之。況胃虛必怒，風木已來乘陵胃中，《內經》以鐵落鎮墜之，豈可反吐，助其風木之邪？不主吐而吐，其差舛如天地之懸隔。大抵胸中窒塞，煩悶不止者，宜吐之耳。</p>
<h3>安養心神調治脾胃論</h3>
<p>《靈蘭秘典論》云：心者，君主之宮，神明出焉。凡怒、忿、悲、思、恐、懼，皆損元氣。夫陰火之熾盛，由心生凝滯，七情不安故也。心脈者，神之舍，心君不寧，化而為火，火者，七神之賊也。故曰陰火太盛，經營之氣，不能頤養於神，乃脈病也。神無所養，津液不行，不能生血脈也。心之神，真氣之別名也，得血則生，血生則脈旺，脈者神之舍。若心生凝滯，七神離形，而脈中唯有火矣。善治斯疾者，惟在調和脾胃，使心無凝滯，或生歡忻，或逢喜事，或天氣暄和，居溫和之處，或食滋味，或眼前見欲受事，則慧然如無病矣，蓋胃中元氣得舒伸故也。</p>
<h3>凡治病當問其所便</h3>
<p>《黃帝針經》云：中熱消瘴則便寒，寒中之屬則便熱。胃中熱則消穀，令人懸心善飢，臍以上皮熱；腸中熱，則出黃如糜，臍以下皮寒。胃中寒，則腹脹；腸中寒，則腸鳴飧泄。</p>
<p>脹；腸中熱，胃中寒，則脹而且泄。非獨腸中熱則泄，胃中寒傳化亦泄。</p>
<p>胃欲熱飲，腸欲寒飲，雖好惡不同，春夏先治標，秋冬先治本。衣服，寒無淒愴，暑無出汗；熱無灼灼，寒無愴愴，寒溫中適，故氣將持，乃不致邪僻也。</p>
<p>此規矩法度，乃常道也，正理也，揆度也，當臨事制宜。以反常合變耳。</p>
<h3>胃氣下溜五臟氣皆亂其為病互相出見論</h3>
<p>黃帝曰：何謂逆而亂？岐伯曰：清氣在陰，濁氣在陽，營氣順脈，衛氣逆行，清濁相干，亂於胸中，是為大　。故氣亂於心，則煩心密嘿，　首靜伏。亂於肺，則　仰喘喝，按手以呼。亂於腸胃，則為霍亂。亂於臂脛，則為四厥。亂於頭，則為厥逆，頭重眩仆。</p>
<p>《大法》云：從下上者，引而去之。又法云：在經者，宜發之。</p>
<p>黃帝曰：五亂者，刺之有道乎？岐伯曰：有道以來，有道以去，審知其道，是謂身寶。</p>
<p>黃帝曰：愿聞其道。岐伯曰：氣在於心者，取之手少陰心主之輸（神門、大陵）。</p>
<p>滋以化源，補以甘溫，瀉以甘寒，以酸收之，以小苦通之，以微苦辛甘輕劑，同精導氣，使復其本位。</p>
<p>氣在於肺者，取之手太陰榮，足少陰輸（魚際並太淵輸）。</p>
<p>太陰以苦甘寒。乃亂於胸中之氣，以分化之味去之；若成痿者，以導濕熱；若善多涕，從權治以辛熱。仍引胃氣前出陽道，不令濕土克腎，其穴在太谿。</p>
<p>氣在於腸胃者，取之足太陰、陽明；不下者，取之三裡（章門、中脘、三裡）。</p>
<p>因足太陰虛者，於募穴中導引之於血中。有一說，腑輸、去腑病也，胃虛而致太陰無所稟者，於足陽明胃之募穴中引導之。如氣逆上而霍亂者，取三裡，氣下乃止，不下復始。</p>
<p>氣在於頭者，取之天柱、大杼；不知，取足太陽榮、輸（通谷深，束骨深）。</p>
<p>先取天柱、大杼，不補不瀉，以導氣而已。取足太陽膀胱經中，不補不瀉，深取通谷、束骨。丁心火，己脾土穴中以引導去之。如用藥，於太陽引經藥中，少加苦寒、甘寒以導去之，清涼為之輔佐及使。</p>
<p>氣在於臂足，取之先去血脈，後取其陽明、少陽之榮輸（二間、三間深取之，內庭、陷谷深取之）。</p>
<p>視其足、臂之血絡盡取之，後治其痿、厥，皆不補不瀉，從陰深取，引而上之。上之者，出也，去也。皆陰火有餘，陽氣不足，伏匿於地中者。血，營也，當從陰引陽，先於地中升舉陽氣，次瀉陰火，乃導氣同精之法。</p>
<p>黃帝曰：補瀉奈何？岐伯曰：徐入徐出，謂之導氣；補瀉無形，謂之同精。是非有餘不足也，亂氣之相逆也。帝曰：允乎哉道，明乎哉論，請著之玉版，命曰治亂也。</p>
<h3>陰病治陽陽病治陰</h3>
<p>《陰陽應象論》云：審其陰陽，以別柔剛，陽病治陰，陰病治陽，定其血氣，各守其鄉，血實宜決之，氣虛宜掣引之。</p>
<p>夫陰病在陽者，是天外風寒之邪乘中而外入，在人之背上腑　、臟　，是人之受天外客邪。亦有二說：中於陽則流於經。此病始於外寒，絡歸外熱，故以治風寒之邪，治其各臟之；非止風寒而已，六淫濕、暑、燥、火，皆五臟所受，乃筋骨血脈受邪，各有背上五臟以除之。傷寒一說從仲景，中八風者，有風論；中暑者，治在背上小腸　；中濕者，治在胃；中燥者，治在大腸　。此皆六淫客邪有餘之病，皆瀉在背之腑　。若病久傳變，有虛有實，各隨病之傳變，補瀉不定，只治在背腑　。</p>
<p>另有上熱下寒。經曰：陰病在陽，當從陽引陰，必須先去絡脈經隧之血。若陰中火旺，上騰於天，致六陽反不衰而上充者，先去五臟之血絡，引而下行，天氣降下，則下寒之病自去矣，慎勿獨瀉其六陽。此病陽亢，乃陰火之邪滋之，只去陰火，只損血絡經隧之邪，勿誤也。</p>
<p>陽病在陰者，病從陰引陽，是水穀之寒熱，感則害人六腑。又曰：飲食失節，及勞役形質，陰火乘於坤土之中，致穀氣、營氣、清氣、胃氣、元氣不得上升，滋於六腑之陽氣，是五陽之氣先絕於外，外者，天也。下流伏於坤土陰火之中。皆先由喜、怒、悲、憂、恐，為五賊所傷，而後胃氣不行，勞役飲食不節繼之，則元氣乃傷。當從胃合三裡穴中推而揚之，以伸元氣，故曰從陰引陽。若元氣愈不足，治在腹上諸腑之募穴；若傳在五臟，為九竅不通，隨各竅之病，治其各臟之募穴於腹。故曰，五臟不平，乃六腑元氣閉塞之所生也。又曰：五臟不和，九竅不通，皆陽氣不足，陰氣有餘，故曰陽不勝其陰。凡治腹之募，皆為元氣不足，從陰引陽勿誤也。若錯補四末之　，錯瀉四末之余，錯瀉者，差尤甚矣。按岐伯所說，況取穴於天上，天上者，人之背上五臟六腑之　，豈有生者乎？興言及此，寒心徹骨！若六淫客邪及上熱下寒，筋骨皮肉血脈之病，錯取穴於胃之合，及諸腹之募者必危，亦岐伯之言下工，豈可不慎哉。</p>
<h3>三焦元氣衰旺</h3>
<p>《黃帝針經》云：上氣不足，腦為之不滿，耳為之苦鳴，頭為之苦傾，目為之瞑。中氣不足，溲便為之變，腸為之苦鳴。下氣不足，則為痿厥心　，補足外踝下留之。</p>
<p>此三元真氣衰憊，皆由脾胃先虛，而氣不上行之所致也。加之以喜、怒、悲、憂、恐，危亡速矣。</p>
<h2>卷下</h2>
<h3>大腸小腸五臟皆屬於胃胃虛則俱病論</h3>
<p>《黃帝針經》云：手陽明大腸，手太陽小腸，皆屬足陽明胃。小腸之穴，在巨虛下廉，大腸之穴，在巨虛上廉，此二穴，皆在足陽明胃三裡穴下也。大腸主津，小腸主液。大腸、小腸受胃之榮氣，乃能行津液於上焦，溉灌皮毛，充實腠理。若飲食不節，胃氣不及，大腸、小腸無所稟受，故津液涸竭焉。《內經》云：耳鳴、耳聾，九竅不利，腸胃之所生也。此胃弱不以滋養手太陽小腸、手陽明大腸。故有此證。然亦止從胃弱而得之，故聖人混言腸胃之所生也。或曰：子謂混言腸胃所生，亦有據乎？予應之曰：《玉機真臟論》云：脾不及，令人九竅不通，謂脾為死陰，受胃之陽氣，能上升水穀之氣於肺，上充皮毛，散入四臟；今脾無所稟，不能行氣於臟腑，故有此證，此則脾虛九竅不通之謂也。雖言脾虛，亦胃之不足所致耳。此不言脾，不言腸胃，而言五臟者又何也？予謂：此說與上二說無以異也，蓋謂脾不受胃之稟命，致五臟所主九竅，不能上通天氣，皆閉塞不利也，故以五臟言之。此三者，止是胃虛所致耳。然亦何止於此，胃虛則五臟、六腑、十二經、十五絡、四肢，皆不得營運之氣，而百病生焉，豈一端能盡之乎。</p>
<h3>脾胃虛則九竅不通論</h3>
<p>真氣又名元氣，乃先身生之精氣也，非胃氣不能滋之。胃氣者，穀氣也，榮氣也，運氣也，生氣也，清氣也，衛氣也，陽氣也。又天氣、人氣、地氣，乃三焦之氣。分而言之則異，其實一也，不當作異名異論而觀之。</p>
<p>飲食勞役所傷，自汗小便數，陰火乘土位，清氣不生，陽道不行，乃陰血伏火。況陽明胃土，右燥左熱，故化燥火而津液不能停；且小便與汗，皆亡津液。津液至中宮變化為血也。脈者，血之府也，血亡則七神何依，百脈皆從此中變來也。眾之百病，莫大於中風，有汗則風邪客之，無汗則陽氣固密，腠理閉拒，諸邪不能傷也。</p>
<p>或曰：經言陽不勝其陰，則五臟氣爭，九竅不通；又脾不及則令人九竅不通，名曰重強；又五臟不和，則九竅不通；又頭痛耳鳴，九竅不通利，腸胃之所生也。請析而解之？答曰：夫脾者，陰土也，至陰之氣，主靜而不動；胃者，陽土也，主動而不息。陽氣在於地下，乃能生化萬物。故五運在上，六氣在下。其脾長一尺，掩太倉，太倉者，胃之上口也。脾受胃稟，乃能熏蒸腐熟五穀者也。胃者，十二經之源，水穀之海也，平則萬化安，病則萬化危。五臟之氣，上通九竅。五臟稟受氣於六腑，六腑受氣於胃。六腑者，在天為風、寒、暑、濕、燥、火，此無形之氣也。胃氣和平，榮氣上升，始生溫熱。濕熱者，春夏也，行陽二十五度。六陽升散之極，下而生陰，陰降則下行為秋冬，行陰道，為寒涼也。胃既受病，不能滋養，故六腑之氣已絕，致陽道不行，陰火上行。五臟之氣，各受一腑之化，乃能滋養皮膚血脈筋骨，故言五臟之氣已絕於外，是六腑生氣先絕，五臟無所稟受，而氣後絕矣。肺本收下，又主五氣，氣絕則下流，與脾土疊於下焦，故曰重強。胃氣既病則下溜。經云：濕從下受之，脾為至陰，本乎地也，有形之土，下填九竅之源，使不能上通於天，故曰五臟不和，則九竅不通。胃者，行清氣而上，即地之陽氣也，積陽成天，曰清陽出上竅，曰清陽實四肢，曰清陽發腠理者也。脾胃既為陰火所乘，穀氣閉塞而下流，即清氣不升，九竅為之不利。胃之一腑病，則十二經元氣皆不足也。氣少則津液不行，津液不行則血虧，故筋骨皮肉血脈皆弱，是氣血俱羸弱矣。勞役動作，飲食飢飽，可不慎乎。凡有此病者，雖不變易他疾，已損其天年，更加之針灸用藥差誤，欲不夭枉得乎？</p>
<h3>胃虛臟腑經絡皆無所受氣而俱病論</h3>
<p>夫脾胃虛，則濕土之氣溜於臍下，腎與膀胱受邪。膀胱主寒，腎為陰火，二者俱弱，潤澤之氣不行。大腸者，庚也，燥氣也，主津；小腸者，丙也，熱氣也，主液。此皆屬胃，胃虛則無所受氣而亦虛，津液不濡，睡覺口燥咽乾，而皮毛不澤也。甲膽，風也，溫也，主生化周身之血氣；丙小腸，熱也，主長養周身之陽氣。亦皆稟氣於胃，則能浮散也，升發也；胃虛則膽及小腸溫熱生長之氣俱不足，伏留於有形血脈之中，為熱病，為中風，其為病不可勝紀，青、赤、黃、白、黑五腑皆滯。三焦者，乃下焦元氣生發之根蒂，為火乘之，是六腑之氣俱衰也。腑者，腑庫之腑，包含五臟及形質之物而藏焉。且六腑之氣，外無所主，內有所受。感天之風氣而生甲膽，感暑氣而生丙小腸，感濕化而生戊胃，感燥氣而生庚大腸，感寒氣而生壬膀胱，感天一之氣而生三焦，此實父氣，無形也。風、寒、暑、濕、燥、火，乃溫、熱、寒、涼之別稱也，行陽二十五度，右遷而升浮降沉之化也，其虛也，皆由脾胃之弱。</p>
<p>以五臟論之，心火亢甚，乘其脾土曰熱中，脈洪大而煩悶。《難經》云：脾病，當臍有動氣，按之牢若痛。動氣，築築然堅牢，如有積而硬，若似痛也，甚則亦大痛，有是則脾虛病也，無則非也。更有一辨，食入則困倦，精神昏冒而欲睡者，脾虧弱也。且心火大盛，左遷入於肝木之分，風濕相搏，一身盡痛，其脈洪大而弦，時緩，或為眩運戰搖，或為麻木不仁，此皆風也。脾病，體重即痛，為痛痹，為寒痹，為諸濕痹，為痿軟失力，為大疽大癰。</p>
<p>若以辛熱助邪，則為熱病，為中風，其變不可勝紀。木旺營運，北越左遷，入地助其腎水，水得子助，入脾為痰涎，自入為唾，入肝為淚，入肺為涕，乘肝木而反克脾土明矣。當先於陰分補其陽氣升騰，行其陽道而走空竅，次加寒水之藥降其陰火，黃柏、黃連之類是也。先補其陽，後瀉其陰，脾胃俱旺而復於中焦之本位，則陰陽氣平矣。火曰炎上，水曰潤下，今言腎主五液，上至頭，出於空竅，俱作泣、涕、汗、涎、唾者何也？曰：病癇者，涎沫出於口，冷汗出於身，清涕出於鼻，皆陽蹺、陰蹺、督、衝四脈之邪上行，腎水不任煎熬，沸騰上行為之也。此奇邪為病，不系五行陰陽十二經所拘，當從督、衝、二蹺、四穴中奇邪之法治之。</p>
<p>五臟外有所主，內無所受。謂無所受盛，而外主皮毛、血脈、肌肉、筋骨及各空竅是也；若胃氣一虛，脾無所稟受，則四臟經絡皆病。況脾全藉胃土平和，則有所受而生榮，周身四臟皆旺，十二神守職，皮毛固密，筋骨柔和，九竅通利，外邪不能侮也。</p>
<h3>胃虛元氣不足諸病所生論</h3>
<p>夫飲食勞役皆自汗，乃足陽明化燥火，津液不能停，故汗出小便數也。邪之大者，莫若中風。風者，百病之長，善行而數變。雖然，無虛邪，則風雨寒不能獨傷人，必先中虛邪，然後賊邪得入矣。至於痿、厥逆，皆由汗出而得之也。且冬陽氣伏藏於水土之下，如非常泄精，陽氣已竭，則春令從何而得，萬化俱失所矣。在人則飲食勞役，汗下時出，諸病遂生。</p>
<p>予所以諄諄如此者，蓋亦欲人知所慎也。</p>
<h3>忽肥忽瘦論</h3>
<p>《黃帝針經》云：寒熱少氣，血上下行。夫氣虛不能寒，血虛不能熱，血氣俱虛，不能寒熱。而胃虛不能上行，則肺氣無所養，故少氣；衛氣既虛，不能寒也。下行乘腎肝助火為毒，則陰分氣衰血虧，故寒熱少氣。血上下行者，足陽明胃之脈衰，則衝脈並陽明之脈，上行於陽分，逆行七十二度，脈之火大旺，逆陽明脈中，血上行，其血衝滿於上；若火時退伏於下，則血下行，故言血上下行，俗謂之忽肥忽瘦者是也。經曰：熱傷氣。又曰：壯火食氣。故脾胃虛而火勝，則必少氣，不能衛護皮毛，通貫上焦之氣而短少也。陰分血虧，陽分氣削，陰陽之分，周身血氣俱少，不能寒熱，故言寒熱也。《靈樞經》云：上焦開發，宣五穀味，熏膚充身澤毛，若霧露之溉，此則胃氣平而上行也。</p>
<h3>天地陰陽生殺之理在升降浮沉之間論</h3>
<p>《陰陽應象論》云：天以陽生陰長，地以陽殺陰藏。然歲以春為首，正，正也；寅，引也。少陽之氣始於泉下，引陰升而在天地人之上，即天之分，百穀草木皆甲坼於此時也。至立夏少陰之火熾於太虛，則草木盛茂，垂枝布菜。乃陽之用，陰之體，此所謂天以陽生陰長。經言歲半以前，天氣主之，在乎升浮也。至秋而太陰之運，初自天而下逐，陰降而徹地，則金振燥令，風厲霜飛，品物咸殞，其枝獨存，若乎毫毛。至冬則少陰之氣復伏於泉下，水冰地坼，萬類周密。陰之用，陽之體也，此所謂地以陽殺陰藏。經言歲半以後，地氣主之，在乎降沉也。至於春氣溫和，夏氣暑熱，秋氣清涼，冬氣冷洌，此則正氣之序也。故曰：履端於始，序則不愆。升已而降，降已而升，如環無端，運化萬物，其實一氣也。</p>
<p>設或陰陽錯綜，勝復之變，自此而起。萬物之中，人一也，呼吸升降，效象天地，準繩陰陽。蓋胃為水穀之海，飲食入胃，而精氣先輸脾歸肺，上行春夏之令，以滋養周身，乃清氣為天者也；升已而下輸膀胱，行秋冬之令，為傳化糟粕，轉味而出，乃濁陰為地者也。若夫順四時之氣，起居有時，以避寒暑，飲食有節，及不暴喜怒，以頤神志，常欲四時均平，而無偏勝則安。不然，損傷脾胃，真氣下溜，或下泄而久不能升，是有秋冬而無春夏，乃生長之用，陷於殞殺之氣，而百病皆起；或久升而不降亦病焉。於此求之，則知履端之義矣。</p>
<h3>陰陽壽夭論</h3>
<p>《五常政大論》云：陰精所奉其人壽，陽精所降其人夭。夫陰精所奉者，上奉於陽，謂春夏生長之氣也；陽精所降者，下降於陰，謂秋冬收藏之氣也。且如地之伏陰，其精遇春而變動，升騰於上，即曰生發之氣；升極而浮，即曰蕃秀之氣，此六氣右遷於天，乃天之清陽也。陽主生，故壽。天之元陽，其精遇秋而退，降墜於下，乃為收斂殞殺之氣；降極而沉，是為閉藏之氣，此五運左遷入地，乃地之濁陰也。陰主殺，故夭。根於外者，名曰氣立，氣止則化絕。根於內者，名曰神機，神去則機息。皆不升而降也。地氣者，人之脾胃也，脾主五臟之氣，腎主五臟之精，皆上奉於天。二者俱主生化，以奉升浮，是知春生夏長，皆從胃中出也。故動止飲食，各得其所，必清必淨，不令損胃之元氣，下乘腎肝，及行秋冬殞殺之令，則亦合於天數耳。</p>
<h3>五臟之氣交變論</h3>
<p>《五臟別論》云：五氣入鼻，藏於心肺。《難經》云：肺主鼻，鼻和則知香臭。潔古云：視聽明而清涼，香臭辨而溫暖。此內受天之氣，而外利於九竅也。夫三焦之竅開於喉，出於鼻。鼻乃肺之竅，此體也；其聞香臭者，用也。心主五臭，舍於鼻。蓋九竅之用，皆稟長生為近。心，長生於酉，酉者肺，故知臭為心之所用，而聞香臭也。耳者，上通天氣，腎之竅也，乃腎之體，而為肺之用，蓋肺長生於子，子乃腎之舍而肺居其中，而能聽音聲也。一說，聲者天之陽，音者天之陰。在地為五律，在人為喉之竅，在口乃三焦之用。肺與心合而為言出於口也，此口心之竅開於舌為體，三焦於肺為用，又不可不知也。肝之竅通於目，離為火，能耀光而見物，故分別五色也，肝為之舍。腎主五精，鼻藏氣於心肺，故曰主百脈而行陽道。經云：脫氣者目盲，脫精者耳聾，心肺有病，而鼻為之不利。此明耳、目、口、鼻為清氣所奉於天，而心勞胃損則受邪也。</p>
<h3>陰陽升降論</h3>
<p>《易》曰：兩儀生四象，乃天地氣交，八卦是也。在人則清濁之氣皆從脾胃出，榮氣榮養周身，乃水穀之氣味化之也。</p>
<p>清陽為天（積陽成天。地氣上為云，天氣下為雨。水穀之精氣也，氣海也，七神也，元氣也，父也），清中清者，清肺以助天真。清陽出上竅（耳、目、鼻、口之七竅是也），清中濁者，榮華腠理。清陽發腠理（毛竅也），清陽實四肢（真氣充實四肢）。濁陰為地（積陰成地。云出天氣，雨出地氣。五穀五味之精，是五味之化也。血榮也，維持神明也，血之將會也，母也），濁中清者，榮養於神（降至中脘而為血，故曰心主血，心藏神）。濁陰出下竅（前陰膀胱之竅也），濁中濁者，堅強骨髓。濁陰走五臟（散於五臟之血也，養血脈，潤皮膚、肌肉、筋者是也，血生肉者此也），濁陰歸六腑（謂毛脈合精，經氣歸於腑者是也）。</p>
<p>天氣清靜光明者也，藏德不止，故不下也。天明則日月不明，邪害空竅，陽氣者閉塞，地氣者冒明。雲霧不精，則上應白露不下；交通不表，萬物命故不施，不施則名木多死。惡氣不發，風雨不節，白露不下，則菀　不榮；賊風數至，豪雨數起，天地四時不相保，與道相失，則未央絕滅。唯聖人從之，故身無苛病，萬物不失，生氣不竭。</p>
<p>此說人之不避大寒傷形，大熱傷氣，四時節候變更之異氣，及飲食失節，妄作勞役，心生好惡，皆令元氣不行，氣化為火，乃失生夭折之由耳。</p>
<h3>調理脾胃治驗治法用藥若不明升降浮沉差互反損論</h3>
<p>予病脾胃久衰，視聽半失，此陰盛乘陽，加之氣短，精神不足，此由弦脈令虛，多言之過，皆陽氣衰弱，不得舒伸，伏匿於陰中耳。癸卯歲六七月間，淫雨陰寒，逾月不止，時人多病泄利，濕多成五泄故也。一日，予體重、肢節疼痛，大便泄並下者三，而小便閉塞。</p>
<p>思其治法，按：《內經‧標本論》：大小便不利，無問標本，先利大小便。又云：在下者，引而竭之，亦是先利小便也。又云：諸泄利，小便不利，先分別之。又云：治濕不利小便，非其治也。皆當利其小便，必用淡味滲泄之劑以利之，是其法也。噫！聖人之法，雖布在方冊，其不盡者，可以求責耳。今客邪寒濕之淫，從外而入裡，以暴加之，若從以上法度，用淡滲之劑以除之，病雖即已，是降之又降，是復益其陰，而重竭其陽氣矣，是陽氣愈削，而精神愈短矣，是陰重強而陽重衰矣，反助其邪之謂也。故必用升陽風藥即瘥，以羌活、獨活、柴胡、升麻各一錢，防風根截半錢，炙甘草根截半錢，同　咀，水四中盞，煎至一盞，去渣，稍熱服。大法云：濕寒之勝，助風以平之。又曰：下者舉之，得陽氣升騰而去矣。又法云：客者除之，是因曲而為之直也。夫聖人之法，可以類推，舉一而知百病者，若不達升降浮沉之理，而一概施治，其愈者幸也。</p>
<p>戊申六月初，樞判白文舉年六十二，素有脾胃虛損病，目疾時作，身面目睛俱黃，小便或黃或白，大便不調，飲食減少，氣短上氣，怠惰嗜臥，四肢不收。至六月中，目疾復作，醫以瀉肝散下數行，而前疾增劇。予謂大黃、牽牛，雖除濕熱，而不能走經絡。下咽，不入肝經，先入胃中。大黃苦寒，重虛其胃；牽牛其味至辛，能瀉氣，重虛肺本，嗽大作，蓋標實不去，本虛愈甚。加之適當暑雨之際，素有黃證之人，所以增劇也。此當於脾胃肺之本臟，瀉外經中之濕熱，制清神益氣湯主之而愈。</p>
<h3>清神益氣湯</h3>
<p>茯苓　升麻（以上各二分）　澤瀉　蒼朮　防風（以上各三分）　生薑（五分）</p>
<p>此藥能走經，除濕熱而不守，故不瀉本臟，補肺與脾胃本中氣之虛弱。</p>
<p>青皮（一分）　橘皮　生甘草　白芍藥此藥皆能守本而不走經。不走經者，不滋經絡中邪；守者，能補臟之元氣。</p>
<p>黃柏（一分）　麥門冬　人參（以上各二分）　五味子（三分）</p>
<p>此藥去時令浮熱濕蒸上件如麻豆大。都作一服，水二盞，煎至一盞，去渣，稍熱，空心服。</p>
<p>火熾之極，金伏之際，而寒水絕體，於此時也。故急救之以生脈散，除其濕熱，以惡其太甚。肺欲收，心苦緩，皆酸以收之。心火盛則甘以瀉之，故人參之甘，佐以五味子之酸。</p>
<p>孫思邈云：夏月常服五味子，以補五臟氣是也。麥門冬之微苦寒，能滋水之源於金之位，而清肅肺氣，又能除火刑金之嗽，而斂其痰邪。復微加黃柏之苦寒，以為守位，滋水之流，以鎮墜其浮氣，而除兩足之痿弱也。</p>
<p>范天　之內，素有脾胃之證，時顯煩躁，胸中不利，大便不通。初冬出外而晚歸，為寒氣怫鬱，悶亂大作，火不得升故也。醫疑有熱，治以疏風丸，大便行而病不減。又疑藥力小，復加七八十丸，下兩行，前證仍不減，復添吐逆，食不能停，痰唾稠黏，涌出不止，眼黑頭旋，惡心煩悶，氣短促上喘無力，不欲言。心神顛倒，兀兀不止，目不敢開，如在風云中。頭苦痛如裂，身重如山，四肢厥冷，不得安臥。余謂前證乃胃氣已損，復下兩次，則重虛其胃，而痰厥頭痛作矣。製半夏白朮天麻湯主之而愈。</p>
<h3>半夏白朮天麻湯</h3>
<p>黃柏（二分）　乾薑（三分）　天麻　蒼朮　白茯苓　黃　澤瀉　人參（以上各五分）　白朮　炒曲（以上各一錢）　半夏（湯洗七次）　大麥　面　橘皮（以上各一錢五分）</p>
<p>上件　咀。每服半兩，水二盞，煎至一盞，去渣，帶熱服，食前。此頭痛苦甚，謂之足太陰痰厥頭痛，非半夏不能療。眼黑頭旋，風虛內作，非天麻不能除；其苗為定風草，獨不為風所動也。黃　甘溫，瀉火補元氣；人參甘溫，瀉火補中益氣；二術俱苦甘溫，除濕補中益氣；澤、苓利小便導濕；橘皮苦溫，益氣調中升陽；曲消食，蕩胃中滯氣；大麥面寬中助胃氣；乾薑辛熱，以滌中寒；黃柏苦大寒，酒洗以主冬天少火在泉發躁也。</p>
<h3>人參芍藥湯</h3>
<p>麥門冬（二分）　當歸身　人參（以上各三分）　炙甘草　白芍藥　黃　（以上各一錢）　五味子（五上件　咀。分作二服，每服用水二盞，煎至一盞，去渣，稍熱服。既愈。繼而冬居曠室，臥熱炕，而吐血數次。予謂此人久虛弱，附臍有形，而有大熱在內，上氣不足，陽氣外虛，當補表之陽氣，瀉裡之虛熱。</p>
<p>冬居曠室，衣服復單薄，是重虛其陽。表有大寒，壅遏裡熱，火邪不得舒伸，故血出於口。因思仲景太陽傷寒一證，當以麻黃湯發汗，而不與之，遂成衄血，卻與之立愈，與此甚同，因與麻黃人參芍藥湯。</p>
<h3>麻黃人參芍藥湯</h3>
<p>人參（益三焦元氣不足而實其表也）　麥門冬（以上各三分）　桂枝（以補表虛）　當歸身（和血養血，各五分）　麻黃（去其外寒）　炙甘草（補其脾）</p>
<p>白芍藥　黃　（以上各一錢）　五味子（二上件　咀。都作一服，水三盞，煮麻黃一味，令沸，去沫，至二盞，入余藥，同煎至一盞，去渣，熱服，臨臥。</p>
<h3>升陽散火湯</h3>
<p>治男子婦人四肢發熱，肌熱，筋痹熱，骨髓中熱，發困，熱如燎，捫之烙手，此病多因血虛而得之。或胃虛過食冷物，抑遏陽氣於脾土，火鬱則發之。</p>
<p>生甘草（二錢）　防風（二錢五分）　炙甘草（三錢）　升麻　葛根　獨活　白芍藥　羌活　人參（以上各五錢）　柴胡（八錢）</p>
<p>上件　咀。每服秤半兩，水三大盞，煎至一盞，去渣，稍熱服。忌寒涼之物，及</p>
<h3>安胃湯</h3>
<p>治因飲食汗出，日久心中虛，風虛邪令人半身不遂，見偏風痿痹之證，當先除其汗，　悍之氣，按而收之。</p>
<p>黃連（揀淨，去須）　五味子（去子）　烏梅（去核）　生甘草（以上各五分）　熟甘草（三分）　升麻梢（二分）</p>
<p>上　咀。分作二服，每服水二盞，煎至一盞，去渣，溫服，食遠。忌濕面、酒、五辛、大料物之類。</p>
<h3>清胃散</h3>
<p>治因服補胃熱藥，而致上下牙痛不可忍，牽引頭腦滿熱，發大痛，此足陽明別絡入腦也。喜寒惡熱，此陽明經中熱盛而作也。</p>
<p>真生地黃　當歸身（以上各三分）　牡丹皮（半錢）　黃連（揀淨，六分，如黃連不好，更加二分；如夏月倍之。大抵黃連臨時，增減無定）　升麻（一錢）</p>
<p>上為細末。都作一服，水一盞半，煎至七分，去渣，放冷服之。</p>
<h3>清陽湯</h3>
<p>治口　，頰腮急緊，胃中火盛，必汗不止而小便數也。</p>
<p>紅花　酒黃柏　桂枝（以上各一分）　生甘草　蘇木（以上各五分）　炙甘草（一錢）　葛根（一錢五分）　當歸身　升麻　黃　（以上各二錢）</p>
<p>上件　咀。都作一服，酒三大盞，煎至一盞二分，去渣，稍熱服，食前。服訖，以火熨摩緊結處而愈。夫口　筋急者，是筋脈血絡中大寒，此藥以代燔針劫刺破血以去其凝結，內則泄衝脈之火熾。</p>
<h3>胃風湯</h3>
<p>治虛風證，能食，麻木，牙關急搐，目內蠕　，胃中有風，獨面腫。</p>
<p>蔓荊子（一分）　干生薑（二分）　草豆蔻　黃柏　羌活　柴胡　本（以上各三分）　麻黃（五分，不去節）　當歸身　蒼朮　葛根（以上各一錢）　香白芷（一錢二分）　炙甘草（一錢五分）　升麻（二錢棗（四枚）</p>
<p>上件銼如麻豆大。分二服，每服水二盞，煎至一盞，去渣，熱服，食後。</p>
<h3>陽明病濕勝自汗論</h3>
<p>或曰：濕之與汗，陰乎陽乎？曰：西南坤土也。脾胃也，人之汗，猶天地之雨也。陰滋其濕，則為霧露為雨也。陰濕寒，下行之地氣也。汗多則亡陽，陽去則陰勝也，甚為寒中。</p>
<p>濕勝則音聲如從瓮中出，濕若中水也。相家有說，土音如居深瓮中，言其壅也，遠也，不出也，其為濕審矣。又知此二者，一為陰寒也。《內經》曰：氣虛則外寒，雖見熱中，蒸蒸為汗，終傳大寒。知始為熱中，表虛亡陽，不任外寒，終傳寒中，多成痹寒矣。色以候天，脈以候地。形者，乃候地之陰陽也，故以脈氣候之，皆有形無形可見者也。</p>
<h3>調衛湯</h3>
<p>治濕勝自汗，補衛氣虛弱，表虛不任外寒。</p>
<p>蘇木　紅花（以上各一分）　豬苓（二分）　麥門冬（三分）　生地黃（三分）　半夏（湯洗七次）　生黃芩生甘草　當歸梢（以上各五分）</p>
<p>羌活（七分）　麻黃根　黃　（以上各一錢）　五味子（七枚）</p>
<p>上　咀，如麻豆大。作一服，水二盞，煎至一盞，去渣，稍熱服。中風證必自汗，汗多不得重發汗，故禁麻黃而用根節也。</p>
<h3>濕熱成痿肺金受邪論</h3>
<p>六七月之間，濕令大行，子能令母實而熱旺，濕熱相合，而刑庚大腸，故寒涼以救之。</p>
<p>燥金受濕熱之邪，絕寒水生化之源，源絕則腎虧，痿厥之病大作，腰以下痿軟癱，不能動，行走不正，兩足欹側。以清燥湯主之。</p>
<h3>清燥湯</h3>
<p>黃連（去須）　酒黃柏　柴胡（以上各一分）　麥門冬　當歸身　生地黃　炙甘草　豬苓　曲（以上各二分）　人參　白茯苓上　咀，如麻豆大。每服半兩，水二盞半，煎至一盞，去渣，稍熱，空心服。</p>
<h3>助陽和血補氣湯</h3>
<p>治眼發後，上熱壅，白睛紅，多眵淚，無疼痛而癮澀難開。此服苦寒藥太過，而真氣不能通九竅也，故眼昏花不明，宜助陽和血補氣。</p>
<p>香白芷（二分）　蔓荊子（三分）　炙甘草　當歸身（酒洗）　柴胡（以上各五分）　升麻　防風（以上各七分）　黃　（一錢）</p>
<p>上　咀。都作一服，水一盞半，煎至一盞，去渣，熱服，臨臥。避風處睡，忌風寒及食冷物。</p>
<h3>升陽湯</h3>
<p>治大便一日三四次，溏而不多，有時泄瀉，腹中鳴，小便黃。</p>
<p>柴胡　益智仁　當歸身　橘皮（以上各三分）　升麻（六分）　甘草（二錢）　黃　（三錢）　紅花（少許上　咀。分作二服，每服二大盞，煎至一盞，去渣，稍熱服。</p>
<h3>升陽除濕湯</h3>
<p>治脾胃虛弱，不思飲食，腸鳴腹痛，泄瀉無度，小便黃，四肢困弱。</p>
<p>甘草　大麥　面（如胃寒腹鳴者加）　陳皮　豬苓（以上各三分）　澤瀉　益智仁　半夏防風　神麯　升麻　柴胡　羌活（以上各五分）　蒼朮（一錢）</p>
<p>上　咀。作一服，水三大盞，生薑三片，棗二枚，同煎至一盞，去渣，空心服。</p>
<h3>益胃湯</h3>
<p>治頭悶，勞動則微痛，不喜飲食，四肢怠惰，躁熱短氣，口不知味，腸鳴，大便微溏黃色，身體昏悶，口乾不喜食冷。</p>
<p>黃　甘草　半夏（以上各二分）　黃芩　柴胡　人參　益智仁　白朮（以上各三分）　當歸梢陳皮　升麻（以上各五分）　蒼朮（一錢五分）</p>
<p>上　咀。作一服，水二大盞，煎至一盞，去渣，稍熱服，食前。忌飲食失節、生冷、硬物、酒、濕面。</p>
<h3>生薑和中湯</h3>
<p>治食不下，口乾虛渴，四肢困倦。</p>
<p>生甘草　炙甘草（以上各一分）　酒黃芩　柴胡　橘皮（以上各二分）　升麻（三分）　人參　葛根本　白朮（以上各五分）　羌活（七分）　蒼朮（一錢）　生黃芩（二錢）</p>
<p>上　咀。作一服，水二盞，生薑五片，棗二枚，劈開，同煎至一盞，去渣，稍熱服之，食前。</p>
<h3>強胃湯</h3>
<p>治因飲食勞役所傷，腹脅滿悶短氣，遇春口淡無味，遇夏雖熱而惡寒，常如飽，不喜食冷物。</p>
<p>黃柏　甘草（以上各五分）　升麻　柴胡　當歸身　陳皮（以上各一錢）　生薑　曲（以上各一錢五分）　草豆蔻（二錢）　半夏　人參（以上各三錢）　黃　（一兩）</p>
<p>上　咀。每服三錢，水二大盞，煎至一盞，去渣，溫服，食前。</p>
<h3>溫胃湯</h3>
<p>專治服寒藥多，致脾胃虛弱，胃脘痛。</p>
<p>人參　甘草　益智仁　縮砂仁　厚朴（以上各二分）　白豆蔻　干生薑　澤瀉　薑黃（以上各三分）　黃　陳皮（以上各七分）</p>
<p>上件為極細末。每服三錢，水一盞，煎至半盞，溫服，食前。</p>
<h3>和中丸</h3>
<p>人參　干生薑　橘紅（以上各一錢）　干木瓜（二錢）　炙甘草（三錢）</p>
<p>上為細末，湯浸蒸餅為丸，不進飲食如梧桐子大。每服三五十丸，溫水送下，食前服。</p>
<h3>藿香安胃散</h3>
<p>治脾胃虛弱，不進飲食，嘔吐不待腐熟。</p>
<p>藿香　丁香　人參（以上各二錢五分）　橘紅（五錢）</p>
<p>上件四味為細末。每服二錢，水一大盞，生薑一片，同煎至七分，和渣冷服，食前</p>
<h3>異功散</h3>
<p>治脾胃虛冷，腹鳴，腹痛，自利，不思飲食。</p>
<p>人參　茯苓　白朮　甘草　橘皮（以上各五分）</p>
<p>上為粗散。每服五錢，水二大盞，生薑三片，棗二枚，同煎至一盞，去渣，溫服，食前。先用數服，以正其氣。</p>
<h3>飲食傷脾論</h3>
<p>《四十九難》曰：飲食勞倦則傷脾。又云：飲食自倍，腸胃乃傷。腸　為痔。夫脾者，行胃津液，磨胃中之穀，主五味也。胃既傷，則飲食不化，口不知味，四肢倦困，心腹痞滿，兀兀欲吐而惡食，或為飧泄，或為腸　，此胃傷脾亦傷明矣。大抵傷飲傷食，其治不同。傷飲者，無形之氣也。宜發汗，利小便，以導其濕。傷食者，有形之物也。輕則消化，或損其穀，此最為妙也，重則方可吐下。今立數方，區分類析，以列於後。</p>
<h3>五苓散</h3>
<p>治煩渴飲水過多，或水入即吐，心中淡淡，停濕在內，小便不利。</p>
<p>桂（一兩）　茯苓　豬苓　白朮（以上各一兩五錢）　澤瀉（二兩五錢）</p>
<p>上為細末。每服二錢，熱湯調服，不拘時候，服訖，多飲熱湯，有汗出即愈。如瘀熱在裡，身發黃膽，濃煎茵陳湯調下，食前服之。如疸發渴，及中暑引飲，亦可用水調服。</p>
<h3>論飲酒過傷</h3>
<p>夫酒者，大熱有毒，氣味俱陽，乃無形之物也。若傷之，止當發散，汗出則愈矣；其次莫如利小便，二者乃上下分消其濕。今之酒病者，往往服酒症丸，大熱之藥下之，又有用牽牛、大黃下之者，是無形元氣受病，反下有形陰血，乖誤甚矣！酒性大熱，以傷元氣，而復重瀉之，況亦損腎水，真陰及有形陰血俱為不足，如此則陰血愈虛，真水愈弱，陽毒之熱大旺，反增其陰火，是以元氣消耗折人長命；不然，則虛損之病成矣。酒疸下之，久久為黑疸。慎不可犯。以葛花解酲湯主之。</p>
<h3>葛花解酲湯</h3>
<p>治飲酒太過，嘔吐痰逆，心神煩亂，胸膈痞塞，手足戰搖，飲食減少，小便不利。</p>
<p>蓮花青皮（去穰，三分）　木香（五分）　橘皮（去白）　人參（去蘆）　豬苓（去黑皮）　白茯苓（以上各一錢五分）　神麯（炒黃色）　澤瀉　干生薑　白朮（以上各二錢）　白豆蔻仁　葛花　砂仁（以上為極細末，秤，和勻。每服三錢匕，白湯調下。但得微汗，酒病去矣。此蓋不得已而用之，豈可恃賴日日飲酒，此方氣味辛辣，偶因酒病服之，則不損元氣，何者？敵酒病也。</p>
<h3>枳朮丸</h3>
<p>治痞，消食，強胃。</p>
<p>枳實（麩炒黃色，去穰，一兩）　白朮（二兩）</p>
<p>上同為極細末，荷葉裹燒飯為丸，如梧桐子大。每服五十丸，多用白湯下，無時。</p>
<p>白朮者，本意不取其食速化，但令人胃氣強，不復傷也。</p>
<h3>橘皮枳朮丸</h3>
<p>治老幼元氣虛弱，飲食不消，臟腑不調，心下痞悶。</p>
<p>枳實（麩炒，去穰）　橘皮（以上各一兩）　白朮（二兩）</p>
<p>上件為細末，荷葉燒飯為丸，如梧桐子大。每服五十丸，溫水送下，食遠。</p>
<p>夫內傷用藥之大法，所貴服之強人胃氣，令胃氣益濃，雖猛食、多食、重食而不傷，此能用食藥者也。此藥久久益胃氣，令不復致傷也。</p>
<h3>半夏枳朮丸</h3>
<p>治因冷食內傷。</p>
<p>半夏（湯洗七次，焙乾）　枳實（麩炒黃色）　白朮（以上各二兩）</p>
<p>上同為極細末，荷葉裹燒飯為丸，如梧桐子大。每服五十丸，添服不妨，無定法。如熱湯浸蒸餅為丸亦可。</p>
<p>如食傷，寒熱不調，每服加上二黃丸十丸，白湯下。</p>
<p>更作一方，加澤瀉一兩為丸，有小便淋者用。</p>
<h3>木香乾薑枳朮丸</h3>
<p>破除寒滯氣，消寒飲食。</p>
<p>木香（三錢）　乾薑（五錢，炮）　枳實（一兩，炒）　白朮（一兩五錢）</p>
<p>上為極細末，荷葉燒飯為丸，如梧桐子大。每服三五十丸，溫水送下，食前。</p>
<h3>木香人參生薑枳朮丸</h3>
<p>開胃進食。</p>
<p>干生薑（二錢五分）　木香（三錢）　人參（三錢五分）　陳皮（四錢）　枳實（一兩，炒黃）　白朮（一兩五上為細末，荷葉燒飯為丸，如梧桐子大。每服三五十丸，溫水送下，食前。忌飽食。</p>
<p>治病久虛弱，厭厭不能食，而臟腑或秘或溏，此胃氣虛弱也。常服則和中理氣，消痰去濕，濃腸胃，進飲食。</p>
<p>木香（二錢五分）　枳實（麩炒）　炙甘草（以上各三錢五分）　檳榔（四錢五分）　陳皮（去白，八錢半夏（湯洗七次）　厚朴（薑製，以上各一兩）　白朮（一兩二錢）</p>
<p>上為細末，生薑自然汁浸蒸餅為丸，如梧桐子大。每服三五十丸，溫水送下，食前或食</p>
<h3>交泰丸</h3>
<p>升陽氣，瀉陰火，調營氣，進飲食，助精神，寬腹中，除怠惰嗜臥，四肢不收，沉困懶乾薑（炮制，三分）　巴豆霜（五分）　人參（去蘆）　肉桂（去皮，以上各一錢）　柴胡（去苗）　小椒（炒去汗並閉目，去子）　白朮（以上各一錢五分）　厚朴（去皮，銼，炒，秋冬加七錢）　酒煮苦楝　白茯苓　砂仁（以上各三錢）　川烏頭（炮，去皮臍，四錢五分）　知母（四錢，一半炒，一半酒炒。此一味，春夏所宜，秋冬去之）　吳茱萸（湯洗七次，五錢）　黃連（去須，秋冬減一錢五分）　皂角（水洗，煨，去皮弦）　紫菀（去苗，以上各六錢）</p>
<p>上除巴豆霜另入外，同為極細末，煉蜜為丸，如梧桐子大。每服十丸，溫水送下，量虛</p>
<h3>三棱消積丸</h3>
<p>治傷生冷硬物，不能消化，心腹滿悶。</p>
<p>丁皮　益智（以上各三錢）　巴豆（炒，和粳，米炒焦黑去米）　茴香（炒）　陳皮　青橘皮（以上各五錢）　京三棱（炮）　廣術（炮）　炒曲（以上各七錢）</p>
<p>上件為細末，醋打面糊為丸，如梧桐子大。每服十丸至二十丸，溫生薑湯送下，食前。</p>
<p>量虛實加減。得更衣，止後服。</p>
<h3>備急丸</h3>
<p>治心腹百病，卒痛如錐刺，及脹滿不快，氣急並治之。</p>
<p>錦紋川大黃（為末）　乾薑（炮，為末）　巴豆（先去皮膜心，研如泥霜，出油用霜）</p>
<p>上件三味等分，同一處研勻，煉蜜成劑，臼內杵千百下，丸如大豌豆大。夜臥溫水下一丸；如氣實者，加一丸。如卒病，不計時候服。婦人有孕不可服。如所傷飲食在胸膈間，兀兀欲吐，反覆悶亂，以物探吐去之。</p>
<h3>神保丸</h3>
<p>治心膈痛，腹痛，血痛，腎氣痛，脅下痛，大便不通，氣噎，宿食不消。</p>
<p>木香　胡椒（以上各二錢五分）　巴豆（十枚，去皮油心膜，研）　干蠍（七枚）</p>
<p>上件四味為末，湯浸蒸餅為丸，麻子大，朱砂三錢為衣。每服五丸。如心膈痛，柿蒂、燈心湯下；如腹痛，柿蒂、煨薑煎湯下；如血痛，炒薑醋湯下；如腎氣痛、脅下痛，茴香酒下；如大便不通，蜜調檳榔末一錢下；如氣噎，木香湯下；如宿食不消，茶酒漿飲任下。</p>
<h3>雄黃聖餅子</h3>
<p>治一切酒食所傷，心腹滿不快。</p>
<p>雄黃（五錢）　巴豆（一百個，去油心膜）　白面（十兩，重羅過）</p>
<p>上件三味，內除白面八、九兩，余藥同為細末，共面和勻，用新水和作餅子，如手大，以漿水煮，煮至浮於水上，漉出，控旋看硬軟，搗作劑，丸如梧桐子大，捻作餅子。每服五、七餅子。加至十餅、十五餅，嚼破一餅，利一行，二餅利二行，茶酒任下，食前。</p>
<h3>蠲飲枳實丸</h3>
<p>逐飲消痰，導滯清膈。</p>
<p>枳實（麥炒，去穰）　半夏（湯洗）　陳皮（去白，以上各二兩）　黑牽牛（八兩，內取頭末，三上為細末，水煮面糊為丸，如梧桐子大。每服五十丸，食後生薑湯下。</p>
<h3>感應丸</h3>
<p>治虛中積冷，氣弱有傷，停積胃脘，不能傳化；或因氣傷冷，因飢飽食，飲酒過多，心下堅滿，兩脅脹痛，心腹大疼，霍亂吐瀉，大便頻，後重遲澀，久痢赤白，膿血相雜，米穀不消，愈而復發。又治中酒，嘔吐痰逆，惡心喜唾，頭旋，胸膈痞悶，四肢倦怠，不欲飲食。又治妊娠傷冷，新產有傷。若久有積寒，吃熱藥不效者，並悉治之。又治久病形羸，荏苒歲月，漸致虛弱，面黃肌瘦，飲食或進或退，大便或秘或泄，不拘久新積冷，並皆治之。</p>
<p>乾薑（炮制，一兩）　南木香（去蘆）　丁香（以上各一兩五錢）　百草霜（二兩）　肉豆蔻（去皮，三十個）　巴豆（去皮心膜油，研，七十個）　杏仁（一百四十個，湯浸去皮尖，研膏）</p>
<p>上七味，除巴豆粉、百草霜、杏仁三味，余四味搗為細末，卻與三味同拌，研令細，用好蠟匱和，先將蠟六兩溶化作汁，以重綿濾去渣，更以好酒一升，於銀、石器內煮蠟溶，滾數沸，傾出，候酒冷，其蠟自浮於上，取蠟秤用丸。春夏修合，用清油一兩，於銚內熬令沫散香熟，次下酒煮蠟四兩，同化作汁，就鍋內乘熱拌和前項藥末，秋冬修合，用清油一兩五錢，同煎煮熟，作汁，和匱藥末成劑，分作小鍵子，以油單紙裹之，旋丸服耳。</p>
<h3>神應丸</h3>
<p>治因一切冷物、冷水及潼乳酪水所傷，腹痛腸鳴，米穀不化。</p>
<p>丁香　木香（以上各二錢）　巴豆　杏仁　百草霜　乾薑（以上各五錢）　黃蠟（二錢）</p>
<p>上先將黃蠟用好醋煮去渣穢，將巴豆、杏仁同炒黑煙盡，研如泥；余四味為細末將黃蠟再上火，春夏入小油五錢，秋冬入小油八錢，溶開，入在杏仁、巴豆泥子內同攪，旋下丁香、木香等藥末，研勻，搓作鋌子，油紙裹了旋丸用。如芥子大，每服三、五十丸，溫米飲送下，食前，日三服</p>
<h3>白朮安胃散</h3>
<p>治一切瀉痢，無問膿血相雜，裡急窘痛，日夜無度。又治男子小腸氣痛，及婦人臍下虛冷，並產後兒枕塊痛；亦治產後虛弱，寒熱不止者。</p>
<p>五味子　烏梅（取肉炒干，以上各五錢）　車前子　茯苓　白朮（以上各一兩）　米穀（三兩，去頂蒂穰，醋煮一宿，炒干）</p>
<p>上為末。每服五錢，水一盞半，煎至一盞，去渣，空心溫服。</p>
<h3>聖餅子</h3>
<p>治瀉痢赤白，臍腹撮痛，久不愈者。</p>
<p>黃丹（二錢）　定粉　舶上硫黃　陀僧（以上各三錢）　輕粉（少許）</p>
<p>上細銼為末，入白面四錢匕，滴水和如指尖大，捻作餅子，陰乾。食前溫漿水磨服之，大便黑色為效。</p>
<h3>當歸和血散</h3>
<p>治腸　下血，濕毒下血。</p>
<p>川芎（四分）　青皮　槐花　荊芥穗　熟地黃　白朮（以上各六分）　當歸身　升麻（以上各一錢上件為細末。每服二、三錢，清米飲湯調下，食前。</p>
<h3>訶梨勒丸</h3>
<p>治休息痢，晝夜無度，腥臭不可近，臍腹撮痛，諸藥不效。</p>
<p>訶子（五錢，去核稱）　椿根白皮（一兩）　母丁香（三十個）</p>
<p>上為細末，醋面糊丸，如梧桐子大。每服五十丸，陳米飯湯入醋少許送下，五更，三</p>
<h3>脾胃損在調飲食適寒溫</h3>
<p>《十四難》曰：損其脾者，調其飲食，適其寒溫。又云：夫脾、胃、大腸、小腸、三焦、膀胱，倉廩之本，營之所居，名曰器，能化糟粕，轉味而出入者也。若飲食，熱無灼灼，寒無愴愴，寒溫中適，故氣將持，乃不致邪僻。或飲食失節，寒溫不適，所生之病，或溏泄無度，或心下痞悶，腹脅　脹，口失滋味，四肢困倦，皆傷於脾胃所致而然也。腸胃為市，無物不受，無物不入，若風、寒、暑、濕、燥，一氣偏勝，亦能傷脾損胃，觀證用藥者，宜詳審焉。</p>
<p>脾胃（右關所主，其脈緩。）如得弦脈，風邪所傷。甘草芍藥湯、黃　建中湯之類。或甘酸之劑，皆可用之；洪脈，熱邪所傷。三黃丸、瀉黃散、調胃承氣湯。或甘寒之劑，皆可用之；緩脈，本經太過，濕邪所傷。平胃散加白朮、茯苓，五苓散。或除濕滲淡之劑，皆可用之。澀脈，燥熱所傷。異功散加當歸，四君子東加熟地黃。或甘溫甘潤之劑，皆可用之；沉細脈，寒邪所傷。益黃散，養胃丸，理中丸，理中湯，如寒甚加附子。甘熱之劑，皆可用之。</p>
<p>治大人小兒，風冷乘虛，入客腸胃，水穀不化，泄瀉注下，腹脅虛滿，腸鳴　痛；血，日夜無度，並宜服之。</p>
<p>人參（去蘆）　白茯苓（去皮）　芎蔻　桂（去粗皮）　當歸（去苗）　白芍藥　白朮（以上各等上為粗散。每服二錢，以水一大盞，入粟米數百余粒，同煎至七分，去渣，稍熱服，空心，食前。小兒量力減之。</p>
<h3>三黃丸</h3>
<p>治丈夫、婦人三焦積熱。上焦有熱，攻衝眼目赤腫，頭項腫痛，口舌生瘡；中焦有熱，心膈煩躁，不美飲食；下焦有熱，小便赤澀，大便秘結。五臟俱熱，即生癰、瘡、痍。</p>
<p>及治五般痔疾，肛門腫痛，或下鮮血。</p>
<p>黃連（去蘆）　黃芩（去蘆）　大黃（以上各一兩）</p>
<p>上為細末，煉蜜為丸，如梧桐子大。每服三十丸，用熟水吞下；如臟腑壅實，加服丸數。小兒積熱，亦宜服之。</p>
<h3>白朮散</h3>
<p>治虛熱而渴。</p>
<p>人參（去蘆）　白朮　木香　白茯苓（去皮）　藿香葉（去土）　甘草（炒，以上各一兩）　干葛（二兩）</p>
<p>上件為粗末。每服三錢至五錢，水一盞，煎至五分，溫服。如飲水者，多煎與之，無時如不能食而渴，潔古先師倍加葛根；如能食而渴，白虎東加人參服之。</p>
<h3>加減平胃散</h3>
<p>治脾胃不和，不思飲食，心腹脅肋，脹滿刺痛，口苦無味，胸滿氣短，嘔噦惡心，噫氣吞酸，面色萎黃，肌體瘦弱，怠惰嗜臥，體重節痛，常多自利，或發霍亂，及五噎、八痞、膈氣、反胃。</p>
<p>甘草（銼，炒，二兩）　厚朴（去粗皮，薑製炒香）　陳皮（去白，以上各三兩二錢）　蒼朮（去粗皮，米泔浸，五兩）</p>
<p>上為細末。每服二錢，水一盞，入生薑三片，干棗二枚，同煎至七分，去渣，溫服；或去薑、棗，帶熱服，空心、食前。入鹽一捻，沸湯點服亦得。常服調氣暖胃，化宿食，消痰飲，辟風寒冷濕，四時非節之氣。</p>
<p>如小便赤澀，加白茯苓、澤瀉；如米穀不化，食飲多傷，加枳實；如胸中氣不快，心下痞氣，加枳殼、木香；如脾胃困弱，不思飲食，加黃　、人參；如心下痞悶，腹脹者，加厚朴，甘草減半；如遇夏，則加炒黃芩；如遇雨水濕潤時，加茯苓、澤瀉；如遇有痰涎，加半夏、陳皮；凡加時，除蒼朮、厚朴外，依例加之，如一服五錢，有痰加半夏五分；如嗽，飲食減少，脈弦細，加當歸、黃　。如脈洪大緩，加黃芩、黃連；如大便硬，加大黃三錢，芒硝二錢，先嚼麩炒桃仁爛，以藥送下。</p>
<h3>散滯氣湯</h3>
<p>治因憂氣結，中脘腹皮底微痛，心下痞滿，不思飲食，雖食不散，常常有痞氣。</p>
<p>當歸身（二分）　陳皮（三分）　柴胡（四分）　炙甘草（一錢）　半夏（一錢五分）　生薑（五片）　紅花（少許上件銼如麻豆大。都和一服，水二盞，煎至一盞，去渣，稍熱服，食前。忌濕面、</p>
<h3>通幽湯</h3>
<p>治幽門不通，上衝，吸門不開，噎塞，氣不得上下，治在幽門閉，大便難，此脾胃初受熱中，多有此證，名之曰下脘不通。</p>
<p>桃仁泥　紅花（以上各一分）　生地黃　熟地黃（以上各五分）　當歸身　炙甘草　升麻（以上各一錢）</p>
<p>上　咀。都作一服，水二大盞，煎至一盞，去渣，稍熱服之，食前。</p>
<h3>潤腸丸</h3>
<p>治飲食勞倦，大便秘澀，或干燥，閉塞不通，全不思食，及風結、血秘，皆能閉塞也。</p>
<p>潤燥和血疏風，自然通利也。</p>
<p>大黃（去皮）　當歸梢　羌活（以上各五錢）　桃仁（湯浸，去皮尖，一兩）　麻子仁（去皮取仁，一兩二錢五分）</p>
<p>上除桃仁、麻仁另研如泥外，搗羅為細末，煉蜜為丸，如梧桐子大。每服五十丸，空心用白湯送下。</p>
<h3>導氣除燥湯</h3>
<p>治飲食勞倦，而小便閉塞不通，乃血澀致氣不通而竅澀也。</p>
<p>滑石（炒黃）　茯苓（去皮，以上各二錢）　知母（細銼，酒洗）　澤瀉（以上各三錢）　黃柏（去皮，四錢，酒洗）</p>
<p>上　咀。每服半兩，水二盞，煎至一盞，去渣，稍熱服，空心。如急，不拘時候</p>
<h3>丁香茱萸湯</h3>
<p>治胃虛嘔噦吐逆，膈咽不通。</p>
<p>干生薑　黃柏（以上各二分）　丁香　炙甘草　柴胡　橘皮　半夏（以上各五分）　升麻（七分）　吳茱萸　草豆蔻　黃人參（以上各一錢）　當歸身（一錢五分）　蒼朮（二錢）</p>
<p>上件銼如麻豆大。每服半兩，水二盞，煎至一盞，去渣，稍熱服，食前。忌冷物。</p>
<h3>草豆蔻丸</h3>
<p>治脾胃虛而心火乘之，不能滋榮上焦元氣，遇冬腎與膀胱之寒水旺時，子能令母實，致肺金大腸相輔而來克心乘脾胃，此大復其仇也。經云：大勝必大復。故皮毛血脈分肉之間，元氣已絕於外，又大寒大燥二氣並乘之，則苦惡風寒，耳鳴，及腰背相引胸中而痛，鼻息不通，不聞香臭，額寒腦痛，目時眩，目不欲開。腹中為寒水反乘，痰唾沃沫，食入反出，腹中常痛，及心胃痛，脅下急縮，有時而痛，腹不能努，大便多瀉而少秘，下氣不絕，或腸鳴，此脾胃虛之極也。胸中氣亂，心煩不安，而為霍亂之漸。膈咽不通，噎塞，極則有聲，喘喝閉塞。或日陽中，或暖房內稍緩，口吸風寒則復作。四肢厥逆，身體沉重，不能轉側，頭不可以回顧，小便溲而時躁。此藥主秋冬寒涼大復氣之藥也。</p>
<p>澤瀉（一分，小便數減半）　柴胡（二分或四分，須詳脅痛多少用）　神麯　薑黃（以上各四分）</p>
<p>當歸身　生甘草　熟甘草　青皮（以上各六分）　桃仁（湯洗，去皮尖，七分）　白僵蠶　吳茱萸（湯洗去苦烈味，焙乾）　益智仁　黃　陳皮　人參（以上各八分）　半夏（一錢，湯洗七次）　草豆蔻仁（一錢四分，面裹燒，面熟為度，去皮用仁）　麥　面（炒黃，一錢五分）</p>
<p>上件一十八味，同為細末，桃仁另研如泥，再同細末一處研勻，湯浸蒸餅為丸，如梧桐子大。每服三五十丸，熟白湯送下，旋斟酌多少。</p>
<h3>神聖復氣湯</h3>
<p>治復氣乘冬，足太陽寒氣，足少陰腎水之旺。子能令母實，手太陰肺實，反來侮土，火木受邪。腰背胸膈閉塞，疼痛，善嚏，口中涎，目中泣，鼻中流濁涕不止，或如　肉，不聞香臭，咳嗽痰沫，上熱如火，下寒如冰。頭作陣痛，目中流火，視物KT　KT　，耳鳴耳聾，頭並口鼻，或惡風寒，喜日陽，夜臥不安，常覺痰塞，膈咽不通，口失味，兩脅縮急而痛，牙齒動搖，不能嚼物，陰汗出，前陰冷，行步欹側，起居艱難，掌中寒，風痹麻木，小便數而晝多夜頻，而欠，氣短喘喝，少氣不足以息，卒遺失無度。婦人白帶，陰戶中大痛，牽心而痛，黧黑失色；男子控睪牽心腹，陰陰而痛，面如赭色，食少，大小便不調，煩心霍亂，逆氣裡急而腹，皮色白，後出余氣，腹不能努，或腸鳴，膝下筋急，肩胛大痛，此皆寒水來復，火土之雜也。</p>
<p>黑附子（炮裹，去皮臍）　乾薑（炮，為末，以上各三分）　防風（銼如豆大）　郁李仁（湯浸去皮尖，另研如泥）　人參（以上各五分）　當歸身（酒洗，六分）　半夏（湯泡七次）　升麻（銼，以上各七分）　甘草（銼）　本（以上各八分）　柴胡（銼如豆大）　羌活（銼如豆大，以上各一錢）　白葵花（五朵，去心細剪入）</p>
<p>上件藥都一服，水五盞，煎至二盞，入：橘皮（五分）　草豆蔻仁（面裹燒熟，去皮）　黃　（以上各一錢）</p>
<p>上件入在內，再煎至一盞，再入下項藥：生地黃（二分酒洗）　黃柏（酒浸）　黃連（酒浸）　枳殼（以上各三分）</p>
<p>以上四味，預一日另用新水浸，又以：細辛（二分）　川芎（細末）　蔓荊子（以上各三分）</p>
<p>預一日用新水半大盞，分作二處浸。此三味並黃柏等煎正藥作一大盞，不去渣，入此浸者藥，再上火煎至一大盞，去渣，稍熱服，空心。又能治嚙頰、嚙唇、嚙舌，舌根強硬等證，如神。忌肉湯，宜食肉，不助經絡中火邪也。大抵腎並膀胱經中有寒，元氣不足者，皆宜服之。</p>
<h3>脾胃將理法</h3>
<p>白粥、粳米、綠豆、小豆、鹽豉之類，皆淡滲利小便，且小便數不可更利，況大瀉陽氣，反行陰道。切禁濕面，如食之覺快，勿禁。</p>
<p>藥中不可服澤瀉、豬苓、茯苓、燈心、琥珀、通草、木通、滑石之類，皆行陰道，而瀉陽道也；如渴，如小便不利，或閉塞不通則服，得利勿再服。</p>
<p>忌大咸，助火邪而瀉腎水真陰；及大辛味，蒜、韭、五辣、醋、大料物、官桂、乾薑之類，皆傷元氣。</p>
<p>若服升沉之藥，先一日將理，次日腹空服，服畢更宜將理十日；先三日尤甚，不然則反害也。</p>
<p>夫諸病四時用藥之法，不問所病，或溫或涼，或熱或寒，如春時有疾，於所用藥內加清涼風藥；夏月有疾，加大寒之藥；秋月有疾，加溫氣藥；冬月有疾，加大熱之藥，是不絕生化之源也。錢仲陽醫小兒，深得此理。《內經》：必先噦氣，毋伐天和，是為至治。又曰：無違時，無伐化。又曰：無伐生生之氣。皆此常道也。用藥之法，若反其常道，而變生異證，則當從權施治。假令病患飲酒，或過食寒，或過食熱，皆可以增病。如此，則以權衡應變治之。權變之藥，豈可常用乎。</p>
<h3>攝養</h3>
<p>忌浴當風，汗當風。須以手摩汗孔合，方許見風，必無中風中寒之疾。</p>
<p>遇卒風暴寒，衣服不能御者，則宜爭努周身之氣以當之，氣弱不能御者病。</p>
<p>如衣薄而氣短，則添衣，於無風處居止；氣尚短，則以沸湯一碗熏其口鼻，即不短也。</p>
<p>如久居高屋，或天寒陰濕所遏，令氣短者，亦如前法熏之。</p>
<p>如居周密小室，或大熱而處寒涼氣短，則出就風日。凡氣短，皆宜食滋味湯飲，令胃調和。</p>
<p>或大熱能食而渴，喜寒飲，當從權以飲之，然不可耽嗜。如冬寒喜熱物，亦依時暫食。</p>
<p>睡不安，則宜少食；飽而睡不安，則少行坐。</p>
<p>遇天氣變更，風寒陰晦，宜預避之。大抵宜溫暖，避風寒，省語，少勞役為上。</p>
<h3>遠欲</h3>
<p>名與身孰親，身與貨孰多？以隋侯之珠，彈千仞之雀，世必笑之，何取之輕而棄之重耶！殘軀六十有五，耳目半失於視聽，百脈沸騰而煩心，身如眾派漂流，瞑目則魂如浪去，神氣衰於前日，飲食減於囊時，但應人事，病皆彌甚，以己之所有，豈止隋候之珠哉！安於淡薄，少思寡欲，省語以養氣，不妄作勞以養形，虛心以維神，壽夭得失，安之於數，得喪既輕，血氣自然諧和，邪無所容，病安增劇？苟能持此，亦庶幾於道，可謂得其真趣矣。</p>
<h3>省言箴</h3>
<p>氣乃神之祖，精乃氣之子。氣者，精神之根蒂也。大矣哉！積氣以成精，積精以全神，必清必靜，御之以道，可以為天人矣。有道者能之，予何人哉，切宜省言而已。</p>
<h2>後序</h2>
<p>黃帝著《內經》，其憂天下後世，可謂濃且至矣，秦越人述《難經》以證之。傷寒為病最大，仲景廣而論之，為萬世法。至於內傷脾胃之病，諸書雖有其說，略而未詳，我東垣先生，作《內外傷辨》《脾胃論》以補之。先生嘗閱《內經》所論，四時皆以養胃氣為本，宗氣之道，納穀為寶。蓋飲食入胃，游溢精氣，上輸於脾，脾氣散精，上歸於肺，沖和百脈，頤養神明，利關節，通九竅，滋志意者也。或因飲食失節，起居不時，妄作勞役，及喜怒悲愉，傷胃之元氣，使營運之氣減削，不能輸精皮毛經絡，故諸邪乘虛而入，則痰動於體、而成痼疾，致真氣彌然而內消也。病之所起，初受熱中，心火乘脾，末傳寒中，腎水反來侮土，乃立國中末三治，及君臣佐使之制，經禁病禁時禁之則，使學人知此病，用此藥，因心會通，溯流得源，遠溯軒岐，吻合無間。善乎！魯齊先生之言曰：東垣先生之學，醫之王道也！觀此書則可見矣。</p>
<p><u>至元丙子三月上巳日門生羅天益謹序</u></p>
