<header><h1>傷寒標本心法類萃</h1></header>
<dl class="元資料" data-type="book">
<div><dt>作者</dt><dd>劉完素</dd></div>
<div><dt>朝代</dt><dd>金</dd></div>
<div><dt>年份</dt><dd><data value="1115/1234">公元1115年至公元1234年</data></dd></div>
</dl>
<h2>卷上</h2>
<h3>傷風</h3>
<p>傷風之證：頭疼項強，肢節煩疼，或目痛。肌熱、乾嘔、鼻塞、手足溫、自汗出、惡風，其脈陽浮而緩、陰浮而弱，此風邪在表。以上傷風之證，皆宜桂枝湯（第二）以解肌。傷風汗出、怕風，而加項強痛者，桂枝葛根湯（第三）；傷風反無汗者，雖已服桂枝湯，反煩不解而無裡證者，先刺風池、風府，卻與桂枝湯服之。不若通用雙解散（五十四），免致有桂枝、麻黃之誤。傷風自汗，白虎湯（二十二），太陽病無汗而渴者，不可與白虎湯。</p>
<h3>傷寒</h3>
<p>傷寒之證：頭項病疼、腰脊強、身體拘急、惡寒不煩躁、無自汗，或致頭面目疼、肌熱鼻干，或胸滿而喘、手足指末微厥，脈浮數而緊者，邪在表。以上傷寒之證，皆宜麻黃湯（第一）以發其汗。傷寒冒風，頭目痛，四肢拘倦，比金散（四十九）。不若通用天水散（五十二）或雙解散（五十四）之類甚佳，無使藥不中病而益加害也。白虎合涼膈散（二十三）乃調理傷寒之上藥，傷風甚妙。</p>
<h3>中暑</h3>
<p>中暑之證：身熱頭痛、背寒面垢、自汗煩躁、大渴口乾、倦怠而身不痛，或時惡寒，或畏日，氣脈虛而弱，無問表裡，通宜白虎。夏月感冒發熱煩渴，五苓散（二十四）、桂苓甘露飲（三十四）、黃連香薷飲（五十五）或雙解散（五十四）；或裡熱甚、腹滿，而脈沉可下者，大承氣湯（十）下之，或三一承氣湯（十三）尤妙；半表半裡者，小柴胡（九）合涼膈、天水散。</p>
<h3>中濕</h3>
<p>中濕之證：一身盡疼，重者發黃、關節煩疼、發熱、鼻塞，時或腹滿脹大、便利，脈沉而緩。以上中濕之證，先用雙解散（五十四）微微汗之，次用五苓散（二十四）或淡滲散（二十五）、桂苓甘露飲（三十四）。曾用甘露飲不愈，卻用黃連解毒（二十一）則愈。問：何也？曰：若劑生土之甘，此屬土，故以火劑燥土，其病則愈。</p>
<h3>風寒俱中</h3>
<p>風寒俱中之證：頭痛項強、肢體疼、手足溫，為中風；反無汗、惡寒、脈浮緊，為傷寒也。</p>
<p>或頭項疼、腰脊強、身體拘急、指末微厥、不自汗，為傷寒；反煩躁而脈緩者為傷風也。風則傷衛，寒則傷榮，榮衛俱傷，則表裡熱甚者，通宜以大青龍湯（六），或雙解散（五十四）最妙。</p>
<h3>內外傷寒</h3>
<p>始得脈便沉而裡病表和者，內傷也；脈浮而表病裡和者，外傷也。病在身體四肢，為表病；病在胸腹之內，為裡病。內傷通神散（五十一），外傷雙解散（五十四），內外一切所傷通聖散（五十三），然不若雙解散，以平和為之，三法至神。</p>
<h3>一切汗候</h3>
<p>風寒暑濕、飢飽勞逸、憂愁思慮、恚恐悲怒；四時中外諸邪所傷，但覺身熱頭疼、拘倦強痛，無問自汗無汗、憎寒發熱、渴與不渴，微、甚；傷寒疫癘、汗病兩感、風氣雜病，一切舊病發作，三日裡外並宜雙解散（五十四）。設若感之勢甚，本難解者，常服雙解散，三兩日間，亦漸可減，並無所損。或裡熱極甚、腹滿實痛、煩渴譫妄，須可下者，三一承氣湯（十三）為妙。或下後未愈，或下證未全，或大汗前後逆氣，或汗後余熱不解，或遺熱復勞，或染他人病氣，汗毒傳染，或中瘴氣、羊氣、牛氣，一切穢毒，並漆毒、酒毒、食毒、一切藥毒，及墜墮打撲傷損疼痛，或久患風眩頭疼、中風偏枯、破傷風、洗頭風、風癇病，或婦人產後諸疾，小兒驚風積熱、瘡瘍疹痘，無問日數，但以雙解散（五十四）服之，周身中外氣血宣通，病皆除愈。然雙解乃通仙之藥，但除孕婦及產後、月經過多、並泄瀉者勿與服之，惟年老人最宜，自有造化於中矣。</p>
<h3>傳染</h3>
<p>凡傷寒疫癘之病，何以別之，蓋脈不浮者傳染也，設若以熱藥解表，不惟不解，其病反甚而危殆矣。其治之法：自汗宜以蒼朮白虎湯（二十二）；無汗宜滑石涼膈散（二十三），散熱而愈；其不解者通其表裡，微甚，隨證治之，而與傷寒之法皆無異也。雙解散（五十四）、益元散（五十二），皆為神方。</p>
<h3>表證</h3>
<p>凡表證脈浮，身體肢節疼痛，惡風、惡寒者，可汗之不可下也。傷寒無汗麻黃湯（一），傷風自汗桂枝湯（二）。一法不問風寒通用雙解散（五十四），或天水散（五十二）最妙。</p>
<h3>裡證</h3>
<p>凡裡證脈實而不浮，不惡寒及惡風，身不疼，自汗譫語，不大便，或咽乾腹滿者，可下之不可汗也。以上之證宜小承氣湯（十二）、大承氣湯（十）、調胃承氣湯（十一），選而用之。一法不問風寒暑濕，或表、裡兩證俱不見，但無表證而有可下者，通用三一承氣湯（十三）下之。此藥發峻效，使無表熱入裡，而無結胸及痞之眾疾也。或熱結極深而諸藥數下，畢竟不能利，不救成死者，大承氣東加甘遂一錢匕下之。病在裡，脈沉細者，無問風寒暑濕，或表裡證俱不見；或內外諸邪所傷，有汗、無汗、心腹痛滿、譫妄煩躁、蓄熱內盛、但是脈沉者，宜三一承氣湯（十三）合解毒湯（二十一）下之。解毒、調胃承氣湯，能瀉大熱。</p>
<h3>表裡證</h3>
<p>表裡俱見之證：或半在表，或半在裡之證者，謂前表裡二證，病在相參。有欲汗之而有裡病，欲下之而表病未解；汗之不可，吐之又不可，法當和解。傷風，白虎湯（二十二）；傷寒、中風或兩感，小柴胡湯（九）。一法不問風寒暑濕，用涼膈散（二十三）、天水散（五十二）二藥合一服，用煎解之。</p>
<p>或表熱多，裡熱少，天水一，涼膈半；或裡熱多，表熱少，涼膈一，天水半；表熱極，裡有微熱，身疼頭痛，或眩或嘔，不可汗吐下者，天水、涼膈散合和解之。解之又不能退其熱者，用黃連解毒湯；表裡之熱俱微者，五苓散（二十四）；表裡之熱俱盛者，大柴胡湯（八）微下之，更甚者大柴胡合大承氣湯（十）下之，雙除表裡之熱。服雙解散（五十四）之後若不解，病已傳變，後三日在裡，法當下之。殊不知下之太早，則表熱乘虛而入裡，遂成結胸、虛痞、懊　、發黃之證，輕者必危，危者必死，但宜平和之藥，宣散其表，和解其裡，病勢或有汗而愈，或無汗氣和而愈。用小柴胡（九）、涼膈（二十三）、天水（五十二），合和主之。病在半表半裡，用小柴胡，涼膈散合和而解之，或小柴胡合解毒湯（二十一）。如服，熱勢未退者，大柴胡（八）合三一承氣湯（十三）。表裡俱微，半表半裡，若裡微者宜大柴胡（八）合黃連解毒湯（二十一）合服。諸小柴胡湯證後病不解，表裡熱勢更甚，而心下急郁微煩；或發熱汗出不解，心下痞硬、嘔吐不利；或陽明病多汗；或少陰病下利清水，心下痛而口乾；或太陰病腹滿而痛；或無表裡證但發熱，七、八日，雖脈浮而數，而脈在肌肉實數而滑者，並宜大柴胡湯（八）。病至七、八日，裡熱已甚，表漸微，脈雖浮數，用三一承氣湯（十三）合解毒下之。下證未全，不可下者，用白虎湯（二十二）或人參石膏湯（三十五）。脈洪、躁，裡有微熱，不可汗者，用黃連解毒湯（二十一）。</p>
<h3>汗後不解</h3>
<p>凡是表證法當汗之，依法汗之，其病又不解。汗後不解，其證前後別無異證者，通宜涼膈散（二十三）調之，以退其熱，無使熱甚危極也。除此之外，遠勝小柴胡湯。兩感至此而已，汗後余熱用益元散（五十二）、或小柴胡湯（九）、崔宣武人參石膏湯（三十六）。傷寒大發汗，汗出不解，反無汗，脈尚浮者，蒼朮白虎湯（二十三）解之。傷寒用桂枝湯發汗後半日許，復熱煩，脈浮者，再宜桂枝湯（二）；汗後不解，下證未全者，白虎湯（二十三）；汗後煩躁不得眠，微熱而渴，五苓散（二十四）；汗後不解，裡外有熱，口乾煩渴，柴胡飲子（四十七）；解表之後尚未愈者，解毒（二十一）、涼膈（二十三）、天水散（五十二），能調順陰陽，洗滌臟腑。</p>
<h3>下後不解</h3>
<p>凡是裡證法當下之，依法下之，其病又不解。或大下後，或再三下後，熱勢尚甚而不退，本氣虛損而不能實，擬更下之，恐下脫而立死，不下之則熱極而死，寒涼諸藥不能退其熱勢之甚者；或濕熱內余，下利不止，熱不退者；或因大下後，濕熱利不止而熱不退，脈弱氣虛不可更下者；或諸濕熱內余，小便赤澀，大便溏泄，頻並少腹而急痛者，必欲作痢也，通宜黃連解毒湯（二十一）以解之。</p>
<p>傷寒下之太過，胃中無熱，飲水無力，白朮散（四十二）。又有大下之後，其熱不退，再三下之熱愈甚，若下之不止，其人脈微氣虛，氣弱不加，以法無可生之理。至此下之亦死、不下亦死，但用涼膈（二十一）合解毒湯（二十三）調之，陽熱退除，陰脈漸生，為之妙法。下之前後無問日數，余熱不解，小柴胡湯（九）。汗下後胃虛，大橘皮湯（三十九）。汗下後胸膈滿悶，赤茯苓湯（四十）。</p>
<h3>在上涌之</h3>
<p>諸病在膈者，當用瓜蒂散（二十六）吐之。或表證罷，邪熱入裡，結於胸中，煩滿而飢不能食，四肢微厥而脈乍急者，宜瓜蒂散吐之。傷寒頭疼久不愈，令人喪明，以胸膈有宿痰故也，當先涌之，次以白虎湯（二十二）加減。</p>
<h3>在下泄之</h3>
<p>諸病蓄熱下焦，則承氣、抵當之類，泄之而可也。</p>
<h3>合病</h3>
<p>三陽合病：腹滿身重，難以轉側，口燥面垢，譫語遺尿，如誤發汗則譫語益甚，下之則便厥，額上汗出，後必發黃，白虎湯（二十二）。</p>
<h3>兩感</h3>
<p>兩感謂一日太陽、少陰兩症俱見，二日陽明與太陰俱病，三日少陽與厥陰俱病，前六經之證是也。小柴胡湯（九）、涼膈散（二十三）、五苓散（二十四）、天水散（五十二）、通聖散（五十三）、雙解散（五十四）、大柴胡湯（八），可選用之。熱勢甚，欲可下者，三一承氣湯（十三），或解毒（二十一）合承氣湯。</p>
<h3>病</h3>
<p>之為病：發熱腹滿，口噤頭搖，螈　不語，項強背直，腰身反強。或目痛，或目赤，或目閉，或反目，或足溫，或妄行，其脈沉弦而遲，或帶緊者，無汗曰剛　；有汗曰柔　。通宜三一承氣湯（十三）合解毒（二十一）下之。</p>
<h3>頭疼</h3>
<p>頭疼之證，無問風寒暑濕雜病，自汗頭疼，俱宜白虎湯（二十二），或加川芎、荊芥尤妙。頭疼久不愈，必致喪明，宜先涌痰，次用白虎加減。風眩痰逆、喘嗽頭疼，茯苓半夏湯（三十八），頭疼、肢體痛，黃連解毒湯（二十一）；頭疼、口乾，桂苓甘露飲（三十四），風疾喘嗽頭疼，白虎（二十二）、半夏橘皮湯（三十七），風熱頭疼，心煩昏憒，人參石膏湯（三十五），傷寒壯熱頭疼，不臥散（四十五）。</p>
<h3>身疼</h3>
<p>身疼之證，無問風寒，雙解散（五十四）。表熱甚，頭項肢體疼痛，黃連解毒湯（二十一）。傷寒瘟疫，遍身疼痛，少力，頭旋，腰腳麻重，嘔噦、壯熱、減食，三一承氣（十三）減硝加貫眾、紫河車，入金銀煎，名銀煎散。中濕一身盡痛，五苓散（二十四）。</p>
<h3>腹脹滿痛</h3>
<p>腹脹滿，脈沉者，以三一承氣湯（十三）合解毒（二十一）下之。諸腹滿實痛、煩渴譫妄、脈實數而沉者，無問日數，三一承氣湯。少陽證，腹中痛者，小柴胡（九）去黃芩加芍藥湯。少陽證，脅下痞硬者，小柴胡去棗子加牡蠣。太陰證，腹滿時痛，桂枝（二）加芍藥；痛甚桂枝加大黃。</p>
<h3>往來寒熱</h3>
<p>往來寒熱屬少陽，一日二、三作，來往無期，用小柴胡湯（九）主之。</p>
<h3>潮熱</h3>
<p>潮熱屬陽明，一日一發，日晡而作也。陽明裡熱極甚，或吐下後不解大便五、六日至十余日，日晡潮熱，心胸煩熱而懊　，如瘧狀，脈沉實者，三一承氣湯（十三）。陽明、少陽合病，下利，日晡發熱如瘧者，大柴胡湯（八）。通宜三一承氣（十三）合解毒（二十一）。</p>
<h3>自汗</h3>
<p>自汗者，不發表解肌自出汗也，傷風自汗也。傷風自汗，桂枝湯。傷寒自汗，脈沉數而實，表裡俱熱者，三陽合病自汗者，厥逆自汗者，頭疼自汗者，傷寒自汗未解半入於裡者，中暑自汗脈虛者，俱宜白虎湯（二十二）。傷寒寢汗不止，白虎東加麻黃根、浮麥。傷寒汗下後，自汗、脈虛、熱不已，白虎加人參、蒼朮服之，汗止身涼，通仙之法也。</p>
<p>中暑自汗，白虎湯，後以澹滲湯（二十五）調之。自汗多崔宣武人參石膏湯（三十六）。</p>
<h3>自利並誤下</h3>
<p>自利者，不經下藥攻裡而自利也。脈浮表不解自利，或小便不利者，五苓散（二十四）。一切瀉痢間作，桂苓甘露飲（三十四）。溫濕內甚而作痢者，黃連解毒湯（二十一）。或自利清水，色鈍青，心下痞痛。口燥者，皆濕熱相搏於腸胃之內而成，三一承氣湯（十三）。當汗而反下，及不成結胸而但下利清穀不化，表證在，表熱裡寒也，急以四逆湯（四十三）溫裡；利止裡和，急以桂枝解表。或用巴豆熱藥下之而協熱利不止，皆宜五苓散止利兼解表。</p>
<h3>小便不利</h3>
<p>小便不利者，小便難而赤澀也。中暑並傷寒大發汗後，胃中干、煩躁不得眠、脈浮、小便不利、微熱煩渴者；口乾煩渴，小便不利者；小便赤澀，通宜五苓散（二十四）、桂苓甘露飲（三十四）主之。</p>
<h3>嘔吐</h3>
<p>凡嘔吐者，火性上炎也，無問表裡，通宜涼膈散（二十三）。傷寒雜病，一切嘔吐，調胃承氣湯（十一）。煩悶乾嘔，黃連解毒湯（二十一）。嘔吐煩渴者，桂苓甘露飲（三十四）、五苓散（二十四）。</p>
<p>眩、咳嘔者，白虎（二十二）加半夏、橘皮。傷寒嘔吐，四肢厥逆清冷，調胃散（五十）。濕溫內甚，惡心嘔吐者，白虎合解毒湯。</p>
<h3>吐瀉</h3>
<p>吐瀉者，上吐下瀉，亦名霍亂也。一切吐瀉霍亂，通宜五苓散（二十四）、益元散（五十二）、白朮散（四十二）。吐瀉霍亂煩渴，並中外諸邪所傷而吐瀉腹滿痛悶者，並皆桂苓甘露飲（三十四）、澹滲湯（二十五）。</p>
<h3>喘嗽</h3>
<p>大熱喘嗽而滿者，黃連解毒湯（二十一）；或熱甚咳嗽悶亂，三一承氣湯（十三）。少陽咳者，小柴胡（九）去人參、大棗、生薑，加五味子、乾薑。喘嗽頭疼者，茯苓半夏湯（三十八）。咳嗽者，白虎湯（二十二）加半夏、桔梗。咳嗽不已，人參石膏湯（三十五），或崔宣武人參石膏湯（三十六）。</p>
<p>痰逆咳嗽，半夏橘皮湯（三十七）。汗之後氣悶咳嗽，五味子湯（四十四）。</p>
<h3>渴</h3>
<p>凡口乾煩渴者，傷寒汗出而渴者，飲水反吐名曰水逆，俱宜五苓散（二十四）。少陰病二、三日，口燥咽乾，三一承氣湯（十三）。或裡熱燥甚，傷寒怫鬱留飲不散，煩渴不止則腹高起痛不可忍，但嘔冷涎，大渴不能飲，飲亦不能止其渴，喘急悶亂，但欲死者，三一承氣湯，下咽立止其渴，有若無病之人，須臾大汗而愈。至此往往多有不利而汗出，亦有藥力但隨汗之宣通，不利而愈。或汗吐下後，煩渴口乾，脈浮大，白虎湯（二十二）加人參；煩躁多渴，涼膈散（二十三）加滑石。</p>
<h3>煩躁</h3>
<p>傷寒煩躁多渴，涼膈散（二十三）加滑石。中暑、傷寒汗後煩躁，五苓散（二十四）。一切火熱狂躁喘滿，黃連解毒湯（二十一）。煩躁而渴，白朮散（四十二），或加滑石；甚者加薑汁。</p>
<h3>懊虛煩不得眠</h3>
<p>懊　煩心，反復顛倒不得眠者，煩熱怫鬱於內而氣不能宣通也，或胸滿結痛，或煩、微汗出、虛煩者，梔子湯（二十八）主之；或氣少者，加甘草一錢；或嘔者及初誤以丸藥下者，加生薑半兩。</p>
<p>凡懊　虛煩者，皆用涼膈散（二十三）甚佳，及宜湯濯手足，使心胸結熱宣散而已。心煩腹滿，坐臥不安，梔子厚朴湯（三十）主之。或陽明病下之後，躁熱而懊　者，三一承氣湯（十三）。汗後煩躁不得眠，五苓散（二十四）或涼膈散（二十三）；口燥呻吟，錯語不得眠，五苓散、黃連解毒湯（二十一）；煩心者涼膈散。</p>
<p>少陽證，胸中煩而不嘔者，小柴胡（九）去半夏、人參加栝蔞實主之。</p>
<h3>留飲</h3>
<p>一切留飲不散，五苓散（二十四）、桂苓甘露飲（三十四）、黃連解毒湯（二十一）、涼膈散（二十三）、白虎湯（二十二）、小陷胸湯（十八）、三一承氣湯（十三）選用。傷寒表未罷，心下有水氣，乾嘔、發熱而咳，或嘔，或利，或噎，或小便不利，小腹滿，或喘者，小青龍湯（七）。</p>
<h3>痞</h3>
<p>傷寒表裡俱熱，下證未全，法當和解。誤下之早，則成痞。心下痞滿而不痛，按之虛軟者痞。</p>
<p>脈浮而尚惡寒者，表未解也，當先桂枝（二）解表已，而後用大黃黃連瀉心湯（三十三）攻痞也；或只用五苓散（二十四）使除表裡甚良。或痞惡寒而汗出者；或痞而煩小便不利者；或痞留飲濕熱下利者；或已成痞，因其痞滿誤更下之，其痞轉甚，嘔噦下利，心煩躁者，無問脈浮、沉，並宜生薑煎湯調下五苓散（二十四）頻服之。</p>
<p>或痞不已，則後亦濕熱煩滿，或譫妄，脈沉無他證者，宜大黃黃連瀉心湯（三十三）；或小陷胸湯（十八）</p>
<p>亦可。下早成痞檳榔散（四十一）。</p>
<h3>結胸</h3>
<p>結胸之證有三：不按而痛者名大結胸；按之而痛者名小結胸；心下怔忡，頭汗出者名水結胸也。</p>
<p>汗下之後，不大便五、六日，舌乾而渴，日脯少有潮熱，從心下至小腹硬滿而痛不可近，而脈沉緊滑數，或但關脈沉緊者，宜大陷胸湯（十六），或陷胸丸（十七）下之。或脈浮者，表未罷也，不可下，下之則死，宜小陷胸湯（十八）及小柴胡湯（九）之類和解之；表罷者方可下之。或結胸雖脈浮而裡熱勢惡，須可下者，宜三一承氣湯（十三），分作三次，約三時許服訖，得利甚良，雖未稍減，脈必沉；病微者，只用三一承氣半服，按法而下之；裡熱甚者，以大陷胸湯（十六）大半服而下之；或但結胸，別無大段熱證，但頭微汗出，脈沉潛者，水結胸也，通宜大陷胸丸（十七）。小結胸，心下按之而痛，脈浮而滑，別無大段熱證；及水結胸者，小陷胸湯（十八）。傷寒下之太早，結胸，黃連解毒湯（二十一）加枳殼。傷寒結胸，虛痞，涼膈散（二十三）加枳殼、桔梗。或但自熱結胸者，其胸高起，腹雖不滿而但喘急、悶結、譫妄、昏冒，關脈沉數而緊者，用大承氣湯（七）加甘遂一錢匕下之。表證罷，熱入裡，結於胸中，煩滿而飢不能食，微厥而脈乍緊者，瓜蒂散吐之（二十六）。太陽中風，下利、嘔逆、表證罷、乾嘔短氣、不惡寒、　汗出發作有時、頭痛、心下痞硬滿、引脅下痛者，十棗湯（三十一）。結胸而發黃者，茵陳湯（三十二）、陷胸湯（十六）各半服下之。協熱下利不止，更結胸發黃，茵陳湯五分、陷胸湯三分、大承氣湯二分下之為佳。脈浮不可下者，小陷胸湯合小柴胡湯（九）。</p>
<h3>血證</h3>
<p>太陽病日深，表證仍在，循經熱蓄於下焦，脈微而沉，不結胸而發狂者，熱在下焦，小腹當硬滿，小便自利也，血下而愈，宜攻之。或太陽病，身黃、脈沉者，循經而蓄熱下焦也，小腹硬、小便不利為無血；小便自利，如狂者，瘀血症；或陽明蓄熱內甚而喜忘或狂，大便雖硬而反易，其色黑者，有蓄血也；或無表裡證，但發熱日深，脈浮者亦可下；或已下後，脈數，胃熱消穀善飢，數日不大便，有瘀血也，並宜抵當湯（十九）下之。傷寒有熱，小腹滿，小便自利者，為有血也，當下，未敢用湯，用抵當丸（二十）最為穩當。太陽病不解而蓄熱下焦，先以桂枝解表，已而下血，宜桃仁承氣湯（十四）或抵當丸（二十）攻之。傷風，汗、下不解，熱鬱經絡，隨氣涌泄為衄，或清道閉，流入胃脘，吐出清血及鼻衄，吐血不盡，余血停留以致面黃，大便黑，犀角地黃湯（十五）。</p>
<p>發狂加黃芩、大黃。</p>
<h3>譫語</h3>
<p>譫語發狂，三一承氣湯（十三）合解毒湯（二十一）下之。若傷寒，過經譫語，已有熱也，當以湯下之；若小便利，大便當硬，而下利、脈和者，醫以丸藥下之，非其治也，若自利者，脈當厥，今反和，此為內實，調胃承氣湯（十一）或涼膈散（二十三）通用。</p>
<h3>發黃</h3>
<p>陽明病，表熱極甚，煩滿熱鬱，留飲不散，以致濕熱相搏而身體發黃，其候但頭汗出身無汗，齊頸而還，小便不利，渴飲水漿者，身體發黃，宜茵陳湯（三十二）調下五苓散（二十四）；結胸而發黃者，茵陳同陷胸湯（十六）各半下之。或誤服熱毒丸藥下之，反損陰氣，遂協熱利不止；更或結胸而發黃者，用茵陳湯五分、陷胸湯三分、承氣湯（十）一分下之。或兩感發黃者，用茵陳東加黃連解毒湯（二十一）一服急下之。頭微汗，小便利而發微黃者，濕熱微也，梔子柏皮湯（二十九）；發黃甚者，茵陳合三一承氣湯（十三）。</p>
<h3>發斑</h3>
<p>發斑，下證未全，涼膈散（二十三）。未曾下，胃熱發斑，白虎湯（二十二）加人參、白朮。</p>
<p>陽明胃熱發斑，脈沉須下者，三一承氣湯（十三）下之。傷寒胃熱發斑，涼膈散加滑石調五苓散（二十四）</p>
<p>甚妙。傷寒七、八日，發黃有斑，微熱、腹滿者，或痰實壅上，雖諸承氣湯不過者，仲景曰：寸脈浮滑者可用瓜蒂散（二十六）吐之。</p>
<h3>發狂</h3>
<p>傷寒，發狂奔走，罵詈不避親疏，此陽有餘、陰不足，三一承氣湯（十三）加當歸、薑、棗名當歸承氣湯，以利數行，候微緩以三聖散（二十七）吐之，後用涼膈散（二十三），黃連解毒湯（二十一）</p>
<p>調之。譫妄發狂，逾垣上屋，赴井投河，皆為陽熱極甚，用三一承氣合解毒下之。驚悸癲狂，三一承氣湯。發狂極甚，投河入井者，三下不過，不可攻下，便當涌之，以瓜蒂散（二十六），吐出痰涎、宿物，一掃而愈，後以甘露飲（三十四）之類調之。</p>
<h3>發戰</h3>
<p>凡熱病大汗將出而反寒戰者，表之正氣與邪氣並甚於裡，火熱亢極而反兼水化制之，反為寒戰，脈微欲絕者，三一承氣湯（十三）或十棗湯（三十一）下之。凡欲作汗，無問病之微甚，或已經新下者，或下證未全者，但以涼膈散（二十三）調之；甚者黃連解毒湯（二十一）。或下後二、三日，或未經下，腹滿煩渴，脈沉實而有裡證者，三一承氣湯下之，勢惡者加黃連解毒湯。或戰不快者，或戰後汗出不快者，或戰數次，經大戰而汗不當者，乃並之太甚，而法之不達，通宜三一承氣湯，或更加黃連解毒湯下之，以解怫熱而開鬱結也。</p>
<h3>發厥</h3>
<p>或發熱極甚，而恐承氣不能退者；或已下後而熱不退者；或蓄熱內甚，陽厥極深，以陽氣怫鬱不能營運於身表四肢，以致通身清冷、痛甚不堪、項背拘急、目青睛疼、昏眩恍惚、咽乾或痛、躁渴、虛汗、嘔吐、下利、腹滿實痛、煩冤悶亂、喘急、鄭聲、脈雖疾數，以其蓄熱極深而脈道不利，反致脈沉細而欲絕，俗未明其造化之理，而反謂其傷寒極陰毒者；或始得之，陽熱暴甚而便有此證候者；或兩感熱勢甚者，通宜解毒（二十一）加大承氣湯（十）下之，熱不退者宜再下之。雖古人云：三下之而熱未退即死矣。然亦有按法以下三、五次，利一、二十行，熱方退而得活者，免致不下退其熱而必死也。下後熱少退而未愈者，黃連解毒湯調之。或失下熱極，以致身冷、脈微而昏冒將死者，若急下之，殘陰暴絕而死。蓋陽氣後竭而然也，不下亦死，宜涼膈散（二十三）或黃連解毒湯，或二藥合服，或白虎（二十二）合涼膈散，養陰退陽，積熱漸以宣散，則心胸溫暖，脈漸以生，至於脈復有力，方可以三一承氣湯（十三）下之，或解毒加六一散（五十二）調之，愈後宜服退熱之藥，忌發熱諸物。裡熱脈厥者，宜白虎湯。熱極厥深而諸藥下畢，竟不能利者，不救必死，黃連解毒湯更加甘遂末一錢匕下之。</p>
<h3>循衣摸床</h3>
<p>陽明病，脈遲，汗出，不惡寒，身重，短氣，狂語如見鬼狀，劇者發則不識入，循衣摸床，惕而不安，直視微喘，三一承氣湯（十三）。</p>
<h3>勞復食復</h3>
<p>汗下後，勞復，柴胡飲子（四十七）；飲酒復劇，黃連解毒湯（二十一），或雙解（五十四）加黃連；在裡者，三一承氣湯（十三）；在表者，益元散（五十二）或雙解；半表半裡，大柴胡湯（八）、小柴胡湯（九）、涼膈散（二十三）、解毒湯（二十一），隨證用之。食復三一承氣湯。</p>
<h2>卷下</h2>
<h3>方</h3>
<p><u>一、麻黃湯</u></p>
<p>麻黃（六錢）　桂枝（四錢）　甘草（二錢）　杏仁（七枚）</p>
<p>上作二帖，水二鐘，煎八分取汁。麻黃性熱，惟冬及春，兼病患素虛寒者乃用正方，夏至之後服之必發斑黃，須加知母半兩、石膏一兩、黃芩一分、桂枝加減月令同。</p>
<p><u>二、桂枝湯</u></p>
<p>桂枝　芍藥（各二錢半）　甘草（一錢半）</p>
<p>上作一帖，薑三片、棗一枚，煎服，取微汗。倍加芍藥名桂枝芍藥湯；加大黃名桂枝大黃湯。《金匱方》曰：太陽病自汗而小便數者，不可與桂枝湯。</p>
<p><u>三、桂枝葛根湯</u></p>
<p>桂枝　芍藥　甘草（各二錢半）　生薑（四錢）　大棗（二枚）　葛根（五錢二分）</p>
<p>上作二服，水煎，取微汗。</p>
<p><u>四、葛根湯</u></p>
<p>葛根（一兩四錢）　麻黃（三錢）　生薑（三錢）　桂枝　甘草　芍藥（各二錢）　棗（一枚）</p>
<p>上作二帖，水煎服。衣覆取汗為度。</p>
<p><u>五、升麻葛根湯</u></p>
<p>升麻　干葛　芍藥　甘草（各三錢）</p>
<p>上作二服，水煎。若大段寒即熱服；若熱即溫服，身涼為度。</p>
<p><u>六、大青龍湯</u></p>
<p>麻黃　石膏（各四錢半）　桂枝（一錢半）　甘草（同上）　杏仁（三枚）</p>
<p>上作二帖，薑三片、棗一枚，水煎。取微汗，不可太過，恐亡陽。以溫粉撲之。</p>
<p><u>七、小青龍湯</u></p>
<p>半夏（六分）　北五味（一錢二分）　麻黃　芍藥　細辛　甘草　乾薑　桂枝（各一錢八分）</p>
<p>上作二帖，生薑四片，水煎。諸方皆不用生薑。</p>
<p><u>八、大柴胡湯</u></p>
<p>柴胡（三錢）　黃芩（一錢半）　大黃（七錢）　芍藥（錢半）　半夏（一錢）　枳實（二錢）</p>
<p>上作一帖，生薑五片、棗一枚，煎。大柴胡合三一承氣湯，合黃連解毒湯，合大承氣湯。</p>
<p><u>九、小柴胡湯</u></p>
<p>柴胡（八錢）　黃芩　甘草　人參（各三錢）　半夏（二錢半）</p>
<p>上五錢，生薑五片，棗一枚，煎，溫服。</p>
<p>一法本方合涼膈、天水。一法本方合涼膈散。一法本方合解毒湯。一法本方去棗子加牡蠣。一法本方去人參、大棗、生薑加五味子、乾薑。一法本方去半夏、人參加栝蔞實。</p>
<p><u>十、大承氣湯</u></p>
<p>大黃　芒硝（各二錢）　厚朴（四錢）　枳實（三枚）</p>
<p>上作一帖，水二鐘，先煎厚朴、枳實，次下大黃，煎取八分，去滓，入硝，煎一、二沸，放溫服。一法本方加甘遂末一錢匕。</p>
<p><u>十一、調胃承氣湯</u></p>
<p>大黃（三錢）　芒硝（二錢）　甘草（一錢半）</p>
<p>上作一帖，水二鐘煎，溫服。</p>
<p><u>十二、小承氣湯</u></p>
<p>大黃（三錢）　厚朴（一錢半）　枳實（一錢）</p>
<p>上作一帖，水二鐘煎，溫服。</p>
<p><u>十三、三一承氣湯</u></p>
<p>大黃（二錢）　芒硝（一錢半）　厚朴（錢半）　枳實（一錢）　甘草（二錢）</p>
<p>上作一帖，水煎，溫服。一法本方減硝加貫眾、紫河車，入金銀煎，名銀煎散。一法本方加當歸、薑、棗，名當歸承氣湯。</p>
<p><u>十四、桃仁承氣湯</u></p>
<p>桃仁（去皮尖十枚）　芒硝（錢半）　大黃（二錢）　桂　甘草（各一錢半）</p>
<p>上作一帖，水煎，空心服。</p>
<p><u>十五、犀角地黃湯</u></p>
<p>犀角　白芍藥　牡丹皮（各五分）　生地黃（四錢）</p>
<p>上作一帖，水煎。有熱加黃芩一錢。發狂血證加大黃（本方無大黃血證內有）。</p>
<p><u>十六、大陷胸湯</u></p>
<p>大黃（二錢）　芒硝（二錢半）　甘遂（一分，些小便是）</p>
<p>上作一帖，水煎，溫服。未快再服，勢惡不利，以意加之。</p>
<p><u>十七、大陷胸丸</u></p>
<p>大黃（半兩）　芒硝（二錢半）　葶藶（三錢炒另研）　杏仁（十二枚炒）</p>
<p>上大黃末，下葶藶杵羅，研杏仁、芒硝如泥，丸如彈子大。每服一丸，入甘遂末三字、白蜜半匙，水一鐘，煎至半鐘，溫服。當一宿，未利再服。</p>
<p><u>十八、小陷胸湯</u></p>
<p>半夏（四錢）　黃連（二錢）　栝蔞實（一枚四分用之二）</p>
<p>上作一帖，水煎，溫服。未利再服，微利黃涎即愈。一法本方合小柴胡湯。</p>
<p><u>十九、抵當湯</u></p>
<p>水蛭（炒）　虻蟲（各七個去足翅炒）　杏仁（七枚）　大黃（二錢半）</p>
<p>上作二帖，水煎，再服。</p>
<p><u>二十、抵當丸</u></p>
<p>水蛭（炒）　虻蟲（各七個去足翅炒）　杏仁（七枚）　大黃（二錢半）</p>
<p>上細末，煉蜜作二丸，用水二鐘，煎一丸，至六分，溫服。　時血未下再服。</p>
<p><u>二十一、黃連解毒湯</u></p>
<p>黃連　黃柏　黃芩　梔子每服五錢，水煎，溫服。本方合大承氣湯。一法本方加枳殼。本方合三一承氣湯。一法本方加甘遂末一錢匕。本方合調胃承氣湯。一法本方合涼膈、天水散。</p>
<p><u>二十二、白虎湯</u></p>
<p>（《金匱方》云：太陽病，無汗而渴者，不可服。）</p>
<p>知母（一兩半）　甘草（一兩）　粳米（一合）　石膏（四兩）</p>
<p>上五錢，水煎，溫服。一法本方加蒼朮。一法本方加人參、蒼朮。一法本方加半夏、橘皮。一法本方加半夏、桔梗。一法本方合解毒湯。一法本方加人參、白朮。一法本方合涼膈散。一法本方加麻黃根、浮麥。</p>
<p><u>二十三、涼膈散</u></p>
<p>連翹（一兩）　黃芩（半兩）　梔子（半兩）　甘草（半兩）　朴硝（一分）　薄荷　大黃（各半兩）</p>
<p>上五錢，水煎，入蜜少許。一法本方合解毒湯。一法本方加滑石。一法本方加桔梗、枳殼。一法本方合天水散。一法本方加滑石調五苓散。</p>
<p><u>二十四、五苓散</u></p>
<p>（《金匱方》云；陽明病汗多而渴者，不可服。）</p>
<p>豬苓　茯苓　白朮（各五錢）　桂心（一分）　澤瀉（一兩）</p>
<p>上或調或煎。一法本方加生薑汁調服。</p>
<p><u>二十五、淡滲湯</u></p>
<p>（即五苓合益元是也）</p>
<p><u>二十六、瓜蒂散</u></p>
<p>瓜蒂（細銼炒）　赤小豆（等分）　又用茶少許上為末，豆豉半合、水一盞半，煮汁半盞，調下一錢匕，不吐加服。頭痛加鬱金；脅痛加蠍梢。</p>
<p><u>二十七、三聖散</u></p>
<p>（見吐門）</p>
<p>食前先食齏汁半盞，後調藥服一半，用鵝翎探引吐出，如吐少，更以熱齏汁投之。不已，用麝香煎湯服半盞，立止。</p>
<p><u>二十八、梔子湯</u></p>
<p>大梔子（七枚）　豆豉（半合）</p>
<p>上以水煎梔子至一盞半，入豆豉煮至半盞，溫服。</p>
<p><u>二十九、梔子柏皮湯</u></p>
<p>大梔子（十五枚）　黃柏（半兩）　甘草（兩錢半）</p>
<p>上　咀，水二鐘煎。</p>
<p><u>三十、梔子厚朴湯</u></p>
<p>大梔子（七枚）　厚朴（半兩）　枳實（二錢）</p>
<p>上　咀，水煎。</p>
<p><u>三十一、十棗湯</u></p>
<p>芫花　大戟　甘遂（等分）</p>
<p>上為末，水一盞，棗十枚劈開煮汁半盞，調藥末半錢匕；實者一錢匕。</p>
<p><u>三十二、茵陳湯</u></p>
<p>茵陳（一兩）　大黃（半兩）　梔子（十枚）</p>
<p>上五錢，水煎。本方合陷胸湯。本方合大承氣湯（本方五分、陷胸湯三分、大承氣二分）。本方合解毒湯。</p>
<p><u>三十三、大黃黃連瀉心湯</u></p>
<p>大黃　黃連　黃芩（等分）</p>
<p>上五錢，水煎。一法加生薑，甚良。</p>
<p><u>三十四、桂苓甘露飲</u></p>
<p>（即五苓散加寒水石、石膏）</p>
<p>上為末，或溫湯、或新水、生薑湯調，或煎。一方不用豬苓。一方加甘草。一方有人參、藿香、木香、葛根、滑石、甘草共一十三味，一名桂苓白朮散。</p>
<p><u>三十五、人參石膏湯</u></p>
<p>人參（二錢半）　白朮（半兩）　知母（半兩）　黃芩（三錢）　川芎（半兩）　茯苓（半兩）</p>
<p>半夏（二錢）　山梔（三錢）　甘草（一兩）　石膏（三兩）</p>
<p>上　咀，薑煎。</p>
<p><u>三十六、崔宣武人參石膏湯</u></p>
<p>人參（二錢）　石膏（一兩）　川芎（二兩）　黃芩（二錢）　茯苓　防風（各三錢）　甘草（五錢）</p>
<p>上五錢，水煎。</p>
<p><u>三十七、半夏橘皮湯</u></p>
<p>半夏　陳皮　甘草　人參　茯苓　厚朴（各三錢半）　葛根（半兩）</p>
<p>上五錢，薑五片，水煎。</p>
<p><u>三十八、茯苓半夏湯</u></p>
<p>茯苓　半夏　生薑（各一錢取汁，素問藥證用水一大盞，煎至四分，絞汁，卻下生薑汁服。）</p>
<p>上，水煎。一方加黃芩、甘草、陳皮各一錢。</p>
<p><u>三十九、大橘皮湯</u></p>
<p>陳皮　甘草（各一兩）　人參（二兩）</p>
<p>上五錢，薑三片，水煎。</p>
<p><u>四十、赤茯苓湯</u></p>
<p>陳皮　甘草（各一兩）　人參（二兩）　半夏　白朮　川芎　赤茯苓（各半兩）</p>
<p>上五錢，薑五片，水煎。</p>
<p><u>四十一、檳榔散</u></p>
<p>檳榔　枳殼（等分）</p>
<p>上為末，三錢，黃連煎湯調下，或黃連解毒湯調下，或瀉心湯調下。</p>
<p><u>四十二、白朮散</u></p>
<p>白朮　茯苓　人參　藿香（各半兩）　甘草　葛根（各一兩）　木香（二錢半）</p>
<p>上末，白湯調下二錢。熱加滑石，或加生薑。</p>
<p><u>四十三、四逆湯</u></p>
<p>甘草（一錢）　乾薑（一分）　附子（中者半個）</p>
<p>水煎，溫服。</p>
<p><u>四十四、五味子湯</u></p>
<p>五味子（半兩）　麥門冬　人參　杏仁　陳皮（各二錢）</p>
<p>上五錢，薑、棗煎。</p>
<p><u>四十五、不臥散</u></p>
<p>川芎（一兩半）　石膏（七錢半）　藜蘆（半兩）　甘草　人參　細辛（各二錢半）</p>
<p>上為末，口噙水搐鼻，少時飲白湯半碗，汗出而解。一方無人參、細辛。</p>
<p><u>四十六、川芎湯</u></p>
<p>川芎　本　蒼朮（等分）</p>
<p>上為末，湯調三錢，須臾嘔、汗便解。</p>
<p><u>四十七、柴胡飲子</u></p>
<p>柴胡　人參　甘草　大黃　當歸　芍藥上銼五錢，薑五片，水煎。崔宣武加半夏、五味子、桔梗。</p>
<p><u>四十八、劉庭瑞方</u></p>
<p>柴胡　甘草（各二兩）　黃芩　當歸　芍藥（各一兩）　人參　半夏　大黃（各半兩）</p>
<p>大勞熱，五、七分以為度。</p>
<p><u>四十九、比金散</u></p>
<p>荊芥　麻黃　白芷　細辛　何首烏　菊花　防風　石膏　川芎　薄荷　全蠍　草烏上為末，各等分。每服一錢，煎服，或茶、酒送下。</p>
<p><u>五十、調胃散</u></p>
<p>水銀　舶上硫黃上研至黑、服一錢，米飲下。重者二錢。</p>
<p><u>五十一、通神散</u></p>
<p>（河間另有六神通解散，於此加麻黃發汗最佳。《和劑方》中蔥白散，於此去黃芩、滑石，加川芎、白朮、干葛，亦妙方也。）</p>
<p>蒼朮　石膏（各四兩）　甘草　黃芩（各二兩）　滑石（六兩）</p>
<p><u>五十二、益元散</u></p>
<p>（即天水散或名六一散）</p>
<p>滑石（六兩）　甘草（一兩）</p>
<p>上為末，水調或加蜜，或蔥豉湯調。一名天水散。一名六一散。</p>
<p><u>五十三、通聖散</u></p>
<p>防風　川芎　當歸　芍藥　大黃　薄荷　麻黃　連翹　芒硝（各半兩）　石膏（一兩）</p>
<p>黃芩　桔梗（各一兩）　滑石（一兩）　甘草（二兩）　荊芥　白朮　梔子（各二錢半）</p>
<p>上銼五錢，薑五片，水煎。</p>
<p><u>五十四、雙解散</u></p>
<p>益元散　通聖散（各半兩）</p>
<p>上一兩，薑、蔥、豉，水煎。</p>
<p><u>五十五、黃連香薷飲</u></p>
<p>香薷（一兩）　厚朴（半兩）　白扁豆（二錢半）　黃連（三錢）</p>
<p>上銼，五錢，入酒少許，水煎，冷服。</p>
<p><u>五十六、治腰腳骨節痛不止</u></p>
<p>用威靈仙煎酒，食前溫服極妙。</p>
<p><u>五十七、無憂丸</u></p>
<p>　治一切食積、氣積、茶積、酒積、瀉痢、氣蠱、腹脹膨悶、肚腹疼痛。</p>
<p>黑牽牛（一斤取末十三兩）　檳榔（好者二兩）　豬牙皂角（二兩）　三棱（二兩）　莪朮（二兩各用好醋浸，濕紙裹煨香熟，取出切碎。）</p>
<p>上同前藥晒乾為末，又用大皂角二兩，煎湯打面糊為丸。每服二錢半，白湯送下，茶亦可，薑湯下。</p>
<p><u>五十八、太乙神針</u></p>
<p>羌活　獨活　黃連（各四兩為末）　麝香（二錢）　乳香（二錢）</p>
<p>上用三月三日艾（四月八日亦可），晒乾打茸，入前藥末和勻，用好白紙卷包前藥如箸大。治風痹或在腿或在腰、在肱，灸七炷、二七炷、三七炷甚效。</p>
<p><u>五十九、治風蟲牙疼方</u></p>
<p>防風（去蘆）　草烏（去尖）　細辛（去葉）　巴豆（去殼油）</p>
<p>上各味等分為細末，擦牙痛處，涎出立止，切勿咽下。如食飲食，以鹽湯灌漱，飲無礙。</p>
<p><u>六十、神效追蟲取積感應丸</u></p>
<p>檳榔（半斤）　樟柳根（半斤）　貫眾（半斤）　大黃（半斤）　三棱（四兩醋煮）　雷丸（四兩醋煮）　莪朮（二兩醋煮）　使君子（四兩取肉）　木香（二兩）　芫花（一兩）　苦楝根皮（八兩）　黑牽牛（二斤半）　取頭末，十兩為衣皂角茵陳藿香自檳榔至牽牛為末外，用皂角等三味濃煎汁為丸，如梧桐子大。每服三錢重。</p>
<p><u>六十一、金刀如聖散</u></p>
<p>茅山蒼朮（六兩米泔浸一日一夜）　白芷（二兩）　川烏（四兩去皮臍生用）　防風（四兩淨生用）　細辛（三兩去土淨）　白朮（二兩五錢）　草烏（四兩）</p>
<p>本方用兩頭尖，無則以川芎四兩　雄黃五兩另研細末入藥上件俱各生用，晒乾為末用，一切金瘡及多年惡瘡，用自己小便洗過，貼藥立效。破傷風緊急用好酒調藥半錢或一錢服之。蛇傷，入枯白礬少許，調藥敷之。蠍蜇傷，用吐服，蓋之汗也；如汗不出再服，或涎出亦驗，傷處敷藥可。瘋狗咬傷處，口噙水洗淨，將藥貼傷處。湯火燙傷者，以新汲水調藥敷之。雷頭風並干濕癬、麻痹，每服半錢，服之立效。</p>
<p><u>六十二、蘆薈丸</u></p>
<p>　小兒痞疾、疳癆、肚大腹脹、面黃肌瘦、脾胃不和、驚積、食積，並皆治之。</p>
<p>蘆薈　麥　胡黃連（各一兩）　黃連（五錢）　蕪荑　肉豆蔻　木香　龍膽草（各四錢）</p>
<p>川楝子（五十個取肉）　三棱　蓬朮（各六錢）　檳榔（八錢）　使君子（六十個）　陳皮　青皮（各八錢）麝香（一錢半）　神麯（一兩半）　干蝦蟆（一枚）</p>
<p>上為細末，薄荷、豬膽汁為丸粟米大。每服一錢，空心米湯下。</p>
<p><u>六十三、無價寶</u></p>
<p>（一名壯陽丹）專治五勞七傷、四肢無力、腳腿沉困、骨節酸疼、面目無光、陽痿不起、下元虛冷、夢失精液。服至十夜，面目光滑，二十夜老轉少年；一月後陽道復原；四十夜增進飲食；至一百日，萬病皆除，冬不寒、夏不熱、須發不白。婦人服之，強陰暖子宮，陰陽有益，最有功效。</p>
<p>川楝子（二兩）　牛膝（一兩酒浸）　檳榔（一兩）　菟絲子（一兩另研酒浸）　蛇床子（一兩）　乾薑（五錢）　穿山甲（一大片酥炙）　蓮肉（一兩不去心）　乳香（三錢另研）　沉香（五錢另研）　白檀香（五錢另研）　鹿茸（一兩炙）　巴戟（一兩）　大茴香（一兩）　仙靈脾（三錢）　破故紙（五錢）　鳳眼草（三錢）　葫蘆巴（五錢）　人參（一兩）　澤瀉（一兩）　山藥（一兩）　五味子（一兩）　熟地黃（二兩）　麥門冬肉蓯蓉　茯苓（以上各一兩）　白芍藥（五錢）</p>
<p>上二十七味，除乳香、沉香、白檀香、菟絲子四味另研為細末，其余二十三味各搗爛為細末，同前四味煉蜜為劑，同搗一、二百千杵，丸如梧桐子大。每服三十丸，增至九十丸，好酒送下，以干物壓之。</p>
<p>修合之日再加丁香一錢。</p>
<p><u>六十四、膏藥方</u></p>
<p>松脂（三斤）　麻油（半斤）　穿山甲　白芨（二味各少許做點藥）　蓖麻（四十九粒研細）</p>
<p><u>六十五、定子藥</u></p>
<p>白礬（一兩火　同信一處）　信（五錢）　乳香（二錢）　沒藥（二錢）　辰砂（五分）</p>
<p>面糊為定。</p>
<p><u>六十六、生肌散</u></p>
<p>龍骨（火　）　赤石脂（火　各半兩）　乳香　沒藥　海螵蛸　輕粉　全蠍（洗焙乾各一錢）</p>
<p>血竭（二錢）　黃丹（一錢）</p>
<p>上為末，待瘡頭落盡，此藥填滿在瘡口上，以膏藥貼之。一日甘草湯洗二次，膏藥一、二日一換。</p>
<p><u>六十七、追風托裡散</u></p>
<p>甘草　黃　當歸　芍藥　白芷　防風　川芎　官桂　栝蔞仁　金銀花　桔梗每服水酒共二鐘，煎至一鐘，空心服。</p>
<p><u>六十八、象牙丸</u></p>
<p>象牙（五錢）　蜂房（三錢）　蟬蛻（三錢）　木香（三錢）　沒藥（一錢）　乳香（三錢）</p>
<p>全蠍（一只）　僵蠶（三錢）</p>
<p>先將黃蠟半斤化開，待黑色過卻，將前藥為細末，入蠟內攪勻，傾入水內，取出冷定為丸，如棗大。每服空心一丸，滾酒化開，連三日三服，待藥從漏痕出，隔三日再一服，第五日再服一丸，後下定子藥。</p>
<h3>傷寒用藥加減賦</h3>
<p>萬物之生也，人為最靈；四時有變兮，百疾兆生。欲辨陰陽之證，必明天地之情。稽寒溫表裡之疑，式明標本；施汗、下、補、吐之法，溥濟群生。</p>
<p>始而毫毛，次傳膚腠。惡風自汗，乃桂枝之證；喘熱惡寒，則麻黃之候。陰陽俱虛而身必癢，各半同功（桂枝麻黃各半湯代）；寒熱共作而脈尚虛，二、一共湊（桂枝二越婢一湯）。</p>
<p>於是助以薑、棗，雜以豉、蔥。便利、惡風者，乾薑；心悸、腹痛者，建中。脈熱極而煩者，入人參於白虎；脈煩盛而喘者，加杏子以青龍。結胸、下利而表解，朱雀取效；頭眩肉　而水泄，玄武當功。</p>
<p>致使橘梗寬咽，甘草平悸。腹內脹滿兮，厚朴、薑；心中懊　兮，梔子、豉。</p>
<p>小便不利，則投之以豬苓；膈間有痰，則吐之以瓜蒂。或乃熱作而腹脅脹滿；又若狂妄而潮熱發悸。或裡已入而表未除，或小便澀而大便秘。必明大、小柴胡，直敘前後承氣。結胸多渴，祝侍者議任陷胸；譫語發狂，委將軍（即大黃）功先調胃。</p>
<p>當知青龍、十棗兮，水分表、裡；三黃、四逆兮，利有寒、溫。下利者通脈，煩躁者茯苓（茯苓四逆湯）。脈絕用當歸（當歸四逆湯），亡血須人參（四逆加人參）；汗出加附子（附子瀉心湯），惡風入黃芩（黃芩瀉心湯），脅下有水則生薑（生薑瀉心湯），心中嘔逆則人參（人參瀉心湯）。上四者，總歸於四逆；下四者，類同於瀉心。溫寒實而解結胸，美三白之功妙；生津液而逐水道，嘉五苓之用深。</p>
<p>唾血則黃　宜服，便膿則桃仁可加。黃膽，茵陳必先求之瓜蒂（先瓜蒂後茵陳）；斑毒，紫雪當後用於升麻（先升麻後紫雪）。溫濕之於桂、附、蒼朮可入；理中之內參薑，附子宜加。</p>
<p>此外若青龍與柴胡有加減之余議：身有餘熱者，桂枝須加；脅下硬滿者大棗可去；多汗者附子加小柴胡；奔豚者桂枝加桂；喘者小青龍加杏仁；嗽者小柴胡加五味。瓜蒂治煩渴未除，茯苓醫小便不利。內寒者茱萸，外腫者防己。生薑止嘔，半夏療噦。用枳殼兮，緣酒毒留胸；有黃柏兮，因衄血出鼻。或得人參以除煩，或取茯苓而愈悸。頭痛如破，蔥白連須；咳逆欲絕，干柿並蒂。下利則乾薑，身痛則梔豉。豈二方之獨用，亦眾藥之同推。妙哉！吾今精此四十余年，活人之功嘗識。</p>
