<header><h1>吳醫匯講</h1></header>
<dl class="元資料" data-type="book">
<div><dt>作者</dt><dd>唐大烈</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1792/1801">公元1792年至公元1801年</data></dd></div>
</dl>
<h2>自序</h2>
<p>粵稽炎暉紀物，首垂《本草》之經，云瑞名官，肇啟《靈蘭》之笈。宗傳歷代，各立家言，　衍迄今，尤工搜錄。</p>
<p>篁南江氏，有《類案》之編，東逸羅君，有《匯粹》之選。惟淵源之有自，斯繼述之多人。矧吾吳文獻之邦，乃良醫薈萃之域，韓門昆季，擅盧扁之稱，葛氏喬梓，紹張劉之學，新甫、啟東二十子，前朝之著述已繁，生洲、路玉諸公，聖代之闡揚亦伙。《印機草》識元儀臨證之慎重，《讀書記》知在涇學業之深沉。凡此各自成書，出自諸家見地。</p>
<p>康熙時有過君繹之者，裒集眾賢治案，合鏤為書，名曰《吳中醫案》，此又片善悉錄，一藝必庸，旁搜博采而成者也。</p>
<p>夫廣羅成效，固以志鄉先輩之典型，而各抒論言，亦以征諸君子之詣力；況乎精是業者，高才不少，明其理者，卓識自多；匿采韜光，非乏枕中之秘；靈機妙緒，詎鮮囊底之珍，凡屬蘊藏，可勝惋惜。仆謹仿《吳中醫案》之舊帙，更輯《吳醫匯講》之新編，奧義顯詞，統為求教，長篇短節，並曰無拘，苟步武之克追，期當仁之不讓。乃荷同志弗靳輝光，共表深思，互相賞析，或疏往訓，既發覆而摘微，或出心裁，尤領新而標異，詮《玉版》之秘要，欣符麗澤之占，索《金匱》之真言，胥協盞簪之慶，勿謂禁方三十，獨推思邈得其奇，須知《肘後》四編，不惟《抱朴》窮其蘊。縱釀花為蜜，未免書癖之譏，而集腋成裘，堪補藝林之闕。</p>
<p><u>乾隆壬子仲秋長洲唐大烈立三氏書於問心草堂</u></p>
<h2>卷一</h2>
<h3>禱告藥皇誓疏</h3>
<p>康熙三十一年壬申長至日，王家瓚謹以清香禱告於藥皇曰：竊聞《詩》云：「上帝臨汝，無貳爾心。」《書》曰：「作善降之百樣，作不善降之百殃。」又曰：「惠迪吉，從逆凶，惟影響。」此列聖所垂之明訓也。微氓如家瓚，生既不辰，命復多舛，蓋自先祖母五十余年，撫孤植節，一線單傳，以迄於今。吾父衰齡望八，吾母見背，兩弟繼歿，俱無嗣息。</p>
<p>瓚所生兒女六人，亦皆以痘殤，孤危至此，無日不返躬自責也。惟此瘍醫世業，謹守家傳，凡見諸苦惱，無論貧富，先懷悲憫，耿耿此心，惟無可表。第自揣以褊淺之見識，荷司命之擔當，任大責重，豈盡無訛，清夜深思，愈增憂懼。</p>
<p>幸而歲戊辰，竟得子，已已冬出痘矣。庚午又得子，今冬又出痘矣。家瓚向天稽首，末由報答鴻麻，誠恐遷善不力，惡將集，舜　之分，間不容發，敢矢誓愿為承先裕後之基址。其首重者，忍辱安貧，畢生兢守，誓不趨時夸耀；或遇瀕危之症，悉心療治，誓不惜名恝置；或遇輕淺之疾，即時安慰，誓不張皇顯功；或病果疑難，學識未到，必詳審以待高明，誓不耽延貽誤；或遇富濃之家，誓不幸災攫利；或遇貧困之人，隨力救援，誓不市恩而沾譽；或遇當道　紳，隨緣調治，誓不媚諛以玷祖先。嗟乎！人命至重，冥報難逃，執一得以誤人，昧良心而罔利，均弗為之，若知之而自犯之，是自絕於天也。設家瓚世味攖心，初終易轍，陽譴陰誅，交加不悔，神抵在上，其明鑒之。惟是力有所不逮，情有所不忍，目擊貧病無告，煙火不繼之家，每有不堪之慘，徹底躊躇，點金乏術，今擬於薪水布袍之外，量為留余，制諸藥餌，為救療貧病之萬一。猶以母靈暴露，力不從心，然一安慈魄，此事亦誓必為之也。所仰祈者，老父壽而康寧，優游晚景，二子克自振立，以延列祖書香，以報張太君之苦節，則臣愿足矣。若夫一身之榮辱，則家瓚命相已定，不敢妄祈，不勝戰栗投誠之至。</p>
<p>丙午之秋，東作陰騭文頌言畢，復命兒輩於祖筆一卷中，檢先大父緘齋公「禱告藥皇誓疏」底稿，讀之怦怦心動。</p>
<p>鳴呼！以慈悲為命脈，以神明為監史，以忍辱為安貧之極致，以種德為詒謀之首務，苟非深明於天人相與之微，有能如是之憂勤惕厲者乎？東老矣，幸食舊德，以迄於今，綿及曾元，識字讀書，皆先人之賜也，謹錄一通，俾兒孫朝夕觀省，相與動心忍性，溫溫惴惴，無忝所生，是則予小子之責也夫。孫岱東百拜謹識，時年七十有三。</p>
<p>此篇誓疏，雖非講學之文，然惟有此實心，斯有實學，則是此心亦吾醫所宜亟講也。云林先生之後，迄今五世矣，不僅良醫代出，抑且書香相繼，安知非此存心之報哉？當弁卷首，以志我儕講學之一證。</p>
<p><u>大烈識</u></p>
<h3>溫證論治</h3>
<p>溫邪上受，首先犯肺，逆傳心胞。肺主氣，屬衛；心主血，屬營。辨營衛氣血，雖與傷寒同，若論治法，則與傷寒大異。蓋傷寒之邪留戀在表，然後化熱入裡；溫邪則化熱最速。未傳心胞，邪尚在肺，肺合皮毛而主氣，故云在表。初用辛涼輕劑。挾風，加薄荷、牛蒡之屬；挾濕，加蘆根、滑石之流。或透風於熱外，或滲濕於熱下，不與熱相搏，勢必孤矣。不爾，風挾溫熱而燥生，清竅必干，謂水主之氣不能上榮，兩陽相劫也。濕與溫合，蒸鬱而蒙痹於上，清竅為之壅塞，濁邪害清也，其病有類傷寒。驗之之法，傷寒多有變症，溫熱雖久，總在一經為辨。</p>
<p>前言辛涼散風，甘淡驅濕，若病仍不解，是漸欲入營也。營分受熱，則血液受劫，心神不安，夜甚無寐，或斑點隱隱，即撤去氣藥。如從風熱陷入者，用犀角、竹葉之屬；如從濕熱陷入者，用犀角、花露之品，參入涼血清熱方中。若加煩躁，大便不通，金汁亦可加入；老年及平素有寒者，以人中黃代之，急速透斑為要。若斑出熱不解者，胃津亡也，主以甘寒，重則如玉女煎，輕則如梨皮、蔗漿之類。或其人腎水素虧，病雖未及下焦，每多先自彷徨，此必驗之於舌。</p>
<p>如甘寒之中加入鹹寒，務在先安未受邪之地，恐其陷入耳。若其邪始終在氣分流連者，可冀其戰汗透邪，法宜益胃，令邪與汗並，熱達腠開，邪從汗出。解後胃氣空虛，當膚冷一晝夜，待氣還自溫暖如常矣。蓋戰汗而解，邪退正虛，陽從汗泄，故漸膚冷，未必即成脫症。此時宜安舒靜臥，以養陽氣來復，旁人切勿驚惶，頻頻呼喚，擾其元氣。但診其脈，若虛軟和緩，雖倦臥不語，汗出膚冷，卻非脫症；若脈急疾，躁擾不臥，膚冷汗出，便為氣脫之症矣。更有邪盛正虛，不能一戰而解，停一二日再戰汗而愈者，不可不知。</p>
<p>再論氣病有不傳血分，而邪留三焦，猶之傷寒中少陽病也。彼則和解表裡之半，此則分消上下之勢。隨症變法，如近時杏、朴、苓等類；或如溫膽湯之走泄。因其仍在氣分，猶有戰汗之門戶，轉瘧之機括也。大凡看法，衛之後方言氣，營之後方言血。在衛汗之可也，到氣才宜清氣。乍入營分，猶可透熱，仍轉氣分而解，如犀角、元參、羚羊等物是也。</p>
<p>至入於血，則恐耗血動血，直須涼血散血，如生地、丹皮、阿膠、赤芍等物是也。若不循緩急之法，慮其動手便錯耳。</p>
<p>且吾吳濕邪害人最多，如面色白者，須要顧其陽氣，濕勝則陽微也。如法應清涼，用到十分之六七，即不可過涼，蓋恐濕熱一去，陽亦衰微也。面色蒼者，須要顧其津液，清涼到十分之六七。往往熱減身寒者，不可便云虛寒而投補劑，恐爐煙雖熄，灰中有火也，須細察精詳，方少少與之，慎不可漫然而進也。又有酒客，裡濕素盛，外邪入裡，與之相搏，在陽旺之軀，胃濕恆多，在陰盛之體，脾濕亦不少，然其化熱則一。熱病救陰猶易，通陽最難。救陰不在補血，而在養津與測汗；通陽不在溫，而在利小便，較之雜症有不同也。</p>
<p>再論三焦不從外解，必致裡結，裡結於何？在陽明胃與腸也。亦須用下法，不可以氣血之分，謂其不可下也。惟傷寒熱邪在裡，劫爍津液，下之宜猛；此多濕邪內搏，下之宜輕。傷寒大便溏為邪已盡，不可再下；濕溫病大便溏為邪未盡，必大便硬，乃為無濕，始不可再攻也。再人之體，脘在腹上，其位居中，按之痛，或自痛，或痞脹，當用苦泄，以其入腹近也。必驗之於舌，或黃或濁，可與小陷胸湯或瀉心湯隨症治之。若白不燥，或黃白相兼，或灰白不渴，慎不可亂投苦泄。其中有外邪未解，裡先結者，或邪鬱未伸，或素屬中冷者，雖有脘中痞痛，宜從開泄，宣通氣滯，以達歸於肺，如近世之杏、蔻、橘、桔等，輕苦微辛，具流動之品可耳。又有舌上白苔黏膩，吐出濁濃涎沫者，其口必甜，此為脾癉。乃濕熱氣聚，與穀氣相搏，土有餘也，盈滿則上泛。當用佩蘭葉，芳香辛散以逐之。若舌上苔如鹼者，胃中宿滯，挾濁穢鬱伏，當急急開泄，否則閉結中焦，不能從募原達出矣。</p>
<p>再舌苔白濃而干燥者，此胃燥氣傷也，滋潤藥中加甘草，令甘守津還之意。舌白而薄者，外感風寒也，當疏散之。</p>
<p>若薄白而干者，肺液傷也，加麥冬、花露、蘆根汁等輕清之品，為上者上之也。若苔白而底繹者，濕遏熱伏也，當先泄濕透熱，防其即干也；此可勿憂，再從裡而透於外，則變潤矣。初病舌即干，神不昏者，宜急養正，微加透邪之藥；若神已昏，此內潰，不可救藥矣。</p>
<p>前云舌黃或濁，當用陷胸、瀉心，須要有地之黃。若光滑者，乃無形濕熱，已有中虛之象。大忌前法。其臍以上為大腹，或滿、或脹、或痛，此必邪已入裡，表症必無，或存十之一二，亦須驗之於舌。或黃甚，或如沉香色，或如灰黃色，或老黃色，或中有斷紋，皆當下之，如小承氣湯，用檳榔、青皮、枳實、元明粉、生首烏等皆可。若未現此等舌，不宜用此等藥，恐其中有濕聚太陰為滿，或寒濕錯雜為痛，或氣壅為脹，又當以別法治之矣。</p>
<p>再黃胎不甚濃而滑者，熱未傷津，猶可清熱透表。若雖薄而干者，邪雖去而津受傷也，苦重之藥當禁，宜甘寒輕劑養之。</p>
<p>再論其熱傳營，舌色必絳。絳，深紅色也。初傳繹色，中兼黃白色，此氣分之邪未盡也，泄衛透營，兩和可也。純絳鮮澤者，胞絡受邪也，宜犀角、鮮生地、連翹、鬱金、石菖蒲等清泄之。延之數日，或平素心虛有痰，外熱一陷，裡絡即閉，非菖蒲、鬱金等所能開，須用牛黃丸、至寶丹之類，以開其閉，恐其昏厥為痙也。</p>
<p>再論舌絳而干燥者，火邪劫營，涼血清血為要。色絳而舌心干者，乃心胃火燔，劫爍津液，即黃連、石膏亦可加入。</p>
<p>其有舌心獨絳而干者，亦胃熱而心營受灼也，當於清胃方中加入清心之品，否則延及於尖，為津干火盛之候矣。舌尖獨絳而干，此心火上炎，用導赤散瀉其腑。若煩渴、煩熱，舌心干、四邊色紅、中心或黃或白者，此非血分也，乃上焦氣熱爍津，急用涼膈散散其無形之熱，再看其後轉變可也；慎勿用血藥，反致滋膩留邪。至舌絳望之若干，手捫之原有津液，此津虧濕熱薰蒸，將成濁痰蒙閉心胞也。舌色絳而上有黏膩，似苔非苔者，中挾穢濁之氣，急加芳香逐之。舌絳而抵齒難伸退場門者，痰阻舌根，有內風也。舌絳而光亮，胃陰亡也，急用甘涼濡潤之品。舌絳而有碎點黃白者，將生疳也。</p>
<p>大紅點者，熱毒乘心也，用黃連、金汁。其有雖絳而不鮮，干枯而痿者，此腎陰涸也，急以阿膠、雞子黃、地黃、天冬等救之，緩則恐涸極而無救也。</p>
<p>再有熱傳營血，其人素有瘀傷宿血在胸膈中，舌色必紫而暗，捫之潮濕，當加散血之品，如琥珀、丹參、桃仁、丹皮等，否則瘀血與熱相搏，阻遏正氣，遂變如狂發狂之症。若紫而腫大者，乃酒毒衝心。紫而干晦者，腎、肝色泛也，難治。</p>
<p>舌若淡紅無色，或干而色不榮者，乃是胃津傷而氣無化液也，當用炙甘草湯，不可用寒涼藥。</p>
<p>再有不拘何色，舌生芒刺者，皆是上焦熱極也，當用青布拭冷薄荷水揩之，即去者輕，旋即生者險矣。</p>
<p>舌苔不燥，自覺悶極者，屬脾濕盛也。或有傷痕血跡者，必問曾經搔挖否，不可以有血而便為枯症，仍從濕治可也。</p>
<p>再有神情清爽，舌脹大不能退場門者，此脾濕胃熱鬱極化風，而毒延於口也，用大黃磨入當用劑內，則舌脹自消矣。</p>
<p>舌無苔而有如煙煤隱隱者，慎不可忽視。如口渴煩熱而燥者，平時胃燥也，不可攻之，宜甘寒益胃；若不渴、肢寒而潤者，乃挾陰病，宜甘溫扶中，此何以故？外露而裡無也。</p>
<p>舌黑而滑者，水來克火，為陰症，當溫之。若見短縮，此腎氣竭也，為難治，惟加入參、五味子，或救萬一。舌黑而干者，津枯火熾，急急瀉南補北。若黑燥而中心濃者，土燥水竭，急以鹹苦下之。</p>
<p>若舌白如粉而滑，四邊色紫絳者，溫疫病初入募原，未歸胃腑，急急透解，莫待傳入而為險惡之症。且見此舌者，病必見凶，須要小心！凡斑疹初見，須用紙燃照看胸背兩脅，點大而在皮膚之上者為斑，或云頭隱隱，或瑣碎小粒者為疹，又宜見而不宜多見。按方書謂斑色紅者屬胃熱，紫者熱極，黑者胃爛，然亦必看外症所合，方可斷之。春夏之間，濕病俱發斑疹為甚，如淡紅色，四肢清，口不甚渴，脈不洪數，此非虛斑，即屬陰斑。或胸前微見數點，面赤足冷，或下利清穀，此陰盛格陽於上，當溫之。若斑色紫而點小者，心胞熱也；點大而紫，胃中熱也。斑黑而光亮者，熱毒極熾，雖屬不治，然其人氣血充者，依法治之，或有可救。若黑而晦者，必死。黑而隱隱，四旁赤色者，乃火鬱內伏，大用清涼透發，間有轉紅而可救者。又有夾斑帶疹，皆是邪之不一，各隨其部而泄；然斑屬血者恆多，疹屬氣者不少。斑疹皆是邪氣外露之象，發出之時，宜神情清爽，方為外解裡和；如斑疹出而昏者，此正不勝邪而內陷，或胃津內涸之候矣。</p>
<p>再有一種白　，小粒如水晶色者，此濕熱傷肺，邪雖出而氣液枯也，必得甘藥補之。若未至久延，氣液尚在未傷，乃為濕鬱衛分，汗出不徹之故，當理氣分之邪。枯白如骨者多凶，氣液竭也。</p>
<p>再溫熱之病，看舌之後，亦須驗齒。齒為腎之余，齦為胃之絡，熱邪不燥胃津，必耗腎液，且二經之血走於此處。</p>
<p>病深動血，結瓣於上。陽血色紫，紫如乾漆；陰血色黃，黃如醬瓣。陽血若見，安胃為主；陰血若見，救腎為要。然豆瓣色者多險，惟症尚不逆者猶可治，否則難治矣，此何故耶？蓋陰下竭，陽上厥也。</p>
<p>齒若光燥如石者，胃熱甚也，證見無汗惡寒，衛偏勝也，辛涼泄衛透汗為要。若如枯骨色者，腎液枯也，為難治。</p>
<p>若上半截潤，水不上承而心火上炎也。急急清心救水，俟枯處轉潤為妥。若切牙嚙齒者，濕熱化風，痙病。但切牙者，胃熱氣走其絡也。切牙而脈症皆衰者，胃虛無穀以內榮也，此何以故？虛則喜實也。舌本不縮而硬，牙關咬定難開者，此非風痰阻絡，即欲作痙症，用酸物擦之即開，酸走筋，木來泄土故也。</p>
<p>若齒垢如灰糕樣者，胃氣無權，津亡而濕濁用事，多死。初病齒縫流清血，痛者為胃火沖激，不痛者為龍火內燔。</p>
<p>齒焦無垢者死；齒焦有垢者，腎熱胃劫也，當微下之，或玉女煎清胃救腎可也。</p>
<p>再婦人病溫與男子同，但多胎前產後，以及經水適來適斷。大凡胎前病，古人皆以四物加減用之，謂恐邪來害妊也。</p>
<p>如熱極者，有用井底泥及藍布浸冷覆蓋腹上等，皆是護胎之意，然亦須看其邪之可解而用之。如血膩之藥不靈，又當審察，不可固執，仍宜步步保護胎元，恐正損邪陷也。至於產後，方書謂慎用苦寒，恐傷已亡之陰也，然亦要辨其邪能從上中解者，稍從症用之，亦無妨也；不過，勿犯下焦，且屬虛體，當如虛怯人病邪而治。況產後當血氣沸騰之際，最多空竇，邪必乘虛內陷，虛處受邪，為難治也。如經水適來適斷，邪將陷於血室，少陽傷寒言之詳悉，不必多贅，但數動與正傷寒不同，仲景立小柴胡湯，提出所陷熱邪，參、棗以扶胃氣，因衝脈隸屬陽明也，此惟虛者為合治。若熱邪陷入，與血相結者，當宗陶氏小柴胡湯，去參、棗，加生地、桃仁、查肉、丹皮，或犀角等。若本經血結自甚，必少腹滿痛，輕者刺期門，重者小柴胡湯去甘藥，加延胡、歸尾、桃仁，挾寒加肉桂心，氣滯加香附、陳皮、枳殼等。然熱陷血室之症，多有譫語、如狂之象，與陽明胃熱相似，此種病機，最須辨別。血結者，身體必重，非若陽明之輕便者，何以故耶？陰主重濁，絡脈被阻，身之側旁氣痹，連及胸背，皆為阻窒，故去邪通絡，正合其病。往往延久，上逆心胞，胸中痹痛，即陶氏所謂血結胸也，王海藏出一桂枝紅花湯，加海蛤、桃仁，原欲表裡上下一齊盡解之理，此方大有巧妙焉。</p>
<h3>人身一小天地論</h3>
<p>造化一陰陽也，陰陽一太極也，太極本無極也。無極之前，陰含陽也，有象之後，陰分陽也。陰為陽母，陽為陰父。</p>
<p>陽生於子，極於已，而一陰來　；陰生於午，極於亥，而一陽來復。震為長男屬火，火生於寅，胞胎在已；巽為長女屬水，水生於申，胞胎在亥。巳亥為天地之門戶，陰陽之根本也。人稟健順之德，以生五行之氣，隱於五臟，見於六腑。呼吸，即陰陽運輸也；津液，即雨露灌溉也；光澤，即花木榮繁也；耳目，即日月晦明也，人身一小天地，信哉。善觀脈者，知陰則知陽，知陽則知陰，可以心察，可以指別，可以類求，可以意會，可以萬全，至道淵微，莫逾於此。順而調之，真氣乃安，邪氣乃正，反之則病。實則氣入，虛則氣出；氣實則熱，氣虛則寒。治之若何？溫涼各隨其候，補瀉各有其宜，無虛虛，無實實，無太過，無不及，上應天光、星辰、象緯，下副四時、五行、貴賤，以明三部九候，以察八正、八風、陰陽、升降，配天象地之說，是在神悟靈機，心識微妙者矣。</p>
<h3>書方宜人共識說</h3>
<p>國家征賦，單曰易知；良將用兵，法云貴速；我儕之治病亦然。嘗見一醫，方開小草，市人不知為遠志之苗，而用甘草之細小者。又有一醫，方開蜀漆，市人不知為常山之苗，而令加乾漆者。凡此之類，如寫玉竹為萎蕤，乳香為薰陸，天麻為獨搖草，人乳為蟠桃酒，鴿糞為左蟠龍，灶心土為伏龍肝者，不勝枚舉。但方書原有古名，而取用宜乎通俗，若圖立異矜奇，致人眼生不解，危急之際，保無誤事？又有醫人工於草書者，醫案人或不識，所系尚無輕重；至於藥名，則藥鋪中人，豈能盡識草書乎？孟浪者約略撮之而貽誤，小心者往返詢問而羈延。可否相約同人，凡書方案，字期清爽，藥期共曉。再如藥引中生薑常寫幾片，燈心常寫幾根，竹葉、橘葉常寫幾瓣，蔥管、荷梗常寫幾寸，余謂片有濃薄，根有短長，瓣有大小，寸有粗細，諸如此類，皆須以分兩為準。又煎藥宜囑病家，各藥各罐，勿與他人共用，恐彼煎攻克，此煎補益，彼煎寒涼，此煎溫熱，譬如酒壺泡茶，雖不醉人，難免酒氣。此說偶見於《愿體集》中，竊以為先得我心，故亦摘而贅之。</p>
<h2>卷二</h2>
<h3>日講雜記</h3>
<p>在《易》先天圖KT　在上在南，後天圖KT　，在下在西北，與《內經》之旨正合，體用互呈，生成供著，人身一小天地，豈不信哉？《系辭》釋先天圓圖云：「數往者順，知來者逆。」「數往者順」，即後天之用，五行相生之謂，《內經》人壽可得百年之說也；「知來者逆」，即反五行之相克者為相生，軒岐治病之秘旨也。從後天圖經逆到先天圖位，便是金丹大道，攢簇五行作用。余嘗言人須到得半個神仙身分，方當得起名醫二字，實非浪語。</p>
<p>凡大疫之年，多有難識之症，醫者絕無把握，方藥雜投，夭枉不少，要得其總訣，當就三年中司天在泉，推氣候之相乖者在何處，再合本年之司天在泉求之，以此用藥，雖不中，不遠矣。</p>
<p>讀《素問》耳兼心、腎，與《靈樞》合看，則又兼肺，可見每竅皆兼五行，如天地之互相入者。</p>
<p>喻江西才宏筆肆，專以大言欺人，惟論溫則自呈敗缺不少，人不知其牽混也，溫、瘟二症，絕無界限，使後學亦往往混讀，而不甚分明，余故於此三致意焉。</p>
<p>長沙夫子用阿膠，何曾云炒，後人畫蛇添足耳。阿膠之用，專為濟水伏流也，炒之濟水何在哉？「傷寒脈浮滑，此表有熱，裡有寒」。表之熱、寒之用，裡之寒、熱之體。言熱病本於寒，寒既病而為熱矣，則體用皆熱也，漢之文法如此。</p>
<p>「婦人手少陰脈動甚者，妊子也」。「陰搏陽別，謂之有子」。手少陰脈盛，是宜妊子之象，及笄之子，亦有之者，過此不得，亢極為病，比比然也。若陰搏陽別，已有子也。一句虛看，一句實看，方是女子尺脈常盛，寸脈常虛。此言陽別者，猶云與平日之脈有別，至是而寸脈亦覺洪滑，故云少陰脈動甚者妊子也。</p>
<p>《內經》夢事，雖分臟腑陰陽，大要總系心、肝兩臟為主，何也？未有神魂靜而夢寐顛倒者也。</p>
<h3>《金匱》上工治未病一節辯</h3>
<p>此節諸家注釋，皆隨文敷衍，惟尤在徑以「酸入肝」以下十五句，謂「疑非仲景原文，後人謬添注腳，編書者誤收之也。細按語意，『見肝之病』以下，是答「上工治未病」之辭，「補用酸」三句，乃別出肝虛正治之法，觀下文「肝虛則用此法，實則不在用之」，意可見矣。烈謂在涇所云注腳之說，可稱千古只眼，惟是此節專為「治未病」而設，「補用酸」三句，非皆肝虛之治，兼出實脾之法，蓋言肝若虛者，用酸補之，若實者，用焦苦補火以助土，甘味直益其土也。</p>
<p>「酸入肝」三句，與上三句針對，尚可為上三句申明其義，可毋謂之謬注。「脾能傷腎」以下十二句，無論補脾以傷腎，縱火以爍金，然後使肝無伐，獲益者少，受傷者反多，已屬不經，且於治法亦隔四臟，迂回極矣。更脾得補而生肺金來克木，僅隔二臟，脾土勝而克水少於涵木，亦隔二臟，忘其近者，而以迂遠之說強為穿鑿，謬注顯然。況凡「臟病惟虛者受之，而實者不受；臟邪惟實者能傳，而虛者不傳。」故治肝虛者，直補其肝，以御外侮；治肝實者，先實脾土，以防滋蔓，此正治也。「肝虛則用此法，實則不在用之」二句，愚見亦以為謬注，刪此十四句，則下文虛虛實實等句，一氣貫穿矣。</p>
<h3>辨《金匱》之</h3>
<p>《金匱》第十三節「清邪居上，濁邪居下，大邪中表，小邪中裡」之下，魏柏鄉諸本作「　飪之邪」，徐忠可諸本作「　之邪」，醫以「　字讀作「穀」字者居多，以致《金匱心典》竟作「穀　之邪」矣。蓋因梅誕生《字匯》無此「　」</p>
<p>字，而「　」字注云：面裹屬，故誤以「穀」字配之，而為難化之物也。考《康熙字典》「　」字注云：讀與「　」同，即以《金匱》　飪之邪」句實之。按「飪為烹調生熟之節，則此句當作馨香可口，過食之而停滯，應讀「　（音馨）飪」</p>
<p>為是。以「　」讀「穀」，以「飪」作「　」，及竟作「穀　」者，皆非也。</p>
<h3>二陽之病發心脾解</h3>
<p>二陽者，足陽明胃、手陽明大腸也。其病發於心脾，蓋因思為脾志，而實本於心。其始也，有不得於隱曲之事，於是思則氣結，鬱而為火，以致心營暗耗，既不能下交於腎，脾土鬱結，又轉而克腎，是以男予少精，女子不月，無非腎燥而血液干枯也。且夫脾有鬱火，則表裡相傳，胃津亦涸；大腸為胃之傳道，故並大腸而亦病也。此二陽之病，當以燥火之證言，在胃則為消、為格，在腸則為閉、為鞭；至於胃腑既燥，而脾無以行其津液，則為風消。風消者、火甚而生風，脾憊而肌肉消削也。大腸之燥傳入於肺，則為息奔。息奔者，息有音而上奔不下也。四臟二腑交相燔灼，陰液盡耗，故直斷為「死不治」。昔王安道以腸胃有病，延及心、脾，顛倒其說，於「不得隱曲」之故，闕而未洋。喻嘉言闡發稍明，亦但言其所當然，而未窮其所以然，故更詳之。</p>
<h3>維脈為病論治</h3>
<p>《二十九難》曰：「陽維為病苦寒熱，陰維為病苦心痛」。越人但有是說，而無治法，後人以桂枝湯為治，可謂中肯。</p>
<p>蓋「陽維維於陽」，屬於衛也，故為寒熱；「陰維維於陰」，屬於營也，故為心痛。桂枝湯有和營衛，調陰陽之力，適合比例以治也。</p>
<h3>張、劉、李、朱後，當以薛、張、吳、喻配為八大家論</h3>
<p>自有軒、岐、越人以來，著書立說者，不下數百家，而久推張、劉、李、朱為四大家者，蓋以仲景首論傷寒，立法立方，實為醫祖。守真復以春溫夏熱立言，補仲景之未備。東垣詳辨脾胃內傷，與外感懸殊，又補張、劉之未備。丹溪又專論補陰，再補東垣之未備。各有見地，迭為補閥，已有李士材論之曉暢矣。而余謂言外感者張、劉，言內傷者李、朱，似乎備矣，而實有未盡。明之薛立齋，謂十三科一理，慨外科固執成方，不窮病本，特發內外合一之論；又以風會不齊，今人虛薄，痛戒寒涼，多行溫補，此又補丹溪之未備，而擴人胸臆者。由是張景岳、李士材輩，著述頗行，實皆立齋之余韻也。雖然，內傷諸症，脾胃獨詳於李氏，陰陽分擅於朱、薛，可謂無遺蘊矣。而外感風寒溫熱之外，尚有夏月直受暑邪者，雖潔古、東垣輩以動靜分陰陽，似屬近理，自有張鳳逵申明傷暑之理蘊，特著《全書》，可云見老。復有喻嘉言，不獨從仲景書中悟出冬溫、春溫、伏氣為病，於千百年無人道破之書，一旦揭其微義，誠為暗中一大炬；更悟出秋燥一門，指破《內經》秋傷於濕」之誤，可稱千古只眼，至此而天之六氣，方云大備。更有不關六氣，而亦屬外受之疫邪，諸書中雖亦有所闡發，而莫如吳又可直窮變態，反覆詳明，此又於講求外感諸家，補其未備者也。其外載籍充棟，縱各有可采之論，可傳之方，無論醇於此者疵於彼，難稱完壁，即有腹筒廣博，卷帙充盈者，要不及薛、張、吳、喻四先生，各開生面，以補張、劉、李、朱之闕也，讀其書，不敢沒其功，故特以八大家推之。</p>
<h3>醫宜博覽論</h3>
<p>病有常變，治亦有常變，無不備載於書中，固在乎人之善於取裁也。然而世人之病，不獨變端莫測，談非容易，更有證出希奇，人難習見，當此時也，將束手而待斃那，抑漫然而嘗試耶？載籍極博，奇妙不少，試舉一二言之。辛亥春、元墓墳丁沈長觀：大腸頭忽出寸許，痛苦難忍，干則退落，又出又落，二十日余，如是者三次，就治於外科，始有稱為肛癰者，繼則莫能治之。一日赴城中王士林家求治，士林曰：此名「截腸」，病出於夏子益《怪疾奇方》，此時尚可治之，再出再落，則不可救矣。令以臀坐浸於芝麻油內，再日飲麻於汁數盞，不數日而愈。夫夏子益書，今已無傳，不過散見於《本草綱目》，王子留心及此，其博記可知。又巳亥歲春，有泰興縣人纓志文，被訟管押，驟然周身發泡，流水皮HT，毫無空隙，即行斃命，尸屬具控，奉撫臬各憲調發蘇州府審辦，郡侯楊公，轉行府醫學翁公查議，是否毒發，有無此瘡？翁公以系內科，請飭外科查覆，闔郡外科，皆無以對。翁公偶過寒齋，談及此事，余曰：曾見彭用光《普濟良方》載有「虜瘡」，云建武中南陽擊虜所得，與此證情形悉合，須以蜜煎升麻拭摩，若不即療，數日必死等語，《綱目》蜂蜜注中亦有是說，翁即借去此書，並即申明於內科醫生唐立三家借得，簽呈詳覆而定案，於是縣差之罪得雪，設使是時苟無此書，幾成冤獄矣。又庚戍冬，南營高姓女，兩足指忽青黑紫爛，不知痛癢，漸延至跗脛踝間，請治於外科多人，有云脫疽者，有云落腳傷寒者，並有推為冤業症者，咸稱不治，及邀葑門陸鳳翼視之，云：「此不成為病，止服溫通氣血之劑，外用臘槽煎洗，不數日可愈」，果如其言。眾皆異之，余於附近視症，聞之亦異，後遇陸子詢其故，答曰：「診其脈，惟稍澀，余無病象，並問其素常裹足過緊，因知此症不過血脈受寒，冰凝不運，於是肌肉潰爛耳。」此乃切問精詳，又不張大顯功，殊可欽也。又丙午春、有海門人王潮患病，延醫張勝林用桂、附等藥，病已漸輕，換醫陳若山，因王潮面帶赤色，身不惡寒，用犀角等味涼藥，越日即死。其父王德甫毆傷陳若山身死，奉臬憲常公提至省城審辦，因余有府醫學之任，下余辨議，余以《傷寒論》少陰病，裡寒外熱，身反不惡寒，其人面色赤，通脈四逆湯主之一條，與此案前醫所用之藥相符；又景岳《寒熱真假篇》云，凡真熱本發熱，而假熱亦發熱，其病亦為面赤躁煩等證，昧者見之，便認為熱，妄投寒涼，下咽必斃等語，又與服犀角等藥越日即死相符。其為陳若山誤治而死無疑，詳覆定案，於是王德甫痛於毆醫，罪得輕減。又巳酉歲、表甥陸灌園患瘧半年，大肉盡削，後變黃疽，繼而兩膝腫痛，大如鶴膝，兩股腑　皆青黑，痛甚而冰冷，又上下牙齦紅腫，形如榴子，色若塗殊，日漸潰爛，滿口熱如火烙，舌亦紅紫而痛，湯粥難下，病勢可危，遍請外科圖治，皆云下部陰寒，上焦火亢，殊為棘手，余索不諳外科，亦同聲無措。一日延山塘劉玉如來，云此一症也，名曰「青腿牙疳」，載於《御纂醫宗金鑒》，如方調治而愈。夫《醫宗金鑒》人所應讀之書也，延過外科數位，無人或識，惟劉於知之，多見其有學也。即此五病，失治則死，得治則生，一死一生，出乎醫手，由是觀之，書可不覽哉！覽可不博哉！司人性命者，豈僅粗知經絡、藥性、脈訣、湯頭，遂可云勝任哉！</p>
<h3>讀《傷寒補天石》、《貫珠集》二書合記</h3>
<p>傷寒一症，頭緒繁多，自仲景立法立方以來，叔和編次，無已注釋，理蘊為之一顯。迨後續為注釋者，不下數十家，互相訾低，殆無底止。余謂數十家中，吳蒙齋之《指掌》，固為捷徑，雖李士材亦以為善，然而奧義深微，末由參究。方中行起而《條辨》，洵為卓識。程郊倩拾其唾余，徒滋浮衍。柯韻伯立言雖暢，不免穿鑿。至如張路玉、周禹載諸君詮發，各極精詳，又或嫌其叢蔓。獨有喻氏之書，膾炙人口者，以其繁簡得宜，通乎眾耳。然以尤在涇先生《貫珠集》較之，則又徑庭矣。即如首篇云：「寒之淺者，僅傷於衛，風而甚者，並及於營；衛之實者，風亦難泄，衛而虛者，寒猶不固。</p>
<p>但當分病症之有汗無汗，以嚴麻黃、桂枝之辨，不必執營、衛之孰虛孰實，以證傷寒中風之殊。」立為正治法、權變法、斡旋法、救逆法、類病法、明辨法、雜治法等，仲景著書之旨，如雪亮月明，令人一目了然，古來未有。何其《金匱心典》梓行於世，並采入《御纂醫宗金鑒》，而《貫珠集》一書，尚未傳播，良可惜哉。至於變通其法而云今昔異宜者，如陶節庵、高鼓峰輩，雖亦代有傳書，而莫如戈存橘之《補天石》為最，舉凡四時感症，無論正傷寒、類傷寒，分條辨治，各極其妙，可謂博而詳，詳而約矣。其書板廢之後，莫之再鏤者，余實不得其解，欲將戈、尤二君之書合鐫行世，一則由證以立法，一則由法以辨證，相為經緯，了如指掌，竊以為凡屬感症，止須讀此二書，思過半矣。無如力不從心，因循未鏤，今老矣，有志而不逮矣，愛紀數語，以俟諸同學，或有意見相同者否。</p>
<h3>妊娠陰脈小弱論</h3>
<p>《內經》言手少陰脈動甚謂之有子，陰搏陽別謂之有子，曰動、曰搏，皆有力之象也；而《金匱》復以「陰脈小弱，其人渴，不能食，無寒熱」者為妊娠，二說何其相反耶？蓋《內經》所云者，一謂手中之少陰腎脈，血聚氣盛故脈動，一謂陰得胎氣而強，故陰脈搏指，而陽脈反與之有別，此皆於三月之胎診之始驗。其《金匱》所云者，謂下焦之氣血驟為胎蝕，暫似有虧，故脈小弱，此惟於兩月左右驗之，過此則不然矣，是以下文有「於法六十日當有此證」句。由是觀之，二書似反而實同也，然更以《千金》所云「初時寸微小，呼吸五至，三月而尺數」之語，合而參之，斯得圓通之妙焉。</p>
<h3>讀書十則（有小序）</h3>
<p>嘗讀喻西昌書，有曰「邇來習醫者眾，醫學愈荒，無方之書全不考究，有方之書奉為靈寶」云云，可知吾儕之學問，全在乎無方之書為根本也，然而《典》、《墳》具在，蘊奧良多，何以考之，何以究之哉？聊紀數則，以為引伸之鑒。</p>
<h3>讀書須看反面</h3>
<p>丹溪曰：方書瘦胎飲一論，為湖陽公主作也，予族妹苦於難產，予甚憫焉，視其形肥而勤於針HT　，構思旬日，忽自悟曰，此正與湖陽公主相反。彼奉養之人，其氣必實，耗其氣使和平，故易產。今形肥，知其氣虛，久坐，知其不運，今其有孕至五六月，遂於大全方紫蘇飲加補氣藥，與十數貼，因得男兒甚快。烈按同一難產，而有虛實之別，補氣之方，反從瘦胎飲悟出。故凡前賢議論，必明其正義，又必於反面構思，方不為其所囿，可見讀書不可獨泥於正面也。</p>
<h3>讀書須悟對面</h3>
<p>趙養葵《五行論》曰：「世人皆曰金生水，而予獨曰水生金。夫肺出氣也，腎納氣也。凡氣從臍下逆奔而上者，此腎虛不能納氣歸元也，毋徒從事於肺，或壯水之主，益火之源，肺向水中生矣」。烈按：水生金，乃金生水之對面也，世人但知其一面，而不知又有彼一面，凡此之類，自在人善悟之耳。</p>
<h3>讀書須識正旨</h3>
<p>《素問‧通評虛實論》曰：「帝曰：腸　便血何如？岐伯曰：身熱則死，寒則生。」吳鶴皋注云：「身熱則血敗，而孤陽獨存，故死。」烈按：腸　便血之身熱有三：一則表邪下陷於陽明，藥中加葛根，胃氣得升即愈；一則陰盛格陽，雖為危候，亦有用溫藥而得生者；惟陰氣已竭之身熱，於法不治。吳鶴皋但注得孤陽獨存，可知陽陷與格陽不在此例也，苟使泥於吳注，幾疑此症惟有孤陽獨存矣，並疑凡身熱者皆死矣。故曰讀書須識正旨。</p>
<h3>讀書必須匯參</h3>
<p>李念莪《腫脹論》引《內經》實脹四條，虛脹二條，寒脹三條，熱脹一條，又五運六氣各有腫脹。然有提其綱者，曰，「諸濕腫滿，皆屬於脾。」又曰：「其本在腎，其末在肺，皆聚水也。」又曰：「腎者胃之關也，關門不利，故聚水而從其類也。」可見諸經皆有腫脹，無不由於脾肺腎三者。烈按：今醫之各有所偏者，因看書時不能參考異同，以致囿於一說，遂為成見。張路玉《醫通》凡例曰：「從古立言，止就一端而論」，誠哉是言也，故引此以為讀書必須匯參之法。</p>
<h3>讀書須立主見</h3>
<p>《景岳全書‧關格門》歷引《經》文，而曰關格一證，《內經》本言脈體，以明陰陽離絕之危證。又歷辯越人以「上魚為溢，為外關內格，入尺為覆，為內關外格」，及仲景、叔和、東垣等，以「在尺為關，在寸為格，關則不得小便，格則吐逆」之非。而獨創論曰：人迎察六腑之陽，寸口察五臟之陰。人迎盛至四倍以上，此孤陽獨見，故曰格陽，格陽者，陰格於陽也；氣口盛至四倍以上，此元陰無主，故曰關陰，關陰者，陽關於陰也；若人迎寸口俱盛至四倍以上，且大且數，此陰陽相離，故名關格也。總由傷腎傷精，陽不守舍，雖與勞損症不同，實即勞損之別名也。烈按：關格二字，諸先哲久已相傳為下關上格矣，一旦獨辟為陰陽離絕之脈證，不囿於相傳舊說，觀此可以開我儕自立主見之一助。</p>
<h3>讀書必須隅反</h3>
<p>王損　曰：《內經》言溫瘧在臟者，止以風寒中於腎，言癉瘧者，止以肺素有熱。然冬令之寒，既得以中於腎，則其余令氣之邪，又寧無入客於所屬之臟者？既肺本氣之熱為瘧，則四臟之氣鬱而為熱者，又寧不似肺之為瘧乎？此殆舉一可以三隅反也。烈按：《內經》止說得冬令之寒，而損　即於冬令推到春夏秋令氣之邪；《內經》止說得肺素有熱，而損即於肺臟推到心肝脾腎。可見讀書貴乎隅反，不可固執一說也。</p>
<h3>讀書須善比例</h3>
<p>喻嘉言治金鑒一案曰：觀其陽症、陰症，混在一區，與兩感傷寒無異，仲景不立治法，然曰發表攻裡，本自不同。</p>
<p>又曰：活法在人，神而明之，未嘗教人執定勿藥也，於是以麻黃附子細辛湯兩解其在表陰陽之邪，附子瀉心湯兩解其在裡陰陽之邪而愈。烈按：春溫之症本無兩感，嘉言以其病情同於兩感，而即以仲景之方比例治之，真所謂活法在人，神而明之也。今人奇疾甚多，治法宜從權變，故引此以為比例之法。</p>
<h3>讀書須剔錯處</h3>
<p>王安道《內傷余議》曰：東垣《內外傷辯》有曰飲食勞倦傷而內熱者，乃陰火乘其坤土也。又曰勞者溫之，損者溫之，惟宜溫藥以補元氣而瀉火邪，《內經》曰溫能除大熱耳。按「陰火」二字，《靈》《素》《難經》未嘗言，而東垣每每言之。又勞者溫之，所以調其飲食，適其起居，澄心息慮，以待其真氣之復常也，《禮記》所謂「柔色以溫之」，正與此同。今東垣謂宜溫藥補元氣而瀉火邪，又易損者益之為損者溫之，又以溫能除大熱為《內經》所云，而遍考《內經》，並無此語，此亦不能無疑者也。烈按：東垣乃醫賢中翹楚，尚有舛惜《內經》之處，況其他書哉！讀書者豈可苟焉從事哉，故引此以為一鑒。</p>
<h3>讀書須汰衍說</h3>
<p>張會卿曰：瘧疾一證，《內經》言已詳盡，後世議論煩多，反資疑貳，茲舉陳氏《三因》之說，以見其概。如內因五臟之瘧，在《內經》所言，不過為邪在何經之辨，原非謂七情所傷也。再若不內外因，或以瘧邪亂神，因致狂言似鬼者有之，豈鬼祟果能為瘧乎。至若胃瘧，既云飲食，明是內傷，且凡先因於瘧，而後滯於食者有之，未有不因乎外邪，而單有食瘧者也。陳氏之說，既以三因立論，故不得不敷衍其說，不知響影之談，不但無益，而且亂人意見。烈按：此類之衍說甚多，如士材之《診家正眼》，每脈中必以寸、關、尺為主病，甚至將遲數之脈亦復分之，而云寸遲上寒，關遲中寒，尺遲火衰，夫三部之脈，數則俱數，遲則俱遲，如何提出一部之獨遲、獨數以為主病乎，此亦景岳所謂敷衍其說也。</p>
<p>諸如此類，不可為其所惑。</p>
<h3>讀書須辨訛字</h3>
<p>喻嘉言《秋燥論》曰：《生氣通天論》謂秋傷干燥，誤傳「傷燥」為「傷濕」，解者竟指燥病為濕病，遂至《經》旨不明。烈按：此一字之訛，而有毫厘千裡之謬，諸書中傳寫訛字頗多，讀書者自須具眼</p>
<h2>卷三</h2>
<h3>石芝醫話</h3>
<p>人之生命，天氣最急，地味次之，二時不呼吸，絕天氣而死，七日不飲食，絕地味而死，此其緩急可知也。保命當先納天氣，以接元氣，食地味以納天氣。《素問》曰，「天食人以五氣，地食人以五味。」</p>
<p>人身之否泰，與《易》理相同，地天則泰，天地則否。耳兩竅、目兩竅、鼻兩竅合為坤象。鼻之下，人之中也。口一竅、前陰一竅、後陰一竅合為乾象。頭至唇不動，地道也，口至足皆動，天道也；頭之上天，足之下地，人身上下合之，故能中立。逆之則泰，順之則否，理所當然，人自不察耳。</p>
<p>人身前面可動者，陰用陽也，後面不動者，陽用陰也，故曰前抱陽，後負陰。</p>
<p>西洋自鳴鐘，以比人身氣血之周流，最為切肖。</p>
<p>水不升為病者，調腎之陽，陽氣足，水氣隨之而升。火不降為病者，滋心之陰，陰氣足，火氣隨之而降。則知水本陽，火本陰，坎中陽能引升，離中陰能降故也。</p>
<p>火上浮則右尺虛，不獨腎寒尺虛；食下行則右尺大，不獨腎虛尺大，蓋以命門、大腸同居於下也。</p>
<p>氣之性善升而易散，育與固、養氣之妙法，惟靜存守中，善養氣者矣。血之性善降而易凝，和與溫、養血之妙法，惟運動調中，善養血者矣。</p>
<p>臟病入腑即愈，惟咳嗽症入腑即危，蓋肺與大腸為表裡，胃傷則飲食不進故也。</p>
<p>經寒絡熱者，溫經清絡，絡寒經熱者，溫絡清經；但經直絡橫，溫甘通經，辛香通絡為別。</p>
<p>傷於情志，和肝、開心、醒脾、解鬱為主，然必緩治，用輕藥，漸可向愈；重藥則反傷胃陽，元氣不復，血氣耗散矣。</p>
<p>口授丹方，無不夸張效驗，而又藥物輕賤，便於采取，故人樂於聽聞，不辨病之陰陽、表裡、淺深、虛實，漫以試之，禍不旋踵者多矣，鄉愚之人，往往蹈此，哀哉！看病認不真切，則靜坐思之，總於望、聞、問、切四者中搜求病機，必有得心之處，胸中了了，用藥方靈，若終於疑惑，而勉強投方，竊恐誤人性命也。</p>
<h3>管見芻言</h3>
<p>春溫、夏熱、秋涼、冬寒，時之正也，而風實應之。凡治感冒，取用表散，自宜隨時制方；若應熱反涼，病隨時變，施治尤貴圓通。至久晴久雨，燥濕異宜，臨症更宜留心，不可概執常例。</p>
<p>凡外感病，挾食者頗多，當思食為邪裹，散其邪則食自下，若雜消導於發散中，不專達表，胃汁復傷，因而陷閉者有之。至若風多挾暑、濕、寒，或挾燥、火，或惱怒，或勞倦，或房事，及肝氣、宿瘕、諸血症，皆外感病之不無有挾者，所貴隨症制宜，斟酌盡善，庶無差誤也。</p>
<p>凡內傷病，損上、損下、損及中州，在氣、在血、在腑、在臟，用藥補救，宜專任，宜的對，無論已，設或挾有外感，最當留心，補膩即不可施，當以輕劑調停，庶不致粗疏誤事。其有上損宜治下，下損宜治上，或砥柱中流，或作隔二、隔三之治，古人具有良法可師，不敢多贅。</p>
<p>病變無常，方難執一，然無定之中，自有一定之法，此即中無定體，隨時而在之道也。蓋離規矩不可以為方圓，執規矩亦不可以為方圓。每見前人用古，師其意而不泥其方，或采取其二三，或減增其一二，得心應手，方推能事。</p>
<p>君、臣、佐、使，制方自有定法，然品味不可拘泥，陸清獻曾論仁、義、禮、智、信，隨時迭相為用，比之醫家之於君、臣、佐、使也。有然即如參、苓、朮、草四君子，隨症從宜，因時取用，當亦如十二律之旋相為宮也。</p>
<p>寒、熱、溫、涼，有一定之藥，無一定之治。入腑、入臟，或補、或攻，其氣味與性，不可不細按也。故有正用，亦有反用，有獨用，又有兼用，並有活用、借用之不同。如用寒可以治熱，反用可以入寒，獨用寒而熱可除，兼用寒而熱可制，微行消導，大可和中，稍借清滋，自能表汗，隅反焉而取資無盡矣。</p>
<p>外感、內傷，為證治兩大關鍵，然去其所本無，復其所固有，兩言可盡之也。蓋六淫外襲，身中氣血，日失和平，一切外感有餘之症，有須汗、吐、下、和之治，皆是去其所本無也。若七情受傷，腑臟有損，身中氣血，日就虧耗，一切內傷不足之症，有須滋填培補之治，皆是復其所固有也。</p>
<p>讀古人書，須識其補偏救弊，一片苦心，互相抵觸，即是互相闡發處，所貴多讀多看，融會貫通，由博反約，以求理明心得，臨症無望洋之苦是已。若好為指摘，棄瑜錄瑕，殊失欽承前哲之道。至矜家秘而執成法，頭痛醫頭，尋方覓藥，一切無方之書置之高閣，此又孟浪之流，不足與語斯道者矣。</p>
<h3>核骨踝脛辯</h3>
<p>《靈樞‧經脈篇》：脾足太陰之脈，起於大趾之端，循趾內側白肉際，過核骨後。</p>
<p>汪　注：「核骨」，俗名孤拐骨，足跟後兩旁起骨也。按張景岳曰：「核骨」，即足大趾本節後內側圓骨也，滑氏言孤拐骨者非。李士材亦宗之。當以張、李之注為是，汪注未確，論詳下節。</p>
<p>上內踝前廉。</p>
<p>汪注：脛兩旁內外曰「踝」。按《字匯》「踝」字，華上聲。俗有從其便者，即從旁讀作果音，諺云腳果骨，當即此字；孤拐骨亦即此也。汪注以踝為核骨，而以脛兩旁為踝。夫脛者，膝以下至足之總名，俗名小腿者是也，與俗名大腿之股相配，是四肢中分出之四大名目，上肢曰膊、曰臂，下肢曰股、曰脛也，故皆從月。若踝者，近足之突骨也，故從足。若曰踝在脛下則可，而謂脛旁即踝未可也。</p>
<p>上　內。</p>
<p>按「　」字，張景岳《類經》及汪　《類纂》李士材《知要》，皆刻從足，《類纂》注，先曰　音短，足跟也，又曰一作　，音善，足肚也。此因誤刻從足，故其言岐疑無定。《類經》與《知要》皆注足肚曰　，此注不誤，而字之從足者，皆誤刻也。按從足之「　」字考諸字匯、《字典》、《玉篇》，皆曰足跟也。脈由大指而上內踝，已交於脛，自此上行則在脛中矣，豈有反下入足跟之理哉！若入足跟，當用下字，不當用上字，而曰「上　內」矣，故知其誤刻從足也。</p>
<p>循脛骨後。</p>
<p>統繹四節，自核骨而上踝，自踝而上　，自　而循脛骨後，可知踝在　之下，而脛不在　之下矣。欲明經脈，必當明其部位，雖分寸不得混淆也。</p>
<h3>爛喉丹痧論</h3>
<p>近來丹痧一症，患者甚多，患而死者，亦復不少，世人因方書未及，治亦無從措手，或云辛散，或云涼解，或云苦寒泄熱，俱師心自用，各守專門，未嘗探其本源。按仲師《金匱》書，「陽毒之為病，面赤斑斑如錦紋，咽喉痛，吐膿血，五日可治，七日不可治，升麻鱉甲湯主之」之文，細繹其義，實與此症相類，何會心者之絕少耶？惟是升麻鱉甲湯，蓋以升麻升透厲毒，鱉甲泄熱守神，當歸和血調營，甘草瀉火解毒，正《內經》「熱淫於內，治以鹹寒，佐以甘苦」之旨。</p>
<p>而內有蜀椒、雄黃，似當加於陰毒方中，或因傳寫之訛耳。一轉移間，則於陽毒、陰毒之義，尤為貼切，而人之用之者，亦鮮疑畏矣。今如遇此丹痧一證，當於經義詳之，毋謂古人之未及也，不揣愚陋，用敢質之同人。</p>
<h3>臟腑受盛辯</h3>
<p>讀《難經‧四十二難》有臟腑之長短、輕重、廣狹，受盛之數，余竊以為未必然。如人輕重、長短不齊，飲食多寡不一，即可類推也。即長短尚有以中指屈曲而取中節之　角以量之論，而受盛水穀之升合，迥然各異。可見吾儕看書，要在圓通活潑，未可拘泥成說也。</p>
<h3>大溫中飲炙甘草湯合論</h3>
<p>閱景岳《新方》中於大溫中飲方下，有「從補血而散，而云騰致雨之妙，則仲景猶所未及」句，竊謂傷寒方中，仲師用炙甘草湯，有桂、酒、地、麥、膠、麻之品，非陽根於陰，汗化於液，云騰致雨之妙乎？未可謂其未及也。</p>
<h3>論柴胡</h3>
<p>按柴胡為少陽藥者，因傷寒少陽證之用柴胡湯也。夫邪入少陽，將有表邪漸解，裡邪漸著之勢，方以柴、芩對峙，解表清裡的為少陽和解之法。而柴胡實未印定少陽藥也，蓋以柴胡之性苦平微寒，味薄氣升，與少陽半表之邪適合其用耳。乃有病在太陽，服之太早，則引賊入門；若病入陰經，復服柴胡，則重虛其表之說，此恐後人誤以半表半裡之品，為認病未清者，模糊混用，故設此二端以曉之也。不觀之景岳《新方》中諸柴胡飲、柴芩煎、柴胡白虎煎諸方，信手拈用，頭頭是道，是誠知柴胡之用，而先得我心之所同然矣。再古方中有逍遙散之疏解鬱熱，歸柴飲之和營散邪，補中益氣湯之升發清陽，提邪下陷，疏肝益腎湯之疏肝清熱，養陰透邪，其妙難於仆數，何至重虛其表乎？余於風邪初感之輕症，及邪氣淹留，表熱不解之久病用之，並臻神效，奈何將此有用之良品，拘泥成說而畏之，即用亦準之以分數，竟至相沿成習，不得不為置辯。</p>
<h3>論犀角、升麻</h3>
<p>按朱南陽有「如無犀角、以升麻代之」之說，以其同於一透也，朱二允以此二味升降懸殊為辯，余謂尚非確論。夫犀角乃清透之品，升麻乃升透之味，一重於清，一重於升，其性不同，其用自異，未嘗聞有異而可代者也。若夫風寒壅遏，疹點未透者，斯為升麻之任；而溫邪為病，丹斑隱現者，又系犀角之司。如以升麻為代，其肺氣熱者，必致喉痛，甚增喘逆；營分熱者，必致吐血，輕亦衄宣，其誤若此，豈可代乎？又角生於首，故用為透劑，二允以為下降之品，亦不可不辯，余非敢輕議前輩，實出婆心之不禁耳，故謹論之。</p>
<h3>辨紫茸之偽</h3>
<p>痘科所用紫茸，即紫草之嫩苗也。《活幼新書》云：紫草性寒，小兒脾實者可用，脾虛者反能作瀉。古方惟用茸，取其初得陽氣，以類觸類，用發痘瘡。今人於前四朝，涼血利竅，則用紫草，若痘局布齊後，改用紫茸，以血熱未清，於涼血中兼寓升發之義也。今肆中所用，色紫而形如松膏者，乃系洋內樹脂，與紫草茸迥異，醫俱不察而用之，不可不急為之辨。</p>
<h3>辨鬱金之誤</h3>
<p>鬱金一物，出於川產，野者色黑，不可多得。其川中所種者，皆系外白內黃，即今人誤呼為薑黃子者也。至肆中所用川鬱金，乃莪朮中揀出莪朮之子，因其色黑，與川中野鬱金相似而混之也。醫俱不究，反以川中種本之黃鬱金謂廣鬱金，或謂薑黃子，殊堪捧腹。余於弱冠時入川，即曾深究此品，當以種本之外白內黃者為是，勿泥薑黃子之說而廢之。</p>
<h3>大豆黃卷辯</h3>
<p>大豆黃卷，古人罕用。《本草》載其性曰，治濕痹，筋攣膝痛，五臟不足，益氣宜胃，破婦人惡血，除胃中積熱，消水氣脹滿。即《金匱‧虛勞門》薯蕷丸，於氣血並補方中佐之，後之著方解者，有宣發腎氣之論，亦未謂其發表也，近來誤作表藥者，其故何歟？蓋因吾吳人喜服輕方，而昔之治病，俱於醫家取藥，有云馬元儀先生預用麻黃湯浸豆發　，凡遇應用麻黃者，方開豆卷，俾病家無所疑懼，渠得藥投中病，曲以兩全，此心亦良苦矣。後醫不明細底，竟認豆卷與豆豉同類，公然影射作為表劑，但肆中豆卷豈亦有麻黃湯浸發者乎？即以格致之理論之，豆得水而發　，或能些微宣濕，亦不能為通用表藥也。若用二三錢之豆卷，即可表汗，世人以此為菜蔬者，每食盈簋，何不汗至亡陽耶？一笑！</p>
<h3>瘟疫贅言</h3>
<p>春溫、夏熱、秋燥、冬寒，固病之常，若夫疫者，穢惡之氣，互相傳染，吳又可論之詳矣。惟吳氏謂從口鼻而入，即踞膜原，愚謂既由口鼻吸受，肺為出入之門戶，無有不先犯肺者。疫皆熱毒，肺金所畏，每見此症之身熱，先有憎寒，肺先病也；繼而充斥三焦，或有徑入心胞者。所云厲氣，無非鬱熱，是以喻西昌所講瘟、溫二字，未嘗區別，蓋亦有見乎此耳。況所云「上焦如霧，升逐解毒，中焦如漚，疏逐解毒，下焦如瀆，決逐解毒」，總不脫一毒字者，其為鬱熱，意在言表矣。更有患此病者，縱飲冷水，亦能大汗而解，此非熱毒之明驗乎？至於疫邪雖解，而肺蓄余熱，每多咳嗆、肌熱、自汗等證，亦所謂肺先受病而未愈之明征也。又有大旱之年，水涸日烈，河水每多熱毒，飲其水者，多發疫痢，以痢門常法治之無效，余於治痢方中，加以貫眾之苦寒解毒，無不應手取效，此亦熱毒之一驗也，合並志之。</p>
<h3>合論丹溪景岳相火大意</h3>
<p>丹溪論陽有餘，陰不足，所謂陽者，相火也。景岳駁之，謂陰有餘，陽不足，而著「相火以位」之辨。各樹旗幟，幾如冰炭之不相入矣。嘗舉二者參之，丹溪大旨，本於周子主靜立說，謂相火一動，則五志厥陽之火並煽，煎熬真陰，故東垣目為元氣之賊。此論相火二字，專從後天之變動者言，與景岳之主命門，有源流之別。夫「天非此火不能生物，人非此火不能有生」，考前哲如褚氏、趙氏，人生先具命門及相火，行陽二十五度之語參之，景岳所云，相得益彰。蓋靜而守位者，此相火，靜則溫養；動而無方者，亦此相火，動則燔灼。譬之天與日，太陽之火也，雖烈而不能焚物，以陽燧取之，不過星星之火，其用即可燎原。故景岳之說日也，失其所則折壽而不彰，丹溪之說日而火也，飛走狂越，莫能御之。今將指日為火固失之，而指火為日，亦豈云得乎？《陰陽應象大論》：「壯火之氣衰，少火之氣壯」，「壯」與「少」</p>
<p>之別，即兩家宗旨所分，故必合兩家所論，義始完備，若偏執一說，於道失之。</p>
<h3>升降出入說</h3>
<p>《素問‧六微旨大論》：「出入廢則神機化滅，升降息則氣立孤危。」嘗謂《傷寒》所論傳經，即是出入精義，蓋正氣之出入，由厥陰而少陰、而太陰、而少陽、陽明以至太陽，循環往復。六淫之邪，則從太陽入，一步反歸一步，至厥陰而極，此邪氣進而正氣退行，不復與外氣相通。令韶張氏謂之逆傳，養葵趙氏謂之郁證，即此義也。故開、闔、樞三者，乃其要旨。夫分言之，為出入，為升降，合言之，總不外乎一氣而已矣。觀東垣《脾胃論》浮沉補瀉之圖，以卯酉為道路，而歸重於蒼天之氣。考其所訂諸方，用升、柴、苓、澤等法，實即發源於長沙論中葛根、柴胡、五苓之意以引而伸之，所謂升之九天之上，降之九地之下，雖內傷外感殊科，而於氣之升降出入，則總無以異耳。王氏曰：凡竅橫者，皆有出入往來之氣，竅豎者，皆有陰陽升降之氣，蓋人在氣中，如魚在水中，人不見氣，如魚不見水，上下九竅，外而八萬四千毛孔，皆其門戶也，氣為之充周而布KT　，雖有大風苛毒，莫之能害。是故「邪之所湊，其氣必虛」，內陷者，有入而無出，下陷者，有降而無升，此升降出入四字，為一生之橐　，百病之綱領。</p>
<h3>寸口趺陽緊脈不同論</h3>
<p>詳考《傷寒論》中寸口之緊與趺陽之緊，雖同曰緊，而義自各別。蓋緊見於寸口，是客邪所致之病。脈緊見於趺陽，趺陽是胃之本脈。《平脈篇》云：「跌陽脈微而緊，緊則為寒」，又云：「跌陽脈沉而數，沉為實，數消穀，緊者，病難治。」</p>
<p>夫緊則為寒，數則為熱，既曰數，又曰緊，不幾寒熱混淆歟！盧予繇疏云：緊則為寒，為其嫌於無陽，蓋此寒字非寒邪之寒，針對陽字而言，乃是形容無陽意思。無陽者，無胃脘之陽也，即所云知陰常在，絕不見陽意。知陰常在絕不見陽，以尺脈言是腎陽，此以趺陽言是胃陽。人以胃氣為本，故診趺陽須知遲緩，診寸口當求濡弱，皆胃陽敷布之象，即《經》文「無胃氣曰死」之要旨耳。至於寸口脈浮而緊，寸口脈陰陽俱緊，此緊字以寒邪言。細參之，要自有濡弱者在，所謂「濡弱何以反適十一頭」，為五臟六腑之主，脈之骨也，不得與跌陽之緊混同而論。</p>
<h3>中腑中臟辯</h3>
<p>《病機機要》云：「中腑者，宜汗之，中臟者，宜下之。」此腑臟二字，實是指經絡，言腑無汗法，入臟亦豈有下法？「五臟者，藏精氣而不寫，故滿而不能實；六腑者，傳化物而不藏，故實而不能滿。」此臟宜補，腑宜通之要旨也。考長沙三百九十七法，邪歸中土，乃可議下，其少陰急下三條，指轉入陽明腑證者言，仍是土鬱奪之之義，如已臟真失守，而復瀉之，是虛虛也。古於汗下之法，禁例綦嚴，豈宜如是之倒行逆施乎？觀其論中腑曰脈浮惡風寒，則明是中經；論中臟曰大便秘結，則明是中腑。辨名正誤，庶於立言之旨有合云。</p>
<h2>卷四</h2>
<h3>人身一小天地亦有南北兩極論</h3>
<p>按周天三百六十五度四分度之一，其間日月星辰之周流循環而不息者，有南北兩極以為樞紐。二極居其所，而眾星共之，星動而極不動，動主於靜也。《靈樞‧五十營篇》曰：人經脈上下、左右、前後二十八脈，以應二十八宿，一呼氣行三寸，一吸氣行三寸，一萬三千五百息，氣行五十營於身，水下百刻，日行二十八宿，漏水皆盡，脈終矣。夫人之營衛營運，無極以統之，焉得常周不休。心主與命門，即人身之南極北極也。心者，神之舍也，神藏不露而無為，五藏六府之營運，莫不以心為君主，故《經》言「主明則下安，主不明則十二官危。」心之元神，即天之南極也。命門一點，為生氣之原，藏於兩腎中間，以為十二經脈之根本，必須鎖鑰閉固，即《經》所云「陰平陽秘，精氣乃治。」腎之元氣，即天之北極也。天之南極，入地三十六度，而位乎南，下為陰而南為陽，居陰位之陽也。人之心君位乎腹之上，腹為陰而上為陽，亦居陰位之陽。天之北極，出地三十六度，而位乎北，上為陽而北為陰，居陽位之陰也。人之命門，位乎背之下，背為陽而下為陰，亦居陽位之陰。天之二極，對待以為中樞，而後營運不息；人之心君與命門，亦必神氣相合，而後營衛得以周流不息。顧靜者，動之根也，心為十二官之君主，而主乎靜定，命門為十二經脈之根本，而主乎秘密，是即兩極之居其所而不動也。</p>
<h3>命門脈診辯</h3>
<p>張景岳《三焦胞絡命門辨》云，「命門為陽氣之根，故隨三焦相火之脈，同見於右尺。」按命門居兩腎中間，即人身之太極，乃陰陽之根底，既為陽氣之根，亦為陰氣之根。景岳《真陰論》云：「命門之火，謂之元氣，命門之水，謂之元精。」論理並無偏倚，及至論及脈位，則但將右尺以候陽氣之根，將謂左尺不可以候陰氣之根乎？將謂陰氣之根，亦於右尺診之乎？將謂命門但候元氣，不必候其元精乎？此景岳之偏於溫補，其誤即在於此，所謂差之毫厘者也。按命門原氣，稟於有生之初，得父母之兩神相合而化形，如露珠之一滴升於丹鼎之上，以為生身立命之根，天地、陰陽、五行之精，亦即妙合，於是五臟六腑、四肢百骸由此而生，不可以言水火，並不可以言精氣，乃精、氣、神三家會合，而始成此一點，莫可名言，而曰命門，指人身有生之根，天之所命而名之。左氏曰：民受天地之中以生，所謂命也，此之謂歟。命門一點，藏於兩腎中間，以營運陰陽之氣，全借腎中陽氣、陰精以為之養。在有生以前，則精氣生長於命門，在有生以後，則精氣之生於命門者，命門反須精氣以養焉。精氣不足，猶可峻補以救之，至精氣大傷，而命門生氣之原絕，則非補精氣之所能挽回，故言至水火精氣，已屬腎陰、腎陽，而非命門矣。夫命門為生氣之原，非特右尺不能候，即兩尺亦不能候，且六部俱不能候，是當以《難經》為斷也。《八難》曰「諸十二經脈者，皆系於生氣之原。所謂生氣之原者，謂十二經之根本也，謂腎間動氣也。此五藏六腑之本，十二經脈之根，呼吸之門，三焦之原，一名守邪之神。故氣者，人之根本也，根絕則莖葉枯矣。寸口脈平而死者，生氣獨絕於內也。」獨是《一難》獨取寸口以決死生，而《八難》言寸口脈平亦死，是何其自相悖謬乎？蓋寸口為脈之大會，可決死生，乃穀氣之變見，後天有形之可脈也；生氣之原絕，則寸口脈平猶死，乃元神之聚散，先天無形之不可脈也。然則命門之絕，將不可脈之而已乎？《經》曰：「望而知之謂之神」，在醫者之以神照神，乃神聖之能事，誠非下士之所能窺測，而以右尺為診，則固知其非也。</p>
<h3>治肝補脾論</h3>
<p>《金匱》論治肝補脾，肝虛則用此法，此指肝之陽虛而言，非指肝之陰虛火旺而言也。肝陽虛而不能上升，則胃乏生發之氣，脾無健運之力；而水無土制，腎水之陰寒得以上制心陽，周身陰盛陽衰，而純乎降令，則肺陰之金氣盛行，肝陽之生氣愈病矣。必得補土之陽，以制腎水之陰寒，則心陽無水以克而火盛，火盛則肺金陰氣不行，不至陰肅降令，從右行左，以傷發生之氣，則肝木之陽氣自必暢茂條達矣。古方用逍遙散治木鬱土中，以宣陽氣，是肝木陽虛，而用治肝補脾之法者也。乃後人用以治陰虛火旺之肝病，則以升令之太過者而復升之，宜其有升無降，而至厥逆矣。蓋一陰一陽，可不明辨哉。其治陰虛火旺之肝病，如血虛宜滋水，虛則補其母也；火旺則苦泄，實則瀉其子也；氣升上逆則降氣，以金制木也，其與治肝補脾之法正相反，豈可混治耶？</p>
<h3>四維相代，陽氣乃竭解</h3>
<p>按王太仆注：「四維」為血、肉、筋、骨。吳鶴版皋注：「四維」為血、脈、筋、骨，以是四者，維持一身，以注「維」</p>
<p>字之義。馬元台以血、脈、筋、骨於「四」字未妥，因注「四維」為四肢。汪　以王注之血、肉、筋、骨、馬注之四肢，俱於「代」字無著，因注「四維」為四時。諸說紛紜不一。顧四肢腫而愈者甚多，未可便云「陽氣乃竭」；至血、脈、筋、骨及四時之說，又腫病中從未論及。竊思「四維」之見《素問》者屢矣，《氣交變大論》曰：「土不及，四維有埃云潤澤之化，則春有鳴條鼓拆之政。」《五常政大論》曰：「其眚四維。」故王注以「四維」為東南、西南、東北、西北之位也。及後世馬元台、吳鶴皋等注此二篇之四維，亦俱宗王注四隅方位而說，是「四維」當作「四隅」解，一定而不移矣。</p>
<p>「四維相代」，當作人身之「四隅」解，亦無疑矣。蓋言腫之起於前後左右者，自此至彼，一身盡腫，陽氣乃壞極而無存矣。四隅盡腫者，即臍突、背平、缺盆平、足心平之類是也。丹溪以此二句為衍文，此求其說而不得，從而為之辭，亦不知為不知之義也。但無此二句，則語氣未全，且於義理亦未周足。至汪　以陽氣乃竭之「竭」字作「壞」字，未知本於何人，竭之與壞，其義不甚遠，姑置不論。</p>
<h3>膀胱者州都之官，津液藏焉，氣化則能出矣解</h3>
<p>王太仆注曰：「得氣海之氣施化，則溲便注泄，氣海之氣不及，則　隱不通，故曰氣化則能出矣。」王太仆為注釋之開山，宋、元、明歷代諸家，各仍其說，莫不以津液即為溲便。殊不思氣化則能出者，言膀胱之津液，得太陽之氣而後能出於皮毛，非津液下出之謂也。且津自津，液自液，小便自小便，逐字考之，《內經》各有明文。《靈樞‧決氣篇》曰：「腠理發泄，汗出溱溱，是謂津」。「穀入氣滿，淖澤注於骨，骨屬屈伸，泄澤補益腦髓，皮膚潤澤，是謂液。」又曰：「津脫者，腠理開，汗大泄。液脫者，骨屬屈伸不利。」又《五癃津液別篇》曰：「三焦出氣，以溫肌肉，充皮膚，為其津，其流而不行者為液。」是《經》文津液二字，各有著實注解者，不得以津液小便混而莫辨矣。自古以來，接《內經》之統，以繼往開來者，其惟仲景先師《傷寒論》乎。其治太陽病，無汗用麻黃湯，有汗用桂枝湯，此津藏於膀胱，氣化則能出之一證也。《金匱》用栝蔞桂枝湯以治柔　，葛根湯以治剛　，因邪傷太陽，液不養筋，故助太陽之氣化以營運於皮毛，以流通津液，則筋脈得以濡潤，此液藏於膀胱，氣化則能出之又一證也。以《經》注《經》，己甚明矣。而仲景治法，又與《經》旨符合，則津液之非小便，尚何疑哉，又水飲入於胃，上升於肺，以下布於三焦者，謂之水。水濕壅而不通，則小便不利，輕為腹膨，重為腫脹，此水在三焦，而未入膀胱者也；其既入膀胱以後，水之上升而汗出溱溱者謂之津，所謂「下輸膀胱，水精四布」也。貯於膀胱而下出者，則謂之溺；溺孔閉澀，則為癃秘，《內經》之胞痹等症是也。《素問‧宣明五氣篇》曰：「膀胱不利為癃，不約為遺溺」，《靈樞‧本輸篇》曰：「實則閉癃，虛則遺溺」，《經脈篇》曰：「肝所生病者、遺溺閉癃。」又曰：「足少陰之別，實則閉癃。」竊意三焦不能化入膀胱者，其病多虛，故歷來治水腫水脹者，總以氣不化水為主也；因溺竅不通，膀胱之內水脹者，其病多實。故統觀《內經》諸篇，癃閉則皆有實而無虛也。又按：津之外出者為汗，津之內出者為溺，故汗多不得利小便，恐陰從下脫也；失小便者亦不得發汗，慮其陽從上脫也。小便之與汗，俱為津之所化，是同出而異名者也。液為水穀之精華，即津之流而不行，隨氣以運於周身，則潤皮膚，澤筋骨，補腦髓，聚於膀胱，布於經絡，宜藏而不宜出，故十二官之神明等俱言出，而此獨曰藏者，言津之液藏也。「氣化則能出」者，但可指津而言也，若液從溺竅而出，則為膏淋等症矣，尚得謂之氣化哉？</p>
<h3>膀胱上口論</h3>
<p>膀胱上口，《靈》《素》未言有無，後世聚訟紛紜，或言有上口而無下口者，乃以「氣化則能出」之句而誤會也，若無下口，焉得氣一化則遂若此通利哉？是無下口之說不必論矣。或言有下口而無上口者，張景岳、李士材俱主是說。因景岳、士材之書，近世風行海內，故人皆以為無上口矣。第無上口，則交腸之易位而出者，糞從何處入於膀胱乎？張三錫以為上下俱有口者是矣，但語焉而未詳也。夫水道既從小腸下口以入膀胱，則清濁不分者，何獨並於大腸之水瀉，人所常有，而糞入膀胱之交腸，患者甚少乎？諦思其故，必系膀胱有上口而常閉，乃為平人之常，水之入於膀胱者，仍是三焦化入，而非從上口以入者也。或腑氣大虛，則力乏而竅不能閉，或邪熱傷腑，則熱主開泄而竅亦不能閉，以致糞從小腸下口入於膀胱上口，並隨小便而出矣，譬如人身之外竅，亦有常閉而不通者，臍孔與兩耳、兩乳，無故則常閉而不開，有故則或出膿血，或通乳汁，膀胱之上口，亦可以類推矣。世人皆以為無上口者，一則宗景岳、士材之書，一則見獸脬之止有下口也。不思天地之生物，各有不同者，如毛蟲則五臟俱全，羽蟲則無肺而無前陰，即人身亦有不同者，男子肋骨二十有四，女子肋骨二十有八，男子頭骨八塊，女子頭骨六塊，人與人尚有異焉，人與獸豈無異乎？</p>
<h3>五芩散解</h3>
<p>此治小便不利之主方，乃治三焦水道，而非太陽藥也。《素問‧經脈別論》曰：「飲入於胃，游溢精氣，上輸於脾，脾氣散精，上歸於肺，通調水道，下輸膀胱，水精四布，五經並行。」此方用桂以助命門之火，是釜底加薪，而後胃中之精氣上騰；再用白朮健脾，以轉輸於肺；而後用二苓澤瀉，運水道之升已而降。其先升後降之法，與《內經》之旨，滴滴歸源，復與太陽何涉？《傷寒論》治小便不利，「汗出而渴者，五苓散主之，不渴者，茯苓甘草湯主之。」蓋渴為陽氣不足，水不上升也，不升則不降，故用肉桂以升之，二苓、澤瀉以降之，而用白朮一味，以為中樞。乃注者莫不以渴為熱入膀胱，津液被劫所致，如果熱入，而復用桂、朮，以溫液耗津，又二苓、澤瀉以滲之，是熱之又熱，耗之又耗，速之斃矣。且不渴者，反不用五苓，而用茯苓甘草湯，可知不渴則無需桂、朮之蒸騰津液，而桂、朮之非治太陽，而治三焦，更不待言矣。有小便不通而以桂枝易桂者，此必命門之火未衰，而外有太陽表症，因邪傷太陽，傳入三焦，故表邪未解，而三焦之水道不利，即《傷寒論》所謂「中風發熱，六七日不解而煩，有表裡證，渴欲飲水，水入則吐者，名曰水逆，五苓散主之」是也。表症為太陽不足，故用桂枝以宣陽氣，通津液於周身，即《經》文「水精四布，五經並行」</p>
<p>之旨，非用之以通水道下出也。裡症為三焦之氣化不宣，故用二苓之瀉，以通三焦之閉塞，非開膀胱之溺竅也。夫下焦之氣化不宣，則腹膨而小便不利，水蓄膀胱，此乃水蓄於膀胱之外，不能化入膀胱，故用五苓以化之。亦有用桂枝而效者，因衛出下焦，助太陽氣化以運之，非為太陽腑內之水蓄也。如三焦既將水氣運化入於膀胱而不出，此真太陽府內痹而不宣，即胞痹症也。《素問‧痹論》曰：「胞痹者，少腹膀胱按之內痛，若沃以湯，澀於小便，上為清涕。」水在膀胱之內，是膀胱脹滿而非腹脹，故按之內痛；若沃以湯，其溺孔之道痹而不通，故澀於小便；膀胱痹氣隨太陽經脈之行以從巔入腦，故上為清涕。此真太陽本府水結膀胱之內，而非腹中膨脹之小便不利也。總之、水入膀胱之內，方屬太陽，若水在膀胱之外，腹膨滿而小水不利者，此臟腑之外，軀殼之內，三焦主之。虞大民曰：三焦者，指腔子而言也。故治腹滿腫脹之症，設使一味利水，則三焦之氣更不能施化，而膀胱津液為之下竭，非仲景五苓之意也。</p>
<h3>辨《素問》「濁氣歸心」之訛</h3>
<p>讀《素問》至「食氣入胃，濁氣歸心，淫精干脈」節，此「濁氣歸心」，不得其解。因思心者，君主之官，神明出焉。</p>
<p>如果濁氣歸心，焉得虛靈不昧，具眾理而應萬事乎？按此「心」字，必因千百年相傳之書，「脾」字誤為「心」字。考《靈樞‧陰陽清濁篇》曰：「受穀者濁，受氣者清。」又曰：「營者，水穀之精氣也，和調於五臟，洒陳於六腑。」又曰：「陰清而陽濁。」又曰：「諸陰皆清，足太陰獨受其濁。」夫腑為陽，臟為陰，既曰「諸陰皆清」，則心之受清可知；既曰「足太陰獨受其濁」，則濁氣歸脾之外，更無一臟再受其濁。可知是濁氣歸脾，《經》文無不印合，竊以為一字之訛，敢以質諸高明。</p>
<h3>祖氣論</h3>
<p>夫　鼓蕩於大地之間者，孰推行是，孰發育是，無非一氣為之橐龠而已。天以五行化生萬物，人以五臟應之。天一水也，故兩腎為先天之本；天五土也，故脾胃為後天所資。此東垣、丹溪之論，後人皆起而宗之。至汪氏苓友，獨主一心，其言曰：萬病皆起於心，五臟六腑皆系於心。天有日則晝夜分，四時序，萬物生；世有君則尊卑定，貴賤明，兆姓治。心者，君主之官也，在天以日為主，在人以心為主。論凡數萬言，直與前賢鼎立，其嘉惠來茲，豈淺鮮哉！特是三家之說，一指脾，一指腎，一指心，則猶是以有形之臟體言也。夫氣者，形之本也，人自賦形以後，陽曰氣，陰曰血，而先天無形之氣，則宰乎陰陽血氣之先，修養家謂之祖氣，即天地生生之氣也。《緯書》之言曰：有生皆在氣中，凡夫負陰抱陽，昆蟲草木之屬，莫不感此氣而生，故氣在則形存，氣去則形壞。孔子曰：　子食於其死母者，少焉　若，皆棄之而走。所愛其母者，非愛其形也，愛使其形者也。使其形者何也？氣也。《生氣通天論》曰：「蒼天之氣清淨，則志意治，順之則陽氣固。」又曰：「服天氣而通神明。《靈》《素》之言，汪洋浩瀚，其要旨止歸一氣字。夫涕、唾、津、精、汗、血、液，七般靈物，皆屬陰。陰者，死質也；氣者，生陽也。方書中往往以血肉有情為煉石補天之具，不知吾身中生陽之氣，既若存而若亡，則此塊然者，亦漸鄰於朽腐之鄉，乃反恃此物之朽腐者以卻病延年，不其難乎？是故治形必先治氣，形特氣之宮城；治氣必先治心，心實氣之主宰。先天之植此形者惟氣，後天之帥此氣者惟心，斗柄招太陽，徑寸混三才三奇論之，祖氣即子輿氏之言養氣，求放心也。古人云：行醫不識氣，治病從何據？蓋無此沖和不息之氣，則心何由而藏神，脾何由而載物，腎何由而為蟄藏之本？《經》曰：「知其要者，一言而終」，其斯之謂歟。</p>
<h3>連珠</h3>
<p>連珠之作，肇自漢章之世，義取貫珠，文多假喻，節短而韻長，言近而旨遠，蓋詞賦之流派也。前賢葛稚川論醫用連珠文，今仿其體。</p>
<p>蓋聞天動星回，而辰極居其所，璣旋輪轉，而衡軸執其中，是以位定坎離，握樞紐於南北，緯纏卯酉，分升降於西東。</p>
<p>蓋聞水障於土，還以潰其土，火生於木，仍自焚其木。是以植千章之嘉樹，必溉清渠，築百丈之修堤，先疏支瀆。</p>
<p>蓋聞漏滴銅壺，水滑必迅，灰傳葭管，氣至斯飛。是以虧天一之真，脈行必速於常度，定甲乙之候，節令每決於先幾。</p>
<p>蓋聞熱獸炭之盈爐，暖勝三春，而不能代燭龍之照；焚蘭缸之寸燼，光逾四壁，而不能代　穀之暄。是以鏡本非台，君以名而離精獨炳，薪傳有火，相以位而泉水常溫。（「名」字借用王氏注。）</p>
<p>蓋聞陽為陰逼，不走即飛，陰遇陽消，非枯則槁。是以蟄雷之性，激以豪雨而勃升，旱魃之災，沛乎甘霖而卻掃。</p>
<p>蓋聞虱處頭而黑，麝食柏而香，頸依　而癭，齒居晉而黃。是以漸染深而變質，方宜之異，服用久而增氣，物化之常。</p>
<p>蓋聞鰲山之燈名走馬，旋轉於點火之光，西洋之鐘號自鳴，循環於周天之度。是以桃梗土偶，形本氣而營運，肝丑肺寅，經隨時而流注。</p>
<p>蓋聞機引桔槔，不敵尾閭之泄，戕從萌　，何假甘露之滋。是以《參同契》之金華，難填欲海，《悟真篇》之首經，詎起枯枝。</p>
<p>蓋聞樹合歡於繡閣，不怡思婦之顏，栽萱草於蘭庭，無解愁城之織。是以七情相倚，針石何施？五欲交攻，刀圭莫塞。</p>
<p>蓋聞朔雪嚴風，不解燎原之熱；流金爍石，難回冰室之涼。是以五方之裡攸分，性殊寒燠，六氣之中異所，臟別陰陽。</p>
<h2>卷五</h2>
<h3>痘毒藏脾經說</h3>
<p>痘之毒，當由妊婦飲食中得來，曾見《伍氏痘科》論毒藏脾經，云飲食氣味屬濕，濕本從脾，胎孕賴脾氣生養，母脾氣有濕熱，襲於子之脾經，猶豆種土中，非時則寂然不動，必待陽氣外鼓，萌芽內生，然後苗而秀，秀而實矣。且物入水則腐，入木則蠢，入火則焚，金堅不容物，惟土受物則可久，又能植物，又能生實也。按此論最為有識，其云痘毒藏脾，只是太陰經氣有未純處，毒字亦勿太泥。即此知古人保嬰用拭口法及朱蜜等方逐下穢糞，亦非不見到者。命門藏毒之說，從此無容印定矣。</p>
<h3>痘出同時論</h3>
<p>痘本天瘡，其始也，無不因天時驟暖，氣從外泄，濕熱乃蒸而為痘，譬如大人病春溫，同一自內達外之象，所以溫病禁汗下，痘瘡亦禁汗下。病痘者，多則痘氣熏蒸，飄泊遠近，天氣通於鼻，橐龠相感，引動而出，故證候相同，而亦各隨其人之體氣為變動。治法以和其陰陽為主，而升發尤為吃緊。蓋諸瘡屬火，火鬱則發，況氣從鼻入，在上者尤宜引而越之。若毒厲深重，必直行膜原，擾動三焦，與素有之濕熱，兩相搏激，阻遏氣機，則當如喻嘉言論疫之法，「上焦如霧，升而逐之，兼以解毒；中焦如漚，疏而逐之，兼以解毒；下焦如瀆，決而逐之，兼以解毒」，乃為調劑無誤。榮衛得通，痘出自順。務宜先達其邪，而後聽其元氣之收發，拓之、斂之，貴在行所無事而已。蓋痘雖本胎中濕熱，然為毒皆不甚重，惟穢惡之氣，乘內氣不實而潛入者，痘發乃密。今種痘之法盛行，而選苗不善，易涉險候，其明驗也。故毒重者，須分別三焦以逐其邪，即宜照顧中氣以扶其正；但云見痘治痘，急於清解，無惑乎輿尸而歸矣。至於必先歲氣，無伐天和，道理極變通，極精微，《內經‧至真要大論》詳列司天在泉、間氣、主客、勝復之治法，最難執一，非子午火燥，治皆清潤，丑未濕寒，治皆溫補之謂也。苟能於陰陽、表裡、虛實、寒熱、標本、先後之間，因病施治，即於歲氣天和之道，無不合矣。</p>
<h3>痘由太陰轉屬陽明論</h3>
<p>疹屬肺而達於皮毛，從太陽而泄；痘屬脾而達於肌肉，從陽明而透。其宜於溫補者，大陰虛寒也，異功、保元，所以得效；其宜於涼瀉者，陽明鬱熱也，承氣、白虎，所以致勝。只因由內達外，激動真氣，症候似旁涉五臟，非相傳也。</p>
<p>傷寒邪自表入，痘瘡毒自裡出，毒由太陰轉屬陽明，土為萬物所歸，無所復傳，灌漿收靨，計日可愈。故順者，能自出者也；險者，欲出而不能自出者也；逆者，不得出者也。然則痘瘡之首尾，重陽明一經，從可知矣。胃為十二經之海，氣血俱多，外鄰太陽為之　，自能領毒出戶，鼓清陽而上升，務使毒火透出肌肉，夫然而內火得化，膿之灌，漿之養，何莫非陽明融化之功乎，即如升麻葛根湯，古人以為首尾可用，深得鼓舞陽明之旨。若妄執解毒之說，承氣入胃，劫盡真陰，白虎下咽，鏟盡元陽，中土一餒，後天本撥矣，明者必計不出此。</p>
<h3>題費建中《救偏瑣言》</h3>
<p>是書也，今人家置一編，而究竟解悟者亦少，夫既云「救偏」，原為爾時偏尚溫補者說法。集中雖虛實並舉，而虛症作賓，意以人所共知者，不妨從略也；實症作主，意以人所未悉者，不嫌縷述也。苟順口念去，眼光都注定實火一邊，直以痘為有實無虛矣。又每條詳載治驗，全以大黃、石膏等收功，然其詳述病情處甚明，無一症非身熱如火，躁亂異常，口膩如脂者。夫身熱而日如火，陽明熱盛也；躁亂而曰異常，三陽熱極也；口燥咽乾，亦少陰中急用承氣湯症也。建中治法，原自中款，況所述痘點，不日形色紫黯，即日按之板實，可知脈象亦必滑數實大，實火有餘，於茲可悟。然則表症苟非壯熱之極，內症苟非躁亂之極，咽中苟非干燥之極，痘粒苟非紫黯板實之極，脈象苟非滑數實大之極者，斷不宜參用大黃、石膏等藥矣。建中未始非錚錚者，即所著《瑣言》，亦一片婆心，惜語意太責重熱毒，治驗復多夸蕩滌，且又雜撰覆釜、鱗座，及游蠶、疊錢，諸名目，概用寒涼攻發，全罔顧慮氣血，和其陰陽，俾灌漿周浹，以偏救偏，語不能休，使無識者，奉為指歸，更無隅反，則建中與有罪焉。嘗考吳又可論治疫而及痘症，專以承氣為制勝之法，且云「諸家論痘，從未言及，但知揚湯止沸，不思釜底抽薪，則古來小兒不死於正命者多矣。」此論當為建中開山之祖。顧下奪之法，雖不可偏廢，只是全體中一隅，古人如萬密齋、聶久吾方書，何嘗無三一承氣湯、桂枝大黃湯、敗毒和中飲等法，只取數語，該括救偏全部，其余按症列方，變化生心，未嘗印定後人眼目也。效密齋、久吾不得，當不失為中醫，刻鵠不成，尚類　焉；效又可、建中不得，必致殺人無　矣。即又可著《瘟疫論》時，因明季辛巳、壬午之疫起見；而喻嘉言《寓意草》又言辛巳、壬午時疫盛行，道　相望，各處醫者，發汗和中藥內惟用人參，多以活人。更有發斑一症最毒，惟用人參入消斑藥內，全活者多。由此觀之，南昌去蘇郡雖遠，或症治自當不同，然安知喻氏所謂活者，入又可手而不誤藥耶？著書垂後，為萬世計也。病變何常，而師心自用，據目前得效之方，自詡為不易之法，多見其不知量耳。</p>
<h3>回瀾論</h3>
<p>痘瘡關系生死，非精於《內經》、《傷寒論》者不能療，一有專門，則局量不闊，識見不廣，沿流而昧其源，此道遂絕，即如建中濫觴，釀成今日之倒懸。究其變本加厲之故，因見痘初起，血有熱，駭為毒火，峻用苦寒逆折，在爾時火勢勃勃欲出，雖經冰伏，尚相持不下，不致入口即斃，醫者遂信為用熟無礙，於是氣機郁遏，紅暈轉深，倍增煩熱，益共信為血熱毒重，恣用寒涼，以誤傳誤，其弊一也。遇真險症，即作危言，斷以不治，而按日處方，尤害在手口相應，到得送終，病家不咎其手法之辣，轉贊其眼力之高；醫者益　自負，無復變計，斷決愈精，聲名鵲起，其弊二也。病家樂聞清解之說，婦嫗嘈嘈，總以瀉食積，降火毒為第一著，苟不迎合其意，即使收功後稍有咳嗽及痤　，尚認為未曾解毒所致，歸咎前醫；其或過十余朝，諸法並窮，不得已加人參入清攻藥中，為江心補漏，徒見氣喘胸高，死後心頭猶熱，無識者益悔用補之誤，視同鴆砒，時醫深於世故，務求不失人情，其弊三也。刻板方治，通國皆然，稍有異同，便無聲援，入附出污，顯成時局，彼此互荐，方同一律，成固可以居功，敗亦可告無罪，醫道之行，惟此為嚆矢矣，彼惟急於道之行，寧復知其術之謬，況箕裘如是，衣缽如是，數頁方書，錦囊具在，眼光本不盈尺咫，更無從參悟靈機，其弊四也。具此諸弊，種種相因，襁褓何知，遭此巨劫，謹披肝膽，吐心腹而告諸為人父母者，曰順痘，本無不生之症，而誤藥轉有致死之因；險痘，極有可生之路，而誤藥必無不死之幸；逆痘，尚有求生之法，而誤藥反為速死之方，與其誤藥，毋寧不藥。年來痘疹甚行，比戶哭聲，順而死者猶十之三，險而死者已十之七，幸而獲愈者，非痘出極稀，即貧家無力延醫，或兒性倔強，滴藥不肯沾唇，否則藥雖下咽，立即嘔出，如有神助，求其因藥而愈者，百不獲一也。曾有一幼醫之女痘殤，哭甚哀，余笑謂之曰：君當取《左傳》語自為告解，因朗誦「余殺人子多矣，能無及此乎」。嗟嗟！余豈好為垢病哉，亦思稍挽狂瀾，為嬰兒開一線生路耳，苟能明「不服藥為中醫」之訓，則全活已過半矣，況由《內經》、《傷寒論》而精之者哉？</p>
<h3>葵菜預解痘毒說</h3>
<p>預解痘毒，萬氏有代天宣化丸，但可預防天行，究於內毒無涉。若餌朱砂、珍珠、黃連、犀角、兔血、鶴卵之屬，總因視為欲火之毒，故專入少陰，方雖新奇，試多無效。或塗萆麻膏，浴鱧魚湯，欲提毒出外，亦取未舍本。余究心格致，獨主毒襲脾經之說，又得《松　山人筆記》，詳言葵菜解毒之驗。按葵性涼滑，入脾清濕熱有功，喜其言之信而有征也，今附載於後。葵，一名紅菜頭，一名女菜，一名滑菜，一名　，蓋百菜之主也。四時可種為蔬，秋種者更佳，故冬葵子尤為藥品所尚。嘗閱《本草綱目》，李氏開載葵菜之功，萬不失一，而歷代流傳，疑信相半，遂從菜部改入草部，且因葵性寒滑，恐傷脾胃，不敢輕試，遂令對病妙藥，棄置不用，而惡毒流染，坐致痿頓，心甚傷之。久有此疑，無從辨識，十數年間，廣詢博訪，乃知為紅菜頭無疑。間令童稚餌之，雖無傷害，而功效未顯，未敢輕傳。比年以來，數經此症盛行，見不治者十有八九，而嘗食此菜者，百無一失，乃知相傳之訛，致神功之久湮也，可勝慨哉！方敢形之諸著，以廣其傳。嗟乎！因慎重而坐令陸沉，因未廣而猶然胥溺，失今不傳，後悔奚及，乃開列其方，以公諸天下後世。蓋其寒滑者，性也，泄利者，毒也，與脾胃根本何與？且未病而先藥，病受之，病去本完，最為上策。即見點而後食，猶將收大半之功，不猶愈於坐火觀薪者乎，又豈若俗醫見危迫，輒進芩、連，慘均　刃者乎？噫！是在信不信、試不試之間耳，安敢以人命為等閑，而冀其必售乎？其法，采此菜熟之以供蔬食，愈久愈佳。余所為懇懇　，祈人之必信必傳者，聊以逭逋慢之愆，而為不可復生者志痛耳！余何慕焉？</p>
<h3>擬張令韶《傷寒直解》辨證歌</h3>
<p><u>辨表分寒熱</u></p>
<p>　晝夜頭疼渾不了（先提清表分），身熱脈浮邪在表。病症看來似一般，表寒表熱須分曉（點出眉目）。或有汗，或無汗，汗少汗多且莫管。只就脈浮中，分出兩條線（是最當著眼處）。表寒浮緊或兼弦，表熱浮數兮，或兼滑長與弦緩。寒者身疼慣怕寒（以下旁證之），頻求衣被遮溫暖；熱者雖然也畏風，無風便欲開帷幔。寒不渴兮熱或渴，寒舌白苔熱黃澤，寒者口和熱口苦，寒減食兮熱能食。表寒散以辛溫味（收束），表熱辛涼非一例。表寒切勿先消食，惟恐引邪入裡去；表熱切忌是辛溫，變成燥熱為難治。</p>
<p><u>辨表分虛寒虛熱</u></p>
<p>　頭痛脈浮（表也）或兼大兼弦，或兼數兼弦，按無力（虛也），表分虛同寒熱別。表若虛寒必惡寒，屢進辛溫汗難出（若用辛涼，必致汗多而近於亡陽矣。）氣擾翻教身體麻（此下言辛溫之後變象），或大熱兮或微熱，胸前微滿且欲嘔，口淡或渴或不渴。表如虛熱口亦淡，必兼微渴思潤澤。服過辛涼身反痛，舌形定現微苔色（此下是服辛涼後變象）。不論大汗與無汗，但查熱勢加猖獗。兩症皆須補益來，寒加薑桂（宜用桂枝東加　、朮，甚則加人參、干炮薑之類；如血虛，無汗可加當歸、紅花和其陰血。）熱芩柴（宜柴、芩、歸、芍、　、朮之類，甚則加人參。）</p>
<p><u>辨裡寒</u></p>
<p>　裡寒脈沉緊，或兼緩與遲。惡寒骨節痛（五字是表證），表症似而非。胸腹滿痛且欲嘔，或吐或利俱有諸。或熱或不熱，手足指冷厥。喉有冷涎苔白滑，或如豬腰或茶褐。此宜桂枝湯去芍加乾薑，裡寒溫補是良方，甚則加桂、附，可以復其陽。</p>
<p><u>辨裡熱</u></p>
<p>　裡熱脈沉數（主腦），或緩滑以長。無論其神昏與清，無論其身熱與涼，唇焦齒黑　語現，舌短苔黑或起芒。裂破出血反不渴，或渴飲冷小溲長。或利清水或便鞭，聲音洪厲力氣強，狂發登高棄衣走，否且循衣而摸床。</p>
<p>面目或赤或不赤，其色垢濁如薰黃（即不赤亦面垢）。此宜芩、連、石膏類，甚則芒硝與大黃。</p>
<p><u>辨裡虛寒</u></p>
<p>　裡若虛寒者，脈必沉而緩（主腦），微細按無神，救之惟愁晚。手足常四逆，面色青黑黯。渴而不欲飲，但覺口中淡，惟喜極熱湯，稍解胸中滿。或嘔或吐或下利，或不大便心下悸。心煩喜躁不思食，蜷臥恍惚每獨語。</p>
<p>舌帶淡黑色，或如豬腰或糙米，或白苔而潤，或無苔而燥，短縮不能伸，望之萎且槁。理中四逆急溫之，否則神昏汗脫了。</p>
<p><u>辨裡虛熱</u></p>
<p>　欲知裡虛熱，脈沉而數按無力（主腦）。身熱退不淨，口渴神恍惚，與湯則飲之，不與亦不討。有時思食來，食到便先飽。舌上略覺燥，得湯燥即好；或有微苔或無苔，或淡紅色如桃腮。此為裡分少津液，瀉心、導赤佐生脈。</p>
<p><u>辨假虛寒</u></p>
<p>　脈沉細兮或緩長，出則遲兮入則疾（主腦），或伏筋骨按有力。口中不渴舌燥短，不但身涼且四逆。</p>
<p>神昏譫語口目動，狀若驚風作痙厥。或利清水或不便，解下或如爛桃色。人事不知歌且哭，身輕偏自能起立（大證據）。</p>
<p>或吐蛔蟲口苦辣，小便行時長且赤。此是虛寒假症現，應須解毒和涼膈。</p>
<p><u>辨假實熱</u></p>
<p>　脈弦而大或洪數，無奈按之全不見（主腦）。任他熱勢如燎原，真底實板已先現。苔白或黑短不燥，或如豬腰或米糙。面目俱赤為戴陽，譫語發狂手足躁。或有汗兮或無汗，坐臥只求井中蹈。舌腫唇焦齒出血，渴飲湯水常不絕。內是真寒外假熱，理中八味合生脈，煎成冷凍飲料代茶湯，庶幾虛火歸源得，誤用芩連增躁渴（變成死症），庸師到此休饒舌。</p>
<p><u>辨渴</u></p>
<p>　渴症須分寒與熱，熱者脈數而口苦（主腦），身熱汗出喜冷凍飲料，或兼湯水百杯可（大證據）。此宜花粉與川連，加味參同伴白虎。虛寒而渴者，脈必細兼遲，即教洪且大，終是數而虛（主腦）。渴喜極熱湯，稍溫便嫌冷；有時思得水，仍復不能飲（大證據）。此宜生脈中，薑、附辛以潤。又有汗下之後亡津液（著眼），生津之品始為得，不宜涼藥不宜溫，何況諸多辛與熱。</p>
<p><u>辨舌</u></p>
<p>　胃氣現於舌，上有淡白苔。俗醫漫消食，必致光無胎。調理到思食，苔白漸生來。君不見病有濃苔滿舌者，忽然退去光而燥，乃為胃氣絕之征，從此參詳便分曉。又有大紅舌色無苔者，君火之色浮於外，盛極將衰欲化灰（無病之人亦常有之，宜用附子。）引火歸源才得退（舌色純紅，必腎氣素虛之人，無他症而忽現此舌者，用附子引火歸源固合。又若《敖氏傷寒金鏡錄》載純紅為將瘟舌，乃熱畜於內而病將發也，不問何經，宜用透頂清神散搐鼻法，亦不可不知。）又有舌黑如淡墨，更不須分燥與濕，總歸腎水克心火，陰盛陽衰須早識；除非黑起芒刺燥而裂，陽邪熱結何消說。</p>
<p><u>辨虛寒舌燥</u></p>
<p>　舌燥有多般，或淡黃，或淡白，或起微刺或灰色。更有望之如燥們之澤，其色或紫而或黑，必兼吐利而厥逆，神昏譫語詞謇澀（舌燥而語言不清，因燥而下清可治。舌潤而語言不清，所謂口雖欲言，舌不得前，死症也。）脈形微細定如絲（虛寒定案），或雖洪大終無力。急用生脈以養津，附、薑、苓、草和　、朮（俗醫謂五味味濃，多則用十余粒，少則七八粒，此不通之論，必須錢余方效。）</p>
<p><u>辨實熱舌燥</u></p>
<p>　實熱舌燥先有地，或黃或黑起芒刺。即使苔輕偏破裂，必兼身熱焦唇齒。渴喜飲冷面目赤，並無吐利與厥逆。　語便閉諸症現，洪數滑長脈可驗，白虎承氣隨變換。</p>
<p><u>辨寒頭痛</u></p>
<p>　寒頭痛脈浮而緊（主腦），或弦或沉更兼遲。惡風與寒四肢冷（大證據），頭喜熱物包裹之（更有劉河間論頭痛屬熱者，亦惡寒喜熱，緣熱為寒閉，則其痛甚，熱氣流通，則痛止也，然止後必復作而益甚為驗，脈亦必有異。）理中參入桂、天麻，附子、細辛重者加，少佐羌、防法亦精。</p>
<p><u>辨熱頭痛</u></p>
<p>　熱頭痛脈浮而數，或滑而長亦有諸。口苦舌乾渴欲飲，痛連風府與風池（大證據）。惡熱其常惡風暫，此為風熱症已顯。羌、防、柴、葛、連翹、芩，甚則石膏用之驗。</p>
<p><u>辨虛頭痛</u></p>
<p>　虛頭痛脈弦而大，弦則為寒大則虛（主腦）。痛極不堪喜得按，日夜呼叫語聲嘶（大證據）。其痛或專在額上，遍頭皆痛亦有之。急宜參、苓、　、朮加附子，此症失治危即死。</p>
<p><u>辨風寒骨痛</u></p>
<p>　風寒骨痛脈弦緊（主腦），或遲而緩亦有準。身熱惡寒手足冷（大證據），舌上白苔口不渴，拘攣遍體酸難忍，甚則上嘔下利並。桂枝湯內用天麻，有濕去芍加附穩。</p>
<p><u>辨虛骨痛</u></p>
<p>　脈弦而大數無力（主腦），或發熱兮或不熱。惡風兮拘急，口淡兮神思恍惚（大證據）。痛在骨節兮，服發散藥而痛愈劇，此神氣傷也，合用桂枝與　、朮。大凡人身諸骨節，其數三百有六十，是神氣之所游行而出入，君不見仲景新加湯，重用參、薑以復脈。</p>
<p><u>辨虛寒腹滿</u></p>
<p>　藏寒生滿病（出《內經》），脈遲緩兮或沉緊，或虛大兮按無力（主腦）。腹滿時減減又甚（證據出《金匱》），不欲食兮食即嘔，或泄瀉惡寒兮，而渴喜熱飲。薑、桂、香砂溫散之，不應再加參、朮、　。</p>
<p><u>辨實熱腹滿</u></p>
<p>　脈沉而實兮（主腦），或滑與長兼。腹滿不減兮（證據），減亦不足言（二句出《金匱》）。大便雖解而不暢兮，或得解而少寬。腹滿硬痛不可按兮，無吐暈等虛症之相參。此宜枳、朴以消之，甚則加大黃參其間。</p>
<p><u>辨虛寒不大便</u></p>
<p>　大便不通群呼熱，不知寒凝亦斂結。腹不滿兮口不渴（疑案），白滑胎兮弦緊脈（定案）。此屬虛寒無浪攻，照常飲食且從容（切不可餓），遲之一二十日後，溫補足時氣自通。</p>
<p><u>辨實熱不大便</u></p>
<p>　脈數有力長滑甚（主腦），煩渴腹滿按之硬（證據），或潮熱兮食即脹，時有濁氣從後進，此為胃熱宜下之，一有虛症須細審（大約實症一下即愈，一有虛症，便須細審，即必當下者，亦只用涼膈以微利之，解毒以和之，陶氏黃龍湯以補而下之。）</p>
<p><u>辨小便不通</u></p>
<p>　小便不通分虛實，虛則三焦失其職，屢經利水不相合；此宜《金匱》腎氣丸，治其三焦決瀆官，象牙生煎服亦安。實者人素強，或好食熱物，肺熱不能通水道，以致膀胱成熱結，宜用豬苓、澤瀉、梔、滑石。用後仍不效，須向膀胱尋外竅，《經》說毫毛是其應（《經》曰：三焦膀胱者，腠理毫毛其應，是三焦主腠理，膀胱主毫毛，膀胱有出竅而無入竅，濟泌別汁而滲入於膀胱者也。毫毛是其外竅，譬如水注，塞其上竅，則永不能出矣。如人不虛，利小水而仍不通者，宜發其汗，外竅通而內竅亦通，此所謂開鬼門也），改從發汗最為妙。又有動其胞中血，虛寒實熱隨症別，虛寒便溫補，熱則清熱而養血，因症施方不可執。</p>
<p><u>辨嘔</u></p>
<p>　其人受暴寒（審因），或食生冷物，吐酸並乾嘔（證據），平胃、正氣合。脈滑胃有餘（主腦），飲冷不喜熱，服溫熱藥嘔愈甚（證據），黃連、竹茹佐薑汁，兼虛參以參加入。脈或虛大數無力（主腦），嘔吐清涎及冷沫（證據），胃虛不能容穀食，聞食即嘔食反出，人參理中最為良，丁香、附子加亦得。脈滑有力症不虛，胸滿按之痛愈劇（證據），合用朴、實與二陳，此謂中焦之嘔從乎積（東垣語）。</p>
<p><u>辨吐蛔</u></p>
<p>　熱厥吐蛔蛔必多，神情清楚脈形和，隨生隨吐無煩躁，瀉其濕熱勿蹉跎。厥陰傷寒屬風木，吐蟲兼吐水清綠，手足厥冷煩躁甚，烏梅丸義君須讀。</p>
<p><u>辨汗</u></p>
<p>　虛汗須分陰與陽，陽虛自汗補其衛（其人素虛，或勞傷，或大病後，腠理虛，陽不能衛外而為固，則自汗，宜用參、　、五味、芩、朮，甚則加桂、附，如乾薑、半夏、陳皮開達之藥，皆不可用。）盜汗歸之陰氣虛，參、歸、甘、地從其類。（人臥則血歸於肝，陰虛而不能為守，則盜汗，宜參、芩、　、朮、五味、歸、芍、生、熟地之類）。</p>
<p>惟有陽明邪並來，熱氣薰蒸毛竅開，汗出溱溱常不止，但宜涼解得和諧（汗有心家血液之汗，太陽津液之汗，俱不可出，惟陽明水穀之汗，雖出無害，故陽症傷寒，熱氣熏蒸，毛竅開發，溱溱而自出，亦猶滾湯貯於器中，熱氣上蒸而外濕也，若汗不出，熱氣不得泄，必鬱而發黃，即宜用清涼以解其熱，而汗自止，不必用止汗之藥）。更有傷寒病久無汗出，大劑參、　、柴、桂合，頓然出汗退其熱，景岳書中亦曾說。</p>
<p><u>辨譫妄</u></p>
<p>　語是多言，皆因胃汁乾。就中　語有實象，　字從嚴侃侃然。旋轉風輪難自主，才呼李四便張三。</p>
<p>鄭聲氣短神蕭索，鄭重頻煩不厭復，一樣逢人講話多，不曾說南又道北。設使　與鄭，大半屬無稽，是則名為妄，虛實皆有之。若夫似睡非睡間，隱隱躍躍如交談，此為獨語未全亂，各從脈症細詳參。</p>
<p><u>辨面目赤</u></p>
<p>　面目赤有三，須從脈症參。陽氣鬱於表，辛涼可散焉。裡熱薰於上，白虎及黃連。無根火外浮，此是內真寒，八味生脈煎冷凍飲料，假對假兮古所傳。</p>
<p><u>辨下利</u></p>
<p>　下清穀者為虛寒，下清水者為實熱，惟有膿血、稀溏、和汁沫，此三件中細詳別。假如作嘔不食兮，腹痛喜按，心恍惚而煩兮，或動悸與頭眩，燥而不欲飲兮，頭眩耳鳴而口淡；後重逼迫兮，既解而仍不減；脈弦數而虛大兮，皆虛寒之外現。苟脈症之反是兮，即實熱之證驗。</p>
<p><u>辨厥</u></p>
<p>　手足冷時為四逆，厥者其冷過肘膝，仲景《傷寒》俱禁汗，無論陽厥與陰厥。陽厥是傳經，病自三陽並入陰，熱極必兼勝化行，還有始熱終寒因。藥誤也能轉入陰寒路，執定傳經亦是錯。陰厥是直中，喻氏《中寒論》當誦。</p>
<p>寒邪斬關直入來，急救真陽休夢夢。還怕熱邪深入血，頓然厥冷身無熱。君不見吞痧樣子忌熱湯，不比中寒一例說。總之脈症要詳參，莖草拈來生殺間，陽厥譫渴陰吐涎，陽者身輕陰者蜷。復看其人唇、爪、甲，青紫為熱青黑寒。又有痰厥、食厥、和尸厥，病久陰陽二氣虛亦厥，各等各樣在《準繩》，步步須求脈症合。</p>
<p><u>辨腹痛</u></p>
<p>　腹痛是虛喜揉按，虛者必寒病涉陰，脈遲緩兮或虛大，諸多虛象察其因，理中桂、附可施行。熱者面黃澤，加以長滑脈，宜用黃連苦清熱，少佐薑、萸亦相得。更有欲嘔不嘔腹痛多，寒熱其如錯雜何，黃連湯內乾薑、桂，好共參、甘兩下和。食痛應消食，難在虛寒兼食積，學士溫脾法可宗（許學士有溫脾湯，見《本事方》）。化為煎法尤熨貼（有虛寒之人患腹痛，服溫補藥而相安。時止時作，痛仍不解，甚則利清水或白沫，此虛中有買，或先有宿食在腸不曾去，或病中腸胃虛不能運化，所食之物停於腸中，即一二塊宿糞，亦能作楚，宜用溫補藥煎好，去渣，入大黃一錢，不甚虛者，可加一錢五分，滾四五沸服之，宿食自下，正氣不傷，而病隨愈。此屢試屢驗之妙法也。）蟲痛面黃吐涎沫，食酸即安甜即劇，虛實寒熱要分曉，殺蟲方中求配合。氣痛因郁惱，必連胃脘與兩脅，病久人必虛，滋補兼疏郁。痛不可近者，按之濡軟為畜血，不比硬滿為熱結，重則桃仁承氣湯，輕者宣通微下奪。別有吞痧一症現，濕熱薰蒸邪變幻，急刺委中出血良，磨服玉樞丹亦善。最怕是三陰寒症認為痧，不飲溫湯飲冷茶，亂進丹丸並放、刮，臨危空自悔前差。</p>
<p><u>辨脈脫</u></p>
<p>　六脈俱脫者，大命垂危矣（神昏脈脫者死，神清脈脫者亦死。）通脈四逆急服之，還怕脈因暴出死。</p>
<p>但得脈來微續生，更需附子四五枚，人參小半斤，周時服盡休間斷，隨進米粥始回春；參力偶不繼，前功必盡棄，平時無學力，到此滋疑懼。每見虛寒之極服溫補，躁亂不寧嘔且吐，此為藥力尚未全，切莫心疑換別路。大約三陰病症露危劇，急則六日或三日，緩則行期十二日。幸而君火未全衰，反見舌乾等症出，更須薑、附助其陽，漸得陽回舌生液。若見舌乾投涼劑，壞乃百年人壽事，起手果然認得真，斷不朝三與暮四。君不見《景岳全書》用法精，十補一清巧相濟；又不見嘉言《寓意》重叮嚀，陰症轉陽必自愈，濟困扶顛道在斯，一有游移便錯去。更有虛寒服藥來，溫補不安涼適意，兩寒相得從其類，正氣敗壞決不治。至於實熱失汗下，脈伏似脫君休怕，大承、十棗用即安，神氣分明現真假。須知實熱治可緩，涼瀉一投撥便轉，不比虛寒救濟難，仁術全憑思與辨。</p>
<h2>卷六</h2>
<h3>三皇藥王考</h3>
<p>自古三皇畫卦而分陰陽，辨藥而作《本草》，論病而垂《內經》，吾醫開教於《三墳》，至今尚讀其傳書，內而醫院，外而醫學，並奉為主祀，列入條編者也。至唐而有韋氏名訊，道號慈藏者，施藥濟人，世人共仰為藥王，醫史可考。則是藥王之距三皇，已隔唐、虞、夏、商、周、秦、漢、晉、及南北朝十余代矣。今有無知僧道，以藥王之像，塑為卉服，與神農之像無異，借以通書所載，每年四月二十八日藥王誕之語，影射混淆，惑人酬款，以致庸俗之人，誤稱三皇為藥王，殊為可笑。查《欽定禮科則例》，現載京師先醫廟，奉三皇於南向，配句芒等四位於東西向，又分列僦貸季等二十四位於兩廡，由上古而遞次及唐藥王韋慈藏，現與啟元子王冰東西對列，則例彰彰。吾醫之有三皇，猶儒者之有孔子也；若夫藥王，較之程朱諸子，尚有間焉，譬諸范、歐諸儒，庶兒相近。今以若賢若神之號，而與開物成務之大聖人相混，褻慢甚矣，故特考而辯之。</p>
<h3>《脈訣》正訛</h3>
<p>《四言脈決》，始自崔紫虛，嗣後校者、纂者頗多，迨至明季李士材《醫宗必讀》中之所著，固為盡善，而亥豕之訛，尚有未正，彭也不才，謹陳管見，以俟高明鑒定。</p>
<p>【脈形主病節】「沉弱陰虧」句，「陰」字誤刻，當作「陽」字。蓋沉弱皆陰脈，有陰無陽，豈非陽虧。況上文有「浮濡陰虛」句，是此句之緊對面，為可征也。注中即作「陰」字解，乃因訛承誤。</p>
<p>【奇經八脈節】「尺外斜上，至寸陰維，尺內斜上，至寸陽維」句，注中以二脈分左右，恐未必然。李瀕湖云：「陽維起於諸陽之會，由外踝而上行於衛分；陰維起於諸陰之交，由內踝而上行於營分，所以為一身之綱維也。」既為一身之綱維，何得以左右分言之。且言經位，仍以三焦列於右尺，小腸列於左寸，與所著《脈法心參》之三焦分列三部，小腸列於右尺之論，自相矛盾，此亦有訛。</p>
<p>【五臟本脈節】「腎在左尺，沉石而濡」句，字必有訛。按《訣》中曰「浮小為濡」。又本集《脈有相似宜辨篇》中曰：「濡與弱，皆細小也。濡在浮分，重按即不見也；弱主沉分，輕取不可見也。」如此則濡脈不得與沉脈並見，而此處又何以並稱耶？考諸《內經》云：「平腎脈來，喘喘累累如鉤。」因思「而濡」二字，形似「喘喘」二字，所以誤刻，當作「喘喘」讀之，但久訛莫正，此何故耶？豈因「喘喘」義奧，庸淺校錄，反以「喘喘」為誤而改之，繼而　蕘悅口，習焉而不察耶；抑因「濡」字有「　」音，從來賢哲止作　音讀之，即作「　」字解之，而不作脈名，則於脈義似乎不犯，所以未之或校耶？然既有濡脈，而此又以非濡脈之「濡」字混淆不清，恐不足以教天下。彭反覆推敲，終不若以《內經》「喘喘」二字易之，非惟不與濡脈相混，而與形容胃氣之義，較「濡」「　」二字更為超妙也。</p>
<p>「右尺相火，與心同斷」句，疑有衍文。蓋兩尺皆腎部也，《內經》於中附上、上附上，皆言左右，而於尺則獨曰「尺外以候腎」，並不言左右，可見兩尺皆腎，一定之位，右尺既亦屬腎，脈亦宜同左尺之沉石矣。若與心同，則上文心脈是浮大而散，豈此腎部亦浮大而散乎？或曰「心」字乃「腎」字之誤，當作右尺相火，與腎同斷，其理固通，但相火位居命門正中，不偏不倚，不過驗脈之法，附於右尺，其脈自宜以腎為主，相火為附，若讀作右尺相火，與腎同斷，則文法倒裝，主客不明。愚意不若直貫之，文作「右尺亦腎，相火同斷」讀之，方見得右尺亦屬腎部，其脈自必同於左尺之沉石喘喘矣，不過較其大小，有力無力，以征相火之衰旺，故曰同斷耳。</p>
<h3>三焦論贅言</h3>
<p>嘗讀《難經》、叔和、啟玄、諸大賢三焦論，皆謂有名無形。又讀《靈樞經》曰：密理濃皮者，三焦濃；粗理薄皮者，三焦薄。勇士者，三焦理橫；怯士者，三焦理縱。則似乎有形矣。及觀李士材曰：肌肉之內，藏腑之外為三焦；亦無形也。而士材又以無形為誤，而以《靈樞》之濃薄、縱橫，如霧、如漚、如瀆，以征其形。則三焦究屬有形耶，無形耶？謹贅一言以辨之。夫三焦者，即胸、膈、腹內、三空處也，諸大賢皆謂有名無形者，所以別其不同於他藏他腑之自具一形耳，非曰無形即無其處，正欲指空處，故曰無形也。《靈樞》謂濃薄縱橫者，即借胸膈腹之腔子裡面為言，非另具一形而為濃薄、縱橫也。《經》又曰：如霧、如漚、如瀆，而中焦又有作如瀝者，蓋即指胸、膈、腹內空處之水氣為喻。如果有形，則霧乃氣聚，有時而散，漚為水泡，時起時沒，瀝是余滴，可有可無，皆無常形，豈可比之上中二焦乎？至於下焦如瀆者，亦不過以溝瀆中水道，比下焦之水道，非以溝瀆之殼子相比較也。即士材所謂肌肉之內，藏腑之外，雖有其處，原無其形，何反以無形為誤，豈其意以既有其處，即不得謂之無形耶？然處與形不同，有其處，《內經》所以云云；無其形，諸賢所以定論。先聖後賢，言似異而旨實同也。惟陳無擇言有形如脂膜，疑未妥協，蓋脂膜乃身中原有之物，三焦之形如之，則又一層假脂膜也，假脂膜與真脂膜，其何以辨哉？故敢謂其未妥。</p>
<h3>認疫治疫要言</h3>
<p>疫癘之證，病家每每忌諱，醫家故不明言，然口雖不必明言，心內還須認清，若認之不清，不但用藥無效，而且開口便差。認疫若何？於聞見中但有兩三人病情相同者，便要留心。留心若何？病有來蹤去跡，怪怪奇奇，傳變遲速，不近情理，較諸正傷寒、風溫、溫熱、濕溫、暑　等門，迥乎大異者，即疫也。脈證不必大涼，而服大涼之藥，似有害而終無害者，即疫也。脈證可進溫補，而投溫補之劑，始似安而漸不安者，即疫也。</p>
<p>治疫之法，總以毒字為提綱，憑他如妖似怪，自能體會無疑。君如不信，試觀古今治疫之方，何莫非以解毒為主，吳又可之專用大黃，非解毒乎？張路玉之酷喜人中黃，而以童便配蔥、豉為起手方，非解毒乎？葉天士之銀花、金汁必同用，非解毒乎？至於犀角、黃連、生甘草等味，十方九用，非解毒乎？故嘉言喻氏有要言不繁曰：「上焦如霧，升而逐之，佐以解毒；中焦如漚，疏而逐之，佐以解毒；下焦如瀆，決而逐之，佐以解毒。」觀其旨，上中下則有升疏決之異，而獨於解毒一言，疊疊緊接，不分彼此，豈非反覆丁寧，示人以真諦也哉。</p>
<h3>趨庭雜記</h3>
<p>憶余少時，嘗讀《內經》云：「肺藏魄，肝藏魂。」又云：「肺主氣，肝主血。」夫既清陽之氣歸之於肺，濁陰之血歸之於肝，又何以清陽之魂不歸於肺金，濁陰之魄不歸於肝木哉？以是析疑於先子，先於曰：噫！汝之愚也，然亦不可無此一問。蓋人法天地，稟賦陰陽，先天皇極，干南坤北，離東坎西，是以東離日府，反藏庚位之金雞，西坎月宮，又賴甲方之玉兔，金中有木，木中有金，金情戀木，木性戀金，是大地沖和之道也，肝魂肺魄，更何疑哉？相傳孫思邈有降龍伏虎之說，余問於先子，先子曰：此亦當時之寓言耳。蓋今之肝氣橫逆，脅痛嘔惡，目張痙厥，非猙獰之逆龍乎？而肺氣不宣，喘急痰壅，便溺俱無，非猖狂之猛虎乎？當此之際，有慧心明手，一劑而其病如失，是即思邈之降龍伏虎也。子輩讀書，由此說而隅反之，自可日進於高明矣。</p>
<p>竊怪今之人學術未精，每咎於藥品之未醇，或嫌膠之不陳，或憎連之非川，用桂無交趾之產，用術難於邑之真，諉辭卸責，不知上古之世，衣服宮室尚有未全，金、石、草、木之品豈如今之悉備耶？然古人未嘗不治人也。且醫之有藥，猶繪事之有色也。青、黃、赤、黑，色之常也，而淡紅、微翠、嫩綠、嬌黃，乃繪家均合之巧。寒、熱、溫、涼，藥之范也，而大小、綏急、奇偶、輕重，亦由醫者配合之微妙耳。嗟乎！可以醫而不如繪者乎？讀《素問》五運合化之理，有黃氣橫於甲巳，白氣橫於乙庚，黑氣橫於丙辛，青氣橫於丁壬，赤氣橫於戊癸，余潛心仇對，難以自明，及讀《天元冊》文，有丹天之氣經於牛女，　天之氣經於心尾，蒼天之氣經於危室、柳鬼，素天之氣經於亢氐、昂畢，玄大之氣經於張翼、婁胃，因以張介賓所繪《運氣圖》玩索之，始悉天干與二十八宿所處之向，所合之位，讀時雖少開茆塞，然其合化之根源，一定不移之法，則尚難胸中明轍，確乎無疑，由是問於先子，先子曰：天下之事不出乎五行，而《河圖》為五行之祖，今爾以合化之所以然，而欲溯流窮源，盍以《河圖》思之也。夫《河圖》之數，一與六合，二與七合，三與八合，四與九合，五與十合。試屈指天干之次第，甲數居一，巳數居六，乙數居二，庚數居七，丙數居三，辛數居八，丁數居四，壬數居九，戊數居五，癸數居十，即《河圖》生成之數。土為萬物之母，故以為首而相生合化也。此至簡至易之事，而人多未有悟及者也。</p>
<h3>辨醫書音義</h3>
<p>《傷寒》書有「噫氣不除」句，今人以「噫」字讀作「依」字聲者居多，因《四書》注：「噫，心不平聲也。」但此噫氣由中氣不和，胃氣上逆，與心不平聲義不合。考《字典》音於介切，應讀「隘」字之去聲為是。</p>
<p>《脈訣》二十八脈內有濡脈，注云：「與爛綿相似。」今人讀作「如」字聲者居多，然非濡滯之義。考《字典》「濡」</p>
<p>字有而、囚、如、柔、　、五音，《莊子》有「濡弱謙下為表」句，與「　」字之義頗合，則此「濡脈」，宜讀「　脈」</p>
<p>為是。</p>
<p>痹者，閉而不通之謂也。《字典》兵糜切，音秘。今人多念作「避」字聲者非。</p>
<h3>夏月忌枳說</h3>
<p>枳殼、枳實，皆破氣之品，夏月乃「熱傷氣」之令，二藥非宜，故暑濕熱三氣門方中，惟陽明實滿，不得不與承氣湯者間有用之，其余皆不用，此古人制方之意，若有不謀而合焉。今人未能體會，每於暑熱之時任意用之，是何讀古人書而漫然未覺耶？或曰：枳不宜於夏令，檳榔尤甚矣，余曰：不然，夏月之邪，三焦受者居多，非檳不達，故為要藥，枳不能通三焦，故為時令之禁。</p>
<h3>喜傷心恐勝喜解</h3>
<p>心有所樂謂之喜，何反謂其傷心哉？凡人之氣，以平為期，不及者病，過者亦病。《經》曰：「心藏神，神有餘則笑不休。」試即以「不休」二字味之，乃樂之過而失其正也。當此樂以忘憂之際，有放心而不知求其心，所藏之神不亦因之而渙散乎？至於恐能勝喜，其義維何？蓋喜為心志，恐為腎志，水能制火，既濟之道也。抑更有顯而易見者，人當極喜之時，適有恐懼之事，猝然遇之，莫不反喜為憂者，惟以喜之情緩於恐，而恐之情急於喜也。是僅以水火剋制之理言之，或近傅會，而不知勝復之道本乎人情，實有沒相印合者。</p>
<h3>恐傷腎思勝恐解</h3>
<p>恐為腎之志，何即傷腎乎？蓋「腎者主蟄，封藏之本」，喜靜而不喜動，恐則氣下，偏能動之，如張子和云：恐氣所致，為骨酸痿厥，為暴下清水，為陰痿，為懼而脫頤，凡此諸症，非皆傷腎之明驗歟？若善思者處此，即非常臨之，自有定識，豈得以恐懼搖其意見哉？況思慮之志出乎脾，以思勝恐，亦即以土制水，論情論理，亦適符也。</p>
<h3>思傷脾怒勝思解</h3>
<p>脾志思而肝志怒，木能克土，此其理也，而曰傷曰勝，義亦顯明。岐伯曰：「思則心有所存、神有所歸，正氣留而不行，故氣結矣。」蓋脾處中州而屬土，喜健運而惡郁結，思則氣結，故曰傷也。況思雖為脾志，而實本乎心，心者，脾之母也。今以多思而心營暗耗，母氣既虛，則所以助脾者亦寡矣。若夫怒可勝思，不言而喻，嘗見人熟思審處之時，忽有拂逆之加，一朝之忿，無不為已，前此之思之弗得弗措者，至此而無暇計及矣。此無他，亦惟人之常情，有緩與急而已矣。</p>
<h3>怒傷肝悲勝怒解</h3>
<p>肝為木臟，欲散而苦急。《經》曰：「肝氣虛則恐，實則怒。」又曰：「怒則氣上。」夫以將軍之官，至剛之臟，復以嗔怒而助其氣，是急也，非散也，故曰傷也。若夫悲者，有所哀痛而然也。《經》曰「悲則氣消。」則當氣逆之時，適以此消氣者值之，謂之曰勝，誰曰不然。</p>
<p>或曰：四志所勝，皆與五行剋制之理合，茲怒為肝志，何獨非肺志之憂勝之，而云「悲勝怒」乎？蓋喜怒憂思悲恐驚，其情有七，而五臟止有五志，故遺去悲與驚二者，以悲與憂相類，皆屬不遂其心也，驚與恐相類，皆有所怯也，惟悲之情較急於憂，故其勝怒為更切耳。由是觀之，即謂之憂勝怒，亦何不可。</p>
<h3>憂傷肺喜勝憂解</h3>
<p>肺為氣主，忌乎　郁。《經》曰：「憂愁者，氣閉塞而不行」，是憂能傷肺之由也。至於喜可勝憂，其義何居？亦考諸岐伯曰：「喜則氣和志達，營衛通利，故氣緩矣。」則以閉塞者而和緩之，豈不得謂之勝乎？然亦更有顯明者，凡人有所憂愁，每多胸膈不舒，適逢歡快之事，即可情懷開曠，此尤情性之常，寧獨火可勝金而已哉。</p>
<h3>百合病贅言</h3>
<p>此症行止坐臥皆不能安，自朱奉議以為傷寒之變證，後之注《金匱》者，或言屬氣，或言屬血，論說紛紜，余竊以為皆未中肯。夫「百脈一宗，悉致其病」，乃本乎心神渙散也。心主脈，故心病而脈為之皆病矣。惟其心神渙散，故下文常默默，不能食，不能臥，不能行數句，無可奈何之態，皆所以形容百脈悉病之語。未經誤治，病情如是者，乃為此病之正，故用百合而加生地黃汁，顯為五志之火，消爍心陰，於是以此救之。《經》所云「津液相成，神乃自生」之意也。</p>
<p>此外因誤治之變，而隨症治之，如《金匱》所立數方，亦不過略舉其概，以令人隅反；設未用汗、吐、下三法，而曾或寒、或熱、或補、或瀉之藥以誤治者，治法亦宜權變，惟在法古者之引伸觸類耳。趙以德《衍義》云：「病多從心主，或因情欲不隨，或因離絕菀結，或憂惶煎迫，致二火鬱之所成」，最為切當。惜其有見及此，而未明言心神渙散之故，注中反雜以熱毒瘀血等解，殊為白璧之瑕。昔張路玉治孟端士太夫人此病，用生脈散加百合、茯神、龍齒，稍兼黃連而病愈，蓋以百合攝神之法而推展之，洵為能讀仲景書者矣。第安神之藥不一，而專取乎百合者，因其形象心，瓣瓣合抱，取其凝合渙散之心神，由是而百脈皆利矣。嘗閱《中吳紀聞》云：百合乃蚯蚓所化，張路玉亦曾親見，於包山土罅中，有變化未全者，大略野生百合，蚓化有之。夫蚯蚓性動而專通經絡，及至變而為百合，則由動而靜，由散而合，用為主治，即此意耳。且百脈悉病，則病變百出，非經文數症之所能盡；設或症不盡合乎經文，而遇病態類此者，亦宜體會其意而推測之，不可泥定下文數症也。當明欲食不能食等句，乃無可形容之辭，病為神病，而難以形容，醫者亦須神會，而非語言文字之所能罄者矣。景岳云：無形者，神也，變幻倏忽，換回非易，引《經》文「粗守形，上守神」二句，而嘆安得有通神明而見無形者，與之共談斯道哉。旨哉，是言也！向來注者，多以百合為消瘀血，然消瘀血者，乃赤花之山丹，非百合也。蘇頌以病名百合，而用百合，不識其義。李士材曰：亦清心安神之效耳。士材能見及此，而未發明此症之機要，殊缺典也。</p>
<h2>卷七</h2>
<h3>辨脾胃升降</h3>
<p>余嘗考治脾胃莫詳於東垣，求東垣治脾胃之法，莫精於升降。夫升降之法易知，而升降之理難明。其在《經》曰：「脾胃為倉廩之官，五味出焉。」蓋脾主生化，其用在於無形。其屬土，地氣主上騰，然後能載物，故健行而不息，是脾之宜升也明矣。胃者，水穀之海，容受糟粕，其主納，納則貴下行，譬如水之性莫不就下，是胃之宜降也又明矣。故又曰：「清氣在下，則生飧泄；濁氣在上，則生　脹。」夫清氣何？蓋指脾氣而言，不然何以在下則飧泄也；其濁氣何？蓋指胃氣而言，不然何以在上則　脹也。是非可為脾升胃降之一確證乎？由此而推，如仲聖所立青龍、越脾等方，即謂之升脾之清氣也可；其所立三承氣諸方，即謂之降胃之濁氣也無不可。觸類引伸，理原一貫，先聖後聖，其揆一也。考東垣所著補中益氣、調中益氣、升陽益胃各方，其論雖詳於治脾，略於治胃，而其意則一臟一腑，升降各有主治，顯然不可混者，其與先聖之理，又何嘗相悖，而後先輝映，足以發明千古，良可師也。苟其顛倒錯施，俾升降失宜，則脾胃傷，脾胃傷則出納之機失其常度，而後天之生氣己息，鮮不夭扎生民者已。余偶讀東垣書，詳究脾胃，以辨其升降之理如此。</p>
<h3>氣有餘便是火解</h3>
<p>昔賢有云：「氣有餘，便是火。」此當專以病氣立論。若元氣有不足，而無有餘者也，何則？氣化於精，精生於水穀，故人情一日不再食則飢，飢則氣怯而倦怠，若飲食適宜，起居有節，始得元氣充流，一晝一夜，正合一萬三千五百息，為人身之常度，故聖人御氣，如持至寶，非以氣之易於不足乎？自夫風、寒、暑、濕、燥、火六淫之氣，外侵營衛經府，阻塞正氣流行出入之道，遂致腠理閉塞，胸腹痞滿，二便不通，種種顯病氣有餘之象，而元氣已形內餒之機，醫者但當察其所因，如風則用和，寒則用汗之類，即不致化火，而元氣復矣。若治不中要，病氣留著，則六者皆可化火，即熱病為傷寒之類，而病機十九條，屬熱者多是也，故曰氣有餘便是火。即七情之病，亦莫不然，如喜太過，則喜氣有餘而心火熾，怒太過，則怒氣有餘而肝火炎，此尤當從臟氣之陰陽虛實而調劑之，若執是說以往，不曰破氣降氣，即曰清火瀉火，吾恐少火生氣，一傷則俱傷，一敗而難復，非衛生之道也，豈古人立言之旨哉！</p>
<h3>東垣景岳論相火辯</h3>
<p>東垣曰：「相火者，元氣之賊也。」丹溪述之，景岳非之。論曰「情欲之火，邪念也，邪念之火為邪氣，非相火之所為也。」二家之說俱有詞障。夫相火者，腎中之真陽，稟自先天，為人生之根本，云為動作賴之以立，衰則病，息則死。</p>
<p>老子曰：「一」生二。」周子曰：「無極而太極，太極動靜而生陰陽。」是相火一人身之太極也，太極不能無動，然動而有節，即是少火以生氣，動而無制，則為壯火以害氣，如水能浮舟，亦能覆舟，實一相火之所為，豈得另有邪火也？故人之喜怒愛懼，不過五藏之本志，男女大欲，則又萬物之化醇，是皆天地間經常之理，原不至於傷生，惟狂蕩無節，斯為害耳。然相火既定位於下焦，蒸騰發育，夫能使之理勝而安，欲勝而危者，則惟一心，故心為君火。《經》曰：「君火以明，相火以位。」又曰：「主不明則十二官危。」此其尤大彰明較著者也。《大學》正心，釋氏降伏其心，養生者善治其心。</p>
<p>則推而極之，為聖賢，為仙佛，守而持之，康寧壽考。若舍君而言相，無怪乎或為元氣之賊，或為生氣之本，意旨岐趨，則瀉火補陽，爭門角立，黨同伐異，欲為闡發前賢，恐先與《經》旨相謬。</p>
<h3>古今元氣不甚相遠說</h3>
<p>「五方風土異宜，古今元氣不同」，醫林每奉此二語為治病立方之要旨。以為西北高燥多寒，東南卑濕多熱，高燥則筋骨勁強，卑濕則肌肉柔弱，此分情勢之剛柔，非以判本原之強弱，故《內經‧異法方宜論》、《五常政大論》，聖人早為詳言之。至古今元氣不同，則愚竊有說焉。皇古之世，壽稱千百，荐紳先生難言之，或者書缺有間，未足征信歟？《尚書》載自帝堯以來，則皆彰彰可考，所謂元氣之濃薄，必征諸壽數之短長，故古人之元氣不可見，而古人之壽數有可稽。</p>
<p>唐虞三代，已不聞有數百歲之人，觀之孔顏，尤明驗也。仲師誕生於漢，為制方之祖，其用藥也，不啻數倍於今，由其察脈真，審證確，任使精專，一湯日作數服，病愈或不終劑，蓋有是病，必用是藥，去疾務盡，斷斷然也，然非謂漢時氣濃則可也。古者以百歲為上壽，七八九十者為老，遞降而夭殤，自漢迄今，果有異歟？蓋至誠無息，天地之體未有久而漸薄之理，惟天地無心於造物，人稟天地之氣以生者，原各得此百年之用，而修短不齊者，人自有其濃薄耳，今古一轍也。不然，軒岐垂教，長沙祖述，豈專為一方一代而言哉？若謂今之人稟氣日薄，則善乎徐洄溪有草木之性隨之亦薄之論，此又不移至理也。自元氣不同之說行，群以古法不宜於今，麻、桂慮其亡陽，薑、附畏其劫陰，柴、葛以升而代之，硝、黃以厲而制之，即偶然一用，不過數分，病則猶是也，藥則不及矣，安能奏效乎？因是邪不去，正立亡，始之以謹慎愛之者，終之以因循害之也。故愚以為學人，當專務審證辨脈，既得證因之本，幸勿拘元氣不同之見，當宗古人用藥而稍減之，矯今人立方而增重之，庶幾病氣速除，生機不息矣。鼎也學識淺陋，有志未逮，書此以俟之。</p>
<h3>四時皆有傷寒說</h3>
<p>三陽傷寒，俱有表證，至於三陰，既無表證可據，而又不必一日太陽、二日陽明循經而傳，卒然直中，無拘太少，今試有人卒然患得三陰條脈證，醫者診視，將不知目為何病，無論治之也。故有謂南地無傷寒者，非無傷寒，實有之而難於識，難於治也。寒者，天地之一氣，《傷寒》者，舉一以名書，一百一十三方，果皆治寒之劑哉？猶魯史錯舉四時而名《春秋》也。竊謂傷寒一證，不特霜降以後，春分以前有之，即三時皆有之，不過因時易名，春溫、夏暑，其證治已全具於三百九十七法中，在學人能通其變耳。是《傷寒》實備六氣之治，厥後或專論溫熱，或專主三焦，或主心營肺衛，要不過《傷寒》中之一氣一經，未足以窺全豹也。讀書貴在參悟，不可如小僧縛律。如邪中三陰，不必皆寒，故三陰亦有熱下證；直中三陰，多兼內傷，故三陰每多溫補證。又況外感不出六經，內傷無過五臟，然則《傷寒》一書，並可以概雜病，何時何地無之哉？溯心源於長沙，當必沉潛反復於其書，猶必詳審於無表證之治，則官牆雖峻，庶幾可窺。</p>
<h3>幼科似驚非驚辯</h3>
<p>幼科驚症，自喻氏以食、痰、風、驚四字立名，大剖從前之訛，實為確論，葉香岩亦宗之。然更有未盡者，近多冬令氣暖失藏，入春寒溫間雜，小兒吸收其邪，先傷肺經，起自寒熱氣粗，延綿失治，漸從胞絡內傳，上部雖有微汗，而痰多、鼻煽、煩躁、神蒙，病家惶懼，輒云變為驚症，動用香開，妄投金石，以致陰液消亡，熱勢愈張，正不敵邪，肝風陡動，漸見肢牽、目竄、痙閉、發厥，勢多傾敗。若於病未猖撅之前，先以辛涼開肺，繼以甘寒化熱，佐以潤劑降痰，兩候自能痊可。此蓋溫邪陷入，陰液內耗，而動肝風，實非驚恐致病也。若誤以驚藥治之，恐幼稚之銜冤不少，故為之一辨。</p>
<h3>痘科伏毒急於悶症說</h3>
<p>痘之一症，先賢立論甚詳。但近時氣候變遷，竟有不同於向日者，莫甚於伏毒，而為時癘壅遏。初起寒熱悠悠，腰腹並無痛楚，兩潮而見點，亦色潤而形單。並非要害之處，身熱未解，得嚏便通。根窠雖立，不易掀發。一到三朝，神蒙氣喘，斑點全無，唇不腫而口不渴，火伏內攻，迅如反掌，痘未退縮，即已喘閉告竭。雖多識者，進以芳香雙解，大劑劫奪，一無奏績，亦未如之何也已矣。</p>
<h3>司天運氣贅言</h3>
<p>《內經‧氣交變大論》詳言歲運，《六元正紀大論》詳言司天在泉，而今似有不驗者，何歟？蓋歲運已分太少，而一歲之中，再分為五運，五運之中，又分主客，主客之中，又分太少司天在泉，再與間氣分而為六，六氣之中，又分主客，是每候中必有歲運與司天、在泉，及主運、客運、主氣、客氣六者矣。角、徵、宮、商、羽，與風、火、濕、燥、寒，雜合於一時，變化靡窮。無怪執歲運之說者，司天在泉不驗，執司天在泉之說者，歲運不驗，執五運六氣之說者，歲運與司天在泉皆不驗，幾疑古聖賢書為不可盡信矣。不知五運六氣，《經》文雖逐一分言，而未及合參之理；然《天元紀》、</p>
<p>《六微旨》二篇，論至天符歲會，則參合而言。如天符乃歲運，與司天相會，奉天行令而主半年，譬之相輔也，故曰執法也。故中其病者，危而速也。歲會乃歲運與年辰相會，猶為平氣，而主一年，譬之方伯也，故曰行令也。故中其病者，徐而持也。至於太乙天符，則司天、歲運、年辰三者會合，偏盛極焉。故中其病者，暴而死也。吾儕在醫喻醫，如一方中純寒純熱，其性自偏，服之未有不驗者。其非天符、歲會之年，五行錯雜，猶之一方中苦辛相制，寒熱雜陳，則氣味皆輕，自不覺其利害耳。天符、歲會如此，可知五運六氣亦須參合以類推矣。《內經》未言及此者，提其綱而略其目也。</p>
<p>然余更有說者，《經》言中執法者，其病速而危；中行令者，其病徐而持；中貴人者，其病暴而死。曰中、曰其，乃指偏勝之時，即中此偏勝之邪，於是其病如斯，非泛言其年得病，無論風、寒、暑、濕、燥、火，一概如此斷也。況偏勝之時，雖必有其邪，亦非舉世之人而盡中之也。或起居不慎，或寒暖失宜，凡屬外感皆然。再壯者氣行則散，怯者著而為病，則是中其邪者，本非常有，何謂《經》文之不驗耶？愚意以為運氣之說如此。抑更有釋天符太乙之說者，謂非一年之病皆然，當以得病之一日為言，如戊子日亦稱天符，戊午日即為太乙，似乎近理，而與中、其二字，究隔一層，仍當作值其日而中其邪，或合以其年其日而中其邪，如此推之，竊謂斷無不驗者。</p>
<h3>周身經絡總訣（有小序）</h3>
<p>治病須分經絡，古人以經界喻之，猶夫射之的、御之范也。《靈樞‧經脈》一篇，為我醫所必讀，惟是其文參差繁復，習者苦之。東垣編為歌訣，國朝汪　庵更為諧暢，可謂記誦無難矣。惟是熟此經脈，於逐經之起止循行雖己了了，而人之身體，每一處有兩三經，或四五經，錯綜循及者，皆散見於各經之下，臨證倉卒，未免或遺。烈不揣愚陋，竊以人身自巔至足，凡十二經絡行及之所，匯而輯之。再奇經八脈，除帶脈及陰陽維蹺，皆簡明易曉，可無纂輯外，其衝、任、督三經，亦為摘入。仿四六之體，編為俚句，而不拘拈對，不嫌粗俗，惟求便於記誦，俾人之身體四肢，一云某處，便識為某經某絡，實為臨證、辨經、分經、議治之捷徑；但不敢曰熟此總訣，竟可置《經》文而不讀也。譬之《本草綱目》，既已按藥而治病，復有《本草類方》，為之按病以集方，二者縱橫為用，尤為心目了然耳。</p>
<p><u>頭上諸脈</u></p>
<p>　蓋聞手之三陰，從藏走手（手太陰肺，少陰心，厥陰心包），手之三陽，從手走頭。（手少陽三焦，陽明大腸，太陽小腸）。足之三陽，從頭走足（足太陽膀胱，陽明胃，少陽膽），足之三陰，從足走腹（足太陰脾，少陰腎、厥陰肝）。《靈樞》逐一而分言，茲乃合編而便讀。膀胱之脈交於巔，肝與督脈會於巔，絡腦須知膀督（惟欲便於誦讀，故用簡字訣，余仿此）。發際循乎胃脈，胃至額顱（發際下為額顱），膽抵頭角。上額者督與膀胱（在內直上），出額者其惟肝脈（在外直出）。目系連於肝脈，心之支者，並系目之內角，名曰內　，小支至而膀胱起，胃經還約於其旁（小腸之支者至目內　，膀胱之脈起於目內　，胃脈起於鼻之交　中，旁約太陽之脈，下循鼻外。約，一作納）。目之外角名曰銳　，膽接焦支（三焦之支者，至目銳　，膽脈起於目銳　）。小腸亦至目下為　（音拙），焦膽小腸而合至（三脈俱支者）。兩旁為頰，大小肝焦而上下（夾面橫骨為頰，大腸貫頰，小腸上頰，肝與三焦俱下頰，四脈亦俱支者）。小腸之支斜絡於顴，督脈至於鼻柱，胃脈起於交　（即山根）。大腸之支挾鼻孔，而交中挾口（從下齒還出挾口，交人中，左之右，右之左，上挾鼻孔至迎香穴而終，交足陽明經），胃經之脈循鼻外，而挾口環唇。肝又環於唇內，胃又交於承漿（下唇陷中）。胃經之脈入上齒，大腸之支入下齒。頷前大迎，胃脈出而膽支下（　下為頷，頷前一寸三分動脈陷中為大迎，乃胃經穴），頷下為頤，胃脈循而任脈上（胃脈循頤後下廉）。耳之上角，焦支出而膀支至，客主人穴，膽出走而胃脈過（耳前上廉起骨曰客主人，乃膽經穴，膽脈之支者，出走耳前，至目銳　後，胃脈上耳前，過客主人）。三焦之孫脈，出走客主人前（《靈樞》云：經脈為裡，支而橫者為絡，絡之別者為孫，此支之歧者，故曰孫脈，後仿此）。小腸與焦膽，三支並入耳中。膽脈焦支系於耳後，膽支胃脈循在頰車。（耳下曲骨為頰車）。咽有小心，脾腎之脈。（小腸脈循咽，心脈之支者挾咽，脾脈挾咽，腎脈至咽）。喉為胃支，腎脈之循（二脈循喉嚨）。肝循喉後而入咽顙（肝脈循喉嚨之後，上入咽顙，咽顙一名頏顙，在上　後）。脾連舌本而散舌下。腎脈挾乎舌本，胃支下在人迎（結喉旁一寸五分動脈）。此為諸陽之會，先須大略而陳。</p>
<p><u>在身諸脈</u></p>
<p>　原夫腦後為項，膀胱督脈與焦支。兩旁為頸，大小腸支同膽脈。肩　骨之前廉，大腸出之。肩後之下為膊，膀胱循也。焦膽小腸，交合於肩（會於大椎者為肩）。腎經督脈，並貫於脊。脊骨兩旁第一行，相去各一寸五分，挾脊肉為膂，膀脈循之而挾脊。脊骨兩旁第二行，相去各三寸，成片骨為胛（音夾），小腸繞而膀支貫。至於肩前，陷下名曰缺盆，焦膽胃腸並入其中。是以膽脈循胸，三焦布膻（上焦兩乳中間為膻中）。乳內廉乃胃經直下，腋之中分，膽經包絡（心包絡亦有直者、支者之分，恐辭句繁復，故此處支者僅云包絡，下文正脈，乃用心包二字以別之）。腋下為包絡之過，心直下而肺橫。出脅裡為膽脈之循，心包出而肝經布。脅骨之下為季脅，須識膽經之過。臍下四寸為中極，當知任脈之起（任脈起於中極之下）。然而任脈當臍，沖胃挾臍。脾脈入腹，胃支循腹，肝脈上抵乎小腹，膽胃出入於氣街（臍下毛際兩旁動脈為氣街，一名氣衝，乃胃經穴），膽繞毛際（曲骨之外為毛際），肝環陰器。此在身軀之脈，所當臚列而明。</p>
<p><u>臟腑中諸脈</u></p>
<p>　其在臟腑之脈，太陽與少陰為表裡（手太陽小腸，少陰心；足太陽膀胱，少陰腎），少陽與厥陰為表裡（手少陽三焦，厥陰心包；足少陽膽、厥陰肝），陽明與太陰為表裡（手陽明大腸，太陰肺，足陽明胃，太陰脾），凡此六經，脈皆互絡，手足同然，無煩詳贅（如肺脈絡大腸，大腸脈絡肺之類，十二經皆仿此）。更有肺之一臟，心直上而腎直入，胃之一腑，肝脈挾而肺小循（肝脈挾胃，肺脈還循胃口，小腸之脈抵胃），心有腎支之絡，肝有腎經之貫，脾支又注於心中，肺脈自起於中焦，心下有膈，惟膀胱為無涉，十有一經，皆上下而貫之（心下隔膜，遮隔濁氣，不使上薰心肺，惟膀胱之脈挾脊抵腰中，入循膂，絡腎屬膀胱，故不貫膈）。此屬臟腑之間，並須熟諳者。</p>
<p><u>手經諸脈</u></p>
<p>　論乎肩肘之間，乃號為　（音柔，俗名大臂）。　之內廉有三，肺循前而心循後，包絡恰循乎其問。　之外廉有三，小循後而大循前，三焦乃循乎其外。　下為肘，三焦上貫內廉、尺澤，包絡入之（包絡之支者，入肘內陷中尺澤穴），肺則下於內前，心又下於內後（肺脈下肘中，心脈下肘內，惟肺脈行前，心脈行後，心包行其中間為別），小腸出於內側（兩筋之間），大腸入於外廉。肘下為臂，包仍在中（即上文支者），大循上而小循下，心脈仍循內後廉。上渭下廉之內，仍循肺脈，臂外兩骨之間，還出三焦。肺入寸口，而循魚際（關前動脈為寸口，大指後肉隆起處為魚，魚際其間穴名），心抵銳骨而入後廉。（心脈抵掌後銳骨之端，入掌內後廉）。包絡直入於掌中（從曲澤行掌後兩筋之間橫紋陷中，入掌中），三焦仍循乎表腕。大腸出於合谷，而上入兩筋之中，（合谷俗名虎口，大腸經穴）小腸循於外側，而出腕下之踝（循手外側上腕出踝中。踝音華上聲，腕外兌骨）。肺脈出於大指，包絡出於中指，次指為肺支腸脈之交（肺脈之支者，直出次指，內廉出其端，大腸之脈起於次指之端）。四指為包孫焦脈之接，三焦又上出小次之間，小指為心脈小腸之接。</p>
<p>所謂手經，大略如斯。</p>
<p><u>足經諸脈</u></p>
<p>　至如尻上為腰，膀胱脈抵（背脊下橫骨為腰），腰下為臀，膀支貫之。兩旁捷骨之下名髀樞，而膽橫膀過（一名髀厭，膽脈橫入髀厭中，膀胱之支者過髀樞），前面氣街之下號髀關，而胃經直下。股之內廉前廉脾而後廉腎，又肝脈內循於股陰。股外為髀，後膀支而前胃脈（髀前膝上六寸起肉為伏兔，胃脈抵之），又膽脈下循於髀陽（循髀外行太陽陽明之間）。是以挾膝筋中為臏（即膝蓋骨），仍屬胃經之直下。而膝內脾經（內前廉），膝外膽脈，（外廉），膝後曲處為　，還是膀支之直入，而腎出肝上，俱在內廉（腎脈出　內廉，肝脈上　內廉）。脾腎上於　內（　、足肚也。</p>
<p>二脈上　內廉），膀支貫於　外（從　中下貫　內，出外踝之後）。膽下於外輔骨前，而直抵絕骨之端（髀骨為輔骨，外踝上為絕骨）。肝斜於脛　內側，而胃循脛外之廉。內踝有脾前腎後之分，外踝有膽前膀後之別（跟上兩旁內外曰踝）。</p>
<p>大趾節後為核骨，脾經脈過，足外側骨為京骨，膀脈支循。腎入跟中，胃膽循跗。跗上廉乃肝經循處，足心中有腎脈斜趨（涌泉穴）。大趾甲後屬膽支，肝脈之交，大趾內側為胃支，脾脈之接。中趾內外分胃直胃支之入，四趾之間，又膽經直入而終。膀支至於小趾之外，腎脈起於小趾之下。足經之脈，又如此也。</p>
<h2>卷八</h2>
<h3>木鬱達之論</h3>
<p>《內經》云：「木鬱達之」，古來注釋者，以「達」為宣吐；又云：用柴胡、川芎條而達之。愚謂此不過隨文訓釋，而於「達之」之意，猶有未盡然也。夫木鬱者，即肝鬱也。《素問》云：「治病必求其本。」而鬱症之起；必有所因，當求所因而治之，則郁自解，郁者既解，而達自在其中矣。矧木鬱之症，患於婦人者居多，婦人情性偏執，而肝病變幻多端，總宜從其性，適其宜，而致中和，即為達道。彼若吐、若升，止可以言實，未可以言虛也。今人柔脆者恆多，豈可概施升吐哉？其余火、土、金、水四郁，古人之注釋，雖於《經》義未必有悖，然亦止可以言實，止可以言外因，未可以言虛，未可以言內因也。蓋因郁致疾，不特外感六淫，而於情志為更多。調治之法，亦當求其所因而治之，則郁自解，郁者既解，則發、奪、泄、折俱在其中矣。因者病之本，本之為言根也、源也，「君於務本，本立而道生，」可師也。</p>
<h3>頤毒頤字辯</h3>
<p>按時病之後，多有發頤毒之症，然古人又有云遺毒者，愚謂當以此「遺」字為正。蓋遺者，遺留也，謂余邪未盡，遺於經絡，以致榮氣不從，逆於肉理，乃生癰腫也。頤者，但以部位相近而言也。然今之患者，發於耳下為多，兩頤甚少。按耳下者，少陽之部也，三陽以少陽為樞，是余邪從樞而出也。兩頤者，少陰之部也，三陰以少陰為樞，是亦余邪從樞而出也。病在三陽，發於耳下，病在三陰，發於兩頤，此一定之理也。張石頑云：過用發散，引邪泛濫，而頤毒多有延及膺脅肘臂如流注者，則去頤益遠，尚可謂之頤毒乎？</p>
<h3>方藥等分解</h3>
<p>嘗讀古方，每有藥味之下不注分兩，而於末一味下注「各等分」者，今人誤認為一樣分兩，余竊不能無疑焉。夫一方之中，必有君臣佐使，相為配合，況藥味有濃薄，藥質有輕重，若分兩相同，吾恐駕馭無權，難於合轍也。即如地黃飲子之熟地、菖蒲，分兩可同等乎？天真丹之杜仲、牽牛，分兩可同等乎？諸如此類，不一而足，豈可以各等分為一樣分兩哉？或曰：子言是矣。然則古人之不為注定而云各等分者，何謂耶？愚曰：「各」者，各別也，古人云：用藥如用兵，藥有各品，猶之將佐偏裨，各司厥職也。「等」者，類也，分類得宜，如節制之師，不致越伍而嘩也。「分」者，大小不齊，各有名分也。惟以等字與上各字連讀，其為各樣分兩，意自顯然；今以等字與下分字連讀，則有似乎一樣分兩耳。</p>
<p>千裡之錯，失於毫厘，類如是耳。窺先哲之不以分兩明示後人者，蓋欲令人活潑潑地臨證權衡，毋膠柱而鼓瑟也。竊以為古人之用心如此，不揣愚陋，敢以質諸高明。</p>
<h3>保護元陽說</h3>
<p>聖人作《易》，爻先一畫，是元陽為萬物資始，神變化合太和，所以《彖詞》獨稱其大耳。讀仲景《傷寒》，首論太陽，以桂枝湯為方祖，誠一法立而諸法已悉具，亦此經治而他經可不傳。無論《太陽篇》內輒用桂枝，即陽明表未解，尚宜桂枝，少陽柴胡症每合桂枝；至於誤下腹痛，桂枝加芍藥、桂枝加大黃等湯，乃屬太陰矣；若夫少、厥二陰，風熱痰壅，有半夏散及湯，發表溫中，有當歸四逆，液涸用復脈法，蛔動用烏梅丸，凡此不以桂枝命名者，而仍不離夫桂枝，可知仲景意不特陽經宜用，即陰經亦常兼顧及陽也。再參《金匱》，開卷論臟腑經絡，次章治痙，必先列括蔞桂枝，其余各症，以桂枝法加減者，復不勝枚舉，此非始終體干行健，教人以保護元陽哉？近來風氣，畏溫熱而喜寒涼，每見元虛，濕溫、風溫等症，舌白渴不欲飲者，亦有用犀角、地黃、竹葉、石膏輩，病本在氣分，或反引入血分，或胃敗不納，呃逆泄瀉，輕病重，重病死，深為扼腕。試觀大《易》，以陽剛喻君子，以陰柔喻小人，若使陰道長則陽道消，何以輔相裁成，躋斯人共登壽域。以方位論，五穀利在東南，以歲時論，百卉敷榮春夏，由此推之，天包乎地，氣先於血，元陽實生生之本，亟宜保護，醫當活潑潑地，雖不必偏熱，而斷不可偏寒也明矣。彼丹溪陽常有餘，陰常不足之說，故景岳非之。</p>
<p><u>洞見本源</u></p>
<p>（江淑齋跋）</p>
<p>古人云：不知《易》者，不足以言醫，此淪以《易》理闡明醫理，而以護陽立說，並論及仲聖用桂枝諸方，皆從護陽起見，誠為確論。蓋陽氣一分不盡則不死，人能保護元陽，則太和之氣充滿於身，熙熙　，共躋春台矣。《易》以陽喻君子，吾於楊君亦云然（繆松心識）。</p>
<p>以儒理通醫理，故其指遠，以《易》理通《傷寒》、《金匱》之理，故其辭文（年姻家眷弟葉元符拜讀）。</p>
<p>講《易》講醫，《三墳》一理（受業門人程清泰百拜志）。</p>
<h3>讀《傷寒論》附記</h3>
<p>嘗謂長沙之論，謹嚴之中，皆活法也。天之氣化不一，有主氣，有客氣；人之臟性亦不一，有陰臟，有陽臟。春溫、夏熱、秋燥、冬寒，四時之定位也；厥陰風化為初之氣，少陰熱化為二之氣，少陽火化為三之氣，太陰濕化為四之氣，陽明燥化為五之氣，太陽寒化為終之氣，六節之常度也。故寒必傷於冬，而溫與熱必在於春與夏，此其大較也。然而以五運言之，則土運、金運之遷代無常，以六氣言之，則司天、在泉、左間、右間之加臨各別，益之以勝、復之理，太過、不及之數，於是乎春夏亦有傷寒，隆冬非無溫病，所謂非其時而有其氣，不可膠於節候之常。《素問》曰：至高之地，冬氣常在，至下之地，春氣常在。《靈樞》曰：以一日分為四時，日出為春，日中為夏，日入為秋，夜半為冬。皆是以活法言之。說者於傷寒必主冬月，於桂枝、麻黃、三陰諸辛熱劑，必主冬月之傷寒，而不可用於春夏之時，拘泥時令，於變化之理，得毋有未備歟！《通天篇》曰，有太陰之人，少陰之人，太陽之人，少陽之人，陰陽和平之人，及夫五五二十五人之政，《本臟篇》又言二十五變。昔夏英公有異稟，臥即身冷如僵，常服仙茅、鐘乳、硫黃，莫知紀極，小吏竊食，即發疽死。而太陽之人，則飲啖生冷而不知節，恣情房室而不加疲，此其陰陽之反，何啻天淵，是故有從化之說。從者，大之氣也；化者，臟之性也。陰臟者多寒，陽臟者多熱，所謂陰從陽化，陽從陰化，熱從寒化，寒從熱化，亦皆以活法言之，而尤不可泥於溫涼寒燠之常也。夫以運氣主客之殊，加之以臟腑陰陽之別，其病遂千態萬狀，而莫可窮詰。仲聖述軒岐之蘊，廣湯液之用，約之以三百九十七法，一百一十三方，而《金匱》不在其數，其立法之妙，為治之活，於主客陰陽之變，莫不融貫，是在乎用之者之神而明之耳。後之論足經，論卒病，論三綱，論六氣，論傷寒即雜證之一，紛紛聚訟，返而求之仲聖之書，其活潑潑地者，固無乎不包也，故治病須用活法。</p>
<h3>論白</h3>
<p>白　一症，考古方書無專條論及，間有在　疹門中發明一二，究未能盡其底蘊。今溫熱證中，每多發出如粞如粟，色白形尖者，謂之白　。有初病即見者，有見而即愈者，有見而危殆者，有病經日久，　疹已見，補瀉已施之後，仍然發此而愈者。泛稱時氣所致，殊不知致病之由既異，治療之法不同，不可不與　疹詳辨而審處之也。蓋傷寒傳經，熱病汗出不徹，邪熱轉屬陽明，多氣多血之經，或由經入府，受熱蒸灼，營傷血熱不散，而裡實表虛，熱氣乘虛出於膚腠，故稀如蚊跡，稠如錦紋者為斑；紫黑為胃爛而不治也。時行風熱之氣，侵入肺虛血熱之體，失於清透，傷及手太陰血分，乘虛出於皮膚，如沙如粟而色紅瑣碎者為麻。或歲當火運，復感時厲之毒，即咽痛而成丹痧及爛喉痧之類，為最劇者也。</p>
<p>至於白　一症，則溫熱暑邪病中，必兼濕為多。蓋伏氣之發，本從內出，然必因外感，及人身素蘊之濕，與外觸之邪，互相蒸發，上甚為熱。初病治法，設不用清透滲解，則肺為熱傷，氣從中餒，不能振邪外解，熱漸陷於營分，轉投清營滋化，熱勢稍緩，而肺氣亦得借以自復，所留之濕，仍從上焦氣分尋隙而出，於是發為白　。以肺主氣，故多發於頤、項、肩、背、胸臆之間；白為肺之色，光潤為濕之余氣，至此而邪始盡泄也。甚有幾經補瀉之後，病仍不解，忽然發此而愈者，以其人之氣液內復，邪自外透，故不治亦愈也。若其根本已虛，無氣蒸達，多有延為衰脫者。故此症以元氣未漓，色潤晶瑩，有神者為吉；枯白乏澤，空殼稀散者，為氣竭而HT　。總以形色之枯潤，卜其氣液之竭與否也。大抵此症，在春末、夏初，暑濕之令為甚，秋冬則間有之，要不出乎手經受病，仍從手經發泄，不比足經之邪，可從下解也。夫肺為主氣之藏，氣旺則邪從外解，上泄而病愈，氣衰則邪正並竭，雖發必朽白無神而難治。觀《內經》暑與濕同推，仲聖痙濕　合論，益知暑熱溫邪症中，多夾濕邪，更無疑矣。一隙微明，以俟高賢正之。</p>
<h3>爛喉痧論</h3>
<p>爛喉痧一症，古書不載，起於近時，而並易傳染。治之者，每謂太陰陽明二經風熱之毒。而至爛之由，亦不可不詳察也，譬之於物，以盛火逼之，只見干燥，而不知濕熱鬱蒸，所以致爛耳。此症凡風熱者，治宜清透；濕熱者，治宜清滲；痰火凝結者，治宜消降。蓋邪達則痧透，痧透則爛自止矣；若過用寒涼，勢必內陷，其害可勝言哉！夫症有可治，有不可治。口中作臭者，謂之回陽。其色或淡黃，或深黃者，此系痰火所致，皆可治之症。他如爛至小舌者，鼻塞者，合眼　者，並有元氣日虛，毒瓦斯深伏，色白如粉皮樣者，皆不可治之症也。總之、因天地不正之氣，感而受之，故體有虛實之不同，即症有重輕之各異耳。其余喉症、痧症，古人言之詳矣，概不復贅。</p>
<h3>爛喉丹痧治宜論</h3>
<p>夫丹痧一症，方書未有詳言，余究心是症之所來，不外乎風寒溫熱時厲之氣而已。故解表清熱，各有所宜，治之得當，愈不移時，治失其宜，禍生反掌，無非宜散、宜清之兩途也。其症初起，凜凜惡寒，身熱不甚，並有壯熱而仍兼憎寒者，斯時雖咽痛煩渴，先須解表透達為宜；即或宜兼清散，總以散字為重，所謂「火鬱發之」也。苟漫用寒涼，則外益閉而內火益焰，咽痛愈劇，潰腐日甚矣。不明是理者，反云如此涼藥，尚且火勢勃然，不察未散之誤，猶謂寒之未盡，於是愈涼愈遏，以致內陷而斃者有之。或有云是症專宜表散者，余謂所見亦偏。前所云寒熱之時，散為先務，俾汗暢而丹痧透發；已無惡寒等症，至此則外閉之風寒已解，內蘊之邪火方張，寒涼泄熱，是所宜投，熱一盡而病自愈矣。若仍執辛散之方，則火得風而愈熾，腫勢反增，腐亦滋蔓，必至滴水下咽，痛如刀割。間有議用清涼者，乃以郁遏誹之，炎熱燎原，殺人最暴，此偏於散而謗匪清者之為害也。彼言散之宜，此言散之禍，彼言寒之禍，此言寒之宜，要惟於先後次第之間，隨機權變，斯各中其　耳。再此症愈後，每有四肢酸痛，難以屈伸之狀，蓋由火爍陰傷，絡失所養，宜進滋陰，非同痹症，此又管窺之所及，敢以質之高明。</p>
<h3>痧疹今昔不同，治法亦異說</h3>
<p>夫痧之與痘，同一胎毒也，而有府藏之分焉。其發也，亦有出遲出速之異，以伏藏之地有遠近也。第痧之一證，古人治法，惟以升麻葛根湯為祖劑，芫荽酒之外治而已。其有風寒外束，內毒難出而喘急者，麻杏石甘湯主之。若夫輕淺之證，竟有不必延醫，自用櫻桃核、粗草紙、棉紗線煎湯飲之而愈者。即其發也，不過周時而透，透之後亦僅二三日而自愈矣。今之痧也則不然，有二三日而方透者；有四五日而終未透者；或身肢雖達，而頭面不透，咳聲不揚，喘逆氣粗，悶伏危殆者；又有一現即回，旋增喘促、狂躁、悶亂，謂之隱早者；更有痧雖外達，而　紅紫滯，或目封，或　赤，譫語、神昏、便秘、腹痛，或便泄無度，種種熱盛毒深之象。以向來痧疹門方治之無濟，仿治痘之法，先以紫雪芳透於前，繼以犀、羚、芩、連、丹、地、石膏、人中黃大劑清涼解毒，始得轉重為輕，易危為安。或有病深藥淺，而至於危變者，幾同痘瘡，有順、險、逆之別。嗟嗟！同一痧也，何今昔不侔若此耶？揆其所以然，大率邇年來種痘盛行，胎毒未得盡泄，借此痧症以泄其毒者有之；抑或近來時厲之氣甚於昔日，以致症之險重者有之。要在臨此證者，無執前人之治，因時制宜，因證立方，圓機活潑，勿以痘重痧輕而忽之，庶無愧為司命矣。</p>
<h3>辨《活人書》婦人傷寒之說</h3>
<p>嘗讀朱肱《活人書》云：婦人傷寒，治法與男子不同，舉男子調氣，女於調血以為大略，似補前人之未及，然愚謂此說未可一概論也。夫長沙張氏，醫中之聖也，其著《傷寒論》，原為卒病而設，故又謂之《卒病論》。卒病者，宜舍本而治標，故一百一十三方，皆男婦共用，即熱入血室，亦用小柴胡湯，婦人之陰陽易，亦用燒KT　散。自有《活人書》創立婦人治法異於男子之說，後人宗之者多矣，不思仲聖之方，早合氣血為一致，今試以藥考之，其立法用意，自躍如也。</p>
<p>即如桂枝、芍藥，固營而閉衛，非血藥乎？麻黃、防風，雖謂之發汗，本治乳子余疾，非血藥乎？白虎、小柴胡中，知母則治腎，柴胡則調經，皆氣中之血藥也，當歸、地黃，固不必言，即白朮、人參，人皆以為氣劑，而《本草》言能「利腰臍間血」，可知亦為血藥也。大抵用之在陽，便為氣藥，用之在陰，便為血藥。總之，傷寒一證，皆為營衛受病耳，何必分男先調氣女先調血耶？云岐張氏，好古王氏，皆以朱氏之說為治雜病之常法，誠所謂自具慧眼，而不為前人所惑者也。</p>
<p>本仲聖以論傷寒治法，由正路也，中幅詮疏氣血陰陽尤妙，獨開生面，斯可謂用古而不泥古者乎。今而後讀《活人書》者，當知所擇矣（西疇顧業師評）。</p>
<h3>攝生雜話</h3>
<p>命門真火，藏於兩腎之中，性門真水，藏於一心之內。人但言命門真火，而不參究性門真水何也？因真陽之火，能生真陰之水故也。殊不知性命相生，水火不可以一息不交。天一所生之水，為我生身之始，水中能生真火，人皆未究。</p>
<p>況保真陰之水，則真陽之火常存而不散；若真陰一衰，則真陽無附，飛揚上越，變為邪火，能返涸真陰之水，豈不危哉！火性本燥烈發揚，而腎中相火偏職閉藏，水性本柔弱蟄藏，而心精三合，獨主清利。則知性以位變，水火本無二氣。</p>
<p>噓氣即有水，陽化陰也，蒸水即有氣，陰化陽也；燈因膏而不滅，陽依陰也，水因火而不冰，陰依陽也。相需如此，可以知其情性矣。</p>
<p>補心氣，益心精而不見效者，則知命門火衰、腎水不足，何也？命門之火，即心火之根，腎水之精，即心精之源。</p>
<p>心無水則孤火上逆，腎無火則寒水下凝。水弱火炎，則肺金受克，陽焰飛揚於上焦，而生咳喘、咯血等病，下虛則上盛也。火弱水剛，則肝木失養，濁陰凝結於下焦，而生癃閉、壅腫、精寒等病，上虛則下實也。水火兩平，陰陽斯無偏勝。</p>
<p>脾之權在腎，胃之權在心，自下而上水滋土，自上而下火生土也。脾土屬陰，生於相火而健行不息，胃土屬陽，傳導於大腸而容受無窮，總在主納之腎，於是土以火生也。脾虛則胃滯而不食，脾實則胃運而能食，總在主出之肺，於是氣機流動也。故凡治脾胃，當以調肺氣，交心腎為先。</p>
<p>人身之痰，最能為害。勢涌如潮，勢衰如汐。風、寒、濕、燥，隨氣而生，體實、體虛，隨人而致。濁則濃，清則稀。五藏六腑無盛痰之所，上下升降無時而定，又與正氣不兩立，殆猶天地間陰云瘴霧耳。</p>
<p>周身氣血，無不貫通。故古人用針通其外，由外及內，以和氣血；用藥通其裡，由內及外，以和氣血，其理一而已矣。至於通則不痛，痛則不通，蓋指本來原通，而今塞者言，或在內，或在外，一通則不痛，宜十二經絡藏府，各隨其處而通之，若通別處，則痛處未知，而他處反為掣動矣。</p>
<p>補、戒急授而驟壅，伐、戒亟奪而峻利，用之不當，皆能致害。故攻熱失宜，熱未去而寒復作，寒熱各踞於其所，反致溫涼並禁，良醫莫措矣；攻寒亦然。</p>
<p>人但知冬不藏精者致病，而不知夏不藏精者更甚焉。嘗見怯弱之人，而當酷暑，每云氣欲悶絕，可知中　而死者，直因氣之悶絕也。夫人值搖精，恆多氣促，與當暑之氣悶不甚相遠。《經》曰：「熱傷氣」，又曰：「壯火食氣。」余故曰夏令之炎威，甚於冬令之寒，苟不藏精，壯者至秋而發為伏暑，怯者即中　而死。</p>
<h2>卷九</h2>
<h3>四大家辯</h3>
<p>李士材《讀四大家論》一篇，本自王節齋大意，謂三子補仲景之未備，而與仲景並峙也。然仲景醫中神聖，德備四時，三子則伯夷、伊芳尹、柳下惠而已。試觀《玉函金匱方》中，黃芩、白虎，已開河間之先也；建中、理中，已開東垣之先也；復脈、黃連阿膠，已開丹溪之先也。然則謂三於得仲景之一德，而引伸條暢之，則可謂三子補仲景之未備則未確也。</p>
<h3>論《醫宗必讀》</h3>
<p>明季李士材先生，我城人也，所著《醫宗必讀》一書，固已膾炙人口矣，然余竊有議焉。夫必讀者，軒岐之書也，越人、仲景之書也，下此而《脈經》、《千金》、《外台》，以及近代諸名家書，雖不能盡讀，或取其十之六七，或取其十之三四，不可不讀矣。苟守張長沙博聞強識之訓，以探本窮源，則是書又為淺醫畫限之書矣，改其名曰不必讀，其庶幾乎？</p>
<h3>論讀景岳書不可專得其溫補之益</h3>
<p>竊觀富貴之家，投寒涼則忌，進溫補則合，醫之喜用溫補者，遂有景岳派之名。殊不思《景岳》亦溫涼補瀉並收之書也，觀其論症，先述古而補以已見，分劑，先古方而補以新方，作者以《全書》名之，讀者以《全書》貫之，舍其短而錄其長，則上而溯諸河間、易水、金華諸家，無不合也，更上而溯諸南陽醫聖，亦無不合也，而得景岳之益者，豈特在左歸、右歸而已哉。</p>
<h3>考正古方權量說</h3>
<p>古方自《靈》、《素》至《十金》、《外台》，所集漢、晉、宋、齊諸名方，凡云一兩者，以今之七分六厘準之。凡云一升者，以今之六勺七抄準之。謹考定如左。</p>
<p>凡古方權量，皆趙於律，黃帝律尺九寸，夏尺則加一寸而為十寸，今木工之曲尺是也。</p>
<p>唐孫真人《千金方》論述針穴分寸云：「其尺用夏家古尺，司馬法六尺為步，今江、淮、吳、越所用八寸小尺是也。」</p>
<p>據此知即今曲尺無疑，知此尺即黃帝律尺寸者，以藥升之龠積與尺度考得之，詳見《律學淨聞》。</p>
<p>以曲尺之寸度作方徑一寸六分，上下相等，深七分八厘強，共積二千分，即古藥升之容積。</p>
<p>《千金》論「藥升方作上徑一寸，下徑六分，深八分。」當作上下徑一寸六分，深八分弱。按《管子》云：「釜　不得為侈　」，且計其容積，僅五百廿二分，不應如此之小，故知傳寫之誤也。升口自乘得二百五十六分，以深七分八厘強乘之，得二千分為容積，云深八分者，舉成數言之也。</p>
<p>藥升一升，容黃鐘兩龠之實。以　黍二百四十粒為一兩，但　黍之重，今無可考。依《千金》論蜜一斤，得藥升七合，及《靈台儀象志》，水與蜜同積異重之比例，若二十與廿九，而次第以準測之，古一兩，今七分六厘也。</p>
<p>古律龠容一千二百八十　黍，《千金》論「一撮者，四刀圭也（六十四黍為圭，半之為一刀圭）。十撮為一勺，（勺即龠也），兩勺為一合」（「合」為「升」字之誤，一升共二千五百六十黍也）。李時珍沿兩勺為一合之誤，更增十合為一升，則誤以傳誤矣，幸《千金》及《外台》原文，俱無此五字可證。</p>
<p>黍一稃二米，用以量龠，取基圓滑而齊（見《考工記》輪人條下注疏中）。自劉歆變亂古法，置　用　，前明鄭世於特覓　黍，權以今平，每龠一千二百粒，重三錢，未足為訓也（鄭世子《樂書》穿鑿附會，其云黍權黍量盡屬臆斷，張介賓采入《類經圖翼》，殊誤後人也）。</p>
<p>知二百四十黍為一兩者，《千金》云：「十黍為一銖（《圖翼》謂十黍當作百黍者，非也）。六銖為一分，四分為一兩，十六兩為一斤，此則神農之秤也。」</p>
<p>考正古權之法，先作藥升滿曲尺二千分，中容井水，秤重一兩二錢，而推得其同積異重之比例，假如水與蜜各貯一盞中，容積相等，而水輕蜜重，水若二十兩，則蜜必二十九兩，以此推算，一藥升之水重一兩二錢者，則一藥升之蜜必一兩七錢四分明矣。</p>
<p>以三率明之：水二十，蜜二十九，水一兩二錢，相乘得數三十四兩八錢，以第一率之二十為法除之，得第四次一兩七錢四分。蜜一兩七錢四分。</p>
<p>既得蜜一藥升之重，以三率重測之，如法乘除，得蜜七合之重。</p>
<p>藥升一升，蜜今重一兩七錢四分，藥升七合，蜜今重一兩二錢一分八厘。</p>
<p>夫此七合之蜜，今重一兩二錢一分八厘者，即古蜜十六兩之數也，依上法重測之，得古一兩，今若干之數。</p>
<p>古十六兩，今重一兩二錢一分八厘；古一兩，今重七分六厘強。</p>
<p>以古方參之：麻黃湯，麻黃三兩（準今二錢三分），分三服，中病即止（每服止七分六厘）。</p>
<p>小柴胡湯，柴胡八兩（準今六錢），分三服。（每服止二錢）。</p>
<p>承氣湯，大黃四兩（準今三錢），分再服，中病即止（每服止一錢半）。</p>
<p>白虎湯，石膏一斤（準今一兩二錢）。分三服（每服止四錢）。</p>
<p>藥升之容積二千分，以今倉斛之積寸推之，古一升，今六勺七抄也。</p>
<p>立方算法，滿千分為一寸，曾以倉斛計之，合曲尺之寸度，積一千四百九十七寸為今五斗，則知曲尺二寸，為六勺七抄。</p>
<p>以古方參之：半夏秫米湯，半夏五合（準今三勺三抄半），秫米一升（準今六勺七抄），甘瀾水五升（準今三合三勺），煎取升半（準今一合），分三次，每服飲一小杯（杯如杯飲，約可手掬，今比此尤小，故曰小杯）。</p>
<p>四逆散，每服方寸匕（準今一錢），其泄利下重者，加薤白一升煎服（末藥少而一升之薤，其少亦可知）。</p>
<p>方寸匕者，作匕正方一寸，依曲尺之寸度為之。錢匕者，以五銖錢為之，開元錢亦同。皆抄散取不落為度。</p>
<p>古人用散藥，以刀圭抄取之，匕亦刀圭之意也。準前論一刀圭為三十二黍，方寸匕者，十刀圭也。立方一寸積千分三除之，得三百三十三分為方一寸匕之實，容三百二十黍，準今一錢（藥性輕重不等，今但就黍計之，以得其大概）。</p>
<p>《千金》論「錢匕者，以大錢上全抄之；若云半錢匕者，則是一「錢抄取半邊耳，井用五銖錢也。錢五匕者，今五銖錢邊五字者以抄之，亦令不落為度。」按五銖錢與開元錢徑相同，準曲尺九分，其冪六十三分，以九分乘之，得五百六十七分，三除之，得一百八十九分為一錢匕之實。乃以三百三十三分為首率，重一錢為次率，一百八十九分為三率，得重五分六厘為四率，是一錢匕之重也。半錢匕者，準今二分八厘；錢五匕者，準今一分四厘也。</p>
<p>以古方參之：五苓散、四逆散等方，每服方寸匕（準今一錢）。</p>
<p>桃花湯，赤石脂末半斤，每服方寸匕，日三服（每方寸匕準今之二錢，石藥性重也）。</p>
<p>燒　散，每服方寸匕，日三服（灰性必輕）。</p>
<p>大陷胸湯，甘遂一錢匕，分二服（每服是半錢匕，準今二分八厘）。</p>
<p>十棗湯，強人服一錢匕（準今五分六厘）。</p>
<p>文蛤散，一錢匕（藥性較輕）。</p>
<p>一撮者，以三指為度。</p>
<p>《千金》論「一撮者，四刀圭也。」得一百二十八黍，準今四分。</p>
<p>以古方參之：澤術糜銜散，藥共二十五分（準今四錢七分五厘），以三指撮為後飯（每服四分，日三服，三日後病瘳，而藥將盡矣）。</p>
<p>風引湯，藥共五十五兩（準今四兩一錢八分），取三指撮井水煮服（石藥性重，每服八分，以五十余日為度）。</p>
<p>凡丸藥如梧子大者，準藥末一分。如彈丸及雞子黃者，準藥末一錢。</p>
<p>《千金》論「刀圭者，十分方寸匕之一，準如梧桐子大也。」一方寸匕散以蜜和，得如梧桐子十丸為定。如彈丸及雞子黃者，以十梧桐子準之。準前論刀圭容三十二黍，應重一分，方寸匕加十倍，應重一錢。</p>
<p>以古方參之：己椒藶黃丸，藥共四兩（準今三錢，蜜丸如梧子大），飲服一丸，日三服（每日三丸，每丸一分，蜜在外，十日而瘳可知也）。</p>
<p>薯蕷丸，藥共百七十八分（準今三兩三錢八分），大棗百枚為膏，和蜜丸如彈子大，空腹酒服一丸，一百丸為劑（每丸藥末當重三分四厘，因有大棗一枚及蜜，故得如彈子大也。彈子大者，或較小於雞子黃，然亦不甚相遠耳）。</p>
<p>理中丸，藥共十二兩（準今九錢一分），蜜和丸如雞子黃大，以沸湯數合和一丸，研碎溫服之，日三四服，夜二服，腹中未熱，益至三四丸（每丸藥末一錢，當得九丸）。然不及湯，湯法以四物依兩數切，用水八升，煮取三升，去滓，溫服一升，日三服（作湯者，即用此九錢一分之藥煎之也。寇宗　疑丸藥少，湯藥多，妄謂古方如雞子黃者，應是大丸，李時珍宗之，遂於古法如彈丸及雞子黃準十梧子者，奮筆增為四十梧子，謬也）。</p>
<p>備急丸，每服大豆許三四丸，未差，更與三丸（按《千金》「十六黍為一大豆」，合七丸計之，不過百十二黍之重，準今三分半）。</p>
<p>凡藥有云大升、大兩者，以神農秤三兩為一兩，藥升三升為一升。</p>
<p>《千金》論「隋人以三兩為一兩。」權三倍，故量亦三倍。</p>
<p>以古方參之：</p>
<p>《外台》載《廣濟方》蒜煎，主冷氣，用牛乳五升（準今三合四勺），納剝淨蒜肉二升，煎候蒜消盡，下牛膝一大斤末（準今三兩六錢），煎成，酒和兩匙服之（乳經煎蒜後，約存二合，配三兩六錢煎而調和之，其末必不可復多矣）。</p>
<p>《外台》載《錄驗方》杏仁煎，療咳氣。杏人一升，搗，以水和研，取三大升汁（準藥升九升），煎取一大升，酒服一匙，日三（以水九升，研杏仁一升，其水亦不可復多矣）。</p>
<p>凡煮湯，大略古藥二十兩，今一兩五錢，用水一斗，今七合，煮取四升，今二合八勺，勺二，三次服之。</p>
<p>上藥皆　咀如豆大，必水乘氣熱，方始透入藥中，既而藥乘水沸，乃始溢出汁間；然且火欲其微，沸欲其小，絞以兩人，助以尺木，澄去　濁而後服之。全欲得其氣之清，而不欲多水以耗其氣，讀《千金》論自明。</p>
<p>至於《千金》論諸藥權量互求之法，往往不合，則古今藥性不同故也。即如蜀椒、吳茱萸、地膚子、蛇床子，古取陰乾，今皆晒爆，爆則藥性為之輕，輕則各有差等，而權與量不相合矣。又如附子以一枚準半兩，古取其土中自養，形神足者。棗有大小，以三枚準一兩。古以八月采爆干，尚皮不尚肉（《別錄》云：棗皮利，肉補虛，惟十棗湯取肥者十枚用之），今並不如法，宜與古不符也。惟巴豆治淨，以一分得十六枚，頗合（《千金》云：巴豆先去心皮畢秤之，曾如法修治，其薄衣務盡去之，約十六枚，重分九厘）。苟能於古方中緒論求之，蛛絲馬跡，非不可尋也。</p>
<p>以古方參之：</p>
<p>《千金方》治歷節諸風，百節酸疼不可忍，用松脂三十斤（準今三十六兩），煉五十遍，少亦須二十遍，服方寸匕，日三，百日差（方寸匕容三百二十黍，準今一錢，此最足據者。每日服三錢，百日須三十兩也。以松脂煉去六兩，適合百日之用，則古一斤為一兩二錢，更無疑矣）。</p>
<p>《千金》治結氣，冷症積在脅下，及香港腳上入小腹，腹中脹滿。大蒜去心，三升，搗令極熱，以水三升，和調絞汁，更搗，以水三升和，絞去滓，更以水三升和之，共成九升，滓可桃顆大，棄卻（三升蒜肉研汁後，滓僅如挑顆大，升小可知）。以微火煎取三升，下牛乳三升，合煎至三升。旦起空腹一頓溫服，令盡（三升蒜汁，可以一頓服，升小可知）。</p>
<p>至申時食。三日服一劑，三十日服十劑止（蒜汁最辛劣，全不慮及，而頻作服之，升小可知）。</p>
<p>宋‧林億以古三兩為今一兩，古三升為今一升，龐安常亦云然。此誤以漢之權量為憑耳，於古方不相涉也。</p>
<p>古方以二龠為一升，以二百四十　黍為一兩，此與劉歆所定二十龠為升，二千四百　黍為兩者，大相懸絕，後儒誤信《班志》，遂以新莽刀布之重及銅斛之式斷為古律權量，於是以古準今，遂有三兩為一兩，三升為一升之說，而強合於醫方之權量耳（秦漢之量，每一斗為今之二升，見閻百詩《四書釋地》及沈彤《周官祿田考》，附識於此）。</p>
<p>前明張介賓惑於鄭世子之《樂書》，定為古方一兩，今之六錢，古方一升，今之三合三勺者，尤為大謬。</p>
<p>李時珍云：古之一兩，今之一錢，古之一升，今之二合半，亦非也。</p>
<p>以古方參之：</p>
<p>《肘後方》治消渴，以黃連三斤（準今三兩六錢），納豬肚中蒸服（依景岳說，是廿八兩八錢矣，豬肚中能容之否？）。</p>
<p>又《肘後方》治中風腹痛，用鹽半斤（準今六錢），熬水干，著口中，飲熱湯二斤，得吐愈（依張則四兩八錢，能著口中耶？並能飲如許熱湯耶？）。</p>
<p>又《肘後方》治風毒香港腳，用硫黃末一兩，牛乳調服，取汗，北方人用此多效（依張則六錢，可作一頓服耶？）。</p>
<p>又《肘後方》治勞復，用乾薑四兩，為末（準今三錢），湯調頓服（依張則為二兩四錢之乾薑，可一頓服耶？）。</p>
<p>《外台》載《備急方》治五尸，以雄黃、大蒜各一兩，搗和如彈丸（準今一錢三分，故適如彈子大），納熱酒中服之（依張則一兩二錢，能與彈丸相似耶？）。</p>
<p>《千金方》治吞金銀　，用白糖二斤（唐以前方用糖，皆指飴糖，非蔗糖也），一頓（準今二兩四錢），漸漸食之，多食亦佳（依張則十九兩二錢，能作一頓服耶？）。</p>
<p>以上辨古秤。</p>
<p>《金匱》方，解菌毒，人糞飲一升（此豈今之三合三勺耶？）。</p>
<p>《外台》載《集驗方》，療水腫，用黃牛尿，一飲三升（準今二合），若不覺，更加服之（若謂是今之一升人糞牛尿，誰堪多服者？）。</p>
<p>《肘後方》治齒痛，醋炙枸杞白皮一升，取半升含漱即瘥（若如今之一合六七勺，如何含而漱之）。</p>
<p>又《肘後方》治霍亂，大渴不止，多飲則殺人，黃粱米五升，水一斗，煮清三升，稍稍飲之（若如今之一升，獨不慮其多飲而殺人耶？）。</p>
<p>《外台》載《崔知悌方》治血痢，鍛石三升，熬黃，水一斗投之，澄清，一服一升，日三服（每服準今三合三勺，日三服，豈鍛石湯可多服耶？）。</p>
<p>《千金》術膏酒，治腳弱風虛，用濕荊二十五束，束別三尺圍，各長二尺五寸，徑頭二寸，燒瀝三斗（準今二升）。</p>
<p>青竹三十束，束別三尺圍，各長二尺五寸，徑一寸，燒瀝三斗（試如式取荊與竹燒之，能取今一斗之瀝否？）。</p>
<p>《千金》耆婆萬病丸條下云：服藥取微下三升惡水為良（若三升為今一升，尚云微下耶？）。</p>
<p>《千金》第七卷雜方云：治崩中下血一斛，服之即斷（若血下至三斗三升，尚堪救藥耶？）。</p>
<p>《千金》紫菀湯云：小兒六十日至百日，一服二合半，百日至二百日，一服三合（若如今之八勺有奇，百日以內之小兒能頓服耶？）。</p>
<p>（以上辨古升）</p>
<p>夫以藥秤藥升，農、軒創造之法物，晉、宋以來　失古意，故梁‧陶貞白先生著《名醫別錄》，論用藥分劑法則，一遵神農之秤，而不用子穀　黍之制。孫真人祖述其意，定《千金方》，首言「今依四分為一兩稱為定」，亦不依隋人以三兩為一兩之法，其述古藥升制度下即曰：「今人分藥，不復用此」，蓋有存羊愛禮之思焉。繼此有王刺史者，輯《外台秘要》，每萬必紀其所出，凡六朝諸名家所定分兩升合，皆兢兢法守，間有大升大兩，必分別注明。今良方具在，顧以權量難求，棄若弁髦，強作解事者，從而武斷之，而醫宗之微旨，勢不至盡墜於地不止。</p>
<p>武斷之最者，莫如景岳，以其所宗者，悉本之偽造夏律周　之鄭世子也。</p>
<p>微旨者何？聖人治病之樞機也。升降浮沉之氣，順者生，逆者死，但得撥之使轉，即行所無事矣。故藥也者，求其中，不貴多也；求其循序，不貴速也。藥必有毒，非毒無以馭病，非節制無以馭毒。故升秤之以小為度者，誠慎之也。</p>
<p>陶隱居曰：一物一毒，服一丸如細麻大；二物一毒，服二丸如大麻；三物一毒，服三丸如胡豆；四物一毒，服四丸如小豆；五物一毒，服五丸如大豆；六物一毒，服六丸如梧子，從此至十，皆以梧子為度。按《千金》論如梧子者（準上論重一分），以二大豆準之；如大豆者（重五厘），以二小豆準子；如小豆者（重二厘半），以三大麻準之；如胡豆者（重一厘七毫），以二大麻準之；如大麻者（重八毫半），準三細麻（每一細麻重二毫八絲）。</p>
<p>今人疑古方立法太峻，而不詳其用意之謹密，反謂古人稟濃，能勝重劑，則所見益顛倒矣。得吾說而通之，庶兒能師古之意，用古之法乎。</p>
<p>《千金》論云：「古者，藥在土中，自養經久，氣味真實。今時藥力輕虛，人多巧詐。學人須加意，重復用藥，藥乃有力。」此亦不可不知也。然觀東垣方，藥味多而分量輕，又宋時一切作煮散者，每服皆以五錢為例，可知仍不貴多也。</p>
<p>古人疑漢方湯液，大劑三十余兩，小劑十余兩，用水六七升，煎取二三升，並分三服，若以古龠量水七升，煎今之三十兩，未淹得過？又疑散末藥只服方寸刀圭匕，圓子如梧子大，極至三十粒，湯液豈得如此懸絕？又疑風引湯一料計五十五兩，每用三指撮，水三升，煮三沸，去渣，溫服一升，觀其煮制，每只三指撮末，應料劑如此之多？今一旦考而正之，三疑盡釋矣。</p>
<p>古方惟百合湯用百合七只，配水三升，似與前說不相合，頃友人言；吾蘇陽山澄照寺前一片地上，天然自產百合，僅如錢大，煮之清香絕勝，療病極效。可知百合入藥者，以小為貴耳。</p>
<h3>《生氣通天論》病因章句辯</h3>
<p>丹溪《格致余論》曰：《生氣通天論》病因四章，第一章「因於寒」之下「欲如運樞」三句，與上文意不相屬，皆衍文也，當以第二章「因於暑」之下，「體若燔炭，汗出而散」二句，移於因寒之下云云。尤在涇先生深通《經》義者也，獨於此論未甚研求，乃於《讀書記》云：因於寒、因於暑二節，丹溪重定章句為是。烈謂「因於寒」之下「欲如運樞」</p>
<p>句，不必謂之衍文，惟「起居如驚，神氣乃浮」二句，與下文「體若燔炭，汗出而散」二句彼此舛錯，僅以此四句互為移掇，讀作「因於寒，欲如運樞，體若燔炭，汗出而散。因子暑汗，煩則喘喝，靜則多言，起居如驚，神氣乃浮。」意即貫串。蓋謂因子寒者，如樞運動，寒氣自散，如《內經》洗熨、按摩等法是也。若寒鬱為熱，有似燔炭，必須汗出而散，如仲景麻黃湯之類是也。因於暑者，乃君火為病，故自汗、喘喝而多言，以及起居卒暴，神氣浮越也。丹溪、在涇皆相承而誤。</p>
<h3>申明三年中氣候相乖化疫之說</h3>
<p>本集第二卷，薛一瓢先生《日講雜記》中有此一則，而語焉未詳，書出之後，諸同學迭有來問此說者，爰為之詳說於左。</p>
<p>此本諸《素問遺篇‧刺法論》，雖經張景岳類釋於剛柔失守之條（甲、丙、戊、庚、壬，五年為陽，於氣剛；乙、丁、辛、已、癸，五年為陰，於氣柔。應交而不布政者，謂之失守），而尚未甚晰，竊參鄙臆，詳以明之。假如甲子年，上半歲多風少暖，為上年司天之厥陰不退位，本年司天之少陰不遷正；若下半歲多涼，為在泉之陽明得位，甲子之在泉，陽明已卯也（在泉之干，即以司天之干相合者推之，如甲與巳合，乙與庚合也。在泉之支，以司天之支各就四正、四偏、四維中陰陽相配者推之，如子與卯為四正中之一陰一陽，寅與巳為四偏中之一陰一陽，辰與未為四維中之一陰一陽也，余仿此）。以上年之司天，臨本年之在泉，則上癸下巳，為不和。甲失其位，謂之木勝土虛（甲己化土），木勝必金復（指下年乙庚化金之歲言），金既復，木必稍退，而子年司天之少陰至矣。木反助火克金，其復必微。而甲己之土皆失守，土鬱之久，後化為疫，早則丙寅，晚則丁卯，土疫至也（丙辛化水之年，久郁之士方得勝之而為病，再次年丁壬化木，木又克土，亢則害而為病也。土疫即濕疫，今所謂濕溫之類是也）。疫之微甚，詳其年之司天在泉或盛或衰為定。又若上半歲氣暖，為少陰司天布政，而下半歲多溫少涼，為上年在泉之少陽不退位，本年在泉之陽明不遷正，夫己卯之柔，不至於下（本年在泉屬陽明，己卯解見上），則甲子之剛，孤立於上，亦為土虛，後化為癘（凡司天失守化為疫，在泉失守化為癘。疫、瘟疫也，癘、殺癘也）。土疫將至，恐傷腎臟，當先補腎俞，次泄土氣以去其郁，戒夜行遠行（經本論刺法，故以俞言，用藥者，亦仿其意可也）。其余詳載《類經》，不必復贅，余年皆仿此。</p>
<p>疫癘每發於陽年，除天刑六年，其余二十四年是也（庚子、庚午君火刑金運，庚寅、庚申相火刑金運，戊辰、戊戌寒水刑火運，此六年本非有餘，故不發疫，余皆陽剛太過，故作疫也）。然此指陽運自勝而無邪傷者也，若剛柔迭失其位，四時不節，謂之失之迭位，即生大疫（應司天而不司天，應在泉而不在泉，雖屬陽年，亦為不及，不必郁至三年始發疫癘也）。</p>
<h2>卷十</h2>
<h3>虛勞論</h3>
<p>虛勞之病，皆由內傷，而無外邪也。如酒傷肺，則濕熱薰蒸，肺陰消爍。色傷腎，則精室空虛，相火無制。思虛傷心，則血耗而火易上炎。勞倦傷脾，則熱生而內伐真陰。惟忿怒傷肝有二：鬱怒則肝火內熾而灼血；大怒則肝火上升而吐血。此五者，皆能勞其精血。《道經》云：「涕、唾、津、精、汗、血、液，七般靈物總屬陰。」陰虛內熱而成虛勞之症，大約酒色為多，然有童子未室而患此症者，或有先天不足，或稟母氣陰虛，其師尼、寡婦、室女愆期，氣血鬱結，以致寒熱如瘧，朝涼暮熱，飲食不思，經期不準，或致閉絕而成此病者，多由鬱火內蒸所致也（以上論致病之由，以下論真陰易虧）。</p>
<p>方書言此症者，皆以氣虛、血虛、陰虛、陽虛、混同論治。不知氣虛者，面白無神，言語輕微，四肢無力，脈來微弱；陽虛者，體冷畏寒，手足逆冷，溺清便溏，脈沉小遲。此二者，能服參、　溫補，乃為受補可治，斯氣虛陽虛之症也。雖血脫者亦有補氣之法，乃指卒暴失血，素非血虛之人，如新產之類耳。其余患此症者，《經》云：一水不能勝五火。</p>
<p>五火者，五志之火也；一水者，腎中真陰之水也。水即精也，即如「女子二七而天癸至」，「男子二八而天癸至」，非陰衰於前而陰成之難乎？又言人「年四十，而陰氣自半」，非陰衰於後而陰凋之易乎？所謂陰者，即我之精，而造我之形者也。</p>
<p>人生全盛之數，前後止二十余年，故丹溪引日月之盈虧，以為陽常有餘，陰常不足。而王節齋則以為，陰虛成病者，十有八九，陽虛成病者，百無一二，蓋以節欲者少，縱欲者多耳（以下敘五藏虛證）。</p>
<p>其為病也，在腎，則為腰、脊、腿酸，或攸隱而痛，為骨蒸盜汗，或至夜發熱，為遍身骨酸，或疼痛如折，為夢泄遺精，為耳中鳴，為足心熱。在心，則為驚悸怔忡，為掌中干熱，為虛煩無寐，或夢魘不寧，為口苦舌乾，或口舌糜爛。</p>
<p>在肺，則為痰嗽乾咳，為氣逆喘促，為鼻中氣熱，為顴紅吐衄，甚則吐涎白沫，側眠，咽痛音啞聲嘶。在肝，則為寒熱如瘧，為頸項瘰　，為脅脹肋疼，為兩目澀痛，為頭暈，為眼花，為多怒，為吐血。在脾，則為食減不化，為惡心嘔吐，為脹滿腹痛，為腸鳴泄瀉，肌肉消瘦。此皆五藏虛勞之本症。《經》曰：「治病必求於本。」須審其因何致損，何藏受傷，如因於色者，則知腎傷，縱有他經現症，亦當補腎為主，而兼治他症；因於酒者，又當以清肺為先（以下敘標本傳乘）。</p>
<p>既審標本，再明傳變。如腎傳心，心傳肺，肺傳肝，肝傳脾，脾再傳腎，此傳其所勝之藏，侮而乘之，謂之賊克，大凶之兆。《經》曰：諸病以此相傳者死，謂五藏以次相傳而克遍也。《難經》曰：七傳者死。謂如病始於腎，而脾復傳腎，是謂六傳已盡，一藏不可再傷也。又如腎病不傳心而傳肺，此間一藏而傳於生我之母，以母子氣通也；如腎病不傳心肺而傳肝，此間二藏而傳於己生之子，母病及子也；如腎病不傳心、肺、肝而傳脾，此間三藏而傳已所不勝之藏，《經》所謂「輕而侮之」也。傳乘不明，豈能療病（以下辨誤治）？虛勞一症，偏於陰虛者居多，而醫之誤治者有七，試詳言之。一曰誤認陽虛。命門之火，龍火也，亦謂之真陽，如果腎中陰盛，龍火不能安其位，而為上焦假熱，面赤、煩躁、口渴等症，口雖渴而不欲飲，足冷過膝，小便清長，右尺脈沉小而遲，或浮大無根，此陰盛逼陽之假症。如夏至一陰生，水底冷而天上熱，龍為陽物，隨陽而上升，宜用八味之屬，冰冷與飲，得引浮火歸元，如冬至一陽來復，地中水暖，而龍歸大海也。至若虛勞之症，是因腎水真陰虛極，水不攝火，火因上炎而致面赤唇紅，口鼻出血，齒痛齒衄，雖亦龍火上炎，與虛陽上浮不同，縱有下部惡寒足冷，此因虛火上升所致，非真陽衰而然，故其小便必黃赤，其脈必帶數，有內熱的症可據，設誤用引火歸元之法，是抱薪救火，上焦愈熱，而咳喘燥渴益甚，咽痛喉爛諸症至矣。二曰誤認中寒。腹痛之屬於虛寒者，綿綿痛而無增減，喜熱手按，熱飲食。</p>
<p>泄瀉之屬於虛寒者，水穀不化，而澄徹清冷，必有虛寒之脈證可憑，然後用之有效。今人一見脹滿腹痛，食不消化，腸鳴泄瀉等症，便認為虛寒，而投理中溫燥之劑，再補其陽，則陽益亢而陰益竭矣。更有見其脹滿泄瀉，遂引《經》文「清氣在下，則生飧泄，濁氣在上，則生　脹」，而用補中益氣，反提陰火上逆，以致咳喘頻增，吐衄交至，而立見危亡。</p>
<p>此其溫補得售者，不過助陽之藥，能使胃氣一時暫壯，飲食增加，彼此相夸，至死不悟，良為可憫。三日誤認外感。世之真陰虛而發熱者，十之六七亦與外感無異，火逆衝上，則頭脹微痛，火熱壅肺，則有時鼻塞，陰虛陽陷入裡，則洒浙惡寒。陰虛陽無所附，則浮越肌表而熱，但其發時，必在午後，先洒浙惡寒，少頃發熱，熱至寅卯時，盜汗出而身涼；或無微寒而但午後發熱。必現腎虛症，或兼唇紅顴赤，口渴煩躁，六脈搏數，或虛數無力。此宜大劑滋陰，如保陰、六味之屬。若誤為外感而表之，則魄汗淋漓，諸虛蜂起。或有失血之人，表之無汗，《經》所謂「奪血者無汗」也，再強發之，必然吐衄，為下厥上竭之症，此尤孟浪之流也。四曰苦寒瀉火之誤。實火為病，可以直折，虛火為病，非寒可清，非惟不能清熱，抑且敗其胃氣，食少瀉多，將何療治？甚者見其燥結，肆用硝黃以通之，不知腎主二便，腎主五液，腎液既虧，自不濡潤，滋其陰，潤其燥，而便自通，彼既虧之陰，豈能勝硝黃之攻伐乎？五曰二陳消痰之誤。痰在脾經者，名曰濕痰，其痰滑而易出；或稀如水者，名曰痰飲。濕者燥之，半夏自為正治。若陰水不足，肺受火侮，津液凝濁，不生血而生痰，此當潤劑滋陰，使上逆之火得返其宅，痰自清矣；二陳之燥，立見其殆。六曰參　助火之誤。夫虛勞之可受參　者，肺必無熱者也，肺脈按之而虛，必不數者也，故有土旺而生金，勿拘拘於保肺之說，古人每用之而奏功。今則火已爍金而咳矣，火蒸津液而化為濃痰矣，君相亢甚而血隨上逆矣，猶引陽生陰長，虛火可補之說，漫用參、　，因之陽火愈旺，金益受傷，所以好古有肺熱還傷肺，節齋有食參必死之叮嚀也。七曰治療過時。上古「聖人不治已病，治未病」。如勞神者，常養其心，勞倦者，常補其脾，多怒者，常滋其肝血，多飲者，常清其肺熱，好色者，峻補其腎水。</p>
<p>仲景曰：凡人有病，不時即治，隱忍冀延，必成痼疾。所以終罕得愈者，以內熱之症，人多易忽，自恃飲食如常，起居如舊，仍縱恣酒色，迨至病已成而後藥之，譬之渴而穿井，斗而鑄兵，不亦晚乎！（以下三大治法）</p>
<p>然而治之最難，有三大要法，不可不講也。一曰補腎水。《經》云：「腎者主水，受五臟六腑之精而藏之。」精藏於此，氣化於此，精即陰中之水也，氣即陰中之火也，故命門之水火，為十二臟之化源。火不畏其衰，水則畏其少，所以保陰、六味、左歸之屬，皆甘寒滋水添精之品，補陰以配陽，正王太仆所謂壯水之主，以制陽光，丹溪所謂滋其陰則火自降，譬之燈殘火焰，添油則焰光自小也。然須制大其劑，長久服之，以陰無速補之法也。至若因於酒者，清金潤燥為主，而保陰之屬仍不可廢，蓋補北方，正所以瀉南方而救肺也。因於思慮者，清心養血為主，而佐保陰之屬，所謂水壯而火熄，勿亟亟於清心是也。因於勞倦者，培補脾陰為主，而佐保陰之劑。《經》曰：有所遠行勞倦，逢大熱而渴，渴則陽氣內伐，內伐則熱舍於腎。」故知勞倦傷脾內熱者，必及腎也。若忿怒傷肝動血，保陰、六味大為正治，蓋水旺則龍火不炎，雷火亦不發，乃腎肝同治之法也。二曰培脾土。脾胃為後天根本，《經》曰：「安穀則昌。」蓋精生於穀，飲食多自能生血化精，雖有邪熱，藥得以制之，久則火自降而陰自復也。若脾胃一弱，則飲食少而血不生，陰不能以配陽，而五藏齊損，故越人歸重脾胃而言，一損損於肺，皮聚而毛落，二損損於心，血脈不能營養藏府，三損損於脾，飲食不為肌膚，四損損於肝，筋緩不能自收持，五損損於腎，骨痿不能起於床。從上而下者，過於胃則不治，至骨痿不能起於床者，死；從下而上者，過於脾則不治，至皮聚而毛落者，死。所以仲景治虛勞，惟用甘藥建立中氣，以生血化精，一遵「精不足者，補之以味」之旨也。味、非獨藥也，補以味而節其勞，則積貯漸富，大命不傾。《經》云：「陰陽形氣俱不足者，調以甘藥」，故中氣不足者，非甘不可。況土強則金旺，金旺則水充。又男子以脾、胃為生身之本，女子以心、脾為立命之根，故治此者，當以調養脾胃為主。三曰慎調攝。虛勞之因，因於酒色者固多，其因於憂愁思慮、抑郁多怒者亦不少，所以童子室女，不生歡笑，及鰥寡僧尼，易犯此病，經謂非針藥之可治，必須消遣情懷，隨遇皆安，然後療治，庶能愈病。乃今之患此症者，徒仗諸草木，奉為復元之品，外則疲勞形體，內則沉湎七情，不知心有妄動，氣隨心散，氣散不聚，精逐氣亡，故廣成子曰：「必靜必清，無勞汝形，無搖汝精。乃可以長生。」斯言真可為虛勞調攝之良法也。予今所論虛勞致病之因，次及方書之混列，更推真陰易虛之故，以及標本傳乘，並誤治之弊，而終之以治要，非敢矯當世之偏，實本諸先哲發明治要，予又自驗之而不爽者，故特立說以識之。</p>
<p>保陰煎（自製）　熟地黃　生地黃　天門冬　麥門冬　玉竹　龜版　茯苓　山藥　牛膝　桂圓肉　人乳上藥或水煎，或用石斛煎湯代水煎。內熱有汗，加地骨皮。內熱無汗，加壯丹皮。腰痛，加杞子、杜仲；或加豬腰、豬脊髓。盜汗，加棗仁、五味子。忡怔不寐，加棗仁。咳嗽，加桑白皮、枇杷葉、百合。有痰，加貝母。有血，加藕汁、童便。食少，加薏苡仁。泄瀉，去生地、天冬，加山萸肉、白芍、大棗、蓮肉。肺脈按之無力者，量加人參。</p>
<h3>讀先祖保陰煎謹記</h3>
<p>予先祖學舟公，治虛勞有自製保陰煎一方，其意旨所存，蓋即固本丸、集靈膏之制而加減者也。二地為君，壯水以制亢越之火；二冬為臣，保金以滋生化之源。惟固本丸有人參，茲去參者，恐肺中有熱，反致助火也；代以龍眼、葳蕤，一以悅脾而生金滋水，一以潤肺而益腎養肝，二味代參，非獨較參為穩當，抑且貧富可以通行。集靈膏有枸杞、牛膝，茲去杞者，恐其性溫助陽；用膝者，取其引藥下行，一汰一存，權衡適當。至人乳補血液，為潤燥之妙品，龜版補心腎，實養陰之良藥。統而計之，即「精不足者，補之以味」之意也。然群聚沉陰靜味，得無過於凝滯，上阻胃納，下妨脾運歟？故佐以山藥、茯苓，一培一滲，調和脾胃，使無偏勝之虞。且備擬加減之法，以治病之變化，毫無遺漏焉。壯水制火，補精養陰，較之錢仲陽之六味，張景岳之左歸，不能多讓，而或更勝之。乃或有議其平庸者，是未籌勞者養之，惟宜王道，不尚霸功也。先祖當年，先葉香岩、薛一瓢兩先生而著名，制此方以療虛勞者千百人，不僅為獨創之奇，實上探古人之精奧，世雖多高明之士，而治虛勞者，誰復能舍此而別求良法哉！予也痛先人之已邈，幸舊笈之猶傳，思濟美於後先，有慚學術，讀祖書之良善，敢秘遺編？用是梓此新方，附於《匯講》，非徒求行世，亦以祈活人也。</p>
<h3>六味地黃丸方解</h3>
<p>此為補陰之主方，補五藏之陰以納於腎也。藏陰虧損，以熟地大滋腎陰，壯水之主以為君。用山萸肉之色赤入心，味酸入肝者，從左以納於腎。山藥之色白入肺，味甘入脾者，從右以納於腎。又用三味通府者，恐府氣不宣，則氣鬱生熱，以致消爍藏陰，故以澤瀉清膀胱，而後腎精不為相火所搖；又以丹皮清血分中熱，則主血之心，藏血之肝，俱不為火所爍矣。又以茯苓清氣分之熱，則飲食之精，由脾輸肺以下降者，亦不為火所爍矣。夫然後四藏之真陰無所耗損，得以攝納精液，歸入腎藏，腎受諸藏之精液而藏之矣。從來囫圇看過，未識此方之元妙，至於此極。今將萸肉、山藥二味分看，一入心肝，一入肺脾，既極分明，而氣味又融洽。將熟地、萸肉、山藥三味總看，既能五藏兼入，不致偏倚，又能將諸藏之氣，盡行納入腎藏，以為統攝藏陰之主，而不致兩歧。至澤瀉、茯苓、丹皮與三補對看，其配合之妙，亦與三補同法。制方妙義，周備若此，非臻於神化者，其孰能之？惟其兼補五藏。故久服無虞偏勝，而為萬世不易之祖方也。</p>
<h3>八味地黃丸方解</h3>
<p>此方用附子、肉桂補兩腎之陽，非補兩腎中之命門也。附子補氣中之陽，由肺以入於腎，故陽虛肺氣喘急者，服之即止，乃右腎之陽藥也。肉桂補血中之陽，由肝以入於腎，故陽虛肝火上浮者，服之則納，乃左腎之陽藥也。夫從左從右，非兩腎之中，可知命門居中，是以一而神，非以兩而化。附子、肉桂，一氣一血，兩相對待，故非命門藥也。如以附為補命門，則以命門屬氣，桂不得為補命門矣；以桂為補命門，則以命門屬血，附不得為補命門矣。總之，命門為先天之氣，本於始生，為生氣、生血之根本，非草根樹皮所能補者；藥餌入口，從胃氣敷布，然後輸入腎藏，即系後天飲食之氣所化，但能補益藏腑，不能補益先天。故前人加入地黃丸者，不特附、桂一氣、一血，即車前、牛膝亦是一氣、一血，知母、黃柏亦是一氣、一血。一氣、一血者，俱入兩腎，而非命門也。以命門為陽者，此命門與兩腎分陰陽，則命門為陽，兩腎為陰。命門為始生之根本，即是萬物資始之干元，故為元陽，象坎中之一畫也，非以火為陽也。如以兩腎分析而論，則左血為陰，右氣為陽，亦非以水火分也。如專以一腎而論，則左腎不獨有精，氣亦有之，右腎不獨有氣，精亦有之，精即為陰，氣即為陽，此兩腎各有陰陽，故八味地黃丸各補其陰陽也。</p>
<h3>司天運氣征驗</h3>
<p>余曾撰《司天運氣贅言》，已鐫入是編第七卷矣。愚意以每歲每候必有歲運與司天、在泉，及分五運之主客，六氣之主客，六者雜聚，變化靡窮，吾儕在醫喻醫，譬如一方中純寒純熱，其劑自峻，若苦辛相制，寒熱雜陳，即有所偏，蓋亦微矣。故《天元紀》、《六微旨》二篇，論至天符、歲會，則有中其病者速而危、徐而持、暴而死之別，天符、歲會如此，可知五運六氣亦須參合，以類推矣，《內經》未言及此者，提其綱而難於盡數其目也。抑更有釋天符、太乙者，謂當以得病之一日為言，如戊子日亦稱天符，戊午日亦稱太乙之說。茲嘉慶元年丙辰，乃統一歲者，太羽水運，上半歲又值太陽寒水司天，已為天符矣，而初之主運值太角，初之客運值太羽，初之主氣又值厥陰風木，則是六者之中，三寒二風，惟初之客氣值少陽相火，一火孤立，幾為群水所掩，初之運氣，天候應寒也。正月初九日丙辰，又天符之日，水寒會聚。</p>
<p>余於去冬曾與鄰金子東屏、胡子誠齋、謝子由喬，暨同道唐子迎川、周子思哲、朱子澗溶，以及門人王文海輩，談及是日防受寒邪。不意至期，果於雞鳴時，烈風震屋，積雪盈庭，及午、雪益密，紅爐不暖，繒纊無溫，抵夜風更壯，即重毳幕，不啻大荒冰窖矣。迨詰朝，風少息，然寒威凜冽、吹氣成凍，不獨貯水缸壇，插花瓶擊，一旦都為冰泐，甚至煙筒酒瓮，無不凝冰，耄耋之老，皆云有生以來，未遇如此嚴寒，諸鄰友謂余曰：推之何精也？余亦未料如此其驗也。</p>
<p>因而追溯乾隆三十八年癸已，夏炎暑酷烈，中　而死者，難以仆數，試亦以運氣推之，乃少征火運，而值巳歲，所謂歲會也。大暑後少陽相火在泉，所謂同歲會也。維時乃三之運，四之氣，客氣又值少陽相火，則是七者之中，火居其四，至於主運少宮，客運少商，主氣太陰濕土，五行中全未見水，有陽無陰，可謂亢害之至矣。於是益知運氣之說，不可執一而論，當以六者之中，角、征、宮、商、羽與風、火、濕、燥、寒，互相參究，自無不驗，縱不必偏甚若此，始能獲應，亦須以此六者主客太少何勝？何遜？何遠？何近？窮究其微，必有曲驗，即此癸已、丙辰二歲可征也。再試以本年他運他氣推之，除五行錯雜，不甚偏乖者，無庸瑣述，小滿後交三之客氣，乃太陽寒水與歲運司天相合，且主客運氣之中，客氣最為切近，是時應有寒征。又小雪後交終之氣，主運太羽，主氣太陽寒水，與歲運之太羽三水會聚。惟是主運主氣不過時令之常，非比客運客氣加臨，變化顯有異征耳。十一月十五日丙辰，益以天符之日，寒應倍之，茲乃時當夏仲，衣必纊綿，三之氣亦己驗焉。前撰贅言，可詡未謬，試再觀終之氣何如？（五月望日識）</p>
<h2>卷十一</h2>
<h3>三焦說</h3>
<p>三焦有形、無形之說，越人、華佗、王冰、東垣皆曰有名無形；余則或言無狀，或言有形，紛紜無定。愚意當以無形之說為是，非若五藏五府各自成形，可以定其象也。《營衛生會篇》云：「上焦如霧，中焦如漚，下焦如瀆」，此三焦定論也。以其無形，故舉功用之相似者以比擬之也。霧、類乎氣，《決氣篇》所謂「若霧露之溉」是也。考漚、瀆二字之義，漚、漬也，漸也，漸漬之使柔爛也。則漚者狀「腐熟水穀」之義，謂漸漬以化也。瀆、濁也，通也，所以通垢濁也。則瀆者狀分別清濁，即「決瀆之官，水道出焉」之義也。其「三焦」字義，亦屬無形，蓋火灼則焦，火即是氣，以少陽為相火，即取「焦」字之義也。上、中、下、有分司之任，故曰「三」也。《營衛生會篇》云：「上焦出於胃上口，並咽以上，貫膈而布胸中。……中焦亦並胃中，出上焦之後。此所受氣者，泌糟粕，蒸津液，化其精微，上注於肺脈，乃化而為血，以奉生身，莫貴於此，故獨得行於經隧，命曰營氣。……下焦者，別回腸，注於膀胱而滲入焉。故水穀者，常並居於胃中，成糟粕而俱下於大腸，而成下焦。」又云：「營出於中焦，衛出於下焦。」《五味篇》云：「穀始入於胃，其精微者，先出於胃之兩焦，以溉五藏，別出兩行，營衛之道。」細玩《經》文，曰「出於胃上口」，「出上焦之後」，曰「成下焦」，曰「胃之兩焦」，皆見無形體之意焉。而細繹《經》旨，即營、衛之氣所從出，其職司功用，莫非氣之所為，故《中藏經》曰：「總領五藏六府、營衛經絡、左右上下之氣也。」至《本藏篇》有濃、薄、緩、急、直、結之說者，孫東宿謂五藏、五府、五行，正配合者也，獨三焦無合，故附膀胱而言，非謂三焦有物如是也。若《論勇篇》理縱、理橫之說，不過言其人之軀殼上下通體如此，故以「三」字貫之，而借「焦」字助語成辭，與《五味篇》所云「胃之兩焦」句法相仿耳。再以《背俞篇》五焦、七焦之文觀之，則三焦縱橫之句，亦可不必拘泥矣。使必以無形之說為誤，豈越人、華佗其才智反在後人下耶？</p>
<h3>命門說</h3>
<p>命門者，人身之真陽，腎中之元陽是已，非另是一物也。後世立論，有謂在兩腎中間者，有誤引「七節之旁，中有小心」為命門者；至謂其形如胡桃，尤為荒誕！夫越人倡右腎命門之說，而後人非之，抑思不有越人，又何從有命門之說乎，其意以陽氣為重，人身左血右氣，故歸之右也。人之每藏每府，各具陰陽，腎為一身之根柢，元陽為人身所尤重，故特揭之也。自古命門治法，亦惟溫補腎陽而已，別無他法也。故虞天民兩腎總號命門之說，最為近理。景岳亦有分而言之，則左水右火，合而言之，為水火之府，陰陽之宅，及命門總主乎兩腎，兩腎皆屬於命門之論。至以子腸當之，又於理未安也。孫東宿以生氣立論，其意頗合，竟指為先天之太極，亦非也。近時靈胎徐氏，謂腎之有兩，則皆名為腎，不得名為命門，蓋腎為牝藏，其數偶，命門之義，惟衝脈之根柢，其位適當兩腎之中，真可稱為命之門，不得以右腎當之也。夫以牝藏釋兩腎，其說最的；以衝脈當命門，倡論似甚新奇，細按亦非確當，不過執兩腎中間之語，而另開一說耳。竊以為兩腎為立命之門，命門穴在中間，似因腎而得名，越人以腎為命門，又因穴而名之也。總之、《三十六難》曰：「命門者，諸神精之所舍，原氣之所系也。男子以藏精，女子以系胞。」此真上補《素》、《靈》之未及，惟「非皆腎」、「知腎有一」二語，不免詞病，以致後人辨論紛紛也。</p>
<h3>陰陽常變論</h3>
<p>陰陽者，一氣所分，宜平宜合，忌偏忌離。或為對待，或為流行，有會處，有分處，本相生，亦相克，天地萬物無一可以去之，其理之精微，實非易言者也。考之醫籍，或謂陰易虧而陽易亢，務以益陰為先；或謂陰主殺而陽主生，必以扶陽為重。若此之類，各有至理，而均非定論，何也？以未分常與變耳。試以四時晝夜核之，春夏為陽，秋冬為陰，兩分焉而毫弗參差；夜則為陰，晝則為陽，總計焉而纖無多寡，此陰陽之常也。以大地之變論之，時或亢旱，即陽盛陰虛之象，必有待於甘霖；時或久陰，即陽衰陰盛之征，是有賴於皎日，此各執其說者，亦有至理也。以人之病論之，水虧火旺，非清涼無以救其燎原，既不可專以陽為重；氣脫神霾，非溫熱無以消其陰翳，亦不可獨以陰為先。非偏執之見，均非定論乎？考之先儒，語其大綱，一動一靜，互為其根，是為流行；分陰、分陽，兩儀立焉，則為定位。言其體用，天以陽生萬物，以陰成萬物，惟兩故化合而後能遂也。以陽為用則尊陰，以陰為用則尊陽，隨時變易，迭相為用也。陽不能獨立，必得陰而後立，故陽以陰為基；陰不能自見，必待陽而後見，故陰以陽為唱。陰陽相生也，體性相須也，是以陽去則陰竭，陰盡則陽滅。顧陰之為道，利於從陽，不利於抗陽；陽之為性，宜於潛藏，不宜於發泄。若夫陽主進而陰主退，陽主息而陰主消，進而息者其氣強，退而消者其氣弱。陽剛溫濃，居東南，主春夏，而以作長為事；陰柔嚴凝，居西北，主秋冬，而以斂藏為事。作長為生，斂藏為殺，似乎以陽為重，及觀天不地不生，夫不婦不成，又謂元不生於元而生於貞，蓋天地之化，不翕聚則不能發散，故不貞則無以為元，而非生生不窮之道也；又不必以陰為輕，則先儒之說未嘗偏輕偏重也。故陰陽得其正，則平若權衡，陰陽失其和，則反如冰炭。自其變者而觀之，陽主乎熱，陰主乎寒，不可混而為一；自其不變者而觀之，陰氣流行即為陽，陽氣凝聚即為陰，豈可分而為二。且陰陽互藏其宅，故傷其陽即及其陰，傷其陰亦即及其陽。陰陽消長無窮，故陽之退便是陰之生，陰之退便是陽之生，《內經》亦曰：陰陽之道，如環無端是也。</p>
<p>如曰陽能生陰，陰則不能生陽，豈理也耶？且果穀草木，有生於春而成於秋者，亦有生於秋而成於春者，惟獨陽則不生，獨陰則不長耳。要之，論其常，則毫厘不可輕重；如其變，則剛柔大有懸殊。所以寒極則凍而死，暑極則熱而斃，過則主乎殺也；晴明物亦榮，雨露物亦茂，和則主乎生也。惟今人之體，偏勝者多，在乎臨證者，於向來偏執之說，毋低其短，善用其長可也。陰陽之理，非一言可以盡之也。</p>
<h3>中道說</h3>
<p>中之為道，無所不涵，無所不徹，推之醫理，尤不可忽。蓋萬病由於乖戾，用藥惟以調和，益其不足，損其有餘，溫涼攻補，必歸於中而後可。夫中者，不偏不倚，無過不及之謂也。故中無定體、隨時而在，一病有一中，不可偏向一病，而今日如此為中，明日如彼為中，慎勿固執。且同一病而此，則如此為中者，彼則如此而又非中，無窮活變。故中者，如權之稱物，如鏡之取火，少越焉，太過矣；少退焉，不及矣；總在當機之順應也。醫之中道，非不寒、不熱，不補、不瀉之謂，中病即是中，中病而毫無偏倚，毫無過不及，即是至中。是以補如參、地，瀉如硝、黃，熱如薑、附，寒如膏、連，散如麻、桂，毒如虻、蛭，合宜而用，何一非大中之理乎，是在平時窮理精而辨症明，則臨病自生變化，能統萬理於一原，自能通一心於萬事也。嘗怪前賢往哲，代不乏人，其聰明才辯之資，縱橫反復，蹈奇入險，固皆醫林之傑也，然而適中者寡矣。《書》曰，「允孰厥中。」子曰：中庸不可能也，醫雖小道，何獨不然？</p>
<h3>三百九十七法考</h3>
<p>仲景《傷寒》書為叔和編次，已失其真，即林億校本，亦已難得，今世所傳，惟成無已注釋之本而已。至三百九十七法，莫不津津樂道，而究鮮確指。汪苓友亦云：前人所未明言，其引張孝培《傷寒類疏》桂枝湯服後至以助藥力為一法，溫覆至如水流漓又一法，稱與諸家不同，顧吾不知其何本而有此。考前明有吾虞趙開美翻刻宋板《傷寒論》全文，其三百九十七法，於每篇之首注共幾法，先則節錄原文，開明第一、第二，次於原文之下，復列一、二、三之數，總計全書治法，了如也。但不知出自叔和，出自林億，今之傳本亡之者，殆為無己所刪乎？後人未見宋刻，茫然不曉，如王安道亦未之見也。國朝王晉三雖於每方之下注以各法，亦不過繼張孝培、汪苓友之志而愛禮存羊，究有未能悉洽者。故愚以為注書不應改移，止宜就文辨論，如朱子之賢，闕文錯簡，皆仍其舊，無已何人，而乃擅削，以致迄今，盈庭聚訟也。</p>
<p>仆先祖笠山公，精於醫理，傅極群書，臨症之暇，靜坐小齋，手不釋卷，雖至老不倦。於暮年采取諸同學高論，輯成《吳醫匯講》行世。舊存見聞篇什，及諸公送來佳作，先祖必反復細閱，再商之二三老友，考訂盡善，方始付梓。是以采取者果多，存止者亦復不少，緣集行海內，同人之公論系焉，不苟采選，可見仆先祖慎且重也。選至十一卷周省吾先生佳章之後，忽抱沉　，於辛酉歲辭世，迄今十四載矣，痛音容之已杳，幸《匯講》之流傳。慶耆僅守遺板，即以十一卷第八頁省吾先生佳作為止。慶耆年幼無知，不能克承家學，醫林典籍，未經探討，雖承佳章賜教，不敢續入集內，所以遵先祖慎采之遺意也。爰書數語，附於簡末。</p>
<p><u>嘉慶十九年歲次甲戌春正月孫男慶耆百拜謹識</u></p>
