<header><h1>藥徵續編</h1></header>
<dl class="元資料" data-type="book" hidden></dl>
<h2>《續編》序</h2>
<p>孔子曰：精義入神，以致用也。醫藥之道，苟不精義，致用也難矣。其觀象索本，知幾通變，非天下至精，孰能與於此哉？仲景氏出，方法悉備，其書雖存，而知意味者鮮矣。於是治疾之要，唯知隨證，而不知觀證之有法也。其論藥能方驗藥功，混為一，終不辨本性也。</p>
<p>如斯而得入神，孰不為良醫耶？村井大年，肥後人也，篤信吾先考東洞翁。治舊　，起廢疾，名聲振四海。頃者集《藥征》不載之藥品，稽古征今，審其功能，作《藥征續編》，大年之精斯道也。讀此書而觀其所論，則可知焉。</p>
<p><u>寬政丙辰仲冬平安吉益猷修夫序</u></p>
<h2>卷上</h2>
<h3>赤石脂</h3>
<p>主治水毒下利。故兼治便膿血。</p>
<h4>考證</h4>
<p>桃花湯證曰：下利便膿血。</p>
<p>赤石脂禹餘糧湯證曰：下利不止。</p>
<p>上二方，赤石脂各一斤。</p>
<p>烏頭赤石脂丸，證不具。</p>
<p>上一方，赤石脂一兩。</p>
<p>據此三方，則赤石脂，治水毒下利不止便膿血明矣。</p>
<h4>互考</h4>
<p>赤石脂配乾薑，則治腹痛下利。若無腹痛，則不配乾薑。</p>
<p>烏頭赤石脂丸，證不具。但云治心痛徹背，背痛徹心者，雖然，此方豈惟治心背徹痛乎？後世誤載之《金匱要略‧心痛》病篇內。故世醫皆以為但治心痛之方也。　按：此方本當在六經病篇內，某證條下，而治心痛徹背，背痛徹心者矣。今詳前後之條，及病證方法，蓋厥陰病，蛔厥，心痛徹背，背痛徹心，下利惡寒者主之。當是同甘草粉蜜湯，大建中湯等，在烏梅丸之前後矣。《外台秘要》第七心背徹痛方內曰：仲景《傷寒論》，心痛徹背，背痛徹心，烏頭赤石脂丸主之。小注云：出第十五卷中。然則是本《傷寒論‧蒸陰病》篇內方，而必有前後之證存矣。何以言之？則蜀椒治蛔厥。乾薑治下利腹痛，烏頭、附子，並治四肢厥逆，赤石脂惟治下利。由此觀之，此方豈惟治心背徹痛乎？余嘗疑烏梅能治蛔，故蛔厥心痛徹背，背痛徹心，則此方不可無烏梅矣。然則烏頭是烏梅之誤矣乎？凡仲景之方，無烏頭、附子並用者，則益知烏頭是烏梅之誤矣。　又按：《外台秘要》第七久心痛方內，有范汪療久心痛方，又名烏頭赤石脂丸。方內有桂心，（桂心即桂枝，唐方皆以桂枝為桂心）無附子，此為異耳。或疑附子是桂枝之誤矣乎？桂枝能治上衝而厥者，烏頭、附子，本同物同功，並存以俟明者試效而已。</p>
<p>桃花湯方曰：赤石脂一斤，一半全用，一半篩末，是分赤石脂一斤以為各半斤。乾薑一兩，粳米一升，以水七升，煮米令熟，去滓，取七合，又取半斤赤石脂末內方寸匕，溫服，一日三服。後內赤石脂末方寸匕者，未知何故也，宜隨仲景之法施之。《外台秘要》引崔氏方，阮氏桃花湯，分兩法，則與此不同，可考。</p>
<h4>品考</h4>
<p>赤石脂理膩黏苦綴唇，鮮紅桃花色者為上品，近年佐渡州所產者是也。凡方有桃花名者，以</p>
<h3>栝樓根</h3>
<p>主治渴。</p>
<h4>考證</h4>
<p>柴胡桂枝乾薑湯證曰：渴而不嘔。</p>
<p>小柴胡去半夏加栝蔞湯證曰：發渴者。</p>
<p>上二方，栝蔞根各四兩。</p>
<p>栝蔞桂枝湯，證不具。</p>
<p>栝蔞瞿麥丸證曰：其人若渴。</p>
<p>上二方，栝蔞根各二兩。</p>
<p>栝蔞牡蠣散證曰：渴不差者。</p>
<p>牡蠣澤瀉散證不具。</p>
<p>上二方，栝蔞根諸藥等分。</p>
<p>據此諸方，則栝蔞根治渴明矣。凡渴有二證。煩渴者，石膏主之，但渴者，栝蔞根主之。</p>
<p>是宜分別而治之。按栝蔞根者，蓋兼治口中燥渴及黏者，然是非栝蔞根一味之主治也。合用而後見其妙，要宜考之於柴胡桂枝乾薑湯，栝蔞桂枝湯二方。</p>
<h4>互考</h4>
<p>栝蔞桂枝湯證，不具。然太陽病，其證備云，則是全備桂枝湯證之謂也。但身體強幾幾然云者，豈獨栝蔞根所主乎？幾幾然，是項背強急之狀也。故桂枝加葛根湯證曰：此方蓋於桂枝加葛根湯證曰：項背強，幾幾然，則幾幾然，是為葛根之證明矣，余故曰：此方蓋於桂枝加葛根湯方內，加栝蔞根二兩，煮法水率，亦皆依桂枝加葛根湯法，而不依桂枝湯法也。</p>
<p>豈不其征乎？然則益知此方者，是桂枝加葛根湯證全備而渴者主之。《類聚方》不載此方，水率煮法者誤也。</p>
<p>牡蠣澤瀉散，證不具。此方七味等分之劑，而不知何以為主藥也？然今此謂大病瘥後，從腰以下有水氣，則必有渴證明矣。故有栝蔞根也。</p>
<h4>辨誤</h4>
<p>《爾雅》曰：果　之實栝蔞。郭璞曰：今齊人呼之為天瓜。李巡曰：栝蔞子名也。據此說，則根名果　，子名栝蔞。凡仲景之方，栝蔞桂枝湯，栝蔞瞿麥丸，柴胡去半夏加栝蔞湯，及牡蠣澤瀉散，柴胡桂枝乾薑湯二方內，栝蔞皆當作果　。若作栝蔞，則當須加根字。不然，與子相混，不可不改焉。又小陷胸湯，瓜蔞薤白白酒湯，瓜蔞薤白半夏湯，枳實薤白桂枝湯方內，瓜蔞實皆當作栝蔞也，實字當削之。李時珍曰：栝蔞即果　二字音轉也，亦作KT，後人又轉為瓜蔞，愈轉愈失其真矣。時珍之說非也，栝蔞決非果　音轉也，《爾雅》豈以音轉注之乎？瓜蔞　KT　，後世假栝蔞之音者也。　KT　本見《靈樞經》，蓋俗字，誤見於經，後</p>
<h4>品考</h4>
<p>栝蔞二品，其色赤，一其色黃，但其根不異，通用而可也。雷　曰：圓者為栝，長者為蔞，亦屬牽強。今藥肆所有者，土瓜根混賣，不可不擇也。蓋土瓜根，短如甘薯，味苦。天瓜長如薯蕷，最大，味甘微苦，宜以此分別也。若無此物，則天花粉可權用。其色如雪，握之又作雪聲，不貼銀器者佳。</p>
<h3>蜀漆</h3>
<p>主治胸腹及臍下動劇者，故兼治驚狂，火逆瘧疾。</p>
<h4>考證</h4>
<p>桂枝去芍藥加蜀漆龍骨牡蠣救逆湯證曰：驚狂起臥不安者。</p>
<p>牡蠣湯證曰：牡瘧。</p>
<p>上二方，蜀漆各三兩。</p>
<p>牡蠣澤瀉散，證不具。</p>
<p>蜀漆散證曰：牡瘧，多寒者。</p>
<p>上二方，蜀漆諸藥等分。</p>
<p>據此諸方，則蜀漆之為功，古來未嘗謂治動矣。然瘧疾，及驚狂火逆諸證，必有胸腹臍下動劇者。故見其有動者而用之，則法證無不治者。然則蜀漆者，治胸腹及臍下動劇者明矣。</p>
<h4>互考</h4>
<p>牡蠣湯服法曰：吐則勿更服。今瘧疾有喘鳴急迫，或自汗，或不汗，胸腹動劇者，服之，則其人必吐水數升，而無其證不愈者，若有不吐者，則其證不愈也。由此觀之，蜀漆能吐水毒，動是水毒明矣。當知瘧之為病，亦水毒之所為矣。雖然，此方豈惟治瘧疾乎？凡病患喘鳴迫塞，或自汗，或不汗，胸腹動劇，皆此方能治之。往來寒熱，發作有時，所以不豫也。</p>
<p>晉唐以來，世醫之見仲景之方也，皆以為惟治傷寒者。故如彼葛洪、孫思邈、王燾、許叔微之書，皆知備仲景之方於傷寒門，而未嘗知治萬病矣。殊不知仲景本取治萬病之方，以治傷寒矣。降至趙宋之時，有《金匱要略》之書，當時如王洙，得仲景治傷寒中雜病證之方於蠹簡之中，而後各分其門，以為一書。世之為醫者，遂稱其書謂之《金匱玉函》之方。金匱之玉函之，蓋尊重之至也。自此以往，世之為醫者，又見某門之方，以為某方惟治某證，於是乎如牡蠣湯蜀漆散二方，亦署諸瘧疾篇內，而徒知治瘧疾，未嘗知治余病矣。甚之束之高閣，而謂古方不宜今病，可勝嘆哉！嗚呼！仲景之方法之衰也，不獨王叔和為之，彼葛孫王許實為之，又醫道之大罪人乎哉？桂枝去芍藥加蜀漆龍骨牡蠣救逆湯證曰：驚狂，起臥不安。　按：此證者，是外證也。</p>
<p>凡仲景之為法，不獨以外證治之，且並診內外治之。故無胸腹及臍下動者，若雖有驚狂起臥不安證，亦非此方所宜也。嗚呼！是吾東洞翁千古卓識，吾儕豈不奉此乎哉？蜀漆散證不具，且云牡瘧，蓋牡瘧者，獨展不熱，非無熱也，多寒也。夫瘧之為病，先其寒而後其熱，雖然，不可以寒熱治瘧，則豈無內候在乎？曰：必有臍下動劇矣。故仲景嘗以龍骨主之，以蜀漆佐之，醫者其察諸。</p>
<p>牡蠣澤瀉散證不具，然以仲景用牡蠣之方推之，則其證必有胸腹之動劇。苟有胸腹之動劇，則無有不加蜀漆之方。由此觀之，蓋此方治水腫胸腹之動劇而渴者明矣。《方極》可考。</p>
<p>凡仲景之治動也，其活法有三：有胸腹之動，則以牡蠣治之；有臍下之動，則以龍骨治之；有胸腹臍下之動劇，則以蜀漆治之。此為仲景治動之三活法矣。故仲景之方，有以蜀漆配之牡蠣者，或有配之龍骨者，或有配之龍骨、牡蠣者，是又仲景用蜀漆之法也。本論不載此法者，蓋屬脫誤。故晉唐以來，無有知蜀漆之功者，而諸病之有動者最多。則動之為病也，為諸病內候之主證，而最為難治者。雖然，二千年來，諸醫之說諸家本草，何其不載龍骨、牡蠣、蜀漆之本功矣乎？或云：牡蠣之咸，消胸腹之滿；或云：龍骨、牡蠣，收斂神氣；或云：蜀漆辛以散之；或云：龍骨、牡蠣之澀以固之。未嘗見言及治動之功者，又未嘗知動之為諸病內候之主證也。吾東洞翁，生於二千年之下，始知龍骨、牡蠣、蜀漆之功，其說詳於本條之下，是誠二千年來不傳之說。而翁獨得其旨者，不亦偉乎？韓退之嘗推尊孟子，以為功不在禹之下，余以為翁之有功於我醫，不在仲景之下矣。是非余之過論也。</p>
<h4>品考</h4>
<p>蜀漆，乃常山苗，其功與常山同，蜀漆無華舶來之物。常山者，華物為良，和產多偽品。</p>
<p>若</p>
<h3>生薑</h3>
<p>主治嘔。故兼治乾嘔噫噦逆。</p>
<h4>考證</h4>
<p>小半夏湯證曰：嘔吐穀不得下。</p>
<p>小半夏加茯苓湯證曰：卒嘔吐。又曰：先渴後嘔。</p>
<p>厚朴生薑半夏甘草人參湯證，不具。</p>
<p>橘皮湯證曰：乾嘔噦。</p>
<p>橘皮竹茹湯證曰：噦逆。</p>
<p>橘皮枳實生薑湯證，不具。</p>
<p>以上六方，生薑各半斤。</p>
<p>生薑半夏湯證，不具。</p>
<p>上一方，生薑汁一升。</p>
<p>黃　桂枝五物湯證，不具。</p>
<p>吳茱萸湯證曰：食穀欲嘔。又曰：乾嘔。又曰：嘔而胸滿。</p>
<p>上二方，生薑各六兩。</p>
<p>大柴胡湯證曰：嘔不止。又曰：嘔吐。</p>
<p>生薑甘草湯證曰：咳唾涎沫不止。</p>
<p>梔子生薑豉湯證曰：嘔。</p>
<p>旋覆花代赭石湯證曰：噫氣不除。</p>
<p>厚朴七物湯證，不具。</p>
<p>厚朴半夏湯證，不具。</p>
<p>當歸生薑羊肉湯證，不具。</p>
<p>以上七方，生薑各五兩。</p>
<p>茯苓澤瀉湯證曰：吐而渴。</p>
<p>生薑瀉心湯證曰：干噫食臭。</p>
<p>茯苓飲證曰：自吐出水。</p>
<p>以上三方，生薑各四兩。</p>
<p>桂枝湯證曰：乾嘔。（凡桂枝湯出入諸方皆仿之）</p>
<p>真武湯證曰：嘔。</p>
<p>黃芩加半夏生薑湯證曰：嘔。</p>
<p>桂枝枳實生薑湯證曰：諸逆。</p>
<p>茯苓甘草湯證，不具。</p>
<p>以上五方，生薑各三兩。</p>
<p>乾薑人參半夏丸證曰：嘔吐不止。</p>
<p>上一方，生薑汁糊丸。</p>
<p>據此諸方，則生薑但治嘔也，噦逆噫氣乾嘔，或干噫食臭，皆嘔吐輕證也。故加咳唾涎沫不止，似噦不噦，亦生薑所兼治也。豈不嘔之余證乎？</p>
<h4>互考</h4>
<p>凡仲景之方，二百十余方。而其內用生薑之方，六十有餘首。並用大棗之方，四十有七首。又其內生薑五兩，對大棗十二枚之方二首（十二枚乃四兩之例，若去核則為三兩）對十枚之方一首（十枚乃三兩八銖之例），對十五枚之方一首（十五枚乃五兩之例）。生薑六兩，對大棗十二枚之方一首。生薑四兩，對大棗十二枚之方一首。生薑一兩，對大棗十枚之方一首。</p>
<p>生薑半斤，對大棗三十枚之方一首（三十枚者十兩之例）。如此數方，無不專取生薑、大棗之功者。又桂枝湯，去加之方，二十有六首，及越婢湯之方三首，葛根湯之方二首，小柴胡湯之方五首，文蛤湯，防己黃　湯，以上十三方，凡三十有九首。皆以生薑三兩，對大棗十二枚，雖他品加減之。亦至生薑、大棗，無有變之者何也？其證不變故乎？又別有妙用乎？由此觀之，薑與棗者，雖為日用餌食之物，亦仲景方內二味必相對者多，則蓋似有調和之意。</p>
<p>故後世謬仿之，方後必有謂薑、棗水煎者。雖似取仲景之法，亦未知其本功之所在也。殊不知生薑、大棗之於其證也，每方必有其所治之毒矣。宜以桂枝湯小柴胡湯，二方之證征之。</p>
<p>若以日用餌食之物推之，則如粳米、赤小豆、大小麥、香豉、酒酢、飴蜜、白　酒、薤蔥之類，其謂之何矣？　以為如此諸品，亦或有所建單用之功者，或有所助諸藥之毒者。余故曰：不可以日用餌食之物推之，然夫如薑與棗，亦別有大勇力者矣，宜以考證中諸方察之。夫孔子每食不撤薑，曾晰常嗜羊棗，亦不可以藥中薑、棗見之。今以此為治病之材，則又有大攻毒之功。凡藥材以餌食見之，則至桂枝究矣。古者薑、桂、棗、栗，以為燕食庶羞之品，故內則曰：棗、栗、薑、桂。呂覽有言，和之美者，陽朴之薑，招搖之桂。是乃古人所常食之物也，又何毒之有？雖然，良醫橐而藥之，則雖穀肉果菜，亦皆為治病良材，而無有所不驅除其病毒者。東洞翁有言曰：藥之為毒，毒即能，能即毒，知言哉？夫生薑之治嘔也。猶桂枝之治上衝，大棗之治拘攣矣。當此時，豈以日用餌食之物論之乎？是以至大棗、生薑相對之方，則又有所合治之功也。如其量法多少，則其功用，亦有所不同者也。《集驗方》（《外台秘要》所引）療肺痿，有生薑五兩、甘草二兩、大棗十二枚之方。《古今錄驗》（同上）療上氣，有甘草三兩、桂枝四兩，生薑一斤之方。由是觀之，桂枝與薑、棗，豈以日用餌食之物論之乎？況又於其單用獨立之方乎？醫者其詳諸。</p>
<p>厚朴生薑半夏甘草人參湯證不具，但云：發汗後腹脹滿者主之。脹滿是厚朴之所主也，今其生薑為半斤，半夏為半升，豈無嘔吐兼發之證矣乎？《方極》、《類聚方》可並考。桂枝枳實生薑湯證曰：心中痞，諸逆，心懸痛。東洞翁曰：痞下疑脫滿字。今因此說，則心中痞滿者，是枳實之所主。而諸逆者，蓋上逆吐逆嘔逆之謂也。上逆者，桂枝之所治也。吐逆嘔逆者，生薑之所治也。</p>
<p>橘皮枳實生薑湯證，不具。　按：此方蓋橘皮之證多，故為一斤。枳實之證少，故為三兩。今加生薑半斤者，豈無有嘔證多矣乎哉？故此方嘔證不具者，蓋屬闕文。宜以諸東加生薑半斤之方推知之。</p>
<p>黃　桂枝五物湯證，不具。此方本於桂枝加黃　湯方內加黃　一兩，足前成三兩，生薑三兩，足前成六兩，而去甘草二兩，但煮法水率不同耳。故東洞翁曰：桂枝加黃　湯證，而嘔不急迫者主之，是所以生薑之為六兩也。</p>
<p>厚朴七物湯證，不具。此方雖生薑、大棗相對，亦生薑多於大棗，則豈得無嘔證不具乎？故東洞翁曰：此方於厚朴三物湯桂枝去芍藥湯二方內，更加生薑二兩，足前成五兩，蓋二方證而嘔者主之。</p>
<p>半夏厚朴湯證曰：婦人咽中如有炙臠。豈因有此一證，而得用此方乎？今依《千金方》，則作治胸滿心下堅（按《千金方》及冀硬字皆作堅，此堅字亦硬字也）。咽中帖帖，如有炙肉臠，吐之不出，咽之不下，是吐之不出，咽之不下，似有嘔逆之狀。故有生薑五兩，半夏一升，此方豈惟婦人之治耶？雖男子亦有此證，則宜施之。</p>
<p>當歸生薑羊肉湯證，不具。此方未試之，故今略之。</p>
<p>茯苓甘草湯證，不具。　按：此方之證，以有茯苓、生薑各三兩觀之，則有悸無嘔者，蓋屬脫誤也。故東洞翁曰：當有沖逆而嘔證。余曰：心下悸上衝而嘔者，此方主之，屢試屢驗。</p>
<p>生薑半夏湯證曰：病患胸中似喘不喘，似嘔不嘔，似噦不噦，徹心中憒憒然無奈。　按：是疑非此方全證，何則？生薑、半夏之為功，本惟治嘔吐。然今於此方，何其謂似嘔不嘔乎？若其然，則似無生薑、半夏之所治之證矣。由是觀之，似嘔不嘔四字，蓋屬衍文，而有嘔吐之證不具可知矣。雖然，似喘不喘，似噦不噦者，似有嘔吐兼發之證。故今煮半夏半升，以內生薑汁一升者，是欲大取生薑之功也。余故曰：半夏能治嘔吐兼發者，生薑能治但嘔者，又能治嘔多吐少者，故方內有生薑、半夏並用者，則必謂嘔吐，或謂卒嘔吐，或謂嘔吐不止。若有生薑而無半夏，則謂但嘔或謂乾嘔，或謂乾嘔噦，或謂噦逆，或謂食穀欲嘔，或謂嘔而胸滿，或謂諸逆，是可以征焉？然則此方治嘔吐兼發者明矣。故法曰：嘔止停後服。豈其謂似嘔不嘔，而後謂嘔止停後服可乎？茯苓澤瀉湯方生薑四兩，但云胃反，吐而渴欲飲水者。今有吐而無嘔者，蓋屬脫誤。因屢試此方，若施無嘔者，則未嘗見奏其效者，若施之吐後，但嘔而渴者，則其效之速也，如桴鼓相應然。由此觀之，此方能治病患胃反，嘔而渴欲飲水者。夫胃反者，吐食也。然則此胃反吐之吐字，蓋嘔字之誤可知矣。不然，屬重復，若作嘔字，則其義始穩當，其證亦可謂具而已。按嘔吐者，是水毒之上逆者也。桂枝能下其上逆，生薑能止其嘔，澤瀉、朮、茯苓能瀉之小便，甘草能緩其嘔之急迫者，益知此方之下脫嘔證明矣。《類聚方》可並考。</p>
<p>生薑瀉心湯方，有半夏半升、生薑四兩，而無嘔吐證者何？曰：干噫食臭，是乃嘔之輕證也。曰：然今有半夏、生薑，而無嘔吐兼發證者何？然此方於半夏瀉心湯方內減乾薑二兩，加生薑四兩，豈無嘔吐兼發證乎？夫半夏瀉心湯之為方，治嘔而腸鳴、心下痞硬者，既於本方謂嘔而腸鳴，故今於此方而不重舉嘔證者，欲使人思得之也。仲景之方，多此類也，然則此方略嘔證，而脫吐證者歟。</p>
<p>茯苓飲證曰：自吐出水。方曰：生薑四兩。然則此方，豈但吐出宿水乎？必有嘔證明矣。</p>
<h4>辨誤</h4>
<p>凡生薑之功，詳於諸家本草。雖然，其說非疾醫之義。蓋服餌家腐談而誤世者，不為不少矣。曰：薑久服通神明。曰：薑要熱，則去皮。要冷，則留皮。曰：薑製半夏、厚朴之毒。</p>
<p>曰：生薑屑、生乾薑，生薑，分別用之。曰：薑能　御百邪。以上諸說，非疾醫之義，奚俟余之言哉。嗚呼！如食之通神明之說，則出於偽書《本草經》。朱子嘗取此說以注論語。余雖未知其是否，何其說之迂也？陳藏器去皮留皮之言，彼豈知生薑之功，在一根之中矣乎？又至加彼生薑製半夏、厚朴之毒之說，一何盲昧之至於此乎？若夫生薑製半夏之毒，則仲景何用生薑半夏湯、小半夏湯乎？若夫生薑製厚朴之毒，則仲景何用厚朴生薑半夏人參甘草湯、厚朴半夏湯乎？苟如李杲之言，半夏、厚朴，實為鈍物，又與不用同焉。夫仲景之用生薑與半夏、厚朴也，則取其毒之用耳，又何制之為？況生薑能薑御百邪之言，則時珍誤裁斷王安石薑能　我者也。於毒邪臭腥寒熱，皆足以御之之說，而惟云　御百邪，於義不通。安石之說，猶且牽強，而況於時珍之言乎？是大惑後人，不可從焉。孫思邈曰：薑為嘔家聖藥。陶弘景嘗謂不撤薑食，不多食，言可常食，但不可多爾，有病者是所宜矣。二子之言為得焉。</p>
<h4>品考</h4>
<p>生薑宿根，謂之老薑者，為良。霜後采之，水洗塵土，不必去皮，惟銼用。本邦醫家用生薑也，徒托之病家婦女之手，而未嘗問其生新否。乃云生薑一斤水煎。若依醫人之言，則生薑者，是徒加之具耳，豈為治病之材乎哉？醫者其宜擇生新者，取其效已。</p>
<h2>卷下</h2>
<h3>桃仁</h3>
<p>主治瘀血，少腹滿痛，故兼治腸癰，及婦人經水不利。</p>
<h4>考證</h4>
<p>桃仁承氣湯證曰：少腹急結。</p>
<p>大黃牡丹皮湯證曰：少腹腫痞。</p>
<p>葦莖湯證不具。</p>
<p>上三方，桃仁各五十枚。</p>
<p>下瘀血湯證曰：產婦腹痛。又曰：經水不利。</p>
<p>上一方，桃仁三十枚。</p>
<p>大　蟲丸證曰：腹滿。</p>
<p>上一方，桃仁一升。</p>
<p>抵當丸證曰：少腹滿。</p>
<p>上一方，桃仁二十五枚。</p>
<p>抵當湯證曰：少腹當硬滿。又曰：婦人經水不利。</p>
<p>上一方，桃仁二十枚。</p>
<p>桂枝茯苓丸證，不具。</p>
<p>上一方，桃仁諸藥等分。</p>
<p>據此諸方，則桃仁主治瘀血急結，少腹滿痛明矣。凡毒結於少腹，則小便不利，或如淋。</p>
<p>其如此者，後必有膿自下。或瀉血者，或婦人經水不利者，是又臍下久瘀血之所致也。</p>
<h4>互考</h4>
<p>桃仁承氣湯證曰：熱結膀胱，其人如狂，其雖血自下，下者愈。此似無醫治所預也，豈非自愈之證乎？雖然，熱結膀胱，其人如狂者，雖其血自下，亦有少腹急結證也。若或有前證，而血不自下，少腹急結者。亦宜與此方攻之。猶產後血不自下，瘀熱上衝，少腹急結者。</p>
<p>夫急結者，必滿痛，是桃仁五十枚所主也。故云：服湯已，其血必自下，大便微利則愈，然則桃仁治少腹急結滿痛明矣。後世醫者，未見其血自下，而但見少腹急結，以為熱結膀胱，豈不想像之治乎？余故曰：熱結膀胱四字，後人妄添可知焉。下者愈，《脈經》作下之則愈為是。</p>
<p>大黃牡丹皮湯，後世以為治腸癰之方，雖然，此方豈唯治腸癰矣乎？凡治諸瘍膿未成者。</p>
<p>苟膿已成者，非此方之所治也。至少腹腫痞、按之即痛如淋、小便自調、其脈遲緊者，則此方之所治也。如彼時時發熱自汗出、復惡寒證，此為腸癰表證也，是非此方之所治也。若有少腹腫痞、按之即痛如淋、小便自調、其脈遲緊證，則不問其腸癰也否，又不問其瘀血也否，宜與此方。何以不問其腸癰也否，又不問其瘀血也否，而與此方乎？曰：觀少腹腫痞，按之即痛如淋、小便自調證，而後宜與此方，況於其脈遲緊者乎？故方證相對，則血必自下。若其脈洪數，則膿已成，非此方之所宜也。是所謂觀其脈證也。雖然，不隨其脈遲緊，而今隨其少腹腫痞、按之即痛如淋、小便自調證，是所謂隨證治之也。然則少腹腫痞者，是桃仁所主明矣。</p>
<p>葦莖湯證，不具。但謂咳有微熱、煩滿、胸中甲錯，是為肺癰，是外證也。以此四證，名肺癰者，非疾醫之義，今不取焉。雖然，因胸中甲錯證，則知瘀血內結矣。因咳有微熱煩滿證，則知瘀血欲成膿矣，不可不以此方吐之。況又云再服當吐如膿，則知胸中瘀血，遂化成膿矣。是所以有咳，有微熱，煩滿證也。夫葦莖、蓬朮、苡仁、桃仁、瓜瓣，皆有化血成膿之功也。今雖曰當吐如膿，亦吐者皆膿也，瘀血所化也。由此觀之，則桃仁雖曰治少腹瘀血，亦變用則有治胸腹瘀血結痛之功，是所以方有桃仁五十枚也。下瘀血湯方，治臍下毒痛，及婦人經水不利毒痛者。故後人此為腹中有干血著臍下，夫不問干血也否，苟有臍下毒痛證，則宜與此方。雖然，服之新血下如豚肝，或經水利者，腹中臍下所著干血，共下明矣，唯新字可疑。由此觀之，則下瘀血湯之名，蓋後人所命焉。余以為此方，本是丸方，疑古有小蟲丸之名。方銘不傳，故後人名曰下瘀血之湯，但以蜜和為丸，以酒煎之，似非湯法，下條有大　蟲丸，可並考。又按法曰：產婦腹痛，法當以枳實芍藥散，假令不愈者，此為腹中有干血著臍下。夫腹痛煩滿不得臥，豈唯產後有之乎？產後最多此證也，治以枳實芍藥散者，是法也。以法治之而不愈者，診之腹中有毒，而痛著於臍下，此為腹中有干血著臍下矣。故今轉其方，用下瘀血湯下之。曰：未見其血自下，而用此方者，何也？曰：今用芍藥治腹痛，用枳實治煩滿不得臥，而不愈者，蓋產時已見瘀血續自下。今瘀血不續自下，是必干血著臍下，使瘀血不自下。是以腹痛煩滿，不得臥也，不可不以此方下之。故服湯後，新血又下如豚肝，謂之方證相對也。若不見血自下，而但用此方，治臍下毒痛者，不想像臆度之治而何也？若有瘀血，則當有臍下甲錯及結痛證。以此二法，候內有瘀血，故今用桃仁三十枚。此為治瘀血毒痛，所以用　蟲破之，用大黃下之也。《類聚方》產後二字，加曲截者，蓋此方不但治婦人產後腹痛矣。雖男子亦有瘀血自下，臍下毒痛證，則宜服此方。服湯已，瘀血又自下者愈。《方極》但云臍下毒痛，是不問瘀血也否，與此方之謂也。由是觀之，謂之干血著臍下，亦屬想象臆度，不可從焉。大　蟲丸證者，後世所謂勞瘵也。故《金匱要略》有五勞、七傷、虛極、及緩中補虛之說，豈仲景之言哉？是蓋後人妄添，或注文誤入，不俟余辨。但至羸瘦腹滿、不能飲食、內有干血肌膚甲錯，兩目黯黑證，則此方所宜也。　按：此方蓋古來相傳之方，而仲景取以治傷寒瘥後有此證者，此人本有久瘀血，今患傷寒，故瘥後又見此證，故用四蟲，及桃仁、乾漆、地黃、大黃以破血行瘀。況有桃仁一升乎？夫干血者，久瘀血也。苟有久瘀血，則必有肌膚甲錯、腹滿證也，可以見矣。</p>
<p>桂枝茯苓丸證，不悉具。雖然，此方本五味等分，則一藥各治一證，故宜以一藥之功，而分治一證矣。按此方，蓋治瘀血上衝、腹中毒痛、心下悸、及婦人胎動血自下、或經水有變者。故法曰：漏下不止、胎動在臍上者，是也。由此觀之，則桃仁非主少腹有毒，瘀血自下與不下乎？余故曰：桃仁之功，大抵與牡丹皮相似矣！蓋以治腹中及臍下毒痛故也。《金匱要略》此方之條，古今諸家注解，不得其義。余嘗作此解，今不贅於此。</p>
<p>東洞翁嘗立診察瘀血三法，其說盡矣。仲景又別有診察瘀血外證之法，曰其身甲錯、曰胸中甲錯（胸中蓋心胸上也）、曰肌膚甲錯。此三法，宜以甲錯而診察瘀血也。二方皆有桃仁，故</p>
<h4>辨誤</h4>
<p>李杲云：桃仁治熱入血室。杲之言過矣！夫仲景治熱入血室證，無有用桃仁之方。本論太陽下編，治熱入血室者，有二法：一刺期門，一用小柴胡湯。一不載其方矣。未嘗見用桃仁者，治血豈惟用桃仁乎。</p>
<h4>品考</h4>
<p>桃仁，惟一品。無萃渡者，奸商或雜梅仁，不可不擇，我們去皮不去尖。</p>
<h3>巴豆</h3>
<p>主治心腹胸膈之毒。故兼治心腹猝痛、脹滿吐膿。</p>
<h4>考證</h4>
<p>桔梗白散證曰：咳而胸滿、及吐膿。</p>
<p>備急丸證曰：心腹脹滿、猝痛。</p>
<p>九痛丸證曰：心痛、及腹脹痛。</p>
<p>以上三方，巴豆各一兩。</p>
<p>走馬湯證曰：心痛腹脹。</p>
<p>上一方，巴豆二枚。</p>
<p>據此諸方，則巴豆或一兩，或二枚，然本與諸藥等分。但白散之方，巴豆一兩，以配桔梗、貝母各三兩。《金匱要略》九痛丸方，附子本作三兩，余皆等分。《千金方》但作一兩。</p>
<p>蓋作一兩，則附子亦與諸藥等分今從此。凡仲景之用巴豆也，雖備於急卒之病，皆是驅逐膈間之毒物，蕩滌腸胃之閉塞，故諸方皆為等分。夫巴豆同桔梗用，則使毒成膿；同貝母用，則能去咽喉之毒；同杏仁用，則能驅心胸之毒；同大黃、乾薑用，則能吐下心腹結毒急痛；同附子、吳茱萸用，則能治心中寒冷毒痛。仲景之方用巴豆者，唯此四方，大抵足盡巴豆之功效矣。</p>
<h4>互考</h4>
<p>走馬湯、備急圓、九痛丸三方，皆不載諸本論，而載諸《金匱要略》，蓋脫誤矣！走馬湯證曰：中惡。又曰：通治飛尸鬼擊病。《千金方》走馬湯證曰：治肺臟飛尸鬼注，因名曰飛尸走馬湯。九痛丸證曰：兼治卒中惡。備急圓證曰：若中惡客忤，停尸卒死者。按上三方證，曰飛尸、曰鬼注、曰鬼擊、曰中惡、曰客忤、曰停尸，皆是晉唐醫人之所附會，而決非仲景之意，又非疾醫家之言。古者巫醫並稱，故後世遂以巫者之言，混於醫事，實晉唐醫人之所為也。故彼所前言諸證，似證非證，孰惡孰鬼，將何以分別之乎？不可從焉！假令巫有前數事，亦於醫事何與之有，故隨其證而後治之，則何必論是惡是鬼乎哉？若夫天地之間，有惡者，有鬼者，有尸者，有注者，有停者，有忤者，亦人無一毒畜積於身軀間者，則是惡是鬼，亦豈有注之擊之中之忤之者矣乎？此人嘗有一毒，畜積於身軀間者，故是惡是鬼，亦能注之擊之中之忤之也。醫者宜治其一毒而已，晉唐醫人之說，不可從矣！況於宋明之醫說乎？</p>
<h4>辨誤</h4>
<p>桔梗白散法曰：強人飲服半錢匕，羸者減之。又曰：若下多不止，飲冷水一杯，則定。</p>
<p>走馬湯法曰：老少量之。九痛丸法曰：強人初服三丸，日三服，弱者二丸。但備急圓，最備其急卒之病，而其服法，無量老少強弱者何也？曰：此方者，最備其急卒之病，則服法不必量老少強弱也。夫病苟至急卒，則豈遑於量老少強弱乎？宜隨其毒淺深輕重治之耳。如彼走馬湯白散證，卻急於備急圓證矣！然今云量其老少強弱者，恐非仲景之意也。蓋仲景之治病也，惟隨其證而治之。故其證重，則方亦多服之。其證輕，則方亦少服之。故雖強人，其證輕，則方亦隨少服之。雖羸者，而其證重，則方亦隨多服之，是仲景隨證治之之法也。何必羸者弱者減之，強人壯人多服之乎？所謂量老少強弱者，是唯為粗工垂其戒者歟。醫之守之，慎之至也。至彼飲冷水止，其下多者，最是後人之恐巴豆者之言，其妄添亦可知己。凡恐藥者，不知恐病者也。不知恐病者，則病不可得而治焉。是醫者之所常病也。今也不然，有醫而恐藥者，是不知治病之方法，與察病之規則者也，無如之何而已。夫病患之恐醫也，恐其醫之藥也，是醫施已恐之之藥也。是無他，夫醫不知其察病之規則，與治病之方法，而欲施已恐之藥也。可勝嘆哉！嗚呼！醫猶且恐之，病患豈不恐之乎？此天下古今之通病，而所以恐巴豆及諸藥者，為之故也。夫苟有其證，而服其藥，又何恐之有？苟無其證，而施其藥，則百藥皆可恐焉，又何獨巴豆之恐乎？</p>
<h4>品考</h4>
<p>巴豆帶殼者良，是惟一品，無有偽品。宋王碩曰：巴豆不壓油而用之，巴豆之功，多在於油也。王碩者，能知巴豆之功者也。</p>
<h3>蜜</h3>
<p>主治結毒急痛，兼助諸藥之毒。</p>
<h4>考證</h4>
<p>大烏頭煎證曰：寒疝繞臍痛。</p>
<p>烏頭湯證曰：歷節不可屈伸疼痛。又曰：香港腳疼痛，不可屈伸。又曰：寒疝、腹中絞痛。</p>
<p>烏頭桂枝湯證曰：寒疝腹中痛。</p>
<p>以上三方，蜜各二升。</p>
<p>大陷胸丸證曰：結胸、項亦強。</p>
<p>上一方，白蜜二合。</p>
<p>大半夏湯證曰：嘔吐、心上痞硬。</p>
<p>上一方，白蜜一升。</p>
<p>甘草粉蜜湯證曰：心痛。</p>
<p>上一方，蜜四兩。</p>
<p>下瘀血湯證曰：產婦腹痛。</p>
<p>上一方，蜜和為丸，酒煎，又與諸藥等分之例。</p>
<p>甘遂半夏湯，證不具。</p>
<p>上一方，蜜半升。</p>
<p>據此諸方，則蜜能治諸結毒急迫疼痛明矣！最能治腹中痛者，故同烏頭用，則治寒疝腹痛；同甘草用，則治心痛急迫；同大黃用，則治胸腹結痛；同甘遂用，則治水毒結痛；同半夏用，則治心胸硬滿。由此觀之，則蜜能治其急痛，而又能助諸藥之毒也。故理中丸、八味丸、栝蔞瞿麥丸、半夏麻黃丸、赤丸、桂枝茯苓丸、麻子仁丸、礬石丸、皂莢丸、當歸貝母苦參丸、烏頭赤石脂丸，上十一方，皆蜜和為丸，是弗助諸藥之毒耶。故如烏頭、附子、巴豆、半夏、皂莢、大黃，皆以蜜和丸。則倍其功一層矣！是其征也。若或以糊為丸，則必減其功之半，常試有驗，無不然者。余故曰：蜜能助諸藥之毒矣！或云：煉過則緩諸病之急，不煉則助諸藥之毒，豈其然乎哉？</p>
<h4>互考</h4>
<p>大烏頭煎、烏頭湯、烏頭桂枝湯條，有寒疝及香港腳之名，是蓋晉唐以後之人之所加焉。</p>
<p>疑非仲景之舊矣！宜隨其證而施此方耳。</p>
<p>大陷胸丸證，似不具。然今按其方，此方之於治也。毒結於心胸之間，項亦強痛，如柔痙狀者主之。本論但云：項亦強，強字之下，疑脫痛字。故大陷胸湯證曰：從心下至少腹，硬滿而痛不可近者主之。又曰：心下滿而硬痛者主之。湯法已然。丸方亦豈無強痛之證乎？然則此方，亦當從心下至少腹硬滿而痛，項背亦強痛者主之。比諸湯方其證但緩也耳。況有大黃有葶藶有甘遂有杏仁、芒硝，豈無項背心胸至少腹不強痛乎？是蜜之所以補其結毒疼痛也。</p>
<p>大半夏湯證曰：治嘔、心下痞硬者。雖無急痛結痛之證，然其人嘔，而心下痞硬，則豈無心胸不痛之證乎？故和蜜一升於一斗二升之水而煮之，但取蜜與藥汁二升半，則是欲多得蜜之力也明矣。然則不可謂無所急痛矣。</p>
<p>甘草粉蜜湯證曰：毒藥不止。《千金翼方》毒藥作藥毒為是，此方本主緩結毒急痛。故兼治一切藥毒不止煩悶者。後世見之，以為蜜能解百藥毒。蜜若解百藥毒，則仲景之方，何其用蜜之多乎？夫蜜之於諸藥也，能助其毒；又於其病毒也，能緩其急，猶粳米與小麥乎？甘草及粉，亦其功大抵相似，故如此方則為緩其急用之。凡蜜之為物，同諸藥用之，則能助其毒。</p>
<p>今同甘草及粉用之，則又能緩其急痛也。煩悶，豈非藥毒之急乎？又所以兼治蛔蟲心痛也。</p>
<p>又按：所謂藥毒者非攻病毒，毒藥之藥毒，而必是害人毒藥之藥毒矣，故曰藥毒不止煩悶者。所謂煩悶者，非攻病毒毒藥之煩悶，而害人藥毒之煩悶也。苟止攻病毒毒藥之煩悶者，非疾醫之義矣。煩悶，是毒藥之瞑眩也。豈其止之可乎？余故曰：此藥毒者，非攻病毒毒藥之藥毒矣。由此觀之，則蜜之功可以知矣（害人毒藥者蓋非醫人誤治之毒藥）。甘遂半夏湯證曰：病者脈伏，其人欲自利，利反快。雖利，心下續堅滿。按此證，非此方正證，此方蓋芍藥甘草湯證，而心下硬滿嘔者主之。夫芍藥甘草湯之為方，非治疼痛拘攣急迫者乎？然則此方，亦豈得無治心下硬滿疼痛急迫證矣乎？是所以合其蜜半升也。堅滿之堅，當作硬。</p>
<h4>辨誤</h4>
<p>《本草》曰：蜜和百藥。李時珍曰：調和百藥，而與甘草同功。此二說，俱以味之甘，故云有調和之功。蓋甘草者，諸方多用之，蜜則不然。由是觀之，蜜調和百藥之說，最可笑矣。</p>
<p>雖然，若謂之治結毒疼痛急迫，則謂之與甘草同功亦可也。然則蜜有能緩病之急之功也，大抵與甘草相似矣。彼不知之而謂之調和者，所謂隔靴搔癢之類乎哉？或曰：大烏頭煎、烏頭湯、烏頭桂枝湯，功何在於蜜乎？蜜有調和烏頭之意。余曰：此不知治療之法者言也。嘗造此三方，去蜜用之，未嘗見奏其功。如法者，況有服之如醉狀者乎？故此三方，蜜之立功最居多矣。</p>
<p>蜜煎導之方。李時珍曰：張仲景治陽明結燥，大便不通，誠千古神方也。本論云：陽明病，自汗出，若發汗小便自利者，此為津液內竭也。雖硬，不可攻之。當須自欲大便，宜蜜煎導而通之。　按：此為以下七字，蓋王叔和所攙入也。本論多有此句法，豈仲景之意乎？夫津液內竭與不竭，非治之所急也，宜隨其證治之。故此證本有不可施大黃、芒硝者矣！今作此方以解大便初頭硬者，則當須大便易而燥結之屎與蜜煎導俱烊解必下，豈謂之潤燥可乎？宜謂之解燥結之屎矣！此非蜜之緩病之急之一切乎？時珍不知，而謂之潤臟腑，通三焦、調脾胃者，最非也。凡仲景之為方，隨證治之，則無一不神方者。豈唯此方特千古神方乎哉？又按此章，當作小便自利者，大便必硬，不可攻之。於是文字穩，法證備，始得其義。</p>
<h4>品考</h4>
<p>蜜者，本邦關東北國不產，但南海鎮西諸州多產之。我們不擇崖石土木諸蜜，皆生用之，不用煉法，唯宜漉過。王充曰：蜜為蜂液，食多則令人毒，不可不知，煉過則無毒矣。是王之說，為餌食言之。若為藥材，則平人食之有毒，毒乃蜜之能也。煉過無毒，則同於不用。</p>
<p>無毒，豈得治病毒乎？</p>
<h3>蟲</h3>
<p>主治干血。故兼治少腹滿痛，及婦人經水不利。</p>
<h4>考證</h4>
<p>下瘀血湯證曰：產婦腹痛。又曰：經水不利。</p>
<p>上一方，　蟲二十枚。</p>
<p>土瓜根散證曰：帶下、經水不利、少腹滿痛、經一月再見者。又曰：陰　腫。</p>
<p>上一方，　蟲三兩。</p>
<p>大　蟲丸證曰：羸瘦、腹滿不能飲食、內有干血、肌膚甲錯、兩目黯黑。</p>
<p>上一方，　蟲一升。</p>
<p>據此三方，則　蟲能下干血，利經水明矣。臍下若有干血必痛，故兼治少腹滿痛也。夫經水不利或一月再見者，亦以臍下有干血也。干血者，久瘀血也。是少腹結毒也，可按候之。</p>
<p>此</p>
<h4>互考</h4>
<p>下瘀血湯證曰：產婦腹痛。土瓜根散證曰：帶下、經水不利、少腹滿痛。又曰：經一月再見者，上二方。皆以　蟲為主藥，似為婦人血毒設之。雖然，或云治　、或云內有干血、肌膚甲錯，何必婦人血毒之治乎？由此觀之，則　蟲及此三方，不啻治婦人血毒矣。雖男子亦可用之，但臍下有血毒者，婦人最多。故仲景嘗立此方法，以治婦人之病，是其遺法耳。</p>
<p>凡一身之內，有血毒所著者，必見肌膚甲錯證。若著臍下，則有兩目黯黑，羸瘦，腹滿，不能飲食證，後世不知此證，名曰五勞。為爾申約，其審聽之。</p>
<p>曰七傷、曰虛勞、曰勞瘵，皆屬空談理義，我們所不取也。是以如下瘀血湯，亦治男子少腹滿痛，小便不利，及淋瀝或血自下者，此人當必有肌膚甲錯等證。又按此方服法曰：頓服之。新血下如豚肝，然亦謂腹中有干血著臍下，則似言相矛盾。此方本為干血而設之。今服此方而其血下，謂之新血可乎？凡用　蟲三方，皆為治干血之方。蓋干血，乃久瘀血也。</p>
<p>若治新血不下證，則別有桃仁承氣湯、大黃牡丹皮湯、大黃甘遂湯。若治畜血，則有抵當湯及丸。故治干血，則有此方，及土瓜根散、大　蟲丸。是皆以　蟲為主藥，此為　蟲能破久瘀血之用也。由此觀之，則新血下如豚肝者，是蓋畜結之血，新下如豚肝色之謂乎？土瓜根散證曰：經水不利、少腹痛、經一月再見者。下瘀血湯證曰：干血著臍下，經水不利者。然則經水不利者，是干血所為明矣。又曰：主陰　腫、按丈夫陰器連少腹，急痛謂之也。此證亦瘀血所為也。此雖其證不具，然據少腹急痛證，則自有此方證具矣。</p>
<p>大　蟲丸證曰：羸瘦、腹滿不能飲食、內有干血、肌膚甲錯、兩目黯黑。此證者，乃後世所謂勞瘵、五勞七傷是也。皆是世醫常談，其說屬臆度也。但羸瘦腹滿、至兩目黯黑、其證不可廢也。其證不可廢，則此方亦不可廢也。是必仲景遺方，而有所可征者。至五勞虛極，及七傷，及緩中補虛數證，則後人妄添，不俟余言矣。李時珍本草，　蟲附方有之。大黃蟲丸，治產婦腹痛，有干血者，用　蟲二十枚，去足，桃仁二十枚，大黃二兩，為末，煉蜜杵和，分為四丸，每以一丸，酒一升，煮取二合，溫服，當下血也。張仲景方云云：按是下瘀血湯之方，而非大黃　蟲丸之方也。時珍何以稱此方，而謂大黃　蟲丸乎？其文亦大同小異。蓋時珍所見《金匱要略》有別所傳之本乎？又本草傳寫之謬誤乎？若夫本草之謬，則大黃蟲丸下，必脫《金匱要略》五勞以下法語，而本草治產婦腹痛條上，脫下瘀血湯四字矣乎？《大觀本草》所引蘇頌《圖經》蠐螬條曰：張仲景治雜病方，大　蟲丸中，用蠐螬，以其主脅下堅滿也。由此觀之，則十二味方者，名大　蟲丸，而大字之下無黃字，此非大黃蟲丸也。又　蟲條曰：張仲景治雜病方，主久瘕積結。有大黃蟲　丸，乃今下瘀血湯也。然則本是二方，而《金匱要略》十二味方者，蓋古名大　蟲丸，猶大柴胡湯、大承氣湯、大青龍湯、大半夏湯、大建中湯、大陷胸湯之大也，當須別有小　蟲丸之方矣。疑今下瘀血湯，蓋名大黃　蟲丸，故以大黃　蟲為主藥也。且今名下瘀血湯者，疑非方之名，而當須以下此瘀血之湯主之之意矣乎？後之錄方者，誤脫大黃　蟲丸五字，而稱之曰下瘀血湯乎？又後之揖《金匱要略》者，遂謂之下瘀血湯，而名此方者矣，猶抵當、烏頭桂枝湯、救逆湯、新加湯類乎？況此方是丸方，猶抵當丸，以水煮之。然則此方，亦不可名湯也。由此觀之，下瘀血湯，宜稱大黃　蟲丸，而十二味大黃　蟲丸，宜稱大　蟲丸矣。東洞翁嘗謂大黃　蟲丸（乃十二味之方），說非疾醫之言。　謹按：翁蓋指五勞虛極，及七傷緩中補虛之語乎！夫羸瘦腹滿、不能飲食、內有干血、肌膚甲錯、兩目黯黑數語，可謂此方之證具矣！若按其腹狀，而內外諸證，診察相應，則此方當須奏其功耳。明者其謂之何矣？鱉甲煎丸方，《千金方》，《外台秘要》皆作大鱉甲煎丸。蘇頌《圖經》，作大鱉甲丸。張仲景方云云：方內有　蟲，然非仲景之意。疑仲景之時，別有鱉甲煎者，後世失其方。蓋蘇頌所見別方矣。東洞翁曰：此方唐朝以降之方，而非古方，故不取焉。　謹按：《千金方》</p>
<p>《外台秘要》已載之，取決非唐朝以降之方矣，恐翁未深考之。唯　蟲之功，於此方無所征矣，故不贅於此。</p>
<h4>品考</h4>
<p>蟲，狀似鼠婦。而大者寸余，形扁如鱉，有甲似鱗，橫紋八道，露目六足，皆伏於甲下，少有臭氣，似蜚蠊，本邦未產，此物但華舶來一品，余嘗多畜，而使用之，屢得其效。</p>
<h3>虻蟲</h3>
<p>主治瘀血，少腹硬滿。兼治發狂、瘀熱、喜忘、及婦人經水不利。</p>
<h4>考證</h4>
<p>抵當湯證曰：少腹硬滿。又曰：有久瘀血。又曰：有瘀血。</p>
<p>上虻蟲三十枚。</p>
<p>抵當丸證曰：少腹滿、應小便不利。今反利者，為有血者。</p>
<p>上虻蟲二十枚。</p>
<p>據此二方，則虻蟲治瘀血明矣。是與水蛭，互相為其用，故二品等分。唯湯方用三十枚，丸方用念枚。夫湯之證，急也。丸之證，緩也。故分兩，亦有多少也耳。</p>
<h4>互考</h4>
<p>《淮南子》曰：虻破積血。劉完素曰：虻食血而治血，因其性而為用也。按用虻蟲之方曰：破積血、曰下血、曰畜血、曰有久瘀血、曰有瘀血、曰婦人經水不利下曰為有血曰當下血、曰瘀熱在裡、曰如狂、曰喜忘，是皆為血證諦也。然不謂一身瘀血也。但少腹有瘀血者，此物能下之。故少腹硬滿，或曰少腹滿，不問有瘀血否是所以為其證也。</p>
<h4>品考</h4>
<p>虻蟲，夏月多飛食人及牛馬之血。小者如蜜蜂，大者如小蜩，形似蠅，大目露出，腹凹偏，微黃綠色，或云水蛭所化，間見之山中原野群集。然則大者山蛭所化，而小者水蛭所化矣，俱用之。段成式曰：南方溪澗多水蛆，長寸余，色黑，夏末變為虻。　按：水蛆，蓋水蛭之誤，蛆蛭字相似。</p>
<h3>阿膠</h3>
<p>主治諸血證。故兼治心煩、不得眠者。</p>
<h4>考證</h4>
<p>芎　當歸膠艾湯證曰：妊娠下血。</p>
<p>白頭翁加甘草阿膠湯證，不具。</p>
<p>大黃甘遂湯證曰：水與血俱結在血室。</p>
<p>上三方，阿膠各二兩。</p>
<p>黃連阿膠湯證曰：心中煩、不得臥。</p>
<p>黃土湯證曰：下血、吐血、衄血。</p>
<p>上二方，阿膠各三兩。</p>
<p>豬苓湯證曰：心煩、不得眠。</p>
<p>上一方，阿膠一兩。</p>
<p>據此諸方，則阿膠主治諸血證，心煩不得眠者明矣。然心煩有數證，不得眠亦有數證。</p>
<p>若無血證，則屬他證也。故法無血證者，皆為脫誤矣。</p>
<h4>互考</h4>
<p>芎　當歸膠艾湯證曰：婦人有漏下者（上一證），有半產後，因續下血都不絕者（上一證），有妊娠下血者（上一證），假令妊娠，腹中痛為胞阻（上一證）。按此條，古來未得其解。余嘗如此段落，分裁為四章，其義始明，其證亦可得治之。解曰：婦人有漏下、腹中痛、心煩、不得眠者，此方主之。上第一章：婦人有半產後、下瘀血、都不絕、腹中痛、心煩、或不得眠者，此方主之。上第二章：婦人有妊娠下血、腹中痛、心煩不得眠、或頓仆失跌、或胎動不安者，此方主之。上第三章：婦人有妊娠、腹中痛、漏胞、經水時時來、心煩、不得眠、或因房室所勞傷胎者，此方主之。上第四章：以上諸證，皆女人妊娠、或半產、或產後下血、而心煩腹痛者，此方所宜治也。諸證當須有不得眠之候，然無血證，則非此方所宜也。</p>
<p>白頭翁加甘草阿膠湯證，不具，但云產後下利。此方豈惟產後下利治之乎？凡本方證而下血、心煩、急迫不得眠者，此方主之。由此觀之，豈惟婦人乎？雖男子亦有熱利下重、大便血、心煩、急迫不得眠者，則宜用此方。夫下重者，下利重多也？非後世所謂痢病。肛門下墜、利急後重之謂也。蓋利急後重者，下利急迫重多也。古者便為之後，故後重者，下重也。下重者，下利重多也。是此方所治也。</p>
<p>黃連阿膠湯證曰：心中煩、不得臥，蓋此方治下利腹痛、大便血、心中煩悸、不得眠者。</p>
<p>夫黃芩之於下利，黃連之於心中煩悸，芍藥之於腹中痛，主以治之。惟阿膠之於心煩、不得眠、亦不見血，則無所奏其效。然則此方治下利腹痛、心中煩悸、不得眠而見血者明矣。若不見血而施此方，豈其謂之得其治法乎？大黃甘遂湯證曰：婦人少腹滿、如敦狀，小便微難而不渴者，是乃此方所主也。《脈經》敦狀作敦敦狀，敦音堆，敦敦者，不移不動之謂也。若作敦狀，則敦音對，器名。　按：其此證謂之有血亦非也。謂之無血亦非也。然謂之小便微難，則謂之非血亦非也。是所謂因法立略，因略取法，法略相熟。則雖未見其血，亦有此證，則施此方。施此方，則血自下。血自下，而後其證自差。故仲景曰：其血當下，其此可謂之略而已。夫略也者，不熟其法，則不可得此者也。生後者此為水與血，俱結在血室也。此章蓋後人所妄添也。生後，產後也。</p>
<p>產後若有前證者，此為水與血，俱結在血室。水血本無二，血是指瘀血，血室謂其分位。義屬想像臆度，今不取焉。夫水血若有二，則仲景何其不謂水與血當下乎？今謂其血當下者，是水血無二之謂也。醫者其思諸。</p>
<p>豬苓湯證曰：脈浮發熱、渴欲飲水、小便不利者主之。又曰：少陰病，下利六七日、咳而嘔渴、心煩、不得眠者主之。夫少陰病者，脈微細、但欲寐也。又曰：欲吐不吐、心煩、但欲寐、五六日、自利而渴者。是雖今見此少陰本證，若其人有血證，則心煩不能眠也。故見其下血，而後施此方，則未嘗有不差者。若不見其血下，則雖屢施此方，亦未嘗見奏其功者，數試數驗，不可不知矣。</p>
<h4>辨誤</h4>
<p>阿膠，後世有補血之說。然今讀諸家本草，其所主治，皆是在於治瘀血也。凡久年咳嗽、赤白痢下下血、吐血、咯血、衄血、嘔血、老人大便秘結、或小便淋瀝、及見血、婦人經水諸變、妊娠之病，無不屬瘀血者。古方既然，後世諸方，皆然宜矣。今醫見之，謂之補血藥。</p>
<p>雖然，以余觀之，謂之化血而可也。何以言之？則阿膠配之豬苓、澤瀉、滑石，則瀉瘀血於小便；配之大黃、甘遂則下瘀血於大便；配之黃芩、黃連，則除瘀血心中煩者；配之甘草、黃柏、秦皮、白頭翁，則治瘀血熱利下重者；配之當歸、芎　、地黃、芍藥、艾葉，則止瘀血腹中　痛者；配之朮、附子、黃土，則治瘀血惡寒、小便不利者。由此觀之，則豈謂之補血可乎？後世皆見其枝葉，而不知其根本。醫之所以誤治者不亦宜乎？</p>
<h4>品考</h4>
<p>阿膠以阿縣所制者為名。今華舶來之物數品，入藥當以黃透如琥珀色為上品。或光黑如漆，不作皮臭者為良。若真物難得，則此邦皮膠黃透，夏月不濕軟者可權用。</p>
<h3>粳米</h3>
<p>白虎湯、白虎加桂枝湯、白虎加人參湯。</p>
<p>上三方，粳米各六合。</p>
<p>附子粳米湯、竹葉石膏湯。</p>
<p>上二方，粳米各半升。</p>
<p>桃花湯。</p>
<p>上一方，粳米一升。</p>
<p>麥門冬湯。</p>
<p>上一方，粳米三合。</p>
<h4>品考</h4>
<p>粳者，稻之不黏者，又名粳。羅愿曰：稻。一名　，然有黏不黏者，今人以黏為糯，不黏為粳。</p>
<h4>辨誤</h4>
<p>明‧李春懋曰：凡仲景方法，用米者皆稻米。王叔和改稻米作粳米，後世方家仿之，不知其是非。余曰：其是是非非，春懋所能知也。夫人未嘗知所以仲景方法，與病證相對，而何得分辨糯粳二米之功乎哉？夫稻也者，粳糯通稱也。　亦然。顏師古刊誤正俗（《本草綱目》掌禹錫所引證）。《本草》稻米，即今糯米也。或通呼粳糯為稻。《禮記》曰：稻，曰嘉蔬。</p>
<p>孔子曰：食夫稻。《周官》有稻人。鄭玄曰：以水澤之地，種穀也。　按：穀者粳糯並稱焉。漢有稻田使者，是通指糯粳而言。所以後人混稱，不知稻即糯也。顏說非也，禹錫亦不知其非也。既謂通呼粳糯為稻，並通指粳糯而言，而又云後人混稱，不知稻是即糯也。今依此二說，而謂漢以上無粳米，皆是臆度不足取焉，李春懋亦未知此謬矣。王叔和改稻米作粳米。此說未知出於何書，但《外台秘要》第五溫瘧病方內，引《千金》論白虎加桂枝湯，服度煮法後曰：《傷寒論》云：用秕粳米。不熟稻米是也。今校之《千金》二方，無所見焉。古本有此說，亦不可知矣。我們常依仲景之方，而試粳米之功，奏其方之效，則今粳米，即古粳米，不俟余辨矣。醫者苟用之，不別粳糯亦可也。殊不知粳糯，即是一稻米矣。又按</p>
<p>《肘後方》，治卒腹痛，粳米煮飲之，是即附子粳米湯方內，用粳米之意，葛洪蓋取之乎。</p>
<h4>互考</h4>
<p>《爾雅翼》引汜勝之云：三月種粳稻，四月種秫稻。稻若詩書之文，自依所用而解之。</p>
<p>如論語食夫稻。則稻是粳。《月令》：秫稻必齊，則稻是糯。《周禮》：牛宜　。則　是粳。詩：豐年多黍多　，為酒為醴，則　是糯。又稻人職掌，稼下地至澤草所生，則種之。芒種是明稻，有芒有不芒者，今之粳，則有芒，至糯則無，是得通稱　稻之明驗也。然《說文》所謂，沛國謂稻曰糯，至郭氏《解雅》：　稻乃云：今沛國稱　。不知《說文》亦豈謂此　訛為糯邪？將與郭自異義也。　按：許慎東漢人，郭璞西晉人，許豈有將與郭自異義之理乎？蓋許慎之說方言也，郭璞之說　，亦稻之屬也，近來古方家，或惑本草者流之說，而偏用今之糯米者非也。</p>
<h3>小麥</h3>
<p>甘草小麥大棗湯。</p>
<p>上一方小麥一升。</p>
<h3>大麥</h3>
<p>消石礬石散。</p>
<p>上一方，用大麥粥汁服之。</p>
<p>枳實芍藥散。</p>
<p>上一方，用麥粥汁服之。</p>
<p>以上皆用今大麥。</p>
<h3>粉</h3>
<p>甘草粉蜜湯。</p>
<p>上一方，粉一兩。</p>
<h4>品考</h4>
<p>粉，粱米粉也。《千金方‧解百藥毒篇》曰：解鳩毒，及一切毒藥不止煩滿方。乃此甘草粉蜜藥也。粉，作粱米粉。毒藥，蓋藥毒顛倒也。《金匱要略》依此。又《千金翼方》，作藥毒不止解煩。《外台秘要》，解諸藥草中毒方內，引《千金翼方》，療藥毒不止，解煩悶。</p>
<p>今本《千金翼方》，脫悶字，又粱米粉，作白粱粉。白粱，乃粱米白者也。又有黃粱，故今作白粱者，所以別於黃粱也。二書又俱毒藥作藥毒，由是觀之。粉，是粱米粉，而毒藥，是藥毒明矣。《正字通》曰：凡物　之如屑者，皆名粉。粉為通稱，非獨米也，故粉有豆屑米粉，又有輕粉、胡粉、鉛粉、白粉之名。則如此藥方，亦不可單稱粉矣。然則二書作粱米粉者為正。況復《金匱要略》，成於趙宋，固多脫誤，蓋脫粱米二字明矣。《千金翼方》、《外台秘要》，成於李唐，但有訛謬耳。今宜從三書，作粱米粉，試之，得有應驗矣。</p>
<h4>辨誤</h4>
<p>凡粉，米粉也。《釋名》曰：粉，分也。研米，使分散也。夫米者，謂諸米。《說文》：米，粟實也。《爾雅翼》曰：古不以粟為穀之名。但米之有浮穀者，皆稱粟，然則米是粟實之稱也。《說文》：粉，傅面者也。《韻會》云：古傅面，亦用米粉，又染之為紅粉。　按：米者，九穀六米之米也。《周禮‧地官》：舍人掌粟米之出入，注九穀六米者，九穀之中，黍、稷、稻、粱　、大豆、六者，皆有米，麻與小豆、小麥、三者無米。故云：九穀六米。然則粉是六米粉明矣，不必俟余辨。故宜呼稻米粉、黍米粉、稷米粉、梁米粉矣，無單稱粉之義也。《尚書‧益稷》粉米之粉，別有其義可考。或曰，甘草粉蜜湯之粉，胡粉也。李彬之說，胡粉有毒，能殺蟲。《本草》曰：殺三蟲。陶弘景曰：療尸蟲。陳藏器曰：殺蟲而止痢也。</p>
<p>由此諸說，則非胡粉能治蟲乎。然則，粉，必胡粉，而似非米粉也。《事物記原》輕粉條曰：</p>
<p>《實錄》曰：蕭史與秦繆公練飛云丹，第一轉與弄玉塗之，名曰粉，即輕粉也，此蓋其始也（《實錄》乃《三儀實錄》也）。是燒其水銀者也。又胡粉條曰：《墨子》曰：禹作粉。張華</p>
<p>《博物志》曰：紂燒鉛作粉，謂之胡粉。《續事》：始曰鉛粉，即所造也（　按：鉛粉蓋粉鉛之誤）。上二說，雖出《實錄》，蓋諸家雜說，而非事實也。飛云丹之說，涉怪誕矣。或曰粉鉛粉，或曰粉輕粉。雖然，古書單稱粉者，多是米粉也。《益稷》曰粉米，蓋指其形狀。《周禮‧人職》曰：粉餐，況復從米分聲，則皆似指六米也。胡粉、輕粉，以其物似米粉，而得粉名矣。然則粉，非胡粉、輕粉明矣。凡方書，曰胡粉，曰粉粉，曰數值，未嘗見單呼粉者，今唯甘草粉蜜湯一方，《金匱》謂之粉與蜜，方名亦謂之粉蜜湯，故後世醫者惑焉。或曰胡粉，或曰輕粉，或曰稻米粉，殊不知《千金方》及《翼方》、《外台秘要》既謂之粱米粉，豈可不取征於三書乎？今略謂之粉蜜湯者，猶桂枝加桂湯之桂耶。況復試之粱米粉，最有效矣。</p>
<p>由是觀之，《金匱》方內，脫粱米二字明矣。天下醫者惑，則其證不</p>
<h3>赤小豆</h3>
<p>瓜蒂散。</p>
<p>上一方，赤小豆一分。</p>
<p>赤小豆當歸散。</p>
<p>上一方，赤小豆三升。</p>
<p>上二方之外，用赤小豆之方，皆非仲景之意，今不取焉。</p>
<h3>膠飴</h3>
<p>大建中湯、小建中湯、黃　建中湯。</p>
<p>上三方，膠飴各一升。</p>
<p>主治：膠飴之功，蓋似甘草及蜜，故能緩諸急。</p>
<h4>考證</h4>
<p>小建中湯證曰：腹中急痛。又曰裡急。又曰婦人腹中痛。大建中湯證曰：上下痛而不可觸近。黃　建中湯證曰：裡急。依此三方，則膠飴能治裡急。夫腹中急痛，腹中痛，豈非裡急矣乎？余故曰：膠飴之功，與甘草及蜜相似矣。</p>
<h3>酒</h3>
<p>八味丸、土瓜根散、赤丸、天雄散。</p>
<p>上三方，各酒服之。</p>
<p>下瘀血湯。</p>
<p>上一方，酒煮之。</p>
<h4>品考</h4>
<p>中華造酒，與本邦造法不同。然試其功，又無所異矣。凡單呼酒者，皆用無灰清酒。</p>
<h3>醇酒</h3>
<p>美清酒，同麻黃醇酒湯。</p>
<p>上一方，美清酒五升。</p>
<h4>品考</h4>
<p>醇酒，乃美清酒，故云以美清酒煮。漢書師古注：醇酒不澆，謂濃酒也。按：濃酒者，酒之美者也，故曰美清酒。</p>
<h3>清酒</h3>
<p>當歸芎　膠艾湯。</p>
<p>上一方，水酒合煮</p>
<h4>品考</h4>
<p>李時珍引飲膳標食題云：酒之清者，曰釀。《說文》：釀，　也。然則清酒，宜用平常所飲</p>
<h3>法醋</h3>
<p>大豬膽汁導法。</p>
<p>上一方。</p>
<h4>品考</h4>
<p>法醋無所考：蓋如法造釀之醋矣乎！成本無法字。</p>
<h3>苦酒</h3>
<p>苦酒湯、黃　芍藥桂枝苦酒湯。</p>
<p>上二方，上方無升合，下方一升。</p>
<h4>品考</h4>
<p>陶弘景曰：醋亦謂之醯，以有苦味，俗呼苦酒。由此說，則苦酒是俗稱。蘇恭曰：醋有數種，惟米醋二三年者入藥。　按：此米者，是稻米，《釋名》曰苦酒。醇毒甚者，酢苦也。</p>
<p>本邦所造，皆米醋，甚釅。今用之有功，其人必心煩不止。故黃　芍藥桂枝苦酒湯法曰：溫服一升，當心煩。若心煩不止者，以苦酒阻故也。阻者，蓋惡阻之阻也。用之必有心煩不止者，是其阻也。</p>
<h3>美酒醯</h3>
<p>黃　芍藥桂枝苦酒湯法後曰：一方用美酒醯代苦酒。然則美酒醯者，蓋以美酒所造之醋矣，酢醋本謂之醯也。故《周禮》有醯人職可考。</p>
<h3>白酒</h3>
<p>栝蔞薤白白酒湯。</p>
<p>上一方，白酒七升。</p>
<p>栝蔞薤白半夏湯。</p>
<p>上一方，白酒一斗。</p>
<h4>品考</h4>
<p>《周禮‧酒正職辨》四飲之物，三曰漿。鄭玄曰：漿，今之　漿也。陸德明《音義》：昨再反。疏云：此漿亦是酒類，故字亦從酉。省　之言載：米汁相載，漢時名為　漿。許慎</p>
<p>《說文》漿字注云：漿，酢漿也。本作　。省聲。今作漿。又　字注云：　，酢漿也。從酉載聲。《博雅》云：　，漿也。師古亦云。　，漿也。《禮記‧內則》曰：漿水　濫。鄭玄注：漿字曰酢　。按或曰　漿、或曰酢漿、或曰白，皆是酒正所造之漿也。《千金方》：白酒作白漿，或作白　酒。《外台秘要》亦同。但指此方內白酒矣。夫謂之酒者，造釀之法，大抵與酒同。又以酒正所掌。故謂之白酒、或謂之白　酒。蓋白酒者，白　酒略稱矣。李時珍</p>
<p>《本草綱目‧地水類》載漿水，《釋名》謂之酸漿，《兵部手集》謂之酸漿水，《產寶》亦同。時珍今不載白酒、　漿、白　酒，白　漿者，蓋屬脫誤矣。但薤白附方，引仲景栝蔞薤白白酒湯，又引《千金方》栝蔞湯（即仲景栝蔞薤白半夏湯。白酒作白　漿），雖有白酒、白漿之名，然本部不載之者，彼人未得知仲景用白酒之意也。彼是一草醫，但好本草家之言者也，不足深責之，唯注　字曰：　，音在，酸漿也。是知　之為酸漿，而不知漿水之為白酒也。</p>
<p>按：白酒，乃《大觀本草‧玉石部》漿水是也。《周禮‧酒正職》：漿明矣。然則白漿、白　酒、白酒，及　漿、漿　、酢漿、酸漿、　酒，皆是漿之別名略稱也。造法詳出於陳嘉模《本草蒙筌》，時珍亦取嘉模之法。雖然，其造法不悉具，疑有脫誤矣。近比問諸華客汪繩武曰：白酒即白　漿，原米之濃汁。以一倍之汁，加三倍之水，沖入，作為白酒矣。</p>
<p>造法：用糯米浸一宿，蒸熟，候溫，以白色曲末，拌入缸內，用稻草護暖，三日後成漿，入水，即成酒。氣味甘苦，十月間做者，名曰十月白，尤佳也。今按此造法，與我邦呼為甜酒者同法，或一夜而熟者，呼雞鳴甜酒，或二三日而成者，謂之醴酒也，造法大抵相似。嗚呼！韃清</p>
<h4>辨誤</h4>
<p>仲景之方，始有白酒之名，晉唐以後，諸子方書，及諸家本草，未嘗有說白酒之功者，何哉？晉唐醫人，未知此物之功乎？諸家本草，何其略之乎？又可疑耳。但李時珍本草所引</p>
<p>《子母秘錄》，有栝蔞白酒治乳癰之方，此外又無所見焉。余嘗謂仲景氏之方法者，自王叔和撰次之後，歷隋唐至宋明，而無有一人全執之者，如何？則我今以其藥物，與病證知之。</p>
<p>曰：何以知之乎？曰：夫仲景嘗用　蟲，而諸家醫書，未嘗見用其方者；仲景嘗用白　酒，而諸家本草，未嘗論及此物；仲景嘗治婦人臟躁，有甘草小麥大棗湯，而古今諸家，未嘗知其證之治法，則不能用此方；仲景嘗治胸痹，有白　酒二湯，而天下醫者，未嘗知胸痹證候，則不能用白　酒二方。然則二千年來，不能全執仲景方法也，我今於是乎知之。鳴呼！吾黨小子，幸依東洞翁之德，而得全執仲景方法，豈可不謂天之寵靈乎哉？夫白　酒之功之湮滅也久乎哉？諸家本草，唯載漿水於水部，而不知為造釀之物，故不載之造釀部，而載之地水部。《大觀本草》又誤載之玉石部，亦可笑哉。漿水與酒酢，實為造釀物矣。若其以地水造之，而載之水部，則酒酢亦當載之水部，蓋本草之謬，往往如此。</p>
<h4>考證</h4>
<p>栝蔞薤白白酒湯證曰：胸痹之病，喘息咳唾，胸背痛，短氣。栝蔞薤白半夏湯證曰：胸痹不得臥，心痛徹痛。因此二方之證，則白酒能治胸背及心痛煩悶。夫前方之證輕，而後方之證重，其義如何？則凡胸痹之為病，喘息咳唾，胸背痛短氣是也。今其痛甚，而心痛徹背，則</p>
<h3>漿水</h3>
<p>礬石湯。</p>
<p>上一方，漿水煮之。</p>
<p>蜀漆散、半夏乾薑散、赤小豆當歸散。</p>
<p>上三方，漿水服之。</p>
<h3>清漿水</h3>
<p>枳實梔子豉湯。</p>
<p>上一方，以清漿水煮之。</p>
<h4>品考</h4>
<p>漿水、清漿水二品，俱與白酒同物，清漿，蓋取其清者。</p>
<h4>辨誤</h4>
<p>古今醫人，不知白酒、白　漿、白　酒、漿水，皆為同物。遂無一人解其品物者，是不能手自使用仲景之方也，可勝嘆乎！凡仲景之方，非仲景所自製之方也。蓋撰用古人之成方，而取其純粹者也。故如附子、烏頭、天雄，本是同根一物，而或曰附子湯，或曰烏頭煎，或曰天雄散，是仲景取古人各各所稱之方，以不改其名，而使用之者也。是以此一漿，而或謂白酒，或謂漿水，或謂清漿水。如彼醯酢、苦酒亦然，皆因古人所稱，而唯取其方治而已。</p>
<p>無復異論，醫者其思諸。</p>
<h3>白飲</h3>
<p>牡蠣澤瀉散、五苓散、半夏散。</p>
<p>上三方，皆白飲服之，其余皆云飲服。</p>
<h4>品考</h4>
<p>白飲，蓋白湯，或云無所考。</p>
<h4>辨誤</h4>
<p>凡曰飲，曰白飲，蓋一物矣。然此三方，但謂白飲服之者，必有所異乎？然《金匱要略》，茵陳五苓散服法曰：先食飲方寸匕者，蓋飲字上脫白字，飲字下脫和服二字，《外台秘要》可考。若夫飲者，是四飲六飲之飲，則《周禮》酒正，有清醫漿酏。膳夫職有六，清水漿醴KT醫酏，乃六飲也。而飲皆寒飲，故食醫職曰飲齊　冬。時注曰：飲宜寒。由此諸說，則單稱飲者，及稱白飲者，豈此四飲六飲之謂矣乎？又膳夫職食飲，注曰：食，飯也；飲，酒漿也。則是又單稱飲者，恐酒漿二物之謂乎？雖然，如此散方，豈以酒漿二物而互服之乎？又按飲及白飲，疑俱是白酒之謂歟，又謂之白湯，亦無所征焉，俟他日考訂。</p>
<h3>飲</h3>
<p>葵子茯苓散、豬苓散、栝蔞瞿麥丸、半夏麻黃丸、乾薑人參半夏丸、排膿散、麻子仁丸、防己椒目葶藶大黃丸、桔梗白散、蒲灰散、滑石白魚散、蜘蛛散、當歸貝母苦參丸。上十三方，皆謂飲服。《三國志‧華佗傳》曰：便飲麻沸散，須臾便如醉死。然則飲者，乃服散之義乎？又湯水飲散之謂乎？考見上。</p>
<h3>暖水</h3>
<p>五苓散服法，暖水，蓋溫暖之湯矣。</p>
<h4>辨誤</h4>
<p>五苓散服法曰：白飲服之，或云白飲是白湯，白湯是熱湯，熱湯是暖水。若其說是，則何謂服以白湯，助以暖水乎？按白湯，是熱湯之謂。而暖水是溫暖之湯矣。殊不知一湯而分以二名乎哉。</p>
<h3>沸湯</h3>
<p>文蛤散。</p>
<p>上一方，以沸湯服之。</p>
<h3>麻沸湯</h3>
<p>大黃黃連瀉心湯、附子瀉心湯。</p>
<p>上二方，以麻沸湯漬之。</p>
<h4>品考</h4>
<p>沸湯、麻沸湯。並是熱湯，出於《本草綱目》</p>
<h3>雞子白</h3>
<p>苦酒湯。</p>
<p>上一方。</p>
<h3>雞子黃</h3>
<p>排膿散、黃連阿膠湯。</p>
<p>上二方。</p>
<h3>雞屎白</h3>
<p>雞屎白散。</p>
<p>上一方。</p>
<h3>馬通汁</h3>
<p>柏葉湯。</p>
<p>上一方。</p>
<h4>品考</h4>
<p>《大觀本草》云：屎名馬通。按：屎，即白馬屎。絞取其汁，故曰馬通汁。</p>
<h3>豬膏</h3>
<p>豬膏發煎。</p>
<p>上一方。</p>
<h3>豬脂</h3>
<p>雄黃葶藶方。</p>
<p>上一方。</p>
<h4>品考</h4>
<p>豬膏、豬脂本是一物。《說文》曰：戴角者脂，無角者膏。是但注其字耳。《內則》曰：脂</p>
<h3>豬膚</h3>
<p>豬膚湯。</p>
<p>上一方。</p>
<h4>品考</h4>
<p>《禮運》曰：膚革充盈。疏云：膚是革外之薄皮，革是膚內之濃皮。然則豬膚者，豬之外膚也。</p>
<h3>豬膽</h3>
<p>大豬膽汁導法、白通加豬膽汁湯、四逆加豬膽汁湯。</p>
<p>上三方。</p>
<h4>品考</h4>
<p>仲景之用豬膽，唯三方，皆用其汁，是乃生豬膽汁也。非以干者為汁用之。本邦不畜豬，無</p>
<h3>獺肝</h3>
<p>獺肝散。</p>
<p>上一方。</p>
<h4>品考</h4>
<p>獺乃水獺。</p>
<h3>羊膽</h3>
<p>四逆加豬膽汁湯。</p>
<p>上一方，方後云：如無豬膽，以羊膽代之。</p>
<h3>羊肉</h3>
<p>當歸生薑羊肉湯。</p>
<p>上一方。</p>
<h3>蜘蛛</h3>
<p>蜘蛛散。</p>
<p>上一方。</p>
<h4>品考</h4>
<p>羅愿曰：蜘蛛布網於檐四隅，狀如罾，自處其中。飛蟲有觸網者，輒以足頓網，使不得解，乃此物也。其余不入藥。</p>
<h3>蠐螬</h3>
<p>大　蟲丸。</p>
<p>上一方。</p>
<h4>品考</h4>
<p>邢KT　曰：在糞土者，名蠐螬。陳藏器曰：蠐螬身短足長，背有毛節，入秋化為蟬是。</p>
<h3>白魚</h3>
<p>滑石白魚散。</p>
<p>上一方。</p>
<h4>品考</h4>
<p>東洞翁曰：白魚，即白鯉魚。李時珍引劉干曰：白魚生江湖中，色白頭昂，大者長六七尺。</p>
<p>按《史記‧周紀》：白魚躍入於王舟者，即此物。</p>
<h4>互考</h4>
<p>《大觀本草》云：白魚甘平無毒，主去水氣，大者六七尺，色白頭昂，生江湖中是，乃</p>
<p>《開寶甘草》宋馬志之說也。然白魚之名，出於周紀，由來久矣。《廣韻》：　字，注云：　，居夭切；《集韻》，舉夭切，音矯，白魚別名。李時珍云：白魚釋名，　魚音喬，白亦作鱍，白者色也，魚者，頭尾向上也。鱍，《唐韻》旁陌切，音白。《博雅》：鱍　也。字書，皆以為。《說苑》宓子賤陽橋魚之橋，《說苑》及《爾雅翼》等，皆作橋梁之橋字，書何以改橋為從魚乎？陽橋本魯地名，橋　竺音喬，夫以所生陽橋之水之魚，名　乎？未知何是。《說文》、《韻會》俱無　字。《玉篇》：　，奇兆切，白魚也。字書蓋由《玉篇》以為陽橋魚之乎？若由《說苑》陽晝之言，則此白魚者，其為魚薄而不美者歟。由此觀之，白魚之名，本出於周紀，躍入於王舟者，豈指衣書中白魚乎？李時珍曰：形窄腹扁，鱗細，頭尾俱向上，肉中有細刺。武王白魚入舟即此，我肥藩江河中有此物，其形大抵似鯉，曰白鯉魚，其味薄而不甚美，能利水愈腫，用之有效，漁人取而棄之，又非鯉類，疑此物真白魚矣乎？俟後日試效。</p>
<h3>衣中白魚</h3>
<p>《爾雅‧釋蟲》：　、白魚。郭璞注：今衣書中蟲，一名　魚，《別錄》及《圖經》、《千金翼方》，亦同。《千金方》、《外台秘要》，或曰衣中白魚，或曰書中白魚，又單稱白魚。雖然，《本經》未嘗以白魚為本名，則古方所謂白魚者，是必魚部白魚，非衣書中白魚矣。況又蟲而得魚名者，以其形稍似魚，其尾又分二歧，故得　及　魚、蠹魚之名。雖然，但不可單以白魚為本稱也。後之用此者，能治小便不利，則益以衣中白魚為古方白魚矣。滑石白魚散證曰：小便不利。此方本載於《金匱要略》小便利淋篇內，則蓋淋家小便不利者主之。本草：衣魚，主治小便不利。《別錄》療淋，附方又載此方，主治小便不通。然則諸家皆以衣魚為白魚，明矣。雖然，此方內白魚，未可知衣中白魚否，並存此二物，以俟後之考訂試效。</p>
<h4>辨誤</h4>
<p>凡藥方內，有不以本名稱，而以異名呼之者，不欲使人知其物也，是皆後世醫家之陋也。</p>
<p>獨仲景之方，無以異名稱之者，如彼烏頭、附子、天雄，則以其年數形狀稱之；如彼芒硝、硝石、朴硝。則以其制之精粗，功之緩急取之；如彼白　酒、漿水，則以諸家所稱之名呼之，或以諸家所傳之方錄之，蓋無異義。按仲景撰用諸家之方，未嘗變其方名，依其所稱而取之耳。然則如此白魚散，當須依其本名矣。由是觀之，白魚者，蓋非衣中白魚明矣。明者其審諸。</p>
<h3>文蛤</h3>
<p>文蛤湯、文蛤散。</p>
<p>上二方，文蛤各五合。</p>
<h4>考證</h4>
<p>文蛤湯證曰：渴欲得水，而貪飲者。文蛤散證曰：意欲飲水。反不渴者。又曰：渴欲飲水不止者。據此二方證，則文蛤者，不問渴不渴，能治意欲飲水者。</p>
<h4>品考</h4>
<p>《唐本草》注曰：文蛤大者圓三寸，小者圓五六分，非海蛤之類也。　按：圓字疑圍字之誤矣。蜀木《圖經》云：背上斑文者，三月中旬采。陳藏器曰：文蛤，未爛時，殼猶有文者。　又按：蛤蜊之小而有紫斑者是也</p>
<h3>雄黃</h3>
<p>雄黃熏方、疳蟲蝕齒方。</p>
<p>上二方。</p>
<h4>品考</h4>
<p>凡雄黃者，以雞冠色瑩英者為上品，諸家本草可考。</p>
<h3>礬石</h3>
<p>礬石丸、硝石礬石散、礬石湯。</p>
<p>上三方。</p>
<h4>品考</h4>
<p>礬石，白而瑩淨明亮者為上品。一種自然生者，如柳絮，名柳絮礬，為最上品。我藩阿蘇山垂玉溫泉，多產此物。</p>
<h3>戎鹽</h3>
<p>茯苓戎鹽湯。</p>
<p>上一方。</p>
<h4>品考</h4>
<p>戎鹽，即青鹽，說詳於諸家本草可考。</p>
<h4>辨誤</h4>
<p>李時珍本草附方引此方，曰：小便不通，戎鹽湯，用戎鹽彈丸大一枚，茯苓半斤，白朮二兩，水煎服之。仲景《金匱》方云云。按：《金匱要略》作小便不利。夫不利與不通，其證不同，不利者，雖少少利之亦不快利之謂也。不通者，決不通利之謂也。即小便閉是也。</p>
<p>故仲景於此方，謂之不利，而不謂之不通也。今考其病證，有所不同者，又戎鹽湯上脫茯苓二字，唯分兩不異而已。至謂水煎服之，則略其煮法，何其疏漏乎？又云：仲景《金匱》方，夫時珍之取仲景之方，往往如此。或云張仲景《金匱要略》，或云《金匱玉函方》，引其書各，亦不一定，錄其煮法，不多略之。至如略引其書，則無害於治，今錄其煮法服度，則恆醫苟取其法以施之病患，豈惟不無益其病而大害於其治矣。時珍之作本草也，其疏漏亦往往如此。</p>
<p>況至於品目，其庶物亦自有闕略失其真者，天下醫人，何其心醉彼人矣乎？</p>
<h3>雲母</h3>
<p>蜀漆散。</p>
<p>上一方。</p>
<h3>禹餘糧</h3>
<p>赤石脂禹餘糧湯。</p>
<p>上一方。</p>
<h4>辨誤</h4>
<p>宋版《傷寒論》，赤石脂禹餘糧湯方，曰太一禹餘糧，此方宜用禹餘糧也。太一二字，後人妄添，說詳於諸家本草。</p>
<h3>代赭石</h3>
<p>旋覆花代赭石湯。</p>
<p>上一方。</p>
<h4>品考</h4>
<p>赭石，本出於代州者為上品。故得代赭石名，猶蜀椒、川芎。若得赤絳青色，如雞冠有澤者，宜供治材，不必代州之物矣。</p>
<h3>真朱</h3>
<p>赤丸。</p>
<p>上一方，此方內真朱為色。故得赤丸之名。</p>
<h4>品考</h4>
<p>真朱者，即丹砂。丹砂，即朱砂也。陶弘景曰：作末名真朱，即今辰砂也。凡以辰州物為良。故得辰砂之名，猶代赭石矣。</p>
<h4>辨誤</h4>
<p>和醫多不分朱砂與銀朱，並呼為辰砂。往往用之大誤病患。銀朱本出於水銀，最有毒，可不辨乎哉！</p>
<h3>黃丹</h3>
<p>柴胡加龍骨牡蠣湯。</p>
<p>上一方。</p>
<h4>品考</h4>
<p>黃丹，即鉛丹。</p>
<h3>白粉</h3>
<p>蛇床子散、豬膚湯。</p>
<p>上二方。</p>
<h4>品考</h4>
<p>白粉，即鉛粉，今胡粉也。《釋名》曰：胡粉，胡糊也，脂和以塗面。本草粉錫條可考。</p>
<h3>黃土</h3>
<p>黃土湯。</p>
<p>上一方。</p>
<h4>品考</h4>
<p>黃土，即灶中黃土。</p>
<h3>苦參</h3>
<p>當歸貝母苦參丸、三物黃芩湯。</p>
<p>上二方。</p>
<h3>野狼牙</h3>
<p>野狼牙湯、烏頭赤石脂丸。</p>
<p>上二方。</p>
<h4>品考</h4>
<p>野狼牙，即《本草‧草部》野狼牙草。</p>
<h4>辨誤</h4>
<p>後世以野狼獸之牙充之者，非也。豈有以野狼獸牙汁，瀝陰中之瘡之理乎？</p>
<h3>蒲灰</h3>
<p>蒲灰散。</p>
<p>上一方。</p>
<h4>品考</h4>
<p>蒲灰，諸家本草無所見焉。是蓋香蒲草機上織成者，《別錄》方家燒用是也。李時珍《本草</p>
<h3>葦莖</h3>
<p>葦莖湯。</p>
<p>上一方。</p>
<h4>品考</h4>
<p>葦莖，乃蘆葦之莖，去葉者也。《外台秘要》作銼葦。又引仲景《傷寒論》云：葦葉切一升，然則莖葉俱用之。</p>
<h3>知母</h3>
<p>白虎湯、白虎加人參湯、白虎加桂枝湯、酸棗湯。</p>
<p>上四方。</p>
<p>主治煩熱。</p>
<h4>考證</h4>
<p>白虎湯證曰：表有熱。又曰：裡有熱。白虎加人參湯證曰：大煩渴。又曰：表裡俱熱、舌上干燥而煩。又曰：發熱。又曰：身熱而渴。酸棗湯證曰：虛煩。今由此諸證，則知母能治煩熱。</p>
<p>白虎湯證曰：表有熱。又曰：裡有熱。白虎加人參湯證曰：大煩渴。又曰：表裡俱熱、舌上干燥而煩。又曰：發熱。又曰：身熱而渴。酸棗湯證曰：虛煩。今由此諸證，則知母能治煩熱。</p>
<p>白虎湯證曰：表有熱。又曰：裡有熱。白虎加人參湯證曰：大煩渴。又曰：表裡俱熱、舌上干燥而煩。又曰：發熱。又曰：身熱而渴。酸棗湯證曰：虛煩。今由此諸證，則知母能治煩熱。</p>
<h3>麻子仁</h3>
<p>麻子仁丸。</p>
<p>上一方。</p>
<h4>品考</h4>
<p>麻子仁，疑非今大麻、火麻之類。別有考，不贅於此。</p>
<h3>土瓜根</h3>
<p>土瓜根散、土瓜根導法。</p>
<p>上二方。</p>
<h4>辨誤</h4>
<p>土瓜根散，脈經作王瓜根散，本草或云土瓜，或云王瓜。《禮記‧月令》：作王瓜生。《呂氏春秋》作王善。《淮南子》亦作王瓜，則土字蓋王字之訛也。宜呼王瓜根散。</p>
<h4>品考</h4>
<p>王瓜，其殼徑寸，長二寸許，上圓下尖，秋冬間熟，紅赤色，子如螳螂頭者是也。</p>
<h3>干蘇葉</h3>
<p>半夏厚朴湯。</p>
<p>上一方。</p>
<h3>蔥白</h3>
<p>白通湯、白通加豬膽汁湯。</p>
<p>上二方。</p>
<h3>敗醬</h3>
<p>薏苡附子敗醬散。</p>
<p>上一方。</p>
<h4>品考</h4>
<p>敗醬，後世或以白花者為真物。然今以黃花者試之有效，故我門不取白花者。</p>
<h3>瓜子</h3>
<p>大黃牡丹湯。</p>
<p>上一方。</p>
<h4>品考</h4>
<p>瓜子，用甜瓜子仁，今或權用冬瓜子。</p>
<h3>瓜瓣</h3>
<p>葦莖湯。</p>
<p>上一方。</p>
<h4>品考</h4>
<p>瓜瓣乃瓜瓤。說文：瓣、瓜中實也。</p>
<h3>蕘花</h3>
<p>小青龍湯，加減法內有蕘花。本方無所用之。</p>
<h3>瞿麥</h3>
<p>栝蔞瞿麥丸。</p>
<p>上一方。</p>
<h3>薯蕷</h3>
<p>八味丸、栝蔞瞿麥丸。</p>
<p>上二方。</p>
<h3>商陸</h3>
<p>牡蠣澤瀉散。</p>
<p>上一方。</p>
<h3>海藻</h3>
<p>同上。</p>
<p>上一方。</p>
<h3>葵子</h3>
<p>葵子茯苓散。</p>
<p>上一方。</p>
<h4>品考</h4>
<p>凡方稱葵子者，即冬葵子。</p>
<h3>乾漆</h3>
<p>蟲丸。</p>
<p>上一方。</p>
<h3>皂莢</h3>
<p>桂枝去芍藥加皂莢湯、皂莢丸。</p>
<p>上二方。</p>
<h3>蜀椒</h3>
<p>大建中湯、烏梅丸。</p>
<p>上二方。</p>
<h3>椒目</h3>
<p>防己椒目藶葶大黃丸。</p>
<p>上一方。</p>
<h3>烏梅</h3>
<p>烏梅丸。</p>
<p>上一方。</p>
<h3>秦皮</h3>
<p>白頭翁湯、白頭翁加甘草阿膠湯。</p>
<p>上二方。</p>
<h3>皮</h3>
<p>白頭翁湯、白頭翁加甘草阿膠湯、梔子　皮湯。</p>
<p>上三方。</p>
<h3>山茱萸</h3>
<p>八味丸。</p>
<p>上一方。</p>
<h3>柏葉</h3>
<p>柏葉丸。</p>
<p>上一方。</p>
<h4>品考</h4>
<p>凡藥方內稱柏葉者，皆用今側柏葉。</p>
<h3>竹葉</h3>
<p>竹葉石膏湯。</p>
<p>上一方。</p>
<h4>品考</h4>
<p>凡方內稱竹葉者，用淡竹葉也。諸竹亦可補其闕。</p>
<h3>竹茹</h3>
<p>橘皮竹茹湯。</p>
<p>上一方。</p>
<h4>品考</h4>
<p>凡方內稱竹茹者，用淡竹之茹。若無，則諸竹亦可權用。</p>
<h3>亂髮</h3>
<p>豬膏發煎、滑石白魚散。</p>
<p>上二方。</p>
<h3>人尿</h3>
<p>白通加豬膽汁湯。</p>
<p>上一方。</p>
<p>上七十又八品，仲景一二方劑，俱使用之，故無所取其征者。如彼粳米之於白虎湯、附子粳米湯、竹葉石膏湯、麥門冬湯七證也，小麥之於甘草小麥大棗湯證也，赤小豆之於瓜蒂散證也，膠飴之於大小建中湯二證也，雞子白之於苦酒湯證也，礬石之於礬石丸、硝石礬石散、礬石湯三證也，土瓜根之於土瓜根散證也，干蘇葉之於半夏厚朴湯證也，瓜子、瓜瓣之於大黃牡丹皮湯、葦莖湯二證也，皂莢之於皂莢丸、桂枝去芍藥加皂莢湯二證也，蜀椒之於大建中湯證也，秦皮、白頭翁，　皮之於白頭翁湯二方證也，山茱萸又薯蕷之於八味丸證也，是所以其日用試效者也。雖然，皆在於成方妙用如何而已，不必在於取一味一味之功，則又無所以取其征者。故東洞翁於此七十余品，蓋闕如，但粳米之於方也。凡七首，此物之於民食也，其美與錦比焉，其功亦所以最大者，故又治其疾病亦多其功。而本草不載此物者，何哉？惟陶弘景《別錄》，始載粳米治病之功，曰：益氣，止煩，止渴，止泄。不過此四功也。</p>
<p>蓋仲景之用粳米也，白虎湯三方證曰：大煩渴，或曰舌上干燥而煩，欲飲水數升，或曰口燥渴，或曰渴欲飲水，口乾舌燥，或曰熱骨節疼煩。竹葉石膏湯證曰：逆欲吐。麥門冬湯證曰：大逆上氣。大逆者，上逆也，上逆則必煩渴，煩渴則舌上必干燥，是粳米有止煩止渴之功也。</p>
<p>桃花湯證曰：下利。又曰：下利不止。附子粳米湯又能治腹痛下利，是粳米有止泄之功也。</p>
<p>故陶弘景嘗見此數方之證，以為粳米止煩止渴止泄也。益氣者，是道家言，非疾醫之事矣。</p>
<p>近世稱古方家者，以為民生常食之物，安能治彼病毒矣乎？是未知粳米之功，取征於此七方也。夫粳米若作穀食，則實為氓民生命，作之藥物，則又足以為治病大材。猶生薑、大棗、作之菜果，則足以養性；作之藥物，則大有力於治病毒也。雖然，仲景之用粳米也，有其主治，未可悉知者，唯存而不論亦可也。肘後方有粳米一味，治猝腹痛之方。由此觀之，又附子粳米湯之治腹中雷鳴切痛，桃花湯之治下利腹痛，亦似偏取粳米之功矣。猶小麥之治急也，如彼白　酒，則中華人家常所造釀者也。經日易損，故不能久藏蓄之。我邦飲物，未嘗用白酒矣！故無敢造釀者，假令醫家雖欲常藏蓄之，未能每每釀之，則豈得備於不虞矣乎？苟亦每每造釀之，不堪其費之多也，故若遇胸痹之病，則白　，其何所取之？是我古方家之所嘆也！嗚呼！皇和與中華土宜之所然也，我其無如之何而已，此外若有往往試之者，俟他日之論定考征云爾。</p>
<p><u>安永戍初夏十二日</u></p>
<h2>附言十七則</h2>
<p>──仲景之方之有征也。藥亦有征，東洞先師嘗有藥征之舉，大行於海內，始開天下古</p>
<p>今之人之眼目，非如後世諸家本草之書之墨墨也。嗚呼！天下古今，何其諸家本草之書之墨墨也，是實耳聽之而目不視之者之言也。墨墨亦宜乎哉？故其書之伙多也，雖汗牛充棟，亦何征之有？是其所以為墨墨也。</p>
<p>──古者，本草之書之出也，陰陽服餌之言也。陶弘景羽之鏃之，深入天下古今之醫之</p>
<p>肺腑，陶實為之KT　矢矣。夫晉唐以降之為醫也，蓋以二家之言，別立醫之方法者也。故其為方法也，不之服餌家，則之陰陽家，又何醫治之有。仲景之方法，於是乎亡，又何征之為？嗚呼！藥之有征也，二千年來，始有先師之舉。嗚呼！天下古今，別有其人乎。</p>
<p>──晉唐以降之方之存也，有若《肘後方》，有若《千金方》，有若《外台秘要》。其方</p>
<p>垂數千，今欲取之而征之於其法。無一可征之於其法之方。何其無一可征之於其法之方耶？無藥之可征之於其證之方也。無藥之可征之於其證之方，則無方之可對之於其證之法也。方之不對於其證也，病何以治哉。苟施其方而謂之治者，非偶中則病自愈之時，與毒自靜之時也。醫人其著眼於此，則疾醫之道，明明察察。</p>
<p>──王叔和嘗撰次仲景之書云：未知其是否，蓋所謂撰也者。撰擇仲景之方法，於己之</p>
<p>臆度者也，所謂次也者。相次自家之方法，於仲景之書者也，是《傷寒雜病論》之所以攙入附會也，隋唐之醫之所以不能辨別分析焉也。葛洪之作《肘後方》也，孫思邈之著《千金方》也，王燾之輯《外台秘要》也，皆不知取之於仲景氏，而取之於叔矣氏。《傷寒雜病論》之不顯也，職是之由。天下之為醫者知視仲景氏之方法於三子者之書，而未嘗能知視仲景氏之真面目，於《傷寒雜病論》尚乎哉！至趙宋之時，藏一本於御府。天下之為醫者，未嘗能知有仲景氏之方法矣，故未嘗能知仲景氏之為何等者。當此時天下之為醫者，知仲景氏之言之一二有存焉，而未嘗能知仲景氏之方法之全然有存焉，又未嘗能知仲景氏之醫之為古之疾醫之遺矣。又當此時天下之為醫者，別立醫道於己之臆度，是汗牛充棟之書之所以起也。嗚呼！當仲景氏之書之不顯之時，而別立醫道云者，則不得不取之於己之臆度矣。至開寶治平之際，而仲景氏之書之再出也，摹印雕版，頒行天下。於是天下之為醫者，雖知有仲景氏之方法，視仲景氏之書，亦猶己之臆度之醫道矣。我今於林之校正，成之注解乎見之，於是仲景氏之方法之與趙宋氏之醫道者，混淆焉。涇渭不分，淄澠不辨，遂至今之醫流矣。</p>
<p>──聖人既沒，大道乖矣。七十子已死，大道裂矣，當春秋戰國之際，聖人之大道，與</p>
<p>天下國家，共分崩離析矣，豈得不命與數矣乎。嗚呼！聖人之大道猶且然，況於小道醫之為術乎。</p>
<p>世之無聖人也久矣，我無所取於正矣。嗚呼！我不能取正於聖人之道，則我其不可不取征於聖人之言。苟不取征於聖人之言，則言皆不得不取之於己之臆度。事亦然，於是乎聖人之道將墜於地矣。醫之為道亦然，苟不取征於仲景氏之言，則言皆不得不取之於己之臆度。</p>
<p>事亦然，夫言也者法也，事也者方也。《素問》、《九靈》之說，醫也理也。本草之說，治也妄也。妄之與理，君子不依，故彼書之說醫也，其謂之存炎黃氏之遺於十之一二則可也，謂之炎黃氏之道則惑也。故如彼書，又無有方法之可言。則後世之有方法也，苟不取之於妄之與惑，則不得不取之於己之臆度矣。仲景氏沒後，天下古今之為醫者，滔滔皆是。所謂晉後之醫者，偽統乎哉？故先師獨取征於仲景氏之方法，以開二千年來眼目者也。嗚呼！《藥征》之為書，不亦偉乎。</p>
<p>──先師者，非文儒之徒也。故其著書也，不為修辭，不為文章，其意唯在於辨古人之</p>
<p>妄，釋今人之惑而已，故言皆系於事實。先師嘗謂參互而考之次之，以古今誤其藥功者，引古訓而辨之，是以先師之為《藥征》也。仲景之方，取征於仲景之法，仲景之法，取征於仲景之藥，方法之與藥，無一所違戾者。余故曰言皆系於事實，何其修辭文章之為。世醫之詆斥先師也，以文章修辭者抑末。今余之於此編亦然，余也性實，拙於文辭，取笑於大方，亦所不辭也。</p>
<p>──余之為醫也，陋且拙也，豈足奉東洞先師之教，以修仲景氏之術乎？雖然，余也從</p>
<p>事斯方三十有餘年於茲矣。余之為醫也陋且拙，亦豈無所不熟十之一二乎哉。余也自嘗修仲景氏之術，不加減於方，不出入於藥，唯隨其證而治之耳。嗚呼！余之為醫也，陋且拙，亦豈無所不愈十之一二乎哉。如余但奉先師之教，以建方之極，取藥之征者也。故今所征於此之藥者，是皆所征於日用之病者也。夫今之為醫者不然，不自憚之甚，妄意加減於方，出入於藥，寧知方法之有規則乎哉？是余之所畏也。</p>
<p>──東洞先師，常用所征本編之藥，凡五十有三品，余亦於此品，而所以征之，得其征</p>
<p>者也，無復異論矣。先師之言，至矣盡矣，吾豈有所容喙哉。今此編所載十品，附錄七十有八品，十品者常用之物，而本編所不載也。是乃余之常用所征，而所得其功效者也，是所以私竊補先師之遺也。又未嘗取之於己之臆度，而所以征之於日用之事實，試之於日用之證候者也。嗚呼！如此數品，先師豈有所不征乎，蓋未終之而沒者也。噫，可惜乎哉！余之補之，有所大憚於先師者，世之君子，其謂之何哉。雖然，余也其不言之，孰又言之，余也死矣，此言已矣。嗚呼，余之補之，唯不免狗尾續貂之誚是懼。</p>
<p>──續編十品，先師日用所施之物也。本編不載其功之與征者，何也？是前所謂蓋未終</p>
<p>之而沒者也。惟蜀漆之助牡蠣龍骨而治動之劇也，蜜之緩諸病之急而助諸藥之毒也，是余之所常試，而古今醫人所未嘗言及者也。余之執斯方，三十年之尚矣，豈無一二之所得矣乎。</p>
<p>明者其試諸。</p>
<p>──　之為蟲，我邦未產此物。二十年前，余再游於先師之門，先師出一頭示余。余又</p>
<p>得一二於直海元周之所，余遂贈之先師，先師喜而藏之，然則先師未嘗得試　蟲之功效矣。</p>
<p>爾後余多得之，於是余先試之內人之病，而有效焉，後又試之於他人之病，而有效焉，此時先師既沒。噫，我邦試　蟲之功者，余於先師之門，為之先登，故今著之。</p>
<p>──粉之為物，趙宋以來，未嘗得其的實之品。故醫者誤治甘草粉蜜湯證者，不為不少。</p>
<p>余今訂之諸書，而始得其真物，又始得治其證矣。</p>
<p>──白　酒之治胸痹之病也，唐宋以後，諸書所不載也。余又訂之，而得其造釀之法矣，</p>
<p>胸痹之病。其自此有治乎哉。</p>
<p>──先師嘗謂余曰：吾自唱古疾醫之道，數十年於今矣，游我門之士，不下數百人，雖</p>
<p>然，有傳方之人，而無傳道之人也，吾子其勉　。余自辭先師二十年於茲矣。余嘗知受業於東洞之塾者，亦不下數十人，余又見其人，無一人不口先師之醫者，然未嘗聞有得先師本旨者。若有其人，亦或有專長於下劑者，或有純執家塾方者；或有二三執仲景之方，七八取唐宋之方者，或有取己之臆，負東洞之教者；或有學無其力，業無其術，稱古今並執者；其次者，或有一端，稱奉東洞之教，終行後世之方者；或有謂東洞之教，偏於古而不知今者；或有謂東洞之術，便於痼疾，而不宜於平病者。如此抑末，不足以掛以齒牙矣。夫以我藩推之海內皆是矣乎，以余之所見推之，余之所未見亦然矣乎，是余之所長大息也。要之是皆雖曰奉東洞之教，亦不能實讀仲景之書者也，可勝嘆哉。嗚呼，仲景之方法者，執之知之，則不能不為之。不能不為之者，知之者也。不能為之者，不知之者也。先師沒後，仲景氏之方法熄矣，──仲景之書者，古之疾醫之遺也，天下古今，知之者鮮矣。其不知之，故人人有異說，</p>
<p>或有以《素》、《靈》解仲景之書者，或有以晉唐醫學，說仲景之書者，近世或有以名與數，解仲景之書者，或有取己之臆，辨仲景之書者，要之是又不知仲景真面目者也。苟欲知仲景真面目，請在達於仲景方法，而後施之於今日日用事實而已矣。</p>
<p>──余嘗為門徒講《傷寒論》，聽者百余人。余之講《傷寒論》也，一一取征於仲景之</p>
<p>規則，一一取征於仲景之方，一一取征於仲景之法，一一取征於六經史子，一一取征於兩漢以上之書，一一取征於某書某篇某人某言以示其事實。余於是謂門徒曰：仲景氏方法者，古之疾醫之遺也。苟不經聖人制作之手，安能有此方法乎哉？故其道也正，其方也正，其法也正，其術也正。無所不正者，其不正者有之，此為後人攙入。今之為醫者不然，不知執仲景氏之方法之正，不知學仲景氏之治術不正，此反正之徒也。今其取反正之方法治術，以奉此於君之與親者，不忠之臣也，不孝之子也。噫！己不啻不忠不孝，而使人之臣子不忠不孝者，其謂之何哉，醫者其思諸。</p>
<p>──先師之作《藥征》也，改稿凡七，余嘗得寶歷之本是也。二十年前齋游於京師，因</p>
<p>請正於先師。先師謂余曰：此本實屬草稿，為門人所竊去者也，正本今在於紀州，雖然是亦余之所草也，吾子宜見大體，豈在於文字章句之間乎哉。　而西歸，後又得安永之本修夫氏定正之本也，余又別有定本，以余之所聞於先師訂之。天明五年乙巳之夏，京師有上木之役，余之定本，不敢出之。</p>
<p>──續編及附錄、定正、考索、十易裘葛，安永戊戌初夏，始脫其稿。雖不能得先師訂</p>
<p>正，</p>
<p><u>天明七年丁未初冬十二日村井　大年識</u></p>
