<header><h1>濟世神驗良方</h1></header>
<dl class="元資料" data-type="book">
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1644/1911">公元1644年至公元1911年</data></dd></div>
<div><dt>作者</dt><dd>佚名</dd></div>
</dl>
<h2>噎隔門</h2>
<p>神仙奪命丹　專治噎食。</p>
<p>烏梅十三個（水浸去核杵爛）　砂　雄黃各二錢　百草霜五錢　綠豆　黑豆各四十九粒共為末，和梅再搗為丸，如彈子大。以乳香一錢，少加朱砂為衣，陰乾。空心噙化一丸，待藥化盡，即以熱餅一個，茶泡食之，無礙已驗過三五日，再服一丸，即愈。</p>
<p>治噎單方　細糠（用碓嘴上者）蜜丸如彈子大，每服一丸，噙化津咽下。</p>
<p>又方藍靛汁治噎如神。</p>
<p>又方白面二斤半，蒸一大饅頭，頂上開口挖空，將皂礬裝滿，用新瓦四圍遮護，鹽泥封固挖土窯置之，文武火燒一晝夜，候紅取出研細，棗肉丸如桐子大，空心服二十丸。忌酒色余論噎氣、膈氣皆氣也。膈氣失治則痰結而為翻胃，至危也。古人謂：風勞、臌膈，實病難醫者，所以儆世也。今人膈有痰火，識者謂其至危，而彼全然不以為意，及至翻胃既成，乃云恐成隔症，是誤以膈為隔也。不知翻胃為極危篤之症，若翻胃後已膈死矣，又何言哉。故詳論於翻胃篇中，臨症用藥，俱當合看。</p>
<p>又方治五噎、心膈、氣滯。用香附子，炒，去毛為末，酒煎，陳皮湯調一二錢服，每日三服，亦治心痛。</p>
<p>附治噎方　白朮槿花一兩，用水二碗，煎一碗，空心午間晚上三時服。</p>
<p>又方將隔年廣陳皮（刮去垢），以生薑三片搗汁，片伴之於飯上蒸熟，晒乾磨為細末，滴水為丸，每服三錢，白滾湯下，已驗。用大柳樹上生楮樹，或桑樹連根取下，切碎，煎湯服三五日，其病自除。</p>
<p>治飲食不住口，仍易飢餓　用綠豆、黃麥、糯米各一升，炒熟，共磨成粉，每服一酒杯，以治受山嵐瘴氣　用生熟大蒜各七片，共細嚼食之，少頃腹中鳴或口吐血，或大便泄氣即愈。</p>
<p>治心氣及胃脘諸痛　肥梔子十枚（去殼，薑汁浸炒，連殼用）　川芎一錢　香附（童便制）一錢又方用生明礬末一錢，川椒末二分，白滾湯調服。忌腥物、面食、蕎麥。</p>
<p>又方用生礬二錢，石榴皮二錢，用酒一碗煎服，效。</p>
<p>又方治心氣痛不可忍及小腸氣痛。蒲黃（炒）、五靈脂（酒炒淘去沙），各等分。先以醋調二錢，煎成膏，入水一盞煎，食前服。</p>
<p>又方烏梅一個（去核）　杏仁七粒（去尖）　紅棗二個（去核）</p>
<p>共搗作一服，男用好酒，女用好醋，不拘時服。</p>
<p>又方雄黃二錢（為末），烏梅肉二錢，合勻研爛為丸，每服五十丸，薑湯米飲送下。</p>
<p>又盞落湯　治急心疼。</p>
<p>陳皮　香附子　良薑　吳茱萸　石菖蒲各等分切，咀片，用水一碗，煎至七分，先將碗用香油三五滴在內，水盞蓋之，將藥淋下熱服。</p>
<p>治冷心氣疼　乳香三分（火煉去油），明礬一錢（煉過），為末，好酒送下。</p>
<p>治熱心氣疼　取鍋底黑末，以童子熱小便調服三錢，即愈。</p>
<p>治膈噎方　枇杷葉（拭去毛，炙）　陳皮（炮去白，焙）一兩　生薑五錢又方以水二碗，一碗分溫，二次服。</p>
<p>用藍靛食之。</p>
<h2>翻胃門</h2>
<p>翻胃之症有四說：氣虛血虛痰與熱，此患多應脾胃虛。火動痰升穀不納，右脈無力屬氣虛，左脈無力血虛別。寸關之脈沉而澀，下手應知必氣結，寸關浮大或沉沉，蓋有升痰為嘔噦。四君子入二陳中，參朮茯苓半夏逢，甘草梔連歸枳實，木香神麯火薑同，煎加竹瀝並薑汁，一服須交有奏功。老者逢之氣血虛，少年得此宜躊躕。胃口血燥便赤澀，辨論須詳格致余，口中沫出終不止，糞如羊屎命應殂。</p>
<p>急救翻胃單方　馬剝兒（燒灰存性）二錢，好棗肉、平胃散各二錢。和勻，溫酒調服，食即可又方以千葉白槿花陰乾為末，陳米湯調下，三五口不轉，再服。（如無花即葉亦可）</p>
<p>又方黃丹（細研）、小棗（去皮核研），丸如雞頭大，每用一丸，針簽於燈上燒灰為末，乳汁下。</p>
<p>又方覓翻翅雞一只，煮熟去骨，入人參、當歸、食鹽（俱為細末）各五錢，再煮與食之。勿令人共食。</p>
<p>又方虎脂半斤（切如豆大），清油一斤，瓦瓶浸虎脂一月，濃綿紙封口，勿令泄氣。每用清油一兩，入無灰好酒一大鐘，調勻溫服，服盡病自減。（其虎脂尚可浸二次，再可活二人）</p>
<p>又方韭汁二兩，牛乳一盞，薑汁五錢，和勻溫服。</p>
<p>又方治翻胃並積飲。生薑自然汁，澄白腳丸，益元散，如菜子大，時時服之。</p>
<p>又方治翻胃、噎膈。螃蟹涎為末，每服五分，燒酒下。（取涎法：以蟹洗淨，置瓶內，水四指，入油一小杯，捻白面撒水上即出，次日去蟹，晒乾）</p>
<p>又方治翻胃。以丁香十五粒刺入雪梨內，濕紙包煨食之。</p>
<p>又方治乾嘔不止。用甘蔗漿七升，薑汁一升，和勻分五次服。</p>
<p>順氣和中湯　治嘔吐、翻胃、嘈雜吞酸、痞悶噫氣、噎膈刺痛、惡心吐痰等證。</p>
<p>陳皮（鹽水浸炒）　香附（醋浸炒）　梔子（薑汁炒黑）各一錢　白朮（去蘆土炒）八分白茯苓（去皮）　枳實（麩炒）各七分　半夏（薑汁浸炒）　黃連（薑汁炒晒乾，再以豬膽汁拌炒）　神麯（炒）各六分　砂仁（炒）三分　甘草（炙）二分用長流水入膠泥攪和，再澄清，取水一鐘，薑三片，煎七分，入竹瀝、童便、薑汁，不拘時細細溫服。胃口痛加薑汁，氣虛加參、　各八分；血虛加歸七分，芎五分；氣惱或氣不暢加烏藥五分，木香三分；胸膈飽悶加蘿卜子（炒）六分；嘈雜醋心加吳茱萸四分，倍黃連、白朮；嘔吐不止加藿香根七分。</p>
<p>安中調氣丸　治翻胃及一切痰膈。</p>
<p>香附三兩（長流水浸三日，洗淨炒黃色）　白朮（去蘆土炒）　陳皮（鹽水浸炒）各二兩半夏（白礬、薑汁煮過晒乾）　枳實（炒）　白茯苓（水洗去皮木）　神麯（炒）各一兩白芍（鹽酒炒）八錢　蘿卜子（炒）六錢　白豆蔻（去殼）　當歸（酒洗）　川芎　紫蘇黃連（薑汁炒）各五錢　甘草三錢　木香一錢十六味共為細末，薑汁、竹瀝，打神麯糊為丸，如黃豆大，清米湯下八十丸。養血助胃丸嘔吐翻胃愈後用此。</p>
<p>養元氣、健脾胃、生血脈、調營衛、清郁氣、收功保後。</p>
<p>白朮（去蘆酒炒）一兩三錢　白芍（鹽水炒）一兩二錢　當歸（酒浸）　熟地（薑汁浸炒）　川芎　蓮肉（去皮心）　山藥（炒）各一兩　白茯苓（去皮）　扁豆（薑汁炒）各六錢人參五錢　甘草（炙）三錢薑汁打神麯糊為丸，如桐子大，空心滾湯下六七十丸。</p>
<p>余論翻胃膈噎名雖殊而理則一。噎者飲食時火氣炎上，猝然阻滯也。膈者氣鬱痰搏，初則咽喉時覺有礙，吐之不出，咽之不下，久則妨食也。翻胃者痰火結於胃之上脘，食已即吐，結於下腕，朝食暮吐也。皆陽火不降而上行也。由於憂思悲恐怒寒熱勞食，扇動陽氣積成膈熱，初津液不行不思飲食，或噫腐作酸，嘈雜痞悶，誤認為寒，服辛香燥熱之劑，時暫得快，七情反覆，舊病益深，不遇良工又行燥藥，痰挾淤血遂結窠囊，是速翻胃之成也。善治者，不治已病治未病。平時於脾胃門參究，有感於諸氣門詳觀，見證於吞酸時用藥，焉得至此。戴氏云：痰盛脈滑，以二陳為主；熱甚脈數，解毒為主；血虛脈數而無力，以四物為主；氣虛脈緩而無力，以四君子為主。氣血俱虛，脈沉而澀，口中出沫不治。蓋氣血未虛，用藥劫痰，火病不復生。氣血虛者，劫去痰，火雖亦暫息，病必復作。所以然者，氣虛則不能運化而生痰，血虛則不能滋潤而生火故也。龔氏主於清痰降火，以二陳加薑汁、韭汁、竹瀝、童便及牛乳為主。熱悶加炒芩、連、瓜蔞、桔梗；氣噎加香附、HT　芎、木香、檳榔、砂仁；氣虛□肥白合君子，用竹瀝、薑汁；血虛痰弱，合四物湯，加紅花、杏仁（研泥），用童便、韭汁；大便燥結，用酒蒸大黃以潤之；脾不磨者，加神麯、麥芽以助之；若將成翻胃，多服牛乳為上策，但不可用人乳，內恐有飲食烹飪色欲勞倦之火也。張機峰云：噎是神思過度，惟內觀以自養乃能安耳，至哉斯言也。切不可再服香燥，戒之，戒之。</p>
<p>治翻胃取肥皂子五個或七個，月白面水調，包裹火上煨熟，去皂子，用面研細末，或酒或湯調下，即吐稠痰愈。（以淮麥面妙）</p>
<p>又方半夏五錢，茯苓五錢，水二碗，煎一碗，去滓，入生薑汁再煎三沸，不拘時熱服。</p>
<p>治翻胃方　用甘蔗汁七升，生薑汁一升，相和如糊，分作三服。</p>
<p>又方用蓽澄茄為末，米和丸薑湯下，仍服平胃散三十帖。</p>
<p>又方以年深蜆爛殼為白灰，米飲調下一錢。蚌殼亦可。</p>
<h2>氣症門</h2>
<p>悍怒不息之謂氣，觸動七情何所治，古人作用七氣湯，厚朴、陳皮為上劑。木香半夏大腹皮兩薑子大古四七湯　治喜、怒、悲、思、憂、恐、驚七氣，結成痰涎，狀如破絮，或如梅核，在喉中咯不出，噎不下；或脘中痞滿；或痰涎壅盛，上氣喘結；或痰飲中阻，嘔逆惡心。</p>
<p>半夏五兩　茯苓四兩　厚朴三兩　紫蘇二兩薑棗煎服。梅核氣，加桔梗、枳實（一方加檳榔）；思慮過度，小便白濁，此方下青州白丸子分心氣飲　治抑郁之氣，留滯不散，胸膈痞滿悶，脅肋虛脹，噫氣吞酸，惡心頭眩，口苦舌乾，飲食減少，大腸虛閉等證。</p>
<p>紫蘇二兩　青皮　陳皮　大腹皮　桑白皮　羌活各五錢　半夏　木通各三錢半　赤芍三錢官桂　甘草各二錢半分五劑薑棗燈心煎服。性急加柴胡；多怒加黃芩；食少加砂仁、神麯；咳嗽加桔梗、半夏；痞甚，加枳實、香附；三焦不和，加烏藥；氣閉，加萊菔子、枳殼；上焦熱盛，加黃芩；下焦熱盛，加梔子；翻胃，加沉香（磨服）；水氣面浮，加豬苓、澤瀉、車前、木瓜、葶藶、麥冬；氣成塊，加三棱、莪朮。</p>
<p>余論軒岐論，諸痛皆因於氣，遂有九氣之說。其言曰：喜則氣緩，怒則氣上，悲則氣消，思則氣裡，舉之九氣行中行胃尚當加減正氣散見臌脹。青州白丸子見中風。</p>
<h2>傷風門</h2>
<p>肺受風寒鼻作壅，咳嗽頭痛聲氣重，夾氣發熱汗有無，甚者渾身骨節痛。加味香蘇飲可劫，之，活，參蘇飲（詳咳嗽）　香蘇散（見傷寒）</p>
<p>余論傷風為病似輕，人多有犯之者，精神壯健亦能自愈，然病根終藏身內，不如早散之為是。</p>
<h2>傷寒門</h2>
<p>霜降節後春分前，冒寒即病曰傷寒，春變溫兮夏變暑，六經之證須分看。頭項痛兮腰脊強，安。</p>
<p>緩，堪，風，功。</p>
<p>加白朮，陽明鼻干燥，頭疼及眼眶，惡寒兼不寐，身熱用何方，柴葛解肌好，黃芩白芷羌，桔梗甘草身熱而渴自汗出，陽明症候微洪脈，如神白虎石膏先，參連知味陳粳粒，麥冬梔草共天花，柴胡雙解飲，專治少陽經，夏草芩參葛，陳皮芍茯苓，先同薑棗煮，百合再前成，隨症還加太陰腹痛咽無澤，手足漫暖脈沉實，熱邪本是太陽傳，桂枝大黃湯可覓，柴朴枳實芍藥甘，太陰腹痛便溺赤，燥渴譫語脈有力，溫熱發黃熟治之，茵陳將軍湯枳實，山梔甘草朴黃芩，熱結膀胱旋不利，須用五苓加味治，澤豬茯術桂枝甘，瞿滑梔仁燈草濟，黃者茵陳渴天花，傷寒熱邪傳於裡，少陰厥陰證見矣，心腹堅滿繞臍痛，煩躁咽乾並譫語，或發斑黃與狂亂，陽毒熱深脈洪大，三黃石膏湯最快，芩連梔柏豉麻黃，薑棗芽茶煎服泰。去麻豉加實硝黃，桃仁承氣，對子桂枝，枳實硝黃，柴胡青草，芍相當，棗二薑三同放，捶入一錢蘇木，能除傷寒熱甚雖不死，兩感傷寒漫料理，一日太陽少陰病，腹痛口乾煩飲水，二日陽明合太陰，人，佐，入，甘草連膏知母在，大便實者要將軍，煎用水薑並棗子，服時加入醋調勻。鼻衄不止芩連湯，康。</p>
<p>燥欲漱水水不下，淤血發狂誠可怕，加味犀角大地黃，玄參實桔當連化，丹皮赤芍放紅花，瘥後昏沉身熱渴，錯語失神勞復發，柴胡百合草知母，芍共參與芩鱉甲，生地搗汁加一匙，寒邪直入陰經血，並無頭痛與身熱，初起止則怕風寒，倦臥腹痛渾身厥，吐利不渴脈沉遲，回陽急救湯，桂附茯乾薑，參朮陳甘味，真寒服此良，水調薑汁煮，更可入澄漿。</p>
<p>陰盛格陽時發躁，脈來沉伏如何療，回陽返本附參苓，麥冬五味童男溺，桂心國老射炮薑，調蜜二匙冷服妙。</p>
<p>汗下肉潤並筋惕，衛虛亡陽脈有力，溫經益元湯止之，黃　薑附歸參朮，芍藥甘草生地黃，棗薑粳米同煎啜。</p>
<p>痙症有藥如聖飲，羌防參朮甘柴引，枳殼芍藥白芷芎，有汗無汗須詳審。有汗去殼加桂枝，無汗增麻將術損，口噤切牙加大黃，手足攣搐當歸本，原知此症胸有痰，薑汁竹瀝功有敏。</p>
<p>三月時候得寒疫，頭疼身熱脈有力，惡寒體痛口渴者，此名晚發宜消息。六神湯內藥七味，麻草芩蒼膏澤細，表證薑蔥豉豆煎，裡證檳榔磨入劑，頭痛甚者加川芎，身體痛時羌活濟，若然大渴加天花，隨症損益難拘泥。</p>
<p>加味理中湯藥，專攻夾食傷寒，頭疼身熱不惡寒，氣口緊盛脈見青白，砂仁朴實，橘紅草果，蒼甘水薑，萊菔子同煎，霍亂亦宜此散。</p>
<p>少陰證似太陽，脈息沉遲可預防，身熱惡寒頭不痛，急投麻附細甘湯，芍藥參連同作劑，五味七粒捶煎湯。</p>
<p>傷寒脅痛胸滿狹，心悸嗽痰脈沉滑，二陳湯沸實桑柴，貝母苓豬桂枝發，杏仁數粒臨加服，再煮一服乘熱呷。</p>
<p>神效安神益智，消除瘥後虛煩心悸，微熱未能安，乏力四肢沉倦，六七日來，昏　別無刑克相干，脈俱沉，服果何然，必有將來正汗人，茯柴門地遠竹茹，知味當甘，仍將薑汁炒黃連，熱服更無余患。</p>
<p>狂言煩躁身無熱，精采與常人各別，勿將寒藥作狂醫，此是如狂證親切，治之惟有桂枝湯，枝柏甘□□膀胱，澤瀉燈心二十數，加薑煎服人安康。女勞復有陰陽易，其症大熱並錯語，小腹絞痛人昏沉，足不能移頭不舉，眼中生花百節解，熱氣衝胸難料理。男人陰腫刺小便，婦人腰痛並裡急，病患新瘥與之交，無病患病為之易。</p>
<p>女勞復因勞太早，逍遙湯可涓其疾，犀角地茯參韭知，連草竹青柴滑石，薑三棗二水二鐘，燒取　襠錢半入。</p>
<p>傷寒下利純清水，心痛熱渴並譫語，腸胃燥尿結於中，非是內寒而瀉起，自飲湯藥大便溏，可笑庸醫呼漏底，結實利者黃龍湯，參柴枳實朴硝黃，國老芩歸急煎取，鐵鏽水調乘熱嘗。</p>
<p>勞力內傷血氣，因而外感風寒，頭痛身熱腿中酸，微渴憎寒自汗，其脈浮而無力，須知發表為難，調榮養衛病方痊。參朮芍歸可選，柴草羌防辛地，陳　蔥白須連，還投薑棗一同煎，隨症自增減。</p>
<p>循衣摸床，譫語昏沉，　手冒心，肝風肺火。兩相因，致使撮空牽引，湯號清金散火，芩連橘草歸參移，將芍藥種柴門，薑棗金銀煎飲。若或內兼痰症，薑炒半夏宜尋，大便燥熱語無倫，一著將軍妙甚。</p>
<p>惡寒脊強頭疼熱，再三發表汗不泄，無陽之證醫不知，孟浪取汗用火劫，再造飲子羌活參，桂防術附甘辛勤，佐以芎　炒白芍，棗薑煎入童便勻，夏月必須去附子，石膏知母宜相親。</p>
<p>內傷血鬱肝與脾，熱渴譫語神昏迷，身不惡寒頭不痛，勿將寒藥誤投醫，病多夾血如見祟，泥。</p>
<p>七情內傷痰氣鬱，痰若盛時心竅塞，挾痰有時見鬼神，氣喘沫涎口中出，加味導痰湯可涓，二陳枳朮並芩連，星術栝蔞水薑煮，竹瀝薑汁收功全。</p>
<p>傷寒熱邪傳於心，心火炎上逼肺金，神昏如醉不能語，或時獨語二三聲。心下不痞腹不滿，目赤唇焦何可禁，二便如常無所苦，身體又無寒熱侵，湯水與之即咽下，不與則亦不思尋，須知此是越經證，瀉心導赤湯宜斟，芩連梔草門冬茯，知母滑石犀人參，燈心薑棗共煎飲，生薑搗汁三匙侵。</p>
<p>傷寒汗下太過，元陽虛極無根，脈來虛數語無倫，熱渴面生赤暈。此號戴陽惡證，益元湯治如神，麥冬芍附草苓參，知母童便連飲，煎用棗薑活水，蔥頭搗汁調勻。</p>
<p>傷寒六經正病太陽則頭痛身熱脊強，陽明則目痛鼻干不眠，少陽耳聾脅痛寒熱，嘔而口為之苦，太陰腹滿自利，尺寸沉而津不到咽，少陰舌乾苦燥，厥陰煩滿囊縮。</p>
<p>傷寒脈訣傷寒把足六經詳，浮洪緊澀中太陽，傳變名狀應須記，少陽弦緊陽明長，太陰入理沉遲脈，太陽無汗，麻黃為最，太陽有汗，桂枝可先。小柴胡為少陽之要藥，大柴胡行陽明之閉堅，傷寒一日二日，宜發表而散，三日四日，宜和解而痊，五六日，方可議下，七八日不愈，又復再傳。</p>
<p>三陽七十二證總訣羌獨前柴梗殼芩，升荷芍草葛芎苓，還加蒼朮水煎服，三陽七十二證寧。</p>
<p>三陰七十二證總訣芎歸芍附桂麻黃，青陳夏朴草芩蒼，枳殼桔梗薑共棗，三陰七十二證康。</p>
<p>三陽三陰總法治凡值傷寒不問表裡，用敗毒散，五積散，各一劑。春三月加香蘇散，夏三月加五苓散，秋三月加金沸草散，冬三月加十神湯，或小柴胡湯。上依時將所加藥和雜，每服三錢重，水一盞半，薑三片，棗二枚，煎八分，去渣熱服。不拘時服。此方得之明醫，斟酌三陰三陽證候，以便救人。總治時行傷寒，不問陰陽輕重，老少男女孕婦，一同治之。</p>
<p>歸一同治之（有汗者不用）。</p>
<p>白芷一兩　生甘草五錢　薑三片　蔥白三根　棗二枚　豉五十粒。水二碗煎服取汗，不汗再如煎又治傷寒二毒及時行瘟疫等症。</p>
<p>用蒼朮一斤（淨洗焙乾）　甘草四兩（生用）。二件搗，羅為末，每服二錢，以熱蔥湯投之，出治傷寒七方發熱惡寒身體痛，脈浮無汗怎生醫，十神五積香蘇散，有汗傷風用桂枝。</p>
<p>四五日來口舌乾，發熱身痛臥不安，先服人參敗毒散，小柴胡湯在後番。</p>
<p>七八日來熱在內，口渴心煩腹脹匯，小便赤少大便難，大柴胡湯好通利。</p>
<p>發熱口乾大便泄，小便赤少心煩結，小柴胡湯兼五苓，加上黃連真一絕。</p>
<p>汗下之後病不解，依然熱渴如見怪，解毒湯兼小柴胡，諸般熱病皆無礙。</p>
<p>傷寒病後復如初，半夏枳實橘紅呵，參粳麥柴酸棗草，竹茹薑棗功效多。</p>
<p>病後虛乏最堪憂，此症如何得可療，四物東加桂　草，薑棗煎來可免憂。</p>
<p>上訣俱李君賓經驗授余者，余集古方注於下，以見立方之有本云。</p>
<p>十神湯治兩感及時行瘟疫無汗者。</p>
<p>紫蘇　香附　陳皮　甘草　干葛　赤芍　升麻　白芷　川芎　麻黃各五分薑蔥煎服。</p>
<p>香蘇散治四時感寒頭痛發熱。</p>
<p>香附　紫蘇各二錢　陳皮一錢　甘草五分薑蔥煎服取汗。頭痛甚者加芎、芷，無汗加麻黃。</p>
<p>人參敗毒散治頭痛壯熱鼻塞聲重，及風痰咳嗽四時瘟疫諸般瘡毒。</p>
<p>人參　桔梗　甘草　川芎　茯苓　枳殼　前胡　柴胡　羌活　獨活各等分每服一兩，生薑薄荷煎服。嗽加半夏，口乾加黃芩，熱毒加連、芩、梔、柏，風熱加荊、防黃連，瘡毒去參加金銀花、連翹。</p>
<p>瓜蒂散治夾食傷寒痰塞胸膈宜吐者。甜瓜蒂、赤小豆各一錢。分二服，淡豆豉煎湯下，以度。吐去膈痰，宿食而安。</p>
<p>五積散（見中寒）　正氣散（見霍亂）　金沸草散（見嗽）　小柴胡湯（詳熱）又四時感冒單方　生蔥白連須五根，搗爛滾酒沖服。</p>
<p>附：治瘟疫。左脈大於右脈，緩而盛，按之無力，眾人病一般者。</p>
<p>二聖救苦丸　大黃四兩（酒蒸）　牙皂二兩上為末，面丸如綠豆大，每服四十丸，綠豆湯下，大汗為效無憂散余論有汗非傷寒，身有痛處便非傷寒，春分後冬至前，悉非傷寒，蓋傷暑、香港腳、時行瘟疫等，類傷寒者極多，最宜詳辨，不可遽用麻黃湯，所關非小，故又抬出之。</p>
<p>四季感冒方　蒼朮（米泔水浸過）三錢　甘草三分　薑五大片　連須蔥五根　春夏加荊芥穗一</p>
<h2>中寒門</h2>
<p>中寒傷寒殊非一，傷則漸深中直入，或因外受肅殺氣，或因內傷生冷物，猝然口噤並失音，四肢強直不知人，脈來沉軟而無力，加味理中湯可尋，參朮乾薑並肉桂，茯陳甘草半細辛。</p>
<p>加煨生薑五大片，服入薑汁一盞半，仍用薑渣炒極熱，絹包腹上熨有驗。惡寒甚者麻黃加，加泡附子去皮臍，依舊加薑並薑汁。但見目紅知附毒，解之汁取生蘿卜，犀角甘草及黃連，急救中寒　倉猝無藥，急用蔥白一大束如茶盞口大，用紙卷緊，快刀切一指濃片置臍上，以理中湯、治中湯、補中湯、薑附湯、四順湯、四逆湯，治五臟中寒，口噤失音，四肢強直；皆效附子理吐透方瀉泄；補中東加附一錢，治溏泄，加砂仁一錢，治米穀不化；去白朮，加附子，名四順湯，治霍亂、心腹痛、手足厥冷；去參朮，加附子，名四逆湯，治即病太陰及三陰諸證，自病不渴，脈微欲絕，四肢厥冷；去參、朮回陽救苦丹　治傷寒初起，不頭痛，不身熱，就怕寒，四肢逆冷，或過肘膝，或腹痛，或口為加五積散（生料）　治感冒寒邪，頭痛身疼，強硬拘急，惡寒吐嘔，或腹痛。又治傷寒發熱，頭快。</p>
<p>陳皮一錢　厚朴　桔梗　枳殼　白芍　白茯苓　當歸　乾薑　麻黃各八分　白芷　川芎半艾醋，足腫加五加皮、大腹皮，風痹加羌活、獨活、防風，腰痛加牛膝、杜仲、小茴香，手足拘攣加檳榔、木瓜、牛膝，咳嗽加杏仁、桑白皮、馬兜苓，遍身疼痛加乳香、沒藥、細辛，難產加麝香、交桂，此藥氣味辛溫，開防風通聖散（見中風）為治熱燥之聖藥。</p>
<p>生料五積散　為治寒濕之聖藥。</p>
<p>順氣散（方見中風）　平氣散（方見）　檳榔散（方見）　通聖散（方見）</p>
<p>余論丹溪云：中寒由內傷者，十居八九，必先用參、　，托住正氣。戴氏云：身受肅殺，口傷生急溫中氣　星香散（見猝中）　四七湯（見氣）</p>
<p>八味順氣散　凡中風中食俱宜先服此藥，順其氣而後治風消食。</p>
<p>青皮　陳皮（俱去白）　香白芷　天台烏藥各五分合四君子煎服。</p>
<h2>中風門</h2>
<p>風為天地之浩蕩，或中腑兮或中臟，或中血脈或中經，善行數變難名狀。腑中風邪著四肢，知，虛，防，花，桂。</p>
<p>芎，柏。</p>
<p>急救凡見中風、中氣昏倒者，倉猝之際，急以手大指，掐其人中即醒。如不效，用通關散吹鼻，即提起其頭，有嚏可治。如口噤不開，用化風丹擦之，口開即多灌香油，或加麝香少許，或用紫金丹，酒磨服。或用瓜蒂散，或用生礬二錢，薑汁灌之。壯者用油吐之，老人以蝦汁煎參、　、防、桔吐之。得吐即生。</p>
<p>通關散治牙關緊急，湯水不入。天南星、半夏、牙皂各五錢。為極細末，用少許吹入鼻，可治，無嚏不可治。</p>
<p>化風丹（此方居家宜備）</p>
<p>治中風痰厥，風癇牙關緊急，及小兒驚風搐搦，角弓反張，發熱痰嗽膽星二錢（如無即用牛膽制之）　天麻（煨）　防風（去蘆）　荊芥穗　羌活　獨活（去蘆）　人參（去蘆）　細辛　川芎各一錢　木香五分煉蜜丸如芡實大，朱砂為衣，薄荷煎湯研化服。因氣惱，用紫蘇湯化服。如牙關閉，用少許擦牙即開。</p>
<p>青州白丸子治男婦手足癱瘓，風痰壅盛，嘔吐痰沫，及小兒驚風。</p>
<p>半夏七兩（白者泡過）　南星（生用）　白附子各二兩　川烏頭五錢（炮去皮臍）為極細末，以生絹袋盛之，於井花水內擺出其有未出者，再研擺，以盡出為度。置瓷盆內，日晒夜露，每晨換水攪而復澄（春五夏三秋七冬十日），去水晒乾如玉碎研，用糯米粉煎粥清為丸，綠豆大。癱瘓風濕酒送下二三十丸，小兒驚風，薄荷湯下三五丸。</p>
<p>攝生飲治一切中風、中寒、中暑、中濕，及濕厥、氣厥、不省人事，初作即服神效。</p>
<p>南木香　南星（濕紙煨）　半夏（滾水泡）各一錢五分　蒼朮　甘草　遼細辛　石菖蒲各一錢　生薑七片煎服。痰盛者，加炙全蠍二枚。</p>
<p>烏藥順氣散治風氣攻注、四肢骨節疼痛、麻痹、癱瘓、語澀、筋攣，步履艱辛，腰膝軟弱，及婦人血氣，老人冷氣，胸膈脹滿、刺痛，腸鳴吐瀉。夫治風先理氣，氣順則痰消，凡氣滯氣鬱之類，皆可治。</p>
<p>烏藥　麻黃（去節）　陳皮（去白）各二錢　川芎　白芷　僵蠶（炒）　枳殼（去瓤麩炒）　桔梗（去蘆）各一錢　乾薑（泡）五分　甘草（炙）三分薑棗煎服。憎寒壯熱，加蔥白；遍身搔癢，加薄荷；手足拘攣，加木香、石斛；濕氣，加蒼朮、白朮、檳榔；足浮腫，加牛膝、五加皮、獨活；遍身疼痛，加當歸、肉桂、乳香、沒藥黃，加黃　倍乾薑；胸膈脹滿，加枳實，莪朮；頭眩，加細辛、細茶；腳不能舉動，加羌活、防風、麝香；心腹敕痛，加小茴香；手足不能舉，頭項不能起，加川續斷、威靈仙；陰囊浮腫，合五積散；四肢冷痹，加川附子、官桂、秦艽；久患癱瘓，去麻黃、乾薑，加天麻、防風、羌活、半夏、南星、木香、當歸；麻痹作痛，加天雄、細辛、防風；婦人血風，加防風、荊芥、薄荷；臂痛，加羌活、防風、蒼朮、紫蘇、薄桂；氣滯腰痛，加桃仁，入酒煎服；背心痛，合行氣香蘇散，加蒼朮、半夏、茯苓；口眼　斜，加薑炒黃連、羌活、防風、荊芥、竹瀝、薑汁；麻痹疼極者，合和三五七散；日夜疼痛，日輕夜重者，合神秘左經湯；二三年不能行者，合獨活寄生湯。</p>
<p>小續命湯（惟真中腑者用）</p>
<p>治卒暴中風，痰涎盛壅，外有六經形證，宜發表者。</p>
<p>麻黃（去節）　杏仁（泡去皮）　官桂　曰芍藥　川芎　防己　黃芩　人參　甘草（炙）</p>
<p>各二錢四</p>
<p>《內經》曰：開則淅然而寒，閉則熱而悶，知暴中寒邪，宜先以續命湯，隨證加減治之。</p>
<p>風中太陽經，無汗惡寒，倍麻、杏、防風；中太陽，有汗惡風，倍桂、杏、芍；中陽明，身熱有汗不惡風，倍桂、芩加干葛；中太陰，無汗身涼，倍附子，加乾薑；中少陰，有汗無熱，倍桂、附、草；中風無此四經，六證混雜，系於少陽、厥陰，或肢節攣痛，麻木不仁，倍加羌活、連翹；大法春夏，加石膏、知母、黃芩；秋冬，加官桂、附子、芍藥；有熱以白附子易黑附子；筋急拘攣語遲弦，加薏苡仁；筋急，加人參，去芩、芍，以避中寒，服後稍輕，加當歸；煩躁不大便，去附、桂，倍芍加竹瀝；三日不大便，胸中不快，加枳實、大黃；言語謇澀，手足戰掉，加石菖蒲、竹瀝；發渴，加麥冬、天花粉、葛根；熱而渴，加秦艽；身痛，加羌活，搐亦加之；煩躁多驚，加犀角；多怒，加羚羊角；恍惚錯語，加茯神、遠志；不能言，加竹瀝；失音，加石菖蒲；頭痛如破，加羌活；骨節痛有寒濕，倍附、桂；嘔逆腹脹，加半夏、人參；腳膝弱，加牛膝、石斛；腰痛，加桃仁、杜仲（薑汁炒）；不睡，加酸棗仁；痰多，加南星；肥人多濕，加烏、附、行經（童便制）；臟寒下痢，去防己、黃芩，倍附子，加白朮；狂妄，加白朮，倍麻黃、人參、桂枝；自汗，去麻、杏，加白朮。</p>
<p>三化湯（中者用）外有六經之形證，已服加減續命湯，尚有便溺阻隔宜用。</p>
<p>厚朴（薑汁炒）　羌活　大黃　枳實各等分薑煎服。如不利再服，以微利為度。如內邪外邪已除，宜服愈風湯，以行中道。凡中血脈中腑之病，忌驟用龍腦、麝香、牛黃，蓋麝入脾，黃入肝，腦入骨，恐引風入內也。</p>
<p>羌活愈風湯（中濕者用）　肝腎虛，筋骨弱，語謇澀，精神昏，濕熱體重，或痰而一肢偏枯，或肥而半身不遂。大抵心勞而百病生，此藥能安心養神，調理陰陽，使無偏勝。</p>
<p>生地　石膏　蒼朮各六分　柴胡　防風　人參　當歸（皆去蘆）　細辛（去苗）　枳殼（麩炒）　地骨皮（去骨）　厚朴（薑製）　羌活　獨活　白芷　前胡　防己　甘草　黃芩　白芍白茯苓　蔓荊子　熟地　川芎　麻黃　薄荷　甘菊　知母　黃　杜仲　秦艽　半夏枸杞子以上各四分　桂枝一分遇天陰加薑三片，空心服頭煎，臨臥服二煎。此常服之藥，當加四時之輔。大寒後，即加半夏、柴胡、人參；穀雨後，即加石膏、黃芩、知母；季夏，加防己、白朮、茯苓；大暑後，即加厚朴、藿香、官桂；霜降後，即加附子、官桂、當歸。五臟專治（出良方選，凡風入臟肝臟岐伯曰：春甲乙傷於風者，為肝風。筋脈拘攣，手足不收，風入肝坐踞不得，胸背強直，脅射干湯治肝經受病，善悲嗌干，善怒。女子目下青黃色可治，急灸肝　百壯，更宜行經順若目下大段青黑，一黃一白不治。</p>
<p>薏苡仁三錢　射干　芍藥各二錢半　牡蠣　石膏各二錢　桂心五分水煎溫服。</p>
<p>犀角散治肝風流注四肢，上攻頭面，上焦風熱，口眼　斜，語言謇澀，腳膝疼痛無力。</p>
<p>犀角　石膏各二錢　羌活　羚羊角各一錢半　人參　甘菊　獨活　黃芩　天麻　枳殼（去瓤麩炒）　當歸　黃　芎　白朮　酸棗仁　防風　白芷各五分　甘草三分薑棗煎服。</p>
<p>又方治肝風煩熱，語澀不得臥。</p>
<p>竹瀝　荊瀝　葛根汁　薑汁　白蜜各一合不拘時服。</p>
<p>心臟岐伯曰：夏丙丁火，傷於風者，為心風。多汗惡風，善怒，神亂，語澀，舌強、口乾，面赤，頭疼，翕翕發熱，胸背拘急，手心熱甚，偃臥不得，傾側忪悸不安。</p>
<p>遠志湯治心經受病，善怒，口不能言，偃臥不可傾側，悶亂，胃絕者。其唇色正赤，尚可急灸心　百壯。或青黃不定面色，　戰栗動者，不治。</p>
<p>白朮　赤芍各一兩　石菖蒲　羌活　細辛　麻黃（去根）各五錢　人參　遠志（去心）</p>
<p>各二錢半麻黃散治心風、心驚、聲濁、口　、冒昧好笑。</p>
<p>羌活　茯神　遠志各一錢半　白朮　防風　川芎　漢防己　當歸　人參　甘草　麻黃（去節）各一錢　升麻八分　桂心五分薑煎入竹瀝半盞，再煎一二沸服。</p>
<p>脾臟岐伯曰：季夏戊巳，傷於風者，為脾風。多汗惡風，四肢怠惰，色微黃，不嗜食，言語謇澀，口　僻，肌膚不仁，腹膨心煩，翕翕發熱，神思如醉，其脈浮緩。</p>
<p>白朮湯治脾經受病，體倦通身黃，口吐咸水，不能飲食。口角兩邊黃者可治，急灸脾　百目下及手足青者不治。</p>
<p>白朮三錢　厚朴（薑製）　防風各二錢　附子（泡去皮臍）　橘紅　白蘇皮　五加皮各一錢。生薑煎服。</p>
<p>獨活散治脾風胸滿、痰盛、語澀、發熱、志昏。</p>
<p>獨活（去蘆）一錢五分　防風　茯神（去木）　人參　附子（泡去皮臍）　前胡　沙參　半夏（湯洗七次）　黃　旋覆花　甘草（炙）　羚羊角各一錢生薑煎服。</p>
<p>肺臟岐伯曰：秋庚辛，傷於風者，為肺風。主氣，氣為衛，行於表，循於皮。若衛氣虛少，風邪相搏，則胸滿短氣，謂金不能制木，肝肺相克，胃悶汗出，噓吸顫掉，聲嘶體重，其脈浮弦。</p>
<p>五味子湯治肺經受病，時咳氣短，晝瘥夜甚，偃臥胸滿，其鼻兩邊下至於口，上至於眉，急灸肺　百壯。若色黃，其肺化血，不治。若撮空指地，循衣摸床，俱不治。</p>
<p>防風　甘草（炙）　川芎　赤芍各二錢　五味子　杏仁（炒去皮尖）　桂心各一錢　川椒三分水煎溫服。</p>
<p>腎臟岐伯曰：冬壬癸，中於風者，為腎風。腎氣虛弱，風邪侵之，踞而腰疼，不便俯仰。或兩耳萆　散治腎經受病，多汗惡風，面浮脊疼，坐而腰痛。其脅上下左右，赤黃如餅，可治。</p>
<p>腎百壯。齒黃，須發直，面如土色，不治。</p>
<p>萆　（酒浸）　狗脊　杜仲（炒去絲）　白茯苓（去皮）各一兩　何首烏　天雄（炮去皮臍）　澤瀉祛風至寶丹治諸風熱。</p>
<p>滑石三兩　當歸　川芎各二兩半　朱砂（飛過為衣）　甘草各二兩　防風　芍藥各一兩五錢　白朮一兩三錢　獨活　羌活　天麻　石膏　黃芩　熟地　人參　桔梗各一兩　梔子六錢荊芥穗　全蠍（去毒）　細辛　連翹　薄荷　黃連　黃柏　麻黃　大黃　芒硝各五錢二十七味，煉蜜丸如彈子大。臨臥細嚼一丸，茶酒下。熱甚去參、朮、川芎，加苦參、細茶，鹽梅，薄荷湯下。痛甚倍苦參。</p>
<p>精神解語湯治中風痰迷心竅，舌強不能言，口眼歪斜，半身不遂。</p>
<p>四物二陳加麥冬　遠志（去骨甘草水泡）　南星（同半夏、白芍俱用生薑、牙皂煎湯浸三日）　枳實（麩炒）　烏藥　黃連（薑汁炒）　防風　羌活　石菖蒲　生薑　竹茹煎好再入薑汁、竹瀝、童便服。頭痛加蔓荊、細辛、白芷。</p>
<p>遠志膏治中風不能言。遠志三兩，甘草（水泡不去骨）。為末，雞子清調敷，天突、咽喉、心三處。</p>
<p>訶子清音湯治失音不語。訶子四十九粒（半生半泡），桔梗一兩（半生半炒），甘草二錢（半生半炙）。</p>
<p>每服七錢，用煎熱童便一大碗調服，三四服見效。</p>
<p>丹方治風癱　用土茯苓四兩（木捶碎）　五加皮八分　牛膝肉　皂角刺各六分水三碗，煎二碗，食遠服。渣煎七分，臨臥服。忌牛肉、茶、醋、燒酒、麻油。</p>
<p>治半身不遂歌曰：牛膝去蘆藏鴨肚，重湯煮服病相宜，淨除牛膝存湯鴨，每日常餐功效奇又方當歸、五加皮各四兩，黑料豆半斤。若加牛膝、木瓜、桑寄生更妙。頭燒酒三十斤浸早晚服之。</p>
<p>又方番白草一味，煮酒飲之，效如神。治口眼歪斜方細說：合成妙藥臉間貼，先搗蓖麻子仁，再調一味　魚血，歪左之時貼右邊，右邊歪口左敷曳，胎斜扶正救民災，何必私心藏訣。</p>
<p>又方用生南星研末，青布包，放在手心，以熱酒壺底熨之。朝右熨左手，朝左熨右手。</p>
<p>治產後驚風及傷寒，角弓反張　歌曰：大麥田中麥梗灰，先燒存性取將來，滾水淋湯乘熱服，重棉取汗立時回。</p>
<p>治失心風（乩授方）　莫說瘋癲莫說狂，今朝留下草頭方，香圓葉是驅痰藥，桐樹枝名降火湯。竹翠木瓜皆有益，金萱黃菊兩無傷，撮來件件俱仙餌，一笑天然樂壽長。</p>
<p>又方不落水豬心一個，竹刀割開入辰砂（飛過，末）三錢半，用麻線扎定，外用面包煨熟，取朱砂乘熱為丸。每服甘草湯下五分，七日服完。其豬心任意之，屢驗。</p>
<p>余論</p>
<p>《內經》曰：風善行而數變，或為熱中，或為寒中，或為寒熱，或為癘風，或為偏枯。</p>
<p>至於猝暴僵仆，四肢不舉者，無所論，只有偏枯一語而已。千金引岐伯曰：中風大法有四，一曰偏枯（半身不遂，知與有常），二曰風痱（四肢不收，微有知覺），三曰風懿（不知人事），四曰風痹（麻痹不仁）。金匱中風篇曰：寸口脈浮而緊，緊為寒，浮為虛，寒虛相搏，邪在皮膚，　僻不遂，邪在於絡，肌膚不仁；邪在於經，即時不勝；邪入於腑，即不識人；邪入於臟，舌即難言，口吐涎沫。故偏枯等證，每用大小續命排風等湯，以散之。河間曰：以火暴甚，腎水虛衰，不能制之，熱氣拂鬱，心神昏冒，筋骨不用。又因喜、怒、思、悲、恐五志過極，而猝中，其主在熱。東垣曰：中風者，非外來風邪，凡人年逾四旬，傷其氣者，多有此疾。少而肥盛者，間有之，亦是形盛氣衰之故，其主在氣。彥修曰：西北氣寒，為風所中，誠有之矣，東南氣溫，而多濕，其病者非風也。濕生痰，痰生熱，熱生風也，其主在濕。丹溪曰：有氣虛，有血虛，有痰甚，皆以風為虛象，究而論之。古書所載，言其證也。</p>
<p>河間以下諸論，言其因也。所謂外中風邪者，必由元精虛弱，榮衛失調，而後感之。所謂因熱，因氣，因濕者，未必絕無外邪而作也。治之之法，急則治標，緩則治本。如初病暴仆，不省人事，痰涎壅盛，急用通關散，化風丹，以開之。舌強不語，兩寸口脈浮大而實者，急吐之，以遏其勢。或人迎緊盛，六脈浮弦，用小續命湯表之。其中於臟者，各隨其經而理之，所謂急則治其標也。其或早覺於未發之前，與調治於稍平之後，則清其熱，化其痰，補其血與氣，各治其所，因</p>
<p>《脈訣舉要》曰：中風脈浮滑，兼痰氣，其或沉滑，勿以風治。蓋外有痹痿，氣厥，脾虛，傷食，及吐太過，皆令人猝倒，四肢不舉。而中氣尤酷，似中風，當慎察脈理。浮弦緊洪，為中風，沉伏為中氣，若中氣而用風藥，殺人矣。若辨別未清，寧先用順氣散，次用疏風藥，蓋治風，亦宜理氣也。</p>
<p>治破頭風　蒼朮（火燒）、草烏，共為末，溫酒服之，汗出為度。</p>
<p>又方魚膠，燒存性，研末，調熱酒服之，愈。</p>
<p>治男婦氣血衰弱，痰火上升，左癱右瘓，臂體手足疼痛等症　以人乳二酒盞，香甜白者為佳，以梨舂汁一酒盞，傾放銀錫器，入湯內燉滾熱，有黃沫起開青路為度。每日五更後一服，能消痰補虛，生血延壽，乃以人補人，其效無如。即半身不遂者，曾服此方亦效。</p>
<p>固本酒　生地黃二兩　熟地黃二兩　天門冬一兩　麥門冬二兩　白茯苓二兩　人參二兩用瓷瓶盛好酒十大壺，將前藥切片入內浸三日，用文武火煮一二時，以酒黑色為度。如上熱去人參五錢，如下虛寒，將韭子炒黃色，為細末，空心服三五盞，每盞用炒末一錢或五分，妙難盡述。忌蘿卜要緊。</p>
<p>治痰　橘皮（用真洞庭陳者，溫水浸，去穢白，取紅一片），甘草四兩，鹽四兩。用水五碗，慢火煮，焙乾為末，白湯點服。世醫但知用半夏、南星等類，何足語此。</p>
<p>治痰厥方（厥甚者，以吐為上）半夏八兩，防風四兩，甘草二兩（炙）。共為細末，每服三錢，治中風失音　並一切風疾。用白僵蠶七枚為末，用酒調服，立效。</p>
<p>治中風　或吐瀉，牙關噤，不能下藥。用白楊末，不拘多少，揩牙立開，因酸能收斂，齒必開也。</p>
<p>治偏風　手足不遂。用仙靈脾一斤，細銼，絹袋兜浸酒，春夏三日，秋冬五日，重重封閉，勿使失氣，逐漸開飲，常令熏熏，不得大醉，久之無不效驗。合時切忌雞犬見。</p>
<p>鬱金丸　治癲狂數年不愈。鬱金七兩（真蜀地來者佳），明礬□兩。為末，薄荷湯水送下。或治中風　通身冷，口噤不知人者。獨活四兩（去蘆）、用好酒四大盞煎，分二三次，熱服。史國公藥酒方　專治風痰半身不遂，手足攣拘，不堪行步等症。</p>
<p>防風（去蘆）二兩　秦艽（去蘆）二兩　當歸二兩　羌活二兩　白朮二兩　虎脛骨（碎炙）一對　萆　（碎炙）二兩　鱉甲二兩　川牛膝（去蘆）二兩　油松節（捶碎）二兩　杜仲（薑汁炒）　晚蠶砂（炒黃色）二兩　蒼耳子（捶碎）四兩　枸杞子五兩　干茄根（飯上蒸熟）八兩上以布袋盛大壇內，下好酒三十六斤，封口，浸十四日，將壇入鍋，懸煮三炷香，埋土內三日，去火毒。</p>
<p>每日辰午晚，隨量飲之。</p>
<p>都梁丸　治頭風疼，甚效。用白芷洗淨，煉蜜為丸，如彈子大。每服以荊芥煎湯調服。</p>
<p>若因虛頭疼，以人參一兩，川芎五錢，煎湯服，甚妙。</p>
<h2>傷暑門</h2>
<p>脈虛身熱傷暑病，暑入口齒心主應，大渴倦怠背惡寒，自汗毛松心煩悶，四肢微冷吐瀉兼，之。</p>
<p>加上柴胡因熱身，元氣不足共參　，嘔加半夏須薑炒，渴用天花此最宜。小水不利或短赤，澤瀉山梔加入歟，或自汗兮或水瀉，升麻白朮總相宜。頭痛川芎石膏好，痰悶栝蔞枳實隨，俱可益元散常服，熱渴虛煩效更奇。（古香茹散，惟茹朴豆。後加連，後又加合君子，名八味。加黃連、　、木瓜，名十味）</p>
<p>藿香正氣散（見霍亂）</p>
<p>消暑丸　半夏（醋煮）一斤　甘草（生）　茯苓（去皮）各八兩薑汁煮糊丸，如桐子大。</p>
<p>熱湯五十丸，中暑藥下即蘇。傷暑發熱頭疼尤效。夏月常服止渴利小便，諸方概不及此，痰飲停積，並用薑湯下。</p>
<p>水葫蘆治暑毒，解煩渴。</p>
<p>川百藥煎三兩　麥冬　烏梅肉　白梅肉　干葛　甘草各五錢　人參二錢面糊丸，如芡實大。夏月出行，一丸可度一日。</p>
<p>余論傷暑酷似傷寒，蓋亦有頭痛身熱者，庸醫以真傷治之，每致斑毒發黃，小便不通，悶亂而死緊者，用五積散主之（方見中寒）。若多食冷物，致傷脾胃，止用溫脾消食，利小便藥而已。</p>
<p>又調養法　夏月間居，恆用白朮一錢五分，麥冬（去心）一錢。煎以代茶。或用人參、麥冬、五味子，名生脈散。或用辰砂六一散，可以永無傷暑之恙。</p>
<p>一方　用不蛀皂角，不拘多少，刮去黑皮，燒煙將盡，用盆合於地上，勿令透煙，每灰一兩入甘草末六錢，和勻服一錢，新汲水調下。如氣虛人，溫漿水調下。昏迷不醒者，不過兩服。</p>
<p>注夏陰虛不足元氣亡，氣虛血弱熱因傷，脈無力者四肢倦，心煩食少腳郎當。好臥口乾不長肉，治用補中益氣湯，參　甘草固元本，白朮陳皮五味嘗。黃柏升麻歸養血，柴苓知母麥門冬，盜汗須加浮小麥，便赤山梔與木通。頭疼川芎並白芷，渴用天花粉烏梅。大便不實砂仁好，嗽加白虎杏仁隨，倘然泄瀉加蒼朮，依斯調理病無危。</p>
<p>補中益氣湯（詳內傷）</p>
<p>余論注夏似無傷大體，不知因氣虛而受病，因病而氣益虛，忽而不治，身體由之傷矣。人人恐犯，歲歲有之，故吾友特為歌括，余嘉其意，因不忍略。</p>
<h2>傷濕門</h2>
<p>東南之地恆多濕，居民感受患非一，或受山嵐露雨蒸，或過飲冷因雨得。小便短赤身體重，骨肉酸麻行不疾，漸加浮腫及身黃，加減滲濕湯可識。陳皮半夏茯苓甘，厚朴黃連蒼白朮，煎用燈心棗與薑，臨服二匙鹽可入。外濕寒熱身腫痛，芩薑木通加有益，內濕食入必嘔吐，中滿喘脹是其則。黃連楂入炒卜子，小便不利豬苓澤，濕熱發黃茵陳加，澤瀉豬苓兼滑石，黃柏山梔與木通，隨症加減為良策。</p>
<p>腎著湯治腎虛傷濕身重，腰冷如坐水中。即四君子湯，去人參，加乾薑。</p>
<p>滲濕湯治腎虛傷濕，小便赤，大便溏。用薑、苓、木、草（腎著），加蒼朮、橘紅、丁香。</p>
<p>單方治中濕通身疼痛。白朮（去蘆）二兩，酒一碗半，煎至一碗，溫服。</p>
<p>余論外濕由冒雨及坐濕，內濕由酒曲與生冷，外濕宜汗，內濕宜利，而皆以行風散濕健脾為主。濕生痰，故用二陳東加風藥。</p>
<p>一方治玉莖有時受濕瘠甚。以肥皂一個，燒存性，用香油調塗於上即愈。</p>
<p>一方治婦女下部濕癢。蛇床子煎湯洗愈。</p>
<p>治中濕，口噤不知人事　用白朮一兩切片，作一服，用酒三盞，煎一盞，頓服。不飲酒者，</p>
<h2>黃疸門</h2>
<p>疸雖分五實歸一，蓋是脾虛胃不實，水穀濕熱相鬱蒸，發熱腹痛便赤澀。欲除濕熱去其黃，清利小便為第一。茵陳澤瀉豬苓茯，肉桂山楂與滑石，山梔枳殼共陳皮，甘草木通並白朮。</p>
<p>若還腹滿大便難，藥中須挾將軍力，渴而熱甚必難醫，手足心黃治無益。</p>
<p>茵陳五苓散　朮、瀉、豬、茯、桂共二錢，合茵陳末四錢，日三服。</p>
<p>大茵陳湯治時行淤熱在裡，鬱蒸不散，通身發黃。茵陳二兩，大黃一兩，梔子仁三錢。每必效散　五疸通治。</p>
<p>葶藶（隔紙炒）　龍膽草　山梔　茵陳　黃芩等分每服一兩。</p>
<p>小溫中湯治輕疸兼去食積。</p>
<p>蒼朮　川芎　香附　神麯　針砂（醋炒紅）春加芎，夏加苦參或黃連，冬加吳茱萸或乾薑。</p>
<p>大溫中湯治黃膽並食積，又能制肝燥皮　脾虛者　以參朮芍藥甘草陳米湯下。</p>
<p>陳皮　蒼朮　厚朴　三棱　蓬朮　青皮各五兩　甘草　針砂（醋炒紅）各二兩　香附一斤醋糊丸，空心薑鹽湯下。飯後酒下，忌犬肉及果菜。</p>
<p>單方地骨皮搗汁，和白酒飲之即愈。一云豬膽汁和白酒。</p>
<p>又方生白礬，於伏天晒開，大棗為丸，每服二三錢。服後多食肉以壓之。</p>
<p>又方綠礬（炒至白色為度，或入瓶煨白尤佳），煮棗為丸，如櫻桃大。每服五丸，日三服，俱冷黃酒下。忌生冷發物。若有蟲，亦吐出，神效。</p>
<p>余論疸症有五，曰：黃汗、黃膽、酒疸、穀疸、女勞疸。而其實皆緣濕熱鬱蒸於脾，治法以利小便為主。然亦有傷寒後，解散未盡者，其證口淡耳鳴，怔忡腳軟，微寒熱，下白濁，此為虛證，不可專用涼藥。脈訣曰：五疸實熱，脈必洪數，其或微澀，證屬虛弱。丹溪曰：輕者小溫中丸，重者大溫中丸，熱甚加苓連。</p>
<h2>火門</h2>
<p>有餘之氣名為火，妄動須知爍至陰，實者瀉之虛者補，重升輕降理誠深。陰虛發熱陽旺盛，脈數無力屬心腎，內傷發熱乃陽虛，脈大無力肺脾分。氣從左起肝之火，陰火還從臍下生，腳下熱來侵腹者，斯人虛極藥難平。瀉火黃連解毒湯，補虛參朮生草良，鬱火隨經宜發散，風寒外來散之良。心火黃連肺黃芩，肝膽之火柴連親，芩連可瀉三焦火，臟火偏宜青黛尋。芍藥瀉脾知母腎，石膏胃火　滋陰，若要瀉卻膀胱火，須加黃柏與細辛。木通專瀉小腸火，鬱火升麻與葛根，若治無根游行火，劑中何可失玄參。</p>
<p>黃連解毒湯（詳）</p>
<p>余論非實火不可驟用涼藥，必先溫散。蓋風寒外來者，宜散，鬱火宜散。生甘草能緩火邪，山梔仁大能降火。</p>
<h2>心痛門</h2>
<p>原知心痛即非真，胃熱須分久與新，新則胃家傷物冷，久成濕熱必逡巡。熱多左手脈必數，脈澀應知死血因，右脈實時痰積痛，脈洪久血作災　。治法總施平胃散，乾薑甘草蔻砂仁，枳實木香並桔梗，此醫新者效如神。若還久病加胡索，桔梗黃連兼枳實，木香梔子一同煎，方信醫家靈妙藥。</p>
<p>辨證胃痛有九，曰飲、曰食、曰風、曰冷、曰氣、曰悸、曰蟲、曰疰、曰去來熱痛。河間曰：暴痛非熱，久痛無寒。有因氣而食，卒然發痛，大便或秘，心胸高起，按之愈痛，不思飲食者，急以煮黃丸利之，利後用　本湯，去其余邪。有寒厥心痛者，手足逆而身有冷汗，便利溺清，氣力微弱，非久病也，朝發夕死，急以朮附湯溫之。有熱厥心痛者，身熱足寒，痛甚，則煩躁而吐，額自汗，當灸太谿及昆侖，表裡俱瀉，通身汗出而愈。灸畢服金鈴子散，痛止，服枳朮丸，去其邪。又醫鑒載：面上有白斑唇紅，痛後能飲食，時作時止者，蟲也，二陳東加苦楝根皮煎服。肚大青筋，取蟲丸主之。</p>
<p>煮黃丸（積聚）</p>
<p>治大實痛　雄黃一兩　巴豆五錢（去皮生研，入雄黃末研細）　白面二兩（同和再研）</p>
<p>滴水丸，如桐子。服時，先煎漿水，待沸下二十四丸，煮一二十沸，撈入冷漿水沉冷，先服一丸，逾一時，再二丸，再三丸，加至微利為度，用浸藥水送下。兼治脅下　癖痛如神。</p>
<p>本湯（毒瓦斯）</p>
<p>治大實痛，已利，用此徹毒　本三錢，蒼朮六錢。水煎溫服。</p>
<p>朮附湯（寒痛）</p>
<p>治寒厥痛，又治風濕相搏，身重疼煩，大便堅實，及風虛頭重目眩者。暖肌，補中，助陽氣，止自汗。附子一兩（炮去皮臍細切），白朮四兩，甘草一兩（炒）。每服三錢服。</p>
<p>金鈴散（久痛）</p>
<p>治熱厥痛，或發或止，久不愈者。金鈴子、玄胡索各一兩。每服三錢，酒調下清郁散（痰痛）</p>
<p>治胃中有伏火，膈上有停痰，胃口作痛，及惡心嘔吐清水或酸水。二陳東加梔、連、蒼、芎、乾薑、香附。嘔吐甚加藿香、砂仁。此方為丸服亦妙。</p>
<p>宣氣散治心胃刺痛，牽引胸脅，脈數者。</p>
<p>梔子仁（鹽炒）　大黃　滑石　木香（以下三味為末）　以生薑、梔子煎湯，和藥溫服。</p>
<p>在上必四聖丹治心痛並腹痛陰證，絞腸痧神效。</p>
<p>五靈脂（炒出煙）　桃仁（面炒黃色去皮尖）　草烏（水泡，一日一換，浸一七日，去皮尖，切片，用新瓦焙乾）各一兩　青黛（二錢入藥，八錢為衣）酒糊丸，如桐子，每服十五丸，用艾七片（炒出煙），沖黃酒下。</p>
<p>追蟲丸（蟲痛）</p>
<p>治蟲咬痛。</p>
<p>乾漆五錢（炒盡煙）　雄黃二錢五分　巴霜一錢面糊丸，如黍米，有子、苦楝根皮煎湯下，十二三丸。</p>
<p>加味枳朮丸治酒積、茶積、肉積、清痰在胃脘作痛，及痞滿心嘈雜噯氣吞酸，脾胃等症。</p>
<p>白朮三兩　枳實（面炒）　蒼朮（米泔浸二宿，焙）　豬苓（去黑皮）　川芎　麥　面（炒黃）　神麯（炒）　半夏（湯泡透）各一兩　澤瀉（去毛）　白螺螄殼（炒）　黃連（陳壁土炒）　赤茯苓各七錢　砂仁　草豆蔻　黃苓（土炒）　青皮（去白）　萊菔子（炒）　乾薑各五錢　陳皮（去白）　栝蔞子　香附米（童便炒）　厚朴（薑汁炒）　檳榔各三錢　木香甘草各二錢　吞酸加吳茱萸（湯泡，寒月五錢，暑月二錢半）；久病挾虛，加人參、白扁豆、石蓮肉各五錢；常吐清水，如梧子，清米飲下百丸。</p>
<p>單方山梔（炒黑），每服二三匙，心腹痛薑湯下，四肢腫米飲下，小便澀白湯下。一方加川芎二錢。</p>
<p>治心疼　口噤幾死者。老蔥白三五根（去皮須），搗膏灌入喉中，再以香油灌之。積滯蟲物，皆化黃水，微利為佳。</p>
<p>治蟲痛　每日空心嚼榧子肉二十七枚，三日蟲下。</p>
<p>治大人、小兒，痞塊癖積　全蠍（酒浸洗炙）三錢，雞肫黃皮（酒炙）三錢　□砂糖，丸，五更酒下二錢半。</p>
<p>又方卒急無藥，以鹽置刀頭燒紅，淬入水中，乘熱飲之，吐痰而安。此法並治絞腸痧。</p>
<p>余論痛則不通，通則不痛。心脾痛者，內有鬱熱，頑痰，死血，蟲物，或因惱怒，或因風邪而作九種心痛　瓦楞子（即麻蛤蜊，醋火鍛）三分　香附（童便浸）三分　樟樹子三分三味焙乾，共為末，或酒或薑湯送下立止。</p>
<p>又方香附（鍛石炒）、良薑（麻油炒）、蒼朮（鹽水炒）各一兩。共為末，每服二分，或酒或薑又方廣木香九錢三分，明礬七分。煉飯為丸，每服一錢，燒酒下。</p>
<p>又方用胡椒，一歲一粒，白滾湯下。</p>
<p>又方兔糞焙乾，燒灰存性，為末，黃酒下三錢，效。</p>
<p>胃痛又方核桃肉七個，連皮搗爛，入好砂糖在內調和，用熱大酒一碗沖吃，愈。</p>
<p>治一切心痛，不問新久　用生地黃搗絞取汁，搜面作餛飩，或冷淘食之，良久，即刻出蟲，長一尺許，遂不復痛。昔有痛垂死，語其子剖視之，後以此汁飼之，蟲乃死，因得此方，屢治人屢效。</p>
<p>又方治暴心痛不可忍　用荔枝核為末，每服一錢，酒醋各半盞，煎至七分，熱服。</p>
<p>治絞腸痧痛不可忍　展轉在地欲死者　用鹽一兩，熱湯調灌病患口中，鹽氣到腹，其痛即止。</p>
<p>梔子湯（熱病）　肥梔子十枚（打碎薑汁浸炒，連殼研），川芎、香附各一錢。煎數沸，入薑汁三匙，再滾，入百草霜二匙調服。</p>
<p>蒲脂散（血痛）　蒲黃（炒）、五靈脂（酒炒，淘去沙）各一錢。醋調如膏，加水煎服。</p>
<p>盞落湯（氣痛）　陳皮　香附　良薑　吳茱萸　石菖蒲各等分。</p>
<p>煎好，另用碗入香油三五點，將小盞蓋之，將藥淋下，熱服。</p>
<h2>面腫門</h2>
<p>升麻冒風湯　升麻冒風葛芷蒼，柴　蔓歸草蔻羌，甘柏麻黃薑棗煮，能消面腫與牙眶。</p>
<p>余論陰脈至頸胸而還，惟陽脈上頭，故面獨耐寒。而足陽明胃經，起鼻交額中，入齒挾口環唇，倚頰上耳前，胃中風熱，乘之令人面腫。（肺風、斑靨，方見外科）</p>
<h2>頭痛門</h2>
<p>頭疼即非真頭疼，氣火虛風痰火盛，若是真疼手足青，旦發夕兮歸幽冥。加味芎歸治諸痛，治頭痛妙方　土茯苓四兩（忌鐵器）　金銀花三錢　蔓荊子一錢　玄參八分　防風一錢明天麻一錢　辛夷花五分　川芎五分　黑豆四十九粒　燈心三十根　牙茶五錢。</p>
<p>河水井水各一鐘半，煎一鐘服。</p>
<p>羌吳湯　羌吳湯　麻升　，黃柏芩連芎與歸，細蔓紅花蒼朮半，頭頂項痛即時移。</p>
<p>單方鬧楊花、川芎各等分。為極細末，左痛吹左鼻，右痛吹右鼻，連打數嚏鼻清水，即愈又方頭風偏正最堪憐，近日奇方治遠年，可取黃牛腦一個，川芎白芷各三錢，共為細末擦於腦，瓷器盛末加酒煎，頓熱食之酒盡量，醉目酒醒痛安然。（一方用豬腦）</p>
<p>余論王節齋云：久病頭痛，略感風寒便發者，內鬱熱而標寒也。本有鬱熱，毛竅常疏，故風易入，寒束其熱，故痛愈甚。世人用辛散之劑，雖能散其標之寒邪，然以熱濟本病益深，當瀉火涼血，而佐以辛溫，則痛可愈，而根可除。</p>
<h2>頭暈門</h2>
<p>天麻半夏與黃芩，橘皮柴胡草茯苓，風痰內作胸膈悶，頭暈目黑自安寧。</p>
<p>天麻半夏湯（治頭暈）</p>
<p>治風痰內作，胸膈不利，頭旋目黑，兀兀欲吐，上熱下寒，不得安臥此皆虛風內外作，故以天麻為君。偏頭痛，乃少陽也，非柴胡不能治。黃芩苦寒，酒製炒銼，柴胡治上熱，又為引用，故以為臣。橘皮苦辛溫，甘草炙甘溫，以治風痰，白茯苓甘平利小便，導濕熱，引而下行，故以為使。不數服而愈。</p>
<p>天麻一錢（為君）　黃芩（酒製）五分（為臣）　橘皮（去白）七分　柴胡七分　半夏一錢　甘草五分（炙，為佐）　白茯苓五分（為使）以上銼如麻豆大，都作一服，水二薑三，煎至一盞，去渣溫服。</p>
<h2>耳病門</h2>
<p>辨證忿怒動膽火，左耳聾，宜龍薈丸。色欲動相火，右耳聾，宜地黃丸。醇酒濃味動胃火，雙耳聾，宜通聖散，滾痰丸。三者之中，由忿怒居多，色欲傷腎難治。丹溪曰：厥陰少陽熱，當龍薈丸　聰耳瀉火。</p>
<p>龍膽草（酒洗）　當歸（酒洗）　梔子仁（炒）　青皮　黃芩各一兩　蘆薈　柴胡　大黃青黛各五錢　膽星三錢　木香二錢五分　麝香五分神麯糊丸如綠豆，薑湯下二十丸，日進三服，七日後用針砂、酒以通其氣。</p>
<p>通聖散　通聖防風將軍芍，薄荷芎歸草朴硝，梔翹芩梗並白朮，荊芥麻黃滑石膏。</p>
<p>地黃丸（見補損）　滾痰丸（見痰飲）針砂酒　善通耳氣。穿山甲（為末）一錢，針砂一兩，拌一晝夜，播去山甲，以酒一碗，浸三四日，口內噙酒，外用綿裹磁石一塊塞耳，以通為度。戒怒，戒色。</p>
<p>一方用好磁石二塊，銼如棗大，頭略尖，上搽麝少許塞兩耳，口噙生鐵，一時兩耳氣通，颯颯有聲，勤用五七次即愈。</p>
<p>通明利氣湯方　治虛火上升，痰鬱熱，或閉或鳴。</p>
<p>蒼朮（鹽水炒）　白朮（瓦焙）　香附（童便炒）　生地（薑汁浸）　檳榔各五分　撫芎四分　木□二分半　甘草二分　貝母一錢半　陳皮一錢二分　梔子仁　黃柏　玄參各一錢黃連　黃芩（同用酒浸，豬膽汁拌，炙干）各七分竹瀝，生薑煎，食後服。</p>
<p>單方治耳鳴、耳聾。黃柏（去皮）八兩，人乳拌勻，晒乾，再用鹽水炒褐色，為末，丸如梧子。每服百丸，空心鹽湯下。治耳膿，先以綿杖榐淨，剪貓嗑毛，燒灰存性摻入。</p>
<p>又方明礬，發灰亦佳，治耳內忽大痛，或出血水，或如蟲在內奔走，及干痛難忍　用蛻皮燒灰存性，以鵝管吹入耳內。</p>
<p>余論耳之重聽，悉由於火，治之必用涼藥，年少人不得不治，且能受涼劑，年高人苟非疼痛，便可以不治，倘過用涼劑，恐壞脾胃。余見一醫，用巴豆、斑蝥、麝香、蔥汁為丸，綿裹入耳，雖似暫開，旋又復重，而人之痛苦白受，若強用涼藥，又豈止於痛苦已哉。謹識治耳臭，用干胭脂、海螵蛸，共為末，吹入耳中，愈。</p>
<p>又方用人發燒灰存性，每日分許，吹入耳愈。</p>
<p>治喉閉附方用荔枝草數莖，加牛騰草或艾葉少許，搗汁，以人乳點之，或口鼻內灌入，立可多用，用後，煎夏枯草湯飲之。</p>
<p>治耳腎虛耳中作風水聲。</p>
<p>椒目　巴豆　菖蒲　松脂各一錢共為末，以紙薄卷作筒塞耳，一日一換。一方，同以蠟為丸，如棗核塞耳。一方，無松脂。</p>
<p>又方麝香五分，全蠍十四個。薄荷十四葉，裹上二樣瓦上焙乾，共為細末，滴水，捏作小塞耳內，極效。</p>
<p>又方松香五錢，入鐵鍋內溶化，巴豆二十粒，為末，入松香內，用蔥汁為丸，如蓮子，用綿裹塞過夜。左聾塞右，右聾塞左，左右俱聾，次第塞之，其效如神。</p>
<p>耳鳴風熱上壅方　蒼朮一錢五分　防風一錢　荊芥一錢　蟬蛻一錢　川芎五分　僵蠶五分陳皮五分　白茯苓五分　栝蔞仁五分　黃芩五分　細辛三分水二鐘，煎至七分，食前服。</p>
<p>治耳內紅腫痛極　連翹　黃芩　玄參　桔梗　梔子（炒）　生甘草　牛蒡子　龍膽草炒）</p>
<p>板藍根（即靛子）</p>
<p>如感惱，加香附，煎服。外用蛇蛻（燒灰存性）吹耳。</p>
<p>治耳膿　枯礬　龍骨　黃丹　胭脂（燒灰）各一錢　麝香少許先以棉杖榐淨，日日摻之，以愈為度。</p>
<p>又方用貓下嗑毛灰吹之。一方用發灰，一方用枯礬。</p>
<p>治氣聾熏方（不拘年久）　蘄艾一兩　磁石七錢（　）　當門子二粒　珍珠七粒（鐵鍋底上　）以綿子鋪熱處，將黃蠟蠟之，分為數片，紙上攤艾，艾上摻藥，卷作筒子，點火吹滅，側耳熏之，既通，用艾塞耳，不見風。</p>
<h2>目疾門</h2>
<p>辨證左寸洪數心火炎也，關脈弦洪肝火盛也，右寸關俱弦洪，乃肝木乘相火侮所不勝之金制。</p>
<p>家傳暴赤眼方　川芎一錢　白芍一錢　生地一錢　當歸一錢　防風八分　荊芥穗八分本八分　甘菊一錢　澤瀉八分　甘草五分　燈心二十段水二碗，煎一碗，臨睡時服。</p>
<p>明目流氣飲　明目荊防芎細芩，玄梔蔓子蒺藜真，菊花牛蒡薄荷使，或加大黃並決明。</p>
<p>速效散　黃連　黃芩　黃柏（酒炒）　梔子　柴胡　荊芥穗　連翹　薄荷　蔓荊子　牛蒡子白蒺藜　歸尾　生地　草決明　石決明　枳殼　花粉　地骨皮　甘草水煎，食後服。大　紅肉堆起，乃心經實熱，倍黃連、生地，減菊花、牛蒡。小　紅絲血脹，乃心經虛熱，加茯苓、蓮肉、荊芥、蔓荊。烏睛有翳瘴，乃肝經病，倍柴胡、連翹。白珠有死血，倍骨皮、花粉，減薄荷。白珠有紅筋膜，乃肺熱，加羚羊角為君。日夜疼痛，加防己、玄參。火眼後昏，加柴胡、陵游草。</p>
<p>洗心散　洗心散用麻大黃，白朮當歸芍藥涼，荊芥穗同甘草等，薑薄加上水煎湯。</p>
<p>洗肝散　洗肝散用薄荷葉，當歸羌活山梔仁，大黃防風甘草等，川芎治眼效如神。</p>
<p>羊肝丸五十丸，空心鹽湯下。</p>
<p>單方香附、夏枯草各一兩，粉草五錢。為末，臨臥以松□茶送下。火眼痛甚者，三服見效。</p>
<p>又方黃泥包食鹽，煨紅冷定，取鹽研細，清晨洗眼，永除一切目疾。</p>
<p>又方明礬　松茗各七分　黃豆七粒（打碎）</p>
<p>重湯煮洗，能散紅腫，開翳膜。</p>
<p>又方歸尾　黃連各四分　明礬　銅綠　皮硝各二分煮洗，同上又方吃乳嬰孩，吐出蛔蟲，分二片，榐干，入碾細硼砂二錢，新瓦焙為末，點眼去翳。</p>
<p>又方治雀目。夜明砂、蛤粉各一錢，入犍豬肝一片（三指大），麻線扎住，同陳米一合煮熟，空心吃肝。</p>
<p>余論目疾暴發，皆因內有積熱，外感風寒，寒閉其熱，上行走竅，不得外泄，故痛。初起之時，即用荊防散，其風寒則火熱瀉，而痛自止。若驟用涼藥，輕則熱邪內伏，重則脾胃受傷，皆致壞眼。亦不宜出血，蓋目以血而能視，血少則昏矣，戒之戒之。洗眼藥方　用桑白皮一撮，清水一碗，煎八分，照下開日期洗之，一年後，目明如童子目一般，愈洗愈亮，無效驗。</p>
<p>正月初一，二月初七，三月初五，四月初一，五月初五，六月初七，七月初十，八月初二，九月初一，十月初十，十一月初一，十二月初十。</p>
<p>又方黃連一錢，生薑一塊，切二段，用刀挖一孔，將黃連入內，仍合一處，紙包水濕，火取出黃連，用人乳半杯，熟水調好，擦數次，永不發。</p>
<p>眼皮爛　用紅棗一枚，去核，入明礬二分，入棗肉，面包，慢火煨熟，搽眼皮，二日愈。</p>
<p>夜盲眼　夏枯草研細，將雄豬肝剖開，入藥在內，煨熟食之。</p>
<p>偷針眼　初起時，看患人背上有紅疤如蚊叮狀，用指揩碎出血，即消。</p>
<p>治時行害眼，風眼有淚者　用皮硝六錢，水一甌，煎七分，俟冷定洗眼，每日洗數次，眼如童子明，每日煎一遍洗。</p>
<p>又方即用朴硝。</p>
<p>治眼昏　肉，及腫痛神效方　黃丹（飛過）一兩　官粉　砂　乳香各五錢　銅綠　硼砂沒治偷針眼　初起時，看其人背上有紅疤如蚊叮者，揩碎之。</p>
<p>一洗時眼　用明礬（研末）二錢　皂礬（研末）二錢　甘草二錢　生薑二錢　黑棗五枚古銅錢代之。</p>
<h2>鼻病門</h2>
<p>辨證左寸脈浮緩，為傷風鼻塞。右寸脈浮洪而數，為鼻衄，鼻　。一時鼻塞為傷風，時常不聞香臭為肺熱。鼻流濁涕不止，曰鼻淵，是膽經移熱於腦也。時流臭黃水而腦亦時痛者，有蟲食腦。</p>
<p>通竅湯（治感冒）　羌防　本升麻兼，干葛芎蒼各一錢，麻椒細辛三分用，惟有白芷五分添。</p>
<p>麗澤湯（治鼻不聞香臭）　黃　八分炙草四，羌獨蒼防椒葛升，白芷六分八味等，冬月麻黃留蒼耳散　治鼻淵。</p>
<p>蒼耳二錢五分（炒）　辛夷五錢　白芷一兩　薄荷葉一錢　為末，蔥茶湯調服二錢。</p>
<p>天竺黃丸　治鼻淵。</p>
<p>人參　當歸　川芎　白芷　茯苓　麥冬　防風　荊芥　蒼耳子　薄荷　香附　蔓荊子秦艽　甘草各一兩　天竺黃三錢蜜丸，如梧子大，米湯下三四十丸。</p>
<p>洗肺散治鼻中生瘡。</p>
<p>天冬　麥冬（並去心）一錢　黃芩　半夏各二錢　杏仁八分　五味子七分　甘草五分生薑煎服。</p>
<p>單方治鼻流黃水。絲瓜藤，近根三尺，燒灰存性，為末，酒調服。</p>
<p>又方治鼻淵　黃木香花，鋪頭頂，以帽籠之，一二日即愈。</p>
<p>余論鼻塞不聞香臭，或略寒便塞，多認作肺寒，用解表之藥不效，或通而復塞，不知此是肺經火邪，郁甚而致，法當清金降火。而佐以通利之劑。（鼻衄見失血，鼻　見外科）赤鼻　硫黃、白礬等分為末。用茄汁敷之，愈。治鼻赤　薄荷一兩五錢　山□花　黃芩　胡麻仁　山梔子　防風　葛花　苦參各一兩　連翹　荊芥　芍藥　甘草各五錢茶清調下三錢。</p>
<p>又方槐米、綠豆、糯米，等分，糊丸湯下。</p>
<p>又方山梔、槐米，並炒黑，蜜丸，湯下。</p>
<p>又方苦參四兩，當歸二兩。酒糊丸，茶下。</p>
<p>又方枇杷葉（去毛），苦參、面、豬油，調做如僧帽，蒸熱，下一錢五分，左赤早服，右赤晚服，外用白礬、水銀、金墨各一錢，輕粉七分，杏仁、大楓子、五味子各四十九粒，白楊頭，核桃各七個，雞子清調搽。</p>
<p>又方槐花一兩，青鹽三錢，同炒黃研，臥時，用唾塗鼻，藥末摻上，早晨以皂角洗去。</p>
<p>又方茄汁調硫礬末敷。</p>
<p>又方白礬末　唾搽半月，效。並治面赤。</p>
<p>治鼻中生臭肉（痛且臭者）</p>
<p>苦瓜蒂五錢　甘遂一錢　枯礬　草烏尖　白螺殼各五錢。</p>
<p>綿裹入鼻，坐半日即消。</p>
<p>又方白礬末加　砂少許吹之。或用豬油調，綿裹塞鼻。</p>
<p>又方甜瓜蒂、細辛等分為末，塞鼻。再與勝濕湯，瀉白散各一帖。</p>
<p>治鼻癰　綠礬一錢　雄黃五分　絲瓜蒂二個　麝香少許。</p>
<p>為末，搐鼻。並治息肉。</p>
<h2>咽喉門</h2>
<p><u>與外科參看</u></p>
<p>辨證咽以咽物，接三脘以通胃，喉以候氣，長九節以系肺，並行不悖，氣穀分焉。其人胸膈，素有痰涎，因傷酒而動胃火，傷色而動腎氣，忿怒而動肝火，火動痰升塞於會厭，兩旁腫大，則為乳鵝，脹小則為喉閉，熱結舌下為子舌，熱結舌中為木舌，熱脹於外，麻癢腫大為纏喉風，猝然腫痛，水漿不入，語言不通者，為走喉風，古人皆謂之喉痹。治法急則治其標，用丸散，吐痰散。熱緩則治其本，用湯藥降火滋陰。寸脈浮洪而溢者，痹也，微而伏者不治。</p>
<p>甘桔湯　桔梗三錢　甘草一錢五分　防風　荊芥　薄荷　黃芩　玄參各一錢水煎嚕咽。</p>
<p>喉痛加鼠黏子、竹茹，咳逆加陳皮，嗽加知母、貝母，渴加五味子，唾膿血加紫菀，肺痿加阿膠，面浮加茯苓，嘔加半夏，氣弱加人參、麥冬，口赤加梔子、黃連，聲啞加半夏、桂枝，胸膈不利加枳殼，胸痞滿加枳實，不臥加梔子，酒毒加干葛、陳皮，膚痛加黃　，疫毒頭痛加鼠黏子、芒硝、大黃，發斑加防風、荊芥。</p>
<p>治喉痹方　荔枝草、牛膝草，搗汁，加艾葉汁和人乳漱之。或滴入鼻內，再頻飲夏枯草湯。</p>
<p>急救喉痹方　楊梅樹皮向東者，去粗皮為末，或皂角末，俱吹入鼻中，噴嚏為驗。</p>
<p>又方朱砂三分二厘　硼砂一分二厘　枯礬　膽礬俱一分六厘　雄黃　焰硝　片腦各一分香少許並為末，吹入喉中。勢急者，以鵝管，削尖刺破。</p>
<p>春風散　臘月初一，用僵蠶、黃連、朴硝、白礬、青黛，等分，貯豬膽內，懸於地坑中，至清上丸治喉中諸症。</p>
<p>雄膽一分　雄黃　青鹽各五分　硼砂一錢　薄荷葉五錢　膽礬少許。</p>
<p>化白糖霜為丸，如芡實，舌壓一粒噙化。</p>
<p>清香散治失音者。</p>
<p>訶子（一錢半生用，一錢半泡熟）　木通（同上）　甘草（同上）　桔梗三錢（生用）</p>
<p>生地五錢（搗入藥）</p>
<p>余論喉痛因虛火上升，法當從治，桔梗、甘草、玄參、防風、羌活、荊芥、白朮、升麻、茯苓，少加乾薑、附子，為向導徐徐治之為當，若驟用涼藥，則火益結，是害之矣。</p>
<p>滾痰丸（方見痰飲）</p>
<h2>牙齒門</h2>
<p>辨證齒者，腎之標也。足陽明，胃脈絡，齒上齦，手陽明大腸經之脈絡下齦，呷風則痛甚者，腸胃有獨活散（驅風熱）　獨活散內川芎真，羌活荊防薄荷成，生地黃兼細辛使，煎來漱咽治牙齦。</p>
<p>甘露飲（治胃中客熱，齒齦腫悶宣露）　甘露兩地山茵陳，天麥枇杷枳殼芩，石斛甘草十味等白芷湯治下片牙疼，虛熱有風。</p>
<p>防風　荊芥　連翹　白芷　薄荷　赤芍　石膏細辛湯治上片牙痛，胃腎虛風。</p>
<p>蔓荊子　牛蒡子　蓽茇各一錢五分　細辛　升麻　黃連　防己各□錢　黃柏　知母　薄荷各哭來笑去散　雄黃　胡椒　麝　蓽茇　良薑　細辛只六味　哭將來笑將去，等分，為末，用少許吹男左女右鼻中，立止。如腫甚，用紙卷藥又方用蠟肉骨，燒灰存性，為末，隨痛隨擦。</p>
<p>漱口方　露蜂房　鶴虱　秦艽　防風各二錢煎湯漱口，涼則吐去。</p>
<p>鮑氏八味湯　隨經分治。</p>
<p>防風　荊芥　升麻各七分　當歸　生地　丹皮　青皮　細辛各五分上門牙屬心，加黃連、門冬，下門牙屬腎，加黃柏、知母，上邊牙屬胃，加川芎、白芷，下邊牙屬脾，加白朮、白芍，上左盡牙屬膽，加羌活、膽草，下左盡牙屬肝，加柴胡、山梔，上右盡牙屬大腸，加枳殼、大黃，下右盡牙屬肺，加桔梗、黃芩，滿口痛，本方加石膏、甘草，舌長拖出數寸，以冰片塗之，即收。</p>
<p>單方巴豆一個（入火略燒去殼），胡椒三粒，同搗爛，薄綿包藥，痛齒咬定，流去涎水，良久取出，如止。一二牙疼痛，多是蟲痛，去胡椒，用花椒。</p>
<p>又方用壁錢包胡椒末塞耳，左痛塞右，右痛塞左，手掩枕之，少頃額有微汗，即愈。</p>
<p>又方治蟲牙。好信、黃丹各一分，溶黃蠟丸如豆大，薄絲棉包裹，留尾，如上法塞入耳孔，一夜，其蟲即死，永不再發。</p>
<p>又方明雄黃、食鹽各三分，老薑三錢，同搗，分三丸噙之，一連化盡，即止。</p>
<p>又方臭椿根，背陽，皮煎湯漱口亦好。</p>
<p>又方用小麥炒焦，淬入燒酒，去渣，噙漱。</p>
<p>又方草烏、潮腦各一錢，川椒五分，共為末，用碗對合，鹽泥封固，炭火徐炙之，則藥升取搽，牙痛立止。</p>
<p>又方冬青葉搗汁漱口。</p>
<p>又方大戟，咬在疼處，即止。</p>
<p>又方用黑豆一撮，蔥、艾、川椒，水煎漱。</p>
<p>余論法宜瀉陽明之濕熱，外以擦牙誅蟲之劑，治其標，則齒自固。（牙疳，見外科。固齒方，見末卷）治齒方　青鹽二兩，白鹽二兩，川椒四兩（煎汁），以椒汁拌二鹽，炒干為末擦之，永無齒疾。以漱出水洗目，亦無目疾。</p>
<p>治口臭　孩兒茶四兩　桂花　硼砂　薄荷葉各五錢甘草熬膏，作餅噙化。</p>
<p>又方丁香、黑棗，搗勻噙化。</p>
<p>又方常噙藿香一味。</p>
<p>治撮口，不能開合（不治即死者）　白布作炷如指大，安斧上燒出汗，抹搽唇上，日二三度。</p>
<p>或用青布灰，或蛇蛻灰，或發灰，或蜂房，俱用脂調搽。</p>
<p>治舌腫硬　百草霜、海鹽，等分，井水調敷。或用真蒲末，或用槐花末，頻摻舌上，若舌長出，用冰片塗之。俱宜內服黃連湯，以瀉心火。</p>
<p>治牙疼搖動　栝蔞仁五分　牙皂四分　川烏　草烏　胡椒　藜蘆各三分　麝香一分。於牙根內外遍擦之，吐出涎，愈。</p>
<p>又方巴豆一粒（咯煨去殼），胡椒三粒（同研）。絹包，痛牙咬定，流去涎水。</p>
<p>又方巴霜、鉛粉、麝各少許，同蒜搗如豆，貼手腕。右疼貼左，左疼貼右。</p>
<p>又方楓樹子（一名九孔子）十粒，煎湯漱口，不可咽下。</p>
<p>又方楊柳枝皮，切碎，火酒一盅，煎半盅，漱口。</p>
<p>又方蔓荊子、白蒺藜等分，炒黑研末擦之。一方加鹽。</p>
<h2>脅痛門</h2>
<p>脅痛須分左右，治左屬血虛，右屬氣，左緣肝火木氣充，右必痰流兼所滯，左疾加減四物湯，芍藥芎歸熟地黃，白朮陳皮甘草茯，玄胡枳殼木香當，但痛不移淤作祟，紅花蘇木桂桃薑。小柴胡湯治右痛，半茯柴芩甘殼共，木香大腹與青皮，白朮香附煎可送。</p>
<p>復元通聖散　復元通聖穿山甲，青陳甘草栝蔞屑，每用熱酒下一錢，諸痛諸瘡和血氣。</p>
<p>當歸龍薈丸　治內有濕熱，兩脅痛甚者，此乃瀉肝火之要藥。</p>
<p>當歸　龍膽草　山梔　黃連　大黃（酒炒）　蘆薈　青黛各五錢　木香二錢五分　麝香五分（另研）　加青皮　柴胡五分神麯丸如梧子，薑湯下三十丸。</p>
<p>香桂散治婦人脅痛。</p>
<p>香附四兩（醋一碗，鹽一兩煮干）　肉桂　白芍　玄胡（炒）各二兩。</p>
<p>每服三錢，空心滾湯調下。</p>
<p>單方治脅間刺痛，屬氣者。枳殼（面炒黃）二兩半，甘草（炙）七錢。每服二錢，濃煎，蔥白湯下。</p>
<p>余論脅痛，肝火盛者居多，間有瘀血痛甚。而元氣實者，用桃仁承氣下之（方見傷寒），或因癖痛者，煮黃主之（方見心痛）。凡脅痛用青皮，必須醋煮過。</p>
<h2>臂痛門</h2>
<p>辨證臂有風寒痛，有濕氣痛，有痰飲痛。因睡露肩，偶然痛者，風寒也，宜五積散。原素受濕，雨天甚者，濕氣也，宜蠲痹東加蒼朮、防己。兩手軟痹，肩背酸痛者，痰飲也，宜導湯加木香、薑黃。</p>
<p>五積散（見中寒）　蠲痹湯（見痹）　導痰湯（見痰飲）</p>
<p>單方漏肩風痛，向外坐門限上，用木棰烘熱，趕痛處，七次即愈。</p>
<h2>背痛門</h2>
<p>辨證背心一點痛者，痰濕氣也，宜烏藥順氣散，合二陳湯，或香蘇散加蒼朮、羌活。體虛人背惡烏藥順氣散（見中風）　香蘇散（見傷寒）</p>
<p>御寒膏治背痛惡寒及一切冷痹，並治濕氣。</p>
<p>生薑半斤（取汁）　牛皮膠三兩　乳香　沒藥各一錢五分。</p>
<p>銅銚內煮化，移在熱湯內燉，以柳條攪至成膏，加花椒末少許，再攪勻，用皮紙攤貼患處，諸痛熨法　韭菜，連根搗爛，醋拌炒，絹包熨痛處。</p>
<h2>脾胃門</h2>
<p>脾胃屬土居中位，受納水穀滋營衛，水穀盡兮營衛亡，安穀則昌絕則斃。一有不足為內傷，醫家值此須審詳，勿作外感有餘治，交泄之時定見殃。六君子湯蓋調理，白朮參苓甘草比，陳皮半夏炒砂仁，三斤生薑二鐘水。內傷之症何所成，飲食勞倦並七情，治須先用補元氣，看所挾者而加增。挾痰挾邪挾鬱熱，補中益氣湯多用，甘草參　為操縱，陳皮白朮當歸身。</p>
<p>柴胡升麻八味共，或停飲食將如何，不足之中繼有飲，氣口脈來而緊盛，先須道者自然除。</p>
<h2>腹痛門</h2>
<p>腹痛蓋緣脾上虛，次分寒熱食三居，或有濕痰或死血，悠悠而痛為多寒，脈必沉而又無力，汁。</p>
<p>外有肉桂茱胡索，春夏去之冬可著。時痛時止熱治之，脈浮無力何方治，小柴胡湯參可去，檳榔芍藥卻宜加，枳殼砂仁玄胡索，水薑煎來以前施。痛後利減為食積，關腹緊浮而有力，平胃方加大腹皮，草果檳榔並枳實，砂仁白朮曲玄胡，依舊煎入木香汁。小便不利濕痰兼，左關無脈緩無力，二陳湯用蒼白朮，木香通附豬苓實，生薑三片水二鐘，更添薑汁和竹瀝。死血痛定而不移，左寸浮澀四物移，亦加乾薑及甘草，紅花蘇子牡丹皮，桃仁枳殼玄胡索，理中湯（見傷寒）　小柴胡湯（見傷寒）</p>
<p>平胃湯（見傷食）　二陳湯（見痰飲）</p>
<p>四物湯（見婦人科）</p>
<p>余論腹痛有塊撐起，急以手按之便不見，五更心嘈牙關矯硬，惡心吐清水，夢中嚙齒者蟲也，治</p>
<h2>腰痛門</h2>
<p>腰痛屬足少陰經，濕熱痰淤虛作成，脈大為虛緩為濕，澀為瘀血最分明。脈來滑伏痛為祟，面有紅星死者刑。天陰而痛為濕熱，蒼白茯陳甘草列，柴胡枳殼炒山梔，青皮茴香木通設。日輕夜重瘀血痰，芎歸芍地桃甘陳，紅花官桂蘇防木，玄胡丹參古有名。腎經虛者長長痛。知母茴歸與杜仲，快將參朮補骨脂，五味黃柏熟地用。</p>
<p>立安散治氣滯並閃挫及腎虛腰痛。</p>
<p>當歸　杜仲（薑炒）　官桂　玄胡索（炒）　黑丑（半生半熟）　小茴香（炒）各一兩　木香五錢為細末，每服二匙，空心黃酒調下。</p>
<p>加味青蛾丸治腎虛腰痛或風寒血氣搏痛。</p>
<p>杜仲（薑汁浸炒）　破故紙（水淘淨，同芝麻炒變色，去麻，瓦上焙乾）各十二兩　胡桃肉（去皮研）加沉香　沒藥乳香各六兩為末，用肉蓯蓉十二兩，酒浸成膏，和藥杵千，丸如梧子，空心溫酒或鹽湯下三十丸。</p>
<p>五積散（方見中寒）　因寒加茱萸五分，因風加防風、全蠍，因閃挫加桃仁、黑丑。滲濕湯（治濕痛，方見傷濕）當歸拈痛湯（治濕熱，方見香港腳）</p>
<p>余論腰為腎之外候，一身所恃，以轉移者也。其所感雖不同，大約腎虛而後痛，客病既除，即以補腎為要。</p>
<p>治脅下疼痛神效　小茴香（炒）一兩，枳殼（麩炒）五錢。共為末，每服二錢，鹽湯調服。治腰痛或時閃腰　杜仲、胡桃仁、破故紙。三味酒煎服，立效。</p>
<p>又方用橙子核，炒干為細末，三錢，以白酒調服，即愈。</p>
<p>又方用西瓜青，為片，陰乾為末，以鹽酒空心調服，立效。</p>
<p>腰痛立安散　杜仲（去皮炒斷絲）、橘核（炒取仁），二味各等分，為末，每服二錢，入鹽少許</p>
<h2>疝氣門</h2>
<p>古來疝氣厥陰肝，腎部從來無所干，食積濕痰亦寒鬱，前人分作七般看。止痛飲子最端的，核。</p>
<p>五靈又是一方名，澤瀉豬苓共茯苓，白朮桂檳川楝子，木通橘核小茴香。一方白朮參芍，茱萸乾薑玄胡索，歸身澤瀉巴戟天，甘草茴香用八角。</p>
<p>香蘇散（見傷寒）</p>
<p>香蘇散，加小茴香、木香、三棱、蓬朮、木通，治偏墜，初寒熱疼痛甚佳。</p>
<p>單方治疝氣　吳茱萸（去梗湯泡）　枳殼（麩炒）各八分。酒煎服，取汗為度。</p>
<p>又方葫蘆巴，銅鍋內炒，研末。空心好酒熱服三錢，數日而愈。</p>
<p>又熏洗方　苦參、紫蘇葉、石菖蒲各四兩。煎滾，入瓶熏之，口中飲酒，疝中如針刺。</p>
<p>待溫洗之。</p>
<p>治偏墜方　鵝卵石一個，火燒紅，入酒碗內，轉七轉，空心飲下。</p>
<p>治昆侖氣入小腹痛　鮮沙參，搗汁和酒，盡量飲之。</p>
<p>余論經有七疝：寒、水、筋、血、氣、狐、潰也，諸方甚多，效者少見，若用黑丑、檳榔等藥，克伐破氣，非徒無益，而又害之矣。此疾於人無大害，苦痛時服藥數劑，痛止宜聽之。</p>
<p>治偏墜小腸氣神效方　大黃五錢（火上炙干）　香白芷二錢五分　麝香半分　穿山甲一錢五分（加黃土炒過）　白僵蠶二錢　乳香　沒藥各二錢五分。</p>
<p>共為細末，當歸煎水熬膏為丸，分作二分，每早空心一服，好酒送下。</p>
<p>又方用雙蒂茄子，懸於房門上，出入用眼之，茄淹亦淹，茄干亦干矣。又云：小兒偏墜，雙茄懸門上，每日抱兒視二三次，鐵釘於上，十余日消。</p>
<p>治偏腎疝氣煮酒方　棠棣根（即山楂樹根，去粗皮，洗淨）四兩　小茴香一兩（用北方者鹽水和勻，炒）　川歸五錢　木香三錢　川楝子（去核炒用）一兩　破故紙五錢（炒）　青皮三錢（麩炒）上為粗末，以絹袋盛之，懸於壇內，用無灰酒五壺，以箬如法封固，煮一二時，再埋土中三日，空心隨量服。</p>
<p>治下元虛損偏墜，玉莖疼痛　好茅山蒼朮六斤。一斤老米泔水浸三日夜；一斤酒浸三日夜，切片晒乾；一斤用斗子青鹽半斤炒黃色，鹽不用；一斤小茴香四兩炒黃色，去茴香不用；一斤大茴香四兩炒黃黑色，茴香不用；一斤桑椹子二斤取汁，制晒乾。以上共為末，每服三錢，酒下。</p>
<p>治腎囊偏墜　牡蠣（　）、良薑各一兩。為細末，津唾調敷。大便須臾，如火熱者，痛即安。</p>
<h2>腳氣門</h2>
<p>下元氣弱因感受，風寒濕熱成斯疾，瘡積流注亦有之，入腹攻心定難救，總有蒼朮健步湯，青陳蒼白朮瓜當，生地柏連防己入，豬牛龍膽納檳榔。左尺不應病難全，寸口無常君莫治，婦人足腫酸麻痛，生地川芎蒼柏星，牛膝紅花草龍膽，食前煎服便能行。</p>
<p>辨證兩脛腫脹為濕香港腳　宜當歸拈痛湯，或五積散，加檳榔、木瓜、青藤、穿山甲。足膝枯細為干香港腳，宜十全大補湯，加牛膝、木瓜、石南藤、五加皮、沒藥、川烏。</p>
<p>檳榔散　檳蘇散內香蘇多，甘草陳皮檳瓜半，和薑蔥煎服治香港腳，風濕驅除效若何。</p>
<p>當歸拈痛湯　治濕香港腳及骨節疼痛，瘡毒等症。</p>
<p>拈痛羌茵甘草苓，歸知澤米共豬苓，防風蒼朮加升葛，還有人參並苦參。首句各一錢，次句各五分，下二句各四分是也。</p>
<p>防己飲　防己柏蒼並白朮，檳榔生地川芎沒，犀屑草梢通與連，七五三分次第及。內熱，加芩；熱甚及暑天，加石膏；大便秘，加桃仁；小便澀，加牛膝、木瓜、薏苡仁；臂痛，加威靈仙；脅痛，加膽草；風甚，加川萆　；濕甚，加木瓜；食積甚，加山楂、神麯、麥芽。</p>
<p>足氣衝心，合四物湯，肥人宜加痰藥。</p>
<p>健步丸　生地　陳皮　白芍各一兩半　蒼朮　歸尾各一兩　牛膝　條芩　吳茱萸各五錢大蒸餅，丸如梧子。白朮、木通各一錢，煎湯，食前送下八十丸。</p>
<p>五積散（見中寒）　十全大補湯（見撈瘵）</p>
<p>單方治腳腫拘攣　威靈仙、川牛膝，等分為末，煉蜜丸如梧子，空心酒下。忌茶。治濕熱痛鉛一斤，入鍋熬化，將酒沖入，止飲酒痛自止。至重者三服。</p>
<p>余論脾主四肢，油膩濃味，茶酒面食，不能節制。鬱而生熱，熱流於足，而山嵐卑濕，涉水冒雨，足先受之，濕熱相搏，足疾生矣。其初起時，惡寒發熱，狀若傷寒，惟足脛紅腫，或筋攣痛，此為別耳。輕者只於足痛，重者由足入陰，抵小腸，歷脅肋上於頭，又重者香港腳衝心，誤治立死。輕者先散其寒，重者退其熱，佐以滲濕下行之藥。苟非足膝□細，勢來緩者，斷不可驟用補氣藥。</p>
<p>治濕神效煮酒方　五加皮三兩，宣木瓜三兩，用無灰酒三大壺，入小瓷瓶內，將藥　咀，亦入瓶內，將坐，放滾湯鍋中，酒數沸，取出，冷一宿，空心飲六七杯。</p>
<p>治腳轉筋　急將大蒜磨腳心，令偏熱，即瘥。</p>
<p>治香港腳　昔人見一縉紳，於劇暑時，置一布囊下用爐火，以足　上。叩之：則云舊有腳氣疾。近得一方，用川椒二三斤，實於疏布囊中，跣足踏上，因椒氣惟熱，辟去寒熱也。越數年間，其疾療後傳知親，知無不效者。後又有加破開檳榔並熱艾，各三分之一亦妙，真良方也。</p>
<h2>女科門</h2>
<p>婦人尺脈盛，右手脈大，皆其常也。血盛氣衰為從，從則百病不生，孕育自成。然婦人見理不明，胸襟窄狹，動多鬱怒，怒氣傷肝，肝動克脾，脾不運化而生濕，濕生痰，痰生熱，熱生風，而症瘕淋閉崩漏帶下之病生。急宜治其標，風則疏之，熱則清之，痰則化之，濕則利之，諸病各從類治。緩宜治其本，平肝補脾抑其氣，以行其血，此其大凡也。是故古人動用二陳湯化痰燥濕，四物湯補血，香附破氣，黃芩清熱，柴胡平肝，白朮補脾，雖千變萬化，不離此乎。</p>
<p>加減二陳湯（治雜症）　二陳橘半茯苓草，清氣化痰為至寶，膈上不寬加枳桔，火旺生痰黃芩好。參朮加名六君子，健脾和胃無如此，中脘寒疼去了參，香砂配用皆能止。飲食過餐不克消，曲柏山楂厚朴調，再加枳實黃芩炒，何愁體弱脾胃嬌。咳嗽生痰分冷熱，熱即芩連並枳桔，寒痰枳縮配原方，順氣胸中痰自減，風寒外感嗽何醫，二陳橘半與前胡，干葛桑杏能消導，東垣名此號參蘇。二陳半夏性本燥，血虛煩渴皆不要，四物湯中不必加，貝母代之專取效。人有風痰疾病生，天麻白芷皂南星，濕痰在胃心多嗽，二術任須配二陳。火鬱胸中老痰結，滯住咽喉咯不出，半夏蔞薑附桔連，少助玄胡痰自減。痰在經絡及四肢，薑汁遂將竹瀝施，胸胃有痰須枳實，脅間白芥即能除。溫膽東加升茹實，寧神豁痰為第一，若加枳實共南星，湯號導痰能利膈。去草陳皮四七湯，加添蘇朴與生薑，散郁消痰兼理氣，孕生惡阻用之康。嘔吐皆因胃火炎，脈來洪數嘔連綿，急用此方加枳實，竹茹煎服炒黃連，若還藥也吞不下，檳榔須少蘇木煎。五六月來痛不休，心中納悶手難揉，多加枳朴芩連芍，便閉硝黃一服療。嘈雜噯氣一般看，胸中積熱與停痰，石膏香附並星下，二陳加減有何難，悶脹吞酸與吐酸，本方加入炒黃連，水停心中名為飲，枳茯豬苓利小便，此是二陳加減法，休要浪與世人傳。</p>
<p>加減四物湯　婦人雖則有專工，余病皆與男子同，獨有胎前與產後，血崩經候滯難通。</p>
<p>古人故令立四物，加減君臣仔細述，血枯經閉加桃仁，蘇木馬鞭亦可入。軀脂滿閉去地黃，二陳再合莎連實（瘦則血枯經閉，肥則軀脂滿閉）。血實不行腰腹痛，調胃承氣同之用（大黃四錢，甘草二錢，水二鐘，先煎至一半，入芒硝三錢，溶化服）。或只芎歸加彭桂，血瘀越曲丸為貴。經水過期是血虛，加入升陳柴木　。不及期兮是血熱，熱則紫黑並塊結，俱用參連香附切。經水澀少和葵紅，過多參朮與之同，適來適斷發寒熱，宜與小柴胡相合。經水作痛是血實，木香玄胡與蓬朮，若夏熱兮加芩柴，再與桃紅莎連吃，經後作痛血虛症，四君子湯兩相並。赤白滯下腹微痛，脈沉微兮薑共桂。若治血崩有異方，或入荊芥或乾薑。又方加入莎草根，蒲榆升術　與參，煎調稷灰六七分，且用續斷以為君。安胎生薑參朮芩，砂仁紫蘇甘與陳。胎痛香附同為末，紫蘇湯調服幾帖。有胎惡心名惡阻，薑炒梔連二陳佐。有胎下血多胎漏，膠陳梔柏木甘授。孕而煩亂曰子煩，參遠神梔芩朮甘，子腫桔蘇與滑石，大腹枳殼黃芩入。胎上作脹名子懸，芩莎砂殼及陳甘。子癇猝倒加柴芩，汁瀝莎甘術與陳。產難前方還去地，更加益母並芷桔，熱服加射兩三分，燒取男發蛇蟬蛻。產後惟宜大補血，雖有餘痰從末治，去芍藥兮易黃　，恐其酸寒伐生氣。氣虛加參朮茯甘，發熱乾薑為要劑。自汗多者少川芎，渴加五味麥門冬。腹痛非芍則不可，但以酒炒不為凶。惡露不去腹作痛，香附靈脂效若神，為末調入前湯內，甚則桃仁四五分。子宮未斂而作痛，酸炒芍甘粟殼共，入少米醋酸以收，或只山楂入糖用。惡露不去發寒熱，更加棱蓬莎乳沒，靈脂乾漆桃仁捷。腹痛不息加香附，烏藥陳桂良薑佐，煎入童便與米醋。月余經血淋不止，加入升麻及白芷，血余燒灰調服之，陰痛更加防　餌。遍身浮腫加乳沒，桂通大腹良薑捷，檳榔金沙並血竭。子腸不收合四君，黃　蜜炙入防升。口眼　歪似中風，亦合四君用最工，荊芥附子還加入，少佐羌活並防風。</p>
<p>四物湯輕重解：川芎（理肝，春宜倍、弦宜倍、頭痛宜倍）　白芍（理脾，夏宜倍、洪宜倍、泄宜倍）　地黃（理肺，秋宜倍、澀宜倍、細虛宜倍）　當歸（理腎，冬宜倍，沉宜倍，寒宜倍）</p>
<p>四物四時使，春加防風，夏加黃芩，秋加天冬，冬加桂枝。</p>
<p>加減逍遙散　治脾虛發熱，或潮熱，或自汗盜汗，或頭痛目澀，或怔忡不寧，頰赤口乾，或月水不調，或肚腹作痛；或小腹重墜，水道澀痛，或腫痛出膿，內熱作渴。</p>
<p>當歸（酒洗）　白芍（酒洗）　白朮（土炒）　柴胡（酒炒）　白茯苓以上各一錢　甘草（炙）五分　煨薑一片　薄荷少許共煎服。發熱加地骨皮、知母；手顫抖，加防風、荊芥、薄荷；咳嗽，加五味子、紫菀；氣惱、胸膈痞悶，加枳實、青皮、香附；吐痰，加半夏、貝母、栝蔞仁；飲食不消，加山楂、神麯；發渴，加麥門冬、天花粉；胸中發熱，加黃連、梔子；心慌心跳，加酸棗仁，遠志肉；久瀉，加黑薑；遍身痛，加羌活、防風、川芎；吐血，加阿膠、生地、丹皮；自汗，加黃　、酸棗仁；左腹血塊，加三棱、莪朮、桃仁、紅花；右腹氣塊，加木香、檳榔；怒氣傷肝，眼目昏花，加龍膽草、黃連、梔子、白豆蔻；經閉，加桃仁、紅花、蘇木；小腹痛，加延胡索、香附米。</p>
<p>柴胡散　治婦人寒熱往來，體疲肢節疼痛，心煩口乾，不欲飲食。</p>
<p>北柴胡　白朮　黃　赤茯苓各一兩　人參　地骨皮　枳殼（制）　生地　桔梗　桑白皮赤每服一兩，用生薑煎服。</p>
<p>小柴胡湯　治婦人傷風七八日後，寒熱發作，其時經水適斷，此為熱入血室，其血結故如虐柴胡八錢　人參　甘草　黃芩　生地各三錢　半夏　麥冬各二錢。</p>
<p>每服八錢，薑棗煎服。</p>
<p>又方用柴、參、芩、草，合芍、地、芎、歸，是為柴胡四物，治虛勞寒熱。</p>
<p>烏金丸　婦人三十六病，思慮過度變生疾，不孕崩中帶下，五心煩熱，口渴苦咽乾，飲食無味，身疼羸瘦，面目萎黃，手足酸軟，經水不勻，臍腹脹痛，發黃落，喜臥倦起，產後惡血上行，心腹刺痛，敗血不止及子宮一切惡疾。用：大艾葉　當歸（醋煮）　茴香（炒）　熟地（醋炒）　南木香（不見火）　吳茱萸　三棱　莪朮各□兩　川芎（醋炒）　芍藥（醋炒）</p>
<p>各三兩　香附子六兩　玄胡索一兩　紫荊皮四兩（醋炒）</p>
<p>上先將艾、香二味，（醋五升，浸一日夜，冬月三日夜，煮干炒，令赤色）入後十二味，同為末，米醋煮，元米糊丸，桐子大，每服七八十丸，空心鹽酒湯任下，一日二服。</p>
<p>如崩中下血不止，加粽灰一兩，綿灰五錢，蒲黃（炒）一兩，百草霜七錢。</p>
<p>烏雞丸　治婦人羸弱血虛有熱，經水不調，崩漏帶下，骨蒸等疾。用：白毛烏骨雄雞一只（重二斤半許，閉死去毛腸，用艾葉四兩，青蒿四兩，銼碎，納一半在雞腹內，將酒壇盛雞，並余蒿艾，瀣□便和水，沒雞二寸，煮絕干取出，去骨搗爛，如薄餅狀，焙乾研末）　南香附（去毛）一斤（分四分，用米泔、童便、酒、醋各浸之，春秋二日，夏一日，冬四日，取出晒乾）熟地　生地各四兩　芎　歸　芍　參　朮各三兩　黃　川牛膝　黃連　丹皮（去心）　知母　貝母　地骨皮各二兩　柴胡　秦艽各一兩半　乾薑　玄胡索各一兩　白茯苓（去皮）二兩五錢　鱉甲三兩（醋浸炙黃色）</p>
<p>二十四味，共為細末，醋糊丸如梧子大。服五十丸，漸加至八十丸，酒下或米飲下。忌莧菜及煎炒辛辣之物。</p>
<p>經閉婦女經脈不行，或因多產傷血，或因墮胎，或因久患潮熱傷血，其因脾胃傷損而致者甚多，血少不行，只宜緩治。以白朮為君，茯苓芍藥為臣，佐以黃　、甘草、陳皮、麥芽、柴胡、芎、歸等藥，補脾生血，經自行矣。亦有飲食積滯者，宜消積。若脾胃無病及無別證，果有血塊凝結，方宜行血通經。</p>
<p>神應丹　治經不行有實熱，五心煩熱，口燥咽乾，心忪額赤，胸膈不利，咳唾稠痰。</p>
<p>大黃八兩（醋二碗，煮干晒）　血竭　桃仁　紅花各五錢酒糊丸如桐子大，朱砂為衣，每服七十丸。</p>
<p>又醫案　一婦人虛勞發熱，盜汗咳嗽，面紅經閉，脈數有力，以滋補藥投之不效，用大黃（盡除痛加玄胡、枳殼、干膝；嘔吐惡，加良薑、砂仁；手足麻痹惡寒，加肉桂；咳嗽，加杏仁、五味子、款冬花。</p>
<p>劉河間曰：心主血，心病則不流，先服降心火之劑，次用局方中五補丸，後以衛生湯理脾養衛生湯　黃　三兩　當歸　白芍各二兩　甘草一兩每服五錢。如虛者，加人參，空心溫服。</p>
<p>又丹方　蠶砂四兩（沙鍋炒半黃色），就入無灰酒一壺於內，沸過，以瓷器盛之，去砂溫飲一盞，即可通。</p>
<p>又方大船上多年灰條，用炭火燒紅，淬入燒酒，取出待干為末，每服三錢。初用酒下，次紅花酒下，次大黃酒下，三服見紅，如神。</p>
<p>又方治鬼胎，經閉　用芫花三兩，炒黃色，為末，每服一錢，桃仁湯下，取出惡物，神效崩漏　經已久止，忽而大下，腹痛身熱，曰崩屬陰，經行三十日，猶涌出不止，曰漏屬陽。</p>
<p>按脈數洪而疾疾，漏下候也。崩之為痛血大下，豈可為寒，但血去後，其人必虛，當大補氣虛陽搏。</p>
<p>崩漏丹溪論：血崩當分寒熱，急則治其標，用白芷湯調百草霜末。甚者用陳棕灰，後用四物東加芩。</p>
<p>崩過多者，先用五靈脂（半生半炒）為末，酒下一服。又方同生芝麻嚼下，每日六七次，其疾痊愈，蓋五靈脂能行能止。紫色成塊者熱，以四物東加黃連之類，血崩用香附，白芷丸服。</p>
<p>氣虛血虛，以四物東加參　。漏下乃熱而虛，四物加黃連。崩中白帶用椒□末，又用白芷（鍛石炒，去灰為末）、茜草少許，粥丸服。一方用生狗頭骨（燒灰存性），酒調下，或入藥服升麻四物湯　崩漏不問虛實，用四物加升麻、防風，加荊芥穗（燈上燒）服之。如不止，加白朮、蒲黃及諸止血藥。</p>
<p>血崩屢驗方　當歸、白芍、棕棕、乾薑各燒灰存性，為末，醋湯調。以有節紅筋，左攪四十九當歸龍骨丸　月事失常，經水過多，及帶下淋瀝，無問久新、赤白諸症，並產後惡物不止，用當歸　黃連　槐子　艾葉（炒）　茯苓各五錢　龍骨　黃柏各五錢　木香二錢滴水為丸小豆大，每服五十丸，食前米湯送下。</p>
<p>固腸丸　椿根白皮（炒）為末，酒糊為丸，治濕氣下利，便血及白帶，去脾胃陳積之疾（用此蒼朮三錢　白芷二錢　黃連（炒）二錢　黃芩三錢　黃柏（炒）一錢五分　白芍二錢五分椿根白皮（炒）一錢五分　山茱萸二錢五分糊丸，空心酒下五十丸。</p>
<p>丹方　黃芩研細末，燒秤錘淬酒調下三錢，食前服。</p>
<p>又方甜杏仁上黃皮燒灰存性，空心熱酒下三錢。</p>
<p>又方蓮蓬燒灰存性，酒下二錢。</p>
<p>又方白礬（水飛過）面糊丸，如指頭大，每服一丸，黃酒送下。</p>
<p>又方天靈蓋燒灰，每服黃酒下二錢。</p>
<p>又方黑驢糞燒灰存性，面糊丸，空心酒下六七十丸。</p>
<p>又方烏梅燒灰，烏梅湯下。</p>
<p>余論凡血崩，乃經脈錯亂。一二日不止，便有瘀血凝成窠柏，若驟用藥住澀，必見增劇。宜以五之。</p>
<p>帶下赤屬血，白屬氣。原素有濕熱，產育房勞傷於營衛，濁氣滲入膀胱，故流穢物。世俗之方，多用燥熱止澀，雖亦偶效，因此延綿。蓋知下焦虛寒，不知中焦濕熱也。治之之法，大約宜清上實下，理脾養血清心，薄滋味，帶自除矣。丹溪以燥滋先為，用二陳東加蒼朮、白朮，甚者用吐以提其氣。肥人多是濕痰，用海石、半夏、南星（炒）、黃柏、蒼朮、川芎、椿皮；瘦人白帶少，如有者多熱，以炒柏、滑石、椿皮、川芎、海石（如無海石，以蛤粉亦可，無椿皮以青黛）作丸子服。實者可下，虛者不可峻攻。如血虛者，加減四物湯；氣虛者，參朮陳皮間與之。濕勝者，用固腸丸；相火動者，於諸藥中少加黃柏、滑石，加龍骨、赤石脂，滯者加葵花（白花治白帶，赤花治赤帶），性燥加黃連，痰氣加蒼朮、香附、滑石、蛤粉、半夏、茯苓丸服。寒月少加乾薑，臨機應變，須斷濃味。</p>
<p>清白散　治白帶。</p>
<p>四物加黃柏　乾薑　貝母　甘草　樗根白皮　生薑煎服。肥人多濕疾，加白朮、半夏。</p>
<p>兼赤加條芩（酒炒）、荊芥。久下加熟地、牡蠣。氣虛加參　。腰腿痛加鹿角膠，若用烏雞丸更妙。</p>
<p>河間論：濕熱不散，先以十棗湯下之，後服苦楝丸，帶自除矣。苦楝（碎，酒浸）、茴香（炒）、當歸各等分為末，酒糊丸如桐子大，每服三五十丸，空心酒下。如用大玄胡散調下更妙。</p>
<p>（十棗湯見《局方》）</p>
<p>鮑氏方　治赤白帶。</p>
<p>紅棗（煮熟去皮）　芝麻（微炒，二味杵如泥）　茅山蒼朮（米泔水洗炒研末）等分三味共搗丸如桐子大，三錢一次，滾湯攜空心。此藥宜常服，止帶調營頗合宜。</p>
<p>單方治白帶。白果肉四兩，硫黃（研）一錢，二味同炒果熟，去黃，空心鹽湯嚼下，數料即止。</p>
<p>又方白鳳仙花為末，初服三錢，次服二錢，又次服一錢，三日即愈。至重者從五錢起，減一錢，五日痊愈。俱空心酒調服。</p>
<p>又方紅帶用紅雞冠花，白帶用白雞冠花，燒灰存性，研末，酒下二三錢。</p>
<p>又方用絲瓜根切片，大酒拌七次，研為細末，空心酒下。</p>
<p>又方用經霜桑葉研末，酒下三錢。</p>
<p>丹溪論：婦人經少過期，血少也，四物加參朮。帶痰加南星、半夏、陳皮。經少不及期而來淡色來者，痰多也，二陳加川芎、當歸。過期而來是血虛，宜補血，四物加黃　、陳皮、升麻，未及期先來，是氣血俱熱，宜涼血調氣，柴胡、黃芩、當歸、白芍、生半夏、香附。經不調而血水淡白，宜補氣血，參、　、芎、歸、香附、白芍，兼腹痛加膠珠、艾葉、玄胡。</p>
<p>經過後而作痛，乃虛中有熱，所以作痛。經水將來作痛，血實也，一云氣滯，加桃仁、黃連，香附。臨行時腰疼、腹痛，是鬱滯有瘀血，四物加紅花、桃仁、莪朮、玄胡、香附、木香，如發熱、加黃芩、柴胡。紫色成塊者，熱也，四物加黃連、柴胡。痰多占住血海地位，因而下多者，目必漸昏，肥人如此，用南星、蒼朮、川芎、香附作丸服之。肥人不及日數而多者，痰多血虛有熱，亦用前丸藥中，更加黃連、白朮丸服。血枯經閉者，四物加桃仁、紅花。軀脂滿，經閉者，以導痰湯，加黃連、川芎，不可服地黃，泥膈故也，如用以薑汁炒。肥胖飲食過度之人，而經水不調者，是濕痰，宜蒼朮、半夏、滑石、茯苓、白朮、香附、川芎、當歸，如臨經來時，肚痛者，四物加陳皮、玄胡、牡丹、甘草。若痛甚者，豆淋酒；痛緩者，童便，煮砂仁（炒）、條芩為丸。經水去多不能住者，以三補丸加莎根、龜版、金毛狗脊。</p>
<p>陰虛經脈久不通，小便澀，身體疼痛，四物加蒼朮、牛膝、陳皮、生甘草，又用蒼莎丸，加蒼耳、酒、芍藥為丸，就煎前藥吞下。經水過多，黃芩（炒）、白朮（炒）、龜版（炙）各一兩，黃柏（炒）三錢，椿根白皮七錢五分，香附子二錢半，共為末，酒糊丸，白湯空心下五十丸。積痰傷經不行，夜則妄語，栝蔞仁一兩，蒲黃五錢，吳茱萸十粒，桃仁五十粒，紅曲二錢，砂仁三兩，麻渣木為末，生薑汁化炊餅為丸，桐子大，空心下百丸。一切瘀血作痛，香附四兩（醋煮），瓦　子二兩（　，醋煮一夜），桃仁二兩，牡丹皮一兩，大黃（蒸熟）一兩，川芎五錢，紅花五錢，共為末，蒸餅為丸，桐子大，空心溫酒下三五十丸。</p>
<p>大溫經湯　治衝任虛損，月候不調，或來多不已，或過期不行，崩中去血過多，或經損娠，瘀血停留，小腹急痛，五心煩熱。</p>
<p>川芎　當歸　白芍　人參　甘草　阿膠　肉桂　丹皮　吳茱萸各二兩。</p>
<p>湯洗七次，半夏二兩半，麥冬（去心）五兩半，每服五錢，薑煎，空心熱服。</p>
<p>地骨皮散　治血風體虛，發渴寒熱。</p>
<p>地骨皮　柴胡各一兩　枳殼　前胡　黃　各六錢半　白茯苓　五加皮　人參　甘草　官桂先天歸一湯　人參八錢　白茯苓（去皮）一兩　白朮一兩（麩炒）　甘草四錢　當歸一兩二錢（酒洗）　川芎一兩　生地一兩（酒洗）　白芍八錢　川牛膝八錢（酒炒）　香附　砂仁（炒）　半夏　丹皮各七錢　陳皮六錢以上十四味，均作十劑，經未行先服五劑，後服五劑，薑煎空心服。渣再煎，臨臥服，經調脈和即當孕。如子宮久冷，加乾薑、肉桂各五錢。如冷盛，灸腹下三寸極效。子宮太熱加黃柏、知母、柴胡各六錢。白帶、白濁、白淫倍半夏，加白芷一兩，升麻五錢，氣滯加木香三錢。虛勞自汗或惡寒、發熱，加黃　、肉桂。咳嗽加阿膠、貝母各四錢。勞熱血枯加柴胡、鱉甲。飲食減少倍白朮、陳皮，加厚朴、神麯各五錢。肥人痰塞子宮，加南星、三棱各六錢，有瘀血加桃仁、玄胡、子紅花各四錢，蓬朮五錢。如未效，去參，加五靈脂二個（半生半炒）、乳香三錢。腰腿痛加杜仲一兩，桃仁四錢，羌活三錢。經行後疼者，虛也，加當歸八錢，熟地六錢，五味子三錢。腹痛有痞者，去牛膝，加三棱、莪朮各六錢，桃仁、枳實各五錢。前五劑加檳榔五錢。鬼胎先服桃仁、干膝、肉桂、麝香之類去之，然後服此方。經前期至者，加黃柏、蒲黃各五錢；後期至者、加乾薑、丹皮各五錢；崩漏加蓮蓬灰、黃芩各五錢，熟艾三錢，豬骨灰六錢，白芷六錢。有風寒濕氣加羌活七錢，乳香、沒藥、蒼朮各五錢，秦艽三錢。心腹痛加大腹皮、木香各三錢，檳榔五錢。小便澀少稍加豬苓、澤瀉。室女澀滯不調，加劉寄奴六錢，不效加衛茅三錢（一名鬼箭羽），神效。</p>
<p>種玉湯　婦人無子，為七情所傷，致血衰氣盛，經水不調，或淡或紫，崩漏下帶，肚腹疼痛，子宮虛冷，不能受胎。宜服：南芎　當歸四錢（酒洗）　熟地六錢　白芍一錢　陳皮　茯苓　延胡　丹皮　炒薑各三錢香附　吳茱萸（炒）各四錢　官桂　熟艾各二錢過期而淡者，加薑、桂、艾；先期紫色者，不必加減。以上十三味分四劑，經至日服起，每對期，百發百中。</p>
<p>百子附歸丸（鮑氏方）　調經養血，胎前產後並宜服之。四物加真阿膠、蘄艾葉各二兩，香附（赤心者，去毛，杵成米，水醋各浸一宿，晒焙）十二兩，用陳石榴一枚，連皮搗碎，東流水三升熬，去滓，面糊丸桐子大，空心陳米醋點沸湯下百丸。</p>
<p>單方調經。只用嫩芩一兩，切片，以老酒浸晒三晝夜為末，經來二日服五分，第三日服一安胎丹溪論　產前當清熱養血。產婦因火動胎逆，上作喘急者，急用香附、條芩為末調下，（條而安胎；益母草治胎前產後諸病，能行氣養血，難產可煎作膏服，地黃膏、牛膝膏皆可服。</p>
<p>懷妊乃一臟之虛，假如肝臟虛，其肝氣只能生胎，無余用也。不能榮其肝，肝虛故受酸物。</p>
<p>產前安胎，白朮、黃芩為妙藥者。條芩安胎聖藥也，人不知，以為害而不敢用，或反謂濕熱之藥，可養胎，殊不知產前宜清熱，令血循經而不妄行，故能養胎。胎熱將臨月，以三補丸加炒香附、炒白芍，共蒸餅為丸服。抑熱以三補丸，用地黃膏丸。有孕八九月，必須順氣，用枳殼、蘇梗。凡妊娠婦脈細勻，易產；大浮緩火氣散，難產，如抱船過壩一般。固胎，地黃五分，歸身、人參、白芍各一錢，白朮一錢五分，川芎、黃芩各五分，陳皮一錢，甘草三分，黃連、黃柏各少許，桑上牛兒膝（七葉要者），每二錢入元米一撮煎服。血虛不安，用阿膠。痛用砂仁，止痛安胎行氣故也。</p>
<p>驗胎散　川芎末一兩，空心艾葉湯下，覺微動是胎，一日不動，乃經滯耳。</p>
<p>別男女法：沉為男，浮為女；左尺大為男，右尺大為女；至半身手心發紅為男，青為女。</p>
<p>保胎丸　專治屢經墮胎，久不育者。過七個月不必服。</p>
<p>人參二兩五錢　白朮四兩　黃芩　當歸各二兩　杜仲（鹽炒酒研）　續斷（酒浸）　熟地各一兩保生湯　治經不行，似病非病，六脈均而滑大，惡聞食氣，吐清水者，名惡阻。</p>
<p>人參　甘草二錢半　白朮　陳皮　香附　烏藥各五錢分作兩劑，生薑煎服。惡心嘔吐加丁香。</p>
<p>轉女為男法（鮑氏方）　受孕後，用絳囊盛弓弦一條，系婦人左臂上，垂系腰下，滿百日去之皆雄雞胎病十三種有胎則脾運化不利而生濕，濕生痰，痰生熱，熱生風，故諸病易作。</p>
<p>惡阻者，痰也。肥人多痰，瘦人有熱，俱宜二陳湯或茯苓補心湯。</p>
<p>子煩，心驚煩悶，熱也。白茯苓、防風、麥冬、黃芩。</p>
<p>子癇，謂孕婦痰涎潮，風也。當歸、川芎、防風、獨活、茯神、五加皮、杏仁、薏苡仁、酸棗子懸，謂心胃脹滿，氣也。芎、歸、芍、人參、紫蘇、陳皮、甘草、大腹皮、蔥白、生薑煎子氣，三月成胎，兩足面漸腫至膝，喘悶妨食，甚至腳趾間出黃水者，濕也。天仙藤，紫蘇、陳皮、香附、烏藥、木香、甘草、生薑煎服。</p>
<p>子腫，孕婦七八月，面目四肢浮腫，亦濕也，四物加白朮、茯苓、甘草、澤瀉、條芩、梔子、麥冬、厚朴。</p>
<p>子淋，孕婦小便澀痛頻數，亦熱也。麥冬、赤茯苓、大腹皮、木通、甘草、淡竹葉。一方用轉胞，不得小便，虛也，與淋相似，痛者為子淋，不痛者為轉胞。五苓散加阿膠。七八月以後者，或用冬葵子、滑石、山梔、木通，空心煎服。外以冬葵子、滑石、梔子臼內搗膏，生蔥汁調貼臍中，立通。七月以前不可用。</p>
<p>胎漏，有胎見紅，虛而有熱也。歸尾、南芎各五錢，黃酒煎好，入童便一盞，臨臥服。</p>
<p>胎動，六七個月，或築磕損胎，惡露下，痛不已，口噤欲臥，用佛手散探之，不損則痛止，若損即逐下。當歸六錢，川芎四錢，用水一碗半煎，將干投酒一大碗共煎沸，去渣溫服，口噤灌之。如人行五裡，再服，三服便生。</p>
<p>鬼胎，如抱瓮者，用斬鬼丹。吳茱萸、川芎、秦艽、柴胡、白僵蠶，煉蜜丸桐子大，酒下七症瘕有似於胎，用枳殼檳榔丸，消散症瘕，調經進食，兼養胎氣。腹大，謂胎間有水氣也。</p>
<p>白朮五兩，茯苓四兩，當歸、芍藥各二兩，用鯉魚一個，洗淨煮汁，一碗半，煎前藥，加陳皮少許，薑七片空心服。</p>
<p>按月安胎兩三月，臨動不安。杜仲（去皮，銼薑汁炒去絲）、川續斷（酒浸）各二兩，為末，棗肉為丸如梧桐子，每服三十丸，米飲下。四五月下墜，小腹痛，小便痛，或下血。當歸、川芎、人參各一兩，棗子二枚，艾一虎口，酒水各二升，煮至三升，入阿膠一兩，分二服。</p>
<p>六七月胎動不安，常處旋覆花一兩，厚朴、白朮、茯苓各三兩，芍藥、生薑各二兩，每服一兩，食前溫服。忌雀肉、羊肉、桃李。又，金匱當歸飲，妊娠宜常服之，芎、歸、芍、黃芩、白朮五味為末，酒調服，或酒糊丸，茶湯任下五十丸，日三服。</p>
<p>孕婦風寒熱病十五方表虛六合湯　孕婦傷寒中風，表虛自汗，頭痛項強、身熱惡風，脈浮而弱，太陽經病。</p>
<p>宜服四物湯四兩，桂枝、地骨皮各七錢。表實六合湯　孕婦傷寒，頭痛身熱，無汗，脈浮緊，惡寒，太陰經病。四物湯四兩，麻黃、肢節煩疼，脈浮而澀，頭痛，太陽標病也。四物湯四升麻六合湯　傷寒下後，過經不愈，濕毒發斑如錦文。四物湯四兩，升麻、連翹各七錢。</p>
<p>柴胡六合湯　傷寒胸脅滿痛而脈弦，少陽頭昏，項強。四物四兩，柴胡、黃芩各七錢。</p>
<p>大黃六合湯　傷寒大便硬，小便赤，氣滿而脈沉數，陽明太陽本病也，四物四兩，大黃五錢人參六合湯　傷寒汗下後，咳嗽不止者，四物四兩，人參、五味子各五錢。</p>
<p>厚朴六合湯　傷寒汗下後，虛痞脹滿，或咳嗽者，陽明本虛。服四物四兩，厚朴、枳實（薑炒）各五錢。</p>
<p>梔子六合湯　傷寒汗下後不得眠者，四物四兩，梔子、黃芩各五錢。</p>
<p>石膏六合湯　傷寒身熱大渴，蒸熱而煩，脈長而大者，服四物四兩，石膏、知母各五錢。</p>
<p>茯苓六合湯　傷寒小便不利，太陽本病也。服四物四兩，茯苓、澤瀉各五錢。</p>
<p>膠艾六合湯　傷寒汗下後，血崩不止，胎氣損者，服四物四兩，阿膠、艾葉各五錢。</p>
<p>琥珀六合湯　傷寒小便赤如血，太陽本病。服四物四兩，琥珀、茯苓各五錢。</p>
<p>附子六合湯　傷寒四肢拘急，身涼微汗，腹中痛，脈沉而遲，少陰病也。服四物四兩，附子（四物大黃湯　傷寒蓄血，不宜墮胎，藥下服四物四兩，生地、大黃（酒浸）各五錢。</p>
<p>傷寒護胎法　用白藥子為末，雞蛋清攤貼臍下，干以水濕之。又方，壯熱盛者，用井底泥敷束胎散（八個月可服）黃芩（炒，夏一兩，春秋七錢，冬五錢），白朮二兩（不見火），茯苓七錢達生散（九個月可服，凡胎至九月不宜交合）　大腹三錢人參五分　陳皮五分　白朮一錢芍藥一錢　甘草（炙）二分　蘇莖葉五分　歸身尾一錢作一服。入蔥五葉，黃楊樹梢頭葉七片，或加枳殼，砂仁，以水煎，食後服。八九個月服十數帖，甚得力。夏加黃芩，春加川芎，氣虛加參朮，氣實倍香附、陳皮，血虛倍當歸、地黃，形實倍紫蘇，性急加黃連，有熱加黃芩，濕痰加滑石、半夏，食積加山楂，食後易飢倍黃楊，腹痛加木香、桂。</p>
<p>又方九個月服黃芩一兩（酒炒，怯弱者減半），白朮一兩，枳殼（炒）七錢五分，滑石七錢五傷元催生將產脈離經，經者，一呼三至也。切莫矜張，或痛或止，謂之游痛，不可用力，宜令人扶行，直至腰腹引痛，眼中如見火光，乃是兒轉之候。胞漿水破，難以行動，然後坐草。切勿坐草太早，恐兒在腹中難於轉側，致胞先破，橫生逆生，至危也。倘然，先見手足，急用細針刺手足心一二分三四刺，以鹽塗之，輕輕送入，兒後痛驚，轉乃順矣。有破水後經日不產者，因失於調理，臨月不謹之故，當詳辨之，其體熱作寒，面黑，舌青及舌上冷，子母俱死；唇口俱青，吐沫，子母俱死；面赤舌青，母活子死；面青舌赤，口出沫，母死子活。遇胎衣不下者，防帶一斷，胞上掩心，死在須臾，宜兩頭縛緊剪斷，以物墜住，其血不入胞中，胞自萎縮而下，產母能寬心，縱淹數日，亦不害人。</p>
<p>天麻丸（即益母草）六月初，連根采益母草，陰乾為末，煉蜜丸如龍眼大，臨產童便溫酒或湯臨產，腰痛至甚時，用雞子清一個調藥，再用薑汁調開冷服。如橫生、倒產即時順，子母平安。</p>
<p>又方治瀝漿胞干，胎不得下，用香油、蜂蜜各一碗，和勻，銅鍋內慢火煎一二沸，掠去沫，調白滑石一兩攪勻，頓服。外以油蜜於母腹臍上下摩之。</p>
<p>黃金散　治一二日難分娩者，服之如神。真金箔大者五片，小者七片，小瓷鐘盛水少許，去紙入金在內，以指研勻，再添水至半鐘，令一人扶產婦虛坐，再令一人將大指按定產婦兩肩井穴，溫服前藥，其胎即下。</p>
<p>奪命丸　治婦人小產，下血過多，子死腹中，其人憎寒，手指爪甲、唇舌青黑，或胎上搶心，悶欲死，冷汗自出，或食毒物，或誤食草藥，動胎氣下血不止，服之可安胎，已死服之可下。</p>
<p>桃仁（麩炒去皮）赤芍　官桂　白茯苓　牡丹皮各二分蜜丸彈子大。每一丸，細嚼淡醋湯下，連進二丸，雖胎腐爛腹中，立可取出。</p>
<p>兔腦丸　母丁香、乳香各一錢，麝香一字，為極細末。</p>
<p>臘月取兔腦（去皮研如泥）和為丸，如雞頭實大，辰砂一錢為衣，陰乾，油紙密封，每服一丸單方治坐草三四日不下，即刻可下。蜂蜜、香油、好酒各一鐘，合煎，產婦面東服。</p>
<p>又方魚膠七寸，麻油燈上燒過，為末，酒調服。</p>
<p>脫衣散　胞衣不下。</p>
<p>滑石四錢　川牛膝　木通各三錢　歸　冬葵子　枳殼各二錢又方治產母元氣虛薄者，用川芎、歸尾，倍桂溫之，自下。</p>
<p>又方用蓖麻子七粒去殼，研膏塗腳心，胞衣下即速洗去。不洗腸出，卻用此膏塗頂上，復入。一方產婦自將頭發，咽咽作嘔即出。</p>
<p>附下死胎　官桂三錢，麝香五分，俱另末溫酒調服，須臾如手推下。</p>
<p>又方治橫逆不順，子死腹中。伏龍肝為末二錢，溫酒調服，其兒帶土而下。又方平胃散一酒水各一盞煎八分，入朴硝五錢再煎，領出候溫胎，其胎化為水下。</p>
<p>產後男弗喜，女弗怒，勿遽睡，令閉目而坐，須臾方可上床，倚背仰臥立膝，勿令伸足，勿令熟睡，常淬醋煙，以防暈悶。逡巡少進白粥，五七日不可恃強下床。一月內若傷於房事，則生別症，最難醫治。最宜謹戒。後有外感內傷雜症，與男子等，但宜當加理血藥為助，消息之而參用焉。</p>
<p>產後發熱六種新產之脈宜虛。叔和云：緩滑吉，實大弦急死。大侵寸口，焱疾不調死，沉細附骨生。</p>
<p>夫產後發熱，有惡露不盡者，有去血過多者，有傷力者，有飲食者，有感風寒者，有感冒夾食夾氣者，有三日蒸乳者。俱身痛腹痛，俱以理血為主，不可驟用人參，不可輕用芍藥，不可表發，不可苦寒藥。惡露不盡，發熱惡寒，脅肋脹滿，大小腹有塊作痛，宜四物加五靈脂、丹皮、桃仁、紅花、延胡、香附、青皮、乾薑、官桂，酒水各一鐘，黑豆一撮煎八分，磨木香，入童便、薑汁，取下惡物為妙。或用黑神散尤妙，後以八物東加乾薑、陳皮、香附（童便炒）調理。去血過多發熱，脈虛大無力，內無痛者，乃陰虛不足，陽無所附也，四物去芍藥，加白朮、茯苓淡滲其熱。若大熱不退加黑薑神效，或用芎歸調血飲亦妙。傷力者同此治。內傷飲食發熱，頭痛，有噫氣作酸，惡聞食臭，口中無味，胸膈飽悶，氣口脈緊盛，宜治中外感風寒，脈浮而微，或自汗，蓋冒風也，以芎芷香蘇散加羌活、防風主之；脈弦而懸，或惡露不退，是感寒也，以五積散主之；脈浮而緊，風寒兩感，以五積交加散主之，有汗去麻黃加人參。</p>
<p>感冒夾食夾氣，人迎氣口脈俱緊盛，以行氣香蘇散主之。</p>
<p>蒸乳乳間脹硬疼痛，令產母揉乳，令汁通自愈。或用木通、通草、豬蹄煎服。無子者當稍用凡產後有病，先固血氣為主，余疾者從末治。</p>
<p>產後雜症八種產後血暈，雖有力乏、血多、血少三種，大約虛火立血上行，概用韭葉細切，盛於有嘴瓶中，以熱醋沃之，急封瓶口，以嘴塞產婦鼻，可止眩暈。又方，使鹿角燒灰出火毒，研極細末，童便合好，酒灌下即醒。</p>
<p>又方沒藥、血竭等分，名為奪命散，童便、好酒各半盞煎一二沸，調下二錢，良久再一服，並治血入心經狂亂。</p>
<p>產後中風口噤，乃血虛而風入夾口也；若角弓反張，乃體虛而風入陽經，故腰背攣急也。四物加秦艽、羌活、荊芥（略炒為末），每服三錢，黑豆淋酒下。又方，當歸、荊芥各一錢五分，水一盞，酒少許，煎七分灌之，下咽即效。□□可服小續命湯。</p>
<p>產後水腫，亦須大補氣血，少佐蒼朮、茯苓，其水自利。</p>
<p>產後血崩，瑞蓮一兩（燒灰存性），棕桐灰、當歸各一兩，官桂五錢，檳榔二枚，鯉魚鱗（炒）</p>
<p>產後不語，敗血迷心也。四物加辰砂、紅花、石菖蒲、人參。</p>
<p>產後失音，血侵心肺，又傷風故也。茯苓補心湯去陳皮、枳殼、川芎，加升麻、防風、薄荷、赤芍、當歸、生地、紅花、黃連、膽星、生薑煎服。</p>
<p>產後子宮不收，荊芥穗、藿香葉、臭椿皮、等煎湯熏洗。</p>
<p>又方治子宮痛不可忍，五倍子、白礬、湯洗、干糝亦可。</p>
<p>紅花散　產後血盛血崩、月事不調，及遠年干血氣。</p>
<p>干荷葉　丹皮　當歸　紅花　蒲黃（炒）各等分酒調下一錢，若胞衣不下，以椿白皮煎湯調下五錢，立效。</p>
<p>黑神散　當歸　熟地　白芍　肉桂　甘草（炙）各一兩　沉香　棕灰　蒲黃　沒藥各五錢乳香三錢　赤芍一錢　血竭五分為細末，每服二錢，空心無灰酒送下。此方可代奪命散，凡敗血作患，及胞衣不下，皆宜服理脾湯　產後停食，胸膈飽悶，身發寒熱，不思飲食。</p>
<p>麥芽二錢　神麯　厚朴（薑汁炒）各一錢五分　蒼朮　陳皮　山楂　桔梗各一錢　黑薑八分理中湯　脾胃虛憊，飲食不進，嘔吐泄瀉，心腹疼痛，體虛有熱，胎前產後□□□□□□□白朮（土炒）　乾薑（湯泡炒黑）　陳皮（去白）　神麯（炒）　香附（炒）各一兩　砂仁（炒）　麥芽□□□□□六錢神麯糊為丸，如桐子大，空心米湯服下八十丸。</p>
<p>推氣養血丸　產後右脅膨脹有塊，如豎弦一條，著緊便疼。用：白米（土炒）　青皮（香油炒）　陳皮　枳實（麩炒）　烏藥　厚朴（薑汁炒）　乾薑（炒黑）　白芥子（炒）　川芎　當歸（酒洗）　白芍（酒炒）各一兩　麥芽（炒）　肉桂各六錢　木香三錢　三棱　莪朮各八錢（皆醋炒）　香附二兩（童便浸炒）醋糊丸如桐子大，空心米湯一百丸。</p>
<p>養血佐肝丸　產後脹悶，一塊在左，臥不著床。</p>
<p>當歸　南芎　半夏（香油炒）　白朮（炒）　白芍（酒炒）　陳皮（去白）　青皮（去心香油炒）　神麯（炒）　萊菔子（炒）　丹皮（酒洗）　白茯苓　紅花各一兩　柴胡（酒炒）一錢　龍膽草（酒洗）六錢　三棱　莪朮各五錢（醋炒）　桃仁（去皮尖，炒）八分　香附二兩（醋炒）酒糊丸如梧桐子，白湯下一百丸。</p>
<p>失笑散　治小腸氣痛，及婦人血氣痛欲死者。五靈脂、蒲黃各等分，上為末，每服二錢，醋一合，熬膏，入水一盞，煎一分，熱服。</p>
<p>血竭膏　治平血氣。錦紋大黃四兩，酒浸干為末，好醋一升熬膏，丸如彈子大，熟酒化開一丸，臨臥服。大便行一二次，紅脈自下。乃調經之仙藥。</p>
<p>單方產後一切血氣腹痛。天仙藤（炒）三兩，為末，每服二錢。腹痛，炒薑和童便、酒調下；患氣用酒下。</p>
<p>又方治產後敗血不止，生地一兩，石器內搗為末，每服二錢，食前熱酒調服，連進三服。</p>
<p>催乳乳汁不通有血□□成，乳脈澀而不行者；有血氣虛弱而絕少者；有忿怒郁悶或濃味所釀，熱甚血沸而化膿者；有因乳子含乳而睡，口氣　熱，致成桔核不化，宜忍痛揉軟而成毒者。</p>
<p>通乳湯　氣少血弱。用：豬蹄（下節）四只　通草二兩　川芎一兩　穿山甲十四（炒黃）　甘草一錢用水五升，煮三升，一日飲之，外以蔥湯頻洗乳，忌風寒生冷。</p>
<p>漏蘆散　氣脈壅塞。用：漏蘆二兩半　蛇蛻十條（炙）　栝蔞十個（急火燒存性）　酒調一二錢，仍吃熱羹助之。</p>
<p>玉露飲　乳脈不行，身體壯熱，頭痛，此涼膈壓熱，下乳。用：川芎　白芷　桔梗（炒）各五錢　甘草　白茯苓各二錢半　人參二錢　白芍一錢半　當歸一錢</p>
<h2>幼科門</h2>
<p>推散氣促攻中指，夾根掐汗出少府；橫紋和氣皆腹痛，定吼後谿覓昏沉；水瀉兼瘧疾，輕搖　肘調營血；二便不通或瀉行，陰陽分按陰□□；膈胸痞滿欲消詳，八卦營運化痰疾；久掐　箸大陵穴，能消諸熱退目赤；陽池頭痛推可止，腹痛尋穴按中渚；喘吼無名夾指根，勞宮外掐止瀉泄。</p>
<p>推拿小兒要訣　心經有熱作痴迷，天河推過作洪池；肝經有病患多痹，推展脾土病能除；脾土有病食不進，推展脾土效必應；肺經受風咳嗽多，手把肺經久按摩；腎經有病小便塞，推展腎水即救得；大腸有病泄瀉多，好把太陽著意摩；命門有病元氣虧，脾土太陽八為卦；三焦生病多寒熱，天河六腑神仙訣；膀胱有病作淋　，腎水八卦運天河；膽經有病口作苦，只從妙法推脾土；胃經有病寒氣攻，涼卻肺經能去風；小腸有病早來攻，橫紋　門推可通。</p>
<p>掐法　掐驚之法，起自中指甲肉盡處，先掐一下，以引動其血脈，隨揉九九數，以調和其元氣，所謂先沖而後補也，此名蒼龍擺尾之法。次及小指、食指，再以口咬大拇指，亦向甲肉盡處一咬一放，輕重得宜，亦九九數，是為龍入虎口法也。再以右手大指望小兒印堂推至發際，到囪門，共推二十四下，次以兩手大指於印堂分摩眉間，至太陽、太陰穴，復至印堂中掐五下、九下，如　此圖。復向發際、囟門、山根、準頭、人中、地角各掐一把。此法通五臟，行氣血，壯精神，除風痰，為開關秘訣，百病俱用此法。若瀉痢，開關後仍向臍下揉百遍即止；若驚風暴死，取男左女右中指外一分，重掐一下，見哭出汗方是活症，此探生死之妙訣也。如欲兒汗，開關後從男左女右風池掐一下，太陽穴揉十余下，其汗自出；多欲止，從右風池掐一下，即止。或欲兒吐，開關後，用大指中指按見頰車、太陰、太陽穴，先瀉二十四下，各行單雙數目，　緊緊拿住，待有哭聲時才放，再急將兒大指甲一線之地，外面重掐即吐，待吐而放，吐多從甲內一線掐一下即止。若欲兒下，開關後用手心在兒KT尾穴，左轉十下，氣海穴重揉三下，右轉即瀉下。凡治諸病，如外感則汗之，內傷則下之，內外兩感按摩法　按以留之，摩以去之，掐以沖之，揉以和之，運則行之，推則走之，搓則轉之，搖則動之。凡小兒不拘何病，父母抱之，以手掌心貼兒臍下、小腹，往上輕輕托抱之，又令一人抱其頭，左右旋搖各數十，能令五臟沖和，百病消散。其睡時亦以手按小腹，功效如神。</p>
<p>三關脈訣　虎口脈紋亂，兒童氣不和；三關參脈色，百病見沉　；黃色雷轟□，赤煩人叫呼；白疳　食積，紫熱嚇青多；槍刺風痰怪，環珠脾胃魔；外彎風熱犯，內曲食寒魔；黑粒流珠斃，紅絲內熱過；風痰兼氣急，紅脈感寒科；黑色命關透，良醫無奈何。</p>
<p>看驚歌　五指梢頭冷，驚來不可當；若逢中指熱，必定是傷寒；中指獨自冷，麻痘正相當；看耳法　耳後青筋起，主螈　跳躍之狀；耳前後微黃，主驚風，入腎切牙；兩耳畔青筋，橫過發際，主臍下痛，吊腎氣；耳後黑色侵繞者死；耳瘡生者，腎經熱；耳後紅絲現者，主出活幼黃金散　治小兒一切驚風、吐瀉、腹脹、不思飲食，熱極煩躁，二便結澀，諸般雜症，天竹黃（炒）五錢　全蠍（去頭尾，瓦焙乾）五錢　蟬蛻（去頭足）三錢　白蒺藜（炒去刺）　薑黃　防風　甘草　黃芩　鬱金　山梔仁（炒）以上各一兩　蠶（炒）五錢　牛黃一錢五分亦可以上十二味，共研為極細末，每服小者一匙，大者加用。如驚風，薄荷湯下；煩躁，燈心同灶心土五錢，湯下，大小便治小兒諸病方　山楂四兩　陳皮（去白）一兩　枳實（曲炒）一兩　胡黃連（淨）一兩青黛五錢　使君子一兩　蘆薈五錢　人參五錢　青皮五錢　莪朮五錢　蕪荑　神麯各六錢以上為末，使君子殼煎湯，火米為末，打糊為丸，如龍核大，每一丸，清米湯下。</p>
<p>七味保嬰丹　老火米（主清胃）　黃土（養脾，炒）　苦竹葉（去熱）　燈草（主夜啼）</p>
<p>蘿卜子（上隨症所主者多用，其余次之，每服不過三錢，袋盛煮湯，任意渴飲，或加蜜少許。調理小兒丸　茯苓三兩　山楂肉　砂仁　白朮　神麯　黃　白芍各一兩　用山藥二兩打糊為丸。</p>
<p>香橘餅　治小兒傷食腹飽，嘔吐作瀉，發熱口乾，飲食不消，胸膈不寬。</p>
<p>山楂四兩　神麯六兩（炒）　麥芽六兩（炒）　陳皮（不用片）四兩　砂仁四兩　紫厚朴四兩（薑汁炒）　木香四兩　三棱四兩（醋拌炒）　蓬朮四兩（醋拌炒）　香附四兩　青皮四兩（醋炒）　甘草三兩上為末，煉蜜作餅，一歲一餅，或二歲至五歲二餅，量強弱增減用之。用陳米四十粒煎湯，空心化下。或病勢壯實，用淡薑湯下。忌油膩硬物、魚腥面食。如小兒瀉甚，倍用牡蠣；如驚跌，倍用朱砂；如咳嗽，倍用玄明粉；腹飽，倍丹青，忌同前。琥珀珍珠散　小兒有五症，心肝脾肺腎是也。十歲以下為疳，十歲以上為癆，皆因飲食不節，以致吐瀉日久，漸成瘦弱，骨蒸內熱，骨瘦如柴，手足俱細，肚大青筋，眼花夜盲，口渴鼻孔俱紅，並皆治之。</p>
<p>滑石二斤（米泔水飛）　赤石脂十二兩（米泔水飛）　軟石膏六兩（　）　石決明（白）十二個　海螵蛸（去殼）三兩　玄明粉（潔白）二兩　青丹二兩（米泔水飛）　牡蠣三個（醋　九次）　箭砂上為末，雄豬肝用竹刀批開，摻藥在內，不落水，不犯鐵器，用藥五分入內，以線扎好，米泔水一碗煮熟，空心蓮湯服盡為妙。如小兒不吃湯，以碗貯之，飯上蒸熟亦可，或摻粥飯內吃之亦可。</p>
<p>沙氏紫金錠　蛇含石四兩（炭火上，加破鐵鍋炙紅取下，置於青石上七次，視內紅出為度，和水研末極細，水飛過，煉得紅者妙）　青礞石一兩（入銀罐內和硝火　，飛過）白附子二兩　明天麻二兩　天竹黃（嫩者）一兩　膽星二兩　朱砂二兩　麝香五錢又方加神麯、山楂，治五歲以上兒，用糯米搗和成餅。</p>
<p>治小兒痞積　急性子　水紅花子　大黃　皮硝各一兩（拌勻）用白鴨一只（去毛糞，勿犯水，以布拭淨），將藥裝入內，以線縫之，入砂鍋內，用水三碗，重重紙封，煮干將鴨翻掉，黃色止，冷定。早晨食之，日西時疾軟，三日大便下血則痊矣。</p>
<p>又方觀音柳煎湯露一宿，五更空心飲數次，腹中痞自消。</p>
<p>治小兒慢驚　全蠍一個　僵蠶三條　青蒿蟲七枚　朱砂　硼砂各一分研細，用人乳和勻送下。</p>
<p>治小兒急驚搐搦欲死　麝香一分　丁香七粒　胡椒三十五粒為末，用豬板油少許為丸，入臍中上，用濕草紙三層，以熱磚熨紙上自愈。</p>
<p>治小兒驚風吐瀉　宜服五苓散，以瀉丙火，滲濕土。內有肉桂，能抑肝風而扶脾土。</p>
<p>加減柴苓湯　治小兒瘧，和解表裡，分理陰陽。</p>
<p>柴胡　半夏　黃芩　茯苓　白朮　青皮　當歸　知母以上各等分，暑渴加石膏、麥冬；寒盛加桂枝、乾薑；痰盛加前胡、檳榔；食積加草果、麥加減芍藥湯　治小兒赤白痢。</p>
<p>當歸　芍藥　陳皮　枳殼　黃連　木香　乾薑（炒黑）甘草以上各等分如赤痢加紅曲、黃芩；白痢加滑石（炒）、肉桂少許；食積加麥芽、山楂、砂仁；水瀉痢加豬苓、澤瀉、茯苓、蒼朮；血黑加桃仁、紅花、山楂；赤白痢加玄胡索。</p>
<p>調中湯　治小兒瘧痢齊行。</p>
<p>柴胡　半夏　黃芩　白朮　茯苓　枳殼　木香　陳皮　青皮　甘草　草果以上各等分如渴加石膏、生薑水煎，赤痢加當歸、紅曲、桃仁，白痢加滑石。</p>
<p>斷痢散　治小兒赤白滯下並水瀉。車前子（炒香）為末，每服一二錢，米飲下即止。</p>
<p>青六一散　治小兒赤白痢。滑石六錢，甘草一錢，青黛一錢，為末，每服一二錢，溫水下。石蓮飲　治小兒噤口痢。石蓮肉（炒）、淮山藥各等分，為末，每服一錢，米飲下。治小兒瀉痢後脫肛　用槐花末一二錢，陳米湯下。</p>
<p>三仙保命丹　治小兒疳積。</p>
<p>穀精草（研末）八分　蛤蜊殼（研末）三錢二分　石燕（研末）二錢共和一處，每用二錢，將豬肝二兩，用竹刀刳碎，將末藥摻在肝上，用酒煮熟，去藥吃肝，重者五六服，酒送下。治蟲積　辰砂二錢（明者佳），石決明四錢（須眼多者），二味為末，用一錢入豬肝內，筍箬包神效走馬牙根腐爛驗方　用溺桶中白垢（火　）一錢，入銅綠三分，麝香一分半，吹之即愈。</p>
<p>又方用牡蠣三兩（火　紅，醋淬七次），冰片二分，共為細末，吹之即愈。</p>
<p>病原論：夫小兒者，幼科也。初生者曰嬰兒，三歲者曰小兒，十歲者曰童子。兒有大小之不蓋望則面青，肺病則面白，心病則面赤。</p>
<p>治　頭方　廁內久浸瓦片，洗淨晒露七日夜，不可見雨。研末敷之，中留小孔即愈。</p>
<p>一方　加蒸過饅頭荷葉。</p>
<p>又方紫口蛤蜊殼燒為末，香油敷。</p>
<p>又方枳殼半個去穰，合上面封之，干則用水濕，開再換，膿完即好。一切硬毒俱治。</p>
<p>又方蛇殼一片，唾濕貼瘡，即出膿愈。</p>
<p>一方　用小麥。</p>
<p>治暑月頭上生癤　槿樹花敷之。</p>
<p>又方用鬼饅頭白汁點之。</p>
<p>治抱頭火，並貼骨火方　芝麻萁燒過存性為末，入銀朱少許，醋調敷。</p>
<p>治流漿泡及抱頭火、赤游丹並一切熱毒川大黃　蚯蚓糞　黃柏　側柏葉等分並炒，雞子清調敷效。</p>
<p>治赤游丹　半歲內因濕生熱，初起一二點紅，走動遍身，從頭手起者，至心死；從足起者，至腎死。急則將線扎住，用瓷鋒從兩頭刺出血，嚼浮萍敷之；緩則將薑汁、蔥汁燒鹽煎湯洗之（湯勿令入眼），再服後藥。白芍、陳皮、黃芩各五分，藿香、木通各四分，煎服。</p>
<p>又方蔥白、蜂蜜搗敷云頭處。</p>
<p>又方赤小豆粉醋調敷。</p>
<p>又方瓦松搗敷。</p>
<p>又方大黃、巴蕉根搗敷。</p>
<p>又方用生豬肉貼之。</p>
<p>又方治一切火毒。用雞子清調伏龍肝敷。</p>
<p>治蛛絲丹　韭地蚯蚓糞（微炒）研末摻之。如干，用香油調搽。又方，用醋磨鐵鏽搽之。</p>
<p>治重舌　巴豆半粒，飯黏五粒，研餅如豆大，貼眉心，待四圍起泡去之。又歌曰：小兒重舌治口中諸病，不能吮乳及喉腫　黃連　黃柏各八分　辰砂　青黛　雄黃各二分　朴硝一分半治一切無名腫毒濕爛　大人亦效。蚯蚓糞三兩，熟皮硝二兩，研末，汲水濃調濃敷。</p>
<p>治肥瘡、黃水瘡　紅棗（燒灰）　枯礬　黃丹　松香各一錢　官粉五分　銀珠三分濕則摻之，干則用香油搽。</p>
<p>一方　用豬爪灰（即豬蹄鞋燒灰）濕則摻上，干則用麻油調摻。</p>
<p>治禿瘡並頑癬　桃頭七個（長四寸，搗）　烏梅七個　白礬　川椒　胡椒各一錢　香油二兩又方黃丹、豆腐渣濃敷之，數日而愈。</p>
<p>又方臘肉骨燒灰，香油搽。</p>
<p>又方陳小麥半升，炒時陸續下，硫黃二兩為面，每兩下蜈蚣三條，再研，先將蔥椒洗淨，麻油調敷，三次即愈，剃發再搽三次，永不再發。</p>
<p>治身上痱子癢　冬瓜皮摩之即愈，冬月用藤煎湯洗之。</p>
<p>治瘡疥癢　金銀花　苦參　荊芥　甘菊　防風各五錢煎好入皮硝一兩洗之。</p>
<p>五福化毒丹　治一切胎毒上攻，口舌生瘡，重舌、木舌，馬牙鵝口，及遍身瘡癤，赤游驚，桔梗（去蘆皮微炒）　玄參（去蘆洗，焙）各六兩　白茯苓（去皮）五兩　牙硝　人參　青黛各二治夜啼　蟬蛻七個，取下半截為末，薄荷湯入酒少許，調下一字。如不信，服上半截則復啼治盜汗　胡黃連、柴胡等分為末，煉蜜丸如芡實大，一丸至三丸，用酒化開，加水五分，重治斷臍不如法，臍內血出　僵蠶（炒去絲）為末，蜜調敷瘡口。</p>
<p>治小兒出尿　烏藥為末，米湯下三錢。又方，燕窩草燒灰，水調服。</p>
<p>治大便不通方（幼弱不可下者用之）　蜜三兩熬如飴，加牙皂末三錢，捻作挺子三四條，將一萬億丸　能治小兒百病（方見普濟）。</p>
<p>治嗽方　甜梨一個，切開入蜜於內，面裹煨吃之。</p>
<p>又治久嗽方　南星　半夏　白礬（生）　牙皂　杏仁（去殼研）　巴豆（去殼研）</p>
<p>棗肉丸如梧子，用三五丸，針挑燈上燒存性，茶清下。余兒克大，時年十三，咳嗽發熱，痰抱龍丸（壯實者宜服）　治傷風發熱，痰壅潮搐，瘟疫中暑等症。</p>
<p>膽南星八錢　麝香一錢　天竺黃　雄黃　辰砂各四分　甘草膏（臘雪煎尤佳）為丸，如皂子大，百日分三次服。</p>
<p>白朮散　治吐瀉後作渴，將成慢驚者。</p>
<p>人參　白茯苓（去皮）　白朮　藿香　干葛　炙甘草　木香等分煎服。若瀉痢頻數將成驚，加山藥、白扁豆、肉豆蔻（煨）各一錢，用薑一片煎。若慢驚已作，加細辛、天麻各一錢，白附子八分，全蠍三個。若冬月小兒吐多，胃寒，加丁香二粒。胃虛不能食，大渴不止，加天花粉；能食而渴者，乃用白虎東加人參。</p>
<p>肥兒丸　磨癖清熱，進食殺蟲。</p>
<p>人參　白朮　黃連（薑汁炒）　神麯　麥芽　楂肉各七錢　白茯苓　甘草（炙）各六錢使君子（肉）九錢　胡黃連一兩　蘆薈五錢（碗盛泥封固，置土坑內，四面糠火煨透用之）</p>
<p>黃米糊為家傳肥兒方　山藥二兩（飯上蒸）　五穀蟲（瓦上焙）　茯苓（去皮）　白扁豆（炒）楂肉（炒）　芍藥（酒炒）　麥芽（粉）　神麯（炒）　當歸（土炒）各一兩半　陳皮（炒）　使君子（肉）各一兩　甘草七錢　黃連（薑汁炒，飯上蒸七次）煉蜜丸如元眼大，空心燈心湯化下。</p>
<p>治臍風撮口　只用田螺三個，入麝香搗爛搽臍。</p>
<p>小兒水瀉，脾虛飲食不化　半夏七分（湯泡七次）　白朮二錢（河水浸半日焙）　丁香五分（微炒）共為細末，用生薑自然汁糊為丸，如桐子大。十歲以上者二十丸，年幼減至五、六丸，新起者一服即止，年久者二三服愈。</p>
<p>一方　白朮（土炒）、白茯苓各等分，同陳米一撮煮粥，只吃米湯即下。</p>
<p>一方　將糞蛆新瓦焙乾，炙為末，每服三錢，沙糖食效。</p>
<p>治赤游丹　將蔥白、蜂蜜同搗爛，敷云頭處愈。</p>
<p>又小兒如被蚯蚓傷小便者　以鹽湯洗數次愈。</p>
<p>小兒遺溺　雄雞肝、桂心各等分，同搗爛如泥小豆大，每服十粒酒下，日三服。</p>
<p>治諸物食積作痛　大人小兒俱可服。</p>
<p>白朮一兩　茯苓一兩　蘿卜子（另蒸入藥）二錢　山楂肉一兩五錢　法製半夏一兩陳皮五錢</p>
<h2>痘科門</h2>
<p>小兒痘疹科辨論訣辨病識疹　痘疹初發似傷寒，憎寒壯熱體疼酸；耳尖鼻尖　骨冷，耳後紅脈臉赤看；眼澀生痘疹日數　痘疹欲出身熱初，熱不狂兮痘必疏；一二三日微微出，出者須明畏隱無；四五六痂漸不須服藥　痘疹不拘多與少，顆顆根紅方是好；明光滑澤似珠圓，不用求醫不用禱。</p>
<p>痘疹宜忌　房衣宜潔更宜密，身宜常溫更宜熱；最忌飲冷及沖寒，臭穢腥臊如仇隙。</p>
<p>痘疹輕重　輕者須分三次出，根紅大小不等一；頭面稀少眼中無，光明肥滑表裡實；一齊出喘身痘疹五不治　癢塌憎寒戰不止，切牙氣促煩渴利；喘息不寧紫黑色，頭溫足冷悶飲水；腹脹喘咳灰白陷，五者看來皆不治。</p>
<p>治痘大略　痘門無表無下理，解熱和中安表耳；虛則益之實則損，溫涼平熱而已矣。</p>
<p>隨症用藥　痘瘡未出初發熱，耳尖鼻尖冷如鐵；便宜用藥發散之，升葛楂黏甘草節。痘瘡將出絲瓜好，近蒂連皮三寸燒；或入箭頭砂少許，沙糖調服毒潛消。痘疹初出適害眼，腦囟頭發須宜剪；鼠黏為末蜜調塗，盲瞎自能從此免。痘瘡出不快，四聖方書載；紫草與炙甘，木通枳殼配；水煎二三錢，　面還盎背，或加黃　尤妙焉。化毒湯須紫草茸，升麻炙草輕重同；痘瘡已出出不透，半合香粳（米也）水煮濃。白芍藥炒為末，每服一錢，散名活血，瘡出不快用酒調，腹若疼兮溫水啜。痰涎鬱滯因氣實，致使痘瘡發不出；升防歸芍與黃芩，連翹白芷同蒼朮。痘瘡已發三七朝，不紅兮活不起發；透肌解毒散有功，甘草歸防陳赤芍。初出胸前瘡太密，藥須解毒為最急；楂黏甘節紫　參，酒炒芩連及荊柏。痘瘡色黑為血熱，藥與胸前太密同；惟是山楂不須用，更加升芍與防風。痘瘡發白氣應虛，芩朮芎歸與　；升葛木香同作劑，若加訶蔻瀉為宜。瘡中黑陷外白起，黑宜涼血白補氣；醫者何法以治之，相兼而治斯為美。瘡幸將成色淡兮，紅花酒芍與芎歸；紫宜解毒並涼血，芩與升連翹葛隨。痘疹如太甚，人參敗毒散急宜進（人參、桔梗、甘草、川芎、茯苓、枳殼、羌活、獨活、前胡、柴胡）。犀角地黃湯亦佳（生犀角、赤芍藥、牡丹皮、生地黃，熱甚加黃芩），二藥任君斟酌飲。胃虛吐利逆冷手足，瘡發多癢或出不足；散為木香功效神速，香分丁木皮用青腹；參半桂心訶前甘茯，薑水同煎食前溫服。異攻散功更奇，木丁半附朴陳皮；參苓桂術當歸等，肉果生薑大棗宜。黑陷倒靨與灰白，痘瘡此是惡消息；人貓豬犬臘辰灰，一服三分調以蜜；或用穿山甲嘴上鱗三五片，燒灰研末，當歸酒調下尤妙，此名無價散。外傷惡氣致倒靨，甘草黃　用梢；更有參歸芎與芍，木香白芷共連翹。痘瘡宜愈久不愈，膿血淋漓為誰語；多年茅屋爛草柴，焙末敷之何所慮。百祥丸用紅牙戟，瘡黑陷甚煮去骨；晒乾復煮煮復晒，務盡初時所煮汁；臨干丸如粟米粗，每服可用二十粒；更研赤芝麻作湯，吐利亦同此湯吃。灰黑頂陷十死七，內有斑丁人不識；要識其中大者是，四聖靈丹真妙術；豌豆燒灰用七七，珍珠研搗三五粒；發灰胭脂調作膏，撥以銀簪點之吉。痘瘡已愈眼生翳，十兩穀精蛤粉倍；黑豆用皮稱三錢，　用生研勿火焙；豬肝作片再批開，摻藥其中緊縛系；砂罐煮干令食之，免使他年眇而睇。瘡既收兮喜不禁，渾身壯熱復憂心；門冬龍膽柴胡共，甘草玄胡與楝參；鼠黏十倍須令炒，射干升麻炙甘草；口舌生瘡喉腫痛，大便堅實服之好。痘瘡收後毒歸心，為致心脾痛不禁，芍藥當歸並乳沒，水煎溫服毒難侵。一切瘡余毒；雙親急問醫，鼠黏蟬蛻等，荊草芍防歸。</p>
<p>治蟲痘方　絲瓜葉汁噙噴痘上，以柳葉鋪床臥之。若皮濃不出，以銀針挑破，滴香油入內即治痘不起　韭菜根煎湯服，外用乳香、檀香、沉香熏之。</p>
<p>救急方　臘月收人豬貓犬糞，燒灰為末。遇危急者，蜜調服之，百無一死。</p>
<p>移瘡法　喉間緊閉，用巴豆、篦麻子各一粒，加黃丹少許，研餅貼眉心，一夜即開。若貼起痘出眼中方（百日內猶可治）　石青、黃丹各一錢，輕粉五分，用二三厘，右眼吹左耳，左眼吹右耳，其翳自落。又方，用桑葉蒂白漿滴在田螺肉內，螺即放水，瓷鐘盛之。將羊毛筆洗淨，蘸水點之即去。若冬月時，先將針挑，壁　水點之，翳即不大，至春月仍用桑葉。又方秘傳萬應稀痘飲　新拋羊屎一粒　黑赤綠豆各二十一粒　甘草節二分　燈心二十七段（長一寸）　六安茶一錢　珍珠一分　銀簪一根（洗淨）</p>
<p>水二鐘煎作茶飲之。此藥當痘行之時預服即不出。如身熱服之必稀。</p>
<p>稀痘單方　臍帶初落，即用米泔洗淨，焙為末。每一分入朱砂（甘草湯飛過）三厘，搽乳上，以一晝夜吃盡為妙。</p>
<p>一方　用生地、當歸煎，調納兒上　取下惡物，不惟稀痘，並無驚風諸疾。又方，用經霜楝一方　用烏魚。</p>
<p>又方發熱時即用金銀花一兩，防風一錢，黑沙糖調下三錢。</p>
<p>又方用烏骨雞子一個，開一小孔，納白頭蚯蚓一條，紙糊飯上蒸熟，去蚓食之。經年不出，或聞鄰家出痘服之，亦能稀痘，或竟不出。</p>
<p>又方用絲瓜近蒂三寸（炒灰存性），沙糖調服，一方用子。</p>
<p>治痘瘡遍身濕爛　取舊屋茅晒乾為末摻之。</p>
<p>一方　用出窯新瓦為末（名振陶散）亦妙。</p>
<p>治痘生眼中　剌蝙蝠血滴入。</p>
<p>治眼合久不開，用真濟寧油煙脂敷眼縫即開。</p>
<p>治痘毒　用糟茄皮貼之，硬即軟，潰即消。又方，綠豆粉雞子清調敷。</p>
<h2>外科附錄</h2>
<p>漏蘆湯　治諸癰疽疔腫，無論是陰是陽，未破之毒，兼初潰紅腫尚未盡消，及濕爛疥瘡等症漏蘆二錢五分　紫花地丁　荊芥　當歸（酒洗）　連翹　薄荷　白芷　升麻各一錢　麻黃三錢　大黃二錢　生甘草四分水二鐘，煎八分，食遠服，蓋衣取汗，渣再煎溫服。第二日諸藥同前麻黃一錢，大黃二錢五分，甘草六分，照前煎溫服。第三日，諸藥同前麻黃、大黃、甘草各一錢，照前煎溫服。凡患大毒，腠理秘固，此宜於三味加減緩緩而疏表之，其紅腫未盡，照第三日之方再服一二帖無礙。如不欲表，麻黃少用或不用亦可；如大便不實，大黃少用或不用亦可。此藥欲汗則蓋衣熱服，不欲汗不蓋溫服。如上部加桔梗，頭上加川芎，面上加蔓荊子，酒水各半煎，臨睡服。中部照本方不加。下部加牛膝，空心服。北方人生便毒，服利藥正氣受傷，皮濃不穿不神燈照熏藥　雄黃　朱砂　血竭　沒藥各二錢　麝香四分上五味求極真者，研細末，綿紙裁為條，長尺許，闊四指。每條用藥三分卷成捻，以真麻油蘸透，扶病起坐，或側身臥定，點著藥捻對患處離半寸許，自毒之紅暈外照起而內周遭，徐徐旋轉，旋至中央，更須將捻猛力向外一提，藥氣從燈頭漸漸而入，毒瓦斯從火頭上一提而出，其燈必滅。篦去燈煤，再點再照，視毒之大小，用捻之多寡或三五根或八九根，以意酌量用之。照至三根，腫處覺得寬暢；照至五六根，腫皮即皺，痛隨減。漏蘆湯或前後進之，得微汗痛人自覺爽矣。照後勿信人言敷貼別藥，過半日此藥既盡，疼痛稍作，仍前照一次，日日如此，照二三日，其毒麻木不疼。自初發照起，照至腫平色白內消而止。毒盛不能內消者，日夜煎藥一貼，照熏兩次則以已成之毒盡化為膿，不砭自穿，貼後二膏。陽毒有椒眼，數十照久脫落，如蜂窩狀一頭，或如爛肺條條片片，或如粉糊，或紫血水惡肉腐盡，新肉漸生如榴子，不用生肌散而口自合矣。如陰毒外皮不爛，毒肉內化稠膿，當頭自破，二膏日換一次，肉滿而止。</p>
<p>臘礬丸　治初腫及內消已成之毒，能護心固膜，實臟腑，止痛，化死肌，催毒安速，穿逐敗膿，生新肉，外科中始終該服之聖劑也。凡患癰疽之證，先失其治，致毒瓦斯上攻心包絡而嘔逆作。又有陰疽，庸醫誤投涼藥而嘔逆者，急服是藥以救之，日二三服。不應則危已哉。黃蠟二兩，分為五分；明礬三兩，研末分為五分。先以明礬分置瓷碗中，將黃蠟一分入杓內化開，投礬末中，乘熱捏成團，近火邊烤丸如梧子大，丸畢再將礬蠟連照化投丸之，每服二三十丸，溫酒送或米飲清湯皆可送。上部食後服，中部食遠服，下部空心服，日一服或二三服。</p>
<p>白玉膏　凡潰後之瘡，即將此膏塗於太乙膏中貼之。倘陽癰大潰，死皮卷籠，貼久自化，不勞刀鉤，日換一次貼肉。條條片片而落，新肉累累而生，膿盡肉平口合矣。</p>
<p>白蠟　黃蠟各五錢　鉛粉一兩　龍骨　海螵蛸　象牙（焙）　鳳凰蛻（焙）　雞內金（焙）</p>
<p>蝸牛（焙）　輕粉　乳香（枯）　沒藥（枯）　以上各一錢共研為末　白粉霜一錢（另研。</p>
<p>如無，紅粉霜代之）　水銀一錢　樟腦四錢（研）先將鮮豬板油熬淨二兩，鍋內熔化，次投黃白蠟化，再投鉛粉，再投九味細藥，攪冷，將凝方入水銀、粉霜、樟腦，急攪冷定，埋土出火毒，花椒、蔥、槐條煎湯洗過貼之。</p>
<p>太乙膏　大生地　玄參　白芷　當歸　赤芍　肉桂（香辣者）各五錢　真芝麻油一斤浸上藥，春秋五日，夏三冬七日。急用不浸亦可，入鍋熬黑去渣，加飛過黃丹八兩，收熬至滴水成珠，傾冷水中二三次，攤膏罩白玉膏貼之。瘡收口後，新肉微突，貼久自平，護之為佳。</p>
<p>戒煎　發物、雞魚牛肉、螄螺羊肉及心肺腸肝、糟筍面筋、黃瓜韭蔥薑椒辛辣之物，綠豆豆芽、酒色氣惱、烙餅煎炙及穢惡之人、行經婦女、陰臭口臭之人，生粉瓜果、硬冷難化、濃味生冷冷水等物，惟宜淡糕白老米粥飯，不可太飽，又不可太飢，茶飯粥食宜少而頻。</p>
<p>余論凡遇顯症，內以漏蘆湯次第表之，外用神燈以火引火，使毒內外分消，不半日而凶證隨減，輕者自平，重者依方再服再照，始終進蠟礬丸護心固膜、止痛排膿。貼白玉膏、太乙膏去腐生新，肉平口合，萬法歸一，真神方也。</p>
<p>臟腑積毒癰疽作，助胃壯氣為內托。佐以行經活血宜，更參時令並經絡。太陽經分腦頂背，癰發黃連消毒最。二防二活甘桔兼，當歸六黃生熟地（芩連　柏生熟地又治盜汗）。參翹知澤與陳皮，蘇木蒿本同為劑。尻臀生癰是太陽，宜用內托羌活湯；黃　酒柏當歸尾，防蒿翹陳甘桂蒼。臂癰經屬陽明分，白芷升麻湯可飲；生芩酒芩經桔甘，酒　倍入同良醞。瘡生腿內近膝股，此是太陽厥陰部；　柴翹桂土瓜根，生地柏羌防尾伍。腿之外側少陽是，微侵陽明痛難履；炙甘　柏桂柴翹，歸尾升麻大力子。肺癰枳桔配黃　，薏苡栝蔞貝母歸；防已杏仁甘草節，又加百合與桑皮。口吐膿血似肺癰，更兼口臭口能容；發灰量入消風散，米飲濃調服數鐘。乳癰乳硬用青皮，甘節蔞翹芎主之；未潰刺桃並橘葉，潰加參芍與歸　。蒲公英、忍冬藤，酒水各一升；乳癰並惡腫，試效古今稱。腹痛，脈滑數無力，此是腸癰病應的，可服雲母膏一兩〈雲母膏方　蜀椒（去目微炒）、白芷、赤芍、肉桂、當歸、菖蒲、黃、白芨、芎　、黃芩、夜合皮、附子、良薑、茯苓各五錢，甘草四兩，桑皮、柏葉、槐枝、柳枝各二兩，木香、龍膽、白蘞、防風、厚朴、桔梗、柴胡、松脂、人參、蒼朮、陳皮（細銼）各五錢，入清油四十兩，浸七日，文武火煎，以柳篦不住手攪，匝沸下火，沸定，又上火，如此三次，以藥老黃色為度，去渣再熬，後入黃丹十四兩，沒藥、鹽花、麒麟竭、麝香、乳香各五錢，螵蛸、雲母各四兩，不住手攪，將凝又熬，滴水成珠為度，瓷器收貯。候溫，將水銀二兩以手細彈鋪上。用時先刮去水銀，或服或貼，能治一切瘡腫傷折等病，外以牛膠酒溶化液〉。癰疽入囊者，濕熱流肝經；更以補陰佐，臨危亦可生。囊癰腫而裂，托以桴炭木；既托又何如？　包以紫蘇葉。紫花射干治便毒，請君尋三寸足；生薑食前煎而服，得利數行任趨躅。牽牛牛蒡子（酒煨），大黃破故紙；便毒用等分，酒調一兩餌。若治便毒膿已結，丹溪妙法為君說；大黃連翹各三錢，二錢厚朴甘草節；三七桃仁三片薑，三錢枳實分三帖。玉莖皮塌長而腫，小柴胡裡黃連用；若還兩脅氣上衝，少加黃柏瀉火攻。莖中堅硬服青皮，散風之藥佐之宜；更將何藥敷其內，絲瓜子汁調五倍。男子下疳奚，生薑酒水煎服。</p>
<p>腦癰發背去木通。發背誤服涼藥，食少困頓，肌肉不生，去木通，少用當歸，倍厚朴、陳皮。</p>
<p>流注加獨活。打破傷折在頭，去木通加川芎、陳皮。經年腰痛加萆　，酒煎再加玄胡索。腳氣加檳榔、木通、穿山甲。堅硬不穿加穿山甲、獨活、麻黃、黃連須，加蔥。無膿或薄血清水，或膿如連翹敗毒散　治癰疽發背、疔瘡，一切無名腫毒，憎寒壯熱二日至四五日者。</p>
<p>連翹　金銀花　柴胡　防風　羌活　獨活　前胡　荊芥　枳殼　桔梗　茯苓　川芎　薄荷真人活命飲　治服敗毒散未消至六七日者。</p>
<p>天花粉　甘草節　乳香　白芷　赤芍　貝母各二錢　沒藥　歸尾（酒洗）一錢　防風八分皂酒一碗半，紙封勿令泄氣，慢火煎至一碗，能飲者服後再飲三五杯，側臥覺痛稍定則生，背沃雪湯　治腹內生癰疽，及一切毒，亦即真人活命飲去防風。用：歸身　白芍　加黃　連翹　射干　青皮　木香　甚者加大黃內消散　治腸癰便毒，及一切毒，使血從大便內下。即真人活命飲去貝母、防風、陳皮，加大黃、木鱉、僵蠶、栝蔞仁各一錢。</p>
<p>托裡消毒散（與瘰　通看）　治癰疽將潰者，能固脾胃，使毒瓦斯不內攻。</p>
<p>金銀花　陳皮各三錢　天花粉　黃　（生）各二錢　防風　當歸（酒洗）　川芎　白芷桔梗　厚朴（薑炒）　穿山甲（炙）　皂角刺（炒）各一錢酒水各一盞煎服。已潰而虛者，去陳皮、花粉、山甲、角刺，加人參、薄桂、甘草。</p>
<p>益氣養榮湯（益氣養榮湯方詳瘰　）　凡病勢緩而人不足者宜先服之。</p>
<p>代刀方　有膿不穿者，用晚蠶繭（出空者）一枚，燒研酒下。一方加指甲於繭內更妙。</p>
<p>外用雄退管方　蟹殼一個，鱉頭骨一個，俱瓦上焙研，煉蜜丸如桐子，每日空心酒下二丸，能不間去爛肉方　巴豆（炒煙起，焦黑為度），研敷能去舊生新。</p>
<p>生肌散　硼砂（主藥）　沒藥各二錢　乳香　兒茶　血竭　赤石脂　海螵蛸　水銀　黑鉛龜版（炒）　鱉甲（炒）各一錢　輕粉三分作癢加白芷，並為末。將鉛煎化，入藥末研極細摻瘡。一方　加象皮、白螺殼；一方　加螵蛸、龍骨；一方　用上四味加黃連、黃柏、輕粉；一方　用上五味各三分，加冰片、珍珠各又方白死竹（無人見處佳）蘸菜油燒之，取滴下油搽生肉，神效。又方，黃柏為末，入雄豬又方烏梅燒灰存性敷之。</p>
<p>生肌止痛膏　香油二兩　黃蠟一兩（同化）　寒水石（　）一兩　黃丹一錢紙攤貼之。</p>
<p>又方治凸出　肉，烏梅搗爛，加蜜攤貼效。</p>
<p>治面項浮腫生毒　用狗尿塗之愈。</p>
<p>治　腮（一名蝦蟆瘟）　干葛　柴胡　紫蘇　黃芩　連翹　玄參　桔梗　金銀花　防風薄荷又方大黃、牡蠣、僵蠶、牛蒡子等分為末，噙化。</p>
<p>又方田螺肉和飛面搗，醋敷，如干，以醋潤之，一日夜愈。</p>
<p>又方青靛花敷。</p>
<p>治氣頸　海帶、昆布、黃芩各一兩，並酒炒。豬眼肉二十一個，瓦上焙。為末，五更酒下一治喉鵝　壁錢七個，明礬七厘，油頭發三根縛壁錢於銀簪上，燒存性。初起吹之即消，如無又方薄荷一兩　山豆根五錢　青黛二錢　硼砂　兒茶各一錢五分，加冰片吹。</p>
<p>又方治皮濃有膿而不出者，雄雞肫肝內黃皮（陰乾）為末，吹之即破。又方，蛇蛻（　）吹之治對口　茄蒂七個，何首烏五錢，酒煎露一宿，空心服，取微汗，不過三服。又方，豬眼稍又方紅菜頭葉加鹽搗敷。</p>
<p>又方雄黃、人中白、雄蜒蝣（背上有白紋者是，二條）搗爛敷之。</p>
<p>又方蕎麥面（要新磨者）水調作圈圍瘡，將肥大雄雞就圈滴血，注滿一周時效。</p>
<p>又方蚶肉研敷。</p>
<p>又方天茄（莖葉子俱用，即白牽牛）、生薑三片同搗，早晚換三日愈。</p>
<p>治發背初起　金銀花五兩，生甘草節五錢，河水、井水各五碗，砂鍋煎至五碗，入酒一碗，又方金墨（磨濃，於暈外畫圈）、雄豬膽汁、薑汁等分，於圈內時時塗之，留頂出毒瓦斯，三日後出干膿而愈。</p>
<p>又方蓮房（燒存性，蓋土地一夜），桐油調敷。</p>
<p>治發背已成（冷陷者難治）　茅根一兩　當歸　連翹　白朮　金銀花各五錢　芭蕉根二錢皂刺　半夏　薑黃各二錢　黃　一錢五分　甘草（生）一錢水五碗，煎三碗，分三次服。</p>
<p>又方蛇頭草（一名婆婆針線包，子內有似楊花者）水濃煎，入陳酒半盅服取汗。如有鮮者，渣敷尤妙。</p>
<p>又方鉛粉三兩　血竭　朱砂各一兩　銀朱五錢乳汁調敷，外用豬腰子（竹刀切片）貼上，待貼上待臭黑去之，如煎，敷貼至不臭不黑而止，並治疔瘡惡毒。</p>
<p>又方蚓糞（　）　白螺殼（　）　蜂房（炒）　水龍骨（　）蜜調敷。</p>
<p>又方治潰爛者用螞蝗收毒，然而危矣。</p>
<p>治搭手　大蜂房，入香油點滴患處即愈。又方，獨蒜、板艾灸之。</p>
<p>治疔　初起時用核桃殼半個，盛溏雞屎合瘡上，外用艾灸至痛效。</p>
<p>又方朱砂一兩，雄黃五錢，麝香三分，並研，用火酒少許化蟾酥二錢和勻，入瓶臨時水調，搽頂撥出紫血愈。又端午日收　草為末酒下。</p>
<p>又方槐花末酒下五七錢。</p>
<p>又方蒼耳草、枸杞根、菊花葉搗汁白者佳，和湯服，渣敷。</p>
<p>又方荔枝肉十枚，霜梅十個，銀朱五錢，溏雞屎調敷，重者加蜒蚰十條。</p>
<p>又方蜒蝣一條，烏梅肉一個，搗敷留頂，如覺痛以冷水拭周遭，少時覺熱而愈。</p>
<p>又方治面上水疔，浮麥燒存性，燈盤下油調搽。</p>
<p>又方治嘴上疔，雄黃一分，和露天鐵繡、食鹽各少許，用刀挑開，上藥揉進，再摻在膏藥上貼之。總之，菊花搗汁一升（春苗冬根）服之，雖危亦救，渣加蝸牛搗貼。</p>
<p>治手指生蛇頭　雄豬膽套住，一日一換。又方，雄黃一錢，乳香五分，蜈蚣一條，為末，雞又方醬茄去蒂套指。</p>
<p>治　心毒　桐油垢（久住瓶上刮下）作丸，清菜湯下十丸，吐出血塊、血膿自愈，溫糊粥調理治乳癰初起　蚶殼五個（燒），熱酒沖服。</p>
<p>又方加皂角灰。</p>
<p>又方用蓮房灰三錢。</p>
<p>又方用樺皮灰三錢。</p>
<p>又方用貝母、白芷等分研末，酒下三四錢。</p>
<p>又方瑞香腦頭七個，男子頭垢為丸，七粒，生白酒煮瑞花香送下（如無，以菊花代之）。</p>
<p>一方　菊花頭搗敷。</p>
<p>治乳癰（治乳方多，惟此神效，並治一切癰疽瘰　）栝蔞大者二個（搗）　當歸（酒洗）</p>
<p>甘草各五錢　沒藥　乳香各一錢（研）分二劑，酒煎，分三次飲，以渣敷乳。</p>
<p>治乳癰潰爛　竹葉灰摻之。</p>
<p>又方貓毛（用頭腹下者燒存性）、輕粉少許，香油調塗。</p>
<p>治河白　榆樹根皮三斤（切），煎湯洗浴，隨用香油一盅，麝香一分調塗。虛腫處以手擠之，治遍身結核　金銀花藤、菖蒲根搗汁塗之。</p>
<p>又方生薑、白芥子（搗）和飛面敷。</p>
<p>治脅下毒　生地榆搗汁，和酒熱服。</p>
<p>治陰子腫大如水晶，陰汗潮濕（內服治濕湯）　灶心土三升（研），砂鍋炒極熱，加川椒、茴香於面，置陰囊在上，冷則再炒，如此三次即愈。治男子陰頭癰　皂角（不蛀者燒存性）酒下。</p>
<p>又方皂角（炒）、陳小粉（炒）等分，熱醋調貼，干則以水潤之。又方，鱉甲（炙脆研末），雞治陰子爛出（先用紫蘇湯洗）　杉木灰、紫蘇葉等分為末敷，仍以紫蘇包之。一方用野紫蘇（又方鳳仙花、甘草為末，下用艾揉熟托之。</p>
<p>治脫肛　五倍子八個，川椒二十粒，蔥二根（用青），米泔煎洗。</p>
<p>又方治腸出者，薑汁和蜜潤之即收。</p>
<p>治臟毒　百草霜一兩　烏梅十個（去核），搗丸，米飲下二三錢。</p>
<p>又方用豬胰子半斤，好酒半碗燉熟，空心服之。</p>
<p>治偷糞鼠　槐角　枳殼各三錢　黃芩　生地各二錢　黃連一錢五分　穿山甲（炒）　蒲黃僵蠶各一錢作二帖煎服。如大便不通，加大黃二錢，煎一滾即服，忌口。</p>
<p>治鶴膝風（先用紫蘇湯洗）　當歸　白芍　熟地　陳皮　白朮　茯苓　知母　牛膝　木瓜等分又方古銅錢（火　醋淬）、大楓子（肉）各五分，用核桃肉十二個，徐徐嚼咽兩次效。</p>
<p>又方全蠍七個，核桃劈開，去肉入蠍，草紙裹之，苧麻密扎，炭火漫炙，候煙淨取蠍為末，米酒送下，再盡量為度，三服效。</p>
<p>又方膽星、半夏、山梔仁，飛面滾酒調敷，至不黑不痛而止。</p>
<p>又方薑蔥搗敷，以帛裹定，覺熱即愈，重者二次。</p>
<p>又方用尿半桶，入瓮內燒滾，熏洗三四次即可走。</p>
<p>治重腿粗腫　豆腐渣一斤，板豬油四兩，搗敷，有臭水出即消。</p>
<p>治諸漏　鳳凰衣燒灰，生桐油調，塞入眼漏內。</p>
<p>治火丹　馬齒莧、醬板草搗汁，酒下，其渣加鹽少許敷之。</p>
<p>又方寒水石、飛丹，豬膽汁敷。</p>
<p>又方黃柏（去粗皮，膽汁浸晒）為末，地瀝青調敷。</p>
<p>又方用頭油繩扎住，新汲水加白礬頻拭之。</p>
<p>黑丹　面上、身上生黑點如疥者，若遍身即難治。鹿角燒灰，豬油調搽。</p>
<p>游腫（又名五色丹）　敗蒲席燒灰，雞子清搽。一方用赤小豆。</p>
<p>治瘌痢　（詳幼科）　先將米泔洗淨，次用牛骨髓搽之。</p>
<p>又方苦楝根皮燒存性研，豬脂塗，並治諸瘡。</p>
<p>又方鯽魚一個，不去腸鱗，開孔塞入亂髮，鹽泥封　，干則加豬油塗。</p>
<p>又方鹽鹵、香油各半鐘，銀耳搗調至如糊，剝去瘡痂敷之，十日即愈。</p>
<p>又方蔥椒末和面，豬油調做如僧帽覆之，以布扎住，待冷烘熱再覆。</p>
<p>又方以飯湯洗去痂，搗蒜敷之，用和尚帽罩住。</p>
<p>治頭面生瘡（有水流到即成瘡者）　松香四錢，飛丹二錢，銀朱一錢，帶根蔥搗汁和藥，煎干焙為末，菜油搽，並治熱癤。</p>
<p>點痣方　糯米一撮，鹽水浸七日如泥。用針微刺破點之，三四次即愈。</p>
<p>治面上紫塊（大如錢，小如豆者）　穿山甲十片（炒），生薑、野大黃各四兩（取汁），生絹包藥，蘸汁擦患處，如干加醋三四次效。</p>
<p>治面上生肺風瘡及皮膚癢　麥冬（去心）一斤，橘紅四兩，熬膏，入蜜二兩再熬成珠，浸水中又方苦參五錢煎湯，入皮硝一兩、牙硝五錢熏洗。</p>
<p>又方皂角去皮三片　白芨　白芷　天花粉各一兩　甘松　山柰　藿香　白丁香（臘月收）各五錢　樟腦一錢　升麻半斤　楮實子五兩　綠豆一兩　砂仁五錢　糯米一升煉蜜丸如彈子，洗面最妙，或散用亦可。一方用牙皂一兩（無升麻以下五味），加木澤、細辛、杏仁、密陀僧各五錢，白茯苓八錢，為末乳汁調敷，清晨洗去。</p>
<p>治雀斑　櫻桃枝、霜梅肉、紫背萍、牙皂等分，為末，如常洗面。</p>
<p>治面上風癬（先用苦參湯洗）　白芷三錢　黃連　黃丹各二錢　白茯苓一錢五分　輕粉五分香油調搽。一方加竹節、白附子、治面風之游走。</p>
<p>治口瘡（牙疳見幼科）　芩連梔柏加細辛乾薑，等分為末，先用米泔水漱口，後搽，神效。</p>
<p>治口吻瘡　檳榔燒灰敷之。</p>
<p>又方發灰、絮灰、黃連研末敷之。</p>
<p>又方治唇裂，橄欖去核燒存性，豬油調敷。</p>
<p>治羊須瘡　小紅棗燒灰，清油調敷。</p>
<p>治凍瘡癢痛　蟹殼燒研，菜油敷。</p>
<p>又方酒化鹿角膠搽。</p>
<p>又方雀腦或兔腦搽。</p>
<p>治漆瘡　死蟹水（置瓮內作爛）塗之。</p>
<p>又方貫眾為末，香油調塗瘡上。</p>
<p>治抓破面皮　薑汁調輕粉塗之，便無痕跡。</p>
<p>手搔傷成瘡（先用花椒湯洗）　牙皂　枯礬　黃連　黃柏　輕粉等分研末敷之。又方，石膏、輕粉等分，痛加乳香、沒藥。</p>
<p>治瘰　瘡（名益氣養榮湯）　黃　（蜜炙）　人參　白朮（炒）各一錢五分　當歸（酒洗）　川芎　白芍（酒炒）　生地　陳皮　香附　貝母各二錢　柴胡　地骨皮　桔梗（炒）　甘草（炙）各五分吐痰加橘紅，刺痛加青皮、木香。午後熱頭微眩加黃柏（酒炒），膿水清倍參歸，女人有郁倍香附、貝母，月經不調加丹皮、當歸，先服十劑，後用朱砂、血竭各一錢，斑蝥（去翅足）三分（生），每服一分，空心燒酒調下。外用金頭蜈蚣一條研末，麻油一盞浸二日塗之。發初又方牡蠣、甘草各四兩，玄參二兩，糊丸茶酒任下。</p>
<p>又方茜草根煮雞子，先煮一滾待凝，打一小孔，塞入茜草根煮極熟，飯後吃一二枚。</p>
<p>又方枇杷葉（去毛尖筋，炒研），沙糖調服。</p>
<p>又方海藻淨研，酒浸飲之。</p>
<p>又方大蒜、白芥子，入桃殼合瘡上，艾灸之。</p>
<p>又方艾灸腳脛三裡穴七壯自愈。</p>
<p>又方細芽茶嚼爛敷之。</p>
<p>又方玄參搗敷。</p>
<p>又外貼方　未破者，地龍糞、雄黃、小麥面等分，為末醋調敷；已破者，銀朱、銅青各一用槐皮一斤，以針密密剌孔置瘡上，上摻藥以炭火灸之，熱痛為度，二三次愈。</p>
<p>肉痰瘤方　先將射香擦瘤上，以南星覆之，艾灸即愈。小者用蛛絲纏根則自落。</p>
<p>治豎肉　槿樹葉頻擦之。生腳底者，艾灸七壯。</p>
<p>治鵝掌風　醋煮艾再湯煎洗。</p>
<p>又方花椒、石菖蒲煎洗。</p>
<p>又方紫背浮萍洗。</p>
<p>又方官粉二錢　銀朱一錢五分　麝香五分（並研）　牛油　地瀝青　香油　黃蠟各一兩（並化）</p>
<p>和藥攪勻，隨擦隨烘。</p>
<p>又方白芍一兩，硫黃三錢，人言二分，公豬胰油搗擦，又方豬蹄殼燒灰，麻油調擦。</p>
<p>又方北瓜藤嫩頭摘斷，有水就擦之。</p>
<p>治手心皮破（名鵝眼風）　側柏葉和牛糞搗爛晒乾，放炭上燒煙熏手，日三四次，以愈為度。</p>
<p>治體氣腳臭　陀僧一兩，官粉一錢，體氣擦兩腋，腳臭擦雙足。一方加田螺、麝香。</p>
<p>又方以麝入螺取水搽。</p>
<p>又方以醋浸土木香（即馬兜鈴根）為末敷之。</p>
<p>治遍身風疹塊癢　苦參一斤，甘草一兩，河水煎湯，去渣入皮硝五錢洗，避風睡。</p>
<p>治汗斑　陀僧三錢　面粉　硫黃各二錢　信二分洗出汗，薑蘸擦之，待涼再擦。</p>
<p>又方硫黃二錢（研），面粉八分，汗出擦之。</p>
<p>又方醋入雞子清浸三日擦之。</p>
<p>治白癜及紫癜風歌　白癜紫癜兩般風，雄黃朱砂等分同；茄帝蘸來擦患處，不消三日有奇功又方白附子、雄黃、密陀僧等分為末，薑汁調，茄蒂擦。</p>
<p>又方治白癜風及白蛇丹。用魚腥草搗搽。</p>
<p>治濕風瘡（先用浮萍湯洗）　松香、黃柏、花椒等分為末，將紙錢板浸生桐油，蘸藥扎上，一又方百草霜、大黃、輕粉等分，桐油調搽。</p>
<p>又方石菖蒲為末，鋪席上臥之。</p>
<p>治血風瘡　松香　黃丹　良薑　半夏　蔥等分搗敷。</p>
<p>又方黃柏（蜜炙）三錢　黃丹（炒）二錢　鉛粉（略炒）　輕粉各一錢桐油調作夾紙膏貼。</p>
<p>又方黃柏（去皮）豬膽汁煮研敷。</p>
<p>又方用蔥一二斤煎湯洗，四五次效。</p>
<p>治三十六種風瘡　馬齒莧（取汁澄清）、黃臘等分，熬塗或用爐底黃丹收之。</p>
<p>治癘風（一名大麻風，指節疼痛，甚至脫落者）　松香一斤（水澄七次，淨用四兩）　草烏半斤　光烏四兩（水一桶煎濃汁去渣，煮香至干）　防風　甘草　荊芥　蒼朮各四兩（如上煎汁煮香）　鮮菖蒲三斤（如上煎汁煮香）</p>
<p>煮酒一碗，再煮香至干，如鯫眼看火候，取起浸水中，去火毒一夜，取起晒乾搗末，上身陳米丸，下體面糊丸。初三日每服一錢五分，次三日每服二錢，末三日每服二錢五分，日進二服。服過九日，再如初服，周而復始，酒下。</p>
<p>又方小麥二升（土灰蛇切段同煮，去蛇），用麥喂公鴨一七日，其毛自落，以酒煮之，令病人飲酒食鴨取汗（其蟲盡出，燒去衣被），如鴨吃不完，晒乾為末，酒丸服。</p>
<p>又方蓖麻子、黃連各一兩，以小瓶盛藥，入水一升，春夏三日，秋冬五日，取蓖麻子一粒，平旦劈開，即以浸藥水吞下，漸加至四五粒，微痢漸減。</p>
<p>又方重者用經霜角刺為末，酒下二錢，兩日一服。</p>
<p>又方黑鯉裡（去腸入老黃茄一個）煮熟，食魚，三次見效。</p>
<p>又方治皮膚爛。</p>
<p>滑石一兩　雄黃　硫黃　鳳凰衣各五錢　穿山甲十五片豬膽一個桑油敷（將桑枝塞滿瓶，下埋一空瓶，上以火逼出油）。</p>
<p>又方潮腦入桐杓，上用碗蓋，外用濕紙封，文武火升之，取碗上藥敷神效。治蟻窠瘡　麻油煎豆腐（切開）貼上，其蟲即出。</p>
<p>又方桐油調黃泥敷，一日一換。</p>
<p>又方用雄黃和搗豆腐渣，搗勻敷上，甚效。</p>
<p>治癬　土大黃根（即牛舌頭草）取汁，加生礬，薑汁醋調和，即以夏布包根薑渣，蘸汁頻擦。</p>
<p>又方豆腐渣、黃丹濃敷。</p>
<p>又方白礬二兩（化開），入水銀一兩，炒成末，生豬油敷。</p>
<p>又方治頑癬。斑蝥五錢（研），生蜜搽，半日起泡，俟脹急方刺破，四圍須用綿或絹頻拭，不使流水，待干即結痂，三日後揭去死皮，再用清油一兩，熬滾入全蠍七個，斑蝥九個，巴豆二十一粒，俟藥焦黑去渣，下黃蠟三錢化，少冷成膏，頻頻塗擦，五日愈。</p>
<p>膿窠瘡方　蓬蒿、鍛石二味等分，端午日搗，陰乾妙。</p>
<p>又方石膏一兩，飛丹一錢，共研末，用桐油調敷。</p>
<p>治遍身疥癩方　雄黃　生礬　川椒　硫黃四味等分，共為細末，用雞子六七個煮熟，去白將黃熬油，去渣調塗即愈。</p>
<p>又方大楓子一兩，胡桃肉五錢，川椒末二錢，樟腦、枯礬各三錢，共研細末極爛，搽瘡甚又方硫黃指頭大，信黃豆大，並研末，用蜂窠仰面，入綿油一鐘分注孔內，摻末在上，以點燒，油流下再倒窠上，如此三次，用火烘芥，待癢抓破搽油。</p>
<p>治囊癢痛（一名繡球風）鐵馬鞭草入罐內，煨湯熏洗，又方雞毛水洗，白果擦之。</p>
<p>又方本、細辛、白芷等分，黃豆泔水煎洗。</p>
<p>又方蛇床子、地骨皮、白蒺藜、紫花地丁各二兩，煎洗。又方皮硝湯洗。又方用荷葉湯洗，如有膿水，以野紫蘇葉研末摻之。</p>
<p>男婦陰瘡　朴硝　大黃　荊芥　苦參各五錢　五加皮二錢　黃柏一錢煎湯熏洗。</p>
<p>又方蒜頭（搗），男包陽，女包陰，汗出愈。</p>
<p>又方治婦人陰瘡。鯽魚頭、團魚頭各一個，炙末搽之。</p>
<p>又方治婦人濕熱下注，陰中癢極及生瘡。</p>
<p>苦參　威靈仙　蛇床子　歸尾　良薑各三錢煎湯先熏，臨洗入公豬膽汁。</p>
<p>一方　加鶴虱，再用杏仁（去皮尖）、輕粉、水銀（鉛炒）、雄黃各一錢，並研，每五分用棗一又方杏仁二十四粒，麝香五分，絹袋包烘熱入陰戶。</p>
<p>又方治陰內有蟲者。用豬肝削如筆管，刺孔入陰內，蟲盡入肝。</p>
<p>又方治婦人陰中突出如雞冠、如蛇頭。先用川芎、當歸湯洗，用藜蘆三錢，雄黃、輕粉、鱉頭（　研）各一錢，冰片二分，為末，早晚搽之。</p>
<p>治婦人裙帶瘡　水銀、黃丹等分，香油調敷。</p>
<p>又方鉛粉、輕粉，人乳調塗碗底，用艾熏透刮下，仍用人乳調敷。</p>
<p>又方面粉、蔥頭搗貼。</p>
<p>又方男子頭垢，桐油調作夾紙膏貼。</p>
<p>治痔瘡及漏　花椒子二錢，豆腐漿一碗，每日空心服一月效。</p>
<p>又方魚腥草　夏枯草　鳳尾草　醬板草　瓦花草（即瓦蔥）　龍須草（即楊樹根須）　穀樹葉又方治痔漏。胡黃連（末）一兩　穿山甲（麻油煮黃）　槐花（炒）　石決明（　末）煉蜜丸如麻子大，早晚米飲下一錢，四十日效。如四邊有硬肉，加蠶繭二十（炒研），並治遍身諸漏。</p>
<p>又方豬肉三斤，好酒三斤煮熟，上摻皮硝三錢，日日食之，管自退出。</p>
<p>又方硫黃四兩（入干豆腐煮一日研），紅棗一斤，煮爛丸如梧子，雄黃二錢為衣，日服三錢，管自退出，兩料愈。</p>
<p>又方治腸風痔漏下血，貓兒殘一兩，酒煎露一宿，空心服。</p>
<p>又熏洗方　大黃、皮硝、五倍子各一兩，煎湯，入冬瓜皮內熏洗。</p>
<p>又方治痔痛。五倍子四兩，煎濃湯熏洗，如癢加皮硝。一方用韭地蚓糞半升。</p>
<p>又方荊芥、皮硝、五倍子、甘草煎湯熏洗，再用田螺、冰片水搽。</p>
<p>又方，魚腥草熏洗。</p>
<p>又點痔方　大田螺一個（去靨），真膽礬一錢，冰片一分，並研入螺，置碗內周遭架好，以新又方白礬一兩二錢　白砒五錢　蠍梢八錢（瓦焙為末）黃丹（水飛）六錢　草烏頭末二錢鐵杓燒紅，待冷揩淨，先下礬化，次砒，次下三味，生麻油調敷，日三次，出黃水而消，先用筆蘸甘草湯洗淨上藥。</p>
<p>又方治臭痔，生礬一塊塞之。</p>
<p>又方治痔如瓜。以艾灸痔頂五七壯，瀉膿血而愈。</p>
<p>又方治內痔。</p>
<p>熊膽三分　蘆薈　雷丸各二分　冰片半分　胡蘿卜（煨半熟，蔥亦可）</p>
<p>綿裹蘸藥入幽門。</p>
<p>又方治漏年久者、難治者。麻雀立屎三粒，綠豆六粒，飛面、輕粉各一錢，水調捻條入管外用膏藥貼之，三日一上。</p>
<p>治坐板瘡　紫蘇東加鹽鹵一鐘熏洗，再用杏仁（去油）、輕粉各一錢，豬髓調塗。</p>
<p>又方雞心檳榔一個，香油磨，加硫黃少許搽之。</p>
<p>又方槐枝二斤，干荷葉三張煎湯，入鹽二兩熏洗。</p>
<p>又方油一兩，枯礬五錢，輕粉八分擦之。</p>
<p>又方蛇床子、黃柏等分為末，麻油搽。</p>
<p>又方五倍子五錢，枯礬五分，鉛汞各一錢炒成粉，豬油搽。</p>
<p>又方甘草湯洗，白豆蔻殼燒存性摻之。</p>
<p>又方煨土磚坐之。</p>
<p>治爛腿　白芷　紅占（一方用黃蠟）　飛丹　片粉　輕粉　蔥頭搗豬髓調敷，油紙扎住，七日一換，兩次痊愈。</p>
<p>又方胡椒、玄胡索，癢加膽礬，癢甚加枯礬，為末，桐油調搽住。</p>
<p>又方破靴底、爛黃牛皮（牛水不用）燒為末，桐油調搽。</p>
<p>又方鴉　樹葉（經霜落地者）醋浸一宿貼之。</p>
<p>又方治　瘡結果，久不收口者。雄鼠骨（黃泥包煨）、馬屁勃、血竭各一兩，研末摻之。</p>
<p>治足趾癢爛　楊柳葉一把，杏仁三個，枯礬三錢，同搗夾於趾縫，五日而愈。</p>
<p>又方石膏（　）五錢，滑石一兩，白礬少許摻之。</p>
<p>又方用黃柏、黃連、黃丹、荊芥為末摻之。又方單用輕粉。</p>
<p>治雞眼痛　綠礬（用炭水在青石上　紅研）摻於膏藥上貼之。</p>
<p>又方蜈蚣、蚓糞（韭地上者）油浸十日點之，二三日即退出。</p>
<p>通治服藥　治一切腫毒惡瘡。用粉草一斤為末，用大竹筒一個（留節鑽孔）貯之，椹塞，至端午節午時置廁中，以磚墜至底，四十九日取出，晒乾再研，瓷器收貯，遇小兒出痘、見苗及惡瘡毒，沙糖調服一二錢妙。</p>
<p>又方端午日用明雄黃、朱砂各五錢，麝香少許，蟾酥為丸如菜子大，酒下三丸取汗。</p>
<p>又方當歸，穿山甲（炙）各一錢，木鱉（麻油煎枯），每服四分，小兒二分，酒下取汗，不過又方魚鰾三兩，麻油一碗，煎胖黃色，研，酒過下取汗。</p>
<p>又方香油一兩，頭發六錢（入油熬枯去之），以酒過下，如畏油，以油煎雞子食之亦好。</p>
<p>又方金銀花連根搗汁，和酒服。</p>
<p>又方槐花子酒煎服，盡量取汗。</p>
<p>又方蟹殼（　）三錢，生酒下。又方酒化白蠟服。</p>
<p>又方治有膿不穿者，用晚蠶繭（出過者）只用一枚燒存性，酒下自穿。</p>
<p>通治敷藥　遇一切腫毒惡瘡，初起時用獨蒜切片，艾火灸之。</p>
<p>又方大鱉殼仰放火上，入陳醋漸添至一壺，存性研末，入麝香一分半，瓷罐封貯，勿令泄臨時用香油調敷。未成者敷紅處自消，已成者敷四沿漸小，破頭者干摻，能治一切惡毒打撲損傷，名曰一把抓。</p>
<p>又方蓖麻子四十九粒，陳醋一碗半，食鹽一撮，砂鍋內熬，槐枝攪成膏搽。</p>
<p>又方大黃、芒硝、蚓糞（韭地上者）醋搽。</p>
<p>又方人糞下土，蜜水調敷。</p>
<p>又方白芨一兩，五倍子五錢，白蘞三錢，醋搽。</p>
<p>又方山藥、活鯽魚搗敷。</p>
<p>又方芹菜煮爛，入銀朱搗敷。</p>
<p>又方治毒未潰而痛不可忍者，芙蓉葉、黃荊子等分為末，雞子清調敷，頂有煙起即瘥。</p>
<p>又方治有膿不穿者，雄雀糞（白而立者是）唾黏軟處。</p>
<p>又方菊花根、生山藥搗敷毒頂，以膏藥貼住。</p>
<p>又方鉛粉、黃蠟各三錢，芙蓉葉七片（冬至日采），麻油一兩熬膏，攤貼。又方玉樞丹塗（見普濟）。又蝦蟆皮熱貼。</p>
<p>菩提膏（家傳方，加減細藥，另有單刻）。</p>
<p>香油　桐油　血余　檳麻子　白芥子　麝香　黃丹萬靈膏　香油二斤，血余一兩同煎，用柳條攪不住手，化盡離火。入黃丹一斤，攪不住手，滴水成珠為度。再入乳香、沒藥（為末）各三錢，攪勻，孩兒茶、血竭加入尤妙。如筋骨痛加麝香少許，年久　瘡惡毒、杖瘡並皆治之。</p>
<p>余論癰疽未破，毒攻臟腑，一毫熱藥不敢用；已潰臟腑既虧，飲食減少，一毫涼藥不敢用，此要訣也。起時嘔者，作毒瓦斯上攻治之；潰後嘔者，作陰虛治之。河間謂嘔者，濕氣侵於胃，宜倍白朮，然白朮能生膿，膿未去時當用白芷。前三方，余家傳方也；次七方，外科必用方也；次分毒與瘡二門，而二門之中各從上及下，以便查閱；次列通治方，以便濟人；後五方，余得之史吉庵者，實為外科之秘訣；末附梅楊結毒、魚口疳瘡，而外科大概盡之。神而明之，則存乎其人。（伴梅氏識）</p>
<p>附梅楊結毒，並筋骨疼痛及梅楊瘋角弓反張神方。</p>
<p>夫楊梅一瘡，非內因亦非外因，正經所謂不內不外因也。人之精周流一身骨節，上徹泥丸，下通尾閭、竅衣，狀如笙簧。每交媾時，欲火沖開竅衣，精從竅泄，值不潔之婦，內藏毒瓦斯，乘精出竅空，惡氣射入竅衣，閉毒上泥丸，轉降斷交，傳入五臟，散及周身，瘡乃出焉。凡治是瘡，當先扶正氣，次伐病邪，毒盡瘡自愈矣。患者忙然，欲求速效；醫者圖利，而邀近功。過用硝黃巴丑，瀉傷元氣；或投珠粉水銀，毒留筋骨；或點綠杏霜以閉毒門，種種霸藥，不能枚舉。病弱之人受此戕伐，必喪其軀。即不然，纏綿日久，釀成結毒，在筋筋痛，在骨骨疼，在上則飩頂崩鼻，在中則癬喉蛀　，在下則腐　爛足。甚至毒留胎孕，殃及子女。仍有遍身麻木，手足拘攣，角弓反張，穢污呼號。夫醫仁術也，古人用王道以生人，今人投霸術以戕世，可不慎歟！予得此方，求之雖甚艱辛，驗之真為蓋世，名曰先天一氣湯。輕者二三十帖，重者四五十帖。終身廢疾，兩月痊矣。且病愈後，身肥氣壯，久無後患。敬將本方次第錄於下。先天一氣湯（治症見前）　皂角枝皮（根身枝皮俱用）即豬牙皂角樹，大皂角樹亦可，不可用肥皂樹，刮去粗皮切片，每皮一斤，用醋六兩，無灰好酒六兩，食鹽二兩五錢，木柴炭二兩五錢，拌勻悶半日，炒干。每服秤一兩二錢，豬肉四兩，干土茯苓四兩，水四碗，文火煎肉爛為度，取肉切碎，不拘配酒、配飯吃完。肉水三碗煎一碗，午間服；渣水二碗煎一碗，臨睡服。冬天煎三次，共為一處，分作三處，再溫服之。服至三帖，手腳漸漸酸軟，或渾身反疼，不必為慮，至七八帖，手腳漸輕，疼痛漸止。服至十四帖，筋骨不痛，結毒不臭。服至三四十帖，肉滿而愈，永無後患。外帖白玉膏、太乙膏，照癰疽科法帖之。各部引經藥開後：上部加桔梗、川芎，面上加蔓荊子，中部不加，陰囊破爛、疳瘡蛀　加豬苓、澤瀉，下部加牛膝、薏苡、防己、木瓜。服此藥不忌雞、魚等發物，惟忌燒酒、牛肉、茶，一日一帖，不可間斷。患者如不用豬肉，將羊肉代之。</p>
<p>七貼散　治楊梅瘡並結毒，神效。</p>
<p>天花粉　桔梗　苦參　赤何首烏　防風　荊芥穗各四錢　金銀花二錢　肥皂子（去皮炒褐色為末）一錢　甘草五分　土茯苓一斤（去皮槌碎）　豬板油四兩以上俱忌鐵器，水六碗，煎土茯苓淡為度，入群藥再煎至三碗，分三次服，渣再煎作茶飲，服完七帖即愈。又瘡中蟲作癢　以　血塗數次，其蟲盡出。</p>
<p>八寶丹　治結毒。</p>
<p>甘草節　天竹黃　真珠各三錢　玻珀二錢　丁香　白芷　歸尾　粉霜　朱砂各一錢二分槐子五分　乳末四分　牛黃一分陳米飯丸如粟米，每服五丸，日五服，用土茯苓二兩，牙皂一枚，水三碗煎碗半，分五次送二寶丹　治結毒，不論遠年近日神效。白滑石（水飛）二錢二分，明朱砂（水飛）一錢五分，分十二服，每服三分三厘，每服配土茯苓一斤（去皮杵碎），入砂鍋內煮。患在上身，將藥摻於土茯苓之上；患在下體，將土茯苓加於藥上，井水、河水各四碗半，，煎至四碗半，渣照前再煎，共得九碗，用以代茶，一日便盡，十二日中不可間斷。服至七八日，其毒即不疼。患重者，服兩料全愈。忌一切葷腥發物、鹽味，止可食白粥、泉煮犍豬肉，亦不過多，恐解藥性。</p>
<p>又方，貓兒殘（一名十大功勞）泡湯當茶（黑子者佳）。</p>
<p>治便毒方（生於合縫曰便毒，生於腎旁曰魚口，同治）。初起不可用涼藥，先以發散通利為主又方黃牛盤牙一個，火　紅，入酒內淬五次，單吃酒即消，左生用左，右生用右，雙魚口兩牙。</p>
<p>又方槐花蕊（焙）黃酒下，取汗。</p>
<p>又方大黃、香白芷各五錢，水煎露一宿，午後毒從大便下。</p>
<p>又方三五日內用大蝦蟆剝去皮，連腸加蔥五錢，搗爛敷腫處，仍用皮覆其上。</p>
<p>又方五倍子（炒為末）加百草霜敷。</p>
<p>又方鹿角（燒研粉）六錢，烏魚骨（刮粉）四錢，香油敷。</p>
<p>又方陳肥皂核、大蒜同搗敷，先服雄黃一錢，以防內攻。</p>
<p>治下疳方（陰頭生瘡，拂之不甚痛曰疳瘡，拂之痛甚曰妒精瘡。同治，先用苦茶洗）有毒有風草（酒炒）、澤瀉（炒）、木通、山梔、生地、歸尾、黃芩、車前子各一錢，生甘草五分，熱甚加黃連，便閉加大黃煎服。</p>
<p>又方地骨皮燒存性，加冰片少許搽患處，如干用豬膽汁調，一二日即愈。又方用磨鏡垢塗。</p>
<p>又方雄黃、黃連塗。又方蜜煎甘草敷。又方用發灰敷。</p>
<p>又方治久不愈者。用橡頭子窠二個，各入黃丹令滿相合，以發纏定，燒至煙盡，研末敷，三五次效。</p>
<p>不染毒方（即已染亦解）　木耳五錢（燒存性），朱砂五厘，空心溫酒下。又蠟礬丸亦妙（方見普濟）。</p>
<p>治下疳並頑瘡　滴乳香二分，冰片□分，輕粉一錢，朱砂六厘，共為細末，搽患處即愈。</p>
<p>治結毒未潰未穿者，內有腫塊，取黃牛糞晒乾為末，麻油調做餅，置患處，以艾火灸七次即愈。</p>
<p>治結毒臭爛　大杏仁七粒（去皮尖）　蟬蛻七個（去足尖）　肥皂子七粒（打碎）　土茯苓四兩（打碎）俱忌鐵器，河水四碗，煎至一二碗，臨臥服一碗，將一碗露一宿，五更服，七日可以奏效。忌房事及一切發物。</p>
<p>治蛀根疳　用橄欖燒灰摻之。</p>
<p>治陽疳潰爛　用大田螺五枚，將物夾定口，俱向上，將靨撥開，每個入冰片二三厘，以碗盛螺，待肉俱化為水，去螺殼，將水調杭粉五六錢，復裝入螺殼內，外以鹽泥封固，煉三炷香為度，候冷去泥，取螺為細末，瓷罐收貯。先以蔥湯洗淨瘡口，輕輕糝患處，即時痛止，數次治輕粉結毒　用好川椒（揀粒粒全開口者）兩許，再用黑鉛斤許，熔開候凝，面平將椒攤在鉛上，鉛冷再熔再攤，如此三次，椒已紫色。每用二錢，不用嚼碎，早晨空心白滾湯下。</p>
<p>服後大便糞俱當淘洗，其椒粒粒閉口，椒內即含輕粉而出，直待椒內絕無，則毒自散，終身不發矣。治便毒初起覺腫痛，即用鐵秤錘於上按摩數即消。</p>
<p>一方　於便毒未破時，用皂莢劈開，去子筋膜，將黑砂糖填滿，線扎定，濕紙包十數重，炭萬應膏　何首烏三兩　生地　苦參　血余各二兩　當歸　黃柏　獨活　荊芥　防風　連翹威靈仙以上各一兩　紅花三錢　甘草五錢，以上各藥用香油二斤浸一日，加松香一斤，共煎成膏，用後細藥、孩兒茶、血竭、獐腦各一若加地鱉蟲二十一個同煎，即治跌打損傷。</p>
<p>濕氣膏　川烏　草烏　肉桂　蘄艾　川椒以上各五錢，研為細末，外用薑汁二碗，蔥汁一碗，真廣膠三兩（溶化），入前藥在內調勻，趙家膏藥方　川烏　草烏　大黃各三兩　當歸　赤藥　白芷　白芨　白蘞　連翹　官桂烏藥各四兩　苦參　皂角各二兩五錢　桃枝　柳枝　桑枝　槐枝　棗枝各二兩用真芝麻油十三斤，將各藥俱浸在內三日，如冬天浸七日，用炭火熬至藥黑，使絹羅將藥渣去淨，再熬至滴水成珠，可入漂淨黃丹六斤（炒過），下攪成膏，候冷次入乳香、沒藥各二兩（為末）攪勻，傾在水中，退火毒二日。</p>
<p>杖棍傷　（詳誤傷）　杖畢，飲童便和酒，免血攻心。用熱豆腐鋪在杖紫處，其氣如蒸，其腐即紫，復以熱豆腐鋪之，以紫肉散盡為度。</p>
<p>又方滑石、大黃、赤石脂各五錢，共為細末，若瘡干，用茶湯洗敷，濕即糝上。</p>
<p>醫夾棍傷　當歸　乳香　鱉虱　胡芝　紅花　川芎　獨活　骨碎補　五加皮酒煎，盡量服，避風取汗。如傷骨，加土鱉蟲一個煎服。</p>
<h2>外科補遺</h2>
<p>治漏方　螃蟹一只，去肉單用殼，瓦上焙乾。再用鱉頭一個，皮肉盡去，只留筋骨，亦瓦上點痔丹　獐腦半斤，將陽城罐一個火內燒紅，取出，入獐腦於中，瓷盆蓋口封固，候獐腦升在盆上，輕輕刮在紙上，不可犯鐵器。要看火候，太熱則飛去，太冷則不升。次用蘿卜搗碎煎湯，連渣傾在大口瓮內，坐上熏之，候溫傾盆內洗痔。拭乾，將前藥點之，朝發夕愈，無不效驗。</p>
<p>又洗痔方　大木耳每日一兩，入水煮極化，先熏後洗，一日三次，小者三日，大者半月，可又方用枳殼湯熏洗。</p>
<p>治痔漏脫紅　川椒二錢，空心鹽湯下。</p>
<p>治通腸痔漏　用大蜘蛛一個，重三錢者佳，如少一分，麻花者俱不用。入小罐內鹽泥仔細封固，不可有線縫走氣，先文後武　三炷香，移於淨地一宿，次早開罐，用雞毛掃下，只有二多年　瘡方　鶴虱草一斤　野菊花四兩一錢　金銀花四兩一錢　五爪龍一兩七錢　馬鞭草（以上俱銼碎，用好酒十斤入瓶，竹箬箍口瓶上，以元米一撮，重湯者煮熟米為度，掘窖理背托裡消毒飲　白芷　白茯苓各八分　川芎　青皮各六分　金銀花一錢五分　人參　栝蔞仁陳皮　小黃　當歸各一錢　白芍　白朮各一錢三分　貝母一錢　甘草五分以上每服加青橘葉十四張（洗淨），用水二鐘煎七分，食後熟服。</p>
<p>又方用田螺十數個，放水內漾淨泥沙，取起，每個大者用冰片半分，小者三厘，入田螺靨內，置瓷器中候化水，將銀針刺破患處，用雞毛拂之，七日愈。又有以田螺射身納瘡中，能出積水，驗。又有用蜒蝣數條，搗爛敷患處。以上三方，是治未破者。若已破，用豬毛燒灰，研末摻上，再用前藥拂之。又方用豬毛燒灰，香油調敷患又方用鳳尾草陰乾為末，好酒送下。又用赤剝小老鼠，加巴豆（去油）煎膏貼之。</p>
<p>又方用紫花地丁（生在松陰者）不拘多少，洗淨，加薑汁少許、醋少許（已破者不用醋），搗治肺癰　大鯽魚一個（重一斤者佳），去腸入枯礬二錢煎服（兼止痢）。</p>
<p>又方陳芥菜汁（窖地中多年者佳），日服數匙即起。</p>
<p>又方魚腥草水煮，多食之。</p>
<p>又方金絲荷葉搗汁，同生白酒數飲。</p>
<p>又方常服苡仁（炒研）及百合，雖吐膿可以無傷。</p>
<p>治大頭瘟頭頂腫者　靛花三錢，雞子清一個，燒酒一鐘調服。</p>
<p>又方用灶心土敷之。</p>
<p>治腦疽初起　黃鱔頭七個　鯽魚一條（去腸鱗）　頭垢五錢　蜂蜜半盞　藏糟一塊（陳舊者佳）</p>
<p>搗敷，內服敗毒散。有時不得鱔頭，用之亦妙。</p>
<p>治瘌痢　膽礬、硫黃、松香、川椒並研，貯瓷杯內，用青布卷豬板油燃火滴入杯內，攪勻塗治一切贅疣、息肉、痣、斑、雞眼　桑柴灰、風化鍛石各一升，以鮮鐵甲威靈仙煎濃湯，淋汁熬膏，貯瓷器內，點之。一方用蕎麥杆二十斤，燒灰淋汁二碗，入風化灰熬膏，貯罐七日治凍瘡　蚱蜢（炙）為末，香油調塗，濕則摻之。</p>
<p>又方燒酒洗之。</p>
<p>又方煎茄根湯洗之，已破者用馬剝兒（即馬屁勃）塗之。</p>
<p>又方以粗橘皮於燈上烘熱擦之。</p>
<p>又方以櫻桃擦凍疤，即不起。</p>
<p>熏不收口毒方頭桑葉、十大功勞葉各等分為末，每服一錢五分，用水一大碗煎一沸，入葉末在內，熏洗一炷香，不可住火，熏後用荷包草煎酒服，二次愈。</p>
<p>治楊梅癬　銀砂四分，輕粉六分，共為末，先以黃連醋磨濃汁，將刀剃去蓋拭之，方上藥末治疥癩　白芝麻一升，鹽四兩，搗末入瓶，務令堅實，倒合於篩上，以土濃泥篩，乃置水於篩下，篩土炭高於瓶，以灰蓋之一晝夜，其油滴於水，收油貯於碗內，搽疥癩，無不效治蛇膽　糯米飲和黑沙糖，搗爛塗之。</p>
<p>治火丹　雪裡紅搗汁，頻拭之。</p>
<p>又方皮硝、大黃等，醋敷。</p>
<p>治發背等急毒　凡中熱毒，眼花頭暈，口乾舌苦，心驚背熱，四肢麻木，覺有紅暈在背後，即取槐子一大撮，揀淨，鐵杓炒茶褐色，用好酒一碗滾過，濾去槐子，乘熱服酒，發汗即愈。如仍未退，再揀槐子一撮，如前炒，煎服之，極效，縱成膿者，亦無不效，屢試屢驗。</p>
<p>又治發背神效方　用榆樹根皮切碎，清水泡洗，搗極爛，和香油遍敷患處，只空瘡頭出氣。</p>
<p>若藥干，用苦茶濕潤。如藥不黏，更換新者。將愈，用口嚼桑葉斷筋，隨大小貼患處，漸收小合，乃止。</p>
<p>加味遺糧湯　治楊梅瘡、風毒及誤服輕粉癱瘓，筋骨疼痛不能動履者，服此除根。仙遺糧（即硬飯團，濕者二兩，干者一兩五錢。白者佳，紅者傷人，俗名冷飯團，本草名萆　）　防風木瓜　木通　薏苡仁　白蘚皮　金銀花各五分　白芙子四分如虛加人參、當歸各七分，用水一鐘半，煎至一鐘，空心一服，午前一服，午後連前二渣煎一服，一日三服。病淺者十余日，病深者四十日全愈。忌食牛羊肉、雞鵝、魚腥、茶、燒酒洗癬疥方　苦參、川椒熬水洗，神效。</p>
<p>治暑癤毒　用槿樹花搗敷最妙。</p>
<p>治鵝掌風　黃丹二錢，生桐油一錢，薑汁五分，調勻擦手，以火烘之，清晨洗去。</p>
<p>治腹中蟲極效方　用雞心結實檳榔十二個，取石榴樹皮七片，每片二指大，二寸長，要近土與根及向東南者為佳。二味成片，以水一大碗，煎至八分，露一宿，患人於上半夜，先將干炒肉食在口中細嚼，勿令咽下，使蟲口俱朝上，乃服前藥。少頃腹中微動，蟲即隨下，百試治鶴膝風　金燈草（一名牛兒不食草，一名舉燈頭草，上開紅花，下如蒜頭者）搗糯米飯敷之治單蛾方　生蜜滴入喉中，以吐痰為度。次用大蜘蛛，瓦上焙為末，加冰片三厘，吹之即愈又收口方　象皮（炙研）　沒藥（研）　血竭（研）　乳香（箬炙去油，研）各五錢　兒茶三錢　海治　瘡年久，及腳上下諸瘡疼痛者　射干二分　冰片二分　血竭　輕粉　赤石脂　枯礬各二缽順研極細，封貯瓷瓶，每用二錢，桐油調攤油紙上為夾紙膏，將濃茶洗淨瘡膿，兩邊貼之，三日一換，半月可愈。</p>
<p>又　瘡方　龍骨七分（研）　黃丹七分　黃蠟五錢　桐油二兩先將桐油熬滾，下蠟化盡，再下前二味攪勻，傾水中，凝後取出，做夾紙膏貼。又方，用桐油煎豆腐，少溫貼之。</p>
<p>治赤鼻方　硫黃　明礬各一兩五錢　硼砂一錢　真牛黃五分並為末貯瓶，勿令泄氣。用時先洗淨鼻，以藥擦紅處，打噴嚏為度，日擦五次，半月即白。</p>
<p>飛龍奪命丹　一切無名腫毒、疔瘡發背、癰疽乳癰，各種惡瘡，服之無有不效者，惡症方中蟾酥二錢（干者酒化）　血竭一錢　乳香二錢　雄黃三錢　輕粉五分　膽礬一錢　麝香五分　銅綠二錢　寒水石一錢　朱砂二錢（為衣）　蝸牛二十個　蜈蚣一條上為細末，將蝸牛連殼研為泥，和前藥為丸，如綠豆大，打面糊為丸。每服二丸，先將蔥白三寸令病患嚼爛，吐於手心，男左女右，再將藥包在蔥內，用無灰酒送下。務要避風蓋暖，少刻再用熱酒數杯，以出汗為度。如汗不出，再服二丸。過三五日，再進二丸。以瘡之上下</p>
