<header><h1>子午流注針經</h1></header>
<dl class="元資料" data-type="book">
<div><dt>作者</dt><dd><data value="何若愚|閻明廣">何若愚撰、閻明廣注</data></dd></div>
<div><dt>朝代</dt><dd>金</dd></div>
<div><dt>年份</dt><dd>撰年不詳</dd></div>
</dl>
<h2>序</h2>
<p>竊以久習醫業，好讀難素，辭理精微，妙門隱奧，古今所難而不易也。是以針刺之理，尤為難解，博而寡要，勞而少功，窮而通之，積有萬端之廣。近世指病直刺，不務法者多矣。近有南唐何公，務法上古，撰指微論三卷，探經絡之源，順針刺之理，明榮衛之清濁，別孔穴之部分，然未廣傳於世。又近於貞元癸酉年間收何公所作指微針賦一道，敘其首云，皆按指微論中之妙理，先賢秘隱之樞機，復增多事，凡百余門，悉便於討閱者也，非得難素不傳之妙，孰能至此哉。廣不度荒拙，隨其意韻，輒申短說，采摭群經，為之注解。廣今復采難素遺文，賈氏井滎六十首，法布經絡往還，復針刺孔穴部分，鈐括圖形，集成一義，目之曰流注經絡井滎圖歌訣，續於賦後，非顯不肖之狂迷，啟明何氏之用心，致驗於人也。自慮未備其善，更祈明智，乃懇續焉。常山閆明廣序。</p>
<p>(據《普濟方》補)</p>
<h2>卷上</h2>
<h3>流注指微針賦</h3>
<p>(以針醫訣式流注指微為識)</p>
<p><u>疾居榮衛，</u></p>
<p>榮者血也，衛者氣也，由腸胃受穀化血氣所為也。上焦出氣，以溫分肉，而養筋通腠理；中焦出氣如露，上注溪穀而滲孫脈。津液和調，變化而為血，血和則孫脈先滿，乃注絡脈，皆盈乃注於經脈。陰陽以張，因息乃行，行有紀綱，周有道理，與天合約，不得休止，切而調之。調護失度，致生其疾，疾者百病之總名也。百病之始，皆因風寒暑溫飢飽勞逸而得之，或起於陰，或起於陽，所傷各異，虛實不同。或著孫脈，或著絡脈，或著經脈，或著於衝、任脈，或著於腸胃之膜原，邪氣浸淫，不可勝論。</p>
<p><u>扶救者針。</u></p>
<p>救疾之功，調虛實之要，九針最妙，各有所宜。熱在頭身宜　針；肉分氣滿宜圓針；脈氣虛渺宜　針；瀉熟出血、發泄固疾宜鋒針；破癰腫出膿血宜鈹針；調陰陽去暴痹宜圓利針；治經絡中病痹宜毫針；痹深居骨節腰脊腠理之間宜長針；虛風舍於骨節皮膚之間宜大針。</p>
<p><u>觀虛實與肥瘦，</u></p>
<p>經云：虛則補之，實則瀉之，不實不虛，以經取之。若虛實不明，投針有失，聖人所謂虛虛實實。若明此，則無損不足益有餘之過。觀肥瘦者，用針之法，必先觀其形之肥瘦，方明針刺之淺深。若以身中分寸肥與瘦同用，是謂深淺不得，返為大賊也。</p>
<p>故肥人刺深，瘦人刺淺，以與本臟所屬部分齊平為期，所以無過不及之傷也。</p>
<p><u>辨四時之淺深。</u></p>
<p>四時者，所以分春秋夏冬之氣，所在以時調之也。春氣在毫毛，夏氣在皮膚，秋氣在分肉，冬氣在筋骨。經云：春夏刺淺，秋冬刺深，各以其時為則；又肥人宜深刺之，瘦人宜淺刺之。</p>
<p><u>取穴之法，但分陰陽而溪穀；</u></p>
<p>陰者，陰氣也；陽者，陽氣也。謂陽氣起於五指之表，陰氣起於五指之裡也。肉之大會為穀，肉之小會為溪。分肉之間，溪穀之會，以行榮衛，以會大氣。溪穀有三百六十五穴會，亦應一歲。故取穴之法，分其陰陽表裡部分，溪穀遠近，同身寸取之，舉臂拱手，直立偃側，皆取穴法也。逐穴各有所宜。</p>
<p><u>迎隨逆順，須曉氣血而升沉。</u></p>
<p>經云：迎隨者，要知榮衛之流行，經脈之往來也，隨其經逆順而取之。《靈樞》曰：瀉者迎之，補者隨之。若能知迎知隨，令氣必和，和氣之方，必通陰陽升降上下源流。手之三陰從臟走至手；手之三陽，從手走至頭。足之三陽，從頭下至足；足之三陰，從足上走至腹。絡脈傳注，周流不息，故經脈者，行血氣，通陰陽，以榮於身者也。本論云：夫欲用迎隨之法者，要知經絡逆順淺深之分。諸陽之經，行於脈外，諸陽之絡，行於脈內；諸陰之經，行於脈內，諸陰之絡，行於脈外，仍各有所守之分。故知皮毛者，肺之部；肌肉者，脾之本；筋者，肝之合；骨髓者，腎之屬；血脈者，心之分。各刺其部，無過其道，是謂大妙。迎而奪之有分寸，隨而濟之有淺深。深為太過，能傷諸經；淺為不及，安去諸邪。是以足太陽之經，刺得其部，迎而六分，隨而一分；足太陽之絡，迎而七分，隨而二分。手太陽之經，迎而七分，隨而二分；手太陽之絡，迎而九分，隨而四分。手陽明之經，迎而九分，隨而四分；手陽明之絡，迎而八分，隨而三分。足陽明之經，迎而一寸，隨而五分；足陽明之絡，迎而六分，隨而一分；手少陽絡，迎而七分，隨而二分。足少陽經，迎而八分，隨而三分；足少陽絡，迎而一寸，隨而五分。手太陰經，迎而九分，隨而四分；手太陰絡，迎而七分，隨而二分。足太陰經，迎而一寸，隨而五分；足太陰經，迎而迎而七分，隨而二分；手少陰絡。迎而六分，隨而一分；足少陰經，迎而六分，隨而一分；足少陰絡，迎而一分，隨而五分。手厥陰經，迎而七分，隨而二分；手厥迎而九分，隨而四分。斯皆經絡相合，補生瀉成不過一分。針入貴速，既入徐進；針出貴緩，急則多傷。明須慎之，勿為殆事。男子左瀉右補，女子右瀉左補，轉針迎隨，補瀉之道，明於此矣。</p>
<p><u>原夫指微論中，賾義成賦；</u></p>
<p>《指微論》三卷，亦是何公所作。探經絡之賾，原針刺之理，明榮衛之清濁，別孔穴之部分，然未廣傳於世。今於論內自取其義，以成此賦。</p>
<p><u>知本時之氣開，說經絡之流注。</u></p>
<p>本論云：流者行也，注者往也。流謂氣血之流行也，一呼脈行三寸，一吸脈行三寸，呼吸定息，脈行六寸，如流水走蟻，涓涓不息，不可暫止。</p>
<p>又云：流而為榮衛，彰而為顏色，發而為音聲。速則生熱，遲則生寒；結而為瘤贅，陷而為癰疽，故知流者不可止，若人誤中，則有顛倒昏悶之疾。又云：注者住也。謂十二經絡各至本時，皆有虛實邪正之氣，注於所括之穴。所謂得時謂之開，失時謂之合，氣開當補瀉，氣閉忌針刺。聖人深慮此者，恐人勞而無功，豈可昧氣開流注之道哉。其氣開注穴之法，七韻中說之矣。每披文而參其法，篇篇之理可　尋；覆經而察其言，字字之明諭其隱，皆知虛實總附。夫披文覆經者，學人之不情也，既窮其理，賾其義，知其根，得其源，以見聖人之心乎?觀何公作流注之賦，玄辭妙話。可謂達理，非是自炫也。</p>
<p><u>移疼住痛如有神，針下獲效；</u></p>
<p>得其針刺之要，移疼住痛，獲效如神。</p>
<p><u>暴疾沉　至危篤，刺之勿誤。</u></p>
<p>沉　久病，虛弱之人，忽暴感疾於榮衛，傳於臟腑，其病必危篤而重也。明者是時深慮損益，慎勿輕勿，自恃聰俊，當須察其何經所苦，補瀉針刺，去之勿誤也。</p>
<p><u>詳夫陰日血引，值陽氣流；</u></p>
<p>賈氏云：陽日氣先脈外，血後脈內；陰日血先脈外，氣後脈內。交貫而行於五臟五腑之中，各注井滎俞經合五穴，共五十穴。惟三焦受十經血氣，次傳包絡，又各注五穴，通前十二經，共六十穴，才合得十六難內六十首也。越人言：三部九候，各有頭首也。及《素問》言六十首，今世不傳。既言不傳，其文不載六十首字也，故聖人留此六十首法，令後人穿鑿也。余以所過為原六穴，即便是陰陽二氣出入門戶也。則陽脈出行二十五度，陰脈入行二十五度，則皆會此六穴中出入也。其五臟五腑收血化精合處，便是逐經原氣也。其余精者，助其三焦，受十經精氣，則以養心包絡，始十二經血氣遍行也。</p>
<p>如一經精氣不足，則便成病也。既然有病，即不依此行度也。至今諸經失時，又更引毒瓦斯遍行，所流到處，即各見本經脈候，或大或小，或浮或沉，病患或寒或熱，或輕或重，因證取之耳。</p>
<p><u>口溫針暖，</u></p>
<p>凡下針，先須口內溫針令暖，不唯滑利而少痛，亦借己之和氣，與患者榮衛無寒暖之爭，便得相從，若不先溫針暖，與血氣相逆，寒溫交爭，而成瘡者多矣。</p>
<p><u>牢濡深求。</u></p>
<p>經云：實之與虛者，牢濡之意，氣來實牢者為得，濡虛者為失。凡欲行其補瀉，即詳五臟之脈，及所刺穴中，如氣來實牢者可瀉之，虛濡者可補之也。</p>
<p><u>諸經十二作數，絡脈十五為周；</u></p>
<p>手足各有三陰三陽之脈，合為十二經脈。每一經各一絡脈，余有陽蹺之絡，陰蹺之絡，脾之大絡，合為十五絡脈。周者，謂十二經十五絡二十七氣，周流於身者也。</p>
<p><u>陰俞六十臟主，</u></p>
<p>臟為五臟肝心脾肺腎，並心包之脈。合之有六，並兼四形臟也。</p>
<p>俞謂井滎經合非皆俞也。然井滎俞經合者，肝之井，大敦穴也；滎行間穴也；俞，太衝穴也；經，中封穴也；合，曲泉穴也。心之井，少衝穴也；滎，少府穴也；俞，神門穴也；經，靈道穴也；合，少海穴也。脾之井，隱白穴也；滎，大都穴也；俞，太白穴也；經，商丘穴也；合，陰陵穴也。肺之井，少商穴也；滎，魚際穴也；俞，太淵穴也；經，經渠穴也；合，尺澤穴也。腎之井，涌泉穴也；滎，然谷穴也；俞，太谿穴也；經，復溜穴也；合，陰谷穴也。心包之井，中衝穴也；滎，勞宮穴也；俞，大陵穴也；經，間使穴也；合，曲澤穴也。五臟之俞，各有五，則五五二十五俞，井心包絡五俞，共三十，以左右見言之，六十俞穴也。</p>
<p><u>陽穴七十二腑收。</u></p>
<p>腑謂六腑，非兼九形腑也。穴，俞穴也，亦謂井滎俞原經合也。肝之腑膽，膽之井者，竅陰穴也；滎，俠谿穴也；俞，臨泣穴也；原，丘墟穴也；經，陽輔穴也；合，陽陵泉穴也。心之腑小腸，小腸之井者，不澤穴也；滎，前谷穴也；俞，後谿穴也；原，腕骨穴也；合，小海穴也。脾之腑胃，胃之井者，厲兌穴也；滎，內庭穴也；俞，陷谷穴也；原，衛陽穴也；經，解谿穴也；合，三裡穴也。肺之腑大腸，大腸之井者，商陽穴也；滎，二間穴也；俞，三間穴也；原，合谷穴也；經，陽谿穴也；合，曲池穴也。腎之腑膀胱，膀胱之井者，至陰穴也；滎，通谷穴也；俞，束骨穴也；原，京骨穴也；經，昆侖穴也；合，委中穴也。心包之腑三焦，三焦之井者，關衝穴也；滎，液門穴也；俞，中渚穴也；原，陽池穴也；經，支溝穴也；合，天井穴也。如是六腑之俞各有六，則六六三十六俞，以左右脈共言之，則七十有二俞穴也。取穴部分，見於井滎圖備說。</p>
<p><u>刺陽經者，可臥針而取；</u></p>
<p>衛者屬陽，皮毛之分，當臥針而刺之。若深刺傷陰分，傷榮氣也。</p>
<p><u>奪血絡者，先俾指而柔。</u></p>
<p>奪血絡者，取榮氣也。榮氣者，經隧也。《靈樞》曰：經隧者，五臟六腑之大絡也，故言血絡。凡刺之者，先以左手捻按所刺之穴，候指下氣散，方可下針，取榮家之氣，不能損衛氣也。經云：刺榮無傷衛，刺衛無傷榮也。</p>
<p><u>呼為迎而吸作補，</u></p>
<p>瀉者迎之，補者隨之，有餘則瀉，不足則補。瀉者，吸則內針，無令氣散，靜以久留，無令邪布，後呼盡乃去，大氣皆出，是名曰瀉。補者，捫而循之，切而散之，推而按之，彈而弩之，抓而下之，外引其門，以閉其神，呼盡內針，靜以久留，以氣至為故，候吸引針，氣不得出，各在其處，推合其門，令神氣存，大氣留止，故名曰補。</p>
<p>凡善治者，察其所痛，以知病有餘不足，當補則補，當瀉則瀉，無逆天時，是謂至治之妙。</p>
<p><u>逆為鬼而從何憂。</u></p>
<p>逆者，謂當刺之日，與病五行相行遞為鬼賊，而不順也。從者，五臟之氣，與日相和，而不相侵凌也。凡刺之理，當擇吉日，與本病之臟腑各無侵凌刑制，下針順從而何憂哉!</p>
<p><u>淹疾延患，著灸之由。</u></p>
<p>若病有久淹，因寒而虛，或陰證多寒，或是風寒濕痹香港腳之病，或是上實下虛厥逆之疾。男子勞傷，婦人血氣之屬，並可用灸。亦有不可灸者，近髓之穴，陽證之病，不可灸也。</p>
<p><u>躁煩藥餌而難拯，必取八會；</u></p>
<p>躁煩熱盛在於內者，宜取八會之氣穴也。謂腑會太倉中腕穴，臟會季脅章門穴，筋會陽陵泉穴，髓會絕骨穴，血會膈俞穴，骨會大杼穴，脈會太淵穴，氣會三焦膻中穴，此是八會穴也。</p>
<p><u>癰腫奇絡而畜邪，先由砭瘳。</u></p>
<p>經云：病患脈隆盛，入於八脈而不環周，十二經亦不能拘之，其受邪氣蓄積腫熱，宜砭刺出血。古者以砭石為針，《山海經》曰：高氏之山，有石如玉，可以為針，即砭石也。今人以鈹針代之也。</p>
<p><u>況乎甲膽乙肝，丁心壬水。</u></p>
<p>甲膽乙肝者，謂五臟五腑，拘之十干，陽干主腑，陰乾主臟。故《天元冊》又曰：膽甲肝乙，小腸丙心丁，胃戊脾己，大腸庚肺辛，膀胱壬腎癸，五臟五腑，收血化精合處，便是三焦包絡二經元氣也，合為十二經遍行也。賈氏各分頭首，十日一終，營運十干，皆以五子建元日時為頭也。</p>
<p><u>生我者號母，我生者名子。</u></p>
<p>夫五行者，在人為五臟，注穴為井滎俞經合。相合為夫妻，我克者為七傳，克我者為鬼賊，我生者為子，生我者為母也。</p>
<p><u>春井夏滎乃邪在，秋經冬合乃刺矣。</u></p>
<p>此言逐回時取井滎之法也，假令春木旺刺井，夏火旺刺滎，季夏土旺刺俞，秋金旺刺經，冬水旺刺合，四時刺法，依此推之，以瀉逐時所勝之邪毒者也。聖人所謂因其時而取之，以瀉邪氣出也。</p>
<p><u>犯禁忌而病復，</u></p>
<p>禁忌者，非惟人神所在也，謂大飢大渴，大寒大熱，大飽大醉，大虛大竭，大勞大困，皆為針家之禁忌。若虛實不分，淺深不及，犯觸人神，顛倒四時，其病愈而必復，切須誡之誡之。</p>
<p><u>用日衰而難已。</u></p>
<p>本論云：病於當日之下，灸五行之刑制者，其病克而難愈也。謂心病遇庚日，肝病遇辛日，脾病遇乙日，肺病遇丁日，腎病遇己日，小腸病遇壬日，大腸病遇丙日，胃遇甲日，膽遇庚日，膀胱遇戊日，斯皆率義正氣日下受制而氣衰，刺病難愈故也。</p>
<p><u>孫絡在於肉分，血行出於支裡。</u></p>
<p>孫絡，小絡也，謂絡之支別也。行於分肉之間，有血留止，刺而去之，無問脈之所會。</p>
<p><u>悶昏針運，經虛補絡須然；</u></p>
<p>本論云：若學人深明氣血往來，取穴部分不差，補瀉得宜，必無針暈昏倒之疾；或忽忙之際，畏刺之人，多針則傷，壯者氣行自己，怯者當速救療。</p>
<p>假令針肝經感氣運，以補肝經合曲泉穴之絡；假令針肝絡血運，以補本經曲泉穴之經，針入復蘇，效如起死，他皆仿此。</p>
<p><u>疼實癢虛，瀉子隨母要指。</u></p>
<p>病之虛實者，癢則為虛，痛者為實。刺法云：虛則補其母，實則瀉其子。假令肝臟實，瀉肝之榮行間穴，屬火是子；肝臟虛，補肝之合曲泉穴，屬水是母。凡刺只取木經井滎俞經合五行，子母補瀉，此乃大要也。</p>
<p><u>想夫先賢迅效，無出於針經；今人愈疾，豈離於醫法。</u></p>
<p>古之治疾，特論針石，《素問》先論刺，後論脈；《難經》先論脈，後論刺。刺之與脈，不可偏廢。昔之越人起死，華佗愈，非有神哉，皆此法也。離聖久遠，後學難精，所以針之玄妙，罕聞於世。今時有疾，多求醫命藥，用針者寡矣。</p>
<p><u>徐文伯瀉孕於苑內，斯由其速；</u></p>
<p>昔宋太子性善醫書，出苑見一有孕婦人，太子自為診之，是一女。令徐文伯亦診之，乃一男一女。太子性急，欲剖腹視之。文伯因自請針之令落，於是瀉足三陰交，補手陽明合谷，胎應針而落，果如文伯之言也。</p>
<p><u>范九思療咽於江夏，聞見言稀。</u></p>
<p>傳曰：嘉　中有太傅程公，守任於江夏，因母之暴患咽中有癰，卒然而長，寒氣不通，命醫者止可用藥治之，勿施針以損之。醫曰：咽中氣尚不通，豈能用藥，藥即下之，豈能卒效，故眾醫不敢措治。尋有醫博范九思云：有藥須用未使新筆點之，癰疽即便差。公遂取新筆與之，九思乃以點藥上癰，藥到則有紫血頓出，漸氣通而瘥。公曰：此達神聖之妙矣。公命九思飲，而求其方，九思大笑曰：其患是熱毒結於喉中，塞之氣不宣通，病以危甚。公堅執只可用藥，不可用針，若從公意，則必誤命，若不從公意，固不能施治，九思當日，曾以小針藏於筆頭中，妄以點藥，乃針開其癰而效也，若非如此，何如紫血頓下也。公方省而歡曰：針有劫病之功，驗於今日。古人云：為將不察士卒之能否，則不能決勝，為醫不察藥性之主治，則不能便瘥，文將無深謀遠慮，則無必勝，醫無先機遠見，治無必效也。</p>
<p><u>大抵古今遺跡，後世皆師。</u></p>
<p>昔聖人留軌范，使後人仿學，不可獨強也。況於針術，隱奧難究，妙門出乎其類者，今之世誰能之，故聖人云：不可不遵先聖遺文也。</p>
<p><u>王纂針魅而立康，獺從被出；</u></p>
<p>傳曰：王纂少習醫方，尤精針石，遠近知名，嘉中縣人張方女，因暮宿於廣陵廟中，下有一物，假作其　，因被魅感而病，纂為治之，一針有一祟從女被中走出，而病愈矣。</p>
<p><u>秋夫療鬼而獲效，魂免傷悲。</u></p>
<p>昔宋徐熙字秋夫，善醫方，為丹陽令，常聞鬼神吟呻甚淒苦。秋夫曰：汝是鬼何須知此!答曰：我患腰病，死雖為鬼，痛苦尚不可忍，聞君善醫，愿相救濟。秋夫曰：吾聞鬼無形，何由措置?鬼云：縛草作人，子依之，但取孔穴針之。秋夫如其言，為針腰俞二穴，肩井二穴，設祭而埋之。明日見一人來謝曰：蒙君醫療，復為設祭，病今已愈，感惠實深，忽然不見。公曰：夫鬼為陰物，病由告醫，醫既愈矣，尚能感激，況於人乎?鬼姓斛名斯。</p>
<p><u>既而感指幽微，用針直訣。</u></p>
<p>此皆指微論中，用針幽微之直訣也。</p>
<p><u>竅齊於筋骨，皮肉刺要；</u></p>
<p>竅者穴也，齊者淺深之宜也。經曰：刺皮無傷骨，刺骨無傷髓。病有浮沉，刺有淺深，各至其理，無過其道。過則傷，不及則生外壅，壅則邪從之，淺深不得，反為大賊，內動五臟，故生大病。</p>
<p><u>痛察於久新，腑臟寒熱。</u></p>
<p>痛者病也，夫人病有久新，臟病腑病，寒熱虛實，宜細詳審調。針形短長鋒類不等，窮其補瀉，各隨病所宜用之。</p>
<p><u>接氣通經，短長依法；</u></p>
<p>本論曰：夫欲取偏枯久者榮衛諸疾，多是愈而復作者，由氣不接而經不通流，雖有暫時之塊，客氣勝真，病當未愈也，當此乃上接而下引。呼吸多少，經脈長短，各有定數之法。手三陽接而九呼，過經四寸，乎三陰接而七呼，過經五寸；足之三陽接而一十四呼，過經四寸，足之三陰接而一十二呼，過經五寸。重者倍之，吸亦同數，此接氣通經，呼吸長短之法也。</p>
<p><u>裡外之絕，羸盈必別。</u></p>
<p>夫五臟裡外者，謂心肺在鬲上，通於天氣也。心主於脈，肺主於氣，外華榮於皮膚，故言外也。腎肝在下，通於地氣，以藏精血，實於骨髓。心肺外絕，則皮聚毛落；腎肝內絕，則骨痿筋緩。其時學人，不能別裡外虛實，致使針藥誤投，所以實實虛虛，損不足益有餘，如此死者，醫殺之耳。</p>
<p><u>勿刺大勞，使人氣亂而神隳；</u></p>
<p>《禁刺論》曰：無刺大勞人，勞則喘息汗出，裡外昏越，故氣耗亂，神隳散也。</p>
<p><u>慎妄呼吸，防他針昏而閉血。</u></p>
<p>呼吸者，使陰陽氣行流上下，經歷五臟六腑，若針刺妄行呼吸，陰陽交錯，則針昏閉血，氣不行也。</p>
<p><u>又以常尋古義，由有藏機；遇高賢真趣，則超然得悟。逢達人示教，則表我扶危。</u></p>
<p>先賢之書，文理幽深，隱義難窮；或字中隱義，或假令一隅，妙要難窮，遇高達之士，方得其趣，不可穿鑿。</p>
<p><u>男女氣脈，行分時合度；</u></p>
<p>本論云：夫男女老幼，氣候不同，春夏秋冬，寒暑各異。春氣生而脈氣緩，夏暑熱而脈行速，秋氣燥而脈行急，冬氣寒而脈凝澀。小兒之脈應春，壯年之脈應夏，四十以上如秋，六十以後如冬。其病有寒熱，脈有遲速，一一參詳，不可一概與天同度矣。《難經》云：一呼脈行三寸，一吸脈行三寸者，平人脈法也。微抱病之人皆失天之度，地之紀，脈之用，不可與平人脈相合也。其診取法：當以一息五至為與天同度；不及應春，不及應冬；太過應秋，太過應夏。應春冬者，宜留針待氣至；應秋夏者，呼吸數畢便宜去針，此之謂也。</p>
<p><u>養子時克，注穴必須依。</u></p>
<p>養子時克注穴者，謂逐時干旺氣注臟腑井滎之法也。每一時辰，相生養子五度，各注井滎俞經合五穴。晝夜十二時，氣血行過六十俞穴也。每一穴血氣分得一刻六十分六厘六毫六絲六忽六杪，此是一穴之數也。六十穴共成百刻，要求日下井滎，用五子建元日時取之。設令甲日甲戌時，膽統氣初出竅陰穴為井木，流至小腸為滎火，氣過前谷穴注至胃為俞土，氣過陷谷穴又並過本原丘墟穴。但是六腑各有一原穴，則不系屬井滎相生之法，即是陰陽二氣出入門戶也。行之大腸為經金，氣過陽谿穴，所入膀胱為合水，氣入委中穴而終。此是甲戌時木火土金水相生五度一時辰流注五穴畢也。他皆仿此。</p>
<p>今詳定療病之宜，神針法式，廣搜難素之秘文密辭，深考諸家之肘函妙臆，故稱瀘江流注之指微，以為後學之規則。</p>
<h3>流注經絡井滎說</h3>
<p>夫流注者，為刺法之深源，作針術之大要，是故流者行也；注者住也。蓋流者要知經脈之行流也；注者謂十二經脈各至本時，皆有虛實邪正之氣，注於所括之穴也。夫得時謂之開，失時謂之合。夫開者針之必除其病，合者刺之難愈其疾，可不明此二者乎?況經氣內干五臟，外應支節，針刺之道，經絡為始。若識經脈，則諸行氣部分，脈之短長，血氣多少，行之逆順，祛逐有過，補虛瀉實，則萬舉萬痊。若夫經脈之源而不知，邪氣所在而不辨，往往病在陽明，反攻少陰，疾在厥陰，卻和太陽，遂致賊邪未除，本氣受弊，以此推之，經脈之理不可不通也。昔聖人深慮此者，恐後人勞而少功也，廣因閑暇之際，爰取前經，以披舊典，緣柯摘葉，采摭精華，以明流注之幽微，庶免討尋之倦怠。不揆荒拙，列圖於後，凡我同聲之者，見其違闕，改而正之，庶行之久遠而無弊焉，不亦宜乎?</p>
<h3>平人氣象論經隧周環圖</h3>
<p><a href="_files/p06-d18a1.bmp">平人氣象論經隧周環圖</a></p>
<p>經脈一周於身，內長一十六丈二尺。人一呼脈行三寸，一吸脈行三寸，呼吸定息，脈行六寸，計二百七十定息，氣可環周。然晝五十榮衛以一萬三千五百息，則氣脈都行八百一十丈。</p>
<p>如是則應天常度，脈氣無不及太過，氣象平調，故曰平人也。</p>
<p>凡刺之理，經脈為始。經脈者，所以能決死生，處百病，調虛實，不可不通也。夫經氣者，內干五臟，而外絡支節。其浮氣不循經者，為衛氣；精專行於經隧者，為榮氣。陰陽相隨，外內相貫，如環之無端。常以平旦為紀，其脈始從中焦手太陰出，注於手陽明，上行注足陽明，下行至跗上，注大趾間，與足太陰合。上行抵脾，從脾注心，中循手少陰，出腋下臂，注小指，合手太陽；上行乘腋出　，內注目內　，上巔下項，合足太陽；循脊下尻，下行注小指之端，循足心注足少陰；上行注腎注心，外散於胸中，循手心主脈，出腋下臂，入兩筋之間，入掌中，出中指之端，還注小指次指之端，合手少陽；上行注膻中，散於三焦，從三焦注膽，出脅注足少陽；下行至跗上，復從跗注大趾間，合足厥陰；上行至肝，從肝上注肺中，復出於手太陰。此榮氣之行也，逆順之常。榮氣之行，常循其經。周身之度，一十六丈二尺，一日一夜行八百一十丈，計五十度，周於身。衛氣則不循其經焉。晝則行陽，夜行於陰，行陽者行諸經，行陰者行諸臟。凡刺之道，須衛氣所在，然後迎隨，以明補瀉，此之謂也。</p>
<h3>手太陰肺經</h3>
<p><a href="_files/p06-d18a2.bmp">手太陰肺經圖</a></p>
<p><u>肺脈起於中焦出於大指之端注大腸經</u></p>
<p>手太陰肺之脈，起於中焦(在胃中脘)，下絡大腸，環循胃口(胃口謂賁門)，上膈屬肝，系橫出腋下，下循　內(臂肘也)，行少陰心主之前，下肘中(尺澤穴也)，循臂內上骨下廉(直大指日上骨，內謂內側)，入寸口(經渠穴也)，上魚(循魚際穴也，自大指本節後內側)，出大指之端(謂出少商穴也)。其支者，從腕後直出次指內廉出其端。</p>
<p>手太陰少血多氣，《難經》云：脈有是動，有所生病。是動者，氣也；所生病者，血也在氣，氣為是發；邪在血，血為所生病。是動則病，肺脹滿，膨而喘咳，缺盆中痛，甚則交兩手而瞀，是為臂厥。主肺所生病者，咳嗽上氣，喘渴煩心胸滿，　臂內前廉痛，掌中熱。</p>
<p>氣盛有餘，則肩背痛，風汗出中風，小便數而欠；氣虛則肩背痛，寒，少氣，不是嘆息，溺色變，卒遺矢無度。</p>
<h3>手陽明大腸經</h3>
<p><a href="_files/p06-d18a3.bmp">手陽明大腸經圖</a></p>
<p><u>大腸脈起於大指之端入挾於鼻孔注胃經</u></p>
<p>手陽明大腸之脈，起於大指次指之端內側(商陽穴也)，循指上廉，出合谷兩骨之間，上入兩筋之中，循臂上廉(循陽谿穴也)，入肘外廉(曲池穴也)，上循　外外前廉，上肩出　骨之前廉(　骨謂肩　之骨乃肩端也)，上出柱骨之會上(柱骨肩井二穴)，下入缺盆(缺盆二穴，在肩橫骨陷中)，絡肺，下膈，屬大腸。其支者，從缺盆直而上頸(頸，頭莖也)，貫頰，入下齒中，環出挾口，交人中(水溝穴也)。左之右，右之左，上挾鼻孔。</p>
<p>手陽明多血多氣，是動則病，齒痛　腫，主津液所生病者，目黃口乾，鼻衄喉痹，肩前痛，大指次指痛不用也。</p>
<h3>足陽明胃經</h3>
<p>足陽明胃之脈，起於鼻，交　中(兩目之間鼻吻深處謂之　中)。旁約太陽之脈(足太陽起於承漿穴名也，在頤前唇下，宛宛中)。卻循頤後下廉，出大迎(大迎之穴，在曲頷前同身寸之一寸二分陷者中)，循頰車(頰車謂頰之牙車也，言足陽明脈，循出頰車而行，故頰車穴在耳下曲頰之端陷中)，上耳前，過客主人(客主人，在耳前起骨開口有空處，)循發際至額顱。其支者，從大迎前下人迎(人迎，在結候兩旁大脈動應手是也)，循喉嚨入缺盆，下膈屬胃，絡脾。其至氣衝中而合。以下髀關，低伏兔，下入膝臏中，下循　外廉，下足跗，入中趾內間。其支者，下膝三寸而別，以下入中指外間。其支者，別跗上入大趾間，出其端厲兌穴也。</p>
<p>足陽明多氣多血。是動則病，洒洒然振寒，善伸數欠顏黑，病至則惡人與火，聞木聲則惕然而驚，心欲動，獨閉戶塞牖而處，甚則欲上高而歌，棄衣而走，賁響腹脹，是為　厥。(本經原缺，據《普濟方》節補。)</p>
<h3>足太陰脾經</h3>
<p><a href="_files/p06-d18a4.bmp">足太陰脾經圖</a></p>
<p><u>脾脈起於大指之端注於心中注心經</u></p>
<p>足太陰脾之脈，起於大趾之端，循趾內側(隱白穴也)，白肉際，過核骨後(太白穴之後也)，上內踝前廉(商丘穴也)，上　內(魚腹也)，循　骨後，交出厥陰之前，上循膝股內前廉(陰陵泉也)，入腹，屬脾，絡胃，上膈，挾咽連舌本(舌根系也)，散舌下。其支者，復從胃別上膈，注心中。</p>
<p>足太陰少血多氣，是動則病，舌本強，食則吐，胃脘痛，腹脹善噫，得後與氣，則快然如衰，身體皆重，是主脾所生病者，舌本痛，體不能動搖，食不下，煩心，心下急痛，寒瘧溏瘕，泄水閉，黃膽，不能臥，強立股膝內腫厥，足大趾不用也。</p>
<h3>手少陰心經</h3>
<p><a href="_files/p06-d18a5.bmp">手少陰心經圖</a></p>
<p><u>心脈起於心中入掌內循小指注小腸經</u></p>
<p>手少陰心之脈，起於心中，出屬心系，下膈，絡小腸。其支者，從心系，上挾咽，系目本作循胃出脅)。其直者，復從心系，卻上肺，下出腋下，下循　內後廉，行太陰心主之後，下肘內廉(少海穴也)。循臂內後廉，抵掌後兌骨之端(神門穴也)。入掌內後廉，循小指之手少陰少血多氣，是動則病，嗌干心痛，渴而欲欲，是為臂厥。是主心所生病者，目黃脅痛，　臂內後廉痛，厥掌中熱也。</p>
<h3>手太陽小腸經</h3>
<p><a href="_files/p06-d18a6.bmp">手太陽小腸經圖</a></p>
<p><u>小腸脈起於小指之端斜絡於目　注膀胱經</u></p>
<p>手太陽小腸之脈，起於小指之端(少澤穴也)。循手外側上腕(腕骨穴也)。出踝中直上，骨下廉(陽谷穴也)。出肘內側兩骨之間，上循　外後廉，出肩解繞肩胛，交肩上入缺盆向腋絡心，循咽下膈，抵胃，屬小腸。其支者，從缺盆貫頸上頰，至目銳　，卻入耳中。其支者，別頰(天容穴也)，上　抵鼻，至目內　，斜絡於顴。</p>
<p>手太陽小腸之經，多血少氣，是動則病。嗌痛頜腫，不可回顧，肩似拔，　似折。是主液所生病者，耳聾目黃，頰頷腫，頸肩　肘臂外後廉痛也。</p>
<h3>足太陽膀胱經</h3>
<p><a href="_files/p06-d18a7.bmp">足太陽膀胱經圖</a></p>
<p><u>膀胱脈起於目內　至小指外側注腎經</u></p>
<p>足太陽膀胱之脈，起於目內　。上額交巔上。其支者，以巔(百會也)，至耳上角。其直從巔入絡腦，還出別下項，循肩膊內，挾脊抵腰中，入循膂絡腎，屬膀胱。其支者，從腰中下會於後陰，下貫臀，入　中(委中穴也)。其支者，從膊內左右別下，貫胛挾脊內，過髀樞，循髀外，從後廉下合　中，以下貫　內，出外踝之後(昆侖穴也)。循京骨至小指外側(至陰穴也)。</p>
<p>足太陽膀胱之經，多血少氣，是動則病。沖頭痛，目似脫，項似拔脊痛，腰似折，髀不曲，　如結，　如裂，是為踝厥。是主筋，所生病者，痔瘧狂癲疾，頭囟項痛，目黃淚出，鼽衄，項背腰尻　腳皆痛，小指不同也。</p>
<h3>足少陰腎經</h3>
<p><a href="_files/p06-d18a8.bmp">足少陰腎經圖</a></p>
<p><u>腎脈起於小指之下注胃中注心包</u></p>
<p>足手陰腎之脈，起於小指之下，斜走足心(涌泉穴也)，出然谷之下(然谷穴內踝前)，在踝之後(太谿穴也)，別入跟中，以上　內，出　內廉(陰谷穴也)，上股內後廉，貫脊屬腎，絡膀胱。其直者，從腎上貫肝膈，入肺中，循喉嚨挾舌本。其支者，從肺出絡心，注胸中。</p>
<p>足少陰腎之經，少血多氣，是動則病。飢不欲食，面黑如炭色，咳唾則有血，喉鳴而喘而欲起，目KT　KT　如無所見。心如懸，若飢狀。氣不足則善恐，心惕惕如人將捕之，是為骨厥。是主腎所生病者，口熱舌乾，咽腫上氣，嗌干及痛，煩心，心痛，黃膽，腸　，脊股內後廉痛，痿厥嗜臥，足下熱而痛。</p>
<h3>手厥陰心包經</h3>
<p><a href="_files/p06-d18a9.bmp">手厥陰心包經圖</a></p>
<p><u>心包脈起於胸中循小指次指出其端注三焦經</u></p>
<p>手厥陰心包絡之脈，起於胸中，出屬心包，下膈，歷絡三焦。其支者，循胸出脅，下腋三寸，上抵腋下，下循　內，行太陰少陰之間(太陰在上，少陰在下，心主在中)，入肘中(曲澤穴也)，下循臂行兩筋之間(太陵穴也)，入掌中(勞宮穴也)，循中指出其端(中衝穴也)。其支者，別掌中循小指次指，出其端(交手少陽也)。</p>
<p>手厥陰心包絡之脈，多血少氣，是動則病。手心熱，肘臂攣急，腋腫，甚則胸脅支滿，心中　火動，面色赤，喜笑不休，目黃。是主心包脈所生病者，煩心，心痛，掌中熱。</p>
<h3>手少陽三焦經</h3>
<p><a href="_files/p06-d18a10.bmp">手少陽三焦經圖</a></p>
<p><u>三焦脈起於小指次指之端至目兌　注膽經</u></p>
<p>手少陽三焦之脈，起於小指次指之端(關衝穴也)，上出兩指之間(液門穴也)，循手表腕池穴也)，出臂外兩骨之間(支溝穴也)，上貫肘，循　外上肩，而交出足少陽之後，入缺盆，布膻中(膻中在玉堂穴下一寸六分，兩乳之間陷中是也)。散絡心包，下膈循屬三焦。其支者，從膻中上出缺盆，上項挾耳後，直上出耳上角，以屈下頰(一作顱)至　。其支者，從耳後入耳中，出走耳前，過客主人(客主人在耳前上起骨，開口有空者)，前交頰，至目銳　。</p>
<p>手少陽三焦之脈，多氣少血，是動則病，耳聾耳鳴，渾渾　，嗌腫喉痹，是主氣所生病者，汗出，目銳　痛，頰痛，耳後肩　肘臂外皆痛，小指次指不用。</p>
<h3>足少陽膽經</h3>
<p><a href="_files/p06-d18a11.bmp">足少陽膽經圖</a></p>
<p><u>膽脈起於目兌　入大指循歧骨內出於端注肝經</u></p>
<p>足少陽膽之脈，起於目銳　，上抵頭角，下耳後循頸行手少陽之前，至肩上，卻交出手少陽之後，入缺盆。其支者，從耳後入耳中，出走耳前，至目銳　後。其支者，別銳　，下大迎，合於手少陽，抵於　，下加頰車，下頸合缺盆，以下胸中貫膈，絡肝屬膽，循脅裡，出氣街，繞毛際，橫入髀厭中。其直者，從缺盆下腋，循胸中過季脅，下合髀厭中，以下循髀陽，出膝外廉(陽陵泉也)，下外輔骨之前(輔骨在陷下)。直下抵絕骨之端(絕骨外端陽輔穴)。</p>
<p>下出外踝之前，循足跗上，入小趾次趾之間。其支者，別跗上，入大趾之間，循大趾岐骨內，出其端，還貫爪甲，出三毛中。</p>
<p>足少陽之經，多氣少血，是動則病，口苦，善太息，心脅痛不能轉側，甚則面有微塵，體無膏澤，足外反熱，是為陽厥，是主骨。所生病者，頭痛頷痛，目銳　痛，缺盆中腫痛，腋下腫，馬刀挾癭，汗出振寒，瘧胸脅肋髀膝外至脛，絕骨外踝前及諸節皆痛，小趾次趾不用。</p>
<h3>足厥陰肝經</h3>
<p><a href="_files/p06-d18a12.bmp">足厥陰肝經圖</a></p>
<p><u>肝脈起於大指聚毛之際上注肺中</u></p>
<p>足厥陰肝之脈，起於大指聚毛之際(大敦穴也)。上循足跗上廉(太衝穴也)，去內踝一寸(中卦穴也)。上踝八寸(曲泉穴也)，交出太陰之後，上　內廉，循股陰入毛中，過陰器，抵少腹，挾胃屬肝絡膽，上貫膈，布脅肋，循喉嚨之後，上頑顙。連目系上出額與督脈會於巔。</p>
<p>其支者，從目系下頰裡，環唇內。其支者，復從肝別貫膈，上注肺中(復交於手太陰)。</p>
<p>足厥陰之經，少氣多血，是動則病。腰痛不可俯仰，丈夫　疝，婦人少腹腫。甚則嗌干，面塵脫色，是主肝所生病者，胸滿嘔逆，洞泄狐疝，遺溺，癃閉。</p>
<h2>卷中</h2>
<h3>井滎俞經合部分圖</h3>
<p>凡人兩手足，各有此三陽三陰之脈，合為十二經脈。每一經中，各有井、滎、俞、經、合、皆出於井，入於合。經云：所出者為井，所流者為滎，所注者為俞，所行者為經，所入則為合。井者，東方春也，萬物之始生，故言所出為井也。合者，北方冬也，陽氣入臟，故言所入為合也。故春刺井，夏刺滎，季夏刺俞，秋刺經，冬刺合者，聖人所謂因其時而取之，以瀉邪毒出也。</p>
<p>井滎所屬：陰井木，陽井金；陰滎火，陽滎水；陰俞士，陽俞木；陰經金，陽經火；陰合水，陽合土。昔聖人先立井、滎、俞、經、合，配象五行，則以十二經中各有子母。故刺法云：虛則補其母，實則瀉其子。假令肝自病，實則瀉肝之滎，屬火，是子；若虛，則補肝之合，屬水，是母。余皆仿此。若他邪相乘，陰陽偏勝，則先補其不足，後瀉其有餘，此為針醫之大要。若深達洞明，則為上工者也。</p>
<p>十經血氣，皆出於井，入於合。各注井、滎、俞、經、合無依矣。或曰：脈有十二經，又因何只言十經，其余二經不言者何?答曰：其二經者，三焦是陽氣之父，心包絡是陰血之母也。此二經尊重，不系五行所攝，主受納十經血氣養育，故只言十經陰陽二脈，逐日各注井、滎、俞、經、合各五時辰畢，則歸其本。此二經亦各注井、滎、俞、經、合五穴，方知十二經遍行也。</p>
<p><a href="_files/p06-d18a13.bmp">手少陽三焦經</a></p>
<p>三焦經：關衝(陽井)液門(滎)，中渚(俞)，陽池(原)，支溝(經)，天井(合)。每日遇陽干合處，注此六穴。如甲日甲戌時，至甲申時，為陽干合也。</p>
<p><a href="_files/p06-d18a14.bmp">手少陰真心經</a></p>
<p>心包經：中衝(陰井)，勞宮(滎)，大陵(俞)，間使(經)，曲澤(合)。每日遇陰乾合處，注此五穴。假令甲日甲戌時，膽氣初出為井，己巳時脾出血為井，陰陽並行。陽日，氣先血後，陰日，氣後血先。己巳時至己卯時為陰乾合也。余干日辰皆依此。</p>
<p><a href="_files/p06-d18a15.bmp">手陽明大腸經</a></p>
<p>連前共六十穴，合成六十首，每一穴分得一刻六十分六厘六毫六絲六忽六秒，此是一穴之數。六十穴合成百刻，每一時辰相生養子五度，各注井、滎、俞、經、合五穴，晝夜十二時辰，氣血行過六十俞穴也。欲知人氣所在，用五子元建日時，現前圖可見六十首，是活法。依此井滎刺病甚妙。</p>
<p><a href="_files/p06-d18a16.bmp">手太陽小腸經</a></p>
<h3>五子元建日時歌</h3>
<p>甲己之日丙作首，乙庚之辰戊為頭，丙辛便從庚上起，丁壬壬寅順行求，戊癸甲寅定時候，六十首法助醫流。</p>
<h2>卷下</h2>
<h3>針經井滎歌訣</h3>
<p><u>足少陽膽之經</u></p>
<p>　陽干注腑　陰乾注臟甲日　甲與己合　膽引氣行</p>
<p><a href="_files/p06-d18a17.bmp">圖</a></p>
<p>木原在寅甲日甲戌時膽為井(金)。丙子時小腸為滎(水)。戊寅時胃為俞(木)。迸過本原丘墟穴。</p>
<p>木原在寅。庚辰時大腸為經(火)。壬午時膀胱為合(土)。甲申時氣納三焦。謂諸甲合還原化本。</p>
<p>【膽】竅陰為井膽中行，脅痛煩熱又頭痛，喉痹舌乾並臂痛，一針難步卻須行。</p>
<p>【小腸】前谷為滎屬小腸，喉痹頷腫嗌咽乾，頸項臂痛汗不出，目生翳膜並除痊。</p>
<p>【胃】陷谷胃俞節後邊，腹痛腸鳴　瘧纏，面目浮腫汗不出，三分針入得復痊。</p>
<p>【膽(原)】丘墟為膽是為原，胸脅滿痛瘧安纏，腋腫髀樞腿酸痛，目生翳膜並除痊。</p>
<p>【大腸】陽谿為經表腕邊，顛狂喜笑鬼神言，心煩目赤頭風痛，熱病心驚針下痊。</p>
<p>【膀胱】委中合穴　紋中，腰脊沉沉溺失頻，髀樞痛及膝難屈，取其經血使能平。</p>
<p><u>足厥陰肝之經</u></p>
<p>乙日　乙與庚合　肝引血行</p>
<p><a href="_files/p06-d18a18.bmp">圖</a></p>
<p>乙日乙酉時肝為井(木)。　丁亥時心為滎(火)。己丑時脾為俞(土)。辛卯時肺為經(金)。癸巳時腎為合(水)。乙未血納包絡。</p>
<p>【肝】大敦為井注肝家，心疼腹脹陰汗多，中熱尸厥如死狀，血崩臍痛用針加。</p>
<p>【心】少府心滎木節中，少氣悲憂虛在心，心痛狂顛實譫語，寒熱胸中便下針。</p>
<p>【脾】太白脾俞骨下分，身熱腹脹血便膿，吐逆霍亂胸中痛，下針一刺得安寧。</p>
<p>【肺】經渠肺經熱在胸，掌後寸口脈陷中，熱病喘疼心吐逆，禁灸神針有大功。</p>
<p>【腎】陰谷腎合膝後分，腳痛難移好用針，小腹急痛並漏下，小便黃赤建時尋。</p>
<p><u>手太陽小腸之經</u></p>
<p>丙日　丙與辛合　小腸引氣行火原在子　火入水鄉丙日丙申時小腸為井(金)。　戊戌時胃為滎(水)。庚子時大腸為俞(木)。　並過本原腕骨穴。故火原在子。壬寅時膀胱為經(火)。甲辰時膽為合土。　丙午時氣納三焦。</p>
<p><a href="_files/p06-d18a19.bmp">圖</a></p>
<p>【小腸】少澤元本手太陽，井注喉痹舌生瘡，臂痛咳嗽連項急，目生翳膜一針康。</p>
<p>【胃】內庭胃滎本陷中，四肢厥逆滿腹疼，口渴牙痛依穴用，使下神針便去根。</p>
<p>【大腸】三間為俞本節後，喉痹咽哽齒齲痛，胸滿腸鳴洞泄頻，唇焦氣喘針時定。</p>
<p>【小腸(原)】腕骨為原手踝中，熱病相連汁出頻，目中淚出兼生翳，偏枯臂舉只神針。</p>
<p>【膀胱】昆侖為經外後跟，腰疼腳重更難行，頭疼吐逆並腹脹，小兒癇搐一齊針。</p>
<p>【膽】陽陵泉穴膽合間，腰伸不舉臂風癇，半身不遂依針刺，膝勞冷痹下針安。</p>
<p><u>手少陰心之經</u></p>
<p>丁日　丁與壬合　心引血行</p>
<p><a href="_files/p06-d18a20.bmp">圖</a></p>
<p>丁日丁未時心為井(木)。己酉時脾為滎(火)。辛亥時肺為俞(土)。癸丑時腎為經(金)。乙卯時肝為合(水)，丁巳時血納包絡。</p>
<p>【心】少衝為井是心家，熱病煩滿上氣多，虛則悲驚實喜笑，手攣臂痛用針加。</p>
<p>【脾】大都脾滎本書中，熱病相連是逆行，腹滿煩悶並吐逆，神針一刺即時寧。</p>
<p>【肺】太淵肺俞掌後尋，嘔吐咳嗽腹膨膨，眼目赤筋白翳膜，心疼氣上一般針。</p>
<p>【腎】復溜腎經魚肚中，面目KT　KT　喜怒停，腹內雷鳴並脹滿，四肢腫痛刺時靈。</p>
<p>【肝】曲泉肝合跗骨中，女人血瘕腹腫疼，身熱喘中氣勞病，足疼泄利又便膿。</p>
<p><u>足陽明胃之經</u></p>
<p>戊日　戊與癸合　胃引氣行</p>
<p><a href="_files/p06-d18a21.bmp">圖</a></p>
<p>土原在戊戊日戊午時胃為井(金)。　庚申時大腸為滎(水)。　壬戌時膀胱為俞(木)。　井過本原衝陽穴，故土原在戊。甲子時膽為經(火)。　丙寅時小腸為合(土)。　戊辰時氣納三焦。</p>
<p>【胃】厲兌為開主胃家，尸厥口噤腹腸滑，汗病不出如瘧狀，齒痛喉痹針刺佳。</p>
<p>【大腸】二間庚滎本節中，喉痹鼻衄在心驚，肩背疼時依此用，下針牙痛更無根。</p>
<p>【膀胱】束骨壬俞本節中，耳聾項急本穴尋，惡風目眩並背痛，針之必定有神功。</p>
<p>【胃(原)】衝陽為原動脈中，偏風口眼注牙痛，寒熱往來如瘧狀，建時取效有同神。</p>
<p>【膽】陽輔膽經四寸間，筋攣骨痛足腫寒，風痹不仁依此用，神針一刺不須難。</p>
<p>【小腸】少海為合肘上中，寒熱風腫頂頭疼，四肢無力難舉步，建時針刺有神靈。</p>
<p><u>足太陰脾之經</u></p>
<p>己日　甲與己合　脾引血行己日己巳時脾為井(木)。　辛未時肺為滎(火)。　癸酉時腎為俞(土)。　乙亥時肝為經(金)。　丁丑時心為合(水)。　巳卯時血納包絡。</p>
<p><a href="_files/p06-d18a22.bmp">圖</a></p>
<p>【脾】隱白為井足太陰，腹脹喘滿吐交橫，鼻衄滑腸食不化，月經不止血山崩。</p>
<p>【肺】魚際為滎熱汗風，咳嗽頭痛痹主胸，目眩少氣咽乾燥，嘔吐同針有大功。</p>
<p>【腎】太谿腎俞內踝下，足厥心疼嘔吐涎，咳嗽上氣並脈短，神針到後病伏潛。</p>
<p>【肝】中封為經內踝前，振寒　瘧色蒼蒼，臍腹痛時兼足冷，寒疝相纏針下康。</p>
<p>【心】少海心合曲節間，齒疼嘔逆滿胸心，頭項痛時涕與笑，用針一刺管驚人。</p>
<p><u>手陽明大腸之經</u></p>
<p>庚日　庚與乙合　大腸引氣行</p>
<p><a href="_files/p06-d18a23.bmp">圖</a></p>
<p>金原在申庚日庚辰時大腸為井(金)。　壬午時膀胱為滎(水)。甲申時膽為俞(木)。　井過本原合谷穴，金原在申也。丙戌時小腸為經(火)。　戊子時胃為合(土)。　庚寅時氣納三焦。</p>
<p>【大腸】商陽為井大腸中，次指指上氣注胸，喘逆熱病並牙痛，耳聾寒熱目赤紅。</p>
<p>【膀胱】通谷為滎本節游，頭重鼻衄項筋收，目視KT　KT　胸脹滿，食飲不化即時休。</p>
<p>【膽】臨泣膽前節後邊，中滿缺盆腫項咽，月事不調依此用，氣噎如瘧當時安。</p>
<p>【大腸(原)】合谷為原歧骨中，痹痿漏下熱生風，目視不明並齒痛，牙關口噤一針功。</p>
<p>【小腸】陽谷為經側腕中，癲疾狂走妄言驚，熱病過時汗不出，耳聾齒痛目眩針。</p>
<p>【胃】三裡胃合膝下分，諸般疾病一般針，須去日上加時下，方知世上有名人。</p>
<p><u>手太陰肺之經</u></p>
<p>辛日　丙與辛合　肺引血行</p>
<p><a href="_files/p06-d18a24.bmp">圖</a></p>
<p>辛日辛卯時肺為井(木)。　癸巳時腎為滎(火)。　乙未時肝為俞(土)。丁酉時心為經(金)。　己亥時脾為合(水)。辛丑時血納包絡。</p>
<p>【肺】少商肺井注心中，寒熱咳逆喘脹沖，飲食不下咽喉痛，三棱針刺血為功。</p>
<p>【腎】然谷腎滎內踝尋，喘呼少氣足難行，小兒臍風並口噤，神針並灸得安寧。</p>
<p>【肝】太衝肝俞本節後，腰引少腹小便膿，淋瀝足寒並嘔血，漏下女子本中疼。</p>
<p>【心】靈道為經掌後真，心痛肘攣悲恐驚，暴喑即使難言語，建時到後即宜針。</p>
<p>【脾】陰陵泉穴脾之合，腹堅喘逆身難臥，霍亂疝瘕及腰疼，小便不利針時過。</p>
<p><u>足太陽膀胱之經</u></p>
<p>壬日　丁與壬合　膀胱引氣行</p>
<p><a href="_files/p06-d18a25.bmp">圖</a></p>
<p>水原在午　水入火鄉壬日壬寅時膀胱為井(金)。　甲辰時膽為滎(水)。丙午時小腸為俞(木)。　並過本原京骨穴，水原在午，水入火鄉，故壬，子午相交也。</p>
<p>戊申時胃為經(火)，庚戌時大腸合(土)。　壬子時氣納三焦，還原化本。</p>
<p>【膀胱】至陰為井是膀胱，目生翳膜頭風狂，胸脅痛時依法用，小便不利熱中傷。</p>
<p>【膽】俠谿膽滎小節中，胸脅脹滿足難行，寒熱目赤頸項痛，耳聾一刺便聞聲。</p>
<p>【小腸】後谿為俞節陷中，寒熱氣瘧目生筋，耳聾鼻衄並喉痹，肘臂筋攣同用針。</p>
<p>【膀胱(原)】京骨為原肉際間，　酸膝痛屈伸難，目　內赤頭頸強，寒瘧腰疼針下安。</p>
<p>【胃】解谿穴是胃之經，腹脹　腫腳轉筋，頭痛霍亂面浮腫，大便下重也同針。</p>
<p>【大腸】曲池為合肘外陷，半身不遂語難言，肘中痛急伸無力，喉痹針下也痊然。</p>
<p><u>手少陽三焦之經</u></p>
<p>三焦與包絡合為表裡</p>
<p><a href="_files/p06-d18a26.bmp">圖</a></p>
<p>壬子時三焦關衝為井(金)。　甲寅時為滎(水)。丙辰時為俞(木)。　並過本原陽池。</p>
<p>戊午時為經(火)。庚申時為合(土)。　壬戌時氣入行。</p>
<p>【金】三焦之井號關衝，目生翳膜注頭痛，臂肘痛攻不能舉，喉痹針刺取其靈。</p>
<p>【水】液門為滎次陷中，驚悸癇熱共頭痛，目赤齒血出不定，三棱針刺即時靈。</p>
<p>【木】中渚為俞節後尋，熱病頭疼耳不聞，目生翳膜咽喉痛，針入三分時下明。</p>
<p>【三焦(原)】陽池為原腕表中，寒熱如瘧積心胸，臂痛身沉難舉步，一針當面有神功。</p>
<p>【火】支溝為經腕後真，熱病臂肘腫兼疼，霍亂吐時並口噤，下針得氣使醒醒。</p>
<p>【土】天井為合肘外尋，風痹筋攣及骨疼，咳嗽不食並驚悸，心胸氣上即時針。</p>
<p><u>手厥陰心主包絡之經</u></p>
<p>心主與三焦為表裡</p>
<p><a href="_files/p06-d18a27.bmp">圖</a></p>
<p>癸丑時包絡為井(木)。乙卯時為滎(火)。丁巳時為俞(土)。己未時為經(金)。辛酉時</p>
<p>【木】中衝為井厥陰心，掌中煩熱及頭疼，熱病煩悶汗不出，舌強針時得自平。</p>
<p>【火】勞宮心滎手掌中，中氣攣痹口中腥，狂笑顛疾同日用，氣粗喘逆也須寧。</p>
<p>【土】大陵心俞腕後尋，喜笑悲哀氣上衝，目赤小便如赤色，狂言頭痛建時中。</p>
<p>【金】間使心經掌後間，心痛嘔逆惡風寒，熱時咽痛並驚悸，神針和忤也須安。</p>
<p>【水】曲澤為合肘裡存，心疼煩悶口乾頻，肘臂筋攣多嘔血，呼吸陰陽去病根。</p>
<p><u>足少陰腎之經</u></p>
<p>癸日　戊與癸合　腎引血行</p>
<p><a href="_files/p06-d18a28.bmp">圖</a></p>
<p>癸日癸亥時腎為井(木。)　乙丑時肝為滎(火)。丁卯時心為俞(土)。己巳時脾為經(金)。　辛未時肺為合(水)。　癸酉時血納包絡。</p>
