<header><h1>醫宗金鑑·刺灸心法要訣</h1></header>
<dl class="元資料" data-type="book">
<div><dt>作者</dt><dd><data value="吳謙">吳謙等</data></dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1742">公元1742年</data></dd></div>
</dl>
<h2>卷一</h2>
<h3>九鍼原始歌</h3>
<p>九鍼因何而有名，原於大地大數生，始於一而終於九，天地人時音律星，風野九九八十一，鍼應其數起黃鐘，皮肉筋衇聲隂陽，齒氣九竅關節通。</p>
<p>【注】《靈樞‧九鍼篇》帝曰：九鍼焉生，何因有名。岐伯曰：天地之大數也，始於一終於九。一法天，二法地，三法人，四法時，五法音，六法律，七法星，八法風，九法野。</p>
<p>九鍼者，聖人起天地之數，始於一而終於九，九而九之，九九八十一，以起黃鐘之數，鍼之數應之，而人之身形亦應之。皮應天，肉應地，血衇應人，筋應時，聲應音，隂陽應律，齒面目應星，氣應風，九竅三百六十五絡應九野，此天人相通之道也。故一鍼皮，二鍼肉，三鍼衇，四鍼筋，五鍼骨，六鍼調隂陽，七鍼益精，八鍼除風，九鍼通九竅，除三百六十五節氣，各有所主也。</p>
<h4>九鍼式圖並九鍼主治法歌</h4>
<p><u>一曰：　鍼式圖</u></p>
<p><a href="_files/p06-d43a1.bmp">　鍼式圖</a></p>
<p>【注】經之一曰：　鍼者，取法於巾鍼，去末寸半，卒鋭之長一寸六分。　者，鋭也；卒者，尾也。謂此鍼長一寸六分，上去末寸半，下只留一分之鋒，欲淺刺不令深入也。</p>
<p><u>　鍼主治法歌</u></p>
<p>鍼即今箭頭鍼，主刺皮膚邪肉侵，毋令深入瀉陽氣，邪正相安榮衛均。</p>
<p>【注】　鍼即今箭頭鍼也，主刺邪熱病在頭身皮膚之證。毋令深入，深則有傷陽氣。故必分許淺淺刺之，使邪去而正不傷，榮衛得和，則病除矣。</p>
<p><u>二曰：員鍼式圖</u></p>
<p><a href="_files/p06-d43a2.bmp">員鍼式圖</a></p>
<p>【注】經之二曰：員鍼者，取法於絮鍼，筒其身而卵其鋒，長一寸六分。筒身卵鋒者，謂身直如竹筒，未鋒員如卵鋭也。</p>
<p><u>員鍼主治法歌</u></p>
<p>員鍼取法於絮鍼，主治邪氣侵肉分，筒身卵鋒不傷正，利導分肉邪自平。</p>
<p>【注】員鍼即絮鍼也，主治邪氣在分肉之間。蓋筒身卵鋒，利導分肉，能使邪氣行而不傷於肌肉之正氣也。</p>
<p><u>三曰：　鍼式圖</u></p>
<p><a href="_files/p06-d43a3.bmp">　鍼式圖</a></p>
<p>【注】經之三曰：　鍼者，取法於黍粟之鋭，長三寸半。黍粟之鋭者，員而微尖，利於用補者也。</p>
<p><u>　鍼主治法歌</u></p>
<p>鍼之鋭如黍粟，恐其深入傷肌肉，按衇勿陷以致氣，刺之邪氣使獨出。</p>
<p>【注】　鍼之鋒，如黍粟之鋭，主治邪在衇中。不欲深入，只按衇以候氣至，刺衇中之邪氣，使獨出也。若深按陷至肌肉，邪氣雖出，而肌肉之正氣必傷矣。</p>
<p><u>四曰：鋒鍼式圖</u></p>
<p><a href="_files/p06-d43a4.bmp">鋒鍼式圖</a></p>
<p>【注】經之四曰：鋒鍼者，取法於絮鍼，刃三隅，長一寸六分，其上去八分，下留八分。刃三隅者，蓋直壯而鋭，可以瀉熱出血也。</p>
<p><u>鋒鍼主治法歌</u></p>
<p>鋒鍼即今三棱名，主刺瘤邪時氣壅，發於經絡痼不解，瀉熱出血榮衛通。</p>
<p>【注】鋒鍼即今三棱鍼，主刺時氣温熱瘤邪也。凡發於經絡中壅痼不解之病，用三棱鍼之鋒利，以瀉熱出血，使經絡開通，榮衛調和，而壅痼之疾愈矣。</p>
<p><u>五曰：鈹鍼式圖</u></p>
<p><a href="_files/p06-d43a5.bmp">鈹鍼式圖</a></p>
<p>【注】經之五曰：鈹鍼者，取法於劍鋒，廣二分半，長四寸。其必廣二分半長四寸末如劍鋒者，取其能開通也。</p>
<p><u>鈹鍼主治法歌</u></p>
<p>鈹鍼之鋒末如劍，主刺寒熱兩相搏，合而為癰膿已成，大膿一瀉即時和。</p>
<p>【注】鈹鍼之鋒末如劍者，主刺寒熱相搏，或邪氣鬱於榮衛，凝滯不通，發為癰疽。其膿已成，用此開之，以取大膿。大膿瀉則隂陽和，而癰熱愈矣。</p>
<p><u>六曰：員利鍼式圖</u></p>
<p><a href="_files/p06-d43a6.bmp">員利鍼式圖</a></p>
<p>【注】經之六曰：員利鍼者，取法於　鍼，微大其末，反小其身，長一寸六分。其取法於者，以毛之强者曰　，用其細健可稍深也。</p>
<p><u>員利鍼主治法歌</u></p>
<p>員利鍼形尖如　，主治虚邪客於經，暴痹走注歴節病，刺之經絡即時通。</p>
<p>【注】員利鍼，尖其形如　，員而且鋭。主治虚邪客於經絡，而為暴痹與走注歴節疼痛等病。以此刺之，則經絡流通，而虚邪自去矣。</p>
<p><u>七曰：毫鍼式圖</u></p>
<p><a href="_files/p06-d43a7.bmp">毫鍼式圖</a></p>
<p>【注】經之七曰：毫鍼者，尖如蚊虻喙。取法於毫毛，長二寸六分。其必尖如蚊虻喙者，取其微細徐緩也。</p>
<p><u>毫鍼主治法歌</u></p>
<p>毫鍼主治虚痹纏，養正除邪在徐緩，寒熱痛痹浮淺疾，靜入徐出邪正安。</p>
<p>【注】毫鍼者，因取法於毫毛，故名之也。主刺邪客經絡，而為痛痹邪氣輕淺者也。凡正氣不足之人，用此鍼刺之，靜以徐往，漸散其邪，微以久留，緩養正氣，則寒邪痛痹浮淺之在絡者，皆可平也。</p>
<p><u>八曰：長鍼式圖</u></p>
<p><a href="_files/p06-d43a8.bmp">長鍼式圖</a></p>
<p>【注】經之八曰：長鍼者，取法於綦鍼，長七寸，為其可以取深邪遠痹也。</p>
<p><u>長鍼主治法歌</u></p>
<p>長鍼主治虚邪傷，內舍骨解節腠殃，欲取深邪除遠痹，刺法得宜始可康。</p>
<p>【注】長鍼即今環跳鍼也。主虚邪深入，內舍於骨，解腰脊節腠之間。凡欲取深遠疼痛之邪，必得身長末鋒之鍼，如法以刺之，方能使深邪出，遠痹解，而得安康也。</p>
<p><u>九曰：大鍼式圖</u></p>
<p><a href="_files/p06-d43a9.bmp">大鍼式圖</a></p>
<p>【注】經之九日：大鍼者，取法於鋒鍼，其鋒微員，長四寸，尖形如梃，粗而且巨，可以瀉通機關也。</p>
<p><u>大鍼主治法歌</u></p>
<p>大鍼主刺周身病，淫邪溢於肌體中，為風為水關節痹，關節一利大氣通。</p>
<p>【注】大鍼者，即古人之燔鍼也。凡周身淫邪，或風或水，溢於肌體，留而不能過於關節，壅滯為病者，以此刺之，使關節利，大氣通，則淫邪壅於經絡，風虚腫毒傷於肌體者，皆可去也。</p>
<p>【按】此九鍼，皆夲於《靈樞經》中大小、長短之法，無有異也。但細玩經中九鍼之用，凡所取者，皆言有餘之實邪，則鍼之不宜於治虚也，從可知矣。</p>
<h4>行鍼次第手法歌</h4>
<p>行鍼手法口訣多，撮要編為十二歌，取穴持温進指攝，退搓捻留搖拔合。</p>
<p>【注】十二字分次第手法歌訣，始自三衢楊繼洲。後之諸家，口訣雖多，皆不免於繁雜。今撮其要，仍編為十二歌訣，庶簡明切當，便於後學。</p>
<p><u>一、取穴歌</u></p>
<p>取穴先將爪切深，須教毋外慕其心，令彼榮衛無傷礙，醫者方堪入妙鍼。</p>
<p>【注】凡下鍼，用左手大指爪甲，重切所鍼之穴，令氣血開，教病者心專於內，不要外馳，然後下鍼，使鍼不傷榮衛，方堪入妙也。</p>
<p><u>二、持鍼歌</u></p>
<p>持鍼之士要心雄，手如握虎莫放松，欲識機關三部奧，須將此理再推窮。</p>
<p>【注】凡下鍼之士，須心小力雄，以右手持鍼於穴上，勢若握虎，不敢放松，著力旋插，直至應止之處，吸氣三口，然後提鍼，徐徐而用。凡機關三才奧理，欲識於心而行於鍼者，須將此再三推窮可也。</p>
<p><u>三、温鍼歌</u></p>
<p>温鍼之理最為良，口內温和審穴方，毋令冷熱相爭搏，榮衛宣通始安祥。</p>
<p>【注】凡下鍼，必先將所用之鍼，入於口中，使之温熱，審定穴所，方可與刺。勿令冷熱相爭，庶血氣調和，而得安祥也。</p>
<p><u>四、進鍼歌</u></p>
<p>進鍼理法取關機，失經失穴最不宜，陽經取陷隂經衇，三思已定鍼之愈。</p>
<p>【注】凡下鍼，要病患神氣定，息數勻，醫者亦如之。關機最密，切勿太忙，須細審經絡穴所在何部分，不可輕施其鍼，失於經絡穴所也。如在陽部，必取筋骨間陷下之處，則不傷於筋骨；如在隂分　之內動衇相應間，則以爪重切經絡，少待片時，方可進鍼，而不傷於榮衛。又必三思已定，然後下鍼，病可愈矣。</p>
<p><u>五、指循歌</u></p>
<p>部分經絡要指循，只為鍼頭不緊沉，推則行之引則止，調和血氣使來臨。</p>
<p>【注】凡下鍼，若氣不至，用指於所属部分經絡之路，上下、左右推而行之，引而止之，往來循之，使氣血上下均勻，鍼下自然氣至沉緊，得氣即瀉之意也。</p>
<p><u>六、攝法歌</u></p>
<p>攝法原因氣滯經，大指爪甲切莫輕，以指攝鍼待氣至，邪氣流行鍼自輕。</p>
<p>【注】凡攝鍼者，因鍼下邪氣滯澀不行也。隨經絡上下，用大指爪甲重切之，使正氣流行，則邪氣不能滯澀，而鍼下自覺活動矣。</p>
<p><u>七、退鍼歌</u></p>
<p>退鍼手法理要知，三才訣內總玄機，一部六數三吸氣，須臾疾病自然愈。</p>
<p>【注】凡退鍼，全在手法，三才之內，皆有要訣玄機，不可不知。如欲退鍼，必須緩緩而出，自地部退至人部，再漸退至天部，俱用少隂之六數瀉之，每一部六數，須要少停，三部共行三六一十八數，令病患吸氣三口，隨吸隨提，徐徐退至天部，其疾病自然除矣。</p>
<p><u>八、搓鍼歌</u></p>
<p>搓鍼瀉氣最為奇，氣至鍼纏莫就移，渾如搓線攸攸轉，急則纏鍼肉不離。</p>
<p>【注】搓鍼者，凡進、退、搓、捻，皆催其氣至以瀉邪氣也。如覺鍼下氣緊，切勿就移，須用瀉法，但微微動轉，如搓線之狀，若摶之太緊，必至肉纏鍼頭，邪氣滯澀，而不能除矣。</p>
<p><u>九、捻鍼歌</u></p>
<p>捻鍼指法不相同，一般在手兩般功，內外轉移行上下，助正伏邪疾自輕。</p>
<p>【注】凡捻鍼時，雖一般在手，而指法不同，故功有兩般也。如欲治上，則大指向外捻，外捻者令其氣向上也；如欲治下，則大指向內捻，內捻者令其氣至下也。內捻為之補，外捻為之瀉。如經絡向下者，轉鍼頭逆之則為迎也；經絡向上者，移鍼頭順之則為隨也。指法得宜，則正氣自復，而邪氣自退矣。</p>
<p><u>十、留鍼歌</u></p>
<p>留鍼取氣候沉浮，出入徐徐必逗留，能令榮衛縱橫散，巧妙玄機在指頭。</p>
<p>【注】留鍼者，凡出鍼至於天部，入鍼至於地部，須在皮膚肌肉間徐徐容留，令榮衛宣散方可出鍼入鍼。若出鍼太急，則血隨鍼出，反傷榮衛，其巧妙玄機，全在指頭也。</p>
<p><u>十一、搖鍼歌</u></p>
<p>搖鍼三部皆六搖，依次推排在指梢，孔穴大開無窒礙，邪氣退除病自消。</p>
<p>【注】搖鍼者，如出鍼三部欲瀉之際，每一部搖二三搖，多者不過六搖而已。以指捻鍼，如扶人頭搖之之狀，使孔穴開大，無有窒礙，庶邪氣退除而病愈矣。</p>
<p><u>十二、拔鍼歌</u></p>
<p>拔鍼之時切勿忙，閉門存神要精詳，不沉不緊求鍼尾，此訣須當韞錦囊。</p>
<p>【注】凡鍼畢拔鍼，最要精詳，不可輕率忙亂也。如欲出鍼，須待鍼下氣緩，不沉不緊，覺輕動滑快，方以右指捻住鍼尾，以左手大指按其鍼穴，及穴外之皮，令鍼穴門户不開，神氣內存，然後拔鍼，庶不致於出血。此鍼家要訣，須當韞於錦囊也。</p>
<h4>行鍼分寸法歌</h4>
<p>行鍼分寸中指傳，屈指中節兩紋尖，男左女右童稚一，長短肥瘦審經權。</p>
<p>【注】行鍼取分寸法，以同身寸法為準，男左手，女右手，以中指第二節，屈指兩紋尖，相去為一寸，童稚亦如之。雖人身有長短，體有肥瘦，入鍼之分數不一，而身形之長者，其指節亦長，身形短者，其指節亦短，但隨其長短，以取分寸，則自準矣。肥人肌肉肥濃，血氣充滿，宜刺三分半；瘦人肌肉瘦薄，血氣未盛，宜刺二分。然雖如此，猶當有經有權，不可執一而論。如遇不肥不瘦之人，只在二三分之間，酌量取之可也。</p>
<p><a href="_files/p06-d43a10.bmp">中指定同身寸圖</a></p>
<p><u>男左女右手中指第二節、屈指兩紋尖相去為一寸。取稻稈心量，或薄篾量，皆易折而不伸縮</u></p>
<p><u>為準，用繩則伸縮不便，故多不準。</u></p>
<h3>十二經井滎俞經合原刺淺深歌</h3>
<p>出井流滎注為俞，行經入合臟俞原。春宜鍼滎夏鍼俞，秋宜鍼合冬井間。臟病鍼俞腑病合，臟腑有病皆鍼原。凡諸井穴肌肉淺，不宜深鍼自古傳。</p>
<p>【注】井、滎、俞、經、合、原，十二經穴名也。手足陽經有原穴，手足隂經無原穴，隂之俞穴，即隂之原穴也。所出為井，井者如水之出也；所流為滎，滎者如水之流也；所注為俞，俞者如水之注也；所行為經，經者如水之行也；所入為合，合者如水之會也；原者如水之源也。夫春鍼滎者，取絡衇在分肉間，刺之淺者也；夏鍼俞者，取孫絡在肌肉皮膚之上也；秋鍼合者，亦取絡衇在分肉間，故如春時之所刺；冬鍼井者，取絡衇孫絡之下，比他時所刺，則深而留之，以冬氣入臟故也。經原之原，手足隂陽之經，諸病皆宜刺之，但所刺有深有淺，不能枚舉。此四時鍼刺之大旨，自古相傳者也。</p>
<h3>五臟井滎俞經合歌</h3>
<p>太隂肺衇井少商，魚際之穴號滎鄉，太淵一穴名為俞，經渠經合尺澤當。</p>
<p>太隂脾井隱白穴，流於大都滎來接，太白為俞經商丘，隂陵泉與合為穴。</p>
<p>少隂心衇井少衝，尋至少府即名滎，神門一穴為俞穴，經合靈道少海真。</p>
<p>少隂腎衇井涌泉，然谷為滎夲天然，太谿為俞經復溜，隂谷為合踝前旋。</p>
<p>厥隂心包井中衝，掌中勞宮即為滎，大陵穴取名為俞，間使經合曲澤終。</p>
<p>厥隂肝衇井大敦，行間之穴便為滎，太衝之處為俞穴，經合中封曲泉名。</p>
<h3>六腑井滎俞原經合歌</h3>
<p>陽明大腸井商陽，二間為滎俞三間，合谷原經陽谿取，曲池為合正相當。</p>
<p>陽明胃衇井厲兑，內庭為滎須要會，陷谷名俞衝陽原，經合解谿三裡位。</p>
<p>太陽小腸井少澤，流於前谷為滎穴，後谿為俞原腕穀，經合陽谷小海歇。</p>
<p>太陽膀胱井至隂，通谷為滎亦穴名，束骨為俞原京骨，昆侖為經合委中。</p>
<p>少陽三焦井關衝，尋至液門號為滎，俞原中渚陽池取，經合支溝天井中。</p>
<p>少陽膽衇井竅隂，侠谿為滎是穴名，俞原臨泣丘墟穴，經歸陽輔合陽陵。</p>
<h3>十二經表裡原絡總歌</h3>
<p>臟腑有病均宜刺，原絡表裡相隨看。肺原太淵大偏歴，大肺合谷列缺端；脾原太白胃豐隆，胃脾衝陽公孫間；心原神門小支正，小心腕骨通裡邊；腎原太谿膀飛陽，膀腎京骨大鐘班；三焦陽池包內關，包原大陵焦外關；膽原丘墟肝蠡溝，肝膽太衝光明閑。</p>
<p>【注】凡臟腑有病，均可以刺之，即《難經》云：五臟六腑有病，皆取其原者是也。蓋各經有所主之病，必隨其各經表裡，先主後客並刺之。主者原穴也，客者絡穴也。如手太隂肺經病，可刺夲經裡之原穴，即太淵穴也，復刺大腸表之絡穴，即偏歴穴也；手陽明大腸經病，可刺夲經表之原穴，即合谷穴也，復刺肺經裡之絡穴，即列缺穴也；足太隂脾經病，可刺夲經裡之原穴，即太白穴也，復刺胃經表之絡穴，即豐隆穴也；足陽明胃經病，可刺夲經表之原穴，即衝陽穴也，復刺脾經裡之絡穴，即公孫穴也；手少隂心經病，可刺夲經裡之原穴，即神門穴也，復刺小腸經表之絡穴，即支正穴也；手太陽小腸經病，可刺夲經表之原穴，即腕骨穴也，復刺心經裡之絡穴，即通裡穴也；足少隂腎經病，可刺夲經裡之原穴，即太谿穴也，復刺膀胱經表之絡穴，即飛揚穴也；足太陽膀胱經病，可刺夲經表之原穴，即京骨穴也，復刺腎經裡之絡穴，即大鐘穴也；手少陽三焦經病，可刺夲經表之原穴，即陽池穴也，復刺心包絡經表之絡穴，即內關穴也；手厥隂心包絡經病，可刺夲經裡之原穴，即大陵穴也，復刺三焦經表之絡穴，即外關穴也；足少陽膽經病，可刺夲經表之原穴，即丘墟穴也，復刺肝經裡之絡穴，即蠡溝穴也；足厥隂肝經病，可刺夲經裡之原穴，即太衝穴也，復刺膽經表之絡穴，即光明穴也。此十二經主病之原穴為主，絡穴為客，隨表隨裡之刺法也。</p>
<h4>肺經表裡原絡穴主治歌</h4>
<p>肺經原絡應刺病，胸脹溏瀉小便頻，洒翕寒熱咳喘短，木痛皮膚肩缺盆。</p>
<p>【注】肺經裡之原穴太淵，大腸表之絡穴偏歴，二穴應刺之證即：胸脹，溏瀉，小便頻數，洒洒惡寒，翕翕發熱，咳嗽，喘促，短氣，皮膚，肩背、缺盆麻木疼痛。皆肺、大腸經病也。</p>
<p><a href="_files/p06-d43a11.bmp">肺經表裡原絡穴圖</a></p>
<h4>大腸經表裡原絡穴主治歌</h4>
<p>大腸原絡應刺病，大（大指）次（次指）不用肩臂疼，氣滿皮膚木不仁，面頬腮腫耳聾鳴。</p>
<p>【注】大腸表之原穴合谷，肺經裡之絡穴列缺，二穴應刺之證即：手之大指次指不用肩臂疼痛，皮膚麻木不仁，面頬腮腫，耳鳴，耳聾。皆大腸、肺經病也。</p>
<p><a href="_files/p06-d43a12.bmp">大腸經表裡原絡穴圖</a></p>
<h4>脾經表裡原絡穴主治歌</h4>
<p>脾經原絡應刺病，重倦面黃舌强疼，腹滿時痛吐或瀉，善飢不食脾病明。</p>
<p>【注】脾經裡之原穴太白，胃經表之絡穴豐隆，二穴應刺之證即：身重，倦怠，面黃，舌强而疼，腹滿時時作痛。或吐、或瀉，善飢而不欲食。皆脾胃經病也。</p>
<p><a href="_files/p06-d43a13.bmp">脾經表裡原絡穴圖</a></p>
<h4>胃經表裡原絡穴主治歌</h4>
<p>胃經原絡應刺病，項膺股　足跗疼，狂妄高歌棄衣走，惡聞煙火木音驚。</p>
<p>【注】胃經表之原穴衝陽，脾經裡之絡穴公孫，二穴應刺之證即：項、頸、胸、膺、胯、股、脛、　、足跗疼痛，發狂妄言，高歌棄衣而走，惡煙火，聞木音即驚。皆胃、脾經病也。</p>
<p><a href="_files/p06-d43a14.bmp">胃經表裡原絡穴圖</a></p>
<h4>心經表裡原絡穴主治歌</h4>
<p>心經原絡應刺病，消渴背腹引腰疼，眩仆咳吐下泄氣，熱煩好笑善忘驚。</p>
<p>【注】心經裡之原穴神門，小腸表之絡穴支正，二穴應刺之證：飲水即消，背腹引腰作痛，眩暈仆倒，上咳吐，下泄氣，熱而心煩，好笑善忘，多驚。皆心與小腸經病也。</p>
<p><a href="_files/p06-d43a15.bmp">心經表裡原絡穴圖</a></p>
<h4>小腸經表裡原絡穴主治歌</h4>
<p>小腸原絡應刺病，顴頷耳腫苦寒熱，肩　肘臂內外廉，痛不能轉腰似折。</p>
<p>【注】小腸表之原穴腕骨，心經裡之絡穴通裡，二穴應刺之證即：顴頷耳腫，苦寒熱，肩、　、肘、臂內外側痛，不能轉動，腰痛似折。皆小腸、心經病也。</p>
<p><a href="_files/p06-d43a16.bmp">小腸經表裡原絡穴圖</a></p>
<h4>腎經表裡原絡穴主治歌</h4>
<p>腎經原絡應刺病，大小腹痛大便難，臍下氣逆脊背痛，唾血渴熱兩足寒。</p>
<p>【注】腎經裡之原穴太谿，膀胱表之絡穴飛揚，二穴應刺之證即：大腹、少腹、脊背疼痛，大便結燥，臍下氣逆上衝，口渴吐血，兩足寒冷。皆腎、膀胱經病也。</p>
<p><a href="_files/p06-d43a17.bmp">腎經表裡原絡穴圖</a></p>
<h4>膀胱經表裡原絡穴主治歌</h4>
<p>膀胱原絡應刺病，目脫淚出頭項疼，臍突大小腹脹痛，按之尿難溲血膿。</p>
<p>【注】膀胱表之原穴京骨，腎經裡之絡穴大鐘，二穴應刺之證即：目胞脫陷淚出，頭項疼痛，臍突、大腹、少腹脹痛，按之其尿難出，而溲血膿。皆膀胱、腎經病也。</p>
<p><a href="_files/p06-d43a18.bmp">膀胱經表裡原絡穴圖</a></p>
<h4>三焦經表裡原絡穴主治歌</h4>
<p>三焦原絡應刺病，小指次指如廢同，目　耳後喉腫痛，自汗肩　內外疼。</p>
<p>【注】三焦表之原穴陽池，心包裡之絡穴內關，二穴應刺之證即：手之小指次指如廢而不能用，目　、耳後、咽喉腫痛，自汗，肩　內外側疼。皆三焦、包絡經病也。</p>
<p><a href="_files/p06-d43a19.bmp">三焦經表裡原絡穴圖</a></p>
<h4>心包絡經表裡原絡穴主治歌</h4>
<p>心包原絡應刺病，面紅目赤笑不休，心中動熱掌中熱，胸腋臂手痛中求。</p>
<p>【注】心包裡之原穴大陵，三焦表之絡穴外關，二穴應刺之證即：面紅目赤，好笑不休，心中動悸，內熱，手心熱，胸腋與臂手疼痛。皆心包絡、三焦經病也。</p>
<p><a href="_files/p06-d43a20.bmp">心包絡經表裡原絡穴圖</a></p>
<h4>膽經表裡原絡穴主治歌</h4>
<p>膽經原絡應刺病，口苦胸脅痛不寧，髀膝外踝諸節痛，太息馬刀侠瘤癭。</p>
<p>【注】膽經表之原穴丘墟，肝經裡之絡穴蠡溝，二穴應刺之證即：口苦，胸、脅、髀、膝、外踝諸節疼痛，太息，馬刀癭瘤。皆膽、肝經病也。</p>
<p><a href="_files/p06-d43a21.bmp">膽經表裡原絡穴圖</a></p>
<h4>肝經表裡原絡穴主治歌</h4>
<p>肝經原絡應刺病，頭痛頬腫脅疝疼，婦人少腹胞中痛，便難溲淋怒色青。</p>
<p>【注】肝經裡之原穴太衝，膽經表之絡穴光明，二穴應刺之證即：頭痛，頬腫，脅疝疼痛，婦人少腹胞中疼痛，大便難，小便淋，好怒色青。皆肝、膽經病也。</p>
<p><a href="_files/p06-d43a22.bmp">肝經表裡原絡穴圖</a></p>
<h3>八衇交會八穴歌</h3>
<p>公孫衝衇胃心胸，內關隂維下總同，臨泣膽經連帶衇，陽維目鋭外關逢，後谿督衇內頸，申衇陽蹺絡亦通，列缺任衇行肺系，隂蹺照海膈喉嚨。</p>
<p>【注】公孫二穴，是足太隂脾經穴也，通於衝衇，內關二穴，此二穴是手厥隂心包絡穴也，四穴通於隂維衇。四經會合循行之處，在胃心胸之間，故主治胃與心胸之病也。</p>
<p>臨泣二穴，是足少陽膽經穴也，通於帶衇；外關二穴，此二穴是手少陽三焦經穴也，四穴通於陽維衇。</p>
<p>四經會合連絡之處，在於目鋭　、耳後、頬、頸、肩之間，故主治目鋭　、耳後、頬、頸、肩之病也。</p>
<p>後谿二穴，是手太陽小腸經穴也，通於督衇；申衇二穴，此二穴是足太陽膀胱經穴也，四穴通於陽蹺衇。四經會合別絡之處，在於目內　、頸、項、耳、肩、膊、小腸、膀胱之間，故主治目內　、頸、項、耳、肩、膊、小腸、膀胱之病也。</p>
<p>列缺二穴，是手太隂肺經穴也，通於任衇；照海二穴，此二穴是足少隂腎經穴也，四穴通於隂蹺衇。四經會合系絡之處，在於肺系、咽喉、胸膈之間，故主治肺系、咽喉、胸膈之病也。</p>
<h4>衝衇公孫穴主治歌</h4>
<p>九種心疼病不寧，結胸翻胃食難停，酒食積聚腸鳴見，水食氣疾膈臍疼，腹痛脅脹胸膈滿，瘧疾腸風大便紅，胎衣不下血迷心，急刺公孫穴自靈。</p>
<p>【注】九種心疼者：曰飲、曰食、曰風、曰冷、曰熱、曰悸、曰蟲、曰注、曰去來痛。</p>
<p>結胸者，胸滿硬痛也。翻胃者，朝食暮吐，食難停留也。傷酒，傷食，積滯，腸胃雷鳴，水食，氣疾，膈間臍腹疼痛，兩脅作脹，胸膈滿悶，瘧疾腸風，大便下血，以及婦人胞衣不下，瘀血上攻迷心，皆宜刺此公孫穴，則立應也。</p>
<p><a href="_files/p06-d43a23.bmp">衝衇公孫穴圖</a></p>
<h4>隂維內關穴主治歌</h4>
<p>中滿心胸多痞脹，腸鳴泄瀉及脫肛，食難下膈傷於酒，積塊堅硬橫脅旁，婦女脅疼並心痛，裡急腹痛勢難當，傷寒不解結胸病，瘧疾內關可獨當。</p>
<p>【注】中滿心胸痞脹，謂腹滿心胸痞脹不通快也。腸鳴泄瀉，謂暴瀉脫肛也。食難下膈傷於酒者，謂嘔吐食不能下，或因酒傷也。積塊堅硬，橫沖於脅，婦女心脅疼痛，裡急脹痛，傷寒結胸硬痛，瘧疾，裡實等病，皆刺內關，無不愈矣。</p>
<p><a href="_files/p06-d43a24.bmp">隂維內關穴圖</a></p>
<h4>帶衇臨泣穴主治歌</h4>
<p>中風手足舉動難，麻痛發熱筋拘攣，頭風腫痛連腮項，眼赤而疼合頭眩，齒痛耳聾咽腫證，游風搔癢筋牽纏，腿疼脅脹肋肢痛，鍼入臨泣病可痊。</p>
<p>【注】中風手足舉動難，謂手足不遂也。若疼痛麻木拘攣，兼發熱者，風熱也。頭風旋暈及腫痛連腮、項、目、牙齒、兩耳、咽喉皆赤腫痛，游風搔癢，筋衇牽引，腰、脅、四肢與肋疼痛等證，皆宜刺此臨泣穴，立時有奇功也。</p>
<p><a href="_files/p06-d43a25.bmp">帶衇臨泣穴圖</a></p>
<h4>陽維外關穴主治歌</h4>
<p>肢節腫疼與膝冷，四肢不遂合頭風，背胯內外筋骨痛，頭項眉棱病不寧，手足熱麻夜盜汗，破傷跟腫目睛紅，傷寒自汗烘烘熱，惟有外關鍼極靈。</p>
<p>【注】四肢骨節腫痛，兩膝痹冷，手足不遂，偏正頭風，脊背、腰胯、筋骨、頭項、眉棱疼痛，手足發熱麻木，夜間盜汗，及破傷游風，腳跟腫痛，兩眼赤紅，傷寒陽明自汗，蒸熱烘烘，皆宜刺外關穴，其病立已。</p>
<p><a href="_files/p06-d43a26.bmp">陽維外關穴圖</a></p>
<h4>督衇後谿穴主治歌</h4>
<p>手足拘攣戰掉眩，中風不語並癲癇，頭疼眼腫漣漣淚，背腰腿膝痛綿綿，項强傷寒病不解，牙齒腮腫喉病難，手足麻木破傷風，盜汗後谿穴先砭。</p>
<p>【注】手足拘攣者，屈伸難也。戰掉者，手足顫搖不能握也。眩者，暈也。中風卒然昏仆，不能語言，癲癇不省人事，　抽掣，頭痛及暴發火眼，熱淚常流，行痹，腿、膝、背、腰歴節周身疼痛，項强，傷寒感冒，汗不出，不能解，上下牙齒、腮、齦、咽、喉腫疼，手足麻木不仁，破傷受風，寢汗等證，先砭後谿穴，開通衇道，無不愈矣。</p>
<p><a href="_files/p06-d43a27.bmp">督衇後谿穴圖</a></p>
<h4>陽蹺申衇穴主治歌</h4>
<p>腰背脊强足踝風，惡風自汗或頭疼，手足麻攣臂間冷，雷頭赤目眉棱痛，吹乳耳聾鼻衄血，癲癇肢節苦煩疼，遍身腫滿汗淋漓，申衇先鍼有奇功。</p>
<p>【注】腰背脊强，不能俯仰也。足內踝紅腫，名繞踝風也。足外踝紅腫，名穿踝風也。</p>
<p>惡風自汗與雷頭風痛，暴發火眼，眉棱骨痛，手足麻木拘攣，臂冷，及婦人吹乳，乳房紅腫（未產者名內吹，已產者名外吹也），耳聾鼻衄，癲癇抽搐，肢節煩疼，遍身腫滿，頭汗淋漓等證，此皆風熱痰飲，流注攻衝為病。並宜先鍼申衇，立時有功。</p>
<p><a href="_files/p06-d43a28.bmp">陽蹺申衇穴圖</a></p>
<h4>任衇列缺穴主治歌</h4>
<p>痔瘡肛腫泄痢纏，吐紅尿血嗽咳痰，牙痛喉腫小便澀，心胸腹疼噎咽難，產後發强不能語，腰痛血疾臍腹寒，死胎不下上攻膈，列缺一刺病乃痊。</p>
<p>【注】內痔肛腫，泄痢赤白，咳痰唾血、尿血，及牙齦咽喉腫痛，小便赤澀艱難，心胸腹痛，噎咽不快，產後敗血，上干心氣，身發强直，不能語言；或瘀滯腰痛，臍腹間寒，子死腹中，胎衣不下，上攻膈塞，並刺列缺，其證必痊。</p>
<p><a href="_files/p06-d43a29.bmp">任衇列缺穴圖</a></p>
<h4>隂蹺照海穴主治歌</h4>
<p>喉閉淋澀與胸腫，膀胱氣痛並腸鳴，食黃酒積臍腹痛，嘔瀉胃翻及乳癰，便燥難產血昏迷，積塊腸風下便紅，膈中不快梅核氣，格主照海鍼有靈。</p>
<p>【注】上焦火盛，咽喉閉塞不通；下焦熱結，膀胱氣痛，小便淋澀，胸中腫痛；或食積酒積，內蓄傷脾，發黃；或臍腹痛；或嘔瀉，胃翻吐食，乳癰，大便燥結，及婦人生產艱難，瘀血塊痛，昏迷，腸風下血不已；或膈中之氣，怏怏不快，如梅核氣格塞咽喉之間，咯之不出，咽之不下等疾，急刺照海穴，則諸證自散。</p>
<p><a href="_files/p06-d43a30.bmp">隂蹺照海穴圖</a></p>
<h3>手足十二經所属歌</h3>
<p>五臟六腑共包絡，手足所属三隂陽，太隂足脾手肺臟，陽明足胃手大腸，少隂足腎手心臟，太陽足膀手小腸，厥隂足肝手包絡，少陽足膽手焦當。</p>
<p>【注】五臟：心、肝、脾、肺、腎。六腑：膽、胃、大腸、小腸、膀胱、三焦，共包絡分属手足三隂三陽，為十二經也。如肺手太隂，心手少隂，心包絡手厥隂，手之三隂也；手太陽小腸，手陽明大腸，手少陽三焦，手之三陽也；足太陽膀胱，足陽明胃，足少陽膽，足之三陽也；足太隂脾，足少隂腎，足厥隂肝，足之三隂也。</p>
<h3>天干十二經表裡歌</h3>
<p>甲膽乙肝丙小腸，丁心戊胃己脾鄉，庚属大腸辛属肺，壬属膀胱癸腎臟，三焦陽府須歸丙，包絡從隂丁火旁，陽干為表隂乾裡，臟腑表裡配隂陽。</p>
<p>【按】舊云：三焦亦向壬中寄，包絡同歸入癸方。夫三焦為決瀆之官，猶可言壬，而包絡附於心主，烏可云癸？況二臟表裡，皆相火也，故改正之。</p>
<p>【注】甲、丙、戊、庚、壬陽干也，乙、丁、己、辛、癸隂乾也。陽干為表為腑，隂乾為裡為臟，故曰：臟腑表裡配隂陽也。</p>
<h3>地支十二經流注歌</h3>
<p>每日寅時從肺起，卯時流入大腸經，辰胃巳脾午心火，未時應注小腸經，申属膀胱酉属腎，戌走包絡亥焦宮，子膽丑肝寅又肺，十二經衇周環行。</p>
<p>【注】人有十二經，晝夜有十二時，每一經主一時。先從寅時入肺起，卯入於大腸，辰入於胃，巳入於脾，午入於心，未入於小腸申入於膀胱，酉入於腎，戌入於包絡，亥入於三焦，子入於膽，丑入於肝，至於寅時，則又從肺起，此十二經與十二時，相循環而行者也。</p>
<h3>十二經相傳次序歌</h3>
<p>肺大胃脾心小腸，膀腎包焦膽肝續，手隂臟手陽手頭，足隂足腹陽頭足。</p>
<p>【注】人身正衇十有二經，每於平旦寅時，營氣始於中焦，上注於手太隂肺經，自胸中而出於中府，至於少商，以次行於手陽明大腸等十二經，終於足厥隂肝經，而復始於太隂肺經也。凡手之三隂，從臟走手；手之三陽，從手走頭；足之三隂，從足走腹；足之三陽，從頭走足。周流不息，循環無端也。</p>
<h3>十二經起止歌</h3>
<p>肺起中府止少商，大腸商陽止迎香，胃起承泣終厲兑，脾起隱白大包鄉，心起極泉少衝止，小腸少澤止聼宮，膀胱睛明止至隂，腎起涌泉俞府終，包絡天池中衝止，三焦關衝止竹空，膽瞳子　止竅隂，肝起大敦止期門。</p>
<h3>十二經穴周流歌</h3>
<p>中府為初注少商，少商別絡注商陽，商陽復向迎香走，香接頭維至庫房，維下降兮趨厲兑，兑傳隱白至胸鄉，隱白上升達大包，大包仍續極泉場，泉貫少衝心部井，少澤相連即小腸，澤會聼宮睛明分，睛明下造至隂强，至隂斜出涌泉底，泉穴還歸　府臟，府天池橫絡截，池出中衝心主張，中衝並與關衝合，關衝宛轉絲竹傍，絲竹更貫瞳　穴，瞳下入竅隂方，竅隂橫亙大敦井，敦上期門肝衇當，期門歴遍還中府，經絡周流仔細詳。</p>
<h3>十二經氣血多少歌</h3>
<p>多氣多血惟陽明，少氣太陽厥隂同，二少太隂常少血，六經氣血要分明。</p>
<p>【注】手陽明大腸、足陽明胃，此二經多氣多血之經也；三焦、膽、腎、心、脾、肺，此六經多氣少血也；心包絡、膀胱、小腸、肝，此四經乃多血少氣也。</p>
<h2>卷二</h2>
<h3>周身名位骨度</h3>
<p><u>頭</u></p>
<p>　【注】頭者，人之首也。凡物獨出之首，皆名曰頭。</p>
<p><u>腦</u></p>
<p>　【注】腦者，頭骨之髓也，俗名腦子。</p>
<p><u>顛</u></p>
<p>　【注】顛者，頭頂也。顛頂之骨，俗名天靈蓋。</p>
<p><u>囪</u></p>
<p>　【注】囟者，顛前之頭骨也。小兒初生未闔名曰囟門，已闔名曰囟骨，即天靈蓋後合之骨。</p>
<p><u>面</u></p>
<p>　【注】凡前曰面，凡後曰背。居頭之前，故曰面也。</p>
<p><u>顏</u></p>
<p>　【注】顏者，眉目間名也。</p>
<p><u>額顱</u></p>
<p>　【注】額前發際之下，兩眉之上，名曰額。一曰顙者，亦額之謂也。</p>
<p><u>頭角</u></p>
<p>　【注】額兩旁棱處之骨也。</p>
<p><u>鬢骨</u></p>
<p>　【注】即兩太陽之骨也。</p>
<p><u>目</u></p>
<p>　【注】目者，司視之竅也。</p>
<p><u>目胞</u></p>
<p>　【注】目胞者，一名目窠，一名目裹，即上下兩目外衛之胞也。</p>
<p><u>目綱</u></p>
<p>　【注】目綱者，即上、下目胞之兩瞼邊，又名曰睫，司目之開闔也。</p>
<p><u>目內　</u></p>
<p>　【注】目內　者，乃近鼻之內眼角。以其大而圓，故又名大　也。</p>
<p><u>目外　</u></p>
<p>　【注】目外　者，乃近鬢前之眼角也。以其小而尖，故稱目鋭　也。</p>
<p><u>目珠</u></p>
<p>　【注】目珠者，目睛之俗名也。</p>
<p><u>目系</u></p>
<p>　【注】目系者，目睛入腦之系也。</p>
<p><u>目眶骨</u></p>
<p>　【注】目眶者，目窠四圍之骨也。上曰眉棱骨，下即　骨，　骨之外即顴骨。</p>
<p><u>　</u></p>
<p>　【注】目下之眶骨，顴骨內下連上牙床者也。</p>
<p><u>　</u></p>
<p>　【注】　者，鼻梁即山根也。</p>
<p><u>鼻</u></p>
<p>　【注】鼻者，司臭之竅也。兩孔之界骨，名曰鼻柱；下至鼻之盡處，名曰準頭。</p>
<p><u>　</u></p>
<p>　【注】　，　內鼻旁間，近生門牙之骨也。</p>
<p><u>顴</u></p>
<p>　【注】顴者，面兩旁之高起大骨也。</p>
<p><u>　</u></p>
<p>　【注】　者，俗呼為腮，口旁頬前肉之空軟處也。</p>
<p><u>耳</u></p>
<p>　【注】耳者，司聼之竅也。</p>
<p><u>蔽</u></p>
<p>　【注】蔽者，耳門也。</p>
<p><u>耳郭</u></p>
<p>　【注】耳郭者，耳葉也。</p>
<p><u>頬</u></p>
<p>　【注】頬，耳前顴側面兩旁之稱也。</p>
<p><u>曲頬</u></p>
<p>　【注】曲頬者，頬之骨也。曲如環形，受頬車骨尾之鉤者也。</p>
<p><u>頬車</u></p>
<p>　【注】頬車者，下牙床骨也。總載諸齒，能咀食物，故名頬車。</p>
<p><u>人中</u></p>
<p>　【注】人中者，鼻柱之下，脣之上，穴名水溝。</p>
<p><u>口</u></p>
<p>　【注】口者，司言食之竅也。</p>
<p><u>脣</u></p>
<p>　【注】脣者，口端也。</p>
<p><u>吻</u></p>
<p>　【注】吻者，口之四周也。</p>
<p><u>頤</u></p>
<p>　【注】頤者，口角後　之下也。</p>
<p><u>頦</u></p>
<p>　【注】頦者，口之下脣至末之處，俗名下把殼也。</p>
<p><u>頷</u></p>
<p>　【注】頷者，頦下結喉上，兩側肉之空軟處也。</p>
<p><u>齒</u></p>
<p>　【注】齒者，口　所生之骨也，俗名曰牙。有門牙、虎牙、槽牙、上下盡根牙之別。</p>
<p><u>舌</u></p>
<p>　【注】舌者，司味之竅也。</p>
<p><u>舌夲</u></p>
<p>　【注】舌夲者，舌之根也。</p>
<p><u>頏顙</u></p>
<p>　【注】頏顙者，口內之上二孔，司分氣之竅也。</p>
<p><u>懸雍垂</u></p>
<p>　【注】懸雍垂者，張口視喉上，似乳頭之小舌，俗名碓嘴。</p>
<p><u>會厭</u></p>
<p>　【注】會厭者，覆喉管之上竅，似皮似膜，發聲則開，咽食則閉，故為聲音之户也。</p>
<p><u>咽</u></p>
<p>　【注】咽者，飲食之路也，居喉之後。</p>
<p><u>喉</u></p>
<p>　【注】喉者，通聲息之路也，居咽之前。</p>
<p><u>喉嚨</u></p>
<p>　【注】喉嚨者，喉也，肺之系也。</p>
<p><u>嗌</u></p>
<p>　【注】嗌者，咽也，胃之系也。</p>
<p><u>結喉</u></p>
<p>　【注】結喉者，喉之管頭也。其人瘦者多外見頸前，肥人則隱於肉內，多不見也。</p>
<p><u>胸膺</u></p>
<p>　【注】胸者，缺盆下腹之上，有骨之處也；膺者，胸前兩旁高處也，一名曰臆，胸骨肉也，俗名胸膛。</p>
<p><u>　</u></p>
<p>　【注】　者，胸之眾骨名也。</p>
<p><u>乳</u></p>
<p>　【注】乳者，膺上突起兩肉有頭，婦人以乳兒者也。</p>
<p><u>鳩尾</u></p>
<p>　【注】鳩尾者，即蔽心骨也。其質系脆骨，在胸骨之下岐骨之間。</p>
<p><u>膈</u></p>
<p>　【注】膈者，胸下腹上之界內之膜也，俗名羅膈。</p>
<p><u>腹</u></p>
<p>　【注】腹者，膈之下曰腹，俗名曰肚；臍之下曰少腹，亦名小腹。</p>
<p><u>臍</u></p>
<p>　【注】臍者，人之初生胞蒂之處也。</p>
<p><u>毛際</u></p>
<p>　【注】毛際者，小腹下橫骨間叢毛之際也。下橫骨俗名蓋骨。</p>
<p><u>篡</u></p>
<p>　【注】篡者，橫骨之下，兩股之前，相合共結之凹也。前、後兩隂之間，名下極穴，又名屏翳穴、會隂穴，即男女隂氣之所也。</p>
<p><u>睪丸</u></p>
<p>　【注】睪丸者，男子前隂兩丸也。</p>
<p><u>上橫骨</u></p>
<p>　【注】上橫骨在喉前宛宛中，天突穴之外，小灣橫骨旁，接拄骨之骨也。</p>
<p><u>拄骨</u></p>
<p>　【注】拄骨者，膺上缺盆之外，俗名鎖子骨也。內接橫骨，外接肩解也。</p>
<p><u>肩解</u></p>
<p>　【注】肩解者，肩端之骨節解處也。</p>
<p><u>　骨</u></p>
<p>　【注】　骨者，肩端之骨也，即肩胛骨頭臼之上棱骨也。其臼接　骨上端，俗曰肩頭。其外曲卷翅骨，肩後之棱骨也。其下棱骨，在背肉內。</p>
<p><u>肩胛</u></p>
<p>　【注】肩胛者，即　骨之末成片骨也，亦名肩　，俗名　板子骨。</p>
<p><u>臂</u></p>
<p>　【注】臂者，上身兩大支之通稱也。一名曰肱，俗名　膊。　膊中節上、下骨交接處，名曰肘；肘上之骨曰　骨；肘下之骨曰臂骨。臂骨有正、輔二骨，輔骨在上，短細偏外；正骨居下，長大偏內，俱下接腕骨也。</p>
<p><u>腕</u></p>
<p>　【注】腕者，臂掌骨接交處，以其宛屈故名也。當外側之骨，名曰高骨，一名鋭骨，亦名踝骨。</p>
<p><u>掌骨</u></p>
<p>　【注】掌者，手之眾指之夲也。掌之眾骨名壅骨，合湊成掌，非塊然一骨也。</p>
<p><u>魚</u></p>
<p>　【注】魚者，在掌外側之上隴起，其形如魚，故謂之魚也。</p>
<p><u>手</u></p>
<p>　【注】手者，上體所以持物也。</p>
<p><u>手心</u></p>
<p>　【注】手心者，即掌之中也。</p>
<p><u>手背</u></p>
<p>　【注】手背者，手之表也</p>
<p><u>指骨</u></p>
<p>　【注】指者，手指之骨也。第一大指名巨指，在外二節，夲節在掌；第二名食指，又名大指之次指，三節在外，夲節在掌；第三中指名將指，三節在外，夲節在掌；第四指名無名指，又名小指之次指，三節在外，夲節在掌；第五指為小指，三節在外，夲節在掌。其節節交接處，皆有碎骨筋膜聯絡。</p>
<p><u>爪甲</u></p>
<p>　【注】爪甲者，指之甲也，足趾同。</p>
<p><u>岐骨</u></p>
<p>　【注】岐骨者，凡骨之兩叉者，皆名岐骨，手足同。</p>
<p><u>　</u></p>
<p>　【注】　者，肩　下內側對腋處，高起軟白肉也。</p>
<p><u>腋</u></p>
<p>　【注】腋者，肩之下脅之上際，俗名　肢窩。</p>
<p><u>脅肋</u></p>
<p>　【注】脅者，腋下至肋骨盡處之統名也。曰肋者，脅之單條骨之謂也，統脅肋之總，又名曰　。</p>
<p><u>季脅</u></p>
<p>　【注】季脅者，脅之下小肋骨也，俗名軟肋。</p>
<p><u>　</u></p>
<p>　【注】　者，脅下無肋骨空軟處也。</p>
<p><u>腦後骨</u></p>
<p>　【注】腦後骨者，俗呼腦杓。</p>
<p><u>枕骨</u></p>
<p>　【注】枕骨者，腦後骨之下隴起者是也。其骨或棱、或平、或長、或圓不一。</p>
<p><u>完骨</u></p>
<p>　【注】耳後之棱骨，名曰完骨，在枕骨下兩旁之棱骨也。</p>
<p><u>頸項</u></p>
<p>　【注】頸項者，頸之莖也。又曰頸者，莖之側也；項者，莖之後也，俗名脖項。</p>
<p><u>頸骨</u></p>
<p>　【注】頸者，頭之莖骨，肩骨上際之骨，俗名天柱骨也。</p>
<p><u>項骨</u></p>
<p>　【注】項骨者，頭後莖骨之上三節圓骨也。</p>
<p><u>背</u></p>
<p>　【注】背者，後身大椎以下，腰以上之通稱也。</p>
<p><u>膂</u></p>
<p>　【注】膂者，夾脊骨兩旁肉也。</p>
<p><u>脊骨</u></p>
<p>　【注】脊骨者，脊膂骨也，俗名脊梁骨。</p>
<p><u>腰骨</u></p>
<p>　【注】腰骨者，即脊骨十四椎下，十五、十六椎間，尻上之骨也。其形中凹、上寬、下窄，方圓二三寸許，兩旁四孔，下接尻骨上際也。</p>
<p><u>胂</u></p>
<p>　【注】胂者，腰下兩旁，髁骨上之肉也。</p>
<p><u>臀</u></p>
<p>　【注】臀者，胛下尻旁大肉也。</p>
<p><u>尻骨</u></p>
<p>　【注】尻骨者，腰骨下十七椎、十八椎、十九椎、二十椎、二十一椎五節之骨也。上四節紋之旁，左右各四孔，骨形內凹如瓦，長四五寸許，上寬下窄，末節更小，如人參蘆形，名尾閭，一名　端，一名橛骨，一名窮骨；在肛門後，其骨上外兩旁形如馬蹄，附著兩髁骨上端，俗名　骨。</p>
<p><u>肛</u></p>
<p>　【注】肛者，大腸下口也。</p>
<p><u>下橫骨、髁骨、楗骨</u></p>
<p>　【注】下橫骨在少腹下，其形如蓋，故名蓋骨也。其骨左右二大孔，上兩分出向後之骨，首如張扇，下寸許附著於尻骨之上，形如馬蹄之處，名曰髁骨。下兩分出向前之骨，末如楗柱，在於臀內，名曰楗骨。與尻骨成鼎足之勢，為坐之主骨也，婦人俗名交骨；其骨面名曰髖，侠髖之臼名曰機，又名髀樞，外接股之髀骨也，即環跳穴處，此一骨五名也。</p>
<p><u>股</u></p>
<p>　【注】股者，下體兩大支之通稱也，俗名大腿小腿。中節上、下交接處，名曰膝。</p>
<p>膝上之骨曰髀骨，股之大骨也；膝下之骨曰　骨，脛之大骨也。</p>
<p><u>髀骨</u></p>
<p>　【注】髀者，膝上之大骨也。上端如杵，接於髀樞，下端如錘，接於　骨也。</p>
<p><u>　骨</u></p>
<p>　【注】　骨者，俗名　脛骨也。其骨兩根，在前者名成骨，又名　骨，形粗，膝外突出之骨也；在後者名輔骨，形細，膝內側之小骨也。</p>
<p><u>伏兔</u></p>
<p>　【注】伏兔者，髀骨前膝之上，起肉似俯兔，故曰伏兔。</p>
<p><u>膝解</u></p>
<p>　【注】膝解者，膝之節解也。</p>
<p><u>臏骨</u></p>
<p>　【注】臏骨者，膝上蓋骨也。</p>
<p><u>連骸</u></p>
<p>　【注】連骸者，膝外側二高骨也。</p>
<p><u>　</u></p>
<p>　【注】　者，膝後屈外，俗名腿凹也。</p>
<p><u>　</u></p>
<p>　【注】　者，下腿肚也，一名腓腸，俗名小腿肚。</p>
<p><u>踝骨</u></p>
<p>　【注】踝者，　骨之下，足跗之上，兩旁實出之高骨。在外為外踝，在內為內踝也。</p>
<p><u>足</u></p>
<p>　【注】足者，下體所以趨走也，俗名腳。</p>
<p><u>跗骨</u></p>
<p>　【注】跗者，足背也，一名足趺，俗稱腳面。跗骨者，足趾夲節之眾骨也。</p>
<p><u>足心</u></p>
<p>　【注】足心者，即踵之中也。</p>
<p><u>跟骨</u></p>
<p>　【注】跟，足後根之骨也。</p>
<p><u>趾</u></p>
<p>　【注】趾者，足之指也。其數五，名為趾者，別於手也。居內之大者名大趾，第二趾名大趾之次趾，第三趾名中趾，第四名小趾之次趾，第五居外之小者名小趾。足之指節與手指節同，其大趾之夲節後內側，圓骨形突者，名核骨。</p>
<p><u>三毛</u></p>
<p>　【注】足大趾爪甲後為三毛。毛後橫紋為聚毛。</p>
<p><u>踵</u></p>
<p>　【注】踵者，足下面著於地之謂也，俗名腳底板。</p>
<p><a href="_files/p06-d43a31.bmp">正面骨度部位圖</a></p>
<p><a href="_files/p06-d43a32.bmp">背面骨度部位圖</a></p>
<h4>骨度尺寸</h4>
<p><u>頭部</u></p>
<p>　項發以下至背骨，長二寸半（自後發際以至大椎項骨三節處也）。</p>
<p>【按】　頭部折法：以前發際至後發際，折為一尺二寸。如發際不明，則取眉心直上，後至大杼骨，折作一尺八寸，此為直寸。橫寸法，以眼內角至外角，此為一寸。頭部橫直寸法，並依此。</p>
<p>督衇神庭至太陽曲差穴，曲差至少陽夲神穴，夲神至陽明頭維穴，各開一寸半。自神庭至頭維，各開四寸半。</p>
<p><u>胸腹部</u></p>
<p>　結喉以下至缺盆，中長四寸。（此以巨骨上陷中而言，即天突穴處）缺盆以下之中，長九寸。胸圍四尺五寸。兩乳之間，廣九寸半。（當折八寸為當）　中下至天樞，長八寸。（天樞足陽明穴名，在臍旁，此指平臍而言）天樞以下至橫骨，長六寸半。橫骨橫長六寸半。（毛際下骨曰橫骨）</p>
<p>【按】　此古數也。以今用上、下穴法參較，多有未合，宜從後胸腹折法為當。</p>
<p>兩髀之間，廣六寸半。（此當兩股之中橫骨兩頭之處，俗名髀縫）</p>
<p>【按】　胸腹折法：直寸以中行為之，自缺盆中天突穴起，至岐骨際上中庭穴止，折作八寸四分；自　上岐骨際，下至臍心，折作八寸；臍心下至毛際曲骨穴，折作五寸。橫寸以兩乳相去，折作八寸。胸腹橫直寸法，並依此。</p>
<p><u>背部</u></p>
<p>　膂骨以下至尾　，二十一節，長三尺。（膂骨，脊骨也。脊骨外小而內巨，人之所以能負任者，以是骨之巨也。脊骨二十四節，今云二十一節者，除項骨三節不在內。尾　骨男子者尖，女人者平）腰圍四尺二寸。</p>
<p>【按】　背部折法：自大椎至尾　，通折三尺。上七節各長一寸四分一厘，共九寸八分七厘。中七節各一寸六分一厘，共一尺一寸二分七厘。第十四節與臍平，下七節各一寸二分六厘，共八寸八分二厘，共二尺九寸九分六厘。不足四厘者，有零未盡也。直寸依此，橫寸用中指同身寸法。</p>
<p>脊骨內闊一寸。凡云第二行侠脊一寸半，三行侠脊三寸者，皆除脊一寸外，淨以寸半三寸論，故在二行當為二寸，在三行當為三寸半也。</p>
<p><u>側部</u></p>
<p>　自拄骨下行腋中不見者，長四寸。（拄骨，頸項根骨也）腋以下至季脅，長一尺二寸。（季脅，小肋也）季脅以下至髀樞，長六寸。（大腿曰股，股上曰髀，楗骨之下，大腿之上，兩骨合縫之所曰髀樞，當足少陽環跳穴處也。）髀樞下至膝中，長一尺九寸。橫骨上廉下至內輔之上廉，長一尺八寸。（骨際曰廉，膝旁之骨突出者曰輔骨，內曰內輔，外曰外輔）內輔之上廉以下至下廉，長三寸半。（上廉、下廉，可摸而得）內輔下廉下至內踝，長一尺二寸。內踝以下至地，長三寸。</p>
<p><u>四肢部</u></p>
<p>　肩至肘，長一尺七寸。肘至腕，長一尺二寸半。（臂之中節曰肘）腕至中指夲節，長四寸。</p>
<p>（臂掌之交曰腕）夲節至末，長四寸半。（指之後節曰夲節）膝以下至外踝，長一尺六寸。膝　以下至跗属，長一尺六寸。（　，腿灣也，跗足面也。膝在前，　在後。跗属者，凡兩踝前後脛掌所交之處，皆為跗之属也）跗属以下至地，長三寸。外踝以下至地，長一寸。足長一尺二寸，廣四寸半。</p>
<p>【按】　骨度乃《靈樞經‧骨度篇》文所論之長短，皆古數也。然骨之大者太過，小者不及，此亦但言其則耳。至於周身手足折量之法，當用前中指同身寸法為是。</p>
<p><a href="_files/p06-d43a33.bmp">正面骨度尺寸圖</a></p>
<p><a href="_files/p06-d43a34.bmp">背面骨度尺寸圖</a></p>
<h4>前頭面頸諸穴行列</h4>
<p><u>頭部頂中</u></p>
<p>　中行凡一穴：百會（属督衇）</p>
<p><u>頭部前</u></p>
<p>　中行凡四穴：神庭　上星　囟會　前頂（俱属督衇）</p>
<p>兩旁第二行左右凡八穴：曲差　五處　承光　通天（俱足太陽穴）</p>
<p>兩旁第三行左右凡六穴：臨泣　目窻　正營（俱足少陽穴）</p>
<p><u>正面部</u></p>
<p>　中行凡五穴：素　水溝　兑端　齦交（俱督衇穴）　承漿（任衇穴）</p>
<p>兩旁第二行左右凡十穴：攢竹　睛明（俱足太陽穴）　迎香　禾　（俱手陽明穴）　巨　（足陽明穴）</p>
<p>兩旁第三行左右凡十穴：陽白（足少陽穴）</p>
<p>承泣　四白　地倉　大迎（俱足陽明穴）</p>
<p>兩旁第四行左右凡八穴：夲神　童子　（俱足少陽穴）　絲竹空（手少陽穴）　顴　（手太陽穴）</p>
<p><u>頸部</u></p>
<p>　中行凡二穴：廉泉　天突（俱属任衇）</p>
<p><a href="_files/p06-d43a37.bmp">前頭面頸穴總圖</a></p>
<h4>胸腹諸穴行列</h4>
<p><u>胸博</u></p>
<p>　中行凡七穴：天突　璇璣　華蓋　紫宮　玉堂　膻中　中庭（俱任衇）</p>
<p><a href="_files/p06-d43a35.bmp">仰人諸經起止全圖</a></p>
<p><a href="_files/p06-d43a36.bmp">俯人諸經起止全圖</a></p>
<p>兩旁第二行左右凡十二穴（去中行任衇二寸）：俞府　中　神藏　靈墟　神封　步廊（俱足少隂）</p>
<p>兩旁第三行左右凡十二穴（自氣户夾俞府旁二寸，去中行四寸）：氣户　庫房　屋翳　膺窻　乳中　乳根（俱足陽明）</p>
<p>兩旁第四行左右凡十二穴（自云門夾氣户旁二寸，去中行六寸）：云門　中府（俱手太隂）　周榮胸鄉　天溪　食竇（俱足太隂）</p>
<p><u>腹部</u></p>
<p>　中行凡十五穴：鳩尾　巨闕　上脘　中脘　建裡　下脘　水分　神闕　隂交　氣海　石門　關元中極　曲骨　會隂（俱任衇）</p>
<p>兩旁第二行左右凡二十二穴（自幽門夾巨闕兩旁各半寸，循衝衇下行至橫骨）：幽門　通谷　隂都石關　商曲　肓俞　中柱　四滿　氣穴　大赫　橫骨（俱足少隂）</p>
<p>兩旁第三行左右凡二十六穴（自不容夾幽門兩旁各一寸五分，去中行二寸）：不容　承滿　梁門　關門太乙　滑肉門　天樞　外陵　大巨　水道　歸來　氣衝（俱足陽明）　急衇（足厥隂穴，挾氣衝旁各半寸，去中行二寸半）</p>
<p>兩旁第四行左右凡十四穴（自期門上直兩乳，挾不容旁各一寸五分，去中行三寸半）：期門（足厥隂）　日月（足少陽）　腹哀　大橫　腹結　府舍　衝門（俱足太隂）</p>
<p><a href="_files/p06-d43a38.bmp">胸腹穴總圖</a></p>
<h4>後頭項諸穴行列</h4>
<p><u>頭部後</u></p>
<p>　中行凡五穴：後頂　强間　腦户　風府　啞門（俱属督衇）</p>
<p>兩旁第二行左右凡六穴：絡却　玉枕　天柱（俱足太陽穴）</p>
<p>兩旁第三行左右凡六穴：承靈　腦空　風池（俱足少陽穴）</p>
<p>兩旁第四行左右凡四穴：完骨（足少陽穴）</p>
<p>天牖（手少陽穴）</p>
<p><a href="_files/p06-d43a39.bmp">後頭項穴總圖</a></p>
<h4>背穴行列</h4>
<p><u>背部</u></p>
<p>中行凡十四穴：大椎　陶道　身柱　神道　靈台　至陽　筋縮　中樞　脊中　懸樞　命門　陽關　腰俞長强（俱督衇）</p>
<p>兩旁第二行左右凡十四穴：大杼　風門　肺俞　厥隂俞　心俞　膈俞　肝俞　膽俞　脾俞　胃俞　三焦俞腎俞　大腸俞　小腸俞　膀胱俞　中膂俞　白環俞（上俱挾脊，去中行二寸）　上　次　中　下　（上俱挾脊骨兩旁，十七、十八、十九、二十椎空中）　會陽（挾尻骨兩旁上）（俱足太陽穴）</p>
<p>兩旁第三行左右凡二十八穴（去脊中行三寸五分）：附分　魄户　膏肓俞　神堂　膈關　魂門陽綱　意舍　胃倉　肓門　志室　胞肓　秩邊（俱足太陽）</p>
<p><a href="_files/p06-d43a40.bmp">背穴總圖</a></p>
<h4>側頭面頸肩諸穴行列</h4>
<p><u>側頭部</u></p>
<p>　左右凡二十八穴：頭維（足陽明穴）　頷厭　懸顱　懸厘　曲鬢　率谷　天沖　浮白　竅隂（俱足少陽穴）　角孫　顱息　衇　翳風　絲竹（俱手少陽穴）</p>
<p><u>側面部</u></p>
<p>　左右凡十四穴：客主人　聼會（俱足少陽）　和　耳門（俱手少陽）　聼宮（手太陽）　下關　頬車（俱足陽明穴）</p>
<p><u>側項部</u></p>
<p>　左右凡十四穴：人迎（嬰筋之前）　水突　氣舍（俱足陽明穴）　扶突（嬰筋之後）</p>
<p>天鼎（俱手陽明）　天窻（扶突後）　天容（俱手太陽穴）</p>
<p><u>肩膊部</u></p>
<p>　左右凡十二穴：巨骨　肩臂　（俱手陽明）　肩井（足少陽穴）　肩　會（俱手少陽穴）</p>
<p><a href="_files/p06-d43a41.bmp">側頭面項肩穴總圖</a></p>
<h4>側腋脅肋諸穴行列</h4>
<p><u>側腋脅肋部</u></p>
<p>左右凡二十穴：淵液　輙筋（俱足少陽）</p>
<p>天池（手厥隂）　大包（足太陽）　章門（足厥隂）　京門　帶衇　五樞　維道　居（俱足少陽）</p>
<p>（附）兩手奇俞穴左右凡六穴：拳尖（在中指夲節前骨尖上，握拳取之）　五虎（一在手食指背間，一在無名指背間，皆在次節三節相接骨尖上各一穴，握拳取之）</p>
<p><a href="_files/p06-d43a42.bmp">側腋脅肋穴總圖</a></p>
<h4>手三隂經總穴名</h4>
<p>手太隂肺經，行臂內凡九穴，左右同（起手大指端行三隂之上）：少商　魚際　太淵　經渠　列缺　孔最尺澤　侠白　天府手厥隂心包絡經，行臂內凡八穴，左右同（起手中指端，行三隂之中）：中衝　勞宮　大陵　內關　間使門　曲澤　天泉手少隂心經，行臂內凡九穴，左右同（起手小指內側端，行三隂之下）：少衝　少府　神門　隂　通裡靈道　少海　青靈　極泉</p>
<p><a href="_files/p06-d43a43.bmp">手三隂經總穴圖</a></p>
<h4>手三陽經總穴名</h4>
<p>手陽明大腸經，行臂外，凡十四穴，左右同（起手食指端，行三陽之上）：商陽　二間　三間　合谷陽谿　偏歴　温溜　下廉　上廉　三裡　曲池　肘　五裡　臂手少陽三焦經，行臂外凡十二穴，左右同（起手無名指端，行三陽之中）：關衝　液門　中渚　陽池外關　支溝　會宗　三陽絡　四瀆　天井　清冷淵　消濼手太陽小腸經，行臂外凡八穴，左右同（起手小指外側端，行三陽之下）：少澤　前谷　後谿腕骨　陽谷　養老　支正　小海</p>
<p><a href="_files/p06-d43a44.bmp">手三陽經總穴圖</a></p>
<h4>足三隂經總穴名</h4>
<p>足厥隂肝經，行足股內凡十一穴，左右同（起足大指端，行三隂之前）：大敦　行間　太衝　中封　蠡溝中都　膝關　曲泉　隂包　五裡　隂廉足太隂脾經，行足股內凡十一穴，左右同（起足大指內側端，行三隂之中）：隱白　大都　太白　公孫商丘　三隂交　漏谷　地機　隂陵泉　血海　箕門足少隂腎經，行足股內凡十穴，左右同（起足心，行三隂之後）：涌泉　然谷　太谿　大鐘　照海　水泉復溜　交信　築賔　隂谷</p>
<p><a href="_files/p06-d43a45.bmp">足三隂經總穴圖</a></p>
<h4>足三陽經總穴名</h4>
<p>足陽明胃經，行足股外凡十五穴，左右同（起足三指端，行三陽之前）：厲兑　內庭　陷谷　衝陽　解谿豐隆　下巨虚　條口　上巨虚　三裡　犢鼻　梁丘　隂市　伏兔　髀關足少陽膽經，行足股外凡十五穴，左右同（起足四指端，行三陽之中）：竅隂　侠谿　地五會　臨泣丘墟　懸鐘　陽輔　光明　外丘　陽交　陽陵泉　陽關　中瀆　環跳　風市足太陽膀胱經，行足股後凡十九穴，左右同（起足小指外側端，行三陽之後）：至隂　通谷　束骨　京骨金門　申衇　仆參　昆侖　跗陽　飛揚　承山　承筋　合陽　委中　委陽　浮　殷門　承扶　會陽</p>
<p><a href="_files/p06-d43a46.bmp">足三陽經總穴圖</a></p>
<h2>卷三</h2>
<h3>肺臟經文</h3>
<p>經云：肺者，相傅之官，治節出焉。其形四垂，附著於脊之第三椎中。有二十四空，行列分布，以行諸臟之氣，為臟之長，為心之蓋。又云：是經常多氣少血。</p>
<p>《難經》曰：肺重三斤三兩，六葉兩耳，凡八葉，主藏魄。</p>
<p>《中藏經》曰：肺者生氣之原，乃五臟之華蓋。</p>
<p>張介賔曰：肺葉白瑩，謂為華蓋，以覆諸臟。虚如蜂窠，下無透竅，吸之則滿，呼之則虚，一呼一吸，消息自然，司清濁之運化，為人身之橐　。</p>
<p><a href="_files/p06-d43a47.bmp">手太隂肺臟圖</a></p>
<h4>肺經循行經文</h4>
<p>肺手太隂之衇，起於中焦，下絡大腸，還循胃口，上膈属肺，從肺系橫出腋下，下循內，行少隂心主之前，下肘中循臂內上骨下廉，入寸口上魚，循魚際出大指之端；其支者，從腕後直出次指內廉，出其端。</p>
<p><a href="_files/p06-d43a48.bmp">肺經循行圖</a></p>
<h4>肺經循行歌</h4>
<p>手太隂肺中焦生，絡腸循胃散流行，上膈属肺從肺系，橫出腋下　肘中，循臂寸口上魚際，大指內側爪端通，支絡還從腕後出，接次指属陽明經。</p>
<p>【注】手太隂肺經之衇，起於中焦者，言起於任衇中脘穴也。下絡大腸，還循胃口者，謂夲經之絡，散布流行，下則絡於大腸，還上而循胃口，非上膈属肺直行之經也。夫經絡流行，循還無端。故手太隂之衇，必自足厥隂經之支者期門穴，循行中脘穴，上膈属肺，以交於手太隂肺經也。從肺系橫出腋下，至於中府、云門穴，下循於　內天府、侠白穴；從侠白行少隂心主經衇之前，下行肘中尺澤穴；從尺澤循臂內上骨下廉孔最穴，從孔最入寸口列缺、經渠、太淵穴；從太淵上魚（句）入魚際穴；從魚際出大指之端少商穴而終焉。其支者從腕後直出，循行次指內廉出其端，以交於手陽明大腸經也。</p>
<h4>肺經穴歌</h4>
<p>手太隂肺十一穴，中府雲門天府列，次則侠白下尺澤，又次孔最與列缺，經渠太淵下魚際，抵指少商如韭葉。</p>
<h4>肺經分寸歌</h4>
<p>太隂中府三肋間，上行云門寸六許，云在任璣旁六寸，大腸巨骨下二骨，天府腋三動衇求，侠白肘上五寸主，尺澤肘中約紋是，孔最腕上七寸擬，列缺腕上一寸半，經渠寸口陷中取，太淵掌後橫紋頭，魚際節後散衇裡，少商大指端內側，鼻衄刺之立時止。</p>
<p>【注】中府在任衇中行華蓋穴旁，直開去六寸，乳上三肋間陷中，動衇應手，仰而取之，是其穴也。上直行一寸六分，在手陽明大腸經巨骨之下陷中，動衇應手，舉臂取之，云門穴也。從云門穴下循　內，腋下三寸動衇陷中，以鼻尖點墨取之，天府穴也。從天府穴下行肘中，約紋上去五寸動衇中，侠白穴也。從侠白穴下行肘中，約紋上屈肘橫紋筋骨罅中，動衇應手，尺澤穴也。從尺澤穴下行腕前，約紋上七寸，上骨、下骨間陷中，孔最穴也。從孔最穴循外側行腕後，側上一寸五分，以兩手交叉，當食指末筋骨罅中，列缺穴也。從列缺穴循行寸口陷中，經渠穴也。從經渠穴內循手掌後陷中，太淵穴也。從太淵穴上魚，手大指夲節後，內側陷中散衇中白肉際，魚際穴也。從魚際穴循行手大指內側之端，去爪甲角如韭葉許白肉際，少商穴也。</p>
<p><a href="_files/p06-d43a49.bmp">肺經穴圖</a></p>
<h3>大腸經文</h3>
<p>經云：大腸者，傳道之官，變化出焉。又云：回腸當臍左回十六曲，大四寸，徑一寸寸之少半，長二丈一尺，受穀一斗，水七升半。又云：廣腸附脊以受回腸，乃出滓穢之路。大八寸，徑二寸，寸之大半，長二尺八寸，受穀九升三合八分合之一。是經多氣少血。</p>
<p>《難經》曰：大腸重二斤十二兩，肛門重十二兩。</p>
<p>張介賔曰：按回腸者，以其回疊也；廣腸者，即回腸之更大者；直腸者，又廣腸之末節，下連肛門也。</p>
<p><a href="_files/p06-d43a50.bmp">手陽明大腸腑圖</a></p>
<h4>大腸經循行經文</h4>
<p>大腸手陽明之衇，起於大指次指之端，循指上廉，出合谷兩骨之間，上入兩筋之中，循臂上廉，入肘外廉，上　外前廉，上肩出　骨之前廉，上出於柱骨之上會，下入缺盆，絡肺下膈属大腸。其支者，從缺盆上頸貫頬，入下齒中，還出挾口，交人中──左之右，右之左──上挾鼻孔。</p>
<p><a href="_files/p06-d43a51.bmp">大腸經循行圖</a></p>
<h4>大腸經循行歌</h4>
<p>陽明之衇手大腸，次指內側起商陽，循指上廉出合谷，岐骨兩筋循臂肪，入肘外廉循外，肩端前廉柱骨旁，從肩下入缺盆內，絡肺下膈属大腸。支從缺盆直上頸，斜貫頬前下齒當，環出人中交左右，上侠鼻孔注迎香。</p>
<p>【注】手陽明大腸經之衇，起於大指次指內廉之端。出於大指者，謂出於大指少商穴也，夲經之絡。其支者，直出於次指之端，以交於手陽明大腸經之商陽穴，故曰：起於大指次指之端也。從商陽穴循食指上廉，二間、三間穴也。從三間穴循出兩骨之間，合谷穴也。從合谷上兩筋之間，陽谿穴也。從陽谿穴循臂上廉至偏歴、温溜、下廉、上廉、三裡穴也。從三裡穴入肘外廉，曲池穴也。從曲池穴上　外前廉，肘　、五裡、臂　穴也。</p>
<p>從臂　穴上肩，肩　穴也。從肩　穴出　骨之前廉，巨骨穴也。從巨骨穴上出於柱骨之會上，言會於督衇之大椎穴也；自督衇大椎穴入交足陽明胃經之缺盆穴。絡肺下膈属大腸者，謂其支從缺盆上頸，復循夲經之天鼎穴，貫頬至扶突穴也。從扶突穴入下齒中禾　穴，從禾　穴還出挾口交人中──左之右，右之左──上挾鼻孔迎香穴而終，以交於足陽明胃經也。</p>
<h4>大腸經穴歌</h4>
<p>手陽明穴起商陽，二間三間合谷藏，陽谿偏歴歴温溜，下廉上廉三里長，曲池肘髎迎五里，臂臑肩髃巨骨起，天鼎扶突接禾髎，終以迎香二十止。</p>
<h4>大腸經分寸歌</h4>
<p>商陽食指內側邊，二間來尋夲節前，三間節後陷中取，合谷虎口岐骨間，陽谿上側腕中是，偏歴腕後三寸安，温溜腕後去五寸，池前五寸下廉看，池前三寸上廉中，池前二寸三裡逢，曲池曲肘紋頭盡，肘　上　外廉近，大筋中央尋五裡，肘上三寸行向裡，臂肘上七寸量，肩　肩端舉臂取，巨骨肩尖端上行，天鼎喉旁四寸真，扶突天突旁三寸，禾水溝旁五分，迎香禾　上一寸，大腸經穴自分明。</p>
<p>【注】商陽穴在手食指內側端後，去爪甲角如韭葉許，是其穴也。從商陽穴循食指上廉，夲節前內側陷中，二間穴也。從二間穴循食指夲節後，內側陷中，三間穴也。從三間穴循行手大指次指岐骨間陷中，合谷穴也。從合谷穴循行手腕中上側，兩筋間陷中，張大指次指取之，陽谿穴也。從陽谿穴上行手腕後，上側三寸，偏歴穴也。</p>
<p>從偏歴穴上行三寸，温溜穴也。從温溜穴上行二寸五分，輔鋭肉分，下廉穴也。從下廉穴上行一寸，上廉穴也。從上廉穴上行一寸，鋭肉之端，按之肉起，手三裡穴也。從手三裡穴上二寸，以手拱胸屈肘，橫紋頭陷中取之，曲池穴也。從曲池穴上行大骨外廉陷中，肘　穴也。從肘　穴循行肘上三寸，向裡大衇中央，五裡穴也。從五裡穴上行四寸，兩筋兩骨罅宛宛陷中，伸臂平手取之，臂　穴也。從臂　穴上行　骨頭，肩端上兩骨罅陷處宛宛中，舉臂取之有空，肩　穴也。從肩　穴上行臂端，兩叉骨間陷中，巨骨穴也。從巨骨穴循頸，缺盆上直行扶突下一寸，天鼎穴也。從天鼎穴上直行曲頬下一寸，人迎後一寸五分，仰而取之，扶突穴也。從扶突穴貫頬直鼻孔下，水溝旁五分，禾　穴也。從禾　穴上一寸，鼻孔旁五分，迎香穴也。</p>
<p><a href="_files/p06-d43a52.bmp">大腸經穴圖</a></p>
<h3>胃腑經文</h3>
<p>經云：脾胃者，倉廩之官，五味出焉。又云：胃者，水穀氣血之海也。又云：胃大一尺五寸，徑五寸，長二尺六寸，橫屈，受水穀三斗五升，其中之穀，常留二斗，水一斗五升而滿。又云：是經多氣少血。</p>
<p>《難經》曰：胃重二斤一兩。</p>
<p>張介賔曰：胃之上口名曰賁門，飲食之精氣，從此上輸於脾肺，宣布於諸衇。胃之下口，即小腸上口，名曰幽門。</p>
<p><a href="_files/p06-d43a53.bmp">足陽明胃腑圖</a></p>
<h4>胃經循行經文</h4>
<p>胃足陽明之衇，起於鼻之交　中，旁約太陽之衇，下循鼻外，入上齒中，還出侠口環脣，下交承漿，却循頤後下廉，出大迎循頬車，上耳前，過客主人，循發際，至額顱。其支者，從大迎前下人迎，循喉嚨，入缺盆，下膈，属胃，絡脾。其直者，從缺盆下乳內廉，下侠臍，入氣街中。其支者，起於胃下口，循腹裡，下至氣街中而合，以下髀關抵伏兔，下膝臏中，下循脛外廉，下足跗，入中趾內間；其支者，下廉穴三寸而別，入中趾外間；其支者，別跗上，入大趾間，出其端。</p>
<p><a href="_files/p06-d43a54.bmp">胃經循行圖</a></p>
<h4>胃經循行歌</h4>
<p>胃足陽明交鼻起，下循鼻外入上齒，還出侠口繞承漿，頤後大迎頬車裡，耳前發際到額顱，支下人迎缺盆底，下膈入胃絡脾宮，直者缺盆下乳內，一支幽門循腹中，下行直合氣街逢，遂由髀關抵膝臏，　跗足趾內間同；一支下膝注三裡，前出中趾外間通，一支別走足跗趾，大趾之端經盡已。</p>
<p>【注】足陽明胃經之衇，起於鼻者，是謂由迎香穴上交頬中兩旁，約過足太陽衇之睛明穴，分下循鼻外，始交於足陽明之承泣、四白、巨　穴也；從巨　入上齒中，還出侠口之地倉穴；還繞脣下，交會任衇之承漿穴，却循頤後下廉，復交夲經之大迎穴，由大迎出循頬車穴，上行耳前，過客主人穴，合少陽經，循發際至額顱兩旁之懸顱穴、頷厭穴，復交足陽明之頭維穴下關穴。其支者，行大迎穴，從大迎前循人迎、水突穴、氣舍穴，循喉嚨入缺盆穴，下膈属胃絡脾，散布臟腑。其直者，從缺盆穴，直行氣户、庫房、屋翳、膺窻、乳中、乳根等穴下乳內廉、不容穴也；從不容循承滿、梁門、關門、太乙、滑肉門等穴下侠臍天樞穴也；從天樞、外陵、大巨、水道、歸來等穴，入氣街中，氣衝穴也。其支者，起於胃口，是謂前之属胃絡脾之支，下循腹裡，下至氣街中而合氣街穴，會衝衇上行者也；其下行夲經者，髀關穴也。抵伏兔至伏兔穴下，從伏兔行隂市穴、梁丘穴，下膝臏中犢鼻穴，循足三裡上巨虚、條口、下巨虚等穴，下循脛外廉，豐隆穴也；從豐隆循解谿穴，下足跗，衝陽穴也；從衝陽行陷谷穴、內庭穴，入次趾外間也。其夲支別支，一自下巨虚穴下入次趾外間；一別循跗上入大趾次趾間厲兑穴，出其端，交於足太隂脾經也。</p>
<p>【按】足陽明是足大趾之次趾，不是中趾，必傳寫之誤。</p>
<h4>胃經穴歌</h4>
<p>四十五穴足陽明，承泣四白巨髎經，地倉大迎登頬車，下關頭維對人迎，水突氣舍連缺盆，氣户庫房屋翳尋，膺窻乳中下乳根，不容承滿出梁門，關門太乙滑肉起，天樞外陵大巨裏，水道歸來達氣街，髀關伏兔走隂市，梁邱犢鼻足三里，上巨虚連條口底，下巨虚下有豐隆，解谿衝陽陷谷同，內庭厲兑陽明穴，大指次指之端終。</p>
<h4>胃經分寸歌</h4>
<p>胃之經兮足陽明，承泣目下七分尋，再下三分名四白，巨　鼻孔旁八分。地倉侠吻四分近，大迎頷下寸三中，頬車耳下八分陷，下關耳前動衇行。頭維神庭旁四五，人迎喉旁寸五真，水突筋前人迎下，氣舍喉下一寸乘。缺盆舍下橫骨陷，氣户下行一寸明，庫房下行一寸六，屋翳膺窻乳中根。不容巨闕旁二寸，一寸承滿與梁門，關門太乙滑肉門，天樞臍旁二寸尋。樞下一寸外陵穴，陵下一寸大巨陳，巨下三寸水道穴，水下二寸歸來存。氣街歸來下一寸，共去中行二寸勻，髀關膝上尺二許，伏兔髀下六寸是。隂市伏兔下三寸，梁丘市下一寸記，犢鼻膝臏陷中取，膝眼三寸下三裡。裡下三寸上廉穴，廉下二寸條口舉，再下二寸下廉穴，復上外踝上八寸，却是豐隆穴當記。解谿則從豐隆下，內循足腕上陷中，衝陽解下高骨動，陷谷衝下二寸名，內庭次指外岐骨，厲兑大次指端中。</p>
<p>【注】承泣穴，在目下七分，目下胞陷中，上直瞳子正視取之，是其穴也，從承泣直下三分，顴空骨內，亦直瞳子取之，四白穴也。從四白下行，侠鼻孔旁八分，亦直瞳子取之，巨穴也。從巨　下行，侠口吻旁四分外許，近下微有動衇，地倉穴也。從地倉行腮頷下前一寸三分，骨陷中動衇，大迎穴也。從大迎行耳下曲頬端，近前八分陷中，側臥開口取之，頬車穴也。從頬車上行，耳前動衇，側臥合口有空取之，下關穴也。從下關上行額角，入發際以督衇中行神庭穴旁開四寸半，頭維穴也。</p>
<p>從頭維下行，頸下侠結喉旁一寸五分，大動衇應手，伸頭取之，人迎穴也。從人迎下直行，頸大筋前內貼氣候，水突穴也。從水突下直行，頸大筋前結喉下一寸許陷中，貼骨尖上有缺處，氣舍穴也。從氣舍下行，肩上橫骨陷中，缺盆穴也。</p>
<p>從缺盆下行，巨骨下一寸，旁開中行四寸陷中，仰而取之，氣户穴也。從氣户下行一寸六分，亦旁開中行四寸陷中，仰而取之，庫房穴也。從庫房下行一寸六分，亦旁開中行四寸陷中，仰而取之，屋翳穴也。從屋翳下行一寸六分，亦旁開中行四寸陷中，仰而取之，膺窻穴也。從膺窻下行，當乳頭之中，乳中穴也。</p>
<p>從乳中下行一寸六分，亦旁開中行四寸陷中，仰而取之，乳根穴也。從乳根行在第四肋端，旁開中行二寸，不容穴也。從不容穴下一寸，亦旁開中行二寸，承滿穴也。從承滿下一寸，亦旁開中行二寸，梁門穴也。從梁門下一寸，亦旁開中行二寸，關門穴也。從關門下一寸，旁開中行二寸，太乙穴也。從太乙下一寸，亦旁開中行二寸，滑肉門穴也。</p>
<p>從滑肉門下一寸，侠臍旁二寸許陷中，天樞穴也。從天樞下一寸，亦旁開中行二寸，外陵穴也。從外陵下一寸，亦旁開中行二寸，大巨穴也，從大巨下三寸，亦旁開中行二寸，即水道穴也。從水道下二寸，亦旁開中行二寸，即歸來穴也。從歸來下行，在腿班中有肉核，名曰鼠溪，直上一寸，動衇應手，亦旁開中行二寸，氣街穴也。</p>
<p>從氣街下行，膝上一尺二寸許，中行左右各三指按捺，上有肉起如伏兔之狀，故名伏兔。在此肉起後，交紋中，髀關穴也。從髀關下行，膝上六寸起肉間，正跪坐而取之，伏兔穴也。從伏兔下行三寸，在伏兔之下陷中，拜揖而取之，隂市穴也。從隂市下行一寸兩筋間，梁丘穴也。從梁丘下行過膝蓋骨，下　骨上陷中，穀名膝眼，此處陷中兩旁有空狀如牛鼻在外側者，犢鼻穴也。</p>
<p>從犢鼻下行，　骨外側大筋內宛宛中，足三裡穴也（犢鼻即膝眼處也）。從足三裡下行三寸，兩筋骨陷中，舉足取之，上巨虚穴也。從上巨虚下行二寸，舉足取之，條口穴也。從條口下行一寸，兩筋骨陷中，蹲地舉足取之，下巨虚穴也。從下巨虚復斜向後，上行，在足外踝上八寸，　骨外廉陷中，豐隆穴也。從豐隆內循下足腕上，中行陷中，解谿穴也。</p>
<p>從解谿下行足跗上，即腳面也，高骨間動衇，衝陽穴也。從衝陽下行二寸，至足大趾之次趾夲節後陷中，陷谷穴也。從陷谷下至足大趾之次趾夲節前岐骨外間陷中，內庭穴也。從內庭下行足大趾之次趾之端，去爪角如韭葉許，厲兑穴也。</p>
<p><a href="_files/p06-d43a55.bmp">胃經穴圖</a></p>
<h3>脾臟經文</h3>
<p>經云：脾胃者，倉廩之官，五味出焉。又云：諫議之官，知周出焉。又云：形如刀鐮，與胃同膜，而附其上之左俞，當十一椎下。聞聲則動，動則磨胃而主運化。其合肉也，其榮脣也，開竅於口。又云：是經常多氣少血。</p>
<p>《難經》曰：脾重二斤三兩，廣扁三寸，長五寸，有散膏半斤，主裹血，温五臟，主藏意與智。</p>
<p>《中藏經》曰：脾主消磨五穀，養於四旁。</p>
<p><a href="_files/p06-d43a56.bmp">足太隂脾臟圖</a></p>
<h4>脾經循行經文</h4>
<p>脾足太隂之衇，起於大趾之端，循趾內側白肉際，過核骨後。上內踝前廉，上　內，循脛骨後，交出厥隂之前，上膝股內前廉，入腹属脾，絡胃上膈，侠咽連舌夲，散舌下。其支者，復從胃，別上膈，注心中。</p>
<p><a href="_files/p06-d43a57.bmp">脾經循行圖</a></p>
<h4>脾經循行歌</h4>
<p>太隂脾起足大趾，上循內側白肉際，核骨之後內踝前，上　循　經膝裡，股內前廉入腹中，属脾絡胃與膈通，侠喉連舌散舌下，支絡從胃注心中。</p>
<p>【注】足太隂脾經之衇，起於足大趾之端隱白穴也。從隱白循指內側白肉際，大都穴也。從大都過核骨後，太白穴也。從太白循公孫穴、商丘穴，上內踝前廉，三隂交穴也。</p>
<p>從三隂交上　內循脛骨後，漏谷穴也。從漏谷交出厥隂之前，地機穴、隂陵泉穴也。從隂陵泉上膝股內前廉，血海穴、箕門穴、衝門穴也。從衝門入腹，属脾絡胃，循行府舍、腹結、大橫、腹哀、食竇、天溪、胸鄉、周榮、大包等穴而上行咽喉，侠咽、連舌夲，散舌下也。其支者，從胃之絡，別行上膈，注心中，以交於手少隂心經也。</p>
<h4>脾經穴歌</h4>
<p>足太隂脾由足拇，隱白先從內側起，大都太白繼公孫，商邱直上三隂塢，漏谷地機隂陵泉，血海箕門衝門前，府舍腹結大橫上，腹哀食竇天谿連，胸鄉周榮大包盡，二十一穴太隂全。</p>
<h4>脾經分寸歌</h4>
<p>大趾端內側隱白，節後陷中求大都，太白內側核骨下，節後一寸公孫呼。商丘內踝微前陷，踝上三寸三隂交，再上三寸漏谷是，踝上五寸地機朝。膝下內側隂陵泉，血海膝臏上內廉，箕門穴在魚腹上，動衇應手越筋間。衝門橫骨兩端動，府舍上行七分看，腹結上行三寸入，大橫上行一寸三。腹哀上行三寸半，食竇上行三寸間，天溪上行一寸六，胸鄉周榮亦同然。外斜腋下六寸許，大包九肋季脅端。</p>
<p>【注】隱白穴，在足大趾內側端後，去爪甲角如韭葉許，是其穴也。從隱白行足大趾內側，次節末骨縫，赤白肉際陷中，大都穴也。從大都行足大趾後內側，內踝前核骨下，赤白肉際陷中，太白穴也。從太白上行，足大趾夲節後一寸，內踝前陷中，公孫穴也。從公孫上行，內踝下微前陷中，商丘穴也。從商丘上行，內踝踝尖上三寸，夾骨陷中，三隂交穴也。從三隂交上行三寸，夾骨陷中，漏谷穴也。從漏谷上行五寸，在膝下五寸內側，夾骨陷中，伸足取之，地機穴也。從地機上行膝下，內側曲膝橫紋頭陷中，隂陵泉穴也。</p>
<p>從隂陵泉上行，在膝臏上一寸，內廉白肉際陷中，血海穴也。從血海上行，在魚腹上越兩筋間，隂股內廉，動衇應手，不禁重按，箕門穴也。從箕門上行，橫骨兩端約紋中動衇，去腹中行旁開三寸半，衝門穴也。</p>
<p>從衝門上行七分，去腹中行，亦旁開三寸半，府舍穴也。從府舍上行三寸，去腹中行，亦旁開三寸半，腹結穴也。從腹結上行一寸三分，去腹中行，亦旁開三寸半，大橫穴也。從大橫上行三寸半，去腹中行，亦旁開三寸半，腹哀穴也。從腹哀上行三寸，或從乳上三肋間，動衇應手處，往下六寸四分，去胸中行旁開六寸，舉臂取之，食竇穴也。從食竇上行一寸六分，去胸中行旁開六寸，仰而取之，天溪穴也。從天溪上行一寸六分，去胸中行亦旁開六寸，仰而取之，胸鄉穴也。從胸鄉上行一寸六分，去胸中行亦旁開六寸，仰而取之，周榮穴也。從周榮外斜下行，過少陽膽經淵液穴下三寸，至液下六寸許，出九肋間季脅端，大包穴也。</p>
<p><a href="_files/p06-d43a58.bmp">脾經穴圖</a></p>
<h2>卷四</h2>
<h3>心臟經文</h3>
<p>經云：心者，君主之官，神明出焉。又云：心居肺管之下，膈膜之上，附著脊之第五椎。其合衇也，其榮色也。開竅於耳，又曰開竅於舌。又云：是經少血多氣。</p>
<p>《難經》曰：心重十二兩，中有七孔三毛，盛精汁三合，主藏神。</p>
<p>張介賔曰：心象尖圓，形如蓮蕊。其中有竅，多寡不同，以導引天真之氣。下無透竅，上通乎舌，共有四系，以通四臟。心外有赤黃脂裹，是為心包絡。心下有膈膜，與脊脅周回相著，遮蔽濁氣，使不得上熏心肺，所謂膻中也。</p>
<p><a href="_files/p06-d43a59.bmp">手少隂心臟圖</a></p>
<h4>心經循行經文</h4>
<p>心手少隂之衇，起於心中，出属心系，下膈絡小腸。其支者，從心系上侠咽，系目系。</p>
<p>其直者，復從心系却上肺，下出腋下，循　內後廉，行手太隂肺心主之後，下肘內，循臂內後廉，抵掌後鋭骨之端，入掌內後廉，循小指之內出其端。</p>
<p><a href="_files/p06-d43a60.bmp">心經循行圖</a></p>
<h4>心經循行歌</h4>
<p>手少隂衇起心中，下膈直與小腸通。支者還從肺系走，直上喉嚨系目瞳。直者上肺出腋下，　後肘內少海從，臂內後廉抵掌中，鋭骨之端注少衝。</p>
<p>【注】手少隂心經之衇，起於心中，出属心系，由心系下膈，絡小腸。其經之支者，從心系上行侠咽，系目之系。其經之直者，復從心系退上通肺，行手太隂肺心主之後，下出行腋下，極泉穴也。從極泉穴循　內後廉，青靈穴也。從青靈穴下肘內循臂內後廉，少海穴也。從少海穴抵掌後鋭骨之端，靈道、通裡、隂　、神門等穴也。從神門穴入掌內後廉，少府穴也。從少府穴循小指之內，出其端，少衝穴而終，以交於手太陽小腸經也。</p>
<h4>心經穴歌</h4>
<p>手少隂心起極泉，青靈少海靈道全，通里隂郄神門下，少府少衝小指邊。</p>
<h4>心經分寸歌</h4>
<p>少隂心起極泉中，腋下筋間動引胸，青靈肘上三寸取，少海肘後端五分，靈道掌後一寸半，通裡腕後一寸同，隂　腕後內半寸，神門掌後鋭骨隆，少府小指夲節末，小指內側取少衝。</p>
<p>【注】極泉穴，在腋下臂內筋間動衇引胸中，是其穴也。從極泉下行至時，在肘上三寸，伸肘舉臂取之，青靈穴也。從青靈下行肘內廉，節後大骨外上去肘端五分，肘內橫紋頭，屈肘向頭取之，少海穴也。從少海下行掌後一寸五分，靈道穴也。從靈道下行五分，循腕側外腕後一寸陷中，通裡穴也。從通裡內行五分，掌後衇中腕後五分，隂　穴也。從隂　行掌後鋭骨端陷中，神門穴也。從神門行手小指夲節末，外側骨縫陷中，少府穴也。從少府行小指內，中行去爪甲角如韭葉，少衝穴也。</p>
<p><a href="_files/p06-d43a61.bmp">心經穴圖</a></p>
<h3>小腸經文</h3>
<p>經云：小腸者，受盛之官，化物出焉。又云：小腸後附於脊，前附於臍，上左回疊，積十六曲，大二寸半，徑八分分之少半，長三丈二尺，受穀二斗四升，水六升三合合之大半。又云：小腸上口在臍上二寸近脊，水穀由此而入。復下一寸，外附於臍，為水分穴，當小腸下口，至是而泌別清濁，水液滲入膀胱，滓穢流入大腸。又云：是經多血少氣。</p>
<p>《難經》曰：小腸重二斤十四兩。</p>
<p><a href="_files/p06-d43a62.bmp">手太陽小腸腑圖</a></p>
<h4>小腸經循行經文</h4>
<p>小腸手太陽之衇，起於小指之端，循手外側，上腕出踝中，直上循臂骨下廉，出肘內側兩骨之間，上循　外後廉，出肩解繞肩胛，交肩上入缺盆，絡心循咽，下膈抵胃，属小腸。其支者，從缺盆循頸上頬，到目鋭　，却入耳中。其支者，別頬上　抵鼻，至目內　，斜絡於顴。</p>
<p><a href="_files/p06-d43a63.bmp">小腸經循行圖</a></p>
<h4>小腸經循行歌</h4>
<p>手太陽經小腸衇，小指之端起少澤，循手外側出踝中，循臂骨出肘內側，上循　外出後廉，直過肩解繞肩胛，交肩下入缺盆內，向腋絡心循咽嗌，下膈抵胃属小腸。一支缺盆貫頸頬，至目鋭　却入耳，復從耳前仍上頬，抵鼻升至目內　，斜絡於顴別絡接。</p>
<p>【注】手太陽小腸之衇，從小指內側少隂之衇少衝穴循小指之端少澤穴起，循手外側前谷後谿穴，從後谿上腕至腕骨穴，從腕骨出踝中，入陽谷、養老穴也。從養老直上，循臂骨下廉，支正穴也。從支正出肘內側兩筋間，小海穴也。從小海上循　外後廉，出肩解肩貞穴，繞肩胛　俞穴上肩，天宗穴也。從天宗循行秉風、曲垣等穴，從肩中俞入缺盆穴，散而內行，絡心循咽下膈，抵胃属小腸之分。其支者，從缺盆循頸入天窻、天容穴，上頬顴穴，至目鋭　，却入耳中聚於聼宮穴也，其別支從頬上　抵鼻，至目內　，以交於足太陽經。</p>
<h4>小腸經穴歌</h4>
<p>手太陽經小腸穴，少澤先於小指設，前谷後谿腕骨間，陽谷須同養老列，支正小海上肩貞，臑俞天宗秉風合，曲垣肩外復肩中，天窻循次上天容，此經穴數一十九，還有顴髎入聼宮。</p>
<h4>小腸經分寸歌</h4>
<p>小指端外為少澤，前谷夲節前外側，節後橫紋取後谿，腕骨腕前骨陷側。陽谷鋭骨下陷肘，腕上一寸名養老，支正外側上四寸，小海肘端五分好，肩貞肩端後陷中，　俞肩骨陷考（肩　骨陷者，下胛骨上舉臂陷中取之也）。天宗肩骨下陷中，秉風肩上小　空，（肩上　骨後，舉肩有空），曲垣肩中曲HT　陷，外俞上HT　一寸從（即外肩俞，肩胛上廉，去脊三寸）。中俞大椎二寸旁，天窻曲頬動陷詳，天容耳下曲頬後，顴　面　鋭骨量（面　骨下廉鋭骨端陷中），聼宮耳中珠子上（耳中珠子大如赤小豆），此為小腸手太陽。</p>
<p>【注】少澤穴，在手小指外側端，去爪甲角一分陷中，是其穴也。從少澤上行，手小指外側夲節前陷中，前谷穴也。從前谷上行，手小指夲節後，外側橫紋尖上陷中，仰手握拳取之，後谿穴也。從後谿上行，手掌外側，腕前起骨下罅縫陷中，腕骨穴也。從腕骨上行，手掌外側，腕下鋭骨下陷中，陽谷穴也。從陽谷上行，手下鋭骨上，一空腕後一寸許陷中，陽谷穴也。從陽谷上行，手下鋭骨上，一空腕後一寸許陷中，養老穴也。從養老上行外廉四寸，支正穴也。從支正上行，肘外大骨外，去肘端五分陷中，屈手向頭取之，小海穴也。</p>
<p>從小海上行，肩曲HT　骨下，大骨傍兩骨解間，肩端後陷中，肩貞穴也。從肩貞上行肩端，　上肩骨下，HT　骨上廉陷中，舉臂取之，　俞穴也。從　俞上行，肩骨下陷中，天宗穴也。從天宗上行，肩上小　骨，舉臂有空，秉風穴也。從秉風上行肩中央，曲HT　陷中，按之應手痛，曲垣穴也。從曲垣上行，肩HT　上廉，去脊傍開三寸陷中，肩外俞穴也。從肩外俞上行，肩HT　內廉，去脊督衇之大椎穴傍開二寸陷中，肩中俞穴也。從肩中俞上行，頸大筋前曲，頬下動衇應手陷中，天窻穴也。從天窻上行，耳下曲頬後，天容穴也。從天容上行，面　骨下廉，鋭骨端陷中，顴　穴也。從顴　上行耳中之珠，聼宮穴也。</p>
<p><a href="_files/p06-d43a65.bmp">小腸經穴圖</a></p>
<h3>膀胱經文</h3>
<p>經云：膀胱者，州都之官，津液藏焉，氣化則能出矣。又云：膀胱當十九椎，居腎之下，大腸之前。有下口，無上口。當臍上一寸水分穴處，為小腸下口，乃膀胱上際，水液由此別回腸隨氣泌滲而入。其出入皆由氣化，入氣不化，則水歸大腸，而為泄瀉。出氣不化，則閉塞下竅，而為癃腫也。是經多血少氣。</p>
<p>《難經》曰：膀胱重九兩二銖，縱廣九寸，盛尿九升九合，口廣二寸半。</p>
<p><a href="_files/p06-d43a64.bmp">足太陽膀胱腑圖</a></p>
<h4>膀胱循行經文</h4>
<p>膀胱足太陽之衇，起於目內　，上額交顛。其支者，從顛入絡腦，還出別下項，循肩，內侠脊，抵腰中，入循膂絡腎，属膀胱。其支者，從腰中下挾脊，貫臀入　中。其支者，從　內左右，別下貫胛，挾脊，內過髀樞，循髀外從後廉下合　中，以下貫　內，出外踝之後，循京骨到小趾外側。</p>
<p><a href="_files/p06-d43a66.bmp">膀胱經循行圖</a></p>
<h4>膀胱經循行歌</h4>
<p>足太陽經膀胱衇，目內　上起額尖。支者顛上至耳角，直者從顛腦後懸，絡腦還出別下項，仍循肩膊侠脊邊，抵腰膂腎膀胱內，一支下與後隂連。貫臀斜入委中穴，一支膊內左右別，貫胛侠脊過髀樞，臂內後廉　中合，下貫　內外踝後，京骨骨下趾外側。</p>
<p>【注】足太陽之衇，起目內　睛明穴，從睛明循行攢竹、曲差、五處，上額交顛，入承光穴，從承光循行通天穴。其支者，從顛至耳上角，交於足少陽之經。其直者，從通天入絡於大杼穴，從大杼循行肩　內風門穴，從風門循行肺俞穴，挾脊抵腰中厥隂俞穴，從厥隂俞穴循行心俞、膈俞、肝俞、膽俞、脾俞、胃俞、三焦俞，入循膂絡腎，從腎俞穴循行氣海俞，從腰中下挾脊大腸俞穴，從大腸俞循行關元俞、膀胱俞、中膂俞，白環俞等穴，別行上　、次　、中　、下　等穴。其支者，又復上肩膊內，從附分穴循行貫胛魄户穴，從魄户循行挾脊內膏肓、神堂、　、膈關、魂門、陽綱、意舍、胃倉、肓門、志室、胞肓等穴，過髀樞秩邊穴，從秩邊穴循髀外從後廉、承扶、浮　、委陽穴，下合　中委中穴，從委中循行合陽穴，從合陽下貫內承筋穴，從承筋循行承山、飛揚、附陽等穴，從附陽穴循行出外踝之後昆侖穴，從昆侖穴循行仆參、伸衇、金門等穴，循京骨即夲經之京骨穴也。從京骨循行束骨、通谷穴，至小趾外側至隂穴而終，以交於足之少隂經也。</p>
<h4>膀胱經穴歌</h4>
<p>足太陽經六十三，睛明攢竹曲差參，五處承光接通天，絡却玉枕天柱邊，大杼風門引肺俞，厥隂心膈肝膽居，脾胃三焦腎俞次，大腸小腸膀胱如，中膂白環皆二行，去脊中間二寸許，上髎次髎中後髎下，會陽須下尻旁取，還有附分在三行，二椎三寸半相當，魄户膏肓與神堂，噫譆膈關魂門旁，陽綱意舍及胃倉，肓門志室連胞肓，秩邊承扶殷門穴，浮郄相鄰是委陽，委中再下合陽去，承筋承山相次長，飛揚附陽達崑崙，僕參申衇過金門，京骨束骨近通谷，小指外側尋至隂。</p>
<h4>膀胱經分寸歌</h4>
<p>足太陽兮膀胱經，目內　角始睛明，眉頭陷中攢竹取，曲差神庭傍寸五，五處直行後五分，承通絡却玉枕穴，後循俱是寸五行。天柱項後發際內，大筋外廉之陷中，自此脊中開二寸，第一大杼二風門，三椎肺俞厥隂四，心五督六膈七論，肝九膽十脾十一，胃俞十二椎下尋，十三三焦十四腎，氣海俞在十五椎，大腸十六小十八，膀胱俞穴十九椎，中膂內俞二十下，白環俞穴甘一椎，小腸俞至白環內，腰空上次中下　，會陽隂微尻骨旁，背開二寸二行了，別從脊中三寸半，第二椎下為附分，三椎魄户四膏肓，第五椎下神堂尊，第六　膈關七，第九魂門陽綱十，十一意舍之穴存，十二會倉穴已分，十三肓門端正在，十四志室不須論，十九胞肓甘秩邊，背部三行下行循。承扶臀下股上約，下行六寸是殷門，從殷外斜上一寸，曲膝得之浮　尋，委陽承扶下六寸，從　內斜並殷門。委中膝　約紋裡，此下三寸尋合陽，承筋腳跟上七寸，穴在　腸之中央，承山腿肚分肉間，外踝七寸上飛揚，附陽外踝上三寸，昆侖外跟陷中央，仆參亦在踝骨下，申衇踝下五分張，金門申衇下一寸，京骨外側大骨當，束骨夲節後陷中，通谷節前限中量，至隂小趾外側端，去爪甲之韭葉方。</p>
<p>【注】睛明穴，在目內　外一分宛宛中，是其穴也。從睛明上行眉頭陷者中，攢竹穴也。從攢竹上行發際間，侠督衇之神庭穴傍開一寸五分，正頭取之，曲差穴也。從曲差後行五分，侠督衇之上星，傍開一寸五分，五處穴也。從五處後行一寸五分，承光穴也。從承光後行一寸五分，侠督衇之百會穴，傍開一寸五分，通天穴也。從通天後行一寸五分，絡却穴也。從絡却穴後行一寸五分，玉枕穴也。從玉枕侠項後大筋外廉，下行發際陷中，天柱穴也。</p>
<p>從天柱下行，以項後第一椎下，兩旁相去脊中各二寸陷中，正坐取之，大杼穴也。從大杼下行，二椎下兩旁，各去脊中二寸，正坐取之，風門穴也。從風門行三椎下，去脊中各二寸，又以手搭背，左取右，右取左，當中指末是穴之處，正坐取之，肺俞穴也。從肺俞行四椎下，去脊中二寸，正坐取之，厥隂俞穴也。從厥隂俞行五椎下，去脊中二寸，正坐取之，心俞穴也。從心俞行六椎下，去脊中二寸，正坐取之，督俞穴也。從督俞行七椎下，去脊中二寸，正坐以之，膈俞穴也。從膈俞行九椎下，去脊中二寸，正坐取之，膽俞穴也。從膽俞行十一椎下，去脊中二寸，正坐取之，脾俞穴也。從脾俞行十二椎下，去脊中二寸，正坐取之，胃俞穴也。從胃俞行十三椎下，去脊中二寸，正坐取之，三焦俞穴也。從三焦俞行十四椎下，與臍平，去脊中二寸，正坐取之，腎俞穴也。從腎俞行十五椎下，去脊中二寸，正坐取之，氣海俞穴也。從氣海俞行十六椎下，去脊中二寸，伏而取之，大腸俞穴也。從大腸俞行十七椎下，去脊中二寸，伏而取之，關元俞穴也。從關元俞行十八椎下，去脊中二寸，伏而取之，小腸俞穴也。從小腸俞行十九椎下，去脊中二寸，伏而取之，膀胱俞穴也。從膀胱俞行二十椎下，去脊中二寸，侠脊胛起肉間，伏而取之，中膂俞穴也。從中膂俞行二十椎下，去脊中二寸，伏而取之，白環俞穴也。從白環俞行腰髁骨下一寸，侠脊兩旁第一空陷中，上穴也。從上　行侠脊旁第二空陷中，次　穴也。從次　行侠脊旁第三空陷中，中　穴也。從中　行侠脊旁第四空陷中，下　穴也。從下　行隂尾尻骨兩旁五分許，會陽穴也。</p>
<p>自大杼別衇，其支者從肩膊內循行第二椎下，附項內廉兩旁相去脊中各三寸半，正坐取之，附分穴也。從附分下行第三椎下，去脊中各三寸半，正坐取之，魄户穴也。從魄户下行第四椎下，五椎上，此穴居中，去脊中各三寸半，正坐曲脊取之，膏肓穴也。如取其穴，先令病患正坐曲脊伸兩手，以臂著膝前令正，直手大指與膝頭齊，以物支肘，勿令臂動，乃從胛骨上角，摸索至胛骨下頭，其間當有四肋三間，依胛骨之際，相去骨際如容側指許，按其中一間空處，自覺牽引肩，是其穴也。從膏肓下行第五椎下，去脊中各三寸半陷中，正坐取之，神堂穴也。從神堂下行第六椎下，去脊中各三寸半，正坐取之，穴也，以手重按，病患呼：「　」，是其穴處，蓋因其痛也。從　下行第七椎下，去脊中各三寸半陷中，正坐開肩取之，膈關穴也。從膈關下行第九椎下，相去脊中各三寸半陷中，正坐取之，魂門穴也。從魂門下行第十椎下，去脊中三寸半陷中，正坐取之，陽綱穴也。從陽綱下行第十一椎下，去脊中三寸半，正坐取之，意舍穴也。從意舍下行第十椎下，去脊中各三寸半，正坐取之，胃倉穴也。從胃倉下行第十三椎下，去脊中各三寸半，正坐取之，肓門穴也。從肓門下行第十四椎下，去脊中各三寸半陷中，正坐取之，志室穴也。從志室下行第十九椎下，去脊中各三寸半，伏而取之，胞肓穴也。從胞肓下行第二十一椎下，去脊中各三寸半陷中，伏而取之，秩邊穴也。</p>
<p>從秩邊下行在尻臀下，隂股上約紋中，承扶穴也。從殷門外循斜上一寸，屈膝得之，浮穴也，故在委陽穴上一寸也。從浮　下行，仍在承扶穴下六寸，屈伸取之，委陽穴也，而與會陽下合　中也。從委陽下行，　中央約紋動衇陷中，令人仰頦至地，伏臥取之，委中穴也。從委中下行，膝　約紋下三寸，合陽穴也。從合陽下行，腸中央陷中，腳跟上七寸，承筋穴也。從承筋下行，腿肚下尖分肉間陷中，承山穴也。從承山斜行，足外踝後上七寸陷中，飛揚穴也。從飛揚下行，足外踝上三寸筋骨之間，附陽穴也。從附陽下行，足外踝後五分，跟骨上陷中，細動衇應手，昆侖穴也。從昆侖下行，足跟骨下陷中，拱足取之，仆參穴也。從仆參行足外踝下五分陷中，容爪甲許白肉際，申衇穴也。從申衇下行一寸，金門穴也。從金門行足外側大骨下，赤白肉際陷中，京骨穴也。按而得之，小指夲節後大骨，名京骨，其穴在骨下。從京骨行足小指外側，夲節後陷中赤白肉際，束骨穴也。從束骨行足小指外側，夲節前陷中，通谷穴也。從通谷行足小指外側，去爪甲角如韭葉，至隂穴也。</p>
<p><a href="_files/p06-d43a67.bmp">膀胱經穴圖</a></p>
<h3>心包絡解</h3>
<p>張介賔曰：心包一臟，《難經》言其無形。滑壽曰：心包一名手心主。以臟象校之，在心下橫膜之上，豎膜之下，其與橫膜相黏，而黃脂裹者心也；脂KT之外，有細筋膜如絲，與心肺相連者，心包也。此說為是，凡言無形者非。《靈蘭秘典論》有：十二官，獨少心包一官。而有「膻中者，臣使之官，喜樂出焉」二句。今考心包，臟居膈上，經始胸中，正值膻中之所，位居相火，代君行事，實臣使也。此一官即此經之謂歟。</p>
<p><a href="_files/p06-d43a68.bmp">手厥隂心包絡圖</a></p>
<h4>心包絡經循行經文</h4>
<p>手厥隂心主包絡之衇，起於胸中，出属心包絡，下膈歴絡三焦。其支者，循胸中出脅下腋三寸，上抵腋下，循　內，行太隂少隂之間，入肘中，下臂行兩筋之間，入掌中，循中指出其端；其支者，別掌中循小指次指出其端。</p>
<p><a href="_files/p06-d43a69.bmp">心包絡經循行圖</a></p>
<h4>心包絡經循行歌</h4>
<p>手厥隂心主起胸，属包下膈三焦宮，支者循胸出脅下，脅下連腋三寸同，仍上抵腋循內，太隂少隂兩經中，指透中衝支者別，小指次指絡相通。</p>
<p>【注】手厥隂心包絡之衇，起於胸中，出而外行天池穴，属心包絡之經也。內行下膈，歴絡三焦者，散布於腹之上、中、下也。其支者，循胸中出腋下三寸，即天池穴處也。從天池循　內至天泉，從天泉穴行手太隂、手少隂兩衇之間，入肘內曲澤穴，下臂行兩筋之間，　門、間使、內關、大陵四穴，入掌中勞宮穴，從勞宮循中指出其端，中衝穴也。</p>
<p>其夲支之別支，別行掌中，循小指次指之端，以交於手少陽三焦經也。</p>
<h4>心包絡經穴歌</h4>
<p>心包九穴天池近，天泉曲澤郄門認，間使內關踰大陵，勞宮中衝中指盡。</p>
<h4>心包絡經分寸歌</h4>
<p>心絡起自天池間，乳後傍一腋下三，天泉繞腋下二寸，曲澤屈肘陷中參，　門去腕後五寸，間使腕後三寸然，內關去腕後二寸，大陵掌後橫紋間，勞宮屈拳名指取，中指之末中衝端。</p>
<p>【注】天池穴，在乳傍一二寸許，直腋下行三寸，脅之撅起肋骨間，是其穴也。從天池穴斜上，繞腋循臂內廉下行二寸，舉臂取之，天泉穴也。從天泉穴下行，肘內廉大筋內側，橫紋頭下陷中動衇，曲澤穴也。從曲澤穴下行，掌後去腕五寸，　門穴也。從　門穴下行，掌後去腕三寸，兩筋間陷中，間使穴也。從間使穴下行，掌後去腕二寸兩筋間，內關穴也。從內關穴下行，掌後骨下橫紋中兩筋間陷中，大陵穴也。從大陵穴下行，掌中央動衇，屈無名指取之，勞宮穴也。從勞宮穴下行，手中指之端，去爪甲角如韭葉許陷中，中衝穴也。</p>
<p><a href="_files/p06-d43a70.bmp">心包絡經穴圖</a></p>
<h2>卷五</h2>
<h3>腎臟經文</h3>
<p>經云：腎者，作强之官，伎巧出焉。又云：腎附於脊之十四椎下。是經常少血多氣。</p>
<p>其合骨也，其榮發也，開竅於二隂。</p>
<p>《難經》曰：腎有兩枚，重一斤二兩，主藏精與志。</p>
<p>《中藏經》曰：腎者精神之舍，性命之根。</p>
<p>張介賔云：腎有兩枚，形如豇豆。相並而曲，附於脊之兩旁，相去各一寸五分；外有黃脂包裹，各有帶二條，上條系於心，下條趨脊下大骨，在脊骨之端，如半手許；中有兩穴，是腎帶經過處，上行脊髓至腦中，連於髓海。</p>
<p><a href="_files/p06-d43a71.bmp">足少隂腎臟圖</a></p>
<h4>腎經循行經文</h4>
<p>腎足少隂之衇，起於小趾之下，斜趨足心之涌泉穴，出於然谷之下，循內踝之後，別入跟中，以上　內，出　內廉，上股內後廉，貫脊属腎，絡膀胱。其直者，從腎上貫肝膈，入肺中，循喉嚨，侠舌夲。其支者，從肺出絡心，注胸中。</p>
<p><a href="_files/p06-d43a72.bmp">腎經循行圖</a></p>
<h4>腎經循行歌</h4>
<p>足腎經衇属少隂，小趾斜趨涌泉心，然骨之下內踝後，別入跟中　內侵，出　內廉上股內，貫脊属腎膀胱臨。直者属腎貫肝膈，入肺循喉舌夲尋。支者從肺絡心內，仍至胸中部分深。</p>
<p>【注】足少隂腎經之衇，起自足太陽小趾之下至隂穴，斜趨足心涌泉穴，出然谷穴之下，循內踝後太谿穴，從太谿別入跟中大鐘穴，從大鐘循行水泉、照海、復溜、交信穴，上腓內築賔穴也。從築賔出　內廉隂谷穴，從隂谷上股內後廉橫骨穴，從橫骨內貫行脊属腎絡膀胱也。其直者，從腎外行大赫、氣穴、四滿、中注、肓俞、商曲、石關、隂都、通谷等穴，入內貫肝與膈，外循幽門、步廊、神封、靈墟、神藏、　中、俞府等穴，入肺中循循嚨，挾舌夲而終。其支者，從肺出絡心，注胸中，以交於手厥隂經也。</p>
<h4>腎經穴歌</h4>
<p>足少隂腎二十七，湧泉然谷照海出，太谿水泉連大鍾，復溜交信築賔立，隂谷橫骨趨大赫，氣穴四滿中注得，盲俞商曲石關蹲，隂都通谷幽門值，步廊神封出靈墟，神藏彧中俞府畢。</p>
<h4>腎經分寸歌</h4>
<p>足掌心中是涌泉，然谷內踝一寸前，太谿踝後跟骨上，大鐘跟後踵中邊，水泉溪下一寸覓，照海踝下四分真，復溜踝後上二寸，交信後上二寸聯，二穴只隔筋前後，太隂之後少隂前（前傍骨是復溜，後傍骨是交信，二穴只隔一條筋），築賔內踝上　分，隂谷膝下曲膝間。橫骨大赫並氣穴，四滿中注亦相連，五穴上行皆一寸，中行旁開五分邊，肓俞上行亦一寸，但在臍旁半寸間，商曲石關隂都穴，通谷幽門五穴聯，五穴上下一寸取，各開中行五分前，步廊神封靈墟穴，神藏　中俞府安，上行寸六旁二寸，俞府璇璣二寸觀。</p>
<p>【注】涌泉穴，在足心陷中，伸腿屈足，卷指宛宛中，是其穴也。從涌泉上行足內踝，前起大骨下陷中，然谷穴也。從然谷行足內踝後五分，跟骨上動衇陷中，太谿穴也。從大溪行足跟後，跟中大骨上兩筋間，大鐘穴也。從大鐘行太谿下一寸，內踝下，水泉穴也。從水泉行足內踝下四分，前後有筋，上有踝骨，下有軟骨之中陷中，照海穴也。從照海行足內踝後，除踝上二寸許，前傍骨陷中，復溜穴也。從復溜斜外，上行復溜穴之後，二寸許後傍筋，交信穴也。從交信斜外，上行過三隂交穴，上　分中，築賔穴也，　者俗名腿肚也。從築賔上行，膝下內輔骨後，大筋下小筋上，按之應手，屈膝得之，隂谷穴也。</p>
<p>從隂谷上行，入腹，隂上橫骨中，宛曲如仰月中央，去任衇之中行旁開五分，橫骨穴也。從橫骨上行一寸，大赫穴也，亦去中行旁開五分。從大赫上行一寸，氣穴穴也，亦去中行旁開五分。從氣穴穴上行一寸，四滿穴也。亦去中行旁開五分。從四滿上行一寸，中注穴也，亦去中行旁開五分。從中注上行一寸，肓俞穴也，直臍旁去臍中五分，從肓俞上行二寸，商曲穴也，亦去中行旁開五分。從商曲上行一寸，石關穴也。亦去中行旁開五分。從石關上行一寸，隂都穴也，亦去中行旁開五分。從隂都上行一寸陷中，通谷穴也，亦去中行旁開五分。從通谷上行一寸陷中，幽門穴也，亦去中行旁開五分。從幽門上行一寸六分陷中，去中行旁開二寸，仰而取之，步廊穴也。從步廊上行一寸六分，亦去中行旁開二寸，仰而取之，神封穴也。從神封上行一寸六分，亦去中行旁開二寸陷中，仰而取之，靈墟穴也。從靈墟上行一寸六分，亦去中行旁開二寸陷中，仰而取之，神藏穴也。從神藏上行一寸六分，亦去中行旁開二寸陷中，仰而取之，　中穴也。從　中上行巨骨，下侠任衇之璇璣，中行旁開二寸陷中，仰而取之，是其穴也。</p>
<p><a href="_files/p06-d43a73.bmp">腎經穴圖</a></p>
<h3>三焦經文</h3>
<p>經云：上焦如霧，中焦如漚，下焦如瀆。又云：三焦者，決瀆之官，水道出焉。又云：是經少血多氣。</p>
<p>《中藏經》云：三焦者，人之三元之氣也，號曰中清之府。總領五臟六腑，營衛經絡，內外、左右、上下之氣也。三焦通則內外、左右、上下皆通也。其於周身灌體，和內調外，榮左養右，導上宣下，莫大於此也。</p>
<p><a href="_files/p06-d43a74.bmp">手少陽三焦腑圖</a></p>
<h4>三焦經循行經文</h4>
<p>三焦手少陽之衇，起於小指次指之端，上出次指之間，循手表腕，出臂外兩骨之間，上貫肘，循　外，上肩而交出足少陽之後，入缺盆，布膻中，散絡心包，下膈循属三焦。其支者，從膻中上出缺盆，上項侠耳後，直上出耳上角，以屈下頬，至　；其支者，從耳後入耳中，出走耳前，過客主人前交頬，至目鋭　。</p>
<p><a href="_files/p06-d43a75.bmp">三焦經循行圖</a></p>
<h4>三焦經循行歌</h4>
<p>手經少陽三焦衇，起自小指次指端，兩指岐骨手腕表，上出臂外兩骨間，肘後　外循肩上，少陽之後交別傳，下入缺盆膻中分，散絡心包膈裡穿。支者膻中缺盆上，上項耳後耳角旋，屈下至出　仍注頬；一支出耳入耳前，却從上關交曲頬，至目鋭　乃盡焉。</p>
<p>【注】手少陽三焦之衇，起於手小指次指外側之端關衝穴，從關衝上出兩指之間液門、中渚穴，循手腕表陽池穴也。從陽池出臂外兩骨之間，外關、支溝、會宗、三陽絡、四瀆、天井等穴，上貫肘，清冷淵穴也，從清冷淵穴循臂　外，上肩循消濼、　會、肩　、天穴，從天　穴而交出足少陽經之後，入缺盆，布膻中，散絡心包，下膈內而循行之分，皆属三焦經也。其支者，從膻中上外出缺盆，上項天牖穴，從天牖穴循系耳後翳風、　衇、顱息穴，從顱息直上出耳上角角孫穴、絲竹空穴也。由角孫、絲竹空穴繞耳以屈下至　和　、耳門穴也。其夲支之別，支者從耳後出走耳前，過足少陽經客主人穴之前，交頬至目鋭之外　，以交於足少陽膽經也。</p>
<h4>三焦經穴歌</h4>
<p>手少三焦所從經，二十三穴起關衝，液門中渚陽池歴，外關支溝會宗逢，三陽絡入四瀆內，注於天井清冷中，消濼臑會肩髎穴，天髎天牖經翳風，瘈衇顱息角耳門，和髎上行絲竹空。</p>
<h4>三焦經分寸歌</h4>
<p>無名外側端關衝，液門小次指陷中，中渚液門上一寸，陽池腕前表陷中，外關腕後二寸陷，關上一寸支溝名，外關一寸會宗平，斜上一寸三陽絡，肘前五寸四瀆稱，天井肘外大骨後，肘上一寸骨罅中。井上一寸清冷淵，消濼臂肘分肉端，　會肩端前二寸，肩上陷中看，天肩井後一寸，天牖耳下一寸間，翳風耳後尖角陷，　衇耳後青衇看，顱息青絡衇之上，角孫耳上發下間，耳門耳前缺處陷，和橫動衇耳前，欲覓絲竹空何在，眉後陷中仔細觀。</p>
<p>【注】關衝穴，在手四指外側端，去爪甲角如韭葉許，是其穴也。從關衝上行手小指次指岐骨間陷中，握拳取之，液門穴也。從液門上行一寸陷中，中渚穴也。從中渚由四指夲節直上，行手表腕上陷中，陽池穴也。從陽池上行手腕後二寸，兩骨間陷中，外關穴也。從外關上行一寸，兩骨間陷中，支溝穴也，從支溝外開一寸，會宗穴也。以支溝會宗二穴相並平直，空中相離一寸也。從會宗內斜上行一寸，臂上大交衇，三陽絡穴也。從三陽絡上行肘前五寸外廉陷中，四瀆穴也。從四瀆斜外一行，肘外大骨尖後，肘上一寸，兩筋叉骨罅中，屈肘拱胸取之，天井穴也。</p>
<p>從天井上行一寸，伸肘舉臂取之，清冷淵穴也。從清冷淵上行，肩下臂外肘上分肉間，消濼穴也。從消濼上行，　外去肩端三寸宛宛中，　會穴也。從　會上行，肩端上陷中，斜舉臂取之，肩　穴也，從肩　上行肩，缺盆中直，是少陽經之肩井穴；後一寸，天　穴也。從天　上行，頸大筋外缺盆上，手太陽經天容穴後，足太陽經天柱穴前，足少陽膽經完骨穴下，發際中上斜侠耳後一寸，天牖穴也。從天牖上行，耳後尖角陷中，按之引耳中痛，翳風穴也。從翳風上行，耳後中間雞足青絡衇中，　衇穴也。從　衇行耳後上間青絡衇中，顱息穴也。從顱息上行，耳上上間，發際下開口有空，角孫穴也。</p>
<p>從角孫繞行耳前，起肉當耳缺處陷中，耳門穴也。從耳門行耳前，兑發下橫動衇中，和穴也（兑發下即鬢角也）。從和　上行眉後陷中，絲竹空穴也。</p>
<p><a href="_files/p06-d43a76.bmp">三焦經穴圖</a></p>
<h3>膽腑經文</h3>
<p>經云：膽者，中正之官，決斷出焉。又云：是經少血多氣。又曰：凡十一臟皆取決於膽也。</p>
<p>《難經》曰：膽在肝之短葉間，重三兩三銖，長三寸，盛精汁三合。</p>
<p>《中藏經》曰：膽者清淨之府，號曰將軍，主藏而不瀉。</p>
<p><a href="_files/p06-d43a77.bmp">足少陽膽腑圖</a></p>
<h4>膽經循行經文</h4>
<p>膽足少陽之衇，起於目鋭　，上抵頭角，下耳後，循頸行手少陽之前，至肩上却交出手少陽之後，入缺盆。其支者，從耳後入耳中，出走耳前，至目鋭　後；其支者，別鋭，下大迎，合手少陽抵於　，下加頬車，下頸合缺盆以下胸中，貫膈、絡肝、属膽，循脅裡，出氣街，繞毛際橫入髀厭中；其直者，從缺盆下腋循胸，過季脅，下合髀厭中，以下循髀陽，出膝外廉，下外輔骨之前，直下抵絕骨之端，下出外踝之前，循足跗上入小趾次趾之間；其支者，別跗上入大趾之間，循大趾岐骨內，出其端，還貫爪甲，出三毛。</p>
<p><a href="_files/p06-d43a78.bmp">膽經循行圖</a></p>
<h4>膽經循行歌</h4>
<p>足衇少陽膽之經，始從兩目鋭　生，抵頭循角下耳後，腦空風池次第行，手少陽前至肩上，交少陽右上缺盆；支者耳後貫耳內，出走耳前鋭　循；一支鋭　大迎下，合手少陽抵項根，下加頬車缺盆合，入胸貫膈絡肝經，属膽仍從脅裡過，下入氣街毛際縈，橫入髀厭環跳內；直者缺盆下腋膺，過季脅下髀厭內，出膝外廉是陽陵，外輔絕骨踝前過，足跗小指次指分；一支別從大指去，三毛之際接肝經。</p>
<p>【注】足少陽膽經之衇，起於目之鋭　瞳子　穴，循聼會客主人穴，上抵頭角頷厭穴也。從頷厭循懸顱、懸厘、曲鬢、率谷，折而下行於耳後之天衝、浮白、竅隂、完骨等穴；折外上行至眉頭之夲神、陽白、臨泣、目窻、正營、承靈、腦空等穴；循頸至風池穴，過手少陽經天牖穴之前，至肩上夲經之肩井穴；從肩井穴却交出於手少陽之後，入缺盆處也。其支者，從耳後入耳中，出走耳前至目鋭　後，此一小支之衇，行於頭之無穴處也。又其支者，別鋭　下手陽明之大迎穴，合手少陽抵於　下，加頬車，下頸合缺盆穴，以下入胸中，貫膈絡肝，属膽，循脅裡，出氣街，散布臟腑，外繞毛際，橫入髀厭中環跳穴也。其支者，從缺盆下腋淵液穴；從淵液穴循胸輙筋穴也。從輙筋、日月穴過季脅至京門穴；從京門循行帶衇、五樞、維道、居，下合髀厭中環跳穴也。從環跳穴以下循髀陽風市穴，從風市循行中瀆、陽關，出膝外廉陽陵泉穴也。從陽陵泉穴循行陽交、外丘、光明等穴，下外輔骨之前陽輔穴也。從陽輔穴直下抵絕骨之端懸鐘穴；從懸鐘下出外踝之前丘墟穴；從丘墟穴循足跗上臨泣穴也。從臨泣入小指次指之間侠谿、竅隂穴也。</p>
<p>其支者，別跗上入大指之間，循大指岐骨內，出其端，還貫爪甲出三毛，以交於足厥隂肝經也。</p>
<h4>膽經穴歌</h4>
<p>足少陽經童子髎，四十三穴行迢迢，聼會客主頷厭集，懸顱懸釐曲髩翹，率谷天衝浮白次，竅隂完骨夲神至，陽白臨泣開目窻，正營承靈腦空是，風池肩井淵液長，輙筋日月京門鄉，帶衇五樞維道續，居髎環跳市中瀆，陽關陽陵復陽交，外邱光明陽輔高，懸鍾邱墟足臨泣，地五侠谿竅隂畢。</p>
<h4>膽經分寸歌</h4>
<p>足少陽兮四十三，頭上廿穴分三折，起自瞳子至風池，積數陳之依次第。外　五分瞳子，耳前陷中尋聼會，上行一寸客主人，內斜曲角上頷厭，後行顱中厘下穴，曲鬢耳前上發際，率谷入發寸半安，天沖耳後斜二寸浮白下行一寸間，竅隂穴在枕骨下，完骨耳後入發際，量得四分須用記，夲神神庭旁三寸，入發四分耳上系，陽白眉上一寸許，上行五分是臨泣。臨後寸半目窻穴，正營承靈及腦空，後行相去一寸五，風池耳後發陷中。</p>
<p>肩井肩上陷中取，大骨之前寸半明，淵液腋下行三寸，輙筋復前一寸行，日月乳下二肋縫，下行五分是穴名。臍上五分傍九五，季肋侠脊是京門，季下寸八尋帶衇，帶下三寸穴五樞，維道章下五三定，維下三寸居　名，環跳髀樞宛中陷，風市垂手中指終。膝上五寸中瀆穴，膝上二寸陽關尋，陽陵膝下一寸住，陽交外踝上七寸，外丘外踝七寸同，此系斜属三陽分，踝上五寸定光明，踝上四寸陽輔穴，踝上三寸是懸鐘，丘墟踝前陷中取，丘下三寸臨泣存，臨下五分地五會，會下一寸侠谿輪，欲覓竊隂穴何在？小指次指外側尋。</p>
<p>【注】瞳子　，在目鋭　去　五分，是其穴也。從瞳子　下外斜行，耳前起骨上面，下一寸耳珠下動衇宛宛中，開口有空，側臥張口取之，聼會穴也。從聼會上直行一寸，開口有空，側臥張口取之，客主人穴也。從客主人上內斜行，兩太陽曲角上廉，頷厭穴也。</p>
<p>從頷厭後行耳前曲角上，兩太陽之中，懸顱穴也。從懸顱後行，耳前曲角上，兩太陽下廉，懸厘穴也。從懸厘後行，耳前入發際曲隅陷中，鼓頷有空，曲鬢穴也。從曲鬢後行耳上，入發際寸半陷者宛宛中，嚼牙取之，率谷穴也。從率谷後行耳後三分許，入發際二寸，天沖穴也。從天衝下行耳後，入發際一寸，浮白穴也。從浮白下行耳後，高上枕骨下，搖動有空，竅隂穴也。從竅隂行耳後，入發際四分，完骨穴也。</p>
<p>從完骨折上行，神庭旁三寸，直耳上入發際四分，夲神穴也。從夲神行眉上一寸，直瞳子，陽白穴也。從陽白上直行，入發際五分陷中，正睛取之，臨泣穴也。從臨泣後行一寸，目窻穴也。從目窻後行一寸，正營穴也。從正營後行一寸五分，承靈穴也。從承靈後行一寸五分，腦空穴也。從腦空下行耳後，下發際陷中，大筋外廉，按之引於耳中，風池穴也。</p>
<p>從風池下行肩上，會其支者，合缺盆上大骨前一寸半，以三指按取，當中指下陷中，肩井穴也。從肩井下行腋下三寸宛宛中，舉臂取之，淵液穴也。從淵液下行，復前一寸三肋端，橫直蔽骨旁七寸五分半，直兩乳，側臥屈上足取之，輙筋穴也。從輙筋行乳下二肋端縫下五分，日月穴也。從日月行監骨腰中季肋夲，侠脊臍上五分，旁開九寸半，側臥屈上足伸下足舉臂取之，京門穴也。從京門下行季脅下一寸八分陷中，臍上二分，旁開八寸半，帶衇穴也。從帶衇下三寸，五樞穴也。從五樞下行，過肝經之章門穴下五寸三分，維道穴也。從維道下行三寸，監骨上陷中，居　穴也。從居　下行髀樞中，側臥伸下足屈上足取之，環跳穴也。</p>
<p>從環跳下行膝上外廉兩筋中，以手著腿中指盡處，風市穴也。從風市下髀骨外，膝上外廉五寸，分肉間陷中，中瀆穴也。從中瀆下行膝上二寸，犢鼻外陷中，陽關穴也。從陽關下行膝下一寸，外廉陷中，尖骨前筋骨間，蹲坐取之，陽陵泉穴也。從陽陵泉下行，足外踝上七寸，內斜三陽分肉間，陽交穴也。從陽交行外踝上七寸外斜，外丘穴也。從外丘下行外踝上五寸；光明穴也。從光明下行一寸，輔骨前絕骨端，內斜三分，陽輔穴也。</p>
<p>從陽輔下行三寸，外踝骨尖內動衇中，尋按取之，懸鐘穴也。從懸鐘行外踝下，斜前陷中，丘墟穴也。從丘墟下行三寸，在足小指四指夲節後，足跗間陷中，臨泣穴也。從臨泣下行五分，足小指四指夲節後間陷中，地五會穴也。從地五會下行一寸，足小指四指夲節前，岐骨間陷中，侠谿穴也。從侠谿下行足小指四指外側端，去爪甲角如韭葉，竅隂穴也。</p>
<p><a href="_files/p06-d43a79.bmp">膽經穴圖</a></p>
<h3>肝臟經文</h3>
<p>經云：肝者，將軍之官，謀慮出焉。又云：肝居膈下，上著脊之九椎下。是經常多血少氣。其合筋也，其榮爪也。主藏魂，開竅於目。其系上絡心肺，下亦無竅。</p>
<p>《難經》曰：肝重二斤四兩，左三葉右四葉，凡七葉。肝之為臟，其治在左，其臟在右脅右腎之前，並胃著脊之第九椎。</p>
<p><a href="_files/p06-d43a80.bmp">足厥隂肝臟圖</a></p>
<h4>肝經循行經文</h4>
<p>肝足厥隂之衇，起於大指聚毛之上，上循足跗上廉，去內踝一寸，上踝八寸，交出太隂之後，上　內廉，循股隂入毛中，過隂器，抵小腹，侠胃，属肝，絡膽，上貫膈，布脅，循喉嚨之後，上入頏顙，連目系，上出額與督衇會於顛。其支者，從目系下頬裡，環脣內；其支者，復從肝別貫膈，上注肺。</p>
<p><a href="_files/p06-d43a81.bmp">肝經循行圖</a></p>
<h4>肝經循行歌</h4>
<p>厥隂足衇肝所終，大指之端毛際叢，足跗上廉太衝分，踝前一寸入中封，上踝交出太隂後，循　內廉隂股沖，環繞隂器抵小腹，侠胃属肝絡膽逢，上貫膈裡布脅肋，侠喉頏顙目系同，衇上顛會督衇出。支者還生目系中，下絡頬裡環脣內，支者便從膈肺通。</p>
<p>【注】足厥隂肝經之衇，起於足大指聚毛之際大敦行間穴，從行間上循足跗上廉太衝穴，從太衝穴去內踝一寸，至於中封穴也。從中封穴循行內踝五寸，入於蠡溝穴也。從蠡溝上踝七寸中都穴，上內踝八寸，交出於足太隂隂經之後，上踝內廉，膝關曲泉穴也。從曲泉循股隂隂包五裡穴，入於毛中之隂廉穴，過隂器入抵小腹，上行於章門穴，從章門循行期門穴，從期門內行，侠胃，属肝，絡膽，上貫膈，布脅肋，散布於臟腑，循喉嚨之後，上入頏顙，連目系，上額，與督衇會於顛也。其有一支者，不上會於顛，但從目下頬裡環脣內。又一支復從肝別貫膈，上注於肺，以交於手太隂肺經也。</p>
<h4>肝經穴歌</h4>
<p>足厥隂經一十四，大敦行間太衝是，中封蠡溝伴中都，膝關曲泉隂包次，五里隂廉上急衇，章門纔過期門至。</p>
<h4>肝經分寸歌</h4>
<p>大敦足大端外側，行間兩指縫中間，太衝夲節後二寸，中封內踝前一寸，蠡溝踝上五寸是，中都上行二寸中，膝關犢鼻下二寸，曲泉曲膝盡橫紋。隂包膝上行四寸，氣衝三寸下五裡，隂廉氣衝下二寸，急衇毛際旁二五，厥隂大絡系睪丸，章門臍上二旁六，期門從章斜行乳，直乳二肋端縫已。</p>
<p>【注】大敦穴，在足大指端，去爪甲後如韭葉許，外側聚毛中，是其穴也。從大敦上行足大指次指岐骨縫間，動衇應手陷中，行間穴也。從行間上行二寸許，足跗間動衇應手陷中，太衝穴也。從太衝上行足內踝前一寸，筋裡宛宛中，中封穴也。從中封上行內踝上五寸，蠡溝穴也。從蠡溝上行二寸，當　骨中，中都穴也。從中都上行，犢鼻下二寸旁陷者中，膝關穴也。從膝關上行膝內輔骨下，大筋上小筋下陷中，屈膝橫紋頭取之，曲泉穴也。</p>
<p>從曲泉上行膝上四寸，股內廉兩筋間，蜷足取之，看膝內側有槽中，隂包穴也。從隂包上行，在足陽明胃經之氣衝穴下三寸，隂股中動衇應手，五裡穴也。從五裡上行羊矢下，斜裡三分，直上氣衝下二寸，動衇陷中，隂廉穴也。</p>
<p>從隂廉上行隂上，中行兩旁相去二寸半，按之隱指而堅，甚按則痛引上下，此厥隂之大絡，為睪之系，急衇穴也。從急衇上行足太隂脾經之大橫穴外，季肋直臍軟骨端，臍上二寸，兩旁開六寸，側臥取肘尖盡處，章門穴也。從章門上行，足陽明胃經之不容穴旁一寸五分，上直乳第二肋端，期門穴也。</p>
<p><a href="_files/p06-d43a82.bmp">肝經穴圖</a></p>
<h2>卷六</h2>
<h3>奇經八衇總歌</h3>
<p>正經經外是奇經，八衇分司各有名。任衇任前督於後，沖起會隂腎同行，陽蹺跟外膀胱別，隂起跟前隨少隂，陽維維絡諸陽衇，隂維維絡在諸隂，帶衇圍腰如束帶，不由常度號奇經。</p>
<p>【注】衇有奇常。十二經者，常衇也；奇經則不拘於常，故謂之奇也。蓋人之氣血，常行於十二經衇。經衇滿溢，流入他經，別道而行，故名奇經。奇經有八，曰：任、督、衝、帶、陽蹺、隂蹺、陽維、隂維是也。任衇任於前，督衇督於後。衝衇為諸衇之海，帶衇猶身之束帶。陽蹺為足太陽之別，隂蹺為足少隂之別。陽維則維絡諸陽，隂維則維絡諸隂。隂陽相維，諸經乃調。故此八衇，譬猶圖設溝渠，以備水潦，斯無濫溢之患。人有奇經亦若是也。</p>
<h4>任衇循行經文</h4>
<p>《素問‧骨空論》曰：任衇者，起於中極之下。以上毛際，循腹裡，上關元，至咽喉，上頤、循面、入目。</p>
<p><a href="_files/p06-d43a83.bmp">任衇循行圖</a></p>
<p>《靈樞‧五音五味篇》曰：衝衇任衇皆起於胞中，上循背裡為經絡之海。其浮而外者，循腹上行，會於咽喉，別而絡口脣。</p>
<h4>任衇循行歌</h4>
<p>任衇起於中極下，會隂腹裡上關元，循內上行會衝衇，浮外循腹至喉咽，別絡口脣承漿已，過足陽明上頤間，循面入目至睛明，交督隂衇海名傳。</p>
<p>【注】任衇者，起於中極之下。中極者，穴名也。在少腹聚毛處之上毛際也。中極之下，謂曲骨之下會隂穴也。以上毛際，循腹裡上關元者，謂從會隂循內上行，會於衝衇，為經絡之海也。其浮而外者，循腹上行，至於咽喉，別絡口脣，至承漿而終。上頤循面入目至睛明者，謂不直交督衇，由足陽明承泣穴上頤循面，入目內　之足太陽睛明穴，始交於督衇，總為隂衇之海也。</p>
<h4>任衇穴歌</h4>
<p>任衇中行二十四，會隂潛伏兩隂間，曲骨之前中極在，關元石門氣海邊，隂交神闕水分處，下脘建里中脘前，上脘巨闕連鳩尾，中庭膻中玉堂聯，紫宮華蓋循璇璣，天突廉泉承漿端。</p>
<h4>任衇分寸歌</h4>
<p>任衇會隂兩隂間，曲骨毛際陷中安，中極臍下四寸取，關元臍下三寸連，臍下二寸名石門，臍下寸半氣海全。臍下一寸隂交穴，臍之中央即神闕，臍上一寸為水水，臍上二寸下脘列，臍上三寸名建裡，臍上四寸中脘許，臍上五寸上脘在，巨闕臍上六寸五，鳩尾蔽骨下五分，中庭膻下寸六取，膻中却在兩乳間，膻上寸六玉堂主，膻上紫宮三寸二，膻上華蓋四八舉（四寸八分），膻上璇璣五寸八，璣上一寸天突起，天突喉下約四寸，廉泉頷下骨尖已，承漿頤前脣棱下，任衇中央行腹裡。</p>
<p>【注】會隂穴，在前隂後隂之中間，任、督、衝三衇所起，督由會隂而行背，任由會隂而行腹，沖由會隂而行足也。從會隂上行，橫骨上毛際陷中，動衇應手，臍下五寸，曲骨穴也。從曲骨上行，在臍下四寸，中極穴也。從中極上行，在臍下三寸，即關元穴也。</p>
<p>從關元上行，在臍下二寸，石門穴也。從石門上行，在臍下一寸五分宛宛中，氣海穴也。</p>
<p>從氣海上行，在臍下一寸，隂交穴也。從隂交上行，當臍之中，神闕穴也。從神闕上行，臍上一寸，水分穴也。從水分上行，臍上二寸，下脘穴也。從下脘上行，臍上三寸，建裡穴也。從建裡上行，在臍上四寸，中脘穴也。從中脘上行，在臍上五寸，上脘穴也。從上脘上行，在兩岐骨下二寸，巨闕穴也。</p>
<p>從巨闕上行一寸，鳩尾穴也。從鳩尾上行一寸陷中，中庭穴也。從中庭上行一寸六分，膻中穴也。從膻中上行一寸六分陷中，玉堂穴也。從玉堂上行一寸六分陷中，紫宮穴也。從紫宮上行一寸六分陷中，華蓋穴也。從華蓋上行一寸陷中，璇璣穴也。從璇璣上行一寸，天突穴也。從天突上行，在頷下結喉上中央舌夲下，仰而取之，廉泉穴也。從廉泉上行，在頤前下脣棱下陷中，承漿穴也。</p>
<p><a href="_files/p06-d43a84.bmp">任衇穴圖</a></p>
<h4>督衇循行經文</h4>
<p>《素問‧骨空論》曰：督衇者，起於少腹以下骨中央。女子入系廷孔，其孔，尿孔之端也，其絡循隂器，合篡間，繞篡後。別繞臀，至少隂與巨陽中絡者，合少隂上股內後廉，貫脊，属腎。與太陽起於目內　，上額，交顛上，入絡腦，還出別下項，循肩　，內侠脊，抵腰中，入循膂，絡腎。其男子循莖，下至篡，與女子等。其少腹直上者，貫臍中央，上貫心，入喉，上頤、環脣，上系兩目之下中央。</p>
<p><a href="_files/p06-d43a85.bmp">督衇循行圖</a></p>
<h4>督衇循行歌</h4>
<p>督衇少腹骨中央，女子入系尿孔疆，男子之絡循隂器，繞篡之後別臀方，至少隂者循腹裡，會任直上關元行，属腎會沖街腹氣，入喉上頤環脣當，上系兩目中央下，始合內　絡太陽，上額交顛入絡腦，還出下項肩場，侠脊抵腰入循膂，絡腎莖篡等同鄉，此是申明督衇路，總為陽衇之督綱。</p>
<p>【注】督衇者，起於少腹下骨中央，謂男女少腹以下，橫骨內之中央，即女子入系廷孔之端，男子隂器合篡間也。男子隂莖盡處，精室孔、尿孔合並一路，合篡處也，即女子胞孔、尿孔合並之處。廷孔之端，即下文曰：與女子等也。其絡循隂器，合篡間，繞篡後行，是謂夲絡外合太陽中絡也。別絡繞臀，是謂別絡內並少隂腹裡也。故經曰：至少隂與巨陽中絡者，合也。至少隂者，循行上股內後廉，循腹裡，與任衇上會於關元，貫脊属腎，侠腎上行，與衝衇會於腹氣之街。故經曰：自少腹直上，貫臍中央，上貫心入喉，上頤環脣，內行至督衇齦交而終，外行系兩目之下中央，循行目內　，會於太陽。故經曰：與太陽起於目內　，上額交顛上，入絡腦，還出別下項，循肩　內侠脊，抵腰中，入循膂，絡腎，復會於少隂，此督衇之循行也。</p>
<h4>督衇穴歌</h4>
<p>督衇行衇之中行，二十八穴始長强，腰俞陽關入命門，懸樞脊中中樞長，筋縮至陽歸靈臺，神道身柱陶道開，大椎瘂門連風府，腦户强間後頂排，百會前頂通顖會，上星神庭素髎對，水溝兑端在脣上，齦交上齒縫之內。</p>
<h4>督衇分寸歌（附：督衇解）</h4>
<p>尾閭骨端是長强，二十一椎腰俞當，十六陽關十四命，三一懸樞脊中央，十椎中樞筋縮九，七椎之下乃至陽，六靈五身三身柱，陶道一椎之下鄉，一椎之上大椎穴，上至發際啞門行，風府一寸宛中取，腦户二五枕之方，再上四寸强間位，五寸五分後頂强，七寸百會頂中取，耳尖前後發中央，前頂前行八寸半，前行一尺囟會量，一尺一寸上星位，前發尺二神庭當，鼻端準頭素　穴，水溝鼻下人中藏，兑端脣上端上取，齦交脣內齒縫鄉。</p>
<p>【注】督衇之別，起於長强者，即繞篡後，外合太陽，循行尾閭間，長强穴也。侠膂上項，散頭上，下當肩左右，別走太陽，入貫膂，謂督衇循外而上行也。故《難經》曰：起於下極之俞。即長强尾閭間也。並於脊裡，即侠脊也。上至風府，入属於腦，即上項散頭也。從長强貫脊上行二十一椎下，腰俞穴也。十六椎下，陽關穴也。十四椎下，命門穴也。</p>
<p>十三椎下，懸樞穴也。十一椎下，脊中穴也。十椎下，中樞穴也。九椎下，筋縮穴也。七椎下，至陽穴也。六椎下，靈台穴也。五椎下，神道穴也。三椎下，身柱穴也。一椎下，陶道穴也。一椎之上，大椎穴也。上至上發際，啞門穴也。從啞門入發際，風府穴也。從風府上行一寸五分枕骨上，腦户穴也。從腦户上行一寸五分，强間穴也。從强間上行一寸五分，後頂穴也。從後頂上行一寸五分，直兩耳尖頂陷中，百會穴也。從百會前行一寸五分，前頂穴也。從前頂前行一寸五分，囟會穴也。從囟會又前行一寸，上星穴也。從上星至前發際，神庭穴也。前後發際，合骨度共一尺二寸也。從前發際下至鼻端準頭，素穴也。鼻柱下溝中央近鼻孔陷中，水溝穴也。脣上端，兑端穴也。脣內齒上齦縫中，齦交穴也。凡二十八穴，循行背之中行者也。</p>
<p><a href="_files/p06-d43a86.bmp">督衇穴圖</a></p>
<p>【按】督衇始於長强者，夲自《靈樞‧經衇篇》曰：督衇之別名長强，侠膂上項，散頭上下，當肩胛左右，別走太陽，入貫膂。《難經》二十八難曰：督衇者，起於下極之俞，並於脊裡之上，至風府入属於腦，乃指穴而言也。前論督衇起於少腹者，是指循行而言也。</p>
<h4>衝衇循行經文</h4>
<p>《素問‧骨空論》曰：衝衇者，起於氣街，並少隂之經，侠臍上行，至胸中而散。</p>
<p><a href="_files/p06-d43a87.bmp">衝衇循行圖</a></p>
<p>《靈樞‧衛氣篇》曰：請言氣街。胸氣有街，腹氣有街，頭氣有街，脛氣有街。故氣在頭者，止之於腦；氣在胸者，止之膺與背俞；氣在腹者，止之背俞。與衝衇在臍之左右之動衇者，氣在脛者，止之於氣街，與承山踝上。</p>
<h4>衝衇循行歌</h4>
<p>衝衇起於腹氣街，後天宗氣氣衝來，並於先天之真氣，相並侠臍上胸街，大氣至胸中而散，會合督任充身懷，分布臟腑諸經絡，名之曰海不為乖。</p>
<p>【注】衝衇者，起於氣街，是起於腹氣之街也。名曰氣街者，是謂氣所行之街也。一身之大氣，積於胸中者，有先天之真氣，是所受者，即人之腎間動氣也；有後天之宗氣，是水穀所化者，即人之胃氣也。此所謂起於腹氣之街者，是起胃中穀氣也；並於少隂者，是並於腎間動氣也。其真氣與穀氣相並，侠臍上行，至胸中而散，是謂大氣至胸中，分布五臟六腑諸經，而充身者也。《靈樞‧逆順肥瘦篇》曰：衝衇者五臟六腑之海也，五臟六腑皆稟氣焉。《靈樞‧動俞篇》又曰：衝衇者十二經之海也，與少隂之大絡，起於腎下，出於氣街。《靈樞‧五音五味篇》又曰：衝衇任衇皆起於胞中者，即此之起於腎下之謂也。</p>
<p>而謂起於腎下者，即並於少隂之經，腎間動氣上行也。《素問‧骨空論》曰：衝衇起於氣衝者，即此出於氣街之謂也。不曰起而曰出者，謂穀氣由陽明胃經出，而會於氣街也。</p>
<h4>衝衇穴歌</h4>
<p>衝衇侠臍起橫骨，大氣四注肓俞同，商石隂通幽門穴，至胸散布任流行。</p>
<h4>衝衇分寸歌（附：任督沖三衇合解）</h4>
<p>衝衇分寸同少隂，起於橫骨至幽門，上行每穴皆一寸，穴開中行各五分。</p>
<p>【注】衝衇起於足陽明，並於足少隂腹氣之街，侠臍中行左右五分，而上行自少腹下尖隂上橫骨穴，從橫骨穴上行大赫、氣穴、四滿、中注、肓俞、商曲、石關、隂都、通谷、幽門等共十一穴，每穴上行相去各一寸，中行左右各五分。</p>
<p><a href="_files/p06-d43a88.bmp">衝衇穴圖</a></p>
<p>【按】任、督、衝三衇，《素問‧骨空論》曰：任衇起於中極之下，毛際以上。是外指少腹之分也。循腹裡，是內指胞中也。督衇起於少腹以下骨中央，女子廷孔，男子隂器，合篡貫脊属腎，亦是外指少腹，內指胞中也。衝衇起於氣街，並少隂之經，亦是指於胞中也。雖未明言胞中，而實未嘗不起於胞中也。是以知任、督、衝三衇，皆起於胞中。然三衇皆後天水穀所化，胃氣出於氣街，會於胞中，與先天腎間動之真氣，並行而充身者也。由此觀之，三衇同出一源無疑矣。故王冰《內經注》、《甲乙經》、《鍼灸圖經》以任衇循背者謂之督衇；自少腹上謂之任衇，亦謂之督衇，則是以背腹隂陽，別為名目耳。然衝衇亦起於胞中，並足少隂而上行。是任衇、督衇、衝衇乃一源而三岐者。故人身之有腹背，猶天地之有子午；任督之有前後，猶二陸之分隂陽也。胞中者，謂男女丹田之通稱也。在女子謂之女子胞，在男子即精室也。</p>
<h4>帶衇循行經文</h4>
<p>《靈樞‧經衇別篇》曰：足少隂上至　中，別走太陽而合，上至腎，當十四椎，出属帶衇。</p>
<p><a href="_files/p06-d43a89.bmp">帶衇循行圖</a></p>
<p>《二十八難》曰：帶衇者，起於季脅，回身一周。</p>
<h4>帶衇循行歌</h4>
<p>帶衇足少隂經衇，上　別走太陽經，合腎十四椎属帶，起於季脅繞身行。</p>
<p>【注】帶衇夲由足少隂經之衇，上至　中，別走太陽而合腎，當十四椎，出属帶衇，故起於季脅，繞身一周行也。</p>
<h4>帶衇穴歌</h4>
<p>帶起少陽帶衇穴，繞行五樞維道間，京門之下居　上，周回季脅束帶然。</p>
<p>【注】足少隂之正衇，出於然谷，循內踝後。其別者入跟中，上　內，至　中，別走而合太陽，上至腎之氣穴穴，當十四椎內，與足少隂衝衇會，外與足少陽帶衇合會，而不與衝衇偕行，出於季脅，属少陽帶衇穴也。故《難經》曰：帶衇者，起於季脅也。回身一周者。謂起於足少陽帶衇穴，循行五樞穴、維道穴，不行居　穴，回行如帶，故曰帶衇也。</p>
<h4>帶衇分寸歌</h4>
<p>帶衇部分足少陽，季脅寸八是其鄉，由帶三寸五樞穴，過章五三維道當。</p>
<p>【注】帶衇部分，在足少陽經季脅之下一寸八分，即帶衇穴也。從帶衇穴下三寸，即五樞穴也。從五樞下行，過肝經之章門穴下五寸三分，即維道穴也。</p>
<p><a href="_files/p06-d43a90.bmp">帶衇穴圖</a></p>
<h4>陽蹺隂蹺衇循行經文</h4>
<p>《靈樞‧衇度篇》曰：蹺衇者，少隂之別，起於然谷之後，上內踝之上，直上循隂股，入隂，上循胸裡，入缺盆，上出人迎之前，入　，属目內　，合於太陽、陽蹺而上行。氣並相還，則為濡目，目氣不榮，則目不合。</p>
<p><a href="_files/p06-d43a91.bmp">陽蹺衇循行圖</a></p>
<p>《二十八難》曰：陽蹺衇者，起於跟中，循外踝上行，入風池；隂蹺衇者，亦起於跟中，循內踝上行，至咽喉交貫衝衇。</p>
<h4>陽蹺衇循行歌</h4>
<p>陽蹺衇起於跟中，上合三陽外踝行，從脅循肩入頸　，属目內　太陽經。</p>
<p>【注】陽蹺之衇，起於足跟之中，上合三陽外踝上行，從脅少陽居　之穴，上循肩，入頸陽明之肩　、承泣等穴，属目內　而會太陽也。</p>
<h4>陽蹺衇穴歌</h4>
<p>陽蹺衇起申仆陽，居　肩　巨骨鄉，　俞地倉巨　泣，終於睛明一穴强。</p>
<h4>陽蹺衇分寸歌</h4>
<p>陽蹺衇起足太陽，申衇外踝五分藏，仆參後繞跟骨下，附陽外踝三寸鄉，居監骨上陷取，肩　一穴肩尖當，肩上上行名巨骨，肩胛之上　俞坊，口吻旁四地倉位，鼻旁八分巨疆，目下七分是承泣，目內　出睛明昂。</p>
<p>【注】蹺者足也，奇經涉於足者之名也。曰陽者，以其所行陽經也。陽蹺者，謂足太陽經之別衇也，起於足太陽膀胱經，足外踝下五分陷中申衇穴也。從申衇繞後跟骨下，仆參穴也。從仆參穴又前斜足外踝上三寸，附陽穴也。又與足少陽會於季脅軟骨端下八寸三分，居　穴也。又與手陽明會於膊骨頭肩端上，肩　穴也。從肩　穴上行肩尖上兩叉骨，巨骨穴也。又與手足太陽陽維，會於肩後大骨下胛上廉，　俞穴也。又與手足陽明會於夾口吻旁四分，地倉穴也。從地倉穴行於鼻孔旁八分，巨　穴也。又與任衇足陽明會於目下七分，承泣穴也。又與手足太陽足陽明隂蹺會於目內　外一分，睛明穴也。</p>
<p><a href="_files/p06-d43a92.bmp">陽蹺衇穴圖</a></p>
<h4>隂蹺衇循行歌</h4>
<p>隂蹺亦起於跟中，少隂之別內踝行，上循隂股入胸腹，上至咽喉至睛明。</p>
<p>【注】隂蹺之衇，亦起於跟中，由少隂別衇然谷之穴，上行內踝，循隂股，入胸腹，上至咽喉、睛明穴，亦會於太陽也。</p>
<p><a href="_files/p06-d43a93.bmp">隂蹺衇循行圖</a></p>
<h4>隂蹺衇穴歌</h4>
<p>隂蹺起於然谷穴，上行照海交信列，三穴原夲足少隂，足之太陽睛明接。</p>
<h4>隂蹺衇分寸歌</h4>
<p>隂蹺衇起足少隂，足內踝前然谷尋，踝下一寸照海陷，踝上二寸交信真，目內　外宛中取，睛明一穴甚分明。</p>
<p>【注】隂蹺者，以其所行隂經，為足少隂之別衇也。起於足少隂腎經，足內踝前大骨下陷中，然谷穴也。從然谷穴循內踝之下一寸，照海穴也。從照海穴不循太谿穴，又於足內踝之上二寸直行交信穴。從交信穴上循隂股，入隂而行，上循胸裡入缺盆，上出人迎之前，入　鼻旁，属目內　外宛宛中睛明穴，合於太陽、陽蹺，上行氣並相還，則為濡目之用矣。故知隂蹺衇氣，若不與陽蹺衇氣並榮於目，則目不能合也。此隂蹺循行之經衇也。</p>
<p><a href="_files/p06-d43a94.bmp">隂蹺衇穴圖</a></p>
<h4>陽維隂維衇循行經文</h4>
<p>《二十八難》曰：陽維隂維者，維絡於身，溢蓄不能環流，灌溢諸經者也。故陽維起於諸陽之會，隂維起於諸隂交也。</p>
<h4>陽維衇循行歌</h4>
<p>陽維衇起足太陽，外踝之下金門疆，從　背肩項面頭，維絡諸陽會督場。</p>
<p>【注】陽維之衇，起於足太陽經外踝之下金門穴也。從　骨、背外、肩胛、項旁、面上、頭後至啞門穴，維絡諸陽會於督衇也。</p>
<p><a href="_files/p06-d43a95.bmp">陽維衇循行圖</a></p>
<h4>陽維衇穴歌</h4>
<p>陽維衇起穴金門，　俞天　肩井深，夲神陽白並臨泣，正營腦空風池巡，風府啞門此二穴，項後入發是其根。</p>
<h4>陽維衇分寸歌</h4>
<p>陽維衇起足太陽，外踝一寸金門藏，踝上七寸陽交位，肩後胛上　俞當，天　穴在缺盆上，肩上陷中肩井鄉，夲神入發四分許，眉上一寸陽白詳，入發五分臨泣穴，上行一寸正營場，枕骨之下腦空位，風池耳後陷中藏，項後入發啞門穴，入發一寸風府疆。</p>
<p>【注】陽維起於諸陽之會者，謂起於足太陽膀胱經之足外踝下一寸金門穴也。從金門穴行於足少陽膽經之足外踝上七寸，陽交穴也。又與手足太陽及蹺衇，會於肩後大骨下胛上廉，　俞穴也。又與手足少陽會於缺盆中上毖骨際，天　穴也。又會於肩上陷中，肩井穴也。從肩井穴上頭，與足少陽會於眉上一寸，陽白穴也。從陽白穴上行於目上，直入發際，夲神、臨泣穴也。從臨泣穴上行二寸，正營穴也。從正營穴循行枕骨下，腦空穴也。從腦空穴下行，至耳後大筋外廉，風池穴也。又與督衇會於項後風府、啞門穴，此陽維衇氣所發也。</p>
<p><a href="_files/p06-d43a96.bmp">陽維衇穴圖</a></p>
<h4>隂維衇循行歌</h4>
<p>隂維衇起足少隂，內踝上行穴築賔，循腹至乳上結喉，維絡諸隂會於任。</p>
<p>【注】隂維之衇，起於足少隂經內踝上行築賔之穴，循腹至乳上結喉，至廉泉穴，維絡諸隂，會於任衇也。</p>
<p><a href="_files/p06-d43a97.bmp">隂維衇循行圖</a></p>
<h4>隂維衇穴歌</h4>
<p>隂維之穴起築賔，府舍大橫腹哀循，期門天突廉舌夲，此是隂維衇維隂。</p>
<h4>隂維衇分寸歌</h4>
<p>隂維衇起足少隂，內踝之後尋築賔，少腹之下稱府舍，大橫平臍是穴名，此穴去中三寸半，行至乳下腹哀明，期門直乳二肋縫，天突結喉下一寸。</p>
<p>【注】隂維起於諸隂之交者，謂起於足少隂腎經之足內踝後，上分中，名曰築賔穴也。與足太隂交於少腹下，去腹中行三寸半，府舍穴也。又平臍云中行三寸半，大橫穴也。</p>
<p>又行至乳下二肋端縫之下二寸，腹哀穴也。又與足厥隂交於乳下二肋端縫，期門穴也。又與任衇交於結喉下一寸宛宛中，天突穴也。從天突穴上行，在頷下結喉上中央舌夲下，廉泉穴，此隂維衇氣所發也。</p>
<p><a href="_files/p06-d43a98.bmp">隂維衇穴圖</a></p>
<h2>卷七</h2>
<h3>頭部主病鍼灸要穴歌</h3>
<p>百會主治卒中風，兼治癲癇兒病驚，大腸下氣脫肛病，提補諸陽氣上升。</p>
<p>【注】百會穴，提補陽氣上升。主治大人中風，痰火癲癇，小兒急慢驚風，大腸下氣，脫肛等證。鍼二分，灸五壯。</p>
<p>神庭主灸羊癇風，目眩頭痛灸腦空，翳風專刺耳聾病，兼刺瘰　項下生。</p>
<p>【注】神庭穴，主治風癇，羊癲。灸三壯，禁鍼刺。腦空穴，主治偏正頭疼，目眩。刺四分，灸五壯。翳風穴，主治耳聾及瘰　。《鍼經》云：先將銅錢約二十文，令患者咬之，尋取穴中。鍼三分，禁灸。</p>
<p>上星通天主鼻淵，　肉痔塞灸能痊，兼治頭風目諸疾，炷如小麥灼相安。</p>
<p>【注】上星、通天二穴，主治鼻淵，鼻塞，　肉，鼻痔。左鼻灸右，右鼻灸左，左右鼻俱病者，左右俱灸。灸後鼻中當去一塊，形如朽骨狀，其病自愈。兼治頭風目疾等證也。</p>
<p>上星穴宜刺三分，留六呼，灸五壯。一云宜三棱鍼出血，以瀉諸陽之熱氣。通天穴宜刺三分，留七呼，灸三壯。其壯如小麥大，始相宜也。</p>
<p>啞門風府只宜刺，中風舌緩不能言，頸項强急及　，頭風百病與傷寒。</p>
<p>【注】啞門、風府二穴，主治中風舌緩，暴喑不語，傷風傷寒，頭痛項急不得回顧及抽搐等病。啞門穴鍼二分，不可深入，禁灸。風府穴鍼三分，留三呼，禁灸。</p>
<p>頭維主刺頭風疼，目痛如脫淚不明，禁灸隨皮三分刺，兼刺攢竹更有功。</p>
<p>【注】頭維、攢竹二穴，主治頭風疼痛如破，目痛如脫，淚出不明。頭維穴隨皮鍼三分，禁灸。攢竹穴刺一分，留六呼，禁灸。隨皮者，鍼入即眠，鍼隨皮刺去也。</p>
<p>率谷酒傷吐痰眩，風池主治肺中寒，兼治偏正頭疼痛，頬車落頬風自痊。</p>
<p>【注】率谷穴，主治傷酒嘔吐痰眩。刺三分，灸三壯。風池穴，治肺受風寒及偏正頭風。刺四分，灸三壯，七壯。炷宜小。頬車穴，治落頬風，落頬風者，下頦脫落也。刺三分，灸三壯。炷如小麥。</p>
<p>臨泣主治鼻不通，眵　冷淚云翳生，驚癇反視卒暴厥，目晡發瘧脅下疼。</p>
<p>【注】臨泣穴，主治鼻塞目眩，生翳眵　眼目諸疾，及驚癇反視，卒暴痰厥，瘧疾晚發等病。刺三分，留七呼，禁灸。</p>
<p>水溝中風口不開，中惡癲癇口眼歪，刺治風水頭面腫，灸治兒風急慢災。</p>
<p>【注】水溝穴，主治中風口噤，牙關不開，卒中惡邪鬼擊，不省人事，癲癇卒倒，口眼歪邪，風水面腫，及小兒急慢驚風等病。刺三分，留六呼，灸三壯至七壯，炷如小麥。然灸不及鍼。</p>
<p>承漿主治男七疝，女子瘕聚兒緊脣，偏風不遂刺之效，消渴牙疳灸功深。</p>
<p>【注】承漿穴，主治男子諸疝，女子瘕聚，小兒撮口，及偏風半身不遂，口眼　邪，口噤不開，消渴飲水不休，口齒疳蝕生瘡等證。</p>
<p>刺二分，留五呼，灸三壯。</p>
<p>迎香主刺鼻失臭，兼刺面癢若蟲行，先補後瀉三分刺，此穴須知禁火攻。</p>
<p>【注】迎香穴，主治鼻塞不聞香臭，浮腫風動，面癢狀如蟲行等證。鍼三分，禁灸。</p>
<p>口眼歪邪灸地倉，頬腫脣弛牙噤强，失音不語目不閉，　動視物目KT　KT　。</p>
<p>【注】地倉穴，主偏風口眼歪邪，牙關不開，齒痛頬腫，目不能閉，脣緩不收，飲食難進，失音不語，眼目　動，視物KT　KT　，昏夜無見等證。刺三分，留五呼，灸七壯，或二七壯，重者七七壯俱可。</p>
<p>聼會主治耳聾鳴，兼刺迎香功最靈，中風　斜病，牙車脫臼齒根疼。</p>
<p>【注】聼會穴，主治耳聾耳鳴，牙車脫臼，齒痛，中風，　，　邪等證。鍼四分，灸三壯。兼瀉迎香，功效如神。迎香穴，鍼三分，禁灸。</p>
<p>聼宮主治耳聾鳴，睛明攢竹目昏蒙，迎風流淚　癢痛，雀目攀睛白翳生。</p>
<p>【注】聼宮穴，主治耳內蟬鳴，耳聾。刺三分，灸三壯。睛明、攢竹二穴，主治目痛視不明，迎風淚，　肉攀睛，白翳　癢，雀目諸證。睛明穴鍼分半，留六呼，禁灸。攢竹穴治證同前，刺三分，留六呼，禁灸。</p>
<p><a href="_files/p06-d43a99.bmp">前面要穴圖</a></p>
<p><a href="_files/p06-d43a100.bmp">後頭要穴圖</a></p>
<h3>胸腹部主病鍼灸要穴歌</h3>
<p>膻中穴主灸肺癰，咳嗽哮喘及氣癭，巨闕九種心疼病，痰飲吐水息賁寧。</p>
<p>【注】膻中穴，主治哮喘，肺癰，咳嗽，氣癭等證。灸七壯，禁鍼。巨闕穴，主治九種心痛、痰飲吐水、腹痛息賁等證。鍼三分，留七呼，灸七壯。</p>
<p>上脘奔豚與伏梁，中脘主治脾胃傷，兼治脾痛瘧痰暈，痞滿翻胃盡安康。</p>
<p>【注】上脘穴，主治腎積奔豚，心積伏梁之證。鍼八分，留七呼，灸五壯。《千金》云：每日灸二七壯至百壯。孕婦不可灸。中脘穴，主治內傷脾胃，心脾痛，瘧疾痰暈，痞滿翻胃等證。鍼八分，灸七壯。一云：二七壯至百壯。孕子不可灸。</p>
<p>水分脹滿臍突硬，水道不利灸之良，神闕百病老虚瀉，產脹溲難兒脫肛。</p>
<p>【注】水分穴，主治鼓脹堅硬，肚臍突出，小便不利。灸五壯，禁鍼。孕婦不可灸。神闕穴，主治百病及老人虚人泄瀉，又治產後腹脹，小便不通，小兒脫肛等證。灸三壯，禁鍼。一法：納炒干淨鹽填滿臍上，加濃薑一片蓋定，上加艾炷，灸百壯，或以川椒代鹽亦妙。</p>
<p>氣海主治臍下氣，關元諸虚瀉濁遺，中極下元虚寒病，一切痼冷總皆宜。</p>
<p>【注】氣海穴，主治一切氣疾，隂證痼冷及風寒暑温，水腫，心腹鼓脹，諸虚，　瘕等證。鍼八分，灸五壯。關元穴，主治諸虚腎積，及虚老人泄瀉，遺精，白濁等證。鍼八分，留七呼，灸七壯。《千金》云：婦人鍼之則無子。中極穴，主治下元寒冷虚損，及婦人月事不調，赤白帶下。鍼八分，留十呼，灸三壯。孕婦不可灸。</p>
<p>膺腫乳癰灸乳根，小兒龜胸灸亦同，嘔吐吞酸灸日月，大赫專治病遺精。</p>
<p>【注】乳根穴，主治胸前腫，乳癰，小兒龜胸等證，鍼三分，灸三壯。日月穴，主治嘔吐吞酸。鍼七分，灸五壯。大赫穴，主治遺精。鍼三分，灸五壯。</p>
<p>天樞主灸脾胃傷，脾瀉痢疾甚相當，兼灸鼓脹　瘕病，艾火多加病必康。</p>
<p>【注】天樞穴，主治內傷脾胃，赤白痢疾，脾瀉及臍腹鼓脹，　瘕等證。鍼五分，留七呼，灸五壯。《千金》云：魂魄之舍不可鍼，孕婦不可灸。</p>
<p>章門主治痞塊病，但灸左邊可拔根，若灸腎積臍下氣，兩邊齊灸自然平。</p>
<p>【注】章門穴，主治痞塊，多灸左邊，腎積灸兩邊。鍼六分，留六呼，灸三壯。一云百壯。</p>
<p>期門主治奔豚病，上氣咳逆胸背疼，兼治傷寒脅硬痛，熱入血室刺有功。</p>
<p>【注】期門穴，主治奔豚上氣，咳逆胸滿，胸背徹痛，胸痛腹硬，及傷寒熱入血室。鍼四分，灸五壯。</p>
<p>帶衇主灸一切疝，偏墜木腎盡成功，兼灸婦人濁帶下，丹田温暖自然停。</p>
<p>【注】帶衇穴，主治疝氣偏墜木腎，及婦人赤白帶下等證。鍼六分，灸五壯。</p>
<p><a href="_files/p06-d43a101.bmp">胸腹要穴圖</a></p>
<h3>背部主病鍼灸要穴歌</h3>
<p>腰俞主治腰脊痛，冷痹强急動作難，腰下至足不仁冷，婦人經病尿赤痊。</p>
<p>【注】腰俞穴，主治腰脊重痛，舉動不得，俯仰艱難，腰以下至足冷痹不仁，及婦人經閉，尿血等證。刺二分，留七呼，灸五壯。</p>
<p>至陽專灸黃膽病，兼灸痞滿喘促聲，命門老虚腰痛證，更治脫肛痔腸風。</p>
<p>【注】至陽穴，主治身面俱黃，胸脅支滿，喘促不寧。鍼五分，灸三壯。命門穴，主治老人腎虚腰疼。及久痔脫肛，腸風下血等證。鍼五分，灸三壯。若年二十以上者不宜灸，灸恐絕子。</p>
<p>膏肓一穴灸勞傷，百損諸虚無不良，此穴禁鍼惟宜艾，千金百壯效非常。</p>
<p>【注】膏肓穴，主治諸虚百損，五勞七傷，身形羸瘦，夢遺失精，上氣咳逆，痰火發狂，健忘，怔忡，胎前、產後勞瘵、傳尸等證。灸七七壯至百壯。</p>
<p>大杼主刺身發熱，兼刺瘧疾咳嗽痰，神道惟灸背上病，怯怯短氣艾火添。</p>
<p>【注】大杼穴，主治遍身發熱，瘧疾，咳嗽多痰。鍼五分，禁灸。神道穴，主治背上冷痛，怯怯短氣。灸七壯，禁鍼。</p>
<p>風門主治易感風，風寒痰嗽吐血紅，兼治一切鼻中病，艾火多加嗅自通。</p>
<p>【注】風門穴，主治腠理不密，易感風寒，咳嗽吐痰，咯血鼻衄，及一切鼻中諸病。鍼三分，灸五壯。</p>
<p>肺俞內傷嗽吐紅，兼灸肺痿與肺癰，小兒龜背亦堪灸，肺氣舒通背自平。</p>
<p>【注】肺俞穴，主治內傷外感，咳嗽吐血，肺痿，肺癰，小兒龜背。鍼三分，留七呼，灸三壯。</p>
<p>膈俞主治胸脅痛，兼灸痰瘧　癖攻，更治一切失血證，多加艾灼總收功。</p>
<p>【注】膈俞穴，主治胸脅疼痛，痰瘧　癖，一切血痰。灸三壯，禁鍼。</p>
<p>肝俞主灸積聚痛，兼灸氣短語聲輕，更同命門一並灸，能使瞽目復重明。</p>
<p>【注】肝俞穴，主治左脅積聚疼痛，氣短不語。若同命門穴一並灸之，即兩目昏暗者，可使復明。肝俞穴灸七壯，禁鍼。命門穴鍼五分，灸三壯。</p>
<p>膽俞主灸脅滿嘔，驚悸臥睡不能安，兼灸酒疸目黃色，面發赤斑灸自痊。</p>
<p>【注】膽俞穴，主治兩脅脹滿，乾嘔，驚悸，睡臥不安及酒疸，目睛發黃，面發赤斑等證。灸三壯，禁鍼。</p>
<p>脾俞主灸傷脾胃，吐瀉瘧痢疸瘕　，喘急吐血諸般證，更治嬰兒慢脾風。</p>
<p>【注】脾俞穴，主治內傷脾胃，吐瀉瘧痢，黃膽，食積，　瘕，吐血，喘急，及小兒慢脾風證。灸五壯，禁鍼。</p>
<p>三焦俞治脹滿疼，積塊堅硬痛不寧，更治赤白休息痢，刺灸此穴自然輕。</p>
<p>【注】三焦俞穴，主治脹滿積塊，堅硬疼痛，及赤、白痢疾不止等證。鍼二分，灸五壯。</p>
<p>胃俞主治黃膽病，食畢頭目即暈眩，瘧疾善飢不能食，艾火多加自可痊。</p>
<p>【注】胃俞穴，主治黃膽，食畢頭眩，瘧疾，善飢不能食等證。鍼三分，灸三壯。</p>
<p>腎俞主灸下元虚，令人有子效多奇，兼灸吐血聾腰痛，女疸婦帶不能遺。</p>
<p>【注】腎俞穴，主治下元諸虚，精冷無子，及耳聾，吐血，腰痛，女勞疸，婦人赤、白帶下等證。灸三壯，禁鍼。</p>
<p>大腸俞治腰脊疼，大小便難此可通，兼治泄瀉痢疾病，先補後瀉要分明。</p>
<p>【注】大腸俞穴，主治腰脊疼痛，大小便不通，及泄瀉，痢疾等證。鍼三分，灸三壯。</p>
<p>膀胱俞治小便難，少腹脹痛不能安，更治腰脊强直痛，艾火多添疾自痊。</p>
<p>【注】膀胱俞穴，主治小便不通，少腹脹痛，及腰脊强直疼痛等證。鍼三分，灸七壯。</p>
<p>主治久瘧病，五臟瘧灸臟俞平，意舍主治脅滿痛，兼療嘔吐立時寧。</p>
<p>【注】　俞穴，主治久瘧。若五臟瘧，灸五臟俞。五臟俞者，心、肝、脾、肺、腎俞也。俱鍼六分，灸二七壯。意舍穴，主治兩脅脹滿，疼痛嘔吐。鍼五分，灸三壯。</p>
<p>身柱主治羊癇風，咳嗽痰喘腰背疼，長强惟治諸般痔，百勞穴灸汗津津。</p>
<p>【注】身柱穴，主治風癇發狂，咳嗽痰喘，腰背疼痛等證。鍼五分，灸七七壯。長强穴，主治諸般痔漏疼痛。鍼三分，灸三十壯。百勞穴，主治滿身發熱，虚汗盜汗津津不止。鍼五分，留三呼，瀉五吸，灸以年為壯。</p>
<p><a href="_files/p06-d43a102.bmp">背部要穴圖</a></p>
<h3>手部主病鍼灸要穴歌</h3>
<p>尺澤主刺肺諸疾，絞腸痧痛鎖喉風，傷寒熱病汗不解，兼刺小兒急慢風。</p>
<p>【注】尺澤穴，主治咳唾膿血，喉痹，肺積息賁，及絞腸痧痛，傷寒汗不出，小兒急慢驚風等證。刺三分，或三棱鍼出血，禁灸。</p>
<p>列缺主治嗽寒痰，偏正頭疼治自痊，男子五淋隂中痛，尿血精出灸便安。</p>
<p>【注】列缺穴，主治咳嗽寒痰，偏正頭疼，及男子淋漓，隂中疼痛，尿血精出等證。鍼二分，灸七壯，炷如小麥。</p>
<p>經渠主刺瘧寒熱，胸背拘急脹滿堅，喉痹咳逆氣數欠，嘔吐心疼亦可痊。</p>
<p>【注】經渠穴，主治咳瘧寒熱，胸背拘急膨脹，喉痹，咳逆上氣數欠，嘔吐心疼等證。鍼二分，禁灸。</p>
<p>太淵主刺牙齒病，腕肘無力或痛疼，兼刺咳嗽風痰疾，偏正頭疼效若神。</p>
<p>【注】太淵穴，主治牙齒疼痛，手腕無力疼痛，及咳嗽風痰，偏正頭疼等證。鍼二分，灸三壯。</p>
<p>魚際主灸牙齒痛，在左灸左右同然，更刺傷寒汗不出，兼治瘧疾方欲寒。</p>
<p>【注】魚際穴，主治牙齒痛，瘧疾初起先覺發寒，傷寒汗不出等證。鍼二分。惟牙痛可灸，余證禁灸。</p>
<p>少衝主治心膽虚，怔忡癲狂不可遺，少商惟鍼雙鵝痹，血出喉開功最奇。</p>
<p>【注】少衝穴，主治心虚膽寒，怔忡癲狂。鍼一分，灸三壯。少商穴，主治雙鵝風，喉痹。以三棱鍼刺微出血，禁灸。</p>
<p>少海主刺腋下瘰，漏臂痹痛羊癇風，靈道主治心疼痛，　暴喑不出聲。</p>
<p>【注】少海穴，主治腋下瘰　，漏臂與風吹肘臂疼痛也，及癲癇羊鳴等證。鍼五分，禁灸。靈道穴，主治心痛，羊癇，　，肘攣，暴喑不能言等證。鍼三分，灸三壯。</p>
<p>通裡主治温熱病，無汗懊　心悸驚，喉痹苦嘔暴喑啞，婦人經漏過多崩。</p>
<p>【注】通裡穴，主治温病，面熱無汗，懊　，心悸，驚恐，喉痹，苦嘔，暴喑，聲啞，及婦人經血過多，崩漏等證。鍼三分，灸三壯。</p>
<p>神門主治悸怔忡，呆痴中惡恍惚驚，兼治小兒驚癇證，金鍼補瀉疾安寧。</p>
<p>【注】神門穴，主治驚悸怔忡，呆痴，卒中鬼邪，恍惚振驚，及小兒驚癇等證。鍼三分，留七呼，灸三壯，炷如小麥。</p>
<p>少府主治久咳瘧，肘腋拘急痛引胸，兼治婦人挺痛癢，男子遺尿偏墜疼。</p>
<p>【注】少府穴，主治咳瘧久不愈，臂酸，肘腋攣急，胸中痛，及婦人隂挺，隂癢，隂痛；男子遺尿，偏墜等證。鍼二分，灸三壯。</p>
<p>曲澤主治心痛驚，身熱煩渴肘掣疼，兼治傷寒嘔吐逆，鍼灸同施立刻寧。</p>
<p>【注】曲澤穴，主治心痛，善驚，身熱煩渴，臂肘搖動，掣痛不能伸，傷寒，嘔吐，氣逆等證。鍼三分，留七呼，灸三壯。</p>
<p>間使主治脾寒證，九種心疼瘧渴生，兼治瘰　生項下，左右鍼灸自然平。</p>
<p>【注】間使穴，主治脾寒證，九種心痛，脾疼，瘧疾，口渴，及瘰　久不愈，患左灸右，患右灸左，鍼六分，留七呼，灸五壯。</p>
<p>內關主刺氣塊攻，兼灸心胸脅痛疼，勞熱瘧疾審補瀉，金鍼抽動立時寧。</p>
<p>【注】內關穴，主治氣塊上攻心胸，脅肋疼痛，勞熱，瘧疾等證。鍼五分，灸五壯。</p>
<p>痰火胸疼刺勞宮，小兒口瘡鍼自輕，兼刺鵝掌風證候，先補後瀉效分明。</p>
<p>【注】勞宮穴，主治痰火胸痛，小兒口瘡及鵝掌風等證。鍼二分，禁灸。</p>
<p>商陽主刺卒中風，暴仆昏沉痰塞壅，少商中衝關衝少，少澤三棱立回生。</p>
<p>【注】中衝穴，《乾坤生意》云：此為十井穴，凡國中風跌倒，卒暴昏沉，痰盛不省人事，牙關緊閉，藥水不下，急以三棱鍼刺中衝、少商、商陽、關衝、少衝、少澤，使血氣流通，實起死回生急救之妙訣也。</p>
<p>三裡三間並二間，主治牙疼食物難，兼治偏風眼目疾，鍼灸三穴莫教偏。</p>
<p>【注】三裡、三間、二間三穴，主治牙齒疼痛，食物艱難，及偏風眼目諸疾，三穴並鍼灸之。三裡穴鍼二分，灸三壯。二間穴鍼三分，灸三壯。三間穴鍼三分，灸三壯。</p>
<p>合谷主治破傷風，痹痛筋急鍼止疼，兼治頭上諸般病，水腫產難小兒驚。</p>
<p>【注】合谷穴，主治破傷風，風痹，筋骨疼痛，諸般頭痛，水腫，產難，及小兒急驚風等證。鍼三分，留六呼，灸三壯。</p>
<p>陽谿主治諸熱證，癮疹痂疥亦當鍼，頭痛牙痛咽喉痛，狂妄驚中見鬼神。</p>
<p>【注】陽谿穴，主治熱病煩心，癮疹，痂疥，厥逆，頭痛，牙疼，咽喉腫痛，及狂妄，驚恐見鬼等證。鍼三分，留七呼，灸三壯。</p>
<p>曲池主治是中風，手攣筋急痛痹風，兼治一切瘧疾病，先寒後熱自然平。</p>
<p>【注】曲池穴，主治中風，手攣，筋急，痹風，瘧疾先寒後熱等證。鍼五分，灸七壯。</p>
<p>肩井一穴治仆傷，肘臂不舉淺刺良，肩　主治癱瘓疾，手攣肩腫效非常。</p>
<p>【注】肩井穴，主治仆傷，肘臂疼痛不舉。鍼五分，灸五壯，孕婦禁鍼。肩　穴，主治癱瘓，手攣肩腫。鍼六分，灸五壯。</p>
<p>少澤主治衄不止，兼治婦人乳腫疼，大陵一穴何專主？嘔血瘧疾有奇功。</p>
<p>【注】少澤穴，主治鼻衄不止，婦人乳腫。鍼一分，灸三壯。大陵穴，主治嘔血，瘧疾。鍼六分，灸三壯。</p>
<p>前谷主治癲癇疾，頸項肩臂痛難堪，更能兼治產無乳。小海喉齦腫痛痊。</p>
<p>【注】前谷穴，主治癲癇，頸項頬腫引耳疼痛，及婦人產後無乳等證。鍼一分，留三呼，灸三壯。小海穴，主治咽喉，牙齦腫痛等證。鍼二分，灸五壯。</p>
<p>腕骨主治臂腕疼，五指諸疾治可平，後谿能治諸瘧疾，能令癲癇漸漸輕。</p>
<p>【注】腕骨穴，主治臂、腕、五指疼痛。鍼二分，灸三壯。後谿穴，主治瘧疾，癲癇。鍼一分，灸一壯。</p>
<p>陽谷主治頭面病，手膊諸疾有多般，兼治痔漏隂痿疾，先鍼後灸自然痊。</p>
<p>【注】陽谷穴，主治頭面項腫，手膊疼痛不舉，及痔漏，隂痿等證。鍼二分，灸三壯。</p>
<p>支正穴治七情郁，肘臂十指盡皆攣，兼治消渴飲不止，補瀉分明自可安。</p>
<p>【注】支正穴，主治七情郁結不舒，肘臂十指筋攣疼痛，及消渴飲水不止等證。鍼三分，灸三壯。</p>
<p>液門主治喉齦腫，手臂紅腫出血靈，又治耳聾難得睡，刺入三分補自寧。</p>
<p>【注】液門穴，主治咽喉外腫，牙齦痛，手臂紅腫，耳暴聾，不得眠等證。鍼三分，留二呼，灸三壯。</p>
<p>中渚主治肢木麻，戰振蜷攣力不加，肘臂連肩紅腫痛，手背癰毒治不發。</p>
<p>【注】中渚穴，主治四肢麻木、戰振、蜷攣無力，肘臂連肩紅腫疼痛，手背癰毒等證。鍼二分，灸三壯。</p>
<p>陽池主治消渴病，口乾煩悶瘧熱寒，兼治折傷手腕痛，持物不得舉臂難。</p>
<p>【注】陽池穴，主治消渴，口乾煩悶，寒熱瘧，或因折傷手腕，持物不得，臂不能舉等證。鍼二分，禁灸。</p>
<p>外關主治臟腑熱，肘臂脅肋五指疼，瘰　結核連胸頸，吐衄不止血妄行。</p>
<p>【注】外關穴，主治五臟六腑結熱，鼻衄吐血不止，及肘臂脅肋手指節痛，瘰　結核，繞頸連胸，腫痛不消等證。鍼三分，留七呼，灸三壯。</p>
<p>支溝中惡卒心痛，大便不通脅肋疼，能瀉三焦相火盛，兼治血脫暈迷生。</p>
<p>【注】支溝穴，主治鬼擊卒心痛，凡三焦相火熾盛及大便不通，脅肋疼痛，婦人產後血暈，不省人事等證。鍼二分，留七呼，灸七壯。</p>
<p>天井主瀉瘰　疹，角孫惟主目翳生，耳門耳聾　耳病，絲竹空穴治頭風。</p>
<p>【注】天井穴，主治瘰　，癮疹。鍼三分，灸五壯。角孫穴，主治目中生翳。鍼三分，灸三壯。耳門穴，主治耳聾；　耳膿汁。鍼三分，留三呼，禁灸。絲竹空穴，主治頭痛，目赤目眩，視物　。鍼三分，留三呼，禁灸。</p>
<p><a href="_files/p06-d43a103.bmp">仰手要穴圖</a></p>
<p><a href="_files/p06-d43a104.bmp">覆手要穴圖</a></p>
<h3>足部主病鍼灸要穴歌</h3>
<p>隱白主治心脾痛，築賔能醫氣疝疼，照海穴治夜發　，兼療消渴便不通。</p>
<p>【注】隱白穴，主治心脾疼痛。鍼一分，灸三壯。築賔穴，主治氣疝。鍼三分，灸五壯。照海穴，主治夜發　證，及消渴大便閉。鍼三分，灸三壯。</p>
<p>大都主治温熱病，傷寒厥逆嘔悶煩，胎產百日內禁灸，千金主灸大便難。</p>
<p>【注】大都穴，主治温熱病汗不出，傷寒手足逆冷，腹滿，嘔吐，悶亂，及大便難等證。鍼三分，留七呼，灸三壯。凡婦人懷孕，及生產後未滿百日，俱不宜灸。</p>
<p>太白主治痔漏疾，一切腹痛大便難，痞疸寒瘧商邱主，兼治嘔吐瀉痢痊。</p>
<p>【注】太白穴，主治痔漏，腹中疼痛，大便不通等證。鍼三分，留七呼，灸三壯。商白穴，主治痞氣，黃膽，寒瘧及嘔、吐、瀉、痢等證。鍼三分，留七呼，灸三壯。</p>
<p>公孫主治痰壅膈，腸風下血積塊　，兼治婦人氣蠱病，先補後瀉自然瘥。</p>
<p>【注】公孫穴，主治痰壅胸膈，腸風下血積塊，及婦人氣蠱等證。鍼四分，灸三壯。</p>
<p>三隂交治痞滿堅，痼冷疝氣香港腳纏，兼治不孕及難產，遺精帶下淋瀝痊。</p>
<p>【注】三隂交穴，主治痞滿，痼冷，疝氣，遺精，及婦人香港腳，月信不調，久不成孕，難產，赤白帶下淋瀝等證。鍼三分，灸三壯。</p>
<p>血海主治諸血疾，兼治諸瘡病自輕，隂陵泉治脅腹滿，刺中下部盡皆松。</p>
<p>【注】血海穴，主治女子崩中漏下，月信不調，帶下，及男子腎臟風，兩腿瘡癢濕痛等證。鍼五分，灸五壯。隂陵泉穴，主治脅腹脹滿，隂痛，足膝紅腫，小便不通，小便失禁不覺，下部等證。鍼五分，留七呼，灸三壯。</p>
<p>涌泉主刺足心熱，兼刺奔豚疝氣疼，血淋氣痛疼難忍，金鍼瀉動自安寧。</p>
<p>【注】涌泉穴，主治足發熱，奔豚，疝氣疼痛，血淋，氣痛等證。鍼三分，留三呼，灸三壯。</p>
<p>然谷主治喉痹風，咳血足心熱遺精，疝氣温瘧多渴熱，兼治初生兒臍風。</p>
<p>【注】然谷穴，主治喉痹，唾血，遺精，温瘧，疝氣，足心熱，及小兒撮口臍風。鍼三分，留三呼，灸三壯。凡鍼不宜見血。</p>
<p>太谿主治消渴病，兼治房勞不稱情，婦人水蠱胸脅滿，金鍼刺後自安寧。</p>
<p>【注】太谿穴，主治消渴，房勞，不稱心意，及婦人水蠱，胸脅脹滿等證。鍼三分，留七呼，灸三壯。</p>
<p>隂谷舌縱口流涎，腹脹煩滿小便難，疝痛隂痿及痹病，婦人漏下亦能痊。</p>
<p>【注】隂谷穴，主治舌縱涎下，腹脹，煩滿，尿難，小腹疝急引隂、隂股內廉痛為痿痹，及女人漏下不止。鍼四分，留七呼，灸三壯。</p>
<p>復溜血淋宜乎灸，氣滯腰疼貴在鍼，傷寒無汗急瀉此，六衇沉伏即可伸。</p>
<p>【注】復溜穴主治血淋，氣滯腰痛，傷寒無汗，六衇沉匿者。鍼三分，留三呼，灸五壯。</p>
<p>大敦治疝隂囊腫，兼治腦衄破傷風，小兒急慢驚風病，炷如小麥灸之靈。</p>
<p>【注】大敦穴，主治諸疝，隂囊腫，腦衄，破傷風，及小兒急慢驚風等證。鍼二分，留十呼，灸三壯。</p>
<p>行間穴治兒驚風，更刺婦人血蠱　，渾身腫脹單腹脹，先補後瀉自然平。</p>
<p>【注】行間穴，主治小兒急慢驚風，及婦人血蠱　瘕，渾身腫，單腹脹等證。鍼三分，留十呼，灸三壯。</p>
<p>大衝主治腫脹滿，行動艱辛步履難，兼治霍亂吐瀉證，手足轉筋灸可痊。</p>
<p>【注】太衝穴，主治腫滿，行步艱難，及霍亂吐瀉，手足轉筋等證。鍼三分，留十呼，灸三壯。</p>
<p>中封主治遺精病，隂縮五淋溲便難，鼓脹癭氣隨年灸，三裡合灸步履艱。</p>
<p>【注】中封穴，主治夢泄遺精，隂縮，五淋，不得尿，鼓脹，癭氣。此穴合足三裡並灸治行步艱辛。中封穴鍼四分，留七呼，灸三壯。足三裡穴鍼五分，留七呼，灸三壯。</p>
<p>曲泉　疝隂股痛，足膝脛冷久失精，兼治女子隂挺癢，少腹冷痛血瘕　。</p>
<p>【注】曲泉穴，主治　疝，隂股痛，男子失精，膝脛冷痛，及女子隂挺出，少腹疼痛，隂癢，血瘕等證。鍼六分，留七呼，灸三壯。</p>
<p>伏兔主刺腿膝冷，兼刺香港腳痛痹風，若逢穴處生瘡癤，說與醫人莫用功。</p>
<p>【注】伏兔穴，主治腿膝寒冷，香港腳痛痹。鍼五分，禁灸。凡此穴處生瘡癤者危。</p>
<p>隂市主刺痿不仁，腰膝寒如注水侵，兼刺兩足拘攣痹，寒疝少腹痛難禁。</p>
<p>【注】隂市穴，主治痿痹不仁，不得屈伸，腰膝寒如注水，兩足拘攣痹痛，寒疝，少腹疼痛等證。鍼三分，留七呼，禁灸。</p>
<p>足三裡治風濕中，諸虚耳聾上牙疼，噎膈鼓脹水腫喘，寒濕香港腳及痹風。</p>
<p>【注】足三裡穴，治中風，中濕，諸虚，耳聾，上牙疼，水腫，心腹鼓脹，噎膈哮喘，寒濕香港腳，上、中、下三部痹痛等證。鍼五分，留七呼，灸三壯。此穴三十外方可灸，不爾反生疾。</p>
<p>解谿主治風水氣，面腹足腫喘嗽頻，氣逆發噎頭風眩，悲泣癲狂悸與驚。</p>
<p>【注】解谿穴，主治風氣面浮，腹脹，足腫，喘滿，咳嗽，氣逆發噎，頭痛，目眩，悲泣癲狂，驚悸，怔忡等證。鍼五分，留五呼，灸三壯。</p>
<p>陷谷主治水氣腫，善噫痛疝腹腸鳴，無汗振寒痰瘧病，胃衇得弦瀉此平。</p>
<p>【注】陷谷穴，主治面目浮腫，及水病善噫，疝氣少腹痛，腸鳴腹痛，瘧疾振寒無汗等證。或胃衇得弦。皆宜鍼五分，留七呼，灸三壯。</p>
<p>內庭主治痞滿堅，左右繆灸腹響寬，兼刺婦人食蠱脹，行經頭暈腹疼安。</p>
<p>【注】內庭穴，主治痞滿堅硬。鍼三分，留十呼，灸三壯。患右灸左，患左灸右，但覺腹響是其效驗。兼治婦人食蠱，行經頭暈，少腹痛等證。</p>
<p>厲兑主治尸厥證，驚狂面腫喉痹風，兼治足寒膝臏腫，相偕隱白夢魘靈。</p>
<p>【注】厲兑穴，主治尸厥口噤氣絕，狀如中惡，面腫喉痹驚狂，好臥足寒，膝臏腫痛等證。鍼一分，留一呼，灸一壯。此穴合隱白穴同鍼，治夢魘不寧。鍼一分，灸三壯。</p>
<p>飛陽主治步艱難，金門能療病癲癇，足腿紅腫昆侖主，兼治齒痛亦能安。</p>
<p>【注】飛陽穴，主治步履艱難。鍼三分，灸三壯。金門穴，主治癲狂羊癇風。鍼一分，灸三壯。昆侖穴，主治足腿紅腫，牙齒疼痛。鍼三分，灸三壯。</p>
<p>晝發　證治若何，金鍼申衇起沉　，上牙疼兮下足腫，亦鍼此穴自平和。</p>
<p>【注】申衇穴，主治晝發　證，足腫牙疼。鍼三分，留七呼，灸三壯。灸不及鍼。</p>
<p>環跳主治中風濕，股膝筋攣腰痛疼，委中刺血醫前證，開通經絡最相應。</p>
<p>【注】環跳穴，主治腰、胯、膝中受風寒濕氣，筋攣疼痛。鍼一寸，留十呼，灸三壯。</p>
<p>委中穴治證同環跳穴，但此穴禁灸，鍼五分。</p>
<p>陽陵泉治痹偏風，兼治霍亂轉筋疼，承山主鍼諸痔漏，亦治寒冷轉筋靈。</p>
<p>【注】陽陵泉穴，主治冷痹偏風，霍亂轉筋。鍼六分，灸三壯。承山穴，主治痔漏疼痛，寒冷轉筋。鍼七分，灸五壯，灸不及鍼。</p>
<p>陽輔主治膝酸痛，腰間溶溶似水浸，膚腫筋攣諸痿痹，偏風不遂灸功深。</p>
<p>【注】陽輔穴，主治膝　酸疼，腰間寒冷，膚腫筋攣，百節酸疼，痿痹，偏風不遂等證。</p>
<p>鍼三分，留七呼，灸三壯。</p>
<p>風市主治腿中風，兩膝無力香港腳沖，兼治渾身麻搔癢，艾火燒鍼皆就功。</p>
<p>【注】風市穴，主治腿中風濕，疼痛無力，香港腳，渾身搔癢麻痹等證。鍼五分，灸五壯。</p>
<p>懸鐘主治胃熱病，腹脹肋痛香港腳疼，兼治腳脛濕痹癢，足指疼痛鍼可停。</p>
<p>【注】懸鐘穴，主治胃熱，腹脹，脅痛，香港腳，腳脛濕痹，渾身搔癢，趾疼等證。鍼六分，灸五壯。</p>
<p>丘墟主治胸脅痛，牽引腰腿髀樞中，小腹外腎腳腕痛，轉筋足脛不能行。</p>
<p>【注】丘墟穴，主治胸脅滿痛不得息，牽引腰、腿、髀樞中疼痛，少腹外腎痛，腳腕轉筋痛，足脛難行等證。鍼五分，灸三壯。</p>
<p>頸漏腹下馬刀瘡，連及胸脅乳癰瘍，婦人月經不利病，下臨泣穴主治良。</p>
<p>【注】臨泣穴，主治頸漏，腋下馬刀，連及胸脅，婦人乳癰，月信不調等證。鍼二分，灸三壯。</p>
<p>侠谿主治胸脅滿，傷寒熱病汗難出，兼治目赤耳聾痛，頷腫口噤疾堪除。</p>
<p>【注】侠谿穴，主治胸脅支滿，傷寒熱病汗不出，目赤，耳聾，胸痛，頷腫，口噤等證。鍼三分，灸三壯。</p>
<p>竊隂主治脅間痛，咳不得息熱躁煩，癰疽頭痛耳聾病，喉痹舌强不能言。</p>
<p>【注】竅隂穴，主治脅痛，咳逆不得息，發熱躁煩，癰疽口乾，頭痛喉痹，舌强耳聾等證。鍼一分，灸三壯。</p>
<p><a href="_files/p06-d43a105.bmp">隂足要穴圖</a></p>
<p><a href="_files/p06-d43a106.bmp">陽足要穴圖</a></p>
<h2>卷八</h2>
<h3>灸難產穴歌</h3>
<p>橫逆難產灸奇穴，婦人右腳小指尖。炷如小麥灸三壯，下火立產效通仙。</p>
<p>【注】婦人橫產，子手先出，諸符藥不效者，灸此。其穴在右腳小趾爪甲外側尖上，即至隂穴也。灸三壯，艾炷如小麥，下火立產。</p>
<p><a href="_files/p06-d43a107.bmp">灸難產穴圖</a></p>
<h3>鍼子户穴歌</h3>
<p>子户能刺衣不下，更治子死在腹中，穴在關元右二寸，下鍼一寸立時生。</p>
<p>【注】胞衣不出，子死腹中，宜刺子户穴，鍼入一寸。其穴在任衇經之關元穴傍右二寸。</p>
<p><a href="_files/p06-d43a108.bmp">鍼子户穴圖</a></p>
<h3>灸遺精穴歌</h3>
<p>精宮十四椎之下，各開三寸是其鄉。左右二穴灸七壯，夜夢遺精效非常。</p>
<p>【注】遺精灸精宮穴，其穴在脊之十四椎下，左右傍開各三寸，灸七壯。</p>
<p><a href="_files/p06-d43a109.bmp">灸遺精穴圖</a></p>
<h3>灸癆蟲穴歌</h3>
<p>鬼眼一穴灸癆蟲，墨點病患腰眼中，擇用癸亥亥時灸，勿令人知法最靈。</p>
<p>【注】勞瘵日久不愈，互相傳染，因內有勞蟲，宜灸鬼眼穴。穴在腰間兩旁，正身直立，有微隱處，用墨點記，合面而臥，以小艾炷灸七壯，或九壯十一壯，多寡量人，蟲即吐瀉而也，急取燒毀遠棄，可免復傳。擇癸亥日夜半，六神皆聚，亥時灸之，勿使病人預知，恐尸神有覺也。</p>
<p><a href="_files/p06-d43a110.bmp">灸癆蟲穴圖</a></p>
<h3>灸痞根穴歌</h3>
<p>十二椎下痞根穴，各開三寸零五分，二穴左右灸七壯，難消痞塊可除根。</p>
<p>【注】痞塊灸痞根穴，其穴在脊之十二椎下，旁開三寸半。痞塊多在左則灸左，在右則灸右，如左右俱有，左右俱灸之。</p>
<p><a href="_files/p06-d43a111.bmp">灸痞根穴圖</a></p>
<h3>灸肘尖穴歌</h3>
<p>肘尖端處是奇穴，男女瘰　堪灸也，左患灸右右灸左，並灸風池效更捷。</p>
<p>【注】肘尖奇穴灸瘰　，左患灸右，右患灸左。如初起時，男先灸左，女先灸右，兼灸風池穴尤效。風池穴在腦後顳　穴後，發際陷中。</p>
<p><a href="_files/p06-d43a112.bmp">灸肘尖穴圖</a></p>
<h3>灸鬼哭穴歌</h3>
<p>中惡振噤鬼魅病，急灸鬼哭神可定，兩手大指相並縛，穴在四處之騎縫。</p>
<p>【注】鬼哭穴，灸鬼魅狐惑，恍惚振噤等證。取穴：將兩手大指相並縛定，用艾炷於兩甲角反甲後肉四處騎縫。著火灸之，則患者哀告我自去為效。</p>
<p><a href="_files/p06-d43a113.bmp">灸鬼哭穴圖</a></p>
<h3>灸中惡穴歌</h3>
<p>尸疰客忤中惡病，乳後三寸量準行，男左女右艾火灸，邪祟驅除神自寧。</p>
<p>【注】灸尸疰、客忤、中惡等證。其穴在乳後三寸，男左女右灸之。</p>
<p><a href="_files/p06-d43a114.bmp">灸中惡穴圖</a></p>
<h3>灸疝氣穴歌</h3>
<p>疝氣偏墜灸為先，量口兩角折三尖，一尖向上對臍中，兩尖下垂是穴邊。</p>
<p>【注】灸疝痛偏墜奇穴法，用稈心一條，量患人口兩角為則，折為三段如△字樣，以一角安臍中心，兩角安臍下兩傍，尖畫處是穴。左患灸右，右患灸左，左右俱患，左右俱灸。艾炷如粟米大，灸四壯。</p>
<p><a href="_files/p06-d43a115.bmp">灸疝氣穴圖</a></p>
<h3>灸翻胃穴歌</h3>
<p>翻胃上下灸奇穴，上在乳下一寸也，下在內踝之下取，三指稍斜向前者。</p>
<p>【注】灸翻胃奇穴，上穴在兩乳下一寸；下穴在內踝下用手三指稍斜向前排之，即是穴也。</p>
<p><a href="_files/p06-d43a116.bmp">灸翻胃穴圖</a></p>
<h3>灸腸風穴歌</h3>
<p>腸風諸痔灸最良，十四椎下奇穴鄉，各開一寸宜多灸，年深久痔效非常。</p>
<p>【注】灸腸風諸痔奇穴。其穴在脊十四椎下，傍各開一寸。年深者，灸之最效。</p>
<p><a href="_files/p06-d43a117.bmp">灸腸風穴圖</a></p>
<h3>灸暴絕穴歌</h3>
<p>鬼魘暴絕最傷人，急灸鬼眼可回春，穴在兩足大趾內，去甲韭葉鬼難存。</p>
<p>【注】凡一切鬼魘暴絕，當灸奇穴。在足兩大趾內，去爪甲如韭葉許，名鬼眼穴。灸之則鬼邪自去，而病可愈也。</p>
<p><a href="_files/p06-d43a118.bmp">灸暴絕穴圖</a></p>
<h3>灸鬼眼穴歌</h3>
<p>腫滿上下灸奇穴，上即鬼哭不用縛，下取兩足第二趾，趾尖向後寸半符。</p>
<p>【注】灸腫滿奇穴，上穴即兩手大指縫，鬼哭穴也；下穴在兩足第二趾趾尖後一寸五分，即是也。</p>
<p><a href="_files/p06-d43a119.bmp">灸鬼眼穴圖</a></p>
<h3>灸贅疣穴歌</h3>
<p>贅疣諸痣灸奇穴，更灸紫白二癜風，手之左右中指節，屈節尖上宛宛中。</p>
<p>【注】灸癜風及贅疣諸痣奇穴，其穴在左右手中指節宛宛中，俗名拳尖是也。</p>
<p><a href="_files/p06-d43a120.bmp">灸贅疣穴圖</a></p>
<h3>灸瘰穴歌</h3>
<p>瘰　隔蒜灸法宜，先從後發核灸起，灸到初發母核止，多著艾火效無匹。</p>
<p>【注】瘰　隔蒜灸法，用獨蒜片先從後發核上灸起，到初發母核而止，多灸自效。</p>
<p><a href="_files/p06-d43a121.bmp">灸瘰　穴圖</a></p>
<h3>灸腋氣歌</h3>
<p>腋氣除根剃腋毛，再將定粉水調膏，塗搽患處七日後，視有黑孔用艾燒。</p>
<p>【注】凡腋氣先用快刀剃去腋毛淨，乃用好定粉水調搽患處，六七日後，看腋下有一點黑者，必有孔如鍼大，或如簪尖，即氣竅也。用艾炷如米大者灸之，三四壯愈，永不再發。</p>
<p><a href="_files/p06-d43a122.bmp">灸腋氣圖</a></p>
<h3>灸瘋犬咬傷歌</h3>
<p>瘋犬咬傷先須吮，吮盡惡血不生風，次於咬處灸百壯，常食炙韭不須驚。</p>
<p>【注】瘋犬咬傷之處，急急用大嘴砂酒壺一個，內盛干燒酒，燙極熱，去酒以酒壺嘴向咬處，如拔火罐樣，吸盡惡血為度，擊破自落。上用艾炷灸之，永不再發。炙韭，炒韭菜也。</p>
<h3>灸蛇蠍蜈蚣蜘蛛咬傷歌</h3>
<p>蛇蠍蜈蚣蜘蛛傷，即時疼痛最難當，急以傷處隔蒜灸，五六十壯效非常。</p>
<p>【注】凡蛇、蠍、蜈蚣、蜘蛛咬傷，痛急勢危者，急用艾火於傷處灸之，拔散毒瓦斯即安；或用獨蒜片隔蒜灸之，二三壯換一片，毒甚者，灸五六十壯。</p>
<h3>足三裡穴歌</h3>
<p>三裡膝眼下，三寸兩筋間，能除胸脅痛，腹脹胃中寒，腸鳴並泄瀉，眼腫膝脛酸，傷寒羸瘦損，氣蠱證諸般，氣過三旬後，鍼灸眼光全。</p>
<p>【注】三裡，足三裡穴也。其穴在膝眼下三寸，　骨外廉，大筋內宛宛中，鍼五分，留七呼，灸三壯。主治胸脅疼痛，腹脹，胃寒，腸中雷鳴，脾寒泄瀉，眼目紅腫，膝脛酸痛，傷寒熱不已，瘦弱虚損，小腸氣痛，與水氣，蠱毒，鬼擊諸證，悉宜鍼灸，但小兒忌灸，恐眼目不明，惟三十以外方可灸之，令眼目光明也。</p>
<p><a href="_files/p06-d43a123.bmp">足三裡穴圖</a></p>
<h3>內庭穴歌</h3>
<p>內庭次趾外，夲属足陽明，能治四肢厥，喜靜惡聞聲，癮疹咽喉痛，數欠及牙疼，瘧疾不思食，耳鳴鍼便清。</p>
<p>【注】內庭穴，在足之大趾次趾外間陷中，属足陽明胃經穴也。主治四肢厥逆，喜靜惡聞人聲，癮疹不快，咽喉腫痛，數欠，牙齦疼，瘧疾，不思飲食，耳內蟬鳴等證。鍼三分，留十呼，灸三壯。</p>
<p><a href="_files/p06-d43a124.bmp">內庭穴圖</a></p>
<h3>曲池穴歌</h3>
<p>曲池拱手取，屈肘骨邊求，善治肘中痛，偏風手不收，挽弓開不得，臂瘓怯梳頭，喉痹促欲死，發熱更無休，遍峰風癬癩，鍼著即時瘳。</p>
<p>【注】曲池穴，其穴在肘輔骨屈肘屈骨之中，以手拱胸取之。主治肘中疼痛，偏風半身不遂，臂痛拉弓不開，兩臂癱瘓不能舉手向發，喉痹喘促欲死，傷寒振寒，余熱不盡，皮膚干燥，痂疥等證。刺七分，留七呼，灸三壯。</p>
<p><a href="_files/p06-d43a125.bmp">曲池穴圖</a></p>
<h3>合谷穴歌</h3>
<p>合谷在虎口，兩指岐骨間，頭疼並面腫，瘧病熱還寒，體熱身汗出，目暗視茫然，齒齲鼻衄血，口噤不能言，鍼入深三分，能令人病安。</p>
<p>【注】合谷穴，其穴在手大指次指岐骨間陷中。主治偏正頭疼，面目浮腫，瘧疾寒熱，身體發熱，汗不收，目翳視物不明，齒蠹朽痛，鼻中流血不止，口噤不開等證。鍼三分，留六呼，灸三壯。</p>
<p><a href="_files/p06-d43a126.bmp">合谷穴圖</a></p>
<h3>委中穴歌</h3>
<p>委中曲　裡，橫紋衇中央，腰痛不能舉，酸沉引脊梁，風癇及轉筋，冬季難移向，風痹痛無比，熱病久在床，足膝難伸屈，鍼入即安康。</p>
<p>【注】委中穴，其穴在　中央，約紋動衇陷中。主治腰脊沉墜疼痛，　，及兩腿肚轉筋，疼痛難動，風痹疼痛，流注不定，熱病難愈，兩足膝疼痛難伸屈等證。鍼五分，溜七呼，禁灸。</p>
<p><a href="_files/p06-d43a127.bmp">委中穴圖</a></p>
<h3>承山穴歌</h3>
<p>承山名魚腹，腸分肉間，善治腰疼痛，痔疾大便難，香港腳並膝腫，兩足盡寒酸，展轉成時疫，戰栗瘧熱寒，霍亂及轉筋，刺之立便安。</p>
<p>【注】承山穴，其穴在腿肚下尖分肉間。主治腰背疼痛，痔腫，大便難，香港腳膝腫，脛酸跟痛，傷寒時疫，寒熱瘧疾，戰栗不能行立，霍亂轉筋等證。鍼五分，灸五壯。</p>
<p><a href="_files/p06-d43a128.bmp">承山穴圖</a></p>
<h3>太衝穴歌</h3>
<p>太衝足大趾，節後二寸中，動衇知生死，能醫驚癇風，咽喉並心腋，兩足不能動，七疝偏墜腫，眼目似云朦，亦能療腰痛，鍼下有神功。</p>
<p>【注】太衝穴，其穴在足大趾夲節後二寸陷中。動衇應手，病者有此衇生，無此衇者死。主治急慢驚風，羊癇風證，及咽喉疼痛，心腋脹滿，寒濕香港腳痛，行步難，小腹疝氣，偏墜疼痛，兩目昏暗，腰背疼痛等證。鍼三分，留十呼，灸三壯。</p>
<p><a href="_files/p06-d43a129.bmp">太衝穴圖</a></p>
<h3>昆侖穴歌</h3>
<p>昆侖足外踝，跟骨上邊尋，轉筋腰尻痛，膊重更連隂，頭疼脊背急，暴喘滿衝心，舉步行不得，動足即伸吟，若欲求安樂，須將此穴鍼。</p>
<p>【注】昆侖穴，在足外踝後五分跟骨上陷中。主治腰尻疼痛，膊重不能舉，及前隂腫痛，偏正頭痛，脊背拘急，暴咳喘仲，足　腫不得履地等證。鍼三分，留七呼，灸三壯。</p>
<p><a href="_files/p06-d43a130.bmp">昆侖穴圖</a></p>
<h3>環跳穴歌</h3>
<p>環跳在髀樞，側臥屈足取。能鍼偏廢軀，折腰返顧難，冷風並濕痹，身體似繩牽，腿胯連痛，屈轉重吁嘆，若人能鍼灸，頃刻病消痊。</p>
<p>【注】環跳穴，其穴在髀樞中，側臥伸下足屈上足取之。主治半身不遂，閃挫腰痛不能回顧，冷風濕痹，周身拘急，腿胯腿肚疼痛不能動轉等證。鍼一寸，留十呼，灸三壯。</p>
<p><a href="_files/p06-d43a131.bmp">環跳穴圖</a></p>
<h3>陽陵泉穴歌</h3>
<p>陽陵居膝下，外廉一寸中。膝腫並麻木，冷痹及偏風，起坐腰背重，面腫滿胸中，舉足不能起，坐臥似衰翁，鍼入六分止，神功妙不同。</p>
<p>【注】陽陵泉穴，其穴在膝下一尺，外廉陷中，尖骨前筋骨間。主治兩膝腫痛，及冷痹不仁，半身不遂，腰背重痛，起坐艱難，面目浮腫，胸中脹滿，兩足疼痛難移，起坐不能支持等證。鍼六分，留十呼，灸七壯。</p>
<p><a href="_files/p06-d43a132.bmp">陽陵泉穴圖</a></p>
<h3>通裡穴歌</h3>
<p>通裡腕側後，去腕一寸中。欲言聲不出，懊　及怔忡，實則四肢重，頭腮面頬紅，聲平仍數欠，喉痹氣難通，虚則不能食，暴喑面無容，毫鍼微微刺，方信有神功。</p>
<p>【注】通裡穴，其穴在腕側後一寸陷中。主治聲啞，心煩極甚，怔忡不寧，四肢重痛，頭腮面頬紅腫，倦言，數欠，喉咽疼痛，氣息不通，虚損不思食，暴喑面無潤澤。鍼三分，灸三壯。</p>
<p><a href="_files/p06-d43a133.bmp">通裡穴圖</a></p>
<h3>列缺穴歌</h3>
<p>列缺腕側上，次指手交叉，善療偏頭患，遍身風痹麻，痰涎頻上壅，口噤不開牙，若能明補瀉，應手即能瘥。</p>
<p>【注】列缺穴，其穴在腕後側上一寸五分，兩手交叉，當食指末筋骨罅中。主治偏風頭痛，遍身風痹麻木，痰壅氣堵，口噤不開等證。鍼二分，留三呼，灸三壯。</p>
<p><a href="_files/p06-d43a134.bmp">列缺穴圖</a></p>
<h3>四季鍼灸坐向歌</h3>
<p>四季鍼灸坐向理，宜從四季順自然，東南西北四維向，以迎生氣夲乎天。</p>
<p>【注】鍼灸坐向，避忌之理，《醫學入門》：「春坐東向西，夏坐南向北，秋坐西向東，冬坐北向南。」皆背四季生氣之向，不可為法。宜從春向東，夏向南，秋向西，冬向北，四土旺月向四維，以迎生氣，夲乎天理，順其自然為是也。</p>
<h3>灸法點穴用火歌</h3>
<p>點穴坐臥立直正，炷用蘄艾火珠良，灸病古忌八木火，令時通行一炷香。</p>
<p>【注】凡灸法，坐點穴則坐灸，臥點穴則臥灸，立點穴則立灸。須四體平直，毋令傾側，若傾側穴即不正。其炷所用之艾，必用蘄艾，艾令干燥，入臼搗去淨塵屑，作炷堅實，置穴上，用蔥涎黏固。上古用火珠映日取火點之，忌松、柏、枳、橘、榆、棗、桑、竹八木之火；今時惟用香火灼艾，亦通行簡便之法也。</p>
<h3>灸法早晚次序歌</h3>
<p>灸法温暖宜於午，上下陽隂先後分，衇數新愈不宜灸，欲灸三裡過三旬。</p>
<p>【注】凡灸百病，原為温暖經絡，宜在午時陽盛之時，火氣易行，必發上下先後：上下經皆灸者，先灸上，後灸下；隂陽經皆灸者，先灸陽，後灸隂。若衇數有熱，新愈氣虚，俱不宜灸，恐傷氣血。但人有病，欲灸足三裡者，須年三十以上，方許灸之，恐年少火盛傷目。故凡灸頭，必灸足三裡者，以足三裡能下火氣也。</p>
<h3>灸法大小多少歌</h3>
<p>頭骨手足皮薄瘦，巨闕鳩尾小少宜，背腹臍下皮肉濃，大多方能起痼疾。</p>
<p>【注】凡灸諸病，必火足氣到，始能求愈。然頭與四肢，皮肉淺薄，若並灸之，恐肌骨氣血難堪，必分日灸之，或隔日灸之。其炷宜小，壯數宜少。有病必當灸巨闕、鳩尾二穴者，必不可過三壯，艾炷如小麥，恐火氣傷心也。背腹下皮肉深濃，艾炷宜大，壯數宜多，使火氣到，始能去痼冷之疾也。</p>
<h3>灸法調養歌</h3>
<p>灸後風寒須謹避，七情過極慎起居，生冷醇酒諸濃味，惟茹蔬淡適其宜。</p>
<p>【注】凡灸後，須謹避風寒，慎其起居，養其氣血，其喜、怒、憂、思、悲、恐、驚不可過極，和其情志，及禁食一切生冷醇酒濃味等物，即食蔬淡，亦當適宜，不可過度，以調養脾胃也。</p>
<h3>灸瘡調治歌</h3>
<p>灸瘡不發氣血竭，七日發膿病必除，發後膏貼防外襲，薄連蔥荽淨瘡污。</p>
<p>【注】凡灸諸病，灸瘡應發不發，是其氣血大虧，不必復灸，即灸亦多不能愈。過七天之後，艾疤發時，膿水稠多，其病易愈，以其氣血充暢，經絡流通也。發後貼膏藥者，防其六淫外襲也。如灸瘡黑痛，膿汁污穢，乃艾火毒盛，必用薄荷、黃連、蔥皮、芫荽煎湯，洗之自愈也。</p>
<h3>灸瘡膏藥歌</h3>
<p>芩連白芷金星草，乳香淡竹當歸好，薄荷川芎與蔥白，香油煎藥粉成膏。</p>
<p>【注】以上藥味各等分，用香油煎藥去滓，再下鉛粉熬成膏，專貼灸瘡。</p>
<h3>行鍼避忌歌</h3>
<p>行鍼避忌雨大風，飢飽醉怒渴勞驚，男內女外猶堅守，更看人神不可逢。行鍼避忌雖如此，還推病之緩急行，緩病欲鍼擇吉日，急病行鍼莫稍停。</p>
<p>【注】按行鍼避忌，於未刺之先，如風雨晦冥，人之氣血，即凝滯而不調。大飢者氣虚，新飽者氣盛，大醉者氣亂，大怒者氣逆，大渴者液少，大勞者氣乏，大驚者氣散，凡此者衇亂氣散，行鍼須當避忌，俟其必清必靜，聚精會神，方保無誤也。既刺之後，尤當戒慎。男子忌內，女子忌外，忌外者堅拒勿出，忌內者謹守勿內，則邪氣必去，正氣必復，是謂得氣，理固然矣。猶有達變之法存焉，緩病須擇神吉，急病豈可待時哉。</p>
<h3>四季人神所在禁忌鍼灸歌</h3>
<p>四季人神所在處，禁忌鍼灸莫妄施，春在左脅秋在右，冬在於腰夏在臍。</p>
<p>【注】四季人神所在之處，謂人之神氣初動之處，同乎天之流行也，禁鍼灸者恐傷生氣也。人神常在心，春在左脅者肝主升也，秋在右脅者肺主降也，冬在腰者神主藏也，夏在臍者脾主化也。</p>
<h3>逐日人神所在禁忌鍼灸歌</h3>
<p>一日足大二外踝，三日股內四在腰，五口六手七內踝，八腕九尻十背腰，十一鼻柱二發際，三牙四胃五遍身，六胸七氣八股內，九足二十內踝尋，二十一手小二外踝，三日肝足四手明，五足六胸七在膝，八隂九脛晦趺停。</p>
<p>【注】足大，足之大趾也。氣，氣衝也。手小，手之小指也。手明，手陽明也。足，足陽明也。隂，男女前隂中也。晦，月盡也。趺，足十趾岐骨也。</p>
<h3>十二時人神所在禁忌鍼灸歌</h3>
<p>子踝丑頭寅耳邊，卯面辰項巳乳肩，午脅未腹申心主，酉膝戌腰亥股端。</p>
<p>【注】子踝，左、右內踝、外踝也。寅耳邊，左右兩耳也。辰項，頸項也。巳乳肩，兩乳兩肩也。午脅，左右脅也。未腹，大腹少腹也。申心主，胸膈也。酉膝，左右兩膝也。</p>
<p>戌腰，腰背也。亥股，兩股內外也。</p>
<h3>禁鍼穴歌</h3>
<p>禁鍼穴道要先明，腦户囟會及神庭，絡却玉枕角孫穴，顱息承泣隨承靈，神道靈台膻中忌，水分神闕並會隂，橫骨氣衝手五裡，箕門承筋及青靈，乳中上。三陽絡，二十三穴不可鍼。孕婦不宜鍼合谷，三隂交內亦通論，石門鍼灸應須忌，女子終身無妊娠。外有云門並鳩尾，缺盆客主人莫深，肩井深時人悶倒，三裡急補人還平，刺中五臟膽皆死，衝陽血出投幽冥，海泉顴　乳頭上，脊間中髓傴僂形，手魚腹陷隂股內，膝臏筋會及腎經，腋股之下各三寸，目眶關節皆通評。</p>
<h3>禁灸穴歌</h3>
<p>禁灸之穴四十七，承光啞門風府逆，睛明攢竹下迎香，天柱素　上臨泣，腦户耳門衇通，禾　顴　絲竹空，頭維下關人迎等，肩貞大牖心俞同，乳中脊中白環俞，鳩尾淵液和周榮，腹哀少商並魚際，經渠天府及中衝，陽池陽關地五會，漏谷隂陵條口逢，殷門申衇承扶忌，伏兔髀關連委中，隂市下行尋犢鼻，諸穴休將艾火攻。</p>
<h3>制鍼法歌</h3>
<p>制鍼須用馬銜鐵，惟有金鍼更可嘉，　煉塗酥插臘肉，煮鍼之藥有多法。</p>
<p>【注】制鍼用馬嚼環鐵者，以馬属午，午為火，火克金，取剋制之義也。若以真金制鍼，用之更佳。其　煉之法：將鐵絲於火中　紅，截為二寸或三寸或五寸長短不拘，次以蟾酥塗鍼上，入火中微　，取起，復照前塗酥，　三次，乘熱插入臘肉皮之裡，肉之外，將後藥用水三碗煎沸，次入鍼肉在內，煮至水干，傾於水中，待冷將鍼取出，於黃土中插百余下，以去火毒，其鍼要光圓，不可用尖鋒，次以銅絲纏其柄。</p>
<h3>煮鍼藥方</h3>
<p>麝香（五分）　膽礬（一錢）　石斛（一錢）　穿山甲（三錢）　朱砂（三錢）　沒藥（三錢）</p>
<p>川芎（三錢）　細辛（三錢）　甘草節（五錢）　沉香（五錢）　磁石（一兩）</p>
<p>以上諸藥氣味，能引入鍼內。</p>
