<header><h1>藥性切用</h1></header>
<dl class="元資料" data-type="book" hidden></dl>
<h2>卷之一上</h2>
<h3>草部</h3>
<p>（山草類）</p>
<h4>人參</h4>
<p>大補，能回元氣於無有，性味甘溫，肺家專藥。功用靈活，五臟之虛，隨所引而至。</p>
<p>五臟之陽，生陰生血，陽自生而陰自長。退虛火，止煩渴，所謂甘溫能除大熱也。若大虛衄，生噙咽汁，乃氣不攝血，血脫益氣耳。參條：補力稍減，有橫行手臂之功。參蘆：涌虛痰。參須：降泄虛逆。有一種小者，名太子參。氣質稍嫩，其用不下大參。參葉：苦寒雖有瀉熱生津之用，而苦寒之性，不甚益人。虛甚者，忌之。</p>
<h4>珠兒參</h4>
<p>甘寒微苦，入肺而瀉熱，補虛用代沙參之不及。性味稍沉，胃虛者，不宜多用。</p>
<h4>會蘭參</h4>
<p>補虛功在珠參之上，力近東洋。元虛挾微熱而消渴者，較勝，其性甘涼可知。</p>
<h4>潞黨參</h4>
<p>味甘微溫，補益中氣。臟平無火，元氣微虛者宜之。有一種西黨參，微甘帶辛，宜托藥用。白黨參：氣味辛劣，用之發散虛邪，不入補劑。紅黨參：味甘性潤，益血補虛為平穩，但力薄耳。</p>
<h4>西洋參</h4>
<p>苦寒微甘，補氣清肺，氣味濃濃，功在珠參之上。胃虛不耐寒涼者，宜久制用。</p>
<h4>東洋參</h4>
<p>氣味甘平，力能補虛退熱，無寒涼損胃之虞，殊勝西洋，足稱良劑。惟產虛羸弱，忌。</p>
<h4>高麗參</h4>
<p>性溫氣浮，味甘純補，大能退表虛寒熱，稍遜人參之引用靈活耳。</p>
<h4>北沙參</h4>
<p>甘淡性涼，補虛退熱，益五臟之陰，肺虛勞熱者，最宜之。傷寒、溫疫、肺虛挾熱亦可暫用。</p>
<h4>桔梗</h4>
<p>辛苦性平，色白入肺，力能清咽利膈，表散外邪，肺氣滯於大腸者，宜桔梗開之，為藥舟楫，能引沉降之品至於至高之分成功。有一種甜者，兼能解毒，又名薺　，亦可偽參</p>
<h4>甘草</h4>
<p>性味甘平，生用緩中氣、瀉火；炙用溫元氣補中，和藥解毒，中滿忌之。節：行肢節頭：入吐劑。梢：入莖中。</p>
<h4>葳蕤</h4>
<p>即玉竹。甘平性潤，補中益氣，為風溫咽痛專藥。用代參蓍，功力稍緩。</p>
<h4>黃精</h4>
<p>性味甘平，補益中氣，潤養精血，功力輕緩，稍遜玉竹一籌。</p>
<h4>黃蓍</h4>
<p>性味甘溫，生用托邪實表；炙用補中益氣。但其性滯，不似人參之靈活。</p>
<h4>白朮</h4>
<p>苦甘性溫，生用豁痰利水；炒焦燥濕健脾；制熟補脾潤燥；炒黑止血醒脾。其利腰臍血，有健脾之功。蓋脾健氣運，則結血自解。野生者氣清；於潛者力倍；種收者氣濁。第調補錄用，斷難挽回生死。若陰虛燥熱、肝腎有動氣者均忌。</p>
<h4>蒼朮</h4>
<p>苦溫辛烈，燥胃強脾，發汗除濕，能升發胃中陽氣，辟惡解鬱。產茅山者，真米泔浸亦有麻油炒者。燥結多汗忌。</p>
<h4>天麻</h4>
<p>味辛性溫，入肝經氣分。諸風掉眩，頭旋眼黑，屬風痰滯伏者，非此不除。濕紙包，熟用。子名還筒子，能定風益虛。若血液衰少，非真有風邪者，忌用。</p>
<h4>秦艽</h4>
<p>辛苦性平，祛風勝濕，活血舒筋，入手足陽明、肝、膽，亦治骨蒸潮熱，利大小便。</p>
<p>紋者良。</p>
<h4>柴胡</h4>
<p>味苦微寒，生用升陽解表，能引清氣上行，而平少陽，厥陰之邪熱，止諸瘧寒熱，入膽、心包、三焦。酒炒則引入血分，治熱入血室；鹽水炒除煩熱；鱉血炒退骨蒸；醋炒入肝經而調經散結，為解表和裡之專藥。性雖上升，多用不能下泄。其梢專於達下；其汁，滴，治耳聾。若陰虛無邪、氣升火炎者，均為切禁。</p>
<h4>銀州柴胡</h4>
<p>較軟柴胡性味稍平，入肝腎而專治虛勞煩熱，骨蒸髓熱。干長微白者良。</p>
<h4>前胡</h4>
<p>苦辛甘平，入肺而消痰下氣，解熱疏風，為風邪咳嗽之專藥。氣香質嫩者良。無外感勿用。按：柴胡、前胡均是風藥；但柴胡性升，前胡性降為異。</p>
<h4>川獨活</h4>
<p>辛苦微溫，氣緩善搜，入足少陰氣分；以理伏風而勝濕，痙癇、濕痹並宜之。</p>
<p>辛苦微溫，氣緩善搜，入足少陰氣分；以理伏風而勝濕，痙癇、濕痹並宜之。</p>
<p>辛苦微溫，氣緩善搜，入足少陰氣分；以理伏風而勝濕，痙癇、濕痹並宜之。</p>
<p>辛苦微溫，氣緩善搜，入足少陰氣分；以理伏風而勝濕，痙癇、濕痹並宜之。</p>
<h4>北細辛</h4>
<p>性溫味辛，表散寒邪，兼祛浮熱，乃手少陰引經，足少陰本藥。味極辛，能行水氣燥，性極刃烈，不可多用、獨用。</p>
<h4>遠志</h4>
<p>苦辛性溫，散郁泄熱，入手少陰經，能通腎氣上達於心，利九竅，交心腎。甘草水浸若純虛無滯郁者勿用。葉名小草，止泄益陰。</p>
<h4>金毛狗脊</h4>
<p>苦甘微溫，滋腎益肝，除風虛濕痹，強腰腳，利機關，為滋補虛痹良藥。</p>
<h4>淫羊霍</h4>
<p>辛香甘溫，入肝腎而興陽益精。羊脂拌炒用。相火易動者遠之。</p>
<h4>巴戟天</h4>
<p>甘辛微溫，入腎命血分，除風氣、香港腳，強腰壯膝。酒浸焙用。陰虛相火熾者忌之</p>
<h4>瑣陽</h4>
<p>性味甘溫，入腎命而興陽潤燥。大便滑泄、強陽精不固者，均忌。</p>
<h4>肉蓯蓉</h4>
<p>甘酸鹹溫，入腎命血分，潤燥興陽，峻補精血，功近瑣陽。酒浸洗去甲，酥炙用。</p>
<p>亦與瑣陽相同。</p>
<h4>肥白芨</h4>
<p>苦辛性平，氣澀而收，質潤兼補，入肺，止吐血、衄血。肺損者，能復生之。</p>
<h4>參三七</h4>
<p>甘苦微溫，散血，止血，定痛。能損新血，吐衄無瘀者勿服。草三七：功用相仿，稍烈，藜藿輩宜暫用之。</p>
<h4>地榆</h4>
<p>苦酸微寒，性沉而澀；入下焦血分，除血痢，止腸風。俱炒炭用。梢反行血，與根相</p>
<h4>紫丹參</h4>
<p>味苦色赤，氣平而降；入心與包絡，破宿血，生新血，兼四物，為女科要藥。雖能長於行血，血虛無瘀者勿用。</p>
<h4>元參</h4>
<p>苦甘微寒，入肺腎二經。除煩止渴，解毒利咽，瀉無根浮游之火。脾虛泄瀉忌。亦有熟用者。</p>
<h4>苦參</h4>
<p>大苦燥濕，大寒勝熱，沉降入腎，功專解毒消癰。肝腎虛而無濕熱者忌之。</p>
<h4>龍膽草</h4>
<p>大苦大寒，沉陰下行；入肝膽瀉火，兼入膀胱、腎經，以除下焦之濕熱。酒洗亦能大損胃氣，無實火者忌用。</p>
<h4>川黃連</h4>
<p>大苦大寒，入心瀉火，而燥脾濕。瀉火生用，燥濕炒用。豬膽汁炒，治肝膽火；酒治上焦火；薑汁炒，治中焦火；鹽水炒，治下焦火；吳茱湯炒，治濕熱在肝膽氣分；醋治濕熱在心脾。血分無實熱者均忌。連非川產，反能瀉人。</p>
<h4>胡黃連</h4>
<p>性味苦寒，涼驚瀉熱，益肝膽；濃腸胃，治大人骨蒸、小兒疳熱。禁忌同川黃連。</p>
<h4>黃芩</h4>
<p>性味苦寒，瀉肺火，退寒熱。中虛者名枯芩，入肺，以清肌表之熱；內實者名條芩，大腸，而清熱安胎。瀉火生用；退寒熱酒炒用。</p>
<h4>紫草</h4>
<p>甘咸氣寒，入厥陰血分，而涼血活血，為痘瘡血熱專藥。便滑者忌之。</p>
<h4>肥知母</h4>
<p>辛苦寒滑，瀉陽明有餘之熱，滋少陰不足之陰，潤燥止咳，除煩安胎。酒浸炒清上水炒滋下。便滑者均忌之。</p>
<h4>川貝母</h4>
<p>味甘微寒，涼心散郁，清肺而化熱痰。象貝：形堅味苦，瀉熱功勝，不能解鬱也。</p>
<p>形大味苦，瀉熱解毒，外科專藥。俱去心用之。</p>
<h4>白頭翁</h4>
<p>苦堅腎，寒涼血，入陽明血分，兼入厥陰，除熱痢下重。血分無熱者忌之。</p>
<h4>白前</h4>
<p>辛甘微寒，入肺而消痰降氣，能除肺實氣壅。肺虛者忌之。</p>
<h4>白薇</h4>
<p>苦鹹微寒，陽明衝任之藥，退熱益陰，宜於血熱。血虛者，忌之。</p>
<h4>白茅根</h4>
<p>性味甘寒，入肺而涼血、止血。針：可潰膿；花：能止衄。</p>
<h4>白蘚皮</h4>
<p>味甘性燥，氣寒散行，入脾胃而除濕熱，兼入小腸、膀胱。行水道利竅通關，為諸痹專藥。下部虛寒，雖有濕症，勿用。</p>
<h4>延胡索</h4>
<p>辛苦性溫，入手足厥陰、太陰，能行血中氣滯、氣中血滯。生用破血，炒用調血，活血，醋炒止血，必須炒黑。若經事先期，血虛崩中均忌。</p>
<h4>落得打</h4>
<p>性味甘平，治跌打損傷，金瘡出血，並用其根煎湯洗之。酒炒行血，醋炒止血，搗黏，可塗傷腫。</p>
<h4>開金鎖</h4>
<p>性味苦辛，善祛風濕；治手足不遂，筋骨疼痛。與蒼朮、當歸同用，甚效。</p>
<h4>冬蟲夏草</h4>
<p>性味甘平，滋腎保肺，功專止血化痰，能已勞嗽。冬在土中，身活如老蠶，有毛至夏則毛出土上，連身俱化為草，若不取，則至冬復化為蟲。</p>
<h4>錦地蘿</h4>
<p>性平微苦；治山嵐瘴毒，並諸中毒、瘡毒。以根搗汁，酒服一錢，即解。</p>
<h4>水仙根</h4>
<p>味苦微辛，性寒體滑，瀉熱解毒，搗塗癰疽、暴腫。花名金盞銀台，作香澤塗身，氣，又療婦人五心煩熱。</p>
<h2>卷之一中</h2>
<h3>草部</h3>
<p>（芳草類）</p>
<h4>當歸</h4>
<p>甘辛苦溫，入心、肝、脾三經，為養血溫藥，血滯能通，血虛能補，血枯能潤，血亂撫。頭：止血而上行。身：養血而中守。尾：破血而下行。全：活血而流走。酒炒活血，炒止血。極善滑腸，泄瀉忌用。如不得已，土炒可以益脾，糯粉炒可以濃胃，用者詳之。</p>
<h4>白芍藥</h4>
<p>苦酸微寒，入肝脾血分，為手足太陰行經。瀉肝火，斂陰血，安脾肺，固腠理，腹痛之專藥。瀉火生用，斂陰炒用。酒炒和血，醋炒止血。</p>
<h4>赤芍藥</h4>
<p>苦辛微寒，瀉肝火，散惡血。酒炒活血，醋炒亦能止血，必須炒黑；乃治血瘀經絡能歸經之血。如血虛者切忌。按：白芍補而斂陰，赤芍散而瀉血。白益肝能於土中瀉木瀉痢虛弱宜之；赤散邪能行血中之滯，故傷寒營實宜之。</p>
<h4>川芎</h4>
<p>辛溫升浮，入手足厥陰，為足少陽引經。升清陽而開諸郁，潤肝燥而補肝虛，上行頭下行血海，乃搜風散滯，止痛調經之專藥。但辛竄之劑，氣升火炎者，忌單服、久服，暴亡。</p>
<h4>牡丹皮</h4>
<p>辛苦微寒，入手足少陰、厥陰，瀉血中伏火，散瘀除煩，退無汗之骨蒸。生用涼血炒和血。妊婦忌之。</p>
<h4>澤蘭葉</h4>
<p>味苦甘辛，氣香微溫，入足太陰、厥陰，泄熱、行血、利竅、消腫，為產科專藥。</p>
<p>勿用。按：澤蘭走血分，消水腫，是治血化為水之水藥。蘭香草一類二種，走氣分，為良藥。即數食肥甘，傳為消渴；治之以蘭，除陳氣也。</p>
<h4>馬蘭根葉</h4>
<p>性味辛涼，瀉熱解毒，為陽明血分之藥。</p>
<h4>川鬱金</h4>
<p>辛苦微甘，氣香性寒，入心與包絡，兼入肺肝。涼心散郁，破血下氣，為氣中血藥人經脈逆行，血氣刺痛，摩服效速。若吐衄不因氣逆者忌。廣鬱金：破氣破血，少解鬱之功。草鬱金：性味尤烈，藜藿體實，暴怒氣逆、血滯者，可以暫用。</p>
<h4>薑黃</h4>
<p>味苦辛溫，色黃入脾，兼入肝經，破氣散血，烈於鬱金。片子薑黃：橫行手臂，理血之氣，可為風寒濕痹引經。</p>
<h4>蓬莪朮</h4>
<p>辛苦性溫，氣中血藥，入肝，散瘀行氣，消症瘕　癖，醋摩醋炒。烈於鬱金，虛人荊三棱　性味苦平，血中氣藥，入肝，破瘀開結，消堅積老塊。醋炒、面煨。其力虛人忌之。</p>
<h4>金香附</h4>
<p>即莎草子。辛苦微甘，氣香性溫，入十二經；能行血中之氣，解鬱調經，安胎利產女科專藥。生用，上行胸膈，外達皮膚；炒用，下達腎肝，旁徹腰膝。鹽水炒，軟堅潤童便制，散瘀除蒸；青鹽炒，入腎調氣；酒浸炒，入肝行經；醋浸炒，消積聚；薑汁炒痰飲；四制調經，炒黑止血。陰血燥，均當忌之。</p>
<h4>廣木香</h4>
<p>辛香苦溫，入三焦氣分，升降諸氣，力能泄肺疏肝，和脾安胎。調氣生摩；濃腸煨有一種青木香，味稍較苦；功專入肝疏逆，為疝氣專藥。馬兜鈴根，亦名青木香，亦可性稍涼耳。</p>
<h4>砂仁</h4>
<p>即縮砂　，辛溫香；入脾胃而快氣調中，通行結滯，止痛安胎。多服耗氣。炒研去用。</p>
<h4>白豆蔻</h4>
<p>性味辛溫，流行三焦，快膈散滯，為肺家本藥，兼入脾胃。去殼炒研用。殼：主寬胃，力較薄耳。</p>
<h4>草豆蔻</h4>
<p>辛溫氣散，燥濕散滯，溫胃祛風，微炒用。</p>
<h4>草果</h4>
<p>性味辛烈，入胃而破氣除痰，消食化積。炒熟取仁用。按：草果、知母，一陰一陽，果治太陰獨勝之寒，知母治陽明獨勝之熱。</p>
<h4>肉豆蔻</h4>
<p>即肉果。辛溫氣香，暖胃醒脾，固中澀腸。面裹或糯粉包煨，研細用。吐瀉初起忌</p>
<h4>破故紙</h4>
<p>即補骨脂。辛苦大溫，入心包、命門。補火生土，燥濕止瀉。鹽水炒用。多服、單下氣。</p>
<h4>益智仁</h4>
<p>性味辛溫，入脾而兼入心命。開心益智，能通君相，補火攝涎，縮小便。鹽水炒用瀉、遺濁有熱者均忌。</p>
<h4>蛇床子</h4>
<p>辛苦性溫，入腎命而祛風燥濕。除下體濕癢、惡瘡，為外科專藥。</p>
<h4>蓽茇</h4>
<p>性味辛熱，逐胃冷，祛痰涎，下氣，散浮熱，止牙痛、頭痛。醋焙用。性能耗氣動火不可多用。</p>
<h4>高良薑</h4>
<p>辛熱性烈，祛寒逐冷，除中脘作痛如冰。子：名紅豆蔻，性稍輕浮，入脾肺而祛寒微炒用。</p>
<h4>廣藿香</h4>
<p>辛溫芳香，入手足陽明、太陰二經。力能醒脾，祛暑快胃，辟穢，為吐瀉腹痛專藥主和胃化氣，而少溫散之力。土藿香：但能溫胃，殊欠芳香之用。鮮藿滴露：氣味清能達邪，暑症寒熱最宜。</p>
<h4>白芷</h4>
<p>性味辛溫，色白入肺，氣香入脾，發手足陽明之表；祛風燥濕，治頭面、口齒諸疾。</p>
<p>虛火炎者忌之。</p>
<h4>本</h4>
<p>辛溫氣雄，善祛風寒濕邪；入太陽而兼治督脈頭痛上連巔頂，帶濁由清陽下陷，必需</p>
<h4>香薷穗</h4>
<p>性味辛溫，散暑理濕；為夏月冒暑解表之藥，無表邪者忌。</p>
<h4>荊芥穗</h4>
<p>辛苦性溫，芳香氣散，入肺肝氣分，兼入血分。為風邪、血病之專藥。治風生用；炒黑用。然惟風在皮裡膜外者宜之。若風入骨肉，又須防風，不得混用。</p>
<h4>紫蘇葉</h4>
<p>辛溫色紫，入肺而祛寒發表，調氣和血，安胎定喘。氣虛者禁用。蘇子：消痰理嗽郁定喘，炒研用。腸滑者忌。蘇梗：順氣安胎，功力稍緩，虛人最宜。</p>
<h4>雞蘇</h4>
<p>即水蘇，又名龍腦薄荷。性味雖與紫蘇相近，但辛烈走氣，不入湯劑。</p>
<h4>薄荷葉</h4>
<p>性味辛涼，散風熱，清利頭目，搜肝肺，宣滯解鬱。但辛香耗氣，多服損人。蘇產</p>
<h4>甘松香</h4>
<p>辛溫芳香，稍帶甘味，功專調氣解鬱，開胃醒脾。香散甚於藿香，虛人量用。</p>
<h4>山奈</h4>
<p>性味辛溫，溫中辟瘴。散氣烈於甘松，虛人不宜輕用。</p>
<h4>奶酣草</h4>
<p>芳香辛溫，溫中辟惡。禁忌同於山奈。</p>
<h4>茉莉花</h4>
<p>性味辛溫，色白入肺，芳香入脾，功專辟穢治痢，虛人宜之。</p>
<h2>卷之一下</h2>
<h3>草部</h3>
<p>（隰草類）</p>
<h4>鮮生地</h4>
<p>味苦大寒，稍帶微甘，入心腎二經。涼血散瘀，瀉熱益陰，為血瘀熱結之專藥。血實熱者忌之。</p>
<h4>干生地</h4>
<p>苦甘性寒，沉陰主降，入手足少陰、厥陰，兼入手太陽經。滋陰退熱，涼血生血，安胎，利大小便，為陰虛挾熱之專藥。脾虛泄瀉、胃虛食少者均忌。然亦有炒松、炒炭蓋炒松能去血中之濕；炒炭能止濕熱傷陰之血也。小生地：功力甚薄，只宜血熱之人地：瀉血中之熱，均無滋陰益血之功，瘡瘍痘疹並宜之。</p>
<h4>熟地黃</h4>
<p>微甘微溫，入足三陰經，滋腎水，封填骨髓，養血液，補益真陰，為補陰壯水之專陰虛無熱最宜之。但性能膩膈，痰多氣鬱之人宜酌用。亦有熟砂仁末拌炒松用者。修制鐵器。</p>
<h4>旱蓮草</h4>
<p>一名鱧腸，又名金陵草。甘咸微寒，汁黑入腎，益陰涼血功勝。脾虛作瀉、腎虛腹忌。</p>
<h4>麥門冬</h4>
<p>甘寒微苦，清心潤肺，瀉熱除煩，為生津止嗽之專藥。去心用。其性寒凝潤滑。肺熱初解、脾胃虛寒泄瀉，均忌。然亦可糯粉炒用，勿滑。朱砂拌用，鎮心。</p>
<h4>甘菊花</h4>
<p>甘苦微寒，清鬱熱兼益金水，平肝木解熱熄風。為明目清頭，善解鬱熱之專藥。菊汁，能拯疔毒垂危。</p>
<h4>穀精草</h4>
<p>辛溫輕浮，啟胃舒陽，善發少陽、陽明清氣，功專明目退翳，為眼科發光專藥。</p>
<h4>草決明</h4>
<p>即馬蹄決明，一名決明子。甘苦鹹平，入肝，除風熱，退目翳，為明目粹光專藥。</p>
<p>作菜食，利五臟以明目。</p>
<h4>青葙子</h4>
<p>亦名草決明。味苦微寒，入厥陰而除風泄熱，專治目疾。瞳子散大者忌。</p>
<h4>木賊草</h4>
<p>甘苦性平，治目疾暴發，除翳膜遮睛。去節，能發汗。多服，損肝賊目，故名。</p>
<h4>麻黃</h4>
<p>辛溫微苦，入足太陽，兼入手少陰、陽明，而為肺家專藥。為發汗散邪，通關利竅，風寒表實者宜之。去節用，不可過劑。蜜炙，痰哮氣喘，屬邪實病痼者。根節，獨能止汗。</p>
<h4>刺蒺藜</h4>
<p>一名白蒺藜。辛苦微溫，入肝而疏肝明目，解散風邪。微炒，或人乳拌蒸用。</p>
<h4>沙菀蒺藜</h4>
<p>性味苦溫，微澀，固精秘氣，補腎強腰，為腎虛竅滑，不勝酸澀專藥。鹽水炒，</p>
<h4>益母草</h4>
<p>一名茺蔚。辛苦微寒，入手足厥陰，行血去瘀，為經產專藥。無瘀勿用。茺蔚子：性味略同，更能調經活血，令人有子。微炒。非血滯者不可用。</p>
<h4>夏枯草</h4>
<p>辛苦微寒，入厥陰而緩肝解熱，散結消癭。久服，亦能傷胃。</p>
<h4>青蒿葉</h4>
<p>苦寒芬芳，得春生之氣最早；入少陽、厥陰。除煩清暑，退熱除蒸，為勞熱、暑熱專藥。</p>
<p>梗：兼和胃。</p>
<h4>建連翹</h4>
<p>味苦微寒，其性輕浮，其形象心，入手少陰、厥陰；兼入手足少陽、手陽明經。</p>
<p>結，解毒消癰。多餌亦能減食。</p>
<h4>紫花地丁</h4>
<p>辛苦性寒，瀉熱解毒，為外科敷治專藥。</p>
<h4>漏蘆</h4>
<p>性味苦鹹，軟堅消癭，瀉熱解毒，為外科專藥。</p>
<h4>大力子</h4>
<p>一名惡實，一名牛旁子，一名鼠黏子。辛苦微寒，入肺而疏風散結，瀉熱清咽，消利二便，腸滑者忌。亦有土炒用者。</p>
<h4>大小薊</h4>
<p>甘苦性涼，俱能涼血散瘀。但小薊力微，不能如大薊之能消癰毒。</p>
<h4>馬鞭草</h4>
<p>味苦微寒，破血通經，殺蟲消脹。取苗、葉用。虛人忌之。</p>
<h4>劉寄奴</h4>
<p>性味苦溫，破血通經，除脹止血。莖、葉、花、子皆可用。多服令人吐利。</p>
<h4>紅花</h4>
<p>古名紅藍花。辛苦甘溫，入肝治血。少用活血、和血，多用破血、行血。子：散血結葉：塗癰腫。</p>
<h4>王不留行</h4>
<p>甘苦性平，行走不住，善入血分，通經下乳。乃陽明、衝、任之藥。取苗子，漿蒸熟用。孕婦及氣血虛人並忌之。</p>
<h4>瞿麥穗</h4>
<p>性味辛寒，利小腸而降心火，逐膀胱濕熱，為通淋要藥。即落陽花，取蕊殼用。</p>
<h4>蓄</h4>
<p>一名扁竹。性味苦平，利水通淋。為治疸、消腫專藥。</p>
<h4>車前子</h4>
<p>性味甘寒，入膀胱而兼入肺肝，為利水清熱之藥。開水竅以安精竅，令人生子、強炒研用。腎虛氣陷及精竅滑泄者均忌。車前葉：性味相近，清熱功勝，兼能涼血明目。</p>
<p>勿可並使。</p>
<h4>燈心</h4>
<p>甘淡微寒，降心火而利小腸，兼清肺熱。燈草：燒灰吹喉痹，塗乳止夜啼。中寒小便禁者勿服。</p>
<h4>地膚子</h4>
<p>甘苦微寒，入膀胱而除浮腫，利小便而通淋閉。炒研用。葉：作浴湯，去皮膚風熱</p>
<h4>冬葵子</h4>
<p>甘寒淡滑，利竅滑胎。根、葉同功。花：分赤白，治白帶下赤者，亦治血淋。</p>
<h4>海金沙</h4>
<p>甘寒淡滲，除小腸、膀胱、血分濕熱，為血淋要藥。</p>
<h4>茵陳蒿</h4>
<p>性味苦寒，入足太陽，兼入足太陰、陽明。專利濕熱，為黃膽君藥。</p>
<h4>甜葶藶</h4>
<p>辛苦大寒，入肺而兼入膀胱。其性急速，下氣定喘，喘鳴水氣噴急者，非此不能除瀉表氣分濕熱專藥。取子炒研。苦者性劣，不可輕投。</p>
<h4>大青</h4>
<p>苦鹹大寒，入心、胃而解斑毒熱狂。取莖、葉用。無實熱者忌。</p>
<h4>漂青黛</h4>
<p>性味鹹寒，色青入肝，解五臟鬱火。無實火者忌。</p>
<h4>白蘆根</h4>
<p>性味甘寒，入胃而降火止嘔。蘆筍：能解魚蟹、河豚毒。嘔噦反胃由中寒者勿服。</p>
<h4>草</h4>
<p>味苦微辛，生寒熟溫，入肝胃而透骨搜風，理濕除痹。酒拌蒸晒九次，蜜丸。亦可多服燥血。</p>
<h4>旋覆花</h4>
<p>苦辛鹹平，入肺、大腸經。下氣定喘，軟堅化痰，為疏理風氣、水濕專藥。密絹包人酌用。根：能續筋。</p>
<h4>紫菀茸</h4>
<p>苦辛溫潤，入肺而化氣開結，理虛嗽，止血，為治血痰專藥。陰虛肺熱，不宜多用用。亦可鹽水或蜜水炒用。白者，名女菀，功用相近，但入氣分為異。</p>
<h4>款冬花</h4>
<p>性味辛溫，入肺而潤燥化痰，除煩止咳，為肺虛咳嗽專藥。去梗用花，虛甚蜜炙。</p>
<h4>淮牛膝</h4>
<p>苦酸性平，入足厥陰，少陰。炒用性溫，益肝腎，強筋骨，能引諸藥下行。生用利散惡血。酒炒入肝，鹽水炒入腎。川產，長於利濕；杜產，名天明精，一名地松，去氣陷便泄、精滑者並忌。</p>
<h4>川續斷</h4>
<p>苦辛微溫，入肝腎而理傷續筋，通經安胎。酒炒用。</p>
<h4>胡蘆芭</h4>
<p>苦溫純陽，入腎命而主降治疝，壯元陽，祛冷濕，為腎虛腹中冷痛之專藥。炒研用虛火炎者忌。</p>
<h4>蘄艾葉</h4>
<p>味苦大辛，生溫熟熱。入三陰而祛寒理血，止痛調經，為暖子宮專藥。灸火通十二氣，治寒濕痹痛。野艾：但能灸火，不入湯劑。</p>
<h4>木綿</h4>
<p>性味甘溫。燒灰，治血崩金瘡。子：散結，治乳癰。油：辛熱損目。有木、草二種。</p>
<h4>雞冠花</h4>
<p>性味甘涼，專去濕熱，治赤白下利，帶下崩中。子，治腸風。苗，塗瘡痔。與青葙類兩種。</p>
<h4>元寶草</h4>
<p>性味辛寒，益陰而止吐血、衄血。生江浙田塍間。</p>
<h4>雪裡青</h4>
<p>味苦大寒，瀉熱解毒。搗汁灌咽喉，善開結閉。渣，塗癰腫，能潰散。</p>
<h4>萬年青</h4>
<p>味甘性寒，瀉熱涌痰。搗汁入醋少許，灌之，立可吐痰，則咽喉自解。子，善催生</p>
<h4>白米飯草</h4>
<p>一名糯米飯草。性味甘平，潤肺止嗽，益胃和中，可治勞傷。花，力尤勝。</p>
<h4>淡竹葉</h4>
<p>甘淡微寒，利小便，除煩熱。孕婦忌之。</p>
<h4>蓍實</h4>
<p>苦酸性平，益氣充飢，久服不餓。蓍葉：同獨蒜、甲片、食鹽、米醋搗餅，貼癖兩炷癖可化血，從便出。</p>
<h4>箬葉</h4>
<p>性味甘溫，利肺氣，通小便。陳久者良。</p>
<h4>芭蕉根</h4>
<p>味甘大寒，瀉熱解毒，寬脹消癰。搗汁用。</p>
<h4>苧麻根</h4>
<p>性味甘寒，破血解毒，止天行腹痛。搗汁用。軋麻，亦可煎湯。無根麻亦可代。</p>
<h4>萱草</h4>
<p>性味甘涼，解利濕熱，快膈悅志，令人歡樂無憂。故令合歡草，又名無憂草。根：治淋，下水氣。</p>
<h4>石龍芮</h4>
<p>性味苦平，補陰氣不足，令人皮膚光澤。取子用。</p>
<h4>堇葉</h4>
<p>一名水堇，俗呼胡椒菜。性味甘寒，微辛苦澀，除煩熱，下瘀血，為散結解毒專藥。</p>
<h4>狗尾草</h4>
<p>一名光明草。性味辛寒，眼科拳毛倒睫，翻轉目瞼；以三莖蘸水，戛去惡血，良。</p>
<h4>敗醬</h4>
<p>一名苦菜。性味苦寒，瀉熱解毒，破血排膿，為外科專藥。取根、苗用。</p>
<h4>薇銜</h4>
<p>一名鹿銜，南人名吳風草。味性苦平，理血中之濕，善治酒風濕痹，歷節諸痛。</p>
<h4>馬藺子</h4>
<p>一名蠡實。性味甘溫，治寒疝、冷積諸痛。</p>
<h4>石龍芻</h4>
<p>即龍須草。味苦微寒，通淋止痛。敗席有垢者功勝。</p>
<h4>酸漿</h4>
<p>即燈籠草。性味苦寒，清肺止咳。佛耳草，治寒痰咳嗽，此治熱痰咳嗽，力能解利濕亦治黃病。</p>
<h4>鼠曲草</h4>
<p>即佛耳草。性味甘平，除痰止嗽。雜米粉作糗，食之甜美，荒年可以充飢。</p>
<h2>卷之二上</h2>
<h3>草部</h3>
<p>（毒草類）</p>
<h4>川附子</h4>
<p>辛甘大熱，入腎命而通行十二經。生用暖腎臟，以祛寒濕；熟用補命火，以回元陽水炒黑，專入腎臟；燥濕功勝，兼益元氣。下寒上熱、裡寒外熱之症最宜。</p>
<h4>川烏頭</h4>
<p>即附子之母。氣味輕疏，善祛風寒濕痹；不能如附子有頃刻回陽之功，痹症氣實者薑汁炒或生用。寒疾宜附子，風疾宜烏頭。烏附尖：性專達利，用以涌吐濕痰最捷。</p>
<h4>天雄</h4>
<p>獨顆無附，即雄附子。性味雖雄，但能溫經逐冷，不能頃刻回陽，濕痹寒甚宜之。</p>
<h4>側子</h4>
<p>旁生功力稍遜，能旁達四肢，但可發散寒痹，無附子之補力也。</p>
<h4>漏藍</h4>
<p>初生未成，雖治冷痹惡瘡，非寒毒深痼勿用。</p>
<h4>草烏頭</h4>
<p>辛苦大熱，力能開頑痹以化痰，搜風毒以勝濕。非生薑汁炒透，令人麻悶，仍須以汁解之。虛人不可輕用。烏啄：兩岐相合，性味不純，不堪服食，遠之可也。</p>
<h4>白附子</h4>
<p>辛甘性熱，入陽明而善祛游走之風，能引藥勢上行，治頭面百病。虛者忌之。</p>
<h4>天南星</h4>
<p>一名虎掌。辛苦性溫，入肝、脾、肺而祛風燥濕，散結除痰。礬湯泡炒用。陳膽星月取南星末，入黃牛膽中，和汁風乾，專化風痰，以益肝膽，年久彌佳。</p>
<h4>半夏</h4>
<p>辛溫性燥，入脾胃而化痰止嘔，燥濕醒脾。生薑汁製透用。半夏曲：以半夏末入面作盒生黃衣，性稍和緩，能治血虛伏濕之痰。霞天曲：以霞天膏渣入半夏末和造龕成，能虛沉痼之痰。霞天膏：以嫩黃牛肉煮取淨汁煎煉成膏，大補中虛羸弱。按：南星、半夏燥藥，但南星治風痰，半夏治濕痰，為不同。</p>
<h4>常山</h4>
<p>辛苦性寒，吐痰逐飲，能截諸瘧。虛人忌之。按：常山吐瘧痰，藜蘆吐風痰，瓜蒂吐痰，烏附尖吐濕痰，萊菔子吐氣痰。蜀漆：即常山苗，功用相近，性稍輕揚耳。</p>
<p>藜蘆根　辛寒至苦，入口即吐，善於通頂，令人嚏。虛人慎用。</p>
<h4>紫大戟</h4>
<p>辛苦性寒，泄閉瀉水。按：大戟能瀉臟腑水飲，甘遂能行經絡水飲，白芥子能散皮外痰氣，三味同劑，名控涎丹。虛人不可輕用。</p>
<h4>甘遂</h4>
<p>性味苦寒，入腎經，瀉隧道水飲，直達水飲所結之處。面裡煨熟。非大水大實，不可用。</p>
<h4>商陸</h4>
<p>性味苦寒，沉陰下行，與大戟、甘遂同功。取白花之根，黑豆拌蒸。脾虛者忌用。</p>
<h4>芫花</h4>
<p>性味苦溫，通行水飲、痰癖。醋炒用。毒性至緊，取效甚捷。稍涉虛者忌。</p>
<h4>續隨子</h4>
<p>一名千金子。性味辛溫，行水破結，利大小腸。去殼研細，去油皮。脾虛便滑者忌</p>
<h4>牽牛</h4>
<p>性味辛熱，入肺而兼入腎命，大瀉水飲而走精髓，通下焦郁遏，大腸風秘、氣秘。有白二種，黑者力速，又名黑白二丑。取子淘淨，炒研用。氣虛者忌之。</p>
<h4>蓖麻子</h4>
<p>辛甘性熱，善走亦善收，能出有形滯物，外用頗奏奇功。氣味頗近巴豆，內服不可</p>
<h4>貫眾</h4>
<p>一名管仲。味苦微寒，瀉邪熱，解疫毒。</p>
<h4>射干</h4>
<p>一名烏扇、烏　。性味苦寒，入太陰、厥陰，能瀉實火，火降則血散腫消，而痰結自為咽痛、喉痹專藥。</p>
<h4>蚤休</h4>
<p>一名重樓金線。味苦微寒，專治癰疽、蛇毒，為外科專藥。</p>
<h4>玉簪</h4>
<p>一名白鶴仙，即白鶴花根。辛甘性寒，塗癰腫，解諸毒，最能損齒去牙。</p>
<h4>川大黃</h4>
<p>大苦大寒，入足太陰、手足陽明、厥陰。其性沉陰降泄，酒製亦能上行，蕩滌腸胃攻下實熱之專藥。生用更峻，苟非實熱內結，不可輕投。</p>
<h4>如</h4>
<p>性味辛寒，破症瘕血結，除熱痹排膿。《素問》四烏　骨一　如丸，用以治婦人血枯血結，甚效。</p>
<h4>天名精</h4>
<p>一名地松，一名活鹿草，一名蝦蟆藍。辛甘性寒，能除熱吐痰，破血解毒。根：名膝，功用相同。鶴虱：即天名精子，性味苦寒，殺蟲治蛇，為蛔咬腹痛專藥。</p>
<h4>山慈菇</h4>
<p>甘微辛寒，功專清熱解毒，散結消癰。搗塗蛇、蟲、狂犬傷。</p>
<h4>茵芋</h4>
<p>辛苦微溫，治風濕拘攣痹痛。炙熟用。</p>
<h4>莽草</h4>
<p>辛苦微溫，祛風勝濕，煎沐頭風、疝瘕。不入湯劑。</p>
<h4>仙茅</h4>
<p>性味辛熱，入腎命而助火興陽，治虛勞失溺，或陽虛溺閉。專於補火助陽，惟精寒火者宜之，有火者切忌。糯米泔浸去毒用。</p>
<h4>蒼耳子</h4>
<p>一名　耳，即詩卷耳。甘苦性溫，善於發汗，解散風濕，上通腦頂，下行足膝，外膚，去刺酒蒸。虛人忌之。</p>
<h4>木鱉子</h4>
<p>味苦大寒，力能利腸，治瘡，消腫追風。僅可外科敷治，不入湯藥。</p>
<h4>鳳仙子</h4>
<p>一名急性子。微苦微溫，性急通竅，催生墮胎，透骨損齒，與玉簪根同功。花：甘滑，活血，能消積聚。根葉：苦甘微辛，散血通經，塗打撲腫痛。</p>
<h4>土連翹</h4>
<p>性味苦溫，入血分，以祛風寒濕痹。大損新血，無瘀勿用。</p>
<h4>煙草</h4>
<p>一名相思草。性味辛溫，入口而頃刻能周一身；令人胸次爽快，辟穢御瘴。然過嗜則氣灼人，耗血損元，養生家宜遠之。</p>
<h2>卷之二中</h2>
<h3>草部</h3>
<p>（蔓草類）</p>
<h4>何首烏</h4>
<p>甘苦微溫，益肝補腎，為平補陰血之良藥。有赤、白二種。黑豆拌，九蒸九晒用，忌鐵。腸滑者禁。亦有土拌炒用者。活血亦須晒炒，治痹宜之。</p>
<h4>菟絲子</h4>
<p>甘辛微溫，入足三陰。強陰益精，為腎虛平補良藥。取子搗蒸作餅，或去油炒研用</p>
<h4>覆盆子</h4>
<p>甘酸澀溫，補益肝腎；為固精、縮小便專藥。淘淨搗餅，或炒研用。葉：能收濕。</p>
<p>摻廉瘡濕爛。</p>
<h4>北五味</h4>
<p>五味俱備，酸鹹為多。性溫，入手太陰血分，足少陰氣分。斂肺滋腎，專收耗散之為喘嗽虛乏多汗之專藥。</p>
<h4>天門冬</h4>
<p>甘苦大寒，入手太陰，兼入足太陰。清金降火，益水之上源，為虛勞挾熱，潤燥治專藥。脾虛泄瀉者非宜。</p>
<h4>百部</h4>
<p>甘苦微溫，潤肺理嗽，治疳殺蟲。劈去心皮，酒焙用。</p>
<h4>馬兜鈴</h4>
<p>苦辛微寒，輕虛象肺，入肺而清金治嗽，降氣定喘，為濕熱傷肺專藥。根：名土青塗諸毒熱腫，亦治疝疾。</p>
<h4>瓜蔞實</h4>
<p>古名栝蔞。甘苦性寒，入肺、胃而消痰解熱，蕩滌胸中垢膩。殼：主寬胸除熱。仁潤燥豁痰，為治咳專藥。炒研去油用，亦有生用者。腸滑均忌。</p>
<h4>天花粉</h4>
<p>即栝蔞根粉。酸甘苦寒，降火止渴，潤燥滑痰。忌同栝蔞。</p>
<h4>土瓜根</h4>
<p>古名王瓜。性味苦寒，瀉熱利水，為實熱壅滯之專藥。</p>
<h4>白蘞</h4>
<p>苦辛甘寒，瀉火散結，為斂瘡專藥。赤者同功，但走血分為異。</p>
<h4>山豆根</h4>
<p>性味甘寒，入心肺而瀉熱解毒，為咽痛喉痹專藥。</p>
<h4>金銀花</h4>
<p>性味甘涼，入肺腸而清金治痢，解毒除煩。葉：亦清肺，稍遜淨花。藤：名忍冬，經活絡良藥，痹症挾熱宜之。</p>
<h4>薔薇根</h4>
<p>苦澀性冷，解濕熱毒瓦斯，為瘡科外治專藥。子：名營實，性味稍溫，主治大略相同</p>
<h4>土茯苓</h4>
<p>甘淡性平，滲利濕熱，解毒治瘡，為瘡科專藥。俗名冷飯團，有赤、白二種，白者</p>
<h4>萆</h4>
<p>甘苦性平，入足陽明、厥陰，解利風寒濕痹，為去濁釐清專藥。有黃、白二種，白者</p>
<h4>防己</h4>
<p>大辛苦寒，入足太陰，兼行十二經，瀉下焦血分濕熱。《十劑》曰：通可去滯，通草防己之屬。但通草甘淡，瀉氣分濕熱；防己苦寒，瀉血分濕熱。一類有二種，治濕用漢防治風用木防己，為風濕香港腳專藥。干香港腳，屬陰虛無濕者忌。</p>
<h4>小木通</h4>
<p>甘淡辛寒，入心、小腸經。降火利水，為熱淋尿痛專藥。妊婦勿用。</p>
<h4>白通草</h4>
<p>味淡性平，入肺胃而通淋利水，下乳催生。肺燥無濕者忌。</p>
<h4>天仙藤</h4>
<p>即青木香藤。性味苦溫，力能疏氣活血，為疝氣止痛專藥。</p>
<h4>粉葛根</h4>
<p>辛甘性平，入陽明而兼入脾經，能鼓舞胃氣，解肌發汗，散熱止渴。為升提清氣下瀉之專藥。解肌生用，升清煨用。又能解酒，葛花尤良。鮮葛：大寒，搗汁能解溫病。</p>
<p>葛根升陽明清氣，柴胡升少陽清氣，為異。</p>
<h4>茜草</h4>
<p>一名血見愁。酸鹹氣平，入厥陰而行血、止血。無瘀勿用。</p>
<h4>紫葳</h4>
<p>即凌霄花。甘酸性寒，入厥陰血分，破血降火，為女科專藥。無瘀勿用，孕婦尤忌。</p>
<h4>威靈仙</h4>
<p>辛鹹氣溫，善走經絡，為痛風、頑痹專藥。色深黑，俗名鐵腳威靈仙。砂糖入酒煎治骨哽頗驗。</p>
<h4>鉤藤鉤</h4>
<p>甘微苦寒，入心肝而定驚平熱；專除目眩，舒筋，為肝氣相火專藥。藤細鉤多者良煎則無力。</p>
<h4>使君子</h4>
<p>性味甘溫，入脾胃而健運脾氣，消積殺蟲，為蟲積腹痛專藥。</p>
<h4>旋花</h4>
<p>即纏枝牡丹。性味甘辛，力能補勞續筋。汁滴傷處，渣敷其上，日三易，半月，斷筋續。</p>
<h4>雀梅葉</h4>
<p>一名爵梅葉。性味酸寒，治乳癰、便毒有效。</p>
<h2>卷之二下</h2>
<h3>草部</h3>
<p>（水草　石草　苔類）</p>
<h4>建澤瀉</h4>
<p>甘咸微寒，入膀胱而兼入腎臟，瀉濕熱、利小便，為陰分濕熱專藥。腎虛無濕者忌澤瀉，木通俱是利藥。但澤瀉瀉相火濕熱，木通瀉心火濕熱為不同。</p>
<h4>九節石菖蒲</h4>
<p>辛苦性溫，芳香氣散，力能通心利竅，開鬱豁痰，為驚癇氣閉專藥。取根用。血氣不足者忌。</p>
<h4>蒲黃</h4>
<p>性味甘平，入厥陰血分；生用則性滑而通經破瘀，炒黑則性澀而止血定崩。無瘀勿服</p>
<h4>紫背浮萍</h4>
<p>性味辛寒，輕浮入肺，力能發汗祛風，利水消腫。非有風濕熱邪，不可混施。</p>
<h4>海藻</h4>
<p>苦鹹性寒，軟堅破結，滌熱消癭，為瘰　專藥。</p>
<h4>海帶</h4>
<p>性味稍平，下水消癭，功同海藻。</p>
<h4>昆布</h4>
<p>功同海藻，而稍滑利，性更雄烈，多服令人瘦。</p>
<h4>金石斛</h4>
<p>性味甘淡，微咸微寒，平胃氣而除虛熱，益腎陰而安神志，為胃虛挾熱傷陰專藥。</p>
<p>山者，功用相仿，兼能開胃。鮮者大寒，尤能泄熱益陰。味苦、梗方、質硬者，名木斛堪用。</p>
<h4>骨碎補</h4>
<p>性味苦溫，堅腎活血，為折傷損骨專藥。酒炒或蜜炒用。</p>
<h4>石韋</h4>
<p>苦甘微寒，入肺、膀胱而清熱利水，為通淋專藥。古瓦上者，名瓦韋，性稍輕揚，治亦佳。</p>
<h4>金星草</h4>
<p>一名鳳尾草，又名七星草。性味苦冷，瀉熱解毒，並金石藥毒，為外科專藥。根：油，搗汁塗之，大生毛髮。</p>
<h4>景天</h4>
<p>一名慎火草。苦酸性寒，入心，瀉熱解毒，並塗丹腫、蛇傷。</p>
<h4>血見愁</h4>
<p>一名地錦。性味辛平，散血止血，為金刃撲損專藥。無瘀勿服。</p>
<h4>海苔</h4>
<p>鹹寒軟堅，消癭瘤結氣，為外科專藥。</p>
<h4>卷柏</h4>
<p>炙用辛溫，善能澀腸止血。生用辛平，力可破血通經。</p>
<h4>馬屁勃</h4>
<p>性味辛平，輕虛入肺，消腫解熱，為咽喉腫痛專藥。</p>
<h2>卷之三上</h2>
<h3>木部</h3>
<p>（香木類）</p>
<h4>柏子仁</h4>
<p>辛甘性平，其氣芳香，入心脾而安神益智，潤燥舒脾。多服反能致燥。炒研去油，勿用。</p>
<h4>側柏葉</h4>
<p>味苦微寒，性澀氣燥，最清血分濕熱，止血痢、腸風。血虛無濕熱者忌。</p>
<h4>松香</h4>
<p>一名松脂，又名瀝青。苦甘溫燥，燥濕祛風，生肌化毒，為外科敷治專藥。松節：苦性燥，善祛骨節間風濕，為痹症引經專藥。酒浸用。松毛：性味苦溫，能生毛髮。血虛均禁忌。松果：性味溫潤，能養心肺，益氣除風，可以釀酒。</p>
<h4>西杉木</h4>
<p>一名杉材。性味辛溫，入肝肺而消心腹脹滿，香港腳腫痛，為疏堅散腫專藥。挾虛者杉葉：治風蟲牙痛，同芎　、細辛煎酒，含漱。杉子：治疝氣痛，一歲一粒，研入酒</p>
<h4>甜肉桂</h4>
<p>辛甘大熱，入肝、腎、命門、血分。溫經補火，引熱下行，為血分虛冷之專藥。去藥汁摩沖，亦可煎服。</p>
<h4>桂心</h4>
<p>性近肉桂，濃去外皮。入心、脾、血分而祛寒止痛；內托排膿，為治內不治外之專藥</p>
<h4>牡桂</h4>
<p>即大桂。稟離火純陽之氣，辛勝於甘而微帶苦性，偏溫散而能上行。治心腹冷痛，筋拘攣，不減肉桂。若相火不歸，下元虛冷，其力不能直達下焦，為稍遜耳。</p>
<h4>上官桂</h4>
<p>一名筒桂。辛甘性溫，入經髓而宣通百脈，導引諸藥。有辛溫行散之功，無壯火食患，經絡寒痹最宜之。</p>
<h4>川桂枝</h4>
<p>辛甘微溫，入手少陰而溫營散表，發汗祛寒，為傷寒、中風營分散寒專藥。按：主下元，總理中外氣血；桂心專溫臟腑營血，不行經絡氣分；牡桂性兼上行，統治表官桂善走脅肋，不能直達下焦；桂枝調和營衛，解散風寒為異。</p>
<h4>辛夷</h4>
<p>一名迎春花，即木筆花。性味辛寒，輕浮入肺，兼入胃經，能引胃中清氣上行，通於腦，為腦熱鼻淵之專藥。</p>
<h4>上沉香</h4>
<p>辛苦性溫，諸木皆浮，而沉香獨沉。入右腎命門，力能墮痰下氣，為宣導下行專藥汁摩沖用。陰虛血燥、氣陷火炎均忌。</p>
<h4>母丁香</h4>
<p>辛溫純陽，入肺胃而溫中散滯，為胃虛冷呃專藥。小者，名公丁香，可供食料，不劑。</p>
<h4>白檀香</h4>
<p>性味辛溫，入脾肺氣分而兼入肝胃。能引胃氣上行，調中解鬱，為治膈止吐專藥。</p>
<h4>紫檀香</h4>
<p>性味溫平，入肝、脾、血分。力能調營消腫，止血定痛。然香耗動火，陰虛者，二忌。</p>
<h4>降真香</h4>
<p>一名紫金藤。性味辛溫，入肝、脾、血分，而活血止痛，辟穢。降真禁忌同紫、白</p>
<h4>台烏藥</h4>
<p>辛溫香竄，入脾肺而下及腎、膀，善疏邪逆之氣，以致其平，為降氣疏逆專藥。血炎者並忌。</p>
<h4>滴乳香</h4>
<p>一名薰陸香。苦溫辛香，入心而通行十二經；活血舒筋，祛風止痛，為治痹活絡專生研用。</p>
<h4>明沒藥</h4>
<p>性味苦平，入十二經。散瘀破結，消腫定痛，為血痹消滯專藥。微焙用。</p>
<h4>血竭</h4>
<p>一名麒麟竭。甘咸性平，入心、肝、血分，散瘀降濁逆，止血定急痛，為血逆、血痛危專藥。無瘀勿用。</p>
<h4>楓脂香</h4>
<p>即白膠香。性味辛平，活血解毒，止痛生肌。能亂乳香，功亦相近。</p>
<h4>安息香</h4>
<p>辛香苦平，入心經而祛邪辟惡；晰理血氣，為去祟安神專藥。研細用。</p>
<h4>蘇合香</h4>
<p>甘溫辛竄，通竅開鬱，辟一切不正之氣，殺精逐鬼。虛人忌用。</p>
<h4>梅花冰片</h4>
<p>一名龍腦香。性味辛溫，香竄善散，入肺而傳於心脾；透骨通竅，散火逐邪。細風在骨髓者宜之。若在血脈肌肉，反致引風入骨，忌之。</p>
<h4>樟腦</h4>
<p>辛熱香竄，能於水中發火，通關利滯，除濕殺蟲，置鞋中能去香港腳。</p>
<h4>阿魏</h4>
<p>辛平氣臭，入脾胃而善消肉積，殺諸般惡蟲，去臭氣。細研用。</p>
<h4>蘆薈</h4>
<p>大苦大寒，入肺肝而清痼熱，殺諸蟲。胃虛者切忌。</p>
<h4>胡桐淚</h4>
<p>苦鹹大寒，能入骨軟堅，瀉熱殺蟲，為口齒諸病專藥。</p>
<h2>卷之三中</h2>
<h3>木部</h3>
<p>（喬木類）</p>
<h4>川黃柏</h4>
<p>苦寒微辛，入膀胱而瀉相火；除濕熱而滋腎水，為堅腎退熱專藥。鹽水炒或酒炒用虛無濕熱者忌。</p>
<h4>槐實</h4>
<p>即槐角。性味苦寒，入大腸而兼入肝膽。涼血寬腸，為腸風血痔專藥。人乳拌蒸用。</p>
<p>花蕊：即槐米；性稍輕揚，功近槐角，兼能治上。槐花：性發揚，尤能涼血除風，為風熱赤、下痢諸血專藥，炒研用。</p>
<h4>川楝子</h4>
<p>一名金鈴子。性味苦寒，入小腸、膀胱，而兼入心包。導引濕熱下行，為治疝專藥研用。楝根皮：專主殺蟲。</p>
<h4>秦皮</h4>
<p>性味苦寒，色青入肝，性澀治痢，為除熱平肝專藥。</p>
<h4>樗根白皮</h4>
<p>即臭椿根皮。苦寒性澀，燥濕收斂；入肺、腸、血分，而止血痢，為濕熱傷陰、痢之專藥。醋炒用。臭椿葉：功用相仿，而力不及耳。椿根白皮：即香椿根皮，功用而力稍遜之。</p>
<h4>敗棕灰</h4>
<p>味苦性澀，入血分而澀血止漏，固經定崩。燒存性用。挾瘀血者忌。</p>
<h4>沒石子</h4>
<p>一名無食子。性味苦溫，入腎而澀精秘氣；為遺濁、滑泄之專藥。炒研用。然性偏不宜多用、獨用。</p>
<h4>訶子</h4>
<p>一名訶黎勒。苦溫酸澀，生用清金止咳，炒用斂肺澀腸，為肺虛腸滑、咳嗽泄瀉之專</p>
<h4>川厚朴</h4>
<p>苦辛溫降，入脾胃而散滿除濕，消脹寬中。虛者忌之。</p>
<h4>肥皂莢</h4>
<p>一名皂角。辛鹹性溫，入肺、大腸而兼入肝經。搜風泄熱，通竅涌痰，為卒中通關專藥。蜜炙、酥炙、絞汁、燒灰，並皆可用。虛人、孕婦並忌。</p>
<h4>皂角刺</h4>
<p>性味辛溫，功近皂莢，其鋒銳之氣直達病所潰堅。香肥皂：性味辛溫，洗滌垢膩，風濕，為中風滌痰通竅專藥。今浣衣亦皆用之。</p>
<h4>水楊枝葉</h4>
<p>性味苦平，泄滯起陷，痘瘡頂KT　，漿滯不起者，可煎湯浴之。</p>
<h4>西河柳枝葉</h4>
<p>一名赤檉柳。甘鹹辛平，疏風解毒；能使痧疹、斑邪外達。砂糖拌炒，入營分糖調服西河柳末，止疹後痢下。清陽下陷而泄瀉者，須炒焦用之。</p>
<h4>榆白皮</h4>
<p>性味甘平，入大小腸、膀胱經。滑胎利竅，通利二便。有赤、白二種，功用相近。</p>
<p>為粉，荒年亦暫可充飢。</p>
<h4>海桐皮</h4>
<p>性味甘平，入血分而祛風理濕，殺蟲行經；為頑痹、風瘡專藥。血虛忌之。</p>
<h4>濃杜仲</h4>
<p>甘溫微辛，入肝腎而補虛、止痛，安胎續筋，為腰膝諸痛專藥。鹽水炒或酒炒用。</p>
<h4>合歡皮</h4>
<p>性味甘平，入心脾而怡神悅志；令人歡樂無憂，故曰。</p>
<h4>蕪荑仁</h4>
<p>辛苦性溫，入腸胃而殺蟲化積，為腹中蟲痛專藥。</p>
<h4>烏木根皮</h4>
<p>苦涼沉降，利水通腸，功近大戟。搗汁飲解砒毒，葉更勝，性極瀉，虛人並忌塗腫毒瘡疥有功。</p>
<h4>蘇木</h4>
<p>一名蘇方木。甘鹹辛平，入三陰血分，行血去瘀，宣通表裡風邪。忌鐵，無瘀勿用。</p>
<h4>乾漆</h4>
<p>辛溫毒烈，功專破血殺蟲。血見乾漆，即化為水。炒令煙盡，血非陳年久積勿用。漆蟹汁，亦化為水，其蟹黃尤勝。</p>
<h4>大風子</h4>
<p>性味辛熱，有毒攻毒，取油入藥，治瘡殺蟲。</p>
<h4>巴豆霜</h4>
<p>辛熱大毒，下臟腑沉寒，通經絡墮胎，最為斬關奪門之將。按：大黃、巴豆同為峻劑，但大黃性寒，腑結多熱者宜之；巴豆性熱，臟積多寒者宜之。</p>
<h2>卷之三下</h2>
<h3>木部</h3>
<p>（灌木　苞木　寓木類）</p>
<h4>桑根白皮</h4>
<p>甘辛性寒，入肺而瀉火清肺，理嗽定喘，為肺受濕熱喘嗽專藥。瀉火生用，定喘肺虛無火及風寒喘嗽均忌。</p>
<h4>嫩桑枝</h4>
<p>性味苦平，橫行手臂；祛風濕通關節，為風寒濕痹，肢節疼痛引經專藥。酒炒用。</p>
<h4>冬桑葉</h4>
<p>即經霜桑葉。苦甘性涼，入肺而清肅氣化，除燥退熱，為肺虛挾熱專藥。</p>
<h4>干桑椹</h4>
<p>一名文武實。甘酸性溫，色黑入腎，滋腎壯水，烏須黑發。鮮者，瀘汁熬膏，蜜收燒酒，經久彌佳。</p>
<h4>桑寄生</h4>
<p>苦甘性平，入肝腎而除風理濕，壯骨強筋，為腰膝痛痹專藥。</p>
<h4>楮實</h4>
<p>一名穀實。性味甘寒，利水消腫，軟堅治哽。酒拌蒸用。楮皮：甘平，性善行水，治腫氣滯。楮葉：甘涼，專祛濕熱，治瘴痢、疫痢。</p>
<h4>小枳實</h4>
<p>苦酸微寒，消痞寬脹，破氣攻堅，通腸胃以利胸膈。江枳殼：味苦性平，消痞化氣行痰，快胸膈以寬腸胃。按：枳實、枳殼同一種，但枳實力猛，枳殼力緩，俱宜炒用尤峻。胃虛腸滑均忌。</p>
<h4>紅山梔</h4>
<p>性味苦寒，入心肝而兼入三焦；瀉心肝邪熱，引三焦之鬱火曲屈下行。內熱用仁，用皮。瀉火生用，炒黑止血，薑汁炒止煩嘔而解鬱熱。虛者忌之。</p>
<h4>酸棗仁</h4>
<p>甘酸性潤，入心、脾、肝、膽。生用酸平，益肝膽以寧心斂汗；熟酸溫，醒脾氣以安神。</p>
<h4>蕤仁</h4>
<p>味甘微寒，入肝而消風清熱，退翳明目，有養肝益陰之功。生研用。</p>
<h4>山萸肉</h4>
<p>酸澀微溫，入腎而固精秘氣，補腎養肝，為腎虛精滑酸澀專藥。核能滑精，揀淨用</p>
<h4>金櫻子</h4>
<p>酸澀性平，入腎、膀而澀精固氣，止遺濁滑精。炒研用。</p>
<h4>郁李仁</h4>
<p>辛苦甘平，入肝脾而散結潤燥，下氣行水。酒引入膽，兼治膽橫目脹不瞑。虛者忌</p>
<h4>女貞子</h4>
<p>甘苦性涼，入少陰而益陰退熱；為陰虛有火，不勝膩補之良藥。退熱生用，益陰炒</p>
<h4>五加皮</h4>
<p>辛苦性溫，入肝腎而祛風理濕，壯骨強筋，為損傷及風痹專藥。酒炒用。</p>
<h4>甘枸杞</h4>
<p>甘潤性平，入腎而補腎養肝，生精潤燥。便滑者忌。</p>
<h4>地骨皮</h4>
<p>甘淡性寒，入肺而兼入腎肝。除肌表虛熱，退有汗骨蒸。米泔飲泡用。即枸杞根皮</p>
<h4>天精草</h4>
<p>即枸杞藤葉。苦甘性涼，專清心肺客熱。虛勞熱盛，可暫用代茶。</p>
<h4>石南葉</h4>
<p>辛苦性平，入腎而祛風堅腎，通利關節，為腳弱、風痹專藥。微炒用。</p>
<p>\蔓荊子苦辛性平，入肝搜風，而治頭痛齒痛，為輕浮疏散風熱之專藥。</p>
<h4>川槿皮</h4>
<p>性味苦涼，入肺胃而專祛濕熱，為血痢、癬瘡專藥。取根皮用。</p>
<h4>木芙蓉</h4>
<p>性味辛平，涼血解毒，為敷治癰疽腫毒專藥。取花葉用。</p>
<h4>狗骨</h4>
<p>即貓兒刺，俗名老鼠刺，又名八角茶。甘微苦涼，入肝腎而益陰祛風。狗骨皮浸酒，人腰腳健。</p>
<h4>南燭葉</h4>
<p>一名南天燭。苦酸澀平，益氣強筋，久服輕身。天燭子：甘平，功力尤勝。</p>
<h4>枸橘葉</h4>
<p>性味辛溫，散滯疏結，治下利後重。枸橘子：味酸苦平，破氣尤烈。虛人忌之。</p>
<h4>山茶花</h4>
<p>微辛甘寒，涼血止血，治吐衄。塗湯火傷灼。子：研細末，摻發，解發　。</p>
<h4>密蒙花</h4>
<p>味甘微寒，入肝潤燥，去翳明目，有消風散熱之功。</p>
<h4>八角金盤</h4>
<p>味苦辛溫，性烈有毒，祛瘀開結，治痛麻頑痹。取根皮用。</p>
<h4>柞木</h4>
<p>俗名鑿柄木。性味苦平，下行利竅，易產催生，舊鑿柄卷轉者尤妙。搗葉，塗癰疽腫</p>
<h4>牡荊瀝</h4>
<p>俗名黃荊瀝。性味甘平，祛風治癇，化痰行經。熱痰宜竹瀝，寒痰宜荊瀝，俱宜薑送，則不凝滯經絡。</p>
<h4>甜竹瀝</h4>
<p>性味甘寒；降陰虛之火，清經絡之痰。薑汁為佐，治痰行經甚捷。</p>
<h4>甜竹茹</h4>
<p>味甘微寒，入肺胃而清燥解鬱，薑汁拌炒，為開鬱止嘔專藥。去青刮皮用。</p>
<h4>卷心竹葉</h4>
<p>辛淡甘寒，涼心止嘔，解鬱除煩。</p>
<h4>天竺黃</h4>
<p>性味甘寒，清心利竅，豁痰定驚。乃竹之津氣結成片，片如竹節者真。</p>
<h4>明琥珀</h4>
<p>味甘淡平，入心、肝、血分，安神散瘀，利水通淋。陰虛血少忌。</p>
<h4>白茯苓</h4>
<p>甘淡性平，入肺、膀而兼入心脾；滲濕利竅，益脾寧心。赤茯苓：入心、小腸經，滲利濕熱。益脾氣白勝，利濕熱赤勝。茯苓皮：專走皮膚，行水氣，治膚腫效。赤、白主治與茯苓略同，而入心之用多。治驚悸效，去皮及中木用。茯神心木：治諸經攣縮偏風。</p>
<h4>楓豬苓</h4>
<p>苦甘淡平，入膀、腎而利濕，行水功勝茯苓，但無益脾之效。虛人無濕忌之。</p>
<h4>白雷丸</h4>
<p>性味苦寒，入腸胃而殺蟲消積。乃竹之余液，得霹靂之氣而生，微焙用。</p>
<h2>卷之四上</h2>
<h3>果部</h3>
<p>（山果　夸果　味果　果　水果）</p>
<h4>扁杏仁</h4>
<p>辛苦甘溫，入肺而疏肺降氣，解邪化痰，為咳逆胸滿之專藥。去皮尖研。腸滑者忌可生研，去油炒熟用，揀去雙仁，炒黑，能解鬱消積，如索粉、豆粉、狗肉之類。杏子熱損人，孕婦忌之。</p>
<h4>巴旦杏仁</h4>
<p>性味甘平，止咳下氣，潤燥豁痰，為勞嗽無熱之專藥。</p>
<h4>烏梅肉</h4>
<p>味酸澀溫，入厥陰而兼入太陰；澀腸斂肺，醒酒殺蟲，為吐痢收斂虛脫之專藥。白即鹽梅，酸澀咸平，軟筋斂液，功近烏梅，而不經熏黑，無殺蟲收脫之功。梅葉：治霍搗汁飲之。</p>
<h4>桃仁</h4>
<p>苦平微甘，入厥陰而調經破瘀，潤燥通腸。去皮尖研如泥用。腸滑者忌。桃花：苦血分，而消積下滯，利水除痰，為痰飲滯血專藥。誤服瀉人。桃葉：苦平，殺蟲發汗。</p>
<p>辛酸甘熱，多食，壅熱生瘍。正月采桃，名桃梟，辟邪祟。桃干：在樹名僵桃，縮邪</p>
<h4>栗子</h4>
<p>味甘微咸，生平熟溫，入腎而補腎濃腸。生則難化，熟則滯氣。小兒不可多啖。</p>
<h4>大棗</h4>
<p>性味甘溫，補益中氣，滋養心脾。佐以生薑，為調和營衛專藥。中滿忌之。紅棗：甘不滯，專入心脾，佐心浮麥，為止自汗、盜汗專藥。</p>
<h4>水梨</h4>
<p>甘寒，清心潤肺，消風利腸。生則可清六腑之熱，熟則能滋五臟之陰。瀉火搗汁，滋熬膏，生嚼尤能舒泄邪熱。草梨：瀉熱，殊少益陰之效。其性尤滑，脾虛泄瀉切忌。</p>
<h4>柿子</h4>
<p>鮮柿甜冷，清潤肺胃，可除血痢。干柿：甘寒，涼澀肺腸，能止便紅。柿霜：即干柿液，清肺潤燥，治膈豁痰。虛寒滑腸均忌。柿蒂：苦平降氣，配以丁香，為胃虛呃逆專藥</p>
<h4>宣州木瓜</h4>
<p>酸澀性溫，醒脾祛暑，和胃發汗；為轉筋、霍亂、痛痹、香港腳專藥。</p>
<h4>山查肉</h4>
<p>一名棠球子。酸甘微溫，消食化積，散瘀破症，俱宜炒熟。生用能發痧斑、痘疹。</p>
<h4>新會皮</h4>
<p>即新會縣橘皮。性味辛溫，微苦微燥，入脾胃而理氣化痰，和中快膈。久服亦能耗橘白：即新會白，功專和胃進食。橘紅：即新會紅，又名杜橘紅，力能利氣化痰。陳久化州者勝，勿偽榴皮。會皮：古名陳皮。一種廣皮，單取外面薄皮；即名廣橘紅，功理嗽散寒。連白功同陳皮，而性稍烈，陰虛肺胃燥熱者均忌。</p>
<h4>小青皮</h4>
<p>辛苦酸溫，色青氣烈，入肝而破氣削堅，為厥陰破氣平肝專藥。醋炒用。橘葉：消滯。橘囊：聚氣滑痰。橘核：散結消滯，為疝痛結核專藥，炒用。</p>
<h4>佛手柑</h4>
<p>辛苦酸溫，入肺而理氣止嗽，化滯定痛。根、葉散滯同功。</p>
<h4>陳香櫞</h4>
<p>古名香臠。苦甘酸辛，性平而下氣快膈，化食消痰，為中脘氣滯實痛專藥。</p>
<h4>花紅</h4>
<p>古名林檎。酸澀甘溫，生津止渴，治泄精久痢。小兒多食，能壅氣發熱。</p>
<h4>枇杷葉</h4>
<p>性味苦辛，平肝清肺，降氣化痰，為咳逆、吐逆、喘逆專藥。刷淨毛，毛射肺令人止咳定喘蜜水炙；止嘔定吐薑汁炒。枇杷葉煎汁收膏，潤燥止咳。枇杷葉蒸熟吊露，清邪。枇杷肉：甘酸性平，潤肺定咳，止渴除煩。</p>
<h4>楊梅</h4>
<p>酸甘性溫，止渴生津，澀腸治痢，火酒浸良。</p>
<h4>石榴皮</h4>
<p>酸澀性溫，澀腸止久痢，醋炒用。浸汁可染須。石榴肉：酸甘性澀，能止崩中、久多食損肺壞齒。石榴花：涼心止衄，千葉者良。</p>
<h4>白果</h4>
<p>一名銀杏。甘苦性澀，生則豁痰清肺，可止帶濁。熟則溫肺定哮，能縮小便。多食，人壅氣。</p>
<h4>胡桃肉</h4>
<p>味甘性溫，肉潤皮澀；入命門而溫肺補腎，養血潤燥。油者有毒，殺蟲治瘡。殼外壓油，可染須發。</p>
<h4>榛子</h4>
<p>性味甘平，調中益氣，充胃實腸，令人不飢，兼能殺蟲。油壞勿用。</p>
<h4>荔枝核</h4>
<p>甘澀性溫，散寒行滯，為　疝囊腫專藥。荔枝肉：甘酸性熱，止呃除煩。多食，令殼：發痘瘡。花、皮、根、汁：能治喉痹。</p>
<h4>桂圓肉</h4>
<p>一名龍眼肉。味甘微溫，入心脾而養血潤燥，益智安神。去殼、核用。</p>
<h4>橄欖</h4>
<p>甘澀酸平，生津清肺，解毒醒酒。核可代用。橄欖仁：味甘平潤，唇吻燥痛，研爛敷</p>
<h4>榧子</h4>
<p>甘澀性平，功專殺蟲、消積。</p>
<h4>松子仁</h4>
<p>甘溫氣香，醒脾開胃，解鬱潤腸，為芳香解鬱潤燥良藥。其油可通津枯腸結，無火</p>
<h4>檳榔</h4>
<p>苦辛性溫，破滯消脹，磨積攻堅；能墜藥力至下極之分成功。虛人忌之。惟嶺南瘴氣鄉，常啖檳榔不輟。</p>
<h4>大腹皮</h4>
<p>性味辛溫，入脾肺而寬中下水；泄肺利脾，為水腫初起專藥。虛者忌之。子似檳榔大形扁，故名大腹檳榔。辛澀性溫，功用相近檳榔而力稍緩。</p>
<h4>枳子</h4>
<p>即金鉤子，一名術密，一名木餳，俗名雞距子。甘平性潤，解酒除煩。木皮煎汁，五痔。</p>
<h4>落花生</h4>
<p>辛甘氣香，醒脾潤肺。俗名長生果，果中佳品。炒熟用。腸滑者非宜。</p>
<h4>川椒</h4>
<p>一名蜀椒。味辛性熱，入腎命而兼入脾肺。補火散寒，溫中殺蟲。揀去閉口，微炒出用。但取外皮名椒紅，功用相同，而性更烈。核名椒目，苦辛微溫，利水消腫。椒根：辛殺蟲。秦產名秦椒，俗名花椒，辛苦性溫，但能溫中散寒，燥濕殺蟲，不能直入命門，而導火歸原之用。</p>
<h4>胡椒</h4>
<p>味辛大熱，暖中快膈，燥濕除寒，為胃寒吐水；陰冷腹痛之專藥。白胡椒：專走氣分而性更烈。</p>
<h4>吳茱萸</h4>
<p>辛苦大熱，入肝而疏逆燥脾，溫中開鬱，引熱下行，為厥陰頭痛、嘔酸、陰疝、奔專藥。止嘔，黃連水炒；治疝，鹽水炒；入肝治血，均醋湯泡炒。</p>
<h4>細茶</h4>
<p>苦甘微寒，瀉熱清神，善消油膩，為清利頭目專藥。空腹忌之。茶子：搗汁，洗衣去膩。</p>
<h4>甜瓜蒂</h4>
<p>性味苦寒，入陽明而能吐風熱痰涎，上膈宿食。無實邪者忌之。甜瓜：性冷，過食</p>
<h4>西瓜</h4>
<p>性味甘寒，清暑除煩，瀉熱止渴，有天生白虎湯之名。然生冷之物過餌，亦能損脾。</p>
<p>瓜皮：能瀉皮間濕熱；治膚黃、膚腫並效。西瓜子仁：性能滌垢，善消暑煩，結燥之痰。</p>
<h4>甘蔗</h4>
<p>性味甘寒，清熱潤燥，和中止渴。生嚼可以發越熱邪。搗汁能止火逆嘔噦。若陰虛火氣分無熱者非宜。青皮蔗：性更清烈，功力不甚相遠，而有入肝之用。</p>
<h4>白沙糖</h4>
<p>即雪花糖，又名冰花。性味甘平，緩中和脾，潤肺益氣。紅糖：甘溫入血分，緩中能助濕熱，中滿者均當忌之。凝結如石者，名石蜜，俗名冰糖，為緩中消積專藥。</p>
<h4>紫砂糖</h4>
<p>甘溫微咸，入血分而散瘀和血，止痛緩中。炒黑最能清瘀止血，產後及尋常血滯並</p>
<h4>蓮子</h4>
<p>古名藕實。甘平性澀，清心醒脾，澀精濃腸，為交媾水火之專藥。去心、衣用。蓮心苦寒，專清心熱。蓮之沉水色黑者，名石蓮，性味苦寒，清心除煩，開胃進食，為禁口痢專藥。有一種樹蓮，大苦，不入湯藥。</p>
<h4>蓮蕊須</h4>
<p>甘平性澀，澀精秘氣，為夢泄遺精專藥。</p>
<h4>白池藕</h4>
<p>生用甘寒，涼血散瘀。搗汁，止吐衄甚捷。熟用甘平，養心益胃，湯煮益血有功藕粉，清胃安神。無熱者均忌。</p>
<h4>藕節</h4>
<p>味甘性平，解熱消瘀；止吐血、衄血。蓮花片：貼天泡濕瘡。</p>
<h4>荷葉</h4>
<p>味苦性平，色青形仰，中空象震；稟少陽甲膽之氣，能升胃中清氣。煨飯，助脾胃消炒黑，崩漏下血。荷葉蒂：守中和胃。荷葉邊：醒陽氣以四達。荷葉梗：開鬱結以通淋</p>
<h4>菱角</h4>
<p>性味甘寒，清暑止渴。多食損陽氣，煮熟亦能滯氣。</p>
<h4>芡實</h4>
<p>一名雞豆。其味甘平，微溫性澀，實脾益腎，固氣澀精。小兒多食則難化。</p>
<h4>臍</h4>
<p>一名烏芋，即地栗。甘寒性滑，瀉熱化積，開噎，毀銅。小兒不可多食，孕婦尤忌。</p>
<p>利小水。</p>
<h4>蒔菇</h4>
<p>苦甘微寒，散血解毒，清咽涼心，故治咽腫喉痛。葉汁：調蚌粉，抹瘙痱良。</p>
<h2>卷之四中</h2>
<h3>菜部</h3>
<p>（葷辛　柔滑　菜　水菜　芝棲）</p>
<h4>韭菜</h4>
<p>辛溫微酸，活血助陽，散瘀止血，為血瘀噎膈專藥。搗汁用。韭子：辛甘性溫，入肝腎、命門，興陽固精，為夢泄遺溺專藥。炒研用。</p>
<h4>蔥白</h4>
<p>辛散性平，解肌發汗，通陽安胎。取白連須用。蔥青：辛散性溫，能治水病足腫。蔥塗金瘡出血。</p>
<h4>薤白</h4>
<p>一名　子。辛苦滑溫，散滯泄滿；為胸痹、滯下專藥。俗名小蒜。梗，主散滯通中，白用。</p>
<h4>大蒜</h4>
<p>性味辛溫，通竅辟穢，導滯殺腥，為中暑卒厥通竅專藥。多食昏目損神。大蒜梗：能疝連宗筋。</p>
<h4>芸苔</h4>
<p>一名油菜。性味辛溫，散血消腫。子：治產難，擂汁飲。油：殺蟲虱，腸滑者忌。</p>
<h4>白芥子</h4>
<p>性味辛溫，入肺而通行經絡，利氣豁痰，能徹皮裡膜外。芥菜：辛熱性散，久食耗</p>
<h4>蔓菁</h4>
<p>一名蕪青，即諸葛菜。苦辛性平，瀉熱解毒，利水明目。根：解酒毒，搗敷陰囊，腫如斗。葉：利五臟，絞汁點飛絲入目。</p>
<h4>萊菔子</h4>
<p>生用辛平，化痰破氣；炒熟辛溫，消食行痰。服參作脹，非此不消。</p>
<h4>萊菔</h4>
<p>辛甘性平，生食升氣；並能寬中化痰，散瘀消食。多食滲血，白人須發。服地黃、何烏人均忌。出過空萊菔，即名地枯蔞，力能寬脹治臌。萊菔葉：辛苦性溫，功專消化積滯痢疾初起，宜腌熟拌醋食之。</p>
<h4>生薑</h4>
<p>性味辛溫，入肺而散寒止嘔，解鬱祛痰，通神明；去穢惡，殺半夏、南星一切毒。薑搗汁溫飲，能消症疾。薑汁：辛溫微潤，能治噎膈反胃，救諸卒中，宜灌之。薑皮：辛水，治皮膚浮腫效。</p>
<h4>煨薑</h4>
<p>辛溫微苦，溫胃氣而和中止嘔。與生薑，並可同大棗，以行胃氣而和營衛。切片，濕包，煨熟用。</p>
<h4>乾薑</h4>
<p>性味辛熱，入脾胃而祛寒止痛，溫胃燥脾；為暖中散冷專藥，傷寒陰盛必需之。</p>
<h4>炮薑</h4>
<p>即乾薑炮黑。辛苦大熱，入脾胃而守中逐冷，救急回陽，為溫中止血專藥。產後虛冷需之，即設假熱外浮，非炮薑導之不可。按：二薑具戰守不同，乾薑辛熱，逐裡寒而表寒解；炮薑辛苦，除內寒而虛陽自回。但薑性辛熱，孕婦均宜忌之。</p>
<h4>胡荽</h4>
<p>辛溫香竄，發痘疹，辟惡氣。服食損人，煎湯熏洗。</p>
<h4>大茴香</h4>
<p>古名　香。性味辛溫，入腎命而祛寒治疝，開胃調中。鹽水炒用。多食昏目。</p>
<h4>小茴香</h4>
<p>一名蒔蘿。味辛微溫，醒脾，治疝，殊勝大茴。鹽水炒用。</p>
<h4>胡蘿卜</h4>
<p>性味甘平，寬中散滯。有黃赤二種，功力不甚相遠。子：治時痢。</p>
<h4>水芹</h4>
<p>性味甘涼，去熱除風，利口齒及大小腸。可充菜蔬，腌熟醋拌食。</p>
<h4>旱芹</h4>
<p>性味甘平，除煩散結，瀉熱消癭。充菜煮食同水芹。</p>
<h4>蓬蒿菜</h4>
<p>古名茼蒿。甘辛微涼，消痰和胃，清心利腸，乃菜中佳品。</p>
<h4>白菜</h4>
<p>一名菘菜。性味甘辛，除煩利腸。大便不實者忌之。黃芽菜：甘美宜人，少滑腸之害珍羞用之。</p>
<h4>菠菜</h4>
<p>即菠　菜。甘溫微滑，止渴潤燥，充胃利腸，菜根亦良。禁忌同白菜。</p>
<h4>薺菜</h4>
<p>性味甘溫，和中利臟，燒灰治赤白痢良。薺菜子：一名　實，即菥　子。性味甘平，熱，除風，明目。花：亦治赤白下痢。</p>
<h4>莧菜</h4>
<p>味甘冷利，通竅滑胎，除熱治痢。忌鱉同食，孕婦勿宜。</p>
<h4>馬齒莧</h4>
<p>性味酸寒，瀉熱散血，解毒殺蟲。子能明目。</p>
<h4>生菜</h4>
<p>一名白苣。性味苦寒，通經宣壅，解熱利腸。</p>
<h4>萵苣</h4>
<p>性味苦冷，功近白苣，尤能下乳殺蟲，善解蛇毒。子：亦下乳，炒研用。</p>
<h4>蒲公英</h4>
<p>一名黃花地丁。味苦甘寒，瀉熱解毒，消腫治疔，為外科敷治專藥。服引亦可。</p>
<h4>翹搖</h4>
<p>即巢菜。性味辛平，利臟明目；去熱除風，俗名花草。花草子：治活血明目，世偽沙藜人。</p>
<h4>菜</h4>
<p>一名馬蹄草。甘寒性滑，瀉熱解毒，消腫治瘡，為外科毒盛，宜常用食物。</p>
<h4>羊蹄草</h4>
<p>即禿菜。性味苦寒，搗爛塗頭上禿瘡，絞汁除頭風白屑。</p>
<p>即紅菜頭。甘苦涼滑，通腸利臟，解熱療風，搗敷禽獸傷。子：用醋浸，揩擦，能去面粉滓。</p>
<h4>黃瓜菜</h4>
<p>一名黃花菜。甘苦微寒，利腸胃，通經閉。</p>
<h4>魚腥草</h4>
<p>古名蕺菜。散熱消癰，解　砂毒。</p>
<h4>蕨菜</h4>
<p>味甘寒滑，瀉熱利水。作蔬甘滑，亦可醋食，澄粉甚滑美。</p>
<h4>芋艿</h4>
<p>味辛涼滑，生搗瀉熱解毒，熟食甘美充飢。梗：擦蜂螫良。</p>
<h4>土芋</h4>
<p>即香芋。味甘辛寒，煮食濃腸止嗽；生研水服，能解藥毒。</p>
<h4>淮山藥</h4>
<p>古名薯蕷。性味甘平，歸脾入肺。生用則補虛退熱，炒黃則健脾益陰。為滋補脾陰子：名零余子，性稍溫和，功用不下山藥，救荒可以充飢。</p>
<h4>甘薯</h4>
<p>即山薯。生食甘涼伐氣，熟則甘平充飢。晒乾磨粉，尤能滯氣，多食損人。</p>
<h4>干百合</h4>
<p>甘微苦寒，潤肺止嗽，清熱寧心。鮮者可供茶點，多食損胃。</p>
<h4>竹筍</h4>
<p>味甘微寒，爽胃利膈，化熱消痰。冬筍：味勝，然竹能損氣，虛人不宜多食，苦竹尤干筍：尤能消痰化水，不得蔬飧。</p>
<h4>茄子</h4>
<p>即落蘇。甘寒性利，散血寬腸。多食，動風損脾；腫病初愈切忌，犯之必復。茄根：血消風，白者尤良。</p>
<h4>葫蘆</h4>
<p>一名苦瓢。苦寒微甘，利水寬脹，散熱消腫。燒灰，治水臌尤良。</p>
<h4>冬瓜</h4>
<p>甘淡微寒，瀉熱消腫，利水益脾。冬瓜皮：行皮間水濕，善消膚腫。子仁：明目潤燥葉：治寒熱消渴如瘧。</p>
<h4>南瓜</h4>
<p>一名女瓜，俗名飯瓜。味甘溫平，充飢甜美。多食，滯氣損人。</p>
<h4>越瓜</h4>
<p>一名稍瓜，即菜瓜。性味甘寒，瀉熱利腸。多食、鮮食損胃。</p>
<h4>黃瓜</h4>
<p>一名胡瓜。味甘淡寒，清脾利水，解熱除煩。搗根，敷狐刺腫。</p>
<h4>絲瓜</h4>
<p>一名天羅，一名蠻瓜。性味甘冷，通經涼血，解毒除風。腸滑者忌。老絲瓜：筋絡貫力能通經活絡，熱痹宜之。酒炒用。</p>
<h4>茭白</h4>
<p>一名茭筍，一名菰米。甘冷性滑，去熱除煩，退黃利便。根：名菰根，冷利甚於蘆根實：名雕胡米，救荒亦可暫充糧食。</p>
<h4>紫菜</h4>
<p>一名紫英。甘寒微咸，瀉熱散結，軟堅消癭。多食，令人寒中。</p>
<h4>海粉</h4>
<p>甘咸性寒，軟堅化痰，散結消癭，與紫菜功力相近。</p>
<h4>石花菜</h4>
<p>甘咸大寒，利上焦浮熱，發下部虛寒。洵非實熱，不可輕投。</p>
<h4>龍須菜</h4>
<p>甘寒微咸，清熱散結，利水消癭，較石花菜功力稍緩。</p>
<h4>木耳</h4>
<p>俗名云耳。甘平性滑，潤燥利腸，燒灰治五痔。大便不實者忌。</p>
<h4>香蕈</h4>
<p>甘平無毒，乃楠木上糯米種出，大益胃氣。與麻菰、雞　性味不殊。麻菰：埋桑樹、木於土中，澆以米泔而生。其出雲南沙地間者，高腳散頭；名雞　菜，力能益胃清神。其菰兼能化痰，雞　兼能治痔，較香蕈為性發耳。瘠地所出一種，形瘦味淡，性亦稍斂，名肉，亦供食品，皆為蔬饌之佳肴。土蕈：得鬱蒸之氣而生，助長濕熱最甚。雷蕈：甘美可瘡疥人忌之。</p>
<h2>卷之四下</h2>
<h3>穀部</h3>
<p>（麻麥　稻稷　粟　菽　豆　造釀）</p>
<h4>胡麻</h4>
<p>一名巨勝子，即脂麻。性味甘平，益肝補腎，潤燥填精，黑者良。蒸晒用。麻油：滑利產，潤燥通腸，腸滑者均忌。辟虱胡麻，味甘微溫，療大風瘡癬，只宜入藥，不堪服食</p>
<h4>大麻仁</h4>
<p>性味甘平，緩脾潤燥，滑利大腸。生研恐其大潤，亦有焙用者。</p>
<h4>小麥</h4>
<p>味甘微寒，養心止汗，利溲除煩。小麥面：甘溫，補虛養氣，助胃益脾。多食，則壅作脹，助濕發熱。新麥性熱，病患忌之。陳久者良。北麥較勝，可常食之。小麥稈：利小燒灰去惡蒸熨痹痛</p>
<h4>大麥</h4>
<p>甘咸微寒，除熱止渴，化氣調中。大麥粉煮粥，清暑良。焦麥芽：苦平，消穀進食，氣寬胸。大麥面：下氣化熱，平胃寬胸，無壅氣滯熱之患，暑月宜供食品。</p>
<h4>麥</h4>
<p>即北麥。味甘微寒，清中益氣。久食，令人力健。</p>
<h4>蕎麥</h4>
<p>性味甘寒，化積快胃，降氣寬胸，胃虛無熱者忌。</p>
<h4>野麥</h4>
<p>即雀麥。味甘平，充飢滑腸。苗：下死胎、胞衣。</p>
<h4>糯米</h4>
<p>性味甘溫，入脾肺而補虛益氣，堅胃強陰。性甚黏滯，小兒少食，病患尤忌。糯稻根除後重，胃虛氣滯人暴痢宜之。</p>
<h4>粳米</h4>
<p>北粳涼，南粳溫；赤粳熱，白粳涼；新粳熱，陳粳平；早粳溫，晚粳涼。味皆微甘，天地中和之氣，得日月平正之精，入胃而補脾益肺，長氣養血，添精助神，為養生日用之萬世不易之糧也，貴賤共珍之。稠米飲：益胃養神，無火干渴最宜之。清米泔：清熱止利便除煩。穀殼：醋拌蒸，敷寒痹。稻柴：煮汁，消化牛乳。</p>
<p>米　性味甘溫，溫中</p>
<h4>稷米</h4>
<p>性味甘平，和中利胃，益氣宜脾。黍之不黏者為稷。莖治水腫，煎湯浴之。</p>
<h4>黍米</h4>
<p>性味甘溫，補中益氣。久食，令人煩熱。稷之黏膩者為黍。根，治心氣疼。</p>
<p>高粱　味甘微溫，黃粱性平，白粱、青粱微涼，俱能益氣和中。可以釀酒。粟之大者為高粱</p>
<h4>粟米</h4>
<p>即小米。咸淡微涼，補虛益損，開胃利溲。粱之細者為粟。</p>
<h4>秫米</h4>
<p>即黃米。味甘微涼，益陰利便。粱米、粟米之黏者為秣。</p>
<h4>子</h4>
<p>一名龍爪粟，一名鴨爪稗。性味甘澀，益氣濃腸，可以濟飢。</p>
<h4>蜀黍</h4>
<p>亦名高粱，一名蘆KT　，即今蘆粟。甘澀微涼，和中澀腸。黏者與黍米同功。莖：助濕</p>
<h4>玉蜀黍</h4>
<p>一名玉高粱，即真珠米。性味甘平，調中開胃。炒折發泡，亦有風乾磨粉，以充但久食則助濕損胃。干炒則泡，其害亦少。鮮者，助濕生蟲，尤不宜多食。根、葉：淋痛不可忍。</p>
<h4>菰米</h4>
<p>即交米。性味甘冷，止渴除煩。荒年亦可充飢。</p>
<h4>東子</h4>
<p>性味甘平，益氣充飢，可作飯食。</p>
<h4>蓬草子</h4>
<p>酸澀性平，作飯充飢，與米無異。</p>
<h4>草子</h4>
<p>性味甘寒，作飯去熱，亦可充飢。</p>
<p>性味甘平，扶虛益損，亦可充飢。</p>
<h4>稗子</h4>
<p>性味辛平，微苦微涼，亦可作飯充飢。</p>
<h4>薏苡米</h4>
<p>甘淡微涼，健脾清肺，滲濕舒筋，止渴退腫。炒松用。生用，則專滲濕熱以清肺氣</p>
<h4>御米殼</h4>
<p>即嬰粟殼。力能澀腸斂肺。治嗽蜜炙，治痢，醋炒。嗽、痢初起切忌。御米：性寒煮粥能治反胃。</p>
<h4>阿芙蓉</h4>
<p>一名阿片，俗作鴉片。酸澀性平，煉溫能收脫止痢。燒灰用。其質即嬰粟花，青蕊津液煎成。世每藉為房術，為害非輕。</p>
<h4>黑豆</h4>
<p>性味甘涼，色黑入腎，補腎養心，涼血解毒。緊小者入藥，大者只供食品，均鹽水炒生者亦能退熱利腸。</p>
<h4>黃大豆</h4>
<p>性味甘溫，解毒潤燥，益胃利腸。腸滑者忌。炒熟能滯氣。豆油：辛甘性熱，塗瘡解發　。</p>
<h4>白豆</h4>
<p>一名飯豆。性味甘平，調中益胃，可作豆腐。葉汁：下氣解暑。</p>
<h4>赤小豆</h4>
<p>甘酸性平，色赤入心，能下行而散血利水。久服令人瘦。緊小色暗者入藥。半紅半名相思子，性平有毒，吐心腹邪氣，世每以此偽充。</p>
<h4>綠豆</h4>
<p>性味甘寒，通行十二經；清濕熱，止煩渴，為利濕解毒專藥。其功在皮，去殼即壅氣綠豆粉：一名真粉，雖有和中退熱之功；但善解藥性，病患宜少食之。</p>
<h4>豌豆</h4>
<p>俗名小安。性味甘平，和中調胃，能止吐逆泄利，可煮飯中食之。</p>
<h4>蠶豆</h4>
<p>甘澀性溫，補益中氣，澀腸實脾；能已久瀉。發芽則全不閉澀，香甘可口。</p>
<h4>豇豆</h4>
<p>甘澀性平，補腎解毒，洵無滑腸之害。</p>
<h4>白扁豆</h4>
<p>性味甘平，健脾消暑，止瀉除濕。消暑生用，健脾炒用。多食、久食，但能滯氣。</p>
<p>葉：並能清暑和中，故暴痢宜用之。</p>
<p>即馬料豆。甘澀性平，補腎解毒，活血除風。取皮去肉。解毒生用，補腎炒用。</p>
<p>滑腸閉氣，不入湯藥。</p>
<h4>刀豆</h4>
<p>性味甘溫，溫中止呃，勝於柿蒂，有益腎之功。</p>
<h4>黎豆</h4>
<p>甘微苦溫，溫中益氣。多食令人悶。</p>
<h4>淡豆豉</h4>
<p>性味甘平，入肺腎而解肌發汗；泄熱和中，為傷寒、溫疫、斑疹發散專藥。即細黑罨成豉用。</p>
<h4>大豆黃卷</h4>
<p>一名豆　。性味甘平，入脾胃而輕揚胃氣，解利濕熱，為治痹舒筋專藥。即黃大陰乾用。</p>
<h4>豆腐</h4>
<p>甘淡微寒，和胃清熱，降大腸濁氣。中寒者忌之。臭豆腐：降濁寬腸，較淡豆腐尤勝惟市中俱雜鍛石，則雖經久成塊，性燥不宜過食。</p>
<h4>陳廩米</h4>
<p>甘淡性平，最能養胃快膈。煮汁煎藥，亦取調和脾胃之功。</p>
<h4>糯米粥</h4>
<p>性味甘溫，溫胃益氣，除脾胃虛寒；止泄瀉吐逆；為溫養胃氣妙品。粳米粥：甘平養胃除煩，止渴，利溲，為資生化育神丹。</p>
<h4>蒸餅</h4>
<p>性味甘平，消食開胃，通三焦，利水道。陳久者良。即小麥面酵糟發成，臘月寒食日宜蒸之。</p>
<h4>面筋</h4>
<p>性味甘涼，解熱和中。勞熱人宜淡煮食之。煎炙則性熱難化，無病患亦不宜過食。</p>
<h4>麥粉</h4>
<p>即小粉。性味甘涼，和臟腑，通經絡。炒黑入醋煎煉成膏，消癰腫、湯火傷，俗名鐵散。</p>
<h4>陸神麯</h4>
<p>辛甘性溫，溫中消食，化滯寬脹，陳久者良。建曲：功勝，散滯生用；消食炒研；則不損胃氣。二曲皆然，俱能墮胎斷乳，孕婦忌之。酒曲：性烈，尤不宜用，惟糯食可暫需之。</p>
<h4>紅曲</h4>
<p>甘溫色赤，入血分而破血消積，為陽明血痢稠黏專藥。陳久者良。炒研用。血虛忌</p>
<h4>焦麥芽</h4>
<p>性味甘溫，溫中化滯，專消穀食。生用亦能散滯。禁忌與神麯不殊。</p>
<h4>穀芽</h4>
<p>性味甘溫，溫中化氣，開胃進食，生則升胃氣下陷為宜，亦能助發斑疹。熟則降胃氣虛閉為宜，亦能助胃化食。稟性中和，全無禁忌。</p>
<h4>飴糖</h4>
<p>性味甘溫，緩中益氣，潤燥除痰，為建中內托專藥。中滿忌之。</p>
<h4>甜醬</h4>
<p>甘咸微溫，解葷腥、湯火熱毒，陳久彌佳。</p>
<h4>穀醋</h4>
<p>味酸苦溫，斂血散瘀，消腫安神。多食損齒減顏，胃虛多郁之人宜戒。麥醋：功用相性稍溫耳。酒醋：少酸收之效，性熱不堪入藥。</p>
<h4>米酒</h4>
<p>溫中御寒。紅酒，活血行經；白酒，化氣通絡。味有辛甘微苦，性皆溫熱爍陰。溫飲少飲則活血壯神，御寒辟穢；冷凍飲料、多飲則積濕傷神，生痰動火，至損氣損陰，為害不可言，養生家宜慎之。</p>
<h2>卷之五上</h2>
<h3>金石部</h3>
<p>（金石　鹵石）</p>
<h4>金箔</h4>
<p>辛平體重，平肝定魄，鎮心安神，治驚狂、癲癇。銀箔同功。</p>
<h4>自然銅</h4>
<p>性味辛平，散瘀止痛，善治折傷，能續筋骨。火　醋淬七次，細研用。</p>
<h4>銅青</h4>
<p>即銅綠。性味酸平，入肝而斂熱除風，明目止痛。醋製銅器，刮取用。</p>
<h4>烏鉛</h4>
<p>性味甘寒，墜痰治熱，解毒安神。體重性陰，大傷心胃，虛人不可輕用。</p>
<h4>鉛丹</h4>
<p>即黃丹。性味鹹寒，解熱拔毒。雖有內治之功，與鉛同性，復經鹽礬煉成，大損真陽不可輕用。鉛粉功忌略同。</p>
<h4>密陀僧</h4>
<p>性味辛平，散血消腫，解毒殺蟲，為外治癰腫專藥。</p>
<h4>古文錢</h4>
<p>性味辛平，目中障翳，醋　磨汁點之。</p>
<h4>鐵落</h4>
<p>辛平體重，墜熱平肝，寧心愈狂。打落者，名鐵落；飛起者，名鐵精；器物生衣，為鏽；鹽醋浸出，為鐵華；雖升沉有差，功用大略相同。針砂：消腫潰堅，治水腫、黃膽，人慎用。</p>
<h4>雲母</h4>
<p>性味甘溫，鎮攝虛陽，辟陰邪不正之氣，治陰瘧，久痢。煮磨澄粉用。</p>
<h4>白石英</h4>
<p>甘辛微溫，溫肺潤燥，治肺癰潰久不斂，咳逆上氣。細研用。</p>
<h4>紫石英</h4>
<p>甘辛微溫，鎮墜虛怯，專溫血室，治血海虛寒，經久不孕，為溫暖子宮專藥。醋水飛用。</p>
<h4>朱砂</h4>
<p>性味甘涼，色赤屬火，入心而鎮心安神，辟邪治祟。細研水飛用。多用、獨用，令人鈍。</p>
<h4>水銀</h4>
<p>辛寒陰毒，功專殺蟲。性滑重直，最易入肉，慎之。</p>
<h4>輕粉</h4>
<p>辛冷燥毒，殺蟲治瘡，卻痰行經。即水銀加鹽礬煉成，不可輕用。粉霜：功過大略相</p>
<h4>銀砂</h4>
<p>辛溫燥毒，祛痰破結，治瘡殺蟲，與輕粉、粉霜不甚相遠。</p>
<h4>雄黃</h4>
<p>性味辛溫，除痰辟邪，解毒殺蟲。紅透明徹者為雄黃；色黃暗晦者為雌黃。但能治瘡蟲，不堪入藥。</p>
<h4>生石膏</h4>
<p>甘淡微辛，大寒，而入足陽明，兼入手太陰、少陽。質重降火，氣輕泄熱，為傷寒熱表裡不解、熱鬱煩渴專藥。煨熟則不傷胃氣，但可清火，不能泄熱為異。</p>
<h4>飛滑石</h4>
<p>味淡寒滑，入足太陽而兼入肺經。外通毛竅，內滌腑熱，為清暑除煩，通竅利濕專細研，水飛用。</p>
<h4>赤石脂</h4>
<p>甘溫微澀，入血分而澀血止利，固下定崩。醋　細研用。</p>
<h4>禹餘糧</h4>
<p>一名太一余量。甘平性澀，入手足陽明血分。收斂止痢，澀脫定崩。細研水淘，醋用。</p>
<h4>爐甘石</h4>
<p>性味甘溫，入陽明而燥濕消腫，去翳除爛，為目疾專藥。　紅，童便淬七次，細研用。</p>
<h4>無名異</h4>
<p>性味甘咸，入血分而活血和血，治折傷癰腫，止痛生肌，為傷科、外科專藥。</p>
<h4>鐘乳</h4>
<p>一名鵝管石。性味甘溫，入陽明氣分而益陽通竅，下乳助虛。煮過細研，水飛用。</p>
<h4>石炭</h4>
<p>一名煤炭。辛溫有毒，燥濕祛寒，止金瘡出血。僅堪外治，不入湯藥。</p>
<h4>鍛石</h4>
<p>辛溫毒烈，燥濕殺蟲，除癩疾死肌，止金瘡出血。風化者良。鹼水煮滾，化入鍛石，糯米於中，經宿露過如晶，點痣起泡去藥，結痂自愈。不得著生水，即爛肉也。古礦灰：毒已出，瘡口不斂，頑瘡膿水淋漓，俱宜用之外治。</p>
<h4>海石</h4>
<p>一名浮石。鹹寒軟堅，輕浮入肺，能消老痰結塊，理嗽通淋。乃水沫日久結成，多服人血氣。</p>
<h4>陽起石</h4>
<p>性味鹹溫，入腎命而補火暖腎，治陰痿精乏，子宮虛冷。火　，鹽水淬，研用。</p>
<h4>活磁石</h4>
<p>即吸鐵石。性味辛鹹，色黑屬水，引肺金之氣入腎而補腎益精，鎮墜虛熱，為陰虛鎮墜之專藥。能吸鐵者佳，鹽水　研用。</p>
<h4>代赭石</h4>
<p>苦甘性平，入肝與心包血分。鎮肝和血，降逆除噯。醋　細研用。</p>
<h4>空青</h4>
<p>甘酸性寒，益肝明目，通竅利水。中空有水者良。</p>
<h4>膽礬</h4>
<p>一名石膽。酸澀辛溫，入少陽膽經。性斂上行，能涌吐風熱痰涎，發越風木相火。磨作銅色者真。燒灰研末，摻鼻疳蝕爛。</p>
<h4>石</h4>
<p>辛熱有毒，治堅癖固冷，寒濕痹風。有蒼白數種，與砒相近，不煉傷人。</p>
<h4>砒石</h4>
<p>味辛苦酸，大熱大毒，內服劫痰截瘧，外敷去腐殺蟲。錫之苗也。煉者名砒霜，其性亦烈。中其毒者，生羊血、綠豆汁可以解之。</p>
<h4>青礞石</h4>
<p>甘咸微毒，質重色青，入肝而平肝下氣，軟堅化痰，為頑痰癖結之專藥。入硝　盡色如金，細研水飛用。</p>
<h4>花蕊石</h4>
<p>一名花乳石。酸澀性平，入肝經血分，化瘀血為水，止瘡出血。　研水飛用。苟非瘀逆，不可輕投。</p>
<h4>石燕</h4>
<p>性味甘涼，通淋行濕熱，利竅催難產。煮汁、磨汁；或為末水飛，俱可用。</p>
<h4>石蟹</h4>
<p>性味酸寒，治青盲目翳，天行熱疾。本石也，似蟹。細研水飛用。</p>
<h4>食鹽</h4>
<p>性味鹹寒，入心腎而瀉熱潤燥，軟堅殺蟲，解一切葷腥毒。水腫忌之。</p>
<h4>戎鹽</h4>
<p>即青鹽。性味鹹寒，入肝腎而瀉熱益陰，固齒明目。功近食鹽，而力更勝，水腫宜之</p>
<h4>凝水石</h4>
<p>一名寒水石。辛鹹大寒，治時氣熱盛，口渴水腫。然質重性寒，苟非大熱不可輕投</p>
<h4>元精石</h4>
<p>一名太陰元精石。性味鹹寒，稟太陰之精，力能救陰助陽，有扶危拯逆之功，復元之。</p>
<h4>朴硝</h4>
<p>即皮硝。味苦辛鹹，其性大寒，瀉熱泄實，潤燥軟堅，蕩滌三焦實熱，腸胃燥結，為陳致新專藥。生於鹵地，刮取煎煉，存底為朴硝；在上為芒硝；有芽者為馬牙硝；風日消水氣，輕白如粉者，為風化硝。朴硝酷烈性急，諸硝經煉稍緩。</p>
<h4>元明粉</h4>
<p>辛甘咸冷，瀉胃中實熱；除腸中宿垢，潤燥破結。以朴硝同萊菔煮，再同甘草煮；雖稍緩，無實熱燥結者，均為大忌。</p>
<h4>砂</h4>
<p>鹹苦辛熱，專消肉積，治噎膈症瘕，除目翳　肉。熱毒之性，非經煉過，不可輕投。</p>
<h4>蓬砂</h4>
<p>即硼砂。甘咸微涼，滌垢消腫，瀉熱除痰，為喉痹、口齒、噎膈、積塊專藥，並消蛋細研水飛，量虛實用。</p>
<h4>石硫黃</h4>
<p>味酸大熱，入命門而補火通腸，治瘡殺蟲。置豆腐中，制去熱毒用。土硫黃：辛熱只可治瘡，不入湯藥。</p>
<h4>白礬</h4>
<p>酸澀微寒，化痰燥濕；解毒殺蟲，性能卻水，去濁澄清。解毒生研；澀涎煨熟。</p>
<h4>綠礬</h4>
<p>一名皂礬。酸澀性涼，燥濕化涎，解毒殺蟲。性近白礬，而功更烈。　赤，名絳礬，入血分，而伐肝燥脾，礬石丸用之。</p>
<h4>硝石</h4>
<p>一名火硝，即焰硝。辛苦微咸，大熱性烈；升發胃中陽氣，治傷冷吐瀉，心腹　痛，積攻堅，來復丹用之。</p>
<h2>卷之五中</h2>
<h3>水部</h3>
<p>（天水　地水）</p>
<h4>立春、雨水節內雨</h4>
<p>性味甘平，升陽舉陷；可煎中氣不足，清陽下陷之藥。</p>
<h4>驚蟄、春分、清明、穀雨節內雨</h4>
<p>性味甘平，輕揚上行，補中而舉陽氣下陷，宜煎補中升陽</p>
<h4>小滿節內雨</h4>
<p>有毒壞物，人飲之，多生脾胃疾。小滿節前後淫雨，並為咸雨，其毒尤甚。</p>
<h4>梅雨</h4>
<p>性甚消伐，有毒霉物，惟可洗瘡疥滅痕。澄清入醬亦易熟。芒種後逢壬為入梅，小暑逢壬為出梅，此時濕熱熏蒸，人受其氣則生病。物受其氣則生霉。</p>
<h4>重五日午時雨</h4>
<p>性味清烈，解毒殺蟲。宜制造瘧、痢、瘡、瘍諸丹、丸、煎，辟祟藥更效。</p>
<h4>神水</h4>
<p>即五月五日午時雨，急伐竹竿瀝取為神水。性味甘寒，清熱化痰，定驚安神。和獺肝丸，治心腹積，及殺勞蟲及諸蟲病。</p>
<h4>立秋、處暑、白露、秋分節內雨</h4>
<p>性味甘寒，清熱潤燥，宜煎整肅肺氣之藥。</p>
<h4>寒露節內雨</h4>
<p>有毒，壞禾稻，人飲亦致多疾；與小滿節內雨相近，性稍清肅耳。</p>
<h4>霜降液雨</h4>
<p>立冬後十日為入液，至小雪為出液。液雨殺蟲消積，宜煎蟲痛疳積藥。</p>
<h4>霜降雨</h4>
<p>氣稟肅殺，功專瀉熱，陽氣有餘者，宜此煎藥。</p>
<h4>大雪、冬至、小寒、大寒及臘日雨</h4>
<p>清熱益陰，宜浸滋補五臟及痰火積聚，蟲毒諸丹、丸。</p>
<h4>明水</h4>
<p>即方諸水。功專益陰退熱，明目安神，除煩止渴，宜煎虛勞煩熱之藥。</p>
<h4>露水</h4>
<p>甘平止渴，潤肺解暑。百花上露：令人明目，好顏色。</p>
<h4>霜</h4>
<p>甘冷解酒熱。和蚌粉，敷暑月痱瘡。</p>
<h4>臘雪</h4>
<p>甘冷，治時行溫疫，宜煎傷寒、熱病、火　之藥，抹痱殺蟲。春雪：生蟲，不堪入藥</p>
<h4>冰</h4>
<p>甘冷，水極似土，太陰之精。傷寒陽毒昏迷者，置冰膻中良。亦解燒酒毒。</p>
<h4>潦水</h4>
<p>性味甘平，宜煮調脾胃，去濕熱之藥。降注雨水為潦。淫雨亦為潦，反助濕熱，不可</p>
<h4>半天河水</h4>
<p>一名上池水。竹籬頭上及樹孔穴中取之。味甘微寒，辟邪解毒，治鬼疰狂邪，諸</p>
<h4>急流水</h4>
<p>此水以瓢揚之萬遍，又名勞水。皆性味甘平，滋腎益脾，治五勞七傷，及傷寒後欲作奔豚。逆流水：性逆倒上，治中風卒厥，涌吐痰涎。</p>
<h4>井泉水</h4>
<p>平旦新汲為井華水，療病宜人，有益陰清熱之功。</p>
<h4>醴泉</h4>
<p>即甘泉瑞物也。王者興，甘泉出。祛邪辟穢，止渴除煩，飲之令人多壽。</p>
<h4>乳穴泉</h4>
<p>近乳穴處流出。性味甘溫，久服令人肥健不老，與鐘乳同功。</p>
<h4>玉井泉</h4>
<p>甘平，令人體潤；毛髮不白，久服成地仙。</p>
<h4>溫泉</h4>
<p>一名溫湯。辛熱微毒，浴諸風攣縮、頑痹不遂，及癬疥，眉發脫落者。浴後大虛，當病補養。無病患不宜輕用。</p>
<h4>阿井水</h4>
<p>甘咸性平，利膈清痰，化濁澄清，能止吐、衄、崩、淋諸血。用以煎煮阿膠，其功</p>
<h4>山岩泉水</h4>
<p>性味甘平，洗腸滌暑，治霍亂轉筋。</p>
<h4>海水</h4>
<p>味鹹微溫，浴風癬，吐宿食。無瘢痕、傷胃之虞。</p>
<h4>地漿</h4>
<p>一名土泉。性味甘寒，清暑除煩，化熱解毒，可煎霍亂吐瀉之藥。</p>
<h4>百沸湯</h4>
<p>一名太和湯，一名麻沸湯。味甘微溫，補中助陽，宣通經絡。</p>
<h4>生熟湯</h4>
<p>一名陰陽水。調中化食，治霍亂吐瀉。</p>
<h4>齏水</h4>
<p>性味酸鹹，探吐宿食、痰飲。</p>
<h4>甑氣水</h4>
<p>以器盛取，沐頭長發，常令黑潤。</p>
<h4>銅壺滴水</h4>
<p>性滑，上可至巔，下可至泉，可煎健運四末之藥。</p>
<h2>卷之五下</h2>
<h3>火部</h3>
<h4>桑柴火</h4>
<p>桑乃箕星之精，火燃則拔引毒瓦斯；助藥力，逐風寒。煎補藥，灸癰疽。</p>
<h4>炭火</h4>
<p>櫟炭力緊，　煉一切金石藥物。　炭力緩，烹煎炙焙百藥丸散。</p>
<h4>蘆火</h4>
<p>竹火　火力和緩，宜煎一切滋培藥。</p>
<h4>燈火</h4>
<p>回陽祛風，治驚解毒。燈心蘸麻油點著，視絡脈盛處淬之。</p>
<h4>燈花</h4>
<p>火氣結聚，敷金瘡，生肉定血。抹乳頭，止小兒夜啼。</p>
<h4>艾火</h4>
<p>火力透出，通經絡，灸百病。風冷人入硫黃少許，更妙。陽燧火：火鏡向日，艾絨承火珠火：火珠向日，艾絨承取。二火最能透經愈病，不</p>
<h4>神針火</h4>
<p>削桑木成針，干之，蘸麻油點著吹滅；乘熱隔紙灸患處，火氣直達病所。心腹冷痛寒濕痹，及附骨陰疽皆效。雷火神針：藥艾紙卷，如神針法；灸患處，其效亦速。</p>
<h4>火針</h4>
<p>金針燒赤，針沉寒痼冷，症瘕積聚，較冷針暖灸效速。</p>
<h4>燧火</h4>
<p>鑽木取火，木為火母，性緩不燥。金石取火，擊烈火暴，火燥性急。今人嗜煙酒，多火之患。</p>
<h4>陽火陰火</h4>
<p>五行各有陰陽，而火之陰陽為尤著。天之陽火，太陽真火，星精飛火；天之陰火雷火，火精伏火；地之陽火，鑽木之火。擊石、戛金之火；地之陰火，石油之火，人之陽火，君火、相火；人之陰火，失位之火。</p>
<h3>土部</h3>
<h4>白堊土</h4>
<p>即白善土。性味甘溫，治男子水臟寒，女子子宮冷。痱子瘙癢，研末敷之。　瘡濕研，生油調搽。</p>
<h4>黃土</h4>
<p>性味甘平，益脾止瀉；解百藥、野蕈毒。</p>
<h4>伏龍肝</h4>
<p>即灶心黃土。性味辛溫，假火土之氣，調中止瀉，去濕消腫，有益脾溫土之功。</p>
<h4>東壁土</h4>
<p>性味甘溫，益脾扶陽，止霍亂吐瀉。下部濕爛，研末敷之。</p>
<h4>松煙細墨</h4>
<p>性味辛涼，止血解毒。吐血、衄血。藕汁、茅根汁磨濃飲之。人乳磨，點飛塵入膽磨濃，消癰疽腫毒。</p>
<h4>釜臍墨</h4>
<p>性味辛溫，止血解毒，治陽毒發狂，黑奴丸用之。</p>
<h4>百草霜</h4>
<p>即灶突上煙煤。性味辛溫，止血散瘀。治吐血、衄血，陽毒發狂。</p>
<h4>梁上塵</h4>
<p>一名烏龍尾。辛苦微寒，輕浮散積，治膈痛噎塞，金瘡齒衄，並皆止之。散積生研血炒黑用。</p>
<h4>鹼</h4>
<p>辛苦澀溫，消食磨積，去垢除痰。發面、浣衣，皆用之。</p>
<h4>孩兒茶</h4>
<p>一名烏爹泥。苦澀微寒，清膈化痰，收澀止血，為咽喉口齒專藥。</p>
<h2>卷之六上</h2>
<h3>禽部</h3>
<p>（原禽　水禽　林禽）</p>
<h4>燕窩菜</h4>
<p>甘淡性平，養陰潤肺，止渴化痰，為虛勞滋補良藥。有紅、白、黑三種。黑者品下入血分，煮以淡粥，益小兒痘疹；白開胃氣，煮以冰糖，能已勞痢。燕窩腳：色紅紫，燕，性重下達，微咸下潤，治噎膈最宜。假燕窩：白如銀絲，不堪用。</p>
<h4>石燕</h4>
<p>一名土燕。性味甘溫，壯陽益氣，暖腎添精，御風寒，縮小便。</p>
<h4>夜明砂</h4>
<p>一名天鼠矢，即蝙蝠屎。性味辛寒，入肝經血分；活血消積，治目盲障翳。</p>
<h4>五靈脂</h4>
<p>即寒號蟲矢。苦鹹微寒，入肝經血分，專降濁陰，行血破血，止痛調經。破血生用血炒用，入肝醋炒。無瘀者忌。</p>
<h4>雀</h4>
<p>即黃雀、麻雀。性味甘溫，壯陽益精。孕婦勿食。雀卵：性味酸溫，益精養血；暖腎調經，四烏　骨一蘆茹丸用之。</p>
<h4>白丁香</h4>
<p>即雄雀糞。苦溫微毒，性善消積，去目中翳膜。細研，甘草水飛，焙乾用。</p>
<h4>鴿</h4>
<p>一名鵓鴿，野者為鵓，家者為鴿。性味鹹平，益精調氣，解諸藥毒。虛損人食之有益，兼治惡瘡頑癬，白者入藥。鴿卵：稀痘解毒。屎：名左盤龍，臭之，殺瘵蟲。酒服，消積塊。虛勞家宜蓄之。人、馬瘡疥，炒研敷之。</p>
<h4>雞</h4>
<p>屬巽，性味甘溫，益肝補虛，宜於女子。多食動風發病，男子陽痿者忌。黃雌雞：補產後虛羸。丹雄雞：除漏下崩中。五爪白絲毛雞：鳩啄，驚忤痹痛。雄雞冠血：辟中惡客忤，塗口眼歪斜。雞肝：不落生水，磨疳積翳目。雞內金：一名雞肫皮，一名雞　。攻腹脹，消堅積，炒研用。雞卵：甘平，養心潤肺，清咽開音，多食令人悶。哺出蛋殼：研末乳調，點目去翳。卵中白衣：開久咳結氣。雞矢白：燒灰酒服，治膨脹；旦食不能暮食。雞溏糞：拔毒敷疔，散癰疽，紅腫皆效。</p>
<h4>烏骨雞</h4>
<p>屬水屬木，性味甘平，益肝滋腎，退熱補勞，為經癸、胎產虛熱專藥。舌黑者良。</p>
<p>粗劣不堪入藥。雞兼五色，黑雞白頭，五爪六指；雞死不能伸足者，皆有毒，不可輕</p>
<h4>雉</h4>
<p>即野雞。性屬離火，酸甘微溫，補益止瀉，善除蟻　，多食亦能發火動風。</p>
<h4>鶴頂</h4>
<p>鶴食蛇虺，頂血最毒。欲求自盡，服之即斃。肫中砂石子：磨汁，解蟲毒。</p>
<h4>鵜鶘油</h4>
<p>咸溫性滑，善走拔毒，引諸藥直達病所，治聾、痹、癰、腫。取油熱化，即以其嗉僅堪外敷，不入湯丸。</p>
<h4>鵝肉</h4>
<p>甘溫微毒，發風發瘡，火熏尤甚。蒼者性涼利臟。鵝血：開血膈噎塞，乘熱生飲。鵝治誤吞稻芒，滴入喉中即順。鵝卵：補益，多食發病。</p>
<p>即家鴨。甘平微咸，入肺、腎、血分。補陰退熱，利水化痰。黑嘴白毛鳳頂者，為滋補虛勞專藥。鴨血：解砒　毒，乘熱生飲。鴨卵：閉氣滯下，忌之。鴨頭：利水消腫。鴨腦：塗罨凍瘡。鴨涎：治穀、麥芒入喉。</p>
<h4>鳧</h4>
<p>即野鴨。性味甘平，補陰益氣，利水安中，殊勝家鴨，虛勞失血，無不宜之。野鴨血：熱飲解蟲毒。</p>
<h4>KT</h4>
<p>一名刁鴨，俗名油鴨。甘平補益，炙食甚美。形較諸鴨為獨小。膏油，滴耳治聾。</p>
<h4>鷺鷥</h4>
<p>一名白鷺。性味鹹平，益脾補氣，治虛羸。炙食用。</p>
<h4>斑鳩</h4>
<p>形小者為KT　鴣，即俗呼八哥，能學人語。性味平甘，助陰益氣，治噎明目。斑鳩血：熱飲，解蟲毒。</p>
<h4>鶉</h4>
<p>俗呼鵪鶉。性味甘平。雌者，時人以供食品；雄者善斗，世皆藉以賭輸贏。</p>
<h4>鵲</h4>
<p>甘寒止渴，瀉熱通淋，入藥用雄。</p>
<h3>獸部</h3>
<p>（畜獸鼠）</p>
<h4>豬</h4>
<p>屬水，性味鹹寒，入腎而補虛潤燥，充飢澤膚。精肉：補肝益血。性難克化，小兒不宜多食，病初愈初起均忌。心血入心，豬肝入肝，可為諸藥引經。豬肚：入胃健脾。豬肺：入肺治痿。豬腎：入腎補益。豬腸：入腸，治腸風久痢。豬脬：入脬，治遺溺虛疝，隨病入藥，蒸食效。豬膽汁：瀉肝膽之火，和醋少許；灌穀道中，通大腸虛閉。膏油：潤燥殺蟲，兼通燥閉。豬腦：治頭風作痛，牽連巔頂，多食損陽道。脊髓：補脊充髓。豬蹄：通乳治瘡。</p>
<p>懸蹄甲：燒灰，治寒熱五痔。豬尾血：起痘瘡倒靨。豬耳及頭肉：動風少食，病初愈人切忌</p>
<h4>狗</h4>
<p>大者名犬。均酸鹹性溫，助陽暖胃；益腎壯脾，多火者忌。狗寶：專攻反胃，善理疔疽。屎中粟米：起痘開噎。屎中剩骨：治寒熱驚癇。黃犬益脾，黑犬補腎，他色不宜。妊婦食之，令子無聲。且凡犬多義，理宜戒食。</p>
<h4>羊</h4>
<p>甘溫入肺，補虛治勞，充長形氣。多食，令人發瘡。羊肝：補肝明目。膽汁：點淚眼障翳。羊肺：通肺，止久咳。羊腎：益精助陽。羊肚：除反胃吐食。羊角：明目殺蟲。生羊血：熱飲，解砒、硫一切毒。羊乳：益陰潤燥，治反胃消渴。脛骨：入腎補骨，燒灰擦牙良。</p>
<h4>牛</h4>
<p>屬土，性味甘溫，補中益氣；助胃健脾，黃色者良。牛乳：味甘微寒，涼血潤燥，通噎治膈，中寒腸滑者均忌。乳餅、酥酩、醍醐，皆牛羊乳所作。滋潤滑澤，血熱枯燥之人最宜。水牛：損脾，不入藥。惟白水牛喉，治噎膈腸結。牛骨髓：補髓壯骨。牛筋：補筋，可續絕傷。老牛、病牛、自死者，有毒傷人。且牛屬土，為民力田，苟有仁心，切宜戒食。</p>
<h4>牛黃</h4>
<p>性味甘涼，清心利竅，豁痰安神，為驚癇入臟專藥。吐出者，為「活黃」，最勝。殺得者次之。駱駝黃：易得，不堪用；能亂真，磨指甲不能黃透者為辨。</p>
<h4>黃明膠</h4>
<p>性味甘溫，益精補虛，潤燥解毒，明透者良。腥膻者不入藥。</p>
<h4>阿膠</h4>
<p>性味甘平，養陰潤燥，清肺豁痰，為虛勞咳、吐血專藥。化痰，蛤粉炒：潤燥，生用大便不實，糯粉炒；用止血，蒲黃灰炒。東阿縣井水煎成，不特益陰潤燥，力能反濁澄清清痰止血，神速。</p>
<h4>白驢溺</h4>
<p>辛寒殺蟲，治蟲膈反胃。驢肉：甘涼，補血益氣；治遠年勞損，煮汁療痔引蟲。</p>
<h4>白馬溺</h4>
<p>辛溫殺蟲，治症積反胃。馬肉：辛苦冷毒，不宜食，自死者尤甚。煮汁，洗頭瘡白</p>
<h4>虎骨</h4>
<p>性味辛熱，追風定痛，健骨辟邪，為歷節風痹入骨專藥。頭骨、骱骨、頸骨、脛骨良犬咬、骨哽，研末治之。虎肚：益胃，治反胃吐食。虎睛：定魄，治小兒驚癇。虎爪：辟虎齒：安魂。虎肉：益氣力。</p>
<h4>象皮</h4>
<p>象肉壅腫，刀刺即合。其皮，用治金瘡，熬膏入散，為長肌合口專藥。</p>
<h4>犀角</h4>
<p>苦酸鹹寒，涼心清胃，解毒化斑，止一切吐血、衄血，角尖尤勝，磨汁用。清火入煎但大寒之性，非大熱不可輕投。亦可燒灰，僅能止血，不致寒中耳。</p>
<h4>熊膽</h4>
<p>性味苦寒，清肝涼心，明目殺蟲。熊肉：補虛羸。熊掌：御風寒，益氣力。性善辟塵撲塵水面，投膽少許即開。</p>
<h4>羚羊角</h4>
<p>味苦酸寒，入足厥陰而兼入手太陰，少陰；清肝泄熱，去翳舒筋，為驚狂、搐搦專磅因細或磨汁用。</p>
<h4>鹿茸</h4>
<p>甘咸大溫，入腎命而助陽暖胃，益髓添精，為虛勞、痿痹無火專藥。去毛，酥炙，酒鹽水煮任用。</p>
<h4>鹿角</h4>
<p>甘咸大寒，生用，散熱消腫，行血辟邪，為消散陰毒專藥；炙熟，則消陰助陽，暖腎腰；煎汁煉膏，大能溫補命門精血，專通督脈而緣合衝任，為卻老延年專藥。煉取角霜，陽理濕，為虛寒痛痹、腎泄專藥。角灰：行血止血，專理精血崩中，其散瘀止血之功可見血虛者忌之。鹿胎：功力純陽，專於溫補下元。鹿骨：補骨續經理傷。鹿肉：溫中補陽，健多力。鹿脯同功。鹿筋：大補筋骨，兼壯宗筋，不畏寒冷。鹿血：沖酒服，起陰器，止痛，療折傷。鹿精：名鹿　，設法取之，大補虛勞羸弱。</p>
<h4>麋茸角</h4>
<p>性味鹹寒，與鹿相反，能補陽中之陰。煎煉服食，同鹿制度。筋肉損陽，不宜多食</p>
<h4>麝香</h4>
<p>辛溫香竄，通竅辟邪，為內透骨髓，外徹毫竅專藥。能治果積、酒積，殺蟲，墮胎。</p>
<p>研用，當門子尤妙。</p>
<h4>貓胞</h4>
<p>甘酸性溫，治反胃吐食，燒灰用。貓尿：治蟲蚰入耳，滴入即出。貓肉：治鼠　、勞貓涎：治瘰　癭瘤，亦治魚骨哽。</p>
<h4>豬獾</h4>
<p>古名　。甘酸性平，煮食甘美，長肌肉益人。</p>
<h4>狗獾</h4>
<p>一名天狗。性味，功用相近豬獾，尤能殺蟲治疳，小兒疳瘦宜之。</p>
<h4>兔屎</h4>
<p>一名明月砂。性味辛平，明目去翳，殺蟲治勞。兔肝：瀉熱明目。兔肉：涼血解毒，利大腸，孕婦忌食。兔腦：催生墮胎，又可塗罨凍瘡爛。</p>
<h4>獺肝</h4>
<p>甘咸性平，益肝止嗽，殺蟲治勞。獺肉：味甘鹹寒，治骨蒸勞熱，血脈不行，多食能陽氣。</p>
<h4>膃肭臍</h4>
<p>一名海狗腎。性味鹹熱，助陽暖精；治陰痿精寒，鬼交尸疰。酒浸，微炒用。</p>
<h4>鼠矢</h4>
<p>味甘微寒，治傷寒勞復發熱，男子陰易腹痛。鼠膽：明目。汁滴耳中治老聾。鼠肉兒疳鼠　，及蛇骨刺入。</p>
<h4>皮</h4>
<p>俗名刺　。性味苦平，燒灰，治反胃吐逆，五痔瀉血腸風。　肉：甘平，理胃氣；治胃，均燒灰用。　脂：滴耳治聾。猥膽：點痘後風眼。但禽獸之屬，需治所必不得已。至食品，家畜者甚多，野生者與人無爭，宜切戒之。</p>
<h2>卷之六中</h2>
<h3>蟲部</h3>
<p>（化生　卵生　濕生）</p>
<h4>桑蟲</h4>
<p>古名桑蠹蟲，又名桑蠍。甘溫有毒，祛風除障翳，痘疹濕熱毒盛，可暫用以發痘灌蟲矢：功用略同，而力稍遜，宜燒存性，研細酒調。脾虛、血氣弱者，均大忌。</p>
<h4>蟬蛻</h4>
<p>即蟬衣。性味甘寒，輕揚善祛風熱。發痘疹，下胞胎，出聲音。蚱蟬：治小兒驚癇夜殺疳去熱。俱去翅、足用。</p>
<h4>螻蛄</h4>
<p>性味鹹寒，通經逐水，利大小便。去翅、足用。性急下趨，虛人忌之。</p>
<h4>虻蟲</h4>
<p>一名蜚蟲。性味苦寒，善攻積血，遍行經絡；力能墮胎，虛人忌之。</p>
<h4>蜂蜜</h4>
<p>性味甘涼，生用則性涼而瀉熱解毒；熟則性溫而潤燥補中。腸滑均忌。蜜煎導法，通腸虛閉。黃蠟：甘淡微溫，澀腸止利，並能解毒護心。</p>
<h4>露蜂房</h4>
<p>甘辛有毒，解毒消腫，洗瘡殺蟲。微炙用。</p>
<h4>蟲白蠟</h4>
<p>性味甘溫，生肌止血，定痛益虛，為外科專藥。</p>
<h4>五倍子</h4>
<p>酸澀鹹寒，澀腸斂汗，止嗽化痰。百藥煎：功近五倍，但經釀造，尤能化熱解毒，頑痰，為久嗽痰結劫藥。</p>
<h4>桑螵蛸</h4>
<p>甘咸性平，入肝、腎、命門，澀精固腎，治遺濁帶下，止小兒夜尿。炙熟用。</p>
<h4>白僵蠶</h4>
<p>即僵蠶。鹹辛性平，入肺、肝、胃而祛風化痰，散結行經。為中風失音、痧疹不透炒去絲用。</p>
<h4>蠶蛹</h4>
<p>即蠶豆。炒食殺蟲，亦治疳瘦。蠶繭：甘溫，瀉火止渴。</p>
<h4>晚蠶沙</h4>
<p>辛甘性溫，祛風勝濕，理痹治痧，微炒用。</p>
<h4>斑蝥</h4>
<p>即斑蝥。辛寒有毒，直入精溺之竅。內服破石淋，下　犬毒；外治蝕死肌，敷惡癬瘡去頭足，糯米粉炒熟用。孕婦大忌。</p>
<h4>全蠍</h4>
<p>甘辛有毒，攻毒祛風。治驚癇搐搦，口眼　斜，去足焙用。尾：名蠍梢，其力尤緊。</p>
<h4>水蛭</h4>
<p>即螞蟥。咸平苦毒，破血攻積。極難制化，炒枯黃，再炒灰盡，細研入水，不轉黃色方可用。生蟥入腹，咂血腹痛，令人黃瘦；急以田泥調水，飲之必下。</p>
<h4>五穀蟲</h4>
<p>即糞蛆。苦寒瀉熱，消疳積腹大，翳膜遮睛。喂蝦蟆一七日，漂淨，炒研用。</p>
<h4>蟾蜍</h4>
<p>一名癩蝦蟆。性味辛涼，瀉熱解毒，治疳積殺蟲。蟾酥：即眉間白汁，辛溫有毒，攻拔疔。</p>
<h4>田雞</h4>
<p>小者名青蛙。性味甘寒，瀉熱解毒，利水消腫。生搗絞汁，治蝦蟆瘟。</p>
<h4>蜈蚣</h4>
<p>即百足蟲。辛溫有毒，性走善散，入厥陰肝經；治臍風撮口，驚癇蛇症。去頭足，炙用。被咬，捕蜘蛛吸毒，入水蛛即活。</p>
<h4>白頭蚯蚓</h4>
<p>性味鹹寒，清熱利水，解毒制狂。炙灰用。蚯蚓泥：即蚯蚓屎，性味甘寒，瀉熱治赤白久痢。</p>
<h3>魚部</h3>
<p>（有鱗　無鱗）</p>
<h4>鯉魚</h4>
<p>性味甘平，下水氣，利小便；治水腫、黃膽，妊婦宜之。腦髓：治耳聾。骨灰：療骨齒：治石淋。膽：治目赤。鱗：治產婦滯血。燒灰，治吐血、崩中。</p>
<h4>鰱魚</h4>
<p>一名　魚，性味甘溫，調中益氣。多食，令人熱中發病。</p>
<h4>草青魚</h4>
<p>一名鯇魚。性味甘溫，和中暖胃。多食發瘡。</p>
<h4>烏青魚膽</h4>
<p>性味苦寒，瀉熱明目，點赤腫障翳，吐喉痹痰涎。肉：甘平益氣，除香港腳煩悶。</p>
<h4>勒魚</h4>
<p>性味甘平，調中開胃，作鯗尤良。</p>
<h4>四鰓魚</h4>
<p>一名鱸魚。性味甘平，補益利水。作　尤良。中其毒者，蘆根汁解之。</p>
<h4>白魚</h4>
<p>一名　魚。性味甘平，開胃利水，令人肥健。多食動氣發病。</p>
<h4>鱖魚</h4>
<p>性味甘平，補勞益胃，去瘀殺蟲。</p>
<h4>魚</h4>
<p>一名鰥魚，一名　魚。性味甘平，調中益胃，食之已嘔。</p>
<h4>嘉魚</h4>
<p>一名　魚，一名丙穴魚。性味甘溫，治腎虛消渴，積損勞瘦。</p>
<h4>鯔魚</h4>
<p>甘平開胃，多食健人。但味濃性泥，病新愈者忌。</p>
<h4>石首魚</h4>
<p>又名江魚、黃花魚。性味甘平，開胃益氣。白鯗：無脂不膩，有消宿食，理腸胃之鰾膠：益精種子。</p>
<h4>鰣魚</h4>
<p>性味甘平，補益宜人，虛勞可啖之。</p>
<h4>鯧魚</h4>
<p>性味甘平，益氣壯力，令人肥健。鯧魚子：有毒，食之令人利下。</p>
<h4>鯽魚</h4>
<p>屬土，性味甘溫，健脾和胃，行水利腸。瀉痢忌之。鯽魚子：調中，益肝氣，去障翳尤善滑腸。</p>
<p>一名魴魚。性味甘溫，調胃利腸。疳、痢人並忌。</p>
<h4>紙魚</h4>
<p>一名　魚。性味甘平，寬中開胃，令人進食。</p>
<h4>金魚</h4>
<p>甘咸性平，調胃治痢。</p>
<h4>鱧魚</h4>
<p>俗名黑魚，即七星魚。性味甘寒，利腸下水；療痔祛風，消妊娠水腫。鱧魚膽：味苦甘，點喉痹良。</p>
<h4>鰻鱺</h4>
<p>性味甘平，除風殺蟲，治虛勞骨蒸。骨燒煙辟蚊。海鰻鱺：功相近，而性稍發，病新忌。痘瘡入目生翳，以血點之即落，尾血尤勝。</p>
<h4>鱔魚</h4>
<p>性味甘溫，益血補虛，溫中除風濕。尾血：塗口眼　斜；滴耳中治老聾；滴鼻中治衄點目去痘後障翳。鱔魚頭：治百蟲入耳。</p>
<h4>鰍魚</h4>
<p>俗名粉鰍。性味甘平，調中益氣，煮食收痔。</p>
<h4>海螵蛸</h4>
<p>一名烏　骨，即墨魚骨。性味鹹溫，入肝、腎、血分；除濕止血，治崩漏腸風。肉平益氣，通利月經。</p>
<h4>海蛇</h4>
<p>性味鹹平，瀉濕熱，消血積。醋煮，痢下人宜食。陳久者良。</p>
<h4>河蝦</h4>
<p>性味甘溫，祛風托痘，下乳，吐痰。多食動風。</p>
<h4>海蝦</h4>
<p>味甘咸平，功近河蝦，而性更發，瘡疥人忌之。</p>
<h4>海馬</h4>
<p>性味甘溫，壯陽暖腎，易產催生。</p>
<h4>海河豚</h4>
<p>甘冷大毒。江河豚：味淡，毒亦次之。力能療痔殺蟲，失飪傷人。子、肝、脊血尤</p>
<h4>帶魚</h4>
<p>性味甘溫，益五臟；祛風殺蟲，作鯗尤良。</p>
<h4>鯊魚翅</h4>
<p>一名鮫魚戟。性味甘平，益肝滋臟；味甚甘美，食品珍之。</p>
<h4>鱘魚</h4>
<p>一名王鮪。性味甘平，補虛益氣，令人肥健。多食，動風發瘡。</p>
<h4>鱘黃魚</h4>
<p>一名　魚。性味甘平，利五臟，肥美人。多食，動風發瘡。</p>
<h4>海參</h4>
<p>甘咸性平，滋陰補腎，潤燥添精。虛損挾熱人宜煮食之。</p>
<h4>鮑魚</h4>
<p>辛臭性溫，入肝散血。煮汁，送四烏　骨一蘆茹丸，治女子血枯經閉，內有干血，其除垢膩之功可知。又以其質韌肉松，故能調肝益腎，今古食品共珍之。</p>
<h3>鱗部</h3>
<p>（龍　蛇）</p>
<h4>龍骨</h4>
<p>甘澀咸平，入手足少陰、手陽明、足厥陰。澀精斂汗，收脫安神。龍非蛻骨，不能升龍齒：性味澀平，鎮心安魂；治驚癇癲疾，俱　研用。龍角：辟邪治心病，亦可生用者</p>
<h4>穿山甲</h4>
<p>一名鯪鯉甲，即川甲片。鹹寒有毒，性竄善走，入足厥陰、陽明，通經下乳，消腫為行經散結專藥。尾甲尤勝。醋炙、酒炙任用。</p>
<h4>蛤蚧</h4>
<p>性味鹹溫，補肺滋腎，止嗽定喘。虛乏久病宜之。外邪初起勿服。</p>
<h4>蛇蛻</h4>
<p>氣味甘咸，性靈善竄，祛風殺蟲，治頑癬惡瘡，產難目翳。酒炙、醋炙任用。</p>
<h4>蚺蛇膽</h4>
<p>苦寒微甘，入厥陰、太陰而涼血明目，療疳殺蟲。肉：肥美，主治略同。</p>
<h4>白花蛇</h4>
<p>甘咸性溫，搜風透骨，定搐截驚。治癱瘓、疥癩。去盡皮、骨、頭、尾，酒炙，非有毒不可輕用。頭：治瘢風毒癩。</p>
<h4>烏梢蛇</h4>
<p>功同白花蛇，而無毒力緩。去皮、骨與頭，酒炙用。</p>
<h3>介部</h3>
<p>（龜　鱉　蛤蚌）</p>
<h4>敗龜板</h4>
<p>性味鹹寒，入腎而益陰壯水，退熱除蒸，鹽水炙。陰虛無熱，大便不實者均忌。煎膠，其益陰退熱之功更勝。龜肉：滋陰，除內熱勞瘦。龜尿：透竅，治聾啞、染須。</p>
<h4>鱉甲</h4>
<p>性味鹹寒，色青入肝，益陰散結。治溫瘧、瘧母，癆熱骨蒸。鱉肉：益陰涼血。鱉血養血益陰。鱉頭：治脫肛、陰挺。</p>
<h4>河蟹</h4>
<p>酸寒散結，破血通經。味最鮮潔，多食傷中、動風。生搗可塗漆瘡。蟹爪：墮胎。海味濁性重，動風、傷胃尤甚，孕婦均當禁忌。</p>
<h4>生牡蠣</h4>
<p>性味鹹寒，入肝腎而澀精斂汗，潛熱益陰，為虛熱上浮專藥。又能軟堅消癭，隨所施。潛熱生研，澀脫火　。</p>
<h4>生蛤粉</h4>
<p>性味鹹寒，化痰利水，潛熱益陰，火　亦能軟堅收濕。蛤蜊肉：咸冷，止渴解酒。</p>
<h4>蚌粉</h4>
<p>性味鹹寒，清熱利濕，明目療疳。蚌肉：甘冷，清熱明目，多食寒中。蜆粉、蜆肉，蚌同功。</p>
<h4>真珠</h4>
<p>甘咸性寒，水精所結；入心經而鎮心清熱，安神定驚。人乳磨汁，點目去翳。</p>
<h4>石決明</h4>
<p>性味鹹涼，平肝清熱，明目去翳。生研用。肉亦同功。</p>
<h4>蟶肉</h4>
<p>甘咸性寒，益陰清熱，煮食治痢。</p>
<h4>瓦楞子</h4>
<p>一名魁蛤殼，俗名蚶子。甘咸性平，消老痰、血塊。醋淬　，研用。瓦楞肉：甘平</p>
<h4>淡菜</h4>
<p>即貢干。甘咸性涼，益陰除熱，為虛勞退熱專藥。多食久食，令人陽痿。</p>
<h4>田螺</h4>
<p>味甘大寒，清熱止渴，利水消腫。搗爛入麝塗臍，能通小便。</p>
<h4>螺螄</h4>
<p>一名蝸蠃。性味甘寒，瀉熱明目，利水消腫。螺螄殼：化痰消積，治胃脘作痛，　研</p>
<h4>海螄</h4>
<p>性味鹹寒，瀉熱散結；舒郁消癭，鹽水煮用。</p>
<h4>吐鐵</h4>
<p>一名麥螺，一名梅螺。甘酸鹹寒，瀉熱益陰，聰耳明目，鹽水煮。</p>
<h4>江珧柱</h4>
<p>甘咸微溫，調中消食，令人易飢，鹽水煮。</p>
<h4>西施舌</h4>
<p>甘咸性平，益陰潤燥，止渴除煩，鹽水煮。</p>
<h4>蜊殼片</h4>
<p>味鹹大寒。煎湯，洗鶴膝風症。　粉，塗濕爛瘡瘍。</p>
<h2>卷之六下</h2>
<h3>人部</h3>
<h4>血余</h4>
<p>即頭發。性味苦平，入足少陰、厥陰；生新去瘀，止血定崩。　灰用。胎發尤良。</p>
<h4>人牙</h4>
<p>咸熱有毒，起痘瘡倒KT　。　退火毒，研細水飛用。</p>
<h4>人中黃</h4>
<p>甘咸性寒，入胃而緩中瀉熱；解毒辟溫，治天行狂熱，溫毒發狂。甘草入竹筒，浸而成。</p>
<h4>金汁</h4>
<p>性味苦寒，大解熱毒；治溫熱時行，昏熱勢劇者，用以灌之。即糞清埋土化水，年久佳。</p>
<h4>人中白</h4>
<p>又名溺白　。性味鹹涼，入肝、腎、膀胱。降火散瘀，使熱從小便出。　過水飛，生用者。須童子溺桶中刮取為佳。</p>
<h4>童便</h4>
<p>性味鹹寒，降火散瘀，清肺滋陰，乘熱飲之。冷則真氣不全，第存鹹寒之性耳。</p>
<h4>秋石</h4>
<p>性味鹹平，滋水益腎，退熱除蒸，為滋陰降火專藥。秋月取童子小便，陰煉而應秋石入秋露升煉為秋水。降火宜生、宜淡；滋陰宜熱、宜咸。</p>
<h4>人乳</h4>
<p>性味甘咸，滋陰養血，潤燥補虛；能開血枯噎膈，陽實陰虛為宜。腸滑胃弱當忌。</p>
<h4>紅鉛</h4>
<p>即月水。咸熱有毒，解毒箭，女勞復。須閨女初經為良。月經之衣：熱熨金瘡血涌。</p>
<p>鏃入腹，虎野狼所傷，俱燒灰酒服。</p>
<h4>口津唾</h4>
<p>甘咸性平，辟邪消毒，明目，悅肌好顏色。</p>
<h4>人氣</h4>
<p>元神所屬，力能溫暖下元，漸除虛冷。日令童男、童女呼氣接之。</p>
<h4>初生臍帶</h4>
<p>止瘧疾，解胎毒，燒灰飲服。炙末摻之，能愈臍瘡。</p>
<h4>紫河車</h4>
<p>即人胞，一名混沌衣。甘咸性溫，本血氣結成，能大補氣血，治一切虛勞積損，乏崩。炙末或蒸搗入藥。然必不得已而後用之，如他藥可代，何忍以人食人。</p>
<h4>人骨</h4>
<p>主骨病，接骨。火葬之鄉取焚棄者入藥。胎骨：有胎毒損人。然聖王之世，掩暴骨為德，每獲陰報。而方技心存利欲，敢取人骨為藥餌，仁術固如是乎？姑存卷末，以俟仁者之自裁。</p>
