<header><h1>炮炙全書</h1></header>
<dl class="元資料" data-type="book" hidden></dl>
<h2>敘</h2>
<p>先正曰：一草一木亦皆有理，不可不察，夫以物理之學亦大乎哉！其粗者正名稱辨真假，而效驗可以安危起死而晏子良醫與良相埒之語　有以哉，蓋謂其與燮理同功而已。其學焉者，當以本草為要，而後該覽於群書，然本草亦不易讀，何也？群品也。吾夙好此學，其志甚懇，然本邦精斯學人幾希，且吾僻若水業經之余暇，好窮物理，善讀本草，且旁搜廣訪，多識於草、木、吾頃客於中州與之討論、咨詢，而辨是非、決嫌疑，品物得其實者不可選記，可謂得其人，也觀其所著炮假審采用，又世之夸詡無用之辨，藻飾諸觀者云。</p>
<p><u>元祿己巳端午日</u></p>
<p><u>築前州後學貝原篤信書</u></p>
<h2>凡例</h2>
<p>一凡藥品見於古今本草者，殆二千種矣，善用藥者當多多益善，今此不能殫述，第選擇醫方焉，余非必一夫物之難識者，為其名之難明也。名之難明者，五方之名既不同，而古今之言亦自別矣。</p>
<p>因名迷實者鮮矣聞之實論，如白羊鮮則曰羊去不載，惟物之傳訛者，市肆飾偽者一畏忌制使，物性自然。非可以意求者，俱考諸家本草，並所聞采入，俾得遵守。</p>
<p>一次序不悉從本草，今就所見稍加移正，尚未確認者，一仍其舊不革。</p>
<p>一本草一書，民命所系，凡學之者務在識真，不比他書，惟求其說而可也，時獲古今名物之淺，余竊嘆焉！乃是翩然自往，攀緣上下，於深山窮其生於遠地遐方，而余之足跡所未及者，則必所在矣，竟不自揣博采眾書及獻民之說，斷以己意頗能撰次花實，珍寶奇物，皆有所紀，而旁及方俗所呼，庶幾名實不爽，可當嗣刻以問世。</p>
<p><u>元祿己巳二月初一日稻某識</u></p>
<h2>炮炙全書參考書目</h2>
<p>太平御覽　藥性纂要　神農本經（會通）　本草備要　藥性奇方　本草綱目類纂必讀　本草匯蒙筌本本論論壽聖備疏格覽酉乘夢屠本　野菜箋　臨海水土之竹譜　洛陽花木志　劉南方草木狀　郭橐駝種委余篇　沈懷遠南越志周氏洛陽牡丹記　劉錄陳翥桐譜　俞宗譜學圃雜疏　龍眼獸經　山家清供　古玩品　遁園居士魚品　珍珠船盛弘之荊州記　陸羽茶經　顧微廣州記顧元慶茶譜　劉四時宜忌　陸樹雜志　異魚圖贊注丹鉛總錄書退齋雅聞錄　大明一統志　金華府志　興化府志　大原府志　泉州府志　平陽府志　寧波府志　通州府昌府志　鎮江府間府志　余姚縣東通志　惠安縣志海鹽縣志事言要玄　相說文解字　正字通　少補韻會　群芳譜　茅亭客話　涌幢短劇　避暑錄話　癸辛雜識續集琅環記　癸珍玩考　致富名疏　星　勝覽</p>
<h2>卷第一</h2>
<h3>草之屬</h3>
<h4>人參</h4>
<p>甘、微苦，溫。要肥大塊如雞腿並似人形，黃色者，去蘆頭，用茯苓、馬蘭為使，惡鹵鹹、皂莢、黑豆，反藜蘆，畏五靈脂，動紫石英。</p>
<p>人參連皮者黃潤色，如防風去皮者堅白如粉，其似人形者謂之孩兒參，尤多贗偽，頻見風日土佐道壽藥物，扎雖大皆用數片合而者也，曰參須，其根頭細毛也，謂湯參也，浮者輕匏之謂，服者取汁，而服始生薩摩州，今處處有之，三丫五葉，四五月有花，細生，狀如竹節，味甚苦，其須嚼之甘苦，氣味微與人參相近，又名之三枝五葉實，人彼國醫者朝鮮來人言，多謬妄不可憑信也曰唐人參自清來貨者，味甘微苦，惟要透明似肉，近蘆有橫紋者則假參自不得紊之，凡用宜一種葉似蛇床胡蘿卜輩，根形如人參，一種又別有名人參者，相傳加藤清正征朝鮮，得其種以歸又加賀州白，山產一種草，土人謂之人參，其根大如指許，氣味如草中之佳品也，此外濫名者多有之，近人又種防葵以為人參也，采其根蒸造，足以或又人參</p>
<h4>參蘆</h4>
<p>苦溫</p>
<h4>黃</h4>
<p>甘、微溫，選單股不岐色潤柔軟，肉心黃甘，甜近蜜者，去頭刮皮，以蜜水塗炙，亦以酒或鹽酒炒之，茯苓為使，惡龜甲、白蘚皮。</p>
<p>近時有富士黃　，即生富士山者，甲斐越中諸州皆有之，亦佳，但須選肥潤味甘者，折之堅脆及多岐俱不堪用。</p>
<h4>甘草</h4>
<p>甘，平，生寒，炙溫，選壯大緊紋者，刮去皮，補中宜炙用，瀉火宜生用，梢節頭三皆生用，白朮、苦參、乾漆為使，惡遠志，反大戟、芫花、甘遂、海藻，忌豬肉。</p>
<p>甘草今甲夔州地方山皆有之。</p>
<h4>沙參</h4>
<p>淡、甘，微寒，去頭銼用，惡防己，反藜蘆今之縣鐘人參是也，市中誤當薺　別采蔓參根充沙參，用者宜審又有唐沙參乃蒸造者謂之紫乎人參，以此代用誠為不勝其任矣，沙參處處多有之，八九月宜收，又有細葉沙參蓋一類二種也。</p>
<h4>薺</h4>
<p>甘寒，去蘆頭用。</p>
<p>肆中以沙參充薺　，非是真薺　，丹後州鹿崎山多有之，具采藥獨斷中。</p>
<h4>桔梗</h4>
<p>苦、辛，平，去蘆，微炒，畏白芨、龍膽草，伏砒，忌豬肉。</p>
<h4>葳蕤</h4>
<p>甘，平，洗，銼，微炒，或以竹刀刮去節皮，蜜水浸，蒸焙用，畏鹵鹹。</p>
<p>肆中人名地黃樣黃精者是也，以肥潤而大為佳，夏月采者不堪用，按葳蕤增長陽氣，與人參</p>
<h4>黃精</h4>
<p>甘，平，九蒸九晒，味甚甘美，服食黃精者忌食梅實。</p>
<p>苗葉與葳蕤相似，根如白芨，多生北方山中，大者苗高五六尺，根如拳。</p>
<h4>知母</h4>
<p>辛、苦，寒，揀肥潤裡白者，竹刀去毛切，勿令犯鐵器，引經上行，用酒浸焙，下行鹽水潤焙，得黃柏酒良，伏鹽、硼砂。</p>
<h4>肉蓯蓉</h4>
<p>甘、酸、咸，溫，皮如松梢有鱗甲，形柔軟如肉，酒浸一宿，刷去浮甲，劈破中膜一重，焙乾用，或酥炙得所。</p>
<p>李中立曰：肉蓯蓉，肥大柔軟者佳，干枯瘦小者劣，今人多以金蓮根、草蓯蓉、嫩松梢，鹽</p>
<h4>鎖陽</h4>
<p>甘、咸，溫，酒潤焙。</p>
<p>陶九成輟耕錄云：鎖陽生韃靼田地，發起如筍，上豐下儉，鱗甲櫛比，筋脈聯絡，絕類男陽</p>
<h4>天麻</h4>
<p>甘、辛，平，洗淨，以酒浸一日夜，濕紙包糠火中煨熟，取出切片，焙用，破開明亮堅實者佳。</p>
<h4>白朮</h4>
<p>苦、甘、辛，溫，去蘆，炒用，防風地榆為使，忌桃、李、菘菜、青魚、雀肉。</p>
<h4>蒼朮</h4>
<p>辛烈苦溫，焙用，使忌同白朮。</p>
<p>二術留皮者當以米泔水浸半日，去粗皮，肆中售者多削淨，不可水浸更泄性味，凡用不拘州同，生用可也。</p>
<p>蒼朮苗高二三尺，其葉抱莖而生，稍間葉似棠梨葉，其腳下葉有三五叉，皆有鋸齒小刺，根槌，亦有大如拳分蒼白，或又以為諸州皆產蒼朮</p>
<h4>狗脊</h4>
<p>苦、甘，微溫，選金毛者火燎去須，細銼，酒浸，蒸晒用，萆　為使，惡敗醬，莎草今人以垂水草為狗脊，非是。</p>
<h4>貫眾</h4>
<p>苦，微寒，去皮毛，銼焙　菌、赤小豆為使，伏石鐘乳。</p>
<p>今人多以背白草為貫眾，非是。</p>
<h4>巴戟天</h4>
<p>甘、辛，微溫，以酒浸，去心，銼焙若急用以滾水浸軟去心，覆盆為使，惡雷丸、丹參，朝生。</p>
<p>巴戟天本有心，干縮時偶自落，或抽去，故中心或空。非自有小孔也，以肉濃者為勝，方家氣味味與藥煮之乃以雜巴戟，莫能辨也，但擊破視之，而理小暗者真也，真巴戟嫩時亦白，干時亦余往年植視之，乃知紫者都非真色。</p>
<h4>遠志</h4>
<p>苦，溫。以甘草湯浸一宿去骨，焙乾用，畏珍珠、藜蘆、蜚蠊、齊蛤，得茯苓、冬葵龍骨良。</p>
<p>苗名小草，細莖如線，葉似黃楊，本草云：似麻黃者失之，詳審處處多有之，人莫之能識，</p>
<h4>淫羊藿</h4>
<p>甘、辛，溫，山藥、紫芝為使，得酒良。</p>
<p>淫羊藿，今之碇草也，山谷多有之，自清來貨者，皆陳久之物，殊乏氣味，不堪用。</p>
<p>五六月</p>
<h4>仙茅</h4>
<p>甘、辛，微溫，有小毒。以清水洗，竹刀刮去皮，米泔浸去赤汁，酒拌蒸之，曝乾用犯鐵器、牛乳，斑人鬢發。</p>
<h4>玄參</h4>
<p>咸、苦，選黑潤者，用蒲草重重相隔蒸晒勿犯銅器，犯之損人喉喪人目，惡黃　、干大棗、山茱萸、反藜蘆。</p>
<h4>地榆</h4>
<p>甘、酸、苦，寒，宜生用，見火無功，惡麥門冬，伏丹砂、雄黃、硫黃，此草名歪。列木高也。</p>
<h4>丹參</h4>
<p>苦，平，微溫，酒潤，微焙，畏鹽水，反藜蘆。</p>
<h4>紫草</h4>
<p>甘苦、咸，寒，嫩而紫色染手者佳，去根取茸用。</p>
<h4>白頭翁</h4>
<p>苦，溫，得酒良，花子莖葉同。</p>
<h4>白芨</h4>
<p>苦、辛，微寒，微火略焙，紫石英為使，惡理石、畏杏仁、李核，反烏頭。花名箬蘭，貴重可喜，今之紫蘭是也，亦有花白者，或以獨頭蘭為白芨，誤矣！</p>
<h4>三七</h4>
<p>甘、微苦，溫，色黃黑，狀略似白芨，長者如干老地黃，有節，味頗似人參，試法以摻豬血中，血化為水者乃真。</p>
<p>按李頻湖曰：近傳一種草，春生苗，夏高二三尺，葉似菊艾而勁濃有岐尖，莖有赤棱，夏秋血病甚效，云是三七人間遍有之，其南中來者不備著苗</p>
<h4>黃連</h4>
<p>苦，寒，去蘆及須，治本臟之火生用，治肝膽之實火，以豬膽汁浸炒，治肝膽之虛火醋浸炒，治上焦之火以茱萸湯浸辛熱能制其苦寒，鹹寒白蘚皮、芫花、白僵蠶，畏款</p>
<h4>胡黃連</h4>
<p>苦，大寒，外黃心黑，干如楊柳枯枝。折之塵出者乃為真也，惡菊花、玄參、白蘚解巴豆毒，忌豬肉，令人漏精。當藥草人或用充胡黃連非是。</p>
<h4>黃芩</h4>
<p>苦，寒，破爛者名宿芩，乃舊根，多中空外黃內黑，即今所謂片芩也，圓者名子芩，新根，多內實堅即龍骨為使，惡蔥用者宜辨認。</p>
<h4>秦艽</h4>
<p>苦，平，以左文者為良，破開除土、去蘆，以濕布拭淨，日干，用菖蒲為使，畏牛乳人或取貓草根當秦艽，非是。</p>
<h4>柴胡</h4>
<p>苦，平，微寒，去蘆及須，以水洗淨，銼用，勿令犯火，欲上升用根酒浸，欲下降用半夏為使，惡皂莢，蜀葵。畏藜蘆、女菀。</p>
<p>本草云：苗有如韭葉者、竹葉者，以竹葉者為勝，即今之鐮倉柴胡，乃此種也，但初生苗如韭根也，亦名沙柴胡而大，皮皺色黃白，肉有黃紋。李東璧所謂市人以偽充銀柴胡，殊無氣味者也，又按李念莪云治勞與疳證，乃銀州柴胡，別為一種。郭章宜云：產銀夏者獨勝，微白而軟者為銀柴胡，用以治勞弱骨蒸，其說不同，當更考之。</p>
<h4>前胡</h4>
<p>甘、辛，平，微寒，去蘆，用半夏為使，惡皂莢，畏藜蘆。</p>
<p>前胡草狀，屢改觀注本草者，誤謂有三四種，究其實即是一物也，生下濕地，其根白色，但菊，根皮黑肉白</p>
<h4>防風</h4>
<p>甘、辛，溫，水洗，去蘆，以黃色而潤者為佳，叉頭者發狂，叉尾者發痼疾，禁之，畏萆市中有筆防風入藥，宜用之，又有削防風、濱防風，俱非是真防風，葉微似水靳，與此二種大別也。削防風即防葵根也，濱防風亦防葵類，見食物傳信中。</p>
<h4>防葵</h4>
<p>甘辛。</p>
<p>今人謂之木防風，用以為防風，非是。</p>
<h4>獨活</h4>
<p>甘、苦、辛，微溫。去皮或焙用。</p>
<h4>羌活</h4>
<p>苦、辛，溫。紫色，節密者去黑皮腐爛用。</p>
<p>羌活與獨活種自不同也，今人多以獨活紫牙充羌活，誤矣！市中有唐羌活，其色不紫者蓋水</p>
<h4>升麻</h4>
<p>甘、辛、苦，平，微寒，形細而黑，極堅實，削去皮，青綠色者謂之雞骨升麻，外黑裡白而緊實者謂之鬼臉升麻，去須及頭蘆用。今人以春雪花或梅根為升麻者，非是。</p>
<h4>苦參</h4>
<p>苦，寒。用糯米泔浸一宿，其腥穢氣並浮在水面上，須重重淘過，蒸干，少入湯藥，作丸服，治瘡浸酒，治腸風炒至煙起為末，玄參為使，惡貝母、菟絲子，反藜蘆。</p>
<h4>白蘚皮</h4>
<p>苦，寒，去粗皮，惡螵蛸、桔梗、茯苓、萆　。白蘚花艷可愛，世多無有知者，市人乃剝木槿及木芙蓉花根皮以假偽，宜審之。</p>
<h4>延胡索</h4>
<p>苦、甘、辛，溫，如半夏，色黃，上部酒炒，中部醋炒，下部鹽水炒。</p>
<h4>貝母</h4>
<p>苦、辛、平，寒，黃白輕松者為良，油黑重硬者勿用，去心，糯米拌炒，米熟為度，朴為使，惡桃花，畏秦艽、莽草、　石，反烏頭。</p>
<p>獨顆非兩片者名丹龍眼，不可入藥誤服令人筋脈永不收，用黃精、小藍汁合服，立愈。</p>
<h4>山慈菇</h4>
<p>甘、微辛，有小毒，根苗絕類老鴉蒜，但蒜根無毛，慈菇有毛殼包裹為異，用去毛焙。苗枯即采，遲則苗腐難尋矣。忌甘草。</p>
<p>今人多以宮人草、忽地笑及石蒜為山慈菇，非是，其類都相似，但山慈菇春間發花，根無瓣，形如水慈菇，而茸毛固殼也。山慈菇、宮人草、忽地笑、石蒜俱有傘燈之名，其物既相近而</p>
<h4>茅根</h4>
<p>甘寒，洗去衣皮。忌鐵器。花亦入藥。</p>
<h4>龍膽草</h4>
<p>苦、澀，大寒，甘草湯浸一宿，晒乾用。貫眾、小豆為使，惡地黃、防葵。</p>
<h4>細辛</h4>
<p>大辛，溫。曾青、棗根為使，惡黃　、野狼毒、山茱萸、忌生菜、狸肉，畏硝石、滑石，是也。又有杜蘅與馬蹄香相類，俱根粗而少辛味。本草注混二物為一。蓋繇不識杜蘅也，杜蘅其氣如　蕪北</p>
<h4>白薇</h4>
<p>苦、咸，寒，以酒洗用。惡黃　、大黃、大戟、乾薑、大棗、乾漆、山茱萸。</p>
<h4>當歸</h4>
<p>甘、辛，溫。凡用去頭尖硬處，並塵土以水洗淨，切片，微焙。行表，酒洗，行上，浸。頭止血而上行，身養血而中守，梢破血而下流，全活血而不走。惡　茹、濕面，畏菖海藻、牡蒙、生薑，制雄黃。</p>
<p>按當歸以紫色者為勝，聞此種產越中州山中，而人不知采為時用，甚為可恨也，今太和山城取者乃以水洗</p>
<h4>芎</h4>
<p>辛、苦，溫，白芷為使，畏黃連，伏雌黃、蘼蕪。芎產丹後州最勝他處。</p>
<h4>蛇床子</h4>
<p>苦，平，甘，辛，去塵土，淨用，惡牡丹皮、貝母、巴豆，伏硫黃。</p>
<h4>本</h4>
<p>苦、辛，微溫，惡　茹，畏青葙子。市名　牛　本者乃真，余非是。</p>
<h4>白芷</h4>
<p>辛，溫，市人寸截或片削，以鍛石拌勻晒、收，用時水洗淨。當歸為使，惡旋覆花、制黃、硫黃。</p>
<h4>芍藥</h4>
<p>苦、酸，寒，多生用，避其寒，酒炒，入血藥，醋炒，血虛者煨用，須丸為使，惡石斛、芒硝、畏硝石、鱉甲、小薊，反藜蘆、○須丸即代赭石一名，別本作雷丸。</p>
<p>山產者力洪，人家種植者根雖肥大而香，味不佳，其品滋多，入藥宜單瓣之根，赤白隨花之謂之土鴉結皮，掘家貨於四方，花葉如單瓣芍藥而微異，即草芍藥也。</p>
<h4>牡丹</h4>
<p>苦、辛，微寒，赤者利血，白者補人，以銅刀劈破去骨，酒洗，微焙。畏貝母、大黃菟絲子，忌蒜胡荽伏砒。</p>
<h4>木香</h4>
<p>苦、辛，溫，形如枯骨，味苦黏牙者良，凡入理氣藥，只生用之，若欲止瀉，須以面裹煨熟用。</p>
<p>李瀕湖曰，昔人謂之青木香，後人因呼馬兜鈴根為青木香，乃呼此為南木香、廣木香以別之按寇宗　曰：常自岷州出塞，得青木香持歸，西洛葉如牛蒡，但狹長，莖高二三尺，花黃一</p>
<h4>高良薑</h4>
<p>辛，大溫，炒用。</p>
<h4>紅豆蔻</h4>
<p>即高良薑子，苦、辛，溫。炒過入藥。肆中名伊芳豆縮砂，售者乃此也。</p>
<h4>草豆蔻</h4>
<p>澀辛，熱，面裹煨去皮用。</p>
<h4>草果</h4>
<p>大辛，熱，○本草載與草豆蔻同條，不分主治，然雖為一物，治微有不同，長大如訶皮黑辛香</p>
<h4>白豆蔻</h4>
<p>辛，大溫。去皮研細，不見火，乘沸點服。</p>
<h4>縮砂</h4>
<p>辛、澀，溫，先和皮慢火炒熟，去殼研用。</p>
<h4>益智</h4>
<p>辛、溫，去殼，鹽水炒研用。</p>
<h4>蓽茇</h4>
<p>辛，熱，去梃用頭，以醋浸一宿，焙乾，刮去皮、粟子，令淨，免傷肺，令人上氣。</p>
<h4>肉豆蔻</h4>
<p>苦、辛，溫。形類彈丸，油色肥實者佳。以糯米粉裹於HT　火中煨熟，去粉用，勿犯</p>
<h4>補骨脂</h4>
<p>苦、辛，大溫，微炒用，一法用鹽酒浸一宿，蒸過，晒，微炒用。惡甘草，忌芸苔血，得胡桃胡麻良。</p>
<h4>薑黃</h4>
<p>苦、辛，溫，色比鬱金甚黃，形較鬱金稍大，兩藥實不同種。</p>
<p>李中立曰：近時以扁如乾薑形者為片子薑黃，可浸水染色。</p>
<h4>鬱金</h4>
<p>辛、苦，寒，色外黃內赤，體圓有橫紋，如蟬腹狀，圓尖而光明脆徹，苦中帶甘味者真。</p>
<h4>蓬莪朮</h4>
<p>苦、辛，溫，極堅難搗，須熱灰中煨令透，乘熱搗之，即碎如粉，得酒醋良。</p>
<h4>荊三棱</h4>
<p>苦，溫，黃白體重者佳，面包火炮，加醋浸，復炒用，或煮熟焙乾亦良。</p>
<h4>香附子</h4>
<p>甘、苦、辛、澀，微寒。狀如棗核，周匝有毛，曝乾，火去毛，忌犯鐵器，或生或醋、鹽水、薑汁、童便浸炒，諸法皆從本方，得童便、醋、芎　、蒼朮良。</p>
<h4>藿香</h4>
<p>甘、辛，微溫。揀去枝梗，水洗用市家多摻棉花葉、茄葉假充、不可不細辨。</p>
<p>肆中有名排藿香者非真，其名青葉者可用，自種五六月盛時摘葉，陰乾，甚芳郁最為佳，炮湯飲之</p>
<h4>蘭葉</h4>
<p>辛，平，甘寒，水洗淨用。</p>
<p>凡用宜建蘭葉。朱震亨所謂能散久積陳郁之氣，甚有力者乃此也。又別一種藥品不解何故，</p>
<h4>零陵香</h4>
<p>甘，平，溫。水洗淨，伏三黃、朱砂。</p>
<h4>蘭草</h4>
<p>辛、甘，平。</p>
<h4>澤蘭</h4>
<p>甘、苦、辛，微溫。防己為使。</p>
<p>蘭草與澤蘭同類而種有殊，俱生水旁下濕之地，但以莖圓節長而葉光有岐者為蘭草。雷所</p>
<h4>馬蘭</h4>
<p>辛，平，根葉同。即今緋菊花。</p>
<h4>香薷</h4>
<p>辛，微溫。忌火亦忌日，去莖用葉及蕊。（長刀香薷上品也）</p>
<h4>薄荷</h4>
<p>辛，溫。去梗用葉按薄荷、水蘇俱名之龍腦薄荷，二物同名也，今叢中薄荷有二種，其名為龍腦薄荷者真也，</p>
<h4>小香</h4>
<p>辛、甘，平，溫。形如麥粒，宜入料食。</p>
<h4>大香</h4>
<p>形如柏實，裂成八瓣，性熱，不宜入食料，得酒良，炒黃用，得鹽則入腎經。藥肆所賣多將施巳密實中截雜大　香，飾偽似真，施巳密有毒，其實殺人，用宜仔細辨之。</p>
<h4>積雪草</h4>
<p>苦、辛，寒。三月采，伏硫黃。</p>
<h4>水蘇</h4>
<p>辛，微溫。五六月盛時采。</p>
<p>水蘇方莖中虛，葉似藿香而微長，密齒面嫩，色青，對節生，氣甚辛烈，六七月開花成穗，</p>
<h4>菊花</h4>
<p>甘、微苦，平。忌火，去蒂，白朮、枸杞根、桑白皮為使。</p>
<p>李瀕湖曰：本經言菊花味苦，別錄言菊花味甘，諸家以甘者為菊，苦者為苦薏，惟宜甘者入惟甘菊一種可食者尤良，據此二說則是菊類自有甘苦名苦薏者爾。</p>
<h4>艾葉</h4>
<p>苦、辛，溫，揀取淨葉，揚去塵屑，入石臼杵搗熟，去渣滓，搗至如綿細軟，謂之熟若生艾灸火則傷人干或瓦炕干，一研按容齋隨筆云：艾難著力，若入白茯苓三五片同碾，即時可成細末，亦異也，然恐是艾見制</p>
<h4>茵陳蒿</h4>
<p>苦，微寒。去莖用葉。</p>
<p>茵陳蒿經冬不凋，更因舊苗而生，冬春間莖葉俱白，至夏色綠，即今人呼為濱艾者。</p>
<h4>青蒿</h4>
<p>苦寒。用葉。童便浸一日夜，晒乾用，根莖子葉不可同使，同使，則翻成痼疾。伏硫黃凡蒿淡青，此蒿青翠，至秋余蒿並黃，此蒿獨青，謂之青蒿，其氣芬芳，故謂之香蒿。</p>
<p>黃花青蒿，非</p>
<h4>白蒿</h4>
<p>甘，平。四五月采。</p>
<p>白蒿葉似牛尾蒿而不對莖，葉俱白，四時皤皤，至秋開細白花如小菊，多生沙磧上，今人呼</p>
<h4>子</h4>
<p>苦、辛，微溫，陰乾，用荊實、薏苡為使。</p>
<h4>茺蔚</h4>
<p>即益母草，辛，微苦。制硫黃、雌黃、砒石。</p>
<h4>茺蔚子</h4>
<p>甘、辛，微溫，微炒香，灰制硫黃。</p>
<h4>夏枯草</h4>
<p>苦、辛，寒。土瓜為使，伏汞砂。</p>
<p>今人誤指　草為夏枯草，非是。</p>
<h4>劉寄奴</h4>
<p>苦，溫，莖葉花子皆可用，酒蒸，晒乾。</p>
<h4>旋覆花</h4>
<p>咸、甘，微溫，有小毒。去皮及蒂，微焙。</p>
<h4>青葙子</h4>
<p>苦、微寒。用時先燒鐵杵臼，乃搗用之。</p>
<h4>雞冠子</h4>
<p>甘，涼。炒用。花焙用。忌魚腥、豬肉。</p>
<h4>紅花</h4>
<p>辛、甘，苦，溫，入酒良。</p>
<h4>大薊</h4>
<p>苦、甘，溫，酒洗或童便拌，微炒。</p>
<h4>小薊</h4>
<p>苦甘，溫，制同大薊。</p>
<h4>續斷</h4>
<p>苦、辛，微溫，酒浸，焙乾。地黃為使，惡雷丸。</p>
<p>李瀕湖曰：續斷之說不一，桐君言是蔓生，葉似荏。李當之、范汪並言是虎薊。日華子言是頗難依據，但自漢以來當以為正。今人所用，以州中來，說者，乃南續斷，不知何據，蓋以續斷，今俗謂之舞列草者此也，秋冬間生苗，干四棱，葉似藿香又類苧麻，兩兩相對而生，所賣者皆大小薊根也</p>
<h4>漏蘆</h4>
<p>苦、咸，寒，根苗皆可用。連翹為使。</p>
<p>李瀕湖曰：按沈存中筆談云，今方家所用漏蘆乃飛廉也，飛廉一名漏蘆，苗似苦　，根如牛采時用苗，</p>
<h4>飛廉</h4>
<p>苦，平。用根及花，得烏頭良，惡麻黃。</p>
<p>今鬻花木者名之鬼薊花，即此也。</p>
<h4>苧根</h4>
<p>甘、滑，冷，○葉五月收陰乾。</p>
<h4>大青</h4>
<p>甘、微咸，大寒。三月四月采莖葉，陰乾用。</p>
<h4>蠡實</h4>
<p>甘，平。凡入藥炒過用，治疝則以醋拌炒之。</p>
<h4>蒼耳</h4>
<p>苦、辛，微寒，有小毒。五月五日采，陰乾。忌豬肉、馬肉、米泔，害人。伏　砂。</p>
<h4>蒼耳實</h4>
<p>甘，溫，有小毒。炒熟搗去刺，酒拌蒸用，忌同莖葉。</p>
<h4>天名精</h4>
<p>辛、甘，寒，有小毒。五月采，陰乾用。垣衣、地黃為使。</p>
<h4>鶴虱</h4>
<p>即天名精之子，苦、辛，涼，有小毒，微炒用。</p>
<p>苦、澀，有小毒。五六七月采收，淨洗，曝乾，入甑中，層層洒酒與蜜，九蒸九晒用</p>
<h4>芭蕉油</h4>
<p>甘，冷，以竹筒插入皮中取出，瓶盛之。</p>
<h4>麻黃</h4>
<p>甘、辛、苦，溫。宜用陳久者，去根節，煮數沸，抹去上沫，焙乾，用黃芩為佐，濃白薇為使，惡辛夷、石葦。</p>
<h4>麻黃根節</h4>
<p>甘，平。水洗，銼用。</p>
<h4>木賊</h4>
<p>甘，微溫。去節用。</p>
<h2>卷第二</h2>
<h3>草之屬</h3>
<h4>地黃</h4>
<p>甘、苦，寒。選沉水者用酒浸，則上行外行，薑汁浸則不膩膈，忌銅鐵器，令人腎消白，男損營女損晒乾收者為干</p>
<h4>熟地黃</h4>
<p>甘、苦，微溫，用砂鍋、柳甑襯以荷葉，將生地黃酒潤，用縮砂仁粗末拌蒸，蓋覆文武火蒸半日，干以手擘之有聲地黃掘出洗淨，肥大沉水者正，堪簡用宜用新根，其宿根當年朽腐，雖肥大而生氣將盡之物不宜入藥，之有傷也，後皆能沉水，但鮮時有曝之，一碾即末矣。</p>
<h4>牛膝</h4>
<p>甘、酸，平。用長大柔潤者，去蘆頭。欲下行生用，滋補焙用或酒拌蒸過用。惡熒火、龜甲、陸英，畏白前，忌牛肉。</p>
<h4>紫菀</h4>
<p>苦、辛，溫，去頭須，洗淨，焙用，或酒洗。款冬花為使，惡天雄、瞿麥、　本、雷遠志，畏茵陳。</p>
<h4>麥門冬</h4>
<p>甘，平，以滾水潤濕，少頃抽心，或以砂鍋焙軟，乘熱去心，不爾令人煩。若以水時去心，柔則柔前為使，惡款冬、麥門冬，大小三四種，功用相似，其葉小者如韭，大者如建蘭，多縱紋且堅韌，長及尺余，</p>
<h4>萱草根</h4>
<p>甘，涼，去心用。</p>
<h4>淡竹葉</h4>
<p>甘，寒，處處原野有之，春生苗，高數寸，細莖綠葉，儼如水竹之莖葉，其根一窠須，須上結子，與同名者有四物，用</p>
<h4>黃蜀葵子</h4>
<p>甘，寒，滑，水淘淨用。</p>
<h4>麗春草</h4>
<p>三月采花。</p>
<p>麗春草花四瓣，艷類罌粟而小，即虞美人草也。</p>
<h4>款冬花</h4>
<p>辛，溫，擇未舒嫩蕊去向外裹殼，甘草水浸，晒乾用，杏仁為使。得紫菀良，惡皂硝石、玄參，畏貝母、有相制故也，如半夏畏款冬花以生於山中者為良，圃產不堪用。藥肆中有唐款冬花，乃以枇杷花假偽者，不可不細</p>
<h4>鼠曲草</h4>
<p>甘，平。款冬花為使。藥肆中取此花以當芫花，大謬。</p>
<h4>決明子</h4>
<p>甘，平，炒熟研細。蓍實為使，惡大麻子。</p>
<h4>瞿麥</h4>
<p>甘，寒，炒用。蓑草、牡丹為使，惡螵蛸，伏丹砂。</p>
<h4>王不留行</h4>
<p>甘苦，平。焙用。</p>
<h4>葶藶子</h4>
<p>辛，寒。炒用，榆皮為使，得酒良，惡白僵蠶、石龍芮，宜大棗。</p>
<p>葶藶高五六寸，葉莖及花都似小薺，三月開花微黃色，結莢扁而圓，不復如薺，有三角，惟</p>
<h4>車前子</h4>
<p>甘，寒。淘淨，晒乾，入湯液炒過用，入丸散酒浸一夜，蒸熟，研爛作餅，晒乾，常山為使。</p>
<h4>馬鞭草</h4>
<p>苦，微寒。七八月采苗葉，陰乾。伏丹砂、硫黃。</p>
<h4>龍牙草</h4>
<p>辛，寒。春夏生葉，采無時。</p>
<p>按閩書曰：治痢最神，本草謂即馬鞭草，非也。</p>
<h4>蛇銜</h4>
<p>苦，微寒。采無時。生下濕地，一莖五葉或七葉，開黃花，此與紫背龍牙全別，今人謂之雄蛇莓也。</p>
<h4>燈籠草</h4>
<p>苦，寒。</p>
<h4>蒴</h4>
<p>酸，溫。</p>
<h4>青黛</h4>
<p>咸、甘，寒、外國藍靛之英華也，波斯國者不可得也，今惟以干靛充用售者復以干澱充之，然內多鍛石不可輕用，須淘之數次，取浮標用，或用青布浸汁代之。</p>
<h4>虎杖根</h4>
<p>甘、苦，微溫。刮去上皮用。</p>
<h4>蒺藜</h4>
<p>苦、辛、甘，溫。揀淨，炒去刺。烏頭為使。</p>
<h4>沙苑蒺藜</h4>
<p>甘，溫。綠色，嚼之有綠豆氣者良。出同州沙苑牧馬草地，故謂之沙苑蒺藜，苗狀似杜蒺藜，子成顆粒，褐綠色，故又名之黑蒺殊為不當，疑字誤耳。</p>
<h4>蓄</h4>
<p>甘澀，四五月采苗，陰乾。</p>
<h4>紫花地丁</h4>
<p>苦、辛，寒。</p>
<p>紫花地丁今俗謂之須密列，又謂之牽駒草。其花有數色，一種溝壑邊生者起蔓。</p>
<h4>威靈仙</h4>
<p>苦，溫，一根叢須數百條，長者二尺許，初時黃黑色，干則深黑色，稱鐵腳威靈仙此色如或黃或白者，皆不可用忌茶茗及麩面湯。</p>
<p>威靈仙今名九蓋草者即此是也，人多以徐長卿及仙人草為威靈仙，俱非是。仙人草有毒，</p>
<h4>牛扁</h4>
<p>苦，微寒。六月采。</p>
<h4>大黃</h4>
<p>苦，寒，凡用有生有熟有蒸，不得一概用，欲下行者生用，邪氣在上者必須酒浸引上高驅熱而下。酒浸入太陽經，酒洗入陽明經，余經不用。酒黃芩為使，惡乾漆，忌冷水。肆中有片者、穿眼者，俱清來者也，片者潤而堅硬，穿眼者輕燥不實。采時皆以火石爆干貨賣，更無生者用之亦不須更多炮炙、蒸煮。今太和山城丹後諸州皆有之，以紫地錦文者多以羊蹄草根假之，不可不細認也。</p>
<h4>羊蹄根</h4>
<p>辛、苦，寒，有小毒。能制三黃、砒石、水銀、丹砂，子名金蕎麥。</p>
<h4>商陸</h4>
<p>酸、辛、苦，寒。取花白者根，銅刀刮去皮，薄切，以東流水浸兩宿，同黑豆拌蒸，用。得大蒜良，忌犬肉。赤者有毒，能伏　砂、砒石、雌黃、粉錫。</p>
<h4>茹</h4>
<p>酸、咸、辛，寒，有毒，似蘿卜根，斷則流汁，黑凝如漆。甘草為使，惡門冬。</p>
<h4>大戟</h4>
<p>甘、辛、苦，寒，有小毒。以漿水煮之，晒乾，銼用。赤小豆為使，反甘草，畏菖蒲蘆葦、鼠屎，惡薯蕷。</p>
<p>大戟近道多有之，生平澤最多，春生紅牙如芍藥，漸長叢似初生楊柳，高二三尺，中空，折恨</p>
<h4>澤漆</h4>
<p>苦，微寒。三月采莖葉，陰乾。小豆為使，惡薯蕷。</p>
<h4>甘遂</h4>
<p>苦，寒，有毒。作連珠，大如指頭，赤皮者佳，白者性劣，用水淘去黑汁。水清為度面裹煨熟以去其毒。瓜蒂為使，惡遠志，反甘草。</p>
<h4>續隨子</h4>
<p>辛，溫，有毒。去殼取色白者研爛，紙包壓去油取霜用。服後瀉。多以醋同粥吃。</p>
<p>漿水即止。</p>
<h4>蓖麻子</h4>
<p>甘、辛，平，有毒。凡使以鹽湯煮半日，去皮取子研用，服蓖麻者一生不得食炒豆之脹死其油能伏丹砂、粉霜。取蓖麻油法，研爛入水煮之，有沫撇起，沫盡方止，取沫煎至滴水不散為度。</p>
<h4>藜蘆</h4>
<p>辛、苦，寒，有毒。宜用蔥管者，去頭，用糯米汁煮之，晒乾用。黃連為使反細辛、藥、人參、沙參、紫參、丹參、苦參、又與酒相反，同用殺人。惡大黃，畏蔥白，服之吐止，飲蔥湯即止。今人以千年　為藜蘆，非是。</p>
<h4>黑附子</h4>
<p>辛，溫，有毒。重一兩以上矮而孔節稀者佳，生用，則發散熟用則峻補生用去皮臍熟，用以水浸過，炮令去皮臍，切片，炒黃色去火毒用，或童便浸一日，去皮切作四片，童便及濃甘草湯同盡為度，烘乾。地膽為使，畏防風、黑豆、甘草、人參、黃　、綠豆、烏韭、童便、惡蜈蚣、忌豉汁。李中立曰：市肆售者有以鹽水浸之，取其潤濕體重買者，當以體頂圓正底、平者為良。楊天惠附子記曰：附子之品有七，實本同而末異，其初種之頭，附烏頭而旁生者為附子，又左右附而偶生者為　子，又附而長者為天雄，又附天佳，又附而上者為側子，又附而散者為漏藍子，皆脈絡連貫如子附母，而附子以專附名，自余不得與焉。凡種一而子六七以上則其實皆小，種一而子二三則其實稍而子特生則其實特大，此其凡也。附子之形以蹲坐正節角少為上，有節氣多鼠乳者不正而傷缺風皺者為下，附子之色，以花白為上，以豐實過握為勝，而漏藍、側子園人以乞役夫，不閩浙宜之，陝輔之賈才市其下者，閩浙之賈才市其中者，其上品則喜奇，故非得大者不厭，然土人有知藥者云，小者固難用，要之半兩以上皆良可此言近之。</p>
<p>李瀕湖曰：別有草烏頭、白附子，故俗呼此為黑附子、川烏頭以別之。</p>
<h4>川烏頭</h4>
<p>辛，熱，有毒。形如魁芋頂未圓正為別，制、忌同附子。</p>
<p>烏頭，其形似烏鳥之首，故以為名，兩岐如烏開口者曰烏喙，亦取其似也，皆因象命名，生故收采當在八九春采為烏頭，冬采為附子</p>
<h4>天雄</h4>
<p>辛，熱，有大毒。形大而長少角刺而實，制忌亦如附子。</p>
<h4>草烏頭</h4>
<p>辛，熱，有大毒。形如烏頭，即野生者。無釀造之法，外黑內白，皺而枯燥，或生或炮用，或以黑大豆蔞、貝母、白蘞、白</p>
<h4>白附子</h4>
<p>辛，大溫，有毒。炮去皮臍用。</p>
<p>白附子，所在有之，人不識用，或以白花雙鸞菊當之，誤矣！</p>
<h4>天南星</h4>
<p>辛，溫，有毒，去皮臍，入器中湯浸五七日，日換三四遍，洗去涎，曝乾用，或火用，或以皂莢、白礬、生薑水煮過用，蜀漆為使，惡莽草，畏附子、乾薑、生薑，生能黃、丹砂、焰硝。</p>
<p>造南星曲法，以薑汁礬湯和南星末作小餅子安籃內，楮葉包蓋，待上黃衣，取晒收之。</p>
<p>造膽星法，以南星末研末，臘月取黃牯牛膽汁，和納入膽中，系懸風處干之。年久者彌佳，六七次，殺去毒堪用</p>
<h4>半夏</h4>
<p>辛，平，有毒。揀肥大而白者洗去皮垢，以水浸五日，每日換水，去帽KT　干，切片，薑汁拌焙入藥。射干為使，惡皂莢，畏雄黃，生薑，乾薑，秦皮，龜甲，反烏頭，忌羊血、海造半夏曲法，以半夏洗淨，湯泡去衣垢，研細，以薑汁、礬湯和作餅，楮葉包裹，待生黃衣汁、竹瀝或荊瀝和之，</p>
<h4>蚤休</h4>
<p>即金線重樓，苦，微寒，有毒。伏雄黃、丹砂、硼砂及鹽。</p>
<h4>射干</h4>
<p>苦，平，有毒。采根，以米泔水浸一宿，漉出，以　竹葉煮之，日干用。</p>
<h4>菟絲子</h4>
<p>辛、甘，平。以溫水淘去沙泥酒浸一二宿，蒸晒焙乾，研末，得酒良，薯蕷、松枝惡菌。</p>
<h4>五味子</h4>
<p>酸、甘、辛、苦、咸，溫。入補藥蜜蒸熟，再以泔水浸，焙乾用。入嗽藥生用，連藥。有南北之分，南者干枯，北者濕潤。蓯蓉為使，惡葳蕤，勝烏頭。五味子以朝鮮國來者為勝。</p>
<h4>覆盆子</h4>
<p>甘、辛，微熱。以水淘淨，去皮蒂，酒浸一宿，蒸焙用。</p>
<h4>使君子</h4>
<p>甘，溫。去殼取白仁用，油黑不堪。</p>
<p>李中立曰：去殼取仁，然仁絕難得，今醫家或兼用殼。</p>
<h4>木鱉子</h4>
<p>甘，溫，有小毒。形扁　大，如圍棋子，去殼取仁，或去油用，老者殼色蒼黑，殼色黃，白仁皮綠，肉白者佳，多油及瘦薄者不堪用。</p>
<h4>馬兜鈴</h4>
<p>苦、微，辛，寒。去葉蔓劈開去革膜，取淨子焙用。根為青木香。</p>
<p>馬兜鈴，春生苗，作蔓葉，似蘿　而澀，開黃紫花，結實如鈴，作四五瓣，根微有香氣，故為青木香，不復采馬兜穗生，淺黃色，香酷烈如麝，今俗好生君子其有慎而辨之哉！</p>
<h4>牽牛子</h4>
<p>甘、苦、辛，熱，有毒。水淘去浮者，晒乾，碾取頭末去皮麩不用，亦有半生半熟黑者名黑丑，白者名白丑，味　，得青木香乾薑良。</p>
<h4>紫葳</h4>
<p>即陵霄花。</p>
<p>酸，微寒。花根俱入藥，花不可近，鼻聞傷腦，花上露入目，令人昏　，</p>
<h4>栝蔞實</h4>
<p>甘，微寒。去殼皮、革膜及油，亦有不去油微炒者。</p>
<p>藥鋪栝蔞、王瓜子混而一之，用宜仔細辨，其殼中子似柿核者即栝蔞也，如螳螂頭者王瓜也</p>
<h4>天花粉</h4>
<p>即栝蔞根，甘、苦，微寒。秋冬采根去皮，切片，水浸三日，逐日換水，搗如泥，絹澄粉，晒乾用。枸杞為使，惡乾薑，畏牛膝、乾漆，反烏頭。</p>
<h4>干葛</h4>
<p>甘、辛，平。去皮用。</p>
<p>干葛即葛根，非生根也，今俗取葛莖為干葛，誤矣！</p>
<h4>葛花</h4>
<p>甘，平。七月采之。</p>
<h4>天門冬</h4>
<p>甘、微苦，平。去心，酒拌蒸用。忌食鯉魚，誤食中毒者以浮萍汁解之，垣衣、地貝母、為使，畏曾青。</p>
<h4>百部</h4>
<p>苦、甘，微溫。去心，酒浸，焙用。</p>
<h4>何首烏</h4>
<p>甘、苦、澀，微溫。用竹刀切，米泔浸一宿，木杵搗。一法用竹刀刮去黑皮，米泔日，切片，每赤白各一層，重重鋪盡，砂苓為使，忌蘿卜、蔥、蒜、諸血。無今俗以KT　蔞當何首烏，非是。詳載食物傳信中。</p>
<h4>萆</h4>
<p>苦、甘，平。削去上皮，切片，鹽水拌炒，酒潤，烘。薏苡為使，忌牛肉，畏葵根、黃、柴胡、前胡、牡蠣。</p>
<h4>菝</h4>
<p>甘，平，溫。削去上皮用。</p>
<h4>土茯苓</h4>
<p>甘、淡，平。色白者良，削去皮用。忌茶茗及牛、羊、雞、鵝、魚、肉、燒酒、面李瀕湖曰：萆　、菝　、土伏苓三物，形雖不同而主治之功不相遠，豈亦一類數種乎！</p>
<h4>白蘞</h4>
<p>甘、苦，平，微寒。代赭為使，反烏頭。</p>
<h4>山豆根</h4>
<p>苦，寒。</p>
<h4>茜根</h4>
<p>苦，寒。入藥炒用。忌鐵器並鉛。畏鼠姑汁、制雄黃。</p>
<h4>防己</h4>
<p>苦、辛，寒。漢防己是根外白內黃，破之有黑紋如車輻解者良。木防己是苗色黃腥，皺、上有丁足子，青白虛軟不堪用，去皮銼，酒洗晒乾用。殷孽為使，惡細辛，畏萆　、女菀、鹵鹹，</p>
<h4>海金沙</h4>
<p>甘，寒。其蔓引於竹木上，線莖細葉，可愛也。至於六七月，其葉彌細背多皺文，子狀如蒲黃，收其有皺文葉晒乾，以紙襯承，其沙落紙上及草皆可入藥，勿令見火。</p>
<h4>木通</h4>
<p>甘、辛、淡，微寒。去粗皮，切片，細而白者佳。</p>
<h4>絡石</h4>
<p>苦甘、微酸，寒。入藥擇附石者良，用粗布揩去毛子，以熱甘草水浸透，切晒用。</p>
<p>杜仲、牡丹皮為使，惡鐵落，畏貝母、菖蒲，殺殷孽毒。絡石其類頗多，葉似木蓮而小，四月開白花，氣甚芬芳者是也。</p>
<h4>木蓮葉</h4>
<p>酸，平。</p>
<p>木蓮，今名一咀毗者是也。葉似木犀，實如無花果，夤緣樹木，四時不凋，折之有白汁，世</p>
<h4>鉤藤</h4>
<p>甘、苦，微寒。選紫色去梗，純用嫩鉤，其功十倍。</p>
<h4>忍冬</h4>
<p>甘，微寒。藤葉不拘時采，陰乾。</p>
<p>沈內翰曰：如無生者，只用干者，然力終不及生者效速。</p>
<h4>金銀花</h4>
<p>即忍冬藤花，四月采之，陰乾。</p>
<h4>丁公藤</h4>
<p>辛，溫。采無時。</p>
<p>丁公藤，在處多有之，蔓延木上，葉如杏葉而尖，七八月子熱，則其殼分為三瓣，內子見，</p>
<h4>白前</h4>
<p>甘，微溫。甘草水浸一伏時，去頭須，焙乾用。忌羊肉。</p>
<h4>石龍芮子</h4>
<p>苦，平。大戟為使，畏茱萸、蛇蛻皮。</p>
<h4>穀精草</h4>
<p>甘，平。</p>
<p>產遠江州者，花絕白莖，高至尺余，最勝他處。</p>
<h4>鱧腸草</h4>
<p>甘、酸，平。六月采，楝青嫩無泥土者，不用洗，摘去黃葉用。</p>
<h4>燈心草</h4>
<p>淡，平。蒸熟待干折其瓤，是謂熟草，可然燈，不蒸生剝為生草，可入藥。燈心最以粳米粉漿染過，晒乾研末，入水澄之，浮者是燈心也，晒乾用。</p>
<h4>蘆根</h4>
<p>甘，寒。取肥者去須並赤黃皮用其露出及浮水中者並不堪。</p>
<h4>澤瀉</h4>
<p>甘、咸，微寒。色白，實重者佳，去毛，酒洗一宿曝乾用。畏海蛤、文蛤。</p>
<h4>石菖蒲</h4>
<p>辛，溫，山中生水石間，根須絡石，略無少泥土者良。露根不可用。十二月采根，以銅刀刮去毛，微炒用。秦皮、秦艽為使，惡地膽麻黃，忌飴糖、羊肉，犯鐵器，令人菖蒲有數種，生於池澤，蒲葉肥根高三四尺者泥蒲也，名白菖。又有花菖蒲類燕子花，嬌艷可愛，自有數小者溪蓀也，花成穗者石菖蒲也，惟以此種四五寸，葉如韭，甚則根長二三分，葉長寸傷，不可用也。又山中泉石間自有根苗纖細，一寸不啻九節或至然不必拘也，但當以深山窮穀水磧上生者為佳，人家栽於園亭者不</p>
<h4>蒲黃</h4>
<p>甘、淡，平。市者多以黃柏末假之，極害人。松黃、黃蒿與之相似，味粗損人，破血腫生用，補血止血炒用。</p>
<h4>水萍</h4>
<p>辛、酸，寒。揀紫背浮萍以竹篩攤晒，下置水一盆映之，即易干也。</p>
<h4>海藻</h4>
<p>咸，寒。洗淨咸味，焙乾。反甘草。</p>
<h4>海帶</h4>
<p>咸，寒。形似紙條，薄而且長，黃白色、俱不堪。水洗用。</p>
<h4>昆布</h4>
<p>咸，寒，滑。洗淨咸味，焙乾。</p>
<h4>鷓鴣菜</h4>
<p>咸，甘。用之略洗過，不盡咸味為妙，莖葉如石松而小，色青。</p>
<p>鷓鴣菜今俗謂之馬窟犁此也，按漳州府志云：鷓鴣菜生海石上，散碎色微黑，小兒腹中有蟲</p>
<h4>石斛</h4>
<p>甘、淡、微咸。宜入湯酒，不宜入丸。使者勿用木斛。石斛短而中實，木斛長而中虛，其味大苦，服之損人，去根頭酒洗蒸用。陸英為使，惡凝水石、巴豆，畏雷丸、僵蠶。</p>
<h4>骨碎補</h4>
<p>苦溫銅刀刮去黃黑毛焙用。</p>
<h4>石葦</h4>
<p>苦，平。去黃毛，微炙用。滑石、杏仁、射干為使，得菖蒲良，制丹砂、礬石。</p>
<h4>金星草</h4>
<p>苦，寒，類石葦而有金星。制三黃、砂、汞、礬石。</p>
<h4>石胡荽</h4>
<p>辛，溫。生石縫及陰濕處，其氣辛熏，夏開細花，黃色。汁制砒石、雄黃。</p>
<h3>穀之屬</h3>
<h4>粳米</h4>
<p>甘，平。入藥以極精者洗用。不可同馬肉食，發痼疾。不可和蒼耳食，令人卒心痛，燒陳倉米灰和蜜漿服之，不爾即死也。</p>
<p>汪穎曰：粳有早中晚三收，以晚白米為第一，各處所產種類甚多，氣味不能無少異而亦不大生育之功，故非</p>
<h4>糯米</h4>
<p>甘，溫。以精鑿米洗過入藥。解芫青、斑蝥毒。</p>
<h4>胡麻</h4>
<p>甘，平。有黑白赤三種。取黑者水淘去浮者，以酒拌蒸，晒乾，炒用。</p>
<h4>麻油</h4>
<p>甘，微寒。以白者為勝，生者性寒而治疾，炒者性熱而發病，蒸者性溫而補人。</p>
<p>陶弘景曰：生榨者良，若蒸炒者只可供食及燃燈耳，不入藥用。</p>
<h4>麻仁</h4>
<p>甘，平，微寒。極難去殼，用絹包置沸湯中至冷，取出懸井中一夜，勿著水，晒乾，瓦上　去殼，簸揚取仁。畏牡蠣、白薇、茯苓。</p>
<h4>浮小麥</h4>
<p>甘、咸，寒。即小麥水淘淨浮起無肉之麥殼也，焙用。</p>
<h4>薏苡仁</h4>
<p>甘淡，微寒。淘晒，炒用，有二種，一種黏牙者，尖而殼薄，即薏苡也，其米白色米，一種圓而殼濃，堅硬者，即菩提子也，其米少，亦名為念珠。</p>
<h4>罌粟殼</h4>
<p>酸、澀微寒。取殼水洗，潤去蒂及筋膜，取外薄皮米醋炒或蜜炙用，得醋、烏梅、良。</p>
<h4>阿片</h4>
<p>酸、澀，溫，有小毒。一名阿芙蓉，罌粟花之精液也。罌粟結青苞時，午後以大針刺外面青皮，勿損裡面硬皮，或三五處，次早精出，以竹刀刮盛瓷器，陰乾用之。</p>
<h3>菽之屬</h3>
<h4>黑大豆</h4>
<p>甘，平。惡五參、龍膽。嬰兒十歲以下者，炒豆與豬肉同食，壅氣致死十有八九。</p>
<p>凡服蓖麻子忌之，服厚朴者亦忌之，古方稱此解百藥毒，大不然，又加甘草，其驗乃奇也。</p>
<h4>赤小豆</h4>
<p>甘，平。不可同魚　食成消渴，作醬同飯食成口瘡。</p>
<h4>綠豆</h4>
<p>甘，寒。連皮用。反榧子。殼害人，合鯉魚　食，久則令人肝黃成渴病。</p>
<h4>白扁豆</h4>
<p>甘，平。硬殼者溫平，連皮炒熟入藥，亦有水浸去皮及生用者。從本方。其軟殼及者，微涼，但可供食，不堪入藥。</p>
<h4>葫蘆巴</h4>
<p>苦，大溫。淘淨，以酒浸一宿，晒乾，蒸熟或炒過用。</p>
<h3>造釀之屬</h3>
<h4>淡豆豉</h4>
<p>苦、澀、甘，寒。豆豉有咸淡二種，惟淡者治病。</p>
<p>造淡豉法，用黑豆一斗，六月間水浸一宿，瀝干，蒸熟，攤蘆席上，候微溫蒿覆五六日，候晒七日。又以水拌入</p>
<h4>神麯</h4>
<p>甘、辛，溫，炒黃用。</p>
<p>造神麯法，五月五日或六月六日，用白面百斤，青蒿自然汁三升，赤小豆末、杏仁泥各三升用汁和面、豆、杏仁久者良。一法用青蒿、蒼耳、野蓼自然汁及赤白面搜和得所，作餅如上，生黃，晒收之尤</p>
<h4>紅曲</h4>
<p>甘，溫。</p>
<p>造紅曲法，白粳米一石五斗，水淘浸一宿，作飯，分作十五處，入曲母三斤，搓揉令勻，並作五堆，再一時合作盛新汲水，以竹蘿盛曲作五六分蘸濕沉半浮，再依前法作一次，又蘸若盡浮則成矣。</p>
<p>酒及　KT　中，鮮紅可愛未過心者不甚佳，入藥以</p>
<h4>麥芽</h4>
<p>咸、甘，溫，即大麥水浸生芽者，去須，取其中米炒研面用，今惟炒用。豆蔻、縮砂烏梅、木瓜、芍藥、五味子為使。</p>
<h4>飴糖</h4>
<p>甘，大溫。惟以糯米作者入藥，余但可食爾。</p>
<h4>苦酒</h4>
<p>即米醋，甘、酸、苦、溫。服茯苓、丹參者不可食醋，米醋煮制四黃、丹砂、膽礬、常</p>
<h4>酒</h4>
<p>苦、甘、辛，大熱。凡酒忌諸甜物，酒漿照人無影不可飲，祭酒自耗不可飲，酒合乳飲令人氣結，同牛肉食令人生蟲。畏枳　、葛花、赤豆花、綠豆粉。</p>
<h4>石蜜</h4>
<p>甘，溫。即白砂糖。</p>
<h3>蔬之屬</h3>
<h4>韭子</h4>
<p>辛、甘，溫。爆干，簸去黑皮，炒黃用。韭葉不可與蜜及牛肉同食。</p>
<h4>蔥莖白</h4>
<p>辛，平。同蜜食殺人，服地黃、常山忌食。</p>
<h4>大蒜</h4>
<p>辛，溫、有毒。不可同蜜食，殺人。</p>
<h4>白芥子</h4>
<p>辛，熱。微焙擊碎，用生絹袋盛入煮，勿煎太過，則味苦辣。</p>
<h4>芸苔子</h4>
<p>即油菜，辛溫。</p>
<h4>萊菔子</h4>
<p>辛，溫，甘，平。</p>
<h4>生薑</h4>
<p>辛，溫。去皮則熱，留皮則冷。秦椒為使，殺半夏、莨菪毒，惡黃芩、黃連、天鼠糞繆仲醇曰：生薑不宜使熟，宜搗絞汁，待藥煎成，傾方不失生字之義。如入藥煎，乃熟薑非</p>
<h4>乾薑</h4>
<p>苦、辛，大熱。微炒用，若治產後血虛發熱及止血俱炒黑，溫中炮用，散寒邪理肺氣嘔生用。使惡殺同生薑。</p>
<p>造乾薑法，以母薑水浸三日，去皮，又置流水中六日，更刮去皮，然後晒乾，置瓷缸中釀三</p>
<h4>胡荽</h4>
<p>辛，溫，有小毒。凡服一切補藥，有白朮、牡丹皮者咸忌之。伏石鐘乳。</p>
<h4>山藥</h4>
<p>即山薯。</p>
<p>甘，平。惡甘遂。</p>
<p>山薯形長者是也。一種形如手掌，名佛掌薯。又有番薯即紅山藥。其根如薑而大，皮薄而紫洗去土留皮，竹肆所賣者，大率系家園種者皆黑者不堪。</p>
<h4>百合</h4>
<p>甘，平。花白者入藥。</p>
<h4>冬葵子</h4>
<p>甘，寒，滑。黃芩為使，伏硫黃。</p>
<p>葵今處處有之，古人種為常食，今之種者頗鮮，苗高三四尺，莖葉似蜀葵而差，小花極微細相承，以錢葵當葵</p>
<h4>藜</h4>
<p>甘，平。有二種，凡使高二尺五六寸為妙，若長若短皆不中用也，生牆下樹下者不可用</p>
<h4>紫蘇</h4>
<p>辛，溫。不可同鯉魚食，生毒瘡。</p>
<h4>蘇子</h4>
<p>辛，溫，炒香研用。</p>
<h4>荊芥</h4>
<p>辛、苦、溫，去枝莖生用，治下焦血炒黑用與河豚、黃顙魚、驢肉相反，若同日食之致喪命，不可不痛戒也。</p>
<h4>牛蒡子</h4>
<p>苦，辛。揀淨以酒拌蒸，待有白霜以布拭去，焙乾搗粉用。</p>
<h4>蒲公英</h4>
<p>苦、甘，寒，三四月采，陰乾。</p>
<h4>地膚子</h4>
<p>甘，寒，揀淨用。</p>
<h3>果之屬</h3>
<h4>杏仁</h4>
<p>甘、苦。溫。湯浸去皮尖，炒黃研細，風寒肺病藥中連皮尖用，取其發散也，作湯如白</p>
<h4>烏梅</h4>
<p>酸、澀，溫平。去核微炒，若過而齒　者，嚼胡桃肉解之。忌豬肉，取大青梅籃盛於上熏黑用。</p>
<h4>白梅</h4>
<p>酸、咸，平。取大青梅以鹽汁漬之，日晒，夜漬十日成矣，久乃上霜。</p>
<h4>桃仁</h4>
<p>苦、辛、甘，溫。行血，連皮尖生用。活血、潤燥，湯浸去皮尖炒用。雙仁有毒不用香附為使。</p>
<h4>大棗</h4>
<p>甘，溫。六七月采，曝乾，堅實肥大者佳，忌與蔥、魚同食，殺烏頭、附子毒，入藥去核。棗有大小數種，小者只可充果食，入藥惟用大棗，形大而核小多膏、味甘美者為良。</p>
<p>其雖大</p>
<h4>雪梨</h4>
<p>甘，寒。雪梨、綿梨、香水梨俱為上品，可以治病，余梨不去病。</p>
<h4>木瓜</h4>
<p>酸、澀溫。形如小瓜而有鼻，皮薄色赤黃，香而甘酸不澀，去硬皮及子，臼中杵碎晒乾李瀕湖曰：木瓜可種可接，可以枝壓，其葉光而濃，其實如小瓜而有鼻，津潤味不木者為木木梨，即　楂及和木瓜木葉花實酷類　楂，俱是系一類，其實如瓜，但看花脫處有鼻者為木瓜，無者為楂</p>
<h4>山楂</h4>
<p>酸，微溫。核有功力不可去也。</p>
<h4>柿餅</h4>
<p>甘，寒。其霜謂之柿霜，甘，冷。反杜鵑花，誤並食，殺人。</p>
<h4>柿蒂</h4>
<p>澀苦，溫，大者如碟，八棱而扁，其次如拳，以核少者為佳。</p>
<h4>柿</h4>
<p>今園圃種接者甚繁，惟方柿蒂宜入藥。</p>
<h4>石榴皮</h4>
<p>酸澀，溫。勿犯鐵器，漿水浸一夜，取出用，其水如黑汁。</p>
<h4>橘皮</h4>
<p>苦、辛，溫，水洗潤透，刮去筋膜，晒乾用。</p>
<h4>橘</h4>
<p>今俗謂白香子者、即此也。</p>
<p>薛立齋曰：陳皮隔年者方可用。</p>
<p>李瀕湖曰：橘皮紋細色紅而薄，內多筋脈，其味苦、辛，柑皮紋粗色黃而濃，內多白其味辛、甘。橘皮最濃矣。今天下多以廣中來矣。</p>
<h4>橘核</h4>
<p>苦，溫。炒去殼。</p>
<h4>青皮</h4>
<p>即橘之未熟而色青者。苦烈辛溫，以湯浸，去瓤，切片，醋拌，瓦炒過用。</p>
<p>李中立曰：頭破裂者，俗呼四花青皮。凡用以此為勝，今人多以小柑、小柚、小橙偽為之，</p>
<h4>柑皮</h4>
<p>甘冷。要大而皮濃色紅者入藥，制同橘皮。</p>
<p>柑與橘雖形體相類，而其種實有別，今人概收柑皮充橘皮，非矣！</p>
<h4>枇杷葉</h4>
<p>苦、甘、辛，平。濕葉重一兩，干者三葉重一兩者為氣足，堪用。以粗布拭去毛，粟杆作刷炙用。</p>
<h4>胡桃</h4>
<p>甘，熱。</p>
<p>胡桃，俗呼唐胡桃者宜入藥，其姬胡桃，食物本草所云，產荊襄者，正指此也。鬼胡桃即山</p>
<h4>橡斗子</h4>
<p>苦，溫。去殼，水浸去澀味，蒸極熟，焙用，斗殼亦入藥，宜搗細炒焦，或燒存性木皮、根皮去粗皮用。</p>
<h4>荔枝核</h4>
<p>甘溫，澀。</p>
<h4>龍眼肉</h4>
<p>甘，溫，平。</p>
<h4>橄欖</h4>
<p>澀甘、平。凡用截去兩頭，以其性熱也。</p>
<h4>榧子</h4>
<p>澀甘，平，榧子皮，反綠豆，能殺人。</p>
<h4>松子</h4>
<p>甘，小溫。今名為海松子，類楓子而小。</p>
<p>海松子甲斐州山中多有之。</p>
<h4>檳榔</h4>
<p>苦辛、澀，微溫。去空心者，刮去臍皮，見火無功。</p>
<h4>大腹皮</h4>
<p>辛，微溫。其樹多集鴆鳥，宜先以黑豆汁洗，後以水再洗過，晒乾，火焙，切用。</p>
<h4>郁李仁</h4>
<p>辛、苦、酸，平，湯浸去皮尖及雙仁者，研膏用。</p>
<p>郁李即今尼歪撒窟剌也，條生作叢，高五六尺，其葉如李，更尖長，其花有千葉，單葉紅白</p>
<h4>川椒</h4>
<p>辛，熱，有毒。去核及閉口者，微炒出汗，乘熱入竹筒中，搗去裡面黃殼取紅用。杏為使，畏款冬花、防風、附子、雄黃，可收水銀。中其毒者，涼水、麻仁漿解之，五月勿椒。</p>
<p>李瀕湖曰：蜀椒肉濃皮皺，其子光黑如人之瞳仁，故謂之椒目，他椒子雖光黑亦不似之，若</p>
<h4>胡椒</h4>
<p>辛辣熱。</p>
<h4>蓽澄茄</h4>
<p>去柄及皺皮，蒸，杵細，晒乾。</p>
<h4>吳茱萸</h4>
<p>辛、苦，大熱，有毒。鹽湯洗去苦烈汁，焙乾用。閉口者有毒。蓼實為使，惡丹參石、白堊，畏紫石英。</p>
<h4>茶葉</h4>
<p>苦、甘，微寒。以新芽一發，便長三四分許，其粗如針，味甘氣芳，最為上品，堪入中。惡榧子，服威靈仙、土茯苓者。忌飲茶。</p>
<p>李念莪曰：茶葉以味甘不澀，氣芳如蘭，色白如玉者為良，昔人多言，其苦寒不利脾胃，及</p>
<h4>孩兒茶</h4>
<p>苦、甘、澀，平。出南番系細茶，末入竹筒中，緊塞兩頭，埋污泥溝中，日久取出汁熬制而成。其塊小因搽小兒諸瘡效，每</p>
<h4>甜瓜蒂</h4>
<p>苦，寒。</p>
<p>按本草圖經云：瓜蒂即甜瓜蒂也，活人指掌補注云，瓜蒂即絲瓜帶。俗名藤蘿，二說不同。</p>
<h4>蓮子</h4>
<p>甘，平，澀。不去心令人作吐，凡使須去心，蒸焙用。得茯苓、山藥、白朮、枸杞子青心名蓮薏，苦寒亦入藥。</p>
<p>謝在杭曰：趙州寧晉縣有石蓮子皆埋土中，不知年代，居民掘土往往得之有數斛者，其狀如乃以番蓮子代之，</p>
<h4>蓮須</h4>
<p>甘、澀，溫。花開時采取干，忌地黃、蔥、蒜。</p>
<h4>荷葉</h4>
<p>苦，平。畏桐油，伏白銀、硫黃。</p>
<h4>芡實</h4>
<p>甘，平。凡用蒸熟，烈日晒裂，取仁，亦可舂取粉用，入澀精藥連殼亦可。</p>
<h4>石蓮子</h4>
<p>苦，寒。其子中肉黃白色，心內空，無青芽，形細長而頭圓，殼光黑堅硬如石，故蓮，別是一種藥物，非藕實也。</p>
<p>按李瀕湖曰：今藥肆一種石蓮子，狀如土石而味苦，不知何物也。繆仲醇曰：石蓮子產廣中者，若無節者，更黑味極石蓮肉為細末，每服二錢，米湯曰石蓮，形似蓮子。</p>
<p>又按明滕可齋神農本經會通云：山東有一種木，生石蓮仿佛藕實。石蓮子但形細長而頭光圓如，賈人又以服，嘔吐反增，惡食愈甚，若用者，不察去心之說，殺人不少，予特著此以目類纂必讀云、余考群書，多言石蓮即深秋之老蓮子也。按蓮破無心，自是別種，以之治白濁及噤口毒痢殊有神聖之功，又非老蓮子產於何地耳。清心蓮子飲並瑞蓮丸，俱是肆中之石蓮劈破無心之一種，非老蓮子也之二說不同用者，宜審之。</p>
<h2>卷第三</h2>
<h3>木之屬</h3>
<h4>柏子仁</h4>
<p>即側柏實。</p>
<p>甘、辛，平。蒸熟，曝烈，舂簸取仁，炒研入藥。畏菊花、羊蹄草。</p>
<h4>側柏葉</h4>
<p>苦、澀寒。柏有數種，入藥惟取葉扁而側生者，故曰側柏，或生或炒，各從本方，牡蠣桂為使，畏菊花、羊蹄、諸石及面曲，伏砒硝。</p>
<h4>松脂</h4>
<p>苦、甘，溫。凡用松脂，先須煉治，用大釜加水置甑，用白茅藉甑底，又隔細布或布松過，其白如玉，然後入用。伏汞。</p>
<p>松脂市中賣者多雜他木液淚在內，須辨認之。</p>
<h4>桂心</h4>
<p>甘、辛、大熱，有小毒。桂有等，肉桂乃近根之最濃者，辛烈肉濃；官桂即在中之次濃者味稍淡於肉其上粗皮而留其甘草、麥門冬、大黃、黃芩</p>
<h4>桂枝</h4>
<p>甘辛，微熱。去上粗皮用。桂須要色紫赤味辛烈者用之，如不辛烈勿入劑，肆中有松浦桂心，殊不中用。</p>
<h4>辛夷</h4>
<p>辛、溫。刷去毛，微焙。芎　為使，惡五石脂，畏菖蒲、蒲黃、黃連、石膏、黃環。</p>
<h4>沉香</h4>
<p>辛、苦，溫，入丸散銼為末，入煎劑惟磨，臨時入之。忌日曝火烘。香之等，凡三，沉、曰棧、曰黃熟，沉水者者次之，不沉者可熏衣及焚沉香今肆中所賣，其氣多焦烈，又置之水中不能沉乃黃熟香類爾。非沉之精美者也。入藥品之高者二木，或所有，今雖自不能決其</p>
<h4>丁香</h4>
<p>辛，熱。取紫色去丁蓋乳子，發人背癰也，勿見火，有雌雄二種。雄者顆小為丁香，者大如山茱萸為雞舌香，即母丁香也，入藥最勝。畏鬱金。</p>
<h4>檀香</h4>
<p>辛，溫。皮實而色黃者為黃檀，皮紫而色白者為白檀，皮腐而色紫者為紫檀，其木並重清香，而白檀尤良，宜以紙封收則不泄氣。</p>
<h4>降真香</h4>
<p>辛，溫。紫而潤者為良。</p>
<h4>烏藥</h4>
<p>辛，溫。生用或酒浸一宿，炒用。</p>
<h4>乳香</h4>
<p>辛、苦，微溫。圓大如乳頭，色白，入丸藥以少酒研如泥，以水飛過，晒乾用，或言燈草同研，或以乳缽肆中又別有名為薰陸</p>
<h4>沒藥</h4>
<p>苦，平。色黃黑，修治與乳香同。</p>
<h4>白膠香</h4>
<p>即楓香脂。</p>
<p>辛、苦，平。</p>
<p>今人多以佳一狄木當楓樹，殊為謬誤。</p>
<h4>騏竭</h4>
<p>甘、咸，平。狀若膠飴，凝塊紅赤，與血同色，欲試真偽，但嚼之不爛如蠟者為上人試之以透指甲藥同研，恐化作</p>
<h4>安息香</h4>
<p>辛、苦，平。狀如松脂、桃膠，黃黑色，酒煮研，有如餳者謂之安息油。</p>
<h4>蘇合香</h4>
<p>甘，溫。藥中只用蘇合油，如　膠以箸挑起，懸絲不斷者，真也。亦番國樹生之膏濃而無滓者為上。</p>
<h4>龍腦香</h4>
<p>大辛、苦，溫。市家多以番硝混攙，然其質重色蒼如砂細碎。龍腦輕浮、潔白，片侔，須細辨之，入瓷罐同燈草藏貯不致耗蝕，今人多以樟腦升打亂之，不可不辨也。</p>
<p>黃衷海語曰：片腦產暹羅諸國，惟佛打泥者為上，其樹高者三二丈葉如槐而小，皮理類沙柳如指，濃如二青錢者亦堪入藥，乃其次耳</p>
<h4>樟腦</h4>
<p>辛，熱。凡用，每一兩以二碗合住，濕紙糊口，文武火　之，半時許取出，冷定用。</p>
<p>煎樟腦法，用樟木新者切片，以井水浸三日三夜，入鍋煎之，柳木頻攪，待汁減半，柳上有煉樟腦法，用銅盆以陳壁土為粉糝之，卻糝樟腦一重，又糝壁土，如此四五重，以薄荷安土盆，如此升兩三次</p>
<h4>阿魏</h4>
<p>辛，溫。產波斯國，黑色者不堪，黃散者為上，臭烈殊常，極臭而又能止臭，最難真試法以半銖安熟研細用，熱酒</p>
<h4>蘆薈</h4>
<p>苦，大寒。產波斯國，狀似黑錫，木滴脂淚結成也，先搗成粉，然後入藥。解巴豆毒</p>
<h4>胡桐淚</h4>
<p>咸、苦，大寒。有木石二種，木淚乃樹脂流出者，其狀如膏油。石淚乃脂入土石間其狀成塊形，故入藥此為按河間府志曰：槿樹流沫之附者為胡桐淚，遍查本草無此說，惟韓保升言，初生似柳者差近</p>
<h4>黃柏</h4>
<p>苦，寒。選肉濃色黃者，炒褐色。生用則降實火，熟用則不傷胃，酒製則治上，鹽制治下，蜜製則治中。惡乾漆，伏硫黃。</p>
<h4>厚朴</h4>
<p>苦，溫。質濃色紫者良，去粗皮薑汁浸透酥炙用。乾薑為使，惡澤瀉、硝石、寒水石忌豆，食之動氣，圖經青實，皮極鱗皺而濃，按厚朴世人相承以復復樹充之，視本草所圖其形頗相近。然圖經云，春生葉，四季不凋，紅樹定為厚朴也，</p>
<h4>杜仲</h4>
<p>苦、辛，甘，溫。脂濃潤者良，去粗皮，鹽酒炒，或以薑汁拌炒去絲。惡玄參、蛇蛻杜仲有樹生、蔓生二種，本草欠載蔓生一種。</p>
<h4>椿白皮</h4>
<p>苦，溫。刮去粗皮，焙用。生用通利，醋炙固澀。香者名椿皮，色赤無毒，臭者名色白。</p>
<h4>樗白皮</h4>
<p>即臭椿。</p>
<p>苦、澀，涼，有小毒。制硫黃、砒石、黃金。椿、樗二木皆有之，俗以山茶誤也。</p>
<h4>乾漆</h4>
<p>辛、咸、苦、溫，有毒。入藥宜黑漆搗碎，炒令煙盡，不爾損人腸胃，若是濕漆煎干好，亦有燒存性者，中湯浴之，若入漆室先以乾漆，桶中自然干者，狀如蜂房，孔孔隔者為佳。藥市以石炭充乾漆，極非也。石炭是石類</p>
<h4>桐實</h4>
<p>大如巨棗，長寸余，殼內有子片，輕虛如榆莢、葵實之狀，老則殼裂，隨風飄揚。</p>
<h4>桐子油</h4>
<p>甘、微辛，寒，有大毒。桐油吐人，得酒即解。</p>
<p>油桐，近江州。人多種蒔，收子打油貨，乏，亦廣俗誤以荏油名桐油，非也。</p>
<h4>海桐皮</h4>
<p>苦、溫，平。皮有巨刺，如黿甲之刺。</p>
<p>海桐葉，大如手，作三花，尖，體有巨刺，如　樹，又別有海桐花，見草花譜與此不同。</p>
<h4>金鈴子</h4>
<p>即楝實。</p>
<p>苦、酸，寒，有小毒。酒拌蒸，待皮軟刮去皮，取肉用。核肉不可同使，若以漿水煮一大毒，殺人</p>
<h4>槐花</h4>
<p>苦，平，未開時采收入藥，炒用。</p>
<h4>槐實</h4>
<p>苦，寒，酸，咸。景天為使。</p>
<h4>秦皮</h4>
<p>苦，微寒。取皮漬水便碧色，書紙青色者真。略刮外衣用。大戟為使惡吳茱萸、苦瓠防葵。</p>
<h4>合歡皮</h4>
<p>甘，平，去上皮，炒用。</p>
<h4>皂莢</h4>
<p>咸、辛，溫，有小毒。有三種，一種豬牙皂莢，全無滋潤洗，垢不去；一種粗大長虛無潤；一種圓濃短促，皮，或酥，或蜜反復炙粉霜、硫黃、　砂。</p>
<h4>皂莢子</h4>
<p>辛，溫。取堅滿者煮熟去皮，取白肉去黃。</p>
<h4>皂莢刺</h4>
<p>辛，溫。</p>
<h4>沒石子</h4>
<p>苦，溫。凡用不宜獨用。多用蟲食成孔者。入藥勿犯銅鐵器並被火驚，顆小紋細者砂盆研，隔紙焙用。</p>
<h4>訶黎勒</h4>
<p>即訶子。</p>
<p>酸、苦、澀、溫。六棱、黑色、肉濃者佳，酒浸後蒸一伏時，去皮取肉，焙去肉，或面裹煨透，去核。</p>
<h4>柳</h4>
<p>苦、寒。花、子、枝葉皆入藥。</p>
<h4>水楊</h4>
<p>苦，平。枝葉並根皆入藥。</p>
<p>按說文：楊，蒲柳也。柳，小楊也。蒲柳葉圓闊而赤，枝條短硬，即水楊也。柳葉長而狹，（見開</p>
<h4>榆白皮</h4>
<p>甘，平，滑利。刮去粗皮。</p>
<h4>蕪荑</h4>
<p>辛，溫，苦，平。陳久者良，必擇氣腥者佳，小者即山榆莢仁，止堪為醬及治雞病，藥當用大者，面炒黃。</p>
<h4>蘇方木</h4>
<p>甘、辛、酸、咸，入藥惟取中心。</p>
<h4>棕櫚皮</h4>
<p>苦、澀，平。燒存性用。</p>
<h4>烏臼根皮</h4>
<p>苦，微溫。慢火炙黃用。</p>
<h4>巴豆</h4>
<p>辛，熱，有大毒。入丸散中。去皮心膜，換水煮五度，各一沸，搗如膏，用紙包壓去名為巴霜。又有用仁者。緊小色黃者為巴草，畏大黃、黃連、藜蘆、冷水，反牽牛。得火</p>
<h4>大風子</h4>
<p>辛，熱，有毒。形類松子，大如雷丸，新者仁色白，久者黃油不堪入藥。去殼取仁取大風子油法：用封，勿令透氣，文武火非也。</p>
<h4>桑白皮</h4>
<p>甘、辛、苦，寒。取東行嫩根洗去土泥，日晒，待其干透後，剝皮貯之，臨時刮去衣，炙用。若掘取續斷、桂心、麻子</p>
<h4>楮實</h4>
<p>甘，寒。投水浮者去之，以酒浸一時，焙乾用。</p>
<h4>枳實</h4>
<p>苦、酸、寒，水漬透，切片，晒乾，麩炒至麩焦，去麩用，與枳殼一物。秋采者為實冬采者為殼，後人惟以皮濃小者為枳實，完大者為枳殼，皆以翻肚如盆口狀，陳久者為勝</p>
<h4>枳殼</h4>
<p>苦，酸，寒。水浸去穰，切片，麩炒黑，去麩用。</p>
<p>韓彥直橘錄云：近時難得枳實，人多植枸橘於籬落間，收其實剖干，以之和藥，味與商州之枸橘又未易得，取朱欒之小者半破之，日曝以為枳，異方醫者不能辨，用以治病亦愈，藥貴按枸橘俗謂之嗑辣咀，知者此也，實形如枳實而殼薄不香，今藥肆中采收貨之者，亦皆是物</p>
<h4>山梔子</h4>
<p>苦，大寒。七棱九棱者佳。炒透治上焦，中焦，連殼治下焦，去殼洗去黃漿治血臠妙，心胸中熱用仁，肌表熱用皮，家園者不入藥。</p>
<h4>酸棗仁</h4>
<p>酸、甘，平。去皮尖用。多睡生用，不得睡炒熟用。惡防己。</p>
<h4>蕤核仁</h4>
<p>甘。微寒。以湯浸去皮尖，水煮過，取仁研膏入藥。</p>
<h4>山茱萸</h4>
<p>酸，微溫。酒潤去核，核能滑精也。蓼實為使，惡桔梗、防風、防己。</p>
<h4>金櫻子</h4>
<p>酸、澀，溫平。采收當在九、十月，取半黃者干去核並白毛，淨搗末用，熬膏亦可。</p>
<p>金櫻刺叢生，大類薔薇，有刺，四月開花白，清麗芬郁，甚可愛，夏秋結實，亦有刺，黃赤罕矣。有才而不效且非獨</p>
<h4>連翹</h4>
<p>苦，平。去蒂瓤，任用噙口者佳，開瓣者不堪用。</p>
<p>連翹，有兩種，大翹枝梗楊起，高丈余，小翹枝條柔軟如薔薇輩，承之可以架花葉並實，俱</p>
<h4>枸杞子</h4>
<p>甘，平，微寒。凡用揀淨枝梗，取鮮明者洗干，酒潤一夜，搗爛入藥。</p>
<p>枸杞子，形微長如棗核，又有圓如櫻桃者。</p>
<h4>地骨皮</h4>
<p>即枸杞根。</p>
<p>甘、淡、苦，寒。洗淨去心，以熟甘草湯浸，焙乾用。制硫黃、丹砂。</p>
<h4>五加皮</h4>
<p>辛、苦，溫。其氣與酒相宜，遠志為使，惡玄參、蛇皮。</p>
<h4>衛矛</h4>
<p>苦，寒。二月、七月采莖，陰乾，去葉，銼，以酥拌緩炒。</p>
<p>衛矛，今人謂之錦木者此也，至霜後，葉丹可愛，又一種有葉如桃者。</p>
<h4>石楠葉</h4>
<p>辛、苦，平，有毒。生於石上，如枇杷葉，但背無毛。五加皮為使，惡大、小薊。</p>
<h4>荊瀝</h4>
<p>甘，寒。○荊實，苦，溫。防己為使，畏石膏。</p>
<p>取荊瀝法：用新采荊莖，截尺五長，架於兩磚上，中間燒火炙之，兩頭以器承取，熱服或入亦圖經曰：牡荊俗名黃荊是也，枝莖堅勁，作科不作蔓，葉如蓖麻，更疏瘦，花紅作穗，實細諸家說牡荊、蔓荊紛糾不一，李瀕湖復解二物不分愈益淆亂，以他書參之，當以圖經之說為或扁，或異，或多</p>
<h4>蔓荊子</h4>
<p>苦、辛、微寒。凡使去蒂並白膜，打碎用。惡烏頭、石膏。</p>
<p>蔓荊，莖高四五尺，對節生枝，初春因舊枝而生葉，如榆葉長而尖，有鋸齒，至夏盛茂，杪</p>
<h4>紫荊</h4>
<p>苦，寒。皮梗及花功用皆同。其皮以濃而紫色、苦味如膽者為勝。</p>
<p>春開紫花，甚細碎，其作朵生出無常處，或生於木身之上，或附根上枝下直出，花罷出，光緊微圓，其實作莢，中有子圓如小珠，人多種於庭院間，殊可觀。今人以其花紫，曰蘇方木也。</p>
<h4>木槿根皮</h4>
<p>甘，平，滑。</p>
<h4>木芙蓉</h4>
<p>微，辛，平。葉並花入藥。</p>
<h4>密蒙花</h4>
<p>甘，平，微寒。花小色黃，嚼之甘甜酒潤焙。</p>
<p>繆仲醇曰：形與芫花相似，但芫花狹小，而密蒙差大，為異用者，宜詳辨之。</p>
<h4>賣子木</h4>
<p>甘、微咸，平。</p>
<h4>接骨木</h4>
<p>甘、苦，有小毒。</p>
<h4>冬青</h4>
<p>甘、苦，涼。子葉及木皮入藥。</p>
<h4>枸骨</h4>
<p>微、苦，涼。葉並木皮入藥。</p>
<h4>女貞</h4>
<p>微苦，平。葉及實入藥。實酒浸一宿，擦去皮，蒸透，晒乾，為末。</p>
<p>女貞、冬青、枸骨三木頗相類，惟以葉微圓而子赤者為冬青，葉長而子黑者為女貞，濃硬有無故而得此隆</p>
<h4>常山</h4>
<p>苦，寒，有毒。形如雞骨，色如雞子黃者佳。酒浸一宿，切薄片，慢火炒透。又有醋者吐人。畏玉札。</p>
<p>忌蔥菜、菘菜，伏砒石。○五月采葉，陰乾，名蜀漆，辛平有毒。桔梗、栝蔞為使，惡貫眾蜀漆俗謂之小臭木此也，葉似茗而長大，兩兩相當，木高丈余，山城州鞍馬山特多有之。</p>
<p>按即此也，人多充</p>
<h4>芫花</h4>
<p>辛、苦，溫，有大毒。醋煮數沸，去醋，更以水浸一宿，晒乾用，則毒滅也，或以醋炒者次之，留數年者良，不可近眼。決明為使，反甘草。</p>
<p>芫花，今俗誤名紫荊者即此也，小木高二三尺，枝莖紫色，葉似白前及柳葉，根白色如榆根也。藥肆中都不識</p>
<h4>白茯苓</h4>
<p>甘、淡，平。去皮膜及筋用色白而堅實者佳。惡白蘞，畏牡蒙、地榆、雄黃、秦艽甲，忌米醋及酸物。</p>
<h4>赤茯苓</h4>
<p>即茯苓之色赤者，制忌同白茯苓。</p>
<h4>茯神</h4>
<p>即茯苓抱根而生者，去皮及心內木。畏忌同白茯苓。</p>
<p>茯苓諸山皆有之，藥肆掘取茯苓，日干，恐其秤兩有減，不候十分干透貯之，故色潔白者殊少矣。又以其壞而色赤者假赤茯苓售之，不可不辨。又有名蕨茯苓者，乃掘蕨地得之者，時有抱蕨根者，蓋其地幾千百年前松林在焉，而為人斬伐，茯苓結成於土底，以見於今日者也，不可據目而為茯苓，亦</p>
<h4>豬苓</h4>
<p>甘、淡，平。作塊類豬糞，皮黑肉白，水浸去皮生用。</p>
<h4>雷丸</h4>
<p>苦、咸，寒，有小毒。大小如栗，皮黑肉白甚堅實。甘草湯浸一夜，銅刀刮去黑皮，拌蒸，焙乾用。荔實、厚朴、芫花為使，惡蓄根、葛根，赤者殺人。</p>
<h4>桑寄生</h4>
<p>甘，平。真者極難必連桑枝采者乃為可用，別樹生者氣性不同，恐反有害也，其葉微尖濃而柔，面青而光澤，背淡紫而有茸，斷其莖，色淡黃者為真。</p>
<p>桑寄生難得真，有以用他木寄生至於隕命者，可不慎哉。然寓木亦有三四種，氣類自不同也多以桑上癭花充之，</p>
<h4>松寄生</h4>
<p>苦、甘平。形狀與桑寄生一樣，他不皆有之，若非自采即難用也。</p>
<p>馮嗣宗名物疏云：本草草部有菟絲，木部有松蘿。松蘿一名女蘿，性味及所生全別。爾雅云予謂此非爾雅之誤，雅所稱之女蘿正是松蘿，非菟絲也。</p>
<p>按松寄生有色青而細長，又也，古今釋者相</p>
<h3>竹之屬</h3>
<h4>竹葉</h4>
<p>淡、甘，寒。</p>
<p>圖經曰：竹處處有之，其類甚多，而入藥惟用　竹、淡竹、苦竹三種，人多不能盡別，按竹甘竹似篁而茂，即二種，一出江西閩中，本極粗大，筍味味，俗呼甜苦筍是也。今南人入藥燒瀝惟用淡竹一品，肉陳廷采曰。淡竹葉，竹類頗多，難指何是，惟嘗筍味，淡者為然，　竹、雷竹、水竹、味淡藥。東坡蘇公曰淡竹者對苦竹為草中一種莖如鐵線而長，葉小如竹。一種莖青而短，葉大如竹。一種開花青翠，葉如竹，俱庶不失</p>
<h4>竹茹</h4>
<p>甘，微寒。刮去青皮，用第二層。</p>
<h4>竹瀝</h4>
<p>甘，微寒。</p>
<p>取竹瀝法：以竹截長二尺，劈開，以磚兩片對立，架竹干上，以炭火炙之，其瀝自出，以器承取用。一法用淨HT　一只將淡竹鋸成段，劈碎水浸一時，看HT　大小，裝滿HT口，用竹攔住，打一土坑，下放一缽，頭以HT　倒著，口向缽頭，以黃泥糊HT　缽，合縫處及HT　周遭與底候干，外以　糠堆放HT　周遭與底，用火燃著糠，聽漸燒完遍，火氣逼HT內，竹瀝自滴缽頭內，多而</p>
<h4>天竹黃</h4>
<p>甘，寒。生南海鏞竹中，此竹極大，又名天竹，其內有黃，可以療病，今諸竹內往之，亦可代用。</p>
<p>吳僧贊寧筍譜云：鏞竹筍出廣州，此本竹絕大，內空容得三升許米，交廣以來，人將此作升蓼，言天蓼如云雀說竹黃是南海邊，竹內塵沙加於竹凝結沈存中夢溪補筆談云：嶺南山中有大竹，有水甚清澈，溪澗中水皆有毒，惟此水無毒，土人皆不可飲，唯剖竹乃知至冬則凝結，不復成水，多於火後采拾，以供藥品，不若生李中立曰：竹黃形塊大小散碎不同，體輕有黑白牙色之異，味甘，牙色者善，白者次，黑者下竹黃有從清來者恐是非真耳。又肆中采竹蓐，以假充非是，竹黃即竹內所生如黃土著竹</p>
<h4>箬葉</h4>
<p>甘，寒。其干高不過四五尺，而葉獨大於諸竹，今用以　粽者。</p>
<h2>卷第四</h2>
<h3>鱗之屬</h3>
<h4>龍骨</h4>
<p>甘，平，有小毒。其骨細文廣者是雌骨，粗文狹者是雄，五色全具上品，白中黃者次黑色者勿用。舐之晒乾，每斤用黑牛黃良，牛黃惡龍骨，而龍骨得牛黃更畏乾漆、蜀椒、理石。</p>
<p>圖經云：今河東州郡多有之，李肇國史補云，春水至時，魚登龍門，蛻骨甚多，人采為藥，臆度，曾有崖中崩出一見，死方可見。謂之化，則朱國禎涌幢短劇云：大禹治水至震澤，斬黑龍以祭天，本朝永樂間大獲龍骨，吳江史鑒為之骨而未識也。永一日徐問有龍角否，其人適有人來售，朱問其人去遠近？曰：未求采珍異，朱以買辦戶出入　所，欲以為奇貨也。遂偕其鍤往掘之，初入見有，狀如浮屠氏所謂金剛神者數輩，儼然如生，惟余骨爾，遂得龍骨、角、齒、牙凡數十，艦獻於朝竊取者不與焉。時方貴龍其猶時時得龍治水，至震澤斬黑龍見，不敢強為之說。</p>
<h4>紫稍花</h4>
<p>甘，溫。著木枝如蒲槌狀，其色灰白而輕松。</p>
<p>按陳自明婦人良方云：紫稍花生湖澤中，乃魚蝦生卵於竹木之上，狀如糖　，去木用之，錢俗名</p>
<h4>鯪鯉甲</h4>
<p>即穿山甲咸，微寒，有毒。肖鯉而有四足，黑色，能陸能水，凡用之，或酥炙、醋童便炙，或土炒、蛤粉炒，或燒，或油煎打碎用，未有生用者。仍以尾甲乃力勝。</p>
<h4>蛤蚧</h4>
<p>咸，平，有小毒。其毒在眼，用酒洗，去頭足鱗爪，以酥炙研用。只含少許奔走百步喘息者，乃為真也。</p>
<p>郭佩蘭曰：生廣南水中，夜居榕樹上，形如守宮，尾與身等，雌雄相隨，藥力在尾，而此物雄。雄為蛤，皮粗口大</p>
<h4>蛇蛻</h4>
<p>咸、甘，平，有毒。色白如銀者良，青黃蒼色者勿用，以皂莢水洗淨干，或酒、或醋、蜜浸炙黃用，或鹽泥固　存性用。畏磁石及酒，孕婦忌服。</p>
<h4>白花蛇</h4>
<p>咸、甘，溫，有毒。凡用花蛇，換酒浸，春秋三宿，夏一宿，冬五宿，取出，炭火如此三次，以砂瓶盛埋地中，一宿出火氣，去皮骨取肉用。</p>
<p>郭佩蘭曰：雖有黔上，惟取蘄州，其蛇龍頭虎口，黑質白花，脅有二十四方勝文。腹有念珠向上，諸蛇死目閉，惟去頭尾各三寸，取其中段，不過淨肉四頭尾可去一尺，酒浸一二宿，火炙去盡皮骨，盛砂骨須遠棄之，傷人毒與生者同也。</p>
<h4>烏稍蛇</h4>
<p>甘，平，有小毒。功同白花，但性善而不嚙物，色黑如漆，背有三棱如劍脊，眼有枯死不陷，尾細入藥最妙，此蛇彌減也，市中用他蛇熏黑亂</p>
<h4>青魚膽</h4>
<p>苦，寒。臘月收取，掛壁陰乾。</p>
<p>按圖經云：青魚生江湖間，似鯇而背正青色，南人多以作　，其頭中枕骨，蒸令氣通，曝乾也。</p>
<h4>海螵蛸</h4>
<p>即烏賊魚骨，咸，微溫。炙令黃，研細水飛，輕脆而白，惡白芨、白蘞、附子，能伏縮銀。</p>
<h3>介之屬</h3>
<h4>龜甲</h4>
<p>咸、甘，平。鋸去四邊，石上磨淨，灰火炮過，塗酥炙黃用，亦有酒炙、醋炙、豬脂燒灰用者。須研極細，否狗膽瘦銀，古者上下甲皆</p>
<h4>鱉甲</h4>
<p>咸平。七肋九肋，不經湯煮者佳。入藥以醋炙黃用。畏蔥及桑灰，惡礬石、理石。</p>
<h4>鱉</h4>
<p>俗名大烏龜者此也，今市肆間以海龜甲充之，誤矣！</p>
<h4>牡蠣</h4>
<p>咸、微寒。先以鹽水煮一伏時，再入火中　赤，研細水飛用。貝母為使，得甘草、牛遠志、蛇床子良，惡麻黃、辛夷、吳茱萸，伏　砂。</p>
<h4>真珠</h4>
<p>咸、甘，寒。以新完未經鑽綴者，絹包入豆腐中煮一炷香，搗碎研二萬余，如飛面方用，不細傷人臟腑。</p>
<h4>石決明</h4>
<p>咸，寒。鹽水煮，或以面裹煨熟，磨去粗皮，研一萬下，水飛，用七孔，九孔者良</p>
<h4>海蛤</h4>
<p>咸，平。火　研粉，水飛用，不入湯藥。蜀漆為使，畏狗膽、甘遂、芫花。</p>
<p>海蛤，海中諸蛤爛殼之總稱，不專指一蛤也，殼為風濤所洗，自然圓淨，小者如細麻，大者</p>
<h4>蛤蜊粉</h4>
<p>咸，寒。取紫口蛤蜊殼，炭火　成研粉，水飛用。</p>
<p>造海石法：紫口蛤蜊以炭火　成粉，候栝蔞熟時連子肉同粉搗爛作餅子，竹節盛懸風處，陰凝結成殼，得痰極有效，或以海浮石為海石</p>
<h3>羽之屬</h3>
<h4>白丁香</h4>
<p>即雄雀屎，苦，溫，微毒。頭尖挺直者是雄，兩頭圓者是雌，臘月采，去兩畔附著研細，以甘草水浸一日，去水，焙乾用。</p>
<p>白丁香，藥肆多雜以雀兒及他禽屎，用宜詳之。</p>
<h4>夜明砂</h4>
<p>即蝙蝠屎，辛，寒。以水淘去灰土、惡氣，取細沙晒乾，焙用。惡白蘞、白薇。</p>
<h4>五靈脂</h4>
<p>即寒號禽糞，甘，溫。色黑如鐵，氣甚臊惡，粒大如豆，有如糊者，有黏塊如糖者糖心潤澤者為真，多夾沙石，極難修治，去沙石研為細末，以酒飛過，晒乾用。惡人參人。</p>
<h3>毛之屬</h3>
<h4>豬脂</h4>
<p>甘，微寒。臘月煉淨收用，歷年不壞，反烏頭、梅子。</p>
<p>藥肆中或以野豬脂偽充，用之宜審。</p>
<h4>酥</h4>
<p>甘，寒。以牛乳入鍋煎二三沸，傾入盆內冷定，待面結皮，取皮再煎，油出去渣，入在鍋內即成矣。</p>
<h4>阿膠</h4>
<p>甘、咸，微溫。或炒成珠，或以面炒，或以酥炒，或以蛤粉炒，或以糯米粉炒，或酒阿膠貨者多偽，最難得真，明徹質脆，擊之易碎者為真。假者，質軟難敲，枯黯似墨。</p>
<p>李瀕湖曰：阿膠，東阿有井大如輪，深六七丈，歲常煮膠，以貢天府，其井乃濟水所注，濟多是牛皮，後世乃貴當以黃透如琥珀色，或光黑如　漆者</p>
<h4>黃明膠</h4>
<p>甘，平。</p>
<p>李瀕湖曰：黃明膠乃牛皮所作，其色黃明，但非阿井水所作耳。其功用亦與阿膠仿佛。</p>
<p>苟阿</p>
<h4>牛黃</h4>
<p>苦、甘，涼。外有膜包如蒜頭，中如雞子黃，重疊可揭折，輕虛氣香，色赤黃有光，指甲上黃色透甲，置龍膽、地黃、常山、雷　曰：此有四種，喝迫而得者名生黃，殺死在角中得者名角中黃，牛病死後心中剝得者名膽中得者名肝黃圖經云：凡牛有黃者，身上夜有光，眼如血色，時復鳴吼，恐懼人，又好照水，人以盆水承虛而氣香者佳，然寇宗　曰：牛黃輕松自然，微香。西戎有　牛黃，堅而不香，又有駱駝黃極易得，亦能相亂</p>
<h4>虎骨</h4>
<p>辛，溫。用頭及脛骨色黃者佳，凡虎身數物俱用，雄虎者勝藥。箭射死者，骨青不可藥，其毒浸漬骨血間，能傷人也。捶碎去髓，塗酥，或酒、或醋，各隨方法，炭火炙黃入藥畏蜀漆、蜀椒、磁石。</p>
<h4>犀角</h4>
<p>酸、咸、苦，寒。入藥用黑尖，生者為佳，若現成器物被蒸者不堪用。鋸成小塊，以紙裹於懷中一宿，乘燥搗之，應手如粉。松脂、升麻為使，惡烏頭、烏喙、雷丸、　菌，鹽、醬。</p>
<p>李瀕湖曰：犀角紋如魚子形，謂之粟紋，紋中有眼，謂之粟眼，黑中有黃花者為正，透黃中犀純黑無花者為下</p>
<h4>熊膽</h4>
<p>苦，寒。市中多偽，通明者佳，但取一粟許滴水中若線不散，運轉如飛者真，余膽亦但緩耳。惡防己、地黃。</p>
<p>周密齊東野語云：熊膽善辟塵，試之以淨水，一器塵幕其上，投膽米許，則凝塵豁然而開也</p>
<h4>羚羊角</h4>
<p>咸，寒。角細如人指，長四五寸，多節，蹙蹙圓繞，銼細，避風，搗篩，更研，萬飛塵，免刮人腸。菟絲子為使，能縮銀。</p>
<p>陳藏器曰、山羊、山驢、羚羊三種相似，而羚羊有神，夜宿防患，以角掛樹不著地，但角彎李瀕湖曰：羚羊似羊而青色，毛粗，兩角短小，　羊似吳羊，兩角長大，山驢驢之身而羚之</p>
<h4>鹿茸</h4>
<p>甘、咸。溫。先用酥塗勻，於烈火中灼之，候毛盡，微炙候黃褐色，研細入藥，不可缺酥，又有用酒炙及酒蒸焙用者，當各從本方，中有小白蟲不可鼻嗅。</p>
<p>寇宗　曰：茸最難得，不破及不出卻血者，蓋其力盡在血中故也，此以如紫茄者為上，名茄分岐馬鞍，茸端如存中筆談云：月令冬至麋角解，夏至鹿</p>
<h4>鹿角</h4>
<p>咸，溫。以角寸截，泥裹於器中，大火燒一日，如玉粉研用。杜仲為使。</p>
<h4>白膠</h4>
<p>即鹿角膠。甘，溫平，得火良，畏大黃。</p>
<p>作鹿角霜、鹿角膠法：全角細破寸截，以米泔浸七日，令軟，又急流水中浸七日，刮去粗皮酒熬成膠，或只以濃汁</p>
<h4>麋茸</h4>
<p>甘，溫。修治與鹿茸同。</p>
<h4>麋角</h4>
<p>甘，熱。</p>
<p>造麋角霜，麋角膠法：並與鹿角霜、鹿角膠同。</p>
<h4>麝香</h4>
<p>辛、苦，溫。研用，惡大蒜，不可近鼻，防白蟲入腦。</p>
<p>李中立曰：真麝香，開之即，遠聞久放且不生白朴，市者有以真香些須，雜以荔枝末，或炒</p>
<h4>明月沙</h4>
<p>即兔屎，臘月收之。</p>
<h4>膃肭臍</h4>
<p>即海狗腎，咸，大溫。毛色似狐，足形似狗，尾形似魚，腎上兩重薄皮裹，其丸核有黃毛，一穴三合藥，以漢椒、李瀕湖曰：入藥用外腎，而曰臍者連臍取之也。</p>
<h3>蟲之屬</h3>
<h4>蜂蜜</h4>
<p>甘，溫平。凡煉蜜，銀石器盛，置重湯中以炭火煮一日，至滴水不散為度。生者有毒酸者勿食，同蔥食試蜜以燒紅火箸肆中有交趾蜜：太泥蜜及白蜜、黑蜜，蜂蜜數品皆從外國致來者，無測真假，今出蜜州郡，土，惟要無添雜者入</p>
<h4>黃白蠟</h4>
<p>淡、微溫。乃蜜脾底也，取蜜後煉過，濾入水中，候凝取之。色黃者為黃蠟，煎</p>
<h4>露蜂房</h4>
<p>咸、甘，溫，有毒。露天樹上者為最，炙末用。惡乾薑、丹參、黃芩、芍藥、牡蠣</p>
<h4>蟲白蠟</h4>
<p>甘，溫。堅而不軟者佳，碎之文理如白石膏而瑩徹，乃為真也。</p>
<p>蟲白蠟，醫方中通名白蠟，與蜜蠟之白者不同，乃小蟲所作也，市人謂之唐蠟，多雜以漆取為蠟，故不為</p>
<h4>五倍子</h4>
<p>苦、酸、澀，生於鹽膚木上，圓長不等，綴於葉間，其殼堅脆中空，有細蟲如蠛蠓蒸去蟲用。</p>
<h4>百藥煎</h4>
<p>澀，甘。</p>
<p>造百藥煎法：用五倍子為粗末，每一斤用真茶一兩，煎濃汁，入酵糟四兩，擂爛拌和，器盛置糠缸中　之，酒曲半斤，細荼一作餅晒乾用。又方，六月五倍子封固，過七日取開，晒乾用。</p>
<h4>桑螵蛸</h4>
<p>咸，平。凡使勿用雜樹上生者，取桑上者蒸過，火炙用，不爾令人泄。畏旋覆花。</p>
<h4>白僵蠶</h4>
<p>咸、辛，溫，有小毒。不拘早晚但用白色而條直食桑葉者佳。米泔浸一日，待涎浮然後洒出，焙去絲及黑口。惡桑螵蛸、桔梗、茯苓、萆　。</p>
<h4>原蠶蛾</h4>
<p>咸，溫，有小毒。第二番蠶也，雄者入藥，炒去頭足翅用。</p>
<p>即全蠍。甘、辛，平，有毒。去足並土，炒用。全用者為全蠍，單用尾謂蠍稍，其力尤微暖即易，在身以水浸布古今錄驗云：被蠍螫者，但以木碗合之，神驗。</p>
<h4>蟬蛻</h4>
<p>咸、甘，寒，凡使沸湯洗去泥土翅足，漿水煮過，晒乾用。</p>
<h4>蟾蜍</h4>
<p>辛，涼，微毒。去皮腸爪，酒浸一宿，酥炙，干用。目赤、腹下無丹書八字者，不可</p>
<h4>蟾酥</h4>
<p>即蟾蜍眉間之白汁也。甘、辛，溫，以蒜及胡椒等辣物納其口中，則蟾身白出，以竹篦刮下，干用。真者輕浮，入口味甜，不可入目中，令人赤盲，或以紫草汁洗點即消。</p>
<h4>蜈蚣</h4>
<p>辛，溫，有毒。以火炙去頭、足、尾、甲用，或去尾足，以薄荷葉火煨用之，或酒炙亦蜘</p>
<h4>蝸牛</h4>
<p>咸，寒，有小毒。生池澤草樹間，形似小螺，白色，頭有四黑角。以形圓而大者為勝小者不堪用。</p>
<h3>金石之屬</h3>
<h4>金簿</h4>
<p>辛，平，有毒。中其毒者，惟　鴣肉可解，惡鉛，畏水銀。</p>
<p>方中金簿，今世之人不識其為何等大，惟依據幾片、幾枚之數用之。非親視唐簿，何以有所簿一錢重也，據此造方寸金一千片。</p>
<h4>自然銅</h4>
<p>辛、苦。澀於銅坑中及石間采之，方圓不定，其色青黃如銅，不從　煉，故號自火醋淬九次，研末，水飛用。</p>
<h4>銅青</h4>
<p>辛、酸、澀，微毒。取銅器上綠色者淘洗用之，近時人以醋製銅生綠，取收，晒乾。</p>
<h4>黑錫</h4>
<p>即鉛。</p>
<p>甘，寒，小毒。凡用以鐵銚溶化，瀉瓦上濾去渣腳，如此數次，收用。其黑錫灰溶出之物也，白錫灰不入藥。</p>
<h4>粉錫</h4>
<p>甘、辛，寒，此即化鉛所作胡粉也，通名官粉。</p>
<p>造胡粉法，每鉛百斤，熔化削成薄片，卷作筒，安木甑內，甑下甑中各安醋一瓶，外以鹽泥為度。不盡者留炒作黃丹灰按成溝，紙隔數層，置粉於上，將干截成方中所用胡粉皆此物也，今人以蛤灰飛過名之胡粉，用者宜審。</p>
<h4>黃丹</h4>
<p>辛、咸，寒。以水飛過，澄干，微火炒紫色，安地上去火毒入藥用。伏砒，制　砂。</p>
<p>炒鉛丹法、用鉛一斤，硫黃十兩，硝石一兩，熔鉛成汁，下醋點之，滾沸時下硫一塊，少頃下硝少許，沸定，再連須、蔥白汁拌丹，慢煎入藥光明丹佳，市中有土黃色者是炒丹不成者，勿用。</p>
<h4>密陀僧</h4>
<p>辛、咸，平，有小毒。搗細，火煮一伏時，水飛用。制野狼毒。</p>
<p>李瀕湖曰：密陀僧，原取銀冶者，今既難得，乃取煎銷，銀鋪爐底用之。造黃丹者以腳滓煉</p>
<h4>水銀</h4>
<p>辛，寒，有大毒。以葫蘆貯之，即不走漏，若撒失在地，但以川椒末或茶末收之，或真金及鑽石引之即上。畏磁石、砒霜。</p>
<p>雷　曰：凡使，勿用草汞並舊朱漆中者，經別藥制過者，在尸中過者，半生半死者。其朱砂取砂汞法：用瓷瓶盛朱砂不拘多少，以紙封口，香湯煮一伏時，取入水火鼎內，炭塞口，鐵取出取草汞法：用細葉馬齒莧干之，十斤得水銀八兩或十兩，先以槐木槌之，向日東作架，晒之矣。</p>
<p>按廣西通志云：泗州出水銀，取之之法，以人其用，人從外境市之，或逃走僮仆，或奸商縛人癢不可忍，號呼徹水銀矣。安南近憑祥州地，亦有水銀夷約並僱工人賣之，價成無論，數十人俱縛去此，水銀草取出也，於取之之法，則其慘有不忍聞者，然考證不詳，名物</p>
<h4>輕粉</h4>
<p>辛，冷，有大毒。畏磁石、石黃，忌一切血，黃連、土茯苓、陳醬、黑鉛、鐵漿可制毒。</p>
<p>升煉輕粉法：用水銀一兩，白礬二兩，食鹽一兩同研不見星，鋪於鐵器內，以小烏盆覆之，鹽</p>
<h4>銀朱</h4>
<p>辛，溫，有毒。多以黃丹及礬紅雜之，其色黃黯宜辨之。真者謂之水華朱，即光明朱升煉銀朱法：用石亭脂二斤，新鍋內熔化，次下水銀一斤，炒作青砂頭，炒不見星，研末罐丹砂，今人多以黃丹及一十四兩八分，次朱三附造朱錠法：用光明朱細研，水飛澄清，　去水，用秦皮、梔子、皂角各一分，巴豆一粒去用雌黃為之，雌黃色如附：作印色法，真麻油半兩許，入蓖麻子十數粒，捶碎同煎，令黃黑色，去蓖麻將油拌熟艾不沾塞，印文而不生白醭</p>
<h4>爐甘石</h4>
<p>甘，溫。其塊大小不一，狀類滑石、松赤石脂，亦黏舌，色白者為上，凡用以炭火童子小便淬七次，水洗淨，研粉水飛過，晒用。</p>
<p>物理小識云：倭鉛非礦鉛也，乃爐甘石泥罐火燒而成者，與銅收伏入火，即成煙飛去。</p>
<h4>琥珀</h4>
<p>甘，平。用水調側柏子末，安瓷鍋中，同珀煮之，搗粉篩用。</p>
<p>按謝在枕曰：昔人謂松脂墮地，千年為琥珀。又云是楓木之精液，多年所化，恐皆未必，然所生一種珍寶，寒之地，而南方無冰卻有水如千年雄黃化黃金，磁石二百年孕而士皆可以一笑而揮之，政不必深與辨也。琥可取，亦出薩摩州，即今人誤名薰陸者。</p>
<h4>雲母</h4>
<p>甘，平，有小毒。入藥用輕薄色白、層層通透者為上雲母一斤，鹽一斗，漬之銅器中蒸一日，臼中搗成高處，風吹自然成粉。</p>
<h4>紫石英</h4>
<p>甘，溫。色紫質瑩徹，隨其大小長短，皆有五棱，兩頭如箭鏃，比白者更勝，火七次，研末，水飛句薑。服食紫石英五色石英，皆石之似玉而有光瑩者，諸山多有之，俗以白色若水精者，名水精石。</p>
<h4>朱砂</h4>
<p>甘，微寒。形如箭鏃透明者佳，研末極細，水飛用忌火，畏磁石、咸水。</p>
<p>辰砂今市人往往和銀朱以飾其色，入藥須先以水漂去銀朱，然後細研，水飛用。寇宗曰今有水銀燒成丹砂，醫人不曉，往往誤用，不可不謹。</p>
<h4>雄黃</h4>
<p>辛、苦，溫，有毒。形塊如丹砂，明徹不夾石，其色如雞冠者真，有青黑色而堅者名黃，有形色似真而不可不辨，搗如</p>
<h4>石膏</h4>
<p>甘、辛，大寒。有紅白二色，紅者不可服，白者潔淨，細文短密如束針，正如凝成白狀，松軟易碎，燒之脾胃。雞子為使，惡</p>
<h4>滑石</h4>
<p>甘、淡，大寒。白如凝脂，極軟滑，宜入藥甜淨，研粉水飛，晒乾用。石葦為使，惡青、制雄黃。</p>
<h4>赤石脂</h4>
<p>甘、酸、辛，溫。以理膩黏舌綴唇者為上，研細，水飛過三度，晒乾用，亦有火飛者。畏芫花、黃芩，官桂，惡大黃、松脂。</p>
<h4>無名異</h4>
<p>甘，平，咸，寒。黑褐色，大者如彈丸，小者如黑石子。研細，水飛用。伏硫黃。</p>
<h4>石鐘乳</h4>
<p>甘，溫，有毒。鮮明薄而有光潤，似鵝翎筒子者為上。置銀器中，水煮三日夜，色白，換水再煮，其畏紫石英、蓑草范成大桂海志云：鐘乳，桂林接宣融山中洞穴至多，勝連州遠甚，余游洞親訪之，仰視石脈長如冰柱，柱端輕取之，煉治家又以鵝管之端尤輕明</p>
<h4>浮石</h4>
<p>咸，平，大寒。</p>
<h4>鍛石</h4>
<p>辛，溫，有毒。有風化、水化二種。風化者，取鍛了石置風中自解，此為有力。水化以水沃之，熱蒸而解，其力差劣，入藥惟用，風化不夾石者良。</p>
<p>鍛石燒青石為之，今出近江州者為真，入藥可用之，攝津州來者皆是蛤灰也，俗通名石灰，</p>
<h4>代赭石</h4>
<p>苦，寒。以赤、紅、青色如雞冠有澤，染爪甲不渝者為良。　赤以醋淬三次或七次細，水飛過用。乾薑為使，畏天雄、附子。</p>
<h4>青礞石</h4>
<p>甘、咸，平。有青白二種，以青者為佳，堅細而青黑，打開中有白星點，　後則星麩金。其無星點斤簇定，　至硝</p>
<h4>花蕊石</h4>
<p>酸、澀，平。體至堅重，色如硫黃，形塊有極大者，人鐫為器用。黃石中間有淡白以此得花之名，以罐固濟，火　過，出火毒，研細，水飛，晒乾用。</p>
<h4>膽礬</h4>
<p>酸、辛，寒，有毒。其狀如翠，琉璃而有白文，易破折者真，研極細末用。水英為使畏白薇、芫花、菌桂、牡桂、辛夷。</p>
<p>圖經云：石膽最上，出蒲州，大者如拳，小者如桃栗，擊之縱橫解，皆成疊文，色青，見風久草云：偽者以醋揉青礬為惡石膽合硝石銷溜而成之，塊大色淺渾渾無脈理，擊之則碎，無廉棱者是也。又氣扶石者</p>
<h4>食鹽</h4>
<p>咸、微辛，寒。須以水化，澄去腳滓，煎煉白色，入藥乃良。漏蘆為使。</p>
<h4>青鹽</h4>
<p>甘、咸，寒。其形作塊，方圓大小不常，方棱明瑩青色者佳。</p>
<h4>芒硝</h4>
<p>咸、辛，大寒。朴硝生於斥鹵之地，彼人刮掃煎汁，經宿結成，狀如末鹽，猶有沙土雜，須再煎煉入藥。</p>
<p>滓腳，用蘿卜一斤切淨，放瓦盆內，星月下露一夜，鋒，謂之芒硝；底少而上面生牙，如圭角，作如白石英，又名英硝。二硝之底則通名朴硝。取芒硝、英硝，再甜硝。以二硝置之風日中，吹去水氣，則輕白如粉，即為風化硝。以芒硝：英硝同鼎罐升　，則為玄明粉。石葦為使，惡麥句薑，畏三棱。</p>
<p>制玄明粉法：用白淨朴硝十斤，清水一桶，煎化去滓，星月下露一夜，去水取硝，每一斤用再露一夜，取出以大沙文至武　之，待沸定，以瓦一片蓋口，仍隔紙安地上，盆覆三日，出火毒，研末，每一斤入生甘草收用。</p>
<h4>硼砂</h4>
<p>甘，涼，微咸。有二種，西戎者，白如明礬；南番者，黃如桃膠，制汞。</p>
<p>寇宗　曰：南番者，色重褐，其味和，入藥其效速。西戎者，其色白，其味焦，入藥其效緩</p>
<h4>硫黃</h4>
<p>酸、咸，大熱，有毒。以蘿卜剜空入硫合定，糠火煨熟，以紫背浮萍同煮過，皂莢湯去黑漿。曾青為使，草湯可解，市家有鷹</p>
<h4>白礬</h4>
<p>酸，寒。明亮者佳，　干汁者謂之枯礬，不　者為生礬。甘草為使，惡牡蠣，畏麻黃</p>
<h4>綠礬</h4>
<p>酸，涼。深青瑩淨者即為青礬，　過變赤則為絳礬。</p>
<h3>水之屬</h3>
<h4>地漿</h4>
<p>甘，寒。即掘黃土地作坎，深三尺，汲新水攪濁，取清用之是也。</p>
<h4>漿水</h4>
<p>即酸漿也。</p>
<p>甘、酸，微溫。炊粟米熱投冷水中，浸五六日，生白花者是也，若浸至敗者同季食，妊婦戒之。</p>
<h3>火之屬</h3>
<h4>艾火</h4>
<p>宜用陽燧火珠承日，取太陽真火。其次則鑽槐取火為良。若急卒難備，即用真麻油燈可，其余不可用也。</p>
<h4>雷火神針</h4>
<p>用熟艾末二兩、乳香、沒藥、穿山甲、硫黃、雄黃、草烏頭、川烏頭、桃樹皮末麝香五分，為末地中七七日取出忌冷水。一方用豬牙皂角、威本、天麻、蒼朮、獨活、良薑、官桂、雄黃、乳艾薄鋪綿紙上，少以藥末摻艾上，卷作條子如箸大，長五寸，遇痛針</p>
<h3>土之屬</h3>
<h4>伏龍肝</h4>
<p>辛，熱。即灶中對釜月下黃土也，取經十年以來，灶額內火氣積久，掘深一尺，色如紫瓷者，研細，水飛用。</p>
<h4>百草霜</h4>
<p>辛，溫平。此乃灶額黑煙也，其質輕細，故謂之霜。</p>
<h4>墨</h4>
<p>辛，溫。惟須以松煙、　皮汁為之，方可入藥，以油煙及桐油煙、石油煙造之者，其光雖黑有害，皆不可用也。年遠煙細者為佳，粗者勿用。</p>
<p>元交曰：凡血症泛溢妄行，須燒松熏煙所作之墨，世所貨賣為中下之品者皆是。若油煙則</p>
<h2>附錄</h2>
<h3>發</h3>
<p>用少壯無病男女梳下亂髮，溫水肥皂洗油垢極淨，又用清水洗淨肥皂氣，晒乾，入罐，冷研用。</p>
<h3>童便</h3>
<p>童男者良，取便白如雪者用。</p>
<p>番藥有密伊芳辣，從西洋來，消瘀血治折傷之外，殊少他用，彼中有力者，死皆殮以石函，仍滿用諸香水液尸以為藥，謂之蒙以白疊布，木匱三重藏之甚謹非香液養尸之力耶！剔其肉摩之掌中，潤軟木乃伊芳，蓋此物也。陶言愿舍身濟世，澡身啖蜜，與今之所說深究其實也，又有出偽造者，每歲番賈將來，皆以人肉及馬牛肉熬焦，和以唐陳藏器本草所收質汗即此類也。其說曰質汗，出西番煎檉、乳松淚、甘草、地黃並熱血成小兒斷一足，以否可乎？甚哉不仁也！二物功用俱相似，辣可以拯危卻死，往往服餌或用之，虛羸之　皆為魂延年之用，豈以人啖人哉，本經所列人身惟　發一種而已血咸稱為藥，違道滅理莫此為甚，今取人身中曾經醫方采用無害於其可缺者如此。</p>
