<header><h1>瑞竹堂經驗方</h1></header>
<dl class="元資料" data-type="book">
<div><dt>作者</dt><dd>沙圖穆秀克</dd></div>
<div><dt>朝代</dt><dd>元</dd></div>
<div><dt>年份</dt><dd><data value="1279/1368">公元1279年至公元1368年</data></dd></div>
<div><dt>底本</dt><dd>《欽定四庫全書·子部五·醫家類·瑞竹堂經驗方》（<a href="https://www.kanripo.org/text/KR3e0058/">掃描及文字化本</a>）</dd></div>
</dl>
<h2>原序</h2>
<p>曩予誦范文正公良相良醫之言，未嘗不斂衽嘉嘆，何則？良相輔弼元首，治天下，興利除害，選賢任能，使人樂其業，而吾仁之見諸事者，足以澤被四方。良醫導和人身，療百病，脫起痼，斡元氣而開壽域，使人安其生，而吾仁之蘊諸心者，亦足以波及萬姓，蓋出處之轍雖異，而吾仁之用則同。君子不可斯須而忘吾仁，則吾仁之在天下，亦不可勝用矣！謙齋先生沙公，志文正之所志，學文正之所學，輕車埋輪，繡文直指，所至摧奸貪之膽，拯生民之命，由柏垣而登薇府，一以是心，民以是濃，今為建昌守也，殆將小試龔黃事，為異日姚宋張本，良相之效，豈不著哉！然公猶以為未盡，乃退而考訂名醫方書，常經驗者，分門別類，為一十五卷，鋟梓郡庠，因目其書曰瑞竹堂經驗方，以惠斯世。噫！如公之仁，可謂至矣！予故序諸篇端，欲人人之誦此書者，不惟知公之心良於醫，又當知公之志良於相，二者皆自公仁心一點中出。</p>
<p><u>王都中序。</u></p>
<h2>又序</h2>
<p>人有恆言，看方三年，無病可治，治病三年，無藥可療，斯言何謂也？謂病之有方不難，而方之有驗為難也。　江群侯歷仕風憲民社，愛人一念隨寓而見，有仁心，有仁聞，人之被其惠澤者，奚　百千萬，而蒞官余暇，猶注意於醫藥方書之事，每思究病之所由起，審藥之所宜用，或王公貴人之家，或隱逸高人之手，所授異方，率和劑、三因、易簡等書之所未載，遇有得必謹藏之，遇有疾必謹試之，屢試屢驗，積久彌富。守　之日，進一二醫流相與訂正，題曰瑞竹堂經驗方。爰鋟諸木，以博其施，一皆愛人之仁所寓也。既仁之以善政，復仁之以善藥，孰有能如侯之仁者哉！噫世之醫方甚繁，用之輒效者益鮮，今之所輯悉已經驗，則非其他方書所可同也。侯名薩德彌實，瑞竹堂者，往時侯插竹為樊，竹再生根，遂生枝葉，人以為瑞，而侯以扁其堂云。</p>
<p><u>臨川吳澄幼清撰</u></p>
<h2>提要</h2>
<p>（臣）等謹案。瑞竹堂經驗方五卷，元沙圖穆蘇（原作薩理彌實今改正）撰。沙圖穆蘇元史無傳，其事跡不可考，以吳澄王都中二序核之，則其字為謙齋，嘗以御史出為建昌太守，是書即其在郡時所撰集也。原書本十五卷，楊士奇等文淵閣書目，載有一部一冊，而晁KT寶文堂書目內，亦列其名，則是明中葉以前，原帙尚存，其後遂鮮傳本。今據永樂大典所載，搜采編輯，計亡闕已十之五六，而所存者尚多，謹依方詮次，分立二十四門，厘為五卷，中間如調補一門，不輕用金石之藥，其處方最為醇正。又女科之八珍散，即四君子湯、四物湯之並方，其用尤廣，明薛己醫案，已詳著之，至瘡科所載返魂丹，與今世瘍醫所用梅花點舌丹、奪命丹相類，內托千金散以治癰毒，亦見殊功，是皆可資利濟之用。惟幼科之褐丸子，與蘇沈良方中所列褐丸，名目相類，治療亦同，特彼則攻補兼行，頗為周密，此乃過於峻利。</p>
<p>蓋金元方劑，往往如斯，由北人氣稟壯實，與南人異治故也。此在於隨宜消息，不可以成法拘矣。</p>
<p><u>乾隆五十年二月恭校上。</u></p>
<h2>一、諸風門</h2>
<h3>勻氣散</h3>
<p>此方前代曾服有效風藥，服之十三日安。可治腰腿疼，半身不遂，手足不能屈伸，口眼斜服之白朮（四兩，煨）　沉香（五錢，鎊）　天麻（一兩）　天台烏藥（三兩）　青皮（五錢，去穰）</p>
<p>白芷　甘草（各五錢）　人參（去蘆，五錢）</p>
<p>上為　咀，每服三錢，水一盞半，生薑三片，紫蘇五葉，木瓜三片，棗子一枚，煎至七分，</p>
<h3>麝香散</h3>
<p>治卒風啞中，忽然倒地，不省人事，左癱右瘓，口眼　斜，諸藥未服者，服此藥。</p>
<p>真麝香（二錢或三錢，研細）　真香油（二，三兩）</p>
<p>上若遇此證，急將麝香研細，調入清油內攪勻，將患人口斡開灌下，其人自蘇，不惟只治中藥可</p>
<h3>腦麝祛風丸</h3>
<p>治左癱右瘓，游平章服此藥得愈，最有效驗。</p>
<p>白花蛇頭（一個帶項二寸，酒浸炙）　烏梢蛇尾（兩個，長七寸，酒浸炙）　川烏頭（三個，去防風（去麝（各一上為細末，薑汁糊為丸，如桐子大，朱砂為衣，每服五十丸，煎小續命湯送下，不拘時候服</p>
<h3>聖靈丹</h3>
<p>治男子婦人，風濕相搏，氣痹，傳於手足，麻腫疼痛，久則偏枯，及香港腳不能行履，大治癱過兩川烏（生，去皮臍，切片）　草烏（去皮尖，切片，鹽炒香熟去鹽。以上各半兩）　麻黃（微炒，木香（二瓜子（炒黃上為細末，煉白砂蜜，冷定和搜成劑，每一兩重分為一十二丸，每服二丸，隔夜生薑自然汁</p>
<h3>七烏丸</h3>
<p>治癱瘓、風濕、寒痹腳疾證。（張君寶服驗）</p>
<p>草烏（去皮臍，生用，切作大塊）　何首烏（作大片，忌鐵器）　烏藥（細切）　川烏（以上各二作半寸）</p>
<p>上用無灰酒二升，米醋二升，同上項藥一處，裝於瓷瓶內，浸二宿，用文武火煮，約存一升，藥汁取出，焙乾為細末，仍用藥汁打糊為丸，如梧桐子大，或藥汁少，益以酒醋，空心鹽湯下五七十丸，香港腳木瓜湯下，干物壓之，與活絡丹相間服。</p>
<h3>活絡丹</h3>
<p>治男子婦人癱瘓，筋攣骨痛，腰膝疼痛，口眼　斜，語言謇澀，目晦、耳聾、頭風等證。</p>
<p>近萆　（二兩）　金毛狗脊（四兩，切作片，去毛）　川烏（五錢，去皮臍，切小塊）　蒼朮（五錢靈脾（切）</p>
<p>吳茱萸（炒）　續斷（各五錢。切）　小茴香（炒）　獨活（各一兩。切）　豬牙皂角（去皮弦，三兩，切作一寸）　薏苡仁（三兩）</p>
<p>上通作一處，用好酒三升，於瓷瓶內浸一宿，次日以文武火煮至約酒汁一升，控出，焙乾，與七</p>
<h3>甜瓜子丸</h3>
<p>治風濕相搏，腰腳疼痛，服之大效。</p>
<p>甜瓜子（三兩，淨，炒黃色）　干木瓜（一兩半，去皮穰）　威靈仙（一兩）　川烏頭（半兩，炮上為細末，酒煮面糊為丸，如梧桐子大，每服三十丸，溫酒送下，避風處少息，汗出為度，如病</p>
<h3>愈風丹</h3>
<p>治諸般風證，偏正頭風。</p>
<p>通聖散　四物湯　黃連解毒湯（各一兩，加後藥：）　羌活　細辛　甘菊　天麻　何首烏薄上為細末，煉蜜為丸，如彈子大，每服一丸，細嚼，不拘時候，茶酒任下。</p>
<h3>飛步丸</h3>
<p>治陰陽風濕香港腳，手臂舉動不起，無問遠近，並皆治之。</p>
<p>紫金皮（二斤，取頭末八兩，揀時嚼如腦子味透頂者方佳，又名滑藤根）　五加皮（二兩五錢木鱉上五味為細末，醋糊為丸，如似兩魚眼睛大，每三十至五十丸，空心用鹽木瓜少許，細嚼和</p>
<h3>復春丸</h3>
<p>治腰腳風濕、勞損，手足麻痹，筋骨疼痛不能屈伸，活血注顏補虛。</p>
<p>萆　（四兩）　破故紙（炒）　杜仲（炒去絲）　葫蘆巴（炒）　木通（各二兩）　骨碎補（去毛）</p>
<p>虎（去蘆，酒上件一十五味為細末，與胡桃一處，再研極細，酒糊為丸，如梧桐子大，每服四五十丸，食</p>
<h3>黑弩箭丸</h3>
<p>治風濕證。</p>
<p>兩頭尖　五靈脂（各一兩）　沒藥（另研）　當歸　乳香（以上各三錢。研）</p>
<p>上為細末，醋糊為丸，如梧桐子大，每服一十丸至五十丸，臨臥溫酒送下，忌油膩濕面，孕</p>
<h3>紫萍一粒丹</h3>
<p>治一切風疾，累經效驗。</p>
<p>天生靈草無根干，不在山間不在岸，始因飛絮逐東風，泛梗青青飄水面，神仙一味起沉　，采時須是七月半，選甚癱風與大風，鐵　頭上也出汗。</p>
<p>上采紫背浮萍草，攤於竹篩內，下著水，晒乾為細末，煉蜜為丸如彈子大，每服一丸，用豆</p>
<h3>馬丹</h3>
<p>治男子婦人中風，口眼　斜，痰涎壅盛，語言謇澀，手足不仁，筋脈拘攣，肢體不舉，或寒損傷真川烏（二兩，炮）　川芎（七錢）　真蘇木　地龍（各半兩。去土）　草烏頭（炮）　續斷（酒浸）</p>
<p>鱉子（去殼，板（各一兩上件碾為細末，用煮酒打陳米粉為丸，如桐子大，每服五十丸，食後，溫酒送下。</p>
<h3>草靈寶丹</h3>
<p>治一切風疾，及風濕走注疼痛，口眼　斜，手足頑麻，大有神效。藥味俱要揀淨，然後秤分川芎　枸杞子　當歸（去蘆，淨）　細辛（去苗葉土，淨）　白芍藥　荊芥（去根淨）　五加皮（靈仙（去土裂，去皮臍淨）</p>
<p>骨皮（去骨土麻黃（去根四兩，炒）</p>
<p>然銅（四兩（去土淨，烏頭（炮裂泥固濟，炭火　紅，取出用）　烏梢蛇（一條，酒浸取肉，四兩，炙）　風梢蛇（一條，酒浸取肉，四兩，炙）　白花蛇（二條，酒浸取肉，四兩，炙　藥末成，然後定蜜分兩）</p>
<p>上件為細末，煉蜜為丸，如大龍眼大，每服一丸，空心，臨臥細嚼，用無灰酒送下，芽茶清</p>
<h3>換骨丹</h3>
<p>治卒中風，口眼　斜，左癱右瘓，不能言，用此藥與搐藥不臥散，汗出其人必愈，有效。</p>
<p>麻黃（五斤，去苗根，不用節）　槐角子　桑白皮（去赤皮）　仙術　香白芷　川芎　威靈仙少許，研）</p>
<p>用生濃衣被蓋之，勿令透風，通身汗出是效也。</p>
<h3>搐藥不臥散</h3>
<p>藿香　石　花（黃者）　人參　藜蘆（去苗葉，取根）　芍藥　穀精草　苦丁香　石膏（研）</p>
<p>川上十一味停分，為細末，每用三字，口噙水，左右鼻內搐之，作涕為效，與前方換骨丹一對</p>
<h3>如神散</h3>
<p>治風濕手臂痛，左癱右瘓，風氣等證。</p>
<p>真皂角（去皮弦，八兩）　海亦兒（半兩，即合孩兒香茶者是）　北棗（四兩）</p>
<p>先將皂角熬成清汁，濾去滓，將棗兒並海亦兒用桑柴文武火熬干，取出棗兒，瓷器內收頓，四</p>
<h3>木瓜虎骨丸</h3>
<p>治風寒濕客於營衛合而成痹，使肢節疼痛，麻痹不仁，手臂無力，項背拘急，腳膝筋攣不能木瓜肉　麒麟竭（另研）　沒藥（另研）　自然銅（　，醋淬七次，研）　木香　虎脛骨（酒炙黃）</p>
<p>歸身（銼，二兩）</p>
<p>上件一十五味，除另研外，為細末，拌勻酒糊為丸，如梧桐子大，每服二十丸，溫酒送下</p>
<h3>麝香虎骨散</h3>
<p>治男子因氣虛血弱，風毒邪氣，乘虛攻注皮膚骨髓之間，與氣相搏，往來交擊，痛無常處，虎脛骨（酥炙，半兩）　敗龜板（半兩，炙）　麒麟竭（研）　赤芍藥　沒藥（研）　自然銅（醋炙芷（各一上件一十八味，如修制干，入麝香在內為末，每服一錢，用熱水少許調服，空心服之，比服</p>
<h3>乳香應痛散</h3>
<p>治手足麻痹，筋骨疼痛，補虛注顏。</p>
<p>蒼朮（半斤或四兩，制）　川烏（炮）　草烏（各一兩半。焙）　地龍（去土，半兩）　五靈脂（一汗）　茴香（香沒上為細末，醋糊為丸，如梧桐子大，每服五、七丸至十丸，空心溫酒送下，干物壓之，鹽湯</p>
<h3>薏苡仁湯</h3>
<p>治手足流注疼痛，麻痹不仁，難以屈伸。</p>
<p>薏苡仁（去皮，一兩）　當歸（去蘆，一兩）　芍藥　麻黃（去節）　桂（去粗皮。各一兩）　甘草上為　咀，每服五錢，水二盞，生薑五、七片，煎至七分，去滓，食前溫服，若病患汗出者</p>
<h3>遇仙如意丸</h3>
<p>治諸風疾病，及患惡瘡，婦人月事不見，產後胸中惡物，盡皆治之，大有效驗。</p>
<p>白茯苓（去皮）　陳皮（去白）　青皮（去穰。各一錢）　丁香　木香　人參（各二錢）</p>
<p>白朮（煨）</p>
<p>心）　廣術（炮八兩研，用頭上為細末，好醋糊為丸，如梧桐子大，每服一百二十丸，看老幼虛實加減丸數，臨臥溫水送地骨腑，</p>
<h3>甘露散</h3>
<p>服如意之後，便服此藥即補，能分陰陽，大有效驗。</p>
<p>白滑石（六兩，燒）　澤瀉　甘草（各一兩。去皮）　人參　茯苓　白朮　木豬苓（各半兩。</p>
<p>去上為細末，每服三錢，白湯調服。要分陰陽，蜜和丸，如彈子大，每用白湯化開，加稀面糊</p>
<h3>加味三生丸</h3>
<p>治風痰氣壅。</p>
<p>南星　半夏　天麻　白附子　人參（以上各一兩）</p>
<p>上皆生用，碾羅為極細末，生薑自然汁打糊為丸，如梧桐子大，每服三五十丸，食後、臨臥</p>
<h3>澡洗藥</h3>
<p>治一切風疾，燥癢，淋洗。</p>
<p>干荷葉（二斤）　本　零陵香　茅香　藿香　威靈仙（去土。以上各一斤）　甘松　香白芷（上為　咀，每用二兩，生絹袋盛，用水二桶，熬數十沸，放稍熱，於無風房內淋浴，避風，</p>
<h3>徐神翁神效地仙丹</h3>
<p>治筋骨疼痛，打撲損傷，仙術湯送下，除寒濕，進飲食。</p>
<p>川烏（一兩，去尖）　草烏（五個，去尖）　荊芥（去枝，半兩）　蒼朮（一兩，米泔浸一宿，炒）</p>
<p>種黃瓜上為細末，醋糊為丸，如梧桐子大，每服一十丸，食後，溫酒送下。</p>
<h3>白花蛇造酒方</h3>
<p>治大風。</p>
<p>每白花蛇一條，蒸米一斗，缸底先用酒曲，次將蛇用絹袋盛之，頓於面上，後蒸飯和勻，頓許</p>
<h3>仙酒方</h3>
<p>治諸風疾。前監察御史兼西京留守竇文炳染風疾，手足拘攣，半身不遂，累蒙恩醫不愈，訪人牛膝（洗淨，細切）　秦艽（去裂紋）　桔梗（去蘆）　防風（去蘆）　羌活（去蘆，細切）　晚蠶砂皮，細切）　火麻子（一斤上件為末，糯米酒二斗，於大瓷器內浸藥封口，第七日開封，勿令面近瓶口，恐藥氣出犯人寶上</p>
<h3>避風丹</h3>
<p>前大軍庫張提領，患白癜風，服之愈。</p>
<p>蒼朮（米泔浸一宿，焙）　何首烏　荊芥穗　苦參（以上各等分）</p>
<p>上件為細末，好肥皂角三斤，去皮弦，於瓷器內熬為膏，和為丸，如梧桐子大，每服三五十</p>
<h3>真方白丸子</h3>
<p>治風，可常服，永無風疾隔壅之患，呂九山總管家用秘方。</p>
<p>大半夏（湯泡七次）　白附子（洗淨，略炮）　天南星（洗淨，略炮）　天麻　川烏頭（去皮尖，上為細末，生薑自然汁打糊為丸，如梧桐子大，每服一二十丸，食後臨臥，茶清熟水送下，</p>
<h3>如神救苦散</h3>
<p>治左癱右瘓，風濕痹，走注疼痛，無問男子婦人，遠年近日，並皆治之。</p>
<p>御米殼（一兩，去頂，蜜炒）　陳皮（五錢，去白）　虎骨（酥炙）　乳香（研）　沒藥（研）　甘草上為細末，除乳香、沒藥另研外，每服三錢，水一盞半，煎至八分，連滓熱服，病在上食後</p>
<h3>龍虎丹</h3>
<p>治男子婦人，心神恍惚，陽明經大盛，時復驚懼失位，口發狂言，不避親疏，一切風病等證龍骨（研）　虎骨（酥炙）　人參　箭頭朱砂（研）　遠志（甘草水煮，去骨）　酸棗仁（炒去殼。</p>
<p>砂末，外用之氣上為細末，用無灰酒打面糊，冷定，和搜成劑，丸如梧桐子大，每服五七十丸，空心溫酒送不發</p>
<h3>治紫癜風</h3>
<p>用舶上硫黃，不以多少，用米醋化開，將茄蒂蘸硫黃醋，磨擦癜風處。</p>
<h3>治諸般癜風</h3>
<p>用豬牙皂角，不以多少，用炭上燒成灰，每服一錢，空心好酒調服。</p>
<h3>透骨膏</h3>
<p>治一切風濕走注疼痛。</p>
<p>生熟地黃　馬鞭草（各半斤）　吳茱萸　白面（各三斤）　骨碎補　敗薑屑（各四兩。</p>
<p>干生薑是上為細末，用米醋調似膏子，於火上溫熱，攤於痛處，用紙裹著，候藥冷再炒，如此七次，</p>
<h3>接骨丹</h3>
<p>逐濕氣，定疼痛腫疾，並皆治之。</p>
<p>骨碎補（去毛，一斤）　敗薑　生地黃（去土洗淨。各一斤）　蒲黃（半斤）　白面（二斤）</p>
<p>上為細末，一處拌勻，用隔年好米醋熬滾熱調藥，放溫於痛處，如藥冷，再用熱醋調敷，如</p>
<h3>四聖紫金丹</h3>
<p>治男子婦人，左癱右瘓，口眼　斜，中風疾病，依方修合，志心服餌，大病不過三服，初得槐實子（文武火麩炒黃色）　豬牙皂角（酥炒黃色，去子）　荊芥穗（揀淨，生用）　甘菊花（炒。</p>
<p>上為細末，煉蜜為丸，如彈子大，病重者每服一丸，細嚼茶清送下，病輕者臨時加減，微汗</p>
<h3>祛風導氣化痰丸</h3>
<p>治男子婦人，咳嗽氣積，嘔吐痰涎，頭目昏暈，半身不遂，中風偏痱，口眼　斜，他藥不療烏疊泥（即孩兒茶）　天南星（各三兩）　半夏（七兩）　天麻（一兩酒浸，焙）　白附子（二兩，上各取淨末，除南星、半夏生取末，以絹袋盛，安瓷器中，新水浸，日晒夜露三晝夜，每早香丸下，日進二服，藥只陰乾，不要晒乾及焙。</p>
<h3>治風濕香港腳</h3>
<p>好川烏（一兩，生用）　無名異（二兩，研）　石亭脂（一兩，生用，研）　上件為細末，用蔥白敷藥：草烏　白芷　防風　獨活　羌活上等分為細末，用生地龍數條研爛，酸米醋調敷。</p>
<h2>二、心氣痛門</h2>
<h3>治急心疼方</h3>
<p>斑蝥（七個，頭翅全）　胡椒（四十九粒）</p>
<p>上將二味同炒令斑蝥焦碎，吹去斑蝥不用，淨吹胡椒無斑蝥末，將胡椒碾為細末，只作一服</p>
<h3>沒藥玄胡散</h3>
<p>治男子婦人，急心氣腹痛。</p>
<p>玄胡索　海帶（各五錢）　沒藥（四錢）　良薑（三錢）</p>
<p>上為細末，每服三錢，溫酒調服，不拘時候。</p>
<h3>治急心氣疼</h3>
<p>海上方急救男子婦人心疼，禁了牙關欲死者，可急救之。</p>
<p>隔年老蔥白上將老蔥白三五根，去皮須葉，擂為膏，將病患口斡開，用銀銅匙將蔥膏送入咽喉中，用香黃水</p>
<h3>應痛丸</h3>
<p>治急心氣痛不可忍者。</p>
<p>好茶末（四兩）　揀乳香（二兩）</p>
<p>上為細末，用臘月兔血和丸如雞頭大，每服一丸，溫醋送下，不拘時候。</p>
<h3>蠶砂散</h3>
<p>治男子婦人心氣痛不可忍者。</p>
<p>晚蠶砂（不拘多少）</p>
<p>上為細末，用滾沸湯泡過，濾淨，取清水服之立止。</p>
<h2>三、小腸疝氣門</h2>
<h3>香蠍散</h3>
<p>治小腸疝氣，陰囊腫痛。</p>
<p>乳香（一錢）　蠍梢（二錢）　川烏頭（去皮，生用，三錢）</p>
<p>上為細末，每服一錢，水一盞，煎至七分，入鹽少許，空心連滓熱服，立見效。</p>
<h3>奪命丹</h3>
<p>治遠年日近小腸疝氣，偏墜搐痛，臍下脹痛，以致悶亂及外腎腫硬，日漸滋長，陰間濕癢，吳茱萸（一斤，去枝梗淨，四兩酒浸，四兩醋浸，四兩湯浸，四兩童子小便浸，各一宿，焙上為細末，酒糊為丸如梧桐子大，每服五十丸，空心，鹽酒或鹽湯下。</p>
<h3>玉蟾</h3>
<p><u>附煮　藥</u></p>
<p>三歲嬰孩性不調，休教二子放疏嬌，一張衲被　頭了，自有神仙路一條。</p>
<p>煮　藥：山茱萸　吳茱萸　蛇床子　牡蠣　川椒　蔥白（帶須）</p>
<p>上各等分為　咀，每用三錢，熬水熏洗。</p>
<h3>川楝茴香散</h3>
<p>治小腸疝氣疼痛。</p>
<p>木香　茴香（鹽炒香，不用鹽）　川楝子（切片，鹽炒，同鹽用）</p>
<p>上各等分，為細末，每服三錢，熱酒一盞，空心調服。</p>
<h3>神效丸</h3>
<p>治疝氣奔豚嬰兒秘訣：疝氣因何得，邪風在腎經，流傳並血聚，如此漸成形，冷氣積在臟，因茲小腹疼，本經無補芫花（半兩，醋浸，炒）　木香　檳榔　三棱（各半兩。炒）　茯苓　青皮　全蠍　附子（炮）</p>
<p>砂　桂（各二錢半）</p>
<p>上將　砂，用水浸瓷盞內，沉去泥土留湯，瓶頭頓成膏子，糠醋打糊為丸，如綠豆子，每服</p>
<h3>喝起丸</h3>
<p>治小腸氣及腰痛。</p>
<p>萆　杜仲（酥炒，去絲）　葫蘆巴（生芝麻炒）　破故紙（炒）　小茴香（以上各一兩。鹽水浸上將胡桃為末，同前五味藥末為丸，如梧桐子大，每服三五十丸，空心，鹽酒送下，或鹽</p>
<h3>飛黃丹</h3>
<p>治小腸疝氣疼痛。（彭文恕外郎傳得效海上方）</p>
<p>用帶毛雀兒去腸肚，將金絲礬細研，裝於雀兒肚內滿縫合，用桑柴火緩緩煨燒成灰，研為細驗。</p>
<h3>木香楝子散</h3>
<p>治小腸疝氣，膀胱偏墜，久患，藥不效者，服此藥其效如神。（燕同知秘傳）</p>
<p>川楝子（二十個為末，未碾前先同巴豆二十粒同楝子炒黃赤色，去巴豆不用）　萆　（半兩）</p>
<p>上為細末，每服二錢重，入麝香少許，空心，炒茴香鹽酒調下。</p>
<h3>通氣散</h3>
<p>治小腸疝氣，腰腹牽引疼痛及感風寒，或因勞動腰痛。並治婦人吹奶，心氣脾痛，瘡癤已潰穿山甲（銼碎，用蛤粉炒脹，去粉，二兩重）　白牽牛（一兩，炒）　玄胡索（去皮，一兩）　陳皮（去白淨，一兩，炒）　木香（一兩半，不見火）　舶上硫黃（二兩，炒）　厚朴（去皮，一兩）</p>
<p>甘草（一兩，炒）　黑牽牛（半兩，炒）</p>
<p>上為細末，每服二錢，空心，溫酒調下，病在上者食後。</p>
<h3>木賊散</h3>
<p>治小腸疝氣。</p>
<p>木賊（不拘多少，去節，先將鍋子燒熱，取離火炒）</p>
<p>上碾為細末，空心，熱酒調下。</p>
<h3>四聖散</h3>
<p>治小腸膀胱疝氣疼不可忍者。</p>
<p>川楝子（炒黃）　胡椒　茴香（炒）　全蠍（炒。以上各半兩）</p>
<p>上為細末，每服二錢，空心，熱酒調下。</p>
<h3>香砂丸</h3>
<p><u>烈平章服得效。</u></p>
<p>茴香（鹽炒香，去鹽不用）　新蠶砂（晒乾）</p>
<p>上等分為細末，煉蜜為丸，如彈子大，空心，細嚼，溫酒送下，甚者，日進二服。</p>
<h3>安息香丸</h3>
<p>治陰氣下墜，腫脹，卵核偏大，堅硬如石，痛不能忍者。</p>
<p>玄胡索（微炒，去殼）　海藻（洗）　昆布（洗）　青皮（去白）　茴香（炒）　川楝子（去核）</p>
<p>馬藺錢半）</p>
<p>上為細末，另將　砂，真阿魏、真安息香三味各二錢半，用酒一盞、醋一盞，將　砂、阿魏細，入前藥一同和丸，如綠豆大，每服一十丸至十五丸，空心，用綿子灰調酒送下</p>
<h3>治疝氣</h3>
<p><u>驗過如神。</u></p>
<p>川楝子（一兩）　八角茴香（一兩）　舶上茴香（五錢，其狀如葵花子真也，味如茴香）</p>
<p>吳茱萸（各二錢）</p>
<p>粉上水二鐘，生薑三片，蔥六莖，煎至八分，溫服，每服一兩，仍以草烘熱包裹子袋頻易，第</p>
<h2>四、積滯門</h2>
<h3>松煙餅子</h3>
<p>治積氣塊，消食快氣。</p>
<p>細墨（五分，燒研）　陳皮（五錢，去白）　牽牛（五錢，別碾，取頭末五錢）　神麯（炒）　三棱五錢）　大黃（宿，炒）</p>
<p>乾漆（炒去煙）　白丁香（研）　大戟（去蘆）　青礞石（研）　蓬莪朮（各一錢，煨）　巴豆（一兩去皮，濕紙裹燒黃色為度）</p>
<p>上為細末，水打面糊為丸，如皂角子大，捻為餅子，記以所傷，煎湯送下，或面湯亦可。</p>
<p>小或積塊　血痢塞，大人、小兒久痢，或休息痢，並男子、婦人年深不伏水土，及暑月變成惡痢，米物不消，五痞塊逆，鬲胃吐食，心胸悶閉，酒疸食黃，勞嗽上喘，嘔逆涎沫，心閉驚恐，口苦惡心，小便淋澀，大便不通，傷寒余毒，婦人胎前產後，敗血困生結成積塊，飲食平常，遍身疼痛，腰強腿硬，手足眩厥，九種心疼，十般積熱，九般水氣，霍亂吐瀉，久病瘦弱，但有此症，並皆治之。</p>
<h3>木香順氣丸</h3>
<p>消食快氣，美進飲食，予亦曾服。（史才用提舉傳此方。）</p>
<p>當歸（去蘆）　木香　獨活（去蘆）　牛膝（酒浸、三日，去蘆）　防風（各一兩。去蘆）　大黃（兩五錢。</p>
<p>湯去核，用上為細末，煉蜜為丸，如梧桐子大，每服三五十丸，食後溫湯送下。</p>
<h3>沉香降氣丸</h3>
<p>治胸膈痞滿，升降水火，調順陰陽，和中益氣，推陳致新，進美飲食。</p>
<p>沉香（鎊）　木香　蓽澄茄　枳殼（去穰）　縮砂仁　白豆蔻仁　青皮（去白）　陳皮（去白）</p>
<p>廣茯苓（去皮，一兩）　香附子（二兩，炒，去皮毛）　白朮（一兩，煨）　烏藥（一兩半）</p>
<p>上為細末，生薑自然汁浸，蒸餅為丸，如梧桐子大，每服五七十丸，臨睡煎橘皮湯送下，薑</p>
<h3>金露丸</h3>
<p>治腹內積聚症塊久患大如杯，及黃瘦，宿水，朝暮咳嗽年深，治下冷氣，時時腹痛，如蟲咬痔走沉無草烏頭（泡，二兩）　黃連（二兩）　桂心（不見火）　乾薑　桔梗　茯苓（去皮）　柴胡（去苗）</p>
<p>（米泔浸一宿）</p>
<p>（去心）　甘遂（焙乾，一兩，上為細末，面糊為丸，如梧桐子大，每服三丸、五丸、七丸，止胸中痰患，米湯送下；心疼脾白下鹽每夜五丸，服至七日，血塊如雞肝二百余片，水一升，以此見效。三原主簿陳勝妻病一十五年，羸瘦腹痛不可忍，服至旬日取下青蟲六七十條如箸頭及藥水四、五升，似此，效不一也。進此方時，後代鄭授之此方於杜相府，子弟用之無不治效。如小兒服，一丸分作四丸，量兒大小下。臨合藥時，將巴豆必要親自數三十沸，便須取出焙乾，煎過恐藥無力。服藥百無所忌，只定看驗病症，不定用湯，有瘥其效驗不速也。</p>
<h3>丁香爛飯丸</h3>
<p>治中脘胃痛，消食快氣。</p>
<p>丁香　京三棱（炮）　木香　廣術（各一錢。炮）　縮砂仁　益智仁　丁皮　甘松（去土，各三上為細末，蒸餅，水浸去皮為丸如梧桐子大，每服三、五十丸，白湯送下，細嚼亦可，不拘</p>
<h3>香棱丸</h3>
<p>消食快氣，寬中利膈，化痰。（小大哥副使常服）。</p>
<p>京三棱　廣術　青皮　陳皮（各銼碎，醋煮，焙乾）　蘿卜子（炒，別研）　縮砂仁　白豆蔻仁魏（半半兩）</p>
<p>上件為細末，以神麯、麥　末打糊，研入阿魏，搜和為丸，如梧桐子大，每服七、八十丸，薑湯下，不拘時候。</p>
<h3>七香丸</h3>
<p>治酒食過傷，停飲。消積、寬胸膈、快脾。</p>
<p>丁香　乳香（研）　木香　麝香（研）　安息香（研）　沉香（鎊）　藿香（各二錢半）</p>
<p>青橘皮（去穰豆蔻（面煨。各一油，別研入）</p>
<p>上用陳米四兩與皂角、墨、巴豆一處炒令焦黃，用重紙裹，候冷，同前藥研為細末，白面糊三、</p>
<h3>香棗丸</h3>
<p>治蠱氣病，蠱有十種。</p>
<p>苦丁香上為細末，用熟棗肉為丸，如梧桐子大，每服三十九丸，煎棗湯送下，空心，服之立效，三</p>
<h3>木香三棱散</h3>
<p>治腹中有蟲，面色萎黃，一切積滯。</p>
<p>黑三棱（半生半炒，多用）　大腹子（多用檳榔）　雷丸　錫灰（醋炒）　三棱（煨）　蓬朮（煨）</p>
<p>上為細末，每服三錢，空心，用蜜水調下，或沙糖水亦可，須先將燒肉一片，口中嚼之，休</p>
<h3>萬靈丸</h3>
<p>取蟲宣積。（浙東傳得效。）</p>
<p>黑牽牛（一斤，取頭末一十兩，生用）　大腹子（一斤，扁者，取七兩末，生用，如尖者是檳莪朮（煨，三上為細末和勻，用好紫色皂角半斤，去皮弦，切碎，用水兩大碗，浸一宿，冬月兩宿，撈去錢重補之。忌生、冷、腥、硬之物，大有神效。孕婦勿服。</p>
<h3>消痞丸</h3>
<p>治痢後肚腹滿悶。</p>
<p>蒼朮（四兩，淨，米泔浸，焙乾，炒）　陳皮（一兩，去白）　青皮（一兩，淨，去穰）</p>
<p>木香（上為細末，醋糊為丸，如梧桐子大，每服二十丸，空心，溫酒下，小兒三、五、七丸，米飲</p>
<h3>木香枳殼丸</h3>
<p>寬胸膈，進飲食，消食快氣。</p>
<p>木香　檳榔　陳皮（去白）　黃連（去須）　廣術（煨）　當歸（去蘆）　枳殼（去穰，麩炒）</p>
<p>青上為細末，滴水為丸，如梧桐子大，每服五、七、十丸，食後薑湯送下。若有瘡毒，急服百</p>
<h3>木香檳榔丸</h3>
<p>木香　檳榔　黃連（去須）　當歸　枳殼（去穰，火煨）　青皮（去穰）　陳皮（各一兩。去白）</p>
<p>牛（四兩，取上為細末，滴水為丸，如梧桐子大，每服五、七十丸，食後薑湯送下。</p>
<h3>勝紅丸</h3>
<p>治心腹痞滿，消食快氣，美進飲食。</p>
<p>三棱（醋炙）　廣術（醋炙）　青皮（去穰，炒）　陳皮（去白）　乾薑（火炮）　良薑枳實（去穰上為細末，醋糊為丸，如梧桐子大，每服五、七十丸，薑湯或木香同煎，陳皮湯送下，不拘</p>
<h3>導水丸</h3>
<p>黃芩（二兩，去粗皮）　大黃（二兩，去粗皮，酒浸二三時，紙裹火煨）　滑石（四兩，碾細，上為細末，滴水為丸，如梧桐子大，每服五、七十丸，臨臥溫水送下。如加黃連、薄荷葉、甘遂（一兩，久雨則加，除濕熱腰痛，泄水濕腫）　白芥子（一兩，除遍身走注疼痛）　朴硝（腰腿沉</p>
<p>治中焦氣澀，胸膈痞滿，飲食遲化，四肢困倦，嘔吐惡心。常服升降滯氣，消化宿食，去痰木香　枳殼（去穰，炒）　檳榔　半夏（湯泡七次）　青皮（去穰）　陳皮（去白）　白茯苓（去皮牛（微炒，取末三兩）　加人參　神麯（微炒）　大麥　（微炒）　枳實（炒，各半兩）　乾薑（炮、七錢）</p>
<p>上各依等分同為細末，水糊為丸，如梧桐子大，每服五十丸，食後，溫薑湯送下。</p>
<h2>五、痰飲門</h2>
<h3>化痰丸</h3>
<p>快脾順氣，化痰消食。</p>
<p>半夏（洗）　南星（去皮膜）　白礬　皂角（切碎）　生薑上件各一斤重，用水同煮至南星無白點為度，揀去皂角不用，生薑切作片，同半夏、南星晒青皮（去穰）　陳皮（去白）　紫蘇子（炒）　蘿卜子（炒，別研）　杏仁（去皮尖，炒，另研）</p>
<p>干上件以上半斤淨，與前藥合和一處，研為細末，生薑自然汁浸，蒸餅，打糊為丸，如梧桐子</p>
<h3>神仙墜痰丸</h3>
<p>治痰壅，胸痞氣湊，此藥下痰。（史府判驗。）</p>
<p>黑牽牛（一斤，取頭末四兩）　皂角（無蟲蛀者，去皮弦，酥炙黃色，去子淨一兩六錢）</p>
<p>生白上為細末，清水為丸，如梧桐子大，每服三、五十丸，漸加至百丸，空心溫酒送下，看病輕</p>
<h3>寬中祛痰丸</h3>
<p>治男子婦人飲食過多，色欲太過，食喜酸鹹，作成痰飲於胸膈，滿則嘔逆惡心；流則臂膊大痰搜半夏（四兩，湯泡七次，晒乾，研為末，用生薑自然汁捏作餅子陰乾）　荊芥穗（一兩）</p>
<p>白礬兩）　朱砂上為細末，生薑自然汁打糊為丸，如梧桐子大，每服三十丸，空心臨臥，用皂角子仁炒黃，</p>
<h3>二陳湯</h3>
<p>治痰飲為患，或嘔吐惡心，或頭眩心悸，或中脘不快，或發寒熱，或因食生冷。</p>
<p>半夏（湯泡七次）　橘紅（去白，各五兩）　甘草（一兩半，炒）　白茯苓（去黑皮，三兩）</p>
<p>上為　咀，每服四錢，水一盞半，生薑七片，烏梅一個，煎至六分，去滓，熱服，每服加竹</p>
<h3>滌痰丸</h3>
<p>治男子婦人，遠年日久，積聚痰涎，或飲酒食後，吐唾日久，面黃肌瘦，皮肉枯澀，眼無神好皂角（不要蟲蛀損者，一十兩，水浸一宿，去皮弦，火炙黃色，取淨末二兩五錢）　豬牙皂末）</p>
<p>上件用朴硝五錢，井花水泡開，不用滓末，澄清，硝水為丸，如梧桐子大，每服五十丸，臨</p>
<h3>控涎丹</h3>
<p>治胸膈背項腰胯手腳隱痛，筋骨牽引釣疼，坐臥不能，走注不定。俗醫不曉，便用風藥及針或非甘遂（去心）　紫大戟（去皮）　白芥子（真者，各等分）</p>
<p>上為細末，煮粥為丸，如梧桐子大，晒乾，食後、臨臥，每服五、七丸至十丸，淡薑湯送下</p>
<h3>半夏湯</h3>
<p>順陰陽，消痞滿，消酒化痰。</p>
<p>半夏（薑製）　橘紅（去白）　桔梗（炒，去蘆，各一兩）　枳實（炒，半兩，去穰）</p>
<p>上為　咀，每服四錢，水一盞半，生薑五片，煎至七分，去滓，半飢半飽熱服。</p>
<h3>敵痰丸</h3>
<p>治痰盛，寬胸膈，快氣。（完顏府判傳。）</p>
<p>黑牽牛（三兩）　皂角（二兩，去皮弦，火中微燒）　白礬（枯，一兩）　半夏曲（炒，一兩）</p>
<p>陳皮上為細末，煮蘿卜為丸，如梧桐子大，每服四、五十丸，臨臥淡薑湯送下。</p>
<p>治頑痰不化。</p>
<p>石青（一兩，水飛）　石碌（半兩，水飛）</p>
<p>上為末，曲糊為丸，如綠豆大，每服一十丸，溫湯下，有痰即吐，去一、二碗不損人。</p>
<h3>生胃丸</h3>
<p>治脾胃不足，痰多嘔逆，不思飲食。此藥以南星、粟米、黃土為主，蓋謂南星醒脾去痰，粟大天南星（四兩，用真黃土半斤，將生薑滓和黃土成劑，包裹南星，慢火煨香透，去土不用橘紅半兩）</p>
<p>上為細末，法丸如綠豆大，每服七十丸，不拘時，薑湯送下。</p>
<h3>來蘇膏</h3>
<p>治遠年日近，風癇心恙，風狂中風，涎沫潮閉，牙關不開，破傷風搐，並皆治之。</p>
<p>皂角（一斤，用好肥者，無蟲蛀，去皮弦。）</p>
<p>上將皂角去皮弦切碎，用酸漿水一大碗，春秋三四日，冬浸七日，夏浸一、二日，揉取淨漿於夾人扶病患</p>
<h3>神聖餅子</h3>
<p>治痰及一切頭風。</p>
<p>豬牙皂角（炮，存性，淨末一錢）　玄胡索（一錢，淨末）　青黛（研，半錢）</p>
<p>上為細末，滴水為丸，如梧桐子大，捏作餅子，晒乾，每用一餅，新水化開，男左女右，仰</p>
<h2>六、喘嗽門</h2>
<h3>人參胡桃湯</h3>
<p>治胸滿喘急，不能睡臥，老人宜服。</p>
<p>人參　胡桃（五個，取肉，與參等分）</p>
<p>上件作一服，用水一盞，生薑五片，煎至七分，去滓，臨臥溫服。</p>
<h3>杏仁煎</h3>
<p>治老人久患肺喘，咳嗽不已，睡臥不得，服之立定。</p>
<p>杏仁（去皮尖）　胡桃肉上各等分，研為膏，入煉蜜少許，和搜得宜，丸如大彈子大，每服一、二丸，食後臨臥，細</p>
<h3>祛痰丸</h3>
<p>治風痰喘嗽。</p>
<p>人參　木香　天麻　白朮（煨）　茯苓　青皮（去穰）　陳皮（去白，以上各一兩）　槐角子半上為細末，生薑自然汁打糊為丸，如梧桐子大，每服五、七十丸，食後臨臥，溫酒送下，薑</p>
<h3>僵蠶湯</h3>
<p>治喘嗽，喉中如鋸，不能睡臥。</p>
<p>好末茶（一兩）　白僵蠶（一兩）</p>
<p>上為細末，放碗內，用盞蓋定，傾沸湯一小盞，臨臥，再添湯點服。</p>
<h2>七、羨補門</h2>
<h3>沉麝香茸丸</h3>
<p>治五勞百損，諸虛精怯，元氣不固。</p>
<p>沉香（二錢）　麝香（一錢）　南木香　乳香（各三錢）　八角茴香（四錢）　小茴香（四錢，炒）　鹿茸（酥炙）　蓮肉（炒，各半兩）　晚蠶砂　蓯蓉　菟絲子　牛膝　川楝子（用酒浸。各半兩上一十六味，依分兩制和為細末，酒糊入麝香為丸，如梧桐子大，每朝不見紅日，面東，用</p>
<h3>蒼朮丸</h3>
<p>治腰腿疼痛，明目暖水臟並小腸疝氣，大有補益。</p>
<p>蒼朮（一斤，用泔浸去皮，切作片，用生蔥白一斤切碎，加鹽二兩同炒蒼朮黃色為度，去蔥上件為細末，酒糊為丸，如梧桐子大，每服五、七十丸，空心，溫酒送下。</p>
<h3>十寶丸</h3>
<p>專補益肝、脾、腎三經，其功不可具述。</p>
<p>破故紙（酒浸一宿，焙乾）　附子（炮去皮臍秤）　蒼朮（銼，泔浸一宿，焙乾）　當歸（去蘆，蓉（酒浸，透黑為上為細末，醋糊為丸，如梧桐子大，每服三、五十丸，空心，用溫酒或鹽湯送下，干物壓之</p>
<h3>琥珀丸</h3>
<p>治虛損，降心火，益腎水，興陽道。</p>
<p>琥珀（明者）　沉香　木香　丁香（淨）　小茴香（鹽炒）　白茯苓（去皮）　陳皮（去白）　八角茴（三兩，炒）</p>
<p>上為細末，煉蜜為丸，如彈子大，每服一丸，空心，細嚼，酒送下，日進二服。</p>
<h3>滋補丸</h3>
<p>治下元虛弱。</p>
<p>白芍藥（二兩）　人參（一兩）　白茯苓（去皮）　阿膠（銼碎，面炒）　當歸　地黃（生熟皆可）</p>
<p>上為細末，酒糊為丸，如梧桐子大，每服七十丸，空心，溫酒送下，宜常服。</p>
<h3>補益丸</h3>
<p>補益腎水明目，及腰膝痛。</p>
<p>小茴香（一兩，鹽炒）　木香（一兩）　川楝子（春秋二兩，夏一兩，冬三兩，取肉酒浸）　知母地龍上為細末，煉蜜為丸，如彈子大，每服一丸，空心，細嚼，溫酒送下，干物壓之，午食前再</p>
<h3>萬安丸</h3>
<p>治下元極虛，更進飲食。</p>
<p>肉蓯蓉（四兩，酒浸）　干薯蕷　五味子（各二兩半）　杜仲（三兩，炒）　牛膝（酒浸）　菟絲子兩，去心）</p>
<p>上為細末，用蓯蓉末半斤，酒煮膏和為丸，空心，溫酒送下。忌醋陳自死之物。</p>
<h3>十補丸</h3>
<p>治陰損久虛下冷，夜頻起，暖丹田。</p>
<p>肉蓯蓉（酒浸）　菟絲子（酒浸）　牛膝（酒浸）　干山藥　熟地黃　川烏頭　澤瀉　人參當歸上件各等分，為細末，酒糊為丸，如梧桐子大，每服五十丸，空心，溫酒送下。</p>
<h3>四倍丸</h3>
<p>治腰膝疼痛，美進飲食。</p>
<p>杜仲（四兩，瓦器炒黃色，去絲）　破故紙（四兩，瓦器內炒黃色）　甘草（四兩）　胡桃仁（四上為細末，酒糊為丸，如梧桐子大，每服五、七十丸，空心，用甘草末調湯送下。</p>
<p>川楝子（半斤，微炒出汗）　知母（半斤，微炒出汗）　甘草（四兩，微炒）　茴香（四兩，炒）　蓮子心　木香（各一兩）　晚蠶砂（一兩，微炒）</p>
<p>上件，除甘草茴香八味先搗為末，存留四兩熬膏子外，將余上四兩與其余藥一處為末，用膏</p>
<h3>騙馬丹</h3>
<p>治寒濕香港腳，四肢疼痛，補五臟，壯筋骨，補精髓，注顏，黑髮鬢，行步健，大宜常服。</p>
<p>葫蘆巴（鹽炒黃色）　破故紙（鹽炒香）　金剛骨（酒浸一宿，晒，鹽炒）　骨碎補（去毛，鹽炒）</p>
<p>研）　自然銅（上除另研外，為細末，醋糊為丸，如梧桐子大，每服三十丸，溫酒送下。病在上食後，病在</p>
<h3>四神丸</h3>
<p>治腎經虛損，眼目昏花，補虛益損，及兩眼云翳遮睛。</p>
<p>甘州杞子（一斤，揀去白、醭、青、焦者，分作四份，一份四兩川椒一兩炒；一份四兩用小杞子上件炒過，將川椒等四味篩去不用，止用枸杞子，加熟地黃、白朮、白茯苓各一兩，同枸杞炒。</p>
<h3>柴胡梅連散</h3>
<p>治骨蒸勞，久而不痊，三服除根，其效如神。及五勞七傷、虛弱，並皆治之。</p>
<p>胡黃連　柴胡　前胡　烏梅（以上各三錢）</p>
<p>上為　咀，每服三錢，童子小便一盞、豬膽一枚、豬脊髓一條、韭根白半錢，同煎至七分，</p>
<h3>金鎖正元丹</h3>
<p>治男子五勞七傷，沉寒痼冷，四肢厥逆，陰盛身寒，臍腹久痛，臟腑軟弱，困倦少力，飲食白僵蠶（炒）　破故紙（炒）　白龍骨　山茱萸（湯浸，去核）　桑螵蛸（炒）　黑附子（炮）</p>
<p>肉蓯上為細末，煉蜜為丸，如梧桐子大，每服二三十丸，空心，溫酒送下，日進三服，常服有益</p>
<h3>人參固本丸</h3>
<p><u>一名二黃丸。</u></p>
<p>夫人心主血，血生氣，氣生精，精盛則髭發不白，顏貌不衰，延年益壽。其夭闕者，多由服性熱之藥，不能滋生精血也。而藥之滋補者，無出生熟二地黃與天麥二門冬，人徒知服二地用之熟地黃（洗）　地黃（洗，再蒸）　天門冬（去皮）　麥門冬（去心，各一兩）　人參（半兩）</p>
<p>上五味為細末，煉蜜為丸，如梧桐子大，每服五十丸，空心，溫酒鹽湯送下。十日明目，二</p>
<h3>茯苓丹</h3>
<p>延年益壽，黑髭發，大有補益。</p>
<p>白茯苓（去粗皮，為細末，淘碎，陰乾、四兩）　頭面（十三兩）　人參末（三錢）　青鹽（少許）</p>
<p>上用滾水和成劑如大道，以文武火燒熟，驗數分作十日服食，一月服三料，夏加干蓮子肉一</p>
<h3>四炒丸</h3>
<p>治脾胃虛弱，脾土不能化痰，成窠斗，停於胸臆，飲食既少復遲，當以實脾土則痰下氣順。</p>
<p>肉豆蔻（一兩，用鹽酒浸，破故紙同炒干燥，不用破故紙）　山藥（一兩酒浸，與五味子同炒干燥，不用五味子）　厚朴（二兩，去粗皮，青鹽一兩同炒青鹽不見煙為度，不用鹽）　大半上為細末，酒糊為丸，如梧桐子大，辰砂一分，沉香一分，作二次上為衣，陰乾，每服五七</p>
<h3>四製蒼朮丸</h3>
<p>燥脾土，固真養胃。</p>
<p>蒼朮（一斤，分作四份制。一份四兩用破故紙小茴香同炒；一份四兩用川楝子同炒；一份四上件同炒畢，余藥不用，只用蒼朮為末，酒糊為丸，如梧桐子大，每服五十丸，空心，米飲</p>
<h3>駐春丹</h3>
<p>縮小便，美顏色。</p>
<p>好白茯苓（四兩，水飛，去皮及沙，細研為末）　白面（一斤，另傾）　人參（一兩，不犯銅鐵，捶碎）　川椒（一合，以木研碎去目）　青鹽（一匙頭）</p>
<p>上三味為粗末，水二大碗，煎至一碗，與茯苓白面和勻如臂大，文武火燒熟，三日服一料，兩日</p>
<h3>七仙丹</h3>
<p><u>又名枳殼丸。</u></p>
<p>治虛損，小便頻數，健陽。</p>
<p>木香（半兩）　枳殼（一兩，麩炒，去穰）　白茯苓（去皮）　川楝子（酥炒）　知母（去毛）　小茴上為細末，煉蜜為丸，如彈子大，每服一丸，空心，細嚼，溫酒送下，干物壓之。</p>
<h3>鐵瓮先生交感丹</h3>
<p>世人中年，精耗神衰，常言百事心灰。蓋緣心血少而火不能下降，腎氣憊而水不能上升，至至夭去一勿亂補，平然之壽茯神（四兩）　香附子（一斤，碎去毛，用新米泔浸一宿，炒黃色）</p>
<p>上為細末，煉蜜為丸，如彈子大，每服一丸，空心，細嚼，用後湯藥送下。</p>
<h3>降氣湯</h3>
<p>茯神（二兩）　香附子（半斤，炒，浸如前法）　甘草（一兩半，炙黃色）</p>
<p>上為細末，每服二錢，湯點送交感丹。</p>
<h3>刷牙藥</h3>
<p>香附子（五兩）</p>
<p>上用生薑三兩，研和滓汁浸香附子三宿，炒黑存性為末，加青鹽二錢，拌勻，每日刷牙。</p>
<h3>蒼朮散</h3>
<p>治風濕，常服壯筋骨健步。</p>
<p>蒼朮（一斤，用粟米泔浸過，用竹刀刮去筋皮，半斤童子小便浸，半斤無灰好酒浸）</p>
<p>上件春五日，夏三日，秋七日，冬十日，取出蒼朮，於淨地上撅一坑，以炭火　紅去炭，將術</p>
<h3>心腎丸</h3>
<p>治水火不既濟，恍惚多忘，心忪盜汗，夜夢驚恐，小便白濁，精滑夢泄，腰膝緩弱，四肢酸博鹿茸（一兩，酒塗炙）　附子（一兩，炮，去皮臍）　牛膝（二兩，去苗，酒浸）　菟絲子（三兩草水煮）</p>
<p>蓯蓉（二兩，酒浸）　五味子　山藥（炒）　龍骨（略　）　人參（去蘆）　白茯苓（去皮）</p>
<p>黃（炙。以上各一兩）</p>
<p>上為細末，用浸藥酒打糊為丸，如梧桐子大，每服五、七十丸，空心，棗湯送下。</p>
<h3>博金散</h3>
<p>治脫證自泄。</p>
<p>人參（一兩，去蘆）　白茯苓（二兩，去皮）　絡石（二兩）　龍骨（一兩，略　）</p>
<p>上為細末，每服三錢，空心，米飲湯調服，臨臥再一服。</p>
<h3>金鎖丹</h3>
<p>治男子婦人滑精鬼交遺泄。</p>
<p>茯神（三錢）　遠志（二錢，去心）　五色龍骨（三錢，　紅）　牡蠣（四錢，左顧者，炒赤色）</p>
<p>上為細末，酒糊為丸，如梧桐子大，每服三、四十丸，空心，鹽湯或酒送下。</p>
<h3>鎖精丸</h3>
<p>治滑泄不禁。</p>
<p>川獨活　川續斷　穀精草　石蓮肉（去殼）　生雞頭（去殼）　蓮心　干菱米　川楝子（酥炒）</p>
<p>上件各等分，為細末，雞清為丸，如梧桐子大，每服四、五十丸，空心，鹽湯送下，干物壓</p>
<h3>二聖散</h3>
<p>治失精漏泄久虛。</p>
<p>蓮子心（一撮）　辰砂（一分）</p>
<p>上為細末，每服二錢，空心，白湯送下。</p>
<h3>鐵刷湯</h3>
<p>治男子婦人，一切陰寒失精色敗，腰膝疼痛，陰汗不止，腸風下血，痔漏有頭者即散，有漏煎三用藥紫稍花（成塊，帶蒂者佳）　揀肉桂　大丁香　蛇床子　吳茱萸（各一兩）　山茱萸（去核）</p>
<p>天雄（蓯蓉木香（各二錢）</p>
<p>上件為粗末，每煎熏洗。</p>
<h3>代灸膏</h3>
<p>治老人衰弱，元氣虛冷，臟腑虛滑，腰腳冷痛沉重，飲食減少，手足逆冷，不能忍者，用此大附子（一個，炮）　吳茱萸　桂皮　木香　蛇床子（各半兩）　馬藺花（一兩，焙）</p>
<p>上為細末，每用藥半匙，白面半匙，生薑汁半盞，同煎成膏，攤於紙上，臨臥貼臍，以油紙腰眼</p>
<h3>補精膏</h3>
<p>常服壯元陽，益精氣，助胃潤肺。</p>
<p>牛髓（四兩，揀去粗）　胡桃（四兩，去皮殼）　杏仁（四兩，去皮尖）　山藥（半斤）</p>
<p>上將杏仁、胡桃、山藥三味搗為膏，蜜一斤，煉去白沫，與牛髓同和勻入瓷罐內，湯煮一日</p>
<h3>妙應丸</h3>
<p>治赤白濁通用。</p>
<p>真龍骨　辰砂　濃牡蠣（以腐草鞋重包，插定火　，並研細）　石菖蒲（各二錢半）　川楝子（上焙上以山藥碎炒末為糊丸，如桐子大，每服五十丸，日間煎人參、酸棗下，臨臥粳米飲湯送下</p>
<h3>法制杏子</h3>
<p>杏仁（一斤，楝板杏真者用）　蒼朮（一斤）　白沙蜜（二斤）　蒼朮（一兩，去粗皮，泔浸一宿上件將杏仁用熱水洗淨，頓於罐內，將生蒼朮一斤為粗末，用水熬一、二百沸，將汁浸杏仁蜜半用瓷末一加半</p>
<h3>復春丹</h3>
<p>治腰腿疼痛。</p>
<p>杜仲（酥炒斷絲）　破故紙（酒浸一宿，用芝麻炒黃色）　萆　（酥炙黃）　巴戟（去心，各一兩）</p>
<p>上為細末，醋糊為丸，如梧桐子大，每服五、七十丸，空心，每服藥時，先嚼胡桃一枚，同</p>
<h3>聚寶丹</h3>
<p>治五勞七傷，諸虛不足，溫中正氣，祛風活血，逐寒除濕，填精益髓，強陰壯陽，聰耳明目嗽，白茯苓（去皮）　山茱萸（去核）　五味子　干山藥　石蓮肉　雞頭肉　金櫻子　巴戟（去心）</p>
<p>蒲遠志（去心）</p>
<p>秤）　沉香（以上為細末，棗肉為丸，如梧桐子大，每服五十丸，以朱砂為衣，空心，溫酒或鹽湯送下，如</p>
<h3>坎離丸</h3>
<p>治心脾腎三經不足。</p>
<p>蒼朮（八兩，銼如豆大，泔浸三日，或焙或晒乾，分作四處，一份用真烏頭一兩去皮臍切作一兩，兩半，自干就粗皮木，三巴（酒浸，炒）　川巴戟（去心，酒浸，炒。各五錢）　當歸（酒浸，淨，焙，半兩）　人參（去蘆）　枸杞子上為細末，好酒煮神麯末二兩，打糊為丸，如梧桐子大，每服四、五十丸，空心，如補心，</p>
<p>此藥延年益壽，不老添精和血，注顏身輕壯骨，益元氣，效不可盡述。</p>
<p>遠志（去皮心，炒）　蛇床子（酒浸，微炒）　鹿茸（炒黃。各一錢半）　晚蠶蛾（二錢）　紫梢花炙黃）　木香上為細末，酒糊為丸，如梧桐子大，每服五十丸，空心，溫酒送下，七日可便見效。</p>
<h3>地仙丹</h3>
<p>治男子五勞七傷，腎氣虛憊，精神耗減，行步艱辛，飲食無味，眼昏耳焦，面色黧黑，皮膚，及虛弱易感寒暑。</p>
<p>牛膝（酒浸）　蓯蓉（酒浸）　附子（炮裂，去皮臍）　川椒（去目。以上各四兩）　地龍（去土，碎補各二兩）</p>
<p>白上為細末，酒糊為丸，如梧桐子大，每服三四十丸，空心，溫酒送下。此方陶隱君編入道藏</p>
<h3>封臍艾</h3>
<p>治腰膝痛，臍腹冷痛，老人、弱人、婦人、小兒泄瀉，又宜用之，每日熨烙為效。</p>
<p>海艾　蛇床子（各一兩）　木鱉子（二對，生用，帶殼用）</p>
<p>上為細末，與艾葉三味相和勻，作一紙圈，於內可以容熨斗，將藥可用綿包裹定，安在紙圈</p>
<h3>白丸子</h3>
<p>治元氣虛寒，精滑不禁，大便泄瀉，手足冷。</p>
<p>陽起石（火　，細研）　鐘乳粉（各一兩）</p>
<p>上為細末，酒煮附子末糊為丸，如梧桐子大，每服五十丸，空心，米飲湯送下。</p>
<h3>黑丸子</h3>
<p>治精血耗竭，面色黧黑，耳聾目昏，口乾多渴，腰痛腳弱，小便白濁，上燥下寒，不受峻補鹿茸（酒蒸）　大當歸（酒浸，各一兩）</p>
<p>上為細末，煮烏梅膏子為丸，如梧桐子大，每服五十丸，空心，米飲湯送下。</p>
<h3>神應丸</h3>
<p>治男子婦人五勞七傷大黃（六兩，去皮淨）　黃連（四兩，淨）　血竭（三兩）　犀角末（二兩）　仙人蓋（一個，醋炙上為細末，用好醋一斗，砂鍋內同藥用文武火熬無醋，焙乾，再為極細末，酒糊為丸，朱婦日</p>
<h3>搜風順氣丸</h3>
<p>治三十六種風，七十二氣，去上熱下冷，腰腳疼痛，四肢無力，多睡少食，漸漸羸瘦，顏色嗣。</p>
<p>風車前子（二兩半）　白檳榔　火麻子仁（微炒赤色，退殼，另研入藥）　郁李仁（湯泡去皮，另枳殼（上為細末，煉蜜為丸，如梧桐子大，每服二十丸，酒茶米飲湯送下，百無所忌，早晨，臨睡明，羹老大</p>
<h3>五加皮丸</h3>
<p>治男子婦人香港腳，骨節皮膚腫濕疼痛，進飲食，行有力，不忘事。</p>
<p>五加皮（四兩，酒浸，春秋三日，夏二日，冬四日）　遠志（去心用皮，四兩，春秋三日，夏上曝乾為末，春秋冬止用浸藥酒為糊，夏別酒為糊，丸如梧桐子大，每服四、五十丸，空心</p>
<h3>橘皮煎丸</h3>
<p>理脾腎久虛，積冷面黃，嘔吐痰水，飲食減少，心腹疼痛，脅肋脹滿，繞臍弦急，大腸虛滑痔漏，婦人血海虛冷，赤白帶下，久無子息，並皆治之。</p>
<p>陳皮（去白，取十五兩淨末，熬膏）　金蓉（酒浸炙）　茄子鹿茸（火燎去毛，劈開，酒浸焙乾，研如粉）　杜仲（炙，去絲）　厚朴（去皮，裂）　肉桂（去皮）　京三棱（煨熟，切片）　吳茱萸（（以上各三兩）　甘草（一兩，炙）</p>
<p>上一十八味為細末，先用五升於銀石器內，將橘皮末於酒內熬如餳，然後入諸藥末，一處可。</p>
<h3>建中丸</h3>
<p>治脾胃氣弱，冒犯風冷，腹痛腸鳴泄瀉。經云：食畢而中謂之洞泄。手足冷，面色青白，下大附子（炮，去皮臍）　大川烏（炮，去皮臍）　桂心　胡椒　蓽茇　乾薑　良薑（炒）</p>
<p>吳茱萸上件各等分，為細末，醋糊為丸，如梧桐子大，每服五、七十丸，空心食前，米飲湯送下。</p>
<h3>玉關丸</h3>
<p>治諸虛不足，膀胱腎經痼敗，陰陽不交，致多生病，水欲升而沃心，火欲降而溫腎，如此則精之患，功效難以盡述。</p>
<p>辰砂（半兩）　鹿茸（一兩）　柏子仁（炒，另研）　川巴戟（去心。各七錢半）　黃（七錢，蜜味子　菟絲附子（大者一蒸訖上為細末，用木瓜膏杵和，入少酒糊為丸，如梧桐子大，每服七十丸，空心，米飲湯或溫酒</p>
<h3>益衛丹</h3>
<p>治心脈結而散，肺脈浮而軟，余脈如經，原其所自，思慮傷心，憂慮傷肺，蓋心乃諸血之源痛，鼻為之不利，怔忡白濁，腠理不密，易為感風寒，今以補氣湯補氣以養肺，益榮丹滋血以助心，榮衛日充，心肺戢治，諸疾自愈。</p>
<p>當歸（二兩，去蘆，酒浸焙）　紫石英（火　，醋淬七次，研細，一兩）　柏子仁（炒，另研）</p>
<p>地黃（洗淨，酒蒸，焙乾）　龍齒（各一兩，另研）</p>
<p>上為細末，煉蜜為丸，如梧桐子大，辰砂為衣，每服七十丸，食前，用麥門冬湯下。</p>
<h3>補氣湯</h3>
<p>黃　（三兩，去蘆，蜜水炙）　人參　甘草（炙。各半兩）　麥門冬（一兩，湯浸，去心）　苦桔上為　咀，每服四錢，水一盞半，生薑五片，煎至七分，去滓，溫服，不拘時候。</p>
<h3>補養丸</h3>
<p>補養元氣，滋益氣血，暖水臟及下元。</p>
<p>菟絲子（洗淨，搗為末，四兩）　破故紙（炒香）　益智仁（各一兩）　杜仲（一兩，去皮，用生（二兩、米上各為細末，酒糊為丸，如梧桐子大，每服五十丸，空心，溫鹽酒鹽湯送下。</p>
<h3>杜仲丸</h3>
<p>補心腎，益氣血，暖元臟，縮小便，壯力。</p>
<p>蓮肉（去心，四兩）　龍骨（七錢半，新瓦上　，另研細）　益智仁　破故紙（炒香）　茴香（各銼碎，酒拌，上為細末，用山藥四兩炙為末，打糊為丸，如梧桐子大，每服五十丸，棗湯送下，空心食前兩，</p>
<h3>草還丹</h3>
<p>夫草還丹者，不用金石，不加燥熱，不傷五臟，只以草藥為用，全在制度之妙，得水火既濟養，令延年益壽，乃仙家之良劑，平補大有效驗。</p>
<p>蒼朮（四兩，一兩酒浸，一兩醋浸，一兩米泔浸，一兩鹽水浸，各一宿）　葫蘆巴（一兩，酒楝子（茯苓（堅圓上件晒乾為細末，無灰酒糊為丸，如梧桐子大，每服三、五十丸，溫酒送下，或鹽湯亦可，隸不常</p>
<h3>加減太乙金鎖丹</h3>
<p>專治秘精，益髓大有功效。</p>
<p>蓮花芯（四兩，未開者，陰乾秤）　五色龍骨（五兩，細研）　復盆子（五兩）　鼓子花（三兩，五月五日采）　雞頭（一百顆，生，取肉，作餅子，晒乾）</p>
<p>上為細末，取金櫻子二百枚，去毛、子，木　內搗爛，水七升，煎取濃汁一升，去滓和藥，如要</p>
<h3>灸勞病方</h3>
<p>從下數至第三根短肋稍尖上，灸二七壯炷，男左女右，又於項後數下至第三脊溝點穴，灸，</p>
<h3>雞清丸</h3>
<p>治男子婦人精滑，下元虛冷，及疝氣證，婦人經脈不調，大人小兒皆可服。</p>
<p>川獨活　穀上為細末，雞清為丸，如梧桐子大，每服五十丸，空心，溫酒送下，干物壓之。</p>
<h3>葫蘆巴丸</h3>
<p>治虛損不可醫之疾，極能關鎖精氣，升降陰陽，功效如神。</p>
<p>附子（炮，一兩，去皮）　川烏（炮，去黑皮）　沉香　酸棗仁（湯泡，去皮）　當歸（去蘆）　川芎柏子仁（去殼）　葫蘆巴　巴戟（去心）　破故紙（微炒）　龍骨　牡蠣（　）　天雄（炮）　赤石脂（以上各一兩，　）　鹿茸（二兩，酥炙）　茴香（二兩）　澤瀉（半兩）　生硫黃（明者，七錢半，生用）</p>
<p>上為細末，酒糊為丸，如梧桐子大，每服五十丸，空心，鹽湯米飲送下，日進二服。</p>
<h3>陳橘皮丸</h3>
<p>治虛勞堅癖，腹脹羸瘦，食久不消，面色萎黃，四肢少力。</p>
<p>陳橘皮（湯浸，去白，炒）　木炒）　檳榔（生銼，以上各一兩）</p>
<p>上六味搗羅為末，煉蜜為丸，如梧桐子大，每服二十丸，溫酒或米飲送下。</p>
<h3>八寶丹</h3>
<p>壯益元陽，行氣生血。</p>
<p>廣木香　母丁香　紅花（各二兩）　牡蠣（五錢）　地龍（去土，五錢）　燈草（二錢，糨晒乾，上為末，甘草三兩碾末，熬成膏子，丸如彈子大，每服一丸，細嚼，空心酒下，以干物壓之</p>
<h3>還少丹</h3>
<p>昔日越王曾遇異人得此方，極能固齒牙，壯筋骨，生腎水。凡年未及八十者，服之須發返黑用蒲公英一斤，一名耩耨草，又名蒲公罌，生平澤中，三四月甚有之，秋後亦有放花者，連蒲內</p>
<h2>八、瀉痢門</h2>
<h3>木香湯</h3>
<p>治赤白痢久不瘥。</p>
<p>黃連　木香　乾薑（各一分）　乳香（半兩）</p>
<p>上四味為細末，每服二錢，空心，用米飲湯調服，大有效驗。</p>
<h3>香連丸</h3>
<p>治赤白痢。</p>
<p>木香（一兩，一半生用，一半糯米炒，米黃為度，去米不用）　黃連（一兩，一半生用，一半上為細末，米粉或粟米飯為丸，如梧桐子大，每服三十丸，空心，米飲湯送下。</p>
<h3>神效雞清丸</h3>
<p>治一切瀉痢。</p>
<p>木香（二兩）　黃連（二兩半）　肉豆蔻（十個，大者）</p>
<p>上三味，先為細末，取雞子清搜藥作餅子，於慢火上炙令黃色變紅者，稍干，再為末，面糊</p>
<h3>固腸丸</h3>
<p>治瀉痢及泄瀉。（史橘齋家傳。）</p>
<p>肉豆蔻（面裹，煨）　龍骨（　研，水飛）　阿膠（蛤粉炒）　赤石脂（　七次，醋淬，研）　附子鎊，不見火）</p>
<p>白上為細末，粳米糊為丸，如梧桐子大，每服七、八十丸，空心，米飲湯送下，服藥後覺熱，</p>
<h3>椒紅固腸丸</h3>
<p>治脾胃積冷，腸鳴，大便滑泄，腹痛。</p>
<p>神麯（六兩，銼作小塊，炒香熟）　白朮（一兩，銼，炒干）　川薑（去皮，炮干，三兩）　川椒裹煨）</p>
<p>上為細末，別用蒜不拘多少，濕紙裹煨香熟，剝淨研如泥，熟湯化開，濾去滓，少入面打糊，搜藥為丸，如梧桐子大，每服七、八十丸，空心，米飲湯送下，日進二服。</p>
<h3>紅豆丸</h3>
<p>治臟腑泄瀉，名為飧泄。</p>
<p>麥　（炒）　半夏（湯泡七次）　砂仁　神麯（炒。各一兩半）　砂（醋化）　甘草　青皮（去穰）　陳兩）</p>
<p>丁上為細末，水煮面糊為丸，如梧桐子大，每服一百丸，米飲或隨物空心送下，病甚者日進三</p>
<h3>白朮調中丸</h3>
<p>治脾胃不和，心下堅痞，兩脅脹滿，臍腹疼痛，噫宿腐氣，霍亂吐瀉，米穀不消，久痢赤白神麯（四兩，炒）　白朮（半兩）　人參（去蘆）　白茯苓（去皮）　豬苓（去黑皮）　澤瀉（各三錢）</p>
<p>上為細末，面糊為丸，如梧桐子大，每服五、七十丸，空心，淡薑湯送下。</p>
<h3>神應丸</h3>
<p>治水瀉、食瀉、積瀉、赤白痢，休息痢，無問遠年日近，並皆治之。</p>
<p>黃連（二兩，一半生用，一半熟用炒）　吳茱萸（淨，二兩）　罌粟殼（二兩，去筋末十分，炒上為細末，用陳倉米粉同好米醋打糊為丸，如梧桐子大，每服五、七十丸，空心，米飲湯送</p>
<h3>乳豆丸</h3>
<p>治臟腑泄瀉不調。（詹教授傳。）</p>
<p>乳香（二兩，另研）　肉豆蔻（面裹煨熟，取豆蔻，切碎為末）</p>
<p>上為細末，相和，用陳米粉糊為丸，如梧桐子大，每服五、七十丸，空心，米飲湯送下。</p>
<h3>二神丸</h3>
<p>治脾腎泄瀉不止。（程裕卿推官傳。）</p>
<p>破故紙（半斤，炒）　肉豆蔻（四兩，生）</p>
<p>上為細末，用肥棗取肉研膏，和藥杵，丸如梧桐子大，每服五、七十丸，空心，用米飲湯送不若補腎遲於運化終日不熟斡旋，往丸，空</p>
<h3>五味子散</h3>
<p>專治白瀉不止。</p>
<p>五味子（二兩）　吳茱萸（五錢，細粒綠色者佳）</p>
<p>上二味同炒香熟，碾為細末，每服三錢，陳粟米飲湯，空心，臨臥調服，日進二服，至三日</p>
<h2>九、頭面口眼耳鼻門</h2>
<h3>盞落湯</h3>
<p>治偏正頭疼頭風。</p>
<p>麻黃（去根節，七錢半）　人參（去蘆，五錢）　陳皮（去白，七錢）　甘草（去皮，八錢）　御米上為　咀，每服五錢，生薑七片，煎至七分，去滓溫服，食遠服下。</p>
<h3>真珠散</h3>
<p>治偏正頭痛頭風。</p>
<p>盆硝（七錢半，研）　白滑石（一兩，研）　乳香（一錢半，研）　片腦（少許研）</p>
<p>上另研為極細末，再同研極細，每用一字，口噙水，鼻內搐之。</p>
<h3>都梁丸</h3>
<p>治偏正頭風及一切頭疼。</p>
<p>香白芷（二兩，晒乾）</p>
<p>上為細末，煉蜜為丸，如龍眼大，每服二三丸，食後細嚼，煎芽茶清送下。</p>
<h3>飛虎散</h3>
<p>專治偏正頭風。（鄭參政傳有效方。）</p>
<p>白附子　香白芷　荊芥穗　石膏（　，研）　薄荷葉　天麻　川芎　防風（以上各半兩）</p>
<p>兩上為極細末，每服一錢，臨臥，溫茶清調服，服後忌食熱物。</p>
<h3>神效散</h3>
<p>治偏正頭疼。</p>
<p>川芎（二錢）　牡丹皮（二錢半，去骨）　滑石（二錢，研）　御米殼（三錢，蜜炒黃色）</p>
<p>上為　咀，每服五錢，生薑一兩，水一盞半，煎至七分，去滓，臨臥溫服。</p>
<h3>白附丹</h3>
<p>治男子婦人面生黑斑點。</p>
<p>白附子（二兩）　白芨　白蘞　白茯苓　密陀僧（研）　白石脂（研）　定粉（研。各等分）</p>
<p>上為細末，先用洗面藥洗淨，臨睡用人乳汁，如無，用牛乳或雞子清調，如合就用乳將藥末</p>
<h3>洗面藥方</h3>
<p>零陵香　檀香（鎊）　丁香　茅香　藿香　白朮　白芨　白蘞　川芎　沙參　防風本三奈子　天花粉　木賊　甘松　楮桃兒　黑牽牛　白僵蠶（炒去絲）　香白芷（以上各一兩）</p>
<p>上為細末，每日洗面用之。治面上游風，諸般熱毒，風刺光澤精神。</p>
<h3>治繭唇方</h3>
<p>黃柏（一兩）　五倍子（二錢）　密陀僧（少許）　甘草（少許）</p>
<p>上除黃柏外，為細末，水調勻，敷於黃柏上，火炙三、五次，炙盡藥末為度，將黃柏切成薄</p>
<h3>雙美丸</h3>
<p>治眼目昏花甘菊花（一斤）　紅椒（去目，六兩）</p>
<p>上研為細末，用新地黃汁為丸，如梧桐子大，每服五十丸，臨臥，茶清送下。</p>
<h3>甘石膏</h3>
<p>點眼昏花，視物不明。（烏馬兒監司經驗方。）</p>
<p>爐甘石（研）　代赭石（　，醋淬七次，研）</p>
<p>上將二石碾為極細末，次與黃丹和合，用銅鍋將蜜煉去白沫，更添水五、六碗，熬沸下煎藥四重</p>
<h3>大良膏</h3>
<p>治眼目昏花。</p>
<p>井鹽（五錢，無青鹽代之，）　訶子（一對，去核）　黃連（去須，五錢）　烏賊魚骨（二錢半，上為細末，用好蜜十兩，熬去白沫，濾淨，入前藥末於銀銅器內，用文武火慢熬，用槐柳條溫</p>
<h3>乳香當歸散</h3>
<p>治內障眼，傷風傷寒，攀睛瘀肉，多年眼中倒睫拳毛。</p>
<p>鳳凰台　當歸　薄荷葉　荊芥穗　本　穀精草　石膏（　）　沒藥（研）　白葛根　菟絲子（小豆乳定風子上為極細末，每日三次，早晨、午時、臨臥，鼻內搐之。</p>
<h3>海青膏</h3>
<p>點眼一切昏翳內障眼疾。</p>
<p>黃丹（四兩，水飛）　訶子（八個，去核，為細末）　烏魚骨（三錢，白者）　青鹽（一兩，另研）</p>
<p>上件將蜜滾去白沫，先下黃丹，用槐條四十九根，少時下余藥，不住用手一一順攪，直攪蜜並槐等疾</p>
<h3>重明膏</h3>
<p>治眼內云翳，無問遠年不退者，及諸般眼疾昏花，輦真人提點眼內生白翳十二三年治不效，白沙蜜（半斤）　黃丹（二兩，水飛過）　訶子（四個，沉水者用，去核）　柳枝（東南向者，四上將蜜煉淨，用絹濾過，盛於瓷器內，將訶子黃丹入蜜內，於風爐上熬，用手一順攪之，文用頓</p>
<h3>視星膏</h3>
<p>治內外障赤毒瓦斯赤目，一切翳膜。（一名卷帘膏。）</p>
<p>白沙蜜（一斤，揀去蠟滓可秤十四兩）　密陀僧（一兩、金色者，研極細、水淘可得六七錢）</p>
<p>上用臘雪水五升，與蜜溶調入藥，與柳條子同貯於瓷瓶中，以柳木塞瓶口，油絹封，雜於黑鍋止。</p>
<h3>大全寶光散</h3>
<p>治遠年日近風眩爛眼，除昏退翳，止淚截赤定疼。</p>
<p>黃連（半斤，去須）　當歸（二兩二錢）　蕤仁（一兩六錢，去皮油）　生白礬（二兩二錢）　甘草芍藥（三兩三錢）</p>
<p>上用骨刀子銼細，秫米大，不搗，每用二錢，水一大盞，煎數沸，去滓，熱洗。</p>
<h3>治遠年風眼</h3>
<p>杏仁（二十一個，去尖，分作三分）　粉草（二寸，分作三分）</p>
<p>漱口淨，將杏仁一分，甘草一分，同嚼爛如泥，吐於瓷盞內，三分俱如此嚼爛，用銅綠二錢過，</p>
<h3>治近年之眼</h3>
<p>銅綠（研）　寒水石（研）</p>
<p>上各等分，碾為細末，用五七沸滾水浸在藥內，攪勻澄清，將水面上藥膜掠去，將清藥水於</p>
<h3>秘傳羊肝丸</h3>
<p>治男子婦人肝經不足，風毒上攻，眼目昏暗，淚出羞明，怕日癮澀難開，或癢或痛。又治白羊子肝（一個洗淨，去膜）　黃連（去須，搗羅為末）</p>
<p>上將羊肝先入沙盆內杵爛，逐旋入黃連末，拌擂，干濕得所，丸如梧桐子大，每服四十丸蒜</p>
<h3>夜光丸</h3>
<p>治腎虛血弱，風毒上攻，眼目視物昏花不明，久而漸變內障。常服降心火，益腎水，明目除天門冬（去心，焙）　麥門冬（去心，焙）　生地黃（懷州道地）　熟地黃（懷州道地）</p>
<p>新羅參（別搗釵子（酒浸，焙乾，另搗風（去蘆）　甘草（烏犀（鎊）　青葙子（各半兩）</p>
<p>上件二十五味，除另搗外，同為極細末，煉蜜為丸，如梧桐子大，每服三、五十心，溫酒送下，鹽湯亦可。</p>
<h3>治赤眼頭風等證</h3>
<p><u>此方名為神聖。</u></p>
<p>乳香　沒藥　川芎　石膏　雄黃（二錢，同半兩盆硝共用）</p>
<p>上件將為細末，專治赤眼冷淚，頭風耳聾，耳癢鼻塞聲重，一搐牙疼便住。</p>
<h3>洗頭明眼方</h3>
<p>鳳眼草，即椿樹上固固翅也，燒灰淋水洗頭，依日期洗。經一年，眼如童子眼明，及加椿皮上用正月七日　二月八日　三月四日　四月五日　五月二日　六月四日　七月七日　八月三</p>
<h3>千金神麯丸</h3>
<p>主明目，百歲可讀細字。</p>
<p>神麯（四十兩，炒）　辰砂（十兩，另研）　磁石（二十兩，火　醋淬七次）</p>
<p>上為細末，用神麯打糊為丸，如梧桐子大，每服二十丸，米飲湯送下。常服益目。眾謂丹砂其養用</p>
<h3>青黛散</h3>
<p>治眼倒睫極效。</p>
<p>刺　棗樹上黃直棘針　香白芷　青黛（研）</p>
<p>上各等分，為細末，左眼倒睫，口噙水，左鼻內搐之，右眼倒睫，右鼻搐之。</p>
<h3>截惡眼立效方</h3>
<p>好明礬（如黑豆大一塊）　山梔子（一個，剝去皮）</p>
<p>上將二味咬碎，用無糨絹帛包定，用井花水半小盞浸之，候水浸透，水黃，洗眼三二十次，</p>
<h3>黃連膏</h3>
<p>治一切眼疾。（刀提領傳得效方。）</p>
<p>黃連（十兩，去須）　蕤仁（三錢，去殼，研）　杏仁（七十個，湯泡，去皮尖）　木賊（七錢，上將藥各擇洗淨，用水一斗浸之，春秋三日，夏二日，冬五日，入鍋內熬至半升再用水七升，熬至小半升，濾出，再用水五升，熬至不到半升，取出，用重絹濾過升，傾於碗內，重湯煮為膏子，盛於瓷器內，每用米粒大，於盞內用水一滴濃化開點之三五遍，口內覺苦立效。</p>
<h3>靈光還睛膏</h3>
<p>治一切眼疾。</p>
<p>川黃連（一兩，銼如大豆許，用童子小便浸一宿，濾去滓，晒乾，為末）　黃丹（三兩，水飛一錢。另研）</p>
<p>麝香（另研）　乳香（另研。各半錢）　爐甘石（六兩，炭火在鐵片上燒紅透，於黃連汁內蘸之依前燒七次，研為末）</p>
<p>上一十味俱為細末，用白沙蜜一十兩，銀器內或砂鍋內亦可，先熬五、七沸，以淨紙搭去面攪至時洗</p>
<h3>撥雲膏</h3>
<p>治男子婦人諸般眼患，不問年遠日近。</p>
<p>黃丹（四兩，細研，水飛）　爐甘石（四兩，用童子小便　淬五七次，研細，黃連水洗五、七香蛸（研去上件修合各如法，研細，用白沙蜜一十五兩，慢火熬，初沸下黃丹，二沸下爐甘石，三沸下</p>
<h3>畫粉散</h3>
<p>治鼻衄血出不止，一、二服除根。</p>
<p>白土（即畫匠所用畫粉）</p>
<p>上極細研，每服五錢，新井花水調服立止。</p>
<h3>檳榔散</h3>
<p>治鼻頭赤。</p>
<p>雞心檳榔　舶上硫黃（各等分）　片腦（少許）</p>
<p>上為細末，用糨絹帛包裹，時時於鼻上搽磨，鼻聞其臭效，又加蓖麻子肉為末，酥油調，臨</p>
<h3>又方</h3>
<p>枇杷葉（一兩，去毛，陰乾，新者佳）　梔子（半兩）</p>
<p>上為細末，每服二、三錢，溫酒調下，早晨服，先去左邊。臨臥服，去右邊，效如神。</p>
<h3>薑蠍散</h3>
<p>治耳聾神效。</p>
<p>全蠍（四十九個，去蠆）</p>
<p>上將蠍泡濕，用糯米半升於大瓦上鋪平，將蠍鋪於米上，焙令米黃為度，去米不用，又切生日先其人</p>
<h3>蚰蜒入耳方</h3>
<p>蝸牛上將蝸牛全捶碎，置於耳邊即出。</p>
<h3>治耳聾方</h3>
<p>用蒼朮一塊，長七分，將一頭削尖，一頭截平，將尖頭插於耳內，於平頭上安箸頭大艾炷灸</p>
<h2>十、發齒門</h2>
<h3>丁砂散</h3>
<p>掠髭發。</p>
<p>大訶子（一個）　母丁香（一十五個）　百藥煎（一錢）　針砂（少許，醋炒七次）　高茶末上為極細末，用水一大碗，熬數沸，不去滓，收於淨瓷器內，每夜臨臥，溫漿洗淨髭發，用</p>
<h3>妙應散</h3>
<p>牢牙、疏風、理氣、黑髭發。</p>
<p>白茯苓　遼參　細辛（去葉）　香附子（炒，去毛）　白蒺藜（炒，去角）　川芎　縮砂（以上各上為細末，臨臥，早晨溫水刷之。</p>
<h3>三青膏</h3>
<p>烏髭發。</p>
<p>生胡桃皮　生石榴皮　生柿子皮上先將生酸石榴剜去內穰子，揀丁香好者，裝滿通秤分兩，然後卻將胡桃皮、柿子皮與所裝馬糞中也</p>
<h3>刷牙藥</h3>
<p>南岳批降此方。</p>
<p>豬牙皂角及生薑，西國升麻熟地黃，木律旱蓮槐角子，細辛荷蒂用相當，青鹽等分同燒，</p>
<h3>菊花散</h3>
<p>治頭發脫落洗發。</p>
<p>甘菊花（二兩）　蔓荊子（一兩）　干柏葉（一兩）　川芎（一兩）　桑白皮（一兩，淨）　白芷（一兩上件為　咀。每次用藥二兩，漿水五大碗，煎至三碗，去滓，洗頭。</p>
<h3>滋榮散</h3>
<p>長養發，發落最宜。</p>
<p>生薑皮（焙乾，一兩）　人參（一兩）</p>
<p>上為細末，每用生薑一塊，切斷蘸藥末於發落處擦之，二日一次用。</p>
<h3>沉香散</h3>
<p>治刷牙，堅固牙齒，榮養髭發。</p>
<p>沉香（二錢半，鎊）　白檀（一錢半，鎊）　苦楝子（破四片炒，半兩）　母丁香（一錢半）　細辛兩，炒去毛）</p>
<p>腦（半錢，研）　麝香（半錢，研）</p>
<p>上為細末，每用半錢，如常刷牙，溫水刷漱了，早晚二次用。</p>
<h3>追風散</h3>
<p>治諸般牙疼。</p>
<p>貫眾　鶴虱　荊芥穗（以上各等分）</p>
<p>上為　咀。每用二錢，加川椒五十粒，用水一碗，煎至七分，去滓，熱漱吐去藥立效。</p>
<h3>訶子散</h3>
<p>烏髭發。</p>
<p>訶子（兩個，去核）　沒食子　百藥煎（三兩）　金絲礬（一兩半，研）　針砂（三兩，用好醋一上將蕎面入針砂打糊，先夜，將針砂糊抹在頭上，用荷葉包到天明，用溫漿水洗淨，次夜，用荷葉包到天明，用溫漿水加數點清油在內洗淨，其發黑且光。</p>
<h3>五神還童丹</h3>
<p>堪嗟髭發白如霜，要黑原來有異方，不用擦牙並染發，都來五味配陰陽，赤石脂與川椒炒，雙，赤石脂　川椒　辰砂　茯神　乳香（以上各一兩）</p>
<p>此方乃仙家傳授，無問老少皆可服。</p>
<p>香附子（去毛，炒熟，一兩）　大黃（火煨）</p>
<p>上用橡子二十個，內一十八個裝滿青鹽，於沙器內蓽擺定。用碗蓋之，燒存性，與生橡子二</p>
<h3>神仙長春散</h3>
<p>治牙齒動搖疼痛，牢牙黑髭發，至老不白，深有神效。（太平宣差傳。）</p>
<p>皂角（一斤，去皮弦，蟲蛀不用）　食鹽（四兩，二味同燒煉）　香附子（淨四兩，炒去毛）　青鹽（四兩，研）　牛蒡子（四兩，炒）　蓮花蕊（一兩）　藿香（一兩）　旱蓮草（一兩）　麝香（一分，研）　腦子（一分，研）</p>
<p>上將皂角銼碎，用小瓦盆二個，上盆底鑽小孔三個，下盆裝一重皂角，一重食鹽，四兩都裝每日</p>
<h3>風牙疼</h3>
<p>細辛（去葉）　草烏頭（各等分）</p>
<p>上為細末，先以冷水漱淨，用手指點藥擦牙，須臾立愈。</p>
<h3>蟲牙疼</h3>
<p>天仙子不以多少，燒煙，用竹筒抵牙，引煙熏之，其蟲即死，永不再發。</p>
<h3>掠髭鬢方</h3>
<p>白檀末（一錢）　香白芷（一錢）　白芨（一錢）　三奈子（三錢，面包燒熟為度）　滑石（研）</p>
<p>零上為細末，用漿水一大盞，藥末一錢，用瓷器內收盛，如法蓋覆，勿令灰塵坐落，早晨梳洗畢掠之，不過十數日有驗。用盡再添漿水藥末。</p>
<h3>蒺藜散</h3>
<p>治打動牙齒。</p>
<p>蒺藜根上燒灰貼，動牙即牢。</p>
<h3>干洗頭藥方</h3>
<p>香白芷　零陵香　甘松　滑石（研）</p>
<p>上各等分為細末，摻於發內梳篦。</p>
<h3>治牙齒動搖</h3>
<p><u>出總錄方。</u></p>
<p>黑錫（半斤，大鍋內溶成汁，於入桑條灰，柳木捶研合成沙）</p>
<p>上一味，以熟絹羅為末，每日早晨如常擦牙後，用溫水漱在盂內，以水洗眼，能明目黑髭發</p>
<h2>十一、咽喉門</h2>
<h3>羅青散</h3>
<p>治咽喉單雙乳蛾。</p>
<p>蒲黃（五錢）　羅青（三錢，研）　盆硝（三錢，研）　甘草（二錢，研）</p>
<p>上為細末，每服一錢，冷蜜水調，細細咽之。吞不下，雞翎蘸藥喉內掃之立效。</p>
<h3>粉香散</h3>
<p>吹乳蛾即開。</p>
<p>白礬（三錢）　巴豆（二粒，去皮）　輕粉（少許）　麝香（少許，研）</p>
<p>上於鐵器上飛白礬至沸，入巴豆在上，礬枯，去巴豆不用，為細末，三味和合吹喉。</p>
<h3>治喉風單雙乳蛾</h3>
<p>牆上土蜂窠（一個，碾極細）</p>
<p>上先用楮葉，將病患舌用葉擦破，微令血出，將蜂窠土用醋調，用鵝毛蘸藥，於喉中捻之，口，</p>
<h3>治急喉風</h3>
<p>燈草（用手一大握，除去兩頭）</p>
<p>上將燈草用新瓦一個盛之，又用新瓦一個盒之，以火焚燒成灰，再將鹽一大匙頭，就於瓦上</p>
<h3>啞瘴咽喉乳蛾方</h3>
<p>雄黃（五錢，研）　鬱金（五錢）　白礬（二錢半，生用，研）　膽礬（半錢，研）</p>
<p>上為極細末，以竹筒吹入喉中，立能言語。</p>
<h3>一捻金散</h3>
<p>治乳蛾及風熱上攻，咽喉腫痛。</p>
<p>真僵蠶（去絲嘴三條，薑汁浸濕，炙黃色）　防風（鼠尾者，去叉，二錢）　明礬（三錢，研）上為極細末，用竹筒吹於喉內立愈。</p>
<h2>十二、雜治門</h2>
<h3>治針入肉不出</h3>
<p>臘姑腦子捶爛塗上即出。</p>
<p>上用硫黃研細，調貼，以紙花貼定，覺癢時其針即出。</p>
<h3>又方</h3>
<p>針入肉不得出者，用雙杏仁搗爛，以車脂調勻，貼在針瘡上，其針自出。</p>
<h3>魚骨鯁在喉中</h3>
<p>用軟餳一塊令食之即下，極妙。</p>
<h3>治竹木刺扎入深不得出</h3>
<p>烏羊糞上將烏羊糞爛搗，用水和奄於傷口濃敷之，曾有一莊仆腳心中刺不得出，痛苦欲死，以此藥</p>
<h3>淋澀諸般沙石者</h3>
<p>琥珀（二錢，明者，細）</p>
<p>上為細末，空心，用蔥白濃煎湯下調服，無問諸般淋證，一二服立效。</p>
<h3>釐清飲</h3>
<p>通心氣，補漏精，治小便余瀝並赤白濁。</p>
<p>益智仁　川萆　石菖蒲（鹽炒）　天台烏藥上等分，銼為散，入鹽少許，煎。空心服。</p>
<h3>絳宮湯</h3>
<p>治三焦氣滯，腹脅生痛，因服熱藥，引入下焦，膀胱受熱，小便淋澀，臍下脹痛。</p>
<p>露蜂房　血余（各三兩）　白茅根（五錢）</p>
<p>上為細末，入生麝香少許，每服二錢，食前溫酒下，淋止，不須服。甚者不過三、五服有效</p>
<h3>通治還少丹</h3>
<p>治心腎俱虛，漏精白濁。</p>
<p>山藥（炮）　牛膝（去苗，焙）　山茱萸（水洗，去核）　白茯苓　舶上茴香（炒。各一兩半）</p>
<p>菟上為末，煉蜜丸，如梧桐子大，每服三十丸，鹽湯下。</p>
<h3>雄靈散</h3>
<p>治毒蛇所傷，昏悶欲死者。</p>
<p>五靈脂（一兩，真者，酒洗去砂石，干用）　雄黃（半兩，明好者，研）</p>
<p>上為細末，每服二錢，酒調灌之，就以藥末調塗傷瘡口，良久，再服一服，神驗。</p>
<h3>雄黃散</h3>
<p>治毒蛇所傷。</p>
<p>雄黃（無問多少）</p>
<p>上為細末，用萵苣菜自然汁捏為餅，好酒調化服，就用藥塗傷處。</p>
<h3>雄辛散</h3>
<p>治惡蛇及瘋犬所傷。</p>
<p>細辛蓽茇及雄黃，好酒研來入麝香，不問惡蛇並惡犬，管教一服便安康。</p>
<p>上各等分，為細末，每服二錢，好酒調下。</p>
<h3>瘋狗咬</h3>
<p>用核桃殼半個，將野人干（即人之大糞也）填滿，以榆皮蓋定，掩於傷處，用艾於桃核上灸二七十四炷即愈，永不發作。</p>
<h3>敷藥</h3>
<p>破傷風欲死者，用蜈蚣碾為細末，擦牙，吐去涎沫立蘇。</p>
<h3>玉真散</h3>
<p>治破傷風及金刃傷、打撲傷損，昔張叔潛知府宰清流日，以此二方授直廳醫者，救欲死者數天南星　防風上等分為細末，破傷風以藥敷貼瘡口，然後用藥一錢，溫酒調下，如牙關緊，角弓反張，用心方</p>
<p>亦張叔潛知府得之朝醫李子濃。</p>
<p>黃臘一塊，用熱酒化開服，立效，與前治破傷風玉真散一對連用。</p>
<h3>解毒散</h3>
<p>治毒蛇、射工、沙虱等傷著人，眼黑口噤，手足直強，毒瓦斯入腹。</p>
<p>白礬（研）　甘草（各等分）</p>
<p>上為細末，每服二錢，冷水調下。</p>
<h3>丁香散</h3>
<p>治反胃吐食，水不能停。</p>
<p>黑錫（一錢半，又名黑鉛）　水銀（一錢半。二件一處於慢火上結沙子為細末）　丁香（三錢）</p>
<p>上為細末，用小黃米湯調，每服三錢，再用生薑自然汁三錢，調一處，空心服之。</p>
<h3>千轉丹</h3>
<p>治反胃吐食等病。</p>
<p>牛涎（半斤）　好蜜（半斤）　木鱉子（三十個，去皮油）</p>
<p>上為細末，牛涎、蜜一處於銀器內，用慢火熬，用槐條七枝攪之，煨干為度，每和白粥兩匙</p>
<h3>急救仙方</h3>
<p>專治反胃，反胃之病，十有九死，非藥不效，良因輒強以食，先飲以羹湯，是速其吐，今得則以</p>
<p>好甘蔗搗汁七升，生薑汁一升，打和分作三服。</p>
<p>紅棗子一個，去核，裹全斑蝥一個，用文武火煨畢，去蝥用棗，空心服之，白湯送下。</p>
<h3>九仙餅</h3>
<p>治反胃。</p>
<p>人參　南木香（不見火）　南星（薑汁洗七次。各二錢）　甘草（一錢）　半夏（薑汁洗七次，五汁浸，炒錢連調</p>
<h2>十三、瘡腫門</h2>
<h3>內托千金散</h3>
<p>治腦背癰疽，乳便等惡瘡。（鄭善明御史救人驗。）</p>
<p>人參　當歸　黃　芍藥　川芎　防風　甘草　栝蔞　白芷　官桂　桔梗（以上各三錢）</p>
<p>金上為　咀，每服須秤藥七八錢重，水二大盞，煎至七分，入酒半盞，去滓，溫服。如痛甚者汗出用針</p>
<h3>搜膿散</h3>
<p>瘡內有膿，不能自出，如是透深者，用紙拈蘸藥於瘡口內。</p>
<p>白芍藥（三錢）　川芎（一兩）　香白芷（一兩）　輕粉（三錢）</p>
<p>上為細末，瘡平者，摻藥在上。</p>
<h3>生肌散</h3>
<p>治瘡口不合。</p>
<p>沒藥（一錢）　黃丹（一錢，水飛過用）　赤蘞（一錢）　枯白礬（一錢）　白膠（二錢）　黃柏（一上為細末，先煎蔥白鹽湯洗淨，　干，敷藥末於瘡口上。</p>
<h3>白芷散</h3>
<p>治身上諸般惡瘡，及小兒耳、項、頭疼。</p>
<p>斑蝥（五個）蟬殼（五個）輕粉（一錢）檳榔（三個）　香白芷（二錢）　蛇床子（二錢）　硫黃（二錢）</p>
<p>上為細末，羅過，卻入輕粉，再研極細，用香油調藥搽敷，立效。</p>
<h3>桃花散</h3>
<p>治諸瘡不合，生肌散赤蘞（炒）　白蘞（炒）　黃柏（炒，以上各三錢）　輕粉（一錢）</p>
<p>上為細末，用蔥白漿水淨洗上藥。</p>
<h3>拔毒散</h3>
<p>敷貼諸般惡瘡。</p>
<p>大黃　東牆上土上為極細末，用無根井花水調搽，如干再搽，經宿即愈。</p>
<h3>破棺丹</h3>
<p>治消疔黃走胤不止。（史相方。）</p>
<p>赤芍藥（二兩）　當歸（二兩）　山梔子（二兩半）　甘草　牽牛（頭末一兩半）　大黃（三兩半）</p>
<p>上為細末，煉蜜為丸，如彈子大，每服一丸，食前，用童子小便化開服之，病重者服一丸半</p>
<h3>防風當歸散</h3>
<p>治諸般瘡癤等毒熱瘡。</p>
<p>防風（半兩）　甘草節（半兩）　赤芍藥（半兩）　綿黃　（半兩）　當歸（半兩）　白芷（半兩）</p>
<p>左上為　咀，水四碗，砂瓶內煎至二碗，入好酒一碗，再煎至二碗，放溫，作數起服。內皂角刺，左纏藤加眾藥五倍。</p>
<h3>返魂丹</h3>
<p>治十三種疔瘡。</p>
<p>朱砂　膽礬（各一兩半）　血竭　銅綠　蝸牛（各一兩。生用）　雄黃　白礬（枯。各二兩）</p>
<p>輕上將七味為末，和搗蝸牛、蟾酥極爛，和藥時旋入藥為丸，如雞頭大，每服一丸，令病人先汗出驗，</p>
<h3>青露散</h3>
<p>治背疽一切惡瘡，圍藥不胤開白芨　白蘞　白薇　白芷　白蘚皮　朴硝　青黛　黃柏　大黃　天花粉　青露散（即芙蓉葉）</p>
<p>上件各等分，為細末，用生薑自然汁調，圍敷，如干時，再用薑汁潤。</p>
<h3>吸筒</h3>
<p>以慈竹為之，削去青。</p>
<p>五倍子（多用）　白礬（少用些子）</p>
<p>上二味和筒煮了收起，用時再於沸湯煮令熱，以筋箕筒乘熱安於患處。</p>
<h3>保生錠子</h3>
<p>治疔瘡。</p>
<p>金腳信（二錢）　好雄黃（二錢）　砂（三錢）　輕粉（半厘）　麝香（一錢）　巴豆（四十九個，上為細末，用黃臘一兩溶開，和藥成錠子，水浸少時，取出，用藥時旋捏餅子如錢眼大，將疔瘡用羊骨針撥開，安藥在瘡口內，以膏藥貼之，無膏藥，面糊貼。</p>
<h3>金砂散</h3>
<p>治疔瘡。</p>
<p>砂（好者）　雄黃（好者）</p>
<p>上等分研細，將生蜜就，於角盒子內收貯，遇患先用銀篦兒挑破瘡口，擠出惡血，然後用藥</p>
<h3>內托香粉散</h3>
<p>滴乳（半兩，另研）　真綠豆粉（一兩）</p>
<p>上為細末，煎生甘草湯調三錢，時時飲之，常令灌潤胸膈。</p>
<h3>栝蔞散</h3>
<p>治便癰等惡瘡。</p>
<p>栝蔞（一個，去皮）　生薑（半兩）　甘草（半兩）　金銀花（三錢）　牛蒡子（三錢，微炒）</p>
<p>上將藥不犯銅鐵器捶碎，用酒一大升，煎數沸，空心溫服，微利為度。</p>
<h3>二烏散</h3>
<p>治發背蜂窩、疔瘡便毒等證。</p>
<p>川烏頭（一個）　草烏頭（一個）</p>
<p>上將新瓦一個，汲新水一桶，將川烏頭、草烏頭，並瓦俱浸於水桶內。如無新瓦，於房上取如未此不</p>
<h3>摻藥</h3>
<p>治諸瘡口膿水不干。</p>
<p>白龍骨（二分）　寒水石（三分）　虢丹（飛，一分）</p>
<p>上為細末，干貼瘡。一料以六分為率。</p>
<h3>砂草油</h3>
<p>治人食毒物，及患一切惡瘡。</p>
<p>硼砂（四兩）　甘草（四兩）</p>
<p>上二味，用真香油一斤，於瓷瓶內浸藥，遇患，急令患人服油一小盞立效，浸久尤佳。</p>
<h3>一浴散</h3>
<p>治疥瘡熱毒，清油調搽。</p>
<p>硫黃　雄黃　漢椒　玄精石　枯白礬（各等分）　輕粉（少許）</p>
<p>上欲治疥，時早起空心，飽食干物，勿食飲湯，煎大防風通聖散一貼，入白砂蜜二兩，送神洗，</p>
<h3>瘡黃蠟膏</h3>
<p>槐條　椿皮　桃條　楝條　柳條　荊芥上件熬湯，無時蕩洗，用無糨絹帛　干，用生黃蠟於紙上，量瘡大小攤膏藥一十個，將十層必然</p>
<h3>治惡瘡膏海上方</h3>
<p>燕窩內外泥糞，俱研極細，羅過，用油調搽。</p>
<h3>妙功散</h3>
<p>治疥瘡。</p>
<p>黃柏　蛇床子　白礬（各等分）</p>
<p>上為細末，用後藥煎油調搽。</p>
<p>清油（二兩）　黃柏　花椒　巴豆（數粒）　蔥（三莖）　厚朴　枳殼（各少許）</p>
<p>上件同清油一處，熬數沸，濾去，將妙功散於熱油內，更加　燭一、二枝，於冷調搽。</p>
<h3>黃連獨活散</h3>
<p>治背疽，一切惡瘡，初發腫甚者，服三四服即消散。</p>
<p>羌活（一錢半）　獨活（半錢）　防風（半錢）　本（一錢半）　君黃芩（一錢半）　黃連（五分）</p>
<p>酒浸）　連翹（分）　蘇木（錢半）　漢防己（上為　咀，只作一服，水一碗，煎至五分，入好酒半盞，臨臥服，便將滓煎服之，節續服即瘥。</p>
<h3>十全內托散</h3>
<p>托裡，成膿服之。</p>
<p>人參（二兩）　當歸（二兩）　黃　（二兩）　官桂（二兩）　甘草（一兩）　製厚朴（一兩）　桔梗（上為　咀，每服三、五錢，水二盞，生薑五片，煎至八分，去滓通口服。</p>
<h3>螵蛸散</h3>
<p>治頭上瘡，俗曰黏瘡，絕妙方。</p>
<p>海螵蛸（二錢）　白膠香（二錢）　輕粉（五分）</p>
<p>上將海螵蛸、白膠香同研細羅過，卻入輕粉，再於乳缽內煞研極細，敷貼瘡時，先用清油將</p>
<h3>治瘡方</h3>
<p>好粉用香油調在碗裡，上用艾燒煙熏黃色，要勻抹在瘡上，有效。</p>
<h3>治疔瘡海上方</h3>
<p>蟬殼（七個，煨為末）</p>
<p>上為極細末，用蜜調搽瘡口。</p>
<h3>剪草散</h3>
<p>專治頑癬久不好者。</p>
<p>梗樹皮（八兩，杭州殼）　剪草（四兩）　白芨（四兩）　巴豆（十四個，連殼碾）</p>
<p>上為細末，新汲水調如糊，濃濃敷於癬上，干去之，再敷立效，不須抓破。</p>
<h3>治下疳立效散</h3>
<p>燈心灰入輕粉、麝香少許，干貼。</p>
<h3>立馬回疔丹</h3>
<p>治疔瘡走胤不止。</p>
<p>金腳信（五分）　蟾酥（五分）　血竭（五分）　朱砂（五分）　輕粉　龍腦　麝香（三味各一字）　沒藥上為細末，生草烏頭汁為丸如麥子大，用時將瘡頂刺破，將藥一粒放瘡口內，第二日瘡腫為</p>
<h3>黃飲子</h3>
<p>治一切惡瘡。</p>
<p>金銀花（一兩）　當歸（一兩）　連翹（半兩）　黃　（半兩）　生甘草（三錢）　大黃（三錢）</p>
<p>栝蔞上件　咀，用水一大碗，藥一兩，浸一宿，慢火熬至稠作聲，入好酒一升，再煎三二沸，去</p>
<h3>善應膏</h3>
<p>治惡瘡，癰疽腫癤，發背瘰　，寒濕氣冷刺痛，皮膚頑麻，手腫，打撲腰骨，閃肭血氣，毒婦葷黃丹（五斤，水飛）　乳香（二兩）　沒藥（二兩）　木鱉子（一兩）　白芷（一兩）　白芨（一兩）</p>
<p>（五斤）　柳枝（一上件除乳香、沒藥、血竭、黃丹外，其余藥油內浸三日，炭火上成鍋內熬令黃色，濾去藥滓只管合宜春三月，七月。</p>
<h3>治瘡腫濕瘡方</h3>
<p>黃連（生用）　輕粉（生用）　海螵蛸（生用）　韶粉（　）　蛤粉（生用）　橄欖核（燒灰）　黃柏皮上為極細末，干貼立效。</p>
<h3>治男子下疳瘡方</h3>
<p>白礬（　過）　輕粉　麝香　蠐螬（就活壓去尿，焙乾）</p>
<p>上為細末，貼瘡，日上三兩次，先以口含漿水洗淨，　干用藥。</p>
<h3>治腎惡瘡方</h3>
<p>雞內金（瓦上焙乾）　川百藥煎（各等分）　輕粉（一錢）　胡黃連上為細末，燒厚朴油調搽之。</p>
<h3>治金瘡方</h3>
<p>黃柏（四兩，好者，去粗皮）　黃連（三兩，去須淨，銼）　黃葵花（三兩，焙乾）　降真香末（兩）　烏賊骨（三兩，二味同研為末，旋入）　真龍骨（一兩，乳缽旋另研入）　密陀僧（一兩，研細）</p>
<p>真血竭（一兩）　麝香（二錢，旋入）　輕粉（一錢）　韶粉（一兩）　滴乳（二錢，另研，同於乳缽內再細研，旋入黃丹）　黃丹（三兩，水飛過，研）</p>
<p>上為一處合和令勻，用好紙包裹令密，勿令透氣，候三日方可用，須十分研細為佳。凡遇金用唾去血</p>
<h3>治血聚皮不破</h3>
<p>蘿卜葉研細，罨傷處，以帛縛之。</p>
<h3>萬應膏</h3>
<p>治一切惡瘡及刀斧所傷，蛇咬，狗咬，蟲傷，牙痛，心痛，眼痛，腹痛，香港腳，骨節疼痛，十丸當歸　芍藥　白蘞　白芨　白芷　木鱉子　杏仁　輕粉　乳香　黃　（以上各一兩）　巴豆（余（三兩）</p>
<p>上件先將乳香、沒藥、黃丹、雄黃、白礬、另研極細外，將余藥銼碎，同槐柳條各二兩，銼根下傾於水盆內，浸一宿，出盡火毒，於瓷器內盛之，其功效不能盡述。</p>
<h3>治發背諸惡瘡疼不可忍</h3>
<p>用糞缸內底上青泥，取出陰乾，為細末，用新水調敷，其痛立止。</p>
<h3>治疔瘡</h3>
<p>危篤者，二服即愈，輕者一服即效。</p>
<p>土蜂房（一小窠，全）　蛇蛻（一條，全）</p>
<p>上作一處，器皿中盛，用黃泥封固，火　存性，研為細末，每服一錢重，空心，好酒調服，</p>
<h3>五聖散</h3>
<p>大黃（一兩）　生薑（一兩）　栝蔞（一個）　皂角針（二兩）　甘草（一兩）</p>
<p>上為　咀，用好酒二升，同煎至八分，去滓服，不拘時候，溫服。</p>
<h3>瘡藥方</h3>
<p><u>監司傳此方見效。</u></p>
<p>輕粉（一錢）　黃連末（二錢）</p>
<p>上用豬膽一個，針刺七孔，滴下膽汁，盞內調成稠糊，用竹攤滿瘡口捻白紙數層蓋藥，以無</p>
<h3>經驗加麒麟乳香膏</h3>
<p>治諸瘡腫硬疼痛，及膿潰，肌肉腐爛，兼治腐肉不退。</p>
<p>南乳香（一兩）　沒藥（半兩）　松脂（五兩）　天台烏藥　木鱉子（三錢，用仁去皮，二錢）</p>
<p>當上為九味，除乳香、沒藥、松脂、血竭等四味外，用前項小油浸烏藥等四味，計五日，慢火</p>
<h3>替針丸</h3>
<p>專治一切瘰　惡瘡。（五哥參政傳。）</p>
<p>龍腦（三分）　麝香（五分）　輕粉（一錢）　粉霜（一錢）　雄黃（一錢，朱色者）　白丁香（二錢上件為細末，大麥面為丸，如小麥粒大。如用時觀瘡大小加減用，如瘡破者兩丸；如瘡小不此方</p>
<h3>遇仙無比丸</h3>
<p>專治瘰　。（五哥參政傳。）</p>
<p>白朮（生）　檳榔（生）　甘草（生）　牽牛（一半生，一半熟炒）　郁李仁（湯浸，去皮）　密陀僧上為末，面糊為丸，如梧桐子大，早晚煎甘草、檳榔湯送下，每服二十丸，至月後，覺腹中</p>
<h3>透膿散</h3>
<p>治諸癰瘡及貼骨癰不破者，不用針刀，一服，不移時自透，累有效驗。</p>
<p>蛾口繭（用出了蛾兒的繭兒）</p>
<p>上將繭兒一個，燒灰，用酒調服即透，切不可二個、三個繭兒燒服。若服一個，只一個瘡口</p>
<h3>治瘰瘡</h3>
<p>用乾薑不以多少，研為細末，用生薑自然汁打面糊和作劑子，國丹為衣，每日一次，隨瘡大即愈為末，</p>
<p>人參（去蘆）　當歸（去蘆，酒洗浸）　黃　（去蘆）　川芎　防風（去蘆）　香白芷　肉桂（不見上件各等分，為　咀，每服四錢，用無灰酒二盞，煎至一盞，食後溫服，並滓再煎，每服，</p>
<h3>神效回生膏</h3>
<p>治癰疽癤毒，遠近　瘡，打撲跌折傷損，暗毒發背，刀斧所傷，箭頭在肉，蛇蠍所傷，並皆上將前六味樹條嫩者，每件各二十條，每條長二寸，通計一百二十條，剝取嫩皮，用清油三白芷　白芨　白蘞　當歸　大黃上將黃丹（十二兩）</p>
<p>上用黃丹十二兩重，分作三次，下於油內熬令黑色，將箸觜蘸藥油滴水內，不散為度。</p>
<p>血竭　雄黃　乳香　沒藥（以上各五錢）　輕粉（三錢）</p>
<p>上為極細末，放油微溫，下前藥於油內，以瓦罐盛之，蓋口，埋土內三日，去火毒，任意攤</p>
<h3>膏藥方</h3>
<p><u>汴梁寶符梵院。</u></p>
<p>川當歸（去蘆）　川芎　芍藥　黃　香白芷　黃芩　黃連　黃柏皮　桑白皮　白芨　白蘞藥（各上以上二十四件，銼為粗末和勻，以好澄清油半斤，連黃臘、白膠於鐵鐺內煎溶，卻下前藥麝香上用前藥，逐時挑在油內，不住手以箭干大楊柳枝攪，火上煉至黑色，時復滴些在冷水盞內愈者雞犬</p>
<h3>膏注</h3>
<p>當歸　附子　川芎　防風　白蘞　升麻（去蘆）　細辛　側柏　萆　（各銼）　甘草　桑白皮上件十八味，並細銼研，以清芝麻油二斤，於新瓷器內浸藥一宿，後納鐺中，用文武火煉，雄黃（半兩，細研）　朱砂（一分，細研）　麝香（半兩，細研）　硫黃（一分，細研）</p>
<p>黃丹（五黃蠟（四兩）凝藥後稍過，傾入瓷器內盛之，勿令塵污，其藥滓，可再用，候清油浸一宿，再煎候稠，入發背用好酒調兩匙，日進兩服，外貼三日一換；瘰　漏瘡見骨者貼之；疽瘡、風腫、痹癬，箭入氣；不問如神</p>
<h3>秘傳隔紙膏</h3>
<p>治　瘡年月深久不愈者。</p>
<p>老松香　樟腦　穀丹（炒）　水龍骨（即舊船鍛石）　輕粉（不愈加）　白芷　川芎　螵蛸上總為細末，熔化松香，少加清油和之，以油紙隨瘡大小，糊袋盛藥夾之，用水洗瘡，縛在</p>
<h3>又方</h3>
<p>無名異細研，清油調搽，濕則干敷其上。</p>
<h2>十四、婦人門</h2>
<h3>八珍散</h3>
<p>治月水不調，臍腹　痛，全不思食，臟腑怯弱，泄瀉，小腹堅痛，時作寒熱，此藥調暢榮衛當歸（去蘆）　川芎　熟地黃　白芍藥　人參（去蘆）　甘草（炙）　茯苓（去皮）　白朮（以上各上為　咀，每服三錢，水一盞半，生薑五片，棗一枚，煎至七分，去滓，不拘時候，通口服</p>
<h3>沉香散</h3>
<p>治婦人一切血氣刺痛不可忍者，及男子冷氣痛，並皆治之。</p>
<p>沉香　木香　當歸　白茯苓　白芍藥（以上各一錢）</p>
<p>上為　咀，每服一錢，水三盞，於銀石器內，不用銅鐵器，文武火煎數沸，入全陳皮一個，去滓</p>
<h3>白芷散</h3>
<p>治婦人難產，能救子母性命。</p>
<p>百草霜（一兩）　香白芷（半兩）</p>
<p>上為細末，每服一錢，水一盞，煎至七分，加童子小便，稍熱服。</p>
<h3>斗門散</h3>
<p>治婦人經脈逆行，血風攻腦，頭目旋悶，欲死，忽然倒地不省人事。</p>
<h3>喝起草</h3>
<p>上取其嫩心，不以多少，陰乾為細末，用常酒調服一大盞，不拘時候，其功最大，服之多者</p>
<h3>治婦人吹奶</h3>
<p>鼠糞（五十粒）　麝香（一字）</p>
<p>上為細末，食後，用熱酒一盞調服，立愈。</p>
<h3>蒲黃散</h3>
<p>治婦人血山崩，累驗秘方。</p>
<p>破故紙（炒黃）　蒲黃（炒）　千年鍛石（炒黃）</p>
<p>上各等分，為細末，每服三錢，空心，用熱酒調服，立止。</p>
<h3>又方</h3>
<p>治婦人血山崩不止。</p>
<p>婦人油頭發（半兩，燒灰）　千針草灰（半兩）</p>
<p>上為細末，每服三錢，淋，火　秤槌，酒調服。</p>
<h3>血竭散</h3>
<p>治婦人臍下血積疼痛。</p>
<p>血竭　乳香　沒藥（並另研）　水蛭（鹽炒煙盡）　白芍藥　當歸　麝香（以上各一兩）</p>
<p>虎骨（上為極細末，每服三錢，空心，溫酒調服。</p>
<h3>四制醋附丸</h3>
<p>治婦人女人經候不調。</p>
<p>香附子（一斤，帶毛，分作四份，一份好酒浸七日，一份米醋浸七日，一份小便浸七日，一上為細末，醋糊為丸，如梧桐子大，每服七十丸，空心食前，溫酒送下。肥人只依本方服並</p>
<h3>養氣丹</h3>
<p><u>在和劑局方。</u></p>
<p>治婦人年未及四十歲，天癸斷行，每服五丸，空心溫酒送下。</p>
<h3>芩心丸</h3>
<p>治婦人四十九歲以後，天癸當住，每月卻行或過多不止。</p>
<p>黃芩心（枝條者二兩重，用米醋浸七日，炙干，又浸又炙，如此七次。）</p>
<p>上為細末，醋糊為丸，如梧桐子大，每服七十丸，空心，溫酒送下，日進二服。</p>
<h3>四七湯</h3>
<p>治婦人女子小便不順，甚者陰戶疼痛。</p>
<p>半夏（一兩，湯泡七次）　厚朴（薑製）　赤茯苓（各半兩）　紫蘇葉（三錢）　甘草（二錢）</p>
<p>香附上為　咀，分作四服，每服水二盞，生薑五片，煎至七分，去滓，加琥珀末一錢，調服。</p>
<h3>治產後血痢</h3>
<p>生薑不拘多少，切作小棋子片，以面拌和，捏成毯子，慢火炒令焦黃，研為細末，米飲湯調</p>
<h3>產後血塊腹痛</h3>
<p>京芎（炒）　川當歸（炒）　乾地黃（洗）　芍藥（以上各半兩）　蒲黃（一分，銚內隔紙炒赤）</p>
<p>上同為細末，每服三錢，空心，溫酒調服。</p>
<h3>產後敗血不止</h3>
<p>乾地黃石器內搗為末，每服二錢，食前，熱酒調下，連進二服。</p>
<h3>砂散</h3>
<p>治胎死腹中不下。</p>
<p>砂（細研）　當歸（各一兩）</p>
<p>上二味，當歸極細另研，　砂為細末，只分作二次服，溫酒調下，無時服，如重車行五裡，</p>
<h2>十五、小兒門</h2>
<h3>褐子丸</h3>
<p>治小兒陰陽不和，臟腑怯弱，乳食不消，心腹脹滿，嘔逆氣急，或腸鳴泄瀉頻並，腹中冷痛八止蘿卜子（二兩，微炒）　陳皮（去白，一兩）　青皮（去白，一兩）　黑牽牛（一兩半，一半生用不見火）</p>
<p>上為細末，水煮面糊為丸，如梧桐子大，每服二三十丸，空心，用蘿卜子煎湯，或薑湯送下</p>
<h3>長生丸</h3>
<p>治小兒清上實下，補脾治痰。（出陳文仲方。）</p>
<p>木香（半兩）　檳榔（三兩，不見火）　枳殼（一兩，去穰，面裹煨）　丁香（三錢）　半夏（三錢上件除肉豆蔻外，七味同為細末，次入豆蔻，再研極細末，用飲和為丸，如粟米大，小兒每宜</p>
<h3>一捻金散</h3>
<p>治走馬牙疳，不能治者。</p>
<p>黃丹（飛）　白礬（飛）　青鹽（飛）　草錦（燒灰）　麝香（少許）</p>
<p>上各等分，為極細末，先用溫鹽漿水洗淨，無糨帛　干貼藥。</p>
<h3>如聖散</h3>
<p>治小兒口瘡，不能吃乳者。</p>
<p>江子（一粒或二粒）</p>
<p>上研爛，不去油，入朱砂或黃丹、赤土少許，剃開小兒囟門，貼在囟上，如四邊起粟米泡，</p>
<h3>十金散</h3>
<p>治小兒脾及積，其效速。</p>
<p>錦紋大黃（不以多少，為細末，用米醋熬成膏子，先用新磚瓦末羅於新磚瓦上，將大黃傾於上三味為極細末，每服米飲湯調下，一歲小兒服五分；二三歲服一錢；十歲以下服二錢；十馬口</p>
<h3>治小兒煉胤瘡方</h3>
<p>黑驢糞晒乾燒灰，清油調搽立效。</p>
<p>治小兒出瘡疹，眼內有云翳方：輕粉　黃丹（各等分）</p>
<p>上為竹筒吹在耳內，左眼有翳吹右耳，右眼有翳吹左耳，翳即退。</p>
<h3>治小兒丹瘤</h3>
<p>綿羊腦子（生用）　朴硝上二味，調勻，貼於瘤上，立效。</p>
<h3>神效萬金丹</h3>
<p>治小兒慢驚風、急驚風，十無一失。</p>
<p>朱砂　真輕粉上二味，不以多少，用青蒿內蟲兒取出，於淨瓷盞內，將朱砂、輕粉以蟲汁就成丸，如黃米取</p>
<h3>萬金丹</h3>
<p>治小兒急慢驚風，亦曾得效，無如前方效速。</p>
<p>朱砂（五錢，別研）　麝香（二錢半，別研）　真珠（錢半）　白僵蠶（十個，炒）　琥珀（一錢，不以多少）</p>
<p>天南星（一錢）　鉤藤（五錢）　巴豆（五粒，去皮油）</p>
<p>上為細末，用薄荷湯打糊為丸，如麻子大，一歲小兒服一十八丸，看兒大小加減丸數服之，</p>
<h3>磨積丸</h3>
<p>專治小兒疳積、泄瀉等疾。</p>
<p>京三棱　蓬莪朮　陳皮（去白）　青皮（去白）　神麯（炒）　麥芽子（炒）　川鬱金　胡黃連香君上為細末，米醋糊為丸，如豌豆大，每服三十丸，糯米湯送下，茶湯亦可，虛弱加木香；虛</p>
<h3>灸小兒脾神法</h3>
<p>未灸之前，先於土田地上畫個十字，於十字中心先灸一炷，人云不灸天神，不灸地神，只灸脾神，灸畢，然後灸病兒，男左手，女右手，用竹片四五寸長，令小兒搦定拳頭，將竹片於腰眼下左右隱然有二坑窩處，將Λ此樣竹二尖頂壹窩穴，中尖落處即腰眼也。如此比定KT（窩窩），以上尖為腰眼穴，其艾炷驗小兒歲大小病勢輕重加減，小者如箸頭大，大者如小指尖，多者灸四七，少者灸三七，灸畢，男於左腳腕上凹中窩穴內拔出火氣，小兒三歲以下灸三炷，片，下邊盡處則灸二七。病發者日，瘡愈則有效驗，賴此法以活，余人</p>
<h3>治小兒大人熱丹瘡成片</h3>
<p>可取絲茅草葉，將丹瘡刮破，即愈。</p>
<h3>治走馬牙疳</h3>
<p><u>汴梁大紅鞋李提領方。</u></p>
<p>小遺盆內白屑取下，用瓷罐內盛貯，用泥固濟，炭火　紅取出，將白屑細研入麝香少許，貼</p>
<h3>大黃膏</h3>
<p>治小兒大人痹癖。</p>
<p>大黃　朴硝（各等分）</p>
<p>上為細末，同蒜泥和成膏，用絹帛攤成膏藥，貼於病處，其脾病自軟消。</p>
<h3>白丁香丸</h3>
<p>治大人小兒癖積。</p>
<p>白丁香（雀兒糞也）　黑丁香（二錢）　木香（二錢）　密陀僧（三錢）　硫黃（二錢）</p>
<p>訶子皮輕上為細末，每服一錢，用奶汁調服，女兒用男兒奶汁，男兒用女兒奶汁調服，食前，半飢半</p>
<h3>葛根麥門冬散</h3>
<p>治小兒熱毒斑疹，頭痛壯熱，心神煩悶。</p>
<p>葛根　麥門冬（去心。各三錢）　人參（去蘆，二錢）　石膏（半兩）　川升麻　甘草　茯苓（各上為粗散，每服三錢，水一大盞，煎至六分，去滓溫服，不計時候，量大小增減服。</p>
<h3>生地黃散</h3>
<p>治小兒斑駁疹，身熱口乾，咳嗽心煩。</p>
<p>生地黃（半兩）　麥門冬（去心，七錢）　杏子　款冬花　陳皮（各三錢）　甘草（二錢半，炙）</p>
<p>上為粗散，每服三錢，水一大盞，煎至六分，去滓，溫服，不計時候，量大小加減服。</p>
<h3>惺惺散</h3>
<p>治小兒風熱瘡疹，時氣頭痛壯熱，目澀多睡，咳嗽喘。</p>
<p>桔梗　真細辛（去葉）　人參（去蘆）　甘草（炙）　白茯苓（去皮）　真川芎　白朮（各一兩）</p>
<p>上為粗散，每服三錢，水一大盞，薄荷五葉，生薑三片，同煎至六分，濾去滓，溫服，不拘</p>
<h3>四味升麻葛根湯</h3>
<p>白芍藥　川升麻（一兩）　甘草　葛根（一兩半）</p>
<p>上為粗散，每服三錢，水一大盞，煎至六分，去滓，溫服，不計時候。</p>
<h3>木香散</h3>
<p>瘡疹方治瘡疹，瀉利水穀，或瀉白色，宜煎此藥，並下七味肉豆蔻丸治之。非虛寒者不可用木香　大腹皮（銼細）　人參（去蘆）　桂心　赤茯苓（去皮）　青皮（去穰）　前胡（去蘆）</p>
<p>訶黎上為粗散，每服三錢，水一大盞，生薑三片，同煎至六分，去滓，空心溫服，量大小以意加</p>
<h3>異功散</h3>
<p>木香（三錢半）　官桂（二錢，去粗皮）　當歸（三錢半）　人參（去蘆，二錢半）　茯苓（去皮，豆蔻（二上為粗散，每服三錢，水一大盞半，生薑五片，肥棗三枚，煎至六分，去滓，空心溫服。</p>
<p>三此</p>
<h3>肉豆蔻丸</h3>
<p>木香　縮砂仁（三錢）　白龍骨（半兩）　訶子肉（半兩）　赤石脂（七錢半）　枯白礬（七錢半）</p>
<p>上為細末，稠面糊為丸，如黍米大。一周歲兒每服三、五十丸，三歲兒服百丸，溫米飲下。</p>
<h3>人參麥門冬散</h3>
<p>瘡疹方治瘡疹身熱煩渴。</p>
<p>麥門冬（一兩，去心）　人參（去蘆）　甘草（炙）　陳皮　白朮　厚朴（薑製。各半兩）</p>
<p>上為粗散，每服三錢，水一大盞，煎至六分，濾去滓，溫服，不計時候，量大小加減與服。</p>
<h3>消毒散</h3>
<p>牛蒡子（四兩，炒熱）　荊芥穗　甘草（炙。各一兩）</p>
<p>上為粗散，每服三錢，水一大盞，煎至八分，去滓，溫服，不拘時候。</p>
<h3>柴胡麥門冬散</h3>
<p>瘡疹方治瘡疹壯熱，經日不除。</p>
<p>柴胡（二錢半）　龍膽草（一錢一字）　麥門冬（去心，三錢）　甘草（炙）　人參（去蘆）　黑參上為粗散，每服三錢，水一大盞，煎至六分，去滓，溫服，不計時候，量大小疹方熱退住服。）</p>
<h3>射干鼠黏子湯</h3>
<p>瘡疹方治瘡疹壯熱，大便堅實，或口舌生瘡，咽喉腫痛。</p>
<p>鼠黏子（四兩，炒香）　甘草（炙）　升麻　射干（各一兩）</p>
<p>上為粗散，每服三錢，水一大盞，煎至六分，去滓，溫服。</p>
<h3>桔梗甘草防風湯</h3>
<p>瘡疹方治瘡疹，風熱咳嗽，咽膈不利。</p>
<p>桔梗　甘草（炙）　防風（各等分）</p>
<p>上為粗散，每服三錢，水一大盞，煎至六分，去滓，溫服，不拘時候，量大小加減服。</p>
<h3>人參清膈散</h3>
<p>瘡疹方治瘡疹，涕唾稠黏，身熱鼻干，大便如常，小便黃赤。</p>
<p>人參　柴胡　當歸　芍藥　知母　桑白皮　白朮　黃　紫菀　地骨皮　茯苓　甘草桔梗上為粗末，每服三錢，水一大盞，生薑三片，同煎至六分，去滓，溫服，不拘時候，量大小</p>
<h3>前胡枳殼湯</h3>
<p>瘡疹方治瘡疹，痰實壯熱，胸中煩悶，大便壯實，臥則喘急，用之屢效。</p>
<p>前胡（一兩）　枳殼　赤茯苓　大黃　甘草（炙。以上各半兩）</p>
<p>上為粗散，每服三錢，水一大盞，煎至六分，去滓，溫服，不拘時候，量大小加減。如身溫</p>
<h3>雄黃散</h3>
<p>治小兒因痘瘡，牙斷生疳蝕瘡。</p>
<p>雄黃（一錢）　銅綠（二錢）</p>
<p>上二味同研極細，量瘡大小干糝其上。</p>
<h3>麥湯散</h3>
<p>治水痘。</p>
<p>地骨皮（半分，炒）　麻黃（一分，去節）　甘草（炙，半分）　人參（一分）　滑石（半分）　大黃上為末，每服半錢，水一小盞，入小麥七粒，同煎至十數沸服。</p>
<h3>四聖散</h3>
<p>治痘疹出不快，倒靨，或小便赤色，余熱不除。</p>
<p>紫草　木通　甘草（炒）　黃　枳殼（去穰）</p>
<p>上等分，　咀，每服一錢，水半盞，煎至三分，濾去滓，溫服，不計時候。</p>
<p>上小兒瘡疹無正利解散，因而耗以刊行，蓋守此活人之功，此仆之夙心也。</p>
