<header><h1>痧脹玉衡</h1></header>
<dl class="元資料" data-type="book">
<div><dt>作者</dt><dd>郭士遂</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1644/1911">公元1644年至公元1911年</data></dd></div>
</dl>
<h2>序</h2>
<p>憶昔癸未秋，余在燕都，其時疫病大作。患者胸腹稍滿，生白毛如羊，日死人數千，竟不知所名。有海昌明經李君見之，曰：「此痧也。」挑之以針，血出，病隨手愈。於是城中舁而就醫者，亦日以千計，皆得愈而去。頃之，症變而為嗽，嗽甚輕，不半日隨斃。時李君已出都。有知者曰：「此亦痧也。」用前法挑之，亦隨愈焉。余時目擊其事，歸而與知醫者言之，卒疑信交半，無何，則吾鄉挑痧之法盛行矣。先是鄉人有糞穢感痧，利用錢物蘸油而刮，及此多用挑。然行之大都婦人，以故為名醫者不道，及考諸醫書，古時未有論及，後人稍有青筋之說，仍略而不詳，因而求人之信者少，疑者益多。用藥之方，遂置之不論。人不幸犯是症，無得全者。噫！是可憫也。友人右陶郭君明理讀書，旁搜醫學，見近之患痧者日益眾，而治瘀者不聞，乃精心殫思，推原於小兒痧疹之理，兼求之古方，多有不言痧而見痧之意者，且驗之諸所救療，無或爽，因以自信。遂發愿廣之天下後世，為百千萬人命之救，著有《玉衡》一書。右陶之心切矣，右陶之功大矣！右陶嘗言：「痧本無定脈，凡脈與所患之症不相應者，即為痧之脈；痧亦無定症，或感風、感食、感勞、感痰，而以本症治之不效者，皆為痧之症」。為立之方，使知遵也，為記之驗，使知信也，後以藥性終之，使知用之有宜不宜，不與它症同也。右陶治痧之法，於是書乎全，而世人將讀其書以治痧，兼以治右陶之所不及治。右陶之心，於是大快。雖不欲居其功，功又安歸哉！余既見痧之事，又信右陶之說，敢為之言，雖然不足為愚者道也。</p>
<p><u>時康熙十四年乙卯重陽日裡人王庭題</u></p>
<h2>自序</h2>
<p>嘗論一元運化，升而為天，凝而為地，人生其中，道配三才，惟其克佐天地之所不及也。所以大之兵農禮樂，小之屠釣工商，缺一不可。而況炎帝肇創，嘗藥療病，尤斯人生死所系者乎。歷代相沿，神醫迭出，載籍紛紛，惟救疾苦，孰意痧脹一症，時有懸命須臾，兆變頃刻者，竟置不論。如云林龔先生，所志諸書，歷有年矣，迄今誦法不衰，時多宗之，然云青筋，所謂痧也。惜自古以來，從未論及，是以其疾往往不治。余竊以為生死甚大，望醫如望拯溺，詎可聽人之有是疾而不為之生全乎。余高曾以經術起家，箕裘累葉。余少列宮牆，讀古惠鮮懷保，慨然有恫恤生民之志，嘗愿為愁者解困，危者蘇命。因遍閱仲景、東垣、丹溪諸先生論。而帖括所拘，有懷未展。鼎革以後，播遷不一，或羈留武水，或跋涉秦溪。每憶昔年尋章摘句，不過淹蹇一身，毫無裨益於世。既而旅食江淮，浪游吳越，所在時行痧脹，被禍不少。余心惻然，思得一術以濟之，竊恐世人犯而不識，多有坐視其死者。故凡遇杏林先輩未嘗不造而問焉；見松隱異人，未嘗不就而請焉。即冊籍所載，鮮不於晤對之間，互相參考，然於痧也，究不得一要旨。以後返棹　李，搜求高曾所遺前賢諸秘草，有其傳變難治異症，或定於濂洛大儒，或議諸楚粵高士。雖篇頁零星，各有同異，皆透參《靈》、《素》、</p>
<p>《甲乙》諸經，以推展仲景先生之意，惜專籍無傳，沉埋日久，而古人精秘尚未出也。余日夕究心，始悟痧脹變端，總其大綱，撮其要領，遂得歷歷措施，無不響驗。余特慮斯疾勿辨，貽禍無窮，故為之推原其始，詳究其終，深憫斯疾之為害，不忍不有斯集也。雖然醫者治疾，尤百工治事，此握一規，彼挾一矩，有一定之法，無一定之用。故余雖獲遺言，尤必酌量於累黍之度，而神明其治法焉。此非昔人無是疾，今人始有是疾也；抑非昔人之病可略，今人之病當獨詳也。余所以念茲在茲，日孜孜焉從事筆墨間，惟此救人是論。要不外夫推己之心，俾天下咸慰及人之愿斯已耳。昔人有言：「道之真，以治身，其緒余，以為天下」。余獨不敢云治身，與為天下有二也。蓋醫之為道，惟視人如己者乃可施。至於風氣之強弱，年歲之多寡，精力之濃薄，必須以己為斷，然後原疾量藥，貫微徹幽，度節氣而候溫涼，參脈理而合輕重，始乃取應如神，捷於桴鼓。不然鹵莽從事，是尤南轅而返北轍也，烏可得哉。</p>
<p><u>時大清康熙十四年歲次乙卯燈月　李郭志邃右陶氏自序於裕賢堂</u></p>
<h2>續序</h2>
<p>嘗稽古今醫學，備悉萬病，獨不明痧，因而人鮮其傳，無奈世之患者比比也。既有此病，不可不求有以治之。余因以治之所驗，悉其症之所由。於甲寅歲著《玉衡》一書，偕同人互相參訂，急而行之，亦濟生之念所不得已也。書中凡敘痧說，似已具詳，兩年來痧之變幻，更有隱伏於別病中者，傷人最多，非為世所罕識。尤余前書之所未及，因又有痧刻之續。凡以因時所犯，略采異驗為集，夫亦謀諸同人，非敢以自矜也，幸天下不以多贅而忽諸。</p>
<p><u>大清康熙十七年戊午歲季秋吉旦郭志邃右陶文載識</u></p>
<h2>凡例</h2>
<p>──言有不實，治有不效者，一句不載。</p>
<p>──藥有不當，用有不明者，一味不入。</p>
<p>──據症用治，立方制宜，非痧不錄。</p>
<p>──按脈閱筋，恐人有誤，詳之有據。</p>
<p>──砭刺痧筋，必須紫黑毒血，據為實見。</p>
<p>──載雜症，僅取兼痧，諸病虛實，悉在所略。</p>
<p>──心腹痧痛，刮放即愈。不煩醫藥者，不多載入。</p>
<p>──治驗不過一二三四，惟略見治法為準，余不多贅。</p>
<p>──余近地氣稟柔弱，故方中分兩，從乎減少，便能取效。此雖傳示四方，不敢多加。</p>
<p>──制方分兩甚少，若遇西北，風高土燥之地，剛強勇壯之人，其分兩必須加倍，或加二倍三倍，方能有效。</p>
<p>──飲湯規則：云稍冷者，九分冷一分溫也；云微冷者，八分冷二分溫也；云微溫者，冷者四分之三，溫者四分之</p>
<p>一也。</p>
<h2>卷之上</h2>
<h3>痧症發蒙論</h3>
<p>夫君子生於斯世，不屑為天下無所用之人，則必求為天下所必需之人，故君子不為良相，則為良醫。蓋良相濟世，良醫濟生，其所以行我心之不忍者，事有相符，而道有相類也。余於傷寒、痘疹、驚風、虐、痢與夫胎前產後等症，俱所潛心，姑不具贅，獨是痧之一症，緩者，或可遲延；急者，命懸頃刻。在病家必當誠心請救；在醫者必當急為赴援，非若他症之可以遷延時日，姑且慢為調治也。邇來四方疫氣時行，即今丑寅年間，痧因而發，鄉村城市之中，俱見有此等症。或為暗痧，或為悶痧，或為痧痛，或為落弓痧、噤口痧、撲鵝痧、角弓痧、盤腸痧，或又因傷寒、虐、痢與夫胎前產後等症，而痧兼發，甚至闔門被禍，鄰裡相傳，不可重悼。余嘗遇此等症，臨危急救，難以屈指。其治之大略，有三法焉：如痧在肌膚者，刮之而愈；痧在血肉者，放之而愈，此二者皆其痧之淺焉者也，雖重亦輕。若夫痧之深而重者，脹塞腸胃，壅阻經絡，直攻乎少陰心君，非懸命於斯須，即將危於旦夕，扶之不起，呼之不應，即欲刮之放之，而痧脹之極，已難於刮放矣。嗚呼，病瀕於死，誰不傷心，痧症至此，信乎非藥不能救醒，非藥莫能回生。則刮放之外又必用藥以濟之，然後三法兼備，救生而生全，庶乎斯人之得有其命也。其如世有刮痧放痧之人，僅有刮放之能而已，余俱非所長也。故痧有放之不出，刮之不起，便云凶，而且放痧數次不愈，刮痧數次不痊，便聽命於天而垂斃者，往往皆然。</p>
<p>若夫業醫諸友，責在救人，推其心，豈非當世之所謂君子與。然其間或有云諸書不載痧名，滿洲因而謂非藥可療，不知載籍之內，原有云絞腸痧者、有云干霍亂者、有云青筋者、有云白虎症者、有云中惡者，此皆痧之見於諸書，但略而不詳，未有專家。然不見有云是宜絕藥，誠彰明較著而可視也。況痧有為真頭痛，朝發夕死，夕發旦死，寄於頭痛之條；痧有為真心痛，亦朝發夕死，夕發旦死，寄於真心痛之例。此二症者，雖屬不治，若知其原於痧者而療之，亦可挽回。</p>
<p>況痧有為頭面腫脹，一似大頭瘟；痧有為咽喉鎖悶，一似急喉風；痧有為眩暈昏悶，少頃云殂，一似中風、中暑；痧有為喑啞沉迷，身體重痛，一似驚魂落魄；此皆其勢在危急，刮放不急者，非藥將何以救之乎。而況痧有頭痛、寒熱，類於傷寒；咳嗽煩悶，類於傷風；與夫因瘧而兼痧，因痧而化瘧；或又痢以痧發，痧緣痢生：而痧症百出，傳變多端，更不特如此而已也。諸如鼻紅、吐紅、瀉血、便血，由痧而得者有之。更有大腫、大毒、流火、流痰，由而生者有之。或又有胎前、產後、氣鬱、食鬱、血鬱、火鬱，而痧之兼發者有之。或又有痧而手腫、足腫、手痛、足痛，連及遍身不能轉側者有之。或又有痧而胸脅肚腹結成痧塊，一似痞悶，一似結胸者有之。或又有痧而吐蛔、瀉蛔、食結、積結、血結者有之。或又有痧而心痛、脅痛、腹痛、腰痛、盤腸、吊痛、遍身疼痛，幾不能生者有之。況痧嘗有內症所傷，將瀕於死者，男子犯此，一似蓄血，而血分之治法不同；女子犯此，一似倒經，而氣分之治法亦異。蓋痧之為病，種種不一，難以枚舉，予特指其大略。而明其最要者，須看脈之真假，認症之的確，然後投劑必當，用藥無虛。若痧在肌膚，當刮即刮。痧在血肉，當放即放。痧在腸胃、經絡與肝、腎、脾三陰，當藥即藥。若痧氣肆行，不拘表裡，傳變皆周，當三法兼用。務在救人於將危，而回生於將死。余之治此等症，隨處救人，確有奇驗。竊恐前人無論，難啟後賢，因著為集，仍不敢秘，以公諸世。庶幾其有以行我心之不忍，而幸不為斯世無所用之人歟。</p>
<h3>玉衡要語</h3>
<h4>痧分表裡辨</h4>
<p>痧之初發，必從外感。感於肌表，人不自知，則入於半表半裡，故胸中作悶，或作嘔吐，而腹痛生焉。此可以刮痧而愈，不愈，用荊芥湯、藿香湯之類而選用之。痧感於半表半裡，人不自知，則入於裡，故欲吐不吐，欲瀉不瀉。痧毒衝心，則心胸大痛，痧毒攻腹，則盤腸吊痛。此可以放痧而愈，不愈，用陳皮紫朴湯、棱術湯之類而選用之。痧中於裡，人不自知，則痧氣壅阻，惡毒逆攻心膂，立時發暈，即欲刮痧而痧不起；即欲放痧而扶之不起，必不得放，即扶起放之，而發暈之時，氣血不流，放之亦無紫黑毒血流出，即有些須，亦不能多，略見紫黑血點而已。此痧毒入深，大凶之兆。斯時病家求救甚切，方可用藥。余但審脈辨證，的系風寒暑濕，氣血、食積、痰飲，何因而施治，令其蘇醒，氣血流動，然後扶起放痧，漸以調治。如不醒，即擇牛黃丸、三香丸、救苦丹之類以救之。如此重症，必需醫者慈心大發，立時連進湯丸，方能有救，遲則必死。</p>
<h4>治痧宜看涼熱</h4>
<p>痧犯太陽，則頭痛發熱；犯少陽，則耳旁腫脹，寒熱往來；犯陽明，則面目如火，但熱而不寒；犯太陰則腹痛；犯厥陰則少腹痛或胸脅痛；犯少陰則腰痛而皆身涼。犯乎肺則咳嗽痰喘微熱，甚則鼻衄；犯乎心則心痛或心脹，其頭額冷汗如珠，而身或熱或涼；犯乎膀胱則小便溺血，甚則身熱；犯乎大腸則痢下膿血，重則嘔吐身熱；犯乎肝則沉重不能轉側，晡熱、內熱，甚則吐血；犯乎三焦則熱毒內攻，上則口渴，下則便結。治痧當辨身涼身熱。蓋身涼者、內熱者，宜攻其裡，表熱者，宜透其肌。</p>
<h4>唇舌辨</h4>
<p>痧者，急症也。若昏迷不醒，口不能言，其心胸煩悶，一種難過之苦，將何以辨之？治宜先觀其唇舌。色黑者凶；色黃者重；色淡紅者，較之略輕。蓋黃色而知內熱，黑色而知熱極，淡紅色雖熱，用藥不可太冷。又要看有苔無苔，其症始有治法矣。</p>
<h4>大小便宜通</h4>
<p>痧症危急，大便不通，急宜放痧而攻之；小便不通，宜放痧而分利之。</p>
<h4>咽喉治法</h4>
<p>痧症危急，若犯咽喉，則痰喘如鋸，先放其痧，急用薄荷、鼠黏子、童便、山豆根之類以清之，或兼用冰硼散以吹之，然後，余症俱從緩治。</p>
<h4>治痧當絕其根</h4>
<p>痧之為害，治之雖愈，若一有未除，即復肆毒，又遍周身。如在表者已刮；在中者已放；而在內者少有未消，一吃米飯或熱湯、熱酒，痧毒即復，由內而攻表，遂遍周身。如在內者已治，在中者已放，而在表者未刮，即復由外而攻內。</p>
<p>若表裡具盡治矣，而在中者未放，亦復傳遍表裡。如此可畏之極，真生死所關，非雜病所得而比也，故治痧當絕其根。</p>
<h4>痧原論</h4>
<p>痧症先吐瀉而心腹絞痛者，從穢氣痧發者多；先心腹絞痛而吐瀉者，從暑氣痧發者多；心胸昏悶，痰涎膠結，從傷暑伏熱痧發者多；遍身腫脹，疼痛難忍，四肢不舉，舌強不言，從寒氣、冰伏過時，郁為火毒而發痧者多。</p>
<h4>治痧當分經絡</h4>
<p>腰背巔頂連風府脹痛難忍，足太陽膀胱經之痧也。兩目紅赤如桃，唇干鼻燥，腹中絞痛，足陽明胃經之痧也。脅肋腫脹，痛連兩耳，足少陽膽經之痧也。腹脹板痛，不能屈伸，四肢無力、瀉泄不已，足太陰脾經之痧也。心胸吊痛，身重難移，作腫、作脹，足厥陰肝經之痧也。痛連腰腎，小腹脹硬，足少陰腎經之痧也。咳嗽、聲啞、氣逆發嗆，手太陰肺經之痧也。半身疼痛，麻木不仁，左足不能屈伸者，手太陽小腸經之痧也。半身脹痛，俯仰俱廢，右足不能屈伸者，手陽明大腸經之痧也。病重沉沉，昏迷不醒，或狂言亂語，不省人事，手少陰心經之痧也。或醒、或寐、或獨語一二句，手厥陰心包絡之痧也。胸腹熱脹，揭去衣被，干燥無極，手少陽三焦之痧也。</p>
<h4>痧與雜症輕重不同</h4>
<p>痧與雜症往往相兼而發，俱當首重治痧，兼醫雜症，蓋痧症急而雜症緩也。惟胎前產後有痧當並重處治，蓋胎前宜補，痧症宜消；產後宜溫，痧症宜涼也，故用藥治痧，必須斟酌。</p>
<h4>治痧三法</h4>
<p>肌膚痧，用油鹽刮之，則痧毒不內攻。血肉痧，看青紫筋刺之，則痧毒有所泄。腸、胃、脾、肝、腎，三陰經絡痧，治之須辨經絡臟腑，在氣在血，則痧之攻內者，可消、可散、可驅，而絕其病根也。</p>
<h4>痧前禁忌</h4>
<p>痧忌熱湯、熱酒、粥湯、米食諸物。蓋飲熱湯、熱酒、粥湯則輕者必重，重者立斃。吃米食諸物，恐結成痧塊，日久變出奇疾，甚難救療。如有幸而食消，不殞命者，不可以此為例也。</p>
<h4>痧後禁忌</h4>
<p>痧症略松，胸中覺餓，設或驟進飲食，即復痧脹，立可變重，是必忍耐一二日為則，乃可萬全。</p>
<h4>痧脹凶症</h4>
<p>痧有心胸高起如饅HT　者，不治。背心一點痛者，死。角弓反張者，死。腰腎一點痛者，死。心胸左右有一點痛者，不治。脅肋痛者，不治。四肢腫痛者，難治。鼻如煙煤者，死。舌卷囊縮者，死。環口黧黑者，死。頭汗如珠，喘而不休者，死。昏迷不醒，放痧不出，服藥不應者，死。痧塊大痛，服藥不應者，死。</p>
<h4>痧為百病變症</h4>
<p>諸凡百病，勢極傷人。然亦有未即臨危，尚可綿延時日，而忽然變病，遂致傾危不治者，何也？蓋百病之中，有或因病，而感夏月暑熱時行之氣，有或床第不潔，穢惡沖人，而兼之平時伏毒深藏，一時痧症均可乘隙竊發。所貴醫者識竅，先治其痧，後理其病。所謂急則治其標，緩則治其本者，此類是也。</p>
<h4>醫家當識痧筋</h4>
<p>痧症輕者，脈固如常，重者，脈必變異。若醫家但識其脈，不識痧筋，勢必據脈用藥，而脈已多變，則實病變虛，虛病變實，誠不可恃。曷若取脈症不合者，認痧筋有無，有則據痧用藥，無則據脈用藥，乃無差誤。故余謂醫家當識痧筋。</p>
<h4>放痧有十</h4>
<p>──在頭頂心百會穴。</p>
<p>──在印堂。</p>
<p>──在兩太陽穴。</p>
<p>──在喉中兩傍。</p>
<p>──在舌下兩傍。</p>
<p>──在雙乳。</p>
<p>──在兩手十指頭。</p>
<p>──在兩臂彎。</p>
<p>──在兩足十趾頭。</p>
<p>──在兩腿彎。</p>
<p>凡痧有青筋紫筋，或現於數處，或現於一處，必須用針刺之，先去其毒血，然後據痧用藥。治其脾、肝、腎及腸、</p>
<p>胃經絡痧，萬不失一。</p>
<h4>放痧須放盡</h4>
<p>嘗見人犯痧症，延一放痧者放之，以為放痧之法，止於此矣。不知放痧之人，固有善於彼者，不善於此，亦有善於此者，不善於彼。使病家延一放痧之人，略知一二，未識其全，則血肉之痧，有放而未盡者矣。苟醫者不識痧筋，見其痧之已放，而孟浪用藥，藥不能治及於血肉之分；或痧症復發，痧毒肆攻，而輕者變重。病家不明其故，歸咎於醫，醫者之名，由茲而損，豈反不為放痧之人所誤乎。故醫家識痧，必須令其放盡。</p>
<h4>痧有放刮不盡辨</h4>
<p>痧毒所發，得善放者放之，未有不可盡，而亦有不盡者，何也？蓋痧者，熱毒也。或誤飲熱湯，則青筋、紫筋，反隱而不現。即略現青筋、紫筋而放之，其毒血亦不流；並刮痧亦不出，熱湯為之害也。此當急飲冷水以解之，然後可再放而血流；再刮而痧出。或又有痧毒方發，而為食物積滯所阻，食積與痧毒凝結於中，即放之不盡，刮之不出者，食物積滯為之害也。此當先消食積，而再放刮。或又有痧毒瘀滯，熱極血凝，而瘀血不流，阻於胸腹，故放之、刮之，有不盡者，此當先散瘀血而後放刮。或又痧毒方發，而兼遇惱怒氣逆，怒氣傷肝，則愈作脹，故痧氣益盛，而放刮俱難盡，此又當先用破氣之藥以順之，而再放刮。如此則痧毒皆可漸消也。</p>
<h4>用藥不效</h4>
<p>凡病用藥得宜未有不效，而痧症竟有得宜不效者，何也？夫痧者，熱毒也。熱毒用藥宜涼不宜溫，宜消不宜補，湯劑入口，必須帶冷，冷則直入腸胃，而肌膚血肉之間，雖有良劑，安能得至乎？此治痧者，莫先於刮之放之也。如刮之放之，而肌膚血肉之毒已除，然後將腸、胃、脾、肝、腎、三陰之毒，用藥以驅之，藥固未有不效者也。然亦有刮之放之而藥有不效者，是非藥不效也。蓋其時雖放，而放之或有未盡；雖刮，而刮之或有未到，則是肌膚血肉之毒猶在，故即用藥，而藥有不效耳。若刮已到，放已盡，而痧症猶在，則是痧毒惟在腸、胃、脾、肝、腎、三陰經絡，非藥將何以治之乎。</p>
<h4>用藥必效</h4>
<p>痧症危極，昏迷不醒，即扶之不起，呼之不應，雖欲刮放而不可刮放，乃更有用藥以救之，而能必其效者，何也？蓋痧症用藥，必須帶冷，冷雖未能即周於肌膚血肉之間，而昏迷不醒，乃痧之熱毒沖於心膈，故心不能自主而昏迷。若藥帶冷入口，即從心膈間順流而下，則熱毒之氣在心膈間者，隨藥而消，故昏者復明，迷者復醒。即有不醒者，乃食積、血、痰所阻，若能攻而下之，未有不醒者矣。此余治痧，所以又用藥而必得其效也。</p>
<h4>用藥大法</h4>
<p>痧氣壅遏，未有不阻塞於中，故作痛、作脹，用荊芥、防風之類，從表而散；用青皮、陳皮之類，從中而消；用枳實、大黃之類，從大便而下；用木通、澤瀉之類，從小便而行；用山楂、卜子之類，所以治其食之阻；用金銀花、紅花之類，所以治其血之壅；用檳榔、蓬朮之類，所以治其積之滯也。</p>
<h4>痧有實而無虛辨</h4>
<p>痧者，天地間之厲氣也。入於氣分，則毒中於氣而作腫作脹。入於血分，則毒中於血而為蓄、為瘀。凡遇食積、痰火、氣血即因之阻滯，結聚而不散，此痧之所以可畏也。故人之壯實者，有痧脹之症，飲熱酒、熱湯而變者固然；即人之虛弱者，有痧脹之症，飲熱酒、熱湯而變者，亦無不然。至如人有雜病，兼犯痧症，是為雜病變端，而亦畏夫熱酒、熱湯，人不知覺、遂遭其禍，則是痧之發，又何論人之虛實乎。夫惟人之實者犯之，固即以有餘治之，而虛者犯之，亦當以有餘治之。蓋其有餘者，非有餘於本原，乃有餘於痧毒也。論者以為人之實者，固可以有餘治之，而人之虛者，以有餘治之，則益虛其虛矣，而不知非然也。夫人有痧毒，如家之遇賊寇也，人有虛實，如家之有濃薄也，假若賊寇操戈已入於室內矣，而乃以家之資財之薄也，其賊寇可不驅而出之乎！吾見家有賊寇，必先驅之為是。人有痧毒，亦無不先驅之為是也。故痧發不論虛實，驅毒在所當先，溫補必於收後，此痧之所以有實而無虛也。</p>
<h4>怪病之謂痧</h4>
<p>方書所載，怪病之謂痰，此古人之格言也。是以中風、痰厥、昏迷不醒及流痰、腫痛，具責之痰。然有治痰而痰得其治者，十中一二，有治痰而痰不為所治者，十有八九。是非痰之不可治也，蓋因其症之凶危，醫者膠於方書之語，咸謂其痰之使然。而中風、痰厥、昏迷之類，遂有不可名言者矣。若余於中風，痰厥、昏迷之類，嘗有治痰而得其效矣。</p>
<p>詎敢曰一一非痰，然其間因痧而有是症者，雖云今之時氣使然，何乃十有八九余切其脈而不洪滑，即有可疑。或症有口渴身熱，脈變而為沉遲；或症有不渴身涼，脈變而緊數；此皆脈症不合。須識其痧，一取青紫筋色而辨之，自有確見。</p>
<p>若醫者惟執為痰以治之，便成大害。然則古人所謂怪病之謂痰，痰誠有其病之怪，而余則有見夫怪病之謂痧、而痧之為怪，更有甚於痰也。則是痧之為害，莫有大於此者，豈可付之不論不議耶。</p>
<h4>痧筋不同辨</h4>
<p>痧筋有現，有微現、有乍隱乍現，有伏而不現。痧筋之現者，毒入於血分者多；乍隱乍現者，毒入於氣分者多；微現者，毒阻於氣分者多；伏而不現者，毒結於血分者多。夫痧筋之現者，人皆知刺而放之矣。其微現者，乃其毒之阻於腸胃，而痧筋不能大顯，故雖刺而無血，即微有血而點滴不流。治療之法，但宜通其腸胃而痧筋自現，然後俟其痧筋之現，刺而放之。若乃痧筋之乍隱乍現者，人又皆知俟其現而放之矣。至有伏而不現者，雖欲放而無可放，吾觀善放痧之人，亦未有能識其為痧者，所以痧症之禍，往往人受其害而不覺。若斯者，必從其脈之不合於症而辨之，必取其所發之病在緩，所見之症候更倏有其甚急者，即病與症之不合，又可辨其為痧，則痧毒之結聚不散者，自可細詳。治療之法，結於血者散其瘀；結於食者，消其食而攻之；結於痰積者，治其痰積而驅之。則結散之後，痧筋必然復現，然後刺而放之，其痧可得而理也。如是之痧，亦有可治。若繼余之業者，甚勿以其痧症之凶危，而棄之歟。</p>
<h4>寒痧辨</h4>
<p>痧症之發，未有其寒者矣。而亦有其痧之為寒，非痧之有真寒也，蓋因世人知痧之熱，而服大寒之飲，以至於是。</p>
<p>然寒飲服於犯痧之人，有即愈者，有不即愈者，是何以故？夫犯痧症，必其無食、無積、無血所阻於中，方可服寒飲而得其效。若一有食、積、血阻於中，而服大寒之飲，則食不消、積不行、血不散，而痧毒反冰伏凝阻於中，未有得寧者矣。嘗見高岩窮穀之中，山路迢遙，行旅感暑熱之氣，往往有一飲山澗之水而即斃者，是名寒痧。若幸遇放痧之人，乃得以識其痧而救其命。蓋緣痧毒攻心，服寒飲太過，而痧毒隨冰寒凝結於心胸，故有即斃者爾。若一遇放痧之人，毒血一行，便無凝滯，此人所以得有其命也。今近處往往有犯痧症，服冷水不愈者，此類是也。故方書所載，服陰陽之水，而不獨取乎井水者，誠有見於此爾，是以久服涼飲之後，痧有未痊者，又當用微溫之藥以施之。余於是集方中，所載三香丸，又有略用附子、乾薑之類，均稍冷凍飲料之，誠為權宜之善劑歟。若其方書所云寒痧，謂當即以真寒治之，而驟多用桂、附、乾薑、吳茱、參、　之類，此誠有誤，不可服也。</p>
<h4>放痧不出治法</h4>
<p>痧症危急，莫善於先放其痧。乃今更有放痧而血不流者，雖痧筋隱隱，無可如何，故放痧之人往往遇此便為凶。若余則不然，是其放痧雖血不流，而亦有可救者，即至昏迷不醒，勢在臨危，若審其無食積、血、痰阻滯於中，用寶花散冷服，或陰陽水，或泥漿水、或晚蠶沙水、或細辛水、或白沙糖梅水，擇一方而用之，俟其稍醒，然後扶起，再行別法療治。至如有因血瘀而放之不出，用童便、桃仁、紅花之類，以救之。有因飯後便犯痧症，多用鹽湯或礬湯冷凍飲料，以吐去新食。食久痧脹，用卜子、山楂、麥芽之類以消之。有積痧阻，用檳榔、大黃之類以驅之，阿魏丸之類以治之。或痰血凝結，昏迷欲死，不省人事，用菜油二兩，麝香一錢，調下立蘇，此為良法。如是先去食積、血痰之阻滯者，則痧筋自然復現，痧氣自然散行，而後，可刮即刮，可放即放，當藥即藥。蓋緣痧症初發，未攻壞臟腑故耳。乃知初起放痧不出凶症，未始不可以挽回也。醫者甚毋以其放痧不出，昏迷如死，見為凶極而棄之歟。</p>
<h4>放痧數次不愈</h4>
<p>痧症愈則即愈，不愈須防其有內潰之憂，故治痧之法，刮之、放之宜愈，不愈即當用藥以治之。至若雜症之兼乎痧也，亦宜刮、宜放，而急宜用藥以治其痧為要策。此治痧者，不可一日無治法，亦不可一日無治藥也。乃今有不用藥而惟恃乎放痧，竟有其放痧數次不愈者，或乃曰彼無昏迷不醒之重症，可無害於事也。不知放痧數次不愈，則必日甚一日，內有伏毒，盤居臟腑，雖不見有昏迷不醒之事，而痧毒之攻擊於臟腑間者，甚可危也。且放痧何以數次不愈乎？蓋惟人有食積、血痰阻滯其毒，故痧雖放而不盡。設有能消除其食積、血痰，則痧毒無阻，尚烏有不愈者耶？惟其不用藥而惟恃乎放痧，故痧毒不盡，勢必攻壞臟腑。醫者慎毋以放痧數次不愈為輕症，而忽視之歟。</p>
<h4>數犯痧症</h4>
<p>痧症有緊、有慢，人多不識。幸邇來南方砭刺有人，略曉痧症一二，然亦不克逐症詳明，深可嘆惜。故有云痧當砭刺，刺即救之；有云痧不可刺，刺即多犯，此語一出，遂致誤人不淺。然亦有可辨者，蓋痧症之初犯者，邪氣勝夫元氣，雖人壯實而不免。痧症多犯者，由元氣虛，則易感觸夫邪氣，是以有數患痧症之人，或有十日半月一發，或有一月二月一發，常患痧痛，非刮則放，所以有痧不可刺，刺即多犯之說爾。不知痧之易感，必由於胃氣本虛，遂乃數犯。予嘗用「絕痧方」充其胃氣，則痧自斷，又用參、　大補之味以實之，痧未有不斷者矣。然必痧症已痊之日，全無些須痧毒，然後可服，以絕其根。否則稍有痧氣未除，此等之藥，斷不可服，恐其中有甘辛溫熱大補之味，反益助其邪毒爾。</p>
<h4>痧脹昏迷與雜症不同</h4>
<p>雜症若重，或至昏迷，均可以延時日，獨痧症之昏迷，則有不容少待者，何也？夫雜症昏迷，不過痰、氣、血涌，或虛極而發暈已也，故可以延時日。至於痧而昏迷不醒，僅是痧氣衝心，尤有可解，若為痧毒所攻，則毒血一沖，勢必攻壞臟腑，未有少延者矣。故痧脹昏迷不醒者，須防立死。其毒血與食積、痰、氣必結聚心腹胸膈之間，而經絡不轉，氣血不運，雖欲放而血不流，欲刮而痧不顯，此所以救之者，又必急用藥以治之也。其治之之法，惟視其食、積、痰、血、氣阻及暑熱、伏熱、穢氣之類以治之。有食消食，有積消積，有痰血氣阻，即散其痰血氣阻，有暑熱、伏熱、穢氣所觸，即散其暑熱、伏熱、穢氣，則胸膈一松，昏迷自醒，然後驗其紫筋青筋以刺之，而或刮或藥，惟其症之所發，以施其救人之術歟。</p>
<h4>痧筋原於血中之毒</h4>
<p>夫醫首重望聞，次貴問切，人皆知之矣。至於痧，而望聞有所未明，問切有所未盡，醫其可以已乎？吾觀世有暗痧而人不識，往往多誤，則曷不取痧筋以驗之。蓋針鋒所刺，不過鋒尖微微入肉，有痧毒者，方有紫黑血流；若無痧毒者，其鋒尖雖刺，點滴全無。故痧有痧筋可辨，亦如別病之有別症可辨也。然則痧筋所現者，青紫之色，所原者，乃本於血中之有其毒歟。夫血中有毒，既無可消，自宜知放，放有不盡，則宜刮、宜藥，審寒涼而權輕重，借草木以挽凶危。凡以驅夫痧毒之所留滯者，而救其大命焉爾。奈何有不信痧者，徒受夫痧症之實禍，而甘心於自斃乎。</p>
<h4>慢痧必須速治</h4>
<p>痧若緊者，只在頃刻，慢者，或期至十日半月而死，或期至一月二月而死，甚有期至三四月而死，此誠痧之慢矣。</p>
<p>而余謂必須速治者，毋乃憂人之太過乎？而不知其非也。夫痧之致人於死者，雖有如是之久，而其痧毒蔓延於腸胃、經絡間者，正多凶險之處，即如痧毒滯結於身之或左或右，或上或下、或裡或中或表，既有若是之滯結者，必不尤然若是之滯結而已也。將且在內者，先壞臟腑，在中者，先損經絡，在表者，先潰肌肉。雖未即斃，而其難治之形必然先見，若一不治，便成死症。慢痧之可畏也如是，安可以死日之慢，而不速為之早治乎。</p>
<h4>痧症治要宜明</h4>
<p>痧無食積、瘀血而痧氣壅盛者，冷服。痧氣壅阻於食積，而無血瘀者，稍冷服。痧有毒盛而血瘀者，微溫服。痧入於氣分而毒壅者，宜刮。痧入於血分而毒壅者，宜放。痧痛而絞動者，痧毒壅阻於食積之氣分也。痧痛而不移者，痧毒壅阻於血分而有瘀也。痧發於頭面上部者，痧之毒瓦斯上壅也。痧躔於手足下部者，痧之毒血下注也。痧有上吐下瀉者，痧氣上下衝激也。痧有煩悶氣脹者，痧氣壅塞於心膈也。痧有惡寒發熱者，痧氣遏抑於肌表也。痧有胸膈偏痛者，毒血流滯於經絡也。痧有結滯腸胃者，食積、血瘀為腫為脹也。痧有吐血、便血者，痧血泛溢而憂潰敗也。痧有咳嗽、喘急者，痧毒壅於氣分而生痰逆也。痧有立時悶死者，痧之毒血攻心也。痧有手足軟而不能運者，痧入於血分而毒注於下部也。痧有腰脅具痛者，痧阻於血分而有瘀也。痧有偏痛於半身者，毒注於半身而瘀血也。痧有身重不能轉側者，痧之毒血壅瘀而不能轉運也。痧有變成腫毒潰爛者，毒血凝滯而攻壞肌表也。</p>
<h4>治痧須先明百病</h4>
<p>痧症不與雜症俱發則已，若與雜症俱發，醫者但能治其痧症，不能治其雜症。假使雜症有害，不幾誤人於死者，不在痧症而在雜症乎？夫天下有能治百病而不能治痧者，余固素其有誤於人矣。茲有犯雜症兼痧之疾，而業醫治痧者，更不能治雜症，獨可無責其有誤人之罪乎！即如人有勞弱，本原不足之症，兼犯痧症凶危，延一治痧者治之，聆其言，則云我固善治其痧焉。始則用克伐之藥，以治其痧脹之極，可謂有病則病受之，雖甚克伐，亦無害於本原矣。迨至痧已散去五六，尚存三四，則用藥之法，雖宜尚重痧症，又當顧慮本原，惟在略用克伐而不傷本原者為是。若一過用克伐，便傷本原，豈不有誤於不足之症乎！況痧氣散去八九，惟是略存一二，用藥尤宜保護本原，而稍治其痧焉。至於痧患悉平，惟有本原不足，則自應以補益為先，然後可云能治其病而無誤也。若不先明於本原不足之症，而用藥失宜，投劑無法，則其誤人之罪，其能免乎！即此一端，可例百病，故吾謂治痧，須先明百病。</p>
<h4>刺腿彎痧筋法</h4>
<p>腿彎上下，有細筋，深青色，或紫色，或深紅色者，（肌膚白嫩者，方有紫紅色。）即是痧筋，刺之方有紫黑毒血。</p>
<p>其腿上大筋不可刺，刺亦無毒血，反令人心煩。腿兩邊硬筋上筋，不可刺，刺之恐令人筋吊。若臂彎筋色，亦如此辨之。</p>
<p>其余非親見不明白，故不具載。至如頭頂心一針，惟取挑破，略見微血，以泄痧毒之氣而已，不可直刺。其指尖刺之太近指甲，雖無大害，當知令人頭眩。若一應刺法不過針鋒微微入肉，不必深入。</p>
<h4>刮痧法</h4>
<p>背脊、頸骨上下及胸前脅肋、兩背肩臂痧，用銅錢蘸香油刮之，或用刮舌　子腳蘸香油刮之。頭額、腿上痧，用綿紗線或麻線蘸香油刮之。大小腹軟肉內痧，用食鹽以手擦之。</p>
<h4>用針說</h4>
<p>嘗覽古人遺言：東南卑濕之地，利用砭，所謂針刺出毒者，即用砭之道也。但放痧之人，具用鐵針，輕者一針即愈，重者數次不愈，蓋因痧毒入深，一經鐵氣，恐不能解。余惟以銀針刺之，則銀性最良，入肉無毒，以之治至深之痧毒，不尤愈於鐵針乎？此余所以刺痧筋者，獨有取乎銀針也。</p>
<h4>痧脹用藥不厭多</h4>
<p>凡傷寒雜症，所犯止有一症，用藥不貴乎多。痧症凶暴非常，變幻百出。如犯在氣分，有兼痰兼血；在血分，有兼食兼積，或又有兼外感內壅，往往皆然，不可執一。故用藥治之，宜盡慮到，不然，一有不及，其禍不測，此所以不厭乎多也。</p>
<h4>痧脹宜下辨</h4>
<p>傷寒食未化，下之太早，反引寒邪入胃，變而為熱，熱邪固結所食，不能消化，乃成結胸。若痧脹新食，固宜以吐為先，至所食既久，驟然痧脹，雖所食消化未盡，下之無害。蓋痧脹非有寒邪入胃，變成熱結之患。但因痧毒在腸胃，則腸胃中肌肉作腫作脹，盤腸絞痛，遍及臟腑，故外宜用刮放以泄毒於表，內可即下以攻毒於裡，則腫脹自當之以潛消，而食積亦因之以通利，原無結胸之可憂也。然痧脹固非傷寒熱結者比，但下之，必須內兼食積，又宜以漸而進，中病即止。</p>
<h4>痧後治雜症宜知</h4>
<p>痧退後，竟治雜症，固所宜然。但痧後余毒，或尚存些須，按脈而脈已不顯，辨症而症已若清，此時用藥，若即認為惟是雜症已爾，僅以治雜症之藥治之，設使稍有相犯，吾恐斯人尚不得保其命也。蓋痧後尤痘後，痘後之症，固不可舍痘余毒而單治雜症，痧後之症，又豈可舍痧余毒而單治雜症乎？此治痧後雜症，又不可不深慮，而於雜症劑中，更兼解毒活血乃能收全功也。</p>
<h4>當知不信之誤</h4>
<p>凡人有病則宜治，將死則宜救，乃有犯痧不信夫痧者，是其智之所短，即其數之所盡也。故人有犯乎慢痧，尤可纏綿時月而病日深，若犯乎緊痧，未有不立時凶危而入於死。如此不信，真數盡之人也。即告之以痧症之禍，而彼仍茫然不覺，雖有熱心，無益於事。故不信之誤，人自當知。嘗見一士不信痧，忽然犯緊痧暗症，咽喉疼痛，喘急如鋸，發熱沉重，胸中飽悶，吹藥、服藥喉中益痛，痛連耳際，或時在左，或時移右，痰脹昏迷，亡危之極，殆難盡述。幸而審明痧症，急為放痧，涌出毒血甚多，刮痧遍體俱有，服藥至晚而安，痰脹亦消，喉痛亦止。緣不守痧禁，飲溫酒熱茶，立時復發而終，此真痧毒之為害也。嗚呼惜哉！更見同時三女，一犯此症，刮痧而愈；一犯此症，放痧而愈；一犯此症，認為喉鵝，治之而死。信者如此，不信者如彼，痧其可忽也耶！</p>
<h3>玉衡脈法</h3>
<h4>痧脈十二經辨</h4>
<p>脈芤而浮者，肺痧也。脈芤而散者，心痧也。脈弦長而動者，肝痧也。脈芤大而滑實者，脾痧也。脈沉細而動止不勻者，腎痧也。大腸之痧，類於肺而長。小腸之痧，類於心而細。膽之痧，類於肝而數。胃之痧，類於脾而緊。膀胱之痧，類於腎而浮虛。三焦命門之痧，脈必怪異。</p>
<h4>痧脈外感內傷辨</h4>
<p>傷食之痧，脈多戰動。傷血之痧，脈多芤滑。傷暑之痧，脈多洪滑而疾數。傷風之痧，脈多沉微。穢觸之痧，脈多變異不常。傷氣之痧，脈多沉伏，或形如雀啄。傷寒濕之痧，脈多沉細。</p>
<h4>痧脈要訣</h4>
<p>痧症之脈，與諸症之脈不同。如傷寒傷風，自有傷寒傷風之脈。若傷寒傷風，一兼痧症，其脈必變，病必凶暴是也。</p>
<p>凡遇雜症有痧皆然。</p>
<p><u>治驗：</u></p>
<p>一用成屠兄夫人，忽然昏迷沉重，痰涎壅盛，已三日矣。延余往視，診脈，洪大無倫，身不發熱，口不干燥，惟不省人事。余曰：「脈症不合，此痧脹也」。刮痧稍醒，用沉香鬱金散、荊芥東加山棱、蓬朮、枳實、紫朴、砂仁微冷凍飲料之，三劑而愈。</p>
<p>一忱云溪年老一子，七歲，發熱五日，狀類傷寒，昏迷沉重，服傷寒藥，病勢亦甚，將在臨危。其婿吳彩云延余往視，診其脈，形如雀啄，怪脈已現，不可復救，但細按左關，指下或時厥厥動搖，此暗痧而入不覺也。幸其年幼，可抱而起，視其腿彎，有紫筋三條，刺之，血流如注，不愈，用阿魏丸、大黃丸、清茶微冷凍飲料之，又用荊芥東加山楂、卜子、檳榔、細辛，微冷凍飲料之。連服二頭服，方知人事，次日脈復如常，痧氣退盡，但身熱未痊，乃用傷寒陽明胃經藥，三劑而愈。余治痧不及具述，各舉一二為例，以見痧症不可忽也。</p>
<p>余之痧脈要訣，至矣盡矣，痧症之脈，莫有外於此矣。議者以為余之秘夫脈，而不盡言其脈之所以然者，正在此也。</p>
<p>嗟嗟，人之議余也，以余之論痧脈而脈有未明也。抑思余之刊刻是書也，將以曉天下之人，使天下咸識夫痧症之禍也，豈有所秘而不言者乎？即如傷寒自有傷寒之脈，非虛語也。夫冬月正傷寒，頭痛惡寒，身熱無汗，脈必緊盛，故見夫人迎緊盛之脈。若余月雖有頭痛惡寒，身熱無汗，總名傷寒，脈未有其人迎緊盛者，此冬月所以有正傷寒之脈也。假若冬月有正傷寒之症，不見有正傷寒緊盛之脈，或變而為沉遲，或變而為微細，是脈症之不合也多矣。而又取青筋、紫筋之色以辨之，則痧症之發可驗而知也。且如傷寒有兩手無脈曰雙伏，一手無脈曰單伏，必有正汗也。此以汗之將來一時脈伏言之，非云時時脈伏而有汗也。若所犯傷寒症已如是，而脈之伏也日日如是，則是脈與脈伏正汗之說不合，獨不可以驗其痧症之因乎？又如傷寒傳經熱症，有云氣口緊盛，傷食之驗，若人症犯胸中飽悶，宜乎氣口脈緊盛矣，及按其氣口之脈，不見緊盛，反若空虛，是脈症之不合，更可以驗其痧之發矣。若更取青紫筋色而辨其的確以治其痧，尚何疑乎？即此類推，余症可以盡知。</p>
<h4>痧脈有似陰症辨</h4>
<p>痧毒之氣，阻抑於經絡、血肉之間，故其脈多沉伏，即有別病兼痧者亦然。如人有傷寒，脈沉微無力，是直中三陰經之脈也，治以陰症用熱藥，有何疑哉？然嘗見有用之而愈者，有用之而不愈者。用之而愈，則人將曰：陰症之藥，在所宜用；用之而不愈，則人又將曰：陰症之藥，不可驟用。此豈其認脈之不真，而治傷寒之有未當歟。夫亦惟為傷寒兼痧，痧脈與陰症脈相似莫辨，故一服溫補熱藥，痧毒變幻，而有此悔爾。余嘗臨症治傷寒，按之見有沉微或伏之脈，一似直中三陰經，而其外現症候，稍有不合於三陰經症，便取痧筋而驗之，有則為痧，無則為陰，施治之藥，或涼或熱，萬不失一。且放痧服藥之後，血肉經絡之分，通而無阻，即按其脈，便不復如前之沉微或伏矣。余然後按脈辨症，用藥以治其傷寒，藥未有不得其效者。至如雜病兼痧，有沉微或伏之脈，亦以此法驗之，誠至當不易之論也。</p>
<h4>痧脈似氣血有餘辨</h4>
<p>痧之毒瓦斯，沖激於經絡，血肉之分，故其脈多洪數，或沉緊，或大而無倫，或洪實有力，種種不一。若症脈稍有不合，便當審其痧筋有無，有則俟其放痧之後，再診其脈之來復何如，以斷其病之寒熱虛實施治；若無，即以其脈斷其寒熱虛實用藥。余嘗治一勞弱吐紅之症，其脈洪實有力，他醫遇此，以為勞弱吐紅，脈忌洪實，兼之症候凶危，謝事而去。</p>
<p>余惟見其病勢之暴而疑之，爰視其腿彎有青筋色，先放其痧，六脈遂和，症候亦平。又付散痧消食去積之藥，氣血無阻，凶暴潛消，飲食漸進，後用六味地黃丸及十全大補湯服之，勞弱不足之症亦愈。蓋因其向來病氣，俱從痧氣而泄，所以一用補藥遂得全效也。</p>
<h4>方書脈句宜參</h4>
<p>凡古人載籍，所以垂訓者，不知幾經籌畫，幾經筆削，乃著之於書。後人竟以一覽不明，便置之高閣，毋乃有負古聖賢作書者之心乎？余嘗博覽遺言，若其有得於心，固然不忍釋手，即令有疑於己，亦且數四低徊，然後得一夕豁然洞灼而大悟也。有如方書所載：「諸痛脈伏不可診也」之句。余嘗疑之，若以為治病之道，求所以辨明虛實寒熱之法，斟酌輕重緩急之宜，惟脈是恃。若脈伏既不可診，醫者將何以斷其病之屬虛屬實、屬寒屬熱之所致，而於用藥之際，更有可輕可重，當緩當急之定論乎？詎意古人之所以示我者，固有先得我心，而昭然筆之於書也。余是以一再思之，乃知所謂脈伏不可診者，若謂必須求他症以辨之，方有其治法焉爾。故余於諸痛脈伏者，固推而驗於筋之青者紫者，識其為痧。</p>
<p>即於諸病不痛而脈伏者，亦必推而驗於筋之青者紫者，識其為痧。蓋緣痧毒瓦斯壅血阻於經絡間，故脈有伏而不現爾，若以針刺之，血流而氣亦泄，毒始無所壅阻，而脈乃復其常爾。至於痧之重者，傷在腸胃三陰，針刺有所不到，血流有所不盡，余惟從夫食積血痰所阻之毒以治之。脈且隨藥而復，則病有未愈者，始可憑脈以用其藥，然後思古人之所謂不可診者，信乎諸痛脈伏之不可診也。古人之詔我者，誠有所見也哉。</p>
<h4>脈貴審於幾先</h4>
<p>痧之重者，形之於脈，前言已概之矣。至如雜病兼痧，始發甚微，疑似莫辨，所謂審脈之道，則又吾筆所難書，吾言所難罄。惟在醫者臨症之際，神明其意於切脈之中，斬截其痧於方發之始。蓋痧之慢者，詎云日久必壞臟腑，損經絡，潰肌表乎。即其輕而又輕者，雖不至驟傷其命，而於雜病之中，一有兼痧，不能審治，其病將纏綿難愈，即愈亦必數數復發，疾苦相連，此痧之所以可畏，當預審之於幾先也。</p>
<h4>痧脈決生死法</h4>
<p>脈微細者，生；脈實大急數者，重；脈洪大無倫者，凶。一部無脈者，輕；一手無脈者，重；兩手無脈者，死。六脈無根，放痧服藥不應者，不治；諸怪脈現，放痧服藥不應者，死。</p>
<h3>此下細述發蒙論所不盡</h3>
<p>凡屬暗痧之類，人多不識，誤中其禍，故悉列之於前，庶令人一開帙而注目焉。下卷痧症，人所易明，故姑置之於後。</p>
<h4>暗痧辨</h4>
<p>心中悶悶不已，欲食不食，行坐如常。即飲溫熱，不見凶處，更無心腹腰背疼痛之苦，但漸漸憔悴，日甚一日，若不知治，亦成大害，此痧之慢而輕者也，放之即愈。亦有頭痛發熱，心中作脹，類於傷寒，亦有寒熱往來，似瘧非瘧，悶悶不已，亦有咳嗽煩悶，有似傷風，亦有頭面腫脹，兩目如火，亦有四肢紅腫，身體重滯，不能轉側，此痧之慢而重者也。誤吃熱湯，熱酒、熱物，遂乃沉重，或昏迷不醒，或痰喘氣急，狂亂見凶。如遇是症，必先審脈辨症的確，果系何因，在表者刮；在中者放；在裡者或丸或散或煎劑，必須連進數服，俟其少安，漸為調理。</p>
<p><u>治驗：</u></p>
<p>一余三嬸母寡居，四月間忽然昏迷沉重，不省人事，顏色具變，漸漸黑色。二弟驤武次衡延他醫治之，莫識其病。</p>
<p>適余至視疾，診之左脈洪大，右脈沉微，余曰此暗痧也。審其腿彎有青筋三條，刺之，紫黑血流如注，不醒；刮痧亦不醒；用沉香鬱金散加砂仁，並荊芥湯稍冷服之，不醒；次日用寶花散、薄荷東加大黃丸，微冷服亦不醒；至五日，復刮痧，用三香散加砂仁湯溫下，而後醒，漸調理乃痊。</p>
<p>一余友朱其章一老仆，六月發熱沉重，昏迷不醒，黑苔芒刺，舌短狂罵，不避親疏。其章延余往視，診其脈，六部具伏。余曰：「此痧之重極者也」。彼親中有厲姓，善放痧。使二人極力扶起，從腿彎有青筋處刺之，但微有紫黑血點而已，痧血不流，將入死地。余用寶花散蒺藜散稍冷湯飲之，又用紫蘇厚朴湯微冷服，次日痧退少蘇。但身重如石，不能轉側，舌上黑苔芒刺不退，用紅花湯合清涼至寶飲治之，以漸而愈。</p>
<p>一麓庵朱兄一婢，十二歲，六日不食，頭面微腫。余適與於茂生至麓庵宅，即令婢出診脈，冀立一消食方。余曰：「脈微面腫，殆其痧乎」。刺腿彎上一針，紫黑血流不愈，用寶花散稍冷湯飲之，一服而痊。</p>
<h4>傷寒兼痧</h4>
<p>凡傷寒頭痛寒熱諸症，或當暑天，或觸穢氣，或疫癘所感，忽犯痧脹，是惟認脈、看筋辨之，先治其痧，痧退之後，乃治傷寒。若誤飲熱湯、熱藥，慢者尤可，緊者立時見凶。</p>
<p><u>治驗：</u></p>
<p>一余甥坦卜文木長子十二歲，頭痛身熱無汗。他醫皆治其傷寒，不應。余診之，六脈微緩，乃知其傷寒兼痧者也。</p>
<p>刺腿彎青筋三條，紫黑毒血涌出甚多，不愈，用防風勝金湯稍冷服二劑，痧退。服小柴胡湯而痊。</p>
<p>一車姓者，五月，傷寒十四日，忽爾發昏沉重，臥不能轉。延余診之，余曰：「此傷寒犯痧，若不先治其痧，余不敢任」。不信，延他醫治之，益昏迷不醒。復求余，余曰：「痧氣衝心，故昏迷；痧毒入於血分經絡間，故病不能自轉側。</p>
<p>若先治痧，尚有廖日」。即求余治，先放痧，不愈，用寶花散、圓紅散、及防風勝金湯，俱微冷服，痧退後，治傷寒而痊。</p>
<p>一余次女，四月間，頭痛發熱，屬傷寒太陽經症，用羌活沖和東加減治之，稍愈。至第四日，原照傷寒治之，不應，更面赤身熱、心胸悶悶不已，六脈洪大無倫。余曰：「此傷寒兼犯痧症，當看痧筋刺之」。余女不信，至晚，疾益甚，始欲放痧，在左腿彎下，刺青筋一針，流紫黑毒血，余更有細青筋不甚現，是緣不信，多纏綿一日，痧氣壅阻，故痧筋有隱隱者爾。服必勝湯三頭服，稍覺身松，未愈。次日指上痧筋復現，刺血九針，服藥未愈。俟至夜，右腿彎復現青筋二條，刺出毒血，服圓紅散，乃少安。後又驟進飲食，復發熱面赤，用山楂、卜子、柴胡、陳皮之類飲之，不應。脈仍洪大無倫，此因痧毒復發而然，刺兩足十趾青筋，去其毒血，用必勝湯稍冷服二劑未已。偶飲稍溫茶，立刻狂言，此痧未盡散，因溫飲而復發也。用冷井水三碗飲之，更冷服藥五劑，然後痧氣乃清，但病久身虛發暈，服參湯而蘇，後用十全大補東加減治之，調理二月而痊。</p>
<h4>痧症類傷寒</h4>
<p>傷寒集中，僅有四症類傷寒。至於痧症類傷寒，較之四症，尤為凶暴。而傷寒書內，從未載及，故醫者不識。夫傷寒頭痛、惡寒、發熱，屬足太陽膀胱經風寒，宜表，是寒從肌表而入，故宜發散為先。若痧症頭痛，是痧毒之氣，上攻頭面三陽；不因外感寒氣，其惡寒發熱，雖在肌表，是時行之氣所感，由呼吸而入，搏激於肌表之中；做為毒熱，內熱則外寒，故亦惡寒。治宜先刺顛頂，放痧以泄其毒，用藥惟在透竊解毒順氣為主。若誤認傷寒足太陽膀胱經症，用羌活、麻黃、發表太甚，反助痧毒火邪，益張其焰，勢必惡毒攻衝，作腫作脹，立時見凶。故痧症與傷寒，其頭痛，惡寒，發熱雖同，治之當異，要知痧症宜清涼，則痧毒可內解；傷寒宜辛散，則寒氣可外舒。固不可以治痧症者治傷寒，更不可以治傷寒者治痧症也。</p>
<p><u>治驗：</u></p>
<p>一林管家長子，六月，發熱五日，昏迷不醒。余診之，病似傷寒，而脈沉微無力，實非傷寒症也。閱腿彎下痧筋，放紫黑毒血三針，指頭九針，不愈，用阿魏丸並大黃丸涼茶飲之，昏迷遂醒，越兩日身涼乃痊。</p>
<p>一車文顯次子惡寒發熱十二日，昏迷沉重，不省人事。適余至鄉，延余診之，見其面色紅黑，十指頭俱青黑色，六脈洪數，皆曰：新婚燕爾、症必屬陰。余日：「非也。若以陰治，一用溫補熱藥，殆迫其死矣。」夫脈洪數者，痧毒搏激於經絡也。十指青黑者，痧之毒血流注也。面色紅黑者，痧毒升發於頭面三陽也。及視腿彎痧筋，若隱若現，放之，微有紫黑血點而已。其父素知痧患，便云此真痧也。奈前因暗痧莫識，數飲熱湯，毒血凝聚於內，放之不出，將何以救之。</p>
<p>余用寶花散，晚蠶沙湯冷凍飲料之，漸醒，痧筋復現於左腿彎二條，刺出紫黑毒血如注，乃不復如前之昏迷矣。但發熱身重，不能轉側，肩背多痛，用大劑桃仁、蘇木、烏藥、香附、白蒺藜末、澤蘭、獨活、山楂微溫服之，漸能轉運。尤身熱不涼，大便不通，用卜子、麥芽、枳實、大黃、紫朴、桃仁溫服，便通熱減，後調補三月而痊。</p>
<p>一方居安內室，正月頭痛、惡寒、發熱，心胸煩悶，口渴咽乾，頭汗如雨，痰喘面黑，十指頭具有黑色，已五日矣。</p>
<p>延余診之，氣口脈虛，時或歇指，左手三部，洪數無倫。余曰：「非痧而有是脈，恐不能生矣」。因看痧筋，幸其弟善放痧，見有青筋，曰：「此真痧也」。刺頂心一針，左臂彎一針，右腿彎一針，毒血已去，不愈。余想其飯後起病，即以礬湯稍冷多服，吐去宿食，煩悶痰喘頭汗具除，余症未愈。次日，其弟復為放痧，飲以陰陽水一碗，亦未愈。余用柴胡、山楂、連翹、紅花、卜子、枳實、荊芥、花粉，加酒製大黃二錢，俟微冷服二劑，大便通而安。迨後十余日，腹中大痛，口吐涎沫，此又因穢氣所觸而復痧也。令其刮痧，少安，用藿香正氣湯稍冷服之，腹痛頓止，後用補中益氣湯、十全大補湯調理如舊。</p>
<p>一甄復先，惡寒發熱，嘔噦心煩，服他藥，昏迷不醒。或謂陰虛而然，余診之，六脈沉微，手足大熱，唇舌鮮紅，身體重痛，余曰：「痧毒衝心，入於血分瘀滯故爾。」不信。連易三醫莫任。復求余治，呼之不應，扶之不起，用晚蠶沙煎湯微冷服，次以寶花散、煎砂仁湯微冷送下，稍醒，然後扶起放痧數十針，未愈。用桃仁、延胡索，蘇木、烏藥、紅花、香附、山楂一劑，始能轉側。後服小柴胡湯，寒熱具除，調理兩月而痊。</p>
<h4>痧類瘧疾</h4>
<p>痧有寒熱往來，類乎瘧疾。或昏迷沉重，或狂言亂語，或痰喘不休、或心胸煩悶，叫喊不止、或嘔噦吐痰，睡臥不安、或大小便結，舌黑生芒。如此重極，脈必變異，不與瘧同，宜細辨之。</p>
<p><u>治驗：</u></p>
<p>一沈日岩，七月間，日晡寒熱，昏沉脹悶，大便不通，舌焦苔濃。延余治瘧，左脈浮大而虛，右脈沉細而澀，愚意瘧疾見凶，脈不應虛且澀，視其乳下有青筋，刺出紫血毒血二針，令其刮痧，不愈。用散痧消毒活血之劑，加大黃三錢，稍冷服之，大便通，諸症退，惟寒熱未已，用小柴胡湯治之，後用四君子湯調治而痊。</p>
<h4>瘧疾兼痧</h4>
<p>瘧疾臥床，往往有因暑熱相侵，心中迷悶，或時疫之氣相感，兼犯乎痧，瘧因痧變，勢所必至，不可漫以為瘧而忽視之也。瘧之為害，尚可延久；痧之為害，必致傷人，即令痧之輕者，苟不知治，纏擾於身，不克驟愈，雖或幸愈，數復難痊。自非先治其痧，決難全愈，兼痧之禍，可勝道哉。</p>
<p><u>治驗：</u></p>
<p>一錢拱宸內室患瘧，發熱不涼，痰嗽煩悶，口渴不食。余診之，氣口脈虛，左三部微澀而數，此兼痧之症也。令其放痧，用散痧順氣活血解毒藥，不愈。次日又放痧，脈始弦數，又如前劑服之，不復煩悶矣。後用柴胡雙解飲三劑，瘧愈。止用消痰順氣藥加童便飲五劑，痰嗽俱痊。</p>
<p>一余三子，五月間，患瘧凶暴，左脈沉微，右手脈伏，驗有腿彎、手臂青筋，刺出紫黑毒血，稍覺胸中爽快，用寶花散，沉香丸稍冷服之，遂用大黃丸並服，可扶而起。次日復傷食又患兼痧，凶暴益甚，更放痧，凶暴始減，用散痧消食順氣解毒藥五劑，稍安。後又傷食發熱，用山楂、卜子、青皮、陳皮、紫朴、白芥子四劑，大便不通，加枳實、大黃，便通熱減。惟病久虛極，時覺眩暈心跳，夜睡不寧，用棗仁、茯神、人參、黃　、熟地加熟附子一二片煎服，夜睡神安，調補四月而痊。</p>
<p>一沈恆生內室，六月間瘧疾，日晡寒熱已八日，忽壯熱不已，昏沉不醒。延余診之，左脈弦數不勻，右脈虛而沉澀，余曰：「左不勻，右虛澀，非瘧脈也。殆其為瘧之變症，非痧而何」。刺左臂青筋一針，紫黑毒血流出如花，不愈。</p>
<p>服荊芥東加藿香、卜子、紫朴、檳榔並化毒丹微冷凍飲料之，稍醒。次日，復刺指頭紫黑血三針，用荊芥東加枳實、大黃微冷凍飲料之，熱退後，用三香散，運動其氣，調理一月而痊。</p>
<h2>卷之中</h2>
<h3>遍身腫脹痧</h3>
<p>痧者，暑熱時疫惡毒之氣，攻於裡則為痰喘，為血瘀，昏迷沉重，不省人事。若元氣壯實，內不受邪，不入於裡，即散其毒於肌膚血肉之表，為腫、為脹。若誤飲熱湯熱酒，便成大害，此痧之暗者，宜從脈異處辨之。</p>
<p><u>治驗：</u></p>
<p>一翰黃聞兄一婢，久生瘡患，腹大如臌，手足俱腫。延余診之，左脈微數，右脈或時歇指。余思瘡毒入內作腫作脹，其脈必然洪數有力，方見脈症相對，乃可治其瘡毒。今左脈微數，右脈歇指，脈症不合，必慢痧為患也。視其腿彎，果有痧筋青色，刺五針，紫黑毒血流之如注，未愈。又刺指頭毒血二十針，用寶花散並付桃仁紅花湯八服，服後腫脹俱消如舊。</p>
<p>一翰黃聞兄長女，手足具腫，將逮於腹。延余診之，六脈弦細沉遲，知其為慢痧之變症也。云宜先放其痧，緣畏刺不放。余辭不用藥，恐藥氣稍冷，不能治及於血肉之分也。越六日，腫脹益甚，復延余治，令其仆婦，為主女放痧三十余針，紫黑毒血已出。用寶花散稍冷服之，並用散痧解毒，消瘀順氣之劑治之。以其痧久綿延，難於速效，計服二十四劑，方得腫脹具消，安平如舊。</p>
<p>一賈峰青，遍身腫脹，服藥不應。延余治之，余見心口將平，臍有青筋。余曰：「危哉，診脈無根，殆不可療」。然視其指上、腿彎青筋交現，刺出毒血甚多。彼又謂痧症不當服藥遂已，後至二月余，終成真臌而死，惜哉。</p>
<p>一余鄰許姓者，有子四歲，頭面胸腹，手足遍身，俱腫脹紅色，頭汗如珠不絕。求余診視，兩關兩尺，皆洪大滑實，兩寸厥厥動搖，此傷食之痧，感於脾經，故遍身肌肉腫脹。及看其痧筋不現，刮痧不起，此因誤飲熱湯，痧氣內攻，壅塞衝心，故遍身作腫作脹。惟衝心，心臟不受其害，故上干頭面，化而為汗，出之如珠，皆心液也。用紫朴東加大黃丸，微冷凍飲料之，脹消汗止而愈。</p>
<h3>悶痧</h3>
<p>痧毒衝心，發暈悶，倒地。一似中暑中風，人不知覺，即時而斃，此痧之急者，如略有蘇醒，扶起放痧，不愈，審脈服藥施治。如發暈不醒，扶之不能起，必須審脈辨症的確，果系何因，先用藥數劑灌醒，然後扶起放痧，漸為調治。</p>
<p><u>治驗：</u></p>
<p>一汪君美內室，六月間，發暈昏迷。延余診之，兩寸芤而散，余脈如常，但重按之，時見歇指，此暑熱穢氣觸犯心經之痧也。扶之不起，先用寶花散，薄荷湯並藿香湯冷服。稍醒扶起，刺出毒血三針，不愈。用沉香阿魏丸、薄荷湯微冷凍飲料之，漸安。後用四物湯調理而愈。</p>
<h3>落弓痧</h3>
<p>倏忽昏迷不醒，或痰喘不已，眼目上吊，形如小兒落弓之症。此暗痧難識，必須審脈辨症，的是痧毒，看其身體涼熱，唇舌潤燥何如，然後治之。</p>
<p><u>治驗：</u></p>
<p>一盛洪烈子，九月間，發熱口渴，昏悶不醒，兩目上翻。延余診視，六脈微細而伏，先用寶花散加砂仁湯，冷下而蘇，扶起放痧十二針，去紫黑毒血，用救苦丹並細辛大黃丸加砂仁湯稍冷下，又用防風散痧東加金銀花、丹參、山楂、卜子而痊。</p>
<p>一陳公玉，八月間，時常身熱，口中微渴，煎滾茶飲之，倏然沉重，昏迷不醒。余診之，左尺沉細，動止不勻，右寸脈浮而芤，此腎虛而痧犯之。腎水之痧，逆行干母肺金，故痰氣壅盛而發暈也。用獨活紅花湯入貝母、牛膝同煎，加童便飲之，更進圓紅散而醒，然後扶起放痧，二日後，痧氣清，用補中益氣湯、六味地黃丸，調理而痊。</p>
<h3>噤口痧</h3>
<p>默默不語，語亦無聲，形如啞子，此乃痧氣壅盛，熱痰上升，阻逆氣管，故咽喉閉塞而然。治宜先放其痧，審其肺腎脾三經之脈為要，然後推詳余經之脈，則知病之所本矣。</p>
<p><u>治驗：</u></p>
<p>一吳子瑞一女，十一月間，忽然痧脹，心中煩悶，昏沉不語。子瑞善放痧，稍醒，語更終日無聲。余診之，左關有力，右脈沉伏，傷氣之痧也。此女日為後母所詈，故有此變，用陳香丸一丸煎湯微冷凍飲料之，稍有聲焉，未愈。次日，左脈弦長而動，余曰：「怒氣傷肝，痧氣猶阻於肝經之故」。刺腿彎紫筋三針，血流如注，又刺頂心、臂指二十余針，乃用三香散、陳皮厚朴東加延胡索、香附微溫飲之，乃痊。</p>
<h3>角弓痧</h3>
<p>心胸脹極，痧毒內攻，故頭頂向上，形如角弓反張，是臟腑已壞，死症也，不可以治。</p>
<h3>撲鵝痧</h3>
<p>痰涎壅盛，氣急發喘，喉聲如鋸，痛若喉鵝。但喉鵝之症，喉內腫脹，若痧、則有如喉鵝之痛，而無喉鵝之腫脹。</p>
<p>又形若急喉風，但喉風之症，痛而不移，若痧，則痛無一定，且痧有痧筋；喉鵝無痧筋，此可辨也。</p>
<p><u>治驗：</u></p>
<p>一施三先痰氣壅盛，吹吊痰藥，益凶暴痛極。余診之，脈多怪異，此三焦命門之痧也。閱臂指筋刺十一針，腿彎有青筋，刺三針，出紫黑毒血甚多，不愈。用沉香鬱金散、救苦丹清茶冷凍飲料之，外吹冰硼散，又用荊芥銀花湯微冷凍飲料之，三劑而痊。</p>
<p>一周龍生，喉痛之極，痰涎壅盛。延余，余曰：「痧也」。不信，飲熱湯，至夕而殂。</p>
<h3>傷風咳嗽痧</h3>
<p>痧從時氣所感，因而咳嗽，肺經受傷，不可以傷風治之，蓋傷風以疏風為主，若痧則純乎疏風，非其所宜，當刮痧為先，宜清喉順氣涼肺散痧為主。若專重疏風，縱非緊痧急症，亦必咳嗽日甚，纏綿不已，勞嗽等症，由此而成，慎之慎之。</p>
<p><u>治驗：</u></p>
<p>一徐茂公傷風咳嗽，日晡微寒發熱。余診之，右寸脈浮而芤，余脈虛而無力，時氣所感，肺經之痧也。其弟為之放痧、刮痧，稍可。不服藥，至十余日，咳嗽不止。余用射干兜苓東加前胡、山豆，稍冷凍飲料之，漸愈。</p>
<h3>痘前痧脹</h3>
<p>痘本先天，因時而發，必由外感。至若痧者，亦時疫之氣所感作脹作痛。而胎元之毒，因之俱發，凡痘未見點之前痧脹，必心胸煩悶，痰涎壅塞，甚至昏迷沉重，不省人事，此其候也。其小兒滑疾之脈，類於痧症厥厥動搖之脈。雖若疑似難明，然痧有痧筋可辨，宜先刺出毒血，而後用藥清理之，則痧自退，痘自起矣。若痘點既形，觸穢痘隱者，諸痘科自悉，不贅。</p>
<p><u>治驗：</u></p>
<p>一夏子亮幼子，五月發熱，痰喘氣急四肢戰動，兩目無神，不省人事，口熱如爐，面有隱隱紅紫細點。延余看痘，閱其腿彎有紫筋兩條。余曰：「兩目無神，四肢戰動，痘之候也。隱隱微點，痘之形也。口熱如爐，紅紫之色，熱之盛也。但是，痰喘氣急，有腿彎紫筋兩條，必痘因痧脹而發。治宜先放其痧，後發其痘，則痘自起」。用針刺出毒血，隨用荊芥、連翹、防風、紅花、青皮、桔梗、枳殼、山楂，卜子一劑，俟稍冷凍飲料之，其痘即發，至十二朝乃痊。</p>
<h3>痘後痧脹</h3>
<p>痘後中氣多虛，有感必傷，尤宜防護。嘗有小兒痘後，收靨脫痂，安然無事，一遇暑熱所侵，或穢惡所觸，即成痧脹。往往有忽然生變，人多認為惡痘所致，即痘科任事者，亦以為然，競不知其痧之為害有如斯也。</p>
<p><u>治驗：</u></p>
<p>一胡丹　子，七歲，八月出痘脫痂光潔，飲食如常，行步如舊。迨二十五朝，忽然叫喊不已，發暈欲死，皆以為惡痘余毒使然。求余治之，左右手六部俱微細而伏，余思惡痘余毒兆變，脈當沉緊有力，今微細而伏若此，脈症不合，視其痧筋，歷歷可指，刺出紫黑毒血，不愈。用荊芥銀花湯合和脾宣化飲，稍冷凍飲料之即蘇。後小腹痛，變為痢疾，用當歸五錢，山楂一錢、熟大黃五分、加童便微溫飲之，稍安後，獨有用當歸、山楂四劑而痊。</p>
<p>一張可久女十五歲，痘後三十二朝，忽然發暈沉重，不能轉側。延余延醫，右脈微細，左脈洪大，時一歇指。視其指頭黑色，青筋歷歷，刺出毒血，不愈。用降香桃花散合枳實大黃湯稍冷凍飲料之，不愈。用三香丸微溫服，而痊。後傷食，為穢氣所觸，腹痛，刮痧，服棱術東加明礬二分，微冷凍飲料之而安。</p>
<h3>胎前產後痧</h3>
<p>孕婦之痧，最易傷胎；產後之痧，須防惡阻，較之平人更甚，當急為救療。庶於痧毒未攻壞臟腑之時，可以施治。</p>
<p>若屬暗痧，發於此時，胎前痧脈；溷於有孕，產後痧脈，雜於惡阻，又無心腹痛劇，痧從暗發。須當究其症候，察其聲色，看有痧筋，急宜刺破，肌膚痧擁，尤重油鹽，至若痧毒橫行，肆攻臟腑，莫可挽回，慎毋草草以誤人也。</p>
<p><u>治驗：</u></p>
<p>一趙方亨內室，懷娠六月，寒熱交作，煩悶不安。延余時，痧在始發，脈固未現，初不覺其為痧，用藥不應，忽爾昏沉。次日，余診左手脈伏，面目微黑，乃識其痧，刺腿彎青筋六針，出毒血，少愈。用桑寄生、紅花、香附、益母草、荊芥、細辛、卜子、神麯沖砂仁末，微冷服而安，後用小柴胡湯退熱，又參苓歸地健脾養血乃痊。</p>
<h3>胎前痧痛論</h3>
<p>胎前痧痛，毒瓦斯攻胎，尚懼胎孕絞動，傷胎殞命。況痧有毒血攻衝，胎孕嬌嫩，決難安靜，至如安胎，用白朮、當歸、茯苓之類，痧所大禁，若一誤用，立時痧脹凶危。其痧脹所宜，惟是破血破氣之劑，又胎孕所忌。愚嘗斟酌其間，若刮痧放痧不愈，必欲活血解毒，用金銀花、丹參、益母草、紅花、桑寄生消瘀而不損胎元；順氣用香附、陳皮、紫朴、砂仁、烏藥行氣而不傷胎氣；散痧用荊芥、防風、獨活、細辛透竅而不動胎孕；消食積用山楂、卜子、神麯、麥芽寬中而不伐胎性；采擇於中，最為穩當。然痧毒勢盛，此等之藥，難於速效，或權用一二味克伐，又恐於胎有害，此予所以反復而不敢輕任也。</p>
<h3>產後痧痛論</h3>
<p>產後用藥，必須溫暖；痧脹用藥，惟重清涼；此症屬相反。處治之方，毋執產後，一於溫暖，亦毋執痧脹，一於清涼也。愚嘗遇此等症，竊以為消瘀破血之藥雖同，其余有不可通用者，是以制就一方，為臨症之法。散痧用獨活、細辛；破血用桃仁、紅花；順氣用香附、烏藥、陳皮；解毒用金銀花、紫花地丁；消食用山楂、卜子、神麯、麥芽。如產後用薑炭，肉桂以溫血，痧症所大禁。痧症利用荊芥、防風以散痧，連翹、薄荷以清熱，產後所不宜。況痧症脹極，尤重大黃，枳實、檳榔以通其積滯，而產後之藥，更不可不禁，恐用此傷產後之氣分也。且產婦服藥宜溫，痧症服藥宜冷。</p>
<p>若痧而用溫，脹者益脹；產而用冷，瘀者益瘀。故予臨症，惟取微溫之氣，則既無害產後，而亦無助痧禍。若痧更凶極，微溫之氣，難於制治，加童便以清熱消瘀，產後、痧症，俱得其宜矣。</p>
<p><u>治驗：</u></p>
<p>一顧月溪內室，產後三日，腹中絞痛，脹大如臌，惡露不通。延余診之，余思產婦腹痛，當在小腹，大腹脹痛，亦僅微疼。今產婦大腹絞痛異常，非產婦本症。及按脈，洪數有力，余曰：「此產後兼痧脹也，當取痧筋驗之」。不信，漫服產後藥，益覺昏迷不醒。復求余治，勢已危極，痧筋不現，先取童便一杯飲之，少蘇。閱十指筋，刺出紫黑毒血二十一針，然後扶起，放腿彎痧六針，絞痛稍定。用獨活紅花湯微溫服之，迨痧毒消盡，脹痛盡止，惡露俱通後，調補乃痊。</p>
<p>一蔣南軒內室，產後八日，惡露去血過多，忽惡寒發熱，胸中脹悶垂危。延余，脈洪大無倫。余思惡露不盡尤可，今惡露去盡，何以驟得此脈，因語之曰：「脈甚凶，若兼痧可救」。南軒善放痧，信余言，入視痧筋紫紅色者二條，放毒血。余復診之，不復洪大，又刺指臂出紫黑毒血三十余針。用獨活、細辛、柴胡、金銀花、丹參、益母草、牛膝、石斛、烏藥、山楂、陳皮四劑，微溫服之，寒熱脹悶具除，後調補而愈。</p>
<p>一單公廉內室，產後六日，遍體疼痛，寒熱如瘧，昏悶異常。延余，六脈時有歇指，閱左中指、右無名指，微帶黑色，乃知兼痧之症。刺指上紫黑毒血七針，臂上毒血一針，舌底下紫黑毒血一針，昏悶疼痛稍緩。用獨活、桃仁、蒼朮、香附、童便、薑黃、山楂，微溫服二劑，疼痛昏悶具除。但寒熱未已，用金銀花、丹參、益母草、艾、柴胡、獨活、薑灰、牛膝、山楂，溫服四劑，寒熱乃瘳，調補月余而健。</p>
<h3>倒經痧</h3>
<p>經行之際，適遇痧發，經阻逆行，或鼻紅，或吐紅，肚腹腫脹，臥床不能轉側者是也。肚腹不痛，亦為暗痧。若痧毒攻壞臟腑者不治。</p>
<p><u>治驗：</u></p>
<p>一沈弘先內人，經期發熱，鼻血如注，昏迷沉重、肚腹作脹。延余診之，脈伏。余曰：「兼痧而經逆者也」。弘先善放痧，刺腿彎二針，出紫黑毒血，不愈。余用桃仁、紅花、獨活、細辛、山楂、香附、青皮加童便飲之，經行調理而愈。</p>
<h3>痧熱</h3>
<p>（頭汗痧、狂、譫語附）</p>
<p>痧氣壅盛，發為熱症，或熱而不涼，或日晡發熱，或潮熱往來，皆痧毒之氣阻而不通，搏激肌表，發而為熱。不識者，認為外感，傳經熱症，發汗溫飲，即慢痧遲緩，勢必痧氣益盛，變出頭汗發狂，種種重症。不知外感之脈浮數而緊；熱症之脈，洪數有力；痧症之脈，終有不同，或有可疑，須看痧筋有無，辨之即明。</p>
<p><u>治驗：</u></p>
<p>一沈懷先，夏月，日晚發熱，五日不涼，諸藥不效，反益昏悶煩躁。余診之，右三部及左關，俱微細無力。余見其病氣有餘，脈反若不足，知非真不足，乃痧脈之變者也。先令刮背上痧，又於十指臂彎，刺出紫黑毒血三十余針，不愈。</p>
<p>用冷茶送寶花散二服，又以陳皮厚朴湯主之，倍加玄胡索，香附煎湯稍冷服，四劑而痊。</p>
<p>一邵洪玉內室，日晡發熱，頭汗如雨。延余，六脈震動不常，故知其痧。刺出十指紫黑毒血二十針，不愈。煎紫朴湯稍冷服三劑，痧氣已盡。用大黃三錢，枳實、陳皮、厚朴各一錢，煎湯溫飲，下其結糞。熱退身涼後，朝用補中益氣湯，夕用六味地黃丸，調理而痊。</p>
<p>一褚元龍，夏月潮熱往來，已六日矣，服他藥，熱極不涼，發狂譫語。延余，左脈俱微，右脈俱洪大，非痧脈不若是之異也。視其乳下青筋二條，刺出紫黑毒血，不愈。用桃仁、澤蘭等分煎湯平服，神情始定，日漸調理，半月而痊。</p>
<h3>痧煩痧睡</h3>
<p>痧氣衝於心胸，故心煩或嗜睡，此等之痧，俱屬慢痧之類，輕而且淺，人多誤以心煩嗜睡治之，日甚一日，倘日服熱酒熱湯熱物，雖非驟然緊急，勢必日漸凶險，故並錄之以示戒。</p>
<p><u>治驗：</u></p>
<p>一王培元適會於其弟宋臣書室，云及心煩之甚，已非一日，將服他藥。余診之，脈症不合，止而不服，閱腿彎痧筋刺而放之，不藥而痊。此等痧甚多，姑記一以為例。</p>
<p>一余弟驤武，每心煩嗜睡，自識其痧，便欲刮放，不藥而痊。此由中氣虛，故易感痧患，雖輕之至，不足具述，然亦痧之一症也。姑錄之以廣其說。</p>
<h3>老弱兼痧</h3>
<p>先有痰火咳嗽之疾，忽爾喘急痰涎喉聲如鋸，或頭汗如油，喘而不休，心胸煩悶，莫可名狀。雖云痰火危篤，往往有之，然亦有兼感時氣或穢氣所觸，驟然勢盛者，凡治必宜細細察脈按症，先清其痧，次治其痰，然後漸補氣血，則標本兼得其理矣。</p>
<p><u>治驗：</u></p>
<p>一汪子建母，七旬有餘，素犯痰火老弱之症，忽痰涎壅盛，喘急不休，喉聲如鋸。延余診視，六脈不勻，有如雀啄，雖老弱痰火之脈，嘗有歇指，亦不足怪，然視其驟然作變，病必有異。余曰：「此兼痧症，尚可治也」。閱其左腿彎下，有青筋二條，刺之紫黑血流如注，先用散痧消食豁痰順氣之劑，並進牛黃抱龍丸，病勢漸安，後惟補其氣血，乃痊。</p>
<p>一盛君和母，五十歲，痰火多年，忽面赤頭汗，遍身俱腫，喘急煩悶倍常。延余診視，余思老年痰火，固所宜然，何面赤頭汗，遍身俱腫之驟也。及按其脈，又與症相合，不可據以為痧。然恐痧之為禍不小，若竟以老弱痰火治之，終覺疑而不安，細視其十指，有細紅絲筋，歷歷可驗，則其痧之為老弱變症也，明矣。先治其痧，刺指頭二十余針，去其毒血，次用稍冷湯服寶花散，面赤頭汗身腫俱除，喘急亦漸和緩。唯是老弱痰火為終身之疾。</p>
<h3>瘡症兼痧</h3>
<p>瘡痛者，心火血熱所致，故火盛而膿腫作痛，然膿瘡雖痛，必漸漸而極，非若兼痧之驟。故凡瘡瘍兼痧，其腫痛必多可畏處，況瘡瘍脈多洪數，兼痧脈固不同，其筋色又有可驗也。</p>
<p><u>治驗：</u></p>
<p>一潘子亮女，十八歲，患瘡已半載。忽一日飲酒後，膿瘡大盛，或以其酒助血熱，且食雞鵝發毒之味，膿瘡腫痛，由斯而極。治以涼血活血解毒托裡之劑，更覺昏迷飽悶。延余治之，脈不洪數而反沉微。余曰：「脈不對症，必痧使然」。</p>
<p>刺出指頭毒血，又刺頭頂心一針，神情方始清爽，但胸中飽悶，用順氣散痧消毒之味四劑，微冷凍飲料之，兼外搽合掌丸，飽悶膿瘡俱愈。</p>
<h3>弱症兼痧</h3>
<p>先有勞弱不足之症，或吐血時發；或微微干嗽，兩顴唇口鮮紅；或骨蒸發熱不已，一觸犯時氣傳染；或穢惡之氣相犯，必兼痧脹。或多痰喘；或咽喉如鯁；或心腹脹悶，煩躁發熱；較之平時不足之症，益覺沉重。此宜以痧為主治之，令痧毒退盡，方可治其本症，不然，勞弱未見凶危，痧禍已在目前矣。</p>
<p><u>治驗：</u></p>
<p>一婦人吐血干嗽，晝涼夜熱已久，忽午後發熱異常，脹悶沉重，他醫以為怒氣血虛，用養血化痰順氣之劑，病勢益盛，昏迷痰喘，不省人事。延余，左關微緩無力，右關似緊非緊，余脈應指不勻。余思怒氣填胸，左關必須有力；平時勞弱，脈亦自宜弦數；內有郁血，上中二部，亦當見芤；何脈不對症若是，看其左腿彎，有紫筋數條，歷歷可指，其為兼痧之症明矣，故昏迷痰喘。先刺其痧筋，出其毒血，倍用寶花散，清茶微冷凍飲料之，方得神情清爽，不復痰喘昏迷、脹悶沉重之勢。但勞弱由於本原不足，綿延未愈。</p>
<h3>痧變勞瘵</h3>
<p>痧症有惡飲熱湯者，有反喜飲熱湯者，惟其喜飲熱湯，痧症益莫能識，慢痧所以變成勞瘵也。原其痧毒之始入於氣分，令人喘嗽吐痰發熱聲啞，蓋火毒傷肺，肺為嬌臟，若不知治變成百日緊勞，輕者數年難愈，卒至危亡。痧毒之始入於血分，重者兆變在即，輕者歲月延捱。若乃毒瘀胃口，必須去盡而愈。毒瘀肝經，損壞內潰，吐血數發，勢極多危。</p>
<p>毒瘀心包絡，更加凶險，不待時日。毒瘀腎經，腰脊疼痛，嗽痰咯血，日甚一日，不可得痊。凡痧毒遺患，總成勞瘵，治須識之於始，（凡臟腑之病俱可療治，）莫咎其終。（若一潰損臟腑便屬不治。）</p>
<p><u>治驗：</u></p>
<p>一王君瑞內室，咳嗽吐痰發熱，左背疼痛，已年余矣。延余診之，六脈浮緊洪數，脈症不合，又無痧筋，但用刮痧痛減，服散痧清熱消痰順氣四劑而愈。</p>
<p>一楊音節痧脹不服藥，惟放痧三次，胃脘間成一大塊，咳嗽吐痰，發熱不食，日漸　瘦。延余診之，右關脈芤而緊，余脈俱數。余曰：「內有瘀血，必吐出而可解。」用桃仁、蘇木、澤蘭、白蒺藜、香附、烏藥酒煎服之，吐紫黑血碗許，更用活血引下之劑，加童便酒服之而愈。</p>
<p>一左元峰痧脹，放痧三次，不服藥，痧根不絕，變成勞瘵，咳嗽咯血，音啞發喘，骨瘦如柴，脈洪大無倫。余辭不治，又二月而終。</p>
<h3>膨脹兼痧</h3>
<p>先有膨脹而痧氣乘之，臌脹益甚，在臌脹不可先醫，在痧氣自宜早治。</p>
<p><u>治驗：</u></p>
<p>一江云甫肚腹脹急如臌，臍突筋青，心口將平。余診之，知為血臌之症，其指頭黑色，此臌症之所無也。視指上有青筋，兼痧無疑，刺二十余針，又刺臂彎腿彎青筋五針，俱去其毒血，略松，用蒺藜散微溫飲之，臍下青筋漸退，後用臌症之藥，導去惡水，日服治臌香圓丸二月余，臌症盡平，永不復發。</p>
<h3>痧變臌脹</h3>
<p>痧者，毒也。慢痧之毒，遷延時日，留滯肌膚、腸胃、血肉之中，若不早治，即成真臌。</p>
<p><u>治驗：</u></p>
<p>一嚴天玉次子，氣急作脹，胸腹飽悶，臍下有青筋突起，心口將平，此慢痧成臌也。刺腿彎青筋六針，出紫黑毒血甚多，又刺指頭出毒血二十四針，臍上青筋即淡色，腹內覺松。用寶花散微冷服，腹脹漸消，其後不復用藥施治，但恐其根未除，日後復發，姑志之以例其余。</p>
<h3>半身不遂痧</h3>
<p>心主血，痧毒入於血分，故易攻心，此痧症所以發昏也。若痧之慢者，沖激遲緩，未逆於心，留滯經絡，或在於右，或在於左，為半身疼痛，或麻痹不仁，如此半身不遂，總因痧毒之遺害也。治之者，見有痧筋，急宜刺破，然後用藥以散其毒，活血以消其瘀，則痧根既拔，其症漸痊。若不知治，綿延日久，痧毒益深，勢不可遏，當又有變症難愈矣。</p>
<p><u>治驗：</u></p>
<p>一章道庵屢患吐血，發熱不涼，左半身疼痛不已，行步艱難。延余診視，初不覺其為痧也，細思脈症不合之處，檢其痧筋刺之，用桃仁、澤蘭、獨活、烏藥煎二劑微溫服，吐血疼痛俱愈，永不復發。</p>
<p>一盛成年朝涼夜熱，氣急半年，服藥不應，反加右半身疼痛，不能俯仰，咳嗽吐痰，飲食減少，成勞弱不足之症。棹舟迎余，脈不見弦數，而微細，時有歇指，脈症不合，閱其痧筋刺二十余針，用薑黃、旋覆花、丹參、橘紅、赤芍、玄胡索、澤蘭、山楂、角刺、穿山甲二劑，微溫服，疼痛吐痰俱除。後朝用六味地黃丸，夕用補中益氣湯。朝涼夜熱俱愈。</p>
<h3>內傷兼痧</h3>
<p>人有內傷，詎無外感。外感之症，不獨風寒，即夏月暑熱之氣，時疫傳染之氣，穢惡觸犯之氣，一受於身，亦如外感。然則內傷者本病，外感者標病。故傷寒集中，有內傷外感之症，此之集中，有內傷兼痧之症。治法主意，先辨痧症治其標，後審內傷治其本。</p>
<p><u>治驗：</u></p>
<p>一曹洪宇子之外戚，爭奪家產，涉訟公庭，有老婦造其家，互相爭毆，發熱沉重，咳嗽吐痰，胸中脹悶，諸親戚惟恐斃於曹姓室中。延醫青來王兄，更邀余往視，青來幾不敢任，余憐憫此婦不治，入命重情，彼此俱敗，若一救之，不特活婦一命，亦且保全兩家，是亦大德。余為診之，知其內傷兼痧症也。刺痧筋二十余針，付寶花散微溫服之，脹悶稍松。爰定一方，即於青來廂中取藥，用桃仁、赤芍、澤蘭、玄胡索、紅花、陳皮、烏藥、獨活，治其內傷。服後，下黑糞，瘀血俱消，諸症俱愈。但其舊有不足之症，非參不可，後青來用參　大補，乃健而歸。</p>
<h3>紫痧</h3>
<p>痧症不內攻則外潰，余於發蒙論中，已略陳其概矣。無如痧症變異，更有難盡述者，即若為腫為毒之外，又有發為紫血　者，此真痧之異者也。余故記之以例其余。</p>
<p><u>治驗：</u></p>
<p>一余鄰許秀芝女，嫁為養媳婦，手足下半身俱腫，大腹亦脹，發出兩腿足紫血　，如圓眼大，密難數記，皆云此爛瘋之症，服藥益甚。秀芝憐惜其女，載與俱歸，求余治。視　多可畏，及見有痧筋，發現於腿彎，方知痧者，尤樹之根者，尤樹之葉也。遂為放痧三針，又刺指頭痧二十一針，盡去其毒血。復診其脈，六部俱和，殆其痧毒之氣已散，但存肌表紫　而已，用蘇木、紅花、澤蘭、桃仁、烏藥、桔梗、川芎、牛膝，二劑溫服，凡紫血　盡收靨結痂而愈。</p>
<h3>痰喘氣急痧</h3>
<p>先有痰喘氣急而痧脹因之，先治其痧，後治其痰氣。無令痧為本病之助，先有痧脹而痰喘氣急因之，但治其痧而痰喘氣急自愈。若痧有寒熱不清，痰喘氣急者，兼和解。痧有有熱無寒，痰喘氣急者，兼清熱。痧有食結不化，痰喘氣急者，兼消食順氣。痧有大便不通、小便不利，痰喘氣急者，急攻其裡。痧有痢下膿血，或赤或白，痰喘氣急者，急攻其積。痧有瘀血凝滯，小便利、大便黑，痰喘氣急者，急消其瘀。痧有嘔吐紫黑血，或鮮血，痰喘氣急者，當慮痧毒攻壞臟腑，不痛者，可治，痛而不已者，難治，服藥不應者，死。</p>
<p><u>治驗：</u></p>
<p>一祖南軒四月，發熱頭痛，脹悶昏迷，痰喘氣急。延余，六脈無根。余曰：「脈法，六脈無根者，死。若為痧脹而然，則有救」。其家善放痧，因閱痧筋放之，不愈。余用沉香鬱金散，圓紅散，稍冷服，又用化毒丹一服，昏迷即醒，脹悶痰喘氣急俱平。更用防風散痧東加青皮、連翹、山楂、卜子、熟大黃一錢服之。發熱頭痛俱已，六脈如舊。</p>
<p>一費道元內室，痰喘氣急，脹悶不已。延余，左三部脈浮緊而數，右三部脈如無。余曰：「痧脹暗發也」。其兄善放痧，刺乳下，出紫黑毒血二針如注，六脈復舊。余用和脾宣化飲二服，稍冷凍飲料之，痰喘氣急脹悶俱痊。</p>
<p>一錢公肅子二月晚間，痰喘氣急，發熱身重，腹中絞痛。延余，脈沉微，刮痧放痧不愈。用藿香湯稍冷服之，又用棱術東加大黃五分，微溫服之，諸病俱痊。</p>
<h3>痧瘋</h3>
<p>瘋者，天地間厲氣所感，發而為瘋。蓋惡毒之氣，纏血肉，散於肌表，留於經絡，以成瘋症，最惡侯也。若痧者，亦時行惡毒之氣，變為大瘋，尚何疑乎？余昔在秦溪，嘗見一人犯大麻瘋症，眉發俱脫，面目頹敗，手足蜷攣。遇一老者，為之放痧三次，曰：「此痧瘋也」。傳汝一方，金銀花六錢、黃芩一錢五分、皂角刺一錢、赤芍二錢、紅花二錢、牛膝三錢、苦參四錢、生地二錢，水煎日服，日漸而痊。若余於此症，固未嘗治及，不敢虛載治驗。適余經見老者所治有然，故附錄之，以見痧症之亦有是變焉。</p>
<h3>痧重</h3>
<p>痧症始發，勢雖凶暴，未必身重，若飲熱湯熱酒，痧毒即阻塞於經絡血肉之間，遍身重痛，不能轉側，放痧之後，治宜消瘀解毒為先。初起易治，久則難治，放瘀服藥不效者死。</p>
<p><u>治驗：</u></p>
<p>一邵光先十二月，腹中微痛，嘔噦酸水，以為胸中受寒，服薑湯一碗，遍身大痛，腹脹身重，不能轉側。迎余，右脈俱伏。放痧，用當歸枳殼湯稍冷凍飲料之，又用桃仁紅花湯微溫服，次日痧毒之氣漸減，又放痧，服如前藥而愈。</p>
<p>一莫乘云次子，頭痛發熱，胸中脹悶，飲熱湯一碗，遍身疼痛，不能轉側，臥床不起，服他藥，益昏沉。延余，右寸氣口脈虛，左寸微細，關洪緊有力，知其痧也。刺指頭，出毒血九針，少愈。用消痧活血解毒藥，三劑而痊。</p>
<h3>眼目痧</h3>
<p>痧者，火毒也。若犯痧症，適與心主之火相合，故痧毒逆沖，最要防攻心之患。今少陰心君不受邪，逆犯厥陰肝母，故兩目紅腫如桃，甚則眼珠突出，最為凶險。然他症患目，惟在於目，若因痧為患，必然先覺心中煩悶而目疾因之。苟不知早治，則痧毒已參陽位，其火勢之炎熱，輕則壞目，重則殞命。治宜先刺巔頂百會穴，以泄毒瓦斯，當放者放，刮者刮，用清火活血順氣之劑，加牛膝、石斛以引火歸原，誠為良法。</p>
<p><u>治驗：</u></p>
<p>一江道誠患心中煩熱，頭眩，忽兩目紅腫大痛，飲熱茶熱酒眼珠突出，左目尤甚，至晚即昏沉發暈。延余診視，左脈微細無根，痧毒之為害也。放痧不愈，用金銀花、茜草、連翹、黑山梔、枳殼、丹皮、赤芍、牛膝、石斛、草決明，加童便微冷凍飲料之，眼珠始收，調理而愈。</p>
<h3>瘟痧</h3>
<p>寒氣鬱伏於肌膚、血肉之間，至春而發，變為瘟症，是名瘟痧。又暑熱傷感，凝滯於肌膚血肉之中，至秋而發，亦名瘟痧。但春瘟痧毒受病者少，不相傳染，時或有之。秋瘟痧毒受病者多，老幼相傳，甚至一家數人犯痧，或一方數人犯痧。其發也，必惡寒發熱。或腹痛，或不腹痛，似瘧非瘧，或氣急發喘，頭面腫脹，胸腹飽悶，或變下痢膿血，輕者牽連歲月，重者危急一時。治宜放痧消食積為主，俟痧毒已泄，然後和解清理，除其寒熱，健脾養血，補其中虛。</p>
<p><u>治驗：</u></p>
<p>一洪公震九月，惡寒發熱，吐痰咳嗽，胸中煩悶，口渴舌苔。延余診之，左脈時有歇指，右脈沉而有力。刺痧筋，毒血不流，後臥床不醒，益覺沉重，此誤飲熱湯為害也。用陰陽水一碗，加明礬二分飲之，又用消食去積之藥，加熟大黃一錢，微冷凍飲料之，少愈。次日痧筋復現，刺臂彎一針，十指二十二針，去毒血，用活血解毒藥，諸症漸松，調理而痊。</p>
<p>一公震內室，同時惡寒發熱，頭面腫脹，心胸煩悶，似大頭瘟。診之，六脈俱伏，此瘟痧也。放痧不愈，先飲微冷礬湯，次用透竅消毒下氣之劑，加牛膝三錢同煎，微冷凍飲料之，二服全愈。</p>
<p>一公震次子十月，寒熱如瘧，心腹絞痛，吐瀉不已，六脈沉緊，亦瘟痧為害也。用沉香阿魏丸，清茶微冷下，並和脾宣化飲，入大黃一錢，同煎微冷凍飲料之，次日再服如前，而愈。</p>
<h3>頭眩偏痛痧</h3>
<p>痧氣慢者，上開於三陽頭面，常覺頭眩內熱；或半邊頭痛，心煩不安；宜刮痧，不愈，用清涼之劑治之。</p>
<p><u>治驗：</u></p>
<p>一鐘仲宣數數頭眩，日漸益甚，或時右偏頭痛，脈症不合，刮痧，不藥而痊。</p>
<p>一潘尚峰苦頭眩，或左偏頭痛，服他藥不應。延余，脈微與症不合，放痧不愈，用清熱下氣之劑而痊。</p>
<h3>流火流痰痧</h3>
<p>痧毒傳變，不待時日，朝發於足而足腫痛，夕流於手而手腫痛；朝發於肌膚而肌膚紅腫，夕入於裡而痰喘不休；此等之痧，乍隱乍現，乍來乍去。按之脈，而痧脈或不現，最難識認。如痧毒所流及之處，熱者似流火而非流火，腫者似流痰而非流痰，或痛極難忍，或癢痛不已，又痧之變者也。欲知此痧，須看病勢凶暴，不比流痰流火之輕緩者，驗之於痧筋，發現刺之無疑。然後憑脈，所犯風寒暑濕及食積痰血氣阻，分治之，斯能有效。如或不覺，便成死症。</p>
<p><u>治驗：</u></p>
<p>一張宏原內室，日間左足小腿紅腫大痛，暮即腹痛而足痛止。次日，左足小腿又復紅腫大痛，而腹痛又止，來去不常，痛無一定。延余診之，六脈如常，而微數，此平人之脈也。難據為痧，但症異凶暴，須看痧筋，發現便有實據，可從痧而理也。扶看腿彎有青筋三條，刺之，紫黑毒血流出甚多，反加痰喘，此放痧有未盡故也。用荊芥金銀花東加土貝母二錢，微冷服二劑，少愈。次日，左足腿彎下，又現痧筋一條，刺去毒血並刺巔頂一針，服前東加牛膝三錢，二劑痧退。服紅花湯，半月腫痛俱痊。</p>
<p>一葛隆生次子，清晨臂上紅腫大痛。次日變為足腿上紅腫大痛，乍來乍去。隆生以為流火使然。延余，診其脈，厥厥動搖，數而又疾。余曰：「脈異於常，而症多變，殆其痧歟」。不信，服熱湯，二日而殂。</p>
<p>一奚敬峰晚間，右大腿紅腫痛方已，喉旁發腫而痛。延余，脈不見異，初不覺其為痧也。只見時症犯此者多，細看兩臂痧筋，刺出毒血如注。診氣口脈洪實，用紫朴湯倍山楂、卜子，加大黃一錢，微冷凍飲料之，食消便下而安。</p>
<h3>咳嗽嘔噦痧</h3>
<p>痧毒之氣上凌肺金，故氣逆發嗆而咳嗽，痰涎上涌，或嘔噦惡心，或面目浮腫，或心胸煩悶，此痧毒入於氣分，痧筋往往不現，治以刮痧為主。間有入於血分者，必有痧筋，然後刺之。臨症用藥，宜理痧毒為主，若以傷風咳嗽治之則誤矣。</p>
<p><u>治驗：</u></p>
<p>一俞仲嘉長女，五月發熱咳嗽，嘔吐痰涎，胸中脹悶，面目浮腫。延他醫服傷風痰嗽之藥四劑，心中益脹悶，遂止不藥，將及一月。余偶過，求余診之，右寸脈虛，知其為痧之變症也。刮痧訖，用防風散痧東加貝母、薄荷、童便微冷飲之，即痊。</p>
<p>一王惟誠咳嗽，發嗆不絕聲，面目俱腫，嘔痰不已，更吐鮮血。延余治之，六脈弦緊且數，此痧毒之氣，搏激於筋脈間，故見脈乃爾。刺指頭，出毒血三針，令多為刮痧。用寶花散加童便微冷服，又用圓紅散微溫服而痊。</p>
<h2>卷之下</h2>
<h3>霍亂痧</h3>
<p>痛而不吐瀉者，名干霍亂。毒入血分，宜放痧。新食宜吐，久食宜消食，下結宜攻。痛而吐瀉者，毒入氣分，宜刮痧。不愈，視有痧筋則放，宜調其陰陽之氣為主。須知腸胃食積，宜驅不宜止，止則益痛。若吐瀉而後痛者，此因瀉糞穢氣所觸，治宜略用藿香正氣冷凍飲料。然必須除食積血滯，或消或攻或活血。山藥、茯苓不可亂施；燥濕之劑，俱在所禁；溫暖之藥，未可亂投。</p>
<p><u>治驗：</u></p>
<p>一沈篆玉九月間，干霍亂，腹中盤腸大痛，放痧三十余針，又王君先為之刮痧，不愈。余用寶花散加大黃丸，清茶稍冷凍飲料之而痊。</p>
<p>一彭君明晚間腹中大痛，吐瀉數十次，痛益甚。延余診之，左脈芤而滑，右脈弦細而澀，此宿食已從吐瀉而盡，乃毒入血分，血瘀作痛也。放痧，不愈。用獨活紅花湯，圓紅散微溫飲之，吐瀉腹痛少愈。次日，服前藥吐瀉腹痛俱已。</p>
<p>一童敬橋內室，吐瀉腹痛，自刮痧，服陰陽水痛益甚。余用三香丸微冷凍飲料之而安。</p>
<h3>絞痛痧</h3>
<p>心腹絞絞大痛，或如板硬，或如繩縛，或如筋吊，或如錐觸，或如刀割，痛極難忍。輕者，亦微微絞痛，脹悶非常，放痧可愈。若不愈，必審脈症何因，辨暑穢、食積、痰血所阻施治，須連進數服，俟其少安，方可漸為調理。此症世多放痧數次不愈，聽命於天，不肯服藥，遂至痧毒攻壞臟腑，惟死而已，惜哉！</p>
<p><u>治驗：</u></p>
<p>一廉齊朱先生夫人，夏月痧痛危急，刮痧放痧不愈。更易三醫莫敢任事，舉家無措。宋臣王兄邀余往視，六脈微伏，治之未愈，其晚絞痛如前。明晨賢郎宋伊芳兄復邀余，右手脈伏，更放痧三十二針兼刮痧訖，用寶花散、沉香丸清茶稍冷飲之，並用散痧解毒，活血順氣之劑。親友尚恐無救，留余俟飯後，坦君云夏王兄曰：「睡矣，何如」？余曰：「睡則神情已定，氣血漸和，殆將安」。越翼日，乃廖。</p>
<p>一賈公清作瀉腹痛如繩絞。延余，脈洪大數實，放痧不愈，用烏藥順氣東加大黃，下積而痊。</p>
<p>一故友麓庵朱兄夫人，公范母也。口吐痰涎，腹中絞痛，醫治沉重，六日不愈。延余診之，左脈微伏。余曰：「痧也」。</p>
<p>令刮之，少安，用藥不服。次日，復昏沉大痛，舉家驚惶、親戚填門。復延余，刺左中指一針，出毒血，兼令刮痧，不愈。用降香桃花散沖砂仁湯，微冷送下，並用防風散痧東加山豆根、茜草、丹參、金銀花、山楂、卜子稍冷服而安。</p>
<p>一何君雅子正月盤腸絞痛。延余，脈伏，令刮痧，用沉香鬱金散，棱術湯，冷凍飲料之，稍愈。黃昏時復絞痛非常，叫喊不已。復邀余，用細辛大黃丸清茶微冷凍飲料之，又用紫朴湯而痊。</p>
<h3>脅痛痧</h3>
<p>痧症不忌食物，痧毒裹食，結成痧塊於脅而痛。其痧塊變症甚多，故為難治。且治痧惟在初發，若不識，或飲熱湯，毒血凝結，即慢痧不至脹急傷人，亦成脅痛，瘀之日久，勢必難散。</p>
<p><u>治驗：</u></p>
<p>一朱子佩夫人，身熱吐痰脅痛，飲圓湯，益喘嘔不已。延余，左脈洪數，右脈似伏。余曰：「痧也」。子佩刺其腿彎痧筋二針，不愈，服童便，喘嘔稍減。余用阿魏丸、大黃丸白湯微冷下，身熱，吐痰俱已。又用必勝湯微冷下，三服而痊。</p>
<p>一王養初，子佩母舅也。吐痰脅痛，誤吃圓肉，放痧數次日久不愈。延余診之，余辭不治，以痧毒裹圓，結成痧塊，不可解耳。況日久攻壞臟腑，雖藥無益，後易數醫，變喉旁發腫而歿。</p>
<h3>痧痢</h3>
<p>夏傷於暑，秋必瘧痢。痢疾初發，必先泄瀉，腸胃泄瀉，必致空虛。內虛則易感觸穢惡之氣，即成痧痛。或天氣炎熱，時行疫癘感動腸胃，因積而發，亦致痧痛。夫痢不兼痧，積去之後，便可得痊。即甚凶極，藥無不效。若一兼痧，勢必絞痛異常，止治其痢，用藥無效。或變痢如豬肝色；或變痢如屋漏水；或變痢惟血紅水；或變噤口不食，嘔噦凶危；或變休息久痢，歲月綿延，常苦痢患。余惟先治其痧兼治其積，則痧消而積易去，積去而痧可清。凡遇痢疾，如此治之，無不奏功，誠為良法。</p>
<p><u>治驗：</u></p>
<p>一曾奉先，七月間發熱，下痢血水。日百余次，肛門急迫，腹痛異常，嘔噦不食。延余治之，六脈遲數不常，或時歇指，此痧痢也。刮痧放痧訖，痛乃減半。用沉香阿魏丸，砂仁湯稍冷凍飲料之，用當歸、山楂、紅花、枳實、赤芍、澤蘭、青皮、卜子、檳榔各一錢，熟大黃五分，加童便一鐘稍冷凍飲料二服，痢下赤白甚多，諸症俱愈。</p>
<p>一余弟驤武下赤白痢，日數十余次，腹中大痛，大便窘迫。余診之，六脈微細，放痧二十針，又刮痧，不愈。用寶花散、沉香阿魏丸，稍冷湯飲之，腹痛漸寧。用當歸、山楂、陳皮、檳榔、紅花、烏藥各一錢，熟大黃八分加童便飲之，赤白俱下，痛亦漸安，後用當歸一兩，山楂二錢，服之，赤白痢全愈。</p>
<p>一奚仲嘉內室，腹中絞痛，喘急氣逆。余診，六脈無根，此痧脹也。放痧，不愈。用沉香阿魏丸，砂仁煎湯，稍冷飲之，痛遂止。次日，小腹痛，頻下痢赤白，用當歸、金銀花、青皮、陳皮、烏藥、山楂、卜子，加童便稍冷凍飲料之，漸稀，用當歸一兩服四劑而愈。</p>
<p>一吳瑞云發熱，脹悶沉重。放痧後，痢下紫血。他醫以痧氣已清，但治其痢，勢在危篤，舉家驚惶。延余，六脈洪大不勻，此痧氣未清，痧毒尚盛也。令刮痧訖，用當歸枳殼湯，入童便冷凍飲料之，次以蘇木、紅花、五靈脂，茜草、烏藥、香附、當歸、赤芍以導其瘀乃安。後發余毒於肛門邊，出膿而愈。</p>
<h3>蛔結痧</h3>
<p>痧毒攻胃，故蛔死入於大腸，與宿糞相結，腹中大痛，是為蛔結。</p>
<p><u>治驗：</u></p>
<p>一朱子佩女，痧發痛極，頭汗如雨。延余診之，脈芤而洪實，放痧不出，刮痧不起。用細辛大黃丸微冷服，又用荊芥銀花湯稍冷服。又三日，痧筋乃現，放之。服藥如前，腹痛不止，至十九日，日用藥加大黃，大便下死蛔三條，結糞亦下，痛尤不止，又現痧筋，放之，服前藥，乃愈。</p>
<h3>頭痛痧</h3>
<p>痧毒中於臟腑之氣閉塞不通，上攻三陽顛頂，故痛入腦髓，發暈沉重，不省人事，名真頭痛。朝發夕死，夕發旦死，急刺破巔頂，出毒血以泄其氣，藥惟破其毒瓦斯，清其臟腑為主。痧毒中於臟腑之血，壅瘀不流，上衝三陽頭面肌肉，故肌肉腫脹，目閉耳塞，心胸煩悶。急刺破巔頂及諸青筋，出毒血。藥宜清其血分，破其壅阻為要。</p>
<p><u>治驗：</u></p>
<p>一張顯如，頭痛發暈沉重，六脈俱伏，刺巔頂一針，余痧筋俱刺，少蘇。復診其脈，沉實而上魚際，用清氣化痰飲，冷服而安。</p>
<p>一汪路真內室，頭面紅腫，發熱頭痛，心胸迷悶。診脈，芤而疾。刺左腿彎三針，血流如注。冷服紅花膏子半杯，用蒲黃飲三劑而痊。</p>
<h3>心痛痧</h3>
<p>痧毒衝心，屬之於氣，則時痛時止，痰涎壅盛，昏迷煩悶，此其候也，治宜刺手臂，服順氣之劑為主。痧毒攻心，屬之於血，則大痛不已，昏沉不醒，此其候也。治宜刺腿彎，服活血之劑為主。遲則難救。</p>
<p><u>治驗：</u></p>
<p>一鄭延旦次子，心中暴痛，口吐痰涎，迷悶不能出聲。延余，兩寸沉而伏，關尺洪而緊，刺痧筋二十針，用烏藥順氣湯，冷凍飲料四劑而安。</p>
<p>一嚴瑞宇三女，飯時心中暴痛，昏沉不醒。日暮延余，六脈已絕，辭之，次日而殂。</p>
<h3>腰痛痧</h3>
<p>痧毒入腎，則腰痛不能俯仰，若誤飲熱湯熱酒，必然煩躁昏迷，手足搦搐，舌短耳聾，垂斃而已。</p>
<p><u>治驗：</u></p>
<p>一黃敬宇內室，腰中大痛，強硬如板。誤飲熱酒，發熱煩躁，昏沉痰涌。延余，左尺虛微，右尺洪實，脈兼歇指，痧中於腎也。刺腿彎痧筋，僅有紫黑血點不流。用降香桃花散微冷服，痧筋腿彎復現，刺二針血流如注。又服二散痧退痛減，調理而痊。</p>
<p>一伍恆生子，腰痛，放痧四次不痊。沉重大痛，連及胸脅。延余，左手無脈，辭之，六日而殂。</p>
<h3>小腹痛痧</h3>
<p>痧毒入大小腸，則小腹大痛不止，形如板推，絞絞不已，治之須分左右二股，屈伸為驗。</p>
<p><u>治驗：</u></p>
<p>一盛成均子，小腹大痛，每每左臥，左足不能屈伸，太陽小腸經痧也。痧筋不現，用木通湯，微冷服四劑，方見左腿彎痧筋，刺出紫黑毒血二針，用紅花湯冷下，痧退後調理而愈。</p>
<p>一范季廉小腹大痛，每每右臥，右足不能屈伸，陽明大腸經痧也。刺腿彎青筋四針，毒血成流，不愈。用枳實大黃湯，冷服，半夜痧退少安。後調理而愈。</p>
<p>一鐘孟芳小腹大痛，放痧三次，不愈。延余治之，脈數而疾。余曰：「痧毒已攻壞臟腑矣。」辭之，半月而亡。</p>
<h3>痧塊</h3>
<p>痧毒留於氣分，成氣痞痛，留於血分，成血塊痛，壅於食積阻滯，成食積塊痛。蓋因刮痧放痧稍愈，痧毒未盡，不用藥以消之之故。施治之法，在氣分者，用沉香、砂仁之類治之；在血分者，用桃仁、紅花之類治之；食積阻滯者，用卜子、檳榔之類治之；或氣血二分俱有餘毒者，當兼治之；若更兼食積所阻有餘毒者，當並合治之。</p>
<p><u>治驗：</u></p>
<p>一王介甫內室，腹痛，放痧二次，忽左脅有塊屢痛不止，坐臥不安。延余，脈芤而沉微，此毒留滯不行之故。用蘇木散並三香散合桃仁紅花湯，微溫服，塊消痛減而痊。</p>
<p>一陳奉山腹中絞痛，放痧三次，變右脅下塊，大痛不止，臥不能起。延余，脈沉實而弦緊，此食積為患，用阿魏丸並棱術東加牛膝，治之而痊。</p>
<p>一夏少溪內室，腹痛，放痧稍愈，左脅下變成塊痛，口吐痰涎，臥床不起。延余，脈沉而微滑，用沉香阿魏丸加貝母、白芥子治之而痊。</p>
<p>一張弘先痧脹變為胸前左乳之上有一點痛，辭之，半年後，吐血而殂。</p>
<h3>痧變吐血鼻衄便紅</h3>
<p>痧毒衝心則昏迷；痧毒沖肺則氣喘痰壅，甚則鼻衄；痧毒入肝則胸脅疼痛，不能轉動，甚則血涌由吐而出；痧毒流於大腸，則大便血；流於膀胱，則小便血。治宜先清其痧毒之氣，順其所出之路，則氣自順而血自寧矣。若不知治，緊則變在頃刻，遲則變成勞弱，或時時便血溺血難愈。</p>
<p><u>治驗：</u></p>
<p>一孫盛元痧脹，放痧不服藥，變筋骨疼痛。十日後，吐血甚多，疼痛不愈。延余，診其脈芤，此痧氣已退，尚存瘀血，用桃仁、紅花活血之劑，四服而痊。</p>
<p>一潘國安痧脹鼻衄，是痧氣由衄而泄，用清涼至寶飲而痊。</p>
<p>一周瑞亭子六歲，痧痛大便紅。延余，令放痧，服散痧消瘀活血之劑而痊。</p>
<p>一何君叔女痧痛，溺血甚多。延余，令放痧，不愈。用荊芥薄荷東加益母、金銀花、牛膝、連翹治之而痊。</p>
<h3>吐蛔瀉蛔痧</h3>
<p>痧毒入胃，胃必熱脹。熱脹之極，蛔不能存，因而上涌，乘吐而出，或蛔結腹痛，不大便；或蛔入大腸，由大便而出，與傷寒吐蛔，伏陰在內者不同，治宜清其痧脹為主。</p>
<p><u>治驗：</u></p>
<p>一蔣公尚次女，發熱心痛，口多痰涎，吐蛔二條。延余，右關沉細而疾，余脈洪數，刮痧，刺腿彎一針，微有紫黑血點，服連翹薄荷飲三劑，痧退。服小柴胡湯，身涼而愈。</p>
<p>一沈存原痧脹，吐不止。延余，脈洪而緊，刮痧訖，用藥加熟大黃一錢，微冷凍飲料之，吐止脹消。後二日復痧脹，吐蛔一條，脈復洪緊，更用熟大黃一錢，微冷凍飲料之，痧退而安。</p>
<p>一湯仲文，腹脹大痛。延余診之，脈散亂無根，此蛔結也，痧實始之。放痧後，用散痧去毒之劑，加大黃二錢微冷飲之，大便下死蛔二條並宿糞而愈。</p>
<h3>痧變腫毒</h3>
<p>痧毒不盡，留滯肌肉腠理之間，即成腫毒。宜先放痧，用散痧解毒之藥，以除其根。然後審其毒之所發，照十二經絡臟腑，分陰陽寒熱處治。輕則消之，重則托之，虛則補之，實則瀉之。若紅腫甚者，屬陽，用忍冬解毒湯，加引經藥以治之。白色不紅，平腫不易起發者，屬陰，用參歸化毒湯，加引經藥以托之。毒有半陰半陽，用活絡透毒飲，加引經藥透之。穿破之後，皆用神仙太乙膏貼之。若腫毒無膿，止有毒水流出，或膿少血多，用飛龍奪命丹，研碎些須，填太乙膏中，拔去毒水血膿後，單用太乙膏貼之。毒口難收，用紅肉散摻之。肉黑者，用代刀散，以棉花絮微摻之，即變紅色，貼膏自愈。</p>
<p><u>治驗：</u></p>
<p>一薑云衢遍身疼痛，背發一毒，黑爛痛苦。求余視，診之，脈沉微，指頭黑色而惡熱飲，此痧變惡毒，用冷圍藥而成背疽也。令去其圍藥，放痧訖，俟痧氣已絕，用參　薑桂熟附子溫托之，外敷以代刀散，黑變紅色，貼太乙膏而痊。</p>
<p>一蘇成中長子，暑月吐瀉，腹中絞痛，刮痧痛止，兩臂紅腫且癢。求余一方，用香薷飲一劑而痊。</p>
<p>一葛弘先內室痧痛，不吐不瀉，盤腸絞絞，疼痛難忍，放痧後，頭頂生毒，出膿而愈。</p>
<p>一趙公琰，寒熱頭眩，心胸煩悶，刮痧而愈。肛門邊發余毒出膿成漏，為終身之疾。</p>
<h3>備用要方</h3>
<p><u>防風散痧湯</u></p>
<p>　痧有因於風者，此方主之。</p>
<p>防風　陳皮　細辛　金銀花　荊芥　枳殼（等分）</p>
<p>頭面腫加薄荷、甘菊；腹脹加大腹皮、厚朴；手足腫加葳靈仙、牛膝，倍金銀花；內熱加連翹、知母；痰多加貝母、栝蔞仁；寒熱加柴胡、獨活；吐不止加童便；小腹脹痛加青皮；血滯加茜草、丹參；咽喉腫加山豆根、射干；食積腹痛加山楂、卜子；心痛加玄胡索、蓬朮；赤白痢加檳榔；口渴加花粉；面黑血瘀也，加蘇木、紅花；放痧不出倍細辛、蘇木、桃仁、荊芥；穢觸加藿香、薄荷。</p>
<p>水二鐘，煎七分，稍冷服。</p>
<p><u>荊芥湯</u></p>
<p>　痧有郁氣不通者，此方主之。</p>
<p>荊芥　防風（各一錢）　川芎（三分）　陳皮　青皮　連翹（各八分）</p>
<p>食不消加山楂、卜子；心煩熱去川芎加黑山梔；有積加檳榔；痰多加貝母、白芥子；氣壅加烏藥、香附；血壅加桃仁、紅花；郁悶不舒加細辛；食積加山棱、蓬朮；大便不通加枳實、大黃；暑熱加香薷、紫朴；小便不通加木通、澤瀉；喉痛去川芎，加薄荷、射干、大力子；咳嗽加桑皮、兜苓。</p>
<p>水二鐘，煎七分，稍冷服。</p>
<p><u>陳皮厚朴湯</u></p>
<p>　痧有因於氣阻者，此方主之。</p>
<p>陳皮　紫朴　山楂　烏藥　青皮（等分）</p>
<p>痰多加白芥子、貝母；痧筋不現加細辛、荊芥；血瘀加玄胡索、香附、桃仁；頭汗加枳實、大黃；口渴加薄荷、花粉。</p>
<p>水二鐘，煎七分，稍冷服。</p>
<p><u>棱術湯</u></p>
<p>　痧有因於食積者，此方主之。</p>
<p>山棱　卜子　蓬朮　青皮　烏藥　檳榔　枳實（各一錢）</p>
<p>水二鐘，煎七分，稍冷服。</p>
<p><u>藿香湯</u></p>
<p>　痧有因於穢氣者，此方主之。</p>
<p>藿香　香附（各四分）　薄荷（七分）　枳殼　山楂　連翹（各一錢）</p>
<p>水二鐘，煎七分，稍冷服。</p>
<p><u>薄荷湯</u></p>
<p>　痧有因於暑者，此方主之。</p>
<p>薄荷　香薷　連翹（各一錢）　紫朴　金銀花　木通（各七分）</p>
<p>水二鐘，煎七分，稍冷服。</p>
<p><u>紫蘇厚朴湯</u></p>
<p>　痧有暑脹不已者，此方主之。</p>
<p>紫蘇　香薷　紫朴　枳殼　紅花　青皮　陳皮　卜子　山楂（等分）</p>
<p>水二鐘，煎七分，冷服。</p>
<p><u>防風勝金湯</u></p>
<p>　痧有因於食積血滯者，此方主之。</p>
<p>防風　烏藥　玄胡索　桔梗　枳殼（各七分）　卜子（二錢）　檳榔　金銀花　山楂　連翹　赤芍（各一錢）</p>
<p>水二鐘，煎七分，稍冷服。</p>
<p><u>必勝湯</u></p>
<p>　痧有因於血實者，此方主之。</p>
<p>紅花　香附（各四分）　桃仁（去皮尖）　大黃　貝母　山楂　赤芍　青皮　五靈脂（各一錢）</p>
<p>水二鐘，煎七分，微溫服。</p>
<p><u>紫朴湯</u></p>
<p>　痧有食氣壅盛者，此方主之。</p>
<p>紫朴　山楂　卜子　山棱　蓬朮　枳實　連翹　青皮　陳皮　細辛（等分）</p>
<p>水二鐘，煎七分，稍冷服。</p>
<p><u>獨活紅花湯</u></p>
<p>　痧有因於血鬱者，此方主之。</p>
<p>獨活　紅花　桃仁（去皮尖）　薄黃　玄胡索　白蒺藜（炒，為末）　烏藥（各一錢）　香附（三分）　枳殼（七分）</p>
<p>水二鐘，煎七分，微溫服。</p>
<p><u>射干兜鈴湯</u></p>
<p>　治痧似傷風咳嗽。</p>
<p>射干　桑皮　兜鈴　桔梗　薄荷　玄參　花粉　貝母　枳殼　甘菊　金銀花（等分）</p>
<p>水二鐘，煎七分，稍冷服。咳甚者加童便飲。</p>
<p><u>當歸枳殼湯</u></p>
<p>　此養血和中之劑。</p>
<p>歸身　山楂　枳殼　紅花　赤芍　青皮　茜草　連翹　丹參　續斷（各一錢）</p>
<p>水二鐘，煎七分，微溫服。</p>
<p><u>荊芥銀花湯</u></p>
<p>　此治血滯之劑。</p>
<p>荊芥　紅花　茜草　丹皮　金銀花　赤芍（各一錢）　香附（三分）　烏藥（五分）　白蒺藜（去刺，搗末，八分）</p>
<p>水二鐘，煎七分，微溫服。</p>
<p><u>桃仁紅花湯</u></p>
<p>　此治血結不散之劑。</p>
<p>桃仁（去皮尖）　紅花　蘇木（各一錢）　青皮（八分）　烏藥（四分）　獨活（六分）　白蒺藜（去刺，搗末，一錢二分）</p>
<p>水二鐘，煎七分，微溫服。</p>
<p><u>清涼至寶飲</u></p>
<p>　此清痧熱之劑。</p>
<p>薄荷　地骨皮　丹皮　黑山梔　玄參　花粉（等分）　細辛（倍加）</p>
<p>水二鐘，煎七分，稍冷服。</p>
<p><u>紅花湯</u></p>
<p>　此治血痰之劑。</p>
<p>紅花　蒲黃　青皮（各一錢）　香附（四分）　貝母（二分）　枳殼（六分）</p>
<p>水二鐘，煎七分，微溫服。</p>
<p><u>如聖散</u></p>
<p>　治痧咽喉腫痛，此方主之。</p>
<p>牛蒡子　蘇梗　薄荷　甘菊　金銀花　川貝母　連翹　枳殼（各一錢）　桔梗（五分）　烏藥（四分）</p>
<p>水煎，微溫，加童便沖服。</p>
<p><u>寶花散</u></p>
<p>　此治痧之仙劑。</p>
<p>鬱金（一錢，凡方中用此味後有痧方，余議當閱）　細辛（三兩）　降香（三錢）　荊芥（四錢）</p>
<p>共為細末，每服三匙，清茶稍冷服。</p>
<p><u>沉香鬱金散</u></p>
<p>　此治痧氣寒凝之劑。</p>
<p>沉香　木香　鬱金（各一錢）　烏藥（三錢）　降香（二錢）　細辛（五錢）</p>
<p>共為細末，每服三分，砂仁湯稍冷服。</p>
<p><u>圓紅散</u></p>
<p>　治血鬱不散。</p>
<p>沒藥（置箬內放瓦上，炭火炙去油，為末，三錢）　細辛（四錢）　降香（三錢）　桃仁（去皮尖）　玄胡索　白蒺藜（搗，去刺，各一兩）</p>
<p>共為末，每服一錢，紫荊皮湯溫服。</p>
<p><u>化毒丹</u></p>
<p>　治痧痰氣壅盛。</p>
<p>金銀花　薄荷（各一兩）　細辛　枳殼（各五錢）　川貝母（二兩）</p>
<p>共為細末，每服六分，細茶稍冷下。</p>
<p><u>三香散</u></p>
<p>　治過飲冷水，痧不愈者。</p>
<p>木香　沉香　檀香（等分）</p>
<p>共為細末，每服五分，砂仁湯微冷下。</p>
<p><u>三香散</u></p>
<p>　治過服冷水痞悶者。</p>
<p>木香　沉香　檀香（各五錢）　砂仁　卜子（各八錢）　五靈脂（六錢）</p>
<p>共末，水發為丸，微溫白湯下。</p>
<p><u>救苦丹</u></p>
<p>　此治痧氣鬱悶之劑。</p>
<p>枳實　卜子（各一兩）　鬱金（二錢）　烏藥　連翹（各八錢）</p>
<p>共末，清茶稍冷下。</p>
<p><u>冰硼散</u></p>
<p>　治痧咽喉腫痛。</p>
<p>硼砂　天竹黃（各二錢）　朱砂（二分）　玄明粉（八厘）　冰片（一分）</p>
<p>共末，吹入喉中。</p>
<p><u>牛黃丸</u></p>
<p>　治痰涎喘急。</p>
<p>膽星　天竹黃（各三錢）　雄黃（五分）　朱砂（五分）　牛黃　麝香（各四分）</p>
<p>共末，甘草水為丸，如梧桐子大。每服二丸，淡生薑湯稍冷下。</p>
<p><u>細辛大黃丸</u></p>
<p>　治痧大便干結，氣血不通，煩悶壅盛昏沉者。</p>
<p>細辛　大黃　枳實　紫朴　麻仁　青皮　桃仁（去皮尖，等分）</p>
<p>共末，水發為丸，每服一錢。重者，二錢。再重者，三錢。淡薑湯下，稍冷服之。</p>
<p><u>和脾宣化飲</u></p>
<p>　治痧氣食結，胸中飽悶，腹內絞痛，此湯主之。</p>
<p>廣皮　卜子　細辛　前胡　大腹皮（去黑翳，黑豆湯泡洗）　麥芽（各二錢）　山楂（二兩，煎湯代水）</p>
<p>先濃煎山楂湯，煎六味稍冷凍飲料之。</p>
<p><u>消疳解毒散</u></p>
<p>　治痧後牙疳。</p>
<p>人中白（三錢）　兒茶　天花粉　官硼　青黛（水澄，各一錢）　薄荷　甘草　黃連（各五分）　冰片　牛黃　珠子（各一分）　雨前茶（五分）</p>
<p>研細，以無聲為度。先用濃茶拭淨，去其腐肉，吹之。</p>
<p><u>牛黃八寶丹</u></p>
<p>　善化痧後諸般惡毒、惡瘡，此丹有靈氣。</p>
<p>雄黃（透明者）　玄參（各五錢，瓦上焙）　羌活（炒）　川黃連（土炒）　羚羊角　犀角　川貝母（炒淨）　乳香（出汗盡）　沒藥（各三錢）　琥珀　青黛（水登，各二錢）　珍珠（四分）　劈砂（木飛，五錢）　牛黃　冰片（各二分）</p>
<p>上十五味，如法制為細末聽用，外將揀淨金銀花二兩，甘菊一兩，甘草五錢，胡桃肉二兩，紫花地丁二兩，長流水五碗砂鍋內慢火煎至及半取汁，將渣絞干，以綿濾清，桑柴火熬膏，入煉熟老蜜盞許，再熬至黏筋。將前末和丸，每丸三分。年幼者，一丸；年長者，二丸。每日蜜調服。</p>
<p><u>活絡透毒飲</u></p>
<p>　治痧後熱毒流連，余毒在所不免，卻不易來者，以此湯預活之。</p>
<p>羌活　紅花　荊芥　牛蒡子　木通　當歸　牛膝　蟬蛻　青皮　連翹（等分）</p>
<p>水煎溫服。</p>
<p><u>忍冬解毒湯</u></p>
<p>　治痧後余毒竅發者，以此消之。</p>
<p>金銀花　土貝母　甘菊　荊芥穗　牛蒡子　紅花　甘草　木通　連翹　紫花地丁（等分）　胡桃肉（二枝）</p>
<p>水煎溫服。</p>
<p><u>撥雲散</u></p>
<p>　治痧後余毒在肝，兩目通紅，甚至起　生翳者，以此散主之。</p>
<p>生地　黃連　木通　荊芥穗　穀精草　甘草　赤芍　羚羊角　大黃（二分至六分）　木賊草　甘菊　羌活　金銀花望月砂加燈心，白芙蓉葉，水煎溫服。</p>
<p><u>賽金化毒散</u></p>
<p>　治痧後熱毒流連，疼痛不已，發癰發疔者。</p>
<p>乳香　沒藥（各出汗）　川貝母（去心，炒）　雄黃　黃連　天花粉（各一錢，生用）　大黃（二錢半，炒半晒）　甘草（七分，生）　赤芍（二錢，炒）　牛黃（二分）　冰片（分半）　珠子（四分，研細無聲為度）</p>
<p>共為極細末，用蜜湯調服。</p>
<p><u>加味活命飲</u></p>
<p>　治一切痧後留滯熱毒，發為腫毒疔疽，以此方消之。</p>
<p>穿山甲（土炒）　金銀花　大黃（各二錢）　歸尾　陳皮（各一錢五分）　花粉　薄荷　赤芍　甘草節　生地　白芷防風　貝母　乳香（各一錢）　皂角刺（五分）　沒藥（五分）</p>
<p>毒在背加皂刺一錢五分；毒在面加白芷一錢五分；毒在胸加栝蔞仁二錢；毒在頭面手足加金銀花三錢。</p>
<p>水二大鐘，煎八分，空心溫服。忌醋並諸毒物，大人切禁房事。</p>
<p><u>參歸化毒湯</u></p>
<p>　治痧後余毒流連，氣血虛，不能即潰，以此化毒托出之。</p>
<p>人參　當歸　黃　甘草　金銀花　牛膝　貝母　紅花　山楂　皂角刺　白芷（等分）</p>
<p>水二鐘，加胡桃肉一個煎七分，空心溫服。</p>
<p><u>奏凱和解飲</u></p>
<p>　痧退之後調理和解者，此湯主之。</p>
<p>金銀花　土貝母　牛蒡子　山藥　白扁豆　山楂　荊芥　當歸（各一錢）　人參（四分）　甘草（三分）</p>
<p>水二鐘，加核桃肉一個，蓮肉六粒，煎七分，空心溫服。</p>
<p><u>參苓歸術散</u></p>
<p>　痧退之後痧氣已絕，氣血虛弱者，以此補之。</p>
<p>人參　白茯苓　當歸　白朮　白芍藥　陳皮　黃　川芎　熟地黃　甘草水煎空心溫服。</p>
<p><u>沉香丸</u></p>
<p>　治痧氣急，胸腹脹痛，迷悶昏沉。</p>
<p>沉香　檳榔（各五錢）　枳實　厚朴（各七錢）　山棱　蓬朮　廣皮　天仙子（即朱蓼子，各六錢）　白豆仁　烏藥（各四錢）　木香（三錢）　薑黃（五錢）</p>
<p>水發為丸，如綠豆大，每服三十丸，砂仁湯稍冷下。</p>
<p><u>沉香阿魏丸</u></p>
<p>　治痧氣壅、血阻、昏迷不醒，遍身沉重，不能轉側。</p>
<p>五靈脂　廣皮（各一兩）　青皮　天仙子　薑黃　蓬朮　山棱（各七錢）　枳實（六錢）　白豆仁　烏藥（各五錢）</p>
<p>木香　沉香（各二錢）　阿魏（一錢）</p>
<p>如前，稍冷湯下。</p>
<p><u>丁香阿魏丸</u></p>
<p>　治痧食積成塊，痛而不已，推上移下，日夕叫喊，病久不愈者。</p>
<p>卜子　五靈脂　楂肉　神麯　青皮　枳實（各一兩）　蓬朮　厚朴（各八錢）　山棱　檳榔（各七錢）　白豆仁　烏藥薑黃（各五錢）　木香　沉香（各三錢）　阿魏（二錢）　丁香（一錢）</p>
<p>水發為丸，如綠豆大，每服十丸，紫荊皮溫湯下。</p>
<p><u>阿魏丸</u></p>
<p>　治食積壅阻，痧毒瓦斯滯血凝，疼痛難忍，頭面黑色，手足俱腫，胸腹脹悶。</p>
<p>玄胡索　蘇木　五靈脂　天仙子（各一兩）　蓬朮　廣皮　枳實　山棱　厚朴　檳榔　薑黃（各七錢）　烏藥（五錢）　降香　沉香（各三錢）　阿魏（二錢）　香附（四錢）　卜子（一兩）</p>
<p>水發為丸，如綠豆大，每服十五丸，砂仁湯稍冷下。</p>
<p><u>蘇木散</u></p>
<p>　治痧毒血瘀成塊，堅硬突起不移者。</p>
<p>蘇木（二兩）　白蒺藜（搗，去刺）　紅花　玄胡索　桃仁（去皮尖，各一兩）　獨活（三錢）　五靈脂（七錢）　降香薑黃　赤芍藥（各六錢）　大黃（五錢）　烏藥　山棱　蓬朮　陳皮　青皮　皂角刺　香附（酒炒，各四錢）</p>
<p>共為細末，每服二錢，溫酒下。</p>
<p><u>蒺藜散</u></p>
<p>　治食積、瘀血、痧毒凝滯成塊日久不愈者。</p>
<p>白蒺藜（搗，去刺，二兩）　澤蘭　薑黃　卜子　楂肉　茜草　土貝母（淨，各一兩）　玄胡索　五靈脂（各一兩五錢）　檳榔（七錢）　金銀花（八錢）　烏藥　青皮（各六錢）　桃仁（去皮尖，一兩二錢）</p>
<p>共末，每服一錢，溫酒下。</p>
<p><u>探吐法</u></p>
<p>　用鹽湯或礬湯稍冷服，令吐去新食以解痧毒所阻，必須多飲則吐。</p>
<p><u>當歸枳殼湯</u></p>
<p>　消食順氣和血之劑。</p>
<p>當歸尾　枳殼　赤芍（各一錢）　山楂　卜子（各二錢）　紫朴（八分）</p>
<p>水煎微冷服。</p>
<p><u>清氣化痰飲</u></p>
<p>　治痧痰氣壅塞之劑。</p>
<p>貝母（二錢）　薑黃（一錢）　細辛　橘紅（各八分）　青皮　紫朴（各七分）　荊芥（六分）　烏藥（五分）</p>
<p>水煎，沖砂仁末五分，微冷服。</p>
<p><u>蒲黃飲</u></p>
<p>　治痧毒，散瘀，引火下行之劑。</p>
<p>牛膝（三錢）　獨活　枳殼　連翹　桃仁（去皮尖）　澤蘭　赤芍　山楂　薑黃　蒲黃（各一錢）</p>
<p>水煎微冷服。</p>
<p><u>烏藥順氣湯</u></p>
<p>　治痧氣內攻之劑。</p>
<p>山棱　蓬朮　卜子　白芥子　玄胡索（各一錢）　枳殼　青皮　烏藥（各八分）　紅花（七分）　香附（四分）</p>
<p>水煎稍冷服。</p>
<p><u>降香桃花散</u></p>
<p>　治痧毒中腎之劑。</p>
<p>降香（五錢）　牛膝（二兩）　桃花　紅花　大紅鳳仙花（各七錢）　白蒺藜（一兩）</p>
<p>共末，黑砂糖調童便沖服。</p>
<p><u>木通湯</u></p>
<p>　治痧毒結於膀胱之劑。</p>
<p>牛膝（三錢）　丹皮　細辛　連翹　金銀花　澤蘭　白芨　蒲黃　木通　玄胡索（各一錢）</p>
<p>水煎，加童便微溫服。</p>
<p><u>枳實大黃湯</u></p>
<p>　治痧毒結於大腸之劑。</p>
<p>赤芍　青皮　枳實　桃仁（去皮尖）　金銀花　槐花　黃芩（酒炒）　大麻仁　連翹（各一錢）　大黃（三錢）</p>
<p>水煎微溫服。</p>
<p><u>荊芥薄荷湯</u></p>
<p>　治痧氣血阻塞之劑。</p>
<p>白蒺藜（搗，去刺，為末）　荊芥（炒黑）　赤芍　薄荷　青皮　陳皮（等分）</p>
<p>水煎微冷服。</p>
<p><u>連翹簿菏飲</u></p>
<p>　治痧食積氣阻之劑。</p>
<p>香附　卜子　檳榔　山楂　陳皮　連翹　薄荷（等分）　木香（二分，磨沖）</p>
<p>水煎，加砂仁五分，稍冷服。</p>
<p><u>失笑散</u></p>
<p>　治痧後毒瓦斯退盡，尚留瘀血在胸膈間，積血作痛。</p>
<p>蒲黃　五靈脂（等分）</p>
<p>共為末，每服二錢，溫酒下。</p>
<p><u>便用七方</u></p>
<p>一方　用井水、河水各一半同服，治痧痛。</p>
<p>一方　用泥漿水服之，治痧痛。</p>
<p>一方　用白砂糖攪梅水服，治痧痛。</p>
<p>一方　用細辛為末，同砂仁湯冷服，洽痧痛。</p>
<p>一方　用晚蠶沙為末，白滾湯冷服，治痧痛。</p>
<p>以上五方治痧症，無食積阻滯者。</p>
<p>一方　用明礬四分，白湯一碗，冷服，治痧痛。</p>
<p>一方　用食鹽一撮，白湯一碗，冷服，治痧痛。</p>
<p>以上二方，乃吐新食阻痧毒之味，必多飲方吐，少則不效。</p>
<p><u>絕痧方</u></p>
<p>　治數患痧症，必痧症已愈，然後可服，以絕其根。否則稍有痧氣未除，斷不可服，恐甘者作脹，熱者助邪，反害之矣。</p>
<p>甘草　明礬　食鹽（各一兩）　川烏（一錢）　乾薑（三錢）</p>
<p>其為細末，米飯搗為丸，每服五分，白湯溫下。新犯痧者，一二服即愈，久犯痧者，十服全愈，不復發矣。蓋用甘草以助胃，用乾薑、川烏以充胃，用明礬以解毒，用食鹽以斷痧。誠為良方，但烏、薑性熟，恐人有宜，有不宜，故每服止用五分為則，惟取其能絕痧根焉。爾若人屬虛寒者，必加倍多服，方能有效。</p>
<h3>藥性便覽</h3>
<p><u>荊芥</u></p>
<p>　透肌解表，散痧毒。痧筋隱隱不發者，非此不現。用四分至八分止。</p>
<p><u>防風</u></p>
<p>　透肌發表，為臣使之助。寒熱往來，痧毒壅滯郁遏不發者，非此不清。用三分至七分止。</p>
<p><u>羌活</u></p>
<p>　痧症忌其發表太過，若頭痛或又因受寒而起，更兼痧症，欲用之引太陽經。止許用半分至二分。</p>
<p><u>連翹</u></p>
<p>　消痧毒，解諸經火邪，清熱而不滯，治痧之要藥也。用七分至一錢。</p>
<p><u>陳皮、青皮</u></p>
<p>　陳行痧氣，青伐肝氣。痧氣壅阻郁結不行者，非此不利。用六分至一錢。</p>
<p><u>枳殼、枳實</u></p>
<p>　破痧氣、驅毒瓦斯、除脹氣、下食氣，積滯壅塞者，非此不開。但枳殼性緩，枳實性速，各有所宜。</p>
<p>用五分至一錢五分。</p>
<p><u>桃仁</u></p>
<p>　破瘀活血。痧為血阻，非此不流；痧為血滯，非此不順。去皮而用，為皮味澀而阻血路也。用七分至一錢六分。</p>
<p><u>秦艽</u></p>
<p>　活血驅風消痧毒。筋骨疼痛，壯熱不清者，非此不解。用三分至六分。</p>
<p><u>川芎</u></p>
<p>　上行頭目，頭角骨痛者必需；下通血海，肝臟不華者當用。用一分至三分，止恐提痧氣上騰也。</p>
<p><u>桔梗</u></p>
<p>　入肺經為諸藥之舟楫，其性上而復下，故能引枳殼破胸中至高之氣。用六分至八分。</p>
<p><u>香附</u></p>
<p>　行血中之氣，恐其香燥須用便制：欲其行血，必要酒炒；取其斂血在乎醋炒。用三分至八分。</p>
<p><u>木香</u></p>
<p>　行滯氣、燥濕氣、驅寒氣、開鬱氣、散結氣，痧後腹痛不解者，此要藥也。用一分至三分止。</p>
<p><u>檀香</u></p>
<p>　痧後心腹疼痛不休，胸脅脹悶，寒凝氣滯，得此而抒者，痧之始發當知忌用。用一分至三分。</p>
<p><u>砂仁</u></p>
<p>　順氣開鬱，散痧消食，此始終之可用之要藥也。用三分至一錢。</p>
<p><u>穿山甲</u></p>
<p>　土炒為末，透痧消痰，破痧托毒，善走經絡之神劑也，故經絡有諸藥所不到者，非此不達。用一分至五分。</p>
<p><u>童便</u></p>
<p>　解痧毒，消痰降火最速。定痛治血痢，痢下血水，諸藥莫及。</p>
<p><u>天蠶</u></p>
<p>　能治血分之痰，佐山甲透經絡，以破瘀毒。用須炒末。自一分至二分。</p>
<p><u>烏藥</u></p>
<p>　善行周身之氣，凡痧氣阻滯者，得此無處不到。用三分至五分。</p>
<p><u>紅花、金銀花、茜草</u></p>
<p>　活血，解痧毒。用六分至一錢。</p>
<p><u>山楂、卜子、麥芽、神麯</u></p>
<p>　痧為食壅，取其善消而不暴也。</p>
<p><u>大黃</u></p>
<p>　大便不通，痧氣閉塞，非此不能攻而下之。用五分至一錢五分。</p>
<p><u>木通、車前、澤瀉</u></p>
<p>　痧氣鬱阻，小便不利，在所當求。若熱鬱太重，不因小水，更在所禁。用二分至五分。</p>
<p><u>黃連、黃芩</u></p>
<p>　冷性凝滯，痧中忌用。用須酒炒或薑汁製。</p>
<p><u>生地</u></p>
<p>　涼血。血瘀者，非其所宜。</p>
<p><u>熟地、白芍</u></p>
<p>　補血斂血，痧所大忌。</p>
<p><u>參、　、白朮、山藥</u></p>
<p>　用之恐補毒瓦斯，痧所大禁。</p>
<p><u>甘草</u></p>
<p>　用之恐成痧塊難治，在所忌用。</p>
<p><u>白茯苓</u></p>
<p>　恐其滲濕，實其痧氣，俱在禁例。</p>
<p><u>細辛</u></p>
<p>　透竅、破血、散痧之要藥也。用七分至一錢。</p>
<p><u>薑黃</u></p>
<p>　其性雖溫，善能消痰下氣，破惡血。用二分至四分。</p>
<p><u>貝母</u></p>
<p>　川者專消熱痰，土者兼破瘀血。用一錢至一錢五分。</p>
<p><u>白芥子</u></p>
<p>　脅下之痰，非此不達。用四分至六分。</p>
<p><u>半夏、白芷、蒼朮</u></p>
<p>　性燥忌用。</p>
<p><u>竹瀝</u></p>
<p>　性寒，忌用。用須薑汁，方走經絡。</p>
<p><u>雄黃、牛黃、膽星、天竹黃</u></p>
<p>　消痰丸中宜用。</p>
<p><u>麝香</u></p>
<p>　開竅散痧，功亦甚大。</p>
<p><u>當歸</u></p>
<p>　頭身尾各有所宜，用須斟酌。</p>
<p><u>柴胡</u></p>
<p>　和解表裡，專治少陽膽經寒熱往來。用六分至一錢。</p>
<p><u>干葛</u></p>
<p>　散陽明胃經之邪，兼能解渴。用六分至八分。</p>
<p><u>前胡</u></p>
<p>　疏風，消痰，治嗽，表熱者，宜用。用六分至八分。</p>
<p><u>桑皮</u></p>
<p>　治嗽瀉肺。用四分至八分。</p>
<p><u>兜苓</u></p>
<p>　瀉肺嗽。用三分至五分。</p>
<p><u>杏仁</u></p>
<p>　瀉肺，潤腸胃，利氣，消痰涎。去皮尖用。用四分至一錢。</p>
<p><u>麥冬　天冬</u></p>
<p>　潤肺、消痰。一治其本，一治其標，去心用之。用七分至一錢五分。</p>
<p><u>山棱、蓬朮</u></p>
<p>　食積心疼，痧毒阻滯痞悶者。宜用六分至八分。</p>
<p><u>五靈脂</u></p>
<p>　善消宿血，血塊凝滯不散，非此不破。用五分至八分。</p>
<p><u>龜甲</u></p>
<p>　去兩肋，酥炙為末。破宿血勝於靈脂。在胸者用上半截，在下者用下半截。</p>
<p><u>蘇木</u></p>
<p>　敗惡血新瘀者，莫及。用五分至一錢五分。</p>
<p><u>玄胡索</u></p>
<p>　活血行氣，氣血凝滯作痛。用五分至一錢五分。</p>
<p><u>香薷</u></p>
<p>　通上徹下，利水氣，治暑氣之要藥。用五分至一錢。</p>
<p><u>紫朴</u></p>
<p>　寬中治嘔，消痰下氣。用六分至八分。</p>
<p><u>牛膝</u></p>
<p>　活血，引痧氣下行。用八分至二錢。</p>
<p><u>木瓜</u></p>
<p>　五味子　酸斂忌用。</p>
<p><u>升麻</u></p>
<p>　禁用，恐提痧氣上升，而難遏也。</p>
<p><u>肉桂　附子　吳茱萸</u></p>
<p>　禁用，恐助痧毒立刻有變也。</p>
<p><u>乾薑</u></p>
<p>　過服寒冷之水，宜少用之，善散寒氣也。若用之不當，亦能助熱毒，當忌。</p>
<p><u>麻黃</u></p>
<p>　發表太過禁用。</p>
<p><u>簿菏</u></p>
<p>　辛涼利竅，消腫解毒，清氣清喉。用五分至一錢。</p>
<p><u>紫蘇</u></p>
<p>　疏風順氣。身熱當用三分至六分。</p>
<p><u>明礬</u></p>
<p>　解痧毒，消痰定痛。用之探吐宿食甚妙。</p>
<p><u>玄參</u></p>
<p>　清氣消痰，滋陰潤肺。但色黑止血，痧有瘀血忌用。</p>
<p><u>花粉</u></p>
<p>　性沉寒，止渴。痧毒未清者忌用，恐凝滯痧氣也。</p>
<p><u>角刺</u></p>
<p>　透毒，能引諸藥至於痧毒血瘀之所，立奏其功。</p>
<p><u>牛蒡子</u></p>
<p>　解痧毒，清喉，痧中要藥。用七分至一錢。</p>
<p><u>乳香</u></p>
<p>　消瘀血而不傷新血。痧症用之以治血結。用五分至一錢。</p>
<p><u>黑砂糖</u></p>
<p>　活瘀血，解痧毒，故瘀血作痛者，得此則安。</p>
<p><u>沒藥</u></p>
<p>　痧痛用之破瘀血。用四分至一錢。</p>
<p><u>食鹽</u></p>
<p>　解痧毒，定痛，用之吐去新食。</p>
<p><u>芋艿</u></p>
<p>　治痧熱，解毒。有痧患者，食之甘美。</p>
<p><u>晚蠶沙</u></p>
<p>　解痧毒，治熱。</p>
<p><u>阿魏</u></p>
<p>　破積聚，逐惡血，其功甚大。</p>
<p><u>大麻仁</u></p>
<p>　消大腸腸胃燥結者，宜用。</p>
<p>其中分數，如遇西北強壯人，當加一二三倍，不可執一。</p>
<h3>痧方余議</h3>
<p><u>鬱金</u></p>
<p>　價貴時有換之以薑黃者，其二味溫涼之性雖有不同，然以之治痧，下氣消瘀，薑黃末為無效。若欲入心經，散郁消瘀，則痧毒攻心者，非鬱金不能立奏其功，薑黃有所不及，故方中所載鬱金切勿以薑黃代之。</p>
<p><u>穿山甲</u></p>
<p>　土炒用。凡痧毒瘀血壅塞阻而不通，得此透入經絡，引諸藥所不能到者，即到所犯經絡血分之所。識者其留意焉。</p>
<p><u>黑丑</u></p>
<p>　通上徹下，痧毒脹滿，必須用此於丸散中，救人立功。凡破氣之味俱莫能及，但耗散真氣，恐人有宜有不宜，故方中不載。</p>
<p><u>大黃</u></p>
<p>　治食積阻痧毒。余為丸以備急用，其功莫大。若痧脹之極，必須急服此以攻之，恐病有宜有不宜。故方中雖載，不及細加，惟審病症緩急輕重而行之。（丑黃等分，粥丸三分稍冷湯下。）</p>
<h3>評半夏、藿香止吐</h3>
<p>凡治吐症，用半夏、藿香。獨痧症作吐，半夏性燥，須防益助火邪，斷不可用，若藿香惟取其正氣，以治穢濁。然亦必痧毒無阻，乃可俟冷凍飲料之。倘或痧氣有害於中，驟用此以止吐，反有閉門逐盜之憂。如腸胃有食積血瘀，留滯痧毒，用藿香香燥止吐，適長其毒，是宜知忌。（下通痧毒，其吐自止。）</p>
<h3>評荊芥、細辛、防風、獨活</h3>
<p>痧症寒熱不由外感，往往毒從鼻吸而入，搏激肌表。羌活、麻黃俱在所禁，若用荊芥、細辛善能透竅。蓋惡毒之氣，由竅而入，故用之，以治痧脹亦由竅而泄。若防風乃臣使之味，僅取為透竅之佐，不比麻黃、羌活專攻發表，反有升宣火毒之慮也。至如獨活發散治熱，其性至頸而還，力不能過發，且可活血解痧毒，是痧症最要之味歟。</p>
<h2>後卷</h2>
<h3>痧脹看症法</h3>
<p>治病須憑脈。若犯痧脹，則脈不對症，症不合脈，或云痧筋為據，亦為現外焉。且痧脹有為食積阻滯者，有為血痰阻滯者，或阻於上，或阻於中，或阻於下，又或阻於左，或阻於右，或阻於兩腰脅，苟非辨症的確，求其中病也，難矣。故治痧脹，一見脈之不合，先看痧筋，次審氣色，三聽聲音，四推犯病之由。其間或有食積血痰阻於上中下、左右各處之分，須細辨其病原，後用藥不誤也。凡痧脈有一部獨異，有六脈俱異，即有異之中，亦有陰陽虛實，脈之神氣可辨。要非一端可執，尚其審諸。</p>
<h3>放痧辨</h3>
<p>或曰子於痧也。有先用藥而放刮者，有先放刮而用藥者。非放與刮，治更無別法歟。曰放刮之法，猶犯傷寒太陽經症，必用羌活、麻黃等藥，少陽經症，必用柴胡，黃芩等藥。症有所犯，治有所宜。凡氣分有痧宜用刮，血分有痧宜用放，此不易之法。至臟腑經絡有痧，若昏迷不醒等症，非放刮所得治，兼用藥療之無足怪也。</p>
<h3>痧脹麻疹不同辨</h3>
<p>麻疹之發，因傷風熱故身體壯熱，咳嗽煩悶，即是　疹之候。麻疹在他方，有名厝子，有名蚤疹，在　李則名痧子，而痧脹亦名為痧，不可不辨。麻疹因傷風，肌表必虛，則毒瓦斯乘虛而泄，故藥雖或涼仍可用熱飲。若痧脹，或因穢氣所觸，或因暑氣所感，或動時行不正之氣，或乘伏寒伏熱過時而來。總不起於外傷風熱，故肌表必實，實則熱毒之氣既脹於胸腹腸胃之中，若更用熱飲，則熱氣適助其腫脹，無從而泄，故犯此者，有立時脹死，此不可不辨也。</p>
<h3>痧脹治猶麻疹論</h3>
<p>痧疹之發，必欲盡透。故治麻疹，須要見於肌表者多，多則毒瓦斯俱泄，然後腸胃不留余毒。治痧，在肌表者，用刮；在血肉者，用放。亦猶治麻疹，須盡透肌表之謂也。</p>
<h3>痘麻穢觸相同</h3>
<p>痘瘡為穢氣所觸，即時作變，痧脹也：麻疹為穢氣所觸，即時反隱，亦痧脹也；若暑氣時行不正之氣，感為痧者，詎無相類者歟。</p>
<p><u>治驗：</u></p>
<p>一陳姓婢十四歲，四月，壯熱煩悶，腹痛身重，斑痧遍體，脈微而細，觸穢之症也。閱腿彎痧筋，放七針，手指放十余針，俱紫黑毒血，煩悶稍松，用寶花散、阿魏丸清茶微冷凍飲料之，又付活血順氣之劑，腹痛遂止，斑痧漸散，身體輕快，痘即起發。視其形色，已四朝矣。後皆如期灌脹收靨而愈。可見痘中觸穢因痧而隱者，比比也。</p>
<h3>兼痧傷寒不同辨</h3>
<p>犯傷寒者，有外感三陽之寒，有直中三陰之寒，兼痧者，非可俱兼也。痧者，熱毒也，熱毒入裡，內作腫脹；熱毒發外，肌膚腫脹，或升頭面，或散四肢，此等惡疾，俱由熱毒之氣所攻也。若直中三陰之真寒症，無有兼痧者，蓋三陰既已直中，則熱氣與寒氣所拒，無由而入也。至於外感三陽，或先受痧而感寒，或先受寒而感痧，或痧毒驟發，熱極而生寒戰，甚至於手足厥冷，則俱有之。若先有痧而感寒者，知其慢痧，方可暫散寒邪而後治痧；先有寒而感痧者，痧症為重，當先治痧而後治寒。至如痧毒驟發熱極而生寒戰，手足厥冷者，緊痧也。若一誤服用發散、升提、溫飲之藥，須防時刻凶危，急用涼水飲之，稍解胸腹中熱脹之氣，然後或刮或放，用藥治之。</p>
<h3>諸痛類痧辨</h3>
<p>腹痛不一，有食、有氣、有火、有冷、有蟲、有積，俱似痧非痧，不可無辨。食者，失飢傷飽，聚中脘作痛，其症遇食即疼，胸膈飽悶，似痧者一，然按脈氣口必然有力可辨。若因冷食入胃，食與寒氣相搏於中，則心脾郁結，胸脅滿悶，中脘作痛，似痧者二，然按脈氣口必然無力，但有嘈雜衝胸，噯氣吞酸可辨。氣者因怒氣所傷，不得發越，胸膈氣塞沖激心脾，嘔逆惡心，吐不能出，其疼手不可按，坐臥不定，奔走叫呼，似痧者三，然按脈兩關必然洪大，余部俱必應指，及刮之無痧，痧筋不現，可辨。火者，因熱作痛，胃火上逆，嘔吐酸水，必然口渴欲飲，飲入即吐，其症手足溫暖，面帶陽色，似痧者四，然按脈六部洪數，又與痧類，難以細分，必看痧筋，兼用刮法可辨。冷者，人屬虛寒，沉寒作痛，其脈必然平軟，似痧者五，但飲熱則安，飲冷痛發可辨。蟲者，胃脘疼痛有如刀觸，痛極按心搔爬難定。兼之脈息無倫，徐疾不一，似痧者六，然蟲必有因，各有所喜，如茶蟲喜食茶葉，糖蟲喜食糖物，或泥或絮，或酒或鹽，其為蟲也，必有一好，食之便安，若遇檳榔、五靈脂殺蟲等藥，或藥性力薄，不能驅逐而出，勢必咬齒翻動腸胃，更加疼痛，可辨。積者，舊有宿積，聚結腸胃，忽因行動，作痛作疼，似痧者七，然痧筋罕現，刮痧無影，可辨。如是辨之的確，方知痧痛詳明，治之得法。然此諸痛，又有兼痧者，將論脈閱筋而加察焉，鮮有不得其理矣。</p>
<h3>諸症不類痧辨</h3>
<p>凡心腹脹痛因痧，既知之矣。痧症仍有不痛不脹者，或兼痧或暗痧，誤飲溫熱，便致凶危等也。余竊謂：凡遇危症，病家不識痧筋，猶用刮痧可辨。醫家或認脈不清，尚有痧筋可詳，若內人不便閱視，果緣痧脹凶極，脈未有對症者，以是辨之，百不失一也。</p>
<h3>論脹</h3>
<p>脹者，氣之閉也。氣為毒壅，故作腫作脹，所以治痧，先當治氣。如食阻其氣於上則吐之；食壅其氣於中則消之；食化而結其氣於下則導之，凡諸積之阻滯概然。凡下竅閉者，多上吐，或吐蛔或吐血，當導氣於下。中竅閉則下瀉，或瀉水或瀉蛔，當行氣於中。上竅閉而復升則作悶，或頭疼或上腫，俱當用清涼引下之。至如氣為毒壅必傷血分，若乃血為毒凝，活血為上；血為毒壅，破血為先；血為毒聚且結，敗血為要；故治痧必兼治血，蓋血活毒瓦斯行，血破毒瓦斯走，血敗毒瓦斯散。如是，毒瓦斯不留，治斯效也。</p>
<h3>凝壅聚結辨</h3>
<p>凝壅聚結，皆為血分痧毒惡症，其間有輕重之別。凝者，初犯之症；壅者，凝多而壅；聚者，血壅或左或右；結者，血滯一處。故痧毒中血分，結為重，聚次之，壅又次之，凝為輕。凝以紅花、澤蘭為主；壅以延胡索、桃仁為主；聚以蘇木、茜草為主；結以五靈脂、降香為主。輕者用藥不可重，重則恐傷本原；重者用藥不可輕，輕則治之不效。</p>
<p><u>治驗：</u></p>
<p>一尹鈞萬咳嗽痰喘，有以緊勞治之，病日增，背鞠如弓，手足蜷緊，不能展動，咳則胸腹百骸吊痛。延余診之，脈洪大無倫，此毒血壅聚也。兼又難刮、難放，先以圓紅散微冷凍飲料之，兩手稍松，漸為放刮訖，又以圓紅散加三七、鬱金末微溫飲之，更以蘇木、茜草為主，多加順氣活血之類，如前飲之。計日放痧一次者四，日用藥一服者五，遂痊。</p>
<p>一萬君安內室，兩脅如痞，按之則痛，心胃間高起，服藥難療。延余，左脈微細，右脈洪大，此慢痧，痧毒結聚也。</p>
<p>計放痧三次，付以五靈脂、降香為主，加桃仁、延胡索及消食行氣之類，日用一服，計十二劑如舊。</p>
<p>一陳弘業，寒熱嘔吐，苦難俯仰，腹中脹痛，夜不能寐，六脈弦細而緊數，刮放略松，用紅花、澤蘭、劉寄奴、茜草、桑寄生，並行氣消食之藥，微溫飲之，二劑而愈。</p>
<h3>治痧救人脈論</h3>
<p>或謂余曰：「古書所載，屋漏雀啄諸怪脈現者死，脈代者死，為五臟有絕也。見一部無脈，二三部無脈，焉得有生理乎」。及覽玉衡痧脈，止有六部無脈者死。即諸怪脈，必曰放痧服藥不應者死。與古書所載不同，何歟？曰：「古人論此等脈為死脈者，其常也：余論此等脈尚當救之者，因乎痧之變也。」凡痧脹之脈都有類諸死脈者，余惟見此疾，實憐之，冀萬有一可救者，因痧之變，不執常脈而輕棄之也。</p>
<p><u>治驗：</u></p>
<p>一陳見雅內室，懷娠發熱，赤痢腹痛不止，服他藥不效。余診之，脈四動一止，代脈也。閱有痧筋，放二十余針，用寶花散微冷服之，付以桑寄生、益母草、連翹、蘇梗、紅花、金銀花、山楂、卜子、當歸、枳殼、青皮、黃芩微冷凍飲料，四劑而愈。</p>
<p>一張舜瞻側室，腹疼、嗽痰、嘔吐。延余，脈如彈石，知其患痧痛極，脈亦變也。令其婢放痧三十余針，用寶花散、救苦丹、砂仁湯稍冷凍飲料之，付以獨活紅花東加山楂、神麯、卜子、青皮、微冷凍飲料二劑而愈。</p>
<p>一傅純宇，發熱昏沉，脈如解索，先用陰陽水，搗芋艿汁飲之，放指臂痧三十余針，稍覺清爽，用細辛大黃丸清茶稍冷凍飲料之，付以荊芥銀花東加青皮，微溫服二劑而痊。</p>
<p>一鄔云公，頭面紅腫，目閉喉痛，六脈無根，知其痧氣阻塞脈路也。刺腿足痧四十余針，流紫黑血甚多，又刺手臂痧二十余針，未愈。用清涼至寶飲減細辛，加山豆根、射干、牛膝、石斛、桑皮、枳殼稍冷凍飲料，三劑而痊。</p>
<p>一金子近次子祖翼，九月間，適因勞動，飲食不時，忽壯熱頭痛。自以紫蘇湯熏頭而大汗，胸中脹悶，他醫用藥下之，反口吐白沫，時有議以為痧，乃更延醫診視，見舌苔灰色，以傷寒藥治之。子近恐犯痧氣，先以半小鐘試服，少頃，即譫語，片時而止。熱仍不解，愈覺沉重，脈有八至。遂連易三醫，皆云傷寒，三次服藥，皆昏沉譫語如前。第五日，眼如火赤，唇若塗朱，鼻如煙煤，舌苔黑燥，枯干而短，聲音不清，足冷至腹，陰囊卵縮，肉脫神昏，醫者皆辭不治，已備後事。至七日，乃始放痧，因病勢危篤，止放二針，唇眼舌聲諸死症頓愈，陰囊二卵漸舒，脈竟平復，始現腹痛，乃知口渴。因惑人言痧症不可服藥，止飲童便，服紫金錠而痛止，後又隨痛隨服，繼進飲食。大便干結，至十八日，用蜜導法，遂變下痢，日夜五六十次。凡六日，始服痧症藥一劑即安睡，痢乃止。後延他醫，調理補之不數日，睡時即發遍身水晶　，覺時即隱，醫家莫解其故。子近因刮穿頸額間　流出皆汗也。即盜汗不止，他醫咸謂：久病虛脫　大用補劑斂汗，不惟無益，更加自汗且完穀不化，小便短赤頻數變為砂淋，醫又皆束手謝事。爰復放痧，用八正散二劑服之，痧氣始轉，身即壯熱約有二更時，身涼汗止。惟日食生茨菇五六日，砂淋亦止而全愈。祖翼之病，變幻遲久，總因止放二針，不服痧症藥以除根之故也。究以治痧而得全脈而八至，死症雖多，其可棄耶。</p>
<p>一金子近長子權可，八月間，發　通身如麻疹狀。延他醫視之，則日：「　疹」。復延幼科診之，亦云：「痧疹」。服藥十日不退，脈僅二至，醫家因疑其少年鑒喪，故而虛脫，欲用補劑。子近恐亦痧氣不敢服，命權可起而視之，則遍身痧點，皆活動流注兩腿皮肉紅紫，因放腿彎痧一針，而皮肉白。又放腿彎痧數針，而皮肉皆白，惟小腿紅紫未退。臥即復流動遍散於身，仍作稀稀　點。緣脈尤二至，用川烏、草烏為一小丸服之，脈復如常，大汗出而全愈。</p>
<h3>痧筋統說</h3>
<p>或曰：「前書放痧有十，今放痧者，奚不止於此？」余曰：「遍身青筋，古有載矣。謂放痧有十者，不過就痧毒先達臟腑者明之爾，至腿彎痧筋，尤人易曉，余詳之為初學人便，推而廣之，寧有暨乎」。</p>
<h3>傷風痧脈辨</h3>
<p>或曰：「前子傷寒辨痧詳矣，若犯痧似傷風何如」？余曰：「肺主皮毛，心主血，肝主筋，傷風犯痧三部見者居多。」</p>
<p>且風，陽也。風傷衛，仕表，故脈浮。傷風有汗，表虛也，故脈緩，有犯此症，脈不浮緩，反見沉緊或洪大，痧脹一驗也。若傷風帶寒，鼻塞畏冷，脈當浮而微緊，脈反沉伏或芤長，痧脹二驗也。若傷風熱，鼻塞聲重，喉痛，脈當浮而微數，脈反沉緊或芤或伏，痧脹三驗也。若傷風有痰，氣急發喘，脈當浮滑，反微澀沉伏，痧脹四驗也。以此推之，足矣。</p>
<p><u>治驗：</u></p>
<p>一駱叔源，傷風發熱，咳嗽痰喘已半月矣。左脈沉伏，右脈澀而微數，此慢痧為患也。左腿彎放二針，紫黑血流至足。又刮痧，不愈。付寶花散加明礬末稍冷湯飲之，用荊芥湯減川芎加蘇子、紅花、蒲黃，土貝母、烏藥，微冷凍飲料之而愈。</p>
<p>一高充謨，傷風鼻塞，肩背拘急，頭頂、疼痛，有以足太陽膀胱經藥治之。頭頂益痛，叫喊不已，甚至肩背沉重，時覺昏迷。延余治之，左寸微伏，右關芤大。先服圓紅散，稍醒刺腿彎六針，不愈。用寶花散清茶微冷凍飲料之，肩背稍轉，頭痛少安。詢所服者，腹中覺冷，即用防風散痧湯減枳殼加羌活，川芎，紫蘇、烏藥溫飲，寒散而安。</p>
<p>一凌公遠內室，傷風喉啞，胸腹飽悶，兩關俱芤。余曰：「芤者，瘀血，未有上下俱瘀，其痧乎」。其家人刮之，紫痧甚多，飽悶即解。付獨活紅花東加射干、前胡、薄荷、石斛、連翹、玄參三劑，微冷凍飲料之，傷風喉啞俱痊。</p>
<h3>眩暈痧脈辨</h3>
<p>暈有血暈、氣暈、痰暈、火暈、濕暈、暑暈，有血虛發暈，有氣虛發暈，有風中而暈，有寒中而暈，有勞力而暈。</p>
<p>今加之以痧暈，古人無治，古書無論，何以知之？大都血暈脈芤，氣暈脈沉，痰暈脈滑，火暈脈數，濕暈脈濡，暑暈脈虛，血虛發暈脈澀，氣虛發暈脈微，風中而暈脈浮緩，寒中而暈脈弦緊，勞力而暈脈右尺浮洪，此暈脈之大略也。若病似血暈脈反短，似氣暈脈反浮，似痰暈脈反澀，似火暈脈反遲，似濕暈脈反勁，似暑暈脈反實，似血虛發暈脈反滑，似氣虛發暈脈反大，似風中而暈脈反沉緊，似寒中而暈脈反微緩，似勞力而暈脈反細實，是皆脈症不合，余歷驗之而信其為痧，此痧暈之治不誣也。</p>
<p><u>治驗：</u></p>
<p>一陳肅遠，嘗苦發暈，醒則日夜頭眩。余往，候之脈，右虛左實，徐疾不常。余曰：「此非放痧不可。」放腿彎上下放十余針，紫黑血流如注，指上亦放二十余針。用寶花散、沉香阿魏丸清茶稍冷凍飲料之，付防風勝金東加桃仁，紅花稍冷飲之，後遂不復患眩暈。</p>
<p>一薑渭濱內室，正月間，驟然發暈，一日三次，舉家惶恐。余見其脈沉而微緊，令其婢為指上放痧三十余針。用救苦丹加沉香末清茶稍冷凍飲料之，付荊芥銀花東加卜子、枳殼一劑而痊。</p>
<p>一梅君玉子三月間，吐蛔發暈，昏沉不醒，六脈俱伏，左右虎口脈青色，放指頭痧一十八針，用細辛大黃丸清茶調黑糖稍冷凍飲料之，漸蘇，付蒲黃飲減薑黃加陳皮、烏藥、紅花微冷湯調黑糖飲之，乃愈。</p>
<p>一霍庭賢內室，四月間，壯熱面赤，口渴唇焦，有以陽明胃經症藥治之，遂發暈，終日不醒。余診之脈，兩寸弦細，兩關沉微，兩尺左大右緊。曰：「脈症不合，痧毒內攻也。」先用蘇木散、砂仁湯微冷凍飲料之，令其老婦放指上痧二十余針，血色墨黑，猶不醒，後令放乳邊痧二針，乃蘇。余症不減，用蒺藜散微溫湯飲之，付桃仁紅花東加枳殼四劑，下盡惡毒黑物而痊。</p>
<p>一盛思虞六月間飲酒，頭汗發暈。脈寸關洪大無倫，兩尺脈伏。閱痧筋，放十余針，皆紫黑毒血。付陳皮厚朴東加干葛，山楂、卜子微冷凍飲料之而醒，又用藿香東加黃連、黃芩乃安。</p>
<h3>痧脹舌胎論</h3>
<p>或謂：「全書載痧，論治俱備，舌胎僅存其名，豈痧脹舌胎無可治乎」。余曰：「非也。」蓋謂痧脹有別症之舌胎則可，謂舌胎即痧脹之症，是不識痧脹之適當其然，並不識舌胎之所以然也。誠以舌胎乃足陽明胃腑熱病，故治痧脹，先理其痧，後治舌胎即安；若先理舌胎後治痧脹則危。蓋舌胎乃胃腑熱極氣衝心胸，舌為心苗，故見胎則宜石膏、黃連、大黃、黃芩、黃柏之類。若不先治痧，恐此等藥又寒凝血分，反成大患，故治此者，要看痧毒一退即治舌胎可也。</p>
<p><u>治驗：</u></p>
<p>一翁在茲，發熱口渴，舌有黑胎，臥難轉動，氣急痰喘，六脈洪實，放痧三十余針，未愈。用圓紅散、砂仁湯微溫飲之，又付必勝湯，大便下黑糞，惟口渴黑胎未愈。加石膏、黃連二劑而瘳。</p>
<p>一曹華宇長子，十一月間，犯傷寒兼痧，舌卷耳聾，舌上黑胎芒刺，大渴昏沉發熱，身重不能轉側，胸中迷悶，瀉痢清水，先以圓紅散加鬱金末，清茶稍冷凍飲料之。放指上痧三十余針，未愈。用阿魏丸付以防風散痧湯，合棱術東加桃仁、紅花一劑，俱微冷凍飲料之，舌卷耳聾漸愈，瀉水即止，大渴稍解，但舌胎不退，胸中飽悶。詢其腹中厭冷，痧氣已絕。用和脾宣化飲減前胡，大腹皮加桃仁、紅花、枳實、青皮、石膏、黃連、大黃微溫飲之，食結飽悶俱消，黑胎芒刺皆退。</p>
<p>惟大便不通，用大黃三錢，芒硝一錢溫飲之，大便通而愈。</p>
<p>一張旋庵內室，傷食飽悶，按之則痛，日晡發熱，舌心焦黃芒刺。延余，脈微無力。余曰：「痧也」。放腿彎痧三針，流紫黑毒血。用紫朴湯，加柴胡、干葛微冷凍飲料之，後加石膏、黃連、大黃、黃柏溫飲四劑，大便下宿糞而愈。</p>
<p>一龔云濤，發熱嘔噦，舌有黑胎芒刺，起二大泡，蜷臥聲重，迷悶幾死。脈左弦緊，右微細。放腿上痧三十余針，用三黃石膏湯，微溫飲之稍愈，驟進飲食，迷悶復發，用消食順氣之劑，後加大黃、芒硝，大便通而安。</p>
<h3>麻疹兼痧脹</h3>
<p>麻疹方，惟是升發清涼解利，茲競有若此不治者，因不知麻疹中有痧也。蓋麻疹乘虛而發，若穢氣暑氣，時行不正之氣，亦可乘病而感。苟犯痧者，但先治痧脹，麻疹自發自散。蓋麻疹兼痧脹，痧脹為難，麻疹反隱而難現，不可不辨也。</p>
<p><u>治驗：</u></p>
<p>一金權可，二月間，犯時行麻疹，心胸煩悶。延余治之，脈症不合。放痧後用寶花散並活血順氣消食之劑，俱調黑糖，侯稍冷凍飲料之，復刮痧訖，如前二劑，乃安。</p>
<p>一潘質黃子犯麻疹，脈微，放腿彎痧二針，血流紫色，又放指上痧三十余針，付圓紅散並清涼至寶飲合紅花湯，俱微冷凍飲料之即愈。</p>
<p>一余弟驤武子八歲，正月間犯麻疹，胸腹脹悶，煩躁熱渴，咳嗽氣急，面赤身熱，脈不洪大反見細數，放腿彎痧二針，付圓紅散、沉香丸，用荊芥薄荷湯合枳實大黃湯，俱微冷凍飲料之，麻疹即發透隨散而愈。其時一仆婦亦咳嗽煩悶，同犯麻疹，如上治而痊。</p>
<p>一王日斯女，壯熱咳嗽，麻疹初現，氣急面赤，脈症不合。放指上痧二十余針，付圓紅散加沉香末，調黑糖湯，稍冷凍飲料之，用清氣化痰飲合蒲黃飲，均微冷凍飲料之，即發透隨散而愈。</p>
<h3>痧脹兼麻疹</h3>
<p>傷風咳嗽煩悶，為麻疹之候，然亦有麻疹未發，或觸穢氣，或感暑氣，或吸時行不正之氣，當即痧脹，或心痛腹痛，或脹悶喘急，或遍身疼痛，或發暈昏沉。一似麻疹不發，內攻心腹，痛及周身，使止認為麻疹之候，升發之，勢必危殆。</p>
<p>不知傷風咳嗽煩悶，雖有麻疹，發於日後，其痧脹內攻，即麻疹有現形者，因之反隱，更助痧脹為禍，況麻疹未形，痧脹沉重可不先救痧脹乎。</p>
<p><u>治驗：</u></p>
<p>一陸迪恩內人，發熱咳嗽，胸腹疼痛，叫喊非常，脈症不合，令其仆婦放腿彎痧未愈。先以寶花散、阿魏丸清茶稍冷凍飲料之，付必勝湯減大黃加枳實，連翹、卜子二劑，微冷凍飲料之，疼痛稍已。次日如前劑減五靈脂加荊芥、黃芩微溫飲之，疼痛乃止。麻疹即發，再劑而痊。</p>
<p>一沈端肱女，咳嗽發熱，脹悶不已，六脈弦緊，或時歇指，放指頭痧二十余針，未愈。用寶花散加沉香末，稍冷凍飲料之，付防風勝金東加紅花、荊芥治之，麻疹隨發，用荊芥湯減川芎加黃芩、玄參、金銀花微溫飲二劑而瘳。</p>
<p>一陳弘甫，傷風發熱，咳嗽煩悶，脈左沉右洪。放乳上痧二針，用紫朴湯冷凍飲料，麻疹漸現。次日為穢氣所觸，復隱隱不發，刮兩臂肩背痧，用荊芥湯減川芎加黃芩、銀花、紅花、沙參、烏藥微冷凍飲料之，麻疹即發，再劑而愈。</p>
<p>一高子良弟，四歲，正月間，傷風咳嗽煩悶，有以麻疹治之，不發，反吐血，發暈昏沉。延余，脈症不合，放舌下痧二針，付紫朴東加黃芩，微冷凍飲料之，麻疹始現。次日稍飲溫茶半鐘，麻疹復隱。余曰：「痧脹余毒，復發內攻，故麻疹隨之而隱。」又刮痧畢，服必勝湯減大黃、五靈脂，貝母加黃芩飲之，麻疹即透，後惟清涼解毒而痊。</p>
<h3>痧脹類麻疹</h3>
<p>或謂余曰：「痧脹之發，即麻疹也。子於痧脹，特多放痧之法爾，不知所放之痧，即放麻疹之脹氣也。安得云麻疹非痧脹之標，痧脹非麻疹之本歟？余曰：「我見麻疹從傷風咳嗽而發者，有矣，未聞有感穢氣發麻疹，感熱天暑氣發麻疹者。</p>
<p>豈非麻疹自有麻疹病，痧脹自有痧脹病乎。況痧脹既云即麻疹，何以有麻疹因穢氣暑氣所乘兼痧脹麻疹即隱而不發，必俟放刮後麻疹始發乎。乃知麻疹不與痧脹同。故刮者放者各痧脹，雖有刮出之痧，不可即認為麻疹，其痧脹亦不與麻疹同。必因傷風所發，始為麻疹實不同也。乃茲有痧脹不因傷風發熱咳嗽所起。嘗見刮放用藥後，發出遍身形影如麻疹者，雖形似麻疹，實非麻疹，故名之為類麻疹焉。」或曰：「詎有非麻疹而形可同於麻疹者？」曰：「此亦猶痧毒發為腫毒，發為紫　之類爾，何疑乎。」</p>
<p><u>治驗：</u></p>
<p>一聞德音內人，腹中疼痛，右脈微而弦，左脈細而澀。令其婢放腿彎痧三針，血流紫黑色，未愈。用寶花散，救苦丹清茶稍冷凍飲料之，付以和脾宣化飲加茜草、桃仁微冷凍飲料之，發出一身類麻疹者，余用防風散痧湯減細辛加連翹、紅花、金銀花、桃仁治之，而痊。</p>
<p>一施均季孫女，發熱咳嗽，腹脹昏沉，微有麻疹形影，大便瀉黃水有用升發之藥，不效。延余治之，脈上盛而下虛，乃知發熱咳嗽，雖本傷風實非因傷風而有麻疹形影也。放指頭痧二十余針，用圓紅散調黑糖，微冷湯飲之，稍覺清爽用獨活紅花東加山楂、卜子、澤蘭治之，連送二劑，大便下盡黑物，而愈。</p>
<p>─章漣漪三子，發熱昏沉，腰脅間微有形影與麻疹相似，有用升發之劑，惟恐不透。次日，迎余，六脈歇指，余曰：「麻疹之病，何遽爾歇指耶？雖昏沉氣喘，喉無痰聲，脈不合症，斯痧脹之類麻疹者歟。」放頭頂痧兼放左太陽及乳上痧三針，未愈。用荊芥東加山棱、蓬朮、白蒺藜微冷凍飲料之，發一身類麻疹者，遂安。</p>
<p>一薛思高，發熱迷悶，氣不得舒，胸腹頭面有麻疹形。余診之，兩關俱芤，此痧脹之類麻疹也。放痧十余針，又刮痧訖，用沉香鬱金散，清茶稍冷凍飲料之，而痊。</p>
<p>一張省原子，胸腹飽悶，昏沉不醒、痧筋不現，但微有麻疹形。脈左寸關沉細如無，右寸亦伏。余思，麻疹脈不若是。令其家人，用燈心蘸菜油點火　之，即醒。但飽悶未解，用寶花散加沉香、蒲黃清茶微冷凍飲料之，付奏　和解飲減山藥、人參、甘草加桃仁、紅花治之，而愈。</p>
<h3>麻疹後復痧脹</h3>
<p>問：「痧脹，有愈而屢屢復發者矣。若麻疹，有愈而屢屢復發者乎？」曰：」無有。」然則謂麻疹即痧脹，謬矣。使有犯麻疹復痧脹，乃即以治麻疹法治之，誤莫大焉。故曰麻疹後復痧脹，不可不知。</p>
<p><u>治驗：</u></p>
<p>一王日斯幼女，正月間，麻疹後，瀉痢白色，治之稍安。驟然腹痛，脈短而微。余曰：「此穢氣新觸作痛，非麻疹之故。」放指上痧二十余針，未愈。用救苦丹，清茶稍冷服之。付藿香東加卜子、紅花、烏藥、木通微冷凍飲料之，即痊。</p>
<p>一陶元升，麻疹後，忽壯熱面赤，痰喘不已。兩額太陽，抽痛異常。脈不洪滑反濡細，痧氣阻塞脈路也；痰喘不已，痧氣上壅也；兩額太陽抽痛，痧毒上攻三陽也；其面赤發熱者，毒盛極而攻表也；均不因麻疹而然。啟腿彎痧筋放六針，毒血墨黑，未愈。用清涼至寶飲減細辛加黃芩、干葛、紅花、牛膝、木通微冷凍飲料二劑漸安。但腹中飽悶，按之則痛，用丁沉阿魏丸，微溫飲之，又付必勝湯，溫飲四劑，下盡黑惡毒物而愈。</p>
<p>一　鈞甫子，二月間，麻疹後遍身疼痛，不能轉側，有似麻疹余毒，治之反加沉重。延余，脈累累如貫珠，時一促疾。蓋遍身疼痛不能轉側者，痧脹毒攻血分也；脈累累如貫珠疾促者，痧脹於中，筋脈縮急而然也；反加沉重者，誤飲溫熱，痧毒內攻勢盛也。放腿彎痧四針，及臂指痧二十余針，咸流紫黑血，未愈。用桃仁紅花東加牛膝、山楂、枳殼、磨降香微溫服，四劑而安。</p>
<h3>麻疹夾痧脹蛔結</h3>
<p>麻疹治法易明，若夾痧脹不放不刮，或犯痧脹之禁，麻疹亦隨痧脹，反攻臟腑，蛔不能存，非吐而出，即從大便而下，否則，結於大腸，臍中作痛。治宜先施刮放，後用芒硝、大黃，攻其死蛔宿糞，令毒從大便而出，則痧脹乃解。麻疹輕者自消，重者自發矣。</p>
<p><u>治驗：</u></p>
<p>一劉香仲孫女，二月間，傷風發熱咳嗽，麻疹隱現不發，喉啞失音，臍腹疼痛，昏悶沉沉，前醫不治。延余，左脈芤，右脈澀，時有歇指。以火照手背指上痧筋，放二十余針。用沉香丸清茶稍冷凍飲料之，付紫朴湯合荊芥銀花湯俱微冷凍飲料之，後連放指頭痧二次。如前藥，加黃芩、石膏、芒硝、大黃微溫飲之，喉稍有聲，乃去石膏加黃柏溫飲之，下死蛔四條，大便通而愈。</p>
<p>一劉姓婢，犯麻疹，發熱咳嗽腹痛，脈洪大無倫，亦夾痧脹者也。放腿彎痧五針，紫黑毒血成流，又放指頭痧二十余針。用桃仁紅花湯減蘇木合荊芥湯減川芎加黃芩，微冷凍飲料之，下蛔二條而痊。</p>
<p>一過洪甫，發熱咳嗽吐瀉，麻疹現而復隱，口渴唇焦，鼻紅瀉血，舌有黃胎，繞臍硬痛，叫喊非常，醫治不應。其弟德甫延余治之，左脈俱伏，右脈洪緊，放指頭臂上痧三十余針，用獨活紅花東加石膏、黃芩、芒硝微冷凍飲料二劑，瀉下宿糞，死蛔六條，麻疹乃發。次用荊芥銀花東加玄參、黃芩、黃柏微溫飲之，三劑而愈。</p>
<p>一方原行次子，傷寒發熱，咳嗽煩悶，腹中大痛，麻疹現而復隱，喉啞失音，六脈弦緊，放乳上，指臂痧二十余針，未愈。用射干兜苓湯減甘菊、花粉加石膏、桃仁、紅花、大黃二劑，微冷凍飲料之。下宿糞、死蛔三條，麻疹始透。復放腿彎痧，腹痛余症俱瘳。</p>
<h3>傷寒黃兼痧</h3>
<p>讀傷寒書，有發黃發　，余以為有痧焉者。蓋發黃發　皆即傷寒現症也。或中穢氣，或因暑氣，或感時行不正之氣，遂兼痧脹，即傷寒兼痧之說也。</p>
<p><u>治驗：</u></p>
<p>一孔叔元，傷寒傳胃腑，口渴壯熱，頭汗發黃，舌胎芒刺，腹脹迷悶，舌短聲重，氣急發喘。余見脈左寸關伏，余脈弦緊。曰：「痧毒阻於筋脈，脈氣不宣，故微伏而弦緊。兼之胃腑熱極，痧毒乘之，一飲熱湯、熱物，痧毒橫行，攻擊臟腑，故見此等惡症。」先放頭頂痧一針，次放指頭痧二十余針，及乳上痧二針，迷悶即松。付以烏藥順氣東加石膏、黃連、大黃、桃仁二劑，微冷服之。頭汗舌胎始退，余症漸解。復放指上痧，付枳實大黃湯減槐花加紅花、芒硝二劑，溫服乃瘳。</p>
<p>一孫彥衢內室，壯熱發黃，頭汗如雨，大渴唇焦。左脈弦緊，右脈沉微。放手臂腿彎上下痧四十余針，流出紫黑毒血，未愈。付細辛大黃丸、沉香鬱金散，微冷湯下。用桃仁紅花東加牛膝、石斛二劑，微溫飲之乃痊。</p>
<p>一梁鐘素，傷寒六日，壯熱發　，大渴昏沉。余見脈洪大無倫，兩太陽青筋，刺痧三針，放腿彎痧五針，出毒血，未愈。用荊芥紅花湯合清涼至寶飲加石膏，稍冷送下四劑而愈。</p>
<p>一湯茂珍次女，八月傷寒，日晡壯熱，口渴發　，頭痛如破，聲重耳聾，吐蛔二條，迷悶幾死，兩寸脈微無力，兩關弦細，兩尺左滑右緊。放腿彎痧三針，略松。用清涼至寶飲加黃芩、牛膝、石膏、桃仁、澤蘭、烏藥、枳殼微冷凍飲料之。</p>
<p>不應復放痧，用熟大黃三錢、細茶一撮，煎服而痊。</p>
<h3>痧類陰症</h3>
<p>痧症類傷寒，不獨類傷寒傳經熱症。觀諸痧變脈侯，更有不似陽而似陰者。幾令人反疑為直中三陰真寒症，痧毒入深也。稍用熱藥熱飲，便不可救療。</p>
<p><u>治驗：</u></p>
<p>一章晉卿，發熱沉重，口渴，兩顴紅赤，唇燥舌苔，兩手震動，舉家驚惶。脈沉微無力，時有用乾薑、肉桂治之；有用附子治之，此則認脈為陰，而作傷寒三陰真寒症治之也，服之危篤。延余四子端英診之，知其脈症不合，看腿彎痧筋放四針，流紫黑毒血。付石膏、黃連、黃芩兼活血順氣之藥，稍熱飲之一劑而松，再劑而安。</p>
<p>一楊馥音，發熱嘔吐瀉泄，手足蜷攣，怕聞響聲，頭汗如雨。有指為虛極而然，用大劑人參補之，反加昏悶。余按其脈，沉細無力。視其面，有戴陽之色。迨詢所飲見熱而拒，遇冷則喜。余思，此必內有痧症熱毒，故脈症若斯。扶看腿彎痧筋二條，放之、流紫黑毒血如注。用桃仁紅花東加角刺、牛膝微溫服四劑，用清涼至寶飲加黃芩，溫飲二劑而痊。</p>
<p>一何心祝，身不發熱，咳嗽吐瀉，蜷臥沉重，手足俱冷，昏迷不醒，喉中痰聲不絕。醫者四人咸云床褥不謹，內中陰寒，用人參、黃　、附子、乾薑等藥服之，病日增。余按脈，徐疾不常，時有歇指。探其氣口，熱如爐。看其舌，有黃黑苔芒刺。余曰：「此非直中陰經真寒症也。」其族兄爭之不已。余曰：「焉有陰症，而舌胎芒刺，口熱如爐者乎？況服參薑附已有明征，若必欲以陰治，請辭。」其家人固求，余先用陰陽水二碗飲之，遂覺稍醒，其弟二人竭力扶起，放腿彎痧六針。付以射干兜苓湯去甘菊加烏藥、玄明粉、檳榔、卜子二劑，稍冷凍飲料之。後減玄明粉加童便，六服而痊。</p>
<h3>呃逆痧</h3>
<p>呃逆俗名冷呃。有寒有熱、有虛、有實；有因痰火而發；有因血鬱而成；有因食阻而得；有因氣阻而生；有因病重發喘為呃，謂之喘呃。若一概認呃為冷，以丁香柿蒂主之，謬矣。故老弱氣虛犯呃，非參不補；若虛極陰寒犯呃，非薑桂附子不溫；即此冷呃治之亦異，而況痧脹為呃，有痰火血鬱之分，有食阻氣阻之異，有病重喘呃之凶。苟非細辨受病之原，用藥稍或不妥，非惟不效，勢必呃死，是用明痧呃之害焉。</p>
<p><u>治驗：</u></p>
<p>一徐望舒，傷寒變瘧，呃逆三日夜，兩寸脈微，余脈緊滑。余曰：「呃逆，脈異，病後兼痧也。」閱腿彎上下痧筋，放四針，紫黑血流，不愈。用細辛大黃丸，清茶稍冷服之，付清涼至寶飲，微冷下而痊。</p>
<p>一王彥甫內室，產後月余，發熱呃逆，腹脹沉重，其長子謂余曰：「老母產後，傷寒六日，沉重異常，忽發冷呃，將若何？」余診之，六脈弦細而疾，口渴畏熱飲，痧症顯然。放臂痧三針，血流如注，又放指上痧三十余針。用蘇木散並付桃仁紅花東加山楂、卜子二劑，俱微溫飲之乃愈。</p>
<p>一孫靖公，六月，心煩呃逆，兩寸關俱細澀而數，且喜冷凍飲料。余曰：「痧脈已現，痧症昭然。」刮痧放痧，不愈。用清涼至寶飲減細辛加香薷，黃連、童便：食鹽微冷服，遂愈。</p>
<h3>盤腸痧</h3>
<p>痧毒肆行，盤轉腸胃，雖不痛不疼，苦楚萬狀，命在須臾，此緊痧之症也。</p>
<p><u>治驗：</u></p>
<p>一張方曦內人，十一月間，胸腹中氣不舒暢，惟是盤旋絞絞於胸腹腸胃中，叫喊幾死，將及半日。時晚延余，診其脈洪大無倫，令其仆婦，放指頭痧二十余針。用救苦丹、沉香丸清茶稍冷凍飲料之，未愈。付防風勝金東加桃仁、紅花，治之而痊。</p>
<p>一汪履公弟，三月，飯後驟然叫喊，腹中絞絞，述悶無極，六脈俱伏。放腿彎痧六針，紫黑毒血出如涌泉，未愈。</p>
<p>用鹽湯冷凍飲料二大碗吐去新食，付清氣化痰飲，稍冷服而愈。</p>
<p>一盛玉鉉，炎月旁晚，胸腹述悶，苦不可言。自謂死期在即，舉客驚駭。延余，右三部脈伏，左三部脈洪大無倫。</p>
<p>放指頭痧三十余針，未愈。用礬湯冷凍飲料二碗，吐去新食，付蒲黃飲減薑黃加卜子，微冷服而痊。</p>
<h3>自汗盜汗驚惶痧</h3>
<p>自汗陽虧，盜汗陰弱，聞聲而驚震，遇響而惶　者，虛極之候。若因痧有是症者，固表固本在所大忌，務宜辨之。</p>
<p><u>治驗：</u></p>
<p>一陳肅達內人，本質素虛，幾遇病非人參不效。四月間，心胸煩悶，汗流不絕，聞聲驚恐。初病延余，脈未顯，難辨。余聞素虛，雖不敢用參，付平劑，不應。延他醫付藥加參補之，疾益甚。復拉余，按脈不見沉微反見浮洪緊大。余曰：「痧也。」三子叔楊為母放痧畢。余用寶花散，沉香阿魏丸微冷茶飲之，漸安。肅達恐虛實未明，停藥二日，後用歸身、山藥、茯苓、麥冬、沙參、丹皮四劑而愈。</p>
<p>一潘中黃，心胸煩悶，睡即盜汗不已，先將腿彎痧筋放之，即發暈，不愈。越六日，延余，按其脈，不與症合。余曰：「痧毒幸放，故無大害。其發暈者，適遇痧氣衝心，是以得暈，非放痧之害也。」復為放指上痧三十余針，未愈。用寶花散微冷凍飲料之，用獨活紅花東加卜子，調黑糖治之而痊。</p>
<p>一祝公庵次子，發熱頭疼，自汗如油，痰喘如鋸，時覺昏沉。有以牛黃抱龍丸、生薑湯治之。更重延余診之，脈上盛而虛。放乳邊痧三針，腿彎上下痧六針，未愈。付桃仁紅花東加牛膝、石斛、細茶微溫飲之，三劑而安。</p>
<p>一石敬村女，口渴盜汗，腹脹如臌，有治之，不應。余按脈，弦細無力。放指頭痧二十余針。用蘇木散合寶花散、砂仁湯，微溫飲之，付蒲黃飲加角刺、卜子溫飲四劑、又用清涼至寶飲，二劑而痊。</p>
<h3>痧類三瘧</h3>
<p>瘧有一日一發，有間日一發，有三日一發，邪氣所湊，感受各有淺深。若三日一發者，所感獨深，但痧毒乘之，陰受其禍，即有不測，焉能識之。邇於全書所記外，見有痧類三瘧者，故續編之以彰其害焉。</p>
<p><u>治驗：</u></p>
<p>一陸淑韓祖，年近七旬，八月患瘧，間二日一發，寒熱甚重，心胸煩悶，將及半月。診之，左脈微澀。余曰：「不意斯疾亦有痧焉。」刺腿彎痧三針，流血紫黑。用寶花散、沉香丸，清茶微冷凍飲料之，付防風散痧東加連翹、柴胡、橘紅、膽星微冷服二劑，六日乃痊。</p>
<p>一懷惟貞，患三瘧半年，忽煩悶沉重，坐臥不安，六脈俱伏。余曰：「此三瘧兼痧者也。」刺腿彎痧二針，流紫黑毒血。用寶花散，清茶微冷凍飲料之，遂松。後不服藥，漸痊。</p>
<h3>咽喉諸症兼痧</h3>
<p>咽喉諸疾，亦有兼痧之症。與若云咽喉從古無兼痧論，試思古人治咽喉十八症，有刺少商穴法，此何異乎？夫少商穴屬太陰肺經在手指爪角內側，刺之出血，以瀉其毒，治惟一經尚有其效。若乃兼痧凡經絡所傷，或上或下，隨經刺放，以拔痧毒，乃反莫救於咽喉乎。余竊謂咽喉兼痧，痧毒內發，病必難愈。若按脈看筋，能先治痧，令痧毒一去，然後內服藥餌，外用吹敷可也。</p>
<p><u>治驗：</u></p>
<p>一余長孫，犯喉疳，脈虛而微數，閱腿彎痧筋，放三針，流紫黑毒血。吹冰硼散，用清涼至寶飲減細辛加射干、連翹、枳殼、牛膝、貝母微溫飲之而愈，一陸思湖，犯喉癬危急，醫治不應。余診之，脈弦而緊，右寸脈伏。閱有痧筋，刺十余針，紫黑毒血，流如涌泉。</p>
<p>吹冰硼散，用清涼至寶飲減細辛加山豆根、連翹、菊葉飲之而痊。</p>
<p>一繆瑞吾子，犯喉痹疼痛，脈兩寸俱伏。余曰：「症與脈異，殆必有痧。若止治喉痹恐難即愈。」不信，辭之。他醫調治，痛益甚。復延余，放指頭痧三十余針。口噙冰梅，治其痰涎。用清涼至寶飲減細辛加射干、連翹微冷凍飲料之，即愈。</p>
<p>一潘象黃鄰人，犯咽喉腫大，看有痧筋。云此宜刺放，然後醫治則愈。嘗對余談及，余雖不臨症治之，然即此一人，知天下犯咽喉腫大，必有同也。故並記之。</p>
<h3>口舌兼痧</h3>
<p>口舌有疾，適因感觸犯痧，痧症雖發在後，治之不容或緩。即使口舌症凶，痧脹較之尤急，斷不可先口舌而後痧脹也。</p>
<p><u>治驗：</u></p>
<p>一翁珍碩，舌下起重舌，苦難盡述，有以少陰君火治之，不應。余按其脈，左寸沉微，右關無力。若據脈宜補，據症宜涼，取痧筋驗之，放腿彎痧十余針，皆紫黑毒血。求余立方，余曰：「向所服者，俱清涼之味，宜少加川連所吹者，俱引涎之物，宜多加冰片，即而奏效於所疾也。但服藥不當溫飲，略覺微溫足矣。」三日而痊。</p>
<p>一聶敏躬，口疳作爛，吹藥益甚，放痧不愈。求余，右脈微緩，左脈沉伏。付清涼至寶飲減細辛加石膏、牛膝、烏藥、枳殼、青皮稍冷凍飲料之，用冰硼散加膽礬、兒茶吹之。</p>
<h3>類瘋痧</h3>
<p>瘋有真瘋，有類瘋，不辨其實，概將花蛇等藥攻之誤矣。余見痧脹多變，更有類乎瘋者，故正其名日類瘋痧。</p>
<p><u>治驗：</u></p>
<p>一范嗣　，咳嗽氣急，兩顴唇口鮮紅，有以不足症藥治之，不應。余以痧療之而痊，迨半年後，面顏上忽變出圓片紅色高起，外科視之，認作大瘋治。余按脈微而緩，曰痧也。閱痧筋，放腿彎下三針，紫黑色毒血成流，又放指頭痧二十余針。用沉香鬱金散，清茶冷凍飲料之，付如聖散加紅花、青皮，調黑糖湯，微冷凍飲料之而愈。</p>
<h3>黃氣病兼痧</h3>
<p>腸胃內熱積滯氣阻，成黃氣病。往往有兼痧者，非先治痧，則黃氣病終不能治也。</p>
<p><u>治驗：</u></p>
<p>一驤武弟婦犯黃氣病，面色萎黃，腹脹如臌，腿足俱腫，六脈微澀，令仆婦為之放痧三十余針，俱紫黑色毒血。用沉香鬱金散，清涼至寶飲加青皮、烏藥、檳榔、山楂、卜子、牛膝俱稍冷服，腹脹始松。後惟用黃氣病本藥，微冷凍飲料四劑而痊。</p>
<p>一蒯香年犯黃氣病，熱渴唇烈，面黃腹脹，手足俱腫，食即作瀉。及按其脈，徐疾不常，緣視腿彎上下痧筋，刺十余針，毒血成流。用阿魏丸、砂仁湯微冷凍飲料之，脹氣遂減。余即以治黃氣病本藥治之，六劑而痊。</p>
<p>一董臨橋，腹脹如鼓，兩足微腫，飲食不進，面色干黃，諸藥不應。求余治之，脈不洪數，反沉遲。刺指臂三十余針，胸腹遂爽。即用治黃氣病藥，稍冷凍飲料，四劑而愈。</p>
<h3>翻胃噎膈痧</h3>
<p>病有翻胃兼痧，有痧變翻胃；有噎膈兼痧，有痧變噎膈，其痧似慢，日漸凶暴，宜細辨之。</p>
<p><u>治驗：</u></p>
<p>一包世球年六旬余，患翻胃症，食即心痛嘔吐不止。余按其脈，六部洪緊有力。乃閱痧筋，放手臂腿上痧二十余針。</p>
<p>付以烏藥順氣湯及降香桃花散，俱微溫服，四日而痊。</p>
<p>一蔡愛山，胸中飽悶，欲食不食，食即胃脘不寧，苦楚萬狀。余診之，後三部脈微澀。放腿彎痧二十余針，略松。</p>
<p>日服蘇木散，微溫酒下二錢，六日而愈。</p>
<h3>筋骨疼痛痧</h3>
<p>筋骨疼痛，多延蔓終身。治此者，或風或濕，或氣阻血凝，或流痰流火，如此而已。然有效有不效，或為痧暗相纏，令人莫識，此痧甚慢，不可不知也。</p>
<p><u>治驗：</u></p>
<p>一董季連，筋骨疼痛，臥床二年，諸藥不應。余診之，右脈微弦，左脈沉細，閱痧筋放之，血流紫黑。用圓紅散，微溫湯飲之，付蒲黃飲加五靈脂、角刺溫服六劑而痊。</p>
<p>一郝文仔，筋骨疼痛，步履艱難，吐痰氣急，左脈微芤，右脈弦緊。放腿彎痧紫黑血三針。用必勝東加角刺，微溫飲之，漸愈。</p>
<h3>鬼箭痧</h3>
<p>世俗傳鬼箭之說，有針挑、火　、油發、艾桃揩諸法。不敢服藥，疑真有鬼禍，非也。識者辨之謂，鬼箭是風，神箭是寒，床箭是濕。痛而轉動者，氣與痰也；痛而難轉動者，血也，各有方治。然中亦有雜痧者，先治痧毒，後除余症，亦箭亦須知也。</p>
<p><u>治驗：</u></p>
<p>一曹叔恆，遍身走注疼痛，不能展動，或曰：「此鬼箭也。」以油發、艾葉揩之，以燈心蘸菜油點火　之，不應。適見余，自述其病診之，脈左虛右實，放痧三針，流紫黑血。用桃仁紅花東加穿山甲、天蟲、香附微溫服，漸痊。</p>
<p>一鐘洪武內室，腰背疼痛，臥床不起。有以為鬼箭之病，從痛處挑筋十余針，不愈。延余，脈徐疾不常。曰：「瘀也。」</p>
<p>令其婢刮而且放，刺腿彎痧二十余針，流紫黑毒血。用紅花東加穿山甲、澤蘭、劉寄奴四劑微溫服乃痊。</p>
<h3>久瀉肉瘦痧</h3>
<p>瀉久則肉瘦，或健脾或燥濕，或消積或滲水，或補命門火，或平肝木氣，治瀉之藥，不過如是。若慢痧之變，久瀉肉瘦，病原不同，但宜治痧，則瀉自止矣。</p>
<p><u>治驗：</u></p>
<p>一姚公　潘婢，久瀉不已，不思米食，日漸　瘦，大肉漸脫，脈反有力。放痧二十余針，紫黑毒血成流。付寶花散、阿魏丸，俱稍冷凍飲料之即愈。</p>
<p>一莫電云，久瀉不已，骨瘦如柴，唇紅口渴，粥食不進，胸中飽悶，脈反微伏。放腿彎痧四針，毒血紫黑流出如花。</p>
<p>用沉香丸，清茶稍冷凍飲料之，付棱術東加銀花，澤蘭治之而愈。</p>
<p>一巢茂公次子，久瀉肉削，咳嗽不已，夜臥盜汗，目白微紅。余診之，脈寸伏關弦。放腿彎上下痧三針，復刮痧畢。</p>
<p>付清涼至寶飲加山楂、卜子、銀花微冷凍飲料之而痊。</p>
<h3>婦人隱疾痧</h3>
<p>婦人幽隱疾，多有兼痧，最難識認，惟在診脈之人，指下明白，乃無差誤爾。</p>
<p><u>治驗：</u></p>
<p>一婦人患血淋三月矣，頭面腿足俱腫，六脈洪實緊盛。余意血淋熱症也。洪實緊盛，熱脈也。何乃頭面腿足驟俱腫，殆其痧乎。令其家人，放腿彎痧二十余針。多用清涼解毒之劑，治之而痊。</p>
<p>一婦人患血崩，其家人曰：痧也。引他婦閱之，果有痧筋，放之。用養血和中之劑，治之而愈。</p>
<h3>香港腳痧</h3>
<p>香港腳有因乎痧者，此慢痧纏綿腿足，或半年一年，或五年十年。其疾僅在腿足，上身氣血流通。脈往往不現，但兩尺脈微數有力而已。幾遇雜病，切忌升提以防痧。若不知治，痧毒肆行，腿足紅腫，痧筋一散，無從可放，所以四肢痧難治。</p>
<p><u>治驗：</u></p>
<p>一老年人苦足底燥烈，以為氣血衰微所致，不用藥治之。閱有痧筋，放四針，毒瓦斯散行，腿足遂腫。次日放痧四十余針，其腫漸平。三日又放痧四十余針，足底漸滋潤。惟是日當放痧，不服藥而愈。</p>
<p>一王姓者，患香港腳，腿足俱腫，看有痧筋，　痛不治，緣世人犯此者多，故記之。</p>
<h3>耳痛痧</h3>
<p>耳孔甚微，腫痛最苦，若兼痧，其勢必盛，治惟以痧為先，耳痛亦有驗焉。</p>
<p><u>治驗：</u></p>
<p>一鄭惟和，左耳出膿，腫痛連左太陽及肩脅俱痛，右脈沉微，左關細澀。看痧筋，刺左腿彎十余針，其痛遂減。內用如聖散，稍冷凍飲料之；外用羊糞一粒綿裹塞耳，即愈。</p>
<p>一翁左溪，右耳腫痛，日夜不寧，脈微而緊。放腿彎痧十二針，血流紫黑。用清涼至寶飲減細辛加牛膝、石斛稍冷凍飲料之而痊。</p>
<h3>手臂痛痧</h3>
<p>手臂有痧攻及臟腑者，為緊痧；不攻臟腑者，為慢痧。慢痧之症，惟刺手臂；緊痧之症，兼服痧劑。</p>
<p><u>治驗：</u></p>
<p>一余右臂筋中作痛，閱有痧筋，刺三針，出毒血，臂痛遂愈。</p>
<p>一高松筠，左臂疼痛，醫治不應，閱臂上痧筋，刺四針，出毒血，不藥而愈。</p>
<h3>腫毒夾痧辨</h3>
<p>腫毒陽者，為癰；陰者，為疽。往往有夾痧而發，設使不先理痧，單去毒亦不效也。</p>
<p><u>治驗：</u></p>
<p>一王姓者，腰腎間白腫如盤，臥不轉側，痛苦萬狀，將及二月。余按脈弦緊而或伏。曰：「夾痧之毒也。」先放其痧，後理其毒，迨半月出微膿而愈。</p>
<p>一人大腿紅腫如瓜，先放痧，而治之愈。</p>
<p>一人左腎囊紅腫獨大，先放痧，而治之愈。</p>
<p>一人小腹痛極生毒，平腫白色，先放痧而治之愈。</p>
<p>一人右臂生黑疔，先放痧，而治之愈。</p>
<p>一人生右腎疽大如小盤墨黑，其孔數十，不知痛癢，發熱不食。閱左腿有痧筋，放之，即身涼進食，四日而痊。</p>
<p>一人生懸癰，兼患雙橫　。引一善放痧者，於尻尾骨上放六針，腿彎放七針而愈。</p>
<p>一人生鵝掌瘋，放痧而愈。</p>
<p>一人大麻瘋，手足拳曲，其形真可憐也。閱有痧筋，故記之。</p>
<h3>刺蝥瘟痧</h3>
<p>時有壯熱煩悶，遍身痛如刺蝥所傷，鄉俗相傳，名為刺蝥瘟焉。以痧治之，可全也。</p>
<p><u>治驗：</u></p>
<p>一　林悅溪，犯時疫瘟疾，壯熱口渴，胸腹迷悶，以手撫摩之，即如刺蝥傷痛，遍體皆然。放腿彎痧二十余針，毒血成流。用穿山甲、天蟲、角刺，加活血順氣之藥，稍冷凍飲料之而痊。</p>
<h3>地葡瘟痧</h3>
<p>時有北疾，村俗相傳，名為地葡瘟者，閱之亦有痧也。治在前「遍身腫脹痧」條內，故不更載治驗，但恐時人或誤，故復記之。</p>
<h3>痧變發頤</h3>
<p>痧者，凶疾也。痧而發頤毒瓦斯上攻，尤凶之甚也。宜急治之，遲則難救。</p>
<p><u>治驗：</u></p>
<p>一汪云文，壯熱目赤，口渴煩悶，譫語神昏，左脈沉微，右脈歇指，痧也。先服陰陽水一碗，神昏少清，譫語稍定，然後扶起，放痧訖。外用赤豆水搗敷圍，內吹冰硼散，付以穿山甲、天蟲、角刺、射干、山豆根、土貝母、連翹、烏藥、枳殼、川連、牛膝微冷凍飲料之，頤遂出膿些須，四日而愈。</p>
<h3>急救逆痘要法</h3>
<p>痘有順、有險、有逆。險者尤可回生，逆者斷難療治，此不易之論也。然余觀嬰兒出痘，暗犯兼痧，其痘未有不逆。</p>
<p>故兼痧之痘，或難放標；或標而不分，顆不起發；或當起發，分顆而反隱；或發　疹；或變焦黑；或見飛漿；或生血泡；或肉腫痘不腫；或下體先發，而臉額不起，頂不行漿；或瑣屑細密，色澤晦暗；或一片如咽脂色。種種逆症，往往因痧毒惡血壅阻，以致殞命。愚嘗先放其痧，隨宜用藥則毒血一行，壅阻俱散。逆者可轉而為順；難標者即標；難起者即起；當漿者即漿。無奈世人以痘不可放痧，誤事不少。不知逆痘難療，更無生路，惟茲一法可救。但恐痧助痘毒內攻甚速，遲難挽回。若逆痘始現，有痧即放，治之甚易。凡遇逆痘，急宜鑒諸。</p>
<p><u>治驗：</u></p>
<p>一金權可女四歲，十一月間，痘五朝，放標至足，面痘猶細如芥子，隱隱不發，其腰下痘，反有水珠色，真逆痘也。閱左腿彎有痧筋，放一針；手指上痧，放十五針，俱紫黑毒血，面痘立時紅活起發。余看痧氣已絕，惟用十神解毒湯減大腹皮加天蟲、大力子、山楂、青皮一劑，次日，面有行漿之勢。惟用養血、托漿，清涼解毒之藥五劑，痘即如期灌膿收靨而愈。</p>
<p>一金權可子三歲，十二月間，痘六朝，左腰痘密有　窠形，色如水珠。其面臉痘，紫赤滿頂不發，服酒漿桑蟲一條，反變兩顴一片，如脂脂色。不分顆粒，左額見飛漿一粒，亦逆痘也。余為放指上痧二十余針，痘即分顆紅活。余惟用痧痘可兼治之。藥一劑治之，次日，痘即行漿。後惟用治痘常藥，遂灌膿收靨而痊。</p>
<p>一汪扶搖子八歲，六月間，痘五朝，面上肉腫痘不腫，他醫謝事。延余閱腿彎有痧筋，放四針，紫黑毒血成流。用寶花散，兼圓紅散微溫湯服，次日，痘即起脹。後惟用大補氣血藥，助灌膿收靨而愈。</p>
<p>一褚雋甫女，十二歲，八月間，痘四朝，遍身紫　，他醫莫治。延余，閱指臂上痧筋，放二十余針。用大黃丸稍冷湯飲之，　退痘起。後惟用清涼解毒之藥，即如期灌漿收靨，乃瘳。</p>
<p>一詹福先子，六歲，九月間，痘四朝，大渴舌心有黃黑胎，腰腹大痛，面部痘色焦紫過頂不發。延余，閱有痧筋，放腿彎、指頭痧二十余針，痛不止。用細辛大黃丸清茶微冷凍飲料飲之，痛稍減，付必勝東加川連、石膏一劑，微溫飲之，痛止胎退，痘漸起脹。尤大便不通，去川連、石膏，日服此湯，灌膿收靨，便通而愈。</p>
<h3>癇症兼痧</h3>
<p>癇，痼疾也。患此者，雖不即斃，然往往勿獲長壽。治惟疏風消痰清熱，或溫下之而已。不知亦有痧焉者，宜辨之。</p>
<p><u>治驗：</u></p>
<p>一朱建溪婢，犯羊癇瘋三年矣。余診之，六脈緊伏不勻。閱痧筋放之，付以沉香滾痰丸微溫湯飲之，遂愈，永不再發。</p>
<p>一盛昭先次子，患豬癇六年，脈伏緊而數，閱痧筋放之，脈遂平。付沉香滾痰丸微溫湯飲之，亦不再發。</p>
<h3>麻木酸癢痧</h3>
<p>麻木酸癢，古人論治宜遵，余不更述。但痧症變幻，時亦有之。</p>
<p><u>治驗：</u></p>
<p>一翁尚景，遍身麻木，腿膝酸癢異常，脈微而細，放腿足痧四十余針，指頭痧六針，未愈。付圓紅散，微溫湯服之，用當歸、金銀花、連翹、秦艽、穿山甲末、僵蠶、角刺、紅花二劑，如前服而痊。</p>
<h3>頭虛足腫痧</h3>
<p>世俗相傳，有云：男怕頭虛，女怕腳腫。謂醫治之難療也。獨是頭虛之症，世豈無有消風熱而得愈者乎。不知腫因風熱，乃可治效。若不因風熱而因痧者，奚可更用發散升提之味耶？惟是頭面虛腫，實因痧毒上攻三陽。先宜放刮，後用清涼引下之劑治之，應無不愈，無令更變出凶險別病也。至若腳腫之疾，婦人犯此不數年而小腿腫，加之大腿亦腫，漸漸入腹，睡即腿足不腫，內發脹悶。若當起坐行動，胸腹乃松，足腿復腫。如此日復一日，更不數年，勢必小便不利，大便亦阻，即成真臌。愚按此因濕毒之氣，蒸淫於足，傷其血分，變為慢痧。不由鼻吸而入，故吃熱湯熱物俱無驟害，脈亦有現有不現，及閱痧筋，或在腿，或在足面；或在足兩旁。必多刺數次，出毒血為要。如不愈，當內服藥餌乎。其氣血為主，大忌升發，燥熱之品，恐毒瓦斯上騰也。若此之痧，有患五六年而斃，有患十余年而斃，有患二十余年而斃。</p>
<p>世鮮識者，受苦甚多，不可不憫，余故特為之著焉。</p>
<p><u>治驗：</u></p>
<p>一　茂甫，驟患頭面紅腫，心胸煩悶，口渴唇焦，六脈俱伏。放巔頂痧及手指、腿彎痧二十余針，不愈。用清涼至寶飲減細辛加石膏、知母、茜草稍冷凍飲料之，三服而痊。</p>
<p>一方士彥，患頭面漸腫，眉發盡落，已二年矣。脈洪數而緊盛，放指臂痧及兩太陽痧二十余針，腿彎痧四針。服清涼至寶飲減薄荷、細辛加穿山甲、天蟲、烏藥、續斷、桑寄生、紅花、歸身微溫飲之，十服而痊。</p>
<p>一秦馥生內室，素患腳腫及腿，漸升於腹，夜苦心中飽悶，飲食不寧，日間行動足腿復腫，十余年矣。診脈細數，令其家人，為之數放足面及兩旁痧。用川楝子、金銀花、木通、澤瀉、檳榔、澤蘭、青皮、枳殼、烏藥、連翹溫飲，八服遂愈。</p>
<p>一張書瞻，病後足腫無力，少進飲食，兩尺脈伏。閱足面痧及足旁痧、腿彎痧放之。用川楝子、檳榔、金銀花、連翹、白茯苓、澤瀉、歸身、續斷、紅花、白蒺藜、烏藥而痊。</p>
<h3>黃膽痧</h3>
<p>黃膽之症，亦痼疾也。不用鮮草頭方之迅利，則不效。然亦有效有不效者，詎黃膽有必不可治者耶。蓋黃膽因內有實熱而發，若痧毒所變，亦有然者，務宜先施刮放，後取黃膽方，選擇而用，自可得痊。</p>
<p><u>治驗：</u></p>
<p>一夏月溪，目睛、爪甲、小便皆黃，四肢上下遍體黃腫，服他醫諸方不愈。余診之，脈微數而緊，若據脈宜補，據症宜清，不可中治。乃閱痧筋，放之漸松。用麥門冬四兩、豬板油四兩，煎服而痊。</p>
<p>一婦人黃膽，放痧後，用草頭方，搗汁，酒沖服二次而痊。</p>
<h3>小兒夜啼痧</h3>
<p>小兒暮夜，啼哭不止。父母愛之，嘗百計撫摩，憂疑無極，曾不得立時安靜為憾，不知胸腹疼痛，故爾啼哭。若曰小兒無痧，吾不信也。</p>
<p><u>治驗：</u></p>
<p>一朱廣函女二歲，時至夜半，忽然啼哭叫跳不住，意其胸腹作痛，將刷子蘸香油刮之痧起，不藥而愈。</p>
<p>一汪洪甫子二歲，夜深啼哭，迨至清晨不歇。延余四子端英往視，其左腿彎有痧筋，放一針，流紫黑毒血。用防風勝金湯，多加麥芽，稍冷凍飲料之，而安。</p>
<h3>驚風痰熱痧</h3>
<p>小兒犯此，惟用疏風豁痰定驚之品，其常也。然竟有疏風而熱不除，豁痰而痰不消，定驚而驚益甚者，得毋審其病原有未當乎。余嘗見此，審其症候稍雜，閱有痧焉即以痧症治之，甚效。</p>
<p><u>治驗：</u></p>
<p>一岳瑞升幼子，發熱面赤，痰喘不已，兩目上視，困重沉沉，他醫莫治。延余，脈緊而數。先用圓紅散稍冷湯飲之。令其家人刮痧，痧起，未愈。用和脾宣化飲，研細辛大黃丸微冷凍飲料之，遂安。</p>
<p>一高子瞻女一歲，痰嗽身熱，手足抽搐，昏迷不醒。端英子往視，虎口脈不現，六脈俱伏。閱腿彎痧，放一針，紫黑毒血流出。用救苦丹清茶稍冷凍飲料之，未愈。又用三香散微冷湯下而痊。</p>
<h3>死症痧</h3>
<p>詢治痧之法、凡人犯死症，亦有可救者乎？曰：有。余且無論百病死症，多有可救之實。惟據傷寒集中有云：赤斑五死一生，黑斑十死一生。陽症見陰脈死。陰陽毒過六七日不治。兩感傷寒者死。汗後不為汗衰，謂之陰陽交者死。不得汗者死。發熱，脈疾躁，狂言，不能食，謂之三死。咳逆不止者死。臟躁者死。厥陰，舌卷囊縮者死。脈代者死。少陰，吐利、煩躁、四逆者死。發熱至七八日，膚冷而躁，無時暫安，曰臟厥不治。少陽與陽明合，必下利，脈長大而弦，名曰負，負者死。陰陽易病，頭重眼花，四肢拘急，小腹絞痛，手足攣痛者死。脈陰陽俱虛，熱不止者死。傷寒七八日以上，大發熱者，難治。溲便遺失者死。循衣摸床，邪熱內結，脈弦澀者死。喘而不休者死。柔汗發黃者死。唇吻反青者死。環口黎黑者死。鼻如煙煤者死。直視搖頭者死。此等惡症，往往兼痧，以前治驗，歷歷有據。然余所救者甚多，難以悉數。但人犯死症，如落深淵，利在見之早救之急爾。</p>
<h3>羊毛瘟痧</h3>
<p>此痧言遠先生道之甚悉，所以垂救世人多矣。余實未見，不敢妄論。近又聞丹箴袁兄所述，自北方來親見。此症胸前生羊毛數莖。北人又有用銅錢置病所，以艾火燒錢上，外將瓦罐或竹罐盒之，即時拔出汗水而愈。北人名為打火罐，並能治痧痛是也。抑又聞北方人，用手推背上二筋撮起，掐緊一時許，亦能治痧痛。此二法，余雖未經驗，若為之，想亦有益無損，故並志之，以為窮荒僻野，無醫療治者，一生路焉。</p>
<h3>痧脹破迷論</h3>
<p>痧中禁忌，余慮不知痧，誤犯之。尤慮知痧，罔識所忌。譬若昏夜迷途，高低莫辨，從步於岩穀間，鮮不顛仆者矣。蓋痧受病，與雜症不同；見端與雜症相類。病家不信，以雜症治之，勿顧痧中禁忌，勢必日甚一日，病入膏肓。</p>
<p>即有進言刮放，一試焉無及矣。則受迷於痧脹之始者，此其一。亦有始即知痧，稍用刮放，便謂業既治痧當用別藥。幸而不犯痧禁，或可收功。若痧氣未絕，一犯所忌，愈服愈危，身命難保，乃曰非因痧脹之故。則受迷於痧脹之終者，此其一。更有患痧不識，用別藥不效，因而僅用刮放，不佐以治痧之劑，或僅投一二劑，復投別症之藥，致痧患復發，茫然不覺，乃曰治痧無效，不足信也。不知治痧用藥，稍或不合，勢必痧毒內攻而斃。則始終受迷於痧脹之害者，又其一。更不特如是己也。或痧症有時汗出如油，誤服酸斂固表之味；或痧症有時寒熱無汗，誤服升提溫散之方；或痧症有時足冷過膝，誤服附子、吳茱、薑、桂之品；或痧症有時上吐下瀉，誤服香燥澀滯之類；或痧症有時惡寒畏冷，誤服薑椒辛辣之物；更有痧症變為脈虛，誤用溫補之藥；痧症變為脈旺，誤用冰寒之藥。或痧症變為怪脈，雖不皆生然，誤認必死，棄而不救。而且痧症嘗似氣虛，誤用參　苓朮以補氣，嘗似血虛，誤用熟地、何首烏以補血。而且痧多死症，凶險非常，不復細審病源，以為別症將斃。而且痧症略松，食物太早，因而痧物相裹，結於心胸，難以解散。</p>
<p>而且痧症未絕，痧毒尚仔，驟飲熱湯、熱酒，遂致痧症復發，凶危莫遏，每有變在頃刻，悔之無及。此等受迷，皆余所目擊而心傷者也。若乃有見痧諱言痧，犯痧惡言痧，雖死於痧，勿知為痧之害者，其天下之所限乎，余固不得而強之。</p>
<p>即有擯刮痧、放痧、治痧之方法者，余亦不得而強之也。嘗觀醫林多士，業擅岐黃，深通古籍者，動輒援引《內經》，諄諄不已，竟不知黃帝始制九針之法以療民病，多刺少藥。即如《內經》有云：諸瘧而脈不見，刺十指間出血，血去必已先視身之赤如小豆者，盡取之。</p>
<p>又云：先其發時，如食頃而刺之，一刺則衰，二刺則知，三刺則已。不已，刺舌下兩脈出血。不已，刺　中（即委中）。</p>
<p>盛經出血，又刺項以下挾脊者，必已。如先頭痛及重者，先刺頭上及兩額、兩眉間，出血。先項背痛者，先刺之。先腰脊痛者，先刺　中出血。先手臂痛者，先刺手少陰、陽明十指間。先足脛酸痛者，先刺足陽明十指間出血。又如腰痛引項脊尻背如重狀，刺其　中太陽正經出血，刺解脈在膝筋肉分間，　外廉之橫脈，出血，血變而止。解脈令人腰痛如引帶，如折腰狀，善恐。刺解脈在　中結絡如黍米，刺之血射以黑，見赤血而已。經載煌煌，垂訓萬古，正後人之所當祖習者也。故痧多變，余不能盡述。凡在爾所不信者，試於清夜思之。苟遇斯疾，偶爾心迷，當刺不刺，當藥不藥，或誤入，或誤己，彼此不異，諒有同心。慎之！慎之！</p>
