<header><h1>方症會要</h1></header>
<dl class="元資料" data-type="book">
<div><dt>作者</dt><dd>吳邁書</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1644">公元1644年</data></dd></div>
</dl>
<h2>序</h2>
<p>先君子體素康健不輕餌藥然究心方症手集諸書質之當代明於指下者參之古昔傳流以備檢閱蓋勞己為人即東坡云病者得藥吾為體輕耳我先人利濟為懷率多類此棄世浚架上遺書百不存一手澤之留僅此編耳余歧黃未按緣身弱善病世醫莫喻因按症檢方服之頗效噫我先人究心於此者深矣恐久而零落因付梨棗以公諸世析類分門尋檢至易旅邸道途束裝甚便或博雅者鑒留參討爾</p>
<p><u>乾隆丙子暮春之初古歙豐南</u></p>
<p><u>吳邁書於溪香書屋</u></p>
<h2>卷一</h2>
<h3>中風</h3>
<p>天地間惟風無所不入受之者輕曰感重曰傷又重曰中中風之症猝然暈倒昏不知人或痰涎壅盛咽喉作聲或口眼　斜手足癱瘓或半身不遂舌強不語風邪既盛氣必上壅痰隨氣上停留壅塞昏亂猝倒皆痰也五臟雖皆有風而獨肝經最多易入蓋肝主筋屬木受之則筋緩不榮所以有歪斜不遂癱瘓舌強等症治法初得即開痰理氣經云善治風者以氣理風氣順則痰消徐理其風及其久也即當養血活血若不先順氣遽用烏附又不活血徒用防風天麻羌活輩吾未見其能治也中風有真中類中真中有中腑中臟中經之不同中腑者多著四肢故面加五色有表症脈浮而惡風寒四肢拘急不仁現六經形症或中身之前或中身之後或中身之側皆中腑也治法加減小續命湯發其表調以通聖辛涼之臍中臟者多滯九竅故唇緩失音鼻塞耳聾目瞀大小便秘結皆中臟也通其滯調以十全大補四物之劑腑臟兼見者藥必兼用先表後通或外無六經形症內無便溺阻隔但肢不能舉口不能言此邪中於經也又當從乎中治大秦艽湯補血養經或二陳東加清熱養血藥中府易治宜汗不宜多恐損衛氣中臟難治宜下不可過下恐損營氣中經有汗下之戒只宜養血通氣類中亦有不同河東主火東垣主氣丹溪主熱與痰僵仆猝倒此氣虛也治宜六君子東加薑汁竹瀝痰涎壅盛偏枯口噤筋急拘攣筋反縱脈數此火也治法在表防風通聖散在上涼膈散口眼　斜半身不遂涎多不語此痰症也治宜二陳導痰等湯大抵真中者少類中者多外感內傷當辨輕重重於外者先驅風邪而後補中氣治以散風為君以補損為臣使重於內傷者先補中氣而後驅外邪治以滋補為君以散邪為臣使其心火暴甚痰涎壅塞毫無風邪而　斜不遂等症悉具者治宜清熱化痰養血順氣一用風藥禍不旋踵半身不遂大率多痰中左屬死血少血宜四物東加桃仁紅花竹瀝薑汁中右屬痰與氣虛用二陳合四君子東加竹瀝薑汁氣血兩虛而挾痰者八物東加南星半夏枳實竹瀝薑汁國中猝倒不省人事急掐人中提頭頂發口噤不能進藥急以生半夏末或皂角細辛為末吹入鼻中有嚏者生無嚏者乃肺絕死痰涎壅塞口眼斜舌強不語俱當用吐法一吐不愈再吐輕用瓜蒂末一錢重者稀涎散加藜蘆五分入射少許以鵝毛探吐惟年老虛弱者不可輕吐氣虛猝倒者不可吐凡中症雖有痰涎猶能進湯水者先進蘇合丸通竅隨進順氣散不可利小便熱退自利諸中或已</p>
<h4>不治數症</h4>
<p>口開心絕手撒脾絕眼合肝絕遺尿腎絕吐沫直視喉如鼾睡肺絕肉脫筋痛發直搖頭上竄面赤如妝汗綴如珠此皆不治之症然止見一症者猶或可治脈浮遲者吉急疾者凶寸脈有尺脈無當吐不吐者死尺脈有寸脈無當下不下者死</p>
<h4>附中氣</h4>
<p>許學士云暴怒傷陰暴喜傷陽憂愁不已氣多厥逆往往得此疾便覺涎潮昏塞牙關緊急脈伏身寒此名中氣若中風則身溫為異耳不可作中風治宜進蘇合香丸續用烏藥順氣散或八味順氣散</p>
<h4>附中風直中類中論</h4>
<p>花溪老人云中風者氣體先虛必有風邪真中然後見有暴仆暴喑口眼　斜手足不舉話語謇澀甚者人事不省等症若無風邪必無此等症候又云無直中類中之分是見理不真之論也按中風者氣體先虛然後風邪中之者理也所謂邪之所湊其氣必虛是也但常見有人心火暴盛痰涎壅蹇無毫發風邪夾雜而前症悉見隨用清熱化痰養血順氣而愈者即東垣所謂本氣自病河間所謂將息失宜心火暴盛丹溪所謂濕熱相生此三者類中風而實非中風若用風藥禍不旋踵安得不指出此症使後學者知之乎此類中之說所由起也但此症當另列一條而不雜於中風之條如昔人謂四症似傷寒而不列於傷寒之條則明白易知若老人謂無類中皆真中恐後人臨症不明反增人病辨之奚容已乎其言標本緩急之論輕重攻補之宜則至善而不可沒大有功於後學也</p>
<p>治中腑外有六經形症　中風自汗者不可重發汗此藥不可輕用麻黃　人參　黃芩　白芍　桂枝　附子　防己　防風　川芎　杏仁　甘草</p>
<h4>六經加減</h4>
<p>太陽中風（無汗惡寒倍加麻黃防風杏仁有汗惡風倍加桂枝白芍）</p>
<p>名（麻黃桂枝）續命湯陽明中風（無汗身熱不惡寒加甘草石膏知母有汗身熱不惡風加桂枝黃芩葛根）</p>
<p>名（白虎葛根）續命湯（太少）陰中風（無汗身涼倍加附子乾薑甘草有汗無熱倍加桂枝附子）</p>
<p>名（附子桂枝）續命湯中風六經混淆繁於少陽厥陰或肢節攣痛或麻木不仁宜羌活連翹續命主之</p>
<p>治中臟內有便溺阻隔厚朴　大黃　枳實　羌活等分以利為度</p>
<p>治中風風熱壅盛表裡三焦皆實及諸等症防風　川芎　當歸　白芍　大黃　芒硝　連翹　薄荷　麻黃　石膏　桔梗　黃芩　白朮梔子　荊芥　滑石　甘草　薑三片溫服</p>
<p>人參　白朮　茯苓　甘草　當歸　白芍　川芎　熟地　黃　肉桂等分　薑三片　棗二枚</p>
<p>治中經外無六經形症內無便溺阻隔血弱不能養筋故手足不能運動舌強難語宜養血而筋自榮秦艽　石膏　獨活　甘草　川芎　當歸　白芍　茯苓（各一錢）　細辛　羌活　防風　片芩春夏加知母天陰加薑心下痞滿加枳實</p>
<p>（理療）一身之（氣痰）欲下行加防己黃柏木通欲上行加柴胡升麻防風陳皮　茯苓（各一錢）半夏（二錢）</p>
<p>治胸膈中與六經熱　退熱如神　連翹（一錢）　枝子　薄荷　黃芩　大黃　芒硝（各五分）　生甘草（一錢五分）</p>
<p>東垣加減涼膈散前方減硝黃加桔梗同為舟楫之劑浮而上之治胸膈中與六經熱以其手足少陽之氣俱下胸膈中三焦之氣同相火游行於身之表膈與六經乃至高之分此藥浮載亦至高之劑故能於無形之中隨高而走去胸膈中及六經熱也重症用前方輕症用後方</p>
<p>開導痰氣陳皮　半夏　茯苓　甘草　南星　枳殼　薑三片如久嗽燥熱者去半夏加五味九粒杏仁五分</p>
<p>補血要藥當歸　川芎　白芍　生地　加人參白朮茯苓甘草即八物湯氣血兩補又名八珍</p>
<p>補氣要藥人參　白朮　茯苓　甘草　加陳皮半夏即六君子湯薑三片益氣補脾和中</p>
<p>治中氣痰涎壅塞盛口眼　斜隔塞等症白明礬（一兩）半生半枯用豬牙皂角四莢去皮炙黃研末每進一錢溫水調服以吐為度</p>
<h4>治口眼斜</h4>
<p>蒼朮（童便浸炒）草烏（煨各一兩三錢三分）當歸（七錢七分酒浸）人參　川芎　釵斛（各三錢三分去蘆）　川烏（一兩三錢煨）　甘草（一兩微炒）兩頭（一錢鮮者）　細辛本防風　首烏　白僵蠶（去口足微炒）　蟬蛻（白者）　白芷　全蠍（去口足占米同炒去米）　麻黃（去根）　天上末飢時酒調服量人肥瘦有力者服一錢老弱者七分</p>
<p>即獨聖散治中風隔實痰盛及諸癇痰飲壅溢等症甜瓜蒂（一兩炒黃）研末每服五分或一錢量人虛實用之以酸齏調下以吐為度吐罷宜服降火利</p>
<p>治中（風氣）昏憒不知人事急用吹鼻即蘇藜蘆　甘草　川芎　人參　細辛等分為末吹鼻提發立蘇有嚏者生</p>
<p>治中風口眼　斜蓖麻子（一兩）　冰片（三分）</p>
<p>共搗為膏寒月加乾薑附子一錢如　在左敷右右則敷左</p>
<p>國中喉中痰塞水飲難通沉香　青木香　烏犀角　香附　丁香　朱砂　訶黎勒　白檀香　麝香　蓽茇　龍腦　白朮安息香　蘇合香（各二兩）　薰陸香（一兩）</p>
<p>治四時不正之氣增寒壯熱大腹皮　陳皮　白芷　白朮　茯苓　桔梗　半夏曲　紫蘇　厚朴　甘草　藿香　薑三片棗二枚</p>
<p>治中（風氣）遍身麻痹語澀口眼　斜喉中氣急有痰麻黃　陳皮　烏藥　枳殼　炙甘草　白芷　桔梗　川芎　乾薑　白僵蠶　薑三片棗二枚</p>
<p>治正氣痰涎盛人參　白朮　茯苓　甘草　青皮　陳皮　白芷　烏藥</p>
<p>治胃風人參　白朮　茯苓　當歸　川芎　白芍　桂心等分入粟米一小撮如腹痛加木香五分</p>
<p>治類中當歸　黃連　黃芩　知母　赤茯苓　陳皮　香附　烏藥（各七分）　半夏（二錢）　貝母（一錢）　膽星（八分）　枳殼（五分）　甘草　薑三片如痰涎壅盛者加白附子</p>
<h3>瘟疫</h3>
<p>內經曰冬不藏精者春必病瘟傷寒論曰瘟病起於春應瘟而反清夏應熱而反寒秋應涼而反熱冬應寒而反溫丹溪曰眾人病一般者此天行瘟疫也瘟取溫熱之義疫取勞役之義多感於房勞辛苦之人蓋危重病也大法表裡傳經與傷寒相似但傷寒寒自外入瘟疫毒自內出此為異耳師云凡看瘟疫先看病者兩目露血絲否次看口唇紅燥舌苔黃白紫黑以驗裡熱淺深除舌苔遍白為熱稍輕其余睛赤唇紅苔黃斷紋俱是極熱重症若紫黑燥裂則又熱之極矣又以病家之人手按其胸膻脅肋問其有無痛處分別表裡經絡次按小腹舉有硬滿處即便問其小便利否若小便不利而身發熱者必發黃則是精液留結宜用小柴胡去參合去桂五苓散若小便自利則是蓄血之症宜下瘀血用桃仁承氣湯去枳殼不犯上焦此法看傷寒亦然初得病一二日有表症自冬至春分前宜九味羌活湯去人參敗毒散自春分至夏至天氣已變溫熱宜升麻葛根湯紫葛解肌湯小柴胡去參初得病一二日見太陽症便溏瀉者宜小柴胡去參合四苓散或香連丸稍久大便秘而渴玄明粉乃要藥也白虎亦可用若不渴者禁用白虎又凡瘟疫一起即發渴是熱輒入陽明宜五瘟丸白虎湯三黃石膏東加減用之渴病藥味用天花粉麥冬片芩葛根天水散之類衄血胃火白虎湯見心火犀角地黃湯切忌發汗解表發狂譫語大便滑而渴宜加味白虎湯不作渴大便秘結五七日不解宜大承氣湯調胃承氣湯下之瘟疫有氣虛血虛而染者視形色察脈理表裡症悉除者宜參　歸術溫補自汗太甚者亦宜補丹溪曰宜補宜散宜降故知此三法者皆不可廢也凡瘟病初看未知端的且先以敗毒散加減治之看歸在何經再隨經施治此要法也</p>
<h4>附大頭瘟</h4>
<p>丹溪曰大頭病乃濕熱在高巔之上用羌活酒芩酒蒸大黃隨病加減切不可用降氣藥東垣曰陽明邪熱太甚資實相火少陽而為之也濕熱為腫木盛為病此邪見於頭多在兩耳前後出治法大不宜藥速速則過其病所謂上熱不除中寒復生宜徐徐緩藥當視其腫在何部分隨經治之陽明為邪首大腫少陽為邪出於耳前後</p>
<h4>附蝦蟆瘟</h4>
<p>丹溪曰此病屬風熱防風通聖散加減用之或用小柴胡加防風羌活荊芥薄荷桔梗煎服外以側柏葉搗汁調火煉蚯蚓糞敷之</p>
<p>治四時觸冒不正之氣憎寒壯熱頭痛身痛口渴羌活（太陽）　川芎（厥陰）　防風（治一身痛）　細辛（少陰）　白芷（陽明）　黃芩（少陽）　生地（治少陰心易老自序云此方冬可治寒夏可治熱春可治瘟秋可治濕是諸路之應兵也但於陰虛氣弱之人當消息用之不可執一</p>
<p>治瘟疫四時通用初病時表症甚人參不可即用羌活　獨活　前胡　柴胡　川芎　枳殼　桔梗　人參　茯苓　甘草　加黃芩七分薑三片</p>
<p>治瘟疫無汗發熱口渴升麻　葛根　白芍　甘草</p>
<p>柴胡　葛根　片苓　半夏　白芍</p>
<p>治少陽往來寒熱胸滿脅痛心煩柴胡（二錢五分）　黃芩　人參（各一錢）　半夏（八分）　甘草（三分）　薑三片棗二枚</p>
<p>治煩躁小便不利而渴澤瀉（一錢五分）豬苓　赤苓　白朮（各一錢）　肉桂（五分）</p>
<p>熱甚者去肉桂加黃芩八分　薑一片棗二枚</p>
<p>治瘟疫溏泄</p>
<p>治增寒壯熱口渴一身疼痛陽明經石膏（二錢）　知母（一錢）</p>
<p>黃連　黃柏　黃芩　梔子　大黃　香附　紫蘇</p>
<p>甲巳之年甘草君丙辛黃柏乙庚辛支君丁壬連癸戊一年一君四為臣香附紫蘇與臣等大黃為丸朱砂為衣水吞初病煎服亦可</p>
<p>治瘟毒表裡俱盛五心煩熱兩目如火面赤鼻干大渴舌燥石膏（三錢）　黃芩　黃連　黃柏（各五錢五分）　梔子（五個）　麻黃（一錢）　淡豆豉（半合）</p>
<p>治衄血及吐血　犀角　赤芍　丹皮　生地　等分水煎</p>
<p>治陽邪入裡三焦皆病痞滿燥實堅皆全冒實譫語五六日不大便者可服並治少陰舌乾口燥日晡發熱脈沉實者大黃（七錢五分）　芒硝（五錢）　枳實　厚朴（各一兩）</p>
<p>上煎枳朴數沸</p>
<p>治六七日不大便腹脹滿病在陽明無表症汗後不惡大黃（七錢）　厚朴　枳實（三錢五分）</p>
<p>以利為度邪在上焦則作滿邪在中焦則作脹胃中實則作潮熱陽乘於心則狂熱於胃口則喘本方去</p>
<p>治太陽陽明不惡寒反惡熱大便秘結譫語嘔渴日晡潮熱脈實者大黃（六錢五分）　芒硝（一合）　甘草以利為度方中除枳實欲其無犯上焦也</p>
<p>治外症已解小腹急大便黑小便利其人如狂此蓄血之症也大黃（三錢）　桃仁（十個）　桂心　芒硝（各一錢五分）　甘草溫服血盡為度</p>
<p>治四時瘟疫頭痛項強增寒壯熱身痛專主山嵐瘴氣之妙劑也蒼朮　藿香　厚朴（各一錢）　陳皮（二錢）　甘草　石菖蒲（各一錢五分）　薑三片棗二枚</p>
<p>治冬瘟疫喉嚨腫痛　甘草　桔梗</p>
<p>治冬瘟增寒壯熱頭疼身痛口渴（面腫）</p>
<p>薑蘇（二錢五分）　麻黃　白蘞　青木香　羌活　杏仁　川芎　甘草</p>
<p>治天行大頭瘟</p>
<p>治大頭瘟疫初覺憎寒壯熱體重次傳面腫盛目不能開上喘喉嚨不利舌乾口燥　黃芩　黃連（各五錢）　柴胡　桔梗　人參　陳皮　甘草　玄參（各二錢）　連翹　板藍根　馬勃　鼠黏子（各一錢）　白僵蠶　升麻（各七分）如大便秘加大黃</p>
<p>治蝦蟆瘟（方見中風）</p>
<p>治四時感冒風邪頭痛發熱凡遇瘟疫先服此藥再紫蘇　香附（各二錢）　陳皮（一錢）　甘草（五分）</p>
<h3>斑疹</h3>
<p>斑疹外症悉由中出潔古云瘡發斑紅腫於外者屬少陽三焦相火也謂之斑小紅靨行皮膚之中或不出者或出而隨沒又隨出者屬少陰君火也謂之疹蓋斑重而疹輕也凡顯斑症而自吐瀉者慎勿亂治而多吉謂邪氣上下皆出也小兒斑疹並出身溫者吉身冷者逆斑疹首尾俱不可下秘則微疏之感熱症也陰症發斑色雖微紅而出則稀少若作熱症治之生死反掌宜調中溫胃稍兼解散陰陽二症須當辨明又內傷症亦出斑疹但現微紅此胃氣極虛一身之火游行於外當補益血氣則中有主而氣不外游榮有養而血不外散此症尤當慎之或謂古云發斑色紅赤者胃熱也五死五生紫黑者胃爛也九少陽疹屬少陰不幾背馳歟子曰胃者總司也五臟六腑之氣皆由胃發故胃熱失下則熱氣熏蒸沖入少陽則助相火而成斑沖入少陰則助心火而成疹苟胃熱被下則胃火亦息二經之火亦息斑疹二症亦未入腑大便得通此忌下之時宜用升麻葛根化斑白虎等劑消其邪熱如陽明結熱八九日不大便此正火氣盛發上衝二經斑出猛烈輕則紅赤重則紫黑此時不下安得全命歟三一承氣莫之疑矣古云藥不執方合宜而用善夫癮疹者隱隱在皮肉之中多屬於脾發則多癢或不仁者是兼風濕色紅者兼火化也</p>
<h4>陽毒發斑</h4>
<p>治傷寒陽明實熱發斑麻疹未出已出皆可服（方見瘟疫）</p>
<p>治發斑咽痛煩躁譫語　玄參　升麻　甘草</p>
<p>治胃熱發斑　石膏（一兩）　知母（六錢）　甘草（二錢）　粳米虛者加人參二錢分作二劑</p>
<p>治傷寒壯熱百節煩痛身發斑斕升麻　石膏（二錢或五分或一錢）　梔子　黃芩　柴胡　白芍（各一錢）　知母（一錢五分）　杏</p>
<h4>陰毒發斑</h4>
<p>治內傷外感所發陰斑蒼朮（一錢五分）　陳皮（一錢）　砂仁　藿香　白芍　甘草　桔梗　半夏　白芷　羌活枳殼</p>
<p>治中氣不足無根失守之火出於肌表而發斑者人參　黃　當歸　白芍　桂心　甘草　半夏　黑附　薑三片</p>
<p>治陰斑升麻　當歸　甘草（各一錢二分）　蜀椒（二十粒）　鱉甲（炙一錢）　雄黃（四分另研）水煎去渣調雄黃末服</p>
<p>人參　川芎（各七分）　陳皮　柴胡　神麯　白朮　茯苓　歸身（各五分）　砂仁　升麻（各四</p>
<p>方見內傷　癮疹</p>
<p>川芎　當歸　麻黃　薄荷　連翹　白芍　黃芩　石膏　桔梗（各一錢）　滑石（三錢）　荊芥梔子　白朮（二錢）　甘草（八分）</p>
<p>本方除</p>
<p>治風熱丹疹荊芥穗　炙甘草　陳皮　厚朴　藿香　蟬蛻　人參　白僵蠶　茯苓　防風　川芎　羌活</p>
<p>大黃　芒硝　厚朴　枳實　甘草　薑三片</p>
<h3>內傷</h3>
<p>內傷者傷諸內也飲食勞倦七情六欲是也外傷者傷諸外也風寒暑濕霜雪雨露是也內外之症治雖不一而見症多同診視者恍惚難辨惟李東垣內外傷辨載之詳悉予撮其大旨擇其要者言之同寒熱也外感則寒熱齊作而無間內傷則寒熱間作而不齊同惡寒也外傷則濃衣烈火而不除內傷則一得溫暖而即解同頭痛也外感則連痛不休內傷則乍痛乍止外感則鼻塞不通內傷則口變無味外傷則手背熱內傷則手心熱外傷則語壯先輕後重內傷則語弱先重後輕外傷則人迎脈大於氣口一二倍內傷則氣口脈大於人迎一二倍又按陰陽應象論云天之邪氣感則害人五臟是八益之邪傷形而不傷氣有餘之症也當瀉而不當補又云水穀之寒熱感則害人六腑是七損之病傷氣而不傷形不足之症也當補而不當瀉故凡汗之下之吐之克之皆瀉也溫之和之養之調之皆補也辨別明白免致臨症有失</p>
<h4>飲食所傷</h4>
<p>經曰飲食自倍腸胃乃傷凡受者皆中氣不足宜補為要但治法有先後不可倒施故初受之際積食未行遽用補益則治其壅塞增其痛苦勢反加劇必先用消食化痰行氣之藥保和枳實導滯丸待食行或吐或瀉或暗消宿食盡行然後用六和湯以蕩其未盡之邪調中湯以回其散失之氣健脾丸以復其本體之常斯調治有序而獲寧矣大抵此症有三等輕者因痰裹食積停滯頗少不痛不嘔只胸膈不快中宮不清久則有塊或致嘈雜腸鳴重則食填大陰壓住肝氣致肝氣不得上升肝者將軍之官其性猛烈故中脘大痛胃氣上升肝氣猛烈助之載食而吐則痛隨吐減或飲食過膈遂痛在中焦延及下焦則成瀉矣經云痛隨瀉減因而獲寧其至重者食停過多濁氣載食下不得泄胃氣虛衰上不得吐陰陽乖隔營衛不通須臾危矣王冰所謂濕霍亂者生干霍亂者死以無吐瀉故也</p>
<p>治食所傷胸腹飽悶或食積痞塊多服自漸消散脾胃虛者以補藥用之四君子等湯山楂（五兩）　神麯　半夏（各三兩）　茯苓　陳皮　蘿卜子　連翹（各一兩）</p>
<p>上為末淡薑湯和米糊為丸加白朮二兩即大安丸健脾消積最效</p>
<p>助脾胃克化服此飲食易化白朮（五錢）　山楂　神麯（各二錢五分）　陳皮　白為末蒸餅糊丸如綠豆大</p>
<p>治痞滿消食強胃　白朮（二兩）　枳實（一兩）</p>
<p>共末用沸湯泡清荷葉少頃去葉用湯老</p>
<p>治氣弱飲食不消心中痞悶前方加橘紅（一兩）</p>
<p>治飲食太過飽悶不快前方加神麯　麥芽（各一兩）</p>
<p>治破滯氣能消飲食開胃前方加木香（一兩）</p>
<p>治冷氣內傷前方加半夏（一兩）</p>
<p>治傷肉食辛辣濃味填塞滿悶不快前方加黃連（酒炒）　太黃（酒蒸）　神麯（炒）　橘皮（各二兩）　黃芩（四兩）</p>
<p>治傷濕熱之物不得施化而作痞滿悶亂不安大黃（一兩）　枳實　神麯（各五錢）　茯苓　黃芩　黃連　白朮（各三錢）　澤瀉（二錢）</p>
<p>湯浸蒸並丸量強弱與服以利為度加木香檳榔各二錢名木香檳榔丸六和丸白朮（四兩）　山楂　神麯（各二兩）　陳皮　白芍（各一兩）　砂仁（五錢）　老米打糊為丸</p>
<p>治脾胃虛弱飲食不進或嘔吐瀉利極大病後補助脾胃人參　白朮　茯苓　山藥　扁豆（各一兩五錢）　甘草　桔梗　薏苡　蓮肉（各一兩）</p>
<p>為末每服一錢南棗湯調服</p>
<p>治心腹諸猝暴痛因飲食自倍冷熱不調大黃　乾薑　巴豆霜（各等分）</p>
<p>上末煉蜜搗丸如小綠豆大每服一二丸利為度勞倦內傷經日遠行氣衰少穀氣不盛上脘不行下脘不通而胃氣熱熱氣熏蒸胸中故胸中熱又曰勞者溫之損者補之是知勞倦者因勞而致倦也經謂之解　故人有勞心者思慮無窮有勞力者筋骨憊軟致元氣下流心志慵懶四肢怠惰嗜臥怯行飲食少味急以補中益氣東加杜仲枸杞溫補不比傷飲食先消而後補也</p>
<p>治中氣虛弱飢困勞倦人參　黃　（各一錢）　白朮　當歸（各七分）　陳皮　甘草　升麻　柴胡（各五分）</p>
<p>治脾胃不調而氣弱者人參（五分）　黃　蒼朮　木香（二分）　陳皮　升麻　柴胡　炙甘草</p>
<h4>七情六欲所傷</h4>
<p>七情者喜怒哀樂愛惡欲也六欲者耳目口鼻舌身意也若是者皆神思間病非若飲食勞倦之症猶有可消可溫可補可調者比也故婦人得之鬱而不舒多成勞病男子得之蓄而不解多成膈病雖然七情之中得禍至速者惟怒為甚六欲之中得患最大者惟色為先經目大怒則令人暴絕煎厥使血菀於上又云怒則氣逆常見人大怒之後血大妄吐得此患者當以氣升血亦升氣降血亦降即用降氣制肝湯庶得氣平而愈難經曰損其腎者補其精素問云精不足者補之以味凡人色欲無節內損真陰如木之損其根水之涸其源陰精既虛相火自動故曰腎本屬水虛則熱矣心本屬火虛則寒矣腎脈貫肝膈入肺中循喉嚨系舌本腎火一動肝火隨之入肺成肺嗽入喉成喉痹而潮熱盜汗夢遺百病皆起病勢未劇猶可圖痊故制十味回生</p>
<p>白芍（一錢五分）　當歸（七分）　前胡　厚朴　陳皮（各六分）　桂（三分）　蘇子　蘿卜子（各</p>
<p>熟地（四兩）　山藥（三兩）　知母　丹皮（各一兩五錢）　枸杞　茯神　澤瀉　黃柏山萸　杜仲（各二兩）</p>
<h3>暑症</h3>
<p>暑症脈虛身熱背惡寒而垢身多汗甚者悶亂不寧然亦有輕重之別故有冒暑有傷暑有中暑冒暑者黃連香薷飲益元散瀉者五苓傷暑者清暑益氣湯中暑者人參白虎湯清肺湯隨輕重而調治鮮有不效者昔張潔古以靜而得之為中暑中暑者陰症動而得之為中熱中熱者陽症中暑其病必苦頭痛惡寒身形拘急使周身之陽氣不得發越大順散熱藥主之動而得之為中熱其病必大發熱大渴引飲汗大泄乃為熱傷肺氣白虎蒼朮等湯涼藥主之嘻暑與熱一病也奈何分動靜又分陰陽彼所謂深堂大廈而受寒涼使形體拘急此正四時傷寒稍一解表則陽氣自伸身熱自退安得以中暑名之況大順散本為夏熱人多食涼水瓜果故用此散以治中寒嘔逆耳與中暑何與若予所謂中暑者即經所謂邪之所湊其氣必虛是也惟其人中氣已虛故邪熱得以深入是熱傷氣分也氣分熱傷則脈虛邪氣橫行則身熱壅上則面垢背惡寒是宜以傷暑中暑名之而以重劑治之也其感之輕者則為冒暑而以輕劑調之也若中熱之人中氣不虛故身雖受大熱此肌肉受之甚則延入腸胃或渴或瀉身雖燥熱而無倦怠脈必強盛而不虛弱是有餘之症也當用白虎清涼解毒之劑治之非若傷暑不足之症當清當補者比也故曰脈盛身寒得之傷寒蓋寒傷形而不傷氣也其即避暑深堂大廈而受其寒涼之謂歟又曰脈虛身弱得之傷暑蓋暑傷氣而不傷形也其即氣虛之人暑邪深入之謂歟　外夏月有中　一症類中暑也但中暑心與小腸受之中　太陽膀胱受之為少異耳　中（暑熱）辨　張潔古云靜而得之為中暑動而得之為中熱中暑者陰症中熱者陽症東垣云避暑熱於深堂大廈得之者名曰中暑其病必頭痛惡寒形體拘急若行人於日中勞役得之者名曰中熱其病必頭痛發熱大渴引飲予閱此而疑之者已歷年矣及觀溯洄集而得王氏之論深合子心其言避暑於深堂廣廈而得頭痛惡寒等症非暑邪也身中陽氣受陰寒所遏而作也此正四時傷寒之類安可以中暑名之乎夫暑熱者夏令之大行也人或飢餓勞動元氣虧乏暑氣乘虛而入名曰中暑其人元氣不虛但酷熱侵傷名曰中熱其實一也今乃動靜分之所得何哉是論也實王氏心得之言悟於中暑中熱二義尚欠明悉子復補其遺意經曰脈虛身熱面垢背惡寒得之傷暑蓋以其人元氣本虛暑氣乘虛而入心脾二經故有脈虛身熱面垢燥渴背惡寒小便秘塞等症皆不足之症也若其人元氣不虛而遇此亢極之陽先侵肌膚漸入肺胃故成壯熱項痛肢節腫痛大渴引飲脈洪而實此皆有餘之症也故治不足者清暑益氣湯清燥湯人參白虎湯皆補虛清熱之劑而發表通裡之治不得而與焉治有餘者仲景用麻黃桂枝石膏知母黃芩湯麻黃雖不宜於夏而治法大意可見丹溪用黃連香薷飲黃連解毒湯此皆發表清裡之劑而補益調養之治不得而與焉故活人書云夏月得病有四症傷寒傷風脈症互見中暑中熱疑似難明脈盛壯熱謂之中熱脈虛身熱謂之中暑此以脈之或虛或盛身之壯熱微熱辨之也合而觀之則知中暑中熱惟有虛實之分斷無動靜之別其不可以受寒涼而名中暑也益明矣或曰夏月又有中　此又何別也予曰仲景云太陽中　發熱惡寒身重而痛者成氏謂表中　也脈弦細芤遲者成氏謂暑脈虛也小便已洒洒然毛聳手足逆冷者成氏謂太陽經氣虛也是可見　與暑皆以虛而受熱其症二而一者也但暑中少陰心經　中太陽膀胱經為少異耳至於用藥皆以人參白虎湯暑　二症豈相遠哉</p>
<h4>七情六欲所傷</h4>
<p>治夏至後一切暑熱腹痛及霍亂吐利煩心香薷（三錢）　厚朴　扁豆（一錢五分）冷服</p>
<p>治症同前即前方加黃連七分治胃暑腹痛瀉水腸鳴惡心</p>
<p>治伏水香薷（一錢）　人參　陳皮　白朮　茯苓　扁豆　黃　（各七分）　木瓜　甘草　厚朴（各三分）</p>
<p>治長夏濕熱炎蒸四肢倦怠精神減少身熱氣高煩心便黃渴而自汗脈虛者甚良人參　黃　當歸　白朮　升麻　陳皮　甘草　干葛　麥冬　黃柏　澤瀉　五味　青皮蒼朮　神麯</p>
<p>黃　（一錢五分）　蒼朮（一錢）　白朮　陳皮　澤瀉　人參　茯苓　升麻　麥冬　當歸生地　神麯　豬苓　黃柏　柴胡　黃連（各三分）　五味（九粒）　炙甘草（二分）水煎空心</p>
<p>治暑月中熱汗出惡寒身熱而渴脈虛宜服人參（一錢）　石膏（三錢）　知母（一錢五分）　甘草</p>
<p>黃連　黃柏　黃芩　梔子　煎服</p>
<p>治中暑身熱煩渴小便不利此藥能燥濕分利水道實六腑化熱毒行積滯逐凝血補胃降火之要藥也滑石（六兩）　甘草（一兩）</p>
<p>為末或燈草湯或井泉水調服</p>
<p>（方見瘟疫）</p>
<p>人參　麥冬（各一錢）　五味（五分）</p>
<p>孫真人曰夏月必服五味子以補五臟氣東垣曰夏月服生脈散加黃　甘草令人多氣力</p>
<p>黃芩　當歸　麥冬　連翹　防風　茯苓　桔梗　生地　甘草　桑皮　紫蘇　前胡</p>
<h3>燥症</h3>
<p>經曰諸澀枯涸干勁皴揭皆屬於燥然燥有二義惟肺無所克則得其清肅之令肺有所資則得其化生之源故靈樞經曰上焦開發宣五穀味充膚澤毛若霧露之溉是之為氣是氣也即肺之氣也是無所克而得其清高之令也經曰飲入於胃游溢精氣上輸於脾脾氣散精上歸於肺是有所資而得其化生之源也由是肺液日生通調水道內潤臟腑外澤皮膚何燥之有惟天北方之水既虧則南方之火自旺火能克金金不清肅此一義也又或胃氣下溜莫能輸脾脾氣濡弱莫能輸肺是母不養子子無化生此又一義也由是津液日耗枯涸日生肌膚不澤臟腑不榮皮聚而毛落皴揭而血出其燥也極矣原病式獨言火盛克金水液衰少以致澀燥而未及母不榮子之義今並及之始悉治法宜壯水之主以制陽光則金無所克養脾之精以滋肺液則金有所資養血潤燥斯獲全功矣</p>
<h4>壯水之主方</h4>
<p>當歸　白芍（各八分）　懷地（一錢）　黃柏（五分）　知母（七分）　川連（四分）</p>
<p>山藥　山萸（各一錢）　甘草（三分）　天冬　枸杞（各七分）</p>
<p>人參（七分）　白朮　扁豆　山藥　蓮肉　當歸（各一錢）　葛根（七分）　藿香（三分）　五味（七粒）　炙甘草　陳皮（各五分）</p>
<p>當歸　生地　熟地　黃　天冬　麥冬（各一錢）　五味（九粒）　片苓　栝蔞　桃仁（各五分）　紅花（三分）　升麻如大便燥結加麻仁郁李仁各一錢肺熱有氣息加紫菀茸八分</p>
<p>治血虛皮膚枯燥及消渴等症　真酥油一斤生薑搗取真汁生地二十斤洗淨熟搗取汁去渣鹿角膠一斤　白砂蜜二斤一二沸去上面沫上先以文武火熬地黃汁數沸以絹濾取淨汁又煎二十沸下鹿角膠次下酥油及蜜同煎良久候調</p>
<p>治血虛肺燥皮膚折裂及肺痿咳</p>
<p>天門冬新者不拘多少上一味洗淨去皮心細搗絞取汁澄清以布濾去渣用砂鍋文火熬成膏空心溫酒服一二匙東垣當歸潤燥湯　治小便多大便秘結能喜溫飲陰頭退縮舌燥口乾眼澀難開及於黑處見浮云細辛（二分）　甘草　熟地（各三分）　柴胡（七分）　黃柏　知母　石膏　桃仁泥　當歸麻仁　防風　荊芥（各一錢）　升麻（一錢五分）　紅花（二分）　杏仁（七分）　小椒（三粒）</p>
<p>食遠熱服忌辛熱</p>
<p>治消中能食而燥瘦口乾自汗大便結燥小便頻數升麻（四分）　防風　黃　黃芩　防己　生地　當歸（各七分）　柴胡　羌活（各六分）　炙甘草　甘草　龍膽草（各三分）　石膏（一錢）　知柏　紅花　桃仁　杏仁（各五分）　加酒一二匙</p>
<p>治大便燥結在齒門以辛潤之生地　熟地（各五分）　炙草　紅花（各二分）　當歸　升麻　桃仁（各一錢）</p>
<p>治脾胃中伏火大便秘澀或干燥不通桃仁　麻仁（去殼各一兩）　當歸梢　大黃　羌活（各五錢）煉蜜丸桐子大</p>
<p>麻仁（二兩）　郁李仁（一兩）　陳皮（三錢）　當歸稍（一兩五錢）　枳殼（三錢）</p>
<p>煉蜜丸此方不用大黃不損中氣老人及虛弱人遇便結俱宜</p>
<h3>濕症</h3>
<p>濕有自外而得者有自內而生者有風濕相搏者有濕熱相搏者有獨傷於寒濕者要略曰太陽病關節疼痛而煩脈沉而細者此為中濕東垣曰地之濕氣感則害人皮肉筋脈故卑濕之地濁氣熏蒸坐臥其上百體傷感此自外而得之也經曰諸濕腫滿皆屬脾土故人洒水過多生冷無節脾土頻傷遂成脹滿此自內而生也先傷於風後傷於濕而為風濕相搏者先微汗以散其風後用五苓二妙以散其濕若大發汗則風去而濕不去濕愈成著入腑臟矣又有先傷於濕後傷於熱而為濕熱相搏者蓋熱勝則傷血血不養筋故大經短軟而為拘攣濕勝則傷筋筋不束骨故小筋弛長而為痿當先用清涼以散其熱後用疏利以行其濕斯有次而獲愈矣又有冬月初春人居寒濕之地寒氣襲人濕乘機入經曰寒濕之中人也令人皮膚不收肌肉堅緊營血涸衛氣去故曰虛急宜以四逆東加蒼朮羌活溫以散之否則與中寒相等而患不小矣此五症者皆究濕家之所不容廢也</p>
<h4>附濕熱相生論</h4>
<p>丹溪曰濕土生痰痰生熱又曰濕生熱熱傷血是熱亦有因濕而生者醫林類集云熱氣熏蒸水液不行日久成濕是濕亦有生於熱者故治濕者見大便奔急小便淋澀胸腹燥滿此濕中有熱也治濕而宜兼治熱也治熱者見有脈細而首如裹後重而糞稀溏此熱中有濕也治熱而宜兼治濕也外有燥熱者目赤口乾便秘煩躁又當潤藥以潤其燥非治濕熱者論也</p>
<h4>附燥熱濕熱不同論</h4>
<p>病有燥熱者有濕熱者夫熱一也而有燥與濕之不同何哉易曰水流濕火就燥然則燥濕之義其來遠矣今按燥熱多屬心火而成濕熱多屬脾濕而致劉河澗曰將息失宜心火暴盛然暴盛之後雖成眩仆而暴盛之勢橫行腸胃津液消亡遂成秘結斯時也芩連枝柏百劑何補必也潤之乎故輕則通齒湯潤腸九重則三一承氣湯不數劑而獲愈矣丹溪曰濕土生痰痰生熱熱在腸胃之外濕在腸胃之中故大便稀溏而後重下迫茲時也八物十全百劑何益必也燥之乎故輕則茯苓散濕湯倍加蒼朮羌活重則羌活勝濕湯倍加芩連梔子亦不數服而即愈矣由是觀之則知燥者潤之譬則火燔熾而有水以制之也濕者燥之譬則水濡滲而有土以制之也五行之理不精辨之可乎雖然燥者潤之固矣不有養血以為之本乎蓋養血則陰氣日生陽不獨旺血液流行腸胃滋潤何燥結之有哉濕者燥之固矣不有健脾以為之本乎健脾則宗氣日舉營衛流通熱化為汁濕化為溺又何濕熱之有哉</p>
<p>治濕從外受一身盡痛肩背不可回顧此太陽氣鬱而不行以風藥散之脊痛項強腰似折此太陽經不通行此藥主之羌活　獨活（各一錢）　本　防風　炙甘草　川芎（各五分）　蔓荊子（三分）</p>
<p>食前溫服如身重腰痛沉沉然經中有寒濕也加酒洗漢防己五分</p>
<p>治脾胃虛濕從生者本方加羌活蒼朮酒芩木通散風行濕最妙</p>
<p>治濕淫於內脾胃不能剋制有積飲痞膈中滿蒼朮　厚朴　陳皮　甘草</p>
<p>治濕生於內水瀉小便不利本方加茵陳名五苓散治飲食內傷停濕胸滿腫脹發黃本方加羌活名加味五苓散治濕勝身痛小便不利體重發渴</p>
<p>治濕熱腰膝疼痛黃柏（乳潤一宿）　蒼朮（米泔水浸七日）等分為末或丸空心水酒服三錢</p>
<p>治獨傷寒濕症加羌活蒼朮溫以散之煎熱涼服</p>
<p>治濕鬱成黃膽寒熱嘔吐而渴身體面目俱黃小便不利不思食莫能安臥黃連　黃芩　梔子　防己　白朮　蒼朮　陳皮　青皮　枳實（各四分）　赤苓　澤瀉（各五分）　茵陳（</p>
<p>治風濕脈浮身腫汗出惡風或周身疼痛白朮（二錢）　黃　防己（各三錢）　甘草　薑三片棗二枚</p>
<p>治受山嵐障氣及出遠方不服水土吐瀉下利蒼朮　半夏（各八分）　厚朴　藿香（各四分）　陳皮（五分）　甘草　薑一片</p>
<h3>火症</h3>
<p>火何自而起乎氣不得其平也五臟六腑皆有氣得其平則營衛沖和臟腑舒暢何火之有苟一經之氣失其常度致有沖逆搏擊乖隔沉滯此火所由起也火在諸經或一經之自病或別經之見克或二經之遺病或數經之合病然亦有虛火實火相火燥火濕火鬱火猛烈之火無名之火皆不可不知也當嘗忿　生肝火憂慮生肺火焦思生心火勞倦生脾火思想無窮生腎火此五者皆本經之自病也本經自病則治本經尤防別經相克心火太過必克肺金清肅之令衰矣肺經太過必克肝木發生之氣萎矣肝木太過必克脾土化生之源墮矣脾土太過必損腎水津液之源涸矣腎水太過反助心火君主之官奪矣此五者別經之相克也別經相克則治在別經尤加救本經之藥其二經之遺病者何也如肺有火咳嗽日久必遺熱於大腸成泄瀉矣如脾有火口渴口乾必移熱於胃則脹滿生矣如心有火炎灼日久必遺熱於小腸則成小便淋閉如肝有火脅痛日久必遺熱於膽則成汁溢而口苦如腎有火盜汗遺精必遺熱於膀胱則成白濁淋瀝此則治在臟而腑病自消焉又或有數經之合病者端緒難尋攻伐未易此則當擇其尤重者而切治之審其先發者而專攻之或上病而下取之如目疾赤腫大痛用防風通聖倍硝黃以瀉下焦之類是也或下病而上取之如下焦寒泄灸百會穴以舉散下焦之寒是也此精微之理寓其中非深造者莫之悟也火症有實火焉心火燔灼胃火助之而元氣未損真精未虧或因醇醪蘊熱或因暴熱外侵目赤喉痛胸滿氣喘宜正治之所謂祛熱不遠寒是也如黃連解毒白虎天水導赤瀉白左金承氣皆治實火當審經而選用中病則止毋過劑以損真陽有虛火焉東垣曰飲食所傷勞倦所損或氣高而喘身熱而煩或脈洪大而頭痛或口發渴而身熱症象白虎但脈虛而不長也以實火治之立殞惟當以甘溫補其中兼甘寒以瀉其火則愈故立補中益氣湯以補之調中益氣湯以調之當歸補血湯以養之皆善又有相火焉相火者原無定位寄於肝腎二經之間乃下焦胞胳之火元氣之賊也相火一動便上肝膈入肺中循喉嚨系舌本令人身熱咳嗽咯血遺精肌肉消削此雷龍之火非芩連梔子硝石之所能治也必於河間所謂養血益陰其熱自退丹溪所謂滋陰則火自降王冰所謂壯水之主以制陽光此皆救本之治乃所以深治之也又有燥火焉燥火起於血衰血衰則營衛澀滯臟腑不潤腸胃行遲大小便秘茲時也芩連梔柏百劑無補必也其潤之乎急則治其標通齒湯八正散潤腸丸潤之於先緩則治其本四物湯桃仁麻仁郁李仁白砂蜜潤之於後庶幾血可生燥可澤而火可痊矣有濕火焉濕生乎熱熱生乎濕濕熱相生多成脹滿或痿與鼓從而生焉故有大便久秘及更衣則又溏甚茲何以故蓋熱在腸胃之外故秘濕在腸胃之中故溏此當用東垣勝濕湯重加芩連少加五苓並二妙散香連丸斯濕熱兼治之矣有猛烈之火丹溪所謂火盛不可驟用寒涼須以生甘草兼瀉兼緩蓋恐撲之而愈張抑之而愈揚惟和以養之則猖狂自定誠妙論也又有鬱火焉鬱火抑遏於脾土之中東垣用升陽散火湯以汁之所謂火鬱發之者是也若真元真陰虛憊皆不可發慎之慎之又有無名之火一發即不知人或狂言失志或直視聲鳴或手足螈　或目閉無言或發數日而終者或一發便脫者或臥枕而逝人不及知者既無經絡之可尋又無脈症之可據即內經所謂暴病暴死皆屬於火非是之謂歟或問諸症皆敷明其理而火症獨諄諄千言不置此何以故予曰江南之病惟火十居八九醫者視為泛常朦朧處治乖謬殊甚予經歷此症數十年故以躬行實踐詳著此論以為後學引進云耳有志深造者自有素問難經在焉</p>
<h4>附燥熱濕熱不同論</h4>
<p>（方見暑症）</p>
<p>（方見瘟疫）</p>
<p>治心熱小便黃赤生地　木通　甘草　各等分煎服</p>
<p>治心痞實熱狂躁面赤黃連　黃芩　大黃（各等分）</p>
<p>治肝臟火實左脅作痛黃連（一兩）　吳茱萸（五錢）　粥丸白朮陳皮湯送下</p>
<p>治肺火為患喘滿氣急　桑白皮　地骨皮　甘草（各一錢）</p>
<p>治脾家伏火唇口乾燥藿香（二錢）　山梔（一兩）　石膏（五錢）　甘草（三兩）　防風</p>
<p>治六腑有實火上煩渴下便閉赤澀即六一散</p>
<p>治火鬱上焦大熱面赤（方見中風）</p>
<p>治三焦有火嗌喉干燥小便赤大便閉結黃連　黃芩　黃柏（等分）</p>
<p>大黃　黃連　黃芩　水丸</p>
<p>治虛火沖發</p>
<p>治虛煩（方俱見內傷）</p>
<p>君火即心火亢極宜以實火心經藥處治心火挾虛者宜用後三方</p>
<p>寧心保神益血固精壯力強志令人不忘清三焦化痰涎降煩熱定驚悸療嗌干口苦育人參　玄參　杜仲　天冬　遠志　熟地　百部　桔梗　丹參　柏子仁　五味　甘草　茯神茯苓　麥冬　菖蒲　酸棗等分蜜丸彈子大</p>
<p>黃連（一錢五分）　朱砂　生地　歸身　炙甘草（各五分）</p>
<p>為末湯浸蒸餅丸黍米大每服十五丸食後津液咽下</p>
<p>當歸　川芎　白芍　生地　茯苓</p>
<h4>治相火方</h4>
<p>治腎火從臍下起者腎火衰也黃柏（炒褐色為末）水丸氣虛四君子湯下血虛四物湯下</p>
<p>治腎火起於涌泉之下黃柏（十兩酒浸）　知母（六兩酒浸）煉蜜為丸</p>
<p>生津益血升水降火明目清心芎歸　白芍　熟地　菊花　枸杞　黃柏　知母　煉蜜丸如梧桐子大</p>
<h4>治燥火方</h4>
<p>（方見燥症）</p>
<p>治大便秘小便澀大黃　瞿麥　車前（各一錢）　木通　蓄（各八分）　滑石（二錢）　梔子（七分）　甘草（五分）</p>
<p>治大便不通（方見燥症）四物湯本方加桃仁麻仁郁李仁（方見中風）</p>
<h4>治濕火方</h4>
<p>（方見濕症）</p>
<p>治濕得便利濕自去矣（方見瘟疫）</p>
<p>（方見濕症）</p>
<h4>治鬱火方</h4>
<p>治食冷郁遏陽氣於脾土之中火鬱則發之義也　火鬱湯（方見郁症）</p>
<p>升麻　葛根　羌活　獨活　人參　白芍（各五錢）　柴胡（八分）　防風（二錢五分）　甘草（二</p>
<h3>郁症</h3>
<p>內經曰木鬱達之謂吐之令其條達也瓜蒂散鹽湯探吐火鬱發之謂汗之令其疏散也升陽散火湯土鬱奪之謂下之令無凝滯也三承氣湯備急丸金鬱泄之謂滲泄解表利小便也麻黃葛根湯小柴胡四苓散水鬱折之謂抑之制其沖逆也大補丸滋腎丸此治五郁之大旨也丹溪曰氣血衝和百病不生一有拂鬱諸病生焉謂郁有六症氣濕血痰火食也氣鬱者其狀胸滿脅痛脈沉澀治用二陳加香附蒼朮撫芎　濕鬱者周身走痛或關節痛　陰寒則發脈沉細緩頭重痛治用升陽除濕湯　血鬱者四肢無力能食便血脈沉澀芤治用四物加桃仁紅花青黛芎附　痰鬱者動則喘寸口脈沉滑二陳加海石南星香附栝蔞仁化痰丸　火鬱者目瞀小便赤澀脈沉數二陳加梔子青黛香附蒼朮撫芎　食鬱者噯酸胸滿腹脹不能食左寸脈平和右寸脈緊盛二陳加香附蒼朮山楂神麯麥芽保和丸　郁者結聚而不散不發越之謂故治郁當以順氣為先消積次之通用越鞠丸六郁湯諸郁脈皆沉沉則為郁但兼血氣痰火濕食芤澀滑數緩緊之不同耳郁在上則見於寸郁在中則見於關郁在下則見於尺諸郁用藥春加防風夏加苦參秋冬加吳萸凡郁在中焦以蒼朮撫芎開提其氣以升之假令食在氣上氣升則食自降</p>
<h4>越鞠丸</h4>
<p>通治諸郁香附　蒼朮　撫芎　梔子　神麯等分水丸綠豆大</p>
<h4>六郁湯</h4>
<p>治諸郁陳皮（一錢）　半夏　蒼朮　撫芎（各一錢二分）　赤茯苓　梔子　香附　炙甘草　砂仁（各五氣鬱加烏藥木香檳榔紫蘇乾薑倍香附砂仁濕鬱加白朮倍蒼朮　火鬱加黃連倍梔子　痰鬱加</p>
<h4>瓜蒂散</h4>
<p>治木鬱（方見中風）及鹽湯探吐法燒湯溫服探吐</p>
<h4>升陽散火湯</h4>
<p>治火鬱（方見火症）</p>
<h4>火鬱湯</h4>
<p>火鬱者內熱外寒脈沉數羌活　葛根　升麻　白芍　人參（各七分）　柴胡　甘草（各三分）　防風　蔥白五根</p>
<h4>大承氣湯</h4>
<p>土鬱者痞滿燥實脈來有力而實宜用此方（方見瘟疫）</p>
<h4>備急丸</h4>
<p>治土鬱</p>
<h4>麻黃葛根湯</h4>
<p>金鬱者喘滿脈浮麻黃　葛根（一錢）　赤芍　淡豉（半勺）</p>
<h4>小柴胡湯</h4>
<p>（方見瘟疫）</p>
<h4>四苓散</h4>
<p>（方見濕症）</p>
<h4>滋腎丸</h4>
<p>治水鬱（方見火症）</p>
<h4>二陳湯</h4>
<p>治氣鬱</p>
<h4>大補陰丸</h4>
<p>水鬱者腰腹痛足下熱　黃柏一味炒褐色丸服</p>
<h4>升陽除濕湯</h4>
<p>治濕痰火食四郁　升麻　柴胡　防風　神麯　豬苓　澤瀉（五分）　蒼朮（一錢）　陳皮炙甘草　麥芽（三分）食後溫服四物東加桃仁紅花治血鬱（方見中風）</p>
<h3>痰症</h3>
<p>痰者津液所結火煉成痰蓋無火之人津液四布滴入心泡變赤則成血矣惟有大熱熏蒸則津液煉成痰輕者治之火漸降痰漸消血漸生尤可安矣重者不生血而生痰勞病是也然痰症不同有燥痰有濕痰濕者燥之南星半夏蒼朮枳實之類燥者潤之栝蔞杏仁貝母花粉海粉之類大法痰在上焦宜涌吐中焦宜解化下焦宜攻利當分虛實為急虛者可補如六君子通治氣虛生痰四物東加貝母通治陰虛生痰實痰可攻如瓜蒂散吐風痰益元散治酒熱痰保和丸攻食積痰神術丸救痰飲滾痰丸化痰丸下諸痰從齒門泄去惟實人宜用虛者誤服立殞外有婦人鬱怒心火亢甚津液生痰不生血致肌爍不月要略謂昔肥今瘦者痰也亦宜四物東加開鬱清心順氣之劑稍兼化痰總之治痰者必以健脾為主順氣為先蓋健脾則痰運氣順則痰行健脾補中用參苓白朮散八味丸是治其本也然須看痰火孰急火盛先治火痰盛先治痰但不可虧損其真氣致難收功丹溪云痰在脅下非白芥子不能達痰在四肢非竹瀝不能行脈浮當吐二陳湯管一身之痰咸致論也又曰治痰用利藥過多致脾氣虛則痰易生反多又曰虛弱人中焦有痰胃氣亦賴以養不可盡攻盡攻則愈虛而愈劇又不可不知其他症變多端王隱君論議備悉學人最宜潛玩枳實瀉痰有衝牆倒壁之功黃芩治痰假其下火也天花粉大能降上膈熱痰海粉能降熱痰能燥濕痰能消頑痰　師云痰火日久脈氣漸虛醫家用參　以助元氣脈愈虛澀甚至加促倦弱益甚此其故何哉細思其故脈屬於血氣以鼓之古　字以血字在旁意可想見今痰火日盛血液漸衰火助陽旺陰氣將竭用參　則陽愈盛陰愈虛脈遂或澀或促或微或代醫不察理堅</p>
<h4>諸症挾痰歌</h4>
<p>水穀消磨氣血成滋榮脈絡壯元精七情四氣時沖逆脾胃旋傷惰營運胃口從茲留宿飲致令精液作痰凝因而隨道皆壅塞卻是痰涎滯在經或癢或麻或痛痹或留肌膜結瘤癭皮間腫痛燔如火心下寒疼冷似冰流入脅稍成癖積行成髀　作酸疼或如棉絮如梅核或若桃膠蜆肉形吐不出而咽不下分明鬱積在胸間或為喘滿心嘈雜嘔吐痰涎碧甸清攻上頭時眩暈倒眼　目禁耳中鳴嗌喉閉塞牙關緊噯氣吞聲嘔逆頻夜臥不安奇怪夢游風腫痛並無名怔忡健忘時驚怖癲走痴呆不識人久瀉腸枯形積垢中風癱瘓失聲音女人白帶男兒濁經血愆期赤白淋荏苒做成癆瘵病風癇螈　手攣筋遍身習習如芒剌一線寒穿背脊心如斯怪異延纏病都是痰涎裡面生　蓋痰為患在心經則昏冒不知人在肝經則脅脹眩暈在脾經則成泄瀉在肺經則喘不休在腎經則骨軟腰憊骨軟腰憊</p>
<p>治濕痰管一身之痰（方見中風）</p>
<p>治氣虛生痰</p>
<p>治陰虛生痰</p>
<p>治風痰</p>
<p>治酒痰即六一散</p>
<p>治食積痰（方見內傷）</p>
<p>治痰飲蒼朮（一斤米泔水浸）　生芝麻（五錢用水二小鐘研細取汁）　大南棗（十五枚去核用肉）蒼朮焙乾為末後用芝麻漿及棗肉和勻如梧桐子大</p>
<p>治濕熱食積成窠囊老痰大黃　黃芩（各半斤）　沉香（五分）　礞石（一兩炒黃）</p>
<p>上細末滴水丸黍米大每服四五十丸度人強弱加減丸數</p>
<p>南星　半夏　蛤粉　貝母　栝蔞　香附　杏仁　青黛上以前六味研細宜用去皮皂角搗碎濃煎汁擂杏仁泥以薑汁和蒸並丸如綠豆大再用青黛為衣每服五十丸薑湯下</p>
<p>治上吐痰下瀉痰　陳皮（一斤去白鹽水洗）　甘草（二兩炙）　丸如綠豆大</p>
<p>八味丸　治腎經痰　熟地　山藥　山萸（各四兩）　茯苓　澤瀉　丹皮　附（一錢）桂煉蜜丸如梧桐子大</p>
<p>治年高痰盛氣實　蘇子　白芥子　蘿卜子　煎服</p>
<p>治痰火通用　陳皮　杏仁　枳實　黃芩　栝蔞　茯苓　膽星　製半夏　薑汁為</p>
<p>生黃芩　炒黃芩　半夏（各一兩）　澤瀉　黃連　膽星　枳殼　白朮　陳皮（各五錢）　白礬（一錢）上為細末湯浸蒸餅入薑汁丸如梧桐子大每服一錢二分蘿卜湯下</p>
<h3>咳嗽</h3>
<p>內經曰秋傷於濕冬生咳嗽河間曰咳謂無痰而有聲肺氣傷而不清也嗽謂無聲而有痰脾濕動而生痰也咳嗽謂有聲而有痰蓋因傷於肺氣動於脾濕咳而且嗽也然嗽症不同有因風寒暑濕之邪傷肺而嗽者此外因也必顯症於外鼻塞聲重惡寒是也治法因風寒嗽者三拗東加知母脈浮大有熱加黃芩生薑喘嗽遇冬則發此寒包熱也解表則熱自除感冷則嗽者膈上有痰二陳東加枳殼黃芩桔梗蒼朮麻黃木通生薑有鬱火於肺而嗽者有聲無痰面赤是也俗名為乾咳嗽難愈治法夏月火炎上嗽最重宜用芩連梔子上半日嗽多胃中有火知母石膏降之午後嗽多者屬陰火盛四物加知母黃柏麥冬五味黃昏嗽多者火氣浮於肺不宜用涼劑五味五倍斂而降之早晨嗽多者此胃中有食積至此時火氣流入於肺中宜知母地骨皮清之有濕痰嗽者嗽動便有痰聲痰出嗽止是也治法用二陳加南星貝母竹瀝海石海粉青黛栝蔞痰因火動逆上作嗽者先治火宜梔柏芩連後治痰用前藥通用清氣化痰丸有陰虛嗽者其氣至下而上多重於夜分是也治宜四物合二陳順而下之加梔柏尤佳有勞嗽者盜汗出兼痰多作寒熱干嗽聲啞痰中有血絲紅點是也治宜補陰清肺嗽而痰中帶紅點者四物湯加知柏五味人參麥冬桑皮地骨皮陰虛勞嗽通用百部款花紫菀百合沙參麥冬五味知柏芩芍生地內熱骨蒸加地骨丹皮又有肺脹嗽者動則喘氣急息重是也肺因火傷遂郁遏脹滿治主收斂用訶子為君佐以香附海粉青黛杏仁之類咳嗽左不得眠者肝脹宜小柴胡加青皮白芍藥川芎當歸入嗽藥右不得眠者肺脹宜桔梗枳殼栝蔞黃芩甘草少入青皮白芍以上二症皆難治嗽而脅痛者宜用青皮疏肝氣有因火盛久嗽成肺癰肺痿者則云門中腑作痛吐咯膿血臭穢不可近是也治癰用丹溪桔梗湯治痿宜養氣養血清金用丹溪海藏紫菀湯知母茯苓湯大抵咳嗽有痰居多治嗽者當以治痰為先治痰者當以順氣為主故以南星半夏利其痰而嗽自愈枳殼橘紅順其氣而痰飲自除凡諸嗽須分新久用藥如肺虛久嗽加五味子款花紫菀兜鈴之類補之若肺實有火邪者宜桑皮花粉片芩杏仁枳殼桔梗之類瀉之夏月嗽而發熱者謂之熱嗽小柴胡加石膏知母冬月嗽而發寒熱者謂之寒嗽小青龍加杏仁凡嗽春是春升之氣夏是火炎於上秋是濕熱傷肺冬月風寒外束用藥發散之後必以半夏等藥逐其痰庶不再作一傷寒有水結胸嗽者宜小青龍小半夏茯苓湯嗽脈宜浮滑忌弦數細澀　一傷風寒咳嗽七日內必大嗽七日後必生清痰痰稠吐出則嗽方愈風寒的方可用三拗東加桔梗紫蘇　一產婦傷風嗽治宜驅風散邪帶表四物湯如風邪未盡即行補法令嗽不止久久成勞則難治矣　一勞嗽上嗽下泄一用嗽藥嗽雖止則瀉又盛服香連丸瀉雖止又復嗽盛其故何也蓋肺與大腸為表裡此臟腑俱病不可兼治者死　一久嗽肉脫者用嗽藥多不效補中健脾則嗽止此子虛補其母以脾主肌肉病有本而標之之意也然病多不救經曰大肉已脫九候雖調尤死是也　一陰虛火動發而為喉痹者啞者不治嗽而大便泄者難治嗽而發熱不止者難治　一新嗽易愈久嗽難愈所以難愈者由病邪傳變而入深也一肺癰作痛肺痿不痛痿病重而癰病稍輕俱難治</p>
<h4>諸症挾痰歌</h4>
<p>方俱見中風</p>
<p>（方見痰症）</p>
<p>治肝脹嗽加青皮白芍芎歸（方見瘟疫）</p>
<p>治風寒嗽亦治水結胸嗽麻黃　杏仁　甘草　風寒加知母脈浮大有熱加片芩</p>
<h4>喘嗽遇冬則發方</h4>
<p>此寒包熱也解表則熱自除枳殼　桔梗（一錢）　麻黃　防風（五分）　甘草　陳皮　紫蘇　木通　黃芩（各七分）</p>
<p>嚴寒去芩加杏仁（五分）</p>
<p>治乾咳嗽生地（四斤）　茯苓（十二兩）　人參（六兩）　白蜜（二斤）四共熬成膏</p>
<p>治咳嗽肺虛人參　黃　五味　紫菀　熟地　桑皮加龍眼四枚煎服</p>
<p>治嗽而失聲訶子　五味　甘草　黃芩</p>
<p>治痰嗽嗌干聲不出人參　陳皮　半夏　桔梗（各一錢）　麥冬　五味（十粒）　茯苓　桑皮　知母　骨皮（五分）　枳殼　杏仁　黃連（八分）　款花（七分）　貝母（一錢五分）</p>
<p>治肺癰咳嗽膿血嗌干小便赤大便澀桔梗　貝母　當歸　栝蔞　枳殼　桑皮　薏苡　防己（一錢）　甘草節　杏仁　百合（五分）</p>
<p>治咳中有血虛勞肺痿人參　茯苓（各一錢）　紫菀　阿膠（各五分）　知母　貝母（各一錢五分）　桔梗　甘草五味　蓮肉（四個）</p>
<p>治咳嗽不已往來寒熱自汗肺痿茯苓　甘草　知母　五味　人參　薄荷　半夏　柴胡　白朮　款花　桔梗　麥冬　黃芩川芎　阿膠（四分）　加薑二片</p>
<p>治水結胸乾嘔發熱而喘咳麻黃　防風（二錢）　細辛　乾薑　甘草　桂枝　五味　半夏</p>
<p>治肺感傷邪咳嗽吐痰陳皮　半夏　五味　乾薑　桂心　杏仁　細辛　阿膠　炙甘草　加薑三片棗二枚溫服此方冬　月寒冷之時觸胃寒邪而未鬱熱者極效如久咳嗽鬱熱者切不可用</p>
<p>治小兒咳嗽白芥子（五錢）　橘紅　膽星　香附（各二錢五分）　枯芩　青黛　麻黃（各二錢）　杏仁（三錢）　蘇梗　桑皮　貝母（各一錢五分）　蘿卜子（三錢五分）　朱砂為衣</p>
<p>治男婦久嗽不止柏枝　槐子　生礬等分為末面糊丸如桐子大每服百丸臨臥冷茶下</p>
<h2>卷二</h2>
<h3>哮喘</h3>
<p>肺為五臟華蓋主持諸氣肺氣受傷呼吸之息不得宣通則哮喘之病生焉哮以聲響言喘以氣息言喘促喉中如水雞聲者謂之哮氣促而連續不能以息者謂之喘喘有虛實皆由痰火內郁風寒外束而致風寒外束而喘者此外感有餘脈多浮大宜解表而喘自除九味羌活加減有風痰上逆作喘喘動便有痰聲脈多浮滑治先降氣氣降則痰清二陳加痰藥有火炎上喘者乍進乍退得食即減食已即發此胃中有實火膈上有稠痰有餘之喘也脈洪數疾二陳加芩連梔子不可作胃虛妄投燥熱藥有陰虛者自臍下火起上逆而喘脈弦數細四物加知柏芩有氣上逆而喘者蘇子降氣湯氣虛及病久者脈軟弱無力宜補中益氣六君子湯或五味子東加白朮或生脈散加阿膠氣實因服補藥而喘者三拗湯有水逆作喘者脈沉澀宜小青龍半夏湯但氣虛發喘必自汗出陰虛發喘者疾行則喘甚靜坐則喘息此秘驗也凡人喘未發時以扶正氣為主已發以攻邪為主哮喘專主於痰實者宜用吐法亦有虛而不可吐者治哮必使淡滋味不可純用寒涼藥必兼散表用青州白丸子有效又有短氣不足以息者似喘但有虛有實不可作喘治虛者宜六君子加五味麥冬實者痰氣阻礙導痰湯腎虛不能　氣者補腎丸金匱要略云短氣不足以息者實也此言痰實內經曰</p>
<h4>凡遇喘有數症不治者</h4>
<p>上喘下泄者死兩寸脈下陷者死喘疾危篤鼻出冷氣者此肺絕也死身汗如油喘而不休此亦陽氣脫也死若上喘而小便自利者亦死</p>
<h4>前喘症</h4>
<p>一風寒外束　一風痰上逆　一火盛炎上　一陰虛發喘　一氣上逆而喘　一水逆作喘喘病每年至寒即發此為常病不可峻攻須以疏風散表</p>
<p>治外感風寒發喘（方見瘟疫）</p>
<p>治痰壅作喘（方見中風）</p>
<p>治陰虛喘</p>
<p>治氣上逆而喘當歸　前胡　厚朴　陳皮　甘草　半夏曲　蘇子　薑三片　棗二枚</p>
<p>治氣虛發喘（方見中風）</p>
<p>治氣虛誤服補藥發喘</p>
<p>治水逆喘（方俱見咳嗽）</p>
<p>治胃虛喘人參　五味　麥冬　杏仁　陳皮　生薑</p>
<p>治久病氣虛喘</p>
<p>治哮半夏（七兩）　南星（三兩）　白附子（二兩）　川烏（五錢去皮臍生用）</p>
<p>上末以絹袋盛之井水擺渣盡為度置瓷盆中日晒夜露春晒五日夏三秋七冬十日去水晒乾候至餅研細以占米糊丸如綠豆大每服十丸至十五丸止薑湯下不拘時服如癱瘓風濕酒下若小兒驚風及發哮或用薄荷或荊芥湯下三五丸</p>
<p>治痰阻短氣</p>
<p>治腎虛短氣磁石　菟絲子（二兩）　五味子　熟地　枸杞　楮實子　覆盆子　肉蓯蓉　車前子　石斛沉上末煉蜜丸如桐子大</p>
<p>治肺虛感寒氣逆膈熱作哮作喘白果（二十枚炒黃）　黃芩　杏仁（一錢五分）　桑皮　蘇子　甘草　麻黃　半夏　款花（一錢）　薑（二片）</p>
<h4>治小兒哮方</h4>
<p>雞一個入蝸牛二條在內以紙封口煨熟待鹽油化盡與服數十丸即愈</p>
<h4>治哮喘神驗方</h4>
<p>天麻　桔梗　防風　半夏　枳殼（各七錢）　朱砂（一錢五分）　青礞石（火煉存性）　雄黃（二錢）　膽星（一兩）　巴豆霜（五分去油）</p>
<p>上末清水丸粟米大小兒每用三分大人七分薑湯下忌豬油</p>
<h3>瘧症</h3>
<p>瘧者虐也寒熱令人難當故以瘧名內經曰瘧之始發也陽氣並於陰則陽虛而陰盛外無陽氣故先寒栗也陰氣逆極則復出之陽陽與陰並之於外則陰虛而陽實故先熱而後渴又曰衛氣者晝行於陽夜行於陰邪氣得陽而外出得陰而內薄內外相搏是以日作其間日而作者何也其邪氣之舍深內搏於陰陽氣獨發陰邪內著陰與陽爭不得出是以間日而作也故先傷於寒後傷於風則先寒而後熱名曰寒瘧先傷於風後傷於寒則先熱而後寒名曰瘟瘧其但熱而不寒者陰氣內守陽氣獨發則少氣煩冤手足熱而欲嘔名曰癉瘧此內經言得瘧之由臨發之故昭著詳悉然此得指風寒二症言之後世嗜欲日滋故於風寒之外又有暑瘧有痰瘧有熱瘧有食瘧有虛瘧有濕瘧有　瘧有牝瘧暑瘧者脈虛身熱面垢背惡寒多汗清暑益氣湯人參香薷飲天水散痰瘧者發時便見痰聲或咳嗽或涌喘二陳湯四獸飲加黃芩柴胡貝母蘇子等藥熱瘧者獨熱不寒頻渴頻飲煩躁如狂黃連解毒湯三黃石膏湯小柴胡去參加白虎湯食瘧者見食即惡中焦悶郁不舒必從飲食得來橘半枳朮大安丸或大安丸作湯加人參黃芩柴胡最當虛瘧者怠惰嗜臥不喜食嘔吐自汗補中益氣湯倍柴胡調中益氣湯倍白朮濕瘧者寒熱身重骨節煩痛脹滿自汗善嘔因汗出復浴濕含皮膚羌活勝濕湯蒼朮柴胡五苓散　瘧者老瘧也或經數月或歷數年或血氣大虛或痰飲阻隔或瘧母痞塊虛者補之痰者化之痞塊者鱉甲散加補藥以消之牝瘧者寒多不熱但慘戚振栗病以時作此則多感陰濕陽不能制陰也河間蒼朮湯漿水湯主之其先寒後熱者則用加減青皮飲先熱後寒者則用柴胡加減桂薑湯癉瘧者即熱瘧也治亦同法其前瘧症有夜發及薄暮發者此病在陰分必用血藥漸到陽分方愈丹溪曰無汗要有汗散邪為主帶補有汗要無汗補正氣為主帶散瘧家渴用生地麥冬花粉牛膝知母黃柏干葛生甘草甚則加石膏一錢又曰　瘧三日一發陰經受病也其病難愈必先與參朮陳皮白芍等劑佐以本經引用之藥若得汗而體虛又須重補俟汗通身過委中方是佳兆東垣曰夏月天氣上行秋月天氣下行治者當順天道如先寒後熱太陽陽明合病白虎加桂也此天氣上行宜用之若天氣下行則不宜瀉肺宜瀉命門相火則可矣二人之言至理存焉學人宜詳味之</p>
<h4>瘧症附列</h4>
<p>瘧症先熱後寒者何也瘧之寒熱皆由冬月外中風寒邪氣沉於皮膚藏於骨髓至夏秋暑熱腦髓燒灼腠理開通邪氣自汗而出出則陰虛陽盛故大熱也邪氣復入則陽虛陰盛故大寒也瘧症先寒後熱者何也邪氣搏於陰中營氣虛則衛氣入衛氣入則腠理空疏陽陷陰中故肌肉為先寒也邪正交爭則體戰栗而寒然邪終不勝正故衛氣挾營氣邪氣復居腠理陰從陽出由是混淆而成大熱也終則三氣各舍其位　然汗出而瘧解矣即亢則害承乃制之義也癉瘧但熱而不寒也原感邪氣藏於皮膚分肉之間內不入於陰中陽氣獨發故也　瘧者營衛俱病中氣極虛故難愈凡瘧一日一發二三日一發者平人衛氣日行於陽廿五度夜行陰廿五度受邪輕則正氣未虛而行稍緩日與邪氣會遇遇即作矣受邪甚則正氣傷位而行遲二三日始得一會故隔日發也發即汗出為中虛宜補終日無汗為邪實且解表</p>
<h4>似瘧數症</h4>
<p>有虛損癆瘵似瘧者每日午後惡寒發熱至晚亦得微汗而解脈必虛濡而數不大弦為辨耳治當滋陰藥傷寒病八九日如瘧狀陽明病日晡發熱似瘧少陽往來寒熱似瘧各隨本經病治不可紊同亂治戴氏曰寒熱發作有期者瘧也無期者雜病也學人不可不辨　婦人熱入血室其血結寒熱似瘧又有傷食有香港腳皆發寒熱似瘧也此外又有血氣兩虛之症其初發似瘧初間隔二三日一發漸二日一發再一日一發劇則一日二三發此病方書不載亦無治法病者多不救惟內經上列之　帝曰大熱復惡寒發熱有如瘧狀或一日一發或間數日發其故何也　岐伯曰勝復之氣會遇之時有多少也陰氣多而陽氣少則其發日遠陽氣多而陰氣少則其發日近此勝復相薄盛衰之節瘧亦同法</p>
<p>治先寒後熱白朮　茯苓　半夏　柴胡（各一錢）　知母　青皮　陳皮　黃芩（各七分）　厚朴　草果（各四分）　甘草　薑三片凡治癉同此方去厚朴加石膏（一錢五分）</p>
<p>治先熱後寒寒多熱少或獨寒不熱者柴胡　茅朮　川芎（各七分）　黃芩　牡蠣（各六分）　花粉（五分）　甘草　桂枝　乾薑（各三分）　薑三片棗二枚</p>
<p>治氣虛痰飲結聚者陳皮　半夏　茯苓　甘草　人參　白朮　草果　烏梅　薑三片棗二枚鹽少許入煎藥</p>
<h4>有汗要無汗方</h4>
<p>人參　白朮（各八分）　黃　（生用一錢）　歸身　酸棗（七個）　升麻（三分）</p>
<p>柴胡（四分）　黃芩（六分）　陳皮（五分）　五味　甘草　麻黃根</p>
<h4>無汗要有汗方</h4>
<p>柴胡　葛根（一錢）　蒼朮　川芎　黃芩　知母（七分）　石膏（一錢二分）　青皮（七分）　升麻　甘草　薑三片</p>
<h4>治瘧夜發方</h4>
<p>柴胡　黃芩　人參　甘草　半夏　青皮　麥冬　川芎（各七分）　歸身（八分）</p>
<p>生地（五分）　白芍（一錢）　薑三片棗二枚</p>
<h4>治癉瘧方</h4>
<p>凡瘧獨熱不寒大熱大渴夏秋多此病知母　麥冬　花粉　葛根（各七分）　黃芩　生地　柴胡　牛膝（各五分）　石膏（一錢二分）</p>
<h4>截瘧通用方</h4>
<p>常山（一錢五分）　檳榔（一錢）　丁香（五分）　烏梅（一個）　知母（七分）　酒一杯入藥浸一宿次早飲下又方（截瘧通用）　瘧發於陽分上午作者此方驗丁香　檳榔　陳皮　恆山　酒一杯浸一宿次早用滾水　熟去渣服不可至灶上煎</p>
<p>治久瘧間一日二日三日一發者人虛不可用劫法以制此湯兼清兼補人參</p>
<h4>治虛瘧驗方</h4>
<p>人參　白朮　茯苓　白芍　柴胡　黃芩　青皮　陳皮　檳榔　常山　澤瀉</p>
<h4>治久瘧方</h4>
<p>何首烏　青皮（各一錢）水酒各半煎服</p>
<h4>治久瘧脾虛神驗方</h4>
<p>白朮（八兩土炒黃）　陳皮（一錢）　研末粥丸大人服三錢小兒減半即愈</p>
<h4>傅山翁治虛瘧神方</h4>
<p>人參白朮與黃　白芍青皮及陳皮　檳榔草果烏梅貝　虛瘧一帖似神醫</p>
<p>過下午發者驗柴胡　知母（各三錢）　當歸（一錢）　陳皮　如陰虛甚加何烏一錢未發預二時熱服又方（曾驗）</p>
<p>柴胡　澤瀉　胡麻子　生薑又方柴胡　白朮　黃芩　藿香（各二錢五分）　草果（三錢五分）　烏梅（七個）　升麻（四分）酒水各一鐘日未出時服又方砒霜（一錢）　綠豆（四十九顆）研末和勻大人每服八厘小人五厘無根水下即吐為妙不拘久遠全愈</p>
<h3>霍亂</h3>
<p>霍者揮霍眩暈亂者心神撩亂其症由外有所感內有所傷陰陽乖隔以致心腹疼痛嘔吐下利增寒壯熱頭痛眩暈治法當分寒熱在渴於不渴別之渴而多飲水者此熱與暑也治宜五苓散益元散香薷飲桂苓甘露飲不渴不飲水冬月感寒及夏月多食瓜果生冷者此寒也治宜理中湯丸甚者加附子內傷挾外感增寒壯熱者治宜五積散痰裹食者治宜二陳湯下保和丸邪在上焦則吐邪在下焦則瀉邪在中焦則吐瀉兼作此濕霍亂易治以所傷之物盡出故也干霍亂者欲吐不得吐欲瀉不得瀉心腹疼痛所傷之物不出壅悶正氣關格陰陽其死甚速急用吐法救之治霍亂通用六和湯藿香正氣散轉筋屬血熱四物東加黃芩紅花蒼朮木瓜南星若轉筋入腹及通身轉筋者不治上吐下利躁擾煩亂者方可謂之霍亂若止見嘔吐而利不煩亂經止謂吐利非霍亂也霍亂慎勿與穀食雖米湯一呷下咽即死必待吐瀉止過半日飢甚方可與稀粥少許以漸將息不若蘆積丸為妙</p>
<h4>五苓散</h4>
<p>治熱多欲飲水者陽邪也（方見瘟疫）</p>
<h4>益元散</h4>
<p>（即六一散）</p>
<h4>香薷飲</h4>
<p>（方見暑症）</p>
<h4>桂苓甘露飲</h4>
<p>桂心　人參　黃　茯苓　白朮　滑石　甘草　葛根　澤瀉　石膏　木香　寒水石</p>
<h4>理中丸治寒犯太陰經腹滿吐瀉霍亂寒多不飲水</h4>
<p>人參　白朮　乾薑　炙甘草等分為末蜜丸如彈子大每服一丸滾湯下</p>
<h4>五積散</h4>
<p>治外感內傷增寒壯熱半夏　乾薑　薑棗蔥白煎服</p>
<h4>二陳湯</h4>
<p>治痰盛眩暈（方見中風）</p>
<h4>保和丸</h4>
<p>治傷食吐利（方見內傷）</p>
<h4>六和湯</h4>
<p>治霍亂吐瀉不止轉筋白朮　甘草　半夏　砂仁　杏仁　人參（各五分）　赤苓　藿香　扁豆　木瓜（各一錢）</p>
<p>厚朴（二錢）　香薷（一錢冬日不用）　薑三片棗二枚</p>
<h4>藿香正氣散</h4>
<p>治內傷外感霍亂（方見內傷）</p>
<h4>四物湯</h4>
<p>加酒芩紅花南星蒼朮治霍亂轉筋</p>
<h4>四生散</h4>
<p>治中氣不和吐瀉霍亂陳皮　藿香</p>
<h4>救干霍亂方</h4>
<p>用生薑煎濃汁少加炒鹽滴桐油數點頻頻灌下二三碗用鵝毛選吐如不吐急用瓜蒂散吐之若終不吐用備急丸通之庶幾可生稍怠緩</p>
<h3>泄瀉</h3>
<p>按人之身賁門為胃上口水穀自此入於胃齒門為胃下口水穀滓穢自此入於小腸小腸一十六折水穀賴以緩行闌門為小腸下口水穀自此秘別分穢為濁入大腸分水為清入膀胱若水穢不釐清濁不別則皆入大腸而為泄瀉此泄瀉之由也經云濕勝則濡泄又曰暴注下迫皆屬於熱又曰諸病上下所出水液澄徹清冷皆屬於寒又有夏月受暑而為水瀉者亦熱之類也戴云凡瀉水腹不痛者濕也完穀不化者氣虛也腹痛瀉水腸鳴痛一陣瀉一陣者火也或瀉或不瀉或多或少者痰也腹痛甚而瀉瀉後痛減者食也泄瀉亦是急症但暴瀉為輕久瀉為重暴瀉元氣未衰濕者散之羌活勝濕湯五苓散火者清之香連丸清六丸寒者溫之理中丸或加附子虛者實之錢氏白朮散參芩白朮散痰者化之清氣化痰丸食者消之保和丸枳實導滯丸辨之精治之當其效立見故暴瀉為輕也若夫久瀉上亡津液下損脾胃補之則熱增澀之則脹極分利之則虛甚甚則成脾泄五更定瀉數次衰老虛弱之人多致不救故久瀉為重也遇斯疾者須急治之凡治瀉多用丸藥並用散以實脾土土實則能制水也瀉脈凡泄注脈緩微小者生浮大急疾者死與痢疾同看前症有六濕氣虛火食痰寒</p>
<h4>羌活勝濕湯</h4>
<p>治濕勝濡泄（方見濕症）</p>
<h4>五苓散</h4>
<p>（方見瘟疫）</p>
<h4>香連丸</h4>
<p>清六丸（俱治火瀉）</p>
<h4>天水散</h4>
<p>一料加紅曲五錢湯浸蒸餅丸</p>
<h4>理中丸</h4>
<p>治寒泄重者加附子</p>
<h4>錢氏白朮散</h4>
<p>治脾虛作瀉宜實之人參　茯苓　白朮　甘草　藿香　木香　干葛</p>
<h4>參苓白朮散</h4>
<p>治虛瀉</p>
<h4>補中益氣湯</h4>
<p>治氣虛作瀉</p>
<h4>清氣化痰丸</h4>
<p>治痰泄</p>
<h4>二陳湯</h4>
<p>保和丸　枳實導滯丸（方見內傷）</p>
<p>（內加消藥）　俱治傷食作瀉（方見霍亂）</p>
<h4>治痛泄方</h4>
<p>白朮　白芍（各二錢）　陳皮（一錢一分）　防風（一錢）</p>
<p>治胃經受熱泄瀉不止黃連（十兩）　吳萸　白芍（各二兩）面糊為丸如梧桐子大</p>
<p>治夏秋脾胃傷冷水穀不分泄瀉不止純瀉水者更宜亦治濕盛泄瀉蒼朮　厚朴　陳皮</p>
<p>白朮（二錢）　附子（五分）　甘草（一錢）　薑二片棗二枚空心服</p>
<p>治夏月傷暑作瀉（方見霍亂）</p>
<p>亦治暑瀉（方見暑症）</p>
<p>治腎虛子後作瀉蓋腎主二便開竅於耳或陰受時於亥子腎臟虛故令子後瀉也五味子（二兩）　吳萸（五錢炒）</p>
<p>上末每服二錢陳米湯下</p>
<p>治脾腎二經俱虛泄瀉不止破故紙（四兩炒）　肉豆蔻（二兩煨）為末棗肉四十九個薑四片同煮棗爛去薑留棗研膏入藥和丸空心鹽湯送下五十丸</p>
<p>治脾泄白朮（一斤）　米泔水浸軟咀片分作四分一分用白豆　寇仁炒一分用破故紙炒一分用五味子炒俱以炒干為度揀去同炒藥將白朮研極細用陳蒼子蓮子作粉打糊為丸如</p>
<p>治脾泄白朮（四兩土炒）　蓮子（一斤去心皮）　雄豬肚不下水者將白朮蓮子共研細末量豬肚大小去油淨裝藥入肚內以線縫之文武火煮極爛搗為丸如梧桐子大不拘天早上午用米湯下二三錢此方能治婦人崩漏亦效以脾統血也　凡遇消渴症去白朮用黃連天花粉各四兩如法連用酒炒掣蓮子半斤仍如前法制入豬肚內為丸常服止渴生津</p>
<p>治協熱下利黃芩（二錢）　白芍（一錢）　甘草（一錢）　水煎服</p>
<h3>痢疾</h3>
<p>痢者利也積滯暴下莫能止息邪熱上衝莫能流通老幼虛弱之人多致不救症亦危重矣內經曰腸便血身熱則死身寒則生腸　下白沫脈沉則死脈浮則生脈經又曰沉小流連者生洪大急疾者死仲景治痢十法今撮其大要言之凡痢疾脈大者為未止脈微小弱數者令自愈微熱而有渴脈弱而有汗者令自愈脈滑而數者有宿食也當下之下痢腹堅者當下之下痢譫語有燥屎者當下之下後心腹堅痛者當溫之下痢脈遲緊痛未止者當溫之其至重者手足厥冷無脈炙之不溫脈不還反微喘者死故金匱要略云六腑絕於外者為手足寒五臟絕於內者為痢下不禁劉河間曰痢疾行血則便膿自愈調氣則後重自除此兩言為治痢之要旨機要亦曰後重則宜下腹痛則宜和身重則除濕脈弦則去風濃血稠黏以重藥竭之身冷自汗以熱藥溫之風邪外束宜汗之　溏為痢宜溫之小便澀分利之盛者和之去者送之過者止之丹溪曰痢疾雖分表裡在表者必惡寒發熱身首俱痛宜以小柴胡去人參加白芍倍黃芩和之在裡者必後重窘迫腹痛急墜宜承氣湯下之亦當斟酌虛實腹痛者由肺金之氣鬱在大腸之間以苦梗開之下痢血久不愈者屬陰虛四物湯為主大孔痛一曰清之一曰溫之久病身冷脈沉小者宜溫之暴病身熱脈浮洪者宜清之先水瀉後膿血此脾傳腎賊邪難愈先膿血後水瀉者此腎傳脾微邪易愈倦怠嗜臥飲食少進宜參朮歸陳等藥補之虛回而痢自止氣行血和積少但虛坐努責在無血以歸身尾為君白芍生地桃仁佐之陳皮和之血生自安此丹溪治痢十法名言深大益於蒼生者學人須詳究而善用之戴氏曰痢雖有赤白二色終無寒熱之分通作濕熱處治但分新舊虛實與赤白帶同治子觀痢疾大抵由食積火熱為多其次暑濕其次風寒其次七情內傷善治者須求其因而為之辨別區治噤口痢有二症虛與熱是也熱塞胃口正氣衰憊莫能與爭故滴水不進古人有用人參三錢石蓮肉一錢頻頻少飲飲而或吐又少飲之若得些需入胃胃氣即回而食自少進矣愚謂熱甚則黃連當用四錢人參當用二錢虛勝則人參當用四錢黃連當用二錢蓋變通之道也此症亦有人參不能用一分者以陰太虛而邪陽太盛也故身熱脈大又云熱不為下衰皆反之也其不治症唇紅若塗朱者口瘡綻裂脈洪急搏手者身大熱久不退者下如魚腦者下如陳腐色者下純血者下如屋漏水者下如紅莧汁者大孔如竹筒者喘而不休身汗如油脈不回身不溫者四肢厥冷者皆不治也大孔痛者熱流於下也暴病身熱脈大無汗元氣未衰也當清之久病身冷脈微有汗元氣已衰也當溫之清用芩連柏枝選用之加四物並用行氣藥溫用薑桂白朮茯苓歸身等虛甚者加人參附子酌而用之暴病當下如虛弱不堪重劑宜用立效散祛其火暴之性或木香檳榔丸或香連丸少加大黃丸隨其虛實用之脫肛亦分新久暴者芩連四物加升提藥久而氣虛者宜八物加罌粟殼訶子數分又法用壁土加酸石榴皮明礬少許濃煎湯先熏後洗再用川五倍略炒研為極細末敷肛托而上之一二三日無妨久痢不愈當觀氣虛血虛並內有流連之熱或有穢血之停審而辨之氣虛用四君子少加歸芍等血虛四物少加參朮粟殼訶子等審無熱加肉豆蔻其流連之熱用二八丹穢血用四物桃仁紅花乳香沒藥不可一塗而治　又久痢發熱不止者屬陰虛用寒涼藥必兼溫藥升藥始痢宜下久痢宜補至於傷寒二陽合病皆下痢其治又不同太陽陽明合病自下痢者宜發汗太陽少陽合病自下痢者宜和解陽明少陽合病自下痢者宜攻裡</p>
<h4>治赤白痢通用恆驗方</h4>
<p>黃連　黃芩　白芍　當歸　陳皮　木香　枳殼　檳榔　山楂　神麯　三日內加硝黃下之虛者不可輕用宜酌之</p>
<h4>白痢方</h4>
<p>蒼朮　白朮　茯苓　神麯　甘草　黃芩　陳皮　枳殼　痛加檳榔七分木香三分氣行則痛止</p>
<h4>赤痢方</h4>
<p>生地　赤芍　黃柏　黃連　地榆　歸尾　丹皮　甘草　痛加陳皮檳榔各五分下痢口渴不止小便不通方滑石（二錢）　甘草（五分）　梔子　黃柏（六分）　澤瀉　生地　麥冬　車前　知母（各七分）　燈心二分</p>
<h4>治虛弱痢調氣血清邪熱常用效方</h4>
<p>人參　當歸　白芍　扁豆（各七分）　白朮　茯苓（各八分）　陳皮　甘草　黃連　實蓮肉　神麯（各五分）　黃柏（三分）</p>
<p>師曾治余月洲久痢打KT　發熱脈大用方藥不應自度丹溪治痢久發熱不退者屬陰虛今用血藥中加升藥必有效也遂用當歸（八分）　川芎（七分）　白芍（一錢）　生地（四分）　黃連（五分）　黃柏（四分）　白朮　茯苓（七分）　柴胡　升麻（各五分）　甘草　人參（七分）　知母（五分）</p>
<p>水煎服熱退KT　止但久痢必用黃</p>
<h4>治痢疾五六日發KT方</h4>
<p>人參（四分）　白朮（五分）　茯苓（六分）　甘草　黃連　黃柏（各三分）　歸尾　白芍（七分）　陳皮（八分）　青皮　蓮心　箬穗（各二分）　柿蒂師云痢疾發KT　由木挾相火直沖清道故發KT</p>
<p>黃連（十兩）　木香（二兩）　檳榔（二兩）　枳殼（一兩）　陳皮（一兩）連用吳萸酒炒木香不見火為末醋糊丸</p>
<p>木香　檳榔　青皮　陳皮　廣術　枳殼　黃柏　黃連　大黃（各一兩）　丑未　香附（各二兩）為末</p>
<p>痢疾初發服之即效　黃連（五錢）　檳榔　巴豆　木香（各一錢）　淡豉（一兩）研末水丸如小豆大朱砂為衣強人下十五丸弱人十丸</p>
<p>用田螺搗爛少加麝香少許納臍中引火上行</p>
<p>黃連（四兩吳萸酒炒）　枳殼（三兩麩炒）為末每服二錢酒下</p>
<p>治噤口痢不拘赤白赤痢用陳倉米三錢黃連七分　白痢用黃連三錢　倉米七錢　赤白相兼連米各五錢</p>
<p>細茶（四錢）　薑二錢治赤痢　細茶二錢薑四錢治白痢</p>
<p>治下純血（出保命集方見中風）　本方加黃連槐花御米殼等分水煎服</p>
<h4>治純血痢方</h4>
<p>苦參炒焦為末水丸梧桐子大米湯下五十丸</p>
<h4>治血痢方</h4>
<p>黃柏蜜炙老黃色研末每服三錢空心米湯下</p>
<h4>又治血痢方</h4>
<p>昔曹魯公痢血百余日國醫無能療者陳隹之取鹽水梅一個去核研合臘茶加醋湯沃服之一啜而瘥大丞相莊肅梁公亦痢血痢佳之曰此挾水穀當用三物散遂用胡黃連烏梅肉灶心土等分為末臘茶清調下食前服隨愈</p>
<h4>治濕熱痢久不瘥方</h4>
<p>黃連　烏梅（各四兩）</p>
<p>煉蜜丸桐子大每服三十丸又方（治同前張子和方）</p>
<p>白芍　黃柏（各五錢）</p>
<p>治噤口痢石蓮肉（晒乾）</p>
<p>每服一錢陳倉米飲調下便覺思食仍以日照東方陳壁土炒橘皮為</p>
<h4>又方治噤口痢</h4>
<p>真川連半斤　咀用生薑四兩切片與連同炒待薑焦黃色去薑只用黃連為細末同陳米飯搗爛丸如桐子大每服六七十丸赤痢陳米飲下白痢陳皮湯下赤白兼者兼用</p>
<h4>噤口痢正方法</h4>
<p>人參　薑炒川黃連（三錢）　土炒陳皮（一錢）　石蓮肉（一錢五分）　時與服之如吐又服大效</p>
<h4>治休息痢神效方</h4>
<p>當歸　烏梅　川連等分為末以生蒜汁丸如桐子大空心薑製厚朴湯下三十丸立效駐車丸　治一切下痢川連（三兩）　乾薑（五錢）　當歸　阿膠（各一兩五錢蛤粉炒）</p>
<p>醋熬膏共</p>
<p>治痢疾發熱發渴細芽茶（一兩）　烏梅（五錢）</p>
<p>上為細末蜜搗作丸如彈子大每服一丸熱水下凡治痢疾初起不得服參朮五七日後酌虛實用之痢疾後多飲食致遍身浮腫者以大安丸作煎藥與服一二劑即止</p>
<p>治痢疾惡寒發熱身頭俱痛（方見瘟疫）</p>
<p>治去汗血而推蕩邪熱</p>
<p>治痢疾陰血虛</p>
<p>治氣血兩虛（方俱見中風）　即八珍湯</p>
<p>治久痢溜連之火不息久服諸藥不效者服此收功川連（八分）　白芍　當歸　生地　烏梅（各五錢）</p>
<p>上五味和為末用雄豬肚一個去油淨以上藥入肚內以線縫之將韭菜一斤上下蓋之入鍋內蒸湯干又添水以極爛為度取肚藥入石臼搗爛為丸如桐子大每服七十丸薑湯吞下即行茶清送下即止能行能止故名通玄能治積聚侵晨薑湯下稍行一二次即除再用溫粥補之如久瀉不止用清茶服之即止</p>
<p>錦紋大黃（五斤竹刀切碎放砂鍋內無灰酒煮三晝夜桑柴文武火勿使焦枯酒干再加約酒六七十斤）　厚朴（薑汁浸炒末一斤半）　廣木香末（六兩）</p>
<p>三味共入臼搗千捶為丸綠豆大不論虛實日久寒俱淡薑湯下大人二錢小兒一錢極重者二服即</p>
<h3>嘔吐</h3>
<p>有聲有物謂之嘔有物無聲謂之吐俱屬於胃治吐當分三焦上焦在胃口吐者皆從於氣其脈浮而洪其症食已即吐渴欲飲水大便燥結氣上衝胸作痛治當降氣和中用和中桔梗湯中焦在中腕吐者皆從於積食與氣相假為積而痛其脈浮而長其症先痛後吐或先吐後痛治法當用毒藥去其積木香檳榔行其滯當用保和丸下焦在臍下吐者皆從於寒其脈沉而遲其症朝餐暮吐暮食朝吐小便清利大便秘而不通治法當通其秘塞溫其寒氣令大便漸通復以中焦藥和之溫劑如吳萸乾薑砂仁之類外有胃熱胃寒胃虛痰氣之不相同胃熱嘔吐者得食即嘔食已即吐由於火氣上炎二陳東加薑炒芩連胃寒吐者二陳東加丁香砂仁生薑胃虛吐者久病氣虛胃氣衰弱脈微聞穀氣即嘔穢六君子加藿香厚朴痰氣吐者清痰留飲鬱滯上中二焦二陳東加竹瀝枳實薑汁嘔吐通用大小半夏茯苓湯傷寒凡見吐噦切勿用承氣以逆之故也有聲無物謂之噦少陽主之也以少陽多氣少血之經有物無聲謂之吐太陽主之也以太陽多血少氣之經有聲有物謂之嘔陽明主之也以陽明多血多氣之經胃熱者脈數或緊口苦舌乾燥胃寒者脈弦而遲逆冷不食大小便自利</p>
<h4>和中桔梗湯</h4>
<p>治上焦氣熱上衝食已暴吐脈浮而洪宜先和中半夏曲（二錢）　枳實　茯苓　陳皮　厚朴（各一錢）　桔梗　白朮（各一錢五分）水煎去渣取清汁調木香散二錢</p>
<h4>木香散</h4>
<p>木香　檳榔等分為末聽前藥入用</p>
<h4>保和丸</h4>
<p>（方見內傷）</p>
<h4>二陳湯</h4>
<p>六君子湯（方俱見中風）</p>
<h4>茯苓半夏湯</h4>
<p>治脾胃虛弱身體重有痰惡心欲吐當先實其脾土白朮　茯苓　半夏　炒曲（各一錢）　橘紅　天麻（各七分）　麥芽（一錢六分）　薑一片熱服</p>
<h4>藿香安胃散</h4>
<p>治胃氣虛弱不能飲食時嘔惡心藿香　人參　陳皮（各一錢）　丁香（五分）</p>
<h4>藿香平胃散</h4>
<p>治內傷外感飲食填塞太陰嘔吐不止藿香　厚朴　陳皮（各一錢）　蒼朮（一錢五分）　神麯（五分）　炙甘草　砂仁　薑三片棗二枚</p>
<h4>胃苓湯</h4>
<p>治脾胃傷冷（方見泄瀉）</p>
<h4>加味二陳湯</h4>
<p>治胃中有熱膈上有痰令人作嘔吐陳皮　半夏　茯苓　甘草　山枝　川連　薑等分水煎</p>
<h3>膈噎</h3>
<p>內經曰三陽結謂之膈以大小腸膀胱熱結也小腸熱結則血脈燥大腸熱結則不能圊膀胱熱結則津液涸三陽既結則前後秘塞而不通下既不通必反而上行此膈噎之病所由起也先哲論膈噎反胃大率由於血液俱耗胃脘俱稿分上中下三焦或咽喉窒塞水飲可下食不能下其稿在吸門或食稍下則胃脘當心而痛須臾吐出其稿在賁門此上焦之噎也名曰噎或食物可下良久復出其稿在齒門此中焦之膈也名曰膈或朝餐暮吐暮食朝吐其稿在蘭門大小腸之間此下焦之膈也名曰反胃然名雖不同病出一體其得病之由有氣虛有血虛有痰有七情拂鬱及大怒肝火沖逆而成者氣虛脈緩而無力用四君子湯血虛脈數而無力用四物湯並加行痰順氣潤燥之劑痰者寸關脈必沉而滑或伏而大二陳東加竹瀝薑汁拂鬱腦怒氣結滯者寸關脈沉而澀或緊而弦宜開痰導氣之劑桔梗和中湯七氣湯進之所謂朝食暮吐暮食朝吐者此由胃能容受脾不能轉送或下竅不通逆而上行故也宜潤腸丸通利大便大法通用童便韭汁竹瀝薑汁牛乳羊乳更宜薄滋味不可聽用局方及用香燥熱藥丹溪先生專以牛羊乳養血潤燥為主竹瀝童便韭汁為佐有至理存焉醫案宜玩膈有五憂　恚　氣　寒　熱噎有五氣　憂　勞　食　思</p>
<h4>膈噎不治症</h4>
<p>糞如羊屎者不治　年高者不治　氣血俱虛則口中多沫沫大出者不治四君子治氣虛　四物治血虛</p>
<p>（三方俱見中風）</p>
<p>治怫鬱（方見嘔吐）</p>
<p>治氣膈噎乾薑　桂心　黃芩　半夏　甘草　橘皮　地黃　白芍（各二錢）　枳實（半斤）　人參（一錢）　吳萸（半勺）　加薑棗</p>
<p>治胸噎胸中不利大便燥結痰咳喘滿脾胃壅滯推陳致新治膈氣之聖藥也木香　檳榔（各七錢五分）　人參　當歸　甘草　藿香　枳實（各一兩）　大黃　厚朴（各九錢）為末滴</p>
<p>通其大便則氣得下行（方見燥症）</p>
<h3>KT逆</h3>
<p>內經曰歲金大過咳逆金鬱亦發KT　逆活人書及千金方明理論皆以噦即KT　逆殊不知噦者聲大而遠可聞KT　逆者聲短而近方聞噦者出聲也噦出其氣噦聲盡然後吸KT　逆者入聲也氣抑不出逆聲盡然後呼也況噦出胃而逆由於肺惡可比而同之乎故易老云火熱急奔上行而肺經不納致聲不盡出東垣以少陽少血多氣故乾嘔為噦二公言KT　言噦甚明何惑之有丹溪云諸逆衝上皆屬火以木相火直沖清道故此症屬火為多自今觀之然亦有數者之不同焉有飲食過急痰氣阻滯不得升降者亦有痰結胸臆火充於下不得升越者亦有傷寒吐汗下大過以致中氣大虛者亦有陽明內實而失下者亦有渴而飲水過多成水結胸者亦有痢疾大下之後胃氣已虛而陰火乘虛上衝清道者治法宜各審虛實寒熱毋誤以治噦實症混淆妄治數症中惟傷寒痢疾二症胃氣虛衰至為危重差之毫厘危在旦夕更宜慎之</p>
<h4>痰氣遏食不得下行方</h4>
<p>枳實　陳皮　半夏　山楂（各一錢）　茯苓（八分）　神麯（七分）　砂仁　蘿卜子　香附（各五</p>
<h4>痰結胸膈火熱上衝不得伸越方</h4>
<p>半夏（一錢）　陳皮　貝母　茯苓（各八分）　片芩　桔梗（各七分）　只殼　蘇子　黃連（各五分）　白蔻仁　甘草（各三分）　薑三片</p>
<h4>傷寒汗吐下太過致胃氣虛衰方</h4>
<p>人參　黃　（各一錢）　當歸　白朮（各八分）　升麻（二分）　黃柏　香附　陳皮（各五分）　柴胡　甘草（各三分）　如KT　不止加柿蒂（二錢）　薑二片棗二枚（大承氣湯調胃承氣湯）　治傷寒陽明內實失下（方見瘟疫）宜選用內加炒蓮心（一錢）</p>
<p>薑二片</p>
<p>治傷寒飲水過多成水結胸發呃　黃連（一錢三分）　半夏　栝蔞仁（各二錢五分）</p>
<p>（去麻黃）　治水結胸發KT　方見咳嗽</p>
<h4>痢疾日久胃氣發KT方</h4>
<p>人參　青皮（各七分）　白朮　白芍　柿蒂（各一錢）　茯苓（八分）　黃柏　箬穗（各五分）　當歸（四分）　甘草（三分）薑一片棗二枚</p>
<p>治久痢發KT　黃柏（不拘分兩為丸）以人參　白朮湯下一錢二分</p>
<h3>吞酸吐酸</h3>
<p>大抵酸者俱肝水之氣而吞與吐不同吞酸者酸水攪至喉嚨而復自吞下俗說醋心是也濕熱積於肺胃之間乃寒包熱症也治法當用河間解表之義防風羌活炒黃連山梔蒼白朮陳皮半夏少加吳萸為向導吐酸者吐出酸水如醋挾痰居多乃津液為火所爍不化血而化痰痰鬱水亦郁自成酸矣一遇上升之氣則痰與水並出蓋未有酸水而無痰也治法當宗丹溪二陳東加梔子薑炒黃連蒼白朮之類亦可加吳萸為引經凡治酸必少用吳萸蓋因其性而折之也通用加平胃散老弱人久患吞酸則津液消耗漸成膈噎又有老人胃氣虛弱口吐酸水不止者以六君子湯補之其吐自愈此挾虛之症也</p>
<h4>二陳湯</h4>
<p>治吐酸挾痰</p>
<h4>加味平胃散</h4>
<p>治宿食不化吞酸呃臭右關脈滑蒼朮　陳皮　厚朴　甘草　神麯　麥芽加薑棗</p>
<h4>六君子湯</h4>
<p>治胃虛吐酸</p>
<h4>藿香安胃散</h4>
<p>吳萸丸　治胃中濕熱抑遏肝火令人吞酸黃連（一兩）　黃芩　吳萸　陳皮（各九錢）　蒼朮（五錢）老米糊丸桐子大</p>
<h4>吳萸天水散</h4>
<p>治濕熱吞酸滑石（六兩）　吳萸（七錢）　甘草（一兩）為末每服二錢</p>
<h3>嘈雜噯氣</h3>
<p>嘈雜者俗說心嘈是也其症由火動其痰乃有餘之症也老人嘈雜不止則膈噎之漸也治法宜半夏南星陳皮之類消痰片芩梔子薑炒黃連知母石膏三補丸輩以降火蒼白朮白芍茯苓薏仁之類健脾行濕壯其本源更宜慎口節欲無不效者噯氣者即俗呼攪氣是也與呃逆不同其症有氣虛有痰火一屬不足一屬有餘治痰火宜二陳加芩連白朮枝貝少加蘿卜子檳榔枳實厚朴木香降氣治氣虛者宜四君子東加山梔黃連神麯半夏砂仁亦少加降氣藥通用三聖丸至驗</p>
<h4>加味三聖丸治嘈雜吞酸痞滿屢效</h4>
<p>白朮（二兩）　川連（一兩）　陳皮　半夏曲　白芍（各七錢）</p>
<p>若胃脘上下有塊加莪朮三菱以銷堅白朮（二兩五錢）　茯苓（一兩五錢）　扁豆　陳皮　貝母　神麯（各一兩）　半夏曲（一兩三錢）　川連（九錢火盛諒加）　蘿卜子（八錢）　木香　砂仁（各五錢）　枳實（七錢）</p>
<p>治痰因火動令人嘈雜海石　南星　栝蔞仁　青黛　枝子　香附　蒼朮　川芎</p>
<p>治鬱火嘈雜黃芩　黃連　黃柏（各一兩）　香附　蒼朮（各七錢）　沸水丸</p>
<p>治嘈雜　陳皮　半夏　茯苓　甘草　黃連　山梔</p>
<h3>痞滿</h3>
<p>內經曰太陰所至為積飲痞膈痞者否也不通之義其症由陰伏陽蓄氣血不運而成位於心下填滿痞塞皆土為害也痞滿之症不一有陰症下早而痞者由下後裡虛邪氣乘虛而入於心之分野仲景黃連瀉心湯瀉心下之土邪有傷寒下多則亡陰而痞者用四物加參苓白朮升麻柴胡少佐以陳皮枳殼監之有食填胸而作痞者用保和丸枳實導滯丸二陳加神麯山楂麥芽有濕熱太甚土來心下痞者三黃瀉心湯二陳加芩連栝蔞有大病後脾胃虛極清濁不分痞悶者補中益氣湯陳皮枳朮丸木香枳朮丸凡治痞悶須用芩連枳實苦以泄之厚朴生薑半夏辛以散之人參白朮溫以補之茯苓澤瀉淡以滲之又當詳脈症虛實虛用白芍陳皮參朮實用厚朴枳實與脹滿不同脹滿者內脹而外有形痞症內覺痞悶而外無脹急之形治痞滿不可全用利藥若全用利藥導之則痞愈甚痞甚而復下氣愈不降必變為中滿鼓脹皆非其治也許學士云邪之所湊其氣必虛留而不去其病則實故治痞者當一補一消</p>
<h4>三黃瀉心湯</h4>
<p>治心下痞按之濡其脈關上浮者可服此湯惡寒不可服大黃　黃連　黃芩</p>
<h4>二陳湯</h4>
<p>方見中風</p>
<p>治飲食填塞痞膈方見內傷</p>
<p>方見內傷</p>
<p>方見內傷</p>
<p>木香枳朮丸　方見痢疾</p>
<p>治脾胃虛弱心腹脹滿疼痛時作時止厚朴　陳皮　乾薑（各一錢）　茯苓　草豆蔻　甘草　木香（各五分）</p>
<p>治心下虛痞惡食懶倦右關脈弦人參　白朮　厚朴　半夏曲（各三錢）　枳實　川連（各五錢）　茯苓　甘草　麥芽　干生薑（各二錢）</p>
<p>治一切心下痞及年久不愈者干生薑　神麯　炙甘草（各二錢）　豬苓（一錢五分）　澤瀉　砂仁　厚朴（各三錢）　半夏陳皮　人參（各四錢）　枳實（五錢）　黃連　黃芩　薑黃　白朮（各一兩）　共末湯浸蒸餅為丸桐子大空心米湯下六十丸</p>
<p>治憂氣鬱結腹皮裡微痛心下痞滿不思飲食此氣痞也木香　生薑　陳皮（各六分）　柴胡（七分）　歸尾　枳實（各四分）　半夏（一錢五分）　紅花（二分）　草豆蔻　炙甘草（各一錢）水煎溫服</p>
<p>除胸中熱利膈上痰生黃芩　炒黃芩（各一兩）　半夏　黃連　澤瀉　蘿卜子（各五錢）　膽星　枳殼　陳皮（各三錢）　白朮（二錢）　白凡　小皂角（各一錢）</p>
<p>共末薑汁老米糊和丸</p>
<h3>腫脹</h3>
<p>論曰腫者肌肉之腫脹者腹中之脹蓋腫屬脾脹屬肝腫輕而脹重也如單脹而不腫則肝氣橫行木專克土蠱斯成矣不易治也惟腫脹兼有則陽氣尤行十可救五惟在分類而酌處之子以此症治在中宮是故有痰汗血以致營氣不從逆於肉裡而成之者有痰裡食積致清氣不升濁氣不降而成之者有濕熱相生隧道阻塞而成之者有燥熱沖擊結秘不行而成之者此四者皆有餘之症也有服寒涼太過飲食頻傷致中氣虛衰郁遏不運而成之者有痢疾後正氣衰憊邪熱不息致遍身浮腫肉硬而成之者又有始則為氣終則為水小便不利水液游行脾莫能制而為水腫者此三者皆不足之症也故有餘者清之消之降之不足者補之益之毋混淆也大抵此病初起易治以正未虛而邪未旺久遠難痊以邪已熾而正已衰賈洛陽以病腫不治必為痼疾雖有盧扁亦莫能為言此症之至惡也故仲景治腫之法腰以上腫者可發汗腰以下腫者可利小便開鬼門潔淨府蓋風從汗散水向便通也丹溪亦曰由心腹而散四肢者吉由四肢而入心腹者危男從下而上女從上而下皆難治也丹溪又有陽水之說此乃燥熱為之陰水之說此乃濕熱為之也腫脹諸症不既悉此乎</p>
<h4>治腫脹大法</h4>
<p>凡見病者肚腹脹大遍身浮腫即尋中脘有微塊按之微痛或喘急咳嗽飲食不快小便不通大便或秘或溏此痰裹食積滯中宮也即用大順丸和中湯消積化痰順氣以攻治之數劑知半月一月愈矣此症醫書俱未言及予經歷已多十愈八九故立此方以救世耳大抵腫症為食積而成食滯中焦故清濁不分漸成腫脹世之醫者得吾說而存之則百發百中矣</p>
<p>濕熱者中焦濕生乎熱熱生乎濕濕熱相生隧道壅滯遂成腫脹治宜清熱燥濕健脾故立清中湯尤所</p>
<p>凡中焦有稠痰氣為痰阻遂成鬱熱痰熱相搏日積月累阻滯飲食宗氣不得上通營衛不得疏暢漸成</p>
<h4>腫症余論挾水腫論</h4>
<p>人得以全其性命者水與穀而已水則腎生之穀則脾主之胃與脾合氣胃為水穀之海脾為運化之司今脾胃兩虛不能傳化則不能制水故腎水泛溢反得以侵脾土於是三焦停滯經絡壅塞水浸於皮膚注於肌肉而發腫矣其狀自泡上下微起肌體重著咳嗽怔忡股間清冷小便澀黃皮薄而光手按成窟舉手即滿此水腫之病也然腫有五症風腫者皮粗麻木不仁走注疼痛四君子加升麻蒼朮柴胡防風羌活輩氣腫者皮濃四肢瘦削腹脅膨脹六君子加木香木通血腫者皮間有紅縷赤痕四物加桃仁紅花婦人懷妊亦有氣遏水道而虛腫者此但順氣安脾既產而腫自消也水有十有心水肝水脾水腎水肺水膽水大腸水風水皮水裡水石水之不同丹溪亦曰水腫脈多沉伏病陽水兼陽症脈必沉數其症煩滿小便赤澀大便秘結治用五皮飲五芩散重者疏鑿飲病陰水兼陰症脈必沉遲其症不煩滿大便溏小便少而不赤澀治用實脾飲木香流氣飲腰以上腫及身有熱者水氣在表可發汗腰以下腫者當利小便上下分消其濕此治水之良法也丹溪曰水病以健脾為主使脾氣得實而氣運則水自行非五芩神佑禹功之行水也宜以參朮為君視所挾症加減無不效者若苟圖快利用行水藥多致不救信哉</p>
<p>治痰裡食積腫脹蘿卜子　連翹（五錢）　山楂肉（二兩）　廣術（四錢）　陳皮（七錢）　砂仁（五錢）</p>
<p>赤茯苓　神麯　半夏　白朮（各一兩）老米糊丸每服一錢二分小兒減半</p>
<p>白朮　陳皮　桑皮　赤茯苓　白蔻仁　連翹　茯苓皮　莪朮　蘿卜子　半夏　山楂神麯　薑二片　氣虛加人參（五分）　氣滯加香附（五分）　熱甚　加黃芩（五分）　喘加蘇子（三分）</p>
<p>治水腫腰以上者微汗之（方見瘟疫）</p>
<p>（方見中風）</p>
<p>山楂　酒曲　赤茯　半夏　陳皮　砂仁　蘿卜子　連翹　枳實　白朮　薑三片</p>
<p>（方見內傷）</p>
<p>治痰裡汗血腫脹紅花（三錢）　蘇木（五錢）　桃仁　陳皮　半夏曲　貝母　香附　山楂　白朮　五靈脂（各一兩）　薑汁打曲糊丸</p>
<p>治濕熱相生腫脹　蒼朮　白朮　赤茯　山楂（各一錢）　黃芩　黃連　澤瀉　陳皮（各七分）　半夏　海金砂（各八分）　連翹（五分）　厚朴（三分）　滑石（一錢五分）　薑二片煎</p>
<p>治浮腫太甚肚腹腫急小便不行喘急難息茯苓皮（一錢五分）　桑白皮　陳皮（各八分）　大腹皮　山楂（各一錢）　梔子（七分）　生薑皮（五分）加薑棗同煎或兼用大順丸</p>
<p>壯實宜服虛弱人不可輕用白丑（頭末四兩半生半炒）　白檳榔（一斤）　茵陳　莪朮　三棱　牙皂角（各五錢）</p>
<p>上末醋糊丸如綠豆大五更時冷茶送下三錢行後隨以溫粥補之忌食他物</p>
<p>治中滿氣脹鼓脹水脹人參　蘿卜子　陳皮　厚朴　豬苓　澤瀉（各三錢）　白朮　茯苓　黃連　蒼朮　半夏枳實（各四錢）　薑黃　炙甘草　砂仁　乾薑（各一錢）　黃芩　山楂（各五錢）水浸蒸餅丸淡薑下二錢</p>
<p>治痰氣腫脹　陳皮（八分）　茯苓　白朮　半夏（各一錢）　枳實　蘿卜子（各分）　砂仁　木香（各二分）　生甘草（三分）　片芩（六分）　貝母（七分）　香附（四分）如虛加人參五分薑一片棗二枚</p>
<p>治寒涼太過飲食頻傷又治瘧疾後腫脹白朮　茯苓　半夏（各一兩）　陳皮　蘿卜子　連翹　砂仁　片芩　花粉（各五錢）　香附（四錢）　貝母（八錢）　木香（三錢）　烏藥（四錢）　山楂　枳實（各七錢）蒸餅丸蘿卜湯下一錢五分加酒曲八錢</p>
<p>治血腫當歸　川芎　白芍　生地　桃仁　紅花　五皮飲（即前方中五皮是也）</p>
<p>治下體水腫利小便也（方見瘟疫）</p>
<p>治水氣遍身浮腫喘呼氣急煩渴大小便不利澤瀉　赤小豆　商陸　羌活　椒目　木通　大腹皮　秦艽　茯苓皮　檳榔（等分）　薑二片</p>
<p>治水氣肌膚浮腫口不渴大便潤小便利此陰水也草果　木香　木瓜　乾薑　甘草　厚朴　附子　白朮　茯苓　大腹皮　加薑棗同煎</p>
<p>木香　檳榔　青皮　半夏　茯苓　枳殼　桔梗　當歸　白芍　防風　川芎　紫蘇　枳實黃</p>
<h3>鼓症</h3>
<p>鼓症者中空外急有似鼓然故名曰鼓單腹脹滿四肢百體咸無腫形與通身水腫者大不相同蓋水腫者邪氣挾陽氣游行一身邪氣去而為汗為溺則正氣復而為血為氣矣鼓症則邪氣專攻臟腑陽氣滯而不行蓋浮腫者輕而腹脹者重也或云鼓症一也河東垣之論主寒河間之論主火丹溪之論主脾虛道豈二乎哉予曰皆是也其原皆出內經但內經會其全而三子各言其一也經云臟寒生滿病又云腹滿填脹又膈　脅下厥上冒過在太陰陽明乃寒濕鬱遏也愚謂寒鬱日久則陽氣漸微陰氣獨盛人身之氣熱則流通寒則凝結凝結則脹滿生焉故東垣以辛熱散之以苦溫泄之淡滲利之上下分消其寒濕此東垣之論所以不可廢也經云諸腹脹大皆屬於熱故原病式云腹脹大鼓之如鼓氣為陽陽為熱氣盛則如是也世言脾虛不能制水者似是而實非也愚謂萬物熱盛則豈隆寒盛則斂縮邪陽猛烈元氣從之二陽摶擊於其中日新月盛安得不成鼓也此河間之論不可廢也經云諸濕腫滿皆屬脾土故丹溪以脾具坤靜之德而有干健之運苟脾土之陰受傷轉輸之官失職遂成脹滿經云鼓脹是也愚謂一人之身脾土為本脾不健旺則清氣不升濁氣不降經云濁氣在上則生填脹此鼓脹之由來也若中無陽邪宜行大補所謂氣虛不補氣何由而行是也又清肺金滋腎水制肝養脾皆至理攸寓此丹溪之論所以不可廢也雖然三子之論固合經旨抑有說焉東垣言鼓症屬寒者多屬熱者少惟人受八益之邪邪熱入腑宜行承氣余皆寒症愚則以為受熱者多而屬寒者少東南之人濕熱為病十居八九此可驗矣西北之地嚴寒為病固多而未必皆成鼓也以寒主收斂而未必皆成脹大者也以此理論之而知其熱多寒少也河間之論熱固然但其中有燥熱有濕熱若不區別禍如反掌燥熱為病則大便秘結小便短澀身熱腹痛悶亂不寧一受參耆則脹滿不數日而成其為害也速而烈濕熱為病則大便頻溏小便清少脈濡體倦嗜臥減食其為患緩而深故治燥熱者清熱之中少加潤澤治濕熱者滲利之內少加溫散故曰燥者潤之濕者燥之各求其屬以合中道斯稱良工矣丹溪補脾扶脾之論域中稱為確論但果其飲食所傷頻仍不已上無痰氣之阻中無邪陽之留斯可用大補之法否則有痰者兼清痰有火者兼降火庶清補兼施益莫大焉此外又有七情之傷脾如怒傷肝肝克脾脾氣不正必脹於胃名曰勝克怒乘肺肺氣不傳必脹於大腸名曰乘克是也又有勞倦之損脾如遠行形氣衰少穀氣不盛熱氣熏胸中者是也又有血積之遏脾或注於胸膈或滯於胃中或郁於小腹皆能遏郁清氣不得上升濁氣不得下降俗名血鼓是也鼓症重疾每見模糊施治但執丹溪扶脾補脾之說而始終不變焉損人滋甚愚故不憚其煩而精詳究之博雅君子幸精研焉</p>
<h4>鼓症有不治數症</h4>
<p>唇黑則傷肝缺盆盈平則傷心臍突則傷脾足平則傷腎背平則傷肺此五者必不可療也</p>
<h4>治鼓症大法</h4>
<p>鼓脹起於脾氣虛損治之當補以培其本少加消導以祛其積次當順氣以通其滯有挾熱者加清涼以蕩其邪使清氣上升濁氣下降清者出頭面而入四肢濁者化微汗而行前溺腹日消而神日旺病斯愈矣如單大補而佐使不明反成壅滯則脹愈甚矣大抵此症脾雖損而無熱以擾之則一補脾而獲效熱雖有而脾未損則一清熱而奏功如二者兼有治彼妨此治蠱之所以難也予曾見休寧一人脾氣稍損尤能飲食第腹痛而暴脹予審知其為火遂以香連丸下之又進白朮湯隨失氣甚多而脹痛皆愈一醫至大言曰此脾氣大虛非大補則真元下陷不治與補劑二三服而脹痛兼作脈反虛小尤曰脈小不補詎能瘳乎乃大補之竟成不救又見北鄉一人腹痛兼吐予亦知其為火與清涼藥降氣和中病尋愈矣一醫云真氣大虛非大補不可自後愈補愈脹腹如烈狀頓死由是觀之則治是病者清補當適其宜不可執一自是昔人所謂氣虛者補氣血虛者補血有食積者消積有挾熱者清熱有痰滯者行痰有因外寒鬱內熱者而脹則散寒有因大怒郁氣脹者散氣有畜血而腹脹者行血實者消之下之虛者補之溫之差之毫厘謬以千裡可不畏哉　或謂丹溪云朝寬暮急血虛當補血切聞蠱脹用血藥則加脹今用之何也予曰血虛者陰血也經曰陰虛生內熱又曰諸腹脹大皆屬於熱熱作則脹生勢所必至也養血者養陰也陰生則邪陽自退脹漸消矣劉河間所謂養血益陰其熱自退此不治之治也且養血非獨用血藥也必兼健脾順氣血藥安得滯乎此養血補血理也故立此方屢驗如實熱作脹內有積塊堅硬如石但脾胃未傷宜清熱行氣服加減東垣廣茂潰堅湯中滿分消丸　鼓症有服人參反增劇者遂至不救此症甚多茲其故何哉按人參入乎太陰肺經肺有邪熱者得參而火愈甚故脹急日加筋青臍出危篤立見經云肺出氣腎納氣邪火挾氣而出脾胃先受之以脾胃舊有積氣今得新邪宜脹滿之益甚也故脹症必服人參人參之服必生肺熱肺熱不能服參不救之症也</p>
<h4>治鼓症用效方</h4>
<p>治脾大虛損脹大日加宜服此方白朮　赤茯苓皮　薏仁（各一錢五分）　人參（一錢二分）　茯苓（一錢）　蒼朮（八分）　陳皮（七分）　枳實　厚朴　熱加黃連　渴加麥冬（各五分）　痰加半夏（六分）　蘿卜子（四分）　白蔻仁（三分）　臨臥加磨木香（一分）水二鐘煎</p>
<p>人參　白朮（各一兩五錢）　白茯（一兩）　枳實　山楂　陳皮（各五錢）　白蔻仁（四錢）　蘿卜子（三錢）　蒸餅為丸如桐子大朝暮米湯下一錢二分</p>
<p>治中滿腹有積塊堅硬如石坐臥不寧二便澀赤上氣喘促通身虛腫厚朴（四分）　黃芩（五分）　益智　草蔻仁　升麻　紅花　甘草（各二分）　當歸　黃連（各五分）　廣術　陳皮　柴胡　澤瀉　神麯（各三分）　白朮　茯苓（各一錢）　半夏（七分）吳萸（一分）青皮</p>
<p>治濕熱太甚水腫腹脹小便赤澀大便滑瀉此藥下水濕消腫脹止瀉利小便葶藶子　茯苓　豬苓　白朮（各二錢）　澤瀉　木通　甘草　滑石（各三錢）　桂　木香（各三分）</p>
<p>人參　茯苓　豬苓　澤瀉　厚朴（各三錢）　白朮　黃連　枳實　知母　半夏（各四錢）　黃芩（五錢）　炙甘草（一錢）　砂仁　薑黃　乾薑（各二錢）</p>
<h4>治鼓症方</h4>
<p>白芍（一錢七分）　蘇子　香附（各一錢）　厚朴（六分）　陳皮　枳實　黃連　蘿卜子（各七分）</p>
<h4>附腫脹鼓症不同論</h4>
<p>腫蠱二症本不相同至用藥亦迥異腫脹者因中宮有食積有濕熱有稠痰阻滯致清氣不升濁氣不降營衛不得疏暢水道不得通條氣遂忘行不循故道水又忘潰不得成溺氣水相薄腫脹自是而生焉然脾胃元陽猶未衰憊也特中宮有積病故遍身浮腫耳而元氣猶能旁通四達苟或祛其食積或清其燥熱或治其痰內邪一行外腫隨徹效亦甚捷矣非若蠱脹者先因脾氣傷損頻仍久則漸成衰憊胃雖少納脾失轉運兼積熱留注脾胃橫行中焦所謂正者衰邪者旺清濁不分遂成脹滿此則陽氣為邪氣所遏不得周流一身而邪氣單攻肚腹是也脹極則臍中突出青筋暴起糞滑溺赤喘急食阻此大不足之症也斯時也將大補脾之正氣歟然正未受補而邪熱先熾脹猶故矣將清熱以伐邪歟然邪未退而正愈虛弱脹益增矣將補伐兼施歟然益者未見而損者愈損矣雖有盧扁將安施乎故得此症者或脾氣雖損而真氣猶存且無留連之邪熱或腹稍脹而邪熱未熾尚有可為之真機即當大補其真元為主稍兼消導清肺次之氣不運者行氣痰積滯者行痰中和調養庶可救矣或謂水腫固為可治然亦有多不治者如賈洛陽所謂病腫不治必為痼疾雖有盧扁亦莫能為則知腫之為患非他病比也今何觀之易耶予謂凡病已見危篤咸莫能療豈獨腫脹然哉故內經云過時者不治予所謂可治者亦指治之早者言也若積久不治或治不中節至於滑泄唇黑臍突肉硬缺盆手足掌背俱平其危篤之勢較之真蠱一律而已仲景云凡人有疾不時即治隱忍冀瘥必成痼疾</p>
<h3>積聚痞塊症瘕癖腸石瘕</h3>
<p>氣之所積名曰積取鬱積久而發之義也積有五皆五臟所生陰氣陰脈沉而伏其症始發有常處其痛氣之所聚名曰聚取聚散不常之義也聚有六皆六腑所成陽氣陽脈浮而動其始終無根本痛發無定位上下無留止積與聚屬脾部俱系氣病痞者否也易所謂天地不交濁氣在上凝結而成然痞塊有症瘕之不同症者征也因物而成質有塊可征即積聚成塊不能移動瘕者假也假物而成形或上或下或左或右移易能動者症瘕屬肝部系血病癖者懸掛偏僻之意也但痞與　癖乃胸膈間之候積聚為肚腹之候俱在上中二焦主病多屬於男子症與瘕獨見於臍下是為下焦之疾故常得於婦人外有腸癉石瘕二症亦自婦人得之腸者大腸也　者延也大腸以傳導為事乃肺之腑肺主衛氣氣溫則泄氣寒則凝今寒氣客於大腸故衛氣不榮而結瘕在內其始發也大如雞卵至其成如懷子狀久久按之堅推之則移然氣病而血未病故月事不斷尤以時下是其候也石瘕生於胞中寒氣客於子門夫膀胱為津液之腑氣化則能出今寒氣客於子門則氣塞不通惡血當瀉不瀉日以益矣狀如懷子結硬如石故名石瘕此氣先病而血後病故月事不來也丹溪曰痞塊在中為痰飲在右為食積在左為死血又曰凡積塊不可專用下藥徒損真氣病亦不去當消導使之熔化塊去須大補大抵脾胃乃積聚痞塊之根宜以大補脾胃為主脾胃一旺則邪氣自消故張潔古有養正積自除之說譬之滿座皆君子其中小人自無容地而出信斯言也治法痰宜二陳加瓦龍子食積保和丸死血用破血行血順氣藥通用七氣湯貼藥三聖膏琥珀膏難經所載五積見症及東垣五積丸並宜參究</p>
<h4>五積見症</h4>
<p>肝之積名曰肥氣在左脅下如覆杯有頭足久不愈令人發咳逆疾瘧連歲不已心之積名曰伏梁起臍下大如臂上至心前久不愈令人煩心脾之積名曰痞氣在胃脘右側覆大如盆久不愈令人四肢不收發黃膽飲食不為肌膚肺之積名曰息腎之積名曰奔豚在小腹上至心下若豚狀或上或下無時久不愈令人喘逆骨痿少氣脈經曰脈來細而附骨者積也凡痞氣在皮裡膜外須用補氣藥及香附開之兼二陳湯先須斷濃味為要凡婦人腹中有塊多屬死血</p>
<p>治肝積厚朴（五錢）　黃連（七錢）　柴胡（一兩）　川椒（四錢）　乾薑　巴豆霜（各五分）</p>
<p>川烏（二分）　皂角　茯苓（各一錢五分）　廣術　人參（各二錢五分）　炙甘草　昆布上除茯苓皂角巴豆霜另研末外諸藥共研勻蜜丸桐子大初服二丸日加一丸二日加二丸漸至大便微溏再從二丸起加服之周而復始積減大半勿服</p>
<p>治心積黃連（一兩五錢）　厚朴（五錢）　黃芩（三錢）　桂枝　茯神　丹參（各一錢）　乾薑菖蒲　巴豆霜　紅豆蔻　川烏頭（各五分）</p>
<p>上除豆霜另研余共和勻蜜丸桐子大如上法用淡黃連湯下</p>
<p>治脾積厚朴（四錢）　黃連（八錢）　茱萸（三錢）　黃芩　白朮（各二錢）　茯苓　人參　澤瀉（各一錢）　川烏　川椒（各五分）　茵陳　乾薑　砂仁（各一錢五分）　巴豆霜　桂（各四分）</p>
<p>上除豆霜茯苓另研余和勻蜜丸桐子大服如上法淡甘草湯下</p>
<p>治肺積　厚朴（八錢）　黃連（一兩三錢）　乾薑　茯苓　川椒　紫菀（各一錢五分）</p>
<p>川烏　桔梗　白蔻仁　陳皮　三棱　天冬　人參（各二錢）　青皮（五分）　巴豆霜（四分）</p>
<p>上除茯苓巴豆霜另研余和勻丸桐子大照上法淡薑湯下</p>
<p>治腎積厚朴（七分）　黃連（五錢）　茯苓　澤瀉　菖蒲（各二錢）　川烏　丁香　巴豆霜（各五分）　苦楝根（三錢）　玄胡（一錢五分）　蛉蠍　附子　獨活（各一錢）　肉桂（一分）</p>
<p>淡薑湯下研服如上</p>
<p>治氣結不散心胸痞痛逆氣上攻分氣逐風功莫盡述枳殼　木通　青皮　陳皮　桑皮　卜子　白丑　黑丑　廣術　茴香　三棱等分為末薑汁面糊丸桐子大橘皮湯下三十丸</p>
<p>治婦血塊如盆有孕難服峻藥香附（四錢）　桃仁　白朮（各一兩）　海石（二兩）神麯糊丸</p>
<p>治血積海石　三棱　莪朮　香附（以上用醋煮過）　桃仁　紅花　五靈脂為丸石　白朮湯下</p>
<p>治聚氣在六腑隨其上下發作有時令人心腹疼痛攻刺腰脅小腹　脹大小便不通大黃　陳皮　桂心　杏仁　茯苓（各一錢）　甘草　附子　川芎（各五分）　枳殼　厚朴吳萸</p>
<p>治痞塊皮裡膜外須用補氣藥及香附開之兼二陳先須斷濃味（方見中風）</p>
<p>治痞在右為食積（方見內傷）</p>
<p>三棱　莪朮　青皮　陳皮　藿香　桔梗　肉桂　益智　香附　甘草　薑三片水煎</p>
<p>治食積成痞塊面色痿黃肌膚虛腫飲食無味青皮　陳皮　針砂（各一兩）　香附（四兩）　蒼朮　半夏（各二兩）　白朮　苦參（各五錢）　黃連曲糊為丸又方針砂　香附（各四兩）山楂　神麯　山梔　厚朴　蒼朮　半夏（各一兩）　黃連（一兩五錢）　台芎（五錢）曲糊為丸一方加人參炒白朮一兩五錢有苦參用白朮不用黃連</p>
<p>治同前　黃連　黃芩（各六錢）　薑黃　白朮（各一兩）　人參　陳皮　澤瀉　甘草　砂仁乾薑　炒曲（各二錢）　枳實（五錢）　半夏（四錢）　川朴（三錢）　豬苓（一錢五分）炊餅糊丸</p>
<p>貼痞塊　用未化鍛石半斤為末瓦上炒黃色提出候熱退入大黃末一兩炒熱仍提出入桂心末五錢略炒以米醋熬成膏濃紙攤貼患上</p>
<p>大黃　朴硝（各一兩）為末大蒜搗膏和貼</p>
<p>治五積六聚氣塊三棱　檳榔（各六兩）　山楂（四兩）　青皮　陳皮　莪朮　枳殼　枳實　卜子　香附（各二兩）　黃連　神麯　麥芽　鱉甲　乾漆　桃仁　砂　砂仁　歸稍　木香　甘草（炙各一兩）</p>
<p>醋糊為丸桐子大白湯下三四十丸</p>
<p>乳香　砂　天竺黃　輕粉　沒藥　兒茶　阿魏　蘆薈　土木鱉（各五錢）　蓖麻仁（三兩）　蜈蚣（七條焙乾）　穿山甲（一兩土炒）　百草霜（一兩五錢）</p>
<p>上末松香一斤水煮過布濾渣埋土內七日共和錘萬余下錘頭常用香油塗上錘成膏極勻如系入罐中蠟封大人每用三錢小兒減半蒸化用絹攤開看塊之大小用之如貼起泡暫去二三日再貼久用痞化成膿血隨入大便此藥入神</p>
<h2>卷三</h2>
<h3>勞病</h3>
<p>勞因傷成經曰陰虛生內熱難經云至脈從下上損脈從上下也一損於皮毛毛聚而毛落二損於血脈血脈衰少不能榮於五臟六腑三損於肌肉肌肉消不為肌膚四損於筋筋緩不能自收持五損於骨骨痿不能起床然治損之法損其肺者益其氣損其心者滋其營損其脾者調其飲食適其寒溫損其肝者緩其中損其腎者益其精河間曰心肺損而色敝腎肺損而形痿但機要有言感寒則損陽損自上而下感熱則損陰損自下而上獨以寒熱言之恐未盡虛損之理而不及難經之該且博也大抵勞病根因各自不同酒傷肺色傷腎思慮傷心勞倦飲食傷脾忿怒傷肝此五者皆能致勞也大抵酒色成勞者多耳或問六腑豈盡無成勞者乎子曰傷臟者多六腑間亦有之</p>
<h4>肺勞</h4>
<p>肺如華蓋其氣輕清既不受寒亦不受熱然酒性本熱多飲則肺受火邪熏蒸日久以致郁遏不清脹大</p>
<h4>腎勞</h4>
<p>人之五火皆賴腎水制之色欲過度則腎水虛虛則熱矣腎脈貫肝膈入肺中循喉嚨系舌本所以腎虛之人先動腎火延入肝膈遂挾相火使入肺中始則咳嗽久則發熱盜汗遺精骨痿肉脫甚至傷脾泄瀉作而危殆矣</p>
<h4>心勞</h4>
<p>心者血之源營氣發動之始心不妄役則精血日生惟勞焦日久思慮過度則心血日耗肝無所秉臟腑無所潤筋脈無所養榮氣不行邪熱隨作經所謂陰虛生內熱也熱盛克金金衰嗽盛日見銷爍而危亡立待此症不得志者多有</p>
<h4>脾勞</h4>
<p>元氣靜則神藏動則消亡若勞倦過甚飲食不節二者皆脾氣受傷不能舒發以致飲食不化泄瀉頻作血氣不生肌肉不長況脾者肺之母脾氣衰憊則肺失所資津液枯涸咳嗽殊甚勞斯成矣</p>
<h4>肝勞</h4>
<p>大怒則令人暴絕煎厥使血菀於上故多怒之人肝火屢動而所藏之血隨火上逆大吐不止稍久則並腑臟膻中之血盡吐不留焉所謂相火一動則五火相煽而動火動則血隨之矣真血去多自成空廓以致金不制木木火凌肺經所謂侮其所不勝也發熱咳嗽脅痛喘急而勞日劇矣由是觀之勞病同名</p>
<h4>五勞見病</h4>
<p>肺勞者咳嗽喘急衄血嗽血皮膚枯槁鼻塞聲沉時吐痰沫脈微虛而澀數腎勞者足脛酸痛腰背拘急遺精白濁面色黧黑耳葉焦枯脈沉細數心勞者心神驚惕怔忡無時盜汗自汗心煩熱悶口舌生瘡咯血面赤脈洪而數脾勞者面色痿黃唇口焦燥飲食無味腹痛腸鳴瀉利四肢倦怠脈虛濡而數肝勞者面青頰赤多怒虛陽不斂夢與鬼交甚至卵縮筋急脈弦而數</p>
<h4>治勞病要語</h4>
<p>勞病有陽虛有陰虛有陰陽兩虛者在精察而酌處之勿令誤也凡氣皆陽也精血皆陰也陽虛者四君子陰虛者四物加知柏陰陽兩虛者合而用之此定理也如陽虛而誤補陰則吐逆痞悶滲泄之症生焉其人解　陰虛而誤補陽則盜汗嗽熱夢遺之症成焉其人煩燥今之醫者凡見人有自汗怠惰嗜臥食少皆用補中益氣十全大補固當矣至於陰虛而倦怠少食　弱盜汗亦每用之甚者明見吐血發熱咳嗽尤用之不置焉是促其亡也殊不知既虛矣而猶補陽則陽愈亢陰愈虛諸病悉加將何望其生耶</p>
<h4>陰虛久服補陽論</h4>
<p>陰虛補陰理也今誤補陽已非理矣況久服乎久服則大助陽邪燥灼真陰漸亡陽邪並熾真元之氣無所附麗乃成飛越或吐血發熱或二便燥秘不通或筋骨攣痛或精神恍惚或五臟絕於內而痢不禁勺水不入而死矣</p>
<h4>論勞可治症</h4>
<p>勞病失血發熱咳嗽夢遺盜汗皆陰虛也而卒有可治者皆脾胃充盛飲食多進致然大哉坤土乎萬物賴養者此也血氣賴生者此也脾旺飲食自調精血自生雖有邪熱藥得以制之消之久則邪日退而正日復此病之所以可起也若脾胃一弱則養血生精清肺之藥不無出入加減而脾胃日愈損矣將見元氣下陷雖滋腎而腎不生精雖養心而心不生血雖清肺而肺不生液蓋元氣一虧則邪火日熾不能壯水以制陽光治何益哉予常起數十人皆脾胃壯健元陽不虧伐相火之邪滋金水之正隨手輒效故以告同志</p>
<h4>論真火動不可治症</h4>
<p>凡真火動者皆不可治豈獨腎哉人之有腎猶木之有根水之有源制陽元健筋骨所系重矣愚民不知而御內太過腎室虛空遂生內熱挾相火而貫肝膈入肺中循喉嚨系舌本此咳嗽吐血潮熱之所由來也若傷損輕知覺早調養之專猶可冀其生若損傷甚重失血之頻仍邪火日熾此真火動於腎也不治肺如華蓋其位高其氣清其體浮形寒飲冷先傷之至於邪火克金則傷之重矣故醇飲之人肺先熱胃厝邪火鎮日熏蒸或成肺脹則咳嗽喘急或成癰痿則音啞無聲皮毛干枯　瘦骨立此真火動於肺也不治肝者將軍之官其性暴其動速無病則藏血有病則逆血經云大怒則令人煎厥暴絕使血菀於上蓋大怒之人先動其肝性猛烈氣即逆上血隨氣逆大吐不止肝室虛空內火愈熾心雖生血肝不復納心血雖臨不移時而輒出矣此真火動於肝也不治脾者倉廩之官五味出焉故飲食入胃賴以運化脾火暴盛血液枯絕胃雖能納脾失轉運泄瀉無度補則愈甚清則濡弱脈細而數肌瘦骨立此真火動於脾也不治世有真頭痛者火炎水滅有真腹痛者陽亢陰亡皆真火動也經曰暴病暴死者皆屬於火其斯之謂歟亦有屬寒者急溫之猶可治也</p>
<h4>勞病主方</h4>
<p>治氣虛</p>
<p>治氣虛挾痰</p>
<p>治血虛</p>
<p>治氣血俱虛挾寒暑</p>
<p>治氣血兩虛</p>
<h4>腎勞方</h4>
<p>當歸　川芎　白芍　熟地　知母　黃柏　五味　麥冬　天冬　澤瀉　杜仲　肉桂加童便韭汁竹瀝</p>
<h4>心勞方</h4>
<p>茯神　胡黃連　連心　遠志　菖蒲　辰砂加芎歸芍地</p>
<h4>肝勞方</h4>
<p>沙參　麥冬　五味　知母　貝母　桔梗　桑皮　地骨皮　款花　紫菀　兜苓　百合　百部加</p>
<h4>脾勞方</h4>
<p>人參　白朮　茯苓　甘草　白芍　蓮肉　薏仁　山藥　澤瀉　扁豆</p>
<p>治肺勞短氣虛寒皮毛枯澀津液不通氣力損乏脈來遲緩人參　黃　白芍　桂心　附子　生薑　土棗</p>
<p>治肺勞有熱不能服補氣之劑知母　貝母等分為末清晨調下二錢</p>
<p>治腎經虛損久久憔悴盜汗發熱五臟俱損瘦弱虛煩骨蒸痿弱下血咯血照古方分兩蜜和丸如桐子大空心鹽湯下五十丸</p>
<p>天冬　麥冬　生地　熟地（各二兩）　人參（一兩）蜜丸如桐子大淡鹽湯下六十丸忌蘿卜</p>
<p>治腎間水火俱虛</p>
<p>降陰火補腎水黃柏　知母（各四兩）　熟地　龜板（各六兩）共末豬脊髓和煉蜜丸</p>
<p>又名虎潛丸黃柏（八兩）　知母　熟地　白朮　陳皮　牛膝（各三兩）　龜板（四兩）　虎脛骨（一兩）　瑣陽　當歸（各一兩五錢）</p>
<p>上末酒煮羯羊肉極爛搗丸鹽湯下冬加乾薑（五錢）</p>
<p>人參　黃　白芍　黃柏　當歸　山藥（各一兩）　瑣陽　枸杞　虎脛骨　龜板　杜仲菟絲子（酒煮晒乾）　破故紙　五味（各七錢五分）　牛膝（二兩）　熟地（四兩）煉蜜豬脊髓為末桐子</p>
<p>補陰和陽生血益精潤肌膚強筋骨牛膝　山藥（各一兩五錢）　杜仲　巴戟　山萸　肉蓯蓉　五味　茯苓　茴香　遠志（各一兩）　石菖蒲　枸杞（各五錢）　熟地（二兩）紅棗蜜丸桐子大鹽湯下與上虎潛丸間服更妙</p>
<p>黃柏　杜仲　龜板　牛膝（各二兩）　陳皮（一兩）冬加乾薑五錢夏加五味五錢共末米糊丸</p>
<p>鹿角（十斤）　龜板（五斤）　枸杞（三十兩）　人參（十五兩）銅錫壇如法熬膠清晨初服酒化一錢漸至三錢</p>
<p>治憂愁思慮傷心傷則苦驚善忘夜不眠黃連　朱砂（各一兩）　當歸　生地　炙甘草（各五錢）湯浸蒸餅為末黍米大每服十五丸津液咽下</p>
<p>治飲食太飽傷脾面黃善臥人參　茯苓　龍眼肉　酸棗仁　黃　白朮（各一兩）　遠志（一錢）　木香　炙甘草　當歸（各五分）</p>
<p>治失血脈虛人參　黃　陳皮　白芍　甘草　當歸　茯苓　五味　遠志　白朮　桂心　熟地加棗煎</p>
<p>治勞心動血衄血生犀角（鎊二錢）　生地（二錢）　白朮　丹皮（各一錢）</p>
<p>治過勞傷心方見火症</p>
<p>治勞倦傷脾方見內傷</p>
<h4>附五臟之氣絕於內論</h4>
<p>或謂五臟之氣絕於內者利不禁下甚者手足不仁何謂也師曰五臟者心肝脾肺腎皆陰也營氣亦陰也平人五臟氣旺協和營氣主維於其內故血液充陰精固大便潤小便長奚病焉惟火邪燔熾而五臟齊稿五行相克而七傳者死此五臟之氣絕矣五臟氣絕則營氣無所管　而陷下不禁在病勞則腸垢虛脫在惡利則洞泄異常氣虛血陷手足自爾不仁此症之急危也陰氣已絕故也或又言常見痢疾每下百度晝夜無休完穀不化下體麻木治之可生母亦臟氣絕而猶有可救者歟師曰此非藏氣絕也症雖相似而實殊此人春夏受熱藏於臟腑復出腸胃火性猛烈奔迫後重河間所謂火性疾速不能停留於胃也其完穀不化非胃氣絕也仲景謂邪熱不殺穀者是也下體雖麻木而猶未至於手足不仁不仁則並麻木而不知勢雖急而猶未至不禁不禁則上無脹悶中無痛楚下無奔迫但孔如竹筒漫無約束直流不休訶子罌粟咸無功矣雖有盧扁將安施乎以上二症病雖相似而虛實生死不同辨之當精</p>
<h4>六腑之氣絕於外論</h4>
<p>或謂要略曰六腑氣絕於外者手足寒上氣逆腳縮何謂也師曰六腑者胃大腸小腸膀胱膽三焦皆陽也衛氣亦陽也平人六腑之氣旺故合衛氣以流行於一身護皮毛溫手足氣和平而足舒暢奚病焉若夫病久損深六腑之氣漸絕或暴病虛脫六腑之氣斷絕內陽既絕則衛氣無所稟受而與之俱絕手足之寒宜矣陽氣一亂則氣逆上而不平無陽養筋則氣攣縮而不暢此症極危陽氣已絕故也或有言常見人有手足寒氣逆上腳攣拘治之得愈母六腑氣絕而猶有可救歟師曰此非腑氣絕也症相似而實不同內經曰陽氣衰於下者為寒厥陰氣衰於下者為熱厥手足寒乃厥症也又曰不得臥而息有音者陽明之脈逆也起居如故而息有音者肺之脈絡逆也是上氣逆也又言濕熱不攘大筋短軟小筋弛長短軟為拘弛長為痿腳縮者濕熱病也茲三者皆非氣絕也乃暴病有餘之症邪火陰寒之所為觀症者當以脈辨之陽絕之脈必慢如滴水浮如蛛絲或散或微或絕豈若三病有餘之脈神氣猶存乎</p>
<h4>附吐血方</h4>
<p>片芩　茜根　茅花　阿膠　生地　白芍（各七分）　黑梔（八分）　鬱金（六分）　生甘草（四分）　扁柏（一錢略炒）水煎入童便半鐘服</p>
<h4>吐血奇方</h4>
<p>白芨不拘多少研末每服五分白水調下</p>
<p>艾葉　扁柏　荷葉　生地等分搗爛丸如彈子大</p>
<p>犀角（二錢）　生地（一錢五分）　赤芍　丹皮（各八分）</p>
<p>黃連　黃芩　知母　石羔　甘草飲酒過多衄血本方加升麻葛根</p>
<p>治吐血嘔血香附（童便浸）　當歸　白芍　生地　黃連　片芩　黃柏　梔子</p>
<p>麥冬　百部　歸身　生地　款冬花　片芩　白芍　阿膠　貝母　花粉（各七分）　五味（七粒）　茅根　茜根（各五分）</p>
<p>（方見勞症）　治鼻涌不止急用百草霜擂水塗鼻及龍骨散吹入即止小便血症初起　辰砂六一散燈心湯調下（三錢）</p>
<p>白朮　茯苓（八分）　豬苓　澤瀉　牛膝　山梔（各七分）　瞿麥　赤芍　歸尾　木通（各六分）　桂（三分）　木香（二分磨）　郁</p>
<p>生地　小薊　滑石　通草　淡竹葉　蒲黃（炒）　藕節　當歸　山梔　甘草（炙）　車前麥冬</p>
<p>黃柏　知母（各二兩）　熟地（三兩）　歸身（二兩五錢）　牛膝（一兩五錢）　茯苓澤瀉（一兩）蜜丸桐子大</p>
<h3>眩暈</h3>
<p>眩暈者目花黑暗旋倒其狀頭眩目閉身轉耳聾如立舟車丹溪曰無痰不眩此症屬痰居多痰在上火在下火炎動其痰故作眩暈經曰諸風掉眩皆屬肝木治法當加制肝之劑為佐使然有氣虛血虛挾痰而眩暈者有傷風寒挾痰而眩暈者有痰厥眩暈者有因嘔吐衄蔑崩漏便血並產後失血過多而眩暈者有火動痰而眩暈者各宜推類氣虛四君子人參益氣湯量加川芎菊花天麻血虛四物東加貝母天麻秦艽陳皮甘草傷風寒宜荊芥穗防風薄荷天麻白芷川芎南星白附子半夏痰飲加減白朮半夏天麻湯茶煎散諸失血過多大補陰血自愈吐血即眩暈者胸中有死血迷閉心竅而然是宜行血清心自安產後血暈即要略所謂新產婦有二症一曰病鬱冒也初昏倒不知人急燒舊漆器熏鼻竅即蘇隨進十全大補湯倍人參黃　血脫益氣陽生陰長之義也火動其痰者二陳加黃芩蒼朮羌活挾氣虛者亦以治痰為主加補氣降火藥人肥白而眩者治宜清痰降火為先而兼補益之劑人黑瘦而眩者治宜滋陰降火為要而兼抑肝之劑此治眩暈之大旨也</p>
<h4>六君子湯</h4>
<p>治氣虛眩暈</p>
<h4>十全大補湯</h4>
<p>治產後眩暈</p>
<h4>四物湯</h4>
<p>治血虛眩暈</p>
<h4>人參益氣湯</h4>
<p>黃　炙甘草　升麻（各五分）　五味（十粒）　柴胡　人參（各一錢三分）　生甘草（一錢）　白芍（七分）棗二枚</p>
<h4>白朮半夏天麻湯</h4>
<p>治痰厥眩暈黃柏（二分）　乾薑（三分）　澤瀉　白茯苓　天麻　黃　人參　蒼朮（各五分）　神麯白朮</p>
<h4>芎歸湯</h4>
<p>治去血過多眩暈　川芎　當歸（等分）產後加參</p>
<h4>獨黃散</h4>
<p>治眩運不可當者實人服下立愈虛者不可輕用　大黃（酒炒）為末茶酒調下三錢即愈</p>
<h3>頭痛</h3>
<p>頭為諸陽之首一有痛楚無問標本宜先治之但經絡有三陽三陰之不同見症有氣虛血氣之不一然又有風寒有濕熱有痰火痰厥有內傷有傷寒有偏頭痛有眉棱骨痛有真頭痛症各不同治者宜各推類求之太陽頭痛在巔頂兩額角惡風寒脈浮緊宜川芎羌活獨活麻黃　本少陽頭痛連耳根往來寒熱脈弦宜小柴胡湯陽明頭痛連目　頰齒發熱自汗脈浮長大升麻葛根石膏白芷太避孕藥頭痛有痰體重腹痛脈沉頭重蒼朮半夏南星少陰頭痛三陰二陽經不流行而足寒氣逆厥陰頭痛引目系吐痰沫厥冷脈浮緩吳萸湯此六經並挾外邪也氣虛頭痛在清晨耳鳴九竅不利腸胃之所主也治宜補中益氣湯倍加川芎　本參　血虛頭痛者多在日晚自魚尾上攻治宜四物湯倍芎歸加白芷細辛氣血兩虛者調中益氣東加川芎蔓荊子細辛痰厥頭痛眩暈白朮半夏天麻湯風濕熱頭痛清空膏風寒感冒頭痛防風羌活　本白芷內傷頭痛乍痛乍止補中益氣加蒼朮川芎山楂神麯傷寒頭痛不止治見傷寒門有頭半邊痛左屬風及血虛風用荊芥薄荷血用歸芎白芍黃柏右屬痰屬熱痰用蒼朮半夏熱用酒芩酒連有眉棱骨痛不可忍者此屬風熱與痰選奇湯若真頭痛者甚則腦盡痛手足冷至節此火炎水滅也不治治頭痛通用茶煎散茶調散二陳湯治頭痛皆用風藥易到高巔之上也凡治頭痛川芎系要藥如痛在諸經仍加引經藥川芎入太陽　白芷入陽明　柴胡入少陽　蒼朮入太陰　細辛入少陰　吳萸入厥陰巔頂痛宜本防風升麻柴胡</p>
<h4>小柴胡湯</h4>
<p>治少陽頭痛</p>
<h4>麻黃附子湯</h4>
<p>治少陰頭痛脈沉細者</p>
<h4>吳萸湯</h4>
<p>治厥陰頭痛</p>
<h4>吳萸</h4>
<p>生薑（各五錢）　人參（二錢）加土棗煎</p>
<h4>補中益氣湯</h4>
<p>治氣虛及內傷　加川芎倍黃</p>
<h4>四物湯</h4>
<p>治血氣頭痛　倍芎歸加白芷細辛</p>
<h4>調中益氣湯</h4>
<p>治氣血俱虛頭痛加蔓荊子細辛　川芎</p>
<h4>白芍半夏天麻湯</h4>
<p>治痰厥頭痛</p>
<h4>清空膏</h4>
<p>治偏頭痛兼治風濕熱頭痛上壅頭面及腦痛不止者（除血虛頭痛不治）　川芎（五錢）</p>
<p>柴胡（七錢）　黃連　防風　羌活　熟黃芩（各一兩）　炙甘草　生黃芩（各一兩五錢）</p>
<p>上末入鹽內茶調如膏少用白湯送下臨臥服三錢</p>
<h4>選奇湯</h4>
<p>治眉棱痛羌活　防風（各二錢）　甘草（一錢夏生冬炙）　片芩（一錢五分）煎服</p>
<h4>茶調散</h4>
<p>治諸風上攻頭目昏痛鼻塞聲重薄荷（四兩）　荊芥　川芎　羌活　白芷　炙甘草（各一兩）　細辛（五錢）　防風（二錢五分）上末清茶調下</p>
<h4>安神湯</h4>
<p>治頭痛頭旋眼黑　（生炙）甘草（各二錢）　防風（二錢五分）　柴胡　升麻　生地　知母（各五錢）　酒柏　羌活（各一兩）　黃　（二兩）　水煎一沸加蔓荊子（五分）　川芎（三分）再</p>
<h4>徹清膏</h4>
<p>蔓荊子　細辛（各二分）　薄荷　川芎（各三分生炙）甘草（各五分）　本（一錢）上末茶清調下三錢</p>
<h4>茶煎散</h4>
<p>川芎（一錢）　甘草（三分）　薄荷　白芷　防風　細辛　羌活　荊芥　本　辛夷（各五分）加</p>
<h3>胃脘痛</h3>
<p>胃脘痛者俗謂之心痛古方名為脾痛蓋胃之上口名賁門賁門與心相連經所謂胃脘當心而痛者是也其症由清痰食積郁於中七情九氣觸於內以致清陽不升濁陰不降而肝木之邪得以乘機侵侮而為病也然病不一有真心痛者客寒觸犯心君或汗血衝心手足清黑過節脘者但朝發夕死其余有痰有火有死血有客寒犯胃有虛痛實痛有食積痛有蟲痛者治火痛用牛黃丸至效煎劑用芩連山枝末同白蒺藜治痰用玄明粉湯用二陳加枳殼枳實片芩山梔木香少許治死血在胃脘宜桃仁承氣東加玄胡紅花歸尾先用韭汁頻呷之治客寒犯胃用草豆蔻劫止之如神或蘇合丸湯用薑砂仁木香虛痛以物按住則痛止治宜理中二陳加和血藥久病元氣虛弱肢體怯薄脈弱手欲按者六君子東加砂仁香附實痛因氣怒飲食卒痛便秘心胸高起手不可按是也二陳加行氣消食藥蟲痛者面上必有白斑唇紅時作時止二陳加苦楝根煎服丹溪曰治心痛雖分新久若明知身受寒氣口食寒物於初病之時當用溫利溫散之劑若稍久而成郁郁則成熱若用溫劑寧不助火添病乎故古方多用山梔為君熱藥為之引導則邪易散病易退此病雖久不食不死若痛方止即恣口腹痛必再作此確論也火脈浮數　痰脈滑食　死血脈澀　寒脈沉遲　虛脈軟弱細小　痛甚脈伏</p>
<h4>用效煎藥方</h4>
<p>痰火兼治陳皮　玄胡　貝母　赤茯　青皮　香附（各七分）　山梔（一錢）　草豆蔻（二分）　川芎厚朴</p>
<p>治火痛神驗大黃　白牽牛（頭末各一兩）</p>
<p>為末丸粟米大強人服一錢二分弱人服七八分</p>
<p>治火痛白蒺藜桃柳條同炒末酒調下一錢治痰痛用玄明粉白湯送下一錢二分</p>
<p>治死血在胃脘作痛（本方加玄胡紅花歸尾先用韭汁頻呷之）</p>
<p>治客寒犯胃作痛豆蔻　半夏　澤瀉（各一兩小便利者減半）　橘皮　吳萸　人參　僵蠶　黃　益智仁（各一錢）　甘草　炙甘草　歸身　青皮（各六錢）　桃仁（七個）　麥芽（一兩五錢）　神麯柴胡（脅不痛者減半）　薑黃（各四錢）</p>
<p>上除桃仁另研余末蒸並丸桐子大白湯只可用一二服</p>
<p>治氣怒飲食猝痛便秘心胸高起手不可按（本方加行氣消食藥）</p>
<p>治蟲痛二陳加苦楝根煎服</p>
<p>治心氣痛不可忍小腸氣痛　蒲黃　五靈脂（各等分）</p>
<p>先以醋調二錢煎成膏入水一鐘煎食前服凡見心膈大痛攻走腰背發厥嘔吐諸藥不效者就吐中以</p>
<p>治心氣虛痛至驗（本方並服法錄附尾集）</p>
<p>治心痛極驗並治裡急後重作痢亦效木香　檳榔　茯苓（各五錢）　三棱　莪朮　青皮　甘草（各四錢）　陳皮　黃連　黃柏黃芩（各六錢）　大黃　牽牛（各一兩）　白芨（七錢）</p>
<p>上末綠豆大視虛實量用之</p>
<h3>腹痛</h3>
<p>丹溪曰腹痛有寒有火熱有死血有食積有濕痰有虛有實夫寒痛者常痛而無增減成無己曰陰寒為邪則腹痛而兼吐利治宜理中東加吳萸玄胡甚者入桂附火熱痛者時痛時止原病式曰熱鬱於內則腹滿堅結而痛不可例言為寒也脈洪者黃芩芍藥湯便秘脈大者宜下之調胃承氣湯備急丸死血痛者痛有常處而下移成無己曰邪氣聚於下焦浸液不通氣血不行或溺或血留滯於下是生脹礙小便利者宜川芎白芍歸尾桃仁紅花跌打瘀血宜桃仁承氣若小便不利者則為溺滯非蓄血也食積痛者痛甚欲便大便之後則痛減脈弦宜溫散之保和丸加行利藥以食得寒則滯或用吐法濕痰痛者凡痛大小便不利脈滑以痰因氣滯而聚阻礙道路氣不得宣通故痛治宜開痰開鬱二陳湯實痛者腹脹滿手不可按元氣實者宜蕩之大承氣湯虛痛者以手按之則痛止戴氏云其人本體原弱或大病後氣血兩虛得之不可俱例於諸痛不宜服參　之藥急投溫補重劑四君子理中加順氣藥汗多倍參炒芍藥治腹痛必用溫散藥以其郁結不行阻氣不運故也凡人臍下忽火痛人中黑色者多死不治師云凡在胃脘下痛者多屬食積繞臍痛者屬火臍左右少脅痛者多屬死血小腹痛者屬寒當宗此辦之醫書云白芍藥惟治血虛腹痛余痛俱不治今考古方腹痛用白芍四錢生甘草二錢甚效又考白芍不惟治血虛而能大行氣腹痛營氣不從逆於肉裡今得白芍行其營氣又用甘草之緩和其逆氣此不治之治乃所以深治之也</p>
<h4>用效治腹痛方</h4>
<p>白芍（二錢五分）　生甘草（一錢）　青皮　陳皮　砂仁　玄胡　山枝（各七分）　烏藥（五分）如</p>
<p>治虛寒作痛人參　白朮　甘草　乾薑　玄胡　甚者入桂附</p>
<p>治火痛脈洪</p>
<p>治火痛便秘脈大</p>
<p>治同上</p>
<p>治死血痛</p>
<p>治小腹痛</p>
<p>治食積痛本方加行氣利氣藥</p>
<p>治濕痰痛本方加導痰開鬱藥</p>
<p>治實痛腹脹滿手不可按者</p>
<p>治虛痛以手按痛止</p>
<p>治繞臍痛</p>
<h3>腰痛</h3>
<p>丹溪曰腰痛有腎虛有瘀血有寒濕有濕熱有痰積有挫閃痛而不已者屬腎虛痛有定處日輕夜重大便黑小便黃赤者屬瘀血往來走痛者屬痰積腰冷身重如帶五千錢或遇陰寒即發晴暖即減者此屬寒濕痛而或作或止者屬濕熱治法腎虛者脈大宜補之煨腎丸及煎劑杜仲枸杞知柏山萸菟絲子瘀血者脈澀宜逐之四物加桃仁紅花蘇木乳香沒藥濕熱者脈緩宜分利之滲濕湯蒼朮東加杜仲黃柏川芎痰積者脈伏滑宜開導之二陳東加蒼朮南星竹瀝杜仲挫閃者宜行之用如神湯寒濕痛即腎著痛治宜流濕兼用溫散腎著湯經曰動搖不能腎將憊矣故腰痛雖有五症其原皆本於腎虛蓋腰者腎之府人身之大關節諸經皆貫於腎而絡於腰故腎經一虛而腰痛之諸病作矣經曰邪之所湊其氣必虛諸腰痛不宜用補氣藥亦不可峻用寒涼藥</p>
<h4>煨腎丸</h4>
<p>治虛痛不止杜仲（炒去絲研末用雄豬腰切開入末濕紙包裹慢火煨熟紙干腰香為度清晨食一二個酒下）</p>
<h4>補腎丸</h4>
<p>治腎虛作痛</p>
<h4>四物湯</h4>
<p>治瘀血作痛本方加桃仁紅花蘇木乳香沒藥</p>
<h4>滲濕湯</h4>
<p>治寒濕所傷身體重著如坐水中蒼朮　白朮　甘草　茯苓　乾薑　橘紅　丁香　加生薑南棗煎服</p>
<h4>蒼朮湯</h4>
<p>治濕熱腰腿疼痛防風　黃柏　柴胡　蒼朮　薑二片煎</p>
<h4>二陳湯</h4>
<p>治痰積痛脈伏滑本方加蒼朮南星竹瀝杜仲</p>
<h4>如神湯</h4>
<p>治挫閃腰痛川歸　肉桂　玄胡　丹皮　桃仁</p>
<h4>腎著湯</h4>
<p>治腎虛傷濕身重腰冷如坐水中不渴小便自利乾薑　甘草　茯苓　白朮</p>
<h4>立安散</h4>
<p>治腰痛橘子　杜仲（各二錢）共末酒水各半煎二三沸</p>
<h4>獨活寄生湯</h4>
<p>治腎氣虛弱風濕流注腰膝攣拳掣痛不得屈伸或緩弱冷痹行步無力獨活　桑寄生　細辛　牛膝　秦艽　茯苓　白芍　桂心　防風　人參　熟地　當歸　杜仲甘草（各五分）空心煎服下利者去地黃</p>
<h4>當歸拈痛湯</h4>
<p>治濕熱腰痛上牽肩背肢節疼痛胸膈不利　白朮（四分）　人參　升麻　苦參　葛根　蒼朮（各五分）　防風　知母　澤瀉　生熟地　豬苓　當歸（各六分）　茵陳　炙甘草　羌活（各八分）煎服</p>
<h4>磨腰丹</h4>
<p>治老人虛人腰痛附子尖　烏頭尖　南星（各二錢五分）　雄黃　朱砂（各一錢）　樟腦　丁香　乾薑　吳萸（各一錢五分）　麝香上末蜜丸龍眼大每一丸薑汁化開如粥濃火　熱置掌中磨腰上候藥盡黏腰上烘綿衣包縛定隨覺熱如火一日換一次</p>
<h3>背痛</h3>
<p>經曰背者胸中之府背曲肩垂府將壞矣是知背者太陽膀胱經所主夾脊四肢直下其位高其氣清凡病犯背者咸稱重病若發背若對口若肩背大痛輕者可救重者難治除外科所屬姑置勿論而背痛之症亦有五焉按經云諸陽受氣於胸中而轉行於背若三陽之火盛而潛行於背則背痛難忍始發者即以當歸拈痛湯合蘇子降氣東加減用之則升清降濁而火可散濕亦流矣如病積日久氣血日衰邪著不去嘗見其危者眾矣又有寒氣積於胸中而為心痛徹背背痛徹心仲景用烏頭赤石脂丸以溫散之所謂溫中散表皆不遠熱也又有痰涎流易在背或隱隱酸痛或一點　痛或上下左右更換而痛蓋氣滯痰亦滯氣行痰亦行故濕痰宜燥結痰宜潤皆以順氣為先氣順痰行痛自息矣又有腎氣不循故道逆而上行藏病必傷於府背重而痛如有所負而然必用滋腎丸或四物加知柏杜仲牛膝壯水之主以制陽光水足則又循故道而痛愈矣又有病後虛損元氣不充以入之亦有汗多亡陽汗過多則心掖損耗陽氣不足故致痛也二者皆當溫補不可用疏刷之藥愈疏刷則愈痛此理至微不可不察</p>
<h4>背痛神驗方</h4>
<p>羌活　赤茯（各八分）　秦艽　片芩　陳皮　半夏（各七分）　蘿卜子　防風　烏藥（各五分）　薑二片溫服</p>
<p>治肩背痛濕熱甚人參　白朮　苦參　秦艽（各四分）　知母　黃芩　當歸　羌活　蘿卜子（各五分）　升麻葛根（各二分）　茵陳　蒼朮　蘇子（各三分）　薑三</p>
<h4>火盛背痛方</h4>
<p>如平素弱必兼滋補人參　茯神　當歸　川芎　羌活　秦艽　片芩　知母　蘇子　蘿卜子加薑棗</p>
<p>治心痛徹背背痛徹心蜀椒　烏頭　附子　乾薑　赤石脂上末蜜丸桐子大食前服二丸每日三服</p>
<h4>痰涎流易在背作痛方</h4>
<p>陳皮　前胡　片芩　花粉（各七分）　草蔻仁　香附　蘿卜子（各五分）　赤茯　半夏（各一</p>
<h4>腎氣熱甚不循故道逆上太陽作背痛方</h4>
<p>熟地　白芍　當歸　黃柏　知母（各一錢）　杜仲（八分）　石斛　甘草梢（各五分）　蘇子（三分）　桂（一分）　淡竹葉（四分）</p>
<p>白朮　黃　歸身　棗仁（各八分）　茯神　麥冬（各七分）　川芎　麻黃根（各五分）</p>
<p>五味（十粒）　升麻（二分）加龍眼四個</p>
<h3>脅痛</h3>
<p>胸脅者肝膽二經往來之道路也故木氣之傷痛在胸中肝氣實盛痛連兩脅然病有數症焉歲木太過肝氣旺盛兩脅充滿莫能舒泄壅脹為痛勢急難支此肝火之盛也稀涎宿痰流注兩脅或僻一脅綿綿隱痛或作或止一有嘔惡則吊動掣痛久則形腫色赤硬堅不移若以腫毒治之增劇此痰氣之結也心生血肝納血肝有熱則妄行注於脅則脅痛或紫黑或結塊上部抵當湯中部桃仁承氣湯皆稱捷劑此污血之積也又歲金肅烈制木太過致肝氣鬱而不伸兩脅痛而不止此惟抑金扶木瀉白散合阿膠四物湯蓋瀉有餘補不足使兩氣和平則痛自止此肝之被郁也又有傷寒往來寒熱胸脅痛耳聾此雖屬少陽然膽者肝之竅痛甚則肝亦受傷惟小柴胡加牡蠣龍膽草則二經皆平矣此傷寒虛熱也又有食填太陰肝氣被壓然肝者將軍之官其性極烈不受壓制上衝之則胃脘痛橫行之則兩脅痛惟消食順氣少兼溫散則食下而肝氣自舒脅痛自止有醫言脅下一條扛起作痛者食積也然飲食入胃安得出脅扛起必食積偏墜一邊而近脅作痛故醫云然孰信哉信乎理而已矣又有挫閃跌撲一症或氣鬱或血積亦作脅痛若以涼血治之則痛益甚須用行血行氣之劑而兼溫藥以散之輒效又有陰虛陽虛二症皆屬不足非可以有餘者例治也陰虛火動有咳嗽吊動兩脅而痛者有肝氣橫行兩脅而大痛者此相火也用蘆薈丸二痛皆止但勞症本病莫之能療其肝氣虛並元氣弱而痛者若以肝氣實盛治之立禍惟用四物少加炒鹽以補肝用四君子少加芩柴以補益氣則虛回而痛自止矣凡此皆身親歷而知非敢泛論以誤人也</p>
<h4>當歸蘆薈丸</h4>
<p>瀉肝火太盛之要藥因內有濕熱兩脅痛甚伐肝木之氣肝實者宜之當歸　龍膽草　梔子　黃連　大黃　蘆薈　青黛（各五錢）　木香（二錢五分）　麝香（五分另上末神麯糊丸桐子大服廿丸薑湯少少咽下又方內加柴胡五錢青皮一兩</p>
<h4>加減小柴胡合龍膽瀉肝湯</h4>
<p>治肝火盛脅痛　柴胡（一錢）　人參　青皮　車前（各五分）　龍膽草　梔子（各四分）</p>
<p>半夏　黃芩（各七分）　甘草（三分）　白芍（一錢）　歸梢（六分）　薑一片煎服仍服蘆薈丸三次</p>
<h4>又用效方</h4>
<p>治肝火太盛脅痛不止服一二劑頓愈青皮　陳皮　柴胡　牡蠣（各七分）　白芍（一錢六分）　片芩　蘿卜子（五分）　龍膽草（四分）　厚朴（三分）　生甘草　黃連（各二分）</p>
<p>治脅痛因火盛血衰溲赤便秘青皮　柴胡（八分）　龍膽草　川連　通草（五分）　白芍　歸梢　桃仁（一錢）　生地郁李仁　山枝（七分）　棗二枚煎服</p>
<h4>去痰散腫降火開鬱方</h4>
<p>治痰注脅下形高色赤大痛膽星　香附　赤茯　黃連　活（五分）　陳皮　海粉　片芩　歸身（七分）　半夏　松節白芥子（一錢）　薄荷（四分）加薑汁二匙童便</p>
<p>治污血脅痛</p>
<p>治同上</p>
<p>治肝氣被郁脅痛</p>
<p>治食積脅痛</p>
<p>（加炒鹽）　治元氣虛弱脅痛以補肝</p>
<p>加柴苓以補氣</p>
<p>治傷寒寒熱往來耳聾胸脅痛本方加牡蠣龍膽草</p>
<p>治右脅痛甚脹滿不食薑黃　枳殼　桂心（各五錢）　甘草（三錢）</p>
<p>上末每服二錢薑湯下</p>
<p>治左脅痛枳實　川芎（各五錢）　炙甘草（一錢五分）</p>
<p>上末每服二錢薑湯下</p>
<h3>諸氣</h3>
<p>經曰百病皆生於氣是氣也在外則護衛皮毛充實腠理內則導引血脈調和陰陽周流一身運化不息源出中焦總統於肺曷嘗病於人也惟夫人七情之交攻五志之間發是為冷氣滯氣逆氣上氣之諸症作焉其原皆由肺受大邪氣得上升之化有升無降河間所謂五志過極即為火丹溪所謂氣有餘便是火治法當分有餘不足邪氣有餘宜行之正氣不足宜補之冷氣宜溫必明知身受寒氣口食冷物方作冷治如病患自覺冷氣從下而生此上升之氣自肝而出中挾相火自下而上其熱為甚乃火極似水陽亢陰微非真冷也氣滯宜開氣上宜降氣在胸臆為痞滿刺痛伏梁等症二陳加枳實黃連桔梗栝蔞木香氣在下焦為奔　七疝等症二陳加桃仁山楂橘子茴香川楝荔枝氣在兩脅築攻作痛二陳加青皮柴胡白芍龍膽草氣在中焦為痞滿脹急二陳加木香厚朴檳榔枳殼或平胃散以平其敦阜之氣惟婦人胎前產後一切氣疾但用四物湯為主少加疏利行氣藥大抵男子屬陽得氣易散是以男子之氣病少治宜調氣以養血女人屬陰遇氣多郁故女人之氣病多治宜調血以和氣此治氣之大旨也又按人身之氣有七有宗氣營氣衛氣中氣元氣清神沖和之氣上升之氣惟宗氣尤為一身之主氣起自氣海下一寸五分上出於胃輸散於五臟六腑若宗氣不虛雖症重不死凡病患危篤之際而喘息奔急是宗氣將絕有出無入也</p>
<h4>清膈丸</h4>
<p>治濕熱氣滯黃芩　黃連（各五錢）　香附（一兩五錢）　蒼朮（二兩）用栝蔞仁搗爛和米丸如綠豆大熱水送下三四十丸</p>
<h4>正氣天香散</h4>
<p>治婦人一切氣痛烏藥　陳皮　紫蘇　乾薑（各一錢）　香附（二錢）為末調服二錢</p>
<h4>木香檳榔丸</h4>
<p>方見痢疾</p>
<h4>蘇子降氣湯</h4>
<p>治氣不升降痰涎壅塞氣逆作痛發喘川歸　甘草　前胡　厚朴（五分）　肉桂（三分）　陳皮（七分）　半夏　蘇子（一錢）</p>
<p>薑二片棗二枚</p>
<h4>二陳東加減</h4>
<p>治諸氣氣在胸臆為痞滿刺痛伏梁　本方加枳實黃連桔梗栝蔞木香氣在下焦為奔豚七疝　本方加桃仁山楂梔子茴香橘子川楝荔枝氣在兩脅攻築作痛　本方加青皮柴胡芍藥龍膽草氣在中焦為痞滿脹急　本方加木香厚朴檳榔枳殼</p>
<h4>平胃散</h4>
<p>平敦阜之氣</p>
<h4>四物湯</h4>
<p>治婦人胎前產後一切氣疾</p>
<h3>疝氣</h3>
<p>疝有七寒水筋血氣狐癩專諸肝經與腎無干子和七疝辦之詳悉但一例施攻下之法其言非是古方自素問之下皆以為寒以寒主收引經絡得寒則收而不行所以作痛東垣丹溪獨斷以為濕熱在經鬱而至久又外得寒氣不得疏散所以作痛此發前人所未發故治法宜卻逐本經之濕熱消導下焦之瘀血而以寒因熱用之法立分處治其濕熱又當分多寡而治濕則腫多癩疝是也又有因痰飲食積死血鬱結為痛及因水氣作腫者亦有挾虛而發者其脈沉緊豁大無力當以參朮為君佐以疏導藥</p>
<h4>七疝見症</h4>
<p>寒疝者囊冷結硬如石陰莖不舉或控睪丸而痛得之於坐臥濕地或寒月涉水或值雨雪或坐臥硬石或風冷處使內過房久而無子宜用溫劑水疝者腎囊腫痛陰汗時出或囊腫如水晶或癢而搔出黃水或小腹按之作水聲得之飲水醉酒使內勞汗出而遇風寒濕之氣聚於囊中故冷水令人為疝宜當逐水筋疝者陰寒腫脹或潰為膿裡急筋宿或莖中作痛痛極則癢或挺縱不收或出白如精隨溲而下得於房室勞傷及邪氣所使宜降心火血疝者狀如黃瓜在兩旁橫骨兩端約紋中俗名便癰得之重感夏秋火燠勞於內使氣血流溢滲入浮囊留而不去結成癰腫膿少血多宜和血之劑氣疝者其狀上連腎　下及陰囊多得於號哭忿怒則氣鬱而脹號哭怒罷即氣散者是也宜散氣之劑小兒亦有此疾俗名偏墜得之於父或老或少多病陰痿精怯強力入房因而有子稟胎病也此症難治狐疝者狀如仰瓦臥則入小腹行立則出腹入囊中如狐晝出穴而溺夜入穴而不溺此症出入往來上下正如狐相類也亦如氣疝大同小異宜用逐氣流經之劑癩症者其狀陰囊大如升斗不癢不痛得之於地氣卑濕江淮最多宜去濕之劑女人陰戶凸出雖亦此</p>
<h4>治疝通用效方</h4>
<p>陳　皮　青皮　小茴　柴胡（各七分）　玄胡　橘子（各八分）　黃柏　山楂　龍膽草　神麯（各五寒疝加吳萸（一錢）　烏頭（八分）去黃柏水疝加豬苓　蒼朮　澤瀉筋疝加大茴香　黃連　連翹（各七分）瀉心火血疝加桃仁　紅花（各八分）</p>
<p>氣疝加烏藥　香附（各八分）去茴香狐疝加烏藥（八分）　草豆蔻仁（五分）與氣疝同治癩疝加蒼朮　白芷　川芎（各七分）凡治疝辨寒熱痛而不止主寒或作或止主熱</p>
<p>小茴　川楝　玄胡　黃柏　橘子　柴胡（各五錢）　青皮　甘草（各三錢）　龍膽草山楂（各二錢）</p>
<p>上末面糊丸桐子大人虛加茯苓白朮（各五錢）</p>
<h4>疝氣神方</h4>
<p>（其痛甚至上衝如物築塞心胸臟欲死手足冷者二三服除根）</p>
<p>硫黃（火熔化即投水去毒取起研細兼用荔核炒黃為末陳皮同前共三味研末以飯為丸桐子大每服十五丸淡酒下其痛立止亦不可過也）</p>
<h4>治癩疝不痛方</h4>
<p>南星　蒼朮　神麯　白芷　山楂　川芎　枳實　半夏　海藻　昆布　薑三片</p>
<p>枇杷葉　野紫蘇葉　椒葉　蒼耳子葉　水晶蒲　桃葉五味共煎洗諸疝即消痛止</p>
<h4>補脾理疝方</h4>
<p>治久疝原起於瘧漸發小腹脹劇陰囊痛此肝克脾而成疝久不消難獨以疝氣治之當清白朮　茯苓　扁豆　薏仁　山楂肉　神麯　白芍　青皮　玄胡　梔子仁　川楝加橘子七分煎服</p>
<h3>腳氣</h3>
<p>內經曰傷於濕者下先受之蓋脾主四肢足居於下多受其濕濕鬱成熱濕熱相縛其病多矣然有因外得者有自內生者其為濕熱之患則一見症惡寒發熱狀若傷寒但足脛紅腫筋攣掣痛舉步艱難此為別耳輕者止於足痛重者由足痛入陰器抵少腹歷脅肋上頭又甚者則香港腳衝心誤治立殞治法以防己飲為主方兩臂痛者加威靈仙兩脅痛者加膽草風加萆　濕加木瓜苡仁食積流注加山楂神麯麥芽足氣衝心防己飲合四物湯或東垣健步丸外有足根痛者此屬腎虛又非香港腳論也防己飲內用生地犀角以心火下流與濕熱相縛故用耳治香港腳忌補氣及淋洗香港腳自外得者山嵐卑濕涉水驟雨及濕熱之地足先受之濕鬱為熱故發動為痛自內生者瓜果茶水酒漿油面及煎炙有濕有熱先入於胃上輸於脾脾流濕熱直行於足以脾脈主四肢也故腫為濕痛為火不易之論也</p>
<h4>防己飲</h4>
<p>黃柏　蒼朮　白朮　防己（各七分）　生地　檳榔　川芎（各五分）　犀角屑　甘草梢　木通內有熱加黃芩七分　熱甚及天時暄熱加石膏　痰加南星竹瀝薑汁　大便秘加桃仁　小便秘澀加牛膝木瓜薏仁酌而用之　如常腫者專主於濕熱　治肥人必加痰藥</p>
<h4>健步丸</h4>
<p>蒼朮　歸尾（各一兩）　生地　陳皮　白芍（各一兩五錢）　牛膝　吳萸　條芩（各五錢）　大腹子（三錢）　桂枝（二錢）</p>
<p>共末蒸餅為丸桐子大每服八十丸白朮木通（各一錢）煎湯下食前服</p>
<h4>四物湯</h4>
<p>治血熱轉筋本方加桃仁紅花煎服</p>
<h2>卷四</h2>
<h3>耳病</h3>
<p>內經曰耳為腎之外候又曰腎通竅於耳蓋耳之竅主者精精氣調和腎氣充足則耳聞而聰若勞傷氣血風熱襲虛使精脫腎憊則耳轉而聾是故有氣虛耳聾者有腎虛耳聾者有上焦手少陽經熱而聾者有氣逆耳聾者有大病後腎水枯涸陰火上炎耳癢耳鳴時聞如鐘鼓之聲者治法氣虛補氣腎虛滋腎熱者開痰散風熱氣逆順氣大病陰虛火動者四物湯降火統宜瀉南方之火補北方之水無不安者錢仲陽曰腎有補而無瀉厥有旨哉</p>
<h4>蔓荊子散</h4>
<p>治上焦熱耳鳴而聾及出膿汁炙甘草　升麻　木通　赤芍　桑皮　麥冬　生地　前胡　菊花　赤茯苓　蔓荊子（各五分）　薑三片棗二枚</p>
<h4>大補丸</h4>
<p>黃柏（水丸）</p>
<h4>氣虛四君子湯</h4>
<p>血虛四物湯下（滋腎丸補腎丸）　凡（鳴聾）皆陰虛火動　或（補賢虎潛）丸</p>
<h3>目病</h3>
<p>東垣曰按內經云五臟六腑之精氣皆上注於目而為之睛脾之精為眼窠腎之精為瞳子心之精為目之總絡肝之精為黑眼肺之精為白眼腸胃之精為約束裡擷筋骨氣之精而與脈並而為系上屬於腦後出於頂是故瞳子黑眼法於陰白眼赤脈法於陽然臟腑十二經脈三百六十五絡其氣血又皆稟受於脾土而上貫於目以為明故目者心之使心者神之舍也苟精神煩亂則視岐視一物而為兩脾虛則五臟之精氣皆失所司不能歸明於目由此觀之醫目者若不理脾胃及養血安神是乃治標不治本也河間曰在腑則為表當除風散熱在臟則為裡宜養血安神如暴失明昏澀醫膜眵淚斑入眼皆風熱屬表宜散表如昏弱不欲視物內障見黑花瞳子散出皆裡也屬血少勞神腎虛也宜養血安神補水又瞳子散大皆辛熱也當除風熱涼血益血以收耗散之氣芩連苦寒除邪熱之盛為君當歸生地涼血養血為臣五味子酸寒體浮收瞳子散大地骨皮天冬瀉腎熱補氣或滋陰地黃丸更妙丹溪曰目病屬風熱血少勞神腎虛又云目能遠視不能近視者腎水虧欠六味地黃丸主之目能近視不能遠視者心血不足定志丸加茯苓主之瘦人目病乃是血少兼熱須用養血少加風藥三公議論精確並宜　究師云目病雖有風熱血虛脾虛腎虛肝木旺之不同大法暴赤腫及醫淚斑膜卒用柴胡防風羌活荊芥穗白芷菊花升麻炒芩連山枝石膏玄參赤芍連翹龍膽草桔梗甘草生地歸身加減量服凡目久痛或內障昏暗惟用熟地當歸白芷五味枸杞知柏茯神遠志丹皮山藥白朮少加菊花防風荊芥穗柴胡芩連生甘草為佐使</p>
<h4>治初起風熱火眼方</h4>
<p>防風　羌活　芍藥　葛根　紫蘇　白芷　菊花　蔓荊子　甘草　有翳加木賊　薑二片蔥一根</p>
<p>熟地（一兩）　生地（一兩五錢）　柴胡（八錢）　天冬　炙甘草　枳殼　地骨皮　黃連五味上末蜜丸桐子大清茶下</p>
<p>治內障</p>
<p>治心血不足不能遠視人參（一兩）　遠志　蒲黃　茯苓（各二兩）</p>
<p>上末蜜丸桐子大朱砂為衣清米湯下一錢二分</p>
<h4>濕熱火眼驗方</h4>
<p>防風　石決明　黃連　木賊　連翹　青葙子　草決明　龍膽草（各八分）　石斛　羌活穀精草　當歸（各一錢）　荊芥　梔子　生地　蟬蛻　黃柏（各七分）　黃芩（八分）　菊花（一錢八</p>
<h4>時眼方</h4>
<p>明礬（三分）　硼砂（一分）　鬱金（五分）共末為丸滾水化開或乳點尤妙</p>
<h4>明目方</h4>
<p>冬至後槐角子如黑漆者洗淨晒乾不拘多少裝入黑牛膽內以八分為滿懸於風前陰乾破膽取出用瓷罐盛每月初一日用一粒早晨滾水待冷吞下每一日漸加一粒至十五日加至十五粒止十六日復漸減一粒至三十日只用一粒朔如前早飯後用槐角獨子者不用又服法單日雙服雙日單服</p>
<h4>治酒刺方</h4>
<p>檳榔（十個）　白茄取汁浸檳榔七次晒乾　硫黃用人乳煮過干等分研末唾擦即愈</p>
<h4>治瓮鼻塞肉方</h4>
<p>枯礬研末用棉胭脂包裹塞鼻數次即愈</p>
<h3>口病</h3>
<p>內經曰中央黃色入通於脾開竅於口藏精於脾又曰陰之五宮本在五味陰之五宮傷在五味是以肝熱則口酸心熱則口苦脾熱則口甘肺熱則口辛腎熱則口咸有口淡者知胃熱也外有謀慮不決肝遺熱於膽而口苦者亦有脾胃虛弱木乘土位而口酸者或膀胱遺熱於小腸膈腸不便上為口糜生瘡潰爛又傷寒狐惑之症上唇生瘡蟲食其藏者下唇生瘡蟲食其肛者口之為病種種不同治法肝膽有實熱口酸而苦者小柴胡加青皮龍膽草甚者當歸蘆薈丸若謀慮不決肝虛而苦者人參遠志茯神甘草為君心熱而口苦或口舌生瘡黃連瀉心湯涼膈散脾熱口甘三黃丸平胃散肺熱口辛甘桔湯瀉白散金沸草散腎熱口咸滋腎丸大補陰丸大補丸膽熱口苦謀慮不決所致者小柴胡加麥冬棗仁地骨皮遠志膀胱遺熱於小腸上為口糜生瘡潰爛者柴胡地骨皮湯狐惑見傷寒門凡口瘡服涼藥不愈者乃中氣不足虛火泛上無制理中湯反治之而愈蓋人參白朮甘草補土之虛乾薑散火之標甚者加附子或用官桂噙之亦妙</p>
<h4>治瓮鼻塞肉方</h4>
<p>治心熱口苦口舌生瘡</p>
<p>治同前</p>
<p>治脾熱口甘</p>
<p>治同前</p>
<p>治肺熱口辛</p>
<p>治同前</p>
<p>治同前荊芥　麻黃　甘草　前胡　赤芍　半夏　旋覆花加薑棗煎</p>
<p>治腎熱口咸</p>
<p>大補丸</p>
<p>治膽熱口苦謀慮不決（本方加麥冬棗仁地骨皮遠志）</p>
<p>治膀胱移熱於小腸口糜生瘡地骨皮　柴胡（等分）人實加大黃朴硝以利之</p>
<h4>治口瘡方</h4>
<p>兼治走馬根人中白　孩兒茶　硼砂　冰片　桐綠　麝香加螵蛸為末搽瘡上</p>
<p>黃柏　細辛（等分）為末搽上即愈</p>
<p>治中氣不足虛火泛上口瘡久服涼藥不愈</p>
<p>治上下牙疼牽引頭腦面發熱當歸　黃連　生地　丹皮　升麻　玄參</p>
<h4>用效治牙痛方</h4>
<p>葛根　升麻　石膏　知母　黃連　甘草　白芍　當歸　生地</p>
<p>青白鹽等分以川椒熬水洒入鹽內同炒擦牙上出涎痛止</p>
<p>骨碎補炒研末擦齒出涎痛止治牙痛大蟲牙獨活　羌活　防風　細辛（各二錢五分）　秦椒（一分如無用花椒二錢五分）　天笠黃（五分）</p>
<p>老醋一盞共煎八分噙嗽即愈吐出勿吞須久勤為妙</p>
<p>雄乳胡椒麝　蓽茇良薑細　左右鼻內吹哭來笑將去上末等分每用少許吹男左女右鼻內立止如牙痛臉腫用紙卷藥末在內作條蘸香油點著照牙痛處火滅再燃條盡則止</p>
<h4>擦牙散方</h4>
<p>旱蓮草（七斤）　嫩槐條（三斤）　食鹽（四十兩）</p>
<p>腌十五日共入鍋炒枯揀去枝梗再炒鹽黑為度收貯聽用香附（八兩）川大黃（八兩各炒黑）</p>
<p>共末名上各制細末每制過炒鹽十兩加香黃散二兩骨碎補一兩細辛末六錢共和勻每早擦牙齦至熱方驗</p>
<h3>健忘怔忡驚悸</h3>
<p>健忘者謂事有始無終言談不知首尾老人多患此虛可知矣怔忡者心中惕惕動搖不安如人將補之狀無時而作也驚悸者善恐怖驀然跳躍驚動有時而作師云治當分虛實健忘怔忡純主不足驚悸則不足之有餘也治健忘怔忡者多主心血不足精神虧欠皆用四物湯安神丸歸脾湯八物定志丸天王補心丹隨症加減若驚悸痰迷心竅者有痰因火動時作時止者治當溫膽湯二陳東加黃連生地茯神酸棗歸身遠志等藥仍當隨症加減勿補有餘而攻不足也</p>
<h4>四物湯</h4>
<p>人參（一兩五錢）　菖蒲　遠志　茯神（各一兩）　白朮　麥冬（各五錢）　牛黃（二錢）　朱砂（</p>
<p>加黃連生地茯神遠志歸身以上二方治驚悸</p>
<h3>三消</h3>
<p>內經曰二陽結謂之消東垣曰二陽者陽明也手陽明大腸主津液若消則目黃口乾乃津液不足也足陽明胃主血若熱則消穀善飢血中伏火乃血不足也結者津液不足結而不潤皆燥熱為病也岐伯曰脈實病久可治脈弦小病久不可治當分三消治之上消者肺也舌上亦烈大渴引飲經曰心遺熱於肺傳為膈消由火盛克金肺熱葉焦津液枯涸人虛用治瘧湯方人強用白虎東加花粉葛根烏梅枇杷葉及清肺藥中消者胃也善食而瘦自汗大便硬小便數叔和云口渴飲水多飢虛癉成為消中人虛宜補中渴甚白虎加人參黃連梔子生地人強便燥用調胃承氣三黃丸下消者腎也煩渴引飲耳葉焦干小便淋濁如膏叔和云焦煩水易虧此腎消也治法六味地黃丸八味丸及用人參知柏車前天冬麥冬澤瀉五味熟地之類三消通用當歸燥潤湯生浸甘露飲清心蓮子飲麥冬飲四物加減用效豬肚丸火忌半夏及發汗師云曾見消者飲水數升須臾吐盡此何以故由寒熱不相入水火不相濟故也其人終不治而死</p>
<h4>治上消消渴</h4>
<p>知母　花粉　葛根（各七分）　黃柏　柴胡　牛膝（各五分）　石膏（看渴量加）</p>
<p>麥冬（八分）米一撮水煎</p>
<p>治強人消渴（本方加花粉葛根烏梅枇杷葉）</p>
<p>三黃丸　治中消</p>
<p>八味丸　治下消</p>
<p>治三消小便多大便秘干燥　細辛　（生炙）甘草　熟地（各三分）　柴胡（七分）　黃柏知母　石膏　桃仁　歸身　麻仁　防風　荊芥穗（各一錢）　升麻（一錢五分）　紅花（</p>
<p>治心移熱於肺名曰膈消麥冬　花粉　知母　甘草　五味　生地　人參　葛根　茯神加竹葉水煎</p>
<p>黃連（五兩）　麥冬　知母　花粉（各四兩）　烏梅（一兩五錢）</p>
<p>上末入肚內縫口煮熟搗爛丸桐子大米湯下百丸可清心止渴</p>
<p>黃　石蓮肉　白茯　人參（各七錢五分）　黃芩　甘草　骨皮　麥冬　車前（各五錢）</p>
<p>發熱加柴胡薄荷</p>
<p>升麻　防風　甘草　防己　生地　歸身　柴胡　羌活　炙甘草　黃　知母　黃芩　石膏龍膽草　黃柏　紅花　桃仁　杏仁水煎加酒一小鐘稍熱服</p>
<h3>赤白濁</h3>
<p>濁者胃中濕熱滲入膀胱清濁不分大率皆是濕痰流注治宜燥濕降火兼升提之劑所謂清陽升則濁陰降耳赤者濕熱血分由心與小腸來白者熱傷氣分由肺與大腸來與婦人下赤白帶同看皆原於濕熱內傷虛損所致丹溪曰有濕痰有氣虛有血虛濕痰用二陳東加蒼朮黃柏白朮海粉氣虛補氣用補中益氣東加茯苓山梔血虛四物東加行濕藥亦有心熱腎虛而成濁也當清心補腎又便濁年久不愈小腹急痛不可忍者當作寒治東垣酒煮當歸丸或附子理中湯萆　釐清飲通用珍珠丸清心蓮子飲</p>
<h4>二陳湯</h4>
<p>治濕痰便濁（本方加蒼朮黃柏白朮海粉赤加白芍）</p>
<h4>補中益氣湯</h4>
<p>治氣虛便濁（本方加茯苓山梔）</p>
<h4>四物湯</h4>
<p>治血氣便濁（本方加行濕藥）</p>
<h4>萆釐清飲</h4>
<p>治元氣不足下焦虛寒小便白濁　石菖蒲　烏藥　益智　川萆　白茯　甘草梢（各一錢）燈心三分煎服</p>
<h4>珍珠粉丸</h4>
<p>治精滑白濁濕熱在內下二焦黃柏　真蛤粉（各一斤）　珍珠（三兩）</p>
<p>上末水丸桐子大空心溫酒服又方用青黛四兩不用珍珠</p>
<h4>固本治濁丸</h4>
<p>治胃中濕熱滲入膀胱濁下不禁蓮須　黃連　茯苓　砂仁　益智　半夏　黃柏　甘草（各二兩）　豬苓（二兩五錢）</p>
<p>蒸餅為丸空心酒下</p>
<h4>九龍丸</h4>
<p>治精滑濁下　枸杞　金櫻子　山楂　石蓮肉　蓮須　熟地　芡實　白茯苓　當歸（等分）</p>
<p>上末面糊丸桐子大鹽湯下</p>
<h4>東垣酒煮當歸丸</h4>
<p>治寒濁小腹急痛難忍　茴香（五錢）　黑附子　良薑（七錢）　當歸（一兩）　炙甘草　苦楝（生用）　丁香（五分）　木香　升麻　柴胡（一錢）　炒鹽　全蠍（三錢）　玄胡（四錢）</p>
<p>上末面糊丸桐子大空心鹽湯下</p>
<h4>附子理中湯</h4>
<p>治寒濁</p>
<h4>清心蓮子飲</h4>
<p>治心熱腎虛見消門</p>
<h4>參苓白朮散</h4>
<p>二仙丹　治脾胃虛</p>
<h4>水陸二仙丹</h4>
<p>治遺精白濁夢泄精脫金櫻子（一斗）　芡實（二斤）</p>
<p>以芡實為末取金櫻子黃熱者用籃承　水中杵去刺又入臼內碎去核絞取自然汁煎成飴糖和芡實末為丸桐子大空心淡鹽湯下</p>
<h4>妙香散</h4>
<p>治心虛遺精白濁　麝香（一錢）　人參（五錢）　木香（二錢五分）　茯苓　茯神　黃遠志（各一兩）　桔梗　甘草　神砂（二錢）　山藥每用熱酒調下二錢</p>
<h4>安神丸</h4>
<p>治思想用心二症</p>
<h4>大造丸</h4>
<p>治房夢遺精滑</p>
<h3>淋秘</h3>
<p>經曰飲入於胃游溢精氣上輸於脾脾氣散精上歸於肺通調水道下輸膀胱膀胱雖屬水全藉肺金為生化之源又曰水出高源肺金為水之母肺金清肅則通調水道而滲榮於下經謂氣化則能出者是謂平人若腎水虛竭臟病傳腑膀胱熱結清陽不能上升則濁陰不下降而淋秘之患作矣淋者小便瀝澀而痛閉者小便急滿不通丹溪為淋症雖有氣砂血膏勞五者之殊皆屬於濕熱統宜解熱利小便不可發汗汗之必便血東垣分在氣在血治之以渴於不渴辨之渴而小便不利者熱在上焦氣分肺金主之宜茯苓澤瀉燈心通草車前瞿麥山梔麥冬黃芩以清肺氣不渴而小便不利者熱在下焦血分腎與膀胱主之宜知柏熟地滋腎丸以補腎水師云淋秘大要有三有血虛者血因火燥下焦無血道路枯塞氣降遲緩致滲泄之令失常宜補血降火四物東加知柏牛膝甘草稍有氣虛者膻中之氣不下氣海之氣不化以致溲便不通治宜四物東加參　吞滋腎丸有痰者痰熱隔滯中焦阻塞升降氣不營運以致淋澀不通治宜二陳探吐古人治淋秘卒用吐法以提其氣滑伯仁用朱雀湯多加枳桔是皆下病上取之義也通用五苓散五淋散清肺飲子小薊湯血淋方八正散滋腎丸凡淋秘脈實大者生細澀者死</p>
<h4>五淋見症</h4>
<p>小便澀滯常有餘瀝不盡</p>
<p>陰莖中有砂石而痛溺不得　出砂出痛止是也</p>
<p>遇熱則發甚則溺血候其鼻準色黃者知其小便難也</p>
<p>溺濁如膏</p>
<p>遇房即發痛引氣衝大凡小腸有氣則小便脹小腸有血則小便澀小腸有熱則小便痛痛者為血淋不痛者為尿血敗精結者為砂精結散者為膏金石結者為石小便澀有餘瀝者為氣虛揣本揆原各從其類執劑之法並用通行滯氣疏利小便消解邪熱其調平心火又三者之綱領心清則小便自利心平則血不妄行最不可用補藥氣得補而愈脹血得補而愈澀熱得補而愈盛小便淋澀亦有挾寒者良由腎氣虛弱囊中受寒見症先寒戰而後溲便蓋冷氣與正氣交爭冷氣盛則寒戰而成淋正氣盛則寒戰解而便溺又有胞系轉戾之不通者見症臍下急痛小便不通由於強忍小便忍尿入房使水氣上逆氣迫於胞故屈戾而不得舒張也胞落則死又有孕婦多患小便不通以胞被壓下故也血淋一症須辨血色鮮者小腸與心實熱瘀者腎膀胱冷</p>
<p>治血虛淋秘（本方加知柏甘草梢牛膝）</p>
<p>治氣虛淋秘（本方加黃　吞滋腎丸）</p>
<p>探吐治痰熱隔滯中焦阻塞升降氣不營運</p>
<p>五淋散　治諸淋赤茯苓　赤芍　山梔　生甘草（七錢五分）　當歸　黃芩（五錢）加燈心煎溫服</p>
<p>治下焦熱結血淋生地　小薊根　通草　滑石　山梔　蒲黃　淡竹葉　歸梢　甘草梢　藕節（各五分）</p>
<p>治大小便俱閉大黃　瞿麥　木通　滑石　蓄　車前　山梔　燈心水煎</p>
<p>川牛膝一合細切以新汲水五大盞煎耗其四入麝少許空心服</p>
<p>海金砂　滑石（各三錢）燈心湯調下</p>
<p>治風秘大黃（五錢）　麻仁　山萸　山藥　郁李仁　菟絲子　牛膝（各二兩）　枳殼　獨活（各一兩）</p>
<p>蜜丸桐子大酒茶任下二十丸</p>
<h3>黃疸</h3>
<p>黃膽之病胡自而起乎經曰濕熱相交民當病癉癉者黃也夫脾胃行其津液也津液行則小便利何黃之有惟濕生乎熱熱生乎濕濕熱相生遂成滯滿由是胃氣潛衰脾氣孱弱不能為胃行其津液致上焦不行故身不得汗下脘不通故復無小便熏蒸日久熱氣成黃熱勝濕者其黃鮮明濕勝熱者其色淡暗然亦有五者不同有酒疸穀疸黃汗疸女勞疸黃膽不必分五同是濕熱與盒曲相似愚謂五者之中惟女勞疸另立法治非流通濕熱一法之可治也蓋治濕法不過茵陳五芩散茵陳蒿湯大黃黃柏梔子硝石等湯濕熱行則黃自退矣惟女勞疸是腎虛而成乃不足之症不可作行濕熱有餘治之故東垣有腎疸湯雖有參朮黃柏等藥在其中而多用風藥以提中氣散濕熱是初起強健之人則可若腎精久虛元氣憊者亦非確論必四物知柏以壯水之主參朮以培氣之元隨症加行濕熱之劑則標本同治庶或可以收全功矣學人烏可總五疸而混同一治乎抑有說焉傷寒發汗不徹通利不及頭汗出身無汗齊頸而還小便不利渴飲水漿此為瘀熱在裡而發黃也其色必鮮黃連茵陳五苓主之傷寒發汗身目為黃小便利此為寒濕在裡而發黃也其色必暗小建中主之有或身黃脈沉結小腹硬小便自利其人如狂又為　血在下焦而發黃者抵當湯主之外有黃腫一症每因濕熱沖逆清氣不行氣既不行逆於肉裡浮腫隨見當用茵陳五苓散加木香黃連香附卜子枳朴大黃行氣之藥則熱除腫消矣雖發黃之症可治者固多而不救亦不少也寸口近掌無脈口渴鼻出冷氣此肺絕也形體如煙熏直視搖頭此心絕也環口黧黑柔汗發黃此脾絕也雖有神工將何為哉</p>
<h4>五疸見症</h4>
<p>黃膽通身面目悉黃酒疸心熱足熱懊　不能食時吐其人素必嗜酒穀疸消穀易飢難飽飽則發熱黃汗者常自汗黃色或上身盡黃下體不黃女勞疸者素傷於色發黃額上黑手足心熱日暮則發膀胱急大便溏小便白利腹如水狀此為難治黃膽由脾胃所致當究其因分利為先解毒次之諸疸口淡怔忡耳鳴足軟微寒發熱小便白濁此為虛症治宜四君子湯合八物丸不可過涼劑強通小便恐腎水枯竭久而面黑色黃及有渴者不治不渴者可治</p>
<h4>黃膽主方</h4>
<p>治傷寒或伏暑發黃小便不利煩渴等症本方倍茵陳入薑棗煎</p>
<p>治（發黃）脈沉細數四肢便澀煩渴　茯苓　桂枝　豬苓（各一錢）　滑石（一錢五分）　茵陳（二錢）　脈不出加當歸一錢　滑石（一錢五分）　茵陳（二錢）</p>
<p>治身熱鼻干汗出陽氣上奔小便赤澀濕熱發黃茵陳（一兩）　梔子（三錢）　大黃（三錢五分）</p>
<p>治傷寒大熱發黃面目俱黃小便赤澀茵陳　梔子　柴胡　黃柏　黃芩　升麻燈心三分煎</p>
<p>梔子　黃柏　黃連（各三錢五分）煎服</p>
<p>治腎疸本方加知柏參朮</p>
<p>治傷寒瘀熱在裡發黃</p>
<p>治傷寒濕在裡發黃</p>
<p>治蓄血在下焦發黃　提金丸　治黃腫蒼朮　白朮（各二兩五錢）　甘草（五錢）　陳皮　神麯　麥芽（各一兩五錢）　針砂　香附（各</p>
<h3>調經</h3>
<p>內經曰女人七歲腎氣盛齒更發長二七而天癸至娠脈通太衝脈盛月事以時下然月事何獨於婦人蓋男屬陽氣多血少女屬陰氣少血多故男子血生於心納於肝以次入腎而變精女子血生於心由心經胞落下肝腎其有餘者注胞胎而為月事王冰所謂陰盛海滿而去血也月事有調有不調何也蓋沖為血海任住胞胎手太陽小腸之經手少陰心經也此二經相為表裡在上為乳汁下為月事是月水乃經絡之余若平人冷熱調和氣血不傷則沖妊二脈氣盛太陽少陰所主之血宣流依時而下三旬一見似月盈則虧之象故曰月事若勞傷血氣寒溫乖適經脈則虛虛則邪氣乘之邪客於血或寒或溫寒則血結溫則血消此月事因不調即經所謂月事不來胞脈閉者是也推其不調之症有經閉不通者有經絕不行者有終身不月者有先期後期乍行乍止血鮮血淡疼痛帶濁之不同治當推類求之經閉不通者因瘀血內積時常作痛致閉不通此症易治不過一驅逐之功耳經絕不行者有因心事不遂致心血虧欠故乏血以歸肝而出納之令枯竭矣有相火妄動煎熬真陰熏蒸血海名曰血枯此症勞病多主之有二陽之病發心脾男子不得隱曲女子則不月二陽者胃與大腸也胃主納食大腸主運化經曰食氣入胃濁氣歸心淫精於脈飲入於胃游溢精氣上輸於脾今腸胃既病則不運不化心脾何所資乎心脾無資則男不生精女不生血在男子則不得隱曲在女子則月事不行此即經絕之候又脾與胃為表裡久則傳入於脾為風消風消者銷爍羸瘦以脾主肌肉故也肺與大腸為表裡久則延入於肺為喘息奔急以肺主氣故也兼入心則三臟二腑俱病故曰死不治女人終身不月者必便血蓋胃口名賁門與心相連血錯經妄行不入肝而入胃脘下出齒門達小腸闌門以次傳入大腸此秘驗也經水先期多屬血熱四物湯用生地加丹皮芩連香附血色鮮紅更主熱甚所謂熱則流通上項藥倍生地丹皮芩連白芍過期瘦人多屬血少四物倍熟地當歸參朮炙甘草紅花少許過期血淡者屬血虛挾痰二陳加川芎歸芍香附阿膠血紫者氣之熱血黑者熱之甚血塊者氣之滯多作腹痛紫黑宜四物湯生地加香附芩連丹皮玄胡蒲黃血塊用芎芍歸尾五靈脂三棱莪朮香附桃仁紅花腹痛甚者加乳香沒藥劫而止之凡行未盡而乍止有三義有暴怒郁結致氣滯不行宜芎歸香附玄胡紅花炒白朮丹皮烏藥木香之類以行之有形寒飲冷以致經血凝結宜前項藥中加砂仁乾薑消息之有傷寒經水適斷熱入血室往來寒熱似瘧非瘧或晝則明了夜則譫語如見鬼狀俱用小柴胡湯將行作痛屬氣血實一云氣之滯俱用生地川芎歸尾炒連香附桃仁紅花玄胡丹皮莪朮白芷行後綿綿作痛屬氣血虛亦用四物倍歸身阿膠參朮紅花炙甘草以補之亦有血行氣滯致行未盡者宜上項藥選用仍加木香檳榔香附玄胡莪朮烏藥以行之經下帶行赤白者屬濕熱宜二陳合二妙散凡治女病首重調經調經大旨不外乎此善學人臨症察脈而詳究之思過半矣</p>
<h4>調經主方</h4>
<p>四物湯調經總司等分煎服虛中有熱月事不來本方加條芩先期屬月熱本方換生地加丹皮芩連香附過期屬血少本方倍熟地當歸加參朮兼痰藥過期色紫黑有塊作痛屬血熱本方加香附黃連常不及期屬血熱本方加芩連香附肥人兼痰藥血枯經閉本方加桃仁紅花瘦人子宮無血精氣不聚亦令無子本方加養（血陰）藥經水臨行作痛屬血實一曰瘀血鬱滯本方加</p>
<p>治過期色淡挾痰本方加芎歸</p>
<p>治經行後作痛氣血俱虛</p>
<p>治肥人軀脂滿經閉本方加芎歸黃連不可用地黃以其凝滯也如用必加薑汁炒肥人少子亦由痰多脂膜閉塞子宮不能受精施化也宜服此經行赤白帶屬濕熱四物湯合二妙散</p>
<h4>通行調經養血清熱方</h4>
<p>當歸　白芍　條芩（各七分）　茯苓　白朮（各八分）　生地　知母　香附　陳皮　丹皮（各五</p>
<h4>治過期不行方</h4>
<p>補血行血川芎　白芍　甘草（各五分）　熟地　莪朮　木通（各八分）　桃仁（一錢二分）　香附蘇木（</p>
<h4>治先期方</h4>
<p>養血涼血歸身（一錢五分）　川芎　阿膠　艾葉　知柏　甘草（各五分）　生地　條芩　香附（各一錢）</p>
<p>治過期不止滋陰帶澀黃芩　龜板　白芍（各一兩）　樗根白皮（七錢）　黃柏（三錢）　香附（二錢五分）　酒糊丸</p>
<h4>治室水經水不通方</h4>
<p>晚蠶砂（一兩）　研末酒煮一沸服下立通</p>
<p>治勞傷虛血衝任虛損月水過多淋瀝不止阿膠　川芎　甘草（各五分）　白芍　熟地（各一錢）　艾葉　當歸（各七分）　一方加地榆黃</p>
<p>治婦人血海疼痛常歸　甘草　木香　烏藥（各一錢五分）　香附（一錢）</p>
<p>經水不調腹中行時作痛體濃者服之甚效歸尾　茯苓（各一錢）　生地　赤芍　香附　玄胡　條芩（各八分）　丹皮　陳皮　烏藥（各七分）</p>
<p>瘦弱者宜此生地　當歸（各一兩）　川芎　阿膠　條芩　蒼朮　白朮（各七錢）　赤芍　丹皮　人參黃柏</p>
<p>治經閉作痛服之即行痛止沒藥（五錢五分）　桃仁　紅花為末酒調下赤帶方　赤屬血分自小腸來濕熱俱多　黃芩　黃連　黃柏　山梔　蒼朮　丹皮　當歸生地　芍藥</p>
<p>治白帶蕎麥粉一兩雞子白二味為丸白水下</p>
<p>白朮　蒼朮（各七分）　黃柏（三分）　當歸　白芍（各八分）　條芩　玄胡　香附　陳皮川芎　天花粉（各五分）水煎食遠服</p>
<h4>崩漏主方</h4>
<p>崩漏多因氣所使而下香附　歸身　白芍　熟地　白朮　棕櫚灰（一錢）　川芎　黃　蒲黃　地榆　人參（各五分）　麻黃（三分）</p>
<p>治婦人血崩是腎水陰虛不能鎮守胞絡相火故血走而崩黃芩　荊芥　蔓荊子　知柏　本　細辛　川芎　黃連　羌活　柴胡　升麻　防風　生地當歸（各三分）　甘草（</p>
<h4>妊婦通用養血清熱健脾方</h4>
<p>白朮　山藥　白芍　當歸（八分）　蓮肉（一錢）　川芎　熟地（五分）　條芩（七分）</p>
<p>知母（六</p>
<p>治婦人赤白帶胎前產後一切病益母草勿犯鐵氣蜜丸彈子大熱酒加童便化下</p>
<p>治胎氣不安或腹微痛或腰作痛或飲食不喜俱宜　白朮　當歸　白芍　熟地（各一錢）　人參川芎　條芩　陳皮（五分）　甘草　砂仁　紫蘇（三分）　薑二片</p>
<p>白朮　條芩　等分粥丸</p>
<p>杜仲（八兩）　續斷（三兩）　山藥末糊蜜和丸</p>
<h4>心腹諸痛方</h4>
<p>治妊婦觸動胎元痛不可忍及下血者白朮　條芩　川芎（各八分）　白芍（一錢）　陳皮（七分）　砂仁　玄胡（各五分）</p>
<p>又方　治妊婦失跌腹痛胎動白朮　陳皮　黃芩　川芎　白芍　砂仁　甘草</p>
<h4>治惡阻方</h4>
<p>白朮　半夏（八分）　茯苓（一錢）　陳皮（七分）　條芩　藿香（各六分）　竹茹枇杷葉　歸身（五分）　甘草（二分）</p>
<p>人參　黃　當歸　白朮　白芍　艾葉　炙甘草　阿膠　川芎　青皮　香附　砂仁</p>
<p>當歸　川芎　熟地　白芍（各一錢）　玄胡（七分）　桃仁（三分）　紅花（二分）　香附青皮　澤蘭葉　丹皮（各五分）　童便酒各半鐘溫服</p>
<p>治妊婦八九個月內胎氣壅滿常宜服之滑胎易產安和子藏益血舒氣枳殼（五兩）　扮甘草炙（一兩五錢）　香附（一兩）</p>
<p>上末空心白水下二錢每日三服加糯米同丸更妙</p>
<p>治產後失血過多腰痛身熱自汗歸身（三錢）　黃　（二錢）　白朮（一錢五分）　薑二片</p>
<p>治兒枕痛當歸　肉桂　玄胡索</p>
<p>治產後虛汗不止黃　（二錢）　白朮　防風　熟地　牡蠣　茯苓　麥冬　炙甘草（各五分）　棗二枚</p>
<p>治產後惡血不盡腹中作痛當歸　芍藥（二錢）　肉桂（五分）　五靈脂（一錢）　加薑三片水酒各半煎服</p>
<p>治產後大便秘結麻仁　人參　枳殼　大黃　當歸上末等分蜜丸桐子大每服二十丸以便潤為度</p>
<h3>大便血症</h3>
<p>大便下血多原坐臥風濕醉飽入房餐冷停寒濕熱鬱積以致營血失道滲入大腸此腸風臟毒之所由作也挾熱下血清而色鮮者為腸風邪氣外入隨感而隨見挾冷下血濁而色黯者為臟毒郁至久而始發糞前來者為近血出於腸胃糞後來者為遠血出於肺肝便血大行為瀉血又有另作一派唧唧然出有力而遠四散如節腸腹中作痛者多熱毒所致悉屬胃與大腸主病丹溪曰凡下血不可純用寒涼必加辛味為佐久不愈用溫劑必兼升舉藥仍加酒浸酒炒寒因熱用之法通治槐花槐角地榆生地扁柏條芩炒連梔子芎歸阿膠升麻白芍茯苓蒲黃酌用之如兼風邪者加秦艽防風荊芥香附蒼朮腸風用蒜連丸極效臟毒人實宜桃仁紅花蘇木之類少行之瀉大下不止四物加黃連槐花急治百草霜研末或用百藥煎為丸每服二三錢酒下仍以上項藥加減添蓮房灰棕櫚灰止之有氣虛下陷者當升提之補中調中益氣東加烏梅槐花芩連乾薑少許大抵人身精血皆生於穀氣脾胃統血故治斯疾者不宜純用寒涼必資補劑收功久病虛弱必用黃　四君子湯參苓白朮散以和之胃氣一回諸血循於經絡矣又方書論血從下流為順易治若大下數升形肉枯槁此為陰脫正所謂微則易治甚則難痊若先吐血後變為下血者則又吉矣脈大身熱者死腸　下膿血脈弦絕者死滑大者生</p>
<h4>槐角地榆湯</h4>
<p>槐角　地榆　蒲黃（各六分）　生地　條芩（五分）　扁柏　升麻（各八分）　川芎當歸　梔子　阿膠（各七分）　白芍（一錢）煎服</p>
<h4>防風秦艽湯治腸風</h4>
<p>防風　羌活　秦艽　蒼朮　當歸　升麻（各七分）　白芷（一錢）　香附（五分）　煎溫服</p>
<h4>蒜連丸</h4>
<p>獨蒜頭（十個）　黃連（三兩）為末將蒜煨熟搗爛和米糊丸空心下四十丸</p>
<h4>百草霜丸</h4>
<p>百草霜百藥煎等分陳米糊丸</p>
<h4>去污蘇木湯</h4>
<p>人實者宜此桃仁（八分）　紅花（四分）　蘇木（三分）　歸尾　升麻（七分）　煎服</p>
<h4>黃連四物湯</h4>
<p>治瀉血大下當歸　白芍　川芎　熟地（各一錢）　黃連　升麻（各五分）　地榆（七分）　水煎</p>
<h4>黃四君子湯</h4>
<p>治人去血多虛弱人參　黃　白朮　茯苓　甘草（炙）　升麻加蓮子四個水煎</p>
<h4>參苓白朮散</h4>
<p>（方見內傷）</p>
<h4>胡梅公用效方</h4>
<p>枳殼　槐花　柏枝　槐角　白芷　甘草　地榆　升麻　人中白（各一兩）　防風　玄明粉當歸　川芎（各一兩五錢）　黃連（一兩二錢）　枯礬（三錢）　熟地（二兩）　為丸空心服</p>
<p>見　症治下血暴下可服二三次下血久人氣虛弱只宜用蒜連丸</p>
<p>治陽虛自汗人參　黃　歸身　白朮　升麻　柴胡　橘紅　甘草　麻黃根　浮小麥　白芍　桂枝酸棗水鐘半煎七分加棗二枚　虛極者加附子二片</p>
<p>治盜汗當歸　生地　熟地　黃連　黃芩　黃柏（各一錢）　黃　（二錢）　棗仁　牡蠣　麥冬（各七分）　五味（九粒）　棗二枚</p>
<h4>治盜汗方</h4>
<p>蕎麥粉早晨作湯圓空心服不用油鹽。</p>
