<header><h1>洪氏集驗方</h1></header>
<dl class="元資料" data-type="book">
<div><dt>作者</dt><dd>洪遵</dd></div>
<div><dt>朝代</dt><dd>宋</dd></div>
<div><dt>年份</dt><dd><data value="1170">公元1170年（宋·乾道五年）</data></dd></div>
</dl>
<h2>重刊宋本洪氏集驗方序</h2>
<p>此集驗方五卷，南宋‧洪文安所手輯。文安名遵字景嚴，皓之仲子，以博學鴻詞中選，起家為秘書省正字，孝宗朝，官至資政殿學士。方遵登制科時，高宗因皓遠使，推恩即命遵入館。詞科中選即入館，蓋自遵始，非故事也。宋祖宗之朝，君相以愛民為務，官設惠濟局，以醫藥旋舍貧人，故士大夫亦多留心方書。如世所傳《蘇沈良方》，許學士《本事方》之類，蓋一時風尚使然。夫古人立方各有深義，今世庸醫不知其理，妄行增損，遂有學醫人費之誚。憶孫淵如先生有言：今世外科每奏奇功，而內科不能者，外科用古方，而內科不用古方之故也。余往日刻新安程氏《易簡方論》一書，亦欲世人稍知古方本義，今復翁此書之刻，殆與余有同心也夫。</p>
<p><u>吳縣石韞玉序　</u></p>
<h2>重刊宋本洪氏集驗方後敘</h2>
<p>《洪氏集驗方》，惟延令季氏書目有之，知宋版外，絕無流傳之本；余故從宋本錄副，今始付雕。其書五卷皆全，無序有目，而目共五葉，其一號、二號、四號，系舊時鈔補，茲以烏絲欄細者別之，此用汲古鈔補宋版例也。本書字句間有不同，如「黃牛角鰓」或有作「腮」者，或云「一枝」，或云「一個」，又「慢火」或作「熳火」。又黃　狀如箭竿長二三尺，頭不又者，「又」疑「叉」之誤。又洗淨寸截，捶破□壁以鹽湯潤透，□系蠹蝕處，尚有系旁可審，疑□是「縣」字，以意補之。其余版心刻工姓名有蠹蝕去者，空之，無足重輕，不復補寫。以上各條，皆隨舉一二，以見宋刻原本如是，非涉重刊，而有訛舛脫漏也；大抵方書之字，大有關系處，在藥名、分兩、法制諸端，其余異同可勿深論。此書刊成，求序於獨學老人，有札示余云：昨所言交感丹，愚疑用香附太偏重。因查敝處所藏方書，乃是香附一個，配茯神四兩。尊鈔是香附一斤，竊意香附一個，無一斤重之理，恐系抄胥之誤，祈再查原本。此固慎重起見，然余即以此方降氣湯、牙藥二條證之，一用半斤，一用五兩，是遞減用之，原方一斤非誤。佞宋之癖如是如是，並附著之，以質諸深於醫理者，一正其是非云。</p>
<p><u>嘉慶己卯孟秋吳縣黃丕烈敘　</u></p>
<h2>卷第一</h2>
<h3>治痢</h3>
<p><u>先忠宣獲此方，屢有神驗。</u></p>
<p>黃連　吳茱萸（各二兩）</p>
<p>如常法揀洗焙乾，黃連銼令寸斷；同一處炒，俟香熟，分為二，各用醋糊為丸，如桐子大。（若小兒則如綠豆大。）悉赤痢，則服黃連，白痢則服茱萸，赤白則並服之。赤先白後，則先黃連而後茱萸。赤多白少，則二分黃連，一分茱萸。反是亦如之。每服五七十粒至百粒，服之以愈為度，陳米飲下。（大率茱萸治白，黃連治赤也。黃連用鷹爪者。）</p>
<h3>肉豆蔻散</h3>
<p>治赤白痢，無藥可治者，其效如神，上吐下痢者亦治。（以下三方，韓子溫肉豆蔻（切片子，炒黃色）　櫻粟殼（搗碎，用蜜　，拌勻，炒黑黃）　甘草（切碎，炒黃上等分，搗羅為末。每服六錢。如赤痢，多加甘草一寸，炙黃，同煎。若白痢，多加炒生薑一塊，同煎。用水二大盞，煎至一盞半，通口服，不計時候，卻將兩服滓再煎服，無不愈者。</p>
<h3>祛瘧散</h3>
<p>熱多寒少者一服，無不驗。（予家每合以濟人，一服即愈。）</p>
<p>治時行寒熱，諸藥不效者。今有夢中神傳藥方，如有此疾者，依方服之即愈。如所感深重，一服未愈者，定毒發一次，更不再來。</p>
<p>好高良薑　（銼碎，　微炒）　好川白薑　（炮，銼）</p>
<p>二味各碾為極細末。</p>
<p>上各秤等分，勿令偏些，再入乳缽內，一處研勻，細羅過二味。病大者，共抄三大錢，病小者，共三小錢，於當發日日未出時，以　豬膽二枚，勿用白色者，割開取汁，與藥調勻，再用熱酒少許，打勻，通口猛作口咽，更以酒少許送下，急嗽口，以甜物壓之。一日不得吃別藥，忌大寒物。（其膽須是　豬膽，其翁母豬膽不中。江南謂之鐓豬。）</p>
<h3>大交泰丹</h3>
<p><u>傷寒未分陰陽不可服。</u></p>
<p>治陰陽二毒傷寒。或因下早亡陽，或致結伏胸膈，四肢厥冷，脈息俱無，心躁如火。或因冷物傷脾，夾臍疰痛；生硬入胃，中滿痞塞，潮發寒熱。並治翻胃，噦逆，霍亂，吐痢，小腸　癖，脅肋氣痛。但是陰陽不順惡候，傷寒壞證，並皆治之。每服一粒，炭火內　通赤，良久取出，放冷，細研如粉，米飲一盞，煎七分，溫服，不拘時候，隔半時辰再進一服，其效如神。兼治小兒瘡疹倒厭，依法服半粒，立愈。</p>
<p>金星石　太陰玄精石　銀星石　雲母石（白色片子）　代赭石　桂府滑石　禹餘石（以上各一兩）　寒水石（吉州者，一兩半）　不灰木（一兩，色青黑，性軟者）</p>
<p>上件九味，入瓷瓶子，炭半秤，　，候火耗一半，取出放冷，研為細末，糯米粥為丸，如彈子大，候干用。（系醫壞證傷寒，一服可活一人。）</p>
<h3>混元胎丹</h3>
<p>乃陰陽始生之物，氣、精、血初生之英華，蓋人元宮真氣所化；修真之士服餌，補漏，壯氣，固神，益髓，通神明，延壽命，增益道涯，超范圍外。內丹之基，具服餌，方如後。</p>
<p>（久無嗣息者，服此有驗。）</p>
<p>以首兒衣（二八月者不用，收時，連帶中元血收）</p>
<p>用長流水淨洗，控干，入瓷瓶中，下無灰法酒三大勝，腦子、麝香。隨力下之，多止一錢，或半字，以紙封瓶口，下用文武火　，候酒將盡，取出，再入酒三勝，依前　卻，用竹篦或金銀篦不住攪，以覺爛糜似粥模樣，待冷，取入砂盆內細研如粉，別入外料。</p>
<p>人參（二兩）　茯苓（二兩）　乳香（半兩）　朱砂（半兩水飛過，晾干取淨）　山藥（四兩）</p>
<p>以上並為細末，人參等須擇佳者。</p>
<p>上用上件藥末，入於所煮藥內。如干時，更用原　酒旋旋添，拌勻一處，攪搜為丸，梧桐子大，慢火焙乾。每日空心五十粒，加至一百粒，用溫酒鹽湯下，良久，用甜淡飲食飽壓；逐日葷味中減少五味。（謂甜、淡、咸等物。）服至五七日，微覺小腹連腰沉重，不須疑慮，乃是藥力攻，元氣相補助如此。</p>
<h3>還少丹</h3>
<p>西川羅赤腳仙還少丹　大補心腎脾胃，一切虛損，神志俱耗，筋力頓衰，腰腳沉重，肢體倦怠，血氣羸之，小便昏濁。（陳晦叔敷文傳。）</p>
<p>干山藥　牛膝（酒浸一宿，焙乾，各一兩半）　山茱萸　白茯苓（去皮）　五味子　肉蓯蓉（酒浸一宿，焙乾）　石菖蒲　巴戟（去心）　遠志（去心）　杜仲（去粗皮，用生薑汁並酒合和，塗炙上搗羅為末，煉蜜，入棗肉為丸，如梧桐子大。每服三十丸，溫酒鹽湯下，日進三服，皆食空時。（如早食並服之無妨。）至五日覺有力，十日精神爽健，半月氣力稍盛，二十日目明，一月夜思飲食，冬月手足常暖。久服無毒，令人身體輕健，筋骨壯盛，怡悅難老。更看體候加減，如身熱加山梔子一兩，心氣不寧加麥門冬一兩，少精神加五味子一兩，陽弱加續斷一兩。常服齒牢，永無瘴瘧。婦人服之，姿容光悅，去一切病，治子宮久冷。</p>
<h3>瓊玉膏</h3>
<p>鐵瓮先生神仙秘法瓊玉膏（陳晦叔服此藥有驗。）</p>
<p>新羅人參（二十四兩，舂一千下，為末）　生地黃（一秤十六斤，九月采，搗）　雪白茯苓（四十九兩，木舂千下，為末）　白沙蜜（十斤）</p>
<p>上件，人參、茯苓為細末，蜜用生絹濾過，地黃取自然汁，搗時不得用鐵器，取汁盡滓用。藥一處拌，和勻，入銀石器或好瓷器內封用，如器物小，分兩處物盛。用淨紙二三十重封閉，入湯內，以桑木柴火煮六日，如連夜火即三日夜。取出用蠟紙數重包瓶口，入井內，去火毒一伏時。取出再入舊湯內，煮一日，出水氣。取出開封，取三匙，作三盞，祭天地百神，焚香設拜，至誠端心。每晨朝，以二匙溫酒化服，不飲者，白湯化之。此膏填精補，腸化為筋，萬神具足，五臟盈溢，髓實血滿，發白變黑，返老還童，行如奔馬，日進數食，或終日不食亦不飢，關通強記，日誦萬言，神識高邁，夜無夢想。人年二十七歲以前，服此一料，可壽三百六十歲；四十五歲以前服者，可壽二百四十歲；六十三歲以前服者，可壽百廿歲；六十四歲以上服之，可壽至百歲。服之十劑，絕嗜欲，修陰功，成地仙矣。一料分五處，可救五人癰疾；分十處，可救十人勞瘵。修合之時，沐浴志誠，勿輕示人。</p>
<h3>一粒金丹</h3>
<p>治中風癱瘓，口眼　斜，涎潮語澀，渾身疼痛。應一切風疾，悉皆治愈。（張真甫舍人傳，得之劉信叔。）</p>
<p>大川烏頭，（炮，去皮臍）　大黑附子（炮裂，去皮臍）　新羅附子（炮裂，以上各二兩）五靈脂（一兩）　白僵蠶（一兩，去絲，炒）　白蒺藜（一兩，炒，去刺）　沒藥（半兩，研）</p>
<p>朱砂（半百片）</p>
<p>上件，前六味，同為末，後四味研勻，同合和令勻，用井花水一大盞，研墨盡為度，將汁搜和，用杵臼內搗五百下，和丸如彈子大，金箔為衣，窨干。每服一粒，用生薑一兩，去皮，　取自然汁，將藥丸於汁內磨化盡，用無灰熱酒一大盞，同浸化，溫服。更量性多少，吃溫酒一二升，投之，以助藥力，用衣被蓋覆，汗出為效。痛熱重者，日進二服，不拘時張天師留傳老換少壯，輕身強記，駐顏悅色，發白變黑，開心中迷忘，聰明耳目。</p>
<h3>神妙六逸丸</h3>
<p><u>賀州王承務方，李少卿若朴傳。</u></p>
<p>石菖蒲（九節者，能開心孔，聰明耳目，益智不忘，出音聲，治耳聾，高志不老）　菟絲子（補不足，益氣力，堅筋骨，主口苦燥渴。久服輕身延年）　地骨皮（主五臟邪氣，燥熱消渴，裨益真氣。久服輕身，堅筋骨，不老，耐寒暑）　遠志（補不足，除邪氣，益精神，注智聰，明耳目。去皮膚中熱。久服輕身不老，好顏色，益心）　生乾地黃（填骨髓，長肌肉，去胃中宿食，補五臟，通血脈，益氣力，利耳目）　牛膝（能助人筋骨，偏治腰疼，益真氣，變白發。久服輕身不老，耐寒暑）</p>
<p>上件藥各用二兩，先總銼碎，用酒浸之，春夏五日，秋冬七日，慢火焙乾，搗羅為末，煉蜜為丸，如梧桐子大；每服空心溫酒下三十丸至五十丸，百病俱退。服至一百日，老卻少容，服至一年，發如漆過。二年顏如童子，三年骨髓堅實，四年鬼神自散，精神爽清。合藥並服時，忌雞犬見。所傳不得過十三家。（湖州杜助教所傳。葛仙翁六神丸，用藥六味，與此方同。）</p>
<h3>鐵瓮申先生交感丹</h3>
<p><u>俞居易侍郎傳。</u></p>
<p>世人中年精耗神衰，常言百事心灰，蓋緣心血少，而火不能下降於腎，氣憊而水不能上升至心，中焦隔絕，營衛不和；所苦者，上則心多驚悸，中則寒痞，飲食減少，下則虛冷遺泄，甚至於陰痿不興，臟氣滑泄。愚醫徒知峻補下田，非獨不能生水滋心，而建偽失真，立見衰悴，夭折之由，當自此始，悲夫。所處此方，廣濟迷流，然不可忽此藥品。志心服之半年，漸屏去一切暖藥，又不可持此而馳嗜欲，然後力習秘固溯流之術，其神效不可殫述。質之天地，切勿妄傳。居易之祖通奉遺訓云，予年五十一歲，遇鐵瓮申先生，授此秘術，酷志行持。服食一年大補，平日所服暖藥，一切屏盡，而飲食嗜好不減壯歲，此藥力之功大矣。</p>
<p>今年八十五，享天然之壽，瞑目無憾，獨此藥傳之，理當普示群生，同登道果，藥後有湯與牙藥，可同用之。</p>
<p>茯神（四兩）　香附子（一斤，去毛，用新水浸一夕，炒令黃色）</p>
<p>上為末，煉蜜丸如彈子大。每服侵晨一丸，以後湯嚼下。</p>
<h3>降氣湯</h3>
<p>茯神（二兩）　香附子（半斤，炒浸如前）　甘草（一兩半，炙黃）</p>
<p>上為末。每服二錢，沸湯點下。</p>
<h3>牙藥</h3>
<p>香附子（五兩）</p>
<p>上以生薑三兩研，和滓汁浸香附子三夕，炒焦黑存性，為末，以青鹽二錢，拌勻，揩牙。</p>
<h2>卷第二（癰疽）</h2>
<h3>化毒排膿內補散</h3>
<p>（丞相兄刊是方於徽州，予屢以施人，皆效。）治一切癰疽瘡癤，未成者速散，已成者速潰，敗膿自出，無用手擠，惡肉自去，不犯刀杖；服藥後，疼痛頓減，此其嘗試之效也。歙丞胡權初得方於都下異人，時有苦背瘍者七十余頭，諸藥遍試不效，因出是方示之。眾醫環立，相目而笑曰：是豈癰疽所用藥耶。固謂之曰：古人處方自有意義，觀其所用藥性平和，縱未能已疾，必不至壞病，服之何害。乃治藥與服，以熱酒半升許，下藥五六錢。少頃，痛減七分，數服之後，瘡大潰，膿血流迸，若有物自內托之。服之經月，瘡口遂合，若未嘗有所苦者。又有苦腹疾者，其痛異常，醫者莫曉時意。此藥頗能止痛，試以餌之，當日下膿二三碗許，痛亦隨止，乃腸癰也。又一老人，忽胸間發腫，根腳甚大，毒瓦斯上攻，如一瓠然，斜插項右，不能轉動。服藥，明日毒腫既散，余一小瘤，如栗許大。又明日，帖然如故。又一人發腦，疑此方不服，既殞於庸醫之手。明年，其子復苦此，與父之狀不異，因懲父之失，縱酒飲藥，遂至大醉，竟日袞臥地上，酒醒病已去矣。又一婦人發乳，　腫疼痛，不可堪忍，自謂無復生理。又二婦人，股間發腫，大如杯碗，服此皆脫然如失。蒙濟者不可悉數，姑敘大略，以示未知此方者。大抵癰疽之作，皆氣血凝滯，風毒壅結所致，治之不早，則外壞肌肉，內攻臟腑，去生遠矣。詳味此方其所用者，皆發散風毒，流行氣血，排膿止痛，生肌長肉等藥。五毒不試，而坐收瘍醫十全之功，其可尚已。今按本草，於逐味下聊疏藥性溫涼，與所治療，雖處方妙指不可遽曉，庶倉猝之際，可以見其用藥大意，而服之不疑。</p>
<p>人參（微溫，無毒。主補五臟，除邪氣，通血脈，破堅積，療心腹鼓痛，胸脅逆滿。今以新羅者為上，擇團結重實滋潤者，洗淨去蘆，薄切，焙乾）　當歸（大溫，無毒。主溫中止痛，除客血內塞，客氣虛冷，補五臟，生肌肉，治一切風，一切勞，破惡血，養新血。又《外台》、《金匱》等方，皆謂大補不足，決取立效之藥。凡氣血昏亂者，服之即定，謂能使氣血歸所。當歸制名之義，宜出於此。今取川中來者，擇大片如馬尾狀，滋潤甜辣芬香者，溫水洗，薄切，焙乾）　黃　（微溫，無毒。主癰疽久敗瘡，排膿止痛，逐五臟間惡血，補丈夫虛損五勞，羸瘦，煩悶熱毒，活血。以綿上來者為勝，狀如箭竿，長二三尺，頭不叉者。洗淨，寸截，槌破懸壁，以鹽湯潤透，用盞盛，蓋湯瓶上一炊久，焙燥，隨眾藥入碾，即成細末）</p>
<p>芎（溫，無毒。主中風入腦，頭痛寒痹，筋攣拘急。除腦中冷痛，面上游風，治一切風，一切氣，一切血，一切勞損，諸寒，心腹堅痛，中惡，卒急腫痛，腰腳軟弱，半身不遂。壯筋骨，調眾脈，破症結，治癰疽發背，排膿消瘀，養血長肉。以川中來者為上，今多用撫芎。大塊者淨洗，切焙）　防風（溫，無毒。治心腹痛，四肢拘急，經脈虛羸。主骨節風，男子一切勞劣；補中益神，通利五臟關脈，五勞七傷，羸損盜汗，心煩體重。能安神定志，勻氣脈。擇新香者，淨洗，切焙）　厚朴（大溫，無毒。主中風寒熱，血痹死肌，溫中下氣。去留熱，止煩滿，濃腸胃，去結水，破宿血，消化水穀，止五臟一切氣痛。宜用梓州來者，肉濃而色紫，掐之油出；去粗皮，切，薑汁窨一宿，　熟，焙燥，切。勿用杜、朴）　桔梗（微溫，有小毒；主胸脅痛如刀刺，腹滿腸鳴，利五臟，補血氣，除寒熱，破血消積，止心腹脹痛。</p>
<p>補五勞，養氣除邪，又養血排膿，補內漏，療胸中寒。肺脈數，咽噪不渴，時時出濁唾腥臭，吐膿如粳米粥，是肺癰。治之用桔梗甘草各二兩，水三升，煮取一升，分再服，朝暮吐膿血即瘥。今所在有之，以有心、味苦者為真。無心、味甘者薺　也，主解藥毒，恐於眾藥不利，切勿誤用。洗淨去頭尾，薄切焙燥），白芷（溫，無毒。破宿血，長新血。治乳癰瘰　，腸風痔　，排膿止痛生肌）　桂（大熱，有小毒，一曰：溫，無毒。為諸藥先聘，主溫中，利肝肺氣。去心腹寒熱，補五勞七傷，通九竅，利關節，破　癖症瘕，消瘀血，續筋骨，生肌肉。筒濃者，宜入治臟及下部藥；輕薄者，宜入治頭目發散藥。今宜用卷薄者。古法帶皮桂，每兩止取二錢半，合用一兩者，當買四兩。候眾藥罷，別碾方入）　甘草（平，無毒。主臟腑寒熱邪氣，堅筋骨，長肌肉，解毒，溫中下氣，倍力。生用）</p>
<p>上十味，選藥貴精，皆取淨，晒焙極燥方秤。人參、當歸、黃　各二兩，余各一兩。除桂外，一處為細末，入桂，令勻。每服自三錢，加至五六錢，熱酒調下，日夜各數服，以多為妙。服至瘡口合，更服為佳。所以補前損，杜後患也。不飲酒人，濃煎木香湯下，然不若酒力之勝也。或飲酒不多，能勉強間用酒調，並以木香湯解酒，功效當不減於酒也。</p>
<h3>神授癰疽靈方</h3>
<p><u>唐呂西華遇胡僧，授此方，《沈存中良方》備載其事。</u></p>
<p>白麥飯石（顏色黃白類麥飯者，曾作磨者尤佳。炭火燒赤，醋中浸之，十遍止，為末）</p>
<p>白蘞末（與石等分）　鹿角（三二寸，截之。不用自脫者。凡帶腦骨者，即非自脫。炭火燒之，煙盡為度，搗為末，倍前二味）</p>
<p>上並搗，篩令細。取多年米醋，於鐺中煎，並令魚眼沸，即下前件末，調如稀餳。以篦子塗敷腫上，只當瘡頭留一指面地，勿令合，以出熱氣。如未膿，當內消；若已作頭，當撮小。若日久瘡甚，肌肉損爛，筋骨出露，即於布上塗藥，貼之瘡上，干即再換，但以鬲中不穴，無不瘥。瘡切忌手觸，宜戒之。劉夢得《傳信方》亦載。</p>
<h3>治乳癰發背，諸般瘡毒。</h3>
<p><u>丹陽僧傳。</u></p>
<p>金銀花（一名忍寒草）</p>
<p>上采葉，研為滓，敷瘡口。（花五出而白，微香，蒂帶紅色，野生延蔓，葉如薜荔而青予見《沈存中良方》所載，忍冬嫩苗，治癰疽云：江西醫僧鑒清，善治背疽，得其方，用老翁須。後在金陵，聞醫王善琪治瘍，其方用水楊藤，觀之，乃老翁須也。又友人王子淵，自言得神方，活數人，方用大薜荔。又杜醫治瘍，常以二萬錢活一人，方用千金藤。又寧國尉王子駿傳一方，用金銀花。海州士人劉純臣傳一方，用金釵股，皆自神其方。求其草視之，蓋一物也。存中云，倉卒求不獲，只用干葉為散，並甘草酒煮服，然不及生者。）</p>
<h3>靈寶膏</h3>
<p>治一切癰疽，腦疽，發背等疾。（楊池州傳云：是方得之異人，和王施此藥，前後活數百人，甚有神驗。）</p>
<p>大栝蔞（十枚，隔二三年陳者，盡去其皮，留穰子，約有半升許，用砂盆研細如粉）　新胡桃（十枚，不油者，湯去膜，研細如粉）　滴乳香（十塊，如大指頭，大乳缽內研細如粉）</p>
<p>上用白沙蜜十兩，同前藥於銀石器內，極慢火熬三時辰，其稠如飴糖，多合少合準此。</p>
<p>每服二匙，無灰酒半盞調下，不拘時候，甚者不過兩三服，其效如神。治癰疽發背，初覺毒氣攻系，赤腫　痛方。（行在金翰林傳。）</p>
<p>犀角（鎊，一兩）　玄參（一兩）　川升麻（一兩）　黃　（一兩）　赤芍藥（一兩）　麥門冬（一兩，去心）　甘草（一兩）　當歸（一兩）　大黃（二兩，微炒）</p>
<p>上為粗末。每服三錢，水一盞，煎八分，去滓，不計時。</p>
<h3>發背灸法〔一〕</h3>
<p><u>郭廷圭知縣傳。</u></p>
<p>先用蠟線，度左手中指頭，至手掌下橫紋止。其橫紋有三兩條，當以長而分明者為正。</p>
<p>卻將所度蠟線，自尾閭骨取中，逆量至脊槌骨，如度之長，以墨記之。次以蠟線取中指中節，量一寸。中指中節兩頭橫紋多，當側取橫紋中，長而分明者為正。卻將所量蠟線，橫於墨點處，每邊各量一寸，朱點記之，此正灸穴處。前以墨處乃用取中，非灸穴也。視背疽發於左則灸右，發右則灸左，甚則左右皆灸，至三十壯而止。婦人則用右手中指取度，其灸法與男子同。婦人奶癰，凡發背、發肋、發腦、發腿之類，不論男女皆可灸。郭云，自得此法，救人不可勝計。有親戚姓陳者，得此疾，其妻兒告急，而陳苦不之信，迫不得已灸之。才十壯，其紅腫處漸消，於是欣然聽命。再灸二十壯，覺熱毒之氣從腫處下，如以手拓，從尾閭骨發散，陳至今無恙。又云，莊婦忽背間癢痛，傴背以行，問知其狀，使以法灸，隨手即愈。如是非一，不能盡記。</p>
<h3>發背灸法〔二〕</h3>
<p><u>葉子昂丞相傳。</u></p>
<p>男左女右，以手中指自上至手盡處，第一路為度，卻用此去自尾閭骨盡處量。（在腰間）</p>
<p>甚則左右穴皆灸；婦人乳癰，亦用此法治之。</p>
<h3>治背疽糝藥</h3>
<p><u>童縣尉傳。</u></p>
<p>龍游有患背疽，已潰如碗面大，視五臟僅隔薄膜耳，自謂必死。有用大鯽魚一枚，刳去腸臟，以羯羊糞實其中，烘焙焦黑，極干燥，研為細末，干糝之，瘡口遂收，至今無恙。</p>
<h3>內消發背</h3>
<p>杏仁（三七粒）　巴豆（三七粒，去油令盡）　砂（半錢）　乳香（半錢）</p>
<p>上將上件藥一處研細，次用淮棗三七個，去皮核，研碎，又用丁香三七粒，斑蝥三七個，烏梅三七個，去核，三味同為末，通前藥拌勻，用餅藥面十文，生面十文，以冷水搜，裹藥在內，慢火　一日，莫令燒過。候藥熟，取出地上，將盆蓋覆，出火氣，然後出面，只取藥細研，入少許，蒸餅。末，滴水為丸如綠豆大。老者七粒，壯者十粒，旋入甘草少許，用馬蘭酒吞下。春用馬蘭苗四兩，生者；秋後用馬蘭根白芽四兩，研細，同酒半升研，去滓，吞下。如不飲酒，蜜水亦可，只可三服。</p>
<h3>治甲疽肉裹甲，膿血疼痛不瘥。</h3>
<p><u>出靈苑。</u></p>
<p>膽礬（洗）</p>
<p>上先剔去甲中肉，敷藥瘡上，縱有　肉，才敷即干落。</p>
<h3>治腫毒發背，一切癰疽經驗方。</h3>
<p><u>鄱陽都路分，因請大仙得此方，徐綱鏤板印施。便癰　</u></p>
<p>橫紋甘草（一兩，炙干，碾為細末）</p>
<p>上分為三服，無灰熱酒調一服，如人行一裡，再一服，三服並吃。鄱陽徐綱，忽患右足赤腫，三日不能履地，醫治無效，才服此藥，須臾之間，即能移步，再服全愈。</p>
<h3>治腫毒發背，一切癰疽奪命膏。</h3>
<p><u>趙教授得之全州醫，屢有神驗。以下三方，次第用之　</u></p>
<p>麻油（四兩，熬一二沸）　石蟹（一枚，燒，米醋淬，才黑又燒，碎，為末）　防風（一兩，切，焙）　蛤蚧（一對，　，存性）　燈心灰（一分）　蜈蚣（一條，燒，存性）　全蠍（七個，燒，存性）　血竭（一分，別研）　黃連（半兩，去蘆，切，焙）　當歸（半兩，切，焙）</p>
<p>上件為末。用文武火熬麻油，滴水中不散。次入眾藥一處，急用柳枝不住手攪，候滴入水中成珠為度。候極冷，貼瘡如常法。</p>
<h3>勝冰散</h3>
<p>茵陳（半兩，焙）　防風（半兩，焙）　滑石（一兩，別細研）　當歸（半兩，焙）　地龍（半兩，碾）　乳香（半兩，別研）　螺青（一兩，研）　馬牙硝（半兩，研，各取末）</p>
<p>上八味，一處和勻。用新汲水調塗腫處，不可令稀，時時塗之，勿使至干。</p>
<h3>應痛內托丸</h3>
<p>赤芍藥（一兩，焙）　當歸（一兩，焙）　血竭（一分，研）　麝香（一分，研）　栝蔞根（二兩，火　，存性）　人參（半兩，焙）　沉香（半兩，銼）　茵陳（半兩，焙）　全蠍（七枚，　，存性）大上件十味，和勻為末，煉蜜丸如彈子大。每服一粒，乳香湯化破服之。或嚼吃亦得，不拘時。</p>
<h3>聖柳散</h3>
<p>蒼朮（四兩，米泔水浸一宿，焙）　連翹（一兩，焙）　甘草（一兩，炙）　大黃（半兩，切）</p>
<p>人參（半兩，切）　赤茯苓（半兩，切）　黃芩（二錢半，　，存性）　桔梗（半兩）　白朮（一分）　枳殼（一兩，麩炒，去白）　南木香（一兩，切）　益智（一兩，去皮，切）　白芷（半兩，焙）　苦參（一兩，切）</p>
<p>上件為細末。如渴時，加牙硝半兩，別研入。每服二大錢，水一盞，柳枝七寸，同煎至八分，去滓溫服，不拘時。</p>
<p>初發即用奪命膏貼。如胸膈滿悶，大腸秘結，即用應痛內托丸主之。如四邊赤腫日增，即用勝冰散主之。如煩渴不已，疾勢轉增，即用勝柳散；此疾淺深，治法次第也。忌雞肉、濕面，疾愈半年方可食。</p>
<h3>治癰疽立效方</h3>
<p>小兒暑月頭額生癤，亦可用。</p>
<p>生水蛭（一名馬蟥蜞。取數枚，置碗水中，用訖縱之。冬月蟄於積水邊，或田塍水道邊，掘土取之。）</p>
<p>上用薄紙一片，剪丸如瘡大；仍看瘡膿頭有幾個，其紙對膿頭作小眼，搭在瘡上。將水蛭著在紙眼處，每一膿頭用一水蛭，要得先咂去膿，其痛立止。如無膿頭，即以手指按之，覺最熱處是也。或用茶末，以水調塗瘡上，看先干處即點記，如不能辨，即著在中間。如膿頭只一個，而赤暈稍大，即近中處加用水蛭。如膿血咂盡，痛定腫退，可用膏藥貼之。</p>
<p>紹興中汀州黃守（武），疽發肩背之間，醫藥不瘥，用水蛭立效。因就寢蓋被稍暖，睡覺衣被皆濕，以燭視之，乃瘡口自出血也。（水蛭咂盡惡血，不曾貼膏藥，身暖，好血隨路而出。）急令取池中藕，將藕節處泥抹瘡口，其血立止。按本草云，水蛭攻癰腫毒腫，取十余枚病處，取皮皺肉白，無不瘥。冬月中無水蛭蟲，地中掘取，暖水中養之，令動。先洗去人皮咸，以竹筒盛蛭，綴之，須臾便咬，血滿自脫，更用飢者。（張仲欽運使傳云，紹興壬申歲，沿檄至汀，親目其事。）</p>
<h2>卷第三</h2>
<h3>蓯蓉茸附丸</h3>
<p>平補真元，益養脾腎，固精壯氣，暖胃思食。（督府王翰林方。丞相兄舊苦香港腳，自服此藥，十余年不作。）</p>
<p>鹿茸（一兩，先用草燒去毛，切作片子，用酥炙，令香熟為度）　蓯蓉（四兩，酒浸一宿，切作片子，焙乾）　菟絲子（六兩，酒浸兩宿，炒令半干，搗作餅子，焙）　牛膝（二兩，酒浸一宿，切，焙）　熟乾地黃（二兩，炒，焙）　真烏藥（一兩）　川五味子（一兩）　附子（一兩，炮，去皮臍）　白朮（一兩）　天麻（一兩）　補骨脂（一兩，炒）　葫蘆巴（一兩，炒）　茴香（一兩，炒）　干淡木瓜（一兩）　沉香（一分）　木香（一錢，面煨）　丁香（二錢，不見火）</p>
<p>上件搗羅為細末，酒糊為丸，如梧桐子大；每服三五十丸，空心臨臥，米飲、溫酒、鹽湯下。</p>
<h3>鹿茸世寶丸</h3>
<p>諸虛不足，心脾氣弱，腹脅脹急，腸鳴泄瀉，腹疼，手足厥逆，頑痹，中滿惡心，頭疼怯寒，肢體酸痛，飲食少思，氣短乏力，驚悸自汗，並能服之。用藥如下：（鹿茸（酥塗，炙）　附子（炮，去臍）　白朮（炒）　陽起石（燒赤）　椒紅（炒，出汗）　成煉鐘乳粉　蓯蓉（酒浸，炙）　人參（去蘆）　肉豆蔻（面裹，煨）　川當歸（炒）　牛膝（去蘆，酒浸一宿）　白茯苓　沉香　巴戟（去心，以上各一兩）</p>
<p>上件十三味，依法修制，並為細末，次入鐘乳粉拌勻，煉蜜為丸，如梧桐子大。每服四十粒，鹽飯飲或鹽湯送下，食前，一日三服。</p>
<h3>五解散</h3>
<p>治傷風感寒，或內傷生冷，頭目昏痛，身體壯熱，胸膈不快，乾嘔惡心，怯風怕寒，體虛自汗。</p>
<p>藿香葉（一兩，去土）　人參（一兩）　白朮（一兩）　半夏（一兩，湯蕩洗七遍）　甘草（一兩，炒）　白茯苓（一兩）　陳橘皮（一兩，湯蕩洗一次）　厚朴（二兩，去粗皮，用生薑自然汁塗炙，紫色為度）</p>
<p>上件同搗為粗末。每服五大錢，水一盞半，生薑七片，棗子二枚，煎至七分，去滓溫服，不拘時候。</p>
<h3>育腸丸</h3>
<p>治遠近一切赤白痢，實腸胃，進飲食。</p>
<p>當歸（一兩）　肉豆蔻仁（半兩，粟米炒，以黃為度）　訶子皮（炮，半兩）　黃連（去須，一分）　烏梅肉（一分）　櫻粟（半兩，炒黃黑色）</p>
<p>上為細末，煉蜜熟，丸大如綠豆許。每服十五丸，溫陳米飲，食前。（平江辛太丞傳。</p>
<p>有加芎者尤妙。）</p>
<h3>硫附鹽礬丸</h3>
<p>治經年久病，腸風下血不止，虛弱之甚者，一服見效。（以下二方，上官彥成駐泊傳。）　附子（一兩，炮，去皮臍，別杵為細末）　綠礬（四兩，用瓶子盛，蓋之，火　，食頃候冷取出。</p>
<p>入鹽一合，硫黃一兩，同礬研過，依前入瓶子內，燒如食頃，候冷取出。再研令勻，為極細末。）</p>
<p>上件二味，藥末同合一處，令勻，以粟米粥為丸，如桐子大。每日空心用生地黃汁吞下，溫酒米飲亦得，每服三十丸。</p>
<h3>治五種腸風下血。</h3>
<p>上廁糞前有血，名外痔。糞後有血名內痔。大腸不收名脫肛。穀道四面有　肉如奶，名奶舉痔。頭上有孔腸出，名漏。並皆治之。</p>
<p>黃牛角腮（一枝，捶碎）　蛇蛻皮（一條，白者）　豬牙皂角（七莖）　穿山甲（一處，七十鱗）　刺　（一兩，銼）</p>
<p>上件五味，入瓷瓶子內，以黃泥封固，候干。先以小火燒，令煙出後，用大火　，令通赤為度。取出攤開，候冷，搗羅為細末。患者先用胡桃一個，分作四分。一分臨臥時，細研如糊，溫酒下便睡，先引出蟲。至五更時，以溫酒調下藥末三錢，至辰時，更進一服。久年，不過三服立效。</p>
<h3>比金散</h3>
<p>治腸風下血方，及治痔漏，又名立效散。（饒州周道太丞傳。）</p>
<p>皮（一個）　皂角刺（二兩）　KT　藤子（一個，去穰，銼碎，別碾為末）　豬牙皂角（一兩）　白礬（半兩）　除KT　藤子外，上四味入瓷瓶內，鹽泥封固，候干，先以小火燒，令煙出，方用大火　，令煙盡為度。取出，攤冷，杵，羅細末，入KT　藤子末和勻。每服一大錢，溫酒調下</p>
<h3>治五種腸風痔疾</h3>
<p><u>饒州王康孺翰林傳。</u></p>
<p>凡下血，皆為腸風。糞後有血名內痔。糞前名外痔。大腸頭出謂之脫肛。穀道四邊有肉，謂之鼠奶痔。頭上出血謂之漏。此方通治之。</p>
<p>黃牛角腮（一個）　豬牙皂角（二兩）　蛇皮（一條）　穿山甲（二兩）　大附子（一個，炮，去皮臍）　當歸（半兩，炒）　葉（四兩）　麝香（一錢）　皮（一個）</p>
<p>上件，一處砂瓶內，用炭火　，令通赤。取出於地上，用盆合定，四畔用土覆之，去火毒，然後搗羅為細末。患者先用胡桃肉半個研爛，同酒半盞，調藥末二錢，服之便效。</p>
<h3>阿魏良薑丸</h3>
<p>治三脘氣弱，中焦積寒，脾不磨，飲食遲化，吃物頻傷，胸膈滿悶，脅肋　刺，嘔吐噦逆，噫醋惡心，腹脹腸鳴，心腹疼痛，噎塞膈氣，翻胃吐食，飲食減少，悉能治之。（以下二方，上官駐泊傳。）</p>
<p>青皮（三兩）　陳皮（二兩）　良薑（二兩）　紅豆（二兩）　桂（去粗皮，一兩）　縮砂（去皮，二兩）　蓬朮（炮，二兩）　草果子（去皮，二兩）　乾薑（炮，二兩）　萊菔子（二兩，炒）</p>
<p>木香（二兩）　砂（半錢）　阿魏（一分。並　砂用醋化，去砂石研）</p>
<p>上和面，煮糊為丸，如綠豆大。每服五十粒，淡薑湯吞下，不拘時候，日進二服。久服大補益脾胃，空膈，令人能食，去寒濕，強中溫暖。如素來有沉寒積冷，腹中時作疼痛，宜服之。或無此證，去　砂，常服溫養中焦，有益脾胃。</p>
<h3>麋茸丸</h3>
<p>治婦人風虛勞冷，一切諸疾，或風寒邪氣留滯經絡，氣血冷澀，不能溫潤肌膚。或風寒客於腹內，則脾胃冷弱，不能克消水穀。或腸虛受冷，大便時泄。或子藏挾寒，月水不調，乍多乍少，或月前，或月後，或淋瀝不斷，或閉不通。百節酸疼，頭頂作痛，相應臍、腹、腰、腿痛，痹不仁，悉能主治，大補益元藏。絕忌羊肉，解藥力。</p>
<p>麋茸（火燒去毛，薄切酥塗，炙，四兩）　當歸（去蘆，酒浸一宿，焙乾，二兩）　鹿茸（火燒去毛，薄切，酥塗，炙，二兩）　鹿角膠（麩炒，二兩）　大黑附子（炮，去皮臍，二兩）　沉香（二兩，不見火，好者）　肉蓯蓉（酒洗，薄切，焙乾，三兩）　牛膝（去蘆，酒浸一宿，焙乾，二兩）　熟乾地黃（酒洗，焙乾秤，三兩）　赤石脂（一兩，真者）　破故紙（酒浸一宿，炒，二兩。一方有麝香二兩）　陽起石（一兩半，夜間用瓷罐子盛，以酒二升，煮一宿，水洗，焙乾，乳缽研如粉）</p>
<p>上十二味，同為細末。用酒蜜各等分，熬成稠膏子，搜和成劑，入木臼內，杵三千余杵，丸如梧桐子大。每服三十粒、漸加四十粒至五十粒，溫酒鹽湯吞下，空心，日午服之。（法，酒二十兩，蜜二十兩，慢火同熬成膏子丸。）</p>
<h3>人參大溫中丸</h3>
<p>治三焦不順，脾胃積冷、心腹大痛、嘔逆惡心，兩脅刺痛，胸膈滿悶，腹脹腸鳴，泄瀉頻並，溫脾暖胃。（婺州李麾翰林傳。）</p>
<p>人參（去蘆頭，一兩）　白朮（一兩，銼）　陳橘皮（去白，一兩）　紫蘇子（揀淨，一兩）</p>
<p>高良薑（一兩，銼）　官桂（去粗皮，一兩）　川乾薑（五錢，炮）</p>
<p>上件七味，為細末，煉蜜為丸，每一兩作十丸。每服一丸，煎生薑湯嚼下，不拘時。</p>
<h3>水陸二仙丹</h3>
<p>取雞頭去外皮，取實連殼雜搗，令碎，晒乾為末。復取糖櫻子，去外刺並其中子，洗淨搗碎，入甑中蒸令熟。卻用所蒸湯淋三兩過，取所淋糖櫻汁入銀銚，慢火熬成稀膏，用以和雞頭末，丸如梧桐子大。每服鹽湯下五十丸。久服固真元，悅澤顏色。括蒼吳寅仲，久服有奇功。（此藥稍閉，當以車前子末解之。）</p>
<h3>神應乳香丸</h3>
<p>治諸般惡痢，腹中攪刺，日夕頻並，危惡不瘥。</p>
<p>安息（一分，酒浸，晒三日，去滓，研為膏）　訶子（一錢）　乳香（一分，酒少許，化開，晒三日，再用火焙熔令干，研為末）　沒藥（一分，研為末，用安息香膏子和勻，用生杏仁不以多少，燒令煙出，上焙膏子，一日，干為度）</p>
<p>上件四味，研為細末，滴水為丸，如綠豆大。每服五丸、七丸，乳香湯下，空心食前，日三服，加至三五十丸。不忌毒物，其效如神。</p>
<h3>神妙驅風散</h3>
<p>治風毒上攻眼目，澀癢疼不可忍者，或上下瞼　赤爛，浮翳，瘀肉侵睛。（出王氏《博濟方》。）</p>
<p>五倍子（一兩，槌破，去塵土）　蔓荊子（一兩半，洗，令淨）</p>
<p>上二味，同杵為末。每服二錢，水二盞，銅石器內煎及一盞，澄滓，熱淋洗。留滓二服，再依前法煎淋洗。大能明目，去澀癢。</p>
<h3>虛風丸</h3>
<p>治大人小兒一切風虛昏眩、神志不爽、心氣不寧、手足搐跳，睡臥不穩。</p>
<p>麝（一錢）　五靈脂（為末，銀器內，炒煙盡為度，秤一兩）　白附子（真大者，炮烈，半兩）　天南星（大者，炮，去皮臍，一兩）　烏蛇（只用項後肉，去皮，酒浸一宿，干，秤一兩）　蟾頭（一個，大者，炭火燒，煙將盡取出，不令成灰）　赤腳蜈蚣（三條，全者，酒浸一宿，焙乾）</p>
<p>上除麝處，同為細末，絕細，再入麝同研勻，以醇酒作糊為丸，桐子大。每服一丸，不拘時候，或二丸，以人參湯、麝香湯嚼下，或溫酒亦得。治小兒慢驚極妙。</p>
<h3>四斤丸</h3>
<p>壯筋骨，治腳膝疼痛。</p>
<p>宣木瓜（去穰，切，焙乾，秤）　牛膝（去蘆頭，寸銼，焙乾，秤）　蓯蓉（洗，塊切，焙乾，秤）　天麻（細銼。以上各半斤）</p>
<p>上件用無灰酒五升浸，春浸五日，夏浸三日，秋浸五日，冬浸十日。日足取藥焙乾，加附子二兩，虎骨一兩。虎骨細鎊，附子炮，去皮尖。同為細末，用浸藥酒煮面糊為丸，如桐子大。每服五十丸，溫酒或鹽湯下，空心食前服。（虎骨須用酥炙令蘇。）</p>
<h3>妙應丸</h3>
<p>治婦人血經不調，月事湛濁，加之驚憂，遂發　瘧，後汗出過多，損耗氣血。常服滋暖子宮，調血養氣。（池州徐學諭傳。）</p>
<p>當歸（去蘆頭，二兩）　延胡索（去土，一兩）　澤蘭（取葉，一兩半）　白芍藥（雪白者，一兩）　肉桂（去粗皮，一兩，不見火）　牡丹皮（去骨，一兩）　川芎（一兩）　木香（半兩，不見火）　石斛（去苗，一兩）　川薑（一兩，炮）　熟乾地黃（淨冼，薄切，焙乾秤，二兩）</p>
<p>上件修制了，焙乾搗羅為末，醋煮，面糊和丸，如梧桐子大。每服二十粒，用溫酒或米飲吞下，空心及晚飢服之。</p>
<h3>丁香草果散</h3>
<p>治大人小兒脾虛發熱及潮熱，他藥不能治者，服之如神。（余真州傳。）</p>
<p>丁香（一錢半，揀辛辣者）　草果（三個，面裹煨，面烈為度）　麥門冬（半兩，去心，湯洗）　人參（二錢）　茯苓（二錢半）　半夏（二錢，薑製）　甘草（二錢，炙）　淡竹葉（數葉）</p>
<p>上為粗末，分作六服。用水一盞半，薑三片，棗一個，煎七分，去滓，不拘時服。小兒加陳皮二錢，去穰。</p>
<h3>神仙透空丸</h3>
<p>治男子婦人偏正頭痛，惡心，產後體虛傷風，憎寒頭痛，洗頭沐浴傷風，壯熱頭痛，痰厥頭痛，腎厥頭痛，虛眩，項筋緊急，應一切頭痛。（江州陳太丞傳。）</p>
<p>天麻（一兩，洗）　香白芷（一兩）　半夏（一兩，生用）　天南星（一兩）　乾薑（四錢，生用）　川芎（二兩，洗）　地龍（半兩，錘洗，去土淨）　川烏（一兩，生用，去皮尖）　草烏（一兩，生用，去皮尖）　細辛（半兩）　甘草（二兩，生用）　白附子（半兩）</p>
<p>上為細末，以藥末一兩，入白面一兩，用新汲水搜和為丸。每一兩分作十丸，於新板上排定，日內晒之。如合，須是伏中合。</p>
<h3>沉香蓽澄茄湯</h3>
<p>治腰腿間寒濕作痛。（饒州雍醫傳。）</p>
<p>沉香（半兩）　南木香（四錢）　丁香（四錢）　檀香（四錢）　蓽澄茄（半兩）　片子白薑黃（半兩）　陳橘紅（三錢）　青皮（去白，三錢）　粉大甘草（七錢）　藿香（去淨土，四錢）　白豆蔻仁（半兩）　天台烏藥（半兩）　人參（半兩）　縮砂仁（三錢）</p>
<p>上為細末。每服一二錢，入鹽點服。</p>
<h3>神功散</h3>
<p>灸結胸傷寒，不問陰陽二毒，只微有氣者，皆可灸，下火立效。</p>
<p>黃連（七寸，為末）　巴豆（七粒，去皮，新瓦上出油）</p>
<p>二味拌勻。令患人仰面臥，先用三斡耳和艾一炷，如中指大，更用三斡耳子，先著在患人臍中，後安艾炷其上，只一炷，覺臍腹間有聲，即便汗出而愈。</p>
<h3>治風烏荊丸</h3>
<p>川烏頭（一兩，炮，去皮）　荊芥穗（二兩）</p>
<p>上醋面糊為丸，如梧桐子大。每服二十丸，酒或熟水下。有疾，食空時，日三四服。無疾，早晨一服。少府郭監丞，少病風搴搐，頤頷寬　不收，手承頷，然後能食。服此六七服即瘥，遂長服之。以五十余年，年七十余，強健，須發無白者。此藥療腸風下血尤妙，累有人得效。下血人服此而瘥者，一歲之內數人。</p>
<h3>烏金散</h3>
<p>治冒暑悶亂，不省人事，欲死，及發燥引飲無度，咽中痰涎不下。</p>
<p>不蛀皂角（一斤，刮去皮，猛火炙，令成麩炭，仍須存性，不可使成白灰也。秤三兩）</p>
<p>甘草（一兩，炙）</p>
<p>上同為細末。以新汲水或溫熟水，調三大錢立瘥。此藥神妙，不可具述。</p>
<h3>良薑湯</h3>
<p>治陰寒積冷、心腹大痛、嘔逆惡心、手足厥冷，心胸不快，腰背疼痛。（婺州李麾翰林傳。）</p>
<p>高良薑（一兩，銼碎，炒）　官桂（一兩，去皮）　當歸（去蘆頭用，一兩，銼，炒）　乾薑（一兩，炮）　人參（一兩，去蘆頭）　吳茱萸（七錢半，炒）　白茯苓（一兩）　附子（半兩，炮上為細末。每服二大錢，水一盞半，入生薑五片，煎至七分，去滓，膈空服。</p>
<h3>治氣塊刺痛</h3>
<p>暮夜即作，至不可忍，多因氣中傷冷所致，久而不治。婦人尤宜服之。（以下二方，信守孟郎中充傳。）</p>
<p>鱉甲（去裙並膜，醋炙，半兩）　當歸（去尾，一兩）　木香（半兩）　青橘皮（去白，一分）</p>
<p>枳實（半兩）　人參（半兩）　京三棱（半兩）　沒藥（一分，研）　血竭（一分，研）　檳榔（一分）　半夏（二錢，生用）</p>
<p>上為細末，醋煮稀糊，丸如綠豆大。不計時，白湯下十五粒，遇大府通利且止。若氣發作，大府不通，即加至五十粒，以通為度。此病須是服此藥，令氣塊消。然不可驟然多服，須待積久消磨。每日且只一二服，覺得氣消不痛，卻只一日一服，或三日、二日一服，仍旋服後面散子以補氣。</p>
<h3>常服散子</h3>
<p>人參（半兩）　黃　（半兩）　當歸（半兩）　白朮（一分）　木香（一分）　陳橘皮（去白，一分）　甘草（二分，炙）　青橘皮（去白，一分）　沉香（一分）</p>
<p>上為細末。每服三四錢匕，水一煎，薑二片，同煎，取七八分，不計時服。遇氣痛時，每服添枳實末一二豆許。</p>
<p>上陳侍御宜人，嘗因不喜悅中食柑，自後遂苦心腹痛，久之腹中結塊，遇痛作時，往往悶絕，移時方蘇，而常在夜間。是時，侍御作辟癰博士，京師醫者皆不能治。有齋生蜀人史堪載之者，醫聞一時，乃處此二方服。</p>
<p>一兩月間，遂去根本。後二十余年，復因憂悒，此疾似欲再作而已，微痛即再合服之，數日而愈。</p>
<h3>治婦人產後胎衣不下</h3>
<p><u>鄉人萬應之秘校傳。</u></p>
<p>凡產，有產後胎衣不合，諸血奔入，久而血上衝心，遂致不救者。有產前失血過多，胎衣干澀不下者。庸醫不曉，例以破血藥治之，不知血盡轉澀，遂終不救。舊有產婦胎衣不，呻吟痛楚，聲不可聞，忽有人教之，用苧麻浸水兩大碗，服之，即時嘔吐，胎衣便下，遂得更生。</p>
<h3>安腎丸</h3>
<p>治本氣怯弱，筋骨無力，或時疼痛。（信州李諒駐泊傳。）</p>
<p>熟乾地黃（洗淨，焙乾，一兩）　牡丹皮（半兩）　附子（炮，去皮尖，半兩）　金釵石斛（半兩）　破故紙（炒，半兩）　山藥（半兩）　肉桂（半兩，去皮秤）　白蒺藜（炒，去刺，半兩）</p>
<p>巴戟天（去心秤，一兩）　肉蓯蓉（酒浸一宿，一兩。切，焙）　白茯苓（半兩，去皮秤）　澤瀉（微炒，半兩）　萆　（半兩）　白朮（半兩）</p>
<p>上件為細末，用煉蜜和為丸，如梧桐子大。每服三十丸至四十丸，用溫酒或鹽湯送下，食前空心服。</p>
<h3>神授散</h3>
<p>治傷折內外損。（予屢用之甚驗。）</p>
<p>川當歸（半兩，洗淨，別搗）　鉛粉（半兩，洛粉最上）　硼砂（二錢）</p>
<p>上同研細。每服二錢，濃煎蘇枋汁調下。若損在腰以上，先吃淡面半碗，然後服藥。在腰以下，先服藥，後吃面，仍不住呷蘇枋汁。更以糯米為粥，入藥二錢，拌和，攤在紙上或絹上，封裹損處。如骨碎，則更用竹木夾定，外以紙或衣物護之。沈存中云，長安石使君，一日在　中，忽有呼其姓第，回顧不見。明日過市，復聞呼聲，曰：我無求於人，以爾有難，特來救爾。石謝之，欲下馬與語，其人止之，褫衣領中出一書，曰：有難即用。稠人中遂引去，石歸視，乃此方也。石到京師，趨朝立馬右掖門外，為他馬所KT　，折足墮地，又為</p>
<h3>普救散</h3>
<p>治四時傷寒、渾身發熱、四肢疼痛、頭重眼疼，不問陰陽二證，並皆治之。（永平龐知監施此藥。）</p>
<p>蒼朮（一斤，米泔水浸三日，切，焙乾）　干葛（半斤，切，焙）　甘草（四兩，炙赤色，切細）</p>
<p>上為粗末。每服二大錢，水一中盞，煎至七分，去滓，熱服。如要出汗，加連根蔥白二寸同煎，並兩服，滓再煎一服，不拘時候，仍用沙銚，不得犯銅鐵器。（初發傷寒宜下，此藥汗後勿服。）</p>
<h3>治喉口熱毒至甚</h3>
<p>咽喉胸膈，內連心肺疼痛，飲水不下，氣不能出，死在須臾，名曰馬閉。（繞州上官醫傳。）</p>
<p>巴豆（七粒，去殼膜，研如泥）</p>
<p>上以壞子一錢，同研成膏子。每用一字許，醋煎皂角汁，調令稀稠得所，將鵝毛蘸藥，掃於喉間，良久，咳唾出膿血或涎數升，然後用第二法。其法白礬飛過，白僵蠶微切，各半兩，為細末。每服半錢，新汲水調下。</p>
<h3>肉豆蔻湯</h3>
<p>治胸膈痞塞不快，脾胃有傷。（景盧傳。）</p>
<p>肉豆蔻（炮）　草果子（去皮）　石菖蒲　干木瓜　良薑　乾薑　厚朴（薑炙）　甘草（炙，各一兩）</p>
<p>上等分，為細末。每服一錢，鹽湯點服。</p>
<h2>卷第四</h2>
<h3>治舌衄。</h3>
<p><u>二方出方氏《泊宅編》。</u></p>
<p>槐花上炒為末摻之。昔有士人，無故出血，仍有小穴，醫者不曉何疾，偶曰此名舌衄，用此而愈。</p>
<h3>治舌腫。</h3>
<p>蒲黃上為末摻之，須真者佳。一士人沿汴東歸，夜泊村步，其妻熟寐，撼之，問何事，不答，又撼之，妻驚起視之，舌腫滿口，不能出聲。急訪醫，得一叟負囊而至，用藥摻，比曉復舊，問之，乃蒲黃也。</p>
<h3>治湯火傷。</h3>
<p>大黃上搗碎。調以美醋，敷瘡上。《夷堅志》云：金山修供神，怒庖人不謹，漬其手鑊中，痛楚徹骨，號呼欲死，神授此方遂愈。</p>
<h3>蓯蓉丸</h3>
<p>暖水藏，明目。（京師老李畫傳。尋常眼藥多涼，非水藏之便。）</p>
<p>蓯蓉（二兩，酒浸一宿，焙乾）　巴戟　枸杞子　菊花　川楝子（各一兩）</p>
<p>上為末，煉蜜為丸，如桐子大。每服三十粒，溫酒或鹽湯下，空心，食前，臨臥。</p>
<h3>治干癬</h3>
<p>（以下八方景盧傳。）</p>
<p>樟腦（一錢）　白礬（半錢，生用）　雄黃（半錢）</p>
<p>並細研，以生薑自然汁、釅醋各少許，磨羊蹄菜根如手指大二寸許，調藥擦敷。止有食頃痛極，不過三次見效。</p>
<h3>治淋。</h3>
<p>皂角刺（燒，存性）　破故紙（等分）</p>
<p>為細末。紅酒或無灰酒調下。</p>
<h3>治沙石淋。</h3>
<p>定磁末，羅細，以生地黃槌碎，同煎。如熟水，時時飲之。</p>
<h3>治毒蛇傷</h3>
<p>（屢試如方。）</p>
<p>香白芷為末，麥門冬水調飲。倉卒時，新汲水亦可。</p>
<h3>治冷積降氣，寬膈逐痰</h3>
<p>橘皮去穰，取紅一斤，甘草、鹽各四兩，水五碗，慢火煮干，焙，搗為末，點服。</p>
<h3>補益治漏，秘精丸</h3>
<p>大附子（炮裂，去皮臍）　龍骨（　，通赤）　牛膝（酒浸一宿，焙）　肉蓯蓉（酒浸一宿，焙）　巴戟（去心）　菟絲子（酒浸三宿）</p>
<p>上等分為末，煉蜜丸，梧桐子大。空心，溫酒或鹽湯下三五十粒。甚者，日午再服。小便如米泔者，不過十服。</p>
<h3>治傷折骨碎</h3>
<p><u>此方用之甚驗。</u></p>
<p>大鰾膠一味，碎銼，用無灰酒煮爛如粥，逐旋抄吃，極苦硬，須強進之，以多為度，每二兩或四兩為一服，傷甚者，不過半斤。</p>
<h3>治疝氣偏墜</h3>
<p>牡蠣（火　）　良薑上二味為末。用津唾調塗之，立消。</p>
<h3>烏金散</h3>
<p>專治痔疾，神驗。（以下五方，饒州王康孺翰林傳。）</p>
<p>黃牛角腮　烏金子　五倍子　紫河車　威靈仙　枳殼上等分，入瓷瓶內，用白雄雞糞和黃泥固濟，上留一竅子，炭火　，煙盡為度。取出地上，出火氣，為細末。每服三錢，空心酒調下。</p>
<h3>倍苓丸</h3>
<p>治腸風下血。</p>
<p>槐花（六兩）　五倍子（三兩）　五靈脂（三兩）</p>
<p>上件為細末，面糊為丸、如梧桐子大。每服三十丸，米飲下。</p>
<h3>治風毒瓦斯眼</h3>
<p>連眶赤爛，洗眼神妙。</p>
<p>白沙蜜（二兩）　乳香（通明者，一皂子大，溫水浴過）　好黃丹（抄半錢）</p>
<p>上一處，於砂石器內，或銀器內，用慢火熬令焦黑色，滴在水中不化為度。每用兩黑豆大，沸湯浸洗眼。藥成，露一宿方好。</p>
<h3>治腰痛。</h3>
<p>五加皮上不拘多少，為細末，如梧桐子大，酒煮面糊為丸。每服三十丸，空心溫酒下。</p>
<h3>秋石丹</h3>
<p>治男子婦人虛勞瘦。</p>
<p>秋石（一兩）　干山藥（一兩）</p>
<p>上為末，別以酒調山藥為糊，如梧桐子大，又以干山藥為衣。每服二十丸。（溫酒米飲任下。）</p>
<h3>治諸癇</h3>
<p><u>道人黃大成傳。屢用之如方。</u></p>
<p>鴨舌膽礬（　，存性）</p>
<p>上為細末。每發時，用一字，以筆管吹入鼻內，涎出即愈。</p>
<h3>治豆瘡倒入肉</h3>
<p><u>景盧傳。</u></p>
<p>人齒一個，（不以久近）。燒成灰。用　豬尾血調和了，入酒小盞同服之。竇永仲教授，年六歲時生瘡，為鄰近焚花所觸，盡　入肉、諸醫束手，母已發聲哭。親戚劉知縣說此方，才飲酒了，元瘡隨手如故。（予見《沈存中良方》亦載此，用人齒三五枚，炙黃，為末，乳香湯調下，溫酒亦得。）</p>
<h3>治喉閉</h3>
<p><u>陳子范教授傳。</u></p>
<p>皂角（半錐）</p>
<p>上撾為末。用醋一碗，就鍋內煎數沸，以帛濾滓，令病患服之。</p>
<p>又方。（高逢辰制干傳。）</p>
<p>麻油（少許，生油）</p>
<p>上以箸絞油生沫。即以油沫飲之。</p>
<h3>治腰痛</h3>
<p><u>以下二方，孫仲益尚書傳。</u></p>
<p>芸薹子上用米醋研，調敷疼處。</p>
<h3>治腸風</h3>
<p>橡斗子上以干大棗置橡斗子中，以面裹，火炮，碎為末。用陳米飲作一服。</p>
<h3>瘡藥方</h3>
<p><u>饒州十七裡李家傳，甚妙。</u></p>
<p>叢竹殼　野油麻葉　陳屋茅　百合花（干者）　貓兒骨以上燒灰，入輕粉，和麻油調塗。</p>
<h3>治癬</h3>
<p>羊蹄根（切作片）</p>
<p>上至五更初，先以布揩癬上，即取羊蹄根、爛嚼，止用汁塗，後以其片揩之，將冷水嗽口及洗手。初用藥時，忌不得語，欲氣勿泄也。</p>
<h3>接骨方</h3>
<p>牡蠣（少許）</p>
<p>上為末。用糯米粥調之，塗其上，欲以沙木板夾之即愈。</p>
<h3>治漏瘡</h3>
<p><u>高逢辰制干傳。</u></p>
<p>麝香　臘茶上等分，為末。干敷。</p>
<h3>治外風入瘡口腫毒方</h3>
<p>全蠍（一個）　白僵蠶（三個，去絲）　蟬蛻（三個）</p>
<p>上為細末。裂蔥汁調塗即愈。</p>
<h3>癬藥</h3>
<p>白礬（飛過，一兩）　黃丹（半錢）　白藥子（半兩）</p>
<p>上為細末，旋掘羊蹄根獨腳者，（一根者是）。取自然汁調藥。先用布擦癬，微破，用藥敷之。</p>
<p><u>郭廷圭知縣傳。</u></p>
<p>白礬（一斤。好者）　好酒（一斤，無灰）</p>
<p>上同熬，以酒盡為度，入合子，臨時用之。</p>
<h3>治盜汗</h3>
<p>防風（細切）</p>
<p>上為細末，浮麥煎湯服之。婺州汪伯敏將仕云，嘗見周仲恭尚書言，舊有盜汗之疾，每至大屋，則肢體凜然，須以幃幕遮護，後得此方遂愈。</p>
<h3>治傷風</h3>
<p>五積散　敗毒散上以二藥合煎服之。蓋五積性溫、敗毒稍涼，服之無不效者。</p>
<h3>治腳腫</h3>
<p>四物湯　小續命湯上以二藥同煎。章謐靜之節推云，嘗有人猝患腳腫，服此遂愈。</p>
<p>甘豆湯　治腳腫。</p>
<p>黑豆上同煎湯服之。郭鎮廷圭知縣云，昔年太學士人，圍閉中，多患腳腫，至腹則死，前後如此者非一人。後有施此方，服之皆愈，蓋神方也。</p>
<h3>灸勞法。</h3>
<p>以肚臍相對，取背脊骨灸之，甚妙。</p>
<h3>治頭風頭痛。</h3>
<p>人中白　焰硝（各一兩）</p>
<p>上用水一碗，無灰皮紙濾下，研細，重湯煮過，再研，入少腦子。每用少許，以斡耳子搐入鼻中即愈。襄陽府胡急腳，專貨此藥，積錢至數萬緡。秘惜不傳，上官醫以計得之。</p>
<h3>茶牙湯</h3>
<p>治偏正頭疼，惡心嘔吐不止者。</p>
<p>細茶牙（一兩）　生草烏（半兩，去皮尖）　細辛（半兩）</p>
<p>上為粗末。每五錢，水二盞，慢火煎至六分，去滓溫服，一服取效。</p>
<h3>附牛丸</h3>
<p>治丈夫婦人腰痛重　，步武艱辛，痛不可忍，附牛丸。（上官駐泊傳。）</p>
<p>附子（半兩，炮，去皮臍）　黑牽牛（瓦上炒，令干）</p>
<p>上為細末，酒煮面為丸，如梧桐子大。每三十丸，空心溫酒下。如半邊腰疼，只用黑牽牛，瓦上焙乾一邊、附子炮一邊、余一邊生用，不去皮。搗羅為末，如前法服。</p>
<h3>治爛緣風眼</h3>
<p>覆盆子上取葉　碎，以汁滴眼中，即有蟲出。上官醫云：頃歲寓居潭州瀏陽縣石霜寺，有皇叔太尉者乳媼，患爛緣風眼，近二十年。一日有藥嫗過之，曰：老婆能治此眼，眼中有蟲赤而長，其細如絲。遂入山取藥，其家遣人尾其後，但見沿山路采取樹葉，以手　碎，入口咀嚼，留其汁，以皂紗蒙患人眼，握筆畫雙眼於紗上，然後用藥汁滴於眼之下緣，須臾蟲自紗中出，其數十七，其家甚喜。嫗去數日復至，則眼下緣肉干如常人，再用前法治眼上緣，得蟲又以十數。嫗謂上官曰：公為醫官，不可不傳此方，須以錢二萬償我。上官諾之。遍召傍近村婦患此眼者治之，無不瘥。嫗又曰：是方出本草果部中覆盆子注，云葉　絞取汁滴目中，去膚赤，有蟲出如絲線。上官屢用之皆效。</p>
<h3>治KT瘡</h3>
<p><u>上官醫傳。</u></p>
<p>鱔魚上以鱔魚數條，打死。先用油塗其腹，置患人腿上，盤令周遍，以帕子系定。食頃，患人覺痛不可忍，然後取鱔，鱔腹上有針眼大竅子，皆蟲也。蟲既去盡，卻用死人脛骨燒灰，塗瘡口，即愈。（《沈存中良方》亦載活鱔治漏瘡。）</p>
<h3>治癬疥。</h3>
<p>宣連（去須，酒浸一宿）</p>
<p>上焙乾為末，蜜丸如梧桐子大。空心日午臨臥，酒吞二十粒。東坡云，惠州軍校姚歡，年八十余，須發不白，自言年六十歲。患癬疥，周匝頂踵；或教服黃連，遂愈。久服，故發不白。</p>
<h3>治香港腳灸法。</h3>
<p>上灸風市兩穴，以多為貴。蔡元長為開封少尹，一日據案，忽覺蟲自足心行至腰間，落筆暈倒，久之方蘇。椽曹曰：此疾非俞山人不可療。使呼之，俞曰：真香港腳也，灸風市一艾而去。明日又覺蟲自足至風市便止，又明日疾如初。召俞，俞曰：是疾非千艾不可，一艾力盡，故疾復作。蔡如其言，灸數百，自此遂愈。（沈公雅檢正說：予紹興辛巳歲在吳門，虛郡宅以備　巡幸，徒治吳縣。縣卑濕，始得足痹之疾，以風市為主，兼肩隅、曲池、三裡，灸之即愈）。</p>
<h3>治毒蛇咬</h3>
<p>毒瓦斯已入腹，青黯腫脹，痛不能忍。（太平州湯三益翰林傳。）</p>
<p>生白礬末。須看所咬瘡口大小，然後抄礬末於刀頭上，熔令沸，乘沸滴在瘡口上，隨手痛止。若腹中毒瓦斯未退，依前黯腫，即取草決明葉兩握，研取自然汁，以熱酒侵下，卻將滓貼瘡口上，軟帛輕手系之。</p>
<h3>治鼻衄不可止欲絕者</h3>
<p>上茅花，無即以根代。每服一大把，銼，水兩碗，煎濃汁一碗，分二服。沈存中云，林次中御史在楚州，嘗訪一故人，久之不出，或問之，云：子婦衄血垂盡，方救視未及延客。</p>
<p>坐中一客云：適有藥，急令掇茅花一大把，煎濃汁一碗，帶囊中取小紅丸二粒，令茅花湯吞下，一服即瘥，而不言其方。後有人聞之曰：此只是茅花之功耳。試復問之，其人大笑曰：誠如此，紅丸乃含香朱砂丸，恐不信茅花之功，以此為記耳。存中在　延時，一將官卒病衄甚困，以此療之即瘥。又徐德占教衄者，急灸項後發際兩筋間宛宛中，三壯立定。蓋血自此入腦，注鼻中，常人以線勒頸後尚可止衄，此灸決效無疑。</p>
<h3>治諸鯁。</h3>
<p>以木炭皮為細末，研令極細。如無炭皮，堅炭亦可。粥飲調下二錢，日四五服，以鯁下為度，此法人家皆有。沈存中云，在漢東乃目睹其神，有劉晦士人鄰家一兒，誤吞一錢，以此飲之，下一物如大烏梅，剖之，乃炭裹一錢也。池州徐使君極寶此方，數數用之，未有不效者。近歲累有人言得此方之效，不復悉載。</p>
<h3>治盜汗。</h3>
<p>當歸（半兩，去蘆，細切）　人參（半兩）　豬心（一個，雄者，細切）</p>
<p>上以豬心分四片。用一片，水三盞，煎一盞半，作二服。（一方，當歸人參各一兩，雄豬心半個。細切，五盞水，煎三盞，去滓兩服。）</p>
<h3>龍須散</h3>
<p>治中暑，迷悶不省人事，暑月代一切暑藥。（予暑月常合此藥，以飲從者。）</p>
<p>甘草（一兩，炙）　烏梅（一兩，去仁，瓦上焙乾）　白礬（半兩，生研）　五倍子（一兩，揀）</p>
<p>上為細末，入白面四兩，同和勻。每服一大錢，新水調下。如泄瀉、霍亂作渴，一服即愈。雖平日不敢飲冷者，以冷水服藥不妨。（世傳仁廟所賜近臣方。）</p>
<h3>治風牙疼</h3>
<p>華陰細辛　多年鍛石上二味，等分為末。每用少許，揩牙，瀝去涎，溫水灌漱立止。</p>
<h3>治蛀牙疼</h3>
<p>巴豆，不以多少，去殼，面裹煨熟，去面，粟米　同巴豆研為丸，如蘿卜子大。每用一二粒，綿裹安於蛀孔內，仍睡，少時覺不疼去之。</p>
<h3>治風牙蛀牙一切疼痛</h3>
<p><u>每用藥，止用一米大，仍以連紙貼之</u></p>
<p>巴豆（一大個，去大皮）　豆豉（七個）　大蒜頭（一個，去須，並去薄皮）</p>
<p>上作一處，研極爛，丸作一團，用油紙裹。每遇牙疼，至臥時，先以溫水漱口，次以針微剔所痛之處，以藥實之，明日復以水漱灌即愈。</p>
<h3>治五種牙疼</h3>
<p>不蛀破處者。</p>
<p>細辛　乾薑　川烏　草烏　蓽茇　吳茱萸（各半兩）　草（一兩）　木律（一分）</p>
<p>上為細末。先用鹽湯蘸濕手，點藥揩牙。候良久、藥力敗，用溫水灌漱，齒痛即止。</p>
<h3>治風蛀牙如蟲蛀破者</h3>
<p>乳香（一錢）　巴豆（三粒，紙裹，壓去油。）</p>
<p>上火上熔乳香成汁，用巴豆不住攪和、候冷取出、圓成膏子。酌量牙齒竅穴大小，將燈上炙，旋圓，納於穴中，痛即止。</p>
<h3>治牙搖牙宣</h3>
<p><u>湯致遠知院傳</u></p>
<p>草根（一名香附草）</p>
<p>上去皮細切，用生薑汁浸一夕，次日曝乾，晒為末用之。</p>
<h3>治暴嗽不止或失聲者</h3>
<p>（饒州上官醫傳。）</p>
<p>款冬花（去枝杖，細銼，焙乾，為細末）</p>
<p>上用生蜜，搜和作餅子，貯火香爐中，如裝香然。安藥在火上，令病患開口　煙，米飲吞下，臨臥時。（予頃年見紹興趙判宗云，先以款冬花在香爐中燒煙，卻用小竹罩罩之，止露一竅，承之以口，凡三兩次嗽即止）。</p>
<h3>治惡瘡久不較，諸藥無效。</h3>
<p>白鱔魚頭（干者）</p>
<p>上燒為細末，用輕粉調塗。</p>
<h3>治冷漏</h3>
<p><u>行在鄒春大夫傳。</u></p>
<p>蜣螂蟲（化蟬者）</p>
<p>上用三兩枚，於瓦上炒成灰，干摻瘡口。</p>
<p>南硼砂（一錢）　青黛（一錢）　甘草（半錢）　白僵蠶（二錢）</p>
<p>上為細末，用腦子少許，研和，干摻喉間即愈。</p>
<h3>治咽喉腫痛</h3>
<p>白礬（飛過）　甘草（炙，各半兩）</p>
<p>上為細末，干摻喉中，徐徐吞下。</p>
<h3>治凍死</h3>
<p>舊荐上用荐束凍死者其中，袞轉不絕手，自然和氣相續即愈。</p>
<h3>治死</h3>
<p>泥漿上於行路中，旋以刀器掘開一穴，入水其中，搗之，卻取爛漿，以飲死者即愈。</p>
<h3>治溺死</h3>
<p><u>予在鄱陽，嘗有溺水者，身僵氣絕，用此法治之即蘇。</u></p>
<p>干壁泥上先打壁泥一堵，置之地上，卻以死者仰臥其上，更以壁土覆之，止露口眼，自然水氣翕入泥中，其人遂蘇。</p>
<h3>治火燒湯潑</h3>
<p>醋上以酸者，用手擦地上泥塗之。</p>
<h3>治湯火瘡</h3>
<p>釜鑊下黑塵上以水爛研，入蜜及油，調敷立愈。</p>
<h3>治嵌甲</h3>
<p>青蠅（四十九枚）　麝香（百文）</p>
<p>上取蠅折去兩翼不用，以其余晒乾，入麝為末。或急用，則取蠅置懷中，候干摻之，或瘡干即入油調敷。（又一方用蝸牛一枚，橄欖核一枚，燒存性，同為細末，入膩粉），黃丹油調敷，然（不若此方為妙）。</p>
<h3>治小腸氣</h3>
<p>舶上茴香（一斤）</p>
<p>上用生薑四兩，研碎並滓汁拌和茴香，過一宿，晒焙乾為細末，次用青鹽二兩，別碾入藥，酒糊為丸，如梧桐子大。每服三五十丸，鹽湯或溫酒下，空心食前。郭廷圭知縣云，舊苦此疾，歲不下五七發，服藥一料，病根遂除，今以十五六年不作。</p>
<h2>卷第五</h2>
<p>婦人小兒</p>
<h3>烏金散〔一〕</h3>
<p>治婦人產後百病（饒州彭氏傳。有歌答十八篇，文多不載）。</p>
<p>表格（燒時切忌婦人雞犬見，如見，服之無效，切須忌之。用一塹依此寫訖，定四面，各立坯子，作一圈子。其頭發、鯉魚皮各用一藏瓶，去底入藥，盛訖，卻用瓦子蓋，用好紙筋鹽泥固濟，乘濕放在土字上，用木炭火五斤燒通赤，取藏瓶放冷，打開出藥）。</p>
<p>血余（半兩，依前法燒之）　鯉魚皮（一兩，依前法燒之）　沒藥（半兩）　紅花（一分，生用）　伏龍肝（一分　灶下取燒赤者土是）　凌霄花（半兩，　色鮮者，焙使）　好香墨（半兩，生用）　干柏木（一分，細研入，香好者可使）　當歸（半兩，去梢土，微炒，令香用之）</p>
<p>上件九味，並細為末。產後母子熱疾後胎死在腹，難產，生衣不下，血暈起坐不得，如見異花，口乾心悶，乍寒乍熱，四肢浮腫，言語顛狂，見神見鬼，不語，瀉痢，腰膝疼痛，小腸尿血澀痛，崩中、嘔逆不安、咳嗽涕唾、喉中如貓作聲，面色遍身黑，赤點子生，眼澀腰腫，身發筋急，應是一切產後諸疾皆治。以酒一盞，煎取八分，調藥兩錢，空心頻服之，用無灰酒大妙。</p>
<h3>催生如聖散</h3>
<p>黃蜀葵花上一味焙乾，為細末。每服二錢，熟湯放溫，調下神妙。或有漏血，胎臟干澀，難產痛劇者，並進三服，良久腹中氣寬胎滑，即時產下。如無花，只用黃蜀葵子，爛研小半合，以酒調濾去滓，溫飲尤佳。（予家常合以濟人，甚驗。）</p>
<h3>萬靈丸</h3>
<p>治婦人月水湛濁不通，久無嗣息，血癖氣痛，四肢浮腫，嘔逆心疼，虛煩勞悶，面色痿黃，崩漏帶下，寒熱蒸勞，頭疼齒痛，血下無度，淋瀝諸疾，產前安胎，臨產催生，產後胎結痛，傷寒，煩渴，瀉痢，血勞，血運，筋攣，痰盛頭疼，敗血上衝，血刺，泄瀉，咳嗽喘急，嗽血，血塊起伏，氣痞，氣膈，血作腰痛，小便不禁，子死腹中，失蓋汗不出，血風，腳手痹頑，凡產後諸疾，皆治。</p>
<p>牡丹皮（洗）　川　本（洗）　川當歸（切開，裹面赤黑色者佳，洗）　白茯苓（去皮）</p>
<p>赤石脂（別研）　香白芷　官桂（去皮，不見火）　白薇（洗）　京芎（洗）　玄胡索（去皮）　白芍藥白朮（米泔浸一宿，以上各一兩）　甘草（炙）　沉香（不見火）　沒藥（別研，以上各半兩）</p>
<p>上件藥材，皆用溫水洗淨，杵羅為末，煉蜜丸彈子大。每服一粒或半粒，空心溫酒化下。凡妊娠臨月，服此五六粒，產時無痛。如久無子，服二十粒，當月有子。並治積年血風，半身不遂，種種血疾，不問年深，皆可療，神效不可具述。</p>
<h3>烏金散〔二〕</h3>
<p>治血崩漏下。最治產後血崩，並小產血崩漏下。</p>
<p>棕櫚皮　烏梅　乾薑（燒灰存性，三味各等分）</p>
<p>上研細。每服二大錢，煎烏梅湯調，溫服，不以時。</p>
<h3>救生散</h3>
<p>治急喉閉。產前產後有此疾，皆可服之。</p>
<p>白僵蠶（半兩，去絲，銼，略炒）　甘草（生，一錢重）</p>
<p>上二味，各取末，秤，和勻。每服一錢匕，以生薑汁調藥，令稠，灌下，便急以溫茶清衝下。</p>
<h3>治妊娠忽然下血腰痛不可忍</h3>
<p>鹿角（一兩，銼）　當歸（一兩，銼）</p>
<p>上二味作一服，以水二盞，煎至一盞，去滓溫服，食前。</p>
<h3>治婦人產後因驚或怒傷肝</h3>
<p>或憂氣逆中脘，或坐草風入子臟，遂成顛狂，或成中風不語荊芥穗（瓦上焙乾）</p>
<p>上為細末。每服二大錢，熱米飲調下，酒亦得，用之如神。</p>
<h3>催生藥。</h3>
<p>香白芷百草霜上等分為末。用童子小便，卻入酒醋少許，沸湯調下，甚有神驗。</p>
<h3>滑胎易產神效八味散</h3>
<p>（一名如意散。以下四方，太平州郭師顯駐泊傳）。</p>
<p>甘草（二兩，炙）　黃芩　大豆黃卷　乾薑　吳茱萸　麻子仁　大麥　（炒，以上各四兩）</p>
<p>桂心（三分）</p>
<p>上為末。酒服方寸匕，湯飲亦得，空心食前，須入月方得，服過三十日。</p>
<p>動作宜謹，勿上廁，恐不覺墮地，如此之易也。</p>
<p>治產後虛眩，不能支持，兩脅當臍急痛，氣上衝，前後相引痛，治之如神，</p>
<h3>羊肉湯</h3>
<p>精羊肉（切，四兩）　當歸（切，半兩）　川芎（銼，半兩）　生薑（切，一兩）</p>
<p>上以水十盞，煎至三盞，掠上沫，去滓。分四服，空心熱服，一日服盡，來日再合，兩日滓並一日煎之，當一劑服。</p>
<h3>產後防暈方</h3>
<p>舊漆器上不以多少，烈火燒煙熏鼻中即醒。</p>
<h3>治產後大便不通</h3>
<p>緣亡血過多，腸間干燥，甚至旬日以上，腹脹急，痛，悶冒，氣喘，神昏力弱。欲攻之，則必致危殆，不攻則無緣得利。郭醫云，嘗用古方蜜導法，即時得下，且無所損，真活人之法。其方雖見仲景《傷寒論》，而產家不載，最為緊要。</p>
<h3>順經散</h3>
<p>治小兒十余歲，因驚之後，心氣不行，小腑淋瀝，日及三十余次，漸覺黃瘦，宜服此劑主之。（高逢辰制干傳）。</p>
<p>韭子（湯浸退，取白仁，干秤，一兩）　益智子（取仁，鹽炒過，半兩）　琥珀（半兩，令研）　石葦（去毛土，一錢）　白茯苓（三分、　狗脊（　去毛淨，半兩）　石燕子（火　，醋炒，出上七味，為末和勻。每服一錢，用韭菜白煎湯調下，空心食前各一服，日午一服尤妙。</p>
<p>予表侄十余歲時，嘗游慧山，歸已昏暮，遇一巨人醉臥寺門，驚悸得疾。自是之後，一日便溺五六十度，醫治數月不能效，遂以病證扣高逢辰，即援筆授此方。服藥未幾，日減一日，初則三二十度，最後十數度，凡服兩料而愈。</p>
<h3>九寶飲</h3>
<p>治小兒因傷寒、邪不曾解利、致成遠年嗽、兼治上喘氣嗽不得睡。（常州頓助紫蘇葉（一兩）　薄荷葉（一兩）　麻黃（一兩，去節）　大腹皮（一兩）　肉桂（半兩）　甘草（半兩，炙）　杏仁（半兩，麩炒）　桑白皮（半兩）　陳橘皮（半兩，去穰者）</p>
<p>上件為粗末，令將杏仁研極細，將諸藥同和勻。每服半錢，水半盞，烏梅半枚，生薑一片，同煎三分半，食後去滓溫服，臨睡亦得。忌酒腥之物。</p>
<h3>治小兒泄瀉</h3>
<p>金液丹　青州白丸子上以二藥等分，細研，用面糊丸，如黍米大。每服五十丸，米飲下。臨安節推章謐靜之云：渠有小兒，自五月患臟腑至七月不止，遂作慢驚候，以此藥投一服，徐用少粥壓之即愈，再服六七服，遂無事。（錢氏小兒方亦載此。）</p>
<h3>肥兒丸</h3>
<p><u>外舅朱臨江傳。</u></p>
<p>川黃連　蕪荑仁　神麯（炒）　大麥　（炒）</p>
<p>上四味，等分為細末，用　豬膽為丸，如小綠豆大。每服三十丸，加至五十丸，食後熟水吞下。（此方乃李文定丞相家方。海鹽祝宰為常寧時，女子失奶，極黃瘦，丞相孫維翰來訪，為傳此方，自云其家得此藥，小方脈未嘗登門。女子自服此藥，十日間取下疳蟲，僅萬余，自此日益頑壯。須小兒可服藥即與之。孟正云：秦相家盡服此藥，但加蘿卜子一味。）</p>
<h3>神麯豆蔻丸</h3>
<p>治小兒疳氣，羸弱，臟腑虛怯，及滑泄不止，飲食減少，腹脹寒熱，面黃肌瘦，引飲無度。</p>
<p>神麯（半兩，炒）　肉豆蔻（三枚，面裹煨）　麥　（半兩，炒）　宣連（半兩，去須）</p>
<p>使君子（十四枚，去殼）　蕪荑仁（一分）　蘆薈（一分，合研）</p>
<p>上為細末，用豬膽汁浸，面作糊為丸，如黍米大。每服二十丸，飯飲吞下，空心服。</p>
<h3>木香分氣丸</h3>
<p>治小兒脾胃虛弱，飲食過傷，積滯內停，或多吐逆，胸膈不快，面黃腹急香附子（水浸一宿，搗去黑皮，令淨　飯上蒸過一次，焙乾秤，二兩）　南木香（一錢，面裹，煨）　縮砂（一分，去殼）　甘草（半兩，炙）　京三棱（半兩，濕紙裹，煨，乘熟切，焙）　薑黃（半兩，米泔水浸一宿，切，焙）</p>
<p>上為末，用白面糊為丸，如黍米大。每服二十丸，飯飲吞下，溫熟水亦得，食後服。</p>
<h3>助胃膏</h3>
<p>助小兒胃氣，思食止渴，常服甚妙。（饒州張采助教傳。）</p>
<p>人參　白朮　甘草　茴香（各半兩）　干山藥（一兩）　檀香（一錢）　烏梅肉（半兩）</p>
<p>白豆蔻仁（半兩）　縮砂仁（半兩）　干木瓜（一兩）</p>
<p>上為細末，煉蜜為膏。空心，如皂子大，每服一丸，嚼服，或溫水吞下。治小兒麻豆瘡子，已出太盛，發潰，膿水黏衣著席，不能轉動，疼痛，濕爛，敷之便干，更不成瘢痕方。</p>
<p>上用牛糞，不以多少，晒乾，火　成灰，取心中白者，研令極細。如用蛤粉相似，用綿撲撲有瘡處，不以時候。一方用烏牛糞，一方用黃牛糞。（出《幼幼新書》。一名白龍散，此方用之有驗。）</p>
<h3>辰砂安驚丸</h3>
<p>理風熱涎盛，身體拘急，睡中不穩，鎮心。（以下三方，張采助教傳。）</p>
<p>天麻（一分）　川芎（二錢）　防風（半兩，洗，去蘆頭）　甘草（一兩，炙）　白附子（一分）人參（半兩，洗）　茯神（半兩）　朱砂（二錢，一半入藥，一半為衣）</p>
<p>上細末，煉蜜為丸，如雞頭大。每一丸至兩丸，用薄荷、荊芥煎湯化下。</p>
<p>羌活膏　散風熱，化痰安驚。</p>
<p>羌活（半兩）　荊芥穗（半兩）　白朮（二錢）　甘草（半兩）　白附子（二錢）　桔梗（去蘆頭，洗，半兩）　白茯苓（二錢）　川芎（二錢）　防風（二錢，去蘆頭）　朱砂（二錢，一半入藥，一半為衣）</p>
<p>上細末，煉蜜為丸，如皂皂子大。每服一丸至兩丸，用薄荷湯化下，如痰盛加臘茶湯下</p>
<h3>大天南星丸</h3>
<p>治小兒急慢驚風、涎潮發搐、目睛上視，口眼相引、牙關緊急，背脊強直，精神昏塞，連日不省。</p>
<p>滴乳香（研）　龍腦（研）　牛黃（研，各半錢）　朱砂（研，三錢）　麝香（研，一錢半）　天麻人參　防風（各一分，去蘆頭）　天南星（黃牛膽汁制，半兩）　干蠍（十四個，湯浸軟，去腹內土，微炒）</p>
<p>上細末，煉蜜為丸，如大雞頭大。每服一丸，荊芥薄荷湯下。</p>
<h3>治褓中小兒臍風撮口法</h3>
<p>上視小兒上下齦，齦當口中心處，若有白色如紅豆大，此病發之候也。急以指爪正當中掐之，自外達內，掐令匝，微血出亦不妨。又於白處兩盡頭，亦依此掐令內外斷。（只掐令氣脈斷，不必破肉，指爪勿令大　，恐傷兒甚）。沈存中云：為河北察訪使日，到趙郡，有老人來獻此法，云篤老，惜此法將不傳，愿以濟人。詢之趙人云，此翁生平手救千余兒矣，環數邑之人，皆就此翁，治兒應手而愈。</p>
<h3>沒石子丸</h3>
<p>治小兒吐瀉，臟腑不禁。（上官醫傳）。</p>
<p>黃連（鷹爪者，炒）　訶子（炮，去核）　肉豆蔻（面裹，炮）　木香（炮）　沒石子（炮）</p>
<p>上各秤一錢，為細末，粟米飯為丸，如綠豆大。米飲三十丸。</p>
<h3>誤吞珠銅鐵而哽者方。</h3>
<p>燒弩銅牙令赤，內酒中飲之，立愈。</p>
<h3>誤吞錢方。</h3>
<p>搗火炭末，服方寸匕則出。</p>
<h3>誤吞釘及箭金針鐵等物方。</h3>
<p>多食肥羊肉脂及諸肥肉，自裹出。</p>
<h3>封囟</h3>
<p>天南星（一個，極大者）</p>
<p>上以慢火炮裂，去皮臍，入華陰細辛三錢，同杵為末，入麝香少許，用米醋調，塗緋帛，貼在囟上，以干為度。</p>
<h3>治小兒吐。（宗人子與寺丞傳。）</h3>
<p>赤曲（半兩）　藿香葉（半兩）　丁香（一分，不見火。如熱吐，即減丁香之半），肉豆蔻（一個，面裹，炮）</p>
<p>上為細末。每服一錢大段，小者半錢，煎香楠木湯調下。楠木定驚止吐，神妙不可言。</p>
<h3>治小兒誤食穀芒。</h3>
<p>鵝上將鵝倒瀝　，盛半蛤蜊，令小兒飲之，穀芒即下。</p>
<h3>消風散</h3>
<p>治小兒一切口瘡，並重舌鵝口。（以下五方，信州蔡敏修助教傳。）</p>
<p>硼砂（一錢）　朱砂（一字）　雄黃（一錢）　甘草末（一字）　腦子（一字）</p>
<p>上研細和勻，少許敷之，吞咽不妨。屢用如方。</p>
<h3>雄朱散</h3>
<p>治小兒腮頷裡外腫核。</p>
<p>石膏（二錢）　雄黃（二錢）　牙硝（一錢）　天竺黃（二錢）　甘草末（一錢）　腦子（半字）</p>
<p>上研細和勻敷之，裡核吃不妨，外核用薄荷汁調塗。繳口，新水調亦得。</p>
<h3>金華散</h3>
<p>治小兒一切瘡瘍。</p>
<p>黃皮（去粗皮，半兩，炙焦）　黃連（半兩）　海螵蛸（三錢）　五倍子（三錢）　輕粉（一分，研入）</p>
<p>上為細末和勻。瘡干用油調敷，濕時干敷。</p>
<h3>如聖散</h3>
<p>治小兒一切頭瘡。</p>
<p>松脂（半兩，研細）　輕粉（半兩）</p>
<p>上件和勻，油調敷之。</p>
<h3>急風散</h3>
<p>治小兒喉閉咽痛。</p>
<p>青膽礬（成片，好者）</p>
<p>每用少許，研細，新水調少許咽之，吐痰為妙。大人亦治。</p>
<h3>墜涎丸</h3>
<p>治咳嗽化痰。（以下二方，張采助教傳。皆有神驗。）</p>
<p>天南星（去皮臍，生用，半兩）　白附子（洗，去皮，半兩）　川烏尖（去皮臍，生用，一分）　白僵蠶（洗淨，直者，一分）　白礬（枯，一分）　半夏（洗淨，生用，一兩）</p>
<p>上為細末，用薑汁糊為丸，如小綠豆大。每服二十丸，用生薑、薄荷，泡湯吞下。</p>
<h3>辰砂丸</h3>
<p>治咳嗽，安驚化痰。</p>
<p>辰砂（半兩，研，一半為衣，一半入藥）　白礬（枯，半兩）　天南星（去皮臍，切作片子，再用雪水煮，焙乾，一兩）　大半夏（湯浸七次，用生薑自然汁作餅子，炙，一兩半）　白附子（去皮，炮，半兩）</p>
<p>上為細末，用糯米粉煮糊為丸，如小綠豆大。每服二十丸，用臘茶、薄荷湯吞下。</p>
<h3>四君子丸</h3>
<p>治脾虛、受食不克化、停積中脘、吐逆惡心，臟腑泄瀉。常服消化食滯，進美飲食，濃腸胃，充肌體，悅顏色，退黃。（婺州蔣助教傳。以下三方，予家常合，甚效）。</p>
<p>縮砂仁　烏梅肉（焙乾秤）　陳橘皮（去穰，取仁）　訶子（紙裹，煨，去核，取皮用）</p>
<p>上各一兩，為末。煮好大棗，取肉為丸，如麻子大。每服三十丸至五十丸，棗湯熟水任下，無時。</p>
<p><u>以下二方，張采助教傳。</u></p>
<p>黃連（炒）　蕪荑仁（炒）　神麯（炒）　麥　（炒）　蘆薈（細研，以上各等分）</p>
<p>上為細末，　豬膽汁調，面糊為丸，小綠豆大。每服十五丸至二十丸，　飲吞下。</p>
<h3>觀音散</h3>
<p>理脾胃不和，氣弱昏倦，多困，不思食。</p>
<p>白朮（一分）　人參（一分）　甘草（一分，炙）　干葛（出粉，一分）　藿香葉（一分）　白扁豆（三錢，炒）　茯苓（三錢）　櫻粟子（三錢，炒）　綿黃　（一分，炙）　木香（一分）</p>
<p>上為細末。每服二錢，用生薑、棗子、紫蘇煎湯調下，不計時，日進三服。</p>
<h2>後記</h2>
<p>上集驗方五卷，皆予平生用之有著驗，或雖未及用，而傳聞之審者，刻之姑孰，與眾共之。</p>
<p><u>乾道庚寅十二月十日番陽洪遵書</u></p>
<p>賢人留意濟斯民，學仕之余未舍勤，猶訪醫方治疾病，豈因富貴墮心身。乃知後世家風遠，想見當年德業新，愧我長貧仍懶墮，不能望見屬車塵。</p>
<p>洪公當宋盛時為侍從官，兄為宰相，其富貴為何如也，而懇懇不忘救民之事，著成方書，百世行之。</p>
<p>余素不諳醫，而喜蓄醫書，非真好醫書也，好醫書之為宋元舊刻者。今茲六月中，有揚州書友來告余云有宋版《太醫集業》四冊欲售，余屬其攜來，久而未至，聞已售於他姓，亦不甚惜之；因向來各家書目未載，即舊藏書家亦俱不知，或是書未必真宋版。後閱陸其清《佳趣堂書目》載是書，云文淵閣藏本，有楊南峰、鄒臣虎二跋，方悔前此不之買，而已弗可追矣。適余友陶琅軒從都中寄此宋版《洪氏集驗方》二本，至乃欣然，以為聊饜我欲。蓋此宋版醫書亦所罕有，見有季氏圖書，隨檢延令宋版書目，知即系是書。卷後八行墨跡，季氏云鮮於樞詩跋，諒必有本而云然。百世行之以下，定有脫文，想滄葦收藏時必未遺失，故知之詳也。至於板刻年月，載之甚詳，宋刻固無疑義。而余舊藏《傷寒要旨》與此同出一手，黃憲毛用刻工姓名可考而證。刊刻之地同是姑孰，刊刻之時同是乾道，唯辛卯差後庚寅一年爾。二書之分不知幾時，二書之合又在一地，豈非奇之又奇耶。余言詳彼書跋語中，茲特志得書之由，並志余所以考證是書者如此。</p>
<p><u>甲子十一月蕘翁黃丕烈識</u></p>
<p>頃在楊州郡齋，借到《太醫集業》，尋覽之余，見板口有三因字，遂取《三因極一病證方論》互勘，知即割裂其殘本為之耳。《太醫集業》者，第二卷之一條，並非別有此書也，</p>
<p>《佳趣堂書目》所云誤。歸晤蕘翁，出示是跋，舉以語之，囑記於後，他年倘仍收得，必拊掌一笑。</p>
<p><u>嘉慶乙丑八月澗　顧廣圻書</u></p>
