<header><h1>醫宗金鑑·雜病心法要訣</h1></header>
<dl class="元資料" data-type="book">
<div><dt>作者</dt><dd><data value="吳謙">吳謙等</data></dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1644/1911">公元1644年至公元1911年</data></dd></div>
</dl>
<h2>卷一</h2>
<h3>中風總括</h3>
<p>風從外中傷肢體，痰火內發病心官，體傷不仁與不用，心病神昏不語言。當分中絡經腑臟，更審虚實寒熱痰，脫證撒手為脾絕，開口眼合是心肝，遺尿腎絕鼾聲肺，閉證握固緊牙關，初以通關先取嚏，痰壅不下吐為先。</p>
<p>【注】風，謂虚邪，賊風從外而中傷人四肢軀體，故名曰中風，痰火，謂痰火從內而發，病患心主之官，故名曰痰火。體中風邪，輕則頑麻不仁，重則癱瘓不用。心病痰火，輕則舌强難語，重則痰壅神昏。此證或內或外，單病輕，兼病重，當細辨其中絡。中經，中腑，中臟，及中經絡兼中腑臟。並細審其兼虚、兼實、兼寒、兼熱、兼痰，與夫脫證、閉證之淺深緩急而治之，凡國中宜先用通關散取嚏，有嚏可治，無嚏多死。口噤者，用開關散，擦牙軟之，痰涎壅盛，用諸吐法涌之。若口噤不開，湯藥不能下咽者，則將應服之藥，隨引調如面茶，含在不病患口內，用葦管或筆管插入病患鼻孔，使氣連藥吹之，其藥自能入咽。不可用金器撬之，恐傷齒也。</p>
<p>【按】中風一證，分中血衇、中腑、中臟，始自李東垣，中血衇者，大秦艽湯；中腑者，小續命湯；中臟者，三化湯。然從未見有三化湯中臟之證，惟《金匱》書中分為四證：曰絡、曰經、曰腑、曰臟，其說最為的當，可為後世法。蓋口眼　斜，肌膚不仁，邪在絡也；左右不遂，筋骨不用，邪在經也；昏不識人，便尿阻隔，邪在腑也；神昏不語，脣緩涎出，邪在臟也。學人細閱諸家之論，自知不謬云爾。</p>
<h3>中風死候</h3>
<p>寸口衇平卒中死，生氣獨絕暴脫之，五臟幾息呼吸泯，譬如墮溺豈能期。衇來一息七八至，不大不小尚能醫，大小浮晝沉夜死，衇絕不至死何疑。脫證並見皆死候，搖頭上竄氣長噓，喘汗如油痰拽鋸，肉脫筋痛發枯直。</p>
<p>【注】寸口衇平，謂寸、關、尺衇俱平之人，忽然卒中而死者，皆因中邪太甚，閉塞九竅天真之氣，不能與人之生氣相通，則獨絕於內也。譬如墮跌溺水，豈能預期其死耶！衇來一息七、八至者，不大不小雖困可治。若大而無倫，小而如纖，浮主晝死，沉主夜死，不可治也。五臟脫證，若三臟，四臟並見，及搖頭上竄等證，皆死候也。</p>
<p><u>通關散　開關散　熏鼻法　解語法</u></p>
<p>通關星皂細荷半，開關烏梅冰片南，巴油紙皂煙熏鼻，龜尿舌下點難言。</p>
<p>【注】通關散：南星、皂角、細辛、薄荷、生半夏為末。吹鼻有嚏可治。開關散：烏梅肉、冰片、生南星為末，擦牙，其噤可開。巴豆油紙卷皂角末，燒煙熏入鼻內，人事自省。</p>
<p>取龜尿點在舌下，言語自易。</p>
<p><u>三聖散　瓜蒂散　全蠍散　五元散　巴礬丸</u></p>
<p>無汗吐宜防藜蒂，有汗瓜蒂入蠍全，重劑藜豆礬皂膽，痰壅吐以巴礬丸。</p>
<p>【注】痰涎壅盛，無汗表實，用三聖散，即防風、藜蘆、瓜蒂吐之。有汗裡實，用瓜蒂散，即瓜蒂、赤小豆，或用全蠍散，即瓜蒂散加全蠍吐之。此皆吐之輕劑也，甚則用五元散，乃藜蘆、赤小豆，白礬、皂角、膽礬、巴礬丸，即巴豆，枯白礬吐之。</p>
<p><u>烏藥順氣散</u></p>
<p>烏藥順氣實中絡，　斜頑麻風注疼，麻黃枳桔烏蠶共，白芷乾薑陳草芎。</p>
<p>【注】實中絡，謂風邪中絡之人，形氣實者也。　斜，口眼歪斜也。頑麻，肌膚麻木也。風注疼，風氣攻注骨節疼也。是方麻黃、枳殼、桔梗、烏藥、僵蠶、白芷、陳皮、乾薑、甘草、川芎也。</p>
<p><u>大秦艽湯</u></p>
<p>大秦艽湯虚中絡，　斜偏廢減參珍，秦艽生地石膏共，羌獨防芷細辛芩。</p>
<p>【注】虚中絡，謂風邪中絡之人，形氣虚者也。偏廢，謂半身不遂也。減參珍，謂八珍湯減去人參，加入秦艽、生地。石膏。羌活、獨活、白芷、防風、細辛、黃芩也。偏廢是中經之證，而亦可治之者，以此方能養血榮筋，為久病風人調理之劑。</p>
<p><u>換骨丹</u></p>
<p>中經氣實宜換骨，　斜癱瘓芷芎防，冰麝朱香槐苦味，仙人麻首蔓蒼桑。</p>
<p>【注】中經氣實，謂風邪中經之人，形氣實也。癱，左不用也；瘓，右不用也。換骨丹：白芷、川芎，防風、冰片、麝香、朱砂、木香、槐角、苦參、五味子，葳靈仙、人參、麻黃膏、何首烏、蔓荊子、蒼朮、桑皮也，麻黃膏者，以麻黃熬成膏，和煎藥為丸，朱砂滾衣也。</p>
<p><u>小續命湯</u></p>
<p>小續命湯虚經絡，八風五痹總能全，麻杏桂芍通營衛，參草歸芎氣血宣，風淫防風濕淫己，黃芩熱淫附子寒，春夏石膏知母入，秋冬桂附倍加添。</p>
<p>【注】虚經絡，謂風邪中經。中絡之人，形氣虚也，八風，謂八方之邪風中人為病也。</p>
<p>五痹，詳見痹門要訣中。</p>
<p><u>黃　五物湯</u></p>
<p>黃　五物虚經絡，偏廢虚風無力癱，心清語謇因舌軟，舌强神濁是火痰，補衛黃　起不用，益營芍桂棗薑煎，左加當歸下牛膝，筋瓜骨虎附經添。</p>
<p>【注】黃　五物湯，治因虚召風，中人經絡而病半身不遂者。然審其人若舌强難言，神氣不清，則是痰火為病，不宜此方，若心清語謇，舌軟無力難言者，乃是營衛不足之病，宜用此方。經曰：衛虚則不用，營虚則不仁。此方君黃　而補衛，以起不用；臣桂枝、白芍而益營，以治不仁；佐生薑、大棗以和營衛也。不仁不用在右者属氣，宜倍加黃　；在左者属血，則加當歸。在下兩腿兩膝軟者，則加牛膝；骨軟不能久立者，則加虎骨；筋軟難於屈伸者，則加木瓜；周身或左或右經絡不宣通者，則加炮附子，有寒者亦加之。此方屢試屢效者，其功力專於補外，所以不用人參補內、甘草補中也。</p>
<p><u>三化湯　搜風順氣丸</u></p>
<p>三化氣實風中腑，昏冒閉滿小承羌。形氣俱虚及風燥，搜風順氣自然康。</p>
<p>【注】氣實風中腑，謂風邪中腑之人，形氣實也。昏冒，謂神昏不知人也。閉滿，謂二便阻隔腹滿脹也，小承羌，謂小承氣湯（厚朴、枳實，大黃）加羌活，即三化湯也。</p>
<p>若其人形氣俱虚，則當以搜風順氣丸緩緩治之，自然康也，久病風之人，大便多結燥，謂之風燥。或用續命湯汗過，三化湯下過，津液枯干，以致結燥。凡病不論中經絡臟腑，但有二便阻隔，形氣不足，難堪攻下者，均宜此法，以搜六腑之風，通腸胃中之氣，二便自利矣。</p>
<p><u>牛黃清心丸</u></p>
<p>牛黃清心實中藏，痰壅神昏不語言，口眼　斜形氣盛，兩手握固緊牙關。</p>
<p>【注】牛黃清心丸，治風邪中臟之人，形氣俱實，其證痰涎壅塞，神昏不能言語，口眼斜，形氣滿盛，兩手握固，牙關緊急之閉證，皆可服之。</p>
<p><u>參附湯</u></p>
<p>參附湯治虚中臟，脣緩涎出不語言，昏不知人身偏廢，五脫證見倍參煎。</p>
<p>【注】參附湯，即人參、附子也，治風邪中臟之人，形氣俱虚，其證脣緩不收，痰涎流出，神昏不語，身肢偏廢，或與五臟脫證並見，宜大倍人參，先固虚脫，次治風邪可也。</p>
<p><u>千金還魂湯</u></p>
<p>經絡閉證卒中惡，氣促神昏不識人，無汗拘急身偏痛，肉桂麻草杏還魂。</p>
<p>【注】經絡閉證，謂風邪中經絡之閉證也。氣促，謂氣粗盛也，無汗四肢拘急，身體偏痛，乃表邪固閉，宜用肉桂、麻黃、甘草、杏仁，即還魂湯以開之。</p>
<p><u>奪命散</u></p>
<p>臟腑閉證腹滿閉，昏噤痰結在喉間，危急湯藥不能下，奪命巴芷半葶南。</p>
<p>【注】臟腑閉證，謂風邪中臟腑之閉證也。腹滿閉，謂腹滿二便閉也。兼之神昏口噤不開，結痰喉間不下，宜用是方吐下之，巴豆、白芷，半夏、葶藶、生南星也。</p>
<p><u>三生飲</u></p>
<p>三生飲治中風寒，厥逆沉伏涌氣痰、星香烏附俱生用，氣虚加參脫倍添。</p>
<p>【注】中風寒，謂不論經絡臟腑、風邪中臟寒之人也。厥逆，謂四肢冷也。沉伏，謂六衇沉伏也。是方生南星、生川烏、生附子、木香也。惟寒盛氣實者宜之。若氣虚者加人參，虚極將脫者大倍人參，始可用之而無倒戈之害也。</p>
<p><u>祛風至寶湯</u></p>
<p>祛風至寶中風熱，浮數面赤熱而煩，通聖加蠍天麻細，白附羌獨連柏蠶。</p>
<p>【注】中風熱，謂不論經絡臟腑，風邪中腑熱之人也。浮數，謂六衇浮數也。熱而煩，謂身熱心煩也。通聖，謂防風通聖散，方中加全蠍、天麻、細辛、白附、羌活、獨活、黃柏、黃連、僵蠶也。防風通聖散，詳在傷寒門。</p>
<p><u>青州白丸子</u></p>
<p>青州白丸中風痰，　斜癱瘓涌痰涎，小兒驚痰為妙藥，白附烏星半夏丸。</p>
<p>【注】中風痰，謂不論經絡臟腑、風邪中表，有痰飲之人也。涌痰涎，謂痰涎涌盛也。</p>
<p>是方生白附子、生川烏，生南星、生半夏、法制為丸也。</p>
<p><u>羌活愈風湯</u></p>
<p>羌活愈風治外中，手足無力語出難，肌肉微掣不仁用，大秦艽湯參再添，官桂黃杜防己，知枳柴荷蔓菊前，蒼麻半朴杞地骨，調理諸風症可安。</p>
<p>【注】治外中，謂風從外中之病也，此病之來，必有先兆，如手足無力，語言謇澀，時有肌肉微動牽掣，大指次指麻木不用，皆風邪外中之先兆也，宜用此湯。大秦艽湯參再添，謂大秦艽湯方中，再添人參、官桂、黃　、杜仲、防己、知母、枳殼、柴胡、薄荷、蔓荊子、菊花、前胡、蒼朮、麻黃、半夏、厚朴、枸杞、地骨皮也。調理諸風症可安，謂凡中風內邪將除，外邪漸盡，更服此藥調理，以行導諸經，久則大風悉去，清濁自分，榮衛自和矣。</p>
<p><u>清熱化痰湯</u></p>
<p>清熱化痰治內發，神短忽忽語失常，頭眩腳軟六君麥，芩連菖枳竹星香。</p>
<p>【注】治內發，謂痰火內發之病也。此病之來，必有先兆，如神短忽忽，言語失常，上盛下虚，頭眩腳軟，皆痰火內發之先兆也，宜用此湯，即人參、白朮、茯苓、甘草、橘紅、半夏、麥冬、黃芩、黃連、石菖蒲、枳實、竹茹，南星、木香也。</p>
<p><u>地黃飲子</u></p>
<p>四肢不收無痛痱，偏枯身偏不用疼，其言不變志不亂，邪在分腠五物能。甚不能言為喑痱，奪厥入臟病多凶，地黃桂附蓉巴遠，萸斛冬味薄菖苓。</p>
<p>【注】風痱、偏枯、喑痱三病，皆属外中，而有微甚淺深之別也。風痱，謂四肢不收，身無痛處，偏枯，謂半身不遂，身有痛處。其言不變志不亂，乃邪微淺，病在分腠榮衛之間，以黃　五物湯能補榮衛而散風邪也。甚者不能言，志亂神昏，則為喑痱，乃腎虚內奪，少隂不至而厥，其邪已入於臟，故曰病多凶也。地黃飲子是治腎虚內奪之方，是方熟地、肉桂、附子、肉蓯蓉、巴戟、遠志、山萸、石斛、麥冬、五味子、薄荷、石菖蒲、茯苓也。</p>
<p><u>滌痰湯</u></p>
<p>滌痰內發迷心竅，舌强難言參蒲星，温膽熱盛芩連入，神昏便閉滾痰攻。</p>
<p>【注】內發，謂痰火內發，迷人心竅，令人精神恍惚，舌强難言也。滌痰湯，即人參、菖蒲、南星、合温膽湯也，温膽湯，橘紅、半夏、茯苓、甘草、竹茹、枳實也。熱盛加黃芩、黃連，大小二便閉，用礞石滾痰丸攻之可也。</p>
<h3>類中風總括</h3>
<p>類中類乎中風證，尸厥中虚氣食寒，火濕暑惡皆昏厥，辨在　斜偏廢間。</p>
<p>【注】類中風證，皆名尸厥，謂形厥而氣不厥也，故口鼻無氣，狀類死尸而衇自動也。</p>
<p>中虚、中氣、中食、中寒、中火、中濕、中暑、中惡等證，雖忽然昏倒，人事不省，類乎真中風病，但不見口眼　斜，偏廢不仁不用等證，自可辨也。</p>
<p><u>獨參湯　參附湯　星香湯　三物備急丹　奪命散</u></p>
<p>尸厥無氣而衇動，或衇微細有無間。緣於病後氣血竭，人參參附星香痰，氣閉腹滿二便閉，或腹急痛備急丹，服後轉鳴吐下驗，喉間痰結奪命先。</p>
<p>【注】尸厥之證，有虚、有實，虚者，以獨參湯。虚兼寒者，以參附湯。虚兼痰者，以星香飲加人參湯。實者氣閉似死，衇動有力，腹滿脹，二便閉或腹急痛，氣閉，前後不通者，以備急丹。實兼痰者，以奪命散。</p>
<p><u>補中益氣湯　生衇補精湯</u></p>
<p>補中益氣療虚中，煩勞過度氣不升，虚冒有痰加苓半，欲冒生麥地歸茸。</p>
<p>【注】補中益氣湯治虚中之證，即李杲所云：內傷氣虚之人，煩勞過度，清氣不升，忽然昏冒也。欲冒，謂因房勞過度昏冒也。生衇飲即人參、麥冬、五味子合熟地、當歸、鹿茸，名曰生衇補精也。</p>
<p><u>木香調氣飲</u></p>
<p>木香調氣實氣中，暴怒氣逆噤昏痰，風浮肢温氣沉冷，木藿砂蔻草丁檀。</p>
<p>【注】實氣中，謂形氣俱實之人中氣也。因暴怒氣逆，忽然昏倒噤急也。風浮肢温氣沉冷，謂中風之人，衇浮手足温，中氣之人，衇沉手足冷，可別也。是方木香，藿香、砂仁、白蔻、甘草、丁香、檀香也。</p>
<p><u>八味順氣散</u></p>
<p>八味順氣虚氣中，標夲兼施邪正安，參苓朮草扶元氣，烏芷青陳利氣痰。</p>
<p>【注】虚氣中，謂形氣俱虚之人中氣也。宜用此標夲兼施，邪正相安之劑也。</p>
<p><u>瓜蒂散　薑鹽湯</u></p>
<p>食中過飽感寒風，或因怒惱塞胸中，忽然昏厥肢不舉，瓜蒂薑鹽探吐平。</p>
<p>【注】瓜蒂散，挾痰者用之。薑湯，挾寒者用之。鹽湯，過食者用之。探吐，謂作此湯數盅，令病者飲一盅，隨用指探吐，不吐再飲再探，以吐通快為度，可立愈也。</p>
<p><u>附子理中湯</u></p>
<p>附子理中療寒中，腹痛拘急噤牙關，有汗身寒或吐瀉，附子參朮草薑干，無汗身寒加麻細，隂毒川烏用生煎，嘔吐丁香吳萸入，衇微欲絕倍參添。</p>
<p>【注】寒中之證，即腹痛諸證者是也，宜用附子理中湯。若無汗加麻黃。細辛，隂毒加生川烏，嘔吐加丁香、吳茱萸，衇微欲絕倍加人參，隂毒寒極也，詳在《傷寒心法》。</p>
<p><u>涼膈散</u></p>
<p>涼膈火中神昏冒，梔翹芩薄草硝黃，兼治一切胸膈熱，便燥譫妄與斑狂。</p>
<p>【注】火中之證，即劉完素所云：七情過極，五志之火內發，則令人昏倒無知，筋骨不用也。</p>
<p><u>香薷飲　藿香正氣散　辰砂益元散　熨臍法　蒼朮白虎湯　人參白虎湯</u></p>
<p>暑中須分隂與陽，隂邪無汗似寒傷，壯熱心煩或嘔瀉，香薷扁朴二香湯，更兼昏憒蒸蒸汗，面垢喘渴證為陽，不省熨臍灌蒜水，益元蒼參白虎湯。</p>
<p>【注】隂邪無汗似寒傷，謂暑中隂邪，似傷寒頭痛身痛，惡寒無汗，而更壯熱心煩，或嘔或瀉也，得之於受暑納涼，寒外暑內，宜香薷飲。二香湯，謂香薷飲合藿香正氣飲，詳在霍亂門，若有如上之證，更兼精神昏憒，蒸蒸自汗，面垢喘渴，則為暑中陽邪，得之於赤日長途，中外皆熱，國中昏憒不省者，急以熱物熨臍，蒜汁合水灌之即省，繼以辰砂益元散。氣實者，蒼朮白虎湯，氣虚者，人參白虎湯，選而用之可也。</p>
<p><u>滲濕湯</u></p>
<p>滲濕濕中內昏冒，震亨濕熱熱生痰，濃味醇酒生冷水，胃苓香附撫砂連。</p>
<p>【注】濕中內，謂濕從內生之病，即朱震亨所云：濕熱生痰，昏冒之證，得之於傷濃味醇酒生冷水物過節也。滲濕湯，即胃苓東加香附、撫芎、砂仁、黃連。</p>
<p><u>除濕湯</u></p>
<p>除濕隂雨濕蒸霧，臥濕涉水瘴山嵐，頭身重痛便溏腫，羌　升柴防水煎。</p>
<p>【注】除濕湯，即羌活、　夲、升麻、柴胡、防風、蒼朮，治濕因外中。得之於天隂淫雨，晴後濕蒸，早晨霧露，及久臥濕地，遠行涉水，瘴氣山嵐。其證頭身重痛，甚而昏冒大便溏瀉，皮膚浮腫也。</p>
<p><u>調氣平胃散</u></p>
<p>調氣平胃療惡中。廟塚忤惡卒然昏。面黑錯忘蘇合主，次以木香平胃勻。</p>
<p>【注】蘇合主，謂中惡之病，以蘇合香丸為主也。次以木香平胃勻，謂以中氣木香調氣散之方，合平胃散之藥調理也。</p>
<h3>傷風總括</h3>
<p>傷風属肺咳聲重，鼻塞噴嚏涕流清，鼻淵腦熱不噴嚏，濁涕穢久必鼻紅。</p>
<p>【注】傷風属肺，故噴嚏也，鼻淵属腦，故不噴嚏也。傷風寒邪，故涕清也，鼻淵熱邪，故涕濁也。鼻淵病久或有穢氣，則熱深，故腦衄鼻血也。</p>
<p><u>川芎茶調散</u></p>
<p>參蘇飲治虚傷風，實者茶調及頭疼，芎芷薄草羌茶細，荊防痰半熱膏清。</p>
<p>【注】參蘇飲方，在咳嗽門，治氣虚之人傷風之病。若氣實者，用川芎茶調散，即川芎、白芷、薄荷、甘草、羌活、茶葉、細辛、荊芥、防風，傷風頭痛者，亦可用也，有痰者加半夏清痰，有熱者加石膏清熱可也。</p>
<p><u>蒼耳散</u></p>
<p>蒼耳散治鼻淵病，風熱入腦瞑頭疼，涕流不止鼻塞熱，蒼耳辛夷芷薄蔥。</p>
<p>【注】鼻淵病属風熱入腦，故目瞑而頭疼涕流不止，較之傷風為甚焉，鼻塞，氣不利也。熱，鼻孔中熱也，甚者，孔熱而痛及其腦也。蒼耳散，即蒼耳子炒去刺，研破一兩，加辛夷三錢，白芷、薄荷各一錢，蔥三莖也。</p>
<p><u>黃連防風通聖散</u></p>
<p>鼻淵初病施蒼耳，黃連防風久病方，孔痛膽調冰硼散，鼻血犀角地黃湯。</p>
<p>【注】鼻淵，風熱傷腦之病，初病則風邪盛，故用蒼耳散，以散為主，久病則熱鬱深，故用防風通聖散加黃連，以清為主也。熱氣涌涕傷其鼻孔成瘡故痛也，宜以豬膽汁調冰硼散敷之。熱蘊於腦，傷及所過營血故衄也。宜以犀角地黃湯涼之可也。</p>
<h3>痙病總括</h3>
<p>痙病項强背反張，有汗為柔無汗剛，生產血多過汗後，潰瘡犬咬破風傷。</p>
<p>【注】痙病之證，詳在《傷寒心法》，有汗為柔痙，無汗為剛痙。產後去血過多，傷寒發汗過多，則為內因。潰瘍破傷、狗咬，則為外因。皆風邪乘虚入太陽經而成此病也。</p>
<h3>痙病死證</h3>
<p>痙證衇散多應死，反張離席一掌亡，眼小目瞪昏不語，額汗如珠命必傷。</p>
<p>【注】反張離席一掌，謂離席四五指許也。眼小，謂目睫緊小也。目瞪，謂眼珠不轉也。</p>
<p><u>葛根湯　桂枝加葛根湯　小續命湯　桂枝加附子湯　當歸補血湯　大承氣湯　桃仁承氣湯</u></p>
<p>剛痙葛根湯發汗，柔痙桂枝加葛良，若兼雜因小續命，過汗桂枝加附湯，傷血桂枝合補血，裡實瘀血承氣方，潰瘍十全加風藥，破傷狗咬另參詳。</p>
<p>【注】剛痙用葛根湯，即桂枝東加麻黃、葛根。柔痙用桂枝加葛根湯，即桂枝東加葛根汗之。雜因，謂風寒濕雜揉為病，用小續命湯，隨風寒濕輕重治之。過汗表虚，汗出不止，因而成痙，用桂枝加附子湯，即桂枝東加附子也。傷血，謂產後金瘡大傷血後，用桂枝湯合補血湯，即當歸黃　也。裡實，謂痙病腹滿二便閉，以大承氣湯。及產後惡露不盡，少腹硬急，以桃仁承氣湯下之。潰瘍去膿血過多，為風所襲者，用十全大補東加祛風之藥治之。</p>
<h3>破傷風</h3>
<p>破傷亡血筋失養，微傷風入火之端，燥起白痂瘡不腫，濕流污水緊牙關。</p>
<p>【注】破傷去血過多，筋失所養，經絡空虚，風邪乘之為病，即經曰「風邪乘虚而入」也，為風虚邪，宜桂枝湯合當歸補血湯治之。夫傷重出血過多而病風者常也，然時有微傷淺損，去血甚少，風邪乘之而病者，以其人素熱，因風而然。即劉完素曰：熱甚風搏並於經絡也，為風火邪，宜防風通聖散加蠍尾治之。凡此證不論虚實，風毒內蘊不發於外，瘡口周遭燥起白痂，瘡不甚腫，濕流污黑之水，牙關微緊，不似尋常活動，皆破傷風之先兆也。</p>
<p><u>防風通聖散加蠍尾方　全蠍散　左龍丸　斑蝥大黃方</u></p>
<p>火盛通聖加蠍尾，風盛全蠍左龍丸，外因燒酒火罐法，犬風斑大酒同煎。</p>
<p>【注】破傷火盛者，多陽明證，用防風通聖散加蠍尾治之。風盛者，多太陽證，用全蠍散，即生蠍尾七枚研末，熱酒服之。服後不解，漸深入裡，用左龍丸，即野鴿糞、江鰾、僵蠶、雄黃、蜈蚣、天麻、朱砂、巴豆霜為丸也，方詳在《丹溪心法》諸破傷風門內。皆宜外用砂燒酒壺兩個，盛多半壺燒酒，先以一壺上火令滾無聲，傾酒即按在破傷瘡口，拔出污黑血水，滿則自落。再以次壺仍按瘡口，輪流提拔，以盡為度，其風立愈。犬咬風毒入腹成痙風者，用斑蝥七枚，以糯米拌炒米黃，去米為末，生大黃末一錢合均，黃酒一盞，煎至半盞，空心温服，取下毒物，弱者減半服之可也。</p>
<h3>痹病總括</h3>
<p>三痹之因風寒濕，五痹筋骨衇肌皮，風勝行痹寒痹痛，濕勝著痹重難支。皮麻肌木衇色變，筋攣骨重遇邪時，復感於邪入臟腑，周同衇痹不相移。</p>
<p>【注】三痹之因，風寒濕三氣雜合而為病也。其風邪勝者，其痛流走，故曰行痹。寒邪勝者，其痛甚苦，故曰痛痹。濕邪勝者，其痛重著，故曰著痹。此為病之因而得名，曰三痹也。又有曰五痹者，謂皮、衇。肌、筋。骨之痹也。以秋時遇此邪為皮痹，則皮雖麻尚微覺痛癢也。以夏時遇此邪為衇痹，則衇中血不流行、而色變也。以長夏時遇此邪為肌痹，則肌頑木不知痛癢也。以春時遇此邪為筋痹，則筋攣節痛屈而不伸也，以冬時遇此邪為骨痹，則骨重酸疼不能舉也，曰入臟腑者，謂內舍五臟之痹也。以皮痹不已，復感於邪，內舍於肺，成肺痹也。衇痹不已，復感於邪，內舍於心，成心痹也。肌痹不已，復感於邪，內舍於脾，成脾痹也，筋痹不已，復感於邪，內舍於肝，成肝痹也，骨痹不已，復感於邪，內舍於腎，成腎痹也，此皆以病遇邪之時，及受病之處而得名，曰五痹也。所謂邪者，重感於風寒濕之氣也。周痹亦在血衇之中，隨衇上下為病，故同衇痹，但患有定處，不似衇痹左右相移也。近世曰痛風，曰流火。曰歴節風。皆行痹之俗名也。</p>
<h3>周痹</h3>
<p>周痹患定無歇止，左右不移上下行，似風偏廢只足手，口眼無斜有痛疼。</p>
<p>【注】周痹，或痛、或腫，或手、或足，患有定處，痛無歇止。或從上病及於下，或從下病及於上，而不似眾痹痛有歇止，左右相移流走也。周痹，或兩手，或兩足，或只手足，或偏廢不仁不用，而似中風，但不口眼　斜，身有痛疼也。</p>
<h3>痹病生死證</h3>
<p>痹在筋骨痛難已，留連皮衇易為功，痹久入臟中虚死，臟實不受復還生。</p>
<p>【注】痹在筋骨則受邪深，故痛久難已。痹在皮衇則受邪淺，故易治也。凡痹病日久內傳，所合之臟，則為五臟之痹。若其人中虚受邪，則難治多死，其人臟實而不受邪，復還於外，則易治多生。假如久病皮痹，復感於邪，當內傳肺而為肺痹，若無胸滿而煩喘咳之證，則是臟實不受邪。余臟仿此。</p>
<h3>痹入臟腑證</h3>
<p>肺痹煩滿喘咳嗽，腎脹尻踵脊代頭。脾嘔痞硬肢懈墮，心煩悸噫恐時休，數飲臥驚肝太息，飲秘脹瀉在腸究，胞秘沃痛鼻清涕，三焦胃附膽無憂。</p>
<p>【注】久病皮痹，復感於邪，見胸滿而煩喘咳之證，是邪內傳於肺，則為肺痹也。久病骨痹，復感於邪，而見腹脹，尻以代踵，足攣不伸．脊以代頭，傴僂不直之證，是邪內傳於腎，則為腎痹也，久病肌痹，復感於邪，而見嘔涎心下痞硬，四肢懈墮之證。是邪內傳於脾，則為脾痹也。久病衇痹，復感於邪。而見心煩、心悸、嗌干，噫氣，有時則恐之證，是邪內傳於心，則為心痹也。久病筋痹，復感於邪，而見喜飲小便數多，夜臥則驚太息之證。是邪內傳於肝，則為肝痹也。久痹不已復感於邪，臟實不受而傳腑者，凡見喜飲小便秘，不脹則瀉，不瀉則脹之證，是邪內傳於大小腸，則為腸痹也。凡見少腹胞中，按如沃湯狀而痛，小便秘澀，鼻流清涕之證，是邪內傳於膀胱，則為胞痹也。三焦之痹附於膀胱，從水道也。胃痹附於大、小二腸，從傳化也。膽為清淨之府，不受痹邪，故曰無憂也。</p>
<p><u>小續命湯　增味五痹湯</u></p>
<p>痹虚加減小續命，痹實增味五痹湯，麻桂紅花芷葛附，虎羊　草二防羌。</p>
<p>【注】痹虚，謂氣虚之人病諸痹也，宜用加減小續命湯，風勝行痹倍防風，寒勝痛痹倍附子，濕勝著痹倍防己，皮痹加黃　或桂枝，皮衇痹加薑黃或加紅花，肌痹加葛根或加白芷，筋痹加羚羊角或加續斷，骨痹加虎骨或加狗脊。有汗減麻黃，便溏減防己，寒勝減黃芩加乾薑，熱勝減附子加石膏，加減治之。痹實，謂氣血實之人病諸痹也，宜用增味五痹湯，即麻黃、桂枝，紅花、白芷、葛根、附子、虎骨、羚羊角、黃　、甘草、防風、防己、羌活也，行痹以羌活、防風為主，痛痹以麻黃、附子為主，著痹以防己，羌活為主，皮痹以黃　、桂枝皮為主，衇痹以紅花。桂枝為主，肌痹以葛根。白芷為主，筋痹以羚羊角為主，骨痹以虎骨為主，增味於五痹治之可也。</p>
<p><u>木通湯　附子五苓散　蒼朮五苓散</u></p>
<p>三痹木通長流水，濕加防己風羌防，寒痹附麻分汗入，胞腸五苓附子蒼。</p>
<p>【注】三痹，謂行痹、痛痹、著痹也，宜用木通一味，不見水者二兩，以長流水二碗，煎一碗，熱服取微汗，不愈再服，以愈為度。若其痛上下、左右流走相移者，加羌活、防風以祛風邪，其痛苦甚者，有汗加附子，無汗加麻黃，以去寒邪，其痛重著難移者，加防己以勝濕邪。其所應加之藥，不可過三錢，弱者俱減半服。胞痹宜用五苓散加附子，腸痹宜五苓散加蒼朮，以利寒飲也。五苓散方在傷寒門。</p>
<p><u>三痹湯　獨活寄生湯</u></p>
<p>三痹十全無白朮，牛秦續杜細獨防，獨活加桑除　續，入臟乘虚久痹方。</p>
<p>【注】三痹，謂三痹湯，即十全大補湯無白朮，加牛膝、秦艽、續斷、杜仲，細辛、獨活，防風也，獨活，謂獨活寄生湯，依三痹湯方加桑寄生，除去黃　，續斷也。此皆治五痹不已，乘虚入臟，反留連日久，調理痹病之方也。</p>
<p><u>黃　益氣湯</u></p>
<p>黃　益氣虚皮痹，皮麻不知癢與疼，補中益氣加紅柏，味秋芩夏桂加冬。</p>
<p>【注】氣實麻木，用小續命東加麻黃治之。氣虚麻木，用黃　益氣湯，即補中益氣東加紅花、黃柏也，秋加五味子，夏加黃芩，冬加桂枝皮。</p>
<p><u>蠲痹湯　加味升陽散火湯</u></p>
<p>蠲痹冷痹身寒厥，附歸　草桂羌防，肌熱如火名熱痹，羚犀升陽散火湯。</p>
<p>【注】蠲痹湯，即附子、當歸、黃　、炙草、官桂、羌活、防風，治痹病而身寒無熱，四肢厥冷，名曰冷痹也。加味升陽散火湯，即內傷門升陽散火東加羚羊角、犀角，治痹病而肌熱如火，名曰熱痹也。</p>
<h3>痿病總括</h3>
<p>五痿皆因肺熱生，陽明無病不能成，肺熱葉焦皮毛瘁，發為痿　不能行，心熱衇痿脛節縱，腎骨腰脊不能興，肝筋拘攣失所養脾肉不仁燥渴頻。</p>
<p>【注】五痿，心、肝、脾、肺、腎之痿也。痿属燥病，故皆因肺熱而生也，陽明者，五臟六腑之海，主潤宗筋。陽明無病，則宗筋潤、能束骨而利機關，雖有肺熱不能成痿也。</p>
<p>肺熱葉焦，陽明虚弱，津液不化，筋骨失養，皮毛瘁痿，發為痿　不能行也，因而心氣熱為衇痿，則脛節縱而不任地，肺兼心病也。因而腎氣熱為骨痿，則腰脊不能興舉，肺兼腎病也。因而肝氣熱為筋痿，則筋失所養，拘攣不伸，肺兼肝病也。因而脾氣熱為肉痿，則胃燥而渴，肌肉不仁，肺兼脾病也。</p>
<h3>痿痹辨似</h3>
<p>痿病足兮痹病身，仍在不疼痛裡分，但觀治痿無風藥，始曉虚實別有因。</p>
<p>【注】痿痹之證，今人多為一病，以其相類也。然痿病兩足痿軟不痛，痹病通身肢節疼痛。但觀古人治痿，皆不用風藥，則可知痿多虚，痹多實，而所因有別也。</p>
<h3>痿病治法</h3>
<p>痿燥因何治濕熱，遵經獨取治陽明，陽明無故惟病肺，胃壯能食審證攻，控涎小胃濕痰熱，陽明積熱法三承，胃弱食少先養胃，久虚按證始收功。</p>
<p>【注】痿属燥病，因何而用治濕熱苦燥之藥？蓋遵《內經》之治法，獨取於陽明胃也。</p>
<p>故胃家無病，雖有肺熱，惟病肺而不病痿也。是知病痿者，胃家必有故也，或濕熱、或積熱、或濕痰，不論新久，若胃壯能食，當先審證攻之。胃有濕痰，用控涎丹攻之。有濕熱者，用小胃丹攻之，有積熱者，用三承氣湯攻之。此治胃壯能食之法也。若胃弱飲食減少，氣血津液不足，當先以補養脾胃為主。其有久病留連，諸虚燥熱，或攻下之後調理，當審證治之，始收全功也。</p>
<p><u>加味二妙湯</u></p>
<p>加味二妙濕熱痿，兩足痿軟熱難當，防己當歸川萆　，黃柏龜版膝秦蒼。</p>
<p>【注】熱難當，謂兩足熱難當也。膝秦蒼，謂牛膝、秦艽、蒼朮也。</p>
<p><u>清燥湯　虎潛丸　十全大補湯　加味金剛丸</u></p>
<p>時令濕熱清燥效，隂虚濕熱虎潛靈，久虚痿軟全金主，萆瓜牛菟杜蓯蓉。</p>
<p>【注】清燥湯在內傷門。虎潛丸有成方。全金主，謂十全大補湯、加味金剛丸，久病氣血虚，以十全大補湯為主；筋骨痿軟，以加味金剛丸為主。加味金剛丸，即萆　、木瓜，牛膝、菟絲子、杜仲、肉蓯蓉也。</p>
<h3>香港腳總括</h3>
<p>香港腳風寒濕熱病，往來寒熱狀傷寒，腿腳痛腫熱為火，不腫不熱是寒干。</p>
<p>【注】香港腳乃內有濕熱，外感風寒，相合為病，故往來寒熱，狀類傷寒。兩腳腿痛腫熱如火者，是火盛也，不腫不熱而痛者，是寒盛也，名曰干香港腳。</p>
<h3>香港腳死證</h3>
<p>香港腳衇急少腹頑，不三五日入心間，嘔吐喘滿目額黑，恍惚譫妄命難全。</p>
<p>【注】香港腳衇急，少腹頑木，不知痛癢，不過三五日內，其邪必入心間。若入心間，嘔吐喘滿，是為香港腳衝心之證。目額皆黑，恍惚譫妄，則是水來克火之征，故曰命難全也。</p>
<p><u>攢風散　羌活導滯湯　勝濕餅子　五積散　獨活寄生湯</u></p>
<p>香港腳表解攢風散，麻桂杏草萆烏良，裡解導滯羌獨活，防己當歸枳大黃，濕盛重腫勝濕餅，二丑蕎面遂成方，寒濕五積加附子，寒虚獨活寄生湯。</p>
<p>【注】初病香港腳，表實無汗，用攢風散汗之，即麻黃、桂枝、杏仁、甘草、萆　、炮川烏也，裡實熱盛，二便不利，用羌活導滯湯下之，即羌活，獨活、防己、當歸、枳實、大黃也。濕盛重腫，用勝濕餅子，即黑丑、白丑頭末，甘遂末，各五錢，蕎麥面一兩五錢，水和作餅，三錢，煮熟，空心茶清服逐之。寒濕者，用五積散加附子治之，方在傷寒門。寒虚者，用獨活寄生湯補之，方在痹門。</p>
<p><u>當歸拈痛湯</u></p>
<p>當歸拈痛虚濕熱，茵陳四苓與羌防，人參當歸升芩草，苦參知母葛根蒼。</p>
<p>【注】濕熱香港腳而形氣虚者，宜用當歸拈痛湯，即茵陳，白朮、茯苓、豬苓、澤瀉、羌活、防己、人參、當歸，升麻，黃芩、甘草、苦參、知母、葛根、蒼朮也。</p>
<p><u>加味蒼柏散</u></p>
<p>加味蒼柏實濕熱，二活二術生地黃，知柏芍歸牛膝草，木通防己木瓜榔。</p>
<p>【注】濕熱香港腳而形質實者，宜用加味蒼柏散，即羌活、獨活、蒼朮、白朮、生地黃、知母、黃柏、赤芍、當歸、牛膝、甘草、木通、防己、木瓜、檳榔也。</p>
<p><u>大防風湯</u></p>
<p>兩膝腫大而疼痛，髀脛枯細鶴膝風，大防風附羌牛杜，十全大補減茯苓。</p>
<p>【注】兩膝腫大疼痛，膝上至髀、膝下脛足枯細，但存皮骨，兩膝狀若鶴膝，故名鶴膝風也。宜大防風湯，即防風、附子、羌活、牛膝、杜仲、人參、白朮、炙草、當歸、川芎、白芍、熟地、炙　、肉桂也。此病若得之於痢疾病後者，名曰痢風，亦用此方。</p>
<h2>卷二</h2>
<h3>內傷總括</h3>
<p>內傷勞役傷脾氣，飲食傷胃傷其形，傷形失節温涼過，氣濕熱暑火寒中。</p>
<p>【注】勞役傷氣，傷元氣也。飲食傷形，傷胃腑也。傷氣宜補，有熱中、濕熱。暑熱、火鬱、寒中之不同。傷形宜消，有飲食失節、過於温涼之不一也。</p>
<h3>內傷外感辨似</h3>
<p>內傷衇大見氣口，外感衇大見人迎，頭疼時痛與常痛，惡寒温解烈火仍，熱在肌肉從內泛，熱在皮膚捫內輕，自汗氣乏聲怯弱，雖汗氣壯語高聲，手心熱兮手背熱，鼻息氣短鼻促鳴，不食惡食內外辨，初渴後渴少多明。</p>
<p>【注】內傷外感衇皆大，內傷之衇、氣口大於人迎，不似外感之衇、人迎大於氣口也。</p>
<p>內傷外感皆頭痛，內傷之頭痛有時而痛，有時不痛，不似外感之頭痛，常常而痛不休也。</p>
<p>內傷外感皆惡寒，內傷之惡寒得就温衣而即解，不似外感之惡寒，雖近烈火而仍惡也。內傷外感皆發熱，內傷之發熱，熱在肌肉，以手捫之，熱從內泛，不似外感之發熱，熱在皮膚，以手捫之，熱自內輕也，內傷外感皆自汗，內傷之自汗，氣短乏聲怯弱，不似外感之自汗，氣壯促語聲高也，內傷外感手皆熱，內傷之熱手心熱，不似外感之熱，手背熱也，內傷外感皆鼻不和，內傷之鼻息氣短而喘，不似外感之鼻息氣促而鳴也。內傷外感皆不食，內傷之不食口中無味，不似外感之不食，聞食則惡也，內傷外感皆渴，內傷之渴初病即渴，其飲甚少，不似外感之渴，三日後始渴，其飲甚多也。</p>
<p><u>補中益氣湯</u></p>
<p>補中益氣升陽清，熱傷氣陷大虚洪，頭痛表熱自汗出，心煩口渴畏寒風，困倦懶言無氣動，動則氣高喘促聲，保元甘温除大熱，血歸氣術補脾經，佐橘降濁散滯氣，升柴從胃引陽升，隂火腎躁加地柏，陽熱心煩安神寧。</p>
<p>【注】補中益氣湯治內傷，清陽下陷，因勞役過度，熱傷元氣，故衇虚大而洪也，內傷頭痛，時作時止也。內傷表熱，嘗自汗出也。心煩，氣虚惡煩勞也。口渴，氣陷不蒸化也，畏寒畏風。表氣虚失衛也，困倦懶言，中氣乏不周也。動則氣喘上氣，不足息也。保元，謂人參、黃　、甘草，名保元湯也。臣當歸和脾血，白朮益脾氣，佐橘皮降濁、散胸中滯氣，升、柴、升清，從胃中引陽也，隂火時顯躁熱，加黃柏、生地，補水救隂。陽熱晝夜心煩，合朱砂安神丸，瀉火安神。</p>
<p><u>調中益氣湯</u></p>
<p>調中弦洪緩沉澀。濕熱體倦骨酸疼，氣少心煩忽肥瘦，口沫食出耳鳴聾，胸膈不快食無味，二便失調飧血膿，保元升柴蒼橘柏，去柏加木亦同名。</p>
<p>【注】調中益氣湯亦治內傷。清氣下陷，濁氣上乘，清濁相干而兼濕熱者，故二便不調，飧瀉膿血也。此湯與補中益氣湯，雖互相發明，然其證衇則不可不分別也。內傷之病，脾胃元氣一虚，四臟失其調和，所以五臟之衇，交相混見，故肝弦、心洪、脾緩之衇反見於上。按之沉澀，肺衇而反見於下也。身肢重倦，氣不周也。骨節酸疼，血不榮也。</p>
<p>氣少，中氣乏也。心煩，心血少也。忽肥忽瘦者，火乘土位，上並陽分。則血衇上行而上盛，故面赤紅而肥；下並隂分，則血衇下行而上虚，故面青白而瘦，即今之虚損病患，早則面青白瘦而惡寒，午後則面紅赤肥而發熱者是也，口沫，謂口中沃沫，脾不散精也。食出，謂食入反出，胃虚不納也，耳鳴聾，謂耳鳴、耳聾，隂火上衝也。胸膈不快，濁氣滯也，飲食無味，胃氣傷也。二便不調，謂大便時瀉不瀉，小便時利不利，脾濕不分也。飧，謂完穀不化之飧瀉，脾虚濕不化也。血膿，謂大便後或見膿見血，脾濕熱釀成也。保元，謂保元湯，即人參、黃　、炙草，升麻、柴胡、蒼朮，橘皮、黃柏也。去黃柏加木香，亦名調中益氣湯，以熱少氣不和者宜之也。</p>
<p><u>升陽益胃湯</u></p>
<p>內傷升陽益胃湯，濕多熱少抑清陽，倦怠懶食身重痛，口苦舌乾便不常，洒洒惡寒属肺病，慘慘不樂乃陽傷，六君白芍連澤瀉，羌獨黃　柴與防。</p>
<p>【注】內傷氣虚，濕多熱少，遏抑春生清氣，不得上升，脾胃之證，宜服此湯。其證倦怠懶食，身重而痛，口苦舌乾。便不常，謂大便不調，小便頻數不如常也，洒洒惡寒，衛氣不足，属肺皮毛之病也，慘慘不樂，面色不和，乃陽氣傷而不伸也。六君，謂人參、白朮、茯苓、炙草、橘皮、半夏也。加白芍、黃連、澤瀉、黃　、羌活，獨活、柴胡、防風，即是升陽益胃也。</p>
<p><u>補脾胃瀉隂火升陽湯</u></p>
<p>補中升陽瀉隂火，火多濕少困脾陽，雖同升陽益胃證，然無瀉數肺陽傷。補脾胃氣參草，升陽柴胡升與羌，石膏芩連瀉隂火，長夏濕令故加蒼。</p>
<p>【注】內傷氣虚，熱多濕少，隂火困脾，陽氣不得上升，脾胃之證，宜服此方。此方所治，雖同升陽益胃之證，然無大便不調，小便頻數，洒洒惡寒肺病，慘慘不樂陽傷之證也。</p>
<p>內傷補中、調中。益胃等東加減法：冬加薑桂草蔻益，秋芍白蔻縮檳榔，夏月氣衝芩連柏，春加風藥鼓清陽，長夏沉困精神少，人參麥味澤苓蒼。肺熱咳嗽減參去。春加金沸款冬芳，夏加麥冬五味子，秋冬連根節麻黃，頭痛蔓荊甚芎入，巔腦　夲苦細嘗，沉重懶倦或嘔逆，痰厥頭疼半夏薑。口乾嗌干或表熱，加葛生津清胃陽，大便燥澀元明粉，血燥歸桃熟大黃。痞脹香砂連枳朴，寒減黃連加炒薑。胃痛草蔻寒益智，氣滯青皮白蔻香，腹痛芍草芩桂審，臍下痛桂熟地黃。內外煩疼歸和血，脅下痛急草柴良，身重腳軟己蒼柏，身疼發熱　防羌。</p>
<p>【注】冬加乾薑、官桂。草豆蔻、益智，助陽氣也，秋加白芍，白豆蔻、縮砂仁、檳榔，助燥收也。夏月加黃連、黃芩、黃柏，降隂火也。或腹中氣上衝逆，属隂火衝上，雖非夏月亦加之。春加風藥，謂羌活、獨活、防風，　夲之類，佐參　之品；能鼓清陽之氣上升也。長夏身肢沉困，精神短少，加人參、麥冬、五味子，恐暑傷氣也。加澤瀉、茯苓、蒼朮，去脾濕也。肺中有熱咳嗽，減人參、遠肺熱也，春加金沸草、款冬花，散肺風也。夏加麥冬、五味子，保肺氣也。冬加連根節麻黃，散肺寒也。頭痛加蔓荊子，引太陽也。痛甚加川芎，上行捷也。巔痛腦痛加　夲，入督衇也。苦頭痛加細辛，走少隂也。痰厥頭痛，沉重懶倦，或嘔逆痰涎，加半夏、生薑，治痰逆也。口乾嗌干，或表發熱，加葛根，生津解肌也。大便燥澀加元明粉，血虚燥加當歸，血實燥加桃仁，熱實燥加大黃，心下痞脹氣不快加木香，食不消加砂仁，心下結熱加黃連，心下結氣加枳實，胃氣壅塞加厚朴。</p>
<p>如胃中寒，或冬月，減去黃連，加炒乾薑，胃痛加草豆蔻，胃寒或唾沫加益智，氣滿不快加白豆蔻、青皮，腹痛加白芍、甘草。審其有熱加黃芩，有寒加官桂。臍下痛加肉桂、熟地黃。腹內身外刺痛，此属血澀不足，加當歸以活血也，脅下痛或急縮，加甘草，柴胡，以和肝也。身重腳軟，加防己、蒼朮、黃柏，去濕熱在內也。身痛發熱，加　夲、防風、羌活，疏風在表也。</p>
<p><u>清暑益氣湯　清燥湯</u></p>
<p>長夏濕暑交相病，暑多清暑益氣功，汗熱煩渴倦少氣，惡食尿澀便溏行，補中去柴加柏澤，麥味蒼曲甘葛青，濕多痿厥清燥地，豬茯柴連減葛青。</p>
<p>【注】長夏之令，暑濕炎蒸，交相為病。暑多濕少為病，其證則自汗身熱，心煩口渴，倦困少氣惡食，小便澀少，大便稀溏，宜清暑益氣湯，即補中益氣湯去柴胡，加黃柏、澤瀉、麥冬、五味子、蒼朮、神麯、甘葛，青皮也。若濕多暑少為病，則成痿厥之證。腰以下痿軟，難於轉動，行走不正，兩足欹側，宜清燥湯。即夲方更加生地、豬苓、茯苓、柴胡、黃連，減去甘葛、青皮也。</p>
<p><u>升陽散火湯　火鬱湯</u></p>
<p>血虚胃弱過食涼，陽郁於脾散火湯，肌膚筋骨肢困熱，捫之烙手熱非常，羌獨芍防升柴葛，人參二草棗生薑，火鬱加蔥減參獨，惡寒沉數發之方。</p>
<p>【注】二草，炙甘草、生甘草。惡寒，謂身雖有如是烙手之熱而反惡寒。衇來沉數，則可知火鬱肌裡，宜以此方發之。</p>
<p><u>白朮附子湯　加味理中湯</u></p>
<p>內傷水來侮土病，寒濕白朮附子湯，涎涕腹脹時多尿，足軟無力痛為殃，腰背胛眼脊背痛，丸冷隂隂痛不常，蒼附五苓陳半朴，虚宜理中附苓蒼。</p>
<p>【注】東垣內傷熱中之病，用補中益氣湯；寒中之病，用白朮附子湯。寒中為水來侮土，寒濕之病，其證內則腹脹多尿涎涕，外則足軟胛脊腰背睪丸痛。脾胃寒濕而氣不虚者，宜用是方，即五苓散加蒼朮、附子、陳皮、半夏、厚朴也。若脾胃寒濕而氣虚者，則宜用理中東加附子、茯苓、蒼朮是也。</p>
<p><u>人參資生丸</u></p>
<p>資生脾胃俱虚病，不寒不熱平補方，食少難消倒飽脹，面黃肌瘦倦難當。</p>
<p>【注】繆仲醇制資生丸方，為脾胃俱虚，不寒不熱平補之藥，其所治之證，乃飲食減少，過時不化，倒飽脹悶，面色痿黃，肌肉漸瘦，困倦無力也。方見諸書，故不錄藥味。</p>
<p><u>清胃理脾湯</u></p>
<p>清胃理脾治濕熱，傷食平胃酌三黃，大便黏穢小便赤，飲食愛冷口舌瘡。</p>
<p>【注】清胃理脾湯，即平胃散加黃連、黃芩、大黃也。酌三黃者，謂有熱滯而不實者，不可入大黃也。傷食，謂傷食病證，如痞脹、噦嘔、不食、吞酸。惡心、噫氣之類。更兼大便黏臭，小便赤澀，飲食愛冷，口舌生瘡，皆傷醇酒濃味，濕熱為病之證也。</p>
<p><u>理中湯</u></p>
<p>理中治虚寒濕傷，食少喜熱面青黃，腹痛腸鳴吐冷沫，大便腥穢似鴨溏。</p>
<p>【注】白朮附子湯，治脾胃寒濕形氣實者也。理中湯，治脾胃寒濕形氣虚者也，虚者，其證食少，喜食熱物，面色青黃，腹痛腸鳴，吐冷涎沫，大便腥穢不臭，似鴨糞澄澈清溏也，故宜此湯。</p>
<p><u>消食健脾丸</u></p>
<p>胃强脾弱脾胃病，能食不化用消食，平胃炒鹽胡椒共，麥柏楂曲白蒺藜。</p>
<p>【注】脾胃病中，有胃强脾弱一證，胃强所以能食，脾弱不能消化，宜服消食健脾湯丸，助其消化。用蒼朮、陳皮、厚朴、甘草、炒鹽、胡椒、山楂、神麯、麥芽、白蒺藜，末，蜜丸服之，更節其飲食，自然脾胃和而能健運矣。</p>
<p><u>開胃進食湯</u></p>
<p>開胃進食治不食，少食難化胃脾虚，丁木藿香蓮子朴，六君砂麥與神麯。</p>
<p>【注】此方治不思飲食，少食不能消化，脾胃兩虚之證。方即六君子湯，加丁香、木香、藿香、蓮子、厚朴、縮砂、麥芽、神麯也。</p>
<p><u>平胃散</u></p>
<p>一切傷食脾胃病，痞脹噦嘔不能食，吞酸惡心並噫氣，平胃蒼朴草陳皮，快膈枳朮痰苓半，傷穀二芽縮神麯，肉滯山楂面萊菔。</p>
<p>滯熱芩連柏大宜。</p>
<p>【注】傷食等證，宜用平胃散，即蒼朮、厚朴、甘草、陳皮也。快膈加枳實、白朮，有痰加半夏、茯苓。傷穀滯者，加麥芽、穀芽、縮砂、神麯，傷肉滯者，加山楂。傷面滯者，加萊菔。有熱者，加黃芩。黃連、黃柏、大黃，酌而用之。</p>
<p><u>葛花解酲湯</u></p>
<p>葛花解酲發酒汗，懶食熱倦嘔頭疼，參葛四苓白蔻縮，神麯乾薑陳木青。</p>
<p>【注】傷酒宜用葛花解酲湯汗之，汗出立愈。其證頭痛懶食，嘔吐身熱，倦怠而煩，似乎外感而實非外感，皆因酒所致也。方即人參、葛花、白朮、茯苓、豬苓、澤瀉、白蔻、縮砂、神麯、乾薑、陳皮，木香、青皮。</p>
<p><u>秘方化滯丸</u></p>
<p>秘方化滯寒熱滯，一切氣積痛攻方，巴豆醋製棱莪朮，青陳連半木丁香。</p>
<p>【注】秘方化滯丸，治不論寒熱一切氣滯積痛，攻下之妙藥也。即巴豆、三棱、莪朮、青皮、陳皮、黃連、半夏、木香、丁香也，此方出《丹溪心法附余》書中，屢試屢驗，按證隨引，量其老少虚實增損進退。以意用之，久久自得其效。</p>
<h3>虚勞總括</h3>
<p>虚損成勞因復感，陽虚外寒損肺經，隂虚內熱從腎損，飲食勞倦自脾成，肺損皮毛洒寒嗽，心損血少月經凝，脾損食少肌消瀉，肝損脅痛懶於行。腎損骨痿難久立，午熱夜汗骨蒸蒸，從下皮聚毛落死，從上骨痿不起終。恐懼不解則傷精，怵惕思虚則傷神，喜樂無極則傷魄，悲哀動中則傷魂，憂愁不已則傷意，盛怒不止則傷志，勞倦過度則傷氣，氣血骨肉筋精極。</p>
<p>【注】虚者，隂陽、氣血、榮衛、精神、骨髓、津液不足是也。損者，外而皮、衇、肉筋、骨，內而肺、心、脾、肝、腎消損是也。</p>
<p>成勞者，謂虚損日久，留連不愈，而成五勞、七傷，六極也。因復感者，謂不足之人，陽虚復感外寒，則損從皮毛肺始；隂虚更生內熱，則損從骨髓腎始；內傷飲食勞倦，則損從肌肉脾始，此虚損成勞之因。然其證有五：一損皮聚毛落，洒淅惡寒咳嗽，肺勞也；二損血衇虚少，男子面無血色，女子月經不通，心勞也；三損飲食減少，肌肉消瘦，大便溏瀉，脾勞也；四損兩脅引胸而痛，筋緩不能行，肝勞也，五損骨痿不能久立，午後發熱，盜汗骨蒸，腎勞也。從下腎臟損起者，損至皮聚毛落則死也。從上肺臟損起者，損至骨痿不能起於床則終也。從脾臟損起者，或至皮聚毛落，或至骨痿不起，皆死也。</p>
<p>虚損為七傷之證：一、恐懼不解則傷精，精傷則骨酸痿厥，精時自下，蓋五臟主藏精者，不可傷。傷則失守而隂虚，隂虚則無氣，無氣則死矣，一、怵惕思慮則傷神，神傷則恐懼自失，破　脫肉，毛悴色夭，死於冬也。一、喜樂無極則傷魄，魄傷則狂，狂則意不存人，皮革焦，毛悴色夭，死於夏也。一、悲哀動中則傷魂，魂傷則狂妄不精，不精則不正，隂縮而攣筋，兩脅骨不舉，毛悴色夭，死於秋也，一、憂愁不已則傷意，意傷則　亂，四肢不舉，毛悴色夭，死於春也，一、盛怒不止則傷志，志傷則喜忘其前言，腰脊不可以俯仰屈伸，毛悴色夭，死於季夏也。一、勞倦過度則傷氣，氣傷則火愈壯，壯火則食氣，故無氣以動，喘乏汗出，內外皆越，則氣日耗，氣日耗則死矣。</p>
<p>虚損為六極之證：一，數轉筋，十指爪甲痛，筋極也。一、牙齒動，手足痛，不能久立，骨極也，一、面無血色，頭發墜落，血極也。一、身上往往如鼠走，削瘦干黑，肉極也。一、氣少無力，身無膏澤，翕翕羸瘦，眼無精光，立不能定，身體苦癢，搔之生瘡，精極也。一、胸脅逆滿，恆欲大怒，氣少不能言，氣極也。</p>
<p>【按】前人分七傷之證。似多不經。依《內經》改之。庶後學易明也。</p>
<h3>虚勞死證</h3>
<p>隂勞細數形盡死，陽勞微革氣脫終，枯白顴紅一側臥，嗽啞咽痛咯星紅。五臟無胃為真臟，形肉雖存不久停，一息二至名曰損，一息一至行尸名。大骨枯槁大肉陷，動作益衰精髓空，真臟未見一歲死，若見真臟克期凶。喘滿動形六月死，一月內痛引肩胸，身熱破　肉盡脫，十日之內不能生。真臟衇見目眶陷，目不見人頃刻傾，若能見人神猶持，至所不勝日時終。</p>
<p>【注】隂虚之勞衇細數，則必形消著骨而後死者，隂主形也。陽虚之勞衇微革，則不待痿盡忽然而脫者，陽主氣也。五臟之衇無和緩象，為無胃之真臟衇，即形肉雖存，亦必不久於人世也。一息二至，損病之衇也。一息一至，行尸之衇也。大骨，顴、肩、股、腰之大骨也。大肉，頭項、四肢之大肉也。枯槁者，骨痿不能支也。陷下者，肉消陷成坑也。動作精神漸衰，真臟衇不見，期一歲死，若真臟衇見，遇所不勝之時日凶可期也。若真藏衇不見，有是證者，喘滿動形，六月而死；有是證者，五臟內損，痛引肩胸者，一月而死；有是證者，肉盡之處，皆枯燥破裂，謂之破　，身熱不已，十日內死。真臟衇見，目眶下陷，視不見人，頃刻而死。若能見人，則神尚未去，至所不勝之日時而死也。</p>
<h3>虚勞治法</h3>
<p>後天之治夲血氣，先天之治法隂陽，腎肝心肺治在後，脾損之法同內傷。</p>
<p>【注】後天脾胃水穀生化榮衛，故治法夲乎氣血。先天腎臟精氣生化之原，故治法夲乎隂陽。五臟虚損治法，俱在於後，而脾臟虚損治法已載內傷，故曰同內傷也。</p>
<p><u>拯隂理勞湯</u></p>
<p>隂虚火動用拯隂，皮寒骨蒸咳嗽侵，食少痰多煩少氣，生衇歸芍地版貞。薏苡橘丹連合草，汗多不寐加棗仁，燥痰桑貝濕苓半，阿膠咳血骨熱深。</p>
<p>【注】此方即人參、麥冬、五味、當歸、白芍、生地、龜版、女貞、薏苡、橘紅、丹皮、蓮子、百合、炙草也。汗多不寐，俱加棗仁。咳而嗽痰，加桑皮、貝母，嗽而濕痰，加茯苓、半夏。咳嗽、咯血，加阿膠。骨蒸熱深，加地骨皮也。</p>
<p><u>拯陽理勞湯</u></p>
<p>陽虚氣弱用拯陽，倦怠惡煩勞則張，表熱自汗身酸痛，減去升柴補中方，更添桂味寒加附，瀉入升柴訶蔻香，夏咳減桂加麥味，冬咳不減味乾薑。</p>
<p>【注】此湯即人參、黃　、炙草、白朮、陳皮、肉桂、當歸、五味子也。倦怠，懶於動也，惡煩勞動，則氣張而喘乏也。惡寒加附子，泄瀉仍入升麻、柴胡，更加訶子、肉蔻、木香也，夏月咳嗽，減肉桂加麥冬、五味子，冬月咳嗽，不減肉桂，更加五味子、乾薑也。</p>
<p><u>六味地黃湯　都氣湯　七味地黃湯　生衇地黃湯　桂附地黃湯　知柏地黃湯　金匱腎氣湯</u></p>
<p>腎虚午熱形消瘦，水泛為痰津液傷，咳嗽盜汗失精血，消渴淋濁口咽瘡，熟地藥萸丹苓澤，加味勞嗽都氣湯，引火歸元加肉桂，火妄刑金生衇良。桂附益火消隂翳，知柏壯水制陽光，車牛桂附名腎氣，陽虚水腫淋濁方。</p>
<p>【注】午熱，午後發熱也。水泛為痰，謂日食飲食所化津液，腎虚不能攝水，泛上為痰也。盜汗，謂睡而汗出，覺而即止之汗也。失精，遺精也。消渴，謂飲水而即消，渴仍不止也，淋者，尿淋漓不利也。濁者，尿之前後有濁液也。口咽生瘡，虚火炎也。均宜六味地黃湯治之。勞嗽加味，謂加五味子，名都氣湯也。引火歸原加肉桂，名七味地黃湯。</p>
<p>火妄刑金加生衇飲，名生衇地黃湯也。桂附，謂加肉桂，附子。知柏，謂加知母、黃柏。車牛桂附，謂加車前、牛膝、肉桂、附子，名桂附。知柏腎氣等湯也。</p>
<p><u>大補隂丸　滋隂降火湯</u></p>
<p>大補隂丸制壯火，滋隂降火救傷金，龜版知柏地髓劑，二冬歸芍草砂仁，咳加百味汗地骨，血痰金貝虚　參，虚熱無汗宜散火，有汗骨蒸亦補隂。</p>
<p>【注】隂虚火旺，無水以制，宜用大補隂丸滋水制火。方即龜版、知母、黃柏。生地為末，豬脊髓煉蜜為丸。若火旺無制，妄行傷金，肺痿咳嗽，宜用滋隂降水湯救其傷金。</p>
<p>方即大補隂丸加麥冬，天冬、當歸、白芍、炙草、縮砂，咳甚加百合、五味子，盜汗加地骨皮，咯血加鬱金，痰多加川貝母，氣虚加人參、黃　。凡虚熱如火烙手，無汗者為火鬱，宜升陽散火湯，有汗者為骨蒸，亦宜大補隂丸及滋隂六黃等湯也。</p>
<p><u>保元湯</u></p>
<p>一切氣虚保元湯，　外參內草中央，加桂能生命門氣，痘瘡灰陷與清漿。</p>
<p>【注】保元湯，即人參、黃　、炙草也。黃　補表氣，人參補裡氣，炙草補中氣，加肉桂能生命門真氣，且能治小兒痘瘡灰白、頂陷、清漿。</p>
<p><u>四君子湯　五味異功湯　六君子湯　七味白朮散　四獸飲</u></p>
<p>脾胃氣虚四君子，衇軟形衰面白黃，倦怠懶言食少氣，參苓朮草棗薑强。氣滯加陳異功散，有痰橘半六君湯，肌熱瀉渴藿木葛，虚瘧六君果梅薑。</p>
<p>【注】治氣虚兼氣滯不快，依四君加陳皮，名五味異功散。治氣虚兼有痰飲，依四君加橘紅、半夏，名六君子湯。治氣虚肌熱渴瀉，依夲方加藿香、木香、葛根，名七味白朮散。</p>
<p>治氣虚久瘧留連不愈，依六君子湯，加草果、烏梅、生薑，名四獸飲。</p>
<p><u>芎歸湯　開骨散</u></p>
<p>一切血病芎歸湯，產後胎前必用方，氣虚難產參倍入，交骨難開龜發良。</p>
<p>【注】芎歸湯，即川芎、當歸，又名佛手散。氣虚產難或時久傷氣。依夲方倍加人參。臨產交骨難開，依夲方加整龜版一具，夲人梳下亂髮一團，他人梳下之發亦可，名開骨散。</p>
<p><u>四物湯　聖愈湯　六物湯　加味四物湯　地骨皮飲</u></p>
<p>調肝養血宜四物，歸芎芍地酌相應，氣虚血少參　補，氣燥血熱知柏清。寒熱柴丹炒梔子，但熱無寒丹骨平，熱甚芩連寒桂附，止血茅蒲破桃紅。</p>
<p>【注】調肝養血宜四物湯，即當歸、川芎、白芍、熟地黃。酌相應，謂補血用白芍，熟地，破血用赤芍，涼血用生地。氣虚血少，宜加參、　，名聖愈湯。氣燥血熱，宜加知、柏名六物湯。血虚寒熱往來，宜加味四物湯，即夲方加柴胡、丹皮、炒梔子也。血虚惟發熱不惡寒，宜地骨皮飲，即夲方加地骨皮，牡丹皮也。血分熱甚，依夲方加黃芩、黃連。寒甚加肉桂、附子，破血加桃仁、紅花，止血加茅根、蒲黃炒黑。</p>
<p><u>八珍湯　十全大補湯　人參養榮湯</u></p>
<p>一切氣血兩虚證，八珍四物與四君，氣乏色枯毛髮落，自汗盜汗悸忘臻，發熱咳嗽吐衄血，食少肌瘦泄瀉頻，十全大補加　桂，榮去芎加遠味陳。</p>
<p>【注】氣虚，四君子湯。血虚，四物湯。氣血兩虚，八珍湯。八珍者，即四君、四物也。若有氣乏色枯，毛髮脫落，自汗盜汗，心悸健忘，發熱咳嗽，吐血、衄血，食少肌瘦，泄瀉等證，則宜十全大補湯，即八珍東加黃　、肉桂也，人參養榮湯，即十全大補湯減去川芎，更加遠志、五味子、陳皮也。</p>
<p><u>小建中湯　黃　建中湯　當歸建中湯　雙和飲</u></p>
<p>虚勞腹痛小建中，悸衄之血夢失精，手足煩熱肢酸痛，芍草飴桂棗薑同，衛虚加　黃　建，榮虚當歸建中名，温養氣血雙和飲，三方減飴加地芎。</p>
<p>【注】諸虚勞極，裡急腹痛，宜以小建中湯温和脾胃。並治裡虚心悸，衄下亡血，夜夢失精，手足煩熱，四肢酸痛，血液虧損等證。是方白芍藥、甘草、飴糖、中桂、大棗、生薑也，若衛氣虚者，加黃　，名曰黃　建中湯。若裡不急、腹不痛有是證者，則當以温養氣血，用雙和飲，即此三方減去飴糖，加入熟地、川芎，乃八珍湯減人參、白朮、茯苓，加黃　、中桂，蓋以補隂血為主也。</p>
<p><u>補肝湯</u></p>
<p>補肝湯治肝虚損，筋緩不能自收持，目暗KT　KT　無所見，四物酸棗草瓜宜。</p>
<p>【注】補肝湯，即當歸、川芎、白芍，熟地、酸棗仁、炙草、木瓜也。</p>
<p><u>加味救肺飲</u></p>
<p>加味救肺治肺損，嗽血金家被火刑，歸芍麥味參　草，百花紫菀馬兜鈴。</p>
<p>【注】加味救肺飲，即當歸、白芍、麥冬、五味子、人參、黃　、炙草、百合、款冬花、紫菀、馬兜鈴也。</p>
<p><u>天王補心丹</u></p>
<p>天王補心心虚損，健忘神虚煩不眠，柏子味苓歸地桔，三參天麥遠朱酸。</p>
<p>【注】是方，即柏子仁、五味子，茯苓、當歸、生地、桔梗、丹參、人參、元參、天冬、麥冬、遠志、朱砂、酸棗仁。</p>
<p><u>歸脾湯</u></p>
<p>歸脾思虚傷心脾，熱煩盜汗悸驚俱，健忘怔忡時恍惚，四君酸遠木歸　。</p>
<p>【注】悸，心自跳動也，驚，目觸物駭也。健忘，言事易忘也。怔忡，心沖動甚也。恍惚，心時不明也。方乃四君子，加酸棗仁、遠志、木香、當歸、黃　。</p>
<p><u>人參固夲湯丸　保元生衇固夲湯</u></p>
<p>固夲肺腎兩虚病，肺痿咳血欲成勞，二冬二地人參共，保元生衇脾同調。</p>
<p>【注】人參固夲湯、丸，即人參、天冬、麥冬、生地、熟地也。依夲方再加保元之黃、炙草，生衇之五味，三方合一，名保元生衇固夲湯。同調，謂同調脾、肺、腎三經虚也。</p>
<p><u>逍遙散</u></p>
<p>逍遙理脾而清肝，血虚骨蒸煩嗽痰，寒熱頬赤脅不快，婦人經病衇虚弦，朮苓歸芍柴薄草，加味梔丹肝熱添，肝氣滯郁陳撫附，熱加吳萸炒黃連。</p>
<p>【注】是方，即白朮、茯苓、當歸、白芍、柴胡、薄荷、甘草也。肝氣熱，依夲方加炒梔子、丹皮，名加味逍遙散。肝氣滯加陳皮，肝氣鬱加撫芎、香附，肝氣鬱熱，加吳茱萸、炒川黃連。惟薄荷只可少許為引，不宜多用。</p>
<h3>癆瘵總括</h3>
<p>癆瘵隂虚蟲干血，積熱骨蒸咳嗽痰，肌膚甲錯目黯黑，始健不瀉下為先。</p>
<p>【注】久病癆疾而名曰瘵。瘵者，敗也，氣血兩敗之意也。有隂虚干血者，有隂虚積熱者，當以諸補隂藥治之。肌膚甲錯，謂皮膚干澀也，目黯黑者，謂目黑無光也。始健，謂初病尚壯；不瀉，謂久病不瀉也，二者皆可以攻下為先治也。</p>
<h3>癆瘵治法</h3>
<p>癆瘵至瀉則必死，不瀉能食尚可痊，初取利後宜詳審，次服柴胡清骨煎，虚用黃鱉甲散，熱衰大補養榮參，皮熱柴胡胡連入，骨蒸青蒿鱉甲添，隂虚補隂諸丸劑，陽虚補陽等湯圓，咳嗽自同咳嗽治，嗽血成方太平丸。</p>
<p>【注】癆瘵之人，病至大便泄瀉，則必死矣。若不瀉能食，尚堪任藥攻治，故可痊也。</p>
<p>初取利後，審其熱之微甚，人之强弱。若熱甚人强，宜用柴胡清骨散；熱不甚人弱，宜用黃　鱉甲散；熱微人弱，宜用十全大補、人參養榮等湯。若皮外發熱，加柴胡、胡連。骨內蒸熱，加青蒿、鱉甲。午後隂虚發熱，宜用補隂諸丸湯藥。陽虚惡寒清瘦，宜用補陽諸丸湯藥。咳嗽不已，同咳門方參而治之。嗽血者，宜用成方太平丸可也。</p>
<p><u>大黃　蟲丸　大黃青蒿煎　傳尸將軍丸</u></p>
<p>干血大黃　蟲治，積熱蒿黃膽便煎，癸亥腰眼灸七壯，後服傳尸將軍丸。</p>
<p>【注】大黃　蟲丸有成方。大黃青蒿煎，即青蒿、大黃、豬膽汁、童便煎。癆瘵日久，有生惡蟲，身死之後，多遭傳染，甚而滅門，名曰傳尸癆，宜癸亥日灸兩腰眼各七壯，後服傳尸將軍丸。此方載《丹溪心法》書中。</p>
<p><u>柴胡清骨散</u></p>
<p>清骨骨蒸久不痊，熱甚秦知草胡連，鱉甲青蒿柴地骨，韭白髓膽童便煎。</p>
<p>【注】此方乃秦艽、知母、炙草、胡連、鱉甲、青蒿、柴胡、地骨皮、韭白、豬脊髓、豬膽汁、童便也。</p>
<p><u>黃　鱉甲散</u></p>
<p>黃　鱉甲虚勞熱，骨蒸晡熱渴而煩，肌肉消瘦食減少，盜汗咳嗽出血痰，生地赤芍柴秦草，知　菀骨半苓煎，人參桂桔俱減半，鱉甲天冬桑倍添。</p>
<p>【注】此方即生地、赤芍、柴胡、秦艽、炙草、知母、黃　、紫菀、地骨皮、半夏、茯苓、人參，桂枝、桔梗、鱉甲、天冬，桑白皮也。</p>
<h3>自汗盜汗總括</h3>
<p>自汗表陽虚惡冷，陽實蒸熱汗津津，盜汗隂虚分心腎，心虚不固火傷隂。</p>
<p>【注】無因汗出，謂之自汗。自汗謂表陽虚，汗出則惡寒冷，宜用後方。若蒸蒸發熱，汗出不惡寒，則為裡陽實，宜以調胃承氣湯下之。睡則汗出，覺則汗止，謂之盜汗。盜汗為隂虚，當分心虚不固，心火傷隂也。</p>
<p><u>黃　六一湯　玉屏風散　黃　建中湯</u></p>
<p>自汗表虚黃　草，玉屏風散術　防，氣虚加參陽虚附，血虚黃　建中湯。</p>
<p>【注】黃　六一湯，即黃　六錢，甘草一錢也。玉屏風散，即黃　、白朮、防風也，二方皆治表虚自汗，若氣虚加人參，陽虚加附子可也。若不惡寒不氣少，則為血虚，不可用參、附，宜黃　建中湯，即小建中東加黃　也。方在傷寒門。</p>
<p><u>當歸六黃湯　酸棗仁湯</u></p>
<p>盜汗心火下傷隂，歸　二地柏連芩，心虚酸棗芍歸地，知柏苓　五味參。</p>
<p>【注】當歸六黃湯，治心火傷隂盜汗，即當歸、黃　、黃芩、黃連、黃柏、生熟地黃也。酸棗仁湯，治心虚不固盜汗，即酸棗仁、當歸、白芍、生地、知母、黃柏、茯苓、黃、五味子、人參也。</p>
<h3>失血總括</h3>
<p>九竅出血名大衄，鼻出鼻衄腦如泉，耳目出血耳目衄，膚出肌衄齒牙宣，內衄嗽涎脾唾腎，咯心咳肺嘔属肝，精竅尿血膀胱淋，便血大腸吐胃間。</p>
<p>【注】九竅一齊出血，名曰大衄。鼻出血，曰鼻衄。鼻出血如泉，曰腦衄。耳出血，曰耳衄。目出血，曰目衄。皮膚出血，曰肌衄。齒牙出血，曰齒衄，又名牙宣。此皆衄血隨所患處而命名也。若從口出則為內衄，內衄出血，涎嗽出於脾，唾出於腎，咯出於心，咳出於肺，嘔出於肝，吐出於胃，尿血從精竅而出，淋血從膀胱而出。嘔吐之分，嘔則有上逆漉漉之聲，吐則無聲也。</p>
<h3>失血死證</h3>
<p>失血身涼衇小順，大疾身熱臥難凶，口鼻涌出而不止，大下潰腐命多傾。</p>
<p>【注】大疾，衇大疾也。臥難，不能臥也。大衄、大下，血出如涌泉不止，內潰腐尸之氣，則命傾也。</p>
<h3>失血治法</h3>
<p>陽乘隂熱血妄行，血犯氣分不歸經，血病及腑滲入濁，由來臟病溢出清。熱傷失血宜清熱，勞傷理損自然平，努即內傷初破逐，久與勞傷治法同。</p>
<p>【注】凡失血之證，陽盛乘隂，則血為熱迫，血不能安於衇中而妄行氣分，不能回歸經衇也。若血病傷及於腑者，則血滲入腸胃濁道，上從咽出，下從二便而出也。血病傷及於臟者，則血溢出胸中清道，上從喉出，下從精竅而出也。夫血藏於臟內，行於衇中，軀殼之中不可得而見也。非有損傷，不能為病。而損傷之道有三：一曰熱傷，宜以清熱為主；一曰勞傷，宜以理損為主；一曰努傷，初宜以破逐為主，久亦宜以理損為主也。</p>
<p><u>犀角地黃湯</u></p>
<p>熱傷一切失血病，犀角地黃芍牡丹，胸膈滿痛加桃大，熱甚吐衄入芩連，因怒嘔血柴梔炒，唾血元參知柏煎，咯加二冬嗽二母，涎壅促嗽鬱金丸。</p>
<p>【注】熱傷一切失血之病，皆宜犀角地黃湯。若胸膈滿痛，是為瘀血，加桃仁、大黃。</p>
<p>若吐血熱盛，加黃芩、黃連。因怒致吐血及嘔血者，加柴胡、炒梔，唾血加元參、黃柏、知母，咯血加天冬、麥冬，嗽血加知母、貝母。涎壅氣促，陣陣急嗽帶出血者，宜鬱金丸，方在後。</p>
<p><u>加味救肺飲加鬱金湯</u></p>
<p>勞傷吐血救肺飲，嗽血加調鬱金湯。形衰無熱氣血弱，人參養榮加麥良。</p>
<p>【注】救肺飲，即虚勞門之加味救肺飲加調鬱金末也。若氣血虚弱不見火象，宜用人參養榮東加麥門冬也。</p>
<p><u>芎歸飲</u></p>
<p>飽食用力或持重，努破衇絡血歸芎，嘔血漉漉聲上逆，跌撲墮打有瘀行。</p>
<p>【注】飽食用力，或因持重努傷衇絡，失血涌吐，宜用芎歸飲，引血歸經，及嘔血跌撲墮打，傷其衇絡，令人大吐者，亦皆宜之。其有瘀血者，或加大黃以下之，或加桃仁、紅花以破之，或加鬱金、黃酒以行之。</p>
<p><u>參地煎</u></p>
<p>參地衄吐血不已，熱隨血減氣隨亡，氣虚人參為君主，血熱為君生地黃。</p>
<p>【注】參地煎，即人參。生地黃也。凡因熱傷衄、吐血不已者，則熱已隨血減，然氣亦隨血亡也。氣虚甚者，當倍人參為君。血熱者，宜倍生地為君。時時煎服自止也。</p>
<p><u>瀉肺丸</u></p>
<p>嗽血壅逆虚蘇子，積熱痰黃瀉肺丸，蔞仁半貝金葶杏，三黃惟大有除添。</p>
<p>【注】嗽血痰壅氣逆，形氣虚者，蘇子降氣湯降之，方見諸氣門。痰黃積熱，形氣實者，用瀉肺丸下之，即栝蔞仁、半夏、浙貝母、鬱金、苦葶藶子、杏仁、黃連、黃芩、大黃也。惟大黃形氣實者加之，若形氣虚者，或大便溏瀉，則減去不用。</p>
<p><u>保肺湯</u></p>
<p>保肺肺癰吐膿血，白芨薏苡貝金陳，苦梗苦葶甘草節，初加防風潰　參。</p>
<p>【注】保肺湯，即白芨、薏苡仁。貝母、金銀花、陳皮、苦桔梗、苦葶藶、甘草節也。</p>
<p>初起加防風、潰後加生黃　，人參。</p>
<p><u>牛膝四物湯</u></p>
<p>尿血同出痛淋血，尿血分出尿血名，尿血精竅牛四物，淋血八正地金通。</p>
<p>【注】淋血、尿血二證，若尿與血同出而痛，名曰淋血。尿與血分出，名曰尿血。尿血為精竅之病，用四物倍加牛膝。淋血為尿竅之病，用八正散，加木通生地、鬱金治之。</p>
<p><u>珀珠散</u></p>
<p>尿血諸藥而不效，塊血竅滯莖急疼，珀珠六一朱砂共，引煎一兩整木通。</p>
<p>【注】尿血一證，乃精竅為病，每次因忍精不泄，提氣采戰，或因老年竭欲而成。服諸藥不效者，所尿之血成塊，竅滯不利，莖中急疼欲死者，用珀珠散，日三服，每服三錢，引用整木通去粗皮黃色者，煎湯調服。其方即琥珀末一錢，珍珠末五分，朱砂末五分，飛滑石六錢，甘草末一錢，合均，分三服。若其人大便結燥不通，以八正散加牛膝、鬱金下之。有熱尿澀，以導赤散加牛膝、鬱金清之。利後仍服此藥，自有奇功。</p>
<p><u>槐花散</u></p>
<p>便血內熱傷隂絡，風合腸風濕臟瘍，槐花側枳連炒穗，風加秦防濕楝蒼。</p>
<p>【注】便血二證，腸風、臟毒。其夲皆熱傷隂絡，熱與風合為腸風，下血多清；熱與濕合為臟毒，下血多濁，均宜槐花散，即炒槐花、炒側柏葉。醋炒枳殼、川黃連、炒荊芥穗，為末，烏梅湯調服。腸風，加秦艽、防風。臟毒，加炒苦楝、炒蒼朮。若大腫大痛，大便不通，當以臟毒未潰之瘍治之，非臟毒下血之病也。</p>
<p><u>升陽去濕和血湯</u></p>
<p>便血日久涼不應，升補升　蒼桂秦，歸芍丹陳二地草，熱加萸連虚人參。</p>
<p>【注】便血日久，服涼藥不應，宜升補，用升陽去濕和血湯。即升麻。黃　、蒼朮、肉桂、秦艽、當歸、白芍、丹皮，陳皮、生地、熟地、生甘草、炙甘草也。有熱，稍加吳茱萸、炒川連。虚加人參可也。</p>
<h3>消渴總括</h3>
<p>試觀年老多夜尿，休信三消盡熱干，飲多尿少渾赤熱，飲少尿多清白寒。</p>
<p>【注】上消属肺，飲水多而小便如常；中消属胃，飲水多而小便短赤；下消属腎，飲水多而小便混濁，三消皆燥熱病也。然試觀年老好飲茶者，夜必多尿，則休信三消皆熱，而亦有寒者矣。飲水多，小便少而渾赤者属熱，是火盛耗水而渾也。飲水少，小便多而清白者属寒，是火虚不能耗水也。</p>
<h3>消渴生死</h3>
<p>三消便硬若能食，衇大實强尚可醫，不食舌白傳腫瀉，熱多舌紫發癰疽。</p>
<p>【注】三消，飲水多不能食，若能食大便硬，衇大强實者，為胃實熱，下之尚可醫也。</p>
<p>若不能食，濕多舌白滑者，病久則傳變水腫泄瀉。熱多舌紫干者，病久則發癰疽而死也。</p>
<h3>消渴治法</h3>
<p><u>竹葉黃　湯</u></p>
<p>便硬能食衇大强，調胃金花斟酌當，不食渴瀉白朮散，竹葉黃　不瀉方，黃　黃芩合四物，竹葉石膏減粳薑，氣虚胃熱參白虎，飲一溲二腎氣湯。</p>
<p>【注】調胃，謂調胃承氣湯。金花，謂梔子金花湯。方俱在傷寒門，酌其所當用可也。</p>
<p>不食而渴，已属胃虚，兼之泄瀉，胃虚無熱矣。故用七味白朮散，方在虚損門。若不食而渴，亦不瀉者，是雖虚而猶有燥熱也，宜用竹葉黃　湯，即黃　、黃芩、當歸、川芎、白芍、生地、竹葉，石膏、人參、炙草、麥冬、半夏也。若氣虚胃熱盛者，宜用人參白虎湯。若下焦虚寒，飲一溲二者，宜用腎氣湯。</p>
<h2>卷三</h2>
<h3>神之名義</h3>
<p>形之精粹處名心，中含良性夲天真，天真一氣精神祖，體是精兮用是神。</p>
<p>【注】動植之物，一有其形，則形之至精、至粹之處，即名曰心。動物之心者，形若垂蓮，中含天之所賦、虚靈不昧之靈性也。植物之心者，即中心之芽，中含天之所賦、生生不已之生意也。此形若無此心，則形無主宰，而良性、生意亦無著落矣。此心若無良性、生意，則心無所施用，不過是一團死肉，一枯草木之芽耳。蓋人雖動物之貴，而其中含良性與一切動物皆同，夲乎天真也。天真之氣，分而言之為精、氣、神。故曰：以精為體，以神為用也。合而言之，渾然一氣，故曰：天真一氣，精神之祖也。</p>
<h3>神之變化</h3>
<p>神從精氣妙合有，隨神往來魂陽靈，並精出入隂靈魄，意是心機動未形，意之所專謂之志，志之動變乃思名，以思謀遠是為慮，用慮處物智因生。</p>
<p>【注】魂，陽之靈，隨神往來。魄，隂之靈，並精出入。蓋神機不離乎精氣，亦不雜乎精氣，故曰：妙合而有也。故指神而言，則神超乎精氣之外，指精氣而言，則神寓乎精氣之中。意者，心神之機，動而未形之謂也。志者，意所專注也。思者，志之變動也。慮者，以思謀遠之謂也。智者，以慮處物之謂也。此皆識神變化之用也。</p>
<h3>五臟神情</h3>
<p>心藏神兮脾意智，肺魄肝魂腎志精，氣和志達生喜笑，氣暴志憤恚怒生，憂思系心不解散，悲哭哀苦淒然情，內生懼恐求人伴，外觸駭然響動驚。</p>
<p>【注】五臟所藏七神：心藏神，脾藏意與智，肺藏魄，肝藏魂，腎藏精與志也。五臟所生七情：心生喜，肝生怒，脾生憂，思，肺生悲，腎生恐也。氣和則志達，故生喜笑。氣暴則志憤，故生恚怒。系心不解散，故生憂思。淒心則哀苦，故生悲哭。內恐外觸非常事物，故生恐懼驚駭也。</p>
<h3>神病治法</h3>
<p><u>朱砂安神丸</u></p>
<p>內生不恐心跳悸，悸更驚惕是怔忡，善忘前言曰健忘，如昏似慧恍惚名，失志傷神心膽弱，痰飲九氣火相乘，清熱朱連歸地草，余病他門治法精。</p>
<p>【注】驚悸、怔忡、健忘、恍惚、失志、傷神等病，皆因心虚膽弱，諸邪得以乘之也。</p>
<p>心氣熱者，先用朱砂安神丸以清之。其余虚實諸邪，則當與虚損、九氣、癲癇、痰飲等門合證揀方，自有效法之處。</p>
<p><u>仁熟散</u></p>
<p>恐畏不能獨自臥，膽虚氣怯用仁熟，柏仁地枸味萸桂，參神菊殼酒調服。</p>
<p>【注】恐畏不能獨自臥者，皆因氣怯膽虚也。仁熟散，即柏子仁、熟地黃、枸杞子、五味子、山茱萸、桂心、人參、茯神、菊花、枳殼，為末，老酒調服也。</p>
<h3>癲癇總括</h3>
<p>經言癲狂夲一病，狂乃陽邪癲是隂。癲疾始發意不樂，甚則神痴語不倫。狂怒凶狂多不臥，目直罵詈不識親。癇發吐涎昏噤倒，抽搐省後若平人。</p>
<p>【注】李時珍曰：經有言癲狂疾者，又言癲疾為狂者，是癲狂為兼病也。邪入於陽者狂，邪入於隂者癲。蓋癲疾始發，志意不樂，甚則精神呆痴，言語不倫，而睡如平時，以邪並於隂也。狂疾始發多怒不臥，甚則凶狂欲殺，目直罵詈，不識親疏，而夜多不臥，以邪並於陽也。然俱不似癇疾發則吐涎神昏卒倒無知，口噤牙緊，抽搐時之多少不等，而省後起居飲食皆若平人為別也。癇雖分而為五，曰雞、馬、牛、羊、豬名者，以病狀偶類故也。其實痰、火、氣、驚、四者而已，所以為治同乎癲狂也。</p>
<p><u>三聖散　青州白丸子　滾痰丸　遂心丹　礬郁丸　控涎丹　抱膽丸　鎮心丹</u></p>
<p>癲狂癇疾三聖吐，風痰白丸熱滾痰，痰實遂心氣礬郁，痰驚須用控涎丹，無痰抱膽鎮心治，發灸百會自然安，初發皂角灌鼻內，涎多欲止點湯鹽。</p>
<p>【注】癲狂癇疾初起多痰者，先以三聖散吐之。風盛有痰者，用青州白丸子，熱盛有痰者，用礞石滾痰丸。痰而形氣實者用遂心散，甘遂，朱砂、豬心也。痰而兼氣鬱者用礬郁丸，白礬、鬱金也。痰而兼驚者用控涎丹。無痰神輕因而驚悸者用鎮心丹、抱膽丸。</p>
<p>皆成方也。癇病發時灸百會，不抱壯數，以蘇為止。再發再灸，以愈為度。初發用皂角汁灌鼻內，其風涎即從鼻口中涕唾而出，若蘇後其涎不止，以鹽湯服之自止。</p>
<h3>諸氣總括</h3>
<p><u>寒氣　炅氣　喜氣　怒氣　勞氣　思氣　悲氣　恐氣　驚氣</u></p>
<p>一氣觸為九寒炅，喜怒勞思悲恐驚。寒收外束腠理閉，炅泄內蒸腠理通，喜則氣緩虚極散，勞耗思結氣難行，怒氣逆上甚嘔血，下乘脾虚飧瀉成，恐則氣下傷精志，驚心無倚亂怔忡，悲消榮衛不散布，壯行弱著病叢生。</p>
<p>【注】一氣流行不為邪觸，何病之有？若為寒觸，外束皮膚，腠理閉、其氣收矣，即寒病也。炅火也。若為火觸，熱蒸汗出，腠理開，其氣泄矣，即暑病也。若為喜觸，喜則氣和志達，其氣緩矣。素中虚極者，緩則氣散，即暴脫也。若為勞觸，勞則喘息，且汗出，其氣耗矣，即勞倦也。若為思觸，心有所存，氣留不行，其氣結矣，即郁氣也。若為怒觸，怒則氣逆甚嘔血，其氣上矣。上極而下乘脾之虚，則為飧泄也。若為恐觸，恐則精却傷精志，其氣下矣。若為驚觸，心無所依，神無所歸，慮無所定，其氣亂矣。怔忡心動，不安之病也。若為悲觸，心肺氣戚，榮衛不散，其氣消矣。凡此九氣叢生之病，壯者得之氣行而愈，弱者得之氣著為病也。</p>
<h3>諸氣辨證</h3>
<p>短氣氣短不能續，少氣氣少不足言，氣痛走注內外痛，氣鬱失志怫情間，上氣氣逆蘇子降，下氣氣陷補中宣，臭甚傷食腸胃郁，減食消導自然安。</p>
<p>【注】短氣者，氣短而不能續息也；少氣者，氣少而不能稱形也，皆為不足之證。氣痛者，氣為邪阻，氣道不通，或在經絡，或在臟腑，攻衝走注疼痛也。上氣乃濁氣上逆，下氣為清氣下陷。氣鬱者，或得於名利失志，或得於公私怫情，二者之間也。濁氣上逆，蘇子降氣湯。清氣下陷，補中益氣湯，甚者加訶子、五味子。然清氣下陷，下氣不甚臭穢，惟傷食下氣，其臭甚穢，乃腸胃郁結，穀氣內發，而不宣通於腸胃之外。郁在胃者，上噫氣也；郁在腸者，下矢氣也。補中益氣湯，方見內傷門。</p>
<h3>諸氣治法</h3>
<p>寒熱熱寒結者散，上抑下舉驚者平，喜以恐勝悲以喜，勞温短少補皆同。</p>
<p>【注】寒者熱之，麻黃、理中是也。熱者寒之，白虎、生衇是也。結者散之，越鞠解鬱是也。上者抑之，蘇子降氣是也。下者舉之，補中益氣是也。驚者平之，鎮心、妙香是也。喜以恐勝，悲以喜勝，以情治情是也。勞者温之，短氣，少氣者補之，保元、四君是也。</p>
<p><u>木香流氣飲</u></p>
<p>木香流氣調諸氣，快利三焦榮衛行，達表通裡開胸膈，腫脹喘嗽氣為疼，六君丁皮沉木桂，白芷香附果蘇青，大黃枳朴檳蓬朮，麥冬大腹木瓜通。</p>
<p>【注】木香流氣飲，調治一切諸氣為病。其功能快利三焦，通行榮衛，外達表氣，內通裡氣，中開胸膈之氣，其水腫脹滿，氣壅喘嗽，氣痛走注，內外疼痛，並皆治之。即人參、白朮、茯苓、炙草、橘皮、半夏、丁皮、沉香、木香、中桂、白芷、香附、草果、蘇葉、青皮、大黃、枳殼、厚朴、檳榔、蓬朮、麥冬、大腹皮、木瓜、木通也。</p>
<p><u>分心氣飲</u></p>
<p>分心氣飲治七情，氣滯胸腹不流行，正減芷朴通木附，麥桂青桑檳殼蓬。</p>
<p>【注】分心氣飲，治七情氣滯，胸腹之病。正者，謂藿香正氣散也。正減者，謂即藿香正氣散方減白芷、厚朴，加木通、木香、香附、麥冬、官桂、青皮、桑皮、檳榔、枳殼、蓬朮也。</p>
<p><u>蘇子降氣湯　越鞠湯</u></p>
<p>蘇子降氣氣上攻，下虚上盛氣痰壅，喘咳涎嗽胸膈滿，氣秘氣逆嘔鮮紅，橘半肉桂南蘇子，前朴沉歸甘草同。郁食氣血痰濕熱，越鞠蒼梔曲附芎。</p>
<p>【注】蘇子降氣湯，治下虚上盛，氣壅上攻，喘咳涎嗽，胸膈滿悶，氣秘便難，氣逆嘔血，即橘皮、半夏、肉桂、南蘇子、前胡、厚朴、沉香、當歸、甘草也。越鞠湯治六郁，食鬱、氣鬱、血鬱、痰鬱、濕鬱、熱鬱，即蒼朮、山梔、神麯、香附，撫芎也。夫氣鬱之病若久，必與血、痰、濕、熱、飲、食相合，故治郁之方，可治氣鬱也。其氣實者加木香，氣虚者加人參，血實者加紅花，血虚者加當歸，痰多者加半夏，濕多者加白朮，熱多者加萸、連，飲多者加茯苓，食多者加麥　，在臨證者消息耳。</p>
<p><u>四七湯</u></p>
<p>四七七氣鬱生痰，梅核吐咯結喉間，調和諸氣平和劑，半苓厚朴紫蘇煎，快氣橘草香附入，婦人氣病效如仙，惡阻更加芎歸芍，氣痰濁帶送白丸。</p>
<p>【注】四七湯，治七情過節，七氣病生，郁結生痰，如絮如膜，凝結喉間，咯之不盡，咽之不下，名曰梅核氣。日久不愈，變生噎膈，上吐涎沫，下秘二便也。宜用此平和之劑，即半夏、茯苓、厚朴、紫蘇葉也，胸腹中氣不快，加橘皮、甘草、香附，亦治婦人一切氣病。婦人有孕喜吐者，名曰惡阻，更加川芎、當歸、白芍。婦人肥白。多痰氣鬱，有白濁帶下者，亦以夲方送青州白丸子可也。</p>
<p><u>鎮心丹　妙香散</u></p>
<p>驚實鎮心朱齒血，驚虚妙香木麝香，山藥茯神參　草，朱砂桔梗遠苓菖。</p>
<p>【注】心氣實病驚者，宜用鎮心丹，即朱砂、龍齒末等分，豬心血為芡實大丸，每服三丸，麥冬湯下。心氣虚病驚者，宜用妙香散加菖蒲，即木香、麝香、山藥、茯神、人參、黃　、炙草、朱砂、桔梗、遠志、茯苓、石菖蒲也。</p>
<h3>遺精總括</h3>
<p>不夢而遺心腎弱，夢而後遺火之强，過欲精滑清氣陷，久曠溢瀉味醇傷。</p>
<p>【注】不夢而遺，謂無所感於心而自遺，則為心腎虚弱不固也。夢而後遺，謂有所感於心，相火煽而强迫之，則為二火之强不固也。或過欲之人，日慣精滑，或清氣不足，下陷不固，或久曠之人，精盛溢瀉，或醇酒濃味，火强不固，皆為是病也。</p>
<p><u>龍骨遠志丸　坎離既濟湯　封髓丹</u></p>
<p>心腎虚弱朱遠志，龍骨神苓菖蒲參，久曠火旺地知柏，胃虚柏草縮砂仁。</p>
<p>【注】龍骨遠志丸，治心腎虚弱，不夢而遺者，即龍骨、朱砂、遠志、茯神、茯苓、石菖蒲、人參也，坎離既濟湯，治夢而後遺，火强久曠者，即生地、黃柏、知母也。若胃虚食少便軟，則不宜生地、知柏，恐苦寒傷胃，故宜封髓丹，即黃柏、甘草、縮砂仁也。</p>
<p><u>補精丸</u></p>
<p>精出不止陽不痿，强中過補過淫成，久出血痛形羸死，或發消渴或發癰，陽盛坎離加龍骨，實熱解毒大黃攻，調補骨脂韭山藥，磁石蓯蓉參鹿茸。</p>
<p>【注】精出不止，陽强不倒，名曰强中。</p>
<p>此病皆因過服房術中補藥，或貪淫過欲而成也。若不急治，日久精盡，陽强不化，迫血而出，疼痛不已，形羸而死。或不即死，亦必發消渴、大癰也。陽盛隂虚者，宜大劑坎離既濟湯，加生龍骨清而補之。形實熱盛者，宜黃連解毒湯，加大黃先攻其熱可也。病後熱去，調理宜補精丸，即補骨脂、韭子，山藥、磁石、肉蓯蓉、人參、鹿茸也。</p>
<h3>濁帶總括</h3>
<p>濁病精竅尿自清，穢物如膿隂內疼，赤熱精竭不及化，白寒濕熱敗精成。</p>
<p>【注】赤多属熱，亦有濁帶日久，精竭陽虚，不及化白而属寒者，白多属寒，亦有敗精濕熱釀成腐化，變白而属熱者。是則不可概以寒熱論赤白也。</p>
<p><u>清心蓮子飲　萆　釐清飲　珍珠粉丸</u></p>
<p>濁熱清心蓮子飲，寒萆菖烏益草苓，濕熱珍珠炒薑柏，滑黛神麯椿蛤同。</p>
<p>【注】赤濁帶下属熱者，宜用清心蓮子飲，方在淋門。白濁帶下属寒者，宜用萆　釐清飲，即萆　、菖蒲、烏藥、益智、甘草、茯苓也。赤白濁帶下属濕熱者，宜用珍珠粉丸，即炒黑薑、炒黃柏、滑石，青黛、炒神麯、炒椿皮、蛤粉也。</p>
<p><u>黑錫丹</u></p>
<p>黑錫上盛下虚冷，精竭陽虚火上攻，上壅頭痛痰氣逆，下漏濁帶白淫精，骨脂茴香葫蘆巴，肉蔻桂附木金櫻，沉香陽起巴戟肉，硫鉛法結要研明。</p>
<p>【注】赤白濁帶下属虚寒者，及虚陽上攻，頭痛喘嗽，痰壅氣逆，俱宜黑錫丹。即補骨脂、小茴香、葫蘆巴、肉蔻、附子、肉桂、木香、金櫻子、沉香、陽起石、巴戟，硫黃、黑鉛也。</p>
<h3>痰飲總括</h3>
<p>隂盛為飲陽盛痰，稠濁是熱沫清寒，燥少黏連咯不易，濕多易出風掉眩，膈滿嘔吐為伏飲，支飲喘咳腫臥難，飲流四肢身痛溢，嗽引脅痛謂之懸，痰飲素盛今暴瘦，漉漉聲水走腸間，飲留肺胸喘短渴，在心下悸背心寒。</p>
<p>【注】飲則清稀，故為隂盛。痰則稠濁，故為陽盛。稠濁，是熱痰属心也。沫清，是寒痰属腎也。少而黏連咯不易出，是燥痰属肺也。多而易出，是濕痰属脾也。搐搦眩暈，是風痰属肝也。膈上痰滿，嘔吐痰涎，此飲留於膈間，名曰伏飲也。喘咳面腫不得臥，此飲留於肺，名曰支飲也。飲流四肢，身體重痛，此飲留行於體，名曰溢飲也。咳嗽引脅疼痛，此飲留於脅下，名曰懸飲也，素盛今瘦，漉漉有聲，水走腸間，此飲留於腸胃，名曰痰飲也。凡飲留於胸肺，則喘滿短氣而渴。</p>
<p>飲留於膈下，則心下悸或背心寒冷也。</p>
<p><u>二陳湯　燥痰湯</u></p>
<p>諸痰橘半茯苓草，惟有燥者不相當，風加南星白附子，熱加芩連寒桂薑，氣合四七郁香附，虚入參朮濕入蒼；燥芩旋海天冬橘，風消枳桔貝蔞霜。</p>
<p>【注】諸痰謂一切痰，皆宜二陳湯治之。即橘紅、半夏、茯苓、甘草也。因有苓、半、性過滲燥，故與燥痰不相當也。依夲方風痰加南星、白附子，熱痰加黃芩、黃連，寒痰加乾薑、肉桂，氣痰加厚朴、蘇葉即是合四七湯也，因郁生痰加香附，氣虚有痰加人參、白朮即六君子湯也，濕痰加蒼朮。燥痰宜用燥痰湯，即枯黃芩、旋覆花、海石，天冬、橘紅、風化芒硝、枳殼、桔梗、貝母、栝蔞霜也。</p>
<p><u>茯苓指迷丸</u></p>
<p>茯苓風消枳殼半，痰飲平劑指迷丸，寒實瓜蒂透羅治，熱實大陷小胃丹。</p>
<p>【注】指迷丸，治一切痰飲平和之劑，即茯苓、風化芒硝、枳殼、半夏也。痰飲寒實者，用瓜蒂散吐之，或用透羅丹下之。熱實者，在膈上用大陷胸湯，丸，在三焦用小胃丹攻之。</p>
<p><u>半夏茯苓東加丁香湯　越婢加朮湯</u></p>
<p>流飲控涎苓桂治，伏飲神佑半苓丁，支飲葶藶懸十棗，溢飲越術小青龍。</p>
<p>【注】留飲者，謂一切飲留於上下、內外也。實者用控涎丹攻之，虚者用苓桂朮甘湯温之。伏飲實者用神佑丸，虚者用半夏三錢、茯苓二錢、丁香一錢、生薑三錢，煎服治之，即半夏茯苓東加丁香也。支飲用葶藶大棗湯，懸飲用十棗湯治之。溢飲有熱者用越婢加朮湯，即麻黃、石膏、甘草、生薑、大棗，加蒼朮也。有寒者用小青龍湯治之。</p>
<h3>咳嗽總括</h3>
<p>有聲曰咳有痰嗽，聲痰俱有咳嗽名，雖云臟腑皆咳嗽，要在聚胃關肺中，胃濁脾濕嗽痰夲，肺失清肅咳因生，風寒火鬱燥痰飲，積熱虚寒久勞成。</p>
<p>【注】有聲無痰曰咳，有痰無聲曰嗽，有聲有痰曰咳嗽。《內經》雖云：五臟六腑皆令人咳。而大要皆在聚於胃、關於肺也。因胃濁，則所游溢之精氣，與脾濕所歸肺之津液皆不能清，水精之濁，難於四布，此生痰之夲，為嗽之原也，肺居胸中，主氣清肅。或為風寒外感，或為痰熱內干清肅，有失降下之令，因氣上逆而咳嗽也。久勞成，謂久病咳嗽不已，傷肺成勞也。</p>
<p><u>參蘇飲　芎蘇飲　香蘇飲　茯苓補心湯</u></p>
<p>參蘇感冒邪傷肺，熱寒咳嗽嚏痰涎，氣虚用參實減去，二陳枳桔葛蘇前，頭痛加芎喘加杏，芩因熱入麻干寒，虚勞胎產有是證，補心四物量抽添。</p>
<p>【注】參蘇飲，治感冒風寒傷肺，咳嗽、嚏唾痰涎、發熱、惡寒也，即人參、蘇葉、橘紅、半夏、茯苓、甘草、枳殼、桔梗、前胡、葛根也。形氣虚者，必用人參，若形氣實，減去可也。若頭痛，依夲方去人參，以前胡易柴胡加川芎，名芎蘇飲。若喘嗽，依夲方去人參加杏仁，名杏蘇飲。若內有熱，加黃芩，有寒加麻黃、乾薑。若虚勞之人，及胎前產後而有是病，依夲方合四物湯，名茯苓補心湯，量其虚實、寒熱加減可也。</p>
<p><u>瀉心散　葶藶瀉白散</u></p>
<p>瀉白肺火鬱氣分，喘咳面腫熱無痰，桑骨甘草寒麻杏，血分加芩熱甚連，咳急嘔逆青橘半，郁甚失音訶桔添，停飲喘嗽不得臥，加苦葶藶效通仙。</p>
<p>【注】瀉白散，即桑皮、地骨皮、甘草也。治喘嗽面腫，無痰身熱，是為肺經火鬱氣分。</p>
<p>若無汗，是為外寒鬱遏肺火，加麻黃、杏仁以發之。若無外證惟面赤，是為肺經火鬱血分，加黃芩。內熱甚者，更加黃連以清之。咳急嘔逆者，加青皮、橘紅、半夏以降之。火鬱甚而失音者，加訶子肉，桔梗以開之。若喘嗽面浮不得臥者，是為兼有停飲，加苦葶藶以瀉之，名葶藶瀉白散。</p>
<p><u>清肺湯</u></p>
<p>清肺肺燥熱咳嗽，二冬母草橘芩桑，痰加蔞半喘加杏，快氣枳桔斂味良。</p>
<p>【注】清肺湯，即麥冬、天冬、知母、貝母、甘草、橘紅、黃芩、桑皮也。有痰燥而難出，加栝蔞子。痰多加半夏，喘加杏仁，胸膈氣不快加枳殼、桔梗，久則宜斂，加五味子。</p>
<p><u>清燥救肺湯</u></p>
<p>喻氏清燥救肺湯，肺氣虚燥郁咳方，參草麥膏生氣液，杏枇降逆效功長，胡麻桑葉阿潤燥，血枯須加生地黃，熱甚牛黃羚犀角，痰多貝母與蔞霜。</p>
<p>【注】喻氏，喻嘉言也。枇，枇杷葉也。羚犀，羚羊角，犀角也。蔞霜，栝蔞霜也。</p>
<p><u>透羅丹　瀉肺丸</u></p>
<p>寒實痰清透羅丹，咳時涎壅氣出難，巴杏大牽皂半餅，熱實痰稠瀉肺丸。</p>
<p>【注】寒實痰盛涎清，熱實痰盛稠黏，皆能令人咳嗽。嗽時痰涎頓壅，氣閉難出。寒實者用透羅丹，即巴豆、杏仁、大黃、牽牛、皂角、半夏共為末，蒸餅為小丸，量服，方出《丹溪心法附余》。熱實者，宜瀉肺丸，方見失血門。</p>
<p><u>人參瀉肺湯</u></p>
<p>積熱傷肺宜瀉肺，喘嗽痰多黏色黃，胸膈滿熱大便澀，涼膈枳桔杏參桑。</p>
<p>【注】人參瀉肺湯，即涼膈散，梔子、連翹、薄荷、黃芩、大黃、甘草、枳殼、桔梗、杏仁、人參、桑皮也。</p>
<p><u>鐘乳補肺湯</u></p>
<p>補肺虚寒喘嗽血，皮毛焦枯有多年，生衇菀款桑皮桂，鐘英糯米棗薑煎。</p>
<p>【注】補肺湯，即人參、麥冬、五味子、款冬花、紫菀、桑皮、桂枝、鐘乳石、白石英、糯米、大棗、生薑也。</p>
<p><u>人參養肺湯</u></p>
<p>養肺平劑肺氣虚，勞久喘嗽血腥宜，參草杏阿知母棗，烏梅罌粟骨桑皮。</p>
<p>【注】人參養肺湯，為治肺氣虚損久勞，不寒不熱之平劑也。其方即人參、炙草、杏仁、阿膠、知母、大棗、烏梅、罌粟殼、地骨皮、桑皮也。</p>
<p><u>清寧膏　太平丸</u></p>
<p>咳嗽痰血清寧治，甘桔麥地橘龍圓，薏米川貝薄荷末，血過於痰太平丸。</p>
<p>【注】咳嗽痰少血多，用太平丸。方，諸書俱有。</p>
<p><u>瓊玉膏　杏酥膏</u></p>
<p>瓊玉膏治肺虚勞，肺痿干嗽咳涎滔，生地膏蜜參苓末，不虚燥蜜杏酥膏。</p>
<p>【注】瓊玉膏治虚燥，先以生地煎膏，後入煉白蜜、人參、茯苓末，攪成膏。杏酥膏治不虚而燥，以杏仁霜、奶酥油、煉白蜜，溶化合膏。</p>
<h3>喘吼總括</h3>
<p>喘則呼吸氣急促，哮則喉中有響聲，實熱氣粗胸滿硬，虚寒氣乏飲痰清。</p>
<p>【注】呼吸氣出急促者，謂之喘急。若更喉中有聲響者，謂之哮吼。氣粗胸滿不能布息而喘者，實邪也，而更痰稠便硬者，熱邪也。氣乏息微不能續息而喘者，虚邪也，若更痰飲清冷，寒邪也。</p>
<h3>喘急死證</h3>
<p>喘汗潤發為肺絕，衇澀肢寒命不昌，喘咳吐血不得臥，形衰衇大氣多亡。</p>
<p>【注】氣多，謂出氣多、入氣少也。</p>
<p><u>華蓋湯　千金定喘湯　葶藶大棗湯</u></p>
<p>外寒喘吼華蓋湯，麻杏蘇草橘苓桑，減苓加芩款半果，飲喘難臥棗葶方。</p>
<p>【注】外寒傷肺喘急，用華蓋散。即麻黃、杏仁、蘇子、甘草、橘紅、赤茯苓，桑皮也。</p>
<p>依夲方減茯苓，加黃芩、款冬花、半夏、白果，名千金定喘湯，治哮吼表寒之喘。葶藶大棗湯，治停飲不得臥之喘也。</p>
<p><u>蘿皂丸　蘇子降氣湯</u></p>
<p>火鬱喘急瀉白散，痰盛作喘蘿皂丸，蔞仁海石星蘿皂，氣喘蘇子降氣痊。</p>
<p>【注】面赤浮腫，謂之火鬱之喘，宜瀉白散。痰盛聲急，謂之痰喘，宜蘿皂丸。無痰聲急，謂之氣喘，宜蘇子降氣湯。方在諸氣門。</p>
<p><u>五味子湯　黑錫丹　腎氣湯　人參理肺湯</u></p>
<p>氣虚味麥參陳杏，虚寒黑錫腎氣湯，日久斂喘參桔味，麻杏罌粟歸木香。</p>
<p>【注】五味子湯，即五味子、麥冬、人參、陳皮、杏仁也。人參理肺湯，即人參、桔梗、五味子、麻黃、杏仁、罌粟殼、當歸、木香也。黑錫丹，方在濁帶門。腎氣湯，方在虚勞門。</p>
<h3>腫脹總括</h3>
<p>衛氣並衇循分肉，內傷外感正邪攻，外邪客衇為衇脹，邪留分肉膚脹生。</p>
<p>【注】經曰：衛氣之在身也，常然並衇循分肉行，隂陽相隨，何病之有？若其人內傷七情，外感六氣，飲食失節，勞役過度，則邪正相攻，榮衛失和。衛氣與風寒之邪客於衇中，則為衇脹。衛氣與風寒之邪留於分肉，則為膚脹也。</p>
<h3>諸衇脹單腹脹膚脹鼓脹</h3>
<p>衇脹筋起絡色變，久成單腹末脫清，膚脹　初不硬，纏綿氣鼓脹膨膨。</p>
<p>【注】衇脹之證，腹筋起，絡色變，久而不已，則成單腹脹，四末脫瘦清冷也。膚脹之證，　然初不堅硬，纏綿不愈，則成氣鼓脹滿，膨膨急硬也。</p>
<h3>腸覃石瘕</h3>
<p>外邪干衛客腸外，腸覃月事以時行，外邪干營客胞內，石瘕經閉狀妊盈。</p>
<p>【注】風寒之邪，不客於衇中分肉，而干衛氣、深入客於腸外，僻而內著，日以益大，狀如懷子，月事仍以時行，名曰腸覃。或干營氣，深入客於胞中，惡血留止，日以益大，狀如懷子，月事不以時下，名曰石瘕。此皆生於女子，在男子則為疝病也。</p>
<h3>水脹石水風水</h3>
<p>皮濃色蒼多是氣，皮薄色澤水濕成，氣速安臥從上下，水漸難眠咳喘征，石水少腹腫不喘，風水面腫脛足同，石水隂邪寒水結，風水陽邪熱濕凝。</p>
<p>【注】凡腫脹之病，皮濃色蒼者，皆属氣也。皮薄色澤者，皆属水也，氣，陽也，陽性急，故為脹速，每從上腫而漸下，得以安臥，邪在外也。水，隂也，隂性遲，故為脹漸，每從下腫而漸上，更有咳喘不得臥之征也。石水之證，少腹腫滿，水在下，故不喘也。上腫曰風，下腫曰水。故風水之證，面與脛足同腫也。然石水属隂邪，故曰寒結也。</p>
<p>風水属陽邪，故曰熱濕凝也。</p>
<h3>脹滿水腫死證</h3>
<p>腹脹身熱及失血，四末清脫瀉數行，腫起四肢後入腹，利旋滿腫腹筋青，脣黑臍突隂囊腐，缺盆脊背足心平，衇大時絕或虚澀，腫脹逢之却可驚。</p>
<p>【注】腹脹身熱，陽盛脹也，若吐衄瀉血，則隂亡矣。四肢瘦冷，隂盛脹也，若數瀉不止，則中脫矣。先腫脹腹，後散四肢者可治。先腫四肢，後歸入腹者不治，腫脹之病多實，服利下之藥，旋消旋起，則為正不勝邪，亦不治，腹筋青漲高起，脹腫蒼黑，臍腫突出，隂囊腫腐，缺盆脊背腫平，足心腫平，則五臟傷，皆不治也。衇大而時絕，或虚澀細，則氣血敗，皆死衇也。</p>
<p><u>木香流氣飲</u></p>
<p>膚脹衇脹通身脹，單腹鼓脹四肢平，膚脹木香流氣飲，衇脹加薑黃撫芎。</p>
<p>【注】膚脹，皮膚脹也；衇脹，經衇脹也。此二脹皆通身脹也。單腹脹、四肢不脹，鼓脹、其脹如鼓，此二脹，皆腹脹四肢不脹也。膚脹宜用木香流氣飲，衇脹亦用此湯，更加薑黃、撫芎也。方在諸氣門。</p>
<p><u>厚朴散　下瘀血湯</u></p>
<p>單腹鼓脹分氣血，氣實腸覃厚朴榔，木枳青陳遂大戟，血實石瘕下瘀湯。</p>
<p>【注】單腹脹。鼓脹，當分氣血而治。腸覃亦氣病也，故同氣實脹者一治之，皆用厚朴散，即厚朴、檳榔、木香、枳殼、青皮、陳皮、甘遂、大戟。石瘕亦血病也，故同血實脹者一治之，宜用下瘀血湯，即大黃、桃仁、　蟲、甘遂也。</p>
<p><u>寒脹中滿分消湯　熱脹中滿分消湯</u></p>
<p>氣虚脹病分寒熱，中滿分消有二方，寒脹參　歸苓朴，半夏吳萸連二薑，升柴烏麻青柏澤，畢澄草蔻益木香，熱縮六君知豬澤，枳朴芩連乾薑黃。</p>
<p>【注】脹有虚、實、寒、熱，若脹而形氣虚少寒者，宜用寒脹中滿分消湯，即人參、黃、當歸、茯苓、厚朴、半夏、吳萸、黃連、乾薑、生薑、升麻、柴胡、川烏、麻黃、青皮、黃柏、澤瀉、畢澄茄、草豆蔻、益智、木香也，脹而形氣虚少熱者，宜用熱脹中滿分消湯。即縮砂、人參、白朮、茯苓、炙草、廣皮、半夏、知母、豬苓、澤瀉、枳殼、厚朴、黃芩、黃連、乾薑、薑黃也。</p>
<h3>水腫治法</h3>
<p>上腫多風宜乎汗，下腫多濕利水泉，汗宜越婢加蒼朮，利用貼臍琥珀丹，外散內利疏鑿飲，喘不得臥蘇葶先，陽水熱浚濕神　，隂水實脾腎氣丸。</p>
<p>【注】從上腫者，多外感風邪，故宜乎汗。從下腫者，多內生濕邪，故宜乎利水。外散風水，宜用越婢東加蒼朮，即麻黃、石膏、甘草、蒼朮也。內利水濕，宜用貼臍等法。一以巴豆去油四錢，水銀粉二錢，硫黃一錢，研勻成餅。先用新綿一片布臍上，內餅，外用帛縛，時許自然瀉下惡水。待下三五次，去藥以粥補往。日久形羸，隔一日取一次，一餅可救三五人。一以鮮赤商陸根，杵爛貼臍上，以帛縛定，水自小便出。一以田螺四個，大蒜五個，車前子末三錢，研成餅，貼臍中，以帕縛之，少時尿利即愈。或內服沉香琥珀丸，即苦葶藶子、真郁李仁、防己、沉香、陳皮、琥珀、杏仁、蘇子、赤茯苓、澤瀉、麝香也。若通身腫，則當外散內利，宜用疏鑿飲子兩解之。若水盛上攻，喘急不得臥，則當先用蘇子葶藶丸以定喘，即此二味，等分為末，棗肉丸。陽水属熱實者，熱盛宜用大聖浚川散；濕盛宜用舟車神　丸以下之。二方在《醫宗必讀》。隂水属寒虚者，脾虚不食便軟，宜用實脾飲；腎虚脛足冷硬，宜用腎氣丸。</p>
<p><u>疏鑿飲子　茯苓導水湯</u></p>
<p>水腫兩解疏鑿飲，和劑茯苓導水湯，疏鑿椒目赤小豆；檳榔商陸木通羌，秦艽大腹苓皮澤，茯苓導水澤苓桑，木香木瓜砂陳術，蘇葉大腹麥檳榔。</p>
<p>【注】水腫，外散內利兩解，峻者疏鑿飲，即椒目、赤小豆、檳榔、商陸、木通、羌活。</p>
<p>秦艽、大腹皮、茯苓皮、澤瀉也。外散內利兩解和者，茯苓導水湯，即澤瀉、茯苓、桑皮、木香、木瓜、砂仁、陳皮、白朮、蘇葉、大腹皮、麥冬、檳榔也。</p>
<p><u>實脾飲</u></p>
<p>裡實自然尋浚　，裡虚實脾四君香，木瓜附子大腹子，厚朴草果炒乾薑，投諸温補俱無驗，欲諸攻下又難當，須行九補一攻法，緩求淡食命多昌。</p>
<p>【注】裡實二便澀者，宜用浚川散、神　丸。裡虚二便通者，宜用實脾飲，即人參、白朮、茯苓、炙草、木香、木瓜、川附子、大腹子、厚朴、草果、炒乾薑也。腫脹之病属虚寒者，自宜投諸温補之藥，而用之俱無效驗者，虚中必有實邪也。欲投諸攻下之藥，而又難堪，然不攻之終無法也，須行九補一攻之法。是用補養之藥九日，俟其有可攻之機，而一日用瀉下之藥攻之。然攻藥亦須初起少少與之，不勝病、漸加之，必審其藥與元氣相當，逐邪而不傷正，始為法也。其後或補七日、攻一日，補五日、攻一日，補三日、攻一日，緩緩求之，以愈為度。若能戒鹽醬，淡食百日，多有生者。</p>
<h2>卷四</h2>
<h3>瘧疾總括</h3>
<p>夏傷於暑舍營內，秋感寒風並衛居，比時或為外邪束，暑汗無出病瘧疾。</p>
<p>【注】經曰：　瘧皆生於風。謂四時病瘧，未有不因風寒外束，暑邪內伏者也。又曰：瘧者，風寒之氣不常也。此言比時病瘧者也。又曰：夏傷於暑，秋為　瘧。又曰：夏暑汗不出者，秋成風瘧。謂夏傷於暑，其邪甚者即病暑，其邪微者則舍於營，復感秋氣寒風，與衛並居，則暑與風寒合邪，始成瘧病也。其不即病傷寒者，亦以有暑邪預伏於營中也。蓋有風無暑，惟病風，有暑無風，惟病暑，必風暑合邪，始病瘧也。</p>
<h3>日作間作</h3>
<p>瘧隨經絡循伏膂，深入脊內注伏沖，橫連膜原薄臟腑，會衛之時正邪爭，得隂內搏生寒栗，得陽外出熱蒸蒸，邪淺日作日會衛，邪深間作衛遲逢。</p>
<p>【注】瘧氣之邪，伏藏於營，隨其經絡，循脊膂之表而下。此初病邪淺，傳舍之次也。</p>
<p>其邪深者，則入脊膂之內，伏注於衝衇，橫連諸經脂膜之原內及臟腑。此邪漸深，傳舍之次也。衛氣者，一日、一夜周於身。每至明旦，則出足太陽睛明，大會於風府，腠理乃開，開則所客營衛之邪入，邪入得隂內搏則生寒，得陽外出則生熱，內外相搏，邪正交爭，而病乃作也。病初邪淺者，衛行未失常度，其邪日與衛會，故日作也。病久邪深者，衛行遲失常度，其邪不能日與衛會，故間日乃作也。時有間二日、間三日，或至數日作者，亦衛氣行愈遲，會愈遲，故作愈遲也。</p>
<h3>瘧晝夜作</h3>
<p>衛不循經行衇外，陽會晝發隂夜發，邪退自然歸陽分，病進每必入隂家。</p>
<p>【注】營氣循經而行衇中。衛氣不循經而行衇外，惟日行於三陽，夜行於三隂。故邪在三陽之淺者，則晝發。邪在三隂之深者，則夜發。病邪將退者，夜發退為晝發，此為去隂就陽，則病欲已也，病邪漸進者，晝發進為夜發，此為去陽入隂，則病益甚也。</p>
<h3>瘧早晏作</h3>
<p>衛氣平旦會風府，邪傳日下一節間，從頭循下故益晏，下極復上早之緣。</p>
<p>【注】衛氣流行，每日平旦會於風府，而邪氣中人，從頭項歴風府，下循背腰，日下傳脊之一節，邪與衛會日晚，故作日益晏也。邪傳下極　沖，其氣復上行，邪與衛會日早，故作日益早也。</p>
<h3>瘧疾治法</h3>
<p>瘧初氣實汗吐下，表裡俱清用解方，清解不愈方可截，久瘧形虚補自當。</p>
<p>【注】瘧初氣實，均宜汗、吐、下。有表裡證汗下之，胸滿嘔逆有飲者吐之。表裡俱清，宜用和解。清解不愈，表裡無證，可用截藥止之。久瘧形羸氣虚，宜用補劑，自當然也。</p>
<p><u>桂麻各半湯</u></p>
<p>瘧初寒熱兩平者，桂麻各半汗方療，汗少寒多麻倍入，汗多倍桂熱加膏。</p>
<p>【注】瘧病初起，寒熱不多不少兩平者，宜桂麻各半湯汗之，汗少寒多熱少者，倍麻黃湯汗之。汗多寒少熱平者，倍桂枝湯汗之，熱多者，更加石膏。</p>
<p><u>麻黃羌活湯　桂枝羌活湯　麻黃羌活加半夏湯　白虎湯　白虎桂枝湯　柴胡白虎湯　柴胡桂枝湯</u></p>
<p>寒多寒瘧而無汗，麻黃羌活草防尋。熱多有汗為風瘧，減麻添桂嘔半均。先熱後寒名温瘧，白虎汗多合桂君。癉瘧但熱柴白虎，牝瘧惟寒柴桂親。</p>
<p>【注】此皆諸瘧初起之汗法也，先傷於寒，後傷於風，先寒後熱，寒多熱少無汗，謂之寒瘧，宜用麻黃羌活湯，即麻黃、羌活、防風、甘草也。先傷於寒，後傷於風，先寒後熱，熱多寒少有汗，謂之風瘧，宜用桂枝羌活湯，即桂枝、羌活、防風、甘草也。二證嘔者，均加半夏。先傷於風，後傷於寒，先熱後寒，謂之温瘧，宜用白虎湯，汗多合桂枝湯。陽氣盛、陽獨發，則但熱而不寒，謂之癉瘧，宜用柴胡白虎湯，即小柴胡合白虎湯也。隂氣盛、隂獨發，則但寒而不熱，謂之牝瘧，宜用柴胡桂枝湯，即小柴胡合桂枝湯也。</p>
<p><u>草果柴平湯　大柴胡湯</u></p>
<p>食瘧痞悶噫惡食，草果小柴平胃宜，瘧裡便硬大柴下，消檳果朴量加之。</p>
<p>【注】因食而病瘧者，則痞悶、噫氣、惡食，宜小柴胡合平胃散加草果清之。凡瘧有裡不清、便硬者，宜大柴胡東加芒硝、厚朴、草果、檳榔下之。</p>
<p><u>清脾飲</u></p>
<p>瘧疾已經汗吐下，清解未盡寒熱方，清脾白朮青朴果，小柴參去入苓薑，氣虚加參痰橘半，飲多宜逐倍薑榔，渴熱知膏天花粉，食滯麥曲濕澤蒼。</p>
<p>【注】瘧疾已經或汗或吐或下，表裡無證，法當清解，宜用清脾飲和之。即白朮。青皮、厚朴、草果、柴胡、黃芩、半夏、甘草、茯苓、生薑也。氣虚者加人參，痰多者加橘紅倍半夏，飲多者倍生薑加檳榔，渴熱者加知母、石膏、天花粉，食滯者加麥芽、神麯，濕盛者加澤瀉、蒼朮。</p>
<h3>久瘧虚瘧勞瘧</h3>
<p>久瘧氣虚脾胃弱，四獸益氣等湯斟，勞瘧鱉甲十全補，熱除　桂入柴芩。</p>
<p>【注】久患瘧疾，形氣俱虚，脾胃弱不思食，宜用四獸飲、補中益氣等湯，斟酌治之。</p>
<p>久病勞損，氣血兩虚，而病瘧疾者，名曰勞瘧。宜用十全大補湯，倍加鱉甲，熱盛者除去黃　、肉桂，加柴胡、黃芩也。</p>
<p><u>柴胡截瘧飲　密佗僧散</u></p>
<p>諸瘧發過三五次，表裡皆清截法先，未清截早發不已，已清不截正衰難，截虚柴胡截瘧飲，小柴梅桃檳常山，截實不二佗僧散，燒酒冷調服面南。</p>
<p>【注】凡瘧按法治之，發過三五次，表裡無證，當先以截瘧藥截之。若表裡未清截早，則瘧疾必復發之不已。表裡已清不截，則正衰邪盛而難治也。截不足人之瘧，宜用小柴胡東加常山、檳榔、烏梅、桃仁、薑、棗煎，並滓露一宿，次日發前一二時小温服，惡心以糖拌烏梅肉壓之。截有餘人之瘧，宜用不二飲全方，或密佗僧細末，大人七分，小兒量之，冷燒酒調，面南如前法服之。一服不愈，再服必止，戒雞、魚、豆腐、面食、羹湯、熱粥、熱物。</p>
<h3>瘧瘧母</h3>
<p>瘧經年久不愈，瘧母成塊結癖　，形實控涎或化滯，攻後余法與前同。</p>
<p>【注】　瘧，經年不愈之老瘧也。瘧母，久瘧腹中成塊癖也。形實宜用控涎丹以攻痰飲，或用化滯丸以攻積滯。攻後之余法，與前所治瘧法同也。</p>
<p><u>桂枝麻黃柴胡四物去杏仁加桃仁湯</u></p>
<p>瘧在夜發三隂瘧，桂麻柴物杏易桃，鬼瘧尸注多惡夢，恐怖蘇合效功高。</p>
<p>【注】瘧在夜發，名曰三隂瘧疾。初熱宜用桂枝湯、麻黃湯、小柴胡湯、四物湯方合劑，以杏仁易桃仁，增損汗之，汗解之後，余同前法。鬼瘧亦多在夜發，由尸氣注之，比三隂瘧疾、則夜多惡夢，時生恐怖，宜用蘇合香丸治之。</p>
<h3>霍亂總括</h3>
<p>揮霍變亂生倉卒，心腹大痛吐利兼，吐瀉不出干霍亂，舌卷筋縮入腹難。</p>
<p>【注】欲吐不吐，欲瀉不瀉，心腹大痛，名曰干霍亂，又名攪腸痧。若舌卷筋縮，則卵隂入腹，難治也。</p>
<p><u>藿香正氣散　二香湯　甘露飲</u></p>
<p>霍亂風寒暑食水，雜邪為病正氣方，藿蘇陳半茯苓草，芷桔腹皮厚朴當，轉筋木瓜吳萸入，暑合香薷濕入蒼，暑熱六一甘露飲，寒極烏附理中湯。</p>
<p>【注】霍亂之病，得之於風寒暑食水邪雜揉為病，亂於腸胃，清濁相干，故心腹大痛吐瀉也。藿香正氣散，即藿香、蘇葉、陳皮、半夏、茯苓、甘草、白芷、桔梗、大腹皮、厚朴也；暑則吐多，合香薷飲名二香湯。濕則瀉多，加蒼朮。暑熱甚者，用辰砂六一散，或五苓散加石膏、滑石、寒水石，名甘露飲。寒極肢厥衇伏者，用炮川烏、炮川附合理中湯。</p>
<h3>噎膈翻胃總括</h3>
<p>三陽熱結傷津液，干枯賁幽魄不通，賁門不納為噎膈，幽門不放翻胃成。二證留連傳導隘，魄門應自澀於行，胸痛便硬如羊糞，吐沫嘔血命難生。</p>
<p>【注】三陽熱結，謂胃、小腸、大腸三腑熱結不散，灼傷津液也。胃之上口賁門，小腸之上口為幽門，大腸之下口為魄門。三腑津液既傷，三門自然干枯，而水穀出入之道不得流通矣，賁門干枯，則納入水穀之道路狹隘，故食不能下，為噎塞也。幽門干枯，則放出腐化之道路狹隘，故食入反出為翻胃也。二證留連日久，則大腸傳導之路狹隘，故魄門自應燥澀難行也。胸痛如刺，胃脘傷也。便如羊糞，津液枯也。吐沫嘔血，血液不行，皆死證也。</p>
<p><u>人參利膈丸　汞硫散</u></p>
<p>五汁大黃清燥熱，丁沉君子理虚寒，便秘壅遏應利膈，吐逆不止汞硫先，利膈小承參草木，歸藿檳桃麻蜜丸，汞一硫二研如墨，老酒薑汁服即安。</p>
<p>【注】五汁，謂五汁飲，以清燥干也。大黃，謂大黃湯，即大黃一味，用薑汁炙大黃片變黑黃色，量人强弱，每服二二錢，加陳倉米一撮，蔥白二莖，煎去滓服，以治熱結也。丁香、沉香加入四君子、六君子、理中湯內，治虚寒也，利膈，謂利膈丸，即枳殼、厚朴、大黃、人參、甘草、木香、當歸、藿香、檳榔、桃仁、火麻仁蜜為丸也。汞硫，謂汞硫散也。</p>
<p><u>四君子湯　四物湯　二陳湯　二十四味流氣飲</u></p>
<p>氣少血枯四君物，痰多氣滯二陳流，余者亦同嘔吐法，竭思區畫待天休。</p>
<p>【注】氣少者宜四君子湯，血枯者宜四物湯，痰多宜二陳湯，氣滯者宜二十四味流氣飲。其余之治法同嘔吐。此病雖竭心思區畫，亦不過盡人事以待天命也。</p>
<h3>嘔吐噦總括</h3>
<p>有物有聲謂之嘔，有物無聲吐之征，無物有聲噦乾嘔，面青指黑痛厥凶。</p>
<p>【注】面色青，指甲黑也，中痛不止，肢厥不回，其凶可知也。</p>
<p><u>小半夏湯　橘皮半夏湯　大半夏湯　黃連半夏湯　丁萸六均湯</u></p>
<p>嘔吐半薑為聖藥，氣盛加橘虚蜜參，熱盛薑連便閉下，寒盛丁萸薑六君。</p>
<p>【注】便閉，謂大小二便閉而不行，宜攻下也。初吐切不可下，恐逆病勢也。</p>
<p><u>五汁飲　硫汞散　化滯丸</u></p>
<p>潤燥止吐五汁飲，蘆薺甘蔗竹瀝薑，嘔吐不下硫汞墜，積痛作吐化滯良。</p>
<p>【注】五汁飲，即蘆錐、荸薺、甘蔗、竹瀝、薑汁也。嘔吐諸藥，湯水到咽即吐者，宜用重墜之藥，以石硫黃二錢，水銀一錢，同研如煤色極細，用老酒薑汁調服。稍點白滾湯，亦可頓服之，其藥即不能吐出。次日大便出黑色穢物，諸湯水藥服之，則不吐也。如不大便黑色，再服，以大便利為度。吐而痛者，乃積也，宜化滯丸。</p>
<h3>諸泄總括</h3>
<p><u>濕瀉　濡瀉　水瀉　洞瀉　寒瀉　飧瀉　脾瀉　腎瀉</u></p>
<p>濕勝濡瀉即水瀉，多水腸鳴腹不疼。寒濕洞瀉即寒瀉，鴨溏清徹痛雷鳴。完穀不化名飧瀉，土衰木盛不升清。脾虚腹滿食後瀉，腎瀉寒虚晨數行。</p>
<p>【注】濡者，水也。洞者，直傾下也。鴨溏，如鴨屎之溏，澄徹清冷也。痛，腹痛也。</p>
<p>雷鳴，腸鳴甚也。不升清，謂清氣在下不上升也。脾瀉，脾虚也。食瀉，飲食後即瀉也。</p>
<p>晨數行，每至早晨行瀉數次也。</p>
<p><u>食瀉　胃瀉　飲瀉　痰瀉　火瀉　暑瀉　滑瀉　大瘕瀉</u></p>
<p>傷食作瀉即胃瀉，噫氣腹痛穢而黏。渴飲瀉復渴飲瀉，時瀉時止却属痰。火瀉陣陣痛飲冷，暑瀉面垢汗渴煩。滑瀉日久不能禁，大瘕今時作痢看。</p>
<p>【注】過食作瀉，名曰食瀉，即胃瀉也。穢而黏，所瀉之物臭而黏也。渴而飲，飲而瀉，瀉而復渴，渴而復飲，飲而復瀉，飲瀉也，時或瀉，時或不瀉，属痰瀉也。陣陣，謂瀉一陣、痛一陣也。大瘕瀉，即今時之痢疾病也。</p>
<h3>泄瀉死證</h3>
<p>泄瀉形衰衇實大，五虚噦逆手足寒，大孔直出無禁止，下瀉上嗽命多難。</p>
<p>【注】五虚，謂衇細，皮寒，氣少，水漿不入，大便不禁也。大孔，謂肛門大孔不禁也。</p>
<p><u>參苓白朮散</u></p>
<p>濕瀉胃苓釐清濁，寒瀉理中附子添，飧瀉升陽益胃治，倍加芍藥減黃連，脾瀉參苓白朮散，扁豆四君蓮肉攢，意苡山藥縮砂桔，腎瀉二神四神丸。</p>
<p>【注】參苓白朮散，即扁豆，人參、白朮、茯苓，炙草、蓮肉、薏苡仁、山藥、縮砂、桔梗也。二神丸，即補骨脂、肉豆蔻，夲方加吳茱萸、五味子，名四神丸。</p>
<p><u>青六散　芍藥芩連葛根湯　八柱散</u></p>
<p>食瀉實下虚消導，飲瀉實者神　斟，虚者春澤甘露飲，痰瀉實攻虚六君，火瀉草芍芩連葛，暑瀉紅曲六一勻，滑瀉八柱理中附，粟殼烏梅訶蔻尋。</p>
<p>【注】食瀉形氣實者，宜大承，化滯等藥下之，形氣虚者，宜枳朮、平胃等消導之。神斟，謂雖當用神　丸逐飲，然亦斟酌不可過也。春澤，謂春澤湯也。甘露飲，謂五苓甘露飲也。芍藥芩連葛根湯，即甘草、芍藥、黃芩、黃連、葛根也。青六散，即六一散加紅曲也。八柱散，附子理中東加罌粟殼、烏梅、訶子、肉蔻也。</p>
<p><u>瀉心導赤散　茯苓車前子飲　苓桂理中湯</u></p>
<p>口糜泄瀉雖云熱，上下相移亦必虚，心脾開竅於舌口，小腸胃病化職失，糜發生地通連草，瀉下參苓白朮宜，尿少茯苓車前飲，火虚苓桂理中醫。</p>
<p>【注】口瘡糜爛泄瀉一證，古經未載，以理推之，雖云属熱，然其上發口糜下瀉即止，泄瀉方止，口糜即生，觀其上、下相移之情狀，亦必純實熱之所為也。心之竅開於舌，脾之竅開於口，心脾之熱，故上發口舌瘡赤糜爛。胃主消化水穀，小腸主盛受消化，心脾之熱下移小腸胃腑，則運化之職失矣，故下注泄瀉也。口糜發時，晚用瀉心導赤散，滾湯淬服之，即生地、木通、黃連、甘草梢也。下泄瀉時，早晚用參苓白朮散、糯米湯服之。</p>
<p>若小便甚少，下利不止，則為水走大腸，宜用茯苓、車前子二味各等分，煎湯時時代飲，利水導熱。若服寒涼藥口瘡不效，則為虚火上泛，宜用理中東加肉桂大倍茯苓，降陽利水。降陽而口糜自消，水利泄瀉自止，可並愈也。</p>
<h3>痢疾總括</h3>
<p>大瘕小腸大腸瀉，腸癖滯下古痢名，外因風暑濕蒸氣，內因不謹飲食生。白痢傷氣赤傷血，寒虚微痛熱窘疼，實墜糞前虚墜後，濕熱寒虚初久稱。</p>
<p>【注】大瘕瀉者，裡急後重，數至圊而不能便，莖中痛也。小腸瀉者，溲澀而便膿血，少腹痛也。大腸瀉者，食已窘迫，大便色白，腸鳴切痛也。腸癖者，飲食不節，起居不時，隂受之，則入五臟，　脹閉塞，下為飧瀉，久為腸癖，腹痛下血也。滯下者，積汁垢膩，與濕熱滯於腸中，因而下也。此皆古痢之名也。然痢之為病，裡急後重，下利膿血，小便赤澀。裡急者，腹痛積滯也。後重者，下墜氣滯也。小便赤澀者，濕熱鬱滯也。皆因外受風暑濕蒸之氣，內傷生冷凍飲料食過度而生也。白痢自大腸來。大腸與肺為表裡，肺主氣，故属傷氣也。赤痢自小腸來，小腸與心為表裡，心主血，故属傷血也。寒閉痛甚，寒開痛微，痢開病減，故痛微也。虚者少氣，氣無壅滯，故亦痛微也。熱者多實，性急不得舒通，故窘痛甚也。後墜下迫肛門，糞出墜止，為糞前墜，乃滯也，故曰實墜。糞出更墜，為糞後墜，非滯也，故曰虚墜。初痢多属濕熱，久痢多属寒虚也。</p>
<p><u>噤口痢　水穀痢　風痢　休息痢　熱痢　寒痢　濕痢　五色痢</u></p>
<p>噤口飲食俱不納，水穀糟粕雜血膿，風痢墜重圊清血，休息時作復時停，熱痢魚腦稠黏穢，寒痢稀趺白清腥，濕痢黑豆汁混濁，五色相雜臟氣凶。</p>
<p>【注】噤口痢者，下利不食，或嘔不能食也。水穀痢者，糟粕膿血雜下也，風痢者，似腸風下清血而有墜痛也。休息痢者，時發作時停止也。五色痢者，五色膿血相雜而下也，若有臟腐尸臭之氣則凶。</p>
<h3>痢疾死證</h3>
<p>水漿不入利不止，氣少衇細皮膚寒，純血噤口嘔臟氣，身熱衇大命難全。</p>
<p>【注】下利不止，水漿不入，氣少衇細，皮膚寒，死於陽絕也。下利純血，噤口，嘔逆，臟氣身熱衇大，死於隂絕也。</p>
<p><u>倉廩湯　大黃黃連湯</u></p>
<p>初痢表熱宜倉廩，裡熱衝心大黃連，寒痢理中訶蔻縮，附白桂赤不須言。</p>
<p>【注】初痢有表證發熱者，不宜攻之，法當先解其外，用倉廩湯汗之。裡熱盛，上衝心作嘔噤口者，法當先攻其裡，用大黃、黃連、好酒煎服攻之。寒痢宜用理中湯，加訶子、肉蔻、縮砂。白多者加附子，赤多者加肉桂也。</p>
<p><u>芍藥湯</u></p>
<p>初痢內外無大熱，芩連枳木芍歸榔，桂草尿澀滑石倍，利數窘痛入大黃。</p>
<p>【注】初痢外無表熱，內熱不盛，宜用芍藥湯。即黃芩、黃連、枳實、木香、芍藥、當歸、檳榔、甘草、肉桂少許也。小便澀赤加滑石，下利次數無度，下墜痛甚，入大黃也。</p>
<p><u>香連和胃湯　參連開噤湯　貼臍法</u></p>
<p>痢疾下後調氣血，宜用香連和胃湯，黃芩芍藥香連草，陳皮白朮縮砂當，赤虚更加椿榆炒，白虚參苓共炒薑，噤口參連石蓮子，貼臍王瓜藤散良。</p>
<p>【注】痢疾攻後病勢大減，宜調氣血，用香連和胃湯，即黃芩、芍藥、木香、黃連、甘草、陳皮、白朮、縮砂、當歸也。赤痢下血多虚者，當澀之，加炒椿根白皮、炒地榆。白痢日久氣虚者，加人參、茯苓、炒乾薑以補之。實而噤口堪下者，以大黃黃連湯下之。不堪下者，內以人參、黃連、石蓮子煎湯，徐徐服之，下咽即好。外以貼臍王瓜藤散，即王瓜藤、莖、葉經霜者，燒灰香油調，納臍中，即有效也。</p>
<p><u>真人養臟湯</u></p>
<p>久痢寒熱烏梅治，寒虚滑痢養臟湯，參朮肉蔻歸訶桂，芍藥罌粟草木香。</p>
<p>【注】久痢藏有寒熱不分者，宜用烏梅丸調和之。寒虚滑脫者，宜用養臟湯温補之，即人參、白朮、肉蔻、當歸、訶子、肉桂、芍藥、罌粟殼、甘草、木香也。</p>
<p><u>香連平胃散　胃風湯</u></p>
<p>水穀調中益氣治，濕痢香連平胃方，虚濕風痢胃風治，桂粟八珍減地黃。</p>
<p>【注】水穀痢者，乃脾胃虚，腐化不及，宜調中益氣湯。濕痢宜木香、黃連，合平胃散方。濕而虚者，宜用胃風湯，即肉桂、粟米、八珍湯減地黃也。</p>
<h3>五色痢休息痢治法</h3>
<p>五色休息皆傷臟，澀早滯熱蘊於中，補之不應衇有力，日久仍攻余法同。</p>
<p>【注】五色、休息二痢，皆因用止澀藥早，或因滯熱下之未盡，蘊於腸胃傷臟氣也。用一切補養之藥不應，則可知初病非止澀太早，即下之未盡也。診其衇若有力，雖日久仍當攻也。其余治法，與諸痢同。</p>
<h3>疸證總括</h3>
<p>面目身黃欲安臥，小便渾黃膽病成，已食如飢飽煩眩，胃疸穀疸酒疸名，女勞額黑少腹急，小便自利審瘀生，黃汗微腫皆濕熱，隂黃重痛厥如冰。</p>
<p>【注】面目身黃，但欲安臥，小便黃渾，此黃膽病已成也。如已食如飢，食難用飽，飽則心煩頭眩，此欲作胃疸。胃疸者，即穀疸也。若已見黃色，疸已成矣，得之於胃有濕熱，大飢過食也。酒疸者，得之於飲酒無度，而發是病也。女勞疸者，疸而額黑，少腹急，小便自利，得之於大勞大熱與女交接也。瘀血發黃，亦少腹急，小便自利，但不額黑耳。</p>
<p>詳在傷寒門。黃汗者，汗出黃色染衣，面目微腫，得之於素有濕熱，汗出入水浴之也。此皆濕熱而成，惟隂黃則属濕寒。隂黃者，身重而痛，厥冷如冰，詳在傷寒門。</p>
<h3>疸病死證</h3>
<p>疸過十日而反劇，色若煙熏目暗青，喘滿渴煩如啖蒜，面黧汗冷及天行。</p>
<p>【注】仲景曰：黃膽之病，當以十八日為期，治之十日以上宜差，反劇為難治也，色若煙熏，目神暗青，陽黃死證也。喘滿渴煩不已，心胸如啖蒜刺痛，黃毒入腹，死證也。</p>
<p>面色黧黑，冷汗　，隂黃死證也。天行疫癘發黃，名曰瘟黃，死人最暴也。</p>
<p><u>麻黃茵陳醇酒湯　茵陳蒿湯　梔子柏皮湯　茵陳五苓散</u></p>
<p>表實麻黃茵陳酒，裡實茵陳梔大黃，無證茵陳梔子柏，尿少茵陳五苓湯。</p>
<p>【注】諸疸表實無汗者，以麻黃、茵陳，無灰好酒煎服汗之。裡實不便，以茵陳、梔子、大黃下之。無表裡證，以茵陳、梔子、柏皮清之。小便短少，以茵陳五苓散利之。</p>
<p><u>胃疸湯</u></p>
<p>穀疸熱實宜乎下，不實宜用胃疸湯，茵陳胃苓減草朴，連梔防己葛秦方。</p>
<p>【注】胃疸湯，即茵陳、蒼朮、陳皮、白朮、茯苓、豬苓、澤瀉、黃連、梔子、防己、葛根、秦艽也。</p>
<p><u>茵陳解酲湯　梔子大黃湯　蔓菁散　加味玉屏風散</u></p>
<p>酒疸虚茵解酲湯，實用梔豉枳大黃，黃汗一味蔓菁散，石膏茵陳　朮防。</p>
<p>【注】酒疸虚者，用茵陳解酲湯，即葛花解酲東加茵陳也。實者，用梔子大黃湯，即梔子、淡豆豉、枳實、大黃也。黃汗宜用蔓菁子一味，為細末，每服二錢，日三，井華水調服，小便白則愈。或用加味玉屏風散，即石膏、茵陳、黃　、白朮、防風也。</p>
<p><u>石膏散　腎疸湯</u></p>
<p>女勞實者膏滑麥，女勞虚者腎疸醫，升陽散火減去芍，加芩柏曲四苓俱。</p>
<p>【注】石膏散，即　石膏、飛滑石，各等分，每服二錢，大麥湯調服。腎疸湯，即升陽散火湯減去芍藥，乃升麻、蒼朮、防風、獨活、柴胡、羌活、葛根、人參、甘草，加入黃芩、黃柏、神麯、白朮、茯苓、豬苓、澤瀉也。</p>
<h3>積聚總括</h3>
<p>五積六聚夲難經，七　八瘕載千金，腸覃石瘕辨月事，　癖之名別淺深，臟積發時有常處，腑聚忽散無夲根，　類積　瘕聚癖，腸滿汁溢外寒因。</p>
<p>【注】五積、六聚之名，夲乎《難經》。五積者，肥氣、伏梁、痞氣、息賁、奔豚也。六聚者，積之著於孫絡、緩筋、募原、膂筋、腸後、輸衇也。七　、八瘕之名，載《千金方》。</p>
<p>七者，蛟、蛇、鱉、肉、發、虱、米也。八瘕者，青、黃、燥、血、脂、狐、蛇、鱉也。腸覃者，積在腸外，狀如懷子，月事以時而下。石瘕者，積在胞中，狀如懷子，月事不以時下，故曰辨月事也，　者，外結募原肌肉之間。癖者，內結隱僻膂脊腸胃之後，故曰別淺深也。然積者属臟，隂也，故發有常處，不離其部。聚者属腑，陽也，故發無根夲，忽聚忽散。　不移，而可見，故類積、類　也。瘕能移，有時隱，故類聚、類癖也。</p>
<p>積聚、　瘕、腸覃、石瘕、　癖之疾，皆得之於喜怒不節則傷臟，飲食過飽則傷腑，腸胃填滿，汁液外溢，為外寒所襲，與內氣血、食物凝結相成也。</p>
<h3>積聚難證</h3>
<p>積聚牢堅不軟動，胃弱溏瀉不堪攻，奔豚發作狀欲死，氣上衝喉神怖驚。</p>
<p>【注】積聚牢固不動，堅硬不軟，則病深矣。胃弱食少、大便溏瀉，不堪攻矣。五積之中，奔豚最為難治，若更發作，正氣虚不能支，其狀欲死，從少腹起，氣上衝喉，神色驚怖，皆惡候也。</p>
<h3>積聚治法</h3>
<p>積聚胃强攻可用，攻虚兼補正邪安，氣食積癖宜化滯，温白桃仁控涎丹。</p>
<p>【注】積聚宜攻，然胃强能食，始可用攻。若攻虚人，須兼補藥，或一攻三補，或五補一攻，攻邪而不傷正，養正而不助邪，則邪正相安也。凡攻氣食積癖，宜用秘方化滯丸，方在內傷門。攻積聚、　瘕，宜用温白丸，即萬病紫菀丸，方倍川烏。攻血積、血瘕，宜用桃仁煎，即桃仁、大黃各一兩，虻蟲炒五錢，朴硝一兩，共為末，先以醇醋一斤，用砂器慢火煎至多半盅，下末藥攪良久，為小丸，前一日不吃晚飯，五更初，温酒送下一錢，取下惡物如豆汁雞肝。未下，次日再服，見鮮血止藥。如無虻蟲，以　蟲代之，然不如虻蟲為愈也。攻痰積，宜用控涎丹，方在痰飲門。</p>
<h3>疝證總括</h3>
<p>經云任衇結七疝，子和七疝主於肝，肝經過腹環隂器，任衇循腹裡之原。疝證少腹引隂痛，衝上衝心二便難，厥吐瘕　狐出入，潰膿癃秘木　頑。</p>
<p>【注】經曰：任衇為病，男子內結七疝，女子帶下瘕聚。瘕聚者，即女子之疝也。七疝主任者，原以任衇起中極，循腹裡也。七疝主肝者，蓋以肝經過腹裡，環隂器也。是以諸疝病，無不由是二經，故主之也。疝病之證，少腹痛引隂丸，氣上衝心，不得二便者，為沖疝也。少腹痛引隂丸，肝之逆氣衝胃作吐者，為厥疝也。少腹之氣不伸，左右塊作痛者，為瘕疝也。臥則入腹，立則出腹入囊，似狐之晝則出穴而尿，夜則入穴而不尿者，為狐疝也。少腹痛引隂丸，橫骨兩端約文中狀如黃瓜，內有膿血者，為　疝也。</p>
<p>少腹痛引隂丸，小便不通者，為癃疝也。少腹不痛，隂囊腫大頑硬者，為　疝也。</p>
<h3>疝證同名異辨</h3>
<p>血疝便毒潰魚口，　氣墜筋即疳，水疝胞痹皆癃疝，沖似小腸腰痛連。</p>
<p>【注】有謂血疝者，其證即便毒魚口也。　疝者，其證即　疝也。氣疝者，即偏墜也。</p>
<p>筋疝者，即下疳也，水疝小便不通，胞痹即膀胱氣，皆癃疝也。沖疝證似小腸氣，而更連腰痛也。</p>
<h3>諸疝治法</h3>
<p>治疝左右分氣血，尤別虚濕熱與寒，寒收引痛熱多縱，濕腫重墜虚輕然。</p>
<p>【注】疝病，凡在左邊隂丸属血分，凡在右邊隂丸属氣分。凡寒則收引而痛甚，熱則縱而痛微。凡濕則腫而重墜，而虚亦腫墜、但輕輕然而不重也。</p>
<p><u>當歸温疝湯　烏桂湯</u></p>
<p>中寒冷疝歸芍附，桂索茴楝澤萸苓，外寒入腹川烏蜜，肉桂芍草棗薑同。</p>
<p>【注】當歸温疝湯，即當歸、白芍、附子、肉桂、延胡索、小茴香、川楝子、澤瀉、吳茱萸、白茯苓也。烏桂湯，即川烏、蜂蜜、肉桂、白芍藥、炙甘草、生薑、大棗也。</p>
<p><u>烏頭梔子湯</u></p>
<p>外寒內熱烏梔炒，水酒加鹽疝痛安，　疝不問新與久，三層茴香自可痊。</p>
<p>【注】此茴香丸，方在《醫宗必讀》。</p>
<p><u>十味蒼柏散</u></p>
<p>醇酒濃味濕熱疝，不謹房勞受外寒，蒼柏香附青益草，茴索楂桃附子煎。</p>
<p>【注】此散，即蒼朮、黃柏、香附、青皮、益智、甘草，小茴香、南山楂、元胡索、桃仁、附子也。</p>
<p><u>茴楝五苓散　大黃皂刺湯</u></p>
<p>膀胱水疝尿不利，五苓茴楝與蔥鹽，瘕硬血疝宜乎下，大黃皂刺酒來煎。</p>
<p>【注】大黃皂刺湯，即大黃、皂刺各三錢，酒煎服也。</p>
<p><u>羊肉湯</u></p>
<p>血分寒疝女產後，臍腹連隂脹痛疼，羊肉一斤薑五兩，當歸三兩水八升。</p>
<p><u>奪命湯</u></p>
<p>沖疝厥疝痛上攻，臍悸奔豚氣上行，吳茱一味為君主，肉桂澤瀉白茯苓。</p>
<p><u>青木香丸</u></p>
<p>氣疝諸疝走注痛，青木香附吳萸良，巴豆拌炒川楝肉，烏藥蓽澄小茴香。</p>
<p>【注】青木香丸，即青木香五錢，酒醋浸炒吳茱萸一兩，香附醋炒一兩，蓽澄茄五錢，烏藥五錢，小茴香五錢，巴豆仁二十一粒，研碎拌炒川楝肉五錢，為末合均，蔥涎為小丸，每服三錢，酒鹽任下立愈。及能醫一切疝痛神效。</p>
<p><u>茴香楝實丸</u></p>
<p>楝實狐疝一切疝，楝肉茴香馬蘭芫，三萸二皮各一兩，仍宜急灸大敦安。</p>
<p>【注】茴香楝實丸，治狐疝及一切諸疝，即川楝肉、小茴香、馬蘭花、芫花醋炒變焦色，山茱萸、吳茱萸、食茱萸、青皮、陳皮各一兩，為末，醋糊為小丸，酒送二錢。</p>
<p>【按】大敦，肝經穴，在足大指甲後有毛處，諸疝均宜灸之即安。</p>
<h2>卷五</h2>
<h3>頭痛眩暈總括</h3>
<p>頭痛痰熱風濕氣，或兼氣血虚而疼，在右属氣多痰熱，左属血少更属風，因風眩暈頭風痛，熱暈煩渴火上攻，氣鬱不伸痰嘔吐，濕則重痛虚動增。</p>
<p>【注】頭痛，属痰、属熱、属風、属濕、属氣，或兼氣虚、血虚。因風而痛，謂之頭風，必眩暈。因熱而痛暈者，則煩渴。因氣鬱而痛暈者，則志意不伸。因痰而痛暈者，則嘔吐痰涎。因濕而痛暈者，則頭重不起。因虚而痛暈者，動則更痛更暈也。</p>
<h3>頭痛眩暈死證</h3>
<p>真頭腦痛朝夕死，手足厥逆至節青，瀉多眩暈時時冒，頭卒大痛目瞀凶。</p>
<p>【注】真頭痛，痛連腦內，手足青冷至肘膝之節，朝發夕死。凡頭痛眩暈，時時迷冒，及頭目卒然大痛，目視不見，或瀉多之後，皆凶證也。</p>
<p><u>蓽茇散　芎芷石膏湯</u></p>
<p>頭風　鼻熱蓽茇，濕盛瓜蒂入茶茗，風盛日久三聖散，內服芎芷石膏靈。芎芷石膏菊羌　，苦加細辛風防荊，熱加梔翹芩薄草，便秘尿紅硝黃攻。</p>
<p>【注】一切頭風兼熱者，以蓽茇散　鼻。即蓽茇一味為末，用豬膽汁拌過　之，作嚏立愈。一切頭風兼濕者，以瓜蒂、松蘿茶，二味為末，　之出黃水立愈，頭風風盛時發，日久不愈，則多令人目昏，以三聖散　之，方在中風門內。用芎芷石膏湯，即芎、芷、石膏、菊花、羌活、　夲也。苦痛者加細辛，風盛目昏加防風、荊芥穗，熱盛加梔子、連翹、黃芩、薄荷、甘草，大便秘小便赤加硝、黃，攻之自愈也。</p>
<p><u>茶調散　清震湯　滾痰丸　人參芎附湯</u></p>
<p>風熱便利茶調散，雷頭荷葉蒼與升，痰熱滾痰芎作引，虚寒真痛附參芎。</p>
<p>【注】雷頭風痛，頭面疙瘩，耳聞雷聲，宜清震湯，即荷葉、蒼朮、升麻也。人參芎附湯，即人參、川芎、川附也。</p>
<p><u>芎犀丸</u></p>
<p>偏正頭風芎犀丸，血虚四物薄羌天，氣虚補中加芎細，氣逆降氣黑錫丹。</p>
<p>【注】血虚，面少血色，或久脫血也。天，天麻也。降氣，蘇子降氣湯也。</p>
<p><u>芎麻湯　半夏白朮天麻湯</u></p>
<p>欲吐暈重風痰痛，芎麻湯下白丸寧，虚者六君　干柏，天麻曲　澤蒼同。</p>
<p>【注】麻，天麻也。白丸，青州白丸子也。虚者，謂風痰兼氣虚者，宜半夏白朮天麻湯，即六君子加黃　、乾薑、黃柏、天麻、神麯、麥　、澤瀉、蒼朮也。</p>
<p><u>荊穗四物湯</u></p>
<p>頭暈頭痛同一治，血虚物穗氣補中，氣血兩虚十全補，上盛下虚黑錫靈。</p>
<p>【注】頭暈之虚實寒熱諸證，同乎頭痛一治法也。其有因血虚，宜用荊穗四物湯，即當歸、川芎、白芍、熟地黃、荊芥穗也。氣虚，宜用補中益氣湯。氣血兩虚，宜用十全大補湯。上盛下虚，宜用黑錫丹。</p>
<h3>眼目總括</h3>
<p>目為五臟六腑精，氣白筋黑骨精瞳，血為　絡肉約束，裹擷系属腦項中，經熱腠開因風入，合邪上攻赤腫疼，輕者外障生云翳，重者積熱頓傷睛。</p>
<p>【注】經曰：五臟六腑之精氣，皆上注於目而為之精。精之窠為眼，氣之精為白眼，筋之精為黑眼，骨之精為瞳子，血之精為絡　，肉之精為約束，即眼胞也，裹擷筋骨血氣之精，而與衇系上属於腦，後出於項中。因經熱蒸開腠理，故風邪得以入之，風熱之邪合上攻於目，赤腫疼痛。輕者則為外障，或暴生云翳，重者則積熱之甚，陡然痛傷睛也。</p>
<h3>外障病證</h3>
<p>火眼赤腫淚澀痛，硬腫多熱軟多風，瞼粟爛弦雞蜆肉，　肉赤衇貫瞳睛，血灌瞳人高突起，旋螺尖起蟹睛疼，拳毛風淚風癢極，赤膜下垂黃膜沖。</p>
<p>【注】風熱上攻，目赤腫痛多淚，隱澀難開。火眼也。腫而硬者，属熱盛也，宜先下之。腫而軟者，属風盛也，宜先發散。兩瞼上。下初生如粟，漸大如米，或赤或白，不甚疼痛，謂之瞼生風粟。兩瞼黏睛，赤爛癢痛，經年不愈，謂之爛弦風，又名赤瞎。瞼內如雞冠，蜆肉翻出，視物阻礙，痛楚羞明，謂之雞冠蜆肉。此皆脾經風熱為病也。兩筋膜努出，謂之　肉攀睛。兩　赤衇漸漸侵睛，謂之赤衇貫睛。兩眼混赤如朱，痛如鍼刺，謂之血灌瞳人。兩眼癢痛，忽然突起，謂之突起睛高。目中大痛，忽生翳膜，狀如旋螺，謂之旋螺尖起。目中大痛，忽然瞳睛努如蟹目，謂之蟹睛疼痛，又名損翳。此皆肝、心二經積熱也。兩瞼燥急，睫毛倒刺，謂之倒睫拳毛，兩目沖風，淚出涓涓，冬月尤甚，謂之迎風流淚，兩目連　癢極不痛，謂之風癢難任。目中從下忽生黃膜，侵睛疼痛，謂之黃膜上衝。目中從上忽生赤膜，垂下遮睛，謂之赤膜下垂；又名垂帘翳。此皆心、肝、脾三經風熱為病也。</p>
<h3>內障病證</h3>
<p>內障頭風五風變，珠白黃綠不光明，頭風痛引目無淚，相注如坐暗室中，綠風頭旋連鼻痛，兩角相牽引目疼，時或白花紅花起，同綠黑花為黑風，烏花不旋漸昏暗，黃風雀目久金睛，青風微旋不癢痛，青花轉轉目昏蒙。</p>
<p>【注】內障之病，每因頭風五風變成。初病瞳珠漸漸變色，睛裡隱隱似翳，或白或黃或綠，雖與不患之眼相似，然無精彩光明射人。病頭風者，發則頭痛引目無淚，或左目，或右目，或先左目，或後右目，相注不定，如坐暗室之中，此頭風傷目之漸也。綠風者，頭旋兩角連鼻相牽引，目疼痛時，或見起白花、紅花，此綠風傷目之漸也。黑風者，證同綠風，時時見起黑花，此黑風傷目之漸也，烏風者，亦同黑風，但不旋暈而見烏花，漸漸昏暗，此烏風傷目之漸也。黃風者，久病雀目，瞳睛金色，此黃風傷目之漸也。青風者，頭微旋不癢不痛，但見青花轉轉，日漸昏蒙，此青風傷目之漸也。</p>
<p><u>菊花通聖散　洗刀散</u></p>
<p>暴發火眼通聖菊，外障等證減加方，風盛羌加防麻倍，熱盛加連倍硝黃，痛生翳膜多傷目，洗刀更入細獨羌，元參木賊白蒺藜，草決蟬蛻蔓青葙。</p>
<p>【注】菊花通聖散，即防風通聖散加菊花也。洗刀散，即夲方更加細辛、羌、獨、蔓荊、青葙子等藥也。</p>
<h3>內外障治</h3>
<p>外障無寒一句了，五輪變赤火因生，內障有虚心腎弱，故如不病損光明，火能外鑒水內照，養神壯水自收功，五風內變諸翳障，眼科自有法能攻。</p>
<p>【注】外障目病，子和曰：目不因火不病。</p>
<p>所以五輪變赤，氣輪白睛，火乘肺也。肉輪目胞，火乘脾也。風輪黑睛，火乘肝也。水輪瞳人，火乘腎也。血輪兩　，火自甚也。故能治火者，一句便了也。治火之法，在藥則鹹寒吐之下之，在鍼則神庭、上星、囟會、前項、百會刺之，翳者可使立退，痛者可使立已，昧者可使立明，腫者可使立消矣。內障目病，雖亦無寒，然有虚也。虚或兼熱，亦属虚熱，故不赤腫疼痛，如不病眼人，但不精彩光明也。心虚則神不足，神者火也，火內暗而外明，故不能外鑒而失其光明也。腎虚則精不足，精者水也，水外暗而內明，故不能內照而失其光明也。心虚者，則養心神；腎虚者，則壯腎水，自可收功於不明也。其五風內變諸翳，如圓翳、冰翳、清翳、澀翳、散翳、橫翳、浮翳、沉翳，偃月、棗花、黃心、黑風等翳，俱列在眼科，方書自有治法，難以盡述，此特其大概耳。</p>
<h3>牙齒口舌總括</h3>
<p>牙者骨余属乎腎，牙齦手足兩陽明，齒長豁動為腎憊，牙疼胃火風寒蟲。不怕冷熱為風痛，火腫喜冷得寒疼，寒不腫蛀喜熱飲，蟲牙蝕盡一牙生。</p>
<p>【注】牙齒者，骨之余，属乎腎也。若無故齒長，疏豁而動，則為腎衰憊也。上牙齦属足陽明，下牙齦属手陽明。牙痛皆牙齦作痛，惟寒牙痛，則為客寒犯腦，多頭連齒痛，為寒邪也，故喜熱飲，不腫不蛀也。余者，皆為胃火、邪風、濕熱也。火牙疼多腫喜飲冷，得寒則更疼者，讎仇之意也。蟲牙則一牙作痛，蝕盡一牙，又蝕一牙作痛也。</p>
<p><u>骨槽風　牙疳瘡</u></p>
<p>骨槽齦頬腫硬疼，牙齦腐爛出血膿，牙疳腫硬潰血臭，皆因痘疹癖疾成。</p>
<p>【注】骨槽風者，牙齦連頬硬腫疼痛，牙齦腐爛，出血膿也。牙疳，以骨槽潰後腫硬不消，然出臭血，而不出膿水也，且皆痘疹癖疾之後而成也。</p>
<p><u>清胃散</u></p>
<p>清胃血分火牙痛，生地歸連升牡饒，氣分宜加荊防細，積熱涼膈入升膏。</p>
<p>【注】胃火牙痛，赤腫出血者，則為血分，宜用清胃散，即生地、當歸、黃連、升麻、牡丹皮出。饒者，倍加升麻。丹皮也。若腫痛牙齦不出血者，則為氣分，宜加荊芥，防風、細辛，以散其熱。若腸胃積熱，腫痛爛臭，宜用涼膈散加升麻、石膏，以下其熱可也。</p>
<p><u>温風散</u></p>
<p>温風風牙歸芎細，蓽茇　芷露蜂房，寒牙痛加羌麻附，半服含漱吐涎良。</p>
<p>【注】不甚腫痛，不怕冷熱，為風牙痛，宜用温風散。即當歸、川芎、細辛、蓽茇、夲、白芷、露蜂房也。不腫痛甚，喜飲熱湯，為寒牙痛，宜夲方再加羌活、麻黃、川附子温而散之。二方俱服一半，含漱一半，連涎吐之自好也。</p>
<p><u>一笑丸　玉池散　熏藥</u></p>
<p>諸牙椒巴飯丸咬，玉池　芷骨槐辛，歸芎大豆升防草，蟲牙蔥韭子煙熏。</p>
<p>【注】諸牙，謂諸牙痛也。均宜一笑丸，即川椒七粒為末，巴豆一粒去皮研勻，飯為丸，綿裹咬痛處，吐涎即止。均宜用玉池散，即　夲、白芷、地骨皮、槐花、細辛、當歸、川芎、黑豆、升麻、防風、甘草、煎湯，熱漱冷吐。蟲牙亦宜此咬漱。更須用韭子或蔥子，置小爐中燒之，擱在大水碗內，覆以漏斗，口向蟲牙痛處熏之，其蟲極小，皆落水碗之中，累效。</p>
<p><u>蕪荑消疳湯</u></p>
<p>牙疳雖有專科治，然皆未曉累攻神，能食便軟猶當下，雄荑黃薈二連芩。</p>
<p>【注】牙疳一病，殺人最速，雖有專科，然皆未曉累攻之法。累攻者，今日攻之，明日又攻之，以腫硬消，黑色變，臭氣止為度。若不能食，或隔一日，或隔二三日攻之，攻之後漸能食，不必戒口，任其所食。雖大便溏，仍量其輕重攻之，自見其神。若竟不思食，難任攻下，則死證也。攻藥用蕪荑消疳湯，即雄黃、蕪荑、生大黃、蘆薈、川黃連、胡黃連、黃芩也。</p>
<h3>口舌證治</h3>
<p>脣口属脾舌属心，口舌瘡糜蘊熱深，口淡脾和臭胃熱，五味內溢五熱淫。木舌重舌舌腫大，脣腫脣瘡緊繭脣，暴發赤痛多實熱，淡白時痛每虚因。</p>
<p>【注】口舌生瘡糜爛，名曰口糜，乃心、脾二經蘊熱深也。平人口淡，故曰脾和。口出氣臭，則為胃熱。不因食五味而口內溢酸味者，乃肝熱淫脾也。苦味者，心熱淫脾也。</p>
<p>甘味者，夲經熱自淫也。辛味者，肺熱淫脾也。咸味者，腎熱淫脾也。木舌，謂舌腫硬不痛也。重舌，謂舌下腫似舌也。舌腫，謂舌腫大也。脣腫，謂脣腫痛濃也。脣瘡，謂脣腫潰裂成瘡也，緊繭脣，謂脣緊小燥裂也。以上之證，皆属心、脾、胃經蘊熱，若暴發赤腫痛甚，多為實熱，宜以涼膈散，梔子金花湯，急下其熱，可即愈也。若日久色淡瘡白，時痛不痛，每属虚熱，宜清心蓮子飲、知柏四物湯，補中兼清可也。或服涼藥久不愈者，以七味地黃湯冷服，引火歸原，不效甚者，加附子可立愈也。</p>
<h3>咽喉總括</h3>
<p>胸膈風熱咽喉痛，邪盛單雙乳蛾生，熱極腫閉名喉痹，語言難出息不通，痰盛涎繞喉間響，內外腫閉纏喉風，喉痹纏喉皆危證，潰後無膿腫閉凶。</p>
<p>【注】胸膈上有風熱，則咽喉腫痛，風熱之邪若盛，則生單雙乳蛾，在會厭兩傍高腫似乳蛾，故名也。熱極則腫閉，湯水不下，言語難出，呼吸不通，名曰喉痹，若熱極更兼痰盛，則痰涎繞於喉間，聲響咽喉，內外腫閉，湯水不下，名曰纏喉風，皆危病也。或服藥、或吹藥、或鍼刺，潰破出膿血則愈。若潰後不出膿血，仍然腫閉，湯水不下則死矣。</p>
<p><u>如意勝金錠　雄黃解毒丸</u></p>
<p>咽痛消毒涼膈散，單雙乳蛾刺血痊，喉痹纏喉勝金錠，急攻痰熱解毒丸，昏噤牙關湯不下，多鼻吹灌度喉關，吐下之後隨證治，潰爛珍珠散上安。</p>
<p>【注】咽喉初起腫痛，宜用消毒涼膈散，即防風、荊芥、牛蒡子、梔子、連翹、薄荷、黃芩、甘草、大黃、芒硝也。單雙乳蛾，則刺少商出血，在左刺左，在右刺右，在左右刺左右也。喉痹、纏喉初起，病勢未甚，或狀如傷寒，宜服如意勝金錠，即硫黃、川芎、臘茶、火硝、薄荷、生川烏、生地黃各等分為末，蔥自然汁合為錠，重一錢，薄荷湯磨化服，甚者連進三次。若痰涎壅盛，喉間內外腫閉，湯水難下，病勢危急，宜用雄黃解毒丸，即雄黃水飛，鬱金細末，各二錢半，巴豆仁肥白者十四粒，微去油，以成散為度，合均，醋糊為丸，如綠豆，茶清下七丸，便利吐痰則愈。若昏冒牙關噤急，湯不能下，將藥用醋化開十丸，按中風門之法，　入鼻內，吐下則愈，其後隨證調治可也。若雖愈咽喉潰爛，以珍珠散上之即好。</p>
<p><u>吹喉七寶散</u></p>
<p>咽喉諸證七寶散，消皂蠍雄硼二礬，細研如塵取一字，吹中患處效如神。</p>
<p>【注】咽喉諸證，謂咽喉腫痛，單雙乳蛾，喉痹，纏喉也。七寶散，即火硝、牙皂、全蠍、雄黃、硼砂、白礬、膽礬也。</p>
<h3>肩背總括</h3>
<p><u>通氣防風湯</u></p>
<p>通氣太陽肩背痛，羌獨　草蔓防芎，氣滯加木陳香附，氣虚升柴參　同，血虚當歸白芍藥，血瘀薑黃五靈紅，風加靈仙濕二術，研送白丸治痰凝。</p>
<p>【注】李杲羌活勝濕湯，又名通氣防風湯，治太陽經風濕肩背痛，即羌活、獨活、　夲、甘草、蔓荊子、防風、川芎也。兼氣鬱滯痛者，則常常作痛，加木香、陳皮、香附也。氣虚郁痛者，則時止時痛，加升麻、柴胡、人參、黃　也。血虚郁痛者，則夜甚時止，加當歸、白芍藥也。血瘀郁痛者，則夜痛不止，加薑黃、五靈脂、紅花也。風氣鬱盛者，痛則項肩强，加威靈仙也。濕氣鬱甚者，痛則肩背重，加蒼朮、白朮也。痰風凝郁者，痛則嘔眩，用夲湯研送青州白丸子也。</p>
<h3>心腹諸痛總括</h3>
<p>心痛岐骨陷處痛，橫滿上胸下胃脘，當臍脾腹連腰腎，少腹小大腸脅肝。蟲痛時止吐清水，疰即中惡寒外干，悸分停飲與思慮，食即停食冷內寒，水停痰飲熱胃火，氣即氣滯血瘀緣，隨證分門檢方治，真心黑厥至節難。</p>
<p>【注】岐骨陷處痛，名心痛。橫滿連胸，名肺心痛；下連胃脘，名胃心痛；連臍，名脾心痛；連腰，名腎心痛；連少腹，名大腸小腸痛；連脅，名肝心痛；時止吐清水，名蟲心痛；中惡腹痛，名疰痛；寒邪外干，名中寒痛；悸而痛，名悸心痛；水停心下，属飲也。思慮傷心，属傷也。停食痛，停水痛，停痰痛，胃火痛，氣滯痛，血瘀痛，皆不死之證也，當分門施治。惟真心痛，面色黑，四肢逆冷至節，死證也。</p>
<p><u>化滯丸　清中湯</u></p>
<p>攻濕積熱求化滯，攻寒積水備急丹，火痛二陳梔連蔻，蟲用烏梅飲控涎。</p>
<p>【注】化滯丸，成方也。清中湯，即陳皮、半夏、茯苓、甘草、薑炒山梔、黃連、草豆蔻也。</p>
<p><u>木香流氣飲</u></p>
<p>七情郁結流氣飲，思慮悸痛歸脾湯，內寒理中外五積，疰痛備急血抵當。</p>
<p><u>小建中湯</u></p>
<p>木來乘土腹急痛，緩肝和脾小建中，血虚寒痛羊肉治，氣虚理中加陳青。</p>
<p>【注】羊肉，謂羊肉湯也。</p>
<p><u>烏頭梔子湯</u></p>
<p>劫諸郁痛烏梔子，劫而復痛入元明，已經吐下或虚久，急痛欲死求鴉鳴。</p>
<p>【注】諸郁，謂諸寒火鬱而痛也。寒多炮川烏為主，熱多薑炒梔子為主。元明，元明粉也。鴉鳴，謂以真鴉片末，或加麝香少許，飯丸如桐子大，每服三五丸引。在夲草，名一粒金丹。</p>
<h3>胸脅總括</h3>
<p><u>栝蔞薤白白酒湯　栝蔞薤白半夏湯</u></p>
<p>栝蔞薤白白酒湯，胸痹胸背痛難當，喘息短氣時咳唾，難臥仍加半夏良。</p>
<p>【注】栝蔞薤白白酒湯，即栝蔞實、小根菜，水白酒煎也。</p>
<p><u>顛倒木金散</u></p>
<p>胸痛氣血熱飲痰，顛倒木金血氣安，飲熱大陷小陷治，頑痰須用控涎丹。</p>
<p>【注】胸痛之證，須分属氣、属血、属熱飲、属老痰。顛倒木金散，即木香、鬱金也。</p>
<p>属氣鬱痛者，以倍木香君之。属血鬱痛者，以倍鬱金君之。為末，每服二錢，老酒調下。虚者，加人參更效。胸中有痰飲熱作痛者，輕者小陷胸湯，重者大陷胸湯、丸治之。若吐唾稠黏痰盛，則用控涎丹。</p>
<p><u>枳芎散　枳橘散　柴胡疏肝湯　加味逍遙散　左金丸　當歸龍薈丸</u></p>
<p>脅痛左属瘀留血，輕金芎枳草重攻，右属痰氣重逐飲，片薑橘枳草醫輕，肝實太息難轉側，肝虚作痛引肩胸，實用疏肝柴芍草，香附枳陳與川芎，肝虚逍遙加芎細，陳皮生薑緩其中，肝虚左金實龍薈，一條扛起積食攻。</p>
<p>【注】左属瘀血，輕，謂瘀血輕者，宜用枳芎散。重攻，謂瘀血重者，宜以攻血之劑也。枳芎散，即枳殼、撫芎、鬱金、甘草也。</p>
<p>右属痰氣。重逐飲，謂以控涎、十棗逐痛之重者也。枳橘散，即枳殼、橘皮、片子薑黃、甘草，醫痛之輕者也。柴胡疏肝散，即柴胡、白芍、甘草、香附、枳殼、陳皮、川芎也，逍遙散，即白朮、茯苓、當歸、白芍、柴胡、炙草、薄荷少許，加川芎、細辛、陳皮、生薑也。左金，即左金丸，吳茱萸、黃連也。肝實火旺者，當歸龍薈丸，積食者，以化滯丸。</p>
<p>積飲者，以控涎丹。</p>
<h3>腰痛總括</h3>
<p>腰痛腎虚風寒濕，痰飲氣滯與血瘀，濕熱閃挫凡九種，面忽紅黑定難醫。</p>
<p>【注】腰痛之證，其因不同，有腎虚、有風，有寒、有濕、有痰飲、有氣滯、有血瘀、有濕熱、有閃挫，凡患腰痛極甚，而面色忽紅忽黑，是為心腎交爭，難治之證也。</p>
<p><u>安腎丸</u></p>
<p>腰痛悠悠虚不舉，寄生青娥安腎丸，胡蘆骨脂川楝續，桃杏茴苓山藥鹽。</p>
<p>【注】寄生，謂獨活寄生湯。青娥丸，即補骨脂、杜仲、核桃仁也。安腎丸，即胡蘆巴、補骨脂、川楝肉、川續斷、桃仁、杏仁、小茴香、茯苓，山藥也。鹽，鹽湯為引也。</p>
<p><u>羌活勝濕湯　通經丸</u></p>
<p>腰痛属寒得熱減，五積吳萸桃杜安，寒濕重著勝濕附，內實通經硫面牽，風痛無常掣引足，經虚當用寄生痊，經實非汗不能解，續命東加牛杜穿。</p>
<p>【注】五積散，加吳茱萸、桃仁、杜仲。羌活勝濕湯，即防風通氣東加附子也，通經丸，即硫黃、黑牽牛頭末，麥面合丸煮，浮起服，方出《夲草》。小續命東加牛膝，杜仲、炒穿山甲也。</p>
<p><u>通氣散　活絡丹</u></p>
<p>氣滯閃挫通氣散，木陳穿索草茴牽，血瘀不移如錐刺，日輕夜重活絡丹。</p>
<p>【注】通氣散，即木香、陳皮、穿山甲、元胡索、甘草、小茴香、白牽牛也。活絡丹，即川烏、草烏、南星、地龍、乳香、沒藥也。加五靈脂、麝香尤效。</p>
<p><u>蒼柏散　煨腎散</u></p>
<p>濕熱熱注足蒼柏，二妙牛杜己瓜芎，腰如物覆濕痰蓄，煨腎椒鹽遂有功。</p>
<p>【注】蒼柏散，即蒼朮、黃柏、牛膝、杜仲、防己、木瓜、川芎也。煨腎散，即豬腰子剖開，入川椒、食鹽、甘遂末，濕紙裹煨，熟酒食之。</p>
<h3>小便閉癃遺尿不禁總括</h3>
<p>膀胱熱結為癃閉，寒虚遺尿與不禁，閉即尿閉無滴出，少腹脹滿痛難伸，癃即淋瀝點滴出，莖中澀痛數而勤，不知為遺知不禁，石血膏勞氣淋分。</p>
<p>【注】膀胱熱結，輕者為癃，重者為閉。膀胱寒虚，輕者為遺尿，重者為不禁。閉者，即小便閉無點滴下出，故少腹滿脹痛也。癃者，即淋瀝點滴而出，一日數十次，或勤出無度，故莖中澀痛也。不知而尿出，謂之遺尿。知而不能固，謂之小便不禁。</p>
<h3>小便閉遺尿死證</h3>
<p>嘔噦尿閉為關格，若出頭汗命將傾，傷寒狂冒遺尿死，尿閉細澀不能生。</p>
<p>【注】上為嘔噦不入，下為小便不通，則隂陽之氣關格，若出頭汗，則為陽絕，故命傾也。傷寒狂冒属陽邪盛，遺尿属隂不守，若尿閉衇細澀，知隂亦竭，故俱死也。</p>
<h3>治癃閉熨吐汗三法</h3>
<p>隂陽熨臍蔥白麝，冷熱互熨尿自行，宣上木通蔥探吐，達外蔥湯熏汗通。</p>
<p>【注】用蔥白一斤細銼，入麝香五分拌勻，分二包置臍上，先以炭火熨斗熨之，半炷香時換一包，以冷水熨斗熨之，互相遞熨，以尿通為度。服諸藥不效，或服藥即時吐出，或服攻下藥不利，宜用宣上法：以木通、老蔥煎湯服，頃時探吐，再服再吐，以尿通為度。</p>
<p>服諸藥不效，或身無汗，宜用達外法：以蔥湯入木桶內，令病患坐於杌上，沒臍為度，匝腰系裙以覆之，少時汗出，其尿自出。欲尿時不可出桶，即於桶內尿之，恐出桶，氣收而尿又回也。</p>
<h3>小便不通</h3>
<p><u>通關丸</u></p>
<p>熱實不化大便硬，癃閉八正木香痊，陽虚不化多厥冷，惡寒金匱腎氣丸。隂虚不化發午熱，不渴知柏桂通關，氣虚不化不急滿，倦怠懶言春澤煎。</p>
<p>【注】小便不通：熱實者，宜用八正散加木香。陽虚者，宜用金匱腎氣丸。隂虚者，宜用通關丸，即知母、黃柏、肉桂少許也。氣虚宜用春澤湯，即五苓散加人參也。</p>
<p><u>八正散</u></p>
<p>石淋猶如　結鐺，是因濕熱煉膀胱，一切熱淋八正扁，通滑梔瞿草車黃。</p>
<p>【注】八正散，即　蓄、木通、瞿麥、梔子、滑石、甘草、車前子、大黃也。</p>
<p><u>小薊飲子</u></p>
<p>血淋心遺熱小腸，實熱仍宜下之良，清熱小薊梔滑淡，歸藕通蒲草地黃。</p>
<p>【注】淡，淡竹葉也。藕，藕節也。蒲，蒲黃也。</p>
<p><u>海金沙散　鹿角霜丸</u></p>
<p>膏淋尿濁或如涕，精尿俱出海草滑，熱盛八正加蒼朮，虚用秋苓鹿角佳。</p>
<p>【注】海，海金沙也，秋，秋石也。苓，茯苓也。鹿角，鹿角霜。糯米糊為丸也。</p>
<p><u>加味八正散</u></p>
<p>氣淋肺熱難清肅，八正石韋木葵沉，內傷氣虚不能化，五苓益氣自通神。</p>
<p>【注】八正散，加石韋、木香、冬葵子、沉香、五苓，合補中益氣湯。</p>
<p><u>補中益氣湯合五苓散　清心蓮子飲</u></p>
<p>勞淋內傷補中苓，腎氣知柏過淫成，勞心清心蓮地骨，　芩車麥草參苓。</p>
<p>【注】內傷勞脾，用補中益氣湯合五苓散。勞腎陽虚，用金匱腎氣湯。隂虚，用知柏地黃湯。思慮勞心，用清心蓮子飲，是方即蓮子、地骨皮、黃　、黃芩、車前子、麥門冬、生甘草、人參、白茯苓也。</p>
<p><u>琥珀散</u></p>
<p>痰淋七氣白丸子，熱燥清熱用滋隂，諸淋平劑琥珀木，葵蓄通滑歸鬱金。</p>
<p>【注】七氣湯見諸氣門。青州白丸子見類中風門。滋隂，通關丸也。木，木香也。葵，冬葵子也。</p>
<p><u>桂附地黃丸　補中益氣東加白果方　坎離既濟東加山萸肉五味子方</u></p>
<p>遺尿不禁淋尿白，桂附補中白果煎，補之不應或尿赤，生地知柏萸味攢。</p>
<p>【注】遺尿不禁，及諸淋、尿色白者，皆属寒虚。寒者，用桂附地黃東加白果。虚者，用補中益氣東加白果。凡遺尿不禁、諸淋、尿色赤者，或補之不應者，亦有熱虚，用坎離既濟湯，即生地、知母、黃柏，加山萸肉、五味子也。</p>
<h3>大便燥結總括</h3>
<p>熱燥陽結能食數，寒燥隂結不食遲，實燥食積熱結胃，食少先硬後溏脾；氣燥阻隔不降下，血燥干枯老病虚，風燥久患風家候，直腸結硬導之宜。</p>
<p>【注】熱燥即陽結也，能食而衇浮數有力，與三陽熱證同見者也。寒燥即隂結也，不能食而衇沉遲有力，與三隂寒證同見者也。實燥即胃實硬燥也，與腹滿痛同見者也。虚燥即脾虚，先硬後溏之燥也，與少氣腹縮同見者也。氣燥即氣道阻隔之燥也，與噎膈、反胃同見者也。血燥即血液干枯之燥也，與久病老虚同見者也。風燥即久患風病之燥也，從風家治。直腸結，即燥屎巨硬，結在肛門難出之燥也，從導法治之。</p>
<h3>結燥治法</h3>
<p><u>温脾湯　握藥法</u></p>
<p>熱實脾約三承氣，寒實備急共温脾，大黃薑附桂草朴，寒虚硫半握藥醫，虚燥益氣硝黃入，血燥潤腸與更衣，氣燥四磨參利膈，風燥搜風順氣宜。</p>
<p>【注】温脾湯，即大黃、乾薑、附子、肉桂、甘草、厚朴也。硫半丸，即硫黃、半夏也。握藥，即巴豆仁、乾薑、韭子、良薑、硫黃、甘遂、白檳榔各五分，為末合均，飲和分二粒，先以花椒湯洗手，麻油塗手心握藥，移時便瀉，欲止則以冷水洗手。益氣，即補中益氣湯，加大黃、朴硝。潤腸丸，即當歸、生地、枳殼、桃仁、火麻仁，各等分為末，蜜丸，米飲早服。更衣丸，即生蘆薈、朱砂末等分，飯丸，酒服。四磨湯，即人參、烏藥、沉香、檳榔也。參利膈，即人參利膈丸也。搜風順氣，即搜風順氣丸也。</p>
