<header><h1>也是山人醫案</h1></header>
<dl class="元資料" data-type="book" hidden></dl>
<h2>中風</h2>
<p>蘇（五一）肝腎久衰。內風襲絡。脈象緩大。肢體麻木。舌強言謇。此屬痱中之象。陰氣不主上承。當重培其下。</p>
<p>兼佐熄風。</p>
<p>熟地（四錢）　淡蓯蓉（三錢）　沙蒺藜（二錢）　清阿膠（二錢）　杞子（二錢）　黃甘菊（一錢）　茯神（二錢）</p>
<p>鮑（五四）眩暈仆中。口　眼斜。舌強言謇。脈形浮散。此屬晚年肝腎氣衰。內風襲絡。陰液無以上供。擬滋陰熄風方。</p>
<p>製首烏（四錢）　白蒺藜（二錢）　淮牛膝（二錢）　歸身（一錢五分）　黃甘菊（一錢炒）　枸杞子（二錢）　明天麻（二錢煨）</p>
<h2>肝氣</h2>
<p>蘇（六三）夏令陽升。目昏頭暈。復遭嗔怒。肝氣大作。所以黎明跌仆。遂致神昏。脈形短數。舌苔黃濃。姑議滋清。</p>
<p>羚羊角（一錢）　炒焦半曲（一錢五分）　鬱金（一錢）　小生地（三錢）　橘紅（一錢）　石菖蒲根（三錢）　連翹心（一錢五分）　川貝母（二錢）</p>
<p>蘇（六三）前議滋清方。服至兩劑。神識稍清。肝陽郁勃已解。臟陰虛損未復。今幸納穀加餐。腑陽無恙。高年明是肝腎氣餒。陰虛而陽無所附。陽神失守。致有目中妄見之象。非脫陽見鬼也。大忌祈禱。擾動陽神。恐陽愈偏而不返。</p>
<p>再擬鎮陽法。以冀回春。</p>
<p>人參（一錢）　清阿膠（二錢）　生左牡蠣（三錢）　五味子（五分）　龍骨（三錢）　茯神（二錢）　生白芍（一錢五分）</p>
<h2>眩暈</h2>
<p>時（六一）痰火上實。頭暈。</p>
<p>桑葉（一錢）　炒焦半曲（一錢五分）　鉤藤（三錢）　羚羊角（一錢五分）　廣皮白（一錢）　白甘菊（一錢）　明天麻（二錢煨）</p>
<p>馮（六三）肝風內動。眩暈。</p>
<p>製首烏（四錢）　黃甘菊（一錢）　白蒺藜（一錢五分）　豆皮（三錢）　杞子（二錢）　云茯神（二錢）　霜桑葉（一錢）</p>
<p>倪（四六）煩勞則陽氣張大。脈來寸急尺緩。為嘔逆眩暈。是厥陽變化。內風鼓動。而後上憑諸竅。病不在乎中上。</p>
<p>經云。上實下虛。為厥巔疾。信斯言也。</p>
<p>熟地（四錢）　杞子（二錢）　白蒺藜（一錢五分）　清阿膠（二錢）　菊花炭（一錢）　云茯神（二錢）　豆皮（三錢）</p>
<h2>頭風</h2>
<p>趙（四五）右偏頭風痛。目赤。少陽鬱火未熄。</p>
<p>霜桑葉（一錢）　丹皮（一錢）　白蒺藜（炒一錢五分）　豆皮（二錢）　黃甘菊（一錢）　云茯神（二錢）　製首烏（三錢）　杞子（二錢）</p>
<p>衛（五二）頭風痛。嘔吐便秘。肝陽化風上冒。擬柔緩和陽。復脈去參、薑、桂。加牡蠣。</p>
<p>生左牡蠣（三錢）　細生地（三錢）　炙甘草（五分）　清阿膠（二錢）　麥冬（二錢）　南棗（三錢）　大麻仁（一錢五分）</p>
<h2>虛勞</h2>
<p>吳（五四）二氣交衰。怯冷。氣急妨食。且護陽。扶過一陽萌動再商。</p>
<p>人參（一錢）　制淡川附子（一錢）　茯苓（三錢）　老薑汁（臨服沖入五分）　廣皮白（一錢）　炒焦半曲（一錢）</p>
<p>陸（三二）經病陰損未復。氣浮咳嗽。胃納頗減。兼有吞酸。此屬下焦元海已竭。生氣不至。假借太陰面目。非苦辛泄肺所宜。</p>
<p>熟地炭（四錢）　遠志（八分炒）　杞子（炒一錢五分）　五味子（一錢五分）　萸肉炭（二錢）　紫衣胡桃肉（一兩）　茯苓（三錢）</p>
<p>戴（三四）二氣已偏。熱熾氣急。跗腫便溏。當此夏令升泄。難望久延。</p>
<p>人參（一錢）　河車膠（二錢）　胡桃肉（五錢）　熟地炭（三錢）　五味子（五分）　云茯神（二錢）　川斛（四錢）</p>
<p>王（三六）胃氣方蘇。肺陰未復。咳逆便秘。非泄肺所能治之。</p>
<p>北沙參（二錢）　揀麥冬（一錢五分）　叭噠杏仁（三錢）　肥玉竹（二錢）　川貝（二錢）　南棗（三錢）　云茯神（二錢）　紫菀（一錢）　生甘草（三分）　上藥十帖熬膏。</p>
<p>董　骨蒸潮熱。便溏。</p>
<p>大生地（四錢）　真小清膠（二錢）　地骨皮（三錢）　炙鱉甲（五錢）　川連（三分）　玉竹（二錢）　釵石斛（三錢）</p>
<p>王（十二）嗆逆。咽痛。便泄。</p>
<p>霜桑葉（一錢）　叭噠杏仁（三錢）　苡仁（二錢）　象貝（一錢五分）　炙草（四分）　塊茯苓（三錢）　嫩元參（一錢五分）　炒焦建曲（一錢五分）</p>
<p>又　溏泄已止。痰咳俱減。治宜扶土生金。</p>
<p>蒸於朮（二錢）　苡仁（二錢）　真川貝（一錢五分）　揀麥冬（去心，一錢五分）　新會皮（一錢）　塊茯苓（三錢）　南沙參（一錢五分）　黨參（一錢）</p>
<h2>咳嗽</h2>
<p>凌（十四）風溫上受。咳嗽惡心。鼻塞脈大。</p>
<p>象貝母（一錢五分）　泡白杏仁（三錢）　栝蔞皮（一錢五分）　牛蒡子（炒研，一錢五分）　橘紅（一錢）　黑山梔（一錢五分）　霜桑葉（一錢）　桔梗（一錢）</p>
<p>陸（廿八）咳嗽痰多。初愈復發。</p>
<p>霜桑葉（一錢）　杏仁（三錢）　桔梗（一錢五分）　象貝（二錢）　橘紅（一錢）　連翹（一錢五分）　馬兜鈴（七分）</p>
<p>吳（八歲）咳嗽嘔逆。中焦已痞。肺氣以下行為順。</p>
<p>鮮枇杷葉（三錢）　鬱金（一錢）　冬瓜子（三錢）　杏仁（三錢）　栝蔞皮（一錢五分）　桔梗（一錢）　川貝母（去心研，二錢）　橘紅（一錢）</p>
<p>徐（十二）咳嗽嗆血。腹中鳴響。咳早甚。則知胃陰虛。所服驅風降痰。徒傷其陽耳。</p>
<p>白扁豆（三錢）　玉竹（二錢）　白粳米（三錢）　炒麥冬（二錢）　北沙參（三錢）　南棗（三錢）　川斛（三錢）　生甘草（三分）</p>
<p>馮（四八）咳嗽哮喘。宜當溫散。</p>
<p>制麻黃（五分）　橘紅（一錢）　茯苓（三錢）　川桂枝（八分）　炙草（四分）　生薑（一錢）　杏仁（三錢）</p>
<p>沈婦（廿一）寒熱頭痛。咳嗽。臥不著枕。嘔逆。此屬胃咳之狀。當先制肝。</p>
<p>旋覆花（絹包一錢）　製半夏（一錢五分）　代赭石（三錢）　川貝（去心研，二錢）　鬱金（一錢）　茯苓（三錢）　栝蔞皮（一錢五分）　泡白杏仁（三錢）</p>
<p>鐘（二十）脈虛細。晨咳。咳動即身熱。拘束自汗。腹中微痛。望色　白。病幾一月不痊。昨進辛寒不應。諒非邪著於裡。是營衛二氣交怯。宗經旨虛則補母之義。黃　建中湯去飴、薑。加牡蠣、五味、茯神。</p>
<p>嫩黃　（三錢）　桂枝（八分）　南棗（三錢）　五味子（一錢）　炙草（五分）　茯神（二錢）　左牡蠣（三錢）</p>
<p>大白芍（一錢五分）</p>
<p>陳（四六）咳逆無痰已久。經阻。少腹有形瘕聚。</p>
<p>杜蘇子（炒研一錢）　草鬱金（一錢）　炒楂炭（一錢五分）　栝蔞皮（一錢五分）　炒桃仁（去尖一錢）</p>
<p>歸須（一錢五分）　黑山梔（一錢五分）　粉丹皮（一錢五分）　加降香末（三分）</p>
<p>戴（二歲）面白無神。咳嗽。肺胃陰衰。</p>
<p>真川貝（去心研，一錢五分）　南沙參（一錢五分）　叭噠杏仁（研，三錢）　梨汁制陳皮（一錢）　茯神（二錢）</p>
<p>川斛（一錢五分）</p>
<h2>吐血</h2>
<p>朱（三三）咳痰見血。肺胃久虛。</p>
<p>桑葉（一錢）　杏仁（三錢）　川斛（三錢）　大沙參（二錢）　象貝（一錢五分）　茯苓（二錢）　玉竹（二錢）</p>
<p>蔣（三六）吐血已止。脈象弦數。胃納不減。咳嗽氣衝。少陰久虛之象。防血復來。</p>
<p>大淡菜（一兩）　牛膝炭（一錢五分）　白扁豆（五錢）　川斛（三錢）　參三七（五分）　糯稻根須（五錢）　白茯苓（三錢）</p>
<p>徐（三二）嗔怒肝陽上升。胃絡血涌。諸氣皆以下行為順。擬降氣法。</p>
<p>蘇子（炒研一錢）　鬱金（一錢）　南楂肉（二錢）　桃仁（炒，一錢）　丹皮（炒，一錢五分）　黑山梔（一錢五分）　降香末（沖入五分）</p>
<p>魏（四八）心腎精血不充。痰中帶血。胃納頗佳。後天生氣甚好。不致損怯之虞。</p>
<p>熟地（四兩）　遠志（五錢）　山藥（二兩）　萸肉（二兩）　五味子（一兩）　茯苓（三兩）　芡實（二兩）　建蓮（三兩）</p>
<p>雷（五四）脈左堅。肝腎陰傷失血。</p>
<p>生地炭（三錢）　川斛（三錢）　山藥（二錢）　清阿膠（二錢）　麥冬（二錢）　茯苓（二錢）　左牡蠣（三錢）</p>
<p>五味子（一錢五分）</p>
<p>陸（五三）吐血已止。咳痰晡甚。暮熱氣喘。肺胃陰虛所致。兼以養陰和陽。</p>
<p>川斛（四錢）　白扁豆（五錢）　炙草（四分）　生地炭（三錢）　麥冬（二錢）　茯神（二錢）　清阿膠（二錢）</p>
<p>又　昨進養陰和陽。痰咳已緩。暮熱盜汗。寐醒即止。再當鎮攝可安。</p>
<p>生左牡蠣（三錢）　五味子（一錢五分）　炙草（四分）　清阿膠（三錢）　麥冬（二錢）　云茯神（二錢）　熟地炭（四錢）　遠志（八分）</p>
<p>戴　少陰久虧。陽不潛藏。肝腎之血。亦隨氣升。沖胃犯肺。震動絡脈。溢於其上。以致咯出。左關脈漸平。右關濡軟略旺。瘀行未盡。略有咳逆。前議熟地。又取壯水。乃陰旺陽乃復辟之意。即經旨所謂陽在外。陰之使也。擬方候裁。</p>
<p>熟地（四錢）　揀麥冬（二錢）　淮牛膝炭（一錢五分）　陳阿膠（另烊沖，二錢）　川貝母（去心研，一錢五分）</p>
<p>左牡蠣（　研三錢）　云茯神（二錢）　北沙參（一錢五分）　苡仁（二錢）</p>
<p>又熟地（四錢）　白蒺藜（一錢五分）　云茯神（二錢）　揀麥冬（二錢）　霞天曲（炒，三錢）　制女貞（一錢五分）　北沙參（三錢）　川貝（去心研，二錢）</p>
<h2>失音</h2>
<p>衛（三十）失音已久。胃納頗佳。非其氣之餒。當金匱金實無聲議治。</p>
<p>麻黃（三分）　石膏（三錢）　杏仁（三錢）　生草（三分）　射干（五分）　苡仁（三錢）</p>
<p>錢（四一）肺象空懸。其位最高。據述曾經吐血之後。聲音出不揚。飲食少納。乾咳頻多。此屬少陰水虧。不能濟火。致君相上騰。燔爍嬌臟。不無受傷。顧本是滋陰補虛為要。然歲氣當深秋之際。肅化猶為最先。莫若暫用固金法。</p>
<p>從金生水意。</p>
<p>阿膠（二錢）　北沙參（一錢五分）　生地（三錢）　生雞子黃（一枚）</p>
<p>麥冬（二錢）　川斛（四錢）　茯神（二錢）　生甘草（三分）</p>
<p>戴　瘀咯將淨。痰咳亦緩。肺胃絡脈。乃肝陽潛伏。漸有寧靜之象。今診得左關弦形已退。右關脈已鼓指。而獨右寸軟弱。左尺虛細。右尺微小。六脈雖未調和。審體質未始不為平脈。古人所謂未見病脈。即平脈也。仍擬養腎。佐以健脾。</p>
<p>熟地（四錢）　北沙參（一錢五分）　淮山藥（炒，二錢）　陳阿膠（二錢）　揀麥冬（一錢五分）</p>
<p>建蓮（去心，二錢）　云茯神（二錢）　川貝（二錢）　蒲黃（炒黑，五分）</p>
<p>又　填納下焦。肝腎肺胃絡脈漸寧。痰咯雖未淨盡。而臟陰離絡之瘀已盡。然而頤養寧神。絡脈完固。不致貽患。</p>
<p>仍擬肝腎定例。少佐清化。</p>
<p>熟地（四錢）　揀麥冬（一錢五分）　建蓮（二錢）　陳阿膠（二錢）　川貝（一錢五分）</p>
<p>淮山藥（炒，二錢）　左牡蠣（三錢）　沙蒺藜（二錢）　云茯神（二錢）</p>
<p>又　自瘀盡以來。絡脈鞏固。肝腎根蒂亦基。痰咯亦少。形神頗安。脈右寸軟。尺小弱。余部中和。但此小雪節候。</p>
<p>值少陰用事之時。只宜靜養。以待一陽來復。其調劑仍宗前議。聊以益氣佐之。</p>
<p>熟地（四錢）　西黨參（二錢）　酸棗仁（炒焦，二錢）　陳阿膠（二錢）　揀麥冬（一錢五分）</p>
<p>云茯神（二錢）　川貝（一錢五分）　建蓮（二錢）　炙草（四分）</p>
<p>又　照前議參脾為生痰之源治。</p>
<p>熟地（四錢）　炒焦冬術（一錢五分）　棗仁（炒黑，二錢）　陳阿膠（二錢）　新會皮（一錢）</p>
<p>揀麥冬（一錢五分）　云茯神（二錢）　川貝（去心研，一錢五分）　人參（另煎沖，一錢）</p>
<p>又熟地（四錢）　北沙參（三錢）　建蓮（去心，三錢）　陳阿膠（蛤粉炒，二錢）　川貝（去心研，二錢）</p>
<p>淮牛膝炭（一錢五分）　揀麥冬（去心，一錢五分）　云茯神（二錢）　九孔石決明（　研三錢）</p>
<h2>肺痿</h2>
<p>蘇（四十）咳嗽音啞。防肺痿。</p>
<p>川石斛（三錢）　炒扁豆（五錢）　茯神（二錢）　北沙參（一錢五分）</p>
<p>麥冬（三錢）　南棗（三錢）　玉竹（二錢）</p>
<p>魏　冬溫咳嗽。頻吐涎沫。不能多飲。胃納甚少。此屬肺痿。且擬甘緩。為邪少虛多治法。</p>
<p>黃　（蜜炙三錢）　白芨（二錢）　白百合（三錢）　當歸（一錢五分）</p>
<p>南棗（三錢）　麥冬（二錢）　生苡仁（三錢）　炙草（四分）</p>
<p>戴　絡凝不固。肝脈布脅。嗆逆凝瘀。左脈已靜。右脈未和。此即絡虛留滯之意。議益陰和陽。佐以宣絡。</p>
<p>原熟地（四錢）　西黨參（二錢）　建蓮（去心二錢）　真川貝（二錢）</p>
<p>陳阿膠（蛤粉炒，二錢）　米仁（二錢）　旋覆花（一錢）　云茯神（二錢）</p>
<p>又人參（另煎沖，五分）　陳阿膠（另烊沖，二錢）　棗仁（炒焦研，三錢）　原熟地（四錢）</p>
<p>大白芍（一錢五分）　茯神（二錢）　揀麥冬（一錢五分）</p>
<h2>遺精</h2>
<p>蔣（廿三）精泄無夢。寤多寐少。少陰不司藏聚。</p>
<p>熟地（四錢）　遠志（五分）　山藥（二錢）　桑螵蛸（二錢）</p>
<p>湖蓮（三錢）　茯苓（三錢）　柏子仁（三錢）　芡實（二錢）</p>
<p>徐（四一）多夢紛紜。遺泄頻多。經營之人。擾神動心。相火隨之。擬介屬以潛之。濃味以填之。</p>
<p>熟地（四錢）　龜腹版（五錢）　遠志（五分）　萸肉（二錢）　線膠（二錢）</p>
<p>五味子（一錢五分）　淡菜（二錢）　湖蓮（三錢）　芡實（二錢）</p>
<p>張（十八）面色痿黃。無夢遺泄。左脈虛數。此屬濕熱下注。與固澀異政。</p>
<p>川萆　（三錢）　湖蓮（三錢）　茯苓（三錢）　炒黃柏（一錢）　山藥（二錢）　澤瀉（一錢）　遠志（一錢）</p>
<h2>小便不通</h2>
<p>陳（三十）脈細面白。小溲不通。此屬中氣不足所致。經旨謂膀胱者。州都之官。津液藏焉。氣化則能出矣。倘投泄肺以展氣化。是實邪治法。決不效驗。</p>
<p>生黃　（三錢）　炒焦半夏（一錢五分）　茯苓（三錢）　白朮（二錢）</p>
<p>廣皮白（一錢）　炙草（五分）　高麗參（一錢）</p>
<h2>小便不禁</h2>
<p>周（十八）沖年遺溺。知識太早。腎臟不司藏聚。非關足太陽腑經。當從心腎議治。亦腎與膀胱表裡相應之征也。</p>
<p>熟地（四錢）　覆盆子（一錢）　芡實（一錢）　桑螵蛸（二錢）　龍骨（生打三錢）</p>
<p>建蓮（三錢）　遠志（八分）　五味子（一錢）　茯神（二錢）</p>
<h2>汗</h2>
<p>范（三二）脈細。形寒自汗。此屬衛陽式微。</p>
<p>人參（一錢）　制淡附子（一錢）　炙草（五分）　熟於朮（二錢）　煨薑（八分）　南棗（三錢）　茯苓（三錢）</p>
<p>龍（三十）衛疏汗泄。</p>
<p>生黃　（三錢）　煨薑（一錢）　南棗（三錢）　熟白朮（二錢）　炙草（五分）　茯神（二錢）　防風（六分）</p>
<p>歸（三六）夜寐汗泄甚多。寐醒遍身如浴。此屬盜汗。是陰液所化。腎衰不能內營使然。議鎮陽以理虛。</p>
<p>生左牡蠣（三錢）　龍骨（三錢）　茯神（二錢）　五味子（一錢五分）　麥冬（三錢）　南棗（三錢）　防黨參（一錢）</p>
<p>潘（四三）汗泄脈大。勞傷營衛所致。</p>
<p>嫩黃　（三錢）　白芍（一錢五分）　煨薑（一錢）　當歸（一錢二分）　炙草（五分）　南棗（三錢）　桂枝木（四分）</p>
<h2>脫</h2>
<p>錢（三歲）喘急脈細。戴眼。已現脫象。無方。</p>
<p>倪（一歲）襁褓寒熱旬余。肢腫腹脹。便溏。近加喘急。戴眼。是厥脫根萌。此屬太陽已絕。辰戌日期小心。無方。</p>
<p>蘇（三一）中　螈　。口噤不語。法所不治。勉擬黃土湯。</p>
<p>掘地尺余深。取新汲水。攪濁澄清。頻飲。</p>
<p>洪（三四）陰寒格陽。脈獨疾而散。心胸熱熾。面赤尤甚於兩顴。煩渴乾嘔。胸悶。但欲寤。危期至速。勉擬熱因熱用之方。俾乃導火歸原。庶有生機之望。</p>
<p>上肉桂（五分）　泡淡川附子（一錢）　茯苓（一錢五分）　淡乾薑（八分）</p>
<p>熟半夏（一錢五分）　炙草（四分）　生白芍（一錢五分）</p>
<p>邵（五八）昨脫癃閉。勢甚窘迫。欲解不通。脈如雀啄。想前陰利水。厥陰主之。少陰主二便。此屬肝腎氣逆。已萌陰脫之象。三日內必有手足厥陰目盲等。疑不治之症。無方。</p>
<p>鄒（七一）邪陷已久。脘痹不納穀。心胸熱熾。兩眼怕亮喜暗。自覺紅光耀目。脈按之細而兼沉。總是邪陷。錮蔽日深。清邪疏邪之法。均已無效。症屬棘手。勉擬熱因熱用之方。補裡托邪。俾乃導火歸原。庶有百中一幸之望。</p>
<p>人參（五分）　製半夏（一錢五分）　炙草（五分）　炮熟川附子（五分）</p>
<p>去皮上桂（五分）　淡乾薑（五分）　茯苓（三錢）</p>
<p>又人參（五分）　製半夏（一錢五分）　去白廣皮（一錢）　炮熟川附子（五分）</p>
<p>去皮上桂（五分）　淡乾薑（五分）　茯苓（三錢）</p>
<p>沈（廿六）新產十朝。昨進育陰潛陽。腰痛帶淋稍減。兩顴赤色更甚。乾嘔不除。竟夜少寐。右尺不起。脈形獨疾而散。而非數也。譬諸燈火。焚膏殆盡。往往有撲滅之虞。治此症甚難。勉擬導火歸原一法。候諸高明正。</p>
<p>人參（另煎沖，五分）　制淡川附子（五分）　炙草（五分）　原熟地（四錢）　炮薑（四分）　茯苓（三錢）　去皮上桂（三分）</p>
<h2>脾胃</h2>
<p>陸（六十）病後。食復令傷脾胃。不飢不食。潮熱口乾。噯氣脹滿。胸脘填塞。是屬胃腑氣機少宣。即內經所謂穀入少而氣多者。邪在胃及肺也。</p>
<p>川石斛（四錢）　炒焦半夏（一錢五分）　焦穀芽（一錢）　南花粉（一錢五分）　新會皮（一錢）　塊茯苓（三錢）　枳實皮（一錢）</p>
<p>家（一五）正衰偏熱。便秘。納穀安適。良由肺胃陰液未復使然。</p>
<p>川石斛（四錢）　炒焦半夏曲（一錢五分）　枳實皮（一錢）　炒麥冬（一錢五分）</p>
<p>新會皮（一錢）　生穀芽（一錢）　塊茯苓（三錢）　大麻仁（一錢五分）</p>
<p>錢（四三）身無寒熱。脈緩。便溏。納穀而少。胃氣方蘇。脾弱不司運化。病後頗有是症也。</p>
<p>生白朮（二錢）　新會皮（一錢）　建澤瀉（一錢五分）　益智仁（煨研，八分）</p>
<p>焦麥芽（一錢）　茯苓（三錢）　厚朴（一錢）</p>
<p>柯（廿四）邪去正衰。驟不肯復。胃氣不振。不思納穀。宜養肺胃之陰。</p>
<p>川石斛（四錢）　炒焦半夏（一錢五分）　枳實皮（一錢）　炒麥冬（七分）　新會皮（一錢）　生穀芽（一錢）　塊雲茯苓（三錢）</p>
<p>姚（四三）冬溫月余。服藥數劑。但攻邪病。正氣大衰。余熱尚留於樞。陰傷未復。致有汗泄。口乾。飢不能食。</p>
<p>皆攻病時苦寒所傷。胃氣未蘇之故。宜養肺胃除熱。</p>
<p>川斛（三錢）　炒焦半夏（一錢五分）　枳實皮（一錢）　淮小麥（三錢）　新會皮（一錢）　生穀芽（一錢）　茯神（二錢）</p>
<p>王（十七）右寸脈數已退。大便已解。氣分尚怯。擬養肺胃。以理余邪。</p>
<p>制洋參（八分）　炒焦半夏（一錢五分）　萆　（三錢）　揀麥冬（三錢）</p>
<p>新會皮（一錢）　連翹殼（一錢）　塊茯苓（一錢）　釵斛（二錢）</p>
<h2>木乘土</h2>
<p>朱（五六）陽明胃衰。脈弦。嘔逆吞酸。少寐。此屬木邪侮土。擬制肝木。以無犯胃土則安。</p>
<p>淡吳萸（七分）　製半夏（一錢五分）　淡乾薑（一錢）　川楝子（二錢）　木瓜（一錢）　茯苓（三錢）　生白芍（一錢五分）　生益智（八分）</p>
<p>陳（四一）肝木犯胃。嘔逆吐酸。</p>
<p>吳萸（五分）　製半夏（一錢五分）　延胡（一錢）　淡乾薑（一錢）　高良薑（一錢）　桂枝木（五分）　茯苓（三錢）</p>
<p>烏（四八）病傷未復。面無華澤。左脈澀弱。寤而少寐。衝脈隸於肝腎。肝腎衰則衝脈動。心下漾漾。涎沫上溢於口。此屬腎氣少納。中無砥柱。與肝胃症似是而非。擬甘酸攝陰。方亦塞因塞用之一法也。</p>
<p>熟地炭（四錢）　炒黑梔子（一錢五分）　酸棗仁（三錢）　五味子（三分）　遠志炭（四分）</p>
<p>茯神（二錢）　淡蓯蓉（三錢）　紫石英（一兩）　煎湯代水蘇（三一）肝木乘犯陽明胃土。嘔酸食少。經分不至。脈象弦數。擬制肝和胃。</p>
<p>川楝子（二錢）　製半夏（一錢五分）　茺蔚子（一錢五分）　炒延胡（一錢）　鬱金（一錢）　生香附（三錢）　南楂炭（二錢）</p>
<p>湯（十八）擬補太陰泄少陽方。</p>
<p>焦白朮（二錢）　炒焦半夏（一錢五分）　鉤藤（一錢五分）　粉丹皮（一錢五分）　廣皮白（一錢）　茯苓（三錢）　霜桑葉（一錢）</p>
<p>又泡淡吳萸（六分）　製半夏（一錢五分）　廣皮（一錢）　川楝子（二錢）</p>
<p>川鬱金（八分）　茯苓（三錢）　生白芍（二錢）　製香附（三錢）</p>
<p>又　後戊己湯。辛甘理陽。</p>
<p>西黨參（二錢）　炙草（五分）　甜冬術（二錢）　廣皮（一錢）　茯苓（三錢）　生白芍（二錢）</p>
<h2>腫脹</h2>
<p>陳（五一）跗腫腹滿。　脹。二便澀少。此屬脾胃陽虛。澹泊不堪所致。姑進通腑。少佐泄肝。</p>
<p>生白朮（二錢）　制淡附子（一錢）　吳萸（七分）　草果仁（八分）　淡乾薑（一錢）　茯苓（三錢）　厚朴（一錢）</p>
<p>曹（五四）昨進苦辛宣腑。酸澀泄肝。跗腫腹滿未減。噫噯脹勢不消。二便皆秘。脈象沉伏。此屬血分聚水之象。</p>
<p>再擬泄厥陰。通陽明法。</p>
<p>川楝子（二錢）　製大黃（一錢）　歸尾（一錢五分）　郁李仁（去皮炙研，一錢五分）</p>
<p>小茴香（三分）　紅花（五分）　桂枝（八分）　炒桃仁（一錢）</p>
<p>楊（八歲）少腹水脹。兩足俱浮。小便不解。溫通太陽可效。</p>
<p>川桂木（八分）　焦白朮（二錢）　茯苓（三錢）　漢防己（一錢五分）</p>
<p>木豬苓（一錢五分）　澤瀉（一錢）　苡仁（二錢）　椒目（四分）</p>
<h2>積聚</h2>
<p>陳（十六）肝氣肆橫。腹痛。向有瘕聚。法當疏泄。</p>
<p>青皮（一錢）　歸須（一錢）　茺蔚子（一錢）　炒延胡（一錢）　鬱金（一錢）　黑山梔（一錢五分）　南山楂（一錢五分）</p>
<p>褚（廿七）久患積聚。痛而不移。兼有腸　。未亟緩攻。</p>
<p>青皮（一錢）　茅朮炭（一錢）　歸須（一錢）　煨木香（五分）　炒地榆（一錢五分）　生香附（一錢五分）　檳榔（一錢）　厚朴（一錢）</p>
<h2>痞</h2>
<p>許（四六）昨用苦辛開痞。嘔逆已止。脈象稍清。但胸次按之而痛。此屬熱邪阻遏中焦。清氣為無形質。是與食滯兩岐。</p>
<p>川連（六分）　製半夏（一錢五分）　枳實（一錢）　淡黃芩（一錢）　杏仁（三錢）　栝蔞皮（一錢五分）　厚朴（一錢）</p>
<p>戴（廿八）脈象短數。脘悶。舌白黏膩。得大便胸次稍舒。此屬熱結在上。為上焦不行。下脘不通。況肺與大腸。</p>
<p>亦是表裡相應。見症擬梔豉湯以解其陳腐之邪。</p>
<p>佩蘭葉（三錢）　鬱金（一錢）　枳殼（一錢）　炒香淡豉（一錢五分）</p>
<p>杏仁（三錢）　桔梗（一錢）　黑山梔（一錢五分）　栝蔞皮（一錢五分）</p>
<p>馬（二六）胃虛痞塞。擬辛以助陽。</p>
<p>薑汁炒川連（五分）　製半夏（一錢五分）　枳實（一錢）　淡乾薑（八分）</p>
<p>黃芩（一錢）　鮮竹茹（三錢）　茯苓（三錢）</p>
<h2>噎膈反胃</h2>
<p>龔（四一）噎阻不舒。嘔吐涎沫。食物格拒。咽中總屬不爽。在上清陽日結。擬治肺以展氣化。勿與椒梅酸收閉塞可也。</p>
<p>鮮枇杷葉（三錢）　鬱金（一錢）　炒香豉（一錢五分）　杏仁（二錢）</p>
<p>栝蔞皮（一錢五分）　黑山梔（一錢五分）　川貝母（二錢）</p>
<p>蔡（五一）陽明胃衰。納穀脘中痛。噯噦頻頻。氣不展舒。胸膈是清陽旋轉之處。失其下行為順之旨。必胃汁先枯。</p>
<p>然後脾陽亦鈍。膈症萌矣。擬甘寒生津。以存其陰液。無暇理胃脘之清陽。是亦膈症治法川石斛（三錢）　鮮生地（五錢）　玉竹（一錢）　麥冬（一錢）</p>
<p>淡天冬（二錢）　柿霜（一錢）　甜杏仁（三錢）　梨汁（半杯臨服沖入）</p>
<p>田（二三）早食暮吐。大便不爽。病在中下。</p>
<p>小川連（四分）　製半夏（一錢五分）　桃仁（一錢）　製大黃（五分）　鬱金（一錢）　紅花（五分）　枳實（一錢）</p>
<h2>關格</h2>
<p>王（七二）脘痛不食。二便艱少。並不渴飲。此屬陽氣結於上。陰液衰於下。為關格。難治之症。</p>
<p>人參（一錢）　泡淡川附子（一錢）　枳實（五分）　淡乾薑（一錢）　製半夏（一錢五分）　川連（四分）　茯苓（三錢）　生白芍（一錢五分）</p>
<h2>噯氣</h2>
<p>蔡（三五）胃衰。胸膈不爽。噯氣嘔惡。此屬清陽不升。濁氣不降。舍理胃陽無別法。</p>
<p>人參（一錢）　製半夏（一錢五分）　淡乾薑（一錢）　旋覆花（一錢）　新會皮（一錢）　茯苓（三錢）　釘頭代赭（三錢）</p>
<p>洪（四八）噯氣不舒。脈緩便溏。此屬胃陽虛。濁陰上干。</p>
<p>釘頭代赭（三錢）　製半夏（一錢五分）　淡乾薑（一錢）　旋覆花（一錢）　新會皮（一錢）　茯苓（三錢）　制淡川附子（一錢）</p>
<h2>嘔吐</h2>
<p>姚（三八）昨進涼解方。身熱稍減。口渴已止。是大邪將解之象。但嘔吐妨食。是余邪仍伏於胃。擬溫膽湯去甘草。</p>
<p>加川斛、茯苓。</p>
<p>竹茹（一錢五分）　製半夏（一錢五分）　枳實（一錢）　川石斛（三錢）　廣皮白（一錢）　薑汁（一匙臨服沖食）　茯苓（三錢）</p>
<p>蔣（三四）腑氣熱不解。清氣漸退。蒸為痰。脘隔痰與氣阻。為痞悶。不飢。食即吐。是胃不下降。亦由熱邪深入於胃。擬溫膽湯佐以苦味。制其沖逆。</p>
<p>鮮竹茹　橘紅　鬱金　枳實　製半夏　杏仁　南花粉　川連張（三二）春深氣泄。陽氣方張。嘔惡吞酸。食入即吐。此屬肝木乘犯陽明。胃脘清陽少旋。擬苦辛泄降。</p>
<h2>吐蛔</h2>
<p>吳（三二）厥陰犯胃。吐蛔。</p>
<p>川連（五分）　製半夏（一錢五分）　炒焦烏梅肉（五分）　淡乾薑（一錢）　黃芩（一錢）　炒黑川椒（三厘）</p>
<p>生白芍（一錢五分）</p>
<p>楊（四六）寒熱嘔吐。格拒食物。已經吐蛔。厥陰之邪未達耳。</p>
<p>川連（水炒，四分）　烏梅肉（一錢）　炒黑川椒（三厘）　淡乾薑（一錢）　黃芩（一錢）　細辛（三分）　生白芍（一錢五分）　桂枝木（五分）</p>
<h2>腸痹</h2>
<p>趙（三三）溫濕囚郁。二便不通。納穀　脹。此屬腸痹。宗丹溪腑病治臟法。</p>
<p>紫菀（一錢）　杏仁（三錢）　枳殼（一錢）　炒香淡豉（一錢五分）　栝蔞皮（一錢五分）　黑山梔（一錢五分）</p>
<p>鬱金（一錢）</p>
<p>韓（四九）溫濕阻其氣分。色痿少納。二便欲解不通。此屬腸痹之類。夫腸痹原系腑病。而腑病當治其臟。每用開提肺竅。自能氣化。斯濕溫少解。漸可減輕。倘執體怯。不但治病不合。且味甘藥餌。妨礙中宮。恐延綿變患。不可度思矣。</p>
<p>紫菀（一錢）　鬱金（一錢）　枳殼（一錢）　炒香豉（一錢五分）　杏仁（三錢）　桔梗（一錢）　鮮枇杷葉（三錢）　栝蔞皮（一錢五分）</p>
<h2>便秘</h2>
<p>仲（八歲）據述平昔。每更衣努苦。糞堅若彈丸。加之病後。胃津干涸。腑火。傳導陰液愈耗。陽氣愈升。而大便愈秘。宜清潤以柔藥和陽。</p>
<p>鮮生地　麥冬　柏子仁　清阿膠　大麻仁　茯神　川斛穆（三三）脈澀。下焦氣鈍血燥。便難。進通幽方。</p>
<p>咸蓯蓉　細生地　郁李仁　柏子仁　大麻仁　牛膝　當歸毛（六一）年高脈伏。瘀熱在營。血燥便難。進通幽法。</p>
<p>歸尾（一錢五分）　柏子仁（二錢）　郁李仁（一錢）　桃仁（一錢）　松子仁（三錢）　大麻仁（一錢五分）　紅花（五分）</p>
<h2>肺痹</h2>
<p>陳（四三）溫邪內郁。舌白脘悶。頻渴。脈大。二便不甚通利。此屬肺痹。致手太陰氣化失宰。宜苦辛泄降。</p>
<p>霜桑葉（一錢）　杏仁（三錢）　桔梗（一錢）　象貝（二錢）　薑皮（一錢五分）　枳殼（一錢五分）　南花粉（一錢五分）　鬱金（一錢）</p>
<p>盧（三八）身熱脘悶。不飢不食。不大便。脈數。皆氣分窒塞。苦辛自能泄降。</p>
<p>鮮枇杷葉（三錢）　鬱金（一錢）　桔梗（一錢）　炒香淡豉（一錢五分）　杏仁（三錢）　黑山梔（一錢五分）　紫菀（一錢）　薑皮（一錢五分）</p>
<h2>胸痹</h2>
<p>唐（廿五）噯噦頻頻。胸次蔽塞。當此大暑節候。太陰用事。此屬陰濁凝遏中陽。</p>
<p>薤白（三錢）　製半夏（二錢）　枳實（一錢）　淡乾薑（一錢）　鬱金（一錢）　栝蔞皮（一錢五分）　茯苓（三錢）　臨服沖入白酒半小杯繆（六一）胸脘阻蔽。脈微而痛。肢厥得噯稍舒。此屬胸陽失其曠達使然。</p>
<p>薤白（三錢）　製半夏（一錢五分）　鬱金（一錢）　栝蔞皮（一錢五分）　桂枝（五分）　延胡（炒，一錢）　茯苓（三錢）</p>
<h2>哮</h2>
<p>楊（五六）久病痰哮。深秋復發。急宜溫通。</p>
<p>川桂枝（一錢）　橘紅（一錢）　杏仁（一錢）　制麻黃（七分）　茯苓（二錢）　淡乾薑（二錢）　炙草（四分）</p>
<p>凌（六一）陽衰痰哮。氣喘背寒。擬溫通法。</p>
<p>粗桂枝（一錢）　制麻黃（五分）　炙草（五分）　杏仁（三錢）　橘紅（一錢）　茯苓（三錢）　淡乾薑（一錢）</p>
<p>五味子（一錢五分）</p>
<h2>喘</h2>
<p>程（八歲）咳嗽氣喘。小溲亦稀。肺氣不降所致。</p>
<p>桑皮（一錢五分）　杏仁（三錢）　豬苓（一錢）　甜葶藶（五分）　大腹皮（一錢五分）</p>
<p>澤瀉（一錢）　厚朴（一錢）　茯苓皮（一錢五分）　川通草（一錢）</p>
<p>楊（七八）望八高年。吸音甚促。身動即喘。兼有痰嗽。暮劇。晨汗。小便短數。此屬腎液正枯。元海生氣亦少。</p>
<p>氣散失納所致。</p>
<p>熟地（四錢）　北五味（一錢）　芡實（二錢）　萸肉炭（二錢）　炙草（五分）</p>
<p>山藥（二錢）　茯神（二錢）　紫衣胡桃肉（五錢）　補骨脂（八分）</p>
<p>許（三九）腎不收納。陰虛喘嗆。</p>
<p>熟地（四錢）　萸肉（二錢）　湖蓮（三錢）　清阿膠（二錢）　山藥（二錢）　芡實（二錢）　茯神（一錢）　淡菜膠（二錢）</p>
<p>陳（五八）春陽萌動。在更余時氣逆上升。脈右寸滑軟。左脈細澀。緣喘症在肺為實。在腎為虛。肺主出氣。腎主納氣。肺賢並衰。出納無權。痰色瘀紫。亦氣餒少液。擬方候裁。</p>
<p>熟地（四錢）　北沙參（三錢）　紫石英（　研，三錢）　元武版（炙，三錢）　淮牛膝（鹽水炒，二錢）</p>
<p>抱木茯神　揀麥冬（去心，一錢五分）　真川貝（去心研，二錢）　人參（另煎沖，五分）</p>
<h2>呃逆</h2>
<p>褚（五二）脈小舌白。呃逆氣衝。兩脈微澀。大便滑溏。此屬胃陽虛。濁陰上干。擬方候高明正。</p>
<p>釘頭代赭　炒半夏　丁香皮　淡乾薑　淡吳萸　柿蒂　茯苓　炒川椒蔡（四六）邪去正衰。呃聲異響。咽中總屬不爽。據服理中無益。必得清陽舒展。乃能曠達耳。</p>
<p>枇杷葉（三錢）　炒川貝（二錢）　桔梗（一錢）　炒香豉（一錢五分）　栝蔞皮（一錢）</p>
<p>川通草（一錢）　鬱金（一錢）　杏仁（三錢）　紫菀（一錢）</p>
<p>李（二五）閱服涼解方。身熱已止。口渴亦減。是邪解之象。但胃陽衰憊。致脈微汗泄。呃逆便溏。火為重候。勉擬理中湯去甘術。加丁香、吳萸、川椒、茯苓。</p>
<p>人參（一錢）　制川附子（一錢）　淡吳萸（八分）　淡乾薑（一錢）　丁香（三厘）　炒川椒（五厘）　茯苓（三錢）</p>
<h2>黃膽</h2>
<p>徐（四二）濕熱內聚。脘悶不飢。目黃溺赤。此屬黃膽。</p>
<p>綿茵陳（三錢）　淡黃芩（一錢）　枳實（一錢）　白蔻仁（五分）　杏仁（去皮尖，二錢）　花粉（一錢五分）　飛滑石（三錢）　川通草（一錢）</p>
<p>張（四八）爪目皆黃。此屬黃膽。</p>
<p>綿茵陳（三錢）　川黃柏（一錢）　豬苓（一錢）　海金砂（二錢）　赤小豆（三錢）　澤瀉（一錢五分）　赤苓（三錢）</p>
<p>王（四〇）濕熱留著於胃。嘔逆。爪目皆黃。溺赤。是陽黃之象。</p>
<p>柴胡（八分）　製半夏（一錢五分）　枳實（一錢）　金鈴子（一錢）　黃芩（一錢）　黑山梔（一錢五分）　延胡（一錢）</p>
<p>康（十一）濕熱內郁。爪目皆黃。腹脹。</p>
<p>綿茵陳　大腹絨　赤苓　川黃柏　赤小豆　澤瀉　漢防己狄（三一）濕熱內聚。腹脹。爪目皆黃。此屬黃膽。議用中下分消。</p>
<p>綿茵陳蒿（一錢五分）　大腹皮（一錢五分）　豬苓（一錢五分）　漢防己（一錢五分）　赤小豆（一錢）　澤瀉（一錢五分）　海金砂（二錢）　赤苓（三錢）</p>
<p>又　前後分消。二便如血。爪目皆黃色略減。腹脹雖松。左少腹肝邪作痛。而有怯寒之象。此病傷未復。陽黃顯著。</p>
<p>後泄少陽。厥陰主之。</p>
<p>柴胡（八分）　製半夏（一錢五分）　川萆　（二錢）　金鈴子（二錢）　黃芩（一錢）　漢防己（一錢五分）　延胡（一錢）　綿茵陳（一錢五分）　黑山梔（一錢五分）</p>
<h2>風</h2>
<p>薛（廿二）寒熱。頭痛。脘悶。風傷衛陽。</p>
<p>蘇梗（一錢）　杏仁（三錢）　枳殼（一錢）　淡豆豉（一錢五分）　桔梗（一錢）　連翹（一錢五分）　厚朴（一錢）</p>
<h2>寒</h2>
<p>莊（廿八）寒邪襲於肺衛。寒熱。頭痛。脘悶。辛以散之。</p>
<p>蘇梗（一錢）　杏仁（二錢）　枳殼（一錢）　淡豆豉（一錢五分）　桔梗（一錢）　連翹（一錢八分）　厚朴（二錢）</p>
<p>徐（九歲）頭痛身熱。嘔吐面赤。寒邪內侵。陽氣拂鬱之象。擬陽旦法。</p>
<p>桂枝（八分）　製半夏（一錢五分）　橘紅（一錢）　淡黃芩（一錢）　杏仁（三錢）　生薑（六分）　厚朴（一錢）</p>
<p>衛（五六）陽虛感邪。形寒身熱。頭痛脘悶。背痛無汗。擬辛溫疏達。</p>
<p>川桂枝（八分）　製半夏（一錢五分）　生薑（一錢）　白杏仁（二錢）　廣皮（一錢）　茯苓皮（二錢）　厚朴（一錢）</p>
<h2>中寒</h2>
<p>陳（四五）脈伏口噤。神昏鼾睡。此寒熱直中陰經。陽氣逆亂。症屬棘手。勉擬辛溫達邪。</p>
<p>烏藥（一錢五分）　橘紅（一錢）　枳殼（一錢）　川桂枝（一錢）　杏仁（三錢）　桔梗（一錢）　麻黃（制，五分）　炙草（五分）　炮薑（五分）</p>
<h2>風溫</h2>
<p>陳（二二）風溫外襲肺衛。寸口脈大。身熱惡寒。頭暈且痛。擬輕劑宣通。</p>
<p>牛蒡子（炒研，一錢五分）　杏仁（三錢）　連翹（一錢五分）　象貝（去心研，二錢）　桔梗（一錢）　枳殼（一錢）　霜桑葉（一錢）</p>
<p>林（四一）頭旋脈大。身熱惡寒。風溫外襲肺衛所致。擬輕揚上焦。</p>
<p>桑葉（一錢）　連翹（一錢五分）　黑山梔（一錢五分）　象貝母（二錢）　杏仁（三錢）　鉤藤（二錢）　牛蒡子（一錢五分）</p>
<p>陳（十二）熱勢不減。口乾胸悶。邪入營絡。恐其見　。因體虛。未敢遵用開泄。</p>
<p>羚羊角（一錢）　連翹心（一錢五分）　玄參（一錢五分）　象貝母（二錢）　丹皮（一錢）　黑山梔（一錢五分）</p>
<p>霜桑葉（一錢）　生地炭（三錢）</p>
<h2>溫熱</h2>
<p>馬（六六）溫邪自裡而出。兩脈洪大。煩渴便溏。脘悶食少。舌苔中絳邊白。是肺大腸表裡見症相應。姑擬清裡。</p>
<p>少佐以泄邪。</p>
<p>桑葉（一錢）　杏仁（三錢）　連翹（二錢）　羚羊角（一錢）　桔梗（一錢）　川通草（一錢）　薄荷（一錢）　竹心（廿根）</p>
<p>趙（六八）溫邪逆傳膻中。心陽受蒙不宣。為嘔逆。為神昏。為煩渴。脈數舌絳。高年五液皆涸。最有竅閉厥脫之虞。擬清營絡熱邪。</p>
<p>犀角（一錢）　元參（一錢五分）　鬱金（一錢）　鮮生地（五錢）　丹皮（一錢）　連翹心（二錢）　石菖蒲根（六分）　竹葉心（一錢五分）　至寶丹</p>
<h2>冬溫伏邪</h2>
<p>虞（三〇）寒熱交作。頭痛口渴。夫寒傷營。風傷衛。表裡邪踞兩日。時發腹痛。膝痛。脈浮自汗。此皆冬令寒暖不勻。感冒時邪。至春陽氣發泄。伏邪內動。治與瘧病兩岐。</p>
<p>蘇梗（一錢）　淡黃芩（一錢）　桔梗（一錢）　淡豆豉（一錢五分）　杏仁（三錢）　黑山梔（一錢五分）　厚朴（一錢）</p>
<p>陸（八歲）溫邪內郁。寒熱如瘧。不與少陽同例。</p>
<p>淡豆豉（一錢五分）　杏仁（三錢）　桔梗（一錢）　厚朴（一錢）</p>
<p>淡黃芩（一錢）　連翹（一錢五分）　黑山梔（一錢五分）</p>
<h2>暑</h2>
<p>陳（廿七）擬清暑法。</p>
<p>香薷　杏仁　滑石　淡黃芩　製半夏　栝蔞皮　厚朴顧（廿五）暑溫伏邪。頭痛脘悶。身熱吐蛔。</p>
<p>香薷（八分）　製半夏（一錢五分）　枳實（一錢）　淡黃芩（一錢）　杏仁（三錢）　小川連（六分）　厚朴（一錢五分）</p>
<p>蘇（廿六）暑濕未清。舌白脘悶。脈象濡弱。口渴便溏。據述始由奔走氣亂。肺氣　郁。有升無降。繼則漫布三焦。</p>
<p>所以身熱。不為汗衰。服苦寒辛寒方。法屬無益。想三焦為氣之父。是氣之郁。暑濕交阻。所藉在上。清陽舒展。濕邪自能趨下。溫去自然熱清耳。</p>
<p>大豆卷（三錢）　鬱金（一錢）　苡仁（二錢）　飛滑石（三錢）　杏仁（三錢）　川通草（一錢）　木防己（一錢五分）</p>
<p>徐（八歲）泄瀉日旺。陷腹痛。此屬冒暑。</p>
<p>藿香葉（一錢）　製半夏（一錢五分）　南楂炭（一錢五分）　飛滑石（三錢）　陳皮（一錢）　赤苓（三錢）　炒厚朴（一錢）</p>
<p>陸（六四）服清暑方。頭重舌黃如昔。軀痛咳痰皆緩。而大便不解。渴思冷凍飲料。不飢痞悶。噯氣頻頻。明是暑挾濕邪踞上焦氣分。致氣為所阻之象。但高年辛寒苦寒。恐妨胃口。多所誤用。因擬辛溫。宣達通陽。</p>
<p>香薷（八分）　製半夏（一錢五分）　連翹（一錢五分）　白蔻仁（七分）</p>
<p>廣皮（一錢）　淡竹葉（一錢）　鬱金（一錢）</p>
<p>岑（四二）壯熱微寒。舌絳渴飲。脈右寸關空大。左細小。議景岳玉女煎。去牛膝、麥冬。加丹皮、竹葉、川貝。</p>
<p>原熟地（四錢）　生石膏（四錢）　嫩竹葉（一錢五分）　川貝（去心研，一錢五分）　知母（一錢）　生甘草（三分）　粉丹皮（一錢五分）　此方不應又　舌絳口渴。已刻寒栗而後身熱。詢手肢麻木。足少陰、厥陰二臟。真陰殆盡。陽不肯潛伏。頻渴究不能救其焚燎。經旨所謂入肝則麻痹。入腎為消渴。肝腎之邪。邪深逍遙。辛寒。辛涼。苦泄。俱未能入於至陰之地。仿古濁藥輕投。不致因循貽變。</p>
<p>濃熟地（四錢）　上清阿膠（另烊沖，二錢）　炙甘草（四分）　揀麥冬（一錢五分）　大麻仁（一錢五分）　淡天冬（一錢五分）　洋參（八分）</p>
<p>董　右脈短數。左脈細數。寤而少寐。身涼而有寒熱。時作氣喘。脘悶舌白。此屬熱邪內陷。大為重候。姑擬清泄少陰之裡。與解少陽之表合方。候高明正。</p>
<p>霜桑葉　鮮生地　黑山梔　香犀角　嫩元參　川貝　連翹心　粉丹皮　加茅根又　昨進清提方法。脈數已緩。氣急已退。得汗安寐。邪解之象。內陷無從再慮。前方可以漸愈。</p>
<p>香犀角（六分）　草鬱金（一錢）　川貝（去心研，一錢五分）　鮮生地（五錢）　連翹心（一錢五分）</p>
<p>黑山梔（一錢五分）　霜桑葉（一錢）　粉丹皮（一錢五分）　加茅根（五錢）　荷葉（一角）</p>
<p>又　脘痹噫噯稍舒。擬疏肝泄肺。以理余邪。</p>
<p>紫菀（一錢）　泡白杏仁（二錢）　草鬱金（一錢）　炒香淡豉（一錢五分）　栝蔞皮（一錢五分）　黑山梔（一錢五分）　羚羊角（一錢）　桔梗（八分）</p>
<h2>濕</h2>
<p>鳳（四八）頭重若裹。胸悶不食。並不渴飲。脈小。便溏。此屬濕邪阻蔽氣分。</p>
<p>白蔻仁（五分）　製半夏（一錢五分）　赤苓（三錢）　綿茵陳（三錢）　杏仁（三錢）　飛滑石（三錢）　厚朴（一錢）</p>
<p>王（四三）頭脹脘悶。便溏。肢節痛。目　黃。此屬濕邪阻閉氣分。鬱而不宣。久則化熱。傳為癉瘧。</p>
<p>綿茵陳（三錢）　製半夏（一錢一分）　飛滑石（三錢）　白蔻仁（五分）　杏仁（三錢）　茯苓皮（三錢）　厚朴（一錢）</p>
<p>岑　仍議育陰清邪。</p>
<p>原生地（四錢）　揀麥冬（一錢五分）　西洋參（八分）　豆皮（一錢五分）　上清一阿膠（二錢）</p>
<p>云茯神（二錢）　川斛（一錢五分）　炙甘草（五分）　加九孔石決明（　研，三錢）</p>
<p>又　舌絳已退。渴飲。身熱未除。</p>
<p>川斛　原生地　連翹心　南花粉　西洋參　粉草　揀麥冬　豆皮又　身涼渴解。</p>
<p>原生地（四錢）　洋參（四分）　白蒺藜（一錢五分）　揀麥冬（一錢五分）　粉草（三分）　塊茯苓（三錢）　川斛（一錢五分）　新會皮（鹽水炒，一錢）</p>
<h2>燥</h2>
<p>蘇（廿五）肺胃素虛。咽乾唇裂。上　干痛。頻渴不多飲。脈偏大於右寸。此屬秋燥致傷。擬甘寒生津。</p>
<p>霍石斛（一錢）　北沙參（一錢五分）　麥冬（二錢）</p>
<p>鮮生地（五錢）　玉竹（二錢）　生甘草（三分）</p>
<p>曹（三一）右脈數搏。肺胃交衰。鼻頭脹。咽乾。咯血。頻渴不多飲。此屬溫邪化燥。良由陰分不足所致。擬清氣中熱。未許速痊。</p>
<p>霜桑葉　杏仁　連翹殼　大沙參　地骨皮　黑山梔　象貝母　南花粉沈婦（廿八）唇裂頻嘔。口乾頭痛。不寐足冷。左脅向有瘕聚。便秘。胸腹熱熾。面色黃。脈左關弦大。右寸搏大。</p>
<p>此屬溫燥內郁。喉間呼吸有聲。是症雖屬痰喘之象。但麻黃一味大謬。議喻嘉言清燥救肺湯合肺肝之治。</p>
<p>霜桑葉（一錢）　生石膏（三錢）　白蒺藜（二錢）　鮮生地（五錢）　杏仁（三錢）</p>
<p>石決明（三錢）　揀麥冬（三錢）　生甘草（二分）　大麻仁（一錢五分）　加鮮枇杷葉二張（去毛，蜜炙）</p>
<p>又　嘔頻稍減。唇裂退。</p>
<p>霜桑葉　炒石膏　揀麥冬　真阿膠　杏仁　白蒺藜　制洋參　鮮生地　生甘草　加枇杷葉（三錢）</p>
<p>又　嘔大減。潤肺燥。益肝液。</p>
<p>鮮枇杷葉　北沙參　紫石英　白蒺藜　真川貝　真阿膠　甜杏仁　揀麥冬　炙鱉甲　霍山石斛　黑芝麻又　嘔減。潮熱。咳乃脹痛。肝脈仍弦。大便秘。肺胃衰。肝陰虧。肝火上越。</p>
<p>紫菀草（一錢）　揀麥冬（三錢）　白蒺藜（二錢）　甜杏仁（三錢）　紫石英（五錢）　郁李仁　真石斛（二錢）</p>
<p>真阿膠（二錢）　咸蓯蓉（五錢）　鮮枇杷葉（三錢）　小川蓮（三分）</p>
<h2>疫</h2>
<p>凌（六八）溫疫自口鼻吸入。由肺葉干於心包絡。神識不清。左脈洪大。煩渴。鼾聲。胸背間赤疹隱約。溫邪鬱遏。</p>
<p>意有潰爛之形。是水穀之濕熱交蒸。蘊於皮膜。蘊濕釀熱而成毒。非清非散。熱邪無發泄之機。三焦交熾喉啞繼起。舌色如赭。此溫疫為化火化燥之因。勢防熱邪內陷。原屬可慮。擬以滋清營分。兼佐泄邪。俾得絡熱稍清。庶幾轉機為幸。未識高明以為然否。</p>
<p>犀角（一錢）　鮮生地（八錢）　鬱金（一錢）　牛蒡子（三錢）　銀花（一錢）</p>
<p>黑元參（一錢五分）　連翹心（二錢）　石菖蒲根（六分）　紫雪丹（三分）</p>
<h2>疹</h2>
<p>謝（三九）兩脈洪數。夜躁不寐。熱盛煩渴。　疹未透。擬清胃腑熱邪。兼以疏　。</p>
<p>犀角　鮮生地　花粉　羚羊角　連翹心　銀花　牛蒡子　嫩元參錢（八歲）感冒時邪。身熱脈數。已經見　。</p>
<p>犀角（一錢）　鬱金（一錢）　嫩元參（一錢五分）　牛蒡子（一錢五分）　花粉（一錢五分）　黑山梔（一錢五分）　連翹（一錢五分）　銀花（一錢）　加蘆根（一兩）</p>
<p>戴（四八）時疫未經宣透。邪已蘊結陽明。見症煩渴。昏譫不寐。兩脈洪數。分明發　。閱方發散傷陽。苦寒損胃。</p>
<p>總非腑病所宜。擬涼膈疏　。請備參末議。</p>
<p>犀角　鬱金　嫩元參　牛蒡子　花粉　銀花　連翹心　石菖蒲根　紫雪丹（一分）</p>
<p>雷（十三）溫邪發疹。煩渴少寐。兩脈獨大。</p>
<p>牛蒡子（炒研，三錢）　杏仁（去尖研，三錢）　連翹殼（一錢五分）　羚羊角（一錢）　桔梗（一錢）</p>
<p>黑山梔（一錢五分）　薄荷梗（一錢）　加蘆根（一兩）　茅根（五錢）</p>
<p>楊（二八）疹邪胸背已齊。脈右軟短。煩渴熱頻。少寐。舌白。蛔厥。大便不解。仍議清疏營絡透疹。</p>
<p>香犀角　鮮生地　桔梗　牛蒡子　草鬱金　嫩元參　薄荷葉　連翹心　黑山梔　小川連　加蘆根又　煩渴昏譫。便秘。疹隱太早。冒風所致。</p>
<p>牛蒡子（二錢）　蟬衣（二錢）　桔梗（一錢）　荊芥（一錢五分）　赤芍（一錢五分）　連翹（一錢五分）　生石膏（四錢）　黑山梔（一錢五分）　杏霜（三錢）　加蘆根（一兩）</p>
<p>又　熱勝渴煩。辛寒清徹。</p>
<p>牛蒡子（二錢）　生石膏（四錢）　蟬衣（五分）　荊芥穗（一錢）　杏霜（三錢）　知母（一錢五分）　薄荷葉（八分）　連翹（一錢五分）　黑山梔（一錢五分）　加蘆根（一兩）</p>
<p>吳葛根（八分）　牛蒡子（二錢）　粉丹皮（一錢）　連翹（一錢五分）　荊芥（一錢）　甜杏仁（二錢）　犀尖（八分）　加蘆根（五錢）　西河柳（二錢）</p>
<h2>痰</h2>
<p>田（六歲）驚邪內熾。痰壅神昏。身熱脈大。兩眼蒙閉。寤不轉側。症屬棘手。所喜舌苔津液未涸。尚有一線生機。</p>
<p>小川連（四分）　製半夏（一錢五分）　鬱金（一錢）　陳膽星（五分）</p>
<p>橘紅（一錢）　石菖蒲根（六分）　川貝（去心研，二錢）　連翹心（一錢五分）</p>
<h2>痰飲</h2>
<p>凌（六三）背寒脅痛。咳暮劇。並不渴飲。此屬飲邪。</p>
<p>粗桂枝（一錢）　杏仁（二錢）　五味子（三分）　淡乾薑（五分）　製半夏（一錢五分）　炙草（五分）　茯苓（三錢）</p>
<p>管（四九）脈象沉弦。背寒肢冷。咳嗽暮劇。並不飲渴。此屬飲邪。議溫藥和之。</p>
<p>粗桂枝（一錢）　製半夏（一錢五分）　炙草（五分）　杏仁（二錢）　枳實（一錢）　茯苓（三錢）　淡乾薑（五分）</p>
<h2>郁</h2>
<p>高（廿二）潮熱腹痛。經事愆期。脈象沉弦。氣衝欲嘔。此屬肝鬱。木不條達。宜泄少陽。補太陰。進逍遙方。</p>
<p>柴胡（七分）　鬱金（一錢）　製香附（三錢）　當歸（一錢五分）　丹皮（一錢五分）　茯苓（三錢）　炒白芍（一錢五分）</p>
<p>嚴（三三）情志隱曲不伸。五心之陽皆燃。蒸痰阻咽。頻呃噯氣。納穀脘中不爽。在上清陽日結。擬治肺以展氣化。</p>
<p>不致氣機郁痹。</p>
<p>鮮枇杷葉（三錢）　鬱金（一錢）　桔梗（一錢）　杏仁（三錢）　栝蔞皮（一錢五分）　黑山梔（一錢五分）　川貝母（二錢）</p>
<p>蔡（三八）中懷郁勃。氣不展舒。脈數脘痹。頭目如蒙。胸脅隱痛。寤而少寐。此屬鬱火。宜當清散。</p>
<p>桑葉　鬱金　連翹殼　羚羊角　栝蔞皮　青菊葉　淡豆豉郭（四五）擬越鞠法。</p>
<p>香附汁（三錢）　製半夏（一錢五分）　丹皮（一錢五分）　撫芎（八分）　橘紅（一錢）　黑山梔（一錢五分）</p>
<p>南楂炭（一錢五分）</p>
<h2>肝火</h2>
<p>繆（三八）頭目如蒙。寤而不寐。胸膈隱痛。脘痹不飢。非關食滯。氣火有餘。擬清散理上為宜。</p>
<p>羚羊角（一錢）　鬱金（一錢）　鮮生地（一兩）　淡豆豉（一錢一分）　栝蔞皮（一錢五分）　霜桑葉（一錢）</p>
<p>連翹（一錢）　青菊葉（四片）</p>
<p>張（三六）肝陽犯胃。厥心痛。嘔吐妨食。肢冷脈弦。</p>
<p>川楝子　製半夏　製香附　炒延胡　鬱金　茯苓　生白芍　炒橘紅又　昨進苦辛方。嘔吐已止。諸痛皆減。肝陽雖平。而耳鳴。咽乾頻渴。惡心脘痹。想六氣都從火化。所以頭面清空諸竅。皆為肝火蒙閉。再擬清散。亦為內經之其上可引。勿越之。之義也。</p>
<p>青菊葉（三錢）　鮮生地（一兩）　鬱金（一錢）　栝蔞皮（一錢五分）　霜桑葉（一錢）　黑山梔（一錢五分）　羚羊角（一錢）　連翹（一錢五分）</p>
<h2>不寐</h2>
<p>梅（三六）昨進涼解方。身熱已止。口渴亦減。是邪解之象。但嘔吐妨食。寤而少寐。余邪未清於胃腑。經云。胃不和則臥不安。擬溫膽湯。</p>
<p>鮮竹茹（一錢五分）　製半夏（一錢五分）　茯苓（二錢）　枳實（二錢）　橘紅（一錢）　薑汁（沖入，一錢）</p>
<p>川石斛（三錢）</p>
<p>車（三一）不寐多日。氣逆欲嘔。此屬肝陽上升。陽不下交於陰所致。進酸棗仁湯。</p>
<p>酸棗仁（炒黑切研，三錢）　知母（四錢）　茯苓（一錢）　生甘草（三錢）　川芎（五分）</p>
<p>潘（三五）脈細面白。寤不成寐。歸脾湯主之。</p>
<p>嫩黃　（三錢）　焦於朮（二錢）　遠志（五分）　當歸（一錢五分）　炙草（五分）　棗仁（三錢）　茯神（二錢）　龍眼肉（三錢）</p>
<p>鐘（四五）痢久傷陰。痢止瀉減。脈象右微。瀉血一次。頗多。汗泄不寐、心、脾、肝、腎皆虧。陽氣不肯下交於陰。臟病散。難奏效。深慮反覆。議養榮湯去桂、芍、遠志、陳皮。加棗仁。</p>
<p>人參（五分）　炙黃　（二錢）　炙草（五分）　炒松熟地（四錢）　五味子（三分）　當歸（一錢五分）　茯神（二錢）　棗仁（炒焦研，二錢）　甜冬術（二錢）　加桂圓肉（二錢）</p>
<p>又　議人參養榮湯去桂、薑、棗。</p>
<p>人參（五分）　綿黃　（三錢）　炙草（五分）　甜冬術（二錢）　原熟地（四錢）　當歸（一錢五分）　五味子（三分）　陳皮（一錢）　生白芍（一錢五分）　茯苓（二錢）　遠志（去心研，四分）　加左牡蠣（二錢）　龍骨（研，一錢）</p>
<p>又　兩顴赤色。陰火上升。口乾汗泄。少寐。下純血已止。此血由經阻三月。心主血。肝藏血。脾統血。三陰大虧。</p>
<p>經斷瘀阻。乃溫補內托。而始下此病根也。與痢症下純血例於不治之條迥異。然前方已臻小效。脈右微已振。左脈稍濡。腹痛忽冷忽熱。踞於少腹。腹為陰是也。酸水涌溢不止。木邪何疑。當此氣血交虧。無清火法。必得導火歸原。方是治病法程。仍議人參養營湯去當歸、薑。</p>
<p>人參（另煎沖，五分）　嫩黃　（三錢）　炙草（五分）　淮熟地（五錢）　五味子（三分）　炒焦白芍（一錢五分）　甜冬術（二錢）　遠志（去心研，四分）　云茯神（二錢）　陳皮（一錢）　加大棗（二枚）</p>
<h2>嘈雜</h2>
<p>申（三〇）胃虛嘈雜。</p>
<p>川斛（三錢）　生地（三錢）　柏子仁（二錢）　豆皮（二錢）　麥冬（二錢）　茯神（二錢）　生白芍（一錢五分）　炙草（五分）</p>
<p>馮（四一）經半月一至。夜嘈痛。此屬肝陰久虧。肝陽化內風沖突所致。</p>
<p>小生地（二錢）　麥冬（二錢）　柏子仁（二錢）　清阿膠（二錢）　丹參（一錢五分）　茯神（二錢）　生白芍（一錢五分）　牡蠣（三錢）</p>
<h2>三消</h2>
<p>顧（四〇）肺胃交熾。右脈數搏。消渴善飢。此屬中上消症。擬甘寒方。</p>
<p>鮮生地（一兩）　清阿膠（二錢）　粳米（二錢）　生石膏（五錢）　麥冬（二錢）　生甘草（三分）　知母（一錢）</p>
<p>林（三六）熱勝渴飲。甘寒是用。</p>
<p>川斛（三錢）　生石膏（五錢）　粳米（三錢）　清阿膠（二錢）　知母（一錢五分）　生甘草（三分）　生白芍（一錢五分）</p>
<p>金（三八）渴飲頻飢。小溲混濁。此屬腎消。元陽變動為患。非客熱臻此。</p>
<p>熟地（四錢）　淡天冬（二錢）　山藥（二錢）　龜版膠（二錢）　牛膝（三錢）　茯苓（三錢）　萸肉（二錢）　知母（一錢）　麥冬（二錢）</p>
<p>龔（五四）頻渴易飢。肌肉消瘦。小便淋瀝。此屬下消大病。</p>
<p>熟地（四錢）　山藥（二錢）　茯苓（二錢）　萸肉（二錢）　牛膝（二錢）　澤瀉（一錢）　丹皮（一錢五分）</p>
<p>車前（一錢五分）</p>
<p>葉（四八）肺胃交熾。頻渴易飢。玉女煎加引。</p>
<p>鮮生地（一兩）　揀麥冬（三錢）　粳米（三錢）　生石膏（五錢）　牛膝（三錢）　生甘草（三分）　知母（一錢五分）</p>
<h2>脾痹</h2>
<p>吳（三二）形體豐肥。素嗜甘美。近起口甜。是脾胃伏熱未清。古稱脾痹。而不飢不食。多屬有諸。</p>
<p>鮮竹茹（二錢）　製半夏（一錢五分）　川連（六分）　枳實（一錢）　橘紅（一錢）　黑山梔（一錢五分）　佩蘭葉（一錢五分）</p>
<p>貝（三〇）熱邪蘊結中焦。不飢不食。口甜。此屬脾痹。</p>
<p>佩蘭葉（三錢）　製半夏（一錢五分）　枳實（一錢）　竹茹（一錢五分）　橘紅（一錢）　川連（四分）　塊茯苓（三錢）</p>
<h2>瘧</h2>
<p>李（十一）暑濕內郁成瘧。前投涼解方。牙宣血溢已止。脈象稍平。而寒已減。熱未退。脘悶舌白。痰多溲赤。醫者一誤於升、柴、蘇、菖並用。過於升泄。復繆於鹿角霜溫理奇陽。非獨不能已疾。轉能益疾。致有前日血溢之恙。今雖小安。而在裡之濕熱。尚未盡透。茲當以梔豉湯以引裡邪出之於表。是亦瘧症驅邪之出路。</p>
<p>淡豆豉（一錢五分）　杏仁（三錢）　草鬱金（一錢）　黑山梔（一錢五分）　橘紅（一錢五分）　滑石（三錢）</p>
<p>連翹（一錢五分）　川貝（去心研，二錢）　栝蔞皮（一錢五分）　加嫩竹葉（十片）</p>
<p>顧（三六）寒熱頭痛。脘悶頻渴。脈弦滑。從少陽開泄。</p>
<p>柴胡（八分）　製半夏（一錢五分）　草果仁（七分）　淡黃芩（一錢）　廣皮（一錢）　赤苓（三錢）　厚朴（一錢）</p>
<p>王（三四）久瘧頻嘔。木邪傷土。陽明厥陰同治。</p>
<p>川連　製半夏　草果仁　淡乾薑　黃芩　茯苓　生白芍（一錢五分）　炒焦烏梅肉（五分）</p>
<p>慕（九歲）昨進泄少陽方。瘧邪未止。寒少熱多。渴飲無度。嘔吐脈數。神煩汗泄。面赤。大便四日未解。當此深秋燥邪。內投苦寒攻胃。冀其瘧緩。已屬非法。投是辛寒。佐以甘緩。恰符仲景陰氣先傷。陽氣獨發之旨。</p>
<p>鮮生地（五錢）　麥冬（二錢）　粳米（三錢）　知母（一錢）　生石膏（三錢）　生甘草（四分）　卷心竹葉（一錢五分）</p>
<p>蘇（三〇）瘧來間日。頭痛渴飲。此屬暑瘧。</p>
<p>香薷（七分）　杏仁（三錢）　飛滑石（三錢）　淡黃芩（一錢）　製半夏（一錢五分）　草果仁（八分）　厚朴（二錢）　赤苓（三錢）</p>
<p>施（十八）寒熱已久。左脅瘕聚。邪入肝絡矣。</p>
<p>生牡蠣（三錢）　歸須（一錢）　炒延胡（一錢）　炙鱉甲（一兩）　炒桃仁（一錢）　桂枝（八分）　柴胡（五分）</p>
<p>虞（十一）面赤痹熱。惡心嘔吐。神煩汗泄。衄血。脈大。並不渴飲。此屬心經熱瘧。熱邪迫於肺胃所致。清心熱。</p>
<p>涼肺胃。可不悖矣。</p>
<p>犀角（八分）　丹皮（一錢）　知母（一錢）　細生地（三錢）　元參（一錢五分）　生甘草（三分）　連翹心（一錢五分）　麥冬（一錢五分）　竹葉（一錢五分）</p>
<p>錢（十二）寒多熱少。移早則邪達於陽。跗腫。腹脹。面浮。皆太陰病。宜緩治。</p>
<p>草果仁（煨研，五分）　製半夏（一錢五分）　赤苓（三錢）　厚朴（一錢）　黃芩（一錢）　知母（一錢）　小青皮（一錢）</p>
<p>錢（八歲）沖年三虐。寒熱俱重。邪深而入客於陰。即瘧來日遲之謂。非陰虛之謂也。然腹脹。口不煩渴。胃納頗減。太陰見症。當溫疏裡邪。</p>
<p>草果仁（五分）　川桂枝（八分）　生薑（一錢）　知母（一錢）　杏仁（三錢）　茯苓（三錢）　厚朴（一錢）　製半夏（一錢五分）</p>
<h2>泄瀉</h2>
<p>朱（三二）暑濕內踞。脘悶泄瀉。議通三焦。</p>
<p>藿香葉（一錢）　製半夏（一錢五分）　赤苓（三錢）　飛滑石（三錢）　木瓜（一錢）　南楂炭（一錢五分）　炒厚朴（二錢）</p>
<p>姚（三五）暑邪內郁。脾胃不和。泄瀉。</p>
<p>藿香（一錢）　炒扁豆（三錢）　茯苓（三錢）　南楂炭（一錢五分）　木瓜（一錢）　澤瀉（一錢）　厚朴（一錢）　廣皮（一錢）　炒砂仁（五分）</p>
<p>倪（十三）稟質最薄。滑泄不止。</p>
<p>焦白朮（二錢）　炒焦穀芽（一錢五分）　茯苓（三錢）　益智仁（五分）　廣皮（一錢）　澤瀉（一錢）　厚朴（一錢）　薑炭（三分）</p>
<p>徐（五歲）潮熱泄瀉。口渴已久。脫肛初愈。</p>
<p>煨葛根（八分）　大神麯（一錢五分）　豬苓（一錢）　焦於朮（一錢五分）</p>
<p>淡芩（一錢）　澤瀉（一錢）　土炒白芍（一錢五分）　大麥芽（一錢）</p>
<p>湯（六歲）泄瀉腹痛。嘔惡頭汗。在沖年總屬脾胃氣餒。從經旨後泄腹痛例。擬建中滲濕方。</p>
<p>焦白朮（一錢五分）　炒扁豆（三錢）　茯苓（三錢）　苡仁（二錢）　木瓜（一錢）　澤瀉（一錢）　南楂炭（一錢五分）　廣皮（一錢）</p>
<p>又　泄瀉腹痛。嘔惡頭汗。全是脾胃病。前服建中滲濕之劑。瀉痛悉減。惡心汗泄仍在。經云。諸嘔吐逆。皆屬於火。恐脾傳腎。而變焉滯下之患。仿仲景瀉心湯意。</p>
<p>炒小川連（四分）　製半夏（一錢五分）　吳萸（七分）　炮淡黃芩（一錢）　木瓜（炒，一錢）　茯苓（二錢）　生白芍（一錢五分）</p>
<p>葉（三八）脾腎兩衰。腹鳴晨泄。陽微所致。</p>
<p>淡吳萸（七分）　淡補骨脂（一錢）　建蓮（三錢）　煨肉果（三分）　炒菟絲餅（一錢五分）　山藥（炒，二錢）</p>
<p>茯苓（三錢）　五味子（一錢五分）</p>
<p>王（三八）前議扶胃疏瘀方。瘕瀉大減。少腹微痛。腰微酸楚。寤而少寐。惡露已淨。督虛背寒。總屬妊去液傷。</p>
<p>絡脈空隙。投溫防燥。過潤恐清。均非產後至當之法。然瘕泄已減。殆非溫下之品。無以入於至陰之地。擇其溫而不燥。</p>
<p>潤而不清者。治之自有並行不悖之妙。</p>
<p>鹿角霜（三錢）　炒香菟絲餅（一錢）　茯苓（三錢）　當歸（一錢五分）　杜仲（炒，二錢）　炙草（五分）　炒黑小茴（六分）　小生地炭（三錢）　遠志（炒，四分）</p>
<h2>痢</h2>
<p>高（廿三）濕熱內聚。腹痛。下痢初起。當分消兼清裡邪。</p>
<p>青皮　煨木香　淡黃芩　炒厚朴川連　南楂炭　檳榔殷（七歲）腹痛。下痢無度。渴煩肛墜。議用分消。兼佐升提。</p>
<p>青皮（一錢）　炒白芍（一錢五分）　煨升麻（五分）　炒厚朴（一錢）　炙草（五分）　醋炒柴胡（五分）　南楂炭（一錢五分）　廣皮（一錢）</p>
<p>又　下痢純血。氣陷肛墜。昨用升舉。原得小安。未能全退。想在裡濕熱未清。再當酸苦泄熱。</p>
<p>小川連　炒焦白芍　炒當歸　北蓁皮　炙甘草　石蓮肉　炒黃柏　烏梅肉陳（六三）濕熱內聚。腹痛下痢。惡心眩暈。痞悶不飢。此屬高年肝陰久虧。肝陽乘陽明上胃。最有身熱之虞。擬苦辛宣通。佐以和陰。</p>
<p>淡黃芩（一錢）　製半夏（一錢五分）　藿香葉（一錢）　川連（八分）　枳實（一錢）　飛滑石（三錢）　生白芍（一錢五分）　淡乾薑（五分）</p>
<p>錢（廿八）暑濕內伏。下痢腹痛。擬分消主之。</p>
<p>青皮（一錢）　煨木香（六分）　藿香葉（一錢）　炒厚朴（一錢）　炒廣皮（一錢）　六一散（包，三錢）　南楂炭（三錢）　淡黃芩（一錢）</p>
<p>馮（三二）赤痢月余。近日無度。因始病未經清理。致溫熱變遷。釀成厥陰下痢。今已身熱腹痛。後重裡急。胸痞不食。嘔惡頻加。腑氣欲絕之驗。昔賢雖有通澀二法。憑症難施。參仲景厥陰下痢篇。勉擬連芍苦辛之屬。假其降火制肝之義。使其木得條達。則土自敦阜。俾得安穀。再商治痢。</p>
<p>吳萸炒川連（四分）　炒半夏（二錢）　川楝子（二錢）　淡乾薑（一錢）　枳實（一錢）　茯苓（二錢）　生白芍（一錢五分）　香粳米（三錢）</p>
<p>桂（三二）昨進疏泄。得汗邪解。身涼咽痛亦愈。詢久臥濕地。蘊釀濕熱。致腹痛下痢。並不渴飲。述嗔怒未曾發泄。是肝陽郁勃於中。臟土早熱。治宜分消。</p>
<p>青皮（一錢）　煨木香（五分）　赤苓（三錢）　炒厚朴（一錢）　淡黃芩（一錢）　澤瀉（一錢）　楂炭（一錢）</p>
<p>加老薑（三分）</p>
<h2>便血</h2>
<p>楊（廿三）腸風便血。腹痛。脈濡弱。脾胃氣餒。擬疏風、涼血、和陰。</p>
<p>荊芥穗　炒白芍　炒銀花　丹皮　炙草　地榆炭　炒當歸高（三四）濕熱壅於脾絡。腑腸空隙。糞前先有血下。然脾屬柔臟。非剛不能蘇陽。</p>
<p>茅朮炭　新會皮　炒銀花　川黃柏　地榆炭　煨葛根　厚朴　炒焦荷蒂沈（四五）便後下血。屬遠血也。</p>
<p>細生地　炒黑槐花　酒炒黃芩　炒丹皮　柿餅灰　地榆炭曹（十六）春源氣泄。少陽木火。乘太陰脾陽愈竭。腹中微痛。便後始有血下。</p>
<p>焦白朮　桑葉　茯苓　當歸　丹皮　澤瀉　地榆炭凌（四六）濕勝中虛。便紅已久。</p>
<p>炒黑樗根皮（一錢）　炒黑地榆（三錢）　茯苓（二錢）　當歸炭（一錢五分）</p>
<p>炒焦丹皮（一錢五分）　炒澤瀉（一錢）　炒槐花（一錢）</p>
<p>程（六歲）當臍腹痛。晨泄數次便血。不嗜食飲。沖年脾胃氣滯。兼生冷內停。當和中、疏滯、驅寒。</p>
<p>焦白朮（二錢）　南山楂（一錢五分）　炙草（五分）　煨益智（五分）　當歸（一錢）　炮薑（六分）　厚朴（一錢）　地榆炭（一錢五分）</p>
<h2>霍亂</h2>
<p>汪（十三）暑濕內踞。上吐下瀉。擬宣達脾胃之陽。</p>
<p>藿香葉（一錢）　製半夏（一錢五分）　赤苓（三錢）　飛滑石（三錢）　木瓜（一錢）　南楂炭（一錢五分）　厚朴（一錢）</p>
<p>范（廿八）暑濕內蘊。上嘔吐。下洞泄。擬宣通三焦。</p>
<p>廣藿香（一錢）　製半夏（一錢五分）　六一散（三錢）　炒厚朴（一錢五分）　廣皮（一錢）　茯苓皮（三錢）　南楂炭（二錢）</p>
<p>汪（十二）身熱腹痛。嘔逆便泄。</p>
<p>鮮藿香葉（一錢）　製半夏（一錢五分）　赤苓（二錢）　朱砂六一散（三錢）　木瓜（一錢）　南楂炭（二錢）　炒厚朴（一錢五分）　淡黃芩（一錢）</p>
<h2>脫肛</h2>
<p>駱（八歲）稚年肛墜。擬升提法。</p>
<p>焦白朮（二錢）　炒白芍（一錢五分）　炒廣皮（一錢）　炒歸身（一錢）　炙草（四分）　烏梅肉（八分）　柴胡（醋炒六分）　升麻（醋炒五分）</p>
<p>蘇（六八）肛挺翻出。痛墜窘迫。向暮之年。氣虛下陷。與沖子升柴可舉迥異。但是痛必有瘀熱蘊結於下。益氣攝陰之中。少佐苦泄。所謂臨症權衡。當以如盤走珠可也。</p>
<p>熟地炭（三錢）　黨參（一錢）　炒白芍（一錢五分）　歸身（一錢五分）　焦白朮（二錢）　炙草（五分）　炒黃柏（一錢）　五味子（一錢五分）</p>
<p>吳（五八）向衰肛墜。起於痢病初愈。非獨氣虛下陷。而痢必傷陰。議投溫補內托。迥異升提。</p>
<p>熟地炭（四錢）　補骨脂（一錢）　茯苓（三錢）　當歸（一錢五分）　五味子（一錢五分）　炙草（五分）　鹿角霜（三錢）　大茴香（四分）</p>
<h2>痿</h2>
<p>毛（六二）足跗軟。面乏華色。宗經旨肺熱葉焦。則生痿　之義。</p>
<p>霜桑葉（一錢）　甜杏仁（三錢）　地骨皮（一錢五分）　玉竹（二錢）　苦百合（五錢）　麥冬（三錢）　大沙參（一錢五分）</p>
<p>湯（三二）痿　。左足偏枯。步履皆廢。兩脈澀弱。背脊喜捶。此屬腎虛。失於收納。藏聚少司。病根在下。當與虎潛意。</p>
<p>全當歸（一錢五分）　金狗脊（三錢）　茯苓（三錢）　虎脛骨（三錢）　川斷（二錢）　萆　（三錢）　淡蓯蓉（三錢）</p>
<p>許（三六）痿　足不任身。擬治痿取陽明之義。</p>
<p>制茅朮（二錢）　生杜仲（二錢）　萆　（二錢）　川黃柏（一錢）　淡蓯蓉（二錢）　茯苓（三錢）　牛膝（三錢）</p>
<p>王　二氣交衰。擬溫裡托邪。</p>
<p>嫩毛鹿角（三錢）　枸杞子（三錢）　西黨參（二錢）　當歸身（三錢）　新會皮（一錢）　炙草（五分）　淡蓯蓉（三錢）　遠志（八分）　酸棗仁（炒焦研，三錢）　原熟地（四錢）　大白芍（二錢）　抱木茯神（二錢）</p>
<h2>痹</h2>
<p>褚（四八）痹痛。汗泄甚多。濕邪較風寒二氣更勝。擬護陽法。從汗多亡陽例。仍佐驅邪。</p>
<p>生黃　（三錢）　海桐皮（一錢）　粗桂枝（八分）　當歸（一錢五分）　片薑黃（一錢）　生於朮（二錢）　防風根（六分）　川獨活（五分）</p>
<p>沈（三七）風濕相搏。歷節痛。四肢麻木。此屬周痹。</p>
<p>粗桂枝（八分）　木防己（一錢五分）　海桐皮（一錢）　羚羊角（一錢）　晚蠶砂（一錢）　片薑黃（一錢）　川萆（二錢）　酒炒桑枝（一兩）</p>
<p>又　風濕麻痹。服苦溫方。痛勢已緩。所有入暮口乾。當兼佐以甘潤。</p>
<p>羚羊角（一錢）　甜杏仁（三錢）　苡仁（二錢）　晚蠶砂（二錢）　南花粉（二錢）　木防己（一錢五分）　桂枝（五分）</p>
<h2>痙厥</h2>
<p>吳（廿八）面青汗泄。不寐。諸陽一並為厥之後。寒戰肢掣。牽引陽升。便秘。是肝腎內衰之征。往往有驟脫之虞。</p>
<p>此止厥甚難。勉擬經旨肝苦急。急食甘以緩之。甘麥大棗東加阿膠、牡蠣、棗仁、茯神。</p>
<p>阿膠（二錢）　炙甘草（五分）　牡蠣（三錢）　淮小麥（一錢五分）　南棗（三錢）　棗仁（三錢）　茯神（二錢）</p>
<h2>癲癇</h2>
<p>顧（四六）神識如醉。厥陽上並。志意不樂。有時叫喊。凡動皆陽。諸靜為陰。此屬熱痰阻蔽靈機。經云。重陽者狂。重陰者癲。議降肝膽相火。</p>
<p>羚羊角（一錢）　化橘紅（一錢）　陳膽星（五分）　龍膽草（一錢）　天竺黃（一錢）　石菖蒲（六分）　遠志（七分）</p>
<h2>衄</h2>
<p>陶（廿四）陽升衄血。擬涼解肺胃法。</p>
<p>犀角　連翹　元參　細生地　炒牛膝　黑山梔　丹皮　炒黑側柏葉曹（廿八）鼻衄已止。面白無神。脈細音嘶。血脫恐氣無所歸。安得不以陽氣為首務耶。</p>
<p>炙黑黃　炒焦白芍　炒牛膝　洋參　炙草　炒山藥　茯神周（八歲）痘後衄血。肺胃余火尚熾。</p>
<p>地骨皮　犀角　丹皮　川貝　生地炭　連翹　銀花戴（三三）議育陰。清氣熱。</p>
<p>熟地炭　揀麥冬　淡菜　清阿膠　淡天冬　女貞子　云茯神（二錢）　龜腹版（五錢）</p>
<p>戴　瘀咯初淨。肺胃陰液未充。值天時燥氣加臨。陽易旋動。清竅不司其肅。衄血乃因復發。脈右寸關搏而疾大。</p>
<p>是陽明燥氣鼓舞之征。議滋清益陰肅上。候裁。</p>
<p>原生地（四錢）　揀麥冬（一錢五分）　淮牛膝（炭）　龜腹版（酒炙，五錢）　陳阿膠（二錢）　連翹　豆皮（一錢五分）　真川貝（去心研，二錢）　炒黑側柏葉（一錢五分）</p>
<p>又　脈左和靜。右動搏已減。衄血漸止。口乾。望色紫滯已退。凡動皆火易就燥。議益陰潛陽。佐清陽明燥熱。</p>
<p>原熟地（四錢）　龜腹版（五錢）　揀麥冬（一錢五分）　陳阿膠（另烊沖，二錢）　淮牛膝（一錢五分）　真川貝（二錢）　霍石斛（一錢五分）</p>
<p>又原熟地（四錢）　龜腹版（五錢）　揀麥冬（一錢五分）　阿膠（另烊沖，二錢）　淡天冬（一錢五分）　真川貝（二錢）　川斛（一錢五分）　制洋參（一錢五分）</p>
<p>又原熟地（一錢）　真川貝（二錢）　川斛（一錢五分）　陳阿膠（二錢）　建蓮（二錢）　茯神（二錢）　揀麥冬（一錢五分）　西黨參（一錢五分）　九孔石決明（　研三錢）</p>
<h2>疝</h2>
<p>馬（廿五）肝絡久虛。少腹墜痛。此屬氣疝。宗子和方。</p>
<p>川楝子（二錢）　歸須（一錢五分）　炒橘核（一錢五分）　延胡（炒，一錢）　青木香（八分）　青皮（一錢）　粗桂枝（一錢）　炒小茴香（七分）</p>
<p>宗（十一）稚年陰囊腫大。小溲通利。此屬水疝。開太陽以驅邪。</p>
<p>川桂木（五分）　桑白皮（一錢五分）　薑皮（四分）　漢防己（一錢五分）　苡仁（二錢）　茯苓皮（三錢）　厚朴（一錢）</p>
<h2>香港腳</h2>
<p>曾（廿五）濕傷於下。足脛浮腫。此屬香港腳。</p>
<p>制茅朮（一錢五分）　漢防己（一錢五分）　苡仁（二錢）　川黃柏（一錢）</p>
<p>木瓜（一錢）　川萆　（二錢）　牛膝（二錢）</p>
<p>田（十六）泄瀉初愈。足脛浮腫。宜溫通太陰。</p>
<p>煨益智（八分）　苡仁（二錢）　薑炭（四分）　漢防己（一錢五分）　茯苓皮（三錢）　桂枝木（五分）　木瓜（一錢五分）</p>
<p>沈（五二）寒濕內郁。泄瀉腹痛。小便頻數。面痿跗腫。</p>
<p>煨益智（八分）　漢防己（一錢五分）　炮薑炭（六分）　炒焦厚朴（一錢）　木瓜（一錢五分）　苡仁（三錢）　桂枝木（八分）</p>
<p>又　跗腫。泄瀉。腹痛。</p>
<p>西黨參（二錢）　漢防己（一錢五分）　炮薑炭（六分）　淡吳萸（八分）　炒木瓜（一錢五分）　苡仁（三錢）　茯苓（三錢）　煨益智（八分）　桂枝（八分）　加台藥（一錢）</p>
<p>陳（五八）溏泄跗腫。晨起略爽。下午病劇。是脾腎陽憊殘。何疑。</p>
<p>黨參（二錢）　淡吳萸（八分）　炒焦小茴香（八分）　胡蘆巴（一錢五分）　巴戟天（一錢五分）　茯苓（二錢）</p>
<p>制川烏（一錢五分）</p>
<p>尚　昨進抑肝蠲痰。喘象寧靜。所謂急則治標之方。而脾腎陽憊。是病之本。今咽痛肛墜。虛火未熄。且性情躁動。</p>
<p>心陽肝火亦為跌仆之形。即屬上實下虛之驗。身有微熱。防其復喘。擬扶陽抑肝。以導浮火。再商。</p>
<p>制洋參（二錢）　陳半曲（一錢五分）　釵石斛（一錢五分）　白蒺藜（去刺炒，一錢五分）　橘紅（一錢）　茯苓（三錢）　煨天麻（二錢）</p>
<p>又　拘束已減。夜寤稍寐。肚墜便積。痰氣下降。跗腫全消。脈右搏大。今現於左部。痰積下墜。浮火已熄。總之。</p>
<p>寧濕內郁。蘊痰釀積。非溫經通絡。焉克有濟。再擬通積消瘀痰。扶脾佐之。</p>
<p>粗桂枝（八分）　炒黑蜀漆（一錢）　茯苓（三錢）　生白朮（一錢）　炮黑川烏（一錢）　炙草（四分）　厚朴（八分）</p>
<p>又　積滯已稀。痰哮不寐。陽衰竊發。</p>
<p>制洋參（八分）　製半夏（一錢五分）　石菖蒲根（四分）　厚朴（八分）　一劑後加豬膽汁一枚臨服沖入　茯苓（三錢）　蒸白朮（二錢）　炮黑川烏（八分）</p>
<p>又桂枝（八分）　製半夏（一錢五分）　淡乾薑（六分）　生白芍（一錢五分）　五味子（八分）　茯苓（三錢）　炙草（五分）</p>
<p>又　議真武湯去白芍。加炙草。合大半夏湯。</p>
<p>人參（五分）　制川附子（五分）　炙草（四分）　蒸白朮（二錢）　炒焦陳半曲（一錢五分）　老薑汁（臨服沖入五分）　茯苓（二錢）</p>
<p>又　陽衰痰飲竊踞。氣塞至咽。欲坐不臥。暫進微通胸中之陽。</p>
<p>薤白頭（三錢）　製半夏（一錢五分）　淡乾薑（八分）　栝蔞皮（一錢五分）　草鬱金（一錢）　茯苓（三錢）　桂枝（八分）　臨服沖入白酒半杯為導引</p>
<h2>頭痛</h2>
<p>徐（三四）暑風熱頭痛。宜清散。</p>
<p>鮮荷葉邊（三錢）　鮮菊葉（一錢）　木通（八分）　羚羊角（一錢）　連翹殼（一錢五分）　黑山梔（一錢五分）</p>
<p>蔓荊子（一錢）</p>
<p>楊（三三）陽浮頭痛。暮熱早涼。脈小音嘶。面赤肉　。此屬謀慮傷肝。肝陽挾內風上冒。致有巔頂之疾。是內傷之症。非清散所能治之。復脈去參、薑、桂。加雞子黃。白芍。</p>
<p>生雞子黃（一枚）　細生地（三錢）　炙甘草（三分）　清阿膠（三錢）　麥冬（一錢五分）　南棗（三錢）　生白芍（一錢五分）　大麻仁（一錢五分）</p>
<p>戴（五九）左偏頭痛。目眶浮腫。肝陽挾內風。上冒所致。</p>
<p>桑葉（一錢五分）　粉丹皮（一錢五分）　羚羊角（八分）　豆皮（一錢五分）　白甘菊（一錢）　連翹（一錢五分）　大生地（三錢）　赤芍（一錢）　加九孔石決明（　研，三錢）</p>
<h2>心痛</h2>
<p>夏（廿八）肝厥心痛。嘔吐妨食。渴飲。進河間方。</p>
<p>金鈴子（三錢）　製香附（三錢）　橘紅（炒，一錢）　炒延胡（一錢）　鬱金（一錢）　炒小茴香（七分）　南楂炭（二錢）</p>
<p>凌（四二）嗔怒動肝木。厥傷營絡。能食心痛。得噯稍舒。擬辛甘理陽方。</p>
<p>粗桂枝（八分）　製半夏（一錢五分）　炙草（五分）　歸身（一錢五分）　高良薑（一錢）　茯苓（三錢）　生白芍（一錢五分）</p>
<p>馮（廿二）心痛如軋。經來兩至。肝陰久虧。乃肝木陽化。內風不熄。擬以鹹苦。佐以微辛。使從陰和陽。</p>
<p>阿膠（二錢）　牡蠣（三錢）　川楝子（一錢）　當歸（一錢）　川芎（三分）　小川連（四分）　生白芍（一錢五分）</p>
<h2>胃脘痛</h2>
<p>蘇（廿八）胃痛嘔逆。此屬肝木侮土。進河間方。</p>
<p>金鈴子（二錢）　鬱金（一錢）　小茴香（一錢五分）　炒延胡（一錢）</p>
<p>製香附（一錢五分）　南楂炭（一錢五分）　青皮（一錢）</p>
<p>諸（四八）嗔怒動肝木。犯胃。為痛。為嘔。為消渴。肢冷。脈沉微。是木不條達。制肝木。理能取勝。</p>
<p>延胡（一錢）　製香附（一錢五分）　歸須（一錢）　川楝子（二錢）　鬱金（一錢）　青木香（八分）　桂枝（八分）　炒橘紅（七分）</p>
<p>陳（廿三）營虛胃痛。議辛甘理陽。</p>
<p>甜桂枝（八分）　炙草（五分）　煨薑（五分）　歸須（一錢五分）　南棗（三錢）　茯苓（三錢）　生白芍（一錢五分）</p>
<h2>脅痛</h2>
<p>曹（三六）左脅痛。咳痰。邪入於絡。</p>
<p>粗桂枝（八分）　歸須（一錢）　鬱金（一錢）　炒桃仁（去尖研，一錢）　黑山梔（一錢五分）　降香（末，五分）　炒白芥子（五個）</p>
<p>趙（廿八）嗔怒動肝。左脅連少腹痛。</p>
<p>川楝子（二錢）　製半夏（一錢五分）　歸須（一錢）　炒延胡（一錢）　鬱金（一錢）　炒桃仁（一錢）　青皮（一錢）　炒小茴（五分）</p>
<p>夏（四五）寒熱脅痛。擬從少陽通絡。</p>
<p>青蒿梗（一錢）　製半夏（一錢五分）　歸須（一錢）　鬱金（一錢）　炒白芥子（一錢五分）　丹皮（一錢五分）</p>
<p>霜桑葉（一錢）</p>
<p>吳（三六）形寒脅痛。半月不衰。面白足冷。此屬操勞損陽。謀慮傷肝之征。是非輕象。辛香剛燥。決不可進。</p>
<p>旋覆花（一錢）　柏子仁（二錢）　新絳（一錢）　歸肉（一錢五分）</p>
<p>紅花（五分）　青蔥管（五分）　桃仁（一錢）</p>
<p>又　脅痛病自肝起。漸歸及左。飲食少進。多夢紛紜。肝胃同病。勉擬甘緩和陽。</p>
<p>人參（一錢）　炙草（五分）　棗仁（炒焦研，二錢）　當歸（一錢五分）　龍骨（三錢）　茯神（一錢）　柏子仁（二錢）　金箔（三片）</p>
<h2>腹痛</h2>
<p>張（六歲）肝水肆橫。腹痛脈弦。宜當疏泄。</p>
<p>青皮（一錢）　煨木香（六分）　生穀芽（一錢）　炒厚朴（一錢）　廣皮（一錢）　炮薑炭（三分）　南山楂（一錢五分）</p>
<p>陸（六歲）腹痛數日。始由跌仆驚恐而得。經旨謂驚則氣亂。恐則氣下。其氣漫無所歸。斯痛全在於氣。今若是危篤者。誤投下蛔。五味擾動厥陰肝絡。以致胃傷廢食。飲食不思。關脈遲緩。按之痛止。撫摩稍適。色現黑滯。倘加嘔逆。乃為順候。今因戊土殘憊。難以立方。勉擬戊己成法。望其百中一幸。戊己湯去參。加半曲、穀芽。</p>
<p>焦白朮（一錢五分）　炒焦半曲（一錢五分）　穀芽（一錢）　炙草（五分）　廣皮（一錢）　茯苓（一錢五分）　生白芍（一錢五分）</p>
<p>戴（十一）寒客於胃。腑陽不宣。腹痛脈弦。少食。然六腑屬陽。以通為用。古人謂痛則不通耳。</p>
<p>生益智（七分）　炒焦神麯（一錢五分）　焦穀芽（一錢）　南山楂（一錢五分）　廣皮（一錢）　塊茯苓（二錢）</p>
<p>製厚朴（一錢）</p>
<p>陸（六歲）昨用戊己甘緩。痛勢略減。飲食稍進。幸之機也。但痛來汗泄。由驚則傷心。致心傷金。是臟氣之傷。</p>
<p>前以蛔下。腑陽未復。茲當培土泄肝。以扶其正。</p>
<p>桂枝木（五分）　炒焦烏梅肉（七分）　煨木香（五分）　川楝子（一錢）</p>
<p>土炒白芍（二錢）　淡黃芩（一錢）　延胡（一錢）　茯苓（一錢五分）</p>
<p>朱（八歲）腹痛嘔逆。驚駭而起。例進辛香。其病可愈。</p>
<p>延胡（一錢）　鬱金（一錢）　青木香（五分）　金鈴子（一錢）　製半夏（一錢五分）　炒小茴（四分）　青皮（一錢）　橘核（炒，一錢）</p>
<p>虞（五歲）身熱腹痛。前議疏泄得效。緣稚年體質最薄。邪氣得以乘虛蔓延。腹痛復作。身熱不止。幼科但知治驚。</p>
<p>不明內經諸痛之義。所用方劑。皆鎮驚化痛之劑。不惟腹痛不減。益且大便堅秘。少腹痹熱。四肢厥冷。釀成危患。</p>
<p>川桂木（五分）　南楂炭（一錢五分）　茯苓（三錢）　淡黃芩（一錢）　橘紅（一錢）　澤瀉（一錢）　苡仁（二錢）　生穀芽（一錢）</p>
<h2>肩痛</h2>
<p>夏（五四）陽明脈衰。肩胛痛。</p>
<p>生黃　（三錢）　生於朮（一錢）　茯苓（三錢）　當歸（一錢五分）　木防己（一錢五分）　萆　（一錢）　防風根（六分）　桂枝（五分）</p>
<h2>背痛</h2>
<p>嚴（六〇）背痛脊痛。此屬督脈虛。</p>
<p>毛鹿角（三錢）　補骨脂（一錢）　茯苓（二錢）　當歸（一錢五分）　淡蓯蓉（二錢）　杞子（一錢五分）　生白芍（一錢五分）　沙蒺藜（二錢）　青鹽（調入三分）</p>
<h2>臂痛</h2>
<p>張（四八）臂痛難於屈伸。即屬風、寒、濕、三氣居多。</p>
<p>生黃　（三錢）　生於朮（二錢）　海桐皮（一錢）　當歸（一錢五分）</p>
<p>木防己（一錢五分）　片薑黃（一錢）　防風根（六分）　加酒炒桑枝（一兩）</p>
<p>蘇（三五）左肢節痛。麻木夜甚。</p>
<p>粗桂枝（八分）　木防己（一錢五分）　海桐皮（一錢）　晚蠶砂（二錢）　仙靈脾（一錢五分）　片薑黃（一錢）</p>
<p>川萆　（二錢）　苡仁（一錢）</p>
<h2>腰痛</h2>
<p>章（五四）五旬余年。陽氣餒乏。交寒露節。為暴寒鬱折生陽。所以暑年腰痛。每至深秋屢發。此屬勞傷挾濕所致。</p>
<p>勞最能損陽氣。經言。勞者溫之。</p>
<p>川桂枝（八分）　濃杜仲（二錢）　茯苓（一錢）　晚蠶砂（二錢）　淮牛膝（二錢）　萆　苡仁（一錢）</p>
<p>胡（四六）兩尺脈獨小。腰溶溶而痛。形寒。面乏華澤。腰者腎之府。此屬少陰久虛之象。理宜溫養。</p>
<p>鹿角霜（三錢）　淡蓯蓉（二錢）　茯苓（三錢）　當歸（一錢五分）　補骨脂（二錢）　紫衣胡桃肉（五錢）　炒白芍（一錢五分）　炒小茴（四分）</p>
<h2>腿痛</h2>
<p>馬（四六）勞傷挾風。腿骨疼痛。擬以辛熱。佐以苦溫。</p>
<p>虎脛骨（四錢）　金毛脊（三錢）　油松節（三錢）　當歸（一錢五分）　五茄皮（二錢）　白茅根（二錢）　川獨活（一錢）</p>
<p>曹（四六）右腿疼痛。肌肉不腫。</p>
<p>炙山甲（二錢）　炒桃仁（一錢五分）　青皮（一錢五分）　歸身（一錢五分）　乳香（一錢）　沒藥（一錢）　川獨活（六分）</p>
<h2>足痛</h2>
<p>吳（三三）兩足皮膜。撫之刺痛。此屬厥陰乘犯陽明。治宜疏泄。</p>
<p>川楝子（一錢）　延胡（一錢）　青皮（一錢）　歸須（一錢）　炒桃仁（一錢）　黑山梔（一錢五分）　炒黑楂肉（二錢）</p>
<p>陸（三〇）足跗軟。脈微弱。</p>
<p>虎脛骨（生打三錢）　生杜仲（二錢）　川萆　（二錢）　全當歸（一錢五分）　淮牛膝（二錢）　茯苓（三錢）　川績斷（二錢）　淡蓯蓉（二錢）</p>
<h2>耳</h2>
<p>沈（五一）風溫上受。耳　脹痛。膽脈絡於耳。議清少陽氣分之熱。</p>
<p>桑葉（一錢）　杏仁（二錢）　連翹（去心，一錢五分）　羚羊角（一錢）　桔梗（一錢）　川通草（一錢）　薄荷梗（一錢）　馬勃（四分）</p>
<p>韓（三八）暑風襲於少陽。膽脈絡於耳。木火上炎。清竅失聰。</p>
<p>青蒿梗（一錢）　鮮菊葉（一錢五分）　馬勃（三分）　鮮荷葉（三錢）　連翹殼（一錢五分）　黑山梔（一錢五分）　苦丁茶（三分）　鮮生地（五錢）</p>
<p>謝（四二）少陰久虧。耳鳴時閉。書云。腎開竅於耳。心亦寄竅於耳。凡外邪治少陽。內傷從少陰為定例。</p>
<p>熟地（三錢）　牡蠣（二錢）　麥冬（朱砂拌，三錢）　北五味（一錢五分）　磁石（一錢五分）　白芍（二錢）　茯神（二錢）　龜版（二錢）</p>
<p>戴（六一）久患耳鳴。兼有鼻衄、牙宣等症。衄血雖經向愈。仍若是心腎素虧體質。而肝陽上逆。清竅蒙蔽。擬方候裁。</p>
<p>原熟地（鹽水炒，四錢）　揀麥冬（二錢）　牡蠣（二錢）　大白芍（刮淨酒炙，一錢五分）　龜腹版（四錢）　磁石（二錢）　云茯神（二錢）　北五味（一錢）　澤瀉（一錢五分）　加沉香（三分）　滾水磨沖</p>
<h2>目</h2>
<p>吳（九歲）稚年目赤。障翳。勿取大辛大苦。轉傷氣分。</p>
<p>桑葉　白菊花　黑梔皮　夏枯花　草決明　小生香附　赤芍　穀精草邱（一八）目赤淚多。腫而不痛。必用輕散。不致風熱損傷瞳神。</p>
<p>桑葉　穀精草　連翹　草決明　白甘菊　黑山梔　赤芍葉（三六）目赤腫痛。</p>
<p>桑葉（一錢）　夏枯花（一錢）　生香附（二錢）　豆皮（一錢）　草決明（一錢五分）　白甘菊（一錢）　赤芍（一錢五分）　黑山梔（一錢五分）</p>
<p>歐（五四）頭額脹。目赤痛。</p>
<p>羚羊角（一錢）　草決明（一錢五分）　夏枯花（一錢）　生香附（二錢）　連翹（一錢五分）　黑山梔（一錢五分）　苦丁茶（三分）　白甘菊（一錢）</p>
<p>陸（六二）肝腎久衰。目赤障翳。熱淚頻多。昏暗無光。</p>
<p>霜桑葉（一錢）　黃甘菊（一錢）　石決明（三錢）　製首烏（三錢）　杞子（一錢五分）　小胡麻（一錢五分）</p>
<p>豆皮（二錢）　望月砂（二錢）</p>
<h2>鼻</h2>
<p>沈（四四）少陽風熱未解。移熱於腦為辛。　液下注為鼻淵。</p>
<p>羚羊角（一錢）　連翹殼　蒼耳子　薄荷梗　辛荑　黑山梔　苦丁茶（三分）　白芷（一分）</p>
<p>錢（三七）面赤咳嗽。腦熱鼻淵。鼻屬肺竅。少陽風熱上炎。熱逼清道為腦液下注。且議苦辛宣通。</p>
<p>羚羊角（一錢）　泡白杏仁（三錢）　鬱金（一錢）　夏枯花（一錢）　連翹殼（一錢五分）　黑山梔（一錢）　苦丁茶（三分）　薄荷梗（八分）</p>
<p>沈（二一）鼻塞右甚。肺之竅也。有形高突。氣之阻也。清竅失司。心肺之火有餘而水虧。則乘之矣。先擬辛通宣竅。從氣分治。</p>
<p>薄荷（八分）　嫩元參（二錢）　蔓荊子（二錢）　羚羊角（一錢五分）　連翹（一錢五分）　小生香附（四錢）</p>
<p>真北細辛（五分）　白甘菊（一錢）　黑山梔（一錢五分）　加鮮荷葉邊（一錢）</p>
<h2>舌</h2>
<p>朱（廿三）舌絳而腐。氣急痰涌。症屬棘手。勉擬下方。</p>
<p>犀角（磨沖，五分）　揀麥冬（一錢五分）　白扁豆（三錢）　小生地（三錢）　川貝（去心研，二錢）</p>
<p>北沙參（一錢五分）　丹參（一錢五分）　草鬱金（一錢）　綠豆皮（一錢五分）</p>
<h2>牙</h2>
<p>薛（廿八）兩尺脈獨大。瘧陷入少陰。當血上溢。熱逼血升。氣散血隨散。往往有驟脫之虞。止此血甚難耳。擬方候高明主裁。</p>
<p>熟地（五錢）　真百草霜（三錢）　龜腹版（五錢）　炒黃柏（一錢五分）　亂頭發灰（五錢）　黃芩（一錢五分）</p>
<p>知母（一錢五分）　臨服沖入童便一小杯　一服後加人參（另煎沖，一錢）</p>
<p>柯（三五）陽明風熱上擾。牙齦腫痛。</p>
<p>馬勃（三分）　嫩元參（一錢五分）　連翹殼（一錢五分）　羚羊角（一錢）　桔便（一錢）　生甘草（三分）　薄荷（八分）　黑山梔（一錢五分）</p>
<p>陳（六一）齒痛連太陽。左關脈洪大。議景岳方法。</p>
<p>防風（一錢五分）　北細辛（五分）　龍膽草（七分）　生甘草（三分）　升麻（三分）</p>
<p>賈（三八）懷妊五六月。值脾胃司胎。而病上牙齒痛。況偏於右。此屬肝陰不足。肝風內動。虛乘襲入陽明脈絡。</p>
<p>宜當熄風。</p>
<p>熟地（四錢）　炒杞子（二錢）　白蒺藜（二錢）　清阿膠（一錢五分）　菊花炭（一錢）　云茯神（二錢）</p>
<p>豆皮（二錢）　九孔石決明（一具）</p>
<h2>瘡瘍</h2>
<p>虞（十二）兩目瘡瘍。綿延一載不痊。服羚羊角反劇。眼癖。</p>
<p>川連（四分）　白甘菊（一錢）　生甘草（二錢）　夏枯花（一錢）　桑皮（一錢五分）　苡仁（一錢）　土貝（二錢）　連翹（一錢五分）　茯苓皮（二錢）</p>
<p>又　前方已服三帖。略效。再擬。</p>
<p>制軍（一錢五分）　銀花（一錢）　桑皮（一錢五分）　夏枯花（一錢）　丹皮（一錢）　連翹（一錢五分）　大貝（二錢）　炒山楂（一錢五分）　川楝子皮（一錢）</p>
<p>又　前方又服三帖大效。又擬。</p>
<p>制軍（二錢）　金銀花（一錢）　川楝子皮（一錢）　夏枯花（一錢）　桑皮（一錢五分）　黑山梔（一錢五分）　大貝（二錢）　蓮翹（一錢五分）</p>
<p>張（二）肺火。</p>
<p>桑葉（一錢）　川貝（二錢）　銀花（一錢）　池菊（一錢）　杏仁（三錢）　連翹（一錢五分）　羚羊角（一錢五分）　黑山梔（一錢五分）</p>
<p>又　瘡色已潰。尚未結痂。系肺熱未清。</p>
<p>桑皮（一錢五分）　大貝（二錢）　池菊（一錢）　夏枯花（一錢）　制天蟲（二錢五分）　連翹（一錢五分）　赤芍（一錢五分）　銀花（一錢）　地丁（一錢）</p>
<p>彭（三一）乳癤。</p>
<p>青皮（一錢）　全當歸（一錢五分）　銀花（三錢）　栝蔞皮（二錢）　南花粉（二錢）　角針（三分）　橘葉（一錢）　生甘草（三分）　木通（五分）</p>
<p>邱（三一）面目浮腫。左肢發瘡。此屬濕火。膚腠皆癢。</p>
<p>桑皮（一錢五分）　草（二錢）　銀花（一錢）　製首烏（四錢）　漢防己（一錢五分）　連翹（一錢五分）　米仁（三錢）　池菊（一錢）</p>
<p>又　兩次。</p>
<p>桑皮（一錢五分）　川黃柏（一錢）　池菊（一錢）　夏枯花（一錢）　漢防己（一錢五分）　連翹（一錢五分）　米仁（三錢）　銀花（一錢）</p>
<p>又　三次。</p>
<p>大貝（一錢）　川萆　（二錢）　銀花（一錢）　夏枯花（一錢）　漢防己（一錢五分）　羚羊角（一錢五分）　池菊（一錢）　米仁（二錢）</p>
<p>王（十二）氣火上升。唇口生瘡。</p>
<p>霜桑葉（二錢）　池菊（一錢）　丹皮（一錢五分）　南花粉（一錢五分）　連翹（一錢五分）　生甘草（三分）　赤芍（一錢五分）　馬勃（五分）</p>
<h2>咽喉</h2>
<p>歸（十八）風溫外襲肺衛。咽痛。辛以散之。</p>
<p>桑葉（一錢）　馬勃（三分）　連翹（一錢五分）　象貝（一錢五分）　桔梗（一錢）　黑元參（一錢五分）　牛蒡子（三錢）</p>
<p>許（廿八）風溫外襲肺衛。鼻塞咽痛。</p>
<p>牛蒡子（三錢）　杏仁（三錢）　嫩元參（一錢五分）　象貝母（一錢五分）　桔梗（一錢）　連翹（一錢五分）　霜桑葉（一錢）　馬勃（三分）</p>
<p>沈（五八）咳嗽腰痛。咽喉如梗。想少陰之脈。循咽。厥陰之脈。循喉嚨。是肝腎內衰之征。無暇理嗽。當酸鹹入陰。</p>
<p>熟地（三錢）　龜版（五錢）　杞子（一錢五分）　萸肉（一錢五分）　阿膠（二錢）　茯苓（二錢）　淡菜（二錢）　青鹽（三分）　芡實（二錢）</p>
<p>徐（四七）咽喉腫痛。咯痰。宜清化。</p>
<p>桑葉（一錢）　杏仁（三錢）　嫩元參（一錢五分）　羚羊角（一錢）　桔梗（一錢）　黑山梔（一錢五分）　川貝（去心研，二錢）　馬勃（四分）</p>
<p>曹（三〇）損怯咽痛。潤劑為穩。</p>
<p>川斛（三錢）　北沙參（一錢五分）　糯稻根須（五錢）　炒麥冬（一錢五分）　生甘草（三分）　茯神（二錢）　細生地（三錢）　生雞子黃（一枚）</p>
<h2>調經</h2>
<p>曹（廿三）肝臟衰微。腹痛而後經至。納穀頗減。潮熱便溏。是氣血交滯。擬宣通瘀痹。</p>
<p>延胡　製香附　鬱金　南山楂　丹參　澤蘭　當歸歸（一八）咳嗽失血。天癸不至。此屬經例。肝膽氣火上升所致。</p>
<p>蘇子　南楂炭　鉤藤　澤蘭　炒桃仁　黑山梔　鬱金　丹皮</p>
<h2>經閉</h2>
<p>陸（三二）經閉數月。胸滿腹脹。寒熱消渴。大便燥結。脈微澀。兩寸脈獨大。此皆胃大腸之腑熱。漸侵於心脾之臟。即內經所謂二陽之病發心脾。不得隱曲。女子不月是也。蓋消渴者。胃大腸之熱也。胸滿者。心病上焦不利也。腹脹者。脾病中焦脹滿也。臟腑俱病。故寒熱也。考戴人治經閉逾年者。每責於心受積熱為主。所有抑火升水。滲溫潤燥等方。不過謂胃以示其推陳致新而已。</p>
<p>鮮生地（一兩）　炒桃仁（三錢）　郁李仁（一錢五分）　制軍（三錢）　杜牛膝（三錢）　老薑渣（五分）　潯桂心（四分）　麥紫管一兩煎湯代水五帖</p>
<h2>淋帶</h2>
<p>周（三五）淋帶起於產後。腰腹絞痛。是屬衝任交傷。而帶脈空隙。宜固其下。</p>
<p>烏賊骨（三錢）　牡蠣（三錢）　生杜仲（二錢）　當歸（一錢五分）　炒白芍（二錢）　白薇（一錢）　蘄艾（一錢）</p>
<p>鄂（三四）陽浮頭痛。身熱。帶下如注。</p>
<p>熟地炭（三錢）　萸肉炭（一錢）　炒山藥（二錢）　清阿膠（二錢）</p>
<p>建蓮肉（三錢）　芡實（二錢）　茯神（二錢）</p>
<p>繆（三六）赤白帶下。頭暈。腰溶溶而痛。舌狀如刺。面赤嘈雜。肝陰久虧。肝陽化火風上冒。致有產後淹纏之恙。</p>
<p>想肝為剛臟。擬以熄風法。以柔能濟剛。兼以堅陰佐之。</p>
<p>生左牡蠣（三錢）　麥冬（一錢五分）　焦黃柏（一錢）　陳阿膠（二錢）　炒杞子（一錢五分）　炒黑樗根皮（三錢）　細生地（三錢）</p>
<h2>崩漏</h2>
<p>陸（四八）肝腎久損。衝任交傷。崩漏。暴下如注。</p>
<p>龜甲心（五錢）　女貞實（一錢）　淡天冬（二錢）　清阿膠（三錢）　旱蓮（二錢）　柏子仁（二錢）　熟地炭（三錢）</p>
<p>歸（五二）崩漏暴下不止。脈動。衝任交損。方議潛陽。</p>
<p>龜甲心（五錢）　歸身（一錢五分）　阿膠（二錢）　川斷（二錢）　炙黑甘草（四分）　蘄艾（五分）　炒枯熟地（三錢）</p>
<p>斯（廿六）脈左遲右濡。寒熱腰痛。脊酸楚。足緩腹痛。漏淋不止。肝陰雖屬久虧。而昨議益陰鎮肝之藥。未嘗不是。然淋瀝已久。而疏泄逐瘀之法。既不可進。於理必得血脫益氣之方。使其陽生陰長。冀其寒熱痛淋漸止。擬內經烏賊丸意。</p>
<p>烏賊骨（四錢）　清阿膠（一錢五分）　女貞子（一錢五分）　茜草（一錢）　淡天冬（一錢五分）　旱蓮草（一錢五分）　人參（六分）　黃　（二錢）　如不用人參用黨參（二錢）</p>
<p>斯（廿六）經漏。皮膜刺痛。養肝陰。泄肝陽。</p>
<p>生牡蠣（三錢）　小生地（三錢）　川楝子（一錢）　清阿膠（二錢五分）</p>
<p>揀麥冬（三錢）　小川連（三分）　柏子仁（一錢）</p>
<p>王（三〇）經漏半月一至。大便必兩日始通。此屬肝腎內衰。八脈無氣擁護。經旨有胞絡移熱於膀胱之論。議三才湯參入益肝陰。養心液。</p>
<p>人參（另煎沖，四分）　原熟地（四錢）　柏子霜（二錢）　揀麥冬（二錢）　小清膠（二錢）　淡天冬（二錢）　云茯神（二錢）　制女貞（一錢五分）</p>
<h2>胎前</h2>
<p>吳（廿五）寒熱頭痛。渴飲不化，胸悶嘔惡。詢經水三月未來。寸脈搏指。此屬妊象。</p>
<p>細條芩（一錢五分）　炒焦半丑（一錢五分）　川芎（五分）　知母（一錢五分）　橘紅（一錢）　花粉（一錢五分）　嫩蘇梗（一錢）</p>
<p>魏（廿八）妊娠暮熱早涼。口乾胸悶。</p>
<p>桑皮（一錢）　條芩（一錢五分）　麥冬（二錢）　細生地（三錢）　知母（一錢五分）　花粉（一錢五分）　生白芍（一錢五分）　川斛（四錢）</p>
<p>繆（廿二）胎氣上衝。乾嘔不食。勢防小產則危。</p>
<p>小生地　麥冬　焦白朮　阿膠　知母　黃芩　生白芍　云茯神　炒焦砂仁末王（廿七）妊娠咳嗽。適有七月。太陰司胎。作子嗽治。</p>
<p>桑根白皮　杏仁　鮮竹茹　淡天冬　桔梗　生甘草　紫菀（一錢）　加建蜜三匙臨服沖入王（廿六）妊娠已及彌月。噯酸　脹。議安胎飲去芎、歸、條芩。加茯苓。即戊己東加香附。紫蘇。茯苓易茯神。</p>
<p>西黨（二錢）　炙草（五分）　製香附（三錢）　甜冬術（二錢）　廣皮（一錢）　揀麥冬（四分）　抱木茯神（二錢）　大白芍（二錢）　紫蘇（六分）</p>
<h2>產後</h2>
<p>許（廿四）新產腹痛。姑議逐瘀。</p>
<p>延胡（一錢）　製香附（三錢）　鬱金（二錢）　當歸（一錢五分）　南山楂（三錢）　澤蘭（一錢五分）　赤芍（一錢）</p>
<p>陳（廿六）新產頭暈。腹痛。先驅惡露。</p>
<p>歸尾（一錢五分）　遠志（四分）　製香附（三錢）　赤芍（一錢）　桃仁（一錢五分）　澤蘭（一錢）　丹皮（一錢五分）　琥珀（四分）　炒山楂（三錢）</p>
<p>蘇（三一）新產十朝。陰氣下泄。陽從上冒。汗出煩渴。便難腰痛。每假寐。必魂魄飛越。是陰怯而陽無所附之征。</p>
<p>即仲景之鬱冒見端也。頗宜鎮陽。</p>
<p>生牡蠣（三錢）　細生地（三錢）　大麻仁（一錢五分）　清阿膠（二錢五分）　麥冬（三錢）　炙甘草（五分）　茯神（二錢）　柏子仁（二錢）</p>
<p>又　新產四朝。腹痛背痛。腰溶溶而痛。惡露淋漓。此屬督帶交傷。宜理奇脈。以逐瘀佐之。但不可驟用溫補。</p>
<p>當歸（一錢五分）　丹皮（一錢五分）　南楂炭（三錢）　川斷（二錢）　澤蘭（一錢）　茯神（二錢）</p>
<p>吳（三一）新產潮熱。腹痛汗泄。此屬鬱冒。</p>
<p>川斛（三錢）　丹參（一錢五分）　鬱金（一錢）　淮小麥（一錢五分）　南楂炭（二錢）　澤蘭（一錢五分）　茯神（二錢）</p>
<p>馬（三八）面色痿黃。形寒咳嗽。詢產後下虛。理宜溫養。</p>
<p>鹿角霜（三錢）　鹿角膠（三錢）　杞子（一錢五分）　當歸（一錢五分）　補骨脂（一錢）　熟地炭（三錢）　紫石英（三錢）　炒小茴（四分）</p>
<p>蘇（三二）產後下虛。是衝任脈震而動。心痛形寒。最怕淹纏蓐損。宜議溫養。</p>
<p>河車膠（三錢）　淡蓯蓉（二錢）　熟地炭（四錢）　當歸（一錢五分）　補骨膽（一錢）　茯苓（三錢）　紫石英（　研，三錢）</p>
<p>王（三八）半產下虛。怯寒恍熱。惡露未淨。少腹仍痛。所喜瘕泄已減。胃思納食。陽明有漸振之義。再擬扶胃疏瘀。方保無虞。</p>
<p>川斛（四錢）　半夏曲（炒，一錢五分）　茺蔚子（一錢五分）　小茴香拌炒當歸（一錢五分）　炒香菟絲餅（二錢）　澤蘭（一錢）　新會皮（一錢）　粉丹皮（一錢）</p>
<p>王（三六）陰氣下泄。陽從上冒。頭痛。巔頂尤甚。惡露已淨。脈象左部細澀。明是液虧不司留戀其陽。為上實下虛之症。</p>
<p>倘過用辛泄。恐傷陽氣。預為復熱之防。理議益陰。和陽熄風。</p>
<p>原生地（四錢）　河車膠（一錢五分）　生左牡蠣（三錢）　當歸（一錢五分）　豆皮（一錢五分）　清阿膠（另烊沖，一錢五分）　云茯神（二錢）</p>
<p>又　頭痛已緩。畏寒食減。帶淋心痛。</p>
<p>蘇葉（六分）　延胡（炒，一錢）　細生地（二錢）　豆皮（一錢五分）　丹參（一錢五分）　川芎（五分）　川斛（一錢五分）　炙草（五分）　蛤粉炒阿膠（一錢五分）　加薑皮（五分）</p>
<p>又　液衰盜汗。少寐帶淋。</p>
<p>川斛（一錢五分）　製首烏（三錢）　川芎（炒，七分）　淮小麥（一錢五分）</p>
<p>丹參（一錢五分）　上清阿膠（蛤粉炒，一錢五分）　云茯神（二錢）　遠志（去心研炒，四分）</p>
<p>王（三二）新產四朝。潮熱腹痛。便難頭痛。惡露未淨。此屬鬱冒。當與逐瘀為務。</p>
<p>歸尾（一錢五分）　製香附（三錢）　澤蘭（一錢）　赤芍（一錢五分）　桃仁（去尖炒，一錢五分）　茺蔚子（一錢五分）　丹皮（一錢）　延胡（一錢）　琥珀末（臨服調入，四分）</p>
<h2>瘕</h2>
<p>朱（三六）經閉半載。未有瘕聚。脹痛畏寒。是在小寒節。厥陰用事。肝膽木火上升。咳隨氣升而失血。然味辛易於入表。恐傷陽氣。姑議調暢氣血。再商通絡諸法。</p>
<p>降香末（五分）　丹皮（一錢）　鉤藤（二錢）　鬱金（一錢）　炒桃仁（一錢）　黑山梔（一錢五分）　南楂炭（三錢）</p>
<p>殷（三四）左脅瘕聚。少腹痛。</p>
<p>延胡（一錢）　歸須（一錢）　鬱金（一錢）　川楝子（二錢）　炒桃仁（一錢）　茺蔚子（一錢五分）　粗桂枝（一錢）　南楂炭（二錢）</p>
<p>王（四一）胃脘脹痛。產後氣血凝聚成瘕。頭暈。骨脊痛。晨咳痰黏。胃納頗減。肝逆犯胃。莫如泄肝以救胃。</p>
<p>生左牡蠣（炒，三錢）　歸須（一錢五分）　茯苓（三錢）　鱉甲（炙，五錢）　桃仁（炒，一錢）　白芥子（炒一錢五分）　延胡（炒，一錢）　川楝子（一錢）　香附（研，三錢）</p>
<h2>熱入血室</h2>
<p>徐（廿七）熱病初發。經水適來。知飢少納。惡心噯氣。煩渴懊　。此屬熱邪乘虛內陷血室。是不易治之症。擬兩清氣血方法。</p>
<p>鮮生地　麥冬　粳米　生石膏　牛膝　生草　知母　竹葉心又　昨進兩清氣血方。熱勢稍減。惡心已緩。邪解其半。但懊　煩渴未衰。腹痛便溏。仍宗仲景無犯胃氣及上下二焦之戒立方。</p>
<p>細生地　麥冬　炙草　丹皮　知母　牛膝　生白芍　炒桃仁王（三八）昨議升泄少陽。為恐熱邪乘虛內陷而設。今診脈左數右大。咽痛。舌苔灰色。大便不解。頭痛如昔。脘悶。欲嘔。口乾。鼻干。少寐。參色脈現症。已屬熱邪內陷血室。議景岳玉女煎加竹葉。</p>
<p>生石膏（四錢）　淮牛膝（四錢）　淮熟地（四錢）　知母（一錢五分）　揀麥冬（二錢）　卷心竹葉（一錢五分）</p>
<p>補前方柴胡（五分）　連翹（心，二錢）　知母（一錢五分）　丹皮（一錢五分）　嫩元參（一錢五分）　丹參（一錢五分）　川斛（三錢）　赤芍（一錢五分）</p>
<h2>臟躁悲傷</h2>
<p>吳（六三）肝陽亢為頭暈。腎陰虛則耳鳴。此晚年肝腎氣餒。下虛上實明甚。但忽驚悸。汗大泄。有時寤不肯寐。</p>
<p>竟有悲傷欲哭之象。明系臟陰少藏。厥陽鼓動。內風上冒。舞於太陰。每有是症。病自情志中生。所以清之攻之。均屬無益。議仲景婦人篇。參臟躁悲傷之旨。用藥自有準繩。但王道未能速效。</p>
<p>阿膠（三錢）　牡蠣（三錢）　磁石（二錢）　淮小麥（一錢五分）　炙草（五分）　大棗（三錢）　茯神（二錢）</p>
<h2>痧疹</h2>
<p>韓（十一）風溫襲於肺衛。身熱發痧。痰咳氣喘。煩躁少寐。頻渴脈大。且議清泄。</p>
<p>牛蒡（三錢）　杏仁（三錢）　桑皮（一錢五分）　羚羊角（一錢）　桔梗（一錢）　連翹（二錢）　薄荷（八分）</p>
<p>象貝母（一錢五分）</p>
<p>又　痧痘巳回。目赤咽痛。余毒未清。宜涼解泄邪。</p>
<p>犀角（一錢）　嫩元參（一錢五分）　銀花（一錢）　小生地（三錢）　桔梗（一錢）　霜桑葉（一錢）　連翹（二錢）　生甘草（三分）　黑山梔（一錢五分）</p>
<h2>痘</h2>
<p>曹（八歲）頭面堆沙回靨。毒瓦斯未盡。口疳齦血。稚年陽亢陰虛。恐有暴脫之慮。</p>
<p>地骨皮（三錢）　犀角（四分）　連翹（一錢五分）　川貝（二錢）　生地炭（三錢）　生草（三分）　銀花（一錢）　丹皮（一錢五分）</p>
<p>穆（四歲）堆沙已經回靨。毒瓦斯未盡。咳痰不寐。稚年陽亢陰虛。最怕慢驚之變。治從和脾胃。利濕方法。</p>
<p>地骨皮（三錢）　川斛（三錢）　苡仁（二錢）　川貝（去心研，二錢）　炒麥冬（二錢）　茯苓（三錢）　銀花（一錢）</p>
<h2>驚</h2>
<p>陸（八歲）驚熱內閉。躁煩不食。兩脈洪大。倘邪陷心包。痙厥至矣。</p>
<p>羚羊角（一錢）　鬱金（一錢）　嫩元參（一錢五分）　川貝（二錢）　化橘紅（一錢）　石菖蒲根（三分）　連翹（二錢五分）　竹葉心（一錢五分）</p>
<p>高（三歲）壯熱不已。惡心未減。擬清絡熱。</p>
<p>羚羊角（一錢）　鬱金（一錢）　元參（一錢五分）　小川連（四分）　丹皮（一錢）　黑山梔（一錢五分）　連翹（一錢）　卷心竹葉（一錢五分）</p>
<p>又　清絡得效。熱止神安。所有咳痰頻頻。再守前議。</p>
<p>羚羊角（一錢）　杏仁（三錢）　苡仁（二錢）　川貝（一錢五分）　橘紅（一錢）　塊茯苓（二錢）　霜桑葉（一錢）　鮮枇杷葉（一錢五分）</p>
<p>嚴（二歲）驚熱不解。便青神呆。躁煩不安。邪陷心包。將有螈　之象。</p>
<p>羚羊角（一錢）　鬱金（一錢）　元參（一錢五分）　川貝（一錢五分）　天竺黃（一錢）　細葉菖蒲根（三分）</p>
<p>連翹（一錢五分）　橘紅（一錢）</p>
<p>馮（四歲）風溫內郁。身熱咳嗽。脈大。</p>
<p>桑葉（一錢）　杏仁（三錢）　桔梗（一錢）　羚羊角（一錢）　象貝（一錢五分）　連翹（一錢五分）　牛蒡子（炒研，一錢五分）</p>
<h2>吐瀉</h2>
<p>夏（五歲）暑熱內踞。上吐下瀉。稚年脾胃氣弱。不振使然。</p>
<p>藿香葉（一錢）　製半夏（一錢五分）　南山楂（一錢五分）　飛滑石（三錢）　木瓜（一錢）　茯苓塊（三錢）</p>
<p>厚朴（一錢）</p>
<p>諸（二歲）熱犯脾胃。嘔乳自利。最多變驚。</p>
<p>鮮藿香葉（一錢）　製半夏（一錢五分）　六一散（二錢）　小川連（三分）　黃芩（一錢）　淡竹葉（一錢）　生白芍（一錢）</p>
<p>吳（二歲）兩關脈數。吐乳洞泄。煩躁。睡喜覆臥。是腹痛按之痛止之象。據述跌仆之後。初瀉而嘔吐。乳食格拒。</p>
<p>驚則氣亂明矣。此屬蛔厥之征。稚年脾胃。氣餒不振。四肢厥冷。經旨謂蛔厥多從驚恐得之。是邪非邪。擬方候裁。</p>
<p>吳萸炒川連（三分）　製半夏（一錢五分）　炒白粳米（一錢五分）　生白芍（一錢五分）　草鬱金（一錢）　炒黑川椒（三厘）　薑汁（臨服，沖入二匙）　茯苓（一錢五分）　加石菖蒲根又　胃衰厥冷。吐瀉不止。</p>
<p>參須條（五分）　煨薑（五分）</p>
<h2>疳</h2>
<p>曾（八歲）腹膨便瀉。羸瘦不食。潮熱目翳。症屬難治。</p>
<p>青蒿梗（一錢）　製半夏（一錢五分）　炒穀芽（一錢）　炒厚朴（一錢）　廣皮（一錢）　塊茯苓（三錢）　南楂炭（一錢五分）　雞肫皮（炙，一具）</p>
<p>殷（六歲）腹膨便泄。面黃肢浮。此屬痹疳。</p>
<p>焦白朮（一錢五分）　廣皮（一錢）　茯苓（三錢）　苡仁（二錢）　大腹皮（一錢五分）　澤瀉（一錢）　南楂炭（一錢五分）　木瓜（一錢）</p>
<p>徐（五歲）潮熱羸瘦。咳則嗆血。稚年陽亢陰虛。已屬童勞之象。暫服甘寒。清養肺胃陰液。</p>
<p>地骨皮（三錢）　甜杏仁（三錢）　川斛（三錢）　川貝（去心研，二錢）　北沙參（一錢五分）　麥冬（一錢五分）　霜桑葉（一錢）　玉竹（二錢）　鮮枇杷葉（蜜炙三錢）</p>
<p>徐（八歲）羸瘦嗆逆。骨蒸盜汗。擬潤肺以肅金。寧心以止汗。養陰平肝以退熱。</p>
<p>川貝（一錢五分）　白蒺藜（去刺炒，一錢五分）　生地炭（三錢）　揀麥冬（一錢五分）　川貝（二錢）　杏仁（炒焦，二錢）　地骨皮（一錢五分）　北沙參（一錢五分）　云茯神（二錢）　加石決明（　研，三錢）</p>
<h2>癇痙厥</h2>
<p>沈（五歲）癇厥病來迅速。醒後兩脈皆洪。四肢搐搦。身熱。由陽氣拂逆。勢防絡閉。</p>
<p>暹羅犀角（一錢）　陳膽星（三分）　嫩元參（一錢五分）　羚羊角（一錢）　橘絡（一錢）　石菖蒲根（四分）　連翹（一錢五分）　卷心竹葉（一錢五分）</p>
<p>史（八歲）稚年痙厥。服清泄少愈。是在肝膽風邪。將解之時。陰液尚屬餒怯。最多反覆復熱。今又入暮。煩躁口渴。為熱深厥深。痙厥復至矣。然刻下忌用清火寒涼。所防胃汁苦涸。難以援救。今擬滋清營絡。退熱。兼須養正。錄法備參。</p>
<p>川斛（三錢）　嫩元參（一錢五分）　遠志（五分）　小生地（三錢）　麥冬（一錢五分）　茯神（二錢）　丹皮（一錢）　生白芍（一錢五分）</p>
<h2>蟲</h2>
<p>曲（八歲）生冷食物不化。腸腑停滯。脾弱運化失宰。腹膨便泄。已經瀉蟲。此屬濕熱內聚。治宜苦味勝濕。兼佐理疳化疳。</p>
<p>土炒川連（四分）　土炒白朮（二錢）　豬苓（一錢五分）　雞肫皮（炙，一錢）　川楝皮（一錢）　澤瀉（一錢）</p>
<p>生白芍（一錢五分）</p>
<p>全（七歲）濕熱內聚。腹膨瀉蟲。擬用苦味勝濕。</p>
<p>苦川楝皮（一錢）　土炒白朮（一錢五分）　茯苓（三錢）　炒厚朴（一錢）　川黃柏（一錢）　澤瀉（一錢）　南山楂（一錢五分）　槐米（一錢）</p>
<h2>集方</h2>
<p>截三日瘧方立效檳榔（三錢）　川流麻（三錢）　丁香（七粒）　烏梅（七枚）　杏仁（七粒）</p>
<p>瘡膏方銅綠（三錢）　淘丹（三錢）　白枯礬（六分）　輕粉（二錢）　菜油調撻於油紙上夾好。攢孔用。</p>
<p>鎮驚丸製半夏（一錢）　制南星（三錢）　巴豆霜（一錢五分）　輕粉（一錢）　礞石（三錢）　薑汁為丸。如芥子。朱砂為衣。一用飛滑石為衣。</p>
<p>眼癬撻藥　取其金能制木青黛（四分）　爐甘石（制四分）　銅綠（　，四分）</p>
<p>朱黃散藥朱（三厘）　西牛黃（二厘）　當門子（一厘）</p>
<p>平胃散制茅朮（一兩）　製香附（一兩）　南楂炭（一兩）　厚朴（五錢）　陳皮（一兩）　雞肫皮（五錢）</p>
<p>必勝丹炒軍（一兩）　黑白丑（一兩）　檳榔（炒脆，二錢）</p>
<p>清金丹礞石　大黃（一兩）　黃芩（五錢）　南星（五錢）　半夏（制，五錢）</p>
<p>六一散飛滑石（六兩）　炙草（烘，一兩）　加雄黃（一兩）　即辰砂六一散聞痧藥牙皂（三分）　丁香（一分）　麝香（五厘）　雄黃（一錢）　朱砂（五厘）</p>
<p>食痧藥茅朮（炒脆，一錢）　雄黃（五分）　丁香（一分）　麝香（五厘）　蟾酥（二分）　燒酒浸爛研勻</p>
