<header><h1>傷寒括要</h1></header>
<dl class="元資料" data-type="book">
<div><dt>作者</dt><dd>李中梓</dd></div>
<div><dt>朝代</dt><dd>明</dd></div>
<div><dt>年份</dt><dd><data value="1368/1644">公元1368年至公元1644年</data></dd></div>
</dl>
<h2>自序</h2>
<p>傷寒證治。自古難之。始於仲景。後賢纂述。無慮百家。而在人耳目間者。十有餘種。</p>
<p>不患。疇能千支萬派。匯歸一源。而有張長沙。若合符節耶。自非丹鉛幾偏。而髓竭心枯者。未易語也。余發始燥。便讀仲景書。今且雪盈巔矣。上下南陽易水間。紙敗墨渝。始成授珠十帙。</p>
<p>乙酉春杪集甫竣。而毀於兵火。己丑春孟謀梓之而艱於費。且念多則惑。少則得。古語諄切。今授珠雖備於義。而後學或苦其繁。曷若以一莖筆現丈六紫金。俾入門徑而登高捷乎。遂以授珠刪繁去復。簡邃選玄。僅得十之二。而竟無漏義矣。顏曰括要。謂括義詳而征詞簡也。及門之能諳其義。而噓枯振槁。獨有許石子一見頷之。且汲汲於壽世。乃捐金付諸剞劂。</p>
<p>欲指扶桑。無舟莫適。非謂執此可以盡廢百家。謂諳此可以折衷千古也。夫病機繁雜。變遷無窮。如珠走盤。縱橫不可測。雖縱橫不可測。而終不出此盤也。是帙者其珠之盤乎。審是帙者。其持盤者乎。操通靈之法。以應無窮之變。惟變取適。而不膠於法。斯善讀括要者矣。</p>
<p><u>順治六年歲次己丑上元日盡凡居士李中梓士材甫識。</u></p>
<h2>凡例</h2>
<p>一仲景為傷寒鼻祖。雖後賢蜂起。莫能越其范圍。然有發仲景之奧旨。補仲景之未備者。無不采收。更附以一得之愚。使學人一覽無余。不致遺珠之嘆耳。</p>
<p>一釋仲景書者。惟成無己最為詳明。然智者一失。時或有之。必本諸經文。要諸至理。</p>
<p>詳為條辨。用正千古之訛非敢以臆見。妄肆譏評也。</p>
<p>一仲景立方。動以斤計。或稱升合者。何其多也。及考其用末藥。只服方寸匕。丸藥如梧桐子大者。多不過三十粒。又何其少也。丸散湯液。豈得如此懸絕耶。千金本草。皆以古三兩為今一兩。古三升為今一升。可為準則。蓋衡數以二十四銖為兩。漢制六銖錢。四個為一兩。</p>
<p>宋制開元錢。十個為一兩。大約羌三分之一耳。且仲景湯液並分三次服。則輕重止得三分之一。而服法又得三分之一。豈非古之一兩。僅得今之一錢乎。局方綱目概以今之五錢。作為一劑。則失之太少　。陶氏吳氏。各以意為重輕。盡變古法。則其失更甚。茲刻方藥。悉選仲景古本。不敢輕於變古也。但世有古今。時有寒暑。地有南北。藥有良獷。人有強弱。惟明達者。隨在變通為得耳。</p>
<p>一前輯授珠。每一症。先列仲景全文。次列後賢續論。次列管窺總釋茲刻欲其簡便。不能盡遵全文。有復字。及不緊要字。稍稍節去。然其要旨。固已摭拾無剩矣。</p>
<p>一仲景傷寒論例。凡曰太陽病者。皆謂脈浮惡寒。頭項強痛也。凡曰陽明病者。皆謂胃家實也。皆謂脈微細但欲寐也。凡曰厥陰病者。皆謂氣上衝心痛吐蛔也。如少陰病。反發熱脈沉。</p>
<p>用麻黃附子細辛湯者。謂脈沉細。但欲寐。而又反發熱者。用是方也。後人不解其意。不察少陰病。所括脈微細。但欲寐之症。第見發熱脈沉。便用麻黃附子細辛湯。大失仲景之旨。</p>
<p>姑舉一以例其余。</p>
<p>一後賢以慎重太過。凡仲景重劑輒以輕劑代之。如以沖和湯代麻黃湯之類。不可枚舉。</p>
<p>而仲景之微奧隱矣。殊不知有是病。則服是藥。如鑰之配鎖。不可移易者也。其禍人者。皆藥不對症耳。彼易以輕劑者。是欲以柔士任強弓。安望其中的哉。茲刻悉遵古法。第詳別脈症。自無妄投之失矣。</p>
<p>一仲景傷寒論暨金匱要略。誠為千古醫宗。但文辭簡古。義味深玄。非熟讀深思。未易明了。不揣膚俚。將以注疏。暢其言外之旨。開其晦蝕之光。客嗣布之。以就正有道。</p>
<h2>卷上</h2>
<h3>傷寒總論</h3>
<p>冬令嚴寒。萬類閉藏。君子固密。則不傷於寒。觸犯其邪。名曰傷寒。夫四時之氣。皆能為膚。至春而發。名為溫病。至夏而發。名為熱病。獨不言至秋為涼病者。何也。寒水之氣。</p>
<p>與火為仇。遇仇不發。已為火勝。而長夏濕土。又制水邪。況逢金令。金得寒而愈堅。故秋月無傷寒也。秋病之似傷寒者。皆夏月納涼之邪。或時行不正之氣。或秋令涼氣之邪耳。仲景方法。為冬月即病之正傷寒設也。後世混將冬月傷寒之方。通治春夏溫熱之病。遺禍至今。未有能改。陶節庵以麻黃桂枝。難以輕投。竟以沖和代之。施於時疫之病。猶或可也。用於傷寒之症。不亦悖乎。深嗟今之治傷寒者。在一二日。不問屬虛屬實。便汗之。在三四日。不問在經在腑。便和之。在五六日。不問在表在裡。便下之。投劑一瘥。幽泉沉冤矣。人之表裡虛實不同。邪之傳變異氣各別。奈何拘於日數不審形證耶。且寒邪傷人。原無定體。</p>
<p>或自太陽始。日傳一經。六日傳至厥陰而愈者。或不罷而留滯一經者。或間經而傳者。或但傳二三經而止者。或始終只在一經者。或越經而傳者。或陽經一齊合病者。或陽經後先並病者。或初入太陽。不作鬱熱。便入少陰而成陰症者。或直中陰經而為真寒者。或傷生冷而為內傷寒者。必審脈驗症。辨名定經。確然無疑。然後投劑。日數雖多。但見表症脈浮者猶宜汗之。日數雖少。但見裡症脈沉者即當下之。若表裡症俱見。或表裡症俱無。此屬半表半裡。禁汗禁下禁吐。但當和之。若日久不愈。脈虛神困者便當補之。果能辨陰陽。審表裡。</p>
<p>察虛實。譬之善射。莫不中的矣。</p>
<h3>腎虛人易犯傷寒論</h3>
<p>腎屬寒水。主令在冬。故內經以為閉蟄封藏之本。以欲耗其精。則不能奉若天時。封藏固密。遂致太陽疏滲。寒邪易侵。若腎臟堅固。即使迫於寒滅受邪輕淺。治之即痊。腎臟虛衰。</p>
<p>略冒寒邪。便爾深重。醫藥難療故曰。傷寒偏死腎虛人。良非虛語。</p>
<h3>不服藥為中醫論</h3>
<p>傷寒傳變淆訛。症端錯雜。且肅殺之氣。最為毒烈醫者不能博古衡今。漫投湯劑。鮮不夭枉。致令憤激之說。以不服藥為中醫。豈其然哉。惟正氣實而邪氣輕者。或可俟其經盡而愈。若正氣虛而邪氣重者。非按法施治。何由得痊。譬如人溺洪濤。命在呼吸。不為援手。而聽其自渡。恐全活者幾希矣。</p>
<h3>兩感論</h3>
<p>一曰太陽受之。即與少陰俱病。則頭痛。（太陽）口乾。煩滿而渴。（少陰）二日陽明受之。即與太陰俱病。則身熱譫語（陽明）腹滿不欲食。（太陰）三日少陽受之。即與厥陰俱病。則耳聾。（少陽）囊縮而厥。（厥陰）病至六日。腑臟之氣俱盡。營衛之氣俱絕。則死矣。仲景既論兩感為必死之症。而復日治有先後者。蓋不忍坐視。而覬其萬一之活也。如下利身痛。則先救裡。不利身痛。則先救表。表症多者發表為急。裡症多者。</p>
<p>攻裡為先。東垣曰。虛而感之深者必死。實而感之淺者或生。用大羌活湯。十救一二。</p>
<h3>時行疫症</h3>
<p>春應暖而反寒。夏應熱而反涼。秋應涼而反熱。冬應寒而反溫。非其時而有其氣。觸冒之者。沿門遍戶。長幼相似。此時行疫症也。春感寒邪。升麻葛根湯。夏感涼邪。調中湯。秋感熱邪。蒼朮白虎湯。冬感溫邪。葳蕤湯。表不愈者。芎蘇散。裡不愈者。調胃承氣湯。或成大頭瘟者。當辨其經。先於鼻額紅腫。以致面目腫盛。陽明也。壯熱氣喘。口乾咽痛。脈數而大。普濟消毒飲。耳旁及頭角紅腫少陽也。往來寒熱潮熱。口苦咽乾。目痛脅痛。小柴胡湯。加花粉芩翹。發於項上。及腦後項下。目後赤腫者。太陽也。荊芥敗毒散。三陽俱受邪。普濟消毒飲。不可峻攻。恐邪氣內陷也。虛人兼扶正氣。便結者微下之。</p>
<h3>傷寒十六症</h3>
<p>傷寒者。寒傷營血脈浮而緊。頭痛發熱。無汗惡寒。傷風者。風傷衛氣。脈浮而緩。頭痛發熱。有汗惡風。傷寒見風者。既傷於寒。復感風邪。惡寒不躁。其脈浮緩。傷風見寒者。既傷於風。復感寒邪。惡風煩躁。其脈浮緊。（以上四症皆冬月即病者）溫病者。冬受寒邪。交春乃發。發熱頭痛。不惡寒而渴。脈浮數。溫瘧者。冬受寒邪。復感春寒。脈陰陽俱盛。症寒熱往來。風溫者。冬受寒邪。復感春風。頭痛身熱。自汗身重。默默欲眠。語澀鼻鼾。四肢不收。尺寸俱浮。又發汗後。身猶灼熱者。亦名風溫。溫疫者。冬受寒邪。復感春溫時行之氣。溫毒者。冬受寒邪。春有非時之熱。復感其邪。或有發　者。（以上五症冬傷於寒病發於春故皆有溫之名也）熱病者。冬傷於寒。至夏乃發。頭疼身熱惡寒。其脈洪盛。傷暑者。暑熱為邪。自汗煩渴。身熱脈虛。傷濕者。感受濕邪。身重而痛。自汗微熱。兩足逆冷。</p>
<p>四肢沉重。胸腹滿悶。風濕者。既受濕氣。復感風邪。肢體重痛。額汗脈浮。痙者。身熱足寒。頭項強急。面紅目赤。口噤頭搖。角弓反張。若先受風邪。復感於寒。無汗惡寒為剛痙。先受風邪。復感於濕。惡風有汗為柔痙。仰面而臥。開口為陽。合面而臥。閉目為陰。</p>
<p>浮緊口渴屬陽。沉細口和屬陰。</p>
<h3>類傷寒六症</h3>
<p>一曰痰症。停痰留飲。自汗胸滿。發寒熱。但頭不痛。項不強。與傷寒異。二曰食積。</p>
<p>胸腹滿痛。頭不痛。不惡寒。不浮緊。與傷寒異。四曰香港腳。足受寒濕。頭痛身熱。肢節作痛便閉嘔逆。但腳腫痛。或枯細。與傷寒異。五曰瘀血。跌觸損傷。胸脅腹痛。手不可近。但頭不痛。脈不浮緊。與傷寒異。六曰內癰。發熱惡寒。胸痛而咳。濁唾腥臭。右寸數大。為肺癰。小腹重痛。便數如淋。皮膚甲錯。腹皮腫急。脈滑而數。為腸癰。胃脘大痛。人迎脈盛。</p>
<p>胃脘癰也。但無頭痛。項強。與傷寒異。</p>
<h3>內傷外感辨</h3>
<p>內傷外感。頗相疑混。誤治必死。極當詳辨。外感則人迎大於氣口。內傷則氣口大於人迎。外感則寒熱齊作而無間。內傷則寒熱間作而不齊。外感惡寒。雖近烈火不除。內傷惡寒。得就溫暖即解。外感惡風。乃惡一切風寒。內傷惡風。惟惡些小賊風。外感症顯在鼻。故鼻塞不利。而壅盛有力。內傷症顯在口。故口不知味而腹中不和。外感邪氣有餘。故發言壯厲。</p>
<p>先輕而後重。內傷元氣不足。故出言懶怯。先重而後輕。外感頭痛。常常而痛。內傷頭痛。</p>
<p>時作時止。外感手背熱。手心不熱。內傷手心熱。手背不熱。若內外相兼而病者。尤當細辨。以內症多者。是內傷重於外感。補養為先。外症多者。是外感重於內傷。解散為急。此東垣未發之旨也。</p>
<h3>治傷寒宜早</h3>
<p>仲景曰。傷寒初起。即時求治。凡作湯藥。不避晨夜。醫之稍遲。病即傳變。必難為力矣。凡作汗藥。雖言一日三服。若病劇者。半日中可盡三服。一日一夜。當時時觀之。如救焚拯溺。不容少怠。</p>
<h3>視傷寒宜詳</h3>
<p>凡看傷寒。自頂至踵。最宜詳察。一有不到。錯誤匪輕。仲景云。觀今之醫。各承家技。始終順舊。省疾問病。務在口給。相對斯須。便處湯劑。按寸不及尺。握手不及足。人迎趺陽。三部不參。動數發息。不滿五十。明堂闕庭。盡不見察。夫欲視死別生。實為難矣。嗟乎。業已稱醫。人之司命。孟浪至此。烏乎可哉。</p>
<h3>辨成氏再傳之訛</h3>
<p>傷寒傳經。自表入裡。由淺漸深。故六經以次受之。六經傳盡。無出而再傳之理也。太陽為三陽。最在於外。陽明為二陽。在太陽內。少陽為一陽。在陽明內。此三陽為表也。太陰為三陰。在少陽內。少陰為二陰。在太陰內。厥陰為一陰。在少陰內。此三陰為裡也。皆由內以數至外。故一二三之次第如此。一二日始於太陽。二三日傳於陽明。三四日少陽。四五日太陰。五六日少陰。六七日厥陰。此論其常耳。若論其變。或間經。或越經。或始終一經。不可以次第拘。不可以日數限也。大抵傳至厥陰。為傳經已盡。不復再傳矣。乃成氏云。六日厥陰為傳經盡。七日當愈。七日不愈者。再自太陽。傳至十二日。復至厥陰為傳經盡。十三日當愈。十三日不愈者。謂之過經。其說謬矣。善哉馬仲化曰。自太陽以至厥陰。猶人從戶外。而升堂。而入室也。厥陰復出而傳於太陽。奈有少陰太陰少陽陽明以隔之。豈有遽出而傳太陽之理乎。仲景太陽篇云。太陽病。頭痛七日以上自愈者。以行其經盡故也。若欲作再經者。針足陽明。使經不傳則愈。此言始終只在太陽一經者也。故太陽篇曰。發於陽者七日愈。陽數七故也。若七日不愈。欲再傳陽明矣。當針足陽明。迎而奪之也。試玩行其經盡。不曰傳其經盡。則仲景之意。顯然矣。成氏誤認行其經盡為傳遍六經。乃有自太陽再傳之說耳。或問曰。霍亂篇云。十三日愈者。經盡故也。此非六日傳遍六經。後六日再傳經盡。十三日當愈者歟。仲景云。十三日不解。過經譫語者。當下之。此非十二日傳盡。十三日不愈為過經者歟。答曰。經盡者行其經盡之謂也。如太陽受病於一日。至七日為行。太陽經盡之例推之。則諸經皆可屈指而期矣。陽明受病於二日。至八日自愈者。行陽明經盡也。少陽受病於三日。至九日自愈者。行少陽經盡也。四五六日至三陰經。次第至十二日愈者行厥陰經盡也。十三日大氣皆去。精神爽慧之期。故曰。過十三日以上不間。尺寸陷者大危。何嘗有再傳經盡。謂之過經之旨哉。詳考仲景所謂過經。或言過太陽經成裡症者。或泛言過經者。陽明篇曰。汗出譫語燥屎在胃此為風也。過經乃可下之。謂燥屎在胃而譫語。風邪在表而汗出。須過太陽經無表症。乃可下之。此言過太陽經成裡症者也。果如成氏十三日再傳經盡。謂之過經。</p>
<p>則燥屎在胃。必待十三日乃下乎。於此條則注曰。過太陽經無表症。乃可下之。則自相矛盾矣。霍亂篇曰。下利後當便　（音硬）硬則能食者愈。今反不能食。到後經中頗能食。復過一經能食。過之一日當愈。不愈者。不屬陽明也。此泛言過經者也。何嘗有再傳經盡。謂之過經之旨哉。蘊要祖成氏之說。其過經不解例曰。經言十三日不解。謂之過經。仲景實無此語。誤以成注為經矣。千古承訛後學聾瞽。故表而出之。</p>
<h3>六經七日病愈論</h3>
<p>六經以次受病。其愈皆以七日為期。王叔和曰。其不兩感於寒。更不傳經。不加異氣者。至七日太陽病衰。頭痛少愈。八日陽明病衰。身熱小歇。九日少陽病衰。耳聾微聞。十日太陰病衰。腹減如故。則思飲食。十一日少陰病衰渴止。舌乾已而嚏。十二日厥陰病衰。囊縱。</p>
<p>少腹微下。大氣皆去。精神爽慧也。此論本於素問從來注疏。不能無誤。請更疏之。不兩感者。非表裡雙傳也。更不傳經者。邪在此經更不傳彼經也。不加異氣者。不復感寒。感風。</p>
<p>感溫。感熱。感濕。而變為他病也。如是則可以期六經病愈之日矣。太陽篇曰。發於陽者。</p>
<p>七日愈。以是計之。乃知六經之病。自一日受者。七日當衰。二日受者。八日當衰。故七日邪在太陽。不傳陽明。更無變症。則至七日。太陽病衰。頭痛少愈。二日傳陽明。更不傳變。至八日陽明病衰。身熱少歇。三日傳少陽。更不傳變。至九日少陽病衰。耳聾微聞。四日傳太陰。</p>
<p>更不傳變。至十日太陰病衰。腹減如故。則思飲食。五日傳少陰。更不傳變。至十一日少陰病衰。渴止。舌乾已而嚏。六日傳厥陰。至十二日。厥陰病衰。頭痛少愈。大氣皆去精神爽慧。明乎此。而上章成氏之誤。不辨自見矣。</p>
<h3>仲景三百九十七法一百一十三方論</h3>
<p>仲景傷寒論。三百九十七法。一百一十三方。醫者但能誦之。欲條分縷析以實其數者。</p>
<p>未之前聞也。余考太陽上編六十六法。中篇五十六法。下編三十八法。陽明篇七十七法。少陽篇九法。太陰篇九法。少陰篇四十六法。厥陰篇五十四法。來病篇二十法。霍亂篇九法。陰陽易。瘥後勞復篇七法。又據舊本太陽中篇不可汗六法。移在條辨十五篇內。共得三百九十七法。太陽篇七十三方。陽明篇十方。少陽篇一方。太陰篇二方。少陰篇十四方。厥陰篇六方。霍亂篇三方。陰陽易。瘥復四方。共得一百一十三方。統而論之。方者。定而不可易者也。法者。活而不可拘者也。非法無以善其方。非方無以療其症學人先以方法熟習之。後以方法融會之。則方可以隨時變。而不逾仲景之法。法可以隨症立。而不外仲景之方。由是則超於方。亦方也。逸於法。亦法也。若拘拘於一定之軌則。而不思變通。不惟膠柱鼓瑟。抑且浩漫靡窮矣。</p>
<h3>陶氏辨差認十六條</h3>
<p>非時感冒。誤作傷寒。（非時者四時不正之氣傷寒者冬月殺厲之氣）直中陰經。誤作傳經熱症。（稍辨傷寒者即無此誤也）夾陰傷寒。夾陰中寒。誤作正傷寒（夾陰者因房勞腎虛必有足冷脈沉之異）內傷於寒。誤作外傷寒。（內傷生冷法當濕中外感寒邪理宜發表）如狂之症。誤作發狂。（蓄血症每見如狂而發狂者熱邪深重也）血症發狂。誤作濕熱發黃。（腹滿小便利此蓄血發黃也色如煙熏一身盡痛小便不利此溫熱發黃）蚊跡。誤作發　。（發　多見於胸腹蚊跡只見於手足脈洪大煩躁昏憒先紅後赤者　也脈不大安靜清爽先紅後黃者蚊跡也蚊跡因腎虛誤服涼藥逼其無根之火熏肺而然）動少陰血。誤作鼻衄。（少陰病但厥無汗而強發之血從口鼻出名下厥上竭者死鼻衄不過火邪熏肺耳）譫語。誤作狂言。（譫語者數數更端狂言者叫號怒罵）獨語。誤作鄭聲。（獨語者無人則言鄭聲者頻頻諄復）女勞復。誤作陰陽易。（女勞復者愈後交合也陰陽易者女病易於男男病易於女也）痞滿。誤作結胸。（不痛為滿痛為結胸）噦逆。誤作乾嘔。（噦者呃也乾嘔者有聲無物也）並病。誤作合病。（合病者二三經齊病也並病者一經未盡又過一經之傳）正陽明腑病。誤作陽明經病。（府病在裡宜下經病在表宜汗）陰躁。誤作陽狂。（陰躁脈沉足冷凍飲料水不下咽也陽狂脈實大渴飲水）</p>
<h3>察色法</h3>
<p>青屬肝木。主風。主寒。主痛。面青唇青。舌卷囊縮。急溫之。青而黑。青而紅。相生者吉。青而白。枯燥者死。赤屬心火。主熱。太陽面赤。當汗。陽明面赤。惡熱不惡寒。便閉譫語。可下表裡俱熱。燥渴脈洪。未可下。少陽面赤脈弦。小柴胡和之。少陰下利清穀。裡寒外熱。面赤。四逆東加蔥白。此陰寒逼其浮火上行。服寒涼必死。赤而青。赤而黃。相生則吉。赤而黑。相克則凶。　黃屬脾土。主濕。黃而明者。熱也。黃而暗者。濕也。</p>
<p>黃而白。黃而紅。相生則吉。黃而青。相克則凶。黃色明潤。病將愈。枯夭者凶。白屬肺金。主氣血虛白而黑。白而黃。相生者吉。白而赤。相克者凶。黑屬腎水。主寒。主痛。黑而白。黑而青。相生則吉。黑而黃。相克則凶。黑氣自魚尾入太陰者死。自法令人中入口者死</p>
<h3>察目法</h3>
<p>目明者吉。昏者凶。開目欲見人。陽症也。閉目不欲見人。陰症也。目中不了了。睛不和。熱甚也。目赤痛者。陽明熱也。瞑目者。將衄血也。白睛黃。將發黃。目睛微定。暫時稍動者。痰也。目　黃。病將愈。或反目上視。或瞪目直視。或目睛正圓或戴眼反折。或眼胞陷下。皆死症也。</p>
<h3>察鼻法</h3>
<p>鼻青腹痛。冷者死。微黑者水氣。黃者小便難。白者氣虛。赤者肺熱鮮明者。有留飲也。鼻孔干躁。陽明熱將衄。鼻孔燥黑如煙煤。陽毒也。冷滑而黑。陰毒也。鼻鼾者。風溫也。鼻塞者。風熱也。鼻煽者。肺風難治。</p>
<h3>察口唇法</h3>
<p>唇焦黑為脾熱。腫赤為熱甚。青黑為冷極。口苦為膽熱。口甜為脾熱。口燥咽乾為腎熱。舌乾燥渴為胃熱。口噤為痙風。上唇有瘡。狐蟲食臟。下唇有瘡。惑蟲食肛。唇青舌卷。唇吻反青。環口黧黑。魚口氣促唇口顫搖。氣出不返。皆死症也。</p>
<h3>察舌法</h3>
<p>在青則無胎。在半表半裡白胎而滑。在裡則黃胎。熱甚則黑胎。芒刺。不熱。不渴。黑胎。有津為寒。舌乃心苗。紅為本色。故吉。黑為水色。故凶。凡舌硬。舌腫。舌卷。舌短舌強者。十救一二。舌縮神昏。脈脫者死。陰陽易。舌出數寸者死。夏月黑胎可治。冬月黑胎難治。黑胎刮不去。易生刺裂者死。凡見舌胎。以井水浸青布。擦淨舌胎。薄荷細末。蜜調敷之。吐舌者。摻冰片末。即收。</p>
<h3>察耳法</h3>
<p>耳葉紅潤者吉或黃或白。或黑或青。枯燥者凶。耳聾腫痛。屬少陽可治。耳聾舌卷唇青</p>
<h3>察身法</h3>
<p>身輕能轉側吉。身重難轉側凶。凡陰症。手足冷。蜷臥惡寒。好向壁臥。閉目惡明。懶見人。頭重視深。天柱骨倒者死。循衣摸床。兩手撮空。神去而魂亂也。脈浮而洪。身汗如油。</p>
<p>喘而不休。形體不仁。乍靜乍亂。此為命絕。</p>
<h3>察聲</h3>
<p>（少陰咽中有瘡則不語太陰火來乘金則無聲）</p>
<p>出言壯厲。先輕後重為外感有餘之症語言懶怯。先重後輕。為內傷不足之症。怒罵叫號。奔走不定。謂之狂言。無人則言。見人則止。謂之獨言。語無倫次。數數更端。謂之譫語。一事一語。頻頻諄復。謂之鄭聲。睡則多言。喚醒則止。謂之睡中呢喃。出言不正。旋自知非。謂之錯語。鼻塞聲重為傷風。唇瘡聲啞為狐惑。口噤攣搐為痙症。鼻鼾語澀為風溫。（笑為心聲呼為肝聲哭為肺聲歌為脾聲呻為腎聲）</p>
<h3>察脈</h3>
<p>（浮大動數滑為陽沉澀弱弦微為陰）</p>
<p>浮候　舉指於皮膚之上。輕手得之曰浮。主在表之症。浮緊有力。無汗惡寒。為寒傷營。浮緩無力。有汗惡風。為風傷衛。</p>
<p>中候　尋指於肌肉之間。不重不輕而得曰中。主半表半裡之症。洪而長者。陽明胃脈也。弦而數者。少陽膽脈也。</p>
<p>沉候　按指於筋骨之下。重手得之曰沉。主在裡之症。沉數有力。為熱邪傳裡。沉遲無力。為直中陰經。</p>
<p>浮為表屬陽。沉為裡屬陰。遲則為寒。數則為熱。數大無力。為陽中伏陰。浮數有力。</p>
<p>為純傳裡。浮而遲澀。浮而軟散。皆虛。浮而緊數。浮而洪滑。皆實。沉而細弱。沉而遲伏。皆虛。沉而滑數。沉而堅大。皆實。乍大乍小。乍數乍疏。此為死脈。亦為祟脈。</p>
<p>細察浮中沉三候。而別其有力。無力。則陰陽表裡虛實。自無遁情。但能於此精求。臨症萬無一失。陽症之脈。以大則病進。小則病退。陰症之脈。以沉伏病進。遲緩病退。汗後脈當安靜。躁亂者死。溫後脈當漸出。歇止者死。表症而脈伏者。有邪汗也。昏沉而脈靜者。欲戰汗也。</p>
<p>陰症見陽脈者生。真陽來復之象。任受補也。陽症見陰脈者死。正氣衰微之象。不任受攻也。</p>
<p>足脈二條。　一曰趺陽。又名衝陽。又名會源。陽明胃脈也。在足面大指間。五寸骨間動脈是也。病勢危篤。當診趺陽。以察胃氣之有無。蓋土為萬物之母。後天之根本也。經曰。衝陽絕死不治。一曰太谿。少陰腎脈也。在足內踝。後跟骨上陷中動脈是也。病勢危篤。當診太谿。以察腎氣之有無。蓋水為天一之元。先天之根本也。經曰。太谿絕死不治。</p>
<h3>太陽脈似少陰少陰症似太陽辨</h3>
<p>太陽脈似少陰。少陰症似太陽。雖曰相似。治法不同。脈沉發熱。同也。以其有頭疼。</p>
<p>故名太陽病。陽症脈當浮。今反不浮而沉。裡必虛寒也。身體疼痛。但宜救裡。使正氣內強。逼邪出外。用乾薑生附出汗而解。若裡不虛寒。則必脈浮。正屬太陽麻黃湯症矣。脈沉發熱。</p>
<p>同也。以其無頭疼。故名少陰病。陰症當不熱。今反發熱。寒邪在表。未傳於裡。但皮膚鬱閉而為熱。如在裡無熱。用麻黃附子細辛湯。麻黃發表間之汗。附子溫少陰之經。假使寒邪在裡。則外必無熱。當見吐利厥逆等症。正屬少陰四逆症矣。蓋少陰表邪浮淺。發熱反為輕。太陽正氣衰微。脈沉反為重。熟附配麻黃。發中有補。生附配乾薑補中有發。仲景之旨微</p>
<h3>從症不從脈四條</h3>
<p>脈浮為表。治宜汗之。若脈浮大。心下硬有熱。屬臟者攻之。不令發汗。脈沉為裡。治宜下之。若少陰病。始得之反發熱脈沉者。麻黃附子細辛湯微汗之。脈促為陽。治宜清之。若脈促而厥冷。炙之溫之。此又非促為陽盛之論矣。脈遲為寒。治宜溫之。若陽明脈遲。不惡寒。</p>
<p>身體　汗出。用大承氣下之。此又非遲為陰寒之論矣。四者皆從症不從脈也。</p>
<h3>從脈不從症四條</h3>
<p>表症宜汗。此其常也。然發熱頭痛。脈反沉身體疼痛。當救其裡。用四逆湯。裡症宜下。此其常也。日晡發熱屬陽明。脈浮者宜汗。用桂枝湯。結胸症具。宜陷胸湯下之。然脈浮大者不可下。下之則死。當治其表。身疼痛者。宜桂枝麻黃解之。然尺中遲者不可汗。營血不足故也。當調其營四者皆從脈不從症也。</p>
<h3>合病並病論</h3>
<p>合病者。兩陽經。或三陽經齊病。不傳者也。並病者。一陽經先病未盡。又過一經。而傳者也。太陽陽明並病。若並未盡。所謂太陽症不罷。面赤佛郁。煩躁短氣。是傳未盡。尚有表症。當麻黃桂枝各半湯汗之。若並已盡所謂太陽症罷。潮熱。手足汗出。便硬。譫語。當承氣湯下之。三陽合病。皆自下利。太陽陽明合病。葛根湯。太陽少陽合病。黃芩湯。少陽陽明合病。調胃承氣湯。</p>
<h3>陽厥陰厥辨</h3>
<p>陽厥者。初得病。身熱頭疼。以後傳入三陰。大便閉。小便赤。譫渴躁亂。見諸熱症而發厥者。熱極反兼勝已之化也。熱微厥亦微。宜四逆散。熱深厥亦深。宜承氣湯。陰厥者。初得病。無身熱頭疼。面寒肢冷。引衣蜷臥。見諸寒症而發厥者。輕則理中湯。重則四逆湯。二厥之脈。皆沉。陰厥沉遲而弱。指頭常冷。陽厥沉而滑。指頭常溫。</p>
<h3>傷寒禁忌</h3>
<p>誤投麻黃。汗多亡陽。誤投承氣。下多亡陰。老弱虛人。但當微利。或豬膽。或煉蜜導之。尺脈弱者禁下。寸脈弱者禁吐。吐蛔一症。雖有熱症。大忌寒涼。誤服必死。初愈勿驟進參。邪氣得補即復。脈虛神倦者。不在禁例。宜隨機活變。傷寒欲飲水為欲愈。不可禁絕。</p>
<p>不可多與。初愈勿過飽。勿勞動。勿憂怒。勿行房。勿食羊肉。勿多飲酒。勿輕見風。</p>
<h3>死症歌</h3>
<p>兩感傷寒不須治。陰陽毒過七朝期。黑　下厥與上竭。陽症見陰脈者危。舌卷耳聾囊更縮。陰陽交及摸尋衣。重　除中皆不治。唇吻青兮面黑黧。咳逆不已並臟結。溲屎遺失便難醫。</p>
<p>汗出雖多不至足。口張目陷更何為。喘不休與陰陽易。離經脈見死當知。結胸症具煩躁甚。</p>
<p>直視搖頭是死時。少陽症與陽明合。脈弦長大救時遲。汗後反加脈躁疾。須知臟厥死無疑。</p>
<h3>用火法</h3>
<p>服發表藥。汗不得出。用薪火燒地。長久掃去。以熱水洒之。取蠶沙柏葉桃葉。少加糠麩。</p>
<p>。（白朮　本川芎白芷米粉各等分為細末）撲之。汗止上床。最得力者。蠶沙桃柏葉也。糠麩乃助其濃耳。</p>
<h3>用水法</h3>
<p>水七碗。燒鍋令赤。投水待沸。取起。再燒鍋赤。又以水投之。如此七次。取湯一碗。</p>
<p>乘熱飲。或浸手足。或漱口。表未解。及陰症似陽者忌之。</p>
<h3>摘陶氏七法</h3>
<p>發狂難制。醋炭氣入鼻即定。方可察其陰陽。以脈之有力無力為辨。腹痛有陰有陽。將涼水半碗與病患飲之。痛減者屬熱。痛增者屬寒。更參脈來有力無力。</p>
<p>寒症脈伏。或吐瀉脫而無脈。以薑汁好酒各半盞。與病患服。脈出者生。不出者死。更覆手取之而無脈。則絕矣。</p>
<p>鼻衄不止。山梔炒黑為末。吹入鼻中。外用濕紙搭於鼻沖。其血自止。吐血不止。韭汁磨墨呷之。如無韭汁。雞子清亦可。赤屬火。黑屬水。有相制之理。</p>
<p>陰毒昏憒。唇青。肢冷。甲黑。藥不得入。將蔥一握束緊。切去根葉。留白三寸如餅。</p>
<p>將麝半分填臍內。後加蔥餅。以火熨之。爛即易。約三餅可醒。先灌薑汁。後服薑附湯。未醒。</p>
<p>灸關元穴三十壯。不醒者必死。</p>
<p>服藥即吐者。生薑汁半盞熱飲。吐即止。大抵寒藥熱飲。熱藥冷凍飲料。中和之劑溫飲。補湯須用熟。（慢火久煎）利藥不嫌生。（猛火急煎）</p>
<h3>足太陽經症治</h3>
<p>太陽膀胱經。為諸經之首。四通八達之衢。故多傳變。其經起於目內　。從頭下後項。</p>
<p>連風府。行身之背。終於足小指。其症頭項痛。腰脊強。惡心拘急。體痛。骨節痛。發熱。惡寒。此表症標病。脈浮緊有力。無汗為表實。寒傷營血。宜麻黃湯發表。浮緩無力。有汗為表虛。風傷衛氣。宜桂枝湯實表散邪。身疼熱甚而煩。脈浮而緊。此傷風見寒脈也。身不疼。</p>
<p>熱少不煩。脈浮而緩。此傷寒見風脈也。俱用大青龍湯發之。脈靜為不傳。脈躁盛為欲傳。</p>
<p>如脈浮。發熱煩渴。小便不利。此太陽傳本病。宜五苓散利之。小便如常者。不可利也。</p>
<p>恐引邪入裡。為熱結膀胱。又不可下。恐表邪乘虛入裡。為痞滿結胸。協熱下利。雖當汗者。亦勿太過。恐其亡陽肉　筋惕。故有汗禁麻黃。無汗禁桂枝。有汗勿再汗。汗多則小便不利。</p>
<h3>足陽明經症治</h3>
<p>陽明胃經。乃兩陽合明於前後。腑居中土。萬物所歸。其經起於鼻交　中。絡目循於面。行身之前。終於足大指。其症目痛。鼻干。不眠。頭額痛。身微熱。惡寒。脈洪長。</p>
<p>此陽明標病。宜葛根湯解肌。身熱渴飲汗出惡熱。脈洪數。此陽明本病。宜白虎湯清熱。潮熱自汗譫渴。不惡寒。反惡熱。揭去衣被。揚手擲足。　黃狂閉。或手足乍冷乍溫。腹滿硬痛喘急。脈沉數。此正陽明腑病。調胃承氣湯下之。自汗者勿利小便。恐津液枯竭也。</p>
<h3>足少陽經症治</h3>
<p>少陽膽經。膽無出入。主半表半裡。其經起於目銳　。上頭角。絡耳中。循胸胃脅。行身之不從標本。從乎中治。只用小柴胡湯和解。別無他藥。禁汗。禁吐。禁下。禁利小便。</p>
<h3>足太陰經症治</h3>
<p>太陰脾經。乃三陰之首。故名太陰。其經起於足大指。上行至腹。絡於咽。連舌本。循身之前。口渴。發黃茵陳湯。小便赤。大便閉。是太陰本病。桂枝大黃湯。初病起。不熱。不渴。</p>
<p>頭不痛。便怕寒。胸腹滿痛。或吐瀉。手足冷。小便清白。或嘔呃。是本經直中寒邪。宜理中湯初病起。不熱不渴。胸腹滿痛。手足冷。氣口沉細。此內傷生冷。宜治中湯。</p>
<h3>足少陰經症治</h3>
<p>少陰腎經。人之根蒂也。三陰交中名曰少陰。其經起於足心涌泉穴。上行貫脊。循喉。</p>
<p>絡舌本。下注心胸。行身之前。其症引衣蜷臥。惡寒。口躁咽乾。譫語。口渴。便閉。脈沉有力。此熱邪傳入少陰本病。大承氣湯急下之。初起身熱。面赤足冷。本經自受夾陰傷寒。標本俱病也。麻黃附子細辛湯。溫經散寒。若陰躁欲坐泥水井中。雖欲飲而不受。面赤足冷。脈沉或脈雖大。按之如無。此陰極發躁。本病也。宜四逆合生脈散。退陰回陽。身熱煩躁。面赤足冷。脈數大無力。此虛陽伏陰。標本俱病。宜加減五積散。溫解表裡。初病起。頭不痛。</p>
<p>口不渴。身不熱。便厥冷蜷臥。腹痛吐瀉。或戰栗。面如刀刮。脈沉細。此少陰直中寒邪。</p>
<p>宜四逆湯。急溫之。無熱惡寒。面青。小腹絞痛。足冷脈沉。蜷臥不渴。或吐利昏沉。手足甲青。冷過肘膝。脹滿不受藥。此夾陰中寒本病也。宜人參四逆湯溫補之。六經之中。惟此經難辨。以燥渴便閉。脈沉實知其熱。脈沉遲別其寒。</p>
<h3>足厥陰經症治</h3>
<p>厥陰肝經。三陰交盡。名曰厥陰。乃六經之尾。其脈起於足大指。上環陰器抵小腹。循脅上口唇。與督脈會於巔。行身前之側。其症煩滿囊拳。消渴舌卷。譫語便閉。手足乍溫乍冷。</p>
<p>脈沉有力。此熱邪傳入厥陰本病大承氣湯急下之。寒熱似瘧。脈浮緩。此熱邪在經標病。柴胡桂枝麻黃各半湯。不嘔清便。不藥自愈。初病起。不熱渴。不頭疼。便怕寒厥冷。或小腹至陰痛。或吐瀉體痛。嘔涎沫。唇面手足甲俱青。冷過肘膝舌卷囊縮。脈沉微。此直中本病茱萸四逆湯急溫之。</p>
<h3>可汗</h3>
<p>頭項體痛。或腰痛背強。或肢節痛。拘急。或洒洒惡寒。或翕翕發熱。或煩熱。脈浮緊或浮數。皆表症也。宜發其汗。</p>
<h3>不可汗</h3>
<p>無表症或身有汗。或口燥舌乾。或口苦咽乾。或咽中閉塞。或亡血虛家。或淋瀝瀉利。</p>
<p>或陰虛勞倦。或夢遺精滑。或臍旁動氣。或風溫。濕溫。中暑。或瘡痛。或厥。或產後。或經水適來適斷。或太陽與少陽並病。頭項強痛。眩冒。心下痞。頭痛而熱。脈弦細。屬少陽經。</p>
<p>或脈沉。或脈微弱。並不可汗。</p>
<h3>可下</h3>
<p>蒸蒸發熱。便閉。或潮熱腹滿痛。或潮熱譫語。或陽明自汗。胃燥譫閉。或陽明無汗。</p>
<p>小便不利。懊　。必發黃。或脈滑譫語。或潮熱。手足腋下汗出。譫閉。或目中不了了。便閉。</p>
<p>或下利臍腹硬痛。或痞滿燥實。　黃狂閉揭去衣被。揚手擲足。或汗吐下後。微煩。小便數。大便難。或轉失氣。或小腹滿痛。小便利。大便黑為蓄血。皆可下也。</p>
<h3>不可下</h3>
<p>脈雖沉。有表症。或惡風寒。或頭背項腰。強痛拘急。或嘔吐。或腹脹。時滿時減。或不轉失氣。或腹脹可按。或有動氣。或腹如雷鳴。或陽明面赤。或咽中閉塞。或夾陰面赤。或硬在心下。或小便清白。或內傷或房勞。或胎前。或產後。或崩漏。或經水適來適斷。或脈虛。或脈浮大。或緊皆不可下。</p>
<h3>可吐</h3>
<p>病在膈上。或胸滿多痰。或食在胃口。或胸滿微煩。或胸中懊　或胸中痛欲按。或寸口脈滑。或寒氣在胸煩滿。或寸脈沉伏。或干霍亂。心腹刺痛。皆宜吐之。</p>
<h3>不可吐</h3>
<p>邪在膈下。或膈上寒乾嘔者。宜溫忌吐。或老弱。或素虛。或陰虛。或房勞。或胎前產後。經水適來適斷。或脈虛細。皆不可吐。</p>
<h3>可溫</h3>
<p>直中陰經。或無熱惡寒。或嘔吐不止。或冷痛泄瀉。或戰栗蜷臥。面如刀括。或四肢逆冷。或夾陰面青。或下後利不止，或舌卷囊縮。厥冷。或胃寒呃逆脈沉遲無力者。悉當溫之</p>
<h3>不可溫</h3>
<p>燥渴咽乾。或身熱。小便赤。或喜飲冷。或大便閉或脈數大有力。皆不可溫。</p>
<h3>急下</h3>
<p>（五症）</p>
<p>急者病勢危篤不可稍緩也。少陰舌乾口燥。恐熱消腎水。大承氣湯急下之。少陰自利純清水。心下硬痛。燥渴。大承氣湯急下之。陽明汗多熱甚。恐胃汁乾。大承氣湯急下之。目睛不明。腎水已竭。熱而便閉大承氣湯急下之。陽明腹滿痛為土實。急用大承氣湯下之。</p>
<h3>急溫</h3>
<p>（二症）</p>
<p>少陰。內寒已甚。陽氣欲絕。急用四逆湯。少陰。膈上有寒飲。乾嘔不可吐者。急用四逆湯溫之。</p>
<h3>發熱</h3>
<p>（發熱者無休止也潮熱者時熱時止如潮之有汛也煩熱者虛而煩躁發熱也）</p>
<p>太陽發熱。頭痛。項強。腰脊痛身痛。骨節痛。惡寒無汗。脈緊。（麻黃湯）惡風有汗脈浮。（枝桂湯）發熱。煩渴。小便不利。太陽傳本病。（五苓散）陽明發熱。目痛。鼻干。不眠。微惡寒。頭額痛。脈洪長。（葛根湯）表裡俱熱。口渴。脈洪數。（白虎湯）譫狂渴閉。惡熱。脈沉數。（承氣湯）少陽發熱。耳聾。脅痛。寒熱嘔。口苦。頭角痛。脈弦數。（小柴胡湯）三陰惟少陰有表熱。但脈沉。足冷。（麻黃附子細辛湯）下利厥。裡寒外熱。（人參四逆湯）汗後。發熱脈躁疾。下利。熱不止。皆死。</p>
<h3>惡寒</h3>
<p>（寒邪客於榮衛故惡寒身雖熱不欲去衣被也雖裡症悉具而微惡寒亦表未解當先解其外俟不惡寒方可攻裡）</p>
<p>太陽發熱。惡寒。（麻黃湯）少陰無熱。惡寒。（四逆湯）汗後。惡寒。（桂枝芍藥湯）陽明背微惡寒。口渴。心煩。（白虎加人參湯）少陰口中和。背惡寒。（附子湯）少陰惡寒。厥冷自利。</p>
<p>煩躁脈不至者死。</p>
<h3>惡風</h3>
<p>（邪風傷　衛故惡風悉屬於陽三陰經症並無惡風也）</p>
<p>太陽無汗。惡風。（麻黃湯）有汗。惡風。（桂枝湯）汗後不解。表裡俱熱。時時惡風。煩渴。（白虎加人參湯）汗多亡陽。惡風。（桂枝朮附湯）風濕相搏。骨節痛。短氣。小便不利。自汗。惡風。（甘草附子湯）</p>
<h3>潮熱</h3>
<p>（一日一發屬陽明症如潮之有信旺於未申故日晡乃發）</p>
<p>陽明潮熱。大便硬與。（大承氣湯）不硬者不與。先與小承氣。轉失氣者。燥糞也。可與大承氣。不轉失氣者。初硬後心溏。慎勿攻。攻之則脹滿不食。太陽病。小有潮熱。大結胸。（大燥屎。（大承氣湯）潮熱。大便溏。小便利。胸脅滿。（小柴胡湯）</p>
<h3>往來寒熱</h3>
<p>（邪在半表半裡表多則寒甚裡多則熱甚或往或來日二三發非如瘧疾之止作有時也）</p>
<p>傷寒十余日。熱結在裡。往來寒熱。（大柴胡湯）往來寒熱。胸脅滿。心煩。喜嘔。或心下悸熱。（柴胡桂枝乾薑湯）</p>
<h3>煩熱</h3>
<p>（心中熱而煩擾亦有屬寒者或在表或在裡或半表半裡或因陰虛火動或因氣虛或因心虛）</p>
<p>太陽汗解後。復煩脈浮數。（桂枝湯）太陽汗後。脈浮數。煩渴。（五苓散）太陽吐下後。</p>
<p>表裡（梔子厚朴湯）汗吐下後。微煩。小便數。大便硬。（小承氣湯）悸而煩。（小建中湯）陽明下利後。虛煩。（梔子豉湯）下後煩。尚有燥屎。（大承氣湯）少陽胸滿而煩。寒熱。（小柴胡湯）兼驚。小便不利。譫語。身重。（柴胡桂枝龍骨牡蠣湯）少陰欲寐而煩。自利而渴。小便白。（四逆湯）服白通湯後。利不止。厥逆。無脈。乾嘔而煩。（白通東加豬膽汁）心煩。不得臥。（黃連阿膠湯）厥陰厥冷而煩。脈乍結乍緊。心中滿。（瓜蒂散）陰虛火動而煩。（生脈散）氣虛自汗。脈虛而煩。（補中益氣湯）</p>
<h3>煩躁</h3>
<p>（煩為煩擾心病也故煩字從火躁為憤躁腎病也故躁字從足有在表在裡之分有火劫陽虛之異）</p>
<p>太陽發熱。惡寒。身痛。無汗。脈浮急。（大青龍湯）太陽　下後。胃干。煩躁不眠。欲飲水利。屎硬。乃可攻。（大承氣湯）下後復汗。煩躁不眠。夜則安靜。不嘔。不渴。無表症。脈沉微。身無大熱。（乾薑附子湯）汗下後不解。煩躁不渴。脈沉微。（茯苓四逆湯）陽明病。五六日不大便。繞臍痛。煩躁。有燥屎。（承氣湯）少陰吐利厥冷。煩躁者死。（吳茱萸湯）厥陰脈沉而厥。膚冷而躁。無時暫安。為臟結。死。</p>
<h3>懊</h3>
<p>（　即惱字古人通用郁郁不舒憒憒無奈比之煩躁殆有甚焉因誤下故表邪乘虛內陷伏於胸間故懊　也）</p>
<p>太陽脈浮動數。頭痛發熱。微汗出。惡寒。表未解也。短氣懊　。（梔子柏皮湯）汗吐下後。不眠懊　。</p>
<p>（梔子豉湯）陽明下後。外有熱。手足溫。懊　。頭汗出。（梔子豉湯））陽病下之懊。尚有燥屎。（大承氣湯）陽明無汗。小便不利。懊　。必發黃。（茵陳湯）</p>
<h3>頭痛</h3>
<p>（巔頂腦後痛者太陽也頭額痛者陽明也頭角痛者少陽也三陰脈至頸而還故無頭痛惟厥陰脈會於巔故亦有頭痛然風溫病在少陰經溫病在太陰而頭反痛至於陰毒亦然此痰與氣逆壅而上氣不得降故頭痛是又不可拘拘為也）</p>
<p>太陽頭頂痛。有汗。惡風。（桂枝湯）無汗。惡寒。（麻黃湯）陽明頭額痛。目痛。鼻干。</p>
<p>不不惡寒。反惡熱。大便實。（調胃承氣湯）潮熱。譫閉。渴而頭痛。脈沉數有力。（小承氣湯）少陽頭角痛。脈弦數。（小柴胡東加川芎）厥陰頭痛。吐涎沫。（吳茱萸湯）太陰頭痛。氣逆有痰也。（二陳東加枳實川芎細辛）少陰頭痛。足寒而氣逆也。（麻黃附子細辛湯）</p>
<h3>項強</h3>
<p>太陽項強。無汗。脈浮緊。（麻黃湯）有汗脈浮緩。（桂枝湯）痙症獨搖頭。卒口噤。項強。（小續命湯）結胸項強。如柔痙狀。下之則和。（大陷胸丸）</p>
<h3>搖頭</h3>
<p>內有痛則搖頭裡症也。風痙則獨搖頭。心絕則頭搖。狀如煙煤。直視者死。風主搖動。</p>
<p>故頭搖多屬風。風脈必弦。（神術東加天麻羌活防風僵蠶）</p>
<h3>頭眩</h3>
<p>（眩者頭旋眼花也因汗吐下後上焦虛也少陽發竅在目且居表裡之間表邪漸入於裡表中陽虛故目眩也發汗過多言亂目眩者死）</p>
<p>太陽汗吐下後。表裡俱虛。必眩冒。（真武東加川芎天麻）太陽汗後不解。心下悸。頭眩。肉　。振振擗地。（真武東加川芎天麻）陽明頭眩。不惡寒。能食而咳。（茯苓白朮甘草生薑湯加川芎天麻）少陽目眩運。脈弦數。（小柴胡東加川芎天麻）挾血虛者。（四物芎麻湯）有痰火者。加酒芩竹瀝。挾氣虛者。（補中益氣東加芎麻）少陰利止。頭眩時時自冒者死。</p>
<h3>身體痛</h3>
<p>（體痛乃六經俱有之症有表裡寒熱風濕之分太陽宜汗汗後脈沉遲者宜溫中　者宜白虎湯裡寒外熱者宜先救裡而後攻表寒在三陰者脈沉風在三陽者脈浮中濕者身重痛不可轉側陰毒者身大痛宛如被杖）</p>
<p>太陽體痛。無汗。惡寒。脈浮緊。（麻黃湯）體痛。有汗。惡風。脈浮緩。（桂枝湯）少陰體痛。吐利肢冷。（四逆湯）厥冷。下利。身痛如被杖。嘔逆。（茱萸四逆湯）一身盡痛。發熱。面黃。熱結在裡。小便利。大便閉。為蓄血。（輕則犀角地黃湯重則桃仁承氣湯）風濕一身盡痛。</p>
<p>身重不可轉側。小便不利。（五苓散加蒼朮羌活）霍亂體痛。脈沉。（桂枝湯）表裡俱寒。下利清穀。身痛。救裡（四逆湯）後救表。（桂枝湯）</p>
<h3>無汗</h3>
<p>（有邪在表者有邪行裡者有水飲內蓄者有陽虛者搗生薑綿裹周身擦汗自出）</p>
<p>太陽無汗而喘。（麻黃湯）太陽無汗。煩躁。（大青龍湯）陽明無汗。渴欲飲水。無表症者。（白虎加人參湯）少陰脈沉。發熱無汗。（麻黃附子細辛湯）少陰但厥無汗。強發之必動其血。或從口鼻。或從目出。名下厥上竭者死。投麻黃湯三大劑。而不得汗者死。汗雖出。不至足者死。</p>
<p>熱病脈躁盛而不得汗者死。</p>
<h3>自汗</h3>
<p>（不因發散自然汗出也傷風則發熱自汗中　則汗出惡風風濕則汗多而濡惟傷寒無汗及傳者皆表虛也宜溫之汗出不惡風寒裡症也宜下之陽明發熱汗多宜急下汗出如油如貫珠凝而不流皆死　將發披水盆中足露於外用糯米粉龍骨牡蠣為細末周身撲之）</p>
<p>太陽風傷衛。脈浮緩自汗。（桂枝湯）表虛。汗不止。（黃　建中湯）太陽過汗。遂漏不止。惡風者。（桂枝附子湯）陽明自汗。不惡風寒。反惡熱。譫渴。便秘。（調胃承氣湯）陽明自汗。</p>
<p>小便不利。津液竭也。急下之。（大承氣湯）肢冷。額上手背汗出。脈沉細。（四逆湯）自汗。</p>
<p>小便難身不熱。足冷。脈沉。（四逆東加桂枝苓朮）吐逆。厥冷。脈沉。身痛。大汗。（人參四逆東加桂枝　朮）</p>
<h3>盜汗</h3>
<p>（睡而汗出覺即汗止故名盜汗睡則胃氣行裡而表中陽氣不致故津液泄也覺即氣行於表而止矣雜病盜汗主於陰虛傷寒盜汗邪在半表半裡也）</p>
<p>陽明潮熱。脈浮盜汗。（黃芩湯）三陽合病。目合則汗。膽有熱也。（小柴胡湯）</p>
<h3>頭汗</h3>
<p>（諸陽經絡皆循於頭邪搏諸陽乃為頭汗故三陰無頭汗也經曰關格不通不得尿頭有汗者死濕家下之額上汗出小便不利者死下利不止者亦死）</p>
<p>太陽水結胸。無大熱頭微汗。（大陷胸湯）陽明頭汗。劑頸而還。小便不利。而渴。瘀熱在裡。身血症。（四物東加桃仁紅花白朮甘草以益脾土）</p>
<h3>手足汗</h3>
<p>（胃主四肢為津液之主手足汗出為熱聚於胃是津液旁達也經曰手足　然汗出大便已硬宜下之陽明中寒不能食小便不利手足汗欲作痼瘕不可下）</p>
<p>陽明譫渴滿閉。手足汗出。（大承氣湯）中寒不能食。水穀不化。手足汗出。（理中湯）</p>
<h3>動氣</h3>
<p>（藏氣不調肌膚間築築跳動病患先有痞積而後感寒醫者不知妄施汗下致動其氣隨藏所主而見於臍之左右上下獨不言當臍者脾為中州以行四臟之津液左右上下且不宜汗下何況中州其敢輕動乎）</p>
<p>動氣在右。誤汗則衄。煩渴飲即吐水。（先服五苓散次服竹葉湯）誤下則津渴。咽燥。鼻干。眩悸。（人參白虎東加川芎）動氣在左誤汗則頭眩汗不止。筋惕肉　。（先服防風白朮牡蠣湯汗止服小建中湯）誤下則腹內拘急。食不下。雖身熱而蜷臥。（先服甘草乾薑湯後服小建中湯）動氣在上。誤汗則氣上衝心。（李根湯）誤下則掌握。熱煩。身上浮冷。熱汗自泄。欲得水自灌。（竹葉湯）動氣在下。誤汗則無汗。心大煩。骨節痛。目暈。惡寒。食即吐。（先服大橘皮湯吐止小建中湯）誤下則腹滿。頭眩。食則下清穀。（甘草瀉心湯）</p>
<h3>渴</h3>
<p>（凡渴問所飲欲冷欲熱欲多欲少飲多而欲冷者陽渴也飲少而喜溫者陰渴也隔明不甚渴太陰乃大渴有救腎花粉知母是也有利小便茯苓豬苓是也太陽無汗而渴禁白虎湯陽明汗多而渴禁五苓散大抵在表渴少在裡渴多三陽或渴不如三陰之甚也渴欲飲水稍稍與之若不與無以解其枯燥若過多恐成動悸水結胸咳嘔KT　噦腫滿下利等症可不慎哉太陽汗後。煩渴。少少與水若脈浮。小便不利。微熱者。（五苓散）六七日不解而煩。有表裡陽明脈長微洪。無汗而渴。（葛根解肌湯）陽明惡熱。自汗。面赤。譫渴。脈洪數。（人參白虎東加花粉黃連）陽明腑症。譫黃狂渴。脈沉數。（大承氣湯）陽毒。目赤。唇焦。鼻如煙煤，便白。（四逆湯）少陰渴。自利。純青色水者。（大承氣湯）厥陰消渴。大熱。甚則譫閉。舌卷囊縮。（大承氣湯）食少而渴。胃脈弱者。宜白朮茯苓。勿用涼藥益傷中氣。</p>
<h3>口燥舌乾</h3>
<p>（干燥俱為熱症有因汗下後而得者有不因汗下而得者或和解或微汗或急下或微下當考兼見之症而施治經謂咽乾不可汗以其多裡症故也）</p>
<p>陽明便硬。舌乾口燥者。（調胃承氣湯）少陽口苦舌乾。（小柴胡東加天花粉干葛）陽明身熱。背惡寒。口燥舌乾。（白虎加人參湯）少陰口燥咽乾。下利清水。色純青。恐熱消腎汁。（大承氣湯急下之）燥干脈沉。足冷者。多死。</p>
<h3>嘔吐</h3>
<p>（嘔者有物有聲而漸出吐者無聲有物而頓出乾嘔者有聲而無物也嘔則或寒或熱吐則但寒無熱蓋邪傳裡多嘔症生薑為嘔家聖藥散逆氣也半夏為嘔家要藥去痰水也嘔家雖有陽明症不可攻者謂氣逆尚未收斂為實也熱者脈數煩渴寒者脈遲逆冷有水氣者先渴後嘔腹滿怔忡有膿血者吐盡自愈不煩治也）</p>
<p>初病起。即嘔吐。寒傷胃也。（霍香正氣散）太陽與陽明合病。不下利。但嘔者。（葛根半夏湯）陽明嘔吐。得湯反劇者。屬上焦。（葛根半夏湯）太陽與少陽合病。下利而嘔。（黃芩加半夏。寒熱而嘔。或日晡發熱而嘔。（並用小柴胡東加半夏生薑）潮熱便閉而嘔。（大柴胡湯）太陰腹滿痛。脈沉。（理中東加藿香薑橘）少陰嘔。肢冷。脈沉細（四逆東加橘半生薑）厥陰吐涎沫。逆冷。脈沉微。（茱萸四逆東加橘半）少陰欲吐不吐。但欲寐。五六日利而渴。小便白。（四逆湯）似嘔似喘。憒憒無奈。（大橘皮湯主之）虛煩嘔吐。（竹葉石膏東加薑橘）先嘔後渴。宜與水解。先渴後嘔。為水停心下。（茯苓半夏東加薑橘）嘔而脈弱。小便利。身微熱。厥冷者。多難治。（四逆東加生薑）</p>
<h3>乾嘔</h3>
<p>（熱在胃脘心下痞結故乾嘔）</p>
<p>太陽汗出。乾嘔。桂枝湯）少陰下利。乾嘔。（薑附湯）表不解。心下有水氣。身微熱。</p>
<p>乾嘔微喘。或自利。（小青龍湯）太陽頭痛。心下痞。硬滿。乾嘔。短氣。汗出。不惡寒。此表解裡未和也。（十棗湯）膈上有寒飲。乾嘔（四逆湯）少陰下利。厥逆無脈。乾嘔而煩。（白虎湯加豬膽汁）</p>
<h3>噫氣</h3>
<p>（說文云飽食息也俗作噯因胃弱而不和虛氣上逆也）</p>
<p>汗解後。心下痞硬。干噫食臭。肋下有水氣。腹中雷鳴下利。（生薑瀉心湯）汗吐下後。</p>
<p>心下痞滿。噫氣。不下利者。（旋覆代赭石湯）虛而噫氣。脈弱。神困。（四君子東加枳桔薑）</p>
<h3>噦</h3>
<p>（古稱噦者即今所謂呃逆也東垣以噦為乾嘔者非也多因胃寒亦有胃熱不可不辨病患煩敗矣可不謹乎）</p>
<p>吐下後。虛極得噦。胃中寒也。（理中東加丁香半夏）陽明脈弦浮大。鼻干。發黃。小便難潮橘皮竹茹湯主之）因痰而噦。（半夏生薑湯）病患自覺熱。他人捫其肌則冷。（附子理中湯冷服兼以硫黃乳香散　之並灸期門中脘氣海關元）有瘀血而噦者。難治。</p>
<h3>衄血</h3>
<p>（衄者鼻中出血也肺開竅於鼻血得熱則隨火上逆故雜症以衄為裡熱也經曰傷寒失汗致衄與黃麻湯六七日不大便頭痛有熱與小承氣湯小便清者知不在裡仍在表也當發其汗邪解則血不擁盛而迫上故傷寒衄為表熱也古人以血為紅汗故曰奪血者毋汗此為衄過多或脈微者言也。成流者不須服藥當與水解點滴者邪猶在經當散其邪。經曰少陰病但厥無汗而強發之必動其血或從口鼻或從目出名下厥上竭死症也但頭汗而身無汗亦衄症之逆）</p>
<p>太陽脈浮緊。不發汗。致衄者。（麻黃湯）陽明口乾。鼻燥。脈浮緊。必衄。（黃芩湯）陽明漱水不欲咽。（黃芩芍藥湯）衄家脈微。（犀角地黃湯）衄多不止。（茅花東加黃芩黃連墨汁）衄忌寒藥。涼水過多。必成蓄血結胸。（犀角地黃湯重則桃仁承氣湯）</p>
<h3>吐血</h3>
<p>（失汗失下蓄熱而成吐血亦或誤汗誤下所致）</p>
<p>凡服桂枝湯吐者。其後必吐膿血。（黃芩湯）咽痛。吐血。面赤斑斑如錦紋。為陽毒。（升墨汁）</p>
<h3>便膿血</h3>
<p>（便膿血皆是傳經熱邪或與微涼或用疏導陽症血色鮮紅者易治陰症血色如豬肝遲而有力者可治無力者難治凡下血脈小者生身熱脈大者多死）</p>
<p>陽明下血譫語。夜則見鬼。為熱入血室。（小柴胡東加當歸生地丹皮）少陰下利膿血。（桃花湯）色紫黑。（理中湯主之）</p>
<h3>蓄血</h3>
<p>（當汗不汗則為血結胸腹硬滿手按則痛若小便不利乃水與氣也若小便自利為有蓄血許學士云蓄血在上其人喜忘蓄血在下其人如狂屎血身黃必蓄血）</p>
<p>太陽不解。熱結膀胱。其人如狂。（桃仁承氣湯）陽明病喜忘。大便黑為蓄血。在上。（犀角地黃湯）在中。（桃仁承氣湯）在下。（抵當湯）</p>
<h3>胸滿脅滿腹滿少腹滿</h3>
<p>（邪氣傳裡先自胸而脅以次入腹也故胸滿多帶表症脅滿多帶半表半裡腹滿多裡症少腹滿非溺即血也蓋身半以上同天之陽身半以下同地之陰故在上滿者無形之氣也在下滿者有形之物也在上者因而越之故胸滿宜吐在下者引而竭之故腹滿宜下俱有陰陽之辨不可不察）</p>
<p>下後脈促胸滿。（桂枝去芍藥湯）太陽與陽明合病。喘而胸滿。（麻黃湯）汗下後。煩熱胸滿。（梔子豉湯）胸滿。氣上衝喉。不得息者。此胸中有寒痰。（瓜蒂散）胸滿脅痛。（小柴胡湯）太陽不解。傳入少陽。脅下硬滿。乾嘔。寒熱。脈沉緊。（小柴胡湯）太陽下利。嘔逆。汗出。</p>
<p>頭痛。胸脅硬滿。不惡寒。表解裡未和也。（十棗湯）胸脅腹滿。唇青厥冷。脈沉細此生冷傷脾。（理中湯去參朮加香附）脅下素有痞。連在臍旁。痛引少腹。入陰筋者。名藏結。死。腹滿不減。為裡實。（大柴胡湯）腹滿時減。為裡虛。（理中東加木香厚朴）太陰誤下。腹滿痛。</p>
<p>（桂枝芍藥湯）痛甚。（桂枝大黃湯）陽明潮熱。譫渴喘秘滿。（大柴胡湯）大實大滿。（承氣湯）</p>
<p>噦而腹滿。小便難。（小柴胡加茯苓）三陽合病。腹滿。身痛。難轉側。譫語。口中不仁。（小柴胡湯）少陰六七日不大便。腹滿脹痛。土不勝水。漉漉有聲。（小半夏茯苓東加桂）腹滿身痛。（先以四逆湯溫裡後以桂枝湯攻表）</p>
<p>小腹痛。小水自利。膀胱血結。其人如狂。（桃仁承氣湯）太陰身黃。小腹滿。小便難。</p>
<p>（五苓散）陰寒。小腹滿痛。（茱萸四逆湯甚者灸關元）厥冷。脈沉小。腹滿痛。冷結膀胱。（四逆湯）生薑搗去汁。炒熱揉熨。或滿或痛。或痰或食。或寒或氣。俱用此法。神良。</p>
<h3>結胸痞</h3>
<p>（經曰病發於陽而反下之熱入因作結胸病發於陰而反下之因作痞以下之太早故也成注云無熱惡寒發於陰誤矣無熱惡寒是為陰症豈有誤下之理又豈止作痞而已哉仲景所謂陰陽者指表裡而言在表當汗而反下之因作結胸病雖在裡尚未入腑而輒下之因作痞也結胸有大小寒熱水血食痰八者之異而痞則所傳猶淺但一味氣凝耳若未經下者不名結胸或痰或食或熱隨症治之不按自痛。為大結胸。（大陷胸湯）按之乃痛。為小結胸。（小陷胸湯）煩渴。便閉。為熱結胸。（大陷胸東加黃連）不熱渴。小便清白。為寒結胸。（枳實理中湯）怔忡頭汗。無大熱。揉之有聲。為水結胸（半夏茯苓湯）胸滿痛。漱水不咽。喜忘如狂。大便黑。小便利。為血結胸。</p>
<p>（犀角地黃湯）脈滑喘嗽為痰結胸。（黃芩半夏生薑東加枳實）氣口脈大為食結胸。（小陷胸湯加枳實厚朴）結胸兼斑黃狂呃者最重。脈沉小者死。結胸症具。煩躁甚者死。</p>
<p>誤下成痞。俟表症罷而後可下。（柴胡枳桔湯）惡寒。汗出痞滿。（附子瀉心湯）表未解。</p>
<p>心下滿名支結。（柴胡桂枝湯）熱甚而痞。（大黃黃連瀉心湯）寒多熱少。（半夏瀉心湯）</p>
<h3>發</h3>
<p>（　者胃經熱毒也下之太早熱氣乘虛入胃乃致發　下之太遲熱氣留中不散亦令發胃主肌肉故微微隱起實無頭粒小者如芝麻大者如芡實輕者如星布重者如錦紋鮮紅者為胃熱易治紫者為熱甚難治黑者為胃爛必死　有六症一曰傷寒二曰時氣三曰溫毒四曰陽毒五曰內傷寒六曰陰症此外惟有發疹頗類　症但診屬肺家肺主皮毛故有頭粒尖起惟癮疹亦如錦紋而無頭粒尤為難辨然疹為肺症必兼鼻塞流涕咳嗽聲重為異耳疹脈多浮大　脈多洪數疹多發於病之首　多發於病之尾自不同也獨有時氣發　亦是病起便見貴乎臨症精思而熟察之嗟乎　症之發反掌生殺余每深考似有獨得故以下辨論最悉爾）</p>
<p>一曰傷寒發　。固當汗不汗。當下不下。或未當下而早下。則熱蘊於胃而發　也。身溫足暖脈洪數有力者易治。脈沉足冷。挾虛者難治。　欲出未出。（升麻葛根湯發之）紫黑者。（上方加紫草茸）脈虛者。（上方加人參）　已出。不宜再發。恐傷其氣也。煩渴熱盛。脈洪數者。（犀角大青湯）譫語。便硬。（大柴胡東加芒硝）麻黃發表。則增　爛。承氣攻裡。則必內陷。故古有明禁也。大青為化　要藥。如無。以大藍葉代之。凡發　避忌香臭。與痘瘡同。凡已出未出之時。切不可投寒涼之劑。吃生冷物。恐冰凝其毒。不得發泄也。挾虛者。必先助真氣。往往拘泥而不敢補者。多致不救。</p>
<p>二曰時氣發　。四時不正之氣。人感之則寒熱拘急。或嘔逆。或煩悶。或頭痛。鼻干。</p>
<p>不眠。皆　候也。鮮紅稀朗者吉。紫黑稠密者凶。重者發熱二三日便出。輕者發熱三四日而出也必察元氣虛實。脈來有力無力為主。如虛者。（先以參胡三白湯助元氣）　未透者。（升麻葛根湯熱甚加紫草）稠密咽腫。（甘草桔梗玄參知母升麻犀角黃連）　出嘔逆。（陳皮半夏茯苓黃連甘草生薑）</p>
<p>三曰溫毒發　。或犯春令溫邪而發。或犯冬令寒邪。至春始發。或冬有非時之溫。皆名溫毒。治例大抵與傷寒同法。但冬令寒而閉藏。春令溫而發皇。小有分別。　將出未出。咳悶嘔吐。（葛根橘皮湯）　已出。（宜用黑膏或犀角大青湯化之）受邪於春。病發於夏。亦同此例。</p>
<p>四曰陽毒發　。大熱狂言。目赤鼻黑。　欲出未出。須涼以解之。（干葛升麻紫草大青陳皮甘草）　紫煩渴。（三黃石膏東加犀角大青）陽毒發　。或成膿瘡。蜜煎升麻塗之。</p>
<p>五曰內傷寒發　。暑月納涼太過。食冷太多。內外皆寒。逼其暑火。浮游於外而為　。</p>
<p>不過數點。身無大熱。脈來沉澀。（調中湯去麻黃桂枝加厚朴乾薑香薷扁豆）</p>
<p>六曰陰症發　。狀如蚊跡蚤痕。手足多而胸背少。其色淡紅。稍久則為微黃。病患安靜。脈來。熏灼肺胃。傳於皮膚。（升麻藿香陳皮甘草人參熟附子生薑）得溫補之劑。陽回而陰火自降。此治本不治標也。然而此症。根本既撥。吉少凶多。惟老成煉達者。拾救四五。病家醫家。臨斯症者。顧可忽乎哉。</p>
<h3>發黃</h3>
<p>（黃者中央土色也故屬陽明太陰之症濕熱交並必發身黃如夏月罨曲因濕熱而生黃也濕勝者一身盡痛色如熏黃而晦熱勝者一身無痛色如橘黃而明更有蓄血亦能發黃但兼小腹硬小便自利其人如狂耳發黃鼻出冷氣寸口近掌無脈者死黃而直視搖頭為心絕黃而環口黧黑為脾絕皆瘀熱在裡。頭汗。渴。小便難。汗不得越如橘之黃且明。（大便閉者茵陳蒿湯小便難者五苓蒿湯）寒濕發黃身疼發熱。頭痛鼻塞而煩。脈大。瓜蒂散搐鼻取水或用防風葛根蒼朮茵陳桔梗甘草陳皮生薑煎服取微汗）痞氣發黃。（半夏泄心東加茵陳枳實小便難者梔）結胸發黃。（陷胸東加茵陳）蓄血發黃。小腹滿痛。小便利。大便黑。如狂。脈沉。（桃仁承氣湯）內傷寒發黃。（調中東加茵陳逆冷者加附子）陰症發黃。脈沉遲肢冷。氣促。嘔悶。或面赤足冷。陰躁欲坐泥水井中。（輕者用理中東加茵陳重者用四逆東加茵陳）凡治陰黃。須熱湯溫之。或以盆盛湯。令病患坐於上。布蘸熱水。搭其黃上乃愈。</p>
<h3>發狂</h3>
<p>（熱毒在胃並於心則狂乃邪熱之極也狂之發作少臥不飢妄語笑妄起行登高而歌棄衣而走甚則殺人不避水火罵詈不辨親疏悲怒號哭逾垣上屋皆獨陽亢極非大下之不能已也狂言目反視為腎絕汗出復熱狂言不能食皆死症也　發狂奔跳勢不可遏傾好醋於火盆令氣衝於病患鼻內又將薑汁嘖其頭面及身上及手足即定方可察　其陽狂陰躁　揭開床帳放入干搭在病患前大渴。目赤。唇焦。舌乾。齒燥。脈實。狂妄。（大承氣湯急下之）脈浮無汗。醫以火逼取汗。必驚狂。（桂枝湯去芍藥加蜀漆龍骨牡蠣救逆湯）汗家重發汗。必恍惚心亂。小便已。陰痛。（禹餘糧丸）太陽病六七日。表症仍在。脈微而沉。反不結胸。其人發狂者。以熱在下焦。</p>
<p>少腹當硬滿。小便自利下血乃愈。所以然者。以太陽隨經瘀熱在裡故也。（抵當湯）太陽病不解。熱結膀胱。人如狂。血自下者愈。外不解尚未可攻。當先解外。外已解。但少腹急結者。乃可攻之。（桃仁承氣湯）身黃。脈沉結。少腹硬。小便自利。其人如狂。血症諦也。（抵當湯）陰症發躁。欲坐泥水井中。面赤。足冷。脈沉。不能飲水。（霹靂散冷服）身微熱。</p>
<p>面赤足冷。脈舉之數大。按之無力。此虛陽伏陰而躁。（人參四逆湯冷服）按狂之為症。多屬實熱。非大承氣大下之。安能已乎。如脈無力者。宜三黃石膏湯清之。至於蓄血症。但如狂。非真狂也。由於當汗不汗。或汗遲。或脈盛汗微。或覆蓋不周而汗不透太陽之邪。無從而出。故隨經入腑。血結膀胱。外症既解。方可攻下。若夫陰躁。真氣敗壞。虛陽上越。乃陰盛隔陽。庸醫不察脈之浮盛沉衰與不能飲水。見其面赤身熱。誤與涼劑。則立斃矣。大抵此症。肌表雖熱。重按之。則冷透手矣。然陰躁一症。十中止救二三。惜乎昧者不識。識者憂讒。束手待盡。良可痛也。</p>
<h3>驚悸</h3>
<p>（心之所主者神也神之所依者血也心血一虛神氣失守則舍空而痰水客之此驚悸之所由作也驚者惕惕然不寧觸事易郁氣鬱生痰也　悸者築築然跳動蓋以心虛則停水水居火位心實畏之故怔忡而不能自安也）</p>
<p>傷寒八九日下之胸滿煩驚。小便不利。譫語。一身盡重。（柴胡加龍骨牡蠣湯）火劫汗。</p>
<p>亡。（炙甘草湯）汗枝甘草大棗湯）太陽病汗出不解。發熱心悸。頭眩。身　動。振振欲擗地。（真武湯）少陽耳聾。目赤。煩滿。不可吐下。吐下則悸而驚。（救逆小柴胡去黃芩加茯苓）五六日往來寒熱。胸脅滿。嘿嘿不飲食。心煩悸。喜嘔微熱。或咳。（小柴胡湯）脈弦細。頭痛。發熱。屬少陽。不可汗。汗則譫語。胃不和。則煩而悸。（調胃承氣湯）少陰病。四逆而悸。或小便不利。或腹痛。泄利。（四逆散）厥而悸者。宜先治水。（茯苓甘草湯）霍亂心悸。（理中丸加茯苓）</p>
<p>按驚與悸雖有分別。總皆心受傷也。因陽氣內弱。法當鎮固。因水飲停留。法當疏通。</p>
<p>飲之為溢況其他乎。</p>
<h3>振戰栗</h3>
<p>（振者身微動正氣虛寒也戰者身大動邪正相爭也栗者心動邪氣勝也振為輕而戰為重戰在外而栗在內也）</p>
<p>吐下後。心下滿。氣上衝。頭眩。脈沉緊。發汗則動經。身為振搖。（茯苓桂枝白朮甘草湯）太陽病。汗後仍熱。心悸頭眩。肉　身振。（真武湯）</p>
<p>按經云。下後復發汗。及亡血家誤汗。必為寒振。內外俱虛也。又曰。表氣微虛。裡氣不守。邪中於陰則栗。乃知振搖之症。大抵屬虛。素問曰。寒邪傷人使人毫毛畢直。鼓頷戰栗。</p>
<p>此素有邪。當發其汗。仲景云。脈浮而緊。按之反芤此為本虛。當戰汗而解。又三部脈。浮沉遲數同等。必戰汗而解。若脈浮數。按之不芤。其人不虛。汗自出而解不發戰也。外不戰但內栗者。陰中於邪也。凡傷寒欲解。則戰而汗出。此邪不勝正也。若正不勝邪。雖戰無汗。為不可治矣。</p>
<h3>筋惕肉</h3>
<p>（汗多亡陽津液枯而　筋肉失養故筋惕惕而跳肉　而動也）</p>
<p>脈微弱。汗出惡風。誤服大青龍湯。則厥逆。筋惕肉　。（真武湯）太陽病已汗仍發熱。</p>
<p>頭眩。身　振。（真武湯或人參養榮湯）吐下後復發汗。虛煩。脈微。心痞。脅痛。氣衝眩冒。動惕。久而成痿。（桂枝苓朮甘草湯）</p>
<p>大抵此症。因於汗者。十有七八。不因於汗。素稟血虛。邪熱搏血。亦見此症。又有未嘗發汗。七八日筋惕而肉不　。潮熱。大便閉。小便澀。臍旁硬痛。此燥屎也。大柴胡下之。一虛一實。治法相懸。臨症者。可以不詳察乎。</p>
<h3>螈</h3>
<p>（螈者筋脈急而縮縱者筋脈緩而申一申一縮手足牽引搐搦風主動搖故也）</p>
<p>汗下後。日久螈　。（此虛極生風小續命東加減）不因汗下螈　。（羌防芩連天麻四物之類）汗出露風。汗不流通。手足搐搦。（牛蒡根散）風溫。被火劫。發微黃色。螈　（葳蕤湯）</p>
<p>肝為風木之臟而主筋風火搏　。多患螈　。當平肝降火。佐以和血。有痰者。二陳竹瀝為主。屬虛者。補中益氣為先。如應用小續命者。有汗去麻黃。無汗去黃芩。此常法也。若戴眼上視。汗出如珠。凝而不流太陽絕也。又有四肢HT　HT　。動而不已。似螈　而無力抽搐者。肝絕也。汗下過度。日久變出者。多不可治。</p>
<h3>胃實不大便</h3>
<p>（有大便不通有大便難有大便硬皆陽明胃實之候）</p>
<p>六七日不大便。頭痛有熱。與承氣湯。小便清者。知不在裡。仍在表也。（桂枝湯）陽明病（小柴胡湯）陽明病。自汗若發汗。小便自利者。津液內竭。雖硬不可攻（蜜煎導之）陽明病。</p>
<p>潮熱不大便。少與小承氣。不轉失氣者。無燥屎不可攻。轉失氣者。有燥屎可攻。（大承氣湯）陽明病。不吐不下。心煩。（調胃承氣湯）陽明小便不利。大便乍難乍易。時有微熱喘冒不臥。有燥屎也。（大承氣湯）傷寒六七日。目中不了了。睛不和。無表裡症大便難。身微熱。（大承氣湯急下之）脈浮則胃氣強。脈澀則小便數。浮澀相搏。大便則難。其脾為約。（麻仁丸）陽明症喜忘。大便色黑必有蓄血。（抵當湯）無表裡證。下後脈數。不解。善飢。六七日不大便者。有瘀血。</p>
<p>按仲景或曰。陽明潮熱不大便。與小承氣。不轉失氣者。初硬後必溏。不可攻之。此胃中初熱。未作實者也。或曰。太陽病下之腹滿。初硬後必溏。此虛熱在上。無燥屎者也。或曰陽明病。中寒不能食。小便不利。手足　然汗出。欲作痼瘕。初硬後必溏。以水穀不分也。或曰。小便少者。服承氣湯。若不大便六七日。小便少者。初硬後必溏。須小便利屎必硬。乃可攻之。乃知仲景測大便法。皆以小便驗之。然小便利。屎必硬。固為可攻。亦有小便利。</p>
<p>大便硬。而不可攻者。何也。陽明自汗。或發汗。小便自利。此津液內竭。雖硬不可攻。待其自欲大便。與蜜煎導之。夫胃雖實。有表者汗之。半表半裡者和之。不因胃實便下也。此仲景心法。精考詳求。自無妄下之誤矣。</p>
<h3>自利</h3>
<p>（自利者不因攻下而自利俗名漏底是也六經皆有自利表裡寒熱治各不同）太陽表不解。心下有水氣。乾嘔。發熱而咳。或渴。或利。或小便不利。少腹滿或喘。（小青龍湯）太陽與陽明合疾。必自下利。（葛根湯）太陽病外症未除。而數下之。遂挾熱而利。心下痞硬。表裡不解。（桂枝人參湯）太陽與少陽合病。自利。（黃芩湯若嘔者黃芩加半夏生薑湯）太陽少陽並病。而反下之。成結胸。下利不止。水漿不下。其人心煩。（生薑瀉心湯或小陷胸湯）太陽病。反下之。利遂不止。脈促者。表未解也。喘而汗出。（葛根黃芩黃連湯）太陽病二三日。</p>
<p>不能臥。心下必結。脈微弱者。本有寒也反下之。若利止。必結胸未止者。四日復下之。</p>
<p>此干噫食臭。脅下有水氣。腹中雷鳴下利。（生薑瀉心湯）太陽下利。頭痛。心下痞。脅下痛。乾嘔。短氣。汗出。不惡寒此表解裡未和也。（十棗湯）十三日過經譫語者。熱也。當下之。若小便利者。大便當硬。而反下利。醫以丸藥下之。非其治也。自利者。脈當微。今反和者。內實也。（調胃承氣湯）下後利不止。身痛者。急當救裡。（四逆湯）身痛。便調。急當救表。（桂枝湯）下利心痞。復下之。利不止。治以理中。利益甚。理中者。理中焦。此利在下焦。（赤石脂禹餘糧湯）過經十余日。欲吐。胸中痛。大便反溏。微滿微煩。（調胃承氣傷以上皆太陽）陽明病。潮熱。大便溏。胸脅滿。（小柴胡湯）無表裡症。發熱七八日。脈雖浮數可下。下後脈數不解。而利不止。必便膿。（黃芩湯柏皮湯）陽明少陽合病。必下利。其脈不滑而數。有宿食也。（大承氣湯）臟結如結胸狀如故。時時下利。寸脈浮關脈小細沉緊。舌上胎滑者難治。（以上皆陽明）十三日不解。胸脅滿而嘔。日晡潮熱。微利。此本柴胡症。</p>
<p>下之不利。今反利者。誤以丸藥下之也。潮熱者。實也。（先以柴胡解外復以柴胡加芒硝此條當屬少陽）自利。不渴。屬太陰。臟有寒也。（四逆輩）太陰病。脈弱自利。設當行芍藥大黃者。宜減之。以胃弱易動故也。脈浮而緩。手足溫者。當發身黃。若小便利者。不發黃。</p>
<p>至七八日。雖暴下利。必自止。以脾家穢腐當去故也。（平胃散加穿山甲以上皆太陰）少陰病。欲吐不吐。但欲寐。五六日自利而渴者。少陰虛。故引水自救。若小便色白者。下焦虛寒。（四逆湯）少陰病。下利咽痛。胸滿心煩。（豬膚湯）少陰病。四逆。泄利下重。（四逆散）少陰病。下利六七日。咳而嘔渴。心煩不眠。（豬苓湯）少陰病。下利清水。純青。心下痛。口乾燥（大承氣湯急下之）少陰腹痛。小便不利。下利膿血。（桃花湯）少陰病。腹痛小便不利。肢重而痛。自下利者。此為水氣或咳或嘔。或小便利者。（真武湯）少陰病。下利清穀。裡寒外熱。厥逆脈微。反不惡寒。面赤。或腹痛。或乾嘔。或咽痛。或利止脈　不出。（通脈四逆湯）少陰病。下利脈微。與白通湯。利不止。厥逆無脈。乾嘔煩者。白通加豬膽汁。服湯後。脈暴出者死。微續者生。少陰病。脈緊至七八日自利。脈微手足反溫。脈緊反去者。為欲解也必自愈。少陰病。脈沉微欲臥。汗出而煩。欲吐自利。煩躁不寐者死。少陰病。利止。眩冒者死。少陰病。惡寒。身蜷而利。手足逆冷者死。（以上皆少陰）下利欲飲水者。熱也。（白頭翁湯）厥陰病。脈浮而遲。表熱裡寒。下利清穀。（四逆湯）大汗出。熱不去。內拘急。四肢疼。下利。厥逆惡寒。（四逆湯）下利清穀不可攻表。汗出必脹滿。（四逆湯）下利。脈沉遲。面少赤。身微熱。下利清穀者。必鬱冒汗出而解。下虛必微厥。（四逆湯）發熱下利。厥逆。躁不得臥者死。發熱下利。厥不止者死。汗不止者亦死。下利脈反實者死。（以上皆厥陰）</p>
<p>按下利有寒熱之分。最宜詳辨。凡寒瀉者。口不燥渴。臍下多寒。小便清利。脈來沉遲細軟無力。完穀不化。糞色淡白。或淡黃色。或如騖溏。或身雖熱。手足逆冷。皆為寒也。凡熱瀉者。口必燥渴。臍下多熱。小便黃赤。或澀而不利。脈來數大。或浮。或滑。或弦。糞色焦黃。或熱而臭。或糞出聲響。得涼藥與冷凍飲料則減。得熱藥與熱飲則增。皆為熱也。熱瀉亦有邪熱不殺穀者。與寒瀉之完穀不化相似。當以他症。及脈色辨之。身不熱。手足溫者。屬太陰經。身體四逆。屬少陰厥陰二經。身熱者。皆屬陽明經。然陰利有反發熱者。不可因其熱遂以為陽也。未可下而早下之內虛熱入名為挾熱下痢。</p>
<p>凡胃虛脈弱。熱渴自利者。必用四君子湯。如發熱者。四君子加柴胡黃連。若腹滿。小便不利。五苓散。合理中湯。嘔則加藿香半夏陳皮生薑。濕則加蒼朮。脹則加厚朴。腹痛加芍藥木香。如脈浮者。表邪未解。小青龍去麻黃。加芫花。此散表兼治水也。凡下利不可發汗。當先治利。利止則正氣復。而邪自解。蓋因利內虛。若誤汗之。則內外皆虛。變證危殆。</p>
<h3>腹痛</h3>
<p>（邪傳於裡與正氣搏則為腹痛太陽經無腹痛症少陽經有胸脅痛而無腹痛陽明經腹滿而痛此為裡實三陰下利清穀而腹痛者此為裡寒太陰腹痛當分虛實腸鳴泄瀉而痛者也便秘按之轉痛者實也）</p>
<p>傷寒陰脈澀陰脈弦。當腹中急痛。（先與小建中湯不　瘥者與小柴胡湯）胸中有熱。胃中有邪。腹痛嘔吐。（黃連湯）往來寒熱。胸脅滿。煩嘔腹痛（小柴胡湯）陽明病不大便五六日繞臍痛。</p>
<p>煩躁。此有燥屎。（大承氣湯）大下後。六七日不大便。煩而腹痛。有宿食也。（大承氣湯）發汗重自利。此有水氣。（真武湯）少陰病。下利清穀。裡寒外熱。厥逆脈微。反不惡寒。面赤腹痛。（通脈四逆湯）少陰病。四逆。或咳或悸。或小便不利。腹痛泄利。（四逆散）少陰病。腹痛。便膿血。（桃花湯）厥陰四五日腹痛。若轉氣下趨少腹者欲下利也。（四逆湯）。</p>
<p>按腹痛。有虛。有實。有寒。有熱。有食。有血當詳辨之。可按可揉而軟者。虛也。不可揉按而硬者。實也。身無大熱。口中不渴。喜飲熱湯者。寒也。身熱口渴。喜飲涼水者。熱也。噫氣惡食。氣口脈實者。食也。痛有定處。而不動移。或脅。或小腹硬滿。小便利。大便黑者。血也。大抵脈大而有力者。可涼可下。脈沉而無力者。宜補宜溫。更以症參之。百不失一矣。</p>
<h3>譫語</h3>
<p>（譫語者妄有所見呢喃而語不倫於理也多言稍有次第者獨語如見鬼者睡中呢喃者皆熱之輕也音聲高厲言之不休者熱之重也狂言叫喊罵詈不辨親疏神明昏亂熱之最甚也皆因胃中熱盛上乘於心心為熱冒故也脈短則死脈和則愈又身微熱脈浮大者生逆冷脈沉者死或氣逆喘滿或氣下奪而自利皆為逆也）</p>
<p>陽明病。譫語。潮熱。脈滑而疾。與小承氣湯。轉失氣者更服。不轉失氣者。勿服。陽明病湯）脈浮自汗。微惡寒。攣急。誤與桂枝攻表。胃不和而譫語。（調胃承氣湯）三陽合病。腹滿。身重。口中不仁面垢遺尿。自汗。譫語。（白虎湯）　傷寒四五日。脈沉。喘滿。沉為在裡。反發其汗。津液越出。大便為難。表虛裡實。久則譫語。（大承氣湯）脈弦頭痛。發熱。屬少陽。不可汗。汗則譫語。汗多亡陽。譫語。不可下。（柴胡桂枝湯和營衛以通津液自愈）</p>
<p>下後胸滿煩驚。小便不利。譫語。一身盡痛。（柴胡加龍骨牡蠣湯）熱入血室。在男子。陽明病。下血譫語。（小柴胡東加黃連栝蔞）婦人中風。發熱惡寒。經水適來。晝則明了。暮則譫語。（小柴胡東加生地黃丹皮當歸）十三日過經不解。譫語者熱也。當以湯下之。小便利者。大便當硬。而反下利。脈調和者。知以丸藥下之。非其治也。若自利者。脈當微厥。今反和者。內實也。（調胃承氣湯）下利譫語。脈滑數。有燥屎也。此湯飲傍流。所利皆稀水。可下之。（承氣湯）氣虛獨言。脈無力者。（補中益氣湯）虛則鄭聲。蓋鄭重頻煩。語言諄復也。謂止將一事。頻煩諄復。不能如譫語之數數更端也。成注為鄭衛之聲誤矣。四逆脈微。鄭聲。（四君子湯甚者參附湯送黑錫丹）</p>
<p>按實則譫語。虛則鄭聲。二者本不難辨。但陽盛裡實。與陰盛隔陽。皆致錯語。須以他症別之。如身熱。煩渴。大便閉。小便赤。乃陽盛裡實也。小便清白。大便洞泄。發躁。乃陰盛隔陽也。</p>
<h3>小便不利</h3>
<p>（因汗而小便不利者津液亡於外也因下而小便不利者津液耗於內也痞症或發黃及熱病而小便不利者皆熱鬱所致也）</p>
<p>傷寒表不解。心下有水氣。乾嘔。發熱而咳。小便不利。少腹滿。或喘。（小青龍湯去麻黃加茯苓）太陽病。大汗後。胃干。煩躁不眠。欲飲。小便不利。（脈浮者五苓散不浮者豬苓湯）太陽病。飲水多。心下悸。小便少。（茯苓甘草湯）太陽發汗。遂漏不止。則惡風。小便難。四肢難屈伸。（桂枝加附子湯）身黃。小腹硬。脈沉結。（茵陳湯）表未解。反下之。不結胸。但頭汗出。小便不利。必發黃。（茵陳湯或梔子柏皮湯）小便不利。大便乍難乍易。微熱。喘冒不能臥。有燥屎也。（大承氣湯）少陽往來寒熱。胸脅滿。不欲食。心煩喜嘔。</p>
<p>或心下悸。小便不利。（小柴胡湯）八九日下之。胸滿煩驚。小便不利。譫語。身重。（柴胡加龍骨牡蠣湯）少陰小便不利。大便自利。腹痛。四肢沉重。有水氣也。（真武湯）厥陰小便不利。關節疼痛。汗出惡風。身腫者。屬風濕。（甘草附子湯）厥陰少陰寒閉。或灸氣海。或行蔥熨法按仲景大法。在太陽症。脈浮用五苓散。不浮用豬苓湯。二方皆以豬苓茯苓澤瀉為主。</p>
<p>但五苓散。加白朮與桂辛甘為陽也。豬苓湯。加阿膠滑石甘寒為陰也。陽明熱黃。與梔子柏皮湯。脅痛身黃。與小柴胡湯。少陰有水。則行真武。厥陰寒秘。則行四逆。其汗多亡陽者。以桂枝加附子湯。後世以渴者與八正散。不渴者與知柏地黃。補仲景之未備也。大都汗多者。</p>
<p>津液外泄。小便因難。不可利之。恐重亡其津液。待汗止小便自行也。又有熱甚而小便仍利者。勿妄利之。恐引熱入於膀胱。往往變為蓄血也。</p>
<h3>小便自利、小便數</h3>
<p>（小便自利有在表者有在裡者有因熱者有因寒者六經俱有此症宜詳考而條分之　小便數者頻欲去而不多也在三陽經有表裡之分在三陰經並無此症不可不詳辨也太陽病六七日。表症仍在。脈微而沉。反不結胸。其人發狂。以熱在下焦。小腹硬滿。小便自利。（抵當湯）傷寒有熱。應少腹滿。小便不利。今反利者。為有血也。（宜抵當丸不宜他藥）</p>
<p>十三日過經譫語。小便利。大便亦利。脈反和。（調胃承氣湯）不大便六七日。小便少者。初硬後溏未可攻。如小導）小便自利而大汗。下利清穀。內寒外熱。脈微欲絕。（四逆湯）脈浮自汗。小便數。心煩。微惡寒。腳攣急。慎不可行桂枝湯。（甘草乾薑湯芍藥甘草湯）脈浮而澀。浮則胃氣強。</p>
<p>澀則小便數。浮澀相搏。大便則難。其脾為約。（麻仁丸）太陽汗吐下後。微煩。小便數。大便因硬。（小承氣湯和之則愈）</p>
<p>按小便不利者。初硬後溏。未可下。小便已利而汗多。津液已竭。不可下。小便不利而小腹硬者。溺也。當滲泄之。小便利而少腹硬者。非血則屎也。當疏利之。發黃而小便利。則為可治。腹滿而小便利。則為欲解。濕熱而小便利。則不能發黃。發譫而至循衣摸床。小便利。為可治。則小便之當察也審矣。小便數者。太陽陽明。治各有條。若腎虛有熱者。生脈散。加知柏蓮子。脾腎俱虛者。補中益氣。加生脈知柏。而法無遺用矣。</p>
<h3>遺溺</h3>
<p>（遺溺者小便自出而不知也夫膀胱所以瀦水者也下焦虛故不能約攝也）</p>
<p>三陽合病。腹滿。身重。口中不仁面垢。譫語。遺尿。（白虎湯）邪中下焦。陰氣為栗。</p>
<p>足冷遺溺。（四逆湯）太陽病。火熨其背。大汗。譫語。振栗。下利。欲小便不得。反嘔而失溲。</p>
<p>此為欲解。遺溲狂言。目反直視。此為腎絕。</p>
<p>按陽症熱甚。神昏而遺尿者易治。陰症逆冷。脈微而遺尿者難治。宜益智桂附以溫其下。若厥陰囊縮逆冷。四逆加吳茱萸。汗下後陰虛。宜參芍術草知柏。經曰。水泉不止者。膀胱不藏也。腎虛。則膀胱之氣。不能約束也。東垣又謂遺溺屬肺虛氣陷。宜補中益氣。合生脈知柏。更以他證。及色脈詳之。則自無遁情矣。</p>
<h3>口苦咽乾、口乾舌乾</h3>
<p>（咽通六經口為脾竅舌為心苗津為腎液俱屬熱而無寒也惟誤汗誤下及虛人久病者方與溫經耳有因汗下者有不因汗下者或和或解或微汗或微下或急下當考兼見之症而為施治也）</p>
<p>太陽咽乾。不可發汗。（津液竭也）脈浮自汗。小便數。心煩。微惡寒。腳攣急。本桂枝附子症。反與桂枝湯攻表。便厥。咽乾。煩躁。吐逆。（甘草乾薑湯）吐下後不解。表裡俱熱。惡風。大渴。舌乾而煩。（白虎加人參湯）太陽病。重發汗。復下之。不大便五六日。舌燥干。</p>
<p>日晡潮熱。心腹硬滿痛。（大陷胸湯）陽明病。口乾燥。漱水不欲咽。必衄。（犀角地黃湯）</p>
<p>陽明汗下後。口乾舌燥渴。（白虎加人參湯）少陽口苦。咽乾。目眩。（小柴胡湯）少陰自利。</p>
<p>清水。色純青。心下痛。口乾燥。急下之。（大承氣湯）少陰病。二三日。便口燥咽乾。急下之。（大承氣湯）按活人謂脾熱則津枯。固矣。然白虎湯症。言表裡俱熱。則三陽俱矣。口燥咽乾。及自利純青。皆急下者。救少陰也。脈沉者。附子湯。加知柏門冬五味花粉。汗下後。</p>
<p>大虛脈微。古人嘗以補中益氣。合生脈知柏。安可專主脾熱一症哉。</p>
<h3>眩</h3>
<p>（眩者目黑暗而無常主也腦體空虛也眩冒者昏冒也少陽口苦咽乾目眩者邪漸入裡而表也若言亂目眩即為死症）</p>
<p>吐下後。逆滿。頭眩。脈沉緊。發汗則動其經。身為振搖。（茯苓桂枝白朮甘草湯）吐下後脈微。心下痞硬。脅痛。氣上衝。眩冒動惕。久而成痿。（真武湯）陽明病。但目眩。不惡寒。</p>
<p>（葛根東加天麻川芎）少陽病。口苦咽乾。目眩。（小柴胡東加天麻川芎）動氣在左。誤汗則頭眩。汗不止。筋惕肉　。（小建中湯）少陰下利。止而眩冒者死。</p>
<h3>咳嗽</h3>
<p>（有聲無痰者咳也有聲有痰者嗽也肺主氣肺傷則氣逆而咳或寒或熱或表或裡或半表半裡或停飲各常分剖古云咳為肺疾發散則愈然亦有不可發散者如經曰咳而小便不可發汗發汗則肢厥又曰咳而發汗蜷而苦滿腹堅為逆是也）</p>
<p>太陽表不解。心下有水氣。乾嘔喘咳。（小青龍湯）少陽往來寒熱。胸脅滿。嘿嘿不欲飲食。心煩嘔咳。（小柴胡去人參加五味子乾薑）少陰病。四逆而咳。（四逆散加五味子乾薑）少陰病。下利。咳而嘔渴。心煩不眠。（豬苓湯）少陰病。腹痛。小便不利。肢重痛。自下利。為有水氣。其人咳者。（真武東加五味子細辛乾薑）</p>
<p>按表寒咳嗽者。三拗麻黃。裡熱咳嗽者。梔芩桑杏。少陽咳嗽。小柴胡加五味乾薑。胸中痞滿。枳桔瓜杏。陰症脈沉。四逆加五味。細閱仲景治例。不分陰症陽症。必用五味乾薑。蓋乾薑辛溫。散肺家逆氣。五味甘酸。收肺家浮氣故也。</p>
<h3>喘</h3>
<p>（肺主氣形寒飲冷則傷肺故氣逆上行急迫而張口抬肩是名為喘或水寒射肺者或邪在表者或邪在裡而喘心腹必濡而不堅若腹滿即為可下至於汗出如油喘而不休及直視譫語而喘滿者皆死症也）</p>
<p>太陽病。無汗而喘。（麻黃湯）太陽與陽明合病。喘而胸滿。不可下。（麻黃湯）表不解。</p>
<p>心下有水氣。乾嘔而喘。（小青龍湯）汗後飲水多。必喘。（小青龍東加杏仁豬苓）喘家有汗。（桂枝東加厚朴杏仁）汗下後。不可更行桂枝。若汗出而喘。無大熱者。（麻黃杏仁甘草石膏湯）</p>
<p>太陽病桂枝證。醫反下之。利遂不止。脈促者。表未解也。喘而汗出。（葛根黃芩黃連湯）陽明口苦咽乾。腹滿微喘。發熱惡寒。脈浮緊。（麻黃湯）陽明脈浮緊。咽燥口苦。腹滿而喘。</p>
<p>發熱汗出。不惡寒。反惡熱。身重。（白虎湯五苓散）脈沉喘滿。沉為在裡。反發其汗。津液越出。大便為難。表虛裡實。久則譫語。（大承氣湯）陽明脈遲。汗出。不惡寒。身重腹滿而喘。手足　然汗出。大便已硬。（大承氣湯）小便不利。大便乍難乍易。微熱。喘冒不臥。有燥屎也。（大承氣湯）陰症喘促。四肢逆冷。（返陰丹）</p>
<p>按心火刑金。肺受迫而喘呼。如人有難而叫號。故古人以諸喘為惡。至於陰喘。則無根虛火。泄越於上。根本將脫。更為危惡。華佗曰。盛則為喘。指邪氣盛。非肺氣盛也。所謂瀉白者。非瀉肺也。瀉邪氣以救肺也。故曰。氣即是火。其義了然。</p>
<h3>短氣</h3>
<p>（氣急而短促不能相續似喘而不抬肩似呻吟而無痛苦或為實或為虛或在表或在裡或屬陰或屬陽或飲多而水停心下各宜詳審）</p>
<p>短氣。骨節痛。汗出。小便不利。惡風身腫。為風濕。（甘草附子湯）短氣腹滿。脅痛。</p>
<p>脈弦浮大。外不解。無汗嗜臥。身黃。小便難。潮熱。（小柴胡湯）表未解。短氣。手足　然汗出。</p>
<p>或潮熱。（大承氣湯）若表解。心下痞硬。乾嘔。短氣。（十棗湯）下後。心中懊　硬痛。（大陷胸湯）按汗吐下後。脈微。氣不能續。則與異功散。陰症脈沉。逆冷。難以布息。則與四逆東加人參。飲多水停。則與茯苓甘草湯。皆補仲景之未備也。</p>
<h3>鬱冒</h3>
<p>（即昏迷也郁結而氣不舒昏冒而神不清也經云虛寒則為鬱冒然有宜下者）</p>
<p>太陽下後復汗。表裡俱虛。致冒。汗出則表和自愈。裡未和。然後復下。（小承氣湯）陽明小便下利。大便乍難乍易。微熱。喘冒不臥。有燥屎也。（大承氣湯）少陰但欲寐。利止而眩冒者死。厥陰不利清穀。脈沉遲面赤。身微熱。必鬱冒汗出而解。</p>
<p>按海藏謂心火熏肺。所以神昏。若下之則誤矣。宜梔子芩連湯。脈浮在丙。宜導赤散。</p>
<p>脈沉在丁。宜瀉心湯。劉河間云。熱者脈必數。然熱甚而反致沉細。謂為寒者誤也。宜解毒加大承氣下之。或失下而脈微昏冒者。若急下之。則殘陰暴絕。不下亦死。以解毒湯。養陰退陽。則脈和而生。仲景曰。血虛而厥。厥而必冒。又曰。少陰下利止。眩冒者死。蓋虛極而脫也。或虛或實。細心明辨之。</p>
<h3>不能言</h3>
<p>太陽發汗已。身猶灼熱。名風溫。脈尺寸俱浮。自汗身重。多眠鼻鼾。語言難出。（葳蕤湯湯）痙症。口噤不能言。（剛痙用葛根湯柔痙用桂枝東加栝蔞）熱病。喑啞不言。三四日不得汗出者死。火邪刑金。聲啞。（芩連甘桔知母黃連麥冬五味）風熱壅盛。咳嗽聲嗄。（荊防甘桔薄荷花粉知母）</p>
<h3>怫鬱</h3>
<p>（乃面赤也陽氣怫鬱在表故面色發赤雖由於熱然六經俱無可下之症亦有陰寒症水極似火者須以他症別之）</p>
<p>太陽病。如瘧狀。脈微。惡寒。面反熱色。身癢。（桂枝麻黃各半湯小汗之）太陽發汗不徹。轉屬陽明。續微汗出。不惡寒。若太陽症不罷。不可下。可小發汗。設面色緣緣正赤。陽氣怫鬱在表。當汗之。（麻黃湯）陽明面赤不可攻。（葛根湯）少陰小利清穀。厥逆脈微。反不惡寒。</p>
<p>（通脈四逆東加蔥白）面赤如錦紋。咽喉痛。吐膿血者。陽毒也。（陽毒升麻湯）</p>
<h3>吐蛔</h3>
<p>氣上衝心疼。飢不欲食。吐蛔者厥陰病。（桂枝白朮茯苓湯理中安蛔散）靜而時煩。此為藏寒。蛔上入膈。須臾復止。得食而嘔。又煩。蛔聞食臭出。當吐蛔。（烏梅丸）病患有寒。復發汗。胃中冷。必吐蛔。（先服理中湯次服烏梅丸）</p>
<p>按吐蛔主胃寒。人所共知。然亦有屬陽症者。如脈來洪大數實。或渴。或秘。或　。或黃。皆以冷劑取效。切不可執一也。凡吐蛔症。勿服甘草。勿食甜物。蓋蛔蟲得甘則動。得苦則安。得酸則止。得辛則伏也。</p>
<h3>循衣摸床</h3>
<p>（手弄衣被及摸床者必兼撮空此肝家之熱肝將絕故見危惡之症）</p>
<p>太陽中風。以火發汗。邪風被火。兩陽相熏其身發黃。陽盛則衄。陰盛則小便難。但頭汗出。口乾咽爛。或不大便。譫語。甚者噦。捻衣摸床。小便利者。可治。吐下後不解。不大便。日晡潮熱。不惡寒。獨語如見鬼狀。劇則不識人。循衣摸床。惕而不安。微喘直視。脈弦者生。澀者死。（大承氣湯）</p>
<p>按循衣摸床。必兼見撮空。及怵惕。肝主筋。肝熱甚。故動惕也。脈弦則肝木未敗。故生脈澀則金旺。而木欲絕。故死。仲景主下者。因其不大便也。若內無燥屎。而脈重按無力者。往往以大補氣血而愈。此法外之變通也。</p>
<h3>目直視</h3>
<p>（視物而不轉睛也五臟六腑之氣皆上注於目邪氣壅盛冒其正氣則神識不慧藏精之氣不能上榮於目則直視此邪氣已極正氣已壞吉少凶多者也故曰狂言直視為腎絕直視搖頭為心絕直視譫語喘滿者死直視下利者死）</p>
<p>衄家不可汗。汗則額陷。脈緊急。直視不能　。（肝受血而能視亡血則肝虛又發汗亡陽則陰陽俱虛此症雖逆尚可以補劑救十中之一二也）</p>
<p>風溫被下。小便不利。直視失溲。（仲景無治法）目中不了了。睛不和。無表裡症。大便難。微熱為實。（大承氣湯）</p>
<h3>厥</h3>
<p>（厥者四肢冷也逆者手足冷也邪在三陽則熱傳至太陰則溫至少陰則逆至厥陰則厥故成氏以為厥甚於逆而王履非之似亦不必　厥有陰陽之殊最當詳慎）</p>
<p>太陽脈浮。自汗。小便數。心煩微惡寒。腳攣急。反與桂枝攻表。誤也。得之便厥。咽乾。煩躁。吐逆。（甘草乾薑湯）陽明脈滑而厥。裡有熱也。（白虎湯）三陽合病。腹滿。身重。口不仁。面垢。譫語。遺尿。發汗則譫語。下之則額汗手足逆冷。若自汗者。（白虎湯）少陰吐利。手足厥冷。煩躁欲死。（吳茱萸湯）少陰病。下利清穀。裡寒外熱。厥逆脈微。反不惡寒。面赤。或腹痛。或乾嘔。或咽痛。或利止脈不出。（通脈四逆湯）少陰四逆。或咳或悸。或小便不利。或腹痛泄利。（四逆散）厥而悸者。宜先治水。卻治其厥。不爾。水漬入胃。必作利（麻黃升麻湯）厥冷。脈細欲絕。（當歸四逆湯）厥冷。脈乍緊者。邪結胸中。（瓜蒂散）一二日至四五日厥者。必發熱。厥深者熱亦深。厥微者熱亦微。（承氣湯下之若誤汗之必口傷爛赤）</p>
<p>少陰惡寒。身蜷而利。逆冷者。不治。少陰吐利。煩躁四逆者。死。少陰但厥無汗。強發之。必動其血。或從口鼻。或從目出。名下厥上竭。為難治。逆厥者。不可下。發熱。下利。厥不止者死。下利厥逆。無脈。灸之不溫。脈之還反微喘者死。</p>
<p>按厥有陰陽。辨之宜精。陰厥者。初得病。便逆冷。脈沉遲。足攣惡寒。或引衣自蓋。</p>
<p>或不。陽厥者。初病必身熱。小便赤。大便秘。渴飲。煩躁不眠。動轉不寧。至二三日後方發厥。其脈雖沉。按之必滑。手足心溫。指甲微溫。法當清之。或下症悉具。而見四逆。是因失下血氣不通。承氣湯下之。其曰逆冷不可下者。為真寒者言也。若夫火極似水而厥。則手足心溫。指甲亦溫。非下何以救乎。</p>
<h3>不得臥</h3>
<p>（不得眠者陽明病也胃不和則臥不安也或因汗下而心血虧損或因煩熱而輾轉不寧或因瘥後余熱未盡陰氣未復皆令人不得臥也）</p>
<p>太陽病。二三日不得臥。心下必結。脈微弱者。寒也。（桂枝加厚朴杏子湯）太陽脈浮數。</p>
<p>身疼無汗。煩躁不眠。汗之。（麻黃湯）下後復汗。晝日煩躁。不得眠。夜而安靜。不嘔不渴。無表症。脈沉微。身無大熱。（　乾薑附子湯）衄家不可汗。汗則額上陷。脈緊急。直視不　。（黃芩芍藥湯）下後心煩復滿。臥起不安。（梔子厚朴湯）汗吐下後。虛煩不得眠。心中懊　。（梔子豉湯）身熱。目痛。鼻干。不得臥。尺寸脈俱長。陽明病也。小便不利。大便乍難乍易。微熱。喘冒不臥。有燥屎也。（大承氣湯）陽明脈浮緊。咽燥口苦。喘滿發熱。汗出。不惡寒。反惡熱。煩躁不眠。（梔子豉湯）少陰病欲寐。二三日後。心煩不得臥。（黃連阿膠湯）少陰病。</p>
<p>下利欲寐。六七日後。咳而嘔渴。心煩不得眠。（豬苓湯）少陰病。但欲寐。脈沉細。煩欲吐。至五六日自利。復煩躁不得寐者。死。發熱下利。厥逆煩躁不得臥者。死。</p>
<p>按不得眠。皆為熱症。夫心為丙丁之主。邪火炎灼。則神不休息。魂氣飛揚。不能歸肝而臥也。其在太陽汗下後。晝日煩躁不眠一症。雖用附子乾薑湯。蓋復其汗下所亡之陽。非治其所感之寒也。若汗下後。虛煩甚而脈微弱者。加味溫膽湯。與梔子烏梅湯。均稱要劑。</p>
<h3>但欲寐</h3>
<p>（衛氣者晝則行陽夜則行陰行陽則寤行陰則寐陽氣虛陰氣強盛則目瞑乃邪傳於陰不在陽也昏昏閉目者陰主關也但欲寐是少陰本病然亦有熱者）</p>
<p>太陽病十日。脈浮細嗜臥。外已解也。胸滿脅痛者。（小柴胡湯按此條當是太陽少陽合病）少陰但欲寐。口燥咽乾。急下之。（大承氣湯）少陰欲吐不吐。但欲寐。五六日自利而渴。少陰虛。故引水自救。小便白者。下焦虛寒。（四逆湯若小便黃赤而渴者白頭翁湯）風溫。汗出身重。鼾睡。語言難出。（葳蕤湯）</p>
<p>按嗜臥亦有陰陽之殊。少陰脈微細。但欲寐。或蜷臥。或向壁臥。四肢逆冷。身體沉重。皆陰症也。附子湯溫之。如熱氣內伏。神氣昏倦。令人多眠。小柴胡湯。誠為要劑。</p>
<h3>奔豚</h3>
<p>（氣從少腹上衝心而痛如豕突之狀必臍下築築而動一由誤汗一由燒針）</p>
<p>太陽發汗後。臍下悸者。欲作奔豚。（茯苓桂枝甘草大棗湯）燒針令汗。針處被寒。核起而赤。必發奔豚。氣從少腹上衝心。灸核上各一壯。（桂枝加桂湯）</p>
<p>按奔豚為少陰之氣。非肉桂能泄其邪也。</p>
<h3>除中</h3>
<p>脈遲厥冷。下利當不能食。若反能食者。名曰除中。不可治。其症有二。一由誤服黃芩湯。涼藥而致者。必死。一則熱少厥多。胃氣在者。可治。此不因藥故也。</p>
<h3>肉</h3>
<p>（頑痹不知痛癢也汗出太多營與衛俱虛血氣不和肌肉失養故也）</p>
<p>汗後雖近衣絮。猶尚肉　。（羌活沖和東加桂枝當歸木香主之）</p>
<h2>卷下</h2>
<h3>百合狐惑目赤黑陰毒陽毒總論</h3>
<p>嘗讀仲景書。至金匱要略第三論。乃以陰陽二毒之症。附於百合狐惑目赤黑之尾。反覆玩之。而知斯五症。皆奇症也。百合之狀。欲食不食。欲臥不臥。欲行不行。如寒無寒。如熱無熱。狀如神靈。何其奇也。狐惑之狀。嘿嘿欲眠。目不得瞑。蝕喉為惑。蝕陰為狐。面目乍赤。乍黑。乍白。又何其奇也。目赤黑之狀。不熱而煩。嘿嘿欲臥。三四日目赤。七八日　黑。又何其奇也。陽毒則面赤如錦。咽痛吐血。陰毒則面目俱青。咽痛。身如被杖。俱以五日可治。七日不可治。及其施治。則二症均用升麻鱉甲湯。則不可解已。在陽毒之熱。反加蜀椒。在陰毒之寒。反去蜀椒。則更不可解矣。味其敘陽毒。不過曰面赤咽疼。唾膿血而已。並不言亢陽極熱之狀也。其敘陰毒。不過曰面青咽痛。身如被杖而已。並不言至陰極寒之狀也。其所用劑。不過升麻甘草。鱉甲當歸而已。並不用大寒大熱之藥也。乃知仲景所謂陽毒者。感天地惡毒之異氣入於陽經。則為陽毒。入於陰經。則為陰毒。</p>
<p>故其立方。但用解毒之品。未嘗以桂附薑茱治陰。芩連硝黃治陽也。後世名家不深察仲景之旨。遂以陽毒為陽症之甚者。而用寒涼。陰毒為陰症之甚者。而用溫熱。殊不知仲景論療陽症。狀極其熱。而藥極其寒。論療陰症。狀極其寒。而藥極其熱。已無余蘊。而何必別出名色乎。至其治陽毒。反投蜀椒者。椒本解毒之品。從其類而治之也。陰毒反去蜀椒者。為升麻鱉甲。既屬清涼。只覺蜀椒為贅矣。若以陽毒為極熱。何不投涼劑而反入蜀椒耶。若以陰毒為極寒。何不投溫劑而反去蜀椒耶。是知如上五症。皆奇異而罕覯者。此金匱總類於一條之中。良有說也。故凡學人。讀前賢之書。不得草草看過。必深思而明辨之。庶乎入仲景之室耳。</p>
<h3>百合</h3>
<p>（無分經絡百脈一宗悉致其病也欲食不能食欲臥不能臥欲行不能行如寒無寒如熱口苦小便赤時常嘿嘿藥不能治得藥則吐如有神靈其形如和其脈微數每溺時頭痛者六十日愈溺時頭不痛淅然者四十日愈若溺時快然但頭眩者二十日愈）</p>
<p>百合病。汗後者（百合知母湯）下後者。（滑石代赭湯）吐後者。（百合雞子湯）。不經汗吐下者熱者。（百合滑石湯）</p>
<h3>狐惑</h3>
<p>（狀如傷寒嘿嘿欲眠目不得閉臥起不安蝕於喉為惑蝕於陰為狐不欲飲食惡聞食臭蝕於上部。則聲喝。（甘草瀉心湯）蝕於下部。則咽乾。（苦參湯洗之）蝕於肛。（雄黃一味為末取艾肭拌勻以二瓦合之燒向肛門熏之）</p>
<h3>目赤黑</h3>
<p>（此症後賢遺而不論及或混雜於狐惑症中尤為可笑也）</p>
<p>脈數無熱。微煩。嘿嘿欲臥。汗出。初得之三四日。目赤如鳩眼。七八日目四黑。若能食者。膿已成也。（赤豆當歸散）</p>
<p>按此症。乃目瘍也。當其未成膿時。毒瓦斯未出。故腹滿不能食。及膿成毒出。則腹舒故能食也。</p>
<h3>陽毒</h3>
<p>面赤斑斑如錦紋。咽喉痛。吐膿血。五日可治。七日不可治。（升麻鱉甲湯）</p>
<h3>陰毒</h3>
<p>面目青。身痛如被杖。咽喉痛。五日可治。七日不可治。（升麻鱉甲湯去雄黃蜀椒）</p>
<p>按後賢所論陰毒。皆陰症之重者。陽毒乃陽症之甚者。並非仲景的旨。故悉刪去。</p>
<h3>舌卷囊縮</h3>
<p>（厥陰危惡之症扁鵲孫真人皆斷為死症仲景無治法今采南陽海藏治法有陰陽之殊至於女人乳頭縮者即同此症）</p>
<p>厥陰病。尺寸俱沉短者。必舌卷囊縮。毒瓦斯入腹。（大承氣湯）煩滿囊縮。二便不通。發熱引飲。邪在裡也。（大承氣湯）厥逆爪青。二便不通。地道塞也。（正陽散或回陽丹）</p>
<h3>漱水不欲咽</h3>
<p>（內有熱者必喜飲水今欲水而不欲咽是熱在經而裡無熱也此症屬在陽明經此經氣血俱多經中熱甚逼血妄行必將衄也　蓄血症燥而不渴多見此症　陰症發躁煩渴不能飲水或勉強不能飲也）</p>
<p>陽明身熱。頭痛。口燥。漱水不欲入咽。必衄血。脈微。（犀角地黃湯茅花湯）無表症。</p>
<p>不寒丸）少陰脈沉細。厥逆。漱水不欲咽。（四逆湯）下利厥逆無脈。乾嘔煩渴。漱水不欲咽。（白通東加豬膽汁人尿）吐蛔口燥舌乾。但欲涼水浸舌。及唇。不欲咽。（理中東加烏梅）</p>
<h3>過經不解</h3>
<p>（傷寒十三日不解謂之過經脈尺寸陷者大危）</p>
<p>過經不解。柴胡症未罷。（小柴胡湯和之）嘔不止。心下郁郁微煩。（大柴胡湯）形弱脈虛。（參胡三白湯）虛煩不眠。（溫膽東加人參柴胡）</p>
<p>壞病（汗吐下後仍不解者此名壞病桂枝不中與也審其脈症知犯何逆隨症治之或因誤汗或因誤吐或因誤下皆不順於理故曰逆也）</p>
<p>太陽病不解。轉入少陽。脅下硬滿。乾嘔。往來寒熱。未吐下。脈沉緊。（小柴胡湯）汗吐下後。柴胡症罷。此為壞症。知犯何逆。以法治之。</p>
<p>按傷寒既久。汗吐下後。邪氣漸平。正氣漸薄。陽亡於外。陰竭於內。自非大補。寧有生機屢屢回生。如有兼症。必以人參為主。隨症調之。真良法也。</p>
<h3>身熱惡寒身寒惡熱</h3>
<p>身大熱。反欲近衣者。熱在皮膚。寒在骨髓也。身大寒。反不欲近衣者。寒在皮膚。熱在骨髓也。</p>
<p>按丹溪云。大熱當喜冷。反欲得衣者。表氣虛不足以自溫。其人陰弱。陽無所附。飛越而出。發為大熱。宜作陰虛治之。大寒反不欲衣者。邪鬱膚腠。表氣大實。宜作邪鬱治之。趙嗣真云。虛弱表寒之人。感邪發熱。熱邪浮淺。不勝沉寒。故外怯而欲衣也。治宜辛溫。壯盛素熱之人。感邪之初。寒未變熱。陰邪閉於伏熱。陰凝於外。熱鬱於內。故內煩而不欲衣也。治宜辛涼。二說雖殊。各有至理。學人當因症察之。</p>
<h3>表熱裡寒表寒裡熱</h3>
<p>傷寒脈浮。此表有熱。裡有寒。（白虎湯）少陰下利清穀。裡寒外熱。手足厥逆。脈微。</p>
<p>反不惡寒。面赤。或腹痛。或嘔。或咽痛。或利止脈不出。（通脈四逆湯）既吐且利。小便復利。</p>
<p>大汗出。下利清穀。內寒外熱。脈微。（四逆湯）下利清穀。裡寒外熱。汗出而厥。（通脈四逆湯）脈浮而遲。表熱裡寒。下利清穀。（四逆湯）</p>
<h3>熱多寒少</h3>
<p>太陽病。發熱惡寒。熱多寒少。脈微弱者。無陽也。不可汗。桂枝二越婢一湯）太陽病。七。脈微。惡寒。此陰陽俱虛。不可汗吐下也。面色反熱者。未欲解也。以其不得小汗出。身必癢。（桂枝麻黃各半湯）</p>
<h3>風濕相搏</h3>
<p>（須知此症脈必浮虛而澀若沉實滑大數者非也）</p>
<p>傷寒八九日。風濕相搏。身體煩疼。不能轉側。不嘔不渴。脈浮虛而澀。（桂枝附子湯若大便硬小便自利桂枝去桂加白朮）風濕相搏。骨節煩疼。掣痛。不得屈伸。近之則痛劇。汗出短氣。小便不利。惡風不欲去衣。或身微腫。（甘草附子湯）</p>
<h3>陰陽易病</h3>
<p>（傷寒未全瘥因於交接而無病之人反得病也易者邪毒之氣交相易換也男子病新瘥婦人與之交而得病名曰陽易婦人病新瘥男子與之交而得病名曰陰易其候身重氣乏百節解散頭重不舉目中生花熱上中胸火浮頭面憎寒壯熱在男子則陰腫小腹絞痛在婦人則裡急連腰胯內痛甚者手足冷攣蜷男子卵陷入腹婦人痛引陰中皆難治也若吐舌出數寸者必死）</p>
<p>易病陽症。（燒　散竹皮湯）陰症。（　鼠屎湯當歸白朮湯）大便不通。昏亂驚惕（妙香丸）</p>
<p>按陰陽易病。得離經脈者死。太過而一呼三至曰至。不及而一呼一至曰損。此離於經常之脈也。惟易病有之。</p>
<h3>房勞復</h3>
<p>（瘥後犯房事而熱名房勞復其候頭重眼花腰背痛小腹裡急心胸煩悶）</p>
<p>房勞。頭重。目花。小腹絞痛。（赤衣散燒　散竹皮湯選用）虛弱脈微。（四君子湯送燒　散）</p>
<h3>勞復</h3>
<p>（大病新瘥最忌思慮傷神多言耗氣梳浴行動太早則因勞發熱復病如初）</p>
<p>勞復發熱。（小柴胡主之脈浮汗解脈沉下解）勞神。（歸脾湯）氣弱脈細。（補中益氣湯）一切勞復。（鱉甲為末炒黃米湯送下）</p>
<h3>食復</h3>
<p>（凡病瘥後先進清粥湯次進濃粥湯次進糜粥亦須少少與之切勿令任意過食也至於酒肉尤當禁忌若有不謹便復發熱名為食復）</p>
<p>食復輕者。（香砂枳朮湯）重者。（枳實梔子豉湯）酒復。（小柴胡加葛根黃連）</p>
<h3>遺毒</h3>
<p>（汗下不徹余邪熱毒結於耳後名曰發頤宜速消散之稍緩即成膿矣）</p>
<p>余毒發頤。（可消者用連翹敗毒散若不可消者不問已破未破俱用內托消毒散）</p>
<h3>瘥後昏沉</h3>
<p>（瘥後數日漸見昏沉或錯語呻吟如見鬼狀皆因余熱蘊在心胞絡）</p>
<p>脈浮者。微汗之。（小柴胡東加紫蘇知母生地）虛甚。（歸脾東加黃連竹葉）</p>
<h3>瘥後發豌豆瘡</h3>
<p>余毒發瘡。（黃連甘草荊防連翹煎服外用赤小豆為末入青黛以雞子清和塗神效）</p>
<h3>瘥後發腫</h3>
<p>水氣浮腫。壯實者。（以商陸少許煮粥食之）脾虛發腫。（四君子五苓散合服）足腫。（大米茯苓苡仁煎湯代茶）</p>
<h3>瘥後喜唾</h3>
<p>胃中虛寒。不納津液。故喜唾。（理中東加益智仁）</p>
<h3>臟結</h3>
<p>（臟氣閉結不能流通也外症如結胸狀但飲食如故時時下利為異耳寸脈浮關脈沉細而緊陰筋引臍腹而痛也）</p>
<p>脅下有痞氣。連在臍旁。痛引小腹陰筋。此冷臟結。必死藏結無陽症。不往來寒熱。其人反靜。舌上胎滑。不可攻也。（茱萸四逆湯宜灸關元穴）</p>
<h3>痙</h3>
<p>（俗作痙誤也今正之）病（身熱足冷項強惡寒頭痛面目赤頭搖口噤手足攣搐角弓反張太陽先傷風復感寒無汗為剛痙先傷風復感濕有汗為柔痙脈浮緊口渴仰面開目為陽易治脈沉不渴合而閉目為陰難治或風淫為實或血枯為虛也）</p>
<p>太陽病。身體強。脈反沉遲。（栝蔞桂枝湯）太陽無汗。小便反少。氣上衝。口噤不語。</p>
<p>（湯）</p>
<h3>大頭瘟</h3>
<p>（天行疫毒邪犯高巔分別三陽經而施治）</p>
<p>發於項上。並腦後目後赤腫。太陽也。（荊芥敗毒散）發於鼻額。以至面目閉。陽明也。</p>
<p>（通聖消毒散）發於耳之上下前後。並頭角者。少陽也。（小柴胡東加荊芥芩連）三陽俱受邪。（普濟消毒飲）</p>
<h3>風溫</h3>
<p>（汗後熱名曰風溫脈浮自汗身重多眠鼻鼾不語此先受溫熱復感於風也）</p>
<p>風溫忌汗。（葳蕤湯熱加知母干葛東加栝蔞）身重。汗出。（防己湯）</p>
<h3>傷濕</h3>
<p>（身重痛小便不利與太陽傷寒相似但脈沉細為異耳）</p>
<p>一身盡痛。日晡發熱。風濕也。（麻黃杏仁苡仁甘草湯）頭汗出。背強。欲得被覆向火者。寒濕。（理中湯合胃苓湯）關節痛而煩。脈沉細。當利小便。（甘草附子湯）</p>
<h3>濕溫</h3>
<p>（先傷於濕復傷於暑名曰濕溫腹滿目痛多汗妄言足冷寸脈浮弱尺小而急）</p>
<p>濕溫。（白虎加蒼朮湯）不可發汗。汗之名重　。必死。</p>
<h3>溫瘧</h3>
<p>（此傷寒壞病也前熱未除復感寒邪變為溫瘧）</p>
<p>寒熱往來。口苦胸滿。（小柴胡加桂枝芍藥湯煩渴用人參白虎湯）</p>
<h3>中暑中</h3>
<p>（納涼於廣廈涼亭乘風揮扇多食冰冷瓜果靜而得之名為中暑奔役於赤日炎威之中負重遠行不得休息動而得之名為中　脈虛汗多身熱煩渴）中暑。面垢。自汗。煩渴。（人參白虎加蓮薷扁豆）心胞絡受邪。熱甚。昏而不醒。（香薷湯冷服須加黃連）足冷脈沉。（理中湯）</p>
<p>中。大熱煩渴。（蒼朮白虎湯）</p>
<p>按中暑為陰症。陽氣為陰寒壅遏。法當辛溫。中　為陽症。熱火熏灼。法當清涼。凡熱死。切勿便與冷水。及冷物逼其外。即不可救。須置於暖處。取路上熱土於臍上作窩。溺熱尿於中。此為良法。或以晒熱瓦。熨其心腹。亦佳。宜蘇合香丸。湯調灌之。或熱土大蒜同研。</p>
<p>熱水調去渣灌之。</p>
<h3>婦人傷寒</h3>
<p>（治法皆與男子相同但熱入血室與胎前產後則不同也）</p>
<p>婦人傷寒。經水適來。晝則明了。夜則譫語。此名熱入血室。（小柴胡東加生地丹皮歸尾枳殼）妊娠傷寒。安胎為主。不可過於汗下。有表者。（羌活沖和東加當歸芍藥）燥渴便閉。（小承氣湯大黃須酒炒）直中寒症。（理中東加桂）護胎法。（井底泥青黛伏龍肝等分加面少許水調塗臍下二寸許干則再塗）產後傷寒。血氣空虛。勿輕汗下。有表症者。（四物東加羌活蘇葉蒼朮蔥頭）燥渴便閉。（四物東加枳殼酒炒大黃厚朴）汗下太過。遂變鬱冒昏迷。筋惕肉　。（八珍湯加乾薑主之）</p>
<h3>太陽篇七十三方</h3>
<h4>桂枝湯</h4>
<p>桂枝　芍藥　甘草　生薑　大棗太陽中風。陽浮者。熱自發。陰弱者。汗自出。嗇嗇惡寒。淅淅惡風。翕翕發熱者。此方自汗。風邪干衛者。乃為相宜。仲景以解肌為輕。發汗為重。故汗吐下後身痛者津液耗也。</p>
<p>雖有表邪。止可用桂枝解肌也。內經曰。風淫於內。以辛散之。以酸收之。以甘緩之故以桂枝為君。芍藥為臣。甘草為佐。薑棗為使。薑棗行脾之津液。而和營衛者也。麻黃湯。不用薑棗者。為其專於發汗。不待行化。津液自通耳。桂枝麻黃二湯。為冬月傷寒而設。若春溫夏熱之病。決不可用。</p>
<h4>麻黃湯</h4>
<p>麻黃　桂枝　甘草　杏仁主太陽頭痛。發熱身疼。腰痛。骨節痛。惡寒。無汗而喘。　本草云。輕可去實。麻黃是也枝所能獨散。所以為臣。內經曰。寒淫於內。治以甘熱。佐以辛苦。甘草甘平。杏仁甘苦。用以為佐。經所謂肝苦急急食甘以緩之也。且桂枝湯。治風傷衛。則衛實營弱。故佐以芍藥。和其營血也。麻黃湯。治寒傷營。則營實衛虛。故佐以杏仁利其衛氣也。</p>
<h4>大青龍湯</h4>
<p>麻黃　桂枝　甘草　杏仁　生薑　大棗　石膏主傷寒見風。脈浮緩身不疼。但重。乍有輕時。無少陰症者宜之。青龍者。東方木神也。應春而主肝。專發生之令。為敷榮之主。萬物出甲。則有兩岐。肝有兩葉以應之。謂之青龍者。</p>
<p>發散營衛兩傷之邪也。桂枝主風。麻黃主寒。此則傷寒見風。所以處青龍湯。兩解風寒也。</p>
<p>寒傷營。必以甘緩之。風傷衛。必以辛散之。此風寒兩傷。必用辛甘相合而療之。是以麻黃為。夫風寒兩傷。非輕劑可以獨散。必須以輕重之劑同散之。是以用石膏之苦辛。質重而又達肌為使也。此湯為發汗重劑。用之稍過。即有亡陽之害。故仲景戒多服也。　服藥後汗不止。將病患發披水盆中。露足出外。以溫粉周身撲之。白朮。　本。川芎。白芷。等分細末。</p>
<p>每藥末一兩。入米粉三兩。</p>
<h4>小青龍湯</h4>
<p>麻黃　芍藥　細辛　乾薑　甘草（炙）　桂枝　五味子　半夏主表邪不解。心下有水氣。　青龍象肝木之兩岐。主兩傷之疾。麻黃湯散寒。桂枝湯散風。若表不解而心下有水氣。為表裡兩傷。須小青龍祛表裡之邪。麻黃辛溫。為發散之君。桂枝辛熱。甘草甘平。為發散之臣。芍藥酸寒。五味酸溫。寒飲傷肺。則咳喘而肺氣逆。經曰。肺欲收急食酸以收之。故芍藥五味子為佐。以收逆氣心下有水。津液不行。則腎燥。經曰。腎苦燥急食辛以潤之。故以乾薑辛熱。細辛辛溫。半夏微溫為使。以散寒水。如是則津液通行。汗出而解。　心下有水氣。變症多端。故立加減之法。渴者。去半夏。加栝蔞根。水蓄則津液不行。氣燥而渴。半夏性燥。去之則津易復。栝蔞性潤。加之則津易生。微利者。去麻黃。</p>
<p>加芫花。水漬腸胃。則為利。下利不可發表。發之必脹滿。故去麻黃。酸苦能涌泄。水去則利止。故加芫花。經曰。水得冷氣。其人即噎。胃寒非表症。故去麻黃。辛熱能溫中。故加附子。若小便不利。病在下焦。甘淡者下滲。故加茯苓。發散者上行。故去麻黃。喘則氣上。法當降下。麻黃輕揚而上。是以去之。杏仁苦泄而下。是以加之。</p>
<h4>桂枝葛根湯</h4>
<p>葛根　芍藥　甘草　生薑　桂枝　大棗主太陽病。項背強。KT　KT　。及汗出。惡風。　按詩豳風野狼跋云。赤寫KT　KT　。注云。KT　KT拘貌。言不敢左右顧視也。借以喻項強之狀也。表邪方盛。不當有汗。今反汗出。風傷衛也。故以桂枝解肌。葛根發表。芍藥和營。甘草甘平。薑棗和胃。</p>
<h4>葛根湯</h4>
<p>葛根　麻黃　桂枝　芍藥　甘草　生薑　大棗主太陽病。項背強。KT　KT　。無汗惡風。KT　KT　。注見前。舊釋鳥羽。未當。今正之。此方即桂枝。無汗用麻黃。確乎不可易矣。此復以太陽無汗。用葛根湯。太陽有汗。用桂枝葛根湯。何也。葛根本陽明經藥。恐太陽病久。將傳陽明。故用葛根。迎而奪之。豫發其邪。勿令傳入也。前用桂枝湯麻黃湯者。病方起也。今用此二方者。病已久也。又按太陽病。脈靜為不傳。若煩躁脈數。為欲傳也。意者既見其欲傳之狀。故用此二方。此未發之秘旨。</p>
<h4>桂枝麻黃各半湯</h4>
<p>桂枝　芍藥　生薑　甘草　麻黃　大棗　杏仁太陽病。八九日如瘧狀。熱多寒少。　不嘔清便。一日二三度發。脈微緩。為欲愈。</p>
<p>脈微。惡寒。不可汗吐下。面反有熱色。未欲解也。以不得汗。身必癢。</p>
<p>此方論。當分作三段看。太陽病至寒少一段。為自初至今之症。下文皆擬病防變之辭。</p>
<p>至欲愈一段。言不必治也。至不可汗吐下。言宜溫之也。至末一段。是小汗之。麻黃與桂枝。一發一止。則汗不至大出矣。　桂枝二麻黃一湯不錄。</p>
<h4>桂枝二越婢一湯</h4>
<p>桂枝　芍藥　甘草　生薑　大棗　麻黃　石膏太陽病。發熱惡寒。熱多寒少。脈微弱者。無陽也。不可發汗。　胃為十二經之主。脾治水穀氣。通行津液也。凡仲景稱太陽病者。皆表症發熱惡寒。頭項強痛也。若脈浮大。則與症相應。宜發其汗。今表症見而脈反微。是脈不應症。故不可發汗。但用此方和之而已。</p>
<h4>桂枝去桂加茯苓白朮湯</h4>
<p>芍藥　甘草　生薑　白朮　茯苓　大棗主汗下後。仍頭項強痛。發熱無汗。心下滿。微痛。小便不利。頭項強痛。邪仍在表。</p>
<p>何故去桂而加苓朮耶。不知此屬飲症也。既經汗下而不解。心下滿痛。小便不利此為水飲內蓄。</p>
<p>邪不在表。故去桂加苓朮也。若小便利。則水飲行。而熱滿頭痛。無不悉愈矣。</p>
<h4>桂枝加芍藥生薑人參新加湯</h4>
<p>桂枝　芍藥　甘草　人參　大棗　生薑主汗後。身體痛。脈沉遲。汗後身痛。邪未盡也。脈來沉遲。血不足也。經曰。脈沉者。營氣微也。與桂枝湯。以解未盡之邪。加芍藥參薑。以補不足之血。夫身痛一也。以脈浮緊。</p>
<p>為邪盛。盛者損之。以脈沉遲。為血虛。虛者補之。此之身痛。因血虛而致。誤作表實而發之。則血愈虛而危矣。</p>
<h4>桂枝附子湯</h4>
<p>桂枝　附子　大棗　生薑　甘草傷寒八九日。風濕相搏。身痛煩。不能轉側。不嘔不渴。脈浮虛而澀。　病至八九日。</p>
<p>則邪多在裡。身當不痛。今日數多。而身痛不能轉側者。濕也。經曰。風則浮虛。又曰。澀為寒濕。不嘔不渴。裡無邪熱也。脈浮虛而澀。身有煩疼。則知風濕。但在經也。與桂枝附子湯。</p>
<p>以散表中風濕。風在表者。散以桂枝之辛甘。濕在經者。逐以附子之辛熱。薑棗同甘草。行營衛而通津液。以和其表也。</p>
<h4>桂枝加附子湯</h4>
<p>悉照前方。加芍藥。</p>
<p>脈浮為風。大為虛。風則微熱。虛則痙攣。宜與桂枝加附子湯。厥逆咽乾煩躁。陽明內結。譫語煩亂。更飲甘草乾薑湯。夜半陽氣還。兩足當熱。脛尚微拘急重。與芍藥甘草湯。乃脛伸。以承氣湯微溏。則止其譫語。</p>
<h4>甘草乾薑湯</h4>
<p>甘草　乾薑</p>
<h4>芍藥甘草湯</h4>
<p>芍藥　甘草浮為風。合用桂枝湯。大為虛。虛而脛攣者。寒則筋急也。非附子不能溫經以舒筋。故加之。厥逆咽乾煩躁。此陰躁也。雖內結譫語。而陽氣未回。故以甘草乾薑，溫理中氣。為脾主四肢。又甘能緩急也。及陽氣已還。則除去溫劑。雖脛尚拘急。不過以芍藥和營而已。直待脛伸。寒症盡去。然後以承氣止其譫語。蓋內結者。非承氣不能除耳。一症也。始而大溫之。既而微溫。又既而微寒之。終而大寒之。非有見垣之智者。未易語此。後人遇此症。豈復能出此手眼耶。</p>
<h4>桂枝附子去桂加白朮湯</h4>
<p>白朮　甘草　附子　生薑　大棗主風濕相搏。身痛。不嘔渴。脈虛澀若其人大便硬。小便利者。宜與此湯。仲景云。初服之。其人身如痹。半日許。復服之。三服盡。其人如冒狀。勿怪。此以術附並走皮內。逐水氣。未得除故耳。當加桂四兩。此本一方二法。以大便硬。小便利。故去桂也。以大便不硬。</p>
<p>小便不利。當加桂附。</p>
<h4>甘草附子湯</h4>
<p>甘草　白朮　桂枝　附子風濕相搏。骨節痛。不能屈伸。汗出短氣。小便不利。惡風。或身微腫。身腫。加防風。</p>
<p>小便不利。加茯苓。</p>
<h4>芍藥附子甘草湯</h4>
<p>芍藥　甘草　附子發汗不解。反惡寒者。虛也。當與此湯。　汗後病解。則不惡寒。汗後病不解。而表實者。亦收斂津液而益營。附子之辛熱固陽氣而補衛。甘草調和辛酸而安正氣也。</p>
<h4>桂枝去芍藥湯</h4>
<p>桂枝　甘草　生薑　大棗太陽下後。脈促胸滿。若微寒。加附子。名桂枝去芍藥加附子湯。胸滿者。不利於酸收。故去芍藥。其曰微寒者。非表寒。乃裡寒也。故加附子。祛寒而消滿也。</p>
<h4>柴胡加桂枝湯</h4>
<p>桂枝　黃芩　人參　甘草　芍藥　生薑　大棗　柴胡　半夏傷寒六七日。發熱。微惡寒。支節煩疼。微嘔。心下支結。外症未去。傷寒至六七日。</p>
<p>邪當傳裡之時也可攻裡。與柴胡桂枝湯。以和解之。南陽云。外症未解。心下妨悶。謂之支結。非痞也。不可不辨。</p>
<h4>白虎湯</h4>
<p>知母　石膏　甘草　粳米吐下後。七八日不解。熱結在裡。表裡俱熱。脈浮滑。大渴而煩。按仲景云。傷寒脈浮滑。此表有熱。裡有寒。白虎湯主之。疑必有誤。又云。熱結在裡。表裡俱熱。大渴飲水。白虎湯主之。又云。表不解者。不可與白虎湯。又陽明一症云。表熱裡寒。四逆湯主之。又少陽一症云。裡寒外熱。通脈四逆湯主之。乃知其言脈浮滑。表熱裡寒者。必表裡二字傳訛也。即仲景數論而斷之。豈有裡既寒而反用大寒之劑乎。豈有裡寒而脈浮滑者乎。豈有裡寒而大熱煩渴者乎。故知白虎為陽明大熱而設。其曰。裡有寒者。定瘥無疑也。成氏隨文注釋。惑誤後人。不得不詳為之辨也。白虎西方金神也。應秋而歸肺。表裡俱熱。金被火囚。用辛寒以救肺。所以名為白虎也。活人謂夏月陰氣在內。宜戒白虎。明理論云。立秋後不可服。恐白虎大寒。將變虛羸不食。二說俱偏矣。有是病即當服是藥。安可拘於時哉。設使秋冬病。苟無表症。而大熱煩渴。便與白虎。為對症之良劑矣。雖欲不用。其可得乎。</p>
<h4>白虎加人參湯</h4>
<p>知母　石膏　甘草　粳米　人參主太陽中　。發熱惡寒。脈微弱。手足逆冷而渴者。白虎加人參湯。又曰。身無大熱。</p>
<p>口渴心煩。背微惡寒者。白虎加人參湯主之。傷寒脈浮。發熱無汗。其表不解。不渴者。</p>
<p>宜麻黃湯。渴者宜五苓散。並非白虎所宜也。惟大渴飲水。無表症者。乃可與白虎。加人參以除裡熱。</p>
<h4>五苓散</h4>
<p>豬苓　澤瀉　茯苓　桂　白朮太陽汗後。胃干。煩躁不眠。欲飲水者。少少與之。脈浮。小便不利而渴。宜用此方。</p>
<p>太陽渴為膀胱經本病。然則治渴者。當瀉膀胱之熱。瀉膀胱之熱者。利小便而已矣。淡味滲泄為陽。內蓄水飲。須滲泄之。故以三苓澤瀉為主。脾土強旺。則水飲不敢停留。故以白朮為佐。水蓄則腎燥。經曰。腎苦燥急食辛以潤之。故用桂為向導之使。</p>
<h4>柴胡桂枝乾薑湯</h4>
<p>柴胡　桂枝　黃芩　乾薑　牡蠣　甘草　栝蔞根傷寒五六日。已發汗。復下之。胸脅滿。微結。小便不利。渴而不嘔。但頭汗出。往來寒熱邪在半表半裡也。小便不利而渴者。汗下津亡內燥也。若熱消津液。令小便不利而渴者。當嘔。今桂枝乾薑湯。以解表裡之邪。復津液以助陽也。</p>
<h4>柴胡加龍骨牡蠣湯</h4>
<p>柴胡　半夏　大黃　人參　桂枝　茯苓　龍骨　黃芩　鉛丹　牡蠣　生薑　大棗八九日下之。胸滿煩驚。小便不利。譫語。一身盡重。傷寒八九日。邪熱已深。下之而滿煩者。熱未盡也。驚者。心惡熱。而神不守也。小便不利者。津液不行也。譫語者。胃實也。</p>
<p>身重不可轉側者。陽氣伏於裡。不行於表也。與柴胡湯。以除煩悶。加龍骨牡蠣丹鉛。以鎮驚。加茯苓以行津液。利小便。加大黃。以滌胃熱。止譫語。加桂枝。以行陽氣。解身重。而錯雜之邪。靡不悉愈矣。</p>
<h4>桂枝去芍藥加蜀漆龍骨牡蠣救逆湯</h4>
<p>桂枝　生薑　蜀漆　牡蠣　龍骨　甘草　大棗傷寒脈浮。醫以火迫劫之。亡陽。必驚狂。起臥不安。此方主之。傷寒脈浮。責邪在表。以非去脫也。</p>
<h4>葛根加半夏湯</h4>
<p>葛根　麻黃　甘草　芍藥　桂枝　生薑　半夏　大棗太陽與陽明合病。不下利。但嘔者。此方主之。太陽表症。與陽明裡症。合約而見。其邪甚。外症。必頭痛。腰痛。肌熱。目痛。鼻干。不眠。</p>
<h4>葛根黃芩黃連湯</h4>
<p>葛根　甘草　黃芩　黃連太陽病。桂枝症。反下之。利下脈促。表未解也。喘汗。宜此湯。表未解者。散以葛根甘草之甘。裡受邪者。清以黃芩黃連之苦。</p>
<h4>黃芩湯</h4>
<p>黃芩　芍藥　甘草　大棗太陽與少陽合病。自下利者。與黃芩湯。若嘔者。黃芩加半夏生薑湯。太陽與少陽合病。下之氣。甘草大棗之甘平。以補養脾胃之弱。</p>
<h4>黃芩加半夏生薑湯</h4>
<p>即前方加半夏。生薑。</p>
<p>按半夏辛燥。除濕而大和脾胃。生薑辛散。下氣而善理逆結。故二物為嘔家聖藥也。</p>
<h4>桂枝加厚朴杏仁湯</h4>
<p>桂枝　芍藥　生薑　厚朴　甘草　杏仁　大棗太陽病。下之。微喘者。表未解也。宜與此湯。下後大喘。則為裡氣大虛。下後微喘。</p>
<p>則為裡氣上逆。邪未傳裡猶在表也。與桂枝湯。以解外邪。加厚朴杏仁。以下逆氣。</p>
<h4>乾薑附子湯</h4>
<p>乾薑　附子下後復汗。盡則煩躁。夜而安靜。不嘔不渴。無表症脈沉微。身無大熱。下後復汗。陽氣無熱。外無表症。脈見沉微。則虛寒顯著矣。身無大熱者。但微熱也。此無根虛火。游行於外。非薑附之辛溫。何以復其陽乎。</p>
<h4>麻黃杏仁甘草石膏湯</h4>
<p>麻黃　杏仁　甘草　石膏汗後。下後。不可更行桂枝湯。若汗出而喘。無大熱者。可與麻黃杏仁甘草石膏湯。仲景凡言汗後。下後。乃表邪悉解。止余一症而已。故言不可更行桂枝湯。今汗下後而喘。身無大熱。乃上焦余邪未解。當與麻黃杏仁甘草石膏湯。以散之。夫桂枝加厚朴杏仁湯。乃桂枝症悉具。而加喘者用之。今身無大熱。但汗而喘者。不當以桂枝止汗。但以麻黃散表。杏仁石膏清裡。俟表裡之邪盡徹。則不治喘汗。喘汗自止矣。</p>
<h4>桂枝甘草湯</h4>
<p>桂枝　甘草發汗過多。其人叉手自冒心。心下悸。欲得按者。此湯主之。汗多亡陽。則胸中氣怯。</p>
<p>故叉手冒心。心悸欲得按者。虛故喜按也。與桂枝之辛。入肺而益氣。甘草之甘。歸脾而緩中。</p>
<h4>茯苓桂枝甘草大棗湯</h4>
<p>茯苓　桂枝　甘草　大棗發汗後。其人臍下悸者。欲作奔豚。此湯主之。作甘瀾水法。取水置大盆內。以杓揚之。待豚。發則從少腹上至心。為水來凌火。以茯苓。伐水邪。以桂枝泄奔豚。甘草大棗之甘平。助胃土以平腎。用甘瀾水者。取其動而不已。理停滯之水也。</p>
<h4>厚朴半夏生薑甘草人參湯</h4>
<p>厚朴　生薑　人參　半夏　甘草太陽發汗後。腹脹滿。此湯主之。仲景凡言發汗後者。以外無表症。裡無別邪。止有腹脹實。由脾胃津液不足。氣澀不通。壅而為滿。但與此湯。和調脾胃。則濁氣自降。而脹自已</p>
<h4>茯苓桂枝白朮甘草湯</h4>
<p>茯苓　桂枝　白朮　甘草吐下後。心下逆滿。氣上衝胸。起則頭眩。脈沉緊。發汗則動經。身為振搖。此湯主之。吐誤汗之。則外動經絡。損傷陽氣。陽氣外虛。則不能主持諸脈。故身為振搖也。陽不足者。補之以甘。茯苓白朮。生津液而益陽。裡氣逆者。散之以辛。桂枝甘草。行陽分而散氣。</p>
<h4>茯苓四逆湯</h4>
<p>茯苓　人參　附子　甘草　乾薑發汗。若下之。病仍不解而煩躁。此湯主之。發汗則陽氣外虛。下之則陰氣內虛。陰陽俱虛。則生煩躁。既曰陰陽俱虛。獨用氣藥者。蓋為氣藥有生血之功也。</p>
<h4>茯苓甘草湯</h4>
<p>茯苓　桂枝　甘草　生薑汗出不渴。此方主之。仲景云。汗出而渴者。五苓散。汗出不渴者。茯苓甘草湯。夫渴為太陽傳本。故利小便以滌熱。不渴為表氣虛弱。故與此湯以和衛。</p>
<h4>梔子豉湯</h4>
<p>梔子　香豉汗吐下後。虛煩不得眠。若劇者。必心中懊　。梔子豉湯主之。若少氣者。梔子甘草豉湯。若嘔者。梔子生薑豉湯。邪氣自表傳裡。留於胸中。為邪在高分。則可吐也。所吐之症不同。如未經汗下。邪鬱於膈者。乃實邪也。以瓜蒂散吐之。若汗吐下後。邪氣乘虛。留於胸者。乃虛煩也。以梔子豉湯吐之。經曰。酸苦涌泄為陰。涌者。吐也。涌吐虛煩。必以梔子之苦為君。清除伏熱。必以香豉之寒為臣也。</p>
<h4>梔子甘草豉湯</h4>
<p>（症治見前方）</p>
<p>梔子　甘草　香豉</p>
<h4>梔子生薑豉湯</h4>
<p>（症治見前方）</p>
<p>梔子　生薑　香豉</p>
<h4>梔子厚朴湯</h4>
<p>梔子　厚朴　枳實主下後心煩腹滿。臥起不安。</p>
<h4>梔子乾薑湯</h4>
<p>梔子　乾薑醫以丸藥大下之。身熱不去。微煩。病在上者。因而越之。其為吐一也。而所以吐則異。</p>
<p>虛煩而兼少氣。加甘草以和中。虛煩而兼嘔惡。加生薑以散逆。腹滿而虛煩。則中州之實也。入枳朴以寬中。大熱而微煩。則中州之虛也。入乾薑以理中。內經曰。氣有高下。病有遠近。</p>
<p>症有中外。治有重輕。適其所以為治。依而行之。所謂良矣。</p>
<h4>真武湯</h4>
<p>茯苓　芍藥　生薑　白朮　附子太陽發汗不解。仍發熱。心悸。頭眩。身　動。振振欲擗地。又少陰病。二三日至四五日。腹痛。小便不利。四肢沉重。疼痛下利。此為水氣。其人或咳。或小便利。或下利。或嘔。</p>
<p>真武。北方水神也。水在心下。外帶表而屬陽。必應辛散。故治以真武湯。真武生少陰之水。亦治太陽之悸。夫脾惡濕。腹有水氣則不治。脾欲緩。甘以緩之。則土調。故以茯苓甘平為君。白朮甘溫為臣。經曰。濕淫所勝。佐以酸辛。故以芍藥生薑為佐。經曰。寒淫所勝。</p>
<p>平以辛熱。故以附子為使。然水氣內清。則變動多端。故立加減之法。咳者。水寒射肺也。</p>
<p>肺氣逆。則以五味子酸收之。肺惡寒。則以細辛乾薑辛潤之。小便利。則去茯苓。以其滲泄也。小便不利。則去芍藥。以其酸澀也。加乾薑者。散其寒也。嘔者。必因於氣逆。附子益氣。故去之。生薑散氣。故加之。</p>
<h4>四逆湯</h4>
<p>甘草　乾薑　附子發熱。頭痛。脈反沉。苦不瘥。身體痛。當救其裡。下後。下利清穀。身痛。急當救裡。四為土味。是以甘草為君。寒淫所勝。平以辛熱。是以乾薑為臣。溫經回陽。非純陽而健悍者。無此大作用。是以附子為使。太陰與少陰。俱受陽和之煦。而真氣充周於肢節矣。若發熱云云。下後云云。皆陰症故並主之。</p>
<h4>調胃承氣湯</h4>
<p>大黃　甘草　芒硝太陽病未解。脈陰陽俱停。必先振栗。汗出乃解。但陽脈微者。先汗出而解。但陰脈微者。下之而解。若欲下之。宜調胃承氣湯。陰陽俱停。是陰陽和已。可以弗藥而愈。陽脈微者。</p>
<p>陰勝也。有汗則解。設或無汗。大都宜溫。陰脈微者。陽勝也。非下之何以解其亢陽乎。經曰。熱淫於內。治以鹹寒。佐以苦寒。芒硝鹹寒為君。大黃苦寒為臣。正合此法也。加甘草以緩之和之。監其峻烈。雖則有承順其氣之勢。復有調和其胃之功矣。故名調胃承氣。本陽明藥。而此主太陽未解也。</p>
<h4>小建中湯</h4>
<p>桂枝　甘草　大棗　芍藥　生薑　膠飴傷寒二三日。悸而煩。小建中湯。　陽脈澀陰脈弦。腹中急痛。與小建中湯。</p>
<p>二三日邪方盛。又未經汗下。見症不過悸而煩。不審何故。便行建中。疑必有脫文也。若陽脈澀而痛脈弦。腹中掣急而痛。灼然虛寒。建中溫之當矣。脾居四藏之中。生育營衛。通行津液。一有不調。則營衛失育。津液失行。此湯甘溫。善為中州培養。有建立之氣。故曰建中。脾欲緩急食甘以緩之。故以膠飴甘溫為君。甘草甘平為臣。脈弦木旺。土之仇也。以桂與芍藥制之為佐。益衛宜辛。補營宜甘。故以薑棗為使。</p>
<h4>大柴胡湯</h4>
<p>柴胡　半夏　黃芩　芍藥　生薑　大棗　枳實　大黃太陽過經。反二三下之。四五日柴胡症仍在。先與小柴胡湯。嘔不止。心下急。微煩者。與大柴胡湯。又曰。十余日熱結在裡。往來寒熱。與大柴胡湯。夫大實大滿。非駛劑不能泄。</p>
<p>當與大小承氣湯。苟不至大滿大實。惟熱甚而須下者。必輕緩如大柴胡湯為當也。清熱必以苦為主。余邪必以解為先。故用柴胡之苦平解肌為君。黃芩之苦寒清熱為臣。芍藥佐黃芩祛營中之熱。枳實佐柴胡祛衛中之熱。是以為佐。半夏薑棗。理胃氣之逆。大黃蕩滌。奪土中之壅。是以為使。</p>
<h4>柴胡加芒硝湯</h4>
<p>柴胡　黃芩　甘草　人參　生薑　半夏　大棗　芒硝十三日不解。胸脅滿而嘔。日晡潮熱。已而微利。此本柴胡症。下之而不得利。今反利者。以丸藥下之。非其治也。潮熱者實也。先宜小柴胡解外。後用此湯。　胸脅滿。嘔而潮熱。</p>
<p>邪在半表半裡。小柴胡湯為的當之劑。但下之失宜。則裡邪未盡。非柴胡湯所能療也。故加芒硝以蕩之。</p>
<h4>桃核承氣湯</h4>
<p>桃仁　大黃　甘草　桂枝　芒硝太陽病不解。熱結膀胱。其人如狂。血自下者愈。外不解者。尚未可攻。當先解外。外解已。但少腹急結者。乃可攻之。宜與此湯。按犀角地黃湯。治上血。吐血衄血是也。桃核承氣湯。治中血。蓄血中焦。下利膿血是也。抵當湯。治下焦血。如狂是也。少腹急結。緩以桃仁之甘。下焦蓄血。行以桂枝之辛。熱甚搏血。故加二物於調胃承氣湯中也。以症狀察之。當是濃桂非是桂枝也。桂枝輕揚治上。濃桂重降治下。其為錯誤無疑也。</p>
<h4>桂枝加桂湯</h4>
<p>桂枝　芍藥　生薑　甘草　大棗燒針令汗。針處被寒。核起而赤。必發奔豚氣。從少腹上衝心。宜此湯。　奔豚者。如豕突藥。同桂枝湯用之。則針處被寒之邪。莫不畢散矣。</p>
<h4>桂枝甘草龍骨牡蠣湯</h4>
<p>桂枝　甘草　牡蠣　龍骨火逆下之。因燒針煩躁。此湯主之。辛甘發散。桂枝甘草之辛甘。以發散經中之火邪。</p>
<p>澀可固脫。龍骨牡蠣之咸澀。以收斂正氣之浮越。</p>
<h4>抵當湯</h4>
<p>水蛭　虻蟲　大黃　桃仁太陽病。身黃。脈沉結。小腹硬。小便不利。為無血。小便自利。其人如狂。血症諦也。氣不行者去血必以咸。是以水蛭鹹寒為君。經曰。苦走血。散血必以苦。是以虻蟲苦寒為臣。血結則干燥。以桃仁之潤滑為佐。血結則凝泣。以大黃之蕩滌為使。</p>
<h4>抵當丸</h4>
<p>水蛭　虻蟲　大黃　桃仁傷寒有熱。少腹滿。應小便不利。今反利。為有血也。當下之。不可余藥。宜抵當丸。</p>
<p>少腹滿而小便利。為下焦蓄血。若蓄熱者。津液不行。則小便不利。今小便利。知為蓄血。蓄血堅結。非輕緩之劑可療。必峻猛之劑。方對症耳。以丸較湯。僅得三分之一。為稍緩也。</p>
<h4>大陷胸丸</h4>
<p>大黃　葶藶子　芒硝　杏仁　甘遂　白蜜病發於陽。而反下之。熱入。因作結胸。項強如柔痙狀。下之則和。宜進此湯。　病發於陽之表。未傳於陰之裡。但當汗解。今早下之。熱氣乘虛。陷入於裡。邪熱凝聚。結於胸中。</p>
<p>項強如柔痙者。邪氣甚也。大黃芒硝之苦鹹。善於散結。葶藶杏仁之苦甘。長於泄滿。甘遂取其直達。白蜜取其潤利。皆為散結之品。而葶藶尤專主胸中也。</p>
<h4>大陷胸湯</h4>
<p>大黃　芒硝　甘遂結胸熱實。脈沉而緊。心下痛。按之石硬。　但結胸。無大熱。為水結胸也。邪在上者。宜若可吐。然謂之結者。固結於胸中。非虛煩膈實者比也。上焦為高邪。必陷下以平之。故曰陷胸。蕩平邪寇。將軍之職也。所以大黃為君。咸能軟堅。所以芒硝為臣。徹上徹下。破結逐水。惟甘遂有焉。所以為佐。此惟大實者。乃為合劑。如挾虛。或短氣。或脈浮。不敢輕投也。</p>
<h4>小陷胸湯</h4>
<p>半夏　黃連　栝蔞實小結胸者。按之則痛。脈浮滑。此湯主之。　大結胸者。不按亦痛。小結胸者。必手按而後覺痛也。邪輕於前。故曰小陷胸。夫苦以泄之。辛以散之。黃連栝蔞之苦寒以泄熱。半夏之辛溫以散結。邪自解矣。</p>
<h4>文蛤散</h4>
<p>文蛤病在陽。應以汗解。反以冷水　之。灌之。熱被卻。不得去。彌更益煩。肉上粟起。意欲飲水。反不渴。服文蛤散。若不瘥。服五苓散。　熱為寒閉。火鬱於肺。而不得泄越。故彌煩也。</p>
<p>此不可以涼藥解除。宜以文蛤之酸平。斂而降之。</p>
<h4>白散</h4>
<p>桔梗　貝母　巴豆寒實結胸。無熱症者。可與白散。　此方為寒結胸而設。惟病甚者。不得已而用之。若輕者。活人但以枳實理中丸與之。應手取效。</p>
<h4>半夏瀉心湯</h4>
<p>半夏　黃芩　乾薑　人參　甘草　黃連　大棗嘔而發熱。柴胡症具。而以他藥下之。心下滿而不痛。以此湯主之。　若加甘草去參。即甘草瀉心湯。治痞硬吐利。若加生薑。即生薑瀉心湯。治痞硬噫氣。辛入肺而散氣。半夏乾薑之辛。以散結氣。苦入心而泄熱。黃芩黃連之苦。以瀉痞熱。脾欲緩。急食甘以緩之。人參甘草大棗之甘以緩脾。</p>
<h4>生薑瀉心湯</h4>
<p>生薑　半夏　甘草　人參　黃芩　黃連　乾薑　大棗汗後胃中不和。心下痞硬。干噫食臭。心下有水氣。腹中雷鳴不利。　胃為津液之主。</p>
<p>陽氣之根。汗後外亡津液。胃中空虛。客氣上逆。心下痞硬。中焦未和。不能消穀。故干噫食臭。水氣腹鳴。土弱不能勝水也。</p>
<h4>甘草瀉心湯</h4>
<p>甘草　黃芩　乾薑　半夏　黃連　大棗傷寒中風醫反下之。下利日數十行。穀不化。腹中雷鳴。心下痞硬而滿。乾嘔心煩。復下之。其痞益甚。此非結熱。但胃虛氣逆故硬也。此湯主之。　邪氣在表而反下之。虛其中而邪內陷也。利下穀不化腹鳴者。裡虛胃弱也。痞鞭嘔煩者。胃虛氣逆也。與瀉心湯以攻痞。加炙甘草以補虛。前以汗後胃虛。是外傷陽氣。故加生薑。此以下後胃虛。</p>
<p>是內損陰氣。故加甘草。　痞與結胸。有高下之分。邪結在胸中。故曰陷胸。邪留在心下。</p>
<p>故曰瀉心。瀉心者。必以苦為主。是以黃連為君。黃芩為臣。散痞者必以辛為主。是以半夏乾薑為佐。陰陽不交曰痞。上下不通曰滿。欲通上下。交陰陽者。必和其中。中者脾也。脾不足者。以甘補之。故以人參甘草大棗為使。以補中氣。中氣安和。則水升火降。痞滿自消。</p>
<h4>附子瀉心湯</h4>
<p>大黃　黃連　黃芩　附子心下痞。而復惡寒汗出者。此湯主之。　心下痞者。邪熱也。惡寒汗出者。陽虛也。以三黃也。</p>
<h4>大黃黃連瀉心湯</h4>
<p>大黃　黃連心下痞。按之濡。其脈關上浮者。此湯主之。　濡者。軟也。　結言胸。痞言心下。結言按之曰。大熱受邪。心病生焉。味苦入心。性寒除熱。大黃黃連之苦寒。以瀉心下之虛熱。但以麻沸湯漬服者。取其清薄而瀉虛熱也。</p>
<h4>十棗湯</h4>
<p>芫花　甘遂　大戟太陽中風。下利嘔逆。表解者。乃可攻之。　汗出。發作有時。頭痛。痞滿。引脅下痛。乾嘔短氣。汗出。不惡寒者。此表解。裡未和也。此湯主之。　杜壬問孫兆曰。十棗湯治何病。孫曰。治太陽中風。表解裡未和。杜曰。何以知裡未和。孫曰。頭痛。痞滿。脅痛。乾嘔。汗出。知裡未和也。杜曰。此但言病症。而所以裡未和之故。總未言也。孫曰。某實未決。愿聽開論。杜曰。裡未和者。痰與燥氣壅於中焦。故頭痛乾嘔。短氣汗出。是痰隔也。非十棗湯不能治。但此湯不宜輕用。恐損人於倏忽也。</p>
<h4>赤石脂禹餘糧湯</h4>
<p>赤石脂　禹餘糧下利心下痞硬。服瀉心已。復以它藥下之。利不止。治以理中。利益甚。理中者。理中焦。此利在下焦。與赤石脂禹餘糧湯。復下利。當利小便。</p>
<h4>旋覆代赭湯</h4>
<p>旋覆花　甘草　人參　代赭石　生薑　半夏　大棗汗吐下後。心下痞硬。噫氣不除。此湯主之。　噫氣。俗名噯氣。飽食息也。　硬則氣堅。咸味可以軟之。旋覆花之咸。以軟痞硬。虛則氣浮。重劑可以鎮之。代赭石之重。以鎮虛逆。</p>
<p>生薑半夏。辛以散虛痞。人參大棗。甘以補胃弱。　痞而下利。生薑瀉心湯。痞而不下利。</p>
<p>旋覆代赭湯。</p>
<h4>桂枝人參湯</h4>
<p>桂枝　甘草　白朮　人參　乾薑太陽病。外症未除。而數下之。遂協熱而利不止。心下痞硬。表裡不解。　仲景論太陽病桂枝症。醫反下之。利遂不止。與葛根黃連黃芩湯。此又與桂枝人參湯。二症俱系表不解。而下之成利者。何故用藥有溫涼之異乎。二症雖同是內虛熱入。協熱遂利。但脈症不同，故用藥有別耳。前言脈促者。表未解。喘而汗出者。主葛根黃連黃芩湯。夫脈促為陽盛喘汗為裡熱。用葛根芩連。理所宜也。且前症但曰下之。此曰數下之。前症但曰利下。此曰利不止。</p>
<p>兩論細味之。即有虛實之分矣。</p>
<h4>瓜蒂散</h4>
<p>瓜蒂　赤小豆　香豉病如桂枝症。頭不痛。項不強。寸脈微浮。痞硬。氣上衝咽喉。不得息。此胸有寒也。當以瓜蒂散吐之。　病在上者。因而越之。邪客胸中。至氣衝不得息。非吐之不可也。寒氣在胸。瓜蒂之苦寒。從其。然此為快劑。重亡津液。與梔子豉湯。大不相侔也。故亡血虛家。特為申禁。</p>
<h4>黃連湯</h4>
<p>黃連　甘草　乾薑　桂枝　人參　半夏　大棗胸中有熱。胃中有邪氣。腹痛欲嘔吐。此方主之。　邪氣傳裡。下寒上熱。夫胃中有邪。則陰陽不交。陰不得升。而獨治於下。為下寒而腹痛。陽不得降。而獨治於上。為上熱而嘔吐。上熱者泄之以苦。黃連之職也。下寒者。散之以辛。薑桂半夏之任也。脾欲緩急食甘以緩之。人參甘棗之用。其在斯乎。</p>
<h4>炙甘草湯</h4>
<p>甘草　生薑　人參　生地　桂枝　麥冬　阿膠　麻仁　大棗一名復脈湯。　脈結代。心動悸。此湯主之。　脈結代者。血氣虛衰。不能相續也。心動悸者潤益陰之品。所以濟其枯涸。而脈之結代者。可復於和平矣。故名復脈湯。</p>
<h4>桂枝二麻黃一湯</h4>
<p>桂枝　芍藥　麻黃　生薑　杏仁　甘草　大棗服桂枝。大汗脈洪。與桂枝湯。若形似瘧。日再發。汗出必解。　汗後脈洪。病猶在也。如瘧日再發者。邪氣客於營衛之間。與桂枝二麻黃一湯。以散營衛之邪。桂枝湯料。倍於麻黃湯料者。為其傷衛多而傷營少也。　前桂枝麻黃各半湯。以不得汗故也。今既已大汗出。故桂枝倍麻黃耳。</p>
<h3>陽明篇凡十方</h3>
<h4>大承氣湯</h4>
<p>大黃　厚朴　枳實　芒硝陽明病。潮熱譫語。腹滿而喘。手足　然汗者。大便已硬。此湯主之。　潮熱者。陽明內實也。譫語喘滿者。熱聚於胃也。手足汗出。知大便已硬。非大承氣不能療也。承者順也。胃為水穀之海。邪氣入胃。胃氣壅滯。糟粕秘結。必蕩滌之。正氣乃順。故有承氣之名也。王冰曰。宜下必以苦。枳實苦平。潰堅破結為君。厚朴苦溫。逐氣泄滿為臣。熱淫於內。治以鹹寒。芒硝除熱軟堅為佐。燥淫所勝。以苦下之。大黃蕩滌潤燥為使。　王海藏云。厚朴去痞。</p>
<p>枳實泄滿。芒硝軟堅。大黃泄實。惟痞滿燥實四症全具者。方可用之。若不宜下而誤下之。變症不可勝數。　按承氣有三種。用者大須審酌。必真有大熱大實者。方與大承氣湯。小熱小實者。可與小承氣湯。若但結熱而不滿堅者。僅與調胃承氣湯。此為合法適宜也。若病大而以小承氣攻之。則邪氣不伏。病小而以大承氣攻之。則正氣必傷。仲景曰。凡欲行大承氣。</p>
<p>先與小承氣。轉失氣者。有燥屎也。可與大承氣。若不轉失氣者。慎不可攻。攻之則脹滿而難治。又曰。服承氣得利者。慎勿再服。何其諄諄致謹乎。</p>
<h4>小承氣湯</h4>
<p>大黃　厚朴　枳實小熱微結。此湯主之。　小熱微結者。示亞於大熱堅結也。惟其熱不大甚。故去芒硝。</p>
<p>結不至於堅。是以稍減枳朴也。</p>
<h4>豬苓湯</h4>
<p>豬苓　茯苓　澤瀉　滑石　阿膠脈浮發熱。渴欲飲水。小便不利者。此湯主之。　按浮字上應有不字。詳見後釋。　活人云。脈浮者。五苓散。脈沉者。豬苓湯。則知此湯論中。脈字下脫一不字也。按太陽篇內五苓散。乃豬苓澤瀉茯苓三味中。加桂與白朮也。陽明篇內豬苓湯。乃豬苓澤瀉茯苓三味中。加阿膠滑石也。桂與白朮。味甘辛為陽主外。阿膠滑石。味甘寒為陰主內。南陽之言。可謂不失仲景之旨矣。但竟以沉字易之。不若不浮為妥。</p>
<h4>蜜煎方</h4>
<p>用蜜微火煎凝。如飴狀。捻作挺。內穀道中。欲大便乃去。汗出小便自利。此津液內竭。雖硬不可攻。待自欲大便。以此導之。</p>
<h4>豬膽汁方</h4>
<p>（治症同上）</p>
<p>大豬膽一枚。瀉汁和醋少許。灌穀道中。如一食頃。當大便。</p>
<p>汗出。則津液枯於上。小便利。則津液竭於下。若強攻之。危症立見。如上二法導之。</p>
<p>為虛弱人立權巧法也。然此惟燥在直腸者宜之。若燥屎在上者。非其治也。</p>
<h4>茵陳蒿湯</h4>
<p>茵陳蒿　梔子　大黃陽明病。發熱。但頭汗出。小便不利。渴飲水漿。腹微滿。身發黃。如橘子色。汗出者。熱得以越。但頭汗出而他處無汗。且小便不利。則熱不得越。鬱而發黃。黃如橘子色者。是熱甚於外。津液不行也。非大寒之品。不能徹其鬱熱。茵陳酸苦。梔子苦寒。二物之性。皆能導丙丁之邪。屈曲下行者也。黃為土之本色。奪土鬱而無壅滯者。大黃有專掌焉。夫三物偕行。而水泉涌決。則發黃之症。可使遄已。</p>
<h4>吳茱萸湯</h4>
<p>吳茱萸　人參　生薑　大棗食穀欲吐者。屬陽明也。此湯主之。　脾胃虛寒。則不能納穀。以參棗益其不足。以薑茱煦其中寒。當有速效。若得湯反劇者。屬上焦也。火逆於上。食不得入。或小柴胡湯。或黃芩湯。可選用之。</p>
<h4>麻仁丸</h4>
<p>麻仁　芍藥　枳實　大黃　厚朴　杏仁趺陽脈浮。則胃氣強。澀則小便數。浮澀相搏。大便則難。其脾為約。此丸主之　趺陽者。脾胃之脈。浮為陽。知胃氣強。澀為陰。知脾氣約。約者。約束也。經曰。飲入於胃游溢精氣。上輸於脾。脾氣散精。上歸於肺。通調水道。下輸膀胱。水精四布。五經並行。是脾主為胃行其津液者也。今胃強脾弱。約束津液。不得四布。但輸於膀胱。致令小便數。水液只就州都。大腑愈加燥竭。大便乃秘。與麻仁丸。通幽潤燥。</p>
<h4>梔子柏皮湯</h4>
<p>梔子　甘草　黃柏陽明身熱發黃。此湯主之。　身黃者。本於濕熱。去濕熱之道。莫過於清膀胱。故投黃柏。直入少陰。以達膀胱之本。投梔子導金水而下濟。甘草入中宮。調和升降。剖別清濁。庶幾直搗黃症之巢矣。</p>
<h4>麻黃連軺赤小豆湯</h4>
<p>麻黃　連軺　赤小豆　梓白皮　杏仁　大棗　生薑　甘草瘀熱在裡。身必發黃。　按內經曰。濕土甚而熱。治以苦溫。佐以甘辛。以汗為故。正此方之謂也。又煎用潦水者。亦取其水味薄。不助濕氣也。</p>
<h3>少陽篇凡一方</h3>
<h4>小柴胡湯</h4>
<p>柴胡　黃芩　人參　甘草　生薑　半夏　大棗胸中煩而不嘔。去半夏人參。加栝蔞實。渴者。去半夏。加人參。栝蔞。腹痛。去黃芩。加芍藥。脅下痞硬。去大棗。加牡蠣。心下悸。小便不利。去黃芩。加茯苓。不渴。外有微熱。去人參。加桂枝。溫覆取微汗。咳者。去人參大棗生薑加五味子。乾薑。</p>
<p>主往來寒熱。胸脅若滿。嘿嘿不欲飲食。心煩喜嘔。身有微熱。又曰。有柴胡症者。但見一症不可汗。不可下。但當以小柴胡湯和解而已。夫邪既內傳。則變不可測。須迎而奪之。故以柴胡裡。則氣必上逆。故以半夏散逆氣。生薑輔柴胡以和表。甘棗輔黃芩以和裡。</p>
<p>邪氣自表。未斂雖聚。而氣未逆。邪氣欲漸實也。去人參者。恐其助熱。去半夏者。以無逆氣。加栝蔞實者。專除煩熱耳。　渴為津枯。半夏性燥。故去之。人參甘潤。栝蔞苦堅。可以生津而止渴。</p>
<p>氣不通暢。血不和調。則為腹痛。黃芩能滯氣。故去之。芍藥能和營。故加之。　痞則氣滿。甘能滿中故去大棗。硬則形堅。故加牡蠣。　悸而小便不利停水之候也去黃芩之苦堅助水。</p>
<p>加茯苓之淡滲行水。　不渴者。裡自和。故去人參。微熱者。表未解。故加桂枝。　咳為氣逆。故去參棗之補。肺欲收。酸收逆氣者　。五味之能也。乾薑辛溫快氣。固主散寒。亦司火逆。故仲景不分寒熱。每治咳症。必用此二物也。</p>
<p>俗醫治傷寒。不分陰陽虛實。概用小柴胡湯。去人參。加清熱消導之藥。以為常法。蓋喜其禁捧腹矣。夫小柴胡為少陽經。半表半裡。和解之劑。苟未至此經。謂之引邪入室。既過此經。謂之守株待兔。倘太陽之表熱。及陽明之標熱。豈此湯所能治乎。若夫陰寒假熱。足冷脈沉者。投以此湯。立致危殆矣。嗟乎。人命至重。冥報難逃。後之學人須詳審經症。有是疾。則用是方。萬勿蹈此陋轍也。</p>
<h3>太陰篇凡二方</h3>
<h4>桂枝加芍藥湯</h4>
<p>桂枝　芍藥　甘草　大棗　生薑本太陽病。醫反下之。因爾腹滿時痛者。屬太陰也。此湯主之。　按邪氣入裡。則為腹痛。蓋邪氣傳裡而痛者。其痛不常。法當下之。此因太陽誤下而痛。故以桂枝和衛芍藥和營。中氣受調。滿痛自愈。</p>
<h4>桂枝加大黃湯</h4>
<p>桂枝　芍藥　甘草　大黃　大棗　生薑本太陽病。醫反下之。腹滿而大實痛者。此湯主之。　或問太陰病。用四逆輩。固所宜也。然復用桂枝大黃。何也。大黃至寒。何為用於陰經耶。又何為與桂枝寒熱互用耶。曰。自利而渴者。屬少陰為寒。在下焦。宜行四逆。自利而不渴者。屬太陰為寒。在中焦。宜與理中。若太陽病。誤下之。則表邪未解。乘虛陷入太陰。因而滿痛。且見大實脈症者。當以桂枝除表邪。大黃除裡邪。若脈無力。而大便自利者。大黃又在禁例矣。　按太陰腹滿痛。其症有三。如腹滿咽乾者。此傳經之陽邪。在法當下。如吐食自利而復滿痛。此直入本經之陰邪。在法當溫。如太陽誤下。因而滿痛。此乘虛內陷之邪。法當以桂枝加芍藥湯和之。若手不可按。脈洪有力。此為大實。當以桂枝加大黃湯和之。設使直入之陰症。而脈來沉細者。非二湯所宜也。大抵陰邪滿痛。宜與理中。熱邪滿痛。宜與大柴胡。惟誤下滿痛。</p>
<p>宜用二湯。不可不辨也。</p>
<h3>少陰篇凡十四方</h3>
<h4>麻黃附子細辛湯</h4>
<p>麻黃　細辛　附子少陰病。始得之。反發熱。脈沉者。此湯主之。　按太陽病。發熱頭痛。其脈當浮。今反沉。少陰脈而病似太陽。所以皆謂之反。而治之不同也。均是脈沉。發熱。以其有頭痛。故為太陽病。陽薑生附。亦能發汗。假使裡不虛寒。則脈　必浮。而正屬太陽麻黃症矣。均是脈沉。發熱。</p>
<p>以其無頭疼。故名少陰病。陰病當不熱。今反發熱。則寒邪在表。未傳於裡。但以皮腠。鬱閉為熱。而在裡無熱。故用麻黃細辛。以發表間之熱。附子以溫少陰之經。假使寒邪入裡。</p>
<p>則外必無熱。當見吐利厥逆等症。而正屬少陰四逆症矣。由此觀之。表邪浮淺。發熱之反為輕。正氣衰微。脈沉之反為重。此四逆湯。不為不重於麻黃附子細辛湯也。又可見熟附配麻黃。發中有補。生附配乾薑。補中有發。而仲景之旨微矣。</p>
<h4>麻黃附子甘草湯</h4>
<p>麻黃　附子　甘草少陰病。二三日。以此湯微發汗。以無表症。故微發汗也。　按少陰症脈多沉。若沉緊。不可汗。沉細數。為在裡。不可汗。此症必脈沉而喘。是表有寒。而裡無邪。故以小辛之藥。</p>
<p>微微取汗。按仲景發汗湯劑。各分重輕如麻黃桂枝青龍越婢等湯。各有差等。至少陰發汗二湯。雖同用麻黃附子。亦有輕重之別。故以加細辛為重。加甘草為輕蓋辛散甘緩之義也第一症以少陰本無熱。今發熱。故云反也。發熱為表邪。當汗。又兼脈沉屬陰。當溫。故以附子溫經。麻黃發表。而熱從汗解。故加細辛是汗劑之重者。第二症。既無裡寒可溫。又無裡熱可下。其所以用麻黃附子之義。則是脈亦沉。方可名曰少陰病。身亦發熱。方行發汗藥。又得之二三日。病尚淺比前症稍輕。故不重言脈症。但日微發汗。所以去細辛。加甘草。是汗劑之輕者。</p>
<h4>附子湯</h4>
<p>附子　白朮　茯苓　芍藥　人參少陰病。得之一二日。口中和。背惡寒者。當灸。此湯主之。　背者。胸中之府。諸陽受氣在表而惡寒者。則一身盡寒矣。但背惡寒者。陰盛可知已。或乘陰氣不足。陽陷陰中。表陽新虛。而背微惡寒者。經所謂無大熱。燥渴。心煩。背微惡寒。白虎加人參湯主之。一為陰寒氣盛。一為陽氣內陷。蓋陰寒不耗津液。故於少陰病則曰。口中和也。及陽氣內陷。則熱耗津液。故於太陽病則曰口燥舌乾而渴也。故陰陽不同。當以口中潤燥為辨。按辛以散之。附子之辛以散寒。甘以緩之。茯苓人參白朮之甘以補陽。酸以收之。芍藥之酸以扶陰。大抵偏陰偏陽。則為病。火欲實水當平之。不欲偏勝也。</p>
<h4>桃花湯</h4>
<p>赤石脂　乾薑　粳米主少陰病。二三日至四五日。腹痛。小便不利。下利膿血。　二三日至四五日。寒邪入裡深也。腹痛者。裡寒也。小便不利者。水穀不分也。下利膿血者。腸胃虛弱。下焦不固也。澀可去脫。石脂之澀。以固腸胃。辛以散之。乾薑之辛。以散裡寒。甘以緩之。粳米之甘。以養正氣。</p>
<h4>豬膚湯</h4>
<p>豬膚（一斤即鮮豬皮也吳綬以為　豬時刮下黑膚非革外濃皮之義矣）</p>
<p>少陰病。下利咽痛。胸滿心煩者。此湯主之。　豬。水畜也。其氣先入腎。少陰客熱。</p>
<p>是以豬膚解之。加白蜜。以潤燥除煩。加白粉。以益氣斷利。</p>
<h4>甘草湯</h4>
<p>甘草主少陰病。二三日咽痛。　陰邪傳於少陰為咽痛者。服甘草湯。如其不瘥。與桔梗湯。</p>
<p>以和少陰之氣。</p>
<h4>桔梗湯</h4>
<p>（主治同上）</p>
<p>桔梗　甘草桔梗味辛溫以散寒。甘草味甘平以除熱。甘梗相合。以調寒熱。</p>
<h4>苦酒湯</h4>
<p>半夏（十四枚洗）　雞子（一枚去黃內上苦酒）</p>
<p>主少陰病。咽中傷。生瘡。不能語言。聲不出者。　六經皆無咽痛。惟少陰篇中。有咽傷咽痛之症。何也。少陰之脈。上貫肝鬲。入肺循喉嚨。故有此症。古方有醋煮雞子。主喉痛失音。</p>
<p>取其酸斂。固所宜也。獨半夏辛燥。何為用之。大抵少陰。多寒症。取其辛能發散。一散一斂。遂有理咽之功耶。</p>
<h4>半夏散及湯</h4>
<p>半夏　桂枝　甘草主少陰病。咽中痛。　凡曰少陰病者。必兼脈微細。乃知咽痛。多是伏寒於少陰之經。</p>
<p>法當溫散。此半夏桂枝之所由用也。和以甘草。蓋緩其熱耳。若肺家實火咽痛。當與山梔葶藶甘桔。或刺大指端內側。去爪甲角如韭葉。以三棱針刺之。血出即愈。</p>
<h4>白通湯</h4>
<p>蔥白　乾薑　附子主少陰下利脈微者。內經曰。腎苦燥急食辛以潤之。蔥白之辛。以通陽氣。薑附之辛。</p>
<p>以散陰寒。</p>
<p>蔥白　乾薑　附子主少陰下利脈微者。內經曰。腎苦燥急食辛以潤之。蔥白之辛。以通陽氣。薑附之辛。</p>
<p>以散陰寒。</p>
<p>蔥白　乾薑　附子主少陰下利脈微者。內經曰。腎苦燥急食辛以潤之。蔥白之辛。以通陽氣。薑附之辛。</p>
<p>以散陰寒。</p>
<p>蔥白　乾薑　附子主少陰下利脈微者。內經曰。腎苦燥急食辛以潤之。蔥白之辛。以通陽氣。薑附之辛。</p>
<p>以散陰寒。</p>
<p>蔥白　乾薑　附子主少陰下利脈微者。內經曰。腎苦燥急食辛以潤之。蔥白之辛。以通陽氣。薑附之辛。</p>
<p>以散陰寒。</p>
<p>蔥白　乾薑　附子主少陰下利脈微者。內經曰。腎苦燥急食辛以潤之。蔥白之辛。以通陽氣。薑附之辛。</p>
<p>以散陰寒。</p>
<h3>厥陰篇凡六方</h3>
<h4>當歸四逆湯</h4>
<p>當歸　桂枝　芍藥　細辛　甘草　通草　大棗主手足厥寒。脈細欲絕。　手足厥寒者。陽氣外虛不能溫於四末。脈細欲絕者。陰血內弱不能充於經隊。桂枝細辛。調衛外之陽氣。當歸芍藥。和營內之陰精。通草宣利。甘棗緩中。</p>
<p>則陰陽均受劑矣。厥寒有不愈者乎</p>
<h4>當歸四逆加吳茱萸生薑湯</h4>
<p>當歸　甘草　通草　芍藥　桂枝　細辛　生薑　大棗　吳茱萸主內有久寒。厥寒。脈細欲絕者。　症雖同上。但久寒之人。陽氣益弱。非生薑茱萸。</p>
<p>不能充溫於四末。然不用四逆湯。何也為手足厥寒邪猶淺也。按仲景凡言四逆者。乃四肢逆冷之省文也謂也。其邪為淺。仲景下字不苟。須合而玩之。則輕重淺深。一覽了然矣。或曰四肢厥逆。或但曰四逆。皆輕症也。</p>
<h4>麻黃升麻湯</h4>
<p>麻黃　升麻　當歸　知母　黃芩　葳蕤　石膏　白朮　乾薑　芍藥　天門冬　桂枝　茯苓甘草傷寒六七日。大下後。寸脈沉而遲。手足厥逆。下部脈不至。喉咽不利。吐膿血。泄利不止者。為難治。麻黃升麻湯主之。　傷寒六七日。邪傳厥陰之時也。大下後。下焦氣虛。陽氣內陷。寸脈遲而手足厥。下部脈不至。厥陰之脈貫膈循喉嚨。故咽喉不利而吐膿血也。此肝家雷火燥金。若泄利不止。又絕肺金生化之源。故為難治。　熱氣甚者。以汗發之。故用麻黃升麻。正氣虛者。以辛潤之。故用當歸薑桂。肺熱者。以苦泄之。故入知母黃芩。津竭者。</p>
<p>以甘潤之。故入茯苓白朮。以芍藥甘草制肝。以門冬葳蕤潤肺。更以石膏清胃。勿使東方之邪。犯中氣也。</p>
<h4>乾薑黃芩黃連人參湯</h4>
<p>乾薑　黃芩　黃連　人參傷寒本自寒下。醫復吐下之。寒格更逆吐下。若食入口即吐。此湯主之。上焦寒則吐下焦寒為向導之兵。此從治也。</p>
<h4>白頭翁湯</h4>
<p>白頭翁　黃連　黃柏　秦皮熱利。下重者。下利欲飲水者。以有熱故也。均以此湯主之。　自利不渴。為藏寒。與四逆以溫中。下利飲水。為有熱。與此湯以消裡。　按少陰自利而渴。乃下焦虛寒。而用四逆者。恐不可以渴不渴分寒熱也。正當以小便黃白別之耳。　內經曰。腎欲堅急食苦以堅之。利則下焦虛。是以純苦之劑堅之。</p>
<h3>霍亂篇凡三方</h3>
<h4>四逆加人參湯</h4>
<p>人參　乾薑　甘草　附子主惡寒。脈微而復利。利止亡血也。此湯主之。　惡寒脈微而利。是陽虛陰勝也。利止而津</p>
<h4>理中湯</h4>
<p>人參　甘草　白朮　乾薑主霍亂。寒多。不用水者。　按仲景法。發熱。頭痛。身疼。惡寒。吐利者。此名霍亂。熱多飲水者。五苓散主之。寒多不飲水者。此方主之。凡吐利。以無寒熱。不頭痛為陰。以有寒熱頭痛為陽。更以飲水不飲水辨之。百不失也。中州陸沉。吐利交作。其象為亂。故名霍亂。湯名理中。理者治也。治其亂而敉寧之也。白朮甘草。自是脾家要劑。乾薑祛太陰之寒。無他藥可代者。寒則必本於虛。故以人參益氣。寒甚者。加附子。其功更大。若審症明確而投之。神效捷於桴鼓。</p>
<h4>通脈四逆加豬膽汁湯</h4>
<p>照原方加豬膽汁湯合服。</p>
<p>主吐已下斷。汗出而厥。四肢拘急不解。　按仲景法。既吐且利。小便復利。大汗出。</p>
<p>下脈微欲絕者。此湯主之。夫吐下雖止。津液已亡。況加汗出。則津液益枯。中寒轉甚。故筋脈攣急。非四逆溫經。何以救乎。加豬膽者。用為引經之助。恐人參亦必不可缺也。</p>
<h3>陰陽易差後勞復篇凡四方</h3>
<h4>燒散</h4>
<p>取婦人中　近隱處。剪燒灰。以水和服方寸匕。日三服。小便即利。陰頭微腫則愈。婦人病。取男子　襠燒灰。</p>
<p>主陰陽易病。身重少氣。少腹裡急。引陰中拘攣。熱上衝。頭重。眼花。膝脛拘急者。</p>
<p>按陰陽惟襠近隱。則氣之所熏襲者。仍以治交媾之恙。而經所謂竹破須將竹補宜之意。</p>
<h4>枳實梔子豉湯</h4>
<p>枳實　梔子　豉大病瘥後。勞復。此湯主之。有宿食者。加大黃少許。　按大病之後。無有不虛。況因勞而復。則虛而且傷矣。古人以一味人參助正。多煎頓服而愈。予屢試而屢驗者。此方寒涼峻伐。惟稟壯而脈有力者宜之。若脈虛神倦者而誤投之。能無犯虛虛之戒耶。</p>
<h4>牡蠣澤瀉散</h4>
<p>牡蠣　澤瀉　蜀漆　栝蔞根　葶藶子　商陸根　海藻主大病瘥後。腰以下有水氣者。　大病瘥後。脾胃氣虛。不能制水。歸於隊道。故下焦發腫。法當潔淨府。牡蠣澤瀉海藻之咸。以泄水氣。蜀漆葶藶栝蔞商陸之酸辛。以導腫濕。</p>
<h4>竹葉石膏湯</h4>
<p>竹葉　石膏　半夏　人參　甘草　粳米　麥門冬主傷寒解後。虛羸少氣。氣逆欲吐者。宜與此湯。　竹葉石膏甘草之甘辛。以發散余熱。麥冬人參粳米之甘平。以培益真元半夏辛平。善散氣逆而止吐。</p>
<h3>雜方凡五十六方</h3>
<h4>百合知母湯</h4>
<p>百合　知母主百合病。汗後者。</p>
<h4>滑石代赭湯</h4>
<p>百合　滑石　代赭石主百合病。下後者。</p>
<h4>百合雞子湯</h4>
<p>百合　雞子黃主百合病。吐後者。</p>
<h4>百合地黃湯</h4>
<p>百合　生地黃汁主百合病。不經汗吐下者。</p>
<h4>栝蔞牡蠣散</h4>
<p>栝蔞根　牡蠣主百合病。變發渴者。</p>
<h4>百合滑石散</h4>
<p>百合　滑石主百合病。變發熱者。</p>
<p>按以上百合病。凡六方。俱不外乎百合。夫百合之性。以寧心潤肺。補中祛邪。為功者也。且觀其佐使諸藥。皆屬清涼之品。乃知百合病者。本於君主不寧。因而熏灼相傳。百合為之調劑於其間。則炎者息而燥者潤。君臣道合。而百脈交和。命曰百合。不亦名實相副者乎。</p>
<h4>雄黃熏法</h4>
<p>雄黃為末。筒瓦二枚合之。燒向肛熏之。另以苦參煎湯洗之。</p>
<p>主惑病。蟲蝕肛者。</p>
<h4>赤豆當歸散</h4>
<p>赤豆　當歸主三四日目赤。七八日　黑。若能食者。膿已成也。</p>
<h4>升麻鱉甲湯</h4>
<p>（如治陰毒去雄黃蜀椒）</p>
<p>升麻　當歸　蜀椒　甘草　雄黃　鱉甲主陽毒。面如錦紋。咽喉痛。吐膿血。觀其陰陽二毒。並用一方。已可異矣。及陽毒宜行涼之異氣。非傷寒余疾。昭然可見。乃後賢不察。卻以大寒治陽毒。以大熱治陰毒。於仲景之旨。不啻徑庭矣。又考此六味。莫非解毒之品。即當歸一味。亦導引諸解毒藥。敷布於遍體者也。</p>
<h4>九味羌活湯</h4>
<p>羌活　防風　蒼朮　白芷　川芎　生地　黃芩　細辛　甘草一名沖和湯。主天令溫熱之候。用此方以發散風寒。　按陶節庵。用此方於春夏秋三時。發散傷寒。以代桂枝麻黃湯用。雖然。亦不可太泥也。如天令尚寒。麻黃桂枝。仍不可缺如非盛夏。黃芩生地。亦勿輕投。倘挾暑邪。必入香薷扁豆。倘遇嘔吐。必入半夏藿香。氣弱脈虛。可進人參。足冷脈沉。因腎虛房勞復感寒邪。則當溫經散寒。此方即在禁例矣。雖當熱令。而其人無血虛煩熱者。芩地亦不敢肆用也。</p>
<h4>芎蘇散</h4>
<p>紫蘇　干葛　柴胡　蒼朮　川芎　枳殼　陳皮　桔梗　半夏　茯苓　甘草主春夏秋三時。感寒頭痛。發熱惡寒。脈浮緊無汗。　按紫蘇解太陽之邪。干葛解陽明之邪力。桔梗甘草。有和調之功。天地之道。陰陽和而云雨作。人身之道。陰陽和而津液通。故經曰。陽之汗。以天地之雨名之。可謂知類也夫。</p>
<h4>藿香正氣散</h4>
<p>紫蘇　藿香　大腹皮　白芷　茯苓　蒼朮　厚朴　陳皮　桔梗　半夏　甘草主傷寒頭痛寒熱。霍亂吐瀉。山嵐瘴氣或感濕氣。　按風濕為外感。紫蘇白芷。辛以散之。吐氣既散。則正氣得申。故名正氣散。</p>
<h4>不換金正氣散</h4>
<p>半夏　藿香　蒼朮　厚朴　陳皮　甘草主時行瘟疫。及山嵐瘴氣。霍亂吐瀉。及出遠方。不伏水土等症。　按平胃散。本表裡雙解之劑。又加之以藿香溫胃氣。半夏除痰濕。中州受調和之益。則外來無侵犯之邪。遠游者。</p>
<p>誠當寶重。故名不換金。</p>
<h4>大羌活湯</h4>
<p>防風　羌活　獨活　防己　黃芩　黃連　蒼朮　白朮　甘草　細辛　知母　川芎　生地治兩感傷寒。臟腑俱病。　按內經及仲景。皆以兩感為必死之症。為表裡不可並攻。陰陽難同。以羌獨防風蒼朮細辛川芎理其表邪。芩連知地白朮甘草治其裡邪。以此治之屢有生者。</p>
<h4>雄黃丸</h4>
<p>雄黃　當歸　蘆薈　麝香　檳榔主狐惑。微煩。默默欲臥。毒上攻咽。蟲蝕聲嗄。兼下蝕濕慝。或便膿血。</p>
<h4>雄黃銳散</h4>
<p>雄黃　苦參　青葙子　黃連　桃仁主下部　瘡。</p>
<h4>升麻葛根湯</h4>
<p>升麻　葛根　白芍藥　甘草去　疹欲出未出。以此湯升發之。已出者。不可用也。　按　者。陽明經壅積之熱毒也。故以升麻葛根。乃畏其酸斂輒以意削去之。使此湯大減功力。嗟乎。豈古人心智不如今人至此乎。</p>
<h4>三因加味羌活散</h4>
<p>羌活　獨活　柴胡　前胡　枳殼　桔梗　茯苓　川芎　升麻　白芍藥　甘草　生薑主　疹初出身痛。頭痛。憎寒。壯熱。胸中不利。　按　為陽明之症。升麻葛根湯。乃確劑也。茲以身痛。故加二活。以寒熱故加二胡。以胸中不利。故加枳桔。後來復立加減諸法。蓋確乎其不可易矣。</p>
<h4>犀角玄參湯</h4>
<p>犀角屑　黑玄參　升麻　射干　黃芩　甘草主發　毒盛。心煩狂言。或咽痛者。　心煩狂言。南方之火亢炎也。咽喉作痛者。北方之水衰微也。水虛不能制火。火旺必來乘金。金燥乃為咽痛。理勢之固然者也。以犀角瀉南。玄參補北。射干黃芩救西方之燥金。甘草和中。化毒。狂煩等症。靡不悉愈矣。</p>
<h4>大青四物湯</h4>
<p>大青　阿膠　甘草　淡豆豉主解毒化　。　雷藏澤中。雷起而火隨之。龍潛海底。龍起而火隨之。龍雷之火燔灼。</p>
<p>熏逼余邪。震木霽威。坎水歸元。水火有既濟之功。肌體無炎蒸之苦矣。</p>
<h4>當歸丸</h4>
<p>當歸　甘草　黃連　大黃主發　內實。大便不通者。</p>
<h4>黃連解毒湯</h4>
<p>黃連　黃芩　黃柏　梔子主發　熱甚。心煩不得眠。　中州熱不得越。則肌肉斑爛。脾主肌肉故也。是方以黃連瀉丙丁。以黃芩瀉庚辛。以黃柏瀉壬癸。以梔子瀉甲乙。而戊己之藥。何以反不及乎。蓋土位居中。而寄旺於四時之末。四職咸致清寧中宮默享和平。不煩更為調劑耳。</p>
<h4>人參三白湯</h4>
<p>人參　白朮　白茯苓　白芍藥　生薑　大棗治陰症發　。亦出胸背手足之間。但稀少而淡紅。或為涼藥太過。　大凡元氣素虛。或因房室損腎。或因內傷生冷。或因寒藥太過。遂成陰症。寒伏於下。逼其無根失守之火。上犯金宮育元陰。皆養正之道也。然寒淫所勝。治以辛熱。非附子之健悍。乾薑之理中。何以扶陽返本。而回元氣於無何有之鄉乎。</p>
<h4>黃建中湯</h4>
<p>黃　芍藥　桂枝　膠飴　甘草主汗多亡陽。尺脈虛弱者。　按汗者心之液也。若不可汗而誤汗。與可汗而過汗。則丙丁之散氣。桂枝固衛而實腠。膠飴補中以壯肌。譬諸牆垣密固。中宮無遺失之虞。則向之頹廢者。今且復為建立矣。</p>
<h4>犀角地黃湯</h4>
<p>芍藥　生地　丹皮　犀角屑主傷寒應汗失汗。內有瘀血。鼻衄。吐血。面黃大便黑。此方消化瘀血。　按去瘀之劑。抵當湯丸最緊。桃仁承氣湯次之。犀角地黃湯又次之。緊者。主下焦。次者。主中焦。緩者。</p>
<p>主上焦。此方行中有補。血家中和之品也。</p>
<h4>丁香柿蒂散</h4>
<p>丁香　柿蒂　茴香　乾薑　良薑　陳皮主胸中虛寒。呃逆不止者　按火炎者。固氣逆上衝。而寒凝者。氣滯不行。亦逆上而為逆也。取二香。開上焦之結。取二薑。溫中土之經。陳皮有徹上徹下之功能。柿蒂有引經從治之力用。俾寒穀陽回。而逆轉為順矣。</p>
<h4>乳香硫黃散</h4>
<p>乳香　硫黃　艾葉主陰寒呃逆。用此劫之。　按硫黃為益火之精。陰寒所喜。乳香為宣氣之主。壅滯所宜。又藉艾葉之芬芳。則經絡隊道。無微不達。且鼻通乎天。嗅之則干金得職。而陰翳之邪。陡避三舍矣。</p>
<h4>茵陳四逆湯</h4>
<p>附子　茵陳　乾薑主陰黃厥冷。脈沉遲。腰以下自汗。</p>
<h4>茵陳理中湯</h4>
<p>茵陳　白朮　乾薑　人參主陰黃腹痛。自利。或因內傷寒發黃。　按以上二方。總為陰黃而設。但四逆主少陰之寒。故理腰下自汗。理中主太陰之寒。故除自利腹疼。毫厘千裡。非具眼者莫能辨也。</p>
<h4>霹靂散</h4>
<p>附子（一枚炮）　細茶（三錢）</p>
<p>主陰盛隔陽。身熱面赤。煩躁不能飲水。脈沉細或伏絕。　少火生氣。安於下者也。壯火食氣。</p>
<p>一線之氣。汲汲乎殆哉。桂薑之力。猶為淺鮮。惟附子一物獨行。功力最大。誠堪起死。名之以霹靂者。為雷霆之用。在乎春夏。一喻其陽和之敷布。一喻其力用之弘大也。　按陰盛隔陽斃者。比比皆是也。</p>
<h4>參胡三白湯</h4>
<p>人參　柴胡　白茯苓　白朮　白芍藥主過經不解。人弱脈虛。　按病久而余邪未解。蓋正氣虛而邪不能伏也。以人參三白。</p>
<p>補其正氣。以柴胡一味。徹其余邪。此養正則邪自除。遵乎末法之治者也。</p>
<h4>連翹敗毒散</h4>
<p>連翹　梔子　羌活　玄參　薄荷　防風　柴胡　桔梗　升麻　川芎　當歸　芍藥　黃芩牛蒡子主發頤。耳後。或耳下腫硬。宜速消之。緩則成膿矣。</p>
<h4>消毒圍藥</h4>
<p>黃連　黃芩　黃柏　大黃　梔子　雄黃　白芨　白蘞　芙蓉葉　大薊根　赤豆　南星歸尾　朴硝　五倍子　半夏上為細末。用五葉藤腦。見腫消草。野苧麻根三件搗汁。入苦酒少許。調勻敷之。留頭出毒。</p>
<h4>托裡消毒散</h4>
<p>黃　白芷　連翹　羌活　川芎　歸尾　赤芍藥　防風　桔梗　柴胡　皂角刺　金銀花甘草節主發頤。有膿不消。已破未破。俱可服。　按足少陽之脈。從耳後。入耳中。故發頤一症。其發頤。當其未成也。以涼藥消之。以風藥散之。連翹敗毒散是也。及其已成也。以補劑托之。以升劑提之。托裡消毒散是也。將潰未潰之際。既恐其蔓衍。又恐其難潰。故以解毒消腫之劑防閑之。消毒圍藥是也。先後緩急之序。大須審詳。不得草草。</p>
<h4>鼠糞湯</h4>
<p>韭白根（一握）　兩頭尖（十四粒）</p>
<p>主陰陽易。及女勞復。調燒　散尤妙。</p>
<h4>栝蔞竹皮湯</h4>
<p>栝蔞根　青竹皮主陰陽易。熱氣上衝。胸中煩悶。手足攣蜷。及搐搦。　按陰陽易。及女勞復。所傷俱在腎。韭之功。竹青具清心之德。熱既清而風亦化。古人用藥。豈漫然者哉。</p>
<h4>普濟消毒飲</h4>
<p>柴胡　黃連　黃芩　玄參　甘草　桔梗　連翹　牛蒡子　升麻　白芷　僵蠶　馬屁勃板藍根（如無以大青或青黛代之）</p>
<p>主時行大頭瘟疫。　按大頭瘟疫。宜審察運氣。分別六經。而為施治。普濟消毒飲。不過為主方耳。往往此毒。先腫於鼻。次腫於耳。從耳至頭。上絡腦後。結塊則止。不散必成膿也。此方以涼劑降濁。以風劑升清。又佐以解毒諸品。誠為良法。</p>
<h4>葳蕤湯</h4>
<p>葳蕤　石膏　葛根　杏仁　川芎　麻黃　羌活　白薇　青木香主風溫病。在少陰厥陰者。　按先傷於風。復傷於熱。風熱相搏。乃為風溫故以麻黃。</p>
<p>葛根。羌活。川芎。祛在表之風。葳蕤。石膏。杏仁。白薇。祛在表之熱。大抵風症。多本於厥陰風木之經。故以青木香。暢東方之氣。則風熱易解耳。</p>
<h4>知母葛根湯</h4>
<p>干葛　知母　石膏　羌活　人參　防風　杏仁　川芎　葳蕤　甘草　升麻　南星　木香麻仁主發汗後。身猶發熱。　按邪從汗解。則灼熱當除。今既得汗。而熱猶如故。是藥淺而病深也。仍以羌活。葛根。升麻。防風。理其表。石膏。知母。川芎。杏仁解其肌。風熱日深。</p>
<p>風痰必聚。故以南星。木香。滌其痰。已經發汗。中氣必虛。故以人參。葳蕤。養其正。和之以甘草。潤之以麻仁。而風熱相搏之症。自當雙解矣。</p>
<h4>紫雪</h4>
<p>升麻　黃金　凝水石　石膏　犀角　羚羊角　玄參　沉香　木香　丁香　甘草主發班。　又主暑中三陽。大熱煩躁發渴。一切熱症。　按紫雪。乃陽明經藥也。以升麻清陽香性溫。一取其入熱分。為向導之兵。使無拒格之患。一取其宣氣分。為下降之用。使無炎逆之愆。黃金重墜。可以鎮定南方。甘草和平。可以調和中氣。水強則熱自化。氣降則火自清。陽明蘊蓄之邪。肌表灼燔之苦。不期其愈而自愈也。</p>
<h4>蔥熨法</h4>
<p>蔥白（一握如臂大）</p>
<p>主陰症。厥逆沉昏。　以索纏縛。切去根及青。約濃二寸。先於火上烘熱。著病患臍上。更以熨斗。貯火熨之。令熱氣透入。別作三四餅。壞則易之。良久。病患當漸蘇。汗出手足溫。續以四逆湯溫之。若熨而手足不溫。不可治也。</p>
<h4>灼艾法</h4>
<p>氣海穴（在臍下一寸五分）　丹田穴（在臍下二寸）　關元穴（在臍下三寸）</p>
<p>主陰症。面如刀刮。四逆。爪甲青黑。身體如冰。上以艾炷灸五十壯。甚者灸二百壯。</p>
<p>以手足漸溫。人事稍省。為可治也。</p>
<h4>結胸灸法</h4>
<p>黃連　巴豆上二味和勻捏作餅子。裝臍中。以艾炷如龍眼核大。灸之。輕者一炷。重者不過二三炷。熱氣透入。腹中作聲。泄下惡物。立愈。</p>
<h4>蒸汗法</h4>
<p>主服藥不得汗。故天寒汗不得出。宜行此法。　以薪火燒地良久。令極熱。掃去灰以沸湯洒移時汗出。俟周身至腳心熱。乃用溫粉撲之。　南史載范云病傷寒。恐不得與武帝九錫之慶。召徐文伯診視。以實告之曰。可得便愈乎。文伯曰。便愈甚易。但恐二年後。不復起耳。</p>
<p>云曰。朝聞道。夕死猶可。況二年乎。文伯乃以是法取汗。翼日果愈。後二年果卒。取汗先期。尚促壽限。況罔顧表裡。不待時日。便欲速效乎。</p>
<h4>水薄法</h4>
<p>疊布數重。新汲水漬之。稍捩去水。搭於患人胸上。須臾布溫。又以別漬冷布易之。頻換新水。熱勢稍減續以寒劑清之。</p>
<p>主陽症大熱。或狂煩昏亂。</p>
<h4>搐鼻法</h4>
<p>取瓜蒂為末。口中噙水。搐一字入鼻孔。出黃水即愈。更以薑渣茵陳擦之。黃色即減。</p>
<p>主濕家。發黃頭痛等症。</p>
<p>劫嘔吐法藥中加自然薑汁。及炒焦粳米少許。隨用竹管重納內關。其嘔即止。惟胃實者。忌粳米。</p>
<h4>灸期門法</h4>
<p>期門穴。婦人屈乳頭。向下盡處。骨間動脈是也。男子乳小者。以手一指為率。陷中動脈是穴。男左女右。灸三五壯。</p>
<p>主陰寒呃逆。</p>
<h4>吐痰法</h4>
<p>先用皂莢。麝香。細辛。生明礬。為細末。調薑汁灌。然後以鵝毛醮桐油皂莢末。入喉中探吐</p>
<h4>薑渣熨法</h4>
<p>一切寒結。水結。食結。痞結。血結。痰結。支結。俱用生薑四五斤。搗爛如泥。略捩去汁。取渣炒熱。綃帛松包。操按心腹。豁然自愈。如冷別以熱者易之。以愈為度。惟熱結者。用冷薑渣揉按。切忌炒熱。</p>
<p>主一切停滯。結胸等症。</p>
<h4>蒸臍法</h4>
<p>麝香　半夏　皂莢等分為末。填入臍中。更用生薑切片。如二文錢濃。鋪於臍上。以大艾炷。於薑片上灸二七壯。熱氣達於內。逼寒出於外。候手足溫暖。即止。然後投薑附等藥。</p>
<p>主陰症。吐利厥逆昏沉。心下脹硬如冰。湯藥不受。唇面指甲皆青黑。脈沉欲絕。</p>
<h4>辟瘟疫方</h4>
<p>雄黃　赤小豆　丹參　鬼箭羽上為細末。煉蜜為丸。如梧桐子大。每日空心。以溫水下五丸。雖與病患同床。亦不相染。　治一切時行疫症不相傳染。</p>
<h4>治時疫不染諸方</h4>
<p>以水飛雄黃。男左女右。吹鼻孔中。　或透明雄黃一塊。重五錢。絹包系頭頂心妙。</p>
<p>取貫仲浸水飲之。　以赤小豆。同糯米。浸水缸中。每日取水用之。</p>
<h3>問因察症正名總論</h3>
<p>夫傷寒者。病勢險重。症緒繁多。若非問因。察症。正名。未有不誤者也。　凡至病家。未得之飽食。或為素虛。或為素實。或素有別症。或數無別症。此問因之法也。　六經形症。</p>
<p>各當審詳。太陽病。發熱。惡寒。頭項俱痛。腰脊俱強。惡心拘急。體痛骨疼。則是太陽表症。為標病也。若內熱煩渴。小便不利。則是太陽裡症。為本病也。其脈浮緊有力為傷寒。浮緩無力。為傷風。脈安靜。為不傳。脈躁盛。為欲傳也。　陽明病。身熱。微惡寒頭額目痛。鼻干不眠。則是陽明表症。為標病也。若煩渴欲飲。汗出惡熱。則是陽明裡症。為本病也。若潮熱自汗。譫渴硬滿。斑黃狂秘。則是正陽明胃實。為腑病也。其脈微洪為標。洪數為本。沉數為實也。　少陽病。頭角痛而目眩。胸脅痛而耳聾。寒熱嘔而口苦。則是少陽經病也。其經為半表半裡。其脈為且弦且數。　太陽病。壯熱。咽乾。或自利不渴。則是陽經熱邪。傳入太陰。為標病也。若燥渴發黃。尿赤便秘。則是太陰本病也。若初病起。無頭疼渴熱。便寒冷滿痛。吐利嘔呃。則是太陰直中本病也。若初病不熱。但脹滿噯痛。則是生冷內傷也。</p>
<p>其脈沉緩為標。沉實為本。直中與內傷寒皆沉細也少陰病。舌乾口燥。譫渴便秘。則是陽經熱邪。傳入少陰為標病也若身熱面赤。足冷脈沉。則是腎經夾陰傷寒。標本俱病也。陰躁欲坐泥水井中。雖欲飲而不受。面赤足冷脈沈。則是陰極發躁。為本病也。若面赤足冷。煩躁欲飲。揭去衣被。脈數大無力。則是虛陽伏陰。標與本病也。若初病起。無頭疼熱渴。便厥冷蜷臥。臍腹俱痛。吐瀉戰栗。則是腎經直中本病也。更兼小腹絞痛。或吐利。甚則舌卷囊縮。則是夾陰中寒。亦本病也。其脈沉實有力。為陽邪標病。沉細無力。為直中寒症。數大無力。為虛陽伏陰。脈沉。為夾陰傷寒也。　厥陰病。寒熱如瘧。則是陽邪傳入厥陰。為標病也。若舌卷囊縮。煩滿秘渴。手足乍溫乍冷。則是陽邪傳入厥陰。為本病也。若初病起。無頭疼熱渴。便怕寒厥冷。腹陰俱痛。吐沫泄利。舌卷囊縮。則是厥陰直中本病也。其脈浮緩為標。沉實為本。細軟為直中也。　頭疼拘急。身熱惡寒。腹痛嘔吐。氣口與人迎俱盛。則為夾食傷寒。身熱惡寒。頭疼微汗。神倦懶言。則為勞力傷寒。身熱惡寒。隱隱頭痛。喘咳煩悶。左脈緊盛。右脈洪滑。則為夾痰傷寒。身熱惡寒。頭脅俱痛。氣鬱不舒。則為夾氣傷寒。胸脅腹痛。痛定不移。頭痛煩渴。身熱惡寒。則為血鬱傷寒。更有傷暑。傷濕。溫病。</p>
<p>熱病。冬溫。風溫。溫毒。溫瘧。風濕。濕溫。疫病。痙病。咸須辨之確而正其名。因其名而施其治。然後萬舉萬當耳。在表者汗之。散之。在裡者利之。下之。在半表半裡者和解之。在上者因而越之。下陷者升而舉之。夾陰者補之。直中者溫之。其於表裡。陰陽虛實。寒熱標本。如別黑白。絕無眩惑。症有變遷。治無膠執。輕重緩急。用之不忒。可謂知醫而不愧操司命之權矣。</p>
