<header><h1>口齒類要</h1></header>
<dl class="元資料" data-type="book">
<div><dt>作者</dt><dd>薛己</dd></div>
<div><dt>朝代</dt><dd>明</dd></div>
<div><dt>年份</dt><dd><data value="1528">公元1528年</data></dd></div>
</dl>
<h2>繭唇一</h2>
<p>《內經》云：脾氣開於口。又云：脾之榮在唇。蓋燥則干，熱則裂，風則　，寒則揭。</p>
<p>若唇情動火傷血；或因心火傳授脾經；或因濃味積熱傷脾。大要審本症察兼症，補脾氣，生脾血則燥自潤，火自除，風自息，腫自消。若患者忽略，治者不察，妄用清熱消毒之藥，或用藥</p>
<p><u>治驗</u></p>
<p>州守劉克新患繭唇，時出血水，內熱口乾，吐痰體瘦，腎虛之症悉具，用濟陰地黃丸，年許而愈。</p>
<p>一儒者因勞役感冒，唇生瘡，或用四物加黃柏、知母之類而愈。後復作，彼仍用前藥，益甚。腹中陰冷，余用補中益氣東加茯苓、半夏，治之而愈。</p>
<p>儒者楊國華，因怒，唇口兩一男子素善怒，唇腫脹，服清胃等藥，時出血水，形體骨立。余用補中益氣加半夏、茯桔梗，月余唇腫漸消，元氣漸復。又以四物加柴胡、炒梔、丹皮、升麻、甘草數劑，乃去梔加參、朮而痊。</p>
<p>一婦人懷抱久郁，或時胃口嘈辣，胸膈不利，月水不調而衰少，日晡發熱，食少體倦，唇腫年余矣。余用歸脾湯如薑汁、炒黃連、山梔，少佐吳茱萸。嘈辣頓去，飲食少進，乃去黃連，加貝母、遠志。胸膈通利，飲食如常，又用加味逍遙散、歸脾湯，間服百余劑，月水調而唇方愈。</p>
<p>一婦人懷抱久郁，患繭唇，雜用消食降火，虛症悉具，盜汗如雨，此氣血虛而有熱也。</p>
<p>用當。更以逍遙散、歸脾湯，間服百余劑而唇亦瘥。</p>
<p>一婦人唇裂內熱，二年矣。每作服寒涼之劑，時出血水，益增他症，余用加味清胃散而愈。後因怒，唇口腫脹，寒熱而嘔，用小柴胡，加山梔、茯苓、桔梗，諸症頓愈。復用加味逍遙一婦人善怒，下唇微腫，內熱體倦。用化痰藥，食少作嘔，大便不實，唇出血水；用理氣消導，胸膈痞滿，頭目不清，唇腫經閉；用清胃行血，肢體愈倦，發熱煩躁，涎水涌出。余曰：此七情損傷肝脾，誤行克伐所致。遂用濟生歸脾湯，食進便實；用加味逍遙散，腫消熱退；用補中益氣湯，脾健涎止。後因怒，寒熱耳痛，胸膈脹悶，唇　腫甚。此怒動肝火，而傷陰血，用四物合小柴胡加山梔頓愈。又因怒，脅乳作脹，肚腹作痛，嘔吐酸涎，飲食不入，小水不利。此怒動肝木而克脾土，用補中益氣加川芎、芍藥而愈。又勞役怒氣，飲食失節，發熱喘渴，體倦不食，下血如崩，唇腫熾甚。此肝經有火，不能藏血，脾經氣虛，不能攝血，用補中益氣加炒黑山梔、芍藥、丹皮而愈。</p>
<p>一男子內熱作渴，咳唾痰涎，大便干澀，自喜壯實，問治於余。余曰：此脾腎陰虧陽旺之症，當壯水之主。不信，自服二陳、芩、連之類。次年下唇漸腫，小便赤澀，執守前藥，唇出血水，大便黑塊，小便淋瀝，請余往治。余曰：大便結黑，小便淋瀝，肝腎敗也；唇口腫白，脾氣敗也；辭不赴，竟歿。</p>
<p>一婦人月經不調，兩足熱，年余後而身亦熱，勞則足腿酸疼。又年余，唇腫裂痛。又半唇裂出血，形體疲倦，飲食無味，月水不通，唇下腫如黑棗。余曰：此肝脾血虛火症。彼不一婦人善怒，唇腫，或用消毒之藥，唇脹出血，年余矣。余曰：須養脾胃滋化源，方可愈，彼執用前藥，狀如翻花瘤而死。</p>
<h2>口瘡二</h2>
<p>口瘡上焦實熱，中焦虛寒，下焦陰火，各經傳變所致，當分別而治之。如發熱作渴飲冷，實湯。手足逆冷，肚腹作痛，中氣虛寒也，用附子理中湯。晡熱內熱，不時而熱，血虛也，用八物如丹皮、五味、麥門。發熱作渴，唾痰，小便頻數，腎水虧也，用加減八味丸。食少便滑，面黃肢冷，火衰土虛也，用八味丸。日晡發熱，或從腹起，陰虛也，用四物、參、朮、五味、麥門。不應，用加減八味丸。若熱來復去，晝見夜伏，夜見晝伏，不時而動，或無定處，或從腳起，乃無根之火也，亦用前丸，及十全大補加麥門、五味。更以附子末，唾津調搽涌泉穴，若概用寒涼，損傷生氣，為害匪輕。</p>
<p><u>治驗</u></p>
<p>秋官趙君言，口舌生瘡，勞則體倦，發熱惡寒，此內傷氣血之症，用補中益氣加五味、進士劉華甫，口舌生瘡，午前熱甚，脈數而有力，用清心蓮子飲稍愈。更以四物二連湯全愈。後因勞役，日晡發熱，脈數而無力，用四物加參、朮、柴胡少瘥。但體倦口乾，再用補中益氣湯而愈。</p>
<p>武庫劉君，口舌生瘡，口乾飲湯，乃胃氣虛而不能化生津液也。用七味白朮散而痊。</p>
<p>廷評曲汝為口內如無皮狀，或咽喉作痛，喜熱飲食，此中氣真寒，而外虛熱也。用加減八味丸而愈。</p>
<p>儒者費懷德，發熱，口舌狀如無皮，用寒涼降火藥，面赤發熱，作嘔少食，痰涎自出，此脾胃復傷虛寒而作也。用附子理中湯，以溫補脾胃；用八味丸，補命門火，乃愈。</p>
<p>一男子口糜爛，脈數無力，此血虛而有火，用四物，加茯苓、白朮，少用黃柏、知母，地官李孟卿子新婚，口舌糜爛，日晡益甚，用八珍湯，加五味、麥門，而口瘡愈。更用加減八味丸，而元氣實。</p>
<p>一男子唇舌生瘡，口苦作嘔，小便淋澀，此肝脾火動，以小柴胡，加山梔、酸棗仁、遠志一儒者口苦而辣，此肺肝火症，先以小柴胡加山梔、膽草、茯苓、桑皮而漸愈。更以六君加山梔、芍藥而痊瘥。若口苦脅脹，小便淋瀝，此亦肝經之病，用六味丸，以滋化源。</p>
<p>一男子口臭，牙齦赤爛，腿膝痿軟，或用黃柏等藥益甚，時或口咸，此腎經虛熱，余用六味丸悉瘥。</p>
<p>一婦人口苦脅脹，用小柴胡、山梔、黃連少愈。更以四君子加芍藥、當歸、柴胡而瘥。</p>
<p>一婦人每怒口苦，發熱晡甚，以小柴胡合四物二劑。更以四物加柴胡、白朮、茯苓、一婦人每怒則口苦兼辣，頭痛脅脹，乳內刺痛，此肝肺之火。用小柴胡加山梔、青皮、芎、歸、桑皮而安。後勞兼怒，口復苦，經水頓至，用四物加炒梔、炒膽草一劑，更以加味逍遙散</p>
<h2>齒痛三</h2>
<p>齒者腎之標，口者腎之竅。諸經多有會於口者，齒牙是也。徐用誠先生云：齒惡寒熱等症，雜之邪，與外因為患。治法：濕熱甚而痛者，承氣湯下之，輕者清胃散調之；大腸熱而齦腫痛者，清胃散治之，重則調胃丸清之；六鬱而痛者，越鞠丸解之；中氣虛而痛者，補中益氣湯補之；思虛傷脾而痛者，歸脾湯調之；腎經虛熱而痛者，六味丸補之；腎經虛寒而痛者，還少丹補之，重則八味丸主之；其屬風熱者，獨活散；大寒犯腦者，血芷散；風寒入腦者，羌活附子湯。病症多端，當臨症制宜。</p>
<p><u>治驗</u></p>
<p>宗伯毛三江，胃經虛熱，齒牙作痛，用補中益氣加熟地、丹皮、茯苓、芍藥尋愈。</p>
<p>廷尉張中梁齒動，或用清胃散，肢體倦怠，飲食少思，牙齒作痛。余曰：此脾腎虧損，用安腎丸、補中益氣湯兼服。外用羌活散而愈。或牙根潰爛，如喜寒惡熱者，乃胃血傷也，用清胃散。若惡寒喜熱者，胃氣傷也，用補中益氣湯。</p>
<p>楊考功齒動作渴，屬脾胃虛弱，陰火熾甚，用補中益氣加酒炒黑黃柏四劑，又服加減八味丸，諸症頓愈。又用補中益氣湯而痊愈。</p>
<p>王侍御齒搖齦露，喜冷凍飲料食，此胃經濕熱。先用承氣湯以退火，又用清胃散以調理而齒固。繼而用六味丸以補腎水，羌活散以祛外邪，而尋愈。</p>
<p>王吏部。患齒痛，或用祛風等劑，更加寒熱體倦，懶食欲嘔。彼以為火盛。余曰：病因元氣不足，前藥復傷。遂用補中益氣加茯苓、半夏，元氣復而諸症愈。</p>
<p>郭職方善飲，齒痛腮頰　腫。此胃經濕熱，用清胃散加干葛、荊、防而愈。</p>
<p>鄭吏部仲冬牙痛連腦，此腎經風寒所犯。用羌活附子湯一服即愈。此症不問冬夏，腎虛者多患之，急用此藥可瘳，緩則不救。</p>
<p>朱工部午後有熱，遇勞遺精，甚齒即痛。此脾腎虛熱。先用補中益氣送六味丸，更以十全大補湯而愈。</p>
<p>黨吏部齒根腫痛，　連　頰。此胃經風熱，用犀角升麻湯即愈。</p>
<p>表兄顏僉憲牙痛，右寸後半指脈洪而有力。余曰：此大腸積熱，當用寒涼之劑。自泥年高，服補陰之藥，呻吟徹夜。余與同舟赴京，煎涼膈散加荊、防、石膏，與服一鐘即愈。</p>
<p>大尹余時正素善飲，齒常浮痛，腹痛作瀉。此酒積傷脾。食後用清胃散，食前解醒湯而膳部鐘復齋，每勞心則齒縫脹而不能咀嚼，此元氣虛弱。先用補中益氣湯而痊。更用十全大補湯，雖勞不作。</p>
<p>儒者柴濟美善飲，牙蛀不生，或時作痛，用桃仁承氣湯二劑，又以清胃散加山梔、葛根一男子晡熱內熱，牙痛齦潰，常取小蟲，此足三陰虛火，足陽明經濕熱。先用桃仁承氣湯二劑，又用六味地黃丸而愈。</p>
<p>一男子患齒痛，飲食難化，大便不實。此脾腎不足。用還少丹而愈。</p>
<p>一男子每足發熱，牙即浮腫。此足三陰虛火。用加減八味丸，而不復作。</p>
<p>一男子齒浮作痛，耳面黧色，口乾作渴，日晡則劇。此脾虛弱也。用補中益氣湯、加減一婦人因怒齒痛，寒熱作嘔，用清胃等藥益甚。此肝火傷胃，寒藥復傷。用六君子加芍一婦人胃中嘈辣，甚則熱痛，後患齒痛。此胃火生痰也。用二陳加芩、連下越鞠丸而瘳一婦人發熱齒痛，日晡益甚，月水不調。此脾經血虛所致。用逍遙散加升麻尋愈。後因怒復痛，仍以前藥加川芎而痊。</p>
<p>一婦人因怒，牙痛寒熱。用小柴胡加芎、歸、苓、朮、山梔而疼痛止，用加味逍遙散，荊婦每產後，齒根皆動，必逾日乃止。後復懷妊，臨月時，立齋翁偶至，言及此症，留十全大補湯二劑，令產後煎服，齒不復動矣。果如言，愚奇其神異，敢綴數言，附之卷末。後有作者，皆得觀法焉，則先生之德，垂之永久矣。後學吳江史羊生頓首謹書。</p>
<p>貌云叔父芝岩先生，齒根浮腫，痛不可忍，命貌求治於立翁先生。翁曰：此痛齦浮而不動，屬於坤土，乃足陽明脈所貫絡也，因胃有濕熱故爾。用清胃散加山梔、玄參進一服，應手而瘥。貌謹記其梗概，以附醫錄，將俾後之學醫者，有所準則云。嘉靖丁未仲秋，晚眷生郁貌頓首拜書。</p>
<h2>舌症四</h2>
<p>經言：舌乃心之苗，此以竅言也。以部分言之，五臟皆有所屬；以症言之，五臟皆有所主。</p>
<p>，為陰血虛熱；若咽痛舌瘡，口乾足熱，日晡益甚，為腎經虛火；若四肢厥冷，惡寒飲食，或痰甚眼赤，為命門火衰；若發熱作渴，飲冷便閉，為腸胃實火；若發熱惡寒，口乾喜湯，食少體倦，為脾經虛熱；若舌本作強，腮頰腫痛，為脾經濕熱；若痰盛作渴，口舌腫痛，為上焦有熱；若思慮過度，口舌生瘡，咽喉不利，為脾經血傷火動；若恚怒過度，寒熱口苦，而舌腫痛，為肝經血傷火動。病因多端，當臨時制宜。凡舌腫脹甚，宜先刺舌尖，或舌上，或邊傍，出血泄毒，以救其急。惟舌下濂泉穴，此屬腎經，雖宜出血，亦當禁針，慎之。</p>
<p><u>治驗</u></p>
<p>工部徐檢齋。口舌生瘡，喜冷凍飲料食，或咽喉作痛，大便秘結。此實熱也。用清涼飲，治仲侍御多思慮，舌作痛，用苦寒降火藥，發熱便血，盜汗口乾，肢體日瘦。此脾氣虧損，血虛之熱，用加味歸脾湯而愈。</p>
<p>一男子不慎酒色，冬喜飲冷，舌常作痛，小便頻數，舌裂痰盛。此腎水枯涸，陰火無制，名，名上消，是心移熱於肺，用白虎東加人參治之。若關脈洪數有力，喜飲冷，小便黃，大便硬而自汁者，名中消，調胃承氣湯下之。</p>
<p>學士吳北川過飲，舌本強痛，言語不清，痰氣涌盛，肢體不遂。余作脾經濕痰治之而愈秋官鄭過飲，舌本強腫，言語不清。此脾虛濕熱。用補中益氣加神麯、麥芽、干葛、澤瀉而愈。</p>
<p>一膏粱之人患舌痛，敷服皆消毒之藥，舌腫勢急。余刺舌尖及兩傍，出紫血杯許，腫消一二。更服犀角地黃湯一劑，翌早復腫脹，仍刺出紫血杯許，亦消一二。仍服前湯，良久舌大腫，又刺出黑血二杯許，腫漸消。忽寒熱作嘔，頭痛作暈，脈洪浮而數，此邪雖去而真氣愈傷。與補中益氣倍加參、　、歸、朮，四劑而安，又數劑而愈。</p>
<p>一婦人善怒，舌痛煩熱，用降火化痰等藥，前症益甚，兩脅作脹；服流氣飲，肚腹亦脹，經行不止。此肝虛不能藏血，脾虛不能統血。用加味歸脾加麥門、五味而愈。若因暴怒，而患前症，用小柴胡加丹皮、山梔；血虛者，用八珍加參、朮、柴胡、山梔、丹皮；虛甚須加炮一男子舌下牽強，手大指次指不仁，或大便秘結，或皮膚赤暈。此大腸血虛風熱。用逍遙散加槐角、秦艽而愈。</p>
<p>一婦人冬患腦疽，腫痛熱渴，脈洪數實。余用清熱消毒散，潰之而愈。次年三月，其舌腫大，遍身患紫疔如葡萄，不計其數，手足尤多，各刺出黑血，服奪命丹七粒，出臭汗，瘡熱益甚，便秘二日，與大黃、芩、連各三錢，升麻、白芷、山梔、薄荷、連翹各二錢，生草一錢，水煎三五沸服，大小便出臭血甚多，下體稍退，乃磨入犀角汁，再服，舌本及齒縫出臭血，諸毒乃消，更與犀角地黃湯而愈。</p>
<p>一婦人善怒，舌本強，手臂麻。余曰：舌本屬脾土，肝木克之故耳。治以六君子加柴胡、芍藥而愈。</p>
<p>先兄口舌糜爛，痰涎上壅，飲食如常，遇大風欲仆地。用補中益氣湯，及八味丸即愈。間藥數日仍作，每勞苦則痰盛目赤，漱以冷水，舌稍愈，頃間舌益甚，用附子片噙之即愈。服前二藥諸症方痊。</p>
<h2>喉痹諸症五</h2>
<p>喉痹謂喉中呼吸不通，語言不出，而天氣閉塞也；咽痛嗌痛者，謂咽喉不能納唾與食，而地鄉村所患相同者，屬天行運氣之邪，治法當先表散。大忌酸藥搽點寒藥下之，恐郁其表於內，而不得出也。其病有二：其一屬火。經云：少陽所到為喉痹。又云：少陽同天之政，三之氣，炎暑至民病喉痹，用仲景桔梗湯。或面赤斑者屬陽毒，用陽毒諸方汗之可也。</p>
<p>其二屬陰濕。經云：太陰之盛，火氣內郁成喉痹。又云：太陰在泉，濕淫所勝，病嗌腫喉痹，用活人半夏桂枝甘草湯。或面青黑者，屬陰毒，用陰毒法可汗之。</p>
<p>蕭山先生云：喉痹不惡寒，及寸脈大滑實於關尺者，皆屬下症。宜硝石、青黛等寒藥降之，或膽礬等酸劑收之。韓　和先生云：寸脈大於關尺者，宜消陽助陰。東垣先生云：兩寸脈實，為陽盛陰虛，下之則愈。故予遵此法以治前症，如鼓應桴也。</p>
<p>陳無擇治喉痹不語，用小續命加杏仁七個，煎服甚效。本草治中氣急喉痹欲死，白僵蠶為末，薑汁調下立愈。丹溪云：僵蠶屬火，而有土有水，得金氣而成。治喉痹者，取其火中清化之氣，以從治相火，散濁逆結滯之痰。</p>
<p>陳藏器每治臟寒咽閉，吞吐不利，用附子去皮臍炮裂，以蜜塗炙，蜜入內，含之勿咽云孫押班治都知潘元從喉閉，孫以藥半錢，吹入喉中，少頃吐出膿血，立愈。潘詣孫謝曰：大急之患，非明公不能救，救人之急，非藥不能療，贈金百兩，愿求方以濟非常之急。孫曰：用豬牙皂角、白礬、黃連各等分，置新瓦上，焙乾為末，既授為方，不受所贈。</p>
<p>謙甫云：戊辰春鄉村病喉痹者甚眾，蓋前年終之氣，及當年初之氣二火之邪也。用甘結芩、連、半夏、僵蠶、鼠黏子、葛根等劑發之，虛加參、　、當歸之類。水漿不入，先用解毒雄黃丸，醋化灌之，痰出更灌薑汁，服前藥無不神驗。若用膽礬酸寒點過者皆不治，蓋邪鬱不出故也。以上治法，《內經秘旨》救生之良法，故錄之，見《醫學綱目》。</p>
<p><u>治驗</u></p>
<p>廷評張汝翰，患喉痛，日晡益甚，此氣血虛而有熱，用八珍湯而愈。後每入房，發熱頭痛，用補中益氣加麥門、五味及六味丸常服，後不復作。</p>
<p>秋官葉，素陰虛，因怒忽喉痛，寒熱頭痛，項強目直，小便自出，此皆肝火之症。肝主筋膜，火主腫脹，火旺則血涸筋攣，自系緊急，頸項如拔，陰挺痿痹，則小便自遺。遂刺患處出毒血，用四物、柴胡、山梔、玄參、甘草而蘇。再用六味丸料，以生肝血滋腎水，諸症悉愈太守葉，咽喉腫痛，痰涎不利，手足發熱，喜冷凍飲料食，用清咽利膈湯二劑。不應，刺少商穴，喉少寬，痰從鼻出如膠，患處出紫血稍寬，至七日咳出穢膿而愈。</p>
<p>一儒者三場畢，忽咽喉腫閉，不省人事，喘促痰涌，汗出如水，肢體痿軟，脈浮大而數。此飲食勞役，無根虛火上炎，用補中益氣加肉桂，一劑頓蘇。</p>
<p>義士顧克明，咽喉作痛，至夜發熱，此肝腎陰虛之熱。用四物，加酒炒黑黃柏、知母、麥門嘶，作渴發熱，日晡足熱，用滋腎丸、加減八味丸，間服三月余，喜其年富，謹疾得愈。</p>
<h2>喉痛六</h2>
<p>（附乳蛾、懸癰、楊梅瘡）</p>
<p>丹溪先生云：咽痛屬血虛，用四物加竹瀝。陰虛火上炎者，必用玄參；氣虛加人參、竹又云：咽喉腫痛有陰虛陽氣飛越，痰結在上者，脈必浮大，重取必澀，去死為近。宜人參一味，濃煎，細細飲之，如作實症治之，禍在反掌。此發前人未發，救無窮之夭枉。余更以上焦風熱積熱，及膀胱陰虛等症，一二於後云云。</p>
<p><u>治驗</u></p>
<p>通府李朝用，咽喉腫痛，口舌生瘡。此上焦風熱，先用荊防敗毒散二劑，喉痛漸愈。又地官黃北盤喉痛，作渴飲冷，大便不通，此上下表裡實熱。用防風通聖散，治之頓愈。</p>
<p>地官胡誠甫，咽喉燥痛，此腎經膀胱虛熱。用四物，加黃柏、知母、玄參，四劑少愈。更以人參固本丸，一劑不復發。</p>
<p>職方盧抑齋，咽喉腫痛，兩目蒙昧，小便赤澀，此膀胱濕熱。用四苓散加黃柏、黃連、知母、茵　、防己，治之而頓愈。又用六味地黃丸而痊。</p>
<p>儒者王文遠，咽喉腫痛，口舌生瘡，勞則愈甚，余謂脾肺氣虛，膀胱有熱。以補中益氣加玄參、酒炒黑黃柏、知母稍愈，乃去黃柏、知母，加山茱萸、山藥乃瘥。</p>
<p>一儒者年逾五十，咽喉痛服涼藥，或過勞痛愈甚，此中氣虛熱。以補中益氣，加炒黑芩、連，四劑而愈，乃去芩、連，又數劑痊愈。</p>
<p>一儒者腳發熱，則咽喉作痛，內熱口乾，痰涎上涌。此腎經虧損，火不歸經。用補中益氣加麥門、五味，及加減八味丸而痊愈。</p>
<p>一老人咽喉痛，小便數而赤，日晡尤甚，此膀胱陰虛，當滋化源。以補中益氣加酒炒黑黃柏、知母二味，四劑咽痛稍可，乃去二味加以山茱、山藥、麥門、五味，頓愈。</p>
<p>一男子咽喉腫痛，藥不能下，針患處出紫血少愈，以破棺丹噙化，更用清咽利膈散而愈一男子素善飲，咽喉作痛，內熱作渴，小便不利，飲食如常。此膀胱積熱，用四苓散，加茵　、大黃，四劑諸症漸退。又用清心蓮子飲而安。</p>
<p>一星士，勞而入房，喉痛漸閉，痰涎上涌，四肢乍熱。此陰虛陽氣飛揚。用補中益氣加憲副薑時川，癸卯冬就診於予，右寸浮數有力，口中有瘡。余曰：此胃火傳於肺也，滋味慎起居。甲辰秋復就診，尺脈洪數而無力。余曰：此肺金不能生腎水，宜靜養以滋化源。彼云：今喉間及耳內，不時燥痛，肢體不時發熱，若無根之火殞無疑矣。後謂劉古峽云：立齋謂我之病可疑。至乙巳孟春。古峽謂余曰：薑公之病已如尊料。遂同余往視，喉果腫潰脈愈洪大，或用瀉火之藥反速其歿。</p>
<p>云間吳上舍年逾五十，咽喉腫痛，或針出血，神思雖清，尺脈洪數，而無倫次，按之細微如無。余曰：有形而無痛，陽之類也，當峻補其陰，今反傷其陰血必死，已而果歿。蓋此症乃腎氣虧損，無根之火炎上為患，惟加減八味丸料煎服，使火歸源，庶幾可救。</p>
<p>府庠歸云橋之內，產後患喉痛，服清熱等劑益甚。余診之，屬膀胱經血虛也，蓋膀胱之內脈上行，至頸而還，用八珍東加牡丹皮、柴胡、酒炒黑黃柏，二劑而愈。</p>
<p>嘉靖辛丑仲秋，大方憑幾執筆就書，咽喉間偶有痰涎，遂左顧吐之，以未及合而頸骨如摧，莫能轉視，至夜增劇，潛發盜汗，手足麻冷，臥起必藉人扶持，稍動則痛連心腹，苦楚萬狀，不可勝數，如是者三四日。得立齋先生視之曰：此怒動肝火，膽得火而筋攣縮。以六味地黃丸料加山梔、柴胡，以清肝火生膽血。一劑未竟日，而談笑舉動，一一如常矣。接見賓從，俱以為前日之病者罔也，先生之神妙，類多如此。惜乎，不肖疏怠蹇拙，不能盡述。姑以其親視者，筆之以為明驗耳。吳門晚學生沈大方履文再頓首謹書。</p>
<p>一婦人喉間作痛，兩月後而潰，遍身筋骨作痛，余以為楊梅瘡毒，先以萆　湯，數劑而平，更以四物加萆　、黃　二十劑，諸症悉退。</p>
<p>一彌月小兒，口內患之，後延遍身，年余不愈。以萆　為末，乳汁調服，母以白湯調服，月余而愈。余見《保嬰粹要》。</p>
<p>一男子先患喉痛，復發楊梅瘡。用輕粉等劑，愈而復發，仍服前藥，後又大發，上　潰爛，與鼻相通，臂腕數顆，其狀如桃，大潰，年余不斂，虛症悉見。余以萆　湯為主，兼以健脾之劑，月余而安。余見《外科樞要》。</p>
<h2>諸骨稻穀發鯁七</h2>
<p>治諸骨鯁，用苧麻根杵爛丸，彈子大，將所鯁物，煎湯化下。</p>
<p>一方魚骨鯁，用細茶、五倍子等分為末，吹入咽喉，立愈。</p>
<p>一方以犬吊一足，取其涎，徐徐咽之，即消。</p>
<p>又方白萼花根搗爛取汁，徐徐咽之，不可著牙。</p>
<p>治稻芒糠穀鯁喉，將鵝吊一足取涎，徐徐咽下，即消。</p>
<p>治吞釘鐵金銀銅錢等物，但多食肥牛脂諸般肥肉等味，隨大便而下。</p>
<p>一方吞錢，燒炭末，白湯調下，數匙即出。或服蜜升許。或食茨菇，其錢自化。</p>
<p>治吞發繞喉不出，取自亂髮作灰，白湯調服一錢。</p>
<p>治吞鐵或針，用餳糖半斤濃煎，艾汁調和服之。</p>
<p>一方磁石，磨如棗核大，鑽眼，以線穿令吞喉間，針自引出，或吞錢金銀銅鐵，磁石須陰陽家用驗者。</p>
<h2>治諸鯁咒法八</h2>
<p>子和云：大凡魚骨麥芒，一切竹木刺鯁於喉間，及發絆不能下；用《道藏經》中一咒法：取東方無根水一碗，先以左手結三台印，將水置印上，後將右手持一劍，訣於水上，虛書一龍字，密咒九遍；咒曰：吾從東方來，路傍一池水，水裡一條龍，九頭十八尾，問君治何物，專用此間水。連誦九遍，患者飲之，即愈。</p>
<h2>誤吞水蛭九</h2>
<p>治誤吞水蛭，食蜜即愈，試以活蛭投蜜中，即化為水，屢驗。一書云：井中生蛭，以白馬骨投之，即無，試之亦驗。水蛭即螞蝗也，雖死為末，見水復活，人吞之為害不小，治以前法</p>
<h2>諸蟲入耳十</h2>
<p>治百蟲入耳，用鹽汁灌之，或蔥汁尤良，或豬肉少許，炙香置耳孔邊亦出；或用細蘆管入耳內，口吸之蟲隨出。</p>
<p>蜒蚰入耳，以鹽少許搽耳內，即化為水。</p>
<p>蜈蚣入耳，以雞肉置耳邊自出。凡蟲毒入腹作脹，飲好酪二升許，蟲化為水，而毒亦消</p>
<h2>蛇入七竅及蟲咬傷十一</h2>
<p>凡蛇入七竅，劈開蛇尾，納川椒數粒，以紙封之，其蛇自出。更煎人參湯飲之，或飲酒食蒜</p>
<h2>男女體氣十二</h2>
<p>治腋氣，五更時，用精豬肉二大片，以甘遂末一兩，拌之，挾腋下，至天明。以生甘草，煎湯飲之，良久瀉出穢物，須在荒野之外，則可恐穢氣傳入故也，依法三五次，即愈。虛弱者，間日為之，其他密陀僧、胡粉之類，皆塞竅以治其末耳。</p>
<h2>附方並注</h2>
<p><u>清胃散</u></p>
<p>治胃火血燥唇裂，或為繭唇，或牙齦潰爛作痛。</p>
<p>黃連（炒）　生地黃　升麻（各一錢）　牡丹皮（八分）　當歸（三錢二分）　上水煎服。</p>
<p><u>加味清胃散</u></p>
<p>即前散加芍藥、柴胡，治脾胃肝膽經熱。</p>
<p><u>柴胡清肝散</u></p>
<p>治肝經怒火，風熱傳脾，唇腫裂，或患繭唇。</p>
<p>柴胡　黃芩（炒，各一錢）　黃連（炒）　山梔（炒，各七分）　當歸（一錢）　川芎（六分）</p>
<p>生地黃（一錢）　升麻（八分）　牡丹皮（一錢）　甘草（三分）　上水煎服。若脾胃弱，去芩、連，加</p>
<p><u>濟陰地黃丸</u></p>
<p>治陰虛火燥，唇裂如繭。</p>
<p>五味子　熟地黃（自製杵膏）　麥門冬　當歸　肉蓯蓉　山茱萸（去核）　枸杞子　山藥甘州</p>
<p><u>歸脾湯</u></p>
<p>（一名濟生歸脾湯）</p>
<p>治思慮傷脾，血耗唇皺，及氣鬱生瘡，咽喉不利，發熱便血，盜汗晡熱等症。</p>
<p>木香　甘草（各三分）　人參　白朮　茯苓　黃　（炒）　當歸　龍眼肉　遠志　酸棗仁（服。</p>
<p><u>加味歸脾湯</u></p>
<p>即前方加柴胡、丹皮、山梔，治思慮動脾火，元氣損傷，體倦發熱，飲食不思，失血牙</p>
<p><u>補中益氣湯</u></p>
<p>治中氣傷損，唇口生瘡，或齒牙作痛，惡寒發熱，肢體倦怠，食少自汗，或頭痛身熱，煩躁作渴，氣喘脈大而虛，或微細軟弱。</p>
<p>人參　黃　（炒）　甘草（各一錢半）　白朮　當歸　橘紅（各一錢）　柴胡　升麻（各五分）</p>
<p><u>羌活散</u></p>
<p>治風熱傳脾，唇口　皺，或頭痛目眩，或四肢浮腫如風狀。</p>
<p>羌活　茯苓　薏苡仁（各等分）　上每服三五錢，水煎，入竹瀝一匙服。</p>
<p><u>人參理中湯</u></p>
<p>治口舌生瘡，飲食少思，大便不實，或畏寒惡熱，作嘔腹痞。此中氣不足，虛火炎上。</p>
<p>人參　白朮　乾薑（炮）　甘草（炙，各等分）　上每服五七錢，或一兩，水煎服。</p>
<p><u>附子理中湯</u></p>
<p>治症同上，但四肢冷逆，或嘔吐泄瀉。</p>
<p>茯苓　白芍藥（各二錢）　附子　人參（各二錢）　白朮（四錢）　上水煎服。</p>
<p><u>香砂六君子湯</u></p>
<p>治口舌生瘡，服涼藥過多，以致食少作嘔，或中氣虛熱所致。</p>
<p>人參　白朮　茯苓　半夏　陳皮（各一錢）　藿香（八分）　甘草（炒，六分）　宿砂仁（炒</p>
<p><u>人參安胃散</u></p>
<p>治胃經虛熱，口舌生瘡，喜熱飲食。</p>
<p>人參　白茯苓（各一錢）　黃芩（二錢）　甘草（炙）　陳皮（各五分）　黃連（三分）　芍藥（服。</p>
<p><u>七味白朮散</u></p>
<p>治虛熱，口舌生瘡，不喜飲冷，吐瀉口乾。</p>
<p>人參　白朮　木香　白茯苓　甘草（炙）　藿香（各五分）　干葛（一錢）　上水煎服。</p>
<p><u>四君子湯</u></p>
<p>治口舌生瘡，脾胃虛弱，飲食少思，肚腹不利。</p>
<p>人參　白朮　茯苓（各一錢）　甘草（炙，五分）　上薑棗水煎服。</p>
<p><u>六君子湯</u></p>
<p>治胃氣虛熱，口舌生瘡，或寒涼克伐，食少吐瀉。</p>
<p>人參　白朮　茯苓（各一錢半）　陳皮　半夏　甘草（各一錢）　上薑棗水煎服。</p>
<p><u>二陳湯</u></p>
<p>治脾胃虛弱，口舌生瘡，或中脘停痰，嘔吐惡心，飲食少思等症。</p>
<p>陳皮　茯苓　半夏（各一錢半）　甘草（炙，五分）　上薑棗水煎服。</p>
<p><u>葛花解醒湯</u></p>
<p>治酒積，口舌生瘡，或嘔吐泄瀉。</p>
<p>白豆蔻　宿砂仁　葛花（各五分）　木香（二分）　青皮（二分）　陳皮　茯苓　豬苓　人參白朮　神麯（炒）　澤瀉　乾薑（各三分）　上水煎服，得微汗，酒病去矣。</p>
<p><u>龍膽瀉肝湯</u></p>
<p>治口苦，或生瘡。</p>
<p>柴胡（一錢）　黃芩（七分）　甘草　人參　天門冬（去心）　龍膽草（酒拌炒焦）　黃連（炒）</p>
<p>山梔（炒）　麥門冬　知母（各五分）　五味子（三分）　上水煎服。</p>
<p><u>小柴胡湯</u></p>
<p>治肝膽經風熱侮脾土，唇口腫痛，或寒熱往來，或日晡發熱，或潮熱身熱，或怒而發熱脅痛，甚者轉側不便，兩脅痞滿，或瀉利咳嗽，或吐酸苦水。</p>
<p>柴胡（一錢）　黃連（一錢半）　半夏　人參（各一錢）　甘草（炙，五分）　上薑棗水煎服。</p>
<p>怒動肝火，牙齒痛寒熱，加山梔、黃連。</p>
<p><u>梔子清肝散</u></p>
<p>治三焦及足少陽經風熱，口舌生瘡，或耳內作癢，出水疼痛，或胸間作痛，或寒熱往來茯苓　川芎　芍藥　牛蒡子（炒）　當歸（各七分）　柴胡　山梔　牡丹皮（各一錢）　甘草（五分）　上水煎服。</p>
<p><u>人參敗毒散</u></p>
<p>（加防風、荊芥，名荊防敗毒散）</p>
<p>治一切表症，瘡瘍　痛，發寒熱，或拘頭痛，脈細有力者。</p>
<p>人參　羌活　獨活　柴胡　前胡　茯苓　川芎　桔梗　枳殼　甘草（各一錢）　上水煎服</p>
<p><u>奪命丹</u></p>
<p>治喉閉或疔瘡，發大毒，或麻木，或嘔吐，重者昏憒。若疔毒牙關緊急，用三五丸為末，水調灌下，有奪命之功。</p>
<p>蟾酥（干者酒化）　輕粉（各五分）　枯白礬　寒水石（　）　銅綠　乳香　沒藥　麝香（各朱砂（三錢）　蝸牛（二十個，另研，無亦效）　上為細末，用蝸牛或酒糊為丸，如綠豆大。每服一二丸，溫酒或蔥湯下。</p>
<p><u>東垣白芷散</u></p>
<p>治大寒犯腦，牙齒疼痛。</p>
<p>麻黃　草豆蔻（各一錢）　黃　升麻（各二錢）　當歸　熟地黃（各五分）　吳茱萸　白芷（各四分）　本（三分）　桂枝（二分半）　羌活（八分）　上另為末，和勻搽之。</p>
<p><u>東垣牢牙散</u></p>
<p>治牙齦露肉，牙疳腫痛，或牙齒動搖欲落，或牙齒不長，牙黃口臭。</p>
<p>升麻（四分）　羌活　地骨皮（各一兩）　膽草（一兩半，酒浸）　上為末，以溫水漱口，每用少許擦之。</p>
<p><u>獨活散</u></p>
<p>治風毒牙痛，或牙齦腫痛。</p>
<p>獨活　羌活　川芎　防風（各五分）　細辛　生地黃　荊芥　薄荷（各二錢）　上每服三五錢，水煎嗽咽。</p>
<p><u>謙甫加減瀉白散</u></p>
<p>治膏粱醇酒，勞心過度，肺氣有傷，以致氣出腥臭，涕唾稠黏，咽嗌不利，口苦干燥。</p>
<p>桑白皮（二錢）　地骨皮　片黃芩　甘草（炙，各一錢）　知母（七分）　五味子（十粒）</p>
<p>麥門冬（五分）　桔梗（一錢）　上薑棗水煎服。</p>
<p><u>犀角升麻湯</u></p>
<p>治陽明經、風熱牙疼、或唇頰腫痛。</p>
<p>犀角（鎊）　升麻　防風　羌活（各一錢）　白附子（五分）　川芎　白芷　黃芩（各七分）</p>
<p>甘草（三分）　上水煎熟，入犀末服。</p>
<p><u>玄參升麻湯</u></p>
<p>治心脾壅熱，口舌生瘡，或木舌重舌，或兩頰腫痛。</p>
<p>玄參　赤芍藥　升麻　犀角（鎊）　桔梗　管仲　黃芩（炒，各一錢）　甘草（五分）　上水</p>
<p><u>三黃丸</u></p>
<p>治實熱口舌生瘡，作渴喜冷，或齒齦腫痛等症。</p>
<p>黃芩　黃連　黃柏（各等分）　上為末，水糊丸，桐子大。每服七八十丸，白湯下。</p>
<p><u>安腎丸</u></p>
<p>治腎虛牙痛腰疼。</p>
<p>補骨脂（炒）　川楝子肉（炒）　葫蘆芭（炒）　茴香（炒）　續斷（炒，各二兩）　桃仁　杏仁（炒）　山藥　茯苓（各二兩）　上為末，蜜丸，桐子大。每服五十丸，空心鹽湯下。</p>
<p><u>八味丸</u></p>
<p>治腎氣虛寒，牙齒作痛，面色黧黑，精神憔瘦，腳膝無力，飲食少思；或痰氣上升，小便頻數，齒不堅固；或口舌糜爛，畏飲冷水。即後方每料加肉桂、附子各一兩。</p>
<p><u>六味丸</u></p>
<p>（加五味、肉桂，各一兩，名加減八味丸）</p>
<p>治腎經虛熱，齒不固密，或作疼痛，或發熱渴淋，痰氣壅嗽，頭暈眼花，咽燥唇裂，腰腿痿軟，自汗盜汗，便血諸血失暗，水泛為痰之聖藥，血虛發熱之神劑。</p>
<p>熟地黃（八兩，作膏）　山茱萸肉　干山藥（各四兩）　牡丹皮　澤瀉（各三兩）　茯苓（四兩）　上為末，入地黃煉蜜丸，桐子大。每服七八十丸，空心食前滾湯下，地黃須自製。</p>
<p><u>滋腎丸</u></p>
<p>治腎經陰虛，齒痛或蘇蝕色黑，日晡發熱，腳膝無力，小便不利，肚腹脹滿（詳見《內知母　黃柏（各酒炒，二兩）　肉桂（二錢）　上為末，水丸桐子大。每服二百丸，空心白滾湯下。</p>
<p><u>清心蓮子飲</u></p>
<p>治口舌生瘡，煩躁作渴，小便赤澀，口乾便濁，夜間安靜，晝則舉發，此熱在血分。</p>
<p>黃芩　石蓮　茯苓　黃　（炒）　柴胡　人參（各一錢）　麥門冬　地骨皮　車前子（炒）　甘草（各二錢半）　上水煎服。</p>
<p><u>還少丹</u></p>
<p>治脾腎虛弱，齒牙作痛，或不堅固。又補虛損，生肌體，進飲食之聖藥。</p>
<p>肉蓯蓉　遠志（去心）　茴香　巴戟（去心）　干山藥　枸杞子　熟地黃　石菖蒲　山茱萸（去核）　杜仲（去皮薑製）　牛膝　楮實子（炒）　五味子　白茯苓（各等分）　上為末，棗肉並蜜丸，桐子大。每服七十丸，溫酒日三服。</p>
<p><u>羌活附子湯</u></p>
<p>治冬月大寒犯腦，令人腦齒連痛，名曰腦風，為害甚速，非此莫能救。</p>
<p>麻黃（去節）　黑附子（炮，各三分）　羌活　蒼朮（各五分）　黃　（一分）　防風　甘草　升麻白僵蠶（炒去絲）　黃柏　白芷（各二分）　佛耳草（有寒嗽者用之如無不用）　上水煎服。</p>
<p><u>十全大補湯</u></p>
<p>治氣血俱虛，牙齒腫痛，或口舌生瘡，或惡寒發熱，自汗盜汗，食少體倦，或寒熱作渴，頭痛眩暈，或似中風之症。</p>
<p>白茯苓　人參　當歸　白朮　黃　川芎　熟地黃（生者自製）　白芍藥（炒）　甘草（炙，各一錢）　肉桂（五分）　上薑棗水煎服。</p>
<p><u>八珍湯</u></p>
<p>治氣血俱虛，口舌生瘡，或齒齦腫潰，惡寒發熱，或煩躁作渴，胸脅作脹、或便血吐血人參　白朮　白茯苓　當歸　川芎　白芍藥　熟地黃（各一錢）　甘草（炙，五分）　上薑棗水煎服。</p>
<p><u>越鞠丸</u></p>
<p>治六郁牙齒痛口瘡，或胸滿吐酸，飲食少思。</p>
<p>蒼朮（炒）　神麯（炒）　香附子　山查　山梔（炒）　撫芎　麥芽（炒，各等分）　上為末，水調神麯糊丸，桐子大。每服五七十丸，滾湯下。</p>
<p><u>四物湯</u></p>
<p>（加牡丹皮、柴胡、山梔名加味四物湯）</p>
<p>治血虛發熱，口舌生瘡，或牙齦腫潰，或日晡發熱，煩躁不安，或因怒而致。</p>
<p>當歸　熟地黃（各三錢）　芍藥　川藥（各二錢）　上水煎服。</p>
<p><u>當歸補血湯</u></p>
<p>治口舌生瘡，血氣俱虛，熱渴引飲，目赤面紅，其脈洪大而虛，重按全無。</p>
<p>黃　（炙，一兩）　當歸（酒製，二錢）　上水煎服。</p>
<p><u>元戎四物二連湯</u></p>
<p>治血虛發熱，口舌生瘡，或晝寒夜熱。</p>
<p>當歸　生地黃　白芍藥　川芎　黃連　胡黃連（各一錢）　上水煎服。</p>
<p><u>犀角地黃湯</u></p>
<p>治火盛，血妄行，或吐衄，或下血。</p>
<p>犀角（鎊）　生地黃　白芍藥　黃芩　牡丹皮　黃連（各一錢）　上水煎熟，入犀末服。</p>
<p>若因怒而患，加柴胡、山梔。</p>
<p><u>當歸六黃湯</u></p>
<p>治陰虛內熱盜汗。</p>
<p>當歸　熟地黃（自製）　生地黃　黃　（炒）　黃連（炒黑）　黃芩（炒黑）　黃柏（炒黑，各一錢）上水煎服。</p>
<p><u>逍遙散</u></p>
<p>治血虛有熱，口舌生瘡，或口燥咽乾，發熱盜汗，食少嗜臥。</p>
<p>甘草（炙）　當歸　芍藥（炒）　茯苓　白朮（炒）　柴胡（各一錢）　上水煎服。</p>
<p><u>加味逍遙散</u></p>
<p>治肝脾有火血虛，即前方加山梔、丹皮。</p>
<p><u>謙甫解毒雄黃丸</u></p>
<p>治纏喉風腫閉，或卒倒死，牙關緊急。</p>
<p>雄黃（一錢）　鬱金（一分）　巴豆（十四粒，去油皮）　上為末，醋糊丸，綠豆大，用熱茶送下七丸，吐頑痰立蘇，未吐再服，若死而心頭猶熱，灌下更生。</p>
<p><u>謙甫龍麝聚聖丹</u></p>
<p>治心脾客熱，咽喉腫痛，或成癰不消，或舌本腫脹，口舌生瘡。</p>
<p>川芎（一兩）　生地黃　犀角（鎊）　羚羊角（鎊）　琥珀　玄參　連翹（各五分）　人參赤茯苓　馬牙硝　片腦　麝香（各三錢）　朱砂　牛黃（各二錢）　桔梗　升麻　鉛白霜（各五錢）</p>
<p>南砂（一兩）　金箔（五十片）　上為末，蜜丸，龍眼大，金箔為衣，薄荷湯化下，或噙咽之。</p>
<p><u>拔萃桔梗湯</u></p>
<p>治熱腫喉痹。</p>
<p>桔梗　甘草　連翹　山梔　薄荷　黃芩（各一錢）　上入竹葉水煎服。</p>
<p><u>無擇玉屑無憂散</u></p>
<p>治喉風痰壅，或口舌生瘡，或骨鯁不下。</p>
<p>玄參　管仲　滑石　宿砂仁　黃連　甘草　茯苓　山豆根　荊芥穗（各五錢）　寒水石（煨）　硼砂（各三錢）　上為末，每服一錢，清水調下，此藥又去邪辟瘟止渴。</p>
<p><u>甘桔湯</u></p>
<p>治咽喉腫痛。</p>
<p>甘草（六錢）　苦梗（三錢）　上水煎服。</p>
<p><u>白虎湯</u></p>
<p>治胃熱作渴，暑熱尤效。</p>
<p>知母　石膏（各二錢）　粳米（半合）　上水煎服。</p>
<p><u>調胃承氣湯</u></p>
<p>治中熱，大便不通，咽喉腫痛，或口舌生瘡。</p>
<p>大黃（一兩）　甘草（一錢五分）　芒硝（四錢五分）　上每服五七錢，水煎。</p>
<p><u>桃仁承氣湯</u></p>
<p>（加當歸一錢，名當歸承氣湯）</p>
<p>治瘀血停滯，腹內作痛，或發熱發狂，大便秘結。</p>
<p>桃仁（五十粒，去皮尖研）　桂枝　芒硝　甘草（炙，各一錢）　大黃（二錢）　上水煎空心服</p>
<p><u>清熱補氣湯</u></p>
<p>治中氣虛熱，口舌如無皮狀，或發熱作渴。</p>
<p>人參　白朮　茯苓　當歸（酒拌）　芍藥（炒，各一錢）　升麻　五味子　麥門冬　玄參甘草（炙，各五分）　上水煎服。如不應，加炮薑。更不應，加附子。</p>
<p><u>清熱補血湯</u></p>
<p>治口舌生瘡，體倦少食，日晡益甚，或目澀熱痛。</p>
<p>熟地黃（酒拌，一錢）　黃柏　知母　五味子　麥門冬（各五分）　當歸（酒拌）　川芎　芍（各一錢）　玄參（七分）　柴胡　牡丹皮（各五分）　上水煎服。如不應，用補中益氣東加五味治之。</p>
<p><u>清熱化痰湯</u></p>
<p>治上焦有熱，痰盛作渴，口舌腫痛。</p>
<p>貝母　天花粉　枳實（炒）　桔梗（各一錢）　黃芩　黃連（各一錢二分）　玄參　升麻（各七分）　甘草（五分）　上水煎服。</p>
<p><u>升麻柴胡湯</u></p>
<p>柴胡　芍藥　山梔子　升麻　木通（各一兩）　黃芩　大青杏仁（各五錢）　石膏　上每服</p>
<p><u>涼膈散</u></p>
<p>治實熱，口舌生瘡，牙齒作痛，或喉舌腫痛，便溺秘赤，或狂言妄語，大便秘結。</p>
<p>大黃　朴硝　甘草（各一兩）　連翹（四兩）　山梔　黃芩　薄荷葉（各一兩）　上為末。每服五七錢，水煎服。如未應，當加之。</p>
<p><u>防風通聖散</u></p>
<p>治風熱熾盛，口舌生瘡，大便秘結，或發熱煩躁，瘡毒作癢等症。</p>
<p>防風　當歸　川芎　芍藥　大黃　芒硝　連翹　薄荷　麻黃　桔梗　石膏　黃芩（各一兩）</p>
<p><u>清咽利膈湯</u></p>
<p>治積熱咽喉腫痛，痰涎壅盛，煩躁飲冷，大便秘結。</p>
<p>金銀花　防風　荊芥　薄荷　桔梗（炒）　黃芩（炒）　黃連（炒，各一錢五分）　山梔子（研）　連翹（各一錢）　玄參　大黃（煨）　朴硝　牛蒡子（研）　甘草（各七分）　上水煎服。</p>
<p><u>金鑰匙</u></p>
<p>治喉閉喉風，痰涎壅塞。</p>
<p>焰硝（一兩五錢）　白僵蠶（一錢）　硼砂（五錢）　腦子（一字）　雄黃（二錢）　上各為末，以竹管吹患處，痰涎即出。如痰涎雖出，咽喉不利，急針患處，以去惡血。</p>
<p><u>潤喉散</u></p>
<p>治氣鬱咽喉閉塞。</p>
<p>桔梗（一兩五錢）　粉草（四錢）　草紫河車（四錢）　香附（三錢）　百藥煎（一錢五分）　上又方薄荷葉、蓬砂各五錢，冰片一錢為末，吹患處甚效。</p>
<p><u>破棺丹</u></p>
<p>（─名通關散）</p>
<p>治咽喉腫痛，水穀不下。</p>
<p>青鹽　白礬　KT　砂（各等分）　上為末，吹患處，有痰吐出。</p>
<p><u>小續命湯</u></p>
<p>治陰毒喉痹。</p>
<p>麻黃（五分）　防風　芍藥　白朮　人參　川芎　附子（生）　防己　黃芩（各二分）</p>
<p>桂枝</p>
<p><u>仲景半夏湯</u></p>
<p>治傷寒喉中生瘡，不能發聲。</p>
<p>半夏　桂枝　甘草（各等分）　上每服七八錢，水煎候冷，細細咽之。</p>
<p><u>萆　散</u></p>
<p>（─名換肌消毒散）</p>
<p>治楊梅瘡，不拘初起潰爛，或發於舌間喉間，並效。</p>
<p>萆　（─名土茯苓，又名冷飯團，五錢）　當歸　白芷　皂角刺　薏苡仁（各二錢）　白蘚皮木瓜（不犯鐵器）　木通　金銀花（各七分）　甘草（五分）　上水煎服。</p>
<p><u>消熱消毒散</u></p>
<p>治咽喉瘡腫，痰涎壅盛，或口舌生瘡，大便秘結。即荊防敗毒散加芩、連、硝黃。</p>
<p><u>人參固本丸</u></p>
<p>治肺氣燥熱，小便短赤，或肺氣虛熱，小便澀滯如淋，此治虛而有火之聖藥也。</p>
<p>生地黃（酒拌）　熟地黃（用生者，酒拌，銅器蒸半日）　天門冬（去心）　麥門冬（去心，各一鹽湯，或溫酒下，中寒人不可服。</p>
<p><u>刺少商穴法</u></p>
<p>穴在手大指內側，去爪甲，針如韭葉，刺入二分許，以手自臂勒至刺處出血即消，若膿成者必須針患處，否則不治。</p>
