<header><h1>經驗奇方</h1></header>
<dl class="元資料" data-type="book">
<div><dt>作者</dt><dd>劉一明</dd></div>
</dl>
<h2>序</h2>
<p>古今方書夥矣。或文理深奧。或議論紛紜。合覽諸編。則備增其美。分觀一集。只各盡所長。知醫者察脈辨症。固應廣為搜羅。不知者卷帙浩繁。奚暇尋其條理。求其至簡至約平易近陳子叨教益。其平時樂善不倦。胞與為懷。公余時兼參醫理。考究精微。一日以所著經驗奇本一書。</p>
<p>內科則有臨危救活之良方。外證又有丸散膏丹之秘訣。無一不備。無美不臻。簡要精詳。開卷了如指掌。向之所恨不傳者。今則得從吾愿耳。得是書者。舉凡居家行旅。以及僻處窮鄉。</p>
<p>隨鐫其後。</p>
<p><u>光緒二十四年歲次戊戌仲冬之月福建海壇林賢慶拜序</u></p>
<h2>卷上</h2>
<h3>濟顛祖師乩傳仙果散</h3>
<p>此散功能去積消痰。通經行氣。取效神速。且便攜帶。居家作客。均宜預備。經久不壞。</p>
<p>愈一泄瀉。每次嚼數分。咽汁吐渣。二三錢即愈。</p>
<p>一紅白痢。日嚼二三錢。一二日即愈。</p>
<p>一諸瘧。日嚼二三錢。連嚼二三日。瘧止為度。</p>
<p>一胃停食積。舌胎必黃濃。日嚼二錢。嚼一二三日。積消胃開為度。</p>
<p>一胃氣疼痛。甚至每晨嘔吐者。用五六錢水煎濃汁。熱服即愈。</p>
<p>一霍亂吐瀉。用四五錢水煎服。即愈。</p>
<p>一風火喉痛喉蛾。嚼二三錢即愈。</p>
<p>一痰嗽。日嚼二錢。連嚼數日。至愈為度。薑湯送服亦可。</p>
<p>一中風不語。每日早晚各服一錢。生薑湯送下。至愈為度。</p>
<p>一飯後動風。旋由胸腹脹起。延脹四肢。名曰氣脹。日嚼二三錢。連嚼數日。俟脹消盡為度一小便短少。旋由兩足背脹起。漸至上身。名曰水脹。治法同上。</p>
<p>一婦女經閉肚脹。手足細瘦。俗名蜘蛛脹。日嚼二三錢。漸嚼漸效。總以脹消盡為度。</p>
<p>自然一婦女經閉。日嚼二錢。至經通為度。或因血衰經閉忌服。</p>
<p>一婦女經水不調。氣鬱不舒。日嚼一二錢。數日即愈。</p>
<p>一婦女臨經腹痛。俟經來痛時。日嚼二錢。連嚼二三日。俟下期見效。</p>
<p>一酒醉人昏。用三四錢。水煎濃汁。熱服即醒。</p>
<p>統須忌食生冷、瓜果、香菇、蘑菇、冬筍、酒糟、蝦蟹、油炸、面食、芋艿、發氣等物。</p>
<p>虛青果（一百斤）　青鹽　白鹽（各四斤）　陳皮（三十兩）　木香　青皮　砂仁（各一十兩）　丁香上藥各先將青白鹽搗極細。分五份。余藥共研為末。青果亦分五份。分次放於木腳盆內。</p>
<p>加核分次放大石臼內。舂成細碎。攤晒三五日。半干為度。切勿太燥。儲潔淨壇內。築實封口。</p>
<p>收藏一二年後。隨時聽用。效難盡述。敬祈仁人君子。如法配製。以備救濟疾苦。功無涯量福有攸歸。</p>
<h3>仙傳三妙膏</h3>
<p>（陰陽症並治）</p>
<p>統治癰疽發背。對口疔瘡。無名腫毒。濕痰流注。楊梅結毒。瘰　馬刀。婦人乳疽。小兒丹瘀痛並大流黃癰疽紫荊皮　石菖蒲　獨活　赤芍　白芷（各二兩）　千金子　川大黃　川黃連　川黃柏　片黃芩蒡子苦參　僵蠶　皮　巴豆　上瑤桂　良薑　蘇木　羌活　麻黃　烏藥　柴胡　天麻　全蠍白蘞　生甘草　防己　貝母（各五錢）　蜈蚣（五條）　蛇蛻（二條）</p>
<p>上藥統切片。用麻油二百兩。入大銅鍋內浸七日夜。再入桃柳桑槐枝各二十一段。每段長寸內。</p>
<p>一人乳香　沒藥（各去油八錢）　血竭　雄黃（各五錢）</p>
<p>此四味各研細末。和勻再研。先入攪勻。再入後藥。</p>
<p>真云麝　沉香　檀香　降香　木香　楓香　藿香　丁香（各五錢）　珍珠　冰片（各三錢）此十味。各研極細末。和勻再研。徐徐添入。攪極勻。再入樟腦五錢。再攪勻成膏。收藏聽</p>
<p>（陰陽症並治）</p>
<p>統治癰疽發背。對口疔瘡。無名腫毒。濕痰流注。楊梅結毒。瘰　馬刀。婦人乳疽。小兒丹瘀痛並大流黃癰疽紫荊皮　石菖蒲　獨活　赤芍　白芷（各二兩）　千金子　川大黃　川黃連　川黃柏　片黃芩蒡子苦參　僵蠶　皮　巴豆　上瑤桂　良薑　蘇木　羌活　麻黃　烏藥　柴胡　天麻　全蠍白蘞　生甘草　防己　貝母（各五錢）　蜈蚣（五條）　蛇蛻（二條）</p>
<p>上藥統切片。用麻油二百兩。入大銅鍋內浸七日夜。再入桃柳桑槐枝各二十一段。每段長寸內。</p>
<p>一人乳香　沒藥（各去油八錢）　血竭　雄黃（各五錢）</p>
<p>此四味各研細末。和勻再研。先入攪勻。再入後藥。</p>
<p>真云麝　沉香　檀香　降香　木香　楓香　藿香　丁香（各五錢）　珍珠　冰片（各三錢）此十味。各研極細末。和勻再研。徐徐添入。攪極勻。再入樟腦五錢。再攪勻成膏。收藏聽</p>
<h3>萬應膏</h3>
<p>專治跌打損傷。青腫疼痛。如皮破出血者忌用。又治手足等處瘋痛。肝胃氣痛。胸腹腰等處嫩松香（一斤黃老者不用）　蓖麻仁　巴豆仁（各二兩）　康青　杏仁（開水泡去皮各一兩）　膽上藥。先將松香。用鐵鍋。水煎三次。取起候干。隔一日。研細末。再以蓖麻仁、巴豆仁、如泥。</p>
<p>舂。再</p>
<h3>黃蠟膏</h3>
<p>專治新舊　瘡。忌食酒糟。豬、羊、雞、鵝。香菇、麻菇、冬筍、煎炒、發氣等物。</p>
<p>黃蠟（八兩）　穿山甲　五倍子　血竭（各二兩）　麻油（二斤）　生槐枝　生柳枝（各四十二寸上藥用銅鍋熬成七分。濾去渣。再加乳香、沒藥（各一兩）赤石脂、龍骨、五靈脂（各六各研細末。攪勻候冷。加三梅冰（五錢）和勻。裝入瓷罐聽用。愈陳愈妙。用時將患處腐膿。</p>
<p>紙拭乾淨。切忌水洗。油紙攤貼。每日早夜各換一次。效驗如神。</p>
<h3>豬膽膏</h3>
<p>專治大小無名腫毒。肉白色淡。陰疽忌用。</p>
<p>每年夏至後。用粗缽一個。逐日赴市討取豬膽。不拘多寡。攜回破膽皮。放汁於缽。隨放隨效</p>
<h3>第一靈寶丹</h3>
<p>此丹能卻百病。通利關竅。取效神速。居家出門。常宜預備。誠救急之靈丹。濟世之良藥也一受暑肚痛。或感寒鼻塞。頭疼腹痛。用丹少許。搐鼻一二次。取嚏十余聲即愈。如病稍重一感受暑氣。或受熱太過。關竅不通。或受寒氣。手足厥冷。氣閉血滯。默睡無語。須抹兩抑使一疫癘時行。取丹抹兩眼尖角三次。蓋被略睡。出汗自愈。</p>
<p>一指上生瘡。用雞蛋一枚。開一孔。攪勻黃白。入丹五厘。再攪勻。套指上。一二枚即愈。</p>
<p>一初起無名腫毒。用真米醋調搽。</p>
<p>一火眼之症。取丹抹眼角。</p>
<p>一六畜遇時症。取丹抹兩眼尖角。二三次即愈。</p>
<p>一常帶身上。疫氣不能沾染。孕婦忌服。搐鼻。抹眼角不忌。</p>
<p>辰砂（二兩）　雄精（五錢）　真蟾酥　鬧陽花（各一錢）　真云麝　上冰片　老薑粉（各三分）上藥將前四味。各研極細末和勻。後三味次第加入。研至勻細為度。裝儲瓷瓶。</p>
<p>勿令泄氣。</p>
<h3>萬應十寶丹</h3>
<p>此丹乃仙傳秘方。丸治百病。其效如神。遇有疑似未明。一時迫切之症。可將此丹內服外用之良一中寒中暑。痧脹吐瀉。手足厥冷。並吐瀉不出。先以三丸研末。吹入鼻內。再以二十九丸一感冒風寒惡心頭痛。或肚腹飽脹。及風痰等症。以七丸放舌上。微麻咽下。</p>
<p>一受寒受暑。痧脹甚重。絞腸肚痛。心口閉悶。或不省人事。以五丸研細末。次入鼻內取嚏一緊痰氣厥。昏迷不省。牙關緊閉。不能服藥。即以十數丸研細。吹入鼻內。無嚏再吹。</p>
<p>總一癰疽疔毒。惡瘡頑KT　。發背對口。用數十丸研細末。好紹酒陳米醋調敷。再酌輕重服之。</p>
<p>一蛇蠍蜈蚣諸蟲咬傷。俱用數丸研細末。用好酒陳米醋調敷。內酌輕重服之。</p>
<p>一小兒急驚風。牙關緊閉。不能服藥。以四五丸研末。吹入鼻內。取嚏即醒。再以七丸溫水一臌脹水腫。噎嗝反胃。以三丸放舌尖上。微麻咽下。再服念三丸。日服二次。十日即愈。</p>
<p>一胃口疼痛。氣痛寒痛。甚至飲食不下。以五丸放舌尖上。微麻咽下。再用花椒七粒煎湯。</p>
<p>一山嵐瘴氣。夏月途行。空心觸受穢氣。口含三丸。使邪氣不能侵入。每遇盛寒盛暑。</p>
<p>早晨一吐血衄血便血。其勢甚重。即用鮮藕自然汁送服念一丸。如無鮮藕。用干藕節七個。</p>
<p>煎湯一跌打至死。驚死熱死。魘魅氣悶至死等症。凡有微氣。以數丸研細吹鼻內。再用溫水調灌一瘟瘧暑瘧。日久不愈之瘧。或先熱後冷。或先冷後熱。無論陰瘧陽瘧。於迎瘧來時。</p>
<p>用松一泄瀉紅白痢噤口痢。雖日夜幾十次。勢甚委頓。用開水送下念一丸。立止如神。</p>
<p>一時疫頭痛身痛肚疼頭眩眼黑。以九丸放舌尖上。閉口微麻咽下。再用溫水送服念一丸即愈一婦女經水不調經閉等症。經水不調。用當歸、生地、白芍、川芎各一錢。煎湯送服念一丸即愈。　經閉用紅花一錢。煎湯送服念九丸。連服三次即愈。</p>
<p>一疝氣上衝於心。不能行走者。用小茴香七粒研末。滾水沖送服三十九丸即愈。</p>
<p>一小兒悶痘悶疹。用薄荷芫荽各一錢。煎湯灌送三十丸即愈。</p>
<p>茅蒼朮（米泔水浸軟切片焙乾三兩）　大黃（切片焙乾六兩）　麻黃（去節細銼）　明天麻（切片兩）　丁香（六錢上藥各研極細末。和勻再研。燒酒為丸。如粟米粒大。外以朱砂三兩六錢研細末。水飛晒乾</p>
<h3>如意丹</h3>
<p>治癰疽大毒惡瘡。並刀石破傷潰爛。功能解膿提毒。去腐生肌。</p>
<p>川五倍（焙燥二兩）　明雄精　炙山甲（各四錢）　蜈蚣（焙）　全蠍（焙各七只）　蟬蛻（焙一十上藥各研極細末。和勻再研。儲瓷瓶勿令出氣。臨用時。先將腐膿用弱紙拭淨。以破散羊毫其</p>
<h3>三仙丹</h3>
<p>專治諸瘡毒腐。並拔陳瘡管肉。</p>
<p>火硝　皂礬（各三兩）　水銀（一兩五錢）</p>
<p>前二味先研勻細。加水銀研勻。攤入小鐵鍋內。以大碗蓋之。碗口四圍用綿紙條拈捻。</p>
<p>面糊文後如秋糝少已盡必見</p>
<h3>萬靈丹</h3>
<p>專治癲狗毒蛇咬傷。並一切中毒疼痛等症。修合時須齋戒虔誠。</p>
<p>明雄精（四錢）　制甘石（一錢五分）　牙硝（一錢三分）　真云麝當門子（一錢）　大梅冰（九分）</p>
<p>上藥各研細末。和勻再研極細。儲瓷瓶。黃蠟封口。勿令泄氣。臨醫時。令患人仰臥。</p>
<p>患口內抹此</p>
<h3>玉華丹</h3>
<p>治眼患外障。紅腫羞澀。昏盲翳膜等症。</p>
<p>爐甘石（八兩選如白雲片羊髓者佳）　川黃連（四兩去蘆切碎水四鐘浸半日重湯燉汁）　童便（上藥先將甘石放傾銀罐內。炭火　成碧芭。取起以川連童便汁淬之。再　再淬。連　淬七次用珍片（撥出</p>
<h3>白降丹</h3>
<p>專拔舊瘡新老管肉。</p>
<p>火硝　皂礬　白礬（各一兩五錢）　水銀（一兩）　朱砂　雄精　砂　食鹽（各五錢）</p>
<p>各研細末。和勻裝入傾銀罐內。微火結胎。旋以茶碗蓋蓋之。不時揭起細看。須至碗蓋內毫無水氣為度。工夫全在於此。切宜慎之。再用木腳盆一個。盛清水半盆。盆內放大瓷碗一只碗內中間放瓷碟一只。碟內放綿紙二層。碟須大於銀罐口者。即將藥胎銀罐倒覆碟內。碟四圍用綿紙條拈捻。面糊封口。再用田中半爛泥於碗內四圍。封至半碗。總以銀罐半露半沒泥平為度。但半露之碗邊。須泥塗滿。約濃三四分。又用杉木炭燒紅。蓋其滿滿。先文後至兩點鐘時。分去火炭候冷。去泥揭開。銀罐碟內。見丹如白藕絲色者為上品。不成絲粉亦可用。如色黃則太老矣。用之恐不靈。</p>
<h3>辟瘟回生丸</h3>
<p>此丸能治諸病。通經絡。和營衛。解表攻裡。效驗神速。居家出門。常宜預備。誠救急之靈一傷風頭痛。鼻塞聲重。取一丸研細末。開水沖服。暖睡取汗即愈。</p>
<p>一傷寒憎寒發熱。研一丸開水沖服。蓋被暖睡取汗。重則再服即愈。</p>
<p>一感冒頭痛身痛。咳嗽多痰。研一丸開水沖服。暖睡取汗。重則再服。</p>
<p>一上吐下瀉。口渴便赤。研服一丸。重則再服。</p>
<p>一感受時疫。身發微熱。昏迷愛睡。研一丸。開水沖服。暖睡取汗。輕則即愈。重則服二三一瘟疫瘴癘。或起結核。俗呼為老鼠瘟。研服一丸。連服二三丸。核散即愈。極重服至五丸一濕毒流注腳腫。研服一丸。連服二三丸即愈。</p>
<p>一風火喉痹。研服一丸。連服二三丸即愈。</p>
<p>一毒痢及風熱斑疹。研服一丸。連服二三丸即愈。</p>
<p>一心經疔初起。脈散牙緊。手足麻木發軟。閉目不語。急視前後心有紅點。用針刺破出血。</p>
<p>製蒼朮（十兩）　桔梗　神麯（各六兩）　貫眾　熟大黃　法半夏　川厚朴（薑汁炒）　飛滑石芥皂角殼木香上藥提出雄朱。另研細末。其余共研細末過秤。連同雄朱二味淨重若干。計以三錢和丸一粒研融散不錢。</p>
<h3>菩提丸</h3>
<p>治夏月中暑。霍亂吐瀉。風寒咳嗽。飲食停滯。發冷發熱。瘧疾痰症。胸膈不寬。遍身疼痛藿香　薄荷　半夏（薑汁拌）　香附　砂仁　山楂　茅蒼朮　川厚朴　蘇葉　麥芽　陳皮上藥共研細末。荷葉煎湯。每重三錢。合煉一丸。研細送服。</p>
<p>暑症。藿香湯下。　霍亂吐瀉。胡椒七粒。綠豆一撮。煎湯下。</p>
<p>咳嗽。百部湯下。　寒症。瘧痰。泄瀉。俱薑湯下。</p>
<h3>五香丸</h3>
<p>善能消食。消積。消痞。消痰。消氣。消滯。消腫。消痛。消血。消痢。消蠱。消隔。</p>
<p>消脹香附（去淨毛水浸一日）　五靈脂（各一斤）　黑丑　白丑（各二兩）</p>
<p>上藥共研細末。以一半微火炒熟。一半生用。和勻。真米醋糊為丸。如萊菔子大。每服一錢藥到</p>
<h3>指迷茯苓丸</h3>
<p>治痰迷心竅羊癇等症。並治手臂疼痛。不能舉動。或時左右轉移。此伏痰停滯中脘。脾氣不而痛薑製半夏　白茯苓（各四兩）　炒枳殼（二兩）　風化硝（五錢）</p>
<p>上藥各研細末。先將風化硝。開水沖烊。以老薑一兩余。舂汁和入硝內。煮白面粉糊為丸。</p>
<h3>九龍敗毒丸</h3>
<p>治梅毒初發。遍身見紅點者。或陽物腫痛破爛者。並治橫　一切火盛大毒等症。</p>
<p>乳香　沒藥（各去油）　巴豆仁（留油）　兒茶　血竭　木香（各等分）</p>
<p>上藥各研細末和勻。煉蜜為丸。如黃豆大。晒乾錫瓶收儲。勿令泄氣受蒸。每服九丸。</p>
<p>空心愈者。再服一次。至重不過三服。至如陽物腫痛破爛。另用珍珠散（方見後）日日糝之。自然去腐生新。其效無比。再服丸之後。瀉穢甚毒。務瀉僻處。隨蓋泥土。切勿登廁。免貽人害。慎</p>
<h3>化毒丸</h3>
<p>治一切癰腫。陽症大毒。楊梅結毒等症。日久不能全愈者。</p>
<p>綠豆粉　刺　皮（各二兩）　生大黃　槐角　細茶葉（各一兩）　瓜子仁（一兩另研）　全蠍（念上藥各研細末和勻。煉糊為丸。如綠豆大。每早服三錢。患在上部。白開水送下。中部。</p>
<p>杜</p>
<h3>陽和丸</h3>
<p>治一切陰疽。初起時漫腫肉白色淡者是瑤桂心（一兩）　麻黃　薑炭（各五錢）</p>
<p>上藥各研細末和勻。黃米飯搗爛為丸。如綠豆大。每日開水送服二錢。宜暖睡出汗。至愈為度。</p>
<h3>痢瀉丸</h3>
<p>專治痢疾泄瀉。</p>
<p>全當歸　生白芍（各六兩）　枳殼　檳榔　萊菔子（各二兩）　車前子　生甘草（各一兩）</p>
<p>上藥共研細末。水發為丸。如萊菔子大。每服五錢。小兒每服三錢。開水送下。數服即愈。</p>
<h3>珍珠散</h3>
<p>治下疳陽物腫痛破爛等症。</p>
<p>珍珠（　灰）　枯礬　雄精　黃柏　宮粉（　各等分）</p>
<p>上藥各研細末。和勻再研極細。儲瓷瓶。用米泔水洗淨患處。日糝數次。數日即愈。</p>
<h3>琥珀珍珠八寶丹</h3>
<p>治一切濕瘡。</p>
<p>甘石　赤石脂　上血竭　兒茶（各二錢）　龍骨（一錢）　珍珠　琥珀　象皮（各五分）</p>
<p>上藥各研細末。和勻再研極細。儲瓷瓶聽用。</p>
<h3>鐵扇散</h3>
<p>象皮（切薄片焙黃色以干為度勿令焦）　龍骨（用上白者生研各五錢）　陳鍛石（數百年者佳）</p>
<p>末）　飛白礬上藥共研極細末。儲瓷瓶。遇有一切破傷者。用藥敷傷口。以扇扇之立愈。不必包裹過暖。</p>
<p>煎黃昔有一人。因口角用刀自刎。傷長二寸余。食嗓半斷。傷口冒血。痛甚。在地打滾。不能敷半日</p>
<h3>白附散</h3>
<p>（一名玉真散）</p>
<p>專治跌墜毆壓馬踢刀箭諸傷。雖腎子壓出者可治。立能止血止痛。並不忌風。</p>
<p>白附子（十二兩）　生南星　白芷　天麻　羌活　防風（各一兩）</p>
<p>上藥各研極細末和勻。如破傷出血者。就糝患上。傷重者。黃酒浸服二三錢。多飲者易麻倒麻以</p>
<h3>金花散</h3>
<p>治發背對口。肚癰腰癰。搭手　瘡。一切紅腫癰毒。</p>
<p>生石膏（一斤　熟）　黃丹（一兩）</p>
<p>上藥各研細末。和勻再研。儲瓶候用。生豬板油。不拘幾兩。扯去皮搗爛。將散緩緩加入。</p>
<p>散糝命飲</p>
<h3>降癰活命飲</h3>
<p>治一切有名腫毒。無論陰陽症。初起能益氣和血解毒托裡。破後能排膿去腐生肌長肉。</p>
<p>誠瘡大當歸（八錢）　生黃　金銀花（各五錢）　生甘草（三錢）</p>
<p>患在上部加川芎（二錢）。在中部加桔梗（二錢）。在下部加牛膝（二錢）。如泄瀉加蒼白朮（各二錢）。嘔吐惡心加陳皮半夏（各一錢）。不思飲食加白朮（三錢）。陳皮（一錢）</p>
<p>氣虛加黨參（五錢）。陰疽肉白色淡。無論冬夏。加陳皮、麻黃（各六分）。瑤桂心、炮薑（各一錢五分）。切不可妄行加減。再如排膿加白芷（二錢）。欲破加皂刺（一錢五分）。已破者不用。火氣盛加上藥用陳紹酒清水各一碗。煎濃汁熱服。服後宜暖睡出汗。</p>
<h3>銀青散</h3>
<p>治男子陰頭生瘡。腐爛疼癢。女人陰戶兩旁生瘡。濕爛腫痛發癢。並治小兒痘疤腫爛。</p>
<p>痘後白螺螄殼（取土牆上白色者佳去淨泥火　二兩）　橄欖核（火　）　寒水石（各四錢）　各研極細上藥共研勻。另儲瓷瓶。勿令泄氣。用麻油調敷患處。濕者干糝。神效無比。</p>
<h3>青金散</h3>
<p>治小兒胎毒。疳瘡。蠟梨頭瘡。男婦發癢濕瘡等症。</p>
<p>嫩松香（一斤鐵鍋內熬烊至沸平為度立刻取起切勿過時若遇時性太烈不用倒在紙鋪有凹泥地上藥各研細末。和勻再研。儲瓷瓶。用真麻油調敷患處。每日一換。切忌水洗。並須忌食發</p>
<h3>松香散</h3>
<p>治小兒胎毒。蠟梨頭瘡。並男婦一切濕瘡。</p>
<p>老松香（炒）　枯礬（各二兩）　黃丹（微炒）　青黛（各一兩）　鉛粉（炒淨勿留鉛氣五錢）</p>
<p>上藥各研細末。和勻再研。儲瓷瓶。濕則干糝。干則麻油調搽。每日一換切忌水洗。忌食發</p>
<h3>紫袍散</h3>
<p>治咽喉十八症。</p>
<p>石青　青黛　朱砂　白硼砂（各一兩）　人中白（　）　冰片　膽礬　元明粉　山豆根（各三分）</p>
<p>上藥共研細末。瓷瓶收儲封密。臨用時取二三厘。吹咽喉即愈。</p>
<h3>萬應吹喉散</h3>
<p>治喉癰。喉痹。喉痧。纏喉風。雙單乳蛾。陰虛咽喉等症。</p>
<p>上犀黃（一錢）　滴乳石　兒茶（各五錢）　黃連　川鬱金（各四錢）　上血竭　青黛　真硼砂一錢）</p>
<p>上藥各研細末。按件稱準。和勻再研極細。瓷瓶收藏。勿令泄氣。遇症連吹數次。其效如神</p>
<h3>消痔千金散</h3>
<p>兒茶　黃連　寒水石（各五分）　硼砂　赤石脂　甘石（各三分）　熊膽（二分）　上梅冰（一上藥各研細末。和勻再研。儲瓷瓶。清茶調敷患上。腫痛立止。</p>
<p>又外痔用紅棗去核。入銅青線扎。炭火上　存性。研細末。痔濕干糝。干則以津潤濕擦之。</p>
<h3>一笑散</h3>
<p>治風火牙痛。</p>
<p>雄黃精（四錢）　生石膏　朱砂　馬牙硝（各二錢）　大梅冰（五分）</p>
<p>上藥各研細末。和勻再研。儲瓷瓶。搐鼻擦牙。各少許。數次即愈。</p>
<h3>光明散</h3>
<p>治時眼紅腫。疼痛多眵。流淚羞明。</p>
<p>上甘石（　淬法同上一兩）　飛朱砂　飛月石（各五錢）　真云麝　上梅冰（各八分）</p>
<p>上藥各研細末。和勻再研極細。儲瓷瓶封口。勿令泄氣。令病患仰臥。以牙簽沾藥點大小</p>
<h3>涼血散火湯</h3>
<p>生地（二錢）　當歸尾　赤芍　條芩　牡丹皮（各一錢五分）　柴胡　車前子　荊芥　防風（各如頭痛惡風發熱。加羌活（一錢）。眼痛不可忍。並口渴。加酒炒川連（一錢）。如腫不消。紅上藥水煎。食後服。每日一劑。病退為度。</p>
<h3>當歸湯</h3>
<p>治跌打損傷。未破口者。功能散瘀活血。雖已氣絕。牙關緊閉。照白糖飲治法。擦開灌之亦當歸　澤瀉（各五錢）　川芎　紅花　桃仁　丹皮（各三錢）　好蘇木（二錢）</p>
<p>如頭傷加　本（一錢）。手傷加桂枝（一錢）。腰傷加杜仲（一錢）。脅傷加白芥子（一錢）。膝傷上藥用紹酒清水各一碗。煎六分。熱服。</p>
<h3>白糖飲</h3>
<p>凡跌打損傷。如已氣絕。牙關緊閉。先用半夏在兩腮邊擦之。牙關自開。急用熱紹酒沖白糖至靈女右</p>
<h3>九龍定風針</h3>
<p>治跌打損傷。或手足肩腰瘋痛。年久不愈。酸痛隱在骨節筋間。非膏藥煎劑之力所能到者。</p>
<p>生草烏　生川烏　北細辛　鬧陽花（各三錢）　漂蒼朮（三錢五分）　瑤桂心（四錢）　白芷（二上藥各研細末。和勻再研極細。薑汁煉作條。如不好做。以白芨研細末。滾薑汁攪作糊。</p>
<p>搗筷秋呼穴</p>
<h3>紫金錠</h3>
<p>此藥能治百病。效驗如神。居家出門。不可不備。</p>
<p>一凡中飲食藥毒。瘴氣河豚土菌死牛馬等毒。並用涼水磨服一錠。或吐或痢即愈。</p>
<p>一癰疽。發背。疔腫。楊梅等一切惡症。風疹。赤游。痔瘡。並用溫水或酒磨。日塗數次即一陰症傷寒。狂亂。瘟疫。喉痹。喉風。並用冷水入薄荷汁數匙化下。</p>
<p>一心胃及一切氣痛。用淡酒化下。</p>
<p>一泄瀉。痢疾。霍亂。絞腸痧。用薄荷湯化下。</p>
<p>一中風。中氣。口緊眼歪。五癲。五癇。鬼邪。鬼胎。筋攣。骨節痛。暖酒化下。</p>
<p>一自縊。溺水。心頭溫者。冷水磨灌下。</p>
<p>一傳尸癆瘵。涼水化服。取下惡物蟲積為妙。</p>
<p>一久近瘧疾。將發時東流水煎。桃枝湯化服。</p>
<p>一婦女經閉。紅花酒化服。</p>
<p>一小兒驚風。五疳。五痢。薄荷湯化服。（慢驚忌用）</p>
<p>一頭風。頭痛。酒研貼兩太陽上。</p>
<p>一諸腹鼓脹。麥芽湯化下。</p>
<p>一風蟲牙痛。酒磨塗之。亦吞少許。</p>
<p>一打撲損傷。松節煎湯化下。</p>
<p>一湯泡火傷。毒蛇惡犬咬傷。冷水磨塗。仍服之。</p>
<p>山慈菇（洗淨去皮焙二兩）　五倍子（剖洗焙二兩）　千金子仁（白者佳研紙壓去油一兩）　紅芽上藥各研細末。和勻再研極細。以端午七夕重陽。或天德月德天赦天醫黃道上吉日。預先齋者服</p>
<h3>烏金錠</h3>
<p>治癰瘡初起。火盛紅腫者。</p>
<p>川五倍（剖洗焙燥）　生肥皂（去子弦筋焙燥各二兩）　乳香　沒藥（各去油六錢）</p>
<p>上藥各研細末。和勻用真米醋搗爛作錠。每重二錢。晒極燥。儲洋鐵筒。用時真米醋磨濃。</p>
<p>收小</p>
<h3>祛瘋酒</h3>
<p>治一切瘋痛。半身不遂等症。</p>
<p>大熟地　龍眼肉（各二兩）　全當歸　潞黨參　炙棉　米仁　茯神　甘枸花（各五錢）</p>
<p>炒白川二錢）</p>
<p>上藥用陳紹酒浸瓷瓶。瓷盤作蓋。棉紙封口。重湯燉至點三炷香時為度。隨量溫飲。一日兩</p>
<h3>葵花油</h3>
<p>專治湯泡火燒。</p>
<p>每年六七月。秋葵花開時。買麻油二三斤。儲瓷瓶。約大半瓶為度。每晨盡采秋葵花。</p>
<p>去心晒。</p>
<p>妥處</p>
<h3>枸橘湯</h3>
<p>專治子癰。腎子作痛。而不升上。外現紅色者是也。此症宜速治。遲則潰爛致命。慎之慎之錢五分）水煎溫服。二三劑即愈。</p>
<h3>八珍粉</h3>
<p>治脾虛久瀉。或轉腫脹。善能去濕健脾。</p>
<p>蓮子（劈開去心）　南芡實　米仁　白扁豆　淮山藥　雲茯苓（各八兩）　糯米　粳米（各半升）</p>
<p>上藥各炒微黃。和勻。用水磨磨細粉。儲洋鐵瓶。每餐飯宜少吃。俟上下半日腹微飢時。</p>
<p>取</p>
<h3>仙傳午時茶</h3>
<p>專治傷風。頭痛。冒暑。發痧。吐瀉等症。</p>
<p>茯苓片（八兩）　柴胡（六兩）　澤瀉片　枳殼片　蘇葉　防風　扁豆　赤小豆（各五兩）　忍冬鉤藤（二百上藥先將荷葉。放大鐵鍋內。加水煎汁去渣。再將茯苓等十七味。一並下鍋。煎至汁水較濃連同攤晒袋。</p>
<h3>海豬肉</h3>
<p>專治小兒胎毒。疳瘡。痘　回毒。散漫蠟梨頭等症。</p>
<p>用海豬肉數斤。不經水洗。切薄片。以白鹽腌之。儲瓷瓶泥封口。凡遇可治之症。取肉一片</p>
<h3>仙傳驚風丸</h3>
<p>專治幼孩各項驚風。其效如神。</p>
<p>雌雄蚱蜢（各一百只須至立冬日向稻田內捉取放瓦　上文火焙乾研細末）　廣黃（五分）</p>
<p>真琥上藥各研細末。和勻再研。清水和為丸。每丸約重五分。臨用時取一丸。研細末。用鉤藤煎</p>
<h2>卷下</h2>
<h3>急救服鴉片毒並治湯火傷</h3>
<p>凡遇服鴉片毒者。急用生南瓜。又名金瓜。嫩者更好。搗露一小茶杯。服下立解。不必取吐瓜露時值斬去斬去數層又方用巴豆仁一粒。礬紅少許。冷飯數粒。搗爛搓成一丸。如龍眼核大。服下即解。雖口齒</p>
<h3>急救服砒毒</h3>
<p>用防風一兩研細末。水調灌之。如吐再灌。無不立解。</p>
<h3>急救服鹽鹵毒</h3>
<p>生豆腐漿。冷服二三碗。即解。至神至妙。如一時難得。以黃豆攪粉。沖冷水去渣。服之亦</p>
<h3>急救壓死跌死</h3>
<p>急扶起。盤腳坐地。以手提其發。將生半夏末吹兩鼻中。以生薑汁灌之。只要心頭微溫。</p>
<p>雖</p>
<h3>婦人難產</h3>
<p>產久不下。連服此方二三四帖頭煎。不用二煎。以力薄也。服至產為度。產後忌服。接服生木茯神（三產以氣血為主。氣足則易於送胎出門。血足則易於滑胎落地。若忍痛久則傷氣。而氣不足。</p>
<p>氣質產下以開試生化湯　當歸（八錢）　川芎（四錢）　桃仁（十粒杵碎）　薑炭（五分）　炙甘草（五分）</p>
<p>上藥水煎熱服。每日服一帖。連服四五帖。</p>
<h3>婦人行經腹痛</h3>
<p>製香附　當歸尾（各二錢）　延胡　赤芍　丹皮　川芎（各一錢五分）　生地（一錢）　紅花（八上藥俟臨痛時。每日水煎服一帖。連服二三帖即愈。愈後永遠忌食生冷茶飯水果等物。</p>
<p>不久</p>
<h3>產後血崩</h3>
<p>產後血大來。須看血色之紅紫。視形氣之虛實。如血色多紫。乃當去之敗血。留之反作痛。</p>
<p>血。</p>
<p>止。</p>
<p>月外加參生化湯　治產後血崩。形脫。氣促。汗多。</p>
<p>當歸（四錢）　川芎（三錢）　荊芥（四分）　桃仁（十粒杵碎）　高麗參（三錢）　瑤桂（五分二帖如汗出不止。加黃　高麗參。（各三錢）渴加麥冬五味。瀉加茯苓蓮子。兩手脈伏。或右手脈驚悸加聞藥加炒升舉大補湯　治產後日久。血崩不止。或如雞卵大塊。或去血如片。宜大補脾胃。升提氣血高麗參　白朮（各三錢）　熟地（二錢）　當歸（一錢五分）　川芎　黃　（各一錢）　白芷荊芥如渴加麥冬五味。瀉加澤瀉蓮子。痰加半夏。兼白帶者。加蒼朮、半夏各一錢。俱水煎熱服生脈散　保肺清心。治氣少汗多。兼口渴。病危脈絕。並夏月火旺爍金。</p>
<p>高麗參（五分）　麥冬（八分）　五味子（九粒）　水煎溫服。</p>
<h3>產後心腹痛</h3>
<p>產後心痛。即胃脘痛。以胃脘在心之下。因傷寒氣及冷物。故作痛。用生化湯。佐以散寒消則若加味生化湯　當歸（四錢）　川芎（二錢）　炮薑　炙甘草（各五分）　桃仁（十粒杵碎）　痛止去一錢。傷肉食加砂仁</p>
<h3>婦人經血過多遍身疼痛</h3>
<p>此乃血不歸經。肝不藏血之故。宜用歸芍湯。</p>
<p>全當歸（一兩）　生白芍（五錢）　水煎溫服。日服一帖。連服十余帖。下期經水照常則愈。或</p>
<h3>婦人乳核</h3>
<p>生地　澤蘭（各四錢）　王不留行　蒲公英　大力子（各三錢）　炒白芍　小青皮　廣鬱金　川煎。每日飯後又方。蒲公英（四錢）夏布包。鹿角枝（刨薄片三錢）陳紹酒水各一杯。煎汁熱服一二三服。</p>
<h3>男子疝氣痛</h3>
<p>白歸身　老生薑（各三錢）　用羊肉煎湯。每日煎服一帖。連服數帖即愈。</p>
<p>三四日兩頭瘧（此系陰陽兩虧之症）</p>
<p>大熟地　龜板　鱉甲（各四錢）　西黨參　炒茯苓　柴胡（各三錢）　檳榔　青皮　炙甘草（各上藥。水煎熱服。每日服一帖。發日早服二三帖即愈。接服補藥。調養二三旬。務使氣血復</p>
<h3>痢疾</h3>
<p>全當歸　生白芍（各一兩）　飛滑石　藿香（各二錢）　葛根　檳榔　生甘草　枳殼（各一錢）</p>
<p>上藥水煎熱服。無論紅白痛與不痛。日夜瀉數十次。每日服一帖。漸服漸效。輕則二三帖。</p>
<h3>急治絞腸痧</h3>
<p>（一名干霍亂）</p>
<p>生白礬末（二錢）陰陽水一鐘調飲。吐出暑氣。更刺委中穴。及十手指近甲處。出血更妙。暫</p>
<h3>急治木舌</h3>
<p>此症多生於四五月間。少年男女。五臟之火齊升。其舌忽時腫大者。急用生鮮茄數個。</p>
<p>搗汁效。</p>
<h3>急治喉痹</h3>
<p>痹者閉也。喉間閉塞。重者聲啞。本無微恙。頃刻而起者是。</p>
<p>巴豆仁（三粒）　細辛末（三文）</p>
<p>上藥共搗爛。搓長條。約大半寸。放綿紙上。卷作條。約長一寸。居中刀切斷。將切斷兩頭又方或用瑤桂心　炮薑　生甘草（各五分）　共盛碗內。取滾水沖入。仍將碗放滾水內。</p>
<p>服藥</p>
<h3>纏喉風喉痹</h3>
<p>此症胸膈氣急。忽然喉嚨腫痛。手足厥冷。氣閉不通。</p>
<p>明雄精（二錢）　真鬱金（一錢）　巴豆霜（三分）</p>
<p>上藥各研細末和勻。煉為丸。如白芥子大。每服十二丸。滾水送下。如口噤喉塞。用細筆管</p>
<h3>纏喉風並一切喉症</h3>
<p>蘇梗　牛蒡子　元參　赤芍　黃芩　花粉　射干　連翹殼　荊芥　防風（各一錢五分）</p>
<p>川連上藥水煎溫服。每日服一帖。二三帖即愈。惟須早服。遲恐不及。</p>
<h3>纏喉風</h3>
<p>（此方活人甚多）</p>
<p>生白礬細末（五分）　烏雞蛋（一枚）　調勻。灌入喉中立效。</p>
<h3>單雙喉蛾</h3>
<p>用萬年青根二寸。洗淨削去皮。切薄片。搗爛如泥。加真米醋一酒杯攪勻。含咽數次。</p>
<p>俟蛾</p>
<h3>爛喉</h3>
<p>（此疾日久不愈甚至時延兩三年者）</p>
<p>燕窠泥（五錢）　鳳凰殼（三錢）　生老薑　煨薑（各七片）</p>
<p>福建建寧縣潘吉泰之妻。前患此症醫藥罔效。延至三年不愈。後服一二帖見效。接服附子炮</p>
<h3>頭風</h3>
<p>或因風入眼竅。以致目瞳漸黃失明。如法治之。頭風全愈。目亦復明。惟失明已久者。</p>
<p>頭風蝥（俗名斑蝥）　不拘多少。焙乾研細末。篩去渣。儲瓷瓶。用小黃蜆殼二個。各放藥末大愈。如邊可也</p>
<h3>胃氣痛</h3>
<p>（此症甚者每晨吐清水或連頭痛）</p>
<p>製香附（二錢）　良薑（一錢五分）　砂仁末（八分）</p>
<p>如病重常吐清水加吳茱萸二錢。</p>
<p>上藥水煎熱服。二三帖即愈。永遠忌食生冷瓜果。以免復發。</p>
<h3>腦流</h3>
<p>用老絲瓜筋晒燥。瓦上　炭研末。每服一錢。臨臥之時。熱紹酒送下。三五服即愈。</p>
<h3>風火眼疾</h3>
<p>或紅腫疼痛。或起紅翳。或上下瞼內起紅皮。或眼珠上起白點。或小兒疳眼發癢者均治。</p>
<p>用著有輕獲速鵝復</p>
<h3>小兒慢驚</h3>
<p>用真艾絨作團。如桐子大。灸頭頂發旋穴五壯。又灸腎莖根當中。直上依本身名指內一中節頭後</p>
<h3>小兒走馬牙疳</h3>
<p>紅棗（三枚去核）　紅砒（三厘）　將砒勻入棗內。用線扎好。以半濕田泥包裹。炭火。候冷速。</p>
<h3>蟲疾</h3>
<p>此疾面色黃瘦。飲食少進。不時腹痛。甚者。口吐清水。</p>
<p>尖檳榔（二兩）　廣木香（一兩）</p>
<p>共研極細末。每服五錢。小兒三錢。須在月初。於病患腹飢之時。先用煎炒香味食物。</p>
<p>令其</p>
<h3>咳嗽多痰並治吐血</h3>
<p>當歸身（三錢）　生白芍　蜜款冬　蜜枇葉（各二錢）　牡丹皮（一錢五分）　炙甘草　桔梗（各如氣緊加蘇子一錢。</p>
<p>上藥水煎熱服。日服一帖。輕者三五帖即愈。重者服至全愈為度。忌食雞、鵝、豬、羊、酒誤</p>
<h3>乾咳無痰</h3>
<p>（此症甚至日久不愈者）</p>
<p>用紅糖拌稀飯。連吃數日即愈。愈後宜服滋陰補血之劑。以復其元。並須忌房事。省辛勞。</p>
<h3>婦人干血癆</h3>
<p>（後載二方宜參觀之）</p>
<p>杭白朮　龜板（各一錢五分）　鱉血柴胡　淮山藥（各一錢）　女貞子（一錢二分）　甘草（七分）</p>
<p>另方見後。</p>
<h3>孕婦胎墜壓脬</h3>
<p>孕婦足月之際。身弱氣虛。胎忽下墜。將尿脬口壓閉。以致尿不能放。時久脹痛難忍。</p>
<p>急令胎升沖而</p>
<h3>受暑</h3>
<p>此症頭額脹冷。心胸飽滿。或覺頭眩。或時發冷。飯食減少。足軟無力。脈象浮虛者是。</p>
<p>六一散（三錢）　藿香（一錢半）　真青蒿梗（子不用土者不靈各二錢五分）</p>
<p>如胸膈飽滿者。宜加川厚朴一錢五分。</p>
<p>上藥水煎熱。開水沖熱服。頭額手足出汗即效。每一二日服一帖。連服數帖全愈。</p>
<h3>傷寒小肚驟然脹痛</h3>
<p>此症或至腎子升上。脹痛更甚。</p>
<p>用大蔥頭六七個。切碎搗爛。放大碗內。陳紹酒半斤。重湯燉滾。沖入熱服。立刻全愈。</p>
<p>或</p>
<h3>傷寒忽然發冷發熱</h3>
<p>此症小便長。口不渴。先冷後熱。甚至人昏。脈象沉細。系寒症也。</p>
<p>淡附片（四錢）　吳茱萸　炮薑（各二錢）　當歸　白芍（各二錢五分）　水煎熱服。</p>
<p>出汗即愈。</p>
<h3>傷寒身體不時發抖</h3>
<p>淡附片　桂枝尖　生白芍（各二錢）　炙甘草（一錢）　生薑（三片）　紅棗（三枚）</p>
<p>上藥水煎熱服。每日服一帖。連服二三帖。至愈為度。</p>
<h3>小兒傷寒忽然眼翻口吐涎沫手足抽搐。</h3>
<p>生薑　紅糖（各二錢）</p>
<p>上藥水煎熱服。吐出積痰即愈。惟須加穿衣褲。使其和暖為要。</p>
<h3>陰火發燒</h3>
<p>此症日夜發燒。人昏。燒後即退。退時人清。口不甚渴。渴不多飲。甚至眼鼻嘴內。津液干當歸身　生白芍（各三錢）</p>
<p>上藥水煎熱服。每日服一二帖。漸服漸效。至燒退盡為度。接服元麥地黃湯。數帖即愈。</p>
<p>元參　麥冬（各二錢）　熟地（四錢）　淮山藥　白茯苓（各三錢）　山萸肉　牡丹皮　澤瀉（各</p>
<h3>魚口便毒</h3>
<p>此症生在小肚兩旁。初起硬腫。未紅未痛之時。尚可發散。</p>
<p>第一靈寶丹一錢。生白礬末五分。研勻。雄豬膽汁調搽。每日一換。燥則覺痛。以米醋雞毛</p>
<h3>脫骨疽</h3>
<p>此症生手足各指。或生指頭。或生指節指縫。初生或白色痛極。或如粟米。起一黃　。</p>
<p>其皮用頂大生甘草。研極細末。麻油調濃敷之。每日一換。不可間斷。再用金銀花　元參（各三兩）　當歸（二兩）　生甘草（一兩）　水煎服。每日一帖。連服十帖必愈。永無後患。藥味切</p>
<h3>紅絲疔</h3>
<p>此症生於手足掌脛等處。疔邊有紅絲一條。循腕股而上。漸上漸寬。急用艾絨作團。如桐子丹治</p>
<h3>牙漏</h3>
<p>此症難於收功。依法治之。無不速愈斷根。不用散丹。只要日貼三妙膏（方見卷上）。</p>
<p>內服元</p>
<h3>血痣</h3>
<p>此症生於兩太陽等處。陡起紅點如粟粒者是。覺癢手搔破。出血如紅絲線不止。急用瘦豬肉一</p>
<h3>痔痛下血</h3>
<p>當歸　川芎　黃　神麯　槐花　地榆（各一兩）　阿膠珠　血余炭　荊芥穗（炒炭）　木賊草上藥共研細末。煉蜜為丸。如桐子大。每服五十丸。食前米湯送下。</p>
<h3>臟毒</h3>
<p>干柿（二錢）燒灰研細末。開水送服。昔有一人患此症。下血數年。得此方服。一次即愈。</p>
<h3>腸風</h3>
<p>（此症糞後出血其色紫黑者是）</p>
<p>大龍眼肉（一粒）　包苦參子仁（七粒）　空心開水送下。每日一服。連服三四日即愈。</p>
<p>又方。</p>
<h3>黃胖病</h3>
<p>黑棗（一斤煮熟去皮）　青礬（一文研細）　米醋（一文）　共搗爛。煉為丸。如桐子大。晒燥為止。</p>
<h3>肚痛霍亂吐瀉</h3>
<p>雄黃　生白礬（各等分）</p>
<p>共研細末。用晚米飯搗爛煉為丸。如綠豆大。　每服三錢。開水送下即愈。　孕婦忌服。</p>
<h3>又治霍亂時證</h3>
<p>凡上吐下瀉。又有吐而不瀉。瀉而不吐。亦有吐瀉不出者。名為干霍亂。治不得法立死。</p>
<p>此藿香　炒蒼朮　柴胡　羌活（各二錢）　澤瀉　木通（各一錢）　神麯　陳茶葉（各三錢）　加生蔥連根（如口乾。加鮮荷葉一塊。</p>
<p>清水濃煎。溫服。輕者一服。重者再服即愈。</p>
<p>此方得於四川呂祖宮內。石碑刻就。治愈多人。</p>
<h3>一切牙痛</h3>
<p>長紙煤二條。須內空者。剪去頭一寸。以斷處留出寸半。余以燈油蘸全。將頭先後插入左右效如</p>
<h3>各種脹病</h3>
<p>（附補藥二方）</p>
<p>一曰氣脹。因飯後口角動氣而成。先由胸腹脹起。漸漸延脹四肢。飲食少進。氣不寬舒。</p>
<p>二曰水脹。因小便短少而成。先由兩足背脹起。漸至上身。胃口漸閉而氣漸促。　以上二症三錢。</p>
<p>淡薑湯三曰臌脹。俗名蜘蛛脹。此因婦女經閉。肚腹漸脹。四肢漸細。狀若蜘蛛也。飲食減少。</p>
<p>夜度。自然眠食如常。接服後開補藥二方。至數月後。血氣充足。經水自通。亦不忌咸。</p>
<p>四曰脾虛脹。因脾虛泄瀉。日久不愈。轉為脹病。治法以祛濕健脾為主。宜服八珍粉。（方上下半日。各取八珍粉一二湯瓢。加白糖開水沖糊。作點心食之。</p>
<p>漸又有病後之人。手足頭面胸腹等處。忽然浮腫。問其大小便如常。胃口尚開。夜睡安穩。</p>
<p>惟宜以上各種脹病。自調治起。務須忌食生冷水果。並一切發氣各物四個月。保無後患。</p>
<p>補藥第一方　大熟地　全當歸　白茯苓　淮山藥　南芡實（各三錢）　潞黨參　炒冬術炒白錢）　生薑（補藥第二方　大熟地　全當歸（各四錢）　潞黨參　炙黃　白茯苓　南芡實　淮山藥（各三甘草（一錢）</p>
<h3>男婦痞塊</h3>
<p>（宜用六味地黃丸其效如神）</p>
<p>大熟地（一斤）　淮山藥　山萸肉（各八兩）　白茯苓　牡丹皮　澤瀉（各六兩）</p>
<p>上藥研細末。白蜜煉為丸。如綠豆大。每晨服五錢。淡鹽湯送下。漸服漸效。切勿間斷。</p>
<p>至</p>
<h3>遺精</h3>
<p>此症系勤勞太過。心腎不交所致。心火旺則腎水溢。腎水溢則下泄矣。方以補中土為主。</p>
<p>土抱木茯神　漂於朮　石蓮子（各三錢）　九制何首烏（二錢五分）　女貞子（二錢）　遠志肉　柏上藥水煎熱服。每日一帖。連服五六帖。接服後方。</p>
<p>大熟地（五錢）　雲茯苓　抱木茯神（各四錢）　山萸肉　遠志肉（各三錢）　生棗仁（一錢五分）</p>
<p>錢）　正瑤桂心（苡仁（各四錢）</p>
<p>錢五分）　黃連（三分）</p>
<p>大熟地　雲茯苓　薏苡仁　山萸肉　生棗仁（各三錢）　抱木茯神土炒漂白朮　杭白芍（各二數帖。至全愈</p>
<h3>瘰</h3>
<p>生薑一片。如一錢濃。貼　上。艾絨一團。略小於　。捻緊上尖下平。放薑片上灸之。</p>
<p>火息去其</p>
<h3>癲狗咬傷</h3>
<h4>毒發欲死</h4>
<p>凡被癲狗咬或銜衣。即觸毒瓦斯。設自昧不覺。未經早治。或治不中肯。急則七日發作。</p>
<p>緩作嚼舌風即亦以其癲急方見後。</p>
<p>真紋黨　紅柴胡　前胡　羌活　獨活　茯苓　生甘草（各三錢）　炒枳殼　桔梗　撫芎（各二清水濃煎。溫服。</p>
<p>又據友云。癲狗來家。或遇諸塗。不及趨避。或被咬銜衣。感觸毒瓦斯。知覺畏風畏鑼聲。</p>
<p>或毒欲永保無虞。設好狗被咬。於未發之先。亦用此方。加烏藥一兩。水濃煎。拌飯與食。斷不致癲。屢經照方施治。應手見效。即孕婦亦可服愈。並無他患。靈驗異常。所望仁人君子。大發慈悲。刊印傳送。俾得周知。隨遇施救。功德無量。</p>
<h3>毒蛇咬</h3>
<p>用田雞草。放口內嚼融敷傷處。立能止痛消腫。</p>
<h3>風濕腳腫</h3>
<p>杉木皮（二兩）　東瓜皮　柚子皮（各一兩）　生薑皮　蒼朮　防風（各五錢）　桑葉　桑枝桂酒腳（一斤）</p>
<p>加</p>
<h3>手足風濕麻木作痛</h3>
<p>生黃　桑寄生　木瓜　老生薑（各三錢）　生白芍（二錢）　大紅棗（二十枚）　用米酒燉透代</p>
<h3>食積嘔水</h3>
<p>陽附三錢　西莊黃力勝生軍　檳榔（各一錢）　細辛（二分）　水煎熱服一二帖。取瀉即愈。</p>
<h3>腎子腫痛名曰子癰</h3>
<p>此症腎囊發紅。腎子下墜者是。若不速治。潰爛致命。</p>
<p>用活青竹一段。長尺余。放柴火上。四面燒黑。淬入清水。立刻取起其竹尚溫。以色布包裹又方　用枸橘湯。方見卷上。服二三帖即愈。</p>
<h3>手腕彎十指屈身體瘦不起床名曰癱症</h3>
<p>當歸（二兩）　川芎（八錢）　枸杞子　菟絲子（各五錢）　川杜仲　巴戟天（各三錢）</p>
<p>鹿茸（二錢）　川牛膝（上藥提出鹿茸。研極細末。放有蓋茶碗內。或放參罐內更好。余藥水煎汁沖入。重湯燉化。</p>
<p>一帖建寧縣黃震旺君。於而立之年。曾患此症。醫藥罔效。後遇良醫。開服前方。共服六百多帖以廣</p>
<h3>十指屈伸如樹段不能稍動大便堅閉脈極弱細</h3>
<p>（名木癱症與前症稍異耳）</p>
<p>白歸身（六錢）　熟地　炙黃　淡蓯蓉（各四錢）　鹿茸末　生白芍（各二錢）　川牛膝（一錢）　川上藥以四物湯為主。加參　鹿茸蓯蓉。為補益氣血。生津以潤化。加威靈仙川牛膝。為利機取能元建寧縣醫士朱田　君。於知命之年。曾患此症。系照前方服至全愈。面授此方。以廣流傳</p>
<h3>拔老瘡管</h3>
<p>先用升降丹。將患口爛稍大。再用扁柏嫩葉少許搗爛。加紅糖少許。煉勻取如黃豆大一粒。</p>
<p>每</p>
<h3>一切瘧疾</h3>
<p>白胡椒粉。（一錢）　第一靈寶丹。（三分）　研勻儲瓷瓶。勿令泄氣。不拘何瘧。取藥一分。</p>
<h3>奇病乳垂</h3>
<p>某婦產後兩乳下垂。長過小腹。形細如牛筋。疼痛異常。即延新到之王醫者名其年診視。</p>
<p>用</p>
<h3>初生小兒解痘</h3>
<p>生地　當歸　赤芍（各二錢）　金銀花　荊芥穗　紅花　桃仁（各一錢）　生甘草（五分）</p>
<p>上藥用水二茶杯。煎一茶杯。取本小兒臍帶約二三寸。炭火焙乾研末。調入藥內。令小兒數於小</p>
<h3>慢驚風</h3>
<p>慢驚之症。緣小兒吐瀉得之為最多。或久瘧久痢。或痘後疹後。或因風寒飲食積滯。過用攻昏氣白。</p>
<p>角弓若再或實蓋補土所以敵木。治本即所以治標。凡小兒一經吐瀉交作。即是最危之症。若其屢作不已。</p>
<p>無論痘後疹後病後。不拘何因。皆當急用參朮。以救胃氣。不唯傷食當救之。即傷寒傷暑。</p>
<p>亦當救之。蓋其先雖有寒暑實邪。一經吐瀉。業已全除。脾胃空虛。倉廩匱乏。若不急救。</p>
<p>恐虛痰上涌。命在頃刻矣。庸醫見之。皆誤指為熱為食。投以清火去積涼藥。立時告變。為之奈何。於是群起而嘩曰。慢驚本不治之症也。夫慢症而以急症治之。不死何待。今既以慢驚為不治矣。曷不推究此理。與其失之寒涼。萬難生活。不若失之溫補。猶可療救。此論發明吐瀉驚風之理。極為明確。亦極易辨別。後之君子。將臚列各條。細加詳察。如有數處相合。即急救之。萬不可再有濡滯。致喚奈何也。今將慢驚辨症。臚列於後。</p>
<p>一慢驚吐瀉。脾胃虛寒也。　一慢驚身冷。陽氣抑遏不出也。</p>
<p>一慢驚鼻孔煽動。真陰失守。虛火爍肺也。</p>
<p>一慢驚面色青黃及白色。乃氣血兩虛也。</p>
<p>一慢驚大小便清白。腎與大腸全無火也。</p>
<p>一慢驚昏睡露睛。神氣不足也。一慢驚手足抽掣。血不行於四肢也。</p>
<p>一慢驚角弓反張。血虛筋急也。</p>
<p>一慢驚乍熱乍冷。陰血虛少。陰陽錯亂也。</p>
<p>一慢驚汗出如洗。陽虛而表不固也。</p>
<p>一慢驚手足螈　。血不足以養筋也。</p>
<p>一慢驚囟門下陷。虛至極也。</p>
<p>一慢驚身雖發熱。口唇焦裂出血。卻不喜飲涼茶水。以及所吐之乳所瀉之物。皆不甚消化。</p>
<p>大凡小兒因發熱不退。及吐瀉過多。總屬陰虛陽越。必須預防其成慢驚之症。此與感冒風寒進溫小兒之為病。須細察其形色。再探問乳之者。病因何而起。所食何物。曾否驚嚇。夜間如何今將經驗二方列後。</p>
<p>逐寒蕩驚湯　此方藥性溫暖。專治小兒體弱久病。或痘疹後誤服寒涼。轉為慢驚。。認系虛瑤桂心（一錢研細或磨濃汁不可經火）　炮薑（一錢）　胡椒（一錢研）　丁香（十粒研）另用灶心土三兩煮水澄極清。煎前四藥之末。一大酒杯。頻頻灌下一二劑。嘔吐漸止。</p>
<p>再接加味理中地黃湯　此方助氣補血。治小兒精神虧。氣血壞。野狼狽瘦弱。皆可挽回。濃煎頻服熟地（五錢）　當歸（三錢如三四劑後泄瀉未止者去之）　山萸肉（一錢六分）　枸杞（三錢）　白朮（四錢）　條參（二錢）　炮薑（一錢五分）　棗仁（二錢）　炙甘草（一錢）　五味子（一錢）　瑤桂心（一錢）　破故紙（二錢）　生薑（三片）　紅棗（三枚）　胡桃（一個）　打碎為引。仍用灶心攙入。量兒大小。分數次灌之。如錢。泄瀉不止。加丁香六分。只服二分。蓋因附子大熱。中病即宜去腑固結不開。如不用丁香。則泄瀉時斟酌。萬全而已。此方乃救陰固微見驚搐。胃中尚可受藥吃乳便利如小兒尚未成驚。不過昏睡發熱等症。總屬陰虛。均宜服之。若可用清解之劑。但果系實火。必火可知矣。此方補造化陰陽所不兒。稍有起色。即多服之。可奏用溫中補脾湯。如不應。再用此湯。溫中補脾湯　西黨參　炙黃　於朮（各一錢）　乾薑　白蔻砂仁（各八分）　炙甘草　茯苓　官（三枚）</p>
<p>水煎濃汁一酒杯。頻頻灌之。必獲應效。</p>
<h3>大麻瘋一名紫雪瘋</h3>
<p>鎮江丁參將患此症。得此秘方。治之痊愈。又醫多人。無不取效如神。但患此症者。眉毛若試百湯藥方　陳皮　白芷　苦參　天麻　秦艽　川續斷　荊芥　薏苡仁　防風　羌活　風藤牛（一片）</p>
<p>水二碗。煎至一碗熱服。渣再煎服。</p>
<p>丸藥方　大胡麻　小胡麻　白蒺藜（各一斤四兩）　苦參（一斤）　荊芥　防風（各八兩）　當歸　蒼朮上藥共研細末。水發為丸如綠豆大。每丸藥一錢。加楓子膏。春秋各八厘。夏六厘。冬一分</p>
<h3>楓子膏</h3>
<p>大楓子（一斤去殼用仁）</p>
<p>銅鍋內炒至三分紅色七分黑色為度。太過則無力。不及則傷眼。炒後研成細膏。如紅沙糖一如上百日內切忌房事。切忌食鹽。犯之不愈。並忌醬油醋。及一切雞鵝魚肉發氣動風等物。</p>
<h3>小孩日夜咳嗽吐痰兼血</h3>
<p>（此乃痧氣入肝致成連珠嗽痰色白血鮮紅氣或急或緩時熱時寒飯食少進大便似近於痢傅伯焦山梔　山茶花（各三錢）　川貝母　冬桑葉　馬兜鈴　杏仁　旋覆花（各二錢）　碧玉散（三錢）　炒枯芩　紫菀（各一錢五分）　款冬　通草（各一錢）　枇杷葉（三片）　水煎服二帖。接山茶花　白蛤殼（各三錢）　旋覆花　馬兜鈴　款冬　川貝母　紫菀　焦梔子（各二錢）</p>
<p>百部漸獲全</p>
<p>將本人兩手中指頭頂合攏。用艾圓各灸五壯。又於頸後頭節二節骨上。各灸五壯。又於屁股又方　用山羊血數分。陳紹酒燉化熱服。一二次即愈。</p>
<h3>爛腳瘡</h3>
<p>爐甘石（四錢）　上冰片（一分）　豬腳骨髓（一副）</p>
<p>上藥先將甘石冰片各研細末。和勻。再將豬骨髓搗爛。以前二味藥末和入。搗勻。貯磁碗。</p>
