<header><h1>原要論</h1></header>
<dl class="元資料" data-type="book">
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1828">公元1828年</data></dd></div>
<div><dt>作者</dt><dd>袁氏（佚名）</dd></div>
</dl>
<h2>序</h2>
<p>自來醫之一道，內症憑脈象，外症憑形狀。外症惟痘　最關緊要，痘症見於古人坊本者甚多，而於治　則尚略。邇來痘　，迥非昔比，調治非時，變為棘手。吾郡袁氏沈氏虞氏，有治抄本，其論症辨狀，甚為了然。對症用藥，亦極詳慎，爰糾同志，登諸梨棗，以廣厥傳。</p>
<p>至症之輕重，時之寒熱，地之燥濕，則尤在高明者因宜增減，諒不泥於古也。</p>
<p><u>長至節後三日東農主人謹序</u></p>
<h2>總論</h2>
<p>痘出於五臟，疹由於六腑，皆是命門相火，一感時生，發泄陰陽胎毒。然痘出於五臟，俱有見症，而疹於肺居多，何也？蓋肺屬金，清氣上浮而多嗽。故疹未有不嗽者，若嗽多者肺之鬱火也；疹未有不喉痛者，喉痛肺之竅塞也。肺火上衝於喉故痛，痛者啞之由也。疹多腹痛，大腸與肺相表裡，肺火上衝於內故腹痛。疹多泄瀉，大腸為肺傳逮之官，肺火下注故泄瀉。疹多喘，喘者肺氣大盛也。疹多痰，痰者肺火蒸腐也。疹症不出於肺，治疹之法，初宜升提，頭面背部俱出，未至手足者，用升中之輕降。如未至爪甲者，切不可重用降藥，宜降中之升藥。疹未出齊，雖有梟毒烈火諸症，只可用破敵之法，如石膏、大黃、力子、山楂、荊芥、干葛，佐以桔梗、薄荷、木通、杏仁、蘇子之類。瘀血加赤芍、紅花，腹痛加桃仁、青皮，無汗加麻黃，名曰完濟。待至出齊，重用栝蔞、花粉、生地、丹參、知母、羚羊、山梔、黃芩。舌上黑刺，加犀角、黃連，鼻衄亦宜投。咽痛加元參、山豆根，齦腫亦可用。睛紅目痛，加菊花、木賊草、柴胡之類。蟲積肚痛，加胡連、使君子、雷丸、檳榔、花椒。然此類宜毒有未發之地，後必余火纏擾，若下稠上疏，須防收緊作喘之症，當用大黃、青皮以透之，再加紫草、赤芍，以導其瘀，徐徐收去，方為無害。切不可風吹，致毛竅閉塞而即沒矣。</p>
<h2>論汗</h2>
<p>疹之初出未出時，俱宜微汗。汗則肌膚通暢，腠理開豁，而毒自透。一見微汗，不宜過用升發之藥，致使汗多亡陽，輕者變重，重者難救。隱暗不透之症，因之並發，不可不慎。又有無汗者何？緣重感風寒，使皮膚干燥，毛竅不開，而疹不出，多成內攻之患，使腹脹氣喘，秋夏宜微加升發，春冬重以疏散，但使渾身有微汗為妙。又有痰鳴，無分遲早，急用寒涼降火清潤之藥，佐以升發，否則變為敗症。故自始至終，得汗為主，若無汗，後必多余毒，宜解毒為要。</p>
<p><u>秋夏微加升發湯</u></p>
<p>升麻　葛根　蘇葉　羌活　赤芍　甘草</p>
<p><u>春冬重以疏散湯</u></p>
<p>　即升發湯。加麻黃　桂枝</p>
<p><u>寒涼降火湯</u></p>
<p>生地　黃芩　黃連　山梔　石膏　花粉　杏仁　蘇子　生甘草</p>
<p><u>佐以升發湯</u></p>
<p>薄荷　山楂　大力　桔梗　杏仁　蘇子　升麻</p>
<h2>麻症干渴發熱論</h2>
<p>（微熱　壯熱　乍熱　潮熱　復熱）</p>
<p>小兒口唇紅如丹，是欲發渴，皆內熱所致。然宜辨其虛實，二便閉是實，用清熱和涼之藥。二便清利，唇口淡而渴是虛，必其先食寒涼，致中氣干燥也，急補中氣。若腹脹不食，是為敗症，至於麻症有遠近，不比於痘，或三四日，或五六日，或八九日或半月，又乍寒乍熱，至壯熱經日不退是也。若始熱遂見外疹，又宜詳察。有微熱者，熱輕而不壯也，此初起之時則猶可，將出之時則不可，恐其不能透表，急用疏托之藥。如沒當未盡沒時，毒輕而清，不必服藥。若夫壯熱者，熱甚而經日不退也，初見太熱，至出時而不稍退，其症必重，若先熱至出重是為順症，如已出盡而有此壯熱，宜服疏托和解之藥，至沒後而熱不退，更宜用和解之藥，以免後患。又有乍熱者，或熱數日，過數日又熱，或乍熱，或午熱，未出之時見之，總毒不透，急宜疏托。沒後及未沒見之，毒有未盡，宜涼解分利。亦有因病後中氣虛弱者，臨症者須酌治。若夫潮熱者，一日一至，如潮之汛而不失也。初出必無此症，至出後沒後者有之。此因氣血而作，治宜益陰而退陽可也。且有復熱者，謂熱退而復發也，皆因余毒未解，宜疏解為上，妄用燥劑，必致不治。</p>
<h2>論下體冷全身冷</h2>
<p>疹之有下體冷者，不比疫疾，謂頭溫足冷，作逆症看，麻出自上，故上熱而下冷。若初起時上熱下冷，不妨，出完之時，下體冷是逆症，須詳審而治。又有身體四肢如冰者，麻本屬火，全身自應溫暖，今反冰冷，必是逆症。若初出正出之時不熱，則毒不能盡出，而反漸沒。若正沒沒後有此者，必脾胃倒壞，氣血大虛，毒不能盡，後變無窮，定為不治，故不立法。</p>
<h2>論口瘡</h2>
<p>口瘡者，心脾之火，多見於正沒之時，皆因余毒未盡，留於上焦，必大便閉，小便赤，宜清利脾火，兼滑大腸為主。若乳上小兒之母，亦當服藥，使乳清涼。</p>
<h2>論腹痛</h2>
<p>疹之腹痛者，毒瓦斯內作而不能透表，多見於初出正出之時，治宜疏托，發出即止。如正沒未沒盡而痛，緣外邪未盡。而復於內，亦宜疏托，佐以清涼。然細微處，以意度之，從外症加減。</p>
<h2>論吐痰</h2>
<p>痰之吐有二，有吐出如絲者。有吐出成塊者，皆由肺胃之火，久積而作。宜清肺消痰降火為主，不可用南星、半夏香燥溫脾之藥。</p>
<h2>論唇舌乾燥唇舌破裂舌苔</h2>
<p>舌燥多屬於脾，脾熱有二：一則唇白而燥，其熱尚微；一則唇赤而燥，其熱則重。又有帶紫黑而燥，其熱尤重，治宜清熱分利而已。何則？舌乃心之苗，麻本火候屬於心，故舌苔有三種，黃白黑是也。白者微熱，黃者雖重可治，黑則難治。此症不分始末，不過清熱疏利而已。舌破唇裂者，此心脾二火盛，上衝所致，其色必深紅而紫黑。亦有不紫紅而赤甚者，其火不輕，治當分首尾。若初熱而色赤，此火不解而毒不盡。若其色有活，猶可以治用寒涼，加以疏托。倘紫黑焦枯，而色不活者不治。若已出而有此症難治。蓋毒雖出而唇舌破裂者，心脾二經俱壞也。若將沒之時有此，亦危候也，當謹慎細察為要。</p>
<h2>論發斑</h2>
<p>發斑者，火毒熾甚，血被熬煎，當以紫草、紅花、石膏等味，涼血清火為主。亦有初熱時為風寒所搏，而成癮疹，似斑非斑，治宜疏解，其癮自退。若誤為真斑，而用寒涼，以致水瀉不止，元氣下陷，不能透表，危亡立至，可不慎諸？</p>
<h2>論云暗</h2>
<p>疹如云暗者，上有大片紅腫者，大片紅腫之間，又有小顆粒於其上，皆由火盛所致，重用寒涼之藥，不可遲緩。如身上一片紅暗，與皮內一片並樣，此症只可發散。若發散後仍如此者，不治。</p>
<h2>看疹諸色論</h2>
<p>疹色之美惡，與痘無異，紅活滋潤者吉。有一樣色淡而潤，是無內症，其疹最清。若淡而不潤，或干燥，或嫩艷，此不正之色。火毒盛伏，當清火解毒為要。又有一樣深紅者，其色紅而且重，是血熱，宜清散之。又有一種艷紅者，其色如胭脂，是血熱，其內必有火，火遇火必發毒，大用寒涼，以先制其焰，否則狂躁喘急立至。又有一種干紅者，如紙之礬於紅，滯而不活，內有伏火，血受其瘀，顆粒必大，嗽而必喘，急用攻破。又有一種色紫者，是熱極將瘀，急破血以涼之，若帶艷則重甚矣。又有一種色黯者，其症較紫更重，初出急破，遲則難救，若半靨色黯者無妨。又有一種其色白者，血瘀之極，此是內症，急破其瘀，遲則倒靨面白，故須山楂、丹皮、紅花、大黃、生地、桃仁等劑，如勻淨無內症，身不熱，不咳嗽，是血不足而無火，不必多治，宜審之。</p>
<h2>論咳嗽</h2>
<p>麻症之乾咳，連聲不斷也，因火旺肺躍。凡疹先時喜咳，咳甚則毛竅開而易透，咳微則腠理閉而難透，故方出之時欲其咳。至既出之後，欲其不咳為佳，如仍有咳，當以清痰降火為要。若初起時不咳，麻必不出，於發散中加半夏，以助其嗽，使麻可出。</p>
<h2>論鼻涕鼻衄鼻扇</h2>
<p>鼻通多涕，此肺氣順也，最吉。故初出時至沒後，而皆有是者，此肺氣和平而不阻塞，順症也，不必服藥。今云多涕，謂濃涕而時有也，非謂涕少而暫有，臨症者宜推之。</p>
<p>若無涕鼻干，肺腑火熱，閉塞毛竅不通，初出未出時，得此必重。又有內為熱甚外為鼻眵所結，至於無涕，云其眵結而涕自見，是肺氣通。雖重可救。如真有鼻干無涕，此症甚危，亦輕沒後，治宜詳審。若下藥得噴嚏，肺氣得解而通也。將出未出之時，必先外感，而今得通故也，其毒雖重可救。正出而得此症，其毒盡解，又何後患？又有衄血者，因內熱狂盛，邪血沸騰，血從火化，是以從肺而上溢於鼻，名曰衄血。將出未出之時，而忽有衄，是毒從衄解，不必服藥。至於久衄不可，若出透與沒後有此症者，宜於清肺藥中佐以涼血之味，使火退而衄止。如並口中有血者，服涼劑不止，惟用發散，使毒得出，而衄自止矣。又有名為鼻扇者，是肺氣將絕也。喘滿喉鳴，多屬於痰，因火毒內結而亢甚，若喉中無痰喘，精神如故，還可挽救，急用潤肺消痰清熱為主，否則難治。</p>
<h2>論發搐</h2>
<p>疹之發搐，不比尋常。若喉中發痰，非真搐也，當分先後。若見於發熱初出之候不妨，治宜疏托，引加清涼。若見於正出已沒之時難治。總要清上焦之熱，兼利小便而已。</p>
<h2>總附咳嗽諸方論</h2>
<p>凡疹回後，有咳嗽者，是火氣旺燥，肺金受克故也。治宜清金降火湯，用黃芩、黃連、山梔、石膏、花粉、貝母、陳皮、桑皮、杏仁、蘇子、甘草、麥冬、栝蔞仁。如不應，外加葶藶、枳殼。若聲不出，以清金降火湯作主，再加葶藶。倘有煩躁腹脹，瀉痢不止，聲啞唇青紫黑者，宜用黃連解毒湯，藥用黃芩、黃連、枳殼、歸尾、紅花、赤芍、生甘草、大黃。或用甘桔湯，甘草、桔梗、力子、玄參、連翹、知母、杏仁、乾薑。若痰中帶血，喘促悶亂，用涼膈散，黃芩、山梔、薄荷、連翹、生甘草、大黃。</p>
<h2>總附渴症諸方論</h2>
<p>凡疹渴有二者，虛實是也。看其舌苔起，唇紅色，有如丹，二便閉，此內熱所致，內外皆實，治宜清涼疏理之藥，生地、黃芩、花粉、牛蒡、連翹、荊芥、葛根、桔梗、石膏、黃連，加燈草。若唇口淡紅，舌上無苔，二便清調，此是內虛，宜清金益肺湯，沙參、麥冬、生地、丹參，綠豆湯或芝麻茶炒米湯。如氣喘腹脹，是為敗症，切不可飲冷水，致生蓄水之患。</p>
<h2>總附鼻涕鼻衄諸方論</h2>
<p>凡疹無涕者，此因火旺鑠金，治宜清金肺潤湯，藥用知母、黃芩、生地、花粉、連翹、蔞仁。一疹有鼻衄者，皆肺金鬱熱火沖之故，當以葛根、生地、山梔、薄荷、丹皮、茅根、犀角、羚羊角、黃芩。出齊之後而有此症，當用犀角地黃湯，加茵陳、木通，使火下行而愈。犀角地黃湯，生地、犀角、丹皮、白芍加茵陳、木通。</p>
<h2>發水泡論</h2>
<p>疹有發水泡者，此因火毒太甚，迫於肌膚而不能透表，故發水泡，此症多於見點之時，亦有於未見點之時，皆為不治，故不立法。</p>
<h2>論氣促</h2>
<p>疹之有氣促者，由肺不清而致，當分先後。若見於正出未出之時，宜疏托。若見於已出正沒之時，宜降火清痰之藥。</p>
<h2>眼閉論（總附白珠赤珠）</h2>
<p>疹有眼閉者，常於沒後見之，皆因脾火旺盛，致目腫而閉，但宜清上焦之藥，兼以利水，使熱退而眼自開矣。又有白珠者，又有赤紅者，俱屬肺氣，宜清肺火，兼以風藥佐之。</p>
<h2>嚙牙論</h2>
<p>疹有嚙牙者，是陽陷於陰，熱火相搏，故嚙牙耳。其口必多渴，手足俱熱，喜食冷物，治宜滋陰降火，不可食辛辣之物。若誤食之，後必下血，痰響而死。</p>
<h2>論吐沫</h2>
<p>吐沫之症，亦由胃火亢盛而致，宜清胃降火為主治。</p>
<h2>論蛔</h2>
<p>疹前吐蛔者，毒火上衝，胃難安養，蛔從上出。若初出發熱之時不妨，待熱退身涼，自然不吐，亦宜清胃，用生地、當歸、丹皮、連翹、石膏、升麻，庶無他症。如已出回時而有此症，用使君子、黃芩、川連、花粉、胡連、川椒為主。如蛔死者，毒火猖獗，胃氣將絕，死期立至。有瀉蛔者，不必過治，清解自愈。如瀉死蛔者亦重。</p>
<h2>論嘔吐</h2>
<p>疹有嘔吐者，毒火沖胃，未經發泄，不必過治。若出齊回後有此症，宜用清涼解毒之藥。</p>
<h2>論泄瀉</h2>
<p>疹有泄瀉者，其色黃而有沫，小便赤澀，口乾唇燥，此因肺經熱甚，未出與當出之時而瀉者，不必服藥。經云毒以痢松，但不宜久，若回後有此泄者，是積熱移於大腸，治宜四苓散，豬苓、茯苓、白朮、澤瀉，加黃芩、黃連、木通、栝蔞仁霜。如下有紅紫色，總因熱毒留連，藥宜赤芍、大黃，行一二次，毒盡自愈，不宜多下。切不可因其泄瀉，用訶、蔻以止之，恐其腹脹喘急而死。如首尾水瀉，小便短赤，用木通、車前利水之劑，佐以升提可也。</p>
<h2>論藥味所忌</h2>
<p>肺屬金，輕清上浮，切忌辛熱香燥。蓋人參補肺，防其肺熱還傷肺；黃　補中，防其助痰而氣喘。當歸辛熱助火，反欲黨邪而為惡；生地補腎，腎為肺子。經曰：實則泄其子，是腎宜瀉不宜補，防風無汗干燥，須當表虛之堪憂。他如乾薑、附子、白朮、丁香、砂仁、肉桂、細辛、藿香、蔻仁、烏藥、草蔻、良薑、茱萸、蓽茇、香附、麝香等藥，皆以辛香，切宜禁用。又忌食物如椒薑糖醋魚鱉蝦蟹豬犬牛羊馬肉，並一切炙　之物，非特助邪為惡，恐天行時氣必然重出，要忌四十九日外，有雞子不可食，恐其壞目，食糖恐犯牙疳。獨有歸、芎，可於血虛色白者權宜酌用。又有忌用大黃而用栝蔞何也，蓋疹發於肺，肺主氣，經曰：氣有餘便是火，肺與大腸相表裡，肺移熱於大腸故秘結，用栝蔞仁以潤肺，佐枳殼以寬腸，則秘自通矣。若大黃號曰將軍，有斬將搴旗之功，恐其太過，致使心血兩虛，則脾燥肺氣囂張，風火益猛矣。</p>
<p>一疹當出之時，被風寒所折，以致色白如肌膚，毛竅聳起如粟子者，宜疏散。用干葛（二錢）　木通（二錢）　川芎（八分）　紅花（四錢）　陳皮（一錢）　羌活（一錢）　防風（二錢）　前胡（二錢）　桔梗（二錢）　荊芥（一錢）　薄荷（一錢）　大力（四錢）　蟬衣（八分）</p>
<p>倘色白如膚，但見粒頭高腫者，此表虛所致，用生地（二錢）　川芎（五分）　紅花（三錢）　歸身（二錢）　大力（四錢）　葛根（一錢）　山梔（一錢）　桔梗（二錢）　木通（一錢）　麥冬（三錢）</p>
<p>一疹因風寒所折，皮膚干燥，毛竅不通，身熱噴嚏，以致不能透發者，宜疏托，用羌活（一錢）　防風（二錢）　葛根（二錢）　蘇葉（二錢）　大力（四錢）　蟬衣（一錢）　前胡（一錢）</p>
<p>荊芥（一錢）　橘紅（一錢）　桔梗（二錢）　木通（一錢）　升麻（二錢）</p>
<p>加大黃、蔥白。</p>
<p>一疹因風寒所折，見暖則和活，不暖則枯燥者，宜涼解。</p>
<p>干葛（二錢）　薄荷（八分）　荊芥（二錢）　桔梗（二錢）　前胡（二錢）　通草（八分）</p>
<p>防風（二錢）　枳殼（二錢）　橘紅（八分）</p>
<p>一疹因毒瓦斯抑郁於內，熱極不能透出，根窠渾成一片，以致色帶紅紫者，急以清解為主，佐以升發，用干葛（二錢）　荊芥（一錢）　薄荷（一錢）　蟬蛻（八分）　大力（五分）　石膏（一兩）　桔梗（二錢）</p>
<p>升麻（一錢）　山梔（四錢）　前胡（二錢）　黃連（六分）　橘紅（二分）</p>
<p>加麻黃四分。</p>
<p>─疹有渾身麻疹，隱於肌膚之間，欲出不透者，宜大升發。</p>
<p>羌活（五分）　防風（一錢）　葛根（二錢）　通草（八分）　薄荷（八分）　大力（五分）　蟬蛻（一錢）　麻黃（八分）　升麻（一錢）　前胡（二錢）　桔梗（二錢）</p>
<p>熱甚加石膏、大黃一疹有胸腹腰背暖處，見粒即紅，手足頭面暫無者，宜清解。</p>
<p>升麻（一錢）　干葛（二錢）　荊芥（一錢）　薄荷（一錢）　大力（五錢）　石膏（三錢）　蟬蛻（八分）　桔梗（二錢）　花粉（六錢）　山梔（四錢）　黃芩（三錢）　前胡（二錢）　橘紅（八分）　福花（二錢）</p>
<p>加麻黃一疹有色紫赤暗，粒頭尖聳者，急用寒涼解毒，佐以消痰。</p>
<p>石膏（一兩）　黃連（一錢）　桔梗（二錢）　荊芥（五分）　山梔（三錢）　干葛（一錢）　陳皮（一錢）　枳殼（一錢）　薄荷（五錢）　前胡（二錢）　大力（五錢）　花粉（一兩）　通草（八分）　紫草（八分）</p>
<p>加大黃。</p>
<p>一疹色鮮紅，點子低陷不高者，其毒重甚，急宜清肺瀉火。</p>
<p>干葛（二錢）　前胡（二錢）　石膏（一兩）　蟬蛻（一錢）　大力（五錢）　薄荷（二錢）　桔梗（二錢）　木通（一錢）　山梔（一錢）　升麻（一錢）　陳皮（一錢）　枳殼（四錢）　荊芥（二錢）</p>
<p>加大黃。</p>
<p>一疹色淡紅，為風寒所折，點子低而色燥不潤，宜疏散。</p>
<p>荊芥（二錢）　防風（二錢）　前胡（二錢）　桔梗（二錢）　大力（四錢）　川芎（八分）　紅花（四分）蟬衣（八分）　干葛（二錢）　通草（八分）　橘紅（八分）　升麻（一錢）</p>
<p>一疹色淡紅，顆粒不高，唇舌俱燥而赤，此毒火內郁，宜用寒涼，佐以疏托。</p>
<p>大黃（三錢）　枳殼（三錢）　山梔（四錢）　桔梗（二錢）　大力（五錢）　蟬衣（二錢）　薄荷（一錢）木通（一錢）　生甘草（八分）　陳皮（二錢）　紫草（一錢）</p>
<p>一疹已出而粒頂尖焦，無論赤紅，皆為熱極，急宜清鮮，佐以涼血。</p>
<p>石膏（一兩）　木通（一錢）　紫草（一錢）　桔梗（二錢）　大力（五錢）　薄荷（一錢）　陳皮（一錢）　黃芩（六錢）　荊芥（一錢）　生甘草（六分）　大黃（三錢）</p>
<p>一疹已出，紅腫太甚者，藥用前胡（二錢）　桔梗（二錢）　干葛（二錢）　薄荷（二錢）　大力（五錢）　荊芥（三錢）　防風（二錢）　山梔（三錢）　木通（一錢）　生甘草（一錢）</p>
<p>如口渴，加石膏、花粉。便閉，加大黃、枳殼。身煩熱，加黃芩、黃連、元參、陳皮。</p>
<p>一疹未出透，而見風早沒，及誤食葷腥油膩，以致毛竅閉塞，不得透表者，俱宜疏托。暖處無點影者，謂之早沒，二症用藥石膏（八錢）　麻黃（八分）　升麻（二錢）　干葛（二錢）　大力（四錢）　蟬蛻（一錢）　桔梗（二錢）　生甘草（一錢）　杏仁（一錢）　荊芥（二錢）　防風（二錢）　木通（一錢）</p>
<p>早沒者加蘆根，誤食者加山楂、枳殼。</p>
<p>一疹未出而呃逆者，是胃敗惡症也，悉屬火毒，以升陽透發為主。</p>
<p>荊芥（二錢）　葛根（三錢）　羌活（二錢）　桔梗（二錢）　大力（四錢）　陳皮（二錢）　石膏（二兩）　黃連（一錢）　生甘草（一錢）　前胡（四錢）　蟬衣（二錢）　升麻（四錢）　竹茹（一錢）　薄荷（一錢）</p>
<p>若疹已透而呃逆者。</p>
<p>花粉（一兩）　荊芥（二錢）　薄荷（一錢）　葛根（三錢）　羌活（二錢）　桔梗（二錢）　大力（四錢）　陳皮（一錢）　石膏（二兩）　黃連（一錢）　生甘草（一錢）　竹茹（一錢）</p>
<p>一疹子出透，三四日而不沒者，此毒火亢盛，宜清涼解毒。</p>
<p>前胡（二錢）　干葛（二錢）　石膏（一兩）　山梔（四錢）　連翹（三錢）　杏仁（一錢）　荊芥（二錢）薄荷（一錢）　木通（一錢）　元參（二錢）</p>
<p>一疹沒肌膚之上無點粒，又見紅片，平而不高者，此沒不盡也。藥用前胡（二錢）　桔梗（二錢）　干葛（二錢）　薄荷（一錢）　大力（四錢）　荊芥（一錢）　木通（二錢）山梔（二錢）　蟬衣（八分）　生甘草（八分）　陳皮（一錢）　枳殼（一錢）</p>
<p>如內熱煩渴，加黃連、石膏。</p>
<p>一疹色帶白干燥，隱隱於皮膚之間，似沒非沒，必因風寒所致，而不能透表故也。急用疏托，勿加寒餌。</p>
<p>前胡（二錢）　桔梗（二錢）　荊芥（二錢）　薄荷（一錢）　生甘草（一錢）　干葛（一錢）　防風（二錢）　木通（一錢）　蟬衣（八分）　大力（四錢）　陳皮（二錢）　福花（三錢）</p>
<p>一疹發熱及正出之時，沉睡不醒，此是火抑於內，而不達於外，後必發熱煩躁，變症多端。藥用前胡（二錢）　干葛（二錢）　荊芥（一錢）　薄荷（一錢）　大力子（六錢）　桔梗（二錢）　木通（一錢）　防風（一錢）　橘紅（八分）　升麻（五分）</p>
<p>一疹子因熱火拂抑而無汗，以致皮膚干燥，唇口破裂，二便不通，沉昏腹脹，氣喘痰鳴，急用寒涼，佐以升發。</p>
<p>石膏（一兩）　紫草（二錢）　麻黃（八分）　蟬衣（八分）　大力（五錢）　干葛（二錢）　薄荷（一錢）　前胡（二錢）　木通（一錢）　紫蘇（一錢）　桔梗（二錢）　荊芥（二錢）　滑石（三錢）</p>
<p>加蔥白三條。</p>
<p>一疹初發熱時，因毒火內迫，以致渾身大汗，不能盡透者，宜清解。</p>
<p>石膏（一兩）　紫蘇（一錢）　干葛（二錢）　薄荷（一錢）　大力（四錢）　桔梗（二錢）　生甘草（一錢）　丹皮（二錢）　山梔（二錢）　前胡（一錢）　荊芥（一錢）</p>
<p>加大黃、淡竹葉。</p>
<p>一疹有冒風寒，皮燥無汗不出，反有腹脹氣喘者，宜疏散。</p>
<p>前胡（二錢）　桔梗（二錢）　干葛（二錢）　防風（一錢）　羌活（一錢）　橘紅（八分）　紫蘇（二錢）　大力（四錢）　蟬衣（一錢）　荊芥（二錢）　木通（一錢）　枳殼（一錢）</p>
<p>或加麻黃、蔥白、陳皮。</p>
<p>一疹症忽有汗，忽無汗，汗後肌膚仍燥，身子大熱，而疹仍未透，宜清解。用前胡（二錢）　桔梗（二錢）　干葛（一錢）　薄荷（一錢）　大力（四錢）　蟬衣（一錢）　生甘草（一錢）　丹皮（二錢）　山梔（一錢）　木通（一錢）　石膏（一兩）　紫草（一錢）</p>
<p>加大黃、淡竹葉。</p>
<p>一疹未出先，昏沉喜睡，倦夢譫語，此因熱毒煩盛，不能外達故也。宜清心解毒。</p>
<p>干葛（一錢）　防風（一錢）　大力（四錢）　蟬衣（八分）　荊芥（二錢）　薄荷（一錢）　前胡（二錢）　桔梗（二錢）　滑石（一錢）　木通（二錢）　陳皮（一錢）　青皮（二錢）　鉤藤（二錢）</p>
<p>加大黃、石膏、黃連、淡竹葉。</p>
<p>一疹已出透，而有譫語者，用荊芥（二錢）　薄荷（一錢）　前胡（二錢）　枳殼（一錢）　黃芩（一兩）　滑石（一錢）　大力（四錢）　木通（二錢）　陳皮（一錢）　青皮（二錢）　鉤藤（二錢）</p>
<p>加大黃、石膏、黃連、淡竹葉。</p>
<p>一疹有元氣素虛之人，疹已透而譫語者，用當歸（三錢）　生地（一錢）　丹參（二錢）　麥冬（三錢）　川貝（一錢）　陳皮（一錢）　連翹（三錢）　生甘草（八分）　山梔（三錢）　鉤藤（一錢）</p>
<p>一疹已出透，而仍煩躁，面赤咽痛，目赤唇焦，宜清降。</p>
<p>黃連（一錢）　石膏（一兩）　黃芩（一兩）　山梔（五錢）　生甘草（一錢）　元參（三錢）　丹皮（一錢）　大力（四錢）　陳皮（一錢）　枳殼（三錢）　杏仁（二錢）　蘇子（二錢）　知母（二錢）　蔞仁（一兩）</p>
<p>再加大黃、淡竹葉。</p>
<p>一疹未出，唇紅似丹，二便閉塞，喜飲冷，此熱毒內蒸，宜用辛涼藥。</p>
<p>乾薑（三錢）　薄荷（一錢）　前胡（三錢）　桔梗（二錢）　大力（五錢）　荊芥（一錢）　滑石（二錢）　石膏（一兩）　生甘草（一錢）　花粉（三錢）　木通（二錢）</p>
<p>再加蘆根、竹葉。</p>
<p>一疹已出而發渴者，鼻氣勃勃沖人，此肺中火邪熬煎，宜清金降火。</p>
<p>黃連（一錢）　黃芩（一兩）　石膏（二兩）　知母（三錢）　花粉（二錢）　滑石（一錢）　山梔（一錢）葛根（二錢）　薄荷（一錢）　栝蔞仁（一兩）　桔梗（二錢）　生甘草（一錢）　大力（五錢）　枳殼（二錢）</p>
<p>一疹有二便清利，唇口淡紅而渴者，此必過服寒涼，致中氣虛，干渴。</p>
<p>當歸（二錢）　生地（二錢）　麥冬（三錢）　升麻（一錢）　桔梗（一錢）　元參（一錢）　陳皮（一錢）　生甘草（一錢）</p>
<p>一疹出時手足多熱，忽爾冰冷，名曰厥逆，似水之象，宜用升散。</p>
<p>干葛（二錢）　升麻（八分）　蘇葉（一錢）　防風（一錢）　大力（二錢）　桔梗（二錢）　木通（一錢）　麻黃（八分）　前胡（二錢）　荊芥（二錢）　橘紅（八分）</p>
<p>加蔥白。如便閉，加大黃。</p>
<p>一疹後厥逆者，用清解。</p>
<p>黃芩（二兩）　黃連（八分）　花粉（一兩）　山梔（四錢）　前胡（二錢）　生甘草（一錢）　木通（一錢）　陳皮（一錢）　桔梗（二錢）　貝母（二錢）　石膏（一兩）　枳殼（五錢）</p>
<p>加大黃、蔞仁。</p>
<p>一疹中寒熱似瘧，身寒手足冷極者，宜滋陰養血發表。用柴胡（二錢）　黃芩（一兩）　當歸（三錢）　川芎（八分）　陳皮（一錢）　葛根（二錢）　生甘草（八分）　生地（二錢）　澤瀉（一錢）　茯苓（二錢）　貝母（二錢）</p>
<p>寒多加蘇葉，熱多加知母，渴甚加石膏、大黃。</p>
<p>一疹將出而發驚，是毒蘊於心，肺火鼎沸，以致手足搐搦，宜解表發汗。</p>
<p>羌活（一錢）　防風（一錢）　荊芥（二錢）　薄荷（一錢）　大力（四錢）　蟬蛻（一錢）　青皮（二錢）　鉤藤（一錢）　橘紅（一錢）　前胡（一錢）　紫草（一錢）　干葛（一錢）</p>
<p>外加朱砂二厘。如痰多加膽星二錢。若食積加山楂、枳殼，甚者加黃連、花粉。倘有已出而發驚搐者，此由毒火元氣俱盛，宜清火解毒。用黃連（一錢）　黃芩（五錢）　鉤藤（二錢）　陳皮（一錢）　前胡（二錢）　龍膽草（一錢）　山梔（四錢）　木通（一錢）　貝母（一錢）　枳殼（一錢）　花粉（一兩）　生甘草（五分）　杏仁（一錢）　蘆薈（一錢）</p>
<p>加蓮肉心、石膏三兩。又有一種驚重，元氣虛，恐變慢驚風者，用當歸（二錢）　生地（二錢）　茯苓（三錢）　陳皮（一錢）　生甘草（八分）　天麻（一錢）　川貝（一錢）　麥冬（三錢）　鉤藤（二錢）　連翹（二錢）　木通（一錢）　防風（一錢）</p>
<p>加蓮肉、膽草、橘紅。</p>
<p>一疹初發時，嘔吐不能食者，此毒火壅於胃故也，宜清解疏托。</p>
<p>前胡（二錢）　枳殼（二錢）　干葛（一錢）　防風（一錢）　大力（三錢）　連翹（二錢）　桔梗（二錢）　蟬蛻（一錢）　陳皮（一錢）　荊芥（二錢）　生甘草（八分）　滑石（一錢）　石膏（一兩）</p>
<p>火輕者，加山梔、蘆薈。火重者，加石膏、滑石。又有一種疹已出透，而嘔吐不食者，宜清解中加疏托藥。用石膏（二兩）　陳皮（一錢）　前胡（二錢）　枳殼（三錢）　干葛（二錢）　大力（三錢）　山梔（一錢）　薄荷（一錢）　桔梗（二錢）　生甘草（八分）</p>
<p>加蘆薈。如疹已沒後，仍嘔吐不食者，宜清涼藥。</p>
<p>石膏（二兩）　黃芩（一兩）　黃連（一錢）　花粉（三錢）　陳皮（一錢）　枳殼（三錢）　山梔（二錢）　木通（一錢）　桔梗（一錢）　丹皮（一錢）　元參（二錢）　生甘草（八分）　前胡（二錢）　大力（三錢）</p>
<p>一疹有毒迫大腸，裡急後重，變為滯下者。</p>
<p>黃連（八分）　黃芩（一兩）　枳殼（三錢）　木通（一錢）　生甘草（八分）　大黃（六錢）　陳皮（一錢）　杏仁（一錢）　丹皮（一錢）　蔞仁（一兩）</p>
<p>若泄瀉不止，變休息痢，腹中痛，便見膿血，此血熱大腸也。宜用黃連（一錢）　條芩（二錢）　青皮（二錢）　枳殼（三錢）　生甘草（八分）　滑石（一錢）　桔梗（一錢）　山梔（一錢）　大黃（八錢）</p>
<p>又一種變為赤痢者，用黃連（一錢）　條芩（一兩）　陳皮（一錢）　枳殼（三錢）　生甘草（八分）　槐花（二錢）　荊芥（二錢）　滑石（一錢）　山梔（一錢）　大黃（三錢）　地榆（一錢）</p>
<p>或加升麻、杏仁。</p>
<p>一疹未出透，咳嗽不絕，面目浮腫，此系毒火不能外達，肺金受克也，速用清熱透毒。</p>
<p>荊芥（二錢）　薄荷（一錢）　大力（四錢）　蟬蛻（一錢）　生甘草（八分）　干葛（二錢）　陳皮（一錢）　桔梗（二錢）　防風（一錢）　木通（二錢）　前胡（一錢）</p>
<p>加石膏、山梔。如疹已出透，而氣喘鼻煤干燥，宜用清金降火湯。</p>
<p>條芩（八分）　黃連（八分）　石膏（二兩）　蔞仁（一兩）　陳皮（一錢）　枳殼（三錢）　蘇子（一錢）　杏仁（二錢）　貝母（一錢）　花粉（四錢）　知母（一錢）　葶藶（二錢）　桑皮（三錢）</p>
<p>加茅根汁。又有一種有痰有聲者，治宜前胡（三錢）　桔梗（二錢）　生甘草（三分）　貝母（一錢）　陳皮（一錢）　石膏（一兩）　知母（二錢）　花粉（二錢）　枳殼（二錢）　桑皮（三錢）　山梔（三錢）　杏仁（二錢）　大力（四錢）　兜鈴（三錢）</p>
<p>加竹瀝。又有一種有聲無痰者。</p>
<p>黃芩（二兩）　黃柏（三錢）　知母（三錢）　花粉（五錢）　蔞仁（一兩）　前胡（三錢）　貝母（三錢）　陳皮（一錢）　蘇梗（一錢）　杏仁（二錢）　石膏（一兩）　生甘草（三分）</p>
<p>桔梗（一錢）　枳殼（二錢）　元參（三錢）</p>
<p>加茅根。</p>
<p>一疹出咽喉痛，皆由肺火上炎故咽痛，治用生甘草（一錢）　桔梗（二錢）　大力（五錢）　荊芥（二錢）　薄荷（一錢）　干葛（三錢）　木通（一錢）　石膏（一兩）　防風（二錢）　前胡（三錢）　橘紅（一錢）　射干（一錢）</p>
<p>一疹已出透，而咽痛失音，發熱作渴面赤，喜飲冷物，俱是上焦實熱。</p>
<p>生甘草（二錢）　桔梗（三錢）　大力（四錢）　元參（三錢）　射干（二錢）　黃芩（五錢）　黃連（分）　石膏（一兩）　荊芥（二錢）　山豆根（二錢）　花粉（八錢）　陳皮（一錢）　枳殼（二錢）　蔞仁（一兩）　夏枯草（三錢）</p>
<p>有痰，加貝母。</p>
<p>一疹未出而熱極火動者，致血妄行，從口鼻出者。</p>
<p>荊芥（三錢）　紫草（三錢）　薄荷（一錢）　干葛（一錢）　大力（五錢）　鬱金（二錢）　山梔（四錢）　生甘草（二錢）　桔梗（二錢）</p>
<p>甚者加黃芩、茅根汁。若疹已出透而衄血者。</p>
<p>黃連（八分）　黃芩（一兩）　黃柏（二錢）　山梔（四錢）　丹皮（三錢）　元參（五錢）　生甘草（二錢）　桔梗（二錢）　花粉（一錢）</p>
<p>或加茅根汁，或加生地、麥冬。又衄後火氣已清方。</p>
<p>生地（二錢）　麥冬（三錢）　元參（二錢）　當歸（二錢）</p>
<p>一疹中頭痛身疼者，此內之火毒，與外之風寒相結不散，宜疏解。</p>
<p>羌活（三錢）　防風（一錢）　荊芥（二錢）　大力（四錢）　蟬衣（一錢）　前胡（三錢）　桔梗（二錢）　干葛（二錢）　蘇葉（一錢）　木通（八分）　川芎（八分）</p>
<p>一疹中腰疼，因氣滯血凝脾腎二經，外感內傷所致。</p>
<p>青皮（一錢）　紅花（一錢）　大力（三錢）　羌活（一錢）　防風（一錢）　荊芥（三錢）　蘇葉（一錢）　前胡（二錢）　桔梗（一錢）　木通（一錢）</p>
<p>又方枳殼（一錢）　黃芩（二錢）　山梔（三錢）　麥冬（三錢）　當歸（一錢）　川芎（八分）　鬱金（一錢）　青皮（一錢）　陳皮（一錢）　木通（一錢）　連翹（二錢）</p>
<p>一疹沒腹痛，與未出透，皆不謹起居，或食冷物，或冒風寒，以致寒熱相激而痛。</p>
<p>治未出透而痛方。</p>
<p>羌活（二錢）　防風（二錢）　荊芥（二錢）　蘇葉（一錢）　大力（三錢）　陳皮（二錢）　青皮（一錢）　前胡（二錢）　桔梗（一錢）　枳殼（二錢）　木通（一錢）</p>
<p>治疹已出透腹痛。</p>
<p>陳皮（一錢）　枳殼（二錢）　蘇葉（一錢）　杏仁（二錢）　黃芩（三錢）　桔梗（一錢）　木通（二錢）　生甘草（一錢）</p>
<p>一疹後齒腮腫痛，口角流涎之症。</p>
<p>黃芩（一兩）　黃連（一錢）　石膏（二兩）　元參（一兩）　大力（三錢）　生甘草（一錢）　荊芥（三錢）　桔梗（一錢）　防風（二錢）　白芷（一錢）　川芎（八分）</p>
<p>一、疹後牙疳，根有血出腫爛。</p>
<p>生地（三錢）　元參（一錢）　黃連（一錢）　麥冬（三錢）　生甘草（二錢）　花粉（三錢）　丹皮（二錢）　葛根（一錢）　荊芥（二錢）　石膏（一兩）　知母（三錢）　枳殼（二錢）</p>
<p>一疹後牙疳，是胃熱未清，以致火毒上炎。</p>
<p>黃芩（一兩）　黃連（一錢）　石膏（二兩）　花粉（一兩）　知母（二錢）　生甘草（一錢）　元參（四錢）　荊芥（三錢）　桔梗（二錢）　大力（四錢）　升麻（一錢）　山豆根（二錢）　射干（一錢）</p>
<p>一疹後咳嗽口破。</p>
<p>麥冬（三錢）　桔梗（二錢）　花粉（八錢）　知母（三錢）　元參（三錢）　荊芥（二錢）　大力（五錢）　山豆根（三錢）　射干（二錢）　連翹（五錢）　薄荷（二錢）</p>
<p>或加黃連（八分）　石膏（一兩）　黃芩（八錢）</p>
<p>一疹後焦爛。</p>
<p>蕤仁（二錢）　薄荷（一錢）　甘菊（一錢）　柴胡（一錢）　決明（一錢）　大力（五錢）　黃連（一錢）　黃芩（二兩）　山梔（五錢）　生甘草（二錢）　花粉（八錢）　干葛（四錢）</p>
<p>或加石膏（三兩）　桔梗（二錢）　蔞仁（二兩）　大黃（一兩）　荊芥（三錢）</p>
<p>一疹後目疾藥味。</p>
<p>羌活　防風　干葛　薄荷　柴胡　桔梗　草決明　川芎　黃連　大力　花粉　山梔　生甘草　當歸　生地甘菊　木賊　蒙花　穀精草初二劑當去黃連、生地，後去羌活、防風。若有稍明，照依此方，加黃芩、石膏、升麻、膽草、蔞仁。</p>
<p>一、疹出十二三日，又發紅黑疔，小兒能自手指拔去，疔不痛癢者，急以解毒拔疔丹。使毒火盡退而愈。</p>
<p>礞石（　，五錢）　黃芩（二兩）　木香（一錢五分）　元明粉（五錢）　沉香（一錢五分）　大黃（二兩）</p>
<p>共研末，朱砂為衣，作丸服。</p>
<p>獨棗湯治疹後牙齦爛，用干紅棗二枚，雄黃一塊，入棗內，燒灰存性研末，米泔水煎服。入鹽少許，漱口即愈。</p>
<p>一疹後中氣虛弱，乍寒乍熱，是陰血虛也。</p>
<p>當歸（二錢）　生地（一錢）　麥冬（二十粒）　元參（三錢）　生甘草（八分）　黃芩（一兩）　生山梔（三錢）　丹皮（三錢）　白芍藥（一錢）　黃連（八分）　花粉（三錢）　桔梗（二錢）　骨皮（一錢）</p>
<p>一疹未出而乍寒乍熱，是毒未透發，用疏托。</p>
<p>升麻（一錢）　干葛（二錢）　荊芥（一錢）　蟬蛻（一錢）　大力（二錢）　前胡（二錢）　桔梗（二錢）　蘇葉（一錢）　防風（二錢）　橘紅（八分）　通草（一錢）</p>
<p>或少加麻黃、蔥白。</p>
<p>一疹已出，復乍寒乍熱，二便短赤，是余毒未盡，用涼解。</p>
<p>黃芩（一兩）　黃連（八分）　石膏（一兩）　山梔（四錢）　大黃（一兩）　生甘草（八分）　荊芥（一錢）　大力（一錢）　陳皮（一錢）　枳殼（四分）　貝母（三分）　杏仁（一錢）　花粉（五分）</p>
<p>木通（二錢）　栝蔞仁（二兩）</p>
<p>一疹後日熱不退，身熱燎人，二便不通，急用和解。</p>
<p>黃連（一錢五分）　黃芩（一兩）　生蔞仁（一兩）　石膏（一兩）　山梔（五錢）　陳皮（一錢）　枳殼（四錢）　蘇子（一錢）　杏仁（一錢）　花粉（一兩）　滑石（一錢）　生甘草（八分）　木通（一錢）　膽草（二錢）</p>
<p>─疹回後熱退身涼，過三五日又作熱，是余毒復還，宜疏解。</p>
<p>荊芥（一錢）　薄荷（一錢）　干葛（二錢）　前胡（二錢）　桔梗（一錢）　大力（一錢）　陳皮（一錢）　枳殼（三錢）　黃芩（一兩）　山梔（五錢）　生甘草（一錢）　元參（三錢）　連翹（一錢）</p>
<p>甚者加大黃、石膏、蔞仁。</p>
<p>一產後出麻，本宜補血，但麻屬火，不可驟補，補則毛竅固斂，不能出透，故須升發。</p>
<p>宜葛根東加酒炒芍藥、桔梗、蘇葉發汗，使麻易出。</p>
<p>一懷胎出麻，只宜清涼，佐以疏托，勿用實脾行氣等藥，以致墮胎。</p>
<p><u>安胎止痛方</u></p>
<p>生地　川芎（各五分）　桑樹羊思藤（七片葉）　當歸　人參　陳皮（各一錢）　白朮　黃芩（各一錢五分）　黃柏　黃連（各三分）　甘草（三分）　糯米（二十粒）</p>
<p>痛甚加砂仁，虛甚加木香。</p>
<h2>胎產</h2>
<p>胎疹才熱即出而即沒，此風寒所致，宜涼血疏風消痰之藥。若難沒者，亦由風寒壅盛，或經水浸行太早，速宜疏解。此雖胎疹，亦須避忌。</p>
<h2>產後</h2>
<p>產後雖大補氣血為主，一遇疹子，不可驟用。如發熱之後，熱甚者不嫌發散，宜升麻葛根湯，內用炒白芍加蘇葉、桔梗，以發其汗，汗出疹亦出矣，凡升發之藥不可用寒涼，使毒易出，而無後患也。</p>
<h2>虞氏麻疹治法</h2>
<p>古謂麻即疹也。疹如麻成朵，痘如豆成粒，皆象其形而名之也。夫胎毒一也，痘出於五臟，臟屬陰，陰主血，故痘有形而有漿，其症寒熱備有也。疹出於六腑，腑屬陽，陽主氣，故疹有形而無漿，其症多熱而無寒也。</p>
<p>為症既異，而治法亦殊。痘宜內實，可用補劑；疹忌內實，只宜解散。惟初熱發表，略相似耳。既出之後，痘則補氣以生血，疹宜補陰以制陽。何也？蓋疹熱甚則陰分受其熬煎，而血多虛耗，故治以清火滋陰為主，而不可少動其氣。若燥悍之劑，首尾當深忌之。</p>
<p>世知痘症之重，而不知疹之殺人尤甚，方書多忽而不備，可太息也。</p>
<p>一、疹發熱之初，多似傷寒，惟疹則咳嗽噴嚏，鼻流清涕，眼胞腫，淚汪汪，面浮腫，兩腮赤，惡心乾嘔為異耳。但見此候，即是麻症，宜謹避風寒，戒葷腥濃味，用藥以表散之，使皮膚開暢，腠理通豁，而毒疹易出也。</p>
<p>一、疹之發雖曰胎毒，未有不由天行癘氣而發。故用藥發散，必先明其歲氣。如時令溫暖，以辛涼之藥發之，防風解毒湯，暄熱以辛寒之藥發之，黃連解毒湯。大寒以辛溫熱之藥發之，桂枝解毒湯。時寒時暖，以辛平之藥發之，升麻解毒湯。此因時用藥，不可誤作傷寒，妄施汗下，反伐天和也。又須看人虛實，如大便秘結，煩熱盛而發不出者，以酒炒大黃微利之，不止，以參藥之類補之。經曰：毋虛虛，毋實實，損不足，補有餘，夭人性命也。</p>
<p><u>防風解毒湯</u></p>
<p>防風　荊芥　薄荷　石膏　知母　桔梗　力子　甘草　連翹　木通　枳殼（均分）</p>
<p>淡竹葉、燈草，水煎服。</p>
<p><u>黃連解毒湯</u></p>
<p>黃連　黃芩　黃柏　梔子　力子　甘草　防風　知母　荊芥　石膏　桔梗　元參　木通薑三片，水煎服。</p>
<p><u>桂枝解毒湯</u></p>
<p>桂枝　麻黃　赤芍　防風　荊芥　羌活　甘草　大力　人參　川芎　薑水煎服。</p>
<p><u>升麻解毒湯</u></p>
<p>升麻　干葛　羌活　人參　柴胡　甘草　桔梗　力子　防風　荊芥　赤芍　連翹　淡竹葉水煎。</p>
<p>前藥發散，而疹隨見，則毒盡解矣。若發不出，再加味麻黃之藥發之。</p>
<p><u>加味麻黃散</u></p>
<p>升麻　麻黃　人中黃　大力　蟬蛻（等分）</p>
<p>水煎服。</p>
<p>外以芫荽、酒糟，蒸熱擦之，自頭上至足為齊。若頭面愈多者為佳，倘遲延日久而不能出，則腹脹氣喘，昏眩悶亂，煩躁而死。</p>
<p>一、看疹之法，多於耳後項上腰腿先見，其頂尖而不長，其形小而勻淨者吉。若色見紅者，兼火化也，輕症可治。化斑湯主之。如白者，此血不足也，養榮湯主之。如色紫赤，干燥暗晦，乃火盛毒熾也，宜六一散、四物湯，加柴胡、黃芩、干葛、紅花、力子、連翹之類，滋陰涼血，而熱自除，所謂養陰退陽之義也。此亦五死一生之症，外有大青龍湯，入燒人屎亦妙。如便秘者，加酒大黃利之，或元參解毒湯，皆可選用。若黑色者，熱毒太甚為十死一生之症，不可不明察，而混施治也。</p>
<p><u>化斑湯</u></p>
<p>人參　知母　石膏　大力　連翹　升麻　甘草　地骨皮　淡竹葉　糯米水煎服。</p>
<p><u>養榮湯</u></p>
<p>人參　當歸　紅花　赤芍　甘草水煎服。</p>
<p><u>六一散</u></p>
<p>滑石（六兩）　甘草（一兩）</p>
<p>為細末，量小兒大小，每服一錢半或二錢。本方加辰砂三錢，名辰砂益元散。</p>
<p><u>四物湯</u></p>
<p>當歸　熟地　白芍　川芎</p>
<p><u>大青龍湯</u></p>
<p>玄參　大青　桔梗　人中黃　知母　升麻　石膏　梔子　木通水煎服。</p>
<p><u>元參解毒湯</u></p>
<p>元參　黃芩　山梔　桔梗　甘草　生地　干葛　荊芥（均分）</p>
<p>水煎服。</p>
<p>一、疹表後，紅影出於肌膚成片，切戒風寒生冷。如一犯之，則皮膚閉塞，毒瓦斯壅滯，遂變為渾身青紫，而毒反內攻，煩躁肚痛，氣喘悶亂。諸症作矣。欲出不出，危亡立至，其可忽諸？一、疹已出而反沒者，乃風寒所逼而然也。若不早治，毒成內攻，以致癢塌而死，急用消毒飲，合升麻湯服之，則疹復出而安矣。</p>
<p><u>升麻湯</u></p>
<p>升麻　干葛　白芷　甘草　薑　蔥水煎熱服。</p>
<p><u>消毒飲</u></p>
<p>荊芥　力子　甘草　薑水煎服。</p>
<p>一、發熱之時。遍身出汗，此毒從汗解，玄府開，疹易出也。有出衄者，此毒從衄解也，俱不可遽止之。若汗多血多皆不止，此火甚逼迫太過，致汗妄流，血妄行也。急宜當歸六黃湯以止汗，茅化湯以止血，遲則汗出多而元氣虛，血出多而精神散，難以治矣。</p>
<p><u>當歸六黃湯</u></p>
<p>當歸　黃　黃連　黃柏　生地黃　熟地黃（均分）</p>
<p>水煎。外加浮小麥止汗。</p>
<p><u>茅化湯</u></p>
<p>茅化　歸頭　丹皮　生地　甘草加玄參、百草霜，水煎服。</p>
<p>一、發熱時或嘔吐，或自利或滯下。此火邪內逼，毒瓦斯上行則吐，下行則利，毒太甚則裡急後重，而為滯下也。吐者，竹茹石膏湯。自利者，升麻澤瀉湯。下者，黃芩芍藥湯，加黃連、生地、木通、當歸、人參、枳殼，或少加大黃微下之。</p>
<p><u>竹茹石膏湯</u></p>
<p>陳皮　半夏　石膏　白茯苓　甘草　竹茹水煎服。</p>
<p><u>升麻澤瀉湯</u></p>
<p>豬苓　澤瀉　赤苓　石膏　黃連　甘草　升麻（均分）</p>
<p>水煎服。</p>
<p><u>黃芩芍藥湯</u></p>
<p>條芩　白芍　升麻　甘草水煎服。</p>
<p>一、發熱之時，未有不渴者，但當以綠豆燈心湯，入炒米飲之，人參白虎湯佐之，以生津解渴而已。若恣飲冷水，恐生水蓄之症，故水入於肺，為喘為嗽，宜用葶藶，以泄肺中之水。水入於脾，為腫為脹，為自利，宜用白茯苓、生地，木香，以泄脾水。水入於胃，為嘔為噦為自利，宜用豬苓、澤瀉、赤苓、木通，以泄心下之水。水入於肝，為脅痛，用芫花以泄肝水。水入於腎與膀胱，為小便不利，為陰囊腫，用車前、木通，以泄腎及膀胱之水。俱當因其症而治之。</p>
<p><u>人參白虎湯</u></p>
<p>人參　石膏　知母　甘草　糯米煎服。</p>
<p>一、疹出之時，咽喉腫痛，不能飲食者，此毒火拂鬱，上熏咽喉也。宜用甘桔湯，加元參、大力、連翹主之。更以十全散，若玉鎖匙吹之，切不可妄用針刺出血也。</p>
<p><u>甘桔湯</u></p>
<p>甘草　桔梗</p>
<p><u>十全散</u></p>
<p>黃芩　黃連（各一錢五分）　苦參（一錢）　元胡（三分）　硼砂（二分）　乳香（二分）　兒茶雄黃（各五分）</p>
<p>為細末，每用少許，蘆筒吹之。</p>
<p><u>玉鎖匙</u></p>
<p>硼砂（一錢）　朴硝（五分）　僵蠶（一條）　片腦（五厘）</p>
<p>為末吹之。</p>
<p>一、疹出之時咳嗽口乾心煩者，此毒在心肺，發未盡也。用瀉白散，若黃連杏仁湯。</p>
<p>麻疹作瀉，加厚朴、甘草。</p>
<p><u>瀉白散</u></p>
<p>桑皮　地骨皮　甘草　竹葉　燈草水煎服。</p>
<p><u>黃連杏仁湯</u></p>
<p>黃連　陳皮　杏仁　麻黃　枳殼　干葛　薑水煎服。</p>
<p>一、疹出之時，自利不止，或瀉稀水頻數者，最為惡候，但要看其疹，若遍身稠密太盛，或紫色，或紅色，甚者則無妨。蓋毒在大腸，非瀉則毒不解，惟用平胃散加干葛、連翹以解之。疹一發透，依期收去，自然瀉止。若疹已收，而瀉猶不止，疹必未盡，再用前藥，加連翹、川連、大力、木通、澤瀉以分利之。若用訶子、肉蔻等，則變肚痛脹滿喘急，危矣。</p>
<p><u>平胃散</u></p>
<p>蒼朮　厚朴　陳皮　甘草一、疹子之出，常以六時收為度。如子為陽午後收，午後為陰子後收，乃陽生陰成，陰生陽成，造化自然之妙也。故漸出而漸收者，其勢輕。若一出之後熱不退，延綿三四日而不收者，此毒火太甚，外發不盡，內為有餘之邪所致，須投化斑湯。</p>
<p><u>化斑湯</u></p>
<p>人參　知母　石膏　大力　連翹　升麻　地骨皮　甘草　淡竹葉　糯米水煎服。</p>
<p><u>三味消毒飲</u></p>
<p>荊芥　大力　甘草　生薑水煎服。再加元參、石膏、桔梗為治。</p>
<p>一、疹子出後，自然退熱。若遍身既出，而猶拂拂煩熱，頻作嘔吐者，此毒尚未盡，留連於肺胃之間，宜化斑湯（見前）　。大便秘少，加大黃利之。</p>
<p>一、疹已收去，反渾身發熱，晝夜不退，此毒未盡解，邪火抑於肌肉之間，久則毛髮干焦，皮膚枯槁，肌肉羸瘦，為骨蒸勞瘵之症。急宜蘆薈肥兒丸，加當歸、連翹等治之，遲則變為睡則露睛，口鼻氣冷，手足厥逆，螈　慢脾風，不治之症矣。</p>
<p><u>蘆薈肥兒丸</u></p>
<p>蘆薈　龍膽草　木香　地骨皮　使君子　麥芽　檳榔　黃連　白蕪荑　胡黃連為細末，豬膽汁為丸，如黍米大，每服五六十丸，飲湯下。</p>
<p>一、疹收之後，身雖不羸瘦，但時發壯熱，煩躁不寧，搐掣驚悸，神昏志亂者，此陰血衰耗，致余毒入肝而傳於心也，宜養血安神，四物東加麥冬、棗仁、石菖蒲、龍膽草、茯苓、黃連、辰砂、甘草、竹葉、燈心主之。或以前藥為末，蒸餅，豬心血為丸，服之亦可。</p>
<p><u>四物湯</u></p>
<p>地黃　當歸　川芎　白芍一、疹毒入胃，久而不散，致成牙根黑爛血出，為走馬疳，傳與二頰浮腫，久而穿頰破腮，缺唇崩鼻，為崩砂狐惑等危症。外用文蛤散，或雄黃散搽之，內服蘆苔丸，以清胃火。或有愈者，然不能多見也。</p>
<p><u>文蛤散</u></p>
<p>文蛤（一錢五分）　雄黃（一錢五分）　子枯礬（五厘）　蠶蛻（下燒灰為末）</p>
<p>米泔漱口，搽藥。</p>
<p><u>雄黃散</u></p>
<p>雄黃（一錢）　黃柏（一錢）　麝香（五分）</p>
<p>和勻，以艾煎湯，洗淨後，搽藥末。</p>
<p><u>蘆薈丸</u></p>
<p>人中白　蘆薈　使君子肉　龍膽草　黃連　五靈脂（均分）</p>
<p>共為細末，浸蒸餅為丸，白滾湯下。</p>
<p>一、疹出之時，曾作瀉痢，未經清解，至疹退之後，變為休息痢，不問赤白，裡急後重，晝夜無度頻並者，此余火毒在腸也。須分虛實治之。實者三黃丸利之，虛者香連丸和之，後用黃芩湯合益元散，以養血行氣為治。河間云：養血則便膿自愈，調氣則後重自除，誠哉是言也。</p>
<p><u>三黃丸</u></p>
<p>黃芩（蒸）　黃連（炒）　大黃（蒸熱）</p>
<p>為末糊丸，桐子大，每服三十丸，白湯下，量兒大小虛實加減。</p>
<p><u>香連丸</u></p>
<p>黃連（一兩）　吳萸（五兩）</p>
<p>同水拌勻燉滾水內，半日取出，炒干揀去吳萸，只用黃連為末，再加木香一兩，不見火，為末和勻，黃連末醋糊丸，米湯下一二錢。</p>
<p><u>黃芩湯</u></p>
<p>黃芩　黃連　當歸　川芎　木香　青皮　枳殼　檳榔　甘草水煎好。入益元散調服。</p>
<p><u>益元散</u></p>
<p>滑石（六兩）　甘草（一兩）　辰砂（三錢）</p>
<p>為末，量兒大小，或一錢五分，或二錢。</p>
<p>一、疹退之後，微微咳嗽者，此余毒未盡也。用清肺飲，加力子、甘草治之。若嗽甚，氣喘連聲不止，名為頓嗽，甚至飲食湯水俱嗆出，或咳出血者，此熱毒乘肺而然也。</p>
<p>宜麥冬清肺飲，加連翹主之。如見胸高如圭，肩聳而喘，血從口鼻而出。或擺手搖頭，面色或白或青或紅，以及枯暗者，皆不可治之症也。然亦有肺氣虛。為毒所抑而發喘，並無咳嗽出血嗆食等證者，亦用麥冬清肺飲，倍加人參治之。切不可拘於肺熱之一端，而純用清肺解毒之藥也。</p>
<p><u>麥冬清肺飲</u></p>
<p>川貝　天冬　桔梗　力子　栝蔞　知母　麥冬　杏仁　兜鈴　甘草加糯米，水煎服。</p>
<p>一、疹退之後，聲啞不出，或咳或喘，或身熱不退，以致日久不愈者，此熱毒未盡，肺金受克也。宜清金降火湯，加竹瀝、生薑汁主之。</p>
<p><u>清金降火湯</u></p>
<p>黃芩　貝母　栝蔞　麥冬　力子　黑山梔　知母　杏仁　元參　麻黃　石膏　竹葉水煎服。</p>
<p>一、疹退之後，飲食如常。動心如故，猝然心腹絞痛，遍身汗出如水者，此元氣虛弱，失於補養，外雖無病，內已虛損。又為惡氣所中，謂之中惡，此朝發夕死之證。急用養榮雙和湯救之，如有積食，加神麯、麥芽，如有熱，去肉桂。</p>
<p><u>養榮雙和湯</u></p>
<p>人參　當歸　熟地黃　黃　肉桂　白芍　麥冬　甘草水煎服。</p>
<p>一、疹退之後，熱毒未盡，或發癰毒，四肢骨節疼痛者，宜用羌活散，黃酒沖服一二錢，量大小強弱與之。使其微汗微利而愈。</p>
<p><u>羌活散</u></p>
<p>羌活　穿山甲　大黃　全蠍　皂角刺　乳香　一葉金　白芷梢　甘草一、疹退之後，余熱未盡，或熱甚而失血者，犀角、地黃合黃連解毒湯治之，或四物東加茵陳、木通、犀角之類，以利小便，使熱氣下行而愈也。</p>
<p><u>犀角地黃湯</u></p>
<p>犀角　白芍　黑山梔　生地黃　丹皮　黃芩　紅花　當歸　甘草　藕節水煎服。</p>
<p><u>黃連解毒湯</u></p>
<p>黃連　黃芩　黃柏　力子　連翹　黑山梔　防風　木通　荊芥　元參　甘草　竹葉</p>
<p><u>四物湯</u></p>
<p>　見上。</p>
<p>一、疹收之後，余熱未退，日夜煩躁，譫語昏狂者，宜用益元散，煎燈心湯下，或五苓散去白朮、肉桂，加辰砂、黃芩、黃連治之。若初發疹時，即有煩躁譫語之證者，升麻葛根湯，加蔥白、黃芩，夏令再加石膏。如或風盛者，並加消風散，兼調益元散服。</p>
<p><u>益元散</u></p>
<p>滑石　辰砂　甘草</p>
<p><u>五苓散</u></p>
<p>茯苓　豬苓　白朮　肉桂　澤瀉</p>
<p><u>升麻葛根湯</u></p>
<p>升麻　葛根　赤芍　力子　木通　連翹　甘草水煎服。</p>
<p>一、孕婦出疹者，宜用四物湯，加白朮、黃芩、艾葉等養胎清熱為主，使胎無虞，而疹易沒也。如胎氣上攻，急以苧麻根、艾葉少許煎湯，磨生檳榔服之，更宜多服上藥為妙。</p>
<p>一、熱毒蒸胎，胎多受傷，但胎雖傷，而母實無恙也。蓋疹與痘不同，痘宜內實，故胎落而母易亡。疹宜內虛，故胎去而母易存。然與其胎去而母存，孰若母子兩全之為愈也。</p>
<p>一、出疹之症，比較出痘似輕，然調治失宜，其禍反不旋踵。蓋痘由胎毒而發，其情勢輕重多少，自可預斷。至於疹子，雖由感受邪氣而發，然輕者可重，重者可輕，全在調治有方，方保無虞。故其飲食禁忌，比痘為甚。若食雞魚，則終身皮膚粟起如雞皮之狀，但遇天行出疹之時，又要重出。誤食油肉，則每歲出疹之月，必然下痢膿血；誤食鹽醋，即患咳嗽，且遇出疹之時，必復發咳；誤食五辛之物，不時驚熱，必待過四十九日，或百日之後，始可無忌也。</p>
