<header><h1>徐批葉天士晚年方案真本</h1></header>
<dl class="元資料" data-type="book">
<div><dt>作者</dt><dd>葉桂</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1644/1911">公元1644年至公元1911年</data></dd></div>
</dl>
<h2>張序</h2>
<p>敘曰：古之志士，隱淪卜祝，藏器屠釣，非賤鼎鐘輕軒冕也。喪亂既降，非才不宏，故有辱利祿有損於賢豪，賢豪無求於利祿，故甘岩壑，悅棲遁者，惡聞足音。然閑曠性之所適，衣食身之所資，不能棄所資取所懌，是以君平握粟以自怡，韓康負囊而不悔。小林先生，隱君子也，以醫三致千金，視夫士大夫之屈志意，競名利，又與夫無岩處奇士之行，而說仁義，長貧賤者，不可同年而語。義而能富，孔父不等浮云，巧者有餘，子長於焉驗道矣。予嘗嘆夫技不足養妻子，財不足給祭祀，守殘缺，命高蹈，何足稱焉。此乃小林先生之所羞也。惜其術成不可托後昆，懼其藝之將沒，乃寄意《臨證指南》，托其宗旨，抒其所得，亦可慨矣。嘗自謂人頌予為濟世。如予者，乃世濟耳。蓋無驕之心，見於是語與是書，殆司馬遷所謂富而好行其德者與。夫證莫大於寒熱，班固疾醫之以熱益熱，以寒增寒，然則醫之能辨寒熱者鮮矣。淳於意自云藥方試之多不驗，則十全者難矣。況《素問》、《九靈》，文辭質奧，通人尚難章句，醫乃神聖所慎，今則視為讀書不成，去學劍之事也，惡能決嫌疑定可治哉。</p>
<p>又嘗論世之學師醫師，其權與朝廷等，且為朝廷之害，何以言之，人雖聖、俗師教之無不狂也。人雖壽，庸醫治之無不夭也。是朝廷培之，俗師覆之，朝廷生之，庸醫殺之。揚馬之文章，鄭孔之學術，管樂之事功，亦云少未遇俗師，長未遇庸醫耳。世之父兄孫子，方卑辭濃禮於俗師庸醫之前，悲夫：若小林先生之綜覽書史，強記博聞，予竊慕焉。宜其逍遙池館，謀度酒食，耆艾若童稚，健步若壯夫。撰述傳於遠裔，待收侔於千戶也，有味哉。</p>
<p><u>張祥齡撰</u></p>
<h2>卷上</h2>
<p>丁(常熟，二十四歲)　勞嗽寒熱是百脈空隙，二氣久虛所致，純用填精益髓，猶慮弗能充養肌肉，日見干癟，病患說醫用沉香，聲音逐啞(勞嗽大忌香燥。)大凡香氣如煙云，先升後降，況諸香皆泄氣，沉香入少陰腎，疏之泄之，尤為勞怯忌用。</p>
<p>萸肉　山藥　建蓮　五味　茯神　熟地炭　芡實　川斛顧(嘉善，四十八歲)　五六月間，氣候溫熱，地泛潮濕，六氣之邪，其時濕熱為盛。凡濕傷氣，熱亦傷氣，邪入氣分，未及入血，癮疹搔癢，其色仍白，氣分郁痹之濕邪也(氣分血分辨析分明示後學看病良法。)病患說汗出，或進食後疹即旋發，邪留陽明，陽明主肌肉，醫稱曰風，愈以散藥，不分氣血，邪混入血分，疹色變赤，此邪較初感又深一層矣。</p>
<p>飛滑石　石膏　紫花地丁　寒水石　白蘚皮　三角胡麻　生干首烏　木防己王(淮安，二十九歲)　平昔好飲，脾氣已傷，醉後便溏不實。夫酒性濕而動血，聚濕必傷脾胃之陽，三年失血，食大減少，惡酒如仇，全是脾胃受困(因好飲而傷中，致血當蘇脾胃之陽而補中為急，好飲者每多此病。)世俗醫者，見血見嗽，以滋降清肺治法，滋必滯膩理嗽清寒，此中陽久困不蘇，墜入勞損矣。</p>
<h3>異功散</h3>
<p>中央脾胃，為酒濕所困，憊甚，至惡酒如仇，其中氣之衰壞，莫此為甚。舍異功散之外，別無良法。多服人參，庶幾有益。好飲者，比比皆是，須鑒諸。</p>
<p>范(湖州，二十五歲)　形色黃瘦，脘痛嗆血，問納食減平日之七，自初春至霜降，不得醒復。此內損七情，淹淹勞怯，若不扶其脾胃，但以嗽嗆為治，殆不可為矣(有力量)。</p>
<h3>參歸建中湯</h3>
<p>先天元陽，全賴後天水穀之氣蔭庇，胃旺納穀，中氣既能充護臟腑，且精生於穀，陰分亦藉以充裕，納食既減平日之七，安得不急扶脾胃耶。</p>
<p>高(陸墓，二十歲)　少壯脈小澀屬陰，臍左起瘕，年來漸大而長，此系小腸部位。小腸失司，變化傳導，大便旬日始通，但脾胃約束津液不行，古人必用溫通緩攻，但通腸壅，莫令礙脾(因大便旬日始通，故臍左起瘕，確指其為小腸部位，聰明過人)。</p>
<p>麻仁　桂心　桃仁　大黃蜜丸，服二錢。</p>
<p>從來通腸壅之藥，必礙脾胃，以湯能蕩滌耳。今改作丸藥，只用二錢，令每日漸積流入腸中，而通泄法自脾約丸來(桃仁承氣加入潤腸之藥)。</p>
<p>馮(寧波，二十五歲)　面起瘍瘡，瘡愈頭痛，牙關不開。凡頭面乃陽氣游行之所，不容濁氣留著，外瘍既合邪痹入骨骱，散風藥僅走膚膜，上焦氣多，血藥無能為干上部之隧(說穿似覺尋常，而他人已不能道及，言言至理。)角針　蜂房　淡豆豉　牙皂　甜瓜蒂　大豆卷讀天翁方案，雖為病患設法，其實處推開精論，治病道理，警醒當世聾　語，教人看病下手處，後學得此，便有主張，不致一病到手，即慌忙心無措也，有功千古。</p>
<p>韓(海州，四十五歲)　單單腹大，脈得右弦空，左漸弱，乃積勞陽傷之脹，久病之變，難望其愈(斷語清真，切當，治病便不蒙糊)。</p>
<p>大針砂丸三錢。</p>
<p>華(南京，二十二歲)　胃痛已久，嘔水，大便結燥，藥已不可用。</p>
<p>桃仁　薑汁　茯苓　延胡　半夏　廣皮白陸(太倉，三十二歲)　陰損瘕泄，以酸收甘補。</p>
<p>人參　茯神　炒白芍　熟地炭　炙甘草　五味子山藥漿丸。</p>
<p>朱(靖江，二十五歲)　自春季失血，血止痰嗽，左脈細數，是陰虛勞嗽。幸胃納不減，可熟地　萸肉　雲茯苓　山藥　天冬　五味　麥冬　阿膠　龜板　黃柏袁(黎裡，二十九歲)　肛瘍膿漏將一年，氣下垂，精血傷，補下流，佐堅陰除熱。</p>
<p>人參　熟地　湖蓮肉　海參　茯苓　黃柏沈(東山，二十九歲)　食入吐，久不化，胃中無陽，濁氣逆攻，不貫注入腸，大便堅痹用半硫丸錢半。</p>
<p>熱生清，寒生濁，中陽衰微，陰濁反從下而上干，大便堅痹，半硫丸溫劑中之最滑潤者，不但泄濁通陽，抑且下行降逆。</p>
<p>錢(嘉善，三十六歲)　情志不和，病起於內，由痛吞酸嘔吐，臥著氣衝，必是下起，議泄木安土。</p>
<p>吳萸(泡)　人參　茯苓　川楝肉　乾薑　半夏(炒)顧(來安縣，四十六歲)　此病起痰飲咳嗽或外寒，勞倦即發(陽氣已薄極。)發必胸脘氣脹，吐出稀涎濁沫，病退痰濃氣降乃已，此飲邪皆濁飲久聚。兩年漸漸腹中痞悶妨食，肛門尻骨，坐則無恙，行動站立，刻刻氣墜。若大便欲下之象，腎虛不收攝顯然。或於在前見痰嗽以肺治，苟非辛解，即以寒降，以致釀成痼疾。</p>
<p>腎氣丸加胡桃肉、角沉香。</p>
<p>腎虛氣不歸元，既不能溫養脾陽以化食，以致飲邪濁陰久聚，此腎虛而脾益虛也。再經腎氣不攝，逆上飲泛，病苦胸脘脹悶，必得腎氣收攝，則諸症皆安。</p>
<p>何(三十二歲)　酒客大便不旺，奔走勞動失血，乃酒色之傷。止血理嗽，藥味無非清降滋潤，聲音日啞，肺痿氣餒，為難治之症。</p>
<p>人參　茯苓　米仁　炙草　白芨　黃精此方脾肺並補，以肺痿氣餒，順崇土生金，母子兼顧。</p>
<p>四君中以米仁換白朮，加白芨、黃精，以培補中宮，此旺中央以益四維之法。</p>
<p>薑(鹽城，五十七歲)　脅膈左右懊　不舒(此中上二焦之病)，有嘔逆帶血，凡人臟腑之外，必有脈絡拘絆絡中聚血(絡中留瘀，漸成血隔，)中年操持，皆令耗血。氣攻入絡，必有難以自明其病狀之苦。況宜宣通血分以和絡，俾不致瘀著，可免噎膈反胃(此之積血若薛立齋治吳司馬積血在肺胃之間)。</p>
<p>新絳　青蔥　橘葉　桃仁　鉤藤　土蔞皮肝氣本居下焦，寧靜即是生陽。動則逆攻入絡，以致血液瘀聚，久生變幻。</p>
<p>通絡宣瘀，熄風，理厥陰之血氣，有如此清靈松銳。</p>
<p>吳(蕩口，四十六歲)　面黃白，消瘦無神，腹大臍突，足冷腫重，自言如著囊沙，曾經因脹攻下，下必傷陽(插入斷語一句)而滿脹如故，乃濁陰錮閉，真陽大傷，見症是不治之條。用藥究理，暖以通陽泄濁。</p>
<p>生炒附子　椒目　炒黃乾薑　炒小茴　車前子傷陽，傷足太陰脾、足少陰腎也。故用生附、椒目、炒薑，以溫通脾腎之陽，小茴以溫太陽之腑，再加車前以利水也。</p>
<p>沈(長善，　二十歲)　毆詈大聲用力，氣逆失音，雖陰虛腦泄，亦宜以輕揚肅上。</p>
<p>桑葉　枇杷葉　生甘草　象貝　米仁　大北沙參蔣(楓橋，十九歲)　沖年陰火末寧，情志易動，加怒氣火迸逆絡，血上溢，問納食不旺，氣衝血上，必撫摩氣降，血不退場門，但絡中離位之血，恐致凝遏，越日必氣升涌逆矣(此症血氣平靜之後，補陰自不可少，以通瘀為主，識力俱老。)杜蘇子　降香末　炒桃仁　粉丹皮(炒)　炒南楂　薏苡仁加老韭白汁。</p>
<p>用藥到此地位，可謂擇焉而精。</p>
<p>程(徽州，四十六歲)　此痰飲宿病，勞怒遇冷即發(總由肺腎不固，)已十年之久，不能除根。</p>
<h3>桂苓甘味湯</h3>
<p>何(八字橋，二十一歲)　此肝病也。肝主筋，木藏，內寄火風，情志不適，熱自內起，鑠筋襲骨，有牽強不舒之狀。惟怡悅可平，藥無除病之理(熱自內起，固由肝腎陰虛而火風內熾，飛揚走竄，涼肝之品自不可少。)首烏　杞子　桑寄生　歸身　沙苑　杜仲既云熱自內起，鑠筋襲骨，此方尚少涼肝藥一二味。</p>
<p>吳(朱婆橋，六十三歲)　寒入厥陰之絡，結為氣疝，痛則脹升氣消，寂無蹤跡。老年下元已乏，不可破氣攻疝，溫養下元，尿管脹或阻溺，佐宣通仿香茸丸。</p>
<p>鹿茸　大茴　韭子　蛇床　當歸　麝香　青鹽　覆盆子溫經不用剛燥，總以老人下元先虧，腎虛惡燥，故主以柔陰藥。</p>
<p>戴(太興，二十八歲)　色脈是陰虛，其喉妨納，乃陰乏上承，熱氣從左升，內應肝腎陰火。前議復脈，大便滑泄，知胃氣久為病傷，不受滋陰，必當安間靜室以調，非偏寒偏熱藥能愈(陰虛不用陰藥，別開生面，但養肺胃津液，培中宮元氣，此為務本之圖)。</p>
<p>人參　扁豆　川斛　茯神　木瓜　北沙參凡咽喉妨納，總因氣火上升，陰精不能承載於上。然竟養肝腎之陰，脾胃必受滋膩，一或泄瀉陰液更下走矣，惟養胃陰升於肺，甚為捷徑。</p>
<p>汪(吳趨坊，四十五歲)　清竅在上焦氣分，搐鼻宣通氣固妙。但久恙氣錮，濕痰必生。</p>
<p>茶調散臥時服五分。</p>
<p>推進一層，眼光獨到，有形之濕痰不理，氣分決不宣通，清竅斷難疏利。些微小恙治法，迥不猶人，可敬。</p>
<p>楊(海寧，二十六歲)　此勞怯是腎精損而枯槁，龍雷如電光閃爍無制，腎脈循喉，屢受陰火熏灼，必糜腐而痛。冬無藏精，春生寂然，胃氣已索，草木何能資生。</p>
<h3>豬膚湯</h3>
<p>豬膚湯，上中下三焦俱治。白蜜潤肺，兼滋大腸，白粉補中以養脾胃，豬膚清膩以填少陰，既不滯脾，又能補益，不使龍雷上熾，何等穩妥(立方穩妥，病至如此，惟求用藥無礙而已)。</p>
<p>張(葑門，三十九歲)　過勞熬液，陽升咳血，痰多夜熱，非因外感。尺脈中動左數，肝腎內虛，失收肅之象。（咳血而收肅肺氣，今人必出養陰矣。)北沙參　玉竹　麥冬(炒)　扁豆　甘草(炙)　蔗汁治節之權，若能收肅於上，縱有龍雷相火，亦寧靜帖伏。如秋月氣收，雷電即下伏而不升發。病因先勞熬液，液為血之先鋒，液枯則繼之以血溢。惟肺氣肅上，則水藏有母，尺脈可寧矣。</p>
<p>錢(嘉善，三十三歲)　肺痿失音，形肉枯癟，氣損甘藥調和，不宜辛散滋寒矣。</p>
<p>白芨　米仁　黃　茯苓元氣雖歸根於腎，亦藉後天水穀之精營運，以使真氣維續，生生不已，以供日用，相繼於不息之途。下則吸歸於腎，上則充護於肺。中宮脾胃之司，其權最重。若氣分既損，則腎乏統攝之根，肺失堅剛之體，萎靡不振，乏精化氣。甘藥調和，尚恐不及，何堪辛散滋寒。</p>
<p>氣本無形，全賴有形之精血以化。古稱精生於穀，中宮納食生精，化氣之本也。</p>
<p>李(海州)　望七力量不比壯盛，凡男子下焦先虛，其跌仆致傷，從外而傷，筋縱骨短，不能再伸，外踝留著瘀凝形色，須至夏月，令瘍醫磁針砭刺可愈。</p>
<p>還少丹老年下元先虛，頭轉腳重，總為陽不下趨，濁陰上升清道也。故稍或不慎，最易跌仆致傷。還少丹溫補下元之品多，最宜常服不輟，自然輕健。</p>
<p>男子年將五十，仰事俯育正繁，且練達人情，洞明世事，神明內煩，些微精血，只供操勞而已。生氣日淺，下元安得不虛，所以頭重腳輕，最易顛仆耳。</p>
<p>王(唯亭，十八歲)　讀書身靜心勞，夜坐浮陽易升，少年人雖未完姻，然偶起情欲之念，人皆有諸。致陰中龍雷挾木中相火，震動而沸，失血咳嗽，乃臟陰不寧，暫緩書卷，早眠晏起，百日中勿加雜念，擾亂神志，可以全愈。服草木圖愈，非要領也。</p>
<p>少年生陽勃勃，動躍莫遏。凡濁陽下注，干變為離，洞開靈府，天機穎悟，蓋惟虛故靈耳。然不知禁懼，虛捐夭枉者比比(此案筆致飄逸體察工細先生甚忠恕也)蔣(楓鎮，十九歲)　血止心脘熱燥。(血後余波。)當養胃陰(妥帖)生白扁豆　大北沙參　骨皮　玉竹　桑葉　甘草　青甘蔗汁從來養陰者，但知養腎肝之陰。不知胃氣弱者，下元未受其益，中宮先受其滯，曷若先養胃陰，津液旁敷而不滯也。</p>
<p>高(江寧，二十一歲)　食已少頃，酸水涌嘔(虛中挾火，)但飢時不食，仍不安適。久病致胃虛，陽不營運，濁陰乃聚。春季以開導氣分辛溫不效，思虛中挾滯，泄濁溫通，必佐養正。苟不明避忌，食物焉能取效。</p>
<p>川連　吳萸　茯苓　淡熟川附　淡乾薑　熟半夏　人參泄濁溫通而不佐養正，則力量單薄，雖暫時通利，不久又復陰凝，惟養正則濁陰永不聚矣。</p>
<p>王(四十七歲)　痰飲乃陰濁化有形之物，阻陽氣不入於陰，陽蹺穴空，夜不熟寐，靈樞經用半夏秫米湯，謂通陽交陰，痰飲不聚也。天王補心一派寒涼陰藥，與濁陰樹幟，中年必不受護陽為要。(精實。)仲景云：凡痰飲當以溫藥和之。(指明確鑿。)小半夏東加秫米。</p>
<p>陽氣入於陰蹺穴即不空矣。今被有形陰濁阻逆，陽不內交，苟非驅化痰飲，擴清道路，安得通陽交陰耶?陳(同裡，五十三歲)　瘦人多燥，癉瘧，熱氣由四末乘至中焦，胃中津液，為熱劫鑠干枯，不飢不飽，五味不美，是胃陰傷也。(切當。)麥冬汁　人參　知母　生甘草胃陰充溢精氣，上升於喉舌，津液滋味和，食味甘美，胃陰虧者，陽明必熱，但覺喉間干澀，舌中味苦，精氣不榮於口，舌即不知味而不覺鮮美矣。</p>
<p>毛(四十歲)　氣塞填胸阻喉，不飢不飽，病起嗔怒，寅卯病來，臨晚病減。凡氣與火，必由少陽木性而升，故上午為劇。</p>
<p>栝蔞皮　薄荷梗　神麯　黑梔皮　新會紅　青蒿梗一日亦備四時之氣，上午主升，猶春氣也。中午主泄，猶夏令也。下午主收，猶秋降也。夜深主藏，猶冬伏也。治病體察至此，可云知幾矣。(知幾用涼藥必兼疏散，否則遏鬱而火愈不散。)何(淮安，十九歲)　性情固執，靈慧氣鈍，大凡心藏神，腎藏精，少年先病精神不易生旺有諸。宜用六味加遠志、菖蒲，開導心竅腎精，兩相交合(聰敏智慧本心腎竅通，錮閉則開通之，使之交合，真化工矣。)人當十五六歲，即愚頑薄劣者，到此時聰明漸啟，知識漸開，讀書便有領悟，世事略知二三。蓋因濁火已泄，干變為離也。</p>
<p>細極入微，惟虛故靈。</p>
<p>王(用直，五十歲)　肺痿聲啞，胃減食少不安，難治之症。</p>
<h3>戊己湯</h3>
<p>席(東山，五十歲)　血痹氣滯，腹中不和，而大便燥結不潤(血痹之故。)夏季以柔藥辛潤，交霜降土旺，連次腹痛，目　變黃，此非黃膽，濕熱瘀留阻壅乃爾。</p>
<p>炒桃仁　郁李仁　茺蔚子　冬葵子　菠菜干血蓄久必澀，故行瘀兼以滑可去澀，藥味總不妄投。</p>
<p>血主流行，痹則血結而氣滯，不甚血虛，當用宣通法，藥品精細。</p>
<p>劉(淮安，二十六歲)　有物有形之滯，從胃入腸，當心胸之下，皆陽氣游行之所，因初起停食幾年，疑惑其實，陽不旋轉，而致結痹。</p>
<p>薤白白酒湯病屬無形之氣，不關有形之滯，故用通陽法。</p>
<p>江(通州，四十四歲)　痰飲哮喘，遇寒勞怒即發。</p>
<p>小青龍去麻黃。</p>
<p>哮喘先開太陽。</p>
<p>陳(黎裡，四十四歲)　形色脈象，確是陽虛。酒食聚濕，濕注腸痔下血。濕為陰濁，先傷脾陽，陽微氣衰，麻木起於夜半亥子，乃一日氣血交代，良由陽微少續。有中年中痱之疾。</p>
<p>人參　生於朮　炮薑　炙草　炒黑附子陽主蹺疾，陽衰則軀殼重滯，陽微則生氣少續，附子理中以溫中下。總為健陽計耳。</p>
<p>張(嘉興，十八歲)　陰火從晡暮而升，寐中呻吟，是浮陽不易歸窟，形瘦食少，盜汗，攝固為是。</p>
<p>六味加人中白、阿膠。</p>
<p>凡小兒夜寐，神魂不寧，多哭淋漓，時起躁擾者，的系陰虛體質，先天稟薄，非遭痘殤，即至長育二十左右，必成癆瘵，此屢試屢驗者。</p>
<p>寐則陽氣潛藏，魂氣歸於肝矣，肝陰不充，神魂少戀，故寐中呻吟。治以養陰降火為宜。</p>
<p>李(婁門，六十七歲)　左右為陰陽之道路，而暮年頻又操持經營，且不獲利，心境失暢，則行動之氣血，拘束不和，為痛甚於夜者，陽氣衰微，入夜陰病加也。養營法，操持經營而不獲利，則心營拂鬱而失養，以養營法和暢氣血，俾肝木欣欣向榮，無拘束不和之患矣。</p>
<p>此無形之邪，僅免脫營失精耳。</p>
<p>張(海鹽，六十三歲)　據述秋季外邪變瘧，延幾月始愈。夫秋瘧是夏令暑濕熱內伏，新涼外觸，引動伏邪而發，俗醫但知柴葛解肌小柴胡等湯。不知暑濕在氣分，因藥動血，血傷攣脾，筋熱則弛，筋寒則縱，乃致有年痿痹難效之　。</p>
<p>當歸　寄生　虎骨　杞子　沙苑　撫芎病在氣分，妄動血分，每成筋痿拘攣，骨節疼痛，痿痹不舒，久恙，業醫者，可不慎歟？孫(南倉橋，二十四歲)　精損於下，陰中龍雷燃爍莫制，失血後肛瘍膿漏，即陰火下墜致。行走喘促，涎沫盈碗上涌，腎不攝納真氣，五液化沫涌逆，無消痰治嗽之理。扶胃口攝腎真，此時之要務。</p>
<p>人參　坎氣　胡黃連　紫石英　茯苓　五味子　芡實　山藥火性本上炎，而陰火有孔即注，亦能下墜。恆見足心沸熱，喜踐冷處，亦陰火下墜之症也，老氣無敵。</p>
<p>吳(關上)　氣泄用陽藥固氣，庸醫治嗽滋陰，引入勞病一途。</p>
<p>黃　建中加人參久嗽則肺氣緣咳而升泄。肺主華蓋，一身治節出焉。泄則中氣少續，用陽藥固氣，是為知要。</p>
<p>王(同裡，二十七歲)　向成婚太早，精未充先泄。上年起於泄瀉(少陰不固)繼加痰嗽(五液變痰)食納較多，形肌日瘦(陰火內灼)深秋喉痛，是腎精內乏(循少陰脈上烈。)當冬令潛降，陰中龍雷閃爍(逆天度矣。)無收藏職司，穀雨萬花開遍(陽氣大升大泄，)此病必加反復。</p>
<p>秋石拌人參　紫衣胡桃肉　茯神　紫石英　女貞子　北五味子病情一路述來，分五層次第，著實說來，無捕風捉影之談。</p>
<p>沈(三十四歲)　六腑陽氣不行，濁凝便艱，濁結則痛，半硫丸熱藥中最滑，入腸泄濁，陰沉滯胃，陽當未醒復，薄味相宜。</p>
<p>炒生川附　生淡乾薑蔥白汁泛丸。</p>
<p>惟半硫丸最滑，故入腸速而不留戀於胃，胃陽尚未醒復。</p>
<p>陸(寶山，十八歲)　春正氣候，寒威未去，吸受寒氣，先傷胸膈胃脘之陽，食已噯噫酸濁陳腐之氣，乃清陽不至，旋轉運用。忌進腥黏，始用蔬食，病去胃口不得亂藥。</p>
<p>蓽茇　生益智仁　生薑　砂仁殼　土瓜　蔞皮上焦主清，主陽，惟虛靈無濁味熏染，則上焦得通，津液得下，胃氣因和也。</p>
<p>唐(江寧，二十九歲)　病患述上年夏五月住直隸白溝河，北省不比南地，雨濕熱蒸，夜坐寒侵，即寒熱亦是輕邪，醫用滾痰丸下奪，表邪結閉，肺痿音啞，喉痛咽物艱難，仿徐之才輕可去實，有氣無味之藥。(氣走陽，味走陰，輕揚肅上，取氣輕力薄者。)射干　甘草　大力　滑石塊　麻黃苗　蟬蛻　杏仁張(無錫，二十二歲)　嗽血秋季再發，夜熱汗出，全是陰虛。大忌肺藥。理嗽絕欲百日，助其收藏，胃口頗好。腎肝陰藥必佐攝納。</p>
<p>熟地　炒山藥　芡實　五味　湖蓮　茯神陸(西淮，六十一歲)　人到花甲，下元先虧，嗜酒濕聚便滑，視面色雄偉，精采外露，加勞怒，內風突來，有痱中之象。(精采外露，下元愈虧，內風一動，無根蒂以立基地矣，故痱中也。)七寶美髯丹加三角胡麻。</p>
<p>陳(東倉，三十三歲)　脈小緩澀，自胃脘脹至少腹，大便已溏，泄肝苦辛，小效不愈。</p>
<p>少壯形色已衰，法當理陽宣通，慮其腫浮腹大。</p>
<p>人參　木瓜　廣皮　炮薑　益智　茯苓沈(湖州)　農人單腹脹，乃勞力肌飽失時所致，最難見效。</p>
<h3>腎氣丸</h3>
<p>陳(二十七歲)　精血奪，足痿。</p>
<p>人參　茯苓　大茴　當歸　鎖陽　精羊肉</p>
<h3>膠丸</h3>
<p>龔(無錫，六十三歲)　老年嗜蟹介，鹹寒傷血，上下皆溢，當理其中。</p>
<h3>理中湯</h3>
<p>楊(無錫，三十一歲)　脅痛失血，以柔劑緩肝之急。</p>
<p>桃仁(炒)　丹皮(炒)　歸尾　柏子仁　鉤藤杜(鳳陽，三十八歲)　瘧後脾弱，肝乘中氣不舒，易生嗔怒。</p>
<p>生益智仁　檀香末　茯苓塊　新會皮　枳實皮為末，水泛丸。</p>
<p>汪(徽州，三十五歲)　仲景云：厥陰病氣上撞心，明示木中風火上行，都因血少陰虛，以癇症痰火有餘，大謬。</p>
<p>女貞　茯神　萸肉　天冬　細生地　建蓮　赤金箔氣上撞心之所以然，發揮明確。</p>
<p>錢(淮安，二十二歲)　露薑飲止瘧，是益中氣以祛邪，虛人治法皆然。脾胃未醒，忌腥酒濁味。</p>
<p>大半夏加橘紅、益智，薑汁丸。</p>
<p>湯(胥門，五十六歲)　酒客大便久溏，世俗謂聚濕脾傷損腎，脾病入腎，有久瀉久痢為腎病矣。失血用滋陰涼降者，十居七八，以少年陰虛火炎為多。如中年積勞走動欲喘，久立肛墜後重，所宜在乎攝腎固納(察症細密已精，而益求其精。蓋少年所慮在陰虛，老年所慮陽虛耳。)理中湯劫胃水，能止上下失血。王損庵法立見，非是杜撰，不效之所以然，以腎虛惡燥耳(以酸味固納，兼以酸甘化陰)。</p>
<p>人參　萸肉　茯苓　石蓮子　木瓜　炙草　五味子腎氣乃先天真陽，主收攝一身之元氣，腎氣充足，既不上升逆沖，亦不下墜後重。一經散漫，上下交失，沖氣既有咳嗆之虞，二便時有欲出之勢，葆真者免夫。</p>
<p>羅(二十三歲)　壯年述冬季夜汗，入春吐血，問納頗旺，無力舉動，但喉癢發嗆，此陰虛龍火上灼。議用虎潛去牛膝、當歸，加五味、二冬。</p>
<p>沈(昆山，六十一歲)　老人形寒足痿嗆痰，男子下元肝腎先衰，其真陰少承，五液化痰，倘情懷暴怒，內風突來，有中痱之累。戒酒節勞，務自悅怡養，壯其下以清上(壯其下則濁陰不升，五液漸化精微，而神明之地不為濁蒙而清矣。)熟地　萸肉　蓯蓉　川斛　戎鹽　牛膝　枸杞　鹿筋膠任(山西，三十歲)　夏季吐血，深秋入冬頻發，右脈弦實，左濡，是形神並勞，絡血不得寧靜，經營耗費，氣血不化少壯矣。</p>
<h3>黃建中湯</h3>
<p>范(無錫，二十九歲)　織梭身體皆動，過勞氣血，偏倚左脅痛，失血嘔血，肝絡傷瘀，久發則重。</p>
<p>炒桃仁　延胡　新絳屑　降香末　炒丹皮　鉤藤沈(湖州，二十九歲)　病傷不復元，壯失保養，延為勞嗽，胃氣頗好，可與填精固下。</p>
<p>都氣法去丹澤，加水陸二仙(金櫻芡實)胡桃肉。</p>
<p>洪(吳江，二十七歲)　肌肉日瘦，竟夜內熱，是內損陰虛，漸挨勞怯，安逸可久，天暖氣泄病加(陰損將及陽矣，故氣暖病加。)早服乳酪一杯，另服補陰丸。</p>
<p>王(寧波，四十八歲)　七疝肝病為多，有聲響為氣疝。寒入募絡，積疝堅硬下墜，中年不可從張子和用八味加大茴香、葫蘆巴(聲響乃氣之所鼓，寒氣凝阻正氣淵乎微妙，不到中年以後，那知病情如是耶?)雍(楓橋，二十七歲)　眩暈嘔水，心中熱，神迷若癇，皆操持運機，易於升舉，蒙冒清神。生薑辛可通神，但氣溫先升，佐入涼降劑中乃可。</p>
<h3>溫膽湯</h3>
<p>沈(南潯，三十三歲)　凡外邪入肺而咳嗽者，可用表散肺氣。若內傷累及於肺致咳者，必從內傷治(此系中虛咳嗽，用藥純粹以精。)汗之則泄陽氣，肺痿食減音低，顯然藥誤。</p>
<p>黃　米仁　黃精　白芨痰飲乃積滯久留，吐出為安。若濁黏涎沫，是身中臟腑津液，所以奉養軀命者，倘被陰火燔灼，上逼咽喉吐出，是腎臟不納，乃為重病。</p>
<p>金(運漕，四十四歲)　冬藏失司，嗽吐涎沫，是腎病也(識力清老脈必兩尺不固。)醫見嗽咸以肺藥治之，年余無效。</p>
<p>氣機從天度升降，是乾坤翕辟大道。年多真氣真精虛衰，病氣為主，以致天氣肅降而收。病反多抗拒，偏易上逆，應藏不藏，違逆天度矣。</p>
<p>何(王家巷，二十七歲)　色奪脈促，寒露霜降嗽甚，風冷形肌凜凜，衛陽空疏氣泄，群醫不識，是為瞽醫。</p>
<h3>小建中湯</h3>
<p>蔡(南濠，四十三歲)　操持太過，肝腎浮陽上冒，寤不成寐。</p>
<h3>《金匱》酸棗仁湯</h3>
<p>顧(鐵瓶巷，十六歲)　稚年筋脈未堅，努力摟抱，致氣血流行，有觸胸背，骨偏突成損，此屬不足，非因外邪。在身半以上為陽，主氣，致右肛瘍成漏年余，真陰五液皆傷，納食在胃，傳入小腸而始變化。因咳痰不出，致嘔盡所見乃已，喉痛失音，涎沫吐出，喉中仍然留存，明明少陰腎脈中龍火內閃，上燔陰液，蒸變涎沫，內損精血所致。醫見嗽啞，清金潤肺，未明嗆嗽之源，是就其凶。(老筆。)</p>
<p>莊(宜興，十九歲)　瘧痢後脾腎兩傷，用繆氏法。</p>
<h3>雙補丸</h3>
<p>周(金匱，十九歲)　夏伏暑濕，秋季如瘧，邪不盡解，成瘡，能食不化，腹中有形，脾胃不和，用東垣法。</p>
<p>李　勞久傷陽，胃痛吞酸，痰多(真陽傷而火愈旺，故吞酸痰多，溫中則邪火自伏矣。)熟半夏　延胡索　葫蘆巴　高良薑　老生薑　川楝子　塊茯苓王(南金，二十八歲)　環跳筋骨酸痛，少年積勞傷陽維脈血少護衛。</p>
<p>歸身　枸杞　生虎脛骨　巴戟　川牛膝　沙苑　青鹽　羊肉膠丸張(橫涇，三十七歲)　勞傷虛質，脹病初愈，因動怒氣鬱不食，二便皆阻。論腸痹從丹溪開肺法。</p>
<p>杏仁　紫菀　蔞皮　蘇子　桑葉　桃仁黃(嘉興，五十三歲)　情志內郁，心痛如絞，形瘦液枯，不可氣燥熱藥。</p>
<p>炒桃仁　柏子仁　延胡　炒丹皮　小胡麻　鉤藤張(大興)　精未生來，強泄有形，最難充旺，至今未有生育，形瘦食少，易泄精薄，形脈不受剛猛陽藥。議借血肉有情，充養精血。</p>
<p>淡蓯蓉　鹿鞭　巴戟　牛膝　羊腎　鎖陽　枸杞　青鹽　菟絲　舶茴香方藥精實。</p>
<p>戴(楓橋，五十二歲)　喉咽管似乎隘窄，一身氣降，全在於肺。由胃熱升肺失司，年紀日多，氣結痹阻，薄味整肅上焦，用藥以氣輕理燥(肺借資於胃，胃熱氣升，肺即失司，清降肺以清潤為主，理其燥自下降矣)。</p>
<p>枇杷葉　蘇子　米仁　桑葉　降香　茯苓肺之失司，總由於燥胃有火熱，上升嬌藏，失其滋養，故治肺貴乎理燥，而理燥在乎氣輕。</p>
<p>馬(陸家橋)　濁止足腫，膝首腫痛，起於夏秋，必挾地氣，濕自下受，酒客內濕互蒸，內外合邪，湯藥決不取效。</p>
<h3>蠲痛丹</h3>
<p>濁病止則足腫，是濕邪無從泄瀉，其從前濁病，亦是濕氣下注膀胱，非關精竅為患。</p>
<p>周(塘樓，二十五歲)　濕是陰邪，膚腠中氣癭結，病起大便自瀉，從太陰治。</p>
<p>生白朮　淡熟小附子　細川桂枝尖　茯苓塊李(嘉興)　質虛不耐煩冗，動則陽升，由陰不和陽，深秋痢症雖愈，猶夏季致傷。</p>
<p>人參　茯苓　棗仁　炙草　小麥　青花　龍骨用妙香法以和陽，是和心陽耳。</p>
<p>王(北濠，二十五歲)　中焦痛起，四肢逆冷，汗出，嘔涎及食物，此屬脾厥。</p>
<p>極黑附子　草果仁　粗桂皮　片薑黃　延胡索厥為寒之極，太陰本是至陰，熱藥為宜。</p>
<p>呂(同裡，二十歲)　夏令熱氣傷陰失血，冬藏氣降，血症必然不來，肉瘦精虛，嗽不肯已。宜滋培臟陰，預防春深升泄病發。</p>
<p>固本加五味子汪(沐陽，五十四歲)　居住臨海，風障癘氣，不比平原，人眾稠密，障癘侵入腦髓骨骱，氣血不和，壅遏內蒸，頭面清真痹阻，經年累月，邪正混處其間，草木不能驅逐。具理而論，當以蟲蟻向陽分疏通逐邪。</p>
<p>蜣螂　威靈仙　蜂房　川芎火酒飛面同丸。</p>
<p>呂(同裡，四十五歲)　心痛得食反緩，是積勞營虛，大忌破降氣藥。</p>
<p>桃仁　桂元肉　炒黑芝麻　當歸身　柏子仁羅(二十三歲)　病患述遇春季則失血，煩勞必有衄血。凡冬月大氣藏伏，壯年自能聚精匯神，不加保養，春半地中陽升，發生之氣交，反為發病動機矣。是皆身中精氣之薄，胃納安旺，自能知惜靜養則神藏。</p>
<p>熟地　山藥　芡實　五味　金櫻　湖蓮　萸肉　龍骨　茯神朱(湖州，三十八歲)　太陰腹脹，是久勞傷陽，不飢不飽，二便不通爽，溫以通陽，苦溫疏滯。</p>
<p>制附子　熟大黃　草果　生厚朴　生薑　廣皮溫下法，從許學士溫脾湯來。</p>
<p>夏(山塘，七十五歲)　初冬溫熱氣入，引動宿飲，始而狀如傷風，稀痰數日，痰濃喉干，少陰中五液變痰，乏津上承，皆下虛易受冷熱，致陰上泛。老人頻年咳嗽，古人操持脾腎要領，大忌發散泄肺，暫用越婢法。</p>
<p>凡內有宿病，每因新感六氣，病邪牽動而發。蓋藏匿夙病之處，氣血必虛弱，故新邪必注空隙為患。</p>
<p>沈(槐樹巷，二十二歲)　自交秋初，皆令陰陽巔脹失血，三月懷妊，法當養陰固胎。</p>
<p>人參　黑殼建蓮　子芩　阿膠　白芍　桑寄生戴(徽州，三十九歲)　仲景論痰飲分二要，外飲治脾，內飲治腎。又云：凡飲邪必以溫藥和之。閱方是溫養腎藏，不為背謬。考痰飲有形，原其始也。陽氣微弱，濁陰固聚，自下逆行，喘不著枕。附子走而通陽，極為合理。然其余一派滋柔護陰，束縛附子之剽疾矣。(此為陽微而陰未甚虧者。設仲景八味丸治痰飲，丹苓澤原疏通臍陽，非盡滋柔護陰者。)</p>
<h3>真武湯</h3>
<p>此症只須通陽，不必顧陰。</p>
<p>李　積勞傷陽，腹膨仍軟，脈弦(雜症細)無胃氣，形衰廢食，理中宮陽氣之轉旋，望其進食。延久無能卻病矣。</p>
<p>人參　淡附子　穀芽　茯苓　益智　廣皮腹膨而不軟，不但傷中宮之陽，中下濁陰凝結矣。惟膨而仍軟，知陽雖傷而尚未陰凝，但理中宮之陽，俾得轉旋斯愈矣。</p>
<p>陽氣在胸腹升降轉旋，無一息之停，斯清濁分而上下治。</p>
<p>沈(北城下，三十六歲)　溫疹皆病氣鼻口吸受其穢邪，是天地乖戾不正之氣，無形之物，上竅阻塞，嗆物不下，醫不知無形有形，但曰清火寒降，至藥直入腸胃，與咽中不相干涉(無形穢濁之邪，有氣無質，氣雖濁而性仍上浮，故以清輕氣分藥治之)。</p>
<p>連翹心(一錢)　射干(三分)　鮮蘆(一兩)　馬屁勃(七分)　牛蒡子(錢半)　銀花(一錢)以無形治無形，針鋒的對，此法前人所未發泄。天翁具此清輕一路，使無形之感化於無有，抑何巧思至此。</p>
<p>徐(宿遷，四十七歲)　冬月涉水之寒，深入筋骨，積數年發，脛膝骨冷筋縱，病在下為陰，久必氣血與邪交混，草木不能驅逐。古人取蟲蟻佐芳香，直攻筋骨，用許學士法。</p>
<p>炒烏頭　山東地龍　全蠍　麝香著筋著骨病邪，須服著筋著骨藥品。</p>
<p>錢(同裡，五十六歲)　酒熱入血，瘀嘔盈盆，越六七年變成反胃妨食，嘔吐涎沫。問大便仍通，結閉在脘中。姑以通瘀開閉(酒性本走血分，火酒更易煎熬，血被熱氣劫住，故瘀滯耳。)韭白汁　桃仁　延胡　京墨汁　生蒲黃　片子薑黃得訣在問大便仍通，故知結閉乃在脘中。通瘀開閉，足愈斯病。不入治反胃門藥矣，此為善審病機。</p>
<p>韓(新開湖，四十五歲)　臭氣入喉(吸字解勿作香臭，斯乃腎不納氣之病)，嗆咳失血，緣腎脈上循咽喉舌下，是腎虛氣逆也。風藥治表，清寒降氣，無識者，皆然。病患說病來必先寒冷，陰中陽虛不收攝(孟於謂鼻之於臭也。)人參　枸杞　茯苓　沉香汁　坎氣　建蓮肉　人乳粉李(無錫，三十三歲)　嗆嘔下焦寒冷(先治下，繼治中。)</p>
<h3>薛氏八味丸</h3>
<p>用四君東加黃　、山藥，名曰六神湯，或以之改丸常服。既平之後，復後天生氣從脾胃顧(南京，三十二歲)　頻年發失血症，嗽甚痰多，必有嘔噦，日晡寒熱，夜深汗泄。據述見血，醫投鬱金、薑黃、韭汁、製大黃，逐瘀下走，希圖血止為效，此有餘治法(往素病機不論內傷外感，總是氣順則治，氣逆則病。極平常語，切須記憶。)凡人稟陰陽，造遍致損，由內損傷，即是不足。脈左動數，尺不附骨，明明腎精肝血內奪，弱陰無能交戀其陽，衝陽上逆，吸氣不入，咳嗽氣並失旋，必嘔噦濁涎黏沫(咳嗽氣並失旋四字內景如繪幾經烹煉。蓋胸中真氣呼吸出入往來，轉旋如轆轤，咳則氣逆，有升無降，故必嘔噦矣。)內經謂五臟六腑，皆令人咳，奈今醫以咳治肺，見痰降氣清熱，損者更損，殆不能復。不知臟腑陰陽消長之機，雜藥徒伐胃口，經年累月，已非暴病，填實下隙，須藉有形之屬。</p>
<p>人參　紫衣胡桃肉　紫石英　茯神　五味子　萸肉　河車膠(一錢)　秋石(二分)張(官宰弄，三十一歲)　酒客多濕，腸胃中如淖泥，陽氣陷，血下注，昔王損庵以剛藥劫胃水濕(陽氣陷、血下注則病，在氣不在血矣。)理中東加木瓜理中剛燥劫藥，加木瓜則辛中有酸，以斂氣而不散越。且木瓜宜宣通經絡，於濕病相宜，收中有宣泄之妙。兼能酸甘化陰，不致剛燥劫津，此加味有巧思也。</p>
<p>華(南京，三十二歲)　通中焦氣血，痛緩嘔食，是胃虛氣逆。旋覆代赭湯。</p>
<p>華(無錫，三十一歲)　夏月帶病經營，暑熱乘虛內伏，秋深天涼，收肅暴冷，引動宿邪，寒熱數發，形軟減食，汗出，與歸　建中湯。</p>
<p>汗經寒熱屢出，暑熱宿邪已去，惟真陽不足，元氣未充，益中上之陽，其病自愈。</p>
<p>王(雙林，二十六歲)　早食嘔吐酸水濁涎，心口痛引腰胯，此陽微濁陰犯絡，例以辛熱(玩早食二字，必至晚。尚未消磨也。上午為清陽用事，停滯陽虛顯然。)烏頭　良薑　延胡　川楝　紅豆蔻　茯苓王(杭州，二十一歲)　據述遺精頻至，哮喘病發必甚，此腎虛失納不固，真氣散越沖急。少年形瘦，難用溫法，當導引入任脈陰海以固之。</p>
<p>龜腹板　人參　芡實　金櫻膏　坎氣　紫胡桃　五味　黃柏千斟萬酌，有此良治。</p>
<p>金(杭州，三十四歲)　當正面傍左發瘍，牽出黃，濕中生熱，由陽明少陽經來。宜薄滋連翹心　飛滑石　浙茯苓　蒼耳子　干浮萍草　白蘚皮　金銀花　紫花　地丁草絕妙瘍科方藥，清輕無滯，欲其上浮也。</p>
<p>張(雙林，二十七歲)　痛而喜按屬虛，痰多肢冷是脾厥。病大便三四日，乃津液約束(脾厥雖由臟寒，總是脾營失養不運。)炒桃仁　火麻仁　片薑黃　淡歸須　炒延胡張(無錫，三十九歲)　初秋經停幾兩月，下血塊疑似小產，遂經漏不止(精義)。入冬血淨，加五心脊椎骨熱，天明微汗熱緩，凡經漏胎走(筆勢展拓，下元真陰先損，任脈陰海少液，督脈陽海氣升，所謂陰虛生熱矣。精血損傷，醫投　朮，呆補中上，是不究陰陽氣血耳(督任為天關地軸，為升降樞機，陰陽每相系戀，陰虛陽必升逆)人參　建蓮　女貞　茯神　糯稻根　阿膠　炙甘草　白芍　萸肉張(包衙前，四十五歲)　自胃痛起，咽食又噎(閱症極似肝膽熱升，須確切脈理，)近加涌中上二焦之脈必微弱不旺，重按無力。辛溫開結法，用人參以統御之。)人參　熟半夏　茯苓　葫蘆巴　蓽茇　老薑汁以大便不爽，知中宮陽氣不司轉旋，不然症類木火氣升矣。蓋氣火升則下焦失溫納，大便反易出而爽也。辨症切脈，最難明確。</p>
<p>王(陸家　，三十歲)　陰邪盛為腫，便溏溺短，議通腑陽。</p>
<p>生炒黑川附子　椒目　炒焦遠志　生於朮　生厚朴　茯苓　豬苓　青皮錢(五十四歲)　外邪窒閉肺竅，用輕劑治上。食可下咽，水入必嗆，此喉氣有阻，仍以杏仁　桑葉　米仁　紫菀　浙茯苓　川通草唐　閱原案開列皆肝腎為下元，男子中年已後，精血先虧，有形既去難復，五液內奪，陽氣易越。治法從陰引陽，勿以桂、附之剛(五液內奪，裡氣必燥熱有火，是以內風易起)。</p>
<p>鹿茸　角霜　當歸　天冬　茯苓　蓯蓉　杞子　天麻　浙黃菊詹(四十三歲)　食入脘悶噯氣，嘔吐覺爽，少焉仍然痞悶，形軀充偉，脈形小濡，中年陽微不運，是為不足。泄降氣分攻痰，有餘治法，非此脈症所宜(此脈形小濡，故確指其為陽微不運之病，否則錯認肝火矣。)</p>
<h3>治中法</h3>
<p>中不安穀，既無痰凝火升，但覺脘悶噯氣，吐後仍痞，顯屬中宮氣衰，陽微不主運動，再行泄降氣分大謬。</p>
<p>沈(北城下)　辛氣開上，肺氣降可效。</p>
<p>蘆根　白蔻仁　杏仁　米仁　浙苓　厚朴劉(三十三歲)　武略用力迸氣，與酒色精傷不同，失血在長夏熱泄之令，胸附骨皆痛，乃肝胃絡傷。</p>
<p>桃仁　蘇子　南楂　米仁　茯苓　韭汁　丹皮　降香陳　久嗽失音，脈小痰冷，此肺虛氣餒，不易驟愈，酒家有飲邪沖氣，入暮為重。</p>
<p>孫(三十六歲)　奔走勞煩，暴熱上蒸，即是身中陽氣不交於陰(精義)麻木在四肢，內風屬陽之化，左屬肝，肝性剛，柔劑為宜。若用酒藥，益助其動陽，是矛盾矣。(從來火中有風，肝陽旺甚火生，即熱極化風矣。)生地　天冬　藕汁　沙苑　寄生　女貞　炒枸杞　川斛唐(五十六歲)　夏足跗肌浮，是地氣著人之濕邪，傷在太陰。陽明初病失血，繼而嘔涎拒食，醫不知濕傷脾胃，漫延乃爾(從來濕傷太陰，熱起陽明，濕為陰邪，下先受之。)五苓散去澤瀉，加益智仁　厚朴　廣皮　滑石龔(茜涇，六十八歲)　心下胃口之上，痛有兩月，問酒客往昔腸血，每痛發，食進少，其痛始緩，食進多，痛即立至。據說飲熱酒，脘中爽然，則知濁凝濃味，皆助陰傷陽宜戒(肉食難飢，素食易餓，總是濃濁難於運化。然中宮之陽為濁陰滋膩，陽氣亦漸勞乏也)。</p>
<p>蓽茇　紅豆蔻　烏藥　蘇梗　良薑　延胡　生香附陽氣在中下二焦，如火熏走馬燈，轆轤旋轉不定。松脆之物，入胃易於流走運化，精華糟粕，旋即分頭各歸其所。若濃味酒液黏膩，濃濃留滯腸胃，樞機雖旺，其如窒礙何。</p>
<p>吳(三十九歲)　自幼失血，是父母遺熱，後天真陰不旺。幸胃納頗強，不致延成損怯。</p>
<p>血利十六個月(是虛症矣)，腹中不痛，但肛門下墜，刻刻如大便欲出。世俗見利，咸治肝胃，此系腎虛，陰陽下竅不固，固攝其下為是(腎氣攝納，緊固下元，始有關閘。若下墜如欲便出，氣不固矣。若再加以濕熱下注，晨起即大便欲出，不能耐久。)熟地炭　萸肉炭　山藥　五味子　生白芍　茯苓王(五十三歲)　問有女無男，嗆咳甚於日晡黃昏，肌肉消瘦，夏季失血，天令暴暖，陽浮熱灼，弱陰無從制伏。夫精損陰火上鑠，必絕欲可以生聚，半百未生育，當自諒情保節(夏月陽氣既浮，熱氣灼烈。陽浮則真陽散越，汗泄而虛，熱灼則陰分煎熬，津液枯鑠，當分兩層。)熟地　龜甲　魚膠　牛膝　茯神　遠志　萸肉　青鹽　沙苑　五味　柏子仁程(二十二歲)　偶食閉氣物，胸中痞悶不飢，脈小澀怕冷，清陽受傷，不宜端用消克。</p>
<p>杏仁　生薑　廣皮　厚朴　蓽茇　生益智　蘇合香丸李(二十五歲)　精泄痿　內枯，損及奇經，六年沈　，藥難取效(陽蹺、陰蹺、陽維，陰維皆失其司矣。)淡蓯蓉　鎖陽　羊肉膠　舶茴香　菟絲子　青鹽戴(楓橋)　用肺藥開上氣不效，病患說痰味鹹，穀道窄，從腎氣逆升入咽，用滋腎丸。</p>
<p>每服三錢，鹽湯下(腎氣逆上入咽，用滋腎丸下走，何等巧思靈妙。)肺氣統攝一身之氣下行，腎氣受其節制，亦不致上逆。乃腎氣既易上升，再因肺藥開上氣，更易逆升矣。</p>
<p>許(常熟)　奔馳勞動搖精，精腐溺濁，繼出血筋，真陰大泄於下，胸痞不知飢，腹中鳴響攻動，乃清陽結閉於上(陽微不下行致響。)此皆不知陰陽虛實(精實)，但以淡滲涼降，反傷胃中之陽(此症下損及上，從陰損陽，用妙香最為穩著。)茯苓　炙甘草　煨熟廣木香　人參　茯神　益智仁　生穀芽　新會皮儲(宜興，三十三歲)　問生不長育，自覺形體不為矯捷，陰中之陽不足，精氣未能堅充，莫言攻病，務宜益體。夫生化之源，在乎水中有火，議斑龍丸(從來生育之機，非陽不生，非陰不成，最重水中之火也。)王(山塘，二十四歲)　八日間痛發一次，日來不飢，大便不爽。凡痛嘔出黃濁，水難下咽，濁氣自下上涌，即有嘔吐之狀。腸中滯氣不行，胃中涎沫不瀉。濁氣自下上涌，由於腸中滯氣不行，胃中涎沫不瀉耳。</p>
<p>半硫丸，每服一錢二分。</p>
<p>腸中滯氣，胃中涎沫，所以不行不瀉，由於腸胃陽氣不足，陰邪濁邪，轉得逆上涌泛，必半夏之降逆，硫黃之溫通。俾滯氣行而涎沫瀉耳。</p>
<p>嵇(石塔頭，四十八歲)　夏月黃膽，是脾胃濕熱氣化，治疸茵陳，乃苦清淡滲，右脅之傍為虛裡穴，久進寒藥，胃傷氣阻成瘕。問大便不爽。用阿魏丸，每服一錢，(久進寒藥，後之變相黃膽，濕熱留著，阿魏丸消克之。)莊(新盛，二十二歲)　煙熏犯肺，嗆逆咽痛，以清氣分之熱。輕可輕揚，味重即非治上。</p>
<p>大沙參　綠豆皮　葳蕤　桑葉　生甘草　燈心沈(五十二歲)　巔頂近腦，久痛骨陷，乃少年時不惜身命，真精走泄，腦髓不滿，夏月乏陰內護，痛軟不能起床。五旬有二，向衰諒難充精復元。(夏月氣泄傷陽，而陰乏亦不能內護，抵當熱氣，此病機所以難執一也。)龜腹甲心　黃柏　虎脛骨　熟地　鎖陽　鹽水炒牛膝蜜丸。</p>
<p>楊(三十八歲)　病未復元，勉強勞力傷氣，胸腹動氣攻衝，或現橫梗，皆清陽微弱，不司轉旋。</p>
<p>三陽少陽為樞，平日上升清道，為樞機轉旋，升清降濁，三焦分理，皆是物也。病後清陽微弱，勉強勞力，傷在氣分，樞機無力，轉旋失司矣。</p>
<p>顧(葑門)　失血既止，入冬不但血來，嗆嗽火升，外寒內熱。夫冬為蟄藏匯神之令，少壯不自保惜收藏，反致泄越，乃腎肝藏陰內怯，陽氣閃煉自鑠，草木填陰，暫時堵塞其隙，精血無以寧養。務潛以絕欲，百日不發為是，屢發必凶。(真水所以養真火，冬為萬物歸根，陽氣內伏藏陰因不謹虧損，真火獨旺，真水愈涸，至木旺春升，溫熱病所由熾也。)熟地(炒炭)　茯神　萸肉　五味　湖蓮　芡實　女貞　川斛不特火氣內伏，煎熬精血，至來春水不養木，少陽相火熾甚也。陰虛者火必升，嗆嗽吐血，當時有必致者耳。</p>
<p>於(金壇，二十六歲)　風熱傷衛外之陽，再發散升藥動陽，血自陽絡而出，醫用大黃逐瘀使下，下則陰傷，不飢痞悶，痰黏不渴。急急醒脾扶胃，再以清寒治嗽。決無愈期(蓋衛應乎胃，衛外陽傷，當亟醒脾胃之陽，但治血溢之所以然，絕不於血分內瞻顧。蓋治其本則標自愈，非如今人之見血治血也。)人參　白芍　生益智　茯苓　炙草　廣皮服十劑後，接服異功散(血從胃來，非關肺腎，故異治也。)胃為多氣多血之海，而脾實統之，是以少年從色欲致傷而失血者，久則尚須亟固脾胃，使精生於穀，以漸補腎肝。況因風熱傷陽，再以發散升泄，陽不固而致血上溢者乎?治病安可通套耶!張(二十九歲)　勞傷陽氣(直起喝破，惟老手能之不可以為老生常談，)當壯盛年歲，自能保養安逸，氣旺可愈。</p>
<h3>人參當歸建中湯</h3>
<p>曹(三十一歲)　腎虛(筆力清老)水液變痰，下部潰瘍成漏，血後嗽嗆不止，精血內奪，龍雷閃爍，陰損及陽，症非渺小，庸醫見痰血及嗽，輒投涼劑，不知腎藏生氣宜溫，若胃倒便瀉，坐視凶危矣。(腎臟生氣春升溫暖之氣也，溫則生，寒則生機絕矣。)人參　胡桃肉　五味子　茯神　鮮河車膠　湖蓮子　芡實治腎病有時用知、柏、龜、地，亦以其相火過熱，除其熱氣，使之溫和也，並非寒冷遏絕生氣也，亦猶溫膽湯之義。知此一層，便知用寒涼之妙，豈易言哉。</p>
<p>沈(二十五歲)　年十三時，自食鹿角膠吐血，繼用龜板膠而愈，緣稚少陽體，升補督脈已非，述有遺泄，慮血再發，肌肉消瘦，陰虛偏熱，既慮夙恙，當戒奔馳用力。靜處身心自寧，無發病之累(奔馳用力太過，浮陽最易泄越，陰火即隨上溢，載血涌逆。惟靜處林泉天真寧謐，斯為上藥。)六味去丹澤，加水陸二仙、覆盆、湖蓮、龜腹版心。</p>
<p>楊(二十二歲)　陰損體質，學藝傾銀，火燃外爍內，液枯不能復，日飲上池無用。</p>
<p>糯稻根須　天冬　熟地　五味子莫(無錫，四十六歲)　易怒，氣火逆行，脘中微窒(有痰滯，)氣阻妨食，先開上痹，瘦人脈數弦，勿投香燥(氣火逆行，痰必上涌，故藥兼治痰也。)枇杷葉　降香末　黑梔皮　土蔞皮　杜蘇子　新會皮(去白)管(四十三歲)　食減內瘦，食已不運，診關前沈濡小澀，尺中虛芤，脾陽宜動，腎陽宜藏，見此脈症，未老早衰。內損以調偏，莫言攻邪。(脾陽宜動，腎陽宜藏，其治法動脾陽即所以藏腎陽也。)人參　茯苓　蓽茇　葫蘆巴　生益智　生薑脾陽腎陽，宜動宜靜，各有所主。此二語醫理中玄妙，該括無數妙義，後學牢牢記著。</p>
<p>知但動脾陽，即所以藏腎陽，而藏腎陽益所以動脾陽也。</p>
<p>倪(楓橋，二十三歲)　勞傷營衛，不任煩冗，元氣不足，兼後天生真不旺。古人必以甘溫氣味。從中調之(心營肺衛治法用藥益見心為陽中之太陽也。)建中法加人參、桂心、當歸。</p>
<p>心營肺衛，實則兼統於心。以心為陽中之太陽，營衛惟太陽主之，建中加參、桂、當歸，建心主之宮城也。</p>
<p>邵(楓橋，七十七歲)　高年四末肉腫骨大，乃氣血已衰，不能涵注，內風暗起，謂風淫末疾(稟經酌雅)。</p>
<p>桑寄生　枸杞子　虎掌骨　沙苑照常熬膏，不用蜜收。</p>
<p>徐(二十三歲)　內損血後，痰嗽漸漸聲啞，乃精血先傷，陰中龍火閃爍，迭經再發，損必難復，填實下元，慮其不及。庸醫見血滋降，見嗽清肺消痰，不知腎液被陰火　煉化痰，頻發必凶。(每見血後繼必痰嗽，都因見血先投涼滋，遏抑火氣所致，)保養可久，服景岳一氣丹。(腎主五液，主充養肌肉、灌輸百脈，陰火日夜煎熬，悉化枯痰矣。)徐(十七歲)　虛質，肝絡受寒為疝。議溫養入營中和血治疝。</p>
<p>炒橘核　桂心　粗桂枝　歸身　茯苓　冬葵子　小茴香王(陸家　，三十六歲)　純陽氣分藥見效，則知病患酒肉冷物亂食，濕內聚傷陽。若不慎口必危。</p>
<p>生白朮　炒黑生附子　茯苓　澤瀉徐(二十六歲)　少年讀書久坐，心陽亢墜，皆令腎傷。醫藥亂治，胃傷虛裡，脹悶吐水，而滑精未已，乃無形交損(妙香散。)人參　抱木茯神　遠志　茯苓　益智仁　砂仁殼　青花龍骨　炙草汪(二十九歲)　厥起五年，脈形細促，乃腎肝精血內怯。冬藏失降，臟陰不攝，致厥陽內風飛翔，冒昧精神，病在至陰(精神出色入理深談。)熱氣集於身半以上，皆是下元根蒂之淺(隧道陰陽交紐，內景如繪。)欲圖其愈，必靜居林壑，屏絕世務一年，寒暑隧道，陰陽交紐，不致離絕(此方乃補劑中之最靈動、最精深入微者。蓋隧道陰陽交紐主一身督任，而言惟督任為陰陽脈之二海，天關地軸交紐，此身命根二海一空，即有漸致離絕之勢，五臟失其根蒂，補劑講究及此方為透入重關，非通套治病)龜腹板心　活靈磁石　山萸肉　細川石斛　辰砂　川牛膝　人中白　黃柏凡介蟲三百六十，龜為之長。色黑為北方坎卦，水陰能潛矯陽，味鹹純陰，直入任脈陰海。磁石質重，入腎制肝陽上冒。以辰砂鎮心神，交其水火。萸肉酸以入肝斂肝，牛膝佐入下焦，人中白咸，黃柏苦以入陰，鹹苦制上浮，川斛清陰火，堅筋骨，此方大旨。</p>
<p>扁鵲見虢太子尸厥之病，曰：上有絕陽之絡，下有破陰之紐。可見人身自有命蒂，根本交結，紐住陰陽，晝夜營運，循環無端，則五臟六腑，為生人根本。而臟腑之外，更有為臟腑根蒂者，此先天乾南坤北，後天南離北坎，皆於此為造化樞紐。品匯根柢，治病及此，何等深細微奧。</p>
<p>昔年潘鳳　治何虎占痰病，診曰陰虛，疏方大半宗此旨，果效。</p>
<p>章　形壯脈弦，肢麻，胸背氣不和，頭巔忽然刺痛，是情志內郁，氣熱煩蒸，肝膽木火變風，爍筋襲巔。若暴怒勞煩，有跌蹼痱中之累。(識得透此症必熱蒸化痰，不但木火上沸矣。)人參　茯苓　真半曲　木瓜　刺蒺藜　新會皮已參用二陳矣。蓋形壯者，脈弦主痰飲也。</p>
<p>顧　勞傷形氣寒，脈小失血，亂藥傷胃，食減，必用人參益胃，涼藥治嗽必死(人參當歸建中法去薑。)人參　炙草　南棗　飴糖　當歸　白芍　桂枝徐　內損肝腎，久嗽失血，近日畏寒，吐血盈碗，冬不藏納，陰傷及陽，法當貞元煎溫養。</p>
<p>人參　熟地　桂心　茯苓　五味　白芍　童便(半杯)鈕(湖州，二十八歲)　五六年胃痛，發必嘔吐不便(妙方藥。)桃仁(炒)　麻仁　墨汁　延胡　歸須　南楂(炒)加韭汁十五匙。</p>
<p>是系厥陰結閉沖逆，以通幽法疏泄厥陰，遂其性而病自已，決不可投香燥也。</p>
<p>孫(二十二歲)　胸中乃清陽游行之所，少年氣弱，操持經營皆擾動神機，病名胸痹。仲景輕劑通上焦之陽。</p>
<p>薤白　桂枝　半夏　生薑　茯苓　白酒申(余杭，二十六歲)　勞病水枯腎竭不治。</p>
<p>曹(西山)　炎日遠行，熱入絡動血，入冬間發，乃身心不安逸，陽亢陰虛。</p>
<h3>天王補心丹</h3>
<p>方　面腫氣喘，嗆不止，音漸啞，周身之氣降，全在乎肺。酒客久蓄之濕，濕中生熱，氣必熏蒸及上，肺熱為腫為喘，聲音閉塞矣。按《內經》云：濕淫於內，治以淡滲，佐以苦溫。滲則濕從下走，酒客惡甘宜苦，溫以通濕，濕是陰邪耳(濕不下行，聚於中宮，化熱上蒸，熏灼肺氣上逆，氣機失降，見症如是。)活水蘆根　米仁　厚朴　滑石塊　浙茯苓　杏仁六味藥俱降下滲濕之品。</p>
<p>鄒(四十六歲)　辛能入腎，腎惡燥。凡辛能入血，則補辛以氣走，通泄則燥傷腎陰。方中仙靈脾泄濕，半夏遠志辛燥，由陽直泄氣至下，人參、五味生津，亦為邪藥之鋒甚所劫，何憒憒乃爾(此案未詳病形脈症，但究誤治藥味，想是陰虛症耳。)人參　茯神　天冬　熟地　五味　柏子霜豬腎搗丸。</p>
<p>項(二十七歲)　失血如飢腹痛，是煩勞致傷，見血投涼，希圖降止。乃胃傷減食，其病日凶。(煩勞者，必傷脾胃之陽，絕不用膩藥。)熟地炭　湖蓮肉　山藥　茯神　芡實　炙草張(蠡墅，四十七歲)　兩月晝熱夜涼，咳嗽喘急，是中年勞碌傷氣，忌酒發汗甘溫益氣。</p>
<p>人參　炙甘草　薏苡仁　白芨蜜水炙黃方(三十六歲)　脈細小垂尺，身動喘急，壯年形色若巔老，此情欲下損，精血內枯，氣撒不收。(氣撒不收，四個字說得極精透。)夫有形精血，藥不能生，精奪奇脈已空，俗醫蠻補，何嘗填精能入奇經。</p>
<p>人參　胡桃肉　茯苓　補骨脂</p>
<h3>河車膠丸</h3>
<p>錢(四十歲)　情志郁結，是內因生脹，自投攻瀉，脹加溺閉，已屬痼疾難治。議通下焦之陽。</p>
<p>生附子去皮臍切小塊，炒極黑色三錢，水一盞，煎至四分，入童便一小杯，豬膽汁一個。</p>
<p>何(南濠)　甘溫益氣見效，糞後腸血乃營虛。</p>
<h3>下藥飴糖漿丸</h3>
<p>人參　白朮　歸身　炮薑　黃　黃精　炙草　白芍施　陽明之陽已困，胸脹引背，動怒必發，醫藥無效。</p>
<p>人參　熟半夏　生白蜜　薑汁　茯苓大半夏東加味。</p>
<p>吳(江陰，十六歲)　十二年春夏發瘡，內因之濕，本乎脾胃，忌口可愈。</p>
<p>生真於朮(一斤)　白蒺藜(一斤)用糯薏苡仁十兩煎汁泛丸(方藥極精)。</p>
<p>王(三十二歲)　濕去八九，前議運脾安腎，治本既乏人參，雙補未合，況屢見黃色，仍以脾胃之法。</p>
<p>生於朮，生杜仲　澤瀉　茯苓　米仁　川斛水泛丸。</p>
<p>陸(陝西，三十八歲)　血脈有熱，外冷襲腠，氣血不和，凝澀肌隧，遂見癮疹。凡痛多屬冷閉，癢由熱熏，渺小之恙久發，欲除根不易。平時調理，忌食腥濁，發時用涼膈散，二日愈時，用和血熄風。</p>
<p>連翹　生甘草　炒黑山梔　赤芍　薄荷　桔梗　枯芩　生大黃接用丸方　黑豆皮湯丸首烏　胡麻　當歸　松節　茯苓　地膚子戴(楓橋)　咽痹痰咸，是腎虛水泛，下焦少力，浮陽上升，陰不上承，以咸補甘瀉實下(甘守中，咸潤下。甘能化咸，土制水也。中宮既培，咸味自當趨下，不上泛矣。)熟地　遠志　蓯蓉　茯苓　青鹽　骨脂　胡桃紅棗肉丸。</p>
<p>苗(三十六歲)　痛起寒月，胃脘貫及右脅，腹鳴攻至少腹，少腹氣還攻胃口，嘔吐酸濁，或食或不食，三年之久。病由胃絡逆走入肝，肝木復來乘胃土，主以辛熱，佐以苦降。(土氣先走入木中，是為侮其所不勝，故曰逆也。總是胃中寒勝，故引入厥陰。厥陰不受，仍還乘胃土耳。治法極為周密。)吳萸　良薑　茯苓　川楝　延胡　莪朮荻(二十四歲)　左搏尺動(脈理深微，)肝腎陰傷，血後干嗆，夜汗陰火閃動，陽不內交，虛怯陰損，壯水固本為要。醫但治嗽清肺，必致胃乏減食。</p>
<p>人參　茯神　芡實　山藥　熟地　五味　萸肉　湖蓮　生龍骨　鮮河車膠丸朱(木瀆，三十歲)　外視偉然，是陽氣發越於外，冬乏藏陽，肝腎無藏。上年酸甘見效，今當佐苦堅陰。</p>
<p>熟地　五味　萸肉　茯神　天冬　黃柏陸(水關橋，二十三歲)　久嗽入夜氣衝，失血腎逆，必開太陽。</p>
<p>吳(三十二歲)　脾胃最詳東垣，例以升降宣通，忌膩濁物。味補必疏，欲降濁必引伸清氣皆平，調和法，幾年小效未平，仍是脾陽胃陰。</p>
<p>南楂肉　九蒸於朮干荷葉煮湯一杯泛丸。</p>
<p>湯(四十六歲)　是腎虛精奪於裡，陽失內交，陽泄為汗，腎脈循咽，元海不司收攝，沖氣升騰，水液變痰，升集壅阻，而為喘促(語入經典。)夏月陰內陽外，忌寒屬陽虛。究其源頭，精損於先，乃陰分先虧，損及乎陽也。(惟陰中之陽虛，故肌表衛外之陽亦虛，而為汗泄。急補真陽而肌表自固。)天真丸去黃　，加鹿茸、補骨脂、紫衣胡桃肉。</p>
<p>李(木瀆，二十一歲)　男子血涌退場門已多，面色氣散，冬乏藏納，是無根失守。凶危至速。況脈小無神，醫以寒降清火，希冀止血何謂。</p>
<p>人參　牛膝　白芍　熟地　枸杞魏(花溪，三十五歲)　胸中是清陽轉旋之所，凡飢飽憂勞太過，陽氣不行，則濁陰錮結，非有積聚之比，酒肉助陰聚濕，永不能愈。(此人必是貪饕)蓽茇　厚朴　茯苓　公丁香柄　茅朮　米仁許(五十歲)　勞倦傷陽，失血、庸醫以涼藥，再傷氣分之陽，指麻身痛，法當甘溫。(氣已屬陽，再於氣分分出陰陽，精細極矣。)人參當歸建中湯，去薑。</p>
<p>血症能用陽藥。已是老氣無敵。其妙在辨症明確，不似今人之動輒滋陰也。然於傷陽失血之症，再經涼藥，更傷其陽，則建中更無慮其動血矣。</p>
<p>汪(水潭頭)　腎陰已怯(同一少陰耳，)心陽遇煩多動，所謂臟陰絡損之血，甘以緩熱，酸以固陰(少陰精血上承心陽，自爾寧靜，勞心不以為煩，腎陰一怯，勢必遇煩多動矣。)熟地(炒枯，水洗一次)　旱蓮草　茯神　萸肉　女貞　柏子仁　柿餅炭(三錢)張(大馬坊)　脈沉細，久嗽，五更陽動咳頻，汗泄陽不伏藏，腎氣怯也。(寅時氣血注於肺，陽動而咳頻，不但肺虛矣，下元不固沖氣，使然。)茯苓　甜桂枝　炙草　五味子每見肺虛氣弱之人，凡遇秋冬曉寒，即重茵疊被，不任霜寒肅降之氣，咳逆不已，此內傷兼外因也。若陽動即咳，乃應時沖逆，不必秋冬也。</p>
<p>詹(衢州，四十三歲)　閱開列病原，腎精內損，心神不斂，臟陰不主內守，陽浮散漫不交(不過陽不戀陰四字出自有筆人，便云臟陰不主內守，陽浮散漫不交，意新詞湛。)中年未老先衰，內傷臟真，心事情欲為多，問後嗣繁衍，絕欲保真，勝於日嘗草木。</p>
<p>九制大熟地　人參　金箔　石菖蒲　遠志肉　茯神　生白龍骨　生益智紅棗蜜丸。</p>
<p>吳(東山，二十七歲)　頻失血已傷陰，冬至後脈弦，屬不藏，是腎陰不足，虛浮熱氣之升。戒酒節欲，勿日奔馳，可免春深反復。(細膩風光。)六味去丹澤，加龜腹版心、清阿膠、天冬、秋石。</p>
<p>臟真無日不宜深藏，故曰臟也。冬至更是萬物歸根之候，弦脈為春深發升之象，先時而見，恐當時反不能見矣，故曰不藏。</p>
<p>邵(杭州，三十六歲)　寇宗　桑螵蛸散，溫固下竅，佐以寧靜，以陽之動，既有齒痛熱升，理陰藥和陽攝陰(鎖陽一味鎖住陽氣，以入陰而不令上越耳。)芡實　旱蓮草　鎖陽　金櫻子膏　龜版心　女貞子蜜丸。</p>
<p>陽氣動，即浮升散越而不能攝陰。須充沛陰分，俾陽內交而依戀，則陽入陰中而和陽，即是攝陰矣。</p>
<p>李(橫街，十九歲)　精滑無夢，咳涎常嘔，乃腎不攝納，肺藥無用(直截了當)。</p>
<p>人參條　紫胡桃肉　人乳粉　坎氣(漂潔)　茯苓　五味子江(章蓮蕩，二十二歲)　驚恐內動肝腎，真陰不旺，陽失偶而浮越，下虛上實，過勞有厥仆之累。</p>
<p>熟地　龜板　天冬　白芍　萸肉　鎖陽　歸身　黃柏蜜丸。</p>
<p>徐(五十六歲)　眼胞上下脾腎之脈循行，垂不開闔，太陰脾脈已倦，甘補多用為宜。</p>
<p>蒸於朮　枸杞　桂元　歸身　黃　炙草　煨木香　浙菊花周(十八歲)　能食胃和，後天頗好，視形神及脈，非中年沛充，乃先天稟薄而然。冬寒宜藏密，且緩夜坐勤讀。</p>
<p>六味加石人乳粉，蜜丸。</p>
<p>張(茜涇，三十七歲)　三瘧已十三個月，汗多不解，骨節痛極，氣短噯噫，四肢麻，凡氣傷日久，必固其陽(立方周密)。</p>
<p>人參　炒蜀漆　生左牡蠣　桂枝　淡熟　川附子　五花生龍骨　老生薑　南棗肉林(線香橋，二十七歲)　陰火擾動精走，用滋腎丸(以知柏瀉之，)每服三錢。</p>
<p>郭(談家巷)　凡滋味食下不化，噯出不變氣味，蓋在地所產梁肉成形者，皆陰類。宜食飛翔之物，以質輕無油膘濁凝。醫用妙香，謂香能醒脾，不致燥烈傷腎(此本乎天者親上，本乎地者親下，自然之理，格物之功深矣。)人參　茯苓　茯神　石菖蒲　檀香末　生益智朱(臨頓路)　精血空隙在下，有形既去難生，但陰中之陽虛，桂附辛熱剛猛，即犯劫陰燥腎，此溫字。(溫字洗剔精義。蓋溫劑總以柔陽立法，)若春陽聚，萬象發生，以有形精血，身中固生氣耳。</p>
<p>淡蓯蓉　桑螵蛸　炒黑大茴香　鎖陽　生菟絲子粉顧(三十二歲)　氣候漸冷，冬至收藏，陽浮氣泛，嗽甚噦多，前議柔藥固腎方不謬，早上仍用，不宜更張。佐以鎮胃安脾，中流有砥柱，潰決逆行之勢，可望安瀾。晚餐宜早，逾時用冬白朮三錢，大黃精五錢，煎服(先固下繼填中，治法井井，舍此無他法矣。)錢(婁門，十七歲)　少年面色青黃，脈小無神，自幼頻有嘔吐，是後天飲食寒暄，致中氣不足，咳嗽非外感，不宜散泄。小建中湯法主之(老筆紛披)。</p>
<p>李(三十二歲)　喜寒為實，喜曖為虛，沖氣逆干則嗆，黏涎著於喉間，是腎精內怯，氣不攝固於下元矣。腎臟水中有火，是為生氣，當此壯年，脈細不附骨(即是虛脈無根，)其稟質之薄顯然。(精能化氣，精充者氣自歸根，腎精怯水不化精而成黏涎，陰火上逼而嗆痰亦黏矣。)紫河車　紫衣胡桃　五味子　雲茯苓　枸杞　人參　沙苑　黃柏(鹽水炒)　秋石搗丸。</p>
<p>薛(范壯前，八十歲)　稟陽剛之質，色厲聲壯，邇來兩月，腸紅色深濃濁，臥醒咯痰已久，肺熱下移於腸，腸絡得熱而泄，自言糞燥越日，金水源燥，因迫動血(了如指掌，上下一貫。)大生地　柿餅灰　生白芍　淡天冬　側柏葉孫(三十四歲)　內損精血，有形難復，淹淹年歲，非醫藥功能，病中安穀如飢，後天生氣未憊，若究醫藥，必溫煦血肉有情，有裨身中血氣。冬春用天真丸(冬春二字最有斟酌。)病中安穀知飢，陰損尚未及陽可知。先天精氣雖損，猶賴後天水穀之精氣以蔭，治虛損必以脾胃為先務也。</p>
<p>朱(唐市，三十一歲)　農人冷雨淋身，在夏天暴冷暴熱，原非大症，木鱉有毒，石膏清散，攻攢觸之氣閉塞，咳久咽痛，輕劑取氣，開其上壅。若藥味重力不在肺(上焦之藥宜輕，所謂輕藥輕用，取其氣輕味薄，不但分兩輕也。)射干　生草　牛蒡　麻黃　米仁　嫩蘇葉朱　形瘦虛數之脈，血屢次發，痰嗽不止，此非肺咳，乃血去陰傷，陰火如電爍而致咳。如日進清肺降氣消痰，則內損不起矣。(陰火如電爍，最為駁劣難當，注射臟腑，最易爍肺金，焉得不咳。)都氣法去丹澤，加脊髓、芡實、蓮肉。</p>
<p>李(二十六歲)　壯年形瘦肌減，自述無因滑泄，長夏內陰不生旺而失血，顯然陰虛，竅隧不固。大忌勞力奔走。雖在經營，當諸事慎養，身心調理之恙，不取藥之寒熱攻病也(陰虛之人略加勞力奔走，陽即上升，陰火即載血上溢矣。)</p>
<h3>桑螵蛸散</h3>
<p>陳(乍浦，五十歲)　咽食物有形不覺痛，若咽水必有阻塞，此內應肺之氣分，肺象空懸，主呼出之氣，氣窒生熱，法當清肅氣分。(辨症極細切，都是氣分藥。)連翹心　滑石塊　大力子　生甘草　南花粉　枇杷葉張(六十四歲)　有年仍操持經營，煩冗營傷，心痛引脊。醫用附子痛甚，知不宜剛猛迅走之藥。</p>
<p>茯苓桂枝湯去芍</p>
<p>《金匱》　雖有心痛徹背，背痛徹心，用烏頭附子辛熱藥治法。然必細審氣分虛寒，不在營血，方可直施無忌。若病在營分，燥傷陰矣。</p>
<p>朱(二十二歲)　夏熱秋燥，傷於氣分，胸痞多噯，大便燥結，凡上燥清肺，不取沉膩滋降(一病到手，先分明在氣在血，名手過人處因此。)大沙參　玉竹　蘇子　桑葉　麥冬汁　蜜炒橘紅管(三十二歲)　積勞氣逆，肝膽熱升，咯血膠痰，既有是恙，務宜戒酒勿勞。藥用和肝胃之陽，陽和氣順，胸脅痛自已。(勞者氣必上逆，勞字兩火在上，即君相二火上升也，故用藥下行之品居多，和肝胃之陽則氣自順下。)桃仁　丹皮　鉤藤　山楂　梔皮　金斛　茯苓　麻仁翁(四十四歲)　夏月露宿，冷濕下入陰絡，少腹堅凝有形，兩傍筋絆牽引，自述夢遺。</p>
<p>然有形固結，非補助之症，當與結疝同治，乃絡中病(治法平正通達。)南木香　穿山甲　金鈴子　橘核　延胡　莪朮　麝香蔥白汁丸。</p>
<p>沈(四十歲)　幾年失血，繼而久嗽，乃內損之咳，痰多治嗽無用，已失音嘶響，損象何疑(純粹以精。)黃精　白芨　米仁　茯苓四味熬膏，早服牛乳一杯。</p>
<p>陳(六十四歲)　據述三年前因怒寒熱臥床(即動少陽相火)繼而痰嗽，至今飲食如常，嗽病不愈。</p>
<p>思人左升太過，則右降不及，況花甲以外，下元必虛，龍相上竄，嗽焉得愈?古人謂老年久嗽，皆從肝腎主議，不當消痰清燥，議用都氣丸加角沉香、紫衣胡桃肉(胃脈從頭走足，胃氣一走膀胱，一走大腸，皆從下行者也。肝火上升，肺氣即不肅降，不論外感內傷，總由氣逆為多，收攝固是正治。)葉(皋橋，五十一歲)　過勞瘀從上下溢，胸悶格嘔，先以辛潤宣通血中之氣(血上下溢，血中之氣不暢達矣。治法極佳。)炒桃仁　降香末　茯苓　蘇子　大麻仁　蜜炒橘紅顧　向年操持勞心，心陽動上亢，挾肝膽相火，腎中龍火自至。陰藏之火，直上巔頂，貫串諸竅。由情志內動而來，不比外受六淫客邪之變火，醫藥如涼藥清肺不效，改投引火歸源以治腎。診脈堅而搏指，溫下滋補，決不相投，仿東垣王善甫法，用滋腎丸(此古人調攝所以必要清心寡欲也。)葉(東山，五十歲)　酒肉生熱，因濕變痰，憂愁思慮，氣鬱助火，皆令老年中焦格拒阻食，薑半之辛(筆勢展拓)開，蔞、連之苦降，即古人痰因氣窒，降氣為先。痰為熱生，清火為要。但苦辛泄降，多進克伐，亦非中年以後，僅博目前之效。議不傷胃氣，冬月可久用者。(有形無形交傷，中氣克消，固不可滋補，亦非宜。惟選甘寒養胃，略帶辛涼，以宣鬱火，既不傷胃，又可久服，令中焦漸和，窒塞潛通，何其巧也。)甜北梨汁(五斤)　萊菔汁(五斤)和勻熬膏。</p>
<p>痰是身中津液所結，未結以前，津液為至寶，既結以後，濁滯為腐穢。病至津枯液涸，惟有氣火上升逼爍，則干枯立至，猶幸有痰飲以滋養也。養火須以添油，辛涼滋豁，甘寒養胃，立法於無過之地，非名手不辦。</p>
<p>郭(四十歲)　咽中氣阻至脘，物與氣觸則嘔，病及一年，大便由漸窒塞。夫氣降通行，全在乎肺，氣阻必津液不流，上枯下燥，肺在上焦主氣，當清氣分之燥。(諸氣　郁，皆屬於肺之燥。咽中氣阻，獨責諸肺波瀾老成。)枇杷葉　土蔞皮　桑葉　赤蘇子　苦杏仁　黑山梔王　稟質陽亢陰虛，頻年客途粵土，南方地薄，陽氣升泄，失血咳嗽，形寒火升盜汗，皆是陰損陽不內入交偶。醫見嗽治肺，必延綿入凶(火升者必形寒。蓋陽氣橫散，手足遍體皆溫。若火升巔頂，不得溫煦肢末，故必形寒。)熟地　芡實　五味　茯神　建蓮　炒山藥侯(四十二歲)　痰飲留伏而發，最詳金匱玉函。仲景必分內外，以內飲治腎，外飲治脾。更出總括一論，謂飲邪當以溫藥和之。憶越數年舉發，春夏秋之時，此因時寒暄感觸致病，今屢發反頻，勢甚於昔，乃男子中年以後，下元漸衰也(痰為火結，飲屬陰邪。蓋內寒之人真陽不能鼓動營運，水飲即為留著，且腎虛水泛最易成飲，故必以溫藥和之。)都氣丸加坎氣、胡桃肉。</p>
<p>莊(長順布行，二十九歲)　開列病原，是精腐於下，系腎臟陰中之陽虛。凡腎火內藏真陽，喜溫煦則生陽自充(腎臟陰中之陽，所以煦養真精，不便腐者。)若以薑、桂、烏、附燥熱，斯燥傷腎矣(溫是春升之氣，萬物發生燥熱則如夏日之剛烈，秋陽之肅殺，煎熬血液，反涸本真，所以不可輕投也。)鹿尾　大茴　蓯蓉　菟絲　羊腎　雲苓　巴戟　歸身　骨脂　韭子　蛇床子楊(三十歲)　三瘧是邪在陰而發，自秋入冬，寒熱悠悠忽忽，自述煩勞必心胸痞脹，凡勞則傷陽，議以溫養營分，亦托邪一法(托邪藉乎溫養營分，亦固正以祛邪也。)人參　歸身　桂心　茯苓　炙甘草　炒黑蜀漆　老生薑　南棗肉戈(三十七歲)　奪精陰損，不肯生聚，致腎中龍火，如電光閃爍，庸醫以喉痛音啞咳嗽，愈用寒涼清火強降，亦如傾盆大雨而電閃更熾耳。凡腎脈上循喉嚨，縈於舌下，諸絡貫通，出乎耳竅，必得陰中五液上涵，龍光不得上射沖搏。況在冬月，氣宜潛藏，下乏把握失藏，春半陽升必加重，夏半陰不能生危矣。(虛癆至此已極情盡致，更有何法以圖全耶?雖不出方，大義可知矣)天地生生不已，氣機無一息之停。人稟陰陽五行之秀，與天地生氣，息息相通，脈脈相貫。全賴精氣神充旺，合約而化，以生以續，相尋不已。若精氣內奪，生機斷矣。於氣化何尤。</p>
<p>錢(十二歲)　癇厥昏迷日發，自言臍下少腹中痛，此稚年陰弱，偶爾異形異聲，致驚氣入肝，厥陰沖氣，亂其神識，遂令卒倒無知(酸以斂魂，苦以清心，寧神，辛以開結行痰，溫以通陽泄濁。)烏梅肉　川連　白芍　川椒　乾薑　桂枝楊(三十三歲)　產後十五年，不得孕育，瘕聚心痛氣衝，乃衝脈受病。久則未易圖速功(泄濁消滯，溫下通陽，用攻法。)南山楂　茯苓　莪朮　香附　炒小茴香　蔥白馬(三十二歲)　巔頂腹痛，溺淋便難。</p>
<p>龍薈丸(二錢)此肝火閉結，逆乘橫行肆虐之症。</p>
<p>陳(六十三歲)　三瘧是邪入陰經，緣年力向衰，少陰腎怯。(擒住少陰便有把握。)夏秋間所受暑熱風濕，由募原陷於入裡(步步著實。)交冬氣冷收肅，藏陽之鄉，反為邪踞，正氣內入，與邪相觸，因其道路行遠至三日，遇而後發。凡邪從汗解，為陽邪入腑可下。今邪留陰經，絡脈之中，發漸日遲，邪留劫鑠五液，令人延纏日月，消鑠肌肉。蓋四時氣候更遷，使人身維續生真，彼草木微長，焉得搜剔(筆致風神，俱臻絕頂超妙。)留絡伏邪，必須春半陽升丕振，留伏無藏匿之地(除病根雖在將來，而眼前亦須善於調攝，占好地步，此之謂絲絲入筘。)今日之要，避忌暴寒，戒食腥濁，胃不受傷，不致變病(致病之由，藏病之地，發病之機，病纏之累，歷歷如繪。病情與筆力俱深入顯出，其治法須俟天地大氣升泄，方能借勢鏟除，乘勢待時，事半功倍。凡事皆然，寧醫理獨不由此?)生牡蠣　黃柏　清阿膠　甜桂枝　北細辛　寒水石病深用藥亦深。</p>
<p>王(六十四歲)　平日驅馳任勞，由脊背痛引脅肋，及左肩胛屈曲至指末，久延麻木。凡背部乃陽氣游行之所，久勞陽疏，風邪由經入絡，肝為風藏，血傷邪乘，因氣不充，交夜入陰痛加，陽氣衰微，陰邪犯陽。考古東垣。(陽氣本能生血，陽氣兼能護血攝血，今久勞陽傷，既不能生血，又不能護血，以御邪。內風既動，潛致陰邪犯陽，安得不痛?)制</p>
<h3>舒經湯</h3>
<p>陳(南城下，五十歲)　海風入喉，侵肺久著，散之無用，議緩逐以通上竅(藥味俱輕揚上泛，丸則不失緩逐之義。)馬勃　射干　蟬衣　麻黃為末，以葶藶子五錢，大棗十個，煎水泛丸。</p>
<p>金(關上，四十九歲)　凡痞脹治在氣，燥實治在血，四者全見，攻之宜急。此症肝絡少血，木火氣上膈而痛，辛潤柔降，得以止痛，通大便。厥是肝陽化風，燥升受熱，動怒必來，不在醫藥中事(燥居六氣之一，火就燥，燥氣上升，致木火之熱上膈而痛，不可不知治法。)芝麻　柏子仁　天冬　生地　蘇子姚(曹家巷，四十四歲)　心腹如焚，(陽結於內)肌腠寒冷，知飢不甘納食，大便久溏，此屬勞怯(陽結於上則中下虛寒。)醫案見嗽，清肺清熱，損者愈損，未必用藥能除病(病者到此地位，醫者無可奈何，只得出此方矣)黃精　白芨　米仁　炙草曹　瘧熱攻絡，絡血涌逆，脅痛咳嗽(此是瘧止後見症。)液被瘧傷，陽升入巔為頭痛，絡病在表裡之間，攻之不肯散，搜血分留邪伏熱(瘧熱太峻，火熾爍津，而逼血上溢。絡病在表裡之間，一句，指示迷途。)生鱉甲　炒桃仁　知母　丹皮　鮮生地　寒水石搜血分留邪伏熱，真水清石見之用藥，刀刀見血。</p>
<p>葛(東山，七歲)　成漿必藉熱蒸濕氣(此是痘後見症。)痘前發驚，是痘毒由血脈而出，乃常有事，牛黃大苦大寒，直入心胞。若因時氣未解，古人謂用之如油入面，反令內結，數月語言不靈，熱氣膠痰，蒙蔽膻中清氣(痘驚為痘毒由血脈而出之機，不得以幼科驚風論也。)遠志　石菖蒲　天竺黃　金箔　膽星　川連　銀箔　麝香　冰片蜜丸，重五分。</p>
<p>楊　夏季暑濕，必入氣分，謂二邪亦是一股氣。同氣相感，如泄瀉溲少，皆濕鬱阻氣，以六和湯、甘露飲，有憑可證之方。已後不分氣血。涼熱互進，氣分之邪，引之入血，此亦如五胡亂華，賢如溫祖，難救神州陸沉(氣分之邪仍從氣分宣泄，末二句必有所指，非王即薛也。)杏仁　蔻仁　大麥仁　米仁　浙苓　橘紅　佩蘭葉程(六十二歲)　形神衰，食物減，是積勞氣傷，甘溫益氣，可以醒復。男子六旬，下元固虛，若胃口日疲，地味濁陰，反傷中和。</p>
<p>汪　長夏濕氣，主傷脾胃中陽，濕是陰濁之氣，不飢泄瀉，濕滯氣阻，升降不利，咳聲震動而血溢。醫知風寒火頗多，而明暑濕燥絕少，愈治愈窮，茫茫無效。到吳已易三方，病減及半，推原和中為要(病是因濕致血，但宣氣滯不必顧血，而血自已，此治病求其本者。)生穀芽　茯苓　白芍　炙草　米仁　北沙參藥味清和，治濕不致燥烈動血。</p>
<p>錢(信心巷，四十三歲)　腎精內奪，骨痿肉消，溺溲不禁如淋，大便不爽，氣注精關，液枯竅阻(施泄無度，真氣下注走熟，精隨氣泄，精關不收不固，溺溲如淋，骨髓不充，自當骨痿肉消。)有形既去，草木不能生精血，莫若取血氣填進衝任之脈絡，必多服久進，腎液默生，可保身命。(語有斤兩，慣用房術之人，逼勒臟腑之氣，盡注陽道，病中不痿，臨危方倒。)河車、人乳煉膏，煎參湯送。</p>
<p>齊(四十八歲)　四五月暴暖，雨濕泄瀉，是勞煩氣弱，易受時令之氣。今見症脾胃不和，乃長夏熱泄元氣，胃津傷，口必不辨五味(以縮脾飲加減。)人參　砂仁　桔梗　米仁　烏梅　白蔻仁　橘紅　穀芽章(水關橋，四十九歲)　病患說咳嗽四年，每著枕必咳，寐熟乃已，此腎虛氣衝上犯。</p>
<p>醫見嗽治肺，延及跗腫，陰囊皆浮，陰水散漫，陽乏開闔，都屬肺藥之害(講到陽氣開闔，才大心細)</p>
<h3>嚴氏腎氣湯</h3>
<p>陽氣有開有闔，氣即流運宣通。蓋少陽為樞，少陰亦為樞。至於陽泛開闔，不但陽微，少陰亦虧損。腎既不能化氣，更以肺藥損真，故獨宜於(濟生)腎氣湯也。</p>
<p>沈(三十三歲)　初春時候尚冷，水涸開湖。挑腳勞力，居於寒濕冷處，是脫力內傷，氣弱嗽加，寒熱，大忌發散清肺(發散清肺，治嗽不誤，殺許多人耶。)</p>
<p>俞(齊門，二十八歲)　氣自少腹攻至心下則痛，氣漸下歸而散。問驚恐為病，由肝腎之厥逆。</p>
<p>仲景厥陰例，不以純剛(法宗《金匱》酸收辛開苦降。)烏梅　白芨　川椒　川楝　桂枝　淡乾薑沈(三十五歲)　此嗽是支脈結飲。治肺無益，近日嗔怒嘔氣，寒熱一月，汗多不渴，舌淡白，身痛偏左，咽癢必咳(支脈結飲，用清潤法，不用辛通，恐逼成燥爍耳。)玉竹　大沙參　米仁　生草　扁豆　茯苓金(枚墩，二十四歲)　瘦人易燥偏熱，養胃陰，和肝陽，可以久服(養胃陰即所以和肝陽，不分兩段)大生地　清阿膠　淡天冬　北沙參　麻仁　白芍尤(齊門，四十三歲)　胸中屬身半以上，是陽氣流行之所。據說偶然阻塞，噯氣可爽，醫藥全以萸地滋膩血藥，況中年勞形，亦主傷氣(病屬氣傷，不用辛溫通補，而以松潤調達，治法迥出恆流，中含妙義。)早服桑麻丸，夜服威喜丸。</p>
<p>凡經絡之氣，必藉津液以流行。液充則利，津枯則氣必澀滯。他人調氣，總辛燥以開通，惟天翁深知氣藉血行，故每用充養津液，略加宣滯以利氣。</p>
<p>胡(二十二歲)　腎虛遺精，上年秋冬用填陰固攝而效，自交春夏遺發，吞酸不飢，痰多嘔吐。顯然胃逆熱鬱，且以清理(腎為胃之關，關內空虛，濁陽上逆，胃亦氣逆，鬱熱下損及中之類)川連　桔梗　廣藿梗　薏苡仁　橘白　白蔻仁向有遺病，已用填陰固攝而效。今交春夏遺發，吞酸不飢，此陽明感挾濕熱，熱氣失宣，蒸痰嘔吐，與前症是兩截，閱方便見。</p>
<p>曹(三十四歲)　痛久必留瘀聚，屢次反復，以辛通入絡。</p>
<p>桃仁　歸須　麻仁　柏子仁　降香汁凡痛必在絡脈，痛久瘀聚，亦必入絡。治絡主以辛通，方能入其中以疏達。</p>
<p>汪(三十三歲)　肝血內乏，則陰虛於下，陽愈上冒，變風化燥。凡香港腳筋攣骨痛，無脂液濡養，春夏陽浮舉發，最是陽不入交於陰，必上及諸清竅，目痛頭岑(陽為動物，不戀下即竄上矣，)坐不得寐。治宜潤燥養津，引陽下降(陽不入陰，則在下既不能蒸化脂液、濡養筋骨，是以浮陽上冒，蒙及清竅，引陽下降，兩得之矣。)鮮生地　淡天冬　清阿膠　大麻仁　柏子仁　肥知母始也，以陰虛不能戀陽，繼也，以陽升不能生陰，總歸於陰陽兩虛耳。</p>
<p>養液藥中佐以苦降，所以引陽下歸也。(此人胃氣尚完，故能進此等甘寒之藥。)孫(五十九歲)　食入氣衝，痰升阻塞咽乾，此為反胃。病根起於久積煩勞，壯盛不覺，及氣血已衰有年，人恆有此症，未見醫愈，自能身心安逸。(安其形症，以養其神而降其火也。)可望久延年月(煩勞之人無不傷氣傷陽，根蒂不固，惹動真火上逆，有升無降，故反胃也。)黑梔　半夏　橘紅　茯苓　金斛　竹瀝(一兩)　薑汁(三分)此方祛消痰飲，佐以清火。</p>
<p>丁(四十八歲)　平日酒肉濁物助陰，脘中凝結有形，此皆陽氣流行之所。仲景陷胸瀉心皆治痞結，謂外邪內陷治法，今是內傷，與陽氣邪結異例。</p>
<p>蓽茇　良薑　烏藥　川烏　紅豆蔻　香附　茯苓一派辛溫助陽行氣，驅陰濁而破散凝結。</p>
<p>鄧(二十七歲)　精損在下，奇經久空，陽維脈絡空隙，寒熱已歷幾月，相沿日久，漸干中焦，能食仍有痞悶便溏，陰傷已入陽位，是虛損大症。俗醫無知，惟有寒熱滋降而已(下損不得過脾，陰損及陽，已逾中焦矣。法在不治，尚幸能耐溫燥。)人參　麋茸　生菟絲子　炒黑川椒　茯苓　炒黑茴香陽維陰維二脈，主維系周身陰陽相續於不息之途，則營衛流行，血脈貫通，循環無已，陰陽交紐不撒。若二脈空隙，則陰陽將不相聯屬，寒熱交作，元氣散越矣。</p>
<p>王(十八歲)　真陰未充，冬失藏聚，春陽初動，陰火內灼，成瘍潰膿，更傷血液，此咳乃浮陽上熏之氣。日晡及暮，神煩不寧，治在少陰(血液亦　真陰之輔，既不藏聚，而陰火鑠精，復以潰膿，而更傷血液。下焦既乏，安得不重劑滋堅陰分。)烏膠　龜腹板心　黃柏　天冬　川石斛　生地純陰無陽之藥，為其人火燥鑠金也。</p>
<p>張(三十一歲)　單單腹大，按之軟，吸吸有聲(是乃濕熱，不是寒凝。)問二便不爽，平日嗜飲聚濕變熱，蟠聚脾胃。蓋濕傷太陰，熱起陽明，濕本熱標。(濕傷太陰，熱起陽明，指明令人豁然。)綿茵陳　茯苓皮　金斛　大腹皮　晚蠶砂　寒水石脹因濕熱停住蟠聚，當從濕熱例治。用藥靈巧，不得概用溫補腎氣法也。</p>
<p>沈(二十九歲)　男子左血右氣，左麻木，血虛生風，延右面頰，及陽明脈矣。以辛甘血藥理血中之氣(此血熱生風之症。)枸杞　菊花　刺蒺藜　桑寄生蜜丸。</p>
<p>李(二十八歲)　酸梅泄氣傷中，陽升失血，議養胃陰。</p>
<p>生白扁豆　肥白知母　生甘草　麥門冬　甜北沙參酸主收斂，但過助木氣，則肝強肆橫，轉主疏泄中氣，木來侮土，胃血不寧而涌泄矣。</p>
<p>議養胃陰，既足供木之吸取，兼以生血滋肺，而木有所制。</p>
<p>徐(醋庫巷)　年多下元自餒，氣少固納，凡辛能入腎，辛甘潤藥頗效，陰中之陽氣，由陽明脈上及鼻中，當以酸易辛為靜藥(陰中氣濁，此症必是獨覺鼻中有穢氣難耐也。故以酸易辛收之。)紫胡桃　萸肉　五味　茯苓　鎖陽　補骨脂　青鹽丸既以酸鹹下降收束，又以鎖陽鎖住陽氣。蓋陰中之陽，乃是下元真火，本宜潛伏，不可上炎也。</p>
<p>汪　夏濕化熱，清肅氣分，已愈七八，濕解漸燥，乃有勝則復(敏捷，)胃津未壯，食味不美，生津當以甘涼，如《金匱》麥門冬湯(細玩如字，不必指定麥門冬湯為板方也。)濕氣甫解，即慮燥勝，心源活潑，呆鈍人何從下手。</p>
<p>宋(五十歲)　《內經》曰：中氣不足，溲便為變。不飢口苦，脾陽不得旋轉，營運胃津，脈絡久已呆鈍，乃勞傷氣分，暑邪虛實藥中，議縮脾飲(脾挾濕熱則緩大弛長，不司旋轉，縮之以甘補酸收，辛開淡滲。則健運矣。)人參　廣皮　烏梅肉　煨薑　益智仁　茯苓張(四十九歲)　平昔勞形傷陽，遭悲憂內損臟陰，致十二經脈逆亂，氣血混淆，前後痛欲捶摩，喜其動稍得流行耳。寢食不安，用藥焉能去病，悲傷郁傷，先以心營肺衛立法(七情動中，營衛皆為阻逆，心營肺衛兼理，清寧其神明之主也，藥味更須著意。)川貝　枇杷葉　松子仁　柏子仁　蘇子　麻仁病至經脈逆亂，氣血混淆，醫從何處著手。先以心營肺衛，乃理其氣血之本，君主安十二官皆寧也。示後人以下手之法。</p>
<p>此病是先傷陽，繼傷陰，方藥並不以重劑陰陽並補，先理心營肺衛，調其逆亂之經絡，混淆之氣血，初看似乎迂遠，細想知先寧君主而後再用調補，治病有法。</p>
<h2>卷下</h2>
<p>羅(六十三歲)　情懷內起之熱，燔燎身中脂液，嘈雜如飢，厭惡食物無味，胃是陽土，以陰為用，津液既竅，五火皆燃，非六氣外客之邪，膏連苦辛寒不可用。必神靜安坐，五志自寧，日餌湯藥無用(五志無形之火，皆本於先天元陽。靜則溫養臟真，為生生之氣。燔灼則逼爍津液，肌肉日削。)人參　知母　茯神　甘草　生地　天冬　鮮蓮子胃是陽土，以陰為用，故胃陰須養，真名語也。</p>
<p>性情隨氣血改移，肌皮寬濃者，往往弛緩。每見燥急人瘦如骨立，津液不充，火氣飛揚耳。</p>
<p>潘(二十六歲)　少年失血遺精，陰虛為多。夫精血有形，既去難復，即是內損陰虛，日久漸干陽位，肝腎病必延胃府。所列病原，大暑令節，乃天運地氣之交替，人身氣餒失司維續，必有不適之狀(精深之論。)褚澄云：難狀之疾，謂難以鳴訴病之苦況也(至明確，惟其病延胃府，所以人身氣餒，失司維續也。)</p>
<h3>妙香散</h3>
<p>節令交替，氣旺者潛移不覺，中氣虛衰少力，旋轉樞紐，幾於或息。故維續為難耳。</p>
<p>顧　暑濕必傷脾胃，二邪皆陰，不必苦寒清熱，調氣分利水，此邪可去。中年病傷氣弱，以強中醒後天(中年人氣分已不旺，再因病傷，氣更弱矣。強中壯氣，即是驅邪。)人參　炒扁豆　木瓜　茯苓　炙草　廣皮暑因乎濕，挾濕已蒸化為熱，必須甘涼淡滲，亦不必用苦寒。若未經化熱，不致傷津劫液，但調氣分利水足矣。暑濕一門，變症最多，不可不辨。此必是未經化熱者。</p>
<p>胡(三十四歲)　不量自己，每事爭先(此人素稟必是偏於火重，)此非傷於一時。春夏天曖，地中陽升，失血咳嗽，聲音漸啞，填實真陰以和陽(人身隨天地氣機升降，元氣旺時不覺，氣血衰而有病，便六氣為主而此身無權矣。)熟地　萸肉　淮山藥　茯苓　天冬　麥冬　龜甲心　女貞　芡實　建蓮肉錢(四十七歲)　瘦人暑熱入營，瘧來咳痰盈碗，平日飲酒之熱，蓄於肝胃，舌黃渴飲。</p>
<p>議用玉女煎。</p>
<p>玉女煎的系肝胃之藥，暑熱外侵，酒熱內應，內外合邪，專在營分，非石膏、生地等屬，難以清營中之熱。</p>
<p>楊(三十八歲)　胃傷食減，形倦舌赤，此系脾病(形倦舌赤，必是脾氣傷而脾營耗者。)</p>
<h3>四獸飲</h3>
<p>六君子加烏梅、草果等分，薑棗煎。三因和四臟以輔脾，故名四獸飲。</p>
<p>王(司前，十三歲)　液被瀉損，口渴舌白面黃，不是實熱，血由絡下，糞從腸出，乃異歧也(指明豁然。)炒歸身　炒白芍　煨葛根　炒南星　炒焦麥芽　炒荷葉錢(七歲)暑風上入，氣分先受非風寒停滯，用發散消導者，氣分窒痹(氣分何以窒痹，總為燥劫津液耳。)頭岑腹痛，治之非法，邪熱入血分矣(遍閱全部傷寒論，止是存津液為主。自西昌喻氏法律一書，通首發明此旨，故先生得力處全在於此。六氣病邪原先傷氣分，治之非法，燥液劫津，即延入血分矣。)連翹心　竹葉心　犀角尖　益元散　綠豆殼　南花粉從來治病要訣，皮毛之邪，輕劑發散，疏之泄之，微汗即已。若熱入肌肉，漸留經絡臟腑，此時鬱熱在裡，汗出津津，燥爍津液，即應存養津液以達邪。若夫臟腑真陽發露，亟予滋補，惟恐不及矣，敢燥爍乎?徐(二十四歲)　據述暴驚動怒，內傷由肝及胃，胃脈衰，肝風動，浮腫下起。若漫延中宮，漸次凶矣。兩年余久恙，先議薛新甫法。</p>
<p>八味丸(二兩五錢，勻十服)謝(葑門，三十四歲)　上下失血，頭脹口渴溏瀉。若是陰虛火升，不應舌白色黃，飢不納食，忽又心嘈，五十日病中吸受暑氣熱氣，察色脈須清心養胃(辨症細切，用藥清靈，工夫到此，躊躇滿志矣。)人參　竹葉心　麥冬　木瓜　生扁豆　川石斛張三十九歲　中年色萎黃，脈弦空，知飢不欲食，不知味(胃陰枯矣。)據說春季外感咳嗽，延秋氣怯神弱，乃病傷成勞。大忌消痰理嗽(此一句保全無數生靈，人知消痰理嗽為要務，此以消痰理嗽為大忌。醫理精超極矣。)</p>
<h3>麥門冬湯</h3>
<p>楊(關上，四十五歲)　瘧痢乃長夏濕熱二氣之邪，醫不分氣血，反傷胃中之陽，呃逆六七晝夜不已，味變焦苦，議和肝胃(大凡瘧痢並作，只要宣發瘧邪，松透肌表，俾得津津汗泄，則濕熱外出而痢自止。)人參　炒黑川椒　茯苓　烏梅肉　生淡　乾薑　生白芍顧(四十六歲)　據云負重閃氣，繼而與人爭哄，勞力氣泄為虛，嘔氣怫意為實，聲出於上，金空乃鳴。凡房勞動精，亦令陰火上灼，議左歸法(孰虛孰實，了了分明。)周(十三歲)　凡交夏肉瘦形倦，氣短欲寐，俗謂注夏病，是後天脾胃不旺，時令熱則氣泄也(以資生丸為藍本，是謂平調和暢。)人參　茯苓　藿香　南查　白朮　神麯　川連　麥冬　砂仁　廣皮　桔梗　米仁(是丸方)高(五十一歲)　足心涌泉穴內，合少陰腎臟，中年已後，下元精血先虛，虛風內起，先麻木而骨軟筋縱，乃痿之象。必以血肉溫養(內景如燭照，虛風內起，不遺一隅，精細絕倫。)生精羊肉　肉蓯蓉　青鹽　牛膝　歸身　大茴　製首烏　茯苓盛(木瀆，五十四歲)　暑必兼濕，濕鬱生熱，頭脹目黃，舌腐不飢，能食。暑濕熱皆是一股邪氣，迷漫充塞三焦，狀如云務，當以芳香逐穢，其次莫如利小便(聖於此矣。)杏仁　厚朴　蔻仁　滑石　苓皮　橘白　綿茵陳　寒水石　佩蘭葉張(四十一歲)　此膏淋也。是精腐離位壅隧，精溺異路，出於同門，日久精血化瘀，新者亦留腐敗。考古法用虎杖散(虎杖、草名、生田野中，即土牛膝也，俗名臭花娘。)尹(三十六歲)　此痿症也。診脈小濡無力，屬陽氣不足，濕著筋骨。凡筋弛為熱，筋縱為寒。大便久溏，為濕生五泄之征。汗易出是衛外之陽不固，久恙不可峻攻。仿東垣肥人之病，慮虛其陽，固護衛陽，仍有攻邪，仍有宣通之用。世俗每指左癱右瘓，謂男子左屬血，右屬氣者，非此(肥人氣走於表，中外之陽不固，最易汗泄。陽虛固其陽，以宣通攻邪，而宣通攻邪即在固陽藥中，是為並行一貫，非兩事也。)生於朮　川烏頭　蜜炙黃　防風　生桂枝　熟附子李(二十八歲)　暑濕氣痹，咳逆微嘔，有發瘧之象。</p>
<p>杏仁　白蔻仁　厚朴　絲瓜葉　連翹　象貝　射干郁(葑門橫街)　易飢能食，陽亢為消，此溲溺忽然如淋，乃陰不足也(溺道有病，即用溺道所出之物治之。)天冬　麥冬　生地　熟地　知母　黃柏　人中白阿膠為丸。</p>
<p>金(麒麟巷，五十九歲)　平日操持，或情懷怫鬱內傷，病皆臟真偏以致病。庸醫但以熱攻苦辛雜沓，津枯胃憊，清氣不司轉旋，知飢不安穀(駁劣龐雜之藥不能去病，能造病，以致津枯胃憊，清窒塞轉成痼疾矣。)</p>
<h3>大半夏湯</h3>
<p>常見有力之家，或父母年高，或己身微恙，往往十分珍重，藥餌不絕於口。始以藥之偏氣，治身中氣血之偏。不知久服藥石，傷沖和清粹之氣，盡為草木香移易。即參、苓日進，久之臟腑相安。倘遇緩急服之，亦呼應不靈。病氣深而歸於無益，此惟閱歷深且久者，方知有此弊耳。</p>
<p>錢(四十七歲)　前方去犀角、連翹，加川貝、黑梔皮。</p>
<p>陳(二十六歲)　此勞病自腎損延及胃腑，脈垂色奪，肌消，日加枯槁，陰損及陽，草木不能生出精血，服之不效為此。</p>
<h3>一氣丹</h3>
<p>偶(關上，五十九歲)　瘦人液枯，煩勞動陽，氣逆沖氣，漸如噎膈。衰老之象，安間可久(液枯之人即勞動傷陽，亦須清養津液，是盞中添油法。)枇杷葉　杜蘇子　柏子仁　火麻仁　炒桃仁張(五十五歲)　竅乏之人，身心勞動，賴以養家。此久嗽失血聲嘶，是心營肺衛之損傷，不與富戶酒色精奪同推。</p>
<p>黃精　白芨　米仁　茯苓戴(十六歲)　男子情竇動萌，龍雷內灼，陰不得充，遂有失血咳逆內熱，皆陰虛而來。</p>
<p>自能潛心篤志，養之可愈，數發必凶(龍雷之火內灼，勢必暗爍精氣，必思所以暢泄，安得不陰虛乎?)六味去丹皮、澤瀉，加龜板、蓮肉、芡實、人乳粉、金櫻膏。</p>
<p>王(三十一歲)　勞力氣血逆亂，內聚瘀血，壅阻氣分，痛而嘔紫滯形色，久病只宜緩逐，不可急攻。</p>
<p>桃仁　茺蔚子　延胡　歸尾　南查　漏蘆　青蔥楊(花步)　背寒屬衛陽微，汗泄熱緩。</p>
<p>人參建中湯去薑。</p>
<p>嚴(倉前，三十三歲)　長夏濕邪，治不按法，變瘧，不盡泄其邪，痛瀉不爽，不能受食，勉強與食即嘔吐(種種病形中有穢滯耳。)是脾胃營運之陽，久為苦寒消克所致(濕邪必帶穢濁，芳香逐穢，即是按法治病。)蘇合丸。</p>
<p>汪　到吳諸恙向愈，僉從兩和脾胃，近日家中病患糾纏，以有拂鬱肝膽，木火因之沸起。氣從左脅上撞，即丹溪上升之氣，自肝而出，木必犯土，胃氣為減(病雖向愈，元氣未固，肝膽木火最易沸起，況氣從左升，病機顯然。)人參　茯苓　炙草　生穀芽　木瓜　川斛席(東山，二十歲)　問病已逾年，食飽腹膨，微痛便溏，久嗽痰多，凡越幾日，必身熱，此勞傷由脾胃失運，鬱而來熱，痰多，食不相和，則非地黃滋滯者(脾胃失運，鬱火生熱，蒸動周身，此必有積滯留中，氣機不暢達者。)米仁　南棗　生麥芽　桔梗　胡連　茯苓　白芍　廣皮張(三十歲)　此腎虛不納，沖氣上干，喘嗽失音，夜坐不臥，醫每治肺，日疲致凶。早服薛氏八味丸三錢。</p>
<p>兩腎中間一點，明是謂命門先天之精，元氣之始，人托之以生命者。凡人呼出之氣，肺主之，吸入之氣，直下達腎中，必腎氣足，而吸引之機權自旺。</p>
<p>楊(二十二歲)　心事悶縈，胸膈痞痹，多噯吐涎，述臍左及小腹有形而堅，按之微痛，大便亦不爽適，此屬小腸部位，腑病宜通(心與小腸為表裡，未有心事悶縈而不病及腑陽者。輕則小便赤，重則堅成有形。明眼人見透。)枳實　桔梗　莪朮　青皮　檳榔　蘆薈蔥汁泛丸。</p>
<p>此等病，婦女更多，不得誤認為瘕病也。</p>
<p>蓋婦女最多心事悶縈耳，須留意也。</p>
<p>沈(丁家巷，六十五歲)　痔血與腸風不同，心中嘈辣，營分有熱，非溫蒸補藥矣(閱此則凡心中疼熱煩悶，雖因木火上衝，必是營分有熱也。)生地　白芍　柿餅炭　槐花　銀花　地榆的是營分有熱，方藥中下虛而下血，須用溫蒸補藥。</p>
<p>程(四十二歲)　夏四月陽升病發，深秋暨冬自愈。夫厥陰肝為陰之盡，陽之始，吐蛔而起，必從肝入胃。仲景辛酸兩和，寒苦直降，辛熱宣通，所賅甚廣。白朮甘草守中為忌(烏梅法何等深奧，此則十二字廣深該博，直截了當，讀書另具慧眼。)川椒　川連　桂枝　附子　烏梅　乾薑　白芍　細辛　人參　川楝子　黃柏韓(五十四歲)　時令之濕外襲，水穀之濕內蘊，游行軀殼，少陽陽明脈中久濕，濕中生熱。《內經》淡滲佐苦溫，新受之(有分曉)邪易驅，已經兩月余，病成變熱矣(若非用桂枝一味，溫通經絡，勢必涼藥具濕熱拒格而不相入矣。名手過人處在此。)南花粉　飛滑石　石膏　桂枝(仙乎)　薏苡仁　羚羊角周(鈕家巷，六十七歲)　老年精血內枯，開闔失司，癃閉分利(該括無數病機，)仍是瀉法。成形者，散漫之氣也(精深之論，散漫之氣，濁陰之氣也。)鹿茸(二兩)　麝香(二錢)　歸身(一兩)用生薑一兩，羊肉四兩，煎湯泛丸。</p>
<p>汪(五十七歲)　胸痹是上焦清陽不為舒展，仲景以輕劑通陽。</p>
<h3>桂枝栝蔞薤白湯</h3>
<p>王(木瀆，三十九歲)瘀血壅滯，腹大蠱鼓，有形無形之分，溫通為正法，非腎氣湯丸治陰水泛濫(腎氣湯丸治陰水之法，非治陽水也。)桃仁　肉桂　製大黃　椒目　陳香櫞(二兩)煎湯泛丸。</p>
<p>黃(江西，六十三歲)　病是勞倦內傷，客(已是傷陽本質)途舟中，往來復受時令暑濕，病已過月，不飢不大便，脈微小屬陰，暑濕皆屬陰濁，氣分為濁陰蔽塞，仲景謂陰結濕結，腸胃無陽氣營運，強通大便，濁反逆致。此入夜陰用事而痛甚矣(精理名言，如印沙劃泥，誰具嗣音乎?脈法精深，人皆忽略矣。)淡乾薑　生炒黑附子　炙黑甘草　生大白芍處方清切，通陽更以甲己法和陰止腹痛。</p>
<p>唐(二十三歲)　脈動，瀉後利純血，後重肛墜，乃陰虛絡傷，下元不為收攝，必絕欲經年，腎精默充可愈。</p>
<p>人參　熟地炭　炙甘草　五味子　禹餘糧郁(三十八歲)　秋暑暴熱，爍津損液，消渴再灼，陰不承載於上，金水同乃子母生方。</p>
<p>人參　鮮生地　麥冬　柏子仁　知母　青甘蔗汁處方如鮮花，抑何清靈也。</p>
<p>楊(三十三歲)　陽氣為煩勞久傷，腹痛，漉漉水聲，重按痛緩，非水積聚。蓋陽乏少運，必陰濁凝滯，理陽為宜，大忌逐水攻滯。</p>
<p>生白朮　熟附子　澤瀉　左牡蠣　水泛丸。</p>
<p>李(壽星橋，五十七歲)　寒濕傷陽，痞滿妨食，脈沉色黃，是脾胃病。議辛溫通中焦之陽。</p>
<p>生益智　蓽茇　檀香末　薑汁　茯苓　炒焦半夏江(寶林寺前，二十五歲)　癉瘧邪在肺，口渴，骨節煩疼，用桂枝白虎湯。</p>
<p>黃(嘉興，三十九歲)　向年戌亥時發厥，是以肝腎陰虛，陰火內風蒙神(陰火內風蒙神，千錘百煉而出一語，勝人千百味之無極。)治逾五載，迄今左目流淚，至暮少明，胃脘中隙痛。經謂肝脈貫膈入胃，肝竅在目，此皆精血內虧不足之象。若云平肝是疏克，攻治乃相反矣。</p>
<p>天冬　熟地　杞子　元參　浙菊花　穀精珠鄒(十歲)　稚年，瀉血便溏有三四載，面黃形瘦，五疳之症，起於五味雜沓，腸胃生熱。若不慎口食，久疳延勞不治。</p>
<p>川連　胡連　茯苓　白芍　枳實皮　焦術　南查　臭蕪荑　使君子烏梅肉丸。</p>
<p>秦(二十二歲)　據述久逗客邸，情志不適，致脘中兩脅按之而痛，大便久不爽利，脈形弦堅，面色不華，納食已少，虛中有滯，以宣通腑絡(情志不適，肝木必乘胃土，食少不化，是以虛中有滯。)熟桃仁　海石　土栝蔞　熟半夏　橘紅　枳實皮秦(三十九歲)　勞心力辦事，氣怯神耗致病，醫咳嗽失血，多以清涼為藥，視其形色脈象，凡勞傷治嗽藥，不惟無效，必胃口日疲。</p>
<h3>小建中湯</h3>
<p>賀(四十八歲)　腎水脂液，變化痰飲，每遇寒冷，勞動身心，喘嗽吐涎即至，相沿既久，腎愈怯，裡氣散漫不收，此皆下元無根也(此之腎虛乃腎陽衰而真氣無根也。)人參　茯苓　於朮　白芍　熟附子　五味子</p>
<p>《金匱》附子東加五味子以收裡氣，使下元歸根，蓋腎為納氣總司也。</p>
<p>鄭(三十四歲)　雨淋衛陽受傷，熱水洗澡，迫其冷濕深入，水穀之氣與冷熱互蒸，肌肉發黃。陳無擇曰：穀癉能食不飢，舌有黃胎，一年之久，寒濕已釀濕熱。凡濕傷必太陰脾，熱必在陽明胃，不分經絡亂治，乃不讀書醫工(言言指點分明，後學最當著意。)人參　川黃連　生穀芽　熟半夏　枳實　嫩柴胡　淡黃芩　陳皮白薑汁泛丸。</p>
<p>陳(葑門，六十七歲)　老年仍有經營辦事之勞，當暑天發泄之候，已經久嗽而後嗆血，是陽升上冒，陰不承載之病。病中再患瘍潰膿泄，陰液走漏，天柱骨倒，　羸僅存皮骨，兩交令節，生氣不來，草木焉得挽回?固陰斂液，希圖延挨日月而已(是陰虛陽不戀陰之病，層次迤邐，而下述病情最細膩恬雅。)每日飲人乳一杯戈(六十歲)　便瀉幾年(中下之陽已困，)糞內帶血，肌肉大瘦(陽傷，)色黃無力，延及夏秋，食物大減，是積勞陽傷，受得溫補，可望再蘇。</p>
<h3>附子理中湯</h3>
<p>吳(三十五歲)　遭逢數奇，情志郁勃，勞傷客感兼有，病實體虛照顧，勿犯二氣，是攻邪宜輕。</p>
<p>連翹　飛滑石　花粉　白蔻仁　桔梗　杏仁　橘紅　枳殼張(舡上，三十三歲)　烈日追呼，氣傷熱迫，保胃陰以養肺，益腎陰以固本。</p>
<p>生白扁豆　白玉竹　北沙參　甘草　麥冬肉　桑葉保胃陰，即所以益腎陰也，看用藥可知。</p>
<p>陳(二十歲)　少壯春夏失血，次年至期再發，在裡陰損不復，數發必凶，用藥勿犯胃納。六味加麥冬、五味子、秋石。</p>
<p>張(桐橋，五十二歲)　久痢三年。</p>
<p>理陰煎沈(塘樓，四十五歲)　舌乃心苗，腎脈系焉。舌下腫硬，伸縮不得自然，乃心陽自亢，腎陰暗耗。內關臟液虛損，清熱消腫無用，常服大補陰丸(燈火旺，盞油易涸，心火亢，腎水易耗。蓋心火之下陰精承之也。)陳(關上，十九歲)　瓜水辛寒傷陽，渴瀉腹鳴。</p>
<p>公丁香柄　訶子皮　官桂　生廣木香　茯苓　炮黑薑　茅朮　新會皮　厚朴溫中兜澀，燥濕通陽，諸法畢具。</p>
<p>葉(二十七歲)　此腎損久瀉亡陰，當暑熱氣自上吸入，氣傷熱熾，音啞痰多，水涸金痿，非小恙也。絕欲固下，勿擾煩以寧心，精氣再蘇，望其痊可(蓋金從水養，母隱子胎，水涸而金必痿也。凡癆病腎精內奪，每聲啞而死，亦此議也。)熟地炭　生扁豆　人參　茯神　川石斛　女貞子汪　不以失血，獨取時令濕邪，得以病減。凡六氣有勝必復，濕去必致燥來，新秋暴暑爍津，且養胃陰，白露後可立丸方(識膽俱超。)</p>
<h3>麥冬湯</h3>
<p>孫(橫山頭，二十歲)　男子及長，欲萌未遂，腎中龍火暗動，精血由此暗傷，陰虛自內臟而來，涼肝嗽藥，必致敗壞。蓋胃口一疲，精血枯槁矣(三才合生脈加茯神。)人參　熟地　茯神　五味　天冬　麥冬孫(五十八歲)　愛飲火酒，酒毒濕熱，自腸胃經絡蒸搏肌腠，瘡痍遍及肢體，經年久蘊不解。法當用局方涼膈散，攻其無形之熱(攻熱分有形無形，細密極矣。)胡(十四歲)　性情執拗，郁勃氣逆，粒米入脘即痛。父訓即若痴呆，由膽肝木橫來劫胃土。上年入冬自愈，秋金肅降，木火不主威，非狗肉溫濁之功能，乃適逢其時耳。</p>
<p>夏枯草　生香附　川貝　土栝蔞　黑梔皮　化州橘紅開結化痰，利氣清火，色色周到。</p>
<p>顧(五十歲)　五六月間，天熱潮雨，濕氣著人，漸次浮腫，能食不化，腰脹，脾真已傷，濕結阻氣，大便秘塞，脾病傳腎為逆，陰囊腫大矣。</p>
<p>甘露飲去石膏。</p>
<p>李(四十三歲)　令寒暑瘧初減，而脘腹痞悶，是宿病。宜清虛旬日。</p>
<p>厚朴　草果　半夏　生薑　廣皮　茯苓皮送保和丸二錢五分。</p>
<p>殷(十九歲)　先天稟薄，及長真陰不充，完姻精氣下泄，春深入夏，陽氣陡升，陰弱少戀，血痰上溢，著枕嗽甚，乃陰中龍相，有如電光閃爍，傾盆大雨，其光芒仍熾，是身中陰枯陽亢。日進涼藥無用，明明肝腎為病，醫投肺藥，希圖緩嗽，嗽必不效，胃口必減食，形瘦。</p>
<p>莫如絕欲，靜處林壑，養精血，增穀食，既損難逭，靜養漸復(從來勞損已成，臟真已失，惟有相火煎熬津液，成黏痰，即投大劑補藥，已為陰火拒格，不入經絡，化液，以復精血，停滯脾胃，寒中，泄瀉而已。真火燎原，無法可治。)水煮熟地　茯神　山藥　女貞　萸肉　芡實　湖蓮　川斛韓(十七歲)　病患說兩年前初春，高處跳躍至地，入夜即有寒熱，繼而少腹形高(瘀留脈絡)兩足屈曲。醫謂腹癰腸癰，從無膿血便出，自病至今，筋縱著骨而脹，即起寒熱，瘀留深入厥陰，在軀殼間，久則成瘍(跳躍跌蹼損傷，必有寒熱，以動躍傷筋骨統引於厥陰肝，而肝為相火，所寄是動，則火必發而為熱也。)穿山甲　自然銅　川烏頭　全蠍　半兩錢　地鱉蟲　生青鱉甲　粉丹皮　麝香黑豆皮煎湯泛丸。</p>
<p>朱(五十二歲)　此操持太過，肝血膽汁內耗，致陽氣上冒入巔，外泄汗淋，陽不入陰，陽蹺穴空不寐，莖痿不舉，非寒皆肝液無有，有暴仆暴厥之危(即是陽氣煩勞則張，精絕使人煎厥之病。形容得出妙筆。)小麥　萸肉　南棗　白芍　炙草　白石英浦(二十二歲)　陰虛受暑，如飲腹滿。</p>
<p>小溫中丸(二錢五分)朱(二十八歲)　歸脾湯以治嗽治血，謂操持勞心，先損乎上。秦越人云：上損過脾不治。不曰補脾曰歸，以四臟皆歸中宮，斯上下皆得寧靜，無如勞以性成，心陽下墜為瘍，瘍以掛線(俗云偷糞老鼠，總因腎精虧竭，心陽下墜，為瘍，總不脫少陰一經。)脂液金耗，而形寒怯風，不但腎液損傷，陰中之陽已被剝斫，勞怯多由精氣之奪。</p>
<p>鮮河車膠　人參　炒枸杞　雲茯苓　紫衣胡桃肉　沙苑金(十六歲)　著枕氣衝，顯是陰中之熱，驗寸搏舌白，濁飲擬議暑熱上吸心營，肺衛客氣未平，先用玉女煎。</p>
<p>下焦不納氣衝，不論行止坐臥，總易上升。此必著枕氣衝，是有客氣未平，不與下虛同例，須知而細分之(必著枕，氣始沖，坐立時尚未沖也。)陸(西津橋，二十二歲)　節令嗽血復發，明是虛損，數發必重，全在知命調養。近日胸脘不爽，身痛氣弱，膩滯陰藥姑緩。議養胃陰(養胃陰所以降逆氣也。以復從頭走足之常。)生扁豆　北沙參　生甘草　米拌炒麥冬　白糯米范(三十七歲)　窮乏之客，身心勞瘁，少壯失血，尚能支持，中年未老先衰，久嗽失音，非是肺熱，乃臟陰內損，不能充復。得納穀安逸，可望延久(就人情中體貼出來。)早服六味加阿膠、秋石，晚用黃精米仁膏。</p>
<p>張(四十三歲)　思慮悲憂，由心肺二臟，不宜攻劫峻利。蓋手經例以輕藥，謂二臟處位最高，問飲酒過量，次日必然便溏。蓋濕聚變痰，必傷陽阻氣，痰飲由陽微氣弱而來，悲憂又系內起情懷之恙。務以解鬱理氣，氣順即治痰矣(解鬱理氣不用辛燥，轉多辛潤之品，以郁氣之人必有鬱火，陽氣雖薄，不可辛燥，以助火耳。心極細矣。)枇杷葉　薏苡仁　白蔻仁　茯苓　杜蘇子　新會橘紅　鮮石菖蒲根汁　降香汁屈(二十二歲)　長夏患痧脹，兩三月漸漸腹大，入夜腹痛，凡痧是臭污穢氣，留聚入絡，變出腫脹。議以穢藥宣通(以臭治臭，精妙絕倫。)</p>
<h3>阿魏丸</h3>
<p>此必有有形留著，不第無形穢濁已也。</p>
<p>遲(四十八歲)　背寒為飲，凡遇冷或勞煩，喘嗽氣逆，聚於胸臆，越日氣降痰濃，其病自緩。</p>
<p>年分已多，況云中年不能安逸。議病發用《金匱》法可效，治嗽肺藥不效。</p>
<h3>桂苓甘味湯</h3>
<p>朱(三十歲)　此內損也，損者益之。按脈虛芤，精奪於下，當補益肝腎精血。</p>
<p>李(二十七歲)　兩年久病，決非風寒暑濕。據云腹鳴不和，左脅下堅硬，直至少腹，睪丸偏大，子和七疝主肝為多。男子縱欲，傷及衝任亦多，是病辛香流氣，壯年可用(精血陽氣所以防御下焦陰寒，既因縱欲傷及奇脈，先用辛香流通氣分。)小茴香　真橘核　茯苓　澤瀉　川楝子　青木香　黑梔仁　青皮子水泛為丸。</p>
<p>李(四十歲)　臭穢不正之氣，入自口鼻著於募原，不飢嘔逆，中焦病也。宣通濁痹為正，發散清寒為忌(達原飲。)草果　檳榔　藿梗　厚朴　杏仁　白蔻　半夏　薑汁臭穢雖屬無形濁氣，但黏著募原，必與濁滯有形凝結，不飢嘔逆，惡寒發熱，濁邪並結堅聚，非達原飲不除。</p>
<p>顧(二十歲)　內損是臟陰中來，緣少年欲念萌動未遂，龍雷閃爍，其精離位，精血雖有形象，損去藥不能復，必胃旺安納，古稱精生於穀，迨病日久，陰損枯涸，漸干陽位。胃口淹淹不振，中乏砥柱，如妖廟焚燎莫制，陽主消鑠，遂肌瘦喉刺。《褚氏遺書》論損怯，首云男子神志先散，為難治之症，此下損及中至上之義。問大便三日一行而枯澀，五液干枯，皆本乎腎。腎惡燥，味鹹為補，佐苦堅陰，醫以不按經義雜治，談何容易(腎臟精神依之如魚得水，謂精足則神旺也。腎精既乏，不能上供神明，則神志因精衰而先散矣。蓋下損及上，濁火亂其神明，此由下損及中至上奧也義也。)人參　阿膠　鮮生地　茯神　龜板　柏子仁藥取清陰之品，不取濁膩滋填，早為胃中納穀以生精作地步，應加黃柏少許。</p>
<p>俞(申衙前，五十歲)　男子中年，下元先虧(人到中年，生氣日淺，腎肝精血因真陽衰而不生，不必戕賊生陽，有去無來，故下元先虧也。)腎臟陰中之陽，不司涵煦，陰不承載於上，遂渴飲溲頻溺，有硝鹵之形。內經有遺熱遺寒之分，上中之消主氣熱，下消以攝腎，蒸陽以運津液(既指明下消之所以然，復分明三焦之治法，方成名案。)</p>
<h3>八味湯</h3>
<p>堂堂正治，波瀾老成。</p>
<p>李(四十三歲)　瘧寒必嘔，胃滯痰濁未已，舌上微白，不嗜飲，開結理氣如是。</p>
<p>草果　厚朴　蓽茇　橘白　杏仁　熟半夏　薑汁張(五十三歲)　三瘧久延兩三年，面肌黃萎，唇口枯白，食入脘腹，　脹，足痿如墮，至晚浮腫。其所傷者脾陽腎陽，然脾以營運則健，腎宜收納為命根，非一方兼用按古法。</p>
<p>早服腎氣丸，晚服理中湯(早晚分頭而治，切實了當。)周(六十歲)　氣血已衰，噎膈反胃，每每中年以後。蓋操家勞瘁，必傷心脾之營，營液日枯，清氣日結，而食管漸漸窄隘，郁久痰涎內聚，食入涎沫迎涌，而致反胃。此乃氣分之結(提清氣分之結，便有主腦。)萸、地、枸杞，滋養肝腎，胃先覺其膩滯，焉得肝腎有益。</p>
<p>人參補氣生精，半夏消痰開結，白蜜潤燥滋液，最為切當。</p>
<p>吳(三十五歲)　據述咽中氣衝，即起咳嗽，經年調治，漸致食減力乏。此皆不分外因，徒受治痰治嗽之累。凡久恙當問寢食，參視形色脈象，越人謂下損及胃是已(氣衝即咳，內損顯然，尚徒治痰治嗽，何怪先生鄙夷。)</p>
<h3>建中法</h3>
<p>吳(通關坊，四十四歲)　勞傷治不以法，反受藥傷，絡血涸而為痛，食入痛來，病在胃絡，以甘緩肝，急以救胃。</p>
<p>桂元肉　炒桃仁孫(北濠，二十六歲)　食後左脅氣逆痛，是肝膽氣熱(老筆。)丹皮　鉤藤　生地　川石斛　柏子仁　茯苓李(五十六歲)　少腹滿脹，必在夜臥而甚，晨起腸泄濁氣，白晝仍可辦事。延及幾年，氣衝胃脘高突而冷，舌根亦脹痛，自胸及於舌。醫用吳萸、川楝，苦辛溫佐苦寒降泄不安，則知有年。下元已虛，氣散漫不為下歸攝矣(此即西昌老人所謂地氣加於天之症也。治法清切，尚嫌遲鈍，應先用炒枯腎氣湯幾服。)八味丸(三錢)金(三十五歲)　便瀉下血多年，延及跗腫腹膨，食少色奪，無治痰嗽涼藥之理(脾腎兼溫補。)九蒸熟白朮　淡熟附子王(七十七歲)　高年氣衰，不耐暑伏久熱，迫津液被傷，陽不內歸(陽不內歸四字極精)，寐少不靜。例用竹葉地黃湯，養液除熱，莫與氣燥味劣，反致戕胃(陰陽每相依戀，老年少寐，津血少而陽不內歸也。)尹(織造府前，五十八歲)　望六，營運之陽已微弱，飲酒及食物，氣滯而濕聚(拿定氣字發揮，)脈絡不行，不飢，氣攻觸痛，舌上白膩，以辛溫開氣痹，分濕理痰。</p>
<p>半夏　茯苓　蓽茇　生薑　生益智　新會皮丁(五十一歲)　面色亮，脈弦，此屬痰飲。飲伏下焦腎絡，中年冷暖不和，煩勞傷氣，著枕必氣逆，飲泛喘促，脘悶咽阻，治之可效，而不除根。</p>
<h3>越婢法</h3>
<p>麻黃石膏，恐不可以治此，症或有誤楊(五十二歲)　氣從左升，自肝而出，酸水涌上，食入嘔出，胃中乏陽營運，木來克土。當此年歲，反胃妨食，乃大症也(既系木來克土，吳萸雖能泄肝而乾薑、胡蘆巴、川椒俱是辛溫，恐益助肝之震烈，尚須斟酌)。</p>
<p>人參　茯苓　吳萸　乾薑　胡蘆巴　炒黑川椒此方尚應安頓肝木藥參入二三味。</p>
<p>沈(五十三歲)　吞酸嘈雜，不化食味(宣泄氣火)。</p>
<p>藿香　橘白　川連　金石斛　茯苓　黑梔皮胡(用直，四十六歲)　望色瘦少膏澤，按脈弦促而芤。問納穀不旺，病幾數年，每春夏陽升氣泄，偶加煩冗，或情志不適，血必溢出上竅，已交中年，非少壯陰火相同(清真切當。)夫心主血，脾統血，肝藏血，臟陰內虛，陽動乃溢，常服歸脾湯減　、朮、木香加芍，和肝脾之陽，久進有益。宜靜攝不宜煩勞，乃王道養正善藥，不計驟功者。</p>
<p>徐(富郎中巷，四十三歲)　向來納穀不旺，自失血咳嗽以來，僅能靜坐。若身動必加氣喘，問仍在操持應接，脈來虛濡，此皆內損臟真。若見血投涼，因嗽理肺，即是謬藥。</p>
<p>人參　茯苓　黃精　炙草　枸杞子　白芨　棗仁　桂元肉黃(六十九歲)　凡食腥油濁物，胃脘必痛，老人營運之陽已衰(脾陽已衰，陽不勝陰，不主為胃行其津液。)濁味皆陰凝內痛，必以取氣陽藥。沉香，白蔻破泄真氣，誤用則刺其凶。</p>
<p>人參　小熟附子　生薑　白蜜　桂枝　茯苓陳(十八歲)　暑傷熱入於陰，癉瘧。</p>
<p>生淡鱉甲　肥白知母　粉牡丹皮　川貝母　大原生地　地骨皮　麥門冬肉　生粉甘草張(二十五歲)　血色濃濃，是肝腎陰虛。凡勞心情欲，必要禁忌，醫藥以寒涼滋清，久則胃傷減食變凶。</p>
<p>熟地　芡實　山藥(炒)　湖蓮肉　川石斛　茯苓方中皆補而不滯之品。</p>
<p>邵(三十三歲)　五液變痰涎，皆腎液之化，陰不承載，咳痹痛甚，乃勞怯之未傳，能勉強納穀，可望久延。</p>
<p>阿膠　雞子黃　黑豆皮　川石斛　戎鹽藥用咸降。</p>
<p>葉(十七歲)　沖氣自下而起，丹溪謂上升從肝而出，木侮胃，食少嗆逆，不得著枕臥眠。</p>
<p>夏熱時風迎胸痛，艾炙稍安，久恙陽微，須用甘溫。前法皆以疏通不效，本虛無疑，《金匱》見肝之病，必先理脾胃，防患於剋制耳(惟中上之陽氣不充，是以下焦沖氣得以自肝而出，人參建中充實中上之陽，下焦濁氣何能上升，此君明臣良，下民安靖矣。)</p>
<h3>人參建中湯</h3>
<p>諸(新開河橋，十六歲)　形瘦色黃，交陰身熱，沖年夏熱，真陰不生，秋燥加嗽，最有損怯之累。</p>
<h3>竹葉地黃湯</h3>
<p>李(三十六歲)　濁穢中結，渴飲則嘔。</p>
<h3>蘇合香丸</h3>
<p>今人觸冒穢氣，動輒刮痧，蘇合香丸遠勝他藥，但屢開則盛耳。</p>
<p>程(四十七歲)　肌色淡白，脈右弦左緩弱，大便久溏，噯噫噦聲不已。日前謂吐蛔起見，以酸苦和胃理肝，病患述用藥不飢脘悶，乃中宮陽微，味多酸濁。酸苦屬陰，不中病矣。議運行中焦之陽氣，辛可以勝酸(用藥不知轉換變通，必先傷脾胃之陽，此事須極靈活人方能入道。)人參　茯苓　益智仁　生薑　葫蘆巴　厚朴李(茜涇，二十一歲)　務農勞力，周身脈絡皆動，暑天負重，兩次失血，況已先有瀉血，血聚在絡，絡系臟腑外郛。蓋靜養血寧，必一年可以堅固(血聚絡而不用宣通藥者，以上下皆溢，不可再用行血藥，補則自達。)熟地　歸身　杞子　沙苑　茯苓　山藥　杜仲　巴戟　川斛徐(十八歲)　有夢乃遺，是心動神馳精散，用交心腎法。</p>
<p>水煮熟地　萸肉　遠志肉　生龍骨　茯神　石菖蒲　芡實　湘蓮子肉用藥淵微。</p>
<p>顧(二十三歲)　三日瘧是入陰經而發，延及數月乃罷。其瘧熱在裡，劫損肝血腎精，長夏一陰不復，遂加寒熱汗出。此病傷成癆，淹淹肉消形軟，必絕欲生出精血，有充復之理，草木無情無用(瘧邪不可強截，截則寒熱雖罷，而伏邪留著，逼爍精血，自有不適苦況，久之邪既不得外達，精血日就銷亡，日深一日，勢必延成癆損也。)人參　河車膠　茯神　萸肉　五味　芡實　山藥　建蓮有陳岐山亦因此喪身，確切之論。</p>
<p>曹(二十一歲)　聲出於肺，全賴元海之氣旺，俾陽中之陰，承載於上，而聲音自揚。據吃柿餅遂嘔，考其性甘寒而清肺熱，欠嗽氣散不受，參、　甘溫，亦有見效者。若五旬男子，下元日虧，金水同出一源，形色黃萎少澤，全是下虛上實。所幸納穀，不致驟凶，經年累月，焉有速功。</p>
<p>阿膠　天冬　黑豆皮　雞子黃　大生地二十劑後，服六味加五味、川斛。</p>
<p>汪(五十歲)　臟真系於目珠，不獨肝竅，中年五液不充，陽挾內風，侵及清竅，光明為陽蒙蔽，非六氣致傷。法當酸收甘緩補法，但六味湯究屬是三陰三陽平劑，不切(實者當升清降濁，虛者應酸收甘補。治羞明昏蒙之大法也。)炒焦枸杞　菊花炭　萸肉　五味　人參　炙草羞明目病，雖系內傷，其故亦非一端可盡。有初感時邪，風火攪擾而羞明者，有陽挾內風，光明為濁陽侵擾而羞明。有下焦濁陰上泛，不敢與陽光敵而羞明者。</p>
<p>孫(北濠，二十六歲)　氣鬱滯則血不行，當理血中之氣。</p>
<p>南查　生香附另煎四物湯收入，烘炒磨末(制方極巧妙。)益母膏丸，四物陰濁而滯，得查、附以流通，查、附氣燥味辛，得四物以滋潤。氣血兼理，燥濕協和。再得益母以行血，血中之氣宣順矣。即有痰滯血凝者，亦可服也。</p>
<p>徐(二十四歲)　初診謂下焦跗踵浮腫，以收攝肝腎病者，用過頗安。但胸脘不舒展，改進開泄血中之氣，服之又不安，且面少華色，痞悶又如飢，當以虛論，未有驟功(層次轉換。)人參　桂心　茯苓　炒當歸　煨薑　炙甘草吳(三十四歲)　操家煩冗，兼有嗔怒，肝脾不和，　脹由脅至脘，木犯中土，必妨食不飢。理氣舒郁，和其中宮(開鬱總不離越鞠法。)南查　生香附　神麯　茯苓　鉤藤　橘紅趙(三十三歲)　脘痛映脊，甚則四肢逆冷，問當年產後瘕泄，今滯漏脊椎酸垂。內經云：陰維脈病苦心痛，醫不和維脈，陰陽異治，謂痛以破氣降氣，何見識淺陋乃爾(凡女人脘痛久不愈者，必是奇經中來。曾用過鹿角膠一斤治十四年，脘痛不止者。)鹿茸　角霜　當歸　小茴　枸杞　白蒺藜　茯苓　蓯蓉沈(三十二歲)　壯年，望色奪肉瘦，脈左細右空，此男子精損，真氣不主收納。自述少腹築築動氣而痛，病形脈症，已在下焦。治肺嗽大謬，雜治日延勞怯(少腹動氣是關元氣海極虛，命蒂真氣已離散，不可收拾，由下竄上，法在不治。)薛氏八味丸(三錢)金(六十五歲)　熱傷氣分，水穀不化之濕，留著胃絡，已入秋涼，衰年氣弱，夏令伏邪未去。</p>
<p>議東垣清暑益氣，減去滯藥(從來氣旺之體即感時令偏氣，有本體元氣以轉旋時令偏氣，即為之默化，衰年氣弱，客氣為主矣。)人參　茯苓　神麯　升麻　葛根　澤瀉　廣皮　木瓜　川連趙(二十三歲)　當年厥症，用填精固攝乃愈。知少壯情念內萌，陰火突起，亂其神明。</p>
<p>今夏熱食減厥，發繼而淋濁，熱入傷陰，苟不絕欲，未必見效(傷陰熱入而傷胃陰也，勿被瞞過。)人參　茯苓　扁豆　炙草　炒麥冬　川石斛陰火最能沖亂神明，試觀燈檠煤頭，帶火墜下，火焰沖起，盞上之火即搖動不寧，非明證歟。</p>
<p>劉(三十七歲)　操持用心，心陽擾動，暗耗脂液，上則悸怔氣怯，下則腸枯便難，視色蒼肉瘦，溫補不受，先仿徐之才滑可去澀(裁縫尚能相體剪裁，操司命之責者，可不因人施治乎此色蒼肉瘦，不用溫補之所以為高也。)柏子仁　松子仁　郁李仁　冬葵子　杜蘇子　麻仁用諸仁既可悅心，更滋腸液，切當清真，金針暗度。</p>
<p>諸(十六歲)　夜熱不止，舌絳形干，前議伏暑傷陰，用竹葉地黃湯不應，是先天稟薄，夏至一陰不生，陰虛生熱，成癆之象(寒之不寒是無水也。)三才加丹皮骨皮趙(五十七歲)　頭暈心嘈二十年，向老年歲，血耗陽化內熱，近來減食，不必偏寒偏熱，以甘柔緩熱熄風，無燥熱戕胃之累(好好陽氣，一經血耗，便化內熱，即陰虛生內熱之變文也。</p>
<p>新極。)桂元　枸杞　天冬　生地　茯神　柏子仁甘柔藥味平和，可以緩熱熄風。蓋甘能生液，柔則養陰，老年人調攝要著，蓋老人久病，全要調扶胃氣，一切龐雜駁劣之藥，概不可投，以其戕賊胃氣也。</p>
<p>陶(二十九歲)　暑著必阻游行之氣，但熱無寒，瘡痍不盡，其邪骨節痛，肢末腫，從仲景濕溫例，用蒼朮白虎湯。</p>
<p>楊(二十六歲)　脈虛數，久嗽嗆血，勞則寒熱。</p>
<p>虎潛丸(四錢)顧(二十二歲)　少壯，冬不藏精，仲春內熱召風，謂風溫，咳嗽內傷，略兼外邪。治邪必兼養正(風雅宜人。)昔人有溫邪忌汗下者，謂陰陽二氣，不可再傷也。一逆再逆，病日深矣。</p>
<p>視面色黃白少澤，按脈形致虛，下垂入尺(望色切脈細密極矣。)問咳頻氣不舒展，必有嘔惡之狀，顯然腎虛少納，肝陽陰火沖起，犯胃為嘔，熏肺喉癢，其不致驟凶，賴水穀未減安受。考血必聚絡，氣攻熱灼，絡血上涌，精血有形損傷，草木無情不能生續。血脫益氣，乃急固其暴。治法以潛心寧靜，必情念不萌，絕欲腎安，斯精血生聚。若頻發不已，雖安養不能卻病(風溫雖緣外感，然必肝腎內虛，冬不藏精，相火上游，有以召致外邪而溫邪內陷，牽引龍雷，伏於內則灼津耗液，沖於上則咳嗽失血純見內傷惡狀矣。)人參　熟地　川斛　五味　女貞子　茯神　漂淡天冬　紫衣胡桃肉。</p>
<p>三才加以攝納，佐以填陰。</p>
<p>陳(十六歲)　秋燥咳嗽。</p>
<p>桑葉　川貝母　南沙參　南花粉　玉竹蕭(二十一歲)　伏暑上郁。</p>
<p>連翹　飛滑石　大竹葉　白杏仁　象貝方藥俱精妙。</p>
<p>張(葑門，六十九歲)　老年下虛痰多，入夜沖氣(即是陽不內歸，)起坐新涼內侵，腎水泛，氣不收納，常服腎氣丸。</p>
<p>范(二十四歲)　勞嗽三年，形羸便溏。大凡久損，必調脾腎為根本，當夏熱發泄之後，須培脾胃，得加穀安適，僅圖延久。</p>
<h3>戊己湯</h3>
<p>許(五十三歲)　脈大而空豁，中年操持，形體勞瘁，此失血食無味，乃氣弱所致。見血投涼必凶。</p>
<h3>小異功散</h3>
<p>失血食無味，不責之陰虧，而責之氣弱，只以脈大而空豁耳。</p>
<p>吳(二十三歲)　夏病入秋嗽血，外寒內熱，乃虛症。陰陽交傷，色萎黃，脈大濡，可與人參建中湯。</p>
<p>陰陽交傷，而用人參建中法，是益中宮陽氣以生陰也。蓋精生於穀，既建膻中之陽，以助生氣，復建脾中之陽，以運水穀，則陰從陽生，不患交傷矣。</p>
<p>李(三十歲)　膿人入夏必煩倦，飲酒者，脾胃必弱，建中益氣法(疏方清潔。)熟於朮　益智仁　茯苓　木瓜　廣皮　生白扁豆李(十八歲)　三瘧傷陰，陰傷內熱，已經失血，咳嗽，少年勞損，宜安逸靜養，但藥無益。</p>
<p>鱉甲　阿膠　白芍　丹皮　茯神　北沙參　生地　天冬王(五十一歲)　血枯脘痹便艱，慮格拒妨食。</p>
<p>麻仁　桃仁　郁李仁　蘇子　柏子仁　歸梢馬(五十歲)　形壯脈小數，口　，左肢麻木，男子虛風，內虛肝藏，養血可以熄風，非外邪驅風攻痰(痰為風火所逼，養陰痰自不升。)枸杞　白蒺藜　玉竹　北沙參　當歸身　經霜桑葉高(二十九歲)　向來陰虛熱勝之質，夏至陰生，未能保攝安養。暑伏熱氣內追，尤令傷陰。</p>
<p>秋半氣燥，熱亦化燥，心中漾動失血，陽不下潛所致(以玉女煎潛陽，何其清靈也。)生地　麥冬　清阿膠　桑葉　知母　生石膏　生甘草顧(混堂巷，二十八歲)　壯盛，色白肉瘦，脈細小如數，下垂，察色憑脈，是屬腎虛。</p>
<p>五液不運，精微內蒸，黏涎濁沫(是致生涎沫之所以然。)凡有思慮煩勞，肝陽挾熱氣上升(是吐涎沫所以然。)痰沫隨氣乘胃而出上竅，其聚處在乎腎絡(一筆轉到，)八味丸即古腎氣丸，理陰陽以收腎氣，使水沫不致上泛，不為差謬。少壯必先傷於陰，拙見議減桂辛甘伐肝，加五味三倍，少用沉香，入少陰之絡(仍跟上絡字治病。)考經旨腎陰中有真陽溫煦，生生自旺。若肝臟日剛(可知減桂有妙理，)木火內寄，情志拂逆，必相火勃起，謂涼則肝寧。昔賢謂肝宜涼，腎宜溫也(是大名家方案。腎虛，腎之真氣虛也，真氣虛則腎陰亦不生旺，無以養肝，而肝陽挾熱逆上，火與元氣不兩立，真氣即為元氣，元氣衰而火愈壯，肝為木火總司，故減桂為妥。</p>
<p>)腎虛是病根，肝陽旺是相因而致。</p>
<p>腎陰腎陽，原難區分。蓋精化為氣，氣化為精，未有精走而氣不耗者，腎氣耗散，而相火起矣。</p>
<p>少壯肝陽正旺，減桂加入五味、沉香，此損益古方，最有斟酌。</p>
<p>丁(二十二歲)　勞怯在前，痛利後加，外如寒，內必熱，陰傷及陽矣。病深且多，醫藥焉能瞻前顧後。姑以痛墜少緩，冀其胃蘇，非治病也。</p>
<p>理陰煎去炮薑加白芍(恐辛燥傷陰。)外如寒，內必熱，此之陰傷及陽，是陰精已奪。陰火燔灼，身中元陽，盡為陰火灼耗，此之謂陰傷及陽。</p>
<p>薛(二十五歲)　少年心陽下注，腎陰暗傷，尿血血淋，非膀胱協邪熱也。夫陰傷忌辛(名言)腎虛惡燥，醫投東垣辛甘化燥變熱，於病悖極，生脈中有五味，亦未讀食酸令人癃閉之律(才大心細，八面玲瓏。)溺出莖痛，陰液枯寂(確斷。腎陰暗傷，由於心陽下注，是手少陰累及足少陰也。病標在肝腎，病本在心主，所以不用填補腎肝之藥，而惟寧神斂液，清火潤燥以戢神明耳。)茯神　柏子仁　黑芝麻　豆衣　天冬　川石斛馬(齊門，十五歲)　純陽之體，脈來濡，腹大，按之不堅，脈象非陽。述食時不適意，郁傷在脾，法當辛溫通補(妙香散加減。)人參　厚朴　煨薑　益智　茯苓　煨木香吳(三十九歲)　夏季用苦潤，通小腸火腑，病患說大便仍不爽，肛門下墜，裡急後重，始而臍旁，漸及胃脘，按之而痛，食入脹加，遇嗔怒病甚。姑以解鬱和中之藥(此方及案不過求免無過，略有文理而已，未見心思。)生香附　烏藥　蘇梗　茯苓　新會皮　生益智吳(四十二歲)　面色枯黃，枯若老頹，脈形全乏生陽，咽物必痰涎濁沫，上涌阻痹，述穢毒疳蝕，毒收即發。此病治反胃噎格，決不效驗(是挾毒病，法當解毒安中。)湯(四十五歲)　陽升巔頂，上虛下細，心有狐疑動多，陽不下潛，入夜心事交集，寤不成寐，潛陽益陰主治(心猶火也，弗戢將自焚矣。故用盞中添油法。)淮小麥　炙草　知母　生地　茯苓　丹參王(六十五歲)　老人下元久虧，二便不和，皆是腎病。肛墜下血，下乏關閘之固，醫謂脾虛下陷大謬，知腎惡燥烈(識見超老，議病明快，妙在不用熟地，溫腎佐以涼肝)人參　炙草　五味　萸肉　女貞　旱蓮草唐(四十七歲)　腎虛不納，久嗽。</p>
<p>附子七味丸(三錢)劉(五十歲)　春夏地氣上升，人身中陽氣發泄，不論男女，中年後下元先餒。人應天地氣交，此喘嗽氣衝，入夜欲坐難眠，皆腎衰不足攝納真氣。脈小弱，非外客邪，治其本病(直截通快，了如指掌。)腎氣去桂、牛膝，加沉香、五味。</p>
<p>陶(木瀆，十三歲)　夏季泄瀉，秋半腹膨仍痛，問飲瓜汁水寒，脾胃陽傷，氣呆乃脹。</p>
<p>疏通帶補，必佐溫以復陽(治法須留意脾喜辛香，不嫌辛燥，況有大力人參以扶中。)人參　茯苓　公丁香　甘松　厚朴　廣皮　木瓜　南楂肉吳(三十二歲)　述暑伏減食，即熱傷氣之征，中秋節令知飢，未得加食。大凡損怯之精血枯寂，必資安穀生精，勿徒味濃藥滋滯。</p>
<p>潘(二十歲)　據述失血三年，不分四季而發，已逾數次。問未曾完姻及當家操持之累，必系先天稟薄，難耐動勞。用都氣加秋石(此亦無可奈何治法。)鮑(二十四歲)　述厥冒來必迅疾，醒來亦速，既醒精神少靈慧，逾時臥息乃清。凡六氣之速。</p>
<p>莫如火風。此內起臟真之陽，肝臟最速，乃下焦腎水暗虧，水不生木。議填補酸收壯陰法(病標在肝膽，病本在腎虧，故以金珠安鎮靈台，清降水火，即以大劑滋填腎陰，酸收、木氣，佐以交通心腎，絲絲入蔻。)真金箔　白廉珠　石菖蒲　熟地　遠志肉　五味子　萸肉　茯苓　龜板周(二十三歲)　形羸瘦，色枯瘁，身略動必喘息氣急，此皆下焦精血已枯，腎氣不收，散漫沸騰。凡肝由左升，肺由右降，腎精交奪，升多降少，右背胸脅高突(損及臟真，病形怪異。)不得著臥。當此地位，乏前哲成法，可以卻病。早上飲人乳，接服附子七味丸(論病明確，人身之氣升逆則諸病畢集，肅降則清明在躬。腎為納氣，總司收攝之權，全在保腎，故能凝精而承命。)金(三十六歲)　臍間沖氣上逆(已見根蒂不固，)自覺壘攻，及脘中痛脹，兼作若響動，下行痛脹始緩。噯多嘔沫，大便艱澀(此近關格之病，早以滑潤通調，極為穩安。)十年宿病，圖效頗難(此等病補益關元氣海，恐其迂滯不靈，只得走出一層滑潤法，以和肝。)桃仁　延胡　郁李仁　川楝　火麻仁　冬葵子和肝陽以潤腸胃，俾二便常通，則濁氣自然下降，不致上逆攻衝，痛脹亦止。</p>
<p>張(五十歲)　神不靈爽，乏歡悅之念，宿癇由情志不適，而致內因之恙。向老食少，理竅開結，治痰必佐參、苓養正(理竅開結治痰三法，因食少向老，兼佐養正，色色都到。)人參　炒黑遠志肉　茯苓塊　石菖蒲　新會紅　熟半夏　竹瀝　薑汁高(六十六歲)　問不頭痛身熱，已非外邪，何用發散?述熬夜後，口　舌強，肢麻，老年人因勞氣泄，用如東垣所議(清藥助陽，以治內傷之熱。)生黃　炙甘草　當歸　桂枝　生薑　南棗秦(四十七歲)　血虛肝風頭暈(玉女煎加減，方如鮮花，恰當病情。)天冬　生地　杞子　桂元　菊花　石膏方(五涇廟前，二十六歲)　溫通血分之濁不效，痛泄不已，兩足筋縱。議三建(天雄、生附、川烏、沉香、木香，)驅陰邪以通脈(大力量，大膽識。)秦(五十一歲)　脈沉微，少腹沖氣，兩脅脹痛嘔逆。</p>
<h3>真武湯</h3>
<p>治少陰之水，非真武不靈。</p>
<p>林(三十五歲)　此夏受濕邪成瘧，氣分受病，脾胃未醒，過秋分天降露霜，此氣整肅。</p>
<p>生白朮　宣木瓜　茯苓　益智仁　新會　陳皮楊(東許巷，二十歲)　農人勞力，左脅有形自能升動，未必瘀血，當理血中之氣，須戒用力，不致變凶。</p>
<p>左牡蠣　茯苓　海石　桂枝　熟半夏　枳實皮張(四十五歲)　中年肉瘦色黃，言語動作嗆嗽，幾番大血，自知勞瘁。凡勞煩身心，必心脾營傷，醫每嗽血輒投地凡滋陰涼藥。中年操持之勞，與少年縱欲陰傷迥異(直截了當。)蓋心主血，脾統血，操持思慮，乃情志之動，非寒涼可勝。當用嚴氏歸脾湯，去木香、黃。</p>
<p>杭(六十歲)　疝病屬肝，子和每用辛香泄氣，老人睪大偏木，夜溺有淋，非辛香治疝。</p>
<p>向老下元已虧，固真理陽，猶恐不及(方藥堅實。)炒黑川椒　鹿茸　當歸身　韭子(炒)　舶上茴香　補骨脂　羊內腎丸謝(六十一歲)　《內經》論諸痛在絡，絡護臟腑外郛，逆氣攻入絡脈為痛，久則絡血瘀氣凝滯，現出塊壘為瘕。所吐黑汁，即瘀濁水液相混。初因嗔怒動肝，肝傳胃土，以致嘔吐。老人脂液日枯，血枯則便艱。辛香溫燥，愈進必凶，漸成反胃格症矣。肝性剛，凡辛香取氣皆剛燥，議辛潤柔劑，無滯膩濁味，以之治格，不失按經仿古。</p>
<p>炒熟桃仁　青蔥管　炒黑芝麻　當歸須　桑葉　冬葵子絡脈可張可弛，氣血寧靜，營衛流行，便爾安舒弛緩。若肝氣逆沖而入絡脈，便脹急張大，營衛澀滯，氣血不行，留著而痛。痛久積瘀，漸致枯燥。此治絡貴乎辛潤柔劑滑利也。</p>
<p>張(黃埭，二十六歲)　夏季寒熱，入秋乃止，色黃脈弱，知飢不思納食，舉動痿軟無力，明是久病傷損，已交白露不醒。議用養營法，去　、朮、五味、地黃，加南棗肉。</p>
<p>久病損傷，氣血必虛而滯，　、朮、地、味，乃重滯堅濃之品，恐驟進運掉不靈，轉滋膩濁，故獨用原方中靈動松利之藥，加以南棗酸甘，俾胃虛脾弱之體，輕攏漫捻，漸次得益。此用補方之生心化裁不呆鈍者，後學切須留意。</p>
<p>沈(五十三歲)　操家君相多動，酒熱先入肝膽，血溢在左鼻竅，左升熱氣，從肝膽而出，戒酒及怒氣，肝血寧必止(看病到此地位，清切不泛矣。)醫用犀角、地黃，乃陽明經降血之藥，是不識經臟，無足道也(指明醒後人眼目。)炒丹皮　黑山梔　降香末　真青黛　小　豆皮　炒柿餅炭　側柏葉的是厥陰經藥，一無夾雜。</p>
<p>張(十六歲)　先天稟薄，真水不旺(清新，)先氣不充，少壯諸事懶倦，竟夜陰中龍雷閃爍，早間齒齦血痕，風傷內攻，巔暈流淚，是根本之恙，胃口亦弱，不宜太清內熱(風陽內攻巔暈淚流，意新詞雅，筆力煉極。)熟地　黑殼建蓮　茯神　芡實　山藥　炙草　川斛　木瓜顧(三十歲)　體質是陰虛，夏季時熱，必傷胃口，不易飢，進食惡心，皆胃口不和。不宜葷濁(夏月熱氣劫燥胃口津液，陽明主肌肉，汗泄不已，即傷胃陰。)炒扁豆　茯苓　廣藿香　生穀芽　廣皮　金石斛張(三十六歲)　據說三年前，病後左脅起有形堅凝無痛脹，但未交冬，下焦已冷。議溫通陽，望其開結(有形無痛脹，是痰凝氣聚，故溫通軟堅消痰，缺一不可。)生左牡蠣　薑汁炒天南星　真甜交桂　竹節白附子　當歸身　小川芎薑汁泛丸。</p>
<p>王(四十二歲)　舌白不飢不渴，氣急痰多，食入惡心欲脹，腹鳴，大便不爽，此寒熱惡心，為陽傷氣痹。</p>
<p>茯苓　半夏　桂枝　生薑　鮮薤白　炙草蕭(五十三歲)　面色萎黃少采，脈來小濡微澀，此皆壯盛積勞，向衰陽弱，病至食下咽，氣迎阻擋，明明反胃格拒，安靜快活，可延年歲(氣迎阻擋，必有痰涎迎壅，故大半夏湯為的。)</p>
<p>潘(二十八歲)　咳嗽在先肺病，近日涼風外受，氣閉聲音不出，視舌邊絳赤有黃胎，寒已變為熱。</p>
<p>越婢法加米仁、茯苓。</p>
<p>錢(二十歲)　左搏倍右，陰火沸騰，由欲念萌動不遂而來，胃旺可清陰火(胃旺者，胃陰充旺也。)生地　天冬　元參　知母　生甘草　麥冬　川貝母朱(帶城橋，二十三歲)　陽虛胃痛，用辛溫見效。街衢往來穢氣，內入傷陽，痛再作，先驅穢濁(別開生面，此新穢觸動夙病也。)</p>
<p>姚(二十三歲)　精血損傷骨痿，庸醫都以辛苦藥酒，病不能去，反傳胃口，無治病捷徑，理胃為先。</p>
<h3>倉廩湯</h3>
<p>徐(三十九歲)　勞形陽傷失血。</p>
<p>小建中湯去薑王(四十五歲)　暑風能蒸熱，不能解熱，即是熱傷氣分。粗工以血藥之滋，未讀暑病諸集。</p>
<p>綠豆皮　燈草心　鮮骨皮　竹葉心　經霜桑葉王(五十八歲)　氣惱而起，肝木犯胃，胃氣逆翻嘔食，其涎沫即津液蒸變。仿仲景胃虛則客氣上逆。</p>
<h3>旋覆代赭湯</h3>
<p>劉(四十歲)　疝瘕由客邪凝結經脈，用毒藥鋒銳，走而不守，氣血通行乃解。</p>
<p>王　酒力濕熱下注，蒸血為膿，瘍潰半年，氣血皆損。麻木不仁為虛，當以兩補氣血，勿以溫燥(老筆。)</p>
<h3>天真丸</h3>
<p>除　診右關前弦動，述右脅胛下似脹不舒，思少陽陽木必犯陰土，木鬱土中，溫開不應。議解鬱安中(立方清真。)人參　茯苓　柴胡　白芍　神麯　生薑李(部前，三十六歲)　自說本來無病，飲藥酒反病，亂治遍嘗寒涼溫熱，致胃口大傷。</p>
<p>近加喪子，目瞀胞垂，無治病方法。</p>
<h3>疏肝散</h3>
<p>孫(二十六歲)　勞損未復，少年形瘦減食。</p>
<h3>歸建中湯</h3>
<p>顧(盤門)　向飢時垢血通爽，飽時便出不爽，此太陰失運矣。首方理濕熱，繼用固腸滑，皆不效，議辛甘運陽。</p>
<p>理中湯去參，加桂元肉。</p>
<p>譚(仙人塘，四十八歲)　凡勞必身心皆動，動必生熱，熱灼絡血上溢，肉瘦脈數，中年生陰日淺，可與甘寒潤劑(甘寒以生胃陰，人身陰液無不從胃中敷布，先養胃陰，由中宮漸敷四臟，至理存焉。)生地　麥冬　扁豆　北沙參　甘蔗汁　白玉竹王(六十三歲)　色蒼瘦，目黃脈弦，向來氣衝脘痛，今痛緩氣衝至咽，是左升肝氣太甚，右降肺氣不及。大旨操持運機致病。</p>
<p>枇杷葉　黑山梔　川貝　蘇子　降香木　新會皮　炒桃仁趙(五十歲)　下焦冰冷，睪丸偏大。</p>
<p>川烏頭　舶上茴香　川椒　葫蘆巴　川楝子肉　吳茱萸　熟川附子黑豆汁泛丸。</p>
<p>陳　心虛忡悸，君相多升。</p>
<p>生地　天冬　茯神　柏子仁　棗仁　炙甘草沈(新市，三十四歲)　產後不復元，血去陰傷，骨熱。大凡實火可用清涼，虛熱宜以溫補。藥取味甘氣溫，溫養氣血，令其復元(至當不易之論。)但產傷之損，蓐勞病根，全在肝腎，延及奇經八脈，非縷雜治所宜(肝腎與奇脈原屬一家，然傷必由肝腎而及奇脈，更深一層矣。)人參　鮮河車　枸杞　紫石英　茯神　紫衣胡桃　歸身　淡肉蓯蓉周(嘉興，四十一歲)　少腹痛堅，攻及當臍，每午後必痛，氣脹貫串腰尻環跳肉腠之間，肌膚亦漸浮腫，再問經事愆期，僅僅些微黃水，是陰寒已入血絡，病必起於產蓐(診視清真切當，老筆紛披。)經後連累奇經八脈，身傴不直，俯不得仰，肝腎入奇脈之見症(肝腎入奇經，又深一層矣。)</p>
<h3>炒枯腎氣湯</h3>
<p>戈(木瀆，二十四歲)　經水不來，是絡脈無血。古云氣旺血自生，大忌通經(此純虛症也，認得清。)人參　茯苓　麋茸　歸身　桂心　羊肉　膠丸張(萬年橋，二十八歲)　半產重於大產，左脅有形，是氣乘肝絡，攻之則變中滿。從前胎墜，寒熱嘔逆，震動之傷(言言警策，)當培養氣血，不可怠忽，不致勞怯(每見陽氣震動，虛人一經寒熱，營衛真氣立散，不可復收，故當用補法。)歸身　鱉血製柴胡　廣皮　南棗肉　白芍　茯苓　蒸於朮　炙甘草封(泰興，三十七歲)　十年前夜飽，凝滯食閉(不是肝氣阻逆，即是脾不健運，)氣物遂胃，脘痛嘔吐，病中腹大如懷妊，得氣下泄而脹消，經準不育，來必腹痛。久病焉有速效，祛寒凝開氣為主(前因肝逆，繼為中虛，終致寒凝，病機歷歷。)吳萸　秦椒　川楝子　高良薑　延胡　莪朮　香附　山楂薑汁泛丸。</p>
<p>陸(虎邱，二十一歲)　腎肝內損勞怯，必致奇經失職。俗醫混稱陰虛，僅以六味，曰補陰和陽，益臟泄腑，此時仲陽非為陰損而設(重方力大，借資於人者半，謂竹破竹補)河車　坎氣　紫衣胡桃霜　人參　茯苓　五味子　人乳粉　秋石沈(齊門，三十歲)　上春產蓐無乳，已見乏血虛象(拿定主見，)延及年半，經水不來(此純虛之症，)少腹瘕氣有形。病患自述背脊常冷，心腹中熱，視面黃色奪，問食少不美。</p>
<p>夫督脈為陽脈之海，由腰而起，齊頸而還，下元無力，其脈自背至頸，陽虛生寒。任脈為陰，海沖乏貯血氣，入脈絡為瘕。考《內經》、《圖翼》，病機宛然在目，此產損蓐勞，非是小恙。無如醫不讀書，見寒熱經閉而妄治，淹纏成損而已(藥方總切定下元無力主治。)人參　小茴拌炒當歸　枸杞　鹿角霜　桂枝　沙苑　白薇庚(太平，四十九歲)　右脅有形，漸次腹大，每投攻下泄奪，大便得瀉，脹必少減，繼而仍然不通，頻頻攻下，希圖暫緩。病中脹浮，下焦加針刺決水，水出腫消，病仍不去。病患六載，三年前已經斷。想此病之初，由肝氣不和，氣聚成瘕。頻加攻瀉，脾胃反傷。古云：臍突傷脾，今之所苦，二便欲出，痛如刀針刺割。蓋氣脹久下，再奪其血，血液枯，氣愈結，宜通宜以利竅潤劑(初由瘕病蠻弄，成脹，先傷氣，繼傷血，血液既傷，而氣愈結，以致二便痛艱。到此地步，非宣通利潤更有何法?此相時度勢而占得好地步也。)琥珀(一錢)　大黑豆皮(五錢)　麝香(一分)　杜牛膝(一兩)二便通後，接服茺蔚子　郁李仁　杜牛膝　當歸　冬葵子邱(鐘由吉巷，四十七歲)　病患述自腰以下頹然痿　，肌肉麻木枯寂，二便皆不爽，上下氣不接續。顯然崩漏亡血，陽不下交於陰(凡自覺呼吸上下，氣不接續，總是陽虛不下交於陰，)中年日就衰奪，惟辛補潤燥，冀絡氣順利，乃久病之緩調(久病之緩劑精極。)松子仁　柏子仁　郁李仁　冬葵子　枸杞子　肉蓯蓉　桑寄生　黑芝麻施(劉真巷)　經漏臍下如卵形，已見血損氣結，衝脈為病，女子瘕聚帶下，少腹形象是也。血傷忌投氣燥，溫熱血藥，不取沉滯，血中宣氣為主(既總燥熱，復避沉滯，血中宣氣，治瘕初起良法。)南查肉　茺蔚子　新絳　青蔥管　生香附徐(太倉，十八歲)　每交五六月(治此症專著眼五六月三字，)喉間宿病，蛾發既愈，仍有鼻塞火升，上熱下冷，經水或前或後形瘦脈小數，是陰弱不旺，肝陽左升太速，右降不及。夏季陰伏於裡，陽泄上浮，致病發因由。</p>
<p>阿膠　石決明　丹皮　生地　天冬　黑豆皮　銀花　白芍　丹參陳(白蓮橋，十四歲)　室女無溫熱藥之例，視色奪脈弱，下焦未寒先冷，經事淋漓，是衝任虛冷，二氣不交，冬宜藏陽，用溫攝升陽(溫以攝下，陽自漸升，有二義，常法不可拘也。)麋茸　鹿角霜　紫石英　人參　歸身　枸杞　沙苑　小茴　蛇床子沈(槐樹巷，二十二歲)　自交秋初，皆令陰陽巔脹失血，三月懷妊，法當養陰固胎。</p>
<p>人參　黑殼建蓮　子芩　阿膠　生白芍　桑寄生氣有升無降，故得泄瀉反爽，背椎必槌摩而脹減。蓋臟陰之熱，鼓動經腑中氣，皆逆行上巔。春間經漏，議進滋清補方，亦從權隨時令也。暑伏已過，肅降未至，以順天之氣，應乎人身推求。</p>
<p>川黃連　廣藿香　生麥芽　茯苓皮　莪朮汁　胡黃連　澤瀉　南查　丹皮居(胥門，六十歲)　女人多產，奇經八脈諸絡患病，五液走泄，殆盡而枯。年已六十，反患淋漏帶下，大便日見枯澀，少腹形膨　脹，血液難生，氣散不收，日服炒枯腎氣湯一劑(多產體氣已憊，至衰年下焦關閘已撤，日餌溫補，苟延殘喘而已。)老年精氣神衰，即日餌參、苓大藥，不過僅僅支撐一日。蓋真氣真精已衰，大補亦不甚浹洽耳。</p>
<p>徐(北馬頭，十八歲)　非但經水不來，食下脘中(二字不可略)即痛，是肝膽氣熱逆乘，致胃氣亦逆。問大便漸溏，木侮土位，且形瘦內熱，凡理氣多屬辛燥，明理欲治病，先理體質之宜忌。</p>
<p>白芍　炙甘草　新會皮　生穀芽　炒焦丹皮　炒桃仁　茯苓　查肉　生香附　莪朮邵(楓橋，二十八歲)　每懷妊百日內即產，已歷十余次矣。今春溲溺如淋，入夏若崩若溺半月，半月後經水又來，上午少瘥，臨晚夜深，頻頻至圊，溲溺滴瀝酸痛。夫胎瀕二三月，足厥陰肝病，且胎形漸重，任脈不固，下墜血傷液枯，陰氣不收，此溺淋是肝腎陰虛(認清病根。)庸醫清火分利，更奪真陰。半年纏綿，致難以速功。養陰方中忌投酸味，令人癃閉。</p>
<p>細生地　黑豆皮　生雞子黃　清阿膠　人中黃　川石斛李(用直，三十三歲)　凡女科有胎氣，以立基為要。惡阻嘔吐酸味，是熱化，安胃調氣。</p>
<p>人參　竹茹　茯苓　半夏　金斛　生薑鈕(吉安州，三十五歲)　女科肝病最多，產後必病及八脈，即如少腹聚瘕，瘕氣攻心下必嘔吐，逆上則咽喉閉塞。經水年半不來，越日必有寒熱。凡下焦血病為多，瘕屬氣結，　為血痹，病在衝脈，陰維陽維脈中混雜，醫藥焉得入奇經。</p>
<p>地鱉蟲(一兩)　延胡(一兩)　山楂(一兩)　桃仁(五錢)　莪朮(五錢)　金鈴子(五錢)麝香(三錢)共為末，用青鱉甲五六兩，去衣搗碎，用無灰酒煮汁一杯，和前藥末為丸，每服二錢，益母草湯送下。</p>
<p>要知瘕不可攻，　乃可攻耳。瘕屬氣結，亦由少血，故氣聚而結。至於　為血痹，非攻不散，總是下焦血病為多耳。</p>
<p>鈕(蕩口，二十四歲)　六年前產兒，自乳年余，乳汁涸，病起延綿，至今食少如飢，仍不加餐，經水不調，色黑微痛。蓋病根全在乳盡，亡血形瘦，火升失血，勞怯陰傷(婦人生子自乳全賴善飯，生血復脈養陰。)人參　阿膠　白芍　細生地　炙甘草　桂枝庚(四十九歲)　瘕結陰絡，絡病善脹，自古及今，無硝黃攻傷其陰之理。腹脹忌咸，謂水寒逆犯脾陽，此脹誤在頻頻攻蕩，陰亡液損，二便不通。內經謂食酸令人癃閉，醫藥言食酸忌咸，乃目不知書。</p>
<p>桑葉　柏子仁　松子仁　黑芝麻　青果汁丸。</p>
<p>處方以陰亡液損著筆，此症是不忌咸而忌酸者。</p>
<p>吳(楓橋，二十五歲)　藥氣味雜亂惡劣，胃口久受其苦傷，致食即嘔吐，非反胃也。窮其起病根由，原系心境愁腸，氣熱內蘊，血液日干。若此年歲，久不孕育，多以見病治病，未著未適調經理偏之旨。今入冬小雪，從液虧不主戀陽，預診春木萌動，轉焉發病之機(凡心神諧暢，同血自充旺，以心生血主血也。憂愁思慮則心營不舒，血不肯生。又有鬱火以煎熬，焉得不日就干涸，木無滋養，發病最為易事。清而腴藥味純粹以精。)阿膠　人參　生地　杜仲　茯神　天冬　杞子　桂元肉　桑寄生　太麻仁另用烏骨雞一具，去毛血頭翅足肚雜，漂潔，用淡水加無灰酒一碗，米醋一杯許煮爛，瀝去肉骨，取汁搗丸。</p>
<p>巽為風，雞屬巽卦而應風，本肝家禽也。烏骨則更入腎矣，乙癸同源之味，兼以全具，元氣充滿，從肝腎源頭，鼓動生陽，氣味俱全，則補益力量更大而神矣。況血肉靜中有動，生機躍然者乎。</p>
<p>朱(八圻，十六歲)　女子十四而天癸至，以稟質為陰，二七少陽生動，陰體以陽為用也。父母有病而生屬乎先天，即良醫妙藥，弗能療疾(先天稟薄，藥用清補。)如苗禾秀而不實，樹果將成自墜耳。庸人不識其故，徒以清熱治嗽，坐困胃口，而致凶者屢屢。</p>
<p>生白藕　桑寄生　清阿膠　天冬　云茯神　甘州枸杞子　桂元肉　大元生地先天稟薄，生化之機不旺，即用補劑，亦當量力清養。力量淺薄，濁膩艱於運化。</p>
<p>曹(長善　，二十二歲)　產後寒入胞門，經水逾期不爽，少腹瘕形漸大，面色清　肉瘦，自上秋產蓐瘕起，今夏診二次，議以瘕屬氣結，用大全方蔥白丸，暨烏骨雞煎丸，溫通衝任脈，令氣血自和。兩方不效，是下元虛冷，再攻必變脹矣。</p>
<p>人參　雲茯苓　交桂心　生蘄艾　當歸身　鹿角玄霜　小茴香　生香附因在少壯，用藥逐層走進，便有次第，不致動輒蠻補。</p>
<p>袁(四十五歲)　平日郁氣化火，久則深藏入陰，三時溫暑濕熱，異氣有觸，伏熱內應而動，是氣滯為脹，濕鬱為瀉。熱移於下，濕腐侵肌(一氣貫注，倍見精神。)凡濕與熱，皆氣分病，既久蔓延，延及血分，自深秋經逾旬日，越兩月不來，而消渴形寒，足脛跗骨中熱灼燥癢。大凡風熱淫於內，必以甘寒，乃和梨汁、蔗漿之屬。蓋胃陰制伏肝陽內風之動，正合</p>
<p>《內經》和陽益陰，肝胃忌剛之旨。</p>
<p>日間服桑麻丸，用青果汁丸，夜服梨汁、蔗漿熬膏。</p>
<p>五行木氣克土，蓋木得水土滋養，土膏盡為之吸取，實是土中升發木氣，長養栽培，使之暢茂條達，即是木克土也。胃中津液充裕，肝木從茲吸取，滋和暢遂，即是斯義。</p>
<p>胃中陰液充旺，足供肝木滋養，而肝風不動，蓋土中升木，乃是木克土也。</p>
<p>汪(二十八歲)　視色究脈，損在奇經諸脈，晨起瘕泄，交晡夜溺淋痛楚，任督為陰陽二海，脂液枯竭，由陰損損及乎陽，引導令其漸交，非時下可以速功。</p>
<p>人參　鹿茸　舶茴香　龜板心　生菟絲子粉　歸身用生羊腎十二枚，去脂蒸爛搗丸，另煎漂淡鮑魚湯送三錢(即是導引法。)藥之氣味，都用與奇經氣味相類之品以治，引導奇經之妙，所謂異類有情，竹破竹補之法也(病在任督，絕不用地黃、杞子、山萸通套補藥，取血肉而遺草木，真認定奇經任督而導引也。)周　情志易生嗔怒，肝膽木火上攻，胃脘心悸忽嘈，手撫動躍。夫動皆陽化(動皆陽化四個字啟人聰慧不少，)沉香、肉桂辛熱，肝有摧捍惡燥之累，非入理也(藥味清真。)柏子仁　歸須　桃仁　大麻仁　南查肉周(四十一歲)　兩三月經水不來，少腹痛脹下墜，寒疝屬虛，當與金匱當歸羊肉生薑湯。疝為陰寒侵入肝絡，其原起於絡血衰少。若用剛猛熱藥，勢必辛燥，肝為剛藏，益其震烈，大非所宜。惟羊肉柔溫，味濃歸陰，氣臊入肝，以血補血，使肝絡溫和，再以生薑散寒，當歸通絡自愈。</p>
<p>張(劉真巷，三十七歲)　上年五個月，已小產二次，再加冬季伏侍病患勞乏產虛在陰，勞傷在陽，咳嗽吐黏濁沫，咳逆上氣必嘔食。凡食入胃傳腸，此咳是下虛不納，氣衝涌水上泛，奈何庸醫都以消痰清肺寒涼，不明傷損陰中之陽，必致胃倒敗壞。</p>
<p>下虛不納之人，每陰氣上逆，陰液汜濫，吐黏涎濁沫，皆是陰邪上逆所化。</p>
<p>顧(松江，三十三歲)　形似壯而肌肉松軟，脈小促，按之無力，問壯年未有生育，明明腎虛，真氣不攝，血隨氣升而溢，龍火熏蒸為咳，先議用熟地　萸肉　山藥　丹皮　茯苓　澤瀉　牛膝　五味腎中真氣充旺，不但氣不升而血寧靜，並能收攝精氣而結胎矣。</p>
<p>范(二十五歲)　驚恐悲哀，傷於情懷內因，絡病當以血藥宣潤，不必苦辛氣燥。</p>
<p>炒桃仁　黑芝麻　歸須　柏子仁　蘇子　冬桑葉周(東匯，二十一歲)　此情懷多嗔，鬱熱自內生，經來愆期，心嘈辣，腹中痛，乾咳忽嗆，皆肝胃氣熱上衝，久則失血經阻，最宜預慮(治肝須得清涼。)小黑　豆皮　細生地　清阿膠　生白芍　云茯神　漂淡天門冬巴(西沿塘，三十四歲)　十年前產育，即經候不和，帶下腰椎酸垂，少腹刺痛，損傷奇脈，已非一所。凡先傷於陰，例取溫柔，佐以涼肝，合乎通補。謂經水必循日月耳(補必兼通，天癸無愆期之慮。)女人月事應期，雖曰血液走漏傷陰，然肝陽亦從茲下泄，水氣疏達，自無逆沖之患。況體陰抱陽，有天癸以流行，陰陽尚無偏勝，足征二氣交充，故女人月事時下，縱有他病，尚可圖治耳。</p>
<p>丁(二十五歲)　蓐勞自春入秋，肌肉消，色萎黃，外加微寒，心腹最熱，臟陰損不肯復，氣攻絡中，腹有瘕形，血空氣聚，非有物積聚也。</p>
<p>人參　煨木香　茯苓　生菟絲子粉　炒小茴　炒當歸此病先用辛溫入絡散瘕，繼以滋養陰血為周備。</p>
<p>血空氣聚四個字，形容瘕病之所以然，深入顯出之筆。</p>
<p>邱(鐘由吉巷，二十八歲)　凡交三月胎殞，是足厥陰肝陰內怯，熱入於陰，衝脈胎形漸長，任脈不司擋任而墜，見症脊椎尻垂，腰酸痿弱，腎肝奇經虛不攝固。議孫真人方。</p>
<p>桑寄生　清阿膠　生白芍　細生地　蘄艾炭　條黃芩　砂仁末　當歸身尤(神仙廟前，四十三歲)　漏經四十余日，色瘀腐成塊，病中動怒，遂胸膈脹悶且痛，少腹脹滿，瘀下稍寬，醫治漏血，投地、芍、歸、膠，下焦未沾其益，脘膈先受其滯。宗經議先理其上(閱宗經議三字，總見鄭重分明之意。)生香附汁　南查　蘇梗　生麥芽　桃仁　延胡徐(三十五歲)　少壯從不生育，衝任脈中久虛，六七年少腹有形，日漸堅大，口食寒涼泄瀉，是下焦陽衰冷，濁氣聚成瘕。庸醫希圖寬脹，久服平肝破氣，氣愈損，堅脹愈加。</p>
<p>袁(同裡)經年累月宿恙，全是郁勃，內因五志中之陽氣有升無降，故得泄瀉反爽，背椎必捶摩而脹減。蓋臟陰之熱鼓動，經腑中氣皆逆行上巔。春間經漏，議進滋清補方，亦從權隨時令也。暑伏已過，肅降未至，以順天之氣，應乎人身推求。</p>
<p>川黃連　廣藿香　生麥芽　茯苓皮　莪朮汁　胡黃連　澤瀉　南查　丹皮馬(常熟，三十二歲)　寡居無歡悅之意，肝膽中郁勃氣火，直上直下，莫能制伏，失其所泄之用，小溲成淋，謂肝脈環繞陰竅，用龍膽瀉肝湯(直捷痛快，但不留余地耳。)唐(常熟，二十七歲)　瘧母瘕聚有形，治必宣通氣血，所述病減，已是產虛，八脈受損，不敢攻瘕。</p>
<h3>當歸生薑羊肉湯</h3>
<p>朱(吳江，十六歲)　天癸從未至，肉瘦色悴，嗆嗽著枕更甚，暮夜內外皆熱，天明汗出熱減，痰中或稠或稀，咽中總不爽利，此先天所稟最薄(便是主見。)既長真陰不旺，陰虛生內熱，怡悅勿攻針黹，必要經來可得熱除，即世俗所謂干血勞怯。</p>
<p>復脈湯去麻仁恐其滑腸而陰藥不得停留滋補也。老手勝人處在此。</p>
<p>王(無錫)　衝脈為病，男子成疝，女子帶下瘕聚，經水仍來，是氣攻入絡脈為有形矣。</p>
<p>況產後又十六年不育，衝任病顯然。</p>
<p>小茴香　川楝子　橘核　桂枝　茯苓　南查凡食入脘中即痛，必是肝火上逆阻滯。若食入胃中而痛，則積滯為患居多。</p>
<p>方(長　，三十歲)　絡脈少血，氣聚形象，升降而動，起居如驚(腎主恐，下元虛乏顯然。)跗踵乏力登高，久已未育，乃下焦肝腎虛損，累及八脈(可謂峻補。)紫石英　巴戟肉　歸身　鹿角膠　白石英　淡蓯蓉　枸杞子　杜仲</p>
<h3>羊肉腎丸</h3>
<p>葉　自五月間生產，將交白露，日瀉五六次，每瀉必先痛形寒戰栗，氣衝入脘欲嘔，脈來右濡，下墜入尺，以冷濕挾陰濁，致阻遏陽氣流行(脈症如此，虛寒顯然。)法當辛溫宣通陽痹。</p>
<p>炒黑川椒　煨廣木香　天台烏藥　川楝子　生益智仁　生香附氣濃味薄，專主溫通，更妙川楝一味，陽中有陰。</p>
<p>沈(桐涇橋，四十五歲)　經漏已三年，淋漓帶下黃白，視色脈不受溫暖，固下湯散力量難以直達衝任。古局方中有震靈丹，每早服六十粒，是固奇脈藥，可使其緩。欲求全愈。非大劑人參不可。</p>
<p>包(十八歲)　經阻三月，咳嗽失血，交夜蒸蒸身熱，脈來左搏而促，是陽氣煩蒸，致逆諸絡，血液不得匯集衝脈，秋深經水不來，必加寒熱瘦削，稱干血勞矣(老筆確鑿。)生鱉甲　全當歸　生白芍　粉丹皮　原生地　茺蔚子　南查肉　生麥芽仰(三十歲)　產後自乳，三年肉消，夜熱咳嗽蓐勞，皆產傷真陰，陰虛生熱，絡中無血，氣入絡，變化有形，為氣聚之瘕。醫攻瘕則謬，理嗽亦非。以下損之傷在肝腎，奇經之虛，肺藥寒涼，望其止嗽，嗽必不效，胃傷經阻則凶。</p>
<h3>炙甘草湯</h3>
<p>馮(十四歲)　室女經初至，必是畏熱，因熱受涼，致衝任傷，遂經漏不已。血色凝紫，腹中仍痛，是從前經至失調所致。和血脈之中，必佐陰中之陽勿膩滯者，問痛得按姑緩者屬虛。</p>
<p>當歸身　炒小茴香　甘枸杞　真沙苑　人參　鹿角霜　交桂心　紫石英問及得按姑緩，用藥溫而不膩，何等細密。</p>
<p>陳(二十九歲)　產後二年，經水不轉，嘔涎沫不飢，喜酸味，肝陰久虛，傷損在下焦，陽氣逆乘，頭巔暈痛(惟暈而痛，乃知陽氣逆乘細極。)議用酸甘，化陰和陽。</p>
<p>原生地　白芍　烏梅肉　大麻仁　炙甘草　炒焦枸杞　漂淡天門冬凡清陽主上升，濁陽主下伏，所謂逆乘，乃下焦濁陽耳。</p>
<p>蔡(四十四歲)　上年產後致損，所見皆由肝腎陰虛。忌與燥熱，見崩漏虛熱，骱腫寒熱，不必縷縷。</p>
<p>清阿膠　云茯神　細生地　生白芍　粗桂枝木　炙甘草方(五涇廟前，二十六歲)　死胎至旬日乃下，必有尸穢濁氣，留著衝任脈中，至今黃白淋帶，病患說腰已下冰冷，大便久溏，產後剛藥難用，用朱南陽方法。</p>
<h3>鼠糞湯</h3>
<p>以穢治穢，與前阿魏丸治痧脹，同一巧思。</p>
<p>俞(申衛前，五十歲)　任督失擋任督攝之司，脂液暗消不禁。八味丸可以常服，再議因奇脈方法以佐之。</p>
<p>鹿茸　補骨脂　人參　生菟絲　覆盆子　鎖陽顧(二十二歲)　產後形肉日瘦，經水逾期，此屬內損，問經來無痛，與方書氣滯經遲迥異，養肝調衝任可矣(經來無痛而逾期，乃內虛少續耳。)烏骨雄雞　原生地　枸杞子　白芍　桂元肉　當歸身　紫丹參　柏子仁　雲茯苓朱(徐家湖頭，三十五歲)　操家勞煩，過動內起之熱，皆情懷中來。熱灼血傷，經水愆期，食少干嗆，難用通經峻克，居家安間，不致驟成勞損。</p>
<h3>資生丸</h3>
<p>閔　既產已過十年不孕育，經將至，周身脈絡牽掣，腹中不和，若用力勞瘁，即起寒熱，乃經後勞乏，奇經益損。當安逸一年，絡血寧，八脈自蘇。愚人遍嘗藥湯，不知養病大旨，損不能復，勞怯莫救。</p>
<p>鹿角霜　枸杞子　小茴香　當歸　沙苑蒺藜　南查肉　茯苓　香附邱(鐘由吉巷，四十七歲)　十年前小產血崩，損傷未復，家政操持，形神俱不獲安養。</p>
<p>上年夏秋漏帶，久矣淋漓。不但肝腎脂液先竭，奇經與諸絡無血存蓄(說得透徹，風雅宜人。)氣衝犯上，氣攻聚絡，為胃脘刺痛，脅肋高突，更推下焦寒冷，腰圍如帶拘縛，兩足麻木，踐地痿軟，二便塞窒不爽，五液枯槁，至陽不交於陰，有關性命大症。病患說一年嘗藥，從未見效，更有醫見痛用沉香者。凡血枯液涸，香燥大忌，薑、桂燥烈，亦非亡血所宜。姑以血肉參入人參，若春和溫煦，草木藉以資生，血有形難生，益氣無形，以充有形耳。</p>
<p>人參　當歸身(小茴拌炒揀去)　羊肉腎　肉蓯蓉　枸杞子　真沙苑　黑芝麻益血中之氣，自然雲霧致白露也。</p>
<p>錢(二十四歲)　上秋產蓐，自乳傷血，夏熱泄氣，一陰不復，入秋咳嗽，震動失血，飲食不少，經年不致凶。既已斷乳，必在冬前經轉可卜，春深不致反復。</p>
<p>茯神　炒白芍　鉤藤　炒查　炒麥芽　焦丹皮　新會皮伍(葑門，二十二歲)　上年秋冬經漏帶淋，初用震靈丹，繼進參茸，升陽佐溫攝而安(方藥細密。)自夏五月咳嗽，已至秋分，咳甚必嘔。腰脊如墜，問經閉已兩月，顯然下虛沖氣，天明欲便，乃瘕泄之漸。</p>
<p>附都氣丸(三錢)陸(葑門，二十五歲)　未嫁有喉痹，上熱下寒，由情志郁勃之熱上灼。有升不降者，情志無怡悅之念，遣嫁宜速，醫藥無用(王道本乎人情絕妙，開鬱散結方。)川貝　夏枯草　連翹心　鉤藤　江西神麯　茯苓張(三十九歲)　半產是下焦先虛，血少內風鼓動眩暈，腰椎不和，胃弱惡心，勿以溫燥(眩暈總是內風鼓動。)茯神　阿膠　川斛　天冬　生地　女貞子　枸杞子　菊花炭杜　少腹氣衝胃脘，每痛嘔惡，吐黏涎，三年頻發，少腹已結瘕形，月事遲，肝胃病始傷及衝脈，病是嗔忿而得，治法不越調經。俾氣血流行，不致逆攻犯絡，《內經》論痛，皆曰絡病，醫藥不入絡脈，乃無效矣。</p>
<p>南查肉　小茴香　延胡索(醋炒)　蓬莪朮　川椒　金鈴子　生香附　雲茯苓　青蔥管趙(楊安　，十九歲)　驚恐起病，遇怒而發肝厥，乃陽氣暴升，痰隨氣火上舉，神識乃迷。近加小產後，必須養肝陰，佐入涼肝。</p>
<p>原生地　茯神　清阿膠　天冬　柏子仁　白芍　入中白　紫丹參治肝必佐以清涼，故即溫腎藥內，必佐涼滋一二味，所以養胃液而清肝陽也。</p>
<p>惟陰陽並衰，生氣索然者，始專主溫熱耳。</p>
<p>王　脈虛數倏，寒熱口渴思飲，營衛失和，陽明津損，初因必挾溫邪，不受薑、桂辛溫。有年衰體，宜保胃口，攻伐非養老湯液也。</p>
<p>沙參　花粉　玉竹　甘草　桑葉　甜杏仁　元米陳　脘中宿病，痛發嘔吐黑水，五六日方止。診脈左大而弦，肝木犯胃，濁氣厥逆，大便數日不通，久病必在血絡，久郁必從熱化。用苦辛泄降，少佐通瘀。</p>
<p>川連　金鈴子　山梔　元胡　半夏　橘紅　桃仁陸　春陽萌動，氣火暗襲經絡，痛在板胸，左右脅肋，皆血絡空曠，氣攻如痞脹之形，其實無物。熱起左小指無名指間，手厥陰脈直到勞宮矣(勞宮穴在手掌。)養血難進滋膩，破氣熱燥非宜，議以辛甘潤劑濡之。</p>
<p>柏子仁　桃仁　桂圓　茯神　山梔　橘紅顧　左耳竅汨汨有聲，左脅衝脈波起欲脹，肝臟血絡大虛，氣偏乘絡，絡空為脹，當年痛發，用歸脾最安。但　朮呆守中上，似與氣升　脹相左有年。奇脈已空，以宣通補液，使奇脈流行，虛脹可緩。</p>
<p>杞子　歸身　柏子仁　桃仁　桂圓　鹿角霜　小茴香　香附　茯苓吳　肝血久空，陽明胃脈亦虛，肌肉膚脹，氣聚熱流著，自覺熱熾，不可作實熱治。通經脈之壅，仍佐和血熄風，使內風稍寧。望其稍逸。</p>
<p>杞子　白蒺藜　虎骨　牛膝　天冬　生地　歸身　柏子仁周　情懷動則生熱，是五志氣火上灼心營，肺衛　痛，鼻淵咽中似窄，只宜甘藥濡養，莫見熱而投寒。</p>
<p>人參　麥冬　川貝　柏子仁　茯神　甘草朱　大隊陰藥，佐以人參　誠為陰分益氣之法，服之熱癤累累而起，惡露緩緩而下。扶正卻邪，並行不悖。今穀食已安，諒無反復。然難成易虧之陰，須安養可望圖成。倘加情志感觸，輕則奇經淋帶，重則髓枯內損。</p>
<p>蘇　老年陽氣日微，濁陰自下上干，由少腹痛脹及於胃脘，漸妨飲食，痞散成鼓矣。法當適陽以驅濁陰。倘昧此旨，徒以豆蔻、沉香破泄，耗其真氣，斯脹滿立至。</p>
<p>熟附子　生乾薑水煎濾茶盞內七分，調入生豬膽汁一枚，以極苦為度。</p>
<p>王　胃弱不食，脾虛便溏，由臟氣單薄，府陽遂失流行，結痂之際，當進清涼宜解，乃論論其常也。凡重痘得自愈者，正氣收納，邪熱外泄，一定之理。今乃體虛邪未盡解之症，猶非純補純攻。</p>
<p>人參　焦術　茯苓　白芍　川連　楂肉　廣皮　澤瀉　米仁陳(四十八歲)　遇煩勞必脘中氣窒噎痛，望五年歲，不宜有此。</p>
<p>呂(北濠，二十八歲)　暑邪先受，飲瓜汁水寒，胃口再為冷濕凝著，此瘧是脾胃病。舌白背寒，從裡症治(表裡辨別明確，都用裡藥。)杏仁　蓽茇　廣皮　厚朴　草果　白蔻仁　桔梗　枳殼</p>
<h2>跋</h2>
<p>葉氏《臨證指南》一書，風行海內，操軒岐術者，恆家置一編。說者謂中多贗鼎，命意立方，間有可議，實非當時之定本也。曩從貝師游，有葉先生手寫方數頁，治法入神妙，字跡亦蒼勁及古，聞先生家，別有存本相承，洎六世不以示人，乃真洄溪所評定者。咸豐初，粵逆擾吳下，其家中落，貨大書簏於市，故紙充塞，檢之則是書在焉。振家以濃幣易歸，如獲波斯鴻寶，只身竄海上，抱書以行。人或譏誚之，罔顧也。今忽忽垂三十年，振家亦老矣，脫終失墜，豈非先生之罪人歟。先生元孫訥人，曾刻《醫案存真》，而此書未盡刊入，藏為家秘。爰屬及門諸子，詳加校訂，以公斯世。先生之真傳不泯，亦振家之幸。振家嘗叩先生之書而討論之，偶有所得，附贅於上，聊以醒讀者之目。先生達於醫，著述不多見，晚年求醫者，戶限欲穿，鮮著書暇，其溫熱論數則，赴證洞庭山極閘人成於舟中者，余無所傳。</p>
<p><u>光緒十四年戊子仲冬吳縣後學張振家跋</u></p>
