<header><h1>孫真人海上方</h1></header>
<dl class="元資料" data-type="book">
<div><dt>作者</dt><dd>孫思邈</dd></div>
<div><dt>朝代</dt><dd>唐</dd></div>
<div><dt>年份</dt><dd><data value="618/907">公元618年至公元907年</data></dd></div>
<div><dt>品質</dt><dd>75%</dd></div>
</dl>
<p>孫真人海上方</p>
<h2>重刻《海上方》序</h2>
<p>《孫真人海上方》，洞有舊石刻，第以碑小方多，字畫傷於瑣屑，不便檢閱，且舛訛太甚，乃令生員謝沾細加訂正，礱石大書。舊有木刻，病證列於目錄，詩首止列號數，讀者須尋病於前，而求方於後，尤為不便，茲將病證即列詩首，似亦省目。其他風藥論及九轉靈丹諸方，洞前已有楷書大碑，茲不復贅及之。
隆慶六年歲在壬申三月之吉秦王守中識</p>
<h2>暑月傷熱</h2>
<p>途中大暑最堪憐，急取車輪土五錢，盞內澄清湯服盡，身輕體健即安然。</p>
<h2>傷寒咳嗽</h2>
<p>傷寒咳嗽夜無眠，細碾明礬末一錢，半夏橘皮薑共煮，煎湯調下化粘涎。</p>
<h2>魚臍瘡</h2>
<p>魚臍瘡毒為難治，火內飛礬地上攤，寒食麪糊纔貼上，生肌退腫即時安。</p>
<h2>口瘡</h2>
<p>口瘡發作痛難言，香麝銅青一處研，乾捻些兒頻摻上，不逾時刻自安然。</p>
<h2>產難</h2>
<p>婦人臨產十分難，若得良方也不艱，尋取路傍草鞋鼻，燒灰酒下即時安。</p>
<h2>婦人口乾</h2>
<p>婦人口舌幷焦乾，不治如何得暫安，尋取黃鷄肝一具，燒灰調酒似靈丹。</p>
<h2>眼中流泪</h2>
<p>迎風冷淚聽根原，臘月尋桑不等閒，若得梢頭不落葉，煎湯頻洗自然安。</p>
<h2>小便不快</h2>
<p>小便不快有何難，不用庸醫說再三，匾竹水煎連口咽，方知此法不虛傳。</p>
<h2>大便不快</h2>
<p>大便不快聽吾言，腹滿如山起坐難，用水來研麻子汁，一時吃了自然安。</p>
<h2>鼻中出血</h2>
<p>鼻中衄血涌如泉，亂髮燒灰有甚難，竹管吹將鼻內去，時間恰似遇神仙。</p>
<h2>牙疼</h2>
<p>牙疼齒痛不堪言，得法猶如遇列仙，大戟燒來疼處咬，名方留下豈虛傳。</p>
<h2>遠年咳嗽</h2>
<p>遠年咳嗽最難痊，休要求人枉費錢，但用款冬花作末，燒香一吸便安然。</p>
<h2>刺毒腫痛</h2>
<p>刺毒腫痛叫聲連，無血無膿不得眠，研爛松脂為細末，帛封其上免災愆。</p>
<h2>刀傷出血</h2>
<p>刀傷出血不能停，下子秋蛾效最靈，研碎燒灰傷處貼，即時定止見安平。</p>
<h2>小兒骨痛</h2>
<p>小兒骨痛不能言，出血流膿實可憐，尋取水蛇皮一個，燒灰油拌貼疼邊。</p>
<h2>水瀉</h2>
<p>曾聞水瀉有何方，焦炒車前子最良，細末一錢調米飲，只消七劑即安康。</p>
<h2>臁瘡</h2>
<p>裏外臁瘡久不痊，令人行動痛如煎，如君會取牛蹄甲，油拌燒灰傅患邊。</p>
<h2>痼冷</h2>
<p>人身痼冷夜無眠，生用川烏細細研，好醋拌調攤絹上，貼於冷處暖如綿。</p>
<h2>蠅子入腸</h2>
<p>忽遭蠅子入咽喉，苦惱心腸吐不休，尋取世間蝦蟆眼，爛研咽下解君愁。</p>
<h2>蚊虱</h2>
<p>木鱉川芎二味均，雄黃減半共調勻，用蜜為丸燒一粒，自然蚊虱不相侵。</p>
<h2>破傷風</h2>
<p>破傷風病莫遲延，脫殼秋蟬三二錢，緊了牙關難治矣，燒灰酒下便安然。</p>
<h2>急傷寒</h2>
<p>急傷寒氣聽人言，此法誰知有聖傳，半夏酒薑煎一處，時間服了即安然。</p>
<h2>蛇傷</h2>
<p>若人苦被毒蛇傷，獨蒜原來力甚良，切作片兒遮患處，艾燒七炷便安康。</p>
<h2>犬傷</h2>
<p>犬傷何必苦憂煎，我有仙方只口傳，刮取磚青和牛糞，敷於傷處即時痊。</p>
<h2>心頭疼</h2>
<p>心頭疼苦不堪當，急看仙傳海上方，匾竹水煎連口咽，教人服已便安康。</p>
<h2>龜病</h2>
<p>腹中龜病不能言，肚裏生來硬似磚，自死殭蠶白馬尿，不過時刻軟如綿。</p>
<h2>內瘴</h2>
<p>眼睛內瘴淚漣漣，且莫將心苦自煎，但取鯉魚用膽腦，和調相拌貼安然。</p>
<h2>骨頭疼</h2>
<p>骨頭打碎最艱難，尋破山鞋莫等閒，火裏燒灰油和貼，管教哭臉變懽顏。</p>
<h2>湯火燒</h2>
<p>湯火澆燒不可當，肉皮潰爛痛非常，雞清好酒來淋洗，信是神仙海上方。</p>
<h2>咽喉</h2>
<p>咽喉閉塞不能言，幸有硼砂可保全，搗和鹽梅如棗大，口中噙化即時寬。</p>
<h2>胡臭</h2>
<p>身邊胡臭不能堪，授汝良方用小便，夜靜頻頻承熱洗，子孫後世免流傳。</p>
<h2>血痢</h2>
<p>要醫血痢莫遲延，濕紙包鹽火內燃，研碎分為三處用，白調粥飲即時安。</p>
<h2>自縊</h2>
<p>懸梁自縊聽根源，急急扶來地上眠，皂角細辛吹鼻內，須臾魂魄自還元。</p>
<h2>耳聾</h2>
<p>耳聾久矣不聞言，那怕成災三五年，鼠膽尋來傾耳內，真如頃刻遇神仙。</p>
<h2>小兒夜哭</h2>
<p>小兒夜哭最堪憐，徹夜無眠苦逼煎，牛甲末兒臍上貼，清清悄悄自然安。</p>
<h2>耳疼</h2>
<p>耳中疼痛似刀剜，出血流膿久不乾，鳩屎夜明吹入耳，除膿消腫便安然。</p>
<h2>牙疼</h2>
<p>一撮黑豆數枝蔥，熟艾川椒共有功，半碗水煎勤自漱，牙疼立止顯神通。</p>
<h2>赤鼻</h2>
<p>肺風赤鼻最難醫，幸有良方好受持，但用硫礬為細末，和調茄汁最相宜。</p>
<h2>重舌</h2>
<p>小兒重舌最難熬，鏽鎖將來火內燒，打落屑兒為細末，水調吃下即時消。</p>
<h2>陰脫子腸不收</h2>
<p>脫肛陰脫兩般憂，尋取鯽魚只用頭，火上燒乾為細末，半搽半服自然收。</p>
<h2>脫肛</h2>
<p>脫肛不止久難安，真個仙方遇有緣，尋取蜘蛛燒得爛，抹於肛上應時痊。</p>
<h2>乍寒乍熱</h2>
<p>乍寒乍熱卻淹延，反覆猶如鬼祟纏，道上喜蛛尋數個，將來繫在脈門邊。</p>
<h2>咽喉</h2>
<p>咽喉急閉莫因循，快取蘆都草的根，好酒煎來三四滾，竹筒灌入妙通神。</p>
<h2>雙蛾</h2>
<p>牛膝生根取汁擂，男左女右鼻中吹，不怕雙蛾來勢急，酒調一服自然囬。</p>
<h2>痢</h2>
<p>七個烏梅七個棗，七個栗殼七寸草，更加燈心共酒煎，赤白痢疾登時好。</p>
<h2>月水不通</h2>
<p>婦人月水不能通，鼠糞燒灰立見功，熱酒調時逢扁鵲，只消一服顯神通。</p>
<h2>乳少</h2>
<p>婦人乳少聽吾言，只用穿山甲五錢，研碎米泔連夜飲，乳流恰似井中泉。</p>
<h2>乳瘡</h2>
<p>奶瘡腫痛叫聲連，焦炒芝麻細細研，燈盞油調塗上面，除膿消腫即時痊。</p>
<h2>產多</h2>
<p>麝香肉桂及紅花，冰水為丸共一家，牛膝煎湯來送下，斷胎絕產定無差。</p>
<h2>來溺</h2>
<p>小便不禁有何難，尋取天臺烏藥研，飯後服時宜米飲，日須兩次每三錢。</p>
<h2>骨鯁</h2>
<p>骨鯁難醫苦叫天，金櫻根用醋來煎。入喉切莫沾牙上，骨出令人體自便。</p>
<h2>胎前發瘧</h2>
<p>胎前發瘧苦難言，寒熱交攻最可憐，急取夜明三錢整，空心茶服自安然。</p>
<h2>血崩</h2>
<p>婦人崩漏血何多，管仲還同米炒和，每服兩錢酒醋下，應知此證自消磨。</p>
<h2>牙疳</h2>
<p>走馬牙疳齒動搖，棗中包信火中燒，更將黃柏同為末，患處捻些立便消。</p>
<h2>婦人五心熱</h2>
<p>五心發熱欲如何，赤芍藥同水薄荷，等分研細白湯下，自爾清涼轉見多。</p>
<h2>口瘡</h2>
<p>滿口生瘡痛可憐，乾薑急取共黃連，口中細嚼流涎出，從此瘡災永不纏。</p>
<h2>小兒吐瀉</h2>
<p>小兒吐瀉怎能安，滑石硫黃一處研，每服一錢飲調下，方知妙藥屬神仙。</p>
<h2>頭風痛</h2>
<p>頭風頭痛太陽間，芎芷石膏三味全，細末三錢茶送下，當時吃了效無前。</p>
<h2>耳聾</h2>
<p>耳聾終日不聞言，細辛為末蠟熔丸，入耳綿包如鼠糞，始信卻災似解懸。</p>
<h2>自汗</h2>
<p>自汗不止防風末，浮麥煎湯服二錢；不效還將牡蠣散，二方經驗可流傳。</p>
<h2>犬傷</h2>
<p>人遭犬咬痛堪憐，去殼萆麻五十圓，爛搗成膏傷處貼；又方虎骨可同傳。</p>
<h2>手足厥冷</h2>
<p>四肢厥冷腹中難，熱水蘸來拍膝彎，紫黑點兒針刺破，去些惡血就安痊。</p>
<h2>湯火燒</h2>
<p>湯火燒淋痛可憐，楊梅皮末使油摶，又將好酒調來洗，目下應知即便安。</p>
<h2>轉筋吐瀉</h2>
<p>轉筋吐瀉實難當，艾葉木瓜煎冷湯，急取食鹽安口內，方纔咽下即平康。</p>
<h2>痺癖</h2>
<p>大人小兒患痺癖，腸間一塊硬如磚，搗將大蒜硝黃共，敷貼患處軟如綿。</p>
<h2>臁瘡</h2>
<p>黃柏相將輕粉末，再加猪膽調膏藥，傅貼仍將帛緊纏，一旬再易瘡拈卻。</p>
<h2>骨鯁</h2>
<p>骨鯁單方野苧根；又方甘草對砂仁；金鳳花實根並用，三般治法盡通神。</p>
<h2>催生</h2>
<p>黃葵子炒七十粒，爛研酒服濟人急，婦人產難即全生，免得合家共憂戚。</p>
<h2>吹乳</h2>
<p>婦人吹乳最難當，急用男梳百齒霜，取下飯丸桐子大，三丸酒下不成傷。</p>
<h2>痔漏脫肛</h2>
<p>痔漏脫肛人受苦，疼痛之時面如土，急取川椒可二錢，空心水送免悽楚。</p>
<h2>吹乳</h2>
<p>婦人吹乳意如何，皂角燒灰蛤粉和，好酒將來調八字，立時痊疴效誠多。</p>
<h2>疔瘡</h2>
<p>疔瘡神效豨薟草，五月五日午時討，細末酒調半兩餘，服訖汗出果然好。</p>
<h2>蛇犬傷</h2>
<p>細辛蓽撥及雄黃，用酒研來入麝香，不問蛇傷幷犬咬，當時吃了便安康。</p>
<h2>安胎</h2>
<p>紫蘇陳皮橘皮蔥，細末砂仁煎酒同，胎氣不安心下揍，腹中脹痛有神功。</p>
<h2>顛犬傷</h2>
<p>顛犬所傷人最苦，雄黃五錢麝五錢，酒調二錢作二服，不服灌鼻亦安然。</p>
<h2>止痛</h2>
<p>草果玄胡索最先，靈脂沒藥乳香聯，酒調一盞宜溫服，腹痛心疼似手拈。</p>
<h2>痔漏</h2>
<p>凡人痔漏痛成瘡，遺種蠶蛾紙半張，碗內燒灰調好酒，服之去病水澆霜。</p>
<h2>牙疼</h2>
<p>寒菊花兒五七團，雪花同搗飯為丸，搐入鼻中如棗大，去疼真似手來拈。</p>
<h2>接骨</h2>
<p>接骨誰知甚藥佳，急須覓取大蝦蟆，生搗如泥塗患處，杉皮夾定甚堪夸。</p>
<h2>解酒</h2>
<p>酒能醒酒不尋常，草果加煎乾葛湯，解毒頻頻三四盞，醒前醉後並宜嘗。</p>
<h2>忘事</h2>
<p>凡人日夜事多忘，遠志菖蒲煮作湯，每旦空心服一碗，詩書如刻在心腸。</p>
<h2>果毒</h2>
<p>世間果品甚多般，性毒有無冷與寒，誤食中傷何可解，朴硝加麝即時安。</p>
<h2>吃噫</h2>
<p>老幼忽然吃噫連，川椒生麪和為丸，醋湯十粒梧桐大，信是仙方不妄傳。</p>
<h2>傷寒</h2>
<p>傷寒忽覺苦難醫，半兩茱萸不用餘，用水煎來空腹服，管教所患當時除。</p>
<h2>頭空痛</h2>
<p>腦痛懸空在頂高，急宜細碾馬牙硝，好把酥來同搗合，暫安鼻上自逍遙。</p>
<h2>赤眼</h2>
<p>赤眼難開不見天，宣州土產好黃連，便將驢乳淹三宿，點上光明即豁然。</p>
<h2>翳眼</h2>
<p>眼中生翳莫能窺，想是肝經蘊熱虛，快取蘭香七個子，煎湯一服病消除。</p>
<h2>小兒瘧</h2>
<p>幼小孩兒抱瘧疾，烏貓取糞最相宜，桃仁七個同煎服，病前一盞顯良醫。</p>
<h2>咳嗽不止</h2>
<p>咳嗽多時如不止，誰知只用好浮萍，乾時爛搗濃煎服，一夜安眠直到明。</p>
<h2>刀斧傷</h2>
<p>金瘡刀斧偶傷殘，只用黃丹對白礬，最好生肌兼止痛，即時傷處見平安。</p>
<h2>瘧疾</h2>
<p>常山搗末取三錢，四個烏梅去核研，瘧疾未來調酒服，須臾得吐去痰涎。</p>
<h2>惡癬瘡</h2>
<p>世上諸般惡毒瘡，更兼疥癬有良方，好將驢糞燒灰摻，日見皮膚復得常。</p>
<h2>足筋急痛</h2>
<p>兩腳筋疼拘急攣，不分晝夜動移難，快搗生薑膏子劑，薄攤其上復如前。</p>
<h2>小便不下</h2>
<p>小便終朝難得下，萵苣一味搗成泥，將來作餅臍中貼，能使泉流得應時。</p>
<h2>蛔蟲寸白</h2>
<p>虛胃自然成節病，多生寸白與蛔蟲，蜂窩收採燒存性，酒調一匕有神功。</p>
<h2>乾濕癬</h2>
<p>頭面若生乾濕癬，半生半炟與明礬，酒調塗上登時愈，管取皮膚日下痊。</p>
<h2>翻胃</h2>
<p>病來翻胃幾多時，乾柿三枚搗似泥，好酒調開乘熱服，此方效驗少人知。</p>
<h2>血流不止</h2>
<p>血流不止是如何，驢糞燒灰不用多，但取些兒吹鼻內，須知此病即消磨。</p>
<h2>口臭</h2>
<p>如人口氣臭難當，但取明礬共麝香，兩件相交搽齒上，言談呵笑不聞揚。</p>
<h2>鼠咬</h2>
<p>鼠咬肉皮最不良，毒攻疼痛腫難當，急將貓糞填痕內，端的公然不作瘡。</p>
<h2>痔</h2>
<p>肛門痔病苦恓惶，炒過胡荽子最良，細碾酒調三五服，自然動履得如常。</p>
<h2>蜈蚣蛇蠍傷</h2>
<p>蜈蚣蛇蠍毒非常，咬著人時痛莫當，我有靈丹隨手好，自然薑汁和雄黃。</p>
<h2>消渴</h2>
<p>栝蔞根是天花粉，消渴能令目下痊，採得無時煎白水，服之口內似生泉。</p>
<h2>小便血</h2>
<p>小腸尿血不曾疏，採取新鮮劉寄奴，為末茶調空腹服，便中赤色自然無。</p>
<h2>胎衣不下</h2>
<p>竈中土是伏龍肝，藥賤功殊不等閑，為末酒調溫口服，胎衣不下是靈丹。</p>
<h2>倒生</h2>
<p>兒在腹中將倒生，渾家驚恐計無從，尋取伏龍肝末服，酒調一劑便分生。</p>
<h2>產後無乳</h2>
<p>婦人乳汁不行時，萵苣三枚研作泥，好酒調開通口服，任他石女也淋漓。</p>
<h2>產後咽乾</h2>
<p>產後咽喉又苦乾，更兼咳嗽不能安，豬脂胡粉同交和，熟水調開服自痊。</p>
<h2>陰中腫</h2>
<p>婦人忽患陰中腫，蔥白研膏入乳香，貼傅逾時休洗去，原來海上有奇方。</p>
<h2>陰瘡</h2>
<p>婦人陰內忽生瘡，痛癢無時不可當，尋取鯽魚將膽抹，不逾時刻便清涼。</p>
<h2>月信不調</h2>
<p>阿膠灰炒成珠顆，乘熱將來即便研，月信不調宜此末，酒調一服應時痊。</p>
<h2>產難</h2>
<p>鐵錘火煉透中紅，淬酒乘溫飲一鐘，專保婦人臨產難，即時分娩喜相逢。</p>
<h2>產後心痛</h2>
<p>產後婦人心氣痛，叫聲切切手摩拈，酒調雞子空心服，一夜能教肅靜眠。</p>
<h2>產後血不止</h2>
<p>婦人產後血難住，諸藥無如百草霜，為末酒調乘煖服，明朝立馬見平康。</p>
<h2>胎衣不下</h2>
<p>產後胎衣不落身，惶惶驚動一家人，萆麻去殼十四個，白麪同研傅足心。</p>
<h2>小兒驚風</h2>
<p>急驚風與漫驚風，奪命方知有大功，水磨但得青礞石，調下痰涎主便通。</p>
<h2>小兒喘嗽</h2>
<p>咳嗽小兒多氣喘，石膏火內慢飛炟，研為細末蜜湯調，一夜分明減一半。</p>
<h2>小兒夜啼</h2>
<p>小兒夜哭不能眠，收拾燈花四五圓，捻爛燈心湯化下，一宵肅靜到明天。</p>
<h2>小兒撮口</h2>
<p>撮口臍風總一般，十兒難得兩三痊，快覓殭蠶為細末，蜜調塗向口中安。</p>
<h2>小兒瀉痢</h2>
<p>瀉痢脫肛不用焦，槐花為末米湯調，食前一盞頻頻進，效驗如同鼓應枹。</p>
<h2>牙疼</h2>
<p>牙疼鶴虱共甘松，白芷細辛分兩同，為末少將牙上擦，煎湯灌漱自安寧。</p>
<h2>孫真人枕上記</h2>
<p>侵晨一碗粥，夜飯莫教足。撞動景陽鐘，扣齒三十六。大寒與大熱，且莫貪色慾。
醉飽莫行房，五臟皆翻覆。艾火漫燒身，爭如獨自宿。坐臥莫當風，頻於暖處浴。
食飽行百步，常以手摩腹。莫食無鱗魚，諸般禽獸肉。自死獸與禽，食之多命促。
土木為形象，求之有恩福。父精母血生，那忍分南北。惜命惜身人，六白光如玉。</p>
<h2>孫真人養生銘</h2>
<p>左重耀敬觀
怒甚偏傷氣，思多太損神。神疲心易役，氣弱病相侵，勿被悲懽極，當令飯食均。
再三防夜醉，第一戒晨嗔。亥寢鳴雲鼓，寅興漱玉津。妖邪難犯己，精氣自全身。
若要無諸病，常當節五辛，安神宜悅樂，惜氣保和純。壽夭休論命，修行本在人。
若能遵此理，平地可朝真。</p>
