<header><h1>錢氏秘傳產科方書名試驗錄</h1></header>
<dl class="元資料" data-type="book" hidden></dl>
<h2>保養生胎論</h2>
<p>夫人也，受氣於父，成形於母，先生骨肉，乃生氣之本也，是元臟之所屬也。水生肝，肝屬木，木生心，心屬火，火生胃，胃屬土，土生大腸，大腸屬金，金生膀胱，膀胱生三焦，三焦有八脈，八脈有十二經，十二經生一百八十四絲絡，絲絡生三百六十五骨節，骨節生二百八十四條細脈，前後生毛髮肌膚，肌膚生血肉，上有毛髮，下為皮為肉，肉下為筋，筋下為骨，骨肉為髓，榮行脈中，衛行脈外，五臟和平者無病，如克太過不及，皆主有病。然五臟盈虧，所屬之症，自然明已。東方實，西方虛，瀉南方，補北方。蓋東方實者，木太過也，西方虛者；金不足也；瀉南方者，火太過也；補北方者，水不足也。故是五行太過不及，主受病也。若木升而火降，金清而木平，五行得中，脈息和平，何由乎病哉？今余之醫遵叔和之脈，述仲景之書，治百病之源，苟得有效，即曰書名為《試驗錄》也。傳之於後，鑒之用之，蓋可忽哉。</p>
<h2>婦人勞傷偏郁憂思食積論</h2>
<p>婦人病雖不一，而起於勞傷、偏郁、憂思食積者多也。蓋陰本柔弱，不能御煩。若持家之婦、嗜欲之女，勤太過而傷其筋骨，房室不謹，而敝其精神，是以血氣津液漸虧於經絡，日耗於臟腑，失其調治，則陰陽兩虛，骨蒸體熱，以成勞傷之症也。婦人賦性不齊，性偏執一，若孀尼之輩、婢外家之流，情欲動其中，而不能遂其心；形骸制其外，而不能伸其志；是以憂郁之氣，蘊結於三焦，壅滯於胸臆，積而至久，則寒熱交爭，似瘧非瘧，以成偏郁之症也。陰雖靜，不能無動，五性之發，七情見焉。況裙釵性柔欲熾，而無有斷志，臨事觸物，而憂思易形，憂則傷肺，思則損脾，脾肺受傷，則血氣凝滯、憤郁怔忡、脹悶枯閉之症生焉。食之不化，以成其積，積之所聚，皆由於食。食雖養人，亦能害人。惟婦女所處者中饋，所守者閨房。運化遲緩，飲食不節，生冷失宜，致傷脾胃，脾胃致傷，傳送失度，則痞滿、　塊、嘔痢之症生焉。蓋勞傷有內外之分，偏郁非六郁之比，憂思成無形之疾，食積成有形之病也。執治之法，須用審辨病因，察辨脈理，觀色辨音，務求辨實。勞傷則補養之，憂思則解散之，郁則開，食則消。按症投劑，無有不效，此特陳辨大要也。若漏崩，溺淋、胎產、經水病症□□，又本之《大全》、繼之《良方》、恭之《產寶》諸書。變之，通之，庶可為女科之司命矣。</p>
<h2>男女尺脈盛弱</h2>
<p>經曰：天地，萬物之父母也。陰陽，血氣之男女也。男子負陰而抱陽，女子負陽而抱陰。南方，火也，男子南面而生，則兩寸在南，而得元陽，故寸脈洪大，而尺脈微弱；女子北面而生，則兩寸在北，而得元陰，故寸脈微弱，而尺脈洪大也。男得女，為不足；女克男，為太過。《脈訣》云：女人反此，皆看之尺脈，第三同斷病，正此謂也。</p>
<h2>婦人受胎</h2>
<p>蓋婦人受孕，猶曳地之道，陰陽和而萬物生焉。夫婦之道，陰陽和而男女生焉。婦人經水勻調，百病不生，然後孕育成矣。夫受胎以血為主，叔和云：血旺氣衰應有體，血衰氣旺定無娠。尺微關滑數流利並雀啄，皆是胎脈見，孕母不知覺。左手帶縱，兩男子；右手帶橫，一雙女；左手脈逆生，三男；右手脈順還，三女；左手太陽浮，大男；右手太陰沉，細女。諸陽為男，諸陰為女。仲景云：脈有相承，縱橫逆順。何也？曰：水行乘火，金行乘木，曰縱；火行乘水，木行乘金，曰逆；金行乘水，木行乘火，曰順。或曰：脈有殘賊，何也？弦、緊、浮、滑、沉、澀，此六脈者，賊也。然諸賊作病，是為殘也。且孕脈夫乘妻虧縱氣露，妻乘夫虧橫氣助，子乘母虧逆氣恭，母乘子虧順氣護。夫陰陽二氣，若陰血先至，陽精後沖，縱氣來乘，如霧露之降升，血裹精，此為夫乘妻虧縱氣霧，則男形成矣；若陽精先至，陰血後恭，兩傍橫氣來助佐，而升精裹血，此謂妻乘夫虧橫氣助，則女胎成矣。凡胎氣驟聚，必帶縱橫逆順，方成胎也。</p>
<h2>婦人經水不調</h2>
<p>男子以陽精為盛，女子以月水為調。陽精且水，各得其時，合乎陰陽之數矣。女子十四則月水行，男子十六則陽精具。婦人經水過期者，血少也，宜以芎、歸、參、朮。有痰，宜南星、半夏之類。經水不及期而來，血熱也，宜四物、黃連。過期作痛，紫黑色有塊，亦血熱也，宜四物、黃連、香附。過期色淡者，痰多也，宜二陳、川芎。有血虛過期，宜四物加黃　、陳皮、升麻。</p>
<p>有氣血俱熱，未期先至，宜柴胡、黃　、歸、芍、生地、香附。有經不調而血水淡白者，用參、　、芎、歸、香附、白芍，腹痛加膠珠、艾葉、玄胡。過期作痛，虛中有熱；將來作痛，血實也。</p>
<p>宜桃仁、黃連、香附、玄胡、紅花。臨行腹痛，有鬱滯瘀血，宜四物、紅花、桃仁、莪朮、玄胡、香附、木香，發熱加柴胡、黃芩。有痰多占住血海而下多者，目必漸昏。肥人加南星、蒼朮、川芎、香附，作丸服之。軀脂澀經閉者，導痰湯與黃連、川芎，不可服熟地，恐膩膈，故如用加薑汁炒之。臨期腹痛甚者，血實熱也。如有血實熱，行經作痛者，得孕遲也。</p>
<h2>血虛白帶</h2>
<p>丹溪云：白帶是胸中痰積滲入膀胱。無人知此，宜升。</p>
<p>甚者，上必用吐以提元氣，下用蒼朮、白朮、二陳。如赤白相兼者，皆屬血出於大小腸之分。肥人多痰，宜南星、半夏、海石、蒼朮、香椿皮、青黛；瘦人白帶因多熱，宜黃柏、滑石、海石、橙皮、川芎、蛤粉、青黛，作丸服之。赤白帶下，皆因七情內傷，下元虛弱，感非一端。</p>
<p>叔和云：崩中日久為白帶，漏下多時滑水枯，崩中血少無元陽，故白滑之物下流不止，血海枯干，不能滋養筋骨。治法用審寒熱虛勞，不可類治。婦人之心，以血□□有血則心寧，血少則心火旺，火旺則心亂、撞搖、提拮、戰惚、悶亂。惟婦人多有此症，治法用清心降火，四物加天門、麥門、貝母、黃芩。夫天門鎮心之要藥，切不可缺。</p>
<p>治赤白帶：龜板　乾薑　黃柏　白芷如氣虛白帶：人參　白朮　黃　當歸　川芎　蒼朮　黃柏　乾薑（煨）　白芷如肥人：南星　半夏　蒼朮　海石　白朮　黃柏　川芎　椿皮　青黛如瘦人多熱：人參　川歸　芍藥　黃柏　茯苓　黃連　黃　陳皮　甘草　前胡　椿皮　青黛</p>
<h2>崩漏</h2>
<p>婦人崩漏，皆因臟腑或衝任二脈損傷，血氣虛弱。且二脈乃經脈之血海，血氣之行，外循經絡，內榮臟腑，氣血均調，經下依時，臟腑過勞，俱傷衝任之氣，故虛不能約制，其經血忽然而下，謂之崩中。治宜大補氣血，滋養脾胃，鎮墜心火，助火補陰，經自止矣。又紫血成塊，如產血之狀，過多不止，乃謂血熱妄行。此時藥不能及，急則治標，宜白芷湯，或茅根湯送下，或百草霜、棕櫚炭、二蠶綿炭，加乾薑炭最妙，不宜多服，因薑熱故也。夫血熱則行，冷則凝，逢黑則止。然後用四物、芩、連、梔子之藥。其血去來二三日外，恐氣血虛也。宜四物、參、　、芩、朮、香附有效。</p>
<p>五靈脂半生半炒，為末，好酒調服，靈脂能行氣止血故也。</p>
<p>崩中用荊芥涼血，乾薑為血分之藥，烏梅能入血分。醋煮香附，婦人要藥，氣分不可多，血分不可少。然病有陰陽，藥亦陰陽之分。有血枯經閉不通，手足煩熱，頭痛體弱，微熱時來，宜四物湯、桃仁、紅花、牛膝、烏藥、生地、香附主之。劉寄奴、桂心，久服自通。</p>
<p>血崩：棕櫚炭　乾薑（少用）　二蠶綿炭　烏梅荊芥湯送下。如血熱，加黃柏、黃連、黃　、淮生荊芥、白芷、香附、天門冬煎服。</p>
<p>又方：用鮮天門冬煮糯米粥，早晚食之效。</p>
<h2>安胎</h2>
<p>夫婦人胎症，多因喜怒勞傷，觸其胎孕，至於心腹攻痛，或風寒所傷。因發喘咳嗽，治宜順氣為先，藥宜香附、縮砂，烏梅、黃芩、白芷為佐。喘促，祛痰散寒為要，藥宜甘草、桔梗、陳皮、沉香、烏梅為主。</p>
<p>今人但知黃芩為聖，不用黃連、芍藥，慮其清涼有害，止用溫藥安胎。殊不知產前服清涼之藥，能令血循經而不妄行，血和則胎自安矣。且生地、梔、連能除上下中之火。香附、砂仁快膈暢郁理氣；茯苓、白朮健脾生血，百試無差。凡百胎病，多忌動氣之藥。丹溪云：益母草，善治產前產後。</p>
<p>孕婦血塊如盤，難服峻利之藥，香附、桃仁、川歸、海石、白朮。</p>
<p>治孕婦漏胎：黃芩　白朮　天門冬　淮生地　艾葉　荊芥　甘草煎服愈。</p>
<p>安胎：香附　桃仁　白朮　川歸　海石治孕婦下血不止：□□子數枚，好酒熱服。</p>
<p>治妊婦氣血不安：人參　川歸　杜仲　山藥　香附（少許）　砂仁煎服。</p>
<p>治勞傷動胎：人參　川歸　川芎　黃芩　白朮　陳皮　甘草　艾葉　香附　砂仁煎服立驗。</p>
<p>婦人胎氣不和，轉攻心脹作痛，名子懸：川芎　川歸　白芍　陳皮　大腹皮　蘇葉　人參　甘草婦人陰胎半途而墜者，皆因母血衰，腎弱不能養胎。治宜四物湯，因症加減。或有胎氣熱甚不安而墜者，宜梔、芩、白朮、砂仁清熱順氣。又有損傷娠動不安欲墜者，用四物加參、朮溫補。又有孕婦懷妊，或一月而崩，或三、五月墜，須於月前預治，如臨時服藥無效。</p>
<p>治熱甚不安：川芎　川歸　黃芩　芍藥　陳皮　甘草　麥冬　五味　貝母　茯苓　白朮虛者，加人參、黃　。</p>
<p>治腰腹疼痛下血：川歸　川芎　熟地　生地　黃芩　白朮　茯苓　艾葉　麥冬　五味　山藥　杜仲別產危脈：弦緊牢強滑者安，沉細兼微歸黃泉。</p>
<p>看面部位：女人赤黑主有產，□唇齒不合主有妨害。女人面上黃，懷孕得安康。人中發黑紫，孕婦必生女。孕婦左邊青，主男；右邊紅，主女。左邊青色來侵口入耳，須知七月亡；青色右邊來侵口，須知孕者是男，即可立驗。</p>
<p>有婦人嫌子多蕃，欲下胎妊者，須用熱藥活血，麝香開竅。方開於後。</p>
<p>下胎方：虻蟲（三個）　蟬蛻（七個）　紅花（八錢）　蘇木（三錢）　芍藥　川歸　枳殼　斑蝥青皮　桃仁　甘草　三棱　蓬朮　鬼箭大王好酒煎服。有方用水銀下胎，然性寒後恐成腹痛等症，不可輕用。</p>
<p>單方：用溪螺螄，每一月一個，搗碎盒中下。</p>
<p>又方：萬年青根，搗汁，沖酒服下。</p>
<p>又：黃荊樹根略搗，綿裹，入陰戶內，下。</p>
<p>又方，桃惱、鼓槌草、麝香三味，為末，綿裹，入陰戶內，一夜下。</p>
<p>催生方：用百單霜，白芷，不見火，為末，臨產時以童便並米醋湯入藥二錢，熱服不效，再服一二次，兼崩漏。</p>
<p>單方：有觸墜難產，因驚傷血脈，腹痛不露，子道干澀。法宜用夫衣復井上即生。</p>
<p>驗胎死活：如胎死，驗母舌即知。舌青色者，必系死胎，如不捉下，必傷母命。須服芎歸東加附子暖胎。如口吐沫不治。</p>
<p>治死胎不下：用官桂二錢、麝香五分研末，酒送即下。然麝香大能開竅，婦人服之，日後難以受孕，此不得已而用，勿視泛泛也。</p>
<p>停胞不下：凡胎衣不下，因用力過多，疲倦血衰，不能捉下，必須先斷臍帶，用草鞋滯之；中寒可扶婦至床，倚人而坐，被蓋火HT　，被中腹時換熱衣暖之，不可冒風。下後防虛，服藥不可用參。</p>
<p>產後大熱：丹溪云：乾薑能除產熱。何也？夫產後之熱，乃因虛生內耳。薑之性，理肺氣，和中，引陰分之藥，故補陰藥內用之無窮妙，難言述。然不可過用，用不至三，其薑雖煨，余熱尚存，多服傷肺。肺熱熱毒必變火症，主婦人延久難愈。</p>
<p>產後血暈，目昏暗悶，不省人事，皆因敗血流入肝經，兼熱氣乘虛，湊逆衝心。醫宜祛熱清理為主。</p>
<p>婦人無子，多有軀肥體胖，脂膏滿溢，致子宮閉塞，不能受孕。宜二陳、南星、蒼朮、滑石、羌活、防風祛其寒痰。又有性急之人，動傷衝任二脈，致經亂氣積，不能孕育。宜四物、香附、黃芩、柴胡涼血降火，補其陰分。</p>
<p>婦人下焦冷憊，血崩帶下，經差孕絕，宜硫黃、禹糧、赤石脂、附子、螵蛸溫暖下元。</p>
<p>婦人欲斷妊孕，用白面一升，好酒五升，煎至二升，去渣，分三四服。經前晚、次日早及五更時各一服，不妊。</p>
<p>室女月水凝滯，腹脅脹滿，血氣攻上，眩暈不省，必用丹皮散之。</p>
<p>又方：劉寄奴、牡丹皮、熟地、玄胡索、烏藥、赤芍、蓬朮、三棱、當歸、官桂。</p>
<p>又方：加菊花、蒲黃。</p>
<p>室女經下不止，用十灰散治之。黃絹灰、艾葉灰、豆發灰、舊綿灰、棕櫚灰、馬尾灰、藕節灰、蓮蓬灰、蒲黃灰、赤松皮灰，烏梅湯下。</p>
<p>又方：槐花（一兩）　棕櫚灰　鹽湯下，名聖惠方。</p>
<p>婦人赤白帶下不止，香附、白芷、赤芍、海螵蛸、胎發治之。</p>
<p>室女經水不時，雄鼠屎一兩，火　，溫酒調服一錢，立效。</p>
<p>又方：蓮房殼燒灰，荊芥穗研末，每服三錢，米湯下。</p>
<p>婦人產後，氣血俱虛，雖有雜症，不可表發，又不可用芍藥，恐其酸寒伐生氣故也。</p>
<p>婦人產後血暈，多因虛火載血上行，敗血入肝經，故暈絕不省。急用韭葉，細切，盛於有嘴瓶內，用滾醋灌內，封瓶大口，將瓶嘴放產婦鼻中，立醒。</p>
<p>又方：用白炭火，先入瓶內，或乾漆，或漆器投入火內，用好醋，亦入瓶內，前方用之，醒後用藥。</p>
<p>婦人產後，血下不止，亦作崩論。如汗多，服參、　、芎、歸以補其氣。</p>
<p>婦人惡露未盡，小腹作痛，服香附、靈脂、於薑、玄胡之類；如有食，加青皮、神麯、麥芽。</p>
<p>婦人產脈宜沉細，忌浮大弦長。</p>
<p>婦人產後，三焦濕熱，泄瀉腹痛，宜炒紅曲五錢，以飯為丸，加五靈脂一兩，後用補脾胃血藥送之。</p>
<p>婦產一、二日，發熱頭痛，用芎、歸、乾薑、茯苓、陳皮、貝母。</p>
<p>婦產一、二日，腹痛，芎、歸、乾薑、靈脂、香附、茯苓、玄胡、桃仁、紅花。</p>
<p>婦人產後，勞傷發熱，人參、黃　、當歸、川芎、芍藥、白芷、前胡、陳皮。</p>
<p>婦人淋痛難忍，用□□□即雞草搗汁，酒服。</p>
<p>又方：滑石、甘草、通草、燈芯、細辛、麥冬、歸、參煎服。</p>
<p>婦人懷娠二三月、五六月，多有狐疑自不分明者，皆因七情傷胃，胃生濕痰，痰滲膀胱，占住血海，氣不流行，胎不能運動故也。又有行經瘀血流入膀胱，往來煩熱，飲食不進，本婦不明者亦有之。又有榮衛不調，血枯經閉，乃生痰火飽症。其腹隱隱而痛微微，若動形似懷胎，然不知火蘊丹田，陽傳於陰，下焦虛憊，不能生血。所以動痛者，火也。又有懷娠三四月後得勞傷等症，損其氣血，不能護養長胎，胎不能運動有之。唯良醫切脈詳審，探胎有無，然後用藥。用川芎二兩、當歸二兩，酒煎服，覺微動，再服一二劑。</p>
<p>婦人便閉，多因郁生痰熱，熱蘊臟腑故也。夫心臟、小腸、膀胱相通，苟陰陽不調，心腎不濟，傳送失度，致水道熱盛閉塞。治宜清心氣，藥用車前、木通、芍藥、滑石、茯苓、麥冬。又方：八正散最妙。</p>
<p>今有一症，名曰轉胞。婦人睡覺不能方便，乃因行房，喜中傷勞，轉翻尿胞不得出，至小腹滿，氣奔兩脅。其症藥不能效，急用收生婆捉其胎正，然後如舊。考丹溪《纂要》有方，用白頭蚯蚓，搗糊，酒服。又方：升麻、滑石、木通、麥冬、黃　、芍藥，煎服。又方：用在水中截斷瀝竹管中，水煎服之即通，然總不如收生婆捉正為妙。</p>
<p>婦人病後，血枯經閉，用大王瞿麥、茴香、麥芽為末，好酒空心服，七日效。</p>
<p>婦人赤白帶淋，赤者屬血，白者屬氣，二者俱下，皆因濕熱滲膀胱。方用艾葉、好酒煮雞子，去艾，食雞子。又方：井口背陰草，搗服。官藥病原見前。</p>
<p>婦人小肚如膨脹之狀，用鏽丁磨米湯，空心下。</p>
<p>古方：臍中堆鹽（炒）少許，上炙百壯，自消。</p>
<p>婦人淋瀝，皆因郁蘊臟腑，濕熱滲流膀胱，故變白，瘀痛難當。脈云：小腸為受盛之官，膀胱、腎合為津。古方：淋閉為癃，不納為遺，滴瀝澀痛為淋，小腹脹滿不痛為閉。故主膀胱為腑，泄與小腸相通。若心腎既濟，上下相交，水道開合，必無此症。淋有多端，熱淋、血淋、氣淋、虛淋，淋不類治。色鮮者，心與小腸熱也；色瘀者，腎與膀胱虛敗也。殊有滴點不可忍，非虛熱故也，熱用清涼。寒虛溫補氣，用木香、門冬、木通、茯苓、胡索之類。</p>
<p>婦人小便不禁，腎為水，主胞，乃溺門，熱則不通，冷則多溺。如妊婦多溺，腎經虛寒故也；或當產時努力傷胞，寒邪入裡故也。治用破故紙、杜仲、附子、乾薑、沉香溫暖之劑。又方：白薔薇、白芍藥，溫酒送下。</p>
<p><u>婦人血敗驗方</u></p>
<p>　舊毛褐布、舊棕櫚衣、白雞冠花三味，等分，銅杓內炒燥，燒灰存性，好酒送下，數服愈。</p>
<p>婦人胎生不下，用柘樹枝，銼末，煎酒服，即下。</p>
<p>婦人血崩不止，槐花一兩、棕衣灰五錢，二味為末，水二鐘，鹽少許，煎七分服。又方：蟹殼、陳棕、舊褐、蓮房各燒灰存性，不如此，兼加槐花（炒黑）、香附，共末，更妙。用白芷荊穗湯下。</p>
<p><u>調經方</u></p>
<p>　四物東加艾葉、阿膠（炒）、黃芩、薑三片，等分，水煎，空心服。如因勞而氣弱者，加人參、黃　、升麻；寒加炒黑乾薑；熱倍加黃芩；如紫色成塊，重加黃連。崩過甚者，光用五靈脂半生半炒，為末，一服後，分寒熱用藥。</p>
<p>又方：四物東加荊芥穗，止血甚妙。又：香附（炒黑）為末，每服三錢，飯湯送下。又：香附（炒黑）二錢，歸身一錢，地榆、川芎、黃　、白朮各一錢，白朮（炒）二錢，熟地二錢，參、蒲黃各五分，升麻三錢，水二鐘，煎八分，甚者加棕灰服。又：用白芷煎湯，調百草霜細末，甚者加棕灰。</p>
<p><u>黃　補胃湯</u></p>
<p>　治一日大便三四次，溏泄，腹鳴，小便黃。</p>
<p>黃　柴胡　歸身　益智　橘皮（各三錢）　升麻　炙甘草（三錢）　紅花（少許）</p>
<p>食前服。</p>
<p><u>朱砂安神丸</u></p>
<p>　黃連（酒炒，一錢五分）　朱砂（水飛，一錢）　生地黃　歸身（酒洗）</p>
<p>甘草（炙，各五分）</p>
<p>為末，浸，蒸餅為黍米大，每服十五丸，後服。</p>
<p><u>潤腸丸</u></p>
<p>　治大便燥結不通。</p>
<p>生地黃（一錢）　生甘草　大黃（煨）　歸梢　升麻　桃仁　麻仁（各二錢）　紅花（三錢）</p>
<p>食後溫服。</p>
<p>又方：治脾胃中伏火，大便秘結干燥，閉塞不通，不思飲食，風結血秘。</p>
<p>桃仁（去皮尖）　麻仁（一兩）　歸尾　大黃（煨）　羌活（五錢）</p>
<p>上除桃仁、麻仁另研如泥，搗為細末，蜜煉梧子大，每服三五十丸，空心白湯下。</p>
<p><u>蒼朮湯</u></p>
<p>　治濕熱腰腿疼痛。</p>
<p>防風　黃柏　柴胡　蒼朮水煎，空心服。</p>
<p><u>御寒湯</u></p>
<p>　治寒氣。風邪傷於皮毛，鼻塞咳嗽上喘之症。</p>
<p>黃連　黃柏　羌活（各三錢）　甘草　佛耳草　款冬花　白芷　防風（各三錢）　升麻　人參陳皮（各五分）　蒼朮（七分）　黃　（一錢）</p>
<p>煎，食後服。</p>
<p><u>絕胎方</u></p>
<p>　取銀鋪上灰塵三錢，綠豆三錢，雞子十個，以塵、豆二物同水。用砂罐火內煎熟雞子後，經一、二日，食雞子半個，或下午，或次日又食半個，永絕。若全吃，恐行經要腹痛（驗過）。</p>
<p>治婦奶岩久不愈：用□□皮、油核桃（燒存性），入枯礬、輕粉少許，香油調敷。又：用荷葉燒灰存性，無灰，酒下。</p>
<p>治血崩：用香附炒黑研末三錢，酒調下，三服立止。</p>
<p>治產後敗血上衝，發為血暈，頃刻將死。用陳皮煎湯，加醋服之。</p>
