<header><h1>脈學闡微</h1></header>
<dl class="元資料" data-type="book">
<div><dt>作者</dt><dd>邢錫波</dd></div>
<div><dt>朝代</dt><dd>中華人民共和國</dd></div>
<div><dt>古版</dt><dd><data value="false">非古版</data></dd></div>
<div><dt>直書</dt><dd><data value="false">非直書</data></dd></div>
</dl>
<h2>前言</h2>
<p>邢錫波老醫師研究祖國醫學脈診歷數十年，對於脈學理論曾做過系統、深入的探討，並在長時間的臨床實踐中，潛心體會，驗證各種脈象與疾病變化的關係，認真探索其中的規律，積累了豐富的診脈經驗。《脈學闡微》一書系邢錫波醫師根據中醫脈學理論的基本精神，結合自己幾十年的臨床經驗，在晚年編著的。書中重點闡發了脈診的作用，正確的診脈方法，各種脈象變化的臨床意義。對二十八部脈的體狀、主病、鑒別等都作了系統、清晰的歸納，並有選擇地摘引了一些古人對脈診的論述。不但闡明了脈診在中醫辯證中的重要性，而且對現代醫學的某些疾病，在其發生、發展變化中的脈象演變規律，作了明確的闡述，對於從事中西醫結合臨床工作的同志，有一定的參考價值。邢錫波醫師對於中醫診斷學中的“四診合參”一向身體力行。本書對於各種脈象，從脈位、脈力、脈率、脈形各個角度進行了分析和對比，並附以圖像，詳加說明，使讀者能清楚地領會各脈的特徵。我們在整理過程中，主要從字句、標點、編排等方面作了一些修改，內容稍有補充和調整，如有不妥，望讀者批評指正。</p>
<p>河北新醫大學</p>
<h2>一、脈診的意義</h2>
<p>祖國醫學的脈診，已有幾千年的歷史。歷代醫家在長期的臨床實踐中，很早就發現了“心主脈”這個科學道理，認識到氣血旺盛是人體防禦疾病和消除疾病的重要條件，任何致病因素侵襲人體，總是損傷氣血的功能，促使機體的氣血津液發生變化。而脈象是反映氣血變化的重要標誌，所以脈象的變化，與人體抗病機能的強弱和病勢盛衰有著密切關係。病勢重則需要的抗病機能強，故現洪大滑數之脈。病在外，則人體氣血抗病機能即趨向於外，故現浮脈。病在內，則人體抗病之機能趨向於內，故現沉脈。這種脈象的變化，是隨著機體防禦機能的改變而出現的。古人在臨床上體會到，機體防禦疾病機能與氣血的循行有密切關係，故利用脈搏的變化以指導診斷。脈搏的浮沉遲數，是機體與疾病矛盾鬥爭的體現。臨床診察要根據脈象來診察疾病的性質，部位、與演變，並通過望，聞、問、切全面結合，才能得到疾病的真實情況，作出正確的診斷，制訂出符合病情行之有效的治療方法。中醫辨證，雖為四診合參，而對於分陰陽、定虛實、明部位、訂治則，則均需取決於脈象，故脈診是辨證的依據，立法的準則，是四診的重要組成部分之一。中醫辨證，如不精通脈理和疾病脈象的演變規律，就不能精煉地運用辨證技巧，早期測知疾病的演變情況，及時用藥控制疾病的發展。通過長期的臨床體驗，證實任何疾病的轉變過程，多先有脈象變化，然後始有症狀發生。利用脈象的變化，可早期測知疾病演變，變被動為主動，能攻能防，機動靈活，收到事半功倍之效。學習脈診，除精通理論外，還要經過長期實地練習，做到既有理論，又有技巧，以熟練的應用於臨床辨證。</p>
<h2>二、切脈的方法及注意事項</h2>
<p>1．選時間：診脈以平旦為最好，《素問‧脈要精微論》雲，“診法常以平旦，陰氣未動，陽氣未散，飲食未進，經脈未盛，絡脈調勻，氣血未亂，故乃可診有過之脈。”早晨機體內外環境均較安靜，脈象能如實反映病情，醫者可獲無內外因素干擾的資料。古人很早就注意到，由於體力活動、精神、飲食之干擾，都能使脈象出現一時性變化，如疾行、劇動後脈弦數有力，憤怒後脈多弦大，飲酒之後洪大弦滑，食後右脈浮滑等。以上所述系診脈理想時間，但非指其他時間不能診脈。明‧汪機曾說：“若迂有病則隨時皆可以診，不可以‘平旦’為拘也。”</p>
<p>2．病人的體位：診脈時，病人最好端坐，將前臂自然向前展平，在腕下放以鬆軟的脈枕或布袋。如不能坐可以仰臥，將手向前伸平，但忌側臥，因為側臥下面的臂部受壓，或上臂扭轉，都可以影響氣血流通，可能影響脈搏變化，故古人診脈強調平臂。《醫存》雲：“病者側臥，則在下之臂受壓，而脈不能行，若複其手，則腕扭而脈行不利，若低其手，則血下注而脈滯，若舉其手，則氣上竄而脈馳，若身複則氣壓而脈困，若身動則氣擾而脈忙。’以上種種，皆因血行有礙，影響脈象之正常形象，故病者診脈宜正坐或正臥，直腕仰掌，乃可診脈。</p>
<p>3．布指和單按總按：診脈下指，首以中指端按掌後高骨內側(橈骨頭定為關部)關部，然後把食指放在中指之前，從關前至魚際的適中距離的寸脈之上，然後放無名指於中指之後的尺脈部位上。病人臂長者布指略疏，臂短者布指略密，總以適中為度。部位取准後，三指用同樣力量，按診三部脈象，謂之總按，用以探尋寸關尺三部，和左右手脈的全部情況，為浮為沉，寸關尺三部俱沉，抑寸關尺的某一部沉；三部俱浮，抑某一都浮。是尺盛於寸，或寸盛於尺，是左大於右，還是右脈大於左脈，都要通過總按，以比較左右和尺寸各部脈象的變化。疾病影響整個機體時，則六脈發生相應變化，如外邪侵襲體表身發冷熱，則六脈皆浮，而右脈浮大或浮滑，必較左脈為甚；如寸大於尺多為陰虛陽亢，高血壓病、心臟病多見之。加壓時，三指用力要均勻適度，認真探索脈象變化，如脈搏至數的快慢，節律是否正常等。然後再根據某部脈象的反常，採取單按法，即用中指和食指，或中指與無名指在反常脈的部位，反復尋按，認真探索脈象性狀。加右關脈獨沉，知胃有宿疾；若右關脈沉滑，為食熱塞滯；如右關脈現沉弦，為肝氣犯胃；若右關脈獨沉澀為脾胃虛寒。若右脈偏沉，惟右寸浮大為風熱犯肺。若右尺浮滑，為濕熱下注，或風火下犯膀肮，可有尿急尿頻淋血等症。這些情況，通過單按，就可以清楚地看出其腹部獨特的變化，以作為診斷時的重要根據。</p>
<p>4．脈象的齊變和獨異不同，初診與久按有別：人體受外邪侵襲，或情欲損傷，影響整體時，則兩手之脈均將發生變化。如外感風寒，或溫熱，則左右脈皆浮緊，或浮大、滑數，其脈皆右脈大於左脈。如急性胃炎，身發冷熱，惡嘔不思食，是局部病變而影響整體時，其脈象多六脈弦數，或弦滑，右關較甚。急慢性肝炎，脈弦大或弦數，六脈俱弦，以左關為甚。脈象齊變，是六脈都發生變化。獨異，是六脈中某一部脈異常，如慢性病未影響整體，常某一脈獨異。如慢性胃病，右關脈多沉弦，或沉滑，或沉澀，慢性胃病發作時，未影響到整體者不發熱，僅脘脹痛、灼心嘔吐、消化不良等症，右關浮大弦滑較甚。如脾虛胃弱，右關細弱，濕熱壅滯下焦(泌尿系感染)，尺脈多沉滑，或弦數，較寸關部為明顯。肺熱咳喘，右寸多滑數，或沉滑，均說明脈象與臟腑之關係。</p>
<p>初按與久按不同，脈有初按大，按久索然，有初按濡軟，按久搏指，亦有下指微弦，按久微緩者。張登《診宗三昧》載有初診久按不同說謂：“診客邪暴病，應指浮象可證。若切虛贏久病，當以根氣為本，如下指浮大，久按索然者，正氣大虛之象。”在初按時，其氣血外趨抗病力猛，故脈現浮大，由於正氣不足，後繼無力，故久按索然，這種脈象，不論新病久病，雖現灼熱煩擾，皆正氣不足，虛陽外露之象。如初下指脈象濡軟，久按搏指，為裏病表和之象，是裏病初顯尚未盡透。如下指微弦，按久緩和，多為久病向愈之象，大抵病人之脈，初下指雖見乏力，或弦細不和，按之十餘至，而慚覺雍容和緩，為病勢緩解，氣血調和之象。如按久微澀，不能應指，或漸覺弦硬者，多為正氣虛損太甚，外邪未解之象，預後較差。</p>
<p>5．診脈要專念慮、平氣息：一呼一吸謂之一息，平息即以正常一呼一吸的時間，數病人脈搏的至數。古人以自己的呼吸測病人脈搏至數，故脈的遲數，均以一息幾次計算，現在有碼錶，對於診脈有一定的幫助。為練習診脈的基本功，仍以爭取不用表為宜。平息另一意義具有平調之意。古人謂診脈應慎容止，專念慮，調鼻息，要達到思想集中，心平氣和，全神貫注以診脈象。</p>
<p>6．運指應注意舉、按、尋：為診脈時運用指力的輕重和挪移以探索脈象的手法。持脈主要有三：即舉、按、尋。輕手循之曰舉，重手取之曰，不輕不重委曲求之日尋。初持脈時輕手以候之，脈見於皮膚之間者，用以察陽氣之盛衰，重手得之脈於肌肉之下曰按，按法用以測陰氣之盈虛。不輕不重而取之，其應於血肉之間者曰尋，以候脾胃之強弱。換言之，舉是輕輕地按在皮膚之上，按是向下按至筋骨，尋是推尋，是體察脈搏的性狀。正常脈象平滑柔軟，有彈性而不強硬。設脈象搏動時，有堅硬如鉛筆樣感覺，或如繩索及蛇行樣感覺，則多為動脈硬化象徵。體察這種脈象，非用尋法不能發覺。</p>
<p>持脈時，應注意脈搏的頻率與節律。正常人一息四至，即一分鐘約60-80次，婦女與兒童較快，身體素弱者亦可稍快。節律，包括脈搏的間隔，脈力的強弱,波幅的高低，一般間隔勻調，脈力一致，波幅上下整齊。青少年與老年人在正常情況下，有時可發生呼吸性不整脈,就是在吸氣時較快，呼氣時較慢，診斷時一般容易忽略，而用機械描記較易發現。另有撓動脈位置異常者，多在列缺上繞向手背(即反關脈，切之脈浮，無診斷意義)。</p>
<p>7．候脈必滿五十:《靈樞；根結篇》說：“持其脈口，數其至也，五十動而不一代者，五臟皆受氣”。漢張仲景也十分重視五十動的說法，曾在《傷寒論》序言中批判那些倉卒持脈，隨便作出診斷的醫生：“動數發息，不滿五十，短期未知決診，九候曾無仿佛，……夫欲視死別生，實為難矣。”考其意義，一方面用以瞭解五十動中有無促，結、代脈，並可瞭解五臟的全部情況；另一方面說明診脈不能草率從事，必須以辨清脈象為目的(如果第一個五十動仍看不清楚，可延至第二第三個五十動。一般時間，是五到十分鐘，必要時可以多一些)。</p>
<p>8．指法的運用：人之三指參差不齊，持脈時必使指頭齊平，節節相對，方可按脈。又三指端之皮肉，食指感覺最靈敏，中指最厚，無名指更厚，故診脈時必須用指端棱起如線者，名曰指目，以按脈之脊，方能脈象顯然。若指甲不加勤剪，指不能直立，以指端厚肉按脈，易生錯覺。診脈以三指平按，或三指垂直下按，均不適當。最好以35度斜按，不但指目感覺較靈敏，也便於推尋。</p>
<h2>三、三部九候的診法與配合臟腑</h2>
<p>目前，一般臨床常用的是獨取寸口的診脈法，寸口脈即橈骨動脈，分為寸、關、尺三個部位，以撓骨小頭處為關部，關前為寸，關後為尺，兩手寸關尺共六部分管臟腑。每部又有浮，中，沉三候，三部脈共九候，合稱三部九候。另有一種三部九候診法，是一種全身性的診脈方法，亦稱“遍診法’。在《素問、三部九候論》篇中有詳細記載。上部(頭部)上部天：兩額之動脈，以候頭角之氣。上部地：兩頰之動脈，以候口齒之氣。上部人：耳前之動脈，以候耳目之氣。中部(手部)中部天：手太陰(寸口部)以候肺。中部地：手陽明(合穀穴)以候胸中氣，中部人：手少陰(神門穴)以候心。下部(足部)下部天：足厥陰(五裏或太沖穴)以候肝。下部地：足少陰(太溪穴)以候腎。下部人；足太陰(箕門穴或沖陽穴)以候脾胃。附：寸、關、尺部點陣圖診脈運指圖歷代醫家關於寸關尺的分配臟腑見解不同，據《素問?脈要精微論》：1．左寸，外以候心，內以候膻中。右寸，外以候肺，內以候胸中。2．左關，外以候肝，內以候膈。右關，外以候胃，內以候脾。3．左尺，外以候腎，內以候腹中。右尺，外以候腎，內以候腹中。後世大致以《內經》為根據，略有變更。《難經》以小腸、大腸分別配心，肺。以右腎為命門。《脈經》以三焦配右尺，張景嶽則以膀胱大腸配左尺。以三焦、命門、小腸配右尺。《醫宗金鑒》則以右寸候胸中、肺，左寸候包絡、心；右關候胃、脾，左關候膽、肝；兩尺候兩腎，左尺配小腸、膀胱，右尺配大腸；又以三部分候三焦。以上僅舉有代表性者數種，余從略(表一)。</p>
<p>學說左寸右寸左關右關左尺右尺</p>
<p>素問心膻中肺胸中肝膈脾胃腎腹腎腹</p>
<p>難經心小腸肺大腸肝膽脾胃腎膀胱腎三焦大小腸脈經心小腸肺大腸肝膽脾胃腎膀胱腎三焦</p>
<p>景嶽心心包肺膻中肝膽脾胃腎膀胱大腸腎命門三焦小腸金鑒心膻中肺胸中肝膽脾胃腎膀胱小腸腎大腸以上各家學說，其分配五臟六腑，均以《內經》為根據。其分歧在於大小腸和三焦，三部系寸，關，尺，九候指浮、中、沉，各家意見一致，三部中，每部均有浮、中、沉，故稱為九侯。上部(寸部)主胸以上至頭部疾病，中部主膈以下至臍部疾病，下部主臍以下至足。臨床凡肺熱、風火咳嗽、喘促，則右寸弦滑或浮大滑數；肺癰發熱時，右脈滑數，右寸尤為突出；陰虛陽亢的高血壓頭痛，則寸脈盛於尺脈；心肌炎、心瓣膜炎身發冷熱時則脈象滑數或弦數，以左脈為甚，迨身熱退，脈不滑數，而左寸脈每現沉滑，甚者可見不整脈，均說明寸以候上，左心右肺的明征。脾胃病右關脈即起變化，急性胃炎，則右脈弦數、弦滑，右關為甚，胃痛右關每現弦緊，而慢性胃炎右關多呈沉滑或沉弦數；虛寒痙攣性胃痛，右關多現弦虛。胰腺炎身熱腹痛時，脈多弦滑數或弦大而緊，以右脈為甚，脾胃虛弱，腹脹脘滿消化不良時，右脈弦細無力，這是右關以候脾胃的明征。膀胱濕熱，淋濁便血，尺脈即現沉滑或弦大；下肢腫痛，或關節腫脹、腳氣腫疼等症，則尺脈多現沉滑或弦數浮大，說明尺以候下。肝炎初期左關弦大、弦滑、弦數。慢性肝炎患者其脈象多現弦象，弦甚者病重，弦輕者病緩，其病勢的發展與緩解，應以弦脈的輕重為判斷，總以左關為明顯。因此知古人分歧均未出寸以候上，關以候中，尺以候下為原則的內經基本理論範圍，所謂膻中、心包、胸中，原已包括於寸脈之中，寸脈滑數弦大，咳嗽喘逆知熱邪犯肺。若胸痹滿而痛，可考慮胸病。心悸氣短，神昏譫妄，即要聯繫膻中，胸滿心悸氣短不足以息或有壓迫感，脈率不整，多為心病。尺脈弦數或弦滑，而有尿急尿頻、尿血、淋痛，知為膀胱，小腸病。若大便燥結，或腹痛便瀉，裏急後重，便下膿血，知為大腸病。小便赤澀不暢，身現水腫，病在三焦。也說明中醫的診斷應脈證合參，絕不可單純拘泥脈象。知此則古人爭執，可以迎刃而解。另有人迎、寸口、跗陽三部脈的診法。人迎脈即項側動脈，人迎為針灸穴位名。診脈時，一般病用寸口以候髒氣之盛衰，即可作出診斷。必要時，須人迎、寸口相互參證，如高血壓病，則人迎脈常大於寸口脈一倍。病勢垂危者，寸口脈已散亂，或微細欲絕，則取跗陽脈較為可靠。跗陽脈即足背動脈。診脈時有的要三部互參，綜合分析，方能得出正確的結論。(表二)</p>
<p>寸關尺</p>
<p>左心(心包)肝(膽)腎(膀胱小腸)</p>
<p>右肺(胸中)脾(胃)腎(命門大腸)</p>
<h2>四、正常脈象</h2>
<p>診脈首先要識別正常脈象，然後才能辨別異常脈象。脈是整個機體重要的組成部分，機體對氣候的影響，情緒的衝動，雖非患病，也可使脈象發生一時性變化，這種脈象的變化，不能稱之為病脈。正常人脈象，不浮不沉，不急不徐，一呼一吸四至(64-80／分)從容和緩，節律一致，謂之“有胃氣”。凡病脈不論浮沉遲數，但有雍容和緩之氣，便是“有胃氣”,乃機體陰陽基本平衡的表現，故持脈時應經常注意胃氣。不論任何脈象都不能太過，如過浮、過沉、過數、過遲而無雍容和緩之意，即為無胃氣。過浮為外邪過猛，抗病力過激，致正氣受損較重，無力維持其自身陰陽的最低平衡，故病情較重。過數為熱邪太盛、陰氣損傷、潛斂之力不能制約其數，皆由陽亢極而陰不能維繫之重症。古人謂有胃氣則安，無胃氣則危。無胃氣的脈亦稱之為真髒脈，因其堅硬而失柔和，皆由陰陽偏盛，將形成離決之勢，故病屬難治。因此醫生切脈，注意有無胃氣，是診脈斷病的關鍵。診脈除注意胃氣之外、還應注意有根有神。脈有神，(即脈的浮沉遲數，滑澀大小之脈，按之指下有條有理，秩然不亂，雍容和緩。倘按之散亂，或有或無，或來有力而去無力者，或輕取有，而重按絕無，或時而續、時而斷者，或欲續而不能，或欲接而不得，或沉細之中倏現依稀之狀，或洪大之內忽有飄渺之形，皆為無神，皆由正氣衰敗不支，即邪正鬥爭正氣受損，不能維持機體正常生理狀態所致。有根即人體正氣有根基，古人認為人身十二經，全靠腎間動氣以為生養，腎氣之生存猶如樹之有根，枝葉雖枯，根本不壞，尚有生機。腎氣未絕，則脈必有根，沉以候腎，如脈沉取應指和緩有力，謂之有根，尺脈應指雍容有力，亦為有根。</p>
<h2>五、脈與內外因素的關係</h2>
<p>人生長於自然界，四時氣候變化，人體必然也有相應的變化。正常人的四時平脈有所不同，春三月六脈俱弦，夏三月六脈俱洪，秋脈微浮，冬脈俱沉。婦女脈常較男人濡弱。少壯脈多實大，老年脈多虛弱，嬰兒脈急數，五、六歲兒童脈，常一息六至，身高體大者脈顯現的部位較長，矮小者部位較短，瘦弱者脈常微浮，胖盛者脈象多沉。凡常見六脈沉細而身無他病者，謂六陰脈。六脈常見洪大而身無他病，謂之六陽脈。脈不見於寸口，而見於大指腕側部者，謂反關脈，脈從尺部斜向虎口腕側者，謂斜飛脈，均屬橈動脈畸形。劇烈勞動後脈多洪數，遠行後脈多急疾。腦力勞動者脈多弱於體力勞動者。酒後脈多數急，飯後脈多洪滑有力，久饑脈多虛弱。精神沖動脈亦變化，但非病脈，精神恢復平靜，脈象即可複正常。《脈經》中：“人病恐怖，其脈何類?師曰：‘脈形如循絲，累累然，其面白脫色’。‘人愧者其脈何等類?’師曰，‘其脈自浮而弱，面形乍白乍赤’。”恐懼、興奮，憂慮、急躁諸情緒變化時，脈象也會發生變化。</p>
<h2>六、脈象分類和辨脈綱領</h2>
<p>脈診是中醫辨證論治的主要依據。歷代醫家分類方法不一，常使人無法適從。清張石頑對脈象分類最多最細，共分32脈；李瀕湖分為27脈；陳修園分為28脈；現一般仍沿用28脈。據臨床體會，脈象分類不宜過多，以免彼此易於混淆。根據臨床需要，對一般常用的28脈，如能鑒別清楚，精心體會，使用熟練，對於指導臨床辨證，運用八綱八法診斷疾病，立法用藥，即能得心應手。由於脈象繁多，不易掌握，前人便考慮執簡馭繁的辦法。漢張仲景把脈象分為陰陽兩大類，以大、浮，數、動、滑為陽脈，沉、澀、弱、弦、微為陰脈。元滑伯仁主張，以浮、沉、遲、數、滑、澀，六脈統轄各脈，以浮沉候部位，以遲數候至數，以滑澀候形狀。陳修園則主張以浮、沉、遲、數、虛、實、大、緩八脈統各脈。芤浮脈包括芤脈、革脈、散脈。沉脈包括牢脈、伏脈。遲脈包括結、代。數脈包括促、緊、動。虛脈包括弱、濡、細、微、短、澀。實脈包括滑、長、洪、弦。大脈包括緩脈。以上28脈，可通過脈位、脈率、脈力、脈形來辨認。例如浮沉，是脈位的不同；遲數是脈率的不同；大小微細，是脈形的不同；虛實芤弱，是脈力的不同。這些脈象均是在病邪與正氣鬥爭過程中形成的。病有表裏寒熱虛實，體有盛衰強弱，脈象就有浮沉遲數大細長短的不同，故取八脈，作為28脈的綱領，是初學診脈的一種執簡馭繁的方法。先掌握這八種脈象，再進一步詳細體認28脈，由淺入深，循序漸進。脈學不難體會，今根據前人的分類方法，加以具體化，以浮沉遲數長短細大為綱，而以兼見之脈附於其中。為使易於分析記憶，編成脈象八綱四言體狀歌，附錄於後，為初學入門之用：</p>
<p>浮脈主表屬腑屬陽輕手一按形象彰彰</p>
<p>浮而有力洪脈火煬浮而無力虛脈陰傷</p>
<p>浮而虛甚散脈靡常浮如蔥管芤脈血殃</p>
<p>浮如按鼓革脈外強浮而柔細濡脈濕傷</p>
<p>浮兼六脈疑似當詳沉脈主裏屬髒屬陰</p>
<p>重手尋按始了於心沉而著骨伏脈邪深</p>
<p>沉而底硬牢脈寒淫沉而細軟弱脈虛尋</p>
<p>沉兼三脈須守規箴遲脈主寒髒病亦是</p>
<p>二至三至數目可揣遲而不衍緩脈病解</p>
<p>遲不流利濇脈血痞遲而時止結脈鬱實</p>
<p>遲止定期代脈多死數脈主熱腑病亦同</p>
<p>五至以上七八病凶數而流利滑脈痰湧</p>
<p>數而牽轉緊脈寒攻數而時止促脈熱烘</p>
<p>數見於關動脈崩中數見四脈休得朦朧</p>
<p>長主素強得之最罕上魚入尺迢迢不短</p>
<p>長而端直弦脈屬肝指下迢迢氣鬱多見</p>
<p>短脈素弱不由病傷上下相准縮而不長</p>
<p>多因稟虛瘦枯其相諸脈見此宜補陰陽</p>
<p>細主諸虛蛛絲其象脈道屬陰病情可想</p>
<p>細不明顯微脈氣殃細而小沉弱脈失養</p>
<p>細有三脈辨須明詳大主諸實形闊易知</p>
<p>陽脈為病邪實可思大而湧沸洪脈熱司</p>
<p>大而堅硬實脈邪肆大兼二脈病盛邪熾</p>
<h2>七、診脈要分陰陽、達機理、明偏勝、知平衡、曉轉化</h2>
<p>《素問‧陰陽應象大論》云：“善診者，察色按脈先別陰陽。審清濁而知部分。視喘息聽音聲而知所苦。觀權衡規矩而知病所主。按尺寸，觀浮沉、滑濇而知病所生以治，無過以診則不失矣。”因為人體健康時應保持整體的陰陽平衡，主要是氣血和動靜的平衡，不論是由於內因或外因，使機體的陰陽失去平衡，勢必導致疾病。祖國醫學對於任何疾病的診斷和治療，均為診察機體的陰陽偏勝，調劑陰陽平衡。所以疾病是機體在一定的條件下，對外界有害因素作用的反應，內因使五臟損傷，不能調劑自身陰陽平衡，致機體對外界環境的適應受到限制，因而發生種種病證。如憤怒太甚肝氣橫逆，氣機滯塞抑鬱不舒，則肝陰受損，肝陽偏盛，不論肝陰損傷或肝陽偏盛，都能造成肝臟自身陰陽的不平衡，而致疾病。機體為了自衛，每使氣血為抗病的工具，氣血旺盛是人體防禦疾病和消除疾病的主要機能。任何疾病的侵襲，或外界異物的損傷，人體總是通過氣血功能，促使機體的氣血津液發生變化，以抗禦候病，保持人體健康。故病在表則抗病之機能即趨於表，而脈浮，病勢重，則所需要抗病力強，故現洪大滑數之脈，病在內，則人體抗病之機能亦趨向於裏，而現沉脈，病在上，則寸大於尺，病在下，則尺大於寸，正氣虛，則脈現微細，邪氣盛，則脈必洪大；邪在氣分，則右脈大於左脈，邪入營分，則左脈偏盛。所以脈象變化是隨機體防禦性反射作用產生的。用持脈探測陰陽偏盛，作為調劑人體陰陽平衡的主要依據。所以在持脈時，應先分清其為陰脈陽脈表證裏證，虛證實證，實證多為外邪之侵襲，虛證皆由正氣不足。何為陽脈，如浮大滑數實之類，何謂陰脈，如沉細濇遲微之類。經過精心調治，脈象可隨時演變，如浮大之陽脈，多有發熱惡寒，心煩熱之陽證。由於發熱傷津爍液，飲食不思，營養障礙。如因循失治，或治療欠當，則浮大滑數之陽脈，亦可轉變為沉細虛弱之陰脈。體虛氣弱者每現沉細虛弱之陰脈，治療後，氣充體健，脈象亦由細弱之陰脈轉變為浮滑之陽脈。此即陰陽轉化的道理。醫者的扶偏救弊，應在陽證熱證脈浮大有力，發熱不退耗津灼液時，迅予退熱排邪，祛病扶正。若脈浮大無力，是熱邪過盛，陰津損傷，應速益陰以維陽，祛邪以扶正，都要根據脈象的演變，確定治療之法則。脈由沉變浮，或由浮轉沉，由無力變有力，或由有力轉無力，系屬病機由裏出表，由表內陷，由正氣不足而轉變為氣血漸複之象。醫者應據脈象變化推測病機轉變，予以扶正祛邪，或先祛邪而後扶正，或扶正中兼寓祛邪。扶正中是育陰還是扶陽，或陰陽俱補，按脈據證，妥善處理，務使立法用藥，完全與病情相適應，陰陽相互維繫互相制約的理論，對脈象的演變和病機的觀察，病情轉化、治則的擬訂關係密切，陰陽代表機體各臟腑各組織之間、功能和器質之間矛盾著的各個方面。人體的上下內外平衡，各臟腑功能與器質的協調，都是陰陽雙方相互依存和相互矛盾的結果。治療的目的在於調劑機體上下、內外、浮沉、緩急諸方面的陰陽平衡、陽主升散，浮越，躁急。陰主潛斂、蟄藏、柔緩。機體在正常情況下，陽氣升散之性，得陰氣的潛斂以濟之，則升散不致太過，而升降平衡，散斂適中，故能保持正常生理。如陽偏盛則升散太過，而潛斂不及，致陰陽乖和，現頭眩心煩脈浮大之證候。脈象的浮大，多由於外邪侵襲，機體為抗禦外邪，驅使氣血抵禦外邪，故脈現浮大，為氣血充盛之征，然必有力。若大而無力，為陰虛不能維陽，陽氣上泛的虛象。所謂有力，是脈力超過正常。一般正常人脈力假設為五個脈力單位，若脈力在5個脈力單位或6-7單位，都稱有力。如在5單位以下，甚至為2-3單位，都稱無力。總之差距愈大，陰虛愈甚。若浮取力較弱，重按全無，則為散脈。如浮取脈力超過正常，而重按僅一脈力單位左右，則為革脈。這些脈象都可通過浮沉脈力對比確定。這種脈象調整，應從兩方面著手，一浮取有力應抑陽養陰，即削弱陽邪的偏盛，增強陰氣潛斂，使之取得暫時的陰陽平衡，即強者抑之，虛者扶之之義。如陰寒偏盛，脈多沉緩或沉細，為升浮之力不足。而潛斂偏勝，陰盛則陽衰，甚則脈現沉遲、沉微，如陰寒暴侵則脈多沉緊。其證候常見脘滿腹脹，大便溏泄，四肢厥冷之陰寒症。治宜扶陽溫中散寒，新病宜溫中散寒為主，久病應扶陽益氣，俟沉脈轉浮，遲脈轉緩即為陽複陰化之佳象。總之陽偏盛，則現浮大滑數之陽脈，陰過強則現沉細濇遲之陰脈，如陰陽平衡，則脈浮沉適中，大小合度，為正常脈。以陽性升浮而陰性潛斂，陽氣之升浮，得陰氣之潛斂以維繫之，方能浮沉適中。陰虛者，當陰氣漸複則脈象即由浮而轉沉，如因失眠、過勞、煩惱損傷陰氣，則脈即由沉而轉浮。再生障礙性貧血病人，貧血嚴重時脈虛數而浮，迨用育陰潛鎮，健脾養血之劑，血象漸複，而脈象日趨沉斂，數象漸緩。在陰血漸複、脈象沉靜之際，精神清爽，身覺有力，而心悸氣短亦不明顯。如脈象突然浮越，略有數意，是陰氣損傷，不能維持陰陽平衡，應防止近期將有發熱出血證候。同時也證實浮與升，沉與降的緊密聯繫。浮與升即脈浮，機體功能趨向於上與表，沉為人體功能趨向于下於裏。如發汗藥，為使氣血趨表以抗病，同時血壓上升，頭眩面赤，是表與上的關係。用泄藥，為使機能趨向于裏於下。外邪未解，而用下藥過早，每致外邪內陷，誘發結胸痞症，及邪熱內陷之壞病，數脈雖為陽熱之體現，如溫熱症在氣分，脈洪大是溫熱熾盛抗病力強的表現。初期脈多不數，如溫熱兇猛，或陰氣灼傷，則脈滑數，數是陽的特性。遲緩是陰的良能，陽的數急得陰的遲緩維繫，脈象方能不急不徐，雍容和緩。當熱邪外襲，抗病力猛增，陽氣亢盛之際如陰氣尚能維持平衡，則脈洪大浮滑而不數或略數，及陰液耗傷，則脈現數，毒熱壅盛時，或陰氣耗傷，則脈象變數，陰氣損傷愈重，數象愈甚。關於陰陽互相維繫、相互制約和脈象演變之原理，如不洞悉胸中，對於臨床觀察病人，不能早期探測疾病的變化，很難作到儘快地阻止疾病的發展。故陰陽互相維繫的理論，是脈象演變的規律，探測病機的轉化和揆度機體陰陽勝負的主要方法。</p>
<h2>八、辨證應以脈證為依據，常見疾病要掌握脈象的演變規律</h2>
<p>疾病的發生，多由於外邪侵襲，正氣之虛損。而抗病機能衰弱，更是致病的主要因素。正如《內經》中所說的“正氣存內，邪不可幹”。一旦病成，機體由於病理的反應，產生種種不適症候和脈象的變化，臨床即據以“辨證”，分析疾病的性質、部位和虛實情況。醫者臨床辨證，主要依據病人脈證、體質情況，病程長短、病勢的強弱進行全面分析，以達到對疾病的正確認識。中醫辨證以八綱為辨證綱領，外感病多從六經、衛氣營血、三焦辨證入手，內傷病則求之於臟腑辨證。由於外邪侵入的原因、性質、部位不同，而表現出不同的證候和脈象。病邪侵入某經，即呈現出某經之證候，也正由於出現某經之證候，可測知病邪侵入某經。或病邪侵入某髒某腑，即可表現某髒某腑的證候。如邪陷於肝，則有右脅脹痛，脘滿心煩喜怒，現弦大之脈證。侵及心可能出現心悸氣短胸悶，脈結代不整之脈證。犯脾則有消化不良、腹脹脘悶、食少納呆，脈弦虛或沉滑之脈症。六經辨證也以脈證為基礎，如發熱惡寒、頭痛項強、為太陽病，其脈必浮。如脈不浮而反沉，雖現發熱惡寒之太陽表證，因其脈沉，而稱為少陰病。所以六經辨證並非單純在證候上的分析，更主要的是在脈象上的識別。只有四診綜合運用，脈證兼顧，才能全面瞭解病情，正確擬訂治療方案。以頭暈為例：頭暈的原因很多，肝陽上亢，虛陽上泛，痰火上湧，血虛氣陷皆可致頭暈。如不根據脈象和頭眩情況，作深入細緻的鑒別，辨證必成空談。併發症在辨證上，也有一定作用，如認真診清脈象，即如深夜燃犀，則病情即無所遁其形矣。如頭暈脈浮弦伴寒熱往來，為少陽病頭暈；脈浮，身熱惡寒為太陽頭暈；如脈左關弦大、弦數，為肝熱上沖之頭暈；右關弦滑上午較重，多為痰火頭暈；脈象細數或虛數伴失眠多夢，健忘神疲，多屬陰虛火泛；脈象沉細，心悸氣短、脘滿身倦、消化不良、舌淡便溏，每見於血虛氣陷之頭暈。又如臨床常見之咳嗽，表面看來有咳嗽、氣短、有痰，可以止嗽化痰法治其標，但不能徹底治癒。只有針對病因、症狀，標本兼治，效果才能理想。咳嗽常見的有風寒咳嗽，同時伴發熱惡寒，頭疼肢痛，鼻塞流涕，痰稀白，脈浮或浮緊，治宜疏風寒化痰止嗽法。風熱咳嗽，咳不爽痰黃稠咽痛，脈浮數，宜疏風清熱化痰止嗽法。傷暑咳嗽，頭眩心煩，惡風身痛，脈濡數，宜清解暑熱化痰止嗽法。燥熱咳嗽，乾咳無痰、或痰粘不易咳出，鼻咽乾燥，脈細數或虛數，宜清肺潤燥止嗽。熱毒陷肺之咳嗽，身壯熱惡寒或寒戰，咳痰帶血呈鐵銹色，脈洪大滑數舌紅，治宜清熱解毒化痰止嗽。濕痰咳嗽，痰多稀白，脘悶便溏，脈弦細或虛弱，宜健脾化濕止嗽化痰。肝氣犯肺咳嗽，胸滿脅痛，食少脘悶，脈弦數或弦滑，治宜平肝宣肺清熱止嗽。虛癆咳嗽，咳嗽潮熱，盜汗痰中帶血，脈細數或虛數，宜養陰抗癆清熱化痰止嗽。故辨證時應認清六經之脈證及在某一疾病過程中，何者為主證，何者為兼證，何者為主脈，何者為兼脈，何者為變脈，臨床應在複雜脈證中，認清病在何經，是並病，還是合病，治療方有把握。如右脅脹痛，身倦脘滿心煩喜怒，左脈弦大有力，知為肝中鬱熱，宜用疏肝清熱宣鬱法。如胃脘脹滿腹痛，消化遲鈍，脈沉細，為脾陽不振，氣滯不宣，宜健脾和胃導滯。如脈不沉細而現弦滑，為食熱壅滯、胃失和降，宜清化食熱和胃導滯。若腹脹脘滿，身熱疼痛較劇，脈象滑數，為濕熱壅滯，氣鬱釀毒，治宜清熱解毒，理氣化瘀。由此說明脈診在辨證中佔有重要地位。現代醫學臨床常見各種疾病，通過多年臨床觀察，其發生發展和轉化，亦與脈象的演變有密切的聯繫，而且有規律可循，掌握這方面的知識，寞鋥治疾病及預測轉歸，也有一定作用。僅就管見所及，簡述如下：</p>
<p>1.急慢性肝炎脈象演變規律：肝炎初期，多左關弦大、弦滑、弦數、舌質紅而苔黃膩，如伴冷燒時，左脈多弦滑而浮，左部大於右部。迨服清肝解毒疏肝化鬱藥後，症狀減退，食欲好轉，身覺有力時，則脈象大脈漸小，弦象漸柔，脈不滑數，而浮象逐漸沉斂，為病情好轉穩定的階段。如感冒發熱，或忿怒傷肝，勞累過度，則左脈突變弦大而浮，知為肝病復發之脈。肝炎凡左脈弦大弦滑、弦數之脈，其轉氨?多高，凡脈弦細多為慢性肝炎，每多見於“麝濁”偏高患者。急性期，或因勞累、感冒、忿怒、脈再現弦大、弦滑、弦數，皆左脈大於右脈。肝炎慢性穩定期，脈弦細，弦虛、弦細數，多左脈小於右脈。蓋初期或再發熱毒壅盛，右脈不受影響，大為邪盛，故左脈大於右脈。慢性肝炎，脾胃恢復正常，而肝脈因損傷而氣弱，故右大於左。凡陰虛型之肝炎，脈皆弦虛，或弦虛數，弦細數，其舌偏紅或舌尖紅，必失眠多夢或頭眩腰酸遺精等證。脾虛型脈多弦細無力，舌淡邊緣有齒痕，脘滿腹脹食少納呆，便溏等，如能掌握其脈象演變規律，常可掌握防治疾病的主動權。</p>
<p>2．再生障礙性貧血脈象演變規律：初期右手脈象多現浮大弦滑，常發熱惡寒，或高熱頭眩鼻衄、齒齦出血。脈浮大滑數，右脈大於左脈，為熱毒外襲，宜清熱解毒，宣表涼血，以退熱止血。迨熱退身涼血止，脈現虛數，而貧血現象較前明顯，宜育陰養血解毒清熱滋補血液，防止發熱。本病初期，多因反復發熱，出血，促使病情發展，迨脈象沉斂不數，重按較有力時，可減清熱解毒加健脾和胃之劑以增進飲食，育陰養血，在脈沉靜虛軟階段為陰複血長之候，如脈象漸浮數，以陰傷陽泛為發熱出血之先兆，宜養陰清熱涼血。益陰以維陽，清熱以退燒，如服養陰清熱藥過久，脈象沉細，病情穩定，而食少便溏，脘滿舌淡，血象不增，是陰複陽微之象，宜健脾氣，扶腎陽。治療過程中應隨時細心體察脈象變化，認清陰陽勝負，妥善調劑陰陽平衡。脈象由陰虛到陰陽平衡，陰虛脈初期為虛大，即浮取為4-5個脈力單位而重按1-2單位，為陰氣虛損，不能維繫陽氣，故脈象偏浮而重按無力，如陰虛較重則脈現虛數，如陰虛甚而陽亦傷，則脈多現細數，及陰氣漸複則數象漸減，即由每分鐘100而95、90、85至，浮象亦見沉斂，沉取逐漸有力，迨浮沉適中，脈象緩和，重按有力，為陰陽暫時平衡。如再用養陰，則陰偏盛，脈現弦細無力，或沉細而微，宜扶陽益氣。此即陰陽勝複脈象演變的規律，明乎此，可以補偏救弊，掌握防治主動權。</p>
<p>3.衛氣營血脈象演變規律：衛氣營血辨證是中醫治療各種傳染病，和燒傷病人發熱的主要辨證方法。病邪侵襲到衛氣營血，雖各有其本經見證，而脈象變化每見於證候出現之前，掌握其演變規律，防治可以主動。一般外感熱性病在發展演變過程中，必然引起機體衛氣營血變化，從而發生各部分的複雜證候。機體和這些證候的內部聯繫和規律性，都能從脈象上體現出來，細心體察，可早期作好防禦措施。</p>
<p>根據臨床體驗，一般外感熱性病和各種急性傳染病，初起多現衛分症狀。迨熱邪內犯，病勢加重，則由衛分轉入氣分。邪在衛分，則發熱惡寒，脈浮大或浮數，舌質偏紅，苔微黃。及深入氣分，則身發壯熱，而不惡寒，脈象洪大滑數，脈力較強，沉取每在5個脈力單位左右，浮取多在6-7個脈力單位，脈力愈大表示毒熱愈猛，應放膽大劑用清熱解毒藥物，以防止病邪內陷。如邪在氣分身熱不退、心煩不寧、脈象轉沉，是病邪由氣分犯營的先兆，應予清解毒熱宣邪外出，分化其內攻之勢。如神識模糊、嗜睡、心煩不安、左脈數急、舌質紅絳，是已入營，應以清解毒熱，清營宣透為主，輔以醒神熄風。由營分再深陷血分，則脈多沉數虛數，弦細數之脈。其他各種疾病的脈，於其發生發展和轉化亦均有其規律，應細心體察。</p>
<p>4．從傷寒的臨床觀察，研究探討衛氣營血和脈、舌的演變規律：傷寒是由傷寒桿菌引起的急性傳染病。其最顯著的病理改變，是腸道內淋巴組織增生和壞死。臨床特點有持續性體溫升高，相對緩脈，脾腫大，玫瑰疹及白細胞減少。本病不同于祖國醫學《傷寒論》中的傷寒，可包括于祖國醫學溫病範疇。今據幾年來臨床治療31例傷寒的資料，研究傷寒等急性傳染病在衛氣營血和脈、舌變化規律，供臨床討論。</p>
<p>31例(傷寒桿菌培養陽性者23例，培養陰性者8例。傷寒血清凝集試驗：21例中有27例“O”及“H”抗原的凝集效價在1:160以上，僅4例為1:80，此4例傷寒桿菌培養均陽性)初起均有惡寒體痛發熱、頭痛、目眩、心煩，不思食、脈現浮濡、浮大、浮數，以邪在衛分故舌多淡，如內有鬱熱，舌質亦能淡紅或紅。迨邪入氣分，則發壯熱不惡寒，心煩口渴引飲。邪入氣分之裏者，主要症狀為身熱不退或潮熱、腹滿痛、大便燥結、神昏譫語、舌質紅、苔黃燥、或黃褐而燥，甚或舌起芒刺，系因熱邪傷津，鬱濁不降所致，脈沉實、或沉弦有力。邪深陷營，則身熱心煩、神識不清，抽搐、或發斑，晝輕夜重，或大便下血、舌質紅絳少津，或紅絳光亮、無苔或黃燥、脈弦數有力、或弦細數、沉弦數。入血分，則身熱不退、煩躁不寧、神昏譫妄、或便血發斑、舌紅絳光滑、無苔，或黃糙、灰糙、脈虛數、細數，為陰津枯竭、熱邪未解所致。</p>
<p>舌質舌苔和脈象的演變規律，對臨床辨證很重要。張石頑說：“凡舌苔白滑，為邪在表，苔現白膩，為濕邪鬱滯，舌苔漸黃，為熱邪漸盛，黃而滑為熱尚未盛，黃而乾燥為熱盛入府，苔現黃膩為濕熱壅滯。”若邪熱不解、損傷津液，則逐漸出現黃燥、黃褐、灰黑裂紋、芒刺等變化。一般邪在衛則苔白，邪入裏則苔黃，津傷則燥，津存則滑，濕盛則膩。迨至邪深入營，或舌苔剝脫或黃褐灰黑之苔尚有殘留，而舌質由淡而紅而絳。邪在衛則淡，入氣則紅，深陷營血，則現紅絳。從實踐中體會到，掌握舌質舌苔的演變規律，對辨證立法頗有幫助，如再結合脈象將更準確。其脈象的演變，邪在衛則脈浮，挾熱則浮數、浮大；挾寒則浮緊；挾濕則浮濡。迨邪入氣分，脈多浮大滑數。溫熱病脈象的特點為病在衛分、氣分,右手之脈多大於左手，或右脈較左脈有力。病深陷營血，則右脈較沉，而左脈偏盛，或現細數、沉弦數等。如氣分之邪未罷而又犯及營分，則脈左右雙盛。</p>
<p>病在氣分之所以脈多洪大滑數，右脈多大於左脈者，以右脈主氣分，邪在氣分故右脈偏盛，氣分之邪偏重於表，其脈多兼浮，如浮象驟見沉斂，而熱勢不衰反增煩躁，是病邪由表轉裏，有內陷趨勢，熱邪內犯往往誘起煩躁譫語昏迷。腸出血多發生於熱邪深陷血分，或氣血兩燔之際。出血前脈多數疾，出血後頓現無力；如出血過多，亦可出現微細欲絕，或浮大而芤之脈。臨床體會，凡熱入血分，而身熱不退脈數疾時，除用涼血解毒退熱之劑外，應隨時注意防止出血，庶可減少或阻止出血的發生。</p>
<p>疾病的恢復和發展，脈象之變化常出現於症狀之前，這種變化可能代表惡化，亦可能代表好轉。在脈象表現惡化，而症狀尚未轉變時，掌握病機，及時用藥，可以阻止疾病轉變和發展，臨診時應隨時細心注視脈象變化，掌握轉變規律，早期診斷，有效的治療。</p>
<h2>九、診脈應注意脈證之順逆，必要時可舍脈從證或舍證從脈</h2>
<p>脈象和證候，是病邪侵襲機體之反應，有某種證候，即應當現某種脈象，脈證一致稱之為順，脈證相反，稱之為逆。如傷寒初起發熱惡寒，頭項強痛，其脈應浮緊，設脈反沉，是病邪深陷，正不勝邪，故稱逆證。又如熱毒犯肺，發熱惡寒，咳嗽胸滿，咯血如鐵銹色，喘促氣短，脈應洪大滑數為順；如高熱不退，飲食不振，心煩不寧，神識昏惑，脈變沉微、細數，是熱毒鬱閉正氣衰竭之壞病，亦稱為逆證。如心氣衰微之虛證，心悸氣短，面色蒼白，食少身倦，肢冷自汗，脈象或沉細，或弦細，或弦細數，為脈證一致；如忽身熱心煩，面赤，虛汗淋漓，脈現浮大有力，重按全無，是脈證不符，為逆證。簡言之，脈證相應為順，相反為逆。如病屬陽證,脈應洪數滑實，是謂脈證相符，為順。若脈反見沉細微弱，是脈證相反，為逆。張景嶽說：“凡內出不足之證，忌見陽脈，如浮、洪、緊、數之類是世。外入有餘之病，忌見陰脈，如沉、細、微、弱之類是也。如此之脈最不易治。”以氣血虛損，正氣不足，脈必細弱，而反見浮、洪、數、緊，即為逆象。浮為陰氣不斂，虛陽外越，洪為陰竭格陽，數為陰不制陽，總由陰氣衰竭，不能維持自身最低之陰陽平衡，而現離決之危象。</p>
<p>凡暴病脈浮、洪、數、實為順，久病脈微、緩、虛、弱為順，新病而見沉、微、細、弱，久病而見浮、洪、數、實，皆為逆，脈證貴乎相合，設如證有餘，而脈不足，或脈有餘，而證不足，輕者必病勢延綿，重者每致不救。</p>
<p>論舍脈從症，或舍證從脈：人體正常時，不論內傷外感，破壞了機體陰陽平衡，發生疾病。病人每發現種種不適證候和不正常脈象，這種證候和脈象，在一般情況下是多相適應的。但在各別情況下，如身體素弱，再受病邪，致機體功能受損，不能正常反應病理變化，而使脈證不能相應。如陰證見陽脈，虛證見實脈，臨床見此情況，必須運用四診綜合分析，弄清其真實情況，方能立法用藥。如病人身發潮熱，大便燥結，腹脹脘滿，不思飲食，舌紅苔黃垢，脈沉遲，此系陽明燥結，雖現沉遲之陰脈，應舍脈從證，而以承氣湯下之。如患者發熱惡寒，身疼痛，脈沉細，雖有太陽病之表證，不能發汗宣表，而應以扶陽溫透，宜舍證從脈。還有一些複雜的脈證，如不細心體察，綜合辨證，往往為假像所迷惑，以致貽誤病情。何夢瑤說：“凡脈證不相合必有一真一假，須細辨之，如外雖煩熱，而脈見微弱者必虛火也，腹雖脹滿而脈見微弱者必胃虛也。虛火虛脹豈堪攻乎?此宜從脈之真虛，不從證之假劇也。其有本無煩熱而脈見洪數者，非火邪也；本無脹滯而脈見弦強者，非內實也，無熱無脹其堪瀉乎?此宜從證之真虛不從脈之假居也。”“如寒邪內傷，或食停氣滯，而心腹急痛，以致脈道沉伏或促或結，此以邪閉經絡而然，既有痛脹等實證可據，則脈之虛乃假虛，當從證不從脈。又若傷寒四肢厥逆寒戰，而脈見數滑，此由內熱格陰。何以知之?以病由傳經漸致，並非直中陰經，從無熱證轉寒之理，既有數滑之脈可據，則外症之虛為假虛，亦從脈不從證也。”舍脈從證，與舍證從脈，是臨床辨證中重要之一環，須四診合參，全面分析，方能取捨切當得到疾病的真相。</p>
<h2>十、二十八脈的示意圖、脈象、示意圖解、主病脈象</h2>
<p>由脈位、脈力、脈率、脈形等的混合演變構成28脈。脈象示意圖即以圖像表達脈象的位置、力量、形狀和頻率等。以便初學脈學者易於識別掌握。脈象示意圖，將正常人的脈搏力量假設作6個脈力單位，在示意圖上以五個黑格表示浮、中、沉，每部脈象分別用三圖表示之。代表診脈時浮中沉三候。正常人脈的寬度，假設作兩個單位計算，在示意圖中於脈搏升波的基底部用兩個黑格表示，如脈細則填畫一個或一個半橫格，大脈、洪脈較正常為寬則填畫兩個半或三個格，以示比正常脈象寬的倍數。正常脈的波峰，假設為7個波，為正常人脈搏跳動的次數。</p>
<p>1.浮脈</p>
<p>(一)脈象：輕按即得，浮泛於皮膚之表。舉之則泛泛流利，按之則稍減而不空。(二)浮脈體狀詩：浮脈惟從肉上行，如循榆莢似毛輕；三秋得令知無恙，久病逢之卻可驚。(三)圖解：以浮取上邊之黑線為皮層，其波峰透出黑線，表示脈搏浮泛於皮膚之上，其脈力浮取脈力較猛，正常脈力一般為五個脈力單位，在最上大黑線中為五個小黑格。浮脈的脈力，浮取超過正常，故浮取黑線中為6格；中取較弱，故在中取部位為5格；重取有的為4個脈力單位，在沉取部位畫4格。脈形一般不寬，故在起波基底橫線上，繪兩個格。說明浮脈脈力，浮取較猛，中取稍軟，而重取顯弱。而浮脈在持脈時毫不加壓，即明顯的泛泛於皮膚之上。若輕按不顯，中取方見，重取明顯，即非浮脈。(四)主病：浮脈主表，為六淫之邪侵入肌表，當外邪侵襲肌表，人體之氣血為捍衛機體，而趨向於表，故脈應之而浮。浮脈雖屬外邪襲表之征，但有虛實之分，浮而有力為表實，浮而無力為表虛。不論表實表虛，只要脈現浮象，必有發熱惡寒頭痛身痛之表證。表實者可發汗以宣邪，麻黃湯主之。表虛者，可解肌散風，桂枝湯主之。如脈浮兼遲，為胸陽不足，風寒外襲，宜溫散寒邪，宜麻黃附子細辛湯。如浮而兼濡，多為傷暑。浮而兼數，多為風熱。久病見浮，為陰氣過傷，無以維陽，致虛陽上泛，而脈現浮象。另有久病體虛，脈多沉細，如突變浮脈，多因正氣虛損，外邪內犯所致，故久病見浮，病多反復。(五)浮脈主病詩浮脈為陽表病居，遲風數熱緊寒拘，浮而有力多風熱，無力而浮是血虛。寸浮頭痛眩生風，或有風痰聚在胸，關上土衰兼木旺，尺中溲便亦流通。(六)浮脈辨證分析表浮脈主表(1)外邪侵襲一實證浮而有力——表實浮而無力——表虛浮而兼遲——表寒浮而兼洪——表熱浮而兼緩——中風風濕浮而兼濡——傷暑浮而兼實——陽勝浮而兼滑——風痰(2)裏證內傷–虛證浮而兼散——極虛浮而兼細——氣虛浮而兼澀——血虛2.洪脈</p>
<p>圖2.洪脈示意圖(一)脈象：洪脈如波濤洶湧，來盛去衰，脈如洪水之洪，大而且數，上湧有力。(二)洪脈體狀詩脈來洪盛去還衰，滿指滔滔應夏時，若在春秋冬月分，升陽散火莫狐疑。(三)圖解：洪脈浮取脈力超過正常，常見之浮脈，浮取脈力一般多在5個脈力單位，而洪脈多在6—7個脈力單位，而脈形寬闊，正常脈寬度，以升波基底部表示為2格，洪脈為3格，表示洪脈寬度超過正常1／3以上。其脈力突出在浮取力猛，中取和沉取一般皆在5個脈力單位，而浮取脈力較猛,有時患者浮取可至6—7脈力單位，形成上泛有力，波濤洶湧之勢，即形態較正常為寬，上泛較正常有力，至數亦較正常為快。(四)主病：病現洪脈，多為熱邪熾盛，深入陽明之候，其脈多右大於左。證狀多為身發高熱，汗出而不惡寒，心煩口渴，舌質紅絳，而苔黃燥。在熱性病，洪脈多現于右關，當脈洪大，身熱不退，宜重用清熱解毒之劑，以白虎湯清解氣分之熱毒。臨床凡各種急性傳染病，在熱深陷氣分時，右關脈多見洪大滑數，高熱持續不退，此時應放膽重用清熱解毒，生石膏有時用1—2兩或3—4兩，務使洪脈脈力減至5個脈力單位。脈形漸細，而數象漸減，身熱下降為度，須使熱毒由氣分透衛外達，防其深陷營分，纏綿不愈。總之藥量大小，須視脈象變化，而斟酌增減。洪脈象征毒熱熾盛，機體為抗禦大敵，而氣血湧騰，以抗禦之。由其脈象洪大，知其毒熱熾盛。若病後久虛，或虛勞失血，而現此脈，為陽盛陰竭之凶象。由於邪盛正虛，機體的陰陽不能維持平衡，而現陰陽行將離決之象。另有洪脈浮取雖猛，而脈力仍在5單位之間，而中取重按，則較正常脈力為弱，脈形略寬，亦形成上湧之勢，但身不大熱，心不煩，多為陰虛火盛，而非陽明經實熱。可以脈浮取脈力未超過正常，中取重取均較正常為弱以資鑒別。(五)洪脈主病詩脈洪陽盛血應虛，相火炎炎熱病居；脹滿胃翻須早治，陰虛泄痢可躊躇。寸洪心火上焦炎，肺脈洪時金不堪；肝火胃虛關內察，腎虛陰火尺中看．(六)洪脈辨證分析表洪脈為熱邪燔灼(1)洪而有力——實熱(2)洪而無力——虛熱(3)洪而兼浮——表熱(4)洪而兼沉——裏熱(5)洪而虛軟——熱盛陰虛3．虛脈</p>
<p>(一)脈象：虛大而軟，按之不足．凡脈重按無力為虛。尋按脈浮中沉力量的對比，如重按之力弱於浮取或中取即謂之無力。(二)虛脈體狀詩舉之遲大按之松，脈狀無涯類谷空，莫把芤虛為一例，芤來浮大似慈蔥。(三)示意圖解：虛脈寬度和正常相同，而脈力浮取略弱，一般在4—5個脈力單位，中按脈力弱於浮取，重按更弱，一般多在2—3個脈力單位，差距愈大，則陰虛愈甚。如浮取為5個脈力單位，中取4個脈力單位，重取為2個脈力單位則陰虛較輕。若浮取4個脈力單位，中取2個脈力單位，重取1個脈力單位則陰虛為重。本圖浮取脈力為3個脈力單位，中取重取皆為1個脈力單位，表明陰虛為重。(四)主病：虛脈為正氣之虛，臨床常見的虛脈，有陰虛陽虛兩種，診脈時須審清。陰虛之脈，虛大中空重按無力；陽虛之脈，細弱無力，多表現為浮取無力，脈象偏沉；陰虛無力皆為沉取無力，脈象偏浮。《脈經》雲：“浮以候陽，沉以侯陰”。治療時應根據陰陽之偏勝，制訂益陰補陽的法則，決不可反其道而行，以免出現不良反應，這是辨證治療的關鍵，應格外注意。辨證的方法，浮而無力為氣虛，沉而無力為血虛，數而無力為陰虛(數而無力，臨床稱為虛數脈)，遲而無力為陽虛。陽虛之脈，舌質多淡，便溏肢冷；陰虛之脈，舌質偏紅，陰虛的伴有陰虛之證，而陽虛的亦具有陽虛之證，二者綜合辨證，方能得其真象。</p>
<p>通過臨床的體驗，凡氣血虛弱的，其脈必虛，如虛而浮細，每為衛氣之虛，必有惡風自汗，心悸氣短等證，虛而細數，為腎陰不足，必有心煩失眠，腰酸痛等證。(五)虛脈主病詩：脈虛身熱為傷暑，自汗怔忡驚悸多，發熱陰虛須早治，養營益氣莫蹉跎，血不榮心寸口虛，關中腹脹食難舒；骨蒸痿痹傷精血，卻在神門兩部居。(六)虛脈辨證分析表虛脈多見於氣血虛弱(1)虛而兼浮——表虛自汗(2)虛而兼沉——裏虛多泄(3)虛而兼遲——多為虛寒(4)虛而兼數——陰虛勞熱(5)虛而兼大——陰虛不斂虛而兼細——氣弱血虛(7)虛而兼澀——心血之虛虛而兼小——脾陽不振4.散脈(一)脈象；散脈浮大而散，舉之散漫，按之全無，形如羹上肥，即浮取散漫無紀，中取重取皆無，這就是說浮取散漫節律不齊，而中取重取，則脈象渺然無蹤。(二)散脈體狀詩散似楊花散漫飛，去來無定至難齊，產為生兆胎為墮，久病逢之仔細醫。(三)示意圖解：散脈浮取脈力很弱，多在3個脈力單位或更少，而脈搏節律不整，時有間歇，中取重取脈搏渺無蹤跡，僅浮取，脈浮泛無力，而脈律不齊，形如湯中上浮之油，泛泛於表面之上，而中按重取，則指下感空空無物。(四)主病：散脈多見於心腎陰虛，不能維陽，形成陰陽離決之候，為一種病勢危篤不易治療之險證，在心臟病垂危時往往見之。(五)散脈主病詩左寸怔忡右寸汗，溢飲左關應軟散，右關軟散跗腫，散居兩尺魂應斷。</p>
<p>5．芤脈圖5芤脈示意圖(一)脈象：指下浮大無力為芤，凡脈浮取有力，而中取重按皆無力為芤。(二)芤脈體狀詩芤形浮大軟如蔥，邊實須知內已空；火犯陽經血上溢，熱侵陰絡下流紅。(三)示意圖解：芤脈浮取脈力正常，一般為5個脈力單位，中取脈力則顯著減弱，臨床常見者多在1—2脈力單位。重按較好，每在2—3單位，以中取脈力最弱，為與虛脈不同之點。虛脈浮取有力，而中按重按皆無力，芤脈浮取有力，中取重按雖皆無力，而中按無力更為突出。(四)主病：芤脈多為失血亡陰，陰氣損傷，陽氣浮散之象，如因突然失血過多，為陰氣損傷，陽氣偏勝，陰虛則無以維陽，致陽現浮散之象。凡失血過多，及產後多見此脈。如小量出血或慢性出血，臨床一時見不到芤脈，若時間較長，雖小量出血亦往往呈現芤脈。宜養陰止血，補血法治之。芤脈除失血傷陰外，在熱性病，灼津鑠液，熱邪不解，臨床亦可見到芤脈。(五)芤脈主病詩寸芤失血在於胸，關裏逢芤腸胃癰，尺部見之多下血，赤淋紅痢漏崩中。(六)芤脈辨證分析表芤脈(1)芤而寸盛：多為吐衄上焦的出血。(2)芤而尺盛：常見漏崩尿血便血等證。(3)芤而上泛有力：多屬熱邪內犯。(4)芤而虛數：陰血兩虛。</p>
<p>6．革脈(一)脈象：革脈之形狀，內空虛而外繃急。凡脈浮取堅硬搏指，重按豁然而空的即謂革脈。(二)革脈體狀詩革大弦急，浮取即得；按之中空，渾如鼓革。(三)示意圖解：革脈浮取脈力超過正常，多在6—7個脈力單位，而堅硬搏指，無緩和柔軟之象。中取重按脈力細弱，每在1—2脈力單位，是陰氣大傷，無以維陽，形成孤陽外越，即將離決之象。(四)主病：革脈出現，在男子為失精亡血，婦人為半產漏下。按革脈自古即有兩種不同的見解，一謂病見革脈，為危證死證；一謂革脈為陰氣虛竭。這兩種說法，從表面看，似有矛盾，其實是革脈在輕重程度上的不同。如革脈浮取雖堅硬搏指，而定息尋按，尚較和緩，為陰氣驟傷，無以維陽，致孤陽外越堅硬搏指，毫無雍容和緩之意，久按較緩是一時性的孤陽外越，如及時以育陰扶正，養陰以維陽，尚能挽救。總之革脈的出現，不外兩種情況；一為外邪襲表，病勢較重，機體為捍衛外邪，竭盡全力，促使氣血趨表以抗病，故脈現堅硬繃急，一為陰氣虛竭，無以斂陽，孤陽外越。二者均屬危候。</p>
<p>(五)革脈主病詩</p>
<p>革主表寒，亦屬中虛。左寸之革，心血虛痛；右寸之革，金衰氣壅。左關迂之，疝瘕為祟；右關迂之，土虛為疼。</p>
<p>左尺診革，精空可必，右尺診革，殞命為憂。婦女得之，半產漏下。</p>
<p>7．滑脈(一)脈象；滑脈往來流利，如珠走盤，即指下感到流利如珠。(二)滑脈體狀詩滑脈如珠替替然，往來流利卻還前，莫將滑數為同類，數脈惟看至數間。(三)示意圖解：滑脈浮取有力，根據病情而略有不同，體健熱盛者，脈力可在5—6脈力單位，中取重取，大致相同，指下有圓滑流利之感，熱輕體弱者，一般在4—5脈力單位。脈的寬度一般和正常接近，或有時寬些。(四)主病：滑脈為氣實血壅之候，為痰熱上逆，或食積、嘔吐、滿悶。脈象滑大，滑數，為內熱，上為心肺頭目咽唾?熱，下為小腸膀胱之熱，總視滑脈表現之部位而定。如婦人脈滑數，而經斷者，為有孕。若平人脈滑而和緩，為榮衛充實，健康之象。若滑大滑數，則為熱邪內犯。凡發熱由外邪誘發者，其右脈多現滑數。而各種傳染病，當熱毒在氣分時，則右脈多現洪大滑數。</p>
<p>(五)滑脈主病詩</p>
<p>滑脈為陽元氣衰，痰生百病食生災；</p>
<p>上為吐逆下蓄血，女脈調時定有胎。</p>
<p>寸滑膈痰生嘔吐，吞酸舌強或咳嗽；</p>
<p>當關宿食肝脾熱，渴痢頹淋看尺部。</p>
<p>(六)滑脈辨證分析表</p>
<p>(1)病脈</p>
<p>‧滑而兼浮——風痰</p>
<p>‧滑而兼沉—一食滿</p>
<p>‧滑而兼數——風火痰熱、熱毒壅盛</p>
<p>‧滑而兼實——積滯</p>
<p>(2)平脈</p>
<p>‧滑而和緩——健康之象</p>
<p>‧滑而經斷——婦女受孕之徵</p>
