<header><h1>醫學三字經</h1></header>
<dl class="元資料" data-type="book">
<div><dt>作者</dt><dd>陳修園</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1644/1911">公元1644年至公元1911年</data></dd></div>
</dl>
<h2>小引</h2>
<p>童子入學，塾師先授以《三字經》，欲其便誦也，識途也。學醫之始，未定先授何書，如大海茫茫，錯認半字羅經，便入牛鬼蛇神之域，余所以有《三字經》之刻也。前曾托名葉天士，取時俗所推崇者，以投時好。然書中之奧旨，悉本聖經，經明而專家之伎可廢。謝退穀於注韓書室得繕本，惠書千余言，屬歸本名，幸有同志。今付梓而從其說，而仍名經而不以為僭者，采集經文，還之先聖，海內諸君子，可因此一字而共知所遵，且可因此一字而不病余之作。</p>
<p><u>嘉慶九年歲次甲子人日陳念祖自題於南雅堂</u></p>
<h2>卷之一</h2>
<h3>醫學源流第一</h3>
<p><u>醫之始　本岐黃</u></p>
<p>　黃，黃帝也；岐，岐伯也。君臣問答，以明經絡、臟腑、運氣、治療之原，所以為醫之祖。雖《神農本經》在黃帝之前，而神明用藥之理，仍始於《內經》也。</p>
<p><u>靈樞作　素問詳</u></p>
<p>　《靈樞》九卷、《素問》九卷，通謂之《內經》，《漢書‧藝文志》載《黃帝內經十八篇》是也。醫門此書，即業儒之五經也。</p>
<p><u>難經出　更洋洋</u></p>
<p>　洋洋，盛大也。《難經》八十一章，多闡發《內經》之旨，以補《內經》所未言，即間有與《內經》不合者，其時去古未遠，別有考據也。秦越人，號扁鵲，戰國人，著《難經》。</p>
<p><u>越漢季　有南陽</u></p>
<p>　張機，字仲景，居南陽，官長沙，東漢人也。著《傷寒雜病論》《金匱玉函經》。</p>
<p><u>六經辨　聖道彰</u></p>
<p>　《內經》詳於針灸，至伊芳尹有湯液治病之法，扁鵲、倉公因之。仲師出而雜病傷寒專以方藥為治，其方俱原本於神農、黃帝相傳之經方，而集其大成。</p>
<p><u>傷寒著　金匱藏</u></p>
<p>　王肯堂謂《傷寒論》義理如神龍出沒，首尾相顧，鱗甲森然。金匱玉函，示寶貴秘藏之意也。其方非南陽所自造，乃上古聖人所傳之方，所謂經方是也。</p>
<p>其藥悉本於《神農本經》。非此方不能治此病，非此藥不能成此方，所投必效，如桴鼓之相應。</p>
<p><u>垂方法　立津梁</u></p>
<p>　仲師，醫中之聖人也。儒者不能舍至聖之書而求道，醫者豈能外仲師之書以治療。</p>
<p><u>李唐後　有千金</u></p>
<p>　唐‧孫思邈，華原人，隱居太白山。著《千金方》《千金翼方》各三十卷。宋仁宗命高保衡、林億校正，後列《禁經》二卷。今本分為九十三卷。較《金匱》雖有浮泛偏雜之處，而用意之奇，用藥之巧，亦自成一家。</p>
<p><u>外台繼　重醫林</u></p>
<p>　唐‧王燾著《外台秘要》四十卷，分一千一百四門，論宗巢氏，方多秘傳，為醫門之類書。</p>
<p><u>後作者　漸浸淫</u></p>
<p>　等而下之，不足觀也已。</p>
<p><u>紅紫色　鄭衛音</u></p>
<p>　間色亂正，靡音忘倦。</p>
<p><u>迨東垣　重脾胃</u></p>
<p>　金‧李杲，字明之，號東垣老人。生於世宗大定二十年，金亡入元，十七年乃終，年七十二，舊本亦題元人。作《脾胃論》《辨惑論》《蘭室秘藏》。後人附以諸家合刻，有《東垣十書》傳世。</p>
<p><u>溫燥行　升清氣</u></p>
<p>　如補中益氣及升陽散火之法，如蒼朮、白朮、羌活、獨活、木香、陳皮、葛根之類，最喜用之。</p>
<p><u>雖未醇　亦足貴</u></p>
<p>　人謂東垣用藥，如韓信將兵，多多益善。然駁雜之處，不可不知。惟以脾胃為重，故亦可取。</p>
<p><u>若河間　專主火</u></p>
<p>　金‧劉完素，字守真，河間人。事跡俱詳《金史‧方技傳》。主火之說，始自河間。</p>
<p><u>遵之經　斷自我</u></p>
<p>　《原病式》十九條，俱本《內經‧至真要大論》，多以火立論，而不能參透經旨。如火之平氣曰升明，火之太過曰赫曦，火之不及曰伏明，其虛實之辨，若冰炭之反也。</p>
<p><u>一二方　奇而妥</u></p>
<p>　如六一散、防風通聖散之類，皆奇而不離於正也。</p>
<p><u>丹溪出　罕與儔</u></p>
<p>　元‧朱震亨，字彥修，號丹溪，金華人。其立方視諸家頗高一格。</p>
<p><u>陰宜補　陽勿浮</u></p>
<p>　《丹溪心法》以補陰為主，謂陽常有餘，陰常不足。諸家俱辨其非，以人得天地之氣以生，有生之氣，即是陽氣，精血皆其化生也。</p>
<p><u>雜病法　四字求</u></p>
<p>　謂氣、血、痰、郁是也。一切雜病，只以此四字求之。氣用四君子湯，血用四物湯，痰用二陳湯，郁用越鞠丸。參差互用，各盡其妙。</p>
<p><u>若子和　主攻破</u></p>
<p>　張子和(戴人)書中，所主多大黃、芒硝、牽牛、芫花、大戟、甘遂之類，意在驅邪。邪去則正安，不可畏攻而養病。</p>
<p><u>病中良　勿太過</u></p>
<p>　子和之法，實症自不可廢，然亦宜中病而即止；若太過，則元氣隨邪氣而俱散，挽無及矣。</p>
<p><u>四大家　聲名噪</u></p>
<p>　劉河間、張子和、李東垣、朱丹溪為金、元四大家，《張氏醫通》之考核不誤。</p>
<p><u>必讀書　錯名號</u></p>
<p>　李士材《醫宗必讀》四大家論，以張為張仲景，誤也。仲景為醫中之聖，三子豈可與之並論。</p>
<p><u>明以後　須酌量</u></p>
<p>　言醫書充棟汗牛，可以博覽之，以廣見識，非謂諸家所著皆善本也。</p>
<p><u>詳而備　王肯堂</u></p>
<p>　金壇王宇泰，諱肯堂。著《證治準繩》，雖無所采擇，亦醫林之備考也。</p>
<p><u>薛氏按　說騎牆</u></p>
<p>　明‧薛己，號立齋，吳縣人。著《薛氏醫按》十六種，大抵以四君子、六君子、逍遙散、歸脾湯、六八味丸主治，語多騎牆。</p>
<p><u>士材說　守其常</u></p>
<p>　李中梓，號士材，國朝人也。著《醫宗必讀》《士材三書》。雖曰淺率，卻是守常，初學人所不廢也。</p>
<p><u>景岳出　著新方</u></p>
<p>　明‧張介賓，字會卿，號景岳，山陰人。著《類經質疑錄》。全書所用之方，不外新方八陣，其實不足以名方。古聖人明造化之機，探陰陽之本，制出一方，非可以思議及者。若僅以熟地補陰，人參補陽，薑附祛寒，芩連除熱，隨拈幾味，皆可名方，何必定為某方乎?</p>
<p><u>石頑續　溫補鄉</u></p>
<p>　張璐，字路玉，號石頑，國朝人。著《醫通》，立論多本景岳，以溫補為主。</p>
<p><u>獻可論　合二張</u></p>
<p>　明‧寧波趙獻可，號養葵。著《醫貫》。大旨重於命門，與張石頑、張景岳之法相同。</p>
<p><u>診脈法　瀕湖昂</u></p>
<p>　明‧李時珍，字東璧，號瀕湖。著《本草綱目》五十二卷，雜收諸說，反亂《神農本經》之旨。卷末刻《脈學》頗佳，今醫多宗之。</p>
<p><u>數子者　各一長</u></p>
<p>　知其所長，擇而從之。</p>
<p><u>揆諸古　亦荒唐</u></p>
<p>　理不本於《內經》，法未熟乎仲景，縱有偶中，亦非不易矩　。</p>
<p><u>長沙室　尚彷徨</u></p>
<p>　數子雖曰私淑長沙，升堂有人，而入室者少矣!</p>
<p><u>惟韻伯　能憲章</u></p>
<p>　慈溪柯琴，字韻伯，國朝人。著《傷寒論注》、《論翼》，大有功於仲景，而《內經》之旨，賴之以彰。</p>
<p><u>徐尤著　本喻昌</u></p>
<p>　徐彬，號忠可；尤怡，號在涇。二公《金匱》之注，俱本喻嘉言。考嘉言名昌，江西南昌人。崇禎中以選舉入都，卒無所就。遂專務於醫，著《尚論篇》，主張太過，而《醫門法律》頗能闡發《金匱》之秘旨。</p>
<p><u>大作者　推錢塘</u></p>
<p>　張志聰，號隱庵；高世　，號士宗。俱浙江錢塘人也。國朝康熙間，二公同時學醫，與時不合，遂閉門著書，以為傳道之計。所注《內經》《本草經》《傷寒論》《金匱》等書，各出手眼，以發前人所未發，為漢後第一書。今醫畏其難，而不敢談及。</p>
<p><u>取法上　得慈航</u></p>
<p>　取法乎上，僅得其中。切不可以《醫方集解》《本草備要》《醫宗必讀》《萬病回春》《本草綱目》《東醫寶鑒》《馮氏錦囊》《景岳全書》《薛氏醫按》等書，為捷徑也。今之醫輩，於此書並未寓目，止取數十種庸陋之方，冀圖幸中，更不足論也。</p>
<h3>中風第二</h3>
<p><u>人百病　首中風</u></p>
<p>　《內經》云：風為百病之長也。昔醫云：中臟多滯九竅，有唇緩、失音、耳聾、目瞀、鼻塞、便難之症；中腑多著四肢；中經則口眼　斜；中血脈則半身不遂。</p>
<p><u>驟然得　八方通</u></p>
<p>　中風病驟然昏倒，不省人事，或痰涌、掣搐、偏枯等症。八方者，謂東、西、南、北、東北、西北、東南、西南也。</p>
<p><u>閉與脫　大不同</u></p>
<p>　風善行而數變，其所以變者，亦因人之臟腑寒熱為轉移。其人臟腑素有鬱熱，則風乘火勢，火借風威，而風為熱風矣。其人臟腑本屬虛寒，則風水相遭，寒冰徹骨，而風為寒風矣。熱風多見閉症，宜疏通為先；寒風多見脫症，宜溫補為急。</p>
<p><u>開邪閉　續命雄</u></p>
<p>　小續命湯，風症之雄師也。依六經見症加減治之，專主驅邪。閉者宜開，或開其表，如續命湯是也；或開其裡，如三化湯是也；或開其壅滯之痰，如稀涎散、滌痰湯是也。</p>
<p><u>固氣脫　參附功</u></p>
<p>　脫者宜固，參附湯固守腎氣，朮附湯固守脾氣，耆附湯固守衛氣，歸附湯固守營氣。先固其氣，次治其風。若三生飲一兩加人參一兩，則為標本並治之法。正虛邪盛，必遵此法。</p>
<p><u>顧其名　思其義</u></p>
<p>　名之曰風，明言八方之風也；名之曰中，明言風自外入也。後人議論穿鑿，俱不可從。</p>
<p><u>若舍風　非其治</u></p>
<p>　既名中風，則不可舍風而別治也。</p>
<p><u>火氣痰　三子備</u></p>
<p>　劉河間舉五志過極，動火而卒中，皆因熱甚，故主乎火。大法：用防風通聖散之類；亦有引火歸源，如地黃飲子之類。李東垣以元氣不足而邪湊之，令人卒倒如風狀，故主乎氣虛。大法：補中益氣東加減。朱丹溪以東南氣溫多濕，有病風者，非風也；由濕生痰，痰生熱，熱生風，故主乎濕。大法：以二陳東加蒼朮、白朮、竹瀝、薑汁之類。</p>
<p><u>不為中　名為類</u></p>
<p>　中者，自外而入於內也。此三者，既非外來之風，則不可仍名為中，時賢名為類中風。</p>
<p><u>合而言　小家伎</u></p>
<p>　虞天民云：古人論中風，言其症也。三子論中風，言其因也。蓋因氣、因濕、因火，挾風而作，何嘗有真中、類中之分。</p>
<p><u>喑　斜　昏仆地</u></p>
<p>　喑者，不能言也。　斜者，口眼不正也。昏仆地者，不省人事，猝倒於地也。口開、目合，或上視、撒手、遺尿、鼾睡、汗出如油者，不治。</p>
<p><u>急救先　柔潤次</u></p>
<p>　柔潤熄風，為治中風之秘法。喻嘉言加味六君子湯、資壽解語湯甚妙。</p>
<p><u>填竅方　宗金匱</u></p>
<p>　《內經》云：邪害空竅。《金匱》中有侯氏黑散、風引湯，驅風之中，兼填空竅。空竅滿則內而舊邪不能容，外而新風不復入矣。喻嘉言曰：仲景取藥積腹中不下，填竅以熄風。後人不知此義，每欲開竅以出其風。究竟竅空而風愈熾，長此安窮哉?三化湯、愈風湯、大秦艽湯皆出《機要方》中，云是通真子所撰，不知其姓名。然則無名下士，煽亂後人見聞，非所謂一盲引眾盲耶。</p>
<h3>虛癆第三</h3>
<p><u>虛癆病　從何起</u></p>
<p>　咳嗽、吐血、五心煩熱、目花、耳鳴、口爛、鼻干、氣急、食不知味、羸瘦、驚悸、夢遺、往來寒熱、怠惰、嗜臥、疲倦、骨蒸、不寐、女子不月等症，皆成癆病。</p>
<p><u>七情傷　上損是</u></p>
<p>　扁鵲謂損其陽自上而下，一損肺、二損心、三損胃，過於胃則不可治。其說本於《內經》：二陽之病發心脾，有不得隱曲，為女子不月。按心脾上也，至不得隱曲，女子不月，則上極而下矣。</p>
<p><u>歸脾湯　二陽旨</u></p>
<p>　即《內經》二陽之病發心脾之旨也。此方為養神法，六味丸為補精法，高鼓峰並用之。</p>
<p><u>下損由　房幃邇</u></p>
<p>　扁鵲謂損其陰自下而上，一損腎、二損肝、三損脾，過於脾則不可治。其說本於《內經》：五臟主藏精也，不可傷，傷則失守而無氣，無氣則死矣。按精生於五臟而統司於腎，如色欲過度，則積傷而下損；至於失守無氣，則下極而上矣。</p>
<p><u>傷元陽　虧腎水</u></p>
<p>　腎氣，即元陽也。元陽傷，為困倦、食少、便溏、腰痛、陽痿等症。</p>
<p>腎水，即元陰也。元陰虧，為蒸熱、咳嗽、吐血、便血、遺精、喉痛、口瘡、齒牙浮動等症。</p>
<p><u>腎水虧　六味擬</u></p>
<p>　六味地黃丸為補腎水之主方，景岳左歸飲、左歸丸亦妙。推之三才湯、八仙長壽丸、都氣丸、天王補心丹，皆可因症互服。</p>
<p><u>元陽傷　八味使</u></p>
<p>　崔氏腎氣丸，後人為八味地黃丸。立方之意，原為暖腎逐水，非補養元氣。明‧薛立齋及趙養葵始用以溫補命火，時醫遂奉為溫補腎命之主方。景岳右歸飲、右歸丸皆本諸此。如火未大衰者，以還少丹代之；陽虛極者宜近效白朮湯。</p>
<p><u>各醫書　伎止此</u></p>
<p>　苦寒敗胃及辛熱耗陰，固無論已。即六味、歸脾，何嘗非流俗之套法。</p>
<p><u>甘藥調　回生理</u></p>
<p>　扁鵲云：針藥莫治者，調以甘藥。仲景因之。喻嘉言曰：壽命之本，積精自剛；然精生於穀，穀入少則不能生血，血少則不能化精。《內經》云：精不足者，補之以味。味者，五穀之味也，補以味而節其勞，則積貯漸富，大命不傾也。</p>
<p><u>建中湯　金匱軌</u></p>
<p>　小建中湯及加黃　、加人參、加當歸、加白朮等湯，皆急建其中氣，俾飲食增而津液旺，以至充血生精，而復其真陰之不足。但用稼穡作甘之本味，而酸辛苦鹹在所不用，蓋舍此別無良法也。按炙甘草湯即此湯化為潤劑，喻氏清燥湯即此湯化為涼劑。</p>
<p><u>薯蕷丸　風氣弭</u></p>
<p>　《金匱》薯蕷丸。自注云：治虛癆諸不足，風氣百疾。</p>
<p><u>　蟲丸　干血已</u></p>
<p>　《金匱》大黃　蟲丸。自注：治五癆諸傷，內有干血，肌膚甲錯。</p>
<p><u>二神方　能起死</u></p>
<p>　尤在涇云：風氣不去，則足以賊正氣而生長不榮，以薯蕷丸為要方。</p>
<p>干血不去，則足以留新血而灌溉不周，以　蟲丸為上劑。今之醫輩，能夢見此二方否?</p>
<h3>咳嗽第四</h3>
<p><u>氣上嗆　咳嗽生</u></p>
<p>　《內經》云：五臟六腑皆令人咳，不獨肺也。然肺為氣之市，諸氣上逆於肺，則嗆而咳。是咳嗽不止於肺而亦不離於肺也。</p>
<p><u>肺最重　胃非輕</u></p>
<p>　《內經》雖分五臟諸咳，而所尤重者，在聚於胃關於肺六字。蓋胃中水穀之氣，不能如霧上蒸於肺，而轉溉諸臟，只是留積於胃中，隨熱氣而化為痰，隨寒氣而化為飲。胃中既為痰飲所滯，則輸肺之氣亦必不清，而為諸咳之患矣。</p>
<p><u>肺如鐘　撞則鳴</u></p>
<p>　肺為臟腑之華蓋，呼之則虛，吸之則滿。只受得本然之正氣，受不得外來之客氣。客氣干之，則嗆而咳矣。亦只受得臟腑之清氣，受不得臟腑之病氣。病氣干之，亦嗆而咳矣。肺體屬金，譬若鐘然，一外一內，皆所以撞之使鳴也。</p>
<p><u>風寒入　外撞鳴</u></p>
<p>　經云：微寒微咳。可見咳嗽多因於風寒也。風從皮毛而入於肺，寒從背俞而入於肺，皆主乎外也。後注雖言熱、言濕、言燥，令不自行，亦必假風寒以為之帥也。</p>
<p><u>癆損積　內撞鳴</u></p>
<p>　癆傷、咳嗽，主乎內也。二者不治，至於咳嗽失音，是金破不鳴矣。</p>
<p><u>誰治外　六安行</u></p>
<p>　六安煎雖無深義，卻亦平穩。然外感諸咳，當辨風熱、風燥二症。如冬時先傷非節之暖，復加風寒外遏，以致咳嗽、痰結、咽腫、身重、自汗、脈浮者，風熱也，宜萎蕤湯辛潤之劑，切勿辛熱發散。而風燥一症，辨治尤難。蓋燥為秋氣，令不獨行，必假風寒之威，而令乃振，咳乃發也。《內經》只言秋傷於濕，何也?以長夏受濕土鬱蒸之氣，隨秋令收斂，伏於肺胃之間，直待秋深燥令大行，與濕不能相容，至冬而為咳嗽也。此症有肺燥、胃濕兩難分解之勢，唯《千金》麥門冬湯、五味子湯獨得其秘，後人以斂散不分，燥潤雜出棄之，昧之甚也。</p>
<p><u>誰治內　虛癆程</u></p>
<p>　宜於《虛癆門》擇其對症之方。審是房癆傷精，則補精；審是思郁傷脾，則養神。</p>
<p><u>挾水氣　小龍平</u></p>
<p>　柯韻伯治咳嗽，不論冬夏，不拘淺深，但是寒嗽，俱用小青龍湯多效。方中驅風散寒，解肌逐水，利肺暖腎，除痰定喘，攘外安內，各盡其妙。蓋以肺家沉寒痼冷，非麻黃大將不能搗其巢穴，群藥安能奏效哉。</p>
<p><u>兼鬱火　小柴清</u></p>
<p>　寒熱往來咳嗽者，宜去人參、大棗、生薑，加乾薑、五味治之。</p>
<p><u>薑細味　一齊烹</u></p>
<p>　《金匱》治痰飲咳嗽，不外小青龍東加減。方中諸味，皆可去取，唯細辛、乾薑、五味不肯輕去。即面熱如醉，加大黃以清胃熱，及加石膏、杏仁之類，總不去此三味，學人不可不深思其故也。徐忠可《金匱辨注》有論。</p>
<p><u>長沙法　細而精</u></p>
<p>　《金匱》痰飲咳嗽治法，宜熟讀之。</p>
<h3>瘧疾第五</h3>
<p><u>瘧為病　屬少陽</u></p>
<p>　少陽為半表半裡，邪居其界。入與陰爭則寒，出與陽爭則熱。爭則病作，息則病止，止後其邪仍據於少陽之經。</p>
<p><u>寒與熱　若回翔</u></p>
<p>　寒熱必應期而至。</p>
<p><u>日一發　亦無傷</u></p>
<p>　邪淺則一日一作，邪深則二日一作。</p>
<p><u>三日作　勢猖狂</u></p>
<p>　瘧三日一作，時醫名三陰瘧，留連難愈。</p>
<p><u>治之法　小柴方</u></p>
<p>　以小柴胡湯為主。初起，俗忌人參，姑從俗而去之，加青皮一錢。</p>
<p><u>熱偏盛　加清涼</u></p>
<p>　小柴胡東加知母、花粉、石膏、黃連之類，隨宜擇用。</p>
<p><u>寒偏重　加桂薑</u></p>
<p>　加乾薑、桂枝，甚者加附子、肉桂。</p>
<p><u>邪氣盛　去參良</u></p>
<p>　身熱者，小柴胡湯去人參加桂枝一錢。服後食熱粥，溫覆取微汗。</p>
<p><u>常山入　力倍強</u></p>
<p>　小柴胡東加常山二三錢。俗云邪未淨不可用常山以截之。不知常山非截邪之品，乃驅邪外出之品。仲景用其苗，名曰蜀漆。</p>
<p><u>大虛者　獨參湯</u></p>
<p>　虛人久瘧不愈，以人參一兩、生薑五錢，水煎，五更服極效。貧者，以白朮一兩代之，熱多者以當歸代之。</p>
<p><u>單寒牝　理中匡</u></p>
<p>　單寒無熱名曰牝瘧，宜附子理中東加柴胡治之。</p>
<p><u>單熱癉　白虎詳</u></p>
<p>　單熱無寒，名曰：癉瘧；或先熱後寒，名曰：熱瘧，俱宜以白虎湯，加桂枝治之。時醫以六味東加柴胡、芍藥治之。</p>
<p><u>法外法　辨微茫</u></p>
<p>　以上皆前醫之成法。更法外有法，不可不辨而治之。</p>
<p><u>消陰翳　制陽光</u></p>
<p>　熱之不熱，是無火也；益火之源，以消陰翳。寒之不寒，是無水也；壯水之主，以制陽光。</p>
<p><u>太仆注　慎勿忘</u></p>
<p>　王太仆消陰制陽等注，千古不刊之論。趙養葵遵之，以八味丸益火之源，六味丸壯水之主，久瘧多以此法收功。</p>
<h3>痢症第六</h3>
<p><u>濕熱傷　赤白痢</u></p>
<p>　王損庵論痢，專主濕熱。其症裡急後重，腹痛，欲便不便，膿血穢濁，或白或赤，或赤白相半。</p>
<p><u>熱勝濕　赤痢漬</u></p>
<p>　胃為多氣多血之海。熱，陽邪也。熱勝於濕，則傷胃之血分而為赤痢。</p>
<p><u>濕勝熱　白痢墜</u></p>
<p>　濕，陰邪也。濕勝於熱，則傷胃之氣分而為白痢。赤白相半，則為氣血兩傷。</p>
<p><u>調行箴　須切記</u></p>
<p>　行血，則膿血自愈。調氣，則後重自除。此四句為治初痢之格言，須切記之。</p>
<p><u>芍藥湯　熱盛餌</u></p>
<p>　芍藥湯調氣行血，雖為初痢之總方，究竟宜於熱症。</p>
<p><u>平胃加　寒濕試</u></p>
<p>　寒濕瀉痢初起者，以平胃散，加乾薑、澤瀉、豬苓、木香治之。久而不愈，送下香連丸。</p>
<p><u>熱不休　死不治</u></p>
<p>　方書云：痢症發熱，不休者，不治。</p>
<p><u>痢門方　皆所忌</u></p>
<p>　凡痢症初起即發熱，非肌表有邪，即經絡不和，溫散而調營衛，外邪一解，痢亦松去。若概以為熱，開手即用痢門套方，多有陷入變劇者。</p>
<p><u>桂葛投　鼓邪出</u></p>
<p>　時醫有發汗之戒，以其無外證而妄汗之也。若頭痛、發熱、惡寒，有汗宜用桂枝湯法，無汗宜用葛根湯法，鼓邪外出，然後治其痢。</p>
<p><u>外疏通　內暢遂</u></p>
<p>　此二句是解所以發汗之故也。張飛疇云：當歸四逆湯治痢極效。若發熱而嘔者，小柴胡湯、葛根黃連黃芩甘草湯。口渴下重者，白頭翁湯如神。</p>
<p><u>嘉言書　獨得秘</u></p>
<p>　喻嘉言《醫門法律》中，議論甚見透徹。</p>
<p><u>寓意存　補金匱</u></p>
<p>　喻嘉言《寓意草》中，如麻黃附子細辛湯及人參敗毒散等案，卻能補</p>
<p>《金匱》所未及。</p>
<h3>心腹痛胸痹第七</h3>
<p><u>心胃疼　有九種</u></p>
<p>　真心痛不治。今所云心痛者，皆心胞絡及胃脘痛也。共有九種，宜細辨之。</p>
<p><u>辨虛實　明輕重</u></p>
<p>　虛者喜按，得食則止，脈無力。實者拒按，得食愈痛，脈有力。二症各有輕重。</p>
<p><u>痛不通　氣血壅</u></p>
<p>　痛則不通，氣血壅滯也。</p>
<p><u>通不痛　調和奉</u></p>
<p>　通則不痛，氣血調和也。高士宗云：通之之法，各有不同。調氣以和血，調血以和氣，通也。上逆者使之下行，中結者使之旁達，亦通也。虛者助之使通，寒者溫之使通，無非通之之法也。若必以下泄為通，則妄矣。</p>
<p><u>一蟲痛　烏梅丸</u></p>
<p>　蟲痛，時痛時止，唇舌上有白花點，得食愈痛。蟲為厥陰風木之化，宜烏梅丸。</p>
<p><u>二注痛　蘇合研</u></p>
<p>　入山林古廟及見非常之物，脈乍大乍小，兩手若出兩人，宜蘇合丸，研而灌之。</p>
<p><u>三氣痛　香蘇專</u></p>
<p>　因大怒及七情之氣作痛，宜香蘇飲，加元胡索二錢，七氣湯亦妙。又方，用百合一兩、烏藥三錢，水煎服。</p>
<p><u>四血痛　失笑先</u></p>
<p>　瘀血作痛，痛如刀割，或有積塊，脈澀，大便黑，宜桃仁承氣湯、失笑散。</p>
<p><u>五悸痛　妙香詮</u></p>
<p>　悸痛，即虛痛也。痛有作止，喜按，得食稍止，脈虛弱，宜妙香散或理中湯，加肉桂、木香主之。</p>
<p><u>六食痛　平胃煎</u></p>
<p>　食積而痛，噯腐吞酸，其痛有一條扛起者，宜平胃散，加山楂、穀芽主之，傷酒，再加葛根三錢、砂仁一錢。然新傷吐之、久傷下之為正法。</p>
<p><u>七飲痛　二陳咽</u></p>
<p>　停飲作痛，時吐清水，或脅下有水聲，宜二陳湯，加白朮、澤瀉主之。甚者，十棗湯之類，亦可暫服。</p>
<p><u>八冷痛　理中全</u></p>
<p>　冷痛：身涼、脈細、口中和，宜理中湯，加附子、肉桂主之。兼嘔者，吳茱萸湯主之。</p>
<p><u>九熱痛　金鈴痊</u></p>
<p>　熱痛：身熱、脈數、口中熱，宜金鈴子、元胡索各二兩，研末，黃酒送下二錢。名金鈴子散，甚效。如熱甚者，用黃連、梔子之類，入生薑汁治之。</p>
<p><u>腹中痛　照諸篇</u></p>
<p>　臍上屬太陰，中臍屬少陰，臍下屬厥陰，兩脅屬少陽、厥陰之交界地面，宜分治之。然其大意，與上相同。</p>
<p><u>金匱法　可回天</u></p>
<p>　《金匱要略》中諸議論，皆死症求生之法。</p>
<p><u>諸方論　要拳拳</u></p>
<p>　《中庸》云：得一善則拳拳服膺，而弗失之矣。腹滿痛而下利者，虛也。吐瀉而痛，太陰證也，宜理中湯；雷鳴、切痛、嘔吐者，寒氣也，宜附子粳米湯。此以下利而知其虛也。胸滿痛而大便閉者，實也。閉痛而不發熱者，宜厚朴三物湯專攻其裡；閉痛而兼發熱者，宜厚朴七物湯兼通表裡；閉痛、發熱、痛連脅下、脈緊弦者，宜大黃附子湯溫下並行，此以便閉而知其實也。若繞臍疼痛，名寒疝，烏頭煎之峻，不敢遽用，而當歸生薑羊肉湯之妙，更不可不講也。</p>
<p><u>又胸痹　非偶然</u></p>
<p>　胸膺之上，人身之太空也。宗氣積於此，非偶然也。</p>
<p><u>薤白酒　妙轉旋</u></p>
<p>　栝蔞薤白白酒湯或加半夏或加枳實、薤白桂枝湯之類，皆轉旋妙用。</p>
<p><u>虛寒者　建中填</u></p>
<p>　心胸大寒，痛嘔不能飲食，寒氣上衝，有頭足，不可觸近，宜大建中湯主之。上中二焦，為寒邪所痹，故以參薑啟上焦之陽，合飴糖以建立中氣，而又加椒性之下行，降逆上之氣，復下焦之陽，為補藥主方。</p>
<h3>隔食反胃第八</h3>
<p><u>隔食病　津液干</u></p>
<p>　方書名膈者，以病在膈上是也。又名隔者，以食物不下而阻隔也。津液干枯為隔食病源。</p>
<p><u>胃脘閉　穀食難</u></p>
<p>　胃脘干枯閉小，水飲可行，食物難下。</p>
<p><u>時賢法　左歸餐</u></p>
<p>　趙養葵用大劑六味湯主之。高鼓峰仿趙養葵之法以六味加生地、當歸主之。楊乘六用左歸飲去茯苓，加當歸、生地。以左歸飲中有甘草引入陽明，開展胃陰。去茯苓者，恐其旁流入坎，不如專顧陽明之速效也。</p>
<p><u>胃陰展　賁門寬</u></p>
<p>　如膏如脂，疊積胃底，即胃陰也。久隔之人，則胃陰亡矣。高鼓峰云：治隔一陽明盡之，陽明者胃也。但使胃陰充拓，在上之賁門寬展，則食物入；在下之幽門、闌門滋潤，則二便不閉，而隔症愈矣。</p>
<p><u>啟膈飲　理一般</u></p>
<p>　啟膈飲亦是和胃養陰之意。但此方泄肺氣之郁，彼方救腎水之枯，一陰一陽，宜擇用之。</p>
<p><u>推至理　衝脈干</u></p>
<p>　張石頑云：膈咽之間，交通之氣不得降者，皆衝脈上行，逆氣所作也。</p>
<p><u>大半夏　加蜜安</u></p>
<p>　衝脈不治，取之陽明。仲景以半夏降衝脈之逆，即以白蜜潤陽明之燥，加人參以生既亡之津液，用甘瀾水以降逆上之水液。古聖之經方，惟仲景知用之。</p>
<p><u>金匱秘　仔細看</u></p>
<p>　《金匱》明明用半夏，後人諸書，皆以半夏為戒。毀聖之說，倡自何人?君子惡之!</p>
<p><u>若反胃　實可嘆</u></p>
<p>　食得入而良久反出，名為反胃。</p>
<p><u>朝暮吐　分別看</u></p>
<p>　朝食暮吐，暮食朝吐，與隔食症宜分別而藥之。</p>
<p><u>乏火化　屬虛寒</u></p>
<p>　王太仆云：食不得入，是有火也。食入反出，是無火也。此症屬中焦、下焦火衰無疑。</p>
<p><u>吳萸飲　獨附丸</u></p>
<p>　妙在吳萸鎮厥陰逆氣，配入甘溫，令震坤合德，土木不害。生附子以百沸湯俟溫，浸去鹽，日換湯三次。三日外去皮，放地上，四面以磚圍，外以炭火燒一時，則附子盡裂，乘熱投以薑汁，又如法制之。大抵一斤附子配一斤薑汁，以薑汁乾為度，研末蜜丸。以粟米稀粥，送下二錢。</p>
<p><u>六君類　俱神丹</u></p>
<p>　六君子東加薑附及附子理中湯之類。</p>
<h3>氣喘第九</h3>
<p><u>喘促症　治分門</u></p>
<p>　氣急而上奔，宜分別而治之。</p>
<p><u>鹵莽輩　只貞元</u></p>
<p>　貞元飲是治血虛而氣無所附，以此飲濟之、緩之。方中熟地、當歸之潤，所以濟之。甘草之甘，所以緩之。常服調養之劑，非急救之劑也。今醫遇元氣欲脫上奔之症，每用此飲，以速其危，良可浩嘆!</p>
<p><u>陰霾盛　龍雷奔</u></p>
<p>　喘症多屬飲病。飲為陰邪，非離照當空，群陰焉能退避。若地黃之類，附和其陰，則陰霾沖逆肆空，飲邪滔天莫救，而龍雷之火，愈因以奔騰矣。</p>
<p><u>實喘者　痰飲援</u></p>
<p>　喘症之實者，風寒不解，有痰飲而為之援，則咳嗽甚而喘症作矣。</p>
<p><u>葶藶飲　十棗湯</u></p>
<p>　肺氣實而氣路閉塞為喘者，以葶藶大棗瀉肺湯主之。咳嗽氣喘，心下停飲，兩脅滿痛者，以十棗湯主之。</p>
<p><u>青龍輩　撤其藩</u></p>
<p>　此方解表，兼能利水，治內外合邪，以兩撤之。</p>
<p><u>虛喘者　補而溫</u></p>
<p>　虛喘氣促，不能接續，脈虛細無力，溫補二字宜串看。有以溫為補者，有以補為溫者，切不可走於貞元一路，留滯痰涎也。</p>
<p><u>桂苓類　腎氣論</u></p>
<p>　仲景云：氣短有微飲者，宜從小便去之，桂苓朮甘湯主之，腎氣丸亦主之。</p>
<p><u>平沖逆　泄奔豚</u></p>
<p>　沖氣上逆，宜小半夏加茯苓湯以降之。奔豚症初起，臍下動氣，久則上逆衝心，宜茯苓桂枝甘草大棗湯以安之。</p>
<p><u>真武劑　治其源</u></p>
<p>　經云：其標在肺，其本在腎。真武湯為治喘之源也。</p>
<p><u>金水母　主諸坤</u></p>
<p>　肺屬金而主上，腎屬水而主下，虛喘為天水不交之危候，治病當求其本。須知天水一氣，而位乎天水之中者，坤土也。況乎土為金母，金為水母，危篤之症，必以脾胃為主。</p>
<p><u>六君子　妙難言</u></p>
<p>　六君子東加五味、乾薑、北細辛，為治喘神劑。面腫加杏仁；面熱如醉加大黃。此法時師聞之，莫不驚駭，能讀《金匱》者，始知予言之不謬也。</p>
<p><u>他標劑　忘本根</u></p>
<p>　唯黑錫丹鎮納元氣，為喘症必用之劑。此外如蘇子降氣湯、定喘湯及沉香黑鉛丹，皆是害人之劑。</p>
<h3>血症第十</h3>
<p><u>血之道　化中焦</u></p>
<p>　經曰：中焦受氣取汁，變化而赤，是謂血。</p>
<p><u>本衝任　中溉澆</u></p>
<p>　血之流溢，半隨衝任而行於經絡。</p>
<p><u>溫肌腠　外逍遙</u></p>
<p>　血之流溢，半散於脈外而充肌腠皮毛。</p>
<p><u>六淫逼　經道搖</u></p>
<p>　六淫者，風、寒、暑、濕、燥、火也。經，常也。道，路也。言血所常行之路也，外邪傷之則搖動。</p>
<p><u>宜表散　麻芍條</u></p>
<p>　外傷宜表散。東垣治一人內蘊虛熱，外感大寒而吐血。法仲景麻黃湯加補劑，名麻黃人參芍藥湯，一服而愈。</p>
<p><u>七情病　溢如潮</u></p>
<p>　七情者，喜、怒、哀、懼、愛、惡、欲也。七情之動，出於五志。醫書恆謂五臟各有火，五志激之則火動，火動則血隨火而溢。然五志受傷既久，則火為虛火，宜以甘溫之法治之。</p>
<p><u>引導法　草薑調</u></p>
<p>　甘草乾薑湯，如神，或加五味子二錢。火盛者，加干桑皮三錢、小麥一兩。時醫因歸脾湯有引血歸脾之說，謂引血歸脾即是歸經。試問脾有多大，能容離經之血成斗成盆，盡返而歸於內而不裂破乎?市醫固無論矣，而以名醫自負者，亦蹈此弊，實可痛恨!</p>
<p><u>溫攝法　理中超</u></p>
<p>　理中湯，加木香、當歸煎服。凡吐血服涼藥及滋潤益甚，外有寒冷之象者，是陽虛陰走也，必用此方。血得暖則循行經絡矣。此法出《仁齋直指》。</p>
<p><u>涼瀉法　令瘀銷</u></p>
<p>　火勢盛，脈洪有力，寒涼之劑原不可廢。但今人於血症，每用藕節、黑梔、白芨、舊墨之類以止澀之，致留瘀不散，以為咳嗽虛癆之基。《金匱》瀉心湯，大黃倍於芩連，為寒以行瘀法。柏葉湯治吐不止，為溫以行瘀法。二方為一溫一寒之對子。</p>
<p><u>赤豆散　下血標</u></p>
<p>　糞前下血為近血，《金匱》用當歸赤小豆散。</p>
<p><u>若黃土　實翹翹</u></p>
<p>　糞後下血為遠血，《金匱》用黃土湯。</p>
<p><u>一切血　此方饒</u></p>
<p>　黃土湯，不獨糞後下血方也。凡吐血、衄血、大便血、小便血、婦人血崩及血痢久不止，可以統治之。以此方暖中宮土臟，又以寒熱之品互佐之，步步合法也。</p>
<p>五臟有血，六腑無血。觀剖諸獸腹心下夾脊，包絡中多血，肝內多血，心、脾、肺、腎中各有血，六腑無血。近時以吐血多者，謂為吐胃血，皆耳食昔醫之誤，凡吐五臟血必死。若吐血、衄血、下血，皆是經絡散行之血也。</p>
<h3>水腫第十一</h3>
<p><u>水腫病　有陰陽</u></p>
<p>　腫，皮膚腫大。初起目下有形如臥蠶，後漸及於一身，按之即起為水腫，按之陷而不起為氣腫。景岳以即起為氣，不起為水，究之氣行水即行，水滯氣亦滯，可以分，可以不必分也。只以陰水，陽水為分別。</p>
<p><u>便清利　陰水殃</u></p>
<p>　小便自利、口不渴屬寒，名為陰水。</p>
<p><u>便短縮　陽水傷</u></p>
<p>　小便短縮、口渴屬熱，名為陽水。</p>
<p><u>五皮飲　元化方</u></p>
<p>　以皮治皮，不傷中氣。方出華元化《中藏經》。</p>
<p><u>陽水盛　加通防</u></p>
<p>　五皮飲加木通、防己、赤小豆之類。</p>
<p><u>陰水盛　加桂薑</u></p>
<p>　五皮飲加乾薑、肉桂、附子之類。</p>
<p><u>知實腫　蘿枳商</u></p>
<p>　知者，真知其病情，而無兩可之見。壯年腫病，驟起脈實者，加蘿卜子、枳實之類。</p>
<p><u>知虛腫　參朮良</u></p>
<p>　老弱病久，腫漸成，脈虛者，加人參、白朮之類。</p>
<p><u>兼喘促　真武湯</u></p>
<p>　腫甚、小便不利、氣喘、尺脈虛者，宜真武湯暖土行水。間用桂苓甘術湯化太陽之氣，守服十余劑；繼用導水茯苓湯二劑愈。今人只重加味腎氣丸，而不知其補助陰氣，反益水邪，不可輕服也。</p>
<p><u>從俗好　別低昂</u></p>
<p>　以上諸法，皆從俗也。然從俗中而不逾先民之矩　，　亦可以救人。</p>
<p><u>五水辨　金匱詳</u></p>
<p>　病有從外感而成者，名風水。病從外感而成，其邪已滲入於皮，不在表而在裡者，名皮水。病有不因於風，由三陰結而成水者，名正水。病有陰邪多而沉於下者，名石水。病有因風因水傷心鬱熱，名黃汗。《金匱》最詳，熟讀全書，自得其旨，否則鹵莽誤事耳。藥方中精義頗詳，宜細玩之。</p>
<p><u>補天手　十二方</u></p>
<p>　越婢湯、防己茯苓湯、越婢加白朮湯、甘草麻黃湯、麻黃附子湯、杏子湯、蒲灰散、　芍桂酒湯、桂枝加黃　湯、桂甘薑棗麻辛附子湯、枳朮湯、附方《外台》防己黃　湯。</p>
<p><u>肩斯道　勿炎涼</u></p>
<p>　群言淆亂衷於聖，以斯道為己任，勿與世為浮沉，余有濃望焉。</p>
<h2>卷之二</h2>
<h3>脹滿蠱脹第十二(水腫參看)</h3>
<p><u>脹為病　辨實虛</u></p>
<p>　脹者，脹之於內也。虛脹誤攻則壞，實脹誤補則增。</p>
<p><u>氣驟滯　七氣疏</u></p>
<p>　七氣湯能疏通滯氣。</p>
<p><u>滿拒按　七物祛</u></p>
<p>　腹滿拒按，宜《金匱》厚朴七物湯，即桂枝湯小承氣湯合用，以兩解表裡之實邪也。</p>
<p><u>脹閉痛　三物鋤</u></p>
<p>　腹滿而痛，若大便實者，宜《金匱》厚朴三物湯，行氣中兼蕩實法，以鋤其病根。</p>
<p>以上言實脹之治法。</p>
<p><u>若虛脹　且躊躇</u></p>
<p>　仔細診視，勿輕下藥。</p>
<p><u>中央健　四旁如</u></p>
<p>　喻嘉言云：執中央以運四旁，千古格言。</p>
<p><u>參竺典　大地輿</u></p>
<p><u>單腹脹　實難除</u></p>
<p>　四肢不腫而腹大如鼓。</p>
<p><u>山風卦　指南車</u></p>
<p><u>易中旨　費居諸</u></p>
<h3>暑症第十三</h3>
<p><u>傷暑症　動靜商</u></p>
<p>　夏月傷暑分動靜者，說本東垣。</p>
<p><u>動而得　熱為殃</u></p>
<p>　得於長途赤日，身熱如焚，面垢，體倦，口渴，脈洪而弱。</p>
<p><u>六一散　白虎湯</u></p>
<p>　六一散治一切暑症。白虎東加人參者，以大汗不止，暑傷元氣也，加蒼朮者，治身熱足冷，以暑必挾濕也。</p>
<p><u>靜而得　起貪涼</u></p>
<p>　處於高廈深室，畏熱貪涼，受陰暑之氣。</p>
<p><u>惡寒象　熱逾常</u></p>
<p>　惡寒與傷寒同，而發熱較傷寒倍盛。</p>
<p><u>心煩辨　切莫忘</u></p>
<p>　雖同傷寒，而心煩以別之；且傷寒脈盛，傷暑脈虛。</p>
<p><u>香薷飲　有專長</u></p>
<p>　香薷發汗利水，為暑症之專藥也。有謂夏月不可用香薷，則香薷將用於何時也?</p>
<p><u>大順散　從症方</u></p>
<p>　此治暑天畏熱貪涼成病，非治暑也。此舍時從症之方。</p>
<p><u>生脈散　久服康</u></p>
<p>　此夏月常服之劑，非治病方也。</p>
<p><u>東坦法　防氣傷</u></p>
<p>　暑傷元氣，藥宜從補，東垣清暑益氣湯頗超。</p>
<p><u>雜說起　道弗彰</u></p>
<p>　以上皆諸家之臆說。而先聖之道，反為之晦，若行道人，不可不熟記之，以資顧問。</p>
<p><u>若精蘊　祖仲師</u></p>
<p>　仲景《傷寒論》《金匱要略‧痙濕　篇》，字字皆精義奧蘊。</p>
<p><u>太陽病　旨在茲</u></p>
<p>　仲師謂太陽中　，太陽二字，大眼目也。因人俱認為熱邪，故提出太陽二字以喝醒之，寒暑皆為外邪。中於陽而陽氣盛，則寒亦為熱；中於陽而陽氣虛，則暑亦為寒。若中於陰，無分寒暑，皆為陰症。如酷暑炎熱，並無寒邪，反多陰症。總之，邪之中人，隨人身之六氣、陰陽、虛實而旋轉變化，非必傷寒為陰，中暑為陽也。</p>
<p><u>經脈辨　標本歧</u></p>
<p>　師云：太陽中　發熱者，病太陽而得標陽之氣也。惡寒者，病太陽而得本寒之氣也。身重而疼痛者，病太陽通體之經也。脈弦細芤遲者，病太陽通體之脈也。小便已洒洒然毛聳、手足逆冷者，病太陽本寒之氣不得陽熱之化也。小有勞身即熱、口開、前板齒燥者，病太陽標陽之化不得陰液之滋也。此太陽中　，標本經脈皆病。治當助其標本，益其經脈；若妄施汗下溫針，則誤矣。</p>
<p><u>臨症辨　法外思</u></p>
<p>　愚按：借用麻杏石甘湯治中暑頭痛、汗出、氣喘、口渴之外症，黃連阿膠雞子黃湯治心煩不得臥之內症，至柴胡、梔子、承氣等湯，俱可取用。師云：渴者與豬苓湯。又云：瘀熱在裡，用麻連軺豆湯，育陰利濕，俱從小便而出。此法外之法，神而明之，存乎其人焉。</p>
<p><u>方兩出　大神奇</u></p>
<p>　暑之中人，隨人之陰陽、虛實為旋轉變化。如陽臟多火，暑即寓於火之中，為汗出而煩渴，師有白虎加人參之法。如陰臟多濕，暑即伏於濕之內，為身熱、疼重、脈微弱，師以夏月傷冷水，水行皮膚所致，指暑病以濕為病，治以一物瓜蒂湯，令水去而濕無所依，而亦解也。</p>
<h3>泄瀉第十四</h3>
<p><u>濕氣勝　五瀉成</u></p>
<p>　《書》云：濕成五泄。</p>
<p><u>胃苓散　厥功宏</u></p>
<p>　胃苓散暖脾、平胃、利水，為泄瀉之要方。</p>
<p><u>濕而冷　萸附行</u></p>
<p>　胃苓散加吳茱萸、附子之類，腹痛，加木香。</p>
<p><u>濕而熱　連芩程</u></p>
<p>　胃苓散加黃芩、黃連，熱甚，去桂枝加葛根。</p>
<p><u>濕挾積　曲楂迎</u></p>
<p>　食積，加山楂、神麯；酒積，加葛根。</p>
<p><u>虛兼濕　參附苓</u></p>
<p>　胃苓散加人參、附子之類。</p>
<p><u>脾腎瀉　近天明</u></p>
<p>　五鼓以後瀉者，腎虛也。瀉有定時者，土主信，脾虛也。故名脾腎瀉。</p>
<p><u>四神服　勿紛更</u></p>
<p>　四神丸加白朮、人參、乾薑、附子、茯苓、罌粟殼之類為丸，久服方效。</p>
<p><u>恆法外　內經精</u></p>
<p>　照此法治而不愈者，宜求之《內經》。</p>
<p><u>腸臟說　得其情</u></p>
<p>　腸熱臟寒，腸寒臟熱。《內經》精義，張石頑頗得其解。</p>
<p><u>瀉心類　特丁寧</u></p>
<p>　諸瀉心湯張石頑俱借來治瀉，與《內經》之旨頗合。詳載《醫學從眾錄》。</p>
<h3>眩暈第十五</h3>
<p><u>眩暈症　皆屬肝</u></p>
<p>　《內經》云：諸風掉眩，皆屬於肝。</p>
<p><u>肝風木　相火干</u></p>
<p>　厥陰為風木之臟，厥陰風木為少陽相火所居。</p>
<p><u>風火動　兩動摶</u></p>
<p>　風與火皆屬陽而主動，兩動相摶，則為旋轉。</p>
<p><u>頭旋轉　眼紛繁</u></p>
<p>　此二句，寫眩暈之象也。</p>
<p><u>虛痰火　各分觀</u></p>
<p>　仲景主痰飲。丹溪宗河間之說，謂無痰不眩，無火不暈。《內經》云：精虛則眩。又云：腎虛則頭重高搖，髓海不足則腦轉耳鳴。諸說不同如此。</p>
<p><u>究其指　總一般</u></p>
<p>　究其殊途同歸之旨，木動則生風，風生而火發，故河間以風火立論也。風生必挾木勢而克土，土病則聚液而成痰，故仲景以痰飲立論、丹溪以痰火立論也。究之腎為肝母，腎主藏精，精虛則腦空，腦空則旋轉而耳鳴。故《內經》以精虛及髓海不足立論也。言虛者言其病根，言實者言其病象，其實一以貫之也。</p>
<p><u>痰火亢　大黃安</u></p>
<p>　寸脈滑，按之益堅者，為上實。丹溪用大黃一味，酒炒三遍為末，茶調下一二錢。</p>
<p><u>上虛甚　鹿茸餐</u></p>
<p>　寸脈大，按之即散者，為上虛，宜鹿茸酒。鹿茸生於頭，取其以類相從，且入督脈而通於腦。每用半兩酒煎去滓，入麝香少許服。或用補中益氣湯及　朮膏之類。此症如鉤藤、天麻、菊花之類，俱可為使。</p>
<p><u>欲下取　求其端</u></p>
<p>　端，頭也，謂尋到源頭也。欲榮其上，必灌其根，古人有上病下取法。</p>
<p><u>左歸飲　正元丹</u></p>
<p>　左歸飲加肉蓯蓉、川芎、細辛甚效，正元丹亦妙。</p>
<h3>嘔噦吐第十六(呃逆附)</h3>
<p><u>嘔吐噦　皆屬胃</u></p>
<p>　嘔字從漚，漚者水也，口中出水而無食也。吐字從土，土者食也，口中吐食而無水也。嘔吐者，水與食並出也。噦者，口中有穢味也，又謂之乾嘔，口中有穢味，未有不乾嘔也。呃逆者，氣衝有聲，聲短而頻也。其病皆屬於胃。</p>
<p><u>二陳加　時醫貴</u></p>
<p>　二陳湯倍生薑，安胃降逆藥也。寒加丁香、砂仁；若熱，加黃連、鮮竹茹、石斛之類。</p>
<p><u>玉函經　難仿佛</u></p>
<p>　寒熱攻補，一定不移。</p>
<p><u>小柴胡　少陽謂</u></p>
<p>　寒熱往來而嘔者，屬少陽也。</p>
<p><u>吳茱萸　平酸味</u></p>
<p>　吳茱萸湯治陽明食穀欲嘔者，又治少陰症吐利、手足逆冷、煩躁欲死者，又治乾嘔吐涎沫者。此症嘔吐，多有酸味。</p>
<p><u>食已吐　胃熱沸</u></p>
<p>　食已即吐，其人胃素有熱，食復入，兩熱相沖，不得停留。</p>
<p><u>黃草湯　下其氣</u></p>
<p>　大黃甘草湯治食已即吐。《金匱》云：欲吐者不可下之。又云：食已即吐者，大黃甘草湯下之。何也?曰：病在上而欲吐，宜因而越之。若逆之使下，則必憒亂益甚。若既吐矣，吐而不已，是有升無降，當逆折之。</p>
<p><u>食不入　火堪畏</u></p>
<p>　王太仆云：食不得入，是有火也。</p>
<p><u>黃連湯　為經緯</u></p>
<p>　喻嘉言用進退黃連湯，柯韻伯用乾薑黃連黃芩人參湯，推之瀉心湯亦可借用，以此數湯為經緯。</p>
<p><u>若呃逆　代赭匯</u></p>
<p>　代赭旋覆湯治噫氣，即治呃逆。若久病呃逆，為胃氣將絕，用人參一兩，乾薑、附子各三錢，丁香、柿蒂各一錢，可救十中之一。</p>
<h3>癲狂癇第十七</h3>
<p><u>重陽狂　重陰癲</u></p>
<p>　《內經》云：重陽者狂，重陰者癲。</p>
<p><u>靜陰象　動陽宣</u></p>
<p>　癲者笑哭無時，語言無序，其人常靜。狂者詈罵不避親疏，其人常動。</p>
<p><u>狂多實　痰宜蠲</u></p>
<p>　蠲除頑痰，滾痰丸加烏梅、朱砂治之，生鐵落飲、當歸承氣湯亦妙。</p>
<p><u>癲虛發　石補天</u></p>
<p>　磁朱丸是煉石補天手法，駱氏《內經拾遺》用溫膽湯。</p>
<p><u>忽搐搦　癇病然</u></p>
<p>　手足抽掣，猝倒無知，忽作忽止，病有間斷，故名曰癇。</p>
<p><u>五畜狀　吐痰涎</u></p>
<p>　肺如犬吠，肝如羊嘶，心如馬鳴，脾如牛吼，腎如豬叫，每發必口角流涎。</p>
<p><u>有生病　歷歲年</u></p>
<p>　由母腹中受驚，積久失調，一觸而發。病起於有生之初，非年來之新病也。《內經拾遺》用溫膽湯，柯韻伯用磁朱丸。</p>
<p><u>火氣亢　蘆薈平</u></p>
<p>　火氣亢，必以大苦大寒之劑以降之，宜當歸蘆薈丸。</p>
<p><u>痰積痼　丹礬穿</u></p>
<p>　丹礬丸能穿入心胞絡，導其痰涎從大便而出，然不如磁朱丸之妥當。</p>
<p><u>三症本　厥陰愆</u></p>
<p>　以上治法，時醫習用而不效者，未知其本在於厥陰也。厥陰屬風木，與少陽相火同居。厥陰之氣逆，則諸氣皆逆。氣逆則火發，火發則風生。風生則挾木勢而害土，土病則聚液而成痰。痰成必歸迸入心，為以上諸症。</p>
<p><u>體用變　標本遷</u></p>
<p>　其本陰，其體熱。</p>
<p><u>伏所主　所因先</u></p>
<p>　伏其所主，先其所因。</p>
<p><u>收散互　逆從連</u></p>
<p>　或收或散，或逆或從，隨所利而行之。</p>
<p><u>和中氣　妙轉旋</u></p>
<p>　調其中氣，使之和平。</p>
<p>自伏所主至此，其小注俱《內經》本文。轉旋，言心手靈活也，其要旨在調其中氣二句。中氣者，土氣也。治肝不應，當取陽明，制其侮也。</p>
<p><u>悟到此　治立痊</u></p>
<p>　症雖可治，而任之不專，亦無如之何矣。</p>
<h3>五淋癃閉赤白濁遺精第十八</h3>
<p><u>五淋病　皆熱結</u></p>
<p>　淋者，小便痛澀淋瀝，欲去不去，欲止不止是也，皆熱氣結於膀胱。</p>
<p><u>膏石勞　氣與血</u></p>
<p>　石淋下如沙石，膏淋下如膏脂，勞淋從勞力而得，氣淋氣滯不通、臍下悶痛，血淋瘀血停蓄、莖中割痛。</p>
<p><u>五淋湯　是秘訣</u></p>
<p>　石淋以此湯煎送發灰、滑石、石首魚頭內石研末。膏淋合萆　分）</p>
<p>清飲。氣淋加荊芥、香附、生麥芽；不愈，再加升麻或用吐法。勞淋合補中益氣湯。血淋加牛膝、鬱金、桃仁，入麝香少許溫服。</p>
<p><u>敗精淋　加味啜</u></p>
<p>　過服金石藥，與老人陽已痿，思色以降其精，以致內敗而為淋，宜前東加萆　、石菖蒲、菟絲子以導之。</p>
<p><u>外冷淋　腎氣咽</u></p>
<p>　五淋之外，又有冷淋。其症外候惡冷，喜飲熱湯，宜加味腎氣丸以鹽湯咽下。</p>
<p><u>點滴無　名癃閉</u></p>
<p>　小便點滴不通，與五淋之短縮不同。</p>
<p><u>氣道調　江河決</u></p>
<p>　前東加化氣之藥，或吞滋腎丸多效。《孟子》云：若決江河，沛然莫之能御也。引來喻小便之多也。</p>
<p><u>上竅通　下竅泄</u></p>
<p>　如滴水之器，閉其上而倒懸之，點滴不能下也。去其上閉，而水自通。宜服補中益氣湯，再服以手探吐。</p>
<p><u>外竅開　水源鑿</u></p>
<p>　又法：啟其外竅，即以開其內竅。麻黃力猛，能通陽氣於至陰之地下；肺氣主皮毛，配杏仁以降氣下達州都，導水必自高原之義也，以前飲加此二味甚效。夏月不敢用麻黃，以蘇葉、防風，杏仁等分水煎服，溫覆微汗，水即利矣。虛人以人參、麻黃各一兩水煎服，神效。</p>
<p><u>分利多　醫便錯</u></p>
<p>　愈利愈閉矣。</p>
<p><u>濁又殊　竅道別</u></p>
<p>　淋出溺竅，濁出精竅。</p>
<p><u>前飲投　精愈涸</u></p>
<p>　水愈利而腎愈虛矣。</p>
<p><u>腎套談　理脾恪</u></p>
<p>　治濁只用腎家套藥，不效。蓋以脾主土，土病濕熱下注，則小水混濁。濕勝於熱則為白濁，熱勝於濕則為赤濁，濕熱去則濁者清矣。</p>
<p><u>釐清飲　佐黃柏</u></p>
<p>　萆　釐清飲加蒼朮、白朮，再加黃柏苦以燥濕，寒以除熱。</p>
<p><u>心腎方　隨補綴</u></p>
<p>　六八味湯丸加龍、牡，腎藥也。四君子東加遠志，心藥也。心腎之藥與前飲間服。</p>
<p><u>若遺精　另有設</u></p>
<p>　與濁病又殊。</p>
<p><u>有夢遺　龍膽折</u></p>
<p>　有夢而遺，相火旺也。余每以龍膽瀉肝湯送下五倍子丸二錢，多效。</p>
<p>張石頑云：肝熱則火淫於內，魂不內守，故多淫夢失精。又云：多是陰虛陽擾，其作必在黎明陽氣發動之時，可以悟矣。妙香散甚佳。</p>
<p><u>無夢遺　十全設</u></p>
<p>　無夢而遺，是氣虛不能攝精，宜十全大補湯，加龍骨、牡蠣、蓮須、五味子、黃柏，為丸常服。</p>
<p><u>坎離交　亦不切</u></p>
<p>　時醫遇此症，便云心腎不交，用茯神、遠志、蓮子、棗仁之類，未中病情，皆不切之套方也。</p>
<h3>疝氣第十九</h3>
<p><u>疝任病　歸厥陰</u></p>
<p>　經云：任脈為病，外結七疝，女子帶下瘕聚。丹溪專治厥陰者，以肝主筋，又主痛也。</p>
<p><u>寒筋水　氣血尋</u></p>
<p>　寒疝、水疝、筋疝、氣疝、血疝。</p>
<p><u>狐出入　頑麻</u></p>
<p>　狐疝：臥則入腹，立則出腹。　疝：大如升斗，頑麻不痛。</p>
<p><u>　治氣　景岳箴</u></p>
<p>　景岳云：疝而曰氣者，病在氣也。寒有寒氣，熱有熱氣，濕有濕氣，逆有逆氣，俱當兼用氣藥也。</p>
<p><u>五苓散　加減斟</u></p>
<p>　《別錄》以此方加川楝子、木通、橘核、木香，通治諸疝。</p>
<p><u>茴香料　著醫林</u></p>
<p>　三層茴香丸治久疝，雖三十年之久，大如栲栳，皆可消散。</p>
<p><u>痛不已　須洗淋</u></p>
<p>　陰腫核中痛，《千金翼》用雄黃一兩、礬石二兩、甘草一尺，水一斗，煮二升洗之，如神。</p>
<h3>痰飲第二十</h3>
<p><u>痰飲源　水氣作</u></p>
<p>　水氣上逆，得陽煎熬則稠而成痰，得陰凝聚則稀而成飲。然水歸於腎，而受制於脾，治者必以脾腎為主。</p>
<p><u>燥濕分　治痰略</u></p>
<p>　方書支離不可聽。只以燥濕為辨，燥痰宜潤肺，濕痰宜溫脾，握要之法也。宜參之虛癆、咳嗽等篇。或老痰宜王節齋化痰丸，實痰怪症，宜滾痰丸之類。</p>
<p><u>四飲名　宜斟酌</u></p>
<p>　《金匱》云：其人素盛今瘦，水走腸間，瀝瀝有聲，謂之痰飲。注：即今之久咳痰喘是也。飲後水流在脅下，咳唾引痛，謂之懸飲。注：即今之停飲脅痛症也。</p>
<p>飲水流行，歸於四肢，當汗出而不汗出，身體疼重，謂之溢飲。注：即今之風水、水腫症也。咳逆倚息，氣短不得臥，其形如腫，謂之支飲。注：今之停飲喘滿不得臥症也。又支飲，偏而不中正也。</p>
<p><u>參五臟　細量度</u></p>
<p>　四飲猶未盡飲邪之為病也，凡五臟有偏虛之處，而飲留之。言臟不及腑者，腑屬陽，在腑則行矣。《金匱》曰：水在心，心下堅築短氣，惡水不欲飲。水在肺，吐涎沫欲飲水。水在脾，少氣身重。水在肝，脅下支滿，嚏而痛。水在腎，心下悸。</p>
<p><u>補和攻　視強弱</u></p>
<p>　宜補、宜攻、宜和，視乎病情，亦視乎人之本體強弱而施治也。</p>
<p><u>十六方　各鑿鑿</u></p>
<p>　苓桂朮甘湯、腎氣丸、甘遂半夏湯、十棗湯、大青龍湯、小青龍湯、木防己湯、木防己加茯苓芒硝湯、澤瀉湯、厚朴大黃湯、葶藶大棗瀉肺湯、小半夏湯、己椒葶藶丸、小半夏加茯苓湯、五苓散、《外台》茯苓飲。</p>
<p><u>溫藥和　博返約</u></p>
<p>　《金匱》云：病痰飲者，當以溫藥和之。忽揭出溫藥和之四字，即金針之度也。蓋痰飲，水病也，水歸於腎，而受制於脾；欲水由地中行而歸其壑者，非用溫藥以化氣不可也；欲水不泛溢而築以堤防者，非用溫藥以補脾不可也。如苓桂朮甘湯、腎氣丸、小半夏湯、五苓散之類，皆溫藥也。即如十棗湯之十枚大棗，甘遂半夏湯之半升白蜜，木防己湯之參、桂，葶藶湯之大棗，亦寓溫和之意。至於攻下之法，不過一時之權宜，而始終不可離溫藥之旨也。</p>
<p><u>陰霾除　陽光灼</u></p>
<p>　飲為陰邪，必使離照當空，而群陰方能退散。余每用參苓朮附加生薑汁之類取效。</p>
<p><u>滋潤流　時醫錯</u></p>
<p>　方中若雜以地黃、麥冬、五味附和其陰，則陰霾沖逆肆空，飲邪滔天莫救矣，即腎氣丸亦宜慎用。</p>
<p><u>真武湯　水歸壑</u></p>
<p>　方中以茯苓之淡以導之，白朮之燥以制之，生薑之辛以行之，白芍之苦以泄之，得附子本經之藥，領之以歸其壑。</p>
<p><u>白散方　窺秘鑰</u></p>
<p>　《三因》白散之妙，喻嘉言解之甚詳。見於《醫門法律‧中風門》</p>
<h3>消渴第二十一</h3>
<p><u>消渴症　津液干</u></p>
<p>　口渴不止為上消，治以人參白虎湯。食入即飢為中消，治以調胃承氣湯。飲一溲一小便如膏為下消，治以腎氣丸。其實皆津液干之病也，趙養葵變其法。</p>
<p><u>七味飲　一服安</u></p>
<p>　趙養葵云：治消症無分上、中、下，但見大渴、大燥，須六味丸料一斤、肉桂一兩、五味子一兩，水煎六七碗，恣意冷凍飲料之，睡熟而渴如失矣。白虎、承氣湯皆非所治也。</p>
<p><u>金匱法　別三般</u></p>
<p>　能食而渴者，重在二陽論治。以手太陽主津液，足太陽主血也。飲一溲一者，重在少陰論治。以腎氣虛不能收攝，則水直下趨，腎氣虛不能蒸動，則水不能上濟也。不能食而氣衝者，重在厥陰論治。以一身中唯肝火最橫，燔灼無忌，耗傷津液，而為消渴也。《金匱》論消渴，開口即揭此旨，以補《內經》之未及，不必疑其錯簡也。</p>
<p><u>二陽病　治多端</u></p>
<p>　勞傷榮衛，漸鬱而為熱者，炙甘草湯可用，喻嘉言清燥湯即此湯變甘溫為甘寒之用也。熱氣蒸胸者，人參白虎湯可用，《金匱》麥門冬湯即此湯變甘寒而為甘平之用也。消穀大堅者，麻仁丸加甘草、人參、當歸可用，妙在滋液之中攻其堅也。蓋堅則不能消水，如以水投石，水去而石自若也。消症屬火，內郁之火本足以消水，所飲之水本足以濟渴。只緣胃中堅燥，全不受水之浸潤，轉從火熱之勢，急走膀胱，故小便愈數而愈堅，愈堅而愈消矣。此論本喻嘉言，最精。</p>
<p><u>少陰病　腎氣寒</u></p>
<p>　飲水多小便少名上消，食穀多而大便堅名食消、亦名中消，上中二消屬熱。唯下消症飲一溲一，中無火化，可知腎氣之寒也，故用腎氣丸。</p>
<p><u>厥陰症　烏梅丸</u></p>
<p>　方中甘、辛、苦、酸並用。甘以緩之，所以遂肝之志也。辛以散之，所以悅肝之神也。苦以降之，則逆上之火順而下行矣。酸以收之，以還其曲直作酸之本性，則率性而行所無事矣。故此丸為厥陰症之總劑。治此症除此丸外，皆不用苦藥，恐苦從火化也。</p>
<p><u>變通妙　燥熱餐</u></p>
<p>　有脾不能為胃行其津液，肺不能通調水道而為消渴者，人但知以清潤治之，而不知脾喜燥而肺惡寒。試觀泄瀉者必渴，此因水津不能上輸而惟下泄故爾。以燥脾之藥治之，水液上升即不渴矣。余每用理中丸湯倍白朮加栝蔞根，神效。</p>
<h3>傷寒瘟疫第二十二</h3>
<p><u>傷寒病　極變遷</u></p>
<p>　太陽主一身之表，司寒水之經。凡病自外來者，皆謂傷寒，非寒熱之變也。變遷者，或三陽、或三陰、或寒化、或熱化，及轉屬、合並之異。</p>
<p><u>六經法　有真傳</u></p>
<p>　太陽寒水，其經主表，編中備發汗諸法。陽明燥金，其經主裡，編中備攻裡諸法。少陽相火，其經居表裡之界，所謂陽樞也，編中備和解諸法。太陰濕土，純陰而主寒，編中備溫補諸法。少陰君火，標本寒熱不同，所謂陰樞也，編中寒熱二法並立。厥陰風木，木中有火而主熱，編中備清火諸法。雖太陽亦有裡症，陽明亦有表症，太陰亦有熱症，厥陰亦有寒症，而提綱卻不在此也。</p>
<p><u>頭項病　太陽編</u></p>
<p>　三陽俱主表，而太陽為表中之表也。論以頭痛、項強、發熱、惡寒為提綱，有汗宜桂枝湯，無汗宜麻黃湯。</p>
<p><u>胃家實　陽明編</u></p>
<p>　陽明為表中之裡，主裡實症，宜三承氣湯。論以胃家實為提綱。又鼻干、目痛、不眠為經病。若惡寒、頭痛，為未離太陽。審其有汗、無汗，用桂枝、麻黃法。</p>
<p>無頭痛、惡寒，但見壯熱、自汗、口渴，為已離太陽，宜白虎湯。仲景提綱不以此者，凡解表諸法求之太陽，攻裡諸法求之陽明，立法之嚴也。</p>
<p><u>眩苦嘔　少陽編</u></p>
<p>　少陽居太陽陽明之界，謂之陽樞，寒熱相雜。若寒熱往來於外，為胸脅滿煩，宜大小柴胡湯。若寒熱互搏於中，嘔吐腹痛，宜黃連湯。痞滿嘔逆，宜半夏瀉心湯。拒格食不入，宜乾薑黃連人參湯。若邪全入於膽府，下攻於脾為自利，宜黃芩湯。上逆於胃，利又兼嘔，宜黃芩加半夏生薑湯。論以口苦、咽乾、目眩為提綱。</p>
<p><u>吐利痛　太陰編</u></p>
<p>　太陰濕土，為純陰之臟，從寒化者多，從熱化者少，此經主寒症而言，宜理中湯、四逆湯為主，第原本為王叔和所亂耳。論以腹中滿、吐食、自利不渴、手足自溫、腹時痛為提綱。</p>
<p><u>但欲寐　少陰編</u></p>
<p>　少陰居太陰厥陰之界，謂之陰樞，有寒有熱。論以脈微細、但欲寐為提綱。寒用麻黃附子細辛湯、麻黃附子甘草湯及白通湯、通脈四逆湯。熱用豬苓湯、黃連雞子黃湯及大承氣湯諸法。</p>
<p><u>吐蛔渴　厥陰編</u></p>
<p>　厥陰，陰之盡也。陰盡陽生，且屬風木，木中有火，主熱症而言。論以消渴、氣上衝心、心中疼熱、飢不欲食、食則吐蛔、下之利不止為提綱，烏梅丸主之。自利下重飲水者，白頭翁湯主之。凡一切宜發表法，備之太陽。一切宜攻裡法，備之陽明。一切宜和解法，備之少陽。一切宜溫補法，備之太陰。一切宜寒涼法，備之厥陰。一切寒熱兼用法，備之少陰。此仲景《傷寒論》之六經與《內經‧熱病論》之六經不同也。</p>
<p><u>長沙論　嘆高堅</u></p>
<p>　仰之彌高，鑽之彌堅。</p>
<p><u>存津液　是真詮</u></p>
<p>　(存津液是全書宗旨，善讀書者，讀於無字處)如桂枝湯甘溫以解肌養液也；即麻黃湯直入皮毛，不加薑之辛熱，棗之甘壅，從外治外，不傷營氣，亦養液也；承氣湯急下之，不使邪火灼陰，亦養液也；即麻黃附子細辛湯用附子以固少陰之根，令津液內守，不隨汗渙，亦養液也；麻黃附子甘草湯以甘草易細辛，緩麻黃於中焦，取水穀之津而為汗，毫不傷陰，更養液也。推之理中湯、五苓散，必啜粥飲。小柴胡湯、吳茱萸湯皆用人參，何一而非養液之法乎?</p>
<p><u>汗吐下　溫清懸</u></p>
<p>　在表宜汗，在胸膈宜吐，在裡宜下。寒者溫之，熱者清之。</p>
<p><u>補貴當　方而圓</u></p>
<p>　虛則補之。合上為六法。曰方而圓者，言一部《傷寒論》全是活法。</p>
<p><u>規矩廢　甚於今</u></p>
<p>　自王叔和而後，注家多誤。然亦是非參半，今則不知《傷寒論》為何物，規矩盡廢矣。</p>
<p><u>二陳尚　九味尋</u></p>
<p>　人皆曰二陳湯為發汗平穩之劑，而不知茯苓之滲，半夏之澀，皆能留邪生熱，變成譫語、不便等症。人皆曰九味羌活湯視麻桂二湯較妥，而不知太陽病重，須防侵入少陰。此方中有芩、地之苦寒，服之不汗，恐苦寒陷入少陰，變成脈沉細但欲寐之症；服之得汗，恐苦寒戕伐腎陽，陽虛不能內固，變成遂漏不止之症。時醫喜用此方，其亦知此方之流弊，害人匪淺也。</p>
<p><u>香蘇外　平胃臨</u></p>
<p>　香蘇飲力量太薄，不能驅邪盡出，恐余邪之傳變多端。平胃散為燥濕消導之劑，仲景從無燥藥發汗之法。且外邪未去，更無先攻其內法。</p>
<p><u>汗源涸　耗真陰</u></p>
<p>　陰者，陽之家也。桂枝湯之芍藥及啜粥，俱是滋陰以救汗源。麻黃湯之用甘草與不啜粥，亦是保陰以救汗源。景岳誤認其旨，每用歸、地，貽害不少。</p>
<p><u>邪傳變　病日深</u></p>
<p>　治之得法，無不即愈。若逆症、壞症、過經不愈之症，皆誤治所致也。</p>
<p><u>目擊者　實痛心</u></p>
<p>　人之死於病者少，死於藥者多。今行道人先學利口，以此藥殺人，即以此藥得名，是可慨也。</p>
<p><u>醫醫法　腦後針</u></p>
<p>　聞前輩云，醫人先當醫醫。以一醫而治千萬人，不過千萬人計耳。救一醫便救千萬人，救千萬醫便救天下後世無量恆河沙數人耳。余所以於醫者腦後，痛下一針。</p>
<p><u>若瘟疫　治相侔</u></p>
<p>　四時不正之氣，及方土異氣，病患穢氣，感而成病，則為瘟疫。雖有從經絡入、從口鼻入之分，而見證亦以六經為據，與傷寒同。</p>
<p><u>通聖散　兩解求</u></p>
<p>　仲師於太陽條，獨挈出發熱不惡寒而渴為溫病，是遵《內經》人傷於寒，則為熱病；冬傷於寒，春必病溫；先夏至日為病溫，後夏至日為病暑之三說也。初時用麻杏甘石湯，在經用白虎加人參湯，入裡用承氣湯及陽明之茵陳蒿湯，少陰之黃連阿膠湯、豬苓湯，厥陰之白頭翁湯等，皆其要藥，究與瘟疫之病不同也。瘟疫之病，皆新感乖戾之氣而發，初起若兼惡寒者，邪從經絡入，用人參敗毒散為匡正托邪法。初起若兼胸滿口吐黃涎者，邪從口鼻入，用藿香正氣散為辛香解穢法。唯防風通聖散面面周到，即初起未必內實，而方中之硝黃，別有妙用，從無陷邪之害。若讀仲師書死於句下者，聞之無不咋舌，而不知其有利無弊也。</p>
<p><u>六法備　汗為尤</u></p>
<p>　汗、吐、下、溫、清、補，為治傷寒之六法。六法中唯取汗為要，以瘟疫得汗則生，不得汗則死。汗期以七日為準，如七日無汗，再俟七日以汗之。又參論中聖法，以吐之、下之、溫之、清之、補之，皆所以求其汗也。詳於《時方妙用》中。</p>
<p><u>達原飲　昧其由</u></p>
<p>　吳又可謂病在膜原，以達原飲為方，創異說以欺人，實昧其病由也。</p>
<p><u>司命者　勿逐流</u></p>
<p>　醫為人之司命，熟讀仲聖書而兼臨症之多者，自有定識，切不可隨波逐流。</p>
<h3>婦人經產雜病第二十三</h3>
<p><u>婦人病　四物良</u></p>
<p>　與男子同，唯經前產後異耳。《濟陰綱目》以四物東加香附、炙草為主，凡經前產後，俱以此出入加減。</p>
<p><u>月信準　體自康</u></p>
<p>　經水一月一至，不愆其期，故名月信。經調則體自康。</p>
<p><u>漸早至　藥宜涼</u></p>
<p>　血海有熱也，宜加味四物湯，加續斷、地榆、黃芩、黃連之類。</p>
<p><u>漸遲至　重桂薑</u></p>
<p>　血海有寒也，宜加味四物湯，加乾薑、肉桂之類；甚，加附子。</p>
<p><u>錯雜至　氣血傷</u></p>
<p>　經來或早或遲不一者，氣血虛而經亂也，宜前東加人參、白朮、黃　之類。</p>
<p><u>歸脾法　主二陽</u></p>
<p>　《內經》云：二陽之病發心脾，有不得隱曲，為女子不月。宜歸脾湯。</p>
<p><u>兼郁結　逍遙長</u></p>
<p>　郁氣傷肝，思慮傷脾，宜加味逍遙散。</p>
<p><u>種子者　即此詳</u></p>
<p>　種子必調經，以歸脾湯治其源，以逍遙散治其流，並以上諸法皆妙，不必他求。唯婦人體肥濃者，恐子宮脂滿，另用二陳湯，加川芎、香附為丸。</p>
<p><u>經閉塞　禁地黃</u></p>
<p>　閉寒脈實，小腹脹痛，與二陽病為女子不月者不同。雖四物湯為婦科所不禁，而經閉及積瘀實症，宜去地黃之濡滯，恐其護蓄，血不行也。加醋炒大黃二錢、桂一錢、桃仁二錢，服五六劑。</p>
<p><u>孕三月　六君嘗</u></p>
<p>　得孕三月之內，多有嘔吐、不食，名惡阻，宜六君子湯。俗疑半夏礙胎，而不知仲師慣用之妙品也。高鼓峰云：半夏合參朮為安胎、止嘔、進食之上藥。</p>
<p><u>安胎法　寒熱商</u></p>
<p>　四物湯去川芎為主。熱加黃芩、白朮、續斷，寒加艾葉、阿膠、杜仲、白朮。大抵胎氣不安，虛寒者多。庸醫以胎火二字惑人，誤人無算。</p>
<p><u>難產者　保生方</u></p>
<p>　橫生倒產、漿水太早、交骨不開等症，宜保生無憂散。</p>
<p><u>開交骨　歸芎鄉</u></p>
<p>　交骨不開，陰虛故也，宜加味芎歸湯。</p>
<p><u>血大下　補血湯</u></p>
<p>　胎，猶舟也。血，猶水也。水滿則舟浮。血下太早，則干涸而胎阻矣，宜當歸補血東加附子三錢。欲氣旺則血可速生，且欲氣旺而推送有力，加附子者取其性急，加酒所以速　、歸之用也。保生無憂散治漿水未行，此方治漿水過多，加味歸芎湯治交骨不開。三方鼎峙，不可不知。</p>
<p><u>腳小指　艾火煬</u></p>
<p>　張文仲治婦人橫產手先出，諸般符藥不效，以艾火如小麥大，灸產婦右腳小指頭尖，下火立產。</p>
<p><u>胎衣阻　失笑匡</u></p>
<p>　胎衣不下，宜以醋湯送失笑散三錢，即下。</p>
<p><u>產後病　生化將</u></p>
<p>　時醫相傳云，生化東加減，治產後百病。若非由於停瘀而誤用之，則外邪反入於血室，中氣反因以受傷，危症蜂起矣。慎之，慎之!</p>
<p><u>合諸說　俱平常</u></p>
<p>　以上相沿之套法，輕病可愈，治重病則不效。</p>
<p><u>資顧問　亦勿忘</u></p>
<p>　商治時不與眾醫談到此法，反為其所笑。</p>
<p><u>精而密　長沙室</u></p>
<p>　《金匱要略》第二十卷、第二十一卷、第二十二卷，義精而法密。</p>
<p><u>妊娠篇　丸散七</u></p>
<p>　《妊娠篇》凡十方：丸散居七，湯居三。蓋以湯者，蕩也。妊娠以安胎為主，攻補俱不宜驟，故緩以圖之，即此是法。</p>
<p><u>桂枝湯　列第一</u></p>
<p>　此湯表症得之為解肌和營衛，內症得之為化氣調陰陽，今人只知為傷寒首方。此於《妊娠篇》列為第一方以喝醒千百庸醫之夢，亦即是法。師云：婦人得平脈，陰脈小弱，其人渴不能食，無寒熱，名妊娠，桂枝湯主之。注：陰搏陽別為有子，今反云陰脈弱小，是孕只兩月，蝕下焦之氣，不能作盛勢也，過此則不然。妊娠初得，上下本無病，因子室有凝，氣溢上下，故但以芍藥一味固其陰氣，使不得上溢。以桂、薑、甘、棗扶上焦之陽，而和其胃氣，但令上焦之陽氣充，能御相侵之陰氣足矣。未嘗治病，正所以治病也。</p>
<p><u>附半薑　功超軼</u></p>
<p>　時醫以半夏、附子墜胎不用，乾薑亦疑其熱而罕用之，而不知附子補命門之火以保胎，半夏和胃氣以安胎，乾薑暖土臟使胎易長。俗子不知。</p>
<p><u>內十方　皆法律</u></p>
<p>桂枝湯治妊娠，附子湯治腹痛少腹如扇，茯苓桂枝丸治三月余漏下、動在臍上為　瘕，當歸芍藥散治懷妊腹中　痛，乾薑人參半夏丸治妊娠嘔吐不止，當歸貝母苦參丸治妊娠小便難，當歸散妊娠常服，白朮散妊娠養胎，方方超妙，用之如神。</p>
<p>惟妊娠有水氣、身重、小便不利、惡寒、起即頭眩，用葵子茯苓散不能無疑。</p>
<p><u>產後篇　有神術</u></p>
<p>　共九方。</p>
<p><u>小柴胡　首特筆</u></p>
<p>　妊娠以桂枝湯為第一方，產後以小柴胡湯為第一方，即此是法。新產婦人有三病：一者病痙，二者病鬱冒，三者大便難。產婦鬱冒、脈微弱、嘔不能食、大便反堅、但頭汗出者，以小柴胡湯主之。</p>
<p><u>竹葉湯　風痙疾</u></p>
<p>　《金匱》云：產後中風、發熱、面正赤、喘而頭痛，竹葉湯主之。錢院使注云：中風之下，當有病痙者三字。按：庸醫於此症，以生化東加薑、桂、荊芥、益母草之類，殺人無算。</p>
<p><u>陽旦湯　功與匹</u></p>
<p>　即桂枝湯增桂加附子，《活人》以桂枝東加黃芩者誤也。風乘火勢，火借風威，灼筋而成痙，宜竹葉湯。若數日之久，惡寒症尚在，則為寒風，宜此湯。二湯為一熱一寒之對子。師云：產後風續續數十日不解，頭微痛、惡寒、時時有熱、心下悶、乾嘔，汗出雖久，陽旦證續在者，可與陽旦湯。</p>
<p><u>腹痛條　須詳悉</u></p>
<p>　此下八句，皆言腹痛不同，用方各異。</p>
<p><u>羊肉湯　痛謐</u></p>
<p>　痛者，痛之緩也，為虛症。</p>
<p><u>痛滿煩　求枳實</u></p>
<p>　滿煩不得臥，裡實也，宜枳實芍藥散。二味無奇，妙在以麥粥下之。</p>
<p><u>著臍痛　下瘀吉</u></p>
<p>　腹中有瘀血，著於臍下而痛，宜下瘀血湯。</p>
<p><u>痛而煩　裡熱窒</u></p>
<p>　小腹痛雖為停瘀，而不大便、日晡煩躁、譫語，非停瘀專症也。血因熱裹而不行，非血自結於下，但攻其瘀而可愈也。《金匱》以大承氣湯攻熱。</p>
<p><u>攻涼施　毋固必</u></p>
<p>　攻有大承氣湯，涼有竹皮大丸、白頭翁加甘草阿膠湯。《金匱》云：病解能食，七八日更發熱者，此為胃實，大承氣湯主之。又云：婦人乳中虛，煩亂嘔逆，安中益氣，竹皮大丸主之。又云：產後下利虛極，白頭翁加甘草阿膠湯主之。讀此，則知丹溪產後以大補氣血為主，余以末治之說，為大謬也。</p>
<p><u>雜病門　還熟讀</u></p>
<p>　《金匱》云：婦人之病，以因虛、積冷、結氣六字為綱，至末段謂千變萬端，總出於陰陽虛實。而獨以弦緊為言者，以經阻之始，大概屬寒，氣結則為弦，寒甚則為緊，以此為主，而參之兼脈可也。</p>
<p><u>二十方　效俱速</u></p>
<p><u>隨證詳　難悉錄</u></p>
<p><u>唯溫經　帶下服</u></p>
<p>　十二　、九痛、七害、五傷、三痼共三十六種。因經致病，統名曰帶下，言病在帶脈，非近時赤白帶下之說也。溫經湯治婦人年五十，前陰下血、暮發熱、手掌煩熱、腹痛、口乾云云。其功實不止此也。</p>
<p><u>甘麥湯　臟躁服</u></p>
<p>　《金匱》云：婦人臟躁，悲傷欲哭，象如神靈所作，數欠伸，甘麥大棗湯主之。</p>
<p><u>藥到咽　效可卜</u></p>
<p>　閩中諸醫，因余用此數方奇效，每繕錄於讀本之後，亦醫風之將轉也。余日望之。</p>
<p><u>道中人　須造福</u></p>
<h3>小兒第二十四</h3>
<p><u>小兒病　多傷寒</u></p>
<p>　喻嘉言曰：方書謂小兒八歲以前無傷寒，此胡言也。小兒不耐傷寒，初傳太陽一經，早已身強、多汗、筋脈牽動、人事昏沉，勢已極於本經，誤藥即死，無由見其傳經，所以謂其無傷寒也。俗云驚風皆是。</p>
<p><u>稚陽體　邪易干</u></p>
<p>　時醫以稚陽為純陽，生死關頭，開手便錯。</p>
<p><u>凡發熱　太陽觀</u></p>
<p>　太陽主身之表，小兒腠理未密，最易受邪。其症頭痛、項強、發熱、惡寒等小兒不能自明，唯發熱一捫可見。</p>
<p><u>熱未已　變多端</u></p>
<p>　喻嘉言曰：以其頭搖手動也，而立抽掣之名；以其卒口噤、腳攣急也，而立目斜、心亂、搐搦之名；以其脊強背反也，而立角弓反張之名；造出種種不通名目，謂為驚風。而用攻痰、鎮驚、清熱之藥，投之立死矣。不知太陽之脈起於目內　、上額交巔入腦、還出別下項、夾脊抵腰中，是以見上諸症。當時若以桂枝湯照法服之，則無余事矣。</p>
<p>過此失治，則變為痙症。無汗用桂枝加葛根湯，有汗用桂枝加栝蔞根湯，此太陽而兼陽明之治也。抑或寒熱往來，多嘔，以桂枝湯合小柴胡湯或單用小柴胡湯，此太陽而兼少陽之治也。</p>
<p><u>太陽外　仔細看</u></p>
<p>　喻嘉言云：三日即愈為貴，若待經盡方解，必不能耐矣。然亦有耐得去而傳他經者，亦有即時見他經之症者，宜細認之。</p>
<p><u>遵法治　危而安</u></p>
<p>　遵六經提綱之法而求之，詳於《傷寒論》。</p>
<p><u>若吐瀉　求太陰</u></p>
<p>　太陰病以吐食、自利、不渴、手足自溫、腹時痛為提綱，以理中湯主之。</p>
<p><u>吐瀉甚　變風淫</u></p>
<p>　吐瀉不止，則土虛而木邪乘之。《左傳》云：風淫末疾。末，四肢之末也。即抽掣攣急之象。</p>
<p><u>慢脾說　即此尋</u></p>
<p>　世謂慢脾風多死，而不知即太陰傷寒也。有初時即傷於太陰者，有漸次傳入太陰者，有誤用神麯、麥芽、山楂、蘿卜子、枳殼、葶藶、大黃、栝蔞、膽南星等藥陷入太陰者。既入太陰，其治同也。如吐瀉後，冷汗不止，手足厥逆，理中東加入附子，或通脈四逆湯、白通湯佐之，此太陰而兼少陰之治也。如吐瀉手足厥冷、煩躁欲死、不吐食而吐涎沫，服理中湯不應，宜吳茱萸湯佐之，此太陰而兼厥陰之治也。若三陰熱化之證，如太陰腹時痛時止，用桂枝加芍藥湯。大便實而痛，用桂枝加大黃湯。少陰之咳而嘔渴，心煩不得眠，宜豬苓湯。心中煩、不得臥，宜黃連阿膠湯。厥陰之消渴、氣衝、吐蛔、下利，宜烏梅丸。下利後重、喜飲水，用白頭翁湯等症亦間有之。熟《傷寒論》者自知，而提綱不在此也。</p>
<p><u>陰陽證　二太擒</u></p>
<p>　三陽獨取太陽，三陰獨取太陰，擒賊先擒王之手段也。太陽陽明少陽為三陽，太陰少陰厥陰為三陰。</p>
<p><u>千古秘　理蘊深</u></p>
<p>　喻嘉言通禪理，後得異人所授，獨得千古之秘。胡卣臣曰：習幼科者，能虛心領會，便可免乎殃咎，若駭為異說，則造孽無極矣。</p>
<p><u>即痘疹　此傳心</u></p>
<p>　痘為先天之毒，伏於命門，因感外邪而發。初起時用桂枝湯等，從太陽以化其氣，氣化則毒不留，自無一切鬱熱諸症，何用服連翹、紫草、牛蒡、生地、犀角、石膏、芩、連諸藥，以致寒中變症乎?及報點已齊後，冀其漿滿，易於結痂而愈，當求之太陰，用理中湯等補中宮土氣，以為成漿脫痂之本，亦不賴保元湯及鹿茸、人乳、糯米、桂圓之力也。若用毒藥取漿，先損中宮土氣，漿何由成?誤人不少!此古今痘書所未言，唯張隱庵</p>
<p>《侶山堂類辯》微露其機於言外，殆重其道而不敢輕泄歟?疹症視痘症稍輕，亦須知此法。</p>
<p>高士宗《醫學真傳》有桂枝東加金銀花、紫草法。</p>
<p><u>誰同志　度金針</u></p>
<h4>附敷藥拔風害人說</h4>
<p>《金匱》云：人得風氣以生長。此一語最精，風即氣也。人在風中而不見風，猶魚在水中而不見水，鼻息出入，頃刻離風即死。但風靜即為養人之和風，風動即為殺人之邪風。若大人之中風，小兒之驚風、卒倒、搐掣、角弓反張、目上視、口流涎，皆風動之象，即氣之乖也。醫者宜化邪風為和風，即所以除邪氣而匡正氣。閩中市醫，遇小兒諸病及驚癇危症，以蓖麻子、巴豆、南星、萊菔子、全蠍、大黃、急性子、皂角為末。加樗皮、冰片、麝香。以麻油或白蜜，或薑、蔥汁調。敷於囟門以及胸中、臍中、足心，為拔風法。秘其方以射利，十敷十死。既死而仍不歸怨之者，以為外敷之法，不妨姑試，俟未效而即去之，似不為害。而不知一敷之後，元氣為其拔散，即揭去其藥，而既散之氣，永不能使之復聚矣。況囟門為元陽之會，胸中為宗氣之宅，臍中為性命之根，足心為腎脈之本，皆不可輕動。昔人以附子、海狗腎補藥敷於臍中而蒸之，名醫猶且戒其勿用，況大傷人之物乎?凡以保赤為心者，宜共攻此法。而又有惑於急驚、慢驚、食積之說，預用羌活、獨活、防風、秦艽、前胡、赤芍、鉤藤鉤、荊芥、天麻、厚朴、神麯、山楂、蒼朮、膽星、葶藶子、蘿卜子、貝母、牛黃、朱砂、天竺黃、枳殼、杏仁、石菖蒲、甘草，或合為一方，或分為二三方者，亦五十步笑百步耳。</p>
<h2>卷之三</h2>
<h3>中風方</h3>
<p><u>小續命湯</u></p>
<p>(《千金》)　中風總方。</p>
<p>麻黃(去節根)　人參　黃芩　川芎　白芍　炙草　杏仁防己　桂枝　防風(各一錢)　附子(五分,炮)加生薑三片，水二杯半，先煎麻黃至二杯，入諸藥，煎八分服。</p>
<p><u>《古今錄驗》續命湯</u></p>
<p>　治中風風痱，身體不能自收持，口不言，昏冒不知痛處。或拘急不能轉側。方出《金匱》附方。</p>
<p>麻黃　桂枝　當歸　人參　石膏　乾薑　甘草(各三錢）</p>
<p>川芎(一錢五分）　杏仁(十三枚又一枚取三分之一)水三杯，煎一杯，溫服。當小汗，薄覆脊憑幾，汗出則愈。不汗更服，無所禁，勿當風。並治但伏不得臥，咳逆上氣，面目浮腫。</p>
<p><u>三化湯</u></p>
<p>　治熱風中臟，大便不通。</p>
<p>大黃　羌活　枳殼(各三錢）</p>
<p>水二杯，煎八分服。</p>
<p><u>稀涎散</u></p>
<p>　治中風口噤，並治單蛾、雙蛾。</p>
<p>巴豆(六枚,每枚分作兩片)　牙皂(三錢，切)　明礬(一兩）</p>
<p>先將礬化開，卻入二味攪勻，待礬枯為末，每用三分吹喉中。痰盛者燈心湯下五分，在喉即吐，在膈即下。</p>
<p><u>參附湯</u></p>
<p>　元氣暴脫，以此方急回其陽，可救十中一二。</p>
<p>人參(一兩)　附子(五錢)水二杯半，煎八分服。此湯治腎氣脫。以人參換白朮，名朮附湯，治脾氣脫。換黃　名，附湯，治衛氣脫；換當歸名歸附湯，治營氣脫。</p>
<p><u>三生飲</u></p>
<p>　治寒風中臟，四肢厥冷，痰涎上涌。</p>
<p>生烏頭（二錢）　生南星（二錢）　生附子(三錢）　木香（五分）　生薑（五片）</p>
<p>水二杯，煎七分。薛氏用人參一兩，煎湯半杯調服。</p>
<p><u>防風通聖散</u></p>
<p>　治熱風卒中，外而經絡手足　，內而臟腑二便閉塞，用此兩解之。較之三化湯較妥，亦為類中風實火治法。所用表藥，火鬱發之之義也；所用下藥，釜下抽薪之義也。</p>
<p>防風　荊芥　連翹　麻黃　薄荷　川芎　當歸　白芍　白朮　山梔　大黃　芒硝（各五分）</p>
<p>黃芩　石膏　桔梗（各一錢）　甘草（二錢）　滑石（三錢）</p>
<p>水二杯，加生薑三片，煎八分服。自利去硝、黃。自汗，去麻黃，加桂枝。涎嗽加半夏、五味。</p>
<p><u>地黃飲子</u></p>
<p>　治類中風腎虛火不歸源，舌強不能言，足廢不能行。類中風虛火治法。</p>
<p>熟地　遠志　山茱肉　巴戟天　石斛　石菖蒲　五味子　肉蓯蓉(洗)　肉桂　麥冬　附子茯苓(各三錢）</p>
<p>加薄荷葉七葉，水二杯，煎八分服。此方法在輕煎，不令諸藥之味盡出。其性濃重，以鎮諸逆；其氣味輕清，速走諸竅也。</p>
<p><u>補中益氣湯</u></p>
<p>　治勞役飢飽過度，致傷元氣，氣虛而風中之。此類中風氣中虛證，更有七氣上逆，亦名氣中，宜越鞠丸之類。</p>
<p>炙　(二錢）　人參　白朮(炒)　當歸(各一錢）　炙草　陳皮（各五分）　升麻　柴胡(各三分）</p>
<p>加生薑三片，大棗二枚，水二杯，煎八分服。</p>
<p><u>二陳湯</u></p>
<p>　痰飲通劑。</p>
<p>陳皮(一錢五分）　半夏　茯苓(各三錢）　炙草(一錢）</p>
<p>加生薑三片，水三杯，煎七分服。加白朮一錢，蒼朮二錢，竹瀝四湯匙，生薑汁二湯匙，名加味二陳湯，治類中風痰中證。亦名濕中，以濕生痰也。加枳實、膽南星、竹茹，名滌痰湯。</p>
<p><u>加味六君子湯</u></p>
<p>　治中風王道之劑。</p>
<p>方見《隔食》加麥冬三錢為君，附子一錢為使，再調入竹瀝五錢，生薑汁二錢，以行經絡之痰，久服自愈。</p>
<p><u>資壽解語湯</u></p>
<p>(喻嘉言)　治中風脾緩，舌強不語，半身不遂，與地黃飲子同意。但彼重在腎，此重在脾。</p>
<p>防風　附子　天麻　棗仁(各二錢）　羚角　肉桂（各八分）　羌活　甘草(各五分）</p>
<p>水二杯，煎八分，入竹瀝五錢，薑汁二錢五分服。</p>
<p>喻嘉言治腎氣不榮於舌本，加枸杞、首烏、生地、菊花、天冬、石菖蒲、元參。</p>
<p><u>侯氏黑散</u></p>
<p>(《金匱》)　治大風四肢煩重，心中惡寒不足者。《外台》治風癲。</p>
<p>菊花（四兩）　白朮　防風（各一兩）　桔梗(八錢）　細辛　茯苓　牡蠣　人參　礬石　當歸川芎　乾薑　桂枝（各三錢）　黃芩（五錢）</p>
<p>上十四味，杵為散。酒服方寸匕，約有八分，余每用一錢五分，日二服，溫酒調服。忌一切魚肉、大蒜，宜常冷食，六十日止，熱即下矣。</p>
<p><u>風引湯</u></p>
<p>(《金匱》)　除熱癱癇，治大人風引，少小驚癇　，日數十發。</p>
<p>大黃　乾薑　龍骨（各一兩）　桂枝（一兩五錢）　甘草　牡蠣（各一兩）　寒水石　赤石脂　石膏滑石　紫石英　白石脂（各三兩）</p>
<p>上十二味，研末粗篩，用韋勃盛之。取三指，約六七錢。井花水一杯，煎七分，溫服。</p>
<p>按：乾薑宜減半。</p>
<h4>附錄中風俗方殺人以示戒</h4>
<p><u>俗傳中風方</u></p>
<p>　風症以攻痰為大戒，凡人將死之頃，皆痰聲漉漉，不獨中風一症。元陽無主，一身之津血俱化為痰，欲攻盡其痰，是欲攻盡其津血也。故錄此以為戒。</p>
<p>膽南星(寒膩大傷胃氣，且能引痰入於心包、肝、膽以成痼疾。制一二次者力尚輕，若九制則為害愈酷。)　枳殼(耗散元氣，痰盛得此，暫開少頃，旋而中氣大傷，痰涎如涌。)　石菖蒲(能開心竅，心竅開則痰涎直入其中，永無出路。)　半夏(此藥雖能降逆開結，但與膽星同用，未免助紂為虐。)　秦艽　羌活　天麻　羚角　防風　鉤藤鉤(以上六味雖風證所不忌，但無要藥以主持之，亦徒成糟粕無用之物。)　天竺黃(真者難得，然亦治火痰之標品。)　僵蠶(雖祛風之正藥，但力薄不足恃。)　牛黃(雖為風痰之妙藥，然與膽南星、石菖蒲、枳殼同用，則反引痰入於心竅，驅之弗出矣。)　竹瀝(以薑汁和之，雖能驅經絡之痰，而與膽星等同用，不得中氣之輸布，反致寒中敗胃之患。)　甘草(雖為元老之才，但與諸藥同用，小人道長，君子道消，亦無如之何矣。)以上諸品，或作一方，或分作二三方。患者誤服之，輕者致重，重者即死；即幸免於死，亦必變為痴呆及偏枯無用之人矣，戒之!</p>
<h3>虛勞方</h3>
<p><u>歸脾湯</u></p>
<p>　此方補養後天第一藥。治食少、不眠、怔忡，吐血下血，大便或溏或秘，妄夢健忘，七情所傷，遺精帶濁，及女子不月等證。</p>
<p>炙　（三錢）　人參　白朮(蒸)　棗仁(炒黑)　當歸身　龍眼肉　茯神（各二錢）　木香（五分）</p>
<p>炙草（一錢）　遠志（五分，去心)水三杯，煎八分，溫服。高鼓峰去木香，加白芍一錢五分，甚妙。咳嗽加麥冬二錢，五味七分。郁氣加貝母二錢。脾虛發熱加丹皮、梔子。</p>
<p><u>六味地黃丸</u></p>
<p>　壯水之主，以制陽光。凡一切吐血、下血、咳嗽、不眠、骨蒸、遺精、淋濁，屬於陰虛者，無不統治之。</p>
<p>熟地（八兩）　山茱肉（四兩）　懷山藥（四兩）　丹皮　茯苓　澤瀉（各三兩）</p>
<p>研末，煉蜜為丸，如桐子大，晒乾。每服三錢，淡鹽湯送下，一日兩服。加五味子，名都氣丸；加麥冬，名八仙長壽丸，治咳嗽。本方減兩為錢，水煎服，名六味地黃湯。</p>
<p><u>八味地黃丸</u></p>
<p>　益火之源，以消陰翳。治腰膝無力，飲食不進，腫脹疝瘕，陽痿遺精帶濁，屬於元陽虛者，無不統治之。</p>
<p>即六味丸加附子、肉桂各一兩。本方去附子，名七味丸，能引火歸源；本方去附子，加五味子，名加減八味丸，治大渴不止。本方加牛膝、車前子，名《濟生》腎氣丸，俗名《金匱》腎氣丸，治水腫喘促；本方減兩為錢，水煎服，名八味湯。</p>
<p><u>小建中湯</u></p>
<p>(仲景)　此方為治虛癆第一方，今人不講久矣!凡癆證必有蒸熱，此方有薑桂以扶心陽，猶太陽一出，則爝火無光，即退熱法也。凡癆證必飲食日少，此方溫脾，即進食法也。凡癆證必咳嗽，此方補土以生金，即治嗽法也。凡癆證多屬腎虛，此方補脾以輸精及腎，所謂精生於穀也。今人不能讀仲景書，反敢侮謗聖法，徒知生脈、六味、八味、歸脾、補中，及款冬、貝母、玉竹、百合、蘇陳醬、地黃炭之類，互服至死，誠可痛恨!生白芍（三錢）　桂枝（一錢五分）　炙草（一錢）</p>
<p>加生薑一錢五分，大棗二枚，水二杯，煎八分，入飴糖三錢五分，烊服。加黃　二錢，名黃　建中湯，治虛癆諸不足；飽悶者，去大棗加茯苓二錢；氣逆者，加半夏一錢五分；此方人參、當歸、白朮，俱隨宜加之。</p>
<p><u>炙甘草湯</u></p>
<p>(《金匱》)　肺燥、肺痿、咽痛、脈代等證。</p>
<p>生地（四錢）　桂枝木（一錢）　阿膠（一錢五分）　炙草（二錢）　人參（一錢）　麥冬（二錢五分）　棗仁(原方火麻仁，一錢五分）</p>
<p>加生薑一錢，大棗二枚，水一杯，酒半杯，煎八分服。</p>
<p><u>清燥救肺湯</u></p>
<p>(喻嘉言)　治燥氣鬱而成癆。</p>
<p>桑葉(經霜者去蒂，三錢）　人參（一錢）　石膏（二錢三分，研)　杏仁(去皮尖，一錢二分）　甘草（一錢二分）　麥冬（一錢）　枇杷葉(去毛蜜炙，一錢三分）　黑芝麻（一錢五分，炒研)水二杯半，煎八分，熱服。痰多，加貝母三錢；或加梨汁半盞。</p>
<p><u>薯蕷丸</u></p>
<p>　(《金匱》)　治虛癆諸不足，風氣百疾。</p>
<p>薯蕷（三十分）　當歸　桂枝　曲　乾地黃　豆黃卷（各十分）　甘草（二十八分）　人參　阿膠（各七分）　芎　芍藥　白朮　麥冬　杏仁　防風（各六分）　柴胡　桔梗　茯苓（各五分）　乾薑（三分）</p>
<p>白蘞（二分）　大棗（百枚為膏）</p>
<p>上二十一味，末之，煉蜜和丸如彈子大。空腹酒服一丸，一百丸為劑。（分，去聲。古以二錢半為一分。）</p>
<p><u>大黃　蟲丸</u></p>
<p>(《金匱》)　治五勞虛極羸瘦，腹滿不能飲食，食傷、憂傷、房室傷、飢傷、勞傷、經絡榮衛傷，內有干血，肌肉甲錯，目黯黑，緩中補虛。</p>
<p>大黃（十分，蒸)　黃芩（二兩）　甘草（三兩）　桃仁（一升）　杏仁（一升）　芍藥（四兩）　乾漆（二兩）　乾地黃（十兩）　虻蟲（一升）　水蛭（一百個）　蠐螬（一升）　蟲（半升）</p>
<p>上十二味，末之，煉蜜丸如小豆大。酒服五丸，日三服。愚按：以搜血之品，為補血之用，仿於《內經》四烏　骨一　茹丸。張路玉以此丸藥料及鮑魚入絨毛雞腹內，黃酒、童便煮爛，汁乾，將雞去骨取肉，同諸藥懸火上烘乾為末，加煉蜜為丸。每服二錢，以黃酒送下，日三服。代　蟲丸甚妥。</p>
<h3>咳嗽諸方</h3>
<p><u>六安煎</u></p>
<p>(景岳)　治外感咳嗽。</p>
<p>半夏（二錢）　陳皮（一錢五分）　茯苓（二錢）　甘草（一錢）　杏仁（二錢，去皮尖)　白芥子（一錢，炒研)加生薑七片，水煎服。寒甚，加細辛七分；愚每用，必去白芥子加五味子、乾薑、細辛。</p>
<p><u>小青龍湯</u></p>
<p>　治一切咳嗽。方見《傷寒》。方中隨寒熱虛實加減。唯細辛、乾薑、五味三藥不去，讀《金匱》者自知。</p>
<p><u>加減小柴胡湯</u></p>
<p>　治發熱咳嗽。</p>
<p>柴胡（四錢）　半夏（二錢）　黃芩　炙草（各一錢五分）　乾薑（一錢）　五味子（八分）</p>
<p>水二杯半，煎一杯半，去滓，再煎八分，溫服，一日二服。</p>
<p><u>五味子湯</u></p>
<p>(《千金》)　治傷燥咳唾中有血，牽引胸脅痛，皮膚干枯。五味子（五分，研)桔梗　甘草　紫菀茸　續斷　竹茹　桑根皮(各一錢）　生地黃(二錢）　赤小豆(一撮即赤豆之細者)上九味，水煎空心服。《秘旨》加白蜜一匙。愚按：赤豆易生扁豆五錢，囫圇不研，最能退熱補肺，但有寒熱往來忌之。去續斷、赤豆、地黃，加葳蕤、門冬、乾薑、細辛亦妙。</p>
<p><u>麥門冬湯</u></p>
<p>(《千金》)　治大病後火熱乘肺，咳唾有血，胸膈脹滿，上氣羸瘦，五心煩熱，渴而便秘。</p>
<p>麥門冬（二錢，去心)　桔梗　桑根皮　半夏　生地黃　紫菀茸　竹茹（各一錢）　麻黃（七分）</p>
<p>甘草（五分，炙)　五味子（十粒，研)　生薑（一片）</p>
<p>上十一味，水煎，空心服。</p>
<h3>瘧疾方</h3>
<p><u>小柴胡湯</u></p>
<p>　一切瘧病俱治。</p>
<p>方見《傷寒》。</p>
<h3>痢症方</h3>
<p><u>芍藥湯</u></p>
<p>　行血，則膿血自愈；調氣，則後重自除。三日內俱可服。</p>
<p>白芍　當歸（各二錢半）　黃連　黃芩（各一錢二分）　桂（四分）　檳榔（一錢）　木香（六分）　甘草（四分）　大黃（一錢，虛人不用)　厚朴（一錢，炙)　枳殼（一錢）　青皮（五分）</p>
<p>水二杯，煎八分，溫服。小便不利，加滑石、澤瀉；滯澀難出，虛者，倍歸、芍，實者，倍大黃；紅痢，加川芎、桃仁。</p>
<p><u>人參敗毒散</u></p>
<p>　喻嘉言最重此方，令微汗則陽氣升，而陷者舉矣。此法時醫不講，余每用此方加陳倉米四錢，或加黃芩、黃連，屢用屢效。</p>
<p>羌活　獨活　前胡　柴胡　川芎　枳殼　茯苓　桔梗　人參（以上各一錢）　甘草（一分）</p>
<p>水二杯，加生薑三片，煎七分服。加倉米，名倉廩湯，治噤口痢。</p>
<h3>心腹痛胸痹方</h3>
<p><u>烏梅丸</u></p>
<p>　治蟲痛。</p>
<p>方見《傷寒》。</p>
<p><u>蘇合香丸</u></p>
<p>　治注痛。</p>
<p>拙著《從眾錄》有方論。又鬼注不去，宜虎骨、鹿茸、羚羊角、龍骨各三錢。以羊肉湯煎，入麝香少許服。取腥膻之味，引濁陰之氣從陰而泄，此喻嘉言《寓意草》法也。</p>
<p><u>香蘇飲</u></p>
<p>　治氣痛。一切感冒俱佳。</p>
<p>香附（二錢，制研)　紫蘇葉（三錢）　陳皮　甘草（各一錢）</p>
<p>加生薑五片，水二杯，煎八分服。心痛，加元胡二錢，酒一盞。</p>
<p><u>七氣湯</u></p>
<p>(亦名四七湯)　治七情之氣鬱逆。</p>
<p>半夏　厚朴　茯苓（各三錢）　紫蘇葉（一錢）</p>
<p>加生薑三片，水二杯，煎八分服。</p>
<p><u>百合湯</u></p>
<p>　治心口痛諸藥不效。亦屬氣痛。</p>
<p>百合（一兩）　烏藥（三錢）</p>
<p>水二杯，煎八分服。此方余自海壇得來。</p>
<p><u>失笑散</u></p>
<p>　治一切血滯作痛如神。</p>
<p>五靈脂(醋炒)　蒲黃（各一兩）</p>
<p>共研末。每服三錢，以醋湯送下，日二服。</p>
<p><u>桃仁承氣湯</u></p>
<p>　治心腹痛，大便不通，其人如狂，屬死血。</p>
<p>桂枝（二錢）　桃仁（十七枚，去皮尖)　大黃（四錢）　芒硝（七分）　甘草（七分）</p>
<p>水二杯，煎八分，去滓，入硝二沸，溫服。</p>
<p><u>丹參飲</u></p>
<p>　治心胸諸痛神驗，婦人更宜。亦屬血痛。亦可通治諸痛。</p>
<p>丹參（一兩）白檀香（要真者極香的切片)　砂仁（各一錢）</p>
<p>水二杯，煎八分服。</p>
<p><u>妙香散</u></p>
<p>方見《遺精》。</p>
<p><u>平胃散</u></p>
<p>　治一切飲食停滯。</p>
<p>蒼朮　厚朴(炒)　陳皮（各二錢）　甘草（一錢）</p>
<p>加生薑五片，水二杯，煎八分服。肉積，加山楂；面積，加麥芽、萊菔子；穀積，加穀芽；酒積，加葛根、砂仁。</p>
<p><u>二陳湯</u></p>
<p>方見《中風》。</p>
<p><u>十棗湯</u></p>
<p>　治水飲作痛。峻劑，不可輕用。</p>
<p>大戟　芫花(炒)　甘遂（各等分，研末)用大棗十枚，水二杯，煎七分，去滓，入藥方寸匕約有七分服。次早當下，未下，再一服。服後體虛，以稀粥調養。</p>
<p><u>理中湯</u></p>
<p>　治冷痛。</p>
<p>方見《傷寒》。</p>
<p><u>吳茱萸湯</u></p>
<p>(仲景)　治冷痛。通治食穀欲嘔，頭痛如破，煩躁欲死者，及大吐不已之症。</p>
<p>吳茱萸（二錢五分，湯泡)　人參（一錢五分）　大棗（五枚）　生薑（三錢，切片)水二杯，煎八分，溫服。</p>
<p><u>金鈴子散</u></p>
<p>　治心口痛及脅痛、腹痛，如神。屬熱者。</p>
<p>金鈴子(去核)　元胡索（各二兩，研末)每服三錢，黃酒送下。</p>
<p><u>厚朴三物湯</u></p>
<p>(《金匱》)　治心腹實痛，大便閉者。</p>
<p>厚朴（四錢）　大黃（二錢）　枳實（一錢五分）</p>
<p>水二杯，煎八分，溫服。</p>
<p><u>厚朴七物湯</u></p>
<p>(《金匱》)即前方加桂枝　甘草（各一錢五分）　生薑（二錢，五分）　大棗（五枚）</p>
<p>水二杯，煎八分服。嘔者，加半夏一錢；寒多者，加生薑一錢五分。</p>
<p><u>附子粳米湯</u></p>
<p>(《金匱》)　治腹中寒氣，雷鳴切痛，胸脅逆滿、嘔吐。</p>
<p>附子（二錢，制)　半夏（四錢）　炙草（一錢）　粳米（五錢，布包)　大棗（一枚）</p>
<p>水二杯，煎八分，溫服，日夜作三服。</p>
<p><u>大黃附子湯</u></p>
<p>(《金匱》)　脅下偏痛，發熱脈緊弦者。</p>
<p>大黃　附子（各二錢）　細辛（一錢）</p>
<p>水二杯，煎八分服。</p>
<p><u>當歸生薑羊肉湯</u></p>
<p>(《金匱》)　治心腹諸痛虛極，諸藥不效者，一服如神。及脅痛裡急，婦人產後腹中　痛。</p>
<p>當歸（七錢五分）　生薑（一兩二錢五分）　羊肉（四兩，去筋膜，用藥戥秤方準)水五杯，煎取二杯，溫服一杯，一日兩服。若寒多者，加生薑五錢；痛多而嘔者，加橘皮五錢，白朮二錢五分。</p>
<p><u>栝蔞薤白白酒湯</u></p>
<p>(《金匱》)　治胸痹喘息咳唾，胸背痛，寸沉遲，關上小緊。</p>
<p>栝蔞(連皮子搗，五錢）　薤白(如干者用，三錢，生者用六錢)白酒三杯，煎八分服。加半夏二錢，名栝蔞薤白半夏湯，治胸痹不得臥，心痛徹背。</p>
<p><u>大建中湯</u></p>
<p>(《金匱》)　治胸大寒痛，嘔不能飲食，腹中寒上衝，皮起出見有頭足，上下痛不可觸近。</p>
<p>川椒（二錢，微炒出汗)　乾薑（四錢）　人參（三錢）</p>
<p>水二鐘，煎一鐘，去滓，入膠飴四錢，煎取八分，溫服。如一炊頃，可食熱粥半碗。</p>
<h3>隔食反胃方</h3>
<p><u>左歸飲</u></p>
<p>(景岳)　即六味湯去丹皮、澤瀉，加枸杞、炙草。</p>
<p><u>啟隔飲</u></p>
<p>(《心悟》)　治食入即吐。</p>
<p>川貝母（一錢五分，切片不研)　沙參（三錢）　丹參（二錢）　川鬱金（五分）　干荷蒂（三個）　砂仁殼（四分）　杵頭糠（二錢，布包)　茯苓（一錢五分）　石菖蒲（四分）</p>
<p>水二杯，煎八分服。</p>
<p><u>大半夏湯</u></p>
<p>(《金匱》)　治反胃。</p>
<p>人參（二錢）　半夏（四錢，俗用明礬制者不可用，只用薑水浸二日，一日一換。清水浸三日，一日一換。攄起蒸熟，晒乾切片用）</p>
<p>長流水入蜜揚二百四十遍，取三杯半，煎七分服。</p>
<p><u>吳茱萸湯</u></p>
<p>方見《心腹痛》。</p>
<p><u>六君子湯</u></p>
<p>　此方為補脾健胃、祛痰進食之通劑，百病皆以此方收功。</p>
<p>人參　白朮(炒)　茯苓　半夏（各二錢）　陳皮　炙草（各一錢）</p>
<p>加生薑五片，大棗二枚。水二杯，煎八分服。治反胃，宜加附子二錢，丁香、藿香、砂仁各一錢。</p>
<p><u>附子理中湯</u></p>
<p>　治反胃。</p>
<p>即理中東加附子三錢。治反胃，加茯苓四錢，甘草減半。</p>
<p>附隔食方法：</p>
<p>《人鏡經》曰：《內經》云：三陽結謂之隔。蓋足太陽膀胱經，水道不行；手太陽小腸經，津液枯槁；足陽明胃經，燥糞結聚。所以飲食拒而不入，縱入太倉，還出喉嚨。夫腸胃一日一便，乃常度也。今五七日不便，陳物不去，新物不納，宜用三一承氣湯節次下之，後用脂麻飲啜之。陳腐去而腸胃潔，　瘕盡而營衛昌，飲食自進矣。</p>
<p><u>三一承氣湯</u></p>
<p>大黃　芒硝　甘草　厚朴　枳實（各一錢）</p>
<p>水二杯，煎八分服。按此方太峻，姑存之以備參考。</p>
<h3>氣喘方</h3>
<p><u>蘇子降氣湯</u></p>
<p>　治上盛下虛，氣喘等證。</p>
<p>紫蘇子（二錢，微炒)　前胡　當歸　半夏　陳皮　厚朴（各一錢）　沉香　炙草（各五分）</p>
<p>加生薑三片，大棗二枚，水二杯，煎八分服。</p>
<p><u>葶藶大棗瀉肺湯</u></p>
<p>(《金匱》)　治支飲滿而肺氣閉，氣閉則呼吸不能自如，用此苦降，以泄實邪。</p>
<p>葶藶子(隔紙炒研如泥，二錢二分)水一杯半，大棗十二枚，煎七分，入葶藶子服之。</p>
<p><u>十棗湯</u></p>
<p>方見《心腹痛》。</p>
<p><u>小青龍湯</u></p>
<p>方見《傷寒》。</p>
<p><u>貞元飲</u></p>
<p>(景岳)　陰血為陽氣之依歸，血虛則氣無所依，時或微喘，婦人血海常虛，多有此症。景岳方意在濟之緩之四字。濟之以歸、地，緩之以甘草，頗有意義。今人加紫石英、黑鉛之重鎮，則失緩之之義；加沉香、白芥子之辛香，則失濟之之義矣。且此方非為元氣奔脫而設，時醫每遇大喘之症，必以此方大劑與服。氣升則火升，偶得濡潤之藥，氣亦漸平一晌，旋而陰柔之性與飲水混為一家，則胸膈間純是陰霾之氣，其人頃刻歸陰矣。吾鄉潘市醫倡此法以局人神智，無一人悟及，誠可痛恨!熟地黃（五七錢或一二兩）　當歸身（三四錢）　炙草（一二三錢）</p>
<p>水三四杯，煎八分服。</p>
<p><u>苓桂朮甘湯</u></p>
<p>(《金匱》)　治氣短。喻嘉言云：此治呼氣短。</p>
<p>茯苓（四錢）　白朮　桂枝（各二錢）　炙草（一錢五分）</p>
<p>水二杯，煎八分服。</p>
<p><u>腎氣丸</u></p>
<p>(《金匱》)　治氣短。喻嘉言云：此治吸氣短，即八味地黃丸，但原方系干生地黃、桂枝。</p>
<p><u>茯苓甘草大棗湯</u></p>
<p>(仲景)　治氣喘臍下動氣，欲作奔豚。</p>
<p>茯苓（六錢）　桂枝　甘草(炙，各二錢）　大棗（四枚）</p>
<p>用甘瀾水三杯半，先煎茯苓至二杯，入諸藥，煎七分服。作甘瀾水法：取長流水揚之數百遍，或千遍愈妙。</p>
<p><u>真武湯</u></p>
<p>(仲景)　鎮水逆，定痰喘之神劑。</p>
<p>茯苓　芍藥　生薑(切，各三兩）　白朮（二兩）　附子（一枚炮，去皮，破八片)上五味，以水八升，煮取三升，去滓，溫服七合，日三服。宜倍茯苓。咳嗽甚者，去生薑，加乾薑一錢五分，五味、細辛各一錢。</p>
<p><u>黑錫丹</u></p>
<p>　治脾腎虛冷，上實下虛，奔豚，五種水氣，中風痰潮危急。</p>
<p>喻嘉言曰：凡遇陰火逆沖，真陽暴脫，氣喘痰鳴之急症，舍此方再無他法可施。予每用小囊佩帶隨身，恐遇急症不及取藥，且欲吾身元氣溫養其藥，借手效靈，厥功歷歷可紀。即痘症倒塌逆候，服此亦可回生。</p>
<p>沉香　附子(炮)　胡蘆巴　肉桂（各一錢）　小茴香　補骨脂　肉豆蔻　木香　金鈴子(去核，各一兩）　硫黃　黑鉛(與硫黃炒成砂子，各三兩）</p>
<p>上為末，酒煮面糊丸梧子大，陰乾，以布袋擦令光瑩。每服四五十丸，薑湯送下。</p>
<h3>血症方</h3>
<p><u>麻黃人參芍藥湯</u></p>
<p>(東垣)　治吐血外感寒邪，內虛蘊熱。</p>
<p>桂枝（五分，補表虛)　麻黃(去外寒)　黃　(實表益衛)　炙甘草(補脾)　白芍(安太陰)人參(益元氣而實表)　麥冬(補肺氣，各三分）　五味子（五粒安肺氣)　當歸（五分，和血養血)水煎，熱服。按此方以解表為止血，是東垣之巧思幸中，非有定識也。觀其每味自注藥性，俱悖聖經，便知其陋。</p>
<p><u>甘草乾薑湯</u></p>
<p>(《金匱》)炙甘草（四錢）　乾薑（二錢，炮)水二杯，煎八分服。</p>
<p>柏葉湯(《金匱》)　治吐血不止。</p>
<p>柏葉(生用，三錢，無生者用干者二錢）　乾薑（一錢）　艾葉(生用，二錢，如無生者，用干者一錢)水四杯，取馬通二杯，煎一杯服。如無馬通，以童便二杯，煎八分服。</p>
<p><u>黃土湯</u></p>
<p>(《金匱》)　治先便後血為遠血。亦治衄血、吐血、血不止。</p>
<p>灶心黃土（八錢，原方四錢)　生地　黃芩　甘草　阿膠　白朮　附子(炮，各一錢五分）</p>
<p>水三杯，煎八分服。</p>
<p><u>赤小豆散</u></p>
<p>(《金匱》)　治先血後便為近血。</p>
<p>赤小豆(浸令出芽晒乾，一兩）　當歸（四錢）</p>
<p>共研末。每服三錢，漿水下。即洗米水，三日後有酸味是也。按凡止血標藥可隨宜作引，血余灰可用一二兩同煎，諸血皆驗。梔子、茜草、干側柏治上血，槐花、生地黃、烏梅、續斷治血崩。凡下血及血痢，口渴，後重，脈洪有力者為火盛。可用苦參子去殼，仁勿破，外以龍眼肉包之，空腹以倉米湯送下九粒，一日二三服，漸加至十四粒，二日效。</p>
<h3>水腫方</h3>
<p><u>五皮飲</u></p>
<p>　此方出華元化《中藏經》，以皮治皮，不傷中氣，所以為治腫通用之劑。</p>
<p>大腹皮(酒洗)　桑白皮(生，各三錢）　雲苓皮（四錢）　陳皮（三錢）　生薑皮（一錢）</p>
<p>水三杯，煎八分，溫服。上腫，宜發汗，加紫蘇葉、荊芥各二錢，防風一錢，杏仁一錢五分；下腫，宜利小便，加防己二錢，木通、赤小豆各一錢三分；喘而腹脹，加生萊菔子、杏仁各二錢；小便不利者，為陽水，加赤小豆、防己、地膚子；小便自利者，為陰水，加白朮二錢，蒼朮、川椒各一錢五分；熱，加海蛤三錢，知母一錢五分；寒，加附子、乾薑各二錢，肉桂一錢；嘔逆，加半夏、生薑各二錢；腹痛，加白芍一錢，桂枝一錢，炙甘草一錢。</p>
<p><u>導水茯苓湯</u></p>
<p>　治水腫，頭面、手足、遍身腫如爛瓜之狀，按而塌陷。胸腹喘滿，不能轉側安睡，飲食不下。小便秘澀，溺出如割，或如黑豆汁而絕少。服喘嗽氣逆諸藥不效者，用此即漸利而愈。</p>
<p>澤瀉　赤茯苓　麥門冬(去心)　白朮（各二兩）　桑白皮　紫蘇　檳榔　木瓜（各一兩）　大腹皮陳皮　砂仁　木香（各七錢五分）</p>
<p>上　咀，每服一二兩，水二杯，燈草三十根，煎八分，食遠服。如病重者，可用藥二兩，又加麥冬及燈草半兩，以水一斗，於砂鍋內熬至一大碗。再下小鍋內，煎至一鍾。五更空心服。</p>
<p><u>加減《金匱》腎氣丸</u></p>
<p>　治脾腎兩虛，腫勢漸大，喘促不眠等證。</p>
<p>熟地（四兩）　雲茯苓（三兩）　肉桂　牛膝　丹皮　山藥　澤瀉　車前子　山茱萸（各二兩）　附子（五錢）</p>
<p>研末，煉蜜丸如桐子大。每服三錢，燈草湯送下，一日兩服。以兩為錢，水煎服，名加減《金匱》腎氣湯，但附子必倍用方效。加川椒目一錢五分，巴戟天二錢，治腳面腫。</p>
<h4>風水</h4>
<p>因風而病水也。</p>
<p><u>防己黃　湯</u></p>
<p>(《金匱》)　治風水，脈浮身重，汗出惡風。</p>
<p>防己（三錢）　炙草（一錢五分）　白朮（二錢）　黃　（三錢）　生薑（四片）　大棗（一枚）</p>
<p>水二杯，煎八分服。服後如蟲行皮中，從腰下如冰，後坐被上，又以一被繞腰下，溫令微汗瘥。喘者，加麻黃；胃中不和者，加芍藥；氣上衝者，加桂枝。</p>
<p>虛汗自出，故不用麻黃以散之，只用防己以驅之。服後身如蟲行及腰下如冰云云，皆濕下行之征也，然非　、朮、甘草，焉能使衛氣復振，而驅濕下行哉!</p>
<p><u>越婢湯</u></p>
<p>(《金匱》)　治惡風一身悉腫，脈浮不渴，續自汗出，無大熱者。</p>
<p>麻黃（六錢）　石膏（八錢）　甘草（二錢）　生薑（三錢）　大棗（五枚）</p>
<p>水四杯，先煮麻黃至三杯，去沫，入諸藥煎八分服，日夜作三服。惡風者，加附子一錢。風水，加白朮三錢。</p>
<p>前云身重為濕多，此云一身悉腫為風多。風多氣多熱亦多，且屬急風，故用此猛劑。</p>
<p><u>杏子湯</u></p>
<p>　脈浮者為風水，發其汗即已。方闕，或云即甘草麻黃東加杏仁。</p>
<h4>皮水</h4>
<p>水行於皮中也。其脈浮，外證跗腫，按之沒指。曰不惡風者，不兼風也。曰其腹如鼓者，外有脹形內不堅滿也。曰不渴者，病不在內也。曰當發其汗者，以水在皮宜汗也。</p>
<p><u>防己茯苓湯</u></p>
<p>(《金匱》)　治四肢腫，水在皮中聶聶動者。</p>
<p>防己　桂枝　黃　（各三錢）　茯苓（六錢）　炙草（一錢）</p>
<p>水三杯，煎八分服，日夜作三服。</p>
<p>藥亦同防己黃　湯，但去朮加桂、苓者，風水之濕在經絡，近內；皮水之濕在皮膚，近外。故但以苓協桂，滲周身之濕，而不以術燥其中氣也。不用薑、棗者，濕不在上焦之營衛，無取乎宣之也。</p>
<p><u>蒲灰散</u></p>
<p>(《金匱》)　厥而為皮水者，此主之。腫甚而潰之逆證，厥之為言逆也。</p>
<p>蒲灰（半斤）　滑石（一斤）</p>
<p>為末。飲服方寸匕，日三服。</p>
<p>愚按：當是外敷法，然利濕熱之劑，亦可內服外摻也。</p>
<p><u>越婢加朮湯</u></p>
<p>(《金匱》)　裡水此主之，甘草麻黃湯亦主之。按裡水當是皮水筆誤也。或水在皮裡，即皮水之重者，亦未可知。</p>
<p>方見《風水》。</p>
<p><u>甘草麻黃湯</u></p>
<p>甘草（四錢）　麻黃（二錢）</p>
<p>水二杯，先煮麻黃至一杯半，去沫，入甘草煮七分服。重覆汗出，不汗再服，慎風寒。</p>
<p>二藥上宣肺氣，中助土氣，外行水氣。</p>
<h4>正水</h4>
<p>水之正伏也。其脈遲者，水屬陰也。外證自喘者，陰甚於下，不復與胸中之陽氣相調，水氣格陽而喘也。其目窠如蠶，兩脛腫大諸證，《金匱》未言，無不俱見。</p>
<p>愚按：正水《金匱》未出方。然提綱云：脈沉遲外證自喘，則真武湯、小青龍湯皆正治之的方，越婢加附子湯、麻黃附子湯亦變證之備方，桂甘麻辛附子東加生桑皮五錢、黑豆一兩，為窮極之巧方，此正水之擬治法也。</p>
<h4>石水</h4>
<p>謂下焦水堅如石也。其脈自沉，外證少腹滿，不喘。</p>
<p><u>麻黃附子湯</u></p>
<p>麻黃（三錢）　炙草（二錢）　附子（一錢）</p>
<p>水二杯，先煮麻黃至一杯半，去沫，入諸藥煎七分溫服，日作三服。此即麻黃附子甘草湯，分兩略異。即以溫經散寒之法，變為溫經利水之妙。</p>
<h4>黃汗</h4>
<p>汗出沾衣而色黃也。汗出入水，水邪傷心；或汗出當風所致。汗與水皆屬水氣，因其入而內結，則鬱熱而黃，其脈沉而遲。外證身發熱，四肢頭面腫，久不愈必致癰膿。</p>
<p><u>黃　桂枝芍藥苦酒湯</u></p>
<p>(《金匱》)　治身體腫，發熱汗出而渴，狀如風水。汗出沾衣色正黃如柏汁，脈自沉(風水脈浮，黃汗脈沉)。以汗出入水中浴，水從毛孔入得之。(水氣從毛孔入而傷其心，故水火相侵而色黃，水氣搏結，而脈沉也。凡看書宜活看，此證亦有從酒後汗出當風所致者，雖無外水，而所出之汗，因風內返亦是水。凡脾胃受濕，濕久生熱，濕熱交蒸而成黃色，皆可以汗出。入水之意，悟之！)黃　（五錢）　芍藥　桂枝（各三錢）</p>
<p>苦酒一杯半，水一杯，煎八分，溫服。當心煩，至六七日乃解。(汗出於心，苦酒止之太急，故心煩。至六七日，正復而邪自退也。)</p>
<p><u>桂枝加黃　湯</u></p>
<p>(《金匱》)　黃汗之病，兩脛自冷，盜汗出。汗已反發熱，久久身必甲錯，發熱不止者，必生惡瘡。若身重汗出已輒輕者，久久必身　，　即胸中痛。又從腰以上汗出，下無汗，腰　弛痛，如有物在皮中狀。劇者不能食，身疼重，煩躁小便不利(以上皆黃汗之變證、師備擬之，以立治法。茲因集隘，不能全錄，只輯其要)。此為黃汗。(言變證雖多，而其源總由水氣傷心所致。結此一句，見治法不離其宗。)桂枝　芍藥　生薑（各三錢）　甘草(炙)　黃　（各二錢）　大棗（四枚）</p>
<p>水三杯，煮八分，溫服。須臾啜熱粥一杯余，以助藥力。溫覆取微汗，若不汗，更服。</p>
<p>前方止汗，是治黃汗之正病法。此方令微汗，是治黃汗之變症法。</p>
<h3>脹滿蠱脹方</h3>
<p><u>七氣湯</u></p>
<p>　治實脹屬七情之氣者。</p>
<p>方見《心腹痛》。</p>
<p><u>胃苓散</u></p>
<p>　消脹行水。</p>
<p>蒼朮（一錢五分，炒)　白朮　厚朴（各一錢五分）　桂枝（一錢）　陳皮　澤瀉　豬苓（各一錢五分）</p>
<p>炙草（七分）　茯苓（四錢）</p>
<p>加生薑五片，水三杯，煎八分服。去桂、草，以煨半熟蒜頭搗為丸。陳米湯下三四錢，一日兩服更妙。</p>
<p><u>厚朴三物湯</u></p>
<p><u>厚朴七物湯</u></p>
<p>二方俱見《腹痛》。</p>
<p><u>桂甘薑棗麻辛附子湯</u></p>
<p>(《金匱》)　治氣分，心下堅大如盤，邊如旋杯。</p>
<p>桂枝　生薑（各三錢）　甘草　麻黃　細辛（各二錢）　附子（一錢）　大棗（三枚）</p>
<p>水三杯，先煮麻黃至二杯，去沫，入諸藥，煎八分，溫服，日夜作三服。當汗出如蟲行皮上即愈。</p>
<p>此症是心腎不交病。上不能降，下不能升，日積月累，如鐵石難破。方中桂、甘、薑、棗以和其上，而復用麻黃、細辛、附子少陰的劑以治其下，庶上下交通而病愈。所謂大氣一轉，其氣乃散也。</p>
<p><u>枳朮湯</u></p>
<p>(《金匱》)　治心下堅大如盤。(如盤而不如杯，邪尚散漫未結，雖堅大而不滿痛也)，水飲所作(與氣分有別也，氣無形以辛甘散之，水有形以苦泄之)。</p>
<p>枳實（二錢）　白朮（四錢）</p>
<p>水二杯，煎八分服，日夜作三服。腹中軟即止。</p>
<p><u>禹餘糧丸</u></p>
<p>(《三因》)　治十腫水氣，腳膝腫，上氣喘急，小便不利，但是水氣，悉皆主之(許學士及丹溪皆云此方治臌脹之要藥)。</p>
<p>蛇含石(大者，三兩，以新鐵銚盛，入炭火中燒石與銚子一般紅，用鉗取石，傾入醋中，候冷取出，研極細)　禹餘糧石（三兩）　真針砂（五兩，先以水淘淨炒干，入余糧一處，用米醋二升，就銚內煮醋干為度，後用銚。並藥入炭中，燒紅鉗出，傾藥淨磚地上，候冷研細。)以三物為主。其次量人虛實，入下項。治水妙在轉輸，此方三物，既非大戟、甘遂、芫花之比，又有下項藥扶持，故虛人老人亦可服。</p>
<p>羌活　木香　茯苓　川芎　牛膝(酒浸)　桂心　蓬朮　青皮　附子(炮)　乾薑(炮)　白豆蔻(炮)　大茴香(炒)　京三棱(炮)　白蒺藜　當歸(酒浸一宿，各半兩）</p>
<p>上為末，入前藥拌勻，以湯浸蒸餅，捩去水，和藥再杵極勻，丸如桐子大。食前溫酒白湯送下三十丸至五十丸。最忌鹽，一毫不可入口，否則發疾愈甚。但試服藥，即於小便內旋去，不動臟腑。病去日，日三服，兼以溫和調補氣血藥助之，真神方也。</p>
<p>此方昔人用之屢效，以其大能暖水藏也，服此丸更以調補氣血藥助之，不為峻也。</p>
<h3>暑症方</h3>
<p><u>六一散</u></p>
<p>(河間)　治一切暑病。</p>
<p>滑石（六兩）　甘草（一兩）</p>
<p>研末，每服三錢，井花水下，或燈草湯下。</p>
<p><u>白虎湯</u></p>
<p>(仲景)　治傷暑大渴、大汗之證。</p>
<p>方見《傷寒》。加人參者，以暑傷元氣也。加蒼朮者，治身熱足冷，以暑必挾濕也。</p>
<p><u>香薷飲</u></p>
<p>　治傷暑，發熱，身痛，口燥，舌乾，吐瀉。</p>
<p>甘草（一錢）　厚朴（一錢五分）　扁豆（二錢）　香薷（四錢）</p>
<p>水二杯，煎八分，冷服或溫服。瀉利，加茯苓、白朮；嘔吐，加半夏；暑氣發搐，加羌活、秦艽。</p>
<p><u>大順散</u></p>
<p>　治陰暑，即畏熱貪涼之病。</p>
<p>乾薑（一錢，炒)　甘草（八分，炒)　杏仁(去皮尖，六分，炒)　肉桂（六分）</p>
<p>共為細末，每服三錢，水一杯，煎七分服。如煩躁，井花水調下一錢。</p>
<p><u>生脈散</u></p>
<p>　卻暑良方。</p>
<p>人參（一錢）　麥冬（三錢）　五味（一錢）</p>
<p>水一杯，煎七分服。</p>
<p><u>清暑益氣湯</u></p>
<p>(東垣)炙　（一錢五分）　人參　白朮　蒼朮　青皮　陳皮　麥冬　豬苓　黃柏（各五分）　干葛澤瀉（各二錢）　神麯（八分）　炙草　五味（各三分）　升麻（三分）　歸身（三分）</p>
<p>加生薑三片，大棗二枚，水二杯，煎七分服。</p>
<p><u>一物瓜蒂湯</u></p>
<p>(《金匱》)瓜蒂（二十個）</p>
<p>水二杯，煎八分服。</p>
<h3>泄瀉方</h3>
<p><u>胃苓散</u></p>
<p>方見《脹滿》。加減詳《三字經》注。</p>
<p><u>四神丸</u></p>
<p>　治脾腎虛寒，五更泄瀉。</p>
<p>補骨脂（四兩，酒炒)　肉豆蔻(面煨，去油)　吳茱萸(泡)　五味(炒，各二兩）</p>
<p>用紅棗五兩，生薑五兩，同煮。去薑，將棗去皮核搗爛為丸，如桐子大。每日五更服三錢，臨臥服三錢，米湯下。加白朮、附子、罌粟、人參更效。</p>
<p><u>生薑瀉心湯　</u></p>
<p>黃連湯甘草瀉心湯半夏瀉心湯乾薑黃芩黃連人參湯厚朴生薑半夏甘草人參湯</p>
<p><u>　</u></p>
<p>以上六方，俱見《傷寒論讀》。</p>
<p>按：以上諸法，與《內經》中熱消癉則便寒、寒中之屬則便熱一節，揆脈證而擇用，甚驗。張石頑《醫通》載之甚詳，但古調不彈久矣!余新悟出一方，有瀉心之意。上可消痞，下可止瀉。腸熱胃寒，能分走而各盡其長。非有他方，即傷寒厥陰條之烏梅丸也，屢用屢驗。</p>
<h2>卷之四</h2>
<h3>眩暈方</h3>
<p><u>一味大黃散</u></p>
<p><u>鹿茸酒</u></p>
<p>二方見上「三字經」注。</p>
<p><u>加味左歸飲</u></p>
<p>　治腎虛頭痛如神，並治眩暈目痛。</p>
<p>熟地(七八錢)　山茱萸　懷山藥　茯苓　枸杞(各三錢)　細辛　炙草(各一錢)　川芎(二錢)　肉蓯蓉(酒洗,切片三四錢)水三杯，煎八分，溫服。</p>
<p><u>正元丹</u></p>
<p>(《秘旨》)　治命門火衰，不能生土，吐利厥冷。有時陰火上衝，則頭面赤熱，眩暈惡心。濁氣逆滿，則胸脅刺痛，臍肚脹急。</p>
<p>人參(三兩,用附子一兩煮汁收入，去附子)　黃　(一兩五錢,用川芎一兩酒煮汁收入，去川芎)　山藥(一兩,用乾薑二錢煮汁收入，去乾薑)　白朮(三兩,用陳皮五錢煮汁收入，去陳皮)茯苓(二兩,用肉桂六錢酒煮汁收入，晒乾勿見火，去桂)　甘草(一兩五錢,用烏藥一兩煮汁收入，去烏藥)上六味，除茯苓，文武火緩緩焙乾，勿炒傷藥性，杵為散。每三錢，水一盞，薑三片，紅棗一枚，同煎數沸，入鹽一捻，和滓調服。服後，飲熱酒一杯，以助藥力。</p>
<h3>嘔噦吐方</h3>
<p><u>二陳湯</u></p>
<p>半夏(二錢)　陳皮(一錢)　茯苓(三錢)　炙草(八分)加生薑三片，水二杯，煎八分服。加減法詳「三字經「注。</p>
<p><u>小柴胡湯</u></p>
<p>方見《傷寒》。</p>
<p><u>吳茱萸湯</u></p>
<p>方見《隔食反胃》。</p>
<p><u>大黃甘草湯</u></p>
<p>(《金匱》)　治食已即吐。</p>
<p>大黃(五錢)　甘草(一錢五分)水二杯，煎八分服。</p>
<p><u>乾薑黃連黃芩人參湯</u></p>
<p>(仲景)　凡嘔家夾熱，不利於香砂橘半者，服此如神。</p>
<p>乾薑　黃芩　黃連　人參(各一錢五分)水一杯半，煎七分服。</p>
<p><u>進退黃連湯</u></p>
<p>黃連(薑汁炒)　乾薑(炮)　人參(人乳拌蒸,一錢五分)　桂枝(一錢)　半夏(薑製,一錢五分)　大棗(二枚)進法：用本方七味俱不制，水三茶杯，煎一杯溫服。退法：不宜用桂枝，黃連減半，或加肉桂五分。如上逐味制熟，煎服法同。但空腹服崔氏八味丸三錢，半飢服煎劑耳。</p>
<h3>癲狂癇方</h3>
<p><u>滾痰丸</u></p>
<p>(王隱君)　治一切實痰異症。孕婦忌服。</p>
<p>青礞石(三兩,研如米大，同焰硝三兩，用新磁罐內封固，以鐵線扎之，外以鹽泥封固，過研末。水飛，二兩實)　沉香五分，另研)　川大黃(酒蒸)　黃芩(炒,各八兩)共為末，水泛為丸，綠豆大。每服一錢至二錢，食遠沸湯下。</p>
<p><u>生鐵落飲</u></p>
<p>　治狂妄不避親疏。</p>
<p>鐵落(一盞,用水六杯，煮取三杯，入下項藥)　石膏(一兩)　龍齒　茯苓　防風(各七分)　玄參秦艽(各五錢)鐵落水三杯，煎一杯服，一日兩服。</p>
<p><u>當歸承氣湯</u></p>
<p>(秘傳方)　治男婦痰迷心竅，逾牆越壁，胡言亂走。</p>
<p>歸尾(一兩)　大黃(酒洗)　芒硝　枳實　厚朴(各五錢)　炙草(三錢)水二杯，煎八分服。</p>
<p><u>溫膽湯</u></p>
<p>　駱氏《內經拾遺》云：癲狂之由，皆是膽涎沃心，故神不守舍，理宜溫膽。亦治癇病。</p>
<p>即二陳東加枳實、鮮竹茹各二錢，或調下飛礬分半。</p>
<p><u>當歸龍薈丸</u></p>
<p>　治肝經實火，大便秘結，小便澀滯。或胸膈疼痛，陰囊腫脹。凡屬肝經實火，皆宜用之。</p>
<p>葉天士云：動怒驚觸，致五志陽越莫制，狂亂不避親疏，非苦降之藥，未能清爽其神識也。</p>
<p>當歸　龍膽草　梔子仁　黃柏　黃連　黃芩(各一兩)　大黃　蘆薈　青黛(各五錢)　木香(二錢五分)　麝香(五分,另研)共為末，神麯糊丸。每服二十丸，薑湯下。</p>
<p><u>丹礬丸</u></p>
<p>(《醫通》)　治五癇。</p>
<p>黃丹(一兩)　白礬(二兩)二味入銀罐中　通紅，為末。入臘茶一兩，不落水豬心血為丸，朱砂為衣。每服三十丸，茶清下。久服其涎自便出，半月後更以安神藥調之。(按：豬心血不黏，宜加煉蜜少許合搗)</p>
<p><u>磁朱丸</u></p>
<p>　治癲狂癇如神。</p>
<p>磁石(一兩)　朱砂(一兩)　六神麯(三兩,生研)共研末。另以六神麯一兩，水和作餅，煮浮。入前藥加煉蜜為丸，如麻子大。沸湯下二錢。解見《時方歌括》。</p>
<h3>五淋癃閉赤白濁遺精方</h3>
<p><u>五淋湯</u></p>
<p>赤茯苓（三錢）　白芍　山梔子（各二錢）　當歸（一錢）　細甘草（一錢四分）</p>
<p>加燈芯十四寸，水煎服。解見《時方歌括》。</p>
<p><u>滋腎丸</u></p>
<p>　又名通關丸。治小便點滴不通，及治衝脈上逆、喘呃等證。</p>
<p>黃柏　知母（各一兩）　肉桂（一錢）</p>
<p>共研末，水泛為丸，桐子大，陰乾。每服三錢，淡鹽湯下。</p>
<p><u>補中益氣湯</u></p>
<p>　治一切氣虛下陷。</p>
<p>方見《中風》。</p>
<p><u>萆　釐清飲</u></p>
<p>　治白濁。</p>
<p>川萆　（四錢）　益智仁　烏藥（各一錢半）　石菖蒲（一錢）</p>
<p>一本加甘草梢一錢五分，茯苓二錢。水二杯，煎八分，入鹽一捻服，一日兩服。</p>
<p><u>四君子湯</u></p>
<p>方見《時方歌括》。</p>
<p>歌曰：白濁多因心氣虛，不應只作腎虛醫。四君子東加遠志，一服之間見效奇。</p>
<p><u>龍膽瀉肝湯</u></p>
<p>　治脅痛，口苦，耳聾，筋痿，陰濕熱癢，陰腫，白濁，溲血。</p>
<p>龍膽草（三分）　黃芩　梔子　澤瀉（各一錢）　木通　車前子（各五分）　當歸　甘草　生地（各三分）　柴胡（一錢）</p>
<p>水一杯半，煎八分服。</p>
<p><u>五倍子丸</u></p>
<p>　治遺精固脫之方。</p>
<p>五倍子(青鹽煮干，焙)　茯苓（各二兩）</p>
<p>為末，煉蜜丸桐子大。每服二錢，鹽湯下，日兩服。</p>
<p><u>妙香散</u></p>
<p>懷山藥（二兩）　茯苓　茯神　龍骨　遠志　人參（各一兩）　桔梗（五錢）　木香（三錢）　甘草（一兩）</p>
<p>麝香（一錢）　朱砂（二錢）</p>
<p>共為末。每服三錢，蓮子湯調下。</p>
<h3>疝氣方</h3>
<p><u>五苓散</u></p>
<p>(仲景)　本方治太陽證身熱、口渴、小便少。今變其分兩，借用治疝。</p>
<p>豬苓　澤瀉　茯苓（各二錢）　肉桂（一錢）　白朮（四錢水三杯，煎八分服。加木通、川楝子各一錢五分，橘核三錢，木香一錢。</p>
<p><u>三層茴香丸</u></p>
<p>　治一切疝氣如神。</p>
<p>大茴香（五錢，同鹽五錢炒)　川楝子（一兩）　沙參　木香（各一兩）</p>
<p>為末，米糊丸，如桐子大。每服三錢，空心溫酒下，或鹽湯下。才服盡，接第二料。</p>
<p>又照前方加蓽撥一兩，檳榔五錢，共五兩。依前丸服法。</p>
<p>若未愈，再服第三料。</p>
<p>又照前第二方加茯苓四兩，附子(炮)一兩，共前八味，重十兩。丸服如前。雖三十年之久，大如栲栳，皆可消散，神效。</p>
<p><u>《千金翼》洗方</u></p>
<p>　治丈夫陰腫如斗，核中痛。</p>
<p>雄黃末（一兩）　礬石（二兩）　甘草（七錢）</p>
<p>水五杯，煎二杯洗。</p>
<h3>消渴方</h3>
<p><u>白虎湯　</u></p>
<p>調胃承氣湯</p>
<p><u>　</u></p>
<p><u>理中丸　</u></p>
<p>烏梅丸</p>
<p><u>　</u></p>
<p>四方俱見《傷寒》。</p>
<p><u>腎氣丸　</u></p>
<p>六味湯炙甘草湯</p>
<p><u>　</u></p>
<p>三方俱見《虛癆》。</p>
<p><u>麥門冬湯</u></p>
<p>麥門冬（四錢）　半夏（一錢五分）　人參（二錢）　粳米（四錢）　炙甘草（一錢）　大棗（二枚）</p>
<p>水二杯，煎八分，溫服。</p>
<p><u>麻仁丸</u></p>
<p>火麻仁（二兩）　芍藥　枳實（各五錢）　大黃　厚朴（各一兩）</p>
<p>研末，煉蜜丸，如桐子大，每服十丸，米飲下，以知為度。</p>
<h3>痰飲方</h3>
<p><u>化痰丸</u></p>
<p>(王節齋)　治津液為火熏蒸，凝濁郁結成痰，根深蒂固，以此緩治之。</p>
<p>香附(童便浸炒，五錢）　橘紅（一兩）　栝蔞仁（一兩）　黃芩(酒炒)　天門冬　海蛤粉（各一兩）</p>
<p>青黛（三錢）　芒硝（三錢，另研)　桔梗（五錢）　連翹（五錢）</p>
<p>共研為末，煉蜜入生薑汁少許，為丸如彈子大。每用一丸，噙化。或為小丸，薑湯送下二錢。</p>
<p><u>苓桂朮甘湯</u></p>
<p>(《金匱》)　治胸脅支滿目眩。並治飲邪阻滯心肺之陽，令呼氣短。</p>
<p><u>腎氣丸</u></p>
<p>　治飲邪阻滯肝腎之陰，令吸氣短。</p>
<p>二方俱見《喘證》。</p>
<p><u>甘遂半夏湯</u></p>
<p>(《金匱》)　治飲邪留連不去，心下堅滿。</p>
<p>甘遂(大者，三枚)　半夏(湯洗七次，十三枚，以水一中杯，煮取半杯，去滓)　芍藥（五枚，約今之三錢)　甘草如指（一枚，炙。約今之一錢三分)水二杯，煎六分，去滓，入蜜半盞，再煎至八分服。</p>
<p>程氏曰：留者行之，用甘遂以決水飲。結者散之，用半夏以散痰飲。甘遂之性直達，恐其過於行水，緩以甘草、白蜜之甘，堅以芍藥之苦，雖甘草、甘遂相反，而實以相使，此苦堅甘緩約之之法也。《靈樞經》曰：約方猶約囊。其斯之謂與?尤氏曰：甘草與甘遂相反，而同用之者，蓋欲其一戰而留飲盡去，因相激而相成也。芍藥、白蜜，不特安中，亦緩毒藥耳。</p>
<p><u>十棗湯</u></p>
<p>(《金匱》)　治懸飲內痛。亦治支飲。</p>
<p>方見《腹痛》。</p>
<p><u>大青龍湯</u></p>
<p>(《金匱》)　治溢飲之病屬經表屬熱者，宜此涼發之。</p>
<p><u>小青龍湯</u></p>
<p>(《金匱》)　治溢飲之病屬經表屬寒者，宜此溫發之。</p>
<p>以上二方，俱見《傷寒》。</p>
<p><u>木防己湯</u></p>
<p>(《金匱》)　人膈中清虛如太空，然支飲之氣乘之，則滿喘而痞堅，面色黧黑，脈亦沉緊。得之數十日，醫者吐之下之俱不愈，宜以此湯開三焦之結，通上下之氣。</p>
<p>木防己（三錢）　石膏（六錢）　桂枝（二錢）　人參（四錢）</p>
<p>水二杯，煎八分，溫服。</p>
<p><u>木防己湯去石膏加茯苓芒硝湯</u></p>
<p>(《金匱》)　前方有人參，吐下後水邪因虛而結者，服之即愈。若水邪實結者，雖愈而三日復發，又與前方不應者，故用此湯去石膏之寒，加茯苓直輸水道，芒硝峻開堅結也。又此方與小青龍湯，治吼喘病甚效。</p>
<p>木防己（二錢）　桂枝（二錢）　茯苓（四錢）　人參（四錢）　芒硝（二錢五分）</p>
<p>水二杯半，煎七分，去滓，入芒硝微煎，溫服，微利自愈。</p>
<p><u>澤瀉湯</u></p>
<p>(《金匱》)　支飲雖不中正，而迫近於心，飲邪上乘清陽之位。其人苦冒眩，冒者，昏冒而神不清，如有物冒蔽之也；眩者，目旋轉而乍見眩黑也。宜此湯。</p>
<p>澤瀉（五錢）　白朮（二錢）</p>
<p>水二杯，煎七分，溫服。</p>
<p><u>厚朴大黃湯</u></p>
<p>(《金匱》)　治支飲胸滿。(支飲原不中正，飲盛則偏者不偏，故直驅之從大便出)厚朴（二錢）　大黃（二錢）　枳實（一錢五分）</p>
<p>水二杯，煎七分，溫服。</p>
<p><u>葶藶大棗瀉肺湯</u></p>
<p>(《金匱》)　治支飲不得息。</p>
<p>方見《氣喘》。</p>
<p><u>小半夏湯</u></p>
<p>(《金匱》)　治心下支飲，嘔而不渴。</p>
<p>半夏（四錢）　生薑（八錢）</p>
<p>水二杯，煎八分，溫服。</p>
<p><u>己椒藶黃丸</u></p>
<p>　(《金匱》)　治腹滿口舌乾燥，腸間有水氣。</p>
<p>防己　椒目　葶藶(熬)　大黃各一兩）</p>
<p>共為細末，煉蜜丸，如梧子大。先飲食服一丸，日三服，稍增之，口中有津液。渴者加芒硝半兩。</p>
<p>程氏曰：防己、椒目導飲於前，清者從小便而出；大黃、葶藶推飲於後，濁者從大便而下。此前後分消，則腹滿減而水飲行，脾氣轉輸而津液生矣。</p>
<p><u>小半夏加茯苓湯</u></p>
<p>　(《金匱》)　治卒然嘔吐，心下痞滿，膈間有水氣，眩悸者。</p>
<p>即小半夏東加茯苓四錢。</p>
<p><u>五苓散</u></p>
<p>　(《金匱》)　治臍下悸，吐涎沫而顛眩，此水也。</p>
<p>澤瀉（一兩一分）　豬苓　茯苓　白朮各十八銖(校：十黍為一銖，約今四分一厘七毫)　桂枝一兩）</p>
<p>為末。白飲和服方寸匕，日三服。多飲暖水，汗出愈。(六銖為一分，即今之二錢半也。澤瀉應一兩二錢五分。豬苓、白朮、茯苓各應七錢五分也。方寸匕者，匕即匙，正方一寸大，約八九分。余用二錢)愚按：臍下動氣去朮加桂，理中丸法也。今因吐涎沫是水氣盛，必得苦燥之白朮，方能制水。顛眩是土中濕氣化為陰霾，上彌清竅，必得溫燥之白朮，方能勝濕。證有兼見，法須變通。</p>
<p><u>附方：《外台》茯苓飲</u></p>
<p>　治積飲既去，而虛氣塞滿其中，不能進食。此證最多，此方最妙。</p>
<p>茯苓　人參　白朮(各二錢五分）　枳實(二錢）　橘皮(一錢二分五厘　生薑二錢）</p>
<p>水二杯，煎七分服，一日三服。</p>
<p>徐忠可曰：俗謂陳皮能減參力，此不唯陳皮，且加枳實之多，補瀉並行，何其妙也。</p>
<p><u>《三因》白散</u></p>
<p>滑石(五錢）　半夏(三錢）　附子(二錢，炮)共研末。每服五錢，加生薑三片，蜜三錢，水一杯半，煎七分服。</p>
<h3>傷寒方</h3>
<h4>太陽</h4>
<p><u>桂枝湯</u></p>
<p>桂枝　白芍(各三錢）　甘草(二錢，炙)　生薑(三錢，切片)　大棗(四枚)水二杯，煎八分，溫服。服後少頃，啜粥一杯，以助藥力，溫覆微似汗。若一服病止，不必再服；若病重者，一日夜作二服。</p>
<p><u>麻黃湯</u></p>
<p>麻黃(三錢，去根節)　桂枝(二錢）　杏仁(去皮尖,二十三枚)　甘草(一錢）</p>
<p>水三杯，先煮麻黃至二杯，吹去上沫，納諸藥，煎八分，溫服。不須啜粥，余將息如前法。</p>
<p><u>大青龍湯</u></p>
<p>麻黃(六錢，去根節)　桂枝(二錢）　甘草(二錢，炙)　杏仁(去皮尖,十二枚)　生薑(三錢，切片)大棗(四枚)　石膏(碎以綿裹,四錢五分）</p>
<p>水四杯，先煮麻黃至二杯半。去上沫，納諸藥，再煎八分，溫服。溫覆取微似汗，汗出多者，以溫粉撲之(白朮　牡蠣龍骨研末)。若汗多亡陽者，以真武湯救之。</p>
<p><u>小青龍湯</u></p>
<p>麻黃(去根節)　白芍　乾薑(不炒)　甘草　桂枝(各二錢）　半夏(三錢）　五味子(一錢）　細辛(八分）</p>
<p>水三杯半，先煮麻黃至二杯半，去沫，納諸藥，煎八分，溫服。若渴者，去半夏，加栝蔞根二錢。若噎者，去麻黃，加附子一錢五分。小便不利，小腹痛滿，去麻黃，加茯苓四錢。若喘者，去麻黃，加杏仁二十一枚。按論云：若微利者，去麻黃，加芫花。今芫花不常用，時法用茯苓四錢代之，即豬苓、澤瀉亦可代也，但行道人當於方後注明。</p>
<p><u>桂枝加葛根湯</u></p>
<p>即桂枝東加葛根四錢。</p>
<p>水三杯半，先煮葛根至二杯半，吹去沫，入諸藥，煎至八分，溫服。不須啜粥。</p>
<p><u>葛根湯</u></p>
<p>葛根(四錢）　麻黃(三錢）　生薑(三錢）　甘草(二錢）　桂枝(二錢）　大棗(四枚)　白芍(二錢）</p>
<p>水三鐘半，先煎麻黃、葛根至一杯，去沫，入諸藥，煎至八分，溫服。微似汗，不須啜粥。</p>
<h4>陽明</h4>
<p><u>白虎湯</u></p>
<p>石膏(八錢，碎綿裹)　知母(三錢）　炙草(一錢）　粳米(四錢）</p>
<p>水三杯，煎一杯，溫服。</p>
<p><u>調胃承氣湯</u></p>
<p>大黃(四錢，清酒潤)　炙草(二錢）　芒硝(三錢）</p>
<p>水二杯半，先煮大黃、甘草取一杯，去滓，入芒硝微煮令沸，少少溫服之。</p>
<p><u>小承氣湯</u></p>
<p>大黃(四錢）　厚朴　枳實(各二錢）</p>
<p>水二杯，煎八分，溫服。初服當更衣，不爾者再煮服，若更衣勿服。</p>
<p><u>大承氣湯</u></p>
<p>大黃(二錢，酒潤)　厚朴(四錢）　枳實　芒硝(各二錢）</p>
<p>水三杯，先煮枳實、厚朴至一杯半，去滓，納大黃；煮一杯，去滓、納芒硝，微火煮一二沸服。得下，勿再服。</p>
<h4>少陽</h4>
<p><u>小柴胡湯</u></p>
<p>柴胡(四錢）　人參　黃芩　炙草　生薑(各一錢）　半夏(二錢）　大棗(二枚)水二鐘，煎一鐘，去滓，再煎八分，溫服，一日夜作三服。胸中煩而不嘔者，去半夏、人參，加栝蔞二錢。渴者，去半夏，加人參七分、栝蔞根二錢；腹中痛者，去黃芩，加芍藥一錢半；脅下痞　，去大棗，加牡蠣二錢；心下悸、小便不利者，去黃芩，加茯苓一錢）</p>
<p>；不渴外有微熱者，去人參，加桂枝一錢五分，溫覆取微似汗愈；咳者，去人參、大棗、生薑，加五味子一錢，乾薑一錢五分。</p>
<p><u>大柴胡湯</u></p>
<p>柴胡(四錢）　半夏(二錢）　黃芩　芍藥　枳實(各一錢）　生薑(二錢,五分）　大棗(二枚　一本有大黃五分）</p>
<p>水三鐘，煎八分，溫服一鐘，一日夜作三服。</p>
<h4>太陰</h4>
<p><u>理中丸湯</u></p>
<p>人參　白朮　乾薑　甘草(各三兩）</p>
<p>共研末，蜜丸如雞子黃大，研碎以沸湯服一丸，日三四服。服後啜熱粥，以腹熱為度。</p>
<p>或用各三錢，水三鐘，煎八分，溫服。服後啜熱粥。若臍上築者，去朮，加桂；吐多者，去朮，加生薑二錢；下多者，還用術；悸者，加茯苓；渴欲飲水者，加朮；腹痛者，加人參；寒者，加乾薑；腹滿者，去朮，加附子；服湯後如食頃，啜熱粥，微自溫，勿揭衣被。</p>
<p><u>四逆湯</u></p>
<p>甘草(四錢，炙)　乾薑(二錢）　附子(二錢，生用)水三鐘，煎八分，溫服。</p>
<p><u>通脈四逆加人尿豬膽湯</u></p>
<p>乾薑(六錢）　甘草(四錢）　附子(二錢，生用)水三鐘，煎八分，加豬膽汁一湯匙、人尿半湯匙，溫服。</p>
<p><u>桂枝加芍藥湯</u></p>
<p>桂枝　生薑(二錢）　大棗(四枚)　芍藥（六錢）　炙草(二錢）</p>
<p>水三杯，煎一杯服。</p>
<p><u>桂枝加大黃湯</u></p>
<p>桂枝　生薑(各三錢）　芍藥(六錢）　炙草(三錢）　大黃（七分）　大棗(四枚)水三杯，煎八分，溫服。</p>
<h4>少陰</h4>
<p><u>麻黃附子細辛湯</u></p>
<p>麻黃(去根節)　細辛(各三錢）　附子(一錢五分）</p>
<p>水三鐘，先煮麻黃至二鐘，去沫，入諸藥煎七分，溫服。</p>
<p><u>麻黃附子甘草湯</u></p>
<p>麻黃(去根)　甘草(各三錢）　附子(一錢五分）</p>
<p>煎法同上。</p>
<p><u>通脈四逆湯</u></p>
<p>乾薑(六錢）　炙草(四錢）　附子(二錢，生用)水二杯，煎八分，溫服。</p>
<p><u>白通湯</u></p>
<p>乾薑(三錢）　附子(三錢，生用)　蔥白(二根)水三杯，煎八分，溫服。</p>
<p><u>吳茱萸湯</u></p>
<p>吳茱萸(三錢，湯泡)　人參(一錢五分）　大棗(四枚　生薑六錢）</p>
<p>水煎服。</p>
<p><u>豬苓湯</u></p>
<p>豬苓　茯苓　澤瀉　滑石　阿膠(各三錢）</p>
<p>水一杯，先煮四味至一杯，去滓，入膠煎化服。</p>
<p><u>黃連阿膠雞子黃湯</u></p>
<p>黃連(四錢）　黃芩(一錢）　芍藥(二錢）　阿膠(三錢）　雞子黃(一枚)水二杯半，煎一杯半，去滓，入膠烊盡，小冷，入雞子黃攪令相得。溫服，一日三服。</p>
<p><u>大承氣湯</u></p>
<p>方見《陽明》。</p>
<h4>厥陰</h4>
<p><u>烏梅丸</u></p>
<p>烏梅（九十三枚）　細辛（六錢）　乾薑（一兩）　當歸（四錢）　黃連（一兩六錢）　附子（六錢，炮)　蜀椒（四錢，炒)　桂枝　人參　黃柏（各六錢）</p>
<p>各另研末，合篩之，以苦酒浸烏梅一宿，去核，飯上蒸之，搗成泥，入煉蜜共搗千下，丸如梧子大。先飲食白飲服十丸，日三服，漸加至二十丸。</p>
<p><u>當歸四逆湯</u></p>
<p>當歸　桂枝　白芍（各三錢）　甘草(炙)　木通　細辛（各二錢）　大棗（八枚，又一枚取三分之一，擘)水三杯，煎八分，溫服。寒氣盛者，加吳茱萸二錢半，生薑八錢，以水二杯，清酒二杯，煮取一杯半，溫分二服。</p>
<p><u>白頭翁湯</u></p>
<p>白頭翁（一錢）　黃連　黃柏　秦皮（各一錢五分）</p>
<p>水二杯，煎八分，溫服。余詳於《時方妙用‧附錄傷寒門》。</p>
<h3>瘟疫方</h3>
<p><u>人參敗毒散</u></p>
<p>方見《痢疾》。</p>
<p><u>防風通聖散</u></p>
<p>方見《中風》。</p>
<p><u>藿香正氣散</u></p>
<p>　治外受四時不正之氣，內停飲食，頭痛寒熱。或霍亂吐瀉，或作瘧疾。</p>
<p>藿香　白芷　大腹皮　紫蘇　茯苓（各三兩）　陳皮　白朮　厚朴　半夏曲　桔梗（各二兩）</p>
<p>甘草（一兩）</p>
<p>每服五錢，加薑、棗煎。</p>
<p><u>神聖辟瘟丹</u></p>
<p>　神聖辟瘟丹，留傳在世間。正元焚一炷，四季保平安。(此歌出聶久吾《匯函》)羌活　獨活　白芷　香附　大黃　甘松　山柰　赤箭　雄黃（各等分）　蒼朮（倍用）</p>
<p>上為末，面糊為丸彈子大，黃丹為衣，晒乾。正月初一侵晨　，焚一炷辟瘟。</p>
<h3>婦人科方</h3>
<p><u>四物湯</u></p>
<p>　統治婦人百病。</p>
<p>當歸身　熟地　白芍(酒炒，各三錢）　川芎（一錢五分）</p>
<p>水三杯，煎八分服。加製香附二錢，研碎，炙草一錢。加減詳《三字經》。</p>
<p><u>歸脾湯</u></p>
<p>方見《虛癆》。</p>
<p><u>逍遙散</u></p>
<p>(景岳)　治婦人思郁過度，致傷心脾衝任之源，血氣日枯，漸至經脈不調者。</p>
<p>當歸（三錢）　芍藥（一錢五分）　熟地（五錢）　棗仁（二錢，炒)　茯神（一錢五分）　遠志（五分）　陳皮（八分）　炙草（一錢）</p>
<p>水三杯，煎八分服。氣虛，加人參；經滯痛，加香附。(按方雖庸陋，能滋陽明之燥，故從俗附錄之。地黃生用佳)</p>
<p><u>當歸散</u></p>
<p>(《金匱》)　瘦而有火，胎不安者，宜此。</p>
<p>當歸　黃芩　芍藥　芎　（各一斤）　白朮（半斤）</p>
<p>共研末。酒服方寸匕。今用一錢，日再服。妊娠常服即易產，胎無疾苦。產後百病悉主之。</p>
<p><u>白朮散</u></p>
<p>(《金匱》)　肥白有寒，胎不安者，此能養胎。</p>
<p>白朮　川芎　川椒　牡蠣為末，酒服一錢匕。今用一錢，日三服，夜一服。但苦痛，加芍藥；心下毒痛，加川芎；心煩吐痛不食，加細辛、半夏服之，後更以醋漿服之。復不解者，小麥汁服之。已後渴者，大麥汁服之。病雖愈，服勿置。</p>
<p><u>保生無憂散</u></p>
<p>　婦人臨產，先服三兩劑，自然易生。或遇橫生倒產，連日不生，服二三劑，神效。</p>
<p>當歸（一錢五分，酒洗)　川貝母（一錢）　黃　（八分，生用)　艾葉（七分）　酒芍（一錢二分，冬日一錢)　菟絲子（一錢四分）　厚朴(薑汁炒，七分）　荊芥穗（八分）　枳殼(麩炒，六分）　川芎（二錢二分）　羌活　甘草（各五分）</p>
<p>加生薑三片，水二杯，煎八分，空心服。</p>
<p>此方全用撐法。當歸、川芎、白芍養血活血者也，厚朴去瘀血者也，用之撐開血脈，俾惡露不致填塞。羌活、荊芥疏通太陽，將背後一撐，太陽經脈最長，太陽治則諸經皆治。枳殼疏理結氣，將面前一撐，俾胎氣斂抑而無阻滯之虞。艾葉溫暖子宮，撐動子宮則胞胎靈動。貝母、菟絲最能滑胎順氣，將胎氣全體一撐，大具天然活潑之趣矣。加黃　者，所以撐扶元氣，元氣旺，則轉動有力也。生薑通神明、去穢惡、散寒止嘔，所以撐扶正氣而安胃氣。</p>
<p>甘草協和諸藥，俾其左宜右有，而全其撐法之神也。此方人多不得其解，程鐘齡注獨超，故全錄之。</p>
<p><u>加味歸芎湯</u></p>
<p>川芎（三錢）　當歸身（五錢）　龜板（三錢，生研)　婦人生過男女頂門發(燒如雞子大)水三杯，煎八分服。如人行五裡即生。</p>
<p><u>當歸補血湯</u></p>
<p>當歸（三錢）　炙　（一兩）</p>
<p>水煎服。加附子三錢，神效；或加桂一錢。</p>
<p><u>失笑散</u></p>
<p>方見《心腹痛》。</p>
<p><u>生化湯</u></p>
<p>當歸（五錢）　川芎（二錢）　乾薑（五分，炮)　桃仁（一錢五分，去皮尖)　甘草（一錢，炙)水二杯，煎八分服。產後風，口噤、角弓反張者，宜加荊芥穗三錢。又方，中風口噤，用華佗愈風散，即荊芥穗一味焙為末，勿焦黑，以童便和酒送下。口噤藥不下者，用一兩零，再以童便煎好，從鼻孔灌下。</p>
<p><u>當歸生薑羊肉湯</u></p>
<p>方見《心腹痛》。</p>
<p><u>竹葉湯</u></p>
<p>(《金匱》)　治產後中風，病痙發熱，面正赤，喘而頭痛。</p>
<p>鮮竹葉（四十九片）　葛根（三錢）　防風（一錢）　桔梗　桂枝　人參　附子(炮)　甘草（各一錢）</p>
<p>大棗（五枚）　生薑（五錢）</p>
<p>水三杯，煎八分，溫服，溫覆使汗出，日夜作三服。頭項強，加附子五分，煎藥揚去沫；嘔者，加半夏二錢。</p>
<p>愚按：自汗者，去葛根，加栝蔞根三錢，附子五分。產後痙症，十中只可救一，除此方外，無一善方。</p>
<p><u>甘麥大棗湯</u></p>
<p>甘草（三錢）　小麥（二兩六錢）　大棗（十枚）</p>
<p>水三杯，煎一杯服，日作三服。</p>
<p>《金匱》方只錄五首。余見拙著《金匱淺說》《金匱讀》內，二書即欲梓行，集隘不能盡登。</p>
<h3>小兒科方</h3>
<p>小兒無專方，以上諸方，折為小劑用之。今兒科開口即曰食、曰驚、曰風、曰疳　，所用之藥　，大抵以鉤藤、秦艽、防風、羌活、獨活、天麻、前胡、全蠍、僵蠶為祛風之品；朱砂、牛黃、膽星、石菖蒲、天竺黃、代赭石、青黛、赤芍，金銀煎湯，為定驚之品；以山楂、神麯、麥芽、穀芽、萊菔子、枳殼、厚朴、檳榔、草果為消食之品；以蕪荑、榧子、使君子、螟蛉土、五穀蟲為治疳之品。如杏仁、葶藶、酒芩、桑白皮、半夏曲、蘇陳皮、貝母、天花粉之類，謂為通用調氣化痰之善藥。父傳子，師傳徒，其專方皆殺人之具也。錢仲陽以金石之藥為倡，猶有一二方近道處，至《鐵鏡》采薇湯則亂道甚矣。近日兒科，只用以上所列諸藥，任意寫來，造孽無已，實堪痛恨!</p>
<h2>附錄</h2>
<h3>陰陽</h3>
<h4>識一字便可為醫說</h4>
<p>客有問於余曰：醫之為道，乃古聖人泄天地之秘，奪造化之權，起死回生，非讀破萬卷書，參透事事物物之理者不能。今非通儒而業此，亦能療人病獲盛名，何也?余曰：天地間有理有數，理可勝數，則有學問之醫，遠近崇之，遂得以盡其活人之道。然仲景為醫中之聖，尚未見許於當時，觀《傷寒論》之序文可見，猶宣聖以素王老其身，天之意在萬世，不在一時也。仲景之後，名賢輩出，類皆不得志於時，閉門著書，以為傳道之計；而喻嘉言、柯韻伯二先生書，尤感憤而為不平之鳴，此理數之可言而不可言者矣。今之業醫者，無論不足為通儒，而求其識字者，則為良醫矣。無論其識多字也，只求其識一字者，亦可以為良醫矣。客曰：此何字也，得毋所謂丁字乎?余曰：亦其類耳。不必他求，即人字是也。人乃陰精陽氣合而成之者也，左為陽，左邊一　，陽之位也；右為陰，右邊一HT　，陰之位也。作書者，遇　處自然輕手揮之，陽主乎氣，輕清之象也；遇HT　處自然重手頓之，陰主乎精，重濁之象也。兩畫不相離，陰陽互根之道也；兩畫各自位置，陰陽對待之道也。　在左者不可使之右，HT　在右者不可使之左，陰陽不離之道也。左　由重而輕，萬物生於水，即男女媾精，萬物化生之義，由陰而陽也。右HT　由輕而重，形生於氣，即大哉乾元，乃通統天，至哉坤元，乃順承天之義，陽統乎陰也。二者合之則成人，合之之義，醫書謂之曰抱，《周易》名之曰交，交則為泰矣。試以形景淺言之，人之鼻下口上水溝穴，一名人中，取人身居乎天地中之義也(天氣通於鼻，地氣通於口。天食人以五氣，鼻受之；地食人以五味，口受之。穴居其中，故曰人中)。自人中而上，目、鼻、耳皆兩竅(偶畫)，自人中而下，口與二便皆單竅(奇畫)。上三畫偶而為陰，下三畫奇而為陽，取天地之義，合成泰卦也。形景主外，猶必合陰陽之象而成人，況人之所以生之理乎，人之為義大矣哉!子若遇醫者，問此一字，恐高車駟馬，詡詡以名醫自負者，亦一字不識也。客聞予言，亦大笑而去。</p>
<h3>臟腑</h3>
<h4>十二官</h4>
<p>《靈蘭秘典論》云：心者，君主之官也，神明出焉。肺者，相傅之官，治節出焉。肝者，將軍之官，謀慮出焉。膽者，中正之官，決斷出焉。膻中者，臣使之官，喜樂出焉。脾胃者，倉廩之官，五味出焉。大腸者，傳道之官，變化出焉。小腸者，受盛之官，化物出焉。</p>
<p>腎者，作強之官，伎巧出焉。三焦者，決瀆之官，水道出焉。膀胱者，州都之官，津液藏焉，氣化則能出矣。按：此以脾胃合為一官，恐錯簡耳。《刺法補遺篇》云：脾者，諫議之官，知周出焉；胃者，倉廩之官，五味出焉。采此補入，方足十二官之數。</p>
<h4>心說</h4>
<p>心，火臟，身之主，神明之舍也。小篆嘗言，心字篆文只是一倒火字耳。蓋心，火也；不欲炎上，故顛倒之，以見調燮之妙也。祝無功曰：庖氏一畫，直豎之則為　，左右倚之則為為HT　，縮之則為　，曲之則　，　圓而神，一　HT　方以直，世間字變化浩繁，未有能外一　HT　架構之者。獨心字欲動欲流，圓妙不居，出之乎一HT之外，更索一字與作對不得。正以心者，新也。神明之官，變化而日新也。心主血脈，血脈日新，新新不停，則為平人，否則病矣。(其合脈也，其榮色也，開竅於舌)</p>
<h4>肝說</h4>
<p>肝，木臟，魂所藏也。肝者，干也，以其體狀有枝干也。又位於東方，而主生氣。時醫昧其理，反云肝無補法，宜涼、宜伐，只泥木克土之一說，而不知後天八卦配河圖之象。三八為木，居東，即後天震巽之位，巽上坤下則為觀，《易》曰：觀，天之神道，而四時不忒。上坤下震則為復，《易》曰：復，其見天地之心乎，為義大矣哉!(其合筋也，其榮爪也，開竅於目)</p>
<h4>脾說</h4>
<p>脾為土臟，藏意與智，居心肺之下，故從卑。又脾者，裨也，裨助胃氣以化穀也。經云「納穀者昌」，其在此乎。(其合肉也，其榮唇也，開竅於口)</p>
<h4>肺說</h4>
<p>肺，金臟，魄所藏也。肺者，沛也，中有二十四孔，分布清濁之氣，以行於諸臟，使沛然莫御也。《內經》曰：肺惡寒。又曰：形寒飲冷則傷肺。勿只守火克金之一說也。(其合皮也，其榮毛也，開竅於鼻)</p>
<h4>腎說</h4>
<p>腎，水臟，藏精與志，華元化謂為性命之根也。又腎者，任也，主骨，而任周身之事，故強弱系之。《甲乙經》曰：腎者，引也，能引氣通於骨髓。《卮言》曰：腎者，神也，妙萬物而言也。(其合骨也，其榮發也，開竅於二陰)</p>
<h4>胃說</h4>
<p>胃，屬土，脾之腑也，為倉廩之官，五穀之府，故從田。田乃五穀所出，以為五穀之市也。又胃者、衛也，水穀入胃，游溢精氣，上出於肺，暢達四肢，布護周身，足以衛外而為固也。</p>
<h4>膽說</h4>
<p>字從詹，不從旦。膽音檀，乃口脂澤也，與膽不同。今從膽者，乃傳襲之訛也。</p>
<p>膽，屬木，肝之腑也。為中正之官，中清之府，十一經皆取決於膽。人之勇怯邪正，於此詹之，故字從詹。又，膽者，擔也，有膽量方足以擔天下之事。肝主仁，仁者不忍，故以膽斷；膽附於肝之短葉間，仁者必有勇也。</p>
<h4>大腸小腸說</h4>
<p>大腸，傳道之官，變化出焉，屬金，為肺之腑。小腸，受盛之官，化物出焉，屬火，為心之腑。人納水穀，脾氣化而上升，腸則化而下降。蓋以腸者，暢也，所以暢達胃中之氣也，腸通暢則為平人，否則病矣。</p>
<h4>三焦說</h4>
<p>三焦者，上、中、下三焦之氣也。焦者，熱也，滿腔中熱氣布護，能通調水道也。為心包絡之腑，屬火。上焦不治，則水泛高源。中焦不治，則水留中脘。下焦不治，則水亂二便。三焦氣治，則脈絡通而水道利，故曰決瀆之官。</p>
<h4>手心主說(即心包絡)</h4>
<p>心乃五臟六腑之主，其包絡為君主之外衛，相火代君主而行事也，所以亦有主名。何以系之以手?蓋以手厥陰之脈，出屬心包；手三陽之脈，散絡心包；是手與心主合，故心包絡稱手心主。五臟加此一臟，實六臟也。</p>
<h4>膀胱說</h4>
<p>膀胱，屬水，為腎之腑。經云：膀胱者，州都之官，津液藏焉，氣化則能出矣。言其能得氣化，而津液外出，滋潤於皮毛也。若水道之專司，則在三焦之腑。故經云：三焦決瀆之官，水道出焉。言其熱氣布護，使水道下出而為溺也。《內經》兩出字：一為外出，一為下出，千古罕明其旨，茲特辨之。又膀者，旁也；胱者，光也。言氣海之元氣足，則津液旁達不窮，而肌腠皮毛皆因以光滑也。</p>
<h4>命門說</h4>
<p>越人指右腎為命門，諸家非之。余考《內經》太陽根於至陰，結於命門。命門者，目也。《靈樞‧結根篇》《衛氣篇》《素問‧陰陽離合論》，三說俱同。後讀《黃庭經》云：上有黃庭，下有關元；後有幽門，前有命門。方悟其處。凡人受生之初，先天精氣聚於臍下，當關元、氣海之間。其在女者，可以手捫而得，俗名產門。其在男者，於泄精之時，自有關闌知覺。此北門鎖鑰之司，人之至命處也。又考越人七衝門之說謂：飛門，唇也；戶門，齒也；吸門，會厭也；賁門，胃之上口也；幽門，大腸下口也；闌門，小腸下口也；魄門，肛門也，便溺由氣化而出。又增溺竅為氣門。凡稱之曰門，皆指出入之處而言也。況身形未生之初，父母交會之際，男之施由此門而出，女之受由此門而入。及胎元既足，復由此門而生。故於八門之外，重之曰命門也。若夫督脈十四椎中，有命門之穴，是指外　而言，如五臟六腑　一理。非謂命門即在此也。</p>
<h3>經絡</h3>
<h4>經絡歌訣</h4>
<p>江　庵《本草備要》後附此，宜熟讀之，無庸再著。</p>
<h3>四診</h3>
<h4>望色</h4>
<p>春夏秋冬長夏時，青黃赤白黑隨宜。</p>
<p>左肝右肺形呈頰，心額腎頤鼻主脾。</p>
<p>察位須知生者吉，審時若遇克堪悲。</p>
<p>更於黯澤分新舊，隱隱微黃是愈期。</p>
<p>又有辨舌之法。舌上無苔為在表，鮮紅為火，淡白為寒(主無苔言，非謂苔之淡白也。)若有白苔為半表半裡，黃苔為在裡，黑苔病入少陰，多死。苔潤有液為寒，苔燥無液為火，舌上無苔如去油腰子為亡液，不治。</p>
<h4>聞聲</h4>
<p>肝怒聲呼心喜笑，脾為思念發為歌，肺金憂慮形為哭，腎主呻吟恐亦多。</p>
<p>又法，氣衰言微者為虛，氣盛言厲者為實，語言首尾不相顧者神昏，狂言怒罵者實熱，痰聲漉漉者死，久病聞呃為胃絕。大抵語言聲音以不異於平時者吉，反者為凶。</p>
<h4>問症</h4>
<p>(出《景岳全書》。張心在增潤之)一問寒熱二問汗，三問頭身四問便，五問飲食六問胸，七聾八渴俱當辨，九問舊病十問因，再兼服藥參機變，婦人尤必問經期，遲速閉崩皆可見，再添片語告兒科，天花麻疹虔占驗。</p>
<h4>切脈</h4>
<p>微茫指下最難知，條緒尋來悟治絲(舊訣以浮、芤、滑、實、弦、緊、洪為七表，以沉、微、遲、緩、濡、伏、弱、澀為八裡，以長、短、虛、促、結、代、牢、動、細為九道，李瀕湖、李士材加入數、革、散三脈，共二十七字，實難摸索。必得其頭緒如治絲者，始有條不紊)。三部分持成定法(左寸外以候心，內以候膻中。右寸外以候肺，內以候胸中。左關外以候肝，內以候鬲。右關外以候胃，內以候脾。兩尺外以候腎，內以候腹。腹者，大小二腸、膀胱俱在其中。前以候前，後以候後。上竟上者，胸喉中事也；下竟下者，小腹、腰股、膝脛中事也。此照《內經》分發之法)，八綱易見是良規(浮主表，沉主裡，二脈於指下輕重辨之，易見也。遲主寒，數主熱，二脈以息之至數分之，易見也。大主邪實，細主正虛，二脈以形之闊窄分之，易見也。長主素盛，短主素弱，二脈以部之長短分之，易見也。以此八脈為綱。其余諸脈，辨其兼見可也，置而弗辨亦可也。起四句，總提切脈之大法也)。胃資水穀人根本(脈屬肺而肺受氣於胃)，土具沖和脈委蛇(不堅直而和緩也，脈得中土之生氣如此，此以察胃氣為第一要)。臟氣全憑生克驗(審臟氣之生克為第二要。如脾病畏弦，木克土也。肺病畏洪，火克金也。反是，則與臟氣無害)。天時且向逆從窺(推天運之順逆為第三要。如春氣屬木脈宜弦，夏氣屬火脈宜洪之類。反是，則與天氣不應)。陽為浮數形偏亢(仲景以浮、大、動、滑、數為陽，凡脈之有力者俱是，陰則沉遲勢更卑(仲景以沉、澀、弱、弦、遲為陰，凡脈之無力者皆是。此又提出陰陽二字，以起下四句辨脈病之宜忌，為第四要)。外感陰來非吉兆(外感之證，脈宜浮洪，而反細弱，則正不勝邪矣)，內虛陽現實堪悲(脫血之後，脈宜靜細，而反洪大，則氣亦外脫矣)。諸凡偏勝皆成病(偏陽而洪大，偏陰而細弱，皆病脈也)，忽變非常即弗醫(舊訣有雀啄、屋漏、魚翔、蝦游、彈石、解索、釜沸七怪之說，總因陰陽離決，忽現出反常之象)。只此數言占必應，《脈經》鋪敘總支離(病之名有萬，而脈象不過數十種，且一病而數十種之脈無不可見，何能診脈而即知為何病耶?脈書欺人之語，最不可聽)。</p>
<h3>運氣</h3>
<h4>張飛疇運氣不足憑說</h4>
<p>諺云：不讀五運六氣，檢遍方書何濟。所以稍涉醫理者，動以司運為務。曷知《天元紀》等篇，本非《素問》原文，王氏取《陰陽大論》補入經中，後世以為古聖格言，孰敢非之，其實無關於醫道也。況論中明言，時有常位，而氣無定然，猶諄諄詳論者，不過窮究其理而已。縱使勝復有常，而政分南北。四方有高下之殊，四序有非時之化；百步之內，晴雨不同；千裡之外，寒暄各異。豈可以一定之法，而測非常之變耶?若熟之以資顧問則可，苟奉為治病之法，則執一不通矣。</p>
