<header><h1>嚴氏濟生方</h1></header>
<dl class="元資料" data-type="book">
<div><dt>作者</dt><dd>嚴用和</dd></div>
<div><dt>朝代</dt><dd>宋</dd></div>
<div><dt>年份</dt><dd><data value="1253">公元1253年（宋·寶元）</data></dd></div>
<div><dt>底本</dt><dd>《欽定四庫全書·子部五·醫家類·濟生方》（<a href="https://www.kanripo.org/text/KR3e0043/">掃描及文字化本</a>）</dd></div>
</dl>
<h2>原序一</h2>
<p>古人不在朝廷之上，必居醫卜之中，雖然醫之為藝誠難矣，亦貴乎精也。所謂精者，當先造於四者之妙而已。古人云，脈病證治是也。夫微妙在脈，不可不察，察之有理，乃知受病之因，得病之因，乃識其證，既識其證，則可詳其所治，四者不失，臨病之際，可以療寒以冷，有餘者與之，不足者取之，是謂實實虛虛，損不足而益有餘。苟不明此，鮮有不致斃者，良可嘆哉！用和幼自八歲喜讀書，年十二，受學於復真劉先生之門，先生名開，立之其字也。獨荷予進，面命心傳，既十七，四方士夫，曾不以少年淺學，而邀問者踵至，今留心三十余歲矣！偶因暇間，慨念世變有古今之殊，風土有燥濕之異，故人稟亦有濃薄之不齊，概執古方，以療今之病，往往枘鑿之不相入者，輒因臆見，乃度時宜，采古人可用之方。裒所學已試之效，疏其論治，犁為條類，名曰濟生方，集既成，不敢私秘，竟鋟諸木，用廣其傳，不惟可以備衛生家緩急之需，抑以示平日師傳濟生之實意云。</p>
<p><u>時寶治癸丑上已廬山嚴用和序。</u></p>
<h2>原序二</h2>
<p>余夙嗜方書，蚤即師授以醫道行世五十余年，比因暇日，論治凡八十，制方凡四百，總為十著續不過所以</p>
<p><u>時咸淳丁卯良月廬山嚴用和謹書。</u></p>
<h2>五臟門</h2>
<h3>肝膽虛實論治</h3>
<p>夫肝者，足厥陰之經，位居東方，屬乎甲乙木，開竅於目，候於左脅。其政變動，病發驚駭其經食，枯，心下筋急或治</p>
<h4>柏子仁湯</h4>
<p>治肝氣虛寒，兩脅脹滿，筋脈拘急，腰、膝、小腹痛，面青口噤。</p>
<p>柏子仁（炒）　白芍藥　防風（去蘆）　茯神（去木）　當歸（去蘆，酒浸）　芎　附子（炮，去皮。各一兩）　細辛（洗去土葉）　桂心（不見火）　甘草（炙。各半兩）</p>
<p>上　咀，每服四錢，水一盞半，薑五片，煎至七分，去滓，溫服，不拘時候。</p>
<h4>柴胡散</h4>
<p>治肝氣實熱，頭痛目眩，眼目赤痛，胸中煩悶，夢寐驚恐，肢節不利。</p>
<p>柴胡（去蘆）　地骨皮（去木）　玄參　羚羊角（鎊）　甘菊花（去枝梗）　赤芍藥　黃芩（各一兩）　甘草（炙，半兩）</p>
<p>上　咀，每服四錢，水一盞半，薑五片，煎至八分，去滓，溫服，不拘時候。</p>
<h4>茯神湯</h4>
<p>治膽氣虛冷，頭痛目眩，心神恐畏不能獨處，胸中滿悶。</p>
<p>茯神（去木）　酸棗仁（炒去殼）　黃　（去蘆）　白芍藥　五味子，柏子仁（炒。各一兩）　桂心（不見火）　熟地黃（洗）　人參　甘草（炙。各半兩）</p>
<p>上　咀，每服四錢，水一盞半，薑五片，煎至七分，去滓，溫服，不拘時候。</p>
<h4>酸棗仁丸</h4>
<p>治膽氣實熱不得睡，神思不安。</p>
<p>茯神（去木）　酸棗仁（炒，去殼）　遠志（去心，炒）　柏子仁（炒，別研）　防風（去蘆。各一兩）　生地黃（洗）　枳殼（去瓤。各半兩）　青竹茹（二錢半）</p>
<p>上為細末，煉蜜為丸，如梧桐子大，每服七十丸，不拘時候，熟水送下。</p>
<h3>心小腸虛實論治</h3>
<p>夫心者，手少陰之經，位居南方，屬乎丙丁火，為形之君。外應於舌，主宰一身，統攝諸臟血脈，灌溉溪穀，內潤五臟，外衛腠理，與手陽明小腸之經相為表裡。若憂愁思慮傷之，因暴痛，時唾清涎，心膈脹悶，好忘多驚，夢寐飛揚，精神離散，其脈浮而虛者，是虛寒之候也；及其實也，實則生熱，熱則心神煩亂，面赤身熱，口舌生瘡，咽燥頭痛，喜笑恐悸，手心煩熱，汗出衄血，其脈洪實者，是實熱之候也。診其脈浮大而散，是不病之脈，反得浮澀而短，或前曲後據，如操帶鉤，此皆心死矣。治之之法，熱則清之，寒則溫之，又當審其所自焉。</p>
<h4>補心丸</h4>
<p>治憂愁思慮過度，心血虛寒，悸恐不樂，舌強話難，恍惚、喜忘、愁恚、面黃多汗，不進飲食。</p>
<p>紫石英（火　，研細）　熟地黃（洗）　菖蒲　茯神（去木）　當歸（去蘆）　附子（炮，去皮臍）</p>
<p>參（半兩）</p>
<p>上為細末，煉蜜為丸，如梧桐子大，每服七十丸，不拘時候，用棗湯下。</p>
<h4>心丹</h4>
<p>（又名法丹）</p>
<p>此丹顆粒辰砂加心藥煮煉。主男子、婦人心氣不足，神志不寧，憂愁思慮，謀用過度，或因驚恐傷神失志，耗傷心氣，恍惚振悸，差錯健忘，夢寐驚魘，喜怒無時不省人事，及治元氣虛弱，唇燥咽乾，潮熱盜汗，或肺熱上壅，痰唾稠黏，咳嗽煩渴，或大病後心虛煩躁，小兒心氣虛弱，欲發驚癇，或直視發搐，應是一切心疾並宜服之。常服養心益血，安魂定魄，寧心志，止驚悸，順三焦，和五臟，助脾胃，進飲食，聰明耳目，悅澤顏色，輕身耐老，不僭不燥，神驗不可具述。</p>
<p>朱砂（五十兩）　新羅人參　遠志（去心，甘草煮）　熟地黃（洗淨，酒蒸焙）　白朮　石菖蒲木）　柏子仁（揀上加人參等十四味，各如法修制，銼碎拌勻，次將此藥滾和，以夾生絹袋盛貯，用麻線緊系袋懸蜜再時，如前粽為丸，如豌豆大，陰乾，每服十粒至二十粒，食後，</p>
<h4>導赤散</h4>
<p>治心臟實熱，口乾煩渴，或口舌生瘡，驚怖不安。</p>
<p>黃連（去須）　麥門冬（去心）　半夏（湯泡七次）　地骨皮（去木）　茯神（去木）　赤芍藥　木通（去節）　生地黃（洗）　黃芩（以上各一兩）　甘草（炙，半兩）</p>
<p>上　咀，每服四錢，水一盞半，薑五片，煎至八分，去滓，溫服，不拘時候。</p>
<h4>椒附丸</h4>
<p>治小腸虛冷，小便頻多。椒紅（炒出汗）　桑螵蛸（酒炙）　龍骨（生用）　山茱（取肉）附子（炮，去皮）鹿茸（酒蒸，焙）</p>
<p>上等分，細末，酒糊為丸，如梧桐子大，每服七十丸，空心，鹽湯送下。</p>
<h4>赤茯苓湯</h4>
<p>治小腸實熱，面赤多汗，小便不利。</p>
<p>木通（去節）　赤茯苓（去皮）　檳榔　生地黃（洗）　黃芩　赤芍藥　甘草（炙）　麥門冬（去心）</p>
<p>上等分，　咀，每服四錢，水一盞半，生薑五片，煎至八分，去滓、溫服，不拘時候。</p>
<h3>脾胃虛實論治</h3>
<p>夫脾胃者，足太陰之經，位居中央，屬乎戊巳土，主於中州，候身肌肉，與足陽明胃之經思飲不心樂，不病</p>
<h4>進食散</h4>
<p>治脾胃虛寒，或食生冷，或飲食不節，或因思慮傷動沖和之氣，胸膈痞塞，腹脹怠全不進食，痰逆惡心，大便溏泄。</p>
<p>半夏曲　肉豆蔻（面裹煨）　草果仁　高良薑（銼，炒）　麥　（炒）　附子（炮，去皮）　丁香甘草（炙。各半兩）</p>
<p>候。</p>
<h4>六君子湯</h4>
<p>治脾臟不和，不進飲食，上燥下寒，服熱藥不得者。</p>
<p>人參　白朮（各一兩）　橘紅　半夏（湯洗七次）　枳殼（去瓤，麩炒）　甘草（炙。</p>
<p>各半兩）</p>
<p>上　咀，每服四錢，水一盞半，生薑七片，棗子一枚，煎至七分，去滓，溫服，不拘時候。</p>
<h4>畢澄茄丸</h4>
<p>治脾胃虛弱，胸膈不快，不進飲食。</p>
<p>畢澄茄（不拘多少）</p>
<p>上為細末，薑汁打神麯末煮糊為丸，如梧桐子大，每服七十丸，食後，淡薑湯吞下。</p>
<h4>附子建中湯</h4>
<p>治脾氣虛寒，腹脅脹滿，身體沉重，面色痿黃，嘔吐不食，水穀不化，大腑自肉豆蔻（面裹煨）　白豆蔻仁　附子（炮，去皮）　厚朴（去皮，薑製，炒）　白朮　乾薑（炮）　紅豆　神麯（炒。各一兩）　丁香　胡椒　木香（不見火）　甘草（炙。各半兩）</p>
<p>上　咀，每服四錢，水一盞半，生薑五片，棗子一枚，煎至七分，去滓，溫服，不拘時候。</p>
<h4>生胃丹</h4>
<p>治脾胃不足，痰多嘔逆，不思飲食，此藥以南星、粟米、黃土為主。蓋南星醒脾，養胃，黃土取其以土養土，性味和平，為進食化痰之要劑，真良方也。</p>
<p>大天南星（四兩，用真黃土半斤，將生薑滓作黃土成面劑，包裹南星，慢火煨香透，去土不擂，取自（炒）　橘紅一兩）　半夏曲（二兩）　人參　沉香（不見火）　甘草（炙。各半兩）</p>
<p>上為細末，法丸如綠豆大，每服七十丸，不拘時候，淡薑湯送下。</p>
<h4>壯脾丸</h4>
<p>治脾胃虛寒，飲食不進，心腹脹滿，四肢無力，吐逆，食不消，或手足浮腫，臟腑豬肚（一枚，洗淨，用造酒大曲四兩，同銼，厚朴二兩、茴香一兩入在肚內，以線縫定，外用蔥、椒、酒煮爛，取大曲、茴香、厚朴焙乾和後藥）　肉豆蔻（面裹煨）　禹餘糧（術（各一兩）木香（不見火）　丁香（各半兩）</p>
<p>上為細末，用豬肚杵和千百下，丸如梧桐子大，每服五十丸，用米飲送下，不拘時候。</p>
<h4>胃丹</h4>
<p>朱砂稟太陰之精，不經火　，以丁附等脾藥，陰煉成丹，平補不僭。善治真陽衰虛，火怯弱，不養脾土，沖和失布，中州虛寒，飲食不進，胸膈痞塞，或不食而脹滿，或已食不消，痰逆惡心，翻胃吐食，臟氣虛寒，米穀不化，心腹絞痛，泄利不止，應是一切脾胃疾，不問男子婦人，皆可服之。</p>
<p>朱砂（大塊不夾石者，五十兩）　新羅人參　縮砂仁　肉豆蔻仁　紅豆　高良薑（銼，炒）　附子（炮，去皮臍　白朮　厚朴（薑見火）藿香葉　五味子，乾薑（炮，去土）胡椒　益智仁　麥門冬（去心）　草果仁　橘紅以上各四兩）</p>
<p>上將人參等二十味，各如法修制，銼如豆大，以銀鍋一口，用白沙蜜五十斤，將藥一半同蜜斤入為丸或嘔</p>
<h4>補真丸</h4>
<p>大抵不進飲食，以脾胃之藥治之多不效者，亦有謂焉。人之有生，不善攝養，房勞真陽衰虛，坎火不溫，不能上蒸脾土，沖和失布，中州不運，是致飲食不進，胸不食而脹滿，或已食而不消，大腑溏泄，此皆真火衰虛，不能蒸蘊脾土而然。古人云不如補脾。余謂：補脾不若補腎，腎氣若壯，丹田火經上蒸脾土，脾土溫和，中焦自治開能食矣。</p>
<p>葫蘆巴（炒）　附子（炮，去皮臍）　陽起石（　）　川烏（炮，去皮）　菟絲子（淘淨酒蒸）　沉香（不見火，別研）　肉豆蔻（面裹煨）　肉蓯蓉（酒浸，焙）五味子（各半兩）　鹿茸（去毛酒蒸，焙）川巴戟（去心）　鐘乳粉（各一兩）</p>
<p>上為細末，用羊腰子二對，治如食法，蔥、椒、酒煮爛，入少酒杵和為丸，如梧桐子大，每</p>
<h4>瀉黃散</h4>
<p>治脾胃壅實，口內生瘡，煩悶多渴，頰痛心煩，唇口乾燥，壅滯不食。</p>
<p>藿香葉（七錢）　石膏（　）　縮砂仁　山梔子仁　甘草（炙。各半兩）　防風（去蘆，四兩）</p>
<p>上銼碎，用蜜酒炒香，焙，為細末，每服三錢，水一大盞，煎至七分，去滓，溫服，不拘時</p>
<h4>枳殼丸</h4>
<p>治脾實心腹壅滯，四肢疼悶，兩脅脹滿，大小便不利。</p>
<p>皂角（一挺去黑皮，微炒，）　枳殼（去瓤，麩炒）　川大黃（二兩，銼，微炒）　羌活（去蘆）　木香（不見火）　橘紅　桑白皮上為細末，煉蜜為丸，如桐子大，每服七十丸，空心，米飲薑湯任下。</p>
<h4>橘皮竹茹湯</h4>
<p>治胃熱多渴，嘔噦不食。</p>
<p>赤茯苓（去皮）　橘皮（去白）　批杷葉（拭去毛）　麥（湯泡七次。，各一兩）　人參　甘草（炙。各半兩）</p>
<p>上　咀，每服四錢，水一盞半，薑五片，煎至八分，去滓，溫服，不拘時候。</p>
<h3>肺大腸虛實論治</h3>
<p>夫肺者，手太陽之經，位居西方，屬乎庚辛金，為五臟之華蓋，其氣象天，其候胸中之氣，貴焉寒實、陰、股、膝、髀、　、肘，足皆痛。脈來浮澀而短者，是不病之脈也，脈來不上不下，如循雞羽曰病，按之消索如風吹毛曰死。</p>
<h4>白石英湯</h4>
<p>治肺氣虛弱，惡寒咳嗽，鼻流清涕，喘息氣微。白石英　細辛（洗去土）　五味子皮（去白）　鐘乳粉　阿膠（銼，蛤粉炒）　桂心（不見火）　人參　甘草（炙。各半兩）　紫菀上　咀，每服四錢，水一盞半，薑五片，煎至八分，去滓，溫服，不拘時候。</p>
<h4>瀉白散</h4>
<p>治肺臟實熱，心胸壅悶，咳嗽煩喘，大便不利。桑白皮（炙）　桔梗（去蘆，銼，炒骨皮（去木）　半夏（湯泡七次）　瓜蔞子　升麻　杏仁（去皮尖）　甘草（炙。各等分）</p>
<p>上咀，每服四錢，水一盞，生薑五片，煎至八分、去滓，食後溫服。</p>
<h4>紫菀茸湯</h4>
<p>治飲食過度，或叫呼走氣，或食煎爆，邪熱傷肺，咳嗽咽癢痰多，唾血喘急，胸滿脅痛，不得安臥。</p>
<p>紫菀茸（洗）　經霜桑葉　款冬花　百合（蒸焙）　杏仁（去皮尖）　阿膠（蛤粉炒）　貝母（去心）　蒲黃（炒）　半夏（湯泡七次。各一兩）　犀角（鎊）　甘草（炙。各半兩）</p>
<p>人參（半兩）</p>
<p>上　咀，每服四錢，水一盞半，生薑五片，煎至八分，去滓，食後溫服。</p>
<h4>人參荊芥散</h4>
<p>治肺感寒邪，或感風熱，痰多咳嗽，頭目不清，言語不出，咽乾痰實，或項背強硬，皮膚不仁。</p>
<p>荊芥穗　麻黃（去根節）　細辛（去土洗）　桔梗（去蘆，銼，炒）　陳皮（去白）　半夏（湯泡七上　咀，每服四錢，水一盞半，生薑五片，煎至八分，去滓，食後溫服。</p>
<h4>訶梨勒丸</h4>
<p>治大腸虛冷，腸鳴泄瀉，腹脅氣痛，飲食不化。</p>
<p>訶梨勒（面裹煨）　附子（炮，去皮臍）　肉豆蔻（面裹煨）　木香（不見火）　吳茱萸（湯泡，炒）　龍骨（生用）　白茯苓（去皮）</p>
<p>上為細末，薑汁煮糊為丸，如梧桐子大，每服七十丸，空心，米飲送下。</p>
<h4>檳榔丸</h4>
<p>治大腸實熱，氣壅不通，心腹脹滿，大便秘實。</p>
<p>檳榔　大黃（蒸）　麻子仁（炒去殼，別研）　枳實（麩炒）　羌活（去蘆）　牽牛（炒）　杏仁（去皮尖，炒）　白芷　黃芩（各一兩）</p>
<p>上為細末，煉蜜為丸，如梧桐子大，每服四十丸，空心，用熟水送下，以大腑流利為度。</p>
<h3>腎膀胱虛實論治</h3>
<p>夫腎者，足少陰之經，位居北方，屬乎壬癸水，左為腎，右為命門，與足太陽膀胱之經相為表裡。腎精貴乎專澀，膀胱常欲氣化者也。若快情縱欲，失志傷腎，過投丹石，因其虛實，由是寒熱見焉。方其虛也，虛則生寒，寒則腰背切痛，不能俯仰，足脛酸弱，多惡風寒，手足厥冷，呼吸少氣，骨節煩疼，臍腹結痛，面色黧黑，兩耳虛鳴，肌骨干枯，小便滑數，診其脈浮細而數者，是腎虛之候也；及其實也，實則生熱，熱則舌燥咽腫，心煩咽乾，胸脅時痛，喘嗽汗出，小腹脹滿，腰背拘急，體重骨熱，小便赤黃，足下熱痛，診其脈浮緊者，是腎實之候也。脈沉濡而滑者，不病之脈也。脈來如引葛，按之益堅者腎病，至堅而沉如彈石</p>
<h4>十補丸</h4>
<p>治腎臟虛弱，面色黧黑，足冷足腫，耳鳴耳聾，肢體羸瘦，足膝軟弱，小便不利，腰脊疼痛，但是腎虛之附子（炮，去皮臍）　五味子（各二兩）　山茱萸（取肉）　山藥（銼，炒）牡丹皮去木）　鹿茸（去毛，酒蒸）　熟地黃（洗，酒蒸）　肉桂（去皮，不見火）　白茯苓（去皮）　澤上為細末，煉蜜為丸，如梧桐子大，每服七十丸，空心，鹽酒鹽湯任下。</p>
<h4>鹿茸丸</h4>
<p>治腎虛少氣，腹脹腰痛，小腹急痛，手足逆冷，飲食減少，面色黧黑，百節疼痛，日漸無力。</p>
<p>川牛膝（去蘆，酒浸）　鹿茸（去毛，酒蒸）　五味子（各二兩）　石斛（去根）　菟絲子（淘淨酒浸）　棘刺　杜仲（去皮，銼，炒）　川巴戟（去心）　山藥（銼，炒）　陽起石（　）　附子（炮，去皮臍）　川楝子（取肉炒）　磁石（　）　官桂（不見火）　澤瀉（各一兩）　沉香（別上為細末，酒糊為丸，如梧桐子大，每服七十丸，空心，鹽酒鹽湯任下。</p>
<h4>冷補丸</h4>
<p>治腎水燥少，不受峻補，口乾多渴，耳癢耳聾，腰痛腿弱，小便赤澀，大便或難。</p>
<p>熟地黃（酒蒸，焙）　生地黃（洗）　天門冬（去心）　川牛膝（去蘆，酒浸）　白芍藥　地骨皮（去木）　白蒺藜（炒）　麥門冬（去心）　石斛（去根）　玄參　磁石（火七次，細研，水飛）　沉香（別研，不見火，各等分）</p>
<p>上為細末，煉蜜為丸，如梧桐子大，每服七十丸，空心，鹽湯鹽酒任下。</p>
<h4>玄參湯</h4>
<p>治腎臟實熱，心胸煩悶，耳聽無聲，四肢拘急，腰背俯仰強痛。</p>
<p>生地黃（洗）　玄參　五茄皮（去木）　黃芩　赤茯苓（去皮）　通草　石菖蒲　甘草（炙）　羚羊角（鎊）　麥門冬（上　咀，每服四錢，水一盞半，薑五片，煎至八分，去滓，溫服，不拘時候。</p>
<h4>陽起石丸</h4>
<p>治腎臟虛損　陽氣全乏。</p>
<p>陽起石（　）　韭子（炒）　肉蓯蓉（酒浸）　青鹽（別研）　菟絲子（水淘淨，酒蒸，焙，另研）　鹿茸（酒蒸）　鐘乳　粉沉香（別研，不見火）　濃蠶蛾（酒炙）　山茱萸（取肉。各半兩）　桑螵蛸（酒炙）　山藥（銼，炒。各半兩）</p>
<p>上為細末，酒糊為丸，如梧桐子大，每服七十丸，空心，鹽酒鹽湯任下。</p>
<h4>韭子丸</h4>
<p>治膀胱虛冷，小便白濁滑數，日夜無度。赤石脂（　）　韭子（炒）　川牛膝（去蘆，酒浸）　牡蠣（　）　覆盆子（酒浸）　附子（炮，去皮臍）　桑螵蛸（酒炙）　鹿茸（酒蒸，焙）　肉蓯蓉（酒浸）　龍骨（生。各一兩）　雞　（燒灰）　沉香（鎊，不見火。</p>
<p>各半兩）</p>
<p>上為細末，酒糊為丸，如梧桐子大，每服七十丸，空心，鹽湯鹽酒任下。</p>
<h4>葵子湯</h4>
<p>治膀胱實熱，腹脹，小便不通，口舌乾燥，咽腫不利。</p>
<p>赤茯苓（去皮）　木豬苓（去皮）　葵子　枳實（麩炒）　瞿麥　木通（去節）　黃芩　車前子（炒）　滑石　甘草（炙。各等分上　咀，每服四錢，水一盞半，薑五片，煎至八分，去滓，溫服，不拘時候。</p>
<h2>諸風門</h2>
<h3>中風論治</h3>
<p>醫經云：夫風者，百病之長也。由是觀之，中風在傷寒之上，為病急卒。歧伯所謂大法有四：一曰偏枯，二曰風痱，三曰風懿，四曰風痹，言其最重者也。外有五臟諸風，皆載之於千金矣，茲不復敘。大抵人之有生，以元氣為根，營衛為本，根氣強壯，營衛和平，腠理致密，外邪客氣焉能為害？或因喜怒，或因憂思，或因驚恐，或飲食不節，或勞役過傷，遂致真氣先虛，榮衛失度，腠理空疏，邪氣乘虛而入。及其感也，為半身不遂，肌肉疼痛，為痰涎壅塞，口眼　斜，偏廢不仁，神智昏亂；為舌強不語，頑痹不知，精神恍惚，驚惕恐怖，或自汗惡風，筋脈攣急，變證多端。治療之法，當推其所自，若內因七情而得之者，法當調氣，不當治風，外因六淫而得之者，亦先當調氣，然後依所感六氣，隨證治之，此良法也。</p>
<p>但發直吐沫，搖頭上攛，面赤如妝，或頭面青黑，汗綴如珠，眼閉口開，聲如鼾睡，遺尿不知人者，皆不又論：夫中風者，風氣中於人也。卒然中風，神昏如醉，四肢不收，涎潮於上，聲如牽鋸，牙關緊急，湯藥不能下咽，命在須臾。但眼閉口乾，聲如鼾睡，遺尿者，皆所不治。當此之時，先宜用搐鼻法，俟其噴嚏，即以稀涎散灌之，若氣蘇神省，卻按前方施以治法。</p>
<p>前賢方論，中風無吐法，或為有吐法，考之二者終不可吐。大率一時氣閉不行，痰涎蓄聚，所以昏憒，蓋痰涎者，乃養關節之物，豈可吐乎？痰涎既出，關節無所滋助，雖曰蘇省，多為偏廢之人矣。如稀涎散不犯銀粉，藥又不犯藜蘆、瓜蒂，藥不特不壞脾胃，其效尤著，豈不美歟？</p>
<h4>八味順氣散</h4>
<p>白朮　白茯苓（去皮）　青皮（去白）　香白芷，陳皮（去白）　天台烏藥　人參（各一兩）　甘草（炙，半兩）</p>
<p>上為細末，每服三錢，水一大盞，煎至七分，溫服，不拘時候。仍以酒化蘇合香丸間服。</p>
<p>有風之人，先宜服此，次進治風藥。</p>
<h4>小續命湯</h4>
<p>治卒中風欲臥，身體緩急，口目不正，舌強不語，奄奄忽忽，神情悶亂，諸風服之皆驗，不令人虛。</p>
<p>防已　麻黃（去根節，湯泡）　人參　桂心（不見火）　黃芩　甘草（炙）　白芍藥　杏仁（湯浸，去皮尖，炒）　芎　（各一兩）　附子（炮，去皮臍，一枚）　防風（去蘆，一兩半）</p>
<p>上　咀，每服四錢，水一盞半，生薑七片，棗二枚，煎至七分，去滓，溫服，不拘時候。</p>
<p>恍</p>
<h4>星附湯</h4>
<p>治因虛中風，痰涎壅塞，不省人事，脈來沉伏，服涼藥不得者。</p>
<p>附子（去皮，生用）天南星（生用。各一兩）　木香（半兩，不見火）</p>
<p>上　咀，每服四錢，水二盞，生薑九片，煎至七分，去滓，溫服，不拘時候。兼寒者，當用熟星附：沉困甚，手足厥冷者，加川烏，名曰三生飲；不效者，加天雄，名曰三建湯；痰涎壅塞，聲如牽鋸，服藥不下，宜於關元，丹田二穴，多灸之良。</p>
<h4>虎脛骨酒</h4>
<p>治中風偏枯半死，行勞得風，若鬼所擊，四肢不遂，不能行步，但是一切諸風攣急之證，悉皆治療。</p>
<p>石斛（去根）　石楠葉　防風（去蘆）　虎脛骨（酥炙）　當歸（去蘆）　茵芋葉　杜仲川牛膝（去蘆）　芎　金毛狗脊（燎去毛）　川續斷　川巴戟（去心。各一上件，銼如豆大，以絹囊盛藥，以酒一斗，漬之十日，每服一盞，蕩熱服，不拘時候。</p>
<h4>搐鼻法</h4>
<p>治卒暴中風，昏塞不省，牙關緊急，藥不得下咽者。</p>
<p>細辛（洗去土葉）　豬牙皂角（去子）</p>
<p>上各一錢，研為細末，每用少許，以紙捻蘸藥入鼻，俟噴嚏，然後進藥。</p>
<h4>稀涎散</h4>
<p>治風涎不下，喉中作聲，狀如牽鋸。</p>
<p>半夏（大者，十四枚，生，切片）　豬牙皂角（一條，炙）</p>
<p>上作一服，水二盞，煎一盞，去滓，入薑汁少許，溫服。不能咽，徐徐灌之。</p>
<h4>星香散</h4>
<p>治諸風及痰厥。</p>
<p>天南星（一兩，生用）　木香（二錢）</p>
<p>上　咀，分作二服，水二盞，生薑十片，煎至七分，去滓，溫服，不拘時候。</p>
<h4>省風湯</h4>
<p>治中風痰涎壅塞，口眼　斜，半身不遂，不省人事。</p>
<p>半夏（生用）　防風（去蘆）　甘草（半兩，炙）全蠍（去毒，三個）　白附子（生用）</p>
<p>川烏（生用）　木香　天南星（生用。各半上　咀，每服半兩，水二盞，生薑十片，煎至八分，去滓，溫服，不拘時候。</p>
<h4>丸</h4>
<p>治中風偏風，口眼　斜，時吐涎沫，語言蹇澀，筋脈拘攣，手足緩弱，伏床不起之證，悉宜服之。久服耳目聰明，髭鬢烏黑，筋力壯健，多有效驗。</p>
<p>又曰：治中風口眼　斜，四肢頑痹。　草（一名火　草）</p>
<p>上五月五日、六月六日、七月七日、收采，洗去土，摘其葉，不拘多少，九蒸九曝。每一次蒸，用少酒蜜水洒之，蒸一飯久，曝乾，如此九遍蒸曝，日干為末，煉蜜為丸，如梧桐子大，每服百丸，空心食前，溫酒米飲任下。此草多生於沃壤間，帶豬　氣者是。</p>
<h4>二香三建湯</h4>
<p>治男子婦人，中風虛極，六腑俱微，舌強不語，痰涎並多，精神如痴，手足偏廢，不能舉運，此等證候，不可攻風，只可扶虛。</p>
<p>天雄（生，去皮用）　附子（生，去皮用）　川烏（生，去皮用各一兩）　木香（不見火，半兩）</p>
<p>上　咀，每服四錢，水二盞，生薑十片，煎至七分，去滓，溫服，空心食前。</p>
<h4>壽星丸</h4>
<p>治因病驚憂，涎留心胞，精神不守，譫言妄語，不得安臥。</p>
<p>天南星（一斤，生用）　琥珀（一兩，別研）　朱砂（水飛，二兩）</p>
<p>上為細末，和勻，用生薑自然汁打面糊為丸，如綠豆大，每服四十丸，不拘時候，用人參、</p>
<h4>排風湯</h4>
<p>治風濕虛冷，邪氣入臟，狂言妄語，精神錯亂。肝風發則面青心悶，吐逆嘔沫，脅痛頭眩，不聞人聲，偏枯筋急，曲蜷而臥；心風發則面赤翕然而熱，悲傷嗔怒，目張呼喚；脾風發則面黃身體不仁，不能行步，飲食失味，夢寐顛倒，與亡人相隨；肺風發則面白咳逆，唾膿血，上氣奄然而極；腎風發則面黑，手足不遂，腰痛難以俯仰，冷痹骨疼，諸有此證，令人心驚，志意不定，恍惚多忘，服此湯安心志，聰耳白朮　白蘚皮　芎　白芍藥　當歸（去蘆）　桂心（不見火）　防風（去蘆）　杏仁（去皮尖）　甘草（炙。各一兩）　獨活（去蘆）　麻黃（去根節）　茯苓（去皮。各三兩）</p>
<p>上　咀，每服四錢，水一盞半，生薑七片，棗二枚，煎七分，去滓，溫服，不拘時候。</p>
<p>服之微汗不妨，此藥大理榮血，摧抑肝邪。肝實有風，脈來浮實有力，目赤脅疼，口苦心煩，錯語多怒，宜加羚羊角，熱盛者，加犀角；肝虛有風，脈來浮虛無力，當去麻黃，加黃　，不</p>
<h4>青龍妙應丸</h4>
<p>治諸風攣急，遍體疼痛，游走無定，百藥之所不效者。</p>
<p>穿山甲（十五片，鍛石炒）　全蠍（去毒，三七個）　地龍（去土，一兩）　蚣蜈（七條，生用）　麝香（一字，別研）　草烏（生，去皮，一兩）　沒藥（三錢，別研）　乳香（三錢，別研）　松香（半兩）　斑蝥（七個，糯米炒，去尖足）　白僵蠶（薑汁炒，半兩）　五靈脂（三錢，去砂石）</p>
<p>上為細末，酒糊為丸，如綠豆大，以青黛為衣，每服二十丸，不拘時候，溫酒送下，忌食熱</p>
<h4>加減地仙丹</h4>
<p>治風冷邪濕，留滯下焦，足膝拘攣，腫滿疼痛，不能步履。</p>
<p>地龍（炒，去土）　五靈脂（去石）　烏藥　白膠香（別研）　椒紅（炒去汗）　威靈仙木瓜（去瓤）　赤小豆（炒）黑豆（炒，去皮）　天仙藤　川烏（炮，去皮）　五加皮　蒼朮（泔水浸，去黑皮，炒）　木鱉子（上等分，為細末，酒糊為丸，如梧桐子大，每服七十丸，空心，用鹽酒鹽湯任下。</p>
<h4>換肌丸</h4>
<p>治諸癩大風疾。</p>
<p>苦參（三兩）　大風油（一兩）</p>
<p>上將苦參為細末，入大風油及少酒糊為丸，如梧桐子大，每服五十丸，不拘時候，用溫酒送</p>
<h3>白虎歷節論治</h3>
<p>夫白虎歷節病者，世有體虛之人，將理失宜，受風寒濕毒之氣，使筋脈凝滯，血氣不流，蘊於骨節之間，或在四肢，肉色不變。其病晝靜夜劇，其痛徹骨如虎之嚙，名曰白虎之病也。</p>
<p>痛如掣者，為寒多；腫滿如脫者，為濕多；汗出者，為風多。巢氏云：飲酒當風，汗出入水，遂成斯疾，久而不愈，令人骨節蹉跌為癲病者，誠有此理也。</p>
<h4>羌活湯</h4>
<p>治白虎歷節，風毒攻注，骨髓疼痛，發作不定。</p>
<p>羌活（去蘆，二兩）　附子（炮，去皮臍）　秦艽（去蘆）　桂心（不見火）　木香（不見火）　川芎　當歸（去蘆）　川牛膝（去蘆，酒浸）　桃仁（去皮尖，麩炒）　骨碎補　防風（去蘆各一兩）　甘草（炙，半兩）</p>
<p>上　咀，每服四錢，水一盞半，薑五片，煎至七分，去滓，溫服，不拘時候。</p>
<h4>虎骨散</h4>
<p>治白虎風，肢節疼痛，發則不可忍。虎骨（酥炙，二兩）　花蛇（酒浸，取肉）　天麻防風（去蘆）　川牛膝（去蘆，酒浸）　白僵蠶（炒，去絲嘴）　川當歸（去蘆酒浸）　乳香（別研）　桂心（不見火。各一兩）　甘草（炙）　全蠍（去毒。各半兩）　麝香（一錢，別研）</p>
<p>上為細末，每服二錢，溫酒調服，或用豆淋酒調服亦可。不拘時候。</p>
<h4>蠲痛丸</h4>
<p>治諸風歷節，令人骨節疼痛腫滿。古今以來，無問貴賤，往往苦之，此是風之毒害又曰：治諸風歷節疼痛及手下側疼痛。</p>
<p>川烏（一枚，生用）　黑豆（七七粒，生，去皮）　全蠍（二七個，去毒）　地龍（去土。半兩）　麝香（半錢，別研）</p>
<p>上為細末，用清酒糊為丸，如綠豆大，每服十五丸，加至二十丸，臨臥膈空，用冷酒吞下，</p>
<h2>諸寒門</h2>
<h3>中寒論治</h3>
<p>素問云：冬三月是謂閉藏，水冰地坼，無擾乎陽，早臥晚起，必待日光，此去寒就溫之意也。不善調攝，觸冒之者，卒然眩暈，口噤失音，四肢強直，或洒洒惡寒，或翕翕發熱，面赤多汗。大抵中寒脈必遲緊；挾風則脈浮，眩暈不仁；兼濕則脈濡，腫滿疼痛。治之之法，切又論：夫人生天地之間，以氣血籍其真，是故天無一歲不寒暑，人無一日不憂苦，故有傷寒、天行瘟疫之病焉。蓋冬令為殺厲之氣，君子善攝生者，當嚴寒之時，行住坐臥，護身周密，故不犯寒毒。彼奔馳荷重，勞房之人，皆辛苦之徒耳。當陽閉藏而反擾動之，則郁發腠理，津液強漬，為寒所薄，膚腠致密，寒毒與榮衛相渾，當是之時，壯者，氣行則已，怯者則著而成病矣。不即病者，寒氣藏於肌骨之間，春則病溫，夏則病熱，此皆一氣使然也。</p>
<p>古之治法，一曰在皮，當摩膏而火灸之；二曰在膚，依法針，解肌發散之，汗出而愈；三曰在肌，再亦發汗則愈；四曰在胸宜吐之；五曰在腹；六曰在胃宜下之，此華佗之治法也。若按三陰三陽之法傳變，無出仲景之書。蓋治傷寒有法，治雜病有方。雜病之方可以異其傳，調理傷寒當按定法也，茲不復述。今俱四時，大略用藥於後。</p>
<p>春病風寒，頭痛發熱，身體強痛，宜進香蘇散或十神湯。或欲發汗，加蔥白、薑、豉煎。</p>
<p>夏感風暑，頭痛發熱，身疼煩渴，宜用五苓散，或煎蔥白湯調服。</p>
<p>秋感風冷，身熱頭痛，鼻塞咳嗽，宜進金沸草散。</p>
<p>冬冒風寒，身熱頭痛，無汗惡寒，宜進五積散。</p>
<p>以上方載和劑局方中。</p>
<h4>薑附湯</h4>
<p>治五臟中寒，口噤，四肢強直，失音不語，或卒然暈悶，手足厥冷。</p>
<p>乾薑（炮）附子（炮，去皮臍）　甘草（炙。各等分）</p>
<p>上　咀，每服四錢，水一盞半，生薑五片，煎至七分，去滓，溫服，食前。挾風不仁，加防</p>
<h2>諸暑門</h2>
<h3>中暑論治</h3>
<p>夫中暑所以脈虛者，蓋熱傷氣而不傷形也。且暑者在天為熱，在地為火，在人臟為心。</p>
<p>是以暑氣傷心，令人身熱頭痛，狀類傷寒，但背寒面垢，此為異耳，甚則昏倒不知人，手足微冷，煩渴口燥，或吐或瀉，或喘或滿，此皆暑氣之所為也。大抵中暑悶亂，切不可便與冷水及臥冷濕地，得冷則死。唯溫養，用布衣蘸熱湯，熨臍中及氣海，或掬熱土圈臍心，乃更溺之，候漸蘇醒，以米湯徐徐灌之，然後隨證調治。近來江浙之間中暑，多有搐搦不省人事者，屢見之矣。醫經所載，診其脈浮而虛，蓋浮則為風，虛則為暑，此中暑而又傷風，故有是證，俗命名謂之暑風，若作驚癇治之，多致不救。倉卒之際，宜以溫熱水化蘇合香丸灌之，候期</p>
<h4>二氣丹</h4>
<p>治伏暑、傷冷，二氣交錯，中脘痞悶，或頭痛惡心，並皆治之。</p>
<p>硝石　硫黃（等分）</p>
<p>上為末，於銀石器內，文武火上，炒令鵝黃色，再研細，用糯米糊為丸，如梧桐子大，每服四十丸，新汲水送下，不拘時候。</p>
<h4>水浸丹</h4>
<p>治伏暑傷冷，冷熱不調，口乾煩渴。</p>
<p>黃丹（一兩一分）　巴豆（二十五枚，去皮心）</p>
<p>上同研勻，用黃蠟拌作汁，丸如梧桐子大，每服五丸，以冷水浸少頃，別以新汲水吞下。</p>
<h4>冷香飲子</h4>
<p>治老人虛人，伏暑煩躁，引飲無度，惡心疲倦，服涼藥不得者。</p>
<p>草果仁（三兩）　附子（炮，去皮臍）　橘紅（各一兩）　甘草（炙，半兩）</p>
<p>上　咀，每服一兩，水二碗，生薑十片，煎至半碗，去滓，沉冷，旋旋服，不拘時候。</p>
<h4>加味香薷飲</h4>
<p>治伏暑傷冷，霍亂轉筋，煩渴，心腹撮痛，吐利交作，四肢厥冷。</p>
<p>香薷（半斤）扁豆（四兩）　厚朴（薑製炒，六兩）　檳榔（二兩）　黃連（去須，三兩）</p>
<p>上　咀，每服四錢，水一盞，用酒半盞，煎至八分，去滓，沉冷服，不拘時候。</p>
<h2>諸濕門</h2>
<h3>中濕論治</h3>
<p>活人書云：風雨襲虛，山澤蒸氣，令人中濕，濕流關節，身體煩痛，其脈沉緩為中濕。</p>
<p>大抵中濕變證萬端，挾風者，為煩熱，為流走，為拘急；兼寒者，為痛，為浮腫；與風寒二氣合則為痹，皆由中濕而後挾以異氣而然也。治濕之法，不可大發汗，慎不可以火攻之，唯當利其</p>
<h4>撫芎湯</h4>
<p>治濕流關節，臂疼手重，不可俯仰，或自汗，頭眩，痰逆惡心。</p>
<p>撫芎　白朮　橘紅（各一兩）　甘草（炙，半兩）</p>
<p>上　咀，每服四錢，水一盞半，薑七片，煎至八分，去滓，溫服，不拘時候。</p>
<h4>滲濕湯</h4>
<p>治坐臥濕地，或為雨露所襲，身重腳弱，關節重疼，發熱惡寒，或多汗惡風，或腿膝浮腫，或小便不利，大腑溏泄。</p>
<p>白朮（二兩）　人參（半兩）　乾薑（炮）　白芍藥　附子（炮，去皮臍）　白茯苓（去皮）　桂枝（不見火）　甘草（炙。各半兩）</p>
<p>上　咀，每服四錢，水一盞半，生薑五片，大棗一枚，煎至八分，去滓，溫服，不拘時候。</p>
<h4>羌附湯</h4>
<p>治風濕相搏，身體疼煩掣痛，不可屈伸，或身微腫不仁。</p>
<p>羌活（去蘆）　附子（炮，去皮臍）　白朮　甘草（炙）</p>
<p>上等分，　咀，每服四錢，水一盞半，生薑五片，煎至七分，去滓，溫服，不拘時候。</p>
<h2>痼冷積熱門</h2>
<h3>痼冷積熱論治</h3>
<p>一陰一陽之謂道，偏陰偏陽之謂疾。夫人一身，不外乎陰陽氣血相與流通焉耳。如陰陽得其平，則疾不生，陰陽偏勝，則為痼冷積熱之患也。所謂痼冷者，陰毒沉涸而不解也；積熱者，陽毒蘊積而不散也。故陰偏勝則偏而為痼冷，陽偏勝則偏而為積熱。古賢云：偏勝則有偏害，偏害則致偏絕，不可不察也。大抵真陽既弱，胃氣不溫，復啖生冷、冰雪，以益其寒，陰冱於內，陽不能勝，遂致嘔吐涎沫，畏冷憎寒，手足厥逆，飲食不化，大腑洞泄，小便頻數，此皆陰偏勝而為痼冷之證也。其或陰血既衰，三焦已燥，復餌酒、炙、丹石，以助其熱，陽熾於內，陰不能制，遂致口苦咽乾，涎稠目澀，膈熱口瘡，心煩喜冷，大便閉結，小便赤淋，此皆陽偏勝而為積熱之證也。施治之法，冷者熱之，熱者冷之，痼者解之，積者散之，</p>
<h4>洞陽丹</h4>
<p>治陽虛陰盛，手足厥冷，暴吐大下，脈細，羸瘦，傷寒陰證，悉皆治之。</p>
<p>附子（炮，去皮臍）　鐘乳粉（各二兩）　天雄（炮，去皮，三兩）　川烏（炮，去皮，四兩）　陽起石（火上為細末，酒煮神麯糊為丸，如梧桐子大，每服五十丸，空心，溫酒鹽湯任下。</p>
<h4>豆附丸</h4>
<p>治久虛下寒，泄瀉不止，腸滑不禁，日夜無度，全不進食，一切虛實泄瀉困乏，並皆治之。</p>
<p>肉豆蔻（面裹煨）　附子（炮，去皮臍）　良薑（銼，炒）　訶子（面裹煨）　乾薑（炮）</p>
<p>赤石脂（火　）　陽起石（火　）　龍骨（生用）　白礬（枯。各二兩）　白茯苓（去皮）　桂心（不見火）</p>
<p>上為細末，酒煮面糊為丸，如梧桐子大，每服七十丸，空心食前，米飲送下。</p>
<h4>利膈湯</h4>
<p>治上膈壅熱，口苦咽乾，痰唾稠黏，心煩喜冷，咽喉生瘡疼痛，但是一切上壅之證，皆可服之。</p>
<p>防風（去蘆）　雞蘇葉　桔梗（去蘆）　牛蒡子　荊芥穗（各一兩）　川升麻　人參甘草（炙。各半兩）</p>
<p>上　咀，每服四錢，水一盞半，薑五片，煎至八分，去滓，溫服，不拘時候。</p>
<h4>三黃丸</h4>
<p>治三焦積熱，頭目昏痛，肩背拘急，肢節煩疼，熱氣上衝，口苦唇焦，咽喉腫痛，痰涎壅滯，眼赤睛疼，及大便秘澀，或下鮮血。</p>
<p>大黃（酒蒸）　黃連（去須）　黃芩（各等分）</p>
<p>上為細末，煉蜜為丸，如梧桐子大，每服五十丸，不拘時候，用溫熟水送下。如臟腑壅實，</p>
<h2>諸虛門</h2>
<h3>虛損論治</h3>
<p>醫經所說諸虛百損，難經所有五損，不過因虛而致損也。素問云：恬淡虛無，真氣從之，精神內守，病安從來。人能法道清淨，精神內持，　疾不起，乃知固養之道也。不自衛生，或大病未復，便合陰陽，或疲極筋力，飢飽失節，盡神度量，或叫呼走氣，榮衛虛損，百病交作，或吐血、衄血、便血、瀉血、遺泄、白濁、冷滑、洞泄、盜汗、自汗、潮熱、發熱、嘔吐、　咯痰飲涎沫等證，因斯積微成損，積損成衰者多矣。且婦人產蓐過於大病之後，虛損尤甚。治之之法，詳審脈理，原其所自，隨證施治，然病候非一，略具數條，以為備治之要。</p>
<p>又論：夫人稟中和之氣以生，常能保守真元，何患乎有病焉。不善衛生者，思慮役其知，嗜欲亂其真。營衛一虛，因茲積微成損，積損成衰。及其病也，既不能御氣以全身，又不能餌藥以延壽。聖人有言曰，治未病不治已病，治未亂不治已亂。夫病已成而後藥，亂已成而後治，不亦晚乎？凡人有虛損之病，豈可不早為之補益，庶有延齡之望。後方所載，藥性平補，柔而不僭，專而不雜，間有藥用群隊，必使剛柔相濟，佐使合宜，可以取效。前賢之書，有單服附子之戒者，正慮其腎惡燥也，既欲用一剛劑專而易效，須當用一柔劑以制其剛，則庶幾剛柔相濟，不特取效之速，亦可使無後患。後方所載，參附、沉附、茸附、　附是矣。</p>
<p>若陽虛陰極之證，當有薑附三建諸丹之類，或升或沉，為之佐使，欲其剛多於柔，不致太僭，庶免炎上之患，用藥在乎穩重故也。</p>
<h4>大建中湯</h4>
<p>治諸虛不足，小腹急痛，脅肋　脹，骨肉酸痛，短氣喘促，痰多咳嗽，潮熱多汗驚悸，腰背強痛，多臥少氣。</p>
<p>黃　（去蘆）　附子（炮，去皮臍）　鹿茸（酒蒸）　地骨皮（去木）　續斷　石斛（去根）　人參　川芎　當歸（去蘆，酒浸）　白芍藥　小草（各一兩）　甘上　咀，每服四錢，水一盞半，生薑五片，煎至七分，去滓，溫服，不拘時候。咳嗽者加款冬花；咳血者加阿膠；便精遺泄者加龍骨；怔忡者加茯神。</p>
<h4>芡實丸</h4>
<p>治思慮傷心，疲勞傷腎，心腎不交，精元不固，面少顏色，驚悸健忘，夢寐不安，小便赤澀，遺精白濁，足脛酸疼，耳聾目昏，口乾腳弱。</p>
<p>芡實（蒸，去殼）　蓮花須（各二兩）　茯神（去木）　山茱萸（取肉）　龍骨　五味子枸杞子　熟地黃（酒蒸，焙）　韭子（炒）　肉蓯蓉（酒浸）　川牛膝（去蘆，酒浸，焙）　紫石英（　七次。各一兩）</p>
<p>上為細末，酒煮山藥糊為丸，如桐子大，每服七十丸，空心，鹽酒鹽湯任下。</p>
<h4>白丸</h4>
<p>治元氣虛寒，精滑不禁，大腸溏泄，手足厥冷。</p>
<p>陽起石（　，研令極細）　鐘乳粉（各上為細末，酒煮附子糊為丸，如桐子大，每服五十丸，空心，米飲下。</p>
<h4>黑丸</h4>
<p>治精血耗竭，面色黧黑，耳聾目昏，口乾多渴，腰痛腳弱，小便白濁，上燥下寒，不受峻補。</p>
<p>鹿茸（酒蒸）　當歸（去蘆，酒浸）上等分，為細末，煮烏梅膏為丸，如桐子大，每服五十丸，空心，米飲下。</p>
<h4>玉關丸</h4>
<p>治諸虛不足，膀胱腎經痼敗，陰陽不交，致生多病。水欲升而沃心，火欲降而溫腎，如是則坎離既濟，陰陽協和，火不炎而神自清，水不滲而精自固。久服閉精補益，永無膏淋白濁遺精之患，神效非一，難以具述。</p>
<p>辰砂（一兩）　鹿茸（二兩，作片酥炙）　當歸（酒浸，焙）　附子（七錢重者四個，生，去皮臍，各切下項，剜空心，中安辰砂在內，以前項子蓋定，用線扎）　木瓜（大者二個，去皮瓢切開項，入辰砂附子四個在內，以木瓜原項子蓋之，線扎定，蒸爛訖，取出附子，切作片，焙乾為末，辰砂細研，水飛，木瓜研如膏，宣瓜為妙，）　柏子仁（炒，別研）　沉香（別研）　巴戟（去心）　黃　（去蘆，蜜炙）　肉蓯蓉（酒浸）茯神（去心）　川牛膝（去蘆，酒浸）　石斛（去根，酒浸。各一兩）　杜仲（去粗皮，酒浸）　菟絲子（水淘淨，酒浸，焙，別研）　五味子（各一兩半）　遠志（去心，炒，二兩）</p>
<p>上為細末，用木瓜膏杵和，入少酒糊為丸，如桐子大，每服七十丸，空心，米飲溫酒鹽湯任下。</p>
<h4>膃肭臍丸</h4>
<p>治五勞七傷，真陽衰憊，臍腹冷痛，肢體酸疼，腰背拘急，腳膝緩弱，面色黧黑，肌肉消瘦，目眩耳鳴，口苦舌乾，飲食無味，腹中虛鳴，脅下刺痛，心常慘戚，夜多異夢，晝少精神，小便滑數，大腸溏泄，時有遺瀝，陽事不舉，但是風虛痼冷，皆宜服之。</p>
<p>膃肭臍（一對，酒蒸熟，打和後藥）　天雄（炮，去皮）　附子（炮，去皮臍）　川烏（炮，去皮尖）　陽起石（　）　鐘乳粉（各二兩）　獨體朱砂（研極細）　人參　沉香（不見火，別研）　鹿茸（酒蒸，上為細末，用膃肭臍膏，入少酒，臼內杵，和為丸，如桐子大，每服七十丸，空心，鹽酒鹽</p>
<h4>黃犬肉丸</h4>
<p>治真精衰憊，臍腹冷痛，小便頻數，頭暈耳鳴，足脛酸冷，步履無力，腰背拘痛，水穀不消，飲食無味，肌肉瘦悴，遺泄失精。</p>
<p>磁石（三兩，　，水飛）　川烏（炮，去皮尖）　附子（炮，去皮臍）　桑寄生　鹿茸（燎去毛，酒蒸）　麋茸（同上制）　仙茅（酒浸）　肉蓯蓉（酒浸，切焙）　川巴戟（去心）　葫蘆巴（炒。各二兩）　沉香（別研）　青鹽（別研）　陽起石（　，研極細）　龍骨（生用）　虎脛骨（酥炙）　覆盆子（酒浸。各一兩）</p>
<p>上為細末，用犬肉二斤，以酒、蔥、茴香煮爛，杵和為丸，如梧桐子大，每服七十丸，空心，鹽酒鹽湯任下。</p>
<h4>天地煎</h4>
<p>治心血燥少，口乾咽燥，心煩喜冷，怔忡恍惚，小便黃赤，或生瘡瘍。</p>
<p>天門冬（去心，二兩）　熟地黃（九蒸曝，一兩）</p>
<p>上為細末，煉蜜為丸，如梧桐子大，每服百丸，用熟水人參湯任下，不拘時候。</p>
<h4>雙補丸</h4>
<p>治真精不足，腎水涸燥，咽乾多渴，耳鳴頭暈，目視昏花，面色黧黑，腰背疼痛，腳膝酸弱，服僭藥不得者。</p>
<p>菟絲子（淘，酒蒸，擂，二兩）　五味子（一兩）</p>
<p>上為細末，煉蜜為丸，如梧桐子大，每服七十丸，空心食前，鹽酒任下。</p>
<h4>鹿吐丸</h4>
<p>治法同前。</p>
<p>生鹿角（鎊，一（三）兩）　菟絲子（淘，酒蒸，擂，二兩）</p>
<p>上為細末，酒糊為丸，如梧桐子大，每服七十丸，空心食前，用鹽酒鹽湯任下。</p>
<h4>心腎丸</h4>
<p>治心腎不足，精少血燥，心下煩熱，怔忡不安，或口乾生瘡，目赤頭暈，小便赤濁，五心煩熱，多渴引飲，但是精虛血少，不受峻補者，悉宜服之。</p>
<p>菟絲子（淘，酒蒸，擂，二兩）　麥門冬（去心，二兩）</p>
<p>上為細末，煉蜜為丸，如梧桐子大，每服七十丸，空心食前，用鹽湯送下，熱水亦得。</p>
<h4>茸朱丹</h4>
<p>治心虛血少，神志不寧，驚惕恍惚，夜多異夢，睡臥不安。</p>
<p>鹿茸（去毛，酒蒸，一兩）　朱砂（半兩，研細，水飛，蜜炒尤佳）</p>
<p>上為細末，煮棗圈肉為丸，如梧桐子大，每服四十丸，炒酸棗仁煎湯送下，午前臨臥服之。</p>
<h4>沉附湯</h4>
<p>治上盛下虛，氣不升降，陰陽不和，胸膈痞滿，飲食不進，肢節痛倦。</p>
<p>附子（炮，去皮臍，一兩）　沉香（銼，半兩）</p>
<p>上　咀，分作三服，水二盞，生薑十片，煎至八分，去滓，食前溫服。</p>
<h4>參附湯</h4>
<p>治真陽不足，上氣喘急，自汗盜汗，氣虛頭暈，但是陽虛氣弱之證，並宜服之。</p>
<p>人參（半兩）　附子（炮，去臍，一兩）</p>
<p>上　咀，分作三服，水二盞，生薑十片，煎至八分，去滓，食前，溫服。</p>
<h4>茸附湯</h4>
<p>治精血俱虛，榮衛耗損，潮熱自汗，怔忡驚悸，肢體倦乏，但是一切虛弱之證，皆宜服之。</p>
<p>鹿茸（去毛，酒蒸，一兩）　附子（炮，去皮臍，一兩）</p>
<p>上　咀，分作四服，水二盞，生薑十片，煎至八分，去滓，食前，溫服。</p>
<h4>鹿白丸</h4>
<p>治諸虛百損，精血俱耗，血少不能養筋，精虛不能實骨，筋骨痿弱，面色黧黑，耳鳴氣短，目視昏花，腰背疼痛，足膝酸弱，步履艱難，小便白濁，或小便頻數，但是一切虛弱之證，悉能治療，婦人虛弱亦宜服之。</p>
<p>桑上寄生（二兩）　川續斷（銼，酒潤）　鹿茸（去毛，酒蒸）　麋茸（去毛，酒蒸）　鹿角（鎊）　麋角（鎊）　附子（炮，去皮）　川烏（炮，去皮）　鐘乳粉　陽起石（　）川巴戟（槌，去心）　沉香（不見火）　川牛膝（去蘆，酒浸）　川萆　（各一兩）　菟絲子淘，酒蒸，擂，焙）　五味子（各二兩）　宣木瓜（二枚，去皮瓤，蒸爛）　椒紅（去目及閉口者，微炒出汗，取紅，半兩）</p>
<p>上為細末，刺鹿血，乘熱搜和，杵千百下，丸如梧桐子大，每服百丸，空心食前，用鹽酒鹽</p>
<h4>菟絲子丸</h4>
<p>治腎虛勞損，腰疼少力，補益駐顏。</p>
<p>菟絲子（三兩，酒浸三日，曝乾，別搗，）　車前子（二兩）　鹿茸（二兩，去毛，塗酥炙令微黃）　桂心（二兩）　肉蓯蓉（二兩，酒浸一宿，去皮，炙令黃，銼）　熟乾地黃（五兩）　牛膝（二兩，去苗）　附子（二兩，炮，去皮臍）上搗為末，煉蜜和丸，如桐子大，每服空心，及晚食前，溫酒下三十丸。</p>
<h3>五勞六極論治</h3>
<p>醫經載五勞六極之證，非傳尸骨蒸之比。多由不能衛生，始於過用，逆於陰陽，傷於營衛，遂成五勞六極之病焉。蓋盡力謀慮成肝勞，應乎筋極；曲運神機成心勞，應乎脈極；意外過思成脾勞，應乎肉極；預事而憂成肺勞，應乎氣極；矜持志節成腎勞，應乎骨極，此五勞應乎五極者也。然精極者，五臟六腑之氣衰，形體皆極，眼視無明，齒焦發落，體重而聾，行履不正，邪氣逆於六腑，厥於五臟，故成精極，大抵勞極之脈多弦。治療之法，隨其虛實冷熱而調之，精極者當補其精也。素問所謂：形不足者溫之以氣，精不足者補之以味。各分門類</p>
<h4>羚羊角散</h4>
<p>治肝勞實熱，兩目赤澀，煩悶熱壅，胸裡炎炎。</p>
<p>羚羊角（鎊）　柴胡（去蘆）　黃芩　川當歸　決明子　羌活（去蘆）　赤芍藥　甘草（炙。各等分）</p>
<p>上　咀，每服四錢，水一盞半，薑五片，煎至八分，去滓，溫服，不拘時候。</p>
<h4>續斷湯</h4>
<p>治肝勞虛寒，脅痛脹滿，關節疼痛攣縮，煩悶，眼昏，不食。</p>
<p>川續斷（酒浸）　芎　當歸（去蘆，酒浸）　橘紅　半夏（湯泡七次）　乾薑（炮。</p>
<p>各一兩）　桂心（不見火）　甘草（上　咀，每服四錢，水一盞半，薑五片，煎至七分，去滓，溫服，不拘時候。</p>
<h4>黃芩湯</h4>
<p>治心勞實熱，口瘡心煩，腹滿小便不利。</p>
<p>澤瀉　梔子仁　黃芩　麥門冬（去心）　木通　生乾地黃　黃連（去須）　甘草（炙。</p>
<p>各等分）</p>
<p>上　咀，每服四錢，水一盞半，薑五片，煎至八分，去滓，溫服，不拘時候。</p>
<h4>遠志飲子</h4>
<p>治心勞虛寒，驚悸恍惚，多忘不安，夢寐驚魘。</p>
<p>遠志（去心，甘草煮干）　茯神（去木）　桂心（不見火）　人參　酸棗仁（炒，去殼）</p>
<p>黃（去蘆）　當歸（去蘆，酒浸。各一兩）　甘草（炙，半兩）</p>
<p>上　咀，每服四錢，水一盞半，薑五片，煎至七分，去滓，溫服，不拘時候。</p>
<h4>小甘露飲</h4>
<p>治脾勞實熱，身體眼目悉黃，舌乾，咽喉痛。</p>
<p>黃芩　升麻　茵陳　梔子仁　桔梗（去蘆，銼，炒）　生地黃（洗）　石斛（去根）　甘草（炙。各等分）</p>
<p>上　咀，每服四錢，水一盞半，薑五片，煎至八分，去滓，溫服，不拘時候。</p>
<h4>白朮湯</h4>
<p>治脾勞虛寒，嘔吐不食，腹痛泄瀉，胸滿喜噫，多臥少起，情思不樂，腸鳴體倦。</p>
<p>白朮　人參　草果仁　乾薑（炮）　厚朴（薑製，炒）　肉豆蔻（面裹煨）　橘皮（去白）　木香（不上　咀，每服四錢，水一盞半，薑五片，棗一枚，煎至七分，去滓，食前溫服。</p>
<h4>二母湯</h4>
<p>治肺勞實熱，面目苦腫，咳嗽喘急，煩熱頰赤，骨節疼痛，乍寒乍熱。</p>
<p>知母　貝母（去心膜）　杏仁（去皮尖，炒）　甜葶藶（略炒）　半夏（湯泡七次）　秦艽（去蘆）　橘紅（各一上　咀，每服四錢，水一盞半，薑五片，煎至八分，去滓，溫服，不拘時候。</p>
<h4>溫肺湯</h4>
<p>治肺勞虛寒，心腹冷氣，胸脅逆滿，氣從胸達背痛，飲食即吐，虛乏不足。</p>
<p>人參　鐘乳粉　半夏（湯泡七次）　桂心（不見火）　橘紅　乾薑（炮。各一兩）　木香（不見火）　甘草上　咀，每服四錢，水一盞半，薑五片，煎至七分，去滓，溫服，不拘時候。</p>
<h4>地黃湯</h4>
<p>治腎勞實熱，腹脹，四肢黑色，耳聾，多夢見大水，腰脊難解。</p>
<p>生地黃（洗）　赤茯苓（去皮）　玄參（洗）　石菖蒲　人參　黃　（去蘆。各一兩）　遠志（去心上　咀，每服四錢，水一盞半，薑五片，煎至八分，去滓，溫服，不拘時候。</p>
<h4>羊腎丸</h4>
<p>治腎勞虛寒，面腫垢黑，腰脊痛，不能久立，屈伸不利，夢寐驚悸，上氣，小腹急，痛引腰脊，四肢苦寒，小便白濁。</p>
<p>熟地黃（酒蒸，焙）　杜仲（去皮，銼，炒絲斷）　石斛（去根）　菟絲子（淘淨，酒浸，焙乾別研）　黃　（去蘆）　川續斷（酒浸）　桂心（不見火）　磁石（　，醋淬）　川牛膝（去蘆，上為細末，雄羊腎兩對，以蔥、椒、酒煮爛，再入少酒，和藥為丸，如桐子大，每服七十丸</p>
<h4>五加皮湯</h4>
<p>治筋極，極咳則兩脅下痛，不可轉動，腳下滿不得遠行，腳心痛不可忍，手足爪甲青黑，四肢筋急煩滿。</p>
<h4>羌活</h4>
<p>（去蘆）</p>
<p>羚羊角（鎊）　赤芍藥　防風（去蘆）　五加皮（洗）　秦艽（去蘆）　枳實（去瓤，麩炒）　甘草（炙。各半兩）</p>
<p>上　咀，每服四錢，水一盞半，薑五片，煎至八分，去滓，溫服，不拘時候。</p>
<h4>木瓜散</h4>
<p>治筋虛極，好悲思，腳手拘攣，伸動縮急，腹內轉痛，十指甲痛，數轉筋，甚則舌卷囊縮，唇青，面色蒼白，不得飲食。</p>
<p>木瓜（去瓤）　虎脛骨（酥炙）　五加皮（洗）　當歸（去蘆，酒浸）　桑寄生　酸棗仁（炒，去殼）　人參　柏子仁（炒）　黃　（去蘆。各一兩）　甘草（炙，半兩）</p>
<p>上　咀，每服四錢，水一盞半，薑五片，煎至七分，去滓，溫服，不拘時候。</p>
<h4>麥門冬湯</h4>
<p>治脈實極，氣衰血焦發落，好怒，唇口赤甚，口語不快，色不澤，飲食不為肌膚麥門冬（去心）　遠志（去心，甘草煮）　人參　黃芩　生地黃（洗）　茯神（去木）　石膏（　。</p>
<p>上　咀，每服四錢，水一盞半，薑五片，煎至八分，去滓，溫服，不拘時候。</p>
<h4>茯神湯</h4>
<p>治脈虛極，咳則心痛，喉仲介介如梗狀，甚則咽腫，驚悸不安。</p>
<p>茯神（去木）　人參　遠志（去心，甘草煮）　通草　麥門冬（去心）　黃　（去蘆）　桔梗（去蘆，銼，炒）　甘草（炙上　咀，每服四錢，水一盞半，薑五片，煎至七分，去滓，溫服，不拘時候。</p>
<h4>薏苡仁散</h4>
<p>治肉實極，肌膚淫淫如鼠走，津液開泄，或痹不仁，四肢急痛。</p>
<p>薏苡仁　石膏（　）　川芎　桂心（不見火）　防風（去蘆）　漢防己　羚羊角（鎊）　赤芍藥　杏仁（去皮尖，麩上　咀，每服四錢，水一盞半，薑五片，煎至八分，去滓，溫服，不拘時候。</p>
<h4>半夏湯</h4>
<p>治肉虛極，體重，脅引肩背不可以動，動則咳嗽，脹滿，留飲痰癖，大便不利。</p>
<p>半夏（湯泡七次）　白朮　茯苓（去皮）　人參　橘皮（去白）　附子（炮，去皮臍）　木香（不見上　咀，每服四錢，水一盞半，薑五片，煎至七分，去滓，溫服，不拘時候。</p>
<h4>前胡湯</h4>
<p>治氣實極，胸膈不利，咳逆短氣，嘔吐不下食。</p>
<p>前胡（去蘆）　半夏（湯泡七次）　杏仁（去皮尖，麩炒）　紫蘇子（炒）　枳實（去瓤，麩炒）　橘皮（去白）　桑白皮（炙）　甘草（炙上　咀，每服四錢，水一盞半，薑五片，煎至八分，去滓，溫服，不拘時候。</p>
<h4>紫菀湯</h4>
<p>治氣虛極，皮毛焦，津液不通，四肢無力，或喘急短氣。</p>
<p>紫菀茸（洗）　乾薑（炮）　黃　（去蘆）　人參　五味子　鐘乳粉　杏仁（去皮尖，麩炒）　甘草（炙。各等分）</p>
<p>上　咀，每服四錢，水一盞半，生薑五片，棗子一枚，煎至七分，去滓，溫服，不拘時候。</p>
<h4>玄參湯</h4>
<p>治骨實極，耳鳴，面色焦枯，隱曲，膀胱不通，牙齒腦髓苦痛，手足酸痛，大小便玄參　生地黃（洗）　枳殼（去瓤，麩炒）　車前子　黃　（去蘆）　當歸（去蘆，酒浸）　麥門冬（去心）　白芍藥（各一兩）　甘草（炙，半兩）</p>
<p>上　咀，每服四錢，水一盞半，薑五片，煎至八分，去滓，溫服，不拘時候。</p>
<h4>鹿角丸</h4>
<p>治骨虛極，面腫垢黑，脊痛不能久立，氣衰發落齒槁，腰脊痛，甚則喜唾。</p>
<p>鹿角（二兩）　川牛膝（去蘆，酒浸，焙，一兩半）</p>
<p>上為細末，煉蜜為丸，如梧桐子大，每服七十丸，空心，鹽湯送下。</p>
<h4>石斛湯</h4>
<p>治精實極熱，眼視不明，齒焦發落，通身虛熱，甚則胸中痛，煩悶泄精。</p>
<p>小草　石斛（去根）　黃　（去蘆）　麥門冬（去心）　生地黃（洗）　白茯苓（去皮）</p>
<p>玄參（各一兩）　甘草（炙，半兩）</p>
<p>上　咀，每服四錢，水一盞半，薑五片，煎至八分，去滓，溫服，不拘時候。</p>
<h4>磁石丸</h4>
<p>治精虛極，　羸，驚悸，夢中遺泄，尿後遺溺，小便白濁，甚則陰痿，小腹裡急。</p>
<p>磁石（　，醋淬，二兩）　肉蓯蓉（酒浸，切焙）　鹿茸（去皮毛，酒蒸）　川續斷（酒浸）　杜仲（炒去絲斷）　柏子仁（炒，別研）　赤石脂（火　）　熟地黃（酒蒸，焙）　山茱萸（取肉）　菟上為細末，酒糊為丸，如梧桐子大，每服七十丸，空心，溫酒鹽湯任下。</p>
<p>又方（亦名磁石丸）</p>
<p>治腎虛勞損，臥多盜汗，小便余瀝，陰濕痿弱，名勞極。</p>
<p>磁石（一兩，燒醋淬七遍，細研，水飛）　五味子（一兩）　鹿茸（一兩，去毛，塗酥炙令黃）　菟絲子（一兩，酒浸一宿，焙乾，別搗為末）　蛇床子（一兩）　車前子（一兩）</p>
<p>白茯苓（一兩）　桂心（一兩）　黃　（一兩，銼）　肉蓯蓉（一兩，酒浸一宿，刮去皺皮，炙干）　防風（一兩，去蘆）　山茱萸（一兩）　陽起石（一兩，細研，水飛過）　附子（一兩，炮，去皮臍）　熟乾地黃（一兩）</p>
<p>上搗為末，煉蜜為丸，如桐子大，每服空心，溫酒下三十丸，漸加至四十丸，晚食前再服。</p>
<h3>勞瘵論治</h3>
<p>夫勞瘵一證，為人之大患。凡受此病者，傳變不一，積年染疰，甚至滅門，可勝嘆哉！大抵合而言之，曰傳尸，別而言之，曰骨蒸，　復連、尸疰、勞疰、蠱疰、毒疰、熱疰、冷疰、食疰、鬼疰是也。夫疰者注也，自上注下，病源無異，是之謂疰。又其變則有二十二種，或三十六種，或九十九種。又有所謂五尸者，曰蜚尸、遁尸、寒尸、喪尸、尸注是也。</p>
<p>其名不同，傳變尤不一，感此疾而獲安者，十無一二也。大抵五臟所傳，皆令人憎寒發熱，其證狀各異。有如傳之於肝，則面白目枯，口苦自汗，心煩驚怖；傳之於心，則面黑鼻干，口瘡喜忘，大便或秘或泄；傳之於脾，則面青唇黃，舌強喉梗，吐涎體瘦，飲食無味；傳之於肺，則面赤鼻白，吐痰咯血，喘嗽毛枯；傳之於腎，則面黃耳枯，胸滿　痛，白濁遺瀝。</p>
<p>又有二十四種勞蒸者，亦可因證驗之。蒸在心也，少氣煩悶，舌必焦黑；蒸在小腸也，腹內雷鳴，大腸或秘或泄；蒸在肝也，目昏眩暈，躁怒無時；蒸在膽也，耳聾口苦，脅下堅痛；蒸在腎也，耳葉焦枯，腰腳酸痛；蒸在右腎也，情意不定，泄精白絮；蒸在肺也，喘嗽咯血，聲音嘶遠；蒸在大腸也，右鼻干疼，大腸隱痛；蒸在脾也，唇口乾燥，腹脅脹滿，畏寒不食；蒸在胃也，鼻口乾燥，腹膨自汗，睡臥不寧；蒸在膀胱也，小便黃赤，凝濁如膏；蒸在三焦也，或寒或熱，中脘膻中時覺煩悶；蒸在膈也，心胸噎塞，疼痛不舒；蒸在宗筋也，筋脈縱緩，小腹隱痛，陰器自強；蒸在回腸也，肛門秘澀，傳導之時，裡急後重；蒸在玉房也，男子遺精，女子白淫；蒸在腦也，眼眵頭眩，口吐濁涎；蒸在皮也，肌膚鱗起，毛折發黑；蒸在骨也，版齒黑燥，大杼酸疼；蒸在髓也，肩背疼倦，　骨酸痛；蒸在筋也，眼昏脅痛，爪甲焦枯；蒸在脈也，心煩體熱，痛刺如針；蒸在肉也，自覺身熱多不奈何，四肢　動；蒸在血也，毛髮焦枯，有時鼻衄，或復尿血。評諸病證，大略如斯。若究其根，惟心肺受蟲嚙，禍之甚也。治法先宜去根，次須攝養調治，亦有早灸膏肓俞，崔氏穴而得愈者。若待其根深蒂固而治之，則無及</p>
<h4>鱉甲地黃湯</h4>
<p>治熱勞，手足煩，心怔悸，婦人血室有干血，身體羸瘠，飲食不為肌肉。</p>
<p>柴胡（去蘆）　當歸（去蘆，酒浸）　麥門冬（去心）　鱉甲（醋炙）　石斛（去根）　白朮熟地黃（酒浸，焙）　茯苓（去皮）　秦艽（去蘆。各一兩）　人參　肉桂（不見火）　甘草（炙。各半兩）</p>
<p>上　咀，每服四錢，水一盞半，生薑五片，烏梅少許，煎至七分，去滓，溫服，不拘時候。</p>
<h4>黃飲子</h4>
<p>治諸虛勞損，四肢倦怠，骨節酸疼，潮熱乏力，自汗怔忡，日漸黃瘦，胸膈痞塞，不思飲食，咳嗽痰多，甚則唾血。</p>
<p>黃　（蜜炙，一兩半）　當歸（去蘆，酒浸）　紫菀（洗，去須）　石斛（去根）　地骨皮（去木）　人參　桑白皮　附子（炮，去皮臍）　鹿茸（酒蒸）　款冬花（各一兩）　半夏（湯泡七次）　甘草（炙。各半兩）</p>
<p>上　咀，每服四錢，水一盞半，生薑七片，棗一枚，煎至七分，去滓，溫服，不拘時。</p>
<p>此藥</p>
<h4>蛤蚧丸</h4>
<p>治積勞咳嗽，日久不瘥。</p>
<p>蛤蚧（一枚，酥炙）　鹿角（不蛀者，酥炙，去皮子，兩錠）　款冬花　木香（不見火）</p>
<p>杏仁（去皮尖，童子小便浸一晝夜，控干，蜜炒）　天麻　半夏（湯泡七次）　熟地黃（酒蒸，焙）　五味子（各一兩）　丁香（半兩）</p>
<p>上為細末，煉蜜為丸，如梧桐子大，每服十五丸，加至二十丸，食後，生薑湯下。</p>
<h4>太上混元丹</h4>
<p>河車者，天地之先，陰陽之祖，乾坤之橐龠，鉛汞之匡廓，胚　將兆九九數足，我則載而成之，故謂之河車。歷驗篇中，名曰混沌皮，蓋亦生天地陰陽之始，為七十二丹之首，高士垂慈，始開端緒。太上云：若欲長生，當修所生，人之所生，實資於此，所以成功靈應，非金石草木夜露曉霜之所比倫。修真之士，服之不輟，誠足以還本元補益之道，真得紫河車（一具，用少婦首生男子者良，帶子全者，於東流水洗斷血脈，入麝香二錢在內，以線縫定，用生絹包裹，懸胎於沙瓮內，入無灰酒五升，慢火熬成膏子）　沉香（別研）</p>
<p>朱砂（別研，水飛。各一兩）　人參　蓯蓉（酒浸）　乳香（別研）　安息香（酒煮，去砂石。各上為細末，入河車膏子和藥末，杵千百下，丸如梧桐子大，每服七十丸，空心，溫酒送下，沉香湯尤佳。詳此丹以紫河車為主，但佐使之藥太輕，無病患久服可以輕身延年，補損扶虛。</p>
<p>乃若病重之人服之，卻宜用增添之法也。男子真陽氣衰，榮衛虛耗，腰背疼痛，自汗怔忡，鹿茸（酒蒸）　川巴戟（去心）　鐘乳粉，陽起石（火　）　附子（炮，去皮臍）　黃（去蘆。各二兩）　桑寄生（無則以川續斷代）　生鹿角（鎊）　龍骨　紫菀（以上各一兩）</p>
<p>上依前法修制，和前藥末，杵和前膏子為丸，湯使如前，或沉香湯下。</p>
<p>婦人血海虛損，榮衛不足，多致潮熱心煩，口乾喜冷，腹脅刺痛，腰痛腿痛，痰多咳嗽，驚惕怔忡，經候不調，或閉斷不通，宜於內加：當歸（去蘆，酒浸）　石斛（去根）　紫石英（　，醋淬七次，水飛）　柏子仁（微炒，別研）　鹿茸（酒浸）　鱉甲（醋炙。各二兩）</p>
<p>卷柏葉（一上依前法修制，和前藥末，杵和前膏子為丸，湯使如前，任下。虛寒者，加炮熟附子二兩；</p>
<h4>經效阿膠丸</h4>
<p>治勞嗽，並咳血唾血。</p>
<p>阿膠（蛤粉炒）　生地黃（洗）　卷柏葉（銼，炒）　山藥（銼，炒）　大薊根　五味子雞蘇（各一兩）　柏子仁（炒，別研）　人參　茯苓（去皮）　百部（洗，去心）　防風（去蘆）　遠志（甘草水煮，去心）　麥門冬（去心。各半兩）</p>
<p>上為細末，煉蜜為丸，如彈子大，每服一丸，細嚼，濃煎小麥湯或麥門冬湯咽下。</p>
<h4>地仙散</h4>
<p>治骨蒸肌熱，一切虛勞煩躁，生津液。</p>
<p>地骨皮（去木，二兩）　防風（去蘆，一兩）　甘草（炙，半兩）</p>
<p>上　咀，每服四錢，水一盞半，生薑五片，煎至八分，去滓，溫服，不拘時候。</p>
<h4>崔丞相灸勞法</h4>
<p>外台秘要：崔相家傳方寶呂經驗方悉編載，然皆差誤。毗陵群有不刻最詳，予取諸本參校成此一書，比古方極為委曲，依此治人未嘗不驗，往往一灸而愈，予在宜城，久病虛羸，亦用此而愈。</p>
<p>唐中書侍郎崔知悌序夫含靈受氣，稟之於五行，攝生乖理，降之以六疾。若歧黃廣記，蔚有舊經，攻灸兼行，顯著斯術。骨蒸病者，亦名傳尸，亦謂　，亦稱復連，亦曰無辜。丈夫以癖氣為根，婦人以血氣為本，無問少長，多染此疾，嬰孺之流，傳注更苦。其為狀也，發干而聳，或聚或分，或腹中有塊，或腦後兩邊有小結，多者乃至五六，或夜臥盜汗，夢與鬼交，雖目視分明，而四一十三人，前後差者，數逾二百。至於狸骨獺肝，徒聞曩說，金牙銅鼻，罕見其能，未若此方扶危極急，非止單攻骨蒸，又別療氣、療風、或瘴、或勞、或邪、或癖。患狀既廣，灸治者不可具錄，略陳梗概，又恐傳授訛謬，以誤將來，今具圖形狀，庶令覽者易悉，使所在流布</p>
<h4>取穴法：</h4>
<p>先兩穴：令患人平身正立，取一細繩（蠟之勿念展縮），順腳底貼肉堅踏之，男左女右，其繩前頭與大拇趾端齊，後頭令當腳跟中心向後引繩，循腳肚貼肉直上至曲KT　大橫紋截斷。又令患人解發分兩邊令見頭縫，自囟門平分至腦後，乃平身正坐，取向所截一頭，令與鼻端齊，引繩向上正循頭縫至腦後，貼肉下循脊骨，引繩向下至繩盡處當脊骨，以墨點記之（墨點不是灸處）。又取一繩子，令患人合口，將繩子按於口上兩頭至吻卻鉤起繩子中心至鼻柱根下如△，此便齊兩吻截斷，將此繩展令直，於前來脊骨上墨點處橫量取平，勿令高下，（繩子先中折，當中以墨記之，卻展開繩子橫量，以繩子上墨點正脊骨上，墨點為正，兩頭取平，勿令以上是第一次點二穴。</p>
<p>次二穴：令其人平身正坐，稍縮臂膊，取一繩，繞項向前，雙垂與鳩尾齊（鳩尾是心歧骨，人有無心歧骨者，至雙胸前兩歧骨下量取一寸，即鳩尾是也）即雙截斷，卻背翻繩頭向項後，以繩子中停取心，正當喉嚨結骨上，其繩兩頭夾項雙垂，循脊骨以墨點記之（墨點不是灸處）。又取一繩子，令其人合口，橫量齊兩吻截斷，還於脊骨上，以墨點橫量如法，繩子兩頭以上是第二次點穴。通前共四穴。同時灸日別各七壯至二七壯，累灸至一百壯或一百五十又次二穴：以第二次量口吻繩子，於第二次雙繩頭盡處墨點上當脊骨直上下豎點，令繩中停以上是第三次點兩穴，謂之四花。灸兩穴各百壯，三次共六穴，各取離日量度訖即下火，唯須三月三日艾最佳，疾差百日內慎飲食房室，安心靜處將息。若一月後覺未瘥，復初穴上再灸。</p>
<p>圖形狀於後：</p>
<p><a href="_files/pysjx1.bmp">圖一</a></p>
<p><a href="_files/pysjx2.bmp">圖二</a></p>
<p><a href="_files/pysjx3.bmp">圖三</a></p>
<p><a href="_files/pysjx4.bmp">圖四</a></p>
<p><a href="_files/pysjx5.bmp">圖五</a></p>
<p><a href="_files/pysjx6.bmp">圖六</a></p>
<p><a href="_files/pysjx7.bmp">圖七</a></p>
<p><a href="_files/pysjx8.bmp">圖八</a></p>
<p><a href="_files/pysjx9.bmp">圖九</a></p>
<p><a href="_files/pysjx10.bmp">圖十</a></p>
<p><a href="_files/pysjx11.bmp">圖十一</a></p>
<p>凡骨蒸之後所起辨驗有二十二種，並依上項灸之一、胞蒸（小便赤黃）　二、玉房蒸（男遺尿失精，女月漏不調）</p>
<p>三、腦蒸（頭眩熱悶）　四、髓蒸（覺髓沸熱）</p>
<p>五、骨蒸（齒黑）　六、筋蒸（甲焦）</p>
<p>七、血蒸（發焦）　八、脈蒸（急緩不調）</p>
<p>九、肝蒸（或時眼前昏眩）　十、心蒸（舌焦，或瘡或時胸滿）</p>
<p>十一、脾蒸（唇焦折或口瘡）　十二、肺蒸（口乾生瘡）</p>
<p>十三、腎蒸（耳干焦）　十四、膀胱蒸（右耳焦）</p>
<p>十五、膽蒸（眼目失光）　十六、胃蒸（舌下痛）</p>
<p>十七、小腸蒸（下泄不禁）　十八、大腸蒸（右鼻孔痛）</p>
<p>十九、三焦蒸（乍寒乍熱）　二十、肉蒸（別人覺熱自覺冷）</p>
<p>二十一、皮蒸（皮肉生雞肉起）　二十二、氣蒸（遍身壯熱不自安息）</p>
<p>用尺寸取穴法：凡孔穴尺寸，皆隨人身形大小，須男左女右，量手指中心一節兩橫紋中心為一寸。</p>
<h4>艾炷大小法：</h4>
<p>凡艾炷須令腳根足三分，若不足三分，恐覆孔穴不備，穴中經脈火氣不行，即不能抽邪氣引</p>
<h4>取艾法：</h4>
<p>端午日，日未出，於艾中以意求其似人者，輒指之以灸，殊有效功，時見一書中云爾忘其何書也。艾未有真似人者，於明暗間苟以意命之，萬法皆妄，無一真者，此何疑耶？</p>
<h4>用火法：</h4>
<p>黃帝曰：松柏柿桑棗榆柳竹等木火，用灸必害肌血，慎不可用。凡取火者，宜敲石取火，或</p>
<h2>諸痹門</h2>
<h3>五痹論治</h3>
<p>風寒濕三氣雜至，合而為痹。皆因體虛腠理空疏，受風寒濕氣而成痹也。痹之為病，寒多則痛；風多則行；濕多則著。在骨則重而不舉；在脈則血凝而不流；在筋則屈而不伸；在肉則不仁；在脾則逢寒急，逢熱則縱，此皆隨所受邪氣而生證也。大率痹病，總而言之，凡有五種：筋痹、脈痹、皮痹、骨痹、肌痹是也。筋痹之為病，應乎肝，其狀夜臥則驚，飲食多，小便數；脈痹之為病，應乎心，其狀血脈不流，令人痿黃，心下鼓氣，卒然逆喘不通，嗌干善噫；肌痹之為病，應乎脾，其狀四肢懈怠，發咳嘔吐；皮痹之為病，應乎肺，其狀皮膚無所知覺，氣奔喘滿；骨痹之為病，應乎腎，其狀骨重不可舉，不遂而痛且脹。診其脈大而澀為痹，脈來急者亦為痹，脈澀而緊者亦為痹。又有風血痹，陰邪入於血經故也。外有支飲亦令人痹，當隨證施治。</p>
<h4>蠲痹湯</h4>
<p>治身體煩疼，項背拘急，或痛或重，舉動艱難，及手足冷痹，腰腿沉重，筋脈無力當歸（去蘆，酒浸）　赤茯苓　黃　（去蘆）　片子薑黃　羌活（各一兩半）　甘草（炙，半兩）</p>
<p>上　咀，每服四錢，水一盞半，生薑五片，棗子一枚，煎至八分，去滓，溫服，不拘時候。</p>
<p>治風濕痹，身體頑麻，皮膚燥癢，筋脈攣急，言語謇澀，手足不遂，時覺不仁。</p>
<p>黃　（去蘆）　防風（去蘆）　官桂（不見火）　天麻　萆　石斛（去根）　虎骨（酥炙）　白芍藥　當歸（去蘆）　雲母　粉　白朮　茵芋葉　木香（不見火）　仙靈脾　甘草川續斷（各一兩）</p>
<p>上銼如麻豆大，以生絹袋盛，以好酒一斗浸之，春五日，夏三日，秋七日，冬十日，每服一</p>
<h4>防風湯</h4>
<p>治血痹，皮膚不仁。</p>
<p>防風（去蘆，二兩）　川獨活（去蘆，洗）　川當歸（去蘆，洗）　赤茯苓（去皮）　秦艽（去蘆，洗）　赤芍藥　黃芩（各一兩）　桂心（不見火）　杏仁（去皮尖）　甘草（炙。</p>
<p>各半兩）</p>
<p>上　咀，每服四錢，水一盞半，薑五片，煎至七分，去滓，溫服，不拘時候。</p>
<h4>茯苓湯</h4>
<p>治支飲，手足麻痹，多睡眩冒。</p>
<p>半夏（湯泡七次）　赤茯苓（去皮）　橘紅（各一兩）　枳實（去瓤，麩炒）　桔梗（去蘆）　甘草（炙。各半兩）</p>
<p>上　咀，每服四錢，水一盞半，薑七片，煎至七分，去滓，溫服，不拘時候。</p>
<h2>血病門</h2>
<p>（附：金瘡內損瘀血方）</p>
<h3>失血論治</h3>
<p>（吐血　嘔血　咳血）</p>
<p>醫經所載，失血有三種：一曰血衄，二曰肺疽，三曰傷胃是也。蓋心主血，肝藏血，肺主氣，血為營，氣為衛，相隨上下升降，無有休息者也。六氣不傷，七情不郁，營衛調平，則無壅決之虞。節宣失宜，必致壅閉，遂不得循經流注，失其常度，故有妄行之患焉。夫血之妄行也，未有不因熱之所發。蓋血得熱則淖溢，血氣俱熱，血隨氣上，乃吐衄也。大抵脈芤為失血，沉細者易治，浮大者難治。又有感冒，汗後不解，郁結經絡，隨氣涌泄，而成衄血。思慮傷心，心傷則吐衄，肺傷亦令人唾血。又有折傷吐血。治療之法，當以證別之。乃可施治。</p>
<p>又論：夫吐血、嘔血、咳血三者皆謂之失血。蓋肺主於氣，心主於血，肝藏於血、血之與氣，營周一身，相隨上下，無有休息者焉。倘乖調攝，營衛差經，血隨氣逆，遂有妄行之患。所致之由，因大虛損，或飲酒過度，或強食過飽，或飲啖辛熱，或憂思恚怒，動擾三經而然。諸失血之脈，沉細者易治，脈數浮大者難治，且咳血一證，不嗽者易治，兼嗽者為難愈，為肺傷故也。醫經云：便血猶可止，咳血不易醫。喉不停物，毫發必咳，血滲入喉，愈滲愈咳，愈咳愈滲。飲溲溺者，十無一死，服寒涼者，百無一生。以此觀之，寒涼之劑，不宜過進也。諸方備列，參而用之，庶得萬全耳。</p>
<h4>伏龍肝膏</h4>
<p>治吐血不止。</p>
<p>伏龍肝末　生地黃汁　麥門冬汁　刺薊汁（各三合）　白蜜（半匙）</p>
<p>上件藥相合，以慢火熬如稀餳，不拘時候，含半匙咽之。</p>
<h4>大薊汁飲</h4>
<p>治吐血嘔血。</p>
<p>大薊汁　生地黃汁（各一合）</p>
<p>上件和勻，入薑汁少許，生蜜少許，攪均冷服，不拘時候。</p>
<h4>錦節丸</h4>
<p>治唾血嘔血。</p>
<p>真錦灰　藕節灰（各半兩）　的乳香（一錢，別研）</p>
<p>上為細末，煉蜜為丸，如龍眼大，每服一丸，食後及臨臥噙化。</p>
<h4>團參散</h4>
<p>治唾血咳嗽，服涼藥不得者。</p>
<p>人參（一兩）　黃　（一兩，蜜水炙）　百合（蒸，半兩）　飛羅粉（一兩）</p>
<p>上為細末，每服二錢，食後，用白茅根煎湯調服。茅花煎湯亦可。</p>
<h4>天門冬湯</h4>
<p>治思慮傷心，吐衄不止。</p>
<p>遠志（去心，甘草水煮）　白芍藥　天門冬（去心）　麥門冬（去心）　黃　（去蘆）　藕節阿膠（蛤粉炒）　沒藥　當歸（去蘆）　生地黃（各一兩）　人參上　咀，每服四錢，水一盞半，薑五片，煎至八分，去滓，溫服，不拘時候。</p>
<h4>大薊散</h4>
<p>治飲啖辛熱，熱邪傷肺，嘔吐出血一合或半升許，名曰肺癰。</p>
<p>大薊根（洗）　犀角（鎊）　升麻　桑白皮（炙）　蒲黃（炒）　杏仁（去皮尖）　桔梗（去蘆上　咀，每服四錢，水一盞半，薑五片，煎至八分，去滓，溫服，不拘時候。</p>
<h4>雞蘇散</h4>
<p>治勞傷肺經，唾內有血，咽喉不利。</p>
<p>雞蘇葉　黃　（去蘆）　生地黃（洗）　阿膠（蛤粉炒）　白茅根（各一兩）　桔梗（去蘆）　麥門冬（去心）　蒲黃（炒）　貝母（去心）　甘草（炙。</p>
<p>上　咀，每服四錢，水一盞半，薑五片，煎至七分，去滓，溫服，不拘時候。</p>
<h4>藕節飲</h4>
<p>治吐血、衄血不止。</p>
<p>生藕汁　生地黃汁　大薊汁（各三合）　生蜜（半匙）</p>
<p>上件藥汁，調和令勻，每服一小盞，細細冷呷之，不拘時候。</p>
<h4>加味理中湯</h4>
<p>治飲酒傷胃，遂成嘔吐，物與氣上衝與血吐出，或心腹疼痛，自汗，名曰傷胃嘔血。</p>
<p>人參　乾薑（炮）　白朮（各一兩）　干葛　甘草（炙。各半兩）</p>
<p>上為細末，每服三錢，水一大盞，煎至七分，去滓，溫服，不拘時候。</p>
<h3>便血評治</h3>
<p>夫大便下血者，多因過飽飲酒，無度房室，勞損榮衛，氣虛風冷易入，邪熱易蘊，留注大腸則為下血。血色鮮者風也；色如小豆汁者寒也；濁而色黯者熱也。久而不愈，必為痔漏之疾矣。脈來浮弱，按之帶芤者下血也，治之之法，風則散之，熱則清之，寒則溫之，虛則補之，所增</p>
<h4>烏梅丸</h4>
<p>治大便下血不止。</p>
<p>烏梅（三兩，燒存性用）</p>
<p>上為細末，好醋打米糊為丸，如梧桐子大，每服七十丸空心食前，用米飲送下。</p>
<h4>聚金丸</h4>
<p>治大腸畜熱，或因酒毒，下血不已。</p>
<p>黃連（去蘆，四兩。一兩水浸晒乾，一兩炒，一兩炮，一兩生用）　防風（去蘆）　黃芩（各一兩）</p>
<p>上為細末，醋糊為丸，如梧桐子大，每服七十丸，用米飲送下，不拘時候。</p>
<h3>金瘡內損瘀血方</h3>
<h4>奪命散</h4>
<p>治金瘡打損，及從高墜下，木石所壓，內損瘀血，心腹疼痛，大小便不通，氣絕欲紅蛭（用鍛石慢火炒令焦黃色，半兩）　大黃（二兩）　黑牽牛（二兩）</p>
<p>上件為末，每服三錢，用熱酒調下，如人行四、五裡，再用熱酒調牽牛末二錢，催之，須臟腑轉下惡血成塊或成片，惡血盡則愈。</p>
<h2>心腹痛門</h2>
<p>（附：脅痛）</p>
<h3>心痛論治</h3>
<p>夫心痛之病，醫經所載凡有九種：一曰蟲心痛，二曰疰心痛，三曰風心痛，四曰悸心痛，五曰食心痛，六曰飲心痛，七曰寒心痛，八曰熱心痛，九曰去來心痛。其名雖不同，而其所致皆因外感六淫，內沮七情，或飲啖生冷果食之類，使邪氣搏於正氣，邪正交擊，氣道閉塞，郁於中焦，遂成心痛，夫心乃諸臟之主，正經不可傷，傷之則痛，若痛甚手足青過節者，則名曰真心痛，真心痛者，旦發夕死，夕發旦死。若乍間乍甚成疹而不死者，名曰厥心痛，不過邪氣乘於心支別絡也。寸口脈緊，心脈甚急，皆主心痛。又有痛甚而心脈沉伏者有之矣。</p>
<p>王叔和云：心腹痛，脈沉細瘥；浮大弦長，命必殂。治法當推其所自而調之，痛無不止矣。</p>
<p>又論：夫心痛之病，有真心痛，有厥心痛，心乃五臟六腑之所主，法不受病。其痛甚，手足青而冷者，名曰真心痛，此神去氣竭，旦發夕死，夕發旦死。或六淫七情之所傷，五臟之氣衝逆，其痛乍間乍甚成疹而不死者，名曰厥心痛，此皆邪氣乘於心支別絡也。大抵痛為實痛宜下，寒宜溫，溫利之藥，卻痛散主之。若婦人血刺心痛倉卒，取功效之速，立應散主之。</p>
<p>其諸心痛各方審處而用之，以平為期。</p>
<h4>加味七氣湯</h4>
<p>治喜、怒、憂、思、悲、恐、驚七氣為病，發則心腹刺痛不可忍，時發時止，發則欲死。</p>
<p>及外感風寒濕氣作痛，亦宜服之。</p>
<p>半夏（湯泡七次，三兩）　桂心（不見火）　玄胡索（炒，去皮。各一兩）　人參　甘草（炙。各半兩）　乳香（三錢）</p>
<p>上　咀，每服四錢，水一盞半，生薑七片，棗一枚，煎至七分，去滓，食前溫服。婦人血痛</p>
<h4>九痛丸</h4>
<p>治九種心痛，腹脅氣脹，不欲飲食。</p>
<p>附子（炮，去皮臍，二兩）　乾薑（炮）　吳茱萸（炒）　野狼毒（銼，醋拌，炒黃）　人參（各一兩）　巴豆（半兩，去殼油）</p>
<p>上細末，煉蜜為丸，如梧桐子大，每服三丸，熱湯送下，不拘時候。</p>
<h4>愈痛散</h4>
<p>治急心痛胃痛。</p>
<p>五靈脂（去砂石）　玄胡索（炒，去皮）　蓬莪朮（煨，銼）良薑（銼，炒）　當歸（去蘆，洗）</p>
<p>上等分，為細末，每服二錢，熱醋湯調服，不拘時候。</p>
<h4>蕪荑散</h4>
<p>治大人小兒蛔咬心痛。經云：蟲貫心則殺人，欲驗之，大便不可忍，或吐青黃綠水涎沫，或吐蟲出，發有休止，此是蛔心痛也，宜速療之。</p>
<p>乾漆（捶碎，炒火煙盡，一兩）　雷丸　蕪荑（各半兩）</p>
<p>上為細末，每服三錢，溫水七分盞，調和服，不拘時候，甚者不過三服。小兒每服半錢重。</p>
<h4>燒脾散</h4>
<p>治飲啖生冷果菜，寒留中焦，心脾冷痛不可忍，及老幼霍亂吐瀉。</p>
<p>乾薑（炮）　厚朴（薑製，銼，炒）　草果仁　縮砂仁　神麯（銼，炒）　麥　（炒）　橘紅良薑（銼，炒）　甘草上為細末，每服三錢，用熱鹽湯點服，不拘時候。</p>
<h4>卻痛散</h4>
<p>治心痛不可忍者。</p>
<p>高良薑（一兩，銼如骰子，火煨）　巴豆（五枚，去殼）</p>
<p>上和，炒令轉色，去巴豆不用，研為細末，每服二錢，用熱酒調服，不拘時候。</p>
<h4>立應散</h4>
<p>治婦人血刺心痛。</p>
<p>玄胡索（不拘多少，去皮，炒令轉色，不可焦）</p>
<p>上為細末，每服二錢，酒一盞，煎至七分服，不拘時候。不能飲者，以陳米飲調下，酒調</p>
<h3>脅痛評治</h3>
<p>夫脅痛之病，醫經曰：兩脅者，肝之候。又云：肝病者，兩脅下痛。多因疲極嗔怒，悲哀煩惱，謀慮驚憂，致傷肝臟。肝臟既傷，積氣攻注，攻於左，則左脅痛；攻於右，則右脅痛；移逆兩脅，則兩脅俱痛。久而不愈，流注筋脈，或腰腳重墜，或兩股筋急，或四肢不舉。</p>
<p>漸大抵諸氣，惟膀胱氣脅下痛最難治，神保丸能治之。更有肝之積，名曰肥氣，在左脅下，大如覆杯，其病左脅下痛，連引小腹，足寒轉筋；肺之積，名曰息賁，在右脅下，覆大如杯，其病喘息奔溢。肝積肥氣丸主氣，肺積息賁湯主之，方載後。</p>
<h4>枳芎散</h4>
<p>治左脅刺痛，不可忍者。</p>
<p>枳實（炒）　川芎（各半兩）　粉草（炙，二錢半）</p>
<p>上為細末，每服二錢，薑棗煎湯調服，酒調亦可，不拘時候。</p>
<h4>推氣散治右脅疼痛，脹滿不食。</h4>
<p>枳殼（去瓤，麩炒）　桂心（去粗皮，不見火）　片子薑黃（洗。各半兩）　甘草（炙，三錢）</p>
<p>上為細末，每服二錢，薑棗煎湯調服，熱酒調服亦可，不拘時候。</p>
<h4>神保丸</h4>
<p>治膀胱氣，脅下痛，或病項筋痛，久而不愈，流入背膂，並皆治之。</p>
<p>木香　胡椒（各一分）　全蠍（七枚）　巴豆（十枚，去皮心，研）</p>
<p>上為細末，入巴豆令均，湯浸蒸餅為丸，如綠豆大，朱砂為衣，每服七粒，用茴香酒送下，</p>
<h4>肥氣丸</h4>
<p>治肝之積，在左脅下，如覆杯，有頭足，如龜鱉狀，久久不愈，發咳逆　瘧，連歲不已。</p>
<p>青皮（去白，銼炒，一兩）　川當歸（去蘆，洗，一兩，焙）　蛇含石（火　，醋淬七次，三分）　蒼朮（削去皮，米泔浸一宿銼，炒一兩）　莪朮（切）　京三棱（切）　鐵艷粉（各一兩半與三上為細末，醋煮米糊為丸，如綠豆大，每服四十丸，當歸浸酒，食前服。</p>
<h4>息賁湯</h4>
<p>治肺之積，在右脅下，大如覆杯，久久不愈，病洒洒寒熱，氣逆喘咳，發為肺癰。</p>
<p>半夏（湯泡七次）　吳茱萸（炒）　桂心（不見火。各七錢半）　人參　桑白皮（炙）　葶藶（微炒）</p>
<p>上　咀，每服四錢，水一盞半，生薑七片，棗二枚，煎至七分，去滓，食前，溫服。</p>
<h2>症瘕積聚門</h2>
<h3>積聚論治</h3>
<p>夫積有五積，聚有六聚。積者生於五臟之陰氣也；聚者成於六腑之陽氣也。此由陰陽不和，有如憂、思、喜、怒之氣，人之所不能無者，過則傷乎五臟，逆於四肢，傳克不行，乃留結而為五積。故在肝曰肥氣，在心曰伏梁，在脾曰痞氣，在肺曰息賁，在腎曰奔豚。其名不同，其證亦異。肥氣之狀，在左脅下，大如覆杯，肥大而似有頭足，是為肝積，診其脈弦而細，其色青，其病兩脅下痛，牽引小腹，足寒轉筋，男子為積疝，女子為瘕聚。伏梁之狀，起於臍下，其大如臂，上至心下，猶梁之橫架於胸膈者，是為心積，診其脈沉而芤，其色赤，其病腹熱面赤，咽乾心煩，甚則吐血，令人食少，肌瘦。痞氣之狀，留於胃脘，大如覆杯，痞塞不通，是為脾積，診其脈浮大而長，其色黃，其病飢則減，飽則見，腹滿嘔泄，足腫肉削，久不愈，令人四肢不收。息賁之狀，在右脅下，大如覆杯，喘息奔溢，是為肺積，診其脈浮而毛，其色白，其病氣逆背痛，少氣喜忘，目瞑膚寒，皮中時痛，或如虱緣，或如針刺。奔豚之狀，發於小腹，上至心下，上下無時，有若豚走之狀，是為腎積，診其脈沉而急，其色黑，其病飢則見，飽則減，小腹裡急，腰痛口乾，目昏骨冷，久不愈，令人骨痿少氣。又如六聚之成於六腑則異是矣，何者？六腑屬於三陽，太陽利清氣，陽明泄濁氣，少陽化精氣，有如都會之腑，主轉輸以為常也。夫苟六腑失常，則邪氣聚而不散，始發既無根本，上下無所留止，其痛亦無常處，故在上則格，在下則脹，傍攻兩脅，如有杯塊，易於轉動，故非五積之比也。凡脈快而緊者，積聚也。脈來小沉重者，胃中有積聚也。大抵病各有證，治各有方。如診心腹積聚，其脈牢強急者生，虛弱急者死。又諸脈實強者生，沉小者死，此又不可不察也。</p>
<p>又論：夫積者傷滯也。傷滯之久，停留不化，則成積矣。且人之臟腑，皆因觸冒以成疾病，惟脾胃最易受觸。蓋日用飲食，稍或過多，停滯難化，或吐或嘔，或泄或痢。當是之時，法宜推蕩，然後助養脾胃。所謂推蕩者，更宜斟量人之虛實，傷滯之輕重而推蕩之。停滯一消，則不成積，克化失宜，久之必成積聚症瘕矣。所謂積者，有氣積、肉積、酒積、茶積、食積、痰積，更有婦室月經不通，遂成血積。凡治諸積之要，並載於後，倘於前證，參酌而用之可也。</p>
<h4>香棱丸</h4>
<p>治五積，破痰癖，消症塊及冷熱積聚。</p>
<p>木香（不見火）　丁香（各半兩）　京三棱（細銼，酒浸一宿）　枳殼（去瓤，麩炒）　莪朮（細銼，一兩，用去殼巴豆三十粒，同炒巴豆黃色，去巴豆不用）　青皮（去白）　川楝子（銼，炒）　茴香（炒）</p>
<p>上等分，為細末，醋煮面糊為丸，如梧桐子大，以朱砂研極細為衣，每服二十丸，炒生薑鹽</p>
<h4>妙應丸</h4>
<p>治老人、虛人，一切虛寒，　癖積塊，攻脹疼痛。</p>
<p>黑附子（二枚，各重七錢，去皮臍，剜作罐子）　砂（三錢用水一盞，化在盞中，火上熬干，秤）　木香（不見火，七錢半）　破故紙（微炒）　畢茇（各一兩）</p>
<p>上將飛過　砂末，分入附子瓮內，卻用剜出附子末蓋口，用和成白面裹藥半指濃，慢炭火內煨令黃色，去面，同木香等為細末，卻將原裹附子熟黃面為末，醋調煮糊為丸，如綠豆大，每服十五丸至二十丸，食後，生薑湯送下。</p>
<h4>磨積丸</h4>
<p>治腸胃因虛氣癖於盲膜之外，流於季脅，氣逆息難，多日頻年，醫所不治，久則營衛停凝，一日敗濁潰為癰膿，多至不救。</p>
<p>胡椒（一百五十粒）　木香（不見火，二錢半）　全蠍（去毒，十個）</p>
<p>上為細末，粟米飲為丸，如綠豆大，每服十五丸，橘皮湯下。</p>
<h4>大七氣湯</h4>
<p>治六聚，狀如症瘕，隨氣上下，發作有時，心腹　痛，攻刺腰脅，上氣窒塞，喘咳滿悶，小腹　脹，大小便不利，或復泄瀉，淋瀝無度。</p>
<p>京三棱　莪朮　青皮（去白）　陳皮（去白）　藿香葉　桔梗（去蘆，銼，炒）　肉桂（不見火）　益智仁（各一兩半）　甘草（炙，三分）　香上為　咀，每服五錢，水二盞，煎至一盞，去滓，溫服，食前。</p>
<h4>阿魏丸</h4>
<p>治氣積，肉積，心腹膨滿，結塊疼痛，或引脅肋疼痛，或痛連背膂，不思飲食。木香（不見火）　檳榔（各半兩）　胡椒　阿魏（用醋化開，旋入。各二錢半）</p>
<p>上為細末，用阿魏膏子並粟米飯，杵和為丸，如梧桐子大，每服四十丸，不拘時候，用生薑</p>
<h4>脾積丸</h4>
<p>治食積，茶積，飲食減少，面黃腹痛。</p>
<p>陳倉米（半斤，用巴豆七粒去殼，同米炒令赤色，去巴不用）　青皮（去瓤，炒）　陳橘皮（各二兩）</p>
<p>上為細末，好醋搜和為丸，如豌豆大，每服二十丸，食後，用淡薑湯送下。</p>
<h4>曲丸</h4>
<p>治酒癖不消，心腹脹滿，噫醋吞酸，　逆不食，脅肋疼痛。</p>
<p>神麯（銼，炒）麥　（炒，各一兩）　黃連（去須，半兩，巴豆三粒，去殼，同炒令轉色，去巴豆不用）</p>
<p>上為細末，沸湯搜丸，如梧桐子大，每服五十丸，食後，用薑湯吞下。</p>
<h4>袞金丸</h4>
<p>治痰積中脘，眈瞑嘔吐，頭疼惡心，時吐酸水。</p>
<p>陳皮（不去白）　天南星（生用）　乾薑（洗去灰，生用。各半兩）　雄黃（二錢半，研極細）</p>
<p>上為細末，用生薑自然汁浸，蒸餅為丸，如梧桐子大，以前雄黃末為衣，每服五十丸，食後，生薑湯下。</p>
<h2>宿食門</h2>
<h3>宿食論治</h3>
<p>難經云：脾氣通於口，口和則知穀味矣；心氣通於舌，舌和則知五味矣。是知穀味五味，莫不經由口舌而入於胃也。善攝生者，謹於和調，使一飲一食，入於胃中，隨消隨化。則無滯留之患。若稟受怯弱，飢飽失時，或過餐五味、魚腥、乳酪，強食生冷果菜，停蓄胃脘，遂成宿滯。輕則吞酸嘔惡，胸滿噎噫，或泄或利，久則積聚，結為症瘕，面黃羸瘦，此皆宿食不消而主病焉。大率才有停滯，當量人虛實，速宜克化之，不可後時，養成沉　也。</p>
<h4>黑丸子</h4>
<p>治中脘有宿食，吞酸惡心，口吐清水，噫宿腐氣，或心腹疼痛，及中虛積聚，飧泄白痢下。</p>
<p>烏梅肉（七個）　百草霜（三錢）　杏仁（去皮尖，別研，三七枚）　巴豆（去殼並油、二枚）　半夏（湯泡七次，九枚）　縮砂仁（三七枚）</p>
<p>上為細末，和勻，用薄糊為丸，如黍米大，每服十五丸，加至二十丸，用熟水送下，薑湯亦</p>
<h4>如意丸</h4>
<p>治虛中積冷，氣弱有傷，不能傳化，心下堅痞，兩脅脹滿，心腹疼痛，噫宿腐氣，及霍亂吐瀉，米穀不消，久痢赤白，膿血相雜，久病黃色羸瘦，及腹中一切食症之疾，並皆治枳殼（去瓤）　檳榔　橘紅　半夏（湯泡七次）　莪朮　京三棱　乾薑（泡）　黃連（去須。</p>
<p>上件，除巴豆外，銼如豆大，用好醋合巴豆煮干，去巴豆，余藥焙，為細末，薄糊為丸，如綠豆大，每服十丸，加至十五丸，用茶清薑湯任下，食後臨臥服。有孕婦人不宜服。</p>
<h4>阿魏丸</h4>
<p>治脾胃怯弱，食肉食面，或食生果，停滯中焦，不能克化，致腹脹疼痛，嘔惡不食或痢或秘，悉主之。</p>
<p>阿魏（酒浸，化，旋入）　官桂（不見火）　莪朮（炮）　麥　（炒）　神麯（炒）</p>
<p>青皮（去瓤）　羅卜（炒）　白朮　乾薑（炮。各半兩）　百草霜（三錢）　巴豆（去殼油，三、七個）</p>
<p>上件，為細末，和勻，用薄糊為丸，如綠豆大，每服二十丸，不拘時，薑湯送下。面傷用</p>
<h2>脹滿門</h2>
<h3>脹滿論治</h3>
<p>脹滿者，俗諺所謂膨亨是也。內經問：人有病，旦食不能暮食，此為何病？歧伯對曰：名曰鼓脹。治之以雞矢醴一劑至二劑已。治法雖詳，而不論其病之所由生，故切有疑焉。大抵人之脾胃，主於中州，大腹小腹是其候也。若陽氣外強，陰氣內正，則臟氣得其平，病何由生。苟或將理失宜，風寒暑濕得以外襲，喜怒憂思得以內傷，食啖生冷，過飲寒漿，擾動沖和，如是陰氣當升而不升，陽氣當降而不降，中焦痞結，必成脹滿。脹滿不已，變證多端，或腸鳴氣走漉漉有聲，或兩脅腰背痛連上下，或頭痛嘔逆，或胸悶不食，或大小便為之不利，未有不因脹滿而使焉。更有五疸、水氣、香港腳及婦人血膨，令人脹滿。若論其脈，脈浮者可治，脈虛小者為難治。</p>
<h4>平肝飲子</h4>
<p>治喜怒不節，肝氣不平，邪乘脾胃，心腹脹滿，連兩脅妨悶，頭暈嘔逆，脈來防風（去蘆）　桂枝（不見火）　枳殼（去瓤，麩炒）　赤芍藥　桔梗（去蘆，銼，炒。</p>
<p>各一兩）　木香（不見火）　人參　檳榔　當歸（去蘆，酒浸）　川芎　桔紅　甘草（炙。</p>
<p>各半兩）</p>
<p>上　咀，每服四錢，水一盞半，薑五片，煎至七分，去滓，溫服，不拘時候。</p>
<h4>紫蘇子湯</h4>
<p>治憂思過度，邪傷脾肺，心腹膨脹，喘促胸滿，腸鳴氣走，漉漉有聲，大小便不利，脈虛緊而澀。</p>
<p>紫蘇子（一兩）　大腹皮　草果仁　半夏（湯泡七次）　厚朴（去皮，薑製，炒）　木香（不見火）　桔紅　木通　白朮　枳實（去瓤，麩炒）　人參　甘草（炙。各半兩）</p>
<p>上　咀，每服四錢，水一盞半，生薑五片，棗二枚，煎至七分，去滓，溫服，不拘時候。</p>
<h4>枳實湯</h4>
<p>治腹脹發熱，大便秘實，脈多洪數，此名熱脹。</p>
<p>枳實（去瓤，麩炒，半兩）　厚朴（薑製，炒，一兩）　大黃（酒蒸）　甘草（炙。各三錢）　桂心（不見火，二錢半）</p>
<p>上　咀，每服四錢，水一盞半，生薑五片，棗二枚，煎至七分，去滓，溫服，不拘時候。</p>
<p>嘔</p>
<h4>朴附湯</h4>
<p>治老人虛人中寒下虛，心腹膨脹，不喜飲食，脈來浮遲而弱，此名寒脹。</p>
<p>附子（炮，去皮）　厚朴（薑製，炒）</p>
<p>上二味等分，　咀，每服四錢，水二盞，薑七片，棗子二枚，煎至八分，去滓，溫服，不</p>
<h4>強中湯</h4>
<p>治脾胃不和，食啖生冷，過飲寒漿，多致腹脹，心下痞滿，有妨飲食，甚則腹痛。</p>
<p>乾薑（炮，去土）　白朮（各一兩）　青皮（去白）　桔紅　人參　附子（炮，去皮臍）</p>
<p>厚朴（薑製上　咀，每服四錢，水一盞半，生薑五片，大棗二枚，煎至七分，去滓，溫服，不拘時候。</p>
<h4>桂香丸</h4>
<p>治大人小兒過食雜果，腹脹氣急。</p>
<p>肉桂（不見火，一兩）　麝香（別研，一錢）</p>
<p>上為細末，飯丸如綠豆大，大人十五丸，小兒七丸，不拘時候，熟水送下，未痊再服。</p>
<h4>獨聖湯</h4>
<p>治脾胃不足，過食瓜果，心腹脹堅，痛悶不安。</p>
<p>鹽（五合）</p>
<p>上用水一升煎消，頓服，自吐下即定。或因食麥，令人腹脹，酒和薑汁飲一兩杯即消。</p>
<h4>大正氣散</h4>
<p>治脾胃怯弱，風寒濕氣傷動沖和，心腹脹滿，有妨飲食。</p>
<p>厚朴（薑製，炒）　藿香葉　半夏（湯泡七次）　桔紅　白朮（各一兩）　甘草（炙）　檳榔桂枝（不見火）　枳殼（去瓤，麩上　咀，每服四錢，水一盞半，生薑五片，棗子二枚，煎至七分，去滓，溫服，不拘時候。</p>
<h2>水腫門</h2>
<h3>水腫論治</h3>
<p>水腫為病，皆由真陽怯少，勞傷脾胃，脾胃既寒，積寒化水。蓋脾者土地，腎者水也。</p>
<p>腎能小便不利，外腎或腫，甚則肌肉崩潰，足脛流水，多致不救。歧伯所謂：水有膚脹、鼓脹、腸覃、石瘕，種類不一，皆聚水所致。夫水之始起也，目裹微腫，如臥蠶起之狀，頸脈動，喘時咳，陰股間寒，足脛腫，腹乃大，為水已成，以手按其腹，隨手而起，如裹水之狀，此其候也。又有蠱脹，腹滿不腫；水脹，面目四肢俱腫。</p>
<p>治蠱以水藥，治水以蠱藥，非其治也。治療之法，先實脾土，脾實則能舍水，土得其政，面色純黃，江河通流，腎水行矣，腫滿自消。次溫腎水，骨髓堅固，氣血乃從。極陰不能化水而成冰，中焦溫和，陰水泮流，然後腫滿自消而形自盛，骨肉相保，巨氣乃平。然此病證不可治者有五（五證見巢氏病源），然水病最難治。特須慎於口味，戒房勞謔戲，若不能戒此，愈而復病者多矣。經云：治水之法，腰以上腫宜發汗，腰以下腫宜利小便，此至當之論。</p>
<p>然腫滿最慎於下，當辨其陰陽。陰水為病，脈來沉遲，色多青白，不煩不渴，小便澀少而清，大腑多泄，此陰水也，則宜用溫暖之劑，如實脾散、復元丹是也；陽水為病，脈來沉數，色多黃赤，或煩或渴，小便赤澀，大腑多閉，此陽水也，則宜用清平之藥，如疏鑿飲子，鴨頭丸是也。又有年少，血熱生瘡，變為腫滿，煩渴，小便少，此為熱腫。素問所謂：結陽者腫四肢是也。</p>
<h4>實脾散</h4>
<p>治陰水，先實脾土。</p>
<p>厚朴（去皮，薑製，炒）　白朮　木瓜（去瓤）　木香（不見火）　草果仁　大腹子　附子（炮，去皮臍）　白茯苓（去皮）　乾薑（炮，各一兩）　甘草（炙，半兩）</p>
<p>上　咀，每服四錢，水一盞半，生薑五片，棗子一枚，煎至七分，去滓，溫服，不拘時候。</p>
<h4>復元丹</h4>
<p>治陰水，次溫腎水。</p>
<p>附子（炮，二兩）　木香（煨）　茴香（炒）　川椒（炒出汗）　獨活（去蘆）　厚朴（薑製，炒）　橘紅　吳茱萸（炒）　桂心（不見火）　白朮　肉豆蔻（面裹煨）　檳榔（各半兩）　澤瀉（一兩）</p>
<p>上為細末，面糊為丸，如梧桐子大，每服七十丸，用紫蘇湯送下，空心食前。</p>
<h4>疏鑿飲子</h4>
<p>治水氣，通身洪腫，喘呼氣急，煩躁多渴，大小便不利，服熱藥不得者。</p>
<p>澤瀉　赤小豆（炒）　商陸　羌活（去蘆）　大腹皮　椒目　木通　秦艽（去蘆）　檳榔茯苓皮上等分，　咀，每服四錢，水一盞半，生薑五片，煎至七分，去滓，溫服，不拘時候。</p>
<h4>葶藶丸</h4>
<p>治腫滿，水氣蠱脹。</p>
<p>甜葶藶（半兩）　白朮（半兩）　桑白皮　赤茯苓　防己（三分）　牽牛（半兩，半生半熟）　羌活　陳皮　澤瀉（各三分）　郁李仁（湯去皮，熬紫色，稱三分，與葶藶二味別研如膏，令極細）</p>
<p>上為細末，與上二味同研，煉蜜和，入臼內杵之，丸如桐子大，初服十丸，空心晚食前，一日二服，生薑橘皮湯下，不知加至二三十丸，以知為度。或加蘿卜子、甘遂二分，切片炒。</p>
<h4>鴨頭丸</h4>
<p>治水腫，面赤煩渴，面目肢體悉腫，腹脹喘急，小便澀少。</p>
<p>甜葶藶（略炒）　豬苓（去皮）　漢防己（以上各一兩）</p>
<p>上為細末，綠頭鴨血為丸，如梧桐子大，每服七十丸，用木通湯送下。</p>
<h4>麻黃甘草湯</h4>
<p>治水腫，從腰以上俱腫，以此湯發汗。</p>
<p>麻黃（去根節，四兩）　甘草（二兩）</p>
<p>上　咀，每服三錢，水一盞半，煮麻黃再沸，內甘草煎至八分，取汗，慎風冷。有人患氣</p>
<h4>七皮飲</h4>
<p>大腹皮　陳皮　茯苓皮　生薑皮　青皮　地骨皮　甘草皮（以上各半兩）</p>
<p>上為細末，每服三錢，水一大盞，煎八分，溫服，無時候。</p>
<h4>赤小豆湯</h4>
<p>治年少血氣俱熱，遂生瘡疥，變為腫滿，或煩或渴，小便不利。</p>
<p>赤小豆（炒）　當歸（去蘆，炒）　商陸　澤瀉　連翹仁　赤芍藥　漢防己　木豬苓（去皮）　桑白皮（炙）　澤漆（以上各上　咀，每服四錢，水一盞半，生薑五片，煎至八分，去滓，溫服，不拘時候。熱甚者，加</p>
<h4>三仁丸</h4>
<p>治水腫喘急，大小便不利。</p>
<p>郁李仁　杏仁（炮，去皮尖）　薏苡仁（以上各一兩）</p>
<p>上為細末，用米糊為丸，如梧桐子大，每服四十丸，不拘時候，米飲下。</p>
<h4>脾約麻仁丸</h4>
<p>雖不言治腫，然水腫人，腎腫水光，不可行者，三服神驗。</p>
<p>麻仁（五兩，別研）　枳實（麩炒，半斤）　厚朴（去粗皮，薑製，半斤）　芍藥（半斤）</p>
<p>大黃（去皮，一斤，蒸切）</p>
<p>上前二味，別研如泥，用四味為細末，入臼杵勻，蜜丸如梧子大，每服二十丸，臨臥溫水下，以大便通利為度，未利再服。此是古法今治，腎腫水光只一二服，以退為度，不必利可也。</p>
<h4>塗臍膏</h4>
<p>治水腫，小便絕少。</p>
<p>地龍　豬苓（去皮）　針砂（以上各一兩）</p>
<p>上為細末，擂蔥涎調成膏，敷臍中，約一寸高闊，絹帛束之，以小便多為度，日兩易。</p>
<p>加味腎氣丸　治腎虛腰重腳重，小便不利。</p>
<p>附子（炮，二兩）白茯苓（去皮）　澤瀉　山茱萸（取肉）　山藥（炒）　車前子（酒蒸）　牡丹皮（去木。各一兩）　官桂（不見火）　川牛膝（去蘆，酒浸）　熟地黃（各半兩）</p>
<p>上為細末，煉蜜為丸，如梧桐子大，每服七十丸，空心。米飲下。</p>
<h2>蠱毒門</h2>
<h3>蠱毒論治</h3>
<p>經書所載蠱毒有數種。閩中山間人造作之。以蟲蛇之類，用器皿盛貯，聽其互相食啖，有一物獨存者，則謂之蠱。取其毒於酒中，能禍於人。中其毒也，令人心腹絞痛，如有物咬，吐下血皆如爛肉，若不即治，蝕人五臟即死。然此病有緩有急，急者倉卒十數日便死，緩者延引歲月，游周腹內，氣力羸憊，骨節沉重，發即心痛煩躁，而病患所食之物，亦變化為蠱，漸侵食臟腑則死矣。死則病流注，染著旁人，遂成蠱注也。欲驗之法，令病患唾水，沉者是蠱，不沉者非蠱也。或含一大豆，豆脹皮脫者蠱也，豆不爛脫非蠱也。以鵠皮至病患臥下，勿令病患知，病劇者是蠱病，不劇者非蠱也。治療之法，不可作他病治之，切須審細，古人以敗鼓皮燒灰，米飲服方寸匕。須臾自呼蠱家姓名，令呼喚將去則愈。凡中蠱，嚼生黑豆不腥</p>
<h4>丹砂丸</h4>
<p>治蠱毒。</p>
<p>雄黃（別研）　朱砂（別研。各半兩）　鬼臼　巴豆（去皮心油，各一兩）</p>
<p>上為細末，煉蜜為丸，如大豆大，每服三丸，空心，煎乾薑湯送下，當轉下惡物並蠱毒等，</p>
<h4>雄麝散</h4>
<p>治五種蠱毒。</p>
<p>雄黃末　麝香末（各一字）</p>
<p>上件藥，取生羊肺如指大，以刀開，內雄黃等末，以肺裹吞之。</p>
<h4>礬灰散</h4>
<p>治中諸物毒。</p>
<p>晉礬　建茶（各等分）</p>
<p>上件藥為細末，每服二錢，新汲水調下，得吐即效，未吐再服。</p>
<h2>黃疸門</h2>
<h3>五疸論治</h3>
<p>古方論：有黃膽、有疸病，命名不同，其實一也。詳觀他書，黃有三十六種，疸有五種。</p>
<p>三十六種黃者，聖惠方載之備矣。五疸之證，感之者多，不容不詳。其五疸者，黃汗、黃膽穀疸、酒疸、女勞疸是也。黃汗之狀，身體俱腫，汗出不渴，狀如風水，汗出染衣，黃如汁，其脈自沉，此由脾胃有熱，汗出入水浴，水入汗空中，故汗黃也。黃膽之狀，食己即飢，身體、面目、爪甲、牙齒及小便悉黃，欲安臥，或身體多赤多青皆見者，必發寒熱，此由酒食過度，臟腑熱極，水穀相並，積於脾胃，復為風濕所搏，結滯不散，熱氣鬱蒸所為也。大抵發於陰部其人必嘔，發於陽部必振寒而發熱。穀疸之狀，食畢即頭眩，心中怫鬱不安而發黃，此由大飢大食，胃氣衝蒸所致也。酒疸之狀，身目發黃，心中懊痛，足脛滿，小便黃，面發赤斑，此由飲酒多，進穀少，胃內生熱，因大醉當風入水所致也。女疸之狀，身目皆黃，發熱惡寒，小腹滿急，小便不利，此由大勞大熱，不能保攝，房後入水所致也，其間多渴而腹脹者，其病難療。又有時氣傷風、傷寒、伏暑，亦令人發黃。五疸口淡怔忡，耳鳴腳弱，微寒發熱，小便白濁，當作虛證治，不可妄投涼劑，愈傷血氣。臨病之際，不可不辨明也。</p>
<h4>黃散</h4>
<p>治黃汗。</p>
<p>黃　（去蘆，蜜水炙）　赤芍藥　茵陳（各二兩）　石膏（四兩）　麥門冬（去心）　豉（各一兩）　甘草（炙，半兩）</p>
<p>上　咀，每服四錢，水一盞半，薑五片，煎至八分，去滓，溫服，不拘時候。</p>
<h4>茵陳散</h4>
<p>治黃膽。</p>
<p>茵陳　木通　梔子仁（各一兩）　大黃（炒，一兩）　瓜蔞（一個）　石膏（二兩）　甘草（炙，半兩）</p>
<p>上　咀，每服四錢，水一盞半，生薑五片，蔥白一莖，同煎至八分，去滓，溫服，不拘時候</p>
<h4>穀疸丸</h4>
<p>治穀疸。</p>
<p>苦參（三兩）　龍膽草（一兩）　牛膽（一枚）</p>
<p>上為細末，用牛膽汁入少煉蜜為丸，如梧桐子大，每服五十丸，空心食前，熟水或生薑甘草</p>
<h4>葛根湯</h4>
<p>治酒疸。葛根（二兩）　枳實（去瓤，麩炒）　梔子仁　豉（各一兩）　甘草（炙，半兩）</p>
<h4>茵陳湯</h4>
<p>治時行瘀熱在裡，鬱蒸不消，化為發黃。</p>
<p>茵陳（二兩）　大黃（一兩）　梔子仁（三錢）</p>
<p>上　咀，每服四錢，水一盞半，煎至八分，去滓，溫服，不拘時候。</p>
<h4>加減五苓湯</h4>
<p>治伏暑郁發黃，煩渴，小便不利。</p>
<p>赤茯苓（去皮）　豬苓（去皮）　澤瀉　白朮　茵陳（各等分）</p>
<p>上為　咀，每服四錢，水一盞半，煎至八分，去滓，溫服，不拘時候。</p>
<h4>秦艽飲子</h4>
<p>治五疸，口淡，耳鳴，腳弱，微寒發熱，小便白濁。</p>
<p>秦艽（去蘆）　當歸（去蘆，酒浸）　芍藥　白朮　官桂（去皮，不見火）　茯苓（去皮）　熟地黃（酒蒸）　橘紅　小草　川上　咀，每服四錢，水一盞半，薑五片，煎至七分，去滓，溫服，不拘時候。</p>
<h4>滑石散</h4>
<p>治女勞疸，身目俱黃，惡寒發熱，小腹滿急，小便艱難。滑石（一兩半）　白礬（一兩，燒令汁盡）</p>
<p>上件藥，搗細羅為散，每服不計時候，以大麥粥飲調下二錢，小便出黃水為度。</p>
<p>上為細末，用醋面糊為丸，如梧桐子大，礬紅為衣，每服三十粒，食後薑湯下，小兒臨時加減與服。</p>
<h2>咳喘痰飲門</h2>
<h3>咳嗽論治</h3>
<p>夫嗽者，古人所謂咳是也。蓋皮毛者，肺之合也，皮毛先受邪氣，邪氣以從其合也。又經云：五臟六腑皆令人咳，非獨肺也。由是觀之，皮毛始受邪氣，邪氣先從其合，然後傳為五臟六腑之咳，外則六淫所傷，內則七情所感，連滯歲月，致傷五臟，遂成勞咳者多矣。且傷於風者，憎寒身熱，自汗惡風而咳；傷於寒者，憎寒身熱，無汗惡寒而咳；傷於暑者，煩渴引飲而咳；傷於濕者，骨節煩疼，四肢重著而咳。喜傷心者，喉仲介介如梗狀，甚者咽腫喉痹，謂之心咳；怒傷於肝者，兩脅下痛，甚則兩　下滿，謂之肝咳；思傷脾者，右脅下痛，痛引肩背，甚則不可以動，動則咳劇，謂之脾咳；恐傷於腎者，腰背相引而痛，甚則咳涎，謂之腎咳；憂傷於肺者，喘息有音，甚則唾血，謂之肺咳。臟咳不愈，則腑受之。心咳不已，小腸受之，咳與氣俱失；肝咳不愈，膽受之，咳嘔膽汁；脾咳不愈，胃受之，咳而嘔，嘔甚則長蟲出；肺咳不愈，大腸受之，咳而遺矢；腎咳不愈，膀胱受之，咳而遺溺；久咳不愈，三焦受之，咳而腹滿，不欲食。此皆聚於胃，關於肺，使人多涕唾，而面浮腫氣逆也。又況房勞過度，飢飽失宜，疲極叫呼，勞神傷心，皆令人咳。夫咳嗽之脈，浮大者生，沉小伏匿者死。治療之法，當推其所自而調之，無不效者矣。今人治咳多喜用罌粟殼、烏梅之類，殊不知罌粟殼其性緊澀，烏梅味酸，乃傷脾之劑，脾胃壯實者，服之猶可，脾胃稍弱者</p>
<h4>杏子湯</h4>
<p>治一切咳嗽，不問外感風寒，內傷生冷，及痰飲停積，悉皆治療。</p>
<p>人參　半夏（湯泡七次）　茯苓（去皮）　細辛（洗）　乾薑（炮）　官桂（不見火）　杏仁（去皮尖，炒）　白芍藥　甘草（炙）　五味子（各等分）</p>
<p>上　咀，每服四錢，水一盞半，生薑五片，煎至七分，去滓，溫服，不拘時候。此藥味多辛辣，其性稍熱，若冷嗽則宜服之，如熱嗽豈宜服之。若的因感寒得之，宜加少麻黃去根節煎。</p>
<h4>橘蘇散</h4>
<p>治傷風咳嗽，身熱有汗，惡風脈浮。病患挾熱，服杏子湯不得者，此藥穩當。</p>
<p>橘紅　紫蘇葉　杏仁（去皮尖）　五味子　半夏（湯泡七次）　桑白皮（炙）　貝母（去心）　白朮（各上　咀，每服四錢，水一盞半，生薑五片，煎至八分，去滓，溫服，不拘時候。</p>
<h4>白朮湯</h4>
<p>治五臟受濕，咳嗽痰多，上氣喘急，身體痛重，脈來濡細。</p>
<p>白朮（二兩）　五味子　半夏（湯泡七次）　白茯苓（去皮）　橘紅（各一兩）　甘草（炙，半兩）</p>
<p>上　咀，每服四錢，水一盞半，生薑五片，煎至八分，去滓，溫服，不拘時候。</p>
<h4>團參飲子</h4>
<p>治病因抑郁憂思、喜怒、飢飽失宜，致臟氣不平，咳嗽膿血，漸成肺痿。憎寒壯熱，羸瘦困頓，將成勞瘵。</p>
<p>人參　紫菀茸（洗）　阿膠（蛤粉炒）　百合（蒸）　細辛（洗去葉土）　款冬花　杏仁（去皮夾，炒）　天門冬（湯浸，去心）　半夏（湯泡七次）　經霜桑葉　五味子（各一兩）　甘草（炙，半兩）</p>
<p>上　咀，每服四錢，水一盞半，生薑五大片，煎至七分，去滓，食後溫服。因氣而咳者，宜加木香；咳而唾血有熱者，加生地黃；咳而唾血有寒者，加鐘乳粉；因疲極而咳嗽者，加黃；因咳損而唾血者，加沒藥、藕節；咳而嘔逆，腹滿不食者，加白朮，仍倍加生薑；咳而小便多者，加益智仁；咳而大便溏者，去杏仁，加鐘乳粉；咳而面浮氣逆者，加沉香、橘皮煎。</p>
<h4>半夏丸</h4>
<p>治肺藏蘊熱痰嗽，胸膈塞滿。</p>
<p>栝蔞子（去殼，別研）　半夏（湯泡七次，焙，取末，各一兩）</p>
<p>上件和勻，生薑自然汁打面糊為丸，如梧桐子大，每服五十丸，食後用薑湯送下。</p>
<h4>呵子飲</h4>
<p>治久嗽，語聲不出。</p>
<p>呵子（去核，一兩）　杏仁（泡，去皮尖，一兩）　通草（二錢半）</p>
<p>上　咀，每服四錢，水一盞半，煨生薑切五片，煎至八分，去滓，溫服，食後。</p>
<h4>百花膏</h4>
<p>治喘嗽不已，或痰中有血。</p>
<p>款冬花　百合（蒸，焙）</p>
<p>上等分為細末，煉蜜為丸，如龍眼大，每服一丸，食後臨臥細嚼，薑湯咽下，噙化尤佳。</p>
<h3>喘論治</h3>
<p>素問云：諸氣者皆屬於肺，諸喘者亦屬於肺。是以人之一呼一吸謂之息，呼吸之間，脾受其氣通乎榮衛，合乎陰陽，周流一身，無過不及，然後權衡得其平矣。將理失宜，六淫所傷，七情所感。或因墜墮驚恐，度水跌仆，飽食過傷，動作用力，遂使臟氣不和，榮衛失其常度，不能隨陰陽出入以成息，促迫於肺，不得宣通而為喘也。診其脈滑，手足溫者生；脈澀，四肢寒者死，數者亦死，謂其形損故也。更有產後喘急，為病尤亟，因產所下過多，榮血暴竭，衛氣無所主，獨聚於肺，故令喘急，謂之孤陽絕陰，為難治。醫療之法，當推其所感，詳其虛實冷熱而治之。如產後喘急已載於婦人產後十六論中矣，茲不再敘。亦有痰停胃脘又論：夫喘者，上氣也。嗽者古人所謂咳也。經云：諸氣者皆屬於肺。肺主皮毛，皮毛先受邪氣，邪氣以從其合也。則知喘嗽之疾，關系乎肺明矣。但久嗽不已，傳於五臟六腑，至於三焦，病之極也。前所載論治，洞究其源，茲舉大略，不復再敘。臨病之際，又當審訂，對證</p>
<h4>華蓋散</h4>
<p>治風寒冷濕之氣，傷於肺經，上氣喘促不得睡，或聲音不出者。</p>
<p>杏仁（去皮尖，炒）　紫蘇子（微炒）　麻黃（去根節）　赤茯苓（去皮）　橘紅　桑白皮（炙。各一兩）　甘草（炙，半兩）</p>
<p>上為細末，每服二錢，水一盞，煎至七分，食後溫服。</p>
<h4>葶藶散</h4>
<p>治過食煎爆，或飲酒過度，致肺壅喘不得臥，及肺癰咽燥不渴，濁唾腥臭。</p>
<p>甜葶藶（炒）　桔梗（去蘆）　栝蔞子　川升麻　薏苡仁　桑白皮（炙）　葛根（各一兩）　甘草（炙，半兩）</p>
<p>上　咀，每服四錢，水一盞半，生薑五片，煎至八分，去滓，食後溫服。</p>
<h4>二黃丸</h4>
<p>治停痰在胃，喘息不通，呼吸欲絕。</p>
<p>雌黃（一錢）　雄黃（一兩）</p>
<p>上二味，研羅極細，用黃蠟為丸，如彈子大，每服一丸，於半夜時熱煮糯米粥，乘熱以藥投在粥內攪轉和粥吃。</p>
<h4>杏參飲</h4>
<p>治因墜墮驚恐，度水跌仆，疲勞筋力，喘急不安。</p>
<p>人參　桑白皮　橘紅　大腹皮　檳榔　白朮　訶子（面裹煨，取肉）　半夏（湯泡七次）</p>
<p>桂心（不見火）　杏仁（去皮尖，炒）　紫菀（上等分，　咀，每服四錢，水一盞半，生薑五片，入紫蘇葉七葉，煎至七分，去滓，溫服，不拘時候。</p>
<h4>四磨湯</h4>
<p>治七情傷感，上氣喘息，妨悶不食。</p>
<p>人參　檳榔　沉香　天台烏藥上四味，各濃磨水，和作七分盞，煎三、五沸，放溫服。或下養正丹尤佳。</p>
<h4>定喘丹</h4>
<p>治男子婦人，久患咳嗽，肺氣喘促，倚息不得睡臥，　。嗽亦宜服之。杏仁（去皮尖，炒，別研）　馬兜鈴　蟬蛻（洗去土並足翅，炒。各一兩）　砒（二錢，別研）</p>
<p>上件為末，蒸棗肉為丸，如葵子大，每服六、七丸，臨睡用蔥茶清放冷送下。忌熱物。</p>
<h4>人參胡桃湯</h4>
<p>治胸滿喘急，不能睡臥。</p>
<p>新羅人參（寸許，切片）　胡桃（五個，取肉，切片）</p>
<p>上作一服，用水一小盞，生薑五片，煎至七分，去滓，臨臥溫服。</p>
<h4>杏仁煎</h4>
<p>治久患肺喘，咳嗽不已，睡臥不得，服之即定。</p>
<p>杏仁（去皮尖）　胡桃肉上等分，研為膏，入煉蜜少許，丸如彈丸，每服一丸或二丸，細嚼，用薑湯咽下，食後及臨</p>
<h3>痰飲論治</h3>
<p>飲凡有六，即懸飲、溢飲、支飲、痰飲、留飲、伏飲，巢氏載之詳矣。龐安常云：人身無倒上之痰，天下無逆流之水，誠哉斯言。以此思之，人之氣道貴乎順，順則津液流通，決無痰為咳，不由痰飲之所或利，此固定分導次之，亦有意焉。王叔寒則邪水溢上。其間用山茱萸亦當矣。臨病之際，又加詳審焉邪，皮毛屬肺，風寒隨玄府而入寒化熱，熱則生痰喘滿也肺熱也。</p>
<h4>導痰湯</h4>
<p>治一切痰厥，頭目旋運，或痰飲留積不散，胸膈痞塞，脅肋脹滿，頭痛吐逆，喘急涕唾稠黏，坐臥不安，飲食可思。</p>
<p>半夏（湯泡七次，四兩）　天南星（炮，去皮）　橘紅　枳實（去瓤，麩炒）　赤茯苓（去皮。各一兩）　甘草（炙，半兩）</p>
<p>上　咀，每服四錢，水二盞，生薑十片，煎至八分，去滓，溫服，食後。</p>
<h4>檳榔散</h4>
<p>治胸膈痰飲，腹中虛鳴，食不消化，或加嘔逆，或臂痛項疼。</p>
<p>檳榔　半夏（湯泡七次）</p>
<p>花（去枝梗）　乾薑（炮）　白朮（上　咀，每服四錢，水一盞半，生薑五片，煎至八分，去滓，溫服，不拘時候。</p>
<h4>枳朮湯</h4>
<p>治飲癖氣分，心下堅硬如杯，水飲不下。</p>
<p>肉桂（去皮、不見火，三分）　附子（炮兩）　桔梗（去蘆，銼，炒）　檳榔　甘草（炙。各三上　咀，每服四錢，水一盞半，生薑七片，煎至七分，去滓，溫服，不拘時候。</p>
<h4>赤石脂散</h4>
<p>治引飲過度，遂成痰飲，吐水無時，服諸痰藥不效者。</p>
<p>赤石脂（　，二兩）</p>
<p>上為細末，每服二錢，用薑湯或酒調服，不拘時候。</p>
<h4>五套丸</h4>
<p>治胃氣虛弱，三焦痞塞，不能宣行水穀，故為痰飲。結聚胸臆之間，令人頭目昏胸膈脹滿，咳嗽氣急，嘔逆腹痛。伏於中脘，亦令臂疼不舉，腰腳沉重。久而不散，流入於脾，脾惡濕，得水則脹，脹則不能消化水穀，又令腹中虛滿，而不食也。</p>
<p>半夏（一兩，切次用白礬三兩，研碎茯苓（去皮）　白朮（各一（去白。各半兩）</p>
<p>上十味為細末，用神麯一兩，大麥　二兩，同碾，取末打糊，和藥為丸，如梧桐子大，每服霧露如神</p>
<h4>二生湯</h4>
<p>專治痰。</p>
<p>附子（生，去皮臍）　半夏（生用）</p>
<p>上等分，　咀，每服四錢，水二盞，生薑十片，煎至七分，去滓，溫服、空心。）　入少木</p>
<h2>諸瘧門</h2>
<h3>諸瘧論治</h3>
<p>素問云：夫瘧疾皆生於風。又云：夏傷於暑，秋必病瘧，此四時之氣使然也。或乘涼過度夫病之始發也，必先起於毫毛，伸欠乃作，寒栗鼓頷，頭痛如破，渴欲飲冷，或先寒後熱或先熱後寒，或熱多寒少，或寒多熱少，或但熱不寒，或但寒不熱，或一日一發，或間日發，或三日一發。一日一發者易治，有所謂癉瘧、寒瘧、溫瘧、食瘧、弦數者多熱，弦遲者多寒，弦小大者宜吐之。久而不愈，脅下痞滿結為法。</p>
<h4>養胃湯</h4>
<p>治寒多熱少，或但寒不熱，頭痛惡心，胸滿　嘔，身體疼痛，栗栗振寒，面色青白進飲食，脈來弦遲。</p>
<p>厚朴（薑製。炒）　藿香葉　半夏（湯泡七次）　白茯苓（去皮。各一兩）　人參　甘草（炙）　橘紅（各三分）　草果仁　蒼朮（米泔水浸一宿，削去皮，銼、炒。各上　咀，每服四錢，水一盞半，生薑七片，棗子一枚，煎至八分，去滓，溫服，不拘時。</p>
<p>多寒者內加附子煎。</p>
<h4>清脾湯</h4>
<p>治癉瘧，脈來弦數，但熱不寒，或熱多寒少，膈滿能食，口苦舌乾，心煩渴水，小赤，大腑不利。</p>
<p>青皮（去白）　厚朴（薑製，炒）　白朮　草果仁　柴胡（去蘆）　茯苓（去皮）　半夏（湯泡七次）　黃芩　甘草（炙。各等分）</p>
<p>上　咀，每服四錢，水一盞半，薑五片，煎至七分，去滓，溫服，不拘時候。</p>
<p>萬安散治一切瘧疾，得病之初，以其氣壯，進此藥以取效。氣虛胃弱及妊婦不宜服之。</p>
<p>蒼朮（浸一宿）　甘草夜露一宿，當發日，分作兩服。蕩溫早晨進一服，俟其發時，再進一服，忌食熱物片時。</p>
<h4>紅丸子</h4>
<p>專治食瘧。</p>
<p>莪朮　京三棱（醋煮。各二兩）　胡椒（一兩）　青皮（炒香，三兩）　阿魏（一錢，醋化）</p>
<p>上為末，別用陳倉米末同阿魏醋煮糊為丸，如梧桐子大，每服五十丸，加至百丸，用薑湯吞</p>
<h4>加味香薷飲</h4>
<p>治伏暑成瘧，煩悶多渴，微微振寒，寒罷大熱，小便黃赤，或背寒面垢。（方中暑論治）</p>
<h4>鱉甲飲子</h4>
<p>治瘧疾久不愈，脅下痞滿，病患形瘦，腹中結塊，時發寒熱，名曰瘧母。</p>
<p>鱉甲（厚朴（薑製，上等分，　咀，每服四錢，水一盞半，生薑七片，棗子一枚，烏梅少許，煎至七分，去滓，</p>
<h4>七棗湯</h4>
<p>治五臟氣虛，陰陽相勝作為　瘧，不問寒熱先後，與夫獨作、疊作、間日，悉主之附子（一枚，炮裂，以鹽水浸再炮，如此七次。不浸，去皮臍）</p>
<p>上　咀，水半碗，生薑七片，棗七枚，煎至八分盞，當發日，去滓，空心溫服，川烏亦可用。</p>
<h4>果附湯</h4>
<p>治脾寒瘧疾不愈，振寒少熱，面青不食，或大便溏泄，小便反多。</p>
<p>草果仁　附子（炮，去皮臍）</p>
<p>上等分，　咀，每服半兩，水二盞，生薑七片，棗一枚，煎至七分，去滓，溫服，不拘時候</p>
<h4>灸法</h4>
<p>治瘧疾久不愈，不問男女，於大椎中第一骨節處，灸三七壯，立效，或灸第三骨節</p>
<h2>大便門</h2>
<h3>泄瀉論治</h3>
<p>素問曰：春傷於風，夏必飧泄，邪氣留連，乃為洞泄。此由榮衛不足，腠理空疏，春傷於風甚為之患不節，過食生冷而成泄瀉者，乃由中州不運，脾胃有傷也。但停滯泄瀉一證，直須積滯已消，然兼少氣、前後泄利、飲食不入，得此必死。其有生者，漿粥入胃，泄注止，則虛者活，誠哉斯言也。</p>
<p>又論：夫瀉痢兩證，皆因腸胃先虛，虛則六淫得以外入，七情得以內傷，至於飲食不節，過可治中湯是也，理中不效，方可斷下，乳豆丸、固腸丸是也；或尚腹痛，未宜斷下，斷下太早，必成痢疾矣，惟當調中化積，痛輕者宜服治中湯、蘇合香丸，腹痛更甚者，必然成痢，醫經所謂腹痛甚者，必下痢也，宜進靈砂丹，以逐其積，此丹用之屢驗，瀉者止，痢者斷，疼者愈，有積者內化，且不動臟腑。大凡痢疼，不先去其積，雖獲暫安，後必為害，或陰陽相搏，冷熱不調而成瀉利者，當進香連丸，湯使具後，更有脾腎頓虛，腹脅膨　，飲食不化而泄硝胃風湯　治腸胃不足，風冷乘之，水穀不化，泄瀉注下，腹中虛滿，及腸胃受濕，下如豆汁，或下瘀血，日夜無度，並宜服之。</p>
<p>人參　白茯苓　芎　桂心（不見火）　當歸（去蘆）　白芍藥　白朮　甘草上等分，　咀，每服四錢，水一盞半，入粟米百余粒，煎至七分，去滓，空心稍熱服。</p>
<h4>加味五苓湯</h4>
<p>治伏暑熱二氣及冒濕泄瀉注下，或煩、或渴、或小便不利。</p>
<p>赤茯苓（去皮）　澤瀉　木豬苓（去皮）　肉桂（不見火）　白朮（各一兩）　車前子（半兩）</p>
<p>上　咀，每服四錢，水一盞半，生薑五片，煎至八分，去滓，溫服，不拘時候。或進來復丹</p>
<h4>戊巳丸</h4>
<p>治脾胃不足，濕熱乘之，泄瀉不止，米穀不化，腸鳴腹痛。</p>
<p>黃連（去須）　吳茱萸　白芍藥（各等分）</p>
<p>上為細末，米糊為丸，如梧桐子大，每服五十丸，空心，用米飲送下。</p>
<h4>火輪丸</h4>
<p>治腸胃虛寒，心腹冷痛，泄瀉不止。</p>
<p>乾薑（炮）　附子（炮，去皮臍）　肉豆蔻（面裹煨）</p>
<p>上等分，為細末，米糊為丸，如梧桐子大，每服五十丸，空心，米飲送下。</p>
<h4>白朮附子湯</h4>
<p>治腸胃虛濕，腸鳴泄瀉，或多自汗。</p>
<p>白朮（二兩）　附子（炮）　茯苓（去皮。各一兩）</p>
<p>上　咀，每服四錢，水一盞半，生薑七片，棗子一枚，煎至七分，去滓，溫服，不拘時候。</p>
<h4>四柱散</h4>
<p>治元臟氣虛，真陽耗散，兩耳常鳴，臍腹冷痛，頭旋目暈，四肢怠倦，小便滑數，不止。</p>
<p>白茯苓（去皮）　附子（炮，去皮臍）　人參　木香（不見火。各一兩）</p>
<p>上為細末，每服三錢，水一盞半，生薑五片，入鹽少許，煎至七分，食前溫服。滑泄不止</p>
<h4>加味治中湯</h4>
<p>治脾胃不足，飲食不節，過食生冷，腸鳴腹痛，泄瀉注下。</p>
<p>乾薑（炮）　白朮草（炙。各半兩）</p>
<p>上　咀，每服四錢，水一盞半，生薑五片，棗子一枚，煎至七分，去滓，溫服，不拘時候，</p>
<h4>棗肉丸</h4>
<p>治脾腎虛寒，或腸鳴泄瀉，腹脅虛脹，或胸膈不快，飲食不化。</p>
<p>破故紙（四兩，炒）</p>
<p>上為細末，燈心煮棗肉為丸，如梧桐子大，每服七十丸，用薑鹽湯送下，空心食前。</p>
<h4>禹餘糧丸</h4>
<p>治腸胃虛寒，滑泄不禁。</p>
<p>禹餘糧石（　）　赤石脂（　）　龍骨　蓽茇　訶子（面（面裹煨）　附子（炮）</p>
<p>上等分為細末，醋糊為丸，如梧桐子大，每服七十丸，米飲送下，食前。</p>
<h4>乳豆丸</h4>
<p>治大腸虛寒，滑泄不止。</p>
<p>鐘乳粉（一兩）　肉豆蔻（半兩，面裹煨香，去面不用）</p>
<p>上為細末，煮棗肉，杵和為丸，如梧桐子大，每服七十丸，空心食前，用米飲送下。</p>
<p>固腸丸　治大腸久冷，滑泄不禁。</p>
<p>附子（一只，炮，去皮臍）　肉豆蔻（一兩，面裹煨香，去面不用）</p>
<p>上為細末，醋糊為丸，如梧桐子大，每服七十丸，食前，用陳米飲送下。</p>
<h3>痢疾論治</h3>
<p>今之所謂痢疾者，即古方所謂滯下是也。蓋嘗推原其故矣。胃者，脾之腑也，為水穀之海，役過熱則飲服病，往往所由致，倘不先以巴豆等劑，以推其積滯，逐其邪穢，鮮有不致精神危困，久而羸弱者，余嘗鑒焉。</p>
<p>者，則清分利之。又如冷熱交並者，則溫涼以調之，傷損而成久毒痢者，則化毒以保衛無不應，而疾無不愈者矣。雖然又當觀脈之虛實何如耳，如下痢脈微小者生，脈腸頻下膿血者，診脈宜滑大也，若弦急者必死。又身寒則生，身熱則死。苟此驗治，萬不失一矣。</p>
<h4>黑丸子</h4>
<p>治脾胃怯弱，飲食過傷，留滯不化，遂成痢下，宜速進此藥推導，更須斟酌受病深增損丸數，還當逐盡積滯方佳。卻徐徐補養之。（方見宿食門）</p>
<h4>四味阿膠丸</h4>
<p>治協熱下利，其色黃，煩躁多渴，臍腹疼痛，小便不利。</p>
<p>黃連（去須，四兩）　茯苓（去皮，二兩）　赤芍藥（三兩）　阿膠（蛤粉炒，一兩）</p>
<p>上為細末，醋糊為丸，如梧桐子大，每服五十丸，空心食前，用米飲下。</p>
<h4>駐車丸</h4>
<p>治冷熱不調，下痢赤白，日夜無度，腹痛不可忍者。</p>
<p>黃連（去須，六兩）　阿膠（蛤粉炒）　當歸（去蘆，焙，洗。各三兩）　乾薑（炮，二兩）</p>
<p>上為細末，醋煮米糊為丸，如梧桐子大，每服五十丸，加至七十丸，空心，用米飲送下。</p>
<h4>胃風湯</h4>
<p>治風冷乘虛入客腸胃，水穀不化，泄瀉注下，臍腹虛滿，腸鳴　痛，及腸胃受濕，豆羹汁，或下瘀血，日夜無度，並宜服之。（方見泄瀉門）</p>
<h4>烏梅丸</h4>
<p>治熱留腸胃，下痢純血，臍腹　痛，或先經下痢未斷服熱藥，蘊毒伏熱，滲成血痢治之。</p>
<p>烏梅肉（二兩）　黃連（去須，三兩）　當歸（去蘆）　枳殼（去瓤，麩炒。各一兩）</p>
<p>上為細末，醋糊為丸，如梧桐子大，每服七十丸，空心食前，米飲送下。</p>
<h4>當歸丸</h4>
<p>治冷留腸胃，下痢純白，腹痛不止。</p>
<p>當歸（去蘆，酒洗）　芍藥　附子（炮，去皮阿膠（蛤粉炒。各一兩）　烏梅肉（二兩）</p>
<p>上為細末，醋糊為丸，如梧桐子大，每服五十丸，空心，用米飲送下。</p>
<h4>香茸丸</h4>
<p>治下痢危困。</p>
<p>麝香（半錢，別研，臨時入）　鹿茸（燎去皮毛，酥炙，一兩）</p>
<p>上鹿茸為細末，方入麝香，以燈心煮棗肉為丸，如梧桐子大，每服五十丸，空心食前，用米</p>
<h4>茜根丸</h4>
<p>治一切毒痢及蠱注痢，血下如雞肝，心煩腹痛。</p>
<p>茜根（洗）　川升麻　犀角（鎊）</p>
<p>殼（去瓤，麩炒）　白芍藥上等分，為細末，醋煮米糊為丸，如梧桐子大，每服七十丸，空心，食米飲送下。</p>
<h4>香連丸</h4>
<p>治陰陽相搏，冷熱不調，或瀉或痢。</p>
<p>木香（二寸，分作二段，一段用糯米炒，去半吳茱萸炒，去茱萸不用，一半生用）</p>
<p>上為細末，米糊為丸，如梧桐子大，每服七十丸。白痢用乾薑湯下；赤痢用甘草湯下；赤白</p>
<h4>秘傳香連丸</h4>
<p>治赤痢。</p>
<p>木香〔切片，二（半）兩〕　黃連（去須，四兩）　生薑（切片，四兩）</p>
<p>上三味，先鋪生薑在鍋底，次鋪黃連在薑上，次又鋪木香於黃連上，用新汲井水三碗，煎干，不要攪動，候煎干，取出三味焙乾，碾為細末，以醋調陳倉米粉，打糊為丸，如小梧桐子大，每服七十丸，空心食前，米飲湯送下。</p>
<h4>艾薑丸</h4>
<p>治白痢。</p>
<p>艾葉（陳者，四兩）　乾薑（炮，去灰二兩）</p>
<p>上二味，各碾為末，用醋調陳倉米粉，打糊為丸，如小梧桐子大，每服七十丸，空心食前，以上二方，乃男文煜得之於賈平章，魏國公屢嘗以此方取奇效，實不敢私秘，附刊於此。</p>
<h4>靈砂丹</h4>
<p>治積痢，不問久新及治積瘧，食瘧。</p>
<p>砂（一兩，別研）　朱砂（一分，別研）</p>
<p>上用黃蠟半兩，巴豆三七粒，去殼，同於銀石器內，重湯煮一伏時，候巴豆紫色為度，去二丸至不可吃食，臨臥服之尤佳，可食淡粥一日。瘧疾用乳香湯面東服，於不發日晚間服。</p>
<h3>秘結論治</h3>
<p>素問云：大腸者，傳導之官，變化出焉。平居之人，五臟之氣，貴乎平順，陰陽二氣，貴乎是有發通之又論：秘凡有五，即風秘、氣秘、濕秘、冷秘、熱秘是也。多因腸胃不足，風寒濕熱乘之，高靈仙蜜炙之際，</p>
<h4>麻仁丸</h4>
<p>治腸胃不調，熱結秘澀。</p>
<p>大麻仁（別研如膏）　川大黃（銼碎，微炒）　厚朴（去皮二兩）　杏仁（去皮尖，別研）　枳實（去瓤，麩炒。各一兩）</p>
<p>上為細末，煉蜜為丸，如梧桐子大，每服七十丸，空心，米飲送下，以利為度。強羸臨時加</p>
<h4>枳殼丸</h4>
<p>治腸胃氣壅風盛，大便秘實。（方見五臟門脾胃虛實論治）</p>
<h4>半硫丸</h4>
<p>治年高冷秘，及　癖冷氣。</p>
<p>生硫黃（研細）　半夏（湯浸，焙，取末）</p>
<p>上等分和勻，用生薑自然汁打面糊為丸，如梧桐子大，每服五十丸，空心，溫酒薑湯任下。</p>
<h4>橘杏丸</h4>
<p>治氣秘，老人虛弱人皆可服。</p>
<p>橘紅（取末）　杏仁（湯浸，去皮尖）</p>
<p>上二味，等分和勻，煉蜜為丸，如梧桐子大，每服七十丸，空心，用米飲送下。</p>
<h4>紫蘇麻仁粥</h4>
<p>此藥順氣，滑大便。</p>
<p>紫蘇子　麻子仁上二味，不拘多少，研爛，水濾取汁，煮粥食之。</p>
<h4>檳榔散</h4>
<p>治腸胃有濕，大便秘澀。</p>
<p>檳榔（不拘多少）</p>
<p>上為細末，每服二錢，用蜜湯點服，不拘時候。</p>
<h4>潤腸丸</h4>
<p>治發汗、利小便亡津液，大腑秘，老人虛人皆可服。</p>
<p>肉蓯蓉（酒浸，焙，二兩）　沉香（別研，一兩）</p>
<p>上為細末，用麻子仁汁打糊為丸，如梧桐子大，每服七十丸，空心，用米飲送下。</p>
<h4>蜜導法</h4>
<p>每用蜜三合，入豬膽汁兩枚在內，煎如餳，出冷水中，捏如指大，長三寸許，納下部，立通。</p>
<h4>威靈仙丸</h4>
<p>治老人腸胃虛，津液不能內潤，氣澀不能運掉，大便秘結，不問風冷氣秘，皆可威靈仙（洗，去蘆）　黃　（去蘆，蜜水炙。各一兩）　枳實（麩炒，半兩）</p>
<p>上為細末，煉蜜為丸，如梧桐子大，每服七十丸，空心食前，用米飲送下。</p>
<h4>皂角丸</h4>
<p>治大腸有風，大便秘結，尊年之人尤宜服之。</p>
<p>皂角（炙，去子）　枳殼（去瓤，麩炒）</p>
<p>上等分為細末，煉蜜為丸，如梧桐子大，每服七十丸，空心食前，用米飲送下。</p>
<h2>小便門</h2>
<h3>淋利論治</h3>
<p>（附：尿血）</p>
<p>膀胱不利為癃閉，此由飲酒房勞，或動役冒熱，或飲冷逐熱，或散石發動，熱結下焦，遂成氣、膏其又論：夫淋利兩證，醫經曰：膀胱不利為癃，不約為遺尿。又云：膀胱者，州都之官，津液胱，利病臨病</p>
<h4>地膚子湯</h4>
<p>治下焦結熱，小便赤黃不利，數起出少，莖痛或血赤，溫病後余熱及霍亂後當風度，飲酒房勞，及行步冒熱，冷凍飲料逐熱，熱結下焦，及散石熱動關格，小腹堅，胞脹諸有此淋，悉皆治之。</p>
<p>地膚子（一兩）　知母　黃芩　豬苓（去皮）　瞿麥（去莖葉）　枳草葵子　海藻（洗。各半兩）</p>
<p>上　咀，每服四錢，水一盞半，生薑五片，煎至七分，去滓，溫服，不拘時候。忌甘草。</p>
<h4>通草湯</h4>
<p>治諸淋。</p>
<p>通草　王不留行　葵子　茆根　桃膠　瞿麥　當歸（去節，洗）　蒲黃（上各一兩）　甘草（炙，半兩）</p>
<p>上　咀，每服四錢，水一盞半，薑五片，煎至八分，去滓，溫服，不拘時候。</p>
<h4>琥珀散</h4>
<p>治小便不通。</p>
<p>琥珀（不拘多少）</p>
<p>上為細末，每服二錢，用萱草根煎湯調服，燈心湯調服亦可。</p>
<h4>小薊飲子</h4>
<p>治下焦結熱血淋。</p>
<p>生地黃（洗，四兩）　小薊根　滑石　通草　蒲黃（炒）　淡竹酒浸）　山梔子仁　甘草（炙。各半兩）</p>
<p>上　咀，每服四錢，水一盞半，煎至八分，去滓，溫服，空心食前。</p>
<h4>赤茯苓湯</h4>
<p>治上腸實熱，面赤多汗，小便不通。（方見五臟門心小腸虛實論治）</p>
<h4>宣氣散</h4>
<p>治小便不通，臍腹急痛。</p>
<p>甘草　木通（各三錢）　梔子（二錢）　葵子　滑石（各一錢）</p>
<p>上為末，每服半錢，燈心調下。</p>
<h4>木通散</h4>
<p>治小便不通，小便腹痛不可忍。</p>
<p>木通　滑石（各一兩）　黑牽牛（頭末半兩）</p>
<p>上為末，每服一錢，水半盞，燈心十莖，蔥白一莖，煎三分，食前溫服</p>
<h4>鹿角膠丸</h4>
<p>治房損傷中，小便尿血。</p>
<p>鹿角膠（半兩）　油頭發灰　沒藥（別研。各三錢）</p>
<p>上為末，用茆根汁打糊為丸，如梧桐子大，每服五十丸，空心鹽湯下。</p>
<h4>菟絲子丸</h4>
<p>治小便多或不禁。</p>
<p>菟絲子（淘淨，酒蒸，焙，二兩）　五味子（一兩）　牡蠣（　，蓉（酒浸。二兩）　附子（炮，去皮臍，一兩）　雞　（半兩，微炙）　鹿兩）　桑螵蛸（酒炙，半兩）</p>
<p>上為細末，酒糊為丸，如梧桐子大，每服七十丸，食前，鹽酒鹽湯任下。</p>
<h4>萆丸</h4>
<p>治小便頻數，日夜無時。</p>
<p>川萆　（洗）</p>
<p>上不拘多少，為細末，酒和為丸，如桐子大。每服七十丸，空心食前，鹽湯鹽酒任下。</p>
<h4>破故紙丸</h4>
<p>治腎氣虛冷，小便無度。</p>
<p>破故紙（鹽炒）　茴香（鹽炒）</p>
<p>上等分，為細末，酒糊為丸，如桐子大，每服五十丸，或一百丸，空心，鹽酒鹽湯下。</p>
<h4>縮泉丸</h4>
<p>治脬氣不足，小便頻數。</p>
<p>天台烏藥　益智仁上等分，為細末，酒煮山藥末糊為丸，如梧桐子大，每服七十丸，臨臥，用鹽湯送下。</p>
<h3>白濁赤濁遺精論治</h3>
<p>素問云：夫精者，身之本也。蓋五臟六腑皆有精。腎為都會，關司之所，聽命於心，人能法欲慮而凝如膏火不上亦能病冬則土又論：遺精白濁二證，脈息多澀，傷精脈也。醫經曰：男子二八腎氣盛，天癸至。天癸者精也，精者身之本也。腎藏精，藏精者不可傷。皆由不善衛生，喜怒，勞逸，憂愁，思慮，嗜欲過度，起居不常，遂致心火炎上而不息，腎水散漫而無歸，上下不得交養，心腎受病。心受病者令人遺精白濁，腎受病者亦令人遺精白濁。此皆心腎不交，關鍵不牢之所致也。腎病者當禁固之，心病者當安寧之。更有少壯之人，情動於中，所愿不得，意淫於外，而有是證者，施治之法，不宜秘固，秘固則愈甚，惟當以後方豬苓丸主之。蓋半夏有利性，豬苓導腎水，導氣使通之意也。許學士詳言之矣。但虛損精滑之人，卻不宜服此藥。方並載於後，臨病之際，更宜加審焉。</p>
<h4>秘精丸</h4>
<p>治下虛胞寒，小便白濁，或如米泔。或若凝脂，腰重少力。</p>
<p>牡蠣（　）　菟絲子（酒螵蛸（酒炙）　白茯苓（去皮）　白上為細末，酒糊為丸，如桐子大，每服七十丸，空心，鹽酒鹽湯任下。</p>
<h4>瑞蓮丸</h4>
<p>治思慮傷心，便下赤濁。</p>
<p>白茯苓（去皮）　石蓮肉（炒，去心）　龍骨（生用）　天門冬心，甘草水煎）　麥門冬（去心）　柏子仁（炒，別研）　紫石英（火　七次，歸（去蘆，酒浸）　酸棗仁（炒，去殼）　龍齒（各一兩）　乳香（半兩，別研）</p>
<p>上為細末，煉蜜為丸，如桐子大，朱砂為衣，每服七十丸，空心，溫酒棗湯任下。</p>
<h4>羊脛灰丸</h4>
<p>治思慮傷脾，脾不攝精，遂致白濁。</p>
<p>厚朴（去皮取肉，薑汁炒，二兩）　羊脛（炭火　過通紅存性，一兩）</p>
<p>上為細末，白水面糊為丸，如桐子大，每服百丸，空心米飲下。</p>
<h4>固精丸</h4>
<p>治嗜欲過度，勞傷腎經，精元不固，夢遺白濁。</p>
<p>肉蓯蓉（酒浸，薄切片）　陽起石（（火　七次）　川巴戟（捶，去心）　韭子（炒）　白茯苓（去皮）　鹿角霜　龍骨（生用）　附子（炮，去皮臍。各等分）</p>
<p>上為細末，酒糊為丸，如桐子大，每服七十丸，空心，鹽酒鹽湯任下。</p>
<h4>芡實丸</h4>
<p>（方見諸虛門虛損論治）</p>
<h4>豬苓丸</h4>
<p>治年壯氣盛，情欲動心，所愿不得，意淫於外，夢遺白濁。</p>
<p>半夏（一兩）　豬苓〔一（二）兩〕</p>
<p>上半夏銼如豆大，豬苓為末，先將一半炒半夏令黃色，不令焦，地上去火毒半日，取半夏為養之，</p>
<h4>釐清散</h4>
<p>治小便白濁，漩面如油，或小便頻數。</p>
<p>川萆　益智仁　天台烏藥　石菖蒲上等分，為細末，每服二錢，水一盞，入鹽少許，煎至七分，午後及臨臥溫服</p>
<h4>三白丸</h4>
<p>治遺精白濁，及滑泄盜汗。</p>
<p>龍骨（生用，一兩）　牡蠣（火　，一兩）　鹿角霜（二兩）</p>
<p>上為細末，酒煮面糊為丸，如梧桐子大，每服四十丸，空心食前，用鹽湯送下。</p>
<h2>霍亂門</h2>
<h3>霍亂論治</h3>
<p>人生稟命，以五臟為主，應乎五行，本於五味。素問云：陰之所生，本在五味。過食尚乃結轉洪</p>
<h4>理中湯</h4>
<p>治過食生冷，或飲寒漿，遂成吐下，脹滿，食不消，心腹痛。</p>
<p>人參　甘草（炙）　乾薑（炮）　白朮（各等分）</p>
<p>上為銼散，每服四錢，水一大盞，煎至七分，去滓，溫服，不拘時候。若臍上築者，腎氣動茯苓病退</p>
<h4>薑附湯</h4>
<p>治霍亂轉筋，手足厥冷，多汗嘔逆。（方見諸寒門中寒論治）</p>
<p>上如法煎服。利不止加少肉蔻；氣乏加人參。</p>
<h4>通脈四逆湯</h4>
<p>治霍亂多寒，肉冷脈絕。</p>
<p>吳茱萸（炒，二兩）　附子（炮，去皮臍，一兩）　桂心辛（洗去葉土）　白芍藥　甘草（炙。以上各半兩）　當歸（去蘆，上　咀，每服四錢，水一盞，酒半盞，生薑七片，棗子一枚，煎至七分，去滓，溫服，不拘</p>
<h4>加味香薷飲</h4>
<p>治夏月伏暑，霍亂，吐利不止，煩悶多渴。（方見諸暑門中暑論治）</p>
<h4>麥門冬湯</h4>
<p>治霍亂已愈，煩熱不解，多渴，小便不利。</p>
<p>麥門冬（去心）　橘皮（去白）　半夏人參　甘草（炙。各半兩）　小麥（半合）</p>
<p>上　咀，每服四錢，水一盞半，生薑五片，烏梅少許，煎至八分，去滓，溫服，不拘時候。</p>
<h4>洗法</h4>
<p>治霍亂轉筋。</p>
<p>蓼一把，去兩頭，水三升，煮取二升，放溫重洗。</p>
<h4>漬法</h4>
<p>治霍亂轉筋入腹。</p>
<p>鹽多用，煎湯於槽中，暖漬之。</p>
<h4>灸法</h4>
<p>霍亂已死，腹中有暖氣者。</p>
<p>鹽內臍中，灸二七壯。</p>
<h2>嘔吐翻胃噎膈門</h2>
<p>（附：咳逆–噦）</p>
<h3>嘔吐論治</h3>
<p>夫人受天地之中以生，莫不以胃為主，蓋胃受水穀，脾主運化，生血生氣，以充四體者也。</p>
<p>冷塞中脘伏痰，胃受邪熱，瘀血停蓄，亦能令人嘔吐。故診其脈代者，霍亂，代而絕者，亦霍亂也。霍亂脈大者可治，微細者不可治，脈遲，氣息劣，不欲言者，亦不可治，治療之法，詳具於後，臨病之際，更加審諦而用之，無不得其宜矣。</p>
<h4>理中湯</h4>
<p>治過食生冷，或飲寒漿，遂成吐下脹滿，食不消，心腹痛。（方見霍亂門）</p>
<p>如法煎服，吐甚者加半夏、生薑煎；或飲食不節，過食生冷、肥膩、腥膾，吐逆不止，加青皆</p>
<h4>丁香半夏丸</h4>
<p>治宿寒在胃，嘔吐吞酸。</p>
<p>丁香（不見火，一兩）　乾薑（炮）　半夏（湯泡七次）　橘紅（各二兩）　白朮（一兩半）</p>
<p>上為細末，生薑自然汁打糊為丸，如桐子大，每服五十丸，食前淡薑湯送下。</p>
<h4>大藿香散</h4>
<p>治憂、愁、思、慮、悲、恐、驚七情傷感，氣鬱於中，變成嘔吐。或作寒熱、眩滿，不進飲食。</p>
<p>藿香葉　半夏曲　白朮　木香（不見火。各一兩）　白茯苓（去皮）</p>
<p>炒）　人參　枇杷葉（拭去毛）　官桂（不見火）　甘草（炙。各半兩）</p>
<p>上為細末，每服三錢，水一大盞，生薑五片，棗子一枚，煎至七分，去滓，溫服，不拘時候</p>
<h4>旋覆花湯</h4>
<p>治中脘伏痰，吐逆眩暈。</p>
<p>旋覆花（去梗）　半夏（湯泡七次）　橘紅　乾薑（炮。各（炙）　白朮（各半兩）</p>
<p>上　咀，每服四錢，水一盞半，生薑七片，煎至七分，去滓，溫服，不拘時候。</p>
<h4>竹茹湯</h4>
<p>治胃受邪熱，心煩喜冷，嘔吐不止。</p>
<p>葛根（三兩）　半夏（湯泡七次，二兩）　甘草（炙，一兩）</p>
<p>上　咀，每服五錢，水二盞，入竹茹棗許大，薑五片，煎至七分，去滓，取清汁，微冷，細</p>
<h4>赤芍藥湯</h4>
<p>治瘀血蓄胃，心下滿，食入即嘔血，名曰血嘔。</p>
<p>赤芍藥（二兩）　半夏（湯泡七次，一兩半）　橘紅（一兩）</p>
<p>上　咀，每服四錢，水一盞半，薑七片，煎至七分，去滓，溫服，不拘時候。</p>
<h4>玉浮丸</h4>
<p>治男子婦人，脾胃虛弱，一切嘔吐，及久新翻胃，不問得病之由，皆可服之，真良人參　白僵蠶（炒去絲）　白朮　乾薑（炮）　丁香　肉豆蔻（面裹煨）　橘紅　白豆蔻仁　麥　（炒）　附子（炮，去皮臍）　木香（不見火）　南星（炮）　檳榔　半夏（湯泡七次）　甘上等分，為細末，每藥二分，用生面一分和勻，入百沸湯煮令浮，攪和，再取生薑自然汁去</p>
<h4>胃丹</h4>
<p>（方見五臟門脾胃虛實論治）</p>
<h3>翻胃論治</h3>
<p>夫翻胃者，本乎胃，食物嘔吐，胃不受納，言胃口翻也。多因胃氣先逆，飲酒過傷，或積風致成斯疾。原其所自，女人得之，多由血氣虛損；男子得之，多因下元冷憊。有才食而便吐者，有食久而後翻胃者，受病既若異同，醫療固宜審察。如前所載玉浮丸、胃丹等藥，後方所載入藥靈砂、丁附散之類，皆可對證選而用之。服藥未應者，宜灸中脘、足三裡二穴。中脘備載前方，不復再敘也。</p>
<h4>入藥靈砂</h4>
<p>治翻胃嘔吐，食飲不下。</p>
<p>靈砂末（一兩）　丁香末　木香末　胡椒末（各半錢）</p>
<p>上件和勻，煮棗圈肉杵和為丸，如綠豆大，每服五十粒，生薑米飲送下，不拘時候。</p>
<h4>青金丹</h4>
<p>治一切吐逆水銀（八錢）　生硫黃（一錢，別研）</p>
<p>上二件，入無油銚內，用慢火花開，以柳大篦子撥炒，或有煙焰，以醋洒之，結成砂子，再</p>
<h4>丁附散</h4>
<p>治翻胃吐逆，粥藥不下者。</p>
<p>大附子（一只）</p>
<p>上坐於磚上，四面著火，漸漸逼熱，淬入生薑自然汁中浸一霎時，再用火逼，再淬，約盡薑煎至七</p>
<h4>太倉丸</h4>
<p>治脾胃虛弱，不進飲食，翻胃不食，亦宜服之。</p>
<p>陳倉米（一升，用黃土炒米熟，去土不用）　白豆蔻（二兩）　丁香（一兩）　縮砂仁二兩）</p>
<p>上為細末，用生薑自然汁法丸，如梧桐子大，每服百丸，食後，用淡薑湯送下。</p>
<h3>五噎五膈論治</h3>
<p>素問云：陽脈結，謂之膈。蓋氣之與神並為陽也。逸則氣神安，勞則氣神耗。倘或寒溫失宜，食飲乖度，七情傷感，氣神俱擾，使陽氣先結，陰氣後亂，陰陽不和，臟腑生病，結於胸膈，則成膈。氣流於咽嗌，則成五噎。五膈者，憂、恚、寒、熱、氣也；五噎者，憂、思、滿膈噎之疾無由作矣。又有下虛，氣上控膈，令人心下堅滿痞急，肌中苦痹，緩急如刺，不得俯仰，名曰胸痞。</p>
<h4>五噎散</h4>
<p>治五噎，食不下，嘔呃痰多，咽喉噎塞，胸背滿痛。</p>
<p>人參　半夏（湯泡七次）　桔梗糠白朮　畢澄茄　沉香（不見火）　枇杷半兩）</p>
<p>上為細末，每服二錢，水一中盞，生薑七片，煎至六分，食後，溫服。</p>
<h4>五膈散</h4>
<p>治五膈，胸膈痞悶，諸氣結聚，脅肋脹滿，痰逆惡心，不進飲食。（李憲德生堂經驗方云：治五般膈氣結胸，膈痰逆滿，惡心，嘔呃。）</p>
<p>枳殼（去瓤，麩炒）　木香（不見火）　青皮（炒）　丁香（不見火）　天南星（湯泡，去皮）　乾薑（炮）</p>
<p>兩）　甘草（炙，半兩）</p>
<p>上為細末，每服二錢，水一中盞，生薑五片，煎至六分，溫服，不拘時候。</p>
<h4>栝蔞實丸</h4>
<p>治胸痞，胸中痛徹背，喘急妨悶。</p>
<p>栝蔞實（別研）　枳殼（去瓤，麩炒）　半夏（湯泡七次）　桔梗（炒。各一兩）</p>
<p>上為細末，薑汁打糊為丸，如梧桐子大，每服五十丸，食後，用淡薑湯送下。</p>
<h3>咳逆論治</h3>
<p>夫咳逆之病，考詳諸書，無該載者。唯孫真人云：咳逆遍尋方論，無此名稱。但古人以咳收氣不回者，卻當仔細看脈與證，施以治法。大抵老人、虛人、久病患及婦人產後，有此證者，皆是病深之候，非佳兆也。</p>
<h4>羌活附子散</h4>
<p>治吐利後，胃寒咳逆。</p>
<p>羌活（去蘆）　附子（炮，去皮臍）　茴香（炒，各半兩）　乾薑（炮，去土）　丁香各一兩）</p>
<p>上為細末，每服二錢，水一盞，入鹽少許，煎至七分，空心，熱服。</p>
<h4>橘皮湯</h4>
<p>治吐利後，胃中虛，膈上熱，咳逆者。</p>
<p>橘皮（去白，二兩）　人參　甘草（炙，各半兩）</p>
<p>上銼散，每服四錢，水一盞半，竹茹一小塊，生薑五片，棗二枚，煎至七分，去滓，溫服，</p>
<h4>柿蒂湯</h4>
<p>治胸滿，咳逆不止。</p>
<p>柿蒂　丁香（各一兩）</p>
<p>上　咀，每服四錢，水一盞半，薑五片，煎至七分，去滓，熱服，不拘時候。</p>
<h4>灸法</h4>
<p>其法婦人屈乳頭向下盡處骨間是穴，丈夫及乳小者以一指為率，正男左女右，與乳相直間陷中動脈處是穴，艾炷如小豆許，灸三壯。</p>
<h2>腳氣門</h2>
<h3>香港腳論治</h3>
<p>千金言：香港腳皆由感風毒所致。又經云：地之寒暑風濕皆作蒸氣，足常履之，遂成香港腳。</p>
<p>然同，其實一也。以此觀之，寒暑風濕，皆能致此，非特風毒而已矣。香港腳之病，初得不覺，因他病乃始發動，或奄然大悶，經三、兩日方乃覺之，先從腳起，或緩弱疼痹，或行起忽倒，或兩脛腫滿，或足膝枯細，或心中忡悸，或小腹不仁，或舉體轉筋，或見食吐逆，惡聞食氣，或胸滿氣急，或遍體酸痛，此其候之不同也。大抵寒中三陽，所患必冷，暑中三陰，所患必熱，誠哉斯言。若論其脈浮而弦者，起於風；濡而弱者，起於濕；洪而數者，起於熱；遲而澀者，起於寒。風者汗而愈，濕者溫而愈，熱者下而愈，寒者熨而愈。凡得香港腳，速宜針灸之，唯用湯淋洗者，醫之大禁也。觀夫香港腳，皆由腎氣虛而生，然婦人亦有病香港腳者，必因血與男當順滋補，不然則氣血日衰，必使年年遇蒸熱而作，理之必然也。治法大概無越於斯。又當於四時中，僅加調攝。不得久坐久立冷濕之地，暑月亦不當露坐濕處，能慎於此，依法隨證治之，無不瘥矣。</p>
<p>又論：夫香港腳之病，昔人命名不一，今人謂之香港腳。男子得之，受病於腎，婦人得之，受病血海。寒暑風濕，嗔恚悲傷，皆能致此。香港腳之候，有輕有重，有干有濕，有陰有陽，有虛有當順四時年遇蒸熱而疾作也。此外，更宜針之灸之，若用湯淋洗者，醫之大禁也。後方隨證參考用之，無不瘥者也。</p>
<h4>獨活寄生湯</h4>
<p>治肝腎虛弱，或久履濕冷之地，或足汗脫履，或洗足當風，為濕毒內攻，兩脛痛痹弱，或皮肉紫破有瘡，足膝攣重。</p>
<p>川獨活（三兩）　桑寄生（如無以續斷代）　杜仲細辛（洗，去葉土）　官桂（不見火）　白茯苓（去皮）　防蘆）　人參　熟地黃　芍藥　秦艽（去土。以上各二兩）　甘草（上　咀，每服四錢，水一盞半，薑五片，煎七分，去滓，溫服，不拘時候。氣虛下利或中脘者，</p>
<h4>檳榔湯</h4>
<p>治一切腳痛，順氣防壅。</p>
<p>檳榔　香附子（去毛）　陳皮（去白）　紫蘇葉　木瓜（去瓤）　五茄皮　甘草（炙。</p>
<p>各一兩）</p>
<p>上　咀，每服四錢，水一盞半，生薑五片，煎至八分，去滓，溫服。婦人香港腳多由血虛，加黃，</p>
<h4>大腹皮散</h4>
<p>治諸證香港腳腫滿，小便不利。</p>
<p>大腹皮（三兩）　干宣木瓜（去瓤，二兩半）　紫蘇子（紅紫蘇葉（各一兩）　蘿卜子（炒，半兩）　沉香（不見火）　桑白皮（炙）　枳殼（去瓤，麩炒。各一兩半）</p>
<p>上　咀，每服四錢，水一盞半，薑五片，煎至八分，去滓，溫服，不拘時候。</p>
<h4>神烏丸</h4>
<p>治遠年近日，干濕香港腳。</p>
<p>川烏（炮，去皮臍，切片，炒令變色）　虎脛骨（酥炙）　海牛膝（去蘆，酒浸）　肉蓯蓉（酒浸。各一兩半）　金毛狗脊（燎去毛上為細末，用木瓜膏子為丸，如梧桐子大，每服七十丸，空心食前，用溫酒送下。造木瓜蓋，作瓮子，填艾葉在內，卻用蓋子合定，再蒸極軟，取去艾葉不用，只將木瓜細研為膏。</p>
<h4>加減檳榔湯</h4>
<p>治一切香港腳。香港腳名曰壅疾，貴乎疏通，春夏宜服之。</p>
<p>檳榔　陳皮（去白）　紫蘇葉（各一兩）　甘草（炙，半兩）</p>
<p>上　咀，每服半兩，水一盞半，生薑五片，煎至八分，去滓，溫服，不拘時候。如腳痛不已藥通者，用此湯下青木香丸，如更不通加大黃煎；小便不利，加木通煎；轉筋者加吳茱萸煎；腳腫而痛者，加大腹皮、木瓜煎；足痛而熱者，加地骨皮煎。</p>
<h4>加味四斤丸</h4>
<p>治肝腎俱虛，精血不足，足膝酸弱，步履無力。如受風寒濕氣，以致腳痛宜服之。</p>
<p>虎脛骨（酥炙，二兩）　天麻　宣木瓜（去皮瓤，一個，蒸）　肉蓯蓉（酒潤，焙）</p>
<p>川烏（炮，去皮。各一兩）　川牛膝（洗，去蘆，酒潤一兩半）　沒藥（別研）　乳香（別研。各上為細末，入木瓜膏杵和，入少酒糊為丸，如梧桐子大，每服七十丸，空心食前，用溫酒鹽</p>
<h2>消渴門</h2>
<h3>消渴論治</h3>
<p>消渴之疾，皆起於腎，盛壯之時，不自保養，快情縱欲，飲酒無度，喜食脯炙醯醢，或服消渴消作治法面，能</p>
<h4>加減腎氣丸</h4>
<p>治勞傷腎經，腎水不足，心火自用，口舌焦干，多渴而利，精神恍惚，面赤心腳弱，肢體羸瘦，不能起止。</p>
<p>山茱萸（取肉）　白茯苓（去皮）　牡丹皮（去木）　熟地角（鎊）　山藥（銼，炒。各一兩）　沉香（不見火）　官桂（不見上為細末，煉蜜為丸，如梧桐子大，每服七十丸，用鹽湯米飲任下。弱甚者，加附子一兩，</p>
<h4>薺丸</h4>
<p>治強中為病，莖長興盛，不交精液自出，消渴之後，多作癰疽，多由過服丹石所致薺　大豆（去皮）　茯神（去木）　磁石（　，研極細）　玄參　栝蔞根　石斛（去根）</p>
<p>地骨皮（去上為細末，用豬腎一具，煮如食法，令爛，杵和為丸，如梧桐子大，每服七十丸，空心，用</p>
<h4>豬肚丸</h4>
<p>治消渴。</p>
<p>豬肚（一枚，治如食法）　黃連（去蘆）　小麥（炒。各五兩）　天花粉　茯苓（去木。各四兩）　麥門冬（去心，二兩）</p>
<p>上五味為末，內豬肚中縫，塞安甑中，蒸之極爛，木臼中杵和丸，如桐子大，每服七十丸，米飲下，隨意服之。如不能丸，入少煉蜜。</p>
<h2>諸疝門</h2>
<h3>諸疝論治</h3>
<p>巢氏云：疝者痛也，皆由榮衛虛弱，飲食寒溫不調，致風冷邪氣乘虛入於腹中，遂成諸疝。</p>
<p>便秘氣疝氣積疝也，或左或右上，脅下有如覆杯；或臍上下如臂；或腹大如盤，令人羸嗜臥，飲食不為肌膚；或腹滿嘔泄；或遇寒則痛。其脈厥而緊，浮而牢牢疆急者生，虛弱急者不可治。</p>
<h4>聚香飲子</h4>
<p>治七情所傷，遂成七疝，心腹脹痛，痛引腰脅連背，不可俯仰。</p>
<p>檀香　木香　乳片子薑黃（炒）　川烏（各半兩）</p>
<p>上　咀，每服四錢，水一盞半，生薑七片，棗一枚，煎至七分，去滓，溫服，不拘時候。</p>
<h4>桂枝烏頭湯</h4>
<p>治風寒疝，腹中痛，逆冷，手足不仁，身體疼痛，灸刺不能療，及賊風入腹，五臟拘急，不得轉側，發作叫呼陰縮。</p>
<p>大烏頭（二兩半，去皮尖）　桂心（不見火）　白芍藥（各三兩）　甘草（炙，二兩）</p>
<p>上　咀，每服四大錢，水二盞，生薑七片，棗一枚，入蜜半匙，煎至七分，去滓，食前，溫服。</p>
<h4>益智仁湯</h4>
<p>治疝痛連小腹攣搐，叫呼不已，診其脈沉緊，是腎經有積冷所致。</p>
<p>益智仁　乾薑（半兩）　青皮（去白，二錢）</p>
<p>上　咀，每服四錢，水二盞，入鹽少許，煎至七分，去滓，空心食前，溫</p>
<h4>玄附湯</h4>
<p>治七疝，心腹冷痛，腸鳴氣走，身寒自汗，大腑滑泄。</p>
<p>玄胡索（炒、去皮）　附子（炮，去皮臍。各一兩）　木香（不見火，半兩）</p>
<p>上　咀，每服四錢，水一盞半，生薑七片，煎至七分，去滓，溫服，不拘時候。</p>
<h4>金鈴子散</h4>
<p>治七疝，寒注下焦，少腹引外腎疼痛，大便多閉。</p>
<p>川楝子（去皮核，取肉一兩，用巴豆七枚，去殼，同炒令黃色，去巴豆）</p>
<p>上為細末，每服二錢，熱鹽酒調服，空心食前。</p>
<h4>野狼毒丸</h4>
<p>治七疝，久而不愈，發作無時，臍腹堅硬疼痛。</p>
<p>野狼毒（銼，炒，一兩）　芫花（醋炒）　川烏（炮，去皮尖。各一兩）　椒紅（炒）　乾薑（炮）　乾漆（炒煙盡）　三棱　鱉甲（醋煮）</p>
<p>上為細末，醋糊為丸，如梧桐子大，每服四十丸，空心，薑湯、溫酒任下。</p>
<h4>熨法</h4>
<p>鹽半斤，炒極熱，以故帛包熨痛處。</p>
<h3>陰論治</h3>
<p>夫陰　之證有四種：一曰腸　，二曰氣　，三曰卵脹，四曰水　是也。聖惠云：腎氣虛，風論，役無多成又</p>
<h4>橘核丸</h4>
<p>治四種　病，卵核腫脹，或成瘡毒，輕則時出黃水，甚則成癰潰爛。</p>
<p>橘核（炒）　海藻（洗）　昆布（洗）　海帶（洗）　川楝子（取肉，炒）　桃仁（麩炒。各一兩）　厚朴（去皮，薑汁炒）　木通　枳實（麩炒）　延胡索（炒，去皮）　桂心（不上為細末，酒糊為丸，如桐子大，每服七十丸，空心鹽酒鹽湯任下。虛寒甚者，加炮川烏一</p>
<h4>牡丹皮散</h4>
<p>治小兒　卵偏墜。</p>
<p>防風（去節）　牡丹皮（去木）</p>
<p>上等分，為細末，每服二錢，溫酒調服。如不飲酒，鹽湯點服亦可。</p>
<h4>灸法</h4>
<p>治陰卵偏大　病。</p>
<p>關元穴，在膝下三寸，灸百壯良。</p>
<h2>眩暈門</h2>
<h3>眩暈論治</h3>
<p>素問云：諸風掉眩，皆屬於肝。則知肝風上攻，必致眩暈。所謂眩暈者，眼花屋轉，起則眩有汗及其不可開血，皆</p>
<h4>羌附湯</h4>
<p>治中風頭眩，惡風自汗，或身體不仁。（方見諸濕門中濕論治）</p>
<h4>三五七散</h4>
<p>治陽虛，風寒入腦，頭痛，目眩暈轉，如在舟車之上，耳內蟬鳴，或如風雨之寒濕痹，香港腳緩弱等疾，並皆治之。</p>
<p>天雄（炮，去皮）　細辛（洗去葉土。各三兩）</p>
<p>防風（去蘆）　山藥（銼，炒。各七兩）</p>
<p>上為細末，每服二錢，用溫酒調服，食前。</p>
<h4>加味香薷飲</h4>
<p>治中暑眩暈，煩悶不蘇。（方見諸暑門中暑論治）</p>
<h4>芎術湯</h4>
<p>治冒雨中濕，眩暈嘔逆，頭重不食。</p>
<p>川芎　半夏（湯泡七次）　白朮（各一兩）　甘草（炙，半兩）</p>
<p>上　咀，每服四錢，水一盞半，薑五片，煎至八分，去滓，溫服，不拘時候。</p>
<h4>玉液湯</h4>
<p>治七情傷感，氣鬱生涎，隨氣上逆，頭目眩暈，心嘈忪悸，眉棱骨痛。</p>
<p>大半夏（洗淨，湯泡七次，切作片子）</p>
<p>上件，每服四錢，水二盞，生薑七片，煎至七分，去滓，入沉香水一呷溫服，不拘時候。</p>
<h4>芎歸湯</h4>
<p>治一切失血過多，眩暈不蘇。</p>
<p>芎　當歸（去蘆，酒浸）</p>
<p>上等分，　咀，每服三錢，水一盞半，煎至七分，去滓，溫服，不拘時候。</p>
<h4>沉香磁石丸</h4>
<p>治上盛下虛，頭目眩暈，耳鳴耳聾。</p>
<p>沉香（半兩，別研）　磁石（火　，醋淬（去心）　陽起石（　，研）　附子（炮，去皮臍）　椒（炒。各一兩）　青鹽（別研）　甘菊花（去枝萼）　蔓荊子（各半上為細末，酒煮米糊為丸，如梧桐子大，每服七十丸，空心鹽湯送下。倉卒不能辦，此沉香湯送下養正丹（方見咳嗽痰飲門）亦可。</p>
<h2>驚悸怔忡健忘門</h2>
<p>（附：虛煩）</p>
<h3>驚悸論治</h3>
<p>夫驚悸者，心虛膽怯之所致也。且心者君主之官，神明出焉，膽者中正之官，決斷出焉。</p>
<p>心險浮無不瘥者矣。</p>
<h4>溫膽湯</h4>
<p>治心虛膽怯，觸事易驚，夢寐不祥，異象感惑，遂致心驚膽怯，氣鬱生涎，涎與氣復生諸證，或短氣悸乏，或復自汗，四肢浮腫，飲食無味，心虛煩悶，坐臥不安。</p>
<p>半夏皮，一兩半）　甘上　咀，每服四錢，水一盞半，生薑五片，棗子一枚，煎至七分，去滓，溫服，不拘時候。</p>
<h4>遠志丸</h4>
<p>治因事有所大驚，夢寐不祥，登高陟險，神魂不安，驚悸恐怯。</p>
<p>遠志（去心，薑汁齒（各一兩）</p>
<p>上為細末，煉蜜為丸，如梧桐子大，辰砂為衣，每服七十丸，用熟水送下，食後，臨臥。</p>
<h3>怔忡論治</h3>
<p>夫怔忡者，此心血不足也。蓋心主於血，血乃心之主，心乃形之君，血富則心君自安矣。</p>
<p>多已當五</p>
<h4>益榮湯</h4>
<p>治思慮過制，耗傷心血，心帝無輔，怔忡恍惚，善悲憂，少顏色，夜多不寐，小當歸（去蘆，酒浸）　黃　（去蘆）　小草　酸棗仁（炒，去殼）　柏子仁（炒）　麥門冬參甘草（炙。</p>
<p>上　咀，每服四錢，水一盞半，生薑五片，棗一枚，煎至七分，去滓，溫服，不拘時候。</p>
<h4>龍齒丹</h4>
<p>治心血虛寒，怔忡不已，痰多恍惚。</p>
<p>龍齒　附子（炮，去皮臍，切片，薑汁浸一宿）　遠志（去心，甘草煮）　酸棗仁（炒，去殼薑汁浸一宿黃（酒蒸，焙。各半上為細末，煉蜜為丸，如梧桐子大，朱砂為衣，每服五十丸，用棗湯送下，不拘時候。</p>
<p>法丹　治憂愁思慮，謀用過度，或因驚恐，傷神失志，耗傷心血，怔忡憂惚，夢寐不安。</p>
<p>（方見五臟門心小腸虛實論治）</p>
<h4>茯苓飲子</h4>
<p>治痰飲蓄於心胃，怔忡不已。</p>
<p>赤茯苓（去皮）　半夏（湯泡七次）　茯神（去木）</p>
<p>橘皮（去白）　麥門冬（去心。各一兩）　沉香（不見火）　甘草（炙）　檳榔（各半兩）</p>
<p>上　咀，每服四錢，水一盞半，生薑五片，煎至七分，去滓，溫服，不拘時候。</p>
<h4>排風湯</h4>
<p>治風虛冷濕閉塞諸經，令人怔忡。</p>
<p>（方見諸風門中風論治）　宜加炒酸棗仁煎。</p>
<h4>壽星丸</h4>
<p>治驚憂思慮，氣結成痰，留蓄心包，怔忡驚惕，痰逆惡心，睡臥不安。（方見諸風風論治）</p>
<h3>健忘論治</h3>
<p>夫健忘者，常常喜忘是也。蓋脾主意與思，心亦主思，思慮過度，意舍不精，神宮不職，使</p>
<h4>歸脾湯</h4>
<p>治思慮過度，勞傷心脾，健忘怔忡。白朮　茯神（去木）　黃　（去蘆）　龍眼肉酸棗仁（炒，去殼。各一兩）　人參　木香（不見火。各半兩）　甘草（炙，二錢半）</p>
<p>上　咀，每服四錢，水一盞半，生薑五片，棗子一枚，煎至七分，去滓，溫服，不拘時候。</p>
<h3>虛煩論治</h3>
<p>夫虛煩者，心虛煩悶是也。且人之有血氣，分為榮衛，別乎陰陽，榮衛通適，然後陰平陽秘陽內熱人心虛煩</p>
<h4>竹葉湯</h4>
<p>治傷寒大病後，及霍亂吐瀉後，心虛煩悶，內熱不解。</p>
<p>竹葉　麥門冬（去心）　人甘草（炙，半兩）</p>
<p>上　咀，每服四錢，水一盞半，薑五片，煎至八分，去滓，溫服，不拘時候。</p>
<h4>小草湯</h4>
<p>治虛勞憂思過度，遺精白濁，虛煩不安。</p>
<p>小草　黃　（去蘆）　當歸（去蘆，酒浸）</p>
<p>（炒，去殼。各一兩）　人參　甘草（炙。各半兩）</p>
<p>上　咀，每服四錢，水一盞半，薑五片，煎至八分，去滓，溫服，不拘時候。</p>
<h4>地仙散</h4>
<p>治傷寒後，伏暑後，煩熱不安，及虛勞煩熱。（方見虛損門勞瘵論治）</p>
<h2>癲癇門</h2>
<h3>癲癇論治</h3>
<p>夫癲癇病者，考之諸方所說，名稱不同，難於備載。別錄有五癇之證，一曰馬癇，作馬嘶作發則旋暈顛倒，口眼相引，目睛上搖，手足搐搦，背脊強直，食頃驚動，臟氣不平，鬱而生涎，閉塞諸經，故有是證。或在母腹中受驚或因飢飽失宜，逆於臟氣而得之者，可隨所感，施以治法。</p>
<p>又論：夫癇病者，十歲以下為癇。大抵其發之原，皆因三種：風癇、驚癇、食癇是也。</p>
<p>因此三種變作諸癇。若不早治，久成痼疾。其發之狀，卒然仆地，口眼相引，或目睛上搖，或手勿</p>
<h4>鴟頭丸</h4>
<p>治風癇不問長幼，發作漸頻，嘔吐涎沫。</p>
<p>飛鴟頭（一枚，燒炭）　虢丹（五錢，細研）　皂角（五挺，酥炙）</p>
<p>上為細末，用糯米糊為丸，如綠豆大，每服十五丸，加至二十丸，以粥飲送下，不拘時候。</p>
<h4>蛇黃丸</h4>
<p>治五癇困積，風熱風痰攻心所致。</p>
<p>蛇黃（小者二十枚，以豬膽汁拌入，火　通紅，取出，地上出火毒，研令極細）</p>
<p>上用狗膽一枚，取汁和粟米飯丸，如綠豆大，每服十五丸，溫酒送下，不拘時候，吐涎乃效</p>
<h4>控涎丸</h4>
<p>治諸癇久不愈，頑涎聚散無時，變生諸證，悉皆治之。</p>
<p>生川烏（去皮）　半夏（洗）</p>
<p>蠍（去毒，七個）　鐵粉（三錢）　甘遂上為細末，生薑自然汁打糊為丸，如綠豆大，朱砂為衣，每服十五丸，食後，用薑湯吞下，</p>
<h4>惺神散</h4>
<p>治驚癇潮作，仆地不省，口吐涎沫。</p>
<p>雄鴟　（一枚，用瓷罐盛，以黃泥固濟，炭火　令紅）</p>
<p>上為細末，每服二錢，入麝香少許，溫酒調服，熟水亦得，不拘時候。</p>
<h4>乳朱丹</h4>
<p>治癲癇。</p>
<p>乳香（別研）　朱砂（細研，水飛）</p>
<p>上用乳香熔化，拌和朱砂，為劑，丸和龍眼大，每服一丸，側柏葉浸酒磨化，蕩溫服，不</p>
<h2>諸汗門</h2>
<h3>自汗論治</h3>
<p>難經云：心之液為汗，凡自汗出者，皆心之所主也。人之氣血應乎陰陽，和則平，偏則病。</p>
<p>驚悸出，</p>
<h4>桂枝湯</h4>
<p>治傷風，脈浮，自汗，惡風。</p>
<p>桂枝（不見火）　白芍藥（各一兩）　甘草（炙，半兩）</p>
<p>上　咀，每服四錢，水一盞半，生薑五片，大棗二枚，煎至八分，去滓，溫服，不拘時候</p>
<h4>消暑丸</h4>
<p>治中暑脈虛，自汗煩渴。</p>
<p>半夏（一斤，好醋五升煮干）　茯苓（去皮，半斤）　甘草（半斤）</p>
<p>上為細末，生薑自然汁為丸，如梧桐子大，每服百丸，熟水咽下，不拘時候。此藥臻至修治多次</p>
<h4>朮附湯</h4>
<p>治中濕，脈細，自汗，體重。</p>
<p>白朮（四兩）　附子（炮，去皮臍，一兩半）　甘草（炙，二兩）</p>
<p>上　咀，每服四錢，水一盞半，薑七片，煎至七分，去滓，溫服，不拘時候。</p>
<h4>黃湯</h4>
<p>治喜怒驚恐，房室虛勞，致陰陽偏虛，或發厥自汗，或盜汗不止，悉宜服之。</p>
<p>黃　（去蘆，蜜水炙，一兩半）　白茯苓（去皮）　熟地黃（酒蒸）　肉桂（不見火）　天門冬（去心）　黃根　龍骨（各一兩）　五味子　小麥（炒）　防風（去蘆）　當歸（去蘆，酒浸）　甘草（炙。各半上　咀，每服四錢，水一盞半，生薑五片，煎至七分，去滓，溫服，不拘時候。發厥自汗加</p>
<h4>附湯</h4>
<p>治氣虛陽弱，虛汗不止，肢體倦怠。</p>
<p>黃　（蜜水炙）　附子（炮，去皮臍。各等分）</p>
<p>上　咀，每服四錢，薑五片，水一盞半，煎至七分，去滓，溫服。</p>
<h2>眼門</h2>
<h3>眼論治</h3>
<p>人之有雙眼，若天之有兩曜，五臟六腑之精華，宗脈之所聚，洞視萬化，肝之外候者也。</p>
<p>然肉者養哀在形五辛炙　，酒食毒物，並宜斷之。惟須寬緩情性，慎護調攝，即無不瘥也。若縱恣乖違，觸犯禁忌，自貽其咎，必須喪明而後已，可不謹歟！又論：夫眼者，內則屬乎五臟，外則應乎五輪。瞳人黑水，腎之主也；血輪如環，心之主也；絡裹者，脾之主也；白睛屬肺；總管於肝。眼帶雖系於肝，明孔遍通五臟，五臟皆有神夫一證，人之初生，洗沐不潔，令穢水浸漬於眼　，使眶臉赤爛，漸至長大，終不能瘥，故云胎</p>
<h4>決明子散</h4>
<p>治風熱毒瓦斯上攻，眼目腫痛，或卒生翳膜，或赤脈弩肉，或癢或澀，羞明多淚，昏花，漸成內障，但是一切暴風客熱，皆宜服之。</p>
<p>黃芩　甘菊花（去枝梗）　木賊　決草蔓荊子　石決明（各一兩）</p>
<p>上為細末，每服三錢，水一中盞，生薑五片，煎至六分，食後服。</p>
<h4>桑白皮散</h4>
<p>治肺氣壅塞，熱毒上攻眼目，白睛腫脹，日夜疼痛，心胸煩悶。</p>
<p>玄參　桑白皮防風（去蘆）　赤芍藥上　咀，每服四錢，水一盞半，生薑三片，煎至八分，去滓，食後溫服。</p>
<h4>爐甘石散</h4>
<p>治一切目疾，不問得病之因，悉皆治之。</p>
<p>爐甘石（半斤，用黃連四兩，如豆大子（別研。二錢半）</p>
<p>上件和勻，每用半字，白湯泡，放溫，時時洗之。</p>
<h4>補腎丸</h4>
<p>治腎氣不足，眼目昏暗，瞳人不分明，漸成內障。</p>
<p>磁石（火　，醋浸七次，水飛）</p>
<p>地黃（酒浸，焙）　枸杞子　楮實子　覆蒸）　石斛（去根。各一兩）　沉香（別研）　青鹽上為細末，煉蜜為丸，如梧桐子大，每服七十丸，空心，鹽湯送下。</p>
<h4>養肝丸</h4>
<p>治肝血不足，眼目昏花，或生眵淚，久視無力。</p>
<p>當歸（去蘆，酒浸）　車前子（酒蒸地黃（酒蒸，焙）　川芎　楮實子（各等分）</p>
<p>上為細末，煉蜜為丸，如梧桐子大，每服七十丸，用溫熟水送下，不拘時候。</p>
<h4>秦皮散</h4>
<p>治暴風客熱，赤眼腫痛，癢澀，眵淚昏暗。</p>
<p>滑石　秦皮　黃連（各等分）</p>
<p>上為細末，每用半錢，沸湯泡，澄清溫洗，不拘時候。</p>
<h4>羊肝丸</h4>
<p>治肝經有熱，目赤睛疼，視物昏澀。</p>
<p>羊肝（一具，生用）　黃連（去須，為末）</p>
<p>上先將羊肝去筋膜，於砂盆內搗爛，入黃連末，丸如梧桐子大，每服五十丸，用熱水送下，不拘時候。</p>
<h4>太清散</h4>
<p>治暴風客熱，目赤睛疼，隱澀難開。</p>
<p>銅青（半兩，別研）　薑粉末（二錢半）</p>
<p>上藥研細和勻，每用少許，沸湯泡，放溫，頻洗之。造薑粉法，臘月間用生薑洗切碎，於砂</p>
<h4>龍腦膏</h4>
<p>治赤眶瞼赤爛。</p>
<p>白龍腦（細研，一錢）　蕤仁（去殼，二錢半）　杏仁（湯浸去皮尖，七枚）</p>
<p>上件藥都研為膏，用人乳汁調和令均，瓮合中盛，每以銅筋少許，著目　頭，日二三次。</p>
<h4>杏連散</h4>
<p>治風熱上攻，羞明澀痛。</p>
<p>黃連（去須，一錢，槌碎）　杏仁（七粒，槌碎）</p>
<p>上用水半盞，以二藥在內，安飯上蒸一時久，澄清，放溫，洗了用紙蓋覆，安頓湯瓶上，頻</p>
<h2>咽喉門</h2>
<h3>咽喉論治</h3>
<p>夫咽者咽也，喉者候也，咽者因物以咽，喉者以候呼吸之氣，物之與氣，莫不由於咽喉也，致胸膈壅滯，熱毒之氣不得宣泄，咽喉為之病焉。病則為腫、為痛、為喉痹、為窒塞不通、為不利而生瘡，或狀如肉臠，吐不出，咽不下，皆風熱毒瓦斯之所致耳。又有伏熱上衝，乘於懸壅，或長或腫，懸壅者，在乎上　也。更有腑寒亦使人喉閉而不能咽者，治之當辨明也。</p>
<p>又論：夫咽者，言可以咽物也，又謂之嗌，氣之流通厄要之處，胃所系，地氣之所主也。</p>
<p>喉依經調之。所得之方，謾錄於後，以備緩急之需焉。</p>
<h4>牛蒡子湯</h4>
<p>治風熱上壅，咽喉窒塞，或痛、或不利，或生瘡瘍，或狀如肉臠，疼痛妨悶。</p>
<p>牛蒡子　玄參　升麻　桔梗（去蘆）　犀角　木通（去節）　黃芩　甘草（各等分）</p>
<p>上　咀，每服四錢，水一盞半，薑三片，煎至八分，去滓，溫服，不拘時候。</p>
<h4>三神湯</h4>
<p>治咽喉熱腫，語聲不出，喉中如有物梗。</p>
<p>荊芥穗　桔梗（去蘆。各一兩）　甘草（生用，半兩）</p>
<p>上　咀，每服四錢，水一盞半，薑三片，煎至八分，去滓，溫服，不拘時候。</p>
<h4>二聖散</h4>
<p>治纏喉風，急喉痹。</p>
<p>鴨嘴膽礬（二錢）　白僵蠶（去絲嘴，半兩）</p>
<p>上為細末，每服少許，以竹管吹入喉中，立驗。</p>
<h4>硼砂散</h4>
<p>治懸壅腫痛。</p>
<p>硼砂（別研）　馬牙硝（枯）　滑石　寒水石（以上各二錢）　腦子（別礬（枯，一錢半）</p>
<p>上件藥，研令極細末，每服半錢，新汲水調下，不拘時候。</p>
<h4>射干丸</h4>
<p>治腑寒，咽閉不能咽。</p>
<p>射干　杏仁（麩炒黃）　玄參　附子（炮，去皮臍）　桂心（不見火。各等分）</p>
<p>上為細末，煉蜜為丸，如雞頭大，每服一丸，心新綿裹，噙咽津。</p>
<h4>白礬散</h4>
<p>治纏喉風，急喉痹。</p>
<p>白礬（三錢）　巴豆（三枚，去殼，分作六瓣）</p>
<p>上將白礬及巴豆於銚內，慢火熬化為水，候干，去巴取礬，研為細末，每用少許，以蘆管吹入喉中。</p>
<h4>絳雪散</h4>
<p>治咽喉腫痛，咽物妨礙，及口舌生瘡。</p>
<p>龍腦（半字）　硼砂（一錢）　朱砂（二錢）　馬牙硝（半錢）　寒水石（二錢）</p>
<p>上各研和勻，每用一字，摻於舌上，用津咽之，食後臨臥。</p>
<h4>大青湯</h4>
<p>治咽喉唇腫，口舌糜爛，疳惡口瘡。</p>
<p>大青葉　升麻　大黃（銼，炒。各二兩）　地黃（生，切，焙，三兩）</p>
<p>上為末，每服二錢，水一盞，煎至六分，去滓，溫服，微利止。</p>
<h2>口齒門</h2>
<p>（附：舌）</p>
<h3>口論治</h3>
<p>夫口者，足太陰之經，脾之所主，五味之所入也。蓋五味入口，藏於脾胃，為之運化津液，寒，於胸膈因以治又論：夫口者脾之候，齒者骨之余，髓之所養也。人之一身此為大要。凡有病起，因口而成諸風</p>
<h4>升麻散</h4>
<p>治上膈壅毒，口舌生瘡，咽喉腫痛。</p>
<p>升麻　赤芍藥　人參（洗）　桔梗（去蘆）　干葛（各一兩）　甘草（生用，半兩）</p>
<p>上　咀，每服四錢，水一盞半，薑五片，煎至八分，去滓，溫服，不拘時候。</p>
<h4>綠云散</h4>
<p>治口瘡，臭氣穢爛，久而不瘥。</p>
<p>黃柏（半兩）　螺青（二錢）</p>
<p>上為細末，臨臥用一錢，於舌下，咽津不妨。</p>
<h4>碧雪</h4>
<p>治一切壅熱，咽喉閉腫，不能咽物，口舌生瘡，舌根緊強，言語不正，腮項腫痛。</p>
<p>蒲黃　青黛　硼砂　焰硝　甘草（各等分）</p>
<p>上為細末，每用手指捻摻於喉中，津咽，或呷少冷水送下，頻頻用之。</p>
<h4>芎芷膏</h4>
<p>治口氣熱臭。</p>
<p>香白芷　川芎（各等分）</p>
<p>上為細末，煉蜜丸如雞頭大，食後臨臥，噙化一丸。</p>
<h4>丁香丸</h4>
<p>治口臭穢。</p>
<p>丁香（三錢）　甘草（一錢，炙）　芎　（二錢）　白芷（半錢，以上不見火）</p>
<p>上為細末，煉蜜丸如彈子大，綿裹一丸，噙咽津。</p>
<h4>赴筵散</h4>
<p>治毒熱上攻，口中生瘡。</p>
<p>黃柏（蜜炙）　細辛（洗去土葉）</p>
<p>上等分，為細末，每用少許，摻於舌上，有涎吐出，以愈為度。</p>
<h4>青金散</h4>
<p>治小兒白口瘡，急惡，狀似木耳。</p>
<p>五倍子（去土垢，四兩）　青黛（四錢）</p>
<p>上為細末，好油調，鴉羽掃口向咽喉，流入咽喉中，瘡爛，次日便下。兼治痔瘡亦佳。</p>
<h4>蛾黃散</h4>
<p>治赤白瘡疼唇破，兼治熱瘡。</p>
<p>黃　（去皮）　寒水石（燒）</p>
<p>上各等分，為細末，干貼口瘡上，塗唇上。兼治諸瘡較遲者。</p>
<h4>粉紅散</h4>
<p>治小兒白口瘡，咽喉惡聲啞。</p>
<p>干胭脂（一錢）　枯礬（一兩）</p>
<p>上研勻，每用一錢，生蜜調如稀糊，掃口瘡咽喉內，咽了藥，來日大便，退了瘡皮為驗。</p>
<h3>齒論治</h3>
<p>夫齒乃骨之余氣，骨乃腎之所主，呼吸之戶門者也。精氣強則齒自堅，腎氣衰則齒自豁，且矣藥，其</p>
<h4>牢牙散</h4>
<p>治一切齒痛，不問久新。</p>
<p>全蠍（七個，去毒）　細辛（洗淨，三錢）　草烏（二個，去皮）　乳香（二錢，別研）</p>
<p>上為細末，每用少許擦患處，須臾以溫鹽水盥漱。</p>
<h4>莽草散</h4>
<p>治風壅熱氣上攻，齒齦浮腫，或連頰車疼痛，或宣露血出。</p>
<p>莽草　川升麻　柳枝　槐角子　鶴虱　地骨皮　本（去蘆）　槐白皮上　咀，每服一兩，水一盞，入鹽少許，煎至七分盞，去滓，熱含冷吐之，日用三次。</p>
<h4>蟾酥丸</h4>
<p>治牙疼不可忍。</p>
<p>蟾酥（一字）　生附子角（二豆大）　巴豆（一枚，去皮，研）　麝香（少許）</p>
<p>上件藥都研令勻，蒸餅為丸，黍豆大，以新綿裹一丸，咬之，有涎即吐之。</p>
<h4>香鹽散</h4>
<p>此藥常用牢牙，去風冷，蛀齲宣露，一切齒疾。</p>
<p>大香附子〔炒令極黑，三錢（兩）〕　青鹽（半兩，別研）</p>
<p>上為細末，和勻，用如常法。乃鐵瓮先生良方也。</p>
<h4>安腎丸</h4>
<p>治虛熱，牙齒浮腫疼痛。</p>
<p>肉蓯蓉（酒浸，焙）　桃仁（麩炒）　破故紙（炒）　白朮　干　山藥（銼，炒）　石斛（去根）　白上為細末，煉蜜為丸，如梧桐子大，每服七十丸，空心，鹽湯下。</p>
<h4>必勝散</h4>
<p>治齒衄。</p>
<p>蒲黃（略炒）　螺兒清（等分）</p>
<p>上為細末，每用少許，擦患處，少待，用溫鹽水漱之。</p>
<h4>驅毒飲</h4>
<p>治熱毒上攻，宣露血出，齒齦腫痛不可忍者。屋游（即瓦屋上青苔，不拘多少，上煎湯，澄清，入鹽一小撮，放溫，頻頻漱之。</p>
<h4>麝香散</h4>
<p>治急疳，惡蝕內損。</p>
<p>枯白礬（一兩）　黃丹（一錢半，炒）　麝香（一字）</p>
<p>上為細末，研勻，干擦牙疳處，頻上。</p>
<h4>朱粉散</h4>
<p>治白口瘡惡，及牙疳蝕。</p>
<p>枯白礬（一兩）　干胭脂（一錢半）　輕粉（半錢）　麝香（少許）</p>
<p>上研勻，油調，掃口瘡，或干貼。</p>
<h3>唇論治</h3>
<p>唇者，脾之所主。胃者，脾之所合。其經起於鼻，環於唇，其支脈絡於脾。脾胃受邪，則唇色。</p>
<h4>瀉黃飲子</h4>
<p>治風熱蘊於脾經，唇燥坼裂，口舌生瘡。</p>
<p>白芷　升麻　枳殼（去瓤，麩炒）　黃根。各一兩）　甘草（生用，半兩）</p>
<p>上　咀，每服四錢，水一盞半，薑五片，煎至八分，去滓，溫服，不拘時候。</p>
<h4>薏苡仁湯</h4>
<p>治風腫在脾，唇口　動，或生結核，或為浮腫。</p>
<p>薏苡仁（炒）　防己　赤小豆（炒）　甘草（炙。各等分）</p>
<p>上　咀，每服四錢，水一盞半，生薑三片，煎至八分，去滓，溫服，不拘時候。</p>
<h4>橄欖散</h4>
<p>治唇緊燥裂生瘡。</p>
<p>橄欖（不拘多少，燒灰）</p>
<p>上為細末，以豬脂和，塗患處。</p>
<h3>舌論治</h3>
<p>經云：心氣通乎舌，舌和則知五味矣。蓋舌者，脾脈之所通，心氣之所主，和則知味，資於更又論：舌者心之所候，脾氣之所通。攝養違理，二臟不和，風熱內蘊，舌為之病焉。遂致舌法，例用並以參沉湯送下，用之多效。醫療之方，並載於後。</p>
<h4>玄參升麻湯</h4>
<p>治心脾壅熱，舌上生瘡、木舌、重舌、舌腫、或連腮頰兩邊腫痛。</p>
<p>玄參　赤芍藥　升麻　犀角（鎊）　桔梗（去蘆）　貫眾（洗）　黃芩　甘草（炙。各等分）</p>
<p>上　咀，每服四錢，水一盞半，薑五片，煎至八分，去滓，溫服，不拘時候。</p>
<h4>蒲黃散</h4>
<p>治舌忽然硬腫，或血出如涌。</p>
<p>烏賊魚骨　蒲黃（炙。各等分）</p>
<p>上為細末，每用少許，塗舌上，瘥。</p>
<h4>杏仁膏</h4>
<p>治口舌熱，干燥，或舌上生胎，語言不真。</p>
<p>升麻　杏仁（去皮尖）　甘草（炙。各一兩）　黑豆（五十粒，炒，去皮）</p>
<p>上為細末，入白蜜五合，生地黃汁五合，慢火熬成膏子，丸如雞頭大，常噙一丸，津化咽下</p>
<h4>烙腫法</h4>
<p>凡舌腫，舌下必有噤蟲，狀如螻蛄，或似臥蠶子，亦有頭尾，其頭少白，可燒鐵筋烙腫，則自消也。</p>
<h4>百草霜散</h4>
<p>治舌忽然腫硬，逡巡塞悶殺人。</p>
<p>百草霜　食鹽上等分，用井華水調塗舌上，良久，消愈。</p>
<h4>必勝散</h4>
<p>治舌衄。（方見齒論治）</p>
<h4>如神散</h4>
<p>治傷寒熱毒攻心，舌出過寸。</p>
<p>梅花片腦（不拘多少）</p>
<p>上為細末，以一字摻於舌上，未和再摻，則愈。</p>
<h4>小續命湯</h4>
<p>治心脾虛，中風寒，舌強不能語言。（方見諸風門中風論治）加荊瀝煎服。</p>
<h2>耳門</h2>
<h3>耳論治</h3>
<p>夫耳者，腎之所候。腎者，精之所藏。腎氣實則精氣上通，聞五音而聰矣。若疲勞過度，精出耳內輝輝　也。手太陽脈動厥而聾者，耳內氣滿也。大抵氣厥耳聾尚易治，精脫耳聾不易藥愈。諸證既殊，治各有法。</p>
<p>又論：夫耳者腎之候，腎乃宗脈之所聚，其氣通於耳。腎氣和平則聞五音而聰矣，腎氣不平燥聾乎調</p>
<h4>塞耳丸</h4>
<p>治耳聾無不效。</p>
<p>石菖蒲（一寸）　巴豆（一枚，去皮）　全蠍（一枚，去毒）</p>
<p>上為細末，蔥涎打和，如棗核大，綿裹納耳中。</p>
<h4>蓯蓉丸</h4>
<p>治腎虛耳聾，或風邪入於經絡，耳內虛鳴。</p>
<p>肉蓯蓉（酒浸，切片，焙）　山茱萸（浸，蒸焙）　川羌活（去蘆）　鹿茸（燎去毛，切，醋淬七次，水飛）　附子（炮，去皮臍。各一兩）　全蠍（去毒，二七個）　麝香（一字，旋入）</p>
<p>上為細末，煉蜜為丸，如梧桐子大，每服七十丸加至一百丸，空心，鹽酒、鹽湯任下。</p>
<h4>磁石散</h4>
<p>治風虛耳聾無聞。</p>
<p>磁石（火　）　防風（去蘆）　羌活（去蘆）　黃　（去蘆，鹽水浸粗皮）　白芍藥　桂心（不見火。各一兩）　人參（半兩）</p>
<p>上　咀，每服四錢，水一盞半，羊腎一對，切片去脂膜，煎至七分，去滓，食前溫服。</p>
<h4>犀角飲子</h4>
<p>治風熱上壅，耳內聾閉，脊腫掣痛，膿血流出。</p>
<p>犀角（鎊）　菖蒲　木通　玄參草（炙，半兩）</p>
<p>上　咀，每服四錢，水一盞半，薑五片，煎至八分，去滓，溫服，不拘時候。</p>
<h4>立效散</h4>
<p>治　耳底耳，有膿不止。</p>
<p>真陳橘皮（燈上燒黑，一錢，為末）　麝香（少許，別研）</p>
<p>上二味和勻，每用少許，先用綿蘸耳內，膿淨上藥。</p>
<h4>鳴聾散</h4>
<p>治耳中如潮聲蟬聲，或暴聾。（一稱通耳法，治耳聾無所聞。）</p>
<p>磁石（一塊如豆大）　穿山甲（燒存性，為末，一字）</p>
<p>上用新綿子裹了，塞於所患耳內，口中銜小生鐵，覺耳內如風聲即住。</p>
<h4>煙脂散</h4>
<p>治　耳。</p>
<p>煙脂　白礬（火上熬干）</p>
<p>上等分，為細末，每用少許，以綿杖子蘸藥，　在所患耳中。</p>
<h4>杏仁飲</h4>
<p>治耳卒痛，或有水出。</p>
<p>杏仁〔一（五）錢，炒令焦〕</p>
<p>上研為末，蔥涎搜和，捏如棗核大，綿裹，塞耳中。</p>
<h2>鼻門</h2>
<h3>鼻論治</h3>
<p>夫鼻者，肺之候。職欲常和，和則吸引香臭矣。若七情內郁，六淫外傷，飲食勞役，致鼻氣不得宣調，清道壅塞。其為病也，為衄、為癰、為息肉、為瘡瘍、為清涕、為窒塞不通、為濁膿，或不聞香臭。此皆肺臟不調，邪氣蘊積於鼻，清道壅塞而然也。治之之法，寒溫之，熱則清之，塞則通之，壅則散之，無越於斯。但時氣鼻衄不可遽止。如出三升以上恐多者，方可斷之。活人書所謂衄血者乃解，蓋陽氣重故也。不可不知。</p>
<p>又論：夫鼻者，肺之所主，職司清化，調適得宜，則肺臟宣暢，清道自利；攝養乖方，則清氣蘊鼻以為備治之要。</p>
<h4>辛夷散</h4>
<p>治肺虛，風寒濕熱之氣加之，鼻內壅塞，涕出不已，或氣息不通，或不聞香臭。</p>
<p>辛夷仁　細辛（洗去土葉）　本（去蘆）　升麻　川芎　木通（去節）　防風（去蘆）</p>
<p>羌活（去蘆）　甘草（炙）　白芷（各等分）</p>
<p>上為細末，每服二錢，食後茶清調服。</p>
<h4>香膏</h4>
<p>治鼻塞不利。</p>
<p>當歸（去蘆）　木香（不見火）　通草　細辛（洗）　蕤仁（去殼）　川芎　白芷（各三錢）</p>
<p>上七味，　咀，和羊髓，微火合煎三、五沸，白芷色黃，膏成，去滓，取如小豆，內鼻中。</p>
<h4>龍骨散</h4>
<p>治時氣鼻衄三升以上，恐多，宜此藥止。</p>
<p>龍骨（不拘多少）</p>
<p>上為細末，用少許吹入鼻中。九竅出血者，皆用此藥吹之。</p>
<h4>通草膏</h4>
<p>治癰鼻者，有息肉，不聞香臭。通草　附子（炮，去皮臍）　細辛（洗）</p>
<p>上等分為細末，以蜜和，綿裹少許，納鼻中。</p>
<h4>梔子仁丸</h4>
<p>治肺熱鼻發赤瘰，俗名酒　鼻。</p>
<p>梔子仁（不拘多少）</p>
<p>上為細末，溶黃蠟等分為丸，如梧桐子大，每服二十丸，食後空心，茶酒嚼下，半月效，忌又方枇杷葉（去毛，焙乾）</p>
<p>上為末，茶調一、二錢，日三服。</p>
<h4>蒼耳散</h4>
<p>治鼻流濁涕不止，名曰鼻淵。</p>
<p>辛夷仁（半兩）　蒼耳子（炒，二錢半）　香白芷（一兩）　薄荷葉（半錢）</p>
<p>上並晒乾，為細末，每服二錢，用蔥茶清，食後調服。</p>
<h4>山梔散</h4>
<p>治鼻衄不止。</p>
<p>山梔子（不拘多少）</p>
<p>上件燒為細末，每用少許，吹入鼻中，立止。</p>
<h4>生葛散</h4>
<p>治鼻衄不止。生葛根　小薊根上二件洗淨，搗取汁，每服一盞，蕩溫服，不拘時候。</p>
<h4>萊菔飲</h4>
<p>治鼻衄不止。</p>
<p>蘿卜（不拘多少）</p>
<p>上搗取自然汁，每服一錢，入鹽少許，冷服，不拘時候，或滴少許入鼻中亦可。</p>
<h4>茜根散</h4>
<p>治鼻衄終日不止，心神煩悶。</p>
<p>茜根　黃芩　阿膠（蛤粉炒）　側柏葉　生地黃（各一兩）　甘草（炙，半兩）</p>
<p>上　咀，每服四錢，水一盞半，薑三片，煎至八分，去滓，溫服，不拘時候。</p>
<h4>香墨汁</h4>
<p>治鼻衄不止。</p>
<p>香墨　蔥汁上件藥，以蔥汁磨墨，滴少許於鼻中即止。</p>
<h4>麥門冬飲</h4>
<p>治衄血不止。</p>
<p>麥門冬　生地黃每兩，水煎。</p>
<h4>扎指法</h4>
<p>治鼻衄不止。上用線緊扎中指中節。如左鼻出血扎左手中指中節，右鼻出血扎右手中指中節，兩鼻出血則左右俱扎之。</p>
<h2>頭面門</h2>
<h3>頭痛論治</h3>
<p>夫頭者，上配於天，諸陽脈之所聚。凡頭痛者，血氣俱虛，風、寒、暑、濕之邪傷於陽經，名曰治法又論：夫頭者，諸陽之所聚，諸陰脈皆至頸而還，獨諸陽脈皆上至頭耳，則知頭面皆屬陽部痛也頭主鐘達</p>
<h4>芎辛湯</h4>
<p>治風寒在腦，或感邪濕，頭重頭痛，眩暈欲倒，嘔吐不定。</p>
<p>川芎（一兩）　細辛（洗去土）　白朮　甘草（炙。各半兩）</p>
<p>上　咀，每服四錢，水一盞半，生薑五片，茶芽少許，煎至七分，去滓，溫服，不拘時候。</p>
<h4>菊花散</h4>
<p>治風熱上攻，頭痛不止，口乾頰熱。</p>
<p>石膏　甘菊花（去梗）　防風（去蘆）　旋覆花子甘草（炙）　川羌活（去蘆。各等分）</p>
<p>上　咀，每服四錢，水一盞半，薑五片，煎至七分，去滓，溫服，不拘時候。</p>
<h4>蔥附丸</h4>
<p>治氣虛頭痛。</p>
<p>附子（一只，炮，去皮臍）</p>
<p>上為細末，蔥涎為丸，如梧桐子大，每服五十丸，空心，茶清送下。</p>
<h4>三生丸</h4>
<p>治痰厥頭痛。</p>
<p>半夏　白附子　天南星（各等分）</p>
<p>上細末，生薑自然汁浸，蒸餅為丸，如綠豆大，每服四十丸，食後，薑湯送下。</p>
<h4>玉真丸</h4>
<p>治腎厥頭痛不可忍，其脈舉之則弦，按之則堅。</p>
<p>生硫黃（二兩，別研）　石膏（硬者，不　）　半夏（湯泡七次）　硝石（別研。各一兩）</p>
<p>上為細末，研和勻，生薑汁煮糊為丸，如梧桐子大，每服四十丸，食前用薑湯或米飲下。</p>
<p>虛寒甚者，去石膏，用鐘乳粉一兩，更灸關元百壯。</p>
<h4>二芎餅子</h4>
<p>治氣厥，上盛下虛，痰飲，風寒伏留陽經，偏正頭疼，痛連腦巔，吐逆惡心，目常服清頭目，化風痰。</p>
<p>撫芎　川芎　乾薑（炮）　本（去蘆）　蒼耳（炒）　天南星蘆）　甘草（炙）</p>
<p>上等分，為細末，生薑汁浸，蒸餅為丸，如雞頭大，捏作餅子，晒乾，每服五餅，細嚼，茶</p>
<h4>葫蘆巴散</h4>
<p>治氣攻頭痛。</p>
<p>葫蘆巴（炒）　京三棱（醋浸，焙。各半兩）　乾薑（炮，二錢半）</p>
<p>上為細末，每服二錢，溫生薑湯或溫酒調服，不拘時候。</p>
<h4>都梁丸</h4>
<p>治偏正頭風，一切頭疼。</p>
<p>香白芷（日干，二兩）</p>
<p>上件，研為細末，煉蜜為丸，如龍眼大，每服二丸，食後細嚼，用茶芽煎湯咽下。</p>
<h4>蠍附丸</h4>
<p>治氣虛頭疼。</p>
<p>大附子（一枚）　全蠍（去毒，二個）　鐘乳粉（二錢半上用附子剜去子內，卻以余附子為末，用鐘乳粉面少許，水和作劑，包裹，煨令熟）</p>
<p>上為細末並，擂蔥涎為丸，如梧桐子大，每服七十丸，空心食前，用椒鹽湯送下。</p>
<h4>芎烏散</h4>
<p>治男子氣厥頭疼，婦人氣盛頭疼，及產後頭痛，悉皆治之。</p>
<p>川芎　天台烏藥上等分，為細末，每服二錢，　茶清調服，或用蔥茶湯調服，並食後。</p>
<h4>一字散</h4>
<p>治頭風　雄黃（研令極細，半兩）　細辛（洗去葉，半兩）　川烏尖（去皮，五個，生用）</p>
<p>上為細末，每服一字，入薑汁少許，茶芽煎湯調服，食後。</p>
<h2>腰痛門</h2>
<h3>腰痛論治</h3>
<p>素問云：腰者腎之腑，轉搖不能腎將憊矣。審如是說，則知腎系於腰，多因嗜欲過度，勞傷亦致濡細治，又論：夫腰痛者屬乎腎也。多因勞役傷腎，腎臟氣虛，風寒冷濕得以襲之，恚郁憂思得以傷今之人每患腰痛，不問虛實，多進牽牛之藥，殊不知牽牛之為性，能傷腎氣腎氣先有所損矣。倘的是氣滯腰痛，進一、二服則可。如服之不效，用橘核溫，送下小七香丸最佳。所謂看不上面，自有奇功。萬一腎虛腰痛，牽牛豈謹之！</p>
<h4>五積散</h4>
<p>治寒傷腎經，腰痛不可俯仰方。（方見諸寒門中寒論治）</p>
<h4>附術湯</h4>
<p>治濕傷腎經，腰腫冷痛，小便自利。</p>
<p>附子（炮，去皮）　白朮（各一兩）　杜仲（去皮，銼炒，去絲，半兩）</p>
<p>上　咀，每服四錢，水一盞半，生薑七片，煎至七分，去滓，溫服，空心食前。</p>
<h4>獨活寄生湯</h4>
<p>治風傷腎經，腰痛如掣，久而不治，流入腳膝為偏枯冷痹緩弱之患。（方見香港腳門香港腳論治）</p>
<h4>小七香丸</h4>
<p>治鬱怒憂思，或因閃肭顛撲，一切氣滯腰痛。（方載和劑局方中）</p>
<p>上一貼，作二服，橘仁一錢，鹽少許，水一盞，煎至七分，放溫送下，空心服。</p>
<h4>二至丸</h4>
<p>治老人弱人，腎氣虛損，腰痛不可屈伸。</p>
<p>鹿角（鎊，二兩）　麋角（鎊，二兩）　附子兩）　補骨脂（炒，一兩）　杜仲（去皮，銼，炒絲斷，鹽（別研，半兩）</p>
<p>上為細末，酒糊為丸，如梧桐子大，每服七十丸，空心用胡桃肉細嚼，以鹽酒鹽湯任下。</p>
<p>惡</p>
<h4>丸</h4>
<p>治墜墮閃肭，血氣凝滯腰痛者。</p>
<p>子（半兩）　沒藥（二錢半，別研）　乳香〔二（一）</p>
<p>皮，銼，炒令絲斷）　補骨脂（炒）　威靈仙（洗，去蘆）　官桂（不見蘆，酒潤，切，焙。各半兩）</p>
<p>上為細末，酒糊為丸，如梧桐子大，每服七十丸，空心食前，鹽酒鹽湯任下。</p>
<h4>立安散</h4>
<p>專治腰痛。</p>
<p>杜仲（去粗皮，銼，炒令絲斷）　橘核（取仁，炒）</p>
<p>上等分為細末，每服二錢，入鹽少許，溫酒調，食前服。</p>
<h2>婦人門</h2>
<h3>婦人論治</h3>
<p>夫婦人乃眾陰所集，常與濕居，貴乎血盛氣衰者也。血盛氣衰是謂從，從則百疾不生；血衰子十倍如七症愛憎方焉</p>
<h3>血氣論治</h3>
<p>內經云：百病皆生於氣。經有所謂七氣，有所謂九氣。喜、怒、憂、思、悲、恐、驚者，七氣也。七情之外，益之以寒熱二證，而為九氣也。氣之為病，男子婦人皆有之，惟婦人血氣為患尤甚。蓋人身血隨氣行，氣一壅滯，則血與氣並，或月事不調，心腹作痛；或月事將行，預先作痛；或月事已行，淋漓不斷，心脹作痛；或連腰脅，或引背膂，上下攻刺，吐逆不食，甚則手足搐搦，狀類驚癇；或作寒熱；或為症瘕，肌肉消瘦。非特不能受孕，久而不治，轉而為瘵疾者多矣。</p>
<h4>玄胡索湯</h4>
<p>治婦人室女，七情傷感，遂使血與氣並，心腹作痛，或連腰脅，或引背膂，上下攻刺，甚作搐搦，經候不調，但是一切血氣疼痛，並可服之。</p>
<p>當歸（去蘆，酒浸，銼，炒）</p>
<p>見火。各半兩）　片子薑黃（洗）　乳香錢半）</p>
<p>上　咀，每服四錢，水一盞半，生薑七片，煎至七分，去滓，食前溫服。吐逆加半夏、橘紅各半兩。</p>
<h4>琥珀散</h4>
<p>治婦人、室女月水凝滯，脅肋脹刺，臍腹　痛不可忍，及惡露不下，血上攻心，迷省。凡有血氣腹痛，並皆治之。</p>
<p>牡丹皮（去木）　赤芍藥　蓬莪朮（銼）　京三棱（銼）　劉浸，蒸）　玄胡索（炒，去皮）　當歸（去蘆，酒浸）　烏藥　官桂（不上用前五味，用烏豆一升，生薑半斤，切片，米醋四升同煮，豆爛為度，焙乾，入後五味，</p>
<h4>三神丸</h4>
<p>治室女血氣相搏，腹中刺痛，痛引心端，經行澀少，或經事不調，以致疼痛。橘紅（二兩）　玄胡索（去皮，醋煮，一兩）　當歸（去蘆，酒浸銼，略炒，一兩）</p>
<p>上為細末，酒煮米糊為丸，如梧桐子大，每服七十丸，加至一百丸，空心，艾湯送下，米飲</p>
<h4>抑氣散</h4>
<p>治婦人氣盛於血，變生諸證，頭暈膈滿，皆可服之。</p>
<p>香附子（炒，淨，四兩）　茯神（去木，一兩）　橘紅（二兩）　甘草（炙，一兩）</p>
<p>上為末，每服二錢，食前，用沸湯調服。</p>
<h3>崩漏論治</h3>
<p>崩漏之疾，本乎一證。輕者謂之漏下，甚者謂之崩中。且平居婦人，經脈調適，衝任二脈，大傷於肝。蓋肝為血之府庫，喜怒勞役，一或傷之，肝不能藏血於宮，宮不能傳血於海，所以崩中漏下。漏下者，淋瀝不斷是也。崩中者，忽然暴下，乃漏證之甚者。其狀或如豚肝，或成五色，與血俱下，又或如泔涕，如爛瓜汁，又或如豆羹汁，如藍靛色。至有黑如干血相雜，亦有純下瘀血者，此皆衝任虛損，喜怒勞役之過，致肌瘦，虛煩口乾，臍腹冷痛，吐逆不食，四肢虛困，甚則為弦則為減，大則為芤，減則為寒，芤則為虛，寒虛相搏，虛者漏血，漏血脈浮者不可治，治之之法，調養衝任，鎮養百脈，外為月事，自無崩中漏下之患矣。</p>
<p>又論：崩漏之疾，本乎一證，然有輕重之別焉。輕者謂之漏下，漏下者淋瀝不斷是也。</p>
<p>重者而然四乃血羹丹作效作效，肢，冰得日，則烘消成水，血凝得丹而流暢，火之力也。大效。倘或疑而未敢輕用，先進陽起石丸，服之二日未效，卻二七天癸當至，也有當至而未至者，近十八九左右方行者若崩漏者，卻又不宜服前二藥也。惟當以四物東加香附子去熟地黃，加生地黃煎。臨病之際，又在乎審處之。</p>
<h4>鎮宮丸</h4>
<p>治婦人崩漏不止，或下五色，或赤白不定，或如豆汁，或狀若豚肝，或下瘀血，臍痛，頭暈眼花，久久不止，令人黃瘦，口乾胸煩不食。</p>
<p>代赭石（火　，醋淬七次）　紫石附子（醋炙。各二兩）　陽起石（　紅，細（去木）　阿膠（銼，蛤粉炒成珠子）　蒲黃（炒）</p>
<p>研，半兩）</p>
<p>上為細末，用艾煎醋汁，打糯米和丸，如梧桐子大，每服七十丸，空心，米飲下</p>
<h4>十灰丸</h4>
<p>治崩中下血不止。</p>
<p>錦灰　黃絹灰　馬尾灰　艾葉灰　藕節灰　蓮蓬灰　油發灰　赤松皮灰　棕櫚灰　蒲黃灰上等分為細末，用醋煮糯米糊為丸，如梧桐子大，每服七十丸，加至一百丸，空心米飲下</p>
<h4>柏子仁湯</h4>
<p>治婦人憂思過度，勞傷心經，心主於血，心虛不能維持諸經之血，亦能致崩中下當歸（去蘆，酒炒）　芎　茯神（去木）　小草　阿膠（銼，蛤粉炒成珠子）　鹿茸燎去毛，酒蒸，焙）　柏子仁（炒。各一兩）　香附子（炒去毛，二兩）　川續斷（酒浸，一兩上　咀，每服四錢，水一盞半，薑五片，煎至七分，去滓，空心食前，溫服。</p>
<h4>陽起石丸</h4>
<p>治衝任不交，虛寒之極，崩中不止，變生他證。</p>
<p>陽起石（火　紅，別研，令極細，二兩）　鹿茸（去毛，醋炙，一兩）</p>
<p>上為細末，醋煎艾汁，打糯米糊為丸，如梧桐子大，每服百丸，空心食前，米飲送下。</p>
<h4>加減四物湯</h4>
<p>治室女二七天癸至，亦有當時未至而後至者，有卒然暴下淋瀝不止，有若崩漏過多，變生諸證，悉宜服之。</p>
<p>川當歸（去蘆，酒潤，切，焙，一兩）　川芎（一兩藥（一兩）　香附子（炒去毛，一兩半）</p>
<p>上班　咀，每服四錢，水一盞半，生薑五片，煎至七分，去滓，食前，溫服。如血色鮮而不止</p>
<h3>帶下論治</h3>
<p>巢氏病源論：婦人有三十六疾。所論三十六疾者，七症、八瘕、九痛、十二帶下是也。</p>
<p>然所任虛有原血不致絕甚冷</p>
<h4>白堊丸</h4>
<p>治婦人白帶，久而不止，面生　，繞臍疼痛，腰膝冷痛，日漸虛困，產後白帶，服之。</p>
<p>白堊（火　）　禹餘糧（　，醋淬七次）　鱉甲（醋炙）　烏賊骨（醋炙）　當歸（去蘆，毛狗脊（燎去毛附子（醋煮二兩）</p>
<p>上為細末，醋煮糯米糊為丸，如梧桐子大，每服七十丸，空心，用溫酒米飲任下。</p>
<h4>白蘞丸</h4>
<p>治室女衝任虛寒，帶下純白。</p>
<p>鹿茸（醋蒸，焙，二兩）　白蘞　金毛狗脊（燎去毛。各一兩）</p>
<p>上為細末，用艾煎醋汁，打糯米糊為丸，如梧桐子大，每服五十丸，空心，溫酒下。</p>
<h4>當歸煎</h4>
<p>治婦人室女，赤帶不止，腹內疼痛，四肢煩疼，不欲飲食，日漸羸瘦。</p>
<p>當歸（去蘆蛤粉炒成珠子）　白上為細末，醋糊為丸，如梧桐子大，每服五十丸，空心，米飲送下。</p>
<h4>卷柏丸</h4>
<p>治婦人室女，腹臟冷熱相攻，心腹絞痛，腰痛腿痛，赤白帶下，面色痿黃，四肢黃　（去蘆，蜜水炙）　熟地黃（洗。各一兩半）　卷柏（醋炙）　赤石脂（　，醋淬七次）　鹿茸（醋炙）　白石脂　芎　代赭石（　，醋淬七次）　艾葉（醋炒）　桑寄生　鱉甲（醋炙）</p>
<p>半兩）　乾薑（炮，三分）</p>
<p>上為末，醋煮糯米糊為丸，如梧桐子大，每服七十丸，空心食前，用米飲送下。</p>
<h3>惡阻論治</h3>
<p>內經云：陰搏陽別，謂之有子。三部脈浮沉正等，無病者，乃知有娠也。妊既受矣，多病惡有痰惡水</p>
<h4>參橘散</h4>
<p>治妊娠三月，惡阻，吐逆不食，或心虛煩悶。</p>
<p>赤茯苓（去皮）　橘皮（去白。各一炒）</p>
<p>人參　甘草（炙。以上各半兩）</p>
<p>上　咀，每服四錢重，水一盞半，生薑七片，刮竹茹如指大，煎至七分，去滓，溫服，不拘</p>
<h4>旋覆半夏湯</h4>
<p>治妊娠惡阻病，心中憒悶，吐逆不食，惡聞食氣，頭暈，四肢百節煩痛，多臥旋覆花（去枝萼）　芎　細辛（洗去土）　人參　甘草（炙。以上各半兩）　半夏（湯泡七次）　赤茯苓（去皮）　當歸（去蘆，酒浸）　干生薑　陳皮（去白。以上各一兩）</p>
<p>上　咀，每服四錢，水一盞半，薑五片，煎至七分，去滓，溫服，不拘時候。</p>
<h4>人參半夏丸</h4>
<p>治妊娠惡阻，病醋心，胸中冷，腹痛，吐逆不喜飲食。</p>
<p>半夏（湯泡七次）　人參　干生薑（以上各半兩）</p>
<p>上為細末，以生地黃汁浸，蒸餅為丸，如梧桐子大，每服四十丸，用米飲送下，不拘時候。</p>
<h4>縮砂散</h4>
<p>治妊娠胃虛氣逆，嘔吐不食。</p>
<p>縮砂仁（不拘多少）</p>
<p>上為細末，每服二錢，入生薑自然汁少許，沸湯點服，不拘時候。</p>
<h3>子煩論治</h3>
<p>妊娠四月、六月，多苦煩悶。按醫經：四月受少陰君火氣以養精，六月受少陽相火氣以養氣也。</p>
<h4>麥門冬湯</h4>
<p>治妊娠心驚膽怯煩悶，名曰子煩。</p>
<p>麥門冬（去心）　防風　白茯苓（去皮。以上各一兩）　人參（半兩）</p>
<p>上　咀，每服四錢，水一盞半，生薑五片，入淡竹葉十片，煎至八分，去滓，溫服，不拘時</p>
<h3>滑胎論治</h3>
<p>懷妊十月，形體就成，八月合進瘦胎易產之藥，今世多用枳殼散，非為不是。若胎氣肥實，子緊</p>
<h4>救生散</h4>
<p>安胎益氣，易產。</p>
<p>人參　訶子（煨，去核）　麥　（炒）　白朮（銼，炒）　神麯（炒）　橘紅（炒）</p>
<p>上六味，等分，為細末，每服三錢，水一盞，煎至七分，空心食前，溫服。</p>
<h3>校正時賢胎前十八論治</h3>
<p>第一問：妊娠三兩月，胎動不安者何？答曰：男女陰陽會通，血氣調勻，乃成其孕，設若下以</p>
<h4>杜仲丸</h4>
<p>杜仲（去皮，銼，薑汁浸，炒去絲）　川續斷（酒浸。各一兩）</p>
<p>上為細末，棗肉煮爛，杵和為丸，如梧桐子大，每服七十丸，空心，用米飲送下，日二服。</p>
<p>第二問：胎動腹痛者何？答曰：胎動腹痛，其理不一，或緣飲食冷熱動風毒物，或因再交搖不然</p>
<h4>如聖丸</h4>
<p>鯉魚皮　當歸（去蘆，酒浸）　熟地黃（酒蒸）　阿膠（銼，蛤粉炒成珠）　白芍藥川芎　川續斷（酒浸）　甘草（炙。各等分）</p>
<p>上　咀，每服四錢，水一盞半，入苧根少許，生薑五片，煎至七分，去滓，空心食前，溫服第三問：胎漏經血妄行者何？答曰：妊娠成形，胎息未實，或因房室驚觸，勞力過度，傷動干，危</p>
<h4>桑寄生散</h4>
<p>治妊娠胎動不安，下血不止。</p>
<p>桑寄生　當歸（去蘆，酒浸）　川續斷（酒浸）　芎　香附子（炒去毛）　阿膠（銼，蛤粉炒如珠子大）　茯神（去木）　白朮（以上各一兩）　人參（兩）</p>
<p>上　咀，每服四錢，水一盞半，薑五片，煎至七分，去滓，溫服，不拘時候。</p>
<h4>佛手散</h4>
<p>治妊娠自四、五月至七月因而築磕口噤欲絕，用此藥探之。若不損則痛止，子母俱若已損，立便逐下。</p>
<p>當歸（去蘆，酒浸）　芎　（各一兩）</p>
<p>上二件，　咀，每服四錢，酒一盞，煎令欲干，卻入水一盞，再煎三二沸，去滓，溫服。</p>
<p>如</p>
<h4>膠艾湯</h4>
<p>治妊娠不問月數淺深，因頓仆，胎動不安，腰腹疼痛，或胎奔上刺心，短氣。</p>
<p>熟當歸（去蘆，上　咀，每服四錢，水一盞半，生薑五片，棗子一枚，煎至七分，去滓，溫服，食前。</p>
<h4>安胎散</h4>
<p>治妊娠從高墜下，或為重物所壓，觸動胎氣，腹痛下血，服此藥後，覺胎動極熱，安矣。</p>
<p>縮砂（不拘多少）</p>
<p>上於熨斗內炒令熱透，卻去皮取仁，研為細末，每服二錢，熱酒調服，不飲酒，煎艾鹽湯調第四問：妊娠面赤，口苦，舌乾，心煩，腹脹者何？答曰：蓋緣恣情飲酒，因食桃、梨、李</p>
<h4>歸涼節命散</h4>
<p>川芎　苧根　白芍藥　麥門冬（去心）　當歸（去蘆，酒浸）　白朮（各一兩）</p>
<p>（半合）　甘草（炙，半兩）</p>
<p>上　咀，每服四錢，水一盞半，煎至一盞，去滓，溫服，不拘時候。</p>
<h4>大腹皮散</h4>
<p>治妊娠大小便赤澀。　枳殼（去瓤，麩炒）　大腹皮　甘草（炙。各一錢）　赤茯苓（去皮，三錢）</p>
<p>上四味，為細末，每服二錢，濃煎，蔥白湯調下，不拘時候。</p>
<h4>冬葵子散</h4>
<p>治妊娠小便不利，身重惡寒，起則眩暈，及水腫。</p>
<p>冬葵子（三錢）　赤茯苓（去皮，二錢）</p>
<p>上為細末，每服三錢，米飲調服，不拘時候。利則住服，如不通恐是轉胞，加發灰少許，神物論曰：腳腫，俗呼為皺腳，亦有通身腫滿，心胸急脹，名曰胎水。遂去妊婦心前衣服看之，胸肚不分，急以鯉魚湯三、五服，大、小便皆下惡水，腫消脹去，方得分娩死胎，可謂更生之人矣。此證蓋緣懷身腹大，妊娠不自知覺，人人皆以謂身娠如此，終不以為胎水病。醫人何以得知，故書此諭病家自當覺察。</p>
<h4>鯉魚湯</h4>
<p>當歸（去蘆，酒浸）　白芍藥（各三錢）　白茯苓（去皮，四錢）　白朮（五錢）</p>
<p>上　咀，每服四錢，用鯉魚一尾，不拘大小，破洗鱗腸，白水煮熟，去魚，每服用魚汁一盞半，生薑七片，橘皮少許，同煎至一盞，空心服，如胎水去未盡，再合服。</p>
<p>第五問：胎冷腹脹虛痛，兩脅虛鳴，臍下冷疼欲泄，小便頻數，大便虛滑者何？答曰：胎氣身不能</p>
<h4>安胎和氣散</h4>
<p>訶子（面裹煨，去核）　白朮（各一兩）　陳皮（去白）　高良薑（銼炒）　木香（不見火）　白芍藥　陳米（炒）　甘草（炙。各半兩）</p>
<p>上　咀，每服四錢，水一盞半，生薑五片，煎至七分，去滓，溫服，不拘時候。忌物。</p>
<p>第六問：妊娠心神忪悸，睡裡多驚，兩脅膨脹，腹滿連臍急痛，坐臥不寧，氣急逼迫，胎驚痛，</p>
<h4>大聖散</h4>
<p>白茯苓（去皮）　川芎　麥門冬（去心）　黃　（去蘆，蜜水炙）　當歸（去蘆、酒浸。</p>
<p>各上　咀，每服四錢，水一盞半，生薑五片，煎至七分，去滓，溫服，不拘時候。</p>
<h4>紫蘇飲</h4>
<p>治胎氣不和，湊上心腹脹滿疼痛，謂之子懸。</p>
<p>大腹皮　川芎　白芍藥　陳皮（去白）　紫蘇葉　當歸（去蘆，酒浸。各一兩）　人參　甘草（上　咀，每服四錢，水一盞半，生薑五片，蔥白七寸，煎至七分，去滓，溫服，空心。</p>
<p>第七問：懷孕月數未滿半產者何？答曰：本因臟腑虛微，氣衰血弱，病起相感，精氣攻衝，可</p>
<h4>芎補中湯</h4>
<p>養新血，去瘀血，補虛扶危。</p>
<p>乾薑（炮）　阿膠（銼，蛤粉炒）　芎　五味子（各一兩）</p>
<p>歸（去蘆，酒浸）　白朮　赤芍藥（各一兩半）　木香（不見火）　人參炒）　甘草（炙。各半兩）</p>
<p>上　咀，每服四錢，水一盞半，煎至一盞，去滓，通口服，不拘時候。</p>
<p>第八問：妊娠小便淋瀝者何？答曰：本因調攝失宜，子臟氣虛，蓋緣酒色過度，傷其血氣，</p>
<h4>安榮散</h4>
<p>麥門冬（去心）　通草　滑石〔各一（二）錢〕　當歸（去蘆，酒浸）　燈心　甘草（炙。各半兩）　人參　細辛（洗。各一錢）</p>
<p>上為細末，每服三錢，煎麥門冬湯調服，不拘時候。</p>
<h4>桑螵蛸散</h4>
<p>治妊娠小便不禁。</p>
<p>桑螵蛸（十二個，炙）</p>
<p>上為細末，每服二錢，空心食前，米飲調服。</p>
<h4>白薇散</h4>
<p>治妊娠遺尿，不知出。</p>
<p>白薇　白芍藥上等分，為細末，每服二錢，食前，酒調服。</p>
<p>第九問：妊娠下痢赤白者何？答曰：蓋因冷物傷脾，辛酸損胃，冷熱不謂，胎氣不安，氣血冷熱</p>
<h4>蒙薑黃連丸</h4>
<p>乾薑（炮）　黃連（去須）　縮砂仁（炒）　芎　阿膠（銼，蛤粉炒）　白朮（各一兩）　乳香（別研，三錢）　枳殼（去瓤，炒，半兩）</p>
<p>上為細末，用鹽梅三個，取肉，入少醋糊同杵勻和，如梧桐子大，每服四十丸。白痢乾薑湯</p>
<h4>當歸芍藥湯</h4>
<p>治妊娠腹中　痛，下痢，心下急滿。白芍藥　白茯苓　當歸（去蘆，酒浸）　澤芎（以上各一兩）　白朮（一兩半）</p>
<p>上為細末，每服三錢，溫酒調服，米飲亦可，空心食前。忌生冷。</p>
<p>第十問：妊娠外感風寒，渾身壯熱，眼暈頭旋者何如？答曰：蓋因風寒客於皮膚，傷於榮衛系，不</p>
<h4>芎蘇散</h4>
<p>紫蘇葉　川芎　白芍藥　白朮　麥門冬（去心）　陳皮（去白）　干葛（以上各一兩）</p>
<p>甘草（炙，半兩）</p>
<p>上　咀，每服四錢，水一盞半，生薑五片，蔥白二寸，煎至八分，去滓，溫服，不拘時候。</p>
<h4>百合散</h4>
<p>治妊娠風熱相交，咳嗽痰多，心胸滿悶。</p>
<p>百合（蒸）　紫菀茸（洗）　貝母（去心）　白蘆，炒。各一兩）　甘草（炙，半兩）</p>
<p>上　咀，每服四錢，水一盞半，薑五片，煎至八分，去滓，溫服，不拘時候。</p>
<h4>羚羊角散</h4>
<p>治妊娠中風，頭項強直，筋脈攣急，言語蹇澀，痰涎不消，或發搐不省人事，名亦宜服之。</p>
<p>羚羊角（鎊）　川獨活（去蘆）　酸棗仁（炒，去殼）　五加皮（去木。各半苡仁（炒）　防風（去蘆）　當歸（去蘆，酒浸）　川芎　茯神（去木）　杏仁（去皮尖。</p>
<p>各上　咀，每服四錢，水一盞，生薑五片，煎至七分，去滓，溫服，不拘時候。</p>
<p>第十一問：妊娠瘧疾者何？答曰：榮衛虛弱，脾胃不足，或感風寒，或傷生冷，傳成瘧疾，</p>
<h4>驅邪散</h4>
<p>高良薑（銼，炒）　白朮　草果仁　橘紅　藿香葉　縮砂仁　白茯苓（去皮。各一兩）　甘草（炙，半兩）</p>
<p>上　咀，每服四錢，水一盞半，生薑五片，棗子一枚，煎至八分，去滓，溫服，不拘時候。</p>
<p>第十二問：妊娠喘急，兩脅刺痛脹滿者何？答曰：蓋因五臟不利，氣血虛羸，因食生冷，或平</p>
<h4>平安散</h4>
<p>厚朴（去皮，薑汁製）　生薑（各二兩）　乾薑（炮）　陳皮（去白。各一錢）　川芎（上　咀，每服四錢，水一盞半，入鹽一捻，煎至一盞，去滓，通口服，不拘時候。亦宜服紫蘇飲。（方載第六問下）</p>
<p>第十三問：妊娠頭旋目暈，視物不見，腮項腫核者何？答曰：蓋因胎氣有傷肝臟，毒熱上攻，太陽穴痛，嘔逆，背項拘急，致令眼暈生花，若加涎壅，危在片時，急煎消風散散之。</p>
<h4>消風散</h4>
<p>石膏（　）　甘菊花（去枝梗）　防風（去蘆）　荊芥穗　川羌活（去蘆）　羚羊角（鎊）</p>
<p>川芎　大豆黃卷（炒）　當歸（去蘆，酒洗）　白芷（各一兩）　甘草（炙，半兩）</p>
<p>上　咀，每服四錢，水一盞半，入好茶半錢，煎至八分，去滓，通口服，食後。有一妊婦轉只服四物東加荊芥、防風，更於眼科對第四十九轆轤轉關證，服天門冬飲子。但以此二般藥間服，目漸稍明，大忌酒面、煎炙、燒爆、雞、羊、鵝、鴨、豆腐、辛辣，一切毒食，並房勞及稍溫藥，如其不然，眼不復明也。蓋此證為懷身娠，多居火閣，衣著　褥濃蓋，伏熱在裡，或服補藥，因食熱物太過，致令胎熱，肝臟壅極，風充入腦所致。</p>
<h4>天門冬飲子</h4>
<p>天門冬（去心）　知母　茺蔚子（各一兩）　防風（去蘆，半兩）　五味子　茯皮）　川羌活（去蘆）　人參（各七錢半）</p>
<p>上　咀，每服四錢，水一盞半，生薑三片，煎至八分，去滓，食後，溫服。</p>
<p>第十四問：小腹虛脹者何？答曰：因食硬物，傷妊娠，既受病，傳於脾胃，脾胃氣虛，冷逼</p>
<h4>勝金散</h4>
<p>吳茱萸（去枝梗，酒浸，炒）　陳皮（去白）　干生薑　乾薑（炮）　川芎（各一錢半）</p>
<p>厚朴（去皮，薑炒）　縮砂仁（炒）　甘草（炙。各三錢）</p>
<p>上為細末，每服二錢，鹽湯調服，不拘時候。</p>
<p>第十五問：將產忽見橫倒者何？答曰：不能忌口，恣情多食，五臟氣滯，六腑不和，胎氣既</p>
<h4>金液丸</h4>
<p>飛生毛（火燒，如腋下毛尤佳，半錢）　血余（無病女人發，燒灰）　公母羊糞（燒灰。</p>
<p>各子，傾上為細末，用粽子角為丸，如綠豆大，遇難產急難，以倒流水吞下五丸，兒身自順，則正產</p>
<h4>催生鉛丹</h4>
<p>治橫逆難產。</p>
<p>黑鉛（一錢，小銚子火上熔，投水銀二錢，急攪，結成砂子，傾丸子，如綠豆大，臨蓐香水吞下二丸，立便生。）</p>
<p>上譬如停水滅火，積年無用，偶爾不虞，乃救一時之急也。所謂胎前數證危急，產後亦然，湯散，</p>
<h4>催生如聖散</h4>
<p>黃蜀葵子（不拘多少）</p>
<p>上為細末，每服二錢，用熱酒調服，如不飲酒，熱湯亦得。</p>
<h4>香桂散</h4>
<p>下死胎。</p>
<p>麝香（半錢，別研）　官桂（三錢，為末）</p>
<p>上件和勻，只作一服，溫酒調服，須臾，如手推下。</p>
<p>第十六問：欲產忽然氣血暈悶，不省人事者何？答曰：本因用力太過，脈理衰微，精神困倦，心胸痞悶，眼暈口噤，面青發直，命在須臾，急服靈藥。</p>
<h4>來蘇散</h4>
<p>木香（不見火）　神麯（銼，炒）　陳皮（去白）　麥　（炒）　黃　（去蘆）　生薑（切，炒三錢）　甘草〔上　咀，每服四錢，水一盞，煎至八分，去滓，斡開口灌，連接煎，再灌，知人事，可謂更第十七問：胞肥臨產難生者何？答曰：身居富貴，口厭甘肥，聚樂不常，食物無度，既飽便生，</p>
<h4>無憂散</h4>
<p>當歸（去蘆，酒浸）　川芎　白芍藥（各三錢）　木香（不見火）　甘草（炙。各一錢半）　枳殼（去瓤，麩炒）　乳香（別研。各三錢）　血余（發灰一錢半，以　豬心血和之）</p>
<p>上為細末，每服二錢，水一盞，煎至八分，日進二服，不拘時候。</p>
<p>第十八問：坐草驀然氣痿目翻口噤者何？答曰：蓋因恣意喜怒，遂致衛竭榮枯。胎轉難動兩</p>
<h4>霹靂奪命丹</h4>
<p>蛇蛻（一條，入瓦瓷罐內　）　千裡馬（路上左腳舊草鞋一雙，淨洗，燒灰一錢銀箔（各七片）　發灰（一錢）　馬鳴蛻蠶蛻，燒灰，一錢）乳香（半錢，別研）　黑鉛（二錢半，水銀七分半，依十五問中法修用）</p>
<p>上細末，以　豬心血為丸，如梧桐子大，倒流水灌下二丸，如灌不行，化開灌效。</p>
<h3>校正郭稽中產後二十一論治</h3>
<p>第一論曰：熱病胎死腹中者何？答曰：因母患熱病，至六、七日以後，臟腑熱極，熏煮其胎又有禁忌及立便逐下，的知其胎死，則進香桂散，須臾，如手推下。</p>
<h4>黑神散</h4>
<p>此方產後無所不治。</p>
<p>當歸（去蘆，酒浸）　芍藥　乾薑（炮）　官桂（不見火）　甘草（炙）　生地黃（洗。</p>
<p>各一兩）　黑豆（炒去皮，淨，二兩　）附子（炮，去皮臍，半兩）</p>
<p>上研羅為細末，每服二錢匕，溫酒調下。又方不用附子，入蒲黃，二物並用尤佳。香桂散（第二論曰：胎衣不下者何？答曰：母生子訖，血流入衣中，衣為血所脹，是故不得下。</p>
<p>治之胎胎底灸熱，熨小腹上下，三、五次，立效。</p>
<h4>奪命丹</h4>
<p>附子（炮，去皮臍，半兩）　牡丹皮（一兩）　乾漆（一兩）</p>
<p>上為細末，用酸醋一升，大黃末一兩，同熬成膏，和藥丸，如梧桐子大，溫酒吞下五、七第三論曰：難產者何？答曰：胎成之後，子居腹中，每食母血，食血有餘，遂成積塊，謂之全報飲，</p>
<h4>勝金散</h4>
<p>麝香（一錢）　鹽豉（一兩，舊青布袋裹，燒令紅，急以乳錘研令細）</p>
<p>上為細末，取秤錘燒紅，以酒淬之，調下藥一錢匕。催生獨勝散（方載產前十五問下）　紫蘇第四論曰：產後血暈者何？答曰：產後血暈。因產所下過多，血氣虛極，是故暈悶，甚則昏瘥。如芎　湯、黑龍丹皆要藥也。或以乾漆燒煙沖</p>
<h4>清魂散</h4>
<p>澤蘭葉　人參（去蘆。各一兩）　荊芥穗（四兩）　川芎（二兩）　甘草（炙，八錢）</p>
<p>上為細末，每服一錢重，熱湯溫酒各小半盞，調勻，急灌之，下咽喉則眼開氣定，省人事。</p>
<h4>芎湯及黑龍丹</h4>
<p>（方並載產後雜病論治下。）</p>
<p>第五論曰：產後口乾痞悶者何？答曰：產後血氣暴虛，脾胃頓弱，食面太早，停聚胃脘，面毒觸忤膈之</p>
<h4>見現丸</h4>
<p>高良薑（銼，炒）　薑黃　蓽澄茄　陳皮（去白）　莪朮（炮，切）　人參　京三棱上為細末，用蘿卜慢火煮令爛，研細，將余汁煮面糊和丸，如梧桐子大，不拘時候。用蘿卜第六論曰：產後乍寒乍熱者何？答曰：因產勞傷氣血。蓋血屬於陰，氣屬於陽，血氣一傷，胞胎，亦令人寒熱，但小腹痛急為異爾。陰陽不和，宜服增損四物湯；敗血停留，宜服奪命丹</p>
<h4>增損四物湯</h4>
<p>當歸（去蘆，酒浸）　白芍藥　川芎　乾薑（炮）　人參（各一兩）　甘草（炙，半兩）</p>
<p>上為　咀，每服四錢重，水一盞，薑三片，同煎至六分，去滓，微熱服，不拘時候。</p>
<p><u>奪命丹</u></p>
<p>第七論曰：產後四肢虛腫者何？答曰：母生子訖，例服黑神散及芎　湯者，取其逐瘀血以生新血也。倘惡露不盡，停留胞絡，生病多端，輕者為脹、為痛、為寒、為熱，甚者脈不調循經流入四肢，留淫日深，腐壞如水，致令浮腫，醫者不審，便作水氣治之，投以甘遂、大戟等藥，以導其水，虛之復虛，因茲夭枉者多矣。但服調經散血行腫消，自然良已。黑龍丹亦治產後浮腫血滯所致，不可不知。</p>
<h4>調經散</h4>
<p>沒藥（別研）　琥珀（別研。各一錢）　肉桂（不見火）　赤芍藥　當歸（去蘆，酒浸。各一兩）　麝香（半錢，別研）　細辛（洗，半錢）　甘草（炙，二錢）</p>
<p>上為細末，每服半錢重，生薑汁溫酒各少許，調勻服。黑龍丹（方載產後雜病證治下）</p>
<p>第八論曰：產後乍見鬼神者何？答曰：肝能藏血，心能主血，因產走耗其血，勞動肝心，敗服第九論曰：產後不語者何？答曰：心者君主之官，神明出焉。內候血海，外應於舌，舌者心</p>
<h4>八珍散</h4>
<p>人參　石菖蒲　生地黃（酒蒸，焙）　川芎（各一兩）　朱砂（別研）　防風（去蘆。</p>
<p>各半兩）　細辛（洗淨，一錢）　甘草（炙，半兩）</p>
<p>上為細末，每服一錢，薄荷湯調下，不拘時候。地黃多喜戀膈，脾胃不快者以當歸代之，其第十論曰：產後腹痛又瀉痢者何？答曰：因產血氣勞傷，外則腠理空疏，內則腸胃虛怯，若刺，化，血。</p>
<p><u>調中湯</u></p>
<p>良薑（銼，炒）　當歸（去蘆，酒浸）　肉桂（不見火）　白芍藥　附子（炮，去皮臍上　咀，每服三錢，水二盞，煎至一盞，去滓，熱服，空心食前。</p>
<p>第十一論曰：產後遍身疼痛者何？答曰：因產走動血氣，升降失其常度，留滯關節，筋脈引可作</p>
<p><u>趁痛散</u></p>
<p>川牛膝（去蘆，酒浸）　川當歸（去蘆，酒浸）　官桂（不見火）　白朮　黃　（去蘆）</p>
<p>川獨活（去蘆）　生薑（各半兩）　薤白（二錢半）　甘草（炙，三錢）</p>
<p>上　咀，每服四錢，水一盞半，煎至八分，去滓，熱服，不拘時候。加桑上寄生半兩尤佳。</p>
<p>氣少不能腹中滿痛愈。若以</p>
<h4>麻仁丸</h4>
<p>麻子仁（別研）　枳殼（去瓤，麩炒）　人參　大黃（各半兩）</p>
<p>上為細末，煉蜜為丸，如梧桐子大，每服五十丸，溫湯米飲任下。未通加丸數。</p>
<p><u>橘杏丸</u></p>
<p>（方第十三論曰：產後血崩者何？答曰：因產所下過多，血氣暴虛，未得平復，或因勞役，或因為難小腹丸止</p>
<h4>固經丸</h4>
<p>赤石脂（　）　艾葉　補骨脂（炒）　木賊（各半兩）　附子（一枚，炮，去皮臍）</p>
<p>上為細末，陳米飲和丸，如梧桐子大，食前溫酒送下五十丸，米飲亦可。</p>
<h4>十灰丸</h4>
<p>（方載崩漏論下）</p>
<p>第十四論曰：產後腹脹悶滿嘔吐者何？答曰：胃受水穀，脾主運化，主血生氣，內濡臟腑者亦露過多者，於抵聖湯中去澤蘭、赤芍藥，倍加生薑、橘皮也。</p>
<p>抵聖湯　赤芍藥　半夏（湯泡）　澤蘭葉　陳橘皮（去白）　人參〔各一錢（分）〕　甘草（炙，上　咀，每服四錢，水一盞半，煎至七分，去滓，溫服，不拘時候。</p>
<p>第十五論曰：產後口鼻黑氣起，鼻衄者何？答曰：陽明者經脈之海，起於鼻，交額中，還出故令上遇此疾，急取緋線二條，並產婦頂心發二條，系中指上節，即止。無藥可療，亦厭禳之一第十六論曰：產後喉中氣急喘者何？答曰：榮者血也，衛者氣也，榮行脈中，衛行脈外，相孤喘</p>
<p><u>奪命丹</u></p>
<p>（方見第二論下）</p>
<p>第十七論曰：產後中風者何？答曰：蓋因產後傷動血氣，勞損經絡，腠理空疏，勞役太早，病焉續命或因人作</p>
<h4>小續命湯</h4>
<p>治婦人產後失血中風，冒昧不知痛處，拘急不得轉則，四肢緩急，遺失便利。（風門中風論治）</p>
<p>第十八論曰：產後心痛者何？答曰：心者血之主，人有伏宿寒，因產大虛，寒搏於血，血凝絡通心痛</p>
<h4>大岩蜜湯</h4>
<p>熟地黃（酒蒸，焙）　當歸（去蘆，酒浸）　川獨活（去蘆）　乾薑（炮）　吳茱萸（炒）　桂心（不見火）　白芍藥　小草（各一兩）　甘草（炙）　細辛（各半兩）</p>
<p>上　咀，每服半兩，水二大盞，煎至一盞，去滓，微熱服，不拘時候。　玄胡索湯（方載婦人血氣論治下）</p>
<p>第十九論曰：產後熱悶氣上轉為香港腳者何？答曰：產後血虛生熱，復因春夏取涼過度，地之服小薑。</p>
<h4>獨活寄生湯</h4>
<p>（方見香港腳門香港腳論治）</p>
<p>第二十論曰：產後汗出多而變痙者何？答曰：產後血虛，肉理不密，故多汗，因遇風邪搏之氣息不上方不特治產婦，凡婦女偶中此疾，急以此藥灌之，無不愈者。或服他藥，則不及矣！第二十一論曰：產後所下過多虛極生風者何？答曰：婦人以血為主，因產下血過多，氣無所若濟危上丹　太陰玄精（石別研）　乳香（別研）　五靈脂　硫黃（別研）　桑上寄生　陳皮（去白）</p>
<p>上將上四味同研勻，石器內微火炒勿令焦了，再研極細，復入余藥末，用生地黃汁煮糊為丸</p>
<h3>產後雜病論治</h3>
<h4>黑龍丹</h4>
<p>治妊娠臨產難生，或胎衣不下，產後血暈，不省人事，狀如中風，血崩惡露不止，刺痛，血滯浮腫，血入心經，語言顛倒，如見鬼神，血風相搏，身熱頭痛，或類瘧狀，產後，一切危急野狼狽垂死，以此藥灌三四丸，無不救活者。</p>
<p>五靈脂　當歸（去蘆，酒浸）　生地黃　川芎　高良薑（銼。各一兩）</p>
<p>上細銼，入沙鍋內，紙筋鹽泥固濟，炭火　通紅，候火滅，冷取出，細研，入後藥：百草霜（五兩）　乳香　生硫黃　琥珀　花蕊石（各一錢）</p>
<p>上五味，並研細末，同前藥和勻，米醋煮面糊為丸，如彈子大，要服用火　藥通紅，投入生</p>
<h4>當歸羊肉湯</h4>
<p>治產後發熱，自汗，肢體痛，名曰蓐勞。</p>
<p>當歸（去蘆，酒浸）　人參（各七錢）　黃　（去蘆，一兩）　生薑（半兩）</p>
<p>上　咀，用羊肉一斤，煮清汁五大盞，去肉入前藥煎四盞，去滓，作六、七服，早晚三、四</p>
<h4>豬腰子粥</h4>
<p>治產後蓐勞發熱。</p>
<p>豬腰子（一只）</p>
<p>上去白膜，切作柳葉片，少鹽酒拌之，先用粳米一合，入蔥椒煮粥，鹽醋調和，將腰子鋪碗底，用熱粥蓋之，如作　生粥狀吃之，每日空心作粥極妙。</p>
<h4>芎歸湯</h4>
<p>治大產小產，對證加添服餌。（方見眩暈門眩暈論治）</p>
<p>腹中刺痛，加白芍藥；口乾煩渴，加烏梅、麥門冬；發寒熱，加乾薑、白芍藥；水停心下，仁；半夏</p>
<h4>漏蘆散</h4>
<p>治乳婦氣脈壅塞，乳汁不行。</p>
<p>漏蘆（二兩半）　蛇蛻（炙，一十條）　栝蔞（十個，急火燒存性）</p>
<p>上作細末，每服二錢，溫酒調下，不拘時候，仍吃熱養助之。</p>
<h4>鐘乳粉散</h4>
<p>治乳婦氣少血衰，脈澀不行，乳汁絕少。成煉鐘乳粉上細羅，每服二錢，濃煎漏蘆湯調下，不拘時候。</p>
<h3>血瘕論治</h3>
<p>腹中之病，經書所載有積有聚，有癖有疝，有症有瘕。蓋積者，五臟所積，其痛不離其部；也，寒溫夫，水往攻刺者生</p>
<h4>琥珀丸</h4>
<p>治婦人血瘕，腹中有塊攻刺，小腹痛重，或腰背相引而痛，久而不治，黃瘦羸乏。</p>
<p>琥珀（別研）　白芍藥　川烏（炮，去皮）　川牛膝（去蘆，酒浸）　鱉甲（醋炙）　蓬莪朮（炮）　當歸（去蘆，酒浸）　梓厚朴（薑製炒。各一兩）　木香（不見火）　澤蘭葉　官桂（不見火。各上為細末，酒糊為丸，如梧桐子大，每服七十丸，空心，溫酒米飲任下。</p>
<h4>三棱煎丸</h4>
<p>治婦人室女血瘕，月經不通，臍下堅結，大如杯升，久而不治，必成血蠱。</p>
<p>京三棱　莪朮（各二兩）　芫花（半兩）　青皮（去瓤淨，一兩半）</p>
<p>上銼如豆大，用好醋一升，煮干，焙為細末，醋糊為丸，如梧桐子大，每服五十丸，食前，通經丸　治室女月經不通，臍下堅結，大如杯，發則寒熱往來，此名血瘕。</p>
<p>當歸（去蘆乾薑（炮）　桃仁（去皮放地上密蓋，出汗。各一錢上十味為末，將一半用醋煮熬成膏，一半入雞子清同搗勻，丸如桐子大，每服二十丸，空心</p>
<h4>六合湯</h4>
<p>治婦室經事不行，腹中結塊疼痛，腰痛腿痛。</p>
<p>當歸（去蘆，酒浸）　白芍藥　官桂（去皮）　熟地黃（洗）　川芎　莪朮（炮。各等分）</p>
<p>上　咀，每服四錢，水一盞，煎至七分，去滓，空心溫服。</p>
<h4>當歸丸</h4>
<p>治婦人月經不調，血積證。</p>
<p>當歸　赤芍藥　川芎　熟地黃　黃　京三棱（各半兩）　神麯　百草霜（各二錢半）</p>
<p>上為細末，酒糊為丸，梧桐子大，水下三十丸，食前服。</p>
<h3>婦室搐搦論治</h3>
<p>婦人室女，有生平無病者，一旦忽感手足搐搦之證，痰涎壅塞，精神昏憒，不省人事，醫者愆期生風先宜多虛者</p>
<h4>白薇丸</h4>
<p>白薇　紫石英（火　，醋淬七次）　琥珀（別研）　白芍藥　桂心（不見火）　川續斷（酒浸）　防風（去蘆）　山茱萸（取肉）　當歸（去蘆，酒浸）　柏子仁（炒）　川烏（炮，去皮尖）</p>
<p>上為細末，生薑自然汁打米糊為丸，如梧桐子大，每服七十丸，空心食前，溫酒米飲任下。</p>
<h4>澤蘭丸</h4>
<p>當歸（去蘆，酒浸）　澤蘭葉　琥珀（別研）　羚羊角（別鎊，研）　防風（去蘆）　牡丹芍藥（上為細末，煉蜜為丸，如梧桐子大，每服七十丸，空心食前，溫酒米飲任下。</p>
<h3>求子論治</h3>
<p>素問云：夫天地者，萬物之父母也。陰陽者，血氣之男女也。夫有夫婦則有父子，婚姻之後精，陰胎女必婦疹方調</p>
<h4>抑氣散</h4>
<p>治婦人氣盛於血，所以無子，尋常頭暈膈滿藥，不可謂其耗氣而勿服。</p>
<p>香附子（炒，杵淨，四兩）　茯神（去根）　甘草（炙。各一兩）</p>
<p>上為細末，每服二錢，食前用沸湯調服，仍兼進紫石英丸。</p>
<h4>紫石英丸</h4>
<p>治婦人血弱，子臟風冷凝滯，令人少子。</p>
<p>紫石英（　，醋淬七次）　禹餘糧（火　，醋淬七次。以上各二兩）　熟地黃　紫葳　辛夷仁　桂心（不見火）　卷柏葉（醋炙）　牡蒙　川續斷（酒浸）　石斛（去根）　柏子仁（炒，別研）　川烏（炮，去皮）</p>
<p>歸（去蘆，酒浸）　牡丹皮（去木）　甘草（炙。以上各一兩）　桑上食茱萸（炒）　細辛（洗去土葉）　乾薑（炮）　人參　厚朴（薑汁製，炒。各半兩）　天門冬（洗，去心，一兩半）</p>
<p>上為細末，煉蜜為丸，如梧桐子大，每服七十丸，加至一百丸，空心食前，用溫米飲任下。</p>
<h4>陽起石丸</h4>
<p>治丈夫真精氣不濃，不能施化，是以無子。</p>
<p>陽起石（火　紅，研極細）　鹿茸（酒蒸焙，別研細末）　天雄（炮，去皮）　肉蓯蓉（酒（去根）　桑寄生　沉香（別研）　原蠶蛾（酒炙）　五味子（上為細末，酒煮糯米糊為丸，如桐子大，每服七十丸，空心，鹽湯鹽酒任下。</p>
<h2>癰疽疔腫門</h2>
<p>（附：　）</p>
<h3>癰疽論治</h3>
<p>夫發背癰疽者，諸方載之備矣。夫癰疽，本乎一證，然受病之所，與外證頗有異焉。蓋癰者五臟主裡，其氣深，故疽皮濃而腫堅。</p>
<p>溫床濃被，盡力房室，或外因風熱，生癰，陰滯於陽則生疽。凡此二毒，洒淅惡寒，若有痛處，乃發癰也。脈陰也，速療。速療之法，初覺之時，並宜灼艾，痛則灸至癢，癢則灸若不早治，脊痛滋蔓，結成癰疽，卻當詳其虛實，分其冷熱，之，實則瀉之，導以針石，灼以艾柱，治法合宜，未有不全濟不可不別，古人所謂五善七惡是也。煩躁時嗽，腹痛渴甚，或也；膿血大泄，腫痛尤甚，膿色敗臭，痛不可近，二惡也；喘目視不正，黑睛緊小，白睛青，瞳子上青者，四惡也；肩項下食，服藥則嘔，食不知味，六惡也；聲嘶色脫，唇鼻青赤寧，食飲知味，一善也；便利調勻，二善也；膿潰痛消，色聲清朗，四善也；體氣和平，五善也。若五善見三，則瘥。</p>
<p>則善無以加也，時直者，身有脈微澀者易愈屢試屢效，謾嵇論治法　嵇云：金人大定間，有遇異人傳狗寶丸，得之者以獻之偽主，其後，嵇乃事偽朝以狗毒勢腫，瘡之以助當乳於嵇云：疽之證甚惡，多有陷下透骨者，服狗寶丸，瘡四邊必起，依前法用烏龍膏、解毒散訖去死去，藥，乃</p>
<h4>狗寶丸</h4>
<p>專治癰疽發背，附骨疽，諸般惡瘡。</p>
<p>狗寶（一兩，生用，癩狗腹中得之）　蟾酥（黃　砂　輕粉　麝香　鉛白霜　粉霜（別研。以上各腳足炙黃色，研如泥）　烏金石（即石炭，袁州萍鄉縣有之用之，去皮，臘月者尤佳）　狗膽（一個，干者用之，去皮，黑兒乳（一合）　黃蠟（三錢）</p>
<p>上先將頭胎兒乳，黃蠟，放在銚內，文武火化開，用前藥末和成劑，放在瓷器內，要用，旋腰以下病食前服，腰以上食後服，如人行三裡，用熱蔥白粥投之，即以衣被蓋定，汗出為度。以後只吃瓜齏白粥，常服十奇散，留頭四邊，以烏龍膏貼之。</p>
<h4>烏龍膏</h4>
<p>治一切癰疽腫毒，收赤暈。</p>
<p>木鱉子（去殼）　半夏（各一兩）　小粉（四兩）　草烏（半兩）</p>
<p>上於鐵銚內，慢火炒，令轉焦，為細末，出火毒，再研細，以冷水調敷，一日一換。</p>
<h4>解毒散</h4>
<p>去熱腫，收赤暈。</p>
<p>寒水石（二兩）　龍骨（半兩）　黃連（去須）　黃柏（各一兩）　輕粉（一錢）</p>
<p>上為細末，和雞子清調，以雞羽掃瘡上。若是熱瘡，加黃丹半兩。</p>
<h4>乳香膏</h4>
<p>木鱉子（去殼，細銼）　當歸（各一兩）　柳枝（二八寸，銼之）</p>
<p>上同以麻油四兩，慢共研細，入油煎化，用綿濾之）</p>
<p>上再事治之，煉藥鐵銚令極淨，再傾前藥油蠟在內，候溫，入黃丹一兩半，以兩柳枝攪極得春夏</p>
<h4>追毒丹</h4>
<p>治諸瘡黑陷者。先用狗寶丸治，次以烏龍膏收腫，散毒，去赤暈，乃用針刀開瘡，毒丹，使之潰，然後去敗肉排膿，隨證治之。癰疽、丁瘡、附骨疽，並皆治之。</p>
<p>巴豆（（七粒，去皮心，不去油，研如泥）　白丁香（一錢）　雄黃　黃丹（各二錢）　輕粉（一錢）　加蟾酥尤神速。</p>
<p>上件研和，加白面三錢，滴水為丸，如麥狀。針破瘡納之，上覆以乳香膏，追出膿血毒物，大</p>
<h4>生肌散</h4>
<p>寒水石（二錢）　黃丹（半錢）　龍骨（七錢）　輕粉（一錢）</p>
<p>上為細末，干敷，上貼以乳香膏。</p>
<h4>紅膏藥</h4>
<p>治軟癰及惡瘡，風濕所搏，渾身疼痛。</p>
<p>瀝青　白膠香〔各二錢（兩）〕　黃蠟（三錢）</p>
<p>上同於銚內煎化，量麻油三錢許，煎，濾於水盆中，揉成劑收之。每用於水內捻作餅子，隨揉紫</p>
<h4>十奇散</h4>
<p>（一名十宣散）</p>
<p>治癰疽化毒，未成速散，已成者速潰。</p>
<p>苦桔梗（去蘆）　川當歸（去汁制）　人參　防風（去蘆）　芎　白寸截，捶令扁，冷鹽水潤透，蒸焙）</p>
<p>上十味，各精選藥材，晒乾，焙至淨方秤，人參、當歸、黃　各二兩，余藥各一兩，除桂數服然</p>
<h4>五香連翹湯</h4>
<p>治疽作二日後，宜以此湯與漏蘆湯相間連日服之。</p>
<p>桑寄生（無真者，寧缺之）</p>
<p>蘆，生用）　升麻　木通　射干　川獨研）　大黃（銼，炒）　甘草（生。各半兩）</p>
<p>上為粗末，和勻，每服四大錢，水一盞，煎至八分，去滓，溫服，不拘時候。</p>
<h4>內托散</h4>
<p>豆粉（一兩）　乳香（別研，半兩）</p>
<p>上為末，和勻，熟水調服。一方煎生甘草湯調下少許，時時細呷之，要藥常在胸膈間。</p>
<p>凡有氣攻衝臟腑，漸作嘔吐，後來多致咽喉口舌生瘡，黑爛生菌，可進。如瘡發三五日之後，此藥但可間服，當別用藥以治療。</p>
<p>愈，不曾表汗，余毒在經絡，背發大疽，自肩下連腰脅腫甚，藥敷之，中夜大嘔，乃連進此藥四服，嘔遂止，既而瘡潰出赤瘰者，痛過輒嘔，服此藥嘔亦止，近見有人病疽，醫者不肯楊氏之言，以解世人之惑。</p>
<h3>肺癰論治</h3>
<p>夫肺癰者，由風寒之氣，內舍於肺，其氣結聚所成也。蓋肺為五臟之華蓋，其位象天，候於積不燥，止者</p>
<h4>桔梗湯</h4>
<p>治肺癰，心胸氣壅，咳嗽膿血，心神煩悶，咽乾多渴，兩腳腫滿，小便赤黃，大便桔梗（去蘆）　貝母（去心膜）　當歸（去蘆，酒浸）　栝蔞子　枳殼（去瓤，麩炒）　薏苡仁（炒）　桑白皮（蜜水炙）　防己（各一兩）　甘草節（生用）　杏仁（去皮尖，麩炒）</p>
<p>百合（蒸。各半兩）　黃　（去蘆，一兩半）</p>
<p>上　咀，每服四錢，水一盞半，生薑五片，煎至八分，去滓，溫服，不拘時候。若大便秘者</p>
<h4>葶藶散</h4>
<p>治肺癰喘咳氣急，眠臥不得。</p>
<p>甜葶藶（二兩半，隔紙炒令紫）</p>
<p>上為細末，每服二錢，水一中盞，煎至六分，溫服，不拘時候。</p>
<h4>排膿散</h4>
<p>治肺癰，得吐膿後，宜以此藥排膿補肺。</p>
<p>綿黃　（去蘆，二兩，生用）</p>
<p>上為細末，每服二錢，水一中盞，煎至六分，溫服，不拘時候。</p>
<h3>丁腫論治</h3>
<p>素問云：夫上古聖人之教下也，虛邪賊風，避之以時。人之有生，攝養為先，將理失宜，百風榮衛方。</p>
<p>五丁寒癢畔六人無嵇云：諸瘡莫急於丁瘡。有魚眼丁，多發於足，非神手不能治也。大凡治丁瘡，先以披頭針仍散嵇云：有絲瘡證，乃丁瘡之類，醫若不識，並無治法，害人最速。其瘡生手足間，有黃泡，生矣。此名內疳烙之，作枕，此證久即撒液不識，嵇云：治魚眼丁之法，先以針刺之，若痛則瘡根已走矣。用療漏瘡之法，以榆皮隨俞穴所則是活肌肉矣。即於針瘡，納蟾酥丹，覆以乳香膏，再於正瘡上針孔中，納蟾酥丹三二粒，乃覆以乳香膏，則其丁瘡之根，即向元所潰而愈。</p>
<h4>二黃散</h4>
<p>治丁腫雄黃　雌黃（各等分）</p>
<p>上二味為末，先用針刺四周及中心，醋和塗之。</p>
<h4>蒼耳散</h4>
<p>蒼耳根莖苗子，但取一色，燒為灰。</p>
<p>上為末，醋泔澱和如泥，塗上，干即拔根出，神驗。</p>
<h4>蟾酥丹</h4>
<p>蟾酥（一枚）</p>
<p>上為末，以白面和黃丹，丸如麥顆狀，針破患處，以一粒納之，神效。</p>
<h4>蒼金沙散</h4>
<p>取丁瘡。</p>
<p>蕪菁根　鐵生衣（各等分）</p>
<p>上和搗，以大針刺作孔。復削蕪菁根如針大，前鐵生衣塗上刺孔中，又塗所搗者封上，仍以</p>
<h4>灸法</h4>
<p>治丁腫，灸掌後橫紋五指，男左女右，七壯即瘥，已用得效。丁腫灸法雖多，然此一法甚驗，出於意表也。</p>
<h3>論治</h3>
<p>嵇云：癰之根腳淺而闊，倘治之遲，則有潰爛肌肉之患，若久而不合，則多為漏瘡，治癰已去皮嵇悉自嵇云：澄江治一婦人漏瘡，此婦人先於小腹下成一漏瘡，久又於背脊腰下成一瘡，嵇以榆枝</p>
<h2>疥癬門</h2>
<h3>瘡疥論治</h3>
<p>夫瘡疥之為病，雖若不害人，然而至難忍者多矣。素問云：諸痛癢瘡，皆屬於心。多由心氣種</p>
<h4>當歸飲子</h4>
<p>治心血凝滯，內蘊風熱，發見皮膚遍身瘡疥，或腫，或癢，或膿水浸淫，或發赤當歸（去蘆）　白芍藥　川芎　生地黃（洗）　白蒺藜（炒，去尖）　防風（去蘆）</p>
<p>荊芥穗（各一兩）　何首烏　黃　（去蘆）　甘草（炙。各半兩）</p>
<p>上　咀，每服四錢，水一盞半，薑五片，煎至八分，去滓、溫服，不拘時候。</p>
<h4>神異膏</h4>
<p>治一切瘡疥。</p>
<p>全蠍（七個，去毒）　皂角（一錠，銼碎）　巴豆（七粒，去殼）　蛇油（一兩）　黃蠟（半兩）　輕粉（半字）　雄黃（別研，三錢）</p>
<p>上先用皂角、全蠍、巴豆煎油變色，去了三味，入黃蠟化開，取出冷處，入雄黃、蛇床末、</p>
<h4>苦參湯</h4>
<p>苦參　蛇床子　白礬　荊芥穗（各等分）</p>
<p>上四味煎湯，放溫洗。</p>
<h4>竹茹膏</h4>
<p>治黃瘡熱瘡。</p>
<p>真麻油（二兩）　青木香〔半（二）兩〕　青竹茹（一小團）　杏仁〔二十（七）粒，去皮尖〕</p>
<p>上用藥入麻油內，慢火煎令杏仁色黃，去滓，入松脂末半兩，熬成膏子，每用少許擦瘡上。</p>
<h3>癬論治</h3>
<p>夫癬之為病，種狀不同。古方所謂干癬、濕癬、風癬、苔癬之類。癮疹如錢，漸漸滋蔓，或</p>
<h4>胡粉散</h4>
<p>治一切癬，神效。</p>
<p>胡粉（一分）　砒（半分）　大草烏（一個，生用）　蠍梢（七枚）</p>
<p>分）　硫黃（別研，一分）　斑蝥（一枚）　麝香（少許）</p>
<p>上八味，為細末，先用羊蹄根蘸醋擦動，次用藥少許擦患處。</p>
<h2>癭瘤瘰門</h2>
<h3>癭瘤論治</h3>
<p>夫癭瘤者，多由喜怒不節，憂思過度，而成斯疾焉。大抵人之氣血，循環一身，常欲無滯留肉之癭、治療之法，五癭不可決破，破則膿血崩潰，多致夭枉。六瘤五證，亦不可輕易決潰，慎之！慎之！</p>
<h4>破積散</h4>
<p>治石癭、氣癭、筋癭、血癭、肉癭等證。</p>
<p>海藻（洗）　龍膽　海蛤　通草　昆布（洗）　貝母（去心，二分）　礬（枯）　松蘿（各三分）　麥曲（四分）　半夏（二分，湯泡）</p>
<p>上為細末，酒服方寸匕，日三。忌甘草、鯽魚、豬肉、五辛、菜諸雜等物。</p>
<h4>南星膏</h4>
<p>治皮膚頭面生瘤，大者如拳，小者如粟，或軟或硬，不疼不痛，無藥可療，不可輒灸。</p>
<p>生南星（大者一枚，去土，薄切）</p>
<p>上細研，稠黏如膏，滴好醋五、七滴。如無生者，以干者為末，投醋研如膏，先將小針刺病處，令氣透，以藥膏攤紙上，象瘤大小貼，覺癢，三、五易瘥。</p>
<h4>昆布丸</h4>
<p>治一切癭瘤，不問新久。</p>
<p>昆布（一兩，洗）　海藻（一兩，洗）　小麥（一兩，好醋煮干）</p>
<p>上三味為細末，煉蜜為丸，如杏核大，每服一丸，食後噙咽。</p>
<h3>瘰論治</h3>
<p>夫瘰　之病，即九漏是也。古方所載，名狀不一，難以詳述。及其生也，多結於項腋之間，累累大小無定，發作寒熱，膿水潰漏，其根在臟腑。蓋肝主野狼漏，胃主鼠漏，大腸主螻蛄漏，脾主蜂漏，肺主蚍蜉漏，心主蠐螬漏，膽主浮蛆漏，腎主瘰　漏，小腸主轉脈漏。原其所自，多因寒暑不調，或由飲食乖節，遂致血氣壅結而成也。巢氏所載：決其生死，反其目以視之，其中有赤脈從上下貫瞳子，見一脈一歲死，見一脈半一歲見二脈半二歲半死，見三脈三歲死，赤脈不下貫瞳子可治。三因云理宜然也。平時有一、二治法，用之已驗，謾錄於後。</p>
<h4>皂子丸</h4>
<p>治瘰　滿項不破，及結核腫痛者。</p>
<p>好皂角子（一升）　玄參　連翹仁（各一兩）</p>
<p>上用水五升，砂鍋內慢火煎，水盡為度，每服揀取好皂角子，軟者三粒，食後臨臥時，細嚼津下，硬者搗爛蜜和，如榛子大，含化。半月必瘥。忌酒、面、熱、毒物。</p>
<h4>三聖丸</h4>
<p>治瘰　。</p>
<p>丁香（五十個）　斑蝥（十個）　麝香（一錢，別研）</p>
<p>上細末，用鹽豉五十粒，湯浸研如泥，和前藥令勻，丸如綠豆大，每服五、七丸，食前，溫酒送下。日進三服。如至五、七日，外覺小便淋瀝，是藥之效，便加服。或便下如青筋膜之</p>
<h4>連翹丸</h4>
<p>治瘰　、結核，破或未破者。</p>
<p>薄荷（二斤，裂取汁，新者）　好皂角（一挺，水浸，銀石器內熬成膏。）　青皮（一兩）　連翹（半兩）　陳皮（一兩火炮，去皮，取皂子仁，搗羅為末，一兩半）　黑牽牛（一兩半，半生半上五味為末，用前膏子為丸，如梧桐子大，每服三十丸，煎連翹湯送下，食後，十日見效。</p>
<h2>五痔腸風臟毒門</h2>
<h3>五痔論治</h3>
<p>痔凡有五，即牡痔、牝痔、腸痔、脈痔、血痔是也。素問云：困而飽食，筋脈橫解，腸為痔。多由飲食不節，醉飽無時，恣食肥膩，久坐濕地，情欲耽著，久忍大便，遂使陰陽不和，關格壅塞，風熱下衝，乃成五痔。肛門生妒，或左或右，或內或外，或狀如鼠奶，或形似嬰桃，或切不可妄</p>
<h4>皮丸</h4>
<p>治五種痔漏及蠱痔下血。</p>
<p>豬左足懸蹄（燒灰存性）　皮（一枚，燒灰存性）　黃牛角子（炒）　雷丸　雞冠花　槐花（炒）　油發灰　黃　（去蘆）　香酒浸）　枳殼（去瓤，生用）　玄參　黃連（去須）　防風（去蘆）　鱉甲（醋煮麝香（別研，半錢）</p>
<p>上為細末，米糊為丸，如梧桐子大，每服七十丸，加至一百丸，空心米飲送下。年高虛弱，</p>
<h4>黃丸</h4>
<p>治五痔出血疼痛。</p>
<p>藤子（煨，用肉，半兩）　川續斷（酒浸）　黃　（去蘆）　貫眾　附子（炮，去皮臍）　枯礬（別研）　刺　皮（燒灰）　當歸（去蘆，酒浸）　阿膠（蛤粉炒。各一兩）　麝香（別研，一字）</p>
<p>上為細末，米糊為丸，如梧桐子大。每服七十丸，空心，米飲送下，氣壯多熱之人不宜服此</p>
<h4>蝸牛膏</h4>
<p>敷痔有效。</p>
<p>蝸牛（一枚）　麝香（三分）</p>
<p>上用小砂合子盛蝸牛，以麝香糝之，次早取汁，塗痔處。</p>
<h4>枯礬散</h4>
<p>治五痔癢多痛少，或膿或脹，或漏血不止。</p>
<p>白礬（枯，半錢）　腦子（一字，別研）</p>
<p>上二味為末，先用魚腥草煎湯，放溫洗痔，次用藥少許摻患處。</p>
<h3>腸風臟毒論治</h3>
<p>夫腸風臟毒下血者，皆由飽食過度，房室勞損，坐臥當風，恣餐生冷，或啖炙爆，或飲酒過故不血</p>
<h4>加減四物湯</h4>
<p>治腸風下血不止。</p>
<p>側柏葉　生地黃（洗）　當歸（去蘆，酒浸）　川芎（各一兩）</p>
<p>芥穗　槐花（炒）　甘草（炙。各半兩）</p>
<p>上　咀，每服四錢，水一盞半，生薑三片，烏梅少許，煎至七分，去滓，溫服，空心食前</p>
<h4>蒜連丸</h4>
<p>治臟毒下血。</p>
<p>鷹爪黃連（去須，不拘多少）</p>
<p>上為細末，用獨蒜頭一顆，煨香熟，研和入臼杵熟，丸如梧桐子大，每服三四十丸，空心，</p>
<h4>香梅丸</h4>
<p>治腸風臟毒。</p>
<p>烏梅（同核，燒灰存性）　香白芷（不見火）　百藥煎（燒灰存性）</p>
<p>上等分為末，米糊為丸，如梧桐子大，每服七十丸，空心，用米飲送下。</p>
<h4>斷紅丸</h4>
<p>治陽虛，臟腑久而腸風痔疾，下血不止，或所下太多，面色痿黃，日漸羸瘦。</p>
<p>側（去蘆）　阿上為細末，醋煮米糊為丸，如梧桐子大，每服七十丸，空心食前，用米飲送下。</p>
<h4>椿皮丸</h4>
<p>治腸風瀉血不止。</p>
<p>東行椿根白皮（銼，焙，不拘多少）</p>
<p>上為細末，醋糊為丸，如梧桐子大，每服七十丸，空心食前，用陳米飲送下。</p>
<h4>石榴散</h4>
<p>治結陰瀉血不止。</p>
<p>酸石榴皮　陳橘皮（湯浸，去白）　甘草（炙，銼）　乾薑（炮。各等分）</p>
<p>上焙乾為末，每服二錢，陳米飲調下，日三服。</p>
