<header><h1>溫病指南</h1></header>
<dl class="元資料" data-type="book">
<div><dt>作者</dt><dd>高秉鈞</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1644/1911">公元1644年至公元1911年</data></dd></div>
</dl>
<h2>序</h2>
<p>溫病之與傷寒。猶水火冰炭之不相入也。世以治溫古無專書。襲治傷寒法治之。以溫熱之病。輒投以麻桂辛溫之劑。</p>
<p>抱薪救火是自焚也。或者窮而思變。則又易以防風通聖之屬。雜苦寒攻下於溫散之中。不惟苦燥傷陰且有下早結胸引邪內陷之患。近世陳三錫別創升降神化散等方。雖知力避辛溫。然於初起病在上焦即溷入中下二焦之品。譬之治盜不分良莠一例。剪屠寇雖滅而民亦傷矣。獨葉天士。薛生白諸先哲遵內經風熱淫於內治。以辛涼鹹寒之旨。立三焦分治之法。</p>
<p>界限井然。深入軒岐閫奧。淮安吳鞠通復取兩賢緒論。觸類引伸。著為溫病條辨。窮源竟委綱舉目張至是而治溫之法始大備焉。是書作於乾嘉之際。百余年來流布南北效若桴鼓。光緒戊寅塗朗軒中丞重鋟於大梁全活不可勝計。顧以卷帙繁重習醫者憚於研索外邑荒陬知者。尤鮮每遇溫病仍沿舊法甚有盛暑染　。猶目為傷寒者藥與病乖漫不加察其殺人何異操刃哉余客豫數十年目擊心傷久擬別輯簡編稍挽積習多事卒卒蓄志未償。門人蕭吉甫夙精醫理愿任編校之勞因與博采旁搜反復考訂越半載書成名曰溫病指南付之剞劂所冀見者。廣為傳布。務使僻壤窮鄉咸知信守庶幾跡斯民於仁壽永無疵癘夭札之虞是則區區之大愿也夫光緒癸卯孟春山陰婁傑。</p>
<h2>凡例</h2>
<p>一是書原本吳鞠通溫病條辨。參以葉天士臨證指南醫效秘傳。薛生白溫熱贅言。及葉薛繆三家醫案。王孟英五種章雅堂醫撮諸書。略短取長刪繁就簡。書中但言見何證宜用何方。以期明白易曉。而於古人因證立方之奧旨。未能一一詳著。如有好學深思之士。取諸原書。參觀互證。則知是編一方一論。悉皆酌古準今。絲絲入扣矣。</p>
<p>一黃坤載陳修園兩家醫書。近世頗有好之者。按兩君學問淵雅。於傷寒金匱不無發明。惟泥古太過喜為大言高論。</p>
<p>其於溫病治法仍襲傷寒論及防風通聖散諸方。用之每多僨事。切勿輕信其言。致為所誤。</p>
<p>一新安呂心齋采取陳三錫二分晰義。楊栗山寒溫條辨。成溫疫條辨摘要一卷。醫者以其簡便往往奉為枕秘其書所列升降散神化散等方。實不能盡美盡善。與是編所本之吳氏溫病條辨書名相似而精粗迥別。幸勿誤認。</p>
<p>一吳又可以達原飲治溫。吳鞠通陳修園皆斥其非。章雅堂則謂溫病中確有一種邪踞募原之證。投以又可達原飲立效。</p>
<p>但其余諸方。不如鞠之精細耳。今依章說補列達原飲證治。聊備一格。然必細審病情舌色。確系邪在募原者。方可用之。</p>
<p>未可一概濫投也。</p>
<p>一吳鞠通書附有秋燥寒濕二門原因溫病連類而及。此書意取簡明。但載溫病。他不贅敘者閱。苟欲博考則自有鞠通原書在。</p>
<p>一鞠通書所載諸方。皆按古方分兩。總煎分服。初學不免眩惑。今照時行分劑。量加改定。間有一二必須總煎者。</p>
<p>仍從其舊一治溫諸法。除於兩卷分列外。復擇其切要者。總述要略十八則。附諸卷末。以為全書之殿。</p>
<p>一凡書中雙行細注。俱系緊要節目。及大有關系之戒律。務宜潛心細玩。慎勿忽視。</p>
<h2>卷上</h2>
<h3>溫病總論</h3>
<p>溫病與傷寒迥不相同。傷寒必在冬月。溫病四時皆有。傷寒乃感嚴寒之氣。日傳一經。宜分六經施治。溫病乃感溫熱穢濁之氣。傳變不定。宜分上中下三焦。及邪之在氣在血以治之。以古書所列溫病而論。春初風木當令而病者為風溫。</p>
<p>春末夏初溫熱漸盛則為溫熱。夏令病暑熱盛於濕者。為暑溫。（暑溫即受暑也。若過時而發。則為伏暑。）長夏初秋濕盛於熱者。為濕溫冬令過暖。陽不潛藏。則為冬溫。穢厲傳染。家家如是。如徭役然。是為溫疫。穢濁太甚。諸溫夾毒。</p>
<p>則為溫毒。以上各證。名目甚繁。而究其治法。只須細審溫邪之兼濕與否。及濕溫二邪。孰多孰少。以為用藥之差別。</p>
<p>今以溫邪之不兼濕者。統歸風溫類。列為上卷。溫邪之兼濕者。統歸濕溫類。列為下卷。（葉氏溫熱論。薛氏溫熱贅言。</p>
<p>皆以風濕對待立論。故仿之。）而二卷之中。又各按三焦分為三篇。如此分門別類。庶可一目了然。惟上卷之風溫溫熱冬溫溫毒。治法並皆相同。（溫毒稍兼解毒）下卷之濕溫暑溫。則分濕多熱多。用藥稍有區別。（按濕熱合邪之證。凡熱多於濕者。皆可以暑溫法治之。濕多於熱者。皆可以濕溫法治之。不必拘定夏秋時令。亦有其人本體有濕。外感溫熱而病者。不拘四時。皆為濕溫。治法並同。古書分時論證。但言其大概耳。）至溫疫乃一時厲氣流行。或兼濕。或不兼濕。</p>
<p>初無一定。須臨時察其如何見證按兩卷所列各條。依法施治。故於二卷中俱列其目。總之溫熱最易傷陰。無論挾濕挾燥。</p>
<p>均須刻刻防其傷陰為第一要義。最忌麻黃桂枝羌活獨活升麻柴胡等辛溫升散之藥。倘誤用之。重傷其陰。必致輕病變重。</p>
<p>重病變為不起。不可不慎也。</p>
<h3>傷寒溫病辨（四則）</h3>
<p>傷寒邪從毛竅而入。自下而上。始於足太陽。溫病邪從經絡及口鼻而入。自上而下。始於手太陰。寒為陰邪。陰盛必傷陽。故首郁遏太陽經中之陽氣。而為頭痛身熱項強脊痛等證。以陰盛傷人之陽也。溫為陽邪。陽盛必傷陰。故首郁遏太陰經中之陰。氣而為咳嗽自汗口渴頭痛身熱等證。以陽盛傷人之陰也。知此陰陽兩大法門。則傷寒溫病之辨自　然於心目矣。</p>
<p>傷寒初病。身雖發熱。一二日內必不煩渴。左手之脈必緊盛倍於右手。溫病身一熱即口燥咽乾而渴。右手之脈洪大倍於左手。</p>
<p>冬溫初起頭痛惡風寒身熱自汗。與傷寒證太陽中風無異。此處最易相混。但傷寒中風脈浮緩。中寒脈浮緊此則不緩不緊而動數。且有口渴及午後熱甚等證。與傷寒判然不同。至春夏時天氣漸暖。則只有溫病。絕無傷寒。更不難知矣。</p>
<p>傷寒病六經遞傳。或汗或下。邪退即愈。溫病則傳變不常。不能一發便盡。有得汗熱退。二三日復熱如前者。有得下裡和。二三日復見表熱者。有表和復見裡證者。總由邪氣未盡之故。宜隨其見證。細心體認。依法療治。方不致誤。</p>
<p>不可一見變證。遽爾張皇。胡疑亂猜。以致誤人性命也。</p>
<h3>風溫上焦篇</h3>
<p>（溫熱冬溫溫毒溫疫同法）</p>
<p>風溫初起。頭痛身熱自汗。不惡寒而渴。或不渴而咳。午後熱甚。脈動數。右大於左。或兩寸獨大者。邪在上焦手太陰肺經氣分也。辛涼平劑銀翹散主之。</p>
<p><u>銀翹散</u></p>
<p>連翹（三錢）　銀花（三錢）　苦桔梗（二錢）　薄荷（二錢）　竹葉（一錢）　甘草（一錢五分）　芥穗（一錢）</p>
<p>淡豆豉（一錢五分）　牛蒡子（二錢）　鮮葦根（二錢）</p>
<p>水煎。俟香氣大出即取服。勿過煮。病重者。日再服。咳者加杏仁。胸膈悶加藿香鬱金。口渴甚者加天花粉。項腫咽痛加馬勃元參衄血去芥穗豆豉加白茅根側柏炭梔子炭病二三日後。熱漸入裡。酌加細生地麥冬以保津。如仍不解。或小便短。再加知母黃芩梔子合麥地以清熱。溫病初起惡風寒無汗。頭痛身熱。或渴或咳者。溫自內發。風寒外搏也。加減杏蘇散微解之。服後惡寒已退。余證未除者。仍用銀翹散。（按風溫證。本以辛涼為正治。忌辛溫發表。此因風寒外搏。</p>
<p>內熱外寒。故用微溫之杏蘇等暫解其表。服後惡寒既退。即宜仍用辛涼不可過散傷陰亦萬不可因其惡寒無汗。竟用麻桂羌獨升柴等辛溫升散之峻劑也。）加減杏蘇散（尤拙吾王孟英皆極言溫病初起。雖惡風寒。不可用桂枝湯。故易以此方。）</p>
<p>杏仁（二錢）　蘇葉（一錢五分）　前胡（一錢五分）　淡豆豉（三錢）　牛蒡子（二錢）　苦桔梗（二錢）　甘草（一錢）</p>
<p>水煎服。</p>
<p><u>銀翹散</u></p>
<p>（見前）</p>
<p>溫病初起。身不甚熱。咳而微渴者。熱傷肺絡也。辛涼輕劑桑菊飲主之。</p>
<p><u>桑菊飲</u></p>
<p>杏仁（二錢）　連翹（一錢五分）　薄荷（八分）　桑葉（二錢五分）　菊花（一錢）　苦桔梗（二錢）　甘草（八分）　葦根（二錢）</p>
<p>水二杯。煎一杯。日二服。二三日不解。氣粗似喘。燥在氣分者。加石膏知母。舌絳暮熱甚。燥邪初入營。加元參（二錢）　犀角（一錢）　在血分者。去薄荷葦根。加麥冬細生地玉竹丹皮（各二錢）</p>
<p>肺熱甚加黃芩　渴者加花粉太陰溫病。脈浮洪舌黃大渴大汗。面赤惡熱者。邪熱已深。逼爍津液。邪欲出而未遂也。辛涼重劑白虎湯主之。（白虎乃剽悍之劑。若其人脈浮而細。或脈沉。或不渴。或無汗。均不可用。倘誤用之。禍不旋踵。慎之毋忽。）</p>
<p><u>白虎湯</u></p>
<p>生石膏（三錢）　知母（二錢）　甘草（一錢）　白粳米（一撮）</p>
<p>水煎溫服。脈浮大而芤。汗大出微喘。甚至鼻孔扇者。加人參（一錢）脈若散大者倍用人參。太陰溫病。脈數右大煩渴舌絳者。氣血兩燔也。加減玉女煎主之。</p>
<p>生石膏（五錢）　知母（二錢）　元參（二錢）　細生地（三錢）　麥冬（三錢）</p>
<p>水煎服。太陰溫病。血從上溢者。溫邪逼迫血液上走清道也。犀角地黃湯合銀翹散主之。（若見中焦證以中焦法治之）</p>
<p>若吐粉紅血水者死不治。血從上溢脈七八至以上面反黑者死不治。可用清絡育陰法。以挽救之。</p>
<p><u>犀角地黃湯</u></p>
<p>乾地黃（五錢）　生白芍（一錢五分）　丹皮（一錢五分）　犀角（一錢五分）</p>
<p><u>銀翹散</u></p>
<p>（見前）</p>
<p>以上二方。合為一劑煎服。若已用過表藥者。去豆豉芥穗薄荷。</p>
<p>太陰溫病。口渴甚者雪梨漿沃之。吐黏滯白沫者五汁飲沃之。</p>
<p><u>雪梨漿</u></p>
<p>大甜梨（一個）　切薄片。新汲水內浸半日。頻飲之。</p>
<p><u>五汁飲</u></p>
<p>梨汁　荸薺汁　鮮葦根汁　麥冬汁　藕汁（或用蔗漿）</p>
<p>臨時斟酌多少。和勻涼服。不喜涼者。重湯燉溫服。</p>
<p>溫病二三日。舌微黃。寸脈盛。心煩懊　。起臥不安。欲嘔不得。無中焦證者。邪在膈中也。以梔子豉湯涌吐之。</p>
<p>如兼胸痞痰多者。膈中結為熱痰也。瓜蒂散主之。</p>
<p><u>梔子豉湯</u></p>
<p>梔子（二錢搗碎）　香豆豉（三錢）</p>
<p>水三杯。先煎梔子數沸。後入香豉。煎取一杯服。</p>
<p><u>瓜蒂散</u></p>
<p>甜瓜蒂（一錢）　赤小豆（二錢研）　山梔子（二錢）</p>
<p>水二杯。煎一杯。先服半杯得吐則止。虛者加人參蘆（一錢五分）</p>
<p>太陰溫病。兩寸脈大。舌絳而干。口不渴者。熱在營中也。減味清營湯主之。</p>
<p><u>減味清營湯</u></p>
<p>犀角（一錢五分）　生地（二錢五分）　元參（一錢五分）　竹葉心（五分）　麥冬（一錢五分）</p>
<p>丹參（一錢）　銀花（一錢五分）　連翹（一錢。連心用）　水煎服。</p>
<p>溫病發斑（如雲片無顆粒為斑）者。邪鬱肌表也。化斑湯主之。發疹（有顆粒為疹）者。邪鬱血絡也。葛根解肌湯主之。神昏譫語者。心陽傷而神明亂也。清宮湯主之。安宮牛黃丸紫雪丹局方至寶丹亦主之（牛黃丸最涼紫雪次之。至寶又次之。臨時酌用可耳。）</p>
<p><u>化斑湯</u></p>
<p>石膏（三錢）　知母（一錢五分）　生甘草（一錢）　元參（一錢）　犀角（七分）　白粳米（半合）</p>
<p>水煎服。</p>
<p><u>葛根解肌湯</u></p>
<p>（吳鞠通用加減銀翹散治疹。藥味過涼。往往不能透發。不如此方穩妥。至升柴等品。升散太過。</p>
<p>實非溫疹所宜也。）</p>
<p>葛根（一錢五分）　前胡（一錢五分）　荊芥（一錢五分）　牛蒡子（二錢）　連翹（一錢）　赤芍（二錢）　木通（七分）　蟬蛻（二錢）　甘草（一錢）　竹葉（一錢）　苦桔梗（一錢）　鮮葦根（三錢）　水煎服。</p>
<p><u>清宮湯</u></p>
<p>元參心（三錢）　蓮子心（五分）　竹葉卷心（二錢）　連翹心（二錢）　犀角尖（二錢磨沖）　連心麥冬（三錢）</p>
<p>熱痰盛加竹瀝梨汁（各五匙）　咯痰不清加栝蔞皮（一錢五分）　熱毒盛加金汁人中黃。漸欲神昏加銀花（三錢）</p>
<p>荷葉（二錢）　石菖蒲（一錢）</p>
<p><u>安宮牛黃丸</u></p>
<p>（如僻地無制成丸藥或現配。或研末沖服皆可。）</p>
<p>牛黃（一兩）　鬱金（一兩）　犀角（一兩）　黃連（一兩）　朱砂（一兩）　梅片（二錢五分）　麝香（二錢五分）　珍珠（五錢）　山梔（一兩）　雄黃（一兩）　黃芩（一兩）　金箔衣上為極細末煉老蜜為丸每丸一錢金箔為衣蠟護。脈虛者人參湯下　脈實者銀花薄荷湯下。每服一丸。大人病重體實者。日再服。甚至日三服。小兒服半丸。不知。再服半丸。</p>
<p><u>紫雪丹</u></p>
<p>（從本事方去黃金）</p>
<p>滑石（一斤）　石膏（一斤）　寒水石（一斤）　磁石（二斤）　共搗煎去渣入後藥。</p>
<p>羚羊角（五兩）　木香（五兩）　犀角（五兩）　沉香（五兩）　丁香（一兩）　升麻（一斤）　元參（一兩）　炙甘草（半斤）</p>
<p>以上八味。並搗銼。入前藥汁中煎。去渣。入後藥。</p>
<p>朴硝　硝石　各二斤提淨。入前藥汁中微火煎。不住手將柳木攪。候汁欲凝。再加入後二味。</p>
<p>辰砂（三兩研細）　麝香（一兩二錢，研細入前藥拌勻）</p>
<p>合成退火氣。冷水調服一二錢。</p>
<p><u>局方至寶丹</u></p>
<p>犀角（一兩鎊）　朱砂（一兩飛）　琥珀（一兩研）　玳　（一兩鎊）　牛黃（五錢）　麝香（五錢）</p>
<p>以安息重湯燉化和諸藥為丸一百丸。蠟護。</p>
<p>溫病舌蹇肢厥者。熱邪已入心包也。牛黃丸主之。紫雪丹亦主之。</p>
<p><u>牛黃丸</u></p>
<p><u>紫雪丹</u></p>
<p>（見前）</p>
<p>溫毒咽痛喉腫。耳前後連頰腫。或外腫而喉不痛。甚則耳聾。俗名大頭溫。又名蝦蟆溫者。加減普濟消毒飲主之。</p>
<p>外敷水仙膏。（如神昏譫語者。先與紫雪丹牛黃丸之屬。再服清宮湯。）</p>
<p><u>加減普濟消毒飲</u></p>
<p>連翹（三錢）　薄荷（一錢）　馬勃（一錢五分）　牛蒡子（二錢）　芥穗（一錢）　僵蠶（二錢）　元參（三錢）　銀花（三錢）　板藍根（一錢五分）　苦桔梗（三錢）　甘草（一錢五分）　鮮葦根（二錢）</p>
<p>水煎服。三四日後酌加黃芩黃連。</p>
<p><u>水仙膏</u></p>
<p>水仙花根（不拘多少）　剝去老赤皮與根須。入石臼搗如膏。敷腫處。中留一孔出熱氣。干則另敷以肉上生黍米大小黃瘡為度。</p>
<p>溫毒敷水仙膏。皮間生小黃瘡後。不可再敷水仙膏。宜用三黃二香散。</p>
<p><u>三黃二香散</u></p>
<p>黃連（一兩）　黃柏（一兩）　生大黃（一兩）　乳香（五錢）　沒藥（五錢）</p>
<p>共為極細末。初用細茶汁調敷。干則易之。繼用香油調敷。</p>
<h3>風溫中焦篇</h3>
<p>（溫熱冬溫溫毒溫疫同治）</p>
<p>溫病面目俱赤。語聲重濁。呼吸俱粗。（若來粗去不粗去粗來不粗。或竟不粗者。即非此證。）大渴引飲。大便閉。</p>
<p>小便澀。舌苔老黃。甚則黑色有芒刺。但惡熱不惡寒。下午益甚。脈浮洪躁甚者。邪由上焦肺經。傳入中焦陽明胃經尚未結實也。白虎湯主之。脈浮而促者。熱邪尚可透表也。減味竹葉石膏湯主之。</p>
<p><u>白虎湯</u></p>
<p>（見前）</p>
<p><u>減味竹葉石膏湯</u></p>
<p>竹葉（二錢五分）　石膏（四錢）　麥冬（三錢）　甘草（一錢五分）</p>
<p>水煎服。</p>
<p>陽明溫病。諸證悉具。（如第一條所云）　數日不大便。脈沉數者。中焦邪漸結實也。增液湯主之。</p>
<p><u>增液湯</u></p>
<p>（凡溫病大便不通。皆宜先服此方。萬不可遽用承氣。蓋此方通便生津而不傷氣也。）</p>
<p>元參（一兩）　麥冬（八錢連心）　細生地（八錢）</p>
<p>水八杯煎三杯。口乾則與飲之。飲盡便不下。再作服。以通為度。</p>
<p>陽明溫病。服增液後。過十二時。大便不下者。增液合調胃承氣湯主之。（即照增液湯原方。與調胃承氣湯方合為一劑。）</p>
<p><u>調胃承氣湯</u></p>
<p>大黃（一錢五分）　芒硝（二錢五分）　生甘草（一錢）</p>
<p>水煎服。</p>
<p>陽明溫病。諸證皆有。（如第一條所云）數日不大便。脈沉數有力。甚則脈體反小。服增液調胃承氣後。大便仍不通者。中焦邪已結實也。大承氣湯主之。（大承氣乃攻裡峻劑。必脈象。證象。與書中一一相符。已服增液調胃。便仍不通者。方可用之。如脈浮。脈遲。或惡寒。或小便清長。或舌雖黃黑。苔薄而潤。或病者平素陰虧。及胃弱食少。均不可輕用也。慎之慎之。）</p>
<p>溫病面目俱赤。四肢厥冷。甚則通體皆厥。不螈　。但神昏。七八日以外。大便閉。小便赤。脈沉伏。或並脈亦厥。</p>
<p>胸腹滿堅。甚則拒按。喜涼飲者。熱結中焦火極似水也。大承氣湯主之。</p>
<p><u>大承氣湯</u></p>
<p>大黃（三錢）　芒硝（一錢五分）　厚朴（一錢五分）　枳實（一錢五分）</p>
<p>水三杯。先煮枳朴。後納大黃芒硝。煮取一杯服陽明溫病。（如首條所載）諸證悉有而。脈不浮者。小承氣湯微和之。</p>
<p>陽明溫病。汗多譫語舌苔老黃而干者。有結糞也。宜小承氣湯。</p>
<p><u>小承氣湯</u></p>
<p>大黃（二錢五分）　厚朴（一錢）　枳實（五分）</p>
<p>水煎服。</p>
<p>陽明溫病。無汗。小便不利譫語者。恐因邪犯心包。未可定為結糞也。先服牛黃丸。如不大便。再與調胃承氣湯。</p>
<p>陽明溫病。純瀉稀水無糞者。熱結旁流也。調胃承氣湯主之。</p>
<p><u>牛黃丸</u></p>
<p>（見前）</p>
<p><u>調胃承氣湯</u></p>
<p>（見前）</p>
<p>陽明溫病。下利譫語。若陽明脈實或滑疾者。腸虛胃實也。小承氣湯主之。若脈不實者。熱犯心包也。牛黃丸主之。</p>
<p>紫雪丹亦主之。</p>
<p><u>小承氣湯</u></p>
<p>（見前）</p>
<p><u>牛黃丸</u></p>
<p><u>紫雪丹</u></p>
<p>（見前）</p>
<p>溫病大熱大渴。舌燥。脈不浮而躁甚。舌色金黃。痰涎壅甚者。上焦未清。而又陽土燥烈。煎熬腎水。三焦俱急也。</p>
<p>承氣合小陷胸湯主之。</p>
<p><u>承氣合小陷胸湯</u></p>
<p>生大黃（二錢五分）　厚朴（一錢）　枳實（一錢）　半夏（一錢五分）　栝蔞（一錢五分）</p>
<p>黃連（一錢）</p>
<p>水煎服。</p>
<p>溫熱本傷陰之病。若下後汗出。則胃陰受傷。急復其陰。益胃湯主之。</p>
<p><u>益胃湯</u></p>
<p>沙參（二錢）　麥冬（三錢）　冰糖（六分）　細生地（三錢）　玉竹（一錢炒香）</p>
<p>水煎服。</p>
<p>下後無汗脈浮者。邪氣還表也。銀翹湯主之。脈浮洪者。熱甚傷津也。白虎湯主之。脈洪而芤者。金受火克元氣不支也。白虎加人參湯主之。</p>
<p><u>銀翹湯</u></p>
<p>銀花（二錢五分）　連翹（一錢五分）　竹葉（一錢）　甘草（五分）　麥冬（二錢）　細生地（二錢）</p>
<p>水煎服。</p>
<p><u>白虎湯</u></p>
<p>（見前）</p>
<p><u>白虎加人參湯</u></p>
<p>（見前）</p>
<p>下後無汗脈不浮而數者。裡熱未解也。清燥湯主之。</p>
<p><u>清燥湯</u></p>
<p>麥冬（二錢五分）　知母（一錢）　人中黃（八分）　細生地（二錢五分）　元參（一錢五分）</p>
<p>水煎服。咳嗽膠痰加沙參（一錢五分）　桑葉（一錢）　梨汁（半酒杯）　牡蠣（一錢五分）　牛蒡子（一錢五分）</p>
<p>下後數日熱不退。或退不盡。口燥咽乾。舌苔干黑。或金黃色。脈沉而有力者。邪氣復聚於胃也。然津液日耗。須加意防護其陰。護胃承氣湯微和之。脈沉而弱者。增液湯主之。</p>
<p><u>護胃承氣湯</u></p>
<p>生大黃（一錢五分）　元參（一錢五分）　細生地（一錢五分）　丹皮（一錢）　知母（一錢）</p>
<p>麥冬（一錢五分連心）</p>
<p>水煎服。</p>
<p><u>增液湯</u></p>
<p>（見前）</p>
<p>陽明溫病。下後二三日。下證復見。脈不甚沉。或沉而無力。止可與增液。不可與承氣。</p>
<p>陽明溫病。下之不通者。險證有五。應下失下正虛不能運藥者。正氣既虛邪氣復實也。新加黃龍湯主之。喘促不寧。</p>
<p>痰涎壅滯。右寸實大者。肺氣不降裡證又實也。宣白承氣湯主之。左尺堅牢。小便赤痛。時煩渴甚者。火腑不通。小腸熱盛。下注膀胱也。導赤承氣湯主之。神昏舌短。飲不解渴者。邪閉心包。內竅不通也。牛黃承氣湯主之。陽明太熱。</p>
<p>津液不足。間服增液。仍不下者。臟燥太甚無水舟停也。增液承氣湯主之。</p>
<p><u>新加黃龍湯</u></p>
<p>細生地（五錢）　生甘草（二錢）　人參（一錢五分另煎）　生大黃（三錢）　芒硝（一錢）　元參（五錢）　麥冬（五錢連心）　當歸（一錢五分）　海參（二條洗）　薑汁（六匙）</p>
<p>水八杯煎三杯。先用一杯。沖參汁五分。薑汁二匙。頓服之。如腹中有響聲或有轉矢氣。則為欲便。候一二時不便。</p>
<p>再如前法服一杯。候二十四刻不便。再服第三杯。如服一杯即得便。止後服。酌服益胃湯一劑。</p>
<p><u>宣白承氣湯</u></p>
<p>生石膏（二錢五分）　生大黃（一錢五分）　杏仁粉（一錢）　栝蔞皮（八分）</p>
<p>水煎服。</p>
<p><u>導赤承氣湯</u></p>
<p>赤芍（一錢五分）　細生地（二錢五分）　生大黃（一錢五分）　黃連（一錢）　黃柏（一錢）</p>
<p>芒硝（五分）</p>
<p>水煎服。</p>
<p><u>牛黃承氣湯</u></p>
<p>用牛黃丸一丸化開。調生大黃末一錢五分服之。不下。再服。</p>
<p><u>增液承氣湯</u></p>
<p>即於增液湯內加大黃（三錢）　芒硝（一錢五分）　下後虛煩不眠。心中懊　。甚至反覆顛倒者。膈間之邪未清也。</p>
<p>梔子豉湯主之。</p>
<p><u>梔子豉湯</u></p>
<p>（見前）</p>
<p>若少氣加甘草（一錢）　嘔者加薑汁（三匙）</p>
<p>陽明溫病。乾嘔口苦而渴者邪熱夾穢擾亂中宮也。如無下證。用黃連黃芩湯。（不渴而舌滑者當照濕溫法治之。）</p>
<p><u>黃連黃芩湯</u></p>
<p>黃連（一錢）　黃芩（一錢）　鬱金（八分）　香豆豉（一錢）</p>
<p>水煎服。</p>
<p>陽明溫病。舌色絳不渴者。邪氣深入血分也。清營湯主之。（若舌苔滑者。當照濕溫法治之。）</p>
<p><u>清營湯</u></p>
<p>（見前）</p>
<p>陽明發斑者。化斑湯主之。</p>
<p><u>化斑湯</u></p>
<p>（見前）</p>
<p>陽明溫病。下後疹出者。加減銀翹散主之。（此因下後疹出。陰液已傷不可再用葛根升發。故仍從加減銀翹法。而稍變其藥味。）</p>
<p><u>加減銀翹散</u></p>
<p>即照銀翹散方　去銀花連翹豆豉加蟬蛻（三錢）　赤芍（一錢）　丹皮（一錢）　杏仁（一錢五分）</p>
<p>斑疹用升提則衄血。或厥逆。或嗆咳。或昏痙。用壅補則騖亂。若陽明證悉具。外出不快。內壅特甚者。調胃承氣湯微和之。得通則已。不可令大泄。大泄則氣陷也。</p>
<p><u>調胃承氣湯</u></p>
<p>（見前）</p>
<p>陽明溫毒發痘者。（形如小兒痘瘡。或多或少。紫黑色。）穢濁太甚也。脈浮則用銀翹散加生地元參。渴者加花粉。</p>
<p>毒重者加金汁人中黃。小便短者。加芩連之類。脈沉內壅者。酌量輕重下之。（如發瘡形似楊梅者。輕則紅紫。重則紫黑。</p>
<p>多現於面部背部亦照此法。重用敗毒之品。兼與利濕。如土茯苓萆　之類。）</p>
<p>陽明溫病。無汗。實證未劇者。不可下。小便不利者。小腸熱結。金受火刑也不可利水。宜用甘苦合化法。冬地三黃湯主之。</p>
<p><u>冬地三黃湯</u></p>
<p>元參（二錢）　黃連（五分）　葦根汁（五茶匙沖）　細生地（二錢）　黃柏（五分）　銀花露（五茶匙沖）　麥冬（四錢）　黃芩（五分）　生甘草（一錢五分）</p>
<p>水煎服。</p>
<p>溫病小便不利者。不可以淡滲利水。（如五苓八正散之類）恐傷陰也。溫病燥熱者。不可純用苦寒。（如三黃湯之類）</p>
<p>恐苦能化燥也溫病。下後熱退不可即食。食則病必復發。須周十二時後。緩與清淡之食。不可令飽。飽則病亦復發。發必重也。</p>
<p>陽明溫病下後脈靜身不熱。舌上津回。十數日不大便者。腸胃津液受傷也。可與益胃增液之屬。下後舌苔未退盡。</p>
<p>身微熱。面微赤。口微渴。脈微數。日淺者。亦與增液益胃之屬。日深舌微干者。用下焦復脈法。均不可再用承氣湯。</p>
<p>用之證必增劇。甚則燥咳泄瀉而死。</p>
<p><u>益胃湯</u></p>
<p>（見前）</p>
<p><u>增液湯</u></p>
<p>（見前）</p>
<p>陽明溫病。渴甚者雪梨漿沃之。</p>
<p><u>雪梨漿</u></p>
<p>（見前）</p>
<p>陽明溫病。斑疹溫痘溫瘡溫毒發黃。凡神昏譫語者。安宮牛黃丸主之。</p>
<p><u>牛黃丸</u></p>
<p>（見前）</p>
<h3>風溫下焦篇</h3>
<p>（溫熱冬溫溫毒溫疫同治）</p>
<p>溫病久羈陽明。或已下。或未下。身熱面赤。口乾舌燥。甚則齒黑唇裂者。熱邪漸傷少陰腎水也。脈沉實者。仍可下之。若脈虛大。手足心熱。甚於手足背者。邪熱少虛熱多也。加減復脈湯主之。溫病誤表。以致心中震震。舌強神昏者。心氣被傷津液被劫也。宜復脈湯。（舌上津回則生）</p>
<p>溫病六七日後耳聾者。陰火內熾。病在少陰也。宜復脈湯。（若誤認少陽證。服柴胡湯。則必死。）</p>
<p>勞倦內傷。復感溫病六七日外不解者。宜復脈湯。若身不熱而倦甚者加人參。</p>
<p>溫病已發汗而汗不出。已下而熱不退。六七日以外。脈尚躁盛者。邪正交爭也。重與復脈湯。</p>
<p>溫病誤用升散。脈結代。甚則兩至者。法當急救其裡。所謂留人治病也。重與復脈湯。溫病汗下後。口燥咽乾。神倦欲眠。舌赤苔老者。少陰液虧也。與復脈湯。</p>
<p><u>加減復脈湯</u></p>
<p>（照經方加減也）</p>
<p>炙甘草（三錢）　乾地黃（三錢）　生白芍（三錢）　麥冬（二錢五分連心）　阿膠（一錢五分）　麻仁（一錢五分）</p>
<p>水煎服。病甚者。甘草加至五錢。地黃白芍加至四錢。麥冬加至三錢五分。</p>
<p>溫病誤表。以致舌強神昏。汗自出。中無所主者。心氣津液受傷過甚也。救逆湯主之。</p>
<p><u>救逆湯</u></p>
<p>即於加減復脈湯內去麻仁加生龍骨（二錢）　生牡蠣（四錢）　脈虛大欲散者加人參（一錢）　下後大便溏甚。日三四行。脈仍數者真陽素虛而裡熱未清也。一甲煎主之。服一二日後。如大便不溏。可與一甲復脈湯。</p>
<p>下焦溫病。凡大便溏者。即與一甲復脈湯（系於復陰方中。寓固陰之意）</p>
<p><u>一甲煎</u></p>
<p>生牡蠣（一兩碾細）</p>
<p>水煎溫脈。</p>
<p><u>一甲復脈湯</u></p>
<p>即於加減復脈湯內去麻仁加牡蠣（五錢）</p>
<p>熱邪深入下焦。脈沉數。舌乾齒黑。手指蠕動者。真水受虧。不能涵木也。急防痙厥。二甲復脈湯主之。</p>
<p><u>二甲復脈湯</u></p>
<p>即於加減復脈湯內加生牡蠣（二錢五分）　生鱉甲（四錢）　下焦溫病。熱深厥甚。脈細促。心中大動甚則心中痛者。</p>
<p>腎虛不能濟木。肝風鴟張。心君失偶也。三甲復脈湯主之。</p>
<p><u>三甲復脈湯</u></p>
<p>即於二甲復脈湯內加生龜板（五錢）</p>
<p>少陰溫病。心煩不得臥者。真陰欲竭。壯火復熾也。黃連阿膠湯主之。</p>
<p><u>黃連阿膠湯</u></p>
<p>黃連（四錢）　黃芩（一錢）　阿膠（三錢）　白芍（一錢）　雞子黃（二枚）</p>
<p>水八杯。先煎芩連芍三味。取三杯去滓。兌膠化盡。再入雞子黃攪勻。分三次服。</p>
<p>夜熱早涼。熱退無汗者。邪熱深伏陰分。熱自陰來也。青蒿鱉甲湯主之。</p>
<p><u>青蒿鱉甲湯</u></p>
<p>青蒿（二錢）　鱉甲（五錢）　細生地（四錢）　知母（二錢）　丹皮（三錢）</p>
<p>水煎服。</p>
<p>既厥且噦。（俗名呃忒）脈細而勁者。溫邪久踞下焦。消爍肝液。擾及衝脈也。小定風珠主之。</p>
<p><u>小定風珠</u></p>
<p>雞子黃（一枚生用）　真阿膠（二錢）　生龜板（六錢）　童便（一杯）　淡菜（三錢）</p>
<p>水五杯。先煎龜板淡菜。取二杯去滓。兌入阿膠。火上化盡。入雞子黃攪勻。再沖童便頓服。</p>
<p>下焦溫病。神倦螈　。舌絳苔少。脈氣虛弱。時時欲脫者。熱邪久羈吸爍真陰也。大定風珠主之。（此證多因誤表誤攻而成）</p>
<p><u>大定風珠</u></p>
<p>生白芍（六錢）　阿膠（三錢）　生龜板（四錢）　乾地黃（六錢）　麻仁（二錢）　五味子（二錢）　生牡蠣（四錢）　麥冬（六錢連心）　炙甘草（四錢）　雞子黃（二枚生）　鱉甲（四錢生）</p>
<p>水八杯。煎三杯去滓。再入雞子黃攪勻。分三次服。喘者加人參。自汗者加龍骨人參小麥。悸者加茯神人參小麥。</p>
<p>凡壯火尚盛者。不得用定風珠復脈。邪少虛多者。不得用黃連阿膠湯。陰虛欲痙者。不得用青蒿鱉甲湯。</p>
<p>下焦溫病。痙厥神昏。舌短煩燥。如寸脈大。口氣重。目赤顴紅。壯熱者。手少陰邪熱未清也。先與牛黃丸紫雪丹之屬。開竅搜邪。再與復脈存陰。三甲潛陽。臨證細參。勿致倒亂。</p>
<p><u>牛黃丸　紫雪丹</u></p>
<p>（見前）</p>
<p><u>復脈湯</u></p>
<p>（見前）</p>
<p><u>三甲復脈湯</u></p>
<p>（見前）</p>
<p>溫邪久羈。肌膚甲錯。或因下後裡通。邪欲潰。或因服存陰藥。液增欲汗。正氣已虛。不能即出。陰陽互爭而戰者。</p>
<p>欲作戰汗也。復脈湯熱飲之。虛甚者加人參助汗外出。若其人肌肉尚盛。未至甲錯。當聽其汗自出。不可騷動。</p>
<p>時欲漱口不欲咽。大便黑而不燥者。陰虧而有瘀血也。犀角地黃湯主之。</p>
<p><u>犀角地黃湯</u></p>
<p>夜熱晝涼。少腹堅滿。小便自利。大便閉。脈沉實者。邪盛而蓄血也。桃仁承氣湯主之。</p>
<p><u>桃仁承氣湯</u></p>
<p>大黃（二錢五分）　芒硝（一錢）　桃仁（一錢五分）　當歸（一錢五分）　芍藥（一錢五分）　丹皮（一錢五分）</p>
<p>水煎服。</p>
<p>溫病服清解藥後。脈反濡小。下利稀水。或便膿血者。熱撤裡虛也。桃花湯主之。</p>
<p><u>桃花湯</u></p>
<p>赤石脂（三錢，二錢整煎一錢研細末調）　炮薑（一錢五分）　白粳米（三錢）　水三杯煎一杯半去滓入石脂末溫服。　虛者加人參。</p>
<p>溫病七八日後。身熱舌絳苔少。下利日數十行。完穀不化。脈虛數者。裡邪已盡。脾陽下陷也。桃花粥主之。</p>
<p><u>桃花粥</u></p>
<p>人參（三錢）　炙甘草（三錢）　赤石脂（六錢研細末）　白粳米（二合）</p>
<p>水十杯先煎參草。取六杯去滓再入粳米煮取三杯。以一杯兌石脂末二錢頓服之。利止。停後服。如不止。再服第二杯。每次兌石脂末二錢。或因先過用寒涼。脈不數身不熱者。加乾薑（三錢）。婦女溫病。經水適來。脈數身熱。入夜熱甚。</p>
<p>或譫語者。熱入血室也。法當辛涼退熱。兼清血分。清熱養榮湯主之。</p>
<p><u>清熱養榮湯</u></p>
<p>青蒿（二錢）　桑葉（一錢五分）　知母（一錢）　鱉甲（三錢）　赤芍（一錢五分）　生地（二錢）　丹皮（一錢五分）　丹參（二錢）　水煎服。　如壯盛人服之不解者加柴胡（一錢五分）。婦女溫病。經水適來。脈數耳聾。乾嘔煩渴。十數日不解。熱邪內陷發痙者氣血兼病也。竹葉玉女煎主之。</p>
<p><u>竹葉玉女煎</u></p>
<p>生石膏（三錢）　乾地黃（二錢）　麥冬（二錢）　知母（一錢）　牛膝（一錢）　竹葉（一錢五分）</p>
<p>水四杯。先煎石膏地黃。取二杯。再入余四味煎成一杯。溫服。</p>
<p>熱入血室。服兩清氣血藥後。邪去其半。余邪不解。脈仍數者。護陽和陰湯主之。</p>
<p><u>護陽和陰湯</u></p>
<p>白芍（二錢五分）　炙甘草（一錢）　人參（一錢）　麥冬（一錢連心炒）　生地（一錢五分炒）</p>
<p>水煎服。</p>
<p>熱入血室。邪去八九。暮微寒熱。右脈虛數者。邪少虛多。氣血兼病也。加參復脈湯主之。</p>
<p><u>加參復脈湯</u></p>
<p>即於復脈湯內加人參一錢五分。</p>
<p>婦女熱病。經水適來。十余日不解。舌痿飲冷。心煩熱。神氣忽清忽亂。脈右長左沉者。瘀熱在裡。有蓄血也。加減桃仁承氣湯主之。</p>
<p><u>加減桃仁承氣湯</u></p>
<p>大黃（一錢五分制）　桃仁（一錢五分炒）　細生地（三錢）　丹皮（二錢）　澤蘭（一錢）　人中白（一錢）</p>
<p>水煎服。</p>
<h2>卷下</h2>
<h3>濕溫上焦篇</h3>
<p>（溫疫同法。暑溫伏暑附）</p>
<p>濕溫初起。頭痛惡寒。身重疼痛。面色淡黃。舌白不渴。胸悶不飢。午後身熱。脈弦細而濡者。邪在上焦氣分也。</p>
<p>三仁湯主之。（按濕溫病。發表則神昏。攻下則洞泄。滋陰則濕愈重。只能以辛開淡滲徐徐療治。勿求急功。以濕邪柔膩。</p>
<p>勢雖緩而難速愈也。）</p>
<p><u>三仁湯</u></p>
<p>杏仁（二錢五分）　飛滑石（三錢）　白通草（一錢）　白蔻仁（一錢）　竹葉（一錢）　厚朴（一錢）　生苡仁（三錢）　半夏（二錢五分）　甘瀾水煎服。苔黃有熱者蔻仁易蔻皮。邪在經絡一身牽痛者加防己（一錢五分桂枝水炒）　秦艽（二錢酒炒）</p>
<p>濕溫惡寒足冷。服溫散藥。其寒更甚者。陽為濕鬱不能外達下行也。通陽利竅湯主之。</p>
<p><u>通陽利竅湯</u></p>
<p>蘆根（五錢）　白通草（五錢）</p>
<p>水煎。乘熱服之。即津津得汗而解。濕溫神昏譫語。舌苔黃膩者。濕熱盤踞氣分內蒙包絡也。杏仁，芥子湯主之。</p>
<p><u>杏仁芥子湯</u></p>
<p>杏仁（三錢）　白芥子（一錢五分）　木通（一錢五分薑水炒）　黃連（八分鹽水炒）　連翹（二錢）　梔子（一錢五分）　滑石（三錢）　蘆根（一錢五分）　竹葉（一錢）　茯苓（三錢）半夏（二錢）</p>
<p>水煎服。</p>
<p>濕溫神昏譫語舌赤無苔者。邪傳心包。化燥傷陰內竅將閉也。金蒲湯主之（最忌陰寒柔膩之品。）</p>
<p><u>金蒲湯</u></p>
<p>犀角（一錢五分）　鬱金（一錢五分）　連翹（三錢）　銀花（三錢）　鮮石斛（三錢）　鮮菖蒲（三錢）　鮮生地（二錢）　鮮竹葉（一錢五分）　蘆根汁（三錢沖）　竹瀝（二錢沖）　生薑汁（一滴沖）</p>
<p>水煎服。</p>
<p>濕溫誤表以致神昏四肢厥逆者。邪陷心包。循經入絡也。加減清宮湯煎送至寶丹。或紫雪丹。</p>
<p><u>加減清宮湯</u></p>
<p>犀角（一錢）　連翹心（三錢）　元參心（二錢）　竹葉心（二錢）　銀花（二錢）　赤小豆皮（三錢）</p>
<p><u>至寶丹</u></p>
<p>（見前）</p>
<p><u>紫雪丹</u></p>
<p>濕證初起。神志模糊。不能言語。舌苔白膩者。寒濕相搏。內蒙清竅也。杏仁桔梗湯主之。（此條以舌苔白膩。斷為寒濕。可與前三條參觀。故附於此。）</p>
<p><u>杏仁桔梗湯</u></p>
<p>杏仁（三錢）　桔梗（二錢）　細辛（三分）　白芥子（一錢）　茯苓（三錢）　澤瀉（一錢五分）　通草（一錢）</p>
<p>水煎服。</p>
<p>溫疫盛行之時。陡然得病。憎寒壯熱。頭痛身痛。若不可支。午後益甚。舌苔白膩如積粉。板貼不松。脈象極數。</p>
<p>或沉伏者。疫毒由人傳染。自口鼻入踞募原也。達原飲主之。（體弱者。先以銀翹散透解如不效。再用達原飲。）</p>
<p><u>達原飲</u></p>
<p>厚朴（一錢）　草果（五分）　知母（一錢）　白芍（一錢）　黃芩（一錢）　甘草（五分）　檳榔（二錢）</p>
<p>水二杯煎八分。午後服。（如服後煩燥者。欲作戰汗也。得汗則解。）</p>
<p>濕溫喉阻咽痛者。邪閉肺氣也。銀翹馬勃散主之。</p>
<p><u>銀翹馬勃散</u></p>
<p>連翹（三錢）　牛蒡子（二錢）　銀花（一錢五分）　射干（一錢）　馬勃（一錢）</p>
<p>水煎服。　咽喉不痛但覺阻甚者加滑石（二錢）　桔梗（一錢五分）　葦根（一錢五分）</p>
<p>太陰濕溫痹鬱而噦者。（俗名呃忒）上焦清陽氣鬱也。宣痹湯主之。</p>
<p><u>宣痹湯</u></p>
<p>枇杷葉（二錢）　鬱金（一錢五分）　射干（一錢）　白通草（一錢）　香豉（一錢五分）</p>
<p>水煎服。</p>
<p>太陰濕溫喘促者。濕熱蒸痰阻滯氣分也。加味千金葦莖湯主之。（寒飲不在此例）</p>
<p><u>加味千金葦莖湯</u></p>
<p>葦莖（二錢五分）　苡仁（二錢五分）　桃仁（一錢）　冬瓜仁（一錢）　杏仁（一錢五分）</p>
<p>滑石（一錢五分）</p>
<p>水煎服。</p>
<p>暑溫初起頭。痛身熱。面赤心煩。口渴汗出。右脈洪大者。暑傷上焦手太陰氣分也。加味天水散主之。如右脈洪數有力。口渴甚。汗大出而喘者。金被火刑也。白虎湯主之。脈洪大而芤者。氣虛也。白虎加人參湯主之。身重者。濕也。</p>
<p>白虎加蒼朮湯主之。（蒼朮燥烈。陰虛人禁用。當以淡滲之品代之。）</p>
<p><u>加味天水散</u></p>
<p>杏仁（二錢）　竹葉（一錢）　連翹（二錢）　鮮葦根（三錢）　銀花（三錢）　滑石（三錢）</p>
<p>鮮荷葉（一角）　鮮扁豆花（三錢）　甘草（五分）</p>
<p>水煎服。</p>
<p>微惡寒者加薄荷葉（一錢）　惡心嘔吐加藿香（一錢）　薑炒川連（五分）</p>
<p><u>白虎湯</u></p>
<p>（見前）</p>
<p><u>白虎加人參湯</u></p>
<p>（見前）</p>
<p><u>白虎加蒼朮湯</u></p>
<p>即於白虎湯內加蒼朮（一錢）</p>
<p>手太陰暑溫。右脈洪大。頭痛身熱。面赤心煩口渴。凜凜畏寒。而汗不出者。暑為寒束也。新加香薷飲主之。（服後微得汗。即勿再服。恐香薷重傷其表也。）</p>
<p><u>新加香薷飲</u></p>
<p>香薷（一錢）　銀花（一錢五分）　鮮扁豆花（一錢五分）　厚朴（一錢）　連翹（一錢）</p>
<p>水煎服。不汗再作服。</p>
<p>暑溫四肢倦怠。精神減少。身熱氣高。心煩溺黃。口渴自汗脈虛者。王氏益氣湯主之。暑邪已淨氣虛倦怠。口渴汗多。脈散大欲脫者。生脈散主之。（如暑邪未淨。萬不可用生脈散。用之必喘滿難治。）</p>
<p><u>王氏益氣湯</u></p>
<p>（王孟英因東垣清暑益氣湯。無清暑之實。故立此方。）</p>
<p>西洋參（三錢）　石斛（三錢）　麥冬（二錢）　竹葉（二錢）　荷梗（一錢）　知母（二錢）　甘草（八分）　西瓜翠衣（三錢）　粳米（三錢）</p>
<p>水煎服。　熱甚者酌加炒山梔。</p>
<p><u>生脈散</u></p>
<p>人參（一錢五分）　麥冬（一錢不去心）　五味子（五分）</p>
<p>水煎服。</p>
<p>暑溫余邪未清。但頭微脹。目不了了者。清絡飲主之。</p>
<p><u>清絡飲</u></p>
<p>鮮銀花（二錢）　鮮荷葉邊（二錢）　西瓜翠衣（二錢）　絲瓜皮（二錢）　鮮扁豆花（一枝）　鮮竹葉心（二錢）</p>
<p>水煎服。凡暑傷肺經氣分之輕證。皆可用之。手太陰暑溫。咳而無痰。聲清亮者。熱傷肺絡也。一加清絡飲主之。</p>
<p><u>一加清絡飲</u></p>
<p>即於清絡飲原方內加甘草（一錢）　桔梗（二錢）　甜杏仁（二錢）　麥冬（三錢）</p>
<p>暑溫發寒熱。舌白不渴吐血者。表裡氣血俱病也。名曰暑瘵。二加清絡飲主之。</p>
<p><u>二加清絡飲</u></p>
<p>即於清絡飲原方內加滑石（三錢）　苡仁（三錢）　甜杏仁（三錢）　兩太陰暑溫。咳嗽聲重痰多不甚渴。或渴不多飲者。暑溫而兼停飲也。加味小半夏加茯苓湯主之。</p>
<p><u>加味小半夏加茯苓湯</u></p>
<p>半夏（二錢五分）　茯苓（二錢）　厚朴（一錢）　生薑（一錢五分）　杏仁（一錢）</p>
<p>甘瀾水煎溫服脈虛夜寐不安。煩渴面赤。時有譫語。目常開不閉。或喜閉不開者。暑入手厥陰心包也。清營湯主之。（如舌苔滑白。乃濕重也。當按濕溫法治之。）</p>
<p>手厥陰暑溫。身熱不惡寒。神昏時時譫語者。牛黃丸主之。紫雪丹亦主之。</p>
<p>小兒暑溫。身熱卒然痙厥者。名曰暑癇。清營湯主之。（熱初入營。肝風內動。手足螈　者。加鉤藤丹皮羚羊角。）</p>
<p>亦可少與紫雪丹。大人暑癇治法亦同。</p>
<p><u>清營湯</u></p>
<p>犀角（一錢五分）　生地（二錢五分）　元參（一錢五分）　麥冬（一錢五分）　丹參（一錢）　竹葉心（一錢）　銀花（一錢五分）　黃連（一錢二分）　連翹（一錢連心用）</p>
<p>水煎服。</p>
<p><u>牛黃丸</u></p>
<p><u>紫雪丹</u></p>
<p>（見前）</p>
<p>長夏受暑。過夏而發。頭痛微惡寒。面赤煩渴。舌白脈濡而數者。無論秋冬皆為太陰伏暑。加減銀翹散主之。</p>
<p><u>銀翹散</u></p>
<p>（見前）</p>
<p>舌白口渴無汗。照原方去牛蒡子元參加杏仁泥（二錢）　飛滑石（三錢）　胸悶加鬱金（一錢五分）　香豉（一錢五分）　嘔而痰多者加半夏（二錢）　茯苓（二錢）　小便短加苡仁（二錢五分）　通草（一錢五分）</p>
<p>舌赤口渴無汗。照原方加生地（二錢）　丹皮（一錢五分）　赤芍（一錢五分）　麥冬（二錢）</p>
<p>舌白口渴有汗或大汗不止。照原方去牛蒡子元參芥穗加杏仁（二錢）　生石膏（三錢）　黃芩（一錢五分）</p>
<p>太陰伏暑。舌白汗多。口渴甚脈洪大者。仍用白虎湯。脈虛大而芤者。仍用人參白虎湯。舌赤口渴汗多者加減生脈散主之。</p>
<p><u>白虎湯</u></p>
<p><u>人參白虎湯</u></p>
<p>（見前）</p>
<p><u>加減生脈散</u></p>
<p>沙參（一錢五分）　麥冬（一錢五分）　五味子（五分）　丹皮（一錢）　細生地（一錢五分）</p>
<p>水煎服。</p>
<h3>濕溫中焦篇</h3>
<p>（溫疫同法。暑溫伏暑附）</p>
<p>濕熱上焦未清。因中陽素虛。或誤用攻下。以致神識如蒙。舌滑脈緩者。裡虛內陷也。人參瀉心湯主之（按濕證亦舌滑脈濡緩不可以此定為虛象。必須細加審辨。實系因虛邪陷者方可用此方。若辨認未真。萬勿輕用。）</p>
<p><u>人參瀉心湯</u></p>
<p>人參（一錢）　乾薑（一錢）　黃連（八分）　黃芩（一錢）　枳實（五分）　生白芍（一錢）</p>
<p>水煎服。</p>
<p>溫熱受自口鼻。由募原直走中道。不飢不食機竅不靈者。三香湯主之。</p>
<p><u>三香湯</u></p>
<p>栝蔞皮（二錢）　桔梗（二錢）　黑山梔（一錢五分）　枳殼（一錢五分）　鬱金（一錢五分）　香豆豉（一錢五分）　降香末（一錢八分）</p>
<p>水煎服。</p>
<p>吸受穢濕。三焦分布。熱蒸頭脹身痛嘔逆。舌苔白渴不多飲。小便不通。神識昏迷者。表裡經絡臟腑。俱為濕熱所困也。先服牛黃丸。繼服茯苓皮湯。</p>
<p><u>牛黃丸</u></p>
<p>（見前）</p>
<p><u>茯苓皮湯</u></p>
<p>茯苓皮（三錢）　生苡仁（三錢）　豬苓（二錢）　大腹皮（二錢）　白通草（二錢）　淡竹葉（一錢五分）</p>
<p>水煎服。</p>
<p>陽明濕溫。氣壅為噦者。濕熱阻遏胃氣也。新制橘茹湯主之。</p>
<p><u>新制橘茹湯</u></p>
<p>橘皮（三錢）　竹茹（三錢）　柿蒂（七個）　薑汁（三茶匙沖）</p>
<p>水煎溫服　有痰火者加竹瀝栝蔞霜　有瘀血者加桃仁三焦濕鬱。脘連腹脹。大便不爽者。升降失司。表裡俱病也。一加正氣散主之。濕鬱三焦。舌白脘悶身痛便溏。脈象模糊者。經絡著濕也。二加正氣散主之。穢濕著裡。舌黃脘悶。氣機不宣者。濕將化熱也。三加正氣散主之。穢濕著裡。舌白滑。脈右緩者。濕阻氣分也。四加正氣散主之。穢濕著裡。脘悶便泄者。脾胃俱傷也。五加正氣散主之。（末二條證屬寒濕。因同用正氣散。故列於此。）</p>
<p><u>一加正氣散</u></p>
<p>藿香梗（二錢）　厚朴（二錢）　杏仁（二錢）　茯苓皮（一錢）　廣皮（二錢）　神麯（一錢五分）　麥芽（一錢五分）　茵陳（二錢）　大腹皮（一錢）</p>
<p><u>二加正氣散</u></p>
<p>藿香梗（三錢）　廣皮（二錢）　厚朴（二錢）　茯苓皮（三錢）　木防己（三錢）　大豆黃卷（二錢）　川通草（一錢五分）　苡仁（三錢）</p>
<p><u>三加正氣散</u></p>
<p>藿香（三錢連梗葉）　茯苓（三錢）　厚朴（二錢）　廣皮（一錢五分）　杏仁（三錢）　滑石（五錢）</p>
<p><u>四加正氣散</u></p>
<p>藿香梗（三錢）　厚朴（二錢）　茯苓（三錢）　廣皮（一錢五分）　草果（一錢）　山楂（五錢炒）　神麯（二錢）</p>
<p><u>五加正氣散</u></p>
<p>藿香梗（二錢）　廣皮（一錢五分）　茯苓（三錢）　厚朴（二錢）　大腹皮（一錢五分）　穀芽（一錢）　蒼朮（二錢）</p>
<p>以上俱水五杯煎二杯分二次服（今人以藿香正氣一方。統治四時感冒而時令病情各有不同。未免互有妨礙。如此變通方絲絲入扣。為學人開無限法門。宜細玩之。）</p>
<p>脈緩身痛。舌苔淡黃而滑。渴不多飲。或竟不渴。汗出熱解。繼而復熱者。內外合邪。脾胃經絡。兼困於濕也。黃芩滑石湯主之。</p>
<p><u>黃芩滑石湯</u></p>
<p>黃芩（一錢五分）　滑石（一錢五分）　茯苓（一錢五分）　大腹皮（一錢）　白蔻仁（一錢）</p>
<p>通草（五分）　豬苓（一錢五分）</p>
<p>水煎服。</p>
<p>陽明濕溫。嘔而不渴者。濕多熱少也。小半夏加茯苓湯主之。嘔甚而痞者。熱邪內陷與停飲相搏也。一加半夏瀉心湯主之。</p>
<p><u>小半夏加茯苓湯</u></p>
<p>半夏（三錢）　茯苓（三錢）　生薑（二錢）</p>
<p>水煎服。</p>
<p><u>一加半夏瀉心湯</u></p>
<p>半夏（三錢）　黃連（一錢）　黃芩（一錢五分）　枳實（一錢五分）　生薑（一錢五分）</p>
<p>水煎服。　虛者加人參大棗。</p>
<p>濕溫大便閉中脘微拒按而不硬。舌苔黃濃。脈象沉數者。無形濕熱。與有形渣滓相搏也。酒軍丸緩化之。（此證若用大劑攻下。必下利稀水。變為壞證。）</p>
<p><u>酒軍丸</u></p>
<p>酒煮大黃（四兩）　為末水泛丸。如綠豆大。每服一二錢。漸加至三錢。白開水送下。病重者每料加元明粉（一兩）</p>
<p>脈洪滑面赤身熱頭暈。不惡寒。但惡熱。舌上黃滑苔。渴欲涼飲。飲不解渴。得水則嘔。按之胸下痛。小便短。大便閉者。暑溫轉入陽明。水結在胸也。加味小陷胸湯主之。</p>
<p><u>加味小陷胸湯</u></p>
<p>黃連（一錢）　栝蔞（一錢五分）　枳實（一錢）　半夏（二錢）</p>
<p>急流水煎服。</p>
<p>陽明暑溫。脈滑數。不食不飢不便。濁痰凝聚。心下痞者。濕熱互結。阻滯中焦氣分也。二加半夏瀉心湯主之。</p>
<p><u>二加半夏瀉心湯</u></p>
<p>半夏（三錢）　黃連（七分）　黃芩（一錢）　枳實（七分）　杏仁（一錢）</p>
<p>水煎服。　虛者加人參（七分）　大棗（一個）</p>
<p>陽明暑溫。口燥咽乾。渴欲飲水。面目俱赤。舌燥黃。脈沉實者。濕氣已化。結熱獨存也。小承氣湯主之。</p>
<p><u>小承氣湯</u></p>
<p>暑溫蔓延三焦。舌滑微黃者。邪在氣分也。三石湯主之。邪氣久留。舌絳苔少者。熱搏血分也。加味清宮湯主之。</p>
<p>神識不清者。熱閉內竅也。先服紫雪丹。再服清宮湯。（照原方不加減。）</p>
<p><u>三石湯</u></p>
<p>飛滑石（一錢五分）　生石膏（二錢五分）　寒水石（一錢五分）　杏仁（一錢五分）　竹茹（一錢炒）　銀花（一錢五分，花露更妙）　金汁（半酒杯沖）　白通草（一錢）</p>
<p>水煎服。</p>
<p><u>加味清宮湯</u></p>
<p>即於清宮湯內加知母（三錢）　銀花（二錢）　竹瀝（五茶匙沖）</p>
<p>暑溫伏暑。三焦均受。舌灰白。胸痞悶。潮熱嘔惡。煩渴自利。汗出溺短者。濕熱交混。氣分閉結也。杏仁滑石湯主之。</p>
<p><u>杏仁滑石湯</u></p>
<p>杏仁（二錢）　滑石（二錢）　黃芩（一錢五分）　橘紅（一錢）　黃連（六分）　鬱金（一錢五分）　通草（八分）　厚朴（一錢五分）　半夏（二錢）</p>
<p>水煎服。</p>
<h3>濕溫下焦篇</h3>
<p>（溫疫同法。暑溫伏暑附）</p>
<p>濕溫久羈。三焦彌漫。神昏竅阻。少腹硬滿。大便不下者。濕鬱下焦氣分也。宣清導濁湯主之。</p>
<p><u>宣清導濁湯</u></p>
<p>豬苓（二錢五分）　茯苓（二錢五分）　寒水石（三錢）　晚蠶砂（二錢）　皂莢子（一錢五分，去皮）</p>
<p>水煎服。</p>
<p>濕凝氣阻。三焦俱閉。二便不通者。腎中真陽為濕所困也。半硫丸主之。</p>
<p><u>半硫丸</u></p>
<p>石硫黃　製半夏上二味各等分為細末。蒸餅為丸。梧子大。每服一二錢。白滾水送下。</p>
<p>濕溫病身熱久不解。口渴舌乾。忽然發痙。或手足搐搦者。津枯邪滯。厥陰風火上升也。羚羊角湯主之。（如兼大便不通。脈沉有力。舌黃起刺者。本方去牡蠣。送酒軍丸徐攻之。）</p>
<p><u>羚羊角湯</u></p>
<p>羚羊角（一錢五分）　女貞子（三錢）　鉤藤（一錢五分）　鮮生地（三錢）　石決明（三錢生用）</p>
<p>鱉甲（三錢醋炒）　生牡蠣（二錢）　菊花（一錢五分）　桑葉（一錢五分）</p>
<p>水煎服。</p>
<p>濕溫伏暑脅痛。或咳或不咳。或但熱不寒。或寒熱往來如瘧者。濕邪積為支飲。懸於脅下也。不可誤認柴胡證。香附旋覆花湯主之。</p>
<p><u>香附旋覆花湯</u></p>
<p>生香附（一錢五分）　旋覆花（一錢五分絹包）　蘇子霜（一錢五分）　廣皮（一錢）　半夏（二錢五分）　茯苓（一錢五分）　苡仁（二錢五分）　杏仁（二錢）</p>
<p>水煎溫服　腹滿者加厚朴。痛甚者加降香末。暑邪深入少陰消渴者。心火獨亢腎液受虧也。深入厥陰麻痹者。熱邪傷陰。筋失所養也。俱連梅湯主之。心熱煩燥神迷甚者。先服紫雪丹。再服連梅湯</p>
<p><u>連梅湯</u></p>
<p>烏梅（一錢五分去核）　黃連（一錢）　麥冬（一錢五分連心）　生地（一錢五分）　阿膠（一錢）</p>
<p>水煎服。　脈虛大而芤者加人參。</p>
<p>暑邪深入厥陰。舌灰消渴。心下板實。嘔惡吐蛔。寒熱。瀉血水。甚至聲音不出。上下格拒者。土敗木乘。正虛邪熾危候也。椒梅湯主之。</p>
<p><u>椒梅湯</u></p>
<p>（此方寒熱並用。以輔正驅邪為法。乃從仲景烏梅丸方化出。）</p>
<p>黃連（一錢）　黃芩（一錢）　乾薑（一錢）　生白芍（一錢五分）　川椒（一錢五分，炒黑）　烏梅（一錢五分去核）　人參（一錢）　枳實（八分）　半夏（一錢）</p>
<p>水煎服。</p>
<p>暑邪誤治胃口傷殘。延及中下。氣塞填胸。燥亂口渴者。邪氣內結。清濁交混。危候也。來復丹主之。</p>
<p><u>來復丹</u></p>
<p>太陰玄精石（一兩）　舶上硫黃（一兩）　橘紅（二錢）　硝石（一兩同硫黃為末微火炒結砂子大）　青皮（二錢去白）　五靈脂（二錢澄去沙炒令煙盡）</p>
<p>上為細末。醋糊為丸。如梧子大。每服一二十丸。米飲送下。</p>
<p>暑邪久熱。寢不安。食不甘。神識不清者。陰液元氣兩傷也。三才湯主之。</p>
<p><u>三才湯</u></p>
<p>人參（二錢）　天冬（一錢五分）　乾地黃（三錢五分）</p>
<p>水煎溫服　陰虛甚者加麥冬五味子　陽虛甚者加茯苓炙甘草暑溫蓄血。及熱入血室證。均與溫熱同法。詳見上卷風溫下焦篇。</p>
<h3>附溫病治法要略</h3>
<p>（溫病變幻甚多。非博考不能詳盡。此特粗示規模。俾知門逕而已。）</p>
<p>一白舌。凡白苔之潤而薄者。為滑白。初病邪在氣分也。潤而濃者為膩白。濕痰重也。干燥而白者。為干白。肺胃津傷。未及化黃而已干也。先以甘寒潤之。待其轉黃再議攻下。俟黃退見薄滑新苔。乃為病愈。若白如積粉。板貼不松者。為粉白。乃疫毒入踞募原也。溫病見此最重。先以銀翹散透解。如不效。再用達原飲法。</p>
<p>一黃舌。有地而濃者為濃黃。甚則老黃灰黃燥裂有紋。宜用增液承氣下之。（凡苔見裂紋。下時均宜加增液湯。）　雖黃而潤。或薄而滑者。熱未傷津也。猶可清熱透表若薄而干者。宜甘寒養津。忌苦重之藥。黃白相兼。乃氣分之邪未全入裡。宜用表裡兼治法。</p>
<p>一黑舌。苔黑而燥者為燥黑甚則生芒刺。（凡舌生芒刺。不拘黃白黑色。皆為上焦熱極。）乃胃大熱而津枯也。宜酌用白虎承氣等劑。如黑而潤者為陰虧。不可攻下。滑黑無苔為胃燥。宜甘寒養胃。又有當下而下。病已減而舌仍黑者。</p>
<p>乃苔皮焦枯未脫。不久自脫。勿再誤下也。</p>
<p>一絳舌。無苔而深紅色為絳舌。絳而兼黃白色者。氣分之邪未全入裡。宜兩清營衛。絳色中有黃白碎點。或大紅點者。熱毒盛也。宜黃連金汁等清之。純絳鮮色者。邪已入營。包絡受病也。宜犀角鮮生地鬱金石菖蒲等味。重則牛黃丸至寶丹開之。若舌色紫暗。乃其人素有瘀血。與邪相搏。當加散血之品。如丹皮丹參琥珀桃仁之類。雖絳而干枯不鮮者。</p>
<p>腎陰涸也。急以阿膠雞子黃地黃天冬等救之。</p>
<p>一自汗。溫病邪熱熏蒸。不因發散而汗自出。為自汗。邪退汗自止。若自汗復大熱大渴。即系白虎證。裡邪盛亦多自汗。必下後續得戰汗方解。均不可誤認為表虛也。</p>
<p>一盜汗。寐則汗出。醒則汗止也。溫病伏邪內盛。熱蒸於外。故作盜汗。邪退汗自止。亦勿認為表虛若溫病已愈。</p>
<p>脈靜身涼。復得盜汗或飲食勞動而自汗者。乃表虛也。</p>
<p>一戰汗。乃邪氣與正氣相爭也。氣盛則一戰而汗解。邪盛雖戰而無汗。當其戰時。不可擾動。聽其自然。汗出即解。</p>
<p>如不解。或次日。或隔一二日。必復戰。勿疑為瘧。</p>
<p>一膚冷。溫病戰汗後。膚冷如冰。甚則倦臥不語。此乃陽從汗泄之故。當任其安臥靜養。待過一晝夜。陽氣來復。</p>
<p>自然溫暖如常。切勿認為脫證驚惶呼喚。蓋脫證脈必急疾。躁擾不能安臥。此則脈象和緩。安神穩睡。正邪退病除之吉兆也。</p>
<p>一發黃。濕熱壅遏於中。小便不利。則周身發黃。其黃亮如金者名陽黃。熱重也。黃暗而滯者名陰黃。濕重也。陽黃用四苓散加茵陳梔子滑石木通。陰黃用四苓散加官桂蒼朮厚朴之類。</p>
<p>一化瘧。溫瘧暑瘧與常瘧不同。常瘧作止有時。此則作止無定。常瘧寒熱兩平。此則寒輕熱重。或單熱不寒。常瘧發後飲食如故。無甚舌苔。此則不思飲食舌苔濃膩。常瘧發於少陽此則發於陽明。若概用柴胡湯。不惟不能去病。反將由淺引深。宜用加減清脾飲治之。</p>
<p>一化痢。溫病濕熱內蘊。氣血凝滯。致成痢疾者。宜用加減芩芍湯治之。</p>
<p>一痹證。濕溫邪滯經絡。或腰膝疼重。步履艱難。或似半身不遂。起立不便。皆溫熱失治。傷及筋隧而然。若認為痿證。則誤矣。宜用威靈仙漢防己川萆　生苡仁牛膝桑枝桂枝之屬。一結胸。胸脘按之痛者是也。宜用加味小陷胸湯。</p>
<p>徐徐推之使下。若但胸膈滿悶。按之有形不痛者。為胸痞。宜用辛開之品。輕者杏仁橘皮薤白。重者枳實黃連半夏之類。</p>
<p>雖舌絳神昏。但胸下拒按。即宜參以辛開。不可率投涼潤也。</p>
<p>一陽極似陰證。初病手足逆冷。周身如冰。面如蒙垢。頭痛似劈。飲熱惡涼。甚則脈亦沉伏。純若陰邪。但以小便赤白為辨。赤即陽厥。亟用清熱敗毒藥。其伏熱自還於表。仍照溫病法治之。</p>
<p>一自復。疫邪已退。無因反復謂之自復。乃余邪未盡也。隨其見證以輕藥治之。</p>
<p>一食復。溫病新愈後。因飲食不慎。以致吞酸噯腐。胸腹滿悶。身熱又作。名曰食復。輕則減食自愈重則用藥稍稍消導之。</p>
<p>一勞復。病愈後脈證俱平。惟元氣未復。或因多言勞動。或因沐浴梳頭。以致前證復發。靜養自愈。或調補氣血以待元氣自復。萬不可誤進猛劑。再剝削之。</p>
<p>一轉變。溫病用藥。須知轉變。不可執定。如治濕溫。於面白陽微之人。涼藥用至十分六七。即勿再用。恐過涼則陽必傷也。面蒼火重之人。涼藥用至十分六七。雖熱減身寒。仍不可遽用溫補。恐火雖熄猶有餘焰也。又如復脈及大小定風珠諸方。為溫病陰液干枯。肝風內動之聖藥。然用至數劑後。察其風平液復。即宜改用輕劑調理。若因見效。服之太過。則沉陰傷胃。必有食減面腫之患。總之藥期中病。過猶不及。聊舉數端。余可類推也。</p>
<h3>附方</h3>
<p><u>加減清脾飲</u></p>
<p>青皮（一錢五分）　半夏（一錢五分）　黃芩（一錢）　甘草（一錢）　茯苓（二錢）　青蒿（二錢）　陳皮（一錢五分）　厚朴（一錢）　草果（八分）　生薑（一片）　大棗（二枚）</p>
<p>水煎服。</p>
<p><u>加減芩芍湯</u></p>
<p>當歸（二錢）　白芍（三錢）　黃芩（二錢）　黃連（一錢五分）　厚朴（一錢五分）　木香（一錢煨）　廣皮（二錢）</p>
<p>水煎服。</p>
<p><u>四苓散</u></p>
<p>茯苓（三錢）　豬苓（八分）　澤瀉（八分）　白朮（一錢五分）</p>
<p>水煎服。</p>
