/**
 * 大綱樣式
 */
html {
  height: 100%;
  line-height: 2;
}

body {
  margin: 0;
  padding: 0;
}

body > header {
  display: block;
  background-color: #E9E9E9;
}

body > header > h1 {
  margin: 0;
  padding: .75rem;
  text-align: center;
  font-size: 1.25em;
  color: #333;
  text-shadow: 0px 1px 0px #EEE;
}

body > header > #panel-open-wrapper:not([hidden]) + h1 {
  margin: 0 2em 0 0;
}

body > header > h1 a {
  color: black;
}

body > header > h1 a:hover {
  color: #F33;
}

body > header > nav ul {
  margin: auto;
  padding: 0;
  background-color: #dfd;
}

body > header > nav ul > li {
  display: inline-block;
  list-style: none;
  box-sizing: border-box;
  margin: auto;
}

body > header > nav ul > li > a {
  padding: 0.5em;
}

body > header > nav ul > li > a:hover {
  background-color: #5e7380;
  color: #fff;
  text-decoration: none;
}

body > main {
  margin: 1.7em;
}

body > footer {
  padding: .75em;
  background-color: #E9E9E9;
  color: #333;
  font-size: .75em;
  text-align: center;
}

#panel-open-wrapper {
  position: absolute;
  top: .75em;
  right: .75em;
  width: 2em;
  height: 2em;
  writing-mode: horizontal-tb;
}

#panel-open {
  display: block;
  margin: .125em 0 .1875em;
  border-top: .9375em double #aaa;
  border-bottom: .3125em solid #aaa;
  height: .3125em;
}

#panel {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  min-height: 100vh;
  z-index: 10;
  overflow: auto;
  background-color: #DDD;
  font-size: 16px;
  line-height: 1.5;
  writing-mode: horizontal-tb;
}

#panel-close-wrapper {
  margin-top: 10px;
  margin-right: 10px;
  text-align: right;
}

#panel-close {
  display: inline-block;
	padding: 2px;
	border: 1px #777 solid;
	background-color: #999;
	color: #FFF;
	text-decoration: none;
}

#panel-close:hover {
	background-color: #04b;
}

#panel-main {
  margin: auto;
  padding: 0 2em;
  max-width: 800px;
}

#panel-main > fieldset > div {
  display: inline-block;
  margin: 0 .25em;
}

#panel-main > fieldset > div:first-of-type {
  margin-left: 0;
}

#panel-main-toc-list {
  font-size: 1rem;
}

#panel-main-toc-list > ol {
  margin: 0;
}

/**
 * 基本樣式
 */
a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: #F33;
}

main > header > h1 {
  margin: 1rem 0;
  border-bottom: double #a2a9b1;
  font-size: 1.8em;
}

main > footer {
  margin-top: 2rem;
  padding: .5rem;
  background-color: #E9E9E9;
}

main h1,
main h2 {
  border-bottom: 1px solid #a2a9b1;
}

main h1,
main h2,
main h3,
main h4,
main h5,
main h6 {
  margin: 2rem 0 1rem 0;
}

main h1 {
  font-size: 1.67em;
}

main h2 {
  font-size: 1.5em;
}

main h3 {
  font-size: 1.4em;
}

main h4 {
  font-size: 1.3em;
}

main h5 {
  font-size: 1.2em;
}

main h6 {
  font-size: 1.1em;
}
