/**
 * 基本樣式
 */
[data-type="book"] main del,
[data-type="book"] main ins {
  text-decoration: none;
}

[data-type="book"] main pre {
  white-space: pre-wrap;
  word-break: break-all;
}

[data-type="book"] main table {
  border-collapse: collapse;
  line-height: 1.5;
}

[data-type="book"] main table > tbody > tr > td,
[data-type="book"] main table > tbody > tr > th {
  border: 1px solid black;
  padding: 2px;
}

/**
 * 直書呈現模式
 */
html.直書 {
  writing-mode: vertical-rl;
}

html.直書 body > header > #panel-open-wrapper:not([hidden]) + h1 {
  margin: 2em 0 0 0;
}

html.直書 main > header > h1 {
  margin: 0 1rem;
  border-bottom: none;
  border-left: double #a2a9b1;
}

html.直書 main > footer {
  margin-top: 0;
  margin-right: 2rem;
}

html.直書 main h1,
html.直書 main h2 {
  border-bottom: none;
  border-left: 1px solid #a2a9b1;
}

html.直書 main h1,
html.直書 main h2,
html.直書 main h3,
html.直書 main h4,
html.直書 main h5,
html.直書 main h6 {
  margin: 0 2rem 0 1rem;
}

/**
 * 古版呈現模式
 */
html.古版 main {
  font-size: 1.5em;
  word-wrap: break-word;
  word-break: break-all;
  text-orientation: upright;
}

html.古版 main > header > h1 {
  border-bottom: double #a2a9b1;
  font-size: 1.33em;
}

html.古版.直書 main > header > h1 {
  border-bottom: none;
  border-left: double #a2a9b1;
}

html.古版 main h1,
html.古版 main h2 {
  border: none;
}

html.古版 main h1,
html.古版 main h2,
html.古版 main h3,
html.古版 main h4,
html.古版 main h5,
html.古版 main h6,
html.古版 main p,
html.古版 main ul,
html.古版 main ol,
html.古版 main figure,
html.古版 main pre {
  margin: 0;
  font-size: 1em;
}

html.古版 ins,
html:not(.古版) del {
  display: none;
}

html.古版 .今版,
html:not(.古版) .古版 {
  display: inline;
}

/**
 * 笈成樣式
 */
dl.元資料 {
  padding: .5em;
  background-color: #EEF;
  color: #333;
}

html:not(.直書) dl.元資料 {
  margin: 1em 0;
}

html.直書 dl.元資料 {
  margin: 0 1em;
}

dl.元資料 dt {
  display: inline;
  font-weight: bold;
}

dl.元資料 dt::after {
  content: "：";
}

dl.元資料 dd {
  display: inline;
  margin: 0;
}

main h1.行內,
main h2.行內,
main h3.行內,
main h4.行內,
main h5.行內,
main h6.行內,
html.直書 main h1.行內,
html.直書 main h2.行內,
html.直書 main h3.行內,
html.直書 main h4.行內,
html.直書 main h5.行內,
html.直書 main h6.行內 {
  display: inline;
  margin: 0;
  border: none;
  font-size: inherit;
  font-weight: inherit;
}

/* 在無法使用 p 之處替代，e.g. <div class="段落"><h3 class="行內">...</h3></div> */
html:not(.古版):not(.直書) main div.段落 {
  margin: 1rem 0;
}

html:not(.古版).直書 main div.段落 {
  margin: 0 1rem;
}

hr.分段 {
  display: none;
}

span.註 {
  color: #966;
}

span.疏 {
  color: #66f;
}

span.校 {
  color: #800080;
}

span.編號 {
  color: #800080;
  font-size: .9em;
}

html.直書 span.編號 {
  text-combine-upright: all;
}

html:not(.古版) small.雙行小字,
html:not(.古版) small.靠右小字,
html:not(.古版) small.靠左小字 {
  font-size: .8em; /* small 預設 .833em */
}

html:not(.古版) small.雙行小字::before,
html:not(.古版) small.靠右小字::before,
html:not(.古版) small.靠左小字::before {
  content: "（";
}

html:not(.古版) small.雙行小字::after,
html:not(.古版) small.靠右小字::after,
html:not(.古版) small.靠左小字::after {
  content: "）";
}


html.古版 small.雙行小字,
html.古版 small.靠右小字,
html.古版 small.靠左小字 {
  /* 一般雙行小字為右一左一，樣式應確保一原字對應二小字 */
  font-size: .5em;
}

small.靠右小字 {
  vertical-align: super;
}

small.靠左小字 {
  vertical-align: sub;
}

small.腳註::before {
  content: "【";
}

small.腳註::after {
  content: "】";
}

b.黑底白字 {
  font-weight: inherit;
  background: black;
  color: white;
}

b.方外框 {
  font-weight: inherit;
  border: 1px solid black;
}

b.圓外框 {
  font-weight: inherit;
  border: 1px solid black;
  border-radius: .25em;
}

.行首對齊 {
  text-align: left;
}

.置中對齊 {
  text-align: center;
}

.行尾對齊 {
  text-align: right;
}

.行尾懸浮 {
  float: right;
}

.中止懸浮 {
  clear: both;
}

/* deprecated */
img.行首懸浮 {
  float: left;
}

/* deprecated */
img.置中區塊 {
  display: block;
  margin: auto;
}

/* deprecated */
img.行尾懸浮 {
  float: right;
}

html:not(.直書) .縮進1字 {
  margin-left: 1em;
}

html.直書 .縮進1字 {
  margin-top: 1em;
}

html:not(.古版):not(.直書) .古版.縮進1字 {
  margin-left: 0;
}

html:not(.古版).直書 .古版.縮進1字 {
  margin-top: 0;
}

html:not(.直書) .縮進2字 {
  margin-left: 2em;
}

html.直書 .縮進2字 {
  margin-top: 2em;
}

html:not(.古版):not(.直書) .古版.縮進2字 {
  margin-left: 0;
}

html:not(.古版).直書 .古版.縮進2字 {
  margin-top: 0;
}

html:not(.直書) .縮進4字 {
  margin-left: 4em;
}

html.直書 .縮進4字 {
  margin-top: 4em;
}

html:not(.古版):not(.直書) .古版.縮進4字 {
  margin-left: 0;
}

html:not(.古版).直書 .古版.縮進4字 {
  margin-top: 0;
}

html:not(.直書) .縮進5字 {
  margin-left: 5em;
}

html.直書 .縮進5字 {
  margin-top: 5em;
}

html:not(.古版):not(.直書) .古版.縮進5字 {
  margin-left: 0;
}

html:not(.古版).直書 .古版.縮進5字 {
  margin-top: 0;
}

html:not(.直書) .行尾縮進2字 {
  margin-right: 2em;
}

html.直書 .行尾縮進2字 {
  margin-bottom: 2em;
}

.首行縮進4字 {
  text-indent: 4em;
}

.首行凸出1字 {
  text-indent: -1em;
}

html:not(.古版) .古版.首行凸出1字 {
  text-indent: inherit;
}

.首行凸出2字 {
  text-indent: -2em;
}

html:not(.古版) .古版.首行凸出2字 {
  text-indent: inherit;
}

ul.隱式列表 {
  padding: 0;
}

html:not(.直書) ul.隱式列表 ul:not([class]) {
  padding-left: 1em;
}

html.直書 ul.隱式列表 ul:not([class]) {
  padding-top: 1em;
}

ul.隱式列表 > li, ul.隱式列表 ul:not([class]) > li {
  list-style: none;
}

ul.行內列表 {
  padding: 0;
}

ul.行內列表 > li {
  display: inline-block;
  list-style: none;
  margin: 0;
}

ol.階層列表, ol.階層列表 ol {
  padding: 0;
  counter-reset: 階層列表;
}

ol.階層列表 li {
  list-style: none;
  margin: 0;
}

ol.階層列表 li::before {
  counter-increment: 階層列表;
  content: counters(階層列表, ".") ". ";
}

html:not(.直書) ul.項寬5字 > li {
  min-width: 5em;
}

html.直書 ul.項寬5字 > li {
  min-height: 5em;
}

html:not(.直書) ul.項寬6字 > li {
  min-width: 6em;
}

html.直書 ul.項寬6字 > li {
  min-height: 6em;
}

html:not(.直書) ul.項寬8字 > li {
  min-width: 8em;
}

html.直書 ul.項寬8字 > li {
  min-height: 8em;
}

html:not(.直書) ul.項寬9字 > li {
  min-width: 9em;
}

html.直書 ul.項寬9字 > li {
  min-height: 9em;
}

html:not(.直書) ul.項寬10字 > li {
  min-width: 10em;
}

html.直書 ul.項寬10字 > li {
  min-height: 10em;
}
