<header><h1>溫熱逢源</h1></header>
<dl class="元資料" data-type="book">
<div><dt>作者</dt><dd>柳寶詒</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1644/1911">公元1644年至公元1911年</data></dd></div>
</dl>
<h2>卷上</h2>
<h3>詳注靈樞素問伏氣化溫諸條</h3>
<p>靈樞論疾診尺篇曰：冬傷於寒，春生癉熱。</p>
<p>素問生氣通天論曰：冬傷於寒，春必溫病。</p>
<p>金匱真言論曰：藏於精者，春不病溫。</p>
<p>詒按：冬令受寒隨時而發者為傷寒，郁久而發者為溫病。就溫病言，亦有兩證：有隨時感受之溫邪，如葉香岩、吳鞠通所論是也；有伏氣內發之溫邪，即內經所論者是也。是則冬傷於寒，正春月病溫之由；而冬不藏精，又冬時受寒之由也。</p>
<p>又按：喻西昌尚論後篇，專論伏氣發溫之病，分為三例：以冬傷於寒，春必病溫為一例，謂寒邪之伏於肌膚者，以冬不藏精，春必病溫為一例，謂寒邪之伏於骨髓者；以冬不藏精，冬傷於寒為一例，謂內外均受邪，如傷寒兩感之證。以此三例，鼎立三綱，分途施治，恰與傷寒論之太陽病之風傷衛、寒傷營、風寒兩傷營衛之三例，前後相符。此喻氏得意之筆也。蓋喻氏天才超越，筆力清卓，每有議論，無不力破余地：而有意為文，每每虛立門面，創議論以助我波瀾。在作文則為高手，而說理則未必皆能精確矣。即如伏氣發溫之病，惟冬傷於寒故病溫，惟冬不藏精故受寒。其所受之寒，無不伏於少陰，斷無伏於肌膚之理。其腎氣未至大虛者，倘能鼓邪外達，則由少陰而達太陽，病勢淺而輕。若腎虛不能托邪，則伏於臟而不得外出，病即深而重。同此邪，同此病，證有輕重，而理原一貫，無三綱之可分也。喻氏論病，每每騁其才辯，而刻意求高：抑或借作感慨，而自抒胸臆。逞筆所之，不自覺其言之過當。學人須分別觀之。</p>
<p>又按：王叔和編次傷寒論略例云：中而即病者，名傷寒。不即病者，寒毒藏於肌膚，至春變為溫病，至夏變為暑病。暑病者，熱極重於溫也。按叔和此論，大旨無甚刺謬。喻氏肆意駁之，未免太過。惟寒毒藏於肌膚一語，於理欠圓。冬寒是時令之邪，與疫癘不同，無所謂毒。於寒下加一毒字，已屬駭人。再寒邪之內伏者，必因腎氣之虛而入，故其伏也每在少陰。若皮膚有衛氣流行之處，豈容外邪久伏。況果在皮膚，則病發亦輕，何至深入臟腑，而有險惡之證耶？素問熱論篇曰：今夫熱病者，皆傷寒之類也。又曰：凡病傷寒而成溫者，先夏至日者為病溫，後夏至日者為病暑。暑當與汗皆出，勿止。</p>
<p>詒按：伏氣發溫，隨時而變。熱之輕者曰溫，熱之重者曰暑。夏至後曰小暑、大暑，冬至後曰小寒、大寒。寒暑二字，相為對待。內經所稱暑與熱，本無分別。觀篇首云：熱病者，皆傷寒之類也。其義可見。至仲景始以夏月暴感之熱邪名曰　病，正以別於伏氣外發之熱病也。況伏氣隨時外發，亦必兼挾時令之邪。如春令兼風，夏令兼暑，理所必至。是其所以異名者，固不第因乎熱之微甚也。</p>
<p>又按經言：凡病傷寒，是傷寒不必專在於冬時，即三時感寒，亦能郁化為溫也。其稱夏至後為病暑，則暑即溫之變名，尤不可指為另是一邪。而此獨分別言之者，因伏氣發於夏至以後，其治法略有不同。蓋溫病忌汗，恐其傷陰。若時交長夏，則汗出必多，而邪氣亦隨汗而出，又未可以汗多而遽止之也。</p>
<p>靈樞邪氣臟腑病形篇：岐伯曰：虛邪之中身也，洒淅動形。正邪之中人也微，先見於色，不知於身；若有若無，若亡若存；有形無形，莫知其情。</p>
<p>素問八正神明論：岐伯曰：正邪者，身形若用力，汗出腠理開，逢虛風，其中人也微，故莫知其情，莫見其形。</p>
<p>詒按：此兩節，言冬時寒邪，所以能久伏不覺之故。凡風從時令王方來者為正邪，從沖後來者為虛邪。冬以寒為正邪，故中於人也令人不覺。近人有疑邪正不並立，不能久伏不發者。曷不取此兩節經文，細意繹之。</p>
<p>靈樞論疾診尺篇：岐伯曰：尺膚熱甚，脈甚躁者，病溫也。其脈盛而滑者，病且出也。</p>
<p>素問平人氣象論：岐伯曰：人一呼脈三動，一吸脈三動而躁，尺熱，曰病溫。</p>
<p>詒按：尺膚發熱，熱在陰也。尺熱而脈數且躁，中有溫邪也。更兼盛滑，則熱邪已動，有外出之象矣。此言伏溫而發之脈證也。</p>
<p>靈樞熱病篇曰：熱病，不知所痛，耳聾不能自收，口乾，陽熱甚，陰頗有寒者，熱在髓，死不可治。又曰：熱病已得汗，而脈尚躁盛，此陰脈之極也，死。其得汗而脈靜者生。熱病者脈尚躁盛而不得汗者，此陽脈之極也，死。脈盛躁，得汗靜者生。</p>
<p>詒按：此節不知所痛二句，形容伏溫初發，神情呆鈍，其狀如繪。陽熱甚者，其熱邪之浮於外者已甚也。</p>
<p>陰頗有寒者，其寒邪之伏於陰者尚未外透也。若此者，其熱深在骨髓，故不可治。</p>
<p>又按：已得汗而脈尚躁，是熱甚而鬱於陰也。脈尚躁而不得汗，是熱甚而鬱於陽也。邪鬱不解，陰陽之氣不能主持，故死。</p>
<p>素問熱論篇：黃帝問曰：今夫熱病者，皆傷寒之類也，或愈或死，其死皆以六、七日之間，其愈皆以十日以上者何也？不知其解，愿聞其故。岐伯對曰：巨陽者，諸陽之屬也。其脈連於風府，故為諸陽主氣也。人之傷於寒也，則為病熱，熱雖甚不死；其兩感於寒而病者，必不免於死。帝曰：愿聞其狀。岐伯曰：傷寒一日，巨陽受之，故頭項痛，腰脊強；二日陽明受之，陽明主肉，其脈挾鼻絡於目，故身熱、目痛而鼻干，不得臥也；三日少陽受之，少陽主膽，其脈循脅絡於耳，故胸脅痛而耳聾。三陽經絡皆受其病，而未入於臟者，故可汗而已。四日太陰受之，太陰脈布胃中，絡於嗌，故腹痛而嗌干；五日少陰受之，少陰脈貫腎，絡於肺，系舌本，故口燥舌乾而渴；六日厥陰受之，厥陰脈循陰器而絡於肝，故煩滿而囊縮。三陰三陽五臟六腑皆受病，營衛不行，五臟不通則死矣。其不兩感於寒者，七日巨陽病衰，頭痛少愈；八日陽明病衰，身熱少愈：九日少陽病衰，耳聾微聞；十日太陰病衰，腹減如故，則思飲食；十一日少陰病衰，渴止不滿，舌乾已而嚏；十二日厥陰病衰，囊縱，少腹微下，大氣皆去，病日已矣。帝曰：治之奈何？岐伯曰：治之各通其臟脈，病日衰已矣。</p>
<p>其未滿三日者，可汗而已；其滿三日者，可泄而已。又帝曰：熱病已愈，時有所遺者，何也？岐伯曰：諸遺者，熱甚而強食之，故有所遺也。若此者，皆病已衰而熱有所藏，因其穀氣相搏，兩熱相合，故有所遺也。帝曰：善！治遺奈何？岐伯曰：視其虛實，調其逆從，可使必已矣。帝曰：病熱當何禁之？岐伯曰：病熱少愈，食肉則復，多食則遺，此其禁也。又帝曰：其病兩感於寒者，其脈應與其病形何如？岐伯曰：兩感於寒者，病一日則巨陽與少陰俱病，則頭痛、口乾而煩滿；二日則陽明與太陰俱病，則腹滿，身熱，不欲食，譫言；三日則少陽與厥陰俱病，則耳聾、囊縮而厥。水漿不入，不知人，六日死。帝曰：五臟已傷，六腑不通，營衛不行，如是之後，三日乃死，何也？岐伯曰：陽明者十二經脈之長也，其血氣盛，故不知人；三日，其氣乃盡，故死矣。</p>
<p>又：凡病傷寒而成溫者，先夏至日者為病溫；後夏至日者為病暑，暑當與汗皆出，勿止。</p>
<p>詒按：熱論謂人受寒邪，其為病必化熱。但隨時而發者為傷寒，其病自外而入內；久伏而發者為溫病，其病自內而達外。此論除篇末傷寒成溫一節論及溫病外，其余所論，都屬傷寒。惟所列六經形證，傷寒與溫病，初無二致，故備錄之，以為臨證時分經認病之則。</p>
<p>又按：凡傷寒化熱，自表入裡。初起之日，在三陽經者可汗：後三日，在三陰經者可泄。故不至於死。其兩感者，乃一臟一腑一陰一陽同時俱病，來勢迅速，不及措手，勢必陰陽交絕，營衛不通，而不免於死矣。刺熱篇所論，太陽之脈與厥陰脈爭見者，死期不過三日一段，即溫病中之兩感，與此節可以互證。</p>
<p>又按：食肉則復一節，論病後食復，溫病亦與傷寒相同。</p>
<p>又按：經言冬傷於寒，春必病溫，是指冬邪春發者而言。此言凡病傷寒，則無論冬夏，凡有伏邪，均可發為溫病也。故夏至前後，異其時而同其病；曰溫曰暑，同其病而異其名也。又溫與暑病邪相同，而隨時異名。</p>
<p>冬邪春發者，邪鬱化熱，由裡達外，邪隨汗去，多汗則傷陰，故汗多者當止之。若至夏令，天時蒸熱，先已有汗，更有伏邪內動，汗泄愈多。但其汗之出也，邪機甫動，而汗即淋漓。若見汗多而遽止之，則邪機亦因之而窒矣。故特分別言之，而禁其止也。</p>
<p>刺熱篇曰：肝熱病者，小便先黃，腹痛多臥，身熱。熱爭則狂言及驚，脅滿痛，手足躁，不得安臥。庚辛甚，甲乙大汗，氣逆則庚辛死。刺足厥陰、少陽。其逆則頭痛員員，脈引沖頭也。</p>
<p>詒按：肝脈絡陰器，肝病不能疏泄，則熱鬱而小便黃也。腹痛多臥，肝病克脾也。熱爭者，為熱甚而與正氣相爭也。狂言及驚，犯及手徑也。脅痛，肝脈所過也。手足躁，不得安臥，熱甚生風，風淫四末，故煩攪不安也。庚辛克木之日，故病甚。甲乙木旺之日，故汗出而愈。氣逆者，謂病氣甚，而不順其可愈之期也，更逢克木之日，故死。厥陰少陽並刺，病在臟，必瀉其腑，以求出路也。逆則頭痛，病氣上升之故。（參吳鞠通意）（庚辛甚以下之理，各臟仿此）</p>
<p>心熱病者，先不樂，數日乃熱。熱爭則卒心痛，煩悶善嘔，頭痛面赤，無汗。壬癸甚，丙丁大汗，氣逆則壬癸死。刺手少陰、太陽。</p>
<p>詒按：膻中為喜樂所出，故心病先不樂而發熱。與正爭則心卒痛，心主火故煩，心氣不舒故悶。嘔屬肝病，木火同氣；且邪在上，多嘔也。頭痛，火升也。面赤，火越也。汗為心液，熱甚則液干，故無汗也。</p>
<p>章虛穀曰：人身生陽之氣，根於腎而發於肝。木生火，火生土，土生金，金生水，水又生木。生氣相傳，所以生生不息也。邪伏血氣之中，亦隨生陽之氣而動，動甚則病發，其發也隨氣所注而無定處。故難經言：溫病之脈，行在諸經，不知何經之動也。仲景所論：或發於陰經，或發於陽經，正合難經之旨。今觀內經按生氣之序，首列肝，次以心、脾、肺、腎，可見邪隨生氣而動，不定中是有一定之理，足以印證難經，仲景之言，而軒岐、越人、仲景之一脈相承，更可見矣。</p>
<p>脾熱病者，先頭重，頰痛，煩心，顏青，欲嘔，身熱。熱爭則腰痛不可用俯仰，腹滿泄，兩頷痛。甲乙甚，戊己大汗，氣逆則甲乙死。刺足太陰、陽明。</p>
<p>詒按：濕之中人也，首如裹，故脾病頭先重也。頰為少陽所屬，土木互為勝負，土病則木病亦見也。顏青、欲嘔、頷痛，皆木病也。脾脈注心下故煩心。腰痛不可用俯仰，是脾病及胃，不能束筋骨利關節也。腹滿泄，脾經本病也。</p>
<p>肺熱病者，先淅然厥，起毫毛，惡風寒，舌上黃，身熱。熱爭則喘咳，痛走胸膺背，不得大息，頭痛不堪，汗出而寒。丙丁甚，庚辛大汗，氣逆則丙丁死。刺手太陰、陽明，出血如大豆，立已。</p>
<p>詒按：肺主皮毛，故先惡風寒。肺氣不化，則濕熱蒸郁，故舌苔黃。喘咳，熱邪傷肺也。熱鬱肺部，胸膺背走痛而不得太息也。頭痛者，天氣　郁，而熱上衝腦也。熱蒸於內，則腠開汗出，熱暫泄而生寒也。</p>
<p>腎熱病者，先腰痛　酸，苦渴數飲，身熱。熱爭則項痛而強，　寒且酸，足下熱，不欲言，其熱則項痛員員澹澹然。戊己甚，壬癸大汗，氣逆則戊己死。刺足少陰、太陽。</p>
<p>詒按：腰為腎之府，又腎脈貫脊，會於督脈之長強穴。又腎脈入跟中以上　內，太陽之脈亦下貫　內。</p>
<p>，即　也。酸者，熱爍液也。腎主五液而惡燥，病熱則液傷而燥，故苦渴而飲水自救也。又太陽之脈，從巔入絡腦，還出別下項，病甚而移之腑，故項痛而強也。　寒，熱極為寒也。腎脈從小指之下斜趨足心，病甚故足下熱也。不欲言，有不能明言之苦也。員員澹澹者，一身不能自主，難以形容之狀。</p>
<p>又按：內經敘列五臟熱病，惟肝、腎兩節，多其逆一層，他臟無之。可見熱病傷陰，惟肝、腎為最要也。</p>
<p>肝熱病者，左頰先赤；心熱病者，顏先赤；脾熱病者，鼻先赤；肺熱病者，右頰先赤；腎熱病者，頤先赤。病雖未發，見赤色者刺之、名曰治未病。</p>
<p>章虛穀曰：此更詳五臟熱邪未發，而必先見於色之可辨也。左頰、顏、鼻，右頰、頤，是肝、心、脾、肺、腎五臟之氣，應於面之部位也。病雖未發，其色先見，可見邪本伏於氣血之中，隨氣血流行而不覺。良工望而知其邪動之處，乘其始動，即刺而泄之，使邪勢殺而病自輕。即難經所云：隨其經之所在而取之者，是為上工治未病也。而用藥之法，可以類推矣。</p>
<p>治諸熱病，以飲之寒水，乃刺之；必寒衣之，居之寒處，身寒而止。</p>
<p>章虛穀曰：以其久伏之邪，熱從內發，故必先飲寒水，從裡逐熱，然後刺之，從外而泄。再衣以寒，居處以寒，必身寒熱除而後止。</p>
<p>王夢隱曰：今人不讀內經，於溫熱暑疫諸病，一概治同傷寒，禁其涼飲，濃其衣被，因而致重者不少。然飲冷亦須有節，過度則有停飲、腫滿、嘔利等患。更有愈後手指足縫出水，速投米仁三兩，白朮一兩，車前子五錢，桂心一錢，名驅濕保脫湯。連服十劑，可免腳趾脫落。此即諺所謂脫腳傷寒也，亦不可不知。若飲冷雖多，而汗出亦多，必無後患。</p>
<p>詒按：治熱以寒，一定之理。今人於溫病初發，見用涼解，而即言其遏邪者，彼固未明此理也。</p>
<p>太陽之脈，色榮顴骨，熱病也。榮未交，曰今且得汗，待時而已。與厥陰脈爭見者，死期不過三日，其熱病內連腎。</p>
<p>章虛穀曰：此言外感與伏邪互病之證也，與熱病篇之兩感，同中有異。彼則內外同時受邪，內外俱病，故不免於死。此則外感先發，伏邪後發者可生。若同發，則死期不過三日也。云太陽之脈者，謂邪受於太陽經脈，即一日巨陽受之，頭項痛，腰脊強者是也。色榮顴骨者，謂鮮榮之赤色，見於顴也。蓋顴者骨之本，骨者腎所主，腎臟之伏邪已動，故赤色循榮血而見於顴也。榮未交，今且得汗，待時而已者，太陽與少陰為表裡，太陽經脈外受之邪，與少陰營中伏熱之邪，尚未相交，且使得汗，先解外邪，所謂未滿三日可汗之是也。其內伏之邪後發，待臟氣旺時可已，如腎熱病，待壬癸日得大汗而已也。又如所云見赤色者刺之，名治未病亦可也。倘與厥陰經脈病證爭見，則腎肝皆有邪熱內發，其勢必與太陽外邪連合而不可解，故比之兩感病，死期更速也。蓋兩感病起於經，必待胃氣盡，六日方死。此則熱邪內連腎臟，本元既絕，故死期不過三日也。</p>
<p>少陽之脈，色榮頰前，熱病也。榮未交，曰今且得汗，待時而已。與少陰脈爭見者，死期不過三日。</p>
<p>章虛穀曰：上言肝熱病者，左頰先赤。肝為厥陰，膽為少陽，相表裡者也。外邪受於少陽經脈，而肝臟伏熱之色榮於頰前。若外內之邪尚未相交，今且使其得汗以解外邪。其內發之熱，可待臟氣旺時而已。若與少陰經脈病證爭見，則肝連腎熱，而內外邪勢必交合難解；死期不過三日也。大抵外內之邪，發有先後而不交合，尚可解救，故要緊在榮未交一句。下文病名陰陽交，亦即榮已交之義也。經文只舉太陽、少陽兩證，不及陽明太陰合病者，以陽明之腑，可用攻瀉之法，不至必死。非同太陽少陰，少陽厥陰，其邪溫合而無出路，則必死也。</p>
<p>評熱病篇云：帝曰：有病溫者，汗出輒復熱，而脈躁疾，不為汗衰，狂言不能食，病名為何？岐伯曰：病名陰陽交，交者死也。</p>
<p>章虛穀曰：陰陽之氣，本相交合。今則邪勢彌漫，外感陽分之邪，與內發陰分之熱，混合不分，而本元正氣絕矣，故曰交者死，非陰陽正氣之相交也。下衣冠文物其所以然之理。</p>
<p>人所以出汗者，皆生於穀，穀生於精。今邪氣交爭於骨肉而得汗者，是邪卻而精勝也。精勝，則當能食，而不復熱。復熱者邪氣也，汗者精氣也。今汗出而輒復熱者。是邪勝也。不能食者，精無俾也。病而留者，其壽可立而傾也。且夫熱論曰：汗出而脈尚躁盛者死。今脈不與汗相應，此不勝其病也，其死明矣。狂言者是失志，失志者死。今見三死，不見一生，雖愈必死也。</p>
<p>章虛穀曰：汗生於穀，穀生於精者，謂由本元精氣，化水穀以生津液，發而為汗。邪隨汗泄，則邪卻而精勝也。今汗出復熱而不能食，是邪勝而津無所借也。其病仍留連不去，則其壽可立待而傾矣。狂言失志一也，汗出復熱二也，脈與汗不應三也。見三死證，而不見一生證，雖似愈，必死也。</p>
<p>素問陽明脈解篇曰：足陽明之脈病，惡人與火，聞木音則惕然而驚，鐘鼓不為動。聞木音而驚，何也？岐伯曰：陽明者胃脈也，胃者土也。故聞木音而驚者。土惡木也。帝曰：善！其惡火何也？岐伯曰：陽明主肉，其脈血氣盛，邪客之則熱，熱甚則惡火。帝曰：其惡人何也？岐伯曰：陽明厥則喘而惋，惋則惡人。帝曰：或喘而死者，或喘而生者，何也？岐伯曰：厥逆連臟則死，連經則生。</p>
<p>章虛穀曰：土畏木克，故聞木音則驚也。熱甚則惡火，仲景所謂不惡寒反惡熱也。邪結於胃而氣厥逆，則喘而惋，惋者懊　而不欲見人也。邪熱內結，則氣阻而喘。不能循經外達，則四肢厥逆，蓋四肢稟氣於脾胃也。邪內入則連臟故死，外出則連經故生。</p>
<p>帝曰：病甚則棄衣而走，登高而歌，或至不食數日，逾垣上屋，所上之處，皆非其素所能也，病反能者何也？岐伯曰：四肢者，諸陽之本也，陽盛則四肢實，實則能登高也。帝曰：其棄衣而走者何也？岐伯曰：熱盛於身，故棄衣欲走也。帝曰：其妄言罵詈，不避親疏而歌者，何也？岐伯曰：陽盛則使人妄言罵詈，不避親疏，而不欲食，不欲食，故妄走也。</p>
<p>章虛穀曰：四肢稟氣於脾胃，胃為臟腑之海，而陽明行氣於三陽，故四肢為諸陽之本也。邪盛於胃，氣實於四肢，則能登高也。熱盛於身，故棄衣欲走也。邪亂神明，故妄言罵詈。胃中邪實，不欲飲食。四肢多力，則妄走也。此大承氣之證。其邪連經，脈必滑大，下之可生。其邪連臟，脈必沉細。仲景云：陽病見陰脈者死。則雖有下證，不可用下法矣。</p>
<p>王夢隱曰：溫病誤投熱藥補劑，亦有此候。經證亦有可用白虎湯者。沉細之脈，亦有因熱邪閉塞使然，形證果實，下之可生，未可概以陰脈而斷其必死也。凡熱邪壅遏，脈多細　遲澀，按證清解，自形滑數。不比內傷病服涼藥而脈加數者，為虛也。</p>
<p>熱論篇曰：帝曰：熱病已愈，時有所遺者，何也？岐伯曰：諸遺者，熱甚而強食之，故有所遺也。若此者，皆病已衰而熱有所藏，因其穀氣相搏、兩熱相合，故有所遺也。帝曰：善！治遺奈何？岐伯曰：視其虛實，調其逆從，可使必已矣。帝曰：病熱當何禁之？岐伯曰：病熱少愈，食肉則復，多食則遺，此其禁也。</p>
<p>詒按：此言熱邪初愈，余熱留而未淨，得穀食助氣，則兩熱相合而復熾。觀其食肉則復，多食則遺，故病後必須謹調口腹，只可以清淡稀粥，漸為調養也。</p>
<p>素問玉版論要篇：岐伯曰：病溫虛甚死。</p>
<p>詒按：經言藏於精者，春不病溫。則凡病溫者，其陰氣先虛可知。使或虛而未至於甚，則養陰透邪，治之如法，猶可挽回。若病溫者而至虛甚，則熱邪內訌，陰精先涸，一發燎原，不可治矣。</p>
<p>靈樞五禁篇：岐伯曰：熱病脈靜，汗已出脈盛躁，是一逆也。</p>
<p>詒按：熱病汗出後而脈轉盛躁，此熱邪深伏於陰，至汗出而邪機始動而外露，則其伏邪必重，故曰逆也。</p>
<p>靈樞熱病篇曰：熱病三日，而氣口靜、人迎躁者，取之諸陽，五十九刺，以瀉其熱而出其汗，實其陰以補其不足者。</p>
<p>吳鞠通曰：人迎躁，邪在上焦也，故取之諸陽，以泄其邪，陽氣通則汗隨之。陽盛則陰衰，瀉陽則陰得安其位，故曰實其陰。瀉陽之有餘，即所以補陰之不足，故曰補其不足也。溫熱病未有不傷陰者，實其陰以補其不足，此一句實治溫熱之吃緊大綱。</p>
<p>身熱甚，陰陽皆靜者，勿刺也。其可刺者急取之，不汗出則泄。所謂勿刺者，有死征也。熱病七日、八日，脈口動，喘而短者，急刺之，汗且自出，淺刺手大指間。熱病七日、八日，脈微小，病者溲血，口中干，一日半而死，脈代者一日死。熱病已得汗出，而脈尚躁，喘且復熱，勿刺膚，喘甚者死。</p>
<p>詒按：熱甚而脈浮躁則可刺，當急取之，令其熱邪從汗泄而解。若脈陰陽俱靜，是陽證見陰脈，已有死征，故勿刺。脈口動喘而短者，熱壅於肺也。刺手大指間肺之少商穴，俾肺之熱痹開而汗泄則解矣。熱邪灼爍血分則溲血，陰液被爍則口乾，下焦陰傷已甚，而脈又微小，則不惟陰涸，而陽亦傷矣，故主死。已得汗而脈尚躁，喘且復熱，是熱不為汗衰，而化源且絕矣，故死。</p>
<p>熱病不可刺者有九：一曰汗不出，大顴發赤，噦者死；二曰泄而腹滿甚者死；三曰目不明，熱不已者死；四曰老人嬰兒，熱而腹滿者死；五曰汗不出，嘔下血者死；六曰舌本爛，熱不已者死；七曰咳而衄，汗不出，出而不至足者死；八曰髓熱者死；九曰熱而痙者死，腰折、螈　、齒噤　也。凡此九者，不可刺也。</p>
<p>詒按：顴赤而噦，腎陰已竭而虛陽上脫之證，故死。已泄而腹尚滿，是陰下脫而邪不減，與熱不為汗衰者相似，故死。目不明，陰脫也；陰脫而仍熱；故死。熱滿當泄，老人幼兒不任攻伐，則熱無出路，故死。熱蘊無汗，上逆則嘔，下迫則血溢，上下交征，陰液易固，故為死候。舌本爛，乃腎火上結，與胃熱熾而口糜者不同。若既爛而熱仍不已，亦為死候。汗不至足，是肺氣不下行而化源將絕也。咳衄乃邪閉於上，無汗則邪不外泄，又兼化源將絕之征，故曰死。髓熱如骨蒸之狀，邪熱深入於腎也。熱而痙，致見腰折等證，是邪熱深入於肝也。腎肝為熱邪所爍，故死。</p>
<p>吳鞠通曰：此節歷敘熱病之死征，以禁人之刺，大抵由於陰竭者為多。然刺固不可，亦有可藥而愈者，蓋刺法能泄能通，開熱邪之閉結最速；至於益陰以存津，則刺法之所短，湯藥之所長也。</p>
<h3>詳注難經伏氣發溫諸條</h3>
<p>難經五十八難曰：傷寒有幾，其脈有變否？然！傷寒有五：有中風，有傷寒，有濕溫，有熱病，有溫病。</p>
<p>其所苦各不同。</p>
<p>徐洄溪曰：傷寒者，統名也。下五者，傷寒之分證也。</p>
<p>詒按：中風傷寒，即仲景論中所列之證也，是感而即發者也。若寒邪鬱伏而發，則因溫風而發者，名曰風溫；因暑熱而發者，名曰熱病，此即夏至後之暑病也；因濕邪而發者，名曰濕溫。雖隨時隨病，各異其名，而由於受寒則一，故皆謂之傷寒。</p>
<p>又按：所苦不同，言五者之為病不同也。傷寒論云：太陽病，發熱而汗出，惡風脈緩者，名曰中風。太陽病，或已發熱，或未發熱，必惡寒；體痛嘔逆，脈陰陽俱緊者，名曰傷寒。太陽病，關節疼痛而煩；脈沉而細者，此為濕痹。太陽中熱者，　是也；其人汗出惡寒，身熱而渴也。太陽病，發熱而渴，不惡寒者，為溫病。</p>
<p>此五條，即論列五種病之所苦，各有見證之不同也。前二條是感寒而即病者，後三條是寒伏於內，兼挾別氣而病者，仲景悉隸於傷寒論中，可見五證均因於寒，即均可謂之傷寒也。</p>
<p>中風之脈，陽浮而滑，陰濡而弱。傷寒之脈，陰陽俱盛而緊澀。濕溫之脈，陽濡而弱，陰小而急。熱病之脈，陰陽俱浮，浮之而滑，沉之散澀。溫病之脈，行在諸經，不知何經之動也，各隨其經所在而取之。</p>
<p>詒按：陰陽二字以脈言。凡脈寸為陽，尺為陰；右為陽，左為陰；浮為陽，沉為陰。就此節論，當以尺寸分陰陽為是。風為陽邪，故陽脈浮滑。寒邪收引，故脈緊澀。濕為陰邪而傷陽，故陽濡而陰急。熱病為陽邪而傷陰，故浮滑而沉澀。熱病是溫邪之已化熱而外出者，其未化熱之前，名曰溫病。邪伏少陰，隨氣而動，流行於諸經，或乘經氣之虛而發；或挾新感之邪氣而發。其發也，或由三陽而出，或由肺胃；最重者熱不外出，而內陷於手足厥陰；或腎氣虛，不能托邪，而燔結於少陰。是溫邪之動。路徑多歧，隨處可發，初不能指定發於何經，即不能刻定見何脈象也。</p>
<p>又按：伏溫之病，隨經可發；經訓昭垂，已無疑義。乃張石頑謂溫邪之發，必由少陽。陸九芝謂溫熱病必發於陽明。陳平伯則以肺胃為溫邪必犯之地。吳又可又以募原為溫疫伏邪之所。諸家所論，雖亦各有所見；但只舉溫病之一端，而不可以概溫病之全體。至吳鞠通溫病條辨，橫分三焦。謂凡病溫者，必始於上焦手太陰。是以時感溫風之證，指為伏氣發溫之病。彼此混而不分；其背謬為尤甚。學人當即此節經文，悉心參究，確知溫病之發，隨經可動，臨證時始有真知灼見，而不至有他歧之感也。</p>
<p>傷寒有汗出而愈，下之而死者；有汗出而死，下之而愈者；何也？然！陽虛陰盛，汗出而愈，下之即死；陽盛陰虛，汗出而死，下之而愈。</p>
<p>滑氏本義引外台秘要謂：表病裡和為陽虛陰盛，邪在表，宜發汗；若反下之，引邪入裡，誅伐無過，故死。裡病表和為陽盛陰虛，邪入裡，宜急下；若反汗之，兼虛其表，故死。按傷寒例，亦有陽盛陰虛，汗之則死，下之則愈，陽虛陰盛，汗之則愈，下之則死之文。諸家釋之，不一其說。成無己注，則以陽邪乘虛入腑，為陽盛陰虛；邪乘表虛，客於營衛，為陽虛陰盛。外台秘要及劉河間傷寒直格，俱以不病者為盛，病者為虛。活人書以內外俱熱，為陽盛陰虛；內外俱寒，為陽虛陰盛。惟王安道溯洄集，則以寒邪在外；為陰盛可汗；熱邪內熾，為陽盛可下。此說最為無弊。若不病為實，病者為虛之說，與表病裡和，裡病表和之說相近；但虛實二字，其義終未妥也。</p>
<p>詒按：寒邪初受，未經化熱，衛陽被遏，則陽虛而陰盛，此即暴病之傷寒。但用辛溫助陰，以發其汗，則邪解矣。若未曾入腑化熱，而遽下之，則裡氣傷而表邪陷，即死矣。若邪鬱久而化熱，陰液被爍，則陽盛而陰虛，此即伏氣之溫病也。裡熱既盛，當急下以救陰則生。若再用辛溫，誤發其汗，則陰愈爍而變證蜂起。是以受病之始，都屬寒邪，故仍以傷寒為提綱也。此節兩層，以傷寒、溫病分貼作解，亦甚熨帖。前所引諸家之論，似總不能若是之直捷。</p>
<h3>詳注仲景伏氣化溫證治各條</h3>
<p>傷寒論平脈法篇：師曰：伏氣之病，以意候之，今月之內，欲有伏氣。假令舊有伏氣，當須脈之。若脈微弱者，當喉中痛似傷，非喉痹也。病患云：實咽中痛。雖爾，今復欲下利。</p>
<p>詒按：溫邪化熱內動，脈當數大，乃見微弱，是氣弱不能托邪，邪鬱不達之象。熱不外達而循經上浮，則為喉痛，以少陰之脈循喉嚨也。傷寒少陰病，本有下利、咽痛之條，亦即此義。蓋以熱鬱既久，則陰液腐敗，故不但咽痛，而復欲下利也。</p>
<p>又按：此條可為溫邪內伏少陰之證。</p>
<p>章虛穀曰：觀仲景標中風、傷寒、暑熱等病脈，與難經同。惟難經言溫病之脈，行在諸經，不知何經之動也。是言溫病初由伏邪隨氣血流行在諸經中，及其發也，不知從何經而動，其發無定處，故無一定之脈可指也。今仲景又教人審脈，以辨邪發之經：如脈微弱，即知其邪未離少陰，隨經上下，必當有咽痛、下利等證，正與難經互相發明也。下文邪出三陽，熱勢大盛，其脈浮大，上關上；則是脈隨證變，證隨脈見。在初起本無定脈，故難經不標脈象也。由是觀之，其與外感之邪，有定證定脈者，固迥不同矣。</p>
<p>少陰病（脈微細但欲寐也），二三日，咽痛者，可與甘草湯；不瘥者，與桔梗湯。</p>
<p>章虛穀曰：風寒外閉少陰而咽痛者，仲景用半夏散，辛溫開泄之法矣。此少陰伏熱內發，循經上灼而咽痛，雖不合用辛溫開泄，亦不可用涼藥，以遏其外出之勢；故專用甘草甘緩之品，導邪外達，且生用亦能瀉火。</p>
<p>如不瘥，則火鬱而不出也；加桔梗上通其氣，則痛自止矣。傷寒自表入裡，故先太陽而後至少陰；溫病自裡而出表，故先少陰而後出太陽也。</p>
<p>沈宗淦曰：伏氣為病，皆自內而之外，不止春溫一證也。蓋四時之氣，皆有伏久而發者，不可不知也。</p>
<p>少陰病，下利咽痛，胸滿心煩者，豬膚湯主之。</p>
<p>張路玉曰：病雖發於陰經，實為熱證。下利咽痛，胸滿心煩，其邪熱之充斥，上下中間，已無處不到，而又非寒下之法所宜，故立豬膚湯，以潤少陰之燥，與用黑驢皮之意頗同。陽微者用附子溫經，陰竭者用豬膚潤燥，同具散邪之意。比而觀之，思過半矣。</p>
<p>少陰病，得之二三日以上，心中煩，不得臥，黃連阿膠湯主之。</p>
<p>周禹載曰：伏邪未發，津液先已暗耗。今得之二三日以上，雖陰火不升，未見咽痛等證，而心煩不得臥，已知陰液消耗；故以芩、連清熱，以膠、芍滋陰，虛實兩治也。</p>
<p>詒按：以上少陰病三條，均與傳經熱邪不合，其為伏邪所致無疑也。</p>
<p>少陰病，下利六七日，咳而嘔渴，心煩不得眠者，豬苓湯主之。</p>
<p>章虛穀曰：下利六七日，熱從下陷，不得外透，故逆於肺則咳而嘔，乘心則煩渴不得眠，以心肺皆通少陰之脈故也。主以豬苓湯，利水而滋陰；蓋滋陰則熱隨利去，利水則瀉止。而煩渴亦解矣。</p>
<p>少陰病，得之二三日，口燥咽乾者，急下之，宜大承氣湯。</p>
<p>張路玉曰：伏氣之發於少陰，其勢最急，與傷寒之傳經熱證不同。得病才二三日，即口燥咽乾，延至五六日始下，必枯槁難為矣。故宜急下，以救腎水之燔灼也。按少陰急下三證：一屬傳經熱邪亢極，一屬熱邪轉屬胃府，一屬溫熱發於少陰，皆刻不容緩之證，故當急救欲絕之腎水，與陽明急下三法，同源異派。</p>
<p>詒按：此亦伏邪無疑。如系傳經熱邪，則從始病數起，決不止二三日；如從傳至少陰數起，則不應二三日始見口燥咽乾也。</p>
<p>太陽病，發熱而渴，不惡寒者，為溫病。</p>
<p>王安道曰：溫病如此，則知熱病亦如此。是則不渴而惡寒者，非溫熱病矣。溫熱病而有惡風惡寒之證者，重有風寒新中也。</p>
<p>沈堯封曰：此條雖不言脈，以後條參之，其尺部必浮也。</p>
<p>章虛穀曰：溫病之發無定處。少陰之表為太陽，熱邪從裡出表，即有發熱頭痛之太陽病也。不惡寒，則非新感之邪可知。熱從內發故渴，仲景恐人錯認為太陽傷寒傷風之證，故特標明，謂此是伏熱內發之溫病也。其少陰溫病反不標者，因伏氣條內，已申明咽痛下利，為少陰初發之溫病矣。</p>
<p>王夢隱曰：汪謝城云，吳氏溫病條辨上焦篇，首引傷寒論云：太陽病，但惡熱，不惡寒而渴者，名曰溫病，桂枝湯主之。</p>
<p>今檢傷寒論，卻未見此數語。使此語真出仲景耶，亦當辨其簡誤。若系吳氏誤記，尤不可不為之辨正。余謂非誤記也。因喻氏嘗云，仲景治溫證，凡表藥皆用桂枝湯，以示微發於不發之意。尤在涇讀書記云，此喻氏之臆說，非仲景之舊章。鞠通自謂跳出傷寒圈子，而不知已入嘉言套中，又不甘為人下，遂肆改原文，HT　為聖訓，而不自覺其誣聖誤世也。</p>
<p>若發汗已，身灼熱者，名曰風溫。風溫為病，脈陰陽俱浮，自汗出，身重多眠睡，鼻息必鼾，語言難出。</p>
<p>若被下者，小便不利，直視失溲。若被火者，微發黃色，劇則如驚癇,時螈　。若火熏之，一逆尚引日，再逆促命期。</p>
<p>章虛穀曰：太陽外感之邪，若發汗已，當熱退身涼矣。今熱邪從少陰而發，當清其熱，而誤發其汗，反傷津氣而助邪勢，故身更灼熱，因而勾起其肝風。鼓蕩其溫邪，故曰風溫。其為病也，虛陽外浮，熱邪漫溢，故脈陰陽俱浮；津液外泄，自汗不止；氣乏神昏，則身重多眠睡；內風動而機竅窒，故鼻鼾而語言難出；其非外感風邪可見矣。若被下者，謂未經誤汗，非為汗後又下也。若誤被火劫者，微則熱傷營氣，而血瘀發黃；劇則熱甚風生，而驚癇螈　也。蓋邪伏少陰，熱灼水枯，咽乾口燥，法當急下；此熱已發出太陽，則少陰空虛，若下之傷陰，則小便不利，而直視失溲，則氣亦脫矣。若未汗下而被火攻者，外火助內熱，熏蒸而發黃；劇則火邪擾心如驚癇，肝風熾甚而螈　，皆壞象也。若只火熏之，一逆尚可引日苟延；若既汗又下而再逆之，更促其命期矣。</p>
<p>服桂枝湯，大汗出後，大煩渴不解，脈洪大者，白虎加人參湯主之。</p>
<p>詒按：桂枝湯治風邪傷衛，表病而裡和者，用之得當，則微汗而解。此則溫邪自內而發，誤用桂枝，適以助邪而耗液，故大汗大渴，熱勢轉甚。主以白虎，所以泄熱解煩；因陰液被劫，故加人參以救之也。</p>
<p>太陽與少陽合病，自下利者，與黃芩湯；若嘔者，黃芩加半夏生薑湯主之。</p>
<p>張路玉曰：黃芩湯，溫病之主方，即桂枝湯以黃芩易桂枝去生薑也。蓋桂枝主在表風寒，黃芩主在裡風熱；其生薑辛散，非溫熱所宜，故去之。</p>
<p>周禹載曰：明言太少二陽，何不用二經藥，則以非傷寒故也。何以知其非傷寒，以不惡寒而即熱，不得謂之傷寒也。何以云太少二陽，以或脅滿，或頭痛，或口苦引飲，皆二經證也。果系傷寒合病，應見表證；今不但無表，且有下利裡證。如云傷寒協熱下利，必自傳經來，不若此之即利也。蓋溫邪內郁已久，中氣不足者，豈能一時盡泄於外，其下走而作利，亦自然之勢也。</p>
<p>王夢隱曰：少陽膽木，挾火被猖；嘔是上衝，利由下迫；何必中虛始利，飲聚而嘔乎。半夏、生薑，專開飲結；如其熱熾，宜易連、茹。</p>
<p>三陽合病，脈浮大，上關上，但欲眠睡，目合則汗。</p>
<p>周禹載曰：溫病至三陽合病，其邪熱溷實可知，故脈浮大也。意邪在少陰，尺脈已大，今由內達外，而浮大見於關上，故曰上關上也。然脈雖見於陽位，而少陰之源未清，故欲眠仍見少陰證，而盜汗又少陽證也。太陽脈浮，陽明脈大，而關上是少陽部位，故三陽合病。</p>
<p>詒按：春溫所以異於熱病者，以目合則汗，不似熱病之大汗不止也。</p>
<p>楊素園曰：此條與發汗已身灼熱之風溫，初是一串，初起為此病，誤汗則為風溫。</p>
<p>按：此條治法，繆仲淳擬用百合一兩，麥冬五錢，知母、花粉、白芍各二錢，鱉甲三錢，炙甘草一錢，竹葉五十片。</p>
<p>金匱曰：溫瘧者，其脈如平，身無寒但熱，骨節疼煩，時嘔，白虎加桂枝湯主之。</p>
<p>尤拙吾曰：此與內經論瘧文不同。內經論其因，此詳其脈與證也。癉瘧、溫瘧俱無寒但熱，俱嘔，而其因不同。癉瘧者，肺素有熱，而外加感冒，為表寒裡熱之證；緣陰氣內虛，不能與陽相爭，故不作寒也。溫瘧者，邪氣內伏少陰，至春夏而發，為伏氣外出之證；寒蓄久而變熱，故亦不作寒也。脈如平者，病非外感，故脈如平時也。骨節疼煩、時嘔者，熱從少陰而出，舍於腎之所合，而上並於陽明也。白虎甘寒除熱，桂枝則因勢而利導之耳。</p>
<p>王夢隱曰：喻氏謂仲景論瘧，既云弦數者多熱，而復申一義曰，弦數者風發；可見多熱不已，必至耗液生風，木來侮土，傳其熱於胃。此非可徒求之藥，須以飲食消息，止其熾熱，如梨汁、蔗漿之類，以止渴生津，正內經風淫於內，治以甘寒之旨也。</p>
<p>傷寒論曰：陽明病，脈浮而緊，咽燥口苦，腹滿而喘，發熱汗出，不惡寒反惡熱，身重。若發汗，則躁，心憒憒，反譫語。若加燒針，必怵惕煩躁，不得眠。若下之，則胃中空虛，客氣動膈，心下懊　。舌上苔者，梔子豉湯主之。若脈浮發熱，渴欲飲水，小便不利者，豬苓湯主之。</p>
<p>周禹載曰：浮緊，傷寒脈也，何以為熱病？以其發於夏，不惡寒反惡熱也。又何以獨言陽明？以夏時濕熱上蒸，邪從胃發，且腹滿而喘，種種皆陽明證也。然咽燥口苦，非少陰證耶？不知陽明為從出之途，少陰其伏藏之地，故證或兼見也。夫既陽明熱病，曷又為脈反浮緊？正因浮甚有力，熱邪盛而致也。若不知者，以辛熱汗之，耗其津液，必至躁妄昏昧；火劫溫針，燥其陰血，必至驚擾無寐；下之而傷其陰，必至胃虛邪陷，心中懊；此皆誤治所致，將何以救之乎？觀舌苔滑者，則外邪尚在，以梔子解熱，香豉去邪，是為合法。若渴欲飲水，口乾舌燥，知熱邪大傷津液，故以白虎湯解熱；加人參者，以益元氣也。若緊脈去而浮在，發熱飲水，小便不利，則其熱已入膀胱，故以豬苓消熱除渴也。傷寒之小便不利，結於氣分；熱病之小便不利，由於血分。邪鬱既深，耗液日久，故必以阿膠補血，滑石祛熱：無取於白朮也。</p>
<p>沈堯封曰：未經誤治之時，本是白虎湯主治。</p>
<p>陽明病，汗出多而渴者，不可與豬苓湯，以汗多胃中燥。豬苓湯復利其小便故也。</p>
<p>周禹載曰：渴而小便不利，本當用豬苓湯，然汗多在所禁也。此與傷寒入腑，不令溲數同意。蓋邪出陽明，已劫其津，汗出復多，更耗其液，津液幾何，更可下奪耶？當以白虎加人參去其熱，則小便之不利者，津回而自利矣。</p>
<p>三陽合病，腹滿身重，難以轉側，口不仁而面垢，譫語遺溺。發汗則譫語；下之則額上生汗，手足逆冷。若自汗出者，白虎湯主之。（王士雄按：發汗則譫語，下似脫一甚字。）</p>
<p>章虛穀曰：此條邪熱更重，彌漫三陽，而致腹滿身重，難以轉側。口不仁者，不知味也。由胃中濁壅熏蒸，故又面垢也。熱甚神昏：則譫語遺溺。若未經誤治，而自汗出者，主以白虎湯（王士雄按：仲淳云，宜加百合）。此倒裝文法，謂非誤發其汗之汗，故名自汗出（王士雄按：尤在涇云，若自汗出句，頂腹滿身重四句來）。若誤發其汗，而致譫語（王士雄按：白虎加人參湯或可救也）；或下之，額上生汗者，是絕汗也。手足逆冷，陽氣將亡，即所謂再逆促命期，非白虎所可治也。</p>
<h3>附注仲景暴感暑熱證治各條</h3>
<p>詒按：經云，凡病傷寒而成溫者，先夏至日者為病溫，後夏至日者為病暑；據此，則春之溫，夏之暑，均是伏氣所發而為病也。惟春時另有風溫之邪，暴感而病，與伏氣所發者，名同而實異。夏時亦有暑熱之邪，暴感而病，與伏氣所發者亦異。仲景恐與內經伏氣之暑相渾，故傷寒論中，名曰　病。而王叔和傷寒例，依難經傷寒有五而別之，謂冬時伏寒，至春變為溫病，至夏變為熱病。後來諸書，遂以伏氣所發者，名為熱病；而以暴感而病者，仍名曰暑病。以此暑病之名，既與伏邪之熱病相渾，又與仲景之　病牽涉。後人謂　是陽邪，專指熱言；暑為陰邪，兼濕熱而言。殊不知寒往暑來，暑與寒，顯相對待。古人曰暑、曰　、曰熱，皆屬火氣為病，不兼濕也。若濕熱並至之病，難經名曰濕溫，不名為暑。若謂暑必兼濕，則當夏亢旱之年，暑熱偏盛，濕難必得。況濕之可兼者最多，誠以濕無定位，分旺四時，風濕寒濕，無不可兼；惟夏季之土為獨盛，故熱濕多於寒濕。然暑字從日，日為天氣；濕字從土，土為地氣；霄壤不同：雖可合而為病，究不可謂暑中原有濕也。愚誠恐相習沿誤；易於淆渾，因將仲景書中，伏氣發為溫熱諸條，詳注於前；復將暴感暑熱及濕溫各條，分別附注於後；而另標之曰：暴感暑熱，兼感濕溫。庶幾眉目清楚，讀者不至淆亂云。</p>
<p>太陽中熱者，　是也，汗出惡寒，身熱而渴，白虎加人參湯主之。</p>
<p>周禹載曰：冬月寒能傷人，則名中寒；夏月熱亦能傷人，則名中熱。此是外來之熱，故曰中，與伏寒發為熱病之熱不同。而同用白虎者，則以所傷在氣，則所主在金，所病在熱，金病則母子俱病，故與伏氣之在少陰，發出而由陽明者無異，要皆並主一湯。不因冬月之伏，與夏月之中，為二義也。亦不因伏氣之渴，與今病之渴，為稍異也。方主人參白虎者，石膏功專清肺，退金中之火，是用為君；知母亦能就肺中瀉火，滋水之源；人參生津液，益所傷之氣而為臣：甘草、粳米補土以滋金，以為佐也。</p>
<p>徐洄溪曰：凡汗出多之病，無不惡寒者。以其惡寒汗出，而誤認為寒，妄用熱劑，則立危矣。</p>
<p>傷寒脈浮滑，此表有熱，裡有寒，白虎湯主之。</p>
<p>方中行曰：世本作表有熱，裡有寒，必系傳寫之誤。夫白虎本治熱病，暑病之藥，其性大寒，安得裡有寒者可服之理。詳本文脈浮滑，不但不緊而且見滑，乃陽氣甚為鬱蒸，此裡有熱也。裡熱甚，則格寒於外，多厥逆身涼，而為亢害之證，此表有寒也。觀厥陰篇中：脈滑而厥者，裡有熱也。則知此表裡二字為錯誤可知，當上下更易之。</p>
<p>詒按：此節經文，理不可通。三陽以寒字作邪字解；魏念庭以裡字作經絡之裡解；沈堯封以寒字為　字之誤；王夢隱引徐亞枝說，謂寒字當作痰字解。以上諸家，均系曲為之說：惟方氏之說，以表裡二字互易，於義略近。</p>
<p>傷寒脈滑而厥者，裡有熱也，白虎湯主之。</p>
<p>張路玉曰：滑，陽脈也，故其厥為陽厥。裡熱鬱熾，所以其外反惡寒厥逆，往往有唇面爪甲俱青者，故宜白虎以清裡而除熱也。</p>
<p>傷寒無大熱，口燥渴心煩，背微惡寒者，白虎加人參湯主之。</p>
<p>張兼善曰：白虎治煩渴燥熱之重劑，表證未罷者，不宜早用。此條背微惡寒，後條時時惡風，皆表證也；特因其煩熱已甚，非白虎不能退，故用之。</p>
<p>沈堯封曰：背惡寒是陽虛證，但此乃營衛氣血之陰陽，非腎命水火之陰陽。此條燥渴心煩，　熱內熾，是白虎證；惟　熱傷耗胃氣，致背微惡寒，故加人參補其衛。至若少陰病，口中和而背惡寒者；則衛陽與腎陽俱虛，故人參與附子同用，而兩補之也。</p>
<p>吳鶴皋曰：背微惡寒者，其惡寒不甚也；既見燥渴；則白虎加人參，用無疑義。若惡寒而不燥渴者，則不可用也。按合下條參之，必有汗乃可用也。</p>
<p>傷寒脈浮，發熱無汗，其表不解者，不可與白虎湯；渴欲飲水，無表證者，白虎加人參湯主之。</p>
<p>沈堯封曰：此承上節，言煩渴、背惡寒，固當用白虎加參矣；但亦有　而外，復傷風寒，亦能令惡寒發熱脈浮。更當於有汗無汗上，辨表證之解不解，以定此方之可用否也。</p>
<p>傷寒病，若吐下後，七八日不解，熱結在裡，表裡俱熱，時時惡風，大渴，舌上干燥而煩，欲飲水數升者，白虎加人參湯主之。</p>
<p>張路玉曰：此條表證，比前較重，何以亦用白虎加參耶？蓋惟熱結在裡，所以表熱不除：邪火內伏，所以惡風大渴，舌燥而煩，飲水不止；如此安得不以生津解熱為急也。</p>
<p>沈亮辰曰：舌燥且干，謂視之無液也。然則溫病之視審舌苔，以察津液，仲師已逗其倪矣。</p>
<p>太陽中　者，身熱疼重，而脈微弱，此以夏月傷冷水，水行皮中所致也，一物瓜蒂湯主之。</p>
<p>皇甫士安曰，經云，脈盛身寒，得之傷寒；脈虛身熱，得之傷暑。蓋寒傷形而不傷氣，故脈盛；熱傷氣而不傷形，故脈虛。王夢隱按：所云身寒者，雖發熱而仍惡寒，不似暑熱病之喜涼惡熱也。</p>
<p>朱奉議曰：夏月發熱惡寒，頭痛，身體肢節痛重，其脈洪盛者，熱病也。夏月自汗惡寒，身熱而渴，其脈微弱者，中暑也。</p>
<p>王夢隱按：此注之熱病，乃夏至後所發之伏邪，內經亦謂之暑病。中暑者，夏月外感之熱病，亦曰中　。</p>
<p>病有內外之殊，脈有洪微之別。是微弱本　脈，惟身重為濕候。後條雖亦身重，而口開齒燥，熱熾已極，似當急與甘寒救液矣。</p>
<p>張路玉曰：此條是因熱傷冷之病，乃中　之變證也。喻氏謂無形之熱傷肺，則用白虎加人參湯以救之；有形之濕傷肺，則用瓜蒂湯救之；各有所主也。</p>
<p>太陽中　者，發熱惡寒，身重而疼痛，其脈弦細芤遲。小便已，洒洒然毛聳，手足逆冷，小有勞，身即熱，口開，前板齒燥。若發汗，則惡寒甚；加溫針，則發熱甚；數下之，則淋甚。</p>
<p>成聊攝曰：病有在表者，有在裡者，此則表裡俱病者也。發熱惡寒，身重疼痛者，表中　也。脈弦細芤遲者，中暑脈象虛也。小便已洒洒然毛聳，手足逆冷者，太陽經氣不足也。小有勞，身即熱者，謂勞動其陽，而即發也。口開，前板齒燥者，裡有熱也。內經云：因於暑汗，煩則喘喝。口開，謂喘喝也。喘喝不止，故前板齒燥。若發汗以去表邪，則陽氣外虛，故惡寒甚。若以溫針助陽，則火熱內攻，故發熱甚。若下之以除裡熱，則內虛而膀胱燥，故淋甚。</p>
<p>王夢隱按：即前齒燥一端，已為熱熾津枯之候。雖身重惡寒，豈可再投清暑益氣、五苓、藿香正氣等辛溫燥烈以重劫其陰乎。東垣虛穀之言，誤人不少。</p>
<p>又按：觀汗火下三禁，則雖未立方，而甘涼撤熱存津之當用，已不言而喻矣。趙氏、方氏擬用白虎加人參法，殆從三陽合病比例而出，似亦近理。</p>
<p>沈堯封曰：此條言精氣素虧而中　者。</p>
<h3>附注仲景兼感濕溫證治各條</h3>
<p>太陽病，關節疼痛而煩，脈沉而細者，此名濕痹。其候小便不利，大便反快，但當利其小便。</p>
<p>沈堯封曰：傷寒既以頭痛、胃實等項分六經，即以汗字判風寒，渴字認燥熱，小便不利認濕氣，縱橫辨別，邪無遁形矣。學人當於此等處，著實留心。</p>
<p>濕家之為病，一身盡疼，發熱，身色如熏黃。</p>
<p>倪沖之曰：此濕家為病之總綱也。前條濕在關節而疼，故曰痹。此則一身盡疼而表有熱，故成氏謂之在經。熏黃與橘子黃，同是濕熱；彼以熱勝者黃而明，此以濕勝者黃而晦，宜茵陳五苓散。王海藏以熏黃為陰黃，蓋既濕勝，則次傳寒中，小便自利者有之（王夢隱按：此由治病者，但清其熱，不治其濕所致），宜朮附湯。</p>
<p>沈堯封曰：丹溪云：如造麴然，濕熱鬱久則發黃也。</p>
<p>王夢隱曰：濕熱發黃，名曰黃癉，皆是暴病，故仲景以十八日為期。其余所因甚多：有穀疸，酒疸，女勞疸，黃膽，黃汗，及冷汗、便溏、氣虛之陰黃，身面浮腫、睛白能餐、勞倦之弱黃，神志不足、猝受恐嚇、膽氣外泄之驚黃，肝木橫肆、脾胃傷殘、土敗而黃色外越之痿黃；皆與暴病不同，不可概目為濕熱病。</p>
<p>濕家，其人但頭汗出，背強，欲得被復向火。若下之早則噦，胸滿，小便不利；舌上如苔者，以丹田有熱，胸中有寒，渴欲得水而不能飲，則口燥煩也。</p>
<p>王夢隱曰：胸中有寒之寒字，當作痰字解。胸中有痰，故舌上如苔。其津液為痰所阻，故口燥煩。而痰飲乃水之所凝結，故雖渴而不能飲也。</p>
<p>尤在涇曰：寒濕在表，陽氣不得外通，而但上越，故頭汗背強，欲得被復向火也。是宜用溫藥以通陽，不可用攻藥以逐濕。乃反下之，則陽更被抑，而噦乃作矣。或上焦之陽不布而胸中滿，或下焦之陽不化而小便不利，隨所傷之上下而為病也。舌上如苔者，本非胃熱，而舌上津液燥聚如苔之狀，實非苔也。蓋下後陽氣陷於下，而寒濕聚於上，於是丹田有熱而渴欲得水，胸中有寒而復不能飲，則口舌燥煩而津液乃聚耳。</p>
<p>濕家下之，額上汗出，微喘，小便利者死；若下利不止者，亦死。</p>
<p>尤在涇曰：濕病在表者宜汗，在裡者宜利小便。苟非濕熱蘊積成實，未可遽用下法。額汗出微喘，陽已離而上行；小便利，下利不止，陰復決而下走：陰陽離決，故死。一作小便不利者死，謂陽上浮而陰不下濟也，亦通。</p>
<p>王夢隱曰：張石頑云，由此推之，雖額汗微喘，若大小便不利，則陰氣未脫而陽之根猶在也。雖大小便利，而無額汗微喘，則陽氣不越，陰之根猶在也。陰陽不至離決，尚可隨其虛實而救之。至於下利不止，雖無喘汗陽脫之候亦死。又小便反閉，而額上汗出者謂之關。經云：關格不通，頭無汗者可活。有汗者死。</p>
<p>問曰：風濕相搏，一身盡疼痛，法當汗出而解。值天陰雨不止，醫云此可發汗，汗之病不愈者，何也？答曰：發其汗，汗大出者，但風氣去，濕氣在，是故不愈也。若治風濕者。發其汗，但微微似欲汗出者，風濕俱去也。</p>
<p>汪謝城云：古人即表汗，亦有節度如此；奈何今人動發其汗，且逼令其多耶？此與傷寒論桂枝湯後注，可以互參。</p>
<p>濕家病身疼痛，發熱，面黃而喘，頭暈鼻塞而煩，其脈大，自能飲食，腹中和無病，病在頭中寒濕，故鼻塞，內藥鼻中則愈。</p>
<p>章虛穀曰：此所謂霧露清邪，中於上也。三陽經脈，上頭而行於身之表：頭中寒濕，則表氣不宣，故身疼發熱。肺開竅於鼻，而行氣於皮毛；邪從鼻入，濕遏其陽而上蒸則面黃，氣閉則喘，氣壅則頭痛鼻塞而煩，皆肺氣窒塞，不得下降，故脈反大，與濕中於下而在陰之脈沉細者，迥不同也。肺通喉，胃通咽；邪在肺，不在胃；故腹無病而自能飲食。頭中寒濕故鼻塞，當用辛香苦泄之藥納鼻中，如近世之痧藥（王夢隱用古法瓜蒂散嗅鼻出黃水），使肺氣通達，其濕邪化水，從鼻中出則愈。</p>
<p>傷寒瘀熱在裡，身必發黃，麻黃連軺赤小豆湯主之。</p>
<p>章虛穀曰：表邪未解，濕熱內瘀則發黃。用麻黃解表，連軺、赤豆利肺氣以清濕熱。此以邪在經絡，故從表解之。</p>
<p>王夢隱曰：夏月濕熱發黃，表有風寒者，采用本方，以香薷易麻黃輒效（楊素園曰：香薷乃夏月之麻黃，換得恰當）。</p>
<p>傷寒身黃發熱者，梔子柏皮湯主之。</p>
<p>尤在涇曰：此熱瘀而未實之證，熱瘀故身黃，熱未實，故發熱而腹不滿。梔子撤熱於上，柏皮清熱於下，而中未及實，故用甘草以和之。</p>
<p>沈堯封曰：梔柏湯清熱利水，治濕熱之主方也。程扶生以麻黃小豆湯為主方，不知麻黃小豆乃發汗之方，惟外兼風寒者宜之，梔柏湯為利小便之方，乃治濕熱之正法。觀論中但當利其小便句，則此理自明矣。</p>
<p>傷寒七八日，身黃如橘子色，小便不利，腹微滿者，茵陳蒿湯主之。</p>
<p>尤在涇曰：此熱結在裡之證也。黃如橘子色者，色黃而明，為熱黃也，若陰黃，則色黃而晦矣。熱結在裡，則小便不利而腹滿，故宜茵陳蒿湯，以下熱通瘀為主也。</p>
<p>陽明病，發熱汗出，為熱越不能發黃也。但頭汗出，身無汗，劑頸而還，小便不利，渴飲水漿者，此為瘀熱在裡，身必發黃。茵陳蒿湯主之。</p>
<p>尤在涇曰：熱越，熱隨汗而外越也。熱越則邪不蓄而散，安能發黃？若但頭汗出，劑頸而還，則熱不外達；小便不利，則熱不下泄：而又渴飲水漿，則熱之蓄於內者方熾，而濕之引於外者無已：濕與熱合，瘀郁不解，則必蒸發為黃矣。茵陳蒿湯苦寒通泄，使病從小便出也。</p>
<p>陽明病，面合赤色，不可攻之；攻之必發熱色黃，小便不利也。</p>
<p>沈堯封曰：此寒邪外束之濕溫證也，麻黃小豆湯是其主方。除卻惡寒，即是梔柏湯證。更加腹微滿，即是茵陳蒿證。</p>
<p>章虛穀曰：面赤者，熱鬱在經也，當以汗解。若攻之，傷其腑氣，則經熱反從內走，與水穀之氣鬱蒸發黃，三焦閉塞，小便不利也。</p>
<p>陽明病，無汗，小便不利，心中懊　者，身必發黃。</p>
<p>章虛穀曰：此條雖未誤下，而無汗小便不利，其邪熱閉結而無出路，與胃中水液鬱蒸，則必發黃矣。</p>
<p>陽明病，被火，額上微汗出，小便不利者，必發黃。</p>
<p>喻嘉言曰：濕停熱鬱而誤火之，則熱邪愈熾，津液上奔，額有微汗，而周身之汗與小便，均不可得矣：發黃之變，安能免乎。</p>
<h2>卷中</h2>
<h3>辨正周禹載溫熱暑疫各條</h3>
<p>凡病傷寒最重，溫熱尤烈，傷寒僅在一時，溫熱暑疫每發三季，為時既久，病者益多。苟不明其源，則流不得而清也；不辨其類，則治不得其當也。夫溫熱暑疫，皆熱證也。燎原之下，苟無清涼一滴，何以治之？人無今昔，性有異同。某也神酣往聖，志切琳琅，爰以一隙微明，靜中索照焉。夫上古聖人，首重色脈，以營之已變未變，定人生死，片言已畢。</p>
<p>詒按：此指素問刺熱篇，太陽之脈色榮顴骨一節。</p>
<p>中古聖人，專論穀氣盛衰，定人生死，片言已畢。</p>
<p>詒按：此指素問評熱病篇，熱不為汗衰一節。</p>
<p>仲景，叔季聖人也。既立方論，復出不盡之藏緯，以膀胱之傷與絕，定人生死，先後合符，了無剩義矣。</p>
<p>詒按：此指傷寒論中，風溫為病一節，有小便不利，直視失溲也等語。</p>
<p>乃仲景於傷寒論中，溫熱之法，森森俱載，黃芩白虎等湯，是其治也。學人苟能引伸此義，便可變法無窮。乃不能細察其理，反執以為治傷寒之法；蓋思本湯既無外解之功，又無內奪之力，聖人定法，果何取乎。</p>
<p>詒按：得此提醒，自應頑石點頭。</p>
<p>自晉以來，疑鬼疑蜮，沿陋無已。如崔行文之解溫，用白朮、烏頭、細辛、桔梗四味；更加附子，名老君神明散；更加螢火，名務成子螢火丸。熱藥相投，以火濟火，誰其辨諸。</p>
<p>詒按：此必當時有寒疫流行，用此得效，因而相傳也。</p>
<p>如仲景書，謂太陽病發熱而渴，不惡寒者，為溫病；而朱肱活人書，謂發熱惡寒，頭疼身痛為溫病，已顯背聖訓矣。其所立五方，如葳蕤湯、知母葛根湯、防己湯、栝蔞根湯、葛根龍膽湯，風火交熾，燔灼無休。復改聖散子仍用附子，蘇東坡在黃州時，亦稱其效；豈知朱肱已三易其方，用敗毒散而遠熱藥。然厥功難減厥罪。</p>
<p>詒按：敗毒散，是通治三時感冒之方，仍非溫熱病藥也。</p>
<p>吳氏謂傷寒壞病，更遇溫熱為溫病。潔古老人，傷寒名家也；其子云岐，以傷寒過經不解者為溫病，指叔和之文為仲景之言。趙嗣真謂仲景云，重感異氣，變為溫病。汪機謂仲景云，遇溫氣為溫病，遇溫熱為溫毒。</p>
<p>竟罔顧聖經之載於方策者，何嘗有此一語耶。</p>
<p>詒按：諸家不明伏氣發溫之理，而以溫病為傷寒變證，故於溫熱源流，愈說愈遠。</p>
<p>巢氏病源遵崔文行解散法：一日用摩膏火灸；二日用針解散；三日復汗之；四日用藜蘆丸、瓜蒂散吐之；五、六日解未了了者，復針之；七日熱已入胃，雞子湯下之。遂使龐安常自撰微言，一以和解為主，奉為靈寶，少移則蹶。巢龐二子，盲以引盲，貽誤何極。李思訓亦宗和解，王海臧稱其當宋全盛，明哲莫逾，擬非其倫矣。</p>
<p>詒按：以上皆傷寒治法，後人遵之以治溫熱，貽誤不少。</p>
<p>丹溪長於溫熱，善用涼藥，溫熱遇之，自能解散。然非有真知灼見於其間也。東垣不善外感，長於內傷，乃從內經悟出冬溫、春溫二義，嘉言極口嘆頌，而用藥則未能絲絲入扣也。</p>
<p>詒按：丹溪、東垣所論，不過一隙微明，於溫熱病之治法，仍未能從源頭悟澈也。</p>
<p>迨劉河間著傷寒直格，於熱病每多入理深談。然混在正傷寒中，在人眼光采擇，不免金屑雜於泥沙者歟。</p>
<p>詒按：溫熱治法，自仲景以後，無一人得其門徑。至河間始有清泄邪熱之法，與仲景黃芩白虎之治，先後同符。惜其於疏邪化熱諸法，猶未能隨證變化，曲盡病情也。</p>
<p>至明季方中行著傷寒條辨，可謂直登仲景之堂，獨開生面。惜其論溫熱，亦分陰分陽，治兼寒熱，遂為嘉言所宗。</p>
<p>詒按：喻嘉言尚論溫熱，有刻意求深之弊，詳論於後。</p>
<p>嗟乎！病名溫熱，自需寒涼。乃千百年來，盈庭聚訟，先後支吾，陽春寡和於漢庭，　篪迭奏於晉室；良由來派不清，復無體認。不然，豈諸公各是名家，乃甘悖聖矩如是耶。</p>
<p>詒按：以上論溫熱病。</p>
<p>若夫夏月暑證，即金匱中濕　，氣蒸之病也。潔古、東垣以動靜分陰陽：動而得之為陽，用白虎，靜而得之為陰，用大順冷香諸劑。豈知夏月杲杲炎威，有陽無陰，動靜不甚相遠；惟多食冰果冷物，及恣意房幃，致傷太陰少陰者，熱藥可以暫用，豈得視溫熱之味為通行之藥乎。明計部張鳳逵著治暑全書，深明理蘊，精確不磨，雖有小疵，不掩大德，誠可振聾　於千古者也。</p>
<p>詒按：以上論暑病。春時溫病，有伏氣暴感兩種之不同，夏月之熱病亦然。內經云：凡病傷寒而成溫者，先夏至日者為病溫，後夏至日者為病暑。則暑病即伏氣發於夏月之病名也。仲景恐與夏月暴感之病相混，故於暴感者另立　病之名，以別於伏氣所發之暑病，亦既苦心而為分明矣。潔古輩徒以陰陽動靜　致辨，而於伏氣一層全未道及，舍本逐末，固無足論；張鳳逵暢論暑病：獨開生面，而其所論，亦只就暑病之暴感者言之。誠以溫病中之伏氣暴感，治法迥殊；暑病則無論暴感伏氣，均可以白虎為主方，治法相同，則議論尤易混淆也。</p>
<p>至王叔和云：四時不正之氣，感則為疫。而大疫之沿門闔境，傳染相同者，多在兵荒之後，尸濁穢氣，充斥道路，人在氣交，感之而病，氣無所異，人病亦同。所以月令於孟春，掩骼埋　，不敢或後者，聖王早慮及此耳，非徒澤及枯骨也。後世治疫之法，未有定見。如嘉言上焦如霧，升逐解毒；中焦如漚，疏逐解毒；下焦如瀆，決逐解毒。俟其營衛既通，乘勢追拔，勿使潛滋暗長於未盡之時。此固不易之論。然求其反復盡義，直窮變態者，舍吳又可之言，別無依傍也。</p>
<p>詒按：以上論疫病。疫病有各種不同：如素問所言，五運之氣偏勝，則鬱伏而為五疫，此尋常之疫病也；其有兵荒之後，沿門闔戶，長幼相似，朝發夕死，醫藥不及，此非常之疫病也。又可所論，似屬尋常之疫病。</p>
<p>前人稱其所論，是五疫中之土疫，斯為切當。其所論病情治法，變化百出，有前人所未經道及，而與伏氣所發之溫熱病相合者甚多；故於下卷證治各條，每采取而論列之。想又可當日，於伏氣、疫氣兩證，未能分晰清楚，因誤指伏氣為疫病者，亦復不少：故其書中論治，雖稱疫邪，而方治則每與伏氣相合也。</p>
<h3>辨正蔣問齋醫略伏邪篇</h3>
<p>詒按：伏邪之名，從前未經道及。自蔣問齋著醫略十三篇，煌煌然著伏邪之名，而伏溫一病，始昭然大白於天下。惜乎其所撰伏邪篇，歷引內經、仲景之文，既詳且備；而羼入吳又可募原之論，謂伏邪即與溫疫同條共貫。殊不知溫疫之邪，從口鼻吸受，所受者濕穢之邪，藏於募原，則發為寒熱、痞悶、嘔惡等證。伏溫之邪，從經絡內襲，所襲者風寒之邪，伏於少陰，發為寒熱、身疼之候。病原見證，兩者截然不同。蔣氏不能細加審別，而伏邪論中，每每將募原之說牽涉攙混，致學人轉有多歧之惑。爰亟取蔣氏伏邪篇原文，為之逐條辨正，俾讀者豁目爽心，而於伏邪疫邪，不至更相牽混。詒非好與前人辨難也，亦以病機所在，出入生死之間，不容稍有假借耳。</p>
<p>伏邪者，冬寒伏於募原之間，化熱傷陰，表裡分傳，多為熱證。以始得病，溲即混濁，或黃或赤為據。</p>
<p>原注蘭亭曰：小便乃州都氣化，邪在表，無關於裡，何至變色混濁；顯是邪伏於中，化熱傷陰之明驗也。</p>
<p>詒按：暑穢之邪，從口鼻吸受者，由肺胃而伏於募原，至秋令涼氣外束，則發為伏暑。冬寒之邪，從皮毛襲入者，由太陽而伏於少陰，至春令溫氣外達，則為伏溫暑溫兩病。其病源見證，截然兩途。吳又可所論溫疫病源，都屬暑穢之邪。蔣氏乃謂冬寒伏於募原，是將溫暑兩邪，混為一病。其認題既誤，則立論自不能中的矣。</p>
<p>其見證，初起即溲赤而渾，神煩少寐，或洒洒振寒，蒸蒸發熱，或但熱不寒，或汗出熱不退，或潮熱往來，或寒熱如瘧，或頭疼身痛，或狂躁譫語，或渴或不渴，或反欲熱飲，或有汗或無汗，或汗不達下。</p>
<p>詒按：伏寒化熱，由少陰而發，每有骨節煩疼，腰脊強痛之證，以腎主骨髓，腰脊又為太陽經所轄之地也。內熱上蒸，則頭作痛，慎勿誤認為表證，而強與發汗也。邪已化熱而反欲熱飲者，中有痰濁彌漫，得熱飲則開爽也。溫病得汗，而熱不達於下，甚或足冷不溫，此由正虛而氣不流通，或因邪重而氣被郁，以後病必見重，務宜留心。</p>
<p>舌苔或白或黃，或灰或黑，或滑或澀，或生芒刺，或反無苔而色紫赤。</p>
<p>詒按：邪涉於胃，則舌上生苔。又可所論邪由募原而發，故始則苔如積粉。其邪化熱，日漸加重，故苔亦由白而黃而灰而黑，日漸增重也。若伏溫化熱，由少陰而出，間有不涉於胃者，則舌色如常。無論不見灰黑之苔，即白黃之苔亦不甚濃。誠以熱在陰經，其患不犯於胃，則胃中濁氣無由上騰而結為苔也。此亦溫暑兩證之分別處，學人當細心領會。</p>
<p>大便或秘或溏，或下利臭水，或如敗醬，或帶瘀血。</p>
<p>詒按：伏溫熱養於裡，必以大便通達，為熱邪之出路。此與傷寒便溏為邪陷者，其論相反，而其理則一也。</p>
<p>或遇濕土司令，釀成濕溫，則身痛異常，溲更混濁，當與濕證門參治。然濕從土化，土無成位，濕無專證，但治伏邪為主，輔以溫通治濕之意可也。</p>
<p>詒按：濕邪有外感時令之濕，亦有內傷久伏之濕，身痛亦有不因乎濕者，均當分別論治。至治法之或以濕邪為主，或以伏溫為主，當視濕邪溫邪之輕重，其見證之緩急，方可著手，不容豫設成見也。</p>
<p>其解或戰汗自汗，躁汗狂汗，發斑發疹。</p>
<p>詒按：表氣之郁，固由斑疹戰汗而解。而欲求達表，必先裡氣暢行，則通腑一層，正伏溫吃緊關頭，不可遺漏也。</p>
<p>其劇則或發痙，或神昏如醉，或苔黑起刺，唇齒焦枯，或鼻煤舌裂，或呃逆從少腹上衝，或搖頭肢體振掉，或氣急痰壅。</p>
<p>詒按：所敘諸劇證，皆熱潰於陰。而燔及胃腑，或涉於手足厥陰之候，當分別施治，未可混列也。</p>
<p>其脈則忌緊澀細數，而喜和緩滑大。</p>
<p>詒按：溫邪之脈，弦滑數大，此其常也。間有邪熱鬱遏，而脈見細數不暢者，有正氣不充，而脈見細弱不數者，病必見重，醫者宜留意焉。</p>
<p>其治或先用吳氏達原飲加減，從乎中治，然後或汗或下。如見三陽表證，則加羌葛柴胡之類；見三陰裡證，則加硝黃之類。或先汗而後下，或先下而後汗：或汗而再汗，或下而再下；或但汗不下，或但下不汗；或養陰化邪，補瀉兼施。毋為夾陰所惑，誤服桂附則死。當察其證脈，表裡虛實，老少強弱，風土寒暄，膏粱藜藿，參合為治。善後則宜和胃養陰。</p>
<p>原注蘭亭曰：夾陰二字，流俗相傳，本無足據。若因房室致病，男子為夾陰，將女子為夾陽乎？真不值一笑也。病在三陰為陰證，小兒亦有之，與房室何與焉？況陰證乃正傷寒家事，伏邪疫邪均無陰證；即或有之，亦千百中之一耳。</p>
<p>詒按：伏氣化溫，從陰而達，法當助陰托邪。達原飲乃燥烈傷陰之品，惟暑濕在募原，舌苔濁膩者宜之。</p>
<p>若施於伏溫之病，則助熱爍陰，豈堪嘗試。蓋由蔣氏誤認又可所論之疫邪，謂即是伏溫，而置內經、難經所論於不問。</p>
<p>再按：吳氏所列治法，於表證多用溫燥劫陰之劑：與伏氣發溫先傷陰分之病，甚不相宜。至所論裡證治法，都與伏溫相合，可以取法不少。緣吳氏當日所見之證，仍屬伏氣居多；所論病情，亦多伏氣之候。只以病源未澈，識見不真，復有暑濕之邪夾雜而發者，淆亂其間。故論中每有病情確屬伏溫，治法亦合，而立論皆以疫邪為名者，此則吳氏立說之鹵莽也。</p>
<p>汗不出，九味羌活湯、活人敗毒散、柴葛解肌湯、小柴胡湯、吳氏達原飲加三陽表藥，醫話柴胡白虎湯之類。下則大小承氣湯、調胃承氣湯、桃仁承氣湯、大柴胡湯、柴胡加芒硝湯、涼隔散、拔萃犀角地黃湯、吳氏達原飲加大黃，醫話中承氣湯、蔞貝二陳湯之類。養陰化邪，則犀角地黃湯、醫話柴胡生地湯之類。補養兼施，則陶氏黃龍湯、醫話大黃人參湯，或半夏瀉心湯，或十味溫膽湯之類。善後則醫話歸芍二陳東加穀芽神麯之類。此其大略，神而明之，存乎其人。</p>
<p>詒按：所列諸方，粗淺雜湊。學人觀其大略，原不能舉以治病。其汗劑所列九味羌活及敗毒解肌等方，燥烈劫陰，於溫病尤非所宜，學人勿為其所誤也。</p>
<p>黃帝內經靈樞邪氣臟腑病形篇曰：正邪之中人也微，先見於色，不知於身；若有若無，若亡若存；有形無形，莫知其情。</p>
<p>又五變篇曰：百病之始期也，必先生於風雨寒暑，循毫毛而入腠理，或復還，或留止。</p>
<p>素問生氣通天論曰：冬傷於寒，春必病溫。</p>
<p>八正神明論曰：正邪者，身形若用力，汗出腠理開，逢虛風，其中人也微，故莫知其情，莫見其形。</p>
<p>熱論篇曰：今夫熱病者，皆傷寒之類也。</p>
<p>此內經諸篇，分明以正邪內伏，而後發為溫病也。</p>
<p>詒按：以上內經各條，所論伏邪，亦既詳且盡矣。何蔣氏尚牽涉募原之說，混而不分也。</p>
<p>六元正紀大論曰：司天之氣，氣溫草榮。民康之際，溫厲大作，遠近咸若，此其先有伏邪可知。</p>
<p>難經：溫病之脈，行在諸經，不知何經之動。此經中有伏邪可知。周禮四時皆有厲疫。蓋邪伏之深，亦可期年而發。</p>
<p>呂覽：禮記以非時之氣為疫，即伏邪因感而發。</p>
<p>史記：齊中御府長信，冬時墮水濡衣，至春病熱。此伏邪化熱可證。</p>
<p>詒按：呂覽一條，既以非時之氣為疫，而又謂伏邪因感而發，是將疫邪伏邪牽合為一，蔣氏之病根在是矣。</p>
<p>金匱要略，百合病，必待日數足而後解，是亦伏邪之類。</p>
<p>傷寒論平脈篇，直以伏邪為病名。</p>
<p>傷寒例以寒毒藏於肌膚，春變為溫，夏變為暑。此以冬傷於寒，發為溫病，本於經旨。</p>
<p>太陽篇：太陽病發熱而渴，不惡寒，為溫病。既不惡寒，邪非在表，而渴屬內熱，其為伏氣顯然。</p>
<p>陽明篇諸下證，與伏邪入胃之意同。</p>
<p>少陰篇之自利，心下痛，厥陰篇之厥深熱亦深，諸下證，亦與伏邪化熱傷陰之意同。</p>
<p>詒按：傷寒既經化熱以後，其證治法，與伏溫大略相同。其不同者，在即起自內達外之時，則恰與傷寒為對待耳。</p>
<p>太平御覽載曹植說，疫氣致病，悉被褐茹藿之子，荊室蓬戶之人；若夫殿處鼎食之家，若是者鮮矣。此亦飢寒傷正，邪伏而後發也。巢元方以疫癘與時氣溫熱相類，蓋不知由於一氣所伏，而有多寡輕重之分耳。通鑒唐紀：關中比歲飢饉，兵民率皆瘦黑。至麥始熟，市有醉人，當時以為嘉瑞。人乍飽食，死者五之一。此人飽食，非受風寒，蓋有伏邪內動也。劉河間宣明方，治疫癘，不宜熱藥。解表而用白虎湯、涼隔散，明其有伏熱在內也。</p>
<p>李東垣辯惑論載王辰改元，京師戒嚴，受敵半月。解圍之後。都人之不病者萬無一二，既病而死者接踵不絕，將近百萬。豈俱感風寒耶，蓋伏邪所致耳。丹溪心法附余，附傷寒直格心要論證治諸法，治伏邪甚善，當與吳氏溫疫論互閱。</p>
<p>丹溪心法：溫疫，眾人一般病者是。治有三法：宜補，宜散，宜降。首用大黃、黃芩，先攻其裡，亦因其內有伏邪也。</p>
<p>方約之謂溫熱之病，因外感內傷，觸動鬱火，自內而發之於外也。此明言邪伏於中也。元史耶律楚材用大黃治士卒病疫，亦足見其邪之伏於裡也。</p>
<p>詒按：以上各條所論，均系疫證；而蔣氏引之，每條牽入伏邪。其實疫證中有專病疫者，有兼伏邪者，當隨證審治。若將兩證牽合立論，則不特伏邪之證治不清，並疫證亦茫無依據矣。</p>
<p>王履溯洄集：溫病熱病，發於天令暄熱之時，怫熱自內而達之於外。又云：世人治溫熱病，雖誤攻其裡，亦無大害；誤發其表，變不可言，足以明其熱之自內達外矣。</p>
<p>張景岳以溫疫本即傷寒，多發於春夏，必待日數足，然後得汗而解。此與金匱百合病之義同，皆有內伏之邪故也。吳又可溫疫論治伏邪最切，而反以冬傷於寒春必病溫為非。是蓋不知寒乃冬月之正邪，正邪之中人也微，先見於色，不知於身；若有若無，若亡若存；及身形若用力，汗出腠理開，逢虛風；謂正邪可伏而後發也。由是觀之，伏邪所從來遠矣。</p>
<p>詒按：溯洄集所論，確系伏氣所發，其論病情最為確當。蔣氏以伏邪與溫疫牽合，已屬誤認。張景岳乃為溫疫本即傷寒，則誤而又誤。其謂必日數足而後能解，理亦不確。緣景岳於外感六淫病，其理路本未能清晰也。</p>
<p>吳又可專論溫疫，遂將當時所見之病，無論其為伏溫，為溫疫，一概謂之疫邪。不責己之分辨不清，反疑內經冬傷於寒之語為不確。其才識粗疏，橫肆武斷，亦未免不自量矣。蔣氏既知所伏者為正邪，則所見高出於吳氏矣。何以篇中引用，仍以達原飲為主方。前後自相矛盾，吾所不解。</p>
<p>然人之強弱不同，攻補有異。大法有三：攻邪為上策，扶正祛邪為中策，養陰固守為下策。蓋邪扶於中，猶禍起蕭牆之內，邪正交爭，勢不兩立。正氣無虧，直攻其邪，邪退而正自復也。若正氣有虧，不任攻邪，權宜輔正，且戰且守，勝負未可知也。若正氣大虧，不能敵邪，惟有養陰一法，悉力固守，冀其邪分自解，不已危乎。是以正氣不虛，伏邪雖重，治得其宜，可奏全捷；惟正虛可畏。不知者，反以攻邪為太峻，樂用平穩之方，致使邪氛日進，正氣日虧，正不勝邪，則輕者重，重者危，卒至不起；乃引為天數，豈不謬哉。</p>
<p>詒按：蔣氏此論，以攻邪為主，蓋以邪退則正自復，去邪所以救陰也。吳鞠通溫病條辨則專以養陰為主。</p>
<p>陰氣既充，則在表者，液足自能致汗；在裡者，增水乃可行舟。陰旺則熱自解：養陰即以泄熱也。愚謂此兩法，亦當隨人而施。如偏於陰虛者，則養陰以泄熱，吳氏之論為宜。偏於邪重者，則泄熱以存陰，蔣氏之法為合。二者雖似相反，而實則相成也。</p>
<h3>辨正張石頑傷寒緒論溫熱各條</h3>
<p>詒按：張路玉於正傷寒外，詳列四時外感、類傷寒各病，並采輯各家之說，備著於篇，其論亦至悉矣。惟篇中於冬溫、春溫、溫疫等證與溫熱病，未能尋源溯流，條分縷析，學人眩焉。茲錄其有關於溫熱病者若干條為之詳加評論，俾讀者不至為舊說所淆云。</p>
<p>傷寒者，冬時嚴寒，感冒殺厲之氣而病也。交霜降節後，春分節前，病發頭痛者，皆謂之正傷寒。其病有六經傳變、合病、並病諸例，其治法以仲景傷寒論為圭臬。</p>
<p>詒按：正傷寒病，南方不多見，即間有之，亦鮮重證。凡外感病之重且險者，皆溫熱病也。</p>
<p>若兩感於寒者，一日太陽與少陰合病，二日陽明與太陰俱病，三日少陽與厥陰俱病。至水漿不入，不知人事者，六日死。然傷寒病兩感者亦少，惟溫病熱病居多。以溫熱從少陰發太陽，即是兩感之證。所以守真特立涼膈、雙解、白虎、承氣等湯，以兩解其表裡之熱毒也。</p>
<p>詒按：石頑每謂溫病亦必由少陽而發，初起以柴胡為主方，而此處又謂少陰出太陽，可知其於溫病，未能明辨其原，故論治亦無確見也。且兩感證是外內合邪，溫熱病是由內達外，其外面見證雖同，而病之來源各異，本不可同日而語也。</p>
<p>至冬令時，反有非節之暖，此屬春時陽氣發於冬時，未至而至，即為不正之氣。人感之而病者，名曰冬溫。其證必心煩嘔逆，咽痛，身熱頭疼，或咳嗽自汗，或頭重面腫。但始咽痛，後必下利。以邪入少陰，其經上循喉，下入腹也。治以陽旦東加桔梗、葳蕤。</p>
<p>詒按：此外感風溫之邪，冬春間時有之。葉香岩所謂溫邪上受，首先犯肺。吳鞠通所用平涼輕劑，銀翹、桑菊之類，恰與此等證相合。蓋此病必以清泄肺經為主也。如傷及陰分，則地、麥、元參，可隨證加入，吳鞠通亦已言之。其所主陽旦湯有桂枝之溫，必有惡寒、頭項強痛之太陽證方合。如有此證，則非溫邪傷肺之溫病，而為伏寒內發之溫病矣。總由經脈未清，故語多矛盾耳。</p>
<p>至春分節後，天令溫暖，有人壯熱為病者，乃溫病也。經云：冬傷於寒，春必病溫。仲景云：太陽病發熱而渴，不惡寒者，為溫病。蓋以冬時伏氣，隨時令溫熱之氣而發。但所發之因不同，有感非時暴寒而發者，有飢飽勞役而發者，有房室不慎而發者。所感之客邪既殊，則發出之經絡亦異。所謂溫病之脈，行在諸經，不知何經之動也，當隨其經證而治之。</p>
<p>詒按：此數行，說溫病源流俱徹，夫何間然。</p>
<p>凡溫病之發，必大渴煩擾，脅滿口苦，不惡寒反惡熱，脈氣口反盛於人迎，明系伏邪自內達表，必先少陽經始。若因客寒而發者，宜小柴胡隨所見經證加減。無客邪者，黃芩湯主之。病溫病亦多傳變並合，未有不及少陽者。如太陽少陽合病，黃芩湯；少陽陽明合病，承氣湯；三陽合病，柴胡湯，或雙解散加減。凡三陽表證，煩熱口渴，俱宜黃芩湯之類，據此合病症治；則傳變並病，可例推矣。</p>
<p>詒按：此節論溫病證治頗合。惟謂伏邪外達，必由少陽，則囿於舊說，不切病情。且與上文溫邪行諸經，不知何經之動，前後亦自相刺謬矣。</p>
<p>凡治溫病熱病，無正發汗之理。蓋其邪自內達外，無表證明矣。若果證顯非時暴寒，惡寒頭痛而脈緊者，亦不可純用表藥，宜梔豉湯或益元散加薄荷、蔥、豉；重則涼隔散去硝、黃，加蔥、豉，探吐取汗最妙。蓋此怫鬱之熱，乘春溫之氣而發，雖有非時暴寒，只宜辛平之劑發散。</p>
<p>詒按：溫邪初起，用蔥、豉取汗最穩，不必探吐也。</p>
<p>凡下之前後，或將汗已汗，或下後余熱不止，反大汗淋漓者，此實熱雖去，而余邪未盡，可與小劑黃芩湯，或解毒湯調之。</p>
<p>詒按：若陰津不足之體，用清養胃陰之劑最妙。</p>
<p>若下後，渴雖減而飢欲得食者，此伏邪初散，陰火乘虛擾亂也。凡溫熱病下後多此，慎勿便與粥飲，得食則復。</p>
<p>詒按：近人不明此理，因此而致反復者甚多。</p>
<p>凡溫病下後，熱不退，下證尚在者，可再三下之，以熱退為度。</p>
<p>詒按：傷寒病糞多堅栗，下之宜猛而重；一下之後，可以連下者甚少。溫熱病糞多黏黑如醬，下之宜緩而輕，下後停一、二日，垢熱再聚，即當再下，有下至三四日始清者，不得謂已下者不宜再下也。</p>
<p>若下後，熱不止，而脈澀咽痛，胸滿多汗，此熱傷血分也，葶藶苦酒湯探吐之。</p>
<p>詒按：熱傷血分之證，當養血以化余熱，如生地、元參、銀花、犀角、洋參、竹茹之類，乃合病情。若葶藶、苦酒之法。決不可投。</p>
<p>所謂交陽者，非陰寒交熱而為陽也。乃怫熱蓄之於裡，鬱極乃發，則交傳而出於表之陽分，是謂交陽而後作汗也。或鬱而不能出表，是否極不泰，即正氣衰殘，陰氣先絕，陽氣後竭而死矣。</p>
<p>夫欲汗而脈忽沉伏者，陽氣並入於裡故也。交陽而躁亂昏冒者，裡熱鬱極，故神昏而躁擾也。凡戰汗而不快，或戰而不汗，此並之不甚，故雖戰而病不去也。通宜三一承氣湯，或合黃連解毒湯下之，所以散怫熱而開鬱結也。凡戰汗時，頻與熱薑湯，助其開發最佳，可免戰不快而無汗之患。</p>
<p>詒按：薑性助熱，不如茅根為佳。</p>
<p>凡可下之症，或得下而汗即出者；或服藥而怫鬱頓開，先汗出而後利者；或利性但隨汗泄，則氣和而愈竟不利者；亦有戰不快，交不通而死者；或不戰而汗出者；或但戰無汗而愈者。世俗不知，乃以惡寒戰栗為陽虛陰勝，因而誤治者多矣。</p>
<p>詒按：凡此病情疑似之際，死生反掌，均須用心。</p>
<p>凡溫病發於三陰，脈微足冷者，多難治。</p>
<p>凡溫病大熱，脈反細小，手足逆冷者，死證也。</p>
<p>凡溫病初起，大熱神昏譫語，熱甚脈小足冷，五六日而脈反躁急，嘔吐昏沉，舌本焦黑，或失血躁熱脈大，或痙搐昏亂，或脈促結代沉小者，皆死。</p>
<p>溫熱病，大熱不得汗者死；得汗後而反熱，其脈躁盛者，亦死也。凡溫熱誤汗之，狂言不能食，其脈躁盛者，皆不可治也。</p>
<p>詒按：此節所列溫病不治之症，不外三種：邪氣鬱伏不達者，一也；正虛不能托邪者，二也；陰氣被爍涸者，三也。</p>
<p>夏至後，炎暑司令，相火用事。有發熱身疼，不惡寒但惡熱而大渴者，為熱病。傷寒例云：凡傷寒而成溫者，先夏至日為病溫，後夏至日為病熱。蓋久伏之邪，隨時令之暑熱而發也。以邪非外來，故但惡熱而不惡寒。熱自內發，故口燥渴而引飲多。其邪既郁為熱，不宜辛溫發汗，不得復指為寒；而仲景仍以傷寒目之者，謂其初受病時，皆寒氣鬱伏所致耳。世言仲景無溫熱治法，試觀太陽、陽明篇中黃芩、白虎等湯，豈治傷寒可用之藥也。白虎為金神，非盛暑熱病，內外熱極者，不可用。氣虛人用之，往往成結胸，甚至不救。故有立夏以前、處暑以後，不可妄用白虎之戒。夫傷寒之不可用黃芩、白虎，猶溫病之不可用麻、桂、青龍也。即治溫熱，亦須無非時暴寒者方可用。</p>
<p>詒按：此節申明黃芩、白虎，仲景本為溫熱而設，非傷寒方也。惟節末一轉，又設為黃芩、白虎之厲禁。</p>
<p>於理未嘗不是，特嫌其於熱病正治法，未免喧賓奪主耳。</p>
<p>若溫病七八日，或十余日，前邪未除，重感於寒，忽然寒熱交作，交為溫瘧，方書以為壞證。按傷寒例云：脈陰陽俱盛，重感於寒，變為溫瘧。其證胸脅滿，煩渴而嘔，微惡寒者，治以小柴胡去參、半，如栝蔞根、石膏。無寒但熱，其脈如平，骨節煩疼，時嘔者，用白虎東加桂枝。慎不可辛溫發散，以助其虐。</p>
<p>詒按：前症煩渴微惡寒，宜白虎加桂枝；後症但熱不寒，並不得加桂枝矣。</p>
<p>至內經所言，先熱後寒之溫瘧，乃得之冬中於風，寒氣藏於骨髓之中。至春陽氣大發，邪氣不能出。因遇大暑，腦髓爍，肌肉消，腠理發泄，或有所用力，邪氣與汗並出。此病藏於腎，其先從內出之於外也。如是者，陰虛而陽盛，陽盛則熱矣。衰則氣復反入，反入則陽虛，陽虛則寒矣。故先熱而後寒，名曰溫瘧。治宜人參白虎湯，或有客邪，則加桂枝；更以金匱腎氣丸去附子，倍加桂枝作湯，渴則飲之。蓋從腎出而大熱，則其內先已如焚，故急以白虎退熱。迨瘧勢外衰，復返於腎，而陰精與之相持，乃為寒。設不知壯水之主，以救其陰，十數發後，陰精竭矣。此伏邪自發之溫病，與溫病後重感於寒所變之溫瘧，名同而實異，然皆不越乎少陰一經，故詳辨之，以破此異同之惑。</p>
<p>詒按：兩證來源稍異，而救陰撤熱，其治法大致相同。惟前證重感新寒，當隨證參用疏邪之意，方為周密。</p>
<h3>辨正吳又可溫疫論各條</h3>
<p>詒按：吳氏所論溫疫中後治法，大概與伏溫相合。故後來張石頑、蔣問齋等治溫熱病，每每引用。惟方藥粗悍，宜於藜藿壯實之體，而不宜於膏粱虛弱之人耳。所可議者，開手即謂溫疫穢濁之邪，由口鼻吸受，藏於募原而發。將伏氣化溫之病，概行抹煞。並疑內經冬傷於寒春必病溫之語為不足憑。試思募原之邪，專在氣分，即使善於傳變，亦何至有先裡後表，但裡不表，裡而又裡，如後面所稱九傳之變證哉！至所敘初起證情，以及舌苔脈象，大略是暑濕濁邪蒙蔽中焦之證，與疫厲惡毒之邪，沿門闔戶，如霍亂爛喉捻頸等險惡之證，傳染不已者，亦不相同。然則又可所指之溫，既未得伏溫之真諦；所論之疫，又未得疫證之全體：似無足取矣。然又可當明季兵荒　至之時，確有是病，以此治病，確乎有效，乃以其所閱歷者著為此論。雖不免有粗疏之弊，亦豈容一概屏棄。況篇中所論應下失下，及下後諸變證，曲折詳盡，多闡前人未發之秘，堪為臨證圭臬者，正復不少。爰采論中，與伏溫相合者各條，附列於下，並分系於各篇之後而詳論之。</p>
<p>溫疫之邪，從口鼻而入，不在經絡，舍於伏膂之內，去表不遠，附近於胃，乃表裡之分界，是即內經瘧論所謂橫連募原是也。凡人本氣充滿，邪不易入，適逢虧欠，因而乘之。感之淺者，待有所觸而發；感之深者，中而即病。其始陽氣鬱伏，凜凜惡寒，甚則四肢厥逆；既而陽氣鬱發，中外皆熱，發即昏昏不爽，壯熱自汗。</p>
<p>此邪伏於募原，即使汗之，熱不能解。必俟伏邪已潰，表氣漸行於內，精元自內達表，此時表裡相通，大汗淋漓，邪從外解，此名戰汗，當即脈靜身涼而愈。</p>
<p>詒按：從口鼻吸受者，必系暑濕穢濁之邪。其發也，心有痞悶、嘔惡、嘈攪等募原達胃之見證。治之當用芳香開泄，如藿香正氣之類。此不在經絡，本非汗能解。若暴受風寒邪在經絡者，其邪尚淺，一汗即解而不戰也。若大寒大熱，必戰而得汗乃能解熱者，其邪必深且重。迨鬱伏而發，邪正交爭則戰，正勝邪卻則汗，此即屬伏溫見證。雖病情萬變，不可執一，伏溫之病：每有兼挾暑濕穢濁，或暴感風寒夾雜而發者：然醫者必須逐層分別，認清來源，方可施治。吳氏於入手之初，敘述病情，不能分晰清楚，混稱之曰溫疫，致後人相沿遺誤，不容不辨。</p>
<p>若伏邪未盡，必復發熱。其熱之久暫，視所感之輕重，要皆先寒後熱。至伏邪發出，方顯變證。</p>
<p>詒按，據此病機，合之下文表裡九傳，則所云伏邪，必非輕淺之邪，如募原所伏之穢濁矣。</p>
<p>其證或從外解，或從內陷，更有表裡先後不同：有先表而後裡者，有先裡而後表者，有但表而不裡者，有但裡而不表者，有表而再表，有裡而再裡，有表勝於裡者，有裡勝於表者，有表裡分傳者。此為九傳。</p>
<p>詒按：所列九傳證情，變幻殊甚。然惟伏氣化溫，從少陰外達者，每每有之。邪機僅在募原者，未必如是也。</p>
<p>疫邪初起，脈不浮不沉而數，晝夜皆熱，日晡益甚，頭疼身痛。不可用辛熱藥汗之，又未可下，宜用達原飲以透募原之邪為當。若見少陽、陽明、太陽證，隨經加柴胡、葛根、羌活為引，以提其邪出陽分也。</p>
<p>詒按：若系暑濕濁邪，舌苔白膩者，用達原飲甚合。若伏溫從少陰外達者，則達原飲一派辛燥，既不能從裡透邪，而耗氣劫津，非徒無益，而又害之矣。學人當細心體認，勿誤用也。</p>
<p>邪之輕者，舌上白苔亦薄，脈亦不甚數，一二劑自解。如不得汗，邪氣盤錯於募原也，只以本方主之。</p>
<p>感之重者，舌上苔如積粉，藥後不從外解而反內陷，舌根先黃漸至中央，此邪漸入胃也。前方加大黃下之。</p>
<p>詒按：以舌苔之濃薄為病之輕重，是暑濕濁邪之的據。若伏溫則盡有邪機極重，而舌苔如無病者。緣邪發於陰，未涉於胃故也。學人於此等處，細心分別，則伏溫與疫邪異同之辨，自可了然矣。</p>
<p>若脈長而洪數，大汗多渴，此邪氣適離募原，欲表不表，白虎湯證也。如舌上純黃色，兼見裡證，此邪已入胃，承氣湯證也。</p>
<p>詒按：白虎、承氣，均是治熱邪犯胃之重劑。凡無形之邪熱，燔灼於胃者，用白虎：有形之垢熱，結於胃腑者，用承氣；此一定不易之法。乃以欲表不表，則當以導之出表為要，不當以白虎專清裡熱矣。</p>
<p>疫邪為病：有從戰汗解者；有從自汗盜汗解者；有無汗竟全歸胃腑者；有自汗淋漓，熱渴反甚，終得戰汗而解者；有胃氣壅遏，必下後始得戰汗而解者；有汗解而裡和，越三四日復發熱者；有已發黃，因下而復熱發斑者；有竟從發斑而愈者；有裡證偏重，雖有斑仍非下不愈者；此雖傳變不常，要皆意中事也。</p>
<p>詒按：所列病情傳變，頗為詳悉。但如汗解後，越日復熱；發黃後，因下復熱；發斑後，仍非下不愈；此等證情，伏溫每每有之。若邪伏募原之濕溫，未必爾也。</p>
<p>又有意外之變，如男子適逢使內，邪熱乘虛陷於下焦，氣道不通：以致小便淋澀，少腹脹滿，至夜發熱。用導赤、五苓輩，分毫不效；與大承氣一服，小便如注而愈者。</p>
<p>詒按：此邪熱陷入肝腎之部，當從陰分，導泄其熱乃愈。導赤、五苓，固與證不合，即承氣得效，亦不過得大黃泄熱之力耳。其實方中之枳、朴、芒硝，與證情亦不相合也。</p>
<p>又有女子經水適來適斷，以及失血崩帶，心痛疝氣，痰火喘哮等證，隨時挾發者，此皆出於意外者也。大抵邪行如水，惟HT　處受之，此喻最切要。至因新病而來舊病，但治新病而舊病自已也。</p>
<p>詒按：因新病牽動舊病，治當以新病為主，此定理也。但其中亦須審察輕重緩急，以定治法，未可執一論也。</p>
<p>然有大勞、大欲、大病、久病後發病者，此為四損。其正氣先虧，每致邪氣易陷，多不可救。</p>
<p>詒按：凡決溫熱病之生死，總以正氣之強弱衡之。病邪雖重，而正氣能支，尚可不死，有病邪雖輕，而正氣不能支持，每每猝然蒙陷。不可不知。</p>
<p>吳又可曰：疫邪一二日，舌上苔如積粉，早服達原飲一劑。午後舌色變黃，隨見胸膈滿痛，大渴煩擾，此伏邪已潰，毒傳於裡也。前方加大黃下之，煩熱稍減。傍晚後加躁煩發熱，通舌黑刺，鼻如煙煤，此邪毒最重。待瘀到胃，急接承氣湯，抵暮大下，夜半熱退，次早黃刺如失。一日有此三變，數日之法，一日行之。因其毒甚，故傳變亦速，投劑不得不緊；設用緩法，必無及矣。</p>
<p>詒按：似此傳變迅速，疫邪穢毒極重者多有之；若尋常伏氣所發，未必若是之重且速也。</p>
<p>又曰：邪入胃者，非承氣不愈。誤投白虎，既無破結之能，反抑邪毒，致脈不行，反變細小。倘誤認陽證陰脈，復不敢下，逡巡死耳。當此急投小承氣，庶可挽回。</p>
<p>詒按：必有大熱大渴，脈洪多汗，舌無濃濁苔，方為白虎的證。至脈變細小，仍投承氣，亦須認清見證。</p>
<p>若胃無垢熱，承氣豈可妄施。</p>
<p>又曰：疫邪初發，必在半表半裡。至於傳變，或表裡分傳。醫執成見，必先解其表，此大謬也。嘗見用大劑麻黃，一毫無汗，轉加煩熱。蓋裡氣結滯，陽氣不得宣達於表，即四肢未免微厥，安有津氣蒸蒸而外達乎。</p>
<p>必用承氣通其腑。苟裡氣一通，不待發散，多有自汗而解者。</p>
<p>詒按：所論雖屬疫邪，而溫熱病熱結於胃，津液不行而無汗者，其理與此正同。</p>
<h2>卷下</h2>
<h3>論溫病與傷寒病情不同治法各異</h3>
<p>冬月傷寒，邪由皮毛而入，從表入裡，初見三陽經證，如太陽病，則頭項強痛而惡寒之類。三陽不解，漸次傳入三陰。其中有留於三陽，而不入三陰者：有結於胃腑，而不涉他經者；亦有不必假道三陽，而直中三陰者。凡此傷寒之症，初起悉系寒邪見象。迨發作之後，漸次化熱內傳，始有熱象。故初起治法，必以通陽祛寒為主。及化熱之後，始有泄熱之法。此傷寒病之大較也。若夫溫病，乃冬時寒邪，伏於少陰。迨春夏陽氣內動，伏邪化而為熱，由少陰而外出。如邪出太陽，亦見太陽經證，其頭項強痛等象，亦與傷寒同。但傷寒裡無鬱熱，故惡寒不渴，溲清無內熱。溫邪則標見於外，而熱鬱於內，雖外有表證，而裡熱先盛；口渴溲黃、尺膚熱、骨節疼，種種內熱之象，皆非傷寒所有。其見陽明、少陽，見證亦然。初起治法，即以清泄裡熱，導邪外達為主。與傷寒用藥，一溫一涼，卻為對待。蓋感寒隨時即發，則為傷寒，其病由表而漸傳入裡，寒邪鬱久，化熱而發，則為溫病，其病由裡而鬱蒸外達。傷寒初起，決無裡熱見證：溫邪初起，無不見裡熱之證。此傷寒、溫病分證用藥之大關鍵。臨證時能從此推想，自然頭頭是道矣。</p>
<h3>論伏氣發溫與暴感風溫病原不同治法各異</h3>
<p>冬時伏邪，鬱伏至春夏，陽氣內動，化熱外達，此伏氣所發之溫病也。內經云：冬傷於寒，春必病溫。又云：凡病傷寒而成溫者，先夏至日為病溫，後夏至日為病暑。難經云傷寒有五，有溫病，有熱病。傷寒論云：太陽病，發熱而渴，不惡寒者為溫病。凡此皆指伏邪所發之溫病言也。另有一種風溫之邪，當春夏間感受溫風，邪鬱於肺，咳嗽發熱，甚則發為痧疹。內經所謂風淫於內治以辛涼，葉氏溫熱論所謂溫邪上受首先犯肺者，皆指此一種暴感風溫而言也。伏氣由內而發，治之者以清泄裡熱為主；其見證至繁且雜，須兼視六經形證，乃可隨機立法。暴感風溫，其邪專在於肺，以辛涼清散為主；熱重者，兼用甘寒清化。其病與伏溫病之表裡出入，路徑各殊；其治法之輕重深淺，亦屬迥異。近人專宗葉氏，將伏氣發溫之病，置而不講。每遇溫邪，無論暴感伏氣，概用葉氏辛涼輕淺之法，銀翹、桑菊，隨手立方；醫家病家，取其簡便，無不樂從。設有以伏氣之說進者，彼且視為異說，茫然不知伏氣為何病。嗟乎！伏溫是外感中常有之病，南方尤多，非怪證也。其病載在內經、難經、傷寒論諸書，非異說也。臨證者，竟至茫然莫辨，門徑全無，醫事尚堪問哉！</p>
<h3>論伏邪外發須辨六經形證</h3>
<p>傷寒緒論曰：初發病時，頭項痛，腰脊強，惡寒，足太陽也；發熱面赤、惡風，手太陽也：目疼、鼻干、不得臥，足陽明也：蒸熱而渴，手陽明也；胸脅滿痛、口苦，足少陽也：耳聾，及病寒熱往來，手少陽也；腹滿、自利而吐，足太陰也；口乾、津不到咽，手太陰也；脈沉細、口燥渴，足少陰也；舌乾、不得臥，手太陰也；耳聾、囊縮、不知人事，足厥陰也；煩滿、厥逆，手厥陰也。</p>
<p>醫略曰：太陽之脈上連風府，循腰脊，故頭項痛，腰脊強；陽明之脈，挾鼻絡於目，故身熱，目疼，鼻干，不得臥；少陽之脈，循脅，絡於耳，故胸脅痛而耳聾；太陰脈布胃中，絡於嗌，故腹滿而嗌干：少陰脈貫腎，絡於肺，系舌本，故口燥舌乾而渴；厥陰脈循陰器，而絡於肝，故煩滿而囊縮。凡外感病，無論暴感伏氣，或由外而入內，則由三陽而傳入三陰：或由內而達外，則由三陰而外出三陽。六經各有見證，即各有界限可憑。治病者指其見證，即可知其病之淺深。問其前見何證，今見何證，即可知病之傳變。傷寒如此，溫病何獨不熱。</p>
<p>素問熱病論、仲景傷寒論均以此立法，聖人復起，莫此易也。近賢葉氏，始有傷寒分六經，溫病分三焦之論，謂出河間。其實溫熱病之法，至河間始詳；至溫病分三焦之論，河間並無此說，其書具在，可復按也。厥後吳鞠通著溫病條辨，遂專主三焦，廢六經而不論。殊不知人身經絡，有內外淺深之別，而不欲使上下之截然不通也。其上焦篇提綱云：凡溫病者，始於上焦，在手太陰。試觀溫邪初發者，其果悉見上焦肺經之見證乎，即或見上焦之證，其果中下焦能絲毫無病乎？鞠通苟虛心診視，應亦自知其說之不可通矣。況傷寒溫熱，為病不同，而六經之見證則同；用藥不同，而六經之立法則同。治溫病者，烏可舍六經而不講者哉。</p>
<p><u>附錄醫悟</u></p>
<p><u>表證</u></p>
<p>：發熱、惡寒，身痛，四肢拘急、喘。</p>
<p><u>太陽經證</u></p>
<p>：頭痛、項脊強、脈浮、脈伏。</p>
<p><u>陽明經證</u></p>
<p>：目痛、鼻干、唇焦、漱水不欲咽、尺寸俱長。</p>
<p><u>少陽經證</u></p>
<p>：耳聾、胸滿、脅痛、目眩、口苦、苔滑、脈弦。</p>
<p><u>半表裡證</u></p>
<p>：嘔吐、寒熱往來、頭汗、盜汗。</p>
<p><u>太陰經證</u></p>
<p>：腹微滿、脈沉實、自利。</p>
<p><u>少陰經證</u></p>
<p>：口燥咽乾而渴、咽痛、下利清水、目不明。</p>
<p><u>厥陰經證</u></p>
<p>：少腹滿、囊縮、舌卷、厥逆、消渴。</p>
<p><u>太陽腑證</u></p>
<p>：口渴、溺赤。</p>
<p><u>陽明腑證</u></p>
<p>：潮熱、譫語、狂亂、不得眠、自汗、手足汗、便閉。</p>
<h3>論溫病初發脈象舌苔本無一定</h3>
<p>溫病之脈，前人謂右脈反大於左，此指邪熱之達於肺、胃者言也。嘗有伏溫初發，其邪熱鬱於少陰，或連及厥陰，而弦數之脈，遂見於左手關尺兩部者甚多。更有邪機深伏，郁湮不達，病象頗深，而脈象轉見細弱不鼓之象：逮托邪化熱，脈始漸見浮硬。此由腎氣先虧，不能鼓邪外達，故脈象如此，其證必非輕淺。總之，伏溫外發，必從經氣之虛處而出，初無一定路徑，所謂邪之所湊，其氣必虛也。難經云：溫邪行在諸經，不知何經之動。此語空靈活潑，最合病情。蓋其行動，初無一定之徑，外見無一定之證，故其脈亦無一定之脈。至舌苔之色，必邪在胃中蒸郁，其濁氣乃上熏而生苔。若邪伏陰經，不涉胃腑，則雖邪熱已劇，仍不見有舌苔也。舌本為心、脾營氣所結，故營分有熱，舌底必絳；心火亢盛。舌尖必紅。然邪深伏下焦。而舌底不見紫絳者，間亦有之。迨邪熱鬱極而發，脈之細弱者，忽變而浮大弦數：舌之淡白者，倏變而灰黑干絳；則勢已燎原，不可響邇。至此而始圖挽救，恐熱邪熾盛，臟腑枯爛，雖有焦頭爛額之客，而已無及矣。故視病者，必細察見證，再合之色脈，乃有把握。若徒執脈象、舌苔，而求病之寒熱、淺深，則誤者多矣。詒閱歷多年，確知伏溫初起，凡病邪極深者，脈與證較多不合。其故皆由邪氣深伏，不易表見於外。視病者為其所惑，必多誤治。故特表而出之，庶學人知所審擇焉。</p>
<p>周禹載曰：溫病熱病之脈，或見浮緊者，乃重感不正之暴寒。寒邪束於外，熱邪蘊於內，故其脈外則繃急，內則洪盛也。又或不識脈形，但見弦脈，便呼為緊，而妄治之。蓋脈之盛而有力者，每每兼弦，豈可錯認為緊，而斷以為寒乎。夫溫病熱病之脈，多在肌肉之分而不甚浮，且右手反盛於左手，誠由怫鬱在內故也。其左手盛或浮者，必有重感風寒；否則非溫病熱病，自是非時暴寒耳。</p>
<h3>伏溫從少陰初發證治</h3>
<p>經曰：冬傷於寒，春必病溫。又曰：冬不藏精，春必病溫。分而言之，則一言其邪之實，一言其正之虛。</p>
<p>合而言之，則惟其冬不藏精而腎氣先虛，寒邪乃得而傷之。語勢雖若兩平，其義原歸一貫也。喻氏以冬傷於寒，與冬不藏精，又以既不藏精更傷於寒，分立三綱，各為證治。試思如果冬不藏精，別無受寒之事，則其病為純虛，與溫病何涉。蓋喻氏只顧作文之排場，而不自覺其言之不切於病情也。</p>
<p>原其邪之初受，蓋以腎氣先虛，故邪乃湊之而伏於少陰。逮春時陽氣內動，則寒邪化熱而出。其發也，有因陽氣內動而發者，亦有時邪外感引動而發者。凡陽氣內動，寒邪化熱而發之證，外雖微有形寒，而裡熱熾甚，不惡風寒，骨節煩疼：渴熱少汗（初起少汗至陽明即多汗矣）。用藥宜助陰氣，以托邪外達，勿任留戀。其為時邪引動而發者：須辨其所挾何邪，或風溫，或暴寒，或暑熱。當於前法中，參入疏解新邪之意（詳外挾新邪條內）。再看其兼挾之邪，輕重如何。輕者可以兼治。重者即當在初起時，著意先撤新邪；俟新邪既解，再治伏邪，方不礙手。此須權其輕重緩急，以定其治法，不可豫設成見也。寒邪潛伏少陰，寒必傷陽；腎陽既弱，則不能蒸化而鼓動之。每見有溫邪初發，而腎陽先餒，因之邪機冰伏，欲達不達，展轉之間，邪即內陷，不可挽救，此最難著手之危證（另詳邪鬱少陰條內）。其或邪已化熱，則邪熱燎原，最易灼傷陰液，陰液一傷，變證蜂起，故治伏溫病，當步步顧其陰液。當初起時，其外達之路，或由三陽，或由肺胃，尚未有定程，其邪仍在少陰界內。前人治溫病之法：如千金用陽旦湯，則偏於太陽：陸九芝用葛根芩連湯，則偏於陽明；張石頑用小柴胡湯，則偏於少陽；至喻嘉言之麻附細辛，則過於猛悍矣，葉香岩之辛涼清解，則失之膚淺矣。愚意不若用黃芩東加豆豉、元參，為至當不易之法。蓋黃芩湯為清泄裡熱之專劑。加以豆豉為黑豆所造，本入腎經；又蒸罨而成，與伏邪之蒸鬱而發相同；且性味和平，無逼汗耗陰之弊：故豆豉為宣發少陰伏邪的對之藥。再加元參以補腎陰。一面泄熱，一面透邪，凡溫邪初起，邪熱未離少陰者，其治法不外是矣。至兼挾別項外感，或兼內傷，或邪雖未脫少陰，而已兼有三陽見證者，均宜臨證參酌施治，固非可刻舟以求劍矣。</p>
<h3>伏溫由少陰外達三陽證治</h3>
<p>寒邪潛伏少陰，得陽氣鼓動而化熱。苟腎氣不至虛餒，則邪不能容而外達。其最順者，邪不留戀於陰，而徑出於三陽，則見三陽經證。太陽則惡寒發熱，頭項疼，腰脊強，治宜豉、芩，合陽旦湯。陽明則壯熱鼻干，不得臥，治宜豉、芩，合葛根、知母等味。少陽則寒熱往來，口苦脅痛，治宜芩、豉，合柴胡、山梔等味。其邪初出三陽，或兼新感，外有惡寒無汗等證，則桂、葛、柴胡，自當參用。若裡熱已甚則不宜桂枝，壯熱汗多則不宜葛根，內風易動則不宜柴胡，此則又在臨時之化裁矣。難經曰：溫邪行在諸經，不知何經之動也。故其發也，本無定處，大略乘經氣之虛，或挾別邪而發。如太陽虛則發於太陽，陰氣虛則戀於陰分。其有溫邪化熱已出三陽，而未盡之邪尚有伏於少陰而未化者（此腎氣不充，宜兼溫托）；即或全數化熱，而其熱有半出於陽，半戀於陰者（此陰氣不足，不能托邪，當兼養陰）；用藥總宜隨證化裁，活潑潑地，方能應手取效也。</p>
<h3>伏溫熱結胃腑證治</h3>
<p>伏溫化熱而達，其證由少陰而出三陽者，於法為順。惟無形之熱，可從經氣而達。若中焦挾有形食積濁痰，則邪熱蘊蒸，每每乘機入胃，熱結於中，而為可攻之證。蓋胃為五臟六腑之海，位居中土，最善容納。邪熱入胃，則不復他傳。故溫熱病熱結胃腑，得攻下而解者，十居六七。前人如又可所論，雖名瘟疫，其實亦系伏邪。所列治法，用攻下者，十之七八。蓋傷寒重在誤下，溫病重在誤汗；溫病早投攻下，不為大害，前賢本有此論。吳氏又確見病證之可下者多，故放膽言之，而不自覺其言之偏重也。陸九芝謂溫病熱自內燔，其最重者，只有陽明經腑兩證。經證用白虎湯，腑證用承氣湯。有此兩法，無不可治之溫病矣。其意專重陽明，若溫病決不涉及別經者，其言亦未免太偏。總之，溫病邪熱蒸郁，入於陽明者居多。熱在於經，猶屬無形之熱。其證煩渴多汗，狂譫脈洪，此白虎證也。若熱結於腑，則齒垢唇焦，晡熱，舌苔焦黃，神昏譫語，脈沉實，此承氣證也。只要認證清楚，確系熱在於胃，則白虎、承氣，依法投之，可以取效反掌。切勿因疑生怯，反致因循貽誤也。</p>
<p>前人用大黃下奪，有因泄熱而用者（如三黃瀉心）；有因解毒而用者（如三黃解毒），有因疏瘀化痰而用者（如大黃　蟲、滾痰丸），有因疏泄結氣而用者（如大黃黃連瀉心），原不專為積滯而設。無如不明醫理者，見方中有大黃一味，即謂之承氣，即謂之攻積；因而疑忌多端，當用不用，坐此貽誤者多矣。</p>
<p>傷寒熱結胃腑者，糞多黑而堅燥：溫病熱結於胃者，糞多醬色而溏。藜藿之子，熱結者糞多栗燥；膏粱之人，多食油膩，即有熱灼，糞不即燥，往往有熱蘊日久，糞如污泥，而仍不結為燥栗者，此不可不知也。有初起病時，便溏作瀉，迨兩三日後，熱勢漸重，乃結於胃而便秘者，仍宜依法下之。又有熱勢已重，渴飲頻多，或用清泄之劑，因而便泄稀水，堅糞不行者，此熱結旁流也。古法用大承氣下之，吳鞠通改為調胃承氣，甚合。</p>
<p>熱結而成燥糞者，行一二次後，燥糞已完，熱邪即盡。若溏糞如煙膏霉醬者，或一節燥、一節溏者，此等證，其宿垢最不易清，即邪熱亦不易淨。往往有停一二日再行，有行至五六次，多至十余次者。須看其病情如何，以定下與否。慎勿震於攻下之虛聲，遂謂已下不可再下，因致留邪生變，而受養癰之實禍也。</p>
<p>光緒初年冬仲，徐君聲之，因欲服補劑，屬為定方。予診其脈，兩尺浮數弦動而不靜。予謂據此脈證，當發冬溫，補劑且從緩進。因疏方，黃芩東加生地，囑其多服幾劑。當其時飲啖如常，並無疾苦。勉服三兩劑，即停不服。迨十二月十七，忽振寒發熱。兩日後，漸覺神情昏糊困倦，熱勢蒸郁不達，神呆耳聾面垢。此少陰伏邪，化熱外達。其勢外已入胃，而內發於陰者，尚未離少陰之界，而並有竄入厥陰之勢，病情深重而急。予以至戚，誼無可諉，不得不勉力圖之。先與梔、豉、黃芩二劑，繼進清心涼膈法兩劑，均無大效。而痙厥昏譫，舌燥唇焦，病勢愈急。乃用調胃承氣，加洋參、生地、犀角、羚羊、元參養陰清泄之品。兩劑之後，始得溏糞如霉醬者二遍。間進犀、羚、地、芍、豆豉、梔、丹、芩、元參，養陰熄熱，清透少陰之劑，而熱仍不減。</p>
<p>乃再與調胃承氣合增液法，又行垢糞一次。此後即以此法，與養陰清泄之法相間迭用。自十二月二十三起，至正月初十，通共服承氣八劑，行宿垢溏黑者十余次，裡熱始得漸松，神情亦漸清朗。用養陰之劑，調理兩月而痊。按：此證少陰伏邪本重，其化熱而發也，設熱邪全聚於胃，即使熱壅極重，猶可以下泄之藥，背城借一，以圖幸功。乃中焦之熱勢已劇，而伏熱之潰陰分者，又內熾於少、厥兩陰之界，岌岌乎有蒙陷痙厥之險。不得已用助陰托邪之法，從陰釐清化，使其漸次外透。其已達於胃者，用緩下法，使之隨時下泄。戰守兼施，隨機應變。如是者，將及兩旬，邪熱始得退清。假使攻下一兩次後，即畏其虛而疑不能決，則其險有不堪設想者。</p>
<p>然則焦頭爛額，得為今日之上客者，幸也。</p>
<p>長媳徐氏，戊戌七月，患感冒挾肝氣發熱，脘痛嘔惡不納者，五六日。八月朔，得大解頗暢。余謂大便一通，病可松也。不意至夜，寒熱大作，惡心乾嘔，徹夜不止。與左金、平胃、溫膽、瀉心，均無寸效。至初五日，煩躁口渴，舌燥起刺。予以其質弱陰虧，慮其不耐壯熱，急思乘早擊退，冀免淹纏，遂用涼膈合瀉心法，佐以洋參、石斛等。連進兩劑，得大解兩遍，嘔惡即止，而裡熱不減，間服養陰泄熱藥一二劑，大便仍不行，而舌苔灰熱轉濃。乃改用調胃承氣合增液法，間日一進。每進一劑，即行一次，糞色或黃或黑，或溏或結。又進三次，至十五日，方中大黃重至五錢，乃腹中大痛，宿糞暢行。當時冷汗肢厥，幾乎氣脫不回。急進人參以扶正氣，始漸定。自此次暢行後，裡熱漸松，用藥總以養陰扶胃為主。每間三四日，大解不行，即用人參湯送大黃丸藥一服，或瀉葉湯一盞，大便始行，而糞色仍黑紫如醬。至九月初，乃能漸進米湯稀粥。然每至三五日大解不通，即覺胃熱熏郁，須與清泄，得大解始平。至九月十九日，服瀉葉湯後，忽然宿垢大行，得黑糞半桶之多：然後積熱濁熱，始得一律整肅，不再有餘熱熏蒸矣。自初病至此，共用大黃三兩零，元明粉一兩零，人參參須二三兩，洋參、麥冬各十余兩，鮮地，石斛各一斤，其犀、羚、珠粉等味，用數少者不計焉。此證因陰虛質弱之體，患此大病，米飲不沾唇者一月，而得全性命者，緣自病迄今始終以扶正養陰為主，故雖屢頻危殆，而卒獲保全。其積垢行至一月有餘而始淨，則初念亦不及料也。然從此可知，時病之余熱不除，皆由積垢不清所致，斷不可顧慮其虛，轉致留邪生變也。又此證最易惑者，其脈始終細弱，毫無實象。惟將見證細意審察，究屬體虛證實，惟有用洋參、鮮地、石斛、大黃，以養陰泄熱，為至當不易之治。　守不移，始得回一生於九死也，亦幸已哉！</p>
<h3>伏溫上灼肺金發喘逆咯血咳膿證治</h3>
<p>伏邪在少陰，其由經氣而外出者，則達於三陽；其化熱而內壅者，則結於胃腑：此溫熱病之常也。少陰之系，上連於肺。邪熱由腎系而上逆於肺，則見肺病。況溫邪化熱，火必克金，則肺臟本為溫邪所當犯之也。其或熱壅於胃，上熏於鬲，則熱邪由胃而炎及於肺，更為病勢所應有。近時煙草盛行，肺中津液，熏灼成痰，阻窒肺隧，平日每多痰咳，更值溫熱上蒸，痰得熱而痰更膠黏，熱附痰而熱愈留戀，其為咳為喘，意中事也。肺絡不通，則胸脅刺痛；熱鬱日甚，則痰穢如膿，或咳紅帶血，無非熱灼金傷所致。此時苟伏邪已一律外透，則治之者，只須清泄肺胃。夫病在肺，而何以治者必兼及胃？蓋肺中之熱，悉由胃腑上熏。清肺而不先清胃，則熱之來路不清，非釜底抽薪之道也。古方如麻杏甘石、越婢、青龍，清燥救肺等方，均用石膏，誠見及於此也。輕則葦莖湯，鮮斛、鮮沙參之類，必不可少。脅刺者兼和絡氣，咳紅者兼清血絡。滋膩之藥，恐其助痰；溫燥之品，恐其助熱；均為此症所忌。又此症在初起時，醫者粗心不察，視為尋常外感，恣用發散；或見其痰多，妄用二陳：或見其喘逆，作外感治而用麻、桂，作內傷治而用生脈、熟地；均屬背謬。而耗液助熱生痰，諸弊畢集矣。迨見病勢日增，始細心體認，改投清泄。而肺金臟陰已傷，不能遽復。即使邪熱得清，而內熱乾咳，綿延不愈，遂成上損，終致不救者，往往有之，誰之咎哉。</p>
<h3>伏溫內燔營血發吐衄便紅等證治</h3>
<p>溫邪化熱外出，其熏蒸於氣分者，為煩熱、口渴等證。其燔灼於營分者，血為熱擾，每每血由肺絡而溢出為咳血，由吐而出為吐血，上行清道為鼻衄、齒衄，下行濁竅為溲血。便血。凡此皆血為熱邪所迫，不安其絡，因而上溢下決。惟血既外奪，則邪熱亦隨血而泄，病勢宜由此而減，乃為吉象。若血既外奪，而裡熱仍盛，昏譫煩躁：仍不輕減，即屬重症。推其故，蓋有二焉：一則伏熱重而蒸郁過深，絡血雖溢，而裡熱之留伏尚多也，一則營陰虛而為燔灼所傷，陰血枯竭，而不能托邪外出也。邪重者，宜涼血泄邪，如犀、地、梔、丹、銀花、連翹、茅根、側柏之類：血虛者，宜養血清熱，如地、芍、梔、丹、阿膠、元參之類。總以涼陰泄熱為主腦，血虛者兼以滋養，邪實者兼以清泄，必使血止而熱亦因此而解，斯為順手耳。此等症，每有急求止血，過用清涼，以致血雖止，而上則留瘀在絡，胸脅板痛；下則留瘀在腸，垢痢瘀紫。甚或留瘀化熱，變為暮熱朝涼，咳痰帶血，見種種陰損之候。昧者不察，誤認為虛，漫投補劑，遂遷延不愈，愈戀愈虛，以致不救，可慨也夫。</p>
<p>凡瘀留在腸胃者，易於疏化，以其在康莊大道，不在細微曲折之處，藥力易於疏通也。若瘀留於肺肝血絡之中，則絡道蠶叢，藥力既非一時可到，而又不宜於猛劑攻消；只有通絡化瘀泄熱之法，緩緩圖功。如曹仁伯清瘀熱湯之法，最為得竅，學人宜仿此用之（清瘀熱湯──旋、絳、蔥、葦、枇）。</p>
<h3>伏溫外竄血絡發斑疹喉痧等證治</h3>
<p>伏溫化熱，燔灼血絡，因致絡血外溢，邪熱即隨血而泄，於病機猶為順象。乃有邪熱鬱於血絡，不得外達，其在於肺，肺主皮毛則為疹，其在於胃，胃主肌肉則為斑。有斑疹各發，不相交涉者；有斑疹兼發，不能分晰者。總之以清營透邪，疏絡化斑為主。凡外面斑疹透齊，即神清熱解者為吉。若斑疹雖透，而裡熱不解，則熱鬱已甚，其勢必有變端。當隨其見證，小心斟酌。又有一種爛喉丹痧，此於伏溫之中，兼有時行疫毒。發熱一二日，頭面胸前，稍有痧疹見形，而喉中已糜爛矣。此證小兒居多，其病之急者，一二日即見壞證。如面色青晦，痰塞音啞，氣急腹硬，種種惡候，轉瞬即來，見此者多致不救。此等急症，初起即宜大劑清菅解毒，庶可挽回萬一。若稍涉遲延，鞭長莫及矣。</p>
<p>鮮生地為此證清營泄熱必用之藥。欲兼疏散之意，重則用豆豉同打，輕則用薄荷葉同打，均可。丹皮清血中伏熱，且味辛主散，炒黑用之最合。銀花清營化毒，元參清咽滋水，均為此症必要之藥。</p>
<p>治肺疹初起，須兼透達者，於清營方中，用牛蒡、蟬衣以透發之。古方治斑毒，用化斑湯（白虎合犀、地之類）或玉女煎之類。然須煩熱多汗者，乃為合劑。若熱不甚，汗不暢，遽投石膏，恐有邪機冰伏之弊，臨用時宜加斟酌。黃玉楸於此證，用浮萍為表藥，頗有思路，可取用之。</p>
<p>塘市孫蘊之大令郎，聰穎異常，年甫十步，十三經已能背誦，且能舉其大意。蘊翁視之，不啻掌上珠也。</p>
<p>丁亥秋，專信邀診。余夜船赴之，至明晨抵塘市，已不及救矣。蘊翁曰：大兒已死。次兒後一天起病，今已兩天矣，病狀與大兒纖毫無異。以大兒之死例之，則次兒至今夜五鼓時，亦將不救矣。姑為我視之，尚可挽救否？余視之，面色青晦不語，惟煩躁陣作。發躁時將臂內搔挖，若不知痛楚者。挖破處，血亦紫黯不流。舌質紫刺如楊梅，喉間板黃不腐。余細審，乃疫毒閉於營中，不能外達而毒攻心肺，故其死若是之速。此證屬陰毒、陽毒之類，在古書中雖無確當治法，而以意測之，欲圖挽回，必使疫毒有外泄之路，乃有生機。遂令其用犀角磨汁，鮮生地、大黃絞汁，再合元參、丹皮、銀花等化毒泄熱之品，陸續灌之。至黃昏，得大便溏黑者兩次。灌至天明，盡藥兩茶盞，又得大便溏黑者兩次。余再視之，神情較能靈動，舌上黃苔浮膩，喉間起腐。仍用前法，加入金汁，合養陰之意，如前灌之。一日夜服三、四碗，大小便始暢，腹硬亦平。其上半如頸、項、肩、肘，下部如腰脊、髀關、膝、等處，凡肢節交接之處，從前有紫痕僵塊者，至此皆紅腫作膿。不特咽喉潰爛，並肛門亦潰爛流膿。余力守養陰活血、泄熱化毒之方，兩旬以後，咽喉及通身之潰爛，均得以此收功。惟大便中仍有膿瘀雜下，余參用內癰治法，又月余始痊。是役也，余用犀、地、大黃、多進不撤，人皆駭之。不知此證之熱毒，亦非尋常所有。設遲回審慎，兼顧其虛，無論如此重病，不能挽救於垂危：即使當時就挽，而後半如此波濤，亦斷不能收全功於萬一也。</p>
<h3>伏溫化熱鬱於少陰不達於陽</h3>
<p>伏溫之邪，冬時之寒邪也。其傷人也，本因腎氣之虛，始得入而據之。其乘春陽之氣而外達也，亦以腎氣暗動，始能鼓邪化熱而出。設其人腎陽虛餒，則邪機冰伏，每有半化半伏、欲達不達之症。如外面熱象熾盛，或已見昏譫、痙厥之候，而少陰之伏邪尚有未經化熱，仍留滯於陰分者。此時就熱象論，已有熱擾厥陰之險，清泄之藥不容緩。而內伏之邪，又以腎氣內餒，不能化達。設專用涼泄，則邪機愈滯：設用溫化，又屬抱薪救火。展轉之間，內則陰液干涸，外則邪熱蒙閉。遲之一二日，即不可挽救矣。此等症情，在溫病中，為最險重之候。即使竭力挽回，亦屬冒險圖功。治病者，必須豫為道破，庶免疑謗。此證邪伏少陰，喻氏仿仲景少陰病治例，用麻黃附子細辛湯及麻黃附子甘草湯兩方以透邪，增入生地以育陰扶正，其用意頗為切當。惟溫邪既動，必有熱象外現；其甚者邪熱蒙陷，已有痙厥之象。此時麻附細辛，斷難遽進。然非此大力之藥，則少陰之沉寒，安能鼓動。治當師其意而變其制，如用麻黃汁制豆豉，附子汁制生地，至涼肝熄風治標之藥，仍宜隨症參入。似此面面周到，庶可收功。</p>
<p>附案：及門生金石如，戊戌三月初旬，患時感。初起惡寒發熱，服疏散藥一劑，未得汗解，而熱勢轉淡，神情呆鈍，倦臥耳聾，時或煩燥，足冷及膝，指尖耳也鼻準亦冷，兩便不利，腰俞板硬，不能轉側，脈遲細而弱，嘔惡不能納水飲，惟嚼醬薑稍止，舌苔濃燥微灰。此由新感引動伏邪，而腎陽先餒，不能托邪化熱，故邪機冰伏不出：其已化之熱，內陷厥陰，欲作痙厥：證情極為險重。趙生靜宜先往，用梔、豉、桂枝、羚羊角，合左金法，小便得通，足溫嘔止；余則證情如故，邪仍不動。議用麻、附，合洋參、生地等扶正托邪，而余適至，遂令趕緊煎服。兩進之後，尺脈始弦，而神情之呆鈍，腰脊之板痛仍爾也。擬用麻黃制豆豉，附子制大生地，桂枝制白芍，合人參、牛膝、元參、淡芩、羚羊、生牡蠣等味出入。</p>
<p>三劑後，以舌苔灰濃而干，又加大黃。服後忽作寒栗戰汗，而腰脊頓松，隨得大解，而裡熱亦泄，神情爽朗，調理一月而愈。此證就邪之深伏而未化熱者論之，則只宜溫托，大忌寒涼：然痙厥神糊，舌苔灰燥，若再助其熱，勢必內陷厥陰，而為昏狂蒙閉之證，無可挽也。就邪之已動而化熱者論之，則只宜清泄，何堪溫燥：然脈情遲細，神呆形寒，經腑俱窒，若專用涼化，則少陰之伏邪不出，遷延數日，勢必內潰，而為厥脫之證，其去生愈遠矣。再四籌審，決無偏師制勝之理。不得已，取喻氏法以治其本，合清泄法以治其標，一面托邪，一面化熱。幸賴少陰之氣，得扶助而伸。凡經邪腑邪，已化未化之邪，乘腎氣之動，一齊外達。故戰汗一作，大便一行，而表裡諸病若失也。</p>
<p>黃村橋范養逵令郎，於戊戌夏間患三瘧，至八月初服截藥而止。至二十外，忽然遺泄數次，遂發寒熱，如日作之瘧。先寒後熱，迨外熱已甚，而下體骨節仍寒，須再作寒栗一次，隨啜熱粥一碗，然後得汗而解。延至九月初，已十余發矣。一日當啜粥助汗之時，忽然頭暈目暗，冷汗肢厥，如欲脫之狀，逾時始定。此後遂臥床不起，惟胃納尚不大壞，纏綿不愈。予往診時，十月中矣。予謂從前三瘧，是暑濕之邪。迨愈而復作，是引動少陰伏邪，乘少陽新病之虛而出；而腎陽先餒，不能托邪，故寒栗日甚，而熱勢反不重也。此當用溫經托邪之法，用桂枝東加人參、當歸、生地、附子汁制牛膝，仍用柴胡、豆豉、黃芩等味出入，十余劑。中間迭見驚悸痙惕諸證，又加龍骨、牡蠣、羚羊角等味，隨證治之而愈。此證當瘧疾再發之時，諸醫仍用暑濕門套方，服二三十劑，而病情毫無增減。病者自言不起，每夜分輒有譫語。病家疑神疑鬼，醫家莫測其病原所在。其故皆由近日醫家，不囿於吳又可募原之說，即泥於吳鞠通三焦之論，而絕不知有少陰伏邪隨經發病之理。故遇此等證，便覺毫無把握，輕者遷延致重，重者無法挽救，近年所見不少矣，哀哉！</p>
<h3>伏溫化熱內陷手足厥陰發痙厥昏蒙等證</h3>
<p>伏溫由少陰而發，外出於三陽經證，內結於胃腑，則見陽明腑證。其證雖深淺不一，但由陰出陽，於病機為順，均在可治之例。惟有伏邪已動，而熱象鬱滯，不達於三陽，亦不歸於胃腑，而即竄入厥陰者，在手厥陰則神昏譫語，煩躁不寐，甚則狂言無序，或蒙閉不語。在足厥陰則抽搐蒙痙，昏眩直視，甚則循衣摸床。此等凶證，有兼見者，有獨見者，有腑熱內結，邪氣充斥而潰入者，有陰氣先虧，熱邪乘虛而陷入者，有挾痰涎而蒙閉者，有挾蓄血而如狂者。凡遇此等重證，第一先為熱邪尋出路，如在經者，從斑汗解，在腑者，從二便出是也。至照顧正氣，轉在第二層。蓋氣竭則脫，陰涸則死，皆因熱邪燔劫而然。用藥於祛邪中，參以扶正養陰，必使邪退，而正氣乃能立腳。如徒見證治證，但以清心泄肝、化熱養津之劑，就題面敷衍。雖用藥並無大謬，而坐失事機，迨至遷延生變，措手不及，誰之咎歟。今姑就手足厥陰見證各條，擬治法如下：凡熱重昏譫，至夜增劇，舌底絳色，此熱灼於營也，以犀角地黃為主方。煩躁不寐，口渴舌板，神情昏擾，熱鬱於上也，以涼膈散為主方。神志煩亂，小溲赤澀，舌尖干紅，熱劫心陰也，異赤各半湯為主方。面赤神煩，大渴多汗，熱燔陽明之經也，白虎湯為主方。大便秘結，或熱結旁流，唇焦齒垢，舌刺焦黃者，熱結陽明之腑也，以三承氣為主方。又如熱蒸痰升，蒙閉神明者，加用至寶、紫雪、菖蒲汁之類。痙掣搐搦，肝風升擾者，加用羚羊角、鉤藤、石決明之類。病證紛繁，治難縷述，而總以祛邪扶正兩意為提綱。祛邪之法，已列於前。至扶正之法，在溫病以養陰為主，以溫熱必傷陰液也。人參難得佳者，且病家無力者多，豈能概用；惟西洋參甘涼養津，施於溫熱傷陰者，最為合用。余如生地滋腎陰，白芍養肝陰，石斛養胃陰，沙參養肺陰，麥冬養心陰。如遇虛體或久病陰傷者，無論發表攻裡劑中，均可加入。其或熱已竄入厥陰，而邪之藏於少陰者，熱氣尚伏而不揚，宜於清泄中，仍兼疏托。或熱已內陷營陰，而邪之走於經者，表氣尚鬱而不達，宜於涼營中，再參透表。其最重者，邪熱內燔，而外面反無熱象，甚至肢厥膚冷，脈澀數而不暢，必得大劑泄熱透邪，乃使熱勢外揚，脈象轉見洪大，庶可免厥深閉脫之危也。</p>
<h3>伏溫挾濕內陷太陰發黃膽腫脹泄利等證</h3>
<p>溫邪挾濕，則為濕溫。其濕之輕者。仍以溫邪為主，略參化濕可耳。其濕之重者，與熱相合，熱勢雖熾，而有脘悶嘔水、舌膩不渴等證。初起宜參芳香宣化，迨濕邪化燥，用蒼朮白虎湯清熱燥濕，可以一劑而愈。若初起即與清滋，欲清其熱，轉助其濕，而發愈纏綿。每有治不如法，遷延一兩月而病不退者，皆治之不得其法也。然而此乃濕溫之在胃者，治之猶易。有一種濕熱蘊於太陰者，初起不見濕象，但覺熱象蒸郁不揚，脘悶口甜，而胃口無病，仍可納穀，舌上不見濁苔。其濕熱深郁於脾藏，漫無出路，或發黃，或腹滿肢腫，或則泄，或便秘，或嘔惡，或小水赤澀。甚則熱鬱日深，脾營受傷，則舌底絳色，或薄苔罩灰黃而不甚噪。種種見證，無非濕鬱化熱。何以燥之則增熱，清之則助濕，如此其百無一效也？蓋臟病無出路，必借道於腑，乃能外出。此病熱蘊已久，脾中之熱，漸欲外達於胃：或胃中挾有痰積，熱即附之而熾。亦有便秘、舌焦、燥渴、煩譫等證，投以苦泄，則胃熱下行，而病勢一松。然所泄者，胃腑之標熱也。其脾臟中蘊遏之熱，仍未達也。</p>
<p>故病雖暫減，而閱日復熾。屢伏屢熾，久而正氣不支，遂成壞證。此等病，治之最難得手。誠以此證，病勢不重於外，病家每每忽視，投劑不能速效，病家勢必更醫。後來者見前醫無功，必且改弦更張。因之雜藥亂投，致成不救者，吾見實多。治此者，必須將太陰之濕，與少陰之熱，孰輕孰重，細細較量；再看其濕熱所傷，或為脾氣，或為脾陰：其兼挾之病，或為痰積，或為瘀滯；均宜細意分晰，方可用藥。至用藥之法，須得輕、清、靈三字俱全，冀其緩緩疏化。切不可側滯一面，以致無益反害。吳鞠通溫病條辨，其原出於葉氏，上中焦濕溫各條，頗有此理者。薛生白濕熱條辨，亦多可取。試細繹之，當有得心應手之妙也。</p>
<h3>伏溫陰陽淆亂見證錯雜</h3>
<p>伏溫由陰而出於陽，於病機為順。若病發於陰，而即潰於陰，不達於陽，此病機為逆。若是乎陰陽兩層，界限分明，安有淆亂者哉。凡病之陰陽淆亂者，其故有二：一則由乎正虛，如陽虛者陰必湊之，則陰病可淆於陽矣：陰虛者陽必擾之，則陽病可淆於陰矣。一則由乎藥誤，如病在陰而誤投陽藥，則陽氣為藥所傷，而陰病淆於陽矣；病在陽而誤投陰藥，則陰氣為藥所傷，而陽病淆於陰矣。至其見證錯雜，有即由於陰陽淆亂而雜者，有由他邪之兼挾而雜者。看此等證：全要天分聰明，識見老到，方有把握。蓋此等證，變化最多，無一定路逕可循。臨病者，須將正氣邪氣，表病裡病，新邪舊邪，孰本孰標，孰輕孰重，孰緩孰急，一一衡量得宜，方可施治。有當先顧本元，苟得正氣一旺，而邪自解散者；有當急祛外邪，必得邪氣速退，而正乃不傷者；有症雖錯出，而發於一原，只須專治其本，而各症自退，所謂緩則治其本者；有證雖在標，而病機甚急，必須先治標病（如小便不利之類），而本病從緩，所謂急則治其標者；有病勢蔓延，欲治其根，而正氣不支，只可先披其枝葉，而用漸衰漸勝之法者：有病情糾結，必除其根，而各證自退，不得不攻其堅壘，而用擒賊擒王之計者；以上所謂錯雜，猶不過表裡虛實，其用藥尚可一線相承。此外更有寒熱錯雜，如陰虛而挾寒飲，陽虛而挾肝火，治此則礙彼，治彼則礙此者，其用藥更難措手。此中奧妙，有知之而不能言，言之而不能盡者。總宜於輕重緩急，權之極精，方可論治。至選藥宜彼此照顧，尤必有手揮五弦、目送飛鴻之妙，乃為得法。否則失之毫厘，謬以千裡，其不誤人性命者鮮矣。</p>
<h3>伏溫外挾風寒暑濕各新邪為病</h3>
<p>伏溫之邪，由春夏溫熱之氣，蒸動而出，此其常也。亦有當春夏之間，感冒風寒，邪鬱營衛而為寒熱，因寒熱而引動伏氣。初起一二日，第見新感之象，意其一汗即解。乃得汗後，表證略減，而裡熱轉甚。昧者眩其病狀，幾若無可把握。不知此新邪引動伏邪之證，隨時皆有。治之者，須審其伏邪與新感，孰輕孰重。若新感重者，先撤新邪，兼顧伏邪。伏邪重者，則專治伏邪，而新感自解。蓋伏溫自內達外，苟由三陽而外解，則表分之新邪，自不能容留矣。內經云：凡病傷寒而成溫者，先夏至日者為病溫，後夏至日者為病暑。此指伏邪乘暑令而發者，尚非兼挾暑邪之病。其有兼挾暑熱之邪而發者，則必另有暑熱見證。其新病引動伏邪，大致亦與兼挾風寒者相似。須審其輕重緩急，釐清經界，方可著手也。至兼挾濕邪之證，有外感之濕，有內伏之濕。伏氣既動，則熱自內發，蒸動濕邪，與伏溫之熱混合，為病最屬淹纏。治之者，須視其濕與熱，孰輕孰重。須令其各有出路，勿使並合，則用藥易於著手。再濕邪有宜溫燥者，如平胃之類；有宜滲利者，如苓、澤之類，有宜通泄者，如車前、滑石之類；有宜清化者，如芩、連、梔、柏之類；以上皆專治濕邪之法。若與濕熱並合，則為濕溫，見證最繁且雜。其治法須隨機應變，初起有芳香化濕者，如胃苓、正氣之屬：而通宣三焦者，如三仁、滑石之屬：中焦熱重，有清泄陽明者，如蒼朮、石膏之屬；有苦泄太陰者，如茵陳、芩連之屬。總之，須細察見證，如濕重者，自當治濕：若伏邪重者，仍當以伏邪為主也。</p>
<h3>伏溫兼挾氣鬱痰飲食積瘀血以及胎產經帶諸宿病</h3>
<p>伏溫而兼挾外感者，則以新邪而引動伏氣為病。若伏溫而兼內傷者，則因內傷而留滯伏溫，不得爽達。治之不得其法，每有因此淹纏，致成壞證者。即如平時有氣鬱之病，則肝木不暢，絡氣鬱滯，溫邪竄入肝絡，即有胸板脅刺、咳逆等證。邪鬱不達，久而化火，即蒙冒厥陰而有昏痙之變。平日有痰飲內停者，抑遏溫邪，不得疏越，郁之即久，外冒之痰濁，尚未蒸開，而內藏之津液，早已干涸。一旦熱勢猝發，如烈火燎原不可措手者，亦往往有之。中宮先有食滯，或因病而積，為熱邪所燔，阻結於胃，劫爍胃津，此可攻之證也。須得大便通行，積去而熱邪乃隨之而解也。平時有瘀血在絡，或因病而有蓄血，溫熱之邪與之糾結，熱附血而愈覺纏綿，血得熱而愈形膠固。或早涼暮熱，或外涼內熱，或神呆不語，或妄見如狂，種種奇險之證，皆瘀熱所為。治之者，必須導去瘀血，俾熱邪隨瘀而下，庶幾病勢可轉危為安也。有胎前犯溫病者，熱邪燔灼，易於傷胎。治之者，除藍布冷泥護胎外，治法亦別無善法。只要眼明手快，認清病機，迎頭清泄，勿令邪熱留滯傷胎，便為得法。古法每於當用方中，加入四物，名曰護胎。如當用者，尚無大害；若不當用而用之，則滋膩滯邪，非徒無益，而反害之矣。產後血舍空虛，百脈俱弛，當此而溫病猝發，最易陷入血絡，急則為痙狂等險候，緩則留戀血室，燔灼營陰，延為陰損之候。治之者，須處處回護陰血，一面撤邪，一面養血，勿令熱邪深陷，乃為得手。至兼挾經帶為病，亦與胎產相似，不外虛則邪陷、實則瘀阻兩層。治之者，處處就此兩層著想，自然得法矣。</p>
