<header><h1>客塵醫話</h1></header>
<dl class="元資料" data-type="book">
<div><dt>作者</dt><dd>訐壽喬</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1644/1911">公元1644年至公元1911年</data></dd></div>
</dl>
<h2>序</h2>
<p>歲庚申，薄游西冷，賣藥葛仙嶺下，青山寂歷，丹灶空明，稚川有知，應亦笑人千古也。我友壽喬，幼耽繡虎，壯悔雕蟲，宏景之閣三層，雁湖之水一曲，常日攤書，有時倚棹，寄身於材不材間，寓巧於元之元外，惜盈盈三十裡，賞析為難，玉屑珠霏，空付停云落月中耳。</p>
<p>歲龠初更，嚶鳴綦切，爰偕二三舊雨，訪壽喬於一隅草堂，積雨新霽，空翠滿庭，延佇既久，皓魄漸升，乃斟桂醑，載啟瑤編，循環雒誦，沁入心脾，半生疑竇，一旦冰釋。嘻，幸已，憶予與壽喬交，迄今垂二十余年矣，屈指故人如雪泉石帆梨穀諸君子，悉皆化為異物，而計然七榮，沈約一圍，猶得鴻爪雪泥，一話當年陳跡，雖青青雙鬢，漸復成絲，亦可見吾兩人之長，　白木　朮尋苓，未始非人間世大自在法也。二月初吉，壽喬將官廣文，間云出岫，本自無心，而故山猿鶴，有待招尋。爰於諸公祖帳之時，聊將賤子題襟之意，他日者，春風桃李，收拾藥籠，當結束青鞋，與壽喬重問勾漏消息，未識三生一笑，果有舊因緣否也</p>
<p><u>嘉慶九年陬月二十有六日吳江同研弟沈　拜手跋</u></p>
<h2>卷一</h2>
<h3>雜症述略</h3>
<p>爛喉發　疹，近時甚多，在稚年不治者，十有八九。何也？其根由於種痘，近時嬰孩稟質既薄，痘師防其發點繁多，下苗甚輕，多者數十顆，少者不過數顆，而先天臟腑之毒，未經盡透。一遇時感傳染，乘機而發，治之以寒涼之劑，則必至下陷；治之以透表之劑，則又邪未達而本先撥，蘊伏咽喉，隨即潰爛而亡，其危可勝言哉！讀《金匱》書，有「陽毒之為病，面赤斑斑如錦紋，咽喉痛，吐膿血，五日可治，七日不可治，升麻鱉甲湯主之」之文，蓋以升麻透厲毒，鱉甲泄熱守神，當歸和血調營，甘草瀉火解毒，即《內經》所云：熱淫於內，治以鹹寒，佐以苦甘之旨。繹其意，實與此症相類，而方內有蜀椒、雄黃，似當加於陰毒方中，或因傳寫之訛，醫者當息心揣度，用古而不泥於古，轉機則在於臨症活變也。</p>
<p>李云浦云：爛喉痧一症，風熱者宜清透，濕熱者宜清滲，痰火凝結者宜消降。蓋邪達則痧透，痧透則爛自止，若過用寒涼，勢必內陷，其害不淺。但其證有可治有不可治，口中作臭者，謂之回陽，其色或淡黃，或深黃，此系痰火所致，皆可治也。如爛至小舌，鼻塞合眼朦朧，是毒瓦斯深伏，元氣日虛，色白如粉皮樣者，皆不可治也。</p>
<p>爛喉發　斑，半由於元虛不正，時邪易於感染，重者用紫背浮萍、生石膏等藥，透毒解熱；稍輕者，只宜用大力子、桑葉、杏仁、連翹、桔梗、荊芥、萆　、花粉，輕清之品，清邪化熱，不得早用大生地、麥冬等以膩之，亦斷不可用黃連、黃芩太苦大寒等品以遏。此等時證，其勢危速，須細心詳慎審脈察色，庶幾不致誤治也。</p>
<p>南人多溫熱病，而少真正傷寒，不可概從六經論治。蓋傷寒六日傳遍，多有變證，溫熱惟留戀一經，或傳入營分，從風從濕，必潛心細究，於舌色尤為先務。葉天士前輩《溫熱論治》數條，發前人所未發，最為切要，學人宜宗法焉。</p>
<p>邪之所湊，其氣必虛。故曰不能治其虛，焉問其余？然亦不可執也。強壯之人，思慮應酬之間，為淫邪賊風所乘，或自恃脾強，過啖甘肥炙　，釀成膠痰實火，亦宜發表攻裡，如河間推陳致新之法，有何不可。若因循顧忌，治不中肯，久則反傷正氣，所謂五虛死，五實亦死。又云：毋實實，毋虛虛是也。若不論虛實，動手便用補益，執扶正化邪之說，與膠柱而鼓者何異耶？瘧病無汗，要有汗固矣，至於有汗要無汗，亦不可不斟酌也。雖有虛實之不同，其根未有不因暑邪內藏，陰邪外束所致。暑為陽邪，陽邪多汗，故瘧往往有汗，豈可因其汗多，早加固表之藥，以致病情反覆。故古人但言久瘧扶正為主，未嘗言固表也。愚謂：汗少不妨更發汗，汗多不必再發汗，但以輕清和解，治之可也。衛屬陽，其氣　悍，故行速；營屬陰，其氣靜翕，故行遲。瘧邪之間，一日及連二日發者，邪之著於營也，如周天之數，日行過之，月行不及，亦是陰陽遲速之分耳。</p>
<p>治疫之法，解毒為先務。吳又可專用大黃驅逐毒穢，但近時之人，體氣多薄，攻蕩難施，莫若張路玉用人中黃配蔥、豉等解毒藥，為起首方。葉天士用銀花、金汁涼解之品，最為穩當。喻氏云：上焦如霧，升而逐之，佐以解毒；中焦如漚，疏而逐之，佐以解毒；下焦如瀆，決而逐之，佐以解毒。觀其旨，病有上中下之分，而獨於解毒一言，叮嚀再四，豈非急於解毒之法哉？疫者，穢惡之氣，互相傳染。吳氏謂：從口鼻而入，即踞膜原，但口鼻吸受，肺為出入之門戶，無有不先犯肺者。疫皆熱毒，肺金所畏，每見此症，身熱先有憎寒，肺先病也：繼而充斥三焦，或有逕走心包絡者，所謂厲氣，無非鬱熱也。至於疫邪漸解而肺蓄余熱。每多咳嗆肌熱自汗等證，亦所謂肺先病而未愈之明征也。今人每遇房勞遺泄之後，偶感風寒發熱，即謂之陰證，病者怕虛，醫者怕表，不問現症如何，竟用參、地、附、桂溫熱峻補之劑，是則先補實其風寒於腎中矣，邪何由出耶？夫所謂陰證者，寒邪中於三陰經也。即使中於腎經，亦須先散少陰之風寒，如《傷寒論》中少陰發熱，仍用麻黃、細辛發表之法是也。若果直中三陰，身不壯熱，有惡寒倦臥，厥冷喜熱等症，亦且先宜溫散，漸進滋補之法，此理不可不細辨也。</p>
<p>大概治膏粱者多滋養，治藜藿者多消散。然膏粱之體，易生痰積，由其多食濃味也，亦散；藜藿之人，易於清減，由其自奉淡薄也，亦宜滋養。所謂人情物理，不可執一以施。</p>
<p>病有在下者，其見證反在上，如蓄血發狂是矣。在上者反在下，如肺氣壅，大便頻；肺氣虛，小便數是矣；在表者反在裡，如三陽合病下利是矣。在裡者反在表，如熱深厥亦深，及面反戴陽是矣。治宜細察。</p>
<p>衛為陽，風為陽邪，中風者，陽虛不能衛外，以類相從也，故多顯陽熱之症。治宜求受病之本，毋徒事於風藥，以重虛其表。</p>
<p>《傷寒論》云：能食者為中風，不能食者為中寒，則傷寒內中風之症，未嘗禁其食也。</p>
<p>又云：欲飲水者，稍稍與之。蓋實火煩渴，得水則解，未嘗禁冷水也。乃醫者，凡遇此症，恐其傷胃，禁止勿與，是亦背先賢之在旨矣。</p>
<p>陰虛則陽無所附，氣有升無降，法當以滋陰藥為君，斂降之藥為佐。苟徒降其氣，則濁未必降，而清且隨虛矣。陽虛則氣中斷，氣有降無升，法當以補中藥為君，升舉之藥為佐，苟徒升其氣，則清未必升，而濁且隨干矣，此治陰陽之偏虛也。外此或七情逆滯，或氣血飲食痰阻，礙於中焦，妨其升降出入之路，其人元氣未虧，不妨升之降之也。此後天有形之氣血，調治之理，至若先天元陰元陽，則陰虛陽必薄，陽虛陰必乘；但當峻補，陰陽無暇為升降，標計也。</p>
<p>陽虛而見陽熱之症，是真火無根而脫出也；陰虛而見陽熱之症，是陰虛陽無所附而然也；陽盛而見陰寒之症，是陽盛拒陰也；陰盛而見陽熱之症，是陰盛格陽也。四者用藥不當，生死反掌。</p>
<p>腎者，胃之關。從陽則開，從陰則闔；陽太勝則開而為消，陰太勝則闔而為水，明矣。</p>
<p>仲景治水腫，主之以腎氣丸，而治消渴亦然，寧不與陽盛有乖乎？然而此之消，是腎中陽虛不能收攝也；此之渴，是腎中陰虛，引水自救也。喻氏謂腎水下趨，故消；腎氣不上騰，故渴。</p>
<p>均用此丸，蒸動腎氣，恐未必然。</p>
<p>咳嗽之症，大半由於火來克金，謂之賊邪，最難速愈。因風寒外襲，而內生實火，急宜瀉之；若失於提解，久之傳變生痰，誤服陰藥，反成癆瘵。如果系虛火，惟有壯水一法；但養陰之藥，又皆阻氣滯痰，是在治之者靈也。如生脈六君湯、金水六君煎之類，最為妥當。</p>
<p>腎虛水泛為痰，有腎中陽虛，腎中陰虛，陽虛津液洋洋泛溢，味淡起沫，治宜補氣以生陰，則上泛可降；陰虛咳唾痰涎，味鹹黏膩，治宜益水以潛陽，則咳唾可平，治不可雜也。</p>
<p>鼓膈為難治之病，然鼓猶可治，膈斷不可治。鼓多實證，或痰或血，或氣或食，或水凝結於中，能先下其滯，繼以補養腸胃，漸能運化矣。《內經》雞矢醴之方，即治法也。至臂細臍凸，青筋繞腹，手心及背平滿，此臟氣已絕，死不治。若膈證始由肝火犯胃，木來侮土，謂之賊邪。所以肝陰素虧，津液不足之體，嘔逆不止，久成噎膈，以至胃汁枯槁，痰涎壅塞，食不下達，仍復吐出。此病在賁門，固與反胃之證，朝食暮吐，暮食朝吐，病在幽門者，判然兩途。經云：穀入於胃，以傳於肺，五臟六腑，皆以受氣。今既食不能入，則臟腑之氣皆竭矣。故見此病，少可納穀，不出一年而死；全不納穀，不出半年而死。春得病死於秋，秋得病死於春，金水相克之時也。</p>
<p>心腎不足，小便混濁，中氣不足，溲便為之變色。要知金衰則水涸，水涸則小便短數而混濁；氣不足則易郁，郁則生熱，熱生則溺色變為黃赤矣，當求其本而治之。若徒執水液混濁，皆屬於火，概施利水清熱之品，必致反增其病。</p>
<p>香港腳之病，多由濕熱，因濁邪下先受之也。膏粱者，濕熱內生，藜藿者，濕熱外侵，治宜分利滲濕固也。若有陰虛之極，不能吸氣歸元；陽虛之極，不能攝血歸經，陰陽偏勝，升降失司，於是陽獨浮於上，陰獨沉於下，足至暮則腫痛矣。治又宜補陰益氣，不可概施分利滲濕，以重傷其陰陽。是在觀形察脈，以細求之。</p>
<p>有思慮傷脾，脾虛不能統血而失出者；有思慮傷脾，脾衰不能消穀而泄瀉者。失血斷不宜用涼血，泄瀉不宜用消導，以致脾氣愈傷，皆當扶養脾土為本，勿徒治其標。</p>
<p>《平脈》云：少陰脈不至，腎氣微少，精血奔，氣迫促，上入胸膈。夫少陰脈不至，是先天元陽元陰受傷。腎者，先天也；脾胃者，後天也。先天既已受傷，則不能生乎後天，故脾胃之陰陽亦傷，不能運化水穀而生濕熱；濕熱下流，則膀胱之氣化不行，濁氣因而上入。濁氣上入，肺氣便壅，脾氣愈滯，於是為痰為飲，而食滯腹脹之症形焉。其少陽生發之氣，鬱而不得升，為周身刺痛，為嘔逆吞酸；心主之陽為濁陰所乘，則為心悸怔忡。是腎之一臟腑，而五臟六腑，皆為之不寧，故養身莫妙於節欲也。若不知此，而但以利氣行痰消食為治，則燥以傷其陰，利以傷其陽，不坐困乎？此專主腎虛而言也。</p>
<p>諸痛無補，言氣逆滯也。然壯者，氣行則愈；怯者，著而成病。真氣虛乏之人，諸邪易於留著，著則逆，逆則痛。疏刷之中，不可無補養之品。徒事攻擊，則正愈虛，邪愈著而痛無休止也。所以脾胃亡液，焦燥如割，宜用地黃養陰等以潤之；脈陽澀陰弦，腹中急痛，當用小建中湯；肝血不足，兩脅脹滿，筋急不得太息，四肢厥冷，心腹引痛，目不明了，爪甲枯面青，宜補肝湯。腎虛羸怯之人，房勞過度，胸膈間多隱隱痛，此腎虛不能約氣，氣虛不能生血之故，往往凝滯而作痛，宜用破故紙、萸肉、枸杞等溫腎，歸、芍等養血。至於頭痛，有氣虛，有血虛，有腎虛，皆不可無補也。</p>
<p>風溫溫瘧之病，其根得之於冬令，中於風寒，遇溫而發，其氣自內而達於外，故多汗。</p>
<p>不比風邪外束，閉其營衛，當發汗解肌也。治故以發表為逆，亦不可因汗而斂之。致變別病，務以清解得宜。</p>
<p>吐血一證，繆氏云：治有三訣。宜行血不宜止血。血不循經絡者，氣逆上壅也，行血則使循經絡，不止自止；若用硬止之劑，血必凝，血凝則發熱惡食，病日痼矣。宜補肝不宜伐肝。</p>
<p>肝主藏血，吐者，肝失其職也，養肝則肝氣平而血有所歸；若使伐肝，則肝愈虛，血愈不止矣。宜降氣不宜降火。氣有餘便是火，氣降則火降，火降則氣不上升，血隨氣行，無溢出上竅之患矣；若使先降火，必用寒涼之劑，反傷胃氣，胃氣傷，則脾不能統，血愈不歸經矣。</p>
<p>吐血入水，浮者肺血，沉者肝血，半沉半浮者心血，色赤如太陽紅者腎血。肺血宜保肺，不宜瀉肺；肝血宜養肝，不宜伐肝；心血宜補心，不宜瀉心；腎血宜滋腎，不宜涼腎。若使久吐不止，血已大虛，當用溫補以健脾胃，使脾和則能裹血也。若暴吐不止，急用大劑參、朮，以急固元陽，血脫益氣，陽生陰長之理也。如一味以生地、苓、連、知、柏、黑梔，寒涼陰膩之屬清其火，則脾傷作瀉，發熱咳嗽，勢必至於不救矣。</p>
<p>幼科驚證，自喻氏以食、痰、風、驚四字立名，大剖從前之訛，原為確論，然亦有未盡者。</p>
<p>近多冬令氣暖失藏，入春寒溫間雜；小兒吸受其邪，先傷肺經，起自寒熱，氣粗久延，漸入包絡，雖有微汗，而痰多鼻煽，煩躁神昏，病家惶懼，輒云變為驚風。動用香開，妄投金石重鎮，以致陰液消亡，熱勢愈張，正不敵邪，肝風陡動，漸見肢牽目竄，痙閉發厥，必多傾敗。若能於病未猖獗之時，先以辛涼開肺，繼以甘寒化熱，佐以潤燥降痰，兩候自能平復。</p>
<p>此蓋溫邪陷入，陰液內耗而動肝風，實非驚恐致病也。若誤以驚藥治之，鮮有不危殆者矣。</p>
<p>《內經》云：臨病問所便。蓋病患之愛惡苦藥，即病情虛實寒熱之征，醫者之切脈望氣，不若問病患，使自言以推求其理為確。如身大熱而反欲飲熱，則假熱而真寒；身寒戰而反欲飲冷，則假寒而真熱，如此之類是也。所以病患之喜好，不妨從病患之便，即可以治其病。</p>
<p>病者之性情不同，醫者之意見各異，人有能受溫熱不能受寒涼者，有受補有不受補者，必須順其性，察其情。現症有與平素相反者，有與平素不相遠者，不可執己見誤治其標本也。</p>
<p>近時醫家，每用囫圇古方，硬引經語，以自矜淵博。殊不知古賢立方，與人以規矩不能使人巧。蓋規矩做方做圓之呆法，而作器長短大小，時時變通，所以病情古今無印板式樣，即方無一定呆藥，必須加減，寓變通於成法之中，斯神乎技矣！</p>
<h2>卷二</h2>
<h3>婦科述略</h3>
<p>治婦人病，必先明衝任之脈。衝脈起於氣街，（在毛際兩旁。）並少陰之經，挾臍上行至胸中而散。任脈起於中極之下，（臍下四寸）。以上毛際循腹裡上關元。又云：衝任脈皆起於胞中，上循背裡，為經脈之海，皆血之所從生，而胎之所有系。明於衝任之故，本原洞悉，不概治以男子泛用之藥，自能所治輒效矣。</p>
<p>肝氣之病，近時甚多，婦女為尤甚。即十余歲之童女，往往左脅下痞積脹滿嘔逆，此先天之肝血不足也。治以疏伐則劇，治以滋養則平，比比而然。況乎天癸久轉，生育頻多之婦人，其血愈虧，肝愈旺，上犯胃脘，下侵於足，甚至納食即吐，兩足攣痛，致發痙厥。此肝氣久痛，必入於絡，因血少不能流通，其氣必滯，非養血和絡，補水滋木，焉能療治。世人概以謂東方常實，有瀉無補，遂皆以肝無補法論治。殊不知肝氣之痛，大半屬於水虧木熾，所以逍遙散為治肝之始方，並無瀉伐之品，其中歸、芍補肝，白朮、甘草補中，加以柴胡、煨薑為疏通之用。氣平即繼以八珍湯調養之，則自然所發漸輕。若隨俗附和，任意用枳殼、香附、青皮、鬱金等破氣之藥，元氣日益消耗，陽衰則陰竭，禍不旋踵矣。景岳《質疑難》云肝無補法者，以肝氣之不可補，非謂肝血之不可補。補肝血莫如滋腎水，腎者木之母也，母旺則子強，是以當滋化源，此千古之良法也。夫將軍之官，其性剛勁，木火同居，風乘火勢，火助風威，母贊其勝，此言其氣實有餘也。若求其本，則乙癸同源，滋陰養血，尤為急矣。</p>
<p>婦人血結胞門，則上焦之陽不得入於陰，在下則小腹裡急，五液時下，在上則孤陽獨浮，為嗔怒發熱，口燥發厥。治法先宜開痹破陰結，不得一味滋膩，致成蟲滿。當看其虛實，用景岳《新陣》柴胡飲六方，柴陳煎、歸柴飲、解肝化肝煎等方，因病加減治之，較古方尤為靈動。</p>
<p>妊娠傷寒及溫熱症，最難措手，須辨舌胎，張誕先舌鑒六條，實為名論，治宜宗之。其一云：孕婦初傷於寒，見面赤舌上白滑，即當微汗之，以解其表。如面舌俱白，發熱多飲冷水，陽極變陰所致，當用溫中之藥。若見厥冷煩躁，誤與涼劑，則厥逆吐利而死。其二云：面赤舌黃，五六日裡症見，當微利之，庶免熱邪傷胎之患。若面舌俱黃，此失於發汗，濕熱入裡所致，當用清利水藥。其三云：面舌俱黑，水火相刑，不必問其月數，子母俱死，面赤舌微黑者，還當保胎。如見灰色，乃邪入子宮，其胎必不能固。若面赤者，根本未傷，當急下以救其母。其四云：妊娠傷寒溫熱，見面舌俱赤，宜隨症汗下，子母無虞，面色皎白而舌赤者，母氣素虛，當略用溫散法。若面黑舌赤，亦非吉兆。若在臨月，則子得生而母當殞。其五云：見面赤舌紫，其人必嗜飲，乃酒毒內傳所致。如淡紫戴青，為陰症夾食，難治也，即用枳實、理中、四逆輩，亦難為力。若面赤舌青，母雖無妨，子殞腹內，急宜用芎歸湯合平胃散，加朴硝下之，以救其母。其六云：面黑而舌乾卷短，或黃黑刺裂，乃裡症至急，不下則熱邪傷胎，下之危在頃刻。如無循衣撮空直視等證，十中可挽回一二，妊娠傷寒傷風，首宜固胎順氣，雖見脈緊無汗，不可用麻黃、青龍及一切解表猛劑，以風藥性升，皆犯胎氣也。</p>
<p>鄭虛穀曰：妊娠傷風，無論時月及月分多少，俱宜嚴氏紫蘇飲加蔥白為至穩。</p>
<p>古人用芩、朮安胎，是因子氣過熱不寧，故用黃芩苦寒以安之。脾為一身之津梁，主內外諸氣，而胎息運化之機，全賴脾土，故用白朮以助之。然惟形瘦血熱，營行過疾，而胎常上逼者宜之。至若形盛氣衰，胎常下墜者，非人參舉之不安；形盛氣實，胎常不運者，非香、砂耗之不安；血虛火旺，腹常急痛者，非芎、歸、地、芍養之不安；體肥痰盛嘔逆眩暈，非芩、半豁之不安。此皆治母之偏勝也，婦人墜胎與難產病之最險者也。治墜胎往往用補澀，治難產往往用攻下，皆非正法。蓋半產之故，由於虛滑者半，由於內熱者半，得胎之後，衝任之血，為胎所吸，無余血下行，血苟不足，則胎必枯槁而墜。其本由於內熱，火盛陽旺，而陰劫血益少矣。治宜養血為先，清熱次之，若泥於膩補，反生壅滯之害。至於產育，乃天地生生化育之理，本無危險，皆人之自作也。用力不可太早，早則胎先墜下。舒轉不及，胞漿先破，胎已枯澀，遂有橫生倒產之虞。其治亦不外乎養血為主，血生則胎自出，若誤用攻下之藥。則胎雖已產，衝任大傷，氣冒血崩，危在呼吸矣。慎之慎之。</p>
<h4>胎前論治</h4>
<p>孕婦元氣不足，倦怠腹鳴胎動，或微熱減食煩渴，宜服加味安胎飲。</p>
<p>人參（八分）　制白朮（一錢，炒）　白當歸（一錢五分炒）　砂仁（三分，炒研）　蘇葉（四分）　陳皮（四分，炒）　熟地（三錢，炒松）　淡子黃芩（八分）　炙草（二分）　麥冬（一錢）</p>
<p>孕婦或胃脘痛，肝脹小腹墜痛腰痛，皆名胎痛，治宜加味參橘飲。</p>
<p>人參（五分）　制白朮（一錢）　當歸（一錢五分）　製半夏（六分）　新會橘紅（六分，鹽水炒）藿梗（五分）　炙甘草（三分）　砂仁（三分）　白芍（一錢炒）　蘇梗（六分）　生薑（二分）</p>
<p>孕婦多怒，胸腹滿悶，宜服加減和氣安胎飲。</p>
<p>人參（四分）　白朮（七分，炒）　當歸（錢半）　川芎（五分，鹽水炒）　炙甘草（三分）　蘇葉（四分）　陳皮（五分）　青皮（四分，炒炭）　石決明（一錢五分，　）</p>
<p>孕婦面目虛浮，四肢有水氣，多因脾胃氣虛，或久瀉所致，宜健脾利水，服全生白朮散。</p>
<p>人參（四分）　茯苓（二錢）　生白朮（一錢五分）　淮山藥（二錢，炒）　扁豆（二錢）　澤瀉（五分，炒）　大腹皮（七分）　陳皮（七分，炒）　蘇葉（四分）　炙甘草（三分）</p>
<p>胎氣上攻，心腹脹滿，名曰子懸，宜服順氣安胎飲。</p>
<p>人參（五分）　白朮（八分）　當歸（一錢五分）　白芍（一錢二分炒）　條芩（八分炒）　蘇葉（四分）　陳皮（六分炒）　砂仁（三分研）　茯苓（一錢五分）　製香附（八分）</p>
<p>受胎後尚有經來數點，乃氣血盛也，若不腰酸腹痛，不必服藥。如下血不止，或按月下血，名曰胎漏。多因勞傷氣血，或喜飲炙　熱物，或因房事，宜服補中安胎飲。</p>
<p>人參（一錢）　淡黃芩（一錢）　阿膠（一錢，蛤粉炒珠）　白朮（一錢）　歸身（一錢五分，炒）　生地（二錢）　川斷（一錢）　蘇葉（四分）　白芍（一錢，炒）　炙甘草（三分）</p>
<p>孕婦跌仆傷胎，下血不止，宜服膠艾安胎飲。</p>
<p>阿膠（一錢，蛤粉炒）　艾葉（五分，醋炙）　人參（一錢）　白朮（一錢）　川芎（六分）　熟地（三錢，炒）　黃芩（一錢，酒炒）　當歸（一錢五分）　陳皮（五分，炒）　蘇葉（四分）</p>
<p>孕婦心驚膽怯，煩悶不安，名曰子煩，宜服竹葉安胎飲。</p>
<p>竹葉（十片）　人參（八分）　麥冬（一錢五分）　當歸（一錢五分）　生地（二錢）　棗仁（一錢五分，炒）　黃芩（八分，炒）　遠志肉（四分，甘草水炒焦）　川芎（四分）　炙甘草（二分）　陳皮（四分，炒）</p>
<p>孕婦脾虛氣弱，飲食停滯，嘔吐腹脹泄瀉，宜服加味人參平胃散。</p>
<p>人參（一錢）　茅蒼朮（七分，泔水浸炒炭）　厚朴（七分薑汁炒炭）　陳皮（四分）　炙甘草（三分）　白朮（八分炒）　山楂炭（七分）</p>
<p>孕婦成胎之後，兩足浮腫，漸至腿膝行步艱難，氣促喘悶，面浮不思飲食，甚至足指出黃水。蓋脾主四肢，脾氣虛弱，不能制水，肺腎少氣血滋養，名曰子氣，宜服天仙藤散。</p>
<p>天仙藤（七分，微炒）　香附（六分，制）　陳皮（五分，炒）　蘇葉（四分）　甘草（三分）</p>
<p>烏藥（六分）　木瓜（八分，炒）　薑皮（三分）　人參（五分）　白朮（一錢）　當歸（一錢五分）</p>
<p>如元虛脾胃弱，間服補中益氣湯。</p>
<p>孕婦口噤項強，手足攣縮，言語蹇澀，痰涎壅盛，人事不省，名曰子癇，不可作中風治，宜羚羊角散。</p>
<p>羚羊角（一錢）　棗仁（一錢，炒）　薏苡仁（一錢）　當歸（一錢五分）　獨活（八分）　茯神（一錢五分）　生甘草（四分）　五加皮（五分，酒炒）　川芎（六分）　防風（五分）　木香（二分）</p>
<p>苦杏仁（十粒，去皮尖）　薑汁（一滴）　竹瀝（一匙）</p>
<p>如體虛胃弱，加人參、白朮。</p>
<p>孕婦小便澀少，或成淋瀝，名曰子淋，宜服加味安榮湯。</p>
<p>人參（一錢）　當歸（一錢五分）　白朮（一錢）　麥冬（一錢五分）　茯苓（一錢五分）　通草（五分）　生甘草（五分）　燈草（五分）</p>
<p>原方有北細辛不可用。</p>
<p>孕婦小便帶血，宜清膀胱之火，治以加味逍遙散。</p>
<p>當歸（一錢五分）　白芍（一錢，炒）　柴胡（四分）　白朮（八分）　茯苓（一錢五分）　丹皮（一錢）　黑山梔（七分）　生甘草（三分）</p>
<p>或加生地二錢，麥冬錢半，亦妥。</p>
<p>孕婦小便癃閉，少腹脹滿欲死，徒利水無益也，當用加味葵子茯苓飲。</p>
<p>冬葵子（四錢）　茯苓（六錢）　歸身（一錢五分）　橘皮（四分）　人參（一錢五分）　麥冬（二錢）　大腹皮（七分）</p>
<p>孕婦臍腹脹痛，或小便淋閉，此脾胃氣虛，胎壓膀胱，宜服升提安胎飲。</p>
<p>人參（八分）　白朮（一錢二分）　熟地（二錢）　當歸（一錢五分）　川芎（六分）　製半夏（四分）　炙甘草（三分）　陳皮（四分，去白）　柴胡（四分）　升麻（四分，蜜炙）</p>
<p>如小便自利者，升、柴宜輕，人參宜重，如無血熱，宜加生黃地。</p>
<p>孕婦遍身浮腫，胸滿腹脹，便閉，名曰胎水不利，宜服鯉魚湯，合四君子湯。</p>
<p>白朮（一錢）　茯苓（四錢）　當歸（二錢）　白芍（一錢五分，炒）</p>
<p>用活鯉魚一尾，約重二斤，去鱗腸加橘皮錢許，生薑三片，河水煮取魚湯，加藥煎服，虛者加人參一錢，炙甘草四分。</p>
<p>孕婦感冒風寒咳嗽，宜服寧肺散。</p>
<p>麥冬（一錢）　知母（一錢）　桔梗（五分）　蘇葉（五分）　生甘草（五分）　杏仁（一錢，去皮尖）　橘紅（四分）　桑皮（八分）</p>
<p>如寒嗽加薑汁一匙，竹瀝一匙。熱嗽加黃芩一錢。虛嗽加紫菀一錢，川貝一錢。</p>
<p>若嗽不止，胎動不安，加人參一錢，天冬一錢，百合一錢五分，歸身一錢炒焦，白芍八分炒焦。</p>
<p>孕婦咳嗽吐血，宜服涼血安胎飲。</p>
<p>生地（三錢）　天冬（一錢）　紫菀（一錢）　知母（八分）</p>
<p>白朮（八分，蜜水炒）　麥冬（一錢）　歸身（一錢）　陳皮（四分，炒）　甘草（四分）　黃芩（四分）</p>
<p>孕婦霍亂吐瀉，心煩腹痛，先服六和湯，繼服安胎飲。</p>
<p>人參（一錢）　木瓜（八分，炒）　扁豆（三錢）　茯苓（一錢五分）　製半夏（五分）　砂仁（三分，研）　陳皮（六分，炒）　藿香（五分）　甘草（三分）　杏仁（錢半，去皮尖）　竹茹（六分）</p>
<p>生薑（一片）　大棗（二枚）</p>
<p>煎服。</p>
<p><u>安胎飲</u></p>
<p>蜜炙黃　（八分）　杜仲（二錢）　茯苓（一錢五分）　黃芩（一錢）　生白朮（八分）　阿膠（一錢）　川斷（一錢五分）　炙甘草（三分）　蘇葉（四分）　陳皮（六分）</p>
<p>加糯米百粒。</p>
<p>孕婦瘧疾往來寒熱，宜服六和安胎飲。</p>
<p>人參（五分）　白朮（八分）　歸身（一錢五分）　川芎（四分）　條芩（八分，炒）　製半夏（五分）　藿香（六分）　蘇葉（四分）　茯苓（一錢五分）　砂仁（二分）</p>
<p>重者，加柴胡三四分。</p>
<p>孕婦壅熱，心神煩躁，口渴舌乾，或舌苔黃黑，宜加減參麥散。</p>
<p>人參（五分）　廣皮（四分）　歸身（一錢，鹽水炒）　知母（一錢）　條芩（八分，炒）　麥冬（一錢五分）　石斛（二錢）</p>
<p>孕婦熱病斑疹紫赤，小便短赤，氣急欲絕，腹痛胎欲落之象，症雖危險，宜服梔蔥豉湯以救之。</p>
<p>黑山梔（一錢）　黃芩（一錢）　升麻（四分）　青黛（五分）　鮮生地（二錢）　淡豆豉（四十九粒）　杏仁（十粒，去皮尖）　石膏（一錢五分）　蔥白（七寸）</p>
<p>孕婦嘔吐不食，胸中煩躁，宜生津葛根湯。</p>
<p>人參（五分）　麥冬（一錢）　梔子（八分，炒黑）　知母（八分）　葛根（七分，煨）　竹茹（六分）　蘆根（二錢）　蔥白（二寸）</p>
<p>孕婦吐血衄血，忽然口噤項強背直，皆失血所致，非類中風也。宜加減安胎飲。</p>
<p>人參（一錢）　當歸（一錢五分，炒）　白朮（一錢）　大生地（二錢）　條芩（八分）　純鉤藤鉤（二錢）　荊芥（四分，炒黑）　陳皮（四分，炒）　甘草（三分）　麥冬（一錢，去心）</p>
<p>孕婦每三月殞胎，是肝虛血不能養胎也。宜人參阿膠湯，預先服之。</p>
<p>人參（一錢）　阿膠（一錢五分，蛤粉炒珠）　當歸（一錢五分，水炒）　川芎（四分）　白芍（一錢二分，炒）　桑寄生（一錢二分）</p>
<p>孕婦傷胎，胎死腹中，口噤昏沉，腹中脹痛，血上衝心，急宜服佛手散。</p>
<p>當歸（六錢）　川芎（三錢）</p>
<p>水七分，酒三分，煎服數劑。</p>
<p>臨產交骨不開，及橫生倒產，宜急服加味芎歸湯。</p>
<p>當歸（一兩）　川芎（四錢）　敗龜板（一具，陳酒炙捶碎）　婦人頭發（如雞子大一團，洗淨瓦上炙灰存性）</p>
<p>如久而虛欲脫者，加人參、熟地、牛膝，酌量用之，開支河之法也。</p>
<p>二寶湯方全白當歸（一錢五分）　川芎（八分）　羌活（三分）　厚朴（五分，薑汁炒）　荊芥穗（七分）</p>
<p>菟絲餅（一錢五分）　陳枳殼（五分，去穰麩炒）　生黃　（八分）　川貝（一錢，去心）　白芍（一錢，酒炒）　甘草（四分）　蘄艾（五分，醋炒炭）　薑（一片）</p>
<p>一方，羌活、厚朴，換蘇葉、藿香。</p>
<p>此方專治一切胎症未產，能安胎，臨產能催生，懷孕五月後，腰痛腹痛，服之即愈。分娩時交骨不開，橫生逆產，或子死腹中，服之能下。懷妊五月後，每月服二三劑，臨盆容易，子母俱全，故名二寶湯。異人傳下，不可輕忽視之。</p>
<h2>卷三</h2>
<h3>產後述略</h3>
<p>婦人之病，莫重於產後，因氣血大虧，內而七情，外而六氣，稍有感觸，即足致病。且多疑似之症，毋徒以逐瘀為事，以致變端百出。讀《金匱》書中，有用大黃等峻劑者，非古人立法之不善也，蓋以古時稟氣之足，或西北地土堅濃，人亦強壯，用之良善。至於吾地，體質柔弱，深閨嬌養，豈能受此侵克，此看病之不可泥於古也。時人每謂產後不可補，恐其瘀阻，往往用蘇木、紅花等，行瘀為先務。設或血行不止，立見厥脫，急難措手，可不懼哉。丹溪云：產後以大補氣血為主，雖有他症以末治之。王肯堂云：產後用下藥者，百無一生。誠哉是言也。</p>
<p>《金匱要略》云：新產婦人有三病：一病痙，二病鬱冒，三病大便難。新產血虛，多汗出，善中風，故令病痙；亡血復汗，寒多故令鬱冒；亡津液胃燥，故大便難。《心典》云：血虛汗出，筋脈失養，風入而益其勁，此筋病也。亡陰血虛，陽氣逆厥，而寒復郁之，則頭眩而目瞀，此神病也。胃藏津液，而滲灌諸陽，亡津液胃燥，則大腸失其潤，而大便難，此液病也。三者不同，其為亡血傷津則一，故產後血虛諸症，由此而類推之。則不致誤治矣。</p>
<p>產後諸病，總宜以生化湯為主，隨症加味可也。《竹林寺世傳秘本》生化湯論云：產後血氣暴虛，理當大補，但惡露未盡，用補須知毋滯。血能化，又能生，無損元虛，行中帶補，方為萬全。世以回生丹，治以下胞胎，攻血塊，雖見速效，未免虧損元氣，非良劑也。不得已而用之，只可服一丸，以參湯下之，庶無虞耳。夫生化湯以藥性功用而立名也，夫產後瘀固當消，新血宜生，若專消則新血不寧，專生則舊血反滯。考藥性芎、歸、桃仁，善破惡血，驟生新血，佐以炮薑、甘草，引三品入肺肝，生血理氣，五味共方，則行中有補，化中有生，實產後之要藥也。加減得宜，是在臨證者之善悟可耳。又論產後治法云：夫產後憂驚勞倦，血氣暴虛諸症，乘虛易起，如有氣勿專耗散，有食勿專消導，熱不可用芩、連，寒不可用桂、附。用寒則血塊停結，用熱則新血崩流。至若虛中外感，見三陽表症似可汗也，在產後而用麻黃，則重竭其陽。見三陰裡症似可下也，在產後而用承氣，則重亡其陰。耳聾脅痛，乃肝腎惡血之停，休用柴胡。譫語汗出，乃元弱似邪之症，毋同胃實。厥由陽氣血衰，無分寒弱，非大補不能回陽而起弱。痹因陰血之虧，不論剛柔，非滋榮不能舒筋而活絡。乍寒乍熱，發作有期，類瘧也。若以瘧治，則遷延難愈，神不守舍，言語無倫，似邪也。若以邪論，危亡可待。去血多而大便燥結，蓯蓉可加於生化湯中，非潤腸承氣之為患，汗多而小溲短澀，六君子倍多參、　，必生津助液之可利。加參生化頻服，能救垂絕之危，長生活絡能用，可蘇絕穀之人。頹疝脫肛多是氣虛下陷，生化可參用補中益氣。口噤拳攣，乃因血燥類瘋，加參生化宜服。產戶入風而痛甚，服宜羌活養榮。玉門寒冷而不閉，洗宜床、菟、萸、硫。類怔忡驚悸，生化加定志之品。似邪恍惚，生化加安神之法。因氣而虛煩滿悶，生化加木香為佐。因食而酸噯惡食，合六君加神麯、麥芽為良。不可用蘇木、　蓬以破血，不可用枳實、青皮以消脹。血崩血暈之危，汗脫氣脫之急，連煎加參生化湯為最要務也。王太仆云：治下補下，制以緩急，緩則道路遠而力微，急則氣味濃而力重。丹溪云：產後切不可發表。</p>
<p>故治產固本，當遵丹溪；服法宜效太仆。</p>
<p><u>生化湯原方</u></p>
<p>（分兩斟酌在臨用變通也）</p>
<p>川芎（二錢）　白當歸（四錢）　炙甘草（五分）　炒黑乾薑（四分）　單桃仁（十粒，去皮尖）</p>
<p>水二盅，陳酒半小杯，沖服。</p>
<p>產後血暈，因勞倦去血過多氣竭神昏而暈。不可誤認為惡血衝心，投散血之劑；不可誤認為痰火鬱冒，用消降之方，宜服加味生化湯。</p>
<p>歸身（三錢）　川芎（一錢五分）　炮薑（四分）　桃仁（十粒，去皮尖）　炙草（四分）　荊芥炭（五分）</p>
<p>如汗多加人參一錢。</p>
<p>產後厥逆，因勞傷脾，孤臟不能注於四旁，故足冷而厥氣上行。經云：陽氣衰於下，則為寒厥是也。宜加參生化湯、滋榮復神湯。</p>
<p><u>加參生化湯</u></p>
<p>人參（一錢）　川芎（一錢五分）　歸身（四錢）　桃仁（十粒）　炙甘草（五分）　炮薑（五分）</p>
<p>橘紅（四分，鹽水炒）</p>
<p><u>滋榮復神湯</u></p>
<p>川芎（一錢）　白朮（一錢制）　黃　（二錢，炙）　人參（一錢五分）　當歸（三錢）　熟地（三錢，炒）　麥冬（一錢）　炙甘草（三分）　五味子（十粒）　茯神（二錢）　熟附子（四分）　陳皮（四分，炒）</p>
<p>如大便不通加蓯蓉一錢五分。</p>
<p>產後血崩如紫色有塊，是敗血未盡，當用原方生化湯，加澤蘭葉一錢五分。如血鮮紅色大來，或因驚傷心，怒傷肝，勞腸脾，血則不能主，不能藏，不能統，陰絡大傷矣，症甚急，當用升舉生化湯。</p>
<p>人參（一錢五分）　制白朮（一錢五分）　歸身（二錢，炒焦）　炙黃　（一錢）　熟地炭（三錢）</p>
<p>荊芥炭（四分）　陳皮（四分，炒）　升麻（三分，蜜炙）　白芷（三分，炒炭）　川芎（六分，鹽水炒焦）　淡附子（二分）　炙甘草（四分）</p>
<p>如汗多加淮小麥四錢焙。</p>
<p>產後氣短似喘，因血既暴去，氣必上竄，脾失健運，不能上輸於肺，所以呼吸短促，言語不相接續，急服加參生化湯、續氣養榮湯。若認為痰火，而妄議散氣化痰之方，誤事多矣。</p>
<p><u>續氣養榮湯</u></p>
<p>歸身（四錢）　川芎（一錢）　炙甘草（四分）　炮薑（四分）　人參（一錢五分）　炙黃　（一錢）　制白朮（一錢）　熟地炭（三錢）　陳皮（四分，炒）</p>
<p>如煩渴加麥冬一錢五分，五味子十粒炒；如大便閉加淡蓯蓉二錢；傷食加神麯八分炒，楂炭一錢，砂仁三分；汗多加浮小麥四錢炒；如手足冷加淡附子三分。</p>
<p>產後妄言妄見，由氣血兩虛，魂魄無依也。不可誤認為邪祟，噴以符水，驚以法尺，多致不救。丹溪云：虛病似邪祟是也。又云：欲泄其邪，當補其虛。宜服安神定志生化湯。</p>
<p>棗仁（一錢五分，炒熟）　遠志（四分，炒）　柏子仁（一錢五分，勿研）　麥冬（一錢五分，炒）歸身（三錢）　川芎（一錢）　桃仁（七粒，去皮尖）　炙甘草（四分）　炮薑炭（四分）　人參（五分）　加龍眼肉（五個）</p>
<p>產後去血過多，防血脫；氣短如喘，防氣脫；汗多妄言妄見，防神脫。雖有血陰氣陽之分，而精散魂去之促無異，若非濃藥急方，濃煎頻服，奚能有救？宜服大補生化湯。</p>
<p>人參（一錢五分）　熟地（四錢）　炙黃　（一錢五分）　淡附子（三分）　五味子（十粒）　制冬術（一錢）　麥冬（一錢五分）　白桃仁（八粒）　歸身（三錢）　川芎（八分）　炮薑（四分）　炙甘草（三分）</p>
<p>產後傷食，因形體勞倦，脾胃俱虛，不思食而強與之，胃雖勉受，脾難轉運，食停痞滿，噯腐吞酸，必須健脾助胃，加以輕品消導之藥，則食化脹平。斷不可用峻劑消之，致傷元氣，宜服健脾消食生化湯。</p>
<p>歸身（三錢）　川芎（一錢）　焦白朮（一錢）　焦神麯（一錢）　焦麥芽（一錢）　陳皮（五分，炒）　炙甘草（四分）</p>
<p>如傷肉食加焦山楂一錢，砂仁四分，或以絹包炒熟麩皮，加芒硝少許，揉熨更穩。</p>
<p>產後因忿怒氣逆，胸痞不舒，宜用木香生化湯。</p>
<p>煨木香（二分）　歸身（三錢）　川芎（一錢）　炮薑（四分）　陳皮（四分，炒）</p>
<p>產後類瘧，寒熱往來，應期而發，此元虛而外邪易侵，不可作泛常瘧治。有汗宜用滋榮扶正化邪生化湯；無汗頭痛，加減養胃湯。</p>
<p>歸身（三錢）　川芎（一錢）　人參（一錢）　炙甘草（四分）　麥冬（一錢五分）　陳皮（四分，炒）　炙黃　（八分）　藿香（三分）　荊芥炭（六分）　生薑（四分）</p>
<p>河井水煎服。</p>
<p><u>加減養胃湯</u></p>
<p>當歸（三錢）　川芎（一錢二分）　藿香梗（四分）　炙甘草（四分）　人參（一錢）　焦白朮（一錢）　茯苓（一錢五分）　製半夏（八分）　橘皮（四分）　薑皮（二分）　酒炒柴胡（三分）</p>
<p>產後七日，內外發頭痛，惡寒類太陽症；潮熱自汗，大便不通，類陽明症；往來寒熱，口苦脅痛，類少陽症，皆由氣血兩虛，陰陽不和，類外感傷寒治者，慎勿輕產而重傷寒，以麻黃柴胡等湯治之也。蓋產婦血脫之後，而重發汗，虛虛之禍，不可勝言。仲景有云：亡血家不可發汗。丹溪云：產後切不可發表。古賢立說，皆具至理，即使真感傷寒，生化湯內芎、薑亦能散邪。且《內經》云：西北之氣，散而寒之；東南之氣，溫而收之。即病同而治亦異。</p>
<p>至如產後屬虛，無分南北，當於溫補中少佐辛散可也，宜祛邪生化湯。</p>
<p>歸身（三錢）　川芎（一錢五分）　炙甘草（四分）　炮薑（四分）　羌活（四分）　桃仁（十粒，去皮尖）　防風（四分）　蔥白（七寸）</p>
<p>如虛者加人參五分。</p>
<p>產後頭痛，口燥咽乾而渴，類少陰症；腹痛液干，大便實，類太陰症；汗出譫語，便閉痙厥，類厥陰症。多由勞倦傷脾，運化稽遲，氣血枯竭，腸腑燥涸，乃虛證類實，承氣諸湯斷不可施，宜養正通幽湯。</p>
<p>當歸（四錢）　川芎（一錢五分）　炙甘草（四分）　陳皮（四分）　桃仁（十粒，去皮尖）　肉蓯蓉（一錢）　麻仁（一錢）</p>
<p>如汗多加人參一錢，黃　一錢；口渴加人參一錢，麥冬一錢五分；腹滿液干加人參一錢，大腹皮一錢；汗出譫語便閉加人參一錢，熟棗仁二錢，柏子仁二錢，茯神二錢，遠志肉四分，麥冬一錢五分。</p>
<p>產後血氣暴竭，百骸無以涵濡，卒爾口噤，牙關緊閉，手足攣急，症類中風，不可任用中風劑也。蓋沖為血脈之海，血脈空虛，關節不能流利。治當先服生化湯，以生旺新血，如危極，即服滋榮活絡湯救之。</p>
<p>熟地（三錢）　人參（一錢）　炙黃　（一錢）　歸身（四錢）　川芎（一錢）　茯神（一錢五分）</p>
<p>天麻（六分，煨）　麥冬（一錢）　荊芥（四分）　防風（四分）　羌活（三分）　陳皮（四分）　炙甘草（四分）</p>
<p>如有痰加製半夏一錢，薑汁一匙，竹瀝一匙；有食加山楂炭一錢五分，焦神麯一錢；大便閉加柏子仁二錢，蓯蓉一錢五分；驚悸加熟棗仁二錢；言語恍惚，加遠志肉四分炒，石菖蒲四分炒，棗仁二錢炒。</p>
<p>產後汗出不止，亡陽之征也。蓋汗為心之液，又腎十五液，血去而心腎大虧，必須急補心腎。益榮衛而噓血歸源，則汗自止。宜補陽益陰生化湯以救之。</p>
<p>人參（一錢五分）　熟地（三錢，炒）　炙黃　（二錢）　炙甘草（四分）　歸身（三錢）　川芎（一錢）　炮薑（四分）　牡蠣（二錢）　制白朮（一錢）　桃仁（六粒，去皮尖）　浮小麥（一撮）</p>
<p>如渴加麥冬一錢五分，五味子十粒。</p>
<p>產後舌燥口渴，兼小便不利，由產後失血，或汗多所致。治當助脾益肺，調養氣血，則津液生而小便自利矣。斷不可用芩、連、知、柏以降之，五苓等劑以通之，宜服生津止渴益水散。</p>
<p>炙黃　（一錢五分）　人參（一錢五分）　熟地（三錢，炒）　五味子（十粒）　麥冬（二錢）</p>
<p>歸身（三錢）　川芎（一錢）　茯苓（一錢五分）　生甘草（三分）　炙升麻（三分）</p>
<p>產後小便不禁，是氣血虛不能收攝腎氣，宜加味生化湯。</p>
<p>鹽水炒益智仁（四分）　牡蠣（三錢）　北五味（十粒）　歸身（二錢）　炙黃　（一錢）　川芎（一錢）　桃仁（十粒，去皮尖）　炮薑（四分）　熟地（三錢）　覆盆子（八分）　菟絲子（一錢，炒）炙甘草（四分）</p>
<p>產後泄瀉，非雜症餐泄洞瀉，水穀下注之比，大率氣血虛，易於食積傷濕所致，宜消補兼施，加味參苓生化湯。</p>
<p>白朮（一錢土炒）　人參（一錢）　茯苓（二錢）　川芎（一錢）　當歸（二錢，土炒）　炮薑（四分）　炙甘草（四分）　焦神麯（五分）　焦麥芽（八分）　廣皮（四分）　澤蘭（一錢）</p>
<p>如有寒加生薑一片，大棗二枚；如熱去炮薑加金石斛三錢；如痛加煨木香四分；如至五更而甚者，加煨肉果四分。</p>
<p>產後完穀不化，因勞倦傷脾，而轉輸稽遲也。又有飲食太過，脾胃受傷，當血塊未散之時，患此脾敗胃弱之症，宜先服香砂生化湯，繼服加味參苓白朮散，乃可無虞。</p>
<p><u>香砂生化湯</u></p>
<p>砂仁（三分，炒研）　益智仁（三分，炒）　歸身（三錢，土炒焦）　川芎（一錢）　炙甘草（四分）　炮薑炭（四分）　澤蘭（一錢五分）　焦鍋粑（五錢）</p>
<p><u>加味參苓白朮散</u></p>
<p>人參（一錢）　白朮（一錢五分，土炒）　茯苓（二錢）　歸身（三錢，土炒）　川芎（一錢）</p>
<p>炮薑（四分）　炙甘草（四分）　益智仁（三分，炒）　澤蘭（一錢五分）　白芍藥（八分，酒炒炭）　廣皮（四分，炒）　煨木香（二分）</p>
<p>產後患赤白痢疾，後重頻並，最為難治。須行不損元，補不助邪，惟生化湯去炮薑，加木香、茯苓，則可以並治而不悖也。後立數條，斟酌用之。</p>
<p>一產痢黃色，乃脾土真氣虛，宜服加味補中益氣湯，加煨木香四分，煨肉果四分。</p>
<p>一久痢元氣下陷，肛門如脫，宜服六君子湯，加木香四分，煨肉果四分，乾薑四分炒，歸身三錢土炒，升麻三分。</p>
<p>一久痢四肢浮腫，宜四君子加木香四分，五加皮四分，歸身二錢土炒。</p>
<p>一產痢臍下急痛，生化東加木香四分，大腹皮六分，白朮一錢土炒。</p>
<p>一產痢嘔吐，生化東加廣藿香五分，製半夏五分，焦白朮一錢，陳皮四分。</p>
<p>一產痢小便短澀，生化東加茯苓二錢，木香三分，人參四分，澤瀉一錢。</p>
<p>一產後血痢過多，日久不止，血分虛也，宜四物湯，加人參一錢，荊芥炭五分，淮山藥三錢，白朮八分。</p>
<p>產後膨脹，皆因中虛傷食多氣瘀積所致也。中虛，宜加參生化湯，內加陳皮五分；多氣，生化湯內加川鬱金五分，砂仁三分炒研；傷食，生化湯內加白朮炭六分，焦麥芽八分；焦神麯八分。瘀積，生化湯內加沙糖、炒山楂一錢五分，新絳一錢五分，陳皮四分。以上四症，如虛必須人參，隨機酌用。</p>
<p>產後霍亂因血虛，陰陽升降不順，清濁亂於腸胃，冷熱不調，邪正相搏，遂上吐下瀉，宜生化六和湯。</p>
<p>川芎（一錢）　歸身（三錢）　炮薑（三分）　炙甘草（三分）　茯苓（一錢五分）　砂仁（四分）</p>
<p>陳皮（四分）　藿香（五分）</p>
<p>如手足厥冷無塊痛者，加人參一錢，白朮一錢，淡附子三分。</p>
<p>產後嘔逆不食，人之胃腑為水穀之海，水穀之精，化而為氣血，榮潤臟腑。產後空虛，寒邪易乘，入於腸胃，則氣逆嘔惡而不食也。初宜生化東加砂仁，治七日後，始用溫胃丁香散。</p>
<p>歸身（二錢）　白朮（一錢）　乾薑（三分）　丁香（二分）　人參（一錢）　陳皮（五分）　炙甘草（四分）　半夏曲（五四炒）　藿香（四分）</p>
<p>產後水腫，肢體俱浮，皮膚光澤，乃脾虛不能制水，腎虛不能行水，宜實脾飲、香砂六君子湯、金匱腎氣丸、濟生腎氣丸，因證擇用，斷不可用破滯行水之藥。丹溪治產後誤服消導藥，以致水腫方。</p>
<p>人參（二錢）　白朮（二錢）　歸身（三錢）　木通（六分）　白芍（一錢，炒焦）　茯苓（二錢）</p>
<p>澤瀉（一錢，炒）　厚朴（五分，炒）　蘇葉（四分）　陳皮（五錢）　木香（四分）　大腹皮（六分）</p>
<p>萊菔子（六分，炒）</p>
<p><u>又加味五皮飲</u></p>
<p>五加皮（四分）　地骨皮（六分）　大腹皮（六分）　茯苓皮（三錢）　生薑皮（三分）　加人參（一錢）　歸身（二錢）　白朮皮（一錢）　陳皮（四分）</p>
<p>產後驚悸怔忡，因驚憂勞倦，去血過多，惟宜補養心血，調和脾胃，病自漸安。後列二方。</p>
<p><u>加減養榮湯</u></p>
<p>人參（一錢五分）　歸身（三錢）　川芎（一錢）　茯苓（二錢）　熟棗仁（二錢）　麥冬（一錢五分）</p>
<p>遠志（四分炒）　炙黃　（一錢）　白朮（一錢）　陳皮（四分）　炙甘草（四分）　龍眼肉（一錢）</p>
<p>如虛煩加竹茹八分薑汁炒，有痰竹瀝三匙，薑汁一匙。</p>
<p><u>養心湯</u></p>
<p>黃　（一錢，炙）　茯神（一錢五分）　歸身（二錢）　川芎（八分）　麥冬（一錢，去心）　遠志（四分）　棗仁（一錢五分，炒研）　柏子仁（一錢五分，勿研）　五味子（十粒，炒）　人參（一錢）炙甘草（四分）</p>
<p>產後骨蒸，乃陰虛生內熱也，宜保真東加減治之。</p>
<p>人參（一錢）　白朮（一錢）　茯苓（二錢）　知母（一錢，炒炭）　生地（二錢，炒炭）　熟地（二錢，炒炭）　麥冬（一錢）　白芍（一錢，炒焦）　枸杞子（一錢）　川芎（一錢）　五味子（十粒）</p>
<p>甘草（四分）</p>
<p>此方繁多，須臨病斟酌加減用。</p>
<p>產後胃脘痛，因血虛肝氣上犯；或由風冷乘虛襲入，皆宜生化湯，加泡淡吳茱萸三分，陳皮四分。如遍身疼痛，宜服趁痛散。</p>
<p>歸身（三錢）　炙黃　（一錢）　白朮（一錢）　牛膝炭（八分）　上肉桂（二分）　獨活（四分）</p>
<p>薤白（四分）　炙甘草（四分）</p>
<p>如痛喜手按，屬大虛，加熟地三錢，川斷一錢五分酒炒。如少腹結痛加川芎一錢延胡七分酒炒。</p>
<p>產後感冒風寒傷冷，腰痛不能轉側，宜服養榮壯腎湯。</p>
<p>當歸（二錢）　獨活（四分）　桂心（四分）　川芎（一錢）　杜仲（三錢）　防風（四分）　川斷（一錢五分）　桑寄生（一錢五分，酒炒）　生薑（三分）</p>
<p>如虛加熟地三錢。</p>
<p>產後血塊已消，腹中空痛不止，宜服交加地黃湯。</p>
<p>人參（一錢）　當歸（三錢）　川芎（一錢）　白芍炭（八分）　煨木香（三分）　沒藥（四分）</p>
<p>製香附（四分）　熟地炭（三錢）　煨薑（三分）　大棗（一枚）</p>
<p>產後或敗血，或濕痰，乘虛流注，宜服參歸生化湯。</p>
<p>人參（一錢）　馬蹄香（一錢）　當歸（三錢）　川芎（一錢五分）　生甘草（四分）　炙黃　（一錢五分）　肉桂（四分）　茯苓（二錢）</p>
<p>以上產後論治數條，雖未能全備症情，而遍考方書，摘取純正，試之輒效，刊以質之同人，未必無小補耳。予凡看胎產諸症，已二十余年，遇大險大危之候，竟得十中挽回七八者，皆以用補得宜，不隨世俗以治標逐瘀為先務也。壽喬識</p>
