<header><h1>外治壽世方</h1></header>
<dl class="元資料" data-type="book">
<div><dt>作者</dt><dd>鄒存檢</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1644/1911">公元1644年至公元1911年</data></dd></div>
</dl>
<h2>序</h2>
<p>醫家論議。層出不窮。此是彼非。終無一定。要之時有升降。地有南北。非可執一論也。</p>
<p>昔志之之則惟外治之法。庶可以救服食之窮。其法治之而效。固無論矣。即或不效。究與服食者有間。錢塘吳先生(師機)所著理鑰駢文。專論外治。為醫家別開生面。其文洋洋洒洒八千余言。</p>
<p>細密工整。固已無微不格。然中人以下。或有未知。(淦)不揣愚陋。師其意不尚其文。采輯各方。略分門類。名之日壽世初編。刊以行世。所愿宏開壽域。各臻期頤。使世無不可外治之症。而見不必服藥之功效。其所益不已多乎。</p>
<p><u>時光緒三年丁丑余月之吉海寧鄒存淦儷笙氏自識。</u></p>
<h2>凡例</h2>
<p>一是編所輯諸方。無一杜撰。皆從前人醫書雜著中采錄。因輾轉引用。非由原書。故概不注一是編所采。皆系外治。凡是服食之方。理宜刪節。然內中間有兼須飲灌者。亦未便顧此失一近人立方。每以人參為滋補要藥。殊不知價重兼金。有力者固視若恆品。無力之家。</p>
<p>即參恐有一年高之人閱歷既多。性情自異。每遇疾痛。往往執不藥中醫之說。置之不理。使外治得行一小兒腸胃柔脆。攻伐之劑。本難輕投。及知識漸開。又皆畏於藥味。十九未能下咽。</p>
<p>外治一痘　為幼科切要。諸家多不經意。且有毒劣之方。用以施治。令其暗損真元。顯促年壽一外治莫多於瘡瘍。是編雖注意內科。而所選無多。外科居十之六。(後復刪去其一二)其疔一通都大邑。名醫麇集之區。有疾延醫服藥甚便。即有良方。每每棄而不視。然亦有無力延伺候一窮鄉僻壤。醫家鮮少。每遇疾病。常自隱忍。即或宣露於人。其症候或難辨識。服食之方一古方所稱　咀者。稱畢細切也。方寸七者。正方一寸。散子以不落為度。刀圭者。如梧桐一轉輾傳抄。不無承訛襲謬之病。(予)本不知醫。未敢僭改。故於錄成之日。乞新安胡君謙出郵一是編限於刊資。搜輯無多。凡諸症候。或有未備。倘行之有效。自當廣為勸募。再以二編呈教。</p>
<h2>卷一</h2>
<h3>傷寒</h3>
<h4>點眼角法</h4>
<p>粉甘草(六分)頂上梅花冰片(四分)共研極細末。凡病起一日至六日。用此藥點眼分男左女右。出汗即愈。如過七日。不論男女兩眼並點。神效。</p>
<h4>蔥薑熨法</h4>
<p>治傷寒胸膈不寬作痛。一切寒結。熱結。食結。痰結。痞結。水結。等症。並中不堪攻擊者。以此法熨之。則滯行邪散。其效如神。</p>
<p>連須蔥頭一大把。老生薑二大塊。生蘿卜四五個。(如無以蘿卜子一合代之)三味共搗爛炒熟如數</p>
<h4>蔥熨法</h4>
<p>寒中三陰。口噤失音。四肢強直。攣急疼痛。兩手無脈。似乎中風者。或厥逆唇青子腎囊縮入。婦人乳頭縮入。或男婦交合後氣絕等症。俱用蔥白(一斤)微搗炒熱。分換。熨肚臍下久久。俟暖氣透入自愈。並以蔥白三寸搗爛。酒煎灌之。陽氣即回。此急方也。或用罐裝熱火。或裝滾水。放炒熱蔥上熨之更妙。病重者更以艾丸如豆大。</p>
<p>穴。(臍下一寸五分)。關元穴(臍下三寸)各七次。則脈漸現。手足漸溫。可得生矣。</p>
<h4>紫蘇熨法</h4>
<p>傷寒內傷積食蓄血。小腹硬脹。大小便不通。不能言語。神思欲脫。兩目直視。手直。證候危篤。難以下藥者。用紫蘇(半斤)煎濃湯。將大手巾折數層。蘸透熱絞略干。</p>
<p>攤病患肚上至臍以下。用手在巾上旋摩。冷則再換。如此數次。候暖氣透入。其一切宿塊積血自下。其效如神。如肛門秘結不通。須以蜜糖和豬膽。熬煉成條。插入糞門。導通。但積糞須用藥調理。</p>
<h4>阮河南蒸法</h4>
<p>薪火燒地。良久掃除去火。可以水小洒。取蠶砂。若桃葉。桑柏葉。諸禾糠及可。取用易得者。牛馬糞亦可。用但臭耳。桃葉欲落時。可益收取干之。以此等物令濃二三寸。布席臥上溫覆。用此發汗。汗皆出。若過熱當細審消息。大熱者可周身。輒便止。當以溫粉粉身。勿令遇風。</p>
<h4>野芋頭擦法</h4>
<p>野芋頭切片。磨擦背上第三骨節。如覺痛癢者。即非傷寒。若不知痛癢即是。</p>
<p>仍用野芋頭片。周身骨節。用力擦勻。並用芋片炒熱。煎濃汁服。二三次即愈，忌食葷並飯老油松冷易。視蛋黑為驗。收盡陰氣自愈。</p>
<p>又方　用煮雞蛋去殼。</p>
<p>乘熱滾擦。亦能變陰為陽。名蛋熨法。用吳茱萸(一升)搗碎。酒拌濕布袋二個分包。甑蒸透可。冷傷寒表未解。寒邪挾濕。身目發黃。濕盛於熱。則黃色晦。熱盛於濕。則黃色明。晦陰。明為陽。用生薑汁和茵陳汁點眼。遍身黃者。並擦胸前四肢。周身汗解。或用煨薑絞和香油點眼。又陰黃。用丁香和茵陳。擦如上法。又濕熱發黃。昏沉不省。雄雞破背。</p>
<p>血合胸。又治發黃。用赤小豆、瓜蒂、黃米同研末吹鼻。或綿裹塞鼻各竅。出黃水愈。</p>
<p>深入。</p>
<h4>傷寒無汗</h4>
<p>紫蘇煎濃湯。熏頭面及腿彎。又麻黃去節。同甘草研末。加冰片點兩眼角。暖蓋避風自汗。不汗熱湯催之。又胡椒　天麻　銀朱　棗肉丸握掌心。或用胡椒　丁香塗兩掌心。夾腿內側取汗。治陰寒症皆宜。又代赭石、乾薑(等分)為末。熱醋調塗兩合掌握定。夾於大腿內側。溫覆汗出乃愈。</p>
<p>傷寒汗出不均。腹背手足搐搦。川烏、海蛤、炮山甲(各一兩)酒丸彈大。置足心。別劈蔥白</p>
<h4>傷寒結胸停食</h4>
<p>陳香糟(六兩)　生薑、水菖蒲(各四兩)鹽(二兩)共搗勻。炒熱為餅。貼胸前痛處。以火熨之。內向即去。如口渴。任其飲水吃茶。大便利下惡物即愈。名糟蒲餅。</p>
<p>傷寒發散未透。余毒積於經絡。其症耳後紅腫。頭重體倦。名發頤。在腮曰穿腮。在地閣曰靛又赤豆、側柏葉、雞子清搗塗。又絲瓜燒存性。雞子清調敷。又醋調壁土敷。又大黃、五倍傷寒發狂。目不識人。或見鬼神。用癩蝦蟆。貼心上最妙。又譫語。熬鹽熨。又狂走者。</p>
<p>炭亦效斑刮出青蝦蟆肝。</p>
<p>煎水服之。並用煮熟雞蛋去殼。於刮傷處。乘熱滾擦隨滾隨換。其病頓減。有起死回生之功食肝上。</p>
<h4>傷寒感冒</h4>
<p>生薑、蔥白、核桃、細茶、黑豆煎湯。沖熏頭面。名五虎茶。得汗解。又生薑搗裹擦天庭。(並治中風痰結)　又令兩人各持薑一團。擦兩手足心。兩臂彎。前胸後背解。(並治夏月霍亂寒中三陰吊腳痧等症)傷寒誤服補藥。閉邪於內。虛不可表者。用大藥店整包細辛。中黃土。煎盆湯。坐熏。</p>
<p>得微</p>
<h4>傷寒衄血</h4>
<p>井水磨黃芩。白芨塗山根。又白芨磨本人鼻血。塗山根。又紙浸白芨水。貼眉心白芨片。貼眉心。又茶調決明貼胸。以清肺熱。又延胡索塞耳。左衄塞右。右衄塞左泥搭囟門。頸後及脊上。均是血路。又醋和黃土。塗腎囊。又黃酒浸足。衄久。用牛貼山根發際。</p>
<h4>傷寒吐血</h4>
<p>醋調大黃掩臍。又白芷　黑山梔煎熨胸口。清胃熱(治衄研末吹鼻內)又韭汁童便綿蘸擦背。又蒜泥裹足。引熱下行。(並治衄血)少陰誤汗。熱逼血出九竅。名下厥涼水　之。</p>
<p>傷寒大病後。熱毒攻目。煮蜂房洗之。日六七度。又冷水漬青布掩目。傷寒舌出　巴豆(一搽</p>
<h4>傷寒腹痛</h4>
<p>蔥白炒覆臍上。砂壺盛熱湯熨之。又切蔥白如碗粗一束。高寸許。放臍上。熨斗蔥爛再易。先放胡椒末或麝香丁香末於臍內。再熨更妙。並治陰症。</p>
<p>中寒四肢厥冷。肚腹疼痛。並治陰症腹痛。吳茱萸(一升)酒拌濕布包。二個分包。飯甑蒸熱</p>
<h4>陰症腹痛</h4>
<p>剝熱雞皮貼。又腹痛厥逆。用芥菜子末。溫水調貼臍上。</p>
<h4>陰症傷寒</h4>
<p>男女交合後。或外受風寒。或內食生冷等物。以致肚腹疼痛。男子腎囊內縮。婦內縮。或手足攣曲紫黑。甚則牙緊氣絕。謂之陰症傷寒。又名夾色傷寒。急用磚燒紅數層。在肚腹上熨之。或照前蔥熨法治之。輕則用前蛋熨法治之。</p>
<p>又紋銀一塊。捶扁燒紅。如病患未絕氣。止燒滾熱。放在臍上。再用雞一只。連毛破開不去銀鍋住心胡椒(一粒搗碎)黃丹(三分)火硝(二分)男以左手心受藥。用指研勻。即將藥末封馬口按住。</p>
<p>女以右令人甚效丸。著硝填臍用艾人仰其帕傷寒後交接勞復。卵腫縮腹中絞痛欲死。取交接婦人衣服。以覆男子。</p>
<h4>陰陽易病</h4>
<p>傷寒初愈薑、草烏、</p>
<h4>傷寒便秘</h4>
<p>見前紫蘇熨法後。又削生薑如小指。長二寸。鹽塗之內下部中。立通。又豬膽和灌穀道中。傷寒小便不通，蝸牛(一個)用冰片(少許)點入螺內。即化成水。滴臍中。立解。</p>
<p>又皂角　半大。納溺孔傷寒熱病手足腫欲脫　生牛肉裹之。腫消痛止。又酒煮苦參以漬之。又螺螄入鹽少許。</p>
<p>搗敷莧搗傷寒遺毒。手足腫痛欲斷。黃柏(五斤)水三升。煮漬之。</p>
<p>傷寒足痛(即脫腳傷寒)樟木(一段打碎為末煎湯)遠年尿桶砂(一兩為末)和陳小粉調敷。</p>
<p>在大</p>
<h3>感冒</h3>
<p>(此偶為風寒所感其症較輕於前之傷寒症故另立感冒一門或照前各方施治亦可)</p>
<h4>風寒作痛</h4>
<p>橘子葉、老薑、蔥頭不拘多少。和酒炒熱。用布包裹於患處。頻頻熨之。其病若</p>
<h4>感寒無汗</h4>
<p>水調芥子末填臍內。以熱物隔衣熨之。取汗出妙。</p>
<h4>發散寒邪</h4>
<p>胡椒、丁香(各七粒)碾細。以蔥白搗膏。和塗兩手心。合掌握定。夾於大腿側。</p>
<p>汗即愈。</p>
<p>傷風感寒。頭目不清。川芎　藿香　延胡索　丹皮(各二錢)　雄黃　白芷　皂角(各四錢)</p>
<h4>重傷風</h4>
<p>鵝不食草(一名移星草)研末吹鼻。涕淚出即清爽(冬月可代痧藥)</p>
<h4>風寒發汗</h4>
<p>蒼朮、羌活、明礬、生薑汁丸。握手心。夾腿間，側臥暖蓋取汗。不汗熱湯催之暴寒中人。伏於少陰。經旬日始發為咽痛者。俗名腎傷寒。　用半夏　桂枝　甘草　薑汁調暴寒襲入肌膚。觸之若無皮者。川椒燒酒煎。布蘸熨之。</p>
<h4>暴寒身如水冷</h4>
<p>用蠟溶化攤舊絹上。(綢布均可)隨患大小貼之。並裹兩手足心。冷則隨換甚熨法。</p>
<p>身受風寒。心腹疼痛。飲食少進。大便閉塞。小便短澀。上下關格不通。渾身繃緊。甚至手布包愈。或</p>
<h3>中風</h3>
<p>(癱瘓諸風二門當參看)</p>
<h4>中風不語</h4>
<p>以苦酒煮芥子。薄頸一周。以衣包之。一周時乃解。即瘥。或用醋煮白芥子敷頸治舌本縮)又令人以溺澆其面。即醒。又用龜尿點少許於舌下。即出聲。(亦治中風舌黃　防風(各數兩)煎水一大盆。放床前。使熱氣熏之。時時不斷。熏至一日。即語中風閉症。先通關。南星　薄荷　半夏　皂角　細辛共研末搐鼻。有嚏可治。無則治。(小兒驚風亦用此試)中風昏迷不省　牙皂莢(去皮弦二兩)。生明礬(一兩)二味同入水中煮化。取出晒乾為嚼碎。不拘多少。</p>
<h4>中風口噤</h4>
<p>烏梅肉、生南星、冰片擦牙。或用薑蘸南星冰片擦牙。其噤自開。名開關散。(本治小兒口噤神方也)如口不開。筋絕不治。　又白鹽梅揩齒即能開。並不傷齒。</p>
<h4>中風發熱</h4>
<p>大戟　苦參(各三兩)白酢漿煎洗。</p>
<h4>中風逆冷</h4>
<p>南星、川烏二味。同黃蠟融化。攤手足心(並治驚悸)中風偏枯。表邪固結者。麻黃　白芥子研。酒調。糊半身。留出竅。不敷紙蓋。得汗即去之。</p>
<p>中風舌本強難轉。語不正。屬痰涎壅塞者。　茯苓(一兩)蠍梢(十四個)　研。酒調。擦舌。</p>
<p>拓左</p>
<h4>中風口眼斜</h4>
<p>蓖麻子(取淨肉一兩)　冰片(三分)寒天加乾薑末(二錢)生黑附子末(二錢)共左塗右。　右塗左。今日塗明日正。俟正即宜洗去。否恐又偏於彼。又活鱔魚左斜敷右。右斜敷左。嘴正即將鱔魚並血洗淨。免口又扯斜一邊。</p>
<p>屢試皆驗。又生瓜蔞絞汁。和大麥面炙熟。熨心頭。一正便止。勿令過分。又生鹿肉同生椒疹於風退風散</p>
<h4>中風手足麻癢</h4>
<p>羌活煎湯洗。</p>
<p>中風手足不仁。有濕痰死血者。川烏　草烏(各六兩)　膽南星(四兩)　乳香　沒藥(末各三熬。</p>
<h3>癱瘓</h3>
<p>中風癱瘓。手足不舉。穿山甲(左癱用右甲右瘓用左甲)大川烏頭　紅海蛤(如棋子大)各二兩腳浸並女色</p>
<h4>熏藥法</h4>
<p>治左癱右瘓。半身不遂。手足腰肢疼痛。並酒風腳痛等症。真降香　真千年健　生羊花(各一錢)　生川烏(三錢)　真麝香(要當門子三分)　陳艾(六錢)　鑽地風(五霜(即鍋底煙二錢)共研細末。攤紙上。卷成筒。用面糊緊。外用烏金紙。包好扎燃。熏患處。熏時用綿袱隔住。漸熏漸痛。痛則風濕易出。越痛越好。務宜忍住。</p>
<p>熏半時後暫歇。用手在患處四圍揉捻。如有一處。捻之不甚痛者。即於此處再熏。風濕即從</p>
<h4>二妙湯熏洗法</h4>
<p>治一切風濕癱瘓。筋骨疼痛。無不神效。生甘草　威靈仙(各一斤)　水一石六滾。入大缸內。用板凳坐其中。周遭用布圍住。乘熱熏之。待溫。渾身洗透。</p>
<p>謹避風寒即愈。</p>
<h4>年久癱瘓</h4>
<p>用槐枝。柳枝。椿枝。楮枝。茄枝。白艾(各一斤)煎水三大桶。夏日用大盆浸洗添熱。洗後覆被取汗。忌見風三七日。如未全愈再洗。則愈神效。風癱　用蓖仁。桃。柳。</p>
<p>桑。槐。椿枝加茄根煎湯洗效。(一方用椿楮柳槐四枝經冬白艾茄風癱腰腿手足疼痛。不能臥起。老楊樹蟲蛀糞　干菊花(連枝葉五尺。寬二尺。取上三物鋪勻。加火燒之。以地熱為度。掃稻草鋪上。又噴酒於草。再用稻草蓋之。將病患脫盡衣褲。</p>
<p>緩緩去被穿衣褲。入密室避風數日。行走如舊。</p>
<h3>諸風</h3>
<p>風痛　木瓜　麻黃　海風藤　草　白茄根　當歸　防風　秦艽等味。酒煎擦患處。</p>
<p>又用黃風毒攻注。骨節痛。蓖麻子(淨肉研一兩)　乳香(研一錢五分)　生川烏(去皮五錢)　三味。</p>
<h4>痛風止疼</h4>
<p>飛羅面(一兩)　牛皮膠(三錢)　薑汁(五錢)　蔥汁(五錢)　共融和成膏。以皮紙處。立刻止痛。甚驗。歷節四肢疼痛　用醋磨硫黃敷之。○又用蔥白杵爛。炒熱熨之。</p>
<p>寒濕痹痛。麻木不仁。川烏　草烏　蓽茇　甘松　山奈(各五錢)上為末。炒熱布包。熨痛處</p>
<h4>神仙外應膏</h4>
<p>治筋骨疼痛。手足拘攣。川烏(一斤)為細末。隔年陳醋入砂鍋內。慢火熬如醬處。如病有一年者。敷後一日發癢。癢時令人將手拍之。以不癢為度。先用升麻皮湯洗之。然後上藥。不可見風。</p>
<p>一切手足風痛。及酒腳風。漏肩風。濕氣作痛。神效方。　用蔥　蒜　生薑(各取自然汁一鳳仙諸風痛癢。症瘕瘡痍。折傷效方。　前胡　白芷　細辛　官桂　白朮　川芎(各三兩)　附子</p>
<h4>走注痛</h4>
<p>芫花　桑皮　川椒　桂心　柳蛀屑　麥麩醋炒熨之。又小芥子末和雞子清塗之。</p>
<p>又薑　蔥　鹽　麥麩酒醋炒熨。並攤席上臥。又炭灰　蚓糞　紅花和醋炒熨。　又芫花黑腰腳濕氣作痛。不能履地。　松毛燒灰布包乘熱熨之。　又黃荊根(四五月間生於野地藥店少有須向生藥店采取生者)入壇中燒煙。熏兩足心及痛處。汗出即愈。</p>
<h4>治麻風</h4>
<p>大黃　芒硝　桑皮日煎洗效。有蟲加鴿糞。又長松(古松下之根也)熬水一缸。將全浸。數次自愈。</p>
<h4>麻風頭禿</h4>
<p>羊屎燒灰油塗。</p>
<p>麻風眉毛脫落。作癢者。雄黃　硫黃(各五錢)　黃雞子殼內白皮(燒存性五錢)　穿山甲(炮</p>
<h4>麻風眼努</h4>
<p>白丁香　貝母研極細末點。</p>
<h4>麻風面生紫塊疙瘩</h4>
<p>山甲(燒存性)　川椒(炒各二兩)研末。搗生薑大黃汁調擦。</p>
<h4>麻風大爛遍身者</h4>
<p>杜仲　蛇床子　明礬　寒水石　硫黃(各二兩)　朴硝(五錢)研末。豬油塗</p>
<h4>鵝掌風</h4>
<p>香樟木打碎煎湯。每日早晚溫洗三次。洗半年愈。又青鹽　防風　地骨皮　槐條(分)煎水屢洗。至妙。又鴿屎白　雄雞屎共炒研。煎水日日洗之。又青松毛瓦上焙煙起</p>
<h4>鵝掌風癬</h4>
<p>蘄艾和側柏葉煎湯。乘熱熏洗。一月愈。又豆腐泔水洗手。一月即愈。</p>
<h4>云頭白癜</h4>
<p>茄子花擦之瘥。又以花紅塗之。永不再發。</p>
<h4>白癜風</h4>
<p>青核。桃皮(一個)　硫黃(一棗子大)研勻。日日摻之，取效。又礬石(研)　硫黃(分。酢和敷之。</p>
<h4>赤白癜風</h4>
<p>生薑頻擦之。</p>
<h4>紫云風</h4>
<p>鱔血塗之。</p>
<p>紫癜風(即汗斑)　硫黃　輕粉　密陀僧　斑蝥(制存性)　樟腦(各等分)共研極細末。</p>
<p>俟出汗時。用老薑蘸擦患處。兩三日洗去。即除根。神效。又密陀僧為末。黃瓜蒂擦之亦效</p>
<h4>白虎風</h4>
<p>水牛肉脯(一兩炙)　伏龍肝　燕窠土　飛面(各二兩)　砒黃(一錢)水丸。摩痛處。</p>
<p>黃即生砒)</p>
<h4>瘍風</h4>
<p>茵陳蒿兩握。水一斗五升。煮七升。先以皂角湯洗後。以此湯洗。如冷更作。隔日不然恐痛。</p>
<h4>雞爪風</h4>
<p>線雞屎　花椒　枯礬煎。冷洗。</p>
<h4>鬼箭風</h4>
<p>堆花燒酒搽患處。用手拍。見青色即愈。又野苧麻川南星同搗敷。又以桃葉亂髮為擦之。又山梔子　桃枝　飛面為餅。貼患處。熨斗熨之。</p>
<h4>鶴膝風</h4>
<p>商陸草取葉。入鹽少許。搗敷患處。自愈。又甘菊花　陳艾葉作護膝。常帶之。可濕病。</p>
<h3>癮疹</h3>
<h4>風痹癮疹</h4>
<p>蛇床子(二升)　防風(三兩)　生蒺藜(二斤)　三味切。以水一斗。煮取五升。漬日四五度。又白朮(三兩)　戎鹽(五錢)　黃連　黃芩　川芎　細辛　莽草　茵芋(礬石(五錢)　上九味切。以水一斗。煮取三升洗之。日三度。又取枳實以醋漬令熱。適寒溫用。熨上即消。</p>
<h4>癮疹百療不瘥</h4>
<p>景天(亦名慎火草一斤)搗絞取汁。塗上熱炙。手摩之再三。即瘥。</p>
<h4>癮疹簡便方</h4>
<p>鍛石和醬水塗之瘥。又芒硝水塗之。</p>
<h3>痰疾</h3>
<h4>急救中痰</h4>
<p>此症似乎中風。惟見口眼斜閉。喉內有聲。用細辛末吹入鼻內。得嚏即蘇。切不灌之。不救。亦不可使聞薑氣。又以小便對口射之。</p>
<h4>痰厥死</h4>
<p>巴豆搗爛。綿紙包。壓取板油作燃。燒煙熏鼻中片刻。吐出痰血即愈。又生半夏末大。吹兩鼻中。</p>
<h4>中痰厥</h4>
<p>生附子　蒜頭醋煮。搗成餅。貼涌泉穴(即足心)。若口渴不可便飲茶。(中寒中風貼)</p>
<h4>積痰</h4>
<p>頂大蔥白頭(二三十個)。略搗爛入鍋內炒熱。俟微溫。塗於胸坎。不久積痰自出。</p>
<h4>痰塞</h4>
<p>皂角(一斤)　生甘草(一兩)　黨參(五錢)　百草霜(三錢)　陳酒熬膏。臨用加薑汁調頸。名黑龍膏。</p>
<h4>痰熱</h4>
<p>延胡索(　二錢)　牙皂(十四枚)　青黛(六分)　麝香(一分)　清水為錠。名青金錠。</p>
<p>治中風驚風乳蛾等症)臨用水磨滴鼻。凡痰熱皆可磨塗心口。</p>
<h4>化痰</h4>
<p>巴豆(一粒)　研成粉。帛包。每日嗅數次。</p>
<h4>痰火</h4>
<p>牛黃　朱砂(各一分)　冰片(五厘)　麝香(三厘)將蝦蟆取膽。和前四味為末碾細。</p>
<p>尖刺破點藥。其痰即時下行。妙。</p>
<h4>諸癇</h4>
<p>鴨舌膽礬　存性為末。每發時用一錢。以筆管吹入鼻內。涎出即愈。</p>
<h3>黃膽</h3>
<p>(附黃腫黑疸)</p>
<h4>黃膽</h4>
<p>身黃如金。或兼腫脹嘔吐。或眼目亦黃。急用薄草紙以筆管卷如爆竹樣。將一頭以紙緊。用黃蠟(以銅器熔化)將紙筒四圍澆勻。不可使蠟入筒內。令病患仰臥。將蠟筒罩肚臍(以封過一頭向下)再用灰面作圈。護住筒根。勿令倒下。勿令泄氣。筒頭上點火。燒至筒根面圈處。取出另換一筒再燒。看臍中有黃水如雞蛋黃者取出。輕者燒七八筒。重者數十筒。日燒二次。總以取盡黃水為度。有患此者。身如金色。遍身腫脹。飲食入口即吐。百藥不效。照此治之。三日全愈。真仙方也。(按此症有陰黃陽黃之分此治陰黃最妙)又苦丁香為細末。搐鼻內。一時鼻出黃水。水盡即止。三日後再搐一次。全愈。(搐時分男左女右並治黑疸)又青背鯽魚(一尾)全用。加砂仁(一兩)　洋糖(一撮)搗爛。入蚌殼內。覆臍上。一夜見效。</p>
<p>又雄鯽魚(一尾去頭骨止用背上肉兩塊)　胡椒(每歲一粒至十粒止研細)　麝香(三分)右二舂。恐黏染KT　上。將蛤蜊殼填滿。合病患臍上。用絹縛緊。</p>
<p>一日夜即愈。又鮮虎掌草(即天南星葉)搗爛。放茶鐘內。平口扣在臍上一寸許。汗巾縛住泡。用銀針從下面刺破。漸漸流出黃水。水盡自愈。如無鮮草</p>
<h4>黃膽腫滿</h4>
<p>苦葫蘆瓤如大棗許。以童便(二合)浸一時。取酸棗大二塊。納兩鼻中。深吸氣。</p>
<p>黃膽陰黃。及身面浮腫。甜瓜蒂　丁香　赤小豆(各七枚)為末。吹豆許入鼻。少時黃水流出</p>
<h4>熱病發黃</h4>
<p>甜瓜蒂為末。以大豆許搐入鼻中輕則半日。重則一日。流出黃水。隔一日再吹。</p>
<p>濕熱發黃(或因失飢過飽或原素有濕熱汗出浴身而成者)生薑時時周身擦之。其黃自退。或加茵陳蒿尤妙。</p>
<h4>遍身黃腫</h4>
<p>握新鮮百條根(一名野天門冬)洗搗敷臍上。再以糯米飯半升。拌水酒半合。揉軟用帛包住。一二日後。口內作酒氣。則水從小便出。腫自消。(黃膽眼黃不腫黃腫如故濕熱未甚多蟲與食積所致)又燒酒調白芥子末(二錢)攤貼小腹上。起泡為度。</p>
<p>黑疸　明礬　滑石　大麥芽(各等分)研敷。</p>
<h3>勞傷</h3>
<p>治一切虛勞咳嗽。吐血。燒熱等症。但脈息有神。無不應效。箭頭砂(一兩)明雄黃(五錢)共用布碗。</p>
<p>調養一月。百無一失。不可服別藥。以免誤事。</p>
<h4>太乙真人熏臍法</h4>
<p>通治勞傷失血。及陰虛。遺精。白濁。陽痿。精神倦怠。痰火。婦人赤白症。　麝香　龍骨　虎骨　蛇骨　附子　木香　丁香　乳香　沒藥　雄黃　朱夜明砂　胡椒　小茴香　青鹽　兩頭尖(各等分)以麝填臍眼。蕎麥圈臍外。填灸之。汗出病已。慎風寒。戒油膩生冷酒色等。如畏灸者。可加艾和藥裝袋鋪之。逼藥氣入肚。但令溫暖即止。亦有效。</p>
<h4>濟眾熏臍法</h4>
<p>川烏　沒藥　乳香　雄鼠屎　續斷(各二錢)　麝香(一分)食飽後。灸如前法。</p>
<p>反泄真氣。每年中秋行一次。隔兩日一灸。灸至臍內作聲。大便下涎物為止。只服白粥。黃酒助力。</p>
<p>治勞病患未全虛者。水灸法。白鴿糞　淨靈脂　白芥末(各五錢)　生甘草末(二錢)　加大蒜藥末尾閭竭力</p>
<h4>驗癆蟲法</h4>
<p>用乳香燒煙熏病患手背。男左女右。以綢帕蓋手掌心良久。有毛從掌中出紅者難治。黑者不治。無毛者即無癆蟲。</p>
<h4>灸癆蟲法</h4>
<p>用濕紙條貼背脊上。先干者即癆蟲處。以墨點記。用老蒜切片貼上。以艾一團放蒜片上燒埋</p>
<h4>治癆蟲法</h4>
<p>鳳仙根蘸潮腦擦背。或加薑桂同搗擦。又雄精　朱砂　硫黃(去沙泥各一錢)　麝分)各研極細末。磁罐收藏。以頂好燒酒和勻。用獨頭大蒜。去蒂蘸藥。從尾閭脊骨。</p>
<p>逐節擦上。如有腫處。或極痛之處。即系癆蟲所在。須於腫痛處。多擦數次。其蟲自滅。</p>
<p>拘新久一切癆病皆能除根。如病重者。須澤天醫吉日。總以午時擦之為妙。端午日更佳。</p>
<p>戊日巳日除日。此藥能開背後三重關竅。即虛怯疰夏之人。於端午擦之。亦能神清氣爽。經絡流通。大有裨益。此方傳自海外。屢試神效。又八月朔日。早收百草頭上露水。點膏肓穴。(在背上第四節骨左右兩旁各三寸)最為神驗。</p>
<h4>傳尸癆</h4>
<p>熬商陸根。囊盛熨。或佩麝香安息香。再用甘松　元參　炭屑　加白蜜。和丸常燒以辟蟲。免傳染。</p>
<h3>諸血</h3>
<p>(凡鼻舌諸衄皆分載各本門須參看)</p>
<h4>吐血不止</h4>
<p>好酒(四斤)燉滾，浸兩足即止。又用藕汁或雞子清磨墨。塗胸口。韭菜汁亦可磨尤宜。</p>
<h4>一切失血眩暈</h4>
<p>生地塞耳鼻。</p>
<h4>九竅出血</h4>
<p>新汲水洗足。即止。又小薊　百草霜　香附　蒲黃(炒)擦牙。並摻出血處。　又石榴花揉塞之。效。用葉亦可。</p>
<h4>口鼻出血不止</h4>
<p>用陳年尿壺。火上烘熱。向鼻熏之。立止如神。亦治耳鼻流血不止。</p>
<h4>毛孔出血不止</h4>
<p>豬瘦肉一濃片。貼之即止。豬皮亦可。又草紙燒灰候冷。敷之亦止。</p>
<h4>肌衄</h4>
<p>朱砂　寒水石　麝香研細末撲。又煮酒壇紙。揉碎如楊花攤之立止。</p>
<p>瘀血在胸。不能飲食。炙肉令香。置口邊引出KT　瘀。而上胸自開。名騙通法。</p>
<h3>諸汗</h3>
<p>自汗(常出者為自汗)鬱金研末。臨臥時蜜調塗兩乳上。即止。或用津塗。又何首烏末。</p>
<p>津涎五倍</p>
<h4>自汗不止</h4>
<p>粳米粉絹包。頻頻研末。絹袋撲之。又牡粉汗。汗止忌豬肉。盜汗(睡中出者為盜汗)五倍子研末。用人乳調。蒸熟。丸如龍眼大。每用一丸。貼臍上。外倍子(焙)研細末。以男唾。調濃糊填臍中</p>
<h4>陰汗腎虛陽衰者</h4>
<p>蛇床子(酒炒)　白礬　陳醬(各等分)　煎湯洗之。</p>
<h4>血汗</h4>
<p>發灰撲。又郁李仁研。生梨汁調敷。</p>
<p>治一切虛汗。盜汗。自汗。及漏風等。汗泄不止。諸葉不效者。麻黃根　白朮　本　牡蠣龍骨(各五錢)　糯米粉(二兩)　冰片(五分)共研細末撲之。</p>
<p>誤用麻黃。汗出不止。將病患頭發浸水。並用上撲法。</p>
<h3>瘧疾</h3>
<h4>治瘧方</h4>
<p>牛皮膠(二兩)　熬化。加生薑(三兩)　搗極爛攪勻。熬成膏聽用。於病發之先一時皂莢水洗淨背脊。拭乾。再以生薑一大塊揉擦極熱。用寬長細布一大塊。將膏攤上貼之衣領處貼起)並敷兩膝蓋。過一二日即痊愈。愈後五日。方將膏藥揭去。極效。又用草手中指頂尖處。量至中指根處為止。將草摘斷。即用此草。從根量至掌。再從掌量至腕爛。敷於墨點處。用核桃殼蓋上。以布扎緊。一個時辰即去效。　又胡椒　硫黃(各二厘)研末。糝膏藥上。貼背脊之正對肚臍眼處。過期即愈。</p>
<p>黃制附子　真潮腦(各等分)　為細末。於瘧未發前一時。以棉花少許。包裹藥末三鼻孔中。男左女右。塞藥後勿食湯水。睡過此時即愈。重者依法塞二次。小兒量為減巴豆(二十粒)　南星(一個)　白面(少許)　水調捻餅。用膏藥貼額上。及洒地金錢遍地金錢亦名破銅錢又名滿天星)清早塞兩鼻孔中。各一丸。雖三日一發之瘧。可以又桃頭(七個向天者)　獨頭蒜(七個)　胡椒(四十九粒)　五家棕尖。五月五日午時。</p>
<p>丸。雄黃為衣。扎肚臍內。一周時即愈。　又常山　草果　丁香(少許)用上好酒半煎數滾。盛鐘內。熱熏鼻孔即愈。　又老生薑(四兩)　搗爛。於未發先一時。敷膝上女右。用油紙藍布包裹緊扎好。勿令汁流出。立效。　又斑蝥(一個)用膏藥貼於印堂一日貼。一周時即效。　又馬齒莧搗。扎手寸口。男左女右。又三次之後。臨發前一魚醒草一握搗爛。絹包周身摩擦。得睡有汗即愈。　又桃仁(半片)放內關穴上將獨頭爛罨之。縛住。男左女右。即止。　又蛇蛻塞兩耳。即愈。　又生黃丹(五錢)　生白錢)　胡椒(一錢五分為末)　麝香(五厘)　共研末。臨發時對日坐定。將好米醋調藥左女右。縛手心。外加絹帕緊扎。待藥力熱方行。出汗為度。如無太陽。腳下用火。</p>
<p>料。能治三人。年老身弱。怕服藥者用之。　又當歸　川芎　防風　甘草　陳皮　蒼仲檳榔　草果　半夏　常山　荊芥　知母(各一錢)　真烏梅(五錢燒熟打碎)將藥共放內。炒熱。於未發時。用稀布包裹。捆扎臍上。臍內先以藥末三分填滿。其發必輕。再炒捆。無有不效。間日瘧更效。輕則一服。重則兩服。年老人不肯服藥者。用此尤妙。　又貝母(一片)放膏藥上。男左女右。貼大膀灣軟處。不與人知。立愈。　又常山　草果　川烏草烏　陳皮　甘草(各一錢)　將絹袋盛之。聞於鼻間。即止。(只聞香氣不可煎食)　又綠礬少許。摻棉花上扎緊。男左女右。塞鼻內。　又桂心(一分)　麝香(三厘)　川椒(七粒)雄黃(七厘)共研極細末。納臍中。外以膏藥貼之。虛寒瘧更效。孕婦忌貼。　又大棗肉(兩個去皮核)　斑蝥(兩個焙研)同研勻。加熟豬油(少許)搗成餅子。指頭大貼在兩眉中間印堂上。一周時即止。胎瘧忌貼。</p>
<h4>隔日瘧方</h4>
<p>旱蓮草(研碎)如黃豆大。以紫蘇葉裹之。男左女右。塞鼻孔內。半日即出涕淚。</p>
<p>愈。重者漸次而愈。或照以上各方治之。</p>
<h4>治瘧發汗法</h4>
<p>柴胡(一握)搗爛。絹包擦周身。得睡有微汗解。　又柴胡　當歸　知母　穿山分)煎湯。新棉花或布蘸熨背。</p>
<h4>瘧疾脅痛</h4>
<p>青皮炒熨痛處。</p>
<h4>瘧疾化痰</h4>
<p>薑汁　貝母　半夏為丸。擦胸背。</p>
<h4>久瘧成痞(胸脅高起者是又名瘧母)</h4>
<p>毛腳芹菜　大蒜　銀朱同搗爛。塗患處。以油紙蓋上扎出。其塊自消。　又大蒜(一個晒乾研細末)朴硝(三錢研末)獨頭蒜共捶融成膏。貼自消。　又獨頭蒜(一個)　黃丹(一錢)　番木鱉(焙為末五分)共搗成即去之。內自消矣。</p>
<h4>小兒久瘧不愈</h4>
<p>赭石(三錢燒紅醋淬)　朱砂(五分)　砒霜(一豆大)各藥用紙包七層。水浸濕末。加麝香(五厘)香油調搽鼻尖。眉心。及手足心。神效。</p>
<h4>久瘧人虛</h4>
<p>嗅甜肉桂。或塞鼻。則寒自退。熱自輕。神爽氣清。思食而愈。</p>
<h4>截瘧方</h4>
<p>叩頭蟲(一個)安眉心。蟲頭向上。膏藥蓋住。過時自愈。　又名貼臍截瘧丸。胡椒精(各等分)研末。將飯研爛為丸。如桐子大。外以朱砂為衣。將一丸放在臍中。外用膏上。瘧即止。神驗。</p>
<h4>禳瘧法</h4>
<p>用紅紙包米一撮。茶葉一撮。銅錢三十文。包時斷不可令人見。亦不可令人知。包次日於清晨出門。直走所向之方。不可回頭。暗拋路旁。亦忌人見。拋後　頭直走。不顧。由別路歸家。其病如脫。　又未發前。抱大雄雞一只。著懷中。時時驚動。令作大無不瘥。</p>
<h3>瘟疫</h3>
<h4>辟瘟方</h4>
<p>名太乙流金散。　雄黃(三兩)　雌黃(六兩)　礬石　鬼箭羽(各一兩五錢)　羚羊角二兩)　上五味治下篩。三角絳囊盛一兩。帶心前。並掛門戶上。若逢大疫之年。以月旦布。裹一刀圭。中庭燒之。瘟病患亦用此燒熏之。　又名雄黃散。　雄黃(五兩)　朱砂蒲鬼臼(各二兩)　上四味。搗篩末。以塗五心。額上。鼻。人中及耳門。　又馬骨一塊裝紅布小袋內。佩帶身旁。男左女右。　又向東桃枝煎湯。日浴二次。自然不染。　又黑一撮。暗投水缸。忌人見。　又貫眾(一個)　白礬(一塊)放水缸內。亦效。　又艾炷密熏床四角。不令人知。　又蒼朮為君(倍用)　羌活　獨活　白芷　香附　大黃　甘松　山柰箭雄黃(各等分)　為末。同糊丸。如彈子大。黃丹為衣。晒乾焚之。　又蒼朮　雄黃參桔梗　白朮　川芎　白芷　藜蘆　菖蒲荑(各三錢)以上俱用生料。晒乾研末燒熏。可兩切片)共燒煙熏。可免瘟氣。　又蒼朮(末)時疫傳染。　又凡入病家。用香油調雄黃蒼朮飲雄黃酒一杯。決無傳染。　又雄黃研細末。</p>
<p>真神方也。</p>
<h4>治瘟方</h4>
<p>凡聞病患汗氣。入鼻透腦。即散布經絡。初覺頭疼。即用芥菜子研末。溫水調填肚隔布一二層。上以壺盛熱水熨之。至汗出而愈。　又蒼朮　良薑　枯礬(各等分)為末一錢。以蔥白一大個搗勻。塗手心。男左女右。掩肚臍手須高起勿使藥著臍。又以一外腎。女子掩住前陰。煎綠豆湯一碗飲之。點線香半炷。久可得汗。如無汗。再飲綠之。汗出自愈。(並治大頭瘟)</p>
<h4>瘟疫心腹疼痛</h4>
<p>白烏骨雞殺之破開去腸雜。撲心上即愈。或用血塗心上。亦可。(並用雞肉或用癩蝦蟆破開。撲心上。亦效。愈後須戒殺放生。免再傳染。</p>
<h4>酒熨法</h4>
<p>治瘟疫。傷寒。時症。或飯後氣惱。心口脹悶。填塞不舒。用上好燒酒燉熱。將布蘸酒。自胸向下搽抹。布冷再換熱布。輪替搽抹。如此數次。其氣自通而愈。</p>
<h4>羊毛瘟</h4>
<p>凡男婦大小。陡然腹痛。不過一二時即死。醫藥不及。用針灸不及施。惟有速往十心或十字路心。於眾人日逐往來之處。挖泥土數升。以冷水和丸。如雞子大。即在病患及心窩內外。磨擦良久。俟泥丸稍熱。破開看之。如丸中有羊毛。是其症無疑。另換擦。以不見羊毛為度。雖已氣絕。身未冷者皆可治。若擦之並無羊毛。即非此症。當用蕎面照上法治之。更妙。</p>
<h4>蝦蟆瘟</h4>
<p>側柏葉搗自然汁。調蚯蚓泥敷之。</p>
<h4>大頭瘟</h4>
<p>此症頭面腫大。咽喉閉塞。急用延胡索(一錢五分)　皂角　川芎(各一錢)　藜蘆(躑躅花(二分五厘)　共為末。用紙捻蘸藥。堆入鼻孔中取嚏。日三五次。甚效。嚏更妙。無嚏者難治。左右看病之人。用此取嚏。亦不傳染。　又扁柏葉搗爛。雞子蚯蚓(十余條又名曲　)以白糖拌入。碗碟蓋好。半日即化為水。(至遲一日必又燕子窩連泥帶糞捶融。醋調敷立愈。　又吳茱萸研末。醋調敷足心。一周時取下即消如未愈。再敷一周時。必效。　又馬蘭頭一把搗汁。將鵝毛搽上。一日五六次。熱氣頓出。</p>
<p>神效。</p>
<h3>中暑</h3>
<p>(宜與霍亂痧症兩門參看)夏天道路受熱。忽然昏倒。名中熱。切不可誤用冷水噴灌。一受寒冷。則不可救。　急用稻又草紙卷成筒。點火向口鼻間熏之即活。甚效。　又用布蘸滾水更換熨臍與臍下三寸。醒後仍忌飲冷水。飲之復死。</p>
<h4>中暑暴昏</h4>
<p>大蒜搗爛。調冷水小半杯。取茶匙挑灌於鼻孔中立蘇。　又凡熱行道中。自覺頭不能支持。速伏道上。口鼻向土立效。</p>
<p>中熱口渴面赤。煩躁欲死。　掘地深尺余。取淨黃土以新汲水調化。敷胸口及臍上。</p>
<h4>中暑挾虛昏絕</h4>
<p>沉香　檀香燒熏。令香氣滿室以達其竅。即醒。</p>
<h4>暑風手足搐搦</h4>
<p>以蘇合丸擦之。並用香薷　黃連煎水拓胸。</p>
<p>暑症身熱頭疼。狀如傷寒。煩渴嘔吐。昏悶不食。　硫黃　硝石(各一兩)　明礬　雄黃　滑石(各五錢)　白面(四兩)井水調敷腹。</p>
<h4>暑天怕風</h4>
<p>鵝不食草陰乾。好燒酒浸一宿。日干。夜間又浸。如此七次。若右邊痛。將草塞左痛。塞左鼻。一時許。鼻流冷水盡即愈。</p>
<h4>受暑大小便不通</h4>
<p>用田螺(三枚)搗爛。入青鹽(三分一作青黛)攤膏貼臍下一寸。(一作一寸</p>
<h3>霍亂</h3>
<p>(與中暑痧症參看)</p>
<h4>治霍亂方</h4>
<p>細看病患背上。如有黑點。用針一一挑破。出血即愈。若遲一日。則不能救矣。</p>
<p>鹽填臍內。用艾放臍上燒之。以燒至止痛病醒為度。已死而心頭微溫者。亦可活。</p>
<h4>霍亂腹痛</h4>
<p>大蒜搗如泥。塗心上立效。　又鹽(二斤)炒熱。用青布包。兩包更換。熨腹上。</p>
<p>透即愈。　又吐瀉腹痛。用蒼朮　藿香　陳皮　半夏　青皮　桔梗　枳殼　蘇葉　濃草節(各五錢)　原蠶砂(二兩)　生薑　蔥白(各三錢)炒熱。布包熨。甚妙。霍亂腹痛。兩腿轉筋。　芥菜子研細末。填臍內立效。　又蒜鹽敷臍。　又用熱醋煮青布。</p>
<p>膝。冷復易之。　又蒜泥加黃蠟。塗足心。　又皂角末吹一豆大入鼻。取嚏即醋調塗兩足心。　又如轉筋已死。心下尚溫者。用朱砂(二錢)　黃蠟(三兩)口鼻並臍。更貼手足取汗。　又轉筋而肢冷者。用燒酒摩拓患處效。　又男子向上。女子以手牽其乳向兩旁。即愈。(亦治尋常轉筋)</p>
<h4>腳麻腹瀉疼痛熨臍方</h4>
<p>倭硫黃　上肉桂　吳茱萸　丁香(各一錢)　麝香(三分)共研細末。每勻。置臍中。外貼一小膏藥。炒熱麩皮熨之。不可誤入口中。(一方無茱等分摻暖臍膏貼臍上)並治吊腳痧。</p>
<p>脾元虛損。霍亂不吐瀉。腹脹如鼓。心胸痰塞。　丁香(七粒)　菖蒲根(五錢)　甘草(炙一</p>
<h3>痧症(與霍亂參看)</h3>
<h4>刮痧法</h4>
<p>擇一光滑細口磁碗。另用熱水一鐘。入香油一二匙。將碗口蘸油水。令其緩而且滑手覆執其碗。於病患背心上。輕輕向下順刮。(切忌倒刮)以漸加重。碗干則蘸油水。再久。覺胸中脹滯下行。始能出聲。頃之腹中大響。大瀉如注。其痛遂減。睡後通身搔癢發出疙瘩遍身而愈。今有於頸臂刮痧者。亦能治病。然五臟之系。咸附於背。向下刮之氣隨降。故毒深病重者。非刮背不可也。此為痧症起死回生簡便良方。最靈最穩。(吾用銅錢蘸香油或水刮痧者似較簡便)　又擦法。以食鹽一握。揉擦兩手腕。兩脅。兩足並心窩。背心八處。擦出紫紅點許多。自然漸漸松快而愈。一切痧脹。及中暑霍亂等症垂死亦活。真良方也。　又方嫩車前草(七根)揉軟。塞鼻孔內。男左女右。烏痧脹(即干霍亂)凡暑熱痧脹。將燒酒半鐘。用頭發一團。蘸燒酒向胸前揩擦。以酒盡為度用老薑汁點眼角內。男左女右。汗出即愈。</p>
<h4>絞腸痧陰症</h4>
<p>吳茱萸　食鹽(各四兩)炒熱。用布分作兩包。輪熨其臍腹。效。陰症時痧。水(即今之吊腳痧)　硫黃　肉桂(各二錢五分)　炮薑　朱砂(各二錢)　黑附子(五錢)(二兩)和勻。布包放臍上。熨斗熨之。　又辣蓼草(八兩搗爛)　宣木瓜(四兩)上二味福珍酒(二斤)加水煎湯。乘熱揩洗手足及遍身。即愈。　又樟腦(兩許一塊)布包好。浸酒令透。由背脊順擦至尾閭。數十次即松。　又如症輕者用燒酒薑汁擦手足。</p>
<h4>羊毛痧</h4>
<p>此因天氣鬱勃。潮濕酷熱。夜不能睡。將曙露體。乘涼風中。有絲乘虛易入。無論手足胸背猝入。則滿身刺痛。一刻緊一刻。痛至半夜。白皮入心。咆哮跳躍。面色漸黃而治法不用針刮。將現藏燒酒瓮上泥頭敲碎。水調捻成泥團。向周身滾轉幾遍。剝開泥團有絲如羊毛色亮。則邪氣滾出。自然平愈。此仙法也。(案此與瘟疫門中羊毛瘟相似當</p>
<h3>鼓脹</h3>
<h4>試鼓法</h4>
<p>用鹽(四兩)炒熱。絹包放臍上。水鼓鹽化水。若食鼓鹽紅色。血鼓紫色。氣鼓黑色氣虛中滿。鹽水不改。必用白鹽試驗。</p>
<h4>治水鼓方</h4>
<p>(手按之下陷不起者是)輕粉(二錢)　巴豆(四錢去油)　生硫黃(一錢)　共研成餅藥餅當臍按之。外用布捆緊。如人行五六裡自瀉下。候三五度患者隔日方去藥餅。愈後忌飲涼水。此方治水鼓如神。其余鼓草煎湯。傾入盆內。先坐盆上熏之。待湯溫方洗其腹。小便隨余鼓脹亦可用此法治。惟功稍緩耳　又杜蒺藜或地骨皮。照水鼓小便不通(小便通者亦可治)　大田螺(四個去殼)　大蒜(五個去衣)　車前子(三錢研末)根蔥</p>
<h4>治氣鼓方</h4>
<p>(按之隨手即起者是)多年瓦油盞頭連垢膩。火內燒熱。合臍上。良久自落。垢膩黑脅痛者用大麥芽炒熨。</p>
<h4>血鼓小腹脹有血絲</h4>
<p>(通身老黑色皮內有紫黑斑點者是)酒煎荷葉洗。</p>
<h4>婦人血鼓</h4>
<p>劉寄奴或馬鞭草。煎湯熏洗。</p>
<p>食鼓。噯氣作酸。飽脹。　蘿卜子炒熱熨。</p>
<h4>治實鼓方</h4>
<p>甘遂　巴霜　木香(各等分)　研細末。填臍中。</p>
<h4>治五鼓琥珀散</h4>
<p>大黃(二兩)　巴豆(五錢)　牙皂(一兩五錢)　枳殼　蘿卜子(炒各四兩)　琥沉香(五錢)　薑皮搗汁丸。臨用研末摻膏貼(凡治脹皆取三裡穴在膝下三寸外旁一切鼓脹肚飽發虛小便不通者。　臍內先填麝香(一分)再用甘遂(末)　雄黃(各一錢)田螺</p>
<h3>腫滿</h3>
<h4>卒患腫滿</h4>
<p>以蒴　莖葉埋熱灰中。令極熱。以敷腫上。冷再易。一日夜盡消。</p>
<h4>通身水腫</h4>
<p>黍莖掃帚煮湯浴之。</p>
<h4>水腫面浮甚</h4>
<p>土狗(一個)　輕粉(二分五厘)為末。每搐少許。入鼻內。黃水出盡為妙。</p>
<p>水腫從腳起。入腹能殺人。　赤豆(一升)煮爛取汁。溫漬足膝。</p>
<h4>水腫但兩足腫</h4>
<p>銼蔥葉煮令爛以漬之。日三四度良。</p>
<h4>身體暴腫如吹</h4>
<p>巴豆(三十枚)　合皮　咀。以水五升。煮取三升。綿納汁中。以拭腫上。隨五六拭。勿近目及陰。</p>
<h4>腹中脹滿</h4>
<p>綿裹煨薑。納下部。冷即易之。</p>
<p>上氣咳嗽。腹滿。體腫。　楸葉(三升)煮三十沸。去滓煎。堪作丸如小棗子大。以竹筒納下</p>
<h3>痞積</h3>
<h4>治痞方</h4>
<p>吳茱萸(酒炒)布包。走逐熨之。○又莧菜。不拘紅白均可。(十斤)洗去泥。不必去以河水煎湯兩大缽。用活甲魚(一個重十二三兩者)不必切碎。入莧菜湯連骨煮爛如膏。</p>
<p>將甲魚膏薄攤晒乾研末。用麻油(八兩)熬至滴水成珠。下甲魚膏。(四兩)如甲魚膏不鉛粉添配攪勻。成膏收之。用青布褙紙一層。量塊大小攤貼。七日即消。重者貼至兩不再發。屢驗。　又用水紅花新鮮者。同老蒜打爛。量入皮硝。(一二兩)捏成餅。比一團。放痞上。用袱包扎緊。待干再換。則痞自消。　又水紅花子熬膏。入麝香(少又紅芥菜子(即豬血芥)不拘多少。生薑汁浸一宿。大約芥子一酒杯。加麝香(一錢)同搗極爛如膏藥。攤青布上。貼患處。外用汗巾扎緊。一宵貼過。斷無不豬胞。　麝香(一錢)　阿魏(三錢)　水紅花子　大黃　歸尾　甘遂　急性子上為細末。用豬尿胞。(一個)量痞塊大小。用尿胞大小。裝入干燒酒半胞。</p>
<p>將前藥末放入胞內。緊扎住口。用白布將胞兜扎於患處。俟塊化盡即去之。不可遲也。　又桌椿樹皮。(在上中者佳)要一大束。去粗大。止用白皮。(二斤)切碎入鍋內。水熬。瀝去渣。用文武火熬膏。薄攤布上。先以生薑搓出垢膩。後以膏藥在錫茶壺烘熱。貼痞塊上。其初微痛。半日後即不痛。候其自落。一張即好。永不再發。貼膏時微撒麝香少許於膏上。然後貼之。貼上膏藥。周遭破壞出水即愈。雖脹滿腹硬過臍者。貼一二張亦見效。孕婦忌用。</p>
<p>又雄黃　白礬(各一兩)為末。面糊調膏。攤布上貼之。俟大便脹滿而極多者即愈。此秘方也患處</p>
<h4>治諸積及氣血食</h4>
<p>三鼓白馬糞。同大蒜搗敷。</p>
<h4>治卒暴症方</h4>
<p>蒜(十片去皮取五月五日戶上者)　伏龍肝(鴨蛋大一枚)　桂心(一尺二寸)　右搗。以陳酒和之如泥。塗著布上。掩患處。三日即消。　又腹中暴症。有物如石。痛不治。百日死。用商陸根搗汁或蒸之。以布藉腹上。以藥鋪布上。以衣覆之。冷即易勿息。</p>
<h4>治鱉症</h4>
<p>陳醬茄(燒存性)　入麝香　輕粉(各少許)脂油調貼。奇效。</p>
<h4>治積塊龜鱉症</h4>
<p>白馬尿同白僵蠶搗敷。</p>
<h4>治發症</h4>
<p>(乃由人因食而入久即胸胃間如有蟲去來惟欲飲油)油(一升)以香澤煎之。安病患頭當叫喚取飲。不得與之。必疲極眠見症。以灰粉手捉症抽出。須臾抽形亦如之。無忌。　又(胸喉間日不食。張口而臥。將油蔥豉</p>
<h3>食積</h3>
<h4>治食積</h4>
<p>凡飲食停滯。胸隔脹滿。或大便不通。或大便泄瀉。或年老。或體虛。難以攻擊內用亂髮(一團剪斷)　酒曲(一個小者二三個亦可)　蔥白(七個)　老薑(二錢)　胡椒(雞蛋(一個)破殼。傾入碗中。將各藥搗融。和入調勻。用隔夜燈油煎成一餅。</p>
<p>貼病患心口下胃脘處。(先用燈油於胃脘處順擦十次再貼如嫌太熱用紙隔貼亦可)用布帶束住。冷則煎熱再貼。約一二時。似覺松動。即便取去。其病立愈。屢試神</p>
<h4>食積血痞</h4>
<p>蔥白搗和蜜攤布上。貼患處。用熨斗微火熨之。</p>
<p>治積聚。及老人虛寒便秘。　巴霜　乾薑　良薑　白芥子　硫黃　甘遂　檳榔(各等分)飯治老人傷冷。及難化之物。　生薑或紫蘇煎湯。揉擦心胃肚腹。氣通即食自化。或煎湯傾浴</p>
<h3>噎隔</h3>
<h4>開隔方</h4>
<p>用牛口涎(以鹽塗牛口即有涎)　狗涎(吊狗一腳即有涎出)　童便煮大附子一個。先於掌心。俟附子臍發時。取弄嗅之。並嗅其湯。亦能開關。　又雄雞破洗。置大碗內糊飯上蒸熟戳孔。以筆管插入含吸之。俟熱氣衝入。喉自開。</p>
<h4>開關丹</h4>
<p>膽星(一個)　瓦楞白降丹(各五分)　白貼。</p>
<h3>咳嗽</h3>
<h4>咳嗽熏法</h4>
<p>天南星　款冬花　石鐘乳　鬱金　雄黃(各等分)為末。以生薑一片含舌上。用艾含煙入喉中。取效。</p>
<h4>久嗽不止</h4>
<p>鶯粟殼末或五倍子末。摻膏貼臍上。　又咳從臍下起者用破故紙末摻膏貼。納氣止。</p>
<h4>乾咳嗽</h4>
<p>火鬱也。薑汁和蜜擦背佳。</p>
<p>胸膈脹滿。咳嗽不安。　宮粉　香油入鐵器內。熬數滾離火。用頭發一團蘸粉。擦胸膈數次勞嗽。火嗽。久嗽。干嗽。食積嗽。酒嗽。　用青黛　栝蔞　貝母研末。和白蜜為丸。</p>
<p>擦之</p>
<h4>咳嗽嗆逆</h4>
<p>雄黃(一錢研細)　黃紙(三張)用雞蛋白將雄黃調勻。搽黃紙上晒乾。卷成紙管。</p>
<p>管或煙筒內。燒燃吸之如吃煙樣。少頃嘔吐嗽止。一日一次。忌食諸物七日。惟食白嫌氣味難受。食白煮豬肉即解。</p>
<h3>哮喘</h3>
<h4>治哮吼妙法</h4>
<p>(喉內有聲而氣喘者是)病發先一時。用鳳仙花。(又名指甲花)連根帶葉熬出濃洗。冷則隨換。以擦至極熱為止。(無則用生薑擦之)再用白錢)共研為末。蜂蜜調勻作餅。火上烘熱。貼背心第三節骨根。務必極力忍耐。切勿輕易揭去。冷則將藥餅啟下。烘熱再愈未愈。多備藥餅換貼。不可間斷。輕則貼一二日。重則貼三雖患此數十年者。貼至數日斷根。無論寒熱虛實鹽醬醋酒哮吼痰氣結胸及咳嗽痰喘)</p>
<h4>治寒哮</h4>
<p>白果　麻黃(各等分)搗塞鼻。</p>
<h4>治遠年近日哮喘痰嗽</h4>
<p>蟬蛻(去足)　輕粉　馬兜鈴(各一兩)　生靈脂　生雄黃　杏仁　生砒(四十九粒)　以生薑　葶藶自然汁丸如黃豆大亦可。以薑汁化一丸。臨臥</p>
<h4>痰實氣喘</h4>
<p>紫蘇子　白芥子　蘿卜子(各等分)炒熨。</p>
<h4>痰喘上氣</h4>
<p>南星或白芥子用薑汁調敷足心。</p>
<p>治肺熱悶不止。胸中喘急。驚悸。客熱來去欲死。不堪服藥。泄胸中喘氣方　桃皮　芫花(</p>
<h4>定喘方</h4>
<p>巴霜　薑汁為丸。橘皮裹塞鼻。</p>
<h3>嘔吐</h3>
<p>治嘔吐。噎膈。反胃。通用方。　胡椒(八分)　酒藥(一個)　蔥頭(五根)捶融。有熱用茶炒嘔吐。面赤。手足心熱者。　竹茹　生薑絞汁。綿浸擦胸口。</p>
<p>治嘔吐。並治噯氣。痞氣。及哮喘有聲。　金沸草　代赭石　土朱(各等分)研末。醋調塗胸</p>
<h4>大吐不止</h4>
<p>附子煎湯抹足。</p>
<p>聞藥即吐。百治不效。　取家中灶心土(藥店買者不真則不效)　水為丸。塞兩鼻孔。即不吐</p>
<h3>呃逆(呃一作咳)</h3>
<h4>陰寒呃逆</h4>
<p>明雄黃(二錢)　燒酒(一杯)煎七分。急令病患。嗅其熱氣即止。　又好硫黃　乳艾(各二錢)　為細末。用好酒一鐘。煎數沸。乘熱氣使患者用鼻嗅之。外用生薑擦胸效。　又黃蠟燒煙。熏二三次即止。</p>
<h4>虛寒呃逆</h4>
<p>麻黃　酒煎。嗅其熱氣。或燒麻黃煙嗅。　又羌活　附子　茴香　木香　乾薑分)　布包。烘熱熨之。　又如陰火上衝者。用龜版　熟地(各四兩)　黃柏　知母(油熬。黃丹收。攤貼臍下。</p>
<h4>久病呃逆</h4>
<p>薑汁白蜜和勻。擦背。</p>
<h4>偶然呃逆</h4>
<p>紙捻通鼻。取嚏即止。</p>
<h3>瀉痢</h3>
<h4>治寒泄</h4>
<p>胡椒末和飯作餅。敷貼臍上。　又熱柴灰布包敷。　又炒鹽敷。　又糯米酒糟和鹽又酒炒艾絨作餅敷。　又胡椒大蒜作餅敷。　又艾葉　灶心土　門斗灰　吳茱萸醋炒敷。均效。(以上各方均敷貼臍上)　又車前子　肉桂(各等分)　研末納臍。</p>
<h4>治熱泄</h4>
<p>車前子搗汁。調甘草(末)　滑石(末各等分)　敷臍。</p>
<h4>氣虛暴泄</h4>
<p>硫黃　枯礬　朱砂(各等分)　研細末。丸納臍。瀉不止。用艾一斤坐身下。以火</p>
<h4>久泄不止</h4>
<p>大蒜搗貼足心。或貼臍中。　又大蒜須加銀朱搗融。敷臍眼內。立止如神。　又(半個)　母丁香(四粒)　麝香(一分)　共為細末。口水調為丸。如黃豆大。納臍中。</p>
<p>外用不拘。小膏藥貼之立止。(並治痢疾)小兒水瀉。不能服藥。　巴豆(三粒)　黃蠟(三錢)共搗爛成膏貼臍上。用絹帕縛住。半日即疾)　又香白芷　乾薑(各一錢)共研細末。</p>
<p>烘熱。熨膏上。氣通即愈。</p>
<h4>寧和堂暖臍膏</h4>
<p>治水瀉白痢神效。孕婦忌貼。　香油(一斤一方用麻油)　生薑(切片一斤)八兩)　熬膏攤布。再加紅藥丸貼臍上。　紅葉丸方。　硫黃(三錢)　母丁香(一分)　加獨蒜(數枚一方不用)搗如泥。入前三味。研勻為丸。如桐子大。飛過</p>
<h4>四時暴患瀉痢</h4>
<p>(四肢臍腹俱冷者)煎百沸湯。令患者坐深湯中。浸至膝上為度。生陽之藥。</p>
<p>無速於此。(按百沸初出恐不能即坐或者先熏俟其稍涼方坐浸耳)</p>
<h4>治痢方</h4>
<p>胡椒(一歲一粒打碎)　大鯽魚(一個去頭尾骨腸)　入椒末搗濃。敷臍上。甚效。</p>
<p>草(一握)煎水浸兩足底　又梧桐葉(三四斤)煎水洗足。　又巴豆(一粒)　綠豆　胡椒(粒)　布包捶碎。用紅棗(二枚)搗為丸。敷臍上。痢即止。止後即去藥。　又川椒(五錢麝香(一分)　大棗(一枚去皮核)　將二藥末摻棗上。放入肚臍。不拘何等膏藥蓋之</p>
<h4>痢疾點眼法</h4>
<p>初胎小兒糞(瓦上焙乾一錢)　雄黃(四分)　梅花冰片(五厘)　為極細末。水調角。無論紅白痢。及噤口痢危篤者。皆神效。</p>
<h4>紅白痢</h4>
<p>蔥(二十四根連須不見水用布拭去泥)　真麻油(十二兩)　鉛粉(四兩)　將蔥入油熬渣。入鉛粉收膏。油紙攤貼肚臍。一周時一換。三張全愈。孕婦忌貼。　又吳茱萸　黃連香(各等分)研細末敷臍。</p>
<h4>瀉痢至於脫肛</h4>
<p>石榴皮　陳壁土加明礬(少許)　濃煎熏洗。再用五倍子炒研細末。敷托而上</p>
<h4>痢後脫肛</h4>
<p>五倍子(三錢研末)　白礬(一塊)　水煎洗。並可研末塗少許於肛門四旁　又五倍為末。放熱鞋底上熨之。　又經霜浮萍草。新瓦焙乾為末。熱鞋底上熨之。</p>
<h4>噤口痢</h4>
<p>田螺(一個)　搗碎入麝香(少許)　罨臍中。引熱下行即效。又細辛(五錢)　牙皂(蔥(三根)　酒藥子(半個)　大田螺(一個)　共搗成泥。敷臍中。候干即去藥。自然新大附子(一個)切片。貼於新鍛石上。洒之以水。俟熱即取附子片貼臍上。冷再次愈。　又雄黃　巴豆　朱砂　蓖麻子　麝香(各等分)　搗為細末。和蜜為丸。</p>
<p>收好不可泄氣。放眉心。以膏藥蓋之。一炷香久。腹內自響。即思飲食。去藥而百發百中可以預合濟人)　又黃瓜藤(經霜者更效燒存性)香油調敷肚臍上。　又吳醋調敷兩足心極效。(此亦引熱下行之法)　又木鱉子仁(六個)　分作二分。用面分作兩半只。用半餅作一劑。納在內。乘熱覆在病患臍上。一時再換半個熱餅思飲食。　又蒼朮　甘草　陳皮　厚朴(各等分)　為粗末。用布包之。放在肚布上。逼藥氣入腹。病者覺腹中爽快。即將藥放枕頭下。以受藥氣。一日連熨痢漸止。即能飲食矣。　又真烏梅(一斤)打碎。熬水十數碗入一桶內。令病患堵塞。不令出氣。使熱氣衝上糞門。如溫即洗。其人即睡去。隨扶令安臥待醒以粥湯半盞食之。少頃再食。不宜飽餐。當漸漸加增。小兒烏梅減半用之。神錘(或磚石)　燒紅。放瓦盆內。好醋淬入。令病患聞之。一日數次。甚效。冷熬令黃。搗為末。和臘月豬脂更搗。令熟為丸。綿裹如棗許大。納下部中。因者。不過三度即瘥。</p>
<h4>療疳法</h4>
<p>男婦小兒久痢。百方不效。此方最驗。用丁香　麝香　黃連(各等分)　搗為末。似大。取竹筒吹入下部。小兒取核子。量力減之。不過三四度瘥。</p>
<h2>卷二</h2>
<h3>身</h3>
<h4>身體麻木</h4>
<p>芥子末醋調塗之。</p>
<h4>遍身搔癢</h4>
<p>蒼耳子約半斤。煎水洗之效。　又茵陳煮濃汁洗之。</p>
<h4>風燥身癢</h4>
<p>威靈仙　零陵香　茅香(各半斤)　干荷葉　本　藿香　白芷　甘松(各四兩)細。每用四兩。水一桶半。熬數沸。於房內沐浴。</p>
<h4>遍身生泡</h4>
<p>桃枝連葉煎湯頻洗。</p>
<h4>身上無故生蛆</h4>
<p>蛇蛻研末。麻油調擦。蛆出自愈。</p>
<h4>體臭</h4>
<p>竹葉(十兩)　桃白皮(四兩)　水一石二斗。煮取五斗。浴即香。</p>
<h4>皮裡作痛</h4>
<p>不問何處用何首烏末薑汁調成膏。塗上。以帛裹住。火炙鞋底熨之。</p>
<h4>皮膚血濺</h4>
<p>以煮酒壇上紙數張。扯碎如楊花。攤在出血處。按之即止。勿扯去。</p>
<h4>治筋疙瘩</h4>
<p>五倍子(一兩)　密陀僧(一錢)　共研末。水調塗。膏藥貼之。日久自消。</p>
<p>飛絲纏住耳鼻手足等處。腫痛不已。　威靈仙煎濃湯洗即愈。</p>
<h3>頭</h3>
<h4>偏正頭風</h4>
<p>此症發時。雖盛暑亦覺畏風。痛不可忍。用蕎麥粉炒熱。加醋再炒。乘熱敷上。</p>
<p>緊。勿令見風。冷則隨換。日夜不斷自愈。愈後鼻流黃水數日。從此斷根。此治頭風方。(並治尋常傷風頭痛惟氣虛及風火蟲痛不效)　又陳年黑魚頭。煎湯熏數次斷根。</p>
<p>蝥(一個去頭足翅)　隔紙研細為末。篩去衣殼。將末少許。點膏藥上。如患左痛貼右右痛貼左。隔足半日取下。永不再發。久貼恐起泡。　又硫黃(一錢)　川椒(取紅色為末三分)　二味拌勻。熔成小餅。左疼塞左鼻。清涕從右鼻出。右疼塞右鼻。正疼塞。清涕流盡即愈。　又真蘄艾揉融為丸。時時向鼻嗅之。以黃水出盡為度。　又鳳尾融。加麝香(一分)拌勻。敷囟門上甚效。　又天時陰雨即發。用桂心末(一兩)酒調塗額上。　又決明子(三錢)研末。水調貼太陽穴。甚妙。　又木槿子燒煙熏患處。　又　本辛(各五分)　白芷(一錢)　辛夷(八分)共研細末。用紙條四條卷實。將火點著。以煙熏鼻。</p>
<p>日熏二次。即效。　又穀精草(一兩為末)　白面糊調又穀精草(末)　銅綠(各一錢)　硝石(五厘)　隨左右搐鼻。　又川芎(五錢)　晚蠶砂(二兩)　僵蠶(如患者年歲之數)　水五碗。就砂鍋中。以濃紙糊滿。中開錢大一孔。取藥氣熏蒸痛處。每日一次。雖年久者。三五次。永不再發。　又生牛蒡子梗葉。(無梗葉用根)取自然汁兩碗。陳酒一碗。食鹽八分。共熬成膏。塗之。須極力搽熱。乃效。凡頭風抽掣作痛者。用此必愈。</p>
<h4>偏頭痛</h4>
<p>鮮蘿卜搗爛。絞自然汁。加冰片少許調勻。昂頭灌入鼻孔。左疼灌左。右疼灌右。</p>
<p>即愈。　又蘄艾(一團如胡桃大)　生半夏(少許研極細末)　剪棉料紙(一方)將艾鋪紙上夏末放艾上。連紙藥共卷如小指粗。塞鼻孔內。左痛塞右。右痛塞左。隔一宿。俟鼻內清涕為度。倘一次不愈。再塞一次。則無不除根矣。　又生薑(三片)　將桑皮紙包好。</p>
<p>入灰火中煨熟。乘熱將印堂兩太陽各貼一片。以帶纏之。立愈。(並治太陽風寒頭痛)芷細辛　石膏　乳香(去油)　沒藥(去油各等分)為末。吹入鼻中。左痛吹右。右痛頭痛　遠志末搐鼻。　又大鮮紅蘿卜皮。貼太陽穴。　又吳茱萸煎濃湯。以綿染。頻拭發根。</p>
<p>又蕎麥粉冷水調敷。痛去立愈。　又柚葉同蔥白搗爛。貼太陽穴。　又年久者用蘿卜子生薑(各四錢)　搗取汁。入麝香末(四厘)　灌入鼻中。立止。</p>
<h4>頭風沐方</h4>
<p>葶藶子煮沐。不過三四度愈。　又川椒(二升)　以水煮取汁。沐發良。　又川芎(各一兩)　薄荷　甘草(各二兩)　僵蠶(每歲一條)　右藥水煎。每日中早晚各洗一次三日為止。忌見風。</p>
<h4>頭痛覺熱</h4>
<p>白蕃薯切片。隨痛處貼之。干即易。</p>
<h4>頭風畏冷</h4>
<p>桑木燒灰淋汁。乘熱熏洗效。</p>
<h4>虛火頭痛</h4>
<p>用南棗切片。貼兩太陽穴效。</p>
<h4>風痰頭疼</h4>
<p>苦瓠膜取汁。以葦筒灌入鼻中。其氣上達腦門。須臾惡涎流下。其病立愈。干者效。其子為末。吹入亦效。年久頭風皆愈。</p>
<h4>濕氣頭痛</h4>
<p>甜瓜蒂末。搐入鼻中。口含冷水。取出黃水愈。</p>
<h4>濕熱頭痛</h4>
<p>黑牽牛(七粒)　砂仁(一粒)　研末。井華水調汁。仰灌鼻中。待涎出即愈。</p>
<h4>風氣頭痛甚者</h4>
<p>乳香　蓖麻仁(各等分)　搗餅。隨左右貼太陽穴。解發出氣。甚效。</p>
<h4>頭風風眼</h4>
<p>蕎麥作錢大餅。貼眼四角。以米大艾炷灸之。即見愈。</p>
<h4>頭皮虛腫</h4>
<p>薄如蒸餅。狀如裹水。口嚼白面。敷之良。</p>
<h4>頭皮腫痛</h4>
<p>好雞蛋黃白調勻。塗腫處即愈。又杏仁搗膏。和雞子黃。杵塗帛上濃裹之。干則八次愈。　又杏仁杵為膏。塗之。</p>
<h4>頭面發腫豬頭風</h4>
<p>野苧根(數兩)　搗爛。敷之即愈。</p>
<h4>琉璃頭癤</h4>
<p>舊鞋底燒灰。菜油調搽。神效。</p>
<h4>頭上軟癤</h4>
<p>野芋頭磨醋敷。或用大芋搗敷亦效。　又雞肫皮　明礬為末。麻油調塗。</p>
<h4>頭瘡不愈</h4>
<p>菖蒲末油調敷。日夜各二次。</p>
<h4>頭上薄皮瘡</h4>
<p>馬齒莧熬水。每日洗二三次即愈。</p>
<h4>頭瘡生蛆</h4>
<p>以刀刺瘡破。擠絲瓜葉汁搽之。蛆自出。</p>
<h4>頭上瘡不干</h4>
<p>用鞋底泥擦上。即效。</p>
<h4>頭面癬瘡</h4>
<p>生白果中切斷。頻擦取效。</p>
<h4>小兒頭瘡</h4>
<p>桃梟燒研入膩粉。麻油調搽。　又杏仁燒灰敷之。　又麻子(五升)研細末。絞汁之。　又糯米飯燒灰入輕粉。清油調敷。　又舊油頭繩燒灰。油調塗立愈。　又烏梅研末。生油調塗。</p>
<p>禿瘡(一名臘梨又名癩頭)　麻子(二升)熬焦末。以豬脂和塗之。發生為度。　又初起者。</p>
<p>用邊妙</p>
<h4>白禿瘡</h4>
<p>白面　豆豉和研敷。　又紫草煎汁塗之。　又雄黃末豬膽汁。　調敷即愈。</p>
<h4>小兒禿瘡</h4>
<p>冷泔水洗淨。以羊角蔥搗泥入蜜。和塗之。神效。　又陳火腿骨燒灰。如癢加礬麻油調敷。不生發用老薑擦。　又楸葉搗汁塗。　又蕪菁葉燒灰。和脂塗。</p>
<h4>小兒白禿瘡美首膏</h4>
<p>百草霜　雄黃(各一兩)　膽礬(六錢)　輕粉(一錢)　榆皮(三錢)　用石土渣。(四兩)　共為細末。豬膽調。剃頭後塗之。神效。</p>
<h4>頭風白屑</h4>
<p>桑灰汁沐之良。　又楮木作枕。六十日一易新者。　又藜蘆末煎湯。洗頭半干時藜蘆末摻上。令入皮內。用布扎緊。數日即愈。　又王不留行　白芷(各三錢)　研末一夜。梳去即愈。</p>
<p>腦漏(一名鼻淵)　白鵓鴿翎毛(三錢)。擦生漆絲綿(一塊如無絲綿即揩漆布亦可須問漆匠鋪鼻內。不過三四次即愈。　又大蒜切片。貼足心。取效止。　又真松花粉。時時荔枝燒灰存性。綿裹塞鼻內。立效。　又燒酒半壺。煎極滾。鼻吸熱氣入腦玉蘭花蕊。塞鼻即愈。</p>
<h4>腦破骨折</h4>
<p>蜜和蔥白搗勻。濃封立效。</p>
<h3>發</h3>
<h4>沐發方</h4>
<p>取生柏葉細銼一斗。煮取湯。沐發妙。　又桑根白皮切一升。淹漬煮五六沸去滓。</p>
<p>沐發。數數為之。不復落。　又桑根白皮　柏葉(各一斤)　宣木瓜(半斤)泡油。搽頭即潤。</p>
<h4>發不生</h4>
<p>側柏葉陰乾作末。和麻油塗。　又生胡麻油塗之。　又用米泔水洗淨。以柴灶內百(五錢)　水粉(二錢)　研勻。生麻油調搽。　又婦人禿鬢發稀。用川椒(四兩)酒浸密室日日塗之。自然長出。</p>
<h4>發短而少</h4>
<p>桑葉　麻葉(一方作麻油)　用米泔水煮汁洗之。洗至七次。可長數寸。</p>
<h4>發易脫落</h4>
<p>榧子(三個)　胡桃(兩個)　側柏葉(一兩)　搗浸雪水梳發。永不落且潤。　又覆汁。日塗之。</p>
<h4>頭腦內癢漸至發落</h4>
<p>蘆薈　苦楝子(各一錢)為末。吹入鼻內。數次自愈。</p>
<h4>發黃而赤</h4>
<p>生柏葉(一斤研末)　豬油和為丸。如彈子大。每日用一丸。米泔水放開洗之。一黑而潤。</p>
<h4>令發長黑</h4>
<p>蔓荊子　熊脂(等分)調塗之。　又生麻油桑葉煎過。去滓沐之。</p>
<h4>白發還黑</h4>
<p>生麻油浸烏梅。塗之良。　又用鹽湯洗沐。以生麻油和蒲葦灰敷之。</p>
<h4>染發令黑</h4>
<p>醋煮黑豆去渣。煎稠染之。</p>
<h4>蒜發</h4>
<p>蔓菁子油日日塗之。</p>
<h4>咬發癬</h4>
<p>黃連　黃柏(各五分)　飛丹　枯礬(各一錢)　松香(二錢)　煙膏(四錢)研末。以紫連。浸油調搽。發中生癤如珠。相染不已。此名火珠。遲則難治。急用生蘿卜搗爛。好醋泡透敷之。</p>
<h4>鬈毛瘡</h4>
<p>生頭上如葡萄狀。用黃柏(一兩)　乳香(二錢五分)為末。槐花煎水調敷。</p>
<h4>鬢邊疽</h4>
<p>數年不愈者。用豬貓頭上毛(各一撮　灰)　又雄鼠糞(一粒)研末。以青油調搽立</p>
<h3>眉</h3>
<h4>眉毛不生</h4>
<p>芥子　半夏(等分)為末。生薑自然汁調塗。數次即生。　又桑葉(七片)日日洗之復生如舊。(發落亦然)　又脂麻花陰乾為末。用楷灰加麻油調塗。　又黑脂麻花陰乾以黑脂麻油泡之。日搽數次自生。　又旋覆花　天麻　防風(各一錢)　共研末。麻油旱蓮草搗敷。數日即生。(並治發落不生)　又雄黃末(一兩)好醋調搽即生。</p>
<h4>眉毛脫落</h4>
<p>蔓菁子(四兩)　炒研醋和塗之。</p>
<h4>眉上生瘡</h4>
<p>肥皂(燒存性)　枯礬(要燒透)　各等分為末。麻油調搽。先用白礬泡水洗淨。</p>
<h3>面</h3>
<h4>面上生瘡</h4>
<p>急尋有殼蝸牛(一二個)　搗融攤紙上貼之。中間留一小孔出氣。初起用之神效。</p>
<p>又方鹿角(燒研末)　豬膽調搽。　又生杏仁搗爛　。以雞子清調勻。捻成煎餅。至夜洗面</p>
<h4>面上生五色瘡</h4>
<p>溫鹽湯綿浸拓瘡上。每日五六度。二三日自瘥。</p>
<h4>肺熱面瘡</h4>
<p>苦絲瓜　牙皂莢(等分)　燒灰。油調搽。</p>
<h4>面腫</h4>
<p>杏仁杵為膏。搽之自消。</p>
<h4>面上粉刺</h4>
<p>(又名酒刺由肺經血熱而生)輕粉　黃芩　白芷　白附子　防風(各一錢)　為末蜜復洗面擦之。三日消痕滅跡。　又白礬酒調敷。　又白蘞以雞子白和勻。用井花水洗淨敷之。三五次即效。</p>
<h4>面上風刺</h4>
<p>黑牽牛酒浸三宿為末。先以薑汁擦面後。用藥塗之。</p>
<h4>面上雀斑</h4>
<p>白茯苓末。夜夜敷之。二七日愈。　又紫背浮萍　漢防己煎水洗。或晒乾為末。搽之甚效。　又蒼耳草嫩葉尖和鹽少許搗爛。五六月間。日擦十余次。效。　又鷹屎白水調附子　蛤粉　茯苓　白芷　陀僧　山柰(各五錢)共為末。蜜調擦面上。次日洗去治酒刺)</p>
<h4>面</h4>
<p>李子仁和雞子清塗上。則落。又皂角子　杏仁(各等分)研勻。夜以津和塗之。　又橙濕研。夜夜塗之。　又白附子末以水和塗。頻頻用。即落盡。</p>
<h4>雀卵面</h4>
<p>桃花　冬瓜仁(等分)　研末。蜜調敷。</p>
<h4>面上子</h4>
<p>七月七日午時。取瓜葉七十一片。直入北堂中面南立。逐片拭　即滅。</p>
<h4>面上黑子</h4>
<p>鵝不食草煎湯。日洗之。</p>
<h4>面上黑氣</h4>
<p>半夏(焙研)　米醋調敷。不可見風。不計遍數。從早至晚。時時敷之。如此　三角湯洗之。面瑩如玉。</p>
<h4>面黑令白</h4>
<p>天門冬晒乾。和蜜搗作丸。日用洗面。　又栝蔞瓤(三兩)　杏仁(一兩)　豬胰(研如膏。夜夜塗之。令面光潤。冬月不皴。</p>
<h4>面黑皮濃</h4>
<p>羊脛骨(末)　雞子清調。每夜敷。早以米泔水洗去。十日後。面白皮嫩。神效。</p>
<h4>面生皺紋</h4>
<p>大母豬蹄(四個)　洗淨煮成膏。臥時搽面上。次早洗去。半月後即不皺矣。</p>
<h4>冬天面唇皺破</h4>
<p>熟豬油。夜夜敷之。</p>
<h4>面上瘢痕</h4>
<p>蒺藜子　山梔子(各一合)　為末。醋和勻。夜塗旦洗。</p>
<h4>洗面光彩</h4>
<p>輕粉　滑石(水飛淨)　杏仁(去皮取霜各等分)　為末蒸過。加冰片(少許一方並少許)　用雞子清去黃調勻。</p>
<p>洗面敷之。一月後色如紅玉。名紅玉膏。　又頂上金色密陀僧(一兩)　研細末。</p>
<p>用人乳或蜜。調如薄漿糊。每夜略蒸。待熱敷面。次早又冬桑葉煎濃汁收藏。冬月早晨用一酒杯攙入水內洗面。光滑如鏡。面亦不凍。</p>
<h4>兩腮赤腫</h4>
<p>(又名　腮)醋調陳鍛石敷。　又絲瓜燒存性。研末。水調塗。　又皂角(二兩)生南星(二錢)　糯米(一合)　共為末。薑汁調敷。立效。　又大黃　白芨　五倍子共為末。</p>
<p>被酒仆石。面額俱傷。血流不止。　水磨橄欖汁塗之。信宿而愈。</p>
<h3>目</h3>
<h4>明目枕</h4>
<p>蕎麥皮　綠豆皮　黑豆皮　決明子　菊花同作枕。至老目明。</p>
<h4>洗眼方</h4>
<p>每年九月廿三日。用桑葉煎水洗目一次。至老永不昏暗。且夜能看細書。其妙無窮葉須五月五日。六月六日。立冬日采者為佳。同黑脂麻等分。蜜丸。名為扶桑丸。能除烏須明目。</p>
<h4>一切眼疾</h4>
<p>箬葉(即　葉)燒灰。用布淋汁洗之。洗久自效。　又韭菜根洗淨。用橘葉外裹。</p>
<p>右。塞鼻中。過夜即愈。屢效。　又青萍(少許)研爛。入頂上梅花冰片(少許)　貼眼過夜漸散。治　肉攀睛。神效。　又冬天取淨臘雪。將大荸薺同雪水磨粉晒乾。加冰許)入鵝毛管中。點眼神效。</p>
<h4>治赤眼</h4>
<p>黃丹　白蜜調貼太陽穴。止痛立效。　又以鹽湯洗之。　又用人乳浸黃連蒸過。頻效。　又燒荊木出黃汁敷之。　又芙蓉末水和。貼太陽穴。　又薑汁調飛礬。塗眼皮上即止。　又雄狗尿乘熱搽。如神。　又五更頭。用自家熱小便蘸洗。　又澀痛者。用三水塗眼眶胞效。　又桑葉為末。紙卷燒煙。熏鼻取效。　又荸薺汁塗上。即效。　又日愈者。用蕤仁(選白淨者去殼研細去淨油不淨不效)調白蜜。用骨簪點眼內角。即能退紅效驗之至。</p>
<h4>風火眼</h4>
<p>童便煎甘菊湯。頻頻洗之。　又久害不愈。尚未生翳。用生薑汁一點即愈。</p>
<h4>爛弦風眼</h4>
<p>羯羊膽去其中脂。滿填好蜜。拌勻蒸之候干。即入瓶細研。為膏點眼。以蜜采百食百草。故名二百味花草膏。　又真麻油浸原蠶砂二三日。研細以篦子塗患處。不問隔宿即愈。名一抹膏。又薄荷以生薑汁浸一宿。晒乾為末。每用一錢。沸湯泡洗。</p>
<p>子葉搗取汁。以皂紗蒙目。將筆蘸藥汁。畫兩眸子於紗上。然後以汁滴之。當有蟲出</p>
<h4>目中風腫</h4>
<p>枸杞根白皮　伏雞子殼(等分)　搗極細末。著目上。　又搗杞汁洗之。日六七度</p>
<h4>目赤生翳</h4>
<p>枸杞子搗汁。日點三五次。神驗。</p>
<h4>明目去翳</h4>
<p>鵝不食草(搗汁熬膏一兩)　爐甘石(火　童便淬三次三錢)　上等磁器末(一錢五膽(二錢)　砂(少許)為極細末。和作膏。點翳上。一夜取下。用黃連黃柏煎湯洗再點。　又好焰硝(一兩銅器熔化)　入飛黃丹(二分)　頂上梅花冰片(二分)　銅筷磁瓶收之。以蠟封口。勿令泄氣。每點少許。其效如神。名天賜膏。</p>
<p>又治遠年攀睛翳膜。名五退散。　人蛻(即指甲乳汁炒為末)　山甲(炒)　蟬蛻(洗淨炒)　龍蛻(即蛇殼炒)鼻。患注少去。</p>
<h4>眼中起星</h4>
<p>以人乳磨山慈菇汁。滴目中。日三四次。　又鵝不食草塞鼻。左眼塞右。右眼塞日即無星。初起者效。久則不能去。又樟腦　東丹(耳。以綿塞耳。隔宿即愈。</p>
<h4>眼中息肉</h4>
<p>馬齒莧(一大握)　洗淨。和芒硝(少許)綿裹。安上頻易之。</p>
<p>目生　肉。或痛。或癢。漸覆瞳仁。　杏仁(去皮二錢五分)　水粉(五錢)　同捶爛。綿裹箸。不過半日即遮白眼。一日即遮黑眼者。用刀上鐵鏽。滴涼水少許。以筷子頭磨起鏽水點患處。頻點即開。</p>
<h4>目中生管</h4>
<p>(即　肉之類以上各方亦可治)　生白蜜塗目。仰臥半日洗去。每日一次。自愈。</p>
<p>又櫻桃(三個去核炒)　研末。紙卷條燒。熏之即消。</p>
<p>眼中如有蟲行。癢不可忍。　羌活　枯礬　硼砂共研細末。(入口無渣方合用)　口水調如米</p>
<h4>眼內生蟲</h4>
<p>紅棗(去核)用黑礬填滿棗內。入炭火內煨過。研為細末。再用朴硝放砂鍋內。熬成珠。取出候冷。不必研末。用棗礬末(一二錢)　朴硝(五六分)　一並和勻。開水對一夜洗之。三五次即愈。</p>
<h4>眼邊生蟲</h4>
<p>鮮色銅綠(三錢研末)　以生蜜濃調塗粗碗內。用艾葉燒煙。將碗覆艾煙上熏之。</p>
<p>須熏至銅綠焦黑為度。取起冷定。以人乳調勻。飯上蒸過塗之。並治眼邊濕爛紅腫。及痘後</p>
<h4>眼皮生珠</h4>
<p>(俗名偷針)　生南星(研末)　生地黃(等分)　同搗成膏。貼兩太陽穴。腫自消。</p>
<p>又臭蟲血。每日點敷。神效。又用蛇蛻皮貼之。又白芨磨水點之。又精豬肉貼之。</p>
<p>眼泡生珠。生菌。堅凝不痛。　取過江蛛絲纏之。即落。(凡蜘蛛牽絲搭過屋者謂之過江)</p>
<h4>眼珠縮入</h4>
<p>老薑燒熱。敷眉心即愈。</p>
<h4>眼珠傷損</h4>
<p>凡眼珠打出。或觸傷。或火炮沖傷。用南瓜瓤搗爛濃敷。外用布包好勿動。漸次定。干則再換。如瞳人未破。仍能視物。瓜以愈老愈佳。如無南瓜。用野三七葉敷。</p>
<p>地黃浸酒搗敷亦可。(南瓜北人呼為倭瓜)又用牛口涎日點二次。避風即愈。忌酒並又如火藥沖眼欲瞎者。急用熱小便頻洗。自愈。又如眼珠受傷突出。趕緊揉進片)　當歸　赤石脂末(各少許)　摻肉上貼之。即愈。又眼目打傷青腫。以調塗之。即效。</p>
<p>眼見黑花。或黃白不定。(此肝腎虛風上攻)　附子(泡)　廣木香(末各一兩)　青鹽(一兩五</p>
<h4>眼生蘿</h4>
<p>卜花　大蘿卜(一個)　剜空。入生雞蛋白(一個)包好。種土內。待開花結子後。取蛋白研細。加白爐甘石(以浮水者為佳用童便浸七日用炭火銷銀朱鍋內　紅再入童便內浸十日晒乾研末一錢)　真熊膽(五分)　頂上牙色梅花冰片(一分五厘)　共為末。調蜜點眼。一日眼生花翳。澀痛難開。　慎火草搗汁。日點三五次。</p>
<h4>兩目忽然不見</h4>
<p>取地上三尺下黃土。攪水澄清。洗之。又令人嚼母薑。用舌日舐六七次。</p>
<h4>頭風痛壞一目</h4>
<p>川貝母(一粒)　白胡椒(七粒)　共研末。蔥頭汁為丸。如柏子大。用膏藥貼可重明。</p>
<h4>眼盲腦痛</h4>
<p>鯉魚腦並膽(等分)　調以注目　。日三良。(並治雀目)</p>
<h4>雀目</h4>
<p>雀頭取血。滴眼中即效。</p>
<h4>目熱雀盲</h4>
<p>地膚苗葉。煎水洗。</p>
<h4>青盲內障</h4>
<p>雄鼠膽　鯉魚膽(各一個)　和勻。每日早起滴之。又豬膽(一個)　微火煎之。</p>
<p>可丸如黍米大。納眼中。食頃良。</p>
<h4>雙目不明</h4>
<p>黑豆(一百粒)　黃菊花(五朵)　皮硝(六錢)　水一鐘。煎七分。帶熱熏洗。五日洗。一年後可以復明。平日忌茶。並戒惱怒。又雞膽(一個)　入蜜半匙。以線扎緊膽內。掛房檐下。通風不見日處。二十一日去豬膽留雞膽。先以人乳點患處潤之。</p>
<p>簪蘸雞膽點上。遍身透涼。流淚出汗。二三次即明。忌茶百日。可將霜降後桑葉煎湯並忌惱怒。</p>
<h4>目多淚</h4>
<p>鯽魚膽(七個)　人乳(一盞)　和勻。飯上蒸一二次。點眼。其淚自收。</p>
<h4>眼瞠成漏</h4>
<p>凡眼下空處生癤。出膿流水不干。日久成漏。諸藥不應者。柿餅去皮取肉。搗爛十日全愈。</p>
<h4>拳毛倒睫</h4>
<p>五倍子為末。蜜調敷眼皮上。其睫自起。又摘去拳毛。以虱子血滴數次愈。</p>
<p>又木鱉子(一個去殼)　搗爛。綿裹塞鼻。左目塞右。右目塞左。一二夜。其睫自出。(切不愈。</p>
<p>起</p>
<h4>蟹睛</h4>
<p>鱔魚血。晒乾蘸點。</p>
<h4>眼癬</h4>
<p>杏葉煎湯洗。又銅綠　膽礬(或加明雄黃)　塗碗上。以牙皂　荊芥　薄荷　艾葉卷點。熏升黃色搽之。</p>
<h4>暑月行路眼昏</h4>
<p>薄荷葉揉汁滴。</p>
<h4>茫草沙石等瞇目不出</h4>
<p>磨好墨以新筆點注目中瞳子上。又鹽　豉(各少許)　著水中。臨目</p>
<h4>麥芒入目</h4>
<p>煮大麥汁注眼中即出。或煮水洗。又用蠐螬蟲(即糞草堆內之灰白蟲)　搗爛敷(並治竹木入眼)</p>
<h4>蟾酥入目</h4><p>紫草取汁。點之即消。</p>
<h4>泥沙入目</h4>
<p>頂粗牛膝一條。約二寸長。本人自行嚼爛。(患左眼於口內右嚼右眼左嚼)吐出搓於兩眼角。其淚流必多。少刻泥沙裹藥盡出。雖腫痛欲瞎。無不立效。</p>
<h4>塵芒入目</h4>
<p>生藕汁滴入自出。(或用大藕洗搗綿裹滴汁入目中)</p>
<h4>塵屑入目</h4>
<p>人指甲以津唾磨濃。點之頃刻。一抹即出。</p>
<h4>飛絲入目</h4>
<p>白菜揉爛帕包。滴汁二三點即出。又荷花缸內細泥汁。點之即消。又芥菜汁葉滋點之。又凡諸藥不效。赤腫痛甚者。以滾水一杯。入食鹽(少許)　明礬浸入水片刻。其絲自落水中。又好墨磨濃。用新筆蘸點眼角內。閉目片時用手輕抹即出。(雜物入目亦可治並可散翳或用京墨點眼以燈草撥去)</p>
<h4>煙渣入目</h4>
<p>用亂頭發或棕櫻。緩緩揉之即愈。(勿用湯洗)</p>
<h4>鍛石入目</h4>
<p>生梔子煎濃汁頻洗。</p>
<h4>箭頭入目</h4>
<p>米糖點入。待其發癢。一拔即出。</p>
<h4>雜物入目</h4>
<p>雞冠血滴(少許)　入眼能出。又新桑根皮洗淨搗爛。入目撥之自出。</p>
<h3>耳</h3>
<h4>治聾</h4>
<p>鯉魚膽滴耳。又取蛇膏塞耳中神效。　又烏公雞脂綿裹塞耳效。又甘草末吹入左遂末吹入右耳即通。兩藥須兩處買。又以竹筒盛鯉魚腦。蒸之令烊。以灌耳中。</p>
<p>又雄黃　硫黃(等分)　綿裹塞耳中。數月聞。又老鼠膽汁滴耳中。二三次效。又菖蒲附子(泡各二兩)　搗末。以苦酒和丸。如棗核許。綿裹臥即塞耳中。夜一易之。十日有黃水十於飯甑中蒸之。候飯熟。出一裹。令患者側臥。和綿捻以油汁入耳中。久又以一裹進前捻之。瘥為度。又左耳聾。婦人常有之。多怒故也。右耳聾。男子常有之。好色故也。用麝香(三厘或用羚羊角代)研末。先入耳中。然後用好燒酒滴兩三點入耳中。又用蔥一棵去頭梢取管。插入耳中。以通其氣。少頃即愈。</p>
<h4>耳暴聾</h4>
<p>芥子末人乳和丸。綿裹塞。日二易。又椒目　巴豆肉　石菖蒲　松香(各一錢五末。以蠟融化和勻。作筒子樣。綿裹納耳中。一日一換。神效。</p>
<h4>耳忽聾閉</h4>
<p>木香(研末)　酒浸一宿。取酒滴入耳中。少頃倒出。二三次即瘥。</p>
<h4>兩耳聾閉</h4>
<p>北細辛末(一錢)　將黃蠟熔化為丸。如鼠糞大。以綿裹塞耳。一二次即愈。切戒又甘草　生地研極細末。胭脂包三分。日間塞耳。　甘遂　草烏研極細末。綿花包間塞耳。甚效。又真麝香(一二分)　綿包塞耳。一日後。耳中如雷鳴。屢試神效。</p>
<h4>耳塞聾閉</h4>
<p>生麻油日點三五次。候耳中塞出愈。</p>
<h4>耳聾不聞人聲</h4>
<p>松脂(四分)　巴豆(去皮心熬)　麻子仁　蠟　薰陸香　石鹽(各二分)　上六膏。丸棗核大。納耳中。三日一易。取瘥。</p>
<h4>腎虛耳聾</h4>
<p>靈磁石(如豆大一塊)同穿山甲　末。綿裹塞耳中。口含生鐵一塊。覺耳中如風雨通。又聲響如風水鳴。如鐘磬音者。用真川椒　巴豆　菖蒲同研細。以松香　黃蠟為丸一日一換。初起者數日即通。神效。</p>
<h4>病後耳聾</h4>
<p>生菖蒲汁滴之。</p>
<h4>耳聾有膿</h4>
<p>番木鱉(一個)　磨水滴耳。即效。又蒲黃末摻之。又雞冠血滴入耳內。即愈骨(去甲炙)　釜底墨(各二分)　附子(泡四分)　禹餘糧　龍骨　伏龍肝(各二搗末取如皂莢子許大。綿裹納耳中。日一易。取瘥。有蟲加麝香一豆大。</p>
<h4>耳出膿汁</h4>
<p>杏仁炒黑搗膏。綿裹納入。日三四易。良。又胭脂綿(五分煨存性)　枯礬(一摻之。</p>
<h4>耳中膿水不干</h4>
<p>石榴花瓣不拘多少。炙脆研末。加冰片(少許)再研吹耳。自愈。又羊屎彈礬輕粉(各五分)　上為末。用綿花卷淨耳內膿。將葦管吹入。效。</p>
<h4>耳出汁</h4>
<p>陳皮(燒研一錢)　麝香(少許)為末。日摻立效。又青皮(燒研末)　綿包塞然汁入滴三次。</p>
<h4>耳出臭膿</h4>
<p>龍骨(　)　五倍子(炒)　乳香　枯礬　血余灰(各等分)　為末。卷淨膿水。吹之</p>
<h4>耳膿血出</h4>
<p>附子末。以蔥涕和。灌耳中。取瘥。單用蔥涕灌亦佳。須側臥令入。又桃仁緋絹裹塞耳中。日三易。以瘥為度。又釜月下墨。以豬膏和綿裹納耳中。日再。</p>
<p>又黃連　附子(泡各等分)　搗末。先用綿花卷淨惡物。然後以藥末少許。微微吹入。良耳中腫痛。並出膿血。　橄欖核(燒存性)　每一枚。入冰片(二厘)　研極細末。吹入耳中。</p>
<h4>耳常出血</h4>
<p>五色龍骨(　)　研細末。吹入耳中即止。又人牙(　存性)　出火毒。入麝香(少許)　共研吹之。</p>
<p>耳內有蟲。膿血不干。　雞蛋(一個香油炒)　豬肝(四五錢香油炒)　黑芝麻(一升炒研)同</p>
<h4>耳爛</h4>
<p>胭脂　陳皮　燈草(燒灰各一錢)　冰片(一分)　研勻吹之。</p>
<p>耳內生粒如棉花子大。極痛。名耳定。　人指甲瓦上焙枯存性研末。加牙色梅花冰片(少許)吹入。極效。</p>
<p>耳閉不通。又作痛。　大田螺(一個)　撥開蓋。入麝香。(五分)　自化成水滴入。又每日時時行之。久則自效如神。</p>
<h4>耳卒疼痛</h4>
<p>蒸鹽以軟布裹熨之。又瓦松搗汁灌之。</p>
<h4>耳底痛</h4>
<p>鬱金磨汁滴之。又鮮虎耳草搗汁滴之。</p>
<h4>耳鳴耳癢</h4>
<p>生烏頭(一個)　乘濕削如棗核大。塞耳。日換數次。過三五日便愈。久恐成聾。</p>
<h4>耳鳴</h4>
<p>生地黃截斷塞耳。日十易之。瘥。或用紙裹微火中煨之塞。又巴豆(二枚去皮熬)(二枚去皮熬)　松脂(大豆許)　搗作二丸。綿裹塞耳中。</p>
<p>耳疳。震耳。纏耳。停耳。風耳。　各症俱系耳內悶腫出膿。但膿色不一。而名各異。</p>
<p>耳疳成。</p>
<p>核桃和冰片。滴之即愈。又桑螵蛸(一個燒存性)　麝香(一分)研末摻入。神效。有膿先絞淨。</p>
<p>又鱔魚血滴入。甚效。又白礬(煨研)　入麝香(少許)　綿裹塞耳中。又頭發(瓦上燒存性)研神之。</p>
<h4>耳外濕瘡</h4>
<p>大雞腰子(一對蒸熟去皮)　枯礬(三分)　共搗融。加頂上冰片(一二分)敷之。(兒胎毒及頭面耳前後一切濕瘡兼羊須瘡)又黃丹(一錢)　松香(八分)　輕粉　枯礬(共為細末。香油調擦效。</p>
<h4>耳下生瘡</h4>
<p>用鉛粉摻之。</p>
<h4>耳後銳毒</h4>
<p>大天南星　存性。醋調塗三次。即愈。</p>
<h4>耳被挖傷</h4>
<p>金頭蜈蚣(一條瓦上焙存性)　研末吹入。立效。又青魚膽(一個)　紅花(一錢)地(各二錢)　蒸出濃汁。灌入耳中。即愈。</p>
<h4>兩耳凍瘡</h4>
<p>生薑自然汁。熬膏塗。又橄欖燒研細末。油調塗之。(並治足上凍瘡)</p>
<h4>兩耳脫落</h4>
<p>用人發入瓦罐。以鹽泥封固。　過為末。急以所傷耳蘸藥。安於舊處。再用老薑四圍濃敷。用綢捆定自安。(並治鼻落治法同)</p>
<h4>耳中有物不出</h4>
<p>用弓弦或麻繩。將一頭搓散。用好魚鰾黏著。放耳內。其物徐徐引出。</p>
<h4>百蟲入耳</h4>
<p>薑汁少許滴之。又人乳滴之。又韭汁灌之。又膽礬和醋灌之。又車缸脂貓尿滴之。(生薑擦貓鼻即有尿)又桃葉作枕枕之。蟲自鼻出。或火熨桃</p>
<h4>蛆蟲入耳</h4>
<p>杏仁搗如泥。取油滴之。又皂礬摻之。即化為水。</p>
<h4>壁虎入耳</h4>
<p>雞冠血滴入即出。</p>
<h4>蜈蚣入耳</h4>
<p>炒肉放耳邊。聞香自出。烹雞更妙。或用生薑汁或韭菜汁灌入。即出。</p>
<h4>螞蝗入耳</h4>
<p>取田中泥放耳邊自出。</p>
<h4>蜓蝣入耳</h4>
<p>生半夏末。麻油調塗耳門。蟲聞香即出。又蒜洗淨。搗汁滴之。未出再滴。</p>
<p>又羊乳滴之。化水流出。又白洋糖熟水調濃汁滴入。亦化為水。</p>
<h4>飛蛾入耳</h4>
<p>用銅器向耳邊敲打自出。</p>
<h4>螞蟻入耳</h4>
<p>穿山甲燒研為末。調水灌入。又用手將耳扯動即出。</p>
<h4>蚤虱入耳</h4>
<p>菖蒲末炒熱盛袋枕之。其虱自然而出。</p>
<h4>壁虱入耳</h4>
<p>用稻稈灰汁灌。</p>
<h4>水銀入耳</h4>
<p>枕金器自出。</p>
<h4>水入耳中</h4>
<p>薄荷汁滴入。立效。</p>
<h3>鼻</h3>
<h4>鼻血</h4>
<p>用線扎緊手中指第二骨節灣屈之處即止。左流扎右。右流扎左。雙流雙扎。極效。</p>
<p>又井底泥和苔蘚貼囟上立止。又石榴花瓣塞之。或以蘿卜汁藕汁滴入鼻內。或火　龍骨吹貼左足心。右貼右足心。兩鼻俱出俱貼。立效。又蓮蓬殼(　存性)　吹鼻。又梔子研末吹之。又槐花末吹之。又猝然以水　其面。即止。又左衄以綿塞右耳。</p>
<p>應。又青蒿納鼻中。即止。又井水磨陳京墨。燈草蘸塞之。又多年溺壺熏之。立止。又生吳萸研末。津調塗足底涌泉穴。用山梔炒黑研末。</p>
<p>塞鼻。即愈。又紙條濃蘸真麻油入鼻取嚏。效。</p>
<h4>鼻中息</h4>
<p>鵝不食草搗爛塞之。自落。又藕節有毛處一節。燒存性為末。吹患處效。又甜月七日收者更妙)　白礬末(各五分)　綿裹塞之。或以豬脂和挺子塞之。一日一換錢)　砂(五分)　共為末。以三四分吹之。其息肉即化。</p>
<h4>鼻中塞肉不通利</h4>
<p>細辛　瓜蒂(各等分)　研末吹鼻中。須臾涕出。頻吹即愈。又陳瓜蒂搗取瘥。</p>
<h4>鼻塞不通</h4>
<p>麻鞋燒灰。吹之即通。又通草　細辛　附子共為末。蜜調綿裹納鼻中。又菖蟲蛀者)　共為末。每用一錢。綿裹塞鼻。仰臥少時。效。皂角末單用吹之。亦</p>
<h4>鼻窒痛</h4>
<p>杏仁　白芷　細辛(各一錢)　全蠍(兩個)　焙末。麻油調敷。</p>
<h4>鼻痔</h4>
<p>霜梅(一個)　蓖麻仁(七粒)　生礬(少許)　同搗勻。綿裹塞鼻內。一日夜即愈。</p>
<p>又輕粉(二錢)　杏仁(七粒去油)　白礬(五錢)共為末。吹入痔即化水。又甜瓜蒂(四錢)　甘遂(一錢)　枯礬　螺殼灰　草烏灰(各五分)　為末。麻油調作丸。如鼻孔塞入一次。其痔化水。肉皆爛下而愈。又頂上梅花冰片點之。雖痔肉垂下亦入。</p>
<p>連須瓦上焙枯研末。和頂上冰片水調敷。</p>
<h4>鼻</h4>
<p>將鐵磨石上取末。豬油調綿裹塞鼻。肉出愈。又乾薑為末。吹鼻中。或蜜調塞</p>
<h4>疳蟲蝕鼻生瘡</h4>
<p>綿裹人屎灰。夜臥著之。又燒牛狗骨灰末。以臘月豬脂和敷之瘥。又又取烏牛耳垢敷。又取牛鼻頭津敷之。良。</p>
<h4>鼻內生瘡</h4>
<p>黃柏　檳榔共為末。豬油調敷。又嫩桃葉捶爛塞之。無葉用枝亦可。又貼之。又元參研末吹入。或以水將元參泡軟塞之。</p>
<p>又陀僧　白芷(各二錢)共研末。蠟</p>
<h4>鼻流清涕不止</h4>
<p>蓽茇末吹之。有效。又生花生(四五斤)　入鍋內。合患者親手拌炒。炒之</p>
<h4>老人鼻流清涕</h4>
<p>大蒜搗貼足心。</p>
<h4>口鼻生疳蝕爛</h4>
<p>青靛搽患處。每日十次。每夜五次。三四日愈。</p>
<h4>鼻赤泡</h4>
<p>密陀僧(二兩)　細研。每夜用一錢。人乳調塗。早洗去。</p>
<h4>風刺赤鼻</h4>
<p>大風子仁　木鱉子仁　輕粉　硫黃為末。夜夜津調塗之。</p>
<h4>酒赤外</h4>
<p>桐油入黃丹雄黃敷之。又食鹽研細。每早擦牙。噙水瀨口。吐入手中洗面。月又白果嚼融。和甜酒糟。夜敷日洗。甚效。又馬蘭子花搗封之佳。又蕎麥面塗之。又鸕　矢末。以臘月豬脂和塗之。</p>
<h4>各項鼻病</h4>
<p>凡鼻淵。鼻痔。鼻中肉塊。鼻塞。鼻瘡等症。用辛夷花苞(又名木筆花)去赤肉毛芭蕉煎水。泡一夜焙乾為末。加麝香(三厘)蔥白蘸入鼻孔。數次極效。</p>
<p>鼻中生毛。晝夜可長一二尺。漸粗如繩。痛不可忍。　此食豬牛羊血過多所致。用豬毛(焙鼻垂紅線尺許。痛甚欲死。　真硼砂　頂上牙色梅花冰片(各一錢)為末。以人乳調之。</p>
<p>輕輕諸物入鼻。脹痛不出。　牛油如棗核大。納鼻中。油溶則物潤而隨出矣。</p>
<h3>唇</h3>
<h4>唇中腫大</h4>
<p>生蒲黃(二錢)　川連　頂上梅花冰片(各一錢)　共為細末。麻油調敷。</p>
<h4>唇腫破爛流水</h4>
<p>黃連(二兩)　銅綠(五錢)　枯礬(一錢五分)　宮粉(三錢)熬膏。臨用加冰片香(一厘)敷。</p>
<p>口唇腫黑。痛癢不可忍。　大銅錢(四個)於石上磨豬油。時時擦之。(照疔瘡法治亦可)唇瘡以頭垢敷之。日三。又東壁土敷之。又胡粉敷之。又白梅瓣貼之。開裂出血者即又飯甑上滴下汗。擦數次效。又白荷花瓣貼之。亦妙。</p>
<p>嘴唇四圍。瘡如黃蠟。　旋覆花(瓦上　存性)研末。真麻油調塗。又葵花根(瓦上焙存性)</p>
<h4>唇破生瘡</h4>
<p>瓦松　生薑汁搗融。入鹽少許。敷之。</p>
<h4>唇燥生瘡</h4>
<p>青皮燒研。豬脂調塗。</p>
<p>嘴唇翻轉。形如豬嘴。名唇菌。　此心脾熱毒所致。對時必死。無藥可救。急燒兩手少商穴灰面</p>
<h4>唇干裂痛</h4>
<p>桃仁搗爛。和豬油調塗即愈。</p>
<h4>唇燥舌</h4>
<p>松毛煮老豆腐貼之。日換數次。良。又橄欖磨汁塗之。或以橄欖炒研豬脂和塗</p>
<h4>繭唇</h4>
<p>(口不能開合風熱蘊於脾經也)青皮(燒灰)　黃柏(各等分)為末。豬脂調塗。效。</p>
<p>又(並以</p>
<h4>緊唇</h4>
<p>炙松脂貼上。又以蠟片炙貼之。一宿瘥。又取膝頭垢。綿裹燒敷之。又燒人屎</p>
<h4>缺唇</h4>
<p>蟹(燒灰二錢)　乳香　沒藥(去油各二分半)熟水和塗。即生肉。</p>
<h3>口(與唇部參看)</h3>
<h4>口臭難聞</h4>
<p>每早洗面時。用白牽牛粉擦牙瀨口。日久自無此病。又密陀僧(一錢)　醋調瀨藿香常噙口中即解。</p>
<h4>口瘡</h4>
<p>陳白螺螄殼(燒存性)加兒茶(少許)為末。吹敷即愈。又生黃柏蜜炒為末。敷之。</p>
<p>又蘿卜自然汁。頻瀨去涎。又草烏　南星(各一個)　生薑(一塊)為末。臨臥時。貼兩手足</p>
<h4>天行口瘡</h4>
<p>橄欖核仁。研敷之。又五倍子末搽之。吐涎則愈。</p>
<h4>口吻生瘡</h4>
<p>(世謂之肥瘡一名燕口瘡)　楸白皮及濕貼之。數易。取瘥。又掘經年葵根欲腐者燒灰敷之。</p>
<h4>口舌爛瘡</h4>
<p>蚯蚓　吳茱萸同研末。醋調塗足心。又川黃連　北細辛(各二分)　生研極細末以小管吹入瘡上。神效。此方熱因寒用。寒因熱用。功成而無偏勝。大人小兒並治。切忌入</p>
<h4>口內上生癰</h4>
<p>亦名懸癰。生口上　。形如紫葡萄。舌難伸縮。口難開合。鼻內出血。時作食鹽(燒紅)　枯礬(各等分)研細末。以筷頭蘸點。日三五次自消。</p>
<p>通治口舌生瘡。及風火牙疼。(上熱足涼者)　白礬(三兩)　熱湯化之。以足浸半日。即效。</p>
<h3>舌</h3>
<h4>舌脹滿口</h4>
<p>醋調鍋底煙子。敷舌上下。多敷更效。又蓖麻子(四十粒)　紙上取油。將油紙即消。若舌上出血。熏鼻中自止。</p>
<h4>木舌腫強</h4>
<p>用糖醋。時時噙嗽。又僵蠶(一錢)　黃連(蜜炒二錢)　為末搽之。痰出為妙。</p>
<p>蠶為末。吹之。</p>
<h4>舌腫</h4>
<p>柴灶內百草霜。和酒塗舌下。即愈。又朴硝　白礬為末。擦。或用朴硝　綠礬(　)小兒舌腫。　以食鹽　百草霜為末。井水調敷。</p>
<p>舌忽腫。退場門外。或長數寸。　此亦心火熱極所致。用雄雞冠血一小盞。以舌浸之。即縮。</p>
<h4>舌下腫痛</h4>
<p>蒲黃(五錢)煎濃汁去渣。含口中數次。極效。又腫痛欲死者。皂礬(二錢)瓦上醋調敷。</p>
<p>喉風。舌大如脬。　不急救即死。用冰片(一分)　火硝(三分)　青黛(二分)　僵蠶(五分)</p>
<h4>舌胎語蹇</h4>
<p>薄荷自然汁。和白蜜薑汁搽之。</p>
<h4>重舌</h4>
<p>陳醋(一碗)　五靈脂(一兩)入銅杓內。煎三沸為度。(沸即離火用箸攪之沫平再煎)候將醋少許頻含。待涎沫滿口即吐。勿咽下。又牙皂角(四五挺須不蛀者去皮核炙焦)(二錢)共為細末。以米醋調塗腫處。即消。</p>
<h4>舌硬生衣</h4>
<p>犀黃　朱砂(各一分)　元精石(二兩)共研細末。將舌尖刺出紫血。用此藥搽之。</p>
<h4>舌出不收</h4>
<p>用辰砂敷之。或暗擲盆碗作墜地聲。驚之即收。</p>
<p>傷寒熱病後。舌出寸余不收。　頂上梅花冰片研細摻舌上。應手而縮。須用五錢方效。</p>
<p>(並舌退場門角。時時搖動。　此名　舌風。用翠烏舌(舌須陰乾備用)在兩額點戳幾下即愈。</p>
<h4>舌忽縮入</h4>
<p>銀針刺破舌尖。出盡惡血。以蠟燭油搽之即愈。又生艾搗敷。</p>
<h4>舌上出血</h4>
<p>槐花炒為末。摻之。又頭發燒灰。醋調敷之。又茅草根　生車前子　亂髮各</p>
<h4>舌梗出血</h4>
<p>木賊(四錢)煎水。嗽口即止。</p>
<h4>舌爛</h4>
<p>吳茱萸(三四錢)研末。好熱醋調敷兩足心。用布捆好。對時一換。甚效。或兼用人中散治之。(見齒部)並治咽舌生瘡。</p>
<h4>小舌落下</h4>
<p>以食鹽炒熱。點數次即上。先用箸將大舌壓住。然後點之。又鹽橄欖並核(燒吹之。</p>
<h4>補斷舌法</h4>
<p>凡人遇含刀在口。割斷舌頭。已垂落而未斷。用雞蛋內白軟皮套住舌頭。另以天兩)　赤芍(二兩)　薑黃　白芷(各一兩)為末。蜜調塗舌根。以白蜜調白蠟。稀稠得在雞蛋皮上。日敷數次。三日舌自接住。去雞蛋皮。再用蜜蠟勤敷。七日全愈。又斷舌心。血出不止。以鵝翎蘸米醋頻刷斷處。其血即止。或用瘦豬肉片貼之。更妙(一個炙干為末)敷上。即能生肌。(藥宜預制以備急用)又活蟹(燒灰)　乳香塗之即生肉。如咬去唇舌。用川烏　草烏為末。攤紙一條。以涼水調合。貼</p>
<h3>齒</h3>
<h4>固齒方</h4>
<p>取老鼠頭骨牙同鹽　存性。研細。以擦動牙。牙即收上不搖。又生竹葉(去梗淨薑(四兩)　淨白鹽(六兩)先將竹葉熬出濃汁。又將薑搗汁用熬。瀝渣。將鹽同熬痛。用擦一二次即愈。名竹葉膏。又臘月腌豬羊骨　灰。研細。每晨擦牙。不可而其效益彰。頭上齒骨亦佳。</p>
<h4>取齒丹</h4>
<p>活鯽魚(一條重十兩)　以白砒(一錢)入腹內。放無風無貓犬處。七日魚身發白毛。</p>
<p>毛拂下。以少許膏藥收之。每遇病牙。取些些膏貼齒。片刻即落。又用白馬尿浸茄根炒研為末。點在牙根。須臾其牙可落。切勿近好牙。又大蒜(一個)搗爛。入白龍骨分)拌勻。貼痛處。半時即下。</p>
<h4>齒牙疼痛</h4>
<p>老蒜(二瓣)　輕粉(一錢)同搗融敷經渠穴。(在大指腳下手腕處寸脈後即是)用蜆扎住。(用別物蓋亦可)男左女右。少頃微覺其辣。即便揭去。隨起一泡。立時痛止。</p>
<p>破。揩盡毒水。良效。又上方如不知穴處。即用老蒜搗爛如蠶豆大。敷在大指二指窩處。亦極神效。又獨頭蒜煨熱切。熨痛處。旋易之。(亦主蟲痛)又槐條熬濃擦。又燒牛膝根末。以綿裹著齒痛處含之。又黑豆煮酒。頻頻嗽之。又用石膏(二兩)　明礬(六錢)俱半生半熟。研細末擦之。當永無齒痛。如痛碎補(二兩銅刀切細以石上生者為佳)　食鹽(五錢)　桑椹子(五錢)渣。早晚擦牙。良久吐之。不惟可治牙痛。且能固齒益髓。去骨中毒瓦斯月後。再不復動。又川椒(三分)　細辛(二分此味必須稱準多則頭必(各一錢)共用滾開水泡透。時時含水入口。片刻吐去再含。無論風可輕視。又石膏(二錢)　胡椒(三粒)共研細末。敷之極效。又老錢)共為末。塗二次即愈。又烏梅(燒存性)研末。臨用加頂上包胡椒末。塞痛一邊耳。手掩枕之。額微汗愈。又黑山梔乃止。又冰片　朱砂(等分)共研末擦之。又瑞香花含擦患處效。又雄黃　沒石子(各一錢)　細辛(許吹入右耳。右痛吹右鼻左耳。</p>
<h4>風熱牙痛</h4>
<p>大黃瓶內燒存性研末。早晨揩牙嗽口。名紫金散。(並治一切牙痛去口氣大效)蒂(七枚炒研)　麝香(少許)和之。綿裹咬定。流涎。</p>
<h4>風火牙痛</h4>
<p>松木節一小片。咬痛上。立止。又杉樹皮煎濃湯嗽之。又辣椒根(即辣茄根)又五倍子末。冷水調敷腮頰。甚效。又生地搗爛。加潮腦(少許不可過多)涎水。神效。又莧菜根燒灰敷之。又生絲瓜(一條)擦鹽。(少許)火燒即愈。(腮腫用水調末敷之極效)　又北細辛　北五味(各二分)　共</p>
<h4>風蟲牙痛</h4>
<p>皂角子末。綿裹彈子大兩個。醋煮熱。更互熨之。日三五度。</p>
<h4>蟲牙痛</h4>
<p>雄黃末和棗肉為丸。塞牙縫。日換數次。極驗。又蛇床子(三錢)煎湯一鐘。乘熱次即止。又川椒(鹽水炒七錢)　枯礬(三錢)共為末。每日擦牙甚效。</p>
<h4>立止牙痛</h4>
<p>蓽茇(一錢)　川椒　石膏(各五分)　青鹽(四分)共為細末。點痛處即止。</p>
<h4>牙齒腫痛</h4>
<p>李根白皮煎水含嗽。又隔年糟茄燒灰。頻頻干擦。又醬茄(陳年者佳燒存性)</p>
<h4>齒根腫</h4>
<p>松毛(一把)　鹽(一合)以好酒三升。煮取一升。含之冷即吐。瘥即止。又馬齒莧之。</p>
<h4>陰虛牙痛</h4>
<p>(緩痛者是)　生附子研末。口水調敷兩足心。極效。又胡桃殼(四五斤)　打至粉川椒　食鹽(各少許)　熬成濃汁攤冷。時時嗽齒。甚效。</p>
<h4>打動牙疼</h4>
<p>蒺藜子或根為末。日日揩之。</p>
<h4>牙齦腫爛出臭水</h4>
<p>芥菜根(燒存性)研末。連敷六七次。效。又瓦松　白礬(各等分)水煎嗽豆殼燒灰。加冰片擦。涎出即安。</p>
<h4>走馬牙疳</h4>
<p>(牙根腐爛者是)凡大人熱病之後。及小兒痘症後。火毒流於胃經。致有此患。勢透鼻。一二日即能致命。故有走馬之名。言其驟也。此症有五不治。</p>
<p>腐如筋者不治。白色肉浮者為胃爛不治。牙落穿腮鼻臭不堪聞者不治如是凶險。命在須臾。急用生大黃(三錢)　丁香(十粒)　綠豆(二心。最為神效。仍照後金鞭散治之。庶幾十可救五。又名金鞭散。綠礬(五兩白(三兩　)　明雄(二兩)　真麝香　頂上梅花冰片(各一錢)先將銀針挑刮去腐將藥研末敷之。吐出毒血惡涎。方能愈也。又名赤霜散。專治走馬牙疳。用紅砒(一粒如黃豆大)扎好放瓦上。炭火炙至棗枯煙盡為度。取出用碗蓋冰片(一分)研末。將患處洗淨吹入。效甚。久爛之孔。生肌亦速。又許)搽。又陳年南棗核燒灰研末摻之。又屋上貓屎。經過霜雪雨炙灰研細。放在地俟冷。加冰片(少許)研和吹之。雖延及喉間者又生附子(一錢)　生半夏(二錢)　加蔥白共搗爛扎腳底。男名人中白散。治男婦大小走馬牙疳。(並治咽喉疼痛腐爛效)　人中白　兒茶　真青黛　真硼砂(各一錢)　薄荷花冰片(二分)共研極細。(如灰面細放舌上無渣為度)摻之珠(五分)其效更速。(咽喉痛用筆管吹入日三次夜二次更</p>
<h4>牙疳痛</h4>
<p>蜒蝣(一條)用細夏布包之。揩在患處。二次效。又黃柏(末)　青苔(各一錢)　冰分)研細擦。</p>
<h4>牙縫出血</h4>
<p>(一名牙宣又名牙衄)苦參(一兩)　枯礬(一錢)為末。日三揩之。愈。又枯礬敷又五倍子(燒存性)　研末敷之。又百草霜。(即鍋底下止。又黃豆渣(即豆腐店中取過黃豆漿之渣黃豆</p>
<h4>滿口牙齒出血</h4>
<p>馬糞燒存性。搽之立愈。</p>
<h4>牙齒稀疏</h4>
<p>蘆甘石(　研)　石膏(各等分)日日擦之。不可刷動。久則自密。</p>
<h4>牙關緊閉</h4>
<p>鹽梅擦牙上。涎出即開。</p>
<h4>齒折重生</h4>
<p>雄鼠脊骨為末。每日擦揩折處。一月內即生。又雌雄雞屎(各十五顆)焙研。入一分)　先將牙根以針挑破。血出敷之。十日之間。即可重生。</p>
<h4>齒黃</h4>
<p>糯米糖燒取白灰。旦旦擦之。</p>
<h3>須</h3>
<h4>烏須法</h4>
<p>五倍子(一兩)　銅綠(三錢炒紅用醋淬之醋不宜多再炒再淬凡三次研碎)　青礬(二研)生鹽(五分炒)　先將五倍子研碎。用銅鍋炒至出油成團。放地上攤冷。再將各藥研用好燒酒調成面糊樣。蒸至鏡面為度。不宜久蒸。先用皂角水洗須一次。又用茶洗一次藥乘熱濃染。俟干用熱水洗去。其須光潤如漆。可保兩月不白。又落花生淨肉炒極焦極細。捻須一二日後。色黑如漆。又酸石榴結成時。就東南枝上揀大者一個。頂上納水銀(五錢)於中。原皮封之。麻扎定。牛屎封護。待經霜摘下。傾出殼內水。用魚蘸水捻須。久久自黑。</p>
<h4>拔白還黑</h4>
<p>先將白須抉去。用豬膽塗孔中。即生黑須。或用白蠟點孔中。不再白也。</p>
<h3>腮頰</h3>
<h4>腮車熱腫</h4>
<p>赤小豆末和蜜塗之。或加芙蓉葉尤效。又老絲瓜燒存性研末。清水調塗。</p>
<h4>頰東開不能合</h4>
<p>皂角末吹鼻。嚏出即合。</p>
<h4>下頦脫落</h4>
<p>真烏梅搗融為餅。塞滿牙盡頭處。張口流涎。隨手掇上。或口含烏梅(一個)亦效</p>
<h4>腮</h4>
<p>蔥煎水盡洗。即消。又赤小豆為末。醋調敷。又山梔(末)　飛面(各等分)　豬膽醋(各半)　薄調敷之。</p>
<h4>羊須瘡</h4>
<p>小紅棗(燒枯存性研末)　清油調敷。　又諸藥不效者。以舊綿絮胎燒灰。麻油調塗愈。</p>
<h3>頸項</h3>
<h4>項軟</h4>
<p>五加皮為末。酒調敷頂骨上。干則再易濕者敷之。</p>
<h4>項強</h4>
<p>黑豆蒸熟。納袋中枕之。又生桃葉蒸熟。入袋中。著頭上熨之。又蓖麻葉搗敷效。</p>
<p>項後結核。或赤腫硬痛。　生山藥(一挺去皮)　蓖麻子(二個)同研貼之。神效。</p>
<h4>閃頸促腰</h4>
<p>真硼砂研粉。以燈心蘸點眼四角。淚出即松。連點三次。立愈。</p>
<h4>燕窩瘡</h4>
<p>(本名發際瘡生頭枕骨下發盡處)銅燈盞內青垢刮下。研爛擦之。神效。</p>
<h4>對口瘡</h4>
<p>婦人頭上油垢(三錢)　黑背鯽魚(一個約一兩)　豬眼梢(一對)同搗爛。敷之。又研末。敷之。又雄豬眼梢肉(三錢)剁爛如泥。加滑石(末四錢)和勻。敷患處頂上。</p>
<p>之。拔去僵肉。放出黃水即愈。</p>
<h4>瘰</h4>
<p>破琉璃燒灰。菜油調搽。神效。又蓖麻肉　嫩松香(等分)千錘攤貼。又蜈蚣(一研末。油調敷。又用鉛(三兩)鐵器中熬久。當有腳如黑灰。取此灰和脂塗　上。</p>
<p>以舊帛貼之。數換舊帛。拭去惡汁又貼。如此半月許。不痛不破不作瘡。內消治痰核)</p>
<h3>咽喉</h3>
<h4>紫袍散治十八種喉風</h4>
<p>青黛(水飛)　石青　雄黃(各一兩)　膽礬(三錢)　人中白　硼砂　元連(二錢)　真冰片(五分)共為細末。磁瓶收藏。勿泄氣。急時以二三分吹</p>
<h4>單雙喉蛾</h4>
<p>(又名喉痹)生於咽喉關上者輕。關下者重。此症喉閉片時。即不可救。若男子從婦人則從後腦尋至頂上。小兒則看兩手虎口。如有水泡紅子。即用銀針見燈火。一面用老蒜搗融。如蠶豆大。敷經渠穴。(在大指下手腕處寸用蜆殼蓋上扎住。(用別物蓋亦可)片時起一水泡。銀針挑破。將水揩痊。再服甘桔湯(金銀花二錢甘草一錢桔梗八分牛蒡子錢半水煎服)以免無藥之處。不服亦可。此方屢試神效。又手指甲燒灰吹入。其蛾立破。或用燈草燒灰吹入隨所患左右塞鼻中。如左右俱有。用二枚左右俱塞。</p>
<h4>喉閉乳蛾</h4>
<p>雞肫皮勿洗。干燒為末。用竹管吹之。立愈。又燕子窠泥　雄黃(等分)共研為花燒酒調敷咽喉外兩旁。即愈。又喉間方覺脹滿起泡者。急以食鹽用搓手掌心。</p>
<p>鹽干後易新鹽搓之。數刻即消。又馬蘭汁嗽之。即愈。又土牛膝根生掘洗淨。忌鐵與油。</p>
<p>須用指甲摘斷。入磁碗中。滴入人乳和拌。用木槌搗爛。然後將碗坐熱水中。熬出藥汁。</p>
<p>茶匙挑藥汁。灌入鼻中。男左女右。片時腫消疾愈。神效。</p>
<h4>喉痹</h4>
<p>礬石(一兩)水三升。漬洗手足。又腫痛者。用芥子末水和敷喉下。干即易之。又通者。用箬葉　燈草(等分)燒灰退火性吹之。</p>
<h4>喉腫難食</h4>
<p>韭一把搗熬敷之。冷則易。又薤根醋搗敷腫處。冷即易。又苦酒和黃柏末敷又白面和醋塗喉外腫處。</p>
<h4>咽喉卒塞</h4>
<p>無藥處以皂角末吹鼻取嚏。用李樹近根皮磨水塗喉外。良。</p>
<h4>纏喉風嘬口</h4>
<p>急用牽牛鼻繩。將穿鼻一段。燒存性吹之。甚效。又牙皂(一兩去皮弦)研末頸上。干即易。極效。(並治乳蛾)又芒硝(一兩)白僵蠶(五錢)甘草(二錢五分)共研細末。每取二三分吹之。效。又　子窠(十余個牆上者佳)瓦上焙取灰。加冰喉。神效。(一方止用　子窠無冰片)又僵蠶(炒去絲嘴)　白礬(各二錢)共研細許)吹喉。</p>
<h4>急喉風</h4>
<p>巴豆(一粒)不拘何物包好塞鼻孔。男左女右。又巴豆(七粒)　細辛(八分)共研末裹。隨患左右塞鼻孔。雙蛾左右換塞。腫消去之。又年久尿壺垢。瓦上炙研細。吹</p>
<h4>喉症開關方</h4>
<p>牙皂　巴豆共為末。米湯調刷紙上。晒乾作捻子。點火以煙熏鼻孔。立能開口。</p>
<p>鼻流涕涎。專治十八種喉閉。又頭發　指甲各　存性。紅紙卷筒。吹患處。(男右用女左喉中結塊。不通水食。危急欲死。　膽礬銜口內。惡涎吐盡自愈。</p>
<h4>喉卒攻痛</h4>
<p>商陸根切炙熱。隔布熨之。冷即易。又搗艾敷之。</p>
<h4>忽然口不能言</h4>
<p>附子研末。吹入喉中即愈。</p>
<p>喉內生瘡。鼻孔亦爛。　若作喉風治立死。用白鹽梅(一個)燒存性。枯礬(一錢)　穿山甲(</p>
<h4>喉癬</h4>
<p>刀豆殼燒灰。以二三厘吹之。立效。</p>
<h4>風火喉癬</h4>
<p>秋蝴蝶花根(二兩即射干秋間開黃花者是)洗淨搗爛。甜酒煎汁。含口中嗽三五次再換再嗽。可以除根。</p>
<p>煙筒傷喉。出血不止。　桂圓核去外面黑皮。惟取內核仁，焙搗為極細末。看喉中傷處。</p>
<p>用</p>
<h4>魚骨哽喉</h4>
<p>午日午時。韭地上面東不語。取蚯蚓糞泥藏之。圓如碎珠。粒粒成塊為妙。遇魚用少許擦咽喉外皮即消。</p>
<h2>卷三</h2>
<h3>肩腋</h3>
<h4>擔肩癰癤</h4>
<p>(此惟擔夫有之)五倍子(燒存性)為細末。加黃丹。(用水飛過)醋調敷之。甚效。</p>
<h4>腋下狐臭</h4>
<p>鳳仙花不拘紅白。搗成大丸。挾腋下。待干再換。每日易三四次。二三日內。腋黑墜。以壙灰調水點去。永遠斷根。又伏龍肝作泥。敷之良。又煮雞子(兩枚)熟熱各挾腋下。冷棄之三岔路口。勿反顧。三為之。又好礬石(　研末)絹囊盛之不過十度。又三年苦酒和鍛石敷之。又蒸餅一個。劈作兩片。放密陀僧細入腋下。略睡片時。候冷棄去。如系一腋狐臭。只用一片夾之。神效。</p>
<p>又密陀僧　潮腦(各四兩)　枯白礬(二兩)　輕粉(三錢)共為細末。頻擦兩腋。擦至半月見效取田螺(二個)將靨起開。以各藥入螺中。過一夜。螺肉即化為水。將水擦腋下。其臭從大便出。宜埋土內。恐人聞則頭眩暈也。此方極效。勿輕視。</p>
<h4>腋下瘤癭</h4>
<p>長柄葫蘆燒存性。研末塗之。以消為度。</p>
<h3>手</h3>
<h4>灌甲初起</h4>
<p>用磁鋒於甲上刨去一層。並用枯礬末敷之。神效。</p>
<h4>油灰指甲</h4>
<p>每日取鳳仙花連根蒂葉搗敷指甲上。用布包好。一日一換。月余愈。</p>
<h4>指頭畏冷</h4>
<p>天氣不寒。指尖作冷。名曰螺瘡。用醋和鹽調勻。將指頭泡入。自愈。</p>
<h4>手丫枝痛</h4>
<p>痛苦無奈者。以通草屑為末。用雞子清調塗。即愈。(並治各手指縫生瘡腫爛)</p>
<h4>手指掣痛</h4>
<p>用醬清(即醬上汁水)和蜜。溫熱浸之。效。</p>
<h4>指頭麻木痛癢</h4>
<p>取蜒蝣和銀朱。共搗擦之。若遲延不治。必生蛇頭蛀節等疔。(蛇疔治法載多擦幾遍。即消。</p>
<h4>指節生瘡</h4>
<p>名蛀節。用生黃豆嚼融敷。(須先嗽口再嚼)即愈。</p>
<h4>甲疽</h4>
<p>凡指甲邊。生一赤肉突出。時常舉發者。甲疽也。用野狼毒(一錢)　黃　(二兩)醋浸一入豬油(五兩)微火上煎取二兩。絞去渣。退火氣敷之。日換三次。神效。又乳香膽礬末)時時敷之。此症須剔去甲。不藥亦愈。若已成瘡久不愈者。此方甚效。又皂礬(候冷研末)先以鹽湯洗瘡拭乾。以礬末敷之。舊綢裹定一日一換。神效。</p>
<h4>脫骨疽</h4>
<p>此症生手足各指。(或云生手足第四指者是)或指頭。或指節。指縫。初生或白色。</p>
<p>痛極。或如粟米。起一黃泡。其皮或如煮熟紅棗。黑色不退。久則潰爛。節節脫落。延至手不日虎口並各手指縫生瘡。或腫或爛。痛不可忍。若不早治。即爛入手。　鮮蒲公英捶融敷之。</p>
<p>癢手掌連虎口邊腫毒。　豬肉台上刮下木屑如膏。作餅貼患處。即愈。</p>
<p>手指及掌生黃白膿泡。痛癢無時。纏綿不已。內必有蟲。　豬肝切片。和桃葉捶融敷之。</p>
<p>神</p>
<h4>拍蟹毒</h4>
<p>(即手大指食指間所生俗名丫指)用活蟹杵爛塗之。</p>
<p>沸瀋傷臂。皮盡蛻。　貓頭骨　灰敷之效。</p>
<p>掌中紅絲斷之。血流不止。　用燈火燒之。自能漸收平愈。</p>
<p>熱毒攻手。腫痛欲脫　。　豬油和羊糞塗之。又水煮馬糞洗之。</p>
<h4>代指</h4>
<p>山慈菇研末。醋調敷之。又豬膽和蚯蚓。搗爛塗之。又田螺生搗碎敷之。又蜒和醬搽一日愈。又取萎黃蔥葉煮汁。熱漬之。又蒲公英　蒼耳草(等分)為末洗。又烏梅搗爛。和醋浸之。又甘草煎湯漬之。</p>
<h4>手背皺裂</h4>
<p>大風子搗泥塗之。</p>
<h4>手足皺裂</h4>
<p>大蘿卜一個。雕空入地瀝青(五錢)安爐火上。燉熟候冷。取油擦患處。又白芨末</p>
<p>生白果嚼爛。夜夜塗之。又豬腦髓入熱酒中以洗之。自瘥。</p>
<h4>手足凍瘡</h4>
<p>山藥一截。磨泥塗之。又老絲瓜燒存性。和臘月豬脂塗。又松香(一兩)火化和。帶熱塗患處。(作筒籠指頭並治代指)　又鴿子糞煎濃。水洗數次。效。又冬瓜皮(五六兩)　茄根(數兩)　煎水洗之。自愈。</p>
<h4>手足腫</h4>
<p>搗苦菜敷之。良。</p>
<p>手足心腫(風也)　用花椒研末。和鹽醋封之。自愈。</p>
<h4>手足麻木</h4>
<p>桑枝並葉。煎湯浸洗。</p>
<p>手足心中。忽然腫起。或痛或不痛。或爛或不爛。名穿掌。又名擎疽。又名托盤。　生附子仍愈。永戒鵝肉。又未破者。用白鹽　花椒(末等分)醋和敷之。已破者勿用。</p>
<h4>手足生瘡久不收口</h4>
<p>取大路口多人撒尿木版。爛成白色者。以炭火　化。研細末。加冰片(</p>
<h4>手足被</h4>
<p>夜合樹皮。取咀煎。浴。</p>
<h4>手足軟疼</h4>
<p>吳茱萸(三兩)煎湯。熱洗三四次。避風即愈。</p>
<h4>手足火爛瘡</h4>
<p>梓葉煎湯洗。仍以葉為末。敷之。</p>
<p>兩臂彎。兩腿生瘡。痛癢。經久不愈。　多年風窗上蜊殼燒灰。以腌豬油同搗如泥塗之。</p>
<p>經</p>
<h3>乳</h3>
<h4>乳頭破裂</h4>
<p>胭脂和蛤粉。用水調敷。又秋月冷茄子裂開者。(陰乾燒存性)研末。水調塗。</p>
<p>又丁香(末)敷。(如燥津唾調敷)</p>
<h4>乳頭硬腫</h4>
<p>生山藥不拘多少。搗爛敷之。又蓮蓬杆(一把或用荷葉杆)煎湯薰洗。又蚯蚓塗。</p>
<h4>乳癤初起</h4>
<p>巴豆(一粒)　細辛(一錢五分)上焙研。用稀絹包縛扎塞鼻孔。周時即消。又生粒)塞鼻。生右乳塞左鼻。生左塞右。一宿即消。</p>
<p>乳核初起可散。久則成岩。　用蔥和蜜同遠志末敷。忌入口。又蚶子殼　研末。醋調塗又烏頭　桂心　甘草(各等分)研末。酒調敷。</p>
<p>乳中有塊。積久不消。　活鯽魚(一個)搗爛。去鱗骨。和老酒糟濃敷患處。一宿消。</p>
<h4>女子妒乳</h4>
<p>生蔓菁根搗。和鹽醋漿水煮汁。洗五六度。和雞子白封之。又柳白皮酒煮。令即消。</p>
<h4>乳癰</h4>
<p>(紅腫疼痛者是男女皆有此症)白梅杵爛貼。佳。又地黃搗敷之。熱即易。又豆腐熬干成膏。冷透火氣。濃敷之。干即再敷。乳上結塊自藥搗敷患處。圍露出頭。次日即出膿消去。最驗。</p>
<p>又蔥連根搗爛敷上。用瓦罐盛炭火。蓋蔥上。一時蒸熱。出汗即愈。穩而神效。(並治乳吹)大黃灶下黃土(各一分末)　生薑(二分)搗末。醋和塗。神效。</p>
<h4>乳癰多至二三百頭者</h4>
<p>柳樹根刮去皮。搗爛蒸熱。布包熨之。冷則隨換。過一宿即愈。</p>
<h4>乳癰久不收口</h4>
<p>茅屋上陳年茅草。剪尾一束研末。加頂上梅花冰片(少許)敷之良。又日久用蝦醬入好醋蒸熱。敷之奇效。</p>
<h4>乳癰寒熱</h4>
<p>蔓菁根葉去土不見水。以鹽和搗塗之。熱即換。三五次即瘥。冬月用根。須避</p>
<h4>勒乳成癰</h4>
<p>益母草為末。水調塗乳上。(生搗罨之亦可)乳癰竄爛。年久洞見內腑。深陷不愈者。取搖船櫓上首手捏處舊藤箍剪下。以陰陽瓦上KT乳頭生瘡。痛不可忍。　生鹿角(三分)　生甘草(一分)共研末。用雞蛋黃(一個)入藥攪勻。</p>
<p>男女乳上濕瘡。膿血淋漓成片。痛癢不休。用蜂殼(　五錢)　輕粉(五分)　冰片(一分)共</p>
<h4>乳瘡腫痛</h4>
<p>糯米飯塗之。又生蘿卜連根帶泥搗爛敷。熱即易。二三次效。又胡麻炒焦研內油腳調塗。即散。</p>
<p>婦人乳吹。時時吹氣有聲。朱砂寫地支十二字於本婦所戴簪上。惟本命所屬之字不寫。</p>
<p>戴</p>
<h4>婦人乳忽縮入</h4>
<p>急用兩手緊緊抓住。取公雞一只。約重十兩內外。連毛破開去腸雜。加真麝雞肚內。覆肚臍上。即愈。</p>
<p>無子食乳。腫痛難消。　用本夫穿過包腳布。敷乳過夜。腫消痛止。或用本婦現穿之鞋。</p>
<p>包</p>
<h3>胸</h3>
<h4>結胸</h4>
<p>用初出殼黃毛雞子(一只)　生薑(四兩)共搗爛微炒。溫攤胸前結實之處。外用絹帛縛候半日覺腹中熱燥方解去。更以熱手揉之。</p>
<h4>龜胸</h4>
<p>龜尿時時擦之。久久自平。(置龜銅盆中以鏡對照龜見其形尿自出)</p>
<h4>胸旁生瘡</h4>
<p>凡大人小兒胸間兩旁。各生紅白瘰泡。濕爛疼癢。每處直長一條。連生十余個不帘珠倒掛。久則難治。諸藥不效。用端午日人家檐口所掛菖蒲。連根葉切碎。瓦上焙香油調塗。五六次效。</p>
<p>胸背疼痛而悶。因風寒濕起者。用熨背法。　肉桂心　附子　羌活　烏頭　細辛　川椒(各</p>
<h3>心</h3>
<h4>心口生疽</h4>
<p>此名井泉疽。又名慢心銳毒。初起若心口內有塊漸大。心口發高。毒陷即死。醫亦無藥治之。惟林屋山人秘方載一法。以本人兩手十指。以線量其長短。共有若干線。放喉管正中處。雙環至背脊之中。看兩線合攏盡頭處為中穴。又以本人中指之用竹片量準作一寸。放在中穴之左右。各遠一寸。各以墨記。分立三穴。如　形。</p>
<p>三團。一齊火灸。灸畢全愈。</p>
<h4>心窩成漏</h4>
<p>一人胸口一片碗大。無皮潰爛成漏。膿血時流。經久不愈。用荸薺磨粉摻之。數</p>
<h4>心痛危急症奇效方</h4>
<p>王瓜(一條)剖對開。去肉去子。填入明礬末。合住線縛。懸掛陰乾。待刮下研細。藏磁器封固。凡遇急症心痛欲死者。但口有微氣。將瓜霜點眼四</p>
<h4>心腹冷痛</h4>
<p>以布裹胡椒安痛處。用熨斗熨椒。令汗出即止。(並治尸蛀)</p>
<h4>心腹卒然脹痛</h4>
<p>急煮熱湯。(須百沸者)以漬手足。冷即易之。</p>
<h3>脅</h3>
<h4>治脅痛</h4>
<p>白芥子為末。水調敷痛處。又吳茱萸醋調敷。又青皮醋炒熨。又韭菜連根醋殼小茴香鹽炒熨。</p>
<h4>兩脅脹痛</h4>
<p>炒鹽。布裹熨之。</p>
<h3>背</h3>
<h4>御寒膏</h4>
<p>治背惡寒。及婦人產後風寒。手足厥冷至骨。又治腰痛。　生薑(半斤取自然汁)明膠(三兩)　乳香　沒藥(各一錢五分)銅杓內煎化。移在滾湯上燉。以柳條攪至成膏。</p>
<p>川椒末(三錢)再攪勻。用皮紙攤貼患處。時以鞋底烘熨之。候五七日脫下。或起小泡。</p>
<p>濕之氣外出也。</p>
<h4>背熱如火</h4>
<p>此虛火也。生附子研末。口水調敷兩足心。</p>
<h4>發背初起</h4>
<p>雞內金不落水者陰乾。用時溫水潤開貼之。隨干隨潤。以愈為度。如已潰。雞內絮焙末。搽。又生薑(一塊炭火炙)　一層刮一層為末。以豬膽汁調塗。又腫　赤萍搗和雞子清貼之。</p>
<h4>治發背</h4>
<p>取豬羊脂封之。(亦治發乳)又人糞燒灰。醋和敷。干即易。又取白面搜圍腫四子七人尿漬之。又以馬糞封之。干即易。(亦治婦人發乳)又鮮王瓜切片貼。周先用花椒湯洗淨貼。又苧根葉熟搗敷之。數易。效。又芭蕉根搗爛塗之游風疹)又冬瓜截去頭。合瘡上。瓜爛截去再合。以愈為度。已潰者。</p>
<p>乳香(四兩箬包燒紅磚壓去油)　淨沒藥(四兩照上法去油)　鮮油血竭杭州定粉　上好黃丹(各四兩)　上銅綠(三錢)以上俱各另碾無聲。</p>
<p>篩極細末。共一處。臨時照患大小。用夾連四油紙一塊。以針多刺小孔。每張稱藥末五錢。</p>
<p>扎緊翻過。</p>
<p>用針照前多刺小孔貼之。因藥甚貴。取其又得一面之藥力也。無火之人。內服十全大補湯。</p>
<p>(此去油(一斤)　黃丹(飛八兩)　宮粉(一兩)　槐枝(數寸)　頭發(一團洗透)　鏽釘(五七個洗淨土)　銅綠(五錢)將油燒滾入釘。熬數滾。去釘。入槐枝熬枯去之。入發熬焦又去之。入丹粉銅綠熬成膏。置水中。隔夜取出貼之。其效如神。百無一失。</p>
<h3>腰</h3>
<h4>腰痛</h4>
<p>芸苔子用米醋研塗敷痛處。　又以黃狗皮裹腰痛處。取暖徹即定。又貼腰膏。用生斤取自然汁四兩)　水膠(一兩)同煎成膏。濃紙攤貼腰眼。甚效。又菊花　芫花　羊二升)　以醋拌令濕潤。分為兩劑。內二布囊中。蒸之如炊一斗米許。頃適寒溫。隔冷即易。熨痛處即瘥。又黑大豆一大碗。(一方作大豆六升)　水拌令濕。炒熱以重衣。熨痛處。令暖氣徹。冷則易之。</p>
<h4>風冷寒痹腰痛</h4>
<p>川烏(三個)　生搗爛。少加鹽水。攤紙帛上。貼痛處。須臾止。　腰有血。痛不可忍。　桂心搗末。以苦酒和塗痛處。</p>
<h4>腰脊脹痛</h4>
<p>芥子末調酒貼之。立效。</p>
<h4>腰腎痛</h4>
<p>白檀磨水。塗患處。</p>
<h4>腰腿風濕冷痛</h4>
<p>吳茱萸(一茶杯研末)　以黃酒(一杯)拌勻。炒熱攤油紙上。敷患處。用布捆痛。如冷再炒再敷。</p>
<h4>養元固本暖腰方</h4>
<p>廣木香　真川椒　大茴香(炒)　故紙　升麻(各一兩)　川附子(五錢)　蘄香(四錢)　上肉桂　川楝子(各一兩)　先將艾搓軟。次以各藥為末和勻。用綾藥密行貼肉著。神妙。</p>
<h4>閃跌毆打腰痛三仙散</h4>
<p>羅裙帶葉(葉長二尺余花梗長二三尺不等花如龍爪四圍下垂又名龍爪略大顏色或紅或白)　杉樹皮　槐樹皮(各等分)　煎水熱洗。其渣搗融炒熱則隨換。日夜不斷。有人閃跌傷腰。筋已結縮成團。多年不愈。以此敷洗。</p>
<p>筋即舒散。數次平復。又名生軍散。先以蔥白搗爛炒熱。將痛處擦遍。隨以生大黃研末。</p>
<p>薑汁調敷。蓋以粗紙。一日一換。盡量飲以好酒。三日即愈。年余不痊者皆效。(並治閃跌此亦</p>
<h4>纏蛇丹毒</h4>
<p>糯米粉和鹽塗之。又刺鱔魚尾血同蜒蝣搗塗。又用織機上草辮。(以陳為妙)燒存性。麻油調搽。又舊傘紙燒存性。香油調敷。又系腰帶　存性。研細和好醬塗。或加水龍骨和柿漆水塗。</p>
<h3>肚腹</h3>
<h4>腹痛</h4>
<p>驟然急痛。不知何症。只用鹽微炒熱。以布包鹽熱熨痛處即止。(並治肝胃氣及胃脘中脹痛)又羌活(一兩)　蔥白(十根)　老薑(二兩)　麥面和。炒熱用布包裹熨腹。冷再又以痧藥搐鼻。</p>
<p>寒火相結。小腹疼痛。(俗名陰寒)　枯白礬(一大塊)　棗肉(一大個)　連須蔥白(三段)胡香</p>
<h4>寒症腹痛</h4>
<p>或炒蔥薑熨之。或炒鹽熨之。或用熱灰熨之。或用滾水一壺隔布熨之。均止痛妙</p>
<h4>熱症腹痛</h4>
<p>用銅鐵冷物熨之。</p>
<h4>蟲疾腹痛</h4>
<p>如有塊硬起者。用手在硬處。久久揉擦至一日。其蟲即死。從大便出。或查痞疾之。又川楝肉酒浸。綿裹塞肛門。小兒用煨大蒜塞。</p>
<p>尸柱腹痛。脹急不得喘息。上攻心胸。旁攻兩脅痛。或瘰塊涌起。　煮商陸根囊盛。更互熨下癢便瘥。若瓦屋。削四角柱燒用之。</p>
<p>因色欲致手足冷。臍腹痛。　用胡椒(十五粒)　丁香(十粒)　黃丹(一錢)　生白礬(三錢)共研末。</p>
<p>醋調塗臍中。被蓋出汗愈。又炒蔥熱貼</p>
<h4>忽然肚黑</h4>
<p>鉛粉和鹽炒焦。敷之立效。</p>
<p>腹脹大。亮如水晶。　取癩蝦蟆六只。將四足扎住。以蝦蟆肚皮。在病患肚腹光亮之處。</p>
<p>輕輕摩擦幾次。再取一蟆。照前復摩。用至六只即愈。但蝦蟆眉內有蟾酥。須防其迸出射人傷眼。宜用綢帕遮住病患兩眼。(蝦蟆用過後即放水中使吐毒瓦斯以救其命至要)氣滯腹脹。手背腳膝疼痛。　大麥醋糟炒熱。布裹熨之。三兩換愈。</p>
<h4>臍中出水</h4>
<p>龍骨醋泡焙枯。研末敷。又龍骨　枯礬(等分)為末。摻之即止。又赤石脂</p>
<h3>遺濁</h3>
<h4>夢遺</h4>
<p>紫花地丁草搗為膏。貼臍立止。又用闊布帶。將膝彎一只。或左或右。扣絆項上。</p>
<p>令腳屈。睡醒解伸。左右更換。屈伸而睡。自止。又五倍子(一兩二錢)醋調為丸。如大黑換</p>
<h4>遺精</h4>
<p>文蛤研細末。以女兒津調貼臍內。立止。又陰莖泄。用紅杷子(即南天竹子)燒存性錢)　加冰片(五厘)　麻油和塗。</p>
<h4>赤白濁</h4>
<p>椿根白皮(三兩)　乾薑　白芍　黃柏(各一兩)　麻油熬黃丹收。攤貼。又在浴不使人知。出一小便。可愈淋濁。</p>
<p>治男子精寒痿弱。白濁遺精。女子子宮虛冷。赤白帶下。亦治寒瀉。　倭硫黃(六錢)　母丁緞浸藥熬黃丹收。攤貼。</p>
<h3>淋症</h3>
<h4>治石淋沙淋妙方</h4>
<p>白豆蔻(連殼)　砂仁(去殼)　白胡椒　真川椒(不真不效)各等分。共研末入小布袋內。以好汾酒(頂上燒酒亦可)燉滾。乘熱沖入布袋。套上陽頭。蓋沖滾酒再熏。一日數次。三日必愈。熏後陽物及腎囊。稍覺辣疼。熱水洗淨症屬虛者並小便不通皆治)</p>
<h4>氣淋</h4>
<p>臍中著鹽。灸三壯。又熬鹽熱。熨小腹。冷復易。(亦治小便血)</p>
<h4>石淋</h4>
<p>(又名沙淋)瓦松煎濃。乘熱熏洗小腹。約兩時即通。又地榆煎浴腰腹。又生蔥頭臍上。其砂自出。</p>
<h4>血淋</h4>
<p>麻根　發灰　車前子　地骨皮煎湯洗。</p>
<h4>冷淋</h4>
<p>寒戰後溲。用胡椒煎湯浴腰腹。</p>
<h4>急淋陰腫</h4>
<p>泥蔥(半斤)煨熱。杵爛貼臍上。</p>
<h3>前陰</h3>
<p>男女交感樂極。精脫而死。　用人抱起坐之。以人之口氣呵其口。又恐不能入喉。急以筆管生</p>
<h4>陽痿</h4>
<p>蛇床子煎濃湯浸洗。又新鳳仙花子(又名急性子研末三錢)　鴉片煙(二錢)　蟾酥(真麝香(二分須於做丸時加入)共為一大丸。外用蔥白捶爛包裹。再加紙一二層。用放炭火中煨熱。換紙再煨。煨至七次去蔥紙。將藥改為小丸。如綠豆大。每於將睡取二丸。用酒化開。敷陽頭上半時。俟陽物舉起。將藥洗去。然後行事。堅而且子。其效如神。又大附子(一個重一兩五六錢者)　鴉片煙(五分)　硫黃末(二取出搗爛如膏。先用麝香(三厘)放臍眼內。再將此膏貼上。應驗無比。</p>
<p>癆病火動。陽物易舉。　皮硝放手心內。兩手合住。其硝自化。陽物即不舉矣。以燒酒和泥安</p>
<h4>陽物被捆腫大</h4>
<p>一小兒被人用頭發系住龜頭。少時氣閉腫大。無法可解。後將小兒坐冷水中去發而愈。</p>
<p>飛絲纏繞陽物。腫痛不已。　威靈仙(二兩)煎濃汁泡洗。</p>
<h4>陰頭生瘡</h4>
<p>(名下疳)鱉甲燒灰敷。(百藥不效用此如神)又五倍子研末。絲瓜搗爛包敷。雖又蘆甘石(一兩火　醋淬再　再淬五次)　兒茶(三錢)共研末。香油調敷蔥頭煎湯洗淨。用生橄欖核(一個無則以鹽橄欖核煮淨鹽味代之)燒存性加頂上梅花冰片(一分)共為細末。麻油調塗。雖臭爛不堪。敷之即效。又白蜜調生甘草末塗。(或用蜜煎甘草塗之)又　黃磨油搽之。又鰣魚鱗焙乾。　研白色。名白龍敷之即愈。又土牆上白螺螄殼(　存性一錢)　五倍子(燒灰二分)　燈草灰　黃柏灰五分)　輕粉(四分)　牛黃　冰片(各五厘)上為細末。先用皮硝湯洗。次用土茯苓湯將藥敷患處。又大紅絨(一錢)　冰片(三分)　鐵鏽(一分)　鳳凰衣(五分　存性)錢)共研極細末。敷患處效。又下疳陰癢。用生甘草煎濃湯。久久熏洗。外以海螵末摻之。立效。</p>
<h4>瀉燭疳</h4>
<p>(半邊溜爛者是又名蠟燭瀉)從內爛出者。將人腳跟上老皮(不拘多少瓦上焙脆為末)研。摻患處。烏金紙包頭。又蜒蝣　雄黃(各三錢)同研敷</p>
<h4>龜頭腫痛</h4>
<p>兒茶　冰片(研細各三分)　甘草水洗後搽。</p>
<h4>玉莖濕癢</h4>
<p>肥皂(一個)燒存性。香油調塗。</p>
<h4>陰囊腫痛</h4>
<p>煨蔥入鹽。杵爛塗。又以醋和面塗之。或炙令熱熨之。又釜月下土。以雞子效。又蔥白　乳香搗塗。即時痛止腫消。又陰腫核痛。人所不能治者。蔓菁</p>
<h4>陰腫如斗</h4>
<p>取莧菜根搗敷之。又搗馬鞭草敷之。又痛甚者。雄黃　甘草(各一兩)　白礬細末。每用一兩。滾水五升。煎至三升。沖和。洗患處良久。再暖洗至冷。候汗治疝疼腎子疼)又腫痛如燈籠者。灶口黃土　蒼朮(炒)　牡蠣(　各等分)為末之。</p>
<h4>腎子腫痛</h4>
<p>牛屎燒灰。酒和敷之即愈。勿令病患知。</p>
<h4>腎子偏墜作痛</h4>
<p>(熱而睪丸舒縱也)　大黃和醋塗之。又棉花子煮湯入瓮。將腎囊坐入瓮口。</p>
<p>一二次散其冷氣。即效。(並治陰囊腫大潮濕)</p>
<h4>繡球風</h4>
<p>五倍子　松蘿茶(各五錢)為末。茶調敷。又杉木焙灰。熟雞子黃炒油調搽。</p>
<p>陰囊腫如水晶。腎子腫大潮濕。　灶心土(三升)研碎炒熱。鋪凳上。再以川椒小茴香(各一陰囊忽然腫大。多因坐地所受風濕。或蟲蟻吹著所致。　蟬蛻(五錢)水煎洗腫處。二三次即腎勞熱。陰囊生瘡。　麻黃根　石硫黃(研各三兩)　米粉(五合)　上共搗研。如常用粉法。</p>
<h4>陰囊生瘡</h4>
<p>花椒(七粒)　蔥頭(七個)煎濃湯洗之。又綠豆粉　蚯蚓糞(等分)研塗之。</p>
<h4>陰瘡爛痛</h4>
<p>杏仁燒黑。研成膏。頻敷。</p>
<h4>陰癢生瘡</h4>
<p>胡麻嚼爛敷之。又煮桃皮和黍米汁洗之。又爛煮黃柏洗之。又用白蜜塗之。</p>
<p>又黃連　黃柏(各等分)為末。先煮肥豬肉湯洗之。然後以藥敷。</p>
<p>陰囊爛盡。止留二子者。　鳳仙花子　甘草(等分)為末。麻油調敷。即便生肉。</p>
<h4>陰囊油濕</h4>
<p>以飯湯洗之。後用六一散。(數錢)加冰片(一分)搽之。二次即愈。</p>
<h4>陰囊濕癢</h4>
<p>麩炭　紫蘇葉共為末。撲之。又荷葉(三個)　吳茱萸(三錢)煎湯洗之。又地吳茱萸(五錢)煎湯。久久熏洗。三五次愈。</p>
<h4>陰下濕癢</h4>
<p>槐白皮(炒)煎水日洗。又蒲黃末敷。數次愈。又礬石(熬令汁盡)　蛇床子分)　為末。盛疏布袋中。撲患處。</p>
<h4>腎風陰癢</h4>
<p>以稻草燒皂角。煙熏十余次即止。</p>
<h4>腎囊癢</h4>
<p>干者用油核桃研油潤之。濕者用蘆甘鍛石蛤粉末摻之。又干荷葉摘碎。以口水潤癢處。立效。又艾葉　蘇葉　明礬(各三錢)煎水洗之。</p>
<h4>陰奇癢難忍</h4>
<p>用青夏布舊蚊帳燒存性。麻油調搽。即愈。(並治走游風)各種疝氣初起。寒熱疼痛。如欲成囊癰者。　新鮮地骨皮　生薑(各四兩)共搗如泥。以絹包</p>
<h4>濕疝陰丸作痛</h4>
<p>蘄艾　紫蘇葉(烘)　川椒(炒熱各三兩)　上三味拌勻。乘熱絹袋盛。夾囊下</p>
<h4>疝氣偏墜</h4>
<p>用肥薑切片。鋪湊板上。上堆蘄艾一尖。點火燒之。候將完。即乘熱帶火連薑並爛。將鮮菜葉一大片。放手掌內。即以薑艾攤勻菜葉上。用手向腎囊底下托之。初時冰。須臾滾熱。通身出汗而愈。又牡蠣(　)　良薑共為末。用津唾調塗之。立消。</p>
<p>又苦楮樹葉(半斤)煮滾放壇內。先熏後洗。每日數次。甚效。又大茴香炒熱。作兩布包。更換熨之。又生石菖蒲　柑子葉　京茴香(各一錢)　搗極融爛。置酒壺內。加開水一碗將壺入鍋內。隔水燙滾。於患處隔衣頻頻熨之。止痛如神。又蓖麻子(七粒)和飯搗為丸腳心。左痛敷左。右痛敷右。雙痛雙敷。又凡患偏墜。如服荔枝核小茴香等藥不效者症也。取芙蓉花根(要丹心者)用皮搗極融爛。加大黃末敷患處。二三日必愈。</p>
<h4>小腸氣</h4>
<p>川楝子　吳茱萸　小茴香共研末。用飛面(一合)和藥盛注於紅色綢肚兜內。束小腹藥末易於垂下。須細針密線橫切為妙。</p>
<h4>蚯蚓呵腎</h4>
<p>鹽水湯溫洗。數次即愈。</p>
<h4>腎莖肛門搔癢</h4>
<p>陳葫蘆燒存性。研細末撲之效。</p>
<h4>陰毛生八腳虱</h4>
<p>白果嚼融擦之。又桃仁嚼融擦之。</p>
<h4>房勞陰毒</h4>
<p>胡椒(七粒)　蔥心(二寸半)　麝香(一分)搗爛。以黃蠟溶和。做成條子。插入陰頃汗出即愈。</p>
<h4>便毒腫痛</h4>
<p>初起時以肥皂搗爛。敷之甚效。又生菖蒲根搗敷之。又皂角(炒焦)　水粉(末。以熱醋攤貼患處。頻以水潤之。即效。</p>
<h4>魚口</h4>
<p>(生左胯名魚口右胯名便毒)初起未成膿者。以五倍子(炒黃研末)　入百草霜(等分)　以醋調塗患處。一日一夜。即消。</p>
<h4>魚口便毒</h4>
<p>初起便如小核桃。用瓦松花搗濃汁敷上即效。或焙乾為末。以雞子清調敷。不出</p>
<h3>後陰</h3>
<h4>大腸脫肛不收</h4>
<p>蝸牛(瓦上焙枯研末一兩桑樹蝸牛更好)豬油調敷。立效。又甲魚頭焙枯研或以紙托患處。又大螺螄(一個)入頂上梅花冰片(一分)即時水出。敷之神龍肝　枯礬共為末敷之。又熬鍛石令熱。布裹熨之。隨按令入。冷即敷。立效。又魚腥草(即蕺草三兩)擂如泥。先以朴硝水洗肛瘡。</p>
<p>用芭蕉葉盛藥坐之自入。又豬脂(一兩)　煉去渣。入蒲黃末(一兩)調勻。塗肛即縮。又苧麻根搗爛。煎湯熏洗。　又胡荽切一升。燒煙熏之即入。又名縮肛散。鱉頭(一個　)礬(三分)　五倍子(三分　)共研極細末摻之。又名倍礬煎。五倍子(三錢)　白礬(少許)末。水一碗。煎湯洗之。立效。若婦人產後脫肛五倍子末摻之。</p>
<h4>小兒脫肛</h4>
<p>凡小兒脫肛不收。久則堅硬難入。用連須蔥(斤許)慢洗軟。再照以上各方。用藥敷之即上。</p>
<h4>肛門忽腫</h4>
<p>(此肺胃濕熱下注也)帶殼蜒蝣(十數個即蝸牛)搗爛塗之即消。</p>
<h4>肛門腫痛</h4>
<p>馬齒莧葉　酸漿草(等分)煎湯。熏洗。一日一次效。(並治臟毒)</p>
<h4>下部蟲</h4>
<p>梅葉　桃葉一斛。杵爛蒸熱。納小器中。隔布坐蒸之。蟲盡死。又杏仁杵膏頻癢者。蒸大棗取膏。以水銀和捻。長三寸。以綿裹。夜納下部中。明日蟲皆出。</p>
<p>如鳥啄之狀。　赤豆　大豆(各一升)　蒸熱。作二囊。更互坐之即止。</p>
<h4>下部疳瘡</h4>
<p>生白果杵塗之。</p>
<h4>肛門生瘡</h4>
<p>雞肫皮燒灰研末。候冷干摻之。自愈。</p>
<h4>肛門鼠</h4>
<p>蜘蛛絲纏之即落。又蜣螂燒末。醋和敷之。又未成膿者。以柏葉搗塗。熬鹽臟毒(肛門突腫大便秘結肚腹不寬小水不利)　木鱉肉(五個)研如泥。安盆內。以沸湯沖洗</p>
<h4>治五痔方</h4>
<p>取桃根煮洗之。又取槐根煮洗之。又十年者。塗熊膽取瘥止。一切方皆不及又桃葉(一斛)　細糠　胡麻(各一斗熬)　上三味。合蒸之。取細糠熟為度。納肛門坐桃葉氣熏入。蟲盡出。甚效。</p>
<h4>治痔方</h4>
<p>生槐皮(十兩)　削去黑皮搗熟。丸如彈子大。綿裹納下部中。大效。又鯉魚腸(火炙令香。用綿裹納下部中。一食頃蟲當出。魚腸數數易之。盡數枚當瘥。又之。又以肥大棗(一枚)　剝去赤皮。取水銀掌中。以唾研。令極熟。塗棗瓤瘥。又冬瓜煎湯洗之。又皮硝(五錢)　入小便壺內。開水沖出熏洗之。</p>
<p>又鬱金為末。水調敷之。又芥菜末搗餅。頻坐之。又胡黃連末。用鵝膽汁調敷。又根煎湯。先熏後洗。又五倍子(三個)　皮硝(一撮)　水二碗煎濃。先熏後洗。一二次又枯痔法。紅礬(五厘)　蠍梢(七個)　白明礬(五錢)共入銀罐內。文火　末。入朱冰片(五厘)同研。真麻油調塗。十八日瘳。此方乃專門醫痔者所不樂聞也。內痔　內痔落下。</p>
<p>用大甲魚頭(一個)　為末。塗痔上。即刻收進。甚效。又內痔不出。以肛門。痔即拔出。乃可用藥敷治。又蜒蝣蟲(七個)　銀朱(細末一兩)啟視化為水。以濕朱搽患處。久搽自愈。</p>
<h4>腸痔</h4>
<p>以穀子燒末敷之。深者導之。又搗槐白皮作屑粉以導之。又以蘩蔞燒灰。礬石熬粉之。又腸痔出血者。蔥白三斤。煎湯熏洗立效。</p>
<h4>止痔下血</h4>
<p>蜒蝣(一條)　用鹽泥裹煨通紅。去泥。用硼砂　朱砂　雄黃　冰片共為極細末。</p>
<p>入龍骨(少許)更妙。大便時。乘其脫出。以細草紙盛藥少許。托之使入。大效。</p>
<h4>痔痛難忍</h4>
<p>蝦蟆頭陰乾燒煙熏之。奇效。又蜒蝣搗爛和陳墨敷之。極效。</p>
<h4>痔漏腫痛</h4>
<p>隔年風乾橙子。於桶內燒煙熏之。又先以木鱉子煎洗。旋以蔥涎和蜜敷之。其即愈。</p>
<h4>痔癢痛如蟲嚙</h4>
<p>菟絲子熬令黃黑末。以雞子黃和塗之。又　皮燒灰敷之。又杏仁熬令黑</p>
<h4>翻花痔</h4>
<p>木瓜為末。鱔魚涎調貼之。紙護。</p>
<h4>坐板瘡疥</h4>
<p>初起者用芫花　川椒　黃柏煎水洗。即消。又絲瓜皮焙乾為末。燒酒調搽。</p>
<p>又海螵蛸(五錢)　雷公藤(三錢)共為細末。擦之。干則以菜油調敷。</p>
<p>懸癰(即騎馬癰)　紡車上弦線燒灰。麻油調敷。已潰者干摻。亦效。又雄黃(二錢)　密陀</p>
<h4>下部濕瘡</h4>
<p>馬齒莧(四兩)研爛。入青黛(一兩)和塗。</p>
<h3>二便</h3>
<h4>大小便閉塞不通</h4>
<p>以病患坐桶上。燒皂角煙熏自通。又雄鼠糞(兩頭尖者是)研末。納臍中綿裹納下部。氣立通。又全蔥(一斤不洗)　生薑(一塊)　淡豆豉(念作餅烘熱。扎臍上。久之氣透自通。又食鹽炒熱候冷。填臍中。</p>
<p>艾灸七壯。立通。又男女大小便不通。危在頃刻者。用田螺(十個)　蔥白(七根)　麝香(</p>
<h4>大小便熱結不通</h4>
<p>大田螺(二個)搗爛。加青鹽(三分)　貼臍下一寸三分。即通。</p>
<h4>大便不通</h4>
<p>用麝香包肚臍內。一二時即通。又生薑削長一寸。塗鹽納下部。即通。又門即通。(加好醋少許治大便熱閉更妙)又甜瓜蒂(七枚)研末。綿裹塞下部即者。烏梅(十個)湯浸去核。丸如棗大納下部。少時即通。</p>
<h4>大便虛閉</h4>
<p>張仲景傷寒論云。陽明病自汗。小便反利。大便不通者。津液內竭也。用蜜(二中微火煎之。乘熱捻作條。(或以好蜜煎膏滴冷水中即硬為度)大如指。長寸半許。</p>
<p>納糞門中。少頃即通。或加麝香　細辛　皂角末和勻。捻成條。浸冷水中候硬。推凡年老氣衰。婦人新產。及久病之後。下不可。不下不可。則宜用此。其效甚速。</p>
<p>便熱閉)小便不通(此症寒熱虛實不同治無一定每用一方俟過一二時不效方可另治不得性急亂投自誤)口插入甘遂末。水調敷臍下一寸三分。內以甘草梢煎湯飲之。又韭白煎濃汁。洗臍下一寸三分即通。</p>
<p>又萵苣菜搗敷臍下。一二時即通。神效。又豬膽(一個)留汁。以陽物插入膽中。少傾汁入自通。婦人以膽汁滴入陰中。又苧根洗淨。搗攤絹上。貼小腹連陰際須臾。即通。又頭王不留行(各數兩)　煎湯一盆。坐浸其中。熏洗小腹下體。久之熱氣內達。即通仙花連根葉熬水。乘熱洗腎囊陽物及兩胯內。即通。又黃酒浸腳。又蓖紙捻內插入莖中。即通。又半夏末加麝香(少許)填臍中。用蔥白　田以布捆定。下以皂角燒煙。熏入陰中自通。婦女用皂角煎湯。洗陰寸三分。以手摩之。加麝香(少許)更妙。又熱結不通。刮滑石復塗之。又遍身水腫欲死者。以青布十七層貼臍下。用滾燒酒一大壺熨之。</p>
<h4>小便閉脹</h4>
<p>蔥白(三斤)　銼炒。帕包二個。更互熨小腹。</p>
<h4>老年小便閉塞</h4>
<p>上肉桂(五錢)為末。納入臍內。以蔥和面。作餅蓋之扎好。小便立通。</p>
<h4>小便轉脬</h4>
<p>蔥管吹鹽入玉莖內。甚效。又布包蒲黃。裹腰背。令頭至地。數次取通。</p>
<h4>小便出血</h4>
<p>萵苣菜搗敷臍上。</p>
<p>腫毒未潰。小便不通。　用蔥切。入麻油煎至黑色。去蔥取油。時塗腫處即通。</p>
<h3>足</h3>
<h4>香港腳腫痛</h4>
<p>白礬(二兩)　地漿水(一大碗於淨土地上掘二三尺深用新汲水傾入攪濁少俟澄定半濁者吹去浮沫用)　新杉木(三四片)　煎六七滾。用杉木桶(新者更佳)　盛一半浸一半徐徐添入。上用衣被圍身。使略有微汗。洗完。隨飲薄粥。如一次未愈。再洗一前方加硫黃(三錢)無不愈矣。又以鹽搽痛處。少時用熱水洗之。神效。又用紫荊煙。熏涌泉穴及痛處。使汗出愈。又皂角　赤小豆為末。酒醋調貼腫處。又杉木刨花)浸。捋腳去腫滿甚驗。　又白芷　芥子(等分)為末。薑汁和塗之。</p>
<p>又取蓖麻葉蒸裹。日三易。即瘥。</p>
<h4>香港腳走疼</h4>
<p>蘿卜煎湯洗之。仍以蘿卜干為末。鋪襪內。</p>
<h4>香港腳腿脛紅腫</h4>
<p>枸杞葉　鳳仙花葉共煎濃湯熏洗。並生搗融敷。又大田螺搗爛敷之。(並</p>
<h4>腳膝浮腫</h4>
<p>荷葉心　本(等分)煎湯淋洗。</p>
<h4>腳筋攣痛</h4>
<p>木瓜數枚。酒水各半煮爛搗膏。乘熱敷痛處。綿裹之。冷即換。日三五度。</p>
<h4>足上轉筋</h4>
<p>肝血虛煩所致。治有三捷法。一則手拔玉莖。婦女則手拔乳根。二則腳踏實地。</p>
<p>三則口念木瓜。又黃蠟(半斤)融化。攤舊綢上。隨患大小。乘熱纏腳。須當腳心。便著襪</p>
<h4>腿足麻木</h4>
<p>用木瓜(一個)　黃豆(半升)　地骨皮　透骨草　艾葉　川椒　槐條(各二兩)　煎最效。</p>
<h4>老人腿腳疼痛</h4>
<p>燒酒糟初出時。乘熱將腿足插入。熏浴數次即止。</p>
<h4>赤游風腳腿紅腫</h4>
<p>芭蕉根搗爛。塗之效。</p>
<h4>流火</h4>
<p>鮮紫蘇　鮮鳳仙花二味洗淨。連根葉搗爛。故木盆內。以滾水沖入。將腳架盆上。熏可洗。以軟綿洗之。立愈。數十年者。不過三四次不發矣。又夏枯草(一斤)　水二碗煎瓮內熏之。又馬前子磨水塗。二次止痛而愈。</p>
<h4>膝上生癰</h4>
<p>(名牛頭癰)連須蔥頭(二三兩)　切碎。用糯米飯乘熱拌敷。重者五六次。亦消而</p>
<h4>瘡</h4>
<p>棉花子炒脆。取末。填滿瘡內。扎好。不可開看。自然收功。雖三年貼骨之瘡。亦驗又蒜杆燒灰。香油調塗。又人乳　桐油(等分)和勻。以鵝毛掃塗。又豆腐渣炒熱換。以愈為度。又木耳瓦上焙枯。研末敷。又名夾紙膏。樟腦(三錢)　銅綠(和藥搗爛。以油紙夾之。貼患處一二日。翻轉貼三四日。膿盡而愈。如四日再換一紙即效。</p>
<h4>爛腿</h4>
<p>水龍骨研碎　。桐油調敷。又黃丹(三錢)　白芷(焙五錢)　研末。用麻油調勻。攤上。雙折將針刺細孔。貼患處。兩頭只用帶拴住。使得透氣。一日一換。效。</p>
<h4>寒濕腳痛</h4>
<p>川椒(一兩)　蔥(一把)　薑(三兩)　水數碗煎湯熏洗。腫消痛止。</p>
<h4>兩足痛如刀割</h4>
<p>先用生薑切片。蘸香油擦痛處。隨用生薑。火燒熟搗爛。敷患處。其痛立</p>
<h4>脫疽</h4>
<p>此症生於腳趾。漸上至膝。色黑內痛不可忍。逐節脫落而死。亦有發於手者。用土蜂研細。醋調搽。應手而愈。真神方也。</p>
<h4>腳丫奇癢難受</h4>
<p>用硫黃擦之。擦後再用硫黃濃敷。布包穿襪。一日一換。數日斷根。切忌用</p>
<h4>腳丫爛瘡</h4>
<p>陳火腿骨。米泔水漂盡鹽味。燒枯研末敷。</p>
<h4>腳指縫爛</h4>
<p>五倍子(　三個)　冰片(五厘)　茶油調敷。又鮮鵝掌黃皮陰乾。燒存性為末。</p>
<p>摻之極效。又桂圓核燒灰。摻之立效。又陳松蘿茶末摻之。</p>
<h4>腳上皮蛀</h4>
<p>生水孔而皮濕爛者。用豆腐渣不落水者。貼三日即愈。</p>
<h4>腳疰</h4>
<p>麥柴稈煎湯頻洗。</p>
<h4>腳冷如冰</h4>
<p>生附子(二錢)　好酒曲(三錢)　共為末。燒酒調敷足心。甚妙。</p>
<h4>腳多汗濕</h4>
<p>楊花鋪鞋及襪內穿之。</p>
<h4>腳底開裂</h4>
<p>白芨刮取細末。用口水調敷。</p>
<h4>遠行腳上成泡</h4>
<p>生面和水調塗。</p>
<h4>遠行腳腫</h4>
<p>草烏　細辛　防風(各等分)共為末。作護膝或襯鞋底。(並除膝風及腰冷痛)又研末)　白礬(研末)共鋪鞋底。遠行腳不作痛。極效。</p>
<h4>釘鞋打傷足跟</h4>
<p>羊皮金面貼傷處。過宿即愈。又腳脛被靴山擦破者。　用白蠟(五錢)　藤入麻油融化。塗傷處即消。</p>
<h4>腳鹼</h4>
<p>荸薺(半個)　貼患處過夜。次晚再貼。五六次。其鹼連根脫出。又蔥頭荸薺搗汁一再取松香(四兩)　麻油(半斤)　熬至滴水成珠。方入前汁。攤膏貼即落。</p>
<h4>腳生雞眼</h4>
<p>真烏梅肉搗爛。入醋少許。加鹽水調勻。貼之即消。又荸薺(一個)　蕎面(一貼上。一晝夜自落。又地骨皮　紅花共研細。敷之立愈。又生白蘿卜口嚼如神。</p>
<h4>嵌甲作痛不能行履</h4>
<p>濃煎。陳皮湯。浸良久。甲肉自離。輕手剪去。以虎骨末敷之即安。</p>
<p>又胡桃皮燒灰貼。</p>
<h3>疔毒</h3>
<h4>蜘蛛拔毒法</h4>
<p>先將疔頭。用磁片刺破。尋活蜘蛛(一個越大越好)放疔瘡上。蜘蛛一見。自能其毒。少時蜘蛛不動。即取放冷水中自活。如疔未愈。可用蜘蛛再行吸拔。或另取以毒盡為止。無論疔在何處。雖毒重極痛。不省人事。命在垂危。立可回生。</p>
<p>法。凡手指生蛇頭瘡及毒蛇毒蟲咬傷。皆可照此拔毒。</p>
<h4>取疔膏</h4>
<p>乳香(一粒)　麝香(米大一粒)　黃連(末)　連翹(末)　桃仁(二個去皮)同蝦蟆肝腸味。共一處入乳缽內。搗如泥。白皮紙一張。攤貼患處。三四日連疔揭去。</p>
<h4>拔疔根法</h4>
<p>疔毒重者。愈而復發。此疔根未出之故。若不急治。再發則根愈深而難治矣。用(一粒去油)　乳香(一分去油)共搗爛。用飯和餅貼之。少時疔根自出。又蔥白加蜜將疔刺破敷之。如人行五裡。根自出。</p>
<h4>消疔</h4>
<p>人指甲炙為末。放患處。將核桃平破取肉嚼爛。安半殼內合住。不可露氣。一飯頃即</p>
<h4>治疔初起</h4>
<p>生山藥同白糖搗爛。塗敷即消。</p>
<h4>治疔各方</h4>
<p>生黃豆嚼爛。敷之極效。又黃色溏雞糞。濃敷四圍。將疔頭挑破。留頭不敷。</p>
<p>甚效。又用煙杆中煙油。濃敷四圍。留頭不敷。少刻疔破出水而愈。奇效。如有紅絲者。</p>
<p>用煙油離絲三分處敷之。絲即不走。又灶上蟑螂。不拘多少。搗爛敷之。其疔根自出。</p>
<p>又臭蟲同米飯搗勻。塗疔上。能立拔疔根外出。又生半夏　鍛石(等分)　搗末。敷瘡上。</p>
<p>和勻。如豆大。放茶匙內。燈頭上炙片刻。作丸。將銀針挑破疔頭貼上。外覆涎濕綿紙。痛立止。真妙方也。又青石末同荔枝肉杵爛。將婆雞糞調干塗。其根自拔。神效非常。又肉白梅肉(各三個)搗餅貼之。根即出。又乾薑　胡椒　龍骨　斑蝥(去足翅熬)　皂去皮子)各等分搗篩。以酒和封瘡上。日一敷之。又先刺瘡出血。以海螵蛸末搽之。</p>
<p>其疔即出。又馬齒莧(二分)　鍛石(三分)搗勻。以雞子白和塗之。又皂莢子中仁研末敷之。數貼五日愈。又刺破。以老蔥　生蜜杵貼。兩時疔出。用醋湯洗之。神效。又蒺藜升)熬搗。以醋和。封頭上拔根。又名大戟膏。真紅芽大戟(用整枝者)　溫茶洗淨去融敷之。立刻止痛而愈。再發再敷收功。嚼時藥汁不可咽下。(並治一切惡瘡及陰苦白汁。塗之拔根。青苗陰乾。冬月水調敷之。亦效。又面和臘豬脂。封</p>
<h4>唇口疔</h4>
<p>凡口唇生疔。看大腿彎中。如有紫筋。用銀針刺出血。即愈。又一人唇口生疔七腫如斗。百藥不效。後遇一醫云。此名七星趕月。用蛔蟲搗爛敷之。頃刻瘡口出黃水神清。次日全愈。如無蛔蟲。以五穀蟲(一錢瓦上焙研末)　白礬　蟾酥(各三分)　用化調勻。敷疔上。少刻疔亦破。流毒水而愈。又雄雞冠血點上。神效。又生蜆去即效。又烏色草魚。去鱗取皮。切片貼之。隨貼隨干。干則換貼。貼至數十次。</p>
<p>即破口而愈矣。又大蝦蟆(一個)　取肝。貼之立消。(兼治面上生疔對口疔等症)</p>
<h4>面疔</h4>
<p>飯蠅(七個)　冰片(一二厘)　同研爛。敷之。即不走黃。</p>
<h4>鼻內生疔</h4>
<p>爛黃雞糞　荔枝肉同搗爛。塗上即愈。又用花盆中青螺(即鬼螺螄)二三個。同立效。</p>
<h4>眉心疔</h4>
<p>粗草紙上。揀內有米殼。取(二三十粒)去殼。將米研細和砂糖調塗疔上。數次即愈</p>
<h4>紅絲疔</h4>
<p>此疔最易走黃。犯者用針挑斷其絲。且拔去發中紅頭發一根。將多年糞坑上碎木椽灰研細。用餳糖拌塗疔上。露出疔頭。疔毒拔出無事。若不急治。隔日即死。又此最速。生於足者。其紅絲漸長至臍。生於手者。紅絲漸長至心。生於唇面者。紅絲漸至則不可救矣。手足兩處。可用頭發。離絲一二寸遠緊緊捆住。並將絲頭刺破或用艾火。在絲頭燒之。絲即退散而愈。不散再燒。以散為度。其效如神。又蟑螂(一青糖。搗塗即效。</p>
<h4>魚子疔</h4>
<p>活蟶殼　用。豬苦膽汁調塗。</p>
<h4>魚臍疔</h4>
<p>寒食餳(即飴糖)　塗之。良。干者燒灰。又瞿麥燒灰。和麻油敷之。效。</p>
<h4>水疔</h4>
<p>蝸牛同菊葉搗爛敷之。(無菊葉以野苧麻頭代之)又用鰣魚腮下近腹處。有劃水二瓣間有長鱗二瓣最佳。但難得。今人以背上大鱗代之。貼上即消。</p>
<h4>水疔暗疔</h4>
<p>水疔色黃。麻木不痛。暗疔瘡凸色紅。使人昏狂。並先刺四畔。後用銀杏去殼。</p>
<p>年久者搗罨之。</p>
<h4>指上蛇頭疔</h4>
<p>(又名天蛇頭生各指頭又足指頭生者亦是)鳳仙花下半截。(連根用不用水洗)和調搽甚效。又雞蛋(一個)穿一小孔。入仙方也。又雞子開一孔。將指入內。</p>
<p>又雄黃　枯礬(等分)研末。用麻未潰即散。已潰者止痛。立愈</p>
<h4>疔毒痔瘡</h4>
<p>田螺入冰片。化水點之。</p>
<h4>疔瘡走黃</h4>
<p>陳年苔菜研末。敷上即消腫收口而愈。試過無不效。又白梅干肉(無白梅用烏能拔疔根)腌荔枝肉加銀朱少許。共搗爛。溏雞矢拌勻。留頭敷效。(按走黃為疔瘡當內外兼治為是速取芭蕉葉或根搗汁灌之或服別藥專憑外治恐難全效)</p>
<h3>癰疽</h3>
<h4>烏龍膏</h4>
<p>治一切癰腫發背。無名腫毒。初發　熱。未破者取效。用隔年陳小粉。愈久愈佳。</p>
<p>以鍋炒之。初炒如餳。久炒則干成黃色。冷定研末。陳米醋調成糊。熬如漆。磁罐收之。</p>
<p>用亦自然脫落矣。</p>
<h4>治癰腫</h4>
<p>白蘞　黃芩　烏頭(泡各等分)　搗篩末。和雞子白敷上即愈。又已潰者貼之。黃柏地榆　白芷(各二兩)　共搗為末。雞子白和塗布敷癰上。對瘡口穿布。令疏氣。</p>
<p>豆浸胖搗塗。又豬膽汁和芥子末貼之。日三上。豬脂亦可。又蔓菁葉不見水燒封之。又初起者綠豆粉炒黃黑色。入牙皂(一兩)同研。米醋調敷。皮破者油調</p>
<h4>一切腫毒</h4>
<p>蓖麻仁搗敷。即止。又蔥汁敷之。日四五度。又醋調大黃末塗。又商陸根敷。日再易。又初起用芭蕉葉。熨斗內燒存性。入輕粉麻油調塗。一日三上無痕。又芭蕉研末。和生薑汁塗之。又萍草搗敷之。又獨頭蒜(一枚)三五次即消。</p>
<h4>多骨癰</h4>
<p>紫玉簪根搗爛敷之。其骨自出。</p>
<h4>快馬癰</h4>
<p>山藥磨沙糖水。搽圍即散。</p>
<h4>決膿妙法</h4>
<p>治癰膿不出。用人乳汁和面敷之。</p>
<h4>一切癰疽</h4>
<p>初起用乾薑(一兩)炒紫研末。醋調敷四圍留頭。自愈。又赤小豆(四十九粒)為塗。無不愈者。但其性黏。干則難搗。入苧根末。則不黏。此法尤佳。(或用雞子瘡腫者。鹽白梅燒存性為末。入輕粉(少許)　香油調塗四圍(已潰未潰均可用下檳榔(等分)　為末。雞子清調搽之。又癰疽不斂。瘡口太深。用絲瓜搗</p>
<h4>瘭疽</h4>
<p>熬蕪菁子熟搗。綿裹敷之。勿止。又酒和面敷之。又以豬膽敷之。良。又鯽魚者)　亂髮(如雞子大)　豬脂(一斤)　煎成膏塗之。</p>
<h4>骨疽</h4>
<p>豬脂和楸葉搗封之。又搗白楊葉下篩敷之。</p>
<h4>疽瘡骨出</h4>
<p>黃連　牡蠣(各二分)　熬為末。先以鹽湯洗。然後敷之。</p>
<h4>疽潰後方</h4>
<p>用鹽湯洗拭後。燒皂角灰粉之。良。又以牛耳中垢敷之。良。</p>
<h4>治癤</h4>
<p>燒葛蔓灰。封上自消。又牛糞封之。佳。又鼠黏根葉貼之。又水和雀糞敷之。</p>
<p>又生椒(末)　釜下土(等分)　醋和塗之。(一方有曲末)又已破用益母草搗敷。</p>
<h3>諸瘡</h3>
<h4>楊梅瘡</h4>
<p>雄黃(一錢五分)　輕粉(一錢)　杏仁(三十粒去皮)　共為末。用雄豬膽汁調塗。</p>
<p>又兒茶　杏仁霜(各一錢)　輕粉(五分)　冰片(三分)用鵝膽調點一次。過夜即脫靨。(一方</p>
<h4>楊梅瘡癬</h4>
<p>水萍煎汁。浸洗半日。數日一作。</p>
<p>天行熱氣病。豌豆瘡。　濃煮黍穰汁洗之。</p>
<p>又瘡若黑者。搗蒜封之。</p>
<p>又若亦黑如疥大者。煎羊脂摩敷之。</p>
<h4>浸淫瘡</h4>
<p>生鯽魚切片。鹽搗貼。頻易。</p>
<h4>血風瘡</h4>
<p>舊傘帽　壞皮掌焙灰。桂花油調敷。神效。</p>
<h4>黃水瘡</h4>
<p>真地瀝青熬稠塗。又芋苗晒乾。燒存性。研擦。又木槿子燒存性。豬骨髓調搽之殼燒灰。以小磨麻油調塗。又石膏(　)　龍骨(　)　松香　枯礬(各三錢)　共雞子黃熬油和敷之。又頭面俱生者。蒼朮　糯米粉(等分)均炒燥研勻。摻之</p>
<h4>天泡瘡</h4>
<p>荷葉貼之。又絲瓜葉搗汁塗之。又生百合搗塗。一二日即安。又蓮蓬殼(二末。以井泥調敷。又生蠶豆莢殼炒黑研末。麻油調塗。</p>
<h4>膿窠瘡</h4>
<p>用火紙卷雄黃。熏被三次即愈。臨臥忌熏。又大風子油(百粒)　蛇床子(五錢)錢)　枯礬　花椒(各三錢)共為末。燭油　豬油(各五錢)同搗爛。熔化調塗。又菖臥。並煎水洗。數日愈。</p>
<h4>月蝕瘡</h4>
<p>燃燭照瘡。使燭之熱氣相及瘡。即愈。又茱萸根　地榆根　薔薇根(各等分)為末洗瘡。取藥塗之。日三。</p>
<h4>疥瘡</h4>
<p>枯礬　滑石(各五錢)　硫黃(三錢)共為細末。豬油同研糊塗。極效。又紅棗(三枚)艾雄黃　花椒(各三分)共燒爐內。熏焙衣被。俟冷透穿蓋。免受火氣。甚效。又風和醋漿水調塗。隨手而減。鍛石淋汁洗之。甚效。</p>
<h4>一切瘡疥</h4>
<p>桂圓核　存性。麻油調敷。</p>
<h4>諸毒惡瘡</h4>
<p>蟑螂搗鍛石敷之。</p>
<h4>蠷尿瘡</h4>
<p>繞身匝即死。以蒺藜葉(無葉用子)搗敷之。</p>
<h4>螻蛄漏瘡</h4>
<p>茜根(燒灰)千年鍛石(等分)為末。油調敷。</p>
<h4>五種疾</h4>
<p>芥子末水蜜和敷。干即易之。</p>
<h4>赤游火丹</h4>
<p>新生荷葉搗爛。入鹽塗之。又麻仁搗末。水和敷之。又赤小豆末雞子清稀調</p>
<h4>熱毒丹瘡</h4>
<p>慎火草搗汁拭之。日夜一二十遍。又浮萍搗汁遍塗之。</p>
<p>疥癬滿身。不可治者。　何首烏　艾葉(等分)煎濃湯洗浴。甚能解痛生肌。</p>
<h4>治癬方</h4>
<p>初起用海螵蛸(一塊)常向患處。時時擦之。效。又穀樹脂抹之。又白芨　木皮白糖(各等分)為末。醋調塗。又巴豆(五六個)去皮打碎。包絹內擦之。不(身面上如錢大者擦之如神)又珠蘭花葉時時擦之。半月斷根。又荔枝核磨之。雖痛不妨。數日即愈。再發再搽。斷根。又用新棉花扯如紙薄一層。</p>
<p>鋪貼。用火向花上一點。頃刻燃盡。當即止癢。且並不焦痛。不須用藥。</p>
<p>花須用彈過者)倘再發。照治一回。斷根。</p>
<h4>陰癬</h4>
<p>土槿皮　檳榔(各兩文)切片。用滴花燒酒(五文)將二藥浸三四日。候酒色變赤而膩。</p>
<p>蘸塗患處。痛癢立止。癬亦即愈。又明礬(生熟各一錢)　輕粉(二錢)　銀硝(三分)共研。</p>
<p>將土大黃根搗爛。布包蘸藥末擦之。又蛇床子　草　川芎　川柏　銀花共煎滾。入干淨便桶內。以身坐上。熏其熱氣。</p>
<h4>牛皮血癬</h4>
<p>枯礬　水銀(各二錢)　川椒(炒一錢)　用土大黃根。鹽豬油同搗爛。敷患處即效</p>
<h4>漆瘡</h4>
<p>韭菜搗汁。入燒酒少許塗之。又干荷葉煎湯洗之。又鍛石水拌敷。一日除根。</p>
<p>又生蟹黃塗之。又以馬尿洗之。又煮柳葉湯。適寒溫洗之。(柳皮尤妙)又麻油調鐵鏽塗之。又濃煮杉木汁洗之。</p>
<h4>暑月痱瘡</h4>
<p>(俗名痱子)綠豆粉(二兩)　滑石(研末一兩)和勻撲之。(一加蛤粉二兩)又冬瓜</p>
<h4>凍瘡</h4>
<p>剝辣茄皮貼之。又方頭黃色蚱蜢風乾。　研。香油調塗。摻亦可。又蟹殼燒存性香油調塗。又凍在臉上。用活雀腦塗之。立效。又凍在手足。白蘿卜(一個)熱柴皮擦之。又橄欖核燒存性研末。加輕粉(少許)　香油調塗。良。</p>
<h4>凍瘡手足指欲墮</h4>
<p>生薑搗自然汁。熬膏塗。又黃蠟濃煎塗之。又以蚶子殼　研極細。麻又馬糞煮水。將凍指浸半日。冷加熱水。</p>
<h4>凍瘡裂坼</h4>
<p>人乳調黃柏末塗之。又甘草煎湯洗。次以黃連　黃柏　黃芩(各等分)研末。入調敷。又藕蒸熟。搗爛塗之。</p>
<h3>瘤痣</h3>
<h4>治瘤方</h4>
<p>水銀　硼砂(各一錢)　兒茶　血竭(各三錢)　麝香　冰片(各三分)　各為細末。將摻於瘤之根處。隨擦隨落。根小者無不落也。又極細鐵屑醋拌。放銅杓內　。干則再此三次。研細。再用醋調敷。便覺患處。不甚適意。過一宿剝去再敷。以平為度。</p>
<p>又用竹刺將瘤頂稍稍撥開油皮。勿令見血。細研銅綠(少許)放撥開處。以膏藥貼之。又生</p>
<h4>粉瘤</h4>
<p>天花粉(一兩)　陳壁土(五錢)　穿山甲　川貝母(去心各三錢)共為末和勻。擦膏藥上(不拘何膏)貼之即穿出粉滓而愈。</p>
<h4>眼皮生瘤</h4>
<p>櫻桃核磨水搽之。其瘤漸漸自消。</p>
<h4>肉核</h4>
<p>真烏梅去核燒存性。研末。搽數日即消。又生蘿卜皮貼之。連貼數次。即愈。</p>
<h4>疣瘊</h4>
<p>(又名瘊子拔之絲長三四寸)薑汁和好醋。時時搽之。又地膚子　白礬煎湯。洗數次瘥。又以屋漏下水。塗疣上。又松香　柏樹皮上油和之即落。又杏仁燒令黑。研如膏塗之。令瘥止。</p>
<h4>肉痣</h4>
<p>(小黑子是)用針挑破。以鹼水泡鍛石點之。即消。</p>
<h4>血痣</h4>
<p>初起如痣色紅。漸大如豆。觸破時流鮮血。以黃鱔血同蒜汁好墨汁頻塗之。效。(血甚者宜內服涼血地黃湯)又血痣挑破。血出不止者。鰣魚鱗貼之。即結痂而愈。</p>
<h4>除痣方</h4>
<p>取桑條燒灰淋汁。入鍛石熬膏。自己唾調。點之自落。又糯米(百粒)　鍛石(拇塊)　巴豆(三粒)　去殼研為末。入磁瓶同窨三日。每以竹簽挑粟許。用鹼水點上。</p>
<p>又杏仁為末。雞子清調點。一宿自落。又桑柴灰　風化鍛石(各一斤)　鮮威靈仙濃汁。淋二灰取汁。熬成稀膏。磁器收藏。用點患處。不必挑破。應手而除。(息肉雞眼)</p>
<h3>諸傷</h3>
<h4>天下第一金瘡藥</h4>
<p>凡刀斧損傷。跌撲打碎。敷上即時止痛止血。更不作膿。勝於他藥多矣。</p>
<p>其傷處不可見水。　公豬油(二十兩)　松香　黃蠟(各六兩)　面粉(炒篩四兩)　樟腦(三兩)以上泄氣兩韭菜共搗成餅。貼牆上陰處。干透聽其自落。研篩極細收藏。血流不止。摻上立愈。</p>
<h4>箭鏃傷</h4>
<p>頭上黑虱及人牙齒同研。塗之即出。又栝蔞根搗敷之。日三易自出。(並治竹刺</p>
<h4>中毒箭</h4>
<p>以犀角刺瘡中。立愈。又搗苧根罨之。</p>
<h4>鳥槍傷</h4>
<p>凡槍子打入皮肉。用生南瓜切片。貼患處即出。(南瓜瓤敷之亦佳)　又泥鰍搗爛</p>
<h4>被斫斷筋</h4>
<p>旋覆根搗汁瀝瘡中。仍以渣敷之。日三易。半月斷筋便續。又白蠟　合歡皮(融。調敷傷處。極效。</p>
<h4>跌打損傷</h4>
<p>閃挫初時。即於無風處。將紙捻觸鼻內。用力打嚏二三十次。則氣升而痛自止。</p>
<p>又綠豆粉炒紫色。新汲水調敷。以杉木皮縛定。又胡椒　黃蠟(各二兩)　公雞(一只去毛)共搗爛敷患處。如癢即愈。</p>
<h4>頭面跌撲青紫</h4>
<p>生半夏末。醋調敷之。神效。(一方用水調敷)</p>
<h4>打傷眼睛</h4>
<p>生豬肉(一片)以當歸　赤石脂二味研末。摻肉上貼之。拔出瘀血。眼即無恙。</p>
<h4>閃拗手足</h4>
<p>生薑　蔥白搗爛和面炒熱。罨之。</p>
<h4>踢傷</h4>
<p>冬青葉醋煮數沸。略滴麻油(少許)取葉換貼。</p>
<h4>抓破面上皮</h4>
<p>生薑自然汁調輕粉末敷之。無疤痕。</p>
<p>抓破腎囊。卵丸脫落。懸掛未斷者。　即教人慢慢托上。多取壁錢敷貼患處。日漸就安。</p>
<p>其</p>
<h4>接骨方</h4>
<p>山梔(五分生研末)　飛羅面(三錢)　用薑汁調和塗患處。一日夜。皮肉青黑。是其或用水調搽。干則掃去。又用市鎮上乞小兒破鞋一只。燒灰。白面(等分)好醋調成處。以絹束之。杉木板夾好。須臾疼止骨接有聲。甚妙。</p>
<p>損傷碎骨。在內作膿。　田螺搗爛。加酒糟和勻。敷四圍。中留一孔。其骨即出。</p>
<h4>腦破骨折</h4>
<p>蜜和蔥白搗勻。濃敷立效。(此藥切忌入口)</p>
<h4>誤斷指頭</h4>
<p>降香研末摻之。包以絲綿。七日忌落水冒風。一次即痊。又真蘇木為極細末。</p>
<p>摻於斷指間接定。外用蠶繭包縛牢固。數日即如故。</p>
<h4>破傷風</h4>
<p>白面　燒鹽(各一撮)　新水調塗。又破傷風腫者。杏仁杵膏濃塗上。燃燭遙炙之</p>
<h4>火燒瘡</h4>
<p>管仲　灰。油調塗。立刻止痛。</p>
<h4>滾油潑傷</h4>
<p>陳面和敷之。又蟹殼灰麻油調搽。又生寒水石研細末。油調塗。又扁柏葉</p>
<h4>爆竹炸傷</h4>
<p>鮮柏枝搗爛。香油調敷。</p>
<h4>湯泡火傷</h4>
<p>大麥炒黑研末。油調搽之。　又油調芙蓉末敷之。又生蘿卜搗塗之。(子為末敷又辰砂末雞子清調敷。又舊葫蘆瓢燒灰敷之。又以竹中蛀蟲末塗之。又醋油調塗。又新熱牛糞塗之。又柳皮燒灰。如粉敷之。</p>
<h4>人咬傷</h4>
<p>鱉頭焙存性研末。香油調塗。又用童便(淘米水亦可)洗淨污血。(雖痛至不省人忍住洗淨)　以人糞敷之。(或用人中黃煎湯時洗)又白蘿卜葉嚼敷。又溏雞屎塗</p>
<h4>虎咬傷</h4>
<p>土蠶搗敷。又雄黃　硫黃　紫石英(各等分)　研末塗。又嫩松毛捶融如泥。將滿。極效。</p>
<h4>馬咬</h4>
<p>益母草切。醋炒研塗。</p>
<h4>瘋狗咬</h4>
<p>半夏末擦。又紫蘇葉嚼敷。又婦人尿澆。又白果仁嚼塗。又荔枝肉貼。</p>
<p>又搗栗子塗。</p>
<h4>狗咬</h4>
<p>甜杏仁(去皮尖)　嚼爛敷之。又鵝屎敷之。不爛痛。</p>
<h4>貓咬</h4>
<p>薄荷煎水洗之。或用川椒煎水洗之。</p>
<h4>鼠咬</h4>
<p>陳火腿燒灰。　香油和敷。又貓屎揉敷。</p>
<h4>蝮蛇螫人</h4>
<p>薑末敷之。干即易。</p>
<h4>蛇咬</h4>
<p>生杵芹汁塗之。又杵白扁豆葉敷。又銅青敷。又梳垢一團。尿和敷。又人糞</p>
<h4>蠍螫</h4>
<p>芝麻油塗。又木碗蓋於痛處。過半日即愈。</p>
<h4>蛇及諸毒螫</h4>
<p>煙筒中垢塗之。</p>
<h4>蜈蚣咬</h4>
<p>嚼香附塗之。又胡椒嚼封之。即不痛。</p>
<h4>蜂螫</h4>
<p>人乳塗。又野莧擦。又芋頭梗搗融敷。</p>
<h4>蜘蛛咬</h4>
<p>炮薑切片貼之。又熱甜酒洗之。</p>
<h4>射工溪毒傷</h4>
<p>芥菜子末和酒濃敷。半日止痛。又切蒜片貼之</p>
<h4>螻蛄咬</h4>
<p>醋和鍛石塗。</p>
<h4>百蟲咬</h4>
<p>燈火熏。又香油浸紫蘇塗。</p>
<h4>烏龍刺傷</h4>
<p>(又名火芭蕉)烏龍刺入泥中。人若足上簽踏。較蛇咬更毒。腫至肚腹。則無藥可用糞蛆)數條。搗爛敷患處。腫消刺出而愈。</p>
<h2>卷四</h2>
<h3>婦科</h3>
<h4>通經</h4>
<p>益母草煎洗小腹。又鬼螺螄(十四個生在陰處者是)　砑碎油紙攤貼臍上。縛定周時經閉用蠶砂酒炒熨。又經閉按腹內似有痞塊者。鱔魚血隨患處大小塗一圈。另用皮百草霜(各研末五錢)　紅皮獨蒜(一枚)同搗敷圈內。覺口中有蒜味。即擦去。</p>
<h4>經前腹痛</h4>
<p>紫蘇陰乾四兩。候經期。如肚腹脹痛。煎湯熏洗下部。摩運小腹。每經摩洗三四經正痛止。</p>
<p>婦人因開甑為熱氣所沖。面目腫大。經水不通。　舊蒸飯布(越舊越好燒灰)用鍋蓋上氣水(</p>
<h4>婦人氣滯</h4>
<p>木香　生地黃搗餅。貼患處。熨斗熨之。(並治腫核)</p>
<h4>血崩不止</h4>
<p>枯礬　黃丹(各五錢)　研綿絹包裹。麻油抹絹面。線扎一團。用線穿竹筒上。仰陰戶內。將竹筒退出一炷香久即止。止後將線掣出藥團。又燒漆器令聞。又舊氈條坐身下。又黑驢糞燒熏之。又危急者以黃丹　鉛粉絹包。塞入陰戶。以線帶住</p>
<h4>治帶下</h4>
<p>以灶下黃土。水和為泥。作彈子丸百枚晒乾。以火燒熱徹。用三年酢漬一丸。綿裹戶中。唯深。待冷即易之。新患者三十丸。瘥。久者五十丸。</p>
<h4>白帶</h4>
<p>雞冠花(醋炙)　紅花(酒炒)　荷葉灰　白朮　茯苓　陳壁土　車前子(各一錢)為末。</p>
<p>酒或米湯調敷臍上。可利濕熱。又熱鹽炒艾熨臍。</p>
<h4>五色帶下</h4>
<p>年久古磚(一塊)　燒極紅赤。以油煎面餅(七個)　安放磚上。再用黃瓜根研末。</p>
<p>上。加布兩層。令病患坐上。使藥氣熏入腹中。當有蟲出。治三五次。蟲盡即愈。(經崩帶)</p>
<h4>陰冷</h4>
<p>母丁香為末。紗裹如指大納入。又蛇床子(炒研二錢)　白粉(一錢)　調勻。如棗大用一枚。綿裹納入陰內。自然溫暖。</p>
<h4>子宮寒冷不能受孕</h4>
<p>吳茱萸　川椒(各八兩)　共為末。煉蜜為丸。如彈子大。綿裹納入陰戶一月後子宮和暖。即可成孕。又硫黃煎水常洗效。</p>
<h4>婦人無子坐導藥方</h4>
<p>皂莢(一兩炙去皮子)　大黃　戎鹽　礬石(燒)　當歸(各二兩)　五味子(各三兩)　蜀椒(汗二兩)　葶藶子(千金方無此味)　苦瓠(各三分千金方作山一味。搗篩納輕絹袋子。如中指許大。長三寸。盛之令滿。納子門中。坐臥任小便時即出之。仍易新者。一日當下青黃冷汁。汁盡止即可幸御。自有子。</p>
<p>若未見病出亦可。至十日安之。(一方有砒霜三分)又蛇床子　芫花(各三兩)　搗篩取棗大</p>
<h4>四奇種子丸</h4>
<p>粉龍骨(五色者佳瓦上　)　鎖陽(醋洗)　北細辛(水泡一夜晒乾)　陽起石(見者佳各三錢)　早黃桂花(人乳拌晒)　旱地浮萍(要肥大者)　吳茱萸(醋泡過一夜炒桂(去皮各二錢)　紫梢花(色潤紫者佳)　石榴皮(瓦上焙乾)　砂仁(去殼燒酒洗焙乾蓉(紅色者佳焙乾)　川椒(要開口者)　枸杞(去核炒)　麝香(用當門子)　白芷(銅器鬧楊花(焙)　象皮末　真鴉片(各一錢)　高麗參蘆(五錢)　蓖麻子(四十九粒去殼去油淨)共為末。煉蜜為丸。如小圓眼肉大。丁香油為衣。每於經待一頓飯時藥化。然後行事。然種子務宜節欲。若藉此淫者慎諸。</p>
<h4>丁公仙枕方</h4>
<p>用槐木薄板做枕一個。高三寸三分。寬四寸五分。長一尺二寸。如天蓋地。二一百二十八個。如桐子大。用後藥裝入枕中。百日後諸病消除。精神倍長。壽高多方也。如夫婦皆以此作枕。更見功效。其藥料三五。過月一換。　真川椒　桔梗子仁　薑黃　吳茱萸　白朮　薄荷　肉桂　川芎　益智仁　枳實　全當歸　川烏五加皮　藜蘆　羌活　防風　辛夷　白芷　附子　白芍　本　蓯蓉　白細辛夷甘草　荊芥　菊花　杜仲　烏藥　半夏　共三十四味。每味一兩。務選頂好研為細末。絹袋盛之。裝入枕中。(以上種子)</p>
<h4>轉女為男法</h4>
<p>婦人覺有娠。即以雄黃(一兩)　裝絳紗囊。佩小腹。</p>
<h4>妊娠心痛</h4>
<p>蜜(一升)和井底泥。塗心下。又取弩弦急帶之。立愈。</p>
<h4>妊娠傷寒熱病保胎法</h4>
<p>用井底泥入灶心土。敷於臍下。或加青黛。如干再塗。又白藥子不清調攤於紙上。如碗大。貼臍下胎存處。干則以濕水潤之。</p>
<p>妊娠風寒交中。不省人事。狀如中風。　用熟艾(三兩)米醋炒極熱。以絹包熨臍。良久即愈。</p>
<p>妊娠目鼻咽喉唇口諸病。孕婦專以清熱為主。目鼻諸病多屬熱。用吳茱萸(五錢)研末。</p>
<p>好一</p>
<h4>妊娠遍身搔癢</h4>
<p>此症有風。不可服藥。用樟腦調酒擦之。即愈。</p>
<h4>妊娠腹癢</h4>
<p>取鐵箭頭(用舊針線袋亦可)安臥席下。勿令婦知。</p>
<h4>子鳴</h4>
<p>子在腹中鳴者。謂之子鳴。此由孕婦或欠身向高處取物。子在腹中失脫口中所含疙故啼。治法或令孕婦作男子拜狀或以豆撒地。令其檢拾。子復含著則止。</p>
<h4>妊娠小便不通</h4>
<p>蔥白(二十根)　細切。和鹽炒熨臍下。又吊起一腳睡即尿。又將孕婦睡扎住。倒懸片刻。則尿自出。(或選二便門方用之　以上胎前)</p>
<h4>催生膏</h4>
<p>治交骨不開。及各種難產。用大龜(全個)初死者佳。頭足血肉俱用。約十兩外。如用生龜版(一斤)代。以小磨麻油(二斤)熬去渣。炒黃丹(十二兩)　炒鉛粉(四兩)收。每五錢。皮紙攤貼臍上。外用車前子(四錢)　川芎　當歸(各三錢)　冬葵子(二錢)　枳殼芷半夏　白蘞(各一錢)研末。麻油蔥汁各一大鐘調藥。敷於膏外。紙蓋布扎。令產婦安睡。睡醒即產。蓋睡則陰氣復。母子皆有力也。</p>
<h4>催生方</h4>
<p>取槐東引枝手把之。又手捉鸕　頭。甚驗。又取馬銜一枚。覺痛即令左手持之樹葉一片。或花或草葉皆好。要新鮮青翠。以淨水貼在床背。勿令人知。又取兩手各持一枚。即產。又取蓖麻子十四枚。每手各持七枚。須臾立下。</p>
<p>又用新朱筆在黃紙上(無新朱筆用新墨筆亦可)寫語忘敬遺四字貼床柱。及門窗上。凡有門窗此生下。速即另備香紙。將黃表字紙焚化。送於流水。遲則恐大腸隨下矣。</p>
<p>又鄉村僻壤無藥之處。不幸遇此。即覓花椒葉　香櫞葉　柚子葉　茱萸葉　生薑　生蔥紫溫鋪於腹上。先下墊蔥白再以沙鋪之。又蓖麻子(七粒去殼)　研如泥。入麝香(一分)再研塗產母足心。胎下即洗去。遲則恐子腸出也。如子腸出。可移塗產婦頂心。腸即收上之。此方催生下胎雖速。藥性猛峻。用者慎之。又烏梅(一個)　巴豆(三個)　胡椒末搗成膏。酒醋調貼臍下。即產。又巴豆(三個)　蓖麻子(七個)　共去殼搗爛許)油紙攤貼臍下三指。產後立用濕布將藥抹淨。免爛皮膚。(此與上兩方臨產如未臨月誤用打胎徒傷孕婦耳慎之)又名龜殼散。能開交骨。治難產及死胎版(二兩)　川芎　當歸(各一兩)　發灰(五錢)　加蟬蛻(七個)　蛇蛻(一條)調敷腹上。閉目靜臥一時即生。或加車前子(一兩)敷。</p>
<h4>妊身熱病子死腹中</h4>
<p>烏頭(一枚)細搗。水三升煮取大二升。稍稍摩臍下及陰下。胎當立出。</p>
<h4>子死腹中</h4>
<p>醋炒黃牛糞。敷肚腹上。用布捆好即下。又名立聖丹。治橫生倒產。胎死腹中石(二兩生用二兩　赤)同研細末。入朱砂(五錢)再研。如深桃花色。每用三分。井薄漿。糊以紙。剪如杏葉大。攤上貼臍心。候干再易。不過三次。即產。</p>
<h4>逆產</h4>
<p>用手中指點鍋底黑煤於小兒足心。畫一交。即刻順生。又鹽和粉塗兒兩足下。即順以鹽塗兒足。以指甲搔之。並以鹽摩母腹上。即順。又手足逆出者。以真灶心土塗</p>
<h4>盤腸生</h4>
<p>臨產小腸先出。不可用醋噴婦面。恐驚則神散。宜先以產婦發梢或紙捻。入鼻取嚏放腸漆器中。黃　煎湯溫浸之。自收。又蓖麻子(四十九粒)去殼研爛。敷產婦頂心。</p>
<p>待腸收盡。急抹去之。勿遲。(此方須胞衣下後方可用然不如前方穩妥)又產腸不收。用芝用蔥湯或用枳殼湯浸。均可。</p>
<h4>臨產胡言亂語</h4>
<p>用四焰燈火加朱砂入盞內。點之即安。(四焰者一盞內用四燈頭是也)臨產暈絕。不省人事。　生半夏搗為丸。如豆大。納鼻中。(或研末吹鼻待嚏即蘇)又覺暈六尺。系產婦右腳膝上。令人捉兩頭急挽得醒。徐徐解之。</p>
<h4>胞衣不下</h4>
<p>蔥白煎濃洗下部。胞即下。又取夫單衣蓋井上。立出。又當戶燒黍穰。即出於堂中正梁上戮三下。即下。又取皂莢末。著鼻孔中。嚏即出。又黑豆(煎數滾。布蘸溫熨臍腹。並濃敷之。衣自下。又蓖麻子(十四粒去殼)下。下後速急將藥洗去。久恐腸出。如腸已出。仍用此藥敷囟門上。</p>
<p>遲。子死衣不出。上搶心者。急取蟻垤土(三升)　熬之。令熱。囊盛熨心。良。(以上臨產)</p>
<h4>產後玉門不閉</h4>
<p>石硫黃(研)　蛇床子(各四分)　菟絲子(五分)　吳茱萸(六分)搗為末。以湯寸七。用洗玉門。瘥止。又取大紙捻蘸油點。火吹滅。以煙熏鼻。即閉。又</p>
<h4>用石硫黃</h4>
<p>海螵蛸　北五味(各等分)　共為末。摻患處。日三易。</p>
<p>玉門不閉。或脫出。　溫水洗軟。用雄鼠糞(兩頭尖者是)　燒煙熏之。即愈。</p>
<h4>產後陰下脫</h4>
<p>取蛇床子(一升)　布裹炙熨之。(亦治陰中痛)　以鐵精粉上推納之。又蜀椒一升)　戎鹽(半雞子大)搗。以綿裹如半雞子大。納陰中。日一易。二十日愈。</p>
<h4>產後玉門腫痛</h4>
<p>蛇床子(三兩)煎湯頻洗。即愈。又蔥白和乳香搗成膏。貼腫上。效。又又羌活　防風(各一兩)　煎湯熏下體。亦消。</p>
<p>初產傷重。玉門腫痛。濃煎甘草湯洗之。其腫自平。</p>
<p>陰戶破爛。久不收口。白芨　白龍骨　訶子　爛蜂窠　黃柏(炒各一錢)研末。先用野紫蘇</p>
<h4>產後陰翻</h4>
<p>澤瀉(四兩一方作澤蘭葉未知孰是)煎湯熏洗二三次。再加枯礬(四錢)煎洗。即安產後陰戶垂出肉線。長三四尺。觸之痛引心腹。　老薑(三斤)連皮搗爛。入真麻油(二斤)炒使薑斷則</p>
<h4>產後腹痛</h4>
<p>苧麻安腹上。又兔頭炙令熱。以熨產婦腹。如刀絞痛者立定。又取一苦瓠蘆之。去子訖。以沸　酢投中蒸熱。隨痛熨。冷即換。極效。又因感寒起者。</p>
<p>用陳蘄艾(二斤)焙乾搗。鋪臍上。以絹覆住。熨斗熨之。口中艾氣出。痛自止。</p>
<h4>產後防暈</h4>
<p>舊漆器不拘多少。烈火燒煙熏鼻中。即醒。</p>
<h4>產後血暈</h4>
<p>切韭菜安瓶中。沃以熱醋。令氣入鼻中。又枕苧麻即止。</p>
<h4>惡露不下</h4>
<p>馬檳榔去殼。兩手各握二枚。立下。</p>
<p>產後惡露。奔放不止。　用帶舊黑氈帽。(帽內招牌紙宜剝淨)墊住產門。即止。</p>
<h4>產後小便不止</h4>
<p>濃肉桂(一兩)　丁香(三錢)為末。作餅放臍上。即止。</p>
<h4>產後脫肛</h4>
<p>荊芥末　鱉頭灰蜜調塗肛上。以陳年草鞋一只烘熱。緩托上。數次可愈。</p>
<h4>產後宜擠兩乳</h4>
<p>凡婦人初產。即將兩乳放溫熱淘米水內。揉洗良久。將乳擠出。乳孔內有白用手扯去。方與兒食。不但小兒易食。且免乳吹乳癰等患　。此秘法也。又乳煎洗。以木梳梳乳千遍。即通。(以上產後)</p>
<h4>婦人陰脫</h4>
<p>煎羊脂塗。(並治赤丹如疥)</p>
<h4>陰蝕</h4>
<p>蚯蚓(三四條炙干為末)蔥(數條火上炙干為末)　先以蜜(一碗)煮成膏。將前二味。搗其中。納入陰戶。蟲水五升。煮取二升</p>
<h4>陰戶蟲癢</h4>
<p>炙豬肝納入。當有蟲出。又杏仁(去皮燒存性)研爛。綿裹納入。又雞肝去脂蟲盡死。又蜂蜜(煉過二兩)　甘草(研末三兩)　二味和勻。敷癢處。蟲自出硝(各一兩)　煎湯頻洗。更效。(並治糞門生蟲)</p>
<h4>陰瘡</h4>
<p>紫葳為末。用鯉魚腦或膽調塗。又硫黃末敷。又桃仁杵爛綿裹塞。又杏仁(燒黃礬石(燒各二分)　麝香(五厘)和敷之。日三度。又陰瘡如蟲咬癢痛者。生納之。一日三四易。又陰戶內生瘡作癢。用活蚌(一個)剖開。將有肉半個。</p>
<p>次日又用一個。全安。</p>
<h4>陰癢或生濕瘡</h4>
<p>蛇床子　地骨皮(各三兩)　煎湯熏洗。一日兩次。二三日效。又胡麻嚼爛陰挺)又鯽魚(切片)　以稀布裹納陰戶內。其蟲盡入布眼。納二三次。以出盡用蛇床子　朴硝(各五錢)　煎水二碗。洗瘡拭乾。以乳香　沒藥(各一錢五分)(六分)擦之。尤效。又蛇床子(一兩)　艾葉　明礬　五倍子　杏仁(杵碎各錢)　煎湯。先熏後洗。即愈。</p>
<h4>陰腫</h4>
<p>甘菊苗杵爛煎湯。先熏後洗。又作癢者。大蒜(三兩)切片。煎湯洗之。(並治陰挺)又產門兩旁腫痛。手足不能伸舒。用四季蔥入乳香末同搗成餅。敷患處。</p>
<h4>陰中腫痛</h4>
<p>炙枳實以熨之。又防風(三兩)　大戟(二兩)　艾(五兩)　切。以水一斗。煮取洗陰中。日三次。良。又礬石(熬二分)　甘草(炙五厘)　大黃(一分)搗篩。取棗陰中。二十日即瘥。</p>
<h4>陰戶疼痛</h4>
<p>食鹽炒熱。青布包裹熨之。　又蔥頭加乳香搗融敷之。極效。又癢痛不可忍斤)　水三升。煮十沸。適寒溫洗之。(並治陰腫或生瘡)</p>
<h4>子宮大痛不可忍</h4>
<p>五倍子　白礬煎湯熏洗。又將二藥研細末摻之。</p>
<h4>陰挺</h4>
<p>白果嚼融敷之。又川椒　烏頭　白芨(各二分)為末。綿裹納陰。令入三寸。腹中熱旦更著。瘥止。(一方無川椒)又水仙花兜交紅糖搗極融爛敷之。又茄根燒存性為末紙上。卷筒納陰中。一日一上。又鯽魚生煎煉油塗之。或用鯽魚膽搽之。又藜調塗。一日一易。　肉自入。又槐白皮(炒)煎水日洗數次。甚效。又大蒜</p>
<h4>婦人交合痛不可忍</h4>
<p>黃連六分　牛膝　甘草(炙各四分)　上三味切。以水四升煮取二升洗之止。</p>
<h4>交接傷陰出血不止</h4>
<p>五倍子研極細末摻之。</p>
<h4>雞眼痛</h4>
<p>生車前草搗敷之甚良。又生蔥剖開取有沫一邊貼患處包好。三日愈。</p>
<h4>腳丫及足底彎曲處作癢</h4>
<p>枯礬(五錢)　熟石膏　輕粉　黃丹(各三錢)　共研末。開水候溫洗破爛有膿水者。蔥湯洗淨。用海螵蛸(去硬板三錢)　人中白(三錢)　冰用一錢。搽之效。</p>
<h3>兒科</h3>
<h4>初生氣絕不啼</h4>
<p>切勿斷臍。即取小鍋燒水。以胎衣放熱水中。並以水澆臍帶。俟暖氣入腹。</p>
<p>啼聲發出矣。若先斷臍帶者不治。</p>
<h4>初生去毒開口法</h4>
<p>小兒初離母體。口有液毒。形如血塊。啼聲一出。隨即咽下。而毒伏於命驚熱瘡疾惡痘等症。須於未啼時。急用絲綿裹指挖去口內濁穢。以清臟腑。</p>
<h4>小兒初浴</h4>
<p>新生時。用益母草(五兩)　煎水浴。不生瘡疥。</p>
<h4>初生無皮</h4>
<p>色赤有紅筋。乃受胎未足也。用早稻白米研細末。頻撲之。皮膚自生。名先天粉東向陳壁土研細末摻之。亦能生皮。</p>
<h4>初生遍身紅赤</h4>
<p>用浮萍　水苔搗取汁。調朴硝　赭石末敷之。</p>
<p>初生遍身如魚脬。或如水晶。破則水流不止。　以密陀僧研細末KT　之。</p>
<h4>三朝浴兒</h4>
<p>取桑槐榆柳桃嫩枝各二三十段煎湯。候溫浴兒。可免瘡疥。</p>
<h4>治兒啼</h4>
<p>取犬頭下毛。以絳囊盛。系兒兩手。立效。</p>
<h4>夜啼不止</h4>
<p>黑牽牛子(一錢)　研極細末。水調敷臍上。立止。又五倍子研末。以津唾調作臍上。用帶扎之。效。又朱砂磨新汲水塗心窩及兩手足心五處。最驗。又用本瓶內。自不哭。又明鏡掛床腳下。自止。</p>
<h4>曲腰啼哭</h4>
<p>此受寒腹痛也。用淡豆豉　生薑　蔥白(細切)　鹽共炒熱。以手巾包熨肚上。立遍身奇癢。叫啼不止　生薑搗爛。稀布包擦。甚效。</p>
<h4>身如蛇皮鱗甲</h4>
<p>名胎垢。又名蛇胎。用白僵蠶(去嘴)為末。煎湯洗之。或加蛇蛻研末和入。</p>
<h4>身熱</h4>
<p>苦參(二兩)煎湯浴之。又郁李根煎湯浴。</p>
<h4>壯熱</h4>
<p>李樹葉(一斤)煎湯浴之。良。(並治小兒瘧疾及驚癇)小兒瘟瘧。積熱不解。　菖蒲煎湯浴。</p>
<h4>初生瘧疾</h4>
<p>赭石(二錢醋　)　朱砂(五分)　砒霜(二分)共為末。以紙包七重。打濕煨干。</p>
<p>分)　再研細。麻油調搽鼻尖上及眉心四肢。神驗。</p>
<h4>患黃</h4>
<p>韭根搗汁。日滴鼻中。取黃水出。愈。(或用黃膽門黃蠟紙筒方治之穩而且妙)小兒客忤。</p>
<p>發作有時。　取母月衣覆兒上。大良。</p>
<h4>赤白痢</h4>
<p>莨菪子　羊肉(薄切布上)　綿裹納下部。不過兩次。瘥。飲食停滯。飽悶不消。　糯米一升炒熱。分作二布包。輪熨臍腹。助其脾氣轉運。立消。傷冷食及難化之物　生薑(切片)　紫蘇(各四兩)　煎濃湯。置浴盆。令小兒乘熱坐湯。以手或用二味搗爛炒熱。分作兩布包。輪流熨胸腹。如冷再</p>
<h4>小兒無故卒死</h4>
<p>取蔥白納入下部。及兩鼻孔。氣通或嚏即活。</p>
<h4>痰喘</h4>
<p>巴豆(一粒)研爛綿裹塞鼻。男左女右。痰即自下。</p>
<h4>截驚</h4>
<p>以芭蕉汁　薄荷汁煎勻。塗頭頂。留囟門。塗四肢。留手足心勿塗。甚效。</p>
<h4>預斷驚風</h4>
<p>於小兒臥室養鴿數對。令小兒日嗅鴿味。自免。</p>
<h4>急驚風</h4>
<p>大梔子(一枚研末)　雞蛋(一個去黃用白)調勻。搽兒腹四圍。又明雄黃(五錢)　砂仁(六分)　梔子(五枚炒)　冰片(五厘)　共為細末。以雞子清調敷肚之四圍。如碗口大。</p>
<p>甜胡效</p>
<h4>慢驚風</h4>
<p>大紅芙蓉花(一朵)　將花心緊對小兒肚臍中貼。再用雞蛋一個煎餅。置花蒂上。一轉。又胡椒(七粒)　生梔子(七個)　蔥白(七根)　飛面(一撮)共研末杵和。再加雞子個)調勻攤青布上。貼小兒心窩。一日夜除去。有青黑色即愈。如不效。再貼一服。愈當服補脾之藥。</p>
<h4>急慢驚風</h4>
<p>白頸蚯蚓(刀截兩段跳急者治急驚跳慢者治慢驚)　加入麝香(一分)搗爛貼當臍。</p>
<p>外以膏藥蓋之。又用白絲毛雞(烏骨綠耳又名絨毛雞又名白鳳凰多出江西泰和縣)　以雞尾須共搗極爛。用雞子清調飛羅面敷足心。男左女右。敷過夜。次日腳板甚青黑。即愈。</p>
<p>又芙蓉嫩葉(約五六瓣)　男單女雙(一作男雙女單)　搗爛。用雞蛋和入。煎熟作餅。貼臍上</p>
<h4>驚風煩熱</h4>
<p>慎火草煎水浴之。</p>
<p>暑驚　生半夏　皂莢(等分)　研末。吹鼻取嚏。即愈。(老少並用)</p>
<h4>烏痧驚風</h4>
<p>遍身都烏。急推向下。用黃土(一碗)研末。入陳醋一鐘炒熱包定熨之。引下至足為妙。小兒疳疾。及諸病後天柱骨倒。乃體虛所致。宜生筋散貼之。　木鱉子(六個去殼)　蓖麻子</p>
<h4>小兒鼻塞頭熱</h4>
<p>用薰草(即蕙一兩)　羊髓(三兩)　銚內慢火熬成膏。去滓。日摩背上三四次頭縫不合(即解顱)　防風　白芨　柏子仁(各等分)　為末。以乳汁調塗。一日一換。　又干泡合(各五錢)　為末。烏牛乳汁調塗足心。及頭縫開處。用綢包裹。二日一換。</p>
<h4>囟腫</h4>
<p>生下即腫者。黃柏末水調。貼足心。</p>
<h4>囟門陷下</h4>
<p>乃受冷所致。用半夏末水調塗足心。</p>
<h4>小兒發遲</h4>
<p>陳香薷(二錢)　水一盞。煎三分。入豬脂(五錢)和勻。日日塗之。又楸葉中心小兒閃癖。頭發覺黃。極瘦弱者。　干林檎脯研末。和醋敷之。</p>
<h4>頭面胎毒</h4>
<p>桐油調輕粉塗之。多年不愈皆效。</p>
<p>小兒癤愈後。脫疤不長發。　用飯蠅搗塗。立生。</p>
<h4>禿瘡</h4>
<p>松香(研末五錢)　豬脂調搽。一日數次。數日即愈。又腌茄子炙灰。麻油調塗。</p>
<h4>頭</h4>
<p>活蝦蟆(一只)　剝一整皮貼瘡上。奇效。又大蚌肉搗爛。加冰片(少許)攤患處。</p>
<h4>一切頭瘡</h4>
<p>松脂(研細)　輕粉(各五錢)　和勻。油調敷。</p>
<p>黃水頭瘡(即肥瘡)　水邊烏柏樹根晒研末。(四五錢)　雄黃(一錢)　生油調塗。又雞蛋(</p>
<h4>小兒目閉</h4>
<p>桑葉　白菊花煎湯。以青綢擦洗之。</p>
<h4>蓐內赤眼</h4>
<p>生地黃薄切。冷水浸貼。又取黃柏以乳浸點之。又雄雞膽燈心蘸點。神效。</p>
<p>又胡黃連(一錢)　研末。人乳調敷足心。(男左女右)又以蚯蚓泥搗敷囟門。干則易。三次愈。　又生南星　生大黃(等分)為末。用醋調塗兩足心。又茶調胡黃連末塗手足心。</p>
<h4>眼痛</h4>
<p>取淡竹瀝拭之。又鯉魚膽點之。　車前草汁和竹瀝點之。</p>
<h4>誤將竹木刺眼</h4>
<p>白頸蚯蚓掐斷。滴血入眼。刺即出。</p>
<h4>小兒耳內濕爛</h4>
<p>上梅花冰片(二分)　蘆甘石(　一錢)　枯礬　粉口兒茶(各三分)　龍骨(　)赤石脂(各一錢)　橘皮炭(三錢)　蠶繭殼　石首魚腦骨(　研細各二枚)上共為細邊(二錢)　用紙包固。以水浸濕。用火煨炭存性和勻再研。吹之極效。</p>
<h4>耳瘡</h4>
<p>馬骨　存性研末敷之。又雞糞白敷之佳。</p>
<h4>耳疳</h4>
<p>地骨皮煎湯洗。仍以香油調末搽。</p>
<h4>鼻衄不止</h4>
<p>以馬糞綿裹塞之。又燒發灰末吹鼻。又燒桑耳令焦搗末。納鼻孔中。作丸塞</p>
<h4>生下腮腫</h4>
<p>黃柏末水調。貼足心。效。</p>
<p>腮(兩腮腫硬有核又名螳螂子)　麝香(一錢)　朱砂(五分)　螺螄(七個)　同搗如泥。</p>
<p>敷囟雞糞錢五分)　同研爛搽腫硬處。勿令擦去。即消。又絲瓜燒存性研末。水調搽之。又橄欖磨濃汁。以鴨毛蘸塗。數次即效。又桑柴灰(少許)　入雄雞冠血。(二三滴)再加鹽鹵和勻。時時搽之。</p>
<p>初生小兒。或兩腮腫硬。或口內生瘡。或生馬牙。或重舌。木舌。蛇舌。吐舌。及口不開。</p>
<p>心口貼兩足心。一周時即愈。此引熱下行法也。又吳茱萸(四錢)好醋調敷兩足心。又如口者。用活鯽魚以尾入口中。頻頻搖擺。隨擺隨換。能去口中熱毒初用時兒尚啼哭。用後。口內生涼。兒自不啼。尾雖有刺甚軟。並不傷人。治後即能食乳。不過三日。全</p>
<h4>鼻疳蝕爛</h4>
<p>膽礬燒煙盡研末摻之。一二日愈。</p>
<h4>口疳</h4>
<p>甘蔗皮　燒灰研末。吹之效。又吳茱萸(二兩)　研末。少加面粉醋調作二餅。貼兩以布扎之。過夜即愈。(並治咽喉疼痛)</p>
<h4>口瘡</h4>
<p>荸薺燒存性研末摻之。　又寒食面(五錢)　硝石(七錢)水調半錢。塗足心。男左女右</p>
<h4>口角生瘡</h4>
<p>亂髮燒灰。豬油調搽。　又蒸飯時收甑蓋上流下氣水。搽之效。</p>
<h4>口流涎水</h4>
<p>新桑根白皮搗自然汁塗。干者煎濃汁塗之。效。</p>
<h4>口生白點</h4>
<p>(俗名雪口又名鵝口)馬蘭頭搗汁。抹之神驗。又檳榔燒枯研末。點之立效。</p>
<p>又黍米嚼濃汁塗效。又赤小豆研末。醋和塗。(並治重舌)</p>
<h4>唇腫</h4>
<p>桑木汁塗之。</p>
<h4>唇緊</h4>
<p>赤莧搗汁洗之。又馬芥子搗汁晒濃。揩破頻塗之。　又頭垢塗之。</p>
<h4>重舌</h4>
<p>黃柏浸苦竹瀝點之。　又巴豆(半粒)　飯(四五粒)　共搗爛為餅。如黃豆大。貼在印中。待四圍起泡。去之即愈。各項舌病皆效。</p>
<h4>舌膜</h4>
<p>初生小兒。有白膜皮裹舌。或遍舌根。可用指甲刮破。令出血。以燒礬末。拌如綠敷之。若摘去。兒必啞。</p>
<h4>舌筍</h4>
<p>小兒不吃乳啼哭。即看舌上倘起白泡一粒。名舌筍。不治即死。急用鮮生地取汁。如鮮者。以干生地涼井水浸開。搗爛取汁。塗患處數次。漸愈。</p>
<h4>木舌</h4>
<p>黃葵(一錢為末)　黃丹(五分)　和敷。又蒲黃研末。時敷舌上。其腫自消。</p>
<p>舌忽脹大腫硬。即時氣絕。名　舌。百草霜酒調塗舌上。即消。又乾薑　蒲黃(等分)為末。干擦患處。</p>
<p>蛇舌(其舌常卷兩邊口角者是)　明雄黃研末。點舌數次即安。</p>
<h4>舌瘡飲乳不得</h4>
<p>白礬和雞子置醋中。搽兒足底自愈。</p>
<h4>語遲</h4>
<p>小兒四五歲。只會叫人。不能言語。以赤小豆研末。酒調塗舌下。二三次即能說話。</p>
<h4>喉嘶聲啞</h4>
<p>蝦蟆膽取汁。點舌上立愈。</p>
<h4>頸軟</h4>
<p>乃肝腎虛風襲入。用生附子。(去皮臍)　生南星(各二錢)　為末。薑汁調。攤貼天柱上。</p>
<h4>項上瘰</h4>
<p>以榆白皮爛搗如泥。封之。頻易。</p>
<h4>乳癖</h4>
<p>白芥子研末水調。攤膏貼之。以平為期。</p>
<h4>龜背</h4>
<p>龜尿調首烏末。敷背上。日久自愈。</p>
<p>背上起白泡。累如綴珠。一二日即破。膿血外流。癢甚。一處方好。一處又起者。如意草</p>
<h4>腹鳴如蛙</h4>
<p>淡豆豉　生薑(各二錢切碎)　蔥(五莖)　食鹽(一兩)　同炒熱。置臍上熨之。效薑煎濃湯。洗肚腹。另用蔥薑搗爛。炒熱作餅。貼臍上。良久即愈。</p>
<h4>盤腸內釣腹痛</h4>
<p>蔥湯洗兒腹。仍以炒蔥搗貼臍上。良久尿出痛止。</p>
<h4>肚臍腫出</h4>
<p>紅飯豆　淡豆豉　南星(去皮臍)　白蘞(各一錢)　共為末。用芭蕉(無葉用根)自敷臍四旁。即愈。</p>
<h4>臍爛成風</h4>
<p>杏仁去皮研敷。</p>
<h4>臍風嘬口</h4>
<p>以艾葉燒灰填臍上。用帛纏之。若臍帶已落。用蒜切薄片貼臍上。以艾火灸之。</p>
<p>有艾氣。立愈。</p>
<h4>預防臍風</h4>
<p>枯礬　硼砂(各二錢五分)　朱砂(二分)　冰片　麝香(各五厘)　共為末。凡小兒過後。用此末摻臍上。每日換尿布時。仍摻此末。摻完一料。永無臍風等症。臍內汁出不止。</p>
<p>兼赤腫。　取東壁土末敷之。又大紅呢燒灰為末。敷之。又甘草(炙)末。安臍中。瘥止。又黃柏(炙一兩)　釜底墨(四分)　搗末。敷臍中末熬令溫。以敷臍瘡。甚良。</p>
<h4>臍不干</h4>
<p>棉花子燒灰。每用(一錢)敷之。又當歸(　焦研末)　胡粉(等分)敷之。</p>
<h4>臍瘡</h4>
<p>馬齒莧(燒研末)敷之。</p>
<h4>初生腎縮</h4>
<p>乃受寒所致。用硫黃　吳茱萸(各三錢)　研極細末。搗取蔥汁調藥末塗臍腹。另子燒煙熏之。即伸。</p>
<h4>初生陰囊過大(名胎疝)</h4>
<p>久恐變成木疝。如過盈月外。或一歲以內。俟端午日午時。以腳盆隨抱小兒。將陰囊放水內一浸。再將小兒在於中門檻上中間一擱。其陰將艾火在檻上濕印處燒三次。其囊逐漸收小如故。神效。　又石蟹用</p>
<h4>疝胎疝</h4>
<p>雙蒂茄懸房門上。出入視之。茄蔫。所患亦蔫。茄干亦干矣。　又法雙茄懸門上抱兒視之。二三次。釘針於上。十余日即消。</p>
<h4>腎囊虛腫</h4>
<p>甘草濃煎汁。調地龍糞搽之。</p>
<h4>陰囊赤腫</h4>
<p>老杉木燒灰存性。加宮粉和清油調敷。</p>
<h4>忽然陰腫</h4>
<p>此被蚯蚓吹腫。令婦人以吹火筒吹之。即消。又真硼砂研末。水調敷。又雄消。</p>
<p>陰囊腫墜光亮。啼哭疼痛。　蟬退(一兩)煎湯洗。再用生紫蘇葉搗成泥。包之而愈。或用干</p>
<h4>初生小便不通</h4>
<p>用豬毛於陽物眼上刺去薄皮。即通。</p>
<p>小便數日不通。遍身腫滿。　蘇葉(一斤)　煎濃湯一盆。抱小兒向盆中熏之。冷則再換熱湯熱許)納小便道中。即通。</p>
<h4>初生糞門閉塞</h4>
<p>以金銀簪挑開一孔。不可過深。用油紙捻套住。免其再合。</p>
<p>大便不通　白蜜(一合)　煎為丸。納下部中。即通。</p>
<h4>初生大小便不通</h4>
<p>急令婦人以熱水嗽口。吸吮小兒前後心及臍下。數次即通。(一方並吸兩又連須蔥頭(七個)　生薑(一大塊)　豆豉　食鹽(各三錢)同搗作一餅。焙住。良久自通。</p>
<h4>胎癩</h4>
<p>土茯苓(二兩焙研)　苦參(五錢焙研)　陳芭扇(一兩炙)　用地瀝青一杯調塗。可除根。</p>
<p>藥初搽必痛。過時即止。勿畏也。</p>
<p>水腫(從腳起入腹則難治)　油杉根切碎(杉木切斷內色紅者是油杉若色白者不堪用)煎濃湯。</p>
<h4>小兒丹瘤</h4>
<p>蓖麻子(五個去皮)　研入面一匙。水調塗之。甚效。</p>
<h4>丹毒</h4>
<p>蕎麥面醋調塗。又慎火草搗以封之。瘥止。　又搗藍汁塗之。又藍靛塗之。妙。</p>
<p>又苧麻根搗汁頻浴。效。又丹毒遍身。百方不效者。用芸苔菜葉(即油菜)搗爛敷之。隨手</p>
<h4>火丹</h4>
<p>(熱如火繞臍即損人)馬齒莧搗塗之。又搗梔子。調水塗之。　又桑白皮煮汁浴。或</p>
<h4>五色丹游</h4>
<p>(多致殺人)敗蒲席燒灰。和雞子白塗之。效。</p>
<p>赤白游疹。火焱熱瘡。　藻菜搗爛封之。</p>
<p>嬰孺風疹。在皮膚不出。及熱瘡丹毒。　慎火苗葉(五兩)　和鹽(三兩)同絞汁。以熱手磨塗</p>
<h4>蟲瘡</h4>
<p>榆皮末和豬脂塗綿上覆之。蟲出。立瘥。</p>
<h4>天泡瘡</h4>
<p>藍葉搗敷之。良。</p>
<h4>浸淫瘡</h4>
<p>燒艾作灰。敷之。又以牛屎燒作灰。敷之。</p>
<h4>惡瘡</h4>
<p>取筍煮汁洗之。又燒筍皮作灰。敷之。又取豆豉熬令焦黃末以敷之。瘥止。</p>
<h4>蠷瘡</h4>
<p>燕窠土研末。以豬脂和塗之。干易。</p>
<h4>疳瘡</h4>
<p>嚼栗子塗之。瘥。</p>
<h4>癬瘡</h4>
<p>枸杞根搗末。和臘月豬膏敷之。又煎馬尿洗之。又揩破。以牛鼻上津塗之。</p>
<h4>濕癬</h4>
<p>桃樹青皮為末。和醋頻敷之。</p>
<h4>疥癬</h4>
<p>本煎湯浴之。並以浣衣。</p>
<h3>痘</h3>
<h4>免出痘法</h4>
<p>陳夕昏黃時。取大黑魚一尾。小者用二三尾。煮湯。浴小兒遍體。須七竅俱到。</p>
<p>痘。不可嫌腥。而另以清水灌濯。如不信。試留一足一手不洗。他時痘多出在不洗處異人所傳。毋以易而忽之。</p>
<h4>不出天花經驗方</h4>
<p>天麻子(三十粒去殼衣揀肥大者)　朱砂(一錢揀明透者)　麝香(五厘揀真味。先將朱砂麝香研極細末。後入天麻子。共研成膏。於五月五日午時。擦小後心。兩手心。兩足心。兩腳灣。兩脅。共十三處。俱要擦到。不可短少。擦藥有餘剩。擦後不可洗動。聽其自落。本年擦過一次。出痘數粒。次年端午再三粒。再次年端午再擦一次。</p>
<p>永不出痘。如未過周歲小兒。於七月七日。九月九日。依法擦之更妙。男女治法皆同。</p>
<p>傳方之家。不出天花三世矣。又凡嬰兒不論男女。用川楝子(選肥大光潔者)於KT　內搗爛。</p>
<p>(一歲至三歲七個水三碗四五歲者九個水五碗六七歲者十五個水七碗八歲至十歲者二十個水九碗十一歲至十五歲者用川楝子三十個水十五碗)新砂鍋煎濃。傾入盆內。避風處。將新白布一方蘸水。自頭至足。遍身洗擦。不留余空。仍將布擦干。避風一刻。搗藥忌鐵器。非但不出痘。且免瘡癤。洗浴日期。須擇七個除日。洗七次。如五月至八月初止。內有七個除日。</p>
<p>俱在熱</p>
<h4>解穢法</h4>
<p>凡犯房事經水生產穢。以大棗燒煙解之。若防發癢者。以樺皮和大棗燒煙解之。被犯者。以葛根茵陳蒿燒煙解之。犯五辛氣者。以生薑燒煙解之。被死尸氣及癘氣所犯者大黃蒼朮燒煙解之。被狐臭犬羊氣犯者。則燒楓樹葉解之。若遇風雨時者。則燒蒼朮楓解之。若血少而漿難之痘。則忌燒蒼朮。蓋恐愈燥而漿愈難耳。若遇諸惡氣。則以乳香熏之。以胡荽酒噴之。俗有煮醋熏痘者。以醋能活血。殊不知醋能收斂。大非所宜也。</p>
<h4>暑月出痘</h4>
<p>房中多置涼水。以收熱氣。心自清涼。</p>
<h4>冬月出痘</h4>
<p>房中多置炭火。以除寒氣。使血氣和暢為妙。</p>
<h4>防痘入目</h4>
<p>胭脂不拘多少。口中嚼汁。頻揩眼眶。則痘不入目。如已見點。用牛蒡子不拘多母口中嚼爛。貼兒頭囟門。甚良。又白芥子末水調塗足心。引毒歸下。令瘡疹不入</p>
<h4>痘出眼中</h4>
<p>本兒生母中指上。刺血一點。滴入眼。痘即移出。又豬血點之。即不生翳。</p>
<p>又黑狗耳上血一滴。點眼內。其痘即除。又鱔魚尾血點之。即移開。又象牙磨水。滴入眼中。即退。又蜒蝣蟲放眼皮上。周遭走動。吐出涎水。其痘自散。屢效。又細茶葉口眼外。又鯽魚膽點之。良。(鰱魚膽亦可)又益母草浸水點之。又輕粉(少許)　東研末。卷入紙條。剪斷見藥。或注蔥管內。入耳內。左眼則置右耳。右則置左治痘後目中有翳)</p>
<h4>出痘眼目紅腫</h4>
<p>人乳汁蒸熱點之。又金銀花　胭脂　人乳汁取燈心蘸點之。</p>
<h4>出痘眼有膿血</h4>
<p>兔子糞清油調塗。</p>
<h4>出痘眼痛</h4>
<p>翳子草搗爛。左眼痛塞右鼻。右塞左鼻。</p>
<h4>舌與鼻孔有痘</h4>
<p>黃丹　老土磚共為細末吹之。又青扣布燒灰吹之。又硼砂　檀香燒枯。</p>
<p>先用皂角末吹入。再用黃蠟塞鼻。</p>
<h4>舌上有痘</h4>
<p>人中白(焙)　硼砂　兒茶共為末。摻舌上。又先用茶洗淨。將京墨磨水粉調塗用鹽茶洗淨。用黃柏　黃連　元參　苦參共為末。蜜調塗之。又鴨糞燒灰研末。鴨毛蘸摻之。</p>
<h4>舌上爛痘</h4>
<p>用油胭脂敷。最妙。　又硼砂(水飛)　冰片點之。</p>
<h4>出痘腎腫</h4>
<p>桑樹皮　細茶　生薑　槐樹皮共搗。清油拌炒包之。又若腎紅腫。取藍靛腳汁用青黛敷之。又如風腫者。用鹽炒熱熨之。或用槐花葉炒熱敷之。</p>
<h4>腎嘴有痘</h4>
<p>公鴨嗄氣數次。即消。</p>
<h4>陰口有痘</h4>
<p>(女子陰內有痘同)雄黃研末。清油攪勻。鴨毛蘸擦。</p>
<h4>痘症小便不通</h4>
<p>細茶嚼融。紙包敷臍上。又樟樹皮　薑　蔥　老艾　共搗爛炒熱。放小肚門上。即通。</p>
<h4>痘症大便不通</h4>
<p>蔥一把。搗作餅。敷臍上。用錫壺盛滾水。熨蔥上即通。女子出痘。天癸忽至。　月月紅(連枝葉)煎湯。抹周身。</p>
<p>孕婦出痘。腹痛胎動。　益母草　蓮蓬殼(俱燒存性)　艾葉共研末。醋調敷臍。連換三次。</p>
<p>為痘及毒重　悶痘毒重。至三四朝後。或二便下血極危者。覓活蟾蜍。至少四五十只。將兒盡衣裳。蓋在被內。令側臥。輕將蟾堆在前後心。以次排放至下體。蟾得溫氣。自能將頭頂住兒身。兒得蟾酥。開竅。痘自出矣。不要驚動。一晝夜後。將蟾取以解痘毒。切不可傷之。冬間蟾在向陽桑樹下。掘之可得。</p>
<h4>雜痘一齊涌出</h4>
<p>楊柳葉　柑子葉　老艾葉　臘樹葉共煎水。遍身洗之即退。又清油(一杯)汁朱砂　雄黃共熬熱。從頭至足。遍身一揩。雜痘一退。正痘即見。</p>
<p>痘症發熱。胡言亂語。　千腳泥搗碎。雞子清調敷臍上。又藍靛腳汁(一杯)　燕子泥調敷敷臍上。又小雄雞(一只)　剖開。用雄黃　麻油塗入雞肚內。將雞敷臍上。最穩。最治痘齊熱退愛睡地上)皮肉紅腫。而痘不腫。　黑豆　綠豆　紅飯豆共研細末。再將醋研為濃汁。以鵝毛掃之。</p>
<p>神</p>
<h4>痘瘡發癢</h4>
<p>茵陳燒煙熏之。良。</p>
<p>痘中生蛆。癢不可忍。　桃葉不拘多少。揉軟蓋在痘瘡上。並墊身下即消。又醋湯遍身噴</p>
<h4>痘瘡黑陷</h4>
<p>沉香　檀香　乳香(各等分)　於盆內。抱兒於上。熏之即起。</p>
<h4>痘中黑疔</h4>
<p>將疔挑破出紫血。以蒲公英膏塗之。</p>
<p>痘症潰爛。膿水淋漓。　多年蓋屋茅草。洗淨焙乾。為末摻之。神效。又松花粉摻之。</p>
<p>效痘。及面上抓破者。　密陀僧　滑石(各二兩)　白芷(五錢)　共研極細末。濕則干摻之。</p>
<p>用白蜜調敷。良。</p>
<h4>痘不落痂</h4>
<p>羊脛骨髓同煉蜜(一兩)　輕粉(一錢)和成膏塗之。痘痂即落。且滅瘢痕。又豬蜜共搗勻。火上熬三五沸待冷。用雞翎刷上。數次即落。又十二朝不落。不免痘雞蛋黃去白。用鐵杓炒取油冷定。雞毛蘸塗。立落如神。</p>
<h4>痘毒</h4>
<p>糯米粽尖焙灰冷定。同百草霜拌勻。洒毒上。神效。又生螃蟹　飛羅面搗膏。貼患效。又陳小粉　山藥共搗爛。敷患處。干則換。毒即退。如已爛用杜仲　牡蠣　煨石等分)　研細。以白蜜調敷。干摻亦可。</p>
<h4>移痘毒法</h4>
<p>痘毒生要害之處。如兩臂灣兩腿灣。謂之四環痘毒。不傷命即殘廢。當用移毒之生黃豆在口中嚼爛。塗痘毒上。不必留頭。連塗數次。輕者消散。重者移生他處。極痘後余熱結毒。纏綿不愈。　赤豆　黃豆　黑豆(各等分)　浸水中一日。搗爛塗患處。</p>
<p>干即痘後余毒。結成癰疽。連珠不已。　馬齒莧(搗汁)　豬油　白蜜(各一碗)　共熬膏塗之。</p>
<p>(並痘後風眼。或起翳。或紅赤。　經霜桑葉(七片或冬至收或立冬收)　蒸水半鐘。加入食鹽(又仰臥床上。取黃鱔尾上血滴入。閉目。少頃拭去。一日三五次。即愈。重者數日全愈必須鱔魚尾血。每次換一鱔。用過即放去。諸藥不效者。此最應驗。</p>
<h4>痘後兩目難開</h4>
<p>燈心蘸清油潤眼上。又黃柏末入水久浸。將紙染濕。鋪眼胞。又黃連參乳汁調勻。飯上蒸擦之。又黃豆口嚼成餅。敷之。又自己熱小便。黃痘後耳內腫痛。時流膿血。　先用棉花攪淨膿血。然後用黑砂糖調水少許。滴入耳中。</p>
<p>其痛</p>
<h4>痘後肚腹腫脹</h4>
<p>黃柏　苦參共為末。清油調勻。熬過作膏。貼之。　又桐子葉(滾水泡軟)黃塗葉上。貼三五次。效。又燈花數十朵。入鹽炒過。加鉛粉調成餅。貼臍上痘後遍身無皮。膿水不絕。　茶葉(去梗)　熱水泡透鋪床上。睡上一夜。膿水自干。</p>
<p>痘後蟲蝕疳瘡。膿水不絕。　出蛾蠶繭不拘多少。將生明礬末入內填滿。燒令汁盡成灰。</p>
<p>為</p>
<h4>痘風瘡逢春即發</h4>
<p>黃丹　黃芩　黃柏　大黃　輕粉共為末。豬油調敷。</p>
<p>疹發未透。冒風忽隱。腫脹氣促。命在頃刻者。　生蔥頭(一二斤)　連須搗爛。放盆內。</p>
<p>盆即麻發不透。氣喘欲死。　芝麻(五合)　以滾水泡之。乘熱熏頭面。即發。又沉香　木香檀香不拘多少。於大盆內焚之。抱小兒於煙上熏之。即起。</p>
<h4>麻症作癢</h4>
<p>好白蜜調水。以鵝翎時時蘸掃。</p>
<h4>乖</h4>
<p>用桃葉浸鹽鹵擦。</p>
<p>羊毛疹。眼目黃色。指甲多紫色。用燒酒摶黃土。慢揉擦心口。</p>
<h2>跋</h2>
<p>外治壽世方初編四卷。予友鄒君儷笙所手輯。而囑予校勘者也。外治之法。惟針灸最古。</p>
<p>然之一則臟腑嬌嫩。要皆不堪攻伐。產婦癆人。用藥更難。古方所以有熨浴熏蒸諸法。以補其術之窮。唐宋諸公。在在講求。且有湯藥不能盡病之說。則除針灸以外。非用熨浴薰蒸之法。</p>
<p>將何以收其功效。是編之成。固宜於窮鄉僻壤醫家鮮少之區。亦豈不為杏林切要之書哉。</p>
<p><u>光緒三年丁丑天中節新安胡增彬謙伯氏跋。</u></p>
