<header><h1>竹林寺女科秘方</h1></header>
<dl class="元資料" data-type="book">
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>版本</dt><dd>四明周岐隱重訂版</dd></div>
<div><dt>作者</dt><dd>浙江蕭山竹林寺僧</dd></div>
</dl>
<p>浙江蕭山竹林寺女科秘方</p>
<h2>目錄</h2>
<p>第一症　經閉發熱
第二症　血虛發熱
第三症　經水或多或少
第四症　月水色黃
第五症　月水色黑
第六症　月水色如豬肝
第七症　經水如屋漏水
第八症　經水如菜汁
第九症　經血挾瘀
第十症　經水一月數行
第十一症　逆經
第十二症　陽觸經
第十三症　陰觸經
第十四症　經前氣痛
第十五症　月水前來
第十六症　經後腹痛
第十七症　帶如柑水
第十八症　帶形似魚腦
第十九症　帶下腹痛
第二十症　帶如涕水
第二十一症　白帶成膜
第二十二症　經水不止
第二十三症　臨期泄瀉
第二十四症　血淋
第二十五症　經行不止
第二十六症　經來挾帶
第二十七症　經來咳血
第二十八症　臍氣不消
第二十九症　蛇瘕
第三十症　龜瘕
第三十一症　枕瘕
第三十二症　血瘕
第三十三症　氣瘕
第三十四症 水瘕
第三十五症　積瘕
第三十六症　蝦瘕
第三十七症　腫症
第三十八症　實浮
第三十九症　經不通
第四十症　痰核
第四十一症　痰惡
第四十二症　胎氣不和
第四十三症　胎前浮腫
第四十四症　胎前咳嗽
第四十五症　胎前吐血
第四十六症　吐血熱症
第四十七症　胎前衄血
第四十八症　子懸
第四十九症　胎前痢疾
第五十症　胎前跌損動紅
第五十一症　胎前流血
第五十二症　久病血漏
第五十三症　胎前白帶
第五十四症　胎前赤帶
第五十五症　胎前氣痛
第五十六症　胎前泄瀉
第五十七症　胎前感寒
第五十八症　胎前中風
第五十九症　胎前咽痛
第六十症　胎前發瘧
第六十一症　胎前漏紅
第六十二症　胎前發暈
第六十三症　胎前作渴
第六十四症　胎前損身
第六十五症　子癇
第六十六症　轉胞
第六十七症　氣閉
第六十八症　胎前精神困倦
第六十九症　胎前虛熱
第七十症　胎前盜汗
第七十一症　胎前脅痛
第七十二症　胎前痰氣多
第七十三症　胎前內吹
第七十四症　胎前耳鳴
第七十五症　胎前頭風痛
第七十六症　胎前遍身生瘡
第七十七症　胎前大便數多
第七十八症　胎前腰痛
第七十九症　胎前里急後重
第八十症　胎前咳嗽腹中有塊
第八十一症　胎前腳氣
第八十二症　新產昏迷
第八十三症　產後胎衣不下
第八十四症　產後惡血不盡
第八十五症　產後血盡虛痛
第八十六症　產後惡寒發熱
第八十七症　產後潮熱
第八十八症　產後泄痢
第八十九症　產後血氣痛
第九十症　產後氣緊
第九十一症　產後舌黑
第九十二症　產後浮腫
第九十三症　產後泄瀉瞻語
第九十四症　產後中風
第九十五症　產後大便不通
第九十六、七症　產後蠱腫
第九十八症　產後血來不止
第九十九症　產後血流不止
第一〇〇症　產後子宮突出
第一〇一症　產後尿胞突出
第一〇二症　產後咳嗽氣急
第一〇三症　產後漏黃水
第一〇四症　產後吐血
第一〇五症　產後吐血不止
第一〇六症　產後自泄
第一〇七症　產後小便不利
第一〇八症　產後頭痛
第一〇九症　產後雙腳痛
第一一〇症　產後咽痛
第一一一症　產後腫痛
第一一二症　產後耳鳴
第一一三症　產後吐痰血絲
第一一四症　產後臍下結塊
第一一五症　產後血從大便出
第一一六症　產後失音
第一一七症　產後噫語
第一一八症　產後盜汗
第一一九症　產後夜出冷汗
第一二〇症　難產死胎不下</p>
<h2>第一症  經閉發熱</h2>
<p>婦人經閉發熱，此病何以得之？此症行經產後，餘血未淨
，飲食生冷，或食水果，血見水則滯，水遇血則凝，所以
經閉不通，變身潮熱，頭眩目暈，口苦舌乾，飲食少思，
腹內結塊如雞卵，或左或右而動。此症初起時，即至二三
月易治。先將逍遙散加石蓮子、天花粉、龍膽草退去潮熱
。後用紫金丸。自然經血流通，萬無一失。若加咳嗽生痰
，泄瀉不止，肌肉消瘦，此不治之症也。</p>
<p>‧逍遙散
白朮五分  甘草七分  茯苓一錢 蘇
薄荷一錢  當歸一錢  白芍一錢  柴胡五分
水煎，不拘時服。</p>
<p>‧紫金丸
陳皮五錢  良薑 莪朮各八錢  檳榔
砂仁  紅豆各六錢  枳殼  烏藥各八錢  三棱一兩
米糊丸，飯後，米湯送百丸。</p>
<h2>第二症  血虛發熱</h2>
<p>婦人血虛發熱，何以得之？此症怒氣傷肝，血積成塊。或
左或右走動，面色青黃，飲食少思。五心煩熱。每月經來
色淡，小腹作痛。先用逍遙散退其虛熱，後用調經人生其
新血，消其血塊，熱退經勻如舊。倘延日久。變成骨蒸，
咳嗽，泄瀉，肌肉如柴，不可治矣。逍遙散方見上。</p>
<p>△註：心：原本作「必」，據文義改。</p>
<p>‧調經丸
川芍一兩  白芍一兩  熟地二兩  高良薑一兩
三棱一兩  檳榔一兩  烏藥二兩  玄胡索一兩
莪朮一兩  枳殼  當歸二兩  小茴香一兩
右藥共研細末，早米糊為丸，空心用酒送下。</p>
<h2>第三症  經水或多或少</h2>
<p>婦人月水不調，陰血內衰，面色萎黃，五心發熱，臨經之
際，小腹作痛，腹腿重酸，血來或多或少未定，頭目暈眩
，飲食不思。先用清涼散退去煩熱，後用調經四物湯，一
月有效。</p>
<p>‧清涼散
黃芩一錢  知母一錢  當歸一錢
丹皮二錢  白芍一錢  茯苓一錢
水煎，不拘時服。</p>
<p>‧調經四物湯
當歸一錢  生地一錢  丹皮一錢
白芍二錢  香附一錢  砂仁一錢  川芎五分
黃芩二錢
加生薑三片，水煎，空心服。</p>
<h2>第四症  月水色黃</h2>
<p>婦人用水色如黃泥汁．肌肉消瘦，此症傷食，脾熱經燥，
土不能生血，故成此症。先用黃芩湯，降去五心煩熱，後
用理脾順氣丸。氣血調則經勻矣。</p>
<p>‧黃芩湯
蒼朮五分  川芎五分  當歸一錢
花粉二錢  甘草二分  黃芩一錢  白芍一錢
水煎服。</p>
<p>‧理脾順氣丸
沉香二兩  小茴香二兩  草果二兩
砂仁三兩  三棱一兩  大茴香二兩  枳殼一兩
良薑一兩  莪朮一兩  白豆寇一兩  烏藥二兩
陳皮一兩
共研細末，早米糊為丸，每服五十粒，空心
米湯送下。</p>
<h2>第五症  月水色黑</h2>
<p>婦人月經，如黑灰水者，此症虛弱，血衰微，面色青，嗜
睡或臥不安，五心煩熱，口枯舌乾，頭眩目暈，小腹作痛
，即服調經九，見上二症。</p>
<h2>第六症  月水色如豬肝</h2>
<p>婦人月水，如豬肝色，此症生產勞傷，氣血變壞，五心煩
熱，頭目昏迷，遍身疼痛，飲食不思，惡心嘔逆。先用龍
腦湯退其潮熱，後用內補當歸丸調其經水，次月經來即癒
。</p>
<p>△註：昏迷：此指昏蒙。</p>
<p>‧龍腦湯
薄荷一錢  茯苓五分  人參五分 地骨皮二錢
白芍一錢  川芎五分
水煎服。</p>
<p>‧內補當歸丸
阿膠二兩  杜仲二兩  乾薑一兩  肉桂一兩
川斷二兩  當歸二兩  附子一兩  蒲黃一兩
白芍二兩  熟地二兩  茱萸五錢  甘草五錢
共研細末，米糊為丸，每服一百丸，空心鹽
酒湯送下。</p>
<h2>第七症  經水如屋漏水</h2>
<p>婦人經來，如屋漏水者，此症元氣虛寒，子宮有瘀血不淨
也。五心作熱，口苦舌乾，遍身疼痛，飲食少思，經盡之
時，略兼白帶。當服溫經湯，生血補血立效。</p>
<p>‧溫經湯
白朮五分  肉桂五分  乾薑七分  甘草二分
丹皮二錢  白芷五分  當歸一錢  熟地一錢
阿膠二錢  生薑三片
水煎，空心溫服。</p>
<h2>第八症  經水如菜汁</h2>
<p>婦人月水，如菜汁，如銅綠水，此症子宮太冷，血大虛，
人形如肥，體盛血衰，不可用涼藥，急用烏雞丸散。旬日
或一月後，血盛，即有孕矣。</p>
<p>‧烏雞丸
天雄一兩  附子一兩  萸肉一兩  當歸二兩
白芍二兩  茯苓二兩  蓯蓉二兩  熟地二兩
川芎八分  肉桂五分  甘草五分  鹿血片一錢
用白絲毛烏骨雞肉四兩，同藥末曬乾，共研
細末，早米糊為丸，每服一百丸，空心酒送下。</p>
<h2>第九症  經血挾瘀</h2>
<p>婦人經血，來如豬血，或條或成塊，而小腹作痛，或不痛
，面色青黃，不思飲食。此症宜用金狗丸，後月其形不見
，經則勻矣。</p>
<p>‧金狗丸
當歸二兩  金毛狗脊二兩  肉桂五錢
川芎一兩  熟地一兩  川續斷二兩  地榆二兩
阿膠一兩  茯苓一兩
右藥共研細末，米糊為丸，空心酒送下。</p>
<h2>第十症  經水一月數行</h2>
<p>婦人經水，一月數行，此腎虛不能攝血所致。日久則精神
困倦，面色萎黃，頭眩眼花，腰膝酸軟。宜用歸經湯，數
劑自癒。</p>
<p>‧歸經湯
大生地四錢  當歸三錢  白芍三錢
山萸肉三錢  續斷二錢  杜仲二錢  荊芥炭錢半
清水煎服。</p>
<h2>第十一症  逆經</h2>
<p>婦人月水逆行，從口鼻而出，此症傷熱毒太過。血熱則亂
行，頭痛口燥，宜清血，不可補。宜用犀角黃芩湯，後服
黃連丸。神效。</p>
<p>‧犀角黃芩湯
犀角一錢  枳殼五分  百草霜一錢
生地二錢  白芍五分  橘紅一錢  淡青芩二錢
甘草二分  丹皮一錢  桔梗五分  加生薑三片
水煎服。</p>
<p>‧黃連丸
川黃連去鬚微炒，七錢五分  黃柏微炒，七錢五分
厚朴去皮生薑汁塗炙令香，七錢五分
當歸微炒，五錢  乾薑炮制，五錢  木香勿見火，五錢
地榆五錢  阿膠一兩
研為末，煉蜜和為丸，每服二十九丸。</p>
<h2>第十二症  陽觸經</h2>
<p>婦人月水，方行一半未盡，忽然作渴，飲食生冷，阻滯不
行、變成潮熱，頭痛或不痛，此乃大熱也。切不可用補劑
。宜涼血為先，用黃芩湯如神，後用血竭丸，退去積滯斷
根矣。</p>
<p>‧黃芩湯
黃芩一錢  白芍一錢  蒼朮五分  花粉一錢
當歸一錢  川芎五分  甘草二分
水煎，不拘時服。</p>
<h2>第十三症  陰觸經</h2>
<p>婦人月水，行來已盡，腹中虛空無血，飲食生冷，變成痰
氣，睡臥不得，惡寒，四肢厥冷，此乃陰症也。急用星烏
湯，後用丁胡三建湯。此藥如經服後，若出大汗不止，必
死。不治之症也。</p>
<p>‧星烏湯
杏仁去皮二錢  茯苓二錢  川烏五分
五味子三分  半夏二錢  南星二錢  木香一錢
粉甘草三分
水煎，熱服。</p>
<p>‧丁胡三建湯
丁香二錢  附子二錢  胡椒薑汁一錢
川烏一錢  肉桂二錢  天雄二錢  生薑七片
水煎，不拘時服。</p>
<h2>第十四症  經前氣痛</h2>
<p>婦人經前氣痛，乃血海作痛，此乃實痰新血與陽血相駁。
宜用紅花全歸散，先去瘀血出宮門，其瘀血立消，若有潮
熱，加涼劑二劑效矣。</p>
<p>‧紅花全歸散
紅花二錢  全當歸二錢  芫花五分
赤芍一錢  川芎五分  牛膝二錢  蘇子二錢
三棱一錢  莪朮一錢
水煎，空心溫服。</p>
<h2>第十五症  月水前來</h2>
<p>婦人月水前來，古云：先而行者，血熱也，宜用涼劑治之
。此症雖云實，亦有虛，看其虛實醫治。虛者內補當歸丸
，實者黃芩芍藥散。服之一月或半月見功矣。</p>
<p>‧內補當歸丸
當歸一兩  乾薑一兩  白芍一兩  肉桂一兩
川芎一兩  阿膠一兩  熟地酒洗一兩  附子一兩
茱萸五錢  甘草五錢  蒲黃一兩  續斷三兩
共研細末，蜜丸，鹽酒送下。
△註：註：內補當歸九：此方用川芎，第六症中此方用杜仲。</p>
<p>‧黃芩芍藥散
黃芩一錢  當歸一錢  升麻一錢  側柏葉二錢
白芍一錢  蒲黃一錢  生地五錢
水煎服。</p>
<h2>第十六症  經後腹痛</h2>
<p>婦人經後作痛，腹中血去盡，乃作虛疼，當審曾食薑椒雞
，及一切熱物否。如食過等物，宜用清涼之劑。去虛中熱
，當服四物湯。</p>
<p>‧四物湯
當歸  川芎  熟地  白芍等分
水煎，溫服。</p>
<h2>第十七症  帶如柑水</h2>
<p>婦人白帶，如米柑水，太陰所出，肺乃太陰是也。四物合
二陳湯，服一月或半月，其白自收。忌魚，如食，必復發
矣。</p>
<p>△註：註：肺：似當為脾。</p>
<p>‧ 四物合二陳湯
當歸  白芍  半夏  陳皮  川芎  熟地  甘草  茯苓
等分
水煎服。</p>
<h2>第十八症  帶形似魚腦</h2>
<p>婦人白帶，如魚腦髓者，此乃子宮寒甚故也，血化而成。
宜用龍骨丸。</p>
<p>‧龍骨丸
火段龍骨一兩  火段牡蠣一兩  熟地一兩
當歸二兩  海螵蛸三兩  川芎一兩  茯苓一兩
甘草五錢  山萸肉又名石棗，三兩
共研細末，米糊為丸，空心酒服。</p>
<h2>第十九症  帶下腹痛</h2>
<p>婦人白帶，濕滯小腹疼者，此乃酒色太過，心經所出，先
用瀉火涼劑，後用石棗丸立效。</p>
<p>‧石棗丸
石棗即萸肉，二兩  淮山藥二兩
花粉一兩  赤石脂一兩  龍骨一兩
共研細末，早米糊為丸，空心酒送下。</p>
<h2>第二十症  帶如涕水</h2>
<p>婦人白帶如涕水，此腎經出也。先用補腎閉澀之藥，後宜
用牡蠣丸。</p>
<p>‧牡蠣丸
牡蠣二兩  青鹽一兩  牛膝一兩  狗腎二具，晒乾
右藥研末，用棗肉為丸，每服五十粒，空心酒送下。</p>
<h2>第二十一症  白帶成膜</h2>
<p>婦人白帶，形如豬脂膜，此症傷食毒太過，血化成膜，不
可燥，宜服閉白丸。</p>
<p>‧閉白丸
海浮石一兩  海螵蛸一兩  蔻仁一兩
龍骨二兩  赤石脂一兩  砂仁一兩  茯苓二兩
牡蠣二兩
共研細末，早米糊為丸，空心酒送下。清湯
送下亦可。</p>
<h2>第二十二症  經水不止</h2>
<p>婦人經來，如水崩不止，出有肉球，大如雞卵，用刀剖開
，內中如石，人迷昏不知人事。此症雖則驚人，無妨，可
治。宜用十全大補湯法治之。</p>
<p>‧十全大補湯
當歸二錢  川芎一錢  肉桂五分  白芍一錢
人參五分  熟地二錢  甘草五分  白朮一錢
黃耆二錢  茯苓一錢
水煎，空心溫服，忌食生冷。</p>
<h2>第二十三症  臨期泄瀉</h2>
<p>婦人月水將行，常慣泄瀉，其理只究脾上養血，脾土化血
，各氣方生，次月經來，泄止血調。宜服蒼朮砂仁丸。</p>
<p>‧蒼朮砂仁丸
厚朴一兩  蒼朮一兩  砂仁二兩  紅豆蔻二兩
枳殼一兩  陳皮二兩
共研細末，早米糊為丸，清水送下。</p>
<h2>第二十四症  血淋</h2>
<p>婦人經來，小便痛如刀割，此症血淋也。先用牛膝湯一劑
止痛，後用海金砂丸。</p>
<p>‧牛膝湯
牛膝酒洗  麝香三分  乳香一錢
水煎，不拘時服。</p>
<p>△按： 牛膝：原本無藥量。</p>
<p>‧海金砂丸
海金砂二兩  豬苓二兩  澤瀉二兩  白朮二兩
車前子三兩  木通一兩  萆薢一兩
共研末，早米糊為丸，空心白湯送下。</p>
<h2>第二十五症  經行不止</h2>
<p>婦人月水行來，旬日不止，此症血衰氣滯。宜調血順氣丸
，服下一月見效。</p>
<p>‧調皿順氣丸
山棱一兩  五靈脂醋炒一兩  木香三錢
生地二兩  沉香一兩  小茴香三兩  當歸二兩
玄胡一兩  川芎一兩  大茴香二兩
共研細末，早米糊為丸，空心清水送下。</p>
<h2>第二十六症  經來挾帶</h2>
<p>婦人月水，每月來二三次，更兼淋瀝不止，面青，赤白帶
下。宜用膠艾湯治之。</p>
<p>‧膠艾湯
當歸二錢  熟地二錢  白芍二錢  川芎一錢
艾葉一錢  阿膠二錢  甘草一錢
水煎，不拘時服。</p>
<h2>第二十七症  經來咳血</h2>
<p>婦人經來，吐血咳嗽，痰氣急滿吐紅，五心煩熱，乃傷生
冷，又觸熱毒，人皆作逆經治之，故不驗。治法宜用五虎
湯，次紫菀湯。</p>
<p>‧五虎湯
廣皮二錢  甘草二錢  桑皮一錢  桔梗一錢
蘇子三錢  石膏三錢  知母一錢  枳殼一錢
水煎，不拘時服。</p>
<p>‧紫菀湯
阿膠一錢  桑皮一錢  五味子一錢
紫菀一錢  杏仁一錢  冬花一錢  玉桔梗一錢
蘇子一錢  貝母一錢  知母一錢  廣陳皮五分
枳實一錢
水煎，臨臥時服。</p>
<h2>第二十八症  臍氣不消</h2>
<p>婦人月水，不行數月，臍結一塊，如肥皂形橫過。或痛或
不痛，人形瘦弱，面色青黃，飲食少進，人皆作癥痛，治
之不癒，宜用玄胡散，服半月，其塊自消。後服沉香丸。</p>
<p>‧玄胡散
玄胡索四錢  血餘炭二錢
共研細末，每服一茶匙，酒送下。</p>
<p>‧沉香丸
沉香一兩  小茴香二兩  砂仁三兩
玄胡四兩  烏藥三兩  大茴香二兩
共研細末，米糊為丸，空心酒送下。</p>
<h2>第二十九症  蛇瘕</h2>
<p>婦人蛇瘕甚多，此症因五臟所生。行經月水不調，或因氣
血而生。飲食不調，行經前三五日，小腹痛不可忍，常常
煩悶，日久小便如蛇頭出，其人昏迷，不知人事，十無一
救，此不治之症也。</p>
<h2>第三十症  龜瘕</h2>
<p>婦人龜瘕，其形若龜，常在腹中走動皮外。其此症百無一
生，不必治也。</p>
<h2>第三十一症  枕瘕</h2>
<p>婦人枕瘕，其血結成一塊，如肥皂大，或左或右走動，面
青，人形瘦弱，不思飲食。此症可治，宜用三棱丸，先破
其血，後進用四物湯，補其血，其病自癒。四物湯，見上
十六症。</p>
<p>‧三棱丸
三棱三兩  枳殼三兩  香附四兩  檳榔三枚
莪朮三兩
共研細末，醋糊為丸，空心清湯送下。</p>
<h2>第三十二症  血瘕</h2>
<p>婦人血瘕，其血結成塊，不時上衝，作痛吐痰，飲後發熱
，食後飽脹不消，遍身瘦弱。此病用通血丸，通其血，則
安而癒。</p>
<p>‧通血丸
三棱一兩  穿山甲二兩  赤芍一兩
蘇木五錢  莪朮一兩  川芎一兩  劉寄奴二兩  紅花
三兩  芫花五錢
共研細末，醋早米糊為丸，空心清水送下。</p>
<h2>第三十三症  氣瘕</h2>
<p>婦人氣瘕，大如鼓，皮上青筋，四肢瘦弱。飲食少進，日
常作渴，或臍作痛。宜服清氣丸可癒。半月見效。</p>
<p>‧清氣丸
香附四兩  萊菔子八兩  大茴香一兩
砂仁二兩
共研細末，早米糊為丸，空心滾水送下。</p>
<h2>第三十四症 水瘕</h2>
<p>婦人水瘕，其形似孕，吐逆潮熱，人皆謂有孕，至於飲食
不進，方知病也。急用車水散，行其水道，待血脈和，則
癒矣。</p>
<p>‧車水散
土狗即螻蛄，五十枚，焙乾
研末，每服二匙，空心酒下。</p>
<h2>第三十五症  積瘕</h2>
<p>婦人積瘕在脾，胃中如梅核隔住，胸中飽悶，口吐酸水，
飲食不進，若翻胃之症。宜用烏梅丸，後服九仙奪命丹，
其核自消，飲食方進。忌魚腥煎炒。如若不忌，即刻復發
。忌百日後，無妨矣。</p>
<p>‧烏梅丸
月石一錢  雄黃一錢  綠豆四十九粒
乳香一錢  朱砂一錢  草果一錢  胡椒四十丸粒
木香五分
共研末，烏梅肉為丸，如龍眼大，每服含化
一丸，一日服三丸。</p>
<p>‧九仙奪命丹
厚朴一錢  豆鼓一錢  茯苓一錢  山楂一錢
陳皮一錢  蒼朮一錢  枳殼三錢  草果一枚  木香一錢
共研末，滾湯送下。</p>
<h2>第三十六症  蝦瘕</h2>
<p>婦人蝦瘕，腹中如蝦，走動皮上，腫如豬泡。人皆作浮腫
治，不效。急服破積丸，其瘕立消矣。</p>
<p>‧破積丸
青皮一兩  三棱一兩  莪朮一兩  草果三兩
共研細末，早米糊為丸，空心酒送下。</p>
<h2>第三十七症  腫症</h2>
<p>婦人浮腫泄瀉。此脾弱不能克化飲食，土不制水，不能利
於膀恍，皮膚作浮腫。先要理脾消水，此病方可癒。宜用
木香調胃丸。</p>
<p>‧木香調胃丸
木香一兩  粉豬苓一兩  草果去殼三兩
陳皮一兩  三棱一兩  葶藶子一兩  檳榔一兩
厚朴一兩  莪朮一兩  車前子一兩  砂仁二兩
白朮二兩  枳殼二兩  建澤瀉一兩
共研細末，早米糊為丸。蔥五根，白酒煎湯
送下，一日三服。</p>
<h2>第三十八症  實浮</h2>
<p>婦人肚大，四肢浮腫，青筋出見，大便堅實，人形瘦弱。
不思飲食。用醉公丸瀉之，三次後，用緊皮丸除根。</p>
<p>‧醉公丸
大戟五錢  三棱一兩  黑牽牛五錢
芫花一兩  甘遂五錢  莪朮一兩  江枳殼五錢
大黃一兩
共研細末，早米糊為丸，如桐子大，每服三
十丸，空心清水送下。</p>
<p>‧緊皮丸
厚朴一兩  香附一兩  青皮二兩  砂仁二兩
陳皮一兩  草果去殼，二兩
共研細末，米糊為丸，每服六十丸，空心清
湯送下。</p>
<h2>第三十九症  經不通</h2>
<p>婦人經水不通，兼寒熱，皆無別症，用通經丸破其血立安
。若有潮熱，形體瘦弱，不可服通經丸。如服無效，且要
退去潮熱，生其血，方可服通經丸。</p>
<p>‧通經丸
水蛭五錢  虻蟲炒，五錢  牛膝三兩
炒荊芥一兩
共研細末，早米糊為丸，每服三十丸，空心
酒送下。</p>
<h2>第四十症  痰核</h2>
<p>婦人血衰，胃中有痰，嗽則氣逆，或左或右，頭面腫，次
結核，或臍上結塊如杯大，不入膜，不出皮，人形瘦弱。
此症宜運化為先。急用瓦龍丸，然後用鐵線草，上敷六七
次即消。</p>
<p>‧瓦龍丸
三棱一兩  大茴香一兩  海浮石一兩
枳殼一兩  莪朮一兩  川楝子三兩  瓦楞子鍛五錢
紅花一兩  檳榔一兩  台烏藥一兩  廣陳皮一兩
木香一兩
共研細末，面糊為丸，空心服二錢。</p>
<h2>第四十一症  痰惡</h2>
<p>婦人痰惡，飲食即吐。此症皆作翻胃治之，故不效也。宜
用烏梅丸除根可也。烏梅丸，見上三十五症。</p>
<h2>第四十二症  胎氣不和</h2>
<p>婦人胎前，受孕數月，頭眩目昏，身體發熱，口苦舌乾，
飲食即吐，此乃胎氣不和，宜用和氣散二三劑即安。</p>
<p>‧和氣散
陳皮一錢  小茴香一錢  枳殼一錢
蒼朮五分  砂仁一錢  益智仁一錢  厚朴五分
木香一錢
水煎溫服。</p>
<h2>第四十三症  胎前浮腫</h2>
<p>婦人胎前受孕，血氣衰弱，遍身發腫，此症宜用鯉魚湯治
之。</p>
<p>‧鯉魚湯
當歸一錢  茯苓一錢  陳皮一錢  白芍二錢
白朮二錢  加生薑一片
用鯉魚一尾，不拘大小，煎湯，取湯煎藥，不
拘時服。</p>
<h2>第四十四症  胎前咳嗽</h2>
<p>婦人受孕，不拘月數多少，咳嗽氣緊，不得伏臥，此症皆
因胎氣不足，變生此症，宜用白虎湯治之。</p>
<p>△註：白虎湯：應為白虎加入參湯。</p>
<p>‧白虎湯
石膏  甘草  知母  人參
如熱傷虛煩者，加米同煎。</p>
<h2>第四十五症  胎前吐血</h2>
<p>婦人胎前，吐血氣緊，日夜不得安臥。宜服紫菀湯治之。
紫菀湯，見上二十七症。</p>
<h2>第四十六症  吐血熱症</h2>
<p>婦人胎前吐血，乃吃熱食大多，食火衝傷，胎氣大熱。急
用側柏丸治之。</p>
<p>‧側柏丸
側柏葉四兩  黃柏四兩
共研細末，煉蜜為丸。不拘時服，清湯送下。</p>
<h2>第四十七症  胎前衄血</h2>
<p>婦人胎前，衄血不止。此症因孕母積熱不散。宜用丹皮湯
，其鼻紅自止矣。</p>
<p>‧丹皮湯
丹皮三錢  黃芩三錢  白芍四錢
水煎服下。</p>
<h2>第四十八症  子懸</h2>
<p>婦人子懸症，孩兒攻心，其母昏迷，不知人事。急用調中
和氣丸，泄二三次立蘇。</p>
<p>‧調中和氣丸
大黃五錢  枳殼四錢  檳榔一錢  黑丑一錢
共研細末，米糊為丸，空心清湯送下。’</p>
<h2>第四十九症  胎前痢疾</h2>
<p>婦人胎前痢疾，小腹作痛，體壯盛，宜服甘連湯。若泄久
，形體虛，更加生產，氣緊必死。</p>
<p>△註：氣緊：氣急，呼吸困難，喘促急迫。</p>
<p>‧甘連湯
甘草五分  黃連三錢  白蛇藤三錢
水煎六分，空心服下。</p>
<h2>第五十症  胎前跌損動紅</h2>
<p>婦人胎前跌損，動紅乃傷胎元，惡血流來不止，速急安胎
止血。宜用人參安胎散治之。</p>
<p>‧人參安胎散
炒蒲黃五分  人參五分  川斷五分  當歸一錢
炒白芍一錢  生地一錢  川芍五分
蘇葉一錢  金毛狗脊三錢  阿膠二錢
水煎七分，溫服。</p>
<h2>第五十一症  胎前流血</h2>
<p>婦人胎前流血不止，此症胎虛，則血流急，服阿膠湯治之
。</p>
<p>‧阿膠湯
阿膠三錢  當歸三錢  熟地一錢
茯苓一錢  白芍一錢  地榆二錢  加生薑一片
水煎，空心服下。</p>
<h2>第五十二症  久病血漏</h2>
<p>婦人久病漏血，體弱無神，動胎下血，再兼生產、肚瀉、
必死，不治。</p>
<h2>第五十三症  胎前白帶</h2>
<p>婦人胎前白帶，此症胎虛寒冷，凝澀為白帶，倘日久不治
，必損胎元：母子兩亡。必用閉白丸。方見上二十一症。</p>
<h2>第五十四症  胎前赤帶</h2>
<p>婦人胎前赤帶，皆因吃熱食大過，胎元熱甚，血燥妄行。
此症要涼血安胎，宜用側柏湯。</p>
<p>‧側柏湯
側柏葉二錢  白朮一錢  丹皮三錢
蒲黃二錢  淡黃芩五錢
水煎，溫服。</p>
<h2>第五十五症  胎前氣痛</h2>
<p>婦人胎前，氣痛難忍，此症食冷大多，毒燥氣衝，胎疼，
宜用和氣散，倍加涼劑治之。和氣散見上四十二症。</p>
<h2>第五十六症  胎前泄瀉</h2>
<p>婦人胎前，飲油膩太過，而脾胃常慣泄瀉。此症因脾弱，
不能克化油膩，故此作瀉。宜服平胃散。</p>
<p>△註：飲：當為食。</p>
<p>‧平胃散
蒼朮二錢  陳皮一錢  厚朴一錢  甘草五分
加薑棗，煎服。</p>
<h2>第五十七症  胎前感寒</h2>
<p>婦人胎前感寒，邪氣衝胎，遍體骨痛，潮熱頭痛。宜用烏
藥順氣湯，發散寒邪，其氣自蘇，病即癒。</p>
<p>‧烏藥順氣湯
烏藥二錢  麻黃五分  甘草二分
陳皮一錢  白芷一錢  僵蠶二錢  枳殼二錢
加蔥一根，薑三片，煎服。</p>
<h2>第五十八症  胎前中風</h2>
<p>婦人胎前中風，牙關緊閉，不知人事。先用通關散吹入鼻
中，自然蘇蘇，後用挑風湯治之。</p>
<p>‧通關散
牙皂一錢  細辛三分  原麝一分
共研細末，吹入鼻內。</p>
<p>‧挑風湯
白朮一錢  白蘚皮二錢  麻黃五分
杏仁二錢  川芎五分  雲茯苓一錢  甘草二分
當歸二錢  獨活五分  青防風二錢
加大棗、生薑，水煎服。</p>
<h2>第五十九症  胎前咽痛</h2>
<p>婦人胎前咽痛，此症因因胃中積熱，兼有痰氣。宜防風升
麻湯治之。</p>
<p>‧防風升麻湯
防風二錢  升麻二錢  桔梗二錢  甘草二分
水煎服。</p>
<h2>第六十症  胎前發瘧</h2>
<p>婦人胎前，寒熱往來，宜用安胎除寒，草果護胎丸治之。</p>
<p>‧草果護胎丸
草果四兩  黃芩五兩  青皮五錢  檳榔三兩
共研細末，米糊為丸，空心開水送下。</p>
<h2>第六十一症  胎前漏紅</h2>
<p>婦人胎前漏紅，每月應期似行經，人皆作月水，治之不驗
。宜服小烏金丸，不一月即效。</p>
<p>‧小烏金丸
海金砂二兩，鍛  防風二兩  小茴香二兩
百草霜一兩  真川朴一兩  當歸二兩
蒼朮一兩  側柏葉一兩  僵蠶一兩  川芎一兩
共研末，面糊為丸，空心開水送下。</p>
<h2>第六十二症  胎前發暈</h2>
<p>婦人胎前發暈。此症因血蔭胎，缺少神氣故也。宜用八珍
湯，扶養神氣為主治之。</p>
<p>△註：蔭：護也。</p>
<p>‧八珍湯
當歸二錢  白朮一錢  人參一錢  地
黃一錢  黃耆二錢  甘草三分  白芍一錢  川芎一錢
加大棗一枚，水煎，不拘時服。</p>
<p>△註：黃耆：八珍湯應為茯苓，此另是一方。</p>
<h2>第六十三症  胎前作渴</h2>
<p>婦人胎前作渴，此症因三焦火旺，血少故也，宜用春澤湯
加黃柏，服之見效。</p>
<p>‧春澤湯
豬苓二錢  桂枝一錢  澤瀉二錢  白朮
一錢  茯苓二錢  黨參二錢
水煎，溫服。</p>
<h2>第六十四症  胎前損身</h2>
<p>婦人胎前，三五個月漏紅。起一二日，猶可安胎，如三四
日，其胎必損，胎難安矣。用藍石散打下。</p>
<p>‧藍石散
滑石不拘多少，用蜜、麻油、白滾湯各半盅。
調服即下。</p>
<h2>第六十五症  子癇</h2>
<p>婦人胎前大熱，不知人事，時發時癒，此名子癇。宜用小
紫胡湯，退其潮熱，鎮其心神，病即全癒。</p>
<p>‧小柴胡湯
柴胡二錢  黃芩二錢  半夏二錢
甘草五分  人參五分
加薑棗水煎，溫服。</p>
<h2>第六十六症  轉胞</h2>
<p>婦人胎前小便不通，此症名為轉胞。別人皆用利法，決不
臻效。宜用八味丸，小便即通。</p>
<p>‧八味丸
淮山藥一兩  茯苓一兩  萸肉一兩
澤瀉二兩  制附子一兩  熟地一兩  丹皮二兩  桂心
五錢
共研細末，用蜜為丸，空心滾水送下。</p>
<h2>第六十七症  氣閉</h2>
<p>婦人胎前小便不通，此症乃因氣弱，名為氣閉。宜用海金
砂丸治之。</p>
<p>‧海金砂丸
海金砂二兩  豬苓二兩  澤瀉二兩
白朮二兩  潼木通一兩  萆薢一兩
共研末，米糊為丸，空心清水送下。此方該
用車前子，惟因能墮胎，故不用。</p>
<h2>第六十八症  胎前精神困倦</h2>
<p>婦人胎前，精神困倦，面青內兼風邪，飲食不思，貪睡，
宜用四物湯則安。</p>
<p>‧四物湯，見第十六症。</p>
<h2>第六十九症  胎前虛熱</h2>
<p>婦人胎前，初受孕時大熱，服涼藥更甚熱，此症胎虛熱故
也。宜用四物湯，再加人參、附子各一錢，共水煎服。</p>
<h2>第七十症  胎前盜汗</h2>
<p>婦人胎前，出盜汗不止，宜服牡蠣散治之。</p>
<p>‧牡蠣散
牡蠣二錢  麥冬一錢  甘草二分  麻黃根二分
共研末，清湯送下。</p>
<h2>第七十一症  胎前脅痛</h2>
<p>婦人胎前脅痛，晝夜不安，用茴角散。</p>
<p>‧茴角散
玄胡索三錢  茴角三錢，即小茴香
共研末。每服酒調一匙，忌食煎炒熱物。</p>
<h2>第七十二症  胎前痰氣多</h2>
<p>婦人胎前，痰氣多者，此症因三焦火勝，故痰氣盛，宜用
竹瀝湯，火降則痰消矣。</p>
<p>‧竹瀝湯
竹瀝
水沖，服之能消。</p>
<h2>第七十三症  胎前內吹</h2>
<p>婦人胎前乳腫，此症名為內吹。初起宜用皂角散，如日久
生膿，必用穿方。</p>
<p>△註：穿方：即消蝕排膿之方。</p>
<p>‧皂角散
皂角刺七錢
燒灰，用酒調服，每服一二錢  ，消，即止。</p>
<h2>第七十四症  胎前耳鳴</h2>
<p>婦人胎前耳鳴，此症名為腎虛，更兼氣閉，宜服麝鹽散。</p>
<p>△註：名：當為“多”字，形近而誤。</p>
<p>‧麝鹽散
麝殼一錢，即原麝殼  青鹽二錢
共研末，空心燒酒調服。</p>
<h2>第七十五症  胎前頭風痛</h2>
<p>婦人胎前頭風痛，不可服藥，恐傷其胎，宜用雄黃散吹入
鼻內。</p>
<p>‧雄黃散
細辛五錢  蒿本五錢  川芎一錢  麝香一錢
雄黃一錢  川烏一錢
共研細末，每次吹人鼻中少許，其痛即止。</p>
<h2>第七十六症  胎前遍身生瘡</h2>
<p>婦人胎前，遍身生瘡，此症乃因內受風熱之故。宜用首烏
散。</p>
<p>△註：內：當為「外」。</p>
<p>‧首烏散
首烏一錢  威靈仙一錢  苦參一錢
荊芥二錢  胡麻一錢  石直蒲一錢
用水煎服。</p>
<h2>第七十七症  胎前大便數多</h2>
<p>婦人胎前，大便不定其數，每日或六七次者，此症因大腸
經火發燥，宜用枳殼湯見效。</p>
<p>‧枳殼湯
枳殼二錢
煎湯，空心溫服，不數次即逾。</p>
<h2>第七十八症  胎前腰痛</h2>
<p>婦人胎前腰辱、此症乃因風濕所傷。宜用鹿角酒，去濕消
風即癒。</p>
<p>‧鹿角酒
用鹿角一段，火上炙熟，酒浸七
次服之。</p>
<h2>第七十九症  胎前里急後重</h2>
<p>婦人胎前，里急後重，此症因泄久；傷食熱物，故得此病
。宜用枳連湯，降去大腸火毒即安。</p>
<p>‧枳連湯
枳殼五錢  黃連三錢
水煎，空心服下。</p>
<h2>第八十症  胎前咳嗽腹中有塊</h2>
<p>婦人胎前咳嗽，腹內有塊作痛，宜用五虎湯，順氣化痰，
安胎無事，五虎湯方見上二十七症。</p>
<h2>第八十一症  胎前腳氣</h2>
<p>婦人胎前，腳氣吊痛不可忍，此症因元氣虛，血少兼風邪
，宜用烏藥順氣散，行氣止痛。烏藥順氣散方見上五十七
症。</p>
<h2>第八十二症  新產昏迷</h2>
<p>婦人新產，以至昏迷，不知人事。此症初產，不可妄投藥
劑。宜用芎歸湯，若有汗，宜用歸耆湯。</p>
<p>‧芎歸湯
川芎二錢  當歸一兩  生薑三片
水煎，溫服，臨用入酒下更好。</p>
<p>‧歸耆湯
當歸二兩  黃耆一兩  生薑三片
水煎服。黃耆恐氣逼，用時須當斟酌。</p>
<h2>第八十三症  產後胎衣不下</h2>
<p>婦人產後，胎衣不下，當審胎衣。在臍下硬痛者，易治，
宜用紅花散，若在上胸飽滿，氣湊必死。</p>
<p>‧紅花散
紅花一兩  牛膝一兩  蘇木八錢
生白酒煎八分，溫服。</p>
<h2>第八十四症  產後惡血不盡</h2>
<p>婦人產後，惡血不盡，腹中作痛，或潮熱，宜用紅花全歸
散。方見上十四症。</p>
<h2>第八十五症  產後血盡虛痛</h2>
<p>婦人產後血盡，腹中虛痛，身發潮熱，是虛熱也。宜用烏
藥四物湯，治之則癒。</p>
<p>‧烏藥四物湯
烏藥  乳香  沒藥  小茴香
當審曾食炒雞薑椒否，如然，加黃連、枳殼。</p>
<h2>第八十六症  產後惡寒發熱</h2>
<p>婦人產後，惡寒發熱，此症外感內傷，宜用補血散，去其
風邪，後服五積散。</p>
<p>‧補血散
當歸二錢  肉蓯蓉二錢  附子一錢  川芎一錢
白芍一錢  茯苓一錢  甘草五分
酒煎，空心服下。</p>
<p>‧五積散
厚朴薑汁製，一錢  枳殼一錢  蒼朮
米柑水浸炒，五分  川芎五分  肉桂五分  桔梗五分
乾薑五分  陳皮一錢  甘草五分  白芍一錢  茯苓一錢
半夏制，一錢
加生薑三片，水煎七分，溫服。</p>
<h2>第八十七症  產後潮熱</h2>
<p>婦人產後潮熱，當審虛實。降生之際，血盡發熱，乃是虛
熱，當服八珍湯。若食炒雞薑椒之物，此虛中有熱，加枳
殼、黃連。如實熱，用紅花當歸散治之。八珍湯，方見上
六十二症。紅花全歸散，見上十四症。</p>
<h2>第八十八症  產後泄痢</h2>
<p>婦人產後泄痢，腹中作痛。若無氣緊，體盛者，宜用甘連
湯。若人衰弱，氣緊必死。甘連湯，方見上四十九症。</p>
<h2>第八十九症  產後血氣痛</h2>
<p>婦人產後二三日，血氣刺痛，宜用紅花散加乳香、沒藥、
五靈脂、小茴香。若吃熱物、有熱毒，加黃連、枳殼。紅
花散，方見上八十三症。</p>
<h2>第九十症  產後氣緊</h2>
<p>婦人產後，氣緊泄瀉，大熱作渴，世無此病，百死一生，
不治也。</p>
<h2>第九十一症  產後舌黑</h2>
<p>婦人產後，舌黑口乾。此症用春澤湯後，生津者可治。若
服後無津，乃必死之症也，難治矣。春澤湯，方見上六十
二症。</p>
<h2>第九十二症  產後浮腫</h2>
<p>婦人產後浮腫，氣急泄痢必死。若無此症，可進七皮五子
飲。</p>
<p>‧七皮五子飲
薑皮二錢  陳皮二錢  大腹皮
二錢  五加皮二錢  青皮二錢  丹皮二錢  茯苓皮二
錢  五味子一錢  蘇子一錢  杏子一錢  車前子一錢
葶藶子一錢
水煎，溫服。</p>
<h2>第九十三症  產後泄瀉瞻語</h2>
<p>婦人產後，泄瀉譫語，潮熱，惡血攻心。此症上盛下虛，
必死，治之不效也。</p>
<h2>第九十四症  產後中風</h2>
<p>婦人產後中風，忽然牙關緊閉，不知人事。急用通關散，
吹入鼻中，通其關竅。後進烏星湯。通關散，方見上五十
八症。</p>
<p>‧烏星湯
杏仁一錢  薑半夏一錢  制南星一錢
木香一錢  甘草三分  五味子八粒  制川烏一錢
茯苓一錢
水煎，溫服。</p>
<h2>第九十五症  產後大便不通</h2>
<p>婦人產後，大便不通，皆因氣急，治故不效。有痰積，飲
食如常，用勝紅丸。若泄三次，氣消臥安則效矣。</p>
<p>‧勝紅丸
巴豆八粒  百草霜一錢
共研末，飯為丸，蔥湯送下七八丸。</p>
<h2>第九十六、七症  產後蠱腫</h2>
<p>婦人產後蠱腫，四肢不浮，肚大青筋，如大便硬，用醉公
丸通泄後，進理脾順氣丸。如大便滑泄，宜用木香調胃散
。醉公丸，方見上三十八症。理脾順氣丸，方見上四症。
木香調胃散，方見上三十七症。</p>
<h2>第九十八症  產後血來不止</h2>
<p>婦人產後血來不止，漏下如牛膜片者，此症雖凶而可治也
。。進阿膠湯，方見上五十一症。</p>
<h2>第九十九症  產後血流不止</h2>
<p>婦人產後血流，或一月半月不止，宜用天台散則效。</p>
<p>‧天台散
烏藥研細末
好酒，空心服。</p>
<p>△註：烏藥：原本無藥量。</p>
<h2>第一〇〇症  產後子宮突出</h2>
<p>婦人產後，子宮突出，此症宜用鯉魚揚即癒。鯉魚湯，方
見上四十三症。</p>
<h2>第一〇一症  產後尿胞突出</h2>
<p>婦人產後尿胞突出，宜用黃蠟膏。</p>
<p>‧黃蠟膏
黃蠟二錢  白礬二兩  清油一兩
上藥溶化，調敷治之。</p>
<h2>第一〇二症  產後咳嗽氣急</h2>
<p>婦人產後，咳嗽氣急，此症血化成痰，宜用導痰湯治之。</p>
<p>‧導痰湯
制半夏一錢  甘草五分  茯苓一錢
制南星二錢  枳殼二錢
用水煎服。</p>
<h2>第一〇三症  產後漏黃水</h2>
<p>婦人產後一月，漏黃水不止，此乃血衰之故，宜服補血湯
。方見上八十六症。</p>
<h2>第一〇四症  產後吐血</h2>
<p>婦人產後吐血，因食薑椒熱物大多之故，宜用地黃湯治之
。</p>
<p>‧地黃湯
生地黃三兩
搗汁，服之可癒。</p>
<h2>第一〇五症  產後吐血不止</h2>
<p>婦人產後吐血不止，有兩症，有冷有熱。冷進四物湯，方
見上十六症。熱進黃連湯。</p>
<p>‧黃連湯
黃連陳茶
用水煎服。</p>
<h2>第一〇六症  產後自泄</h2>
<p>婦人產後自泄，此是脾泄。宜用四物湯加法。</p>
<p>‧四物湯加法
當歸  川芎  熟地  訶子  粟殼
白朮  肉果  白芍
煎服。</p>
<h2>第一〇七症  產後小便不利</h2>
<p>婦人產後，小便閉澀，是血滯水道，須散其應，宜服牛膝
湯。</p>
<p>‧牛膝湯
牛膝浸酒，三兩  麝香二分  乳香一錢
煎湯溫服。</p>
<h2>第一〇八症  產後頭痛</h2>
<p>婦人產後單頭痛，此血虛也，宜用十全大補湯。方見上二
十二症。</p>
<h2>第一〇九症  產後雙腳痛</h2>
<p>婦人產後，雙腳痛不可忍者，乃下血虛也。下元清冷，寒
邪入骨。宜用烏藥順氣散加法。</p>
<p>‧烏藥順氣散加法
烏藥一錢  僵蠶一錢  桔梗一錢  江枳殼一錢
天麻一錢  白芷五分  川芎五分  乾薑五分
石南藤生，一錢  乳香五分  陳皮五分
麻黃五分  甘草二分  桑寄生一錢  蔥頭帶根，
一根
加薑三片，用水煎服。</p>
<h2>第一一〇症  產後咽痛</h2>
<p>婦人產後咽痛，此肺經傷寒，且有痰涎攻上，喉中作痛，
宜用甘桔湯。</p>
<p>‧甘桔湯
甘草二錢  桔梗一兩
水煎服</p>
<h2>第一一一症  產後腫痛</h2>
<p>婦人產後臨門腫，是初生傷痛也，宜用蓮蓬湯。</p>
<p>△註：臨門：產門。</p>
<p>‧蓮蓬湯
蓮蓬殼燒灰
煎水洗之即消。</p>
<h2>第一一二症  產後耳鳴</h2>
<p>婦人產後耳鳴，此症因腎虛也，用豬腰丸。</p>
<p>‧豬腰丸
豬腰二個  青鹽二錢
共搗爛蒸熟，曬乾為丸，空心用酒送下五十
丸。</p>
<h2>第一一三症  產後吐痰血絲</h2>
<p>婦人產後吐痰，兼有血絲，此症胃火衝上，宜服五虎湯。
方見上二十七症。</p>
<h2>第一一四症  產後臍下結塊</h2>
<p>婦人產後，臍下結塊，如杯大，作痛，不思飲食，此血熱
也，宜服玄胡散。方見上二十八症。</p>
<h2>第一一五症  產後血從大便出</h2>
<p>婦人產後，血從大便出者，此因傷食熱毒，不能消血，宜
用解毒散。</p>
<p>‧解毒散
黃連  黃芩  黃柏  黑山梔各等分
水煎，溫服。</p>
<h2>第一一六症  產後失音</h2>
<p>婦人產後失音，此症因風入肺，又傷熱毒，宜用解毒連翹
湯。</p>
<p>‧解毒連翹湯
連翹二錢  枳殼二錢  牛蒡子一兩
水煎服。</p>
<h2>第一一七症  產後噫語</h2>
<p>婦人產後噫語，不能認人，因心虛血少故也，宜用遠志湯
則安。</p>
<p>‧遠志湯
當歸二錢  熟地二錢  茯神二錢  丹參三錢
白芍藥一錢  菖蒲一錢  棗仁一錢  遠志一
錢  川芎五分
水煎服，加珍珠、琥珀、朱砂。</p>
<h2>第一一八症  產後盜汗</h2>
<p>婦人產後盜汗，此症是大虛也，宜用牡蠣湯。</p>
<p>‧牡蠣湯
牡蠣一錢  黃耆一錢  麥冬一錢  麻黃根三分
研末，白湯送下。</p>
<h2>第一一九症  產後夜出冷汗</h2>
<p>婦人產後，夜出冷汗，不能合眼，乃血衰體虛故也，宜用
十全大補湯。方見上二十二症。</p>
<h2>第一二〇症  難產死胎不下</h2>
<p>婦人難症，死胎死在腹中，不能下者，宜用斬爛散打下之
。胎死者，何以知之？如產母面青腳青，其胎死矣。如不
青不黑，指甲純紅，胎猶不死也。</p>
<p>‧斬爛散
肉桂  白芍  滑石  斑螫各等分
水煎服。</p>
