<header><h1>醫林改錯</h1></header>
<dl class="元資料" data-type="book">
<div><dt>作者</dt><dd>王清任</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1644/1911">公元1644年至公元1911年</data></dd></div>
</dl>
<h2>目錄</h2>
<p>　張序
　劉序
　知非子序
　自序
卷上
　醫林改錯臟腑記敘
　親見改正臟腑圖
　會厭、左氣門、右氣門、衛總管、榮總管、氣府、血府記
　津門、津管、遮食、總提、瓏管、出水道記
　腦髓說
　氣血合脈說
　心無血說
　方敘
　通竅活血湯所治症目
　‧頭髮脫落
　‧眼疼白珠紅
　‧糟鼻子
　‧耳聾年久
　‧白癜風
　‧紫癜風
　‧紫印臉
　‧青記臉如墨
　‧牙疳
　‧出氣臭
　‧婦人乾勞
　‧男子勞病
　‧交節病作
　‧小兒疳症
　‧通竅活血湯
　‧加味止痛沒藥散
　‧通氣散
　血府逐瘀湯所治症目
　‧頭痛
　‧胸疼
　‧胸不任物
　‧胸任重物
　‧天亮出汗
　‧食自胸右下
　‧心裏熱（名日燈籠病）
　‧瞀悶
　‧急躁
　‧衣睡夢多
　‧呃逆（俗名打咯忒）
　‧飲水即嗆
　‧不眠
　‧小兒夜啼
　‧心跳心忙
　‧夜不安
　‧俗言肝氣病
　‧乾嘔
　‧晚發一陣熱
　‧血府逐瘀湯
　隔下逐瘀湯所治症目
　‧積塊
　‧小兒痞塊
　‧痛不移處
　‧臥則腹墜
　‧腎瀉
　‧久瀉
 ‧隔下逐瘀湯
卷下
　半身不遂論敘
　半身不遂論
　半身不遂辨
　半身不遂本源
　口眼歪斜辨
　辨口角流涎非痰飲
　辨大便乾燥非風火
　辨小便頻數遺尿不禁
　辨語言蹇澀非痰人
　辨口噤咬牙
　記未病以前之形狀
　論小兒半身不遂
　癱痿論
　補陽還五湯
　瘟毒吐瀉轉筋說
　‧解毒活血湯
　‧急救回陽湯
　論抽風不是風
　‧可保立蘇湯
　論痘非胎毒
　論痘漿不是血化
　論出痘飲水即嗆
　論七、八天痘瘡作癢
　‧通經逐瘀湯
　‧會厭逐瘀湯
　‧止瀉調中湯
　‧保元化滯湯
　‧助陽止癢湯
　‧足衛和榮湯
　少腹逐瘀湯說
　‧少腹逐瘀湯
　懷胎說（兼記難產胎衣不下方）
　‧古開骨散
　‧古沒竭散
　‧黃耆桃紅湯
　‧古下瘀血湯
　‧抽葫蘆酒
　‧蜜蔥豬膽湯
　‧刺蝟皮散
　‧小茴香酒
　痹症有瘀血說
　‧身痛逐瘀湯
　‧磠砂丸
　‧癲狂夢醒湯
　‧龍馬自來丹
　‧黃耆赤風湯
　‧黃耆防風湯
　‧黃耆甘草湯
　‧木耳散
　‧玉龍膏（即勝玉膏）
　辨方效經錯之源、論血化為汗之誤</p>
<h2>張序</h2>
<p>　　醫，仁術也。乃或術而不仁，則貪醫足以誤世；或仁而無術，則庸醫足以殺人
。古云不服藥為中醫，蓋誠慮乎醫之仁術難兼也，至於稍讀方書，即行市道，全無
仁術，奚以醫為？余來粵數年，目擊此輩甚眾，輒有慨乎其中。每遇救急良方，不
惜捐貲購送。今放癸丑四月，適聞佛山友人有幼子患症，醫以風藥投之，竟至四肢
抽搐，口眼歪斜，命垂旦夕，忽得一良方，一劑稍愈，三服霍然。又有人患半身不
遂者十餘年，得一良方，行走如故。余甚奇之，再四訪求，始知二方皆出自《醫林
改錯》一書。遍求得之，歷試多驗。因於公餘沉潛反覆，頗悟其旨。竊嘆此書之作
，直翻千百年舊案，正其謬誤，決其瑕疵，為希世之寶也，豈非術之精而仁之至哉
！余不忍秘藏，立刊布以公於世。使今人得悉臟腑經絡之實，而免受庸醫之誤。亦
不負王勛臣先生數十年濟世之苦心矣。願同志君子勿視為尋常善書，幸甚幸甚！</p>
<p>　　　　咸豐癸丑仲夏順天張潤坡識。</p>
<h2>劉序</h2>
<p>　　丁未之秋，寄跡吳門。適同鄉焦子浚文來，手執臟腑全圖，乃勛臣王先生《醫
林改錯》之稿也。臟腑圖漢魏以來，醫家所習見，何異乎爾？異乎勛臣先生所繪之
圖與古人殊也。臟腑人人皆同，勛臣背古以傳圖，得毋炫奇立異乎？曰否，不然也
。古人之圖傳其誤，勛臣之圖傳其信。天下物理之是非，聞虛而見實，寡見獨虛，
多見為實。古人竊諸刑餘之一犯，勛臣得諸親見之百人。集數十載之精神，考正乎
數千年之遺誤。譬諸清夜鐘鳴，當頭棒喝，夢夢者皆為之喚醒焉。醫書汗牛充棟，
豈盡可徵。然非善讀書者，獨具隻眼，終為古人所牢籠，而潛受其欺。孟子曰：吾
於武城取二三策。武城周書也，孟子周人也，當代之書，獨且不可盡信，況遠者乎
！是書繪圖文說，定方救逆，理精識卓，絕後空前。可為黃帝之功臣，即可為長沙
之畏友。抑又聞之，葉氏指南有久病入絡之說。徐氏非之，不知入絡即血瘀也。今
勛臣痛快言之，而指南入絡之說益明，坊友汪子維之，見而悅之，開雕梨棗，以公
諸世。斯真能刊錄善書者也，是為序。</p>
<p>　　　　道光戊申中秋日上元後學小窗氏劉必榮識。</p>
<h2>知非子序</h2>
<p>　　余讀勛臣先生《醫林改錯》一書，而嘆天下事，有人力為之者，有天意成之者
，先生是書，功莫大於圖繪臟腑諸形。其所以能繪諸形者，則由於親見。其所以得
親見者，則由於稻地鎮之一游也。此豈非天假之緣，而使數千載之誤，由先生而正
之哉！惟隔膜一事，留心三十年，未能查驗的確。又得恆敬公確示一切，而後臟腑
諸形，得以昭晰無疑，此非有無意玉成其間哉！至先生立方醫疾，大抵皆以約治博
。上卷著五十種血瘀之症，以三方治之。下卷論半身不遂，以一方治之。並審出未
病以前四十種氣虛之形症，非細心何能至此。論吐瀉轉筋，治分攻補兩途，方由試
驗中來。論小兒抽風非中風，以大補元氣一方治之。以不能言之兒，查出二十種氣
虛之形症，平素細心，不同可知。論痘非胎毒、痘漿非血化，以六方治古人不治之
六十種逆痘，頗有效者。先生之書，大抵補前人之未及，而在氣虛血瘀之症為多，
今特揭諸篇首。知非子書。</p>
<h2>自序</h2>
<p>　　余著《醫林改錯》一書，非治病全書，乃記臟腑之書也。其中當尚有不實不盡
之處，後人倘遇機會，親見臟腑，精察增補，抑又幸矣！記臟腑後，兼記數症，不
過示人以規矩，令人知外感內傷，傷人何物；有餘不足，是何形狀。至篇中文義多
粗淺者，因業醫者學問有淺深也；前後語句多覆重者，恐心粗者前後不互証也。如
半身不遂內有四十種氣虧之症，小兒抽風門有二十種氣虧之症，如遇雜症，必於六
十種內互考參觀，庶免謬誤。望閱是書者，須詳審焉。</p>
<p>　　　　玉田王清任書。</p>
<h2>卷上</h2>
<h3>醫林改錯臟腑記敘</h3>
<p>　　古人曰：既不能為良相，願為良醫。以良醫易而良相難。余曰：不然。治國良
相，世代皆有；著書良醫，無一全人。其所以無全人者，因前人創著醫書，臟腑錯
誤；後人遵行立論，病本先失，病本既失，縱有繡虎雕龍之筆，裁雲補月之能，病
情與臟腑，絕不相符，此醫道無全人之由來也。夫業醫診病，當先明臟腑。嘗閱古
人臟腑論，及所繪之圖，立言處處自相矛盾。如古人論脾胃，脾屬土，土主靜而不
宜動；脾動則不安。既云脾動不安，何得下文又言脾聞聲則動，動則磨胃化食，脾
不動則食不化？論脾之動靜。其錯誤如是，其論肺，虛如蜂窠，下無透竅，吸之則
滿，．呼之則虛。既云下無透竅，何得又云肺中有二十四孔，行列分布，以行諸臟
之氣？論肺之孔竅，其錯誤又如是。其論腎，有兩枚，即腰子。兩腎為腎，中間動
氣為命門。既云中間動氣為命門．何得又云左腎為腎，右腎為命門？兩腎一體，如
何兩立其名，有何憑据？若以中間動氣為命門，藏動氣者，又何物也？其論腎錯誤
又如是。其論肝，左右有兩經，即血管，從兩脅肋起，上貫頭目，下由少腹環繞陰
器，至足大指而止，既云肝左右有兩經，何得又云肝居于左，左脅屬肝？論肝分左
右，其錯誤又如是。其論心，為君主之官，神明出焉。意藏于心，意是心之机，怠
之所專曰志，志之動變曰思，以思謀遠曰慮，用慮處物曰智，五者皆藏于心。既藏
于心，何得又云脾藏意智，腎主伎巧，肝主謀慮，膽主決斷？据所論處處皆有靈機
，究竟未說明生靈機者何物？藏靈機者何所？若用靈機，外有何神情？其論心如此
含混。其論胃，主腐熟水谷。又云脾動磨胃化食，胃之上口名曰責門．飲食人胃，
精氣從賁門上輸于脾肺，宣播于諸脈。此段議論，無情無理。胃下口名曰幽門．即
小腸上口，其論小腸，為受盛之官，化物出焉。言飲食入小腸，化糞下至闌門，即
小腸下口，分別清濁，糞歸大腸，自肛門出，水歸膀胱為尿。如此論尿從糞中滲出
，其氣當臭。嘗用童子小便，並問及自飲小便之人，只言味咸，其氣不臭。再者食
與水合化為糞，糞必稀溏作瀉，在雞鴨無小便則可，在牛馬有小便則不可，何況乎
人？看小腸化食，水自闌門出一節，真是千古笑談。其論心包絡，細筋如絲，與心
肺相連者，心包絡也。又云心外黃脂是心包絡。又云心下橫膜之上，豎膜之下，黃
脂是心包絡。又云膻中有名無形者，乃心包絡也。既云有名無形，何得又云手中指
之經，乃是手厥陰心包絡之經也？論心包絡竟有如許之多，究竟心包絡是何物？何
能有如許之多那！其論三焦，更為可笑。《靈樞》曰：手少陰三焦主乎上，足太陽
三焦主乎下，已是兩三焦也。《難經》三十一難論三焦，上焦在胃之上，主內而下
出：中焦在胃中脘，主腐熟水谷；下焦在臍下，主分別清濁，又云三焦者，水谷之
道路。此論三焦是有形之物。又云兩腎中間動氣，是三焦之本。此論三焦是無形之
氣。在《難經》一有形，一無形，又是兩三焦。王叔和所謂有名無狀之三焦者，蓋
由此也。至陳無擇以臍下脂膜為三焦，袁淳甫以人身著內一層、形色最赤者為三焦
，虞天民指空腔子為三焦，金一龍有前三焦、后三焦之論。論三焦者，不可以指屈
。有形無形，諸公尚無定準，何得云手無名指之經，是手少陽三焦之經也？其中有
自相矛盾者，有后人議駁而未當者。總之，本源一鍺，萬慮皆失。</p>
<p>　　余嘗有更正之心，而無贓腑可見。自恨著書不明贓腑，豈不是痴人說夢；治病
不明贓腑，何異于盲子夜行！雖竭思區畫，無如之何。十年之久，念不少忘。至嘉
慶二年丁已，余年三十，四月初旬，游于灤州之稻地鎮。其時彼處小兒，正染瘟疹
痢症，十死八九。無力之家，多半用代席裹埋，代席者，代棺之席也。彼處鄉風，
更不深埋，意在犬食，利于下胎不死。故各義冢申，破腹露臟之兒．日有百余。余
每日壓馬過其地，初未嘗不掩鼻，后因念及古人所以錯論臟腑，皆由未嘗親見，遂
不避污穢，每日清晨赴其義冢，就群兒之露臟者細視之。犬食之餘，大約有腸胃者
多，有心肝者少。互相參看，十人之內，看全不過三人。連視十日，大約看全不下
三十餘人，始知醫書中所繪臟腑形圖，與人之臟腑全不相合，即件數多寡，亦不相
符。惟胸中隔膜一片，其薄如紙，最關緊要。</p>
<p>　　及余看時，皆以破壞，未能驗明在心下心上，是斜是正，最為遺憾，至嘉慶四
年六月，余在奉天府，有遼陽州一婦年二十六歲，因瘋疾打死其夫與翁，解省擬剮
，跟至西關，忽然醒悟，以彼非男子，不忍近前，片刻行刑者提其心與肝肺，從面
前過，細看與前次所看相同。后余在京時，嘉慶庚辰年，有打死其母之剮犯，行刑
放崇文門外吊橋之南，卻得近前，及至其處，雖見臟腑，膈膜已破，仍未得見，道
光八年五月十四日，剮逆犯張格爾，及至其處，不能近前，自思一簀未成，不能終
止。不意道光九年十二月十三日夜間，有安定門大街板廠胡同恆宅，請余看症，因
談及膈膜一事，留心四十年，未能審驗明確。內有江寧布政司恆敬公言，伊曾鎮守
哈密，領兵于喀什噶爾，所見誅戮逆屍最多，于膈膜一事，知之最悉，余聞言喜出
望外，即拜叩而問之。恆公鑒余苦衷，細細說明形狀。余于臟腑一事，訪驗四十二
年，方得的確，繪成全圖。意欲刊行于世，惟恐后人未見臟腑，議余故叛經文；欲
不刊行，復慮後世業醫受禍，相沿又不知幾千百年。細思黃帝慮生民疾苦，平素以
靈樞之言下間歧伯、鬼臾區，故名《素問》。二公如知之的確，可對君言，知之不
確，須待參考，何得不知妄對，遺禍後世？繼而秦越人著《難經》，張世賢割裂《
河圖洛書》為之圖注，謂心肝肺以分兩計之，每件重幾許；大小腸以尺丈計之，每
件長若乾；胃大幾許，容穀幾斗幾升。其言彷彿似真，其實臟腑未見，以無憑之談
，作欺人之事，利己不過虛名，損人卻屬實禍。竊財猶謂之盜，偷名豈不為賊！千
百年後豈無知者！今余刻此圖，並非獨出己見，評論古人之短長；非欲後人知我，
亦不避後人罪我。惟願醫林中人一見此圖，胸中雪亮，眼底光明，臨症有所遵循，
不致南轅北轍，出言含混，病或少失，是吾之厚望。幸仁人君子鑒而諒之。</p>
<p>　　　　時道光庚寅孟冬直隸玉田縣王清任書乾京邸知一堂。</p>
<h3>親見改正臟腑圖</h3>
<p>　　余將親見諸臟腑顯隱之形，繪于其後。計四十二件。</p>
<p>　　左氣門、右氣門兩管歸中一管入心，由心左轉出橫行後接衛總管。心長在氣管
之下，非在肺管之下，心與肺葉上棱齊。</p>
<p>　　肺管至肺分兩權，入肺兩葉，直貫到肺底皆有節。管內所存皆輕浮白沫，如豆
腐沫有形無體。兩大葉大面向背，小面向胸，上有四尖向胸，下一小片亦向胸。肺
外皮實無透竅，亦無行氣之二十四孔。</p>
<p>　　膈膜以上僅止肺、心、左右氣門，餘無他物。其餘皆膈膜以下物，人身膈膜是
上下界物。</p>
<p>　　肝四葉，膽附于肝右邊第二葉，總提長于胃上，肝又長于總提之上，大面向上
，後連于脊，肝體堅實，非腸、胃、膀胱可比，絕不能藏血。</p>
<p>　　胃府之體質，上口賁門在胃上正中，下口幽門亦在胃上偏右，幽門之左寸許名
津門，胃內津門之左有疙瘩如棗名遮食，胃外津門左名總提，肝連于其上。胃在腹
是平鋪臥長，上口向脊，下口向右，底向腹，連出水道。</p>
<p>　　脾中有一管，體像玲瓏，易于出水，故名瓏管。脾之長短與胃相等，脾中間一
管，即是瓏管，另畫瓏管者，謂有出水道，今人易辨也。</p>
<p>　　氣府俗名雞冠油，下棱抱小腸，氣府內、小腸外乃存元氣之所，元氣化食，人
身生命之源全在于此。此系小腸，外有氣府包裹之。</p>
<p>　　中是瓏管，水由瓏管分流兩邊出水道，由出水道滲出，泌入膀恍為尿。出水道
中有四血管，其餘皆系水管。</p>
<p>　　大腸上口即小腸下口，名曰闌門，大腸下口即肛門。</p>
<p>　　膀胱有下口，無上口，下口歸玉莖。精道下孔亦歸玉莖，精道在婦女名子宮。</p>
<p>　　兩腎凹處有氣管兩根，通衛總管，兩傍腎體堅實，內無孔竅，絕不能藏精。</p>
<p>　　舌後白片，名曰會厭，乃遮蓋左右氣門。喉門之物。</p>
<p>　　古人言經絡是血管，由每臟腑向外長兩根。惟膀胖長四根。余親見廳餘臟腑，
並無向外長血管之形，故書于圖後以記之。</p>
<h3>會厭、左氣門、右氣門、衛總管、榮總管、氣府、血府記</h3>
<p>　　欲知臟腑體質，先明出氣、入氣、與進飲食之道路。古人謂舌根後名曰喉，喉
者候也，候氣之出入，即肺管上口是也。喉之後名曰咽，咽音咽也，咽飲食人胃，
即胃管上口是也。謂咽以納食，喉以納氣，為千古不易之定論，自靈素至今四千年
來，無人知其錯而改正音，如咽咽飲食入胃，人所共知。惟喉候氣之出入一節、殊
欠明白。不知肺兩葉大面向背，上有四尖向胸，下有一小片亦向胸，肺管下分為兩
權，入肺兩葉，每權分九中權，每中權分九小權，每小權長數小枝，枝之盡頭處，
並無孔竅。其形彷彿麒麟菜，肺外皮亦無孔竅，其內所存，皆輕浮白沫，肺下實無
透竅，亦無行氣之二十四孔。先賢論吸氣則肺滿，呼氣則肺虛。此等錯誤，不必細
辯，人氣向裏吸，則肚腹滿大，非肺滿大；氣向外呼，則肚腹虛小，非肺虛小。出
氣、入氣、吐痰、吐飲、唾津、流涎，與肺毫無乾涉。肺管之後，胃管之前，左右
兩邊凹處，有氣管兩根，其粗如箸，上口在會厭之下，左曰左氣門，右曰右氣門，
痰飲津涎，由此氣管而出。古人誤以咳嗽、喘急、哮吼等症，為肺病者，因見其症
自胸中來。再者，臨症查有外感，用發散而癒；有燥痰，用清涼而癒；有積熱，用
攻下而癒；有氣虛，用補中而癒；有陰虧，用滋陰而癒；有瘀血，用逐瘀而癒。揚
揚得意，立言著書，以為肺病無疑。不知左氣門、右氣門兩管，由肺管兩傍，下行
至肺管前面半截處，歸併一根，如樹兩權歸一本，形粗如箸，下行人心，由心左轉
出，粗如筆管，從心左後行，由肺管左邊過肺入脊前，下行至尾骨，名曰衛總管，
俗名腰管。自腰以下，向腹長兩管。粗如箸，上一管通氣府，俗名雞冠油，如倒握
雞冠花之狀。氣府乃抱小腸之物，小腸在氣府是橫長，小腸外、氣府內，乃存元氣
之所。元氣即火，火即元氣，此火乃人生命之源。食由胃入小腸，全仗元氣蒸化，
元氣足則食易化，元氣虛則食難化。此記向腹之上一管。下一管，大約是通男子之
精道、女子之子宮。獨此一管，細心查看，未能查驗的確，所以疑似。以俟後之業
醫者，倘遇機會，細心查看再補。衛總管，對背心兩邊有兩管，粗如箸，向兩肩長
，對腰有兩管，通連兩腎，腰下有兩管，通兩胯。腰上對脊正中，有十一支管連脊
。此管皆行氣，行津液。氣足火旺，將津液煎稠，稠者名曰痰；氣虛火衰，不能煎
熬津液，津液必稀，稀者名曰飲。痰飲在管，總以管中之氣上攻，上行過心。由肺
管前氣管中，出左右氣門。痰飲津涎，本氣管中物，古人何以誤為肺中物？因不知
肺管前有氣管相連而長，止知痰飲津涎自胸中來，便疑為肺中物，總是未親見臟腑
之故。手握足步。頭轉身搖，用行舍藏，全憑此氣。人氣向裏吸。則氣府滿，氣府
滿，則肚腹大；氣向外呼，則氣府虛，氣府虛，則肚腹小。衛總管，行氣之府，其
中無血。若血歸氣府，血必隨氣而出，上行則吐血、嶇血，下行則溺血，便血。衛
總管之前，相連而長，粗如箸，名曰榮總管，即血管，盛血，與衛總管長短相等，
其內之血由血府灌溉。血府即人胸下膈膜一片，其薄如紙，最為堅實，前長與心口
凹處齊，從兩脅至腰上，順長加坡，前高後低，低處如池，池中存血，即精汁所化
，名曰血府，精汁詳胃津門條下。前所言會厭，即舌後之白片，乃遮蓋左右氣門、
喉門之物也。</p>
<h3>津門、津管、遮食、總提、瓏管、出水道記</h3>
<p>　　咽下胃之一物，在禽名曰嗉，在獸名曰肚。在人名曰胃。古人畫胃圖，上口在
胃上，名曰貫門；下口在胃下，名曰幽門，言胃上下兩門，不知胃是三門。畫胃豎
長，不知胃是橫長，不但橫長，在腹是平鋪臥長，上口賁門向脊，下底向腹；下口
幽門亦在胃上，偏右脅向脊；幽門之左寸許，另有一門，名曰津門。津門上有一管
，名曰津管，是由胃出精汁水液之道路。津管一物，最難查看，因上有總提遮蓋。
總提俗名胰子，其體長于賁門之右、幽門之左，正蓋津門。總提下前連氣府，接小
腸，後接提大腸，在胃上後連肝，肝連脊。此是膈膜以下，總提連貫胃、肝、大小
腸之體質。飲食入胃，食留于胃，精汁水液，先由津門流出，入津管，津管寸許，
外分三權。精汁清者，入髓府化髓；精汁濁者，由上權臥則入血府，隨血化血；其
水液，由下權從肝之中間，穿過入脾。脾中間有一管，體相玲瓏，名曰瓏管，水液
由瓏管分流兩邊，入出水道。出水道形如魚網，俗名網油。水液由出水道滲出，沁
入膀胱，化而為尿。出水道出水一段，體查最難。自嘉慶二年看臟腑時，出水道有
滿水鈴鐺者，有無水鈴鐺者，于理不甚透徹，以後診病，查看久病壽終之人，臨時
有多飲水者，有少飲水者，有不飲水者，故後其水仍然在腹。以此與前所看者參考
，與出水道出水一節，雖然近理，仍不敢為定準。後以畜較之，遂喂遂殺之畜，網
油滿水鈴鐺；三四日不喂之畜，殺之無水鈴鐺，則知出水道出水無疑。前言飲食入
胃，食留乾胃，精汁水液，自津門流出。津門即孔如箸大，能向外流精汁水液，稀
粥豈不能流出？津門雖孔如箸大，其處胃體甚厚，四圍靠擠縮小，所以水能出而食
不能出。況胃之內，津門之左一分遠，有一疙瘩，形如棗大，名曰遮食，乃擋食放
水之物，待糟汁水液流盡，食方腐熟，漸入小腸，化而為糞。小腸何以化食為糞？
小腸外有氣府，氣府抱小腸，小腸外、氣府內，乃存元氣之所，元氣化食。此處與
前氣府參看。化糞入大腸，自肛門出。此篇記精汁由胃出津門，生精生血；水液由
瓏管出水道，入膀胱為尿；食由胃入小腸。元氣蒸化為糞之原委也。</p>
<h3>腦髓說</h3>
<p>　　靈機記性，不在心在腦一段，本不當說，縱然能說，必不能行，欲不說，有許
多病，人不知源始，至此又不得不說。不但醫書論病，言靈機發放心，即儒家談道
德言性理，亦未有不言靈機在心者，因始創之人，不知心在胸中，所辨何事？不知
咽喉兩傍，有氣管兩根，行至肺管前，歸併一恨，入心，由心左轉出，過肺入脊，
名曰衛總管，前通氣府、精道，後通脊，上通兩肩，中通兩腎，下通兩腿，此管乃
存元氣與津液之所，氣之出入，由心所過，心乃出入氣之道路，何能生靈機、貯記
性？靈機記性在腦者，因飲食生氣血，長肌肉，精汁之清者，化而為髓，由脊骨上
行入腦，名曰腦髓。盛腦們者，名曰髓海，其上之骨，名曰天靈蓋。兩耳通腦，所
聽之聲歸于腦，腦氣虛，腦縮小，腦氣與耳竅之氣不接，故耳虛聾；耳竅通腦之道
路中，若有阻滯，故耳實聾，兩目即腦汁所生，兩目系如線，長于腦，所見之物歸
于腦，瞳人白色，是腦汁下注，名曰腦汁入目。鼻通乾腦，所聞香臭歸于腦，腦受
風熱，腦汁從鼻流出，涕濁氣臭，名曰腦漏。看小兒初生時，腦未全，囪門軟，：
目不靈動，耳不知聽，鼻不知聞，舌不言，至周歲，腦漸生，囪門漸長，耳稍知聽
，目稍有靈動，鼻微知香臭，舌能言一二字。至三四歲，腦髓漸滿，囪門長全，耳
能聽，目有靈動，鼻知香臭，言語成句。所以小兒無記性者，腦髓未滿；高年無記
性者，腦髓漸空。李時珍曰：腦為元神之府。金正希曰：人之記性皆在腦中。汪訒
庵曰：今人每記憶往事，必閉目上瞪而思索之。腦髓中一時無氣，不但無靈機，必
死一時，一刻無氣，必死一刻。</p>
<p>　　試看癇症，俗名羊羔風，即是元氣一時不能上轉入腦髓。抽時正是活人死腦袋
，活人者，腹中有氣，四肢抽搐；死腦袋者，腦髓無氣，耳聾、眼天吊如死。有先
喊一聲而後抽者，因腦先無氣，胸中氣不知出入，暴向外出也。正抽時，胸中有漉
漉之聲者，因津液在氣管，腦無靈機之氣，使津液吐咽，津液逗留在氣管，故有此
聲。抽後頭疼昏睡者，氣雖轉入于腦，尚未足也。小兒久病後元氣虛抽風，大人暴
得氣厥，皆是腦中無氣，故病人毫無知識。以此參考，豈不是靈機在腦之証據乎！</p>
<h3>氣血合脈說</h3>
<p>　　脈之形，余以實憎告後人。</p>
<p>　　若違心裝神仙，喪滅良評論，必遭天誅。</p>
<p>　　氣府存氣，血府存血。衛總管由氣府行周身之氣，故名衛總管；榮總管由血府
行周身之血，故名榮總管。衛總管體厚形粗，長在脊骨之前，與脊骨相連，散布頭
面四肢，近筋骨長。即周身氣管；榮總管體薄形細，長在衛總管之前，與衛總管相
連，散布頭面口肢，近皮肉長，即周身血管。氣在氣府，有出有入，出入者，呼吸
也。目視耳聽，頭轉身搖，掌握足步，靈機使氣之動轉也；血自血府入榮總管，由
榮總管灌入周身血管，滲於管外，長肌肉也。氣管近筋骨生，內藏難見；血管近皮
肉長，外露易見。氣管行氣，氣行則動；血管盛血，靜而不動。頭面四肢按之跳動
者，皆是氣管，並非血管。如兩眉棱骨後凹處，俗名兩太陽，是處肉少皮連骨，按
之跳動，是通頭面之氣管；兩足大指次指之端，是處肉少皮連骨，按之跳動，是通
兩足之氣管；兩手腕橫紋高骨之上，是處肉少皮連骨，按之跳動，是通兩手之氣管
。其管有粗有細，有直有曲，各人體質不同。胳膊肘下，近手腕肉厚，氣管外露者
短；胳膊肘下，近手腕肉薄，氣管外露者長。如外感中人，風入氣管。其管必粗，
按之出膚：寒入氣管，管中津液必凝，凝則阻塞其氣，按之跳動必慢；火入氣管，
火氣上炙，按之跳動必急。人壯邪氣勝，管中氣多，按之必實大有力，人弱正氣衰
，管中氣少，按之必虛小無力。久病無生機之人，元氣少，僅止上行頭面兩手，無
氣下行，故足面按之不動。若兩手腕氣管上，按之似有似無，或細小如絲，或指下
微微亂動，或按之不動，忽然一跳，皆是氣將絕之時。此段言人之氣管，生平有粗
細、曲直之下同，管有短長者，因手腕之肉有薄厚也；按之大小者，虛實也；跳動
之急慢者，寒火之分也。前所言，明明是脈，不言脈者，因前人不知人有左氣門、
右氣門、血府、氣府、衛總管、榮總管、津門、津管、總提、遮食、瓏管、出水道
，在腹是何體質？有何用處，論臟腑、包絡，未定準是何物，論經絡、三焦，未定
準是何物，並不能指明經絡是氣管、血管；論脈理，首句便言脈為血府，百骸貫通
，言脈是血管，氣血在內流通，周而复始：若以流通而論，此處血真能向彼處流，
彼處當有空隙之地，有空隙之地，則是血虛，無空隙之地咄流歸于何處？古人並不
知脈是氣管，竟著出許多脈快，立言雖多，論部位一人一樣，並無相同者。</p>
<p>　　古人論脈二十七字，余不肯深說者，非謂古人無容足之地，恐後人對症無論脈
之言。診脈斷死生易，知病難。治病之要訣，在明白氣血，無論外感內傷，要知初
病傷人何物，不能傷臟腑，不能傷筋骨，不能傷皮肉，所傷者無非氣血。氣有虛實
，實者邪氣實，虛者正氣虛。正氣虛，當與半身不遂門四十種氣虛之症、小兒抽風
門二十種氣虛之症，互相參考。血有虧瘀，血虧必有虧血之因，或因吐血、衄血，
或溺血、便血，或破傷流血過多，或崩漏、產後傷血過多；若血瘀，有血瘀之症可
查，後有五十種血瘀症，互相參考。惟血府之血，瘀而不活，最難分別。後半日發
燒，前半夜更甚，後半夜輕，前半日不燒，此是血府血瘀。血瘀之輕者，不分四段
，惟日落前後燒兩時，再輕者，或燒一時，此內燒兼身熱而言。若午後身涼，發燒
片刻，乃氣虛參耆之症，若天明身不熱，發燒止一陣，乃參附之症，不可混含從事
。</p>
<h3>心無血說</h3>
<p>　　余友薛文煌，字朗齋，通州人，素知醫，道光十年二月，因赴山東，來舍辭行
，閒談言及古人論生血之源，有言心生血、脾統血者，有言脾生血，心統血者，不
知宗誰？余曰：皆不可宗。血是精汁入血府所化，心乃是出入氣之道路，其中無血
。朗齋曰：吾兄所言不實。諸物心皆有血，何獨人心無血，余曰：弟指何物心有血
？曰：古方有遂心丹治癲狂，用甘遂末。以豬心血和為丸，豈不是豬心有血之憑據
？余曰，此古人之錯，非心內之血，因刀刺破其心，腔子內血流入于心，看不刺破
之心，內並無血。余見多多。試看殺羊者，割其頸項不刺心，心內亦無血。又曰：
不刺心，何死之速？余曰：滿腔血從刀口流，所以先流者速，繼而周身血退還腔子
，所以後流者遲，血盡氣散，故死之速。如入鬥毆破傷，流血過多，氣散血亡，漸
至抽風，古人立名曰破傷風，用散風藥治死受傷者，凶手擬抵，治一個，即是死兩
個。若明白氣散氣亡之義，即用黃耆半斤、黨參四兩，大補其氣，救一人豈不是救
兩人？朗齋點首而別。</p>
<h3>方敘</h3>
<p>　　余不論三焦者，無其事也。在外分頭面四肢、周身血管，在內分膈膜上下兩段
，膈膜以上，心肺咽喉、左右氣門，其餘之物，皆在膈膜以下。立通竅活血湯，治
頭面四肢、周身血管血瘀之症；立血府逐瘀湯，治胸中血府血瘀之症；立膈下逐瘀
湯，治肚腹血瘀之症。病有千狀萬態，不可以余為全書。查証有王肯堂《証治準繩
》，查方有周定王朱繡《普濟方》，查藥有李時珍《本草綱目》。三書可謂醫學之
淵源。可讀可記，有國朝之《醫宗金鑒》；理足方效，有吳又可《瘟疫論》，其餘
名家，雖未見臟腑，而攻發補瀉之方，效者不少。余何敢云著書，不過因著《醫林
改鍺》臟腑圖記後，將平素所治氣虛、血瘀之症，記數條示人以規矩，並非全書。
不善讀者，以余之書為全書，非余誤人，是誤余也。</p>
<h3>通竅活血湯所治症目(01)</h3>
<p>　　通竅活血湯所治之病，開列於後：</p>
<p>‧頭髮脫落</p>
<p>　　傷寒、瘟病後頭發脫落，各醫書皆言傷血，不知皮裏肉外血瘀，阻塞血路，新
血不能養髮，故髮脫落。無病脫髮，亦是血瘀。用藥三付，髮不脫，十付必長新髮
。
‧眼疼白珠紅</p>
<p>　　眼疼白珠紅，俗名暴發火眼。血為火燒，凝於目珠，故白珠紅色。無論有雲翳
、無雲翳，先將此藥吃一付，後吃加味止痛沒藥散，一日二付，三兩日必全癒。</p>
<p>‧糟鼻子</p>
<p>　　色紅是瘀血，無論三、二十年，此方服三付可見效，二、三十付可全癒。捨此
之外，並無驗方。</p>
<p>‧耳聾年久</p>
<p>　　耳孔內小管通腦，管外有瘀血，靠擠管閉，故耳聾。晚報此方，早服通氣散，
一日兩付，三、二十年耳聾可癒。</p>
<p>‧白癜風</p>
<p>　　血瘀于皮裏，服三、五付可不散漫，再服三十付可痊。
‧紫癜風</p>
<p>　　血瘀于膚裏，治法照白癜風，無不應手取效。
‧紫印臉</p>
<p>　　臉如打傷血印，色紫成片，或滿臉皆紫，皆血瘀所致。如三、五年，十付可癒
；若十餘年，三、二十付必癒。</p>
<p>‧青記臉如墨</p>
<p>　　血瘀症，長於天庭者多，三十付可癒。白癜、紫癜、紫印、青記，自古無良方
者，不知病源也。</p>
<p>‧牙疳</p>
<p>　　牙者骨之餘，養牙者血也。傷寒、瘟疫、痘疹、痞塊，皆能燒血，血瘀牙床紫
，血死牙床黑，血死牙脫，人豈能活，再用涼藥凝血，是促其死也。遇此症，將此
藥晚服一付，早服血府逐瘀湯一付，白日煎黃耆八錢，徐徐服之，一日服完。一日
三付，三日可見效，十日大見效，一月可全癒。縱然牙脫五、七個，不穿腮者，皆
可活。</p>
<p>‧出氣臭</p>
<p>　　血府血瘀，血管血必瘀，氣管與血管相連，出氣安得不臭？即風從花裏過來香
之義。晚服此方，早服血府逐瘀湯，三、五日必效，無論何病，聞出臭氣，照此法
治。</p>
<p>‧婦人乾勞</p>
<p>　　經血三、四月不見，或五、六月不見，咳嗽急喘，飲食減少，四肢無力，午後
發燒，至晚尤甚。將此方吃三付，或六忖，至重者九付，未有不全癒者。</p>
<p>‧男子勞病</p>
<p>　　初病四肢酸軟無力，漸漸肌肉消瘦，飲食減少，面色黃白，咳嗽吐沫，心煩急
躁，午後潮熱，天亮汗多。延醫調治，始而滋陰，繼而補陽，補之不效，則云虛不
受補，無可如何。可笑著書者，不分別因弱致病，因病致弱，果系傷寒、瘟疫大病
後，氣血虛弱，因虛弱而病，自當補弱而病可痊；本不弱而生病，因病久致身弱，
自當去病，病去而元氣自復。查外無表症，內無裏症，所見之症，皆是血瘀之症。
常治此症，輕者九付可癒，重者十八付可癒。吃三付後，如果氣弱，每日煎黃耆八
錢，徐徐服之，一日服完，此攻補兼施之法；若氣不甚弱，黃耆不必用，以待病去
，元氣自復。</p>
<p>‧交節病作</p>
<p>　　無論何病，交節病作，乃是瘀血。何以知其是瘀血？每見因血結吐血者，交節
亦發，故知之。服三付不發。</p>
<h3>通竅活血湯所治症目(02)</h3>
<p>‧小兒疳症</p>
<p>　　疳病初起，尿如米泔，午後潮熱，日久青筋暴露，肚大堅硬，面色青黃，肌肉
消瘦，皮毛憔悴，眼睛發艇。古人以此症，在大人為勞病，在小兒為疳疾。照前症
再添某病，則曰某疳，如脾疳、疳瀉、疳腫、疳痢、肝疳、心疳、疳渴、肺疳、腎
疳、疳熱、腦疳、眼疳、鼻疳、牙疳、脊疳、蛔疳、無辜疳、丁奚疳、哺露疳，分
病十九條，立五十方，方內多有梔子、黃連、羚羊、石膏大寒之品。因論病源係乳
食過飽，肥甘無節，停滯中脘，傳化遲滯，腸胃漸傷，則生積熱，熱盛成疳，則消
耗氣血，煎灼津液，故用大寒以清積熱。余初時對症用方，無一效音。後細閱其論
，因飲食無節，停滯中脘，此論是停食，不宜大寒之品。以傳化遲滯，腸胃漸傷，
則生積熱之句而論，當是虛熱，又不宜用大寒之品。後遇此症，細心審查，午後潮
熱，至晚尤甚，乃瘀血也，青筋暴露，非筋也，現於皮膚者，血管也，血管青者，
內有瘀血；漸至肚大堅硬成塊，皆血瘀凝結而成。用通竅活血湯，以通血管；用血
府逐瘀湯，去午後潮熱；用膈下逐瘀湯，消化積塊。三方輪服，未有不癒者。</p>
<p>‧通竅活血湯
赤芍一錢　川芎一錢　桃仁三錢研泥　紅花三錢
老蔥三根切碎　鮮薑三錢切碎　紅棗七個去核
麝香五厘絹包</p>
<p>　　用黃酒半斤，將前七味煎一鍾，去渣，將麝香入酒內，再煎二沸，臨臥服。方
內黃酒，各處分兩不同，寧可多二兩，不可少，煎至一鐘。酒亦無味，雖不能飲酒
之人亦可服。方內麝香，市井易於作假，一錢真，可合一兩假，人又不能辨，此方
麝香最要緊，多費數文，必買好的方妥，若買當門子更佳。大人一連三晚吃三付，
隔一日再吃三付。若七、八歲小兒，兩晚吃一付，三、兩歲小兒，三晚吃一付。麝
香可煎三次，再換新的。</p>
<p>　　【方歌】
通竅全憑好麝香，桃紅大棗老蔥薑，
川芎黃酒赤芍藥，表裏通經第一方。</p>
<p>‧加味止痛沒藥散
治初起眼疼白珠紅，後起雲翳。
沒藥三錢　血竭二錢　大黃三餞　朴硝二錢
石決明三錢鍛為末，
分四付，早晚清茶調服。眼科外症千古一方。</p>
<p>‧通氣散
治耳聾不聞雷聲。余三十歲立此方。
柴胡一兩　香附一兩　川芎五錢
為末，早晚開水沖服三錢。</p>
<h3>血府逐瘀湯所治症目</h3>
<p>　　血府逐瘀湯所治之病，開列於後。
‧頭痛</p>
<p>　　頭痛有外感，必有發熱，惡寒之表症，發散可癒；有積熱，必舌乾、口渴，用
承氣可癒；有氣虛，必似痛不痛，用參耆可癒。查患頭痛者，無表症，無裏症，無
氣虛、痰飲等症，忽犯忽好，百方下放，用此方一劑而癒。</p>
<p>‧胸疼</p>
<p>　　胸疼在前面，用木金散可癒；後通背亦疼，用瓜蔞薤白白酒湯可癒。在傷寒，
用瓜蔞、陷胸。柴胡等，皆可癒。有忽然胸疼，前方皆不應，用此方一付，疼立止
。
‧胸不任物</p>
<p>　　江西巡撫阿霖公，年七十四，夜臥露胸可睡，蓋一層布壓則不能睡，已經七年
。召余診之，此方五付全癒。</p>
<p>‧胸任重物</p>
<p>　　一女二十二歲，夜臥令僕婦坐於胸，方睡，已經二年，余亦用此方，三付而癒
，設一齊問病源，何以答之？</p>
<p>‧天亮出汗</p>
<p>　　醒後出汗，名曰自汗；因出汗醒，名曰盜汗，盜散人之氣血。此是千古不易之
定論。竟有用補氣固表、滋陰降火，服之下效，而反加重者，不知血瘀亦令人自汗
、盜汗。用血府逐瘀湯，一、兩付而汗止。</p>
<p>‧食自胸右下</p>
<p>　　食自胃管而下，宜從正中。食入咽，有從胸右邊咽下者，胃管在肺管之後，仍
由肺葉之下轉入肺前，由肺下至肺前，出膈膜入腹，肺管正中，血府有瘀血，將胃
管擠靠於右。輕則易治，無礙飲食也；重則難治，擠靠胃管，彎而細，有礙飲食也
。此方可效，全癒難。</p>
<p>‧心裏熱（名日燈籠病）</p>
<p>　　身外涼，心裏熱，故名燈籠病，內有血瘀。認為虛熱，癒補癒瘀；認為實火，
癒涼癒凝。三、兩付，血活熱退。</p>
<p>‧瞀悶</p>
<p>　　即小事不能開展，即是血瘀。三付可好。
‧急躁</p>
<p>　　平素和平，有病急躁，是血瘀。一、二付必好。
‧衣睡夢多</p>
<p>　　夜睡夢多，是血瘀。此方一、兩付全癒，外無良方。
‧呃逆（俗名打咯忒）</p>
<p>　　因血府血瘀，將通左氣門、右氣門歸併心上一根氣管，從外擠嚴，吸氣不能下
行，隨上出，故呃氣。若血瘀甚，氣管閉塞，出入之氣不通，悶絕而死。古人不知
病源，以橘皮竹茹湯、承氣湯、都氣湯、丁香柿蒂湯，附子理中湯、生薑瀉心湯、
代赭旋覆湯、大小陷胸等湯治之，無一效者。相傳咯忒傷寡，咯忒瘟病，必死。醫
家因古無良法，見此症則棄而不治。無論傷寒、瘟疫、雜症，一見呃逆，速用此方
，無論輕重，一付即效。此余之心法也。</p>
<p>‧飲水即嗆</p>
<p>　　飲水即嗆，乃會厭有血滯，用此方极效。古人評論全錯，余詳於痘症條。
‧不眠</p>
<p>　　夜不能睡，用安神養血藥治之不效者，此方若神。
‧小兒夜啼</p>
<p>　　何得白日不啼，夜啼者？血瘀也。此方一、兩付全癒。
‧心跳心忙</p>
<p>　　心跳心忙，用歸脾安神等方不效，用此方百發百中。
‧夜不安</p>
<p>　　夜不安者，將臥則起，坐未穩又欲睡，一夜無寧刻，重者滿床亂滾，此血府血
瘀。此方服十餘付，可除根。</p>
<p>‧俗言肝氣病</p>
<p>　　無故愛生氣，是血府血瘀，不可以氣治，此方應手效。
‧乾嘔</p>
<p>　　無他症，惟乾嘔，血瘀之症。用此方化血，而嘔立止。
‧晚發一陣熱</p>
<p>　　每晚內熱，兼皮膚熱一時。此方一付可癒，重者兩付。
‧血府逐瘀湯
當歸三錢　生地三錢　桃仁四錢　紅花三錢
枳殼二餞　赤芍二錢　柴胡一錢　甘草一錢
桔梗一錢半　川芎一棧半　牛膝三餞
水煎服。
【方歌】
血府當歸生地桃，紅花甘草殼赤芍，
柴胡芎桔牛膝等，血化下行不作勞。</p>
<h3>隔下逐瘀湯所治症目</h3>
<p>　　隔下逐瘀湯所治之症，開列於後：
‧積塊</p>
<p>　　積聚一症，不必論古人立五積、六聚、七癥、八瘕之名，亦不議駁其錯，駁之
未免過煩。今請問在肚腸能結塊者是何物？若在胃結者，必食也；在腸給者，燥糞
也。積塊日久，飲食仍然如故，自然不在腸胃之內，必在腸胃之外。腸胃之外，無
論何處，皆有氣血。氣有氣管，血有血管。氣無形不能結塊，結塊者，必有形之血
也，血受寒，則凝結成塊；血受熱，則煎熬成塊。豎血管凝結，則成豎條；橫血管
凝結，則成橫條；橫豎血管皆凝結，必接連成片，片凝日久，厚而成塊。既是血塊
，當發燒。要知血府血瘀必發燒，血府，血之根本，瘀則殞命；肚府血瘀不發燒，
肚腹，血之梢末，雖瘀不致傷生。無論積聚成塊，在左肋、右肋、臍左、臍右、臍
上、臍下，或按之跳動，皆以此方治之，無不應手取效。病輕者少服，病重者多服
，總是病去藥止，不可多服。倘病人氣弱，不任克消，原方加黨參三、五錢皆可，
不必拘泥。</p>
<p>‧小兒痞塊</p>
<p>　　小兒痞塊，肚大青筋，始終總是血瘀為患。此方與前通竅活血湯、血府逐瘀湯
，三方輪轉服之，月餘，未有不成功者。</p>
<p>‧痛不移處</p>
<p>　　凡肚腹疼痛，總不移動，是血瘀，用此方治之極效。
‧臥則腹墜</p>
<p>　　病人夜臥腹中似有物，左臥向左邊墜，右臥向右邊墜，此是內有血瘀。以此方
為主，有雜症，兼以他藥。</p>
<p>‧腎瀉</p>
<p>　　五更天泄三、兩次，古人名曰腎泄，言是腎虛，用二神丸、四神丸等藥。治之
不效，常有三、五年不癒者。病不知源，是難事也。不知總提上有瘀血，臥則將津
門擋嚴，水不能由津門出，由幽門入小腸，與糞合成一處，糞稀溏，故清晨瀉三、
五次。用此方逐總提上之瘀血，血活津門無擋，水出瀉止，三、五付可全癒。</p>
<p>‧久瀉</p>
<p>　　瀉肚日久，百方不效，是總提瘀血過多，亦用此方。
‧隔下逐瘀湯
靈脂二錢炒　當歸三錢　川芎二錢　桃仁三錢研泥
丹皮二錢　赤芍二錢　烏藥二錢　元胡一錢
甘草三錢　香附錢半　紅花三錢　枳殼錢半
水煎服。
【方歌】
 隔下逐瘀桃牡丹，赤芍烏藥元胡甘，
 歸芎靈脂紅花殼，香附開鬱血亦安。</p>
<h2>卷下</h2>
<h3>半身不遂論敘</h3>
<p>　　醫家立言著書，心存濟世者，乃良善之心也，必須親治其症，屢驗方法，萬無
一失，方可傳與後人。若一症不明，留與後人再補，斷不可徒取虛名，恃才立論，
病未經見，揣度立方，倘病不知源，方不對症，是以活人之心，遺作殺人之事，可
不畏歟？如傷寒、瘟疫、雜症、婦科，古人各有所長，對症用方，多半應手取效，
其中稍有偏見，不過白玉微瑕，惟半身不遂一症，古之著書者，雖有四百餘家，于
半身不遂立論者，僅止數人，數人中並無一人說明病之本源，病不知源，立方安得
無惜？余少時遇此症，始遵《靈樞》、《素問》、仲景之論，治之無功；繼遵河間
、東垣、丹溪之論，投藥罔效。輾轉躊躇，幾至束手。伏思張仲景論傷寒，吳又可
著瘟疫，皆獨出心裁，並未引古經一語。余空有活人之心，而無濟世之手。凡遼是
症，必細心研究，審氣血之榮枯，辨經絡之通滯，四十年來，頗有所得。欲公之天
下，以濟後人。奈不敢以管見之學，駁前人之論，另立方法，自取其罪。友人曰：
真胸有確見，屢驗良方，補前人之缺，救後人之難，不但有功於後世，正是前代之
勛臣，又何罪之有？余聞斯議，不揣鄙陋，將男婦小兒半身不遂、癱腿痿症、抽搐
筋攣，得病之源、外現之症、屢驗良法、難治易治之形狀、及前人所論脈理臟腑經
絡之錯誤，一一繪圖申明其說，詳述前後，以俟高明，再加補助，於醫道不無小補
云爾。</p>
<h3>半身不遂論</h3>
<p>　　半身不遂，病本一體，諸家立論，竟不相同。始而《靈樞經》曰：虛邪偏客於
身半，其入深者，內居榮衛，榮衛衰則真氣去，邪氣獨留，發為偏枯，偏枯者，半
身不遂也。《素問》曰：風中五臟六腑之俞，所中則為偏風。張仲景曰：夫風之為
病，當令人半身不遂。三書立論，本源皆專主於風。至劉河間出世，見古人方論無
功，另出手眼，云：中風者，非肝木之風內動，亦非外中於風，良由將息失宜，內
火暴甚，水枯莫制，心神昏昧，卒倒無所知，其論專主於火。李東垣見河間方論矛
盾，又另立論，曰：中風者，氣虛而風邪中之，病在四旬以後，壯盛稀有，肥白氣
虛者問亦有之。論中有中腑、中臟、中血脈、中經絡之分，立法以本氣虛、外受風
邪是其本也。朱丹溪見東垣方症不符，又分途立論，言：西北氣寒，有中風；東南
氣濕，非真中風。皆因氣血先虛，濕生痰，痰生熱，熱生風也。其論專主於痰，濕
痰是其本也。王安道見丹溪論中有東南氣溫非真中風一句，使云：《靈樞》、《素
間》、仲景所言是真中風，河間、東垣、丹溪所言是類中風。虞天民言：王安道分
真中風、類中風之說，亦未全是，四方病此者，盡因氣溫痰火挾風而作，何嘗見有
真中、類中之分？獨張景岳有高人之見，論半身不遂，大體屬氣虛，易中風之名，
著非風之論，惟引用《內經》厥逆，並辨論寒熱血虛、及十二經之見症與症不符、
其方不效者。可惜先生於此症，閱歷無多。其餘名家所論病因，皆是因風、因火、
因氣、因痰之論；所立之方，俱系散風、清火、順氣、化痰之方。有云氣血虛弱而
中風邪者，於散風清火方中，加以補氣養血之藥；有云陰虛虧損而中風邪者，於滋
陰補腎藥內，佐以順氣化痰之品。或補多而攻少，或補少而攻多，自謂攻補兼施，
於心有得。今人遵用，仍然無效，又不敢議論古人之非，不曰古方不合今病，便云
古今元氣不同。既云方不合病，元氣不同，何得傷寒病麻黃、承氣、陷胸、柴胡，
應手取效？何得中風門愈風、導痰、秦艽、三化，屢用無功？總不思古人立方之本
，效與不效，原有兩途，其方效者，必是親治其症，屢驗之方；其不效者，多半病
由議論，方從揣度。以議論揣度，定論立方，如何能明病之本源？因何半身不遂，
口眼歪斜？因何語言蹇澀，口角流涎？因何大便於燥，小便頻數？毫無定見，古人
混猜，以一虧損五成元氣之病，反用攻發克消之方，安得不錯？溯本窮源，非錯放
醫，乃錯自著書者之手。嗟呼！此何等事，而竟以意度，想當然乎哉！</p>
<h3>半身不遂辨</h3>
<p>　　或曰：半身不遂，古人風火濕痰之論，諸家層次議駁，有証據可憑乎？余口：
即以仲景《傷寒論》中風篇云，中風則令人頭疼身痛，發熱惡寒，乾嘔自汗。《金
匱要略》論傷風，則令人鼻塞噴嚏、咳嗽聲重、鼻流清涕。中風本門又云，夫風之
為病，當令人半身不遂。今請問何等風，何等中法，令人頭疼身痛、發熱惡寒、乾
嘔自汗？何等風，何等中法，則令人鼻塞噴嚏、咳嗽聲重、鼻流清涕？何等風，何
等中法，則令人半身不遂？半身不遂，若果是風，風之中人，必由皮膚入經絡，亦
必有由表入裏之症可查。常治此症，初得時並無發熱惡寒、頭疼身痛、目痛鼻乾、
寒熱往來之表症。既無表症，則知半身不遂，非風邪所中。再者，眾人風火濕痰之
論，立說更為含混。如果是風火濕痰，無論由外中，由內發，必歸經絡，經絡所藏
者，無非氣血，氣血若為風火濕痰阻滯，必有疼痛之症，有疼痛之症，乃是身痛之
痹症，非是半身不遂，半身不遂，無疼痛之症。余平生治之最多，從未見因身痛痹
症而得半身不遂者，由此思之，又非風火濕痰所中。</p>
<h3>半身不遂本源</h3>
<p>　　或曰：君言半身不達，虧損元氣，是其本源，何以虧至五成方病？願聞其說。
余曰：夫元氣藏於氣管之內，分布周身，左右各得其半，人行坐動轉，全仗元氣。
若元氣足，則有力；元氣衰，則無力；元氣絕，則死矣。若十分元氣，虧二成剩八
成，每半身仍有四成，則無病；若虧五成剩五成，每半身只剩二成半，此時雖未病
半身不遂，已有氣虧之症，因不疼不癢，人自不覺。若元氣一虧，經絡自然空虛，
有空虛之隙，難免其氣向一邊歸併。如右半身二成半，歸併放左，則右半身無氣；
左半身二成半，歸併放右，則左半身無氣。無氣則不能功，不能動，名曰半身不遂
，不遂者，不遂人用也。如睡時氣之歸併，人不能知覺，不過是醒則不能翻身；惟
睡醒時氣之歸併，自覺受病之半身，向不病之半身流動，比水流波浪之聲尤甚；坐
時歸併，身心歪倒；行走時歸併，半身無氣，所以跌仆，人便云因跌仆得半身不遂
，殊不知非因跌仆得半身不遂，實因氣虧得半身下達，以致跌仆。</p>
<h3>口眼歪斜辨</h3>
<p>　　或曰：半身不遂，既然無風，如何口眼歪斜？余曰：古人立歪斜之名，總是臨
症不細心審查之故。口眼歪斜，並非歪斜，因受病之半臉無氣，無氣則半臉縮小，
一眼無氣力，不能圓睜，小眼角下抽；口半邊無氣力，不能開，嘴角上抽，上下相
湊，乍看似歪斜，其實並非左右之歪斜，嘗治此症，凡病左半身不遂者，歪斜多半
在右；病右半身不遂者，歪斜多半在左。此理令人不解，又無書籍可考。何者人左
半身經絡，上頭面從右行；右半身經絡，上頭面從左行，有左右交互之義？余亦不
敢為定論，以待高明細心審查再補。又曰，口眼歪斜，盡屬半臉無氣乎？余曰：前
論指兼半身不遂而言，若壯盛人，無半身不遂，忽然口眼歪邪，乃受風邪阻滯經絡
之症。經絡為風邪阻滯，氣必不上達，氣不上達頭面，亦能病口眼歪斜。用通經絡
散風之劑，一藥而癒，又非治半身不遂方之所能力也。</p>
<h3>辨口角流涎非痰飲</h3>
<p>　　或曰：口角所流，非痰飲乎？余曰：嘗治此症，見所流盡是清水，並非稠痰，
明明氣虛不固津液，不明此理。試看小兒氣不足時，流涎者十有八九；高年人氣衰
時，流涎者十有二三。再以他症互相參考，流涎者屬氣虛無疑。</p>
<h3>辨大便乾燥非風火</h3>
<p>　　或曰：患半身不遂，兼大便乾燥，古人名曰風燥，言其病有風有火，有是理乎
？余曰：若是風火，用散風情火、潤燥攻下藥，大便一行。風散火清，自當不燥。
嘗見治此症者，誤用下藥，下後乾燥更甚。總不思平素出大恭時，並非大恭順谷道
自流，乃用氣力催大恭下行。既得半身不遂之後，無氣力使手足動，無氣力使舌言
，如何有氣力到下部催大恭下行？以此推之，非風火也，乃無氣力催大恭下行，大
恭在大腸，日久不行，自乾燥也。</p>
<h3>辨小便頻數遺尿不禁</h3>
<p>　　或曰：小便頻數、遺尿、不禁，有火有應，有分別乎？余曰：有溺尿時玉莖內
疼痛，尿一點一滴而出，兼之色紅，乃是火症；若高年人，或虛弱人，尿長而痛，
其色清白，乃屬氣虛。溺孔開張，尿流而不知，名曰遺尿；不禁者，尿欲出而入禁
止不溺，尿仍自出，此專指小便自病而言。若半身不遂，兼小便頻數、遺尿、不禁
，絕無玉莖疼痛之苦，此是氣虛不固提也。</p>
<h3>辨語言蹇澀非痰人</h3>
<p>　　或曰：說話不真，古名語言蹇澀，前人論舌之本有痰有火，此理想來不錯？余
曰：非痰火也，舌中原有兩管，內通腦氣，即氣管也，以容氣之往來，使舌動轉能
言，今半身無氣，已不能動，舌亦半邊無氣，亦不能全動，故說話不真。試看小兒
氣不足不能行走時，高年人氣衰時，．說話俱不真，是其証也。</p>
<h3>辨口噤咬牙</h3>
<p>　　或曰：既無風火，如何口噤咬牙？余曰：口噤自是口噤，咬牙自是咬牙，古人
以口噤、咬牙混成一症，何臨症粗心之甚! 口噤是虛，咬牙是實。口噤是牙緊不開
，咬牙是叩齒有聲，在傷寡、瘟疫、雜症，婦科，有虛症口噤者，有實症咬牙者。
獨半身不遂，有口噤，絕無咬牙。亦有口噤太甚，下牙裏收，其聲如銼，似咬牙，
實非咬牙，亦虛症也，如無半身不遂，又無他症相兼，忽然口噤不開，乃風邪阻滯
經絡，氣不上達之所致，用疏通經絡之劑即癒。</p>
<h3>記未病以前之形狀</h3>
<p>　　或曰：元氣既虧之後，未得半身不遂以前，有虛症可查乎？余生平治之最多，
知之最悉。每治此症，癒後問及未病以前之形狀，有云偶爾一陣頭暈者，有頭無故
一陣發沉者，有耳內無故一陣風響者，有耳內無故一陣蟬嗚者，有下限皮長跳動者
，有一支眼漸漸小者，有無故一陣眼睛發直者，有限前長見旋風者，有長向鼻中攢
冷氣者，有上嘴唇一陣跳動者，有上下嘴唇相湊發緊者，有睡臥口流涎沫者，有平
素聰明忽然無記性者，有忽然說話少頭無尾、語無倫次者，有無故一陣氣喘者，有
一手長戰者，有兩手長戰者，有手無名指每日有一時屈而不伸者，有手大指無故自
動者，有胳膊無故發麻者，有腿無故發麻者，有肌肉無故跳動者，有手指甲縫一陣
陣出冷氣者，有腳指甲縫一陣陣出冷氣者，有兩腿膝縫出冷氣者，有腳孤拐骨一陣
發軟、向外棱倒者，有腿無故抽筋者，有腳指無故抽筋者，有行走兩腿如拌蒜者，
有心口一陣氣堵者，有心口一陣發空氣不接者，有心口一陣發忙者，有頭項無故一
陣發直者，有睡臥自覺身子沉者，皆是元氣漸虧之症。因不痛不癢，無寒無熱，無
礙飲食起居，人最易於疏忽。</p>
<h3>論小兒半身不遂</h3>
<p>　　或曰：小兒亦有半身不遂者？余曰：小兒自周歲至童年皆有。突然患此症者少
，多半由傷寒、瘟疫、痘疹、吐泄等症，病後元氣漸虧，面色青白，漸漸手足不動
，甚至於手足筋孿，周身如泥塑，皆是氣不達於四肢。古人以風治，是於此症閱歷
無多。</p>
<h3>癱痿論</h3>
<p>　　或曰：元氣歸併左右，病半身不遂，有歸併上下之症乎？余曰：元氣虧五成，
下剩五成，周流一身，必見氣虧諸態，若忽然歸併於上半身。不能行於下，則病兩
腿癱痿。奈古人論痿症之源，因足陽明胃經濕熱，上蒸於肺，肺熱葉焦，皮毛焦悴
，發為痿症，概用清涼攻下之方。余論以清涼攻下之藥，治濕熱腿疼痹症則可，治
痿症則不相宜。豈知痹症疼痛，日久能令腿癱，癱後仍然腿疼；痿症是忽然兩腿不
動，始終無疼痛之苦。倘標本不清，虛實混淆，豈不遺禍後人！</p>
<h3>補陽還五湯</h3>
<p>　　此方治半身不遂，口眼歪斜，語言蹇澀，口角流涎，大便於燥，小便頻數，遺
尿不禁。
黃耆四兩生 歸尾二錢 赤芍一錢半
地龍一錢去土　川芎一錢 桃仁一錢 紅花一錢
水煎服。</p>
<p>　　初得半身不遂，依本方加防風一錢，服四、五劑後去之，如患者先有入耳之言
，畏懼黃耆，只得遷就人情，用一、二兩，以後漸加至四兩，至微效時，日服兩劑
，豈不是八兩？兩劑服五、六日，每日仍服一劑。如已病三、兩個月，前醫遵古方
用寒涼藥過多，加附子四、五錢。如用散風藥過多，加黨參四、五錢，若未服，則
不必加。此法雖良善之方，然病久氣太虧，肩膀脫落二、三指縫、胳膊曲而搬不直
、腳孤拐骨向外倒，啞不能言一字，皆不能癒之症。雖不能癒，常服可保病不加重
。若服此方癒後，藥不可斷，或隔三、五日吃一付，或七、八日吃一付，不吃恐將
來得氣厥之症，方內黃耆，不論何處所產，藥力總是一樣，皆可用。
【方歌】
 補陽還五赤芍芎，歸尾通經佐地龍，
 四兩黃耆為主藥，血中瘀滯用桃紅。</p>
<h3>瘟毒吐瀉轉筋說</h3>
<p>　　上吐下瀉轉筋一症，古人立名曰霍亂，宋朝太醫院立方，名曰局方，立藿香正
氣散以治之。以邪氣傷正氣之病，反用攻伐正氣之藥，豈不愧大醫之名！至我朝道
光元年，歲次辛巳，瘟毒流行，病吐瀉轉筋者數省，京都尤甚，傷人過多，貧不能
葬埋者，國家發帑施棺，月餘之間，費數十萬金。彼時業醫者，有用參朮薑附見效
者，便言陰寒；有用芩連梔柏見效者，則云毒火。余曰：非也，不分男女老少，眾
人同病，乃瘟毒也。或曰：既是瘟毒，薑附熬，芩連涼，皆有見效者，何也？余曰
：芩連效在初病人壯毒勝時，薑附效在毒敗人弱氣衰時。又曰，有芩連薑附服之不
效，而反有害者，何也？</p>
<p>　　余曰：試看針刺而癒者，所流盡是黑紫血，豈不是瘟毒燒煉？瘟毒自口鼻入氣
管，自氣管達於血管，將氣血凝結，壅塞津門，水不得出，故上吐下瀉。初得，用
針刺其胳膊肘裏彎處血管，流紫黑血，毒隨血出而癒。或曰：所刺是何穴？諸明白
指示。余曰：余雖善針，不必論，是穴名曰尺澤。人氣管周身貫通，血管周身亦貫
通，尺澤左右四、五根血管，刺之皆出血，皆可癒；尺澤上下，刺之亦可癒。總之
，用針所刺而癒，皆風火氣有餘之症；不足之症，愈針愈壞，此針灸家隱諱不肯言
也。倉卒之時，用針刺，取其捷便也。一面針刺，一面以解毒活血湯治之，活其血
，解其毒，未有不一藥而癒者。但此症得之最速，傷元氣最快，一半日可傷生。若
吐瀉一、兩時後，或半日後，一見腿抽，便是腿上氣少；一見胳膊抽，便是胳膊上
氣少。如見眼胞塌陷、汗出如水、肢冷如冰，謾言涼藥有害，即余所立解毒活血湯
，亦有過無功。此時無論舌乾口燥，大渴飲冷，一時飲水數碗，放心用薑附回陽湯
，一付可奪命。此法非淺醫所能知也。</p>
<p>‧解毒活血湯
連翹二錢 葛根二錢 柴胡三錢 當歸二錢
生地五錢 赤芍三錢 桃仁八錢研 紅花五錢
枳殼一錢 甘草二錢
水煎服。
【方歌】
解毒活血連翹桃，紅花歸殼葛赤芍，
柴胡甘草同生地，吐瀉良方用水熬。</p>
<p>　　此方謂初得吐瀉而言，若見汗多、肢冷、眼塌，不可用。
‧急救回陽湯</p>
<p>　　若吐瀉一見轉筋、身涼、汗多，非此方不可，莫畏病人大渴飲冷不敢用。
黨參八錢 附子八錢大片 乾薑四錢 白朮四錢
甘草三錢 桃仁二錢研　 紅花二錢
【方歌】
急救回陽參附薑，溫中術草桃紅方，
見真膽雄能奪命，雖有桃紅氣無傷。</p>
<p>　　解毒活血湯與急救回陽湯，兩方界限分清，未有不應手而癒者。慎之！慎之!</p>
<h3>論抽風不是風</h3>
<p>　　夫抽風一症，今人治之不效者，非個人錯治，乃古方誤人。古人不止論病立方
誤人，立病名曰抽風，風之一字，尤其誤人。又因此症多半由傷寒、瘟病，或痘疹
、吐泄等症，病久而抽，則名曰慢驚風。慢驚風三字，相連立名，更為可笑，不但
文義不通，亦未細察病源。若真是風，風之中人，必由皮膚入經絡，亦必有由表入
裏之症可查。既查無外感之表症，古人何得著書立方，總言是風？其所以言風者，
因見其病發作之時，項背反張，兩目天吊，口噤不開，口流涎沫，咽喉痰聲，昏沉
不省人事，以為中風無疑。殊不知項背反張，四肢抽搐，手足握固，乃氣虛不固肢
體也；兩目天吊，口噤不開，乃氣虛不上升也；口流涎沫，乃氣應不固津液也；咽
喉往來痰聲，非痰也，乃氣虛不歸原也，如不明此理，試看高年人，久病壽終時，
或項強身重，或露睛天吊，或牙緊流涎，或痰聲拽鋸，或冷汗淋漓，一派氣脫之症
，明明顯露。以抽風之兩目吊、口味流涎，痰聲拽鋸，互相參看，則抽風之症，氣
虛無疑。元氣既虛，必不能達於血管，血管無氣，必停留而瘀。以一氣虛血瘀之症
，反用散風清火之方，安得不錯？服散風藥，無風服之則散氣；服清火藥，無火服
之則血凝。再服攻伐克消之方，氣散血亡，豈能望主！溯本窮源，非死於醫，乃死
於著書者之手。每見業小兒科閱歷多者，絕不誤人，因抽風古方不效，見抽風則棄
而不治。亦有高手，看小兒現在之症，知將來必抽風，雖無方調治，亦必告知病家
：此病恐將來抽風。何以知其將來必抽風？凡將欲抽風之前，必先見抽風之症，如
見頂門下陷、昏睡露睛、口中搖舌、不能啼哭、哭無眼淚、鼻孔煽動、咽喉痰聲、
頭低不抬、口噤無聲、四肢冰冷、口吐白沫、胸高如碗、喘急氣促、面色青白、汗
出如水、不能裹乳、大便綠色、腹內空嗚、下泄上嗽、肌肉跳動，俱是抽風之兆，
前二十症不必全見，但見一、二症，則知將來必抽。其中有可治者，有不可治者，
並所用之方，皆開列於後。若露睛天吊、不食不哭、痰嗚氣喘，病雖沉重，乃可抬
之症；若天庭灰色、腎子上縮、或脈微細、或脈全無，外形雖輕，乃不治之症。</p>
<p>‧可保立蘇湯</p>
<p>　　此方治小兒因傷寒、瘟疫，或痘疹、吐瀉等症，病人氣虛，口肢抽搐、項背後
反、兩目天吊、口流涎沫、昏沉不省人事，皆效。
黃耆二兩五錢生 黨參三錢 白朮二錢
甘草二錢 當歸二餞 白芍二餞 棗仁三錢炒
山萸一錢 枸杞子二錢 故紙一錢 核桃一個連皮打碎
水煎服。</p>
<p>　　此方分兩，指四歲小兒而言。若兩歲，分兩可以減半。若一歲，分兩可用三分
之一，若兩、三個月，分兩可用四分之一。又不必拘於付數，余治此症，一日之間
，常有用兩、三付者，服至不抽，必告知病家，不可因不抽，遂不服藥，必多服數
付，氣足方妥。
【方歌】
可保立蘇故紙棗，朮歸芍藥參耆草，
山萸枸杞水煎服，一個核桃帶殼搗。</p>
<h3>論痘非胎毒</h3>
<p>　　夫小兒痘疹，自漢至今，著書立方者，不可勝數，大抵不過分順險逆，辨別輕
重死生，並無一人說明痘之本源。所以後人有遵保元湯，用黃耆、人參者；有遵歸
宗湯，用大黃、石膏者：有遵解毒湯，用犀角、黃連者。痘本一體，用藥竟不相同
，遇順險之痘，查小兒壯弱，分別補泄清涼，用之皆可望生，惟一見逆症，遂無方
調治，即云天數當然，此不知痘之本源故也。或曰：古人若不知痘之本源，如何見
逆痘便知幾天死？余曰：此非古人知痘之本源也，因看痘多，知某日見苗，某日何
形，某日何色，某日何症，治之不效，至某日必死。古人知逆痘幾天死者，蓋由此
也。如知痘之本源，豈無方調治？或曰：如君所言，痘之逆症有救乎？余曰：痘之
險症隨手而癒，不足論。至於逆症，皆有本源，辨明本源，豈不可救？如余所治，
悶症不出，周身攢簇，細密如蠶殼，平板如蛇皮，不熱即出，見點紫黑，周身細密
無縫，紫白灰色相間，蒙頭鎖口，鎖項托腮，皮肉不腫，通身水泡，不起脹行漿，
不化膿結痂，見點後抽風不止，九竅流血鮮紅，咳嗽聲啞，飲水即嗆。六、七天作
癢破無血，七、八口泄肚，胃口不開，至危之時，頭不能抬，足歪不正，兩目天吊
，項背後反等逆症，初見之時，辨明虛實，皆可望生。明此理者，知余補前人之未
及，救今人之疑難，不明此理者，妄加評論，以余言為狂妄，而不知非狂也，知痘
之本源也。不似諸家議論，出痘總是胎毒。諸書又曰：自漢以前無出痘者，既云胎
毒，漢以前人獨非父母所生？此論最為可笑。若依古人之論，有謂胎毒藏於臟腑，
而何以未出痘以前，臟腑安然無病？有謂胎毒藏於肌肉，而何以未出痘以前，皮膚
更不生瘡？又有謂胎毒藏於骨髓，或因驚恐跌仆。或因傷食感冒，觸動其毒，發為
天花。信如斯言，因驚恐跌仆，傷食感冒，觸動而發，則是自不小心。伏思出花正
盛時，非止一人出花，少則一方，多則數省，莫非數省之人，同時皆不小心？此論
更為無理，再見世上種痘之醫，所種之痘，無論多少，無一不順。若是胎毒，毒必
有輕重，毒重者痘必險，何以能無一不順？由此思之，如何胎毒二字，牢不可破，
殊不知非胎毒，乃胞胎內血中之濁氣也。兒在母腹，始因一點真精凝結成胎，以後
生長臟腑肢體，全賴母血而成，胞胎內血中濁氣，降生後仍藏榮血之中，遇天行觸
濁氣之瘟疫，由口鼻而入氣管，由氣管而達於血管，將血中濁氣逐之自皮膚而出，
色紅似花，故名天花；形圓如豆，故名曰痘。總之，受瘟疫輕，瘟毒隨花而出，出
花必順；受瘟疫重，瘟毒在內逗遛，不能隨花而出，出花必險；受瘟疫至重，瘟毒
在內燒煉其血，血受燒煉，其血必凝，血凝色必紫，血死色必黑，痘之紫黑，是其
証也，死血阻塞道路，瘟疫之毒，外不得由皮膚而出，必內攻臟腑，臟腑受毒火煎
熬，隨變生各臟逆症。正對痘科書中所言某經過痘，不知非某經逆痘也，乃某經所
受之瘟毒也。痘之順逆，在受瘟疫之輕重。治痘之緊要，全在除瘟毒之方法，瘟毒
不除，花雖少而必死；瘟毒若除，花雖多不致傷生。痘科書中，但論治胎毒，而不
知治瘟毒，縱知治瘟毒，而不知瘟毒巢穴在血，若辨明瘟毒輕重，血之通滯，氣之
虛實，立教逆痘於反掌之間，此所謂知其要者，一言而終耳。</p>
<h3>論痘漿不是血化</h3>
<p>　　痘出時是紅色，五、六乾後忽變清漿，次變白漿，次變混漿，次變黃膿，終而
結儷。古人謂痘漿總是血化。若是血化，紅血必能變白色，今請以血一盞試之，或
以礬清，或以火熬，能使之變清水、白漿。混漿、黃膿乎？痘本血管內血中濁氣，
遇天行逐濁氣之瘟疫，自口鼻面入於氣管，達於血管，將血管中濁氣與血，併氣管
中津液，逐之自毛孔而出，所以形圓色紅，五、六天後，痘中之血，仍退還血管，
痘內止存濁氣津液，津液清，名曰清漿。清漿為瘟毒燒煉，稠而色白，故名白漿。
白漿再煉，更稠而混，故名混漿，混漿再煉，稠如瘡膿，故名黃膿。將黃膿煉乾而
結痂。痘不行漿，皆因血不退還血管。血不退還血管，皆因血管內有瘟毒燒煉。血
凝阻塞血之道路，若通血管之瘀滯，何患漿之不行？</p>
<h3>論出痘飲水即嗆</h3>
<p>　　出痘有四五天、七八天飲水即嗆者，古人論毒火壅於咽喉，列於不治之症。總
是不明咽喉、左右氣門之體質，舌後為喉，即肺管。喉後為咽，即胃管。咽前喉後
，兩邊凹處有氣管兩根，名左氣門、右氣門。舌根有一白片、其厚如錢，名曰會厭
，正蓋肺管左右氣門上口。人咽飲食，必以舌尖抵上顎，使會厭將肺管與左右氣門
蓋嚴，飲食方可過肺管、左右氣門，入後之胃管。試看人吃飯，飲食將入嗓至喉，
未入咽時，或忽然冷笑，氣暴上衝，會厭一開，或一粒米、一滴水，入左右氣門，
立刻由鼻嗆出，是其証也。今瘟毒燒煉會厭，血凝不能蓋嚴氣門，故飲水滲人即嗆
。食不嗆者，因微微小縫，能滲水而食不能人，故不嗆。化開會厭中瘀血，其嗆立
止。</p>
<h3>論七、八天痘瘡作癢</h3>
<p>　　痘瘡作癢者，當先分明皮膚。皮是皮，膚是膚，皮膚不分，如何能明痘瘡作癢
之本源？如人湯燙人燒，隨起一泡，其薄如紙，即是膚；膚裏肉外厚者是皮。痘至
六、七天，瘟毒、濁氣、津液盡歸於皮之外，膚之內。痘窠之中，正氣虛，不能達
痘中行漿、化膿、結痂，以致瘟毒外不得出膚，內不得入皮，毒在皮外膚裏，故作
癢。醫家遵《素問》諸瘡痛癢皆屬於火之句，隨用清涼之品，克伐生氣，不但作癢
不止，胃氣轉傷；有專用補氣者，氣癒補而血癒瘀，血瘀，氣更不能外達於皮膚。
此時用補氣破血之劑，通開血道，氣直達於皮膚，未有不一藥而癢即止者。</p>
<p>‧通經逐瘀湯</p>
<p>　　此方無論痘形攢簇、蒙頭覆釜，周身細碎成片，或夾疹夾斑，浮衣水泡，其色
或紫、或暗、或黑；其症或乾嘔、煩躁、晝夜不眠，逆形逆症，皆是瘀血凝滯於血
管，並宜用此方治之。其方中藥性，不大寒大熱，不大攻大下，真是良方也。</p>
<p>桃仁八錢研 紅花四錢 赤芍三錢 山甲四錢炒
皂刺六錢 連翹三錢去心 地龍三錢去心
柴胡一錢 麝香三錢絹包
水煎服。</p>
<p>　　大廈乾燥，加大黃二錢，便利去之。五、六日後，見清漿、白漿，將麝香去之
，加黃耆五錢，將山甲、皂刺減半。至七、八日後，桃仁、紅花亦減半，黃耆可用
八錢。此方指四、五歲而言。苦一、二歲，分兩可減半；若八、九歲，分兩可加一
半。
【方歌】
通經甲皂麝香龍，逐瘀赤芍桃與紅，
連翹柴胡毒可解，便乾微用大黃攻。</p>
<p>‧會厭逐瘀湯</p>
<p>　　此方治痘五、六天後，飲水即嗆。
桃仁五錢炒 紅花五錢 甘草二錢 桔梗三錢
生地四錢 當歸二錢 玄參一錢　柴胡一錢
枳殼二錢 赤芍二錢。
水煎服</p>
<p>　　此方指五、六天後嗆水而言。若痘後抽風兼飲水即嗆者，乃氣虛不能使會厭蓋
嚴氣管，照抽風方治之。
【方歌】
會厭逐瘀是病源，桃紅甘桔地歸玄，
柴胡枳殼赤芍藥，水嗆血凝立可痊。</p>
<p>‧止瀉調中湯</p>
<p>　　治痘六、七日後，泄瀉不止，或十餘日後泄瀉，皆治之。
黃耆八錢 黨參三錢 甘草二錢 白朮二錢
當歸二餓 白芍二錢 川芎一錢 紅花三錢
附子一錢制 良薑五分 官桂五分去粗皮
水煎服。</p>
<p>　　此方指痘六、七天後泄瀉而言。痘後抽風兼泄瀉者，亦效。不是初出痘泄瀉之
方。
【方歌】
止瀉調中參草耆，朮歸芍藥芎紅隨，
附子良薑桂少用，氣虛泄瀉總相宜。</p>
<p>‧保元化滯湯</p>
<p>　　治痘五、六日後，痢疾或白、或紅、或紅白相雜，皆治。
黃耆一兩煎湯沖 滑石一兩末
晚服加白沙糖五錢更妙。</p>
<p>　　此方乃余之心法，不獨治小兒痘症、痢疾，大人初痢、久痢，皆有奇效。然在
人初痢，滑石用一兩五錢，白糖一兩，不必用黃耆；久痢加黃耆，滑石仍用一兩五
錢。
【方歌】
保元化滯補攻方，一兩黃耆煎作湯，
為末滑石須一兩，沖服痢止氣無傷。</p>
<p>‧助陽止癢湯</p>
<p>　　治痘六、七日後，作癢不止，抓破無血。兼治失音聲啞。
黃耆一兩 桃仁二錢研 紅花二錢 皂刺一錢
赤芍一錢 山甲一錢炒</p>
<p>　　此方治痘後六、七日，作癢甚者，抓破無血。不是治初出痘一、二日作癢之方
。
【方歌】
助陽止癢耆桃紅，皂刺赤芍山甲同，
聲啞失音同一治，表虛因裏氣不行。</p>
<p>‧足衛和榮湯</p>
<p>　　治痘後抽風，兩眼天吊，項背反張，口噤不開，口流涎沫，昏沉不醒人事，周
身潰爛，膿水直流，皆治之。
黃耆一兩 甘草二錢 白朮二錢 黨參三錢
白芍二錢 當歸一錢 棗仁二錢 桃仁一錢五分研
紅花一錢五分
水煎服</p>
<p>　　此主專治痘後抽風，及周身潰爛，若因傷寒、瘟疫、雜症，疾久氣虛抽風，抽
風門另有專方。
【方歌】
足衛和榮耆草朮，參芍歸棗桃紅扶，
抽風風字前人誤，服此還陽命可蘇。</p>
<h3>少腹逐瘀湯說</h3>
<p>　　此方治少腹積塊疼痛，或有積塊不疼痛，或疼痛而無積塊，或少腹脹滿，或經
血見時，先腰酸少腹脹，或經血一月見三、五次，接連不斷，斷而又來，其色或紫
、或黑、或塊、或崩漏，兼少腹疼痛，或粉紅兼白帶，皆能治之，效不可盡述。</p>
<p>　　更出奇者，此方種子如神，每經初見之日吃起，一連吃五付，不過四月必成胎
。必須男女年歲與月合成陽數方生子，如男女兩人，一單歲，一雙歲，必擇雙月方
生子；如兩單歲或兩雙歲，必擇單月方生子。擇月不可以初一為定準，以交節為定
準。要知偶有經過二十日結胎者，切記準日期，倘月份不對生女，莫謂余方不驗。
余用此方，效不可以指屈。</p>
<p>　　道光癸未年，直隸布政司素納公，年六十，因無子甚憂，商之於余。余曰：此
易事耳，至六月，令其如君服此方，每月五付，至九月懷孕，至次年甲申六月二十
二日生少君，今七歲矣。此方更言險而不險之妙。孕婦體壯氣足，飲食不減，並無
傷損，三個月前後，無故小產，常有連傷數胎者，醫書頗多，仍然議論滋陰養血、
健脾養胃、安胎保胎，效方甚少。不知子宮內，先有瘀血占其地，胎至三月再長，
其內無容身之地，胎病靠擠，血不能入胎胞，從傍流而下，故先見血。血既不入胎
胞，胎無血養，故小產。</p>
<p>　　如曾經三月前後小產，或連傷三、五胎，今又懷胎，至兩個月前後，將此方服
三、五付，或七，八付，將子宮內瘀血化淨，小兒身長有容身之地，斷下致再小產
。若已經小產，將此方服三、五付，以後成胎，可保無事，此方去疾、種子、安胎
，盡善盡美，真良善方也。</p>
<p>‧少腹逐瘀湯
小茴香七粒炒 乾薑二分炒 元胡一錢
沒藥一錢炒 當歸三錢 川芎一錢　官桂一餞
赤芍二錢 蒲黃三錢生 靈脂二錢炒
水煎服。
【方歌】
少腹茴香與炒薑，元胡靈脂沒芎當，
蒲黃官桂赤芍藥，種子安胎第一方。</p>
<h3>懷胎說（兼記難產胎衣不下方）</h3>
<p>　　古人論胎在子宮，分經輪養，一月肝經養，二月膽經養，三月心經養，四月三
焦養，五月脾經養，六月胃經養，六月肺經養，八月大腸養，九月腎經養。若依其
論，胎至兩月，自當肝經交代，膽經接班。此論實在無情無理，兒在母腹，全賴母
血而成，一言可了，何必圖取虛名，故作欺人之論？又如子啼門云，兒在母腹，口
含臍帶疙瘩，吮血養生。請問初結胎無口時，又以何物吮血養生？既不明白，何不
歸而謀諸婦，訪問收主婆？訪問的確再下筆，斷不致遺笑後人。豈知結胎一月之內
，並無胎衣。</p>
<p>　　一月後兩月內，始生胎衣。胎衣即成，兒體已定，胎衣分丙段，一段厚，是雙
層，其內盛血；一段薄，是單層，其內存胎，厚薄之間，夾縫中長一管，名曰臍帶
，下連兒臍。母血入胎衣內盛血處，轉入臍帶，長贓腑肢體，周身齊長。並非先長
某臟，後長某腑。一月小產者，並無胎衣。兩月小產者，有胎衣，形如秤錘，上小
下大，不過三指長短。三月小產者，耳目口鼻俱備，惟手足有拳不分指。至月足臨
生時，兒蹬破胎衣，頭轉向下而上，胎衣隨胎而下，胎衣上之血，隨胎衣而下，此
其長也，最關緊要是難產，古人原有開骨散，服之有效者，有不效者，其方總論活
血開骨，不重用力勞乏。余每用開骨散，重加黃耆，不過一時胎即下。至胎衣不下
，古人原有沒竭散，始而用之，有效有不效，繼而加倍用之，胎衣立下。藥味要緊
。分兩更要緊。</p>
<p>‧古開骨散</p>
<p>　　治難產。
當歸一兩 川芎五錢 龜板八錢 血餘一團燒灰
加生黃耆四兩。
水煎服。</p>
<p>‧古沒竭散</p>
<p>　　治胎衣不下。
沒藥三錢 血竭二餞
為末，滾水調服。</p>
<p>‧黃耆桃紅湯</p>
<p>　　治產後抽風，兩目天吊，口角流涎，項背反張，昏沉不省人事。
黃耆八兩生 桃仁三錢研 紅花二錢
水煎服。</p>
<p>　　婦科以《濟陰綱目》為最，《醫宗金鑒》擇其方論，纂為歌訣，令人易讀易記
。惟抽風一症，方不效，余已補之。</p>
<p>‧古下瘀血湯</p>
<p>　　治血鼓。何以知是血鼓？腹皮上有青筋，是血鼓腹大。
桃仁八錢 大黃五分 蟅蟲三個 甘遂五分為末沖服或八分
水煎服。與前隔下逐瘀湯，轉流服之安。</p>
<p>‧抽葫蘆酒</p>
<p>　　治腹大周身腫。</p>
<p>　　自抽乾葫蘆，焙為末，黃酒調服三錢。若葫蘆大，以黃酒入內煮一時，服酒頗</p>
<p>效。取其自抽之義。</p>
<p>‧蜜蔥豬膽湯</p>
<p>　　治通身腫，肚腹不大。
豬膽一個取汁 白蜜四兩四錢調和一處
蔥頭四個帶白一寸 黃酒半斤
用酒煎蔥兩、三沸，將酒沖入蜜膽內，服之立效。</p>
<p>‧刺蝟皮散</p>
<p>　　治遺精，夢而後遺，不夢而遺，虛實皆效。
刺蝟皮一個，瓦上焙乾為末，黃酒調，早服實在效，真難吃。</p>
<p>‧小茴香酒</p>
<p>　　治白濁，俗名騙白，又名下淋，精道受風寒，藥全不效。
小茴香一兩炒黃，為粗末，黃酒半斤燒滾，沖，停一刻，去渣服酒。</p>
<h3>痹症有瘀血說</h3>
<p>　　凡肩痛、臂痛、腰疼、腿疼，或周身疼痛，總名曰痹症。明知受風寒，用溫熱
發散藥不癒；明知有濕熱，用利濕降火藥無功。久而肌肉消瘦，議論陰虧，隨用滋
陰藥，又不放。至此便云病在皮脈，易於為功；病在筋骨，實難見效。因不思風寒
濕熱入皮膚，何處作痛。入於氣管，痛必流走；入於血管，痛不移處。如論虛弱，
是因病而致虛，非因虛而致病。總滋陰，外受之邪，歸於何處？總逐風寒、去濕熱
，已凝之血。更不能活。如水遇風寒，凝結成冰，冰成風寒已散。明此義，治痹症
何難？古方頗多，如古方治之不效，用：</p>
<p>‧身痛逐瘀湯
秦艽一錢 川芎二錢 桃仁三錢 紅花三錢
甘草二錢 羌活一錢 沒藥二錢 當歸二錢
靈脂二錢炒 香附一錢 牛膝三錢 地龍二錢去土
若微熱，加蒼朮、黃柏；若虛弱，量加黃耆一、二兩。
【方歌】
身痛逐瘀膝地龍，羌秦香附草歸芎，
黃耆蒼柏量加減，要緊五靈桃沒紅。</p>
<p>‧磠砂丸</p>
<p>　　治痛瘍鼠瘡，滿項滿胸，破爛流膿，無不應手取效。
磠砂二錢研細 皂角子一百個 乾醋一斤前二味入醋內浸三日</p>
<p>　　入砂鍋內熬之，將乾，將鍋底磠砂，拌於皂子上，候乾，以微火焙乾，或以爐
台上炕之，每晚嚼五粒，或八粒，一日早晚或吃二次，以滾白水送。然乾則皂子過
硬，為末服亦可。方內磠砂，有紅、白二種，余所用，是紅色者。未知白色磠砂，
功效若何？磠砂紅色者，出庫車北山洞中，夏令從洞中出火，人不能近前，冬今回
民赤身近洞取之，本草言西域鹽滷熬成者，誤也。</p>
<p>‧癲狂夢醒湯</p>
<p>　　癲狂一症，哭笑不休，詈罵歌唱，不避親疏，許多惡態，乃氣血凝滯腦氣，與
臟腑氣不接，如同作夢一樣。
桃仁八錢 柴胡三錢 香附二錢 木通三錢
赤芍三錢 半夏二錢 腹皮三錢 青皮二錢
陳皮三錢 桑皮三錢 蘇子四錢研 甘草五錢
水煎服。
【方歌】
癲狂夢醒桃仁功，香附青柴半木通，
陳腹赤桑蘇子炒，倍加甘草緩其中。</p>
<p>‧龍馬自來丹
馬前子八兩 地龍八條去土焙乾為末
香油一斤</p>
<p>　　將香油入鍋內熬滾，入馬前子炸之，得馬前子微有響爆之聲，拿一個用刀切兩
半，看其內以紫紅色為度，研為細末，再入前地龍末，和均，面糊為丸，綠豆大。
每付吃三、四分，臨臥服，鹽水送。若五、六歲小兒，服二分，紅糖水送。如不為
丸，面子亦可服，如吃齋人，去地龍亦可。</p>
<p>　　治癇症，俗名羊羔風。每晚先服黃耆赤風湯一付，臨臥服丸藥一付，吃一月後
，不必服湯藥，淨吃丸藥，久而自癒。癒後將丸藥再吃
一、二年，可保除根。病源記前“腦髓說”中。</p>
<p>‧黃耆赤風湯
黃耆二兩生 赤芍一錢 防風一錢
水煎服。小兒減半。</p>
<p>　　治癱腿，多用一分，服後以腿自動為準，不可再多。如治諸瘡諸病，或因病虛
弱，服之皆效。無病服之，不生疾病，總書數篇，不能言盡其妙。此方治諸病皆效
者，能使周身之氣通而不滯，血後面不瘀，氣通血活，何患疾病不除？</p>
<p>‧黃耆防風湯</p>
<p>　　治脫肛，不論十年、八年，皆有奇效。
黃耆四兩生 防風一錢
水煎服。小兒減半。</p>
<p>‧黃耆甘草湯</p>
<p>　　治老年人溺尿，玉莖痛如刀割，不論年月深入，立效。
黃耆四兩生 甘草八錢
水煎服。病重一日兩付。</p>
<p>‧木耳散</p>
<p>　　治潰爛諸瘡，效不可言，不可輕視此方。
木耳一兩焙乾研末 白沙糖一兩和勻
以溫水浸如糊，敷之縛之。</p>
<p>　　此方與刺謂皮治遺精，抽葫蘆治鼓症，義同，明此義，方可以學醫。
‧玉龍膏（即勝玉膏）</p>
<p>　　治跌打損傷，貼之頗效。
香油一斤 白蘞 升麻 當歸 川芎
連翹 銀花 甲片 川烏 象皮各四錢 乳香
一錢半末 沒藥一錢半末 輕粉三錢末 冰片三分末
麝香三分末 白占二兩</p>
<p>　　將前九味藥，人油內炸枯色，去渣，入官粉三盒，離火，再入乳、沒、粉、片
、麝，攪均，再將白占投入於內，攤貼之，此膏去官粉，即糕子藥，貼破爛諸瘡，
其效如神。</p>
<p>　　木耳散、王龍膏，潰爛諸瘡，可靠之良方也，不可輕視。</p>
<h3>辨方效經錯之源、論血化為汗之誤</h3>
<p>　　胞侄作礪而來京，見臟腑圖記問曰：伯父所繪之圖，經絡是氣管，皆本於衛總
管，由衛總管散布周身，是周身經絡通連，並非各臟腑長兩經。侄思古人若不明經
絡，何以張仲景著傷寒，按足六經之現症，立一百一十三方，分三百九十七法，其
方效著頗多？侄不解其理。余曰：爾看其首篇，細心研究，便知其方效論錯之理。
如首篇論足太陽膀胱經，為寒邪所傷，則令人頭疼、身痛、項強、發熱、惡寒、乾
嘔、無汗，用麻黃湯治之；若諸症如前而有汗，是傷風，用桂枝湯治之。所論是足
太陽經。足太陽專通兩足，而下通兩手，其論傳邪，傳足六經，不傳手六經。爾看
初得傷寒，頭疼、身痛、項強、發熱、惡寒，未有兩胳膊。兩手不疼痛、發熱、惡
寒者，用麻黃湯，亦未有周身皆癒，而獨不癒兩胳膊、兩手者，豈不是方雖效而論
經絡實錯之明証？若仲景以前有人親見臟腑，著明經絡貫通，仲景著傷寒，必言外
感寒邪入周身之經絡，用麻黃湯發散周身之寒邪，一言可了。論有汗是傷風，以桂
伎湯治之，以桂枝、白芍、甘草三味，然從未見治癒一人，桂枝湯所以不見效者，
因頭疼。身痛。發熱、有汗，非傷風証也，乃吳又可所論之瘟疫也。</p>
<p>　　又問：寒邪在表，自當見頭疼、身痛、發熱、惡寒、無汗之表証，初得傷寒，
尚未傳裏，如何即有作嘔之裏証？仲景著論，王叔和等數十人注釋，並來說明表証
作嘔之所以然。侄實不能明白，求伯父明白指示。余始看爾不過有讀書之志，而無
業醫之才。今據爾此間，尚有思路，將來不致粗心，輕忽人命。爾司寒邪在表，如
何有作嘔之裏証？余詳細告汝。寒邪始入毛孔，由毛孔入皮膚。由皮膚入孫絡，由
孫紹人陽絡，由陽絡入經，由經入衛總管，由衛總管橫行人心，由心上行人左、右
氣管，由左、右氣管上攻左。右氣門，故作嘔。此表証所以作嘔之本源也。用麻黃
湯服之入胃，其藥汁由津門流出，入津管，過肝，入脾中之瓏管，從出水道滲出，
沁入膀胱為尿；其藥之氣，即藥之性，由津管達衛總管，由衛總管達經，由經過絡
，由絡達孫絡，由孫絡達皮膚，由皮膚達毛孔，將寒邪逐之，自毛孔而出，故發汗
，邪隨汗出，汗出邪散，故嘔即止。此周身經絡，內處貫通，用麻黃湯發散表邪，
隨汗而出之次第也。</p>
<p>　　又問：仲景論目痛、鼻乾、不得眠，是足陽明胃經之表証，以葛根湯治之。其
方內有葛根，仍有麻黃，此理不甚明白。余曰：寒邪由表入經絡，正氣將寒邪化而
為熱，故名曰邪熱，邪熱上攻頭頂，腦力邪熱所擾，故不得眠；目系通於腦，邪熱
由腦人目，故目痛；鼻通於腦，邪熱由腦入鼻，故鼻乾。明是邪熱上攻之火証，並
非足陽明胃經之表寒，用葛根而癒者，莫謂葛根是溫散之品，葛根乃清散之藥也。
其方內用麻黃者，發散在表未化之寒邪也。此又是方效經絡錯之明証。</p>
<p>　　又問：仲景論胸脅痛、耳聾、口苦、寒熱往來而嘔，其証在半表半裏，是足少
陽膽經之証，用小柴胡湯治之，其方神效。侄思此症，若不在膽經，其方又神效，
若在膽經，膽又居膈膜之下，其痛又在胸脅，此一段侄又不明白。余曰：爾看臟腑
圖隔膜以上之血府便明白。邪熱入於血府，攻擊其血，故胸脅作痛；邪向血內攻，
血向外伉拒，一攻一拒，故寒熱往來；熱灼左、右氣門，氣上下不通，故嘔而口苦
；邪熱上攻，故耳聾目眩。柴胡能解血府之熱，熱解汗自出，邪隨汗解，故效甚速
。此亦是方效論經錯之明証。至傳變多端，總不外表裏虛實。爾若明傷寒，須看吳
又可之瘟疫。若見書少，必有偏寒偏熱之弊。昨晚爾當客問：古人言汗在皮膚是血
。發於皮膚外是汗，言汗即血化，、此理爾不解，彼時不告汝者，非謂爾當客多言
，因客粗知醫，並非名手，故不當客告汝。汗即血化，此丹溪朱震亨之論。張景岳
雖議駁其非，究竟不能指實出汗之本源。古人立論之錯，錯在不知人氣血是兩管，
氣管通皮膚有孔竅，故發汗，血管通皮膚無孔竅，故不發汗。何以知血管通皮膚無
孔竅？爾看生瘡破流黃水者，其毒由氣管而來，每日常流黃水，其皮膚不紅；瘡毒
若在血管，初起皮膚必紅，必待皮膚潰爛，所流必是膿血。爾再者瘟毒、發斑、出
疹，小兒出痘，色雖紅而不流血，豈不是血管通皮膚無孔竅之明証乎？侄作礪來京
，因閒談問余，彼時是書業已刻成，故書於卷末以記之。</p>
