<header><h1>陰證略例</h1></header>
<dl class="元資料" data-type="book">
<div><dt>作者</dt><dd>王好古</dd></div>
<div><dt>朝代</dt><dd>元</dd></div>
<div><dt>年份</dt><dd><data value="1279/1368">公元1279年至公元1368年</data></dd></div>
</dl>
<h2>序</h2>
<p>人生天地間，而陰陽命之氣，其受病亦不外乎此。醫家言視證察脈，則必本諸陰與陽，岐以來，諸書可考也。至漢長沙張仲景著《傷寒》一書，其言備矣。其法皆出伊芳尹《湯液》，如《易》之於數，《春秋》之於法，蓋萬世不可易者。其論氣脈形聲，以測人之臟腑經絡之微，亦不過曰：如是為陽，如是為陰，如是為寒，如是為熱，如是為有餘，如是為不足，以決人之死生之變於朕兆之前，使夫學人可以按而知之，苟能詳辨而勿失，則思過半矣！然混茫乎疑似之中，　葛乎毫厘之間，自非精思入神冥合造化，則不能也。是以古者之言醫也，皆聰明有道之士，如孫思邈、陶隱居、葛稚川之徒，何如人也。迨夫叔世末流，多出於粗工庸人間，裒衣峨冠，挾方寸之囊，自命為醫工，然試讀其書，音讀（音豆）且不知，況能索理於精微之地哉！如趙括之用兵，徒能誦其父之書，旋取覆敗之禍。如又不能誦其書，則其為敗，宜如何哉！夫陰陽二證也，寒與溫之味，從而用之，亦二也。其主治嗜好，又有大不同者，甚者各主一偏，互相詆訾。殊不知桂枝、承氣之一倒置，則斃之患立見。異時承平貴為人之為病皆然，熱黜陰候不論，豈理也哉！且四方風土既殊，而人之稟受亦異，而一律按之，其可乎？蓋亦求其至當而已矣。嗚呼！中古以降，老壽少而天閼多，豈真不幸與！蓋醫者心術之偏，其蔽必至於殺人，儒者心術之偏，其蔽必至於誤天下，如宋之王安石是也。偏之為害之烈如此。夫竊嘗謂受天地中和之性，得聖人公恕之學，不以利欲一毫入於其心，而後可以為儒為醫矣，天地萬物一理也，聖人之道一中而已《中庸》曰致中和，天地位焉，萬物育焉，而況醫乎！海藏先生王君進之，家世趙人，早以通經舉進士，晚獨喜言醫，始從東垣李明之，盡傳其所學，後乃精研極思軒岐以來諸家書，馳騁上下數千載間，如指諸掌。予在大梁時，聞其名諸公間籍甚，獨以未識為恨，今年秋來晉州，始得候先生於館舍，觀其氣和而凝，志一而定，有道者也。與之游，甚間暇，日出一編書授予，且謂予曰：傷寒人之大疾也，其候最急，而陰證毒為尤慘，陽則易辨而易治，陰則難辨而難治。若夫陽證，熱深而厥，不為難辨。陰候寒盛，外熱反多，非若四逆，脈沉細欲絕易辨也。至於脈鼓擊有力，加陽脈數倍，內伏太陰，發煩躁欲坐井中，此世之所未喻也。予恐其誤，積思十余年，蓋考自岐伯，迄今潔古老人攝其精要，附以己說，厘為三十余條，有證有藥，有論有辨，名之曰《陰證略例》，將鋟以傳，以詔後學，且與天下衛生之君子共之，子盍為我題其端？予退而伏讀之，善之曰：異乎哉！未有是書也。其於救物利生之念深矣！至其論陽證見陰脈者死，謂有外傷內陰，若與陽藥猶可生。若及陰陽易分寒熱，陰陽易隨仲景三經用藥，皆出古人言意之表，學人又不深思而熟味之。噫！世之著書立言者多矣，其甚高難行，泛言無實者亦有之。然則是書之出，其知者必以為精思妙用所，傳證以古今，不可誣也；其不知者則茫然無考，詆以為悠悠談甚高難行也。予以為獲一人賢者之知，不猶愈千百愚人之不知者，則是書可以傳信行世無疑矣！故內翰王君從之，嘗題曰「世所未聞」，真知言哉！比先生過上黨，主吾故人文之，療數陰疾尤奇中，皆書中所可概見者。文之始亦駭，不敢用，反己試，歡曰：誤人多矣！昔太倉公所上治驗，太史氏列之傳末，近代錢仲陽嘗所治病，閻孝忠記於論證後。今從先生得所書主治次第，謹編如下方，亦足以證愚者之不知者。文之姓宋氏，諱廷圭，長平人，世亦號善醫云。</p>
<p><u>歲癸卯冬十一月中浣日王官麻革信之謹題</u></p>
<h2>祭神應王文</h2>
<p>竊以濟世須醫，去疾先藥，論江方海，眩目駭心。人皆於此泥小技作當塗，視大經為何物，，已有云淵之失。故有者甚而無者生，輕者危而重者斃，夭橫盈郊，冤枉舉世。每憐孑孑之幽魂，誰聽嗷嗷之夜泣，痛矣如斯，心乎不已，耽嗜數年，裒成此集。總前聖之嘉言，為後學之法則，雖治傷寒，獨專陰例，列古於前，評今於後，區別余三十條，收拾過二萬字，不必泛天風、徹海波，盡在乎耳目矣！優而柔之，使自得之，厭而飫之，使自趨之。深有望於好生之君子，於戲欲廣當世，敬以先神，伏冀鑒輝，庶幾綿歷。王好古惶恐頓首謹言。</p>
<p>聖賢所言陰證，如岐伯、阿衡、仲景　、叔和，故已備矣；《活人》、許學士、韓祗和、成無己，又甚詳矣。後人尚有采擇未精，覽讀有闕，子所以從而次第之。然今之病者，得之有內外之異，或不與經符，合之有色脈之殊，或不與方契，形候相若，似是而非，眾所共疑，莫之能辨，取其如此者，又從而比類之。非帘視壁聽，仿佛未真也，陰陽寒熱，如辨黑白矣。使醫者不動聲色，蠲去疾　，免橫夭以無辜，皆康寧而得壽。予所愿也。每慮淺識，或有所遺，敬俟來賢，幸為改正。</p>
<p><u>壬辰歲夏四月初十日海藏老人古趙王好古序</u></p>
<h2>岐伯陰陽脈例</h2>
<p>《內經》云：人迎一盛病在少陽，二盛病在太陽，三盛病在陽明，四盛以上為格陽。啟玄子，在手少陽；二盛而躁，在手太陽；三盛而躁，在手陽明。手少陽，三焦脈；手太陽，小腸脈；手陽明，大腸脈。一盛者，謂人迎之脈，大於寸口一倍也。余盛同法，四倍以上，陽盛之極，故格拒而食不得入也。《正理論》曰：格則吐逆。</p>
<p>寸口一盛病在厥陰，二盛病在少陰，三盛病在太陰，四盛以上為關陰。啟玄子云：陰脈法二盛而躁，在手少陰；三盛而躁，在手太陰。手厥陰，心包脈也；手少陰，心脈也；手太陰，肺脈也。盛法同陽。四倍以上，陰盛之極，故關閉而溲不得通也。《正理論》曰：關則不得溺。</p>
<p>人迎與寸口俱盛四倍以上，為關格之脈，羸不能極於天地之精氣，則死矣。《樞》曰：陰陽俱盛，不得相營，故曰關格，非止吐逆、不得溺而已也。</p>
<p>海藏云：岐伯陰陽二脈，王注為足經，卻舉《靈樞》手經，何也？答曰：正經既言五臟之本，云倉廩。）乃知手足經俱有，故言足經，而次舉《靈樞》手經也。若躁為手經，不躁為足經。此王注雖舉格陽為吐逆，關陰為不得溺，皆引正理為證以比之。大抵格陽關陰，亦豈止吐逆不得溺而已哉！至於上而不欲食，下而不得便，亦關格之病也，故易老有內傷之陰證，大意亦出於此。云岐子別有關格一轉。</p>
<p>上此一條，舉古人言外之意。</p>
<h2>潔古老人內傷三陰例</h2>
<p>論曰：人之生也，由五穀之精氣所化，五味之備，故能生形。經曰：味歸形。若傷於味，亦能損形。今飲食反過其節，腸胃不能勝，氣不及化，故傷為脾。論曰：飲食自倍，腸胃乃傷。或失四時之調養，故能為人之病也。經曰：氣口曰坤，口乃脾之候，故脾胃傷。氣口緊盛而傷者，有多少，有輕重焉。如氣口一盛，脈得六至，則傷於厥陰，乃得之輕也，檳榔丸主之；氣口二盛，脈得七至，則傷於少陰，乃傷之重也，煮黃丸主之；氣口三盛，脈得八九至，則傷於太陰，乃傷之尤重也，故填塞悶亂，心胸大痛，兀兀欲吐，得吐則已，俗呼為食迷風是也。經曰：上部有脈，下部無脈，其人當吐，不吐則死。宜吐之，以瓜蒂散。如不能，則無治也。經曰：其高者因而越之，其下者引而竭之。如傷之太甚，仲景三物備急丸下之。</p>
<p>海藏云：潔古所論內傷三經，蓋出於《內經》，《靈樞》岐伯脈法。</p>
<h3>檳榔丸</h3>
<p>治飲食過多，心腹膨悶。</p>
<p>檳榔（一分）　木香（一分）　枳實（半兩，炒）　牽牛頭（末，半兩）　陳皮（去白，秤半兩）</p>
<p>上為極細末，醋糊丸，桐子大，米飲生薑湯下二十丸。</p>
<h3>煮黃丸</h3>
<p>治前症，甚則兩脅虛脹。</p>
<p>雄黃（一兩，研）　巴豆（半兩，去皮心膜，研如泥，入雄黃再研勻）</p>
<p>上二味，入白面二兩，同和研勻，滴水丸桐子大，滾漿內十二丸煮熟，漉入冷漿令沉，每一時辰，浸冷漿下一丸，凡盡十二時也。不必盡劑，以利為度，否則再服。又治脅下　癖痛，</p>
<h3>瓜蒂散</h3>
<p>治大實大滿，氣上衝，上部有脈，下部無脈，填塞悶亂者，當吐之。</p>
<p>瓜蒂（一分）　赤小豆（一分）</p>
<p>上為極細末，溫水少許，調一錢匕，以吐為度。如傷之太重，備急丸下之，此急劑也。</p>
<p>經云：其下者引而竭之。此之謂也。</p>
<h3>備急丸</h3>
<p>乾薑（一兩，）　生大黃（一兩，）　生巴豆（半兩，去心膜，研泥，灘新瓦去油，取霜）</p>
<p>上細末，煉蜜丸桐子大。溫水下三二丸，無時，以利為度，以意消息漸加。</p>
<h3>金露丸</h3>
<p>治時疾內傷，心下痞氣不降，米不化。</p>
<p>大黃（一兩）　枳實（半兩，炒）　桔梗（二兩）　牽牛頭（末，一分）</p>
<p>上細末，薑糊丸，蒸餅亦得，桐子大。溫水下二三十丸，常服減半。內傷戊火已衰，不能制物，寒藥太多，固非所宜，故以溫劑主之。</p>
<h3>枳朮丸</h3>
<p>本仲景湯也，易老改丸。治老幼虛弱，食不消，臟腑軟。</p>
<p>枳實（三分，麩炒黃色）　白朮（一兩）</p>
<p>上細末，荷葉裹燒飯為丸，或薑浸蒸餅丸亦得，桐子大。米飲下三二十丸，食後。</p>
<p>小兒丸小。</p>
<p>海藏云：潔古既有三陰可下之法也，必有三陰可補之法，予欲舉此內傷三陰可補之劑。</p>
<p>未見仲未讀，而未之知，而不能言耳！</p>
<h2>海藏老人內傷三陰例</h2>
<p>若飲冷內傷，雖先損胃，未知色脈各在何經。若面青黑，脈浮沉不一，弦而弱者，傷在厥陰也。若面紅赤，脈浮沉不一，細而微者，傷在少陰也；若面黃潔，脈浮沉不一，緩而遲者，傷在太陰也。</p>
<p>若面青或黑或青黑，俱見脈浮沉不一，弦而弱，傷在厥陰肝之經也。</p>
<h3>當歸四逆湯</h3>
<p>當歸　桂　芍藥　細辛（各一兩）　通草　甘草（各六錢三字）</p>
<p>上銼麻豆大，每秤三錢，水一盞半，棗一二枚，煎至七分，去滓溫服。</p>
<p>若其人病內有久寒者，宜當歸四逆湯內加吳茱萸生薑湯主之。</p>
<h3>當歸四逆東加吳茱萸生薑湯</h3>
<p>當歸（一兩）　桂（一兩）　芍藥（一兩）　細辛（一兩）　大棗（八個）　甘草　通草（各六錢三字）　吳茱萸（七合，湯漫洗）　生薑（二兩半）</p>
<p>上銼如麻豆大，每服秤三錢，水一盞半，煮至八分，去滓，溫服，日三。仲景法：一劑</p>
<h3>吳茱萸湯</h3>
<p>吳茱萸（一兩半，湯洗三次）　人參（三分）　生薑（一兩半）　大棗（三個）</p>
<p>上銼如麻豆大，以水二大盞半，煮取七分，去滓，分二服。若急者，陰毒甘草湯、白朮散、附子散、正陽散、肉桂散、回陽丹、返陰丹。至於陰盛格陽，霹靂散、火焰散。隨經部分選用之。</p>
<h2>傷在少陰</h2>
<p>若面紅或赤，或紅赤俱見，脈浮沉不一，細而微者，傷在少陰，腎之經也，通脈四逆湯（又方：甘草炙六錢二字半）</p>
<p>甘草（二兩，炙）　附子（一兩，生用，去皮，破八片）　乾薑（一兩，炮）</p>
<p>面赤者，加連須蔥白九寸。腹中痛者，去蔥白，加白芍藥二兩。嘔者，加生薑二兩。咽痛者，去芍藥，加桔梗一兩。利止脈不出者，去桔梗，加人參二兩。</p>
<p>上銼如麻豆大，每服秤三錢，水一盞半，煮至七分，去滓，溫服。未瘥，若急，更作一劑。其脈續續有力者愈，無力者不愈。</p>
<p>四逆湯，上三味是也。</p>
<h2>傷在太陽</h2>
<p>若面黃或潔，或黃潔俱見，脈浮沉不一，緩而遲者，傷在太陰，脾之經也。</p>
<h3>理中丸</h3>
<p>人參（一兩，腹痛者倍之）　甘草（炙）　白朮　乾薑（各一兩）</p>
<p>上細末，煉蜜和丸雞子黃大。以湯數合，和丸，研碎，溫服之，日三夜二。腹中未熱，益至三四丸，煎熱粥飲投之，微溫覆，勿揭衣。丸不及湯。</p>
<p>海藏云：大便結者宜丸，大便軟者宜湯。仲景云：無陽陰強，大便硬者，不可下，下之則清穀腹滿。</p>
<p>以上三經脈皆云浮沉不一者，以其皆似孤亡之體也。</p>
<p>又云：日三夜二，讀之極無味，然仔細思之，利害非輕。恐人不識，故有陰陽寒熱各從類生一條。</p>
<h2>陰陽寒熱各從類生服藥同象</h2>
<p>假令附子與大黃合而服之，晝服則陽藥，成功多於陰藥，夜服則陰藥成功於陽藥，足從其類也。況人之疾，獨不然乎！若病陽症，晝則增劇，夜則少寧；若病陰症，晝則少寧，夜則增劇。是人之陰陽寒熱，從天地之行陰行陽也，寒熱之化，以此隨之。故前人治陰證用陽藥，續於夜半之後者，所以卻類化之陰，而接身與子所生之陽也。《通玄類證》云：小建中湯後亦舉日三夜二，及尺脈不至者加黃　。</p>
<p>予嘗云：大便軟者宜湯，大便結者宜丸，以丸蜜潤也。仲景治霍亂吐下，脾濕大勝，而用丸何也？答曰：以濕言之，豈有潤之之理，此正濕已太過，津液極亡，所以轉筋也。筋得血而養，故能屈伸。利下既多亡陰，失血反成枯燥，燥則所以不能屈伸也。故濕劑以潤之，只用丸也，與婦人血崩過極不止而用四物湯潤劑同意。十劑之法，要當謹察。</p>
<h3>理中湯</h3>
<p>人參（一兩）　乾薑（炮）　甘草（炙）　白朮（各二兩）</p>
<p>腹痛者，加人參一兩。寒者，加乾薑一兩半。渴欲得水者，加白朮一兩半。臍上築者腎氣動也，去朮，加桂四兩。吐多者，去朮，加生薑三兩。下多者，還用術。悸者，加茯苓二兩。或四肢拘急腹痛者，或腹滿下利轉筋者，去朮，加附子一枚，生用。</p>
<p>上銼如麻豆大，每秤三錢，水一盞半，煮至七分，去滓，溫服，日三。</p>
<p>海藏云：理中東加減八法，並無寒藥。吐利後有表者表之汗出厥者溫之；既吐且利，小便復利，大汗出，內寒外熱者亦溫之；至於吐下後，汗出不解，厥逆脈欲絕者，四逆主之。以是知此候無陽證，皆陰證也。仲景人參桂枝湯，理中東加桂枝，太陽未除，下之成協熱利，心下痞，表裡不解者；《活人》此理中湯內加青陳皮，名治中湯，治胸膈病；許學士改《活人》方，作補脾丸，治勞則補子，如子富而父不貧，不特虛則補其母也。</p>
<p>以上三證，若有外感與內證飲冷極者，宜五積散。</p>
<h2>伊芳尹湯液論例</h2>
<p>海藏曰：皇甫先生云仲景廣《湯液》為十卷。文潞公云仲景為群方之祖。朱奉議云仲景瀉心古湯液則少黃芩，後人脫落之。許學士亦云伊芳尹《湯液論》大柴胡湯八味，今監本無大黃，只是七味，亦為脫落之也。以是知仲景方皆《湯液》也。</p>
<p>四順散，理中湯、四逆湯、通脈四逆湯、朮附湯、薑附湯、真武湯、白通湯，俱見仲景條下。</p>
<p>其余雜見諸方，凡稱仲景者皆是。</p>
<h2>扁鵲仲景例</h2>
<p>生氣通天霧露說，在神術六氣加減後。</p>
<p>扁鵲云：一呼四至，一吸四至，病欲甚，洪大煩滿，沉細者腹中痛，滑者傷熱，澀者中霧露。</p>
<p>仲景云：從霜衍降以後，至春分以前，凡有觸冒霜露，體中寒邪而病者，皆謂之傷寒也。</p>
<p>海藏云：霜露霧露，久雨清濕之氣，山嵐障氣等，皆謂之清邪也。有單衣而感於外者，有空腹而感於內者，有單衣、空腹而內外俱感者，所稟輕重不一，在人本氣虛實之所得耳！豈特內寒飲冷誤服涼藥，而獨得陰證哉？重而不可治者，以其虛人內已伏陰，外又感寒，內外俱病，所以不可治也。</p>
<h2>仲景陰證論例</h2>
<p>仲景緊脈，俱見許學士條下。</p>
<p>又云：寸口脈陰陽俱緊者，法當清邪中於上焦，濁邪中於下焦。清邪中於上，名曰潔也；濁邪中於下，名曰渾也。陰中於邪，必內栗也，表氣微虛，裡氣不守，故使邪中於陰也；陽中於邪，必發熱頭痛，項強頸攣，腰痛脛酸，所謂中霧露之氣。故曰清邪中上，濁邪中下。陰氣為栗，足膝逆冷，便溺妄出，表氣微虛，裡氣微急，三焦相混，內外不通，上焦怫鬱，臟氣相熏，口爛食齦也。中焦不治，胃氣上衝，脾氣不轉，胃中為濁，榮衛不通，血凝不流。</p>
<p>若沖氣前通者，小便赤大便赤黃，與熱相搏，因熱作使，游於經絡，出入臟腑，熱氣所遏，則為癰膿。若陰氣前通者，陽氣厥微，陰無所使，客氣內入，嚏而出之，聲　咽塞，寒厥相逐，為熱所擁，血自下，狀如豚肝，陰陽俱厥，脾氣孤弱，五液注下，下焦不闔，清便下重，令便數難，臍腹湫痛，命將難痊。</p>
<h3>吳茱萸湯</h3>
<p>食穀欲嘔，屬陽明也，吳茱萸湯主之。得湯反劇者，屬上焦也，治上焦。一少陰吐利，手厥逆冷，煩躁欲死者，吳茱萸湯主之。厥陰乾嘔，吐涎沫者，頭痛極甚，吳茱萸湯主之。</p>
<h3>四逆湯</h3>
<p>自利不渴者，屬太陰，以其臟寒故也，宜服四逆湯輩。太陰手足自溫，脈浮者，桂枝湯。</p>
<p>脈浮吐，始得之，手足寒，脈弦遲者，此胃中實，不可下也，當吐之。若膈上有寒飲，乾嘔者，不可吐也，當溫之，宜四逆湯主之。少陰病，脈沉者，急溫之，宜四逆湯。大汗若下利而厥冷者，四逆湯主之。大汗出，熱不去，內拘急，四肢疼，又下利厥逆而惡寒者，四逆湯主之。下利腹脹，滿身疼痛者，先溫裡乃攻表。溫裡宜四逆湯，攻表宜桂枝湯。嘔而脈弱，小便復利，身有微熱見厥者難治，宜四逆湯主之。屬厥陰吐利汗出，發熱惡寒，四肢拘急，手足厥冷，四逆湯主之。吐利小便復利而大汗出，下利清穀，內寒外熱，脈微欲絕者，四逆湯主之。病發熱頭痛，身體不疼痛，當救裡，宜四逆湯主之。</p>
<h3>通脈四逆湯</h3>
<p>少陰病，下利清穀，裡寒外熱，手足厥逆，脈微欲絕，身反不惡寒，其人面色赤，或腹痛，或乾嘔，或咽痛，或利止脈不出，通脈四逆湯主之。下利清穀，裡寒外熱，汗出而厥者，通脈四逆湯主之。此屬厥陰。</p>
<h3>當歸四逆湯</h3>
<p>手足厥寒，脈細欲絕者，當歸四逆湯主之。</p>
<h3>白通湯</h3>
<p>少陰病，下利脈微者，白通湯主之。</p>
<h3>白通加豬膽汁湯</h3>
<p>少陰病，下利脈微，與白通湯。利不止，厥逆無脈，乾嘔煩者，白通加豬膽汁湯主之。服湯，脈暴出者死，微續者生。</p>
<h3>真武湯</h3>
<p>太陽病發汗，出不解，其人仍發熱，心下悸眩，身　動，振振欲擗地者，真武湯主之。少陰病，二三日不已，至四五日，腹痛，小便不利，四肢沉重疼痛，自下利者，為有水氣，其人，或小便利，或下利，或嘔者，真武湯主之。</p>
<h3>小建中湯</h3>
<p>傷寒，陽脈澀，陰脈弦，法當腹中急痛，先與小建中湯服之。傷寒二三日，心中悸而煩者，小建中湯主之。</p>
<h3>理中湯</h3>
<p>胸脾心下痞留，氣結胸滿，脅下逆氣搶心，理中湯主之。治脾胃不和，中寒上衝，胸脅逆滿，心腹　痛，痰逆惡心，或時嘔吐，心下虛痞，隔塞不通，飲食減少，短氣羸瘦，溫中逐水，止汗去濕。又治腸胃冷濕，泄瀉注下，水穀不分，腹中雷鳴，及傷寒時氣，及裡寒外熱，霍亂吐利，手足厥冷，胸脾心痛逆氣，並皆治之。有寒者，加附子。胸痹脅下妨悶者，加枳實半兩，茯苓半兩。此方自晉宋以後至唐，名醫治心腹病者，無有不用此湯，或作丸隨證加減，各有其法。</p>
<h3>理中丸</h3>
<p>霍亂，頭痛發熱，熱多欲飲水，五苓散主之；寒多不用水者，理中丸主之。大病瘥後，喜睡，久不了了，胸中有寒，當以丸藥溫之，宜理中丸。</p>
<h3>桂枝附子湯</h3>
<p>傷寒八九日，風濕相搏，身體疼痛，不能自轉側，不嘔不渴，脈浮虛而澀者，桂枝附子湯主之。</p>
<h3>附子湯</h3>
<p>少陰病，得之一二日，口中和，其背惡寒者，當灸之，附子湯主之。少陰病，身體痛，手足寒，骨節痛，脈沉者，朮附湯主之。</p>
<h3>朮附湯</h3>
<p>傷寒八九日，風濕相搏，身體疼煩，不能自轉側，不嘔不渴，脈浮虛而澀，枝桂附子湯。若其人大便堅，小便自利，朮附湯主之。</p>
<h3>薑附湯</h3>
<p>若下之後，復發汗，晝日煩躁不得眠，夜而安靜，不嘔不渴，無表證，脈沉微，身無大熱者，薑附湯主之。</p>
<p>海藏云：若自汗者朮附湯；若無汗，薑附湯。</p>
<h3>茯苓四逆湯</h3>
<p>發汗若下之，病仍不解，煩躁者，茯苓四逆湯主之。</p>
<h2>易老法霍亂吐瀉足陽明總攝六經</h2>
<p>大抵仲景藥為主，理中湯、理中丸、五苓散、建中湯、平胃散、四君子湯類。</p>
<p>假令胃與太陽經並，脈浮者，於前所用藥內加：自汗者加桂枝，無汗者加麻黃，以其有頭項肢節痛故也。</p>
<p>假令胃與少陽經並，脈弦者，於前所用藥內加柴胡、干木瓜，以其脅下痛故也。</p>
<p>假令胃與陽明本並，脈實者，於前所用藥內加大黃，以其吐瀉後大小便不通故也。</p>
<p>假令胃與太陰經並，脈沉細者，於前所用藥內加芍藥、乾薑，以其腹痛體重故也。</p>
<p>假令胃與少陰本並，脈沉遲者，於前所用藥內加薑、附，以其四肢拘攣身寒故也。</p>
<p>假令胃與厥陰本並，脈微緩者，於前所用藥內加薑、附、當歸、吳茱萸，以其四肢厥逆冷故也。厥陰本藥，吳茱萸湯、當歸四逆湯皆是。</p>
<h2>霍亂與少陰寒熱同候</h2>
<p>海藏云：霍亂頭痛發熱，其邪自風寒而來。中焦為寒熱相半之分，邪稍高者居陽分，則為熱，熱多飲水者，五苓散以散之；邪稍下者居陰分，則為寒，寒多不飲水者，理中丸以溫之。所以同少陰入裡，與手經接為熱，大承氣湯下之；與足經接為寒，四逆湯溫之。</p>
<h2>叔和陰脈例</h2>
<p>海藏云：仲景陰脈，皆叔和次之，藥俱見仲景本經條下。</p>
<p>按之似有舉還無，氣滿三焦臟腑虛，冷氣不調三部壅，通腸建胃始能除。右沉脈。</p>
<p>澀脈關前胃氣並，當關血散不能停，尺部如斯逢逆冷，體寒臍下作雷鳴。右澀脈。</p>
<p>關前弱脈陽道虛，關中有此氣多疏，若在尺中陰氣絕，酸疼引變上皮膚，右弱脈。</p>
<p>寸口脈緊一條弦，胸中急痛狀繩牽，關中有弦寒在胃，下焦停水滿丹田。右弦脈。</p>
<p>微脈關前氣上侵，當關郁結氣排心，尺部見之臍下積，身寒飲水即呻吟。右微脈。</p>
<p>陰毒傷寒身體重，背強眼痛不堪任，小腹痛急口青黑，毒瓦斯衝心轉不禁，四肢逆冷唯思吐，咽喉不利脈細沉，若能速灸臍輪下，六日看過見喜深。</p>
<p>臍下五穴，並見宜灸條下。</p>
<h2>活人陰脈例</h2>
<p>太陰、少陰、厥陰，皆屬陰證也。太陰者，脾也；少陰者，腎也；厥陰者，肝也。</p>
<p>何謂太陰證？太陰脾之經，主胸膈　脹。《甲乙經》云：邪生於陽者，得之風雨寒暑；邪中於陰者，得之飲食居處，陰陽喜怒。又曰：賊風虛邪者陽受之；飲食不節、起居不時者陰受之。陽受之則入腑，陰受之則入臟。入六腑則身熱不時臥，為喘呼：入五臟則　滿閉塞，下為飧泄，久為腸　。</p>
<p>何謂少陰證？少陰腎之經，主脈微細，心煩但欲寐，或自利而渴。經云：一二日少陰病者，何也？謂國中病時，腠理寒，使入陰經，不經三陽也。</p>
<p>傷寒雖是三陰三陽，大抵發於陽則太陽也，發於陰則少陰也，此二經為表裡，其受病最為多。陽明、太陰受病頗稀。至於少陽、厥陰，肝膽之經，又加少焉。凡病一日至十二三日，太陽證不罷者，但治太陽。有初得病便見（去聲）少陰證者，直攻少陰，亦不必先自巨陽次傳而至。</p>
<p>蓋寒氣入太陽，即發熱而惡塞；入陰經，只惡寒而不發熱也。三陰中寒，微則理中湯，稍厥或中寒下利，即乾薑甘草湯。</p>
<p>手足指頭微冷蓋謂之清（音去聲，）此未消吃四逆，蓋疾輕故也，只可服理中乾薑之類。</p>
<p>大假重者用四逆湯，無脈者用通脈四逆湯也。</p>
<p>何謂厥陰？厥陰肝之經，主消渴，氣上衝心中疼熱，飢不欲食，食則吐蛔，下之則利不止也。若陰氣獨盛，陽氣暴絕，則為陰毒，其證四肢逆冷，臍腹築痛，身如被杖，脈沉疾，或吐利，當急救，可灸臍下，服以辛熱之藥，令陽氣復而大汗解矣！古人云：辛甘發散為陽，謂桂枝、甘草、乾薑、附子之類，能復其陽氣也。微則用辛甘，甚則用辛苦熱。陰極發躁，陰證似陽也。學人當以脈別之。</p>
<p>問：手足逆冷，臍腹築痛，咽喉疼，嘔吐下利，身體如被杖，或冷汗煩渴，脈細欲絕者，何也？此名陰毒也。陰毒之為病，初得病手足冷，背強咽痛，糜粥不下，毒瓦斯攻心，心腹痛，短氣，四肢厥逆，嘔吐下利，體如被杖，宜服陰毒甘草湯、白朮散、附子散、正陽散、肉桂散、回陽丹、返陰丹、天雄散、正元散、退陰散之類，可選用之。大抵陰毒本因腎氣虛寒，或因冷物傷脾，外傷風寒，內既伏陰，外又感寒，或先外寒而內伏陰，內外皆陰，則陽氣不守，遂發頭痛腰重，腹痛，眼睛疼，身體倦怠，四肢逆冷，額上手背冷汗不止，或多煩渴，精神恍惚如有所失，三二日間或可起行，不甚覺重。診之則六脈俱沉細而疾，尺部短小，寸口或大。</p>
<p>陽證六脈俱浮大，或沉取之大而不甚疾者，非陰證也。大抵陽毒傷寒，其脈多弦而洪數；陰毒傷寒，其脈沉細而弦疾，不可不知也。</p>
<p>若誤服涼藥，則渴轉甚，躁轉急，有此病證者，更須急服辛熱之藥，一日或二日便安。</p>
<p>若陰毒漸深，其候沉重，四肢逆冷，腹痛轉甚，或咽喉不利，心下脹滿結硬，躁渴虛汗不止。</p>
<p>上此一條服涼藥躁渴轉甚，當服熱藥可也。</p>
<p>陽盛則身熱而無汗，陰盛則身冷而有汗。岐伯云：陽勝則身熱，腠理閉，喘粗，為之俯仰，汗不出而熱；陰勝則身寒，汗出，身常清，數躁而寒，寒則厥。（清即冷也。）</p>
<p>上此岐伯說陰躁之原。</p>
<p>或時鄭聲，指甲面色青黑，六脈沉細而疾，一息七至已來。有此證者，速於氣海或關元二穴，灸三二百壯，以手足溫和為效，仍兼服正陽散、回陽丹、天雄散、白朮散，內外通，遂令陽氣復而大汗解矣。</p>
<p>陰毒盛而陽氣暴絕，則為陰毒；若陽獨盛而陰氣暴絕，則為陽毒。大凡陰陽離絕，非大汗不能復正氣也。</p>
<p>陰陽則夫婦也，各得中則和，若偏勝則各專以權，至於極，繼之以離矣！藥石以攻邪，邪去正復，是猶鞭撻以教而欲並生也。</p>
<p>若陰毒已深，疾勢困重，六脈附骨取之方有，按之既無，一息八至以上，或不可數，至此則藥餌難為攻矣！但於臍中用蔥慰法，或灼艾三五百壯已來，手足不溫者，不可治也。如手足得溫，更服熱藥以助之。若陰氣陽氣來，即漸減熱藥而調治之。</p>
<p>若陽氣乍復，往往卻見煩躁，慎不可投涼藥，煩躁甚者，再與返陰丹即定。常須識此，勿令誤也。</p>
<p>問胸膈不快，　滿閉塞，唇青手足冷，脈沉細，少情緒，或腹痛者，何也？此名太陰也。近人多不識陰證，才見胸膈不快，便投食藥，非其治也。大抵陰證者，由冷物傷脾胃，陰經受之也，主胸膈　滿，滿面色及唇皆無色澤，手足逆冷，脈沉細，少情緒，亦不因嗜欲，但內傷冷物，或損動胃氣，遂成陰證。復投巴豆之類，胸膈愈不快，或吐而利，經一二日遂致不救，蓋不知寒中太陰脾之經也。</p>
<p>右膈不快，不可用食藥，下之則成痞。</p>
<p>海藏云：陰證胸膈不快，此無病形也，若投巴豆之藥，即取有形也病，故輕則轉痞，重則成勞，尤重則一二日遂成不救也。故《活人》本經云：丸子巴豆，乃攻食積耳！問：萬一飲食不節，胸膈不快，寒中陰經，何法以治？答曰：急則理中東加青陳皮，銼如麻豆小，服一二劑，胸膈即快。枳實理中丸、五積散尤良。</p>
<p>五積散一句，是兼表也，或無有表證，或自內而之外，傳至極高之分，則宜是藥。若無表則不宜用此也，用理中法足矣！問脈微細，欲吐不吐，心煩但欲寐，六七日自利而渴者，何也？此名少陰也。少陰之為病，欲吐不吐，心煩但欲寐，六七日自利而渴者，虛也，故引水自救。若小便色白者，少陰病形悉具矣。小便色白者，以下焦虛有寒，不能制水，故令色白也。</p>
<p>四逆湯主之。</p>
<p><u>舉陽證</u></p>
<p>　少陰證，口燥舌乾而渴者，須急下之，不可緩也，宜大承氣湯主之。若脈沉而遲者，須溫之，四逆湯主之。蓋以口燥舌乾而渴者知其熱，脈沉而遲者別其寒也。</p>
<p>少陰病屬腎，古人謂之腎傷寒也。腎傷寒口燥舌乾而渴，固當急下，大抵腎傷寒亦多表裡無熱，但若煩憒默而極，不欲見光明，有時腹痛，其脈沉細，舊用四逆湯。古人恐其熱不敢遽用，云腎病而體猶有熱者，可服黃連龍骨湯。若已十余日，下利水止，手足微冷，乃無熱候，可服增損四順散。</p>
<p>上此一條，雖有腎病，而體猶有熱一句，亦當以久暫察之，不可乍見便以為身熱也。</p>
<p>不用四逆用黃連，及手足冷卻用四順，亦不甚的當。</p>
<p><u>舉陽證</u></p>
<p>　少陰病，若惡寒而倦，時時自煩，不欲濃衣者，大柴胡下之。少陰病，始得之，反發熱，脈沉者，麻黃附子細辛湯微汗之。少陰病，得之二三日，常見少陰無陽證者，亦須微發汗，宜麻黃附子甘草湯。此學人不可不知也。</p>
<p>問身微熱，煩躁，面赤，脈沉而微者，何也？此名陰證似陽也。陰發躁，熱發厥，物極則反也。大率以脈別之為準，諸數為熱，諸遲為寒，無如此最為驗也。</p>
<p>上此一句，可以為世法。</p>
<p>假令身體微熱，煩躁面赤，其脈沉而微者，皆陰證也。身微熱者，裡寒故也；煩躁者，陰盛故也；面戴陽者，下虛故也。治者不看脈，以虛陽煩躁，誤以為實熱，反與涼藥，則氣消成大病矣！《外台秘要》云：陰盛發躁，欲坐井中，宜以熱藥治之。仲景少陰證，面赤者，四逆加蔥白主之。</p>
<p>上外熱內寒，煩躁，不可用涼熱。</p>
<p>問：身冷，脈細沉疾，煩躁而不飲水者，何也？此名陰盛格陽也。傷寒陰盛格陽者，病患身冷，脈細沉疾，煩躁而不飲者是也。若欲引飲者，非也。不欲飲水者，宜服霹靂散，須臾躁止，得睡汗出即瘥。此藥通散寒氣，然後熱氣上行，汗出乃愈。火焰散、丹砂丸並主之。</p>
<p>問身體重少氣，陰腫入裡，腹內絞痛，熱上衝胸，頭重不欲舉，眼中生花，婦人則裡急，腰胯連腹內痛者，何也？此名陰陽易也。傷寒病新瘥，陰陽氣未和，因合房室，則令人陰腫，入腹絞痛，婦人則裡急，腰胯連腹痛，名為陰陽易也。其男子病新瘥，未平復，而婦人與之交接得病，名曰陽易；其婦人病新瘥，未平復，男子與之交接得病，名曰陰易。若二男二女，並不相易。所以呼為易者，陰陽相感動甚，毒疫著人，如換易然。其病狀身體熱衝胸，頭重不能舉，眼中生花，四肢拘急，小腹絞痛，手足拳則皆死。其亦有不即死者。病若小腹裡急，熱上衝胸，頭重不欲舉，百節解離，經脈緩弱，血氣虛，骨髓竭，便翕翕氣力轉小，著床而不若搖動，起止仰人。或引歲月不死，燒　散、　鼠糞湯、竹皮湯、乾薑湯、青竹茹湯、當歸白朮湯，可選用之</p>
<p>《孫兆口訣》，治陰盛隔陽，傷寒其人必躁熱，不欲飲水者，宜服霹靂散。</p>
<p>附子一枚，燒灰存性，為末，蜜水調下，為一服而愈。此逼散寒氣，然後熱氣上行，而汗出乃愈。</p>
<h3>陰毒甘草湯</h3>
<p>治傷寒時氣，初得病一二日便結成陰毒，或服藥後六七日以上至十日變成陰毒，身重背強，腹中絞痛，咽喉不利，毒瓦斯攻心，心下堅強，氣短不得息，嘔逆，唇青面黑，四肢厥冷，其脈沉細而疾。仲景云：陰毒三候，身如被杖，咽喉痛，五六日可治，至七日不可治也。</p>
<p>甘草（炙）　升麻　當歸（各二分）　雄黃（一分）　蜀椒（一分，去目）　龜甲（一兩，醋炙）　桂枝（二分）</p>
<p>上　咀，每服五錢，水一盞半，煎至八分，去滓。服如人行地五裡，須臾進一服，溫覆取汗，毒當從汗出，汗出即愈。若未，作再服。</p>
<p>上此一條，舉仲景言，至七日不可治，有別說。</p>
<p>問：活人陰毒甘草湯舉仲景云：陰毒三候，六五日可治，至七日不可治者，何也？答曰：假令內傷冷物，中焦不和，或顯少陰，或顯厥陰，二脈無定，內陰之極，陽氣逆而上行，至陽明則多錯語，至太陽頭復微痛，至少陽寒熱間作，即非少陽外感正病也。然此經雖有寒熱，其實脾先受之，卯酉之間，土居其中，是通膽肺，故如是也。內陽之外，至此欲竭，所以至七日不可治也。陰證舌縮者，知心火絕也，則神去矣。又云：失神者亡。發陽證舌縮者，知少陰無水也。外感傳六經，當先表而後下，內感傳三陽，則止治三陰，藥內增損加減，不復再用涼藥也。內陽之外，不必次第傳遍三陽，但至一經，卻便至極高之分，所以七日不可治也。總六經俱盡之意，所以不必次第傳遍三陽也。</p>
<p>海藏云：惟附子散明注陰毒唇青面黑，正陽散明注陰毒面青舌黑，二證別無伏陽，故藥味皆溫熱辛甘而無苦寒也。</p>
<h3>附子散</h3>
<p>治陰毒寒傷，唇青面黑，身背強，四肢冷。</p>
<p>附子（三分，炮裂，去皮臍）　桂心（半兩）　當歸（半兩，銼，炒）　半夏（一分，薑製）</p>
<p>乾薑（一分，炮）　白朮（半兩）</p>
<p>上件為細末，每服二三錢，水一中盞，生薑半錢，煎至六分，去滓。不計時候熱服，衣覆取汗，如人行地十裡。未汗，再服。</p>
<h3>正陽散</h3>
<p>治陰毒傷寒，面青，張口氣出，心下硬，身不熱，只額上有汗，煩渴不止，舌黑多睡，四肢俱冷。</p>
<p>附子（一枚炮裂，去皮臍）　皂莢（一挺，醋炙，去皮弦子）　乾薑（一分）　甘草（一分，炙）　麝香（一錢，另研）</p>
<p>上細末，每服一錢，水一中盞，煎至五分，不計時候，和滓熱服。</p>
<h3>霹靂散</h3>
<p>治陰盛隔陽，煩躁不飲水。</p>
<p>附子一枚半兩者，炮熱取出，用冷灰焙之，細研，入真臘茶一大錢，和勻分作二服，水一盞，煎至六分，臨熟入蜜半匙，放溫或冷服之。須臾，躁止得睡，汗出即瘥。</p>
<h3>火焰散</h3>
<p>治傷寒惡候。</p>
<p>舶上硫黃　附子（去皮，生用）　新臘茶（各一兩）</p>
<p>上為細末，先將好酒一升，調藥分大新碗口中，於火上攤蕩令干，合於瓦上，每一碗下燒艾熟一拳大，以瓦起，無令火著，直至煙盡，冷即刮取，卻細研入瓷合盛。每服二錢，酒一盞，共煎七分，有火焰起，勿訝。傷寒陰毒者，四肢冷，脈沉細，或吐或瀉，五心躁煩，胸中結硬，或轉作伏陽在內，湯水不下，或無脈，先吃一服，如吐，卻更進一服。服後心中熱，其病已瘥，下至臟腑中。表未解者，渾身壯熱，脈氣洪大，宜用發表藥。或表解者，更不發熱，便得眠睡，渾身有汗，方可用下胸膈行臟腑藥，漸用調和脾胃，補治元氣湯散。如服此藥，三二服不應者，不可治也。</p>
<p>海藏云：表後既解，不發熱，得睡，身有汗，方可用下臟腑藥，此一句利害非輕。若稍少有痞應，猶不可治，可以妄下行臟腑乎？用者宜詳。</p>
<p>仲景傷寒脈浮，自汗出，小便數，心煩微寒，腳攣急。與桂枝湯，欲攻表，誤也。得之便厥，咽中干，燥煩吐逆，作甘草乾薑湯與之，以復其陽。若厥愈足溫者，更作芍藥甘草湯與之，其腳即伸。若胃氣不和譫語者，少與調胃承氣湯。</p>
<p>上此一條，先溫後下，不可輕用，內別有消息。</p>
<h3>丹砂丸</h3>
<p>治傷寒陰陽二毒相伏，危惡形證。</p>
<p>舶上硫黃　水銀　太陰石　太陽石　元精石（各一兩）　硝石（半兩）</p>
<p>上件藥末，先用無油銚子，以文武火炒，下諸藥末，令勻如灰色，研細如粉面，生薑自然汁浸，桂湯下。慎不得於屋底炒。</p>
<p>海藏云：此丸為陰陽二毒相伏匿，故用腦子、牛黃、蜜水調下。若明見只是陰證，別無伏陽，不宜用此下之。若有伏陽，當以仲景翕奄沉脈法責之。在許學士破陰丹條下。叔和云：短脈陰中有伏陽。</p>
<h3>肉桂散</h3>
<p>治傷寒服冷藥過度，心腹脹滿，四肢逆冷，昏沉不識人，變為陰毒惡證。</p>
<p>肉桂（三分）　赤芍藥（一兩）　陳皮（一兩）　前胡（一兩）　附子（一兩，炮）　當歸（一兩）</p>
<p>白兩）</p>
<p>上粗末，每服五錢，水一中盞，棗三枚，煎至六分，去滓，不拘時候，稍熱服。</p>
<p>上此一條，以其先是陽證，為服涼藥過多，變為陰毒，故內有前胡一味。知少陽不止，乃用藥之過也，與瀉心東加附子相似。</p>
<h3>回陽丹</h3>
<p>治陰毒傷寒，面青，手足逆冷，心腹氣脹，脈沉細。</p>
<p>硫黃（半兩，研）　木香（半兩）　蓽澄茄（半兩）　附子（半兩，制）　乾薑（一分）　干蠍（半兩，炒）　吳茱萸（半兩，湯洗，炒）</p>
<p>上細末，酒煮糊為丸桐子大。每服三十丸，生薑湯下，頻服，復以熱酒一盞投之，以衣蓋取汗。</p>
<h3>返陰丹</h3>
<p>治陰毒傷寒，心神煩躁，頭痛，四肢逆冷。</p>
<p>硫黃（三兩）　太陰玄精石　硝石（各二兩）　附子（半兩，炮）　乾薑（半兩）　桂心（半兩）</p>
<p>上件藥，用生鐵銚鋪玄精石末一半，次鋪硝石一半，中間下硫黃末，著硝石蓋硫黃，都以玄精蓋上，訖用小盞合著，以三斤炭末，燒令得所，勿令煙出，直俟冷取出，細研如面，後三味搗羅為末，與前藥同研令勻，軟飯和丸桐子大。每服十五丸，艾湯下，頻服，汗出為度。</p>
<p>重則加三十丸。此方甚驗，喘促吐逆者，入口便止。</p>
<p>上此一條，與丹砂丸中藥味相似，當從陰陽二毒相伏匿法用之。</p>
<h3>天雄散</h3>
<p>治陰毒傷寒，身重背強，腹中　痛，咽喉不利，毒瓦斯攻心，心下堅強，短氣嘔逆，唇青面黑，四肢厥逆，其脈沉細而疾。</p>
<p>天雄（一兩，炮，去皮臍）　麻黃（半兩，去根節）　當歸（半兩）　白朮（半兩）　半夏（半兩，洗）　肉桂（一兩）　川椒（一分，去目，炒）　生薑（二錢）　厚朴（一兩，去皮，薑製）　陳皮（一錢，去白）</p>
<p>上粗末，每服五錢，水一盞，入生薑半錢，棗三枚，煎至五分，去滓。無時，稍熱服，如人行十裡，未汗再服。</p>
<h3>白朮散</h3>
<p>治陰毒傷寒，心間煩躁，四肢逆冷。</p>
<p>川烏頭（一兩，炮，去皮臍）　桔梗（一兩）　附子（一兩，炮）　白朮（一兩）　細辛（一兩，去苗）　乾薑（半兩，炮）</p>
<p>上細末，每服一錢，水一中盞，煎至六分，稍熱服，和滓，無時。</p>
<p>海藏云：仲景白通湯、通脈四逆湯用豬膽汁苦寒，人溺鹹寒。成無己云：所以去格拒之寒也。孫兆霹靂散用蜜水，《活人》霹靂散、火焰散用臘茶，返陰丹用硝石，許學士正元散用大黃，此數法與白通湯、通脈四逆湯用豬膽汁、人溺同意，皆所以去格拒之寒也。以上諸熱藥等，或用麻黃，或用升麻，或用前胡，皆所以隨經而用之也。明湯液善加減者，要當識此。</p>
<h2>許學士陰證例</h2>
<p><u>始得陰毒候</u></p>
<p>　陰毒本因腎氣虛寒，因欲事或食冷物，而後傷風，內既伏陰，外又傷寒，或先感外寒而後伏陰，內外皆陰，則陽氣不守，遂發頭痛腰重，眼睛疼，身體倦怠而甚熱，四肢厥逆冷，額上及手背冷汗不止，或多煩渴，精神恍惚，如有所失，三二日間或可起行，不甚覺重。診之六脈沉細而疾，尺部短小，寸口或大（六脈俱浮大，或沉取之大而不甚疾者，非陰證也。）若服涼藥，則渴轉甚，躁轉急。有此病證者，急服還陽退陰之藥即安。</p>
<p>惟補虛和氣而已，宜服正元散、退陰散、五勝散。陰證不宜發汗，如氣正脈大身熱而未瘥，用藥發汗無妨。</p>
<p><u>陰毒漸深候</u></p>
<p>　或寸口小而尺脈微大，亦同積陰感於下則微陽消於上，故其候沉重，四肢逆冷，腹痛轉甚，或咽喉不利，或心下脹滿，結硬躁渴，虛汗不止，或時狂言，爪甲面色青黑，六脈沉細而一息七至以來。有此證者，速宜於氣海或關元二穴灸三二百壯，以手足和暖為效，仍服金液丹、來復丹、玉女散、還陽散、退陰散之類，隨證選用之。</p>
<p><u>陰毒沉困候</u></p>
<p>　沉困之候與前漸深之候皆同，而更加困重。六脈附骨取之方有，按之即無，一息八至以上，或不可數，至此則藥餌難為攻矣！但於臍中灼艾半棗大，三二百壯以來，手足不和暖不可治也。偶復和暖，則以硫黃及熱藥助之。若陰氣散，陽氣來，漸減熱藥而和治之以取瘥也。</p>
<h3>正元散</h3>
<p>治傷寒始覺始吹凍著四肢頭目，百節疼痛，急煎此服，如人行五裡再服，或連三服，汗出立瘥。若患陰毒傷寒，入退陰散半錢同煎。或傷冷傷食，頭昏氣滿，及心腹諸疾，服之無有不效。</p>
<p>麻黃　陳皮　大黃　甘草　乾薑　肉桂　白芍藥　附子　半夏　吳茱萸（以上皆可制者制之，各等分。）</p>
<p>上麻黃加一半，茱萸減一半，同為末，每服一大錢，水一盞，生薑五片，棗一枚，煎至七分，熱呷出汗，以衣被覆蓋，汗出候干，解去衣。如是陰毒，不可用麻黃出汗。</p>
<h3>元陽丹</h3>
<p>烏頭　乾薑（等分）</p>
<p>並生用，酒面糊丸桐子大。每服用十丸，生薑湯下，食前。治氣痛，亦治陰毒。</p>
<h3>退陰散</h3>
<p>治陰毒傷寒，手足逆冷，脈沉細，頭痛腰重。</p>
<p>連三服。小背傷冷，每服一字，入正元散同煎，入鹽一捻。陰毒證咳逆，煎湯，細細熱呷之便止。</p>
<p>川烏頭　乾薑（等分）</p>
<p>上為粗末，炒令轉色，放冷為細末，每服一錢，水一盞，鹽一捻，煎半盞，去滓，溫服。</p>
<h3>五勝散</h3>
<p>治傷寒頭痛壯熱，骨節疼痛，昏沉困倦，咳嗽鼻塞，不思飲食。兼治傷寒夾冷氣慢陰毒。</p>
<p>甘草　五味子　石膏（各一兩）　乾薑（三兩半）　白朮（一兩半）</p>
<p>上為末，每服二錢，水一盞，入鹽少許，煎七分，通口服。如冷氣相夾，入薑棗煎。若治陰毒，入艾葉少許同煎。</p>
<h3>玉女散</h3>
<p>治陰毒瓦斯攻上腹痛，四肢逆冷惡候。</p>
<p>川烏頭去皮臍，冷水浸七日後，薄切曝乾，紙袋盛。遇有患者，取為細末一大錢，鹽一小錢，水一盞半，煎至七分，通口服。壓下陰毒，所便後如豬血相似。未已，良久再服之。</p>
<h3>運陽散</h3>
<p>治陰毒面色青，四肢逆冷，心躁腹痛。</p>
<p>硫黃（為末）</p>
<p>上用新汲水調二錢，良久或寒一起，或熱一起便看緊慢，汗出瘥。</p>
<h2>辨少陰緊脈證</h2>
<p>有人患傷寒六七日，心煩昏睡多吐，小便白色自汗。予診之，寸口尺中俱緊。予曰寒中少陰之經，是以脈緊。仲景云：病患脈緊而汗出者，亡陽也。屬少陰，法當咽痛而復下利，蓋謂此也。或曰：脈緊屬七表，仲景緊脈屬少陰，緊脈屬陽邪屬陰邪？予曰：仲景脈寸口俱緊者，清邪中於上焦，濁邪中於下焦。又云：陰陽俱緊者，口中氣出，唇口乾燥，倦臥足冷，鼻中涕出，舌上滑胎，勿妄治也。又云：緊則為寒。又云：諸緊為寒。又云：或難曰緊脈從何而來？師曰：假令已汗若吐，以肺裡寒，故令脈緊；假令咳，坐飲冷水，故令脈緊；假令下利胃虛，故令脈緊。又曰：寸口脈微，尺脈微，尺脈緊，其人虛損多汗。由是觀之，則是寒邪之氣，入人經絡所致，畢虛寒之脈也。其在陽經則浮而緊；在陰經則沉而緊。故仲景云：浮緊者名為傷寒。又曰：陽明脈浮而緊者，必潮熱。此在陽則浮而緊也。在陰則沉而緊，故仲景云：寸口脈微，尺脈緊，至七八日自下利，脈暴微，手足反溫，脈緊反出去者，此欲解也。此在陰則沉而緊也。仲景云：浮為在表，沉為在裡；數為在腑，遲為在臟。欲知表裡臟腑，先以浮沉遲數為定，然後兼於脈而別陰陽也。故論傷寒，當以仲景脈法為準。傷寒之必本仲景，猶兵家之必本孫吳也。舍是而之他者，是猶舍規矩而求方圓，舍律呂而正五音，可乎？</p>
<p>《活人》丹砂丸論陰陽二毒相伏，破陰只是伏陽一脈，陰中伏陽，脈即翕奄沉也。</p>
<h3>破陰丹</h3>
<p>硫黃　水銀（各一兩）　青皮　陳皮（各半兩，為末）</p>
<p>上將硫黃銚子內熔，次下水銀，用鐵杖打勻，令無星，傾入黑茶盞內，研細，入末二味勻研，用濃面糊丸桐子大。每服三十丸。如煩躁，冷鹽湯下；陰證，冷艾湯下。</p>
<p>此一條與楊氏五神丹相若。</p>
<p>此證六脈沉不見，深按至骨則弱緊有力，頭痛身溫，煩躁，指不皆冷，中滿惡心，醫多不識。學士脈曰：此陰中伏陽也，脈之當矣。學士卻云仲景無此證，非無此證也。用熱藥則陰邪隔絕，反生客熱；用寒藥則陽氣銷鑠，愈益毒瓦斯。必須散陰導火之劑，使火出水準，上下升降，大汗而解，或躁擾不寧，勿驚可也。《活人》例後，舉前賢諸去格拒之寒，大熱藥中，佐以人溺、膽汁、茶、蜜、鹽之類，雖各隨經，大抵與學士破陰導陽之意同。吾是以知仲景有此證也，但言簡而意有餘矣。明者當識！有人初得病，四肢逆冷，臍下築痛，身疼如被杖，蓋陰證也。急服金液、破陰等丹。其脈遂沉而滑，沉者陰也，滑者陽也，病雖陰而見陽脈，有可生之理，仲景所謂陰病見陽脈者生也。仍灸氣海、丹田百壯，手足溫，陽回得汗而解。或問滑脈之狀，如何便有生理？予曰：仲景云翕奄沉？曰何謂也？沉為純陰，翕為正陽，陰陽和合，故名曰滑。古人論滑脈，雖云往來前卻流利，展轉替替，然與數相似，仲景三語而盡也。此三字極難曉會。然翕合也，言張而復合也，故曰翕為正陽；沉言忽降而下也，故曰沉為正陰；方翕而合，俄降而下，奄謂奄忽之間。仲景論滑脈，可謂諦當矣。其言皆有法，故讀者極難曉會。</p>
<p>浮大數動滑陽脈，陰病見陽生可得。</p>
<p>沉澀弦微弱屬陰，陽病見陰終死厄。</p>
<p>陰陽交互最難明，輕重斟量當別白。</p>
<p>輕手脈微為在表，表實浮而兼有力。</p>
<p>但浮無力表中虛，自汗惡風常淅淅。</p>
<p>重手脈沉為在裡，裡實脈沉為亦實。</p>
<p>重手無力大而虛，此是裡虛理審的。</p>
<p>風則虛浮寒牢堅，水停水蓄必沉潛。</p>
<p>動則為痛數為熱，支飲應須脈急弦。</p>
<p>太過之脈為可見，不及之脈亦如然。</p>
<p>榮衛太甚名高章，高章相搏名曰綱。</p>
<p>榮衛微時名卑　，卑　相搏名捐陽。</p>
<p>榮衛既和名緩遲，緩遲名沉此最良。</p>
<p>九種脈中辨疾證，長沙之脈妙難量。</p>
<p>陽結藹藹如車蓋，陰結循竿亦象之。</p>
<p>陽盛則促來一止，陰盛則結緩而遲。</p>
<p>縱橫逆順宜審察，殘賊災怪要須知。</p>
<p>右手氣口當主氣，主血人迎在其位。</p>
<p>氣口緊盛傷於食，人迎緊盛風邪熾。</p>
<p>數為在腑遲為臟，浮為在表沉為裡。</p>
<p>脈浮而緩風傷榮，浮堅澀堅寒傷衛。</p>
<p>脈微大忌令人吐，欲下須防虛且細。</p>
<p>沉為氣弱汗為難，三者須要當審記。</p>
<p>陽加於陰有汗證，左手沉微卻應未。</p>
<p>趺陽胃脈定死生，太谿腎脈為根蒂。</p>
<p>脈來六至或七至，邪氣漸深須用意。</p>
<p>浮大晝加病屬陽，沉細夜加分陰位。</p>
<p>九至以上來短促，狀若涌泉無入氣。</p>
<p>更加懸絕漸無根，命絕天真當死矣。</p>
<p>病患三部脈調勻，大小浮沉遲速類。</p>
<p>此是陰陽氣已和，勿藥自然應有喜。</p>
<p>學士脈歌一篇，即仲景評辨二章也，要當識之。</p>
<h2>韓祗和溫中例</h2>
<p>夫傷寒病之說，始自黃帝已開其端，主仲景方陳其條目，後世膚淺之學莫知其數。立言者只云：病在表可發汗，病在裡可下之，或云：不可汗，或云：不可下，即未嘗有溫中之說。仲景《傷寒例》云：尺寸俱沉細，太陰受病也；尺寸俱沉，少陰受病也；尺寸俱微緩，厥陰受病也。又辨太陰證云：太陰病，脈浮，可發汗，宜桂枝湯。又手足溫，自利不渴，宜四逆湯。又腹滿時痛，桂枝加芍藥湯。辨少陰證云：少陰證，始得之，發熱脈沉，麻黃細辛附子湯。又少陰病二三日，麻黃附子甘草湯。又少陰病，身體疼痛，手足寒，骨節痛，脈沉，附子湯。又厥陰病，吐利，手足逆冷，煩躁欲死，吳茱萸湯。又少陰病，脈沉，急溫之，宜四逆湯。今舉仲景論中數條，最是治三陰病之良法。今世之用，尚有未盡證者。愚嘗校自至和初歲，迄於今三十余年，不以歲之太過不及為則，每至夏至以前，有病傷寒人十中七八，兩手脈俱沉細數，多是胸膈滿悶，或嘔逆，或氣塞，或腹鳴，或腹痛，與仲景三陰病說，脈理同而證不同，因茲不敢妄投仲景三陰藥。才見脈沉及胸膈滿，便投下藥下之，往往不救。嘗斟酌仲景理中丸與服之，其病勢輕者，即胸中便快，其病勢重者，半日許滿悶依然。或有病患脈沉細遲，投仲景四逆湯溫之，多藥力太熱，後必發煩躁。因較量此形證，今別立方以治之，得多對證之藥，不可不傳焉。</p>
<p>上此一條，非四逆熱而不當也，仲景當漢之末，韓氏當宋之隆，時世異也。病患但兩手脈沉細數，或有力，或無力，或關脈短及力小，胸膈塞悶，氣短不能相接者，便可隨脈證投溫中藥以治之。此一法甚活。</p>
<p>病患兩手脈沉遲，或緩或緊，皆是胃中寒也。若寸脈短及力小於關尺者，此陰盛陽虛也。或胸膈塞悶，腹中脹滿，身體拘急者，手足逆冷，急宜溫之。</p>
<p>若立春以後至清明以前，宜溫中湯主之；清明以後至芒種以前，宜橘皮湯主之；芒種以後至立秋以前，宜七物理中丸主之。此皆隨時也。</p>
<h3>溫中湯</h3>
<p>丁皮（一兩）　乾薑（二錢）　白朮（二錢）　陳皮（二錢）　丁香（二錢）　厚朴（一兩，薑製）</p>
<p>上為末，每服二錢，水一盞，蔥白三寸，荊芥五穗，煎至七分，去滓熱服。三服未快，手足尚逆，嘔吐，更加舶上丁皮二錢，乾薑二錢，炮用。</p>
<h3>橘皮湯</h3>
<p>陳皮（一兩）　藿香（三錢）　白朮（二錢）　葛根（二錢）　厚朴（一兩，薑製）</p>
<p>上為末，每服二錢，水一盞，生薑一塊，棗大破，同煎至七分，去滓，熱服。如三服未快，手足尚逆，嘔吐不定，加半夏三錢，丁香、枝杖半兩，每服加蔥白三寸煎服。</p>
<h3>七物理中丸</h3>
<p>白朮（二錢）　干生薑（一錢）　人參（三錢）　桔梗（三錢）　葛根（三錢）　藿香葉（二錢）</p>
<p>上細末，煉蜜為丸彈子大。每服一丸，水一盞，煎至七分，和滓熱服。如三服未快，手足尚逆，嘔者，加半夏二錢，乾薑二錢，炮。</p>
<p>病患兩手脈沉細無力，雖三部脈力停，亦是陰氣盛也，更不須候寸脈短治之，或胸脅滿悶，身體拘急疼痛，手足逆冷，速宜溫中藥和之。</p>
<p>上此一條，不須候寸脈短一句。然當不若曰三部既沉，便是無寸口也。若立春以後至清明以前，宜厚朴丸主之；清明以後至芒種以前，宜白朮湯主之；芒種以後至立秋以前，宜橘皮湯主之。</p>
<p>上此一條，李思訓舉和解因時一說，與韓氏相似。然湯液仲景四時之法，固以備矣，以其後人不識，故韓、李為是丁寧也，此亦大概耳。若應見違時，只可隨應見而治之。</p>
<p>海藏云：仲景既言春為溫病，夏為熱病，長夏為大熱病，隨經之藥，加減輕重，便為因時和解也。正治應見，便是活法，韓、李因時定藥，是則然矣！證復違時，定藥難用，若用定藥，卻是不因時也。假令立春、清明、芒種、立秋，即歲之主氣也。定時也，若歲之客氣，司天在泉，太過不及，勝復淫，至而不至，未至而至，豈可定時為則邪？主氣為病，則只論主氣；客氣為病，則只論客氣；主客相勝，上下相召，有萬不同之變。人之稟受虛實，亦猶是也。以此言之，則仲景大經之言盡矣。但患世之醫者不知耳！此亞聖言簡而意有餘也。後之賢者，辭多而意少，務救一時之弊，云此韓、李為是因時一說也。是說也，又為庸醫執方療病者設，非敢為仲景別立一法也。噫！二公雖不足為漢之仲景，亦足以為今之仲景也。</p>
<h3>厚朴丸</h3>
<p>當歸（半兩）　丁香枝杖（半兩）　厚朴（一兩，薑製）　細辛（一錢）　人參（三錢）　甘草（半兩，炙）　乾薑（半兩，炮）</p>
<p>上為末，煉蜜為丸，彈子大。每服一丸，水一盞，煎至六分，和滓熱服。三服後脈尚細，及寸脈尚細無力，每服加蔥白三寸，同煎服。</p>
<p>此一條言寸脈小者，陽不及九天也，加蔥以通經。</p>
<h3>白朮湯</h3>
<p>白朮　半夏　當歸　厚朴　制干生薑（以上各半兩）　丁香（三錢）</p>
<p>上為末，每服三錢，水一盞，薑一棗大，打破同煎，至七分，去滓熱服。三五服後脈未有力，寸脈尚小，加細辛半兩，每服加蔥白三寸，同煎服之。寸口小，加細辛散陰升陽。</p>
<p>橘葉（半兩）　藿香（三錢）　葛根（三錢）　半夏（半兩）　厚朴（薑製）</p>
<p>上為末，每服三錢，水一盞，生薑一如棗大，同煎至七分，去滓熱服。三五服後脈尚小，手足逆冷，加細辛三錢。</p>
<p>病患胸膈滿悶，時時嘔逆，肢節疼，兩脅下痛，腹中鳴。此是有停飲，宜二苓湯。</p>
<h3>二苓湯</h3>
<p>赤茯苓　木豬苓　白朮（各半兩）　滑石（一兩）　通草（一錢）　白豆蔻（一錢）　丁皮（三錢）　陳皮（二錢）　桂枝（半兩）</p>
<p>上為末，每服三錢，水一盞，煎至七分，去滓熱服。小便未快，加瞿麥三錢。嘔未止，加半夏半兩。淅淅惡寒甚，每服加蔥白三寸。</p>
<p>上此一條，舉李思訓調小便例同。</p>
<h2>灰包熨法</h2>
<p>病患服前藥，胸膈不滿悶者，此上焦有陽也，或藥力太過，上焦有熱，腹滿虛鳴，時時痛。此是被陽藥消逐，得上焦陰氣並入下焦也。雖是下焦積寒冷，上焦陽盛，更難投溫下焦藥也。當用灰包法：炭灰或桑柴灰二三升許，入好醋拌和，干濕得所，銚內炒令灰熱，以帛包裡，置臍下熨之，頻換灰包令常熱，以腹不滿痛為度。或初熨時，病患不受者，勿聽，但令極熨之，不住灰包可也。如灰包熨後，得下利一兩行，或小便二三升，或微似有汗，此是陰氣外出，或下泄也，勿疑之，病輕者乃得愈也。後出余氣而解，舉此為例。</p>
<p>病患三部脈沉，寸脈力小於關、尺，此為陰盛，當投溫中藥以消陰氣。溫中藥者厚朴湯，陳皮、人參、白朮、藿香、當歸、乾薑、細辛之類是也。</p>
<p>海藏云：霜露山嵐雨濕霧露之氣與飲冷，寸口脈小，同診一法，神術湯後舉。此韓氏三部脈沉，寸口小於關、尺，為證一體。</p>
<p>病患若因服下藥太過，兩手脈沉細數，肢體逆冷，煩躁而渴者，此是陽氣下陷入丹田，陰氣厥逆滿上二焦，故令人躁，此名下陰躁也。醫者見病患煩躁，又不詢其端由，亦不詳其脈理，便用涼藥治之。涼藥既下，病勢愈甚，至於困極不救者多矣！病患因下之太過，兩手脈沉遲細而無力，或遍身及四肢逆冷，煩躁而渴，或引飲不休，好泥水中臥者，須用性熱藥治之。凡投性熱藥，皆須冷服，何故如是？今謂病患腹中陰氣太盛，若投湯濟，即陰陽相系，藥下即吐，須候湯劑極冷即投之。投之不吐者，蓋腹中陰氣與冷凍飲料相逢，即同氣相從爾，故藥下不吐也。藥雖冷，久則必熱，所謂始同而終異也。故醇酒冷凍飲料，久即發熱。假令投仲景四逆湯之類，一依前說。若病患不煩躁，即熱藥可溫服之，下後躁渴引飲不休，與傷冷只好飲冷同意。</p>
<p>上此一條，本是陽證下之成陰，非陽氣上行而躁，乃陽氣下陷而躁，即同伏陰脈也。叔和云：短脈陰中有伏陽。</p>
<p>海藏云：熱藥冷服，內有伏陽則可，若脈已虛，按之全無力，或病患素無所養，只可溫服，不然陰氣必不能醞釀回陽，利害非輕。</p>
<h2>海藏老人陰證例總論</h2>
<h3>神術湯</h3>
<p>治內傷飲冷，外感寒邪無汗者。</p>
<p>蒼朮（制，二兩）　防風（二兩）　甘草（炒，一兩）</p>
<p>上　咀，生薑水煎，加蔥白三寸，治吹奶如神。一調六三錢。</p>
<p>太陽證，發熱惡寒，脈浮而緊者，加羌活。</p>
<p>太陽證，脈浮緊中帶弦數者，是有少陽也，加柴胡。弦為弦而有力。</p>
<p>太陽證，脈浮緊中帶洪者，是有陽明也，加黃芩。</p>
<p>以上三證，約量每服加二錢匕。不論三陽，婦人服者，加當歸尤佳。</p>
<h2>神術湯六氣加減例</h2>
<p>太陽寒水司天，加桂枝、羌活。</p>
<p>陽明燥金司天，加白芷、升麻。</p>
<p>少陽相火司天，加黃芩、地黃（生）。</p>
<p>太陰濕土司天，加白朮，　本。</p>
<p>少陰君火司天，加細辛、獨活。</p>
<p>厥陰風木司天，加川芎、防風。</p>
<p>上神術湯六氣加減法，非止為司天之氣設也。至於歲之主氣，與月建日時同，前應見者，皆當隨所應見，依上例而加減之。</p>
<p>《日華子》云：滑石治乳癰，利津液。《生氣通天》。云：平旦人氣生，日中而陽氣隆，日西而陽氣已虛，氣門乃閉。是故暮而收拒，無擾筋骨，無見霧露，反此三時，形乃困薄。</p>
<p>王氏云：陽氣出則出，陽氣藏則藏。晚陽氣衰，內行陰分，故宜收斂以拒虛邪。動筋骨則逆陽精耗，見霧露則寒濕交侵，順此三時，乃天真久遠。</p>
<p>扁鵲云：脈一呼一吸皆四至而澀者，邪中霧露之氣。仲景云：清邪中於上焦。又云：霜降以後，春分以前，中霧露者，皆為傷寒。</p>
<h3>神術加本湯</h3>
<p>每服內加二錢匕，以意消息。</p>
<h3>神術加木香湯</h3>
<p>每服內加二錢匕，以意消息。</p>
<p>問病患中霜露山嵐雨濕之氣，頭項身體不甚痛，但四肢沉困，飲食減少，或食已痞悶，寸脈隱小，與內傷飲冷相似，何也？答曰：此膏粱少有，貧素氣弱之人多有之，以其內陰已伏，或空腹晨行，或語言太過，口鼻氣消，陰氣復加，所以成病。經云：天之邪氣，感則害人五臟。雖不飲冷，寸口亦小。又云：傷於濕者，下先受之。故從內感而求其類也。仲景云：濁氣中於下焦，以此。</p>
<h2>論霧露飲冷同為濁邪</h2>
<p>經云：清邪中於上焦。濁邪中於下焦。均霧露也。故寸口小，內傷飲冷寸口亦小。霧露入腹雖不飲冷與飲冷同，內傷飲冷雖非霧露與霧露同，何哉？脈皆陰而寸口小耳。此云岐子復斷濁邪中於下為飲冷同傷也。韓氏言寸口脈微而小，即不可下，則陰盛陽氣不能升於九天可知矣。</p>
<h3>白朮湯</h3>
<p>治內傷冷物，外感風邪有汗者。</p>
<p>白朮（二兩）　防風（二兩）　甘草（一兩，炙）</p>
<p>上　咀，每服稱三錢，水一盞，生薑三片，同煎至七分，去滓溫服，無時一口，止一二服，待二三日漸漸汗少為解。</p>
<p>《活人》防風白朮牡蠣湯當在此下。</p>
<p>風溫證，面赤自汗，嘿嘿不欲語，但欲寐，兩手脈浮而緩，或微弱，此證不宜發汗。若汗之，似令人筋惕肉　，或譫言獨語，或煩躁不臥。若下之，直視失溲便。若火之，發狂似驚癇，一逆尚引日，再逆促命期。《活人》本方葳蕤湯，以有麻黃，故不敢用，宜用上白朮湯主之。</p>
<p>頭眩汗出，筋惕肉　者，加牡蠣。</p>
<p>腰背強硬者，加羌活。</p>
<p>舌乾發渴者，加人參。</p>
<p>身灼熱甚者，加知母。若內傷冷者不加。</p>
<p>體重多汗者，加黃　。</p>
<h3>黃湯</h3>
<p>治傷寒內感拘急，三焦氣虛自汗，及手足自汗，或手背偏多，或肢體振搖，腰腿沉重，面赤目紅，但欲眠睡，頭面壯熱，兩脅熱甚，手足自溫，兩手心熱，自利不渴，大便或難，或如常度，或口乾咽燥，或渴欲飲湯，不欲飲水，或少欲飲水，嘔噦間作，或心下滿悶，腹中疼痛，或時喜笑，或時悲哭，或時太息（去聲，）或語言錯亂失志。世疑作譫語狂言者，非也，神不守室耳！始得病，寤寐之間，或恐或悸，頭項不甚痛，行步只如舊，陰氣盛陽氣走也。兩手脈浮沉不一，或左右往來無定，便有沉澀弱弦微五種陰脈形狀，舉按全無力，浮之損小，沉之亦損小，皆陰脈也。宜先緩而後急，緩宜黃　湯。</p>
<p>人參　黃　（味甘者）　白茯苓　白朮　白芍藥（以上各一兩）　甘草（七錢半，炒）</p>
<p>嘔吐者，加藿香半兩，生薑半兩，如無，干者代之。</p>
<p>上　咀，生薑水煎。量證大小，加減多少用之可也。如大便結者，宜調中丸主之。</p>
<h3>調中丸</h3>
<p>白朮　白茯苓（去皮）　干生薑　人參　甘草（炙）</p>
<p>上等分，為極細末，煉蜜丸，每兩作十丸或五丸。每服一二丸，水少許，煎服之。</p>
<p>問三四日後漸重，必躁亂不寧者，何也？經云：陽盛則發厥，陰盛則發躁，物極則反也。《外台秘要》云：陰盛發躁，名曰陰躁，欲坐井中。然陰躁一證，汗下後多有之。仲景云：汗下後仍不解，煩躁者，茯苓四逆湯主之。</p>
<p>內感陰證，飲冷胃寒而躁者，與汗下後煩躁同。厥陰熱上衝胸而發躁者，火獨炎上故也。</p>
<p>若病重急治者，宜黃　湯內每服加乾薑重一錢，與仲景理中湯同意。大便結者，理中丸主之。</p>
<h3>理中丸</h3>
<p>人參　白朮　甘草（炙）　乾薑（炮，恐熱，以干生薑代之）</p>
<p>上等分，煉蜜丸，每兩作五丸。白湯化下，水煎服之亦得。緩後失治，急也。</p>
<p>尤急者，若無汗，宜附子乾薑甘草湯。若自汗者，宜附子白朮甘草湯。量脈證，可宜四逆湯、真武湯、通脈四逆湯等，宜選用治之。至於用附子，不得已也。若身與四肢俱熱，不至於涼，或厥逆，不宜用附子，故理中有四順。理中湯、丸之名。四順者，手足自溫不厥逆是也。</p>
<p>急則失治，尤急也。</p>
<h2>論陰證躁不躁死生二脈</h2>
<p>陰證陽從內消，服溫熱藥煩躁極甚，發渴欲飲，是將汗也，人不識此，反以為熱，誤矣！熱上衝胸，服溫熱藥煩躁少寧，反不欲飲，中得和也。人若識此，續湯不已愈矣！一則始病不躁，藥而躁，脈當浮之實大，陽氣充也。手足溫和則生；若浮之損小，陽氣走也，手足厥逆則死。一則始病躁，藥而不躁，脈沉之實大，陽氣回也。手足溫和則生；沉之損小，陽氣消也，手足厥逆則死。二證服溫熱藥，陽氣不能充與不能回者，經云：責其無火也。</p>
<p>問：下之，而其脈反大者，何也？答云：下之而脈小者，理所當然。小猶可生，生之則易。仲景云：下之而脈反大者，虛也，陽將走而變。醫若不識而復下之，則氣消而成大陰矣！亦有陰躁發熱不止，大渴欲飲冷，熱上衝胸，火獨炎上，亦將盡也。以陰遍身皆寒，惟存胸中火，陰獨持權，不相管轄，迫而至此，與下之而脈大同意。下之脈大，別不見熱處，陰躁發熱，但脈小耳！一則見脈不見證，一則見證不見脈。又經云：下利脈大者，虛也，以其強下之故也。設脈浮革，固鹵腸鳴者，屬當歸四逆湯。革為寒，寒虛相搏則腸鳴。</p>
<p>發汗病不解，反惡寒者，虛故也，芍藥甘草附子湯主之。發汗若下之，病仍不解，反煩躁，茯苓四逆湯主之。汗下後，白日煩躁不得眠，夜而安靜，不嘔不渴，無表證，脈沉微，身無大熱者，乾薑附子湯主之。</p>
<h2>舉古人論陰證辨</h2>
<p>若病在少陰，則有面赤，默默不欲語，但欲寐，或四肢厥逆，或身表如冰石，脈沉細。</p>
<p>若病在厥陰，則四肢厥逆，爪甲青，面黧目黑色，或自汗不止，脈沉弦無力。</p>
<p>若病陰毒證，身表如冰石，四肢厥逆，體如被杖，脈沉細而微，或六至以至八至、九至、十至而不可數，此等陰證，易為明辨。</p>
<p>惟太陰一證，手足自溫，自利不渴，尺寸脈俱沉而弱。仲景云：宜溫之，重則四逆湯。</p>
<p>若脈浮者桂枝湯。惟此一證，與內感外陽內陰相似。外陽內陰者，即前黃　理中等湯，理中、調中等丸所治者是也。此等陰證，非古人不言。仲景評脈，首言大浮數動滑，此名陽也；沉澀弱弦微，此名陰也。非止為外感設，內感之理在其中矣。又云：陽澀而陰弦，腹中急痛者，小建中湯主之，則內外所感明矣！至如所言陰病見陽脈者生，陽病見陰脈者死，此一句即聖人大概之言也。以其陽病見陰脈，故有外陽內陰者，與陽藥俱得其生矣。</p>
<p>藥當從溫，不可遽熱，黃　湯之類是也。</p>
<p>上此一條，說古人不盡之意。</p>
<h2>論元陽中脫有內外</h2>
<p>或有人飲冷內傷，一身之陽便從內消，身表涼，四肢冷，脈沉細，是謂陰證，則易知之。若從外走，身表熱，四肢溫，頭重不欲舉，脈浮弦，按之全無力。醫者不察，便與表藥雙解等，復使汗出，三焦之氣絕，以此殺人者多矣！或自服蜜茶及沐浴蓋覆，強令汗出，以致變證不救，如此自殺者亦多矣！身冷脈沉，服調中藥，陽自內之外，身體溫和而愈。脈浮弦細者，服調中藥，陽從內生，喚入外熱，復得脈平溫和而愈。此證不可不察也。故仲景云：太陽病發熱惡寒，熱多寒少，脈微弱者，此無陽也，不可發汗。</p>
<p>上此一條，雙解、蜜茶、沐浴，陰證皆不可用。</p>
<p>又經云：脈濡而緊，濡則胃氣微，緊則榮中寒，陽微衛中風，發熱而惡寒，榮緊衛氣冷，微嘔心內煩。醫為有大熱，解肌又發汗，亡陽虛煩躁，心下苦痞堅，表裡俱虛渴，卒起而頭眩，客熱在皮膚，悵怏不得眠，不知胃氣冷，緊寒在關元。</p>
<p>上此仲景濡緊二脈，即外熱內寒證也。</p>
<h2>論宜灸不宜灸並湯沐四肢法</h2>
<p>古人謂少陰、厥陰、陰毒三證則宜灸，或用蔥熨等法，皆為身表涼故也。若陰氣在內，陽氣在外，身表壯熱，手足大溫或熱不等，則不宜灸之。若遇前三證，用熱醋炒麩注布袋中，臍下熏蒸熨極妙。又云：三陰證陷骨、歧骨間，三五七壯灸，足溫生。</p>
<p>《活人》陰證，諸藥不效，並湯水不下，身冷脈絕，氣息短，不知人，用蔥熨法。本為上熱下寒也，二法雖妙。莫若用上醋拌麩炒熱，注布袋中，臍下熏蒸，比上二法尤速。若更以蔥白煎漿作湯，以沐四肢亦可。若病患服藥後，欲作汗時，用湯沐以接四肢陽氣尤佳。</p>
<p>外接法乾薑二，炮為細末，石決明一，另研細，稱拌勻，每服二三錢匕，手心中以津唾調如泥，以手奄其陰，至暖汗出為度。以牡蠣代決明亦可，牡蠣燒粉用。</p>
<p>一法：丁香、蓽茇、乾薑、牡蠣。</p>
<p>一法：治水　偏大，上下不定，疼痛不止，牡蠣不以少多，鹽泥固濟，炭三斤，　令火盡，冷取二兩，乾薑一兩，炮為細末，二味和勻，冷水調得所，塗病處，小便大利即愈。</p>
<h3>臍下六穴</h3>
<p>神闕一穴，臍中，禁針，刺之令人出惡汁不止。</p>
<p>陰交一穴，臍下一寸。</p>
<p>氣海一穴，一名孛央，陰交下五分。</p>
<p>石門一穴，臍下二寸，三焦之募，女子禁灸，恐絕產也。</p>
<p>關元一穴，臍下三寸，小腸之募，為下紀三陰，任脈會。</p>
<p>中極一穴，臍下四寸，為氣原。</p>
<h2>論譫言妄語有陰陽</h2>
<p>舉陽證《活人》云：發躁，狂走妄言，面赤咽痛，身斑斑若錦文，或下利黃赤為陽毒者，以其脈洪大而實，或滑或促，故用酸苦之藥治之。</p>
<p>成無己云：有汗出譫語，有下利譫語，有下血譫語，有熱入血室譫語，有三陽合病而譫語，有過經不解而譫語，皆陽證也。惟有發汗過多，亡陽譫語者，不可下，柴胡桂枝湯主之。此外感汗多亡陽譫語也。</p>
<p>海藏云：有內感傷冷，語言錯亂，世疑作譫語者，神不守舍也，止是陰證，此特脈虛而不實耳！</p>
<p>《內經》云：譫妄悲笑，皆屬於熱。《難經》謂：面赤，喜笑，煩心，亦屬於熱。大抵此等證脈皆洪實，按之有力。若此等證脈按之無力，即陰氣內充，陽氣外游於皮膚之間，是無根之火也。陽氣及心火，入於皮膚之間，肺主皮毛，故有譫妄悲笑及面赤喜笑煩心之證。豈特是哉！所有胸背兩手斑出者，有唾血絲者，有鼻中微衄者，不當作陽證，當作陰證治之。故《活人》辨證，不取諸於他，而獨取諸脈，無如此最為驗也。其言可謂盡善矣，可謂盡美矣！</p>
<p>《本草》云：乾薑止唾血，硫黃治衄血。孫真人用桂心治唾血。</p>
<h2>論下血如豚肝</h2>
<p>下血如豚肝者，飲冷太極，脾胃過寒，肺氣又寒，心包凝泣，其毒浸滲入於胃中，亦注腸下，所以便血如豚肝，非若熱極妄行下血而為鮮色也。此中氣分而下行，故令人便血。若中氣逆而上行，故令人嘔血吐血也。亦非若陽證上行而溢出鮮血也。大抵陰陽二證，上行者為嘔為吐為溢，順行者為下為便為瀉，其名雖異，其實則同。</p>
<h2>論陰陽二絡</h2>
<p>《甲乙經》云：經者所不可見者也，絡者所可見者也，外之溝渠是已。然絡亦有不可見者乎，何以知之？黃帝曰：邪熱入於陽絡，則為鼻血；邪熱入於陰絡，則為後血。以是知陰絡病也。鼻血者在上，溺與後血者在下也，若吐嘔者，是知在中也。至於傷寒上厥下竭之證，或從耳目，或從口鼻，血俱出於上竅，然各隨其臟與經也。</p>
<p>扁鵲云：病若譫言妄語，身常有熱，脈當洪大而反手足厥逆，脈沉細而微者死也。</p>
<p>又云：假令心病，何以知傷寒得之？然當譫言妄語。何以言之？肺主聲，故知肺邪入心，為譫言妄語也。其病身熱，洒洒惡寒，甚則唾咳。其脈浮大而澀。</p>
<p>仲景云：譫言妄語，身微熱，脈浮大，手足溫者生，逆冷脈沉細者，不過一日死矣！又云：譫言妄語，脈澀者死。</p>
<p>以上皆陽證得陰脈也。</p>
<p>又云：發汗多，重發汗者必亡其陽，譫語脈短者死。</p>
<p>上此重發汗亡陽者，變陰也，又得陰脈死也。</p>
<h2>論自汗分陰陽</h2>
<p>成無己云：傷風自汗，汗出惡風寒者，有表也。汗出不惡風寒者，表解裡未和也。有陽明發熱汗出，此為熱越。有陽明發熱汗多者，下之。</p>
<p>海藏云：內感傷冷，自汗，大惡風寒，汗出身涼不熱者，陰證也；汗出身熱得陰脈者，亦陰證也。</p>
<h2>論手足自汗</h2>
<p>手少陽之脈，三焦之經，起於小指次指之端，上出兩指之間，循手表腕，出臂外兩骨之間，上貫肘云云。手背遍多者，三焦之氣脫也。經云：手足　然汗出，大便硬而譫語，下之則愈。以其熱聚胃，津液旁達，故手足　汗出也。成無己云：寒聚於胃，有手足汗出者乎？經云：陽明中寒者不能食，小便不利，手足　然汗出，欲作痼瘕，即是中寒也。</p>
<p>海藏云：故內感陰證，有手足逆冷而自汗者，手足自溫而自汗者，厥陰、太陰之異也。</p>
<p>上此一條，雖是三焦四逆溫和，關他二經，不可不知。</p>
<h2>論四肢振搖</h2>
<p>成氏責其為虛寒，欲汗之，其人必虛蒸而振，下後復汗而振者，表裡俱虛也，亡血發汗則寒栗而振，氣血俱虛也。有振振欲擗地者，有振振動搖，二者皆汗多亡陽，經虛不能自主持，故振也，非振栗之可比也。</p>
<p>經曰：若吐下後，心下逆滿，氣上衝胸，起則頭眩，發汗則動經，身為振搖者，茯苓桂枝白朮甘草湯主之。</p>
<p>太陽病發汗不解，其人仍發熱，心下悸，頭眩，身　動，振振欲擗地者，真武湯主之。</p>
<p>二藥皆溫經益血助氣之劑。</p>
<p>海藏云：惟好飲房室之人，真元耗散，血氣俱虛，或因勞而振，或不因勞而振，或因內感陰盛陽脫而振者，皆陰證也。</p>
<p>若因房室而得，便有陰陽易條中形狀，頭重不欲舉，目暗生花，熱上衝胸，少氣，聲不出，少腹小腹痛引陰中，或陰入於裡，脛寒而痛。此等陰證，四肢故多振搖。始得此病時，脈雖舉按有力，不可作陽證治之，若與陰藥，變寒必矣！亦不可用太熱之藥，作陰極治之，熱過則轉生他證。當以補氣溫血之藥調之，元氣漸生，可得而愈。若脈已微，面色眉間變黑，唇吻不收，爪甲微青，當用熱藥攻之。若經汗下，熱藥不可熱服，當令似溫，則陰氣不拒。經云熱因寒用，此之謂也。</p>
<p>上此一論，自為頗有理，可以發明古人所不言處。</p>
<h2>論陰證始終形狀雜舉例</h2>
<p>若病患面赤者，下虛也。手足振搖者，為元氣無主持也。腰腿沉重者，三陰經受寒濕也。或恐或悸者，知陰寒之邪在手足少陰也。喜笑則為痴，悲怡則為慘，手少陰、太陰也。頭項不甚痛，行步只如舊，知寒邪之氣不在經而在裡也。若頭項痛者，內之外逆上行而至於經矣！或已有冬伏寒邪，始得內感便發，頭項痛亦無定也。或時太息者，《靈樞》云：心不足則心系急，心系急故太息以舒之，是知手少陰心火不足也。前人云去聲是已。</p>
<p>以上初病時，多有形狀如此等類。</p>
<p>身如被杖者，陽氣盡而血脈凝澀，不能榮於身也。色青黑，腎肝子母二色，真臟見也。</p>
<p>手足倦而臥者，四肢之陽氣盡，而陰氣貴收也，臥而面壁者，陰欲靜也。惡聞人與語者，陰欲默也。昏昏欲寐者，元氣雜絕，邪熱攻肺也：或欲寐以自養，及目白睛而赤者，肺受火邪也。</p>
<p>三四日之間，或可行步，不甚覺重者，陽猶在外也。五六日陰盛，熱藥不能回者，陰主殺而暴絕，非若陽氣徘徊不已，而欲其生生也。</p>
<p>初病面赤脹者，下虛故也。至於死，先青而後赤者，陽氣不生，溫令不行而就北方寒也，其逆行如此　。經云：陽氣前絕，陰氣後竭者，其人死身色必青；陰氣前絕，陽氣後竭者，其人死，身色必赤。若陰陽二毒相匿，或只伏陽，此等陰證，或身半以上經汗死，即不青黑者亦有之。</p>
<p>厥陰有遍身青黑如花厥狀，何也？答曰：陽氣不能營運於四肢，身表經絡遏絕，氣欲行而不得行，及其得行而遽止之，故行處微紫色，不得行而止處不青則黑也。所以身如被杖，有有處，有無處也。遍身俱黑，陽氣全無也。故經絡論云：寒多則疑泣，凝泣則青黑；熱多則淖澤，淖澤則黃赤。此之謂也。</p>
<h2>傷寒發厥有陰陽</h2>
<p>夫厥者，有陰有陽。初得病身熱，三四日後，熱氣漸深，大便秘結，小便黃赤，或語言譫妄而反發熱者，陽厥也。初得病，身不熱，三四日後，陽氣漸消，大便軟利，小便清白，或語言低微而不發熱者，陰厥也。二證人多凝之，以脈皆沉故也。然陽厥而沉者，脈當有力；陰厥而沉者，脈當無力也。若陽厥，爪指有時而溫；若陰厥，爪指時時常冷也。仲景云：傷寒三二日、四五日厥者，必發熱，前熱者後必厥，厥深者熱亦深，當下之，宜承氣湯。又云：傷寒脈滑而厥者，裡有熱也，白虎湯主之。仲景云：傷寒下利清穀，裡寒外熱，手足厥而脈微微者。裡有寒也，汗出而厥者同。又云：陰病下利而脈微者，裡有寒也，白通湯主之。</p>
<p>一法無脈利不止，白通加豬膽汁，以其咽乾而煩也。</p>
<p>以上病急，或尤急，多有此形狀等類。</p>
<h2>論陰證發渴</h2>
<p>夫足少陰腎經，其直行者，上貫肝膈入肺中，系舌本，腎惡燥，故渴而引飲。經云：口燥舌乾而渴，尺寸脈俱沉，則知腎受熱邪，為陽證也，當下之。</p>
<p>陰證口乾舌燥，非熱邪侵凌腎經也，乃嗜欲之人，耗散精氣，真水涸竭，元氣陽中脫（坎內陽爻是也。）飲食傷冷，變為枯陰，陽從內消者，或不渴，陽游於外者，必渴而欲飲也。然欲飲，則飲湯而不飲水，或有飲水者，縱與不任，若不忍戒，誤多飲者，變由是而生矣。此等舌乾欲飲冷水，抑而與之湯，及得飲湯，胸中快然，其渴即解。若以渴為熱，湯能解之乎？不惟不能解其渴，其熱從而愈甚矣。以是知為陰證也，夫何疑之有！</p>
<h2>論陰證咳（一作吃）逆</h2>
<p>（許學士退陰與正元同煎，以治陰證咳逆）</p>
<p>夫逆病咳逆，火炎上使陰氣不內也。陰氣者，即吸入之陰氣也。陰證內寒，與吸入之陰同類逆者，胃熱失下也。陰氣先絕，陽氣後亦將竭，火獨炎上，逆出陰氣而為咳逆也。陰證者，內已伏陰，陰氣太甚，腎水擅權，肝氣不生，胃火已病，丁火又消，所有游行相火，寒邪迫而萃集於胸中，亦欲盡也。故令人發躁，大渴引飲，並去蓋覆，病患獨覺熱，他人按執之，身體肌肉骨髓血脈皆寒。此火即無根之火也，故用丁香、乾薑之類熱藥溫胃，其火自下，咳逆方止。非若涼膈、瀉心，以治陽證，自上而下，瀉退其火，陰氣乃生。陰證咳逆，從嘔噦而生，胃寒嘔噦不已，咳逆繼之，其聲怏悵連續不已，聲末而作咳逆，古人云煩冤是也。煩冤者，有情不能訴，有懷不能吐，故為怏悵，唯陰證陽脫而咳逆者，其狀似之。陽證咳逆，內熱與上熱相接，咳逆止在喉中；陰證咳逆，嘔從內出，或先作去聲，或與去聲相並而至喉中，故用溫胃益肺之藥主之。中既溫，天五之氣與殘火自下，又與胃中溫藥相接，變而陽氣生也。殆無異喪家之人，遑遑無依，契昔挽留，故都是反與相並立而干成其事，陰氣始退，陽氣漸生，脈亦從之而得以獲生也。</p>
<p>《靈苑》治陰咳逆，</p>
<p><u>勻氣散</u></p>
<p>川烏頭（尖者三個，炮制，去皮臍）</p>
<p>上為細末，每服二錢，黑豆二十一粒，糖沙雞頭入大水一盞，同煎至六分，承熱細細飲之。</p>
<p>《本事》治陰毒吃逆。</p>
<p>川烏頭　乾薑　附子（俱炮）　肉桂　芍藥　甘草（炙）　半夏　吳茱萸　陳皮　大黃上各等分，為末。每服一錢，水一盞，生薑三五片，煎至七分，去濁滓取清，熱呷。</p>
<h2>論陰證發熱</h2>
<p>《活人》云：發熱惡寒者，太陰也；身熱汗出　然者，陽明也；脈細頭痛嘔而發熱問：陰證有發熱者，何也？答曰：太陰、厥陰皆不發熱，只少陰有發熱二條，仲景謂之反發熱也。少陰始得之，發熱脈沉者，麻黃附子細辛湯主之。少陰病下利清穀，裡寒外熱，手足厥逆，脈不出者，通脈四逆湯主之。斷云：大抵陰證發熱，終是不同，須脈沉細，或下利，手足厥。另有陰躁發熱，欲坐井中一條。此例當在少陰條下。</p>
<p>仲景云：吐利汗出，發熱惡寒，四肢拘急，手足厥逆，四逆湯主之。又云：吐利，小便復利而大汗出，下利清穀，內寒外熱，脈微欲絕者，四逆湯主之。病發熱頭痛，身體不痛疼，當救裡，四逆湯主之。下利清穀，裡寒外熱，汗出而厥者，通脈四逆湯主之。大汗出，熱不去，內拘急，四肢疼，又下利厥逆而惡寒者，四逆湯主之。</p>
<h2>論陰證大便秘</h2>
<p>陰陽二結，寒熱不同，為躁一也。盛暑爍金，嚴冬凝海是也。</p>
<p>舉陽證經云：其脈浮而數，能食不大便者，此為實，名陽結；其脈沉而遲，不能食，宜理中丸主之。叔和云：弦冷腸中結。潔古云：脈沉弦，不能食而不大便，則為陰冷結也</p>
<h2>論陰脈小便不通</h2>
<p>舉陽證　假令陽病者，太陽之標不解，復入於本，發熱惡寒而渴，五苓散主之。</p>
<p>是濕熱在下，故令秘而不通。余證不通者，隨經而治之。若陰證不通者，脈遲細，浮中沉不一，陰氣已盛，陽氣欲絕，小便當自利，而色白反不通者，陰無以化，凝泣枯涸，如水之結冰，津液不行，故閉而不通也，當用熱藥主之。陰得陽而化，津液乃行，所以便也。大不可用利小便之藥利之，四逆東加茯苓是也，與仲陽硫黃丁香豆蔻散，內有滑石同意。大抵非茯苓、滑石二藥利小便也，蓋二味引熱藥下行，不入他經，為效速也。</p>
<p>經云：陽明中寒者不能食，小便不利，手足然　汗出，欲作痼瘕，即是中寒，與此同意。《曰：腎主大小二便難。陰陽二證，在其中矣！成無己云：陰陽相雜為之和，陰陽相離為之結。火亦有下收字處，以其心虛也。</p>
<p>仲景真武東加減例云：小便自利者，去茯苓一味。四逆散加減法：小便不利者，加茯苓。小柴胡加減法，小便不利者，加茯苓。（《活人》云：陰證腹痛，小便不利者，真武湯也。）</p>
<p>《活人》云：若陰證加以小便不通，及陰事縮入小腹，絞痛欲死者，更以臍下二寸石門穴，大假急灸之，仍須與返陰丹、當歸四逆加吳茱萸生薑湯，慎勿與尋常利小便藥也。尋常利小便藥，多用冷滑之劑。此是陰毒瓦斯在小腹所致也，當知。</p>
<p>仲景風濕相搏，骨節疼煩，不得屈伸，近則痛轉劇，汗出短氣，小便不便，惡風不欲去衣，或身腫者，甘草附子湯主之。</p>
<p>海藏云：加茯苓尤佳。發汗病不解，反惡寒者，虛也，芍藥甘海藏云：加大黃　尤佳。若腹痛者，尤宜此湯。仲景云：陽明中寒者不能食，小便不利，手足　然汗出，欲作痼瘕，即是中寒也。</p>
<h2>論陰證小便赤</h2>
<p>舉陽證，傷寒外感，四肢微厥，邪熱入裡，大便燥，小便赤而澀少，是謂熱也。</p>
<p>惟陰證內感，陽走於外，虛熱在皮毛之間，肺氣受邪，下輸於膀胱，故令小便如灰汁，兼胃虛不能食。戊與癸合，虛邪所化，赤如灰汁，色雖如此，但溺時或劑莖中不澀而快利也。</p>
<h2>論後出余氣而解</h2>
<p>病患服溫熱之藥，時有下氣者，知陰氣出也。韓氏治下焦寒，用灰包熨法，得下利一兩行，小便一兩次，及少有汗，陰氣出而下泄，知其為必解也。予以是知服調中、理中及諸附子等藥譫語，陽證者當去蓋覆，令胸臆兩手微露見風，以手按執之，久之肌肉骨間不熱者，即非陽證，真陰證也。</p>
<p>上此一條，後辨譫語形狀。</p>
<h2>論狂言若有所失</h2>
<p>恍惚狂言，若有所遺，妄聞妄見，意有所期，及從而叩，或忘或知，神去而潰，命將何依！神者亡。正謂是也。</p>
<p>問：內感陰證，有汗而解，有無汗而解者，何也？答曰：有汗而解者，或壯年津液尚全，或溫之早而得治，或傳不逆而順經，或素得養而強本，所以俱汗而解也。無汗而解者，或老年血氣俱衰，或溫之遲而失治，或經過期而不傳，或素無養而虧本，所以俱無汗而解也。有汗而解者，間有所遺；無汗而解者，邪豈能盡？故神痴而弱，不能復舊，須待飲食漸增，因食微潤，然後定其中外，各守其鄉。醫者不可不知！</p>
<p>《衍義》曰：太陰元精石合他藥，塗大風疾，別有法。陰證傷寒，指甲面色青黑，六脈沉細而疾，心下脹滿結硬，躁渴，虛汗不止，或時狂言，四肢逆冷，咽喉不利，腹疼痛，亦須佐他藥兼之。《圖經本草》已有法，惟出解州者良。</p>
<p>古方不用，今《活人傷寒》其著者，治傷寒三日，頭痛壯熱，四肢不利，正陽丹。</p>
<p>太陰元精石　硝石　硫黃（各二兩）　砂（一兩）</p>
<p>四物都細研，入瓦瓶子固濟，以火半斤，於瓶子周一寸協之，約近半日，令藥青紫色，住火待冷，取出，用臘月雪水拌勻，濕入瓷瓶子中，屋後北陰下陰乾，又入地埋二七日，取出細研，以面糊為丸雞頭實大。先用熱水浴，後以艾湯研下一丸，以衣蓋取汗出為瘥。</p>
<h2>論脈次第</h2>
<p>外感者，先太陽，次陽明，次少陽，次太陰，次少陰，次厥陰；內感者，先三陰而無定，次少陽，次陽明，次太陽，為極高之分。</p>
<p>陽從內消，從右手脈先陷，左手浮，右手沉。</p>
<p>陽從外走，從左手脈先陷，右手浮，左手沉。</p>
<p>其脈或有不然者，陰陽之變易無定也。許學士云：陰陽交互最明，正坐此耳！陽脈沉而滑，若浮者，欲升而汗也。</p>
<p>陰脈沉而細，本體也。</p>
<p>若浮而有力者，陽氣生也。</p>
<p>若浮而無力者，陽氣走也。</p>
<p>若浮若沉，或有力，或無力，陰陽交爭而未定也，惟外熱內寒者，多有此脈。</p>
<h2>用附子法</h2>
<p>古人用附子，不得已也，皆為身涼脈沉細而用之。若裡寒身表大熱者不宜用，以其附子味辛身熱消而變涼，內外俱寒，薑附合而並進，溫中行經，陽氣俱生，內外而得可保康寧，此之謂也。若身熱便用附子，切恐轉生他證，昏冒不止。可慎！可慎！</p>
<h2>論陰陽易分熱寒</h2>
<p>陰陽各相易證，仲景止用燒　散，言至簡而意至有餘也。故朱奉議立陰陽易證為二條，後人始知有寒熱之別也。故熱者有上燒　散，而又有竹皮茹湯，寒者有　鼠糞湯，而又有當歸白朮湯。至於枝正方妙香丸條下，治雜病陰陽易，藥中有牛黃、腦、麝之類，是知治熱證也，豈可一塗而取哉？學人詳之。</p>
<p>聖人立陰陽易條，雖不盡言，特舉其宏綱而已，是以後之述者，盡心焉爾矣可也。</p>
<p>海藏云：若陰陽易證，果得陰脈，當隨證用之。</p>
<p>若脈在厥陰，當歸四逆湯送下燒　散。</p>
<p>若脈在少陰，通脈四逆湯送下燒　散。</p>
<p>若脈在太陰，四順理中湯送下燒　散。</p>
<p>所用之藥，各隨其經而效為之速也，宜矣！上此一條，隨經藥下燒　散，所以補古人所不完處。</p>
<p>扁鵲云：治陰陽易傷寒，燒婦人月經衣，熱水服方寸匕。仲景云：傷寒陰陽之為弱，其人身體重，少氣，少腹裡急，或引陰中拘攣，熱上衝胸、頭重不欲舉，眼中生花，膝脛拘急者，燒散主之。</p>
<h3>燒散</h3>
<p>上取婦人中　近隱處剪燒灰，以水和服方寸匕，日三服，小便即利，陰頭微腫則愈。婦人病取男子　襠，燒灰用之。</p>
<h3>《活人》鼠糞湯</h3>
<p>療傷寒病後男子陰易。</p>
<p>韭白根（一把）　鼠糞（一十四枚）</p>
<p>上二味，以水二升，煮取半升，去滓，再煎三沸，溫溫盡服。必有黏汗出為效，未汗再服。亦理諸般勞復。鼠屎，兩頭尖者是也。</p>
<p>海藏云：經不言　鼠糞，只言牡鼠糞兩頭尖，治勞復。文具鼴鼠條下，又分鼠也，並不見鼠之名。晏鼠大獸如豬，分鼠之形，以其肥亦如豬形，　之名想亦出此。牡即父也，雄也，在野難得，在人家諸物中遺下兩頭尖者，亦可用。　，牡豕也，子路佩　。</p>
<p>許慎云：菜一名久者，謂之韭，園人種之，歲三四割，其根不傷，冬培之，先春復生，信乎其久者也。</p>
<p>《易稽覽圖》云：政道得則陰物變陽。鄭康成云：若蔥變韭是也，然則蔥冷而韭溫可驗</p>
<p>《活人》治陰陽易證，　糞湯用韭白根，非獨取其性溫也，蓋亦取其陰物變陽之意，述類象形，古人以至於此。</p>
<h3>竹皮湯</h3>
<p>療交接勞復，卵腫，腹中絞痛，便絕。</p>
<p>竹皮（青刮，一升。）</p>
<p>上一味，以水三升，煮一升半，絞去滓，分服立愈。</p>
<h3>青竹茹湯</h3>
<p>婦人病未平復，因有所動，致熱氣上衝胸，手足拘急搐搦，如中風狀，宜青竹茹湯。</p>
<p>栝蔞根（無黃者，一兩）　青竹茹（刮，半斤，淡竹是也）</p>
<p>上以水二升半，煮取二合，去滓，分二三服。</p>
<h3>當歸白朮湯</h3>
<p>婦人病未平復，因有所動，小腹急痛，腰胯疼，四肢不住舉動，無熱發者，宜當歸白朮湯。</p>
<p>白朮（一分）　當歸（一分）　桂枝（一分）　附子（一分）　生生薑（半兩）　甘草（一分）</p>
<p>芍藥（一分）　人參（一分）　黃　（一分）</p>
<p>上銼如麻豆大，以水三升，煮取一升半，去滓，通口服一盞，食頃，再服，溫覆微汗瘥海藏云：四肢不住舉動，振搖即反覆，皆是。</p>
<h2>發明仲景活人</h2>
<p>燒　散灰性雖無寒熱，只是推出陰中外來著人邪氣，述類象形之法，聖人以至於此。故成無此朱公出人意表，而後之述者之不可及也。</p>
<h3>妙香丸</h3>
<p>辰砂（飛研，九兩）　龍腦　膩粉（研）　麝香（研，各三分）　牛黃（三錢）　金箔（九十個，研）　巴豆（三百一十五個，去皮心膜，炒熱，研如面，去油）</p>
<p>上合研勻，煉蜜出淨黃蠟六兩，入白沙蜜三分同煉，令勻為丸，每兩作三十丸。</p>
<p>若男子婦人因病傷寒時疾，陰陽氣交，結伏毒瓦斯，胃中喘躁，眼赤，潮發不定，再經日數七龍仲景《活人》舉陰陽易證，若脈果陰，當用燒　散下之，入三經藥內調服，最為的當。其余雜陰陰部，為效速也。兼二藥《本經》所言，治腎氣壯陽，與諸薑、桂烏、附、茱萸等藥，佐使相助，為效大倍，不可不知。</p>
<p>醫書辭藻比之儒書，甚不美於觀覽，非若嘲風弄月之篇之暢懷也，非若禮義廉恥之典之壯志也，又非若忠節孝行之傳之聳動人之奇稱也，故士宦惡其技之末而不之學焉。是以世人所重者鮮，一旦抱疾，委命他人，豈其智邪？況傷寒古今為一大病，陰證一節，害人為尤速。予因暇日，集此《略例》，庶幾有望於好生之君子者，或有人焉！讀是書也，當反覆披玩，前後貫通，乎此，則暢懷之樂，壯志之快，奇稱之美，悉備於我，味孰大焉？既足以卻疾活命，又足以保命延年，其樂寧有涯　哉！范文正公云：不為名相，當為名醫。意亦不出此耳！七月十三日再題予作《陰證論》一書，其本有三，有多寡之異焉，非固如是之不同也。大抵聖賢之言，非一讀而能盡，故每有所得，不敢以前說為已定為已足，而不為之增益也。故初本在河南，傅夢臣輩所錄，則簡而少；次本在吾鄉，寄北京時，頗增三二論；自壬辰至丙申幾五載，而復增隨條，並藥後斷例。前人所言本意，與其所從來，或為之是，或為之小異，或又有言外不盡之機，一一具陳之。欲質之明者，則求之諸郡而不可得，但讀之既笑且嘻，長嘆而已，不知何日得吾東垣李先生一問之，吾之心始可以少安矣！吾之所以書此者，猶恐其未盡前人之意耳！丙申秋二十有一日再題</p>
<h2>海藏治驗錄</h2>
<h3>外陽內陰</h3>
<p>脾印將軍完顏公之子小將軍病傷寒六七日，寒熱間作，腕後有　三五點，鼻中微血出，醫以白虎湯、柴胡等藥治之不愈。及余診之，兩手脈沉澀，胸膈間及四肢按執之殊無大熱，此內寒也。問其故，因暑熱臥殿角之傾，先傷寒，次大渴，飲冰酪水一大碗，外感者輕，內傷者重，外從內病，俱為陰也。故先　衄，後顯內陰，寒熱間作，脾亦有之，非往來少陽之寒熱也。與調中湯數服而愈。</p>
<h3>陽狂</h3>
<p>彰德張相公子誼夫之妻許氏，乃狀元許先之之女紹明之妹也，病陽厥怒狂，發時飲食四五倍，罵詈不避親疏，服飾臨喪，或哭或歌，或以刃傷人，不言如啞，言即如狂，素不知書識字便讀文選，人皆以為鬼魔。待其靜診之，六脈舉按皆無，身表如水石，其發也叫呼聲聲愈高。余昔聞潔古老人云：《本經》言奪食則已，非不與之食，而為奪食也。當以藥大下之而使不能食，為之奪食也。予用大承氣湯下之得臟垢數升，狂稍寧，待一二日復發，又下之，得便數升，其疾又寧，待一二日又發，三下之，寧如舊，但不能食，疾稍輕而不已。下之，又五七次，計大便數斗，疾緩身溫脈生，至十四日，其疾愈，脈如舊，困臥三四日後起蘇，飲食微進，又至十日後安得。始得病時，語言聲怒非常，一身諸陽盡伏於中隱於胃，非大下之可乎？此易老奪食之意也。</p>
<p>右陽狂一條，本不當例陰證中。今暨陰狂證並列，其狂則一，其為寒熱二也。差之毫厘，繆以千裡。讀者至此，其三復之。</p>
<h3>陰狂</h3>
<p>寶豐阿磨堆侯君輔之縣丞為親軍時飲食積寒所傷久矣，一日病其脈極沉細易辨，即陰證無疑。內寒外熱，故肩背胸脅　出十數點，語言狂亂，家人驚曰：發　譫語，莫非熱乎？余曰：非也。陽為陰逼，上入於肺，傳之皮毛，故　微出，神不守舍，故錯言如狂，非譫語也。肌表雖熱，以手按執，須臾冷透如水。余與薑附等藥，前後數日，約二十余兩後中大汗而愈。</p>
<p>及見庭中物色，兒童雞犬，指之曰：此正我二三日間夢中境物也。然則神不守舍信矣。愈後起行，其狂又發，張目而言曰：今我受省札為御馬，群大使如何不與我慶？及診之，脈又沉退，三四日不大便。余與理中丸，三日內約半斤，其疾全愈。侯公之狂，非陽狂之狂，乃失神之狂，即陰也，但脈陰為驗，學人當審，獨取諸脈，不憑外證可也。</p>
<h3>陰易</h3>
<p>寶豐侯八郎外感風，內傷冷，自服通聖散，大汗出，內外陽氣俱脫，不及治而死。其子國華又病傷寒四五日，身微　，渴飲水。及診之，沉弦欲絕，厥陰脈也。溫藥數日不已，又以薑附等藥微回脈生，因渴私飲水一盂，脈復退，但見頭不舉，目不開，問之則犯陰易。若只與燒散則寒而不濟矣。遂煎吳茱萸湯一大服調燒　散連進二服，作大汗兩晝止。何以然？以其至陰汗從骨髓中得溫而出，所以液汗兩晝夜方止。</p>
<h3>夜服</h3>
<p>寶豐弋唐臣時始冠，平日飲食嗜冷，久遂成陰證，脈遲七八至一止，二三日後脈僅三至。余亟進溫熱之劑數服，四五日不解，遂續夜半一服，晝三夜一，脈頗生。一夕誤闕其藥，明旦證遂增劇，復連進前藥七日兼夜，脈生大汗而解。人問其故，余曰：人與天地同一氣耳。陽病晝劇而夜寧，陰病夜劇而晝寧，各從其類而化也。今病陰極至夜尤甚，故令夜半服藥。何以然？所以卻類化之陰而接子後所生之陽，則陰易退而陽易生矣。此一條具見前章。</p>
<h3>陰血</h3>
<p>潞州義井街北浴堂秦二母病太陰證，三日不解，後嘔逆惡心，而脈不浮。文之與半硫丸二三服不止，復與黃　建中等藥，脈中得之極緊，無表裡，胸中大熱，發渴引飲，眾皆疑為陽證，欲飲之水。余與文之爭不與，又一日與薑附等藥，緊脈反細沉，陽猶未生。以桂、附、薑、烏之類，酒丸，每百丸接之，二日中凡十余服，渴止脈尚沉細，以其病患身熱燥煩不寧，欲作汗，不禁其熱，去其衣被蓋覆，體之真陽營運未全，而又見風寒，汗不能出，神憒不醒，家人衣之裝束甚濃，以待其斃，但能咽物，又以前丸接之，陽脈方出，而作大汗。蓋其人久好三生茶，積寒之所致也。愈後元秘大小始得通利，翌日再下瘀血一盆如豚肝。然文之疑不能判，余教以用胃風東加桂附，三服血止。其寒甚如此，亦世之所未嘗見也，治宜詳之。</p>
<p>大抵前後證變之不同，以脈別之，最為有準，不必求諸外證也。</p>
<h3>鼓擊脈</h3>
<p>子秦二又病，太陽證悉具，其脈浮數，初為陽證，經所受邪也。神術湯解之，未三日變為陰證。何以然？旺火投盛水也。以其素服三生茶及好食諸冷物，數年來臟腑積而為痼疾，一身之經皆凝寒浸漬醞釀而成太陰，脈亦從此，而變其狀，非浮非沉，上下內外舉按極有力，堅而不柔。非若陽脈來之有源，尺以下至宛中全無，惟三部中獨見鼓擊，按之觸指，突出膚表，異常緊為甚，所稟元陽無，一身游行之火獨萃於胸中，寒氣逼之，故搏而大，有加數倍，往來不可以至數名，縱橫不可以巨細狀。五日後，文之與薑附等劑而復振搖，又與真武、四逆等湯，煩躁大渴不止。若更接薑附，其汗必作，其人自疑為熱而益飲水，及得水稍蘇，斯須脈陷沉而緊，厥逆神　。至六日晡前後大便秘結，小便赤色而少，強溲得涓滴，時手冷至肘，足冷至膝，脈將絕而不可救。欲復與四逆等湯，恐煩躁思飲而生變。文之請曰：何法以治？余教以烏、附、薑、桂、良薑等佐以芍藥，茴香之類，酒糊丸，引而下之，而使不僭。急服之百丸，晝夜相接，八九陽氣從下復生，胸膈不煩躁，不思水，與溫劑則微咽，大便軟，屢下氣，陰得以出，小便通快成劑如灰汁，脈微生。服丸至千半陽氣遍體，作汗而愈。後神又不全，少氣乏力，又與溫中等藥數服，然後良愈。非平昔飲冷腸胃積寒之久者，脈不如此之鼓擊也。鼓擊者何？雖可謂大非大也，忿怒也，宜詳審辨認，世罕有之。大抵此脈屬緊，比緊為尤甚，故名鼓擊也。仲景云：諸緊為寒。又云：脈浮而緊寒在表也，脈沉而緊寒在裡也。緊似弦而非，有如牽繩之狀，即為緊也，非帶洪而有源也。成無己云：累累如循長竿，連連而強直也。通真子歌云：緊若牽繩轉索初。海藏云：牽繩之緊，循竿之直，二者皆近於鼓擊，鼓擊者尤甚於二脈數倍。啟玄子云：盛脈同陽四倍以上，陰之極也。</p>
<h3>腹痛</h3>
<p>潞州提領姬世英，平昔好冷物涼藥，自謂膏粱充肥必多熱，因眼疾又並寒劑數日，遂得陰病。脈緊而無力，自胸至臍腹下大痛劇甚，凡痛則幾至於斃。去歲已嘗有此證，求治於宋文之，得愈。今復病，尤甚於去年。又亟命文之，文之與薑附等劑雖稍蘇，痛不已，遂以文之所用方內倍芍藥，令服之。予謂病者曰：良久痛當自胸中下，節次至腹，或大便得利，或後出余氣，則寒毒得以出矣。後果如其言。翌日愈後，令常服神應丸，以斷其積寒之根。</p>
<h2>跋</h2>
<p>《陰證略例》一冊，元海藏老人王好古撰，以傷寒陰證較陽證尤難辨，故作專書以發明之。</p>
<p>審證用藥具有條理，前有麻革信之序。考《四庫》著錄海藏醫書有《醫壘元戎》十二卷，《此事難知》二卷，《湯液本草》三卷，獨無此書，蓋當時尚未出也。而明人編《東垣十書》者，亦未見此書，知為罕覯之秘笈矣。此本前有虞山錢會遵王藏書一印，又有惠定宇手定本一印，又有孫印從沾慶增氏二印，中有惠棟之印，字曰「定宇」。二印後有孫慶增家藏一印。近為吾友震澤吳君曉鉦所得，真舊鈔也。好古字進之，趙州人，以進士官本州教授。自金入元，少時與李杲東垣同游張元素潔古之門，而年輩較晚，其後復學於東垣，故《醫壘元戎》稱先師潔古老人，又稱東垣李明之先生，而此書麻序但云海藏先生王君進之，家世趙人，早以通經舉進士，晚獨喜言，醫始從東垣李明之，盡傳其所學。冊末自題亦云不知何日復得吾東垣李先生一問之，並不及潔古何歟？然書中首列岐伯陰陽脈例，即次以潔古老人內傷三陰例，乃次以海藏老人內傷三陰例，而伊芳尹、扁鵲、仲景諸例俱編於後，雖不稱先師而尊師之意已隱然見於言外矣。或有訾其用藥過於溫熱者，不知專論陰證，何可雜入陽證治法。海藏著述具存，豈但能治陰證不能治陽證者，安得以後入不辨陰陽，偏執貽誤，追咎古人哉！自序題壬辰歲為金哀宗天興元年，即蒙古太宗四年。冊末自題稱丙申秋，乃蒙古太宗八年，金亡已三年矣。麻序題歲癸卯，則太宗後乃馬真氏稱制之二年也。《醫壘元戎》成於丁酉，歲在此書後一年，唯《此事難知》自序題至大元年，則上距金亡已七十余年，豈海藏享上壽至武宗時猶存耶？抑至大當是至元刊本之訛耶？並書以俟考。</p>
<p><u>同治三年歲在甲子秋七月烏程汪日楨書於上海寓舍</u></p>
