<header><h1>外科精義</h1></header>
<dl class="元資料" data-type="book">
<div><dt>作者</dt><dd>齊德之</dd></div>
<div><dt>朝代</dt><dd>元</dd></div>
<div><dt>年份</dt><dd><data value="1271/1368">公元1271年至公元1368年</data></dd></div>
<div><dt>底本</dt><dd>《欽定四庫全書·子部五·醫家類·外科精義》（<a href="https://www.kanripo.org/text/KR3e0064/">掃描及文字化本</a>）</dd></div>
</dl>
<h2>卷上</h2>
<h3>論瘡腫診候入式法</h3>
<p>夫醫者，人之司命也；脈者，醫之大業也。蓋醫家苟不明脈，則如冥行索途，動致顛復夫大方脈、婦人、小兒、風科，必先診脈，後對症處藥。獨瘡科之流，多有不診其脈候，專攻治外；或有證候疑難，別召方脈診察，於瘡科之輩，甘當淺陋之名。噫！其小哉如是。原夫瘡腫之生，皆由陰陽不和，氣血凝滯。若不診候，何以知陰陽勇怯，氣血聚散也。由是觀之，則須信療瘡腫於診候之道，不可闕也。歷觀古今，治療瘡腫方書甚多，其間診候之法，略而未詳，比夫諸科，甚有滅裂。愚雖不才，輒取《黃帝素問》、《難經》、《靈樞》、《甲乙》及叔和、仲景、扁鵲、華佗、《千金》、《外台》、《聖惠》、《總錄》，古今名醫諸家方論之中，診候瘡腫之說，簡編類次，貫成篇帙。首載診候入式之法，次論血氣色脈參應之源，後明脈之名狀、所主證候及瘡腫逆從之方，庶使為瘡腫科者，覽此則判然可曉，了朝臨疾，診候至此，則察逆從，決成敗，若黑白之易分耳！</p>
<h3>論榮衛色脈參應之法</h3>
<p>夫天地之道，曰陰與陽；陰陽在人，曰血與氣。蓋血者榮也，氣者衛也；榮者榮於中，衛於外。所以榮行脈中，衛行脈外；脈者，血氣之先也。血非脈則焉能榮於中？氣非脈則焉能衛於外？二者相資而行，內則通於五臟六腑、十二經絡；外則濡於九竅四肢、百節萬毛。</p>
<p>晝夜循行，如環無端，以成其度。會於寸口，變見於脈。故曰氣血者，人之神也；脈者，氣血之神也。所以治病之始，五決為紀。蓋五決者，五臟色之與脈，當相參應。故曰能合色脈，可以萬全也。凡此不精，雖聰惠辯博，亦不足委也。</p>
<h3>論持手訣消息法</h3>
<p>夫診候之脈法，常以平旦為紀，陰氣未散，陽氣未動，飲食未進，血氣未亂，經脈未絡脈調勻，故乃可診有疾之脈。若遇倉卒病患，不拘此論。《內經》所謂持脈有道，以虛靜為保。但可澄神靜慮，調息凝心，視精明，察五色，聽聲音，問所苦，方始按寸尺，別浮沉，以此參照決死生之分矣。復觀患人身形長短肥瘦，老少男女，性情緩急，例各不同，故曰形氣相得者生，三五不調者病。謂如室女尼冠脈當濡而弱；嬰兒孺子之脈細而疾；三四歲者，呼吸之間，脈當七、八至為平。比夫常人，特不同耳！大抵男子先診左手，女子先診右手；男子左脈大者順，女子右脈大者順。大凡診脈先以中指揣按掌後高骨，骨下為關；得其關位，然後齊下兩左右二指。若臂長人，疏排其指；若臂短人，密排其指。三指停穩，先診上指曰寸口，浮按消息之，中按消息之，重按消息之，上境消息之，下境消息之，推而外之消息之，推而內之消息之；然後先關、後尺消息之，一類此。若診得三部之中，浮沉、滑澀、遲疾不調，何病所主，外觀形色，內察脈候，參詳處治以忠告之。不可輕言談笑，亂說是非，左右瞻望，舉止忽略，此庸醫也。</p>
<h3>論三部所主臟腑病證</h3>
<p>夫診候之道，醫者之難精也。若非燈下苦辛，勤於記誦，參師訪友，晝夜不遑，造次顛寤寐俯仰，存心於此，安能知神聖之妙哉？古人曰：按其脈，知其疾，命曰神，以悟其探賾索隱之妙也。又曰：切其脈，治其病，謂之巧，以明其指別之功也。蓋三指相去毫厘之近，主病若千裡之遠。觀夫指別之功，世人固以為難，命曰神，豈容易可至哉？常考於經，脈有三部，寸、關、尺也。從魚際至高骨，卻行一寸曰寸，從寸上一分曰魚際，從寸至尺曰尺澤，寸後尺前為關。關前為陽，即寸口也；關後為陰，即尺脈也。陽出陰入，以關為界。寸主上焦、頭、手、皮毛；關主中焦、腹及腰；尺主下焦、小腹及足。此三部所主大略也。又有左右兩手三部，為之六脈也；又有人迎、氣口、神門，所主又各不同。蓋左手關前曰人迎，右手關前曰氣口，兩關之後一分即曰神門。故脈法贊曰：肝、心出左，肺、脾出右；腎為命俱出尺部；魂魄穀神，皆見寸口。所謂左手關前，心之部也，其經手少陰與手太陽為表裡，小腸合為府；左手關上，肝之部也，其經足厥陰與足少陽為表裡，膽合為府；左手關後，腎之部也，其經足少陰與足太陽為表裡，膀胱合為府；右手關前，肺之部也，其經手太陰與手陽明為表裡，大腸合為府；右手關上，脾之部也，其經足太陰與足陽明為表裡，胃合為府；右手關後，命門之部也，其經手厥陰與手少陽為表裡，三焦合為府。此謂六部所主臟腑十二經之義也。</p>
<p>又「脈要精微論」曰：尺內兩旁則季脅也；尺外以候腎，尺裡以候腹；中附上，左外以候肝，內以候膈；右外以候胃，內以候脾；上附上，右外以候肺，內以候胸中；左外以候心，內以候膻中；前以候前，後以候後；上竟上者，胸喉中事也；下竟下者，小腹腰股膝脛中事也。粗大者，陰不足，陽有餘，為熱中也。來疾去疾，上實下虛為厥顛疾；來徐去疾，上虛下實為惡風也。故中風者，陽氣受也。有脈俱沉細數者，少陰厥也；沉細數散者，寒熱也；浮而散者，為恂仆。諸浮而數者，皆在陽，為熱，其有躁者在手；諸細而沉者皆在陰，則為骨痛，其有靜者在足。數動一代者，病在陽之脈也。泄及便膿血諸過者，切之澀者，陽氣有餘也，滑者陰氣有餘也。陽氣有餘為身熱無汗，陰氣有餘為多汗身寒，陰陽有餘則無汗身寒。推而外之，內而不外者，有心腹積也；推而內之，外而不內者，身有熱也；推而上之，上而不下者，腰足清也；推而下之，下而不上者，頭項痛也。按之至骨脈氣少者，腰脊痛而身有痹也。以上諸疾，若非指明心了，烏可得而妙也！又「平人氣象論」曰：一呼脈再動，一吸脈亦再動，呼吸定息，脈行五動，為者，不病也時曰平信。信夫四時之脈，皆以胃氣為本，謂春弦、夏洪、秋毛、冬石。春之胃脈，微弦曰平。余皆仿此。逆四時則病矣。若診婦人之脈，妊身則慎勿亂投湯散。其婦人之脈，診得少陰脈動甚則有子也；又曰：陰搏陽則有子也；又曰：身汗而無脈者，即有妊也。蓋重身者，問其月事，觀其體貌，然後主治，不可忽也。又經曰：察色按脈，先別陰陽；蓋陰陽者，天地之道也。是以治病者，必求其本，本於陰陽寒暑四時，五臟之根也。以脈言之，則浮沉也；以部位言之，則尺寸也。故經云：脈者，陰陽之法，以應五臟，是謂呼出心與肺，吸入腎與肝，呼吸之間，脾受穀味，其脈在中也。以浮沉論之，則曰浮者陽也，沉者陰也，應在腑，則浮而大散者心也，浮而短澀者肺也，所以心肺俱浮也，牢而長者肝也，按之而大，舉指來實者腎也，所以肝腎俱沉也，遲緩而長者脾也，脾為中州，所以脈在中也。仲景曰：大、浮、數、動、滑，皆陽也；沉、澀、弱、弦、微，皆陰也。陽者熱也，陰者寒也。所以寒則脈來沉而遲，熱則脈來浮而數。故曰：諸數為熱，諸遲為寒，無如此驗也。《脈經》曰：諸浮為風，諸緊為痛，諸伏為聚，諸弦為飲，芤者失血，長則氣治，短則氣病，澀則煩心，大則病進，浮為在表，沉為在裡，遲為在臟，數為在腑。又形壯脈細，少氣不足以息者危；形瘦脈大，胸中氣多者斃。形氣相得者生，三五不調者病，三部九候皆相失者死。此先聖診脈之大法也。故曰：凡治病則察其形氣色澤，治之無候其時也。所以形氣相得者生，色澤以浮者病易己，脈從四時者可治，脈弱似滑者是有胃氣，此皆易治也。若形氣相失，或色夭不澤及脈逆四時，或脈實益堅，皆不可治。經所謂必察四難而明告之。又若病熱脈靜，泄而脈大，脫血脈實，汗後脈躁，此皆難治也。若瘡疽之人，膿血大泄，脈滑數者，難治也；凡膿多，或如清泔，脈滑大散，寒熱發渴者，治之無功也。若患肺瘡者，咳嗽膿血，脈見洪滑，治之難痊矣。大凡診脈見浮數，應當發熱而反惡寒，雖頭項拘急，四肢煩痛，或復戰栗渴甚者，但有痛處，欲發瘡腫也。</p>
<h3>論脈證名狀二十六種所主病證</h3>
<p>夫脈之大體二十六種，此診脈之紀綱也。細而論之，毫厘少差，舉治必遠。總而言之，虛實，陰陽而已，兩者議之，以要其中。謹於諸家脈法中，撮其機要，剪去繁蕪，載其精義浮脈之診，浮於指下，按之不足，舉之有餘。再再尋之，狀如太過。瞥瞥然見於皮毛間為表證，或為風，或為虛。浮而大散者心也，浮而短澀者肺也。浮而數者熱也。浮數之脈應發熱，其不發熱而反惡寒者，瘡疽之謂也。</p>
<p>洪脈之診，似浮而大，按舉之則泛泛然滿三部，其狀如水之洪流，波之涌起。其主血實。瘡腫論曰：脈洪大者，瘡疽之病進也。如瘡疽結膿未成者宜下之，膿潰之後，脈見洪大則難治，若自利者不可救治也。</p>
<p>滑脈之診，實大相兼，往來流利如珠，按之則累累然滑也。其主或為熱，或為虛，此陽脈也。瘡疽之病，膿未潰者，宜內消也；膿潰之後，宜托裡也。所謂始為熱而終為虛也。</p>
<p>數脈之診，按之則呼吸之間，動及六至，其狀似滑而數也。若浮而數則表熱也，沉而數熱也。又曰：諸數為熱。仲景曰：脈數不時見則生惡瘡也。又曰：肺脈洪數則生瘡也。診諸瘡洪數者，裡欲有膿結也。</p>
<p>散脈之診，似浮而散，按之則散而欲去，舉之則大而無力。其主氣實而血虛，有表無裡腫膿潰之後，而煩痛尚未痊退者，診其脈，洪滑粗散難治也，以其正氣虛而邪氣實也。又曰：肢體沉重，肺脈大則斃，謂浮散者也。</p>
<p>芤脈之診，似浮而軟，按之中央空，兩邊實。其主血虛，或為失血瘡腫之病。診得芤脈，膿潰後易治，以其脈病相應也。</p>
<p>長脈之診，按之則洪大而長，出於本位。其主陽氣有餘也。傷寒得之，欲汗出自解也；長而緩者，胃脈也，百病皆愈，謂之長則氣治也。</p>
<p>牢脈之診，按之則實大而弦，且沉且浮，而有牢堅之意，若瘰瘰結腫。診得牢脈者，不可內消也。</p>
<p>實脈之診，按舉有力而類結曰實。經曰邪氣勝則實，久病則虛，人得此最忌。瘡疽之人得此，宜急下之，以其邪氣與臟腑俱實故也。</p>
<p>弦脈之診，按之則緊而弦，其似緊者為弦，如按弦而不移，緊如內繩而轉動，以此為異脈浮弦而平，不時見則為飲為痛，主寒主虛。瘡疽論曰：弦洪相搏，外緊內熱，欲發瘡疽也緊脈之診，似弦而緊，按之如切繩而轉動。其主切痛積癖也；瘡腫得之，氣血沉澀也，亦主痛也。</p>
<p>澀脈之診，按之則散而復來，舉之則細而不足，脈澀則氣澀也，亦主血虛，瘡腫潰後得之，無妨也。</p>
<p>短脈之診，按舉則不及本位。《內經》曰：短則氣病，以其無胃氣也。諸病脈短，皆難治也；瘡腫脈短，真氣短也。</p>
<p>細脈之診，按之則縈縈如蜘蛛之絲而欲絕，舉之如無而似有。細而微，其主元陽衰也；瘡腫之病，脈來細而沉，時直者，裡虛而欲變證也。</p>
<p>微脈之診，按之則軟小而極微。其主虛也。真氣復者生，邪氣勝者危；瘡腫之病，潰後脈微而勻舉自瘥也。</p>
<p>遲脈之診，按舉來遲，呼吸定息，方得三至，其狀似緩而稍遲。痼疾得之則善，新疾得之則正氣虛憊；瘡腫得之，潰後自瘥。</p>
<p>緩脈之診，按舉似遲，而稍駛於遲。仲景曰：陽脈浮大而濡，陰脈浮大而澀，陰陽同等緩。脈見長緩，百疾自瘳；凡諸瘡腫潰後，其脈澀遲緩者皆易愈，以其脈候相應，是有胃氣沉脈之診，舉之不足，按之方見如爛綿，其主邪氣在臟也。水氣得之則逆，此陰脈也；瘡腫得之，邪氣深也。</p>
<p>伏脈之診，比沉而伏，舉之則無，按之至骨，方得與沉相類，而邪氣益深矣。</p>
<p>虛脈之診，按之不足，遲大而軟，輕舉指下，豁然而空。經曰：脈虛則血虛。血虛生寒，陽氣不足也；瘡腫脈虛，宜托裡和氣養血也。</p>
<p>軟脈之診，按之則如帛在水中，極軟而沉細，亦謂之濡。其主胃氣弱；瘡腫得之，補虛排膿托裡。</p>
<p>弱脈之診，似軟而極微，來遲而似有。仲景曰：微弱之脈，綿綿如瀉漆之絕。其主血氣俱虛，形精不足；大抵瘡象沉遲濡弱，皆宜托裡。</p>
<p>促脈之診，按之則來去數，時一止而復來。仲景曰：陽盛則促，主熱蓄於裡也，下之則和；瘡腫脈促，亦急下之。</p>
<p>結脈之診，按之則往來遲緩，時一止而復來。仲景曰：陰盛則結。經曰：促結則生，代代脈之診，按之則往來，動則中止不能自還，因而復動者，曰代脈也。代者氣散也，諸病見之不祥；大凡瘡腫之病，脈促結者難治，而況見代脈乎！動脈之診，見於關上，無頭尾，如豆大，厥厥然而動搖者是也。《脈經》曰：陰陽相搏謂之動。動於陽則陽氣虛而發厥，動於陰則陰氣虛而發熱。是陽生於尺而動於寸，陰生於寸而動於尺，不可不辨也。</p>
<h3>論三部脈所主證候</h3>
<p>夫寸關尺者，脈之位也；浮沉滑澀者，脈之體也。奠位分體、指文語證者，診脈之要道</p>
<p>《脈經》曰：大凡診候，兩手三部脈滑而遲，不浮不沉，不長不短，去來齊等者，無病也。</p>
<p>寸口脈浮者，傷風也；緊者，傷寒也；弦者，傷食也。浮而緩者，中風也；浮而數者，也；浮而緊者，膈上寒，脅下冷凍飲料也。沉而緊者，心下寒而積痛；沉而弱者，虛損也。緩而遲者，虛寒也。微弱者，血氣俱虛也。弦者頭痛，心下有水也；雙弦者，兩脅下痛也。偏絕者，不遂也；俱絕者，不治也。　如羹上肥者，陽氣微也；連連如蜘蛛絲者，陽氣衰也。</p>
<p>關主中焦，胸腹中事。去來徐而緩者，無病也。浮者，腹滿而不欲食，胃虛脹也；滑者在胃也；數者熱結中焦也；沉伏者中焦水氣，或嘔逆而吞酸也；弱者胃氣虛也，雖有虛熱，不可大攻，須防熱去則生寒也，牢而實者，腹滿響響，噎塞而不通，或復大痛；澀者氣逆也，芤則瀉血，澀堅大實，按之不減而有力者，中焦實有結伏在胃也；微浮者，積熱不消，蛔動心悸也。</p>
<p>尺主下焦，腰腎膝脛足中事也。尺脈浮者，風熱小便難也；沉者，腰背痛而腎氣不足；，臍下熱痛，小便赤色而惡寒也；遲者，下焦寒而陰虛也；緊者，臍下小腹急痛也；緩者，腳弱下腫而痿痹也；弱者，下冷而腎氣衰也；軟者，腳不收而風痹，小便難也；伏者，小腹痛而疝瘕，穀不化也；細者，溏泄而下冷也；芤者，小便澀血而下虛也；牢而小者，足膝寒痹，腳下隱隱疼痛也；細而急者，筋攣不能行也；來而斷絕者，男子小腹有滯氣也，婦人月水不利也。</p>
<h3>論三部脈所主雜病法訣</h3>
<p>夫三部之中，俱見一脈，所主雜病，略而言之。《脈經》曰：陽邪來見浮洪，陰邪來見，水穀之邪來見實堅，寒癖之邪來見弦小。又曰：浮而滑者宿食也；短而滑者酒病也；遲而滑者脹滿也；洪而大者傷寒也；浮而數者傷風也；浮而急者，飲食不消，脾不磨也；沉而弦者，寒氣結而陰痛也；浮而緩者，皮膚不仁也；滑而散者，癱瘓也；遲而緩者，寒症也；浮而澀者，霍亂也；弱而澀者，反胃也；緊而滑者，吐逆也；短而數者，心痛也；弦而數者，為瘧也；緊而急者，尸遁也；實小而堅者，病在內而冷也；浮滑而緊者，病在外而熱也；短而急者，病在上也；長而緩者，病在下也；長而弦者，病在肝也；滑而洪者，病在心也；微而軟者，病在脾也；浮而澀者，病在肺也；沉而緊者，病在腎也。又訣曰：諸浮為風，或為虛也；諸緊為痛，或為積也；諸澀為痹，諸弦為飲，諸數為熱，諸遲為寒；芤則為失血，軟則為虛。若脈沉沉澤澤，四肢不仁者，亡果也；或大而　者，社祟也；若脈來乍大乍小，乍短乍長者，鬼祟也。</p>
<h3>論診候肺疽肺痿法</h3>
<p>夫肺者，五臟之華蓋也，處於胸中，主於氣，候於皮毛。勞傷血氣，腠理虛而風邪乘之感於肺也，則汗出、惡風、咳嗽、短氣、鼻塞、項強、胸肋脹滿，久久不瘥，已成肺痿也；風中於衛，呼氣不入。熱至於榮則吸而不出，所以風傷皮毛，熱傷血脈，風熱相搏，氣血稽留，蘊結於肺，變成瘡疽。診其脈候，寸口脈數而虛者，肺痿也；數而實者，肺疽也。肺痿之候，久嗽不已，汗出過度，重亡津液，便如爛瓜，下如豕脂，小便數而不渴，渴者自愈，欲飲者欲瘥，此由肺多唾涎沫而無膿者，肺痿也。其肺瘡之候，口乾喘滿，咽燥而渴，甚則四肢微腫，咳唾膿血，或腥臭濁沫，胸中隱隱微痛者，肺疽也。又《聖惠》曰：中府隱隱而微痛者，肺疽也；上肉微起者，肺瘡也。中府者，穴也，在云門下一寸六分，乳肋間動脈應手陷中也。是以候始萌則可救，膿成則多死。若欲知有膿者，但診其脈，若微緊而數者，未有膿也；緊甚而數者，已有膿也。又《內經》曰：血熱則肉敗，榮衛不行，必將為膿。大凡肺瘡當咳嗽短氣，胸滿時唾膿血，久久如粳米粥者難治，若嘔膿而不止者，亦不可治也；其嘔膿而自止者自愈，其脈短而澀者自痊；浮大者難治。其面色當白而反面赤者，此火之克金，皆不可治。</p>
<h3>論將護忌慎法</h3>
<p>大凡有瘡疽生，皆只如黍粟粒許大，其狀至微，人多不以為急，此蘊大患，宜速辨之，自忽。若能防之於未形，理之於未成，或朝覺而夕治，求治於良醫，則必無危困矣。若因循慢忽，詢於庸醫，致令膿血結聚，委之於命，束手待斃，不以去道遠乎！以致筋骨敗遺，穿通臟腑，死者十有八九矣，可不慎歟！蓋患瘡疽之人，托命庸醫，任意措置，危殆立至；若用良醫，則可保痊愈。用醫之際，不可不擇，辨之何難？若能飽讀經書，久諳證候，湯藥熟閑，洞明色脈，性情仁善，孝義忠信，臨時不惑，處治有決，方為良醫，委用勿疑。然後要在病患自克，不可恚怒悲憂，叫呼忿恨，驕恣情性，信任口腹，馳騁勞役；惟宜清靜恬淡耐煩為宜。於患人左右，止息煩雜，切忌打觸器物，諸惡音聲，爭辯是非，咒罵斗毆，及產婦淫男，體氣不潔，帶酒腥膻，雞犬乳兒，孳畜禽獸，並須遠離。設或親友重意問疾者，可以預囑徐行低聲，款曲伺候，禮畢躬退，勿令嗟呀，驚怪話舊，引其遠嘗宴樂，遠別親戚，牽惹情懷，但恐病患心緒淒愴；尤不可亂舉方藥，徒論虛實，惑亂患人，凝滯不決；只合方便省問，不可久坐多言，勞倦病患，深不長便。夫侍患者，宜須壽近中年，情性沉濃，勤謹耐煩，仁慈智惠。全在調以粥藥，無失時節；勿令於患人左右，彈指嗟咨，掩淚竊言，感激病患，甚不利便。飲食之間，忌慎非細，不可不載！畜中勿食驢、馬、駝、騾、豬、狗、牛、　羊等，並雜魚、龜、鱉、蝦、蟹及淹　臭陳，自死病倒之類，慎勿嘗啖。飛禽之中，忌食鵝、鴨、鴻、鷹、雀、鶴、鴛鴦、鷺鷥、鳩、鴿、鴉、雞雉及能學人言者，慎勿食之。野獸之中，忌食獐狐、兔、虎、豹、熊、豺及爪牙害人，有毒蟲獸，並父母自本命生屬，忌慎勿嘗啖。菜蔬之中，忌食黃瓜、茄子、蘭香、芸苔、胡荽、生菜、蓼、芥、菌、瓠、韭、蒜、蔥、薤，慎勿食之。果木之中，忌食桃、杏、棗、栗、李、柰、梨、梅、軟棗、紅柿、櫻桃、胡桃、榛、松、花紅及諸蟲　未熟之果，慎勿食之。若其瘡疽，膿潰腫消，氣血虛弱，則可食羊肉、鵪鶉、蕪菁、薑、醬瓜、薺、蘿卜及黃白糧米、細米、稀粥軟飯。若至肌肉全生，思想滋味，則宜食白熟酥餅，KT　粥羹湯，熟軟溫和，稀稠適中，制造如法，勿令太飽；此時尤忌饅頭蒸餅、　、餛飩、肉角、煎餅及炙爆燠　煎炒、咸酸、油膩脂肥魚肉。若至肌膚欲平，惡肉去盡，瘡口收斂之際，尚忌起立行步、揖待賓客、房酒宴會、嗔怒、沐浴，登陟台榭、運動肢體、寒暑勞倦；正宜調節飲食，保攝以待，瘡瘢平復，精神如故，氣力完全，萬無所忌。百日內慎勿觸犯之。</p>
<h3>論瘡疽腫虛實法</h3>
<p>夫瘡疽膿潰，腫毒浸展，證候危惡者，須辨虛實。況無虛者難補，實者易瀉，補瀉之法不可輕用，若或少差，利害甚大。然而虛實證多端，不可不辨。有瘡之虛實，有臟腑氣血、下真邪各有虛實，故不同也。分而言之，則腫起堅硬膿稠者，瘡疽之實也；腫下軟慢膿稀者，瘡疽之虛也；瀉痢腸鳴，飲食不入，嘔吐無時，手足並冷，脈弱皮寒，小便自利，或小便時難，大便滑利，聲音不出，精神不爽者，悉臟腑之虛也；大便硬，小便澀，飲食如故，腸滿膨脹，胸膈痞悶，肢節疼痛，口苦咽乾，煩躁多渴，身熱脈大，精神昏塞者，悉臟腑之實也。凡諸瘡疽膿水清稀，瘡口不合，聚腫不赤，肌寒肉冷，自汗色脫者，氣血之虛也；腫起色赤，寒熱疼痛，皮膚壯熱，膿水稠黏，頭目昏重者，氣血之實也；頭疼鼻塞，目赤心驚，咽喉不利，口舌生瘡，煩渴飲冷，睡語切牙者，上實也；精滑不滯，大便自利，腰腳沉重，睡臥而不寧者，下虛也；肩項不便，四肢沉重，目視不正，睛不了了，食不知味，音嘶色敗，四肢浮腫者，真氣之虛也；腫　尤甚，痛不可近，積日不潰，寒熱往來，大便秘澀，小便如淋，心神煩悶，恍惚不寧者，邪氣之實也。又曰：真氣奪則虛，邪氣勝則實。又曰：諸痛為實，癢為虛也。又曰：診其脈洪大而數者實也；微細而軟者虛也。虛則補之，和其氣托裡也；實則瀉之，疏利而自導其氣。《內經》謂：血實則決之，氣虛則掣引之。</p>
<h3>辨瘡腫淺深法</h3>
<p>夫瘡候多端，欲辨淺深，直須得法。若不素知方論，而妄生穿鑿者，如大匠舍其繩墨，度量，安能中於規矩哉？嘗聞古人有言曰：多則惑，少則得。簡而論之，則瘡疽概舉有三種：高而軟者，發於血脈；腫下而堅者，發於筋；骨肉皮色不相辨者，發於骨髓。又曰：凡療瘡疽，以手按搖，瘡腫根牢而大者深也，根小而浮者淺也。又驗其人初生瘡之時，便覺壯熱惡寒，拘急頭痛，精神不寧，煩躁飲冷者，其患瘡疽必深也；若人雖患瘡疽，起居平和，飲食如故，其疾浮淺也。惡瘡初生，其頭如米粟，微似有痛癢，誤觸破之，即　展覺有深意，速服犀角湯及漏蘆湯、通氣丸等，取通利疏暢，兼用浴毒湯　漬之類；若浮淺者，　貼膏求瘥。以此推之，淺深之辨，始終之次者也。</p>
<h3>辨膿法</h3>
<p>夫瘡腫之疾，毒瓦斯已結者，不可論內消之法，即當辨膿生熟淺深，不可妄開，視其可否至於危殆矣。凡瘡疽腫大，按之乃痛者，膿深也；小按之便痛者，膿淺也；按之不甚痛者，未成膿也。若按之即復者，有膿也；不復者，無膿也；非也，必是水也。若發腫都軟而不痛者，血瘤也；發腫日漸增長而不大熱，時時牽痛者，氣瘤也；氣結微腫，久而不消，後亦成膿，此是寒熱所為也，留積經久，極陰生陽，寒化為熱，以此潰必多成　，宜早服內塞散以排之。諸癃瘤疣贅等，至年衰皆自內潰，理於年壯，可無後憂也。又凡療癰疽，以手掩其上大熱者，膿成自軟也；若其上薄皮剝起者，膿淺也；其腫不甚熱者，膿未成也；若患瘰　結核，寒熱發渴，經久不消者，其人面色痿黃，被熱上蒸，已成膿也。至於臟腑腸胃，內瘡內疽，其疾隱而不見，目既不見，手不能近，所為至難，可以診其脈而辨之，亦可知矣。有患胃脘癰者，當候胃脈，人迎者，胃脈也，其脈沉細者，氣逆則甚，甚則熱聚胃口而不行，胃脘而為癰也；若其脈洪數者，膿已成也；設脈遲緊，雖膿未就，已有瘀血也，宜急治之，不爾則邪毒內攻，腐爛腸胃，不可救也。又肺癰論曰：始萌則可救，膿成即死，不可不慎也；久久咳膿如粳米粥者不治，嘔膿而止者自愈也。又腸癰論曰：或繞臍生瘡，膿從瘡出者，有出臍中者，惟大便下膿血者自愈也。</p>
<h3>辨瘡疽癤腫證候法</h3>
<p>夫瘡疽癤腫，其名甚多，載之紛紜，方書百緒，及之臨疾，治之無據，不知所以。《內曰：知其要者，一言而終；不知其要者，流散無窮。愚雖不才，姑揣其要而言之。熱發於皮膚之間，是以浮腫根小，至大不過二三寸者癤也；六腑積熱，騰出於外，肌肉之間，其發甚，腫反光軟，侵展廣大者癰也；五臟風積熱攻，　於肌骨，風毒猛暴，初生一頭如　白焦枯，觸之應心者疽也。夫癰疽發於六腑，若燎原之火，外潰膚肉。疽生五臟，沉澀難療，若陶室之燧，內消骨髓。癰則易療，惟難將息而遲瘥；疽則難療，易得痊復。夫癤與瘡，初生並宜灸之，謂其氣本浮達，以導其熱，令速暢也；疽則烙不宜灸，謂其氣本深沉，須達其原也。凡瘡疽生於外，皆由熱毒蘊於內。明乎三者，腫毒丹疹，可以類推矣。蓋皮膚微高起而肌濃，或痛或癢，移走無常者，謂之腫。有因風而得之者，有因風熱相搏而得之者。腫硬色白，因熱而得之者，腫　色赤；因風熱相搏而得之者，久久而不消。熱勝於風，若不即治，血不流通，與氣乘之以成膿也。又曰：風多則癢，熱多則痛，此為驗也。又有丹毒者，謂人身忽然變赤，如塗丹之狀，故謂之丹毒，世俗有云赤瘤；或因有瘡，誤而相觸，四畔　赤，謂之瘡瘤。凡丹毒之疾，皆游走不定，狀如云氣者是也，小兒得之，最忌百日之內，謂之胎瘤，以其氣血嫩弱，臟腑柔脆，難任鐮針，所以忌也。又頸腋之間而生結核，初如豆粒，或如梅李核，累累相連，歷歷三五枚，久久不消，以漸長大，或發寒熱者，謂之瘰　。有風毒者得之於風，熱毒者得之於熱，氣毒者得之於氣，悉由風熱邪氣蘊經所成，證候不同，治之者亦各異矣。</p>
<h3>辨瘡疽善惡法</h3>
<p>夫瘡疽證候，善惡逆從，不可不辨。從來醫瘡，概舉五善七惡，殊不知此特謂腸胃之內腑瘡疽所論之證也。發背、腦疽，別有善惡之證，載之於後。蓋七惡者，煩躁時嗽，腹痛渴甚，或泄痢無度，或小便如淋者，一惡也；膿血既泄，腫　尤甚，膿色敗臭，痛不可近，二惡也；目視不正，黑睛緊小，白睛青赤，瞳子上看，三惡也；喘粗短氣，恍惚嗜臥，四惡也；肩背不便，四肢沉重，五惡也；不能下食，服藥而嘔，食不知味，六惡也；聲嘶色敗，唇鼻青赤，面目四肢浮腫者，七惡也。動息自寧，飲食知味，一善也；便利調勻，二善也；膿潰腫消，水鮮不臭，三善也；神彩精明，語聲清亮，四善也；體氣平和，五善也。病有證合七惡，皮急緊而如善者，病有證合五善，而皮緩虛如惡者。夫如是者，豈淺識之所知哉！只知五善並至，則善無以加矣；七惡並至，見惡之極矣。愚意裁之，凡患瘡疽之時，五善之中，乍見一二善證，瘡亦回也；七惡之內，忽見一二惡證，宜深懼之。大抵證候，瘡疽之發，虛證見惡證者洪滑粗散者，難療；微澀遲緩者，易痊。此善惡之證，於診候之中，亦可知也。發背、腦疽及者，是為五逆。其余熱渴痢嘔，蓋毒瓦斯入裡，臟腑之傷也，當隨證以治之。</p>
<h3>砭鐮法</h3>
<p>夫上古制砭石大小者，隨病所宜也。《內經》謂針石、砭石、　針，其實一也。今時，從《聖濟總錄‧丹毒論》曰：法用鐮割出血，明不可緩也。合扁鵲云：病在血脈者，治之以砭石。此舉《素問》血實宜決之，又「氣血形志論」曰：形樂志樂，病生於內，治之砭石。蓋砭石者，亦東方來，為其東方之民，其病多瘡瘍，其法宜砭石；砭石之用，自有證候，非止丹瘤也。但見腫起，色赤游走不定，宜急鐮之。先以生油塗赤上，以鐮鐮之，要在決泄其毒。然而此法不可輕用，忌其太深。《內經》所謂刺皮無傷肉，以其九針之用，而各有所宜也。砭鐮之法，雖治瘡疽，不可輕用。</p>
<h3>貼法</h3>
<p>夫瘡腫之生於外者，由熱毒之氣蘊結於內也，蓋腫於外，有生頭者，有漫腫者，有皮濃有皮薄者，有毒瓦斯深者，有毒瓦斯淺者；有宜用溫藥貼　者，有宜用涼藥貼　者，有可以干換其藥者，有可以濕換其藥者，深淺不同，用藥亦異，是以不可不辨也。若瘡腫初生，似有者，即當貼溫熱藥，引出其熱，毒火就燥之義也；於四畔赤　處，搗生寒藥貼　之，折伏其熱勢，驅逐其邪惡，撲火之義也。夫生寒藥勢，氣力精全，性味雄健，或有療者，不本物理，皆通用藥草膏之類，有勢力微，欲使　瘠者，敵其勇夫，不亦難乎！又有粗工不審逆從，便用寒藥，敷貼趁逐，邪毒復入於內，歸於肝心，十死八九矣。大抵敷貼之法，欲消散腫毒，血脈疏通，寒熱逆從斷其去就焉，慎不可執方無權，安能散於郁結，不成膿乎！其腫皮濃者，以故軟布，或以紙花子塗藥貼　之，待其藥干換；腫皮薄者，即用疏紗，或薄紙塗藥貼之，其藥未干，即當換之。若至膿潰之後，即貼溫肌生肉膏藥，要在逐臭腐，排惡汁，取死肌，生良肉，全藉溫熱膏劑之力也，切勿用寒涼之藥水調貼之。夫血脈喜溫而惡寒，若著冷氣過理，即血滯難瘥矣。</p>
<h3>漬瘡腫法</h3>
<p>夫　漬瘡腫之法，宣通行表、發散邪氣，使瘡內消也。蓋湯水有蕩滌之功。古人有論：初生，經一二日不退，即須用湯水淋射之；其在四肢者　漬之，其在腰腹背者淋射之，其在下部委曲者浴漬之。此謂疏導腠理，通調血脈，使無凝滯也。且如藥二兩，用水二升為則，煎取一升半，以淨帛或新綿蘸藥水，稍熱　其患處，漸漸喜　淋浴之，稍涼則急令再換，慎勿冷用。夫血氣得寒則凝澀，得熱則淖澤，日用五七次，病甚者日夜不住，或十數次，腫消痛止為驗也。治瘡腫神良之法也。</p>
<h3>針烙瘡腫法</h3>
<p>夫瘡疽之疾，證候不一；針烙之法，實非小端。蓋有淺有深，有遲有速，宜與不宜，不辨。蓋疽腫皮濃口小腫多，膿水出不快者，宜用針烙。如有未成膿以前，不可以諸藥貼漬救療，以待自消；久入不消，內潰成膿，即當棄藥，從其針烙，當用火針，如似火箸磨令頭尖如棗核樣圓滿，用燈焰燒須臾，作炬數　，油燒令赤，於瘡頭近下烙之，一烙不透，即須再烙，令透，要在膿水易出，不假按抑。近代良醫，倉卒之際，但以金銀鐵鋌，其樣如針者，可通用之，實在泄其毒也；或只以木炭熟火猛燒通赤，蘸油烙之尤妙。烙後實者捻發為，虛者以紙為　，於　上醮藥　之，上以帛攤溫熱軟黏膏藥貼之，常令滋潤，勿令燥也。</p>
<p>夫瘡疽既作，毒熱聚攻蝕其膏膜肌肉腐爛，若不針烙，毒瓦斯無從而解，膿淤無從而泄，過時不烙，反攻其內，內既消散，欲望其生，豈可得乎？嗟乎！此疾針烙取瘥，實為當理，然忌太早，亦忌稍遲。嘗見粗工不審其證淺深，妄施針烙之法，或瘡深針淺烙，毒瓦斯不得泄，以致內潰；或瘡淺烙深，誤傷良肉，筋骨腐爛，或抑擦掀動，加益煩痛；或針之不當，別處作頭，或即時無膿，經久方潰，遂使痛中加痛，真氣轉傷。詳其所由，不遇良醫也。以此推之，凡用醫者，不可不擇，縱常醫療之得痊者幸矣！</p>
<h3>灸療瘡腫法</h3>
<p>夫疽則宜灸不宜烙，癰則宜烙不宜灸，丹瘤腫毒宜　漬之，腫皮光軟則針開之，以泄其治瘡之手法，迨不過此，而各有所宜。故《聖惠方》論曰：認是疽瘡，便宜灸之一、二百壯，如綠豆許，大灸後覺似　痛，經一宿，乃是火氣下徹，腫內熱氣被火導之，隨火而出，所以然也，若其瘡癢，宜隔豉餅子灸之，其餅須以椒薑鹽蔥相和，爛搗捏作餅子，濃薄如折三以來，當瘡頭豉餅子上灸之。若覺太熱則抬起，又安其上餅子若干，更換新者尤佳。若其瘡痛，即須急灸，壯數多為妙。若其膿已成者，慎不可灸，即便針開之，即得瘥也。若諸瘡經久不瘥，變成　者，宜用硫黃灸法灸之。其法：硫黃一塊，可瘡口大小安之，別取少許硫黃，於火上燒，用釵尖挑起，點硫黃令著三五遍，取膿水干差為度。若其發背初生，即宜上餅灸法灸之。初覺背上有瘡疼癢頗異，認是發背，即取淨土水和捻作餅子，徑一寸，濃二分，貼著瘡上，以艾作炷灸之，一炷一易餅子。其瘡粟米大時，可灸五、七炷；其瘡如錢許大，日夜不住灸，以瘥為度。已以數法，並依本方，一一親驗，所以載之。愚謂瘡醫自幼至老，凡所經驗，必須寫之。嘗記疳　惡瘡，諸醫不驗者，取蠐螬，剪去兩頭，安瘡口上，以艾灸之，七壯一易，不過七枚，無不效者。又法：用乞火婆蟲灸之，同前法，累驗之神效，人皆秘之，往往父子不傳。又法：赤皮蒜搗爛，焊作餅子，一如豆豉餅子灸法灸之，彌佳。</p>
<h3>內消法</h3>
<p>夫瘡疽丹腫之生，皆由陰陽不調，榮衛凝澀、氣血不流之所生也。古人有言曰：陽滯於生瘡，陰滯於陽則生疽。瘡疽之生，有內有外，內生於臟腑胸腹之中，外則生於膚肉筋骨之表，發無定處。夫鬱滯之本，則因氣血不流，蒸氣不能外達，留滯而成內熱，瘡疽所生焉。</p>
<p>若初覺氣血鬱滯，皮肉結聚，腫而未潰，特可疏滌風熱，通利臟腑一、二行，徐次諸湯　漬，即得內消矣。不然，則治之稍慢，毒熱不散，反攻其內，致令膿血之聚也。《內經》謂：治病必求於本。蓋瘡疽本乎中熱之郁結不通也，其風邪寒氣所聚也。治之宜溫熱之劑，和血令內消也。辨之有法，須認風寒則腫硬色白，熱毒則　腫色赤，以為異也。如有氣已結聚，不可論內消之法，宜用排膿托裡之藥，此皆先後之次也。</p>
<h3>追蝕瘡疽腫法</h3>
<p>夫瘡瘍生於外，皆由積熱蘊於內。《內經》謂：血熱肉敗，榮衛不行，必將為膿，留於，必將為敗。蓋瘡疽膿潰爛之時，頭小未破，瘡口未開，或毒瓦斯不出，疼痛難任者，所以立追蝕膿之方法，使毒外泄，而不內攻，惡肉易去，好肉易生也。若其瘡　，其血出不止者，則未可　；於瘡上糝追蝕之藥，待其熟可　方　。若其瘡　之痛應心根者，亦不可強　之，誤觸其瘡，其　痛必倍，變證不無，不可不慎也！若瘡癤膿成未破，於上薄皮剝起者，即當用破頭代針之劑安其上，以膏貼之。膿出之後，用搜膿化毒之藥，取效如神矣。若膿血未盡，便用生肌斂瘡之劑，務其早愈；殊不知惡肉不盡，其瘡早合，後必再發，不可不慎也！</p>
<h3>托裡法</h3>
<p>夫瘡疽丹腫結核瘰　，初覺有之，即用內消之法，經久不除，氣血漸衰，肌寒肉冷，膿稀，毒不出，瘡口不合，成聚腫不赤，結核無膿，外證不明者，並宜托裡。膿未成者，使膿早成；膿已潰者，使新肉早生。血氣虛者，托裡補之；陰陽不和，托裡調之。大抵托裡之法，使瘡無變壞之證。凡為瘡醫，不可一日無托裡之藥。然而寒熱溫涼，煩渴利嘔，臨證宜審其緩急耳！</p>
<h3>止痛法</h3>
<p>夫瘡疽之證候不同，寒熱虛實皆能為痛。止痛之法，殊非一端。世人皆謂乳、沒珍貴之可住疼痛。殊不知臨病制宜，自有方法。蓋熱毒之痛者，以寒涼之劑折其熱，則痛自止也；寒邪之痛，以溫熱之藥熨其寒，則痛自除矣；因風而痛者，除其風；因濕而痛者，導其濕；燥而痛者潤之；塞而痛者通之；虛而痛者補之；實而痛者瀉之；因膿鬱而閉者開之；惡肉侵潰者引之；陰陽不和者調之；經絡秘澀者利之。臨機應變，方為上醫，不可執方而無權也。</p>
<h3>用藥增損法</h3>
<p>古人用藥，因病制宜，治不執方，隨病增損。積聚補益，可用丸藥，以從舊不改方增損瘡疽危要之際，證候多種，安有執方之論，固可臨時加減，以從其法。只如發背、腦疽、惡疔、腫膿潰前後虛而頭痛者，於托裡藥內加五味子；恍惚不寧加人參、茯苓；虛而發熱者，加地黃、栝萎根；往來寒熱者，並潮熱者，加柴胡、地骨皮；渴不止者，加知母、赤小豆；大便不通者，加芒硝；小便不通者，加木通、燈草；虛煩者，加枸杞子、天門冬；自利者，加厚朴；四肢厥逆者，加附子、生薑；嘔逆者，加丁香、藿香；多痰者，加半夏並陳皮；膿多者，加當歸、川芎；痛甚者，加芍藥、乳香；肌肉遲生者，加白蘞、官桂；有風邪者，加獨活、防風；心驚怯者，加丹砂；口目　動者，加羌活、細辛。愚雖不才，自幼及老，凡治瘡疽，常依此法加減用藥，取效如神。後之學人，宜細詳焉。</p>
<h3>療瘡腫權變通類法</h3>
<p>夫瘡疽之病，治療多方。總而論之，各有所宜。補瀉淋　及敷掃貼　，針鐮灸烙，用之。蓋知其道也，舉治必效；昧於理者，利害不無。嘗見以寒療熱，以熱療寒，古今之通論也。又有檢方療病，妄制加減，以意裁之，自以為可。殊不知病有逆從，治有緩急，法有正權，方有奇偶，用有輕重。夫醫者意也，得其意，然後能變通也；達其變通者，悟其道而省其理也，則左右逢其源矣。愚雖不才，略陳萬一。嘗見治寒以熱而寒彌甚，治熱以寒而熱彌熾者，何也？蓋不知五臟有陰陽之性，其可因其類而取之也。假如心實生熱者，當益其腎，腎水得滋，熱將自除；腎水虛生寒，當補心，心火既降，寒將自除。此所謂寒之而熱者取之陰，熱之而寒者取之陽也。又寒因熱用，熱因寒用，要在通其理類而已。又聞微者逆之，甚者從之，何謂也？蓋治寒以熱，必涼而行之，治熱以寒，必溫而行之，此亦欲其調和也。其間有正有權者何也？蓋病有微有甚，微者逆治，理之正也；甚者從治，理之權也。然為瘡科，於補瀉、汗下、標本、逆從、正權之理，烏可闕而不知也。大凡治療瘡疽之要法曰：初覺熱毒發熱，郁結而作瘡疽，一二日宜先服五利湯，蕩滌邪氣，疏通臟腑，令內消也。古今湯法，謂切銼　咀如麻豆大，以猛火急煎，無令過熟，欲其速利也。次有丸散，宣導血脈，漸次消磨，令緩散也。助以淋　，調和榮衛，行經絡也。更當膏潤溫養，兼磨敷四畔貼　之藥，順其陰陽也。追蝕托裡，汗下調，臨時制宜；淺深緩急，自有等差；男女貴賤，亦當別論。</p>
<p>晉尚書褚澄曰：寡婦尼僧，異於妻外家，雖無房室之勞，而有憂思之苦。此深達其情者也。</p>
<p>仲景云：物性剛柔，餐居亦異，治亦不同也。所以黃帝與四方之問，岐伯舉四治之能，況病之新舊，形志樂苦，豈可執方無權，以求其愈疾哉？亦有瘡疽腫痛，初生一、二日，便覺脈沉細而煩悶，臟腑弱而皮寒，邪毒猛暴，恍惚不寧，外證深沉者，亦宜即當用托裡散或增損茯苓湯，反溫熱之劑以從治之。</p>
<h3>論五發疽</h3>
<p>夫五發者，謂癰疽生於腦、背、眉、髯、鬢是也。大概論之，分為三等。一者疽也，二也，三者癤也。夫疽初生，如黍米大，癢痛有異，誤觸破之，即　展四畔，赤腫沉悶，牽引脅肋疼痛；數日之後，漸覺肌膚壯熱，惡寒煩渴，腫暈侵展，　漿汁出，積日不潰，抑之則流血者，謂之發背疽也。其發於腦者，為腦疽也；其發於鬢、眉、髯者，以類呼也。又有初生，其狀無頭，腫闊三、四寸，始覺注悶疼痛，因循數日，皮光微軟者，甚則亦令人發熱惡寒，頭痛煩渴者，謂之發背癰也。又有初生一頭，色浮赤而無根腫，見於皮膚之間，大小一二寸者癤也。三者之候，惟疽最重。此疾初生，皆由滋味與濃衣。衣服濃暖，則表易招寒；滋味過多，則五臟生熱。臟腑積熱，則血脈不流，而毒瓦斯凝滯，邪氣伏留，熱搏於血，血聚則肉潰成瘡，淺則為癤，實則為癰，深則為疽矣。亦有因服金石發動而患此疾者，亦有平生服金石藥而亦患此疾者，蓋由上祖曾服餌者，其毒瓦斯流傳子孫。此病初生認是疽，則宜速療之；若氣實之人，急服五香連翹湯、漏蘆湯。若年幾未五十，少壯實者，可服五利大黃湯、化毒丸，取通利臟腑一、二行，瘡頭上用追毒散之類，貼溫熱膏劑，更　腫湯，潰毒湯淋之。如此調治，以待膿成，以前不可以諸藥救療，以安患人之心，慎勿惱觸。著至膿成敗潰，宜服五香湯及內托裡散、茯苓湯、當歸托裡散之類；渴不止者，服竹葉黃　湯、乳香散，勿為大熱服大黃、朴硝苦寒之藥。若因服利藥而利不止者死矣。若瘡中惡肉未退，膿水不快者，即用追蝕之藥，或鋌子　之，上用鹿角散，以醋熬為糊貼之。惡肉退去，好肉漸生，即用搜膿散、翠霞散之類　之。若瘡中毒瓦斯未盡，慎勿早斂，忌早上生肌之藥；縱得平復，必再發。其間調理次第，臨時制宜，將護忌慎之法耳！</p>
<h3>論癰疽</h3>
<p>夫瘡腫之患，莫大乎癰疽。然而癰疽何以別之？經所謂榮衛稽留於經脈之中則澀不行，不行則陽氣鬱遏而不通，故生寒熱，穢毒之氣騰出於外，蓄結為癰，久而不散，熱氣乘之，腐化為膿，然而骨髓不焦枯，腑臟不傷敗，可治而愈也。何為疽？五臟風毒積熱，毒熱熾甚，下陷肌膚，骨髓皆枯，血氣涸竭，其腫色夭，堅如牛領之皮，故命曰疽。癰者，其腫皮薄以澤，此其候也。癰疽之生，有內有外，內生胸腹臟腑之中，外生膚肉筋骨之表。凡此二毒，發無定處，而有常名。夫鬱滯之本，始於喜怒憂樂，不時飲食，居處不節，或金石草藥之發動，寒暑燥濕之不調，使陰陽之不平而蘊結，外使榮衛凝澀而腐潰。輕者起於六腑，浮達而為癰，氣行經絡而浮也；重者發於五臟，沉澀而為疽，氣行經絡而沉也。明乎二者，腫毒丹疹可以類推矣。</p>
<h3>論附骨疽</h3>
<p>夫附骨疽者，以其毒瓦斯深沉附著於骨也。此疾與賊風相類而不同，人不能辨治之誤矣。</p>
<p>骨疽者，由秋夏露臥，為冷折之，風熱伏結，附骨成疽。賊風之候，由風邪之氣搏於骨節，故其痛深徹骨髓，遇寒則痛甚。附骨疽痛而不能轉，初按之應骨，皮肉微急，洪洪如肥狀者是也。其賊風，皮骨不甚熱，而索索惡寒，時復汗出，常欲熱熨痛處，即得少寬。其附骨疽初時但痛無時，乍寒乍熱而無汗者，經久不消，極陰生陽，寒化為熱而潰也。賊風不治，久而變為彎曲偏枯，所以不同也。認是賊風，則服引越脾治風之劑，即得瘥矣。認是附骨疽，急宜服漏蘆湯，或五香連翹散疏下之，次用內消升麻湯及　潰膏貼之類，縱不能消，亦得浮淺。及有緩疽、石疽，與附骨疽亦相類矣。異者，蓋緩疽、石疽皆寒氣所作，深伏於骨髓之間，有腫與皮肉相似。若疼而堅硬如石，故謂之石疽；緩疽其熱緩慢，積日不潰，久乃亦紫黯色，皮肉俱爛，故名曰緩疽。此二者其治，初覺便宜補虛托裡溫熱之劑，以取消矣；其次調治，臨疾制宜，故不復俱載矣。</p>
<h3>論陰瘡</h3>
<p>夫陰瘡者，大概有三等：一者濕陰瘡；二者妒精瘡；三者陰蝕瘡，又曰下疳瘡。蓋濕瘡由腎經虛弱，風濕相搏，邪氣乘之，搔癢成瘡，浸淫汗出，狀如疥瘡者是也；妒精者，由壯年精氣盈滿，久曠房室，陰上生瘡，赤腫作害，煩悶癢痛者是也；陰蝕瘡者，由腎臟虛邪，熱結下焦，經絡痞澀，氣血不行，或房勞洗浴不潔，以致生瘡，隱忍不醫，　腫尤甚，由瘡在裡，措手無方，疼痛注悶，或小便如淋，陰丸腫痛是也。或經十數日，潰爛血膿，肌肉侵蝕，或血出不止，以成下疳。若身體壯熱，煩渴惡寒，宜急治之，以大豆甘草湯漬之，漬毒湯者洗浴之；服五香連翹湯、漏蘆湯等疏之，更以截疳抵聖散干糝之，四畔用磨風膏溫潤之，後以將護忌慎之。渴不止者，服竹葉黃　湯；大便軟者，宜服托裡茯苓調治之。夫如是，則無不瘥矣。</p>
<h3>論時毒</h3>
<p>夫時毒者，為四時邪毒之氣而感之於人也。其候發於鼻、面、耳、項、咽喉，赤腫無頭結核有根，令人增寒發熱，頭痛肢體痛，甚者恍惚不寧，咽喉閉塞。人不識者，將為傷寒，便服解藥，一、二日，腫氣益增方悟，始召瘡醫。原夫此疾，古無方論，世俗通為丹瘤，病家惡言時毒，切恐傳染。考之於經曰：人身忽然變赤，狀如塗丹，謂之丹毒。此風熱惡毒所為，謂之丹瘤，與夫時毒特不同耳！蓋時毒者，感四時不正之氣，初發狀如傷寒，五、七日之間乃能殺人，治之宜精辨之。先診其脈，滑、數、浮、洪、沉、緊、弦、澀，皆其候也。</p>
<p>蓋浮數者，邪氣在表也；深澀者，邪氣深也。認是時毒瓦斯實之人，急服化毒丹以攻之，熱實以五利大黃湯下之；其有表證者，解毒大黃湯以發之；或年高氣軟者，五香連翹湯主之。又於鼻內　通氣散，取十余嚏作效；若　藥不嚏者，不可治之；如嚏出膿血者，治之必愈。如左右看病之人，日日用　藥嚏之，必不傳染，切須忌之。其病患每日用嚏藥三、五次，以泄熱毒，此治時毒之良法也。經三、四日不解者，不可大下，猶宜和解之，服犀角連翹散之類；至七、八日，大小便通利，頭面腫起高赤者，可服托裡散、黃　散，宜針鐮砭割出血，泄其毒瓦斯，十日外不治自愈也。此病若五日以前，精神昏亂，咽喉閉塞，語聲不出，頭面不腫，食不知味者，必死之候，治之無功矣。然而此疾，有陰有陽，有可汗，有可下。嘗見粗工但云熱毒，只有寒藥，殊不知病有微甚，治有逆從，</p>
<h3>論諸瘡</h3>
<p>夫諸瘡之生，其類甚多種。大小方書，載之紛紛。以要而論，概舉四等。一者，因於氣留，而結於內者，謂腸胃之中癰疽是也；二者，因於氣血稽留，而結於外者，謂十疔、九、五痔之類是也；三者，不因氣血而為瘡，謂墮仆並金刃湯火灸烙，而傷皮肉之類是也；四者，不因氣血而骨肉損傷者，謂蟲獸筋骨，不必見載。今於隨方條下，該</p>
<h3>論疔瘡腫</h3>
<p>夫疔瘡者，以其瘡形如丁蓋之狀者是也。古方論之，凡有十種，華元化載之五色疔，《方》說疔瘡有十三種，以至《外台秘要》神巧萬全，其論頗同，然皆不離於氣客於經絡五臟，內蘊毒熱，初生一頭凹腫痛，青、黃、赤、黑無復定色，便令煩躁悶亂，或憎寒頭痛，或嘔吐心逆，以針刺瘡，不痛無血，是其候也。其候本因甘肥過度，不慎房酒，以致邪毒蓄結，遂生疔瘡。《內經》曰：膏粱之實，足生疔瘡，此之謂也。其治之法，急於艾炷灸之，若不覺痛者，針疔四邊，皆令血出，以回瘡錠子，從針孔　之，上用膏藥貼之，仍服五香連翹湯、漏蘆湯等疏下之為效；若或針之不痛無血者，以猛火燒錢針通赤，於瘡上烙之，令如焦炭，取痛為效，亦　前鋌子，用膏藥貼之，經一、二日膿潰根出，服托裡湯散，依常療之，以取平復。如針不痛，其人眼黑，或見火光者，不可治也，此邪毒之氣，入臟腑故也。《養生方》云：人汗入食肉，食之則生疔瘡，不可不慎也！</p>
<h3>辯疔腫十三種形色禁忌</h3>
<p>凡療疔腫，皆刺瘡心至痛處，又刺四邊十余下，令血出，去血敷藥，藥力得入針孔中，；若不達裡，藥力不到，又看口中頰邊舌上，有赤黑如珠子者是也。瘡上按之慘痛應心者，是秋冬寒毒，久結皮膚中，變作此瘡。不急療之，日夜根長，流入諸脈數道，如箭入身，顫若不慎口味房室，死不旋踵。經一曰麻子疔。其狀肉起頭如黍米，色稍黑，四邊微赤，多癢。忌食麻子油、衣布衣，並入麻田中行。</p>
<p>二曰石疔。其狀皮肉相連，色如黑豆甚硬，刺之不入，肉微痛。忌瓦礫磚石之屬。</p>
<p>三曰雄疔。其狀　頭黑靨，四畔仰　漿起有水出，色黃大如錢孔，形高者。忌房室。</p>
<p>四曰雌疔。其狀瘡稍黃，向裡靨，亦似灸瘡，四面　漿起，心凹，色赤如錢孔者。忌房室。</p>
<p>五曰火疔。其狀如湯火燒灼，瘡頭黑靨，四邊有煙漿，又如赤粟米者。忌火燒烙。</p>
<p>六曰爛疔。其狀稍黑，有白斑，瘡中潰有膿水流出，瘡形大小如匙面者。忌沸熱食爛物七曰三十六疔。其狀頭黑浮起，形如黑豆，四畔起赤色，今日生一，明日生二，及至十。若滿三十六，藥所不能治，未滿三十六可治。忌嗔怒蓄積愁恨。</p>
<p>八曰蛇眼疔。其狀瘡頭黑，皮浮生，形如小豆，狀似蛇眼大，體硬。忌惡眼人看，並嫉妒人見，忌毒藥。</p>
<p>九曰鹽膚疔。其狀大如匙面，四邊皆赤，有黑粟粒起。食鹽大忌。</p>
<p>十曰水洗疔。其狀大如錢，形如錢孔，瘡頭白，裡黑靨，汁出，中硬。忌飲漿水、水洗十一曰刀鐮疔。其狀闊狹如薤葉大，長一寸，左側肉黑如燒烙。忌刺及刀鐮切割、鐵刀所傷。可以藥治，不可亂攻。</p>
<p>十二曰浮漚疔。其狀瘡體曲圓，少許不合，長而狹，如薤葉大，內黃外黑，黑處刺之不痛，黃處刺之痛。</p>
<p>十三曰牛拘疔。其狀肉色，　起掐不破。</p>
<p>上十三種疔瘡，初起瘡心先癢後痛，先寒後熱，熱定則寒，多四肢沉重，心驚眼花。</p>
<p>重者嘔逆，嘔逆者難治。其麻子疔一種，始末惟癢。初錄忌者，不得觸犯，觸犯者，發作難治。療其浮漚疔、牛拘疔兩種，無所禁忌，縱不療，亦不能殺人，其狀寒熱與諸疔不同。皆宜將護依法治療，禁忌勿得觸犯，若或觸犯，脊強瘡痛極甚，不可忍者是也。又云：疔腫初發時，突起如丁蓋，故謂之疔。令人惡心惡寒，四肢強痛，一二日瘡變為焦黑色，腫大光起根硬，刺之不覺痛，皆其候也。在手足頭面，胸背骨節間，最急。其余處則可毒入腹，則煩悶恍惚似醉，如此者，三二日死矣，皆不可不速治也。</p>
<h3>論瘰治法</h3>
<p>夫瘰　之病，其名甚多。《巢氏病源》載之三十六種，《千金》、《聖惠》所論瘰　九論，說有風毒、熱毒、氣毒之異，瘰　、結核、寒熱之殊。其本皆由恚怒氣逆，憂思過甚，風熱邪氣內搏於肝。蓋怒傷肝，肝主筋，故令筋蓄結而腫，其候多生於頸腋之間，結聚成核。初如豆粒，後若梅李，累累相連，大小無定。初覺憎寒壯熱，咽項強痛，腫結不消者，當便服五香連翹湯或牡蠣大黃湯，疏下三兩行，於上貼十香膏、烏犀膏及用淋　腫湯、潰毒湯，時復淋　。如此救療，即得消散；若未消散，可服內消丸或皂角丸之類，漸以求瘥；若結深硬，荏苒月日，不能內消者，久必成膿；若腫高而稍軟，其人面色萎黃，皮膚壯熱上蒸，膿已成也，可以針決核中，令其潰散，則易愈也。治法如瘡法，於瘡口中用追毒蝕肉鋌子之，於上用烏犀十香膏等貼之，及托裡之劑和之。經久不瘥，或愈而復發，或別處自穴膿水透出，流津不止，肌體羸瘦者，變成九　。《內經》曰：陷脈為　，留連內腠。即此病也，可用蒜餅子灸之，然後瘡口上用紫金散、翠散等，於上　貼膏藥求瘥。其將護忌慎，治療用法，無造次焉。</p>
<h3>論痔</h3>
<p>夫痔　之候，其名有五：一曰牝痔，二曰牡痔，三曰氣痔，四曰血痔，五曰酒痔。又曰風痔、脈痔、雌雄痔，皆五痔之別名也。其狀初生，悉在肛邊，或如鼠乳，或結小核，癢痛注悶，甚者身熱惡寒。諸方論之，皆由房酒過度，久嗜甘肥，不慎醉飽，以合陰陽，勞擾血脈，腸癖滲漏，沖注下部，肛邊生瘡，變為痔疾。治法：始覺痔作，便服通氣丸、槐角丸；熱實者，服諸利湯疏利臟腑，及浴洗熏熨以取內消，切忌酒面、辛熱、房室、肥膩，稍縱嗜欲，腐滑膿血，或逗流淫汁，歲月已深，旁穿竅穴，即變痔漏，即須用寸金鋌子，三五次全愈。若能味無味之味，正味足矣；事無事之事，百事備矣；其次服餌調節，謹慎合宜，未有不瘥者也。</p>
<h2>卷下</h2>
<p><u>漏蘆湯</u></p>
<p>治一切惡瘡，毒腫丹瘤，瘰　疔腫，魚睛五發，瘭疽。初覺一、二日，便如傷寒，頭痛，拘急惡寒，肢體疼痛，四肢沉重，恍惚悶亂，坐臥不寧，皮膚壯熱，大便秘澀，小便赤黃，並宜服之。妊身莫服。</p>
<p>漏蘆　白蘞　黃芩（去黑心）　麻黃（去節）　枳實（麩炒去穰）　升麻　芍藥　甘草（炙）</p>
<p>朴硝（以上各一兩）　大黃（二兩）</p>
<p>上除硝外，余　咀，與硝同和勻。每服三錢，氣實人五錢，水一盞半，文武火煎七沸，去渣，空心熱服。</p>
<p><u>化毒丹</u></p>
<p>治百種惡瘡毒腫，初覺一二日，咳逆煩悶，或咽喉閉塞，發熱惡寒。</p>
<p>沒藥　乳香（以上各五錢，另研）　草烏頭（醋浸泡制）　浮石（以上各一兩，燒赤，醋淬七次，研，余醋另放）　巴豆（四十九個，去皮，生用，另研）</p>
<p>上五味為細末，用浮石、烏頭、余醋打面糊為丸，如豌豆大。每服五、七丸，食後冷酒送下，忌熱飲。取快利三、二行，或吐出惡為效。</p>
<p><u>內消丸</u></p>
<p>治瘡腫初生，及瘰　結核，熱毒鬱滯，服之內消矣。大效。</p>
<p>青皮　陳皮（以上各二兩）　牽牛（八兩，取頭末二兩）　薄荷葉　皂角（以上各八兩。不利者，去粗皮錘碎。二味水一斗，煮令極軟，揉汁去渣用，熬成膏。）</p>
<p>上將青皮、陳皮末並牽牛末和勻，用前膏子和丸，如綠豆大。每服三十丸，食後荊芥、茶清、溫水皆可下之。</p>
<p><u>五利大黃湯</u></p>
<p>治人年四十以前，氣血盛多，若患瘡疽，大小便秘。</p>
<p>大黃（根）　黃芩（去腐）　升麻（以上各二兩）　芒硝　梔子（以上各一兩二錢）</p>
<p>上　咀，每服五錢。水一盞半，煎五七沸，去渣，空心稍熱服。</p>
<p><u>內消升麻湯</u></p>
<p>治證同前。</p>
<p>大黃　升麻　當歸　黃芩（去腐）　枳實（炒去穰）　芍藥（以上各二兩五錢）　甘草（炙，一兩五錢）</p>
<p>上　咀，每服五錢，水一盞半，煎至七分，去渣，食前稍熱服。</p>
<p><u>五香連翹湯</u></p>
<p>（如不用五香，曰七味連翹湯）</p>
<p>治證同前。</p>
<p>沉香　藿香葉　木香　丁香（以上各一兩）</p>
<p>麝香（一字。五味為粗末，另研）　連翹　射干　獨活　升麻　甘草（炙）　寄生草（以上各一兩）　大黃（一兩五錢）</p>
<p>上七味，　咀，與前五味和勻。每服五錢，水一盞半，煎至一盞，去渣，溫服。取利為效；未利，則再服。食前。</p>
<p><u>牡蠣大黃湯</u></p>
<p>治證同前。</p>
<p>牡蠣　木香　大黃（煨。以上各等分）</p>
<p>上　咀，每服五錢，水一盞半，煎至七分，春夏露　一宿，於雞鳴時空心服之。冬月於暖處放一宿。婦人重身者勿服此藥。快利三兩行，便勿服。以上五方，對證選用。</p>
<p><u>和血通氣丸</u></p>
<p>治證同前。</p>
<p>人參（一兩）　麥門冬（去心，二兩）　大黃　黃芩（去核）　黃柏（以上各四兩）　牽牛（一斤，炒香，取頭末，四兩）</p>
<p>上六味，為細末，煉蜜為丸，如豌豆大，每服二、三十丸，食後溫水送下。尋常積熱之人，隔三、二日服此藥微利潤動，永不生瘡腫。如已早覺者，服之亦得內消矣。</p>
<p><u>地黃煎丸</u></p>
<p>治臟腑有熱，胸膈痰實，血氣不和，經絡秘澀，多生瘡腫，已患惡瘡毒腫，大小便結生地黃（新者十兩，洗，水浸研如泥）　黃連（五兩）　黃芩（去腐三兩）　枳殼（炒，去穰）</p>
<p>大黃（以上各二兩五錢）　人參（二兩）</p>
<p>上除地黃煎外，並為細末，再和地黃煎和搗入，煉蜜丸如豌豆大。每服五、七十丸，食後，溫水下。素有熱之人，日服百余丸，不發瘡瘍。年高氣弱之人，亦宜常服，清利胸膈明目。</p>
<p><u>槐角煎丸</u></p>
<p>治瘡瘍瘰　，疥癬赤腫等瘡。</p>
<p>天麻　川芎　甘草（炙）　黃藥子　甘菊花　人參（以上各一兩）　何首烏　苦參（以上各五錢）　荊芥穗　防風（以上各二兩）　槐角（並仁，另放）　皂角（不蛀者，以上各四兩，水一斗煮軟，揉汁去渣，取仁熬成膏子，其皂角取肉研成膏子為用者）</p>
<p>上除皂角膏外，槐仁與諸藥為細末，入膏內溲和，煉蜜為丸，如豌豆大。每服五十丸，食後竹葉湯下。</p>
<p><u>皂角煎丸</u></p>
<p>治風毒瘰　。</p>
<p>皂角（不蛀者三十錠，內十錠炮黑，十錠酥炙，十錠用水一斗煮軟，揉汁用度）　何首烏玄參　薄荷葉（以上各四兩）</p>
<p>上為細末，與前膏子同煉蜜為丸，如豌豆大。每服三、四十丸，食後溫水送下。</p>
<p><u>苦參散</u></p>
<p>（出野夫多效方）</p>
<p>治遍身瘡疥，經年不效。</p>
<p>苦參　蔓荊子　何首烏　荊芥穗　威靈仙（以上各等分）</p>
<p>上為細末，每服二錢，食前酒調下，日進二服，忌發風物。</p>
<p><u>苦參丸</u></p>
<p>治證同前。</p>
<p>山梔子仁　苦參　防風　玄參　獨活　枳實　甘菊花　黃連（去須）　黃芩（去心）　大黃（以上各等分）</p>
<p>上為細末，煉蜜為丸，如豌豆大。每服五十丸，茶酒任下，食後服。</p>
<p><u>肺風丸</u></p>
<p>（全體治世方）</p>
<p>治面鼻風　及　。</p>
<p>細辛　旋覆花　羌活（以上各一兩）　晚蠶蛾（去翅足）　苦參（以上各二兩）</p>
<p>上為細末，軟飯和丸梧桐子大。每服五十丸，茶、酒任下，不拘時。</p>
<p><u>連翹散</u></p>
<p>治瘡瘍癤腫，一切惡瘡，疼痛煩渴，大便溏泄，虛熱不寧。</p>
<p>連翹　山梔子　甘草　防風（以上各等分）</p>
<p>上為粗末，每服三錢，水一盞，煎至七分，去渣，溫服。不拘時候。</p>
<p><u>竹葉黃　湯</u></p>
<p>（出《總錄》一百二十一）</p>
<p>治諸癰疽、發背煩渴，及一切惡瘡發大渴者。</p>
<p>淡竹葉（二兩）　黃　當歸　川芎　甘草　黃芩（去心）　芍藥　人參　麥門冬（去心）</p>
<p>半夏（湯洗）　石膏（以上各三兩）　生地黃（八兩）</p>
<p>上為粗末，每服五錢，水一盞半，竹葉五片，生薑五片，煎至一盞，去粗，溫服。</p>
<p><u>枳殼丸</u></p>
<p>（出《總錄》）</p>
<p>治瘡疽熱癰腫瘰　。</p>
<p>枳殼（麩炒去穰）　牽牛（炒，取頭末）　木香　青皮（以上各一兩）　甘草　大黃上為細末，用皂角長一尺許者，三錠，約三兩，炮焦捶碎，以好酒煮軟，挪取汁熬膏稠黏，和前藥末為丸，如梧桐子大。每服三、五十丸，食後蔥茶下，日進二服。</p>
<p><u>五香湯</u></p>
<p>（出《總錄》）</p>
<p>治諸瘡毒瓦斯入腹，托裡。</p>
<p>丁香　木香　沉香　乳香（以上各一兩）　麝香（三錢。嘔者去麝香，加）　藿香　（渴加）</p>
<p>人參（以上各一兩）</p>
<p>上為細末，每服三錢，水一盞，煎至六分，去渣，空心稍熱服。《總錄》、《聖惠》、金》、《外台》治諸瘡腫方中，皆載此方，大同小異。大抵專治毒瓦斯入腹，煩悶氣不通者；其余熱渴，昏昧，口燥咽乾，大便硬，小便澀者，未可與服。</p>
<p><u>托裡黃　湯</u></p>
<p>（出《總錄》）</p>
<p>治諸瘡潰後，膿多內虛。</p>
<p>茯苓（去皮）　人參　官桂（去肉）　遠志（去心）　麥門冬（去心）　五味子（炮）　黃　當歸（以上各等分）</p>
<p>上為粗末，每服五錢，水一盞半，煎至一盞，去渣，溫服，食前。</p>
<p><u>托裡茯苓湯</u></p>
<p>防風　桔梗　芍藥　五味子　川芎　甘草　麥門冬（去心）　桂（去皮）　熟地黃（以上各一兩）　當歸　黃　茯苓（以上各一兩五錢）</p>
<p>上為末，每服五錢，水一盞半，煎至一盞，去渣，溫服。</p>
<p><u>托裡當歸湯</u></p>
<p>（太醫瘡科何君五方）</p>
<p>當歸　黃耆　人參　熟地　川芎　芍藥　甘草（炙）　柴胡（己上各等分）</p>
<p>上為粗末，每服五錢，水一盞，煎至六分，去渣，食前溫服。</p>
<p><u>托裡散</u></p>
<p>（出太醫瘡科成子玉方）</p>
<p>川烏頭（炮）　茯苓（以上各三兩）　乾薑（炮）　麻黃（去節）　甘草（炙，以上各一兩五錢）</p>
<p>杏仁（炒去皮尖）　五味子　桂心（以上各一兩）</p>
<p>上為粗末，每服五、六錢，水一盞半，煎至一盞，去渣，食前溫服。</p>
<p><u>托裡玄參散</u></p>
<p>（出《總錄》）</p>
<p>主托裡止渴，解熱煩渴。</p>
<p>玄參　人參　甘草（炙）　甘菊花（以上各等分）</p>
<p>上為細末，每服二錢，綠豆湯調下，亦名內托散。</p>
<p><u>內托散</u></p>
<p>（洪氏有芍藥，總錄無芍藥。亦名生肉芎　散）</p>
<p>治癰疽潰後內虛者，或氣弱人，初覺生瘡瘍。亦可服內消，宜詳細用之。</p>
<p>當歸　芎　黃　厚朴（去皮）　桔梗　防風　甘草（炒）　官桂　人參　白芷　芍藥（以上各一兩）</p>
<p>上為細末，每服三錢，溫酒調下，或木香湯亦可。</p>
<p><u>內補散</u></p>
<p>（《聖惠》六十一，《總錄》一百二十八無川芎）</p>
<p>黃　麥門冬（去心）　川芎　當歸　茯苓（去皮）　人參　五味子（以上各一兩）　遠志（去心）　甘草（炙）　桂心（以上各五錢）</p>
<p>上　咀，每服五錢，水一盞半、生薑三片、棗三枚，煎八分，溫服無時。</p>
<p><u>內塞散</u></p>
<p>（總惠，二百二十三，《萬全方》中去附子，用天雄）</p>
<p>治疳　不瘥諸瘡。</p>
<p>附子（二個，炮）　官桂（去皮）　赤小豆　甘草（炙）　黃　當歸　茯苓　防風　白芷桔梗　川芎　人參　遠志（去心）　厚朴（以上各一兩）</p>
<p>上為末，每服二錢，溫酒調下，空心日進一服。</p>
<p><u>香粉散</u></p>
<p>主托裡止痛，解煩渴，退虛熱。</p>
<p>真綠豆粉（三兩）　南乳香（一兩）</p>
<p>上為細末，每服三錢，新水調下。</p>
<p><u>止痛當歸湯</u></p>
<p>（出《總錄》一百三十）</p>
<p>治腦疽發背，穿潰疼痛。</p>
<p>當歸　黃　人參　官桂　芍藥　甘草（炙）　生地黃（以上各一兩）</p>
<p>上為粗末，每服五錢，水一盞半，煎至一盞，去渣，溫服。日進三服。</p>
<p><u>黃　茯苓湯</u></p>
<p>（出《總錄》一百二十）</p>
<p>治諸瘡潰後，托裡除虛熱。</p>
<p>黃　白茯苓　官桂（去皮）　麥門冬　五味子　川芎（以上各一兩）</p>
<p>上為粗末，每服五錢，生薑三片，棗一枚，水一盞半，煎至一盞，去渣，溫服。食前，日進三服。</p>
<p><u>內補防風散</u></p>
<p>附子（二個，炮裂，去皮臍）　防風　茯苓　白芷　桔梗　川芎　當歸　人參　甘草（炙）</p>
<p>志官桂（去皮）　黃　（以上各一兩）　厚朴（二兩，生薑汁製）　赤小豆（半斤，酒浸一宿）</p>
<p>上為細末，每服三錢，溫酒調服。</p>
<p><u>伏梁丸</u></p>
<p>（出《養生必用方》）</p>
<p>治環臍腫痛，腸胃瘡疽。</p>
<p>厚朴（生薑汁製）　茯苓　枳殼（麩炒去穰）　白朮　荊三棱（炮）　半夏（湯洗七次）　人參（以上各一兩）</p>
<p><u>溫經丸</u></p>
<p>（出前方）</p>
<p>治陷脈　。</p>
<p>厚朴　官桂（去皮）　白朮　甘草　乾薑（炮）　木香（以上各一兩）　附子（二兩，醋浸炮淬七次，去皮臍）</p>
<p>上為細末，煉蜜和丸，如梧桐子大。每服三十丸，食後飲湯下。</p>
<p><u>木香　腫湯</u></p>
<p>治諸瘡疽始發，腫　增長熱痛。</p>
<p>木香　犀角　大黃　梔子仁　升麻　黃芩　黃連　射干　黃柏　白蘞　甘草（炙）　朴硝紫檀　羚羊角（以上各一兩）</p>
<p>上　咀，入生地黃汁五合，如無，只用生乾地黃五兩，銼碎和勻，每用藥五兩，水一斗，煎至七升，入麝香五錢，淨帛蘸藥，熱拓腫上。日兩三度，冷即再換。</p>
<p><u>升麻　腫湯</u></p>
<p>升麻　黃　防風　川芎　生地黃　細辛（以上各等分）</p>
<p>上　咀，用藥二兩，水二升，煎十沸，稍熱淋　，內消如神。</p>
<p><u>　腫升麻湯</u></p>
<p>（出《總錄》淋　條下）</p>
<p>升麻　芒硝　黃芩　漏蘆　梔子仁　蒴上　咀，每用藥二兩，水三升，煎十沸，帛蘸藥　漬腫處。</p>
<p><u>豬蹄湯</u></p>
<p>（出《聖惠方》）</p>
<p>升麻　甘草　芍藥　蒴　（以上各等分）</p>
<p>上　咀，每用藥四兩，水一斗，豬蹄一對，煮蹄軟取出，次下藥，再煎十沸，帛蘸淋</p>
<p><u>甘草大豆湯</u></p>
<p>（出《聖惠方》）</p>
<p>治外陰蝕下疳，湮瘡腫痛。</p>
<p>甘草（三兩）　赤皮蔥（三莖）　大豆（一合）</p>
<p>上用水三升，煮豆熟為度，用槐條一握同煮，取清汁熱淋浴，冷即再溫。浸三、二時為度，大效。</p>
<p><u>　腫湯</u></p>
<p>芍藥　丹參　黃芩（去黑心）　白蘞（以上各等分）</p>
<p>上　咀，用藥五錢，水一升，煎十沸，帛蘸頻　之。</p>
<p><u>洗毒湯</u></p>
<p>苦參　防風　甘草（炙）　露蜂房（以上各等分）　白芷上　咀，水煎濃汁，洗瘡腫。</p>
<p><u>浴毒湯</u></p>
<p>（出《拾遺》衛生方）</p>
<p>治小腸風，陰瘡癢痛。</p>
<p>木通　本　枳殼　貫眾　白芷　荊芥　甘松　薄荷（以上各等分）</p>
<p>上　咀，用藥二兩，水五升，入芒硝半兩，煎至三升，熱洗浴瘡。</p>
<p><u>何首烏散</u></p>
<p>（出秘寶生方）</p>
<p>治遍身瘡腫癢痛。</p>
<p>防風　苦參　何首烏　薄荷（以上各等分）</p>
<p>上為粗末，每用藥半兩，水酒各一半，共用一斗六升，煎十沸，熱洗，便於避風處睡一覺。其痛甚者，三日痊愈。</p>
<p><u>八仙散</u></p>
<p>（出衛生方）</p>
<p>治游風腫癢疥癬瘡，或因洗頭游風，瘙癢生瘡。</p>
<p>細辛　荊芥　白芷　川芎　黃芩　防風　甘草　地骨皮（以上各等分）</p>
<p>上為粗末，每用藥二兩，水二碗，煎十沸，去渣，熱淋　患處。</p>
<p><u>消毒湯</u></p>
<p>治百雜瘡腫，悉能內消。</p>
<p>獨活　防風　細辛　本　川芎　枸杞子　荊芥　漏蘆　大黃　黃芩（去腐）　官桂　苦威靈仙　丹參　黃　當歸　芍藥　茯苓　黃連　無心草　黃柏　麻黃　葛根　蒴　菊花杜仲　地骨皮　秦皮　草　甘草　甘松　藿香　白芷　露蜂房　升麻　零陵香（以上各一兩）　蒼朮（三兩）　朴硝（五兩）　菖蒲（八兩）</p>
<p>上為粗末，每用藥半兩，水二升，蔥三莖，槐柳枝各一握，同煎十余沸，去渣，熱淋洗浴。此藥用之如神。</p>
<p><u>熨風散</u></p>
<p>（出玉於子中箱集）</p>
<p>羌活　防風　白芷　當歸　芍藥　細辛　芫花　吳茱萸　官桂（以上各等分）</p>
<p>上為粗末，作二劑，赤皮蔥連須切半斤，同釅醋拌勻，炒令極熱，帛裹於瘡上熨之，稍冷即換藥熨之上下，痛止而已。</p>
<p><u>應痛丸</u></p>
<p>治走注疼痛，疑是附骨疽者。</p>
<p>蒼朮（去皮）　當歸　草烏頭（炮）　黑牽牛（以上各一兩）</p>
<p>上為細末，用醋糊為丸，如小豆大。每服二十丸，空心醋湯送下。</p>
<p><u>黃　丸</u></p>
<p>治腎臟風虛，攻注手足，頭面麻痹痛癢，或生疥癬腫　。</p>
<p>黃　烏藥　茴香（炒）　地龍（去土）　川椒（去目）　防風　川楝子（炒）　赤小豆　白蒺藜（去刺）　海桐皮　威靈仙　陳皮（以上各等分）</p>
<p>上為細末，酒糊為丸，如梧桐子大。每服三十丸，空心溫酒送下。</p>
<p><u>梔子仁湯</u></p>
<p>（出《普濟生靈方》）</p>
<p>治時氣頭面赤腫。</p>
<p>鬱金　枳殼（去穰）　升麻　梔子仁　牛蒡子　大黃（以上各一兩）</p>
<p>上為細末，每服三錢，蜜水調下。</p>
<p><u>葛根牛蒡子湯</u></p>
<p>治時毒，大頭病是也。</p>
<p>葛根　貫眾　甘草　鹽豉　牛蒡子（以上各一兩）</p>
<p>上為細末，每服三錢，用水調下。此疾近代患者，傳染多致夭。枉治之者，少得方法，太熱必然。殊不知亦有虛實表裡，治之者，詳其汗、下、吐不同。大抵與傷寒頗類。其中亦有可針鐮砭射出血者，亦有久而敗爛出膿者，其間變異百端，不可不慎所宜時疾也。</p>
<p><u>通氣散</u></p>
<p>治時氣頭面赤腫，或咽喉閉塞不通。用之取嚏噴七、八遍，泄出其毒則瘥。若看病之人，用此藥必不傳染。</p>
<p>玄胡（一兩五錢）　豬牙　皂角　川芎（以上各一兩）　藜蘆（五錢）　躑躅花（二錢五分）</p>
<p>上為細末，每用紙捻子蘸一米許，　於鼻中，取嚏為效。</p>
<p><u>白丁香散</u></p>
<p>治婦人吹奶，初覺身熱頭痛寒熱及胸乳腫硬，是其候也。服之能令下其乳汁，通其血脈，立能自消矣。</p>
<p>白丁香（直者）</p>
<p>上為細末，每服二錢，酒調服，腫硬立消，甚者不過三服。</p>
<p><u>金銀花散</u></p>
<p>治發背惡瘡，托裡止痛排膿。</p>
<p>金銀花（四兩，無花用苗葉嫩莖代之）　甘草（一兩）</p>
<p>上為粗末，分為三服，酒、水各一盞，同煎至一盞，去渣，溫服，無時。</p>
<p><u>皂蛤散</u></p>
<p>治婦人因露風，邪氣外客於乳內，始為吹奶，積久不消，以為奶癰。此藥導其汁，散其風邪，汗出，其病自然痊愈矣。</p>
<p>皂角（不蛀者，燒存性）　真蛤粉（以上各等分）</p>
<p>上為細末，每服二錢，溫酒調下，不拘時候。</p>
<p><u>十香膏</u></p>
<p>治五發、惡瘡、結核、瘰　、疳　、疽、痔。</p>
<p>沉香　麝香（以上各一錢）　木香　丁香　乳香　甘松　白芷　安息　藿香　零陵香（各五錢菖蒲　厚朴　木鱉子　官桂　商陸根（各二兩，銼碎）　桃仁　杏仁　柏子仁　松子仁（各五錢）　槐枝　桑枝　柳枝　松枝（各二兩，銼）　沒藥　輕粉　雄黃　朱砂　雲母石　生犀角亂髮灰　白礬灰（各二兩，另研如粉）　真酥　豬脂　羊腎脂（各二兩）　黃丹（一斤）　清芝麻油（三斤）</p>
<p>上先於木炭火，煉油香熟，下一十六味銼碎藥，並四枝、四仁，熬至紫黑色，出火，濾，入脂酥，煎十余沸，再以新綿濾過，油澄清拭鐺令淨，再入火上煎油沸，下丹，用濕柳枝作簞子，不住攪，熬一日，滴在水中成珠，不散則成也。離火，入十味藥末，攪勻，再上火，入雲母等粉八味，輕煎令沸，出火，不住攪一食時，於瓷盒內密封收。每用量瘡口大小，緋帛上攤貼之。腸胃癰疽可作丸，梧桐子大，每服七丸，空心溫酒送下。</p>
<p><u>犀角膏</u></p>
<p>當歸　川芎　黃　白芷　白蘞　杏仁　木鱉子　官桂　乳香　沒藥（以上各一兩）　亂髮灰（五錢）　黃丹　清油（五斤）</p>
<p>上前八味細銼，於油內先浸一宿，於木炭火上熬至白芷、杏仁焦，濾去渣，澄清再煎，油沸下丹，以濕柳木簞子不住攪旋，滴藥在水中，如珠不散，出火，候一時辰，下乳香、沒藥，並發灰攪勻，於瓷盒內收，依常法攤用之。</p>
<p><u>乳香膏</u></p>
<p>治一切惡瘡打撲，走注疼痛。</p>
<p>乳香（研）　珠子瀝青　白蠟（以上各五錢）　白膠香（二兩）　杏仁油（一斤）</p>
<p>上將瀝青，於木炭火上先溶開，下白膠香、黃蠟化開，入油攪勻，以綿濾去渣，於井花水中持拔白色如銀，再溶，入乳香在內拔白色，收瓷盒內，依常法攤用之。</p>
<p><u>白龍膏</u></p>
<p>治頭面五發惡瘡及燒湯凍破潰爛，止痛生肌，清血脈，消毒敗腫，通氣脈如神，至可無輕粉（五錢，另研）　白薇　白芷　白蘞　黃　商陸根　柳白皮　桑白皮（以上各一兩）</p>
<p>乳香（二兩，另研）　定粉（另研）　黃蠟（以上各八兩）　杏子油（一斤，如無，用芝麻油）</p>
<p>上七味銼，油內揉浸三日，於木炭火上煎，令白芷黃色，濾去渣，於油中下黃蠟、乳香溶開出火，再濾，候微冷，下輕粉、定粉急攪，至冷，瓷盒內收貯。每用緋絹上攤用之。</p>
<p><u>消毒膏</u></p>
<p>當歸　黃　川芎　杏仁　白芷　白蘞　零陵香　槐白皮　柳枝（嫩者）　木鱉子（用仁）</p>
<p>松（以上各五錢，銼）　乳香　沒藥（以上各三錢）　輕粉（一錢）　朱砂　朱紅（以上各五分）</p>
<p>麝香（一分）　黃丹（炒紫色）　黃蠟（以上各八兩）　芝麻油（一斤）</p>
<p>上將銼藥油浸七日，木炭火上煎杏仁焦色，濾去渣，下黃蠟，候溶開出火，下丹，急攪轉，下乳香、麝香、朱砂等六味，不住手攪至凝，瓷盒內收貯，白光絹上攤之。治證如白龍膏之類，貼面目毛髮，最宜用之。</p>
<p><u>磨風膏</u></p>
<p>治頭面五發、瘡腫、疥癬等疾及湯火破傷，磨風止痛，滅瘢痕。</p>
<p>白附子　白芍藥　白茯苓　零陵香　白芨　白蘞　白芷　白檀　藿香　升麻　細辛　黃甘草　杏仁（去皮尖。以上各五錢）　腦子（一分）　栝蔞根（一兩）　大栝蔞（二兩，去皮）　黃蠟（六兩）　芝麻油（一斤）</p>
<p>上先藥十四味銼，油內浸百日。於臘月慢木炭火上銀石器內，煎至白芷微黃色離火，入二味著內，煮百沸，重綿濾去渣；再慢火上煉油香，下削淨黃蠟，溶開為度，傾在瓷器內收貯，上糝腦子密封，旋用磨風塗之。</p>
<p><u>天麻膏</u></p>
<p>治疥癬、赤禿、手足癬皮剝起，　疼、疳瘡侵蝕痛，膿汁浸淫滋蔓，經久不瘥者。</p>
<p>草烏頭　釣苓根　木鱉子　天麻　藜蘆　川芎　野狼毒（以上各五錢）　輕粉　粉霜（以上各二分，另研）　臘豬脂（二兩）　黃蠟（六兩）　油（一斤）</p>
<p>上前七味細銼如麻豆大，於油內煎至焦紫色，令冷，濾去渣，上火入黃蠟、豬脂溶開，再用重綿濾過，入輕粉、粉霜攪凝，瓷盒內收貯。用以塗摩之，大效。</p>
<p><u>善應膏</u></p>
<p>（出南京寶梵院明昌六年聞進方）</p>
<p>當歸　白芨　官桂　白蘞　白芷　杏仁（去皮尖）　木鱉子仁（以上各一兩，銼碎）　乳香沒藥（以上各五錢，研）　黃丹（二斤）　芝麻油（五斤）</p>
<p>上先將油煎銼藥，令白芷焦黃，濾去渣，再煎油沸，下丹，用濕柳簞子不住手攪，滴在水中成珠子，住火，入乳香、沒藥攪勻，以瓷盒內收貯。依常法用之。</p>
<p><u>靈應膏</u></p>
<p>（出《總錄》）</p>
<p>治五發、惡瘡、瘰　、結核、乳癰。</p>
<p>白麥飯石（燒醋淬七次）　白蘞（以上各五兩）　鹿角（十兩，燒存性）</p>
<p>上為細末，每用釅醋中熬如膏，濃塗於上，中心留一竅，以出其毒。以故舊軟布攤之貼。未成膿者，貼即自消，已成膿者便潰，惡肉疾出，新肉早生。效不必具陳，用之如神。</p>
<p><u>翠玉膏</u></p>
<p>治軟癤膿水逗留，愈後復發。</p>
<p>明瀝青（四兩）　銅碌（二兩）　芝麻油（三錢）　豬膽（三個）</p>
<p>上先於炭火上溶開瀝青，入油令沸，下膽汁攪勻，入水中用手搏搦，瓷盒內收貯。</p>
<p>用於緋光絹上，量瘡大小攤貼之，不須再換，一上便痊，可自落為度。</p>
<p><u>追毒散</u></p>
<p>（太醫成子玉方）</p>
<p>治一切惡瘡，膿水不快者。</p>
<p>五靈脂　川烏頭（炮）　白乾薑（炮，以上各一兩）　全蠍（五錢）</p>
<p>上為細末，用少許糝瘡口中，深者紙捻蘸藥　於瘡口內，以膏貼之，或浸蒸餅，令浸透，搦去水，和藥合勻，捻作錠子，每用　入瘡口中，亦名追毒錠子。</p>
<p><u>回瘡錠子</u></p>
<p>治疔瘡大效。</p>
<p>草烏頭（一兩）　蟾酥（七錢）　巴豆（七分，去皮）　麝香（一字）</p>
<p>上為細末，面糊和捻作錠子，如有惡瘡透疔，不痛無血者，用針深刺到痛處有血，用此錠子　之，上用膏貼之。疔瘡四畔　之，其疔三、二日自然拔出。此藥最當緊用。</p>
<p><u>射膿丸</u></p>
<p>治諸瘡癤，膿水已成，即當針開決出陳臭惡瘀，則其活也。若其惡瘀不出，欲針口須當開發，用此藥以射出其膿也。</p>
<p>白礬灰（一錢）　砒霜（五分）　黃丹（一字）</p>
<p>上為末，面糊為丸，捻作錠子。每用黏瘡頭欲出處，以膏貼之自潰。</p>
<p><u>替針丸</u></p>
<p>（出保生信妨方）</p>
<p>治證同前。</p>
<p>陳壞米末（一錢）　砂（五分）　雄雀糞（直者二千一粒）</p>
<p>上為細末，粳米粥丸，如粳米樣。每用一丸，黏在瘡頭上，以膏貼之。</p>
<p>治瘰　，並馬老鼠瘡。</p>
<p>銅碌　斑蝥　砒霜（以上各五分）</p>
<p>上為細末，醋糊為丸，如鼠糞大。每用時，一錠子作三丸，納於瘡口上，以膏貼之，如無瘡口，干糝之妙。</p>
<p><u>翠霞散</u></p>
<p>治百雜惡瘡，去毒生肌。</p>
<p>滑石　銅碌（五錢）　輕粉（二錢）　片腦　麝香（以上各三分）　粉霜（一字）</p>
<p>上為細末。每蘸藥　於瘡口上，以膏貼之。或滑石二兩名二聖散，量其淺深輕重用之。</p>
<p><u>搜膿散</u></p>
<p>治年深不效惡瘡。</p>
<p>白芷（一兩）　芎　（二兩）　白芍藥（三兩）　輕粉（三錢）</p>
<p>上為細末，每用干糝瘡口上。瘡口深者　之。</p>
<p><u>引膿散</u></p>
<p>治證同前。</p>
<p>野狼毒　釣苓根　無心草根　白丁香（以上各五錢）　麝香（一字）</p>
<p>上為細末，如前法用治之。</p>
<p><u>乳香散</u></p>
<p>治證同前。</p>
<p>白乾薑　苦丁香　草烏頭（以上各五錢）　釣苓根　野狼毒　乳香（以上各一兩）</p>
<p>上為細末，每用干糝之，或唾調作錠子，　入瘡內。</p>
<p><u>釣苓散</u></p>
<p>（陳宮寶方）</p>
<p>治證同前。</p>
<p>井鹽（一兩）　無心草　乾薑（以上各二兩）　釣苓根（三兩）</p>
<p>上為細末，每用干糝之，或唾調少許，塗在膏上就貼之。</p>
<p><u>截疳散</u></p>
<p>治年深疳　瘡大效。</p>
<p>密陀僧　白蘞　白芨　黃丹（以上各一兩）　黃連（五錢）　輕粉（一錢）　腦子　麝香（以上各五分）</p>
<p>上前四味為細末，後四味另研極細，和勻為散。每用或糝或　瘡口中，以膏貼之。</p>
<p><u>抵聖散</u></p>
<p>治耳中膿經年不愈，及驢涎、馬汗攻　，瘡瘍、骨疽、疳　等瘡。</p>
<p>白礬灰（一兩）　烏魚骨（三錢）　乳香（二錢）　干胭脂　輕粉（以上各一錢）　麝香（五分）</p>
<p>上為細末，或糝或　，以膏貼之。如有耳膿者，用一字　耳中。</p>
<p><u>青金錠子</u></p>
<p>治諸惡瘡，膿出不快者，及多年疳　瘡，愈而復發。</p>
<p>白丁香　銅青　砂　粉霜　輕粉（以上各五分）　麝香　龍腦（以上各一字）</p>
<p>上為細末，面糊為丸，捻作錠子，每用　入瘡口中，膿水出快。</p>
<p><u>白龍散</u></p>
<p>主生肌止痛及耳中卒然大痛。</p>
<p>寒水石（四兩，燒半白研）　烏賊魚骨（研）　滑石（以上各一兩，研）　硼砂（三錢）　輕粉（一錢）</p>
<p>上為細末，每用干糝。耳中痛者，油調如糊，滴　於耳中，痛立止。</p>
<p><u>桃紅散</u></p>
<p>主斂瘡生肌，定血僻風邪。</p>
<p>滑石（四兩）　寒水石（燒，二兩）　小豆粉（一兩）　乳香　輕粉（以上各一錢）</p>
<p>上為細末，每用干糝。血不止者，和燈草貼瘡口上，以帛封之。</p>
<p><u>檳榔散</u></p>
<p>治久患惡瘡，肌肉遲生。</p>
<p>木香　黃連　檳榔（以上各等分）</p>
<p>上為細末，每用干糝之。</p>
<p><u>金黃散</u></p>
<p>（出管龠生方）</p>
<p>主消腫散毒、生肌止痛。</p>
<p>黃連　大黃　黃　黃芩　黃柏　鬱金（以上各一兩）　甘草（五錢）　龍腦（五分，另研）</p>
<p>上為細末，入龍腦研勻。若治濕毒丹腫，新水調掃赤上，或蜜水調如稀糊，用小紙花子貼之。或小油調掃，如久不瘥，熱瘡毒赤，干糝或水調塗亦佳。</p>
<p><u>生肌散</u></p>
<p>主斂瘡，大效。</p>
<p>寒水石（燒）　滑石（以上各二兩）　龍骨　烏魚骨（以上各一兩）　密陀僧　枯白礬　干胭脂定粉（以上各五錢）</p>
<p>上為細末，用藥干糝瘡口上。</p>
<p><u>水澄膏</u></p>
<p>治熱毒腫痛，大效。</p>
<p>大黃　黃柏　鬱金　天南星　白芨　朴硝　黃蜀葵花（以上各一兩）</p>
<p>上為細末，每用新水一盞半，藥末二錢，攪調勻，候澄底者，去浮水，以紙花子攤於腫處貼之。如急燥，津唾潤之。此藥治熱毒赤腫神效。如皮膚白色者，勿用之。</p>
<p><u>拔毒散</u></p>
<p>治熱毒丹腫，游走不定。</p>
<p>寒水石（生用）　石膏（生用，以上各四兩）　黃柏　甘草（以上各一兩）</p>
<p>上為細末，每用新水調掃之，或油調塗之，或紙花子小貼亦妙，涼水潤之。</p>
<p><u>金露散</u></p>
<p>（出《普降生靈方》）</p>
<p>治時氣熱毒。</p>
<p>寒水石（生用一兩五錢）　黃柏（一兩）　白芨　白蘞　雄黃（以上各二錢五分）</p>
<p>上為細末，無根水調，以紙花子貼，或掃亦妙。</p>
<p><u>消毒散</u></p>
<p>治諸惡瘡，生肌止痛，消毒散腫。</p>
<p>滑石（一斤）　黃柏（二兩）　黃丹（一兩）　乳香（五錢）　輕粉（三錢）</p>
<p>上為細末，每用干糝或燒湯，及下注、　瘡、風濕、疥癬等瘡，油調塗之。</p>
<p><u>大檳榔散</u></p>
<p>（成子玉方）</p>
<p>治干濕疥癬。</p>
<p>硫黃　黑狗脊（以上各五錢）　輕粉（一錢）　紅娘子　大檳榔（以上各一個）</p>
<p>上為細末，每用藥末半錢，於手掌中，臨臥時，油調如糊，兩手搓摩極熱，鼻內聞之，及摩擦疥上。隔日再用，甚者不過三上，必驗。</p>
<p><u>天麻散</u></p>
<p>治白禿疳瘡及風毒疥癬。</p>
<p>藜蘆　天麻　野狼毒　白芷　草　釣苓根　草烏頭　管仲　細辛（以上各五錢）　雄黃（二錢）　輕粉（一錢）</p>
<p>上為細末，每用藥半兩，紙一重綿裹，油三兩，浸三日外，蘸指擦患處。如稍干，添油一兩；添至三兩，換藥。其效如神。</p>
<p><u>決效散</u></p>
<p>治風癢頭瘡。</p>
<p>管仲（三兩）　白芷（一兩）</p>
<p>上為細末，油調塗之。</p>
<p><u>水銀膏</u></p>
<p>治　瘡疥癬，無名惡瘡，但是手足瘡疥，浸淫多汁，久而蟲生，塗之神效。</p>
<p>茹（銼）　黃蠟（以上各一兩）　黃連（銼）　蛇床（微炒）　白礬枯　水銀（以上各二兩）</p>
<p>上用臘豬脂七兩熬開，下三件銼藥，煮至焦紫色，去渣，再入黃蠟溶開出火，稍凝，下水銀、礬石攪至勻。每用塗摩。</p>
<p><u>平肌散</u></p>
<p>治諸瘡久不斂者。</p>
<p>密陀僧　花蕊石（二味同　赤色）　白龍骨（以上各一兩）　黃丹　乳香　黃連（以上各二錢五分）　輕粉（一錢）</p>
<p>上為細末，入乳香、輕粉、黃丹同研令勻。每用干糝。</p>
<p><u>神黃散</u></p>
<p>治一切熱腫，攻　疼痛。</p>
<p>黃柏末（一斤）　黃丹（二兩，炒紫色）　雄黃（一兩，另研）</p>
<p>上同研勻，每用新水調如糊，敷掃，以小紙花貼，稍干，以蜜水潤之。</p>
<p><u>博金散</u></p>
<p>治下疳蝕臭爛腫痛。</p>
<p>白礬（與密陀僧同為末，相和，於沙鍋內火上炮汁盡）　密陀僧（以上各五錢）　白堊（二錢）　黃丹　輕粉（以上各一錢）　乳香（五分）　麝香（一字）</p>
<p>上為細末，先須另用槐枝、蔥白、鹽、甘草熬湯，淋　洗一二時，淹干糝上項藥。每用藥先須洗浴，然後糝藥，甚者三五次瘥。</p>
<p><u>金傷散</u></p>
<p>治刀鐮斧傷，僻風止痛生肌。</p>
<p>白芨（三兩）　陳鍛石（風化）　桑白皮　黃丹（以上各二兩）　白附子　天南星　龍骨（以上各一兩）</p>
<p>上為細末，每用干貼之。</p>
<p><u>完肌散</u></p>
<p>治證同前。</p>
<p>密陀僧　桑白皮（新者）　龍骨（以上各四兩）　陳鍛石（二兩）　黃丹（五錢）　麝香（一錢，另研）</p>
<p>上為細末，干糝之。</p>
<p><u>定血散</u></p>
<p>治證同前。</p>
<p>黃丹（一兩）　烏魚骨　白礬灰　龍骨（以上各二兩）　密陀僧（半斤）　桑白皮（一斤）</p>
<p>上為細末，每用干糝，定血如神。</p>
<p><u>碧霞錠子</u></p>
<p>（太醫陳官寶方）</p>
<p>治惡瘡透不覺疼痛。</p>
<p>銅碌（一兩）　砂（二錢）　蟾酥（一錢）</p>
<p>上為細末，軟米飯一處擦勻，捻作錠子粳米樣，每用針刺之，不覺痛者，但有血出，一錠子在內，以膏貼之；或作散，以紙捻蘸　之；亦可臨證看如何宜合用度。</p>
<p><u>漏蘆湯</u></p>
<p>治婦人吹奶初覺。</p>
<p>漏蘆　練實　大黃　黃芩　芍藥　甘草（以上各五錢）</p>
<p>上為粗末，每用三錢，水一盞半，燈草三十莖，同煎至一盞，去渣，溫服，無時。</p>
<p><u>王粉散</u></p>
<p>（出蘇注螵方）</p>
<p>白礬灰　定粉（以上各等分）</p>
<p>上研細末，先洗浴淨，淹干，敷糝之。</p>
<p><u>香礬散</u></p>
<p>治小兒斷臍之後不干及膿出耳中。</p>
<p>枯礬（五錢）　龍骨　黃丹（以上各一錢）　麝香（少許研）</p>
<p>上為細末，每用干糝之。</p>
<p><u>紫金散</u></p>
<p>治瘰　久不瘥者。</p>
<p>枯礬（五錢）　砒霜（一錢）　石膽（五分）</p>
<p>上為細末，入黃丹二錢，每用維人瘡口內，以膏貼之。如未破者，灸一兩炷，用聿尾旋調一豆許，安瘡上，以膏貼之，去根自平復。</p>
<p><u>通耳丹</u></p>
<p>（盧全寶傳）</p>
<p>治耳聾。</p>
<p>桑螵蛸　安息香　阿魏（以上各一錢五分）　朱砂（五分）　蓖麻子仁　大蒜　巴豆仁（以上各七個）</p>
<p>上為細末，入二仁與蒜同研爛，為丸，如棗核樣。每用一丸，綿裹內耳中，如覺微痛，即取出。親驗方。</p>
<p><u>菖蒲錠子</u></p>
<p>（一名菖蒲散）</p>
<p>治耳中卒痛。</p>
<p>菖蒲　附子（炮去皮臍，以上各二兩）</p>
<p>上為細末，每用油調，滴耳內，立效。</p>
<p><u>寸金錠子</u></p>
<p>（太醫陳子寶方）</p>
<p>治療痔疾。</p>
<p>藤黃　雄黃　雌黃　硫黃　輕粉　粉霜　麝香　砒霜　黃丹（以上各一錢）　牡蠣粉　紅藤根　乾漆（以上各五錢）</p>
<p>上為細末，研勻，燒陳米飯和搗為丸，如棗核大。每用一丸，內肛門中，深二寸許，放，用新磚球子二個，炭火燒赤釅醋中蘸過，綿裹一個於肛門上熨之，冷即換，上下次之。來日大便下臭敗惡物，除根也。</p>
<p><u>熏痔散</u></p>
<p>威靈仙（三兩）</p>
<p>上用水一斗半，煎至七八沸，去火，就盆上坐，令氣熏之，候通，手淋　。冷即再暖。</p>
<p><u>通靈丸</u></p>
<p>治耳聾。</p>
<p>松脂（五錢）　巴豆（二十四個，去皮研）</p>
<p>上先將松脂溶開，入巴豆末熬成膏，丸如白頭大，綿裹一丸，塞耳中，覺痛取出毒水為</p>
<p><u>三神丸</u></p>
<p>治僧道痔疾，因讀養生必效方，見干義傳僧覺海少年患痔疾，其行業比米霜，緣此飽食，知痔疾者，不必酒色過度矣。故《素問》云：因而飽食，筋脈橫解，腸　為痔。治之故不枳殼（炒去穰）　皂角（燒存性）　五倍子（以上各等分）</p>
<p>上為細末，煉蜜為丸，如梧桐子大。每服三、二十丸，溫水食前服。養生必效方中三味皆單方一味為方，今增為一方，其效如神。</p>
<p><u>玉芝飲子</u></p>
<p>治膈熱，口舌生瘡，咽喉腫痛。</p>
<p>甘草（炙，二兩）　藿香葉　石膏（水飛）　山梔子仁（以上各一兩）</p>
<p>上為細末，每用一錢，新水調下。</p>
<p><u>平和飲子</u></p>
<p>（出《顱囪經》中）</p>
<p>治小兒瘡疹。</p>
<p>人參　白朮　茯苓　甘草　升麻（以上各等分）</p>
<p>上為細末，每服一二錢。水煎去滓，溫，細細飲之。量歲大小虛實，以意詳之。此藥治諸瘡疼，煩渴不寧者，皆可服之，惟小兒瘡疹尤佳。</p>
<p><u>玄參丸</u></p>
<p>（出僧居泰傳）</p>
<p>治口瘡連年不愈者。</p>
<p>天門冬（去心）　麥門冬（去心）　玄參（以上各等分）</p>
<p>上為細末，煉蜜為丸，如彈子大，每服一丸，噙化。</p>
<p><u>犀角散</u></p>
<p>活口舌生瘡，咽喉腫痛，熱毒時氣。</p>
<p>升麻　桔梗　甘草（炙，以上各一兩）　牛蒡子（炒，四兩）</p>
<p>上為細末，每服三錢，水一盞，入竹葉五七片，煎至七分，去渣，細細熱漱，溫即咽之，去渣，熱掃項腫上。</p>
<p><u>防風散</u></p>
<p>治破傷瘡瘍風邪，或身體疼痛、風邪攻注攣急及皮膚搔癢，麻木不仁，頭昏悶，牙關緊，欲成破傷風。</p>
<p>防風（一兩）　本　羌活　地骨皮　荊芥穗（以上各五錢）</p>
<p>上為細末，每服三錢，溫酒調下。</p>
<p><u>烏金散</u></p>
<p>治疳　惡瘡。</p>
<p>麝香　蟾酥（以上各一字）　粉霜　砂　輕粉（以上各一錢）　銅碌　砒霜　白乾薑　草烏頭　天南星　舶上硫黃（以上各五錢）</p>
<p>上為細末，紙捻　之，或湯浸蒸餅和為錠子，　瘡口內，以上膏貼之。</p>
<h3>劉守真瘡論</h3>
<p>《素問》云：痛癢瘡瘍，癰腫疽疹，瘤氣結核，拂鬱甚者，皆熱；五臟不和，九竅不通腑不和，留結為癰。近於火氣，微熱則癢，熱甚則痛，附近則灼而為瘡，皆火之用也。人之瘡腫，因內熱外虛所生也。為風濕之所乘，則生瘡腫。然肺主氣，候於皮毛，脾主肌肉，氣虛則膚腠開，為風濕所乘，脾氣濕而內熱即生瘡也。腫者，由寒熱毒瓦斯客於經絡，使血澀而不通，壅結成腫，風邪不作，即無頭無根，寒血相搏作者，即有頭有根，壅盛則為膿，赤根腫則風氣流潰也。瘡以痛癢，痛則為實，癢則為虛，非虛為寒也，正謂熱之微甚也。癢則美疾也，故火旺於夏，而萬物蕃鮮榮美也。灸之以火，實之以湯，而其癢轉甚者，微熱之所使也。癢去者謂熱，令皮膚縱緩，腠理開通，陽氣得泄，熱散而去。或夏熱皮膚癢，而以冷水沃之，其癢不去，謂寒能收斂腠理，閉密陽氣，郁結不能散越，怫熱內作故也。瘡瘍皆為火熱，而反腐出膿水者，猶穀肉果菜，熱極則腐爛，而潰為污水也。潰而腐爛者，水之化也。</p>
<p>癰淺而大，疽深而惡，熱勝血則為癰膿也。瘍有頭，小瘡也；疹浮而小，癮疹也；瘤氣赤瘤丹，熱勝氣火之色也。</p>
<p><u>沒藥膏</u></p>
<p>治一切癰疽發背，瘡癤，傷折蹊跌壞膿，生肌止痛。又貼灸瘡，極妙。</p>
<p>麒麟竭　明乳香　沒藥（以上各一兩，研）　當歸（去蘆）　木鱉子仁（研）　杏仁（以上各五錢）　油頭發（二兩）　黃丹（六兩）</p>
<p>上先用油一斤，石器內或沙鍋內露天底煉油令熟，先下木鱉子、當歸、杏仁、頭發，慢黃焦。油耗五分，離火，用綿離渣不用，再入鍋下黃丹，以新柳篦子十條，旋換攪不住手，候黑色，滴在水中成珠子，硬軟得所，取下火，入三味研藥，再攪勻，瓷盒內盛，放地上，以盆合一宿，出火毒。用時或帛上或紙上攤，一日一換。</p>
<p><u>必效散</u></p>
<p>治久患瘰　不效，服此藥取效如神。</p>
<p>南硼砂（二錢五分）　輕粉（一錢）　麝香（五分）　斑蝥（四十個，去頭翅）　巴豆（五個，去皮心膜）　白檳榔（一個）</p>
<p>上同研極細，取雞子清二個去黃，調藥勻卻，傾在雞子殼內，濕紙數重糊定，無令透氣飯甑內與飯一處蒸，飯熟取藥，曝乾，研極細末。用時相度虛實，虛人每服半錢，實人每服一錢，並用炒生薑酒下。五更初服藥，至平明取下惡物。如覺小腹內疼痛，便用　麻子燒灰入沒藥等分，同研細，用茶調下一錢，便入大腸。其取下惡物，如爛肉老鼠兒及新成卵內雀兒，是藥之效。婦人有胎，不可服。</p>
<p><u>烏金散</u></p>
<p>治癰癤腫硬，無頭不變色者。</p>
<p>米粉（四兩）　蔥白（一兩，細切）</p>
<p>上同炒黑色，杵為細末，每用看多少，醋調攤紙上，貼病處，一伏時換一次，以消為度</p>
<p><u>抵聖丸</u></p>
<p>治男子、婦人頭面手足虛腫。</p>
<p>苦葶藶（不以多少，於火上隔紙炒過）</p>
<p>上杵為細末，棗肉為丸，如小豆大。每服十丸，煎麻子湯下，食前，日進三服。五、七小便多，腫消為效。如喘嗽，煎桑白皮湯下，忌生冷醋滑物及鹽。須另丸一等，小丸兒與小兒服，看大小加減與服，煎棗肉湯下。</p>
<p><u>應效散</u></p>
<p>治氣　疳瘡多年不效者。</p>
<p>地骨皮（不以多少，冬月自取，只要皮，陰乾）</p>
<p>上杵為細末，每用紙捻蘸　瘡口內，頻用，自然生肉。更用米飲調二錢，無時，日進三服。又名托裡散。</p>
<p><u>白金散</u></p>
<p>治風攻注毒遍身，及手足生熱瘡疼痛，有黃水出。</p>
<p>桂府滑石上為細末，先用虎杖、甘草、豌豆各等分，約半兩許，二碗水煎上項三味至一碗，去渣，微熱淋洗瘡，水冷拭乾，上糝滑石末，令通，便睡至明，決愈。</p>
<p><u>如聖散</u></p>
<p>治渾身搔癢，抓之成瘡及癮疹之類。</p>
<p>蠶砂（一升）</p>
<p>上用水二斗，煎至一斗，濾去渣，夜臥避風處淋洗，水冷即拭乾，便睡。</p>
<p><u>大蛾散</u></p>
<p>治刀斧傷。止血定痛生肌。</p>
<p>晚蠶蛾（不以多少）</p>
<p>上為細末，每用藥貼於瘡口上，用綿裹，不須再動，一上便可。</p>
<p><u>必效散</u></p>
<p>治蜘蛛咬著疼痛。</p>
<p>鹽豉（炒干）</p>
<p>上為細末，每用油調塗之，必效。</p>
<p><u>蛤粉散</u></p>
<p>治湯火燒燙瘡。</p>
<p>蛤礪（燒赤放冷）</p>
<p>上研如粉，每用油調塗之，日三次。</p>
<p><u>治小兒丹瘤</u></p>
<p>木鱉子（新者去殼）</p>
<p>上研如泥，淡醋調敷之，一日三、五次，便效。</p>
<p><u>治小兒疳口瘡</u></p>
<p>天南星（一個，去皮）</p>
<p>上為末，好醋調攤在紙上，男左女右，貼在腳心底，以帛系定，三日外取了，以溫水洗盡腳下藥。</p>
<p><u>治破傷風</u></p>
<p>（並洗頭風藥）</p>
<p>麻黃（一錢，去節）　蠍稍（二錢五分）　蠻薑　草烏頭　黑附子（炮去皮）　白附子　天麻烏梢蛇（好酒浸二夜，去骨，火上炙黃色）　川芎（以上各五錢）</p>
<p>上為細末，每服一錢，熱酒調下，日進三五服，重者三五日必效。此證只宜早治，但邪臟則難治。有四死證不可治：一頭面青黑色，二額上有汗珠不流，三眼小目瞪，四身上有汗</p>
<p><u>烏龍丸</u></p>
<p>治遍身風瘡，搔癢疥癬等疾，服之消風散熱，利膈化痰唾，治肺氣不和。此藥推陳致新，去腸垢，治證甚多，要能用度。</p>
<p>皂角（肥者不以多少，炙，刮去皮弦，捶碎，甜水揉取濃汁，去渣，銀石器內熬成膏另放之）　黑牽牛（不以多少，微炒令香熟，碾取頭末）</p>
<p>上將藥末與皂角膏和丸，如梧桐子大。每服三、五十丸，氣虛者一、二十丸，食後溫水。無病氣實人，一、二個月頓一服，取利三、五行，不傷正氣，身體輕健，肌膚光澤，永無風痰疥癬之疾。</p>
<p><u>紫參丸</u></p>
<p>治熱毒瘰　，腫毒未成者內消，已潰者行膿止痛散腫毒。</p>
<p>麝香（另研）　膩粉（以上各三錢）　紫參　苦參（炒，以上各一兩）　丹參（一兩五錢）　連翹（二兩）　滑石（二兩五錢）</p>
<p>上為末，別用玄參一斤，搗碎，以酒三碗，浸三日，揉取汁，去渣，用皂角子三百個，，為末，用玄參酒熬皂角子末成膏，和前藥丸如梧桐子大。每服一丸，以黃　湯下，一日加一丸，至患人歲數即住；如四十則二十，每日減一丸。其瘡自干，已結者，內消也。服此藥大有神效。</p>
<p><u>萬靈丸</u></p>
<p>治腦背疽，並一切惡瘡，初覺一二日。</p>
<p>朱砂　血竭　蓮蕊（以上各等分）　麝香（少許）</p>
<p>上為細末，酒糊為丸，如黃米大，每服七丸，溫酒送下。瘡在上食後，在下食前，不過二服即效。</p>
<p><u>治眼</u></p>
<p>治昏澀，退翳膜。</p>
<p>椒（四兩，去子，合者不用）　甘菊花（二兩五錢）　干熟地黃（二兩，酒浸九蒸九曝）</p>
<p>上為細末，煉蜜為丸，如梧桐子大。每服三十丸，食後細嚼新折米十余粒送下。</p>
<p><u>治吹奶</u></p>
<p>（出仲寬方）</p>
<p>治吹奶及一切惡瘡，初覺一、二日，立效。</p>
<p>生薑（一兩，去皮）　大黃　甘草（以上各五錢）　栝蔞（一個，去皮）</p>
<p>上共搗作一塊，以水半碗同煎至七分，濾去渣，入沒藥、乳香末，共二錢半，通作一服</p>
<p><u>治痔瘡</u></p>
<p>雄黃（五分，細研）　五靈脂（去石，燒過去煙）　五倍子（炮過，以上各一錢）　沒藥（二錢五分，明淨者）　白礬（半飛半生）</p>
<p>上為細末，研令極細，用紙花子貼瘡口上。</p>
<p><u>洗痔</u></p>
<p>防風　當歸　川芎（以上各等分）</p>
<p>上三味銼細，煎水去渣，令熱溫淋洗瘡，用軟帛印干，敷前藥。</p>
<p><u>寸金丹</u></p>
<p>二名返魂丹，三名再生丸，四名追命丹，五名延壽丸，六名來蘇丸，七名知命丸，八名丸。非人勿示此方。若有人患瘡，身未爛者，與三丸服之，咽下便活。如口噤，但斡開牙關，研下三丸，灌下喉中立生。此方治發背、腦疽、癰腫遍身、附骨腫痛，先覺時飲水口中，煩渴發熱，四肢沉重，身體壯熱。</p>
<p>麝香（一分）　南乳香　烏金石　輕粉　雄黃　狗寶　沒藥（以上各一錢）　蟾酥（二錢）</p>
<p>黃蠟（以上各三錢）　砂（五錢）　鯉魚膽（干用）　狗膽（以上各一個，干用）　金頭蜈蚣（七條全者，酥炙黃色）　頭首兒孩兒乳（一合）</p>
<p>上件為末，除黃蠟、乳汁二味，熬成膏子，同和丸，如綠豆大；小兒丸如芥子大。每服，病重者加三丸。白丁香七個研爛，新汲水調送下。用衣服蓋之睡，勿令透風，汗出為度，大段疼痛。如無頭瘡腫，不過三服立效。服藥後食白粥菰KT　，就服大妙。</p>
<p><u>牙疳藥</u></p>
<p>（此藥是京兆惠民局見行經驗方）</p>
<p>治大人小兒。</p>
<p>揀信　青黛　輕粉（以上各一錢）　麝香（五分）</p>
<p>上同為細末，用小油調薄攤紙上，用水捶，捶實收起。每用臨臥以漿水洗淨印干，可瘡口大小，以藥紙封之，至曉去藥紙，漱淨勿令咽下，大者不過三上，必效。</p>
<p><u>回瘡蟾酥錠子</u></p>
<p>（陝西醫局提舉馬云卿親傳經驗方）</p>
<p>治疔瘡毒瓦斯攻心欲死，以針刺其瘡向心行處，但覺痛有血處下錠子；若累刺至心側近痛無血者，急針百會穴，痛有血者下錠子；若無血，以親人熱血代之，猶活三四。況瘡初發，無有不效。大抵疔瘡生於四肢及胸背、頭項、骨節間，唯胸背、頭項最急。初生痛癢不常，中陷如疔蓋，撼之有根，壯熱惡心是也。</p>
<p>天南星　疑冬花　巴豆仁　黃丹　白信（以上各一錢）　獨活（五分）　斑蝥（去頭足十個）</p>
<p>上為極細末，用新蟾酥和藥如黍米大，捻作錠子。每遇疔瘡，先以針刺其瘡，必不知痛血出者，下錠子；如覺痛不須再用，若更不知痛，再隨瘡所行處，迎奪刺之，至有血知痛即止。其元瘡亦覺疼痛，以膏藥敷之，膿出自瘥。</p>
<p>用錠子法度：以銀作細筒子一個，約長三寸許，隨針下至瘡痛處，復以細銀絲子內藥於筒內，推至痛處。</p>
<p>乳香托裡散（同前所傳）</p>
<p>治一切瘡腫疼痛不可忍。如少壯氣實者，先疏利，後服之大效。</p>
<p>罌粟殼（去　、蒂、萼，蜜炒，三兩）　當歸　芍藥　川芎（以上五錢）　乳香　沒藥（以上各一錢）</p>
<p>上為粗末，每服五錢，水一盞半，煎至十分，去渣。湯服。病在上者食後，病在下者食前。若未止，即再服。</p>
<p><u>四聖旋丁散</u></p>
<p>（各醫秘傳經驗方）</p>
<p>治疔瘡生於四肢，其勢微者，先以好醋調藥塗上，以紙封之，次服內托裡之藥，其疔自旋出根。</p>
<p>巴豆仁（五分）　白僵蠶　輕粉　砂（以上各二錢五分）</p>
<p>上為細末，醋調用之。</p>
<p><u>天丁散</u></p>
<p>（同前秘傳經驗方）</p>
<p>治一切疔瘡及諸惡瘡初生，以藥塗之，急服托裡內消。</p>
<p>山丹花蕊　香白芷（以上各二錢）　牛蒡子根（春采去皮）　天丁（乃皂角刺）　蒼耳芽　大力子（以上各五錢）　雄黃（一兩）</p>
<p>上五月五日，受氣修合，為細末，每用好醋塗紙，封之疔瘡上，有黑甲者，必須胡桃油浸，次塗之自可。</p>
<p><u>萬應膏</u></p>
<p>（同前所傳）</p>
<p>治一切瘡瘍，初生腫　甚者，無問大小，以膏可腫痕貼之，煎蔥白水熱淋兩　時，良久再淋，腫消為度。如瘡老不能瘥者，亦收斂聚膿，決然早瘥。</p>
<p>黃柏　芍藥　白芷　黃　木鱉仁　杏仁　當歸　白芨　生地黃　官桂　玄參（去皮銼沒藥　乳香（以上各五錢，研）　白蘞　黃蠟（以上各一兩）　黃芩　大黃（以上各二兩）　黃丹（一斤）　芝麻油（二斤八兩）</p>
<p>上件十四味，入油內浸一宿，絕早入沙鍋慢火熬，用生柳條攪至申時，以焦褐色出火，渣，又以重綿濾過，入丹再熬，旋滴水中成珠子不散者，出火毒絕煙，入乳香、沒藥、黃蠟攪勻，用瓷器收貯，於土內埋七日，取出攤用。</p>
<p><u>治小兒面湮瘡</u></p>
<p>俗云煉銀瘡者，是母受胎之日，食酸辣及邪味過度，多生此瘡。</p>
<p>百藥煎（五錢）　生白礬（二錢）</p>
<p>上為細末，小油調旋，搽之神效。</p>
<p><u>治赤白口瘡</u></p>
<p>大人飢渴不時，小兒失驚，即生口瘡。</p>
<p>生白礬（二錢）</p>
<p>上噙漱之，從瀝頑涎，立效。</p>
<p><u>治干濕疥癬</u></p>
<p>此是肺受邪毒，運於四肢，久而不散，以生肉蠹。</p>
<p>硫黃（二兩）　生白礬（八錢）</p>
<p>上為細末，油調火炙，抓破塗之，立效。</p>
<p><u>治湯火燒燙</u></p>
<p>無問新舊。</p>
<p>青槐枝（一兩，銼碎）　綠豆粉（一兩，炒黃色）　輕粉（一錢）</p>
<p>上同為細末，油調塗之，止痛減毒。</p>
<p><u>治破傷風</u></p>
<p>手足顫掉不已者。</p>
<p>朱砂（另研）　南星（去臍）　獨活（去皮，以上各二錢）　人手足指甲（燒絕煙，六錢）</p>
<p>上為細末，分作三服，酒調服之，立效。</p>
<p><u>治破傷</u></p>
<p>無問新舊。</p>
<p>鍛石上用一味，驗瘡口大小盡干塗之，不須封裹，神效。</p>
<p><u>治風狗咬、破傷風</u></p>
<p>此病非為小可，乃九死一生之病，可急用之。</p>
<p>好斑蝥（七個，去翅足）</p>
<p>上為細末，酒調服之。於小便盆內，見衣沫似狗形者為效；如無，再服七次。雖無狗形，亦不再發也。此方累試經驗，今附於此。</p>
<h3>論炮制諸藥及單方主療瘡腫法</h3>
<p>夫藥者，治病之物。蓋流變在乎病，主治在乎藥，制用在乎人，三者不可闕一也。凡用一味炮炙修制及單方主療，該引方書出處，不必隨方標寫。</p>
<p>朱砂須研細，水飛，濾干。若入膏中者，待熬膏成，稍凝冷，即下急攪，勿令沉聚。大凡石類，一一如此。</p>
<p>雲母即須用煉成熟粉。曾經婦人手拈者不效。《聖惠方》治湯火瘡，羊髓和膏，塗之神良。</p>
<p>《千金方》如治金瘡及諸惡瘡，依上塗敷，大效。</p>
<p>礬石（即白礬）</p>
<p>凡用，須木炭火上枯汁盡。主陰蝕惡瘡，去鼻中息肉，生含咽津，治急喉閉。《肘後方耳中卒腫痛，或有膿水者，以筒吹一字於耳中，以綿塞之立效。又治諸毒蟲惡獸咬傷，敷之則瘥。《千金方》以醋煮湯，潰蠍螫立瘥。王氏博濟，治驢馬汁毒傷人，瘡腫痛，和黃丹敷之。《靈苑方》治傷折瘡腫，以沸湯投枯礬漬浴之。《御藥院方》，治陰汗，以枯礬投沸湯水銀主疥　痂傷白禿，入膏，令膏冷凝下之，攪令勻散如星，勿令沉聚。</p>
<p>水銀粉（即輕粉）</p>
<p>主瘰　，殺疥癬蟲，酒　風。以羊髓和如膏塗及貼　瘡，一上可。</p>
<p>鍛石主疥癬、骨疽、金瘡風化者良。《外台秘要》方治風疹以漿水調熱掃之，隨手瘥。孫真人治疥，淋鍛石水溫洗之，千年老者尤佳。</p>
<p>白麥飯石（即粗理黃石）</p>
<p>曾磨刀者佳。凡用，須用釅醋淬之，令屑落醋中者良。亦單用治發背，《神農本草》曰，大凡石類，多主癰疽。</p>
<p>花蕊石主金瘡止血。合硫黃木炭火炒良，或只刮花蕊石末效。</p>
<p>黃主癰疽久敗瘡，排膿止痛，兼五痔、鼠　止渴。《聖惠》、《千金》、《外台秘要》方，治發背、腦疽，托裡止渴，用黃　六兩，甘草一兩，銼細水煎，溫服，無時，大效。</p>
<p>耳（即蒼耳）</p>
<p>《千金翼方》：疔腫，用根莖葉，炒灰存性，為末，醋泔澱和如泥塗之，一日三易之。</p>
<p>三日腫消，根疔自拔出。亦治諸腫，掃之尋瘥。</p>
<p>麻黃凡用根節煮三沸，掠去沫，晒乾，銼。</p>
<p>黃芩凡用去腐蘆，揀細實者佳。梅師方：治諸丹，作末，水調掃之。亦治湯火傷。</p>
<p>烏頭、附子凡用，須炮裂，去皮臍。</p>
<p>半夏凡用，湯洗七次，去滑。</p>
<p>羊蹄根主干癬疥頭禿，取根嚙塗之效。《簡要濟眾方》：治癬瘡久不瘥，取新者絞汁，和膩粉為膏野狼毒主癰疽、惡瘡、鼠　。《聖惠方》治癬瘡積年，搔之黃汁出、癢痛，以末敷之，或豬膏芭蕉根主瘡腫。搗根汁塗之良。《百一方》治發背，根汁塗之。</p>
<p>土青木香（即馬兜鈴根）</p>
<p>治頭風、搔癢、禿瘡。</p>
<p>連翹主寒熱、鼠　、癰疽、惡瘡、癭瘤，同甘草服食。</p>
<p>蒲公草主乳癰。煮汁飲之自消。梅師方敷之亦消。</p>
<p>滑石本草不言療瘡腫，本體較治諸瘡久不愈，消熱毒腫及金瘡血不止，湯火燒瘡，用之尤良白石英主肺癰吐膿咳嗽及膈上風熱痰、肺　、消渴、陰　。補五臟。</p>
<p>赤石脂治瘡疽、痔　、瀉利，加芎末等分，粥飲調服一錢重，神效。寒者，加乾薑服。</p>
<p>白石脂治癰疽，排膿生肌，新生兒臍濕。</p>
<p>雄黃主寒熱、鼠　、惡瘡、疽、痔、死肌、疥癬。</p>
<p>硫黃主女人陰蝕，疽、痔、惡瘡、疥癬。殺蟲。</p>
<p>雌黃主惡痂疥、頭禿、下部慝瘡。殺蟲。</p>
<p>磁石消癰腫，主鼠　頸核、喉痛。</p>
<p>密陀僧主金瘡止血，口瘡疳　，面上瘢　。</p>
<p>伏龍肝糝主惡瘡，水調掃丹腫，酒調封發背，令內消。</p>
<p>石主寒熱、鼠　、惡瘡，蝕肌死。</p>
<p>薑石搗末，雞子清調，敷疔腫、丹瘤、乳癰。</p>
<p>粗理黃石（堪作碓碾者，即磨刀粗石）</p>
<p>齊‧馬嗣明治楊遵彥發背，取此石猛火　赤，投釅醋中。因有屑落取為末，醋熬如糊，濃塗立愈。大凡石頭，多主癰疽。</p>
<p>爐甘石主愈瘡止血，治目赤瘡燈心主破傷血出，每用貼破上，封之立瘥。</p>
<p>槐根皮主痔及白皮，煎湯熏浴良，入荊芥尤妙。</p>
<p>地骨皮主疽瘡經年，以粗皮煎湯洗之，細沫白穰別碾，糝之即瘥。</p>
<p>黃柏主瘡腫神良，每用去粗皮，塗蜜炙，銼。諸方用作湯漬陰瘡良。搗末，蜜水調，敷腫。</p>
<p>枳殼凡用，須麩炒去穰，銼。枳實亦同。</p>
<p>厚朴凡用，須去粗皮，生薑塗制炙微焦，銼。</p>
<p>皂角凡用，須不蛀者。去黑皮弦子，酥炙黃色，銼。</p>
<p>木鱉子凡用，去殼。主惡瘡毒腫。孫用和方：治痔用仁，三、五枚研如泥，以沸湯浸用，汗先熏，但通手即浴洗，日三度。</p>
<p>楸樹白皮單用熬膏，貼癰疽、惡瘡、疳　、痔疾；用其白馬牙燒灰，治發背初生，用糝瘡頭上，以膏封之。</p>
<p>兔頭連皮骨，臘月細銼，瓶中封之百日，塗發腦疽、發背、惡瘡（出《百一方》）</p>
<p>兔腹下白毛治湯火瘡已破者，先用膠水掃之，後用兔白毛貼之，毛落平復。勝金方治痔，用玩月砂，即兔糞也，和乳香末，酒調三錢，溫服，日三服，即瘥。</p>
<p>蜜凡煉，須煎令沸，掠去沫。《外台》治陰頭生瘡，以蜜煎甘草末塗之神效。《肘後方》單用塗湯火瘡。</p>
<p>牡蠣凡用，木炭灰炒通赤，濕地上放經宿方用。經驗方治瘰　，用牡蠣四兩，玄參三兩，為糊丸如梧桐子大。酒服三、五十丸，食後服，藥盡患亦除根。《集驗方》治一切癰腫，水調牡蠣粉掃之，干即再掃，即消，名拔毒散。初虞世治瘰　，用和甘草末，茶調五錢，服之神效大驗。</p>
<p>蛇蛻皮諸方用治疔雜惡瘡，十年不較者，全用炒存性，豬膏和塗之，其驗神效。</p>
<p>蜘蛛</p>
<p>《聖惠》治瘰　，不問新舊，或成　者，晒乾為末，酥和如糊貼之，日三度，大效。《千金》治發背瘡，亦治鼠　。神良譚氏治贅瘤　目，以網絲作線，際根系之，一宿自落。</p>
<p>蜣螂</p>
<p>《聖惠》治一切惡瘡，端午日收干為末者，油調敷之神效。《子母秘錄》治忽得惡瘡，識者，取新者絞汁敷其上大效。古今諸方，治疔瘡欲死者，取蜣螂心腹下度取之稍白者是，以針刺疔瘡當心及四舋，以心塗貼之，百苦立已。經宿，其疔自拔出。大忌食羊肉，多不效陳橘皮凡用溫水浸去白；青橘皮亦然。</p>
<p>枇杷葉主嘔逆下氣。凡用，去毛刺，甘草湯洗，三葉重一兩者佳。</p>
<p>桃杏仁凡用，須湯浸去皮尖雙仁，炒銼或研。</p>
<p>無心草凡用，去蘆苗，煎洗甲瘭疽，神效。</p>
<p>防風凡用去叉蘆。</p>
<p>藜蘆凡用去苗。</p>
<p>犀角凡用，生不曾見火者，即鎊錯為末。</p>
<p>茯苓凡用，去粗皮，白者佳。</p>
<p>芍藥亦用白者佳。</p>
<p>牽牛子凡用，黑成熟者微炒。假如一斤，取頭末四兩。</p>
