<header><h1>傷科補要</h1></header>
<dl class="元資料" data-type="book">
<div><dt>作者</dt><dd>錢潢</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1808">公元1808年</data></dd></div>
</dl>
<h2>凡例</h2>
<p>一、凡治傷先須認明穴部，若穴不明，治則有誤。故繪總穴人圖及靈樞經骨度全圖，以便學人參考。</p>
<p>一、人身骨部長短有尺寸，古抄靈樞經骨度，繪出以便刺繆。用法，中指同身寸為準。</p>
<p>一、人之穴部總多，一穴有幾名之呼，難以辨別，故照洗冤錄人圖繪閱，有致命不致命處，易於分別。</p>
<p>一、凡人之脫骱斷骨，其骨骱包於肉裡，外視難明，恐有差誤，故照骨圖繪明，可辨其骱之形，其骨之狀。臨症時雖於肉裡，能洞悉其形狀，學人能再於枯髏上細細辨明更詳。</p>
<p>一、治傷制器具，以輔手法之成功。應用之器具亦繪圖形，使學人依樣立法。</p>
<p>一、周身名位骨圖甚多，恐難熟記，故錄其注釋會集一篇。學人誦而熟之，則了然心目矣。</p>
<p>一、治傷須明其脈理，與症合參，庶不誤耳。茲敘其略，若要精微，須詳脈訣。</p>
<p>一、三十六則參正骨心法之精義，合平日試驗之真傳分為條則，使學人熟讀，可括症治諸法之要。</p>
<p>一、凡三十六則內應用諸方，俱以經驗，奈其湯液藥名總眾，記憶良難，渾括為歌，易於成誦也。</p>
<p>一、所編歌括，其中平仄韻腳不計者，因限其湯名藥名，難以更易也。</p>
<p>末附諸方，抄集傷科各家之秘，雖未經試驗，不敢擅刪，以備明眼之采擇。</p>
<p>一、又附急救良方，以便一時之取用，並廣學人之心胸，可行方便。</p>
<h2>《靈樞經》骨度尺寸</h2>
<h3>頭部</h3>
<p>項發以下至脊骨長二寸半（自後發際以至大椎項骨三節處也）。</p>
<p>按：頭部折法，以前發際至後發際，折為一尺二寸。如發際不明，則取眉心直上，後至大杼骨，折作一尺八寸，此為直寸。橫寸法以眼內角至外角，此為一寸。頭部橫直寸法，並依此。</p>
<h3>胸腹部</h3>
<p>結喉以下至缺盆中，長四寸（此以巨骨上陷中而言，即天突空處）。</p>
<p>缺盆之下　之中，長九寸。</p>
<p>胸圍四尺五寸。</p>
<p>兩乳之間廣九寸半（當折八寸為當）</p>
<p>中下至天樞，長八寸（天樞，足陽明穴名，在臍旁，此指平臍而言）</p>
<p>天樞以下至橫骨，長六寸半。橫骨橫長六寸半（毛際下骨曰橫骨）</p>
<p>按：此古數，以今用上下穴法參較，多有未合，宜從後胸腹折為當。</p>
<p>兩脾之間廣六寸半（此當兩股之中，橫骨兩頭之處，俗名髀縫）</p>
<p>按：胸腹折法，直寸以中行為之。自缺盆中天突穴起，至歧骨際上中庭穴止，折作八寸四分。自　上歧骨際下至臍心，折作八寸。臍心下至毛際曲骨穴，折作五寸。橫寸以兩乳相去，折作八寸。胸腹橫直寸法，並依此。</p>
<h3>背部</h3>
<p>膂骨以下至尾　二十一節，長三尺（膂骨脊骨也，脊骨外小而內巨。人之所以能負任者，以是骨之巨也。脊骨二十四節，今云二十一節者，除項骨三節不在內也）</p>
<p>腰圍四尺二寸按：背部折法，自大椎至尾　，通折三尺。上七節各長一寸四分一厘，共九寸八分七厘。中七節各一寸六分一厘，共一尺一寸二分七厘。第十四節與臍相平，下七節各一寸二分六厘，共八寸八分二厘。共二尺九寸九分六厘，不足四厘者，有零未盡也。直寸依此，橫寸用中指同身寸法。脊骨內闊一寸，凡云第二行；挾脊一寸半，三行。挾脊三寸者，皆除脊一寸外，淨以寸半三寸論。故在二行當為二寸，在三行當為三寸半也。</p>
<h3>側部</h3>
<p>自柱骨下行腋中不見者，長四寸（柱骨，頸項根骨也）</p>
<p>腋以下至季脅，長一尺二寸（季脅，小肋也）</p>
<p>季脅以下至髀樞，長六寸（大腿曰股，股上曰髀，楗骨之下，大腿之上，兩骨合縫之所曰髀樞，當足少陽環跳穴處也）</p>
<p>髀樞下至膝中，長一尺九寸。</p>
<p>橫骨上廉下至內輔之上廉，長一尺八寸（骨際曰：廉膝旁之骨突出者曰輔骨，內曰內輔，外曰外輔）</p>
<p>內輔之上廉以下至下廉，長三寸半（上廉下廉，可摸而得）</p>
<p>內輔下廉下至內踝，長一尺二寸。</p>
<p>內踝以下至地，長三寸。</p>
<h3>四肢部</h3>
<p>肩至肘長一尺七寸。</p>
<p>肘至腕長一尺二寸半（臂之中節曰肘）。</p>
<p>腕至中指本節長四寸（臂掌之交曰腕）。</p>
<p>本節至末長四寸半（指之後節曰本節）。</p>
<p>膝以下至外踝長一尺六寸。</p>
<p>膝　以下至跗屬長一尺二寸（　，腿彎也。跗，足面也。膝在前，　在後，跗屬者凡兩踝前後，脛掌所交之處，皆為跗之屬也。）</p>
<p>跗屬以下至地長三寸。</p>
<p>外踝以下至地長一寸。</p>
<p>足長一尺二寸，廣四寸半。</p>
<p>按：骨度乃《靈樞經》骨度篇之文，論骨之長短，皆古數也。然骨之大者則太過，小者則不及，此亦言其則耳。若周身手足折量之法，用前中指同身寸法為是。同身寸量法，詳刺灸照檢骨格圖（佚）</p>
<p>照洗冤錄尸格圖（佚）</p>
<h2>器具總論</h2>
<p>跌撲損傷，雖用手法調治，恐未盡得其宜，以致有治如未治之苦，則未可云醫理之周詳也。爰因身體上下正側之象，制器以正之，用輔手法之所不逮，以冀分者復合，欹者復正，高者就其平，陷者升其位，則危證可轉於安，重傷可就於輕。再施以藥餌之功，更示以調養之善，則正骨之道全矣。</p>
<h3>攀索</h3>
<p>攀索者，以繩掛於高處，用手攀之也。</p>
<h3>疊磚</h3>
<p>疊磚者，以磚六塊分左右，各疊置三塊，兩足踏於其上也。</p>
<p>用法詳於第十五則內。</p>
<h3>腰柱</h3>
<p>腰柱者，以杉木四根，制如扁擔形，寬一寸濃五分，長短以患處為度，俱自側面鑽孔，以繩聯貫之。</p>
<h3>用法釋義</h3>
<p>凡腰間閃挫結氣者，以常法治之。若腰節骨被傷錯筍，膂肉破裂，筋斜佝僂者，用醋調定痛散，敷於腰柱上。視患處，將柱排列於脊柱兩旁，務令端正。再用蘄艾做成薄褥，覆於柱上，以御風寒。用寬長布帶繞向腹前，緊緊扎裹。內服藥餌調治，自愈。</p>
<h3>木板</h3>
<p>木板者，用極薄之杉木板。如有糕匣木板者，更妙。用法，先以白布條纏於傷處，至二三重後，將板四圍覆上，又將布纏之，外再用杉籬裹於外也。</p>
<p>其用詳於第十六則內。</p>
<h3>杉籬</h3>
<p>杉籬者，復逼之器也。量患處之長短闊狹，曲直凸凹之形，以杉木為之。酌其根數，記清次序，不得紊亂。然後於每根兩頭各鑽一孔，以繩聯貫之，有似於籬，故名焉。裹於杉板之外，取其堅勁，不致斷骨之走動耳。</p>
<h3>抱膝</h3>
<p>抱膝者，用絲弦藤作圈，較膝蓋骨稍大一些，以布條纏於圈上，作四足之形，扎於膝上用法詳於第二十二則內。</p>
<h3>周身名位骨度注釋</h3>
<p>頭者，人之首也。凡物獨出之首，皆名曰頭。腦者，頭骨之髓也，俗名腦子。顛者，頭頂也。顛頂之骨，俗名天靈蓋。囟者，顛前之頭骨也。小兒初生未闔，名曰囟門；已闔，名曰囟骨，即天靈蓋後合之骨。面者，凡前曰面。凡後曰背。居頭之前，故曰面也。顏者，眉目間名也。額顱，額前發際之下，兩眉之上，名曰額。一曰顙者，亦額之謂也。頭角，額兩旁棱處之骨也。鬢骨，即兩太陽之骨也。目者，司視之竅也。目胞者，一名目窩，一名目裹，即上下兩目外圍之胞也。目綱者，即上下目胞之兩瞼邊，又名曰睫，司目之開闔也。目內　者，乃近鼻之內眼肉，以其大而圓，故又名大　也。目外　者，乃近鬢前之眼肉也，以其小而尖，故稱目銳　也。目珠者，睛之俗名也。目系者，目睛入腦之系也。目眶骨者，目窩四圍之骨也。上曰眉棱骨，下即　骨，　骨之外，即顴骨。　者，目界骨，名曰鼻柱。下至鼻盡之處，名曰準頭。　者，　內鼻旁間近生門牙之骨也。顴者，面兩旁高起之大骨也。　者，俗呼為腮，口旁頰前肉之空軟處也。耳者，司聽之竅也。蔽者，耳門也。耳郭者，耳葉也。頰，耳前顴側面兩旁之稱也。曲頰者，頰之骨也。曲如環形，受頰車骨尾之鉤者也。頰車者，下牙床骨也。總載諸齒，能咀食物，故名頰車。人中者，鼻柱之下、唇之上，穴名水溝。口者，司言食之竅也。唇者，口端也。吻者，口之四周也。頤者，口角後　之下也。頦者，口之下唇至末之處，俗名下巴殼也。頜者，頦下結喉上，兩側肉之者，司味之竅也。舌本者，舌之根也。頏顙者，口內之上二孔，司分氣之竅也。懸壅垂者，張口視喉上，似乳頭之小舌，俗名碓嘴。會厭者，覆喉管之上竅，似皮似膜，發聲則開，咽食則閉，故為聲音之戶也。咽者，飲食之路也，居喉之後。喉者，通聲息之路也，居咽之前。喉嚨者，喉也，肺之系也。嗌者，咽也，胃之系也。結喉者，喉之管頭也，其人瘦者，多外見頸前，肥人則隱於肉內，多不見也。胸膺者，缺盆下腹之上，有骨之處也。膺者，胸前兩旁高處也。一名曰臆，胸骨肉也，俗名胸膛。　者，胸之眾骨名也。乳者，膺上突起兩肉有頭，婦人以乳兒者也。鳩尾者，即蔽心骨也，其質系脆骨，在胸骨之下、歧骨之間。膈者，胸下腹上之界內之膜也，俗名羅膈。腹者，膈之下曰腹，俗名肚。臍之下曰少腹，亦名小腹。臍者，人之初生胞帶之處也。毛際者，小腹下橫骨間，叢毛之際也。下橫骨，俗名蓋骨。篡者，橫骨之下、兩股之前，相合共結之凹也。前後兩陰之間，名下極穴，又名屏翳穴。會陰穴，男女陰器之所也。睪丸者，男子前陰之兩丸也。上橫骨，在喉前宛宛中天突穴之外。小灣橫骨，旁接柱骨之骨也。柱骨者，膺上缺盆之外，俗名鎖子骨也。內接橫骨，外接肩解也。肩解者，肩端之骨節解處也。　骨者，肩端之骨也，即肩胛骨，頭臼之上棱骨也，其臼接　骨上端，俗曰肩頭。其外曲卷翅骨，肩後之棱骨也。其下棱骨，在背肉內。肩胛者，即　骨之末，成片骨也，亦名肩膊，俗名　板子骨。臂者，上身兩大支之通稱也。一名曰肱，俗名胳膊。胳膊中節，上下骨交接處，名曰肘。肘上之骨，曰　骨。肘下之骨，曰臂骨。臂骨有正輔二骨，輔骨在上，短細偏外；正骨居下，長大偏內，俱下接腕骨也。腕者，臂掌骨接交處，以其宛屈故名也。當外側之骨，名曰高骨，一名銳骨，亦名踝骨。掌者，手之眾指之本也。掌之眾骨，名壅骨，合湊成掌，非塊然一骨也。魚者，在掌外側之上隴起，其形如魚，故謂之魚也。手者，上體所以持物也。手心者，即掌之中也。手背者，手之表也。</p>
<p>指骨者，手指之骨也。第一大指，名巨指，在外二節，本節在掌。第二名食指，又名大指之次指，三節在外，本節在掌。第三中指名將指，三節在外，本節在掌。第四指，名無名指，又名小指之次指，三節在外，節在掌。其節節交接處，皆有碎骨筋膜聯絡。爪甲者，指之甲也。足趾同。歧骨者，凡骨之兩際，俗名胳肢窩。脅肋者，腋下至肋骨盡處之統名也。曰肋者，脅之單條骨之謂，統脅肋之總，又名曰　。季脅者，脅之小肋骨也，俗名軟肋。　者，脅下無肋骨空軟處也。腦後骨者，俗呼腦杓。枕骨者，腦後骨之下，隴起者是也，其骨或棱或平，或長或圓不一。完骨者，耳後之棱骨，名曰完骨，在枕骨下兩旁之棱骨也。頸項者，頸之莖也。又曰頸者，頸之側也。項者，頸之後也，俗名脖項。頸者，頭之莖骨，肩骨上際之骨，俗名天柱骨也。項骨者，頭後頸骨之上，三節圓骨也。背者，後身大椎以下，腰以上之統稱也。膂者，挾脊骨兩旁肉也。脊骨者，脊膂骨也，俗名脊梁骨。腰骨者，即脊骨十四椎下，十五十六椎間，尻上之骨也，其形中凹，上寬下窄，方圓二三寸許，兩旁四孔，下接尻骨上際也。胂者，腰下兩旁踝骨上之肉也。臀者，胂下尻旁大肉也。尻骨者，腰骨下十七椎、十八椎、十九椎、二十椎、二十一椎，五節之骨也。上四節紋之旁，左右各四孔，骨形內凹如瓦，長四五寸許，上寬下窄，末節更小，如人參蘆形，名尾閭，一名　端，一名橛骨，一名窮骨。在肛門後，其骨上外兩旁，形如馬蹄，附著兩踝骨上端，俗名胯骨。肛者，大腸下口也。下橫骨，踝骨楗骨者下橫骨，在少腹下，其形如蓋，故名蓋骨也，其骨左右二大孔：上，兩分出向後之骨，首如張扇下寸許，附著於尻骨之上，形如馬蹄之處，名曰踝骨；下，兩分出向前之骨，末如楗柱，在於臀內，名曰楗骨，與尻骨成鼎足之勢，為坐主骨也，婦人名曰交骨。其骨面名曰髖，挾髖之曰名曰機，又名脾樞，外接股之髀骨也，即環跳穴處，此一骨五名也。股者，下體兩大支之通稱也，俗名大腿。小腿中節上下交接處名曰膝，膝。膝下之骨曰　骨，脛之大骨也。髀骨者，膝上之大骨也，上端如杵，接於髀樞，下端如錘，接於　骨也。　骨者，俗名　脛骨也，其骨兩根，在前者名成骨，又名　骨，形粗，膝外突出之骨也。在後者，名輔骨，形細，膝內側之小骨也。伏兔者，髀骨前膝之上起，肉似俯兔，故曰伏兔。膝解者，膝之節解也。髕骨者，膝上蓋骨也。連骸者，膝外側二高骨也。</p>
<p>者，膝後屈處，俗名腿凹也。　者，下腿肚也，一名腓腸，俗名小腿肚。踝骨者，　骨之下，足附之上，兩旁突出之高骨，在外為外踝，在內為內踝也。足者，下體所以趨步也，俗名腳。跗骨者，足背也，一名足趺，俗稱腳面。跗骨者，足趾本節之眾也。足心者，即踵之中也。跟骨者，跟足後根之骨也。趾者，足之指也。其數五，名為趾者，別於手也。居內之大者，名大趾；第二趾，名大趾之次趾；第三趾，名中趾；第四趾，名小趾之次趾；第五趾居外之小者，名小趾。足之指節，亦與手指節同，其大趾之本節後，內側圓骨形HT　者，名核骨。三毛者，足大趾爪甲後為三毛，毛後橫紋為聚毛。踵者，足下面著於地之謂也，俗名腳底板。</p>
<h3>脈訣</h3>
<p>傷科之脈，須知確鑿。蓄血之症，脈宜洪大；失血之脈，洪大難握。蓄血在中，牢大卻宜。沉澀而微，速愈者稀。失血諸症，脈必現芤。緩小可喜，數大甚憂。浮芤緩澀，失血者宜。</p>
<p>若數且大，邪勝難醫。蓄血脈微，元氣必虛。脈症相反，峻猛難施。左手三部，浮緊而弦，外感風寒。右手三部，洪大而實，內傷蓄血。或沉或浮，寒凝氣束。乍疏乍數，傳變莫度。</p>
<p>沉滑而緊，痰瘀之作。浮滑且數，風痰之惡。六脈模糊，吉凶難摸。和緩有神，雖危不哭。</p>
<p>重傷痛極，何妨代脈，可以醫療，不須驚愕。欲知其要，細心習學。</p>
<h2>第一則‧金瘡論治</h2>
<p>夫金瘡者，乃刀斧劍刃之所傷也，故名曰金瘡。蓋木乃春之權，金乃秋之令。春則萬物始生，故春屬震，乃東方甲木之氣也；秋則萬物凋零，故金屬兌，乃西方庚金之氣也。金瘡之色，最喜者淡紅，故吉多而凶少；最惡者紫黑，故少吉而多凶。但金屬肺，患金瘡者，則忌咳嗽嘔噦，亟宜避風為妥。夫風屬巽木，肝之氣也。瘡屬庚金，肺之候也。如瘡口被風邪所客，則木旺生火，反克肺金，而成破傷風矣。致瘡口浮腫，潰爛流膿，變生諸症。甚則憎寒壯熱，口噤目斜，身體強直，角弓反張，危在旦夕，救之不及者死。其看法，須辨瘡口之淺深，脈象之虛實，年歲之老少，稟賦之濃薄。若胃氣益旺，飲食如常，此為最善。蓋脾胃屬土，土生萬物，為陽氣之元，陽氣旺則陰血易生。尤須戒怒絕欲，怒則瘡口迸裂，變生　肉；欲則瘡口腐爛，易損新肌。所賴髓經而治，轉危為安矣。凡金瘡初治，輕者，當出血之時，用止血絮封固傷口，急止其血，如無所犯，待其結HT　自愈；重者，筋斷血飛，摻如聖金刀散，用止血絮扎住，血止後，若腫潰，去其前藥，再塗玉紅膏，外蓋陀僧膏，止痛生肌。初服三黃寶蠟丸，若腫痛服黎洞丸；如出血過多，面黃眼黑，不可攻瘀，宜服八珍湯；甚者，獨參湯，先固根本。凡初傷時，切忌熱湯淋洗，恐冒湯火之毒。若傷口腫潰流膿，用甘蔥煎洗淨，再摻金槍鐵扇散，收濕拔膿，外蓋玉紅膏，止痛生肌，防護風邪，可無後患。凡服湯藥，必以和營養衛為主。若有傷風身熱腫痛等象，視其脈浮無力，則病在太陽，宜羌活湯汗之；脈長有力，則病在陽明，宜承氣湯下之；脈緊而弦，則病在少陽，宜柴胡湯和解之。若傳變入裡，則不治矣。夫金瘡變易，各有治法，或居於邊疆，偶為刀箭所傷，非得勝之藥，安能治之乎！《虎鈴經》曰：人為兵器所傷出血者，必口渴甚，不可妄與熱湯及熱酒，須干食肥膩之物，取其解渴而已，斯無妨害；即熱粥亦不宜多，飲多則血沸出不止。其所忌，蓋有八焉：一忌罵怒，二忌喜笑，三忌高聲，四忌勞力，五忌妄動，六忌熱羹粥飲，七忌過酒，八忌酸鹹。此八者犯之，鮮有得生者。亦有不可治者九：曰傷腦，曰傷天倉，曰傷臂中跳脈，曰傷大小腸，曰傷五臟，此九者皆死。又有難治者四：腦破髓出，及咽喉中沸聲，兩目直視，並痛在不傷處。經曰：出血不止，前赤後黑，或肌肉腐爛，寒凝堅實，其瘡難愈。有此四者，皆不可療。更按其脈之虛、細、沉、小、和、緩者生，若浮、洪、數、大、急、疾者死。如失血過多，急宜人參補氣，即經所謂「陽生陰長」之義耳。</p>
<h2>第二則‧治傷法論</h2>
<p>夫跌打損傷，墜墮磕　之證，專從血論。或有瘀血停積，或為亡血過多，然後施治，庶不有者，宜補而行之。更察其所傷上下輕重淺深之異，經絡氣血多少之殊，先逐其瘀，而後和營止痛，自無不效。《內經》云：形傷則痛，氣傷則腫。又曰：先腫而後痛者，形傷氣也；先痛而後腫者，氣傷形也。凡打撲閃錯，或惱怒氣滯、血凝腫痛，或因叫號血氣損傷，或過服克伐之劑，或外敷寒涼之藥，致氣血凝結者，宜活血順氣之法。夫損傷雜證，不及備載，俱分門晰類，詳列於後，學人宜盡心焉。</p>
<h2>第三則‧跌打損傷內治證</h2>
<p>是跌打損傷之證，惡血留內，則不分何經，皆以肝為主。蓋肝主血也，敗血必歸於肝。</p>
<p>其痛多在脅肋小腹者，皆肝經之道路也。宜疏肝、調血、行經為主。王好古云：登高墜下、撞打等傷，心腹胸中停積瘀血；或氣瘀攻衝，昏迷不醒，或寒熱往來，日輕夜重，變症多端，醫者不審其原，不切脈之虛實，不分經絡臟腑，妄投藥劑，枉死者多矣。故臨症時，須察脈之虛實，審症輕重，藥配君臣佐使，治分老幼強弱，即從上、中、下三焦分別部位：若瘀在上而吐血者，宜犀角地黃湯；在中者，桃仁承氣湯；在下者，抵當湯。虛人，宜佐以四物湯。</p>
<p>若瘀散，復元通氣散調之。或傷處青腫堅實，痛難轉側，脈澀而滯者，防其氣瘀上衝，宜投參黃散逐瘀，又宜復元活血湯。或受傷日久才醫者，敗血堅凝，宜服紫金丹逐瘀；又祛傷散疏通為要，俟其色散淡，血和痛止為度。或有牙關緊閉，用通關散吹入鼻中取嚏，投三黃寶蠟丸或奪命丹。如口開納藥者可治，不納藥者危。須忌濕地當風坐臥，忌食生冷硬物，忌服寒涼藥餌，恐其血凝難化，遺留後患也。凡視重傷，先解開衣服，遍觀傷之重輕，穴之致命與否，察色聞聲，脈探虛實。如六脈和緩者生；九候不調者死。陰囊內有腎子者，可治；如入小腹者，不治。如牙關閉，急用開牙散搽之，若能蘇醒，再投黎洞丸，或可挽回。醫者須細心審察，不可草率誤人。</p>
<h2>第四則‧至險之證不治論</h2>
<p>凡至險之症，有氣管全斷者，不治；若稍連續者，可治。或氣管捏扁，氣塞不通，醫將二指拈正其管，用通關散吹鼻取嚏可也。或天柱骨斷，額冷脈絕者死。或囟門骨破、髓出者不治。若內膜不穿，髓不出者可治。或食飽受傷，及跌損五內者不治，若過得三日，可治。或耳後壽台骨破，血流不止者難治。胸口大痛，青色裹心者死。兩乳重傷痛極，呼吸不得者難治。或腎囊皮破，腎子掛出者可治；腎子入小腹者不治。或腰眼重傷，內腎離位，或笑或哭者立死。或胃腸受傷，吐糞或泄糞者立死。孕婦足踢小腹者難治。重傷後，氣出不收，眼開者，不治。口如魚嘴，吹沫纏風者，不治。小腹重傷，不分陰陽者，難治。</p>
<p>或跨物失足，騎傷陽物，始而溺孔出血，繼則玉莖腫脹，小便點滴不通，小腹堅實者，死於七日內，不治。又有八忌：一忌傷腦髓出；二忌傷臂中跳脈；三忌傷小腹膀胱；四忌傷海底穴；五忌傷五內；六忌傷氣海，咽喉痰聲如鋸物；七忌疼在不傷處，兩目直視；八忌血出不止，先赤後黑，肌肉腐爛，臭穢不堪。犯此八者，難治。凡斗毆時，向上打為順氣，平打為塞氣，倒插打為逆氣。凡人血隨氣轉，氣順則血順，氣逆則血逆，塞則氣閉，逆則上衝。是以傷有平塞順逆之別，若治之不辨，危在須臾。又有五絕之論：一看兩眼白睛上紅筋多，則瘀血亦多，若直視無神，不治；二扳撳其指甲，血即還原者，可治，不還原者，不治；三若腳趾與手指甲俱黑者，死；四陽物縮者，不治；五腳底之色蠟黃者，難治。此五絕之症也。又有十不治之證：顛撲損傷入於肺者，縱未即死，二七難過；左脅下傷透至內者；腸傷斷者；小腹下傷入內者；證候繁多者；傷破陰子者；老人左股壓碎者；血出盡者；肩內耳後傷透於內者；脈不實者。以上諸證，不必用藥。</p>
<h2>第五則‧從高墜下傷</h2>
<p>凡人從高墜下，跌傷五臟，不省人事，氣塞不通者，看其兩太陽及胸前脅下如何？若動，則可救。急用通關散吹鼻中，如有嚏，語聲得出者，投黎洞丸，再服復元活血湯，逐瘀生新。</p>
<p>若遲，則不救。或有從高倒墜，天柱骨折，致頸插入腔內，而左右尚活動者，用提法治之；或打傷，頭低不起，用端法治之；或墜傷，左右歪斜，用整法治之；或傷而面仰，頭不能垂，或筋長骨錯，或筋聚筋強，頭垂不起者，用推、端、續、整四法治之。臨症時，須問其或翻車墜馬，或高處墜下，或打重跌倒，再問或思食不思食。若四肢無傷，精神不減，或能坐起行動者，輕；或昏睡不語，或疼痛呼號，瘀聚凝結，腫硬筋脹者，重。投三黃寶蠟丸，服接骨紫金丹，敷萬靈膏，熨定痛散。手法詳後。</p>
<h2>第六則‧顛頂骨傷</h2>
<p>顛頂骨，男子三叉縫，女子十字紋，一名天靈蓋，位居至高，內函腦髓，以統全體者也。或跌打　撞等傷，卒然而死，身體強直，口鼻尚有出入之氣，心口溫熱跳動者，可救。惟宜屈膝盤坐（《金鑒》「盤坐」作「側臥」），先將醋調混元膏，敷於頂上，再將草紙卷點燃著，令呻吟有聲，用童便調八厘散，或黎洞丸亦可。俟其氣轉陽回，外用手法。按摩心胸兩腋下，並托其手腕，頻頻揉摩兩手脈窠。凡傷則筋脈強硬，頻頻揉摩，則心血來復，命脈流通，即可回生。再服接骨紫金丹，外用散瘀和傷湯，洗去前藥，換敷混元膏。或大便干燥，乃內存瘀血，服加減蘇子桃仁湯。或耳聾者，用導氣通瘀錠，塞耳中，食宜素粥，切戒惱怒，忌油膩面食，臥宜淨室，勿令人喧擾。若重傷已死者，用白布纏頭，以木棍輕輕拍擊足心，再提發令其頸端直，舒其筋絡，外敷混元膏，內服紫金丹。如外皮未破，而骨已碎，內膜已穿，血向內流，聲啞不語，面青唇黑者，不治。或頂骨塌陷，驚動腦髓，七竅出血，身挺僵厥，昏悶全無知覺者，不治。或骨碎髓出，不治。或皮開肉綻，血流不止者，可治。用止血絮封固，先止其血，服補氣養血湯。宜避風寒，戒怒遠色，俟其結痂。若潰爛流膿，用甘蔥煎洗去封藥，摻鐵扇散，蓋玉紅膏，服疏風養血湯，照法洗換，待其結痂痊愈。</p>
<h2>第七則‧囟門骨傷</h2>
<p>囟骨者，即嬰兒頂骨未合時，軟而跳動之處，名囟門。或跌打損傷，骨縫雖綻，尚未震動腦正坐，以蔥汁調定痛散敷於傷處，用粗紙蘸醋，貼於藥上，燒鐵熨斗烙紙上，以傷處覺熱疼，口中有聲為度。去藥，貼萬靈膏，二、三日一換，用和傷湯洗之，自然腫消痛止。或皮破血出不止，用止血絮封固，內服和營養衛湯。若潰爛流膿，用甘蔥煎洗去前藥，摻生肌散，貼玉紅膏。宜避風寒，忌食發物火酒。若皮破血流不止，骨陷筋翻，必損腦髓，氣息無聲，則危篤難醫。若破傷風者，照前傷風法治之。山角骨，即頭頂兩旁棱骨也。凌云骨，在前發際下，即正中額骨，即額顱也。左右天賢骨者，即兩額角也。睛明骨，即目窠四圍目眶骨也。眉棱骨其下曰　骨，下接上牙床也。若傷之，均照前囟骨傷法治之可也。然臨症之權衡，用藥之巧妙，神而明之，存乎其人。</p>
<h2>第八則‧鼻梁骨斷</h2>
<p>（附目傷）</p>
<p>鼻梁骨，下至準頭，傷而出血，可治。外將止血定痛散敷之，內服接骨紫金丹。或傷開孔竅，或鼻破歪落，用整端法，用藥敷貼可也。若骨破碎，內膜穿破，口鼻流血者，不治。中血堂，即鼻內　下脆骨空處也。若傷之，血流不止。神氣昏迷者，宜塞鼻丹塞於鼻中，用冷水淋進，氣虛目閉面黃者，八日而死。或睛明骨傷，眼珠掛落者，先將收珠散，用銀針蘸井花水，將藥點眼珠上，及點血筋上，用舊絹溫湯挪上，服還睛湯二、三劑；又服明目地黃湯，調理可愈。</p>
<h2>第九則‧唇口玉堂傷</h2>
<p>唇口者，司言食之竅也。或傷破唇缺，先用油線縫合，敷止血生肌散，蓋玉紅膏，內服健脾舌上，頻頻添換。使患人仰臥，薄粥灌喉，不動其舌，則易愈。又有玉堂，在口內上　，一名上含，其竅即頏顙也。若觸刺傷其左右者，惟腫而已。若傷正中之孔，上通於　，必傷鼻孔之卷肉，或犯空竅，則血流不止，以致鼻目皆腫，滿面青紫，神倦頭暈，痛連腦髓。若傷及會厭與上橫骨，重則不能言，痛連心膈，昏迷沉重者，險。急用膩粉、冰片細研，吹於患處，以止其血。服接骨紫金丹，再用蟹黃、血竭煎湯，日漱口二、三十次。如飲食難進，以柿霜、玉露霜，牛奶或奶油，或粉粥面粥等物，以涼潤將息得法，可愈。</p>
<h2>第十則‧傷耳</h2>
<p>耳者，司聽之竅也。耳門名曰蔽，耳葉名曰郭。或被砍跌打落，或上脫下黏，或下脫上連，縛靈明。若傷者腫痛流血，服接骨紫金丹，外用八仙逍遙湯熏洗，貼混元膏。若傷重，內動腦髓，及傷靈明，昏沉不省，若平素氣血皆虛者，不治。地閣骨，即兩車相交之骨，又名頦，俗名下巴骨也，上載牙齒。傷之飲食不進，目閉神昏，心熱神亂，服大神效活絡丹，再噙化人參紫金丹，搽固齒散，外貼萬靈膏，忌風寒冷物。或牙齒傷動者，用蒺藜根燒存性為末揩之，或以固齒散揩之亦佳。</p>
<h2>第十一則‧咽喉傷</h2>
<p>咽喉者，乃氣息之路也。或被傷，或自刎，其症迅速，急則可救，遲則血脫額冷，氣絕不治，膏長四、五寸，闊二、三寸，橫貼連及好肉處，不使封藥脫落；外用布條纏頸，高枕仰臥，使項屈不伸，刀口易合。宜處密室避風，使呼吸舒徐，用人參、川米、生薑煎湯，時時飲之，補接元氣。若二、三日後，有膿水流出，解去前藥，用甘蔥湯洗淨，摻生肌散，搽玉紅膏，又外貼長肉膏防護風邪。冬天三日，夏天一、二日，照法洗換，自然痛止，其肌漸長，服八珍湯調治月余可愈。如大便閉結，不可妄攻，服麻仁丸。至急者，用膽導法，無損其元。</p>
<p>按《內景圖》云：喉在前主出，咽在後主納，喉系堅空，連接肺本，為氣息之路，呼吸出入，下通諸臟，乃氣化之要道也。咽系柔空，下接胃本，為飲食之路，水穀歸胃，下通諸腑，乃轉運之關津也。若傷之，豈不至險乎？治者，須心手相應，不差毫發，乃無誤也。而先看其刀彎者，其痕深。其刀直者，其痕淺。若左手持刀而刎者深，右手持刀而刎者淺。一刀勒者深，兩刀勒者淺。如喉脘破而有出入之氣，封藥吸進必嗆咳，先用雞子內軟衣蓋於破脘之上，再將藥封之，則不嗆矣。如單脘破者，月余而痊；雙脘破者，兩月而愈。照法治之可也。</p>
<h2>第十二則‧腹傷腸出</h2>
<p>如鏃破大小腹，致腸突出者，看腸外衣膜穿破否？若膜穿者，腸必逐條而散也，則不治；若可治。不可傷其膜，宜敷收膜散，外蓋玉紅膏，冀其漸平。如腸出者，將溫湯浴暖其腸，不可傷犯。一人將醋和冷水，不令病者知覺，急　其面，其腸自收。用油線縫合，不可太深，恐傷其肉。摻鐵扇散，搽玉紅膏，外蓋長肉膏。又用布纏腰數轉，須避風邪，切戒惱怒、高聲，恐有崩裂之患。初服舒腸活血湯，再服八珍湯，調理月余可愈。或陰囊皮破，腎子掛出，用溫湯挪上，油線縫合，搽玉紅膏，又蓋長肉膏，服調理之劑可愈。或皮不破而腎子入小腹者，不治。</p>
<p>凡皮肉穿破之症，失血過多，營衛已虛，或被風邪襲入經絡，漸傳入裡，寒熱交作，口噤切牙，角弓反張，口吐涎沫，身冷自汗，傷口反為底陷，其毒內攻，其危甚速。投萬靈丹，或大神效活絡丹，以玉真散敷於患處，得膿　腫、身溫有汗為效。若前症不退，傷口不高，乍醒乍昏，時發時止，口噤不開，語聲不出，終屬死症。</p>
<h2>第十三則‧手法論</h2>
<p>夫接骨入骱者，所賴其手法也。兩手安置其筋骨，仍復於舊位也。其傷有輕重，而手法有所宜、失宜。其痊可之遲速及遺留之生理殘障，皆關乎手法之所施也。人身有十二經，筋脈羅列，必知其體，識其部位。機觸於外，巧生於內，手隨心轉，法從手出。或拽之離而復合，或推之就而復位。或正其斜，或完其闕。或骨有截斷碎斷斜斷，骱有全脫半脫，筋有弛縱卷攣，翻轉離合，在其肉內，以手捫之，自悉其情。法之所施，不知其苦，方為手法也。傷有關性命者，如七竅上通腦髓，膈近心君，四末受傷，痛苦入心。若元氣素壯，敗血易消，刻期可愈。元氣素弱，一旦被傷，勢必難支，若手法再誤，萬難挽回，尤當慎之。醫者，心明手巧，知其病情，善用手法，治之多效。若草率不較，誤入非淺。</p>
<p>雖筆之於書，乃活法多端，難以盡述。須得口傳心授，臨症多而活法變，庶無誤耳。</p>
<h2>第十四則‧鎖子骨</h2>
<p>（附胸脅）</p>
<p>鎖子骨，經名柱骨，橫臥於兩肩前缺盆之外，其兩端外接肩解，或擊打偏墜傷斷者，用手法先按胸骨，將肩端向內合之，揉摩斷骨令其復位，用帶掛肩於項，勿使搖動，服接骨紫金丹，外敷定痛散，貼萬靈膏，可愈。胸骨，即　骨，一名膺骨，又名臆骨，俗名胸膛。其兩腋下至肋骨盡處名脅，脅下小肋名季脅，俗名軟肋，統脅肋之總，名曰　。岐骨者，即兩鳧骨端相接之處，下即鳩尾骨也。蔽心骨，即鳩尾骨也。其質系脆骨，在胸下岐骨之間。鳧骨者，用布纏縛數轉，服接骨紫金丹，外用定痛散熨之，貼萬靈膏。若內蓄瘀血腫痛，傴僂難仰者，服紫金丹。或大便實者，參黃散下之。若受傷日久，胸骨高起，肌肉削瘦，內有邪熱瘀血，痞氣膨悶，睛藍體倦，痰喘咳嗽者，服紫金丹。若傷重，內干胸中心肺兩臟之氣，昏迷目閉，嘔吐血水，呃逆戰栗者，危在旦夕，不治。心坎上橫骨，又名人字骨，從下而上，若第一節傷者一年死，第二節傷者二年死，第三節傷者三年死。此穴內應乎肺，傷必吐血咳嗽。凡胸前背後重傷，久則成痰火勞怯。左乳傷，發咳嗽。右乳傷，發呃逆。凡胸脅諸傷，黎洞丸、三黃寶蠟丸皆可酌用之，再服理肺之劑以收功。</p>
<h2>第十五則‧背脊骨傷</h2>
<p>背者，自後身大椎骨以下，腰以上之通稱也，一名脊骨，一名膂骨，俗呼脊梁骨，其形一條於前則為胸脅也。腰骨者，即脊骨之十四椎、十五椎、十六椎也。尾　骨，即尻骨也，其形上寬下窄，上承腰脊諸骨，兩旁各有四孔，名曰八　。其末節名曰尾閭，一名　端，一名撅骨，一名窮骨，俗名尾椿也。或跌打傷者，瘀聚凝結，脊筋隴起，當先柔筋，令其和軟，內服紫金丹，敷定痛散，燒紅鐵烙熨之，貼混元膏。若骨縫疊出，俯仰不能，疼痛難忍，腰筋僵硬，使患者兩手攀索，兩足踏磚上，每足下疊磚三塊踏定，將後腰拿住，各抽去磚一塊，令病患直身，又各去一塊，如是者三，其足著地，使氣舒瘀散，陷者能起，曲者可直。再將腰柱裹住，緊緊縛之，勿令窒礙，但宜仰臥，不可側睡，膂骨正而患除，服接骨紫金丹。如胸陷不直者，亦用此法。或氣門傷，則氣塞不通，口噤反張，身強如死，過不得三個時辰，若氣從大便出者立斃。凡遇此症，不可慌張，候其氣息有無，如無氣者，為倒插拳所傷，令患人盤坐，揪其發伏我膝上，敲擊其背心，使氣從口出得蘇，服黎洞丸。尾閭，若蹲墊壅腫，必連腰胯，服黎洞丸，再服接骨紫金丹，貼萬靈膏。踢傷海底穴，血必上衝，當時耳內響聲大震，人必昏暈，先服護心丸，再服紫金丹。</p>
<h2>第十六則‧接骨論治</h2>
<p>接骨者，使已斷之骨合攏一處，復歸於舊位也。凡骨之斷而兩分，或折而陷下，或破而散亂，或岐而傍突，相其情勢，徐徐接之，使斷者復續，陷者復起，碎者復完，突者復平，皆賴乎手法也。或皮肉不破者，骨若全斷，動則轆轆有聲。如骨損未斷，動則無聲。或有零星敗骨在內，動則淅淅之聲，後必潰爛流膿。其骨已無生氣，脫離肌肉，其色必黑，小如米粒，大若指頭，若不摘去，潰爛經年，急宜去淨。如其骨尚未離肉，不可生割，恐傷其筋，俟其爛脫，然後去之。治法：先用代痛散煎湯熏洗，將其斷骨拔直相對，按摩平正如舊，先用布條縛緊，又將糕匣木板修圓綁之，又將布條纏縛，再將杉籬環抱外邊，取其緊勁挺直，使骨，仍照前法。二、三月間，換綁數次，百日可痊。凡人斷臂與斷膊，斷腿與斷　，綁法相同，治分上下。或用器具，與形體相得，隨機變化可也。或筋斷者，難續。蓋筋因柔軟，全斷則縮於肉裡，無用巧之處也；若斷而未全，宜用續筋藥敷之，內服壯筋養血湯可愈。</p>
<h2>第十七則‧脫下頦</h2>
<p>（附失頸）</p>
<p>下頦者，即牙車相交之骨也。若脫，則飲食言語不便，由腎虛所致。其骱曲如環形，與上頰推進，其骱有響聲，齒能合者上也。服補腎壯筋湯。</p>
<p>夫人之筋，賴氣血充養，寒則筋攣，熱則筋縱，筋失營養，伸舒不便。感冒風寒，以患失頸，頭不能轉，使患人低坐，用按摩法頻頻揉摩，一手按其頭，一手扳其下頦，緩緩伸舒，令其正直，服疏風養血湯可也。</p>
<h2>第十八則‧骨骱失</h2>
<p>骨者，肩端之骨，即肩胛骨也。其臼含納　骨上端，其處名肩解，即肩HT　與　骨合縫處也。俗名吞口，一名肩頭，其下附於脊骨成片如翅者。其骱若脫，手不能舉。使患人低坐，一人抱住其身，將手拔直，用推拿法，酌其重輕，待其筋舒，一手捏其肩，抵住骱頭，齊力拔出，骱內有響聲者，乃復其位矣。用布帶落其項下，服舒筋活血湯。凡上骱時，骱內必有響聲活動，其骱以上；若無響聲活動者，其骱未上也，不可誤人。</p>
<h2>第十九則‧曲骱</h2>
<p>肘骨者，胳膊中節上下支骨交接處也，俗名鵝鼻骨。上接　骨，其骱名曲　。自肘至腕，有正輔二根：其在下而形體長大連肘尖者，為臂骨；其在上而形體短細者，為轉骨。疊並相倚，下接於腕骨。其骱若出，一手捏住骱頭，一手拿其脈窩，先令直拔下，骱內有聲響，將手曲轉，搭著肩頭，肘骨合縫，其骱上矣。服生血補髓湯，或紫金丹。</p>
<h2>第二十則‧手腕骱</h2>
<p>腕骨，即掌骨，乃五指之本節也，俗名虎骨。其大小六枚，湊以成掌，非塊然一骨也。</p>
<p>其上並接臂、輔兩骨之端，其外側高骨，俗名龍骨，能宛屈上下，故名腕。若手掌著地，只能傷腕。若手指著地，其指翻貼於臂者，腕縫必開，壅腫疼痛。先兩手揉摩其腕，一手按住其骱，一手拔其指掌，掬轉有聲，活動，其骱復位。仍按摩其筋，必令調順。然命脈之所，服寬筋散，須防著寒，得免酸疼之患。凡人手指有三節，其骱突出者，俱可拔直捏正，屈伸活動；服和營止痛湯。其法相同，不必逐骱論也。</p>
<h2>第二十一則‧臀骱骨</h2>
<p>胯骨，即髖骨也，又名髁骨。其外向之凹，其形似臼，以納髀骨之上端如杵者也，名曰機，又名髀樞，即環跳穴處也，俗呼臀骱。若出之，則難上，因其膀大肉濃，手捏不住故也。</p>
<p>必得力大者三、四人，使患者側臥，一人抱住其身，一人捏膝上拔下，一手撳其骱頭迭進；一手將大膀曲轉，使膝近其腹，再令舒直，其骱有響聲者，以上。再將所翻之筋向前歸之，服生血補髓湯，再服加味健步虎潛丸。若骱不上，則臀努斜行，終身之患也。慎之！</p>
<h2>第二十二則‧大楗骨膝蓋骨</h2>
<p>大楗骨，名髀骨。上端如杵，入於髀樞之臼，下端如錘，接於　骨，統名曰股，乃下體兩大支之通稱也，俗名大腿骨。其下有膝蓋骨，即連骸，又名臏骨，形圓而扁，覆於楗　上下兩骨之端，本活動物也。內面之筋，上過大腿至兩脅，下過　骨至足背。《內經》曰：膝乃筋之府。若傷之，上連腰屈疼痛，下移　骨　腫，或足腹冷硬，步履斜行，或膀子重傷，後成黃病。服紫金丹，再茵陳等湯治黃病之藥收功。若膝蓋離位，向外側者，則內筋腫脹；向內側者，則筋直　腫。須詳視其骨，如何斜錯，按法推拿，以復其位。服補筋湯。其骱出者，一手按住其膝，一手捏住其膀，上下拔直，將膝曲轉，抵著豚　，其骱有聲者，上也；服生血補髓湯。若膝蓋骨破兩　者，用絲弦藤作箍，布條縛之，生線四根，如抱膝圖法，將手擠圓，箍定其骨，膀下縛住，屈臥月余；服接骨紫金丹。若箍後仍兩　，一生跛足，不可治矣。</p>
<h2>第二十三則‧骨腳踝跗骨</h2>
<p>骨，即膝下踝上下腿骨也，俗名　脛骨。其形二根；在前名成骨，其形粗；在後名輔骨，其形細，俗名勞堂骨。下至踝骨、　骨之下，足跗之上，兩旁突出之高骨也。在內名內踝，俗名合骨；在外為外踝，俗名核骨。其骱出者，一手抬住其腳踝骨，一手扳住腳後根拔直，撥筋正骨，令其復位，其骱有聲，轉動如故，再用布帶縛之，木板夾定，服舒筋活血湯。一、二日後，解開視之，倘有未平，再用手法，按摩其筋結之處，必令端直，再服健步虎潛丸。稍愈後，若遽行勞動，致　骨之端復走。向裡歪者，則內踝突出腫大，向外歪者，則外踝突出腫大，瘀聚凝結，步履無力，頗費調治，必待氣血通暢，始可行動。若腳趾骱失，與手指同法治之。跗者，足背也，一名足趺，俗稱腳面，其骨乃足趾本節之骨也。其受傷不一，輕者僅傷筋肉易治，重則骨縫參差難治。先以手輕輕搓摩，令其骨合筋舒，洗八仙逍遙湯，貼萬靈膏，內服健步虎潛丸及補筋丸可也。</p>
<h2>第二十四則‧受傷著寒及懷孕而傷</h2>
<p>凡人跌撲斗毆，內傷其血。復輕生投水，外著於寒，血得寒而凝結，寒得血而入深，未有能生者也。治法先祛其寒，繼逐其瘀。祛寒用麻桂溫經湯，逐瘀投紫金丹。若遲延日久，則氣滯血凝，筋脈拘緊，手足攣拳，必致不治，急服大神效活絡丹，冀其漸漸疏通，或可挽回。若婦人懷孕受傷，不可妄投傷藥，恐傷胎元，反為不美。宜服安胎和氣飲，稍加祛瘀生新之劑，使氣血和，而痛自止矣。</p>
<h2>第二十五則‧受傷感痧論</h2>
<p>凡受不甚重傷，越四五日，腹中絞痛，胸悶嘔惡，或四肢麻木，或骨節疼痛，脈象或浮或伏，與症不合。指甲紫，兩腿彎有青筋，必是痧穢之毒，宜刮宜放宜先服散痧之藥，不可服傷藥，與薑酒熱湯等物。若犯之，則禍不旋踵矣。治法，吹人馬平安散，吃蟾酥丸，又服再造紫金丹。俟痧退後，再投祛瘀生新之藥，始無妨礙。又有傷症兼疫症者，先治其疫，而後治傷，庶可兩痊。予臨症時，常遇之，故特補出。</p>
<p>放痧穴道歌（佚）</p>
<h2>第二十六則‧損傷出血吐血</h2>
<p>傷損之症，或患處或諸竅出血者，此肝火熾盛，血熱錯經妄行也。用加味逍遙散。中氣虛弱，血無所附而妄行，加味四君子湯。中氣下陷，補中益氣湯。元氣內脫，用獨參東加炮薑、附子。血蘊於內而嘔血者，四物東加柴、芩。煩勞太過，或惱怒氣逆，或過服寒毒等藥，致傷陽絡，則吐血、衄血、便血；傷陰絡，則血積血塊，肌肉青黑，臟腑虧損，經隧失職，急補脾肺二臟自愈。或嘔吐黑血者，因打撲傷損，敗血流入胃脘，色如豆汁，從嘔而出。形實者，用百合散；形虛者，加味芎歸湯。或出血過多，脈洪大而虛，重按全無，血虛發熱，用當歸補血湯；脈細沉微，按之輕弱，此陰盛發熱，四君子東加薑、附。或筋惕肉　，此亡血也，用聖愈湯。發熱汗出不止者，血脫也，用獨參湯。凡血脫之症，脈實者難治，脈虛者可療也</p>
<h2>第二十七則‧胸腹脅肋痛悶</h2>
<p>傷損之症，胸腹痛悶。因跳躍捶胸，閃挫舉重，勞欲恚怒所致。喜手摸者，肝火傷脾，用四胸脅悶痛，日晡發熱，肝經傷也，用加味逍遙散。若胸腹悶痛，飲食少思，肝脾氣俱傷也，用四君子湯，加芎、歸、柴、梔、丹皮。若胸腹不利，食少無寐，脾氣鬱結也，用加味歸脾湯。若脅肋脹痛，大便通和，喘咳吐痰，肝火侮肺也，用小柴胡東加青皮、山梔。若胸腹脹痛，大便不通，喘咳吐血者，乃血瘀停滯，用當歸導滯散。《內經》云：肝藏血，脾統血，蓋肝屬木，木勝侮土，脾氣必虛，宜清肝養血，次壯脾胃，則氣血充盛。若妄行克伐，虛者益虛，滯者益滯，禍不旋踵矣。</p>
<h2>第二十八則‧腹痛腰痛</h2>
<p>傷損腹痛，大便不通，按之痛甚，瘀血內蓄，用加味承氣湯。既下而痛不止，按之仍痛者，瘀未盡也。用加味四物湯補而行之。若腹痛按之不痛者，血氣傷也，四物東加參、　、白朮補而和之。下而胸脅反痛，肝血傷也，用四君東加芎、歸。既下發熱，陰血傷也，四物東加參、朮。下後惡寒發熱者，氣血傷也，八珍湯；下後嘔吐者，胃氣傷也，六君子東加當歸；下後泄瀉不止者，六君子東加肉果、補骨脂。下後手足俱冷，昏憒汗出者，陽氣虛寒也，用參附湯。若吐瀉手足俱冷，指甲青黑，脾腎虛寒甚也，急用大劑參附湯。口噤手撤，遺尿痰盛，唇青體冷者，虛極壞症也，大劑參附湯，以圖僥幸。或少腹引陰莖作痛者，乃瘀血不行，肝經火鬱所致，用小柴胡東加大黃、黃連、山梔，待其痛勢已定，再宜養血。若誤認寒症，投以熱藥，重則必危，輕則損目。若腰痛脊痛，因瘀血留太陽經所致，服地龍散治之。</p>
<h2>第三十五則‧運、熏、灸、倒四法及灸臍化痞法附</h2>
<p>外用運、熏、灸、倒四法，宿傷可用，新傷不可用。新傷者，血未歸經，恐其瘀血攻心之患，同入鍋內炒熱，以社醋烹之；蓋片時，乘熱布包，運動患處，冷即換易，待其患處，汗出如油可也。熏法，凡宿傷在皮裡膜外，雖服行藥不能除根，服瓜皮散，次用落得打草、陳小麥、艾葉三味，用河水共煎一鍋，滾透入小口缸內，橫板一塊，患人坐板上，再將單被蓋身瓜皮散，用生炭燒紅地皮，社醋烹之，再將稻草攤上，單被為席，使患人臥上，濃被蓋暖，使其汗出如雨，服勝金散而安。若氣虛之體，不可用此。凡倒法，病患能言，不能食，無法可治。不得已要使惡物吐之。先服硫麝散，將患人臥被上，每邊兩人牽被到動，使人滾轉反側，吐出惡物，服虻蟲散再調理可愈。灸臍法，若膀胱傷，小便秘結，可用田螺、麝香搗爛，先置臍中，再將飛鹽蓋臍上，如銅錢濃薄。鹽上用艾火灸二三壯即通，去麝可也。化痞熨法，凡人蓄血成痞，或在脅內，或在腹中，服藥難消。用飛面量痞之大小，四圍作圈，使惡物無從逃避，圈內置朴硝滿，圈恐其側邊卸落，以腳條縛之，又襯紙二三十重，將熨斗盛火熨之，俟患處有響聲，乃痞消之驗。斯運、熏、灸、倒之法，恐患人不善服藥，不得已而用之，亦不可輕使。若元氣虛弱之人用之太過，必致氣促厥逆之虞，醫者慎之。</p>
<h2>第三十六則‧應刺諸穴</h2>
<p>《素問‧繆刺論》曰：人有所墮墜，惡血留內，腹中滿脹，不得前後，先飲利藥。此上傷厥各一　，見血立已，左刺右，右刺左。《靈樞經‧寒熱病論》篇曰：身有所傷，血出多，及中風寒。若有所墮墜，四肢懈惰不收，名曰體惰。取其小腹臍下三結交。三結交者，陽明太陰也，臍下三寸關元也。《靈樞經‧厥病論》曰：頭痛不可取於　者，有所擊墮，惡血在內，傷痛未已，可側刺，不可遠取也。《靈樞經‧邪氣臟腑病形篇》曰：有所墮墜，惡血在內。有所大怒，氣上而不下，積於脅下則傷肝，法當先導怒氣，勿積於肝，則肝可以無傷，然後飲以利藥，以破惡血，則脅下無留血矣。又曰：有所擊撲，若醉入房，汗出當風，則傷脾。《素問‧脈要精微論》曰：肝脈搏堅而長，色不青，當病墜。若因血在脅下，令人喘逆。</p>
<p>《金匱要略》曰：寸口脈浮微而澀，然當亡血，若汗出；設不汗出者，其身有瘡，被刀斧所傷亡血故也。又論曰：肝脈搏堅而色不變，必有擊墮之事。因　肉擊傷，故惡血必留脅下，兼到嘔逆，依經針刺然谷、足跗，或三毛等穴出血。或飲利藥，使惡血開行，當自愈也。若脈浮微而澀，當知亡血過多，依經於三結交關元穴灸之，或飲大補氣血之劑而調之，則病已矣。</p>
