<header><h1>傷寒百證歌</h1></header>
<dl class="元資料" data-type="book">
<div><dt>作者</dt><dd><data value="許叔微">許叔微述</data></dd></div>
<div><dt>朝代</dt><dd>宋</dd></div>
<div><dt>年份</dt><dd><data value="960/1279">公元960年至公元1279年</data></dd></div>
</dl>
<h2>卷一</h2>
<h3>第一證‧傷寒脈證總論歌</h3>
<p>大浮數動滑陽脈。陰病見陽生可得。沉澀弦微弱屬陰。陽病見陰終死厄。（仲景云。脈大浮數動滑。此名陽也。脈沉澀若弦微。此名陰也。陰病見陽脈者生。陽病見陰脈者死。）陰陽交互最難明。輕重斟量當別白。（脈雖有陰陽。須看輕重以分表裡。在下文。）輕手脈浮為在表。表實浮而兼有力。但浮無力表中虛。自汗惡風常淅淅。（傷寒先要辨表裡虛實。</p>
<p>此四者為急。仲景云。浮為在表。沉為在裡。然表證有虛有實。浮而有力者表實也。無汗不惡風。浮而無力者。表虛也。</p>
<p>自汗惡風也。）重手脈沉為在裡。裡實脈沉來亦實。重手無力大而虛。此是裡虛宜審的。（裡證亦有虛實。脈沉而有力者。</p>
<p>裡實也。故腹滿。大便不通。沉而無力者。裡虛也。或泄利或陰證之類。以上八句。辨表裡虛實盡矣。）風則虛浮寒牢堅。</p>
<p>水停水　必沉潛。動則為痛數為熱。支飲應須脈急弦。太過之脈為可怪。不及之脈亦如然。（仲景云。風則虛浮。寒則牢堅。沉潛水　。支飲急弦。動則為痛數則熱煩。太過可怪。不及亦然。邪不空見。中必有奸。）榮衛太盛名高章。高章相搏名曰綱。榮衛微時名　（徒頰切。恐懼也。）卑　卑相搏損名彰。榮衛既和名緩遲。緩遲名沉此最良。九種脈中辨虛實。</p>
<p>長沙之訣妙難忘。（仲景云。寸口衛氣盛名曰高。榮氣盛名曰章。高章相搏。名曰綱。衛氣弱名曰　。榮氣弱名曰卑。</p>
<p>卑相搏。名曰損。衛氣和名曰緩。榮氣和名曰遲。緩遲相搏。名曰沉。大抵仲景脈法。論傷寒與雜病脈法異。故予嘗撰仲景三十六種脈法。）瞥瞥有如羹上肥。此脈定知陽氣微。縈縈來如蛛絲細。卻是體中陰氣衰。脈如瀉漆之絕者。病患亡血更何疑。（仲景云。脈瞥瞥如羹上肥者。陽氣微也。脈縈縈如蜘蛛絲者。陽氣衰也。脈綿綿如瀉漆之絕者。亡血也。陽氣衰。千金云。作陰氣衰。）陽結藹藹如車蓋。陰結循竿亦象之。（仲景云。藹藹如車蓋者。陽結也。累累如循竿者。陰結也。）陽盛則促來一止。陰盛則結緩而遲。（此謂促結二脈也。仲景云。脈來緩。時一止。名曰結。脈來數時一止。名曰促脈陽盛則促。陰盛則結。）縱橫逆順宜審察。殘賊災怪要須知。（仲景云。脈有相乘。有縱有橫。有逆有順。何謂也。</p>
<p>曰水行乘火。金行乘木。名曰縱。火行乘水。木行乘金。名曰橫。水行乘金。火行乘木。名曰逆。金行乘水。木行乘火。</p>
<p>名曰順也。又曰。脈有殘賊。何謂也。師曰。脈有弦、緊、浮、滑、沉、澀。此六者。名殘賊。能為諸賊作病也。又問曰。脈有災怪。何謂也。答曰。舊時服藥。今乃發作。故謂災怪。）脈靜人病內虛故。人安脈病曰行尸。（仲景云。脈病人不病曰行尸。以無主氣。故眩仆不知人。人病脈不病。名曰內虛。以無穀神。雖困無苦。）右手氣口當主氣。主血人迎左其位。氣口緊盛食必傷。人迎緊盛風邪熾。（左為人迎。右為氣口。人迎緊盛。傷於風。氣口緊盛。傷於食也。）數為在腑遲為臟。浮為在表沉在裡。（仲景云。浮為在表。沉為在裡。數為在腑。遲為在臟。）脈浮而緩風傷榮。浮緊兼澀寒傷衛。脈微大忌令人吐。欲下猶防虛且細。（仲景云。脈微不可吐。虛細不可下。）沉微氣弱汗為難。三者要須常審記。（孫用和云。陰虛。脈沉微而氣弱者。不可汗。三者汗、下、吐三候。脈有不可行者。切當審也。）陽加於陰有汗證。左手沉微卻應未。（素問云。陽加於陰。謂之汗。）趺陽胃脈定死生。（仲景說趺陽脈者。凡十有一。）太谿腎脈為根蒂。（傷寒必診太谿趺陽者。謂以腎脈胃脈為主。仲景譏世人握手不及足者以此。）脈來六至或七至。邪氣漸深須用意。浮大晝加並屬陽。沉細夜加分陰位。九至以上來短促。狀若涌泉無入氣。更加懸絕漸無根。命絕天真當死矣。（孫尚云。脈及七至六至以上。浮大。晝加病。沉細夜加病。更及八至。精氣消。神氣亂。必有散脫精神之候。須切急為治療。又加之九至十至。</p>
<p>雖和扁亦難救。如八至九至。加以懸絕。懸絕者無根也。如泉之通。脈無入氣。天真盡而必死矣。）病患三部脈調勻。大小浮沉遲數類。此是陰陽氣已和。勿藥自然應可喜。（仲景脈。寸口、關上、尺中三處。大小浮沉遲數同類。雖有寒熱不解。此脈已和。雖劇。當愈。）</p>
<h3>第二證‧傷寒病證總類歌</h3>
<p>傷寒中風與溫濕。熱病痙　並時疫。證候陰陽雖則同。別為調治難專一。（以上七證。大略雖相似。須別作調治。）</p>
<p>一則桂枝二麻黃。三則青龍如鼎立。精對無差立便安。何須更數交傳日。（孫尚云。一桂枝。二麻黃。三青龍。三日能精對無差。立當見效。不須更候五日轉瀉。反致壞病也。）發熱惡寒發於陽。無熱惡寒自陰出。（仲景云。發熱而惡寒者。</p>
<p>發於陽也。無熱而惡寒者。發於陰也。）陽盛熱多內外熱。白虎相當並竹葉。（白虎湯。竹葉石膏湯。皆治內外熱證。）陰盛寒濕脈沉弦。四逆理中為最捷。（孫兆云。陰盛寒濕。則用四逆湯。理中丸。）熱邪入胃結成毒。大小承氣宜疏泄。（熱邪入胃。久則胃傷爛。宜調胃。或大小承氣湯。）胸滿宜用瀉心湯。（胸滿證候。用大小瀉心湯。）結胸痞氣當分別。按之不痛為虛靳。按之若痛為實結。淺深大小陷胸丸。仲景方中不徒設。（孫兆云。結胸痞氣兩分淺深則大小陷胸丸。）茵陳可治發黃證。柏皮治痢兼下血。（發黃膽熱。則用茵陳湯。下利腸毒惡痢下血。柏皮湯。）小便不利更喘滿。煩渴五苓安可缺。（利小便止煩渴。用五苓散。）半在裡兮半在表。加減小柴胡有法。（小柴胡治半在表裡。仲景有加減法。）夜中得脈日中愈。陰得陽兮災必脫。日中得脈中夜安。陽得陰兮自相悅。陰陽調順自和同。不須攻治翻為孽。（孫尚云。凡傷寒三日脈微而微數以順四時。身涼而和者。此名欲解也。夜半得脈。來日日中愈。陰得陽而解也。日中得脈。夜半愈。陽得陰而和也。陰陽和同爾。）</p>
<h3>第三證‧表證歌</h3>
<p>身熱惡寒脈又浮。偏宜發汗更何求。（仲景云。脈浮宜以汗解之。）要須手足俱周遍。不欲淋漓似水流。（金匱云。凡發汗欲令手足皆周。　一時間益佳。但不欲流離。若病不解。當重發汗。汗多則亡陽。陽虛不得重發汗也。）輕則隨時與和解。重須正發病當瘳。（仲景有和解之者。有正發之者。和解若小柴胡桂枝是也。正發若麻黃之類是也。）初春陽弱陰尚勝。不可亟奪成擾搜。夏時暑熱脈洪大。玄府開時汗易謀。（初春陽弱。不可大發汗以擾乎陽。夏則玄府汗空開。故易汗。）不可汗脈微而弱。更兼尺中脈遲緩。（金匱云。脈微不可發汗。無陽故也。又云。尺中脈遲。榮不足。血氣少。</p>
<p>不可汗。）微弱無陽遲少血。安可麻黃求發散。更有衄血並下血。（仲景云。衄家不可發汗。發汗則額上陷。亡血家不可發汗。則寒栗而振。）風溫濕溫如何發。壞病虛煩且慎之。腹間動氣宜區別。（此五證皆不可汗。解在第三十一。）婦人經水適來時。此是小柴胡證決。忽然誤汗表裡虛。鬱冒不知人作孽。（婦人經水適來適斷。屬小柴胡證。誤汗。鬱冒不知人。）</p>
<h3>第四證‧裡證歌</h3>
<p>不惡寒兮反惡熱。胃中干燥並潮熱。（陽明證。身熱。汗自出。不惡寒。反惡熱。當下之。又云。潮熱者。實也。宜下之。）手心腋下汗常潤。小便如常大便結。腹滿而喘或譫語。脈沉而滑裡證決。（手心與兩腋下潤。小便如經。大便結硬。皆裡證也。內實則腹滿而喘。沉而滑者病在內。是曰裡證也。）陽盛陰虛速下之。安可日數拘屑屑。（仲景云。陽盛陰虛。汗之則死。下之則愈。蓋陽盛則外熱。陰虛則內熱。內外皆熱。故當下。雖三二日便可下。不必四五日過經也。）</p>
<p>失下心胸皆疰悶。冒郁不安成熱厥。（失下則熱極生寒。故冒而厥。厥則半日後復熱也。）庸醫不曉疑是陰。誤進熱藥精魂絕。（庸醫見厥。便以為陰。誤服熱藥。則發斑發黃。不知人也。）三陰大約可溫之。積證見時方發泄。太陰腹滿或時痛。少陰口燥心下渴。積證悉具更無疑。要在安詳加審別。（三陰大約可溫。唯有積證當下。仲景云。太陽病。醫反下之。</p>
<p>因腹滿時痛屬太陰。桂枝加芍藥湯主之。其大實痛。則大黃湯主之。又云。少陰口燥咽乾。急下之。宜承氣湯。如此者當下之也。）病猶在表不可下。脈浮更兼虛細者。（仲景云。脈浮為在表。又云虛細。不可下之。）惡寒嘔吐小便清。（惡寒者。表未解。金匱云。欲吐者不可下。小便清者。知不在裡而在表也。）不轉矢氣應難瀉。（不轉矢氣者。屎強硬。其後必溏也。）大便堅硬小便數。（脾約證。）陽明自汗津液寡。（蜜兌證。）如斯之類下為難。莫便參差成誤也。</p>
<h3>第五證‧表裡寒熱歌</h3>
<p>病患身熱欲得衣。寒在骨髓熱在肌。先與桂枝使寒已。小柴加桂次溫之。病患身寒衣褫退。寒在皮膚熱在髓。白虎加參先除熱。桂黃各半解其外。（仲景云。病患身大熱。反欲得衣者。熱在皮膚。寒在骨髓也。身大寒。反不欲近衣者。</p>
<p>寒在皮膚。熱在骨髓也。仲景俱無治法。朱肱云。寒在骨髓。先與桂枝。次與小柴胡加桂湯。熱在骨髓。先以白虎加人參湯。以除其熱。次以桂枝麻黃各半湯。以解其外也。）病有標本並始末。先後不同當審察。裡寒表熱脈沉遲。裡熱表寒脈必滑。（朱肱云。裡寒表熱者。脈沉而遲。裡熱表寒。脈必滑也。）</p>
<h3>第六證‧表裡虛實歌</h3>
<p>脈浮而緩表中虛。有汗惡風腠理疏。浮緊而澀表卻實。惡寒無汗體焚如。（傷寒最要辨表裡虛實為先。有表實。有表虛。有裡實。有裡虛。有表裡俱實。有表裡俱虛。先辨此六者。然後用藥。無不瘥矣。蓋脈浮而緩。又惡風有汗。此表虛中風證也。脈浮緊而澀。尺有力。惡寒無汗。此表實。傷寒證也。）脈沉無力裡虛證。四逆理中為對病。沉而有力緊且實。柴胡承氣宜相應。（裡虛宜溫之。故用四逆理中。裡實。宜下之。故用柴胡承氣。）又有表和而裡病。下之則愈斯為正。裡和表病汗為宜。忽然誤下應難拯。（外台云。表和裡病。下之則愈。汗之則死。裡和表病。汗之則愈。下之則死。）</p>
<p>虛則溫之實瀉之。病形脈證要相宜。更兼藥餌如精對。立便安康待甚時。（孫尚云。精對無差。立當見效。不必三日以前汗。五日以後下也。）</p>
<h3>第七證‧急救表裡歌</h3>
<p>傷寒下後表裡虛。急當救療莫躊躇。下利不止身疼痛。救裡為先四逆歟。忽若清便自調適。卻宜救表桂枝徒。切莫遲延生別病。過街脈變在斯須。（仲景云。傷寒脈下之。續得下利。消穀不止。身疼痛者。急當救裡。後身疼痛清便自調者。急當救表。救裡宜四逆。救表宜桂枝。）</p>
<h3>第八證‧無表裡證歌</h3>
<p>既無裡證又無表。隨證小柴胡治療。大便堅　脈浮數。卻與大柴胡極妙。（仲景云。病患無表裡證。發熱七八日。脈浮數。可與大柴胡湯下之。）七八日後至過經。證候如斯當辨曉。何況熱實睛不和。常覺目中不了了。（仲景云。傷寒六七日。目中不了了。睛不和。無表裡證。大便難。微熱者。急下之。大承氣柴胡。）</p>
<h3>第九證‧表裡水歌</h3>
<p>有水須分表和裡。安可妄投增病勢。乾嘔微利咳發熱。謂表有水青龍諦。（仲景云。傷寒。表不解。心下有水氣。乾嘔發熱而咳。或渴。或利。或噎。或小便不利。小腹滿。或喘者。小青龍。此謂表有水也。）忽若身涼並汗出。兩脅疼痛心下痞。表解爭知裡未和。十棗湯方能主治。（太陽中風。心下痞硬。滿。引脅下痛。乾嘔。短氣。汗出。不惡寒者。此表解裡未和也。十棗湯主之。）</p>
<h3>第十證‧表裡兩證俱見歌</h3>
<p>脈來浮大表證爾。便赤煩渴卻在裡。（脈浮者。表證也。小便赤而煩渴。又卻有裡證也。）表裡兩證俱見時。當用五苓與調理。（此證宜用五苓散。蓋五苓治內外俱熱。）又如大便數日結。頭痛更兼身有熱。其人小便卻又清。亦是兩證當區別。（大便結硬。頭痛身熱。小便卻清。知不在裡而在表也。）大便堅　脈沉細。裡證當下分明諦。頭汗出時微惡寒。</p>
<p>手足兼冷卻非是。（仲景云。傷寒五六日。頭汗出。微惡寒。手足冷。心下滿。口不欲食。大便硬。脈細者。此為陽微結。</p>
<p>有表復有裡也。脈沉亦在裡也。此為半在表半在裡焉。）仲景著論非一端。要在審詳而已矣。（仲景云。中有兩證者。凡十余法。故此略舉一二為例。）</p>
<h3>第十一證‧三陰三陽傳入歌</h3>
<p>尺寸俱浮屬巨陽。一二日內病如常。經絡一連風府穴。頭項痛兮腰脊強。（仲景云。尺寸俱浮者。太陽受病。當一二日發。以其上連風府。故頭項痛。腰脊強。）脈長陽明為受病。二三日內斯為應。挾鼻絡目是其經。目痛鼻干眠不穩。（仲景。尺寸俱長者。陽明受病也。當二三日發。以其脈挾鼻絡於目。故身熱目疼。鼻干。不得臥也。）少陽經絡貫耳中。脈弦脅痛耳應聾。四日以前皆在腑。汗之即退易為功。（仲景云。尺寸俱弦者。少陽受病也。當三四日發。以脈循脅於耳。</p>
<p>故胸脅痛。而耳聾。此三經受病。未入臟。故可汗也。）四五日中得太陰。太陰之脈細而沉。布胃絡嗌嗌干燥。脾宮腹滿病難禁。（仲景云。尺寸俱沉細者。太陰受病也。當四五日發。以其脈布胃中。絡於嗌。故腹滿而嗌干矣。）少陰傳到脈沉緊。貫腎絡肺系舌本。口燥舌乾渴不休。五六日中病有準。（尺寸脈俱沉者。少陰受病也。當五六日發。以其脈貫腎。</p>
<p>絡於肺。系舌本。故口燥舌乾而渴。）七八日至厥陰經。煩滿囊縮可憂驚。三陰受邪已入臟。卻宜瀉下自和平。（仲景云。</p>
<p>尺寸俱微緩者。厥陰受病也。當六七日發。以其循陰器絡於肝。故煩滿而囊縮。必三陰皆已入臟。故可下而已也。）六經已盡傳亦遍。土不受邪脈來緩。水火相交氣已和。云與雨至斯為汗。（若傳至厥陰。其脈來緩者。脾土不再受克。故水升火降。氣和而大汗解矣。）</p>
<h3>第十二證‧陰陽兩感歌</h3>
<p>傷寒熱甚雖不死。兩感傷寒漫料理。（仲景云。凡傷於寒則發為熱。雖甚不死。若兩感於寒而病者。必死。又曰兩感病俱作。治有先後。發表攻裡。本自不同。故漫料理可也。）一日太陽少陰病。腹痛口乾煩飲水。（太陽膀胱也。少陰腎也。為表裡。故仲景云。太陽與少陰俱病。則腹痛口乾。煩滿而渴。）二日陽明合太陰。腹滿身熱如火熾。不欲飲食鼻內干。妄言譫語終難睡。（仲景云。二日陽明與太陰俱病。則腹滿身熱。不欲食。譫語。）三日少陽合厥陰。耳聾囊縮不知人。厥逆水漿不入口。六日為期是死辰。（仲景云。三日少陽與厥陰俱病。則耳聾囊縮而厥。水漿不入口。不知人者。六日死矣。）</p>
<h3>第十三證‧陽證陽毒歌</h3>
<p>太陽陽明與少陽。三陽傳入是其常。（一二日太陽。二三日陽明。三四日少陽。各以其經傳入也。）太陽脈浮惡寒氣。</p>
<p>陽明惡熱脈來長。（太陽脈浮。陽明脈長。太陽惡寒惡風。陽明不惡寒反惡熱。）少陽口苦脅下滿。往來寒熱脈弦張。（仲景云。少陽之為病。口苦。咽乾。目眩。又曰。太陽病不解。轉入少陽者。脅下堅滿。往來寒熱。其脈弦細。）陽若獨盛陰暴絕。變為陽毒必發狂。（三陽病不治。必變為陽毒。）內外熱結舌又卷。鼻中煤煙不可當。脈應洪實或滑促。宜用升麻梔子湯。</p>
<h3>第十四證‧陰證陰毒歌</h3>
<p>飲食不節陰受之。太陰腹脹病在脾。（素問云。起居不節。陰受之。飲食不節。則陰受之。傷寒四五日。傳太陰。太陰。脾經也。故其腹脹滿。）少陰腎病脈微細。心煩但寐渴無時。（仲景云。少陰之為病。脈微細。但欲寐。又云。少陰但欲寐。五六日。自利而渴。）厥陰氣上衝心下。飢不欲食食吐蛔。（音回。仲景云。厥陰為病。消渴。氣上衝心。飢不欲食。食吐蛔。）陰病若深陽頓絕。變成陰毒更何疑。四肢逆冷臍築痛。身如被杖痛可知。（宋迪云。積陰盛於下。則微陽消於上。故其候沉重。四肢逆冷。臍腹築痛。身疼如被杖。）或因冷物傷脾胃。或因欲事腎經衰。內感伏陰外寒氣。腰重頭疼覺倦疲。（陰毒本因腎氣虛寒。嗜欲過多。或傷冷物。復傷風邪。內既伏陰。外又感寒。或先感外寒。而內伏陰。</p>
<p>內外皆陰。故陽氣不守。遂發頭疼腰重。腹痛。眼睛疼。身體倦怠。而不甚熱。四肢逆冷矣。）額上手背皆冷汗。二三日內尚支持。（額上手背皆有冷汗。二三日內或可起行。不甚勞重。）六脈沉細時來疾。尺部短小力還微。寸口有時或來大。</p>
<p>誤經轉瀉若何醫。（陰毒。診之。則六脈俱沉細。而疾。尺部短小。寸口或大。六脈俱浮大。或沉。取之。大而不甚疾者。</p>
<p>非陰證也。誤轉瀉。則渴轉甚躁轉急。）陰病漸深腹轉痛。心胸　脹鄭聲隨。虛汗不止咽不利。指甲青黑面色黧。（陰證深。則咽喉不利。心下脹滿。結硬躁渴。虛汗不止。或時鄭聲。指甲面色俱青黑。仲景云。虛則鄭聲。）一息七至沉細疾。</p>
<p>速灸關元不可遲。（六脈沉細而疾。一息七至以來。有此證者。速宜灸關元二三百壯。穴在臍下三寸。）更兼金液來蘇治。</p>
<p>庶得陽回命可追。（灸畢。更以金液來蘇丹助之。庶幾陽復也。）</p>
<h3>第十五證‧太陽陽明合病歌</h3>
<p>太陽陽明同合病。仲景法中有三證。自利宜服葛根湯。但嘔卻加半夏應。喘而胸滿屬麻黃。慎勿下之輕性命。循規守矩治為宜。要使沖和自安靜。（仲景三證。一者太陽與陽明合病。則自利。葛根湯主之。二者合病。不下利。但嘔者。</p>
<p>葛根加半夏湯主之。三者太陽陽明合病。喘而胸滿者不可下。宜麻黃湯。）</p>
<h3>第十六證‧太陽少陽合病歌</h3>
<p>太陽少陽合病時。亦須下利更何疑。下利黃芩湯可用。若嘔還加半夏奇。（仲景云。太陽少陽合病。自下利者。與黃芩湯。若嘔者。黃芩加半夏生薑湯。）</p>
<h3>第十七證‧三陽合病歌</h3>
<p>腹滿身重難轉側。面垢遺尿譫語極。三陽合病口不仁。白虎湯功更奇特。（仲景云。三陽合病。腹滿身重。難以轉側。</p>
<p>口中不仁譫語遺溺。發汗則譫語。下之則額上生汗。手足厥冷。自汗。白虎湯主之。）</p>
<h3>第十八證‧太陽少陽並病歌</h3>
<p>太少並病證有二。汗下差之皆致斃。頭痛眩冒如結胸。誤若汗時譫語至。肺俞肝俞皆可刺。譫語卻刺期門是。（仲景一證云。太陽少陽並病。頭痛眩冒。時如結胸。心下痞硬。當刺肺俞肝俞。不可發汗。發汗則譫語脈弦。五日譫語不止。</p>
<p>當刺期門。）頸項強時刺大椎。此候在心當切記。（一證云。太少並病。心下硬。頸強而眩者。當刺大椎。肺俞。肝俞。</p>
<p>慎勿下。）</p>
<h3>第十九證‧陰證似陽歌</h3>
<p>煩燥面赤身微熱。脈至沉微陰作孽。（脈來沉微者陰也。陰極生熱。故煩躁面赤身熱。）陰證似陽醫者疑。但以脈憑斯要訣。（但以脈為據。不必守證也。）身熱裡寒陰躁盛。面戴陽兮下虛證。（身熱也。裡寒也。煩躁者陰盛也。面戴陽者。</p>
<p>下虛故也。此皆陰證似陽也。）陰發躁兮熱發厥。物極則反皆理性。（陰極則生躁熱極則發厥。物極則反。皆物之理性也。）</p>
<h3>第二十證‧陽證似陰歌</h3>
<p>小便赤色大便秘。其脈沉滑陽證是。四肢逆冷伏熱深。陽證似陰當審諦。（小便赤。大便秘。脈沉滑。陽證也。陽極生陰熱極生寒。故令四肢逆冷。以其伏熱深也。醫見四肢逆冷便以為陰。則誤也。當仔細審詳。）輕者且宜供白虎。重者須當用承氣。重陽如陰理宜然。寒暑之變亦如是。</p>
<h2>卷二</h2>
<h3>第二十一證‧陰盛隔陽歌</h3>
<p>身冷脈沉緊且細。內雖煩躁不飲水。此名陰盛隔陽證。霹靂散用煩躁止。（脈沉緊而細。不欲飲水者。陰盛隔陽也。</p>
<p>當用附子霹靂散。）躁若止兮應得睡。寒已散兮陰自退。熱氣上行得汗痊。火焰丹砂宜用矣。</p>
<h3>第二十二證‧陰陽易歌</h3>
<p>男子陰腫多絞刺。婦人腰痛並裡急。傷寒瘥後便行房。男名陽易女陰易。熱上衝胸頭不舉。眼中生花氣翕翕。燒（音加）鼠橘皮湯。選此用之醫可必。（仲景云。傷寒陰陽易之為病。身體重。少氣。小腹裡急。或引陰中拘攣。熱上衝胸。頭重不欲舉。眼中生花。痂胞赤。膝脛拘急。燒　散主之。此病男子則陰腫。婦人則腰痛。千金外台云。有　鼠湯。橘皮湯。亦可用。）</p>
<h3>第二十三證‧傷寒歌</h3>
<p>脈浮緊澀是傷寒。熱少寒多不躁煩。（傷寒脈浮緊而澀。熱少寒多。心不煩躁。）頭痛無汗身拘急。微厥之時在指端。</p>
<p>腰脊疼痛色多慘。唯宜發汗與通關。（學人先須要辨。傷寒中風二證。傷寒脈浮緊而澀。中風脈浮而緩。傷寒者惡寒不惡風。中風者惡風不惡寒。傷寒者無汗。中風者自汗。傷寒者面色慘淒。中風者其面色和悅也。）大青龍證及麻黃。熱多寒少亦其常。（傷寒大抵雖熱少寒多。亦有熱多寒少者。如麻黃證云。發熱身痛。大青龍證云。脈浮緊。發熱而惡寒。）熱多寒少不煩躁。亦宜汗解正相當。微弱無陽桂枝越。（仲景云。太陽病發熱多寒少。脈微弱者。無陽也。不可發汗。用桂枝二越婢一湯。）尺遲血少建中湯。（尺脈遲者。血少也。宜建中湯。仲景建中證云。傷寒陽脈澀。陰脈弦。法當腹中急痛。與建中湯。遲弦雖不同。皆少血之脈也。）淋家衄家不可汗。小柴胡解自安康。（淋家。衄家。瘡家。以至四動脈。</p>
<p>不可發汗者。王實皆用小柴胡湯。）</p>
<h3>第二十四證‧中風歌</h3>
<p>惡風自汗是傷風。（仲景謂傷風為中風。）體熱頭疼病勢濃。手足不冷心煩躁。面色如常無慘容。（解在前篇。）脈浮而緩是本證。寸大尺弱有時逢。（傷風脈雖浮而緩。活人書云。有尺脈弱寸口大者。仲景云。陽浮而陰弱。陽浮者熱自發。</p>
<p>陰弱者汗自出。）桂枝敗毒獨活輩。宜皆選用在其中。（活人書云。治中風藥宜桂枝敗毒獨活散之類。）項強桂枝加干葛。</p>
<p>（仲景云。太陽病項背強KT　KT　。反汗出惡風者。宜桂枝加葛根湯主之。）漏風加附可收功。（仲景云。</p>
<p>太陽病發汗。遂漏不止其人惡風。小便難。四肢微急。難以屈伸者。桂枝加附子湯主之。）傷風傷寒何以判。寒脈緊澀風浮緩。寒必惡寒風惡風。傷風自汗寒無汗。（解在前篇。）</p>
<h3>第二十五證‧傷寒見風脈中風見寒脈歌</h3>
<p>惡寒不躁微四逆。脈浮而緩來無力。惡風煩躁手足溫。脈診緊浮來又澀。傷寒反得傷風診。中風卻見傷寒脈。大青龍證是為宜。調衛調榮斯兩得。（仲景云。太陽中風脈浮緊。發熱惡寒。身疼痛。不汗出而煩躁者。大青龍湯主之。又云。</p>
<p>傷寒脈浮緩。身不疼。但重。乍有輕時。無三陰證者。大青龍湯主之。中風宜浮緩。今卻浮緊。傷寒宜浮緊。今卻浮緩。</p>
<p>此中風見寒脈。傷寒見風脈也。）要知其病加煩躁。方可服之為最的。脈微自汗又惡風。誤用肉　並筋惕。（仲景云。脈微弱。汗出惡風者。不可服之。服之厥逆。筋惕肉　。此為逆也。故王實止用桂枝麻黃各半湯。）</p>
<h3>第二十六證‧熱病中歌</h3>
<p>身熱惡寒頭痛楚。心煩躁渴如何御。（身熱。惡風。頭痛。心煩。躁渴熱病。中暑。其證相似。但脈不同耳。語在下。）</p>
<p>脈洪緊盛為熱病。脈虛細弱為傷暑。（熱病。脈必浮大洪緊。傷暑之脈。必虛細而弱。詳考諸書。暑脈多不一。仲景云。</p>
<p>太陽中　者。身熱而脈微。又云。其脈弦細芤遲。小便已。洒洒然毛聳。朱肱云。脈虛身熱。得之傷暑。又曰。熱病脈洪大。中暑脈細弱。當以意消息也。）傷暑面垢並背寒。四肢倦怠汗無度。口噤五苓白虎佳。痰逆橘皮湯可愈。（仲景云。</p>
<p>手足逆冷。小有勞。身即熱。口開。前板齒燥。若發其汗。則惡寒甚。加溫針。則發熱甚。數下之則淋甚。）皮膚既緩腠理開。洒然毛竦風寒惡。繆加熱藥發斑黃。可怪庸醫心術誤。（仲景云。小便已洒然毛竦。故其人可出而惡寒。若行熱藥。</p>
<p>便發斑發黃也。）</p>
<h3>第二十七證‧五種溫歌</h3>
<p>（溫病　溫瘧　風溫　溫疫　溫毒）</p>
<p>傷寒春月名溫病。脈來浮數是其證。發熱頭疼亦惡寒。冬夏比之輕不甚。升麻解肌為最良。小柴竹葉宜相稱。（以上論溫病也。素問云。冬傷於寒。春必病溫。仲景云。冬月冒寒氣。不即病者。藏於肌膚。至春變為溫病。故其證如此。</p>
<p>宜升麻解肌湯之類。）尺寸盛兮兼弦數。重感於寒變溫瘧。先熱後寒小柴胡。但熱不寒白虎藥。（以上論溫瘧也。仲景云。</p>
<p>若脈陰陽俱盛。重感於寒者。變成溫瘧。素問云。瘧脈自弦。弦數者熱多。朱肱云。先熱後寒者。小柴胡湯。但熱不寒者。白虎加桂湯主之。）濡弱陰脈浮滑陽。此是風溫證候當。頭疼身熱常自汗。四肢不收鼾睡長。當治少陰厥陰病。誤汗黃防己湯。（以上論風溫也。仲景云。陽脈浮滑。陰脈濡弱。更遇於風。變為風溫。其病四肢　緩。又云。風溫為病。</p>
<p>脈。陰陽俱浮。自汗出。身重多眠睡。鼻息必鼾。語言難出。若被下者。小便不利。直視失溲。若被火者。微發黃色。</p>
<p>劇則如驚癇。時螈　也。少陰火也。厥陰木也。當治炎火風木。誤汗之。則用黃　防己湯救之也。）陽脈濡兮陰弦緊。更遇溫氣來行令。變成溫疫作天行。少長皆同無異病。熱溫寒清順時宜。以平為期如斯正。（此論溫疫也。仲景云。陽脈濡弱。陰脈弦緊者。更遇溫氣。變為溫疫。一歲少長皆同病者。溫疫也）最重溫毒為可怪。陽脈洪數陰實大。發斑癮疹如錦文。咳兼心悶何由快。（此論溫毒也。仲景云。陽脈洪數。陰脈實大。更遇溫熱。變成溫毒。溫毒為病。最重也。故發斑生疹。咳嗽。心下快痞悶。宜用元參升麻湯。）宜用元參升麻湯。長沙仲景分明載。</p>
<h3>第二十八證‧三種濕歌</h3>
<p>（濕溫　中濕　風濕）</p>
<p>濕溫中濕並風濕。三者同名而異實。暑濕相搏成濕溫。胸間多汗頭如劈。兩脛逆冷苦妄言。陽濡而弱陰小急。（以上濕溫證也。）第二中濕之為病。脈來沉緩其名的。一身盡痛兼發黃。大便反快小便澀。（仲景云。太陽病。關節疼痛而煩。</p>
<p>脈沉而緩者。此名中濕。其候令人小便不利。大便反快。但當利其小便。又云。濕家之為病。一身盡痛。發熱。身色如薰黃。濕家其人但頭汗出背強。欲得覆被向火。若下之早。則成胸滿。小便不利。舌上如苔者。以丹田有熱。胸中有寒。</p>
<p>渴欲得水而不能飲。口燥煩也。又云。濕家病。身上疼痛。發熱面黃而喘。頭痛鼻塞而煩。其脈大。自能飲食。腹中無病。病若頭中寒濕。故鼻塞。納藥鼻中則愈。）本是風雨山澤氣。中之令人成此疾。第三風濕脈但浮。肢體痛重難轉側。</p>
<p>額上微汗身微腫。不欲去被憎寒栗。（此論風濕也。風濕之證。仲景云。一身盡痛發熱。日晡所劇。此名風濕。此病傷於汗出當風。或久傷取冷所致也。故其脈浮。額上有微汗。不欲去被也。）發汗　欲潤身。風濕俱去斯為得。仲景云。</p>
<p>風濕相搏。一身疼痛。法當汗出而解。值天陰雨不止。醫云。此可發汗。汗之病不愈。何也。答曰。發其汗汗大出者。</p>
<p>但風氣去。濕氣在。是故不愈也。治風濕者。發汗微微出者。則是風濕俱去者也。防己黃　朮附湯。對證用之醫可必。（防己黃　湯。朮附湯。皆治風濕自汗。）</p>
<h3>第二十九證‧兩種歌</h3>
<p>發熱惡寒頭項強。腰脊分明似反張。螈　口噤如癇狀。此名　病是其常。（仲景云。病身熱暑寒。頭項強急。惡寒。</p>
<p>時頭面赤。目脈赤。獨頭面搖。卒口噤。背反張者。　病也。）先感風寒後感濕。沉遲弦細脈相當。（仲景云。太陽病發熱。脈沉而細者。名曰　。千金云。太陽中風。重感於寒濕。則變　病也。仲景又云。太陽發汗太多。因成　。孫尚云。</p>
<p>病熱而脈沉細者。難治也。）有汗不惡名柔　。無汗惡寒名曰剛。無汗葛根有汗桂。二　皆宜續命湯。（無汗葛根湯。有汗桂枝湯。而分發汗解肌。　有剛　。有柔　。剛　無汗。柔　有汗。自宜續命湯。仲景云。太陽病發熱。無汗。反惡寒。名曰剛　。汗出不惡寒者。名曰柔　。）腳攣嚙齒皆陽熱。承氣湯宜下最良。（以上皆熱證。當用承氣湯。）亦名陽痙並陰痙。名異實同安可忘。（　音熾。痙。巨郢反。名異實同也。）</p>
<h3>第三十證‧四證似傷寒歌</h3>
<p>（食積　虛煩　寒痰　香港腳）</p>
<p>食積虛煩並有痰。更兼香港腳似傷寒。四家病證雖云異。發熱憎寒卻一般。（此四證雖非傷寒。然發熱憎寒。則同。當以脈證辨之。）中脘寒痰胸痞滿。脈浮自汗體難干。（此痰證也。有痰則胸中痞滿。自汗。脈浮。）食積令人頭必痛。身不疼兮積證端。氣口緊盛傷於食。心煩脈數嘔吞酸。（此食積也。食積則身不疼。但嘔惡吞酸。氣口脈緊盛。而它脈數。朱肱云。氣口緊盛。傷於食。）虛煩之脈不緊實。但覺身心熱與煩。身不疼兮頭不痛。唯宜竹葉便須安。（孫尚云。虛煩與傷寒相似。但得病二三日。脈不浮。不惡寒。身不疼痛。但熱而不煩。不可發汗。發汗必危損。如脈不緊實。不甚痛。</p>
<p>但熱而或不煩。非裡實。亦不可下。下之必危損。唯可服竹葉湯主之。）又有香港腳之為病。大便堅硬足行難。兩脛腫滿或枯細。莫與傷寒一例看。（此論香港腳也。香港腳大便堅。腳膝腫痛。兩脛或有腫滿。或有枯細者。方其發時。亦發熱憎寒。</p>
<p>嘔惡。似傷寒證候也。）</p>
<h3>第三十一證‧可汗不可汗歌</h3>
<p>脈浮唯宜以汗解。春夏用之何足怪。（仲景云。脈浮宜以汗解。又云。大法。春夏宜汗。）風若傷衛屬桂枝。寒傷榮血麻黃快。（仲景云。風則傷衛。寒則傷榮。傷衛屬桂枝。傷榮屬麻黃。二藥雖均曰發汗。自有淺深也。）項強KT　KT葛根湯。心間水氣青龍對。（仲景云。項背強。KT　KT　者。用麻黃葛根湯。心下有水氣者。小青龍湯主之。）少陰亦可微發汗。</p>
<p>附子麻黃泄其外。（仲景云。少陰病。得之二三日。麻黃附子甘草湯。微發其汗。）風濕發汗惡淋漓。風氣去兮濕氣在。</p>
<p>唯宜　潤遍周身。濕氣風邪俱已退。（風濕。惟要微微似欲汗出。若大汗出者。風氣雖去。濕氣仍在也。）大抵尺遲汗為逆。（自此以下。皆不可。汗也。仲景云。尺中遲者。精氣不足。血氣微少。不可汗。）微弦濡弱斯為害。（仲景云。微反在下。弦反在上。弱反在關。濡反在顛。不可發汗。發汗則寒栗至矣。）少陰沉細病在裡。少陽弦細卻主內。（仲景云。</p>
<p>少陰脈沉細數。病在裡。不可發汗。又云。傷寒脈弦細。頭痛發熱。此屬少陽。少陽不可發汗。）兩厥若汗必舌萎。（厥不可發汗。發汗則聲亂。咽嘶。舌萎。聲不得前。）四動汗之還窒礙。（仲景云。動氣在上。動氣在下。動氣在左。動氣在右。皆不可發汗。）瘡家汗之必成　。淋家汗之便血殺。衄家汗之額上陷。咽乾汗之咽卻隘。（仲景云。瘡家雖身疼痛。</p>
<p>不可攻其表。汗之必　。淋家。汗之必便血。衄家汗之。額上促急而緊。直視不得　。不能眠。咽乾燥者。不可發汗。</p>
<p>王實傷寒證治。皆用小柴胡湯。）亡血汗之必寒栗。（仲景云。亡血不可發汗。發汗則寒栗而振。）汗家重汗精神憊。（仲景云。汗家重發汗。必恍惚心亂。小便已陰痛。）少陰強汗動經血。（仲景云。少陰無汗。而強發之。必動其血。）虛煩壞病尤須戒。（仲景云。虛煩壞病。皆不可發汗宜用小柴胡湯主之。）月經適斷適來時。切莫動經成冒昧。（此小柴胡證。發則鬱冒不知人。）</p>
<h3>第三十二證‧可下不可下歌</h3>
<p>宿食不消當下之。寸口浮大尺中微。（人病有宿食。何以別之。師曰。寸口脈浮大。按之反澀。尺中亦微而澀。當下之。承氣湯主之。）陽明瘀熱茵陳證。（仲景云。陽明瘀熱在裡。身必發黃。宜茵陳蒿湯主之。）譫語柴胡湯最宜。（金匱云。汗出而譫語者。有燥屎在胃中。此風也。過經乃下之。宜大承氣湯。大柴胡湯。）結胸大陷胸丸對。瘀血抵當不可遲。</p>
<p>（結胸。宜大陷胸下之。瘀血。宜抵當丸下之。）大便堅硬惟承氣。痞氣瀉心湯勿疑。（大便堅硬。宜下以承氣湯。痞氣虛靳。宜下以瀉心湯。）脈若陽微下則痞。（自此以下不可下也。金匱云。陽微不可下。下之則心下痞堅。）或兼虛細更難之。（仲景云。脈微不可吐。虛細不可下。）結胸浮大下之死。（金匱云。結胸證。其脈浮大者。不可下。下之則死。）四逆若下命傾危。（金匱云。四逆厥者不可下。下之則死。虛家亦然。）惡寒自是有表證。（惡寒者。表證在。不可下。）嘔吐仍兼胃氣虧。（仲景云。病吐者。不可下之。）不轉失氣必溏利。（仲景云。陽明病。不大便六七日。恐有燥屎。欲知之法。可與小承氣湯。若腹中轉失氣者。為有燥屎。乃可攻之。若不轉失氣者。此但頭硬後必溏泄。不可下。）陽明自汗下難為。（陽明自汗。小便利。此為津液內竭。雖堅不可攻。宜用蜜煎導之。）咽中閉塞尤須忌。（玉函經云。咽中閉塞。不可下。下之則上輕下重。臥則欲蜷身急痛。）趺陽浮數已虛脾。（仲景云。趺陽脈浮而數。浮則傷胃。數則動脾。此非本病。醫特下之所為也。）左右上下有動氣。更在調和仔細醫。（仲景云。動氣在右。下之則津液內竭。咽燥鼻干。頭眩心悸。動氣在左。下之則腹滿氣急。動氣在上。下之則掌握熱煩。動氣在下。下之則腹滿卒起頭眩。）</p>
<h3>第三十三證‧可吐不可吐歌</h3>
<p>傷寒大法春宜吐。（仲景云。大法春宜吐。）宿食不消胸滿疰。（玉函云。宿食在下管。當吐之。）胸中郁郁兼有涎。</p>
<p>寸口微數知其故。（玉函云。胸上結實。胸中郁鬱而痛。不能食。使人按之。而反有涎唾。下利日十余行。其脈反遲。寸口微滑。此可吐之。以上皆可吐之證也。）脈微若吐大為逆。（仲景云。脈微不可吐。虛細不可下。）少陰寒飲無增劇。（仲景云。少陰病。其人飲食入則吐。心溫溫然欲吐。復不得吐。始得之。手足寒。脈弦遲。此胸中實可下也。若膈上有寒飲者。乾嘔不可吐，當溫之矣。）四逆虛家止可溫。誤吐內煩誰受責。（玉函金匱云。四逆病厥不可吐。虛家亦然。又云。</p>
<p>太陽病強吐之。則內煩。論此皆不可吐者也。）</p>
<h3>第三十四證‧可火不可火歌</h3>
<p>中風忽然被火劫。咽爛發黃津液竭。（仲景云。太陽中風。以火劫。發其汗。邪風被火劫。血氣流　。其身則發黃。</p>
<p>至於咽爛矣。）榮微血弱與燒針。煩躁昏迷並發熱。（仲景云。其脈沉者。榮氣微也。加燒針。則血留不行。更發熱而煩躁也。）陽明被火必怵惕。（玉函云。陽明脈浮緊。加燒針者必怵惕。）太陽被火必清血。（仲景云。太陽以火薰之。不得汗。其人必躁。到經不解。必清血。）少陰火劫小便難。強責汗時翻作孽。（仲景云。少陰病。咳而下利譫語。是為被火劫故也。小便必難。為強責少陰汗。故也。）或致虛煩不得眠。或致發黃中郁結。或致下血如豚肝。或致譫言語無節。（仲景云。陽明病加溫針。則煩躁不得眠。陽明病。被火劫。額上汗出。必發黃。瘀熱在膀胱。蓄結成積。則下血。如豚肝。</p>
<p>太陽陽明被火劫。必譫語。）此皆誤火之為病。切須仔細加分別。張苗欲汗外迎之。卻取燒蒸布桃葉。（陳廩丘問張苗。</p>
<p>連發汗不出如何。苗云亦可燒地布桃葉。蒸濕之氣於外迎之。可得汗也。）</p>
<h3>第三十五證‧可水不可水歌</h3>
<p>太陽汗後不得眠。少與水飲當自全。（仲景云。太陽病發汗後。若大汗出。胃中干燥。煩而不能眠。其人欲飲。當時飲之。胃中和則愈矣。）厥陰煩渴思得水。斟量多寡亦如然。（仲景云。厥陰病渴。欲飲水者。與水飲之。則愈也。）霍亂思水五苓妙。嘔吐思水豬苓痊。（仲景云。霍亂頭痛發熱。身體疼痛。熱多飲水。五苓散主之。又云。嘔吐而病在膈上。</p>
<p>後必思水者。急與豬苓散飲之也。）過多反病成喘咳。（小青龍證云。水停心下。成喘咳。）胃冷應知嘔噦愆。（仲景云。</p>
<p>胃中虛冷。其人不能食。飲水則噦。）小　皮上有粟起。（仲景云。病在陽。當以汗解。而反以水　之。若灌之。其人熱卻不得去。益煩。皮上粟起者是也。）水洗結胸熱可憐。（仲景玉函云。結胸身熱。以水洗之灌之。則益熱。）寒氣得水即成KT　。（KT　音噎。食不下也。仲景云。寸口脈浮大。醫乃不知。而反飲冷水。令汗大出。以得寒氣。冷必相搏。其人即KT　。）可否醫工要達權。</p>
<h3>第三十六證‧可灸不可灸歌</h3>
<p>少陰吐利時加嘔。手足不冷是其候。口中雖和背惡寒。脈來微澀皆須灸。（仲景云。少陰病。其人吐利。手足不逆。</p>
<p>反發熱者不死。脈不足者灸。厥少陰七壯。又云。少陰一二日。口中和。背惡寒者。當灸之。又云。下利脈微澀者。灸厥陰可五十壯。）陰毒陽虛汗不止。腹脹腸鳴若雷吼。面黑更兼指甲青。速灸關元應不謬。（宋迪陰證訣云。陰毒。汗不止。腹脹腸鳴。面黧黑色。指甲青者。速灸關元一百壯。至三百壯。）微數之脈卻慎之。因火為邪恐難救。（仲景云。微數之脈。慎不可灸。因火為邪。則為煩逆。焦骨傷筋血。難復也。）脈浮熱甚灸為難。唾血咽乾誠戾繆。（仲景云。脈浮熱甚。而灸之則為實。實以虛治。因火而動咽躁。必吐血。自微數之脈以下。皆不可灸也。）</p>
<h3>第三十七證‧可針不可針歌</h3>
<p>太陽頭痛經七日。不愈再傳成大疾。法中當刺足陽明。可使不傳邪氣出。（仲景玉函云。太陽病。頭痛至七日。自當愈。其經競。故也。若欲再傳者。刺足陽明。使經不傳則愈也。）桂枝服了煩不解。風府風池刺無失。（仲景云。太陽病。</p>
<p>服桂枝湯。而反煩不解者。當先刺風池風府。卻與桂枝湯服之。則愈也。）經來經斷刺期門。正恐熱邪居血室。（仲景云。</p>
<p>婦人中風。經水適來。又云。經水適斷。熱入血室者。刺期門。隨其虛實而取之。）項強當刺大椎間。脈有縱橫肝募吉。</p>
<p>（仲景云。太陽與少陽並病。心下痞。頭項強而眩。當刺大椎第一間。又曰。肝乘脾。名縱。肝乘肺。名橫。皆當刺期門。期門肝募也。）婦人懷身及七月。從腰以下如水溢。當刺勞宮及關元。以利小便去心實。（仲景玉函云。婦人傷寒懷身。腹滿。從腰以下。重如水氣狀。懷身七月。太陰當養不養。此心實。當刺勞宮及關元穴。小便利則愈。）大怒大勞並大醉。大飽大飢刺之逆。　之熱漉漉汗。渾渾之脈安可失。（素問云。無刺　之熱。漉漉之汗。渾渾之脈。）淺深分寸自依經。此道相傳休秘密。</p>
<h3>第三十八證‧傷寒可溫歌</h3>
<p>大抵冬宜熱藥溫。（大法冬宜服溫熱藥。）下利少陰有二門。（仲景云。法中可溫者。有九證。皆下利與少陰兩家而已。）</p>
<p>腹滿身痛先救裡。（仲景云。病發熱頭痛。脈反沉。若不瘥。身體更疼痛用救其裡。四逆湯。又云。下利腹滿。身體疼痛。</p>
<p>先溫其裡。宜四逆湯。）脈來遲緊痛仍存。（仲景云。下利脈遲緊。而痛未止者。當溫之。得冷者。滿而硬。腸垢。）少陰膈上有寒飲。（仲景云。少陰病。其人飲食入。則吐。心中溫溫欲吐。復不得吐。始得之。手足寒。脈弦遲。若膈上有寒飲。干噦者。切不可吐。當溫之。）或加嘔利病難分。脈沉微澀如斯證。四逆理中湯可溫。（仲景云。少陰下利。脈微澀者。即嘔。行者必數更衣。反少。當溫之。又云。脈沉者。急當溫之。宜以四逆湯。仲景玉函云。諸溫者。可與理中。</p>
<p>四逆。附子湯。熱藥治之。）</p>
<h3>第三十九證‧發熱歌</h3>
<p>太陽發熱惡寒栗。陽明身熱汗自出。少陽發熱多乾嘔。三陽發熱證非一。（仲景云。發熱而惡寒者發於陽也。大抵三陽多發熱。太陽證云。嗇嗇惡寒。翕翕發熱。故太陽發熱。則惡寒栗也。陽明證云。身熱汗出。不惡寒。反惡熱。故陽明發熱。則自汗也。少陽證云。頭痛發熱。脅下堅滿。乾嘔。故少陽發熱則嘔。）大抵寒多為易治。熱多寒少因寒極。（寒極生熱。故熱多者寒之極。寒多者病淺。故易治焉。）解熱大小柴胡湯。更看淺深為妙術。（若發熱無表證。當用大小柴胡湯。熱淺者。宜小柴胡。熱深者宜大柴胡。小柴胡解肌。大柴胡正下之也。當以外證內脈為之準。）三陰初無發熱證。</p>
<p>唯有少陰兩證實。脈沉發熱屬麻黃。裡寒外熱宜四逆。（仲景云。少陰病始得之。反發熱。脈反沉者。麻黃細辛附子湯主之。又云。少陰病。下利清穀。裡寒外熱。手足厥逆。通脈四逆湯主之。）</p>
<h3>第四十證‧潮熱歌</h3>
<p>潮熱為實當與下。仲景之言可憑藉。（仲景云。潮熱者實也。大法當宜下。）更看脈息浮與沉。若但弦浮應未也。（浮為在表。沉為在裡。若但弦浮。有表證在者。未可下。）惡寒脈浮表證在。與小柴胡湯勿下。（仲景云。陽明病。有潮熱。</p>
<p>若汗出多而微惡寒。其熱不潮。勿與承氣湯。）腹滿不通小承氣。但和胃氣無多瀉。（仲景云。若腹滿。而不大便者。可與小承氣湯。微和其胃氣。勿令大下。）潮熱之證有三說。皆屬陽明小柴訣。一則潮熱且吃噫。二則微熱與溏泄。（仲景云。陽明中風。脈弦浮大而短氣。腹都滿。脅下及心痛。久按之氣不通。鼻干。不得汗。其人嗜臥。一身及目悉黃。小便難。有潮熱。時時噦。宜與小柴胡湯主之。又云。陽明病發潮熱。大便溏。小便自可。而胸脅滿不去者。小柴胡湯主之。）三則日晡發其時。發已微利增嘔噦。（噦、乙劣切。逆氣也。仲景云。其人日晡而發潮熱。若劇者。發則不知人。）</p>
<p>太陽亦有一證存。惟是結胸發潮熱。（仲景云。太陽重發其汗。而復下之。不大便五六日。舌上燥而渴。日晡時小有潮熱。</p>
<p>從心下至小腹。堅滿而痛者。宜與大陷胸湯。）</p>
<h2>卷三</h2>
<h3>第四十一證‧往來寒熱歌</h3>
<p>陰陽相勝互爭強。往來寒熱亦何常。先寒後熱為陰盛。先熱後寒責在陽。（陰陽交爭。故往來寒熱。陰氣勝。故先寒後熱。陽氣勝。故先熱後寒也。）此疾大約有三證。大小柴胡薑桂湯。中風胸滿不欲食。心煩喜嘔小柴良。（仲景云。中風往來寒熱。胸脅苦滿。默默不欲食。心煩喜嘔者。屬小柴胡湯。）熱結在裡十余日。卻是大柴胡克當。（仲景云。傷寒十余日。熱結在裡。往來寒熱者。宜大柴胡湯證。）已汗復下胸脅滿。柴胡薑桂保安康。（仲景云。傷寒五六日。已汗而復下之。胸脅滿。微結。小便不利。渴而不嘔。但頭汗出。往來寒熱者。柴胡桂枝乾薑湯主之。）</p>
<h3>第四十二證‧汗之而熱不退歌</h3>
<p>已汗復下脈加躁。不食狂言謾祈禱。此證謂之陰陽交。死候難醫不可道。（素問云。汗出而身復熱。脈躁病不解。汗衰狂言。不能食。病名為何也。曰病名陰陽交也。此其人所以汗出者。皆生於穀。穀生於精。今邪氣隱藏於骨肉之間。</p>
<p>而得汗者。邪衰而精勝。則當食而不發熱。熱者邪氣也。汗者胃氣也。今汗出而狂言。不能食。邪盛也。死候可明矣。）</p>
<p>得汗脈靜自然生。汗後復熱命難保。（得汗而脈靜者生。躁者死。）脈若浮數可再汗。沉實之時下為好。（不得已須當汗。</p>
<p>下之。浮尚可汗。沉實。尚可下之。）風溫之候屬葳蕤。（風溫。自汗而熱。屬葳蕤湯。）虛煩竹葉湯為寶。（虛煩。自汗出而熱。不可下。宜竹葉湯。）更看虛實治為宜。可細斟量休草草。（淳於意診齊中御府長信病。意稱脈法熱病陰陽交者死。今切之不交。並陰陽者。脈順清而愈。其熱強未盡。猶活也。）</p>
<h3>第四十三證‧下之而仍發熱歌</h3>
<p>病患脈微來又澀。誤汗誤下皆為失。（脈微則氣虛。脈澀則血少。二者不可汗下。既下而又汗。榮衛皆虛。故發熱也。）</p>
<p>既汗亡陽斯惡寒。又下陰微還熱極。（陰虛者陽必湊之。既下則陰虛。故陽入陰分。所以內外皆熱。素問云。陽虛則外熱。</p>
<p>陰虛則內熱。故熱極也。）最忌陰陽皆已虛。熱又不止病斯亟。更有勞復並食復。失於調治並將息。（既下之後。必須身涼。今下之而復熱者。不特汗下之誤。亦有勞復食復二證。勞復。謂病後用力。食復。謂飲食過度。失於調治之所致。）</p>
<p>新瘥血氣尚虛羸。勞復生熱無氣力。（勞復。則無力而少氣。）脾胃尚弱食過多。食復發熱還憎食。（食復。則發熱嘔吐。</p>
<p>憎聞食臭矣。）小柴枳實梔子湯。數者用之宜審的。</p>
<h3>第四十四證‧惡寒歌</h3>
<p>惡寒發熱在陽經。無熱惡寒病發陰。（仲景云。發熱而惡寒者。病發於陽也。無熱而惡寒者。病發於陰也。）陽宜發汗麻黃輩。陰宜溫藥理中寧。（發於陽。宜桂枝麻黃青龍輩。發於陰。宜四逆理中也。）嗇嗇惡寒桂枝證。（仲景云。嗇嗇惡寒。翕翕發熱。桂枝湯證。）汗後惡寒虛不任。（汗後惡寒。虛也。）脈微惡寒不可下。尚宜發汗莫令深。（脈微。不可下。雖發汗。亦微發汗可也。）亦有頭汗惡寒者。柴胡加桂值千金。（頭有汗而惡寒者。仲景用小柴胡加桂湯。）汗已惡寒心下痞。附子增加入瀉心。（仲景云，心下痞，而復惡寒。汗出者。附子瀉心湯主之。方第十八。）</p>
<h3>第四十五證‧背惡寒歌</h3>
<p>背陽腹陰各異位。陽弱惡寒多在背。（素問云。背為陽。腹為陰。背惡寒者。陽弱也。）一則三陽合病生。（仲景云。</p>
<p>三陽合病。額上生汗。背惡寒者。是其證。）一則少陰寒在外。（仲景云。少陰病。得之一二日。口中和。背惡寒者。當以灸。以附子湯主之。）欲識陰陽病不同。口和不和各分發。（仲景云。背惡寒。口不仁者。三陽合病也。又云。口中和。</p>
<p>背惡寒者。少陰也。）合病口燥並不仁。白虎抑陽是其對。（仲景以白虎治背寒。抑退陽也。）少陰口和須灸之。附子湯兼陰自退。（解在上。）</p>
<h3>第四十六證‧厥歌</h3>
<p>厥有冷厥有熱厥。脈證當須仔細別。冷厥才病四肢冷。脈但沉微身不熱。（冷厥。初得病便覺四肢逆冷。脈沉而微。</p>
<p>身不甚熱也。）足多攣臥並惡寒。引衣自覆仍不渴。（仲景云。凡厥者。陰陽之氣不相順接。便為厥。厥者手足厥冷是也。</p>
<p>故多足拘攣。外惡寒。引衣自覆不煩渴。）熱厥身熱頭且痛。三四日內厥方發。半日之間熱復回。揚手擲足煩躁列。（熱厥與冷厥。本自不同。冷厥。才病便厥。熱厥。必四五日內方發。半日之間熱復來也。揚手擲足。心中煩躁。）要之熱深厥亦深。熱微厥亦微相侵。（仲景云。傷寒一二日。至四五日厥者。必發熱。前厥者後必熱。厥深。熱亦深。厥微。熱亦微。厥應下之。而發汗者必口傷爛赤。）血氣不通手足冷。醫人不識卻疑陰。其脈沉伏而更滑。頭面有汗指甲溫。急便下之安可慢。不然疑似禍相仍。（沉伏而滑。伏熱在內也。四肢雖厥。指爪必溫。皆陽實也。急下之則愈。）又有正汗來相逼。兩手一手忽無脈。手足厥冷面不澤。細辛甘草湯脫厄。（朱肱云。忽然兩手一手無脈。手足厥冷者。恐是正汗來。故有此證。用細辛甘草湯以助其汗。汗出則可愈。）心下怔。（之成切。怔忪懼貌。）忪（職容切。心動不定。驚也。）厥有水。脈緊厥時邪在裡。（仲景云。傷寒。厥。而心下悸。先治其水。當與茯苓甘草湯以治厥。不爾。其水入胃。必利。又云。病者手足冷。脈乍緊者。邪結在胸。心下滿而煩。即不能食。病在胸中。當吐之。宜用瓜蒂散。）發熱七八日身冷。</p>
<p>此名臟厥為難治。（仲景云。傷寒脈微而厥。至七八日。膚冷。其人不安。此為臟厥。非蛔厥也。蛔厥者。其人當吐。）</p>
<h3>第四十七證‧結胸歌</h3>
<p>病發於陽下之早。熱氣乘虛心　。（仲景云。病發於陽。而反下之。熱入因作結胸。所以成結胸者。下之早。故也。）</p>
<p>按之石　頭項強。此是結胸證分曉。（仲景云。結胸者。頭項亦強。如柔　狀。下之則和。又云。其脈浮緊。心下痛。按之如石堅。）脈浮與大未可下。先汗後下無顛倒。（仲景云。其脈浮大。不可下。下之則死。）熱毒上攻結在胸。枳實理中應恰好。（大抵結胸未辨虛實。先與理中加枳實佳。）大抵結胸有三說。大結小結並水結。（有大結胸。有小結胸。有水結胸。仲景云。但結胸無大熱者。此為水結在胸脅也。但頭汗出者。大陷胸湯治。）更有寒熱二證存。熱實寒實宜區別。（仲景云。太陽病。從心下至小腹滿。痛不可近者。大陷胸湯主之。此大結胸也。又云。小結胸。病正在心下按之痛。脈浮滑者。小陷胸湯主之。此小結胸也。又云。傷寒結胸。熱實脈沉緊。心下痛。大陷胸湯主之。此熱實者也。又云。寒實結胸。無熱證者。三物小陷胸湯。白散亦可服。此寒實者也。）此外有證名臟結。脈浮關小沉細絕。（仲景云。飲食如故。</p>
<p>時時下利。寸脈浮關小細沉緊。名曰臟結。舌上白苔。滑者。難治也。）舌上滑苔不可醫。痛引陰筋當死別。（仲景云。</p>
<p>病者脅下素有痞。而在臍旁。痛引小腹。入陰筋者。此名臟結。死也。）結胸之狀如　病。從心至臍不可近。（仲景云。</p>
<p>結胸者項亦強。如柔　狀。又云。從心以下至臍。不可近。大陷胸湯主之。）心中懊　並躁煩。陽氣內陷非虛靳。（靳、居切。固也。仲景云。膈內拒痛。胃中空虛。客氣動膈。短氣煩躁。心中懊　。心下因硬。則為結胸也。）</p>
<h3>第四十八證‧痞歌</h3>
<p>痛為結胸否為痞。（音被。）關脈皆沉本同類。（仲景玉函云。發於陰而反下之。因作痞。仲景傷寒論云。病發於陽。</p>
<p>而反下之。熱入。因作結胸。病發於陰而反汗之。因作痞。蓋痛則為結胸。不痛則為痞。結胸與痞。寸脈浮。關脈皆沉。）</p>
<p>關上若浮且瀉心。（仲景云。心下痞。按之濡。其脈關上浮者。大黃黃連瀉心湯主之。）發渴煩躁五苓對。（仲景云。心下痞。與瀉心湯。其人渴而口煩躁。小便不利者。用五苓湯主之。）桔梗枳實湯最佳。先與服之使行氣。（晉人治痞氣。多作桔梗枳實湯。往往便瘥。以其下氣故爾。）下利雷鳴心下硬。甘草瀉心湯可治。（仲景論中。瀉心東加減有五證。皆為痞氣而設也。但滿而不痛者。宜半夏瀉心湯。色黃手足溫者。黃連瀉心湯。惡寒汗出者。附子瀉心湯。乾嘔食臭脅下有水氣者。生薑瀉心湯。雷鳴心下硬。心煩不得安者。甘草瀉心湯也。）</p>
<h3>第四十九證‧發黃歌</h3>
<p>寒濕在裡不能散。熱蓄脾中成此患。濕熱宿穀更相搏。郁塞不消黃色綻。（巢氏云。寒濕在裡則熱蓄於脾胃。腠理不開。瘀熱與宿穀相搏。煩郁不得消則大小不通。故身體面目皆變黃色。）頭面有汗齊頸止。渴飲水漿曾莫間。（仲景云。</p>
<p>但頭汗出余處無汗。齊頸而還。小便不利。身必發黃也。）浮滑緊數脈來時。茵陳五苓皆可選。（茵陳蒿湯。五苓散。皆可選用之。）瘀血之證亦相類。大便必黑此其異。血證其間多發狂。要須辨別無乖戾。（發黃與瘀血。其證相似。皆因瘀熱在裡故也。但發黃者。小便多不利。瘀血則小便利。小腹硬滿。大便黑色。仲景云。太陽病六七日。表證仍在。脈微而沉。及不結胸。其人發狂者。以熱在下焦。少腹當硬滿。小便自利者。下血乃愈。所以然者。以太陽隨經。瘀熱在裡故也。又云。小便自利。其人如狂者。血證諦也。）白虎之證亦身熱。大率異同難辨別。白虎不能遂發黃。蓋為周身汗發越。（白虎與發黃證亦相似。但白虎周身發汗。故不能黃。發黃證則余處無汗。齊頸而還）更有中濕並中風。發黃大抵亦皆同。濕則薰黃身盡痛。目黃風中氣難通。（仲景云。濕家之為病。一身盡痛。發熱。身色如薰黃。又有中風黃者。但目黃。氣難通也。）</p>
<h3>第五十證‧發狂歌</h3>
<p>發狂二證當別白。陽毒蓄血皆憑脈。（發狂有二證。有陽毒發狂。有蓄血發狂。）陽毒發狂多乾嘔。煩躁脈實並面赤。</p>
<p>（難經云。重陽者狂。重陰者癲。）蓄血如狂脈沉微。但欲嗽水不咽入。小腹硬滿小便利。不發寒熱大便黑。（仲景云。</p>
<p>陽明病七八日。表證仍在。脈微而沉。反不結胸。其人發狂者。以熱在下焦小腹當硬滿。小便自利者。下血乃愈。所以然者。以太陽隨經。瘀熱在裡故也。抵當湯主之）大抵當汗而不汗。熱化為血如何散。血上蓄兮喜忘多。血下蓄兮還悶亂。（素問云。血在上則忘。血在下則狂。）更有火劫發狂時。桂枝救逆東加減。（仲景云。傷寒之脈浮。而醫以火迫劫之。</p>
<p>亡陽。驚狂。臥起不安。屬桂枝。去芍藥。加蜀漆。牡蠣。龍骨。救逆湯治）</p>
<h3>第五十一證‧發斑歌</h3>
<p>溫毒熱病證兩般。發斑隱疹滿身間。（仲景云。風氣相搏。則為隱疹。身體為癢。癢者為泄風）溫毒冬月冒寒氣。至春始發在皮端。（此證謂冬月冒寒。至春陽氣盛。發於表膚者。）熱病表虛而裡實。熱毒不散錦紋斑。不可發汗重開泄。</p>
<p>升麻湯輩可求安。（巢氏云。熱病在表。已發汗。未解。或吐下後。熱毒瓦斯不散。煩躁。譫語。此為表虛裡實。熱氣燥於外。故身體發斑如錦紋。凡發斑不可用發汗藥。令瘡重開泄。更增斑爛也。宜升麻元參湯。熱毒乘虛入胃。胃爛。故發斑。其熱微者。赤斑出。劇者黑斑出。赤斑出者五死一生。黑斑出者十死一生。）</p>
<h3>第五十二證‧發喘歌</h3>
<p>傷寒喘急是其常。先論陽明及太陽。太陽無汗麻黃證。（仲景云。太陽病頭痛發熱。身疼。腰痛骨節疼痛。惡風。無汗而喘者。麻黃湯主之。又一證。太陽病下之微喘者。表未解也。桂枝加厚朴杏子湯主之。又一證。下後不可便行桂枝湯。若汗出而喘無大熱者。可與麻黃杏子甘草石膏湯。）陽明潮熱小承湯。（仲景云。潮熱短氣。腹滿而有潮熱者。小承氣湯主之。）水停心下喘而咳。加減青龍必可當。（仲景云。傷寒表不解。心下有水氣。發熱而咳。或渴或利。小腹滿而喘者。小青龍湯。）陰證喘時須喘急。反陰丹輩用為良。（陰證喘與陽證異。其喘必急。宜用反陰丹主之。）</p>
<h3>第五十三證‧發渴歌</h3>
<p>脈浮而渴太陽病。有汗而渴陽明證。渴而自利屬少陰。三者不同須審訂。（仲景云發汗已。脈浮數煩渴者。五苓散主之。又云陽明病。汗出多而渴者。不可與豬苓湯。以其汗多。胃中燥。豬苓復利其小便故也。又云。少陰病。其人欲吐。</p>
<p>復不得吐。而煩。但欲寐。五六日自利而渴者。屬少陰。此三證。渴雖同其病則異也。）自非大渴莫與水。小渴唯宜滋潤爾。若令劇飲心下滿。變成水結難調理。（仲景云。太陽病。胃中干。燥煩不得眠。其人欲飲水。當稍飲之。胃中和。則愈。）渴太陽。無汗休供白虎湯。汗後脈洪方可與。此證思之要審量（太陽病，須汗後渴。方可行白虎。亦須白虎加人參也。仲景云。傷寒脈浮發熱無汗者。表未解。不可與白虎湯。渴者白虎加人參主之。）渴陽明。有汗且休供五苓。小便不利汗仍少。脈浮而渴用為精。（仲景云。陽明病。汗出多而渴者。不可與豬苓湯。以汗多胃中燥。豬苓復利其小便故也。</p>
<p>又云。若脈浮發熱。渴欲飲水。小便不利。豬苓湯主之。）陽毒躁盛黑奴用。中暑黃連丸酒蒸。（黑奴丸。千金方也。酒蒸黃連丸。活人書方。二藥雖非仲景之方。然治陽毒中暑。最為有效。）</p>
<h3>第五十四證‧吐血歌</h3>
<p>諸陽受病蘊邪熱。在表當汗汗不發。（巢源方云。吐血者。皆由諸陽受邪熱。初在表。應發汗。而汗不發。致使熱毒入深。結於五臟。內有瘀積。故吐血也。）熱毒入深結在中。瘀血既停須吐血。輕者犀角地黃湯。重者抵當方能絕。（小品犀角地黃湯。主傷寒及溫病。應發汗而不發之。內瘀蓄血。及鼻衄吐血者。此湯主之。抵當湯治瘀血在內。）大下寸口脈沉遲。吐血升麻安可缺。（陽毒升麻湯。證云。陽毒二藥。吐下之後。便成陽毒。或吐血下痢。其脈浮大數。面赤斑如錦紋。唾膿血者。此湯主之。）</p>
<h3>第五十五證‧衄血歌</h3>
<p>太陽陽盛必須衄。衄已解時何福祉。（巢氏云。脈浮緊發熱。其身無汗自衄者愈。蓋太陽病。有因衄血而便自解者。）</p>
<p>浮緊無汗系麻黃。脈浮自汗桂枝屬。二者服之不中病。脈尚如前宜再服。（仲景云。傷寒脈浮緊。不發汗。因致衄者。麻黃湯主之。故自汗脈浮者。宜桂枝也。麻黃桂枝正分表裡。服之不中病尚宜再服。此活人書之意也。予謂此候不可不審察。細詳仲景之書。又云。陽明病。口燥。但欲飲水不咽入者。此必衄。衄家不可攻其表。汗出額上陷。直視不能眠。</p>
<p>不得　。又云。亡血家。不可攻其表。汗出。則寒栗而振。）衄後脈微血已虛。慎勿服之令病篤。且看犀角地黃湯。不止茅花須預速。（若脈微血虛。則麻黃桂枝皆不可用也。短劇犀角地黃湯。活人書云。茅花湯皆可用。）陰證本來無此候。</p>
<p>少陰強發紅來觸。下厥上竭不可醫。血流口鼻或耳目。（仲景云。少陰病。但欲無汗。而強發之。則衄血。不知從何道出。</p>
<p>或從口鼻耳目中出。是為下厥上竭。為難治。）</p>
<h3>第五十六證‧吃噫歌</h3>
<p>胃虛為噦名吃噫。（吃、聲啞語難也。噫胸氣飽。出息。）多因吐下緣虛極。（古人方書無吃字。惟有噦。朱肱以噦者吃氣也。）橘皮乾薑退陰散。或灸乳下皆得力。（灸法見活人書。並良方中。）又有陽明小柴胡。視其前後部何如。（仲景云。傷寒。噦而渴者。視其前後。知何部不利。利之則愈。）因虛攻熱必生噦。仲景言之豈妄歟。（仲景云。其人本虛。</p>
<p>攻其熱必噦。噦火外切。又於月切。逆氣也。）更有一證欲作汗。陰陽升降致屯如。胃氣上逆無休止。逡巡中汗自然除。</p>
<p>（龐安常說。）</p>
<h3>第五十七證‧譫語歌</h3>
<p>實則譫語虛鄭聲。兩般相似最難明。（仲景云。實則譫語。虛則鄭聲。鄭聲者重語也。直視譫語而喘滿者死。下利不止亦死矣。）大小便利手足冷。更兼脈細是虛形。（此鄭聲之證也。）脈來洪數二便秘。譫語為因實得名。譫語證。本非一。</p>
<p>或因下利或胃實。（仲景云。下利而譫語為有燥屎。承氣湯主之。又云。陽明病。其人多汗。津液外出。胃中燥。大便必堅。堅者譫語。承氣湯主之。）三陽合病或瘀血。或是熱入於血室。（仲景云。三陽合病。腹滿身重。難以轉側。口中不仁。譫語又云。脅下滿如結胸狀。其人譫語。此皆熱入血室。）大抵發熱陽脈生。反見陰脈斯為逆。（譫語發熱。見陽脈者生。見陰脈者死。）</p>
<h3>第五十八證‧煩躁歌</h3>
<p>傷寒煩躁證如何。陽明證與少陰科。陽明脈長大便秘。（仲景云。陽明脈長。自汗出。醫復重發其汗。其人微煩不了了者。此大便堅也。）傷風之候太陽多。（仲景云。太陽病。服桂枝湯。煩不解者。宜刺風池風府。卻與桂枝湯。又云。</p>
<p>服桂枝湯。復大煩。渴不解。脈洪大者。白虎湯。）陰盛陽虛亦煩躁。少陰之證莫令訛。（大抵陰盛陽虛亦煩故。少陰證多煩躁。少陰腎也。腎惡燥。故熱邪傳入腎經。則煩躁宜矣。仲景云。少陰病惡寒而倦。則自煩。欲去其衣者可治。又云。自利煩躁不得眠者死。）汗下而煩醫者誤。（仲景云。傷寒吐下。發汗。虛煩。脈甚微。八九日心下堅痞。經脈動惕者。久而成萎。）病解而煩氣未和。更有虛煩宜竹葉。莫作傷寒致誤佗。（孫兆云。虛煩熱疾。與傷寒相似。得病二三日。</p>
<p>脈不浮不惡寒。身不疼痛。但熱而煩。非表候。不可發汗。如脈不緊。實病。但熱。或不煩。非裡實。不可下。汗下必危損。但用竹葉湯主之。其病自然而愈也。）</p>
<h3>第五十九證‧懊歌</h3>
<p>傷寒懊　意忡忡。（懊、於告反。　、千金音作農。外台云奴凍切。）或實或虛病胃中。結胸下早陽內陷。陽明誤下胃虛空。（懊　證有三。此一證。胃中因下空虛。而致也。仲景云。胃中空虛。客氣動膈。短氣煩躁。心中懊　。陽氣內陷。心下因硬。則為結胸。又云。陽明證。其脈浮緊。下之則胃中空虛。客氣動膈。心中懊　。舌上白苔者。梔子湯主之。若渴欲飲水者。白虎湯主之。）客氣動膈心中躁。梔子湯兼大陷胸。（結胸。陷胸湯主之。白苔。梔子湯主之。）胃中燥屎宜承氣。腹滿頭堅不可攻。（此一證。胃中下後有燥屎也。仲景云。陽明病。下之。心下懊　微煩。胃中有燥屎者。</p>
<p>可攻。其人腹微滿。頭硬。後溏者。不可下之。有燥屎者。宜承氣湯主之。）</p>
<h3>第六十證‧怫鬱歌</h3>
<p>怫鬱有虛亦有實。要須仔細明證脈。（怫。音拂。蓋燥屎者實也。吐下者虛也。）燥屎唯宜承氣湯。（仲景云。病者小便不利。大便乍難乍易。時有微熱。怫鬱不得臥。有燥屎故也。承氣湯主之。）吐下極虛胃寒疾。（仲景云。傷寒大吐下後。極虛。復極汗者。其人外氣怫鬱。復與之水。以發其汗。因得噦。所以然者。胃中寒冷。故致此也。）火薰汗出目須黃。（仲景云。寸口脈。陽浮。陰濡而弱。醫如火薰郁令汗出。客熱因火而熱發。怫鬱蒸肌膚。身目為黃。）二陽並病面還赤。（仲景云。二陽並病。太陽初得病時。先發其汗。汗先出不徹。因轉屬陽明。續自微汗出。設面色緣緣正赤者。陽氣怫鬱。當解之薰之也）脈來洪大榮氣長。（仲景云。寸口脈洪而大者。榮氣長。榮氣長則陽盛。怫鬱不得出聲。）隨經醫治何由失。</p>
<h2>卷四</h2>
<h3>第六十一證‧驚惕歌</h3>
<p>傷寒何故生驚惕。吐下溫針或火力。（或因吐下。或因溫針。或因火劫。）下之譫語牡蠣湯。（仲景云。傷寒八九日。</p>
<p>下之。胸滿煩驚。小便不利。譫語。一身盡痛。不可轉側者。柴胡牡蠣龍骨湯主之。）妄用溫針於理逆。（仲景云。太陽傷寒。加溫針必驚也。）風溫被火多　（尺世切。亦作螈。）　。（　。子用切。仲景云。風溫被火者。微發黃色。劇則如驚癇。時　。若火熏之。一逆尚引日。再逆促命期。）陽明被火汗流出（仲景云。陽明病被火。額上微汗出。發熱。</p>
<p>汗出不惡寒。加溫針者。必怵惕煩躁不得眠。）脈浮火劫必亡陽。（仲景云。傷寒脈浮。醫以火迫。劫之亡陽。必驚狂臥起不安者。桂枝去芍藥。加蜀漆。牡蠣龍骨救逆湯。）三者不同同此疾。少陽中風耳無聞。吐下悸驚常惕惕。（仲景云。</p>
<p>少陽中風。兩耳無所聞。目赤。胸中滿而不煩。不可吐下。吐下則悸而驚。）</p>
<h3>第六十二證‧心悸歌</h3>
<p>傷寒心悸有多端。大抵三陽不一般。（仲景云。悸證有八九皆屬三陽。）太陽便利多飲水。（仲景云。太陽病。小便利者。以飲水多。心下悸。小便少者。必苦。裡急也。）陽明煩嘔小便難。（仲景云。傷寒五六日。中風。往來多熱。心下悸。小便不利。心煩喜嘔者。小柴胡湯主之。）少陽吐下仍虛悸。（仲景云。少陽中風。兩耳無所聞。目赤。胃中滿而煩。</p>
<p>不可吐下。吐下則悸而驚。）誤下煩時胃內干。（仲景云。傷寒。其脈弦細。脅痛發熱。此屬少陽。少陽不可發汗。發汗則譫語。為屬胃。胃和則愈。胃不和則煩而悸也。）脈來結代炙甘草。（仲景云。傷寒。脈結代。心動悸。炙甘草湯主之。</p>
<p>方第三十九。）小建中行三日間。（仲景云。傷寒二三日。心中悸者。小建中湯。）汗過自冒桂甘證。肉　真武定須安。（此二證。自汗過而悸也。仲景云。發汗過多。其人叉手自冒心。心下悸。欲得按者。桂枝甘草湯。方第二十七。又云。太陽病發汗。汗出不解。其人仍發熱。心下悸。頭眩身　動。振振欲擗地者。真武湯主之。方第四十二。）</p>
<h3>第六十三證‧冒悶歌</h3>
<p>二陽並病必須冒。宜刺大椎當慎表。（仲景云。太陽少陽並病。頭痛或眩冒時。如結胸痞硬。當刺大椎第一間。肺俞肝俞。慎不可發汗。）下利面赤脈沉遲。汗出中心常郁懊。（仲景云。下利脈沉遲。其人面少赤。身有微熱。下利清穀者。</p>
<p>必鬱冒汗出。）吐下汗後或動經。（傷寒吐下後。發汗虛煩。脈甚微。八九日。心下痞硬。氣上衝咽喉。鬱冒。經脈動惕者。久而成痿。）汲水灌身那得好。（仲景云。榮衛中風。醫為大熱。解肌發汗。熱不止。又汲水灌其身。栗栗振寒。則以重被覆之。故汗出而冒煩。）汗下表裡已先虛。汗出表和痊可保。（仲景云。太陽病下之而愈。先復發汗。以此表裡俱虛。其人必冒。冒家汗出自愈。所以然者。汗出表和故也。）</p>
<h3>第六十四證‧乾嘔歌</h3>
<p>陽明胃絡從頭走。氣上逆行須便嘔。（嘔者胃不和也。胃之絡從頭走足。今氣上行而逆。故嘔也。）陽明多嘔小柴胡。</p>
<p>（仲景云。傷寒五六日。中風。往來寒熱。心煩喜嘔。或胸中煩而不嘔。小柴胡湯。）胸中有熱黃連候。（仲景云。傷寒。</p>
<p>胸中有熱。胃中有邪氣。腹中痛欲嘔吐者。黃連湯主之。第二十五。）水停心下茯苓甘。（發汗吐下後。心下逆。滿者。</p>
<p>茯苓甘草湯。又方。心下有水氣。乾嘔者。小青龍湯主之。）先嘔後渴五苓救。（仲景云。嘔而渴者。五苓散主之。）汗後余熱竹葉湯。（汗後虛煩嘔逆者。竹葉湯或橘皮湯。）煩虛梔子豉湯授。（煩虛者。梔子豉湯主之。得吐勿服。余者嘔而有膿者。不可治嘔。膿盡乃愈。）又有少陰嘔證存。真武湯中加減否。（仲景云。少陰病。二三日不已。至四五日。腹痛。</p>
<p>小便不利。四肢沉重。疼痛而利。此為有水氣。其人或咳。或小便自利。或下利。或嘔者。玄武湯主之。論中有加減之法。）</p>
<h3>第六十五證‧吐逆歌</h3>
<p>吐有冷熱兩證異。內脈外形當仔細。（吐有胃冷。有胃熱者。當以內脈外形辨之。）煩渴脈數手心熱。此是胃熱之所致。（孫尚云。脈來數。手心熱。煩渴者。胃熱也。竹茹湯證。）曾經汗下關脈遲。胃中虛冷理中治。（肝脈遲。胃虛也。</p>
<p>理中丸及湯主之。）膈上寒痰四逆湯。（仲景云。若膈上有寒。欲乾嘔者。不可吐。當溫之。宜四逆湯。）汗後虛煩竹葉已。</p>
<p>（汗後虛煩嘔吐者。竹葉並橘皮湯證。）少陰欲吐復不吐。必竟吐之當審記。（仲景云。少陰病。其人飲食入。則心中溫溫欲吐。復不得吐。始得之。手足寒。脈弦遲。此胃中實也。不可下。當吐之。）</p>
<h3>第六十六證‧霍亂歌</h3>
<p>嘔吐而利名霍亂。（仲景云。病有霍亂者。何也。答曰嘔吐而利。此名霍亂。）四肢逆冷誠斯患。寒多不飲理中丸。</p>
<p>熱多而渴五苓散。（仲景云。霍亂而頭痛發熱。身體疼痛。熱多。欲飲水。五苓散。寒多不飲水者。理中丸主之。又云。</p>
<p>吐利汗出。發熱惡寒。四肢拘急。手足厥。四逆湯主之。）暑月忽然心撮痛。兩腳轉筋多冷汗。上吐下利並躁煩。水沉香薷煎數盞。（暑月陰陽不和。清濁相干。食飲飫飽。傷於脾胃。而又取涼就冷。陰陽交錯。變成吐利。三焦溷亂。腹中撮痛。大渴而煩。兩腳轉筋者。當用香薷散主之。）</p>
<h3>第六十七證‧頭疼歌</h3>
<p>三陽往往病頭疼。隨證醫治（平聲。）各異能。（三陽經絡上至於頭。三陰至胸中而還。故三陽之邪至頭。必頭疼也。）</p>
<p>太陽身熱麻黃證。（仲景云。太陽病頭疼發熱。身疼。無汗而喘者。麻黃湯主之。）無熱陽明胃氣蒸。（仲景云。陽明病。</p>
<p>手足若厥者。其人頭必痛。若不嘔不飲。手足不厥者。其頭不痛。）少陽受病脈弦細。小柴胡證自分明。（仲景云。傷寒。</p>
<p>其脈弦細。頭痛發熱。此為屬少陽。少陽不可發汗。則譫語為屬胃。胃和則愈。不和則煩而悸。）三陰太少無頭痛。為是厥陰之證形。（三陰之中。太陰少陰無頭痛。惟厥陰有也。）非時忽有　首疾。（　音消。出周禮。）必是停痰濕氣並。（停痰濕氣。亦令人頭痛。）</p>
<h3>第六十八證‧脅痛歌</h3>
<p>少陽膽經循脅過。邪入此證痛無那。（那音糯。仲景云。少陽經絡。循脅貫耳。因邪在此。則脅痛而耳聾。）心下堅滿引脅痛。十棗醫治定須可。（仲景云。太陽中風。吐下嘔。頭痛。心下痞。堅、滿、引脅下痛。表解裡未和者。十棗湯主之。）陽明堅滿大便結。項強不食並潮熱。因而轉入少陽經。唯小柴胡湯緊切。（仲景云。陽明病。不大便。脅下堅滿。</p>
<p>舌上有苔者。可與小柴胡湯。又云。項強脅下滿者。可與小柴胡湯。又云。傷寒五六日。中風。往來寒熱。胸脅苦滿。</p>
<p>默默不欲食。小柴胡湯主之。又云。陽明病不解。轉入少陽。脅下堅滿。乾嘔者。小柴胡湯主之。）病患痞積貫臍旁。痛引陰筋名臟結。（仲景云。病者。脅下痛。素有痞積。在臍旁痛。引小腹入陰筋者。名臟結。）</p>
<h3>第六十九證‧腹痛歌</h3>
<p>腹痛有實亦有虛。要觀證與脈何如。尺脈帶弦並泄利。陽明虛痛建中須。（仲景云。傷寒。陽脈澀。陰脈弦。法當腹中急痛。先與小建中湯。）關脈若實大便秘。更加腹滿實中居。（仲景云。病患不大便。繞臍腹痛。煩躁。發作有時。為有燥屎。）陰證腹痛四逆散。（仲景云。少陰病。四逆。其人或咳或悸。小便不利。或腹中痛。泄利下重者。四逆散主之。</p>
<p>又云。少陰病。下利清穀。裡寒外熱。脈微欲絕。脈不出。或腹痛。通脈四逆湯主之。又云。少陰病。二三日不已。至四五日。腹痛。小便不利。真武湯主之。）下之腹痛桂枝祛。太陽病。醫反下之。因腹滿時痛。屬太陰。桂枝加芍藥湯主之。大實痛者。加大黃湯也。胃中有邪胸中熱。嘔吐黃連湯可除。（仲景云。傷寒。胸中有熱。胃中有邪氣。腹中痛。</p>
<p>欲嘔吐者。黃連湯主之。）</p>
<h3>第七十證‧咽痛歌</h3>
<p>咽痛陰陽各異宜。要須脈證兩參之。脈浮而數吐膿血。此是陽毒之所為。（傷寒。脈浮數而大。唾膿血。千金。外台有烏扇膏治之。）脈沉兼細手足冷。或加吐利少陰兮。（仲景云。少陰法當咽痛。而復吐冷。）少陰陰陽脈俱緊。亡陽汗出要醫治。（仲景云。其脈。陰陽俱緊。而反汗出。必亡陽。病屬少陰。）又有伏氣之為病。非常寒冷著人肌。咽喉先痛次下利。作腎傷寒方可醫。（仲景云。伏氣之病。以意候之。今月之內。欲有伏氣。假令舊有伏氣。當須脈之。若脈微弱者。</p>
<p>當喉中痛。似傷寒。非喉痹也。病患云。實喉中痛雖爾。今復欲下利。）</p>
<h3>第七十一證‧咳嗽歌</h3>
<p>咳嗽三經要辨明。太陽陽明與少陰。太陽停水青龍候。（仲景小青龍二證。皆云心下有水氣。乾嘔發熱而咳者。小青龍湯主之。又云。心下有水氣。咳而微喘者。小青龍湯。）小柴治咳值千金。（仲景云。中風七八日。心下悸。小便不利。</p>
<p>身有微熱。或咳者。小柴胡湯主之。）陽明能食咽必痛。咳時頭痛定難禁。（仲景金匱云。冬陽明。但頭眩不惡寒。故能食而咳者。其人咽必痛。不咳者。咽不痛。又云。冬陽明。反無汗。小便利。二三日。嘔而咳手足厥者。其人頭必痛。</p>
<p>若不嘔不咳。手足不厥者。頭不痛。）少陰煩渴豬苓治。泄利須還四逆靈。（仲景云。少陰病。下利。六七日。咳而嘔渴。</p>
<p>心煩不得眠者。豬苓湯主之。又云。少陰四逆。其人或咳。小便不利。腹中痛泄利者。四逆湯。）忽然水氣因生咳。真武湯功效最深。（仲景云。少陰病二三日不已。至四五日。腹痛。小便不利。四肢沉重。疼痛而利。此為有水氣。其人或咳。</p>
<p>或小便自利。或下利。或嘔。玄武湯主之。）</p>
<h3>第七十二證‧遺尿歌</h3>
<p>風溫被下必失溲。鼾睡難言自汗流。（仲景云。風溫為病。脈陰陽俱浮。自汗出。身重。多眠睡。鼻息必鼾。語言難出。若被下者。小便不利。直視失溲。）三陽合病身體重。不覺遺尿也可憂。（仲景云。三陽合病。腹滿身重。難以轉側。</p>
<p>口不仁。面垢。譫語。遺尿。發汗則譫語。下之則額上生汗。手足厥冷。自汗宜白虎湯主之。）下焦不歸亦遺溺。三者依方病可瘳。（仲景云。下焦不歸其部。則遺溲已上三證。隨證治之可愈。）忽然直視並狂語。腎絕如何得久留。（仲景云。</p>
<p>溲便遺失。狂言。反目直視者。此為腎絕也。）</p>
<h3>第七十三證‧腹滿歌</h3>
<p>太陰腹滿必時痛。（仲景云。太陰之為病。腹滿吐食不下。下之甚。腹滿時痛。）合病腹滿身體重。（仲景云。三陽合病。腹滿身重。難以轉側。）陽明腹滿口苦干。微喘小柴胡可用。（仲景云。陽明中風。口苦咽乾。腹滿微喘。發熱。脈浮而緊。下之。則腹滿而小便難也。）穀疸之時且調胃。（仲景云。陽明病。脈遲欲成穀疸。下之則腹滿。）潮熱更兼便不利。勿令大下使之虛。微和胃腑宜承氣。（仲景云。陽明脈遲。腹滿而喘。有潮熱。小承氣湯主之。又云。腹大滿而不大便者。小承氣。微和其胃氣。勿令大下。）下後心煩而腹滿。梔子厚朴湯宜爾。（仲景云。傷寒下後。心煩腹滿。臥起不安者。梔子厚朴湯。）汗後厚朴最為佳。（仲景。發汗後腹脹者。厚朴五物湯。）吐後小承當審諦。（仲景云。傷寒吐後腹滿者。小承氣湯主之。此一證當仔細辨之。）太陰桂枝芍藥湯。大實大黃湯可治。（仲景云。太陽病。醫反下之。因腹滿時痛屬太陰。桂枝芍藥湯。大實痛。則用大黃湯主之。）</p>
<h3>第七十四證‧蛔厥歌</h3>
<p>胃冷仍加發汗重。因成蛔厥吐長蟲。病源本屬厥陰證。宜用烏梅與理中。（仲景云。蛔厥者。其人當吐。今病者靜而復時煩。此為臟寒。蛔上入其膈。故須臾得止。得食而嘔。又煩者。蛔聞食臭必出。其人當自吐蛔。烏梅丸理中丸主之。）</p>
<h3>第七十五證‧自汗歌</h3>
<p>傷寒自汗證有九。衛不和兮桂枝候。（仲景云。病患臟無他病。時發熱。自汗出而不愈者。此衛氣不和也。先其時發汗則愈。宜桂枝湯。）風溫風濕及傷風。（仲景云。風溫為病。脈陰陽俱浮。自汗出。身重多眠睡。此風溫自汗也。仲景云。濕家之為病。其人頭汗出。背強。欲得覆被向火。又云。額上汗出。微喘。此風濕自汗也。仲景云。太陽中風。陰弱者汗自出。此傷風自汗也。）中暑亡陽柔　有。（仲景云。太陽中　者。其人汗出。惡寒。身熱而渴。此中暑自汗也。</p>
<p>仲景云。傷寒自汗出。小便數。心煩微惡寒。腳攣急。桂枝加附子人參。其間增桂。令汗出。附子溫經亡陽故也。又云。</p>
<p>脈陰陽俱緊。而反汗出。為亡陽。屬少陰。此亡陽自汗也。仲景云。太陽病。發熱汗出。不惡寒。名曰柔　。此柔　自汗出。）霍亂下利四肢逆。（仲景云。霍亂吐利。汗出發熱。惡寒。四肢拘急。手足厥冷。四逆湯主之。）陽明多汗津液漏。</p>
<p>（仲景云。陽明病。陽脈微而汗出少者。為自和。汗多者太過。太過者陽積於內。亡津液。大便因堅也。）少陰無汗或有之。額上手背時時透。（仲景云。陰不得有汗。故知非少陰也。少陰有汗但額上手背有耳。朱蒂傷寒陰證。訣云。陰病。</p>
<p>額上手背皆有冷汗。三二日中尚可行。）隨證治療莫令差。更看病形深體究。</p>
<h3>第七十六證‧頭汗歌</h3>
<p>病患裡虛而表實。玄府不開腠理密。無能作汗潤皮膚。陽氣上行頭上出。津液既竭五內干。誤下重虛成大疾。（病患表實。玄府不開。汗不能浹於周身。故上騰而發於頸額也。汗既出多。五臟津液寡少。又重責之以汗。必成大疾。）頭有汗兮多塗徑。劑頸而還發黃病。（仲景云。若不結胸。但頭汗出。余處無汗。劑頸而還。小便不利。多必發黃。）往來寒熱表未解。（仲景云。傷寒五六日。其人已發汗。而復下之。胸脅微滿硬。小便不利。渴而不嘔。但頭汗出。往來寒熱而煩。此為未解。小柴胡湯桂枝湯。）手足冷時非陰證。（仲景云。傷寒七八日。頭汗出。微惡寒。手足冷。心下滿。口不欲食。大便堅。其脈細。此為陽微結。有表復有裡也。脈雖沉緊。不得為少陰。所以然者。陰不得有汗。今頭汗出。故知非少陰也。可與小柴胡湯。）肝乘肺部刺期門。（仲景云。傷寒。發熱。嗇嗇惡寒。其人大渴欲飲酢漿。其腹必滿。身自汗出。小便利。其病欲解。此肝乘肺。名曰橫。當刺期門。期門穴在乳下。）心中懊　梔子應。（仲景云。陽明病。下之。其外有熱。手足溫不結胸。心中懊　。若飢不能食。但頭有汗出者。宜用梔子湯主之。）膈間堅滿茯苓湯。六者看詳宜審訂。</p>
<h3>第七十七證‧欲得汗歌</h3>
<p>陽加於陰有汗期。過關之脈要須知。（素問云。陽加於陰。謂之有汗。俗謂過關之脈也。）有時兩手忽無脈。恰似重陰欲雨時。（有時一手無脈。或兩手無脈者。有汗證也。）病患本虛必發顫。不虛得汗顫何為。不顫不汗自然解。陽陰和順更何疑。先曾吐下並亡血。內無津液故如斯。（仲景云。病有戰而汗出。因得解者。何也。答曰。脈浮而緊。按之反芤。</p>
<p>此為本虛。故當戰而汗出也。若脈浮而數。按之不芤。此人本不虛。若欲自解。但汗出耳。不發戰也。病有不戰。不汗出而解者。何也。答曰。其脈自微。此以當發汗。若吐若下。若亡血。內無津液。此陰陽自和。必自愈。）止愛　周身潤。來時最忌水淋漓。（凡得汗欲令手足皆周。　一時益佳。但不欲流離。）汗出如油是惡證。忽加喘急病傾危。（仲景云。汗出如油喘而不休。此為命絕也。）停痰　癖皆隔汗。先須蕩滌要醫治。（傷寒最怕先有宿患。如痰飲癖塊。皆能隔汗。不能得。先開達管道。經絡通為佳。）水升火降陰陽合。大汗來時命得回。（腎水升。心火降。坎離得交。陰陽合和。</p>
<p>必大汗至矣。）</p>
<h3>第七十八證‧舌上苔歌</h3>
<p>陰陽俱緊鼻出涕。舌上苔滑勿妄治。蜷臥惡寒多嘔痰。腹內痛者須成利。（仲景云。脈陰陽俱緊。口中氣出。唇口乾燥。蜷臥足冷。鼻中涕出。舌上苔滑。勿妄治也。至七八日以來。其人微發熱。手足溫者。此為欲解。或到七八日以上。</p>
<p>反大熱者。此為難治。設使惡寒者。必欲嘔也。腹內痛者。必欲利也。）陽明濕痹並臟結。色白苔滑多在舌。（二證見下文。）臟結無陽不可攻。（仲景云。臟結者無陽證。不往來寒熱。其人反靜。舌上滑苔者。不可攻。）濕痹丹田應有熱。（仲景云。濕痹之候。舌上有苔者。以丹田有熱。胸中有寒。濕痹中濕也。）陽明懊　脅下堅。梔子柴胡不徒設。（陽明有二證。仲景云。陽明。心中懊　舌上苔者。梔子湯主之。又云。陽明病。脅下堅滿。不大便而嘔。舌上苔者。可與柴胡湯。</p>
<p>上焦得通。津液得下。胃氣因和。身　然汗出則解。）</p>
<h3>第七十九證‧下膿血歌</h3>
<p>傷寒表實裡還虛。熱氣乘虛腸裡居。下利膿血赤黃汁。或如魚腦狀難拘。（病源。傷寒病。苦表實裡虛。熱氣乘虛入於腸胃。則下赤黃汁。若濕毒瓦斯盛。則腹痛壯熱。下膿血如魚腦或如爛肉汁。）太陽下之脈浮滑。定知便血色殷（於閑切。）</p>
<p>如。（仲景云。太陽下之。其脈浮而滑者。必下血。）陽明下血而譫語。熱入血室病難除。（仲景云。陽明病下血而譫語者。</p>
<p>必為熱入血室。頭汗出者。當刺期門。隨其實而瀉之。　然汗出則愈。）少陰膿血桃花證。不爾刺之邪可祛。（仲景云。</p>
<p>少陰下利。便膿血者。桃花湯主之。又云。少陰病下利。便膿血者可刺。）下利脈浮尺中澀。或是發厥熱如初。二證皆圊膿血利。悉見長沙仲景書。（仲景云。一證傷寒發熱四日厥。反三四日復熱。四日厥少熱多。其病當愈。四日至六日熱不除。必清膿血。又一證云。下利脈又浮數。尺中自澀。其人必圊膿血。）</p>
<h3>第八十證‧晝夜偏劇歌</h3>
<p>衛氣循環不暫停。晝則行陽夜在陰。衛獨留陽陽蹺盛。陽盛陰虛夜不寧。忽若留陰陰蹺滿。陰滿陽虛晝卻爭。（黃帝針經云。衛氣者。晝日行於陽。夜行於陰。衛氣不得入於陰。常留於陽。留於陽則陽氣滿。滿則陽蹺盛而不得入於陰。</p>
<p>陰氣虛則夜不得寧也。衛氣留於陰。不得行於陽。留於陰。則陰盛。陰盛則陰蹺滿。不得入於陽。陽氣虛。故晝則爭而不安。）暮譫晝了陰虛證。晝躁陽虛夜氣清。（仲景云。婦人傷寒發熱。經水適來。晝則明了。暮則譫語。為熱入血室。</p>
<p>又云。下之後。復發汗。晝則煩躁不得眠。夜而安靜。不嘔不渴。無表裡證。脈沉微身無大熱者。乾薑附子湯主之。熱入血室。以陰虛而邪入之也。故暮譫晝了。下而復汗。以亡陽而衛在陰也。故晝躁夜靜。）要須調衛各歸分。二氣諧和可漸平。</p>
<h2>卷五</h2>
<h3>第八十一證‧循衣摸空歌</h3>
<p>傷寒吐下仍不解。大便不利潮熱在。循衣摸床惕不安。獨語猶如見鬼怪。微喘直視不識人。譫語狂言還可駭。大承服後脈弦生。忽若澀兮死何悔。（仲景云。傷寒吐下後。未解。不大便。五六日。至十余日。其人日晡所發潮熱。不惡寒。</p>
<p>如見鬼神。狀若劇者。發則不識人。循衣妄撮床惕不安。微喘直視。脈弦者生。澀者莫不死。仲景云。太陽中風以火劫之。兩陽相熏灼。其身發黃。鼻衄血。循衣摸床。小便利者。可治。華佗云。病患循衣縫。不可治。）</p>
<h3>第八十二證‧筋惕肉歌</h3>
<p>病患肉　並筋惕。汗過經虛真武敵。（仲景云。大青龍湯證云。若脈微弱。汗出惡風者。不可服之。服之則厥逆。筋惕肉　。此為逆也。又云。太陽病發汗。汗出不解。其人仍發熱。心下悸。頭眩。身　動。振振欲擗地者。真武湯主之。）</p>
<p>不然邪入大經中。狀如　驚癇疾。發汗動經身振搖。宜用茯苓桂枝術。（仲景云。傷寒若吐下後。心下逆滿。氣上衝胸。</p>
<p>起則頭眩脈沉緊。發汗則動經。身為振搖者。茯苓桂枝白朮甘草湯。又云。傷寒吐下後。汗虛。脈微。眩經脈動惕者。</p>
<p>久而成痿。）動氣在左誤下之。忽爾肉　最為逆。（仲景云。動氣在左。不可發汗。發汗則頭眩。汗不止。怵惕肉　。）</p>
<h3>第八十三證‧口燥咽乾歌</h3>
<p>脾中有熱胃干枯。口燥咽乾津液無。陽明白虎加參證。少陽口苦小柴胡。（仲景云。陽明病。脈浮緊。咽乾。口苦。</p>
<p>口乾舌燥者。白虎湯。又云。少陽之為病。口苦咽乾目眩者。宜小柴胡湯。）咽乾慎不可發汗。發汗無津氣愈虛。（仲景云。咽喉干燥不可發汗。）少陰口燥急須下。腎經少水致焚如。（仲景云。少陰病。得之二三日。口燥咽乾。急下之。宜服承氣湯。又云。少陰病二三日。咽痛者。與甘草湯。不瘥。與桔梗湯。此證切宜審用之。）蟲蝕上部聲嗄惑。咽乾蝕臟下（上聲。）名狐。（仲景云。狐惑之病。蟲蝕上下部。蝕上部則聲嗄。蝕下部則咽乾。）</p>
<h3>第八十四證‧傷寒似瘧歌</h3>
<p>傷寒似瘧三證詳。血室陽明及太陽。（謂婦人熱入血室。及陽明太陽證也。）太陽汗出脈洪大。桂枝各半合麻黃。（仲景云。太陽病八九日。如瘧狀。熱多寒少。清便自可。宜桂枝麻黃各半湯。）陽明忽爾還如瘧。不嘔清便熱復涼。脈若虛浮桂枝穩。小承氣脈實相當。（仲景云。病者煩熱。汗出即解。復如瘧狀。日晡所發者。屬陽明。脈實者當下之。脈浮虛者。當發其汗。下宜承氣湯。發汗宜桂枝湯。）婦人熱入血凝結。柴胡加入地黃湯。（仲景云。婦人中風。七八日。寒熱往來。經水適斷。血結。如瘧狀。宜小柴胡主之。）</p>
<h3>第八十五證‧邪中三焦歌</h3>
<p>寸口陰陽脈俱緊。上下二焦皆受病。（仲景云。寸口脈。陰陽俱緊者。當邪中於上焦。濁邪於下焦。）清邪中上潔為名。濁邪中下渾斯應。（仲景云。清邪中上。名曰潔。濁邪中下名曰渾也。）陰中於邪必內栗。足膝逆冷便溺出。（又云陰中於邪。必內栗也。又云。濁邪中下。陰氣為栗。足膝逆冷。便溺妄出也。）陽中於邪項必強。發熱頭疼頸攣屈。（陽中於邪。必發熱頭痛。項強頸攣。腰痛脛酸也。）皆因霧露氣為傷。隨證治之宜審的。</p>
<h3>第八十六證‧多眠歌</h3>
<p>多眠四證病形殊。風溫狐惑及柴胡。更有少陰同共四。當觀形與證何如。風溫身熱常自汗。（仲景云。風溫脈。陰陽俱浮。自汗。身重多眠。鼻息必鼾。）小柴脅滿項強拘。（仲景云。陽明中風。脈弦浮大。而短氣。腹都滿。脅下及心痛。</p>
<p>其人嗜臥。一身及目悉黃。小便難。有潮熱。宜小柴胡湯。）少陰自利但欲寐。（仲景云。少陰病。但欲寐。六經中此一經最難辨難治。要在審詳。然證辨亦有不寐者。仲景云。少陰病。其人欲吐不吐而煩。但欲寐。五六日自利而渴者。屬少陰。仲景不論方。又云。少陰脈微細沉。但欲臥。汗出不煩。自欲吐。五六日自利。煩躁不得臥寐者死。又云。心中煩而不得臥者。黃連阿膠湯。）狐惑多眠非一途。（仲景云。狐惑證。嘿嘿但欲臥。目瞑不得眠。瀉心苦參湯主之。又玉函一證云。三陽合病。脈浮大。上關上但欲寐。目合則汗。）</p>
<h3>第八十七證‧不得眠歌</h3>
<p>傷寒何事不得眠。汗過胃中干燥煩。（仲景云。太陽病發汗。若大汗出。胃中干。燥煩不得眠。其人欲飲水。當稍飲之。榮衛和則愈矣。）或因吐下虛煩致。（仲景云。發汗吐下後。虛煩不得眠。若劇者。必反復顛倒。心中懊　。梔子豉湯主之。）或因大熱語言顛。（陽毒熱病。皆不得眠。）小便不利正發渴。心煩少氣苦孜煎。忽若水停心下滿。但與豬苓可保全。（仲景云。胃中干燥。不得眠者。豬苓湯。）傷寒瘥後熱尚在。陰未復時陽使然。（病源云。衛氣晝行於陽。夜行於陰。陰主夜。夜主臥。謂陽氣盡。陰氣盛。則目瞑矣。今熱氣未散。與諸陽並。所以陽獨盛。陰偏虛。雖復病後仍不得眠者。陰氣未復於本。故也。外台有肘後烏梅湯。）</p>
<h3>第八十八證‧小便不利歌</h3>
<p>胃中干則無小便。慎勿利之強使然。（病源云。傷寒發汗後。而汗出不止。津液少。胃中干。小腸有伏熱。故小便不通也。故不可強利之。）下焦有熱不通泄。量病浮沉用藥宣。（下焦有熱者。可宣導之也。）咳而有水青龍候。（仲景云。</p>
<p>傷寒表不解。心下有水氣。乾嘔發熱而咳。或小便不利。小腹滿或喘者。小青龍湯主之。）項強無汗桂枝痊。（仲景云。</p>
<p>服桂枝湯。或下之。仍頭項強痛。翕翕發熱。無汗。心下滿。脹痛。小便不利者。桂枝去桂加茯苓白朮湯。）大抵中濕發黃者。先利小便當使快。（大抵中濕發黃。先利小便使快。仲景云。中濕之為候。其人小便不利。大便反快。但當利其小便。仲景論風濕證云。若被下者。小便不利。又云。傷寒身色如金黃。如橘子色。小便利。腹微滿者。茵陳蒿湯主之。）</p>
<p>陽明汗多津液無。卻以小便利為戒。（仲景云。陽明病。汗出多而渴者。不可與豬苓湯。以汗多。胃中燥豬苓復利其小便也。）陽若湊之陰分（去聲。）虛。小便難出熱中居。（素問云。陰虛者。陽必湊之。陽入陰分。則膀胱熱。而小便難。）</p>
<p>漏風不止桂加附。（仲景云。太陽病發汗。遂漏風不止。惡風。小便難。四肢急。桂枝加附子湯主之。）陽明風中小柴胡。</p>
<h3>第八十九證‧小便自利歌</h3>
<p>太陽下焦有熱秘。小腹必滿便不利。小便不利反自利。此是抵當血證諦。（大抵熱在下焦。小腹必脹滿。小便不利。</p>
<p>今反利者。有瘀血也。仲景云。傷寒有熱。而小腹滿。應小便不利。今反利者。此為血證。當下之。宜抵當丸。又云。</p>
<p>太陽病身黃。其脈沉結。小腹堅。小便不利。為無血。小便自利。其人如狂者。血證諦也。宜抵當湯。）陽明自汗小便結。</p>
<p>忽若利時津液竭。屎雖堅硬不可攻。蜜兌用之斯要訣。（仲景云。陽明病。汗出。若發其汗。小便自利。此為津液內竭。</p>
<p>屎雖堅不可攻之。宜用蜜兌導之。使通。或土瓜根。豬膽汁。皆可以導之也。）又問小便何故數。腎與膀胱虛熱作。虛則故令小便頻。熱則遲澀相擊搏。（虛中有熱。小便故難頻。並必遲澀也。）自汗不可服桂枝。（仲景云。傷寒脈浮自汗出。</p>
<p>小便數。心煩。微惡寒。腳攣急。服桂枝。得之便厥作。甘草乾薑湯主之。）趺陽浮澀是脾約。（仲景云。趺陽脈浮而澀。</p>
<p>浮則胃氣強。澀則小便數。浮澀相搏。大便必硬。其脾為約。麻仁丸主之。）胃中不和譫語時。調胃承氣宜斟酌。（仲景云。傷寒脈浮。自汗。小便數。若胃中不和。譫語者。少少與調胃承氣湯。）</p>
<h3>第九十證‧大便不利歌</h3>
<p>大便堅硬或不通。柴胡承氣可收功。（大柴胡湯。大小承氣皆要藥也。）亦有不可攻擊者。歌在前篇裡證中。（前篇裡證歌有不可下者。）寒則溏熱則垢。可見陰陽虛實候。歲火不及大寒行。民病騖溏腸胃吼。（素問云。歲火不及。寒乃大行。民病騖溏者。鴨溏也。）</p>
<h3>第九十一證‧大便下利歌</h3>
<p>傷寒下利多種數。要識陰陽勿差互。三陽利時身必熱。三陰但溫無熱具。（三陽下利。身熱。三陰下利。但溫而不熱。</p>
<p>此其大概也。）合病自利葛根湯。或用黃芩無致誤。（仲景云。太陽陽明合病。必自利。葛根湯主之。桂枝證醫反下之。</p>
<p>利不止者。葛根黃芩黃連湯。）自利不渴屬太陰。少陰必渴腎虛故。（仲景云。自利不渴屬太陰。其臟有寒故也。當溫之。</p>
<p>宜四逆輩。又云。自利而渴者。屬少陰虛。故引水自救也。）外審證。內憑脈。內外並觀斯兩得。脈大由來卻是虛。脈滑而數有宿食。（脈經云。大則為虛。仲景云。滑而數者。有宿食也。）協熱而利臍下熱。（仲景云。太陽證。外證未除。而數下之。遂協熱而利。利下不止。心下痞硬。表裡未解者。桂枝人參湯。朱肱云。協熱利。臍下必熱也。）譫語而利燥屎結。（仲景云。下利而譫語者。為有燥屎也。屬承氣湯。）少陰心痛口燥煩。卻與利之斯要訣。（仲景云。少陰病。下利。</p>
<p>清水。色青者心下必痛。口乾燥者可下之。宜大柴胡湯。六經中惟少陰病難治。有補瀉之法。不可不審也。）</p>
<h3>第九十二證‧狐惑證歌</h3>
<p>蟲食下部名曰狐。蟲食上部名曰惑。狐則咽乾惑聲嗄。傷寒變壞成斯疾。面目乍赤乍白黑。但欲睡眠昏默默。更有蟲食臟間。舌上盡白齒無色。（仲景云。狐惑之病。其氣如傷寒。嘿嘿但欲臥。目瞑不得眠。起則不安。食於喉咽者為惑。食於陰者為狐。狐惑之病。並惡飲食。不欲聞食臭。其面乍赤乍黑乍白。食於上部。其聲嗄。食於下部其咽乾。食上部者瀉心湯主之。食下部者苦參湯淹洗之。食肛外者。燒用雄黃熏之。）上唇有瘡蝕其臟。下唇瘡甚連肛食。（須頻看上下唇有無瘡。有瘡則殺人緊急者也。）多因下利而得之。此證殺人為最急。</p>
<h3>第九十三證‧百合歌</h3>
<p>百脈一宗皆病形。無復經絡最難明。（巢氏云。傷寒百合病者。謂無經絡。百脈一宗。悉致病也。皆因傷寒虛勞。大病之後。不平復而變成斯病也。）欲臥又卻不得臥。欲行還復不能行。飲食有美有不美。雖如強健步難勝。如有寒。復無寒。如有熱。復無熱。口苦小便還赤結。藥才入口即吐利。如有神靈來作孽。病後虛勞多變成。百合地黃湯可啜。（巢氏云。其狀意欲食獲不得食。常默。欲臥復不得臥。欲出行而復不能行。飲食或有美時。或有不美時。或如強健人。而欲臥復不得臥。如有寒復如無寒。如有熱復如無熱。至朝口苦。小便赤黃。百合之病。諸藥不能療。得藥則劇而吐。如有神靈所加也。身形如和。其人脈微軟。每尿輒頭痛。其病六十日乃愈。若尿時不頭痛。淅淅然如寒者。四十日愈。若尿時快然但眩者。二十日愈也。）</p>
<h3>第九十四證‧辨傷寒疫氣不同歌</h3>
<p>春氣溫和夏暑熱。秋氣淒涼冬凜冽。四時正氣自調均。不犯寒邪無病孽。冬時寒凜欲周密。君子深藏宜入室。中而即病曰傷寒。觸冒寒邪成此疾。毒瓦斯若深不即病。至春與夏邪方出。春為溫病夏為暑。變態無端證非一。（以上論傷寒也。</p>
<p>仲景云。春為溫和。夏為暑熱。秋氣清涼。冬氣冷冽。此則四時正氣之序也。冬時嚴寒。萬類深藏。君子周密。則不傷於寒。觸冒之者乃名傷寒耳。其傷於四時之氣。皆能為病。以傷寒為最者。以其最成殺厲之氣也。中而即病者。名曰傷寒。不即病者寒毒藏於肌膚。至春變為溫病。至夏變為暑病。暑病熱極。重於溫也。是以辛苦之人。春夏多溫熱病者。</p>
<p>皆由冬時觸冒所致。非時行之氣。）若乃時行自不同。蓋是不時之氣失。春時應暖反大寒。夏時應熱卻寒栗。秋氣清涼大熱來。冬氣寒時似春日。少長一般病相似。此是時行號溫疫。欲知正氣與天行。要在潛心占斗歷。（以上論行時疫氣。仲景云。凡時行者。春時應暖而反大寒。夏時應熱而反大涼。秋氣應涼而大熱。冬時應寒而反大溫。此非時有其氣。是一歲之中。長幼之病相似者。此時行之氣也。夫欲候知四時正氣為病及時行疫氣之法者。當按斗歷占之。）</p>
<h3>第九十五證‧婦人傷寒歌</h3>
<p>婦人此疾當區別。身重身輕不同列。產前身重且安胎。產後血虛先補血。（產前安胎。產後補血。此大法也。）水火相刑浸自傷。榮衛不和多阻節。平居水常養於木。水木相資血通徹。（傷寒。男子先調氣。婦人先調血。血室不蓄。則一氣諧和。血室凝結。水火相刑。五行相克以生。相扶以出。平居之日。水常養於木。水木相生。則榮養血室。血室不蓄。</p>
<p>則脾無蘊積。無蘊積則剛燥不生。）左關浮緊汗為宜。正恐室中成血結。（婦人左關浮緊。不可下。當發其汗。以救血室。</p>
<p>榮衛得和。津液自通。浹然汗出而解也。）血室不蓄脾無蘊。剛燥不生免邪熱。（血蓄則剛燥生。仲景所謂無犯胃氣。及上二焦者也。）產後多生三種病。大便堅秘難通泄。鬱冒仍兼自汗多。皆是血虛津液竭。（婦人產後有三種病。大便秘。</p>
<p>鬱冒。自汗。皆是血虛所致也。）血虛而厥厥必冒。冒家解時汗流浹。津液既少大便難。孤陽上出恐陰絕。（三病皆血少陰虛。孤陽獨行所致也。當補陰抑陽。）唯有柴胡四物湯。庶可調和使安悅。</p>
<h3>第九十六證‧婦人熱入血室歌</h3>
<p>婦人中風七八日。身熱續續發寒栗。經水適來或適斷。熱隨陰血居其室。晝則明了暮譫語。狀如見鬼如　疾。無犯胃氣及二焦。小柴胡證尤為的。更刺期門以瀉肝。邪去自然保安吉。切須急療莫遲遲。變證來時恐無及。（仲景云。婦人中風。發熱惡寒。經水適來。得之七八日。熱除後。遍身涼。胸膈苦滿。如結胸狀。譫語者。此為熱入血室也。當刺期門穴。隨其虛實而取之。又云。婦人中風七八日。續得寒熱。發作有時。經水適斷者。此為熱入血室。其血必結。故使如瘧狀。發作有時。小柴胡湯主之。又云。婦人傷寒。發狂。經水適來。晝則明了。暮則譫語。如見鬼狀者。此為熱入血室。無犯胃氣。及上二焦。自愈。）</p>
<h3>第九十七證‧傷寒瘥後病歌</h3>
<p>傷寒瘥後還喜唾。胸裡有寒實無那。此候唯宜服理中。胃暖病治痰自破。（仲景云。大病已後。其人喜唾。久久不了。</p>
<p>胸上有寒當溫之。宜理中丸主之。）勞復枳實梔子湯。發熱小柴胡亦可。（仲景云。大病已後。勞復。枳實梔子湯主之。</p>
<p>又云。傷寒瘥後發熱。小柴胡湯主之。）腰下水氣牡蠣散。（仲景云。大病已後。腰下有水氣者。宜用牡蠣散主之也。）日暮微煩脾不磨。要須損穀自然安。甘節吉兮必無禍。（仲景云。病患脈已解。日暮微煩者。以病新瘥。強與穀。食不消也。</p>
<p>損穀則愈。周易節卦。九五。甘節吉。往有尚。象曰甘節之吉居位中也。）</p>
<h3>第九十八證‧傷寒五臟死絕歌</h3>
<p>水漿不下汗如油。形體不仁喘不休。此為命絕終難治。更看何臟絕中求。汗出發潤為肺絕。唇吻反青肝絕憂。脾絕口黑並黃色。腎絕便失與遺溲。心絕身似煙薰黑。更兼直視與搖頭。五臟皆絕無可療。縱逢和緩亦難瘳。（仲景云。脈浮而洪。身汗如油。喘而不休。水漿不下。形體不仁。乍靜乍亂。此為命絕也。又未知何臟。先受其災。若汗出發潤。喘而不休者。此肺先絕也。陽反獨留。形體如煙薰。直視搖頭。此心絕也。唇吻反青。四肢　習者。此肝先絕也。環口黧黑。柔汗發黃。此脾絕也。溲便遺失。狂言。反目直視。此為腎絕也。）</p>
<h3>第九十九證‧傷寒死脈歌</h3>
<p>傷寒死脈定難痊。陽病見陰端可憐。（仲景云。陽病見陰脈者死。）上氣脈散為形損。耳聾浮澀命難全。（仲景云。傷寒。咳逆上氣。其脈散者死。謂其形損。故也。扁鵲云。病若耳聾。脈反浮大而澀者。死也。）譫言身熱宜洪大。沉細而微壽不延。腹大泄利當微細。緊大而滑歸下泉。吐衄若得沉細吉。浮大而牢嘆逝川。（扁鵲云。病若譫言妄語。身當有熱。</p>
<p>脈當洪大。而反手足厥逆。脈沉細而微者而死。病若大腹泄。脈當微細而澀。反得緊大而滑者死。病若吐血復鼽衄血者。</p>
<p>脈當沉細。而反浮大而牢者。死也。）陰陽俱虛熱不止。乍疏乍數命歸天。（仲景云。陰陽俱虛。熱不止者死。脈至乍數乍疏者死。）如屋漏。如雀啄。來如彈石去解索。（經云。脈如屋漏。如雀啄者死。脈來如彈石。去如解索者死。彈石者。</p>
<p>辟辟急也。解索者。動數而隨散亂。無復以緒者也。）蝦游魚翔脈證乖。轉豆偃刀形候惡。（經云。病患脈如蝦之游。如魚之翔者死。脈如轉豆者死。如偃刀者死。）下不至關陽氣絕。上不至關陰氣鑠。（經云。寸脈下不至關為陽絕。尺脈上不至關為陰絕。皆死不治。）代脈來時不用醫。必定傾危難救藥。（仲景云。代。陰也。得此脈者必難治也。）</p>
<h3>第一百證‧傷寒死候歌</h3>
<p>傷寒死候要須知。泄而腹滿大難醫。舌本爛傷熱不已。（千金云。傷寒死候有九證。二曰泄而腹滿甚者死。六曰舌本爛傷。熱不已者死。）汗後脈躁亦傾危。（太素云。熱病已得汗。而脈尚躁。此陰極之脈也。死。千金云。傷寒已得汗。</p>
<p>脈靜者。生躁者死。）汗出雖多不至足。（千金云。汗出不至足者死。）手循衣縫更何為。（華佗云。病患手循衣縫者不可活。）卵縮舌卷證候惡。（華陀云。卵縮舌卷者必死。）口張目陷不多時。（華佗云。口如魚。口不閉。目眶陷者皆死。）赤斑五死一生在。黑斑十死更何疑（凡發斑者。熱乘虛入胃。胃爛故也。赤斑出五死一生。黑斑出十死一生。）兩感傷寒最大忌。死期六日命難追。（仲景云。熱雖甚不死。若兩感於寒而病者。必死。）</p>
