<header><h1>民間草藥藥性賦</h1></header>
<dl class="元資料" data-type="book">
<div><dt>作者</dt><dd>山野居士</dd></div>
<div><dt>品質</dt><dd>25%</dd></div>
</dl>
<h2>民間草藥藥性賦</h2>
<h3>（一）寒類藥性賦</h3>
<p>考其諸藥，此類最寒。</p>
<p>天門冬止嗽而清肺肝之火。燈心草清心而止小便之淋。</p>
<p>黃竹根療黃疸。魚腥草清暑熱。</p>
<p>白槿花治傷咳而除肺癰。薄荷葉清暑氣亦可治咳。</p>
<p>坑珠根快膈，健脾，又能除濕消毒。</p>
<p>干葛根止渴，散寒，葉消無名腫毒。</p>
<p>稱管柴快膈，理頭暈又解三焦火。毛茶根止渴，利水腫，而破淤血滯。</p>
<p>黃荊條除熱去脾寒而療泄瀉。瓠絲草去風，退肺熱亦治天吊。</p>
<p>欲清火，斂肺而除咳，須用桑白皮。要去脹，止瀉以開膈，必資田括根。</p>
<p>菊花心消腫毒而治咳嗽，溪邊祥瀉脾火可消腫毒。</p>
<p>白杜子除脹，小便能利。金銀花止瀉，飛揚可療。</p>
<p>金線蘆退寒，治小兒之驚。豬母香祛風，除外熱之腫。</p>
<p>甜茶根清肝火，止吐血，性同扁柏葉之效。</p>
<p>蘇葉子利水腫，祛疳瘧，無異花莧草之功 </p>
<p>也聞知苦薺花健胃，止瀉，用葉以塞鼻衄。生毛草消脹，除熱，取藤以治驚風。</p>
<p>滿天星利大小便，以定驚風之熱。觀音柴通大小腸，而清無根之火。</p>
<p>白扁竹去疳，殺蟲，又利小便。光面草降瀉，消腫，亦去疳積。</p>
<p>闌機心清火，燒灰沖酒可治血崩。芒柴根化肺痰，搗葉調湯能療崩漏。</p>
<p>利大小便，用乎蓽解。祛痰去驚，宜乎蠊蜊。</p>
<p>嘗聞土茯健苓脾胃，瘡疥能除。綠竹心，清心脾驚風可定。</p>
<p>夜合草治禿氣，除熱而化痰滯。</p>
<p>白半腳消虛腫，利水而通乳竅。</p>
<p>桃寄奴療吐瀉，兼潤口渴。山黃連去心火，並醫疥瘡。</p>
<p>治蛇頭之毒，兼乎齒痛，當用苦參根和茶葉根。</p>
<p>除潰瘍之痛，並療瘰鬁，宜使夏枯草與雞吟花。</p>
<p>解脾熱，安胎氣，除吐穢，使用竹茹。清心火，治吐血，療傷寒，要取茅根。</p>
<p>金線草鎮驚風，催胎，用以酒。扁蓄草去疳積，殺蟲，調以糖。</p>
<p>枝子根清肺熱而去黃疸，梨柴根解心火而醫痢疾。</p>
<p>枇杷葉治逆氣以安胎。山半夏治喉痛而化痰。</p>
<p>馬蒙根清心去胸膈之痰，用皮藤解毒去疳積之痛。</p>
<p>乃香椒治心痛而截濕瘧，老鼠屎除驚風而解信毒。</p>
<p>順氣藤治氣急，兼除肺火與肋痛。淡竹葉解虛煩，並退皮熱與口乾。</p>
<p>蘆竹根治咽痛又利血淋，剝皮藤治驚風更療骨風。</p>
<p>滿山百理傷咳，止吐血，可以順氣。天竹根清心火，解諸毒，尤疏風熱。</p>
<p>雞腸草消腫毒，能破淤血。芭蕉頭潤舌乾，可下胞胎;</p>
<p>舊棕灰治吐血，功同破蒲扇;石芥菜防產風，無異黃大嫂。</p>
<p>刺菠茶祛風寒而止咳血，燈檯草清肺火而固血崩。</p>
<p>黃柏柴清心熱，以除三焦火。長老子平肝風，用療外瘡之毒。</p>
<p>水梘子治肺癰而解骨蒸。蚌蛤草催胎產而開交骨。</p>
<p>蟬退殼去驚風且治目翳，雞骨柴治傷寒又防產風。</p>
<p>羊蹄菜敷腫毒可消而除疥瘡之癢;白茄根治乳痛可止兼洗陰戶之腫。</p>
<p>穀精草除目翳，亦可療白濁。金鎖匙治疥瘡，更可醫蛇傷。</p>
<p>虎耳草療產後之風。米碎蘭止衄鼻之火。</p>
<p>木犀樹治腹痛而止瀉泄，車前子能明目而利小便。</p>
<p>栝樓根除毒，止渴，且療咳痰。大禾箭補氣，益血，而通心竅。</p>
<p>桕樹皮止腹痛，開降氣鬱。烏拋茶瀉肝火，消退眼腫。</p>
<p>治燙傷宜用六月雪。止牙血當使蛇菠。</p>
<p>治小兒口中白點，取乎屏風蕊。療嬰孩口生馬牙，用於杉樹菰。</p>
<p>乃小青除心火而治口瘡與咳傷。京岩草退肝熱而療頭瘡與驚風。</p>
<p>光桐根以通便，水雍菜除信毒。</p>
<p>冬瓜皮清心火，其子潤肺。厚藤根治肋痛，其子順氣。</p>
<p>止吐血用金墨，治瀉痢使苦朱。</p>
<p>療疥瘡利水脹，用以蕉葉。退皮熱，治痢疾，使以仙草。</p>
<p>車屎帝降瀉，可使婦女下胎。酸醋草除熱，可定小兒驚風。</p>
<p>從知螺丕草瀉肺，開音，而治傷咳。白扁豆清心，止咳而療逆氣。</p>
<p>山烏豆根除脹，健脾，而能補血。白雞冠花鎮驚，止帶，可療痔瘡。</p>
<p>穿山甲治冷瘼與唇腫。燕子泥鎮小兒之驚風。</p>
<p>黃沙藤祛風而去痧。苦馬菜止痛而消腫。</p>
<p>金茶匙散風痰而消驚熱之煩。蚯蚓屎滋舌燥，有顯耳膿之效。</p>
<p>山生地潤肺，滋腎，而治乾咳。蕉根葉消腫，治瘡，能療豬瘟。</p>
<p>此百十六種藥性之寒而取治焉。</p>
<h3>（二） 熱類藥性賦</h3>
<p>藥有溫熱，識宜忝詳。</p>
<p>欲溫中暖胃用篳撥。要發散風寒使老薑。</p>
<p>一撮針止咳可散寒。山查根行血能止瀉。</p>
<p>鐵鑰匙最解表而驅寒。石楠藤治腰痛亦能發汗。</p>
<p>馬屎條去脾脹，療黃疸，治冷何難。牛舌草消濕瘧，治骨疼，健脾尤效。</p>
<p>紅髻子止咳嗽，治膨脹以暖血。石步落斂肺陰，醫咳嗽於傷寒。</p>
<p>牛膝根利水，行血，理腳氣，以助筋骨。</p>
<p>京桔子利水，散寒，消膨脹，兼療黃疸。</p>
<p>欲發散，去肺風，用以蘇葉。要下氣，除脅痛，使以蘇子。</p>
<p>小樟子驅表寒，並去氣痛。涼傘子解寒毒，亦除喉腫。</p>
<p>治僵屍之傷寒，虛資鐵甲柴與硬藥根。除疳積之瀉痢，必用白楊梅與白艾仔。</p>
<p>烏猴柿治疳積之痢，川山龍祛心痛之寒。</p>
<p>柑桔子益脾，能療肢節之痛。虎頭蕉下胎，有破淤血之功。</p>
<p>山靛根去風寒，除咳而利水，且止風痛。</p>
<p>吳茱萸溫丹田，止痛而化痰，兼治脹滿。</p>
<p>過牆風療內傷，用酒能除小便之腫。抱子柴開胸膈，用葉可解內部之傷。</p>
<p>紫浮萍發表汗，且治腹痛。肉拋皮利小便，而去水腫。</p>
<p>荊芥去風，加根以治熱淋。大甲和肝，並葉可除脅痛。</p>
<p>大葉婆治硬屍之傷寒，能滋血以減痛。烏芹菜婆婦人之淤血，可祛風以調氣。</p>
<p>石菖蒲開心竅，解氣鬱而化痰。羊帶鈴治肺癰，化膿血而療骨痛。</p>
<p>治黃疸，醫背癰，莫如黃菠茶根。療身痛，除骨楚，可用黃花仔草。</p>
<p>退虛腫，而攻風利水，全取山南京莧。消盅脹，而破血下胎，獨用兩頭根草。</p>
<p>烏蕨草治兩肋及腰膝之痛。梅子兆療血淋並產後之風。</p>
<p>蝦瘼子化風痰應沖家釀之酒。朴地鐘止咳嗽須加鴨母之肉。</p>
<p>山柴胡疏肝療脾腫而去寒熱。綠毒草利水除虛脹而療產風。</p>
<p>山膏藥清暑氣，澀精，而治頭痛。劍刀草治吐血，消腫，解毒而療血淋。</p>
<p>假死柴除內傷，其葉可醫頭目眩。胡瓜根治瘧疾，其子能療脅肋痛。</p>
<p>矮腳茶治疥瘡，有止咳嗽之功。五色草療乳瘡，能治血崩之效。</p>
<p>紅花兒和血散氣而除寒。竹蓖草除痛止瀉兼溫中。</p>
<p>土灶雞化痰誕，祛風寒，又能下氣。威靈仙除脾冷，治心痛，更能利水。</p>
<p>椿樹根利風濕，能殺蟲，血崩所需。一枝花除咳嗽，能暖血，產婦可用。</p>
<p>栽田菠溫脾，能去淤以生新。烏藥子疏肝，能順氣而止瀉。</p>
<p>要去傷用天辣根。治骨痛使紅骨子。</p>
<p>驅骨節之風痛，山荔枝根先而金貓頭次之。</p>
<p>攻閉經之淤血，參三七根緩而漆柴根較速。</p>
<p>月月紅調月經之先後。闌班根治骨節之疼痛。</p>
<p>乳汁草除寒有接骨之能。針冬花治咳起脾極之效。</p>
<p>瑞仙根治咳，利水腫而腰痛可用。</p>
<p>地楊梅下胎，止傷痛而目翳堪療。</p>
<p>毛桃根治手指之腫毒，夜下珠療小產之血崩。</p>
<p>斑鳩菠能發汗以退熱，雞肫皮可消食以健胃。</p>
<p>天地吉配燒酒，以治脅痛。胡椒草除心痛，又療目翳。</p>
<p>治跌傷，消骨腫，資以赤括。治腹痛，消暑氣，用乎香薷。</p>
<p>治心疼，化冷痰，當以香兒油。扶腰軟，止心痛，宜以老虎刺。</p>
<p>樟柴片去風，除腫而治心疼。鬼燈籠去毒，醫瘡而祛風熱。</p>
<p>狗腳跡退水腫，能除目翳。棕樹根下死胎，可醫白濁。</p>
<p>豬母藤治痢殊驗。仁和菜降氣如神。</p>
<p>韃苧根除瘧疾。桃樹葉治頭痛。</p>
<p>染旦草能祛寒，有生血之效。香蔥根通心竅，有補腎之功。</p>
<p>馬鞭草破血，下胎而療心腹之痛。過山兆消風，順氣而除脾極之瘧。</p>
<p>花椒根治心痛，去濕，能消水腫。</p>
<p>此九十五種藥性之熱而點識之。</p>
<h3>（三）溫類藥性賦</h3>
<p>品藥性溫，此錄存焉。</p>
<p>山人參補氣而健脾;金櫻子益腎而固精。</p>
<p>半鹽鹼除肺風，能止咳而化痰。野菊花生新血，除痛以去風。</p>
<p>金石榴散風寒，健脾而止瀉。骨碎補療折傷，滋腎而除痛。</p>
<p>利缺草散寒而止瀉。溪籠蔥去黃而補腎。</p>
<p>黃花金龜去瘀生新，止咳堪嘉。羊不食草調血補腎，通竅尤良。</p>
<p>野木槿治肺癰，破淤，且醫吐膿之病。山蜈蚣療班蛇，除風，能破產後之淤。</p>
<p>去脾寒用乎地羅漢，療虛瀉宜使地茄根。</p>
<p>欲安胎，利關節，須乎艾梗。療肋痛，止吐瀉，用乎柿蒂。</p>
<p>紅曲子根療蛇頭之毒。過路蜈蚣治水濕之瀉。</p>
<p>野席草去濕，健脾，能治黃疸。赤曲子消脹，止瀉，可醫水腫。</p>
<p>椿芽根除冷瘧，用澀遺精。告化碗除鬱氣，以除腹痛。</p>
<p>尉鬥草治水瀉要調酒。山茄根除風瀉要用根。</p>
<p>鐵線藤除脅痛，療疝，而黃疸能醫。松樹菰去隔日之瘧，而吐血能止。</p>
<p>雞腳跡祛風止痢，可療血崩。饅頭子治牙關閉，能消咽腫。</p>
<p>山香附散氣鬱而補血。鐵馬鞭治痢止痛而發表。</p>
<p>療傷咳潤肺用大頭，定驚風破淤使鉤藤。</p>
<p>除骨蒸，補腎何首烏有准。治頭風，安胎野苧麻無疑。</p>
<p>紫金藤治腹痛止瀉而痢疾堪療。糖蜂藤逐風滋腎而脫肛可治。</p>
<p>蓖麻子能下不活之胎及胎衣不下。鐵牛貫能解痰癰之急並內傷咳嗽。</p>
<p>山黃精補腎而安神。瓜子金除咳而益腎。</p>
<p>療乳腫之毒，用乎蒲公英。消喉中之哦，當使烏不采。</p>
<p>若乎柿樹兆祛寒，能除肢節之腫痛。四貼金驅毒，亦治閉滯之血痞。</p>
<p>山蕎麥散寒，除外腫之毒。珍珠寶治風，消盅脹之形。</p>
<p>千人扯能提大腸之脫。鐵梧桐能消脾極之患。</p>
<p>鴨雄草補脾虛而消疳積。木解根養肺陰而益脾胃。</p>
<p>欲除咳利水，當以山岩珠。治產後寒淤，用以沙糖子。</p>
<p>除腹痛去淤血，益母草如神。破淤血消風熱，禾殺子甚驗。</p>
<p>獵紮衣治橫產而下胞衣。香櫞根消脾極而除痞氣。</p>
<p>山蓼草消腹脹。五爪龍治血崩。</p>
<p>舊桔皮化咳痰，定風柴止腰痛。</p>
<p>標柴根可治產後之寒熱。檳楓柴能療病後之膝痛。</p>
<p>老鴉草治血淋而療脫肛。杉木芯利水濕而治白帶。</p>
<p>鍋蓋炭研末，能治心痛。水柳花搗敷可醫飛瘍。</p>
<p>此六十六種溫藥之性隨症詳審，施治可也。</p>
<h3>（四）平類藥性賦</h3>
<p>藥有平和，醫家當憶。</p>
<p>茱利子健脾而療崩漏。牛乳根滋腎而止咳嗽。</p>
<p>屏楓樹平肝肺之火。趨眉草止水濕之瀉。</p>
<p>豆莢子去疳積，而鎮小兒之驚。老鴉半治寒熱而療悲脊之癰毒。</p>
<p>桃仁破血寬腸，亦治頭痛。百合清肺除咳，能療脫肛。</p>
<p>山砂仁去脹溫胃，兼能安胎。山甘草清熱解毒，更可和藥。</p>
<p>瀉肝火，去目翳，宜用木賊。寬胸膈，消脹氣，可使青皮。</p>
<p>風草子清熱解毒，而治小兒驚風。薏米根健脾化痰，能療肺癰膿血。</p>
<p>此十四味平和之藥擇而用之。</p>
<p>綜上青草諸藥，共為二百九十一種，均係前人流傳，性有寒熱溫平，端賴後人審慎擇用可耳。</p>
<h2>民間百草藥性賦</h2>
<h3>寒性藥賦</h3>
<p>醫始歧黃，藥從百草，雖各家之備載非成賦而難明，諸藥賦性，首類為寒。</p>
<p>觀音竹行血清金，佛甲草解毒退腫。</p>
<p>六月霜止痙定驚，還治肺熱咳血。</p>
<p>五路白解毒化濕，更療流火痛風。</p>
<p>鐵涼傘鵝尾珠利咽平肝，金甘精鶴舌草利尿瀉肺。</p>
<p>潤肺去痰兮有石蓮花，而定喘還有盆魚草。</p>
<p>平肝活絡兮有蓬萊竹，而清血則用佛桑花。</p>
<p>有刺攔路虎解毒殺菌，倒掛仙人掌消腫定痛。</p>
<p>聞之曇花平木清金，律草健胃益氣。</p>
<p>冬瓜苦瓜能利水而解煩渴，紫參苦參會清血而用驅蟲。</p>
<p>海通偏中之宜，扁蓄通淋之力</p>
<p>白布沙清金而止咳血，黃天竺瀉木又會舒筋。</p>
<p>貫眾清腸胃止崩帶又化骨鯁，</p>
<p>漏蘆平肝肺祛風濕兼通乳癰。</p>
<p>降魔杵散氣避溫，仙人掌消腫去淤。</p>
<p>又有鳳尾草對咳血有功，雞冠花止痛痢多效。</p>
<p>菠菱菜根通腸胃而解酒毒，水芙蓉花清肺肝且消毒腫。</p>
<p>雞舌草蝦瘼草解毒通淋，虎耳草獼猴桃涼腎清暑。</p>
<p>野青仔清涼，楊柳根行水。</p>
<p>入肝膽化瘀結多用白毛藤，通三焦利風濕更以紫竹菜。</p>
<p>水浮蓮消腫排膿，白茶花涼胃止血。</p>
<p>安海豆爿草止嘔血更治暈眩，</p>
<p>四川金錢草止咯血又醫咳嗽。</p>
<p>還有仙鑽草強心，人竹草平木。</p>
<p>黃花草解毒殺蟲，白毛串更能消腫。</p>
<p>肖山虎通經散結，水仙花只用消癰。</p>
<p>療只治癬有野蘿菔，清暑疏風用風不動。</p>
<p>山豆仔寧嗽治熱痢可能，上己菜明目利諸淋尤善。</p>
<p>野苧療丹毒，梓根治熱淋。</p>
<p>又如雙龍須活血利水，七姐妹行氣排膿。</p>
<p>白花刺刺蓉通利關節，白花風不動活血舒筋。</p>
<p>芭蕉根解熱毒兼清胃火，螺丕草療水腫更治創傷。</p>
<p>白石薯除疔瘡癰癤，龍舌草清咽喉積疳。</p>
<p>鮮地榆止斂，鮮地骨清涼，山黃花清解，土黃柏瀉熱。</p>
<p>玉詹花解諸毒又下骨鯁之能，復老草消風腫兼除黃疸之效。</p>
<p>蘆筍根瀉肺熱喘促，白蘚皮除風濕痹麻。</p>
<p>是以馬齒莧潤腸胃，狗尾草泄膀胱熱。</p>
<p>盆蓮散瘀，黃毒去痰。</p>
<p>天芥菜解毒，天門冬滋腎。</p>
<p>西瓜皮，黃瓜皮，涼肺胃又療黃疸;</p>
<p>白茅根，鮮蘆根，清肝肺並止嘔逆。</p>
<p>蕢草頭化痰利尿，絲瓜根解毒透瘡。</p>
<p>土梅花生津止渴，解暑除煩，而土銀花解毒。</p>
<p>白樺菜除風祛痹，消毒截瘧，而白竹菜利濕。</p>
<p>又如桑樹根逐風，豆爿草化痰。</p>
<p>溪柳健身，麻柳固澀，白薇滋養，白前降痰。</p>
<p>犁頭草療疔瘡之結毒，苦刺根清濕熱以通淋。</p>
<p>消癭瘤須七層寶塔，除翳淚用天青地白。</p>
<p>白薯莨散結還治鳩疽之毒，蛇不見降火，又療驚風之症。</p>
<p>葉下珠療夜盲而小兒羊癇亦治，</p>
<p>楮實子壯筋骨而大眾盅毒也醫。</p>
<p>再有荸薺解渴化痰，石花益精明目。</p>
<p>山枝子根瀉三焦，白木槿花涼肺胃。</p>
<p>敗醬草破淤排膿，望江南鍵胃祛毒。</p>
<p>天泡草入膽降心，五爪龍削癰涼血。</p>
<p>此一百一十種藥性之寒者也。</p>
<h3>熱性藥賦</h3>
<p>再有熱藥，亦當審記。</p>
<p>馬蹄金快胸消癭，雞姆眼行氣活血。</p>
<p>火焰去腐殺蟲又療頑癬，青椒健脾祛冷也治寒疝。</p>
<p>野枇杷消腫脹破疵瑕，金石榴澀腸胃止痢泄。</p>
<p>生薑散寒止嘔，大蒜止痢滅菌。</p>
<p>小茴香消痞散寒，大楓子祛風燥濕。</p>
<p>山雞椒下氣消食外療頑癢之能，</p>
<p>彌陀花定喘止痛原為麻醉之用。</p>
<p>聞之椒栗利腰膝，木瓜通骨絡。</p>
<p>山附子內服通絡去風，水竹逃外用殺蟲止癢。</p>
<p>禪杖用鐵打更療穿掌，狼毒敷頑癬還治蛇疔。</p>
<p>蓖麻草通竅又能破積，番椒根溫中亦可殺蟲。</p>
<p>紅花通經消腫，紫燕散寒驅風。</p>
<p>木天蓼破疵積風癆不治，除蟲菊殺蟲虱大毒須防。</p>
<p>又有祛風散寒須用鐵涼傘，舒筋活血原以金鎖匙。</p>
<p>牛插鼻消水腫更療鼓脹，羊仔耳通經絡又祛風邪。</p>
<p>米果葉頭暖胃止痛，荔枝根理疝定痛。</p>
<p>桔樹根健胃化痰行滯，韭菜頭活血散淤壯陽。</p>
<p>地胡椒宣竅活血，紅番莧定痛調經。</p>
<p>綠心川山七醫血淤腫瘤，八卦攔路虎治流注疥癬。</p>
<p>還是吊蘭花解毒消癰，穿骨草除痰祛濕。</p>
<p>醉羅漢能通經續骨，溪瓢羹會推陳出新。</p>
<p>虎頭蕉通痹，布娘蒿殺蟲。</p>
<p>柚樹葉宣風消膿去脹，通蓮根消痞散結破暇。</p>
<p>野茱蓉治癰疽蛇傷可用，銀茶匙止血痛折創不佳。</p>
<p>鳥不踏透骨追風，千人拔消腫化氣。</p>
<p>又如煙草順氣，野菊殺蟲。</p>
<p>解蛇蠍蜈蚣諸毒有蒼蠅草，毒蝦蝌河豚之類用地棉根。</p>
<p>香櫞根化氣定喘，野莧菜解毒散疸。</p>
<p>紅根草內服用治流風，野芹菜外敷可療眼病。</p>
<p>桉樹葉外治臁瘡，金橘根內舒氣鬱。</p>
<p>軟接骨草療傷後咳痛，野猴柿根治經亂徵疝。</p>
<p>醉魚草逐飲化痰並嘴魚類。</p>
<p>止血草生新化腐又止血傷。</p>
<p>此六十二種藥性之熱者也。</p>
<h3>溫性藥賦</h3>
<p>藥性屬溫，大家應識。</p>
<p>廣角祛風，羅勒消腫。</p>
<p>直百部治咳殺菌，土南星敷癰攻毒。</p>
<p>鹿蹄草內強筋骨，龍舌蘭外理潰瘍。</p>
<p>洋桃杵療惡瘡徵盅，楓果根腫毒癰瑕。</p>
<p>檜花能避邪氣，杉木會祛賊風。</p>
<p>烏桕葉利水而解蛇傷，楊梅根調氣還療癌膈。</p>
<p>又若戈革草益氣強筋木棉花降痰消腫。</p>
<p>魚腥草內治感冒風寒，牛屎花外用濕毒瘡疥。</p>
<p>白魚柯疏風活血，金打蛇去淤生新。</p>
<p>八楞桔內消積滯，夾竹桃外理腫痛。</p>
<p>臘梅花解暑外治灼傷，木蝴蝶活血還敷跌傷。</p>
<p>瓜子金根祛風活血，白玉蘭花健胃醒脾。</p>
<p>還有外理創傷之苦樹，內強腰膝之胡桃。</p>
<p>石菖蒲宣竅，金錢蒲逐痰。</p>
<p>土荊芥疏風，土紫蘇解表。</p>
<p>鳳仙花通經還治骨鯁，鴨腳掌除痰又解蛇傷。</p>
<p>黃耆仔舒筋，溪菊花調血。</p>
<p>臭牡丹散瘀，野白芨生肌。</p>
<p>野芋散結，天芋生新，均為外用。</p>
<p>巡夏化痰，土夏降逆，皆做內醫。</p>
<p>夫石楠祛濕強筋，苦馬解毒通乳。</p>
<p>早稻頭補虛消導，麒麟尾辟痰生新。</p>
<p>土木香行氣葉可生肌，山澤漆通乳外療掌毒。</p>
<p>菊花土三七有行瘀定痛之功。黃花玉如意會消瑕利隔之功。</p>
<p>稀簽草，南蛇藤同利關節，一用解毒，一則定痛。</p>
<p>鮮澤蘭，黑山薑均通經絡，一用滅菌，一會止痛。</p>
<p>白根草能祛風鎮咳，獨腳蓮會散結排膿。</p>
<p>又若拳頭草活絡，入骨丹和血。</p>
<p>白土牛膝活血通經，南五味子生津斂氣。</p>
<p>通六脈強腰膝狗脊之功，利四肢除風濕猴薑之力。</p>
<p>山枇杷行氣養營，山葡萄祛風益衛。</p>
<p>蛇床子祛濕特療陰癢，羊躑躅除風更治痹頑。</p>
<p>喉嚨草宣肺降氣，定經草補血溫經。</p>
<p>紅萱滲濕，槐木朮竦風。</p>
<p>黃花龜外用解毒，穿山龍內療舒鬱。</p>
<p>雞屎藤利關節又治陰疽。橄欖根活筋骨兼治哦症。</p>
<p>金櫻根止帶固精，珍珠菊散徵活血。</p>
<p>此七十四種藥性之溫者也。</p>
<h3>平性藥賦</h3>
<p>還有平性，總須盡悉。</p>
<p>萬年青催生利咽，千里紅定癇平肝。</p>
<p>鳳凰藤活血，蝙蝠葛止通。</p>
<p>六角仙解毒止痛，七星劍消腫排膿。</p>
<p>單雙葉石棗入肝而雙益精單滋養。</p>
<p>金銀線釣蝦謨而金追毒，銀止疼。</p>
<p>玉米須澀精，金菠菠益氣。</p>
<p>三把蓮平肝熄風，千金藤舒筋和血。</p>
<p>千斤墜行氣破血，七葉金解毒祛風。</p>
<p>又有雁來紅宣風，馬貽艮利濕。</p>
<p>榆樹葉療淋病腫毒，野麻草治痢疾痔瘡。</p>
<p>白蘞瀉火，虹霓劍清肺;紅通滲濕，仙人鞭平肝。</p>
<p>檀香線利濕祛風，牡丹花除煩瀉火。</p>
<p>金側柏定痙，鐵角蓮消疝。</p>
<p>紫金牛消炎化瘀，土石斛除濕養陰。</p>
<p>如若治萎痹有土牛膝，療淋濁用紅石蓮。</p>
<p>苦郎樹治腫止癢，含羞草防疹避疫。</p>
<p>舊瓠殼之功能消水腫，山棕草之性可鎮熱咳。</p>
<p>泊壁下疏風化濕，鋪地錦催乳通經。</p>
<p>刀豆殼利腸胃而呃逆，油麻槁消腫滿而除喘促。</p>
<p>龍須草活血，龍舌草利咽。</p>
<p>犬腳骨解毒，雞膠藤平胃。</p>
<p>還是歐纈草治癰疽風痹，土葛藤療饑熱腸風。</p>
<p>紫花血見愁疏風活血，耳葉牛皮消行氣化痰。</p>
<p>肝風草平肝，肺形草宣肺。</p>
<p>胭脂仙人掌消腫定痛，寄生七星劍利水化痰。</p>
<p>月桔能化痰理氣，瓦松可止血斂瘡。</p>
<p>絲瓜根通絡，茄根活血，</p>
<p>地橋利水，杜橋催生。</p>
<p>還有白蓼草解肌，黑泥根清血。</p>
<p>白棗治眼中多淚，胡麻療孩輩頭瘡。</p>
<p>委陵菜能化氣疏肝，紫萎根會扶肝強胃</p>
<p>忽布平肺肝之熱，問荊止吐衄諸血。</p>
<p>土木加殺疳蟲，蒲公英療乳病。</p>
<p>紫雲英止血定痛，茯苓菜利水清熱。</p>
<p>又如萎竹根活血，野猴蔗定喘。</p>
<p>仙球健胃，寒莓益精。</p>
<p>健脾快胃之蠶豆，清熱利濕之野梅。</p>
<p>向日葵花滲濕又會催生，</p>
<p>水漲菊根理疝還能散結。</p>
<p>紅葉活血，白通安神。</p>
<p>野薄荷發表驅風，土甘草和中鎮咳。</p>
<p>透骨草行血，布田花消炎。</p>
<p>杜瓜根治結，紫珠草療傷。</p>
<p>又如利咽解毒芥蘭菜，寬腸除盅芋頭柄。</p>
<p>籮蔔乾止痢，篦梳劍排膿。</p>
<p>杜鵑花解毒，澎蜞菊治疔。</p>
<p>小葉下紅活血利水，白石榴花治痢殺疣。</p>
<p>金釵斛清金，獨腳蓮降火。</p>
<p>石橄欖驅風，土茯苓利濕。</p>
<p>白天竹平肝，白兩金清肺。</p>
<p>白水雞花涼血，小金錢蓮化痰。</p>
<p>又有水燭草止瘡血，龍牙草斂咯血。</p>
<p>玫瑰花和肝血，地耳草消淤血。</p>
<p>過路蜈蚣療齒蛇，而治創傷。</p>
<p>潭蘭石斛醫肺痿，而治掌毒。</p>
<p>大葉下紅醫乳炎，又治疔瘡。</p>
<p>白石榴根除風濕又利關節。</p>
<p>雲英葉散結消癭，香線草清熱滲濕。</p>
<p>此一百一十二種藥性之平者也。</p>
