<header><h1>奇經八脈考</h1></header>
<dl class="元資料" data-type="book">
<div><dt>作者</dt><dd>李時珍</dd></div>
<div><dt>朝代</dt><dd>明</dd></div>
<div><dt>年份</dt><dd><data value="1577">公元1577年（明·萬曆五年）</data></dd></div>
<div><dt>底本</dt><dd>《欽定四庫全書·子部五·醫家類·奇經八脉考》（<a href="https://www.kanripo.org/text/KR3e0080/">掃描及文字化本</a>）</dd></div>
</dl>
<h2>奇經八脈總說</h2>
<p>凡人一身有經脈、絡脈，直行曰經，旁支曰絡。經凡十二：手之三陰、三陽，足之三陰、三陽是也。</p>
<p>絡凡十五：乃十二經各有一別絡，而脾又有一大絡，並任、督二絡為十五也。（難經作陰絡，陽絡）共二十七氣，相隨上下，如泉之流，如日月之行，不得休息。故陰脈營於五臟，陽脈營於六腑，陰陽相貫，如環無端，莫知其紀，終而夏始。其流溢之氣，入於奇經，轉相灌溉，內溫臟腑，外濡腠理。奇經凡八脈，不拘制於十二正經，無表裡配合，故謂之奇。蓋正經猶夫溝渠，奇經猶夫湖澤，正經之脈隆盛，則溢於奇經。故秦越人比之：天雨降下，溝渠溢滿，　霈妄行，流於湖澤，此發靈、素未發之秘旨也。八脈散在群書者，略而不悉。醫不知此，罔探病機；仙不知此，難安爐鼎。時珍不敏，參考諸說，萃集於左，以備學仙、醫者，筌蹄之用云。</p>
<h2>八脈</h2>
<p>奇經八脈者：陰維也、陽維也、陰蹺也、陽蹺也、衝也、任也、督也、帶也。陽維起於諸陽之會，由外踝而上行於衛分；陰維起於諸陰之交，由內踝而上行於營分，所以為一身之綱維也。陽蹺起於跟中，循外踝上行於身之左右；陰蹺起於跟中，循內踝上行於身之左右，所以使機關之蹺捷也。督脈起於會陰，循背而行於身之後，為陽脈之總督，故曰陽脈之海；任脈起於會陰，循腹而行於身之前，為陰脈之承任，故曰陰脈之海；衝脈起於會陰，夾臍而行，直沖於上，為諸脈之沖要，故曰十二經脈之海，帶脈則橫圍於腰，狀如束帶，所以總約諸脈者也。是故陽維主一身之表，陰維主一身之裡，以乾坤言也。陽蹺主一身左右之陽，陰蹺主一身左右之陰，以東西言也。督主身後之陽，任、衝主身前之陰，以南北言也。帶脈橫束諸脈，以六合言也。是故醫而知乎八脈，則十二經、十五絡之大旨得矣。仙而知乎八脈，則虎龍升降玄牝幽微之竅妙得矣。</p>
<h2>陰維脈</h2>
<p>陰維起於諸陰之交，其脈發於足少陰築賓穴，為陰維之　，在內踝上五寸　肉分中。上循股內廉，上行入小腹，會足太陰、厥陰、少陰、陽明於腑舍。（在腹結下三寸，去腹中行四寸半）上會足太陰於大橫、腹哀。</p>
<p>（大橫在腹哀下三寸五分。腹哀在日月下一寸五分。並去腹中行四寸半）循脅肋會足厥陰於期門。（直乳下一寸半）</p>
<p>上胸膈挾咽，與任脈會於天突、廉泉，上至頂前而終。（天突在結喉下四寸半宛宛中。廉泉在結喉上二寸中央是穴）</p>
<p>凡一十四穴。</p>
<h2>陽維脈</h2>
<p>陽維起於諸陽之會，其脈發於足太陽金門穴，在足外踝下一寸五分。上外踝七寸會足少陽於陽交，為陽維之　。（在外踝上七寸，斜屬二陽之間）循膝外廉，上髀厭，抵少腹側，會足少陽於居　。（在章門下八寸，監骨上陷中）循脅肋，斜上肘上，會手陽明、手足太陽於臂　。（在肘上七寸，兩筋罅陷中，肩　下一寸）過肩前，與手少陽會干　會、天　。（　會在肩前廉，去肩端三寸宛宛中。天　在缺盆中，上毖骨際，陷中央）卻會手足少陽、足陽明於肩井。（在肩上陷中，缺盆上大骨前一寸五分）入肩後，會手太陽、陽蹺於　。（在肩後大骨下胛上廉陷中）上循耳後，會手足少陽於風池。（在耳後發際陷中）上腦空、（承靈後一寸半。夾玉枕骨下陷中）承靈、（正營後一寸半）正營、（目窗後一寸）目窗、（臨泣後一寸）臨泣。（在瞳人直上，入發際五分陷中）下額與手足少陽、陽明，五脈會於陽白。（眉上一寸，直瞳人相對）循頭，入耳，上至本神而止。（本神直耳上入發際中）凡三十二穴。</p>
<h2>二維為病</h2>
<p>越人曰：陽維、陰維者，維絡於身，溢蓄不能環流，灌溉諸經者也。故陽維起於諸陽之會，陰維起於諸陰之交。陽維維於陽，陰維維於陰，陰陽不能自相維，則悵然失志，溶溶不能自收持。又曰：陽維為病苦寒熱，陰維為病苦心痛。（溶溶，緩慢貌）</p>
<p>張潔古曰：衛為陽，主表，陽維受邪為病在表，故苦寒熱；營為陰，主裡，陰維受邪為病在裡，故苦心痛。陰陽相維，則營衛和諧矣；營衛不諧，則悵然失志，不能自收持矣。何以知之？仲景云：病常自汗，是衛氣不與營氣和也，宜桂枝湯和之。又云：服桂枝反煩不解，先刺風池、風府，卻與桂枝湯。此二穴，乃陽維之會也，謂桂枝後，尚自汗發熱惡寒，其脈寸浮尺弱而反煩，為病在陽維，故先針此二穴。仲景又云：臟無他病時，發熱自汗出而不愈，此衛氣不和也，桂枝湯主之。</p>
<p>又曰：陰維為病苦心痛，治在三陰之交。太陰證則理中湯，少陰證則四逆湯，厥陰證則當歸四逆湯、吳茱萸湯主之。</p>
<p>李瀕湖曰：陽維之脈，與手足三陽相維，而足太陽，少陽，則始終相聯附者。寒熱之證，惟二經有之，故陽維為病亦苦寒熱。蓋衛氣晝行於陽，夜行於陰，陰虛則內熱，陽虛則外寒，邪氣在經，內與陰爭而惡寒，外與陽爭而發熱。則寒熱之在表而兼太陽證者，有汗當用桂枝、無汗當用麻黃；寒熱之在半表半裡而兼少陽證者，當用小柴胡加減治之。若夫營衛　卑，而病寒熱者，黃　建中及八物湯之類主之。潔古獨以桂枝一證屬之陽維，似未擴充。至於陰維為病主心痛，潔古獨以三陰溫裡之藥治之，則寒中二陰者宜矣，而三陰熱厥作痛，似未備矣。蓋陰維之脈，雖交三陰而行，實與任脈同歸，故心痛多屬少陰、厥陰、任脈之氣上衝而然。暴痛無熱，久痛無寒，按之少止者為虛，不可接近者為實。凡寒痛，兼少陰及任脈者，四逆湯；兼厥陰者，當歸四逆湯；兼太陰者，理中湯主之。凡熱痛，兼少陰及任脈者，金鈴散、延胡索散；兼厥陰者，失笑散。兼太陰者，承氣湯主之。若營血內傷，兼夫任、衝、手厥陰者，則宜四物湯、養營湯、妙香散之類。因病藥之，如此則陰陽虛實，庶乎其不瘥矣。</p>
<p>王叔和脈經曰：寸口脈，從少陰斜至太陽，是陽維脈也，動苦肌肉痹癢，皮膚痛，下部不仁，汗出而寒；又苦顛仆羊鳴，手足相引，甚者失音不能言，宜取客主人。（在耳前起骨上廉，開口有空。乃手足少陽、陽明之會）</p>
<p>又曰：寸口脈，從少陽斜至厥陰，是陰維脈也。動苦癲　僵仆羊鳴，又苦僵仆失音，肌肉痹癢，應時自發汗出，惡風身洗洗然也。取陽白、金門、（見前）仆參。（見陽蹺）</p>
<p>瀕湖曰：王叔和以癲　屬陰維陽維，靈樞經以癲　屬陰蹺陽蹺，二說義異旨同。蓋陽維由外踝而上，循陽分而至肩肘，歷耳額而終行於衛分諸陽之會；陰維由內踝而上，循陰分而上脅至咽，行於營分諸陰之交。</p>
<p>陽蹺起於跟中，循外踝上行於股外，至脅肋肩　，行於一身之左右，而終於目內　；陰蹺起於跟中，循內踝上行於股內、陰器，行於一身之左右，至咽喉，會任脈，而終於目內　。邪在陰維、陰蹺，則發癲邪；在陽維、陽蹺，則發　。　動而屬陽，陽脈主之。癲靜而屬陰，陰脈主之。大抵二疾當取之四脈之穴，分其陰陽而已。</p>
<p>王叔和曰：診得陽維脈浮者，暫起目眩，陽盛實者，苦肩息，洒洒如寒。</p>
<p>診得陰維脈沉大而實者，苦胸中痛，脅下支滿，心痛。其脈如貫珠者，男子兩脅下實，腰中痛；女子陰中痛，如有瘡狀。</p>
<p>素問腰痛論曰：陽維之脈，令人腰痛，痛上怫然腫。刺陽維之脈與太陽合　間，去地一尺。</p>
<p>王啟玄曰：陽維起於陽，則太陽之所生，並行而上至　，下復與太陽合而上也。去地一尺，乃承山穴也。在銳之下，分肉間陷中，可刺七分。</p>
<p>肉裡之脈，令人腰痛，不可以咳。咳則筋縮急。刺肉裡之脈為二　，在太陽之外、少陽絕骨之後。</p>
<p>王啟玄曰：肉裡之脈，少陽所生，陽維脈氣所發，絕骨之後，陽維所過分肉穴也。在足外踝直上絕骨之端，如後二分筋肉分間，刺可五分。</p>
<p>飛陽之脈，令人腰痛，痛拂拂然，甚則悲以恐。</p>
<p>啟玄曰：此陰維之脈也，去內踝上五寸　分中，並少陰經而上也，刺飛陽之脈，在內踝上一寸，少陰之前，與陰維之會，築賓穴也。甲乙經云，太陽之絡，別走少陰者，名曰飛陽。</p>
<h2>陰蹺脈</h2>
<p>陰蹺者，足少陰之別脈，其脈起於跟中，足少陰然谷穴之後，（然谷在內踝前下一寸陷中）同足少陰循內踝下照海穴，（在內踝下五分）上內踝之上二寸，以交信為　。（交信在內踝骨上，少陰前太陰後筋骨間）直上循陰股入陰，上循胸裡入缺盆，上出人迎之前，至咽嚨，交貫衝脈，入　內廉，上行屬目內　，與手足太陽、足陽明、陽蹺，五脈，會於睛明而上行。（睛明在目內　外一分宛宛中）凡八穴。</p>
<p>張紫陽八脈經云：八脈者：衝脈在風府穴下，督脈在臍後，任脈在臍前，帶脈在腰，陰蹺脈在尾閭前陰囊下，陽蹺脈在尾閭後二節，陰維脈在頂前一寸三分，陽維脈在頂後一寸三分。凡人有此八脈，俱屬陰神，閉而不開，惟神仙以陽氣衝開，故能得道。八脈者，先天大道之根，一氣之祖。采之惟在陰蹺為先，此脈才動，諸脈皆通。次督、任、衝三脈，總為經脈造化之源。而陰蹺一脈，散在丹經，其名頗多：曰天根、曰死戶、曰復命關、曰酆都鬼戶、曰死生根，有神主之，名曰桃康，上通泥丸，下透涌泉。倘能知此，使真氣聚散，皆從此關竅，則天門常開，地戶永閉，尻脈周流於一身，貫通上下，和氣自然上朝，陽長陰消，水中火發，雪裡花開。所謂天根月窟閑來往，三十六宮都是春。得之者，身體輕健，容衰返壯，昏昏默默，如醉如痴，此其驗也。要知西南之鄉乃坤地，尾閭之前，膀胱之後，小腸之下，靈龜之上，此乃天地逐日所生，氣根產鉛之地也，醫家不知有此。</p>
<p>瀕湖曰：丹書論及陽精河車。皆往往以任、衝、督脈、命門、三焦為說，未有專指陰蹺者。而紫陽八脈經所載經脈，稍與醫家之說不同。然內景隧道，惟返觀者能照察之，其言必不謬也。</p>
<h2>陽蹺脈</h2>
<p>陽蹺者，足太陽之別脈，其脈起於跟中，出於外踝下足太陽申脈穴。（在外踝下五分陷中，容爪甲白肉際）</p>
<p>當踝後繞跟，以仆參為本。（在跟骨下陷中，拱足得之）上外踝上三寸，以附陽為　。（在外踝上三寸，足太陽之穴也）直上循股外廉，循脅後髀。上會手太陽、陽維於　。（在肩後大骨下胛上廉陷中）上行肩　外廉，會手陽明於巨骨，（在肩尖端上行兩叉骨罅間陷中）會手陽明少陽於肩　。（在　骨頭，肩端上，兩骨罅陷宛宛中。舉臂取之有空）上人迎夾口吻，會手足陽明、任脈於地倉。（夾口吻旁四分，外如近下有微脈動處）同足陽明上而行巨　，（夾鼻孔旁八分，直瞳子，平水溝）復會任脈於承泣。（在目下七分，直瞳子陷中）至目內　，與手足太陽、足陽明、陰蹺，五脈會於睛明穴。（見陰蹺下）從睛明上行入發際，下耳後，入風池而終。（風池在耳後，夾玉枕骨下發際陷中）凡二十二穴。難經曰：蹺脈從足至目，長七尺五寸，合一丈五尺。</p>
<p>甲乙經曰：蹺脈有陰陽，何者當其數？曰：男子數其陽，女子數其陰，當數者為經，不當數者為絡。</p>
<p>氣之在身也，如水之流，如日月之行不休。故陰脈營其臟，而陽脈營其腑。如環之無端，莫知其紀，終而復始。其流溢之氣，內溉臟腑，外濡腠理。</p>
<h2>二蹺為病</h2>
<p>秦越人難經曰：陰絡者，陰蹺之絡；陰絡者，陽蹺之絡。陰蹺為病，陽緩而陰急；陽蹺為病，陰緩而陽急。</p>
<p>王叔和脈經曰：陰蹺脈急，當從內踝以上急，外踝以上緩；陽蹺脈急，當從外踝以上急，內踝以上緩。</p>
<p>又曰：寸口脈前部左右彈者，陽蹺也。動苦腰背痛，叉為癲癇僵仆羊鳴，惡風偏枯、　痹、身體強。</p>
<p>又曰：微澀為風癇，並取陽蹺，在外踝上三寸，直絕骨是穴。（附陽穴也）</p>
<p>又曰：寸口脈後部左右彈者，陰蹺也。動苦癲癇、寒熱，皮膚淫痹，又為少腹痛，裡急，腰及髖下相連，陰中痛，男子陰疝，女子漏下不止。（髖，髀骨也。　，腰下穴也）</p>
<p>又曰：癲癇螈　，不知所苦，兩蹺之下，男陽女陰。</p>
<p>張潔古曰：蹺者，捷疾也。二脈起於足，使人蹺捷也。陽蹺在肌肉之上，陽脈所行，通貫六腑，主持諸表，故名為陽蹺之絡；陽蹺在肌肉之下，陰脈所行，通貫五臟，主持諸裡，故名為陰蹺之絡。陰蹺為病，陰急則陰厥脛直，五絡不通，表和裡病；陽蹺為病，陽急則狂走目不昧，表病裡和。陰病則熱，可灸照海、陽陵泉，（在膝下一寸　外廉陷中，足少陽之合也，筋病治此）陽病則寒，可針風池、風府。（風府在項後入發際一寸，大筋內宛宛中，督脈，太陽、陽維之會也）</p>
<p>又曰：在陽表者當汗之，在陰裡者當下之。又曰：癲癇晝發灸陽蹺，夜發灸陰蹺。</p>
<p>素問腰痛論曰：腰痛不可舉者，申脈、仆參舉之。（太陽之穴，陽蹺之本也）又曰：會陰之脈，令人腰痛，痛上漯漯然汗出，汗干令人欲飲，飲已欲走，刺直陽之脈上三　。在蹺上　下五寸橫居，視其盛者，出血。</p>
<p>王啟玄云：足太陽之脈，循腰下會於後陰，故曰會陰。直陽之脈，挾脊下行，貫臀至　，循　，過外踝之後，條直而行者，故曰直陽之脈也。蹺，為陽蹺所生，申脈穴也。蹺上　下，乃承筋穴也，即　中央如外陷者中也。</p>
<p>太陽脈氣所發，禁針刺，但視其兩　中央有血絡盛滿者，乃刺之出血。</p>
<p>又曰：昌陽之脈，令人腰痛，痛引膺，目KT　KT　然，甚則反折，舌卷不能言。刺內筋為三　，在內踝上，大筋前，太陰後，上踝二寸所。</p>
<p>王啟玄云：陰蹺起於然谷之後，上內踝之上，循陰股入陰，而循腹入胸裡、缺盆，上出人迎之前，入　內廉，屬目內，會於太陽、陽蹺而上行，故病狀如此。內筋，即陰蹺之　，交信穴也。</p>
<p>素問繆刺論曰：邪客於足陽蹺之脈，令人目痛，從內　始。刺外踝之下半寸所各二　，（即申脈也）左刺右，右刺左，如人行十裡頃而已。</p>
<p>靈樞經曰　目中赤痛，從內　始，取之陰蹺。（交信穴也）</p>
<p>又曰：風痙反折，先取足太陽及　中及血絡出血，若中有寒邪，取陰蹺及三毛上及血絡出血。</p>
<p>李瀕湖曰：足太陽，京骨穴也。在足外側小指本節後大骨下，赤白際陷中，針三分，灸七壯。　中，委中穴也。在曲膝後橫文中，針三分。陰蹺取交信穴，見前。三毛，大敦穴也。在足大指外側三毛中，肝脈之井也。</p>
<p>針三分，灸三壯。血絡者，視其處有絡脈盛滿者，出其血也。</p>
<p>又曰：陰蹺、陽蹺，陰陽相交，陽入陰，陰出陽，交於目銳　。陽氣盛則　目，陰氣盛則瞑目，熱厥取足太陽、少陽。</p>
<p>甲乙經曰：人病目閉不得視者，衛氣留於陰，不得行於陽，留於陰則陰氣盛，陰氣盛則陰蹺滿，不得入於陽則陽氣虛，故目閉也。</p>
<p>病目不得瞑者，衛氣不得入於陰，常留於陽，留於陽則陽氣滿，陽氣滿則陽蹺盛，不得入於陰則陰氣虛，故目不瞑也。</p>
<p>靈樞曰：五穀入於胃也，其糟粕、津液、宗氣為三隧。故宗氣積於胸中，出於喉嚨，以貫心肺而行呼吸焉。營氣者，泌其津液，注之於脈，化而為血，以榮四末，內注五臟六腑，以應刻數焉。衛氣者，出其悍氣之　疾，而先於四末分肉皮膚之間，而不休焉。</p>
<p>晝日行於陽，夜行於陰，常從足少陰分間，行於五臟六腑。今厥氣客於五臟六腑，則衛氣獨衛其外，行於陽不得入於陰，行於陽則陽氣盛，陽氣盛則陽蹺陷，不得入於陰則陰氣虛，故目不瞑也。治當補其不足，瀉其有餘，以通其道而去其邪，飲以半夏湯一荊，陰陽已通，其臥立至。其方用流水千裡以外者八升，揚之萬遍，取其清五升煮之，炊以葦薪火，沸，置秫米一升、治半夏五合，徐炊令至一升半，去其滓，飲汁一小杯，日三，稍益以知為度。故其病新發者。覆杯則臥，汗出則已，久者三飲而已。</p>
<p>李瀕湖云：靈樞有云：足太陽之筋為目上綱，足陽明之筋為目下綱，寒則筋急目不合，熱則筋縱目不開。</p>
<p>又云：壯者血氣盛、肌肉滑，營衛不失其常，故晝精而夜瞑。老人氣血衰、氣道澀，衛氣內伐，故晝不精而夜不瞑。又云：多臥者，腸胃大而皮膚澀，分肉不解，衛氣行遲故也。張子和云：思氣所至為不眠、為嗜臥。</p>
<p>巢元方云：脾病困倦而嗜臥，膽病多煩而不眠。王叔和脈經云：水流夜疾有聲者，土休故也，人亦應之。人夜臥，則脾不動搖，脈為之數疾也。</p>
<p>一云：脾之候在瞼，瞼動則知脾能消化也。脾病則瞼澀嗜臥矣。數說皆論目閉目不瞑，雖不言及二蹺，蓋亦不離乎陰陽營衛虛實之理。可互考者也。</p>
<h2>衝脈</h2>
<p>沖為經脈之海，又曰血海，其脈與任脈，皆起於少腹之內胞中。其浮而外者，起於氣衝。（一名氣街，在少腹毛中兩旁各二寸，橫骨兩端，動脈宛宛中，足陽明穴也）並足陽明、少陰二經之間，循腹上行至橫骨。（足陽明去腹中行二寸，少陰去腹中行五分，衝脈行於二經之間也。橫骨在陰上橫骨中，宛如偃月，去腹中行一寸半）</p>
<p>挾臍左右各五分，上行歷大赫、（橫骨上一寸，去腹中行一寸半）氣穴、（即胞門一名子戶、大赫上一寸，去腹中行一寸半，少陰、衝脈之會）四滿、（氣穴上一寸）中注、（四滿上一寸）肓　、（中注上一寸）商曲、（肓上二寸）石關、（商曲上一寸）陰都、（石關上一寸）通谷、（陰都上一寸）幽門，（通谷上一寸，夾巨闕兩旁，各五分陷中）至胸中而散，凡二十四穴。</p>
<p>靈樞經曰：衝、任皆起於胞中，上循背裡，為經絡之海。其浮而外者，循腹右上行，會於咽喉，別而絡唇口。血氣盛則充膚熱肉，血獨盛則淡滲皮膚，生毫毛。婦人有餘於氣，不足於血，月下數脫血，任沖並傷，脈不榮其口唇，故髭須不生。宦者去其宗筋，傷其衝任，血瀉不復，皮膚內結，唇口不榮，故須亦不生。天宦不脫於血，而任沖不盛，宗筋不強，有氣無血，唇口不榮，故須亦不生。</p>
<p>素問水熱穴論曰：三陰之所交，結於腳也。踝上各一行者，此腎脈之下行也。名曰太衝。</p>
<p>王啟玄曰：腎脈與衝脈並下行循足，合而盛大，故曰太衝。一云衝脈起於氣衝，沖直而通，故謂之沖。</p>
<p>素問陰陽離合論曰：聖人南面而立，前曰廣明，後曰太衝。太衝之地，名曰少陰，其沖在下，名曰太陰。</p>
<p>啟玄曰：心臟在南，故前曰廣明，衝脈在北，故後曰太衝。足少陰腎脈與衝脈合而盛大，故曰太衝。兩脈相合為表裡也。衝脈在脾之下，故曰其沖在下，名曰太陰。</p>
<p>靈樞經曰：帝曰：少陰之脈獨下行。何也？岐伯曰：不然。夫衝脈者，五臟六腑之海也。其上者出於頏顙，滲諸陽，灌諸精。其下者注於少陰之大絡，起於腎下，出於氣街，循陰股內廉，斜入　中，伏行骨內廉，並少陰之經，下入內踝之後，入足下；其別者並於少陰，滲三陰，斜入踝，伏行出屬跗，屬下，循跗上，入大指之間，滲諸絡而溫足脛肌肉。故其脈常動，別絡結則跗上不動，不動則厥，厥則寒矣。</p>
<p>王海臟曰：手少陽三焦相火為一腑，右腎命門為相火，心包主亦名相火，其脈同診。腎為生氣之門，出而治臍下，分三歧，上衝夾臍過天樞，上至膻中兩乳間，元氣所系焉。又足太陽之別，並足太陽正路入絡膀胱，約下焉。三焦者，從頭至心、心至臍、臍至足，為上中下三焦，其實真元一氣也。故曰有臟無腑。脈訣云：三焦無狀空有名，寄在胸中膈相應。一云：其腑在氣街中。上焦在胃上口，治在膻中；中焦在胃管，治在臍旁；下焦在臍下膀胱上口，治在臍。</p>
<p>經曰：原氣者，三焦之別使也。腎間動氣者，真元一氣，分為三路，人之生命也，十二經之根本也。</p>
<p>李瀕湖曰：三焦即命門之用。與衝、任、督相通者，故附著於此。</p>
<h3>衝脈為病</h3>
<p>越人難經曰：衝脈為病，逆氣而裡急。</p>
<p>靈樞經曰：氣逆上，刺膺中陷下者，與下胸動脈。腹痛，刺臍左右動脈，按之立已。不已刺氣街，按之立已。</p>
<p>李東垣曰：秋冬之月，胃脈四道為衝脈所逆，脅下少陽脈二道而反上行，名曰厥逆。其證：氣上衝，咽不得息而喘息有音，不得臥。宜調中益氣東加吳茱萸五分，隨氣多少用之。（脾胃論）夏月有此，乃大熱之證，用黃連、黃柏、知母各等分，酒洗炒為末，白湯和丸，每服一二百丸，空心白湯下，即以美膳壓之，不令停留胃中，直至下元，以瀉衝脈之邪也。蓋此病隨四時寒熱溫涼治之。</p>
<p>又曰：凡逆氣上衝，或兼裡急，或作躁熱，皆衝脈逆也。若內傷病此，宜補中益氣東加炒　、炒連、知母，以泄衝脈。凡腎火旺，及任、督、衝三脈盛者，則宜用酒炒黃　、知母，亦不可久服，恐妨胃也。或腹中刺痛，或裡急，宜多用甘草，或虛坐而大便不得者，皆屬血虛，血虛則裡急，宜用當歸。逆氣裡急，膈咽不通，大便不行者，宜升陽瀉熱湯主之。（方見蘭室秘臟）麻木，厥氣上衝，逆氣上行，妄聞妄見者，宜神功丸主之。（方見蘭室秘臟）</p>
<p>孫真人千金方云：咳唾手足厥逆，氣從小腹上衝胸咽，其面翕熱如醉，因復下流陰股，小便難，時復冒者，寸脈沉，尺脈微，宜茯苓五味子湯，以治其氣衝。其方用茯苓、五味子（二錢）桂心、甘草，（一錢）水煎服。胸滿者去桂。</p>
<p>程篁墩曰：太平侯病膻中痛，喘嘔吞酸，臍上一點氣，上至咽喉如冰，每子後申時輒發，醫以為大寒，不效。</p>
<p>祝橘泉曰：此得之大醉及濃味過多，子後申時相火自下騰上，故作痛也。以二陳加芩、連、梔子、蒼朮，數飲而愈。</p>
<p>素問痿論曰：治痿獨取陽明者何也？曰：陽明者，五臟六腑之海也，主潤宗筋，宗筋主束骨而利機關。衝脈者，經脈之海，主滲灌溪穀，與陽明合於宗筋，會於氣街，而陽明為之長，皆屬於帶脈，而絡於督脈。故陽明虛則宗筋縱、帶脈不引，故足痿不用。治之當各補其營而通其　，調其虛實，和其逆順，筋、脈、骨、肉各以其時受月，則病已。（謂肝甲乙、心丙丁、脾戊己、主氣法時月也）</p>
<p>李東垣曰：暑月病甚，則傳腎肝為痿厥。痿，乃四肢痿軟。厥，乃四肢如火，或如冰，心煩。衝脈氣逆上，甚則火逆，名曰厥逆。故痿厥二病，多相須也。經曰：下氣不足，則痿厥心　。宜以清燥去濕熱之藥，或生脈散合四苓散。加酒洗黃　、知母，以泄其濕熱。</p>
<p>李瀕湖曰：濕熱成痿，乃不足中有餘也。宜滲泄之藥。若精血枯涸成痿，乃不足中之不足也，全要峻補之藥。</p>
<p>靈樞經曰：胸氣有街、腹氣有街、頭氣有街、脛氣有街。故氣在頭者止之於腦；氣在胸者止之膺與背，氣在腹者止之背　與衝脈於臍之左右之動脈；氣在脛者。止之於氣街與承山踝上以下。取此者，用毫針，先按在上，久應手乃刺而與之。所治者，頭痛眩仆，腹痛中滿暴脹，及有新積作痛。</p>
<p>素問舉痛論曰：寒氣客於衝脈，衝脈起於關元，隨腹直上。寒氣客則脈不通，脈不通則氣因之，故喘動應手。</p>
<p>王叔和脈經曰：兩手脈浮之俱有陽，沈之俱有陰，陰陽皆盛，此衝、督之脈也。衝、督之脈，為十二經之道路也。衝、督用事。則十二經不復朝於寸口，其人若恍惚狂痴。</p>
<p>又曰：脈來中央堅實，徑至關者，衝脈也。動苦少腹痛上搶心，有瘕疝遺溺，脅支滿煩，女子絕孕。</p>
<p>又曰：尺寸俱牢，直上直下，此乃衝脈，胸中有寒疝也。</p>
<p>張仲景曰：傷寒動氣在右不可發汗，汗之則衄而渴，心苦煩，飲水即吐；（先以五苓散，次以竹葉湯）不可下，下之則津液內竭，頭眩咽燥，鼻干心悸。（竹葉湯）動氣在左不可發汗，汗之則頭眩汗不止，筋惕肉　，此為難治；（或先用防風白朮牡蠣湯，次用小建中湯）不可下，下之則腹裡拘急不止，動氣反劇，身雖有熱反欲拳。</p>
<p>（先服甘草乾薑湯，次服小建中湯）動氣在上不可發汗，汗之則氣上衝，正在心端，（李根湯）不可下，下之則掌握熱煩，身熱汗泄，欲水自灌。（竹葉湯）動氣在下不可發汗，汗之則無汗，心中大煩，骨節疼、頭痛目運，惡寒吐穀；（先服大陳皮湯，次服小建中湯）不可下，下之則腹滿，卒起頭眩，食則下清穀，心下痞堅。（甘草瀉心湯）</p>
<p>李瀕湖曰：此乃臍之左右上下，有氣築築然牢而痛，正衝、任、足少陰、太陰四經病也。成無己注文，以為左肝右肺，上心下脾，蓋未審四臟乃兼邪耳。</p>
<p>岐伯曰：海有東西南北，人亦有四海以應之。胃者水穀之海，其輸上在氣街，下至三裡；衝脈為十二經之海，其輸上在於大杼，下出於巨虛之上下廉；膻中者為氣之海，其輸上在於柱骨之上下，前在人迎。</p>
<p>腦為髓之海，其輸上在於蓋，下在風府。氣海有餘，氣滿胸中　息面赤；氣海不足，則氣少不足以言。血海有餘，則常想其身大，怫然不知其所病；血海不足，亦常想其身小，狹然不知其所病。水穀之海有餘，則腹滿，水穀之海不足，則飢不受食。髓海有餘，則輕勁多力，自過其度；髓海不足，則腦轉耳鳴，脛酸眩冒，目無所見，懈怠安臥。</p>
<h2>任脈</h2>
<p>任為陰脈之海，其脈起於中極之下，少腹之內，會陰之分。（在兩陰之間）上行而外出，循曲骨，（橫骨上毛際陷中）上毛際，至中極，（臍下四寸，膀胱之募）同足厥陰、太陰、少陰並行腹裡，循關元，（臍下三寸，小腸之募，三陰任脈之會）歷石門（即丹田，一名命門，在臍下二寸，三焦募也）氣海，（臍下一寸半宛宛中，男子生氣之海）會足少陽、衝脈於陰交。（臍下一寸，當膀胱上口，三焦之募）循神闕、（臍中央）水分，（臍上一寸，當小腸下口）會足太陰於下脘。（臍上二寸，當胃下口）歷建裡，（臍上三寸）會手太陽、少陽、足陽明於中脘。（臍上四寸，胃之募也）上上脘、（臍上五寸）巨闕、（鳩尾下一寸，心之募也）鳩尾、（蔽骨下五分）中庭、（膻中下一寸六分陷中）膻中、（玉堂下一寸六分，直兩乳中間）玉堂、（紫宮下一寸六分）紫宮、（華蓋下一寸六分）華蓋、（璇璣下一寸）璇璣，（天突下一寸）</p>
<p>上喉嚨，會陰維於天突、廉泉。（天突在結喉下四寸宛宛中，廉泉在結喉上，舌下，中央）上頤，循承漿，與手足陽明、督脈會。（唇下陷中）環唇上，至下　交，復出分行，循面，系兩目下之中央，至承泣而終。（目下七分，直瞳子陷中，二穴）凡二十七穴。難經、甲乙經，並無循面以下之說。</p>
<p>任脈之別絡，名曰尾翳。下鳩尾，散於腹。實則腹皮痛，虛則癢搔。</p>
<p>靈樞經曰：缺盆之中任脈也，名曰天突。其側動脈人迎，足陽明也。</p>
<h2>任脈為病</h2>
<p>素問曰：任脈為病，男子內結七疝，女子帶下瘕聚。</p>
<p>又曰：女子二七而天癸至，任脈通，太衝脈盛，月事以時下，七七任脈虛，太衝脈衰，天癸竭，地道不通，故形壞而無子。</p>
<p>又曰：上氣有音者，治其缺盆中。（謂天突穴也，陰維、任脈之會，刺一寸，灸三壯）</p>
<p>脈經曰：寸口脈來緊細實，長至關者，任脈也。動苦少腹繞臍，下引橫骨、陰中切痛，取關元治之。</p>
<p>又曰：橫寸口邊，脈丸丸者，任脈也。苦腹中有氣如指，上搶心不得俯仰，拘急。</p>
<h2>督脈</h2>
<p>督乃陽脈之海，其脈起於腎下胞中，至於少腹，乃下行於腰、橫骨圍之中央，系溺孔之端，男子循莖下至篡；女子絡陰器，合篡間。俱繞篡後屏翳穴。（前陰後陰之間也）別繞臀至少陰，與太陽中絡者，合少陰上股內廉，由會陽（在陰尾尻骨兩旁，凡二穴）貫脊，會於長強穴。在　骨端與少陰會，並脊裡上行。歷腰　、（二十一椎下）陽關、（十六椎下）命門、（十四椎下）懸樞、（十三椎下）脊中、（十一椎下）中樞、（十椎下）筋縮、（九椎下）至陽、（七椎下）靈台、（六椎下）神道、（五椎下）身柱、（三椎下）陶道、（大椎下）大椎，（一椎下）與手足三陽會合。上　門，（項後入發際五分）會陽維，入系舌本。上至風府，（項後入發際一寸，大筋內，宛宛中）會足太陽、陽維同入腦中。循腦戶、（在枕骨上）強間、（百會後三寸）後頂、（百會後一寸半）上巔，歷百會、（頂中央旋毛中）前頂、（百會前，一寸半）囟會、（百會前三寸，即囟門）上星，（囟會前一寸）至神庭，（囟會前二寸。直鼻上，入發際五分）為足太陽、督脈之會。循額中至鼻柱，經素　、（鼻準頭也）水溝、（即人中）會手足陽明，至兌端，（在唇上端）入齦交，（上齒縫中）與任脈、足陽明交會而終。凡三十一穴。督脈別絡，自長強走任脈者，由少腹直上，貫臍中央，上貫心，入喉，上頤，環唇，上系兩目之下中央，會太陽於目內　睛明穴。（見陰蹺下）上額，與足厥陰同會於巔。入絡於腦，又別自腦下項，循肩胛，與手足太陽、少陽會於大杼第一椎下兩旁，去脊中一寸五分陷中，內挾脊抵腰中，入循膂絡腎。難經曰：督脈、任脈四尺五寸，合共九尺。靈樞經曰：頸中央之脈，督脈也，名曰風府。</p>
<p>張潔古曰：督者，都也，為陽脈之都綱。任者，妊也，為陰脈之妊養。</p>
<p>王海臟曰：陰蹺、陽蹺同起跟中，乃氣並而相連，任脈、督脈同起中極之下，乃水溝而相接。</p>
<p>滑伯仁曰：任、督二脈，一源而二岐，一行於身之前，一行於身之後，人身之有任、督，猶天地之有子、午，可以分可以合，分之以見陰陽之不離，合之以見渾淪之無間，一而二二而一者也。</p>
<p>李瀕湖曰：任、督二脈，人身之子、午也。乃丹家陽火陰符升降之道，坎水離火交媾之鄉。故魏伯陽參同契云：上閉則稱有，下閉則稱無，無者以奉上，上有神德居，此兩孔穴法，金氣亦相須。崔希范天元入藥鏡云：上鵲橋，下鵲橋，天應星，地應潮；歸根竅，復命關，貫尾閭，通泥丸。大道三章直指云：修丹之士，身中一竅，名曰玄牝。正在乾之下、坤之上、震之西、兌之東、坎離交媾之地，在人身天地之正中，八脈、九竅、十二經、十五絡聯輳，虛間一穴，空懸黍珠，醫書謂之任、督二脈。此元氣之所由生，真息之所由起，修丹之士，不明此竅，則真息不生，神化無基也。俞琰注參同契云：人身血氣，往來循環，晝夜不停，醫書有任、督二脈，人能通此二脈，則百脈皆通。黃庭經言：皆在心內運天經，晝夜存之自長生。天經乃吾身之黃道，呼吸往來於此也。鹿運尾閭，能通督脈；龜納鼻息，能通任脈，故二物皆長壽。此數說，皆丹家河車妙旨也。而藥物火候，自有別傳。</p>
<p>王海臟曰：張平叔言鉛乃北方正氣，一點初生之真陽，為丹母，其蟲為龜，即坎之二陰也，地軸也。一陽為蛇，天根也。陽生於子臟之命門，元氣之所系，出入於此，其用在臍下，為天地之根，玄牝之門，通厥陰，分三岐為三車，一念之非降而為漏，一念之是守而成鉛。升而接離，補而成乾，陰歸陽化，是以還元。</p>
<p>至虛至靜，道法自然，飛升而仙。</p>
<h2>督脈為病</h2>
<p>素問骨空論云：督脈生疾，從少腹上衝心而痛，不得前後，為沖疝，女子為不孕、癃痔、遺溺、嗌干。治在骨上，（謂腰橫骨上毛際中，曲骨穴也）甚者在臍下營。（臍下一寸，陰交穴也）</p>
<p>王啟玄曰：此乃任沖二脈之病，不知何以屬之督脈。李瀕湖曰：督脈雖行於背，而別絡自長強走任脈者，則由少腹直上貫臍，中貫心，入喉，上頤，環唇，而入於目之內　。故顯此諸證，啟玄蓋未深考爾。</p>
<p>素問曰：督脈實則脊強反折，虛則頭重高搖之，挾骨之有過者，取之所別也。</p>
<p>秦越人難經曰：督脈為病，脊強而厥。</p>
<p>王海臟曰：此病宜用羌活、獨活、防風、荊芥、細辛、　本、黃連、大黃、附子、烏頭、蒼耳之類。</p>
<p>張仲景金匱云：脊強者，五　之總名。其證卒口噤背反張而螈　。諸藥不已，可灸身柱、大椎、陶道穴。</p>
<p>又曰：　家脈，築築而弦直上下行。</p>
<p>王叔和脈經曰：尺寸俱浮，直上直下，此為督脈。腰背強痛，不得俯仰，大人癲病，小兒風癇。</p>
<p>又曰：脈來中央浮直，上下動者，督脈也。動苦腰背膝寒，大人癲，小兒癇，宜灸頂上三壯。</p>
<p>素問風論曰：風氣循風府而上，則為腦風。風入系頭。則為目風眼寒。</p>
<p>王啟玄云：腦戶乃督脈、足太陽之會故也。</p>
<h2>帶脈</h2>
<p>帶脈者。起於季脅足厥陰之章門穴，同足少陽循帶脈穴，（章門足厥陰少陽之會，在季肋骨端，肘尖盡處是穴。</p>
<p>帶脈穴屬足少陽經，在季脅下一寸八分陷中）圍身一周，如束帶然。又與足少陽會於五樞、（帶脈下三寸）維道，（章門下五寸三分）凡八穴。</p>
<p>靈樞經曰：足少陰之正，至　中，別走太陽而合，上至腎，當十四椎，出屬帶脈。</p>
<p>楊氏曰：帶脈總束諸脈，使不妄行，如人束帶而前垂，故名。婦人惡露，隨帶脈而下，故謂之帶下。</p>
<h2>帶脈為病</h2>
<p>秦越人曰：帶之為病，腹滿，腰溶溶如坐水中。（溶溶緩慢貌）</p>
<p>明堂曰：帶脈二穴，主腰腹縱溶溶如囊水之狀。婦人少腹痛，裡急後重，螈　月事不調，赤白帶下，可針六分，灸七壯。</p>
<p>張潔古曰：帶脈之病，太陰主之，宜灸章門二穴，三壯。</p>
<p>素問曰：邪客於太陰之絡，令人腰痛引小腹控　，不可以養息。（　謂季脅下之空軟處）</p>
<p>張仲景曰：大病瘥後，腰以下有水氣，牡蠣澤瀉散主之。若不已，灸章門穴。</p>
<p>王叔和曰：帶脈為病，左右繞臍，腰脊痛，沖陰股也。</p>
<p>王海臟曰：小兒　疝，可灸章門三壯而愈，以其與帶脈行於厥陰之分，而太陰主之。</p>
<p>又曰：女子經病血崩，久而成枯者，宜澀之益之。血閉久而成竭者，宜益之破之。破血有三治，始則四物入紅花，調黃　、肉桂。次則四物入紅花，調鯪鯉甲、桃仁、桂，童子小便，利酒煎服。末則四物入紅花，調易老沒藥散。</p>
<p>張子和曰：十二經與奇經七脈，皆上下周流，惟帶脈起少腹之側，季脅之下，環身一周，絡腰而過，如束帶之狀。而衝、任二脈，循腹脅，夾臍旁，傳流於氣衝，屬於帶脈，絡於督脈，衝、任、督三脈，同起而異行，一源而三岐，皆絡帶脈。因諸經上下往來，遺熱於帶脈之間，客熱鬱抑，白物滿溢，隨溲而下，綿綿不絕，是為白帶。內經云：思想無窮，所愿不得，意淫於外，入房太甚，發為筋痿，及為白淫。白淫者，白物淫衍，如精之狀，男子因溲而下，女子綿綿而下也，皆從濕熱治之，與治痢同法。赤白痢乃邪熱傳於大腸，赤白帶乃邪熱傳於小腸，後世皆以赤為熱、白為寒，流誤千載，是醫誤之矣。又曰：資生經載一婦人患赤白帶下，有人為灸氣海未效，次日為灸帶脈穴，有鬼附耳云，昨日灸亦好，只灸我不著，今灸著我，我去矣，可為酒食祭我。其家如其言祭之，遂愈。予初怪其事，因思晉景公膏肓二鬼之事，乃虛勞已甚，鬼得乘虛居之。此婦亦或勞心虛損，故鬼居之。灸既著穴，不得不去。自是凡有病此者，每為之按此穴，莫不應手酸痛，令歸灸之，無有不愈。其穴，在兩脅季肋之下一寸八分，若更灸百會穴尤佳。內經云：上有病下取之，下有病，上取之。又曰：上者下之，下者上之，是矣。</p>
<p>劉宗濃曰：帶下多本於陰虛陽竭，營氣不升，經脈凝澀，衛氣下陷，精氣積滯於下焦奇經之分，蘊釀而成。以帶脈為病得名，亦以病形而名，白者屬氣，赤者屬血，多因醉飽房勞，服食燥熱所致。亦有濕痰流注下焦者，腎肝陰淫濕勝者；或驚恐而木乘土位，濁液下流；或思慕無窮，發為筋痿，所謂二陽之病發心脾也；或余經濕熱，屈滯於少腹之下，或下元虛冷，子宮濕淫。治之之法，或下或吐，或發中兼補，補中兼利，燥中兼升發，潤中兼溫養，或溫朴，或收澀，諸例不同，亦病機之活法也。</p>
<p>巢元方病源曰：腎著病，腰痛冷如冰，身重腰如帶五千錢，不渴，小便利，因勞汗出，衣裡冷濕而得，久則變為水也。千金用腎著湯，三因用滲濕湯，東垣用獨活湯主之。</p>
<h2>氣口九道脈</h2>
<p>手檢圖曰：肺為五臟華蓋：上以應天，解理萬物，主行精氣；法五行，應四時，知五味；氣口之中，陰陽交會，中有五部；前後左右，各有所主，上下中央，分為九道。診之則知病邪所在也。</p>
<p>李瀕湖曰：氣口一脈，分為九道，總統十二經並奇經八脈。各出診法，乃岐伯秘授黃帝之訣也，扁鵲推之，獨取寸口以決死生。蓋氣口為百脈流注朝會之始故也。三部雖傳，而九道淪隱，故奇經之脈，世無人知。今撰為圖，並附其說於後，以泄千古之秘臟云。</p>
<p><a href="_files/p01-e39a1.bmp">診左手九道圖</a></p>
<p><u>診右手內外反此</u></p>
<p>岐伯曰：前部如外者，足太陽膀胱也，動苦目眩，頭、項、腰、背強痛，男子陰下濕癢，女子少腹痛引命門，陰中痛，子臟閉，月水不利。浮為風，澀為寒，滑為勞熱，緊為宿食。</p>
<p>中部如外者，足陽明胃也，動苦頭痛，面赤。滑為飲，浮為大便不利，澀為嗜臥，腸鳴，不能食，足脛痹。</p>
<p>後部如外者，足少陽膽也，動苦腰、背、　、股、肢節痛。浮為氣，澀為風，急為轉筋、為勞。</p>
<p>前部如內者，足厥陰肝也，動苦少腹痛引腰，大便不利，男子莖中痛，小便難，疝氣兩丸上入。女子月水不利，陰中寒，子戶閉，少腹急。</p>
<p>中部如內者，足太陰脾也，動苦腹滿，胃中痛，上管有寒，食不下，腰上狀如居水中。沉澀，為身重，足脛寒痛，煩滿不能臥，時咳唾有血，泄利食不化。</p>
<p>後部如內者，足少陰腎也。動苦少腹痛，與心相引，背痛，小便淋，女人月水來，上搶心胸，脅滿，股裡拘急。</p>
<p>前部中央直者，手少陰心、手太陽小腸也，動苦心下堅痛，腹脅急。實急者為感忤，虛者為下利腸鳴，女子陰中癢痛，滑為有娠。</p>
<p>中部中央直中者，手厥陰心主也，動苦心痛，面赤多喜怒，食苦咽。微浮苦悲傷恍惚，澀為心下寒，沉為恐怖，如人將捕之狀，時寒熱，有血氣。</p>
<p>後部中央直者，手太陰肺、手陽明大腸也，動苦咳，逆氣不得息，浮為風，沉為熱，緊為胸中積熱，澀為時咳血。</p>
<p>前部橫於寸口丸丸者，任脈也，動苦少腹痛，逆氣搶心，胸拘急不得俯仰。脈經云：寸口脈緊細實長，下至關者，任脈也，動苦少腹繞臍痛，男子七疝，女子瘕聚。</p>
<p>三部俱浮直上直下者，督脈也，動苦腰脊強痛，不得俯仰，大人癲，小兒癇。</p>
<p>三部俱牢，直上直下者，衝脈也，苦胸中有寒疝。脈經曰：脈來中央堅實，徑至關者，衝脈也，動苦少腹痛，上搶心，有瘕疝遺溺，女子絕孕。</p>
<p>前部左右彈者，陽蹺也，動苦腰背痛，癲癇僵仆羊鳴，偏枯、　痹，身體強。</p>
<p>中部左右彈者，帶脈也，動苦少腹痛引命門，女子月事不來，絕繼復下，令人無子，男子少腹拘急，或失精也。</p>
<p>後部左右彈者，陰蹺也，動苦癲癇寒熱，皮膚強痹，少腹痛，裡急，腰胯相連痛，男子陰疝，女子漏下不止。</p>
<p>從少陰斜至太陽者，陽維也，動苦顛仆羊鳴，手足相引，甚者失音不能言，肌肉痹癢。</p>
<p>從少陽斜至厥陰者，陰維也，動苦癲癇僵仆羊鳴，失音，肌肉痹癢，汗出惡風。</p>
<h2>釋音</h2>
<p><u>蹺</u></p>
<p>　腳、卻、喬、蹺四音，舉足高也。又蹺捷也。</p>
<p><u>跗</u></p>
<p>　音膚，足背也。</p>
<p><u>跟</u></p>
<p>　音根，足踵也。</p>
<p><u>踝</u></p>
<p>　花上聲，足螺螄骨也。</p>
<p><u>嗌</u></p>
<p>　音益，喉也。</p>
<p><u>噤</u></p>
<p>　音禁，口閉也。</p>
<p><u>齦</u></p>
<p>　音銀，齒根肉也。</p>
<p><u>　</u></p>
<p>　濡、嫩二音，軟肉也。</p>
<p><u>　</u></p>
<p>　音抄，季肋下也。</p>
<p><u>　</u></p>
<p>　音喘，腳肚也。</p>
<p><u>　</u></p>
<p>　音國，曲膝腕中也。</p>
<p><u>膻</u></p>
<p>　音　，胸中也。</p>
<p><u>　</u></p>
<p>　音戍，五臟　也。</p>
<p><u>脘</u></p>
<p>　音管，胃脘也。</p>
<p><u>胛</u></p>
<p>　音甲，背兩旁骨也。</p>
<p><u>膂</u></p>
<p>　音旅，夾脊肉也。</p>
<p><u>臀</u></p>
<p>　髀股也。</p>
<p><u>　</u></p>
<p>　音　，目動也。</p>
<p><u>　</u></p>
<p>　音劑，目角際也。</p>
<p><u>昧</u></p>
<p>　音妹，目不明也。</p>
<p><u>　</u></p>
<p>　音嗔，怒目張也。</p>
<p><u>瞑</u></p>
<p>　音眠，寐也。</p>
<p><u>瞼</u></p>
<p>　音檢，眼弦也。</p>
<p><u>　</u></p>
<p>　音博，肩胛骨也。</p>
<p><u>髖</u></p>
<p>　音寬，髀上也。</p>
<p><u>　</u></p>
<p>　音行，　骨也。</p>
<p><u>　</u></p>
<p>　虞、偶二音，肩前也。</p>
<p><u>　</u></p>
<p>　音干，脛骨也。</p>
<p><u>　</u></p>
<p>　音氐，尾脊骨也。</p>
<p><u>　</u></p>
<p>　音寥，骨空處也。</p>
<p><u>　</u></p>
<p>　與　同，說文音　，窖也。</p>
<p><u>癲</u></p>
<p>　音顛，仆病也。</p>
<p><u>癇</u></p>
<p>　音閑，驚病也。</p>
<p><u>痙</u></p>
<p>　音頸，風強病也。</p>
<p><u>　</u></p>
<p>　痴去聲，乍前乍後病也。</p>
<p><u>　</u></p>
<p>　音頑，痹也。</p>
<p><u>痿</u></p>
<p>　音委，肢軟也。</p>
<p><u>瘕</u></p>
<p>　音賈，積病也。</p>
<p><u>疝</u></p>
<p>　山、訕二音，寒痛病也。</p>
<p><u>癃</u></p>
<p>　音隆，小便淋也。</p>
<p><u>　</u></p>
<p>　音頹，陰腫也。</p>
<p><u>　</u></p>
<p>　與啞同。</p>
<p><u>　</u></p>
<p>　與酸同。</p>
<p><u>　</u></p>
<p>　音洧，針瘡也。</p>
<p><u>瘥</u></p>
<p>　楚懈切、楚嫁切，病除也。</p>
<p><u>輟</u></p>
<p>　音湊，輻輳也。</p>
<p><u>俠</u></p>
<p>　古文俠、挾通用。</p>
<p><u>　</u></p>
<p>　音免，俯也。</p>
<p><u>仆</u></p>
<p>　音赴，顛倒也。</p>
<p><u>溉</u></p>
<p>　音概，灌也。</p>
<p><u>泌</u></p>
<p>　音筆，別水也。</p>
<p><u>溺</u></p>
<p>　音尿，小便也。</p>
<p><u>溲</u></p>
<p>　音搜，小便也。</p>
<p><u>澀</u></p>
<p>　音澀，不滑也。</p>
<p><u>怫</u></p>
<p>　音佛，怫鬱也。</p>
<p><u>悍</u></p>
<p>　音汗，猛也。</p>
<p><u>　</u></p>
<p>　音漂，疾也。</p>
<p><u>　</u></p>
<p>　音悶，同義。又音瞞，惑。</p>
<p><u>惕</u></p>
<p>　音狄，心動也。</p>
<p><u>頏</u></p>
<p>　音杭，頸也。</p>
<p><u>　</u></p>
<p>　音求，面顴也。</p>
<p><u>顙</u></p>
<p>　桑上聲，額也。</p>
<p><u>　</u></p>
<p>　與隙同，孔　也。</p>
<p><u>罅</u></p>
<p>　呼訝切，孔罅也。</p>
<p><u>擴</u></p>
<p>　音郭，引長之意。</p>
<p><u>隧</u></p>
<p>　音遂，小路也。</p>
<p><u>篡</u></p>
<p>　初患切，陰下縫間也。</p>
<p><u>募</u></p>
<p>　與膜同。</p>
<p><u>毖</u></p>
<p>　音琵。</p>
<p><u>椎</u></p>
<p>　音縋，脊之骨節也。</p>
<p><u>髀厭</u></p>
<p>　音　掩。股後骨，即環跳也。</p>
<p><u>螈　</u></p>
<p>　螈　並音洽縱，手足舒縮也。</p>
<p><u>膏肓</u></p>
<p>　音高荒，心上鬲下也。</p>
<p><u>　卑</u></p>
<p>　音蝶怯，弱也。</p>
<p><u>漯漯</u></p>
<p>　音踏，汗應時出之貌。</p>
<p><u>KT　KT　</u></p>
<p>　音荒，目不明也。</p>
<p><u>　</u></p>
<p>　氣痛如築也。</p>
<p><u>丸丸</u></p>
<p>　脈如珠丸也。</p>
<p><u>洗洗</u></p>
<p>　音璽，皮毛淒滄惡寒之貌。</p>
<p><u>洒洒</u></p>
<p>　音洗，同義。</p>
