<header><h1>醫方歌括</h1></header>
<dl class="元資料" data-type="book">
<div><dt>作者</dt><dd>王泰林</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1644/1911">公元1644年至公元1911年</data></dd></div>
</dl>
<h2>正文</h2>
<p>半夏秫米湯（《素問》）和胃，泄衛通營治不寐。不寐由於厥氣逆，陽不交陰理須匯。</p>
<p>防己地黃（湯　《金匱要略》）治獨語，桂枝甘草二防（防己防風）比。酒漬絞汁不用煎，加重梔豉大黃湯枳實，酒疸心中痛懊　。穀疸茵陳（蒿）湯（前方去豆豉、枳實，加茵陳蒿。）</p>
<p>主治葶藶大棗瀉肺湯，肺癰不臥喘難當。不喘但咳胸皮錯，葦莖（湯　孫思邈《千金要方》）</p>
<p>桃（奔豚湯治奔豚氣，四物（湯）柴胡（湯）合桂枝（湯），（三方相合）去桂（枝）去柴（胡）</p>
<p>兼生地，煎先便後血黃土湯，朮（白朮）附（子）芩（黃芩）甘（草）阿（膠）地黃。脾虛陽陷因生濕，肝血隨經白頭翁（湯）治熱下痢，黃連黃柏秦皮比。性寒味苦入下焦，堅陰止痢稱良劑。</p>
<p>仲景麥（門）冬湯人參，半夏粳米棗甘（草）臨。火逆上氣咽喉哽，從胃生津救燥呈。</p>
<p>侯氏黑散治中風，參（人參）苓（茯苓）薑（乾薑）桂（枝）術（白朮）歸（當歸）芎（川芎），細辛牡蠣風引湯治熱癱癇，二脂（赤白石脂）寒水（石）膏（石膏）滑（石）紫（石英），六般石藥共龍（骨）</p>
<p>牡略‧中風篇》：「大人風引，少小驚癇螈　，日數十發，醫所不能治者，此湯主之。」然亦猛劑者宜審。）</p>
<p>鱉甲煎丸廿三味，桃仁承氣（湯）小柴胡（湯），去棗甘（草）加丹（皮）芍（藥）朴（厚朴），紫（葳）</p>
<p>之塊自無。（以上均種子毓麟（丸）術（白朮）棉子，地（熟地）杞（子）沙苑（蒺藜）線魚鰾，補骨（脂）</p>
<p>柏子（仁）仲（杜（子）麥冬羊腎煉真（丸）術（蒼朮）柏（黃柏）瀉（澤瀉）參（人參）茯（苓），鹿茸鳳眼（草）淫羊藿，蛇床（子）</p>
<p>五味壯陽益陰安腎丸，（《太平惠民和劑局方》）蓯蓉山藥真沙苑，破故（紙）胡桃（肉）萆（）</p>
<p>術（聚精（丸）沙苑（蒺藜）黃魚鰾，少陽男人無子招。少陽男人不得子，宜用坎氣廿四條，熟地人豬肚丸著劉松石，牡蠣白朮苦參益。豬為水畜肚屬土，濃胃泄水功偏捷。鹹寒清熱苦堅陰，明目四神丸杞子，椒（川椒）茴（香）青鹽四般制。杞子明目補陰精，《千金》、《外台》常服餌。復借椒（川椒）茴（香）以和陽，青鹽之潤和陰氣。晉三刪改為合宜，復入貞（女貞子）苓（茯苓）歸（當歸）菊（花）地（黃）。目有赤脈加沙苑（蒺藜），以備人之各去取。</p>
<p>地芝（丸　李東垣方）治目難近視，生地天冬菊花枳（殼）。定志丸（孫思邈《千金要方》）</p>
<p>療遠知其有水；水宜補腎火補心，識此二方便得旨。</p>
<p>磁朱丸（孫思邈《千金要方》）用磁朱曲（神麯），明目還能聰耳聾。</p>
<p>益本滋腎丸知（母）柏（黃柏），腎虛目暗宜斯藥。黃柏滋腎加黃連，水衰陽盛心煩爍。</p>
<p>單柏名黃柏為末天真丹裡沉香首，琥珀蘆巴巴戟湊，杜仲茴香補骨脂，萆　牽牛及肉桂。或酒或鹽皆炒香，咎。</p>
<p>小腸氣痛喝起丸，青娥丸內加三種，茴香萆　胡蘆巴，減去生薑蒜不用。</p>
<p>海藏生地黃連湯，四物（湯）芩（黃芩）連（黃連）梔子防（風）。血去過多因躁擾，撮空錯語血風清燥救肺（湯）嘉言造，補出經方所未到。（《內經》無傷燥之門，古方無傷燥之治。）</p>
<p>經霜桑肺母燥傷金，甘寒養麥門冬飲（劉完素《宣明論方》）治膈消，知母人參花粉調，茯苓生地味（五味子）甘草（炙），葛根竹葉共煎燒。</p>
<p>神效散（許叔微《普濟本事方》）用鯽魚膽，浮石蛤粉蟬蛻邀。鹹寒止渴兼消水，立法更比前通腎湯方治解　，解　之病腎之責。菖蒲生地五加皮，羚羊（角）芍（藥）草（甘草）</p>
<p>豬苓澤（瀉）</p>
<p>《聖濟》茯神（湯）治煎厥，涼肝攝腎救陰精，羚羊（角）龍骨沙參味（五味子），遠志葳蕤酸棗</p>
<p>《千金》茯神湯生地，玉竹門冬花粉知（母），小麥大棗淡竹葉，泄熱生津消渴宜。</p>
<p>竹葉黃　（湯）是復方，四物（湯）竹葉石膏湯，加入黃芩去薑棗，氣血兩燥消渴嘗。</p>
<p>血分燥熱蘆根湯（孫思邈《千金要方》）治病後噦，竹茹生薑粳米再。病後余熱留上焦，甘寒益胃斯為久咳癰痿十味煎，（王燾《外台秘要》）桑（白）皮地骨（皮）地黃鮮，竹（瀝）薑（生薑）麥（冬）</p>
<p>葛吐血咳嗽百花煎，生地（汁）阿膠柿（干柿）杏（仁）研，牛乳胡桃薑藕汁，秦艽酒蜜棗相聯。</p>
<p>《寶鑒》人參蛤蚧散，貝母知母桑白皮，茯苓杏仁炙甘草，水寒久嗽咯喘宜。</p>
<p>膈熱咽痛利膈湯，牛蒡（子）甘（草）桔（梗）薄（荷）荊（芥）防（風），人參僵蠶各等分，辛涼輕散喉風骨哽無憂散，荊芥玄參川雅連，貫仲豆根茯（苓）砂（仁）草（甘草），滑（石）</p>
<p>寒水（石）</p>
<p>月石腎熱湯載《千金翼》，能治耳聾流膿血。磁（石）牡（蠣）芍（藥）甘（草）鮮地黃，麥冬術（白朮）</p>
<p>麥門冬湯粳米生，麥（冬）同薑汁炒煎成。火盡水溢高原位，腫滿喘浮煩渴尋。</p>
<p>琥珀茯苓（湯）療便數，五苓（散）六一（散）合煎斟。</p>
<p>葳蕤湯是清散劑，《活人》為治風溫制。白薇玉竹葛（根）羌（活）芎（川芎），麻黃甘（草）</p>
<p>膏（枇杷葉散（《太平惠民和劑局方》）陳（皮）朴（厚朴）丁（香），麥冬甘草白茅根，香薷木瓜薑煎冷香飲子甘草多，附子陳皮薑草果。溫脾去渴通陰陽，霍亂躁煩脈伏可。</p>
<p>調中散用四君（子湯）全，歸（當歸）桂（心）乾薑五味（子）聯。上咳下泄心動掣，三焦不利病之白朮湯方治飧泄，厚朴當歸龍骨綴，煎加艾葉與生薑，溫固升清以調血。</p>
<p>鱉甲湯方治伏梁，地（黃）歸（當歸）柴（胡）芍（藥）桂（枝）乾薑，三棱大腹（皮）</p>
<p>均研末，煎益生</p>
<p>《聖濟》龍骨建中湯，歸（當歸）芍（藥）參（人參）　（黃　）甘（草）遠（志）瀉（澤瀉）。冤熱腹痛柏子仁（散）治腹筋急，辛潤通陽利氣方。防（風）枳（殼）歸（當歸）芎（川芎）細（辛）白朮，茯苓脾癉口甜用蘭草，《內經》論治極精詳。膽癉惟有針刺法，後賢因制益膽湯，苦參參（人參）</p>
<p>《外台》茯苓飲參（人參）術（白朮），枳實生薑廣橘皮。胸有停痰因吐水，消痰行水必扶脾。</p>
<p>禹餘糧丸十八味，蛇含（石）針砂為主宰，莪（術）棱（三棱）歸（當歸）膝（牛膝）</p>
<p>蔻（白豆蔻）</p>
<p>芎（蒸餅丸，水邪腫脹功小溫（中丸）六君（子湯）去人參，神麯苦參香附群，黃連針砂醋糊丸，陳皮生薑湯送餌。</p>
<p>濕熱中」之名義四獸飲用六君子（湯），烏梅草果薑棗佐。氣虛痰聚瘧不已，和四臟以補脾土。</p>
<p>補肝湯治寒厥痛，肉桂山萸柏子（仁）桃（仁），苓（茯苓）草（甘草）辛（細辛）防（風）兼大棗，辛熱厥心痛金鈴散，川楝（子）延胡（索）等分調。又有雪羹（湯）荸薺　（海　），肝經熱厥腹痛邀安胃湯用人參先，椒（川椒）梅（烏梅）枳實與薑連（黃連）。辛酸化肝甘和胃，肝化胃和痛嘔蠲更衣（丸）蘆薈砂（仁）麥冬，廣腸堅結便難通。結在腸頭非在腹，滋柔下奪並有功。</p>
<p>此丸大苦人參散治午前熱，異功（散）逍遙（散）再加葛（干葛）。午後發熱白朮湯，四君（子湯）柴（胡）</p>
<p>澤烏骨雞丸用八珍（湯），鱉甲青蒿酸棗仁，地骨（皮）丹皮杞（枸杞子）麥（冬）附（子），除蒸退熱玉燭散乃重方義，四物湯合調（胃）承氣（湯）。經閉腹痛而善飢，通瘀泄熱斯無弊。</p>
<p>體肥不孕啟宮丸，二陳（湯）曲（神麯）術（白朮）附（香附）芎（川芎）攢。瘦胎飲用枳（殼）芩（黃</p>
<p>《婦人良方》鉤藤湯，螈　胎動服之康。桑葉參（人參）歸（當歸）桔（梗）茯神，或益芩（黃芩）</p>
<p>天仙藤散治子氣，香附陳（皮）甘（草）烏藥承，蘇葉木瓜薑作引，天仙藤即木香藤。</p>
<p>子腫《全生》白朮丸，五皮飲（桑白皮、陳橘皮、生薑皮、大腹皮、茯苓皮，加燈芯煎。）</p>
<p>內魚片子煩竹葉（湯）參（人參）茯苓，麥冬知母與黃芩。</p>
<p>子嗽紫菀（湯）天冬杏（仁），甘（草）桔（梗）竹茹桑白皮。</p>
<p>安營（散）參（人參）麥（冬）甘（草）歸（當歸）辛（細辛），燈草滑（石）通（草）</p>
<p>治子淋。</p>
<p>地黃煎（孫思邈《千金要方》）用荊（瀝）竹瀝，酥薑地骨（皮）地黃汁，天冬參（人參）茯（苓）</p>
<p>大安胎飲用建蓮子，台州青苧白糯米。小產由傷肝腎脾，服此永無墮胎慮。</p>
<p>《千金》神造湯真妙，阿膠蟹爪生甘草，東流水煮葦薪炊，死胎可下生可保。</p>
<p>補脬飲用生黃絹，白丹皮根白芨片。服此藥時勿作聲，脬傷淋瀝真良驗。</p>
<p>丹溪朱氏參朮膏，參（人參）術（白朮）苓（茯苓）草（甘草）陳（皮）　（黃　）桃（仁）。產難胞損成回生丹用米醋熬，蘇木黑豆大黃膏，後入八珍（湯）兼失笑（散），山棱牛膝延胡桃，蒼（術）</p>
<p>羌益母（草）</p>
<p>馬龍腦雞蘇（丸）清血熱，木通柴（胡）地（生地）先熬汁，更入連（黃連）膠（阿膠）</p>
<p>與麥冬，參（人血，消渴震靈（丹）余糧（禹餘糧）赤石脂，石英（紫石英）代赭（石）朱（砂）沒（藥）乳（香）。</p>
<p>陰不斂陽陽不宜堅白薇湯方出《本事》，當歸甘草人參使。婦人平居忽如死，病名鬱冒急煎餌。</p>
<p>椿皮丸用白芍奎，黃柏良薑各炒灰。苦以堅陰澀收脫，瘦人帶下熱多推。</p>
<p>桃仁（湯）治　槐角子，艾葉大棗四般是。蟲蝕腸胃能殺人，此方治　出巢氏。</p>
<p>定癌散用兩頭尖，土楝（子）峰房各　研。瘍毒根深在臟腑，乳癌非此不能痊。</p>
<p>抱龍丸方共有四，驚風隨證相參治。辰砂抱龍（丸）驚入心，金箔麝（香）雄（黃）膽（星）竺（天枳（殼）芍（白芍）</p>
<p>蠶（僵蠶）</p>
<p>星，天竺（黃）檀沉香天麻丸《寶鑒》，烏（川烏）附（黑附）甘（草）歸（當歸）羌（活）獨（活）防（風），半夏僵蠶益雄（黃）檳（榔丸）白礬治蟲痛，時作時止時輕重。</p>
<p>使君子丸檳榔星（天南星），蟲積勞黃腹蠱腫。喜食糖茶米土等，隨其所喜和丸送。</p>
<p>玉樞丹能萬病解，卻邪解毒是其長。五倍子與千金子，大戟山慈菇麝香。（一名紫金錠，又可寒阻靈竅蘇合（香）丸，木（香）丁（香）沉（香）薰（陸香）麝（香）冰（片腦）安（息香），犀角朱砂香小活絡丹川（烏）草烏，膽星地龍乳（香）沒（藥）符。經絡夾痰並死血，酒丸吞下自能除。</p>
<p>續骨大活絡丹五十味，四君（子湯）四物（湯）為首務。羌（活）防（風）辛（細辛）葛（根）</p>
<p>桂（官桂）</p>
<p>麻黃蔻（白蔻）青（皮）烏（藥）</p>
<p>麝（香）</p>
<p>犀（角）</p>
<p>芩，靈仙松脂足神虛養真（丹）治癱瘓，四物（湯）天麻羌活纘。除麻（天麻）加防（風）名補肝（丸），便難眩暈風桃仁紅花四物湯，臟血便秘瘀血將。更加竹瀝與薑汁，左偏不遂服之良。</p>
<p>牽正散治口眼歪，白附（子）僵蠶全蠍偕。外用蓖麻鱔血裱，改容膏亦治歪斜。（《醫方集鱔魚史國（公）藥酒治風痹，歸（當歸）術（白朮）羌（活）防（風）艽（秦艽）牛（膝）</p>
<p>萆（　），仲（杜仲）杞嚴氏蠲痹（湯）治三氣，乘虛阻襲而為痹。羌（活）防（風）薑（片子薑黃）去三氣邪，歸（當歸）</p>
<p>香港腳雞鳴散周氏，木瓜薑（生薑）橘（皮）吳茱萸，檳榔桔梗紫蘇葉，五更冷服香港腳除。</p>
<p>舒筋飲用片薑黃，歸（當歸）芍（白芍）桐皮甘（草）術（白朮）羌（活），沉香少許薑三片，氣血凝死血作淋牛膝膏，酒浸牛膝當歸梢，桃仁生地赤芍藥，麝香琥珀研末調。</p>
