<header><h1>增訂醫方歌訣</h1></header>
<dl class="元資料" data-type="book">
<div><dt>作者</dt><dd>王泰林</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1644/1911">公元1644年至公元1911年</data></dd></div>
</dl>
<h2>補益之劑</h2>
<p>（此中間有錯字，因無副本可勘，暫仍其舊。）</p>
<p>麋茸丸（麋茸一兩，鹿茸亦可。）著許學士，（《普濟本事方》）羊腎（二對，用酒浸，煮爛去（少陰所謂正治之良圖。）小便失禁菟絲（子）丸，（嚴用和《濟生方》）蓯蓉麋茸並五味（子），雞（內）金附子桑螵蛸，升舉督脈護陽氣。失禁諸方多用澀，惟此獨得尋源計。然必佐以芳香品，入陰升陽乃克濟。入陰芳香是何類？杜仲茴香破故輩。（古方惟用固澀，或兼通太陽，究非尋源探本之法。蓋小便癃秘，則用附子等獨折太陽之氣化；若夫不約，則三焦俱澈矣，獨折太陽亦無益也，當舉督脈之陽，以保護諸陽之氣，故麋茸為必需之藥，然必佐以芳香入陰之品，乃能抵下焦而升陽，如茴香、杜仲、破故紙之類。）柴胡四物（湯　地、芎、歸、芍各一錢半。）參（人參）　（黃　）草（甘草），（各三錢。疏通少陽。一方有半夏三錢。）和衛調營達少陽最用原物清一，加入腑可</p>
<h2>發汗之劑</h2>
<p>越脾湯越脾中氣，發汗生津涼散委，（越脾者，發脾之津氣而為汗，乃漸發汗於不發之中，腫脈洪浮篇》云：「風水惡風，一身悉腫，脈浮不渴，續自汗出，無大熱，越脾湯主之。」按：此條原文，頗有舛錯，從來注者，多胡蘆提過。風水者，風中肌膚，津氣不行，一身暴腫，有似於水，故曰「風水」，其實非因於水也。故又云：「風水脈浮，裡水脈沉」，便可見矣。蓋風為陽邪，肺、脾、胃三經受風熱之陽邪，閉郁其汗液而為病，必兼煩渴無汗易喘見象，與此湯清火而發汗之旨合符。《金匱》風水一門，證多錯雜，讀者自會之可耳。）又有越脾加朮湯，裡水亡津渴者餌。（《金匱要略‧水氣篇》云：「裡水者，一身面目黃腫，其脈沉，小便不利，故令病水。假令小便自利，此亡津液，故令渴。越脾加朮湯主之。」按：風水脈浮當發汗，裡水脈沉當分利，此正法也。而裡水亦用發汗者，蓋小便自利，亡津口渴，裡已無水，而水在皮中，既不能下利，惟有發汗一法，使從外解，故用此湯。但加白朮實脾勝水止渴，此權變之法也。）溫邪挾飲填肺中，為脹為喘加半（夏）治。（名越脾加半夏湯，《金匱》治肺脹，咳而上氣，其人喘，目如脫狀，脈浮大者，即越脾湯原方加半夏也。）浮而且大大為陽，散邪蠲飲辛寒利。（越脾散邪之力多，蠲飲之力少，故用半夏，輔其未逮。不用小青龍湯者，以脈且大，病屬陽邪，利辛寒不利辛熱也。）若夫桂枝（二）越脾（一湯）法，脈弱無陽勿輕試。（《傷寒論太陽篇》云：「太陽病，發熱惡寒，熱多寒少，脈微弱者，此無陽也，不可發汗，宜桂枝二越脾一湯。」柯韻伯《傷寒來蘇集》云：「仲景言不可發汗，則必不用麻黃；言無陽，是無胃脘之陽，亦不用石膏。古方多有名同而藥不同者，安可循名而不審其實也。此等脈證最多，宜用柴胡桂枝湯為恰當。」）無陽是亡陽分津，喻王二子說亦是。（「無陽」二字，仲景言之不一，後人置為闕疑，嘉言謂即亡津之通稱。王晉三曰：「無陽乃陽分亡津之謂，故用桂枝湯二分行陽，一分行陰。」其說亦是。）然必煩渴脈不微，熱多寒少乃克恃。（柯韻伯《傷寒來蘇集》云：「此湯可以治太陽陽明合病，熱多寒少而無汗者」</p>
<p>，「然必兼見煩渴之證，脈雖不長大浮緩，而不微弱者宜之。」）甘草麻黃（湯）治裡水，水從汗解斯方美，（《金匱要略‧水氣病篇》云：「水病發其汗即已。」）麻（黃）得甘草入中焦，散水和脾厥有旨。（麻黃得甘草，引經入中焦，能散水和脾，取水穀之津為汗，深得厥旨。）脈沉小者屬少陰，溫固必須加附子，（名麻黃附子湯。《金匱要略‧水氣病篇》云：「水之為病，其脈沉小屬少陰，宜此湯。」）不使麻黃入腎經，汗不傷陰水自已。（熟附溫腎固液，不使麻黃深入腎經，劫液為汗，則水去而汗不傷陰。）《水氣門》中三十五條，證多錯雜難法腫水）惡風無汗汗之宜，小便不利利之是。（此要訣也）脈沉雖寒必溫經，（水氣脈沉，當利小便；若兼惡風無汗之表證，亦當發汗，然必佐以固裡溫經之藥，如麻黃、附子是也。）脈浮而下須兼使。（水氣脈浮，在表，當發其汗，使水氣從毛竅而出；若兼小便不利，法當利小便，使水氣從上而下，然必兼解其表，五苓散之屬是也。）三拗湯（《太平惠民和劑局方》）中用法拗，杏仁不去皮尖搗，麻黃留節甘草生，（麻黃留節，發中有收。杏仁留尖，取其發；連皮取其澀。甘草生用，補中有發也。）風寒喘嗽服之好。（治感冒風邪，鼻塞咳嗽痰多，胸滿氣短。）倉廩散治噤口痢，（下痢不欲食，名曰「噤口」，此乃胃中濕熱蘊蒸清道所致。）人參敗毒（散）加陳（倉）米。（人參敗毒散發濕熱之邪，升清化濁，加陳米充脾胃之氣。）或用人參與石蓮，煎湯灌呷亦能濟。（名人參石蓮湯）痢後大渴脾氣虛，單煎陳米湯（王肯堂《證治準繩》）可已。</p>
<h2>攻下之劑</h2>
<p>海蛤散（許叔微《普濟本事方》）治血結胸，（治婦人傷寒血結胸膈，痛不可近者。陶節庵大便（每服二中；雞子清調服，則不傷肺胃之陰，允為傷寒邪熱熾絡，血痹著上焦之良治。王海藏治血結胸，有桂枝紅花東加海蛤、桃仁，原欲表裡上下一齊盡解之意，然總不如此方之妙。）結胸灸法（許叔微《普濟本事方》）誠良妙，巴豆（十四枚）黃連（大者七寸）和成膏，填入臍心用艾灸，腹中鳴響結胸消。（上藥為末，水調和，填入臍心，以艾灸其上，腹中有聲，其病去矣。不拘壯數，病退為度。才灸了，便以溫湯浸手帕拭之，恐生瘡也。此法穩妙，凡胸中病，俱可依此為治。）十棗湯（張仲景《金匱要略》）用芫（花）遂（甘遂）戟（大戟），（各等分，為末，大棗十枚煮湯煎藥。）峻攻水氣威靈赫，下利胸脅痞硬痛，汗出短氣乾嘔逆，（諸證皆水氣為患。仲景利水之方，種種不同，此其最峻者也。）積痰伏飲並蠲除，（痰飲皆水之化，水為火結則為痰，水為寒凝則為飲，治見《金匱要略‧痰飲門》。）羸弱虛人勿輕擲。或益黃柏與大黃，小胃丹（朱震亨《丹溪心法》）治痰熱膈。（治老痰頑痰，壅塞胸膈，喘急氣粗，大便秘結。此方藥力甚猛，壯實人痰飲最宜，老弱均忌。）三一承氣（湯）節庵訂，大小調胃（承氣湯）三法乘。（治傷寒腹滿實痛，譫語下利，內熱不便，中風僵仆風癇。此方合三承氣湯為一，而重用甘草，攻補兼施，最得仲景之秘。）再加柴（胡）芩（黃芩）鐵鏽水，墜熱開結（名）</p>
<p>六一承（氣湯）。黃龍湯治熱結利，（胃有燥屎，口渴而反下利清水，名熱結利，乃口飲湯而下滲也。）三一承氣（湯）人參增，當歸桔梗兼薑棗，陽明實證體虛征。（年老氣血虛者，去芒硝。</p>
<p>）《活人》（朱肱《傷寒類證活人書》）亦有黃龍湯，柴（胡）芩（黃芩）參（人參）草（甘草）四般稱。（小柴胡湯去半夏、薑、棗，治妊娠寒熱如瘧，產後傷風，病後勞復熱不解。）</p>
<h2>和解之劑</h2>
<p>桂枝湯（張仲景《傷寒論》）為和方祖，（桂枝湯和方之祖，故列於首也。）芍藥（三兩　桂枝形充胃氣不寒眼。）又有服（桂枝凝結於太陽之要路，則不可下，下之為外而引之入陰，止方從外解和。</p>
<p>利清穀，則以扶表解（乃可）攻痞切莫訛枝辛熱，酒客桂（枝）二麻（和營止（腹）痛於除煩，煩止（治傷寒脈得之便厥。</p>
<p>緩急止痛。</p>
<p>熱也）又有芍（藥）</p>
<p>兆已見。</p>
<p>芍藥安內，浮越之陰。</p>
<p>子一枚去黃，納更作三劑瘡難語即疳蛾全賴苦</p>
