<header><h1>萬氏秘傳片玉心書</h1></header>
<dl class="元資料" data-type="book">
<div><dt>作者</dt><dd>李子毅</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1644/1911">公元1644年至公元1911年</data></dd></div>
</dl>
<h2>卷一</h2>
<h3>活幼指南賦</h3>
<p>小兒方術，號日啞科，口不能言，脈無可施，惟形色以為憑。竭心思而施治。故善養子者，似類龍以調護，不善養子者，如舔犢(1)而愛惜。愛之愈勤，害之愈急。乍頭溫而足冷，忽多啼而不乳，差之毫釐，失之千里。此小兒方術專門，以補化工之不及。湯胃脆薄兮，飲食易傷，筋骨柔弱兮，風寒易襲，父母何知。看承大弛(2)。重綿厚襖，反助陽以耗陰;流歡放飯，徒敗脾而損宙。聞異聲，見異物。失於堤防;深其居，簡其出，過於周密。未期而行立今，喜其長成;無事而嘻笑兮，謂之聰薏。一旦病生，雙親心戚，不信醫而信巫，罔求醫(3)而求鬼，乃人事之弗修，謂天命之如此。</p>
<p>欲觀氣色，先分部位：左頰(4)兮青龍屬肝;右頰(5)兮今白虎屬肺。天庭高而離陽心火;地角低而坎陰腎水。鼻在面中，脾通土氣(6)。觀乎色之所現，知其病之所起引(7)。又況脾應乎唇，肺通乎鼻，舌乃心苗，目為肝液，胃流注於雙頤(8)，腎開竅於兩耳，爪則筋餘，而脾為之運，發則血餘，而腎為之主，脾司手足，腎運(9)牙齒，茍本臟之或衰，即所屬之先憊。能辨形色兮，似挺撞鍾;若昧朕兆兮，如石投水。</p>
<p>凡觀乎外，可知其內。紅色瑰而熱蒸;青色露而驚悸。如煤之黑兮，中惡(10)之因。似橘之黃兮，脾虛之謂。白乃疳癆;紫為熱極(11)。青遮口角，扁鵲難醫;黑掩太陽，盧醫莫治。年壽赤光兮，多生膿血，山根青色兮，頻見災危。能察色以知由，豈按圖而索驥。</p>
<p>朱雀(12)貫於雙瞳兮(13)，火入水鄉。青龍(14)續於四白兮,肝乘脾胃。洩痢而帶黃者(15)須防，咳嗽而拖藍者可畏。腹痛方殷，常面青而唇掇。惊風欲發，先頰赤而目瞪。火光焰焰兮，外感風寒。金氣浮浮兮，中藏癖積。乍黃乍白兮，疳熱連綿;又青又赤兮，風邪緊急。察之既精，治之得理。鴉聲魚口。枉費心機。肉折皮乾，空勞氣力。</p>
<p>氣色改移，形容變易。氣乏則囪門成坑，血衰則頭毛作穗。</p>
<p>眼生哆目兮，肝風澀目，口流涎沫兮，脾冷滯頤。面目虛浮，定膨脹而氣喘;眉毛顰蹙，則肚痛以多啼。蚘蛔兮脾胃漸敗，匱瘡兮肛臟先虧。茍瞑眩而弗療，縱神仙亦何益。</p>
<p>手如數物兮，驚風將發!面如塗朱兮，心火已熾。坐臥愛冷兮，煩熱之攻;伸縮就煖兮，風寒之畏。肚大腳小，脾欲困而成疳，眼睜(16)口張，勢已危而必斃。弄舌脾熱。解顱腎憊。重舌木舌，蓋熱積於心脾;哽氣喘氣，實火浮於肝肺。釀宜息露。必是牙疳。哺露丁奚，多緣食積，唇乾作渴，腸鳴自利。夜啼分為四症‧變蒸周於一歲。心熱欲言而不能，脾虛無時而好睡。病後失聲者腎怯，咳後失聲者肺痿。肚痛而清水流出者蟲，腹痛而大便酸臭者積。口頻撮而脾虛，舌長伸而火熾。龜胸是肺火脹於胸膈。龜背乃腎風入於骨髓。鼻乾黑燥兮，火盛金衰，肚大筋青兮，木強土潰。</p>
<p>丹瘤瘡疥，皆胎毒之流連，吐瀉瘧痢，乃積食之沾滯。不能吮乳者，熱在心脾;嘗欲俯臥者。火蒸腸胃。喜視燈火，煩熱在心，愛吃泥土，疳熱在脾。腹痛寒侵，口瘡熱積。臍風忌於一臘。火丹畏於周歲。驚自熱來，痢因痰致。吐洩而精神耗者則危，瘧痢而飲食減者必瘁。</p>
<p>驚本心生，風由肝致。搐分左右兮。證有順逆，藥分補瀉兮，病有虛實。急驚由於積熱之深，涼洩便宜，慢驚得於大病之後，溫補為貫。頭搖目竄而氣喘兮，上工莫醫;口禁鼻張而足冷兮，神丹何濟。閉目者無魂(17)，狂叫這多祟(18)。不知吞吐者，必見閻羅;反加悶亂者，終歸蒿裡。既明症候，須知調理。</p>
<p>胎毒用甘草、黃連，食積用白朮、積實。急驚搐掣，以導赤洩青;慢驚嚷契從，以補中益氣。集巠去疳，備急治積。抱龍丸化痰鎮驚，胃苓丸補脾開胃。夜啼須退熱清心，哺熱必養血升提。</p>
<p>理中止洩，香連止痢。積熱不除，涼驚丸大有補效(19)，沉寒難療，養脾丸最為密秘。痰火攻兮三黃丸，水穀不化兮一粒丹(20)。</p>
<p>柴芩治瘧，月蟾消痞。潮熱金花，咳嗽玉液。瘡疥者胡麻。丹瘤著涼膈。吐瀉而渴著，白朮可投;煩熱而渴者(21)，益元為最。</p>
<p>斑疹兮消毒，腹痛兮脾積。衄血，咳血者茅花，重舌、木舌者針刺。口瘡不愈者洗心，腹脹不食者平胃。五拗(22)治喘，四苓利水。退黃消腫，胃苓加減以堪行;破積安蟲，集巠從容而可治。</p>
<p>大抵嬰兒，易為虛實，謂理最取其平，補瀉無過其劑，尤忌巴牛，勿多金石。辛熱走氣以耗陰，苦寒敗陽而損胃。如逢食積，解之不可或遲;若遇虛贏，補之尤為至急。才少俄延，便成勞斃。</p>
<p>注：(l)舔犢：山東泰安州李雨霑方悅父發梓版為"抵犢"。</p>
<p>(2)大弛：山東秦安州李雨霑方悅父發梓版為"太弛"。</p>
<p>(3)求醫：山東泰安州李雨霑方悅父發梓版為"求藥"。</p>
<p>(4)原書注：左頰即左顴骨。</p>
<p>(5)原書注：右頰即右顴骨。</p>
<p>(6)脾通土氣：山東泰安州李雨霑方悅父發梓版為"脾土通氣"。</p>
<p>(7)知其病之所起：山東秦安州李雨霑方悅父發梓版為"知乎病之所起"。</p>
<p>(8)原書注：雙頤即頰之兩旁。</p>
<p>(9)腎運：山東泰安州李雨霑方悅父發梓版為"腎連"。</p>
<p>(l0)原書注：中惡即病之極。</p>
<p>(11)熱極：山東秦安州李雨霑方悅父發梓版為"熱急"。</p>
<p>(12)原書注：朱雀即心經，心屬火。</p>
<p>(13)原書注：瞳仁屬水，火入水鄉，即火剋水。</p>
<p>(14)原書注：青龍即肝經，肝屬木。四白屬脾。</p>
<p>(15)泄痢而常黃者：山東秦安州李雨霑方悅父發梓版為"泄痢而帶陽者"‧(l6)眼睜：山東秦安州李雨霑方悅父發梓版為'眼撐'。</p>
<p>(l7)無魂：有的抄本為"神疲"。</p>
<p>(18)多祟：有的抄本為"驚悸"。</p>
<p>(19)補效：山東秦安州李雨霑方悅父發梓版為"神效"。有的手抄本為"功效"。</p>
<p>(20)一粒丹：山東秦安州李雨霑方悅父發梓版為"金丹一粒"。</p>
<p>(21)煩熱而渴者：漢陽鶴謂張伯琮校定版為"煩渴而熱者"。</p>
<p>(22)五拗：編者注，即三拗湯加生石膏，茶葉。</p>
<h3>慈幼敬心賦</h3>
<p>醫門治例，幼科最難。腸胃脆而多傷乳食，筋骨嫩而易感風寒。易虛易實兮，變如反掌;或補或洩兮，貴若轉丸。咸多洩腎，酸甚扶肝。苦入心而寒涼損胃，辛走肺而燥熱傷元。欲求中正。無過平甘。或病須於(1)瞑眩兮，勿犯其毒;且從治於權宜兮，但取其能。中病即已，救本為先。茍誤投於湯藥，即便致於損殘。此上工誓於活人，而良醫驗於折耾(2)！嘗聞法無一定，但佔症候;醫不三世，勿服湯丸。病者詳於擇術，醫者務於救痊。視疾若己，見利勿貪。先察運氣兮，陽明妙契;次觀形色兮，順逆了然。春夏陽而苦寒可用，在夫人之勇健;秋冬陰而辛溫可參，相其人之勞疳。既溫反補，以寒再宣，七神離散，五臟虧崩。雖留心於方脈兮，何補於世;反致人於傷夭兮，獲罪於天。是故胎疾兮急於解毒，食積兮利在消疳。治分二法，效可十全。襁褓未寧，但調其母;匍匐不快，當固其元。</p>
<p>悲夫，腸胃中和，豈堪藥石;微乎，氣血稚弱，以漸發生。治非得已。病有卒然。如護風燭，心常凜凜;若惜掌珠，意惟拳拳。</p>
<p>醫可補乎司命，應無忝於家傳。</p>
<p>且如病則熱起，熱則驚生。或治熱以熱，或攻熱以寒。熱在表而柴葛解肌可飲，熱在裡而芩連消毒急煎。積熱無如集聖;虛熱妙以調元。要在識夫脈色，不可妄投湯丸，貽終身之痼疾，促嬰兒之壽元(3)。輕以變重，功不補患。徒委命於氣數，不詳審乎簡編。前車既覆，後轍猶然。魂魄游於郊野，哭聲達於洲泉。識此之故，是誰之衍?磋夫！渡蟻駕橋，放雀解樊。況伊萬物之靈，匪值一蟲之賤，不知謹密，遽爾輕捐(4)。推惻隱之良心，如見入井;考聖賢之遺訓，如弗及泉。居易虛險，因蹶知便。證隨百出，治無一偏。調變(5)造化，保養真元。善攻不如善守，宜急不若宜緩。種杏成林，踵當年之董奉;植橘名井，見今日之蘇耽。</p>
<p>奈何瀉久變痢，積久成疳，瘧久生癖，驚久成癰。未至留連兮。</p>
<p>攻之宜速;已見沉苛兮，治之且緩。腸胃閉塞兮，急洩而已;氣血虛贏兮，急補而安。外毒急攻，毌令入腹;表邪急解，毌令再傳。餘則緩而調理，常恐急而生變;若藥下咽，猶防其過，治或中病，勿張其能(6)。知者常慮一失，死者不可復全。與其悔於已誤，孰若謹於未然。欲求魚兔，當守蹄筌(7)。茍多方而治病。宜三復於斯言！(1)須於：校注者注，應為"須臾"。</p>
<p>(2)拆紘：山東泰安州李雨霑方悅父發梓版為："拆紘"。。</p>
<p>(3)壽元：山東泰安州李雨霑方悅父發梓版為"壽年"。</p>
<p>(4)輕捐：山東泰安州李雨霑方悅父發梓版為"輕泛"。</p>
<p>(5)調變：山東泰安州李雨霑方悅父發梓版為"變調"。</p>
<p>(6)勿張其能：有的手抄本作"勿強其能"。</p>
<p>(7)蹄筌：漢陽鶴湄張伯琮校定版為"蹄笙"。</p>
<h2>卷二</h2>
<h3>小兒總治法</h3>
<p>面赤發熟服涼驚，黃白發熱用胃苓。身熱便閉三黃下，瘦弱發熱集聖靈。變蒸發熱用拿法，驚風導赤吞洩青。洩瀉胃苓用一粒，熱洩玉露散同行。寒洩理中丸可服，洩渴白朮散生津。痢疾保和同香連。瘧疾養脾瘧自平;咳嗽玉液降痰氣，浮腫胃苓引燈心。蒼疥胡麻丸最好，養脾最是保孩嬰。蛔蟲寸白用集聖，臨時用藥細叮囑。</p>
<h3>小兒初生臍風</h3>
<p>初生三五日，大便血嘗來。黑色為胎糞，鮮紅實可哀。初生便嘔吐，跑漿蓄(1)胃中。物盡吐自止，不止便為兇。</p>
<p>小兒初生十日內，少乳多啼常噴嚏。急看喉中有珠泡，手法刮去免擾慮。</p>
<p>不看撮臍風，撮臍糞少通。急用解毒藥(2)，便下得從容。便閉肚膨脹，口緊咬唇青，時時手足掣，臍風枉用心。</p>
<p>腹脹不便名鎖肚，口緊不乳是噤風。目直叫哭盤腸吊，天釣(3)身仰似角弓。初生芽兒有此病，父母歡喜一場空。</p>
<h3>小兒變蒸</h3>
<p>小兒初生多變蒸，三十二日細推論。如蠶之眠添智慧，遍身發熱不惺惺。</p>
<p>變蒸休用藥，三日自然安;外感惺惺散，傷食保和丸。</p>
<p>惺惺散內用人參，甘桔川芎白茯苓，細辛少許天花粉，防風白朮九味行。</p>
<h3>小兒胎疾</h3>
<p>胎熱甘草黃連湯。胎寒去連加桂方;胎黃甘草加茵陳，胎驚辰砂一味良;胎瘦胎肥浴體法，胎怯五軟用地黃。此是家傳真口訣。兒孫記誦莫遺忘。</p>
<p>肝色多青心赤紅，脾黃肺白腎黑同。黃白疳虛黑中惡，赤紅是熱青驚風。</p>
<h3>小兒五臟部位</h3>
<p>五臟有外候，不離正面間，耳乃腎之竅，兩眼原屬肝。鼻孔肺為主，脾唇心舌尖。</p>
<p>左頰屬木肝生風，右頰屬金肺位同。額為心火賅為腎，準頭鼻土位居中。</p>
<h3>五臟外症</h3>
<p>肝主風兮目直視，悶亂叫哭不安寧。心主熱兮不得眠，驚悸飲水口舌幹。脾主困兮多好睡，吐洩(4)瘦弱病成疳。肺主氣兮多咳嗽，皮乾發枯喘綿綿。腎主虛兮胎氣弱，小兒腎弱養應難。</p>
<h3>看小兒虎口紋</h3>
<p>今人專看虎口紋，風關氣關命關分。風關病輕氣關重，命關若過死將臨。青筋紅熱黑勢惡，直輕斜曲重看云。</p>
<h3>脈法</h3>
<p>小兒一指分三位，息數須將六至看，七至八至數為熱。三至四至遲虛寒。堅實平和無病斷，細小沉遲有病春。</p>
<p>按全嬰等書云：小兒三歲已(5)前，虎口第一指上寅卯關有脈弦(6)見者，可驗病狀(7)。男左女右，視之脈弦。從寅關起不至卯關者，病易治;若連於卯關者，病難治;如寅連卯，卯過辰關者，十難救一。若脈弦小或短者，病可治。宜參視之(8)。</p>
<h3>小兒夜啼</h3>
<p>啼哭直視熱在肝，泄清一服及時安。啼哭面斥熱在心，導赤麥冬效如神。面赤四逆腹中痛，益黃散用薑湯送。夜夜見燈多拗哭，父母矯愛多不足。</p>
<h3>驚風</h3>
<p>急症驚風面赤背，目多直視不回晴。手足搐掣牙關緊，只怕昏昏再(9)不醒。</p>
<p>驚來掐人中，虎口拿總筋。洩青吞導赤，調理治涼驚。口眼若喝斜，看他左右偏，太陽頰下穴(10)，一焠自然安。</p>
<p>面色黃白神氣弱，昏睡眼閉口不合。口鼻氣冷手足冷，慢驚搐掣時時作。</p>
<p>慢驚不可醫，調元急補脾。漸醒能食吉。常昏不乳危。</p>
<h3>吐瀉</h3>
<p>吐瀉(ll)之病面皮黃，有寒有熱有食傷。面紅熱渴難謂理，手足寒時急補陽。</p>
<p>吐瀉常治法，胃苓一粒丹。脾積去食積，理中補虛寒。吐瀉多傷食，益黃散最宜。看他病咯退，胃苓再補脾。洩瀉常如是，消積功十全。</p>
<p>洩瀉作渴白朮散，人參白朮秩婁甘，木香千葛霍香葉，常與服之真格言。</p>
<p>瀉甚烏梅加入，熱甚知母門冬，虛須甘草炙用，隨症用藥不同。</p>
<h3>痢疾</h3>
<p>赤白皆是熱，眉頭常被腹中疼。身熱脈大難得退，脈小身涼容易安。</p>
<p>痢症多因積，先下木香丸，保和消滯積，止痢用香連。痢疾若不食。噤口痢必殘。急用香連散，能食保平安。</p>
<h3>小兒瘧疾</h3>
<p>瘧疾之色多黃黑，病至作寒又作熱，早瘧日來容易退，晚虐間日(12)治宜急。</p>
<p>初瘧要吐痰，斬鬼及常山。久瘧不可截，養脾功十全</p>
<h3>咳嗽</h3>
<p>形寒(13)飲冷即傷肺，咳嗽病來多痰氣。面青氣促怕生驚，面白胸高還不吉。</p>
<p>初咳要發表，五拗並九寶。氣實葶厲宜，肺虛阿膠好。嘗服玉液丸，桔梗同甘草。</p>
<p>五拗用麻黃，杏仁甘草強。石膏臘茶葉，發汗是奇方。</p>
<p>九寶蘇葉配麻黃(14)，薄荷陳皮杏桂良，大腹桑白同國老(15)，烏梅加入細參詳。</p>
<h3>疳癆</h3>
<p>面色黃白是疳癆，肚大頸細頭發焦，折乳傷食大病後，只伯時時熱來潮。</p>
<p>疳癆(16)無多法，集聖初如神。面色轉紅活，相間服胃苓。</p>
<p>潮熱如不退，只防作慢驚。</p>
<h3>傷食</h3>
<p>傷食發熱面赤紅，惡心腹脹痛時攻，露身伯熱不恩食，症與傷寒大不同。</p>
<p>傷食宜調解，藿香散最宜，保和同與服，病退再養脾。若是成驚搐，惟有下為奇。</p>
<p>傷食發熱用藿香，蘇葉香附樸陳蒼，半夏黃連甘草曲，茯苓引子用生薑。</p>
<h3>傷風</h3>
<p>傷風發熱面色赤，煩悶不困不思食，喜人煨抱畏風寒，作渴便秘(17)裡必實。</p>
<p>惡寒病在表，敗毒拿法好。裡實三黃丸，驚來瀉(18)青時。</p>
<p>敗毒(19)發表用羌防，升麻柴葛解肌良(20)，前胡積殼甘草桔，蘇葉人參用成湯(21)。</p>
<h3>浮腫</h3>
<p>小兒浮腫因風濕，久瘧脾虛亦有之。上身主風下主濕，養脾一法少人知。</p>
<p>遍身著浮腫，胃苓丸裡求。避風行浴法，切莫用牽牛。</p>
<p>肚大有青筋，燈火叉處燒(22)，內服集聖丸，胃苓宜相兼。</p>
<h3>口瘡</h3>
<p>小兒鵝口瘡，白屑珠礬良。赤瘡薑連散。洗心是奇方。</p>
<p>洗心散內用麻黃，荊芥薄荷赤芍當，白朮將軍同國老，臨時煎服入生薑。</p>
<p>牙根爛成瘡，走馬疳可防。出血又作臭，蚊蛤散宜良。</p>
<p>小兒口流涎，滯頤脾虛寒。益黃加蒼朮，不治必成疳。</p>
<h3>疥瘡</h3>
<p>遍身疥瘡是何因，血熱由來胎毒成。痛癢不安多夜哭，切莫入腹命歸冥。</p>
<p>疥瘡不宜搽，胡麻丸最佳。入腹宜解毒，驚來莫治他。</p>
<h3>染症</h3>
<p>小兒吃泥土。脾熱用瀉(23)黃，集聖相間服，疳成不可當。</p>
<p>小兒合面睡，原來熱在心。只用導赤散，瀉(24)心與涼驚。</p>
<p>小兒多白尿(25)，落地如米泔。胃苓鹽湯送，數服解擾煎。</p>
<p>小兒大便清(26)，邪熱在肝經。只用瀉(27)青丸，此法效如神。</p>
<p>小兒糞焦黃，邪熱在脾鄉。誰知瀉(28)黃散，端的是奇方。</p>
<p>吐瀉瘧痢病在脾，驚風心肝兩經為。咳嗽哮喘病在肺，發稀骨軟腎元虧。</p>
<h3>五軟病症</h3>
<p>如小兒五軟，有胎元(29)不足軟者，有大病後軟者，有誤(30)服涼藥軟者。胎或稟軟者，地黃丸主之;大病後軟者，參苓白朮丸主之;誤服涼藥軟者，加味八味地黃丸主之。</p>
<p>以上三症，若不急治，有傷真元，久則成痿，以至不可治者多矣。</p>
<p>注：(1)蓄：原書為畜。校注者改。</p>
<p>(2)解毒藥：山東泰安州李雨霑方悅父發梓版為"解毒散"。</p>
<p>(3)天釣：山東泰安州李雨霑方悅父發梓版為"天吊"。</p>
<p>(4)泄：漢陽鶴湄張伯琮校定版為"瀉"。</p>
<p>(5)已：古與"以"通。下同。</p>
<p>(6)古紘與"弦"通。下同。</p>
<p>(7)可驗病狀：山東泰安州李雨霑方悅父發梓版為"可驗病伏"。</p>
<p>(8)宜參視之：漢陽鶴湄張伯琮校定版為"宜參觀之"。</p>
<p>(9)再：漢陽鶴湄張伯琮校定版為"睡"。</p>
<p>(10)頰下穴：山東泰安州李雨霑方悅父發梓版為"頰了穴"。</p>
<p>(11)瀉：山東泰安州李雨霑方悅父發梓版為"泄"。</p>
<p>(l2)間日：山東泰安州李雨霑方悅父發梓版為"間來"。</p>
<p>(13)形寒：山東泰安州李雨霑方悅父發梓版為"行寒"。</p>
<p>(14)麻黃：漢陽鶴湄張伯琮校定版為"麻脈黃"。</p>
<p>(15)國老：甘草的別名。</p>
<p>(16)疳癆：原書為"疳症"，校注者改。</p>
<p>(17)便秘：漢陽鶴湄張伯琮校定版為"便閉"。</p>
<p>(18)瀉：山東泰安州李雨霑方悅父發梓版為"泄"。</p>
<p>(19)敗毒：漢陽鶴湄張伯琮校定版為"牛正"。</p>
<p>(20)解肌良：山東泰安州李雨霑方悅父發梓版為"解肌涼"。</p>
<p>(21)蘇葉人參用成湯：漢陽鶴湄張伯琮校定版為"殼葉苓芩始成湯"。</p>
<p>(22)叉處燒：山東泰安州李雨霑方悅父發梓版為"叉處焠"。校注者注：叉處即"虎口"。</p>
<p>(23).（24).(27)、(28)、瀉：山東泰安州李雨霑方悅父發梓版為"泄"。</p>
<p>(25)白尿：漢陽鶴湄張伯琮校定版為"白溺"。</p>
<p>(26)大便清：山東泰安州李雨霑方悅父發梓版為"大便青"。</p>
<p>(29)胎元，山東泰安州李雨霑方悅父發梓版為"胎稟"。</p>
<p>(30)悟：古與誤同，下同。</p>
<p>12</p>
<h2>卷三</h2>
<h3>水鏡訣</h3>
<p>夫陰陽運合，男女成形，已分九竅四肢，乃五臟六腑。部位各分，順逆難明。若憑寸口之浮沈，必乃橫亡於孩子。須明虎口，辨別三關，參詳用藥，必無差誤。未至三歲，只(1)看虎口，男左女右，從第二指第一節名風關，若脈見，初交病;第二節為氣關，脈見，則難治;第三節為命關，脈見，則死。又當辨其色，若三關青，四足驚，三關赤，水驚;三關黑。人驚。紫色泄痢!黃色雷驚。三關脈通度，是急驚之症，必死，餘病可治。或青或紅，有紋如線一直者。是乳食傷脾及發熱驚;左右一樣者，是驚與積齊發。有三條，或散是肺生風痰，或似拘蛤聲，有育是傷寒及嗽，如紅火是瀉，有黑相兼主下痢。紅多白痢‧黑多是赤痢;有紫相兼加渴不虛。虎口脈紋亂，乃氣不和也。蓋脈紋見有色(2)著，曰黃、紅、紫、青、黑，由其病甚。色能加變。如黃紅之色，紅盛作紫;紅紫之色，紫盛作青，紫青之色，青盛作黑;青黑之色，至於純黑之色者，不可治矣。又當辨，長珠形，主夾積傷滯，肚腹疼痛，寒熱，飲食不化，來蛇形，主中腕不和，積氣攻刺，臟腑不寧，乾嘔。去蛇形，脾虛冷積洩瀉;神困多睡。弓反裡形，主感寒熱邪氣，頭目昏重，心神驚悸、倦怠，四肢稍冷，小便赤色。弓反外形，主痰熱，心神恍惚。作熱，夾驚夾食，風癰證候。錀形、主邪熱，痰盛生風，發搐驚風。魚骨形，主驚痰熱。水字形，主驚，積熱煩躁，心神迷悶，夜啼痰盛，口噤搐攘弱。針形，主心肺受熱，熱極生風，驚悸煩悶，神困不食，痰盛搐弱。透關射指，主驚。風、痰、熱四症，皆聚在胸膈不散。</p>
<p>透關射指，主驚風惡侯，受驚傳入經絡，風熱發生，十死一生，難治。此十三位形脈，悉有輕重，查其病根，則詳其症。</p>
<h3>指掌形圖</h3>
<p>虎口者，叉手處是也。</p>
<p>三關者，二指三節是也。</p>
<p>風關，第一節寅位是也。</p>
<p>氣關，第二節卯位是也。</p>
<p>命關，第三節辰位是也。</p>
<p>辰關，指頭上節。</p>
<p>卯關，指中節。</p>
<p>1.風關(寅位)　2.氣關(卯位)　3.命關(辰位)　4.虎口男以左手測看之。女以右手測看之。</p>
<p>圖：指掌圖形寅關，指下節。</p>
<p>命關死候。</p>
<p>氣關病深。</p>
<p>風關易治。</p>
<p>末關命門。</p>
<p>中關氣候。</p>
<p>初關風侯。</p>
<p>凡嬰兒生下一月至三歲以前，須著虎口脈次指，辰節為命關，次氣關，次風關。所渭初得風關，病猶可，傳入氣命，病難存(3)。湯氏云：小兒初生至五歲，血氣未定，呼吸至數太過，必辨虎口脈色，方可察病之的實。男驗左手，女驗右手。蓋取左手屬陽。男以陽為主，右手屬陰，女以陰為主。然男女一身均具此陰陽，左右兩手亦當參驗。左手之紋，病應心肝;右手之紋，病應肺脾。知此捎息，又得變通之意。驚風初得，紋出虎口。或在初關，多是紅色。傳至中關，色赤而紫。看病又傳過，其色紫青，病勢深重;其色青黑而紋亂者，病深重。若見純黑，危惡不治。大抵紅者風熱輕，赤者風熱甚，紫者驚熱，青者驚積。青赤相半，驚積風熱俱有，主急驚風。青而淡紫，伸縮來去，主慢驚風。或紫系。青系、黑系，隱隱相染(4)，似出不出，主慢脾風。</p>
<p>脈紋從寅關起，不至卯關者，病易治。若連卯關者，有病難治。</p>
<p>如寅關連卯關，侵過辰關者，十難救一。若脈紋小或短者，看病不妨。如紋勢彎曲入裡者，病勢雖重而症順，猶可用力。紋勢灣(5)反出外，駸駸靠於指甲者，斷不可回。其有三關紋，如流珠流來，三五點相連，或形於面，或形於身，危惡尤甚。</p>
<h3>入門候歌三百</h3>
<p>五指稍頭冷，驚來不可安。若逢中指熱，必定是傷寒。</p>
<p>中指獨自冷，麻痘症相傳。女右男分左，分明仔細看。</p>
<p>初起寅關淺，紋侵過卯深。生枝終不治，辰位實難禁。</p>
<h3>辨虎口指脈紋訣</h3>
<p>氣紋黃盛作紅，紅盛作紫，紫盛作青，青盛變黑，純黑則難治矣。</p>
<p>黃色無形者。即安樂脈(6)也。紅若無形，亦安寧脈。止有前數樣形者，即病之脈。次第而變，初作一點，於氣多紅，脈至風關，其病危急，純黑分明，不可療治。</p>
<p>左有紅紋似線形。定知發熱又兼驚。右有雙紋如左狀，脾傷驚積一齊生。紋頭有似三叉樣，肺氣生痰夜作聲。青赤應是傷寒症，只是空紅泄定生。</p>
<p>又　歌虎口亂紋多，須知氣不和。色青驚積聚，下乳洩如何。</p>
<p>青即慢驚發，入掌內釣多，三關忽通過，此侯必沉苛。</p>
<p>指上辨青紋，認是四足驚。虎口脈青色，是豬犬馬驚。</p>
<p>黑色因水撲(7)，赤色火人驚(8)，紫色多成瀉(9)，黃色是雷驚(10)，曲反風還盛(11)，彎弓食上蒸(12)。但看叉手處，方可辨其形。</p>
<p>凡小兒三歲以上有病，深重危急者，指甲口鼻多作黑色。蓋兒脈絕神困(13)。症候惡極，雖有良藥，斷斷乎不可保矣(14)。</p>
<p>額、印堂、山根論歌額紅大熱燥，青色有肝風。印堂青色見，人驚火則紅。</p>
<p>山根青隱隱(15)，驚遭是兩重，若還斯處赤，洩燥定相攻。</p>
<h3>年壽論歌</h3>
<p>年上微黃為正色，若平更陷夭(16)難禁。忽有黑色痢疾侯，藿亂吐瀉(17)黃色深。</p>
<h3>鼻准論歌</h3>
<p>鼻准微黃赤白平，深黃燥黑死難生。人中短縮吐因痢，青黑驚風盡死形(18)。</p>
<h3>正口論歌</h3>
<p>正口常紅號曰平(19)，燥乾脾熱積黃生。白主失血黑繞口。</p>
<p>唇反黑侯蛔必傾(20)。</p>
<h3>承漿、兩眉論歌</h3>
<p>承漿青色食時驚，黃多吐逆痢紅形。煩躁夜啼青色吉，久病(21)眉紅死症真。</p>
<h3>兩眼論歌</h3>
<p>白睛青色有肝風，若是黃時有積攻。或見黑睛黃色現，傷寒病症此其宗。</p>
<h3>風池、氣池、兩頤論歌</h3>
<p>風氣兩池黃吐逆，煩躁啼哭色鮮紅。更有兩頤胚樣赤，肺家客熱此非空。</p>
<h3>兩太陽論歌</h3>
<p>太陽青色驚方始，紅色赤淋萌孽起。要知死症是如何，青色從玆生入耳。</p>
<h3>兩臉論歌</h3>
<p>兩臉黃為痰實咽，青色客忤紅風熱。傷寒赤色紅主淋，二色諸詳分兩頰。</p>
<h3>兩頤、金匱、風門論歌</h3>
<p>吐蟲青色滯頤黃，一色頤間兩自詳。風門黑疝(22)，青驚水，紋青金匱主驚狂。</p>
<h3>觀形察色總論</h3>
<p>凡看小兒疾病，先觀形色，而切脈次之。蓋面部氣總見，而五位青色者，驚積不散，欲發風侯，五位紅色者，痰積壅盛，驚悸不寧;五位黃色者，食積歛傷，疳候痞癖;五位白色者，肺氣不實，滑洩吐痢，五位黑色者，臟腑欲絕，為疾危惡。面青、眼青肝之病，面赤心之病，面白肺之病，面黃脾之病，面黑腎之病。先別其五臟，各有所主。次者。稟受盈虧，胎氣虛實，陰陽二症，補過洩多，當救其失。兼五臟六腑，表裡各有相應。若能辨其標本，則神聖工巧矣。</p>
<h3>五位所屬</h3>
<p>心為額，南方火。脾為鼻，中央土。腎為賅，北方水。肺為右頰，西方金。肝為左頰，東方木。</p>
<p>命門部位圖</p>
<h3>部位歌</h3>
<p>中庭與天庭，司空及印堂，額角方廣處，有病定存亡。</p>
<p>青黑諒風怒，體和滑澤光。不可陷兼損，唇黑最難當。</p>
<p>青甚須懮急。昏黯亦堪傷。此是命門地，醫師妙較量。</p>
<p>觀形察色西江月凡觀小兒形色，青筋肝熱生風，兩腮紅赤熱相攻，黃色脾虛取用。黑氣腹疼中惡，白為疳瘦生蟲，如逢兩目赤重重(23)，此是南柯一夢。</p>
<p>要識小兒症候，但將外貌推求，黃浮肌削痞湛隈瘤，唇撮面青痛楚。吐舌唇焦內熱，昏昏好睡脾枯，手掀足摯是驚由，疳疾青筋大肚。</p>
<p>眼角哆生肝熱，口邊涎出脾寒，頭毛稀豎血將乾，胞腫脾家濕顯。鼻孔(24)黑焦肺熱，耳輪枯燥腎傳，胸高氣促肺炎炎，熱憊窗門腫陷。</p>
<p>小兒精神忽減，面皮黃白無常，必因乳食內成傷，生冷油膩阻擋。或致湯嗚泄痢，或為瘧疾難當，忽煞膨脹漸贏尪，癖積蟲疳四樣。</p>
<p>小兒面皮紅赤，兩腿恰似塗硃，風寒外感事何如，潮熱無時來去。或作驚風症治，或為斑毒驅除，口乾啼哭目如珠，睡困昏昏不乳。</p>
<p>小兒病形各樣，慢懲眼力消詳，懷中畏縮(25)怕風涼(26)，合面睡時熱癉(37)。夜啼熱煩腹痛，目直驚搐須防，長吁短氣(28)熱中藏，痰喘上衝火旺。</p>
<p>要辨小兒死症，囪門陷下成坑，喉中拽鋸氣和痰，目閉(29)無神拘管。口唇牙齦粉白，手足怡似冰寒，鴉聲口緊眼常翻，不乳遺尿悶亂。</p>
<h3>小兒脈法</h3>
<p>小兒一歲以上，可以看脈。以六至為平和，七至八至為實熱，三至四至為遲，為虛弱。</p>
<p>西江　月小兒尋常脈候，一息六至平和，七至八至熱生多，三四虛寒病作。九十連來雀啄，一二動指沉苛(30)。微虛緊數不差訛，補瀉(31)分明用藥。</p>
<p>身熱脈浮可汗，身寒脈細休攻，喘咳緊數藥無功，腫脹細微堪痛。洩痢沉遲易愈，痘出洪數宜從。若還吐扭怕浮洪，腹疼沉微拈弄。</p>
<h3>小兒治法</h3>
<p>如足脛熱，兩腮紅，煩渴不止，頭面好露，揚手擲足，大便閉，小便黃，身壯熱，不退，此宜涼解。不可服熱補之藥。</p>
<p>如足脛冷，面晃白，吐瀉(32)不止，肚腹作痛，身常偎人(33)，眼珠青，口中冷氣，潮熟往來不定，此宜溫補，不可服涼利之藥。</p>
<p>西江　月小兒不宜熱藥，兩腮俱帶緋紅，手足狀熱火烘烘，六脈浮洪亂動。小便赤黃又澀，大便閉結難通。掀衣飲水喜當風，煩渴鼻流血湧。</p>
<p>小兒不宜涼藥，面皮晃白無精，四肢厥冷似寒冰，六脈浮微隱隱(34)。吃乳不消嘔吐，糞如鴨屎頻頻，神虛腹痛(35)眼珠青，病久成疳諸症。</p>
<p>小兒純陽之體，陰陽(36)不可偏傷，常帶三分飢與涼，此個孩兒易養。大抵脾常不足，有餘肝氣須防，不寒不熱藥為良，切忌妄行盂浪(37)。</p>
<p>小兒何為難治，古今號曰啞科，脈無可視如之何，口不能言病作。父母時時驚伯，醫人試驗誠多，從容對症用方藥，有甚難為捉摸。</p>
<p>凡小兒一歲以下有病者，多是胎毒，只宜解毒(38)危急，小兒二歲以上有病者，多是食積，只宜消積補脾而己。其餘症治方略，詳載各門之下，故不重述。</p>
<p>注：(1)只：山東泰安州李雨霑方悅父發梓版廠為"止"。</p>
<p>(2)有色：漢陽鶴湄張伯琮校定版為"五色"。</p>
<p>(3)病難存：山東泰安州李雨霑方悅父發梓版為"定難陳"。</p>
<p>(4)或紫系、青系、黑系隱隱相染：漢陽鶴湄張伯琮校定版為"或紫絲、青絲、黑絲泛泛相染"。</p>
<p>(5)灣：山東泰安州李雨霑方悅父發梓版為"弓"。</p>
<p>(6)安樂脈：山東泰安州李雨霑方悅父發梓版為"失樂脈"。</p>
<p>(7)黑色田水撲：原書注，黑脈見者，因撲跌在水起。</p>
<p>(8)赤色火人驚：原書注，赤脈見，是人驚，或跌在火而起。</p>
<p>(9)紫色多成瀉：原書注，紫脈見者，主泄痢。</p>
<p>(l0)黃色是雷驚：原書注‧黃脈見者，因大雷聲，著嚇。</p>
<p>(11)曲反風還盛：原書注，曲是傷寒，並有乾熱。</p>
<p>(12)彎弓食上蒸：原書注，曲外是傷寒，曲內是傷食。</p>
<p>(l3)蓋兒脈絕神困：漢陽鶴湄張伯琮校定版為"蓋氣絕神困"。</p>
<p>(14)雖有良藥，斷斷乎不可保矣：漢陽鶴湄張伯琮校定版為"雖有良醫，斷不可保"。</p>
<p>(15)隱隱：漢陽鶴湄張伯琮校定版為"泛泛"。</p>
<p>(16)夭：漢陽鶴湄張伯琮校定版為"天"。</p>
<p>(17)瀉：山東泰安州李雨霑方悅父發梓版為"泄"。</p>
<p>(18)青黑驚風盡死形：山東泰安州李雨霑方悅父發梓版為"唇反黑侯蛔必傾"。</p>
<p>(19)日平：漢陽鶴湄張伯琮校定版為"白平"。</p>
<p>(20)唇反黑侯蛔必傾：山東泰安州李雨霑方悅父發梓版為　"青黑驚風盡死形"。</p>
<p>(21)久病：漢陽鶴湄張伯琮校定版為"火病"。</p>
<p>(22)黑疝：漢陽鶴湄張伯琮校定版為"黑散"。</p>
<p>(23)赤重重：漢陽鶴湄張伯琮校定版為"赤肘疼"。</p>
<p>(24)鼻孔：山東泰安州李雨霑方悅父發梓版為"鼻吼"。</p>
<p>(25)畏縮：山東泰安州李雨霑方悅父發梓版為"猥縮"。</p>
<p>(26)風涼：漢陽鶴湄張伯琮校定版為"風寒"。</p>
<p>(27)熱瘴：漢陽鶴湄張伯琮校定版為"熱障"。</p>
<p>(28)短氣：漢陽鶴湄張伯琮校定版為"短嘆"。</p>
<p>(29)目閉：漢陽鶴湄張伯琮校定版為"關閉"。</p>
<p>(30)沉苛：山東泰安州李雨霑方悅父發梓版為"成苛"。</p>
<p>(3l)，(32)瀉：山東泰安州李雨霑方悅父發梓版為"泄"。</p>
<p>(33)偎人：山東泰安州李雨霑方悅父發梓版為"猥人"。</p>
<p>(34)隱隱：山東泰安州李雨霑方悅父發梓版為"泛泛"。</p>
<p>(35)腹痛：山東泰安州李雨霑方悅父發梓版為"腹疼"。</p>
<p>(36)陰陽：漢陽鶴湄張伯琮校定版為"陽純"。</p>
<p>(37)孟浪：山東泰安州李雨霑方悅父發梓版為"猛狼"。</p>
<p>(38)解毒：漢陽鶴湄張伯琮校定版為"解散"。</p>
<h2>卷四</h2>
<h3>胎毒門</h3>
<p>凡小兒在月內有病者，皆胎毒也，並治其母。</p>
<p>小兒月內，腸胃甚佹，氣血未充，若有微疾，不可妄施補瀉，恐臟腑一傷，將貽患終身，或致夭命矣，可不戒哉！如不得已而用湯丸，毌伐天和，中病即止，又不可過劑也。乳母服藥，必別擇乳母，而後可補可洩也。若蓐母(1)自乳，又不可亂投湯藥，蓋產後之婦，氣血甚虛，有補無瀉。茍兒有熱病，而用涼藥，則犯產後之禁，必害其母;如用溫補，則反加小兒之熱，又害其子。醫者人之司命，而可妄為乎?必須盟斟酌謹慎，勿損陰德。</p>
<p>凡小兒才生即死者，急看兒口中懸癰愕上，必有泡塞住，即以手指摘破其泡，速以軟絹拭血令淨，若血入咽即死。</p>
<p>凡小兒初生氣絕不能啼者，必因難產，或因冒寒所致。急以綿絮重裹其兒，抱於懷中，不可便斷臍帶。卻把胞衣置鋾(2)中，向炭火上煮之，又作油炷點著，於臍帶上往來燎之，須臾熱氣由臍中入腹，便能啼，方可洗浴斷帶。若不如此急救之，而先斷帶者，多死不治。</p>
<p>凡小兒初生下，被寒風所吹。鼻塞，服藥不得者，用天南星為末。生薑自然汁謂成膏，貼囪門上，自愈。</p>
<p>凡小兒生後，或月內，或百日　氣急喘滿，目閉眼赤哆多，神困呵欠，遍身壯熱，小便赤澀，大便不通，時復驚煩，此胎熱也。</p>
<p>因母平日嗜食辛甘熱物，貪服煖藥而致，用涼驚丸，黃連解毒湯治之。</p>
<h4>黃連解毒湯</h4>
<p>黃連、甘草、木通、生地、薄菏(少許)，連翹，川芎，陳皮、燈心(三根)，水煎服。</p>
<p>小兒生後，覺口冷腹熱，腸滑洩瀉，昏昏多眠，或夜多啼，此胎寒也。因母喜焰生冷，或外感多服涼藥，致傷胎氣。理中丸、勻氣散治之。</p>
<h4>勻氣散</h4>
<p>桔梗、陳皮各二錢，砂仁五分，茴香(炒)五分，生薑(炮)二分，粉草(炙)四分，加木香二分。共為細末，每服一字，棗湯調下。</p>
<p>凡小兒生下浮胖，遍身紅色，滿月以後，漸漸瘦弱，五心煩熱，此名胎肥，又有生下，面無晶光，身無血色，目無精彩，肌肉消削，此名胎怯。並內服八物湯，外用沐浴法。</p>
<h4>八物湯</h4>
<p>當歸、川芎、生地、白芍(炒)、人參、白朮、甘草、白茯苓各等分，薑棗引，水煎服。</p>
<h4>沐浴法</h4>
<p>天麻、蝎梢、朱砂各五分，白帆三錢，青黛二錢。</p>
<p>麝香少許，鳥稍蛇內(酒浸燒為末)三錢。共研為細末，每用三錢，水三碗，桃枝連葉一握。同煎十沸，待溫熱沐之，慎勿沐背。</p>
<p>凡小兒生下，遍身面目皆黃，狀如金色，身上壯熱，大便不通，小便如梔子汁，乳食不思，皆(3)胎黃也。因乳母受熱，而傳於胎，用地黃湯治之。</p>
<h4>地黃湯</h4>
<p>生地、赤芍，天花粉、赤茯、川芎、當歸、豬苓，澤瀉、木通，甘革、茵陳各等分。水煎溫服。</p>
<p>凡小兒生後，壯熱翻眼，握拳咬牙，身腰強直，涎潮嘔吐，搐掣驚啼，腮縮囪開，或頰赤面青眼合，更胎風眼合，不可誤作慢脾風。妄用湯藥。要視其眉間氣色，若紅赤鮮碧者可治，若黯黑青黑者不治，虎口指紋曲入裡者可治，出外者不治。此因妊婦調養(4)乖常，飲酒嗜肉，忿怒驚撲，母有所融，胎必感之;或外挾風邪，有傷於胎，故子乘母氣，生下即病。以至聖保命丹，金銀，燈心湯下。</p>
<h4>至聖保命丹</h4>
<p>治小兒驚風內釣，腹痛(5)堅硬，睡不安，夜多啼哭，急慢驚風，眼目上視，手足搐掣，不省人事者，服之即效。</p>
<p>全蝎(去毒)十四個，防風二錢。白附子(煨)一錢，南星(炮用牛膽制)、蟬退(去毒)、僵蠶(炒去毒)，天麻各二錢，辰砂（另研)一錢，麝香五分。右為末，揉糯米飯丸，如黃豆大，金箔為衣，每一丸，鉤藤燈心湯磨下。</p>
<p>有熱加牛黃、腦子、硼砂。</p>
<p>又方加羌活二錢，此藥常服，鎮心化痰。</p>
<p>袖珍方云胎驚治法，宜解散風邪，利驚，化痰，調氣，貼囪門。甚則以朱銀丸利之。面青拳搐者，宜服保命丹、鉤藤散、全蝎散。初生嬰兒，難以用藥，凡有此侯，急取豬乳，細研辰砂、牛黃。麝香各少許，調抹入口中即愈矣。</p>
<h4>全蝎散</h4>
<p>治胎驚困、諸困(6)。</p>
<p>全蝎一個，琥珀、辰砂各少許，麥冬湯調下一字。</p>
<h4>獨活湯</h4>
<p>治胎驚，發散風邪。</p>
<p>羌活。獨活各二錢，檳榔、天麻、麻黃（去節），甘草各一錢。右剉散，每股一錢，自術煎，內加天南星末，蜜調貼囪門上。</p>
<p>幾小兒生下，大便三五日不通者，此名鎖肚。胎中受熟，熱毒壅盛，結於肛門，閉而不通，無復滋潤。急令婦人以溫水漱口，吸咂兒前後心，並臍下手足共七處，凡四五次;再用輕粉五分，蜜少許，溫水化開，時時少許服之。以通為度。如更不通，即是肛門內合。或以金簪透而通之，須刺入二寸，以香油和蜜納入孔中。</p>
<p>糞出為快也。若肚脹不乳，呻吟聲至於七日，難可望生矣。</p>
<p>凡小兒生下，即不吮乳，此由拭口不淨，穢物入腹。致令腹滿氣短，不能吮乳;或有嘔吐，乳不得下;或胎中受寒，令兒腹痛不乳，此則多啼矣。以木香散治之。</p>
<h4>木香散</h4>
<p>木香、甘草、茯苓、乾薑、木爪、丁香、陳皮各等分，共為細末，每用一字，水煎綿兼，滴與食之。</p>
<p>臍風者，由斷臍之後，被水濕風冷之氣所乘，流入心脾，令腹脹臍腫，四肢強直，日夜多啼，不能吮乳。甚則發為風搐，若臍邊青腫，撮口不開者，是為內搐，不治。爪甲黑者，死。</p>
<p>撮口者，由胎氣挾熱，兼風邪入臍，流入心脾二經，故令舌強唇青，口撮喘急，啼聲不出，不乳。若口出白沫，四肢冷者，不治。最為急侯，一腊之內尤甚。</p>
<p>噤風者，眼閉口噤。啼聲漸少，吮乳不得，口注白沫，大小便皆不通。亦由胎中受熱，熱毒流入心脾，故形於喉舌間也。</p>
<p>以上三症，其名雖異，受病則一。初生七日之內，得此症者多死。若不急救，坐以待斃，良可憫焉!但見小兒噴嚏多啼，身熱不乳，急看兒上愕，有小泡子如粟米大，或以指甲，或以挖耳。輕輕刮去，以綿絹纏指，蘊溫水拭淨其血，勿令下咽，即便安妥，不必服藥，誠良方也。</p>
<p>凡小兒牙關緊急，已成撮口驚搐者，先用撮風散以開其關，次用控痰散以吐其痰，然後用益脾散和胃，保命丹祛驚，即愈。若手足攣拳，口噤不開者，不治。</p>
<h4>撮風散</h4>
<p>金腳蜈蚣(炙，令毒不明)，全蝎(炒，去毒）五個，直僵蠶(炒，去嘴)，麝香(少許)。共為末，每用一字，以豬乳和之，攪勻。以綿絹醮清入口中即開，或用金銀簪挑亦可。</p>
<h4>控痰散</h4>
<p>蝎尾，銅青各五分，朱砂一錢，膩粉一錢，麝香少許萬共為求，每服一字，腊茶清化下，吐出風痰。</p>
<h4>益脾散</h4>
<p>白茯苓，草果(煨)，木香、甘草，陳皮，厚樸(炙)、蘇子各等分，共為細末，每服五分，薑棗煎湯，細細服之。</p>
<p>亦有熱在胸膛，伸縮無時，呃呃作聲，弩脹其氣，以致臍突浮腫。此非斷臍使之然也，但散其血即愈，加減龍膽湯主之。</p>
<h4>加減龍膽湯</h4>
<p>膽草、前胡、黃芩、防風，麥冬、桔梗、赤芍、茯苓、甘草、大黃(煨，減半)。水煎服，得下便止。</p>
<p>亦有肚脹青筋，吊暢卵疝，內氣引痛而撮口者，皆腸官郁結不通致之，治法貴乎疏利，紫霜丸量而與之，一粒金丹猶妙。</p>
<h4>紫霜丸</h4>
<p>伐赭石(醋淬七次)、赤石脂各一兩，杏仁(去皮尖)五十粒，巴豆(去殼、心，去油)三十粒。先將杏仁、巴豆研如泥，後入二石和勻，浸蒸餅丸，如粟米大。百日者三丸，周歲者五丸。請兒肥怯加減，徹利為度。</p>
<p>凡臍中出汗不干者，用龍骨五分，黃柏一錢，枯帆二分半，為末敷之。</p>
<p>西　江　月小兒初生病症，許多名狀難同，胎驚撮口與臍風，寒熱肥瘦黃腫。嘔吐昏昏不乳，臍間血水溶溶，未曾滿月病多兇，好似風中燭弄(7)。</p>
<p>最是臍風可畏，三朝八日為殃，初時噴嚏似風傷，啼哭時時噪嚷。急看口中上愕，刮除白泡中央，展揩惡血細端詳，莫使下咽為上。</p>
<p>若是不知此法，致令泡落兒吞，忽然腹脹滿膨澎，臍腫青筋雜亂。撮口昏昏不乳，目蹬又緊牙關，啼聲不出命歸天，勸取衣棺早辦。</p>
<p>胎黃狀如金色，身熱大便難通，小便黃赤色朦朧，少乳時時舌弄。此症傳來無毒，脾胃濕熱相攻，涼驚涼血解重重。保養胎元兼用。</p>
<p>外有胎肥胎瘦，此為稟賦虛盈，父精母血必多虧，兒子不充元氣。此個甚難調理，愚夫不曉支持，一朝有病致傾危，卻把命來抵對。</p>
<p>生下時時吐奶，不思乳食昏沉，此由穢物下咽門，拭洗未能潔淨。會懨中間阻隔，太倉上口留凝，豁痰順氣藥通神，炮制生薑作引。</p>
<p>生下突然腹脹，臍中血水淋漓，斷臍將息失調宜;客水邪風侵入。外用灰礬黏貼，速令干較為奇，若還撮口哭聲稀，縱有靈丹莫治。</p>
<p>小兒生下數日，睡中啼哭多驚，此因母氣失和平。常因七情為病。以致胎胞氣逆，痰涎流入脾心，治須順氣更清神，鎮墜痰涎始定。</p>
<p>胎熱遍身如火，發斑丹毒風瘡，神昏腹痛又驚彰，大小便難哭嚷。此是母貪煎炒，溫經煖藥乖方，急須解毒令清涼，甘草黃連為上。</p>
<p>胎寒生來吐瀉(6)。大便滑溜多清，腹中疼痛哭聲頻，面色青黃不定。平日母喜生冷。寒邪傳入胞經，治宜丸散用甘溫，可保嬰兒性命。</p>
<p>要識小兒治法，方為得業專門，半周一歲病何因，胎毒單單見症。自後飲食漸減，肥甘之變須明，此時脾胃病多尋，消食養脾法定。</p>
<p>胎病要行涼解，無如甘草黃連，若加脾弱病相卷，參朮陳皮有驗。巴豆牽牛丁桂，砒硫白汞青鉛，俱傷正氣損真元，誤了孩兒命短。</p>
<h3>變蒸門</h3>
<p>變蒸者，此小兒正病也。蓋變者異也，每變畢，性情即異於前。何者?長生臟腑之意也。蒸者，蒸蒸然熱也，萬物生於春而長於夏者，以陽主生長，其於人也亦然(9)。故變蒸足，始及成人，氣血充實，骨肉堅牢也。小幾此症，譬如蠶之有眠，龍之脫骨，虎之轉爪。而變化同也。故每三十二日有變蒸，至五百七十六日，大小變蒸足矣。輕則發熱微汗，其狀似驚;重則壯熱。脈亂而數。或汗或煩，啼哭燥渴。輕者五日解，其侯與傷寒相似;亦有變蒸之餘感寒邪者。但變蒸則耳冷，上唇發泡如濁珠，若寒邪傳之，別寒熱交爭而腹痛，啼哭之聲，旦夜不停。治此之法，輕者不須服藥，重者以平和飲子微表之。熱甚便結，以紫霜丸微利之。若吐瀉不乳多啼者，調氣散治之。</p>
<h4>平和飲子</h4>
<p>人參五分，白茯(去皮)一錢，甘草五分，升麻(煨)五分，稟受弱者。加白朮一錢，肥實者不用，水煎服。</p>
<h4>調氣散</h4>
<p>木香、香附、厚樸(炙)、人參，陳皮，藿香，炙草。薑棗引，水煎服。</p>
<p>凡小兒初生，有用黃連、甘草以下胎糞者。若兒壯實者，稟胎足固無所損，若稟胎怯弱者，受此寒涼之劑，不生異症者鮮矣。</p>
<p>如有裡症郁結，壅閉不通者，欲下胎毒，只用淡豆鼓濃煎湯與之，五七口其毒自下，又能助養脾胃，真奇方也。</p>
<p>凡小兒當變蒸之時，不熱不驚，別生他症，是為暗變，此受胎氣壯實故也。</p>
<p>凡小兒初生，多有灸百會穴者，取其可以截風也。殊不知地有南北，人有勇怯，北人用灸固宜。南人用之，無益而有害也。</p>
<p>凡小兒初生下。有身體破裂者必死!陰囊白者必死;陰不起者必死;無糞門者必死;股間無肉者必死;哭如鴨聲者必死。周歲之間，顱骨開解，齒未生，手足攣縮，膝如鶴節，身體瘦弱，長大不能行立者，此皆胎氣不足者也，多夭。若筋實則多力!骨實則行早;血實則形瘦多發;肉實則少病;精實則伶俐多語笑，不怕寒暑;步氣實則少發而體肥。此皆受稟胎氣之有餘也，多壽(10)。</p>
<p>西　江　月小兒變蒸何以。三十二日為期，精神改變異常時，發熱蒸蒸昏睡。或遇風寒外感，或兼乳食傷脾，留連苦楚莫差池，好把湯丸調治。</p>
<p>大抵六十四日，初生腎與膀恍，再生心火與小腸，肝膽第三長養，肺與大腸居四，脾胃五次消詳，三焦胞絡不同鄉，只為有名無狀。</p>
<p>小兒變生智慧，自然發熱如蒸，昏昏不語(11)欠醒醒，恰似蠶眠相應。醫者不須妄治，父母何必憂驚，三日之後自和平，只怕別生形症。</p>
<p>若遇風寒外感，惺惺散子堪行，內傷乳食不安寧。保和養脾兼進。咳嗽參蘇飲子，吐瀉(12)理中最靈，驚來搐擎用瀉(13)青，異赤亦宜選進。</p>
<h3>驚風門</h3>
<p>凡小兒因聞非常之聲，見異類之物，或為爭斗推跌，或大小禽獸之類致驚，其神氣結於心而痰生焉。痰壅氣逆，遂成搐溺。</p>
<p>口眼歪斜，口吐涎沫，一時即醒，如常無事。或一日一發，或間日再發，或三五日一發，或半年一發，一年一發。若不急治，變成瘤疾，而為終身之痼病也。治法當先利痰順氣，後用清心安神。</p>
<p>風者，或因外感風寒，或內傷飲食，以致熱生痰，痰壅發搐，口眼歪斜，手足牽動，氣喘涎潮。口吐涎沫，發過略醒。潮熱不退。須臾復發。治法當先瀉(15)火開痰，後用安神清熱。</p>
<p>驚風有二，有急有慢。急驚風為實為熱，當涼驚瀉(16)火;慢驚風為虛為寒，當用溫補。不可一概(17)混治，以致殺人。</p>
<p>急驚風。小兒元氣素實，或因恐怖，或因風，或因飲食而發，要審明白，詳察症侯。而施治法。</p>
<p>如曾因恐怖而成驚者，其症發過即如常，若無他症，先以利痰丸順氣開痰，後用安神丸調之。</p>
<p>如曾因風寒而成者，其症發過略醒，須臾復發。輕者，只用導赤散吞下瀉青丸，以清心肝之火，後以抱龍丸治痰，保命丹除風，緩緩調之。</p>
<p>如曾因傷飲食而成者，其症發過略醒，醒多啼哭，須臾復發，不思乳食。先用陳皮麥芽湯吞下五色丸，推去食積，則痰自降。後用辰砂五苓散治之。</p>
<p>凡治急驚風，除飲食一症外，不可遽用下藥，必先間其大小便如何。若小便清，大便通利，其邪在表，只用導赤散加防風，或瀉青丸去大黃加全蝎作湯服之。去表中之寒邪，其風自退。後以辰砂五苓散謂之，不可犯麝香，恐引邪入裡。若小便赤澀，大便閉結，此邪在裡，可用五色丸下之。後用抱龍丸、保命丹調之。</p>
<p>凡急驚發時，牙關緊閉不醒著，急用艾炷灸兩手大指頭少商穴(在甲旁)，合而灸之，即醒，而後施治法。</p>
<p>凡急驚風，痰氣喘急者，用定喘湯加竹瀝治之。痰涎壅塞(18)不開者，可用吐法。</p>
<p>凡病退後潮熱不退者，此脾虛熱也，四君子湯加炒乾薑治之。若小便赤，大便硬，兩腮紅，足脛熱者，此餘邪未盡，不可作虛看。用涼驚丸。薄荷燈心煎湯吞下調之而愈。</p>
<p>凡病退後，睡眠不醒者，此心脾二經之邪熱未盡去也，安神九治之。</p>
<p>凡小兒但有潮熱，觀其兩頰若赤，目上視者，必作驚風也。</p>
<p>當先以導赤散，加燈心，薄荷以去其熱。次用抱龍丸以安其神，則風自不作矣。</p>
<h4>利痰丸</h4>
<p>南星(牛膽者)r-錢，枳殼(麩炒)二錢，陳皮(去白）</p>
<p>一錢，大黃二錢，牽牛頭末二錢。共為末，皂角煮水為丸，燈心湯吞下。</p>
<h4>安神丸</h4>
<p>黃連(去毛)二錢，石菖蒲二錢，遠志(去心)二錢，歸身二錢，麥冬(去心)二錢，茯苓二錢，山梔子二錢。</p>
<p>共為末，煉蜜為丸。</p>
<h4>導赤散</h4>
<p>生地、木通、甘草。加竹葉(七皮)，水煎服。</p>
<h4>五色丸</h4>
<p>黃芩二錢。大黃二錢，黃連二錢。共為末，分作五份，滴水為丸。一份青黛為衣，名青丸子;一份朱砂為衣，名紅丸子;一份輕粉為衣，名白丸子;一份皂角燒灰存性研末為衣，名黑丸子，一份雄黃為衣，名黃丸子。</p>
<h4>瀉青丸</h4>
<p>歸身、川芎、大黃(煨)、羌活、防風，桅子仁、膽草各等分，共為細末，煉蜜為丸，如捂桐子大，竹葉湯下，此瀉肝火之藥也。如發熱，去大黃，如全蝎、僵蠶(炒)，竹葉引，水煎極。</p>
<h4>辰砂五苓散</h4>
<p>豬苓、澤瀉、赤茯苓、白朮、官桂，燈心引，煎，調辰砂服之。</p>
<h4>定喘湯</h4>
<p>陳皮(去白)，南星(制)。梔子仁、軟石膏、杏仁泥，薄荷葉、赤服苓。右剉細，水煎，入竹瀝服之。</p>
<p>吐法用土牛膝根，取自然汁灌入口中，其涎自吐。</p>
<p>灸法先以兩手大指相合，於甲側縫中處，燒三壯;又以兩手中指相合，於甲側縫中心燒一、二壯。即醒者可治，不知痛者不治。</p>
<p>祖轉治驚風，先以雄黃解毒丸利去痰熱，後用涼驚丸退火，再用保命丹、安神丸調之而安。</p>
<p>發急驚風之對。手撮，目閉，口張，囪陷，魚口，氣促急，吐沫，噴藥，昏睡不語不啼，口禁絕，不飲食。遺尿失屎，面赤如朱，此皆不治之症。</p>
<p>凡慢驚風，小兒胎稟素弱，又多疾病，或大吐大瀉，或久瘧痢，誤服吐下之藥，皆致精神虛耗，漸成搐弱，十無一全。如元神虛弱，又逢恐怖而成慢驚者，其症發過即如常。但多啼哭，睡中不寧，不可妄用利痰之藥。先以青州白丸子，加青礞石以去其痰，次服安神丸，以四君子湯送下。如因吐瀉大病之後，手足逆冷昏睡，目睛微露，而無搐掣者，此欲成慢驚症也。急溫補之，四君子湯加熟附子一片，愈後以集聖丸調之。</p>
<p>凡吐瀉(19)大病之後，已成慢驚風者，其症口目牽引。手足搐掣，以醒脾散驅風醒脾。風退，以參苓白朮散為丸服之。</p>
<p>凡慢驚風痰氣壅塞者，不可妄用通利之藥，只以青州白丸子加青礞石治之。</p>
<p>凡慢驚風不醒不退者，灸百會、三里，男左女右乳下。</p>
<p>凡慢驚風已退，或有餘熟。不喜飲食，先服四君子湯一、二劑，後以集聖丸調之。</p>
<h4>青州白丸子</h4>
<p>半夏(炮)，川烏(去皮尖)各五錢，南星二錢，白附子五分。共為末，以絹袋盛之，用水擺盡為度，放磁器內，日晒夜露，一日一換其水，換水必攪數轉，侯知玉片，再研細;又用青礞石一錢。另研紐，以焰硝五分。同石末入銅鍋內，鍛通紅，硝盡為度，令冷，入上藥和勻，以糯米粉打糊為九，以薄荷湯入技謂進下，其痰自墜。</p>
<h4>調元湯</h4>
<p>黃祇一錢，人參五分，甘草(炙)二分半，白芍五分，水煎服。《內經》云："熱淫於內，以甘瀉之。以酸收之。"此之謂也。</p>
<h4>醒脾散</h4>
<p>人參、全蝎、白附子、天麻、甘草(炙)、白茯苓，木香，白朮、石菖蒲、蓮肉。水一盅，薑棗引，煎服。有熱者去木香。</p>
<p>凡治驚風，不可妄用辛香之劑，寒涼之藥，蓋辛香能竄元氣。</p>
<p>寒涼反傷脾胃也。</p>
<p>凡小兒夜啼哭，目睛上視，日間略定者，此內釣也。蓋因受寒氣，腹中作痛，以至痛極目定。以燈心燒灰，調滾水化下理中丸，痛止病退。</p>
<p>如小兒日夜啼哭，目睹物不轉，身後仰者，此外釣也。蓋食積作痛，其身強直，而目亦定，以灶心土泡滾水，送下丁香脾積丸，病退痛止。</p>
<p>如小兒忽然氣急涎響，口眼如常，手足不搐，身無熱者，此乍感風寒，肺經受邪也。用芎蝎散一服即退。</p>
<p>如小兒腹脹喘滿，胸膈氣急，兩脅扇動，陷下作坑，兩鼻竅張，悶亂，咳嗽作渴，聲嘎，涎痰壅塞，大小便閉，此馬脾風也。若不急救，或不識症，死在旦夕。宜先用牛黃奪命散下之，後用白虎湯平之。</p>
<p>如小兒兩手輪指。目略直視。此白虎症也。但身不熱，手足不掣，宜向本年白鹿方取土泡湯，吞蘇合香丸。</p>
<p>如小兒口吐黃自沫，面色變易，喘急腹病。反側掣搐，其狀似驚，但眼不上竄，此由精神睡弱，外感客氣，卒暴觸杵。名客杵症。先視其口中上阨左右，有小腫泡，急摘破之。更以蘇合香丸薑湯化下，外以降香。皂角二味燒薰!次用淡豆鼓三合，水浸濕搗爛為允，如雞子大，磨兒囪上及兩足心各五、六遍，次摩臍心良久，拍開有毛，即擲之。</p>
<p>如小兒久咳，腹脹作喘，胸高氣逆。目睛上視，手足牽引，此名龜胸，熱症也。但身無熱，以葶藶丸治之(方見咳嗽門)。</p>
<p>以上之症。俱與驚相似。不可一例施治。誤者，恐傷其命。</p>
<h4>芎蝎散</h4>
<p>川芎、華援各一錢，蝎梢二分，細辛一分，半夏(酒浸一宿，湯泡七次，焙乾)一分。共為末，熱湯調服，或薄荷湯化下亦可。</p>
<h4>牛黃奪命散</h4>
<p>白牽牛、黑丑(各半生半熟取頭)五分。大黃，枳殼各一錢。共為末，冷漿水調下。涎多者，加密少許。</p>
<p>如小兒痘疹驚搐者，只用導赤散調辰砂末一服，不可妄用涼驚丸，抱龍丸，保命丸等藥。</p>
<p>西江　月小兒驚風症侯，須分急慢根由，急因實熱泄中求，慢是虛寒溫補。急為風寒食積，慢是久病綢繆，如斯辨認不差謬，才顯神功妙手。</p>
<p>急驚卒然大熱，因而熱則生風。痰涎哽塞角張弓，口眼歪斜沉重。先使嚏驚妙散，後用導赤疏通，合灸少商與中衝，瀉青涼驚選用。</p>
<p>若遇風寒外感，先須發汗為宜，瀉青丸子作湯醫，加上蝎蠶二味。果是內傷飲食，又當解利相隨，三黃五色任施為，積去熱除驚止。</p>
<p>慢驚先由久病。精神漸減脾虛，厭厭沉困氣長吁，口眼張開不乳。搐弱時時舉發，四肢逆冷何如，理中附子急驅除。不差艾灸左乳(20)。</p>
<p>要認驚風死症，面如紅粉塗搽，口張涎出緊關牙。目直氣粗聲啞。喉內響似拽鋸，毛端汗如珠下，目瞪眼小不須誇，大叫悶亂尤怕。</p>
<p>搐掣乍作乍止，痰氣無了無休，昏昏鼾睡喚難蘇，乳食不知吞吐。屎尿遺時少覺，四肢僵直難收，啼聲不出汗如油，縱有靈丹難救。</p>
<p>小兒驚風咳嗽，人人當作風哮，大黃白黑二牽牛，人參分兩勻用。四味俱研為末，蜜水調和稀稠，灌將一字下咽喉，免得胡針亂灸。</p>
<p>兩指伸縮名為搐，十指開合弱之形(21)。掣則連身常跳起，顫而四體動搖鈴。身仰向後為反症，手如挽弓引狀成。怒目覷高是竄樣，睛露不活是斯真。</p>
<h3>嘔吐門</h3>
<p>聲物俱有曰嘔，無聲有物曰吐。有聲無物曰乾嘔。其症有三，有寒、有熱、有食積。</p>
<p>寒吐者，吐時少而出物多，此胃受寒也。以理中丸治之，或用胃苓丸，以煨薑湯送下。寒吐，食不化，惡食。</p>
<p>熱吐者，吐時多而出物少，此胃有熱也。以二陳湯加黃連、煨薑治之。熱吐，食化，不惡食。</p>
<p>食積吐者，要分三焦，明白俱惡食。如食即吐者，此積在上焦胃口也，宜用淡鹽湯吞一小盅，後以鵝翎毛掃喉中，令其吐盡舊積。後以二陳湯加乾薑(煨)、神麯(炒)、麥芽(炒)、砂仁治之。如食入之時而吐者，此積在中焦，下口過小腸上口處也，先以丁香脾積丸通去舊積，後以二陳湯加消導藥治之。如早食晚吐，晚食早吐者，此積在下焦，小腸下口過大腸上口處也，先以丁香脾積丸下之，後以二陳湯加消導藥治之。</p>
<h4>消導藥</h4>
<p>神麯、麥芽(炒)、砂仁、香附子之類。</p>
<p>如嘔吐久而諸藥不納者，此胃口壯火，關格之病，用理中湯，以童便。豬膽汁同炒，煎服即安。</p>
<p>如嘔吐蚘蟲者，以理中丸加烏梅一個，附子一小片，黃柏，川椒一服，即愈。</p>
<p>凡嘔吐後瘦弱者，只以集聖丸謂之。</p>
<h4>理中湯</h4>
<p>此藥桂熱，所以治寒。</p>
<p>人參、甘草(炙)，乾薑(炒)、白朮。水一盅煎服。若為丸，共為末，煉蜜臨時為丸，滾水送下。</p>
<p>如諸吐不納藥者，此陰盛拒陽也，必加童便，豬膽汁者，取童便味酸鹹性寒，膽汁味苦性寒，以和理中湯服，則陰體漸消，陽性乃發。故(內經)曰："伏其所主。先其所因"之謂也。</p>
<h4>二陳湯</h4>
<p>此藥性平，寒熱通用。</p>
<p>陳皮，半夏(薑汁泡七次)，白茯苓、甘草。生薑三片引，水一盅前服。若嘔吐加白朮、煨乾薑，此二味嘔吐必用之藥也。挾熱而吐者，加煨乾薑、炒黃連。如傷食加神麯。炒麥芽，砂仁、香附子，山楂。此五味消導必用之藥。</p>
<p>祖傳治嘔吐，只用胃苓丸，煨乾薑煎湯吞治之，不問寒熱。</p>
<p>凡吐不止，服藥無效加煩悶者，不治，吐不止，目上竄。頭後仰者，不治。</p>
<p>西江　月嘔吐病原不一，治者要辨根由，嘔則聲物一時有，有物無聲曰吐。更有有聲無物，此名噦而乾嘔，又當辨症藥分投，有甚難為措手。</p>
<p>冷吐乳食不化，腹脹喘急無時，面白眼慢氣多吁，吐有夾食清水。此因風寒入胃，或食生冷傷虧。抑傷宿乳胃中虛，不納乳食吐出。</p>
<p>熱吐唇紅面赤，乳食入而雖消，吐物黃色遍身燒，大熱渴多煩躁。此因暑氣在胃，或食熱物煎熬，胃氣因熱不和調，氣逆遂成吐了。</p>
<p>積吐如何分曉，眼胞浮面微黃，足冷肚熱異尋常。晝輕夜重魔瘴。宿冷滯在脾胃，故吐黃酸水漿，或吐酸餿氣難當(22)，此傷宿食形狀。</p>
<p>小兒傷乳吐者，形症更要消詳，乳才哺後吐浪蕩，或少停而吐止。此因乳食無度，脾氣弱不能當，速將空乳令兒嘗，乳節吐止為上。</p>
<p>吐症既分明白，治法猶貴精微，冷吐理中湯最宜，熱吐五苓去桂。積吐九轉靈應，下後積術調之，傷乳而吐藥方奇，三稜散子為最。</p>
<p>嘔吐乳食不納，任是湯藥難嘗，此謂陰盛隔孤陽，時醫卻無主張。參朮煨薑熟附，烏梅童便尤良，豬膽同入慢消詳，此法應如影響。</p>
<p>吐嘔諸藥不納。我有絕勝奇方，定吐飲子妙非常。半夏官桂二樣，生薑獨宜多取，甘草少用為良，依方制造水煎嘗，仍用生薑為上。</p>
<p>一等蛔蟲吐出，此為蛔多厥陰，烏梅丸子效如神，一服蛔安吐定。又有咳而吐者，化痰順氣須明，如常嘔吐只胃苓，湯用生薑作引。</p>
<p>嘔吐不止之症，分明說與醫人，如服正藥俱無靈，更加煩躁亂悶。嘔吐只是不止;目睛上竄須危，頭往上仰魄如飛，只好安排後事。</p>
<p>再附惡心一症，有痰有熱有虛，三症生薑通用之。藥宜隨症區處。若是胃中有熱，二陳加上苓連，薑汁炒過共同煎，各用一錢最驗。</p>
<h3>瀉洩門</h3>
<p>洩瀉皆屬於濕，其症有五，治法以分利，升提為主。</p>
<p>如洩瀉清白，或不思食，食不化，腹痛，四肢冷，面胱白，作渴者，此寒濕也。其症多得於冬，以五苓散作引，吞化理中丸即止。如寒甚不止著，理中湯加附子一片，即效。</p>
<p>如洩瀉注成黃水者，或渴或不渴，此風濕也。其症多得於春，五苓散加防風、羌活、蒼朮治之。</p>
<p>如洩瀉清水，腹中無痛者，此純濕也。以胃苓湯治之。</p>
<p>如洩瀉腸滑不止著，此濕傷元氣下陷也。宜升提之。四君子湯加升麻、防風、烏梅治之。或用四君子湯吞下七味肉豆蔻丸。</p>
<p>如洩瀉酸臭，腹痛，面黃帶熱，不喜飲食者，此食積也。先以丁香脾積丸推去其積，後以桑聖丸調之。</p>
<p>如洩瀉日久，目無神氣，口略張，四肢冷，好睡者，以四君子湯調之，多服有效。甚者，加熟附子一片，煨薑服之。</p>
<p>如洩瀉日久，身熱不退，只以調元湯治之。此虛熱也，不可妄用寒涼之藥。甚者，加乾薑即效。</p>
<p>凡久泄後。人事黃弱著，以集聖丸調之。</p>
<h4>五苓散</h4>
<p>入膀恍，腎經。</p>
<p>豬苓(去皮)、澤瀉、白朮、赤茯苓、官桂。此分利陰陽之藥也，水一盅煎服。</p>
<h4>理中丸</h4>
<p>人參、白朮、甘草(炙)、乾薑，加砂仁、藿香、烏梅、附子、豬苓、澤瀉。</p>
<h4>玉露散</h4>
<p>此藥性寒，所以治熱。</p>
<p>寒水石、滑石各一兩，甘草五錢。共為末，每服一錢，冷水調下，或用此藥煎湯吞理中丸。</p>
<h4>胃苓湯</h4>
<p>蒼朮、厚樸、豬苓，澤瀉、白朮、白茯苓、甘草、陳皮、官桂。</p>
<h4>四君子湯</h4>
<p>此藥性溫，可以補元氣之不足。</p>
<p>人參、白朮、白茯苓、甘草。水一盅，薑三片，棗二枚，水煎溫服。</p>
<h4>肉豆蔻丸</h4>
<p>此藥性溫而澀，所以止滑也。</p>
<p>內蔻(面煨)五錢，赤石脂七錢五分，廣木香二錢，砂仁二錢，枯礬七分半，白龍骨五錢，訶子肉五錢。共為末，水糊為丸，陳米湯送下。</p>
<h4>白朮散</h4>
<p>此治渴之聖藥也。</p>
<p>人參、白朮、白茯苓、木香、藿香葉、甘草各一兩，干葛二錢。共為粗末，每用一、二錢，薑三片引，水煎極。袖珍方：非干葛，乃乾薑也。</p>
<h4>調元湯</h4>
<p>此治虛熱之聖藥也。</p>
<p>黃祇、人參、甘草。如熱不退，加乾薑即效。</p>
<p>如身熱手足寒者，加熟附一片，煎服。</p>
<p>祖轉治洩瀉不止，不問寒熱，只用胃苓丸，兼一粒金丹。以車前草同炒米煎湯服之。</p>
<p>凡久瀉(23)不止，精神美好，面赤唇紅者，不治。</p>
<p>凡久瀉(24)不止，作渴不休者不治。</p>
<p>凡久瀉(25)不止，脈沉細，遍身皮冷，不思乳食，洩滑不止者，不治。</p>
<p>凡久瀉(26)不止，又成驚搐者，不治。</p>
<p>凡久瀉(27)不止，變成赤白痢疾者，不治。</p>
<p>凡久瀉(28)不止，大肉消瘦者，不治。</p>
<p>凡久瀉(29)不止，大孔如竹筒不收閉者，不治。</p>
<p>凡洩瀉(30)不問輕重，只要飲食如常，不生他症著，不難於治而易愈。</p>
<p>西　江　月洩瀉秘傳治法，等閒不語時人，如今傳授救兒嬰，以積心田一頃(31)。初次且行淡滲，溫中以次施行，三升四塞救兒嬰，此方古今永定。</p>
<p>洩瀉如何發作?只因水穀無分，所以淡滲法先行，小便長而洩定。滑百車前赤茯，人參白朮豬苓，甘草澤瀉與砂仁，薑棗煎來作引。</p>
<p>淡滲行而又洩，須防穀氣中虛，溫中丸散不須拘，斷要一時洩住。白朮人參砂藿，炙薑炙草依書，烏梅熟附澤瀉豬，引用生薑作主。</p>
<p>溫中若還不效，中氣下陷須提，人參白朮與黃祇，甘草乾薑炙取。澤瀉豬苓赤茯，升麻熟時烏梅，柴胡白芍與當歸，引用薑棗休棄。</p>
<p>以此升提未止，只因腸滑難收。塞用通用更何優，擊其指歸(32)可救。參朮炙薑炙草，烏梅粟殼相扶，升麻訶子芍歸求，薑棗同煎溫服。</p>
<p>法盡洩還不止。其間吉少兇多，假饒父母不奈何，要你醫時休錯。參朮附陳薑棗，砂仁豆寇粟河，干蟾蘆薈木香和，赤石醋丸服可。</p>
<p>洩瀉時常作渴，白朮散子如仙，人參白朮木香兼，干葛藿香葉片，甘草茯苓七味，烏梅加上同煎，臨時再用伏龍肝，此法千金不換。</p>
<p>洩瀉如常治法，不須別用心機，只將黑薑(33)胃苓醫，三服自然停息。如此不能取效，依前四法支持，吾將心法教人知，才顯明醫三世。</p>
<p>五六月間洩瀉，其中寒少熱多，理中丸子救沉苛，玉露散子真可。不效四苓作引，同吞理中調和，自然洩止莫磋跎，活得人多念我。</p>
<p>夏月人多洩瀉，腹疼頻熱相攻，豬苓澤瀉茯苓同，甘草乾薑炙用。白朮黃連滑石，人參砂藿溫中，升麻提氣妙無窮，更把烏梅煎送。</p>
<p>洩瀉症雖各別，大要總因濕成，風寒水濕中人身，乳食過傷為病。此由中氣不足，脾胃積滯惟深，以致氣脈不調勻，故成洩瀉之症。</p>
<p>人皆知有洩瀉，當分洩瀉原根，冷則滑洩故無聲，熱則腸結為病。故致裡急後重，如水注下有聲，此名瀉症熱緣因，下面條陳(34)病症。</p>
<p>細詳冷瀉病症，腹中卻似雷鳴，注下清白水之形，面白肚疼等症。甚者四肢厥逆，此由兒溺寒侵，寒氣在腹刺攻人，故令兒患此症。</p>
<p>熱洩色多黃赤，小便不利心煩，口燥作渴定咽乾，食乳必粗可驗。此由腸胃挾熱，冷風乘入其間，熱氣相搏(35)不安然，所以兒有此患。</p>
<p>冷熱不均洩瀉，瀉色赤白不常，或水或穀病為殃，小兒如何抵當。此由先冷後熱，先熱復被冷傷，腸胃宿虛虧中臟，冷熱交攻勻當。</p>
<p>更有傷食而洩，腹痛乳食不思，面黃寒熱異常時，糞多酸臭氣味。此由乳食過度，以致脾胃傷虧，遂成洩瀉病孩提，小兒多有此疾。</p>
<p>又有一般暑洩，多於暑熱之時，亦宜寒熱症中推，庶好斟酌用劑。若或瀉穰赤白，腹大青筋發稀，或吃泥土出蚘時，此為疳洩之疾。</p>
<p>又見洩多背色，亦或發熱有時，睡臥不安忽驚悸，乃是驚洩之勢。此是脾受肝克，速宜及早醫之，若變脾風瘓瘋時，就是神仙費力。</p>
<p>洩瀉注成黃水，或渴不渴殊途，此在風濕症中求，多病春天時侯。如或瀉下清水。腹中不作痛楚，此是純濕病之由，病傳陰雨之侯(36]。</p>
<p>洩瀉腸滑不止，濕傷元氣陷虛，藥宜升舉救兒軀，才得醫理妙處。如或洩瀉日久，身熱仍舊不除，此為日久氣多虛，調元湯劑宜服。</p>
<p>丹溪治洩之法。瀉水腹無痛疼，此症因受濕分明。四苓二術當增。飲食入胃不住，宿穀不化猶存，此則氣虛病之根，參朮升麻芍並。</p>
<p>腹內痛甚而瀉，瀉後痛減覺輕。此在食積症中尋，神麯大黃推滲。一痛一洩成障，洩火更見腸鳴，火症分明用四苓，加上芩通尤勝。</p>
<p>大端洩瀉諸症，治法條貫分明，醫人最要細詳論，尤貴依方對症，調治只依前法，澀藥切莫先行，若然胡亂敗章程，反變痢膿重症。</p>
<p>洩瀉不知症候，許久不止堪擾，精神美好渴無休，面赤唇紅消瘦。脈理若見沉細，滑洩不乳煩愁，變痢赤白或驚搐，大孔如簡不救。</p>
<h4>辨症歌</h4>
<p>便黃因內熱，紅赤黑同看。綠白青皆冷，積滯氣臭酸(37)。</p>
<p>久瀉四肢癱，才驚睡不安。熱疳毛作穗，涎嗽定傷寒。</p>
<p>肝冷傳脾臭綠青，焦黃脾土熱之形。肺腸寒色膿黏白，赤熱因心腎熱成。</p>
<p>身熱發厥歌(久洩多虛熱)氣虛多發厥，血虛須作熱。氣血若俱虛，身熱手足厥。</p>
<h3>吐瀉門</h3>
<p>吐瀉名曰霍亂，其症有三：有寒、有熱，有食積。</p>
<p>凡上吐下瀉，兩腮紅赤，遍身熱，口作渴，吐泄時多而出物少者，此屬於熱。用五苓散煨乾薑治之，或用煨薑湯澄冷調服益元散，神效。</p>
<p>凡上吐下瀉，面胱白，足冷。腹痛，多啼哭，不作渴，吐瀉時少而出物多者，此屬於寒，用理中湯治之。甚者，加附子烏梅效。以上二症，皆不阻乳食。</p>
<p>凡吐瀉出物酸臭，面黃，不喜飲食，腹常作痛者，此食積也。以丁香脾積丸推去其積，後以集聖丸調之。</p>
<p>凡吐瀉久，身瘦作熱者，只用集聖丸治之。</p>
<p>祖傳治吐瀉，不問寒熱虛實，只用胃苓丸，煨薑湯送下，即安。</p>
<p>益元散(又名六一散，又名天水散)滑石六兩，甘草一兩，為細未，或煎服，或冷水調服。</p>
<p>凡吐瀉不止，作渴不休者，不治。加驚搐者，不治。口舌生瘡，手足冷，身熱，此陰降陽升。脾氣中絕者，不治。</p>
<p>西江　月大凡男女吐瀉，陰陽順逆當明，男逢瀉甚下無陰，女子吐多不應。出物多而數少，此為寒盛相侵。如逢物少數頻頻，火盛細加體認。</p>
<p>吐瀉若是同見，此名霍亂陰陽，只用一劑理中湯，上吐下瀉了當。服此若還不效，再加熱附煨薑，烏梅作引是良方，莫與俗人誇獎。</p>
<p>吐瀉時時作渴，諸般湯藥無靈，飲湯飲水腹膨膨，束手坐觀死症。急用伏龍飲子，時時與吃調停;須臾吐止火邪寧，才與理中對症。</p>
<p>吐瀉分為三症，食積、寒、熱當知，面黃糞臭惡乳食，此症方為食積。若是身熱作渴。宜為熱症袪除，面白身寒腹痛時，正是虛寒之疾。</p>
<p>食積宜行轉取，靈應去積為宜，如逢熱症又何如，益元五苓為主。寒症理中可用，甚加附子烏梅，寒熱總用胃苓奇，吞用乾薑煎水。</p>
<h3>痢疾門</h3>
<p>痢疾不問赤白，皆屬濕熱，或以赤為熱。白為寒者。非也，亦有食積而成者。其治法有補有洩。赤白濕熱皆有，但熱症腹痛，濕症腹不痛。</p>
<p>凡痢有赤，此濕熱傷在血分，從小腸中來也。以四物湯加黃連。黃芩、黃柏治之。</p>
<p>凡痢有白者，此濕熱在氣分，從大腸中來也。以四君子湯加黃連、蒼朮治之。</p>
<p>凡赤白相雜者，此血氣俱傷。以八物湯加黃連、黃芩、黃柏、蒼朮、滑石治之。以上三症，有後重者，俱加檳榔，枳實。</p>
<p>凡治痢疾，不問赤白。但初起之時，裡急後重，腹中脹痛者，先用三黃丸。大承氣湯下之，後用香連丸調之。</p>
<p>凡痢赤白日久，人事虛弱，原未經下者，若下之，則人事虛，而不可損其不足;若不下。則積未去而難愈。只用保和丸，連服數次，俟腹止痛為度，後以香連丸調之。</p>
<p>凡治痢不可妄用巴豆、牽牛，只用三黃丸穩當。</p>
<p>凡痢有鮮血者，用清血丸，以車前草、陳米煎湯送下。</p>
<p>凡痢有白涎，久不止者，用固腸丸，以陳米飲送下。</p>
<p>凡暑月痢純血著，以益元散、炒過滑石，加紅曲為丸，陳米飲送下。</p>
<p>凡赤白痢脫肛者，此氣下陷也。宜升提之，和中丸以升麻湯吞之。</p>
<p>凡赤白痢嘔吐不食者。此名噤口痢，用木香則失之溫，用山藥則失之閉，只以參苓白朮散，石菖蒲末，陳米飲調下，胸次一開，自然思食。</p>
<p>凡痢止後，身熱不退，或人事瘦弱者，只用集聖丸調之。</p>
<h4>芍藥湯</h4>
<p>行血則便膿自愈，和氣則後重自除。</p>
<p>白芍二錢，歸尾、黃連、黃芩各一錢。大黃七分，甘草。檳榔、木香、桂心各五分。右細切作一服，水碗半，煎一碗，空心服。如病初後重急迫者，倍加大黃，如芒硝一錢。若痞滿氣不宣通者，加枳實一錢，服之自愈。</p>
<h4>四物湯</h4>
<p>當歸、川芎。白芍。熟地黃，加黃連、黃芩。黃柏。</p>
<p>水煎溫服。</p>
<h4>四君子湯(見洩瀉門)</h4>
<p>加黃連、黃芩、蒼朮，水煎服。</p>
<h4>八物湯(見胎毒門)</h4>
<p>加黃連，黃芩、黃柏、蒼朮，滑石，積殼，檳榔。</p>
<p>水煎，空心溫服。</p>
<h4>三黃丸</h4>
<p>黃連，黃芩，大黃各等分，為末，神麯糊丸，木香、檳榔湯送下。</p>
<h4>大承氣湯</h4>
<p>此通腸去積之藥。</p>
<p>枳殼、厚樸、大黃，芒硝，甘草，加檳榔，水煎服。</p>
<h4>保和丸</h4>
<p>凡食積脾胃虛者，用此藥。</p>
<p>山楂肉一兩，神麯(炒），半夏、白茯苓，陳皮、萊菔子。連翹各五錢，麥芽(炒)一兩，甘草三錢。共為末，蒸餅和丸，如粟米大，米飲送下。</p>
<h4>清血丸</h4>
<p>愧子(炒)、荊芥穗、積殼(麩炒）。側柏葉(醋炒)各等分，為末，米醋糊丸，陳米湯送下。</p>
<h4>固腸九(即二根丸)</h4>
<p>紅椿樹根白皮、白椿樹根白皮各等分，為末，米糊丸，陳米飲送下。</p>
<h4>清六丸</h4>
<p>即益元散加紅曲是也，血痢者此方主之。</p>
<p>滑石(炒)一兩，甘草二錢半，紅曲(去殼炒)五錢，共為末，米糊丸，陳米湯送下。</p>
<h4>和中丸</h4>
<p>黃連(炒)、凍皮各五錢半，澤瀉、車前子、白茯苓、山藥、白朮、木香、石蓮肉、肉豆蔻(面包火煨)，乾薑(炒)、人參各二錢。共為末，醋糊丸，陳米飲送下。如脫肛者，升麻湯送下。</p>
<h4>參苓白朮散</h4>
<p>此藥性平，補助脾胃之藥也。</p>
<p>人參、白朮、白茯苓、山藥、白扁豆(薑汁炒)、甘草。桔梗、意苡仁、石蓮肉各一兩，加石菖蒲一兩。共為末，陳米湯化服。</p>
<p>祖傳治痢：不問赤白，只用保和丸，香連丸調之。</p>
<p>凡痢日久，大熱、大渴不退者，不治。</p>
<p>凡痢日久，六脈洪數，面赤身熱者，不治。</p>
<p>凡痢日久，作渴不止者，不治。</p>
<p>凡痢日久，嘔吐不食，服藥無效者，不治。</p>
<p>凡痢日久不止，下紫血成塊者，不治。</p>
<p>凡痢日久，下黑水，如屋漏塵水者，不治。</p>
<p>凡痢日久。大肉瘦削折者，不治。</p>
<p>凡痢日久，脫肛出寸餘者，不治。</p>
<p>凡痢日久，轉作驚搐者，不治。</p>
<p>凡痢變作洩瀉，飲食如常者，易治。</p>
<p>西江　月痢疾古名滯下，食積濕熱相參，腸鳴腹痛不能安，裡急後重無遍。赤乃小腸火盛，白自大腸邪傳，愚醫以白作寒看，辛熱亂行丸散。</p>
<p>治痢無過二法，河間秘訣流傳，行氣積血術中仙，管取十全無變。氣行後重自止，血和下痢自安，寒涼淡滲禁辛甘，不怕年深日遠。</p>
<p>凡痢先行通藥，黃連枳實檳榔，多加酒蒸過大黃，或用三黃推蕩(38)。若是虛人忌此，且從消導(39)推詳。保和丸子是仙方，只要認病停當。</p>
<p>下後病除裡急，再將赤白消詳，赤痢無過剪紅方，白痢固腸穩當。赤白相兼不愈。香連丸子高強，朮精鄉郡把名揚，奪取錦纏頭上。</p>
<p>若遇時行痢疾，排門一樣無差，頭疼身痛慢吁磋，疫癘氣行須怕。先用人參敗毒，次將承氣推車，然後察脈看減加，虛實分明調他。</p>
<p>痢久前法不止。氣陷腸滑無停，急將涼藥與提升，固澀兼行甚穩。參朮升麻歸芍，烏梅粟殼連芩，乾薑訶子赤茯苓，粳米陳皮作引。</p>
<p>記得痢症藥品，解毒梔子芩連，大黃芒硝可推陳，木香陳皮痛定。檳榔積殼後重，升麻柴胡提升，固腸粟殼訶梅靈，澤瀉豬苓水順。</p>
<p>痢疾不治數症。脈若洪大須防，禁口不食吐水漿，大熱煩渴腹脹。大孔不收魄戶(40)，糞如塵黑爪櫰。面紅唇赤陷眉眶，氣急悶亂危樣。</p>
<p>小兒肛頭脫出，此由洩痢深沉，氣虛下陷不能升，冷熱不知相並。裡急後重難便，用力太過傷神，以致肛出冷寒乘，不得收返而進。</p>
<p>要識脫肛症治，養血和氣為宜，川芎白芷與當歸，白芍人參赤石。槐子山藥蓮肉，龍骨五倍相隨，細研五倍作丸子(41)，仍用米湯吞吃。</p>
<p>內服湯丸取效，外用諸藥扶持，粱上倒掛壁塵灰，鱉頭燒灰研細，鼠糞共末艾捻，入桶用火燃之。人坐其上令熏宜，頃刻肛頭收入。</p>
<p>前法若還不效，田螺取搗為泥，樸硝大黃共和之，捶膏敷上即愈。不效再用搽藥，熊膽冰片堪題，鵝膽調搽病即除，此法醫人牢記。</p>
<p>導氣苓連共木香，大黃歸芍殼檳榔。痢下膿血時無度，管取一服即安康。</p>
<h4>治脫肛浴法</h4>
<p>用陳艾煎水，以陳壁土研細，入艾水澄過渣，以艾水溫浴之，俟收入為度。外用熨法。</p>
<p>熨法用麥面以好米醋和成簿餅，敷在臍上，將艾薄薄鋪於餅上，燃之。</p>
<p>注：(1)原書注：蓐母，生兒之母，謂之曰蓐。</p>
<p>(2)鋾：陶器，溫器也。</p>
<p>(3)皆：漢陽鶴湄張伯琮校定版為"此"。</p>
<p>(4)調養：山東泰安州李雨霑方悅父發梓版為"調食"。</p>
<p>(5)腹痛：山東泰安州李雨霑方悅父發梓版為"腹肚"。</p>
<p>(6)病：山東泰安州李雨霑方悅父發梓版為"驚"。</p>
<p>(7)燭弄：漢陽鶴湄張伯琮校定版為"竹弄"。</p>
<p>(8)瀉：山東泰安州李雨霑方悅父發梓版為"泄"。</p>
<p>(9)其於人也亦然：山東泰安州李雨霑方悅父發梓版為"將於人也赤然"。</p>
<p>(10)此皆受稟胎氣之有餘也，多壽：漢陽鶴湄張伯琮校定版為。此皆堂梟胎氣之有餘也，主多壽"。</p>
<p>(11)不語：山東泰安州李雨霑方悅父發梓版為"不乳"。</p>
<p>(12)(13)瀉：山東泰安州李雨霑方悅父發梓版為"泄"。</p>
<p>(14)驚風門：原書注，驚自是驚，風自是風，要分別明白，不可混治。</p>
<p>(15),(16),(19)瀉：山東泰安州李雨霑方悅父發梓版為"泄"。</p>
<p>(l7)概：山東泰安州李雨霑方悅父發梓版為"側"。</p>
<p>(18)壅塞：山東泰安州李雨霑方悅父發梓版為"湧塞"。</p>
<p>(20)左乳：原書注，即期門穴也，小兒乳下一指。</p>
<p>(21)兩指伸縮名為搐，十指開合弱之形：漢陽鶴湄張伯琮校定版為"兩指開合似發搐，十指伸縮弱之形"。</p>
<p>(22)氣難當：山東泰安州李雨霑方悅父發梓版為"氣味香"。</p>
<p>(23)(24)(25)(26)(27)(28)(29)(30)瀉：山東泰安州李雨霑方悅父發梓版為"泄"。</p>
<p>(31)如今傳授救兒嬰，似積心田一頃：山東泰安州李雨霑方悅父發梓版為"如今傳授與子孫，勝似良田萬頃"。</p>
<p>(32)指歸：山東泰安州李雨霑方悅父發梓版為"惰歸"。</p>
<p>(33)黑薑：山東泰安州李雨霑方悅父發梓版為"黑藥"。</p>
<p>(34)條陳：山東泰安州李雨霑方悅父發梓版為"條成"。</p>
<p>(35)相搏：山東泰安州李雨霑方悅父發梓版為"相傳"。</p>
<p>(36)之侯：山東泰安州李雨霑方悅父發梓版"之後；(37)積滯氣臭酸：山東泰安州李雨霑方悅父發梓版"疳肥食臭酸"。</p>
<p>(38)推蕩：山東泰安州李雨霑方悅父發梓版為"推湯"。</p>
<p>(39)消導：漢陽鶴湄張伯琮校定版為"通藥"。</p>
<p>(40)魄戶：漢陽鶴湄張伯琮校定版為"梟口"。</p>
<p>(41)作丸子：山東泰安州李雨霑方悅父發梓版為"丸子兒"。</p>
<h2>卷五</h2>
<h3>瘧疾</h3>
<p>瘧疾治法有二，新瘧先截後補，久瘧先補後截。</p>
<p>凡瘧要分早晚治之，如上半日發者，此邪在陽分氣位也，先用平胃散加常山(1)、草果截之。後用平瘧養脾丸，調理而安。如下半日發者，此邪在陰分血位也，輕者以四物湯加桂枝、桃仁、紅花，發出血中寒邪。甚者，以小柴胡湯加升麻、當歸提到陽分，然後以小柴胡湯加常山、草果截之。略愈，以平瘧養脾丸調之而安。</p>
<p>如瘧來寒多熱少者，以平胃散加常山、桂枝，草果仁截之;熱多寒少者，以白虎湯加常山、草果。青皮截之，寒熱相半者，用小柴胡湯加常山、草果截之。後以平瘧養啤丸調之。如大人以補中益氣湯調之。以上數症，皆先截後補也。</p>
<p>如久瘧連綿不退者，或二、三日一次，其邪已深，不可妄用截藥，只以平瘧養脾丸調之。有汗要無汗，無汗要有汗，其瘧易退。再要避風寒，禁雞魚。冷水，無不安者。如犯禁戒，雖九轉靈丹，亦難治也。</p>
<p>凡瘧後轉作痢疾著，此症多得於夏末秋初，因內有伏陰，多傷生冷故也。當從(2)虛治，不可妄用通利之藥。如平常下痢者，以香連丸，米湯送下。</p>
<p>如瘧痢並作著，以平瘧養脾丸。橘皮和中丸相間服之。</p>
<p>如瘧後遍身浮腫者。此因汗後受風故也。以胃苓丸加五加皮、大腹皮，燈心、長流水煎湯治之，大兒加減胃苓湯治之。外用浴法，於日當午時，向避風處，以溫水拂拭遍身，略睡一時，以被蓋之，微汗為度。每日依此行之，其法甚效。</p>
<p>如瘧後腹脹，或喘或不喘者，此因內傷生冷。脾肺俱病故也。蓋脾主脹，喘屬肺，以塌氣丸消脹，以葶藶丸定喘治之。後以集聖丸調之。</p>
<p>如瘧後腹中有痞著，此瘧母也。因多食冷水所致。亦有熱而成者，治以月蟾丸主之。</p>
<p>凡瘧後形體黃瘦者，只以集聖丸調之。</p>
<h4>平胃散</h4>
<p>此治濕養脾之藥也。</p>
<p>蒼朮(米泔漫炒)一錢二分，厚樸(薑汁炒)一錢，陳皮二錢，甘草一錢，加常山三錢，草果三錢。薑棗引。</p>
<h4>四物湯(凡痢疾門)</h4>
<p>此藥性平，治血不足之聖藥也。</p>
<h4>桂枝湯</h4>
<p>此發散風邪之要藥也。</p>
<p>桂枝，赤芍，甘草，薑棗引。</p>
<h4>小柴胡湯</h4>
<p>此半表半裡之藥也。</p>
<p>柴胡二錢，黃芩一錢五分，半夏七分，人參七分，甘草五分，加山梔、丹皮，名加味小柴胡湯，薑棗引。</p>
<p>心中飽悶，加桔梗、枳殼。痞清加黃連、枳實。口渴加知母，石膏。內熱盛。錯語心煩，不得眠者，合解毒湯。</p>
<p>白虎湯此藥性寒，所以治熱也。</p>
<p>石膏五錢。知毌二錢，粳米一勺　甘草七分，水煎服。</p>
<p>以上諸方，截瘧必用常山、草果者，蓋此二味，乃治瘧必用之藥也。</p>
<h4>補中益氣湯</h4>
<p>此補中氣不足之聖藥也。</p>
<p>黃祇、人參、甘草、柴胡、升麻、白朮、當歸、陳皮，水煎，薑棗引。有汗用白朮，無汗用蒼朮，治瘧加青皮。</p>
<h4>加減胃苓湯</h4>
<p>此滲利之聖藥也。</p>
<p>豬苓、澤瀉，赤茯苓、白朮、官桂、五加皮、蒼朮、陳皮、厚樸，甘草、木通、大腹皮，防風、生薑皮，燈心、薑引，取順流水煎服。</p>
<h4>瘧養脾丸</h4>
<p>歸身、人參、陳皮(去瓢)各一錢，黃芩二，草果仁一錢，南星(炮)一錢，白朮一錢五分，白茯苓一錢;柴胡一錢五分，甘草(炙)五分。共為末，米糊丸，如黍米大，竹葉、炒米湯下。一方加常山、黃祇，鱉甲(醋炙黃色)。</p>
<h4>月蟾丸</h4>
<p>木香、人參、黃祇、當歸。桔梗、使君子肉、黃連、山稜(炮)、枳實、莪朮(煨)、鱉甲(炙)、苦棟根皮、干蟾（燒存性)、訶子肉、夜明砂。綠礬各等分，共為末，醋糊丸，陳米湯下。</p>
<p>祖傳治瘧之法：以斬鬼丹截之，胃苓丸調之。常用平胃散，加常山。草果為末，每服一字，於臨發日五更，用桃柳枝七根，煎湯調服。</p>
<h4>治大人瘧疾方</h4>
<p>人參五分，常山(酒炒)三分，檳榔三分，草果仁四分，綠至粉(炒)，甘草(炙)，貝母三分，青皮五分，水煎服。</p>
<p>又方常山、檳榔(一個)、當歸，蒼朮、甘草、陳皮，先一服，用酒擂細，滾酒泡極。如不效，將桃枝七根，燈心七根，水煎二、三滾，露一宿，發日五更溫服。禁生冷雞魚發物。</p>
<p>西　江　月瘧疾來時潮(3)，內傷外感生痰，初時截法似神仙，不可養虎遺患。外感小柴飲子，內傷平胃為先，內加草果與常山，桃枝為引最驗(4)。</p>
<p>截後才調脾胃，只消清瘧養脾(5)，袪邪補正作良醫，不讓仲陽錢氏。瘧久若成痞塊，面黃腹滿消肌，月蟾巢聖是根基，此個方兒密記。</p>
<p>如是小兒久瘧(6)，或於午後來潮，叉如間日又三朝，截法不宜急暴。只用養脾清瘧，相兼集聖和調，神丹斬鬼莫輕饒，發日五更分曉。</p>
<p>瘧痢如逢並作，其間吉兇須知，大端飲食要如時，胃氣完全可治。若是不思乳食，強將脾胃扶持，胃苓丸子莫差弛，間以香連止痢。</p>
<p>久瘧多成壞症，脾焦肚大青筋，頸乾腳細減元神，飲食全然不進。面目虛浮怯弱，四肢無力難行，不須醫治枉勞心，九死一生危病。</p>
<p>七律平瘧養脾用人參，白朮陳皮當歸身，茯苓厚樸薑汁炒，蒼朮五錢米水浸。粉草半夏浸七次，青皮柴胡與黃芩，常山草果二錢半，鱉甲三錢，效如神。</p>
<h3>發熱門</h3>
<p>小兒凡病有熱，症既不同，治亦多異，須分虛實，不可妄用汗下也。</p>
<p>傷風發熱，其症汗出，身熱，呵欠，目赤澀，多睡，惡風喘急，此因解脫受風所致。宜疏風解肌退熱，先服柴葛解肌湯，發去風邪，熱退之時，再服涼驚丸，以防內熱。</p>
<p>傷寒發熱。其症無汗，身熱，呵欠，煩悶，項急，面赤，喘急，惡寒，口中氣熱，此因解脫受寒所致。宜發散寒邪，退熱鎮驚，先服惺惺散，發去寒邪，後用涼驚丸，以防內熱。</p>
<p>以上二症，如小兒稟賦原實者(7)，可用涼驚丸，若虛祛者，不如只用胃苓丸，甚效。</p>
<p>如傷風寒發熱，又吐瀉者，不可發散，此脾睡怯也。只以五苓散吞理中丸，甚效。</p>
<p>傷熱發熱，多得於夏，其症身熱，自汗。作渴，昏睡，手足俱熱。此因天氣已熱，包裹太厚，重受其熱也。先以白虎湯調益元散，以解其熱;次服調元生脈散，以補正氣。</p>
<p>傷暑發熱，亦多得於夏，其症身熱，自汗，作渴，昏睡，手足冷。此由陰室中貪涼大過所致。服調元生脈散，補其元氣;次服四君子湯，以防吐瀉之病。</p>
<p>如夏月汗出當風，以致身熱，渾身自汗不止者，此名暑風。</p>
<p>四君子湯加麻黃根、黃祈以去風，次以益元散以去熱。</p>
<p>傷食發熱，其症手心、肚腹尤熱，噎氣吐乳，大便酸臭，或腹疼多啼，飽脹喘急，不思乳食。此因飲食過度所傷，宜先用利藥去其積，用丁香脾積丸，復以集聖丸調之。</p>
<p>如傷食己久，日漸黃瘦，無時作熱者，不可下之，輕者保和丸，重者集聖丸，百無一失。</p>
<p>痘疹發熱，其症面燥腮赤，目胞亦赤，呵欠煩悶，乍熱乍涼，咳嗽噴嚏，手足指冷，驚怖多睡。此由時行痘疹，各相傳染，宜清熱解毒。惟痘疹宜參蘇飲加木香，麻痘宜用荊防敗毒散，不可妄施汗下，恐生變症。若變蒸發熱，此小兒常症，不須服藥　(見本門)。</p>
<p>潮熱者，當分二症，有時間發熱，過時即退　，來日依時復發，其狀如瘧，此肺熱也;有早晚發熱，每日兩度，如潮水之應期者，此胃熱也。蓋因感觸邪氣，以致血脈凝滯，不得流通，若不治之，變為驚疳者多矣。肺熱地骨皮散主之，胃熱三黃丸下之。</p>
<p>如虛熱者，用集聖丸調之。</p>
<p>驚熱者，遍身發熱，面青自汗。心悸不寧，脈數煩躁，顛叫恍惚;此心熱也。以涼驚丸退熱，安神丸定心。</p>
<p>夜熱者，但夜發晝退，此血虛症也。以人參當歸散治之，更兼抱龍丸，以防作搐。</p>
<p>餘熱者，傷寒汗後，而熱又來，乃表裡俱虛，氣不歸元，陽浮於外，不可再用寒涼之藥，古人戒之。當和胃氣，使陽氣收斂，其熱自退，人參蒼朮主之。甚者，四君子湯加炒乾薑，即效。</p>
<p>疳熱者，形色黃瘦，食不長肉，骨蒸盜汗，洩瀉無常。肚大腳小。此多得於大病之後，失於將息，又或傷飽失飢，用集聖丸調理。</p>
<p>壯熱者，一向熱而不已，由氣血壅實，五臟生熱，鬱蒸於內。則睡臥不安。精神恍惚;薰發於外，則表裡俱熱，燥急喘粗，甚則發驚癰。先以導赤散，洩青丸以治其熱;後以抱龍丸鎮其驚。如實熱，大小便秘(8)者，三黃丸下之。</p>
<p>煩熱者，心躁不安，五心煩熱，四肢溫壯，小便赤色。宜導赤散加麥冬、山梔仁治之，再以涼驚丸，撤其餘邪。</p>
<p>積熱者，頰赤口瘡，大小便赤澀，此表裡俱實。或內傷酒面，煎傳熱藥峻補;外因厚綿爐火所侵，皆能生熱，此內外蘊積之熱也，非食積。先以三黃丸下之，後以涼驚丸調之。</p>
<p>虛熱者，或因汗下太過，津液虛耗;或因大病之後，元氣受傷，皆能生熱。其症困倦少力，面色青白。虛汗自出，神慢噓氣軟弱，手足厥冷。此氣血俱虛，氣虛兩發厥，血虛則發熱也。四君子湯加炒乾薑，甚者加熟附子一片，待熱少退，以涼驚丸調之。</p>
<p>客熱者，陽邪干於心也。心若受邪，則熱形於額，故先起於頭面而身熱，恍惚多驚，聞聲則恐。此由五氣虛而邪氣勝，故與之交爭。發熱無時，進退不定，如客之往來。先以導赤散去其邪，後以涼驚丸調之。</p>
<p>癖熱者，由乳食不消。伏結於中，致成癖塊，以生內熱，薰灼於外。集聖丸主之。</p>
<p>瘧熱者，寒熱往來。有頭痛汗出者，有嘔吐不食，憎寒壯熱作濁者，有遍身疼痛者或吐瀉者。症既百出，病非一端。頭疼汗出及遍身疼者，小柴胡湯加蒼朮、羌活治之;腹痛者，脾積丸下之;作渴者，白朮散治之;吐瀉者，理中湯治之。後用平瘧養脾丸調之。</p>
<p>血熱者，每日巳午時發熱，遇夜則涼，此心熱也。輕者導赤散，重者四順飲治之。</p>
<h4>柴葛解肌湯</h4>
<p>柴胡、干葛、黃芩，桂技、赤芍、人參、甘草，竹葉七皮，薑棗引。</p>
<h4>惺惺散</h4>
<p>人參、白朮、白茯苓、甘草、桔梗，天花粉，細辛、防風、川芎，加麻黃、薄荷葉，薑引。</p>
<h4>調元生脈散</h4>
<p>黃芩、人參、麥冬、甘草、五味子，水煎服。</p>
<h4>參蘇飲</h4>
<p>人參、半夏、茯苓、甘草，桔梗，枳殼，干葛、前胡、木香、蘇葉、陳皮。薑棗引。</p>
<h4>防風敗毒散</h4>
<p>生地、防風、連翹、升麻、荊芥穗、牛蒡子。玄參、酒柏，人參、桔梗、甘草，水煎服。</p>
<h4>地骨皮散</h4>
<p>知母、柴胡、甘草(炙)、地骨皮、赤茯苓，半夏，薑三片引，水煎服。</p>
<h4>人參當歸散</h4>
<p>人參、歸身，生地黃、地骨皮，柴胡、甘草，生薑引。</p>
<h4>四順散</h4>
<p>解小兒膈熱當歸、大黃(酒蒸)、赤芍、甘草，水煎服。</p>
<p>祖傳治發熱，不間其症，脾胃虛弱者，以胃苓丸、竹葉，炒米湯吞下;元氣虛者。以涼驚丸、竹葉、薄荷、燈心湯送下。隨症用引。</p>
<p>西　江　月小兒病則生熱，須知得病根苗。風寒外感熱來潮，飲食內傷煩躁。吐洩瘧痢瘡疥，變蒸痘疹如燒，骨蒸體熱漸成癆，謂治般般分曉。</p>
<p>若是風寒外感，面紅又惡風寒，惺惺散子妙難言，有咳參蘇效驗。飲食內傷可下，三黃脾積相添，再加集聖保平安，莫使脾虛難轉。</p>
<p>吐洩胃苓最妙，赤白痢用香連，瘧家平瘧解邪先(9)瘡疥胡麻丸散。變蒸小兒常病。不須妄用湯丸，如逢痘疹別科傳，集聖專調疳軟。</p>
<p>治熱汗下休錯，誤汗誤下傷人，應汗而下痞滿侵，應下而汗驚定。只為不明表裡，致令兒命早傾，果難捉摸且因循，藥用胃苓集聖。</p>
<h3>哮喘門</h3>
<p>哮喘之症有二，不離痰火。</p>
<p>有卒感風寒而得者，有曾傷鹽水而得者，有傷醋湯而得者，至天陰則發，連綿不已。輕則用五虎湯一帖，重則葶藶丸治之。</p>
<p>此皆一時急解之法，若要斷根，常服五聖丹，外用灸法。</p>
<h4>五聖丹</h4>
<p>天南星(煨)一兩，半夏(泡七次)，陳皮(去白鹽水拌)一兩，甘草四錢，杏仁四十九粒(另研)。先以南星，半夏二味研末，薑汁、皂角汁拌勻和作餅。又將甘草。陳皮研末，取竹瀝一碗，以藥和成餅子;培干，又浸濕，又焙乾，以竹瀝盡為度。再研杏仁泥，蒸蜜和為九。臨時噙化一丸，以薄荷湯送下。</p>
<h4>灸法</h4>
<p>取心穴(在背上)、足三里穴，各三壯，仍禁酸成辛熱之物。</p>
<p>西　江　月哮喘症雖有二，皆由痰火中藏，或被風寒襲外方，內被鹽水醋嗆。亦有乳嗆而得，致令攻腠為殃，用藥調理法雖良，斷根灸法為上。</p>
<p>哮喘多成宿疾，天陰欲雨連綿，治時發表及行痰，九寶時常靈驗。表邪未除五虎，裡實葶藶為先，不須砒時作成丸，誤了孩兒命短。</p>
<h3>咳嗽門</h3>
<p>咳嗽治法有三、有發汗，有下洩，有清補。</p>
<p>如初起挾風寒外感者，輕則蘇沉九寶湯，重則五虎場，一帖即效。</p>
<p>如咳久，身熱喘急，此肺中伏火也，以葶藶丸利之。</p>
<p>如咳久肺虛，連綿不已，即當補肺，阿膠散主之。</p>
<p>如咳久連聲不已，口鼻出血者，茅根湯主之。</p>
<p>如夏月得咳嗽者，以加味白虎湯治之。不可汗下　(方見瘧門)。</p>
<p>如咳痰甚者，以利痰丸主之(方見驚門)。</p>
<p>如咳久成龜胸者，以葶藶丸主之。</p>
<p>如咳嗽吐血者，二陳湯加薑汁主之。</p>
<p>如咳嗽咽痛聲嘎者。以甘桔湯主之。</p>
<h4>蘇沉丸寶湯</h4>
<p>此發散之藥也。</p>
<p>桑白皮(去赤)、甘草，大腹皮、官桂、陳皮、蘇葉、麻黃(不去節)、烏梅(一個)、薄荷葉、杏仁(不去皮尖)各等分，薑引，水煎服，微汗為度。</p>
<h4>五虎湯</h4>
<p>此發散之上藥也。</p>
<p>麻黃七分，杏仁一錢，甘草四分，細茶(炒)七分，白石膏一錢五分;水煎服，發汗禁風。</p>
<h4>葶藶丸</h4>
<p>洩肺喘，通水道。</p>
<p>甜葶藶(略炒)、黑牽牛(炒)，杏人（去皮尖，炒），漢防己。各等分，共為末，然後入杏仁泥和之，棗肉同搗為丸。淡薑湯送下。</p>
<h4>阿膠散</h4>
<p>定喘，消痰，止嗽，此補肺之藥也。</p>
<p>牛蒡子、甘草、杏仁，馬兜苓、阿膠(粉炒成珠)、糯米，水煎服。</p>
<h4>茅根湯</h4>
<p>陳皮(去白)、半夏(炒)、茯苓、甘草、天冬(去心)、杏仁泥、片芩、梔子、貝母、知母、石膏、瓜萎霜。生地、桔梗，水煎，取茅根自然汁和服。</p>
<p>凡咳嗽日久，面青而光，其氣喘促，哽氣時多出聲，唇白如練，此肝氣旺而肺氣絕者，不治。</p>
<p>凡咳嗽日久，喉舌生瘡，其聲嘎者，不治。</p>
<p>凡咳嗽日久，胸高而喘，肩與肚脅俱動，加驚搐者，不治。</p>
<p>凡咳嗽日久，潮熱喘急，一咳之時，面青黑，目上竄，血從口鼻長出者，此木火旺盛而肺已絕，不治。</p>
<p>凡咳嗽日久，面白，唇青，目閉(10)悶亂，頭搖手擺者，此肺氣將絕，不治。</p>
<p>西　江　月小兒或病咳嗽，醫家症要分明，咳為有傷於肺經，嗽則脾家病症。有聲無痰是咳，無聲有痰嗽真，時乎咳嗽病同臨。有聲有痰一定。</p>
<p>小兒傷風咳嗽，其症身熱憎寒，自汗躁煩不安然，日夜嗽聲無遍。時常鼻流清涕，咽喉不利痰涎。脈浮頭痛症多端，治則宜乎發汗。</p>
<p>咳激或傷寒症，此因飲冷形寒，冬月坐臥濕地間，抑被冷風吹犯。其症脈緊無汗，煩躁不渴惡寒，治宜發散汗為先，藥用參蘇飲驗。</p>
<p>若是咳嗽傷熱，其症面赤躁煩。飲水不止膈咽乾，咳睡稠黏症現。甚則急喘而嗽，痰涎必生喉咽，潮熱手足或冰寒，小兒多有此患。</p>
<p>咳嗽若患火症，決然咯唾血膿，甚者七竅血流通，此是肺熱火動。若吐青綠白水，胃冷停飲相攻，嗽吐痰涎乳食中，宿滯不消取用。</p>
<p>要知治嗽大法，依時認症扶持，春天外感疲無疑，夏是炎上火氣，秋則肺傷濕熱，冬為風冷相隨，相時而動作良醫，對症依方用劑。</p>
<p>大抵實者當下，虛則補藥為宜，寒者溫散藥中推，熱症清涼為貴。風則尤當發散，停痰消逐宜施(11)，初間(12)止澀莫投之，總要化痰順氣。</p>
<p>肺乃五臟華蓋。皮毛易感風寒，初醫發汗最為先。杏仁麻黃最驗。薄荷石膏甘草，黃芩桔梗人參，前胡枳殼臘茶煎，一服諸風發散。</p>
<p>久咳不宜發汗，化痰順氣為宜，潤下玉液有神奇，不效再行湯劑。貝母陳皮枳殼，茯苓甘草芩梔，前胡薄荷杏仁泥，有熱石膏堪取。</p>
<p>久咳痰壅發熱，看他二便何如，若還清利是中虛，只用抱龍區處;如果秘結實熱，葶藶五色驅除，要分虛實不須拘，此是小兒命主。</p>
<p>久咳連聲出血，清金降火為佳，芩連甘桔款冬花，知貝二冬多下，去白陳皮積殼，前胡地骨霜瓜。茯苓玄參茅根加，此個方兒無價。</p>
<p>大凡咳嗽治法，必須清化痰涎，化痰順氣最為先，氣順痰行咳減。順氣陳皮枳殼，化痰半夏天南，黃芩梔子火邪乾，桔梗茯苓開滲。</p>
<p>虛咳時加作熱，面黃氣短無神，當歸陳皮心。白茯苓，梔子黃芩桔梗，知貝前胡天麥，甘草枳殼人參，更加黃柏炒如神，煎同生薑作引。</p>
<p>久咳連聲不已，面青目竄常吁，胸高肩息汗如珠，臉白唇青背屈，骨瘦如柴潮熱，鼻乾發燥神虛，啞嘎驚搐不須拘，縱有靈丹無處。</p>
<h4>蝦蟆瘴論症治歌</h4>
<p>咳嗽小雞嗚，痰多吐血淋，升麻湯一劑，管叫得安寧。</p>
<h3>心，腹痛門</h3>
<p>心腹痛有六：有寒，有熱，有食，有積，有蟲，有霍亂。</p>
<p>凡小兒外感風寒，內傷冷物，胃氣當心而痛，啼哭悶絕，手足冷，或吐或不吐，以熱手按摩則止者，用草豆蔻丸主之。</p>
<p>幾小兒受寒，連腹疼痛，叫哭不寧，手足冷，汗出，或洩或不洩。得熱稍定，以理中湯主之。</p>
<p>幾小兒腹痛，無時舉發者，此積痛也。不可數下，下則氣傷而難愈，以集聖丸調之。</p>
<p>凡小兒飲食之後，卒然腹痛，此傷食也。須問其平日，曾有此疾否?若原無此疾，作傷食看，以丁香脾積丸利去所傷之食，用原傷之物，煎湯送下。後以集聖丸調之。若原有此疾，當作積論。</p>
<p>幾小兒心腹疼痛，嘈雜，口吐清水，面黃肌瘦，得食即止，肚飢又作嘈雜痛，此蟲痛也。先用雄黃解毒丸，苦楝根白皮煎湯吞下，追去其蟲，後用集聖丸調之。如元氣弱者，不可下，只用集聖丸主之。</p>
<p>凡小兒晝則無事，夜則啼哭，此腹痛也。蓋腹屬陰，痛主寒，遇夜則發，陰寒盛也。以理中丸，燈心燒灰煎湯下。</p>
<h4>草豆蔻丸</h4>
<p>草豆蔻(面包煨去油)一錢，陳皮六錢，澤瀉，半夏各一錢，桃仁(去皮尖)七粒，麥芽(炒)二錢半，神麯(炒)、柴胡、薑黃各四錢，共為末，湯浸蒸餅為丸，白湯下。</p>
<h4>丁香脾積丸</h4>
<p>丁香、良薑(醋炙)各五錢，木香、巴豆霜、三稜(煨)，莪朮各三錢，青皮　(醋浸去白)五錢，皂角(燒存性)二錢，百草霜四錢，共為末，醋糊丸。有積，茴香湯下。傷食，原物湯下。水瀉者，甘草湯下。</p>
<p>祖傳治腹痛：甚者，解霉丸下之，輕者，脾積丸下之。</p>
<p>凡小兒心腹痛急甚者，面青，手足冷，指甲青，目上竄，悶亂煩躁，狂言邪語，噴藥喘急者。皆不治。</p>
<p>西　江　月凡遇小兒腹痛，必須察認原由，面黃腹痛食中求，臉白蚘蟲(13)作楚。指冷面青寒痛，三種(14)，啼哭無休。或溫或下藥先投，不可臨時差謬。</p>
<p>積痛先行脾積，養脾以次調和，蟲家別用取蟲科，集聖勤勤服可;寒痛理中最妙，茱萸湯引宜多;無時腹病又如何，集聖妙如利藥。</p>
<p>積痛有時發作，面黃腹脹難痊，丁香脾積下當先，後用養脾調緩。蒼白青陳曲麥，茴香莪朮三稜，砂仁靈脂木香兼，枳實黃連川棟。</p>
<p>蟲痛時時作楚，面白清水長流，檳榔蘆薈與糖毬，君子蕪荑練(15)肉，白朮木香靈脂，黃連辰砂莪縮，青陳干蟾(16)與麥曲，蟲去痛除是福。</p>
<h3>疝氣門</h3>
<p>疝氣初得屬寒，久則屬火。</p>
<p>凡小腹疼痛，外腎腫硬者，此名疝氣。蓋由小兒久坐濕地，以致寒氣內侵於腎而得，所以小腹刺痛，外腎腫硬。但左為偏墜，右為膀胱。輕者內服五苓散加茴香、川棟(17)子。橘核、檳榔，少加木通。屢試屢效。甚者加附子一片，即效。後服茱萸內消丸調之。外用敷藥及薰洗法。</p>
<p>凡小兒佳急多啼，有傷於脾肝，以致睪丸腫大下墜者，小腹不痛，但外囊浮大，汨汨有聲。此宜二陳湯去甘草，加海藻、尾布、荔技核、小茴香、川棟(18)子，為末，順流水調服，更以瀉青丸，去大黃加青皮，相間服之。</p>
<p>敷藥用蚯蚓糞，不拘多少，為細末，以蔥汁調敷腫處，一日一換，以消為度。</p>
<p>薰法用鮮蔥搥研細。煎百沸湯，入鹽少許，以瓶盛之，令小兒正坐其上，蒸其腫處，待水溫洗之。後加敷藥。</p>
<p>灸法牽小兒陰莖，向胯側比之，盡處是穴，左則取左，右則取右，並灸三陰交穴，各三壯。</p>
<p>祖傳治小兒疝氣偏墜，用茱萸內消丸，外用敷藥。</p>
<p>西　江　月疝氣如何而得，下焦熱結膀胱，腎囊腫大似茄樣，左右墜難抵擋。內服茱萸丸子，外用龍土蔥湯，待他痛止腎消囊，再灸兩邊胯上。</p>
<p>我有得傳妙法，橘核木香沉香，茴香大小用相當，食鹽故紙為上。巴豆少炒川棟(19)，去巴取棟(20)如常，研為細末酒調嘗，一服汗淋停當。</p>
<h3>浮腫門</h3>
<p>浮腫治法，開鬼門者，發汗也，洁淨府者，利小便也。</p>
<p>凡小兒面目遍身浮腫者，或因胎稟虛弱，卒冒風濕，或因瘧疾汗後，不曾禁風，皆成此症。輕者用胃苓丸治之，重者可用加減胃苓湯治之。</p>
<p>凡小兒浮腫，又加喘急者。此脾傳肺也，當專治脾而兼治肺，日服加減胃苓湯，夜服葶藶丸。如先喘急而後面目浮腫者，此肺傳脾也，當專治肺而兼治脾，日服葶藶丸，夜服胃苓湯加麻黃、杏仁。如先浮腫而後腹脹者，此表邪傳裡也，只以加減胃苓湯主之。</p>
<p>凡浮腫，不可妄用汗下，更不宜闌大戩、甘遂、牽牛之類，以傷元氣。</p>
<h4>加減胃苓湯</h4>
<p>陳皮、蒼朮、厚樸(薑汁炒)、甘草、豬苓、赤茯苓、澤瀉、木通、白朮、官桂、滑石，防己、五加皮、生薑皮。因喘而致者，加麻黃、杏仁，桑白皮。腹脹者，加大腹皮、木香、檳榔、蘇梗，去甘草。氣虛者，加人參，燈心引，順取長流水煎，溫服。</p>
<p>浴法於午時煎蔥百沸湯，避風處浴之。蓋覆，喀取微汗，日日依此訣行甚效。</p>
<p>祖傳治浮腫：只用胃苓丸，用長流水，五加皮、燈心煎湯吞，外用浴法。</p>
<p>凡浮腫氣促，面黑，脈微細，不飲食著，不治西　江　月小兒病患浮腫，或因胎氣贏虛，卒冒風濕外邪欺，以致澤身腫起;又或諸病汗下，脾虛又被風吹，遂爾浮腫堪憂慮(21)，症別輕重用劑。</p>
<p>輕用胃苓丸子，重則加減堪行，再用浴法保安寧，此法古今永定。不可太施汗下。太補亦不宜行，能依方法救孩嬰，方可稱為司命。</p>
<p>大抵浮腫治法，鬼門淨府須知，木通防己五加皮，蘇葉車前滑石。滲濕四苓飲子，補脾平胃須宜，燈心長流水煎之，每日清晨早吃。</p>
<p>要識浮腫死症，氣促面黑須擾，脈微細小不堪謀，飲食不飧難救。臍翻糞如羊屎，泰山倒了難扶，忽生大喘肺經虛，縱有靈丹何救。</p>
<h3>脹滿門</h3>
<p>脹滿專屬於肺，有虛脹，積脹，熱脹，寒脹。</p>
<p>虛脹者，或因吐洩，或誤服下藥，致成脹滿著，此宜補中調氣，利小便，以四君子湯去甘草，加厚樸、陳皮、蒼朮。木香、木通治之。蓋中滿忌甘草，所以去之，若厚補乃脹滿必用之藥。</p>
<p>積脹者，腹中原有食積結糞，小便黃，腹時作痛，微喘脈實，時時飲水，又不能食者，可下。用丁香脾積丸，下後，以集聖丸調之。</p>
<p>如脾胃素弱，不能消導運化，傷食作脹者，先補脾，四君子湯去甘草，加厚樸。陳皮、砂仁，後以脾積丸下之。後又補脾，集聖丸主之。輕者，只以保和丸調之。</p>
<p>熱脹者，渾身壯熱，面赤煩躁，大便秘，此因胎稟素厚，誤服藥而致者，急以三黃丸下之。不通者，用膽導法，下後，以胃苓丸調之。</p>
<p>寒脹者，因寒積鬱結而脹，手足厥冷，面青氣急。先以塌氣丸治之，後以胃苓丸調之。</p>
<p>凡脹滿喘急，除寒脹一症，其餘俱以葶藶丸治之。</p>
<p>亦有遍身瘡疥，因淋洗塗搽，逼毒歸內而腹脹者，輕則敗毒散治之，重則解毒丸下之，瘡出脹消而愈。如面青黑，氣上急，手足冷，目直視，或目閉嘔乳者，皆不可治。</p>
<h4>塌氣丸</h4>
<p>胡椒一兩，蠍梢(去毒)五錢，共為末，麵糊丸，陳米飲下。一方加夢卜子，名褐丸子。</p>
<h4>敗毒散</h4>
<p>荊芥、防風、連翹、枳殼、升麻，薄荷葉、羌活、獨活、桔梗、干葛、木通、金銀花、黃苓，川芎、甘草、山梔子，上腫加蔥三莖，下腫加燈心一握，薑三片引。水煎服。</p>
<p>凡腫脹，大小便不通，嘔吐者，不治。臍突背平者，不治。</p>
<p>凡腹脹喘急，氣長出，目閉，不食者，不治。</p>
<p>凡腹脹喘促，驚搐，悶亂者，不治。</p>
<p>祖傳治脹滿，以解毒丸下之，胃苓丸調之。</p>
<p>西江　月腹脹名為惡症，寒熱虛實分明，忽然飽悶勢猙獰，傷食熱家體認。吐泄脹而寒取，大便秘而實因，四肢浮腫濕家尋，痞瘧久成虛病。</p>
<p>傷食脹而急下，下後還用保和，若是寒脹理中可，塌氣神方不錯。秘結三黃葶藶，木香順氣宜多，胃苓又是濕家科，痞瘧月蟾堪妥。</p>
<p>實證悶亂喘滿，治宜白餅靈丹，其症氣喘作虛看，溫藥補養方驗。二術參苓厚朴，陳皮木香當參，更加木通利小便，此藥虛症可咽。</p>
<p>凡治小兒虛脹，先服塌氣神方，不愈食積腹中藏，糞結小便黃樣。但覺時間微喘，飲水能食如常，脈浮而實下為良，下後再宜補養。</p>
<p>大抵腹脹急症，背平臍突多凶，二便秘結下難通，反吐水漿堪痛。氣喘脹家常病，只愁目閉疲癃，面浮腳細黑筋叢，集聖丸子妙用。</p>
<p>小兒腹脹多因食，山楂曲麥術青陳，甘草砂仁同入內，寒加茱藿熱加芩。</p>
<p>小兒患腹脹，紫蘿葛陳甘，食少加白朮，煎服自然安。</p>
<h3>黃疸門</h3>
<p>黃疸不必分五樣，總是濕熱。</p>
<p>凡小兒身皮目皆黃者，黃病。身痛背強，大小便澀，一身面目指爪俱皆黃，小便如屋漏塵水色，著物皆黃，渴者，難治，此黃疸也。其症多得於大病之後，以茯苓滲濕湯主之。</p>
<p>如小兒生下百日及半年，不因病後身微黃者，胃熱也，加減瀉黃散主之。</p>
<p>如面黃腹大，吐食而渴者，脾疳也，集聖丸主之。</p>
<p>又有自生而身黃者，胎疸也，地黃湯主之。若淡黃兼白者，胃怯，白朮散主之。</p>
<p>如夏月身體蒸熱，胸膈煩滿，皮膚似橘。白晴亦黃，筋骨痿弱，不能行立著，脾胃鬱熱也，加減瀉黃散主之。</p>
<p>通治黃疸，茵陳五苓散尤穩。</p>
<p>如吐瀉黃疸，三棱湯主之。</p>
<h4>茯苓滲濕湯</h4>
<p>白茯苓，澤瀉、茵陳、豬苓、黃苓、黃連、梔子、防己，白朮、蒼朮、陳皮、枳殼，水煎，徐徐溫服。</p>
<h4>加減瀉黃散</h4>
<p>黃連、茵陳各五錢，黃柏、黃苓各三錢，茯苓、梔子各三錢，澤瀉二錢，水煎服。</p>
<h4>三棱湯</h4>
<p>三棱、莪朮、青皮、陳皮、神麯、麥芽、甘草、黃連白朮、茯苓，傷食吐瀉加山楂，時氣吐瀉加滑石，發熱吐瀉加薄荷，水煎服。</p>
<p>祖傳治黃疸：以胃苓丸一料，加茵陳末五錢，同為丸。用竹葉、燈心、車前子，煎湯吞服。</p>
<p>凡發黃大渴不止，面黑，鼻氣冷。寸口無脈者，不可治。</p>
<h3>諸汗門</h3>
<p>汗者心之所藏，在內為血，在外為汗。</p>
<p>小兒氣血嫩弱，膚腠未密，若厚衣太煖，薰蒸臟腑。臟腑生熱，熱搏於心，故液不能自藏。而額汗出也。額屬心木位(23)，宜收斂心氣，團參湯主之，此虛汗也。</p>
<p>如大病後，氣血尚弱。液溢自汗，或潮熱，或寒熱，發過之後，身涼自汗，日久令人黃瘦，失治，則變為骨蒸疳癆，黃?固真湯主之。</p>
<p>如睡中汗出。不睡則無汗，乃睡濃也。醒覺則止，而不復出汗，亦是心虛，此盜汗也。宜斂心氣，團參湯主之。</p>
<p>如睡中遍身汗出，醒覺時久不乾，此積症盜汗、脾冷所致，益黃散主之。</p>
<p>如病困，睡中身體汗流，此因陽虛所致，黃?固真湯主之。</p>
<p>如脾虛泄瀉，自汗後遍身冷，又汗出有時，遇泄則無，未泄則有，此為大虛證，急當補脾，宜理中湯加熟附子，待泄止，又以黃?固真湯主之。</p>
<p>凡自汗，上至胸，下至臍，此胃氣虛也，當補胃，四君子湯加黃?治之。</p>
<p>如肺虛自汗，其症右臉色胱白，脈按之無力，蓋因久咳嗽連聲不已，以致肺氣上壅，故令汗出。以四君子湯加麥冬，此益母救子之義也。</p>
<p>如慢驚自汗，遍身俱有，其冷如冰，此危症也，大補湯加熟附子一片治之。</p>
<p>如傷風作熱自汗著，宜救表解肌，以柴葛解肌湯主之。</p>
<p>如無時冷汗出，發根如頭珠，面顏上減減然，此為驚風，宜抱龍丸、四君子湯，加麻黃根治之。</p>
<p>凡小兒自汗，上至頭，下至項，謂之六陽虛汗，不須治之自愈。</p>
<p>凡小兒傷寒汗出，至頸而止者，此欲發黃，茵陳湯主之。</p>
<p>凡諸汗症，服前藥不止者，俱加牡蠣、蛤粉，或止汗散調之。如有實熱在內，煩躁汗出不止，三黃丸下之。</p>
<h4>團參湯</h4>
<p>人參、當歸各三錢，雄豬心一個切三片，每藥二錢，豬心一片，井水盅半，煎一鍾，食前溫服。</p>
<h4>黃?固真湯</h4>
<p>黃?、人參、白朮、甘草(炙)、當歸，麥冬、水煎服。</p>
<h4>益黃散</h4>
<p>陳皮一兩，青皮、訶子肉，粉草(炙)各五錢。丁香二錢，共為末，每服二錢，未周歲者，只服五分，水煎。</p>
<p>如感寒吐泄，加薑棗。</p>
<h4>大補湯</h4>
<p>當歸、人參、黃?、白芍、生地、甘草(炙)、白朮、白茯苓、川芎(加附子去苓芎)，浮小麥一撮為引，水煎服。</p>
<h4>止汗散</h4>
<p>以敗蒲扇燒灰，燈心湯調下，或酒調亦可。</p>
<h3>夜啼門</h3>
<p>夜啼之症有四：驚啼，熱煩啼，腹痛啼，神不安啼。</p>
<p>驚啼者，邪熱乘於心也。當養心，以導赤散加燈心退心熱，以安神丸定心效。</p>
<p>熱煩啼者，其哭無淚，見燈則喜而止，以導赤散加麥冬、梔子仁治之。</p>
<p>腹痛啼者，脾臟冷而痛也，面青而光。以溫中藥調理中氣，益黃散治之。</p>
<p>神不安啼者，睡中忽覺自哭，以安神丸，燈心燒灰，調湯吞服。</p>
<p>又有拂其性而拗哭者，要審明白，不可妄投藥丸。</p>
<p>祖傳治夜啼：以至聖保命丹，燈心灰調湯下，甚效。</p>
<p>西　江　月小兒夜啼四症，忤驚肚痛心煩，如逢拗哭忤家言，睡中忽啼驚見。肚痛手足厥冷，腰曲口氣冰寒，心熱煩躁不安眠，其症面赤腹煖。</p>
<p>既辨夜啼症候，其間治法須明，分明傳授與人間，只得心誠求遍。忤驚安神丸子，理中專治脾疼，涼驚錠子治心煩，總用燈花妙散。</p>
<p>燈花散用燈花七枚，辰砂一分，研末。燈草湯吞。</p>
<h3>疳症門</h3>
<p>丁奚者，手足極細。項小骨高，尻削體痿，腹大臍突，號哭胸陷，骨蒸潮熱是也。哺露者，虛熱往來，頭骨分開，翻食吐蟲，煩渴嘔噦是也。丁奚，哺露，皆因脾胃久虛，不能化水穀，以致精神減損，無以榮其氣，故肌肉消削，腎氣不足，復為冷風所傷，故骨枯露也。</p>
<p>小兒十五歲以上為疳，十五歲以下，其症為癆，此皆氣血虛憊，腸胃受傷致之，同出而異名也。蓋小兒易虛易實，凡病久則成疳。用藥乖方，飲食過度，將息失宜，俱成疳症。俱用集聖丸加減治之。</p>
<p>小兒臟腑矯嫩，飽則易傷，飲食失常，不為疳者鮮矣。或小兒失乳，粥飯太早，耗傷神氣，則疳之根生。故乳食稍多，過飽無度，則疳因傷得。恣食肥甘黏膩，生冷咸酸，以滯中腕，則疳因積生。</p>
<p>或乳母睡臥，寒煖失其調理，飲食乖常，喜怒房勞。即與兒乳，則疳因母患，傳氣而入，以致脾胃一傷，諸臟皆弱。但見目澀，或生白膜，唇赤身黃，喜臥冷地，愛吃泥土，泄痢無常，肚腹脹滿，耳鼻生瘡，頭髮作穗，腳弱項小，極瘦飲水，潮熱進退，皆其症也。以集聖丸本方調之，兼服參苓白朮丸，百無一失。</p>
<p>有因大病，妄投吐利之藥，以致胃虛而亡津液，內發虛熱，外消肌肉者，以集聖丸去莪朮、青皮，加人參、白朮治之。</p>
<p>有因熱病不退，以致津液枯燥者。集聖丸去砂仁、莪朮，加龍膽草治之。</p>
<p>有因吐瀉(25)下利而成疳者，集聖丸去青皮。莪朮，加白朮、肉豆蔻、訶子治之;亦兼服參苓白朮丸治之。</p>
<p>有因久瘧不退而成疳者，集聖丸加鱉甲治之。</p>
<p>有因食積而成疳兼腹痛者，集聖丸去歸、芎，加川棟(26)子肉、小茴香、三棱治之。</p>
<p>有因蟲痛而成疳者，本方去歸、芎，加白蕪荑、川棟子(27)，肉治之。</p>
<p>有因脾胃久虛，不能運轉，以榮其氣，或胎中受毒，臟腑血少，以致手足極細，項小骨高，尻削體瘦，若前丁奚、哺露之症者，以集聖丸、參苓白朮丸治之。</p>
<p>有因乳母恣食五辛，酒面炙博，致令小兒日則煩渴飲水，乳食不進，夜則渴止，此名疳渴。以集聖丸去莪朮、砂仁，加人參。白朮治之，兼服人參麥冬散治之。</p>
<p>凡疳症，熱者，虛中之熱，冷者，虛中之冷。治熱不可用涼，治冷不可用溫。尤不可妄施汗下，以致殺人。</p>
<p>凡小兒略見黃瘦作熱，肚大腹痛，不思乳食者，即服五疳消積丸，或集聖丸治之。</p>
<p>凡治疳症，不必細分五疳，但虛則補之，熱者清之，冷則溫之，吐則治吐，痢則治痢，積則治積，蟲則治蟲，不出集聖丸加減用之，屢試有驗。</p>
<p>亦有辜疳(28)者，腦後項邊有核，如彈子大，按之則動，軟而不動(29)，久則肢體癰瘡，便痢膿血，壯熱贏瘦，頭露骨是也。</p>
<p>凡見此症，速破其核，有蟲如米粉，膏藥貼之，內服集聖丸調治。</p>
<h4>集聖丸</h4>
<p>蘆薈(焙乾)、五靈脂(炒)、夜明砂(淘去灰沙焙乾)、縮砂仁、木香、陳皮(去白)、莪朮、使君肉各二錢，黃連、川芎(酒洗炒)。干蟾(30)(炙)各二錢，當歸一錢半，青皮二錢。因於虛者，加人參二錢，白朮三錢，去莪朮、青皮、五靈脂。因於熱者，加龍膽草三錢，去砂仁、莪朮。因於瘧者，加鱉甲(炙焦)三錢。因於吐泄下痢者，加白朮二錢，內豆蔻(煨)、訶子肉各一錢五分。去青皮、莪朮。因積痛者，加三棱(煨)、川棟子肉、小茴香(炒)各二錢，去當歸、川芎。因於蟲者，加蕪荑一錢五分，川棟肉二錢，去當歸、川芎。因於渴者，加人參、白朮各二錢，去莪朮、砂仁。右為末，用雄豬膽二個取汁，和麵糊為丸，米飲送下。</p>
<h4>參苓白朮丸</h4>
<p>人參，白朮，白茯苓、甘草、山藥，白扁豆、桔梗、薏米。蓮肉各一錢，加歸身一錢五分，川芎七分，共為末。神麯糊丸，米飲送下。</p>
<h4>人參麥冬散</h4>
<p>人參、白朮、麥冬、黃連、甘草、干葛、柴胡，竹葉引。</p>
<h4>五疳消積丸</h4>
<p>使君子肉(炒)五錢，麥芽(炒)、陳皮。神麯、山楂肉、白蕪荑、黃連，膽草各等分，右為末，陳米飯為丸，米飲送下。</p>
<p>西　江　月小兒疳癆又險，愚夫不識根苗，面無血色發毬焦，肚大頸乾腳小。吐瀉時時舉發。似瘧非瘧來潮，吃泥弄舌滯頤交，不治休嗟命夭。</p>
<p>小兒傷食脾胃，疳癆煩熱虛贏，黃連蘆薈解蒸危，莪朮縮青去積，當歸川芎養血，夜砂君子攻蛔，干蟾(31)木香五靈脂，粟米糊丸為最。</p>
<h3>大、小便門</h3>
<p>凡小兒有病，或熱腹痛，或驚，大小便不通者，此症極危，看虛實，急通利之。</p>
<p>如小兒形實熱甚，內服三黃丸，外用貼臍法，即通。</p>
<p>如小兒形怯，不可下者，用熨臍法、膽導法，即通。</p>
<p>如用上法不通，又加腹脹氣喘，多哭，悶亂，目上視，手足冷者。不可治也。</p>
<p>凡小便不通者，有陰陽二症。陰閉者，冷濕乘虛入里，因而不通，五苓散加南木香為末，空心鹽湯調服。外用炒鹽熨臍即通。陽閉者，因暴熱所逼，澀而不通。輕者，五苓散加前子。</p>
<p>燈心治之。重者，以木通散，外用熨臍法即通。</p>
<p>小便淋澀者，蓋小腸為受盛之腑，氣通於膀胱，膀胱者，為津液之府。氣通於腎，小腸受氣，客於膀胱，銷爍腎水，水道澀而不利，故小便澀痛也。先以八正散泄去其熱，次以香芎丸調之。</p>
<p>不論五淋，治法皆同。</p>
<p>小便出血者，熱之極也。蓋心生血，於小腸相合，熱甚則失其常道，故不流滲入於胞，故小便血出也。以導赤散。加蒲黃未，空心時，燈心湯送下。</p>
<p>小便出白者。初出微赤，良久澄白，如米泔狀。此由乳哺失節，有傷於脾，致令清濁不分而色白也。久則成疳，以分清飲主之。</p>
<p>祖傳治小便：白色如米泔者，以胃苓丸溫鹽湯下。</p>
<p>小便不禁，此腎與膀胱俱虛，而冷氣乘之，故不能制其尿出而不禁，謂之遺尿。睡裏自出者，謂之尿床。俱以雞腸散治，更以地黃丸調之。</p>
<p>凡大小便不通者，有虛有熱。虛者，津液不足，大腸干澀而秘結，內服通幽湯，甚者，用導法。</p>
<p>熱著，臟腑積熱，內有燥糞。其腹必痛，或作渴，內服三黃丸，外用導法。</p>
<p>大便下血者，是大腸中有積熱也。因恣食酒面，炙博熱物，流入心肺二經(32)，血熱妄行，滲入腸中，故大便下血。久則臟毒，無時下血。黃連丸主之。</p>
<p>凡小兒初生七日之內，大小便有血者，此胎毒也。不可用他藥，只以生地黃取自然汁，入蜜少許和勻，溫服之，自愈。</p>
<p>凡小兒非月內大小便有血者，此積熱在心肺二經。熱積於心，故小便出血，熱積於肺　，故大腸出血。三黃解毒湯主之。</p>
<p>若小兒出痘疹之時，大小便出血者，此熱毒內攻，臟腑俱壞，乃危症也。難救。</p>
<p>凡小兒常時糞後出血不止者，此名野雞痢，地榆丸主之。</p>
<h4>木通散</h4>
<p>木通、萹蓄、大黃、瞿麥、滑石、赤茯苓、梔仁、條苓。車前子。甘草梢。燈心引。</p>
<h4>八正散</h4>
<p>滑石、瞿麥、大黃、木通、萹蓄、車前子、山梔仁。甘草梢，加黃柏，燈心引。</p>
<h4>香穹丸</h4>
<p>番附、川芎。赤茯苓各五錢，海金砂、滑石各一錢，積殼、譯瀉、石葦、檳榔各三錢。共為末，糯米粥糊丸，麥冬湯送下。</p>
<p>如小便澀痛者，取長流急處順水，用火微溫，入鹽少許調勻，空心服。</p>
<h4>分清飲</h4>
<p>益智仁、白萆薢、石菖蒲、鳥藥，加茯苓各等分，共為末，燈心引，水煎服。</p>
<h4>雞腸散</h4>
<p>雞腸(燒存性，男用雄，女用雌)、牡蠣(鍛)、白茯苓、桑螵蛸(微炒)各五錢，內桂、龍骨各二錢半，共為粗末，薑棗湯服。</p>
<h4>地黃丸</h4>
<p>熟地(酒浸焙)八錢，山茱萸肉，山藥各四錢，澤瀉、丹皮、白茯苓各五錢，共為末。煉蜜為丸，溫水空心服。</p>
<h4>通幽湯</h4>
<p>生地、升麻、桃仁泥、歸身、甘草、紅花、麻仁(炒)、加大黃、水煎，調檳榔末服。</p>
<h4>黃連丸</h4>
<p>黃連五錢，槐子(炒)、側柏葉(炒)、枳殼、荊芥穗各三錢，地榆三錢，脫肛者加猥皮(炙)三錢，共為末，醋糊丸，陳米飲送下。</p>
<h4>三黃解毒湯</h4>
<p>黃連、黃芩、黃柏。紅花、木通、大黃、生地、歸身、甘草，水煎服。</p>
<h4>地榆丸</h4>
<p>防風、烏梅肉、枳殼、阿膠、甘草(炙)、荊芥穗、黃連、生地、當歸身、槐花、白朮、伏龍肝，加地榆。</p>
<p>水和丸、陳米飲下。</p>
<h4>貼臍法</h4>
<p>用田螺大者，捶爛貼臍下，能開結熱。</p>
<p>熨臍法用連根蔥一根，不洗去泥土，生薑一片，淡豆豉二十一粒，鹽二匙，同研捶作餅，放銚子上烘熱，餅掩臍中，以厚綿絮繫定，良久氣通自利，不然再換。</p>
<h4>膽導法</h4>
<p>用豬膽大者一個，將鵝毛簡截去兩頭，一頭插入膽中，用線扎定，不令移動，著口吹氣入膽內，又以線作活套子扎定其氣，將鵝毛簡向內納入穀道中，取出活套，埋膽汁入腹中，須臾氣通自利。</p>
<p>西　江　月大便不通症候，有虛有實不同，虛為津液少流通，腸澀不能傳送。內服通幽湯劑，外法貼導疏通，若是熱症腹中疼，屎燥三黃可用。</p>
<p>若是傷食症侯，腹中必作痛疼，面黃便秘實難禁，藥用九轉靈應。大便若是下血，大腸積熱之因，連槐殼柏榆榔荊，脫肛蝟皮加增。</p>
<p>糞後時常出血，地榆丸子高強，防風枳殼與生黃，地榆當歸為上。烏梅甘草訶子，黃連荊芥同行，伏龍槐花白朮當，米醋為丸吞放。</p>
<p>小便不通症治，陰閉陽閉須知，陰為風冷入乘虛。五苓木香加入，又加靈砂為末。空心鹽湯吞之，外用鹽炒熨其臍，熱氣流通罔滯。</p>
<p>陽閉暴熱所逼，其症唇赤面紅，便如點滴血鮮流，五苓車前加用。或用剪紅[33]散子，重者八正木通，外用熨臍法即通，活幼之功可頌。</p>
<p>又有濕痰下墜，其兒體胖身肥，喉中有痰面微紅，小便落地停注。其形渾如米泔，此症不可胡為，二陳湯內增蒼朮，木通升麻加入。</p>
<p>初出有微紅色，良久澄白如泔，此由乳食損脾元，清濁不分症現。治用分清飲子，或用胃苓湯丸，補脾化滯法為先，脾實方除此患。</p>
<p>凡治小便不通，涼藥不可多施，若用田螺貼其臍，逼寒入腹難出。宜用人參白朮，茯苓甘草相隨，再加車前與滑石，升麻芩通並入。</p>
<p>大小二便俱閉，此症果是凶危。先通大便最為宜，小便自然通利。藥用九轉靈應，車前煎水調之，此般治法實為奇，醫者銘心牢記。</p>
<p>大小二便下血，心肺積熱相攻，三黃解毒有神功，黃連黃芩相共。黃柏紅花生地，大黃甘草木通，當歸只可用其身，白水煎湯相送。</p>
<h3>頭項門</h3>
<p>小兒之央，四時要涼，但見頭熱，即有病生，可預服抱龍丸。</p>
<p>小兒頭囪腫大，青筋暴露者，此臍熱也，瀉清丸主之。頭囪腫起者，此因熱在內，其氣上衝，故而腫起。宜退熱疏風，瀉青丸、抱龍丸主之。</p>
<p>小兒無病，忽頸軟者，此肝熱有風也，瀉清丸主之。</p>
<p>囪門下陷者，此因久病，臟腑虛弱；氣不上行，故下陷如坑，參苓白朮丸主之。已成疳者，集聖丸主之。</p>
<p>囪門開而不合者。此腎氣有虧，名日解顱，乃惡病也。宜內服地黃丸，外用封囪法。</p>
<p>久病之後，其頸軟者，此天柱骨倒也，乃危症也。當大補氣血，八物湯主之，以薑蠶末調服。</p>
<p>小兒生下便頸軟者，此胎氣不足，地黃丸主之。</p>
<h4>封囪法</h4>
<p>用大南星徵炮為末，米醋調塗絹帛上，烘熱貼之，以合為度。</p>
<h3>目病門</h3>
<p>黑珠屬肝，白珠屬肺，瞳仁屬腎，兩角屬心，兩胞屬脾。</p>
<p>目內赤者，心經積熱上攻，導赤散加黃連、防風(方見驚門)。</p>
<p>祖傳治小兒目赤者，以涼驚丸，菊花煎湯下。</p>
<p>目內黃者，脾熱也，瀉黃散主之。目胞腫者，同治。</p>
<p>目連扎者[34]，肝有風也。凡病或新或久，皆引肝風。目屬肝，風入目，上下左右如風吹，兒不能任，故連扎也。用瀉青丸主之(方見驚風門)。</p>
<p>目直視者，肝有熱也。熱入於目，障其筋脈，目之兩角俱系，不能轉視，故目直也。俱用瀉青丸主之。</p>
<p>凡小兒初生，其目閉者，此胎熱也。內連服生地黃湯，外用膽草煎水洗目上，一日七次，恐緩則損目。</p>
<p>小兒生下，眼胞赤爛者，此因生時洗拭不淨，以致穢污漬兩角中，故兩胞赤爛，至長不瘥。真金散主之。</p>
<p>小兒久嗽，其目兩眶紫黑，如物傷損，白球紅赤如血，謂之血眼。內服玉液丸，外用貼法。</p>
<p>小兒生下日久之後，目不見物者，謂之雀目，此肝虛也。用地黃丸治之，以豬羊肝吞壓。</p>
<p>小兒痘疹之後，目內有膜者，以穀精散主之。</p>
<p>小兒熱病，其目羞明喜暗者，此風熱也。宜解風熟，以清陽散火湯主之。</p>
<p>小兒吐瀉後，目有白膜，閉不能開，及無精光者，難治。</p>
<h4>瀉黃散</h4>
<p>藿香葉七分，山梔仁一錢，石膏五分，甘草七分半，防風二錢，右剉細，用蜜拌炒，但微炒為末。水煎溫服。</p>
<h4>真金散</h4>
<p>黃連，黃柏、當歸、赤芍各二錢，杏仁(去皮尖)五錢，右剉細，用乳汁浸一宿。曬干為末。生地黃汁調一字，頻頻點眼，以新帛醮荊芥湯洗之。</p>
<h4>生地黃湯</h4>
<p>生地黃、赤芍、川芎、當歸、甘草、天花粉，各等分為末，每少許，燈心湯調服。</p>
<h4>貼藥</h4>
<p>用生地黃、黑豆，濕研成膏，貼目上，其血自散。</p>
<p>如血淚既出，腫黑自消。甚妙。</p>
<h4>穀精草散</h4>
<p>穀精草一兩，蟬退(去翅足)三錢，蜜蒙花五錢，白蒺藜(炒去刺)三錢，共為末，每用一錢。取雄豬肝一兩，竹刀剖開，擦藥於內，以草束定，水煮肝熟，令兒食肝飲湯。</p>
<h4>清陽散火湯</h4>
<p>黃芩、荊芥穗、川芎、防風、薄荷葉、甘草、連翹、山梔仁、當歸、石膏、羌活，水煎溫服。</p>
<p>小兒驚風。目斜視而不轉睛者，灸風池穴，目左斜，灸右穴，右斜，灸左穴。</p>
<p>西　江　月小兒眼目多病，皆因自食酸甘，臟生邪熱炙其肝，沖發於目為患。或為赤腫癢痛，或多眵淚遮幔，甚則翳膜掩瞳間，更有睛盲雀眼。</p>
<p>眼目部分當識，五臟各屬一位，黑珠屬肝白珠肺，瞳仁又屬腎水。大小兩角雖異，心火是則屬之，上下兩胞屬何如，脾上中央定位。</p>
<p>目內若見赤色，心經積熱上衝。導赤加連並防風，更有洗心堪用。又或現出黃色，此為脾熱蒸攻，瀉黃散子有神功，此方又醫浮腫。</p>
<p>小兒目患赤痛，難用點藥醫攻，只將湯藥內疏通，外用敷藥止痛。湯藥洗心肝散，敷藥田螺連同，二味共研要通融，紙攤貼之休動。</p>
<p>如或要用點藥，莫將眩藥妄行[35]，只把黃連細研勻，將大田螺水浸，藥末納入螺內，須臾黃水流行(36)，蘸水點入眼中存，熱退涼生痛定。</p>
<p>目痛肝經風熱，瀉肝散是仙方，外用乳洗目清涼，勿使點藥輕妄。久病目生白膜，肝虛之症消詳，虛則補母用地黃，養血養精為上。</p>
<h3>耳病門</h3>
<p>耳竅屬腎，耳珠前屬少陽。耳病有五，皆由於腎經氣實，熱氣上衝於耳，遂使津液壅而為膿，為清汁也。亦有因沐浴，水入耳中，灌為聾耳。內服蔓荊子敢，外用龍骨散搽之。</p>
<p>耳珠前後生瘡，浸淫不愈者，黃藥散主之。</p>
<p>耳旁赤腫者，此熱毒也。若不急治，必成大癰，外用敷毒散，內服消毒飲。</p>
<p>凡耳暴聾者，此氣閉也，通竅丸主之。</p>
<p>百蟲入耳者，以清油灌之，其蟲即出，又用兩刀兩耳邊磨。其蟲聞磨刀聲即出。</p>
<h4>膿耳方</h4>
<p>用蛇退焙黑存性，研末，吹入耳中甚效。</p>
<h4>蔓荊子散</h4>
<p>蔓荊子、甘草、乾葛花、升麻、赤芍、前胡、桑白皮(炒)、木通、麥冬、生地黃、赤茯苓，薑棗引，水煎服。</p>
<h4>龍骨散</h4>
<p>龍骨、白枯礬各三錢、麝香少許，黃丹(鍛)二錢，胭脂一錢，共為細末，以綿展乾膿，用簡吹藥入耳。</p>
<h4>黃藥散</h4>
<p>黃柏、白枯礬、海螺蛸、滑石、龍骨，各等分，為末，濕用乾搽，乾用豬抽調敷。</p>
<h4>敷毒散</h4>
<p>用綠豆粉，不拘多少，或豆研細末，以淡醋調敷腫處，乾則易之。</p>
<h4>消毒散</h4>
<p>羌活、防風、黃芩、連翹(去心格)、桔梗、甘草、人參、川芎、當歸、柴胡，水煎服。</p>
<h4>通竅丸</h4>
<p>用磁石一錢為末，麝香五厘，同研成丸，如棗核大，綿裹之，納耳中。又以鏽鐵一塊，熱酒泡過，含口中，須臾氣即通矣。</p>
<p>西江　月尋常耳中水出，日久乾結難通，雖然辟耳聤不為凶，只恐成膿堪痛。治在少陌風熱，腎經濕熱同攻，紅綿鱔血可消膿，方子分明選用。</p>
<h4>鼻病門</h4>
<p>鼻為肺之竅，鼻塞者，蓋肺氣不通於竅。然肺主皮毛，風寒外感，則肺氣壅閉而鼻塞。川芎膏主之。</p>
<p>鼻涕者，肺為風寒所襲，而津液不收，則為鼻涕，細辛散主之。</p>
<p>齆鼻者，肺受風寒，久而不散，膿涕結聚不開。使不聞香臭，則成齆矣。萬金膏主之。</p>
<p>以上三症，皆宜疏利，俱用加味麗澤通氣散。</p>
<p>鼻乾者，心脾有熱，上蒸於肺，故津液枯竭而結，當清熱生津，導赤散吞抱龍丸治之。</p>
<p>如痛已極，鼻乾而黑，竅張，長出冷氣者，此肺絕也，必死之症。</p>
<p>鼻淵者，流下唾涕，極其腥臭，此膽移熱於腦，又名腦崩，辛夷散主之。</p>
<p>幾小兒初生，三期五日一臘，忽然鼻塞，不得吮乳，不得呼吸者，因乳母安臥之時，而不知回避，鼻中出氣，吹著兒囪門，或因洗浴，用水溫冷，又不避風邪，所以致兒鼻塞，通關散治之。</p>
<p>鼻衄者，是五臟積熱所為也。蓋血隨氣行，今得熱，則熱氣動而妄行，溢出於鼻也。宜涼血為主，內服加減地黃湯，外用吹鼻散。</p>
<h4>川芎膏</h4>
<p>川芎、細辛、蒿本、白芷、甘草各三錢，龍腦五分，麝香五分，杏仁(去皮尖)七拉。共為未，煉蜜為丸。</p>
<p>燈心湯化服。如體弱者，綿裹一丸，塞鼻孔中，男左女右。</p>
<h4>細辛散</h4>
<p>細辛。前胡、防風、川芎、人參、甘草各等分。為末，乳香湯調服。</p>
<h4>萬金膏</h4>
<p>羌活、川芎、細辛、木通、麻黃、石菖蒲各一錢，龍腦少許，麝香少許。</p>
<h4>加味麗澤通氣散</h4>
<p>羌活、獨活、蒼朮。防風，升麻、荊芥穗、葛根。</p>
<p>甘草(炙)、細辛、麻黃、白芷、川芎、木通，薑三片，棗二扶，蔥白三寸，水煎食後服。</p>
<h4>辛荑散</h4>
<p>辛荑仁五錢，蒼耳子(炒)二錢半，白芷一錢，薄荷葉五分，黃連一錢。共曬乾為末，蔥湯調服。</p>
<h4>通關散</h4>
<p>香附子、川芎，荊芥穗、僵蠶、細辛、牙皂，共為末，以蔥白搗成膏，攤絹袖上，烘熱，臨臥對點囪門。</p>
<h4>加減地黃湯</h4>
<p>生地、黃芩、梔子仁、赤芍、鬱金、茅花引。水煎入車前草自然汁，細細服之。</p>
<h4>吹鼻散</h4>
<p>山梔仁、亂頭髮(燒灰)。共為末，吹入鼻中祖傳治衄血：用神芎丸，茅花煎湯下。</p>
<p>西　江　月小兒若是鼻塞，風寒各有根由，傷風清涕必長流，乾燥傷寒熱搐，清涕荊防發散，乾燥火熱中求，芩連梔柏可同儔，引用蔥薑平復。</p>
<p>忽然鼻中衄血，五臟積熱所為；血隨氣上溢於鼻，治用涼血為主。川芎當歸赤芍，生地黃芩生梔、黃連甘草牡丹皮，柏葉茅根煎吃。</p>
<h3>口瘡門</h3>
<p>口者脾之竅，唇內應乎脾。</p>
<p>小兒鵝口者，口內白屑滿舌上，如鵝之口者，此為胎熱，而心脾最甚，重發於口也。當內服涼驚丸，外用鵝口中涎，以絹包手指洗淨，以保命散吹之，此亦名口瘡。</p>
<p>口瘡者，滿口赤瘡，此因胎稟本厚，養育過溫，心脾積熱，薰蒸於上，以成口瘡。內服涼驚丸，補用地雞[37]擂水，遍塗瘡上，又以一連散敷之。</p>
<p>以上二症，如服涼驚丸不效。洗心散如神。</p>
<p>口糜者，滿口生瘡潰爛，乃膀胱移熱於小腸，膈腸不便，上為口糜。以導赤散去小腸熱，五苓散去膀胱熱，當以導赤散調五苓散主之。</p>
<p>口瘡服涼藥不效，乃肝脾氣不足，虛火泛上而無制，用理中湯治之，外用官桂末吹之。</p>
<p>吐瀉後，口生瘡者，亦是虛火。理中湯主之。</p>
<p>小兒上愕有脹起如懸癰者，此名重愕，由脾胃挾熱，血氣不能收斂而成此者，用針刺去惡血，內服涼膈散，外用碧雪散吹之，輕者服涼驚丸。</p>
<p>小兒兩頤流涎浸潰胸前者，此滯頤，蓋涎者脾之液，口為脾之竅，由脾胃虛冷，不能收斂津液，故涎從口出，而潰於頤者，宜溫脾丹主之。</p>
<p>小兒口頻撮者，氣不和也。蓋唇應於脾，氣乃肺之所生。脾虛不能養子。故口頻撮。宜補其母，則氣自和，以異功散主之。</p>
<p>小兒口撮面青多哭者，此臍下痛也，理中湯主之。</p>
<p>初生因臍風口撮，臍腹腫者，不治。</p>
<p>小兒急欲乳吃。而口不吮乳者，此心脾有熱，瀉黃散治之。</p>
<h4>保命散(一名朱礬散)</h4>
<p>朱砂、白枯礬各五錢，牙硝五錢，共為細末，搽舌上。</p>
<h4>一連散(即瀉心湯)</h4>
<p>黃連為末，蜜水調服。</p>
<h4>洗心散</h4>
<p>白朮，甘草，當歸、荊芥，加生地。大黃(煨)。麻黃、赤芍、薄荷葉，生薑引。</p>
<p>碧雪散蒲黃、　青黛、　硼砂、　火硝、生甘草，各等分為細末，吹之。</p>
<h4>溫脾丹</h4>
<p>木香、　半夏各五錢，生薑一錢，白朮一錢，青皮一錢，　陳皮一錢，　共研末，　粽糊為丸，米飲下。</p>
<p>木香、　半夏各五錢，生薑一錢，白朮一錢，青皮一錢，　陳皮一錢，　共研末，　粽糊為丸，米飲下。</p>
<p>木香、　半夏各五錢，生薑一錢，白朮一錢，青皮一錢，　陳皮一錢，　共研末，　粽糊為丸，米飲下。</p>
<p>木香、　半夏各五錢，生薑一錢，白朮一錢，青皮一錢，　陳皮一錢，　共研末，　粽糊為丸，米飲下。</p>
<h3>舌病門</h3>
<h4>涼膈散</h4>
<p>連翹、　山梔仁、大黃、　薄荷葉、　黃芩、　甘草、　芒硝，薑汁少許引。</p>
<p>西　江　月小兒重舌木舌，心脾蘊熱攻中，舌下生舌兩重重，木舌大硬腫痛。急用針刺去血，何妨鮮血流紅，枯礬搽上有神功，解熟消風可用。</p>
<h3>牙齒門</h3>
<p>上片牙屬胃，下片牙屬大腸，齒屬腎。</p>
<p>凡齒生遲者，腎氣不足也。蓋腎主骨，齒者骨之餘。腎不足則髓虧，髓虧則不能充乎齒，所以齒生遲也。以地黃丸治之。</p>
<p>上下齒床[39]腫者，此陽明實熱也。涼膈散以酒蒸大黃為君，加知母、石膏、升麻為佐，頻頻含咽。</p>
<p>重齦者，腎髒積熱。附齦腫痛，謂之重齦。以針刺去其血，用鹽湯洗淨，黃柏末敷之。</p>
<p>小兒多食肉，牙齒臭息不可近者，此陽明有熱也。內服神效丸，外用薑汁荊瀝含咽。</p>
<p>牙疳者，狀如狐惑，初作臭氣，次則牙齒黑，甚則齦肉爛而出血，名日宣露。此由腎熱，　氣奔上焦。故以走馬為喻，當速治之。若上下唇破鼻穿，牙齒落者，此名崩砂。氣哨痰潮，飲食減少，則不可治。當內服黃柏丸，外用如聖散敷之。</p>
<p>咬牙者，風熱也。由陽明、大腸二經積熱，熱則生風，故令相擊而作聲，必於夢中者，蓋動則風散於表，靜則風歸於里也。</p>
<p>宣風散主之。</p>
<p>上唇生瘡，蟲食其臟，曰惑。下唇生瘡，蟲食其肛，曰狐。</p>
<p>出傷寒指掌之言。狐感者，取其進退猶豫之義。</p>
<p>咬牙，惟痘疹中有此者為危，餘無大害。亦有因病戰慄，鼓頷而斗牙者，治其病則自止矣。</p>
<p>牙齒落而不再生者，由於舌舐之故，其肉頑厚，用針刺出血，以鼠骨散擦之，即生。</p>
<p>文蛤散治牙疳。</p>
<p>雄黃、枯礬各五分，五倍子二錢，蠶退紙　(燒灰存性)一錢，共為末，先以米泔水洗淨，以藥搽上，一日三、四次，以愈為度。</p>
<h4>蠶退紙散</h4>
<p>治牙疳。</p>
<p>蠶退紙(燒灰)五分，人中白(燒過)五分，紅褐片(燒灰)五分，白砒(棗肉包燒煙盡，取用)一分，共為末，搽之。</p>
<h4>神效丸</h4>
<p>蘭香葉、當歸、藿香葉、木香各一錢，升麻二錢，生地(酒洗)、甘草各二錢，黃連(酒炒)、砂仁各五錢，共為末，湯浸蒸餅為丸，白湯送下。</p>
<h4>黃柏丸</h4>
<p>黃柏(半生半炒)為末，煉蜜丸，白湯送下。</p>
<h4>如聖散</h4>
<p>用婦人尿桶中白垢，刮取鍛盡煙一錢，銅綠二分，麝香半分，共為末，以臘茶浸米泔水洗淨血後，搽此藥。</p>
<p>宣風散檳榔二個，陳皮、甘草各兩半，牽牛（半生半炒），共為末，蜜水調，食前服。</p>
<h4>鼠骨散</h4>
<p>用雄鼠一隻，爛盡肉，取骨研末，加麝香少許，擦上，　用薑湯漱口。</p>
<p>西江　月上下牙齦黑爛，齦宣息露堪嗟，敗唇穿鼻落齒牙，迅速呼為走馬。肉壞咽喉可畏，啼聲漸變啞嘎，　又名狐惑兆非佳，　治螶回瘡無價[40]。</p>
<h3>咽喉門</h3>
<p>咽者，　胃腕主納水穀;　喉者，肺管主氣出入，為一身之總要。</p>
<p>若胸膈間蘊積熱毒，致生風痰，壅滯而不散，發而為咽喉病，名雖數種，皆受熱毒，宜速解熱毒，　緩則有難救之患。輕則甘桔湯，重則化毒湯主之。</p>
<p>如出痘瘡而咽喉痛者，此毒氣上攻也，加減甘桔湯主之。喉中生瘡，不能吮乳者，化毒湯主之。</p>
<p>小兒為諸骨所哽，骨大難咽者，以鵝羽掃喉吐之。骨小者，用海上方及祝由科治之，　不治恐傷人。</p>
<p>誤吞麥芒者，取鵝口中涎咽之，即效。</p>
<h4>甘桔湯</h4>
<p>桔梗、甘草、人參，水煎，細細吞之。</p>
<p>化毒湯桔梗五錢，薄荷葉、荊芥穗各二錢，甘草二錢半，朴硝一錢，山豆根一錢半，牙硝、硼砂各二錢半，雄黃、辰砂各二錢。為細末，吹之，或以水調服。</p>
<h4>海上方</h4>
<p>用金風花根槌碎，米醋煎，用有嘴瓶盛之。將口銜瓶嘴，仰面咽之，其骨即出，吞時勿令沾牙[41]。</p>
<p>用玉簪花根亦可，或威靈仙根亦可，俱如前法。</p>
<h4>祝由科</h4>
<p>用淨水半碗，一氣書龍師火帝七遍，吞水即效。</p>
<p>西江　月小兒咽喉部位，一身軀命所關，蘊積熱毒膈胸間，致生風痰不散。病雖數種各別，治宜去痰為先，後解風熱病斯痊，還有難救之患。</p>
<p>咽喉若然有疾，治宜認其重輕，輕者甘桔散先行，重則化毒當進。如或喉腫口噤，開關散子宜薰，喉風急教散通神，吐痰消腫退病。</p>
<p>如患單雙鵝症，治者不可胡行，可針之症要用針，不當針時要禁。只用薰滲等藥，退後依次施行，蟾酥錠子點瘡療，瘡毒自消可幸。</p>
<h3>形聲門</h3>
<p>發乃血之餘，腎之苗也。小兒發久不生，雖生不黑而稀，此由腎氣衰，則血氣不足之故也，地黃丸主之。</p>
<p>齒乃骨之餘，骨者腎所主也。齒久不生，雖生而不齊者，此腎虛故也，　地黃丸主之。</p>
<p>行遲者，　何也？蓋骨乃髓之所養，血氣不充，則髓不滿骨，故軟弱不能行。此由腎與肝俱虛得之。蓋肝主筋，筋弱而不能早行；腎主骨，骨弱而不堅。加昧地黃丸主之。</p>
<p>腳細者，稟受不足，氣血不充，故肌肉瘦薄，骨節俱露，如鶴之膝，此亦由腎虛，名鶴膝節。加味地黃丸主之。</p>
<p>小兒大病後，手足痿弱，及驚風後手足痿緩，並宜加減地黃丸主之。</p>
<p>語遲者，由兒在胎之時，母受驚邪之氣乘心，兒感母氣，心神不定，不能榮舌，故而語遲。菖蒲丸主之。</p>
<p>凡吐洩及大病之後，雖有聲而不能言，又能進藥，此外，失音乃腎怯不能上接於陽也。地黃丸主之。</p>
<p>有卒暴寒冷而聲不出者，此肺風邪也。加味瀉白散主之。</p>
<p>龜胸者，其胸高腫，狀如龜樣，此肺熱也。加減葶藶丸主之。</p>
<p>龜背者，坐臥傴僂，狀如龜背，由客風吹脊入於骨髓，　此症多成痼疾。間有灸肺俞二穴(第三椎骨節下兩旁各寸半)、膈俞穴(第七骨椎下兩旁各寸半)，如此而收功者，然未盡見效也。以積殼丸主之。</p>
<h4>地黃丸</h4>
<p>熟地黃(酒蒸)八錢，山茱萸(去核)、山藥各四錢，澤瀉、白茯苓、丹皮各三錢，腎弱失音者，加巴戟(去心)、石菖蒲各三錢，煉蜜為丸，麥冬湯下。</p>
<h4>加味地黃丸</h4>
<p>虎脛骨(酒炙)、生地黃、酸棗仁(炒)、辣桂、防風、白茯苓、當歸。如驚後得前症者，加薑活，煉蜜為丸，　白湯下。</p>
<h4>菖蒲丸</h4>
<p>人參、石菖蒲、麥冬(去心)、遠志肉(薑汁炒)、川芎、當歸各三錢，滴乳香、朱砂各一錢。因子驚得者，加牛膽南星三錢，煉蜜為丸，米飲下。</p>
<h4>加減葶藶丸</h4>
<p>大黃(煨)、天冬(去心)、杏仁(去皮尖，另研)、百合、桑白皮(炒)、木通、甜葶藶(炒)。蜜丸，液白水送下。</p>
<h4>囪巔詩(七言)</h4>
<p>乳食不常飢飽起，寒熱積脾氣上衝。致成此症隨輕重，風熱相交未易攻[42]。治宜退熱疏風症，瀉青丸子顯神功。</p>
<h4>囪陷詩(七言)</h4>
<p>瀉洩久而氣血虛，不能上衝元氣虧。狗脊炙黃為細末，雞蛋白調服即愈。藥用參苓白朮散，服之此症頃能除。</p>
<h4>滯頤詩(七言)</h4>
<p>脾胃虛寒涎自流，不能收斂漬頤謀。半術薑陳青皮末，一歲一丸米飲投。</p>
<h4>語遲詩(七言)</h4>
<p>受胎母即有驚邪，二氣乘心舌未加[43]。菖蒲茯神參遠志，麥冬當歸乳香砂。蜜丸粟大吞二十，薄荷湯下可見瘥。</p>
<h4>行遲詩(七言)</h4>
<p>肝腎二經俱不足，肝主筋兮腎主骨。若要二經氣血充，加味地黃能助補。</p>
<h4>龜胸詩(五言)</h4>
<p>小兒龜胸症，肺熱脹如胸。加減葶藶丸，服之有神功。</p>
<h4>龜背詩(五言)</h4>
<p>龜背為惡症，腎風入骨髓。內服積殼丸，炙法宜相繼。</p>
<h4>發齒生遲詩(七言)</h4>
<p>發久不生生不黑，齒久不生生不齊。腎虛血弱成斯症，地黃丸子俱能醫。</p>
<h4>解顱（四言句）</h4>
<p>解顱八物，有熱加連，以綿係束，香附白斂。</p>
<h4>鶴膝(四言句)</h4>
<p>小兒鶴膝，此屬腎虛，地黃加味，服卻無虞。</p>
<h3>諸瘡門</h3>
<p>小兒初生，遍身生蟲瘡及流水瘡、風瘡，皆胎毒也。切勿搽藥，恐逼毒入腹，宜服胡麻丸。</p>
<p>凡有誤用搽藥，逼毒入腹，以致腹脹者，解毒丸主之。</p>
<p>凡有頭面遍身生瘡，非乾搽藥，忽然自平，加痰喘者，切不可解利。當以連翹湯治之。以上數症，俱是胎毒，不可用灸法。</p>
<p>其有一歲以上，生流水瘡者，此血風瘡也，胡麻丸主之。</p>
<p>痘瘡後，生膿胞瘡者，此痘風瘡也，以胡麻丸治之。</p>
<p>以上二症，俱是風熱，宜灸風池穴、曲池穴、血海穴、足三裡穴，各灸三壯。</p>
<h4>連翹湯</h4>
<p>連翹、人參、川芎、黃蓮、生甘草、陳皮、白芍、木通，水煎入竹瀝服。</p>
<p>小兒生癰毒腫癤者，旨因氣血凝而熱乘之。內服解毒湯，外用點藥。如已潰者，內服大補湯，外用紫金錠塗之。</p>
<h4>解毒湯</h4>
<p>玄參、連翹、升麻、黃芩、赤芍、當歸、薑活、防風、生地、甘草、荊芥穗。秘結者，加大黃、木通。</p>
<h4>大補湯</h4>
<p>人參、黃?、川芎、連翹、白芷、白茯苓、當歸、生地、白朮、甘草、赤芍，薑棗引。</p>
<p>紫金錠山慈姑三兩，五倍子三兩，大戟兩半，續隨子肉一兩，麝香三錢，雄黃、朱砂各一兩，為末，糯米糊作錠子，　磨水搽。</p>
<p>貼藥黃芩、黃連、黃柏各二錢，大黃、蒲黃各三錢，血竭、乳香各二分，沒藥二分，麝香少許。共為末，取生薑自然汁。和雞蛋清打勻，調藥貼之。</p>
<p>頭上生軟癤，膿水不干者，用紫金錠搽之，自愈。用單方搽亦效。</p>
<p>單方用上好磁器，不拘多少，研為極細末，雞子清調搽。</p>
<p>又方大積殼一個，去贏，令空磨，令口平，以面糊塗抹積殼四圍，安貼於癤上，自破。令膿血流盡，先於一邊以燈草一根通之，癤痊便無痕跡。</p>
<p>又方用石灰篩過，以雞子清和灰為丸，入炭火燒煉通紅，如此捶和三次，依法鍛煉，取研細，香油調敷。</p>
<p>頸上生核,　腫脹發熱者，內服連翹丸，外用五倍子為末，淡米醋調敷，一日二次易之，效。</p>
<h4>連翹丸</h4>
<p>連翹、桑白皮、白頭翁、牡丹皮、防風、黃柏、肉桂、豆豉、獨活、秦艽各五錢，桑螵蛸三錢半。</p>
<p>為末，煉蜜丸，燈心湯下。</p>
<p>西江　月小兒遍身瘡疥，蟲巢膿血浸淫，此由胎毒內藏深，故有許多形症。涼血殺蟲解毒，胡麻丸子通神，切防搽洗毒歸心，腹痛神昏命盡。</p>
<p>若是要用搽藥，瘙癢無過蛇床，螶蟲作楚用雄黃，　痛腫寒水為當。不癢須加狗脊，喜鹽湯火硫磺，斑貓同研熟尤良，手擦鼻聞搽上。</p>
<h3>丹毒門</h3>
<p>小兒赤游丹毒，雖有十種，皆由心火內盛，熱與血搏。或起於手足，或發於頭面胸背，游移上下，其熱如火，痛不可言，赤如丹砂，故名丹毒。自腹出四肢者易治，自四肢入腹者難治。療此症者，其法必先用表藥，以解熱毒，方可搽敷。若遽用藥搽，便氣無所洩，而入於裡，傷人者多矣。</p>
<p>小兒丹毒，一歲以上者，易治。未周歲者，難治。</p>
<p>有因驚後而發丹者，此毒氣由內出外，易治。有先發丹而後驚者，此毒氣由外入內者，多死不治。</p>
<p>一從頭項起著，名飛灶丹。</p>
<p>二從頭上起者，名走灶丹。</p>
<p>三從面上起者，名鬼火丹。</p>
<p>四從背上起者，名天火丹。</p>
<p>五從兩手起者，名天灶丹。</p>
<p>六從兩脅起者，名水丹。</p>
<p>七從臍起者，名葫蘆丹。</p>
<p>八從兩腳起者，名野火丹。</p>
<p>九從兩腳背起者，名煙火丹。</p>
<p>十從陰上起者，名胡漏丹。</p>
<p>飛灶丹：先用蔥白取自然汁搽。</p>
<p>走灶丹紅腫痛：用赤小豆末，雞子清調擦。</p>
<p>鬼火丹：用伏龍肝、雞子清調搽。</p>
<p>天火丹：用桑白皮末，羊脂調搽。</p>
<p>天灶丹：用柳木燒灰，水調搽。</p>
<p>水丹：用生鐵銹末，豬油調搽。</p>
<p>葫蘆丹：用檳榔末，米醋調搽。</p>
<p>野火丹：用乳香末，羊脂調搽。</p>
<p>煙火丹：用豬槽下土，清油調搽。</p>
<p>胡漏丹：用屋漏處的土，羊脂調搽。</p>
<p>以上十種丹毒，俱先服防風升麻湯，以解其熱毒。次用蜞針法，以去其毒血，如無蜞針，用砭針法，然後用救急法。</p>
<h4>防風升麻湯</h4>
<p>升麻、防風、山梔仁、甘草、麥冬(去心)、荊芥穗、木通、葛根、薄荷葉、玄參、連翹、牛蒡子。</p>
<p>便秘者加大黃，水煎服。</p>
<h4>蜞針法</h4>
<p>用水蜞[44]數條，放於紅腫處，令吃出毒血，立癒。</p>
<h4>砭針法</h4>
<p>用磁瓦片，打成尖鋒，以筷子夾定紮住，連刺令出惡血。</p>
<h4>急救法</h4>
<p>取灶心對鍋底焦土，研末，以新汲水調搽，乾則易之。</p>
<p>小兒丹毒，腹脹，氣喘，悶亂，不乳，反驚搐者，皆不可治。</p>
<p>小兒生後，百日之內，半歲以上，忽兩眼胞紅暈微起，面青黯色，夜則煩哭，或臉如胭脂，此因伏熱在內，發之於外，初則滿面狀如水痘，腳微紅而不壯，出沒休息無定，次至頸項，赤如丹砂，名為驚丹[45]。以三解散治之。</p>
<h4>三解散</h4>
<p>人參、防風、天麻、鬱金、茯神、白附子、大黃、黃芩、僵蠶、全蝎、枳殼、薄荷葉、粉草、赤芍，燈心引。</p>
<p>小兒驚風後，風從氣行，血從氣使，毒氣蓄於皮膚，流為腫毒，多在腮頰、耳根間，成癰成癤，謂之毒風。宜內服當歸百解散，外用拂毒散敷之。</p>
<h4>當歸百解散</h4>
<p>當歸、赤芍、大黃、川芎、升麻、薄荷葉、干葛、麻黃、黃芩、甘草、枳殼、皂角刺，蔥萎引。</p>
<h4>拂毒散</h4>
<p>半夏一錢，貝母、大黃、樸硝、五倍子各二錢半。</p>
<p>共為末，淡醋調敷患處，乾則易之。</p>
<p>小兒或因跌僕，刀斧破傷皮膚，風邪侵襲傷處，發此謂之破傷風。宜內服疏風活血散，外以紫金丹塗之。</p>
<p>疏風活血散當歸、生地、川芎、赤芍、荊芥、防風、甘草、紅花、蘇木。水煎服，入酒少許。</p>
<p>西　江　月小兒赤遊丹毒，雖有十種原根，皆由心火熱多深，上下遊移不定，其色澤如丹石，故稱丹毒之名，治法方冊甚分明，全在醫家體認。</p>
<p>小兒流丹最毒，十種發出不同，自上而下莫至胸，上下至腎可慟，半周之內休見，滿周病此宜攻，蜞針的的有神功，內解外敷兼用。</p>
<p>內解歸梢赤芍，羌活荊芥防風，升麻甘草地黃通，竹葉玄參煎用。外用益元敷貼，更加寒水相同，三朝五日急相攻，驚搐靈丹如夢。</p>
<p>治丹用功次第，從頭一一舖陳，解表下毒藥先行，次用蜞針吮進。若是蜞針不便，須臾急用砭針，然後塗藥救孩身，此法前人已定。</p>
<p>捷法先須解毒，或將利藥疏通，初起塗敷莫胡攻，毒入於裡遏壅。解毒無價散子，防風升麻湯同，利藥靈應有神功，只在醫人善用。</p>
<p>經驗治丹妙法，而今說與後人，先將靈應滌病身，下後才施塗潤。田螺搗餅敷貼，或用水調灶心，又將南星大黃停，芒硝研勻水浸。</p>
<p>烘熱衣與兒，火丹遂成之。芒硝寒水石，青黛石膏奇。赤痣因何起，胎中受熱多。原來無大害，不必請醫和。</p>
<h3>斑疹、隱疹門</h3>
<p>小兒斑疹，其掀腫於外者，屬少陽相火也，謂之斑。紅點在皮膚之中不出者，厲少陰君火也，謂之疹。</p>
<p>其症有陰陽輕重之別，陽斑用託裡消熱，化斑涼血，此急治其標也。陰疹用調中溫胃，其疹自消，此緩則治其本也。大抵安裡之藥多，發表之藥少，首尾不可妄下。</p>
<p>陽毒者，或發於面部，或發於背部，或發於四肢，極其稠密，狀如錦紋。紅赤著，胃熱也。紫黑者，胃爛也。一則下之早，其熱乘虛而入胃，一則下之晚，其胃熱不得發越，當服消斑青黛飲。</p>
<p>陰疹者，或出於胸背、手足稀而小者，此由失守之火，聚於胸中，上薰於肺，傳於皮膚，而成斑點，如蚊蚋蚤蝨所咬，而非錦紋也。宜服理中湯主之，其火自降，其斑自退矣。</p>
<p>斑疹若自吐瀉者，慎勿亂治。因其毒氣，上下皆出，宜調中氣。若吐瀉之後，遍身發斑如錦紋者，此熱即乘虛入胃，其症多得於夏天，化斑湯主之。</p>
<h4>消斑青黛飲</h4>
<p>黃連、甘草、石膏、知母、柴胡、山梔仁、玄參、升麻、生地、黃芩、人參、青黛，生薑三片，豆豉二十粒引。</p>
<h4>調中湯</h4>
<p>蒼朮、陳皮、砂仁、白芍(炒)、甘草(炙)、藿香葉、桔梗、半夏、白芷、羌活、枳殼、川芎，薑三片引。</p>
<h4>化斑湯</h4>
<p>人參、石膏、知母、甘草、水竹葉，粳米引。</p>
<p>如斑紅者易治，黑者難治。</p>
<p>小兒癮疹多屬於脾，以其隱隱在皮膚之間，發而多癢。或不紅者，並風與濕而成也。加味羌活散治之，或加減攻毒散亦效。</p>
<h4>加味羌活散</h4>
<p>羌活、前胡、人參、桔梗、甘草、薄荷葉、枳殼、川芎、天麻、茯苓、蟬退，薑三片引。</p>
<h4>加減攻毒散</h4>
<p>羌活、枳殼、前胡、柴胡、當歸、川芎、枳殼、桔梗、茯苓、人參、甘草、薄荷葉、防風、荊芥、蒼朮、芍藥、生地，薑棗引。</p>
<p>續諸瘡驗方小兒眉叢中生瘡，浸淫不干者，名曰鏈銀瘡。用穿山甲前膊上甲，炙焦為末，入輕粉少許，清油調敷。</p>
<p>凍耳成瘡者，內服防風通聖散，外用鉛粉，以水擂細，將艾揉爛，焚成烏色，研末敷之。</p>
<h4>防風通聖散</h4>
<p>防風、川芎、當歸、薄荷葉、大黃(炒)、山梔仁、赤芍、麻黃(去節)、連翹、石膏、黃芩、桔梗、滑石、荊芥、白朮、甘草，加干葛，生薑引。</p>
<p>身上生瘡如粟米大，成塊成路極痛者，此名龍纏瘡。用珍珠、鳳尾草，搗汁搽之。又以渣調清油敷之，效。</p>
<h4>又驗方</h4>
<p>取糯米不拘多少，浸脹擂漿，澱粉搽之。</p>
<h4>治天泡瘡方</h4>
<p>以韭菜地蚯蚓糞，炒干研撮細末，油調搽。</p>
<p>小兒手足生瘡，瘡頭黑，破流黃水，四畔浮漿極痛者，此名魚臍瘡。用蛇皮燒存性，研細末，雞蛋清、清油調搽。</p>
<p>陰囊生瘡潰爛，皮脆子欲墜者，此名脆囊症，乃濕熱也。用紫蘇葉為末，濕則滲之，乾則清油調搽。</p>
<p>又方用墻中白螺殼子，為末敷之。</p>
<p>凡小兒不論癰毒瘡癤，及無名惡瘡，破傷血出，與諸蟲咬螫者，並用紫金錠水磨化，內服外塗，效不可言。</p>
<p>有頭頂上生瘡，似流水而非流水者，以遠年鐵磨水搽之，其效如神。</p>
<h4>又治流水瘡方</h4>
<p>鹽一盅，麥麩一盅，少將水和勻，如彈子大，放炭火上燒灰存性，如瘡濕則干搽，瘡干以清油調搽之。</p>
<p>注：[1]　常山：原韋注，五十歲以後體氣衰弱者，不宜妄用。</p>
<p>[2]　當從：漢陽鶴湄張伯琮校定版為"當作"。</p>
<p>[3]　來時潮熱：漢陽鶴湄張伯琮校定版為"痰火發熱"。</p>
<p>[4]　桃枝為引最驗：山東泰安州李雨霑　方悅父發梓版為"東面桃柳枝煎。"[5]　截後才調脾胃，只消清瘧養脾：漢陽鶴湄張伯琮校定版為"前後發熱唇膏，只因寒濕傷脾"。</p>
<p>[6]　如是小兒久瘧：漢陽鶴湄張伯琮校定版為"若是產惡疾瘧"。</p>
<p>[7]　原實者：漢陽鶴湄張伯琮校定版為"厚實者"。</p>
<p>[8]　便秘：漢陽鶴湄張伯琮校定版為"便閉"。下同。</p>
<p>[9]　先：山東泰安州李雨霑方悅父發梓版為"干"。</p>
<p>[10]　目閉：漢陽鶴湄張伯琮校定版為"煩躁"。</p>
<p>[11]　宜施：山東泰安州李雨霑方悅父發梓版為"為施"。</p>
<p>[12]　初間：山東泰安州李雨霑方悅父發梓版為"初然"。</p>
<p>[13]　蛔蟲：山東泰安州李雨霑方悅父發梓版為"疳蟲"。</p>
<p>[14]　三種：山東泰安州李雨霑方悅父發梓版為"三家"。</p>
<p>[15]　練：係"楝"字之誤。</p>
<p>[16]　干蟾：山東泰安州李雨霑方悅父發梓版為"干蟬"。</p>
<p>[17]　[18]　[19]　[20]　川楝：山東泰安州李雨霑方悅父發梓版為"川練"。</p>
<p>[21]　憂慮：山東泰安州李雨霑方悅父發梓版為"憂虞"。</p>
<p>[22]　蘿蔔子：即菜藤子。</p>
<p>[23]　月蟾：山東泰安州李雨霑方悅父發梓版為"月蟬"。</p>
<p>[24]　心木位：山東泰安州李雨霑方悅父發梓版為"心本位"。</p>
<p>[25]　瀉：山東泰安州李雨霑方悅父發梓版為"泄"。</p>
<p>[26]　[27]　川楝：山東泰安州李雨霑方悅父發梓版為"川練"。</p>
<p>[28]　辜疳：山東泰安州李雨霑方悅父發梓版為"無辜疳"。</p>
<p>[29]　腦後項邊有核，如彈子大，按之則濡軟而不動：山東泰安州李雨霑方悅父發梓版為"腦後項邊有核如彈子，按之則動，軟而不動"。</p>
<p>[30]、[31]　干蟾：山東泰安州李雨霑方悅父發梓版為"干蟬"。</p>
<p>[32]　心肺二經：山東泰安州李雨霑方悅父發梓版為"心肺"。</p>
<p>[33]　剪紅：漢陽鶴湄張伯琮校定版為"煎紅"。</p>
<p>[34]　目連？者：漢陽鶴湄張伯琮校定版為"目連眨者"。</p>
<p>[35]　妄行：山東泰安州李雨霑方悅父發梓版為"難禁"。</p>
<p>[36]　流行：漢陽鶴湄張伯琮校定版為"瀉傾"。</p>
<p>[37]　地雞：原書注：地雞，即扁蟲，人家房內磚下多有之。</p>
<p>[38]　用藥而弄舌者：漢陽鶴湄張伯琮校定版為"現症而舌弄者"。</p>
<p>[39]　齒床：原書注：牙齦謂之牙床。齒床即牙床也。</p>
<p>[40]　治螶回瘡無價：漢陽鶴湄張伯琮校定版為"散用如聖無價"。</p>
<p>[41]　原書注：根能脫牙。</p>
<p>[42]　攻：漢陽鶴湄張伯琮校定版為"功"。</p>
<p>[43]　舌未加：漢陽鶴湄張伯琮校定版為"舌底加"。</p>
<p>[44]　水蜞：即螞蟥。</p>
<p>[45]　驚丹：漢陽鶴湄張伯琮校定版為"露丹"。</p>
<h3>附：秘傳十三方</h3>
<h4>1.抱龍丸：</h4>
<p>抱者，養也；龍者，純陽之物也。小兒純陽無陰，所以病則有熱，熱則生風，必用此藥;所以養其陰而濟之，令不太過也。</p>
<p>又青龍位，肝木屬之，小兒肝常有餘，脾常不足，故以此藥抑肝扶脾，乃名抱龍丸。治形實壯熱，昏睡氣粗，或痰盛壅嗽，驚風搐搦。</p>
<p>牛膽南星五錢(臘月取牛膽一個，將南星去皮臍，研為末，放於牛膽中，陰乾備用)，天竺黃、辰砂各一錢，琥珀三分，牛黃二分，麝香半分，珍珠三分，白檀香三分，枳實、枳殼各三分，共為末，山藥打糊為丸，如黃豆大，金箔為衣。潮熱，燈心湯化下。驚風，薄荷湯下。</p>
<p>咳嗽，白開水下。</p>
<h4>2.涼驚丸：</h4>
<p>退五臟熱，瀉心肝火，治急驚，解胎毒，如小便黃，大便秘，丹毒斑疹，衄血，口瘡，並皆治之。</p>
<p>黃連五錢，瀉心火；黃芩五錢，瀉肺火；山梔仁五錢，瀉肝火；黃柏五錢，瀉腎火；大黃二錢，瀉脾胃火；龍膽草三錢，瀉膽火；雄黃解毒、辰砂鎮心各二錢。共為末，水糊丸，如粟米大，竹葉燈心湯下。急驚，薄荷燈芯湯下。胎熱，竹葉燈芯湯下。衄血，茅花湯下。</p>
<p>丹毒斑疹，升麻湯下。口瘡，水竹葉、薄荷湯下。</p>
<h4>3.胃苓丸：</h4>
<p>分陰陽，退潮熱，止吐洩，消浮腫、黃疸，調脾胃，止便濁，小兒常用之藥也。</p>
<p>蒼朮（米泔水浸去黑皮，焙乾）五錢；陳皮五錢；厚樸（薑汁炒）五錢；白朮五錢；粉草（炙）二錢；豬苓三錢；澤瀉三錢；白茯苓三錢；草果仁二錢；官桂一錢。</p>
<p>共為末，水糊丸，如粟米大，炒米湯下。嘔吐，煨薑湯下。調胃，炒米湯下。白濁，鹽湯下。瀉洩，炒米、車前草湯下。潮熱，水竹葉炒米湯下。浮腫，長流水、燈心、五加皮湯下。疝氣，茴香湯下。黃疸，加茵陳五錢，燈心湯下。</p>
<h4>4.養脾丸：</h4>
<p>治小兒脾胃虛弱，不思乳食，傷食癖積，面色黃，嘔吐瀉洩，腹痛膨脹，並皆治之。</p>
<p>蒼朮（制）五錢，厚樸三錢，陳皮五錢，砂仁二錢，草果仁二錢，神麯（炒）三錢，益智仁二錢，茯苓三錢，麥芽（炒）三錢。共為末，酒糊丸，如粟米大，米飲下。</p>
<p>嘔吐，煨薑湯下。脾胃虛弱，米湯下。食積，山楂湯下。</p>
<p>腹痛，茴香湯下。腫脹，蘿蔔湯下。寒洩，薑棗湯下。</p>
<h4>5.胡麻丸：</h4>
<p>治小兒風瘡疥癬。</p>
<p>苦參五錢，何首烏、胡麻仁（炒）、蔓荊子（炒）、威仙、荊芥穗、白蒺藜（炒、去刺）、牛蒡子（炒）各三錢，石菖蒲一錢五分，干菊花三錢。共為末，酒糊為丸，如粟米大，竹葉燈心湯下。</p>
<h4>6.神芎丸：</h4>
<p>治小兒上焦積熱，驚風壅滯，頭目赤腫，咽閉，大小便赤澀，及痰喘之症，並皆治之。</p>
<p>大黃（酒蒸）、黃芩各一錢，黑牽牛頭末、滑石各四錢，黃連、川芎、薄荷葉各五錢。共為末，滴水為丸，如粟米大，竹葉湯下。</p>
<h4>7.玉液丸：</h4>
<p>治風壅，化痰利膈，清頭目煩熱，除咳嗽。</p>
<p>寒水石（火鍛水飛）二兩，半夏（制）一兩，枯礬五錢。</p>
<p>共為末，米糊丸，如粟米大，薑湯下。感風寒咳嗽，桑白皮湯下。咳血，茅根湯下。常咳，茶湯下。咳而吐，煨薑湯下。</p>
<h4>8.茱萸內消九：</h4>
<p>治偏墜，膀胱疝氣，及內吊驚，啼哭不止。</p>
<p>山茱萸五錢，桔梗、川芎各三錢，小茴香（炒）五錢，陳皮、青皮、白蒺藜（炒去刺）、川楝子（去核）各五錢，食茱萸（炒）、肉桂各三錢，木香二錢，枳實（炒）一錢，桃仁三錢，大腹皮（酒洗）、海藻、玄胡索（炒）各五錢，五味子一錢。共為末，酒糊丸，如粟米大，茴香湯下。久不癒者，鹽湯下。</p>
<h4>9.香連丸：</h4>
<p>治赤白痢相雜，裡急後重。</p>
<p>黃連（吳茱萸炒）五錢，廣木香五錢，石蓮肉三錢。</p>
<p>久痢不止者，加肉豆蔻（麵包煨去油）五錢。共為末，醋糊丸，如粟米大，陳米湯送下。</p>
<h4>10.雄黃解毒丸：</h4>
<p>下痰去熱，追蟲打積。</p>
<p>雄黃一錢另研，鬱金三錢，巴豆霜二錢。共為末，米糊丸，如粟米大。痰涎壅甚，竹葉湯下。積痛，茴香湯下。纏喉風，滾白水化開吐痰。蟲痛，苦楝子根白皮湯下。先以雞蛋油煎，空心時，令兒聞之，然後服藥，必要上半月，謂其蟲之頭向上故也。</p>
<h4>11.至聖保命丹：</h4>
<p>治急慢驚風，夜啼，常服清心安神。</p>
<p>全蠍十四個，蟬退（去翅足）一錢，使君子內（煨）五分，麝香半分，辰砂一錢，天麻二錢，膽星二錢，防風一錢，僵蠶（炒）二錢，白附子（制）一錢，珍珠五分，金箔四十張。共為末，粟米粉糊和勻為丸，印成錠子，薄荷湯磨服。驚風，薄荷燈心湯下，夜啼，燈心燒灰化溫水下。</p>
<h4>12.一粒丹：</h4>
<p>治小兒水洩。</p>
<p>寒水石二兩，枯礬一兩。共為末，水和丸，如綠豆大，每服一丸，米湯下。</p>
<h4>13.斬鬼丹：</h4>
<p>治小兒大人瘧疾。</p>
<p>黃丹（水飛曬乾）一兩，獨蒜（大者）七個，搗爛和丹為丸，取端午日修合，如綠豆大，勿令婦人、雞犬孝服見之，每於發瘧日五更，用桃枝、長流水煎湯，面向東方服一丸，其效如神。</p>
