<header><h1>評琴書屋醫略</h1></header>
<dl class="元資料" data-type="book">
<div><dt>作者</dt><dd>潘名熊</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1865">公元1865年</data></dd></div>
</dl>
<h2>目錄</h2>
<p>提要
自敘
凡例
序
附詩併各題贈
卷一
　外感症
　春溫症（冬溫同論症治）
　暑症
　濕症
　泄瀉症
　痢症
　瘧症
卷二
　消渴症
　嘔吐
　疸症
　頭痛
　腹痛（中臍及臍上下痛同考）
　心痛
　脅痛
　腰痛
　腳氣痛
　耳痛（耳鳴耳聾同辨證治）
　牙痛
卷三
　淋症
　遺精
　便血
　小便血
　衄血
　吐血
　咳嗽
　附寄馮蕙庭君調養脾胃論
　《醫略》所用方</p>
<h2>提要</h2>
<p>《醫略》三卷，番禺潘蘭坪著。外感內傷已備其要，潘氏因兒侄輩從師羊城，恐功課之暇，風寒不慎，飲食不節，因訂外感、春溫、暑濕、瀉、痢、瘧、七症方與之，服後多效，爰增為三十三症，以利家者利世。說理通達，立方平穩，既無伏邪之患，亦無傷元之變。得此一篇不難，按病揀方，可免庸醫藥誤，其功溥矣。細觀全書，簡明賅備，不偏不倚，而感冒分四時論治，春溫不從葉法，尤有心得。</p>
<h2>自敘</h2>
<p>兒侄輩從師羊城，余慮其功課之餘，風寒不慎，飲食不節，因訂外感、春溫、暑、濕、瀉、痢、瘧七症方與之，庶免臨渴而掘井。後據云服之多效，即館友亦有遵此法而除病者。余聞其驗，遂翻閱自著舊方，皆從平穩立法，既無伏邪之患，亦無傷元之變，始則欲便子侄，繼則思並益同人，因復增入頭、心、腰、腹、脅、腳，耳、牙、疝氣、痿壁諸痛，小便、大便、衄、吐諸血，又消渴、嘔吐、噎膈、反胃、霍亂、黃疸、淋濁、癃閉、遺精、咳嗽諸症。大抵少年輩，起居飲食不謹所致者，共成三十三症，此外症治雖尚多遺略，但此中數症，實人生所易患，且又每見時醫誤治，而世人受其害者不少，是以不必求其全，而思撮其要，擬付梓人，公諸同好，俾不知醫者，亦得自為調理，不致為庸醫所誤。凡初起輕恙按法服之，諒易就痊。至若久恙、重恙，又不敢謂能盡奏效也。</p>
<p>　　番禺潘名熊蘭坪氏自序於西村之評琴書屋</p>
<h2>凡例</h2>
<p>－是書專為不知醫者備，臨時急用，因加圈點，以便或忙中檢閱證治，僅從粗淺立論，方藥亦從平穩立法。</p>
<p>－書中列證，祗就少年輩飲食起居不慎，七情六氣易傷，擬方商治，故婦科、小兒科與高年久恙諸證治，一概不參入。</p>
<p>－方下列應加藥味中有列至八九味之多者，非謂必須盡數加入，倘於所見症有相合，不過加入兩三味耳。蓋方內藥味，或宜於因症加減，不必盡照原方與分錢之數也。</p>
<p>－凡醫家訂方選藥，必須先求無過，然後再求有功。況此《醫略》為未涉醫者，巾箱便用，選藥尤宜謹慎，是以方立祗取平淡，不尚神奇。但因症加藥處，又不得不選入大辛熱大苦寒之品，以防劇恙，倘看書者，能小心因症酌加，諒亦調劑得當也。</p>
<p>　　評琴書屋主人謹識</p>
<h2>序</h2>
<p>醫之道微矣，四難未審，二反遽施，毫釐之差，滋曼彌甚。自張仲景垂範，援證立方，本論闡於傷寒，雜治編於金匱，晰奇胲於針鼻，轉愈，死於麥芒。千祀以還，咸資准的。然而傳經中絡，受病固殊，辛熱苦寒，施劑尤劇。偶遇嚏鼽，詎假烏頭作帝，才逢痃痞，即推蝭母為君，斧伐或致傷元，升提因之耗液，欲登仁壽，厥道無由，此吾友潘君蘭坪所以有《醫略》之作也。原夫風寒異中，湯別桂麻，表裏殊攻，治歸經脈，而濁從鼻入息，祗透於膜原，寒以陽舒氣，或蒸為內熱。毫毛所中，詎由關膈之經，灑淅為淫，末入支蘭之藏。君乃別傷為感，異熱於寒，取沖淡以養和，雜芳香而逐穢，列柴胡於八陣，方嗤景嶽之粗，厘暑熱於三焦，全守河間之法。復以濕蒸痞起，痢重瀉溏，辨嘔吐之實虛，審制消於水火，不貪污下，微判清溫，則以外感溫熱立法，而濕瘧、瀉痢，消渴、嘔吐諸證附焉。自是以還，不脛而走，執簡問明堂之訣，叩門求禁要之方。君復刪掇《外台》，折衷診籍，以為戶樞不轉則痛擾諸官，主藏失調則血淩百脈。不分部次，何殊隔幕之覘未酌盈虛，卒有潰川之變。況復鬱蒸成疾，癃閉為災，州都無氣化之官，水府窒司冥之令。軒轅失馭，濁黃溢於龍門；金火相刑，虛白傷其虎穴。爰分痛血，逮夫濁淋，辨燥濕於疽遺，別風邪於咳喘。集方七十七首，列證三十三門，不須五診之能，悉合六微之旨，洵可家藏笥篋，人免祿氛矣。或者謂扁鵲善醫，隨俗為變，邯鄲貴婦為帶下醫，雒陽重老為耳目痹醫，咸陽愛小為小兒醫。君於諸條來遑舉例，不知邪淫客感，病多中於少年。春蠶秋揫，易招於診氣。治惟先乎腠理，患靡入於膏盲。若夫權鄉稱考，庋閣娛珍，頤養當慎於重茵，權與詎資乎百草。嬰童周醉亦傳百問之篇；婦女專科，別立奇經之部。無求氾濫，庶便巾箱。至於調和六鑿，消息三停，仲氏戰毫，長兄治色，占無妄之有喜，以不藥為中醫，此視人之調劑，尤屬君之宏願也。悉以殺青甫竟，問道於盲，爰以他言，弁諸卷首。學慚好問，敢汙李杲之書；世有史遷，待續倉公之傳。</p>
<p>　　同治四年四月同裏李光廷序</p>
<h2>附詩並各題贈</h2>
<p>　兒侄輩遵余所著《醫略》試之頗效因有學醫之志作詩曉之</p>
<p>小道仍難哉（兒侄曾言業儒之難），誰能信無過，書亦充棟樑，詎易萬卷破。無恒不可作，良庸分動怠，醫良能濟人，醫庸必賈禍。證不疑似分，藥味彼此妥，誤用同操刀，敢信無因果。知之惟最佳，業之未必可，學也祿在中，醫豈富而哿作歌曉爾曹，儒術斯慰我。</p>
<p>陳古樵明府（璞）云：作者精於醫而戒其子不為醫，此真實本領，絕大見識，慈悲心事，其語不徒，訓子可與世上一切學醫者讀之。</p>
<p>荷花生日日適《醫略》著成偶得數韻遣興</p>
<p>荷香襲書書芬清，仰屋而著初告成，文字有緣遂餘欲，豕魚無訛命兒錄。老來文物倍關情，顛連疾苦為之矜，壽縱百年終有盡，吾沒何術裨主靈。偶然有得著《醫略》，酌古准今述不作，將期拯厄亦扶元，分遞水村與山郭。家家養得無病身，⿱㿟本⿱㿟本共作太平民，對花沉吟諷不倦，彼蒼何時慰吾願。</p>
<p>蔣湘漁上舍（灝）云：仁者之心，仁者之言，願與眾生佛前焚香贊誦。</p>
<p>黃銘石廣文（德華）云：本平素之淨修，垂普渡之寶筏，如誦長阿含經，使彼諸天增益五福，直合佛手仙心，並傳不朽。</p>
<p>張韞玉明經（仕輝）云：先生工詩，詩言其志，先生明醫，醫會其意。錦囊青囊，不忍自秘，總勒成書，（先生另續刻評琴書屋吟草二卷故云）舉以問世，得公之詩，將見愈愚，傳公之醫，猶能醒眯。</p>
<p>崔壽如茂才（廷森）云；蘭坪先生禪理深邃，時於吟詠見性真，所著《醫略》一書，不異金繩寶筏，以之拯救眾生，是能具大法力者。</p>
<p>弟堯臣明府（亮功）云：蘭坪大兄《醫略》一書，證辨而方良，慈航普渡，其禪而醫乎復讀諸作，一片慈悲心事，情見乎詞，大菩薩心腸，善知識法施，如是如是。</p>
<h2>評琴書屋醫略　卷一</h2>
<h3>外感症</h3>
<p>即傷風症。稍貪風涼，最易感受，見症頭痛鼻塞，或發熱咳嗽，因時用藥，治法較妥，今即春夏秋冬，訂方列左。</p>
<h4>春日外感</h4>
<p>經云：春傷於風。又云：春傷於溫，謂春日受風，其氣已溫，須防夾入春溫一症，溫邪忌汗故也。春主升，夏主泄，即外感亦忌大發汗（春溫症見下。倘口乾舌燥，壯熱煩冤，便是春溫的症，當從下篇春溫法治）
　
北杏仁一錢半　紫蘇梗一錢半　嫩竹葉四錢，鮮取，剪碎，煎　建神麯一錢半　細甘草八分　梔子殼一錢半
加蔥白四錢，淡豆豉三錢，同煎。
　
頭痛加連翹、鉤藤。有痰而渴，加鮮竹茹、瓜蔞（皮仁任用）。不渴加半夏、芥子。咳加桔梗、杷葉。食滯加萊菔子、麥芽。曾食肥膩加山查。實熱加芩連（梔殼改用梔仁）。夜熱加丹皮、地骨。倘氣虛中寒者，獨用蔥豉湯加黨參四五錢，生薑四五片，煎服。便合其黃芪、神麯，亦可酌加。若氣血兩虛而見微寒微熱者，用參歸桂枝湯加陳皮煎（方即桂枝湯加人參當歸）。</p>
<h4>夏日外感</h4>
<p>夏傷於濕，當佐以去濕；夏易感暑，當佐以清暑。
　
北杏仁二三錢　川滑石三四錢　青蒿梗二三錢　建中麯一二錢　甘草梢七八分　冬瓜皮四五錢
加鮮蓮葉三四錢、蔥一二條為引。
　
濕盛再加蒼朮，或茵陳苓皮，小便黃短加梔子、木通。另有見症加藥與氣虛中寒者當看前春日外感所列。</p>
<h4>秋日外感</h4>
<p>秋傷於燥，辛溫藥宜少用。
　
北杏仁二三錢　神麯一二錢　杷葉二三錢　梨皮三四錢　甘草七八分
加鮮蓮葉三錢，鮮紫蘇葉一錢，為引。
　
發熱而咳加土桑白皮三四錢，地骨皮三四錢。燥渴加麥冬、知母或鮮活水蘆根生、粉葛肉（二物代茶亦佳）。兼受秋暑氣加滑石、冬瓜皮，或乘露，或鮮嫩竹葉。另有見症，當加藥，與氣虛中寒者，仍看前春日外感所列。</p>
<h4>冬日外感</h4>
<p>冬傷於寒，且秋主收，冬主藏，用藥辛散些不妨，但冬溫症，非所宜耳（冬溫症見下春溫症注）。南方風傷衛者多，寒傷營者少，如確傷寒自有仲景師傷寒證治，可考不復贅。
　
北杏仁二三錢　神麯二三錢　蘇葉二三錢　防風一二錢　甘草七八分
加生薑二三片、蔥一二條為引。
　
另有見症當加藥，與氣虛中寒者，仍看前春日外感所列。</p>
<h3>春溫症</h3>
<p>（冬溫同論症治）</p>
<p>冬傷於寒，春必病溫，蓋寒邪久伏，已經化熱，且入春感於少陽，大旨以清涼為主，故古人用黃芩湯，清心涼膈散，誠以苦寒堅陰為正治。此症初起壯熱煩冤，口乾舌燥，必然並見。最忌辛溫散藥，劫傷津液，與尋常外感治法不同。若外邪先受，引動在裏伏熱，必先用微辛涼以解新邪，如蔥豉湯最為捷徑，表分肅清，然後進苦寒以清裏熱。此法時醫不講，動用柴葛羌防發汗傷津，以至譫語神昏（元神寄養於津液之中，若津液傷，則神失所養而昏），幻症百出，終歸莫救，誠堪浩歎。冬應寒而反熱，亦有是症，其名冬溫。見症同治法同均忌汗。</p>
<p>白芍二錢　連翹一錢半　梔子椙　北杏仁一錢半　黃芩一錢半　甘草八分
加鮮竹葉三錢，剪碎同煎。</p>
<p>渴加麥冬、蓮子心、鮮梨皮、鮮蘆根、花粉等。胃熱加知母、石膏、粳米。若舌乾惡飲為熱伏心營（喉燥舌乾喜飲水者，熱在氣分；喉燥舌乾惡飲水者，熱在血分），加犀角、生地、銀花、麥冬、天冬（去芩芍杏梔用竹心代竹葉），夜熱加地骨、丹皮、青蒿、生地（去梔芩）。又兼風者，名風溫（其症兼見汗出咳嗽），加入薄荷梗、牛蒡子之屬。兼濕者名濕溫，加入鮮蘆根、川滑石之流。倘此外更有兼症，宜參考葉氏書治之。</p>
<h3>暑症</h3>
<p>未夏至為病溫，已夏至為病暑，發熱而心煩為暑熱的症，前人有傷暑、中暑之分，因有陰暑陽暑之辨。傷陰暑者，其脈虛，症見發熱惡寒，手足微厥，腠理開則灑灑然寒，閉則蒸蒸熱悶，治有三物十物香薷飲、清暑益氣湯等法。中陽暑者，其脈洪大或洪而弱，症見大發熱煩渴，自汗面垢，體倦氣息喘促，日晡病減，治有六一散、白虎湯加人參加竹葉、麥冬等法（陽暑大忌香薷溫散，葉氏亦有小用而佐以黃連者）。至若種種傳變，前賢各有精義可參，茲不重悉。秋後更有暑熱伏氣之病，《臨症指南》邵新甫引述頗詳，當參考之。茲擬方僅為陽暑症，輕者立法商治（若陰暑症當用前所列陰暑三方加減主治，擬方不合，用若汗頻泄者為暑傷元氣，當用清暑益氣湯加減治之，倘已成暑瘧下，瘧症論之已悉，可參考）。</p>
<p>川滑石四錢　綿茵陳一錢半　青蒿梗三錢　甘草梢八分　細木通一錢半　北杏仁
加鮮蓮葉三錢　鮮絲瓜葉三錢，並剪碎，同煎。</p>
<p>氣分有實熱酌加石膏、知母或梔子芩連。心熱煩渴加麥冬、蓮子心或鮮竹心、鮮蘆根（去木通、茵陳，若煩渴甚用西瓜汁、淡水梨汁代茶，亦佳）。如舌絳赤，暑已入心營，加犀角、麥冬、生地、銀花、連翹、元參，少佐菖蒲三四分（去杏仁、青蒿、木通、茵陳），其鮮嫩竹葉、西瓜翠衣、冬瓜皮、綠豆皮，暑熱皆堪酌用。如無汗，即陽暑亦不妨少佐香薷六七分，葉氏謂香薷佐絲瓜葉能祛暑中之風。暑風外襲，肺胃氣阻，即陽暑，亦有無汗者，凡暑日發熱兼咳嗽者，名暑風，不須風藥過散，即本方少佐香薷或參入桑白、杷葉、桔梗、薄荷梗便合。</p>
<h4>附案（暑邪變瘧）</h4>
<p>暑之陰陽，治各不同，其分別固為最要，復思長夏濕熱交蒸，暑必夾濕，夏熱人喜當風，易感暑風，更當分別，何者輕重余在羊城，診琴友楊君星門暑邪變瘧一症。初患暑時醫謂外感重而暑濕輕，用柴葛羌防從風治（暑風作冬日風寒治謬甚）；更醫謂濕重用蒼朮、茵陳；又更醫謂熱重用芩連知柏，終歸罔效，以致暑熱不解而成瘧。邀余診，以三說詢余，余曰：是不難辨，即君亦能自辨之。古人謂傷風惡風，傷寒惡寒，傷食惡食推之，凡察其所惡，即知其所傷。今君喜披襟當風，是不惡風非傷於風可知。渴喜涼飲，飲多無痞滿之患（濕病多飲必覺胸脘痞滿），且進西瓜梨汁，更覺胸脘暢適，是不惡濕，非傷於濕可知。瘧宋身熱熾，且心熱而煩（暑先入心心煩是暑的症），貪涼而惡熱，是傷於暑熱可斷，況脈亦洪大耶2但暑熱無質無形，本伏三焦氣分，後醫未讀劉河間先生書，不知治暑法，程從用苦寒作六經實熱主治，故仍不效耳。茲擬方，遵河間治暑，熱當先清肅上焦氣分，法選辛涼輕清之品，投劑諒無不效。果服二劑病減，四劑病痊。方用石膏、知母、麥冬、鮮嫩竹葉、滑石各三錢，蓮子心、甘草各八分，香薷五分，同煎服。其出入加減，亦不過地骨、蓮葉、洋參、粳米。</p>
<h3>濕症</h3>
<p>濕有中濕、寒濕、風濕、酒濕、濕熱、濕溫、濕痹、濕痰之名，理宜分內因外因之治。茲訂中和滲濕之劑，當察其所因而加減治之。凡濕症舌多白，脈濡緩，濕鬱則脈象兼呆鈍。仲景師云；濕家忌發汗，汗之變痙厥，患濕者不可不知。</p>
<p>茯苓皮四錢　綿茵陳一錢半　北杏仁一錢半　大腹皮二錢　白茯苓二錢　閩澤瀉一錢半
加梔子一錢、淡豆豉二錢引。</p>
<p>或用通草五六錢，先煎湯去渣，將湯代水煎藥。脾虛受濕加白朮、蒼朮（去梔子杏）。舌白惡飲，或周身盡痛（此濕阻氣機，以至氣不能運行，故周身盡痛）宜加白蔻仁、馬兜鈴、或藿香梗、滑石。濕熱加黃柏、黃芩。寒濕加附子、乾薑（去梔子腹皮杏）。風濕加防風、藿香葉。濕痹加防風、狗脊。濕溫重用鮮蘆根、通草煎湯代水（去豬澤加滑石甘草）。酒濕加枳棋子、葛花。濕痰加製半夏、陳皮。</p>
<p>又濕在上宜防風，濕在中宜蒼朮，濕在下宜利小便（即本方或再加滑石車前便合），濕在周身宜烏藥、羌活、狗脊等，濕在兩臂宜靈仙、桑枝、桑寄等，濕在兩股宜牛膝、防己、萆薢等。審其患濕之處而方中加以主治之藥為引道，則發藥治病無不效矣。</p>
<h3>泄瀉症</h3>
<p>書云：濕成五瀉（飧溏鶩濡滑）。又云：氣滯為脹，濕鬱為瀉，可知瀉不外乎濕。然有腹痛，必兼食積；無腹痛，但濕鬱陽明。</p>
<p>蒼朮一錢半　雲苓三錢　陳皮一錢　木瓜一錢　防風一錢　豬苓二錢　腹皮一錢半　澤瀉一錢半</p>
<p>方內蒼朮不覺燥加多，覺燥減少。至若腹痛則加木香、或濕檳榔、藿香梗。食積加厚朴、神麯或萊菔子、山查（或去腹皮木瓜）。酒積加干葛。熱加芩連。寒加桂枝、吳萸、附子（去豬苓、腹皮、防風○凡大辛熱大苦寒藥，未涉醫者，宜逐味漸加為穩。書首凡例已經列明）脾虛加人參、白朮、附子（去腹皮、茯苓、澤瀉）。若五更後瀉且有定時者，為脾腎皆虛，宜四神丸加人參、茯苓、白朮、附子、粟殼之類。又凡痛而瀉，瀉而痛減者，食積。若痛而瀉，瀉而痛不減者，乃土衰木乘（脾虛故瀉，肝實故痛）宜用土炒白朮三錢，炒白芍二錢，陳皮一錢，防風一錢（此名痛瀉要方）或更加木瓜一錢，炒蓮葉二錢，同煎，人參、茯苓、炙甘草、煨干葛皆可酌加。久瀉者，須少佐升麻數分（二症上擬方皆不合用）。</p>
<h3>痢症</h3>
<p>見症裏急後重，腹痛欲便，不便濕熱食積相並，則成此症。痢色有赤有白之不同，亦因其受病有熱重濕重之各異。熱勝於濕則傷胃之血分而為赤痢，濕勝於熱則傷胃之氣分而為白痢，若赤白各半，則氣血兩傷。治法當宗劉河間先生調氣和血之旨（和血則膿血自愈，調氣則後重自除），茲因將赤痢、白痢、赤白痢，分症處方治之。</p>
<p><u>赤痢方</u>
金銀花三錢　建神麯一錢半　山查核二錢　當歸身一錢　紅麴米一錢　生甘草八分　雲黃連一錢
或加陳茶結糖各三錢同煎。
　
痢色赤甚或酌加紅花六七分，地榆七八分引。
　
熱甚黃連、銀花各再加一二錢。濕加滑石、防風。食滯加萊菔子苗、厚朴。腹痛頻加木香數分。便澀滯而大痛加酒炒大黃數分或錢零。若久痢微痛澀滯而燥渴者為下多傷陰加生地、阿膠、黑芝麻、白芍（去二麯、山查、連），或獨用六味地黃湯主治。凡痛緩積稀為熱滯漸去，當和血，生熟地黃、生製首烏、當歸、白芍、黑豆、黑芝麻為要藥（去二麯連山查）。</p>
<p><u>白痢方</u>
川滑石三錢　炒銀花二錢　建神麯一錢半　泡蒼朮一錢　綿茵陳二錢　生甘草五分　防風肉一錢
加炒香蓮葉二錢為引（鮮乾任用）。
　
濕微或渴減蒼朮，濕盛不渴加蒼朮，或再加白朮、茯苓。另有見症當加藥當看前赤痢症所列。</p>
<p><u>赤白痢方</u>
銀花三錢　建神麯一錢半　青皮五分　防風八分　滑石三分　黃連七分，土炒　陳皮五分甘草八分
加當歸五分、蒼朮五分為引。
　
如赤多於白當歸倍蒼朮（或再加多些銀花黃連）。白多於赤蒼朮倍當歸（加多些防風）。服二三劑後若得痛緩積稀加白朮、茯苓、當歸、白芍以調和氣血（去滑石、青皮，或再去黃連、蒼朮減少銀花，或再加木瓜、甘草改用炙）。</p>
<p>另有見症當加藥乃看前赤痢所列。</p>
<p>凡久痢仍脈數有熱，香連丸最佳。倘赤白將盡症，轉脈虛自汗，真人養臟湯、訶子散在所必用。</p>
<p><u>經驗赤白痢方</u>
銀花、滑石、白糖各等分，多煎代茶漫飲。（又赤痢銀花倍滑石，白痢滑石倍銀花）痢已久便仍滯，加打破黑芝麻同煎，口乾渴加生粉葛肉同煎。</p>
<h4>附論時行傳染二症</h4>
<p>痢症慣有時行與傳染二種，尤當分別治之。時行者，從皮毛而入，症必兼見微惡寒邪，風所過行於一家則一家病，行於一鄉則一鄉病，當宗喻嘉言初用辛涼解表，次用苦寒清裏，法宜敗毒散加減。傳染者從口鼻入，症不見惡寒，穢氣所觸，染一人則一人病，染一方則一方病，當宗劉河間調氣行血法，宜芍藥湯或參入藿香正氣散加減治之。</p>
<h3>瘧症</h3>
<p>瘧一日一發者，其邪淺，兩日一發者，其邪深；三日一發者，名三陰瘧，流連難愈。其邪原伏少陽，入與陰爭則寒，出與陽爭則熱，爭則病作，息則病止。其邪仍伏，本經寒熱之來，必應期而至。若寒熱模糊，來勢混而難分，此邪氣重而正氣怯。若寒熱相等作，止有時斯，邪氣輕而正氣不甚，虛茲擬方先從正氣未虛者商治。</p>
<p>建神麯二三錢　黃芩一二錢　青皮八分　法夏麯二三錢　青蒿二三錢　甘草八分
春冬加薑棗，夏秋加蓮葉（久瘧與冬月皆去青蒿加柴胡）。</p>
<p>寒多加草果或桂枝。熱多加知母或石膏（凡發熱無汗最忌石膏，慎之。又有汗忌丹皮，無汗忌白芍，均不可不知）。渴加花粉、麥冬（去二麯）。痰多加瓜蔞、夏麯改用半夏。夜熱加丹皮、地骨（去二麯）。夏日濕盛加滑石、茵陳。不渴寒多加蒼朮，兼暑熱加滑石、黃連。秋燥（去二麯、青皮、芩）加桑白皮、地骨皮、麥冬、杷葉、或鮮蘆根、冬瓜皮、梨皮。若正氣虛者（擬方不合用）宜用補中益氣湯加減治之。又單寒無熱宜用附子理中湯加柴胡。單熱無寒宜用白虎湯少加桂枝。</p>
<p>此症發於夏秋者，暑濕為患者居多，暑必夾濕，當分暑與濕何者為重暑熱重者瘧來者必熱重而寒微，唇舌必絳赤煩渴而喜涼飲，飲多無痞滿之患，當宗桂枝白虎湯法及六一散加入辛涼之品治之（涼如麥冬、竹葉、蓮葉類，辛如青蒿、香薷類）。濕邪重者，瘧來時雖則熱勢蒸燔，舌必有黏膩之苔，渴喜暖湯，胸脘覺痞脹嘔惡，當宗藿香正氣散及二陳湯去甘草加北杏仁、白蔻仁、生薑之類治之。</p>
<p>凡首列擬方原為輕症，投劑更有偏於寒者，主以大劑薑、桂、附。偏於熱者主以大劑石膏、芩、連。王太僕云；熱之不熱是無火也，益火之源以消陰翳；寒之不寒是無水也，壯水之主以制陽光。趙養葵遵之，以八味丸益火之源，六味丸壯水之主，治久瘧多以此法收功（六味是益陰和陽法，脈與症確陽勝於陰而後用此陰藥，方無胎累，慎之）。</p>
<p>倘間日一發者，非瘧期日，不宜用表藥，祛邪亦不宜蔽固其邪。有濕者去濕，有熱者清熱，有滯者行滯，總以疏蕩其邪為主。若氣血虛者當佐以扶元。至期日然後用表藥，以祛邪外出。服藥宜早三個時許。三陰瘧之治法亦然。期前後兩日亦但當扶正，至期日然後少佐表藥以祛邪，即春夏令主升泄柴胡亦當少佐。凡久病必入絡須用當歸、桃仁，少佐紅花（上三味活絡血下三味疏經氣）草果、桂枝、柴胡，自能透邪外出。</p>
<p>茲擬因暑熱成間日瘧者立一法治（其餘各因可推）。</p>
<p><u>間日瘧期前一日後一日服方</u>（劑宜輕小）
建神麯一錢半　夏麯一錢半　陳皮三分　甘草三分　生扁豆三錢，不打
加鮮蓮葉三錢，切碎，同煎。
　
熱加鮮竹茹。渴加麥冬、蘆根。濕加茵陳。食滯加穀麥芽。虛加參朮。寒加生薑、煨薑。有痰倍夏麯。</p>
<p>瘧期日即用上初擬治瘧六味原方，並參所列加減法治之。體虛者用補中益氣湯加減。</p>
<p>三陰瘧，余每用補中益氣湯與何人飲法加減治之，瘧期前後兩日治法專主扶正。</p>
<p><u>三陰瘧期前兩日後兩日服方</u>（亦宜輕劑）
黨參三錢　首烏一錢，制　神麯七分，炒　陳皮四分　當歸一錢
加生薑一二斤（有痰加半夏，脾虛加白朮、大棗，或更佐人參）。</p>
<p><u>三陰瘧期日服方</u>（早三個時服或五更服亦佳）
人參隨用　白朮椙　桃仁八分　柴胡八分　黃耆二錢　首烏三錢　紅花二分　黃芩八分　當歸二錢　桂枝八分　草果八分　青皮五分
加生薑二片，大棗三枚煎（方中如用黨參宜四五錢，麗參二三錢，人參，酌用之，）。</p>
<p>凡方中用人參，如野山土木、關東吉林、高麗、防黨、潞黨，須因人因症用之其分量輕重亦然。即凡方藥中之輕重皆然。如原方服不知則分錢倍用（此三陰瘧方宜於溫補藥中分錢倍用）。倘輕症與幼科其分錢或減半用之。</p>
<p>熱多者加柴胡、黃芩（參、耆、朮、歸、桂、草果略減少）。寒多者加桂枝、草果。單寒無熱者柴芩不用（少壯者此法多效，老弱者當遵下列高鼓峰法）。</p>
<p>高鼓峰先生云三陰大瘧最難治，余於歲月未久者，用參湯下二妙丸（橘紅、半夏二味，神麯和丸），服至半月一月自愈。如年深月久虺羸不堪者大劑，養營湯吞八味丸，仍於湯中加附子一錢，十貼必除（久瘧用補中益氣不效，必須遵此法）。</p>
<h4>附案（暑邪變瘧）</h4>
<p>黃君子飛余舊知也。余嘗學琴於其尊，人太原廣文於飛時少亦同學焉，今復同道而學醫也。其尊堂夏日偶患暑瘧症，適於飛外出延醫，某治之誤，用小柴胡再加苦寒升散藥，服二劑病增劇，寒多嘔惡不食，汗大泄，於飛旋裏，頻進溫補，繼復邀余同診，六脈弱而無神，面唇舌俱白，且有一種寒冷象。閱近服方多用六君加歸、耆、草果、薑棗等。余曰：藥從溫補病宜漸輕。於飛曰：僅得納食，而瘧至之苦依然也。瘧將作必先頻嘔，瘧止而嘔仍不即止，家慈最苦者嘔，君先除之。余曰：此嘔原過服羌活、柴胡，升動肝風所致，肝風所欲動，更乘瘧勢，一作益挾之，以肆其升逆之威。夫木動必乘胃土，邪阻胃降，嘔斯作矣。用術草棗而培胃虛以制肝，用黃耆而維陽氣以固衛原，治久瘧汗多善法，但現苦頻嘔，有升無降，此等究屬升提守中，愚見姑擬暫停專取降逆理虛一法，方用生左牡蠣塊一兩，吉林參三錢，同煎，當歸五錢，桂枝、陳皮、製半夏、生薑片各一錢，於飛見信，果一服瘧即不復作。瘧止後，乃用於飛參、耆、朮、歸、草、棗舊方法，加入附子溫少火以生氣，而調養復元。</p>
<h4>又案（瘧後辨寒熱）</h4>
<p>吾友黃云裳之女，十三歲，秋杪患瘧，醫以柴葛羌防治而愈之，已進飲食，後復發熱渴飲，微汗津。津醫誤認復感，仍用表散，熱愈熾，渴愈甚。邀余，診脈得右關獨數。余曰：此食滯耳，非外感也。原治瘧時，辛散過用，燥傷胃滓，胃液不充，因食納而化遲漸生積熱，以至壅壓營衛，而不能相和。胃為陽土，故獨發熱。兒輩病初愈，即頻進飲食，每多此症。倘仍苦寒以傷胄，辛散以卻津，斯變幻立殆矣。治法宜選甘涼以養胃生津，胃津充則穀食自化，營衛自和，而肌熱自解。質人參白虎法加減麗參五分同煎，麥冬（連心）、鮮嫩竹葉剪碎各二錢，生扁豆不打三錢，知母、石膏各一錢，甘草三分，石膏研末，白糖沙拌炒，後下，煎服。一劑渴熱稍退，三劑全愈。云裳曰；吾今始知傷食亦有寒熱也。余曰：更不止此。云裳曰：君能為我備述乎余曰：試為君略舉之風寒傷於表，營衛不能運行於外而寒熱生；暑濕穢濁與燥氣口鼻吸入，阻其氣機，營衛不能轉旋而寒熱亦生；食滯阻氣之升降，實火擾氣之流行，營衛因失其循行之度而寒熱亦生；又況陰虛生內熱，陰盛生內寒，陽盛生外熱，陽虛生外寒，重陰則熱（陰盛隔陽），重陽則寒（陽盛隔陰）；而陽維為病更苦寒熱，有不關於營衛之和與不和，而急當講究，夫育陰以和陽者耶。云裳曰：然則陰虛寒熱與外感寒熱究何以辨別而治之余曰：以有汗無汗為別。有汗屬營衛不和，因營衛不充；循行失度，故或發熱，或寒熱葉氏論治謂若用桂枝湯當重用白芍以斂陰和營。無汗屬肝腎，奇經以至陰，深遠難隔越諸經以達於陽分而泄其汗也，葉氏論治謂當用芳香輕清之品以宣通八脈，滋陰益血之藥，以調養奇經，倘參入當歸桂枝湯法治（即桂枝湯加當歸），亦須去白芍，芍酸不走絡也云。裳曰：君時云症不疑似分藥味彼此妥誠然。</p>
<p>《評琴書屋醫略》卷一終</p>
<h2>評琴書屋醫略　卷二</h2>
<h3>消渴症</h3>
<p>消有三消之分，飲水多而小便少為上消；食穀多而大便堅為中消；飲一溲一小便如膏為下消（上中二消屬熱，下消屬寒）。前賢治法，上消用人參白虎湯，中消用調胃承氣湯，下消用腎氣丸。其實皆津液乾枯病，故趙養葵先生謂，凡大渴大燥無分衝下用大劑六味地黃湯加肉桂、五味（名加減八味丸），連劑頻進飲，渴自止。白虎承氣皆非所宜，此趙論雖變古人成法，其中實有妙義。蓋人之灌溉，一身全賴兩腎中水火，少火能生氣，則真水自升，而渴自止（加肉桂正所以溫動少火，前賢治下消用腎氣丸者即此意），然臨症總貴因脈變通。上消輕，多先擬清燥法。</p>
<p>大麥冬五錢　連心　大天冬三錢　白粳米四錢　大生地五錢　雪梨乾八錢　烏梅肉四分加生蜜沖服。渴仍照方頻進，蜜不拘多少，與烏梅酸甜合病者口味為妙，酸甘蓋取其化陰。</p>
<p>服三四劑仍渴，倘脈洪大而數，喜冷飲者，加石膏、知母。仍渴再加黃連、甘草。脈沉弱而遲喜熱飲者（擬方不合），宜遵養葵法（或腎氣丸）。中消用調胃承氣湯合四物湯（或去芎硝，君以石膏）。下消宜腎氣丸。若骨瘦腿疼宜知柏八味加杜仲、人參、天冬、五味。</p>
<h3>嘔吐</h3>
<p>（霍乳嘔吐見下。腹痛症與此不同，切勿混治）</p>
<p>嘔吐一症，屬足陽明胃經有寒、有熱、有虛，患此最宜明辨。其因寒而嘔吐者，脈必遲（唇舌白惡飲）。因熱而嘔吐者，脈必數（唇頰赤口燥渴）。因虛而嘔吐者，脈必虛（唇白麵黃倦怠嗜臥）。果能因脈辨症施治，必效。茲擬症近於熱者立一安胃降逆輕劑以便因症加減。</p>
<p>金釵斛五錢，先煎　製半夏一錢半　細甘草三分　結雲苓三錢　化橘紅四分　鮮竹茹
加生薑一錢同煎（或去甘草，甘能守中壅氣發嘔，因石斛苦，故少佐耳）。</p>
<p>如確審得脈數熱盛，加石膏、粳米或麥冬、鮮蘆根（經驗方石膏、粳米、麥冬、蘆根煎代茶，止熱嘔頗佳）。方內生薑、橘紅或減少，或不用。若脈遲有寒者去石斛、竹茹加砂仁，或蔻仁，或獨加方內生薑用三四錢，或五六錢。寒重者加至兩零必效。若脈虛屬中氣虛者，去石斛、竹茹加白朮、人參、大棗。虛而兼寒者，再加附子、乾薑。至若嘔吐而寒熱往來者少陽症也，宜另用小柴胡湯主治。</p>
<h4>附論噎隔反胃</h4>
<p>嘔吐症中更有病名噎隔病名反胃者，其人於飲食之際，氣忽阻塞曰噎；心下隔拒，或食到膈間不得下（故古人亦有名之為膈者）曰隔。古人謂津液乾枯為噎隔病源，忌投溫補可知。誤用參、耆、朮以培補之，愈增其隔；誤用薑、桂、附以溫暖之，益速其亡。選藥必須用清潤之品，以急救陽明胃陰為主（高鼓峰謂治膈一陽明盡之），如牛乳、人乳、沙參、天冬、麥冬、地黃、蘆根、茅根、韭汁陳酒最為要藥。選方當遵楊乘六，用左歸飲去茯苓加當歸、生地主治。然吾嘗用大半夏湯合麥門冬湯治之，亦間有猶效者。倘刺痛大便乾結（大腸無血），當遵鼓峰法熟地五錢，當歸、白芍、桃仁、麻仁各三錢，以潤之（如其人形體尚壯加大黃椂BR&gt; 錢，以助血藥更妙）。或用酒大黃、桃仁、歸尾、煉蜜為小丸，茅根濃煎湯送下，以緩下之（大腸潤利，胃口自開，然此症年五十下或可治，五十上難醫。初病或易治，久病難醫）。若飲食方下嚥氣即上逆或刺痛，啟膈飲之，重用沙參以開肺氣之鬱，又不可不講究也。若朝食而暮乃吐，暮食而朝乃吐，其大便甚利或溏者（與膈症分別處驗大便為最要），此中下二焦火衰反胃症也（王太僕云：食不得入是有火也；食入反出是無火也）。宜吳茱萸湯，附子理中湯或六君子湯加薑、附治之。高鼓峰亦主王太僕之論，用八味丸主治。然余治內人患此，用大小半夏湯吳茱萸湯三方合用而痊（除噎隔症外，凡治嘔吐，藥中磨沉香汁三四分，其效倍速）。</p>
<h3>疸症</h3>
<p>即發黃症。遍身面目溺皆黃，原有五疸之分（黃疸、穀疸、酒疸、女勞疸、黃汗），陰陽虛實之別，而究濕熱氣蒸為患者居多。治法必從氣分，宣通乃效。茲擬滲濕清熱，佐以宣通氣分方法（此症渴難治，不渴易治）。</p>
<p>苓皮五錢　滑石三錢　黃芩一錢　北杏…-錢　茵陳三錢　梔子一錢半　蔻仁四分
加淡豆豉三錢，同煎（或重用鮮田基黃、白連草煎湯，去渣，將湯代水煎藥）。</p>
<p>熱盛倍用梔芩。濕盛加蒼朮。周身盡痛痛濕阻氣機也，宜倍用蔻仁以開肺氣，肺主一身之氣化故也。炒銀花、澤蘭葉、藿香、葉梗、豬苓、澤瀉、木通、萆薢、海金沙、腹皮皆芳香逐穢滲淡除濕之品，可因症參入加減。</p>
<p>但所因不一，治法頗多，即女勞瘀血難療，自有方書可考（沈金鼇尊生引述頗詳可參考。且分別黃腫、與黃疸證治亦佳）。似不煩多贅。然竊念陽黃陰黃，清溫各別，每見誤治者，難免傷人，是不得不明辨。夫陽主明，故黃如橘子色，治胃（脈或數或緩必有力）即宜用上擬方並參以所列加減各法治之。陰主晦，故黃如曛，黃色治脾（脈必沉弱且身冷），羅謙甫先生以茵陳四逆湯主之，高鼓峰用四苓散加炮薑、茵陳治之，重者加附子。又有脾液外越而發黃者（脈弱體倦無神，但面身黃目，溺不黃），貧而勞苦者多（勞則傷脾，脾虛不能收攝真氣故也），宜香砂六君子湯加減治之。</p>
<h4>附案二</h4>
<p>酒肉連綿之會，適暑濕交蒸之時，稍不謹慎，最易犯，此濕熱疸症。擬方七味連服數劑便可全愈。余嘗醫故交謝司馬侄，年少患此，初起即進原方二劑，病已減半，間數日再進二劑，漸愈，惟目尚黃，祗多飲烏龍茶（此茶芳香能辟暑濕穢濁之氣）與薄味調養而痊（此症忌酒肉厚味）。</p>
<p>葉案治疸症有云，不宜下，恐犯太陰，變脈不知，亦問其症之宜與不宜耳。琴師左君逄源患此症三月餘，服藥罔效，延余治。自述每三四日始一更衣，今已五日矣。能食脈有力，余用茵陳蒿湯加芒硝治之，方用大黃三錢，茵陳四錢，梔子、芒硝各二錢，煎好沖入酒二杯服。服後大瀉，明日硝減半，服再瀉，病稍退。隔四日仍苦便難，前方去硝加桃仁三錢，服二貼，仍瀉二次，繼以薄味調養而收全功。</p>
<h3>頭痛</h3>
<p>頭為諸陽之會，與厥陰肝脈會於巔，故頭痛一症，半由厥陰風火挾諸經火上擾所致。茲即是議訂一方，其風寒虛三者，亦非盡無，然六淫五賊之分，氣血虛實之別，前人成法，自有可稽，即沈芊綠《尊生》一書，引述頗詳，可因其援引而博考之。至若偏正頭風，當遵葉天士先生育陰和亢陽，柔潤熄內風一法，參入商治。</p>
<p>北杏三錢　連翹二錢　蔓荊子一錢　鉤藤五錢，打　白菊椙　鮮蓮葉四錢，用邊，切碎煎。
熱盛加羚羊、苦丁茶各三錢，煎。兼感受暑氣加六一散三錢引。</p>
<p>知確非由外感（無發熱、惡寒、鼻塞、聲重脈浮等）去北杏、連翹、荊子，轉用生地、熟地、天冬、麥冬、玉竹、胡麻、阿膠、龜版、鱉甲等選擇三五味配入本方治之，此養肝體佐以清肝，用法陰虛火浮最宜，即偏正頭風亦可治。葉案所謂育陰和亢陽，柔潤熄內風者此也。此等症或全用靜藥，羚羊、鉤藤、菊花，或亦不用，或少佐之。</p>
<h4>附論偏正頭風</h4>
<p>偏頭風多屬少陽，以少陽行身之側故也。誤投柴胡多致損目，以升散少陽，耗竭肝陰故也。朱丹溪以左屬風屬火，主血虛，右屬痰屬熱，主氣虛，遵之亦有效有不效。其初起者，不論左右，用鮮紅根地膽草頭五錢（如無以白茅根代之），當歸、羚羊（二味先煎），木賊、天麻、荊子、菊花各一錢，川芎、白芷各四分，黑豆百粒，煎服多效。</p>
<p>另有一種正頭風，數日一發，或數月一發，此乃風毒客於髓海，服藥難達病所，故年深難愈，宜用菊花、沈茶蒸濃汁，仰臥冷注鼻中（或用生萊菔汁），或甜瓜蒂五分，皂角二分，細辛一分，真麝香二厘，蜜小丸，綿裹，塞鼻中，沸濕則易之，得嚏或出濁涕竅通而痛自解。</p>
<p>風毒傍於腦海之旁，亦令偏頭痛，倘用育陰和陽柔潤熄風法不效，上從鼻治三法皆可選用。左痛從左治，右痛從右治（亦有主左痛治右右痛治左者當並試之）。又或用肉桂一分，人言一厘，麝香二厘，辛夷、細辛各五厘，胡椒十粒，為末，棗肉為丸，如豌豆大。一粒放膏藥中心，貼准太陽穴，一日當見效（因風寒而起者更妙）。如壯年火盛者，愈後服黃芩大黃瀉火，則目自愈。</p>
<h3>腹痛</h3>
<p>（中臍及臍上下痛同考）</p>
<p>臍上屬太陰（脾），臍中屬少陰（腎），臍下屬厥陰（肝），當分別治之。凡一切痛症，虛者喜按，得食則止，脈無力，實者拒按，得食愈痛，脈有力。</p>
<p>藿香梗三錢　草決明四錢　生白芍二錢川楝子一錢半　大蒿麥三錢　細甘草七分　舊青皮八分，醋炒</p>
<p>加橘柚葉二錢（鮮取剪碎）同煎。臍上痛加木香五六分，炒穀芽三四錢。中臍痛加吳萸五六分，炒山甲一二片（皆去藿梗青皮）。臍下痛加海螵蛸四錢，茜根一錢，或再加製香附二錢，炒山查核三錢（去藿、決、蒿、芍、草五味，倘按之冷，仍須加吳萸或肉桂。若女子患此則當歸、杞子、蒺藜、靈脂不可少，下附奇經心痛案可參）。又腹痛恒有因飲食不慎而致者，如肉食傷宜山查、蓬朮、阿魏；食飯傷宜神麯、麥牙；食麯傷宜萊菔子，生冷傷宜草果、蒼朮、厚朴；宿食傷宜枳實、黃連、蓬朮、檳榔，因其所傷之物而以主治之藥為君，助以餘藥兼以化氣痛自愈矣。然而腹痛之因更有不止此者，腹滿痛而大便閉為實，有厚朴三物、厚朴七物與大黃附子湯法。腹滿痛而下利為虛，有理中湯法。雷鳴切痛而嘔吐為寒氣，有附子粳米湯法。慎疾者，宜小心察之。</p>
<h4>附案</h4>
<p>香邑黃閣鄉麥樹基每日交酉必腹痛（臟腑十二時流注說以酉屬腎經），將交戌痛乃漸止，病年餘，無有能愈之者。一醫會作熱積治，用朴、枳、連、柏，漸增腸鳴（寒氣），更或時吐時瀉。又更一醫治以自製小丸，此後則諸恙倍增腸鳴，雖遠坐亦聞，腹痛每至於悶死，必酉刻將盡始漸醒而痛緩，日日如是，無有間者。危急之際，邀余診，脈無神，結見兩關左尺，擬附子粳米湯加味治之，熟附子三錢、炒，粳米、製半夏各四錢，麗參、木瓜、炙草、南棗肉各一錢，是晚痛雖止，而腸尚鳴，亦將交戌而其鳴乃息。翌日診，原方如土炒白朮五錢棗肉改用三錢，木瓜改用一錢半，是晚諸恙俱安。隔年余，適到黃閣復邀診，據述今年上半載無恙，後半載每月復發一二次，因痛不比去年之甚，故加味復方，僅服半劑，而自能漸安，余仍用附子粳米湯合理中湯加味，為小丸，令其常服，以防後患。防黨參、白朮各四兩，附子、當歸各一兩，麗參、半夏、乾薑、木瓜、甘草各五錢，用大棗糯米煎稠粥，為小丸，每服三錢，早用淡鹽湯送。後聞連服五料，乃收全功。</p>
<h4>附論藿亂症</h4>
<p>霍亂腹痛一症，又當用藿香散等法治之。王肯堂云；霍亂不吐瀉，或腹脹如鼓，不得用別藥，惟益元散可服。炮湯冷定，時時呷之，或連末服下，此藥能降邪氣，消食墜痰，和胃調中，但聞腹中有響聲即是好消息，不下則吐，不吐則下，乃霍亂中妙藥也（大忌薑湯米湯烏梅梅醬）。余遵是法，遇霍亂症或未吐瀉，或已吐瀉，用藿香葉、建神麯、大葉茶各三錢（皆能和中），澤瀉、木通各一錢（皆能降濁），柴胡、羌活各七八分（皆能升清）煎湯，沖益元散三四錢。俟將冷服之，倘腹仍痛，仍依法進（有濕必須加蒼朮），或佐以藿香散法，無不獲效。又古人謂，凡暴病毋論其脈，但從其症，此誠確淪。霍亂症與一切痛症、急症，脈多伏者，斯言不可不記。又謂凡病來迅速者，俱屬肝經主病（五行中最迅速者，莫若風火。肝為風火之臟故也），此雖不僅為腹痛而言。然肝主筋，亦主痛，則痛症亦不得渭無關於肝也。霍亂症本迅速而起，故亦須少加柴胡以疏肝，或佐青皮以伐肝。</p>
<h4>附論疝氣症</h4>
<p>腹痛亦有因疝氣連及臍下（厥陰肝）、中臍（少陰腎）、臍上（太陰脾）、及兩脅（少陽膽）而痛者，宜遵丹溪議，專治厥陰肝主筋主痛故也。疝雖有七（寒疝、筋疝、水疝、氣疝、血疝、狐疝、頹疝），治法總以辛香流氣疏泄厥陰為主，金鈴子散、左金丸、五苓散三方當合用而加減治之。凡暴疝多寒，久疝多熱。如寒則重用吳萸、桂枝，或再加小茴、肉桂，熱則重用黃連、川楝，或再加黃柏、木通，其南木香、青木香（即兜鈴根）、橘核、鮮橘葉、鮮黃皮枝、鮮田基黃，皆辛香流氣，宣絡舒肝之品，合參入為佐使（沙參一兩，同豬小肚煎羹，治疝氣效。沙參清肺，能令肺金清肅之氣下行，肺與膀胱通氣化故也。三層茴香丸用沙參即此意）。倘欲再佐宣活絡血之法，兼欲引藥力直走至陰之域，則桃仁、歸須、山甲、薤白、雄鼠矢，在所必用。至若者弱久疝，睾丸下墜，又當溫散奇經，升舉奇陽（經云：任脈為病，男子內結七疝，女子帶下瘕聚），固本補虛，又為最要，當歸羊肉湯滋腎丸、虎潛丸皆治本法也。其小茴、炒，當歸（小茴拌水炒，當歸能通肝臟脈絡之陽氣）、兔絲子、關沙苑、杞子、鹿茸、鹿角霜、桂枝尖、白蒺藜，皆可因症商用。</p>
<h3>心痛</h3>
<p>心痛者，非心痛也，真心痛不治，乃心胞絡與胃脘痛耳。訂方遵苦辛降通一法，通則不痛矣。當更參後列各見症，辨其所因而加減治之。</p>
<p>丹參三錢　川楝一錢半　麥冬椂眯模BR&gt; 破，朱砂拌勻　香附一錢　延胡椙　烏藥BR&gt; 錢　佛手二錢
加春砂仁三粒，連殼打破，同煎。</p>
<p>或磨檀香汁些少衝服，或加百合同煎（百合烏藥名百合湯。川楝子、延胡名金鈴子散。丹參砂、仁、檀香名丹參飲。三方皆治心痛）。凡心痛症用豬心一個，煎湯，去豬心，將湯代水煎藥更效。久痛者，方中必須加當歸、桃仁以活絡血（若得食則痛緩，此由於積勞而營血虛，歸桃外再加柏仁、胡麻、圓肉，原方減去川楝、延胡、烏藥、春砂）。倘心痛切背（此胸痹症）宜栝蔞薤白半夏湯。</p>
<p>又痛因痰（痛而惡悶，嘔出痰飲即寬者為痰），加半夏、貝母、瓜蔞仁（去丹參、麥冬、香附）。因食滯（覺飽時噯氣，直至饑而後緩者，為食滯）加草果、枳實、檳榔，或麥芽、神麯（去丹參、延胡、烏藥）。因寒（痛時飲熱湯熱酒而痛緩者為寒）加乾薑、良薑（去麥冬、丹參）。因鬱（痛應背心者為鬱見，症似胸痹宜燥宜潤當辨）加川貝母川芎（去烏藥、砂仁）。因蟲（心頭急痛唇白毛豎口吐黃水者為蟲），加雷丸、君肉、烏梅、黃連&lt;去丹參、麥冬、烏藥、延胡、砂仁）或用檳雄丸治之。因瘀血（心頭結痛，氣逆上衝，啷啷有聲者，為血）加蘇木、三棱、蓬朮，或加桃仁、紅花、降香（去麥冬、砂仁、烏藥）。</p>
<p>又有心痛頻發，痛極悶死，必吐涎水而後醒者，乃寒痰積於心睥，用炒梔子一兩，煎加竹瀝、薑汁各一杯，沖服。有卒然大痛，無聲，手足冰冷，且氣冷面青，咬牙噤齒，此乃真心痛。因寒邪直犯君火，僅對時即斃。如用豬心湯煎麻黃、官桂、附子、乾薑急服，或有得生者（此法出王肯堂《醫鏡》，謂此乃秘要妙法）。</p>
<h4>附案（奇經心痛）</h4>
<p>順邑馬蘇隱方伯第五妾據蘇隱述，每戌亥必腹痛（戌亥為至陰之時，肝腎為至陰之臟，奇經八脈皆發源於肝腎故也），其痛始臍下漸繞臍上及兩脅，以至於心，天曉則安然無恙。平日慣以八珍湯獲小效，而自能漸安，今陸醫與之診，謂脈近有力，當清其源，然後永無再發，轉用苦寒劑痛益增。明日再診，謂倍有力，論脈當清，前劑轉小藥力不到耳，古人謂通則不痛（至若寒者溫之使通，虛者補之使通醫似不曉），且每三兩日始一更衣，此治必合（幽門氣鈍血燥，醫似未明）用大承氣湯加桃仁、川楝子大劑進服，大便瀉後，日夜皆痛（陰陽兩傷），且頻嘔不食，特延君愈之。余脈之曰：症屬虛寒，理宜溫補。蘇隱曰：脈鼓指否余曰：鼓指。曰：脈若是，安能補余曰：未進承氣前縱似有力，未必鼓指。曰誠如君言，何也曰此真氣虛而邪氣實耳。夫胃氣充足者，其脈緩，今苦寒攻伐，胃氣愈傷，是以鼓指。凡實熱脈重，按仍有力，今重按則軟，且唇白而困倦無神，豈有餘症耶少腹痛必心痛者，經云：陰維脈病苦心痛也。奇經八脈皆發源於肝腎，原當治下，因苦寒更傷中州，法不得不中下兼顧，使急逐其寒邪而復其胃氣。愚見擬用吳茱萸湯合附子粳米湯加減。先進方，用野山麗參四錢，吳萸附子各二錢，炒粳米、半夏、生薑各三錢，大棗二枚，一服吐止，痛減。次日診，仍用前方加於朮三錢，炙草一錢，煎服。三日診，脈象和緩，痛減八九轉，用當歸（小茴五分拌炒，仍用同煎）、紫石英（生研）各五錢，潞黨、杞子各四錢，鹽水炒，破故子、製香附、制蘄艾葉各一錢，服四貼後，間或加天生朮、關沙苑同煎，或加野山土朮、人參、北鹿茸末各一錢，另燉，沖服。調養將一月而痊。半載後因房事，痛復發，且少腹脹左尺弦勁（腎虛風動），用轉方七味，去潞党、石英、故子，加海螵蛸、白蒺藜各四錢，茜根一錢，蠍尾梢一分，二劑漸愈，後仍用歸杞七味方，與配人參、茸、野朮、砂仁、熟地，出入而調養，以收全功。</p>
<h3>脅痛</h3>
<p>脅痛多屬少陽厥陰，以兩脅屬少陽，又肝脈絡布於脅也。治主宣絡，佐以平肝。</p>
<p>川楝子椙夏枯草三錢　舊青皮椙BR&gt; 醋炒　延胡索一錢半　台烏藥一錢　粉丹皮棥BR&gt; 錢，去心　雙鉤藤四錢
加鮮橘柚葉，剪碎青蔥管寸斷各三錢。</p>
<p>凡久痛必入絡，須加桃仁，紅花以活絡血，或參入旋覆花湯以降絡，或佐入蘇子、生薏米、降香（葉氏三味慣並用）、芥子以通絡。王肯堂謂：大忌陳皮、生薑、細辛，服之即令肝脹，以其能補肝故也。用青皮宜醋炒酸，能破結，直入肝經故也。痛甚者，加醋半酒杯，沖藥服。</p>
<p>凡痛亦當知在氣在血，見症各有不同痛而不臌，按之愈痛，痛無時，止瘀血作痛也。痛而且臌，得噯即緩，痛有止時，怒氣作痛也。怒氣作痛加醋炒柴胡，佐青皮以伐其肝，少加木香，佐烏藥以開其氣，紅花、當歸又或酌用以和其血也（或去鉤藤、延胡）。瘀血作痛加桃仁、歸尾、紅花（去鉤藤、烏藥、青皮、枯草，或少佐醋炒柴胡、川芎），或加蘇木、山查、蓬朮，等若痛甚加大黃下之。此氣與血見症所由，亦氣與血用藥所宜辨也。若微痛著於一處，此為痰痛，上擬方藥不合用，必君以芥子，佐以竹瀝、薑汁治之，其絲瓜絡、白蒺藜、浙貝、膽星、蔞皮、青皮、黃連等，亦合佐使。</p>
<h3>腰痛</h3>
<p>腰者，腎之俯，在內為少陰（腎），在外為太陽（膀胱），故腰痛必從二經主治。一表一裏，治法攸分須明。夫邪自外來而痛者，屬膀胱；虛由內生而痛者，屬腎，宜填宜補而溫宜通，法原不一。余嘗擬補腎一方，相傳而服者多效，先錄存之。愚見再參末分治。</p>
<p>金狗脊四錢，去毛　兔絲子三錢　破故子五分，鹽水，拌炒　關沙苑四錢　牛膝肉二錢，酒炒厚黃柏五分，鹽水，拌炒　生杜仲三錢
或用豬腰一對，煎湯代水煎藥。</p>
<p>熱黃柏倍故子，寒故子倍黃柏（或二三倍），痛已除再加入熟地、杞子、胡桃或鹿茸、鹿角霜，多服數貼，方免復患。凡腰痛脈沉而細者，當治少陰。時痛時止腎精虧也，即用上擬補腎方主治。時痛時熱，腎水虧也，宜另用知柏八味湯治之。若脈浮而緊者，當治太陽。背肉刺痛，風客於腎腧穴也，麻黃、細辛、獨活、防風、生地、當歸，白芍以疏其風。鬱痛畏冷寒，客於氣海腧也，麻黃、附子、細辛、當歸、炙草以驗。其寒痛重難移，濕著於藏精所也，麻黃、蒼朮、白朮、當歸、杜仲、牛膝、茯苓、薏米、炙草，以逐其濕。</p>
<h3>腳氣痛</h3>
<p>此名壅疾，謂濕氣壅塞經絡致痛也，忌用補劑。若專事溫補，必成廢疾。有寒濕、風濕、濕熱之分，宜細按後列脈症加減擬方治之。</p>
<p>當歸三錢　舊木瓜二錢，酒炒　細木通一錢半　羌活一錢半　生薏米五錢　紫蘇梗一錢半　防風一錢半
加生赤小豆皮五錢，同煎。</p>
<p>臨夜發熱而痛，脈濡而數者為濕熱，加黃柏、麥冬同煎。晝夜憎寒作痛，脈濡而遲者為寒濕，加蒼朮、乾薑、附子、防已、加皮（去木通、蘇梗）。其腫痛走注無常，或踝，或膝，或脛，脈濡浮兼數者為風濕，加生地、牛膝（去木瓜、薏米、蘇梗）。不效，再加入芒硝、大黃同煎。若嗜酒而伏酒濕毒者，辨脈與症，或兼寒、兼熱、兼風，遵上三法選藥施治，重加枳棋子、干葛花，以解酒毒。或用巴戟五錢（糯米拌水炒乾去米），大黃一兩炒，同為末，蜜丸（名巴黃丸）溫水送下五七十丸（仍須戒酒）。凡腳痛，山甲、地龍可加作引。若走動而痛上臂手，須加靈仙。另有乾腳氣痛不腫而躇縮，枯細當潤，血清燥（宜玉竹、生地、麥冬、天冬、胡麻、石斛、牛膝、歸須、鱉甲、阿膠等）。又有陰虛腳痛，足跟鍁腫而紅，當補腎養營（宜龜版、生地、熟地、當歸、大冬、杞子仁、杜仲、玉竹、巴戟、黃柏、知母、牛膝等），二症與腳氣濕症大相反，彼此誤治，必增劇。</p>
<h4>附論痿蹙症</h4>
<p>腳氣痛，外又有所謂痿壁者，方書謂痿症。無痛，不知兼濕重者則筋緩，而痿軟兼熱多者則筋急而作痛，余見痿症，慣有兼痛者，醫用祛風藥（丹溪謂斷不可作風治）、滲濕藥作風濕腳氣痛治，無不增劇，是以特附此症於腳氣痛條中（汪石山治一人痿兼痛者，用人參二錢，黃芪一錢半，白朮、茯苓、生地、麥冬各一錢，當歸八分，黃柏、知母各七分，連服數貼，而痿痛愈）。夫痿有脈痿、筋痿、肉痿、骨痿之殊，原不止痿於足（更有頭痿、手痿、腰痿、一身俱痿），而經謂：諸痿生於肺熱（肺主一身氣化，肺燥熱則血液涸而不能營養筋骨故痿）；又謂：治痿獨取陽明（陽明主潤宗筋，束筋骨以利機關。虛則宗筋弛縱，手足痿而不能用），縱。諸痿商治，概可悟矣。若痿壁在下，則肝腎病多，（肝主筋，肝血傷血不營筋，則四肢不用而筋骨拘攣。腎藏精，精血相生，虛則不能灌溉諸末而營養筋骨）而肺胃亦宜兼顧，大補陰丸、滋腎丸、虎潛丸、二妙丸（若肺燥蒼朮可勿用）、人參固本丸皆堪選。用其玉竹、巴戟、杞子、杜仲等可參入五方加減治之（三指禪注經驗方，地黃四兩，黃柏知母各一兩，肉桂一錢，煉蜜為丸。方書有謂：血虛四物湯二妙丸合用。氣虛四君子湯二妙丸合用）加龜版、虎骨、當歸、地黃（可知二妙丸亦治痿症要藥）。若痿症見於上則肺熱居多，東垣清燥湯在所必用，即麥冬、沙參、粳米，每日煎粥飲。似極平淡，究屬神奇也（此法治消渴亦佳）。</p>
<h3>耳痛（耳鳴耳聾同辨證治）</h3>
<p>腎開竅於耳，心亦奇竅於耳，膽脈絡附於耳，老弱與久病皆屬體虛失聰（聾鳴而不痛），治在肝腎。少年或暴病，總屬邪干閉竅（痛鳴聾皆有），治在膽經，即本是議酌方，先擬清少陽絡法。</p>
<p>羚羊角三錢，先煎　連翹殼二錢　粉丹皮一錢　苦丁茶一錢　牛蒡子一錢半　香白芷二分
加鮮蓮梗三錢，寸斷，鮮蓮葉邊三錢，剪碎為引。</p>
<p>氣閉則耳鳴耳聾，薄荷梗、夏枯草、蔓荊子、鉤藤、菊花、馬勃、木通皆通竅之品，可參入加減。火鬱則耳痛，菊葉、桑葉、銀花、梔子亦可任加。然原方已屬統治，至若肝腎虛而為聾為鳴者，宜用磁石，六味丸加龜版、五味、遠志、菖蒲主治，人參、當歸、杞子、菟絲沙、苑杭、菊亦可因症選用。</p>
<h3>牙痛</h3>
<p>上齒脈絡屬足陽明胃，下齒脈絡屬手陽明大腸，有風痛、熱痛、蟲痛、寒痛、痰毒、痛瘀、血痛之分，備載本門可考。惟風熱痛為尤多，因訂一清絡熱方法。</p>
<p>金銀花三錢　雙鉤藤四錢　粉丹皮一錢　絲瓜絡三錢　連翹殼二錢　生甘草八分
加生柏葉三錢引（上齒痛或加石膏、知母，下齒痛或加生地、秦艽），</p>
<p>風痛加荊芥、防風。水虧火亢加生地、天冬、麥冬、元參（去絲瓜絡連翹鉤藤）。食飯後倍痛胃火旺也，必須君以石膏、知母。大便結者加生地七八錢，風化硝二三錢（亦去絲瓜三味）。</p>
<p>外治法芒硝、五味、牛膝、荊芥、銀花各三錢，煎水含漱。又法牙皂五分，梅片一分，麝香五厘，點入牙縫，其痛立止。蟲痛寒痛加川椒四五分。痰火痛加芒硝一錢，共研末。</p>
<p>《評琴書屋醫略》卷二終</p>
<h2>評琴書屋醫略　卷三</h2>
<h3>淋症（濁　癃閉同考）</h3>
<p>淋有五淋之分，濁有精濁便濁之別，總屬腎病。腎有二竅，一出溺一出精。淋出溺竅，而屬肝膽；濁出精竅，而屬心腎，不得混治。</p>
<p><u>治淋症方</u>（可統治五淋，宜辨症加引）</p>
<p>赤茯苓四錢　當歸梢一錢　山梔仁一錢川萆薢四錢　甘草梢一錢　石菖蒲三分</p>
<p>石淋下如沙石，用銀硝、朱砂、滑石等分，研勻（朴硝一味，宜隔紙炒，炒至紙變黃色為度），每服三錢（或加發灰、石首魚頭內石灰），即將此湯送下，甚則日服二三次（另用海金沙、木通，煎湯送）。膏淋下如膏脂，加烏藥、益智仁（沖監些少）。氣淋氣滯不通，臍下悶痛，加荊芥、製香附、麥芽。勞淋從勞力而得，加人參、黃耆、白朮，少佐升麻、柴胡（歸，改用全歸草改用炙草）。</p>
<p>血淋瘀血停蓄莖中作痛，加牛膝、鬱金、桃仁，或沖韭白汁小杯同服。</p>
<p>至若點滴，俱無症名，癃閉，加北杏三四錢，麻黃一錢，同煎（夏月麻黃用四五分）。若癃閉而不渴，此法不宜，須另用通關丸主治（即滋腎丸）。</p>
<h4>附案二（石淋）</h4>
<p>黃閣鄉張某，年七十余，患石淋，小便點滴而出，痛甚，少腹脹，氣微喘，能食。醫用清利法罔效，求余治。左尺弦大直上左關。余用大補陰丸合滋腎丸治，龜版一兩，地黃五錢，知母、黃柏各三錢，肉桂六分。張畏桂性熱減其半，服後小便稍通，腹脹略減，而痛不除。再求治，余謂必須佐桂六分乃效。信服之。小便大利，出石數粒如橘核大，遂愈。</p>
<p>明經鄉周韶石叔令昆年將三十，石淋阻塞溺竅，點滴不通，以至腹脹如鼓，痛楚不堪，臥床不起。危急之際，延余治。脈呆鈍不甚應指（氣不升降轉旋失職故也）。余用京柿炭一個（連霜蒂煆），朱砂三錢（二味方得白楊溶馬虞階孝廉，謂：凡小便不通，皆合用粥水送下。余用治血淋屢效。今又仿之以治石淋）芒硝三錢，同研末。用杜牛膝五錢（時藥店無，以鮮土牛膝一兩代），懷牛膝、川滑石、黃柏、桃仁、大韭白各三錢，甘草梢、石菖蒲各七分，煎湯送下。服後出石一條，長約一寸大，如粗箸，小便遂頻出，床地俱濕，腹脹頓消而愈。</p>
<p><u>治濁症方</u>
建蓮米四錢，連心　麥冬一錢，連心　石菖蒲五分，鹽水炒　雲茯苓三錢　益智八分　遠志肉八分　青黛拌水，煮乾　川萆薢三錢　烏藥八分　甘草梢八分，鹽水炒</p>
<p>濕盛加蒼朮、白朮、黃柏（去麥冬、遠志、蓮米）。便濁加豬苓、澤瀉或海金沙、滑石（亦去麥冬、遠志、蓮米）。精濁加免絲子、桑螵蛸、生龍骨，或關沙苑、山藥、五味（去草梢、萆薜、烏藥、益智）。赤濁加生地、當歸、天冬（去萆薢、烏藥、益智）。白濁加人參、黃耆、白朮，或蒼朮、豬苓（去萆薢、麥冬、烏藥，或再去遠志、蓮米）。凡莖中痛，必須加鹽水炒黃柏為引。</p>
<h3>遺精</h3>
<p>此症當辨有夢無夢與濕熱之因，有夢治心，無夢治腎，濕熱治小腸、膀胱。陰虛者填精，陽虛者補氣，陽強者瀉火。故前賢治法，有寧心益腎，填精固元，與清利濕熱之別。茲先擬一寧心益腎固攝之劑，以便因各見症加減治之。</p>
<p>桑螵蛸二錢　雲茯神三錢　大麥冬二錢，連心　建蓮米五錢，連心　熟棗仁一錢半　遠志肉五分，製
加龜版打碎五錢，生龍骨打碎三錢，二味先煎，或加菖蒲、雲連各三四分，為佐使（如有夢加多些黃連，無夢但加五味、人參）。</p>
<p>陰虛加熟地、天冬、阿膠、當歸等（去棗仁、遠志、茯神）。陽虛加人參、黃耆、杞子、杜仲、白朮等（去龜版、麥冬、龍骨、桑螵蛸）。陽強加生地、知母、黃柏（去棗仁、遠志、茯神）。遺泄頻頻，宜佐以固攝之品，如兔絲子、五味子、覆盆子、金櫻子、蓮須之類，選入一二味為佐使。至若精遺，因濕熱者，宜另用豬苓湯法治之（其芡實、山藥、沙苑、蓮米，凡遺泄症皆可常食）。</p>
<h3>便血</h3>
<p>此症有風淫腸胃，有濕熱傷脾。始則臟腑受傷，久則陰絡亦損，治原不一（肯堂《醫鏡》芊錄《尊生》引述頗詳，當參考之），茲即大腸受熱者訂一方，俟因症加減。</p>
<p>大生地六錢　黃柏炭七分　槐花一錢半赤小豆四錢　地榆炭七分　銀花一錢半
加木賊一錢，烏梅二個同煎（梅或煆炭用）。</p>
<p>熱甚再加黃芩、蓮葉，或桑葉、丹皮如服二三貼，血仍見，必須用黑芝麻（洗淨打破）、生首烏各四錢，加入同煎（去木賊、梅）。因濕加防風、白朮（去生地）。因風加荊芥、當歸、防風（去銀、槐花）。若血下色淡者，另用四物湯加龜版、生首烏、製首烏，煎服。便合。倘便血流連止而復發，用生首烏末，米糊丸，每服三四錢，甚效（用京柿黑豆煎湯送下更佳）。《金匱》分別糞前下血為近血，用赤小豆散；糞後下血為遠血，用黃土湯，果於脈症有相合，則於古法自堪師。余嘗治戴姻兄便血，或糞前或糞後無定，用生首烏、製首烏、大生地各四錢，白朮、防風、木瓜、白芍各一錢，當歸、陳皮各七分一帖血減，三帖全愈，凡便血京柿、黑豆、綠豆、赤小豆、黑芝麻、蓮米可常服（或糖作羹，或選入同豬精肉柴魚，或豬大腸煎湯，俱佳）。</p>
<h3>小便血</h3>
<p>即尿血，溺竅病也。其源由於腎虛，非若血淋。由於濕熱，其分辨處以痛不痛為斷。痛屬血淋，不痛屬尿血，余訂是方，施治頗效，因錄存之。且此方不但治尿血，方中烏梅炭、當歸、兔絲子皆倍用，生地改用熟地，其當歸、蓮米二味同，用黑米醋煮透，炒乾，婦女崩漏，久不愈，亦會迭效。</p>
<p>龜腹版一兩，先煎　兔絲子四錢　大生地五錢　鹿角霜三錢，先煎　白當歸一錢半　建蓮米五錢，連心用，打破煎
加烏梅炭二個（米醋泡洗）為引。</p>
<p>如陰虛火炎加知母、黃柏各一二錢（此配入大補陰丸法）。用豬腰子湯、京柿黑豆湯、旱蓮草湯（方書有獨重用旱蓮治此症者），代水煎藥俱佳。此等間藥少用則無功，多用則礙方藥煎，故酌用煎湯代水一法（前蘆根通草湯即此意）。</p>
<p>王肯堂《醫鏡》主心經受熱，遺熱小腸，用五淋湯加石蓮、麥冬，而君以黃連治之。余思此方可治血淋，似難治尿血，姑錄以，俟考。因《直指》云小腸有氣則小便脹，小腸有血則小便澀，小腸有熱則小便痛，可知無痛則無熱。尿血無痛，故疑王論沈芊綠亦主腎虛，以太極丸主治。</p>
<h3>衄血</h3>
<p>肺火上蒸則血從鼻出，名曰鼻衄。大腸與胃熱上逼，則血從齒出，名曰齒衄。均宜清降方可統治。但齒衄血症最輕者，可服藥，可不服藥。</p>
<p>乾白茅根四錢，鮮者倍用　大生地三錢　元參三錢　正土桑白四錢，鮮者倍用　大麥冬三錢連心　牛膝一錢半
加鮮竹茹青遠茶各二錢，同煎　（方平淡宜多煎代茶）。</p>
<p>服二三劑。血不止加童便一小杯沖服，令引熱下行，必應熱盛釵斛、天冬、丹皮、黑梔、白茅花可任加。</p>
<p>倘鼻衄不甚者亦等齒衄，均無足慮。若其甚者，與吐血無異，蓋漏血過多而不止，則非關血熱，實由氣虛不能統攝，急當補氣以攝血，補氣以生血。宜用當歸補血湯法，黃耆一兩，當歸三錢，加薑棗煎（不涉醫者逐杯試之）。此法雖氣息奄奄，亦可回生。至於傷寒鼻衄，名曰紅汗。瘟疫鼻衄，名曰外潰，皆喜其得衄而自解，不必再商治（凡一切血症突來太多者，必須於補氣法治之）。</p>
<h3>吐血</h3>
<p>有內因外因，究竟因於內而七情饑飽勞力所傷者尤多，攻補溫寒，須憑脈證，茲先就陰弱陽亢者，擬一方，後參末議。</p>
<p>大生地八錢　乾茅根四錢　舊黑梔一錢　大天冬三錢　茜草根一錢　細甘草五錢
加生柏葉二三錢、鮮藕節三個同煎。</p>
<p>服一二劑，倘仍頻吐不止，再加生蓮葉三四錢，生艾葉二三錢，炮薑五六分，童便一二杯，沖服。或用田三七末。六七分，調入。如脈數熱甚，加犀角、黃柏、丹皮。倘症輕者，旱蓮、女貞、黑豆皮、浮小麥、麥仁、麥冬、桑寄、知母，可任加。如無外感，鱉甲、龜版、元參、牛膝、秋石皆可酌用。若咳胸脅引痛者，加冬瓜仁、生薏米、蘇子、降香以降絡，桃仁、紅花、以活絡。吐血先見胸痛，血黑成塊者，此為瘀血，加桃仁、丹皮、香附醋炒，大黃治之（皆去甘草）。然此特初患治法，高鼓峰云：血症久，古人多以胃藥收功。如烏藥、沉香、炮薑、大棗，此虛家神劑也。倪漱山亦云：七情內傷，脾胃先病（故多見噁心），固元湯、歸脾湯、補中益氣湯等法必不可少。而吾見患此症者，醫不輕用，補病家尤畏。夫補以至愈後，或數月而復發，或一年而復發，卒至纏綿而莫救者，多矣。亦由其元氣已虧，營血未能安常，而循行經絡也。余於見信者，雖屬熱症，以清涼奏功，繼主育陰和陽，亦必佐以固本培元之法，如生脈六味、生脈四君與左歸飲加參歸等，更用歸脾丸原方，或遵鼓峰法加減蜜小丸常服。守此法調養，以至於康健勝常，血水不發者，指不勝屈。肯堂於火症血稍止即用龜版、首烏、地榆加入四物湯治之，鼓峰用六君加當歸治之，或加黃耆，謂參耆以回其氣，氣回血自循行經絡，或用重料六味左歸等飲於水中養木，亦必加人參，謂使氣自陰生也。又芊綠引《仁齋直指》云：凡氣虛挾寒，陰陽不能相守，血亦妄行，宜理中湯加木香、當歸（薑炮黑），血得暖自循行經絡。沈修園亦謂，凡吐血服寒涼及滋潤藥益甚，而望其形色有寒冷象者，是陽虛陰走，亦主理中湯加木香、烏藥，或木香、當歸。要之，所因不一，亦難盡述，欲通變達權，溫清各當，當於本門所載博覽之。</p>
<h4>附案（肝病誤治胃）</h4>
<p>鳳浦馮君，薏庭人，瘦而長咳嗽，繼以吐血，醫與溫胃痰藥，血益甚。延予治，脈得左堅右弱。予曰：貴恙乃肝腎陰虛而生，內熱薰蒸脈絡，致血不得寧靜。前賢謂瘦人之病慮虛其陰，今服燥藥，即犯虛虛之戒，陰愈虧，陽愈熾矣，故血益甚。愚見主先治肝方，用復脈湯去桂、薑（參用麗參）加白芍二錢，生牡蠣塊五錢；次日診，仍用前方加田三七末四分，沖服，另用淡萊黑豆、冬蟲草煎豬精肉湯作飯菜；再診，脈緩血止，惟咳痰難出，轉用醒胃汁以滌痰飲一法，麥門冬湯加釵斛二錢（與麗參同先煎），五六貼，諸恙俱安；繼用歸脾去木香加陳皮、白芍、五味、麥冬、杞子為小丸，常服。痰咳漸除，身體日健。</p>
<h4>又案（胃病誤治肝）</h4>
<p>鳳浦胡君易堂，夏患痰咳失血，醫用膠地等作肝腎陰虛生內熱治，不效，且痰增胃減。延余診，脈得右堅左弱。余曰：前人主左堅填肝腎，右堅理肺胃，今右堅治胃為要，炎夏陽氣方升泄，胃陰虛而無鎮壓之權勢，必震動胃絡，絡傷則絡中之血因隨陽氣上升，倘云三陰熱蒸，脈必徵於左部，據理論治藥宜選淡薄味，以調養胃陰，曾服膩藥太多，須佐以宣暢脘氣方可消痰安穀，生扁豆（用粒不打）五錢，麗參一錢，麥冬、茯神各三錢，石斛、穀芽各二錢，陳皮、甘草各四分，服三貼，再診，血止脈緩，惟時或心悸，或汗微泄，主兼理心營肺衛，黃耆、沙參各三錢，麗參、麥冬各二錢，五味、炙草各三分，麥仁、棗肉各四錢，多服調養。仍用歸脾丸加杞子、五味，蜜小丸，常服。精神自此日旺，體健勝於平時。吾因思胡馮二君皆先服清而後受補，故血不復發，實賴參耆以回其氣，氣回血得守其常度而循行經絡也。夫患血而畏補者，多是以終難了局，因存此二案醒之。</p>
<h4>又案（苦寒過服元氣受傷）</h4>
<p>羊城宋君勉之知醫，素喜清涼，涉稍溫補不敢服。久患咳血，所服藥餌，無非清降，以致年餘反覆不已。近服犀角地黃湯，納穀漸減，因邀余相參。診右脈空大無神。余曰；《金匱》云：男子脈大為勞，謂陽氣虛未能收斂也。即據君述症咳頻則汗泄，顯是氣失統攝，絡血上泛之徵，倘依然見血投涼，見嗽治肺，胃口從茲敗壞矣。愚見主急固臟真，正合仲景師元氣傷當進甘藥例。能守此法，胃土自安，肺金自寧，吐血痰咳亦自止。方擬黃耆四錢，人參、麥冬、白芍各一錢，五味、炙草各七分、杞子、南棗肉各二錢，勉之。見信，連服四貼，血止胃漸進，此後從余言，自用歸脾湯加減調養而獲愈。</p>
<h4>續附丁卯新案</h4>
<p>（虛陽升泄逼血妄行）</p>
<p>同裏黃和叔君好學士也。夏五暑熱炎蒸，正天地大氣泄越，時（天地氣機泄越人身氣機亦應之）月之廿四，綺窗挑燈勤誦（勞傷心陽亦暗吸腎陰）初交亥，忽吐血碗許。群季皆通醫理，廿五早，自訂四生丸服，交亥見血如前，且增惡寒。廿六自轉用甘草乾薑湯加味，進炙草、炮薑、五味各錢半，白朮、防風各三錢（方佳但欠鎮攝），交亥仍見血如初，惟惡寒略減。廿七延醫某治，某稱轉方佳，獨嫌五味收斂（怪論，真氣泄越，理合收攝）原方減此加當歸更妥，是晚亥血來滋甚（歸，辛動上升，無五味以斂之，地以滋之，龜附以鎮導之，故滋甚）。廿八邀予，診六脈弱尺為甚，詢足冷否曰：將交亥足漸冷，冷氣上少腹（肝位，肝藏血），則氣喘（氣呼出心肺，吸入腎肝，肝腎陽升吸氣艱於入故喘）而血溢。予曰：據脈與述症且血，必見於戌亥，實肝腎病多（戌亥為至陰時，肝腎為至陰臟，故日則無恙而交亥則病作），原真陰有虧，孤陽無偶，失守上走，血亦隨之。夫陰陽互為其根，無陽則陰無以生，無陰亦陽無所附，法當引導其陽，兼鎮育其陰，則孤陽有歸，而血自安。其位方用熟地、龜版各五錢，土木參、當歸、附子、炮薑各一錢五分，五味子、炙甘草各一錢，中有疑暑月吐血而用參附，且會服歸而益甚者。余曰：尺弱足冷，顯是腎虛陽不潛藏，徒滋填其陰而不固守其陽，必難奏效。古人原有補氣以攝血法，人參、附子，參附湯也，能固守腎氣；當歸、附子，歸附湯也，能固守營氣，血去已多安，得不佐溫補以固守臟真群季曰：善。遂服之。廿九診，據述昨夜戌亥血雖不來，而足冷氣促仍未盡除。余仍用廿八方去炮薑，倍用附子，加胡桃肉四錢，覆盆子二錢，以攝助納。服三貼，復邀診，已諸恙俱安，但夜難熟睡，擬兼理心營，廿九方去龜版、附子、胡桃、覆盆加杞子三錢，茯神、棗仁各二錢，麥冬一錢，炙草、五味改用四分，連服數貼，後參入杜仲、黃耆、防党、白朮、鹿茸，因脈症加減，而調養復元。</p>
<h4>選錄王肯堂先生論痰中見血一症</h4>
<p>肯堂云：其血或一點之小，或一絲之細，語其勢，若無可畏，而病根反深。此血非由胃出，乃肺臟中來，肺本多氣而少血，是以出者亦少。今因火逼而隨痰以出，則肺慮其枯，而無以主一身氣化矣，其害不滋大乎治法於除痰中加入止血藥，如貝母、瓜蔞仁、茯苓、麥冬、元參、竹茹、蘇子、薏米之類以治痰，犀角、阿膠、柏葉、黑梔之類以止血，黃芩、黃連、之類以降火，調花芷石末四五分，徐徐服之。又法用竹瀝一碗，入阿膠二兩，溶開，將石膏煆過一兩，蛤粉一兩，青黛半兩，好墨一兩，共為塵末，調和丸，如黍米大，每服一錢，香茶送下，其效甚速。</p>
<h3>咳嗽</h3>
<p>咳為氣，逆嗽，因有痰，內傷外感，所因不同，五臟六腑，受病各異，茲先就尋常患咳嗽者，訂一降氣除痰劑，以便因各見症加減。</p>
<p>茯苓三錢，鈒塊　薏米四錢，生用　陳皮五分北杏一錢　半夏一錢半，制　蘇子一錢半　甘草五分</p>
<p>渴加麥冬、瓜蔞（皮仁任用，半夏易川貝，陳皮易橙皮。橙皮甘苦多於辛，異橘柑皮之辛燥）。痰多不渴倍半夏、陳皮，加生薑，或瓜蔞、薤白。咳胸脅痛加芥子，少佐薑汁，炒黃連，或醋炒川楝子。熱加石膏、知母，或黃連、黃芩。寒加益智、生薑，或乾薑、五味、細辛（去杏蘇子）。風加防風（蘇子改用蘇梗）。濕加防風、蒼朮。脾虛加入參、白朮、當歸（去蘇杏薏）。肝腎虛吸氣短（氣吸入腎肝）加熟地、當歸、五味，或杞子、胡桃、牛膝（去蘇子、北杏、薏米或再去甘草）。</p>
<p>又因咳而後有痰、宜順氣，治在肺。肺主氣，肺惡溫燥，麥冬、橘紅（橙皮更佳）川貝、知母、桑白、紫苑為要藥。</p>
<p>因痰而後致咳，宜消痰，治在脾。脾藏痰，脾惡寒潤，白朮、蒼朮、制南星、製半夏為要，藥清火兼之（宜薑汁炒黃連）。</p>
<p>久嗽不愈，用麥冬為君，川貝、知母、茯苓、竹茹、黃芩、蘇子之類為佐，少加五味、甘草、燈心服之（因風寒虛而咳忌服）。</p>
<p>凡咳嗽發熱不休者，不治咳而汗泄者，不治（此臟真不藏氣泄而為熱為汗，治當固攝臟真，如人參固本丸、復脈湯去薑桂加生龍骨、生牡蠣、磁石等治之。亦幸有獲愈者）。左不得眠為肝脹，右不得眠為肺脹，俱屬難治。閱葉氏《臨症指南》又非僅主肝脹肺脹一說，症有疑似，病有實虛，論治者其慎之（葉氏治右不得眠用麥門冬湯，謂胃津虛無以養肺，肺病降已不及而復右眠遏之，故咳更甚。左不得眠用復脈湯去薑桂加生牡蠣麥仁治之，謂肝陽升逆太過，安能左眠以遏其升逆之威，故咳更甚，治咳血症多用此法）。若果肝脹，肺脹宜疏宜清宜斂，自有各家，本門可考，不復贅（即沈芊綠《尊生》著述證治頗詳可參）。</p>
<h4>附案（咳嗽而喑）</h4>
<p>凡治病問其見症如何，問其致病之因如何，似較望聞切為倍要。余嘗醫郭廉訪夫人，年約三十，外廉訪久以計偕宿京，得第補外，因接眷赴任，夫人得喜信後，忽患喑症，咳多痰少，夜裏每覺火升，喉舌微痛，而日間飲食無礙，遍訪名醫，迭冶罔效。延余診，余曰：貴恙咳先乎抑喑先乎家人曰：喑先，余恙後漸起者。余復問曰：起此恙日會多飲醇酒乎曰：無。偶因夜坐看木魚書勞神，明早即覺音破耳。余診其脈，兩尺動數有力，閱舊服方雖多，亦不外清肺疏肺止咳除痰，中上兩焦藥，余轉用上病治下一法，龜版八錢，大生地、黃柏各四錢、知母、茯苓各二錢，羚羊、丹皮、澤瀉各一錢。余曰：據述病因與脈相對，沉屙似易起者，藥不十貼，當見效。家人速於赴任，聞余言，喜甚。時吾友謝司馬茹坪偕余往郭其戚也，獨訝余言曰：痰咳而用龜地，諒難見效。且重用黃柏，更屬不通。余笑曰：子姑驗之。次日初七復到，診是夜已不覺火升咳嗆舌痛矣。仍用前方，黃柏減一錢，再服。初八診兩尺漸緩，聲音漸起，仍用前方去丹澤，方中改用龜版四錢，羚羊、黃柏各八分，加鮮菖蒲五分煎調，入真珠末七分，服連服三貼。十一日復到診音出已亮，但欠清耳。又轉用清肅上焦氣分，方法沙參八錢，麗參、黃耆、天冬、麥冬（連心）各一錢，白菊、杭菊各四分，加南棗四枚，雞子白一枚，同煎（雞子先蒸熟去殼去黃取白煎），僅服四貼，聲音漸清而愈。茹坪曰：藥已效矣。吾究未得其解也。余曰：此忖情度理耳。夫妻契闊數年，一旦相聚有期，誰復無情況夜靜獨坐，倍易觸撥情思，且我粵之木魚書多豔為男女之私，以過去之情，感未來之情，相火尤易妄動，脈更得兩尺動數，症亦由迅速而起（五行中最迅速者莫若風火）、謂非龍相火而何龍火一動，勢必上升，上升必淩爍肺金，金空則鳴，金實則無聲矣。夫腎脈循喉繞舌，厥陽慣從子醜奔騰，此喉舌夜痛所由來也。余用地以滋之，龜以潛之，知柏丹澤苓羚以降之泄之，而復疏通之（羊角最靈，動能疏泄火邪之入絡者），斯龍雷潛伏而安其位，肺金清肅而守其常，其喑又安有不速愈者茹坪曰：善審問之，慎思之，明辨之，作醫之道亦當如是乎。</p>
<h4>選錄王肯堂辨十嗽與五臟咳以便參考</h4>
<p>火痰嗽者，咳必面赤，用力久而後出者是也，不宜用半夏、南星以其太燥也。惟以貝母、知母、瓜蔞仁、竹茹之類。以化痰，黃芩、黃連、山梔之類以降火、蘇子、橘紅、茯苓之類以順氣。</p>
<p>濕痰嗽者，喉中漉漉有聲，嗽而易出者是也不宜用元參、阿膠、知母以其滋潤也，惟以蒼朮、防風之類以燥濕，半夏、南星、薑汁、竹瀝之類以去痰，枳殼、橘紅之類以順氣，黃芩、山梔之類以降火。</p>
<p>鬱痰嗽者，胸臆脹滿，連嗽不出，喉中有喘聲，夜不得眠，上飽下饑者是也，不宜用五味麥冬以其補肺也，惟以枳殼、桔梗、便浸香附之類以開鬱，川貝、瓜蔞、半夏之類以治痰，蘇子、杏仁之類以定喘，茯苓、黃芩、山梔之類以降火。</p>
<p>頑痰嗽者，膠住咽喉，揮咯不能出，必努力大嗽而後出少許，如脂膏之狀者是也。不宜用煎劑，宜以散子消磨之，如青黛、蛤粉、浮海石、風化硝、瓜蔞仁、磺石、明礬之類為極細末，以竹瀝、薑汁調服。以其膠固不開，非輕劑所能愈也。清痰嗽者，必待嗽而後出其痰不稠黏者是也，宜用緩藥治之，如貝母、花粉、茯苓、黃芩、竹茹、橘紅、蘇子、竹黃之類。</p>
<p>風痰嗽者，肺氣壅盛，必頓嗽而後出其痰，浮而有沫，狀如津，唾而略稠者是也，宜用輕浮之劑以治之，如薄荷、柴蘇（梗葉）、桑白、防風、半夏、黃芩、枳殼之類，少加麻黃、甘草（用麻黃宜配北杏以降氣）。</p>
<p>寒痰嗽者，得於秋冬之交，或傷於入水宿露，或傷於冷雨冷風所致。其嗽必哮喘，或肩背覺寒，得熱湯飲之即緩者是也。宜用蘆吸散，如肉桂、雄黃、鵝管石、款冬花、甘草等分，為極細末，用蘆管挑藥，輕輕含之，吸入喉內，徐徐以清茶過口，或以此藥蜜丸，如雞豆大含化亦妙。若熱嗽，去肉桂，用井泉、石若用煎劑，宜半夏、南星、陳皮、茯苓、款冬、花生、薑甘、草之類。</p>
<p>酒痰嗽者，因醉後感冒風熱，腹中有酒積，飲濁酒即發者是也。宜用山梔、黃芩、黃連以治火，貝母、瓜蔞、半夏麯之類以治痰，蛤粉花粉、綠豆粉之類以消酒（枳棋子、干葛花更能解酒毒，亦不可少），紫蘇梗、蘇葉、陳皮之類以順氣。</p>
<p>食積痰嗽者，每食後即嗽，其痰稠黏覺有甜意，胸膈不寬者是也。宜以枳實、萊菔子、神麯、麥芽、山查之類以消食。陳皮、木香、砂仁之類以順氣，半夏、南星之類以消痰。石膏、黃連之類以降火。加生薑、竹茹為引。</p>
<p>乾咳嗽者，平素陰血不足，虛火有餘，喉中常癢，癢即頻嗽，有聲無痰者是也，宜以麥冬、知母、川貝、母元參、阿膠之類為主，治以黃柏、茯苓、花粉、山梔、甘草之類，加燈心、竹茹服之甚效。</p>
<p>又有嗽而兩脅痛者，名曰肝咳。有嗽而腰輕痛者，名曰腎咳。有嗽而中脘作疼者，名曰脾咳。有嗽而鼻流清涕者，名曰肺咳，有嗽而口苦舌乾者，名曰心咳。又有嗽而遺溺者，氣虛也。嗽而五心煩熱者血虛也（果一一細審而後發藥施治，諒無不效矣）</p>
<p>又肯堂云：諸嗽皆宜桔梗，乃肺經本藥，不可不用，亦不可多用，以其為舟楫之劑上而不下，不用不-能引諸藥至肺部，多用則又承載諸藥而不能行，更能作飽，故不宜多用。若治喉痛與元參、甘草同用。若開鬱，與香附、枳殼、川芎、蒼朮、川貝母同用。若作吐藥只與甘草等分，為一大劑服之，自卷痰而出矣。汪藥洲先生云：王氏謂諸嗽皆宜桔梗，此語不能無弊，驟咳者用之或宜，若久咳者肺氣無有不虛，方將斂之補之不暇尚，可用桔梗升提辛散，而犯虛虛之戒乎1吾見久咳者服之而金破者有矣，咳血者服之而血益甚者有矣，虛喘者服之而氣暴脫者有矣。何也凡上逆者，法宜降之也，即喉痛亦須降痰降火，仲景師雖主以甘桔湯，今法之只可作佐使，必君以芩連類之苦降，元參風化硝類之鹹降，然後升提之品無疑礙也先生。此論自注於王氏《醫鏡》中者，因錄存之，以俟同人參考。</p>
<p>藥洲先生品高雅，文章醫學並見重於同道，好勉人為善，著有武帝覺世，真經詩行世字鳴岐，又號風山，吾邑汪齋劑太史（鳴謙）之四弟也，世居羊城。</p>
<h4>附寄馮蕙庭君調養脾胃論</h4>
<p>余脾胃素弱，語云無脾胃弱老翁余竊慮焉，因常留意調養，迄今年及六旬，飲食雖不加，而精神無或減，且微恙亦少見者，知未始非調養力也。凡人欲調養脾胃，必先察夫脾胃性情，明夫脾胃體用，而後調養有方。書云：胃陽弱而百病生，脾陰足而萬邪熄，似治胃專究夫陽，理脾專究夫陰，不知脾體陰而用陽，胃體陽而用陰，此太陰濕土得陽則運，陽明陽土得陰自安，前賢所為，特申明其用也，夫脾能升而後能運，陽氣餒則無以升，胃能降而後能和，陰液虧則無以降，達其性情，明其體用，於以知納食主乎胃，時知饑，而少納（脾陽不傷故知饑胃陰有傷故少納），宜調養胃陰當用麥冬、天冬、沙參、玉竹、山藥、扁豆、糯米、南棗、釵斛、甘草等以養之。知運化主乎脾，時能食而少運（胃陰不病故能食，脾陽有病故少運）宜溫通脾陽當用人參、白朮、茯苓、陳皮、益智、仁炒、粳米、炒蓮葉等以醒之，虛且寒再加乾薑、附子、肉桂以溫之，此固無病培養善法，亦病後調治善法也。脾胃為後天養生者宜愛惜，更常戒生冷物難化物以保護之，延年之方，莫善於此矣。慎之，勉之。</p>
<p>《評琴書屋醫略》終</p>
