<header><h1>余無言醫案</h1></header>
<div class="元資料" data-type="book" hidden></div>
<h2>醫家小傳</h2>
<p>余無言（1900～1963年），原名余愚，字擇明（一作「則民」），別署不平。漢族，江蘇省阜寧縣人，出生於該縣益林鎮。祖諱子散，精於醫麗通儒。咸豐、同治年間，蘇北多次疫病流行，經子艦公施治獲痊者甚多。父奉仙公，醫術受教於子硯公，在益林鎮懸壺十餘年。壯年從戎，游幕大江南北，曾掌湘軍董軍門寶泉幕府者有年，佐治戎機，頗有聲譽。四十歲後，復歸鄉里業醫，求治者眾，在周圍地區有很高的名望。其遺著《醫方經驗彙編》，以內科醫案為主，其中論治之疫病尤多，包括瘟疫、疫瘧、疫疹、寒疫渺霍、疫疹、疫斑、疫黃、疫痢、蝦摸疫、鵬鵝疫、羊毛疫、蟄刺瘟、葡萄疫、瓜瓤疫、天泡疫、疙瘩瘟、鼠疫、燥疫等。每病均有精要之闡論，並附醫案，堪稱是近代的「治疫大家」。由於奉仙公學驗俱富，鄰縣及外省求治者亦眾。19世紀末，奉仙公與興化趙海仙、淮安張子平，並稱為「晚清蘇北三大名醫」。</p>
<p>無言先生幼年以儒學、理學、史學諸典籍奠基（曾於1909～1911年在淮安高等小學插班畢業），少年時隨其父奉仙公習醫，悟性高而精勤不倦。他以醫學經典名著《內經》、《難經》、《神農本草經》、《傷寒論》、《金匱要略》奠定學術基礎，並系統學習內、外、婦、兒各科名著，朮業大進。18周歲即應診於鄉里。鑒於當時歐西醫學東漸，在沿海城市已逐步形成主流，先生又受當時」醫學衷中參西」的影響，於1920年即南下上海學習西醫。內科從師於俞鳳賓博士，外科受教於德籍名醫維都富爾。在此期間，開始對中西醫的融會貫通深感興趣。1923年返回故里繼續業醫，並在益林鎮主辦益林小學，自任校長。1927年至1929年冬，曾應聘擔任舊國民政府顧祝同軍部第二師任軍醫官，轉戰皖、豫、鄂、贛諸省，主治以外傷科病證居多。1929年冬，先生辭去軍職，去上海業醫定居。</p>
<p>1930年，應上海中國醫學院院長包識生先生之請，擔任該院外科學教授;嗣後，與張贊臣先生合辦《世界醫報》。1931年，先生又與張贊臣先生共組聯合診所。1932年，由舊中央國醫館焦易堂館長聘請先生擔任該館名譽理事。1934年，中央國醫館復增聘先生為該館編審委員會委員，負責起草「外科病名表式」以頒佈全國中醫界採用，獲得好評。是年，還編寫、出版了他所撰著的《實用混合外科學總論》和《實用混合外科學各論》。又以改進中醫為素志，發表多篇學術論文，在當時有較為廣泛的影響。先生還針對舊國民政府和余云岫等「廢止中醫藥」的舉措和主張予以撰文批駁，進行了針鋒相對的鬥爭。1936年，應章太炎先生之請，擔任蘇州國醫學校外科主任。並應聘為上海中國醫學院、新中國醫學院教授，主講《傷寒論》、《金匱要略》、《中醫外科學》等課程。</p>
<p>1937年，與張贊臣先生共同主辦「上海中醫專科學校」，聘請謝觀先生擔任名譽校長，陳無咎先生任校長，丁福保、張伯熙先生先後任副校長，先生自任教務主任，張贊臣先生任總務主任。學制為三年制，共舉辦三屆。先生除主管校務外，主講《傷寒論》、《金匱要略》等課程。在五年辦校過程中，從未缺課，雖大雨滂沱，身衣淋濕，亦闊步上臺講課，受到同學們的愛戴和尊崇。1938年，曾受聘於中華職業學校之中國醫學專修館擔任講席。1939年，先生所撰著的《傷寒論新義》在中華書局出版。1942年，因不屈於日偽政府的登記、造冊，停辦了學校。1943～1946年，先後編寫、出版了《濕溫傷寒病篇》和《斑疹傷寒病篇》。「濕溫傷寒」指西醫所說的腸傷寒，」斑疹傷寒」為西醫病名，這兩部著作可謂是溫病學早期中西醫學術匯通性的編著」1947年，創辦上海大同療養院，自任院長，請丁福保先生擔任名譽院長，開辦不足二年，因經費不足而停辦。先生長期在上海業醫，經治疑難重病和傷寒、溫病殊多。由於崇尚經方，傷寒、溫病用石膏、大黃者亦多不勝數。在辨證精審的基礎上，用量大而效驗卓著，不少市民或稱之為「石膏、大黃先生」（經治病例請參看余氏醫案）。故在民國時期，他是國內著名的「經方派」醫家，學術經驗俱富。</p>
<p>先生在上海業醫，曾深受謝觀、陳無咎、丁福保等前輩之教益，而在學術臨床方面，又十分推崇「南北二張」，「南張」指嘉定張山雷，「北張」係天津張錫純）。生平治醫主張「中醫科學化，西醫中國化」。對於中西醫學，力求貫通融會，故亦有將之列為「匯通派」醫家者。</p>
<p>建國後，先生擁護党和政府的中醫政策。1952年又編寫出版了《金匱要略語譯》，完成了他系統整理、研究仲景著作的夙願，並被認為是上海市研究仲景學說的「三大家」之一（另二家是曹穎甫和陸淵雷）。1954年，先生應邀出席華東及上海市中醫代表會議，他在會上即席發言，並向大會秘書處另寫有關開展中醫工作的四項提案。1956年春，應衛生部中醫研究院之請，由滬來京主持中醫研究院編審室（其後數年改為文獻研究室）工作，又為衛生部主辦之全國第一屆西醫學習中醫研究班講授部分課程（《金匱要略》等），還參與審訂中醫九種教材。1957年，無言先生將其父奉仙公遺著《醫方經驗彙編》（解放前由中華書局出版）與其個人醫案著作《翼經經驗錄》刊印合訂本（未公開發行），分增有關人員。1958年，奉調至北京中醫學院任教，並參加北京中醫學院「十大經典醫著」的編纂設計。此外，還承擔一些中央首長的醫療保健和會診工作。</p>
<p>1963年9月7日，因高血壓、腦溢血在京逝世。</p>
<p>附余氏小傳說明:早在1942年，上海名醫薑春華先生曾為先父無言公寫有一小傳，對先父中年以前的經歷及學術臨床特色多有精要、中肯的表述。現針對先父畢生情況，由本人予以增補、定稿。</p>
<p>（薑春華先生1942年所寫《余無言先生傳》影本1頁，見文前）</p>
<h2>傷風</h2>
<h3>傷風轉少陽證</h3>
<p>初秋感冒風邪，惡寒發熱，頭痛肢酸。繼轉寒熱往來，兩脅滿痛，時時作嘔，口苦咽乾，意亂心煩，坐臥不安，口乾欲飲，飲則嘔更加甚。醫以荊芥、防風、豆豉、豆卷治之，症愈加劇。詢其大便，前昨均解。急投小柴胡湯，一劑而痊。</p>
<p>患者張石舟，住西藏南路崇善裏口。以人力車工會事忙，晝則奔走於烈日之下，夜則納涼於露臺之上。因之惡寒發熱，頭痛肢酸。自以生薑赤糖湯飲之，次日頭痛肢酸己愈。而兩脅轉痛，往來寒熱。寒則被覆而仍戰慄，熱則赤膊而猶如焚。心煩作嘔，口苦異常，渴欲得飲，飲則嘔吐加甚。因之坐臥難安，片刻不寧。延醫治之，甲醫投以荊芥、防風之屬，乙醫投以豆鼓、豆卷之類，丙醫投以藿香正氣之方。病更加劇，心煩欲死。</p>
<p>其堂弟世英，與余為友。見狀大驚，急來延余。余午餐小飲，尚未釋杯，即攜余手強之而去。相去不遠，始聽世英之述症。先後登樓，繼察石舟之現狀。余即笑而慰之曰：「此柴胡湯證也。乃病在少陽，解之易耳，其毋驚俱。」病者曰：「能不死乎。」余笑曰：「此證而死，則病而死者多矣。乃時醫者流，不肯讀《傷寒論》一書耳。」</p>
<p>因書小柴胡湯一方，並無加減。令其服藥時，先以生薑一二片，置口中嚼之使爛，庶薑汁遍及齒舌，使生辣麻之感。然後高舉兩手，後坐一人以扶持之，端坐而挺直。另請一人操匙以飲之，則可以不嘔。定心靜氣約一刻鐘，再緩臥於沙發上，勿令睡平。至半小時後，再睡平，任其安平睡去也。病家如余言，照法服之，果然一劑而痊。</p>
<p><b>小柴胡湯方</b></p>
<p>春柴胡二錢五分　生黃芩三錢　西黨參三錢　薑製半夏三錢　炙甘草二錢　生薑三片　大棗十枚</p>
<p>*余氏卒於1963年，其時處方尚用舊制。可以一錢約等於3克換算。全書同。</p>
<h3>傷風轉結胸證</h3>
<p>婦人年近六旬，體質素豐，重感風邪。寒熱甫退，即又傷飲食。因之胸院及腹，均形脹滿，兩脅亦膨，按之硬而作痛，漸至不能平臥，挺胸伸頸，張口呼吸，此結胸實證也。與以大陷胸湯加枳實方，大挫其勢，再以瓜萎葶藶湯，肅清余孽。</p>
<p>有勞工韓小順者，其姨母許氏，年近六旬，住於克王渡路康定路口之某裏。初為重感風邪，經醫治後，寒熱已退，而裏邪尚未清肅，即急於飲食，且過常量。因之胸烷結痛，連及腹部，上則氣逆滿悶，下則大便不通，小便亦少。復延附近之醫生，治之無效，韓乃延余往診。余既入病者之室，見其倚臥於床欄上，背後墊以卷好之棉被，被上加以重疊之棉枕。病者挺其胸腹，倚於其上，心已知其不能平臥也。</p>
<p>詢其過去之病情，知為病中多食所致。按其胸腹，則處處作硬而痛，兩脅亦然，膈間尤甚。舌苔則濕膩帶黃。更覺心煩不安。診其兩脈，則沉而且緊。周身並無熱候，手足反覺微涼。詢其大便，已數日不解。乃斷為結胸重證。但年事已高，不無顧慮，復思脈證均實，不得有所顧慮。即為之處方，以大陷胸湯加積實主之，囑其如法煎服。</p>
<p>迫服藥之後，果得大瀉數次。每瀉一次，則胸脅脘腹之滿痛，即輕減一次。至第三次瀉下之後，病者已漸能平臥，即自轉轉側，亦覺痛可自忍。及二煎服後，又續下兩次，似已病去七分矣。</p>
<p>次日複診。見其效如此之速，余固心喜，而病家亦言謝不置。診其脈沉亦起，不似以前之實而有力。察其舌苔，則舌尖已退，根上膩黃漸化，而中心亦宣而浮起。誠恐餘邪未盡，再有反復，又顧及高年之體質，陷胸方不容再劑。乃仿傅青主方，以瓜萎為主，合小陷胸湯及葶藶瀉肺法。繼服兩劑，而告痊癒。接服調理脾胃之劑，於是健康恢復矣。</p>
<p><b>大陷胸湯加積實方</b></p>
<p>錦紋大黃五錢（酒洗）　元明粉五錢（分沖）　制甘遂二錢五分（為末）　炒積實五錢</p>
<p>上四味，先煎大黃積實。湯成，納元明粉之半量，再溫烊化，納甘遂末半量。調勻服之。六小時後，服二煎，如前法.</p>
<p><b>瓜萎葶藶湯方</b></p>
<p>全瓜萎六錢　葶藶子三錢　製半夏四錢　炒積殼四錢　元明粉四錢（分沖）</p>
<p>上五味，先煎四味。湯成，納元明粉半量，再溫烊化。服二煎，如前法。</p>
<h3>傷風汗多陽虛證</h3>
<p>衛氣素虛，皮毛不固，動則自汗，忽感風邪，始則惡風惡寒，繼則寒熱並作，頭項強痛，接再酸楚，間以噁心，而自汗頗多。遲延兩日，漸至手足微撅，四肢亦微有拘急。技以桂枝加附子湯，一劑而痊。</p>
<p>患者顧芝軒，年42歲，為勞動人民，庸工於菜市路一小茶樓中。其人衛氣素虛，動則有汗。皮毛既不固，且與爐灶相親，熱湯相近，其平日自汗之情況，已可想而知。此種體質，即《傷寒論》所謂「病常自汗出者，此營氣和，衛不諧，衛氣不共營氣和諧」之體質。而其所任職業，亦足促使其自汗多也。於1950年3月間，以勞汗當風，忽患傷風之證。始則膏音惡寒，漸漸惡風，但寒不熱，約半日許，始漸蠢蠢發熱。此乃體質較弱，故發熱較遲，不似體質強壯者，其發熱與惡寒同時並見也。他如頭項強痛，腰特酸楚，間以噁心，而自汗淋漓，較平時為尤甚。</p>
<p>初病之時，以經濟關係，未延醫調治。至第三日，以病勢有增無減，且增四肢拘急，屈伸不和，手足發涼，十指尤冷，此時始就余診。入診室之時，余見其面帶垢晦，袖手縮足，人扶而進。坐定之時，又見頭面頸項均自汗頗多，領圍帶濕，氣息微喘。及診其脈，則覺手已微涼，手指尤甚。手如此，足亦可知。細詢其發病時日，知才三日耳。其表證指曆，必由自汗而來。其他症狀，已如前述。綜其全盤症狀，太陽表證及衛虛末厥，必須一鼓而克之，否則顧此失彼，難保元肢厥脈沉之危險也。乃處以桂枝加附子湯，俟汗止熱退後，再行調理。</p>
<p>諸生間曰：「此證面帶垢晦之色，頗似溫病，而今用桂枝，何也？」余曰：「仲景之書，以證候診斷為主。而治療之法，又以有某證用某藥，無某證減某藥。今惡寒與發熱均在，且與頭痛項強、腰臀酸楚並見。全為風邪表證，焉得不用桂枝。不似溫病之面垢，但發熱而不惡寒也，其認證在此。」</p>
<p>諸生又曰：「桂枝附子湯方，原為不應大汗，而大發其汗，遂至漏汗不止之證而用之。今病者三日未治，根本並未發汗，何亦用此，」余曰：「汝等讀書如此，難以與言醫矣。大發汗之漏，與此自汗之漏，其汗不止，有何異乎？發汗與自汗雖有異，而漏汗不止則同也。既漏汗不止矣，安得不急用附子耶。且已手足微厥，四肢微拘，附子之用，更不可緩矣。」</p>
<p>及至次日複診，果已一藥而痊。諸生更大喜而服。為處以調理之劑，令服兩帖，以扶正氣。</p>
<p><b>桂枝加附子湯方</b></p>
<p>川桂枝三錢　京芍藥四錢　炙甘草二錢五分　熟附片五錢　生薑一錢五分　大棗十枚</p>
<h2>傷寒</h2>
<h3>夏令傷寒證（一）</h3>
<p>時當夏令，婦人惡寒高熱。頭痛項強，體疼骨疼，周身無汗、脈浮而緊。微有噁心及氣急，此真六月傷寒也。詢其致病之源，係在電影場中，為冷氣所逼。以麻黃湯加葛根、霍香主之。</p>
<p>友人楊達奎君，其夫人秦碧筠，年41歲。於1942年6月下旬，忽患傷寒。余診之，症狀如上。心竊異之，因其非勞動階級，何由致此。既詢其致病之由。秦即詳告云：「滬上風行一時之觀世音影片，在滬光大戲院開映。聞其情節至佳，因於昨日晚場往觀。時天氣頗熱，乃著云紗短衣而往。入場則冷氣開放，涼爽如秋，意至適也。迨一小時後，身覺微涼，繼則較甚。但以情節苦楚，為之心酸墮淚，欲罷觀而不能也。直至終場以後，更覺寒矣。歸時路遠，又未步行，乘車而返。夜深途中人少，車快如飛，於是惡寒更甚矣。抵家即覆被而臥，始則惡寒不熱，至四小時後，則寒熱並作矣。再進則頭痛項強，身痛骨痛，周身無汗，而亢熱矣。若初微覺涼時，早出影場，必不至有此病也。</p>
<p>余既得其病情，且確為傷寒的證。不能因在夏令，而概不用麻黃也。昔賢謂有此證即用此藥，亦何懼哉。乃處以麻黃湯加葛根、藿香，令其照法煎服，不必顧慮。時其夫楊君已回原籍，無人掌握服藥事。其鄰人有稍知藥性者，謂」六月不可服麻黃，即便服之，亦只能三分之一，不可孟浪也，」秦從其商。服後微汗，但旋又復熱而無汗，次日再延余診。余頗訝之，再三質詢，乃以實告。余當謝以不敏，令其再延他醫。</p>
<p>他醫治之，仍然無效。至第三日，挽張士瀛復來延余，並為深致歉意。且云：「先做與楊君為好友，請勿計其妻不信任也。」余從之往。見其症狀雖末變。而較有煩躁意。因將原方去霍香，加生石膏五錢。秦服之，一劑而汗出、熱退、神安。後為之清理餘邪，微和其大便，即告痊可。</p>
<p>中秋將至，楊君由原籍回滬。備悉其事，特向余致謝意曰：「若不再服麻黃，輾轉更換多醫，設有不測，咎將誰歸耶？無怪先生之不肯複診也。」余笑頷之。</p>
<p><b>麻黃湯加葛根藿香方</b></p>
<p>生麻黃三錢　川桂枝三錢　杏仁四錢　炙甘草二錢　粉葛根四錢　廣藿香三錢（按第二方，去藿香，加生石膏五錢。）</p>
<h3>夏令傷寒證（二）</h3>
<p>夏令酷熱，晚間當門而臥，迎風納涼。午夜夢酣，漸轉涼爽。至二時左右，覺寒而醒，人室就睡。俄而寒熱大作，頭痛骨疼，壯熱無汗。漸至煩躁不安，目赤口乾，氣急而喘。此夏令急性傷寒也，大青龍湯主之。</p>
<p>友人鄧漢城之侄，名一東，身體素壯，不易患病，於七月間忽病傷寒。時天氣白晝頗熱，至半夜後則轉清涼。一東於晚間十時後，當門而臥，赤膊赤脛，只著一短褲，涼風拂拂，一夢如登仙矣。迨至二時左右，迎門風勢更大，涼氣逼人，身發寒戰而醒。立即閉戶入房，裹毯而臥，猶覺寒戰不已。再加厚被，並飲開水一杯，約一小時，寒戰始止。孰知再後不半小時頃，而體溫上升，愈升愈高。頭痛體痛，周身無汗，捫之炙手。時漸天明，遂延醫療治。</p>
<p>時醫以荊芥、薄荷、豆豉、藿香等治之，絲毫無效。延至下午三時，漢城延余往診，途中即告余以得病之由。既至入室，見其時寒時熱，熱多寒少，周身無汗，心煩不安，手足躁擾，氣急微喘？自訴頭痛如刀劈，百節如被校。再測其體溫，已至41℃。脈亦洪大而浮緊。其病之重，可想而知矣。</p>
<p>立為書大青龍湯一方。主藥生麻黃用四錢，川桂枝用四錢，生石膏用四兩，他藥准此比例。不用大棗，而易以鮮竹葉五錢。囑配方回家自煎，並告以煎法。先煎石膏，次下諸藥。煎成濾去湯上浮沫，滿碗服之。必得大汗一身，乃可速愈也。</p>
<p>余乃辭去。不意方箋送至藥店，店員不敢配方，驚訝之極曰：「此方劑量之大，從未見聞。現雖暑熱炎天，石膏竟用至四兩，已屬駭人。而麻黃、桂枝，均用至四錢。當此時令，而服此方，豈不火上加油耶。此位大醫師，必是昨晚醉酒，至今日尚未醒者也。」以方箋授來人，揮之使去。漢城得知，復親來余所，問分量有無錯誤，並告知藥店人員之言。余曰：「絲毫無誤，此時醫所不敢用，故彼未之見耳。」乃於方箋眉上寫明：「此方由本醫師完全負責，與藥店無涉。」並加蓋一章，以昭責任。使人再去配方，店員只得照配，並謂來人云：「但願第二方明日再來。」盡半譏半懼之辭也。</p>
<p>藥既配回煎服，無何，煩躁更甚，一家惶恐，強自鎮靜。不半小時，而汗漸出，愈出愈暢。內衣盡濕，浸及被裏亦濕。大汗約半小時，漸漸汗少。計汗出汗止，為一小時又四十分。而高熱一退，諸病爽然若失矣。</p>
<p>次日一東親自乘車，來就余診。告我服藥後之情形，余心大快。又為處一清理餘邪之方，兼通大便，使之照服一劑，毋須三診也。一東即乘車至藥店，告店員曰：「我即昨日服四兩石膏、四錢麻黃之人也。」於是相與驚訝，均大贊服。</p>
<p>然吾猶有言者。依余經驗，麻黃湯證多，小青龍湯證次之，而大青龍湯證則較少。蓋正傷寒之發於冬令，而化為大青龍湯證者頗少。問或有之，亦須至五六日不解，天寒忽然轉溫，化煩躁乃速，否則不易見。今一東化煩躁如此之速．蓋是時令炎熱之故。昔人謂，有是證即用是藥，豈可不三致意哉。</p>
<p><b>大青龍湯方</b></p>
<p>生麻黃四錢　川桂枝四錢　生石膏四兩　杏仁泥四錢　炙甘草三錢　生薑三錢　鮮竹葉五錢　（原方有大棗，去之，易以竹葉。）</p>
<h3>冬令傷寒證</h3>
<p>冬令傷寒，發熱無汗。重衾疊被，仍覺惡寒。頭痛肢疼，背腰尤甚。以麻黃湯加羌、芷與服，再劑不效。詢知煎法不善，幾誤病機，仍以原方如法與之，一劑而汗出即解。</p>
<p>友人鄧漢城君，住北京西路宏文書店之樓上。於1940年冬月中旬，重感寒邪。初時惡寒發熱即重，當延附近之中醫，治之無效，改延余診。余察其惡寒高熱，雖重衾疊被，而猶嗇嗇不已。頭痛項強，腰脊酸痛，四肢骨節亦然。捫之則皮膚乾熱無汗，切之則脈浮而緊。此冬月之正傷寒也，當處以麻黃湯加味方。所以內加羌、芷二味者，以其體肥多濕也。意其必可以一汗而解。</p>
<p>詎一劑不效，次日複診，再荊亦不效。余覺藥頗對證，然何以不效，世果有剪草席而冒為麻黃者乎？因令轉延他醫。鄧因喉間微有疼痛，改延喉科朱子云診之，服藥依然無效。</p>
<p>翌日午後，請楊星候君，復延余診。察其病狀如前，惡寒等表證仍在。因細詢前日兩次煎藥之情況。詎其夫人龔志芳女士。囁嚼欲言而又止。余告以但說無妨，可設法補救也。</p>
<p>龔因詳告余曰：「第一日之方，係未遵先生之囑，由藥店代客煎藥者，覺其藥淡而不濃。次日因兩孩吵鬧，病人怕煩，我攜孩外出，令娘姨朱媽煎藥。不料朱媽又去洗衣，將藥湯燒乾，再急加水重煎。而又加得太多，故頭煎服下一碗，還余下半碗之多。後再加入二煎服之，始終無汗，故不敢令漢城知。」今始密告我也。余聞之大笑，知其煎服未能如法之由。乃令速配原方，由余指導煎藥。</p>
<p>先將藥置罐中，水泡半小時後（仍須多泡些時，因余不能久留也），即將爐火改小，慢火煎熬，漸至煎沸。約又二十分鐘，藥湯已濃。其色深黃而帶棕色，余曰可矣。乃離火置地上，約兩分鐘，瀝清乘熱與服。余即辭去。</p>
<p>服藥不半小時，果周身覺熱，而汗漸外出，終之淋漓不已。又半小時後，汗雖漸少，而約持續二小時之久，其汗乃止。一身寒熱盡退。六小時後，再服二煎。又得微汗片時，病即霍然。後又服調理之劑兩帖，恢復健康矣。</p>
<p><b>麻黃湯加羌活白芷方</b></p>
<p>生麻黃三錢　川桂枝三錢　杏仁泥四錢　炙甘草二錢　川羌活二錢五分　香白芷三錢　生薑三片</p>
<h3>冬令傷寒液少證</h3>
<p>病者胃素不健，體質不強，表裏津液不足，非盛夏則皮膚無汗，至嚴冬則小便頗多，故平素即大便乾燥。忽患傷寒，余診其發熱惡寒，頭痛肢痛，項背腰臀，均覺痛楚，兩目帶紅，而唇齒乾燥。予以桂枝麻黃各半湯，服如桂枝湯法。一劑而緩汗解，再以小量之小承氣湯，微和其裏，便通即愈。</p>
<p>友人楊達奎教授，胃納不甚強健，故體質不強。周身皮膚，乾燥不澤。平素頗喜品茗，雖每日飲多，而小便亦多，故其津液顯然呈不足之象。非至盛夏之時，則皮膚無汗。一至嚴冬之際，則小便更多。此所以肌膚索澤，而為大便乾燥之因也。</p>
<p>在1949年冬月下旬，忽患傷寒。始則嗇嗇惡寒，及四肢手足關節，均覺酸楚。而獨皮處無汗，氣息微喘，而微有噁心。經余診之，斷為正傷寒之候。楊君聞之，以為必用麻黃湯方，蓋向知余治傷寒而喜用經方也。</p>
<p>余曰：「以君之證，麻黃湯在所必用。以君之體質，素來津液不足，麻黃總嫌太峻，蓋不能大發其汗也。余有一法，改用桂枝麻黃各半湯，服如桂枝湯法。即服藥後，俟微有汗意之時，再飲熱粥一小碗，使微汗緩緩外透。不可令如水淋漓，如此則病必除矣。」</p>
<p>楊君然之，其夫人秦碧筠親為煎藥。如法服後，約半小時，果然微汗出矣，頭面胸腹及四肢，均感微濕，而周身疼痛已較松。乃將預先煮好之熱稀粥，以湯瓢與之。</p>
<p>服粥後，微汗時間更為延長，先後約三小時，而寒熱漸退，身疼立瘳。晚間續服第二煎，其病爽然若失。</p>
<p>次日複診，見其體溫復常，毫無所苦，惟舌苔微膩。詢其大便，因素來大腸津液不足，必隔二三日一解。今前後計之，已五日未解。按其腹部，脘口尚和，惟按其臍下少腹，微有硬痛耳。再為之處以小承氣湯，量亦較少。令其煎服之後，只求大便一通，即停後服，目的在微和其胃腸，而不在大攻也。迨一服之後，大便果下燥黑之糞球數枚，夾以溏黏之半流動物，而表裏均和而痊矣。</p>
<p><b>桂枝麻黃各半湯方</b></p>
<p>川桂枝二錢五分　京赤芍一錢五分　生麻黃一錢五分　炙甘草一錢五分　杏仁泥三錢　生薑三片　紅棗五枚</p>
<p><b>小承氣湯方</b></p>
<p>錦紋軍二錢　川厚朴二錢　炒枳實二錢五分</p>
<h2>濕溫</h2>
<h3>濕溫化燥證</h3>
<p>夏令酷熱，患生濕溫，經醫久治不愈，漸至譫語神糊。余診其熱度頗高，自汗不已，胸悶心煩，舌苔膩而灰黃，小便黃赤，大便轉燥。疹痦隱於皮下，而不能外達。余以大黃黃連瀉心湯合三仁湯與之。一劑而便通熱減，疹痦外透。再劑則痦密如珠，疹則疏少。終以竹葉石膏湯合黃連解毒湯法加減，以競全功。</p>
<p>患者劉慶生，住曹家渡忻康裏，年52歲，於1942年夏末，患生濕溫傷寒。初經他醫治之無效，延及旬日，漸至譫語神糊，闔家驚懼，謀之於窯貨店主劉裕昌。蓋裕昌店主，與劉為兄弟行也。因薦余往診，時在抗戰勝利之前三年。</p>
<p>余至該裏，見賭台林立，煙館亦有數家。蓋余過比戶之門，非呼盧呼雉之聲，即吞云吐霧之氣。余自忖，今來鬼國矣。及入病家之門，登樓入室，則病者臥床上，亦置一付煙具，始知病者亦芙蓉城主也。</p>
<p>余乃為之診察，熱度頗高，自汗不已。蓋病候與天時之熱，及房間之小，有相因而至者，故使其自汗多也。據自訴胸悶異常，心煩特甚，口渴而不欲多飲。察其舌苔，則濕膩而灰黃，捫之黏指。此即濕溫固有之苔也，而不易化燥，即濕為之耳。</p>
<p>詢其小便黃赤，大便在前一星期，則軟而不暢，此三四日中，則大便未解。此濕與熱並之邪，漸將化燥也。</p>
<p>細察其胸背皮膚，似有白痦隱於皮下，但不明顯。紅疹雖有，但亦不多。</p>
<p>診其六脈遲緩，與體溫之高不相應，此濕溫固有之脈象，乃診斷上之一大助也。</p>
<p>余因忖度其情，濕溫當通大便之時，不能不通，不過不能大下耳。此時雖未全化燥，但大便已三四日不解，若不通利，則反有造成腸出血之危險。設大腸之濕，全從熱化，而致大便燥結者，則又當大下矣。</p>
<p>乃為之處方，以大黃黃連瀉心湯合三仁湯法，加減與之。令服一劑，告以用藥之意。迨服後果大便得解，黏膩而醬黃，小便亦較多。二煎服後，大便又解一次，黏膩如前。次晨視之，皮膚之白痦，已漸透出，而捫之格手矣。原有紅疹，顏色亦較鮮豔。</p>
<p>至下午復延余診，詢其胸悶已較減，心煩亦較安。乃將原方錦軍減為一錢，加炒僵蠶二錢　五分，再服一劑，大便又解一次，小便轉為淡黃，而量亦較多，心煩已除，惟胸悶未清。</p>
<p>至三診之時，為之去錦軍，減川連，令再服二帖。於是諸症大減，而胸悶亦解矣。</p>
<p>至第五日複診，見其險象已除，餘邪未清。改以竹葉石膏湯合黃連解毒湯法加減，連服二帖，熱即退清，表裏均和。再處以調理本元之方，以扶其病後之虛贏焉。</p>
<p><b>大黃黃連瀉心湯合三仁法方</b></p>
<p>錦紋軍二錢　川黃連一錢　生黃芩三錢　飛滑石四錢　杏仁泥三錢　生薑仁五錢　白蔻仁二錢　製半夏三錢　粉葛根三錢　鮮竹葉三錢</p>
<p>再診方</p>
<p>即前方錦軍減為一錢。加炒僵蠶二錢　五分。</p>
<p>三診方</p>
<p>即前方去錦軍，減川連為七分。</p>
<p><b>竹葉石膏湯合黃連解毒法加減方</b></p>
<p>鮮竹葉三錢　生石膏二兩　製半夏三錢　炙甘草一錢五分　上川連七分　生黃芩二錢五分　生山梔二錢　生薏仁三錢　炒粳米一酒杯。</p>
<h3>產後濕溫化燥證</h3>
<p>婦人產後，患生濕溫，胸悶熱高，頭痛肢疼，中西醫治之，均無效果。漸至化燥，神昏譫語，時或笑妄，胸部有疹，大便四日未解，舌上斷津，撮空已見。姑以瀉心湯合承氣增液法，加生石膏、葛根、山梔與之，一劑而譫語、笑妄及撮空均止，舌上津回，再劑即神識清明而轉安。</p>
<p>1953年夏季，上海城內果育堂街育德里18號，有張姓婦陳瑞娣者，年24歲。於產後十八天，患濕溫傷寒，初延中醫，以豆豉、豆卷等治之無效。復延西醫注射青黴素，前後八針，依然無功。漸至化燥，神昏譫語，此時延余往診。</p>
<p>余見如此重症，且有撮空之象，問知大便四日未解，捫其舌上，業已斷津。乃告知病家，危險已十有七八，因徵得病家之同意，為處一方。以瀉心承氣增液法加生石膏、葛根、山梔主之。與服一劑，大便連下四次，如醬如膠，惡臭異常，身有微汗。</p>
<p>次日較為好轉，譫語不作，撮空亦止，舌上津回，延余複診。依原方酌減分量，再加連翹三錢，花粉三錢，連服一帖大便再解三次，神識立轉清明。後再處調理之方，數服而愈。</p>
<p>當其初處方時，病家問：「何以須如此涼下耶。」余曰：「產婦在十八天以前無病之時，未有不食葷膩補品者，如蹄膀、雞、魚、桂圓、大棗等。未病以前，胃腸積垢，仍在其中。既病之後，中醫以產後體虛，不敢用涼下之藥。西醫以瀉下之藥能引起腸出血，亦不敢用瀉下劑。故抗生素雖極對症，而腸胃積垢不去，猶寇盜入主人之室，今注射青黴素，徒以糧資盜寇耳。」病家乃大贊服。</p>
<p>於此可知，每一病症當前，初時不愈，則必有復雜之變症。若徒恃一二種藥品，而不能應變處方，以施療治，乃屬勞而無功也。且抗生素之製劑，其作用端在抗菌，一則能妨礙病菌之營養，一則能管制病菌之活動，而使之日暮途窮，漸漸消滅，但並無直接殺菌之能力。然處方目的，對於排泄病菌，並未計及其確定之方，此亦西藥療法之所短也。</p>
<p><b>瀉心湯合承氣增液法加石膏、葛根、山梔方</b></p>
<p>生石膏三兩　粉葛根四錢　川黃連一錢五分　生黃芩　川大黃　元明粉　生山梔各三錢　鮮生地五錢　鮮石斛三錢　鮮蘆根一支</p>
<h3>濕溫腸出血證</h3>
<p>濕溫病延兩周日，熱度頗高，忽發腸出血證。肛門血出，涓涓不止，體溫漸見降低，周身蒼白，面無血色，氣息微促，手足厥冷，脈沉細而數，捫其胸腹四肢，亦均發涼，而反赤膊赤足，若畏熱者，詢其欲得冷飲。先與以西瓜汁，次以白虎人參湯加芩、連、地、丹主之。</p>
<p>同鄉旅滬之許長林者，年53歲，1943年患濕溫傷寒。初未醫治，至四五日後，始延閘北附近之醫生治之。時醫治外感病，通以豆豉、豆卷為首藥，其他藥味，不問可知。此顧亭林先生所謂「今之醫師，其用藥也，使人在於不死不活之間，遲延日久，而終至於死也，」可不懼哉。延至兩星期，於夜間八時，忽然肛門出血，涓涓不止。再延附近西醫，注射止血針藥，仍然不止。延至午後十二時，始延余往診。其兒媳來時，扣門聲甚急，啟門視之，則淚流滿面，告我以來因，遂與同往。</p>
<p>登樓診視，則仰面而臥，周身蒼白，面無血色，氣息微促，不言不語，赤膊赤足，只著一短褲，滿染鮮血。余問：「體溫何時降低。」其妻答曰：「未下血前，終日熱高，下午以後尤甚。今一出血，熱度即行低降。」於是知其為濕溫傷寒之腸出血矣。問：「下血何如此之多。」曰：「已換短褲兩條矣，尚有舊布襯於下者，亦均濡濕。」</p>
<p>再診其脈，則沉細而數。兩手均覺冰冷，因之再捫其胸腹及四肢，亦同樣發涼。而病者則毫不怕冷，不蓋被單。時雖當七月初旬，但在晚間小雨之後，至夜深氣候頗涼，而病者四肢不收，亦頗若畏熱者。病至此時，值得余之慎重考慮矣。正沉思間，忽觸及《傷寒論》中，有一條文云：「身大寒，反不欲近衣者，寒在皮膚，熱在骨髓也。」正此症矣。乃問病者曰，「欲飲冷乎。」病者初無一語，此時忽張目問余曰：「能冷飲乎。」余曰：「莫問能不能，先問要不要。」病者曰：「心中熱煞，如何不要。家人不肯與我耳。」余令其妻速購大西瓜來。病者大聲曰：「許我食西瓜，死無怨矣。」</p>
<p>因為書白虎加人參湯，再加黃芩、黃連、鮮生地、粉丹皮四味。配方人去，買瓜人來。立將西瓜剖開，以湯匙取汁與之。病者連吃數口，大呼稱快，忽自起坐，奪瓜及匙，挖大塊西瓜，連瓤啖之。七斤半重之大瓜，立盡其半，乃臥平稱快不已。</p>
<p>無何藥來。令其先煎石膏，次下諸藥，後下川連，俟藥煎成，再將生地汁沖入，使病者服之。事有至怪者，當食西瓜之後，周身已漸覺轉溫，但尚末恢復至常溫，病者已自覺肛門血少。迨服藥後，不一小時，而血漸止矣，體溫亦復常。余乃辭去。囑病者「西瓜少服，其所余之半，再分三次可也。二煎至十時左右再服。」及出門，已至四時。不知東方之既白也。</p>
<p>病者至十時，服二煎後，情形更佳，血不更出。但周身反又發熱，仍欲西瓜。至下午四時，延余複診。余察其熱為中度，尚不過高。問「大便解否。」日「未也。」余乃將原方各中藥，減量四分之一，再加粉葛根四錢，錦紋軍三錢，期其表裏兩解。再令以西瓜續與之。並囑「以病者之需要為准，即要食時與食，不要食時，不勉強之。」</p>
<p>迨服藥之後，先得微汗，約二小時，而表熱頓解。至夜間大便解後，裏熱亦除。據云，「其所下之糞，均為醬黑色。」蓋瘀血與糞便俱下也。再服清理餘熱，佐以調理之劑，數帖而全愈。</p>
<p>最後余有為讀者告者，即濕溫傷寒之腸出血，係腸中出血。由肛門涓涓而出，非是大便之時糞中夾血。如此險症，設不用西瓜與此方，甯不危哉。西醫謂此症不可用瀉下藥，恐其引動腸出血。孰知此種腸血，均由不用下藥而來。若早下之，則內熱內濕有去路，絕無此險矣。前賢謂「醫者意也，」今人或謂此語似不合科學邏輯，設余診病時，若意想不及，或不讀《傷寒論》者，雖遇此症，而不敢用大劑涼下藥，則病者必名登鬼錄矣。</p>
<p><b>白虎人參湯加芩連地丹方</b></p>
<p>生石膏四兩　肥知母四錢　炙甘草三錢　西洋參四錢　粳米一兩　黃芩三錢　川連一錢五分　鮮生地一兩（搗汁沖）　粉丹皮四錢　（按第二方加葛根四錢、大黃三錢　）</p>
<h3>濕溫夾食重證</h3>
<p>中秋而行夏令，天氣酷熱，飽食葷膩，夜靜露宿受寒。表裏不解，化為濕溫。高熱自汗，氣悶胸痞，心腹滿痛，譫語煩躁。舌苔濕潤膩黃。選用清涼承氣湯攻之，腹滿不減。詢知多食雜肉，以清涼承氣湯加蘇子霜，攻之而愈。</p>
<p>南通劉輝庭之長子，年22歲，習業於上海西藏南路厚康祥布店。在1939年中秋之夕，店中高級職員，至別家晚宴，囑學徒三人，將所有酒菜，儘量而食。蓋秋令尚酷熱異常，恐菜類留至次日，亦將腐壞而不能食也。於是劉等乃恣意飲啖，既醉且飽。劉則露宿於涼臺之上，至天將明時，覺身寒而返臥室中。無何，即發熱頭痛。</p>
<p>次日延醫診治，時醫以薄荷、豆卷等治之不效。延已五日，始延余診。余見其高熱自汗，舌苔潤黃，胸悶腹滿，間以譫語。詢知飽食葷膩，大便不解。斷為夾食之濕溫。且溫病下不厭早。況如此大熱大實之症乎，乃為之處方。</p>
<p>清熱用石膏、葛根、銀花、連翹，化痰用花粉、瓜蔞、半夏、杏仁，祛濕用薏仁、滑石、佩蘭，攻積用大承氣湯全味。石膏以二兩起始，硝、黃以四錢　起始，名日清涼承氣湯。</p>
<p>連服兩帖，只膚有微汗，便下黃水少許而已，而發熱胸悶腹滿仍如故也。乃將石膏加至三兩四兩，硝、黃加至五錢　六錢，而大便仍為稀黃水，熱仍不退，積仍不下也。余乃敬謝不敏，請其另延他醫。</p>
<p>劉父乃請西醫灌腸，二日連灌二次，亦皆灌出稀黃水而已，而發熱胸悶腹滿仍如故也。復又延余，余乃膽量驟增，檢出《傷寒論》之原文：「腹滿不減，減不足言，宜大承氣湯」與劉父觀之，以堅其信心。將石膏加至六兩，硝、黃各用八錢，一貼不效，再貼又不效，大便仍為稀黃水耳，此時余亦感計窮。因驚歎曰：所食即是生鐵，亦應攻之使下矣，何積聚如此之堅也。店中女僕忽曰：「其他魚肉不計，但肥雞一隻，已有大半在其一人之腹中。」二學徒亦證明女僕所言不虛。余聞此言，忽憶中國醫學史中，節錄《南齊書》褚澄治李道念食雞一案，以蘇子一升，服之而愈。乃決將原方減味，加蘇子霜與服。嗣思若加蘇子而果效，則為蘇子之功耶，抑仍為硝、黃之功耶，將不得而知之矣。決將硝、黃改為五錢，另加蘇子五錢。</p>
<p>孰意一服之後，夜間即大下數次。如膠如漆，黏膩異常，惡臭不堪，最可怪者，夾有酒氣。腹滿仍不甚減。四日之間，續服四帖。積乃去其六七，嗣乃逐漸減量。又服三帖，宿垢去盡，漸思薄粥。再進調理之劑，而漸痊可。計是症經余診治，十四日中，服涼下藥十三帖。內石膏用四斤有餘，硝、黃各用六兩有餘。昔人謂：「有是症，即用是藥。」又曰：「有病則病受之。」觀於此症，當益信而不誣矣。</p>
<p><b>清涼承氣湯方</b></p>
<p>生石膏六兩　粉葛根六錢　淨銀花　淨連翹　天花粉　瓜蔞各五錢　製半夏　杏仁泥　薏苡仁　飛滑石　佩蘭各四錢　綿紋軍　元明粉各八錢　上川朴三錢　炒枳實五錢　</p>
<p>（按：此是第三診所處之方，分量最重，係次第而加，但仍無效。）</p>
<p><b>清涼承氣湯加蘇子霜方</b></p>
<p>生石膏四兩　粉葛根　淨連翹　天花粉　全瓜萎　飛滑石各四錢　錦紋軍　元明粉各五錢　川厚朴三錢　炒枳實四錢　紫蘇子霜五錢　</p>
<p>（按：此方服四帖後，再減量續服三帖。宿垢始去盡，接服調理之劑而愈。）</p>
<h2>熱病</h2>
<h3>熱病夾食重證</h3>
<p>夏令溫熱，旬餘不解。大熱無汗，煩躁不安，譫狂互見，唇焦齒垢，舌苔焦黃帶黑，而有芒刺。大渴欲飲，便秘溺赤，身有疹痦，大如綠豆。連進白虎增液承氣，並令睡臥濕地，恣食西瓜。狂雖止而譫語仍作，便雖通而積滯不下，詢知食鴨肉成疾。以白虎合增液承氣湯加蘇子主之，終加犀角而清之，其病始愈。</p>
<p>粵人陳某，年23歲，在新閘橋北順昌押典行中為學徒。於1940年6月間，患溫熱病，諸醫不效，延已旬餘。門人郭文忠為其同鄉，介余往診。</p>
<p>余見其大熱無汗，煩躁不安，譫語頻作，唇焦齒垢，舌苔黃膩帶黑，而有芒刺，大渴引飲，無時或休，大便秘結，小便短赤，身發有痦疹，大如綠豆，與尋常之痦疹絕不相同。余乃以白虎湯合增液承氣湯投之。石膏用至四兩，硝、黃各用四錢，並令恣啖西瓜。然大便雖解黃水，而積滯不下。</p>
<p>次日石膏加至五兩，硝、黃各加至五錢，仍然如故。心計大腸之津液枯矣，正氣憊矣。乃先為之注射滅菌葡萄糖1000毫升，然後仍進前藥。並將石膏加至六兩，硝、黃各加至六錢，而仍然解下稀水而已。再仿黃龍湯法，加黨參三錢，並令臥於濕地，仍然無效。不獨無效，且增狂妄，竟欲奪窗而走。乃於方中復加紫雪丹四分，石菖蒲三錢，連進兩劑。狂雖止而譫語仍作，便時通而滯絕不下。</p>
<p>余為計窮，曾囑郭生致意病家，另延明哲。而病家以余認症的確，用藥有膽有識，設再委之於時醫，則必死無疑。力請續診，雖有不測，決無異言。余見其小便赤黑如雞血，雖將方箋置諸案上，而擱筆不能為一藥。因前舉諸方諸法，溫熱病之治法盡矣。躊躇半日，忽憶劉輝庭之子，方中加蘇子霜而愈。乃細詢未病之前，曾食何葷腥。據店中同事云，「曾食鴨肉頗多。」余細思雞、鴨是一類家禽，劉子食雞肉成疾，治之有效。陳姓食鴨肉成疾，亦必有效也。乃以前方加蘇子霜、萊菔子霜各五錢，促令與服。是夜即得積滯大下。其量頗多，如果醬、如魚凍，成團成塊，陸續下行。腹部稍軟，舌苔漸退。</p>
<p>四日中連進四貼，積滯去其大半，而小便赤汙如故，煩渴不減。計先後所服石膏有四五斤之多，硝、黃各有五六兩之多，大西瓜約食廿餘隻，而病仍如此不易清澈，誠出人意料之外。乃將前方分量略減，並加暹犀角六分，連進兩帖，滯乃全去，小溲始清，漸思薄粥。接服調理之劑，又周日而安。</p>
<p><b>白虎合增液承氣湯方</b></p>
<p>生石膏六兩　肥知母四錢　炙甘草三錢　鮮生地五錢　鮮鐵皮斛三錢　錦紋軍　元明粉各六錢　炒枳實全瓜蔞各四錢　炒粳米一兩</p>
<p>（按：此亦第三診用量最重之方，服之無效，轉增狂妄。後加紫雪丹四分，石菖蒲三錢，狂妄雖止，而滯絕不下。）</p>
<p><b>白虎合增液承氣湯加蘇子霜方</b></p>
<p>生石膏四兩　肥知母四錢　炙甘草二錢　鮮生地四錢　鮮鐵皮斛三錢　錦紋軍　元明粉各五錢　炒枳實　紫蘇子霜　萊菔子霜各四錢　炒粳米一兩</p>
<p>（按：此方服後，即積滯大下。然仍煩渴溺赤，內熱不清。後將此方稍減分量，加暹犀角六分，連服兩帖，熱始漸清。）</p>
<h3>熱病神昏發厥證</h3>
<p>女青年初秋病熱，初時惡寒發熱，而旋不惡寒，但有熱候。不慎口腹，更食糍飯。因之熱度更高，達40℃以上。晚間忽然發厥，頓失知覺，少時轉醒。醫以退熱劑投之，並注射青黴素，熱不少減。余以一解四清湯與之，一劑熱退，再劑熱清而康復。</p>
<p>患者彭庚弟，女性，年方18。習護士業於廣慈醫院，星期日返家休息。時在1955年7月中旬，秋熱如虎，初以納涼冒風，已覺不適。次又糍飯黏食，更覺飽悶。始之以惡寒發熱，至午後則熱勢尤高。後又轉為但熱不寒，頭痛肢疼，心煩內熱，晚間更覺煩躁不安。其父恐生變端，雇車擬送廣慈醫院。及扶庚弟下樓時，忽然發厥，神昏不語，此即西醫所謂休克也。其父情急，立以電話通知醫院，派救護車來接，無何車來，此時庚弟已醒轉，抬之上車。及至院中，命具急症手續。</p>
<p>約一小時後，醫師始為之診察。當告庚弟父曰：「病可無礙。以熱高而發休克，此亦常有之事。為之注射青黴素，內服退熱之劑，即可漸愈，慎無懼也。」因即如法治之。病家以女習護士，求住院中療養，院中以病床人滿為辭。彭君無奈，只得要求俟續注一針青黴素後再行返家。屆時經第二次注射，並予以內服藥數包，乃雇車挈之而返。迨返家以後，熱度仍不少減，心煩口渴如故。</p>
<p>次晨七時，延余往診。余察其症狀，並詢知昨晨尚食糍飯一團，因而熱度增高，而晚間即發休克者。因告之曰：「此溫熱病也，以時計之，發熱今已三日，有兩足天矣，胸部必有隱隱之紅疹也。」解衣視之，果然有少數顆粒，散在胸前，惟隱於皮下而不顯。余告之曰：「此證頗重，今為處方照服，如得下得汗而熱退，則紅疹亦退矣。如熱仍不退，則紅疹必續發而多，此即西醫之所謂癍疹傷寒也。」因處一方，以一解四清湯與之。並囑藥須自煎，方可有效，否則假手於藥店之代客煎藥，必無效也，因以煎法告之。余去後，病家照法煎服，一小時後，漸漸安靜，身有微汗。約二小時後，大便又解，連解兩次，膚汗更潮。至午後再服二煎，大便續解兩次，於是熱退七八矣。</p>
<p>翌日晨，復延余診。其父導余登樓，見庚弟已坐起整理書包。其父驚謂曰：「汝剛熱退，而又勞動精神，何可如是耶。」庚弟曰：「兩日後須小考矣，故余整理之也。」余聞此言，笑謂之曰：「小考將來可補，身體康健第一要緊。汝不自記前日晚間之休克乎，慎勿過勞也。」及診察後，依前方酌為加減，再服一劑而安。</p>
<p><b>一解四清湯方</b></p>
<p>錦紋軍二錢五分　炒熾殼三錢　生石膏一兩　粉葛根　淨連翹　淨銀花各三錢　杭菊花二錢　生黃芩　生山梔塊　滑石（包）各三錢　鮮竹葉四十片</p>
<p>（按：以黃、枳下氣通腑，以膏、葛清經腑，以銀、翹、菊清上焦，以芩、梔清膈間，以滑石清膀胱，故名一解四清湯。）</p>
<p><b>一解四清湯加減方</b></p>
<p>錦紋軍一錢　炒枳殼二錢五分　生石膏六錢　粉葛根三錢　生黃芩二錢　生山梔三錢（杵）　薤白頭二錢五分　塊滑石二錢（包）　鮮蘆根一枝</p>
<p>（按：此即前方去杭菊花，加薤白頭，以竹葉易蘆根，其他藥量，稍有減少耳。）</p>
<h3>陽明熱病傳少陽證</h3>
<p>婦女於季夏之初，患生熱病，醫初治之以銀、翹不效。見其有煩躁，治之以梔、豉，又不效。余診其高熱自汗，口乾舌絳，大渴欲飲，周身膚帶紅色，猶如中酒，捫之熱甚，煩躁不安，小便黃赤，診其脈洪大而數。以白虎人參湯加花粉清之，而熱退神安。迨三日後，餘邪復傳少陽，寒熱往來，口苦咽乾，兩脅疼痛，心煩欲嘔。復予以小柴胡湯加檳榔、藿香方，兩劑而痊。</p>
<p>八仙橋八仙坊有朱美珍者，年30余，於六月初甸，患生熱病。初未延醫診治，及兩日不退，漸覺加重，乃始延醫。醫以銀翹散與之，一劑不效，再劑亦不效。改延一醫，醫以其煩躁也，與以梔子豉湯，而亦不效。其夫之友顧雨芝囑延余診。</p>
<p>余登樓時，尚未入室，即聞病者大聲曰：「能以冰水與我飲之，則謝天謝地矣。」余聞此言，已知為白虎湯證。迨入室之後，則室中四五人，環立相向。群慰之曰：「醫生來矣，請醫生診治，冰水不可飲也。」余既坐定，察其面色及周身皮膚，皆現紅色，猶如中酒之狀，且白睛亦帶水紅。捫之則皮膚熱甚，周身自汗濕手，煩躁不安。</p>
<p>診脈之時，因煩躁而三脫其手，六脈皆形洪大而數。問其「欲冷飲已幾日焉？」曰：「前日已欲多飲，昨今兩日尤甚，且欲飲冰水也。」其夫曰：「他醫謂不可冷飲，飲之則大邪必遏於裏矣。故不敢與之，而內子索之不休，奈何？」余曰：「如有冬令收貯之雪水，可以與之，惟此一時不易得耳。近已六月上旬，聞新西瓜已上市，可購而與之食也。」因令其先買西瓜，即為之處方。以白虎人參湯加花粉與之，並令其先煎石膏，後下諸藥，余即辭去。</p>
<p>迨病者先食西瓜後，煩躁即覺減輕，次則如法煎藥服之，身汗先多而後少，身熱先增而後降，三小時後，降至平溫，膚紅亦漸退，煩躁完全不作。晚間再服二煎，則高枕一覺，明日其病如失矣。</p>
<p>次日未延續診，余亦不知其藥後之情形。再隔兩日，復延余診。云：「前日服藥已痊，故未復勞先生。由昨夜起，忽又發寒熱，惡寒之時，欲蓋衣被，至發熱之時，又去衣被。夜間及上午，如此反復，已三四次矣，得非又患瘧疾病乎。」余知之曰：「此無他，因上次一劑退後，陽明經餘邪未清，復傳少陽，似瘧而實非真性瘧也。設前次續診，再服清理餘邪之方。二劑，則無此患矣。」及診其脈，弦而兼數，他症如上文所述。再為之處方，以小柴胡加檳榔、藿香與之，兩服而痊。後更處以調理之劑，續服以扶持正氣焉。</p>
<p><b>白虎人參湯加花粉方</b></p>
<p>生石膏三兩　肥知母六錢　炙甘草三錢　西黨參五錢　天花粉四錢</p>
<p><b>小柴胡湯加檳榔、藿香方</b></p>
<p>春柴胡　生黃芩各三錢　西黨參四錢　薑製半夏三錢　炙甘草三錢　花檳榔　廣藿香各三錢　生薑一錢　紅棗十枚</p>
<h3>熱病陽明經證</h3>
<p>婦人仲夏病熱，初惡寒而旋不惡寒，延至四日，病勢愈進。赤膊赤足，臥於地上，煩躁不安，反復顛倒，目赤膚紅，猶如中酒，多汗如珠，大渴引飲，脈洪大而數，舌絳而乾。先飲以西瓜汁，次進以白虎人參湯加花粉方。</p>
<p>上海羊尾橋有陳姓婦，年42歲。於五月端午節前三日，患生熱病，此即《內經》所謂「夏至以前為病溫，夏至以後為病熱」是也。初為惡寒發熱，旋即但熱不寒，濺濺然自汗出。至第三日，大汗如洗，他醫治之無效。第四日始延余診。</p>
<p>入室時，即見其仰臥於水泥地上。赤膊赤足，僅著一短褲，周身皮膚如中酒，目亦潮紅，煩躁不安，反復顛倒，無片刻之寧。自汗如珠，滾滾不已，四肢微厥，而胸部捫之炙手，大渴引飲，欲得冰水以為快。</p>
<p>診其脈，則洪大而數，重按之則微芤。察其舌，則色絳而乾，毫無潤氣。余知為白虎湯證。但處方配藥煎藥，尚須一相當之時間，乃令先購隔年西瓜，取汁恣意與飲之。為處白虎人參湯加花粉方，並囑其先煎石膏，次下諸藥及粳米。俟米熟湯成，濾清與服。</p>
<p>迨西瓜購來，取汁先與飲之，呼快不已，自汗即漸少。再服湯藥後，不二小時，而汗出熱退，煩躁漸停。續服二煎，得睡一夜未醒。次日晨，其病如失矣。</p>
<p><b>白虎人參湯加花粉方</b></p>
<p>生石膏六兩　肥知母八錢　炙甘草三錢　西黨參四錢　天花粉四錢　粳米一兩</p>
<h3>熱病發癍疹證</h3>
<p>夏令熱病五日，發生癍疹，大小相雜，色紅帶紫，高熱不退，自汗，心煩不安，口乾作渴，欲得冷飲，舌絳而乾，白睛發紅，六脈洪大而數。廠醫治之無效。余令先以西瓜汁飲之，次投以白虎人參湯，加葛、地、斛、梔。一劑而熱退躁止，癍疹色淡。詢其大便未解，心下鬱鬱微煩。再以竹葉石膏湯合調胃承氣湯，便解熱清而獲愈。</p>
<p>曹家渡之三官堂橋北中華織造廠，有俞某者，為該廠廚房主持之工友。於1952年夏末，患生熱病。中醫謂溫病之發，在夏至以後，立秋以前者為熱病，蓋以時令分也。初覺微有惡寒，旋即體溫上升，而不再惡寒。數小時後，即高至四十度以上，頭痛肢酸。嘗經廠醫治之無效。次日則口乾作渴，覺內熱如焚。第三日，則更增煩躁，反復不安。第四日，則身發癍疹，大小相雜，懊（忄農）更甚。雖經醫連用青黴素及氯黴素治療，然病仍日增不已。至第五日，其廠中有工友某偶在裕昌窯貨店購物，談及此證，云將改送醫院。裕昌店主告之曰：「此必傷寒病也，非延余醫師治療不能速效，且必有把握也。」某工友回廠，取得俞姓工友及廠中同意，來延余診。</p>
<p>當余步入廠中，經過診療室前時，內有白衣使者四五人，見余人內，目逆而送之。余既登樓，至病者之室，見病者臥於床上，赤膊短褲，反復不安，見余入內，則強自鎮靜。</p>
<p>診其左脈，則以右手撫胸，診其右脈，則以左手撫胸，其心煩可知。而脈則洪大而數，舌則乾燥而絳，目則白睛發紅，赤絲繚繞，膚則癍疹相雜，色紅而紫。並詢知口渴不休，欲得冷飲，其表裏之熱可知。</p>
<p>余令先購一大西瓜，取汁與之。乃為之處方，以白虎人參湯為主，加葛根、生地、石斛、山梔。令如法煎服一帖。並告病者以無礙，安心服藥可也。迨一服之後，病去六分。</p>
<p>次日複診，見其向之高熱已減，煩躁已安，周身之疹色漸淡，而不似前此之紫紅矣，診其兩脈亦漸平。惟病者自訴，覺心下尚鬱鬱微煩。詢其大便有幾日未解，答云：已四日不解矣。再察其舌，則中尖及邊沿之絳色，已較轉淡，惟根部薄膩，而帶燥黃。乃改以竹葉石膏湯合調胃承氣湯。盡大劑白虎之後，有改用竹葉石膏之可能，在清涼之中，有兼用微利之必要，故以此兩方合用之耳。</p>
<p>服藥之後，大便果解，而諸證悉除，舌根黃色退清，而思食矣。</p>
<p>三診之時，囑以竹葉、石膏、薏仁三味，煎湯當茶，飲之三日。另以香砂六君子加神麯、麥芽，以益氣和胃焉。</p>
<p><b>白虎人參湯加葛地斛梔方</b></p>
<p>西黨參四錢　生石膏四兩　肥知母六錢　粉葛根五錢　鮮生地六錢　鮮石斛　生山梔各三錢　炙甘草二錢　五分炒粳米一兩</p>
<p><b>竹葉石膏湯合調胃承氣湯方</b></p>
<p>鮮竹葉一兩　生石膏二兩　麥門冬（去心）四錢　潞黨參三錢　錦紋軍二錢　元明粉二錢　（分沖）　炙甘草二錢　炒粳米五錢</p>
<h3>小兒熱病劇嘔證</h3>
<p>小兒4齡，患生熱病。煩躁反復，時時嘔吐，藥不下嚥，熱勢頗高，周身無汗，肌膚炙手，目赤口乾，唇焦齒垢，口氣噴人，脘口拒按而痛，大便不通，手足微厥，醫易六七而無效。因令臥於濕地一宵，嘔吐即止，身有微汗。更以承氣增液法加葛根、黃芩、石膏主之。</p>
<p>上海順昌路蔡生南君之幼兒，才4歲，庶出，愛之愈恒。素喜雜食，家長不之節也。忽於四月底患生熱病，時已在夏至後矣。故中醫學說不稱溫病，而稱熱病也。</p>
<p>一日。有友人馬順康介余往診。甫登樓，即見其家人，皆淚流滿面。余見床上病兒，片刻難安，煩躁反復，時時嘔吐，雖少飲開水亦吐，額上有汗，而頸下全身皆無汗，捫之膚乾炙手，目赤口乾，唇焦齒垢，口氣噴人，按其脘口作痛，手足反現微厥。</p>
<p>聞其時日，曰「才四日耳。」問其大便，曰「四日未解也。」問前醫與服之藥，情形如何，曰「點水已不能下，少飲水且嘔吐不止，何況於藥。」問西藥服過否，曰：診過中西醫六七人之多，藥不能下，故均不效耳。余沉思有頃，即問蔡君曰，「汝夫婦尚要此孩否。」蔡君垂涕泣曰：「吾兒焉得不要，先生是何言耶。」余曰：「汝若不要汝兒，則吾有一法試之；汝必要汝兒，則吾絲毫無法矣」。蔡曰：「先生出此奇言，有何意耶？」余曰：「令郎之病，以劇嘔不止，而藥不下嚥，若嘔止則有辦法矣。今有一法，恐君不肯照行耳。然而不用余言，則斷然危矣。」蔡君問何法。余曰：「汝果不要汝兒，可將伊置之地上，以泥土地為佳。但上海無泥土地，可將水泥之地上，以水沖之使潔。再以大毛巾濡濕，置水泥地上。將汝子抱置其上，任其反復，使過一夜。至明晨再看其情形如何也，然恐汝心不舍耳。」蔡曰：「此何意耶。」余曰：「此時病急，不是講醫理之時，信否隨汝也。」</p>
<p>有頃，蔡忽呼僕曰：「來來，如余先生言，速為辦來。」於是僕人將灶間內水泥地洗刷一清，再將大毛巾濡濕，置於其上。蔡即抱兒仰臥之，初尚反復身體，一刻鐘後，已煩躁漸減矣。余去後，即不知其情況如何。</p>
<p>次日上午九時，又延余去。蔡即歡然告余，謂「睡至夜間十時後，即不再嘔吐，身有微汗，熱亦漸退而安眠，直至此時，神識大清，尚得無礙否。」余視危機已去，脈象已較平，乃處增液承氣加葛根、黃芩、生石膏以治之。大便解後，奇臭難當，復得微汗。再劑減量與服，大便續下數次。表裏熱清，而病遂霍然。</p>
<p>他日蔡君問余曰：「先生之治，曾救小兒之命。然其醫理。可得聞矣。」余曰：「今可告君矣，夫炭置爐中，燃之片時，則成灰矣。若將已燃之炭，置於潮濕土地上，片時即熄，而炭則依然為炭也。何哉？蓋地上潮濕之水氣，被炭吸收，而炭中之火氣，又被濕地吸收，水火之氣，成交換作用，故火熄矣。令郎之症，亦猶是也。溫熱內傳，與胃家實合而為病。中脘不通，胃氣為逆，因嘔吐不止。熱與實不去其一，則嘔吐不止也。然藥已不下，其將聽其死耶。故不得已用此一法。斷為熱實之證，故敢臥之於冷濕地也。果然一臥而熱退，熱退而嘔止。再用承氣湯奪其早成之實，合增液法，救其將竭之陰，故之效耳。君如要此愛兒，不肯棄置於濕地，則必不可救矣。」蔡君驚駭嘆服。一時傳為奇治云。</p>
<p><b>增液承氣湯加葛根、黃芩、石膏方</b></p>
<p>潤元參二錢　大麥冬（去心）二錢　細生地三錢　錦紋軍一錢五分　元明粉　粉葛根各二錢　生黃芩一錢五分　生石膏六錢</p>
<h3>婦人產後熱病（一）</h3>
<p>婦人產後熱病，迅即化燥。面緋目赤，口唇燥裂，舌苔焦膩，而環邊紫絳，欲食冷物，煩躁不安，時或昏糊譫語，脘口拒按，胸有隱疹，皮膚乾燥，大便不通，小溲短赤，已見呃逆，以白虎承氣增液法加減主之。</p>
<p>王姓婦，年26歲，住上海市城內三牌樓。於六月間，產後發熱，久久不退，諸醫罔效。延至二十餘日，始延余診。</p>
<p>病者面緋目赤，口唇燥裂脫皮，舌苔焦膩，而邊緣紫絳，津液乾枯，口乾欲飲冷水，時或譫語昏糊，煩躁不安，脘口拒按作痛，腹部較軟，胸部紅疹，隱而不透，皮膚乾燥不澤，額上或有汗出，熱甚耳聾，大便多日不解，小溲短赤，胸內如焚，手足微冷，已見呃逆。</p>
<p>余見此狀，覺毫無把握，既屬產後，且又正衰邪盛，用藥誠大難事。迨遍閱諸方，只桑菊、銀翹、豆豉、豆卷而已。然當危急之時，決將產後兩字，置之度外。為書一方，以白虎承氣增液法加減與之。並囑另以好西瓜汁與之多飲。</p>
<p>此方服後，大便得下二次，惡臭黏膩，莫可名狀。然硝、黃不敢多用者，以正氣虛也。大便既解，呃逆頓除，皮膚有汗，熱勢漸減，神情亦轉安靜，且能略進米飲。</p>
<p>次日為之略為加減，續服一劑。大便又下二次，並解赤頭蛔蟲一條。於是神情完全清明。後又續進清理餘邪、扶持正氣之劑，旬日而告痊矣。</p>
<p><b>白虎承氣增液法加減方</b></p>
<p>生石膏三兩　肥知母　鮮石斛各四錢　鮮生地一兩　天花粉六錢　生黃芩三錢　生山梔四錢　大麥冬三錢　錦紋軍　元明粉各二錢　炒粳米一兩　鮮蘆根三兩　生梨汁一杯（沖服）</p>
<h3>婦人產後熱病（二）</h3>
<p>婦人產後三日，患生熱病。住所炎熱，因之身熱更高，而日晡尤甚，自汗晝多而夜少，口渴欲得冷飲，脘口拒按作痛，舌苔黃膩，詢之曾食葷膩，滯於中脘。以自虎承氣瀉心法加減主之，並囑遷一清涼之地，病家忽略余言，終至成敗血症而亡。</p>
<p>顧雨芝妻何氏，年32歲，亦於六月間分娩。第三日即發熱惡風，他醫治之無效。延至第八日，始延余診。</p>
<p>病者家中為一老虎灶，煤灶之氣，薰蒸滿室。屋既狹小，病者又臥於一閣樓之上，舉頭即是屋頂，悶熱異常。病者則周身有汗，晝甚多而夜較少，因自晝上為日曬，下為爐蒸也。其一切症狀，並不如前者之甚。惟有時昏睡，有時煩躁，熱勢日晡尤甚，口於作渴，亦欲冷飲，脘口則拒按作痛，舌苔黃膩。問之則產後二三日，曾食葷膩、桂圓等品，濁膩滯於中焦故也。</p>
<p>余乃為之處方，又白虎承氣瀉心法加減與之。並令另以生梨汁或荸薺汁，少少與之。如服藥見效，明日複診，若或不效，最好送至醫院。蓋余恐病者住所太熱，服藥難見功也。</p>
<p>次日未見進退，復將前方加減與服，依然如初。余乃決定送人醫院，得一空氣清涼之地，或可早愈也。不意病家忽略余言，未人醫院，又延他醫治之。遷延旬日，愈治癒危。</p>
<p>復延余診，此時在產後已二十餘日矣。余見其昏糊更甚，頑熱不退，自汗不止，眼珠上聳，脈細數之極，決為之注射葡萄糖，以增其液。待針頭刺入靜脈，觀其回血，已如醬油水矣。知毒已人血，乃告以不治。後未三日而亡。</p>
<p><b>白虎承氣瀉心法加減方</b></p>
<p>粉葛根三錢　生石膏二兩　肥知母　天花粉各四錢　石菖蒲　生黃芩　生山梔　連翹各三錢　生大黃二錢　鮮竹葉一把</p>
<p>＋</p>
<p>綜上兩證觀之，得一結論焉。此兩人之病，前者重而後者輕。然重者生，而輕者死者，住所有關係也。前者住於一甚高之空屋內，空氣較佳，無溽暑爐灶以益其邪熱，故用藥得以應手奏功。後者居於一爐灶之上，屋頂之下閣樓之上，上下交蒸，自汗太多，故雖用涼藥，而不易見效，此其致死之一端。且產後二三日，即進葷腥、桂圓等品，病已發見，猶以為產後體虛而補之，此亦其致死之一端也。</p>
<h2>溫病</h2>
<h3>秋溫惡候疊見證</h3>
<p>秋溫重候，醫投桑菊銀翹，漸至神昏譫語。終之旬日以降，十惡之候，已見其五：撮空也，撚指也，循衣也，摸床也，直視也。他如譫語漸變鄭聲，舌燥終至斷津，更無論矣。飲之以西瓜汁，注之以葡萄糖，灌之以白虎承氣增液湯。一劑大瀉而熱減，再劑續瀉而神清，終以竹葉石膏湯合涼膈散完全收功。</p>
<p>在抗戰後之第三年，有陳姓者，忘其名，以蘇北淪陷，來滬求生。依其戚張士隱君，住於現建國中路之天成裏內。日作小工，夜晚歸來，只能糊口而已。於秋八月間，忽患溫病。初以為小病無礙，且又經濟困難，未延醫治。四五日後，即見化燥。口乾齒垢，舌膩唇焦，神昏譫語，陽明實熱之證也。此時始延醫治之，醫以銀、翹、桑、菊，合梔、豉之類以治療之。再劑不效，蓋證重藥輕，車薪杯水，其何能濟。如此延及旬日，而險象環生。如撮空、撚指、循衣、摸床、直視等十惡之症，已見其五，其險惡可知。其戚張士隱君，固如齊人焉，而有一妻一妾；又如汾陽焉，而更兒女眾多。故經濟亦難顧及。迨證危至此，醫辭不治，乃不得不為之設法，另求他醫，以盡人事而已，乃延余往診。</p>
<p>余既入室，由張君導至一小閣樓上，抬頭頗低，光線暗黑，即開電燈診視。見其一切症狀，如上所述，亦即辭以不治。張君固強之，且謂余曰：「即用藥無效，不幸死亡，不怪醫生也。且其妻在蘇北原籍，若不幸而亡，其妻亦必怪余不為窮親戚盡力治療，先生幸為我圖之。」余亦無奈，即再為之細加診察。見其煩躁與昏沉互見，尚未完全昏沉也。詢其小便赤澀而短，尚未完全津渴也。重按其胸腹，亦知皺眉，尚未完全失知覺也。詢其有無呃逆，據云偶則有之，時間不長，測知胃氣尚未全絕也。至於舌上斷津，燥裂口臭，更無論矣。</p>
<p>當即對張君曰：「此陽明實熱之證。延至此時，下亦死，而不下亦死。君既如此要求，余為醫者，亦當盡最後之力。此王孟英先生所謂與其坐以待斃，莫如含藥而亡。陳君之證，若非惡證十有其五，猶較有把握，故不敢作豪語日必可脫險也。」乃先令購一大西瓜，取汁以湯匙飲之，再為之處方。以白虎承氣合增液法，酌用大量，令配藥速回。隨又以葡萄糖之溶液1000毫升。為之施行靜脈注射，以增其血液，以強其心臟。約40分鐘，注射完畢。蓋一小閣樓上，施行注射，亦必須席閣板而為之。迨注射以後，藥亦配來。立令煎與服之，余即辭去。</p>
<p>服藥之後，不三小時，即覺病者腹內雷鳴，無何即大瀉於臥席之上。初為燥硬之乾球，繼為黏稠之黑糞，如醬如膠，挑之成帶狀，其黏如是。續服二煎，一夜間連解大便四次。翌晨視之，而人之神識漸清矣。</p>
<p>張君喜極，於上午十時，復延余診。余見病者神清，氣息亦較靜，目睛已轉白，胸腹部亦較和軟，惟重按之，仍有疼痛。舌上津液已回，但未十分潤澤。口中熱臭已減，小便已較多，然黃赤如故。呃逆已除，完全不作。再飲以西瓜汁，已覺清涼適口，而知其味甘美也。乃令將原方稍減分量，再服一帖。病更好轉，已思食粥湯。三診之時，以竹葉石膏合涼膈散清解餘邪而安。</p>
<p><b>白虎承氣湯合增液法方</b></p>
<p>生石膏六兩　肥知母五錢　炙甘草三錢　錦紋軍　元明粉各六錢　炒枳實四錢　鮮石斛五錢　鮮生地　炒粳米各一兩　鮮蘆根一大枝（去節）</p>
<p><b>竹葉石膏湯合涼膈散方</b></p>
<p>鮮竹葉一兩　生石膏三兩　麥門冬（去心）四線　潞黨參三錢　炙甘草二錢　川大黃三錢（酒洗）　淨連翹四錢　淡黃芩三錢（酒炒）　梔子仁三錢　炒粳米一兩</p>
<h3>秋溫昏譫腹滿證</h3>
<p>秋溫旬日，口乾齒燥，舌苔焦黃，大便旬日不解，腹大滿而喘，按之如石，時或譫語，時或昏沉。以重劑大承氣湯加青皮、萊菔子主之。</p>
<p>長壽路英華裏，有李姓者，年46歲。患秋溫病旬日，他醫治之無效，嗣延余診。病者仰臥床上，腹部滿如覆釜，平面視之，腹部高．於胸部，約二三寸。氣息微喘，按之如石，滿腹皆痛，脈實而有力，口乾齒燥，舌苔焦黃，而熱度反不高。</p>
<p>詢其致病之由，據其家人告余：「在十日之前，某夕其友人家有喜事，伊去應酬，既醉且飽，遠道乘車歸來。當夜發熱惡寒，次日寒退，而熱則更高。諸醫罔效，延至今日，熱反不高矣。」詢其大便，不解已旬日，病後即未解過，且譫語、昏沉，間代而作。問其撮空、摸床等惡候有否，答曰：「尚未有此。」</p>
<p>余察其體質壯實，且腹部高於胸部，可以大下，更不可遲緩。乃書大承氣湯加青皮、萊菔子兩味。大黃、元明粉各用一兩，川朴、枳殼各用五錢，青皮三錢，萊菔子四錢。</p>
<p>次日未延續診，余頗懷疑。抑病家不敢服耶，抑服之而愈耶，或服之而斃耶。又恐藥量過重，為他醫所攻擊，心中不能釋然。四五日後，有其鄰人來就診者，欣然告余曰：「前日李姓之病，服先生藥一帖，大瀉而愈。如此重病，方未再劑，先生真神醫也。我即李姓介紹來此就診者也。」余聞之，心始帖然而安。</p>
<p><b>大承氣湯加青皮萊菔子方</b></p>
<p>錦紋大黃一兩　元明粉一兩（分沖）　川厚朴三錢　炒枳殼五錢　細青皮三錢　萊菔子四錢</p>
<h3>秋溫外熱中寒證</h3>
<p>婦人七月病熱，延已旬餘。自汗口渴，高熱譫語，周身酸楚，舌苔黃膩帶焦，小溲短赤，大便乾燥，心煩不安，胸中痞悶。以白虎合瀉心湯法，加滑石、木通主之。服藥得下後，諸症悉退，獨熱勢不減。續與銀、翹、芩、連、花粉、滑石等品，不效。察其欲得熱飲，改以附子瀉心湯加葛根、乾薑，一劑而熱清矣。</p>
<p>船主王同慶之妻，年35歲，於七月初旬，患生熱病。以船泊於上海叉袋角之蘇州河岸，即延附近之醫師，治之無效。後延旬餘，病勢漸進，如上文所述，改延余診。</p>
<p>時天氣頗熱，俗所謂秋老虎也。余見此狀，索閱前方，知為二豆派所誤（時醫每以豆豉、豆卷為首藥），乃以白虎合瀉心法，加滑石、木通與之。一劑而諸症大減，再劑而諸症悉除，惟有熱勢不減。乃續予以連翹、銀花、黃芩、黃連、花粉、滑石等品。依然無效。</p>
<p>續延余診，病者忽問其夫索飲開水。夫告之曰：「汝枕邊有一杯開水，其忘之耶。」病者以手捫杯曰：「此水已不熱，改取極開之水方佳。」余捫其懷，則頗有七分之熱度。王即為之改換開水，而病者飲之，似不覺其燙口者，此時余心知其故矣。蓋自汗病久，已早傷津，而對證用藥，又不得不用白虎合瀉心湯加味法。待清之下之以後，其裏熱雖去，而裏寒生矣。急為之處方，以附子瀉心湯加葛根、乾薑主之。加葛根者，以表尚有真熱也；加乾薑者，以裏實為真寒也。</p>
<p>待此藥服後，一劑而痊，表熱退，熱飲亦止矣。接後調理之劑，以善其後。</p>
<p><b>白虎合瀉心湯加滑石木通方</b></p>
<p>生石膏三兩　肥知母四錢　炙甘草二錢　粳米一兩　錦紋軍三錢　川黃連一錢（另燉沖）　黃芩三錢　塊滑石三錢　木通二錢五分</p>
<p><b>附子瀉心湯加葛根乾薑方</b></p>
<p>熟附片四線　錦紋軍二錢　上川連八分　生黃芩三錢　粉葛粉三錢　炮薑炭三錢</p>
<h3>春溫痰火發狂證</h3>
<p>春溫不解，邪熱入於營血，身有癍疹，色紫黑，肌膚炙手，內熱如焚，唇焦齒垢，舌苔燥黃。初則譫語神糊，繼則發狂亂走，如見鬼神，甚或攀窗登屋。以大承氣湯去厚朴、易瓜蔞，加石膏、葛根、黃連、連翹、膽南星、石菖蒲主之。名日豁痰承氣湯。</p>
<p>患者胡永年，年45歲，於三月間患溫病。經醫治之無效，於第五日即發癍疹。上述症狀，次第而見。此乃大實大熱之證。延至旬日，漸見發狂，四出奔走，如見鬼神，作叩拜頂禮之狀，甚或毆人詈罵。其妻請強有力者兩人，挾之登車，來余診所求治。</p>
<p>余知為狂者，溫言以熨之。病者神情稍安，忽跪於地，對余作禮拜狀，余更笑容和聲以拽之坐。診其脈沉數而有力，肌膚炙手，胸部尤其，周身癍疹爛然，色帶紫黑，唇焦齒垢，舌苔乾燥而焦黃。詢其大便，已六日未解，小溲短赤。</p>
<p>余即告慰病者，令兩人先送之回家，其妻留取方箋，蓋恐其有發狂之意外也。因為之處方。以承氣湯去厚朴，易全栝樓，加生石膏、葛根、黃連、連翹、膽南星、石菖蒲。以蘆根為引。其所以去厚朴者，嫌溫燥也。易瓜萎者，能陷胸膈之痰也。加石膏為癍疹所必需，葛根為腦脊及陽明熱邪所必用，黃連、連翹之清心涼膈，南星、菖蒲之豁痰開窮。蓋證情如此，不得不用此重劑也。服藥之後，大便連下兩次，如膠如漆，膚有微汗，神情較靜，狂態大減。</p>
<p>次日延余出診。其妻恐其外出也，乘其睡時，將房門上鎖，來余診所。待余至時，開鎖推門，則室內無人，病者不知所往。於床下覓之，亦不見。正驚訝之間，忽聞屋上瓦作聲，其妻取高凳，立於其上，推天窗視之，則病者固坐於屋上也。其妻喚之，余亦溫言以喚之，始含笑人窗而下。余再為之診察一過，見身上癍疹，紫黑色已減，而較紅潤，舌苔亦退去大半，肌熱亦大減，表如此，裏可知矣。因為之各藥減量少許，再加鮮生地、鮮石斛以涼血增液。再劑之後，大便續解三次，其狂狀若失，而神識清明矣。後再處以清理餘邪兼扶正之品，而病遂痊。</p>
<p><b>豁痰承氣湯方</b></p>
<p>錦紋軍五錢　元明粉五錢　炒枳實四錢　生石膏三兩　全瓜蔞六錢　粉葛根四錢　川黃連一錢五分　淨連翹四錢　膽南星四錢　石菖蒲三錢　鮮蘆根一支。</p>
<p>按：此方次日減量少許，加鮮生地一兩，鮮石斛四錢。</p>
<h3>婦人春溫狐惑病證</h3>
<p>婦人冬令進補，春節時，寒熱喉痛，經醫注射白喉血清，喉痛減而腹痛又作。醫謂傷寒兼腹膜炎，治之久而不效。漸至手足發冷，時靜時躁，唇青齒燥，口有惡臭，陰道有惡液流出，醫辭不治。余承其乏，姑擬瀉心合增液承氣湯法，冀作萬一之望，一劑大效。終以氣忿，而絕食傷生，殊可惜也。</p>
<p>有顧盛氏者，於冬季常進補品。以桂圓肉及大棗肉，共蒸成膏服之，所服甚多。至次年正月初四日，忽發寒熱，喉痛大作，求治於西醫。醫謂白喉也，注射白喉血清，而喉痛頓減。一二日後，又變為腹痛，寒熱頗甚，大便多日未解。乃進前同孚路某醫院求治，醫斷為傷寒而兼腹膜炎。蓋此時腹痛之甚，手不可近，硬固如板，小溲黃赤，思食冷物，但熱不寒，熱度頗高，以腹痛之故，呼號煩亂，不可終日。病家又拒絕開刀，醫除用退熱劑外，兼以冰囊罨敷於腹部（按此法不可用），以冀消炎止痛，別無他法。日復一日，病者愈形疲憊，絕口不食，欲眠而不得片刻安枕，如此一星期。最終手足發冷，時靜時躁，唇青齒燥，口有惡臭，陰道有似帶之惡液流出。醫者辭以不治，病家徵得該院之同意，延余診之。</p>
<p>余亦知其不治，只好見證用藥。以其補益太過，大便旬餘未解，熱蒸於裏，灼爛內腑，乃至如此，因書瀉心合增液承氣法，促令與服，作萬一之希望。是時索飲冷水，余令購生梨之大者一枚與之食。</p>
<p>無何食盡，呼快不已，一家皆喜。又約二十分鐘，又呼胃中難過，格格欲吐。吐出之物，夾有咖啡色之腐敗物，此確為胃爛之徵。但吐後則又覺舒適矣。進藥之後，一夜大便未解，腹中有時更痛。直至次日上午10時左右，大便始通，解下黑色如醬之糞，夾有結硬實之糞球甚多。一解之後，病者神恬氣靜，而安臥矣。腹部亦較為柔和，不似前此之板硬。</p>
<p>其夫以妻病大轉，乘其熟睡而返家，一則清理積務，再則稍事休養。蓋旬日以來，病者常常呼號，其夫伴之，亦不得安枕也。後病者恨其夫不告而返，以為寡情，而盼其速死也。乃痛哭流淚，絕藥絕食。次日夜間，病又轉劇。伴者促其夫來，勸其服藥，絕不啟齒。又隔一日，終於昏糊。陰道及肛門內，流出惡臭之水，如黑豆汁，如屋漏水，此即《金匱·狐惑病篇》所謂蝕陰蝕肛之狐惑病也。不二日而亡。嗣余聞之，甚恨此病之未竟全功，而又悲夫此婦，以補益致病，以氣忿而傷生也。</p>
<p><b>瀉心合增液承氣湯方</b></p>
<p>錦紋大黃三錢　元明粉三錢（分沖）　上川連一錢五分　生黃芩三錢　潤元參一兩　連心麥冬八錢　鮮生地六錢　鮮石斛四錢</p>
<h2>食中</h2>
<h3>老年夜眠食中證</h3>
<p>媼年已過六旬，忽患昏糊不語，如睡眠然，似無痛苦。醫以中風及痰厥治之，不效。詢知三旬以來，食量倍常，膳畢即睡，忽發此證，乃食中也。決以大承氣湯下之。小瘥。因易醫復延兩旬，不死亦不得生。乃改服蓖麻子油，兼行灌腸法。大瀉而蘇。</p>
<p>合肥路之柏薌村30號，有陳媼者，年62歲。於1934年10月間，某日晨，其家中人人都起，而陳媼不起。其媳唐氏，至床前呼之，亦不應，推之亦不動，始知其神昏不語矣。觀其情形，似無痛苦，如睡眠然，惟喉中覺略有痰聲。其子陳如年，急延醫為之診治。醫以中風及痰厥治之，三易其醫，數日無效。蓋口不能開，藥難下嚥也。嗣延余診。</p>
<p>余察其脈息顏色，未犯絕象，乃細詢未病之前有無他故。如年曰：「余母在未病之前，異常健啖。一日三餐，尤以晚膳為最多。食必二三大碗，約近兩旬，日日如是。且最奇者，晚膳後立即就寢，人謂其不易消化，強之少坐片時，然後再睡，而余母不聽也。至前日忽患此疾，今已三易其醫矣，皆無效也。」余細思之，此必食積為患也。狀如中風，在中醫書中，名之日食中，亦類中之一種也。乃決以大承氣湯加萊菔子下之，但因口閉難開，服未盡劑。瀉只一次，其量亦不甚多，惡臭難聞。神識雖有時清醒，但旋又昏糊。</p>
<p>病家復延他醫治之，均無效果。蓋藥難下嚥，灌之大不易也。如此不言不動，僅有一息者，計二十一日，不死亦不得生，乃復求余診。</p>
<p>余以其遲延已二十餘日，且年過六旬，不敢用藥，只答以盡人事而已。乃以灌腸器行灌腸法，久之大便未通。乃復以大量蓖麻子油，用開口器開口灌之。不三小時，而腹鳴大瀉。瀉出之糞，如黑醬，如車軸油，如痰狀，如魚凍，其中夾有黑團，堅不可碎，惡臭不堪。</p>
<p>由此大瀉之後，神識漸轉清明，手足略能屈伸。問其病已二十餘日，不言不語，汝知之乎？則陳媼茫然不知也。後仍續服蓖麻子油兩次，瀉清腸垢，乃思飲食，於是慶更生矣。吾國醫書所謂塞者通之，蓋亦自然療法之一例耳。</p>
<p><b>大承氣湯加萊菔子方</b></p>
<p>錦紋大黃五錢　元明粉五錢　（分沖）　炒枳實四錢　上川朴三錢　萊菔子四錢（研）。</p>
<p>按：此方如當時設法多灌，必可得下而愈，不致多延兩旬。後改服蓖麻子油者，恐年高病久不勝也，而服之果效，亦僥倖耳.</p>
<h3>青年飲冰食中證</h3>
<p>天時炎熱，晚場觀影。邊食霜淇淋及冰棒，枵腹歸來。進食油炸蛋飯，睡後無何，忽然不語。醫以中風、痰厥或中惡治之，不效。詢得其情，斷為食中，以大承氣湯加瓜蔞、乾薑主之。</p>
<p>曹家渡有劉裕昌窯貨號，其小主人年25歲，毫無前驅症狀，於夜間二時左右，忽然昏糊不語。當時延附近醫生治之，或云中風，或云痰厥，或云中惡。至日間下午四時，五易其醫，絲毫無效，乃飛車延余往診。</p>
<p>余入病者之臥室，見其父母妻子，皆流淚滿面。因診病者之脈，沉實而有力，身體四肢如常，不厥不熱，一如常人。呼吸略粗，而鼻微帶鼾聲，與常人睡眠無異。以手扳其下頷，亦隨手而開，無牙關緊急之痙象。使余無從知其病原，惟按其脘口。則頗滿硬。</p>
<p>因問其妻日，「夜間得病，汝何由知其不語，始於夜間二時左右乎？」曰：「昨夜伊隨友人某君，同至金城大戲院看電影。因腹中飢餓，又恐夜間戒嚴（時在敵偽時期），回至家中，命我為備夜膳。食畢即就寢，時已十二時有餘矣。始尚言語、翻身，至二時余，我詢其欲飲茶否，則已不能語矣。」余聞所食何物，及食之多寡。曰：「豬油炒飯一大碗，另加油煎荷包蛋二枚。以其飢甚，故多與之也。」余曰：請招其友來。無何友至。余又問曰：「劉君作與閣下同去，可有其他飽食否。」其友曰：「別無他物。只有在戲院中，頻呼胸熱口渴，伊…人曾食霜淇淋兩客。散場後，又食冰棒三支，即各歸家。」余曰：「病情得之矣。」立書大承氣湯加瓜蔞、乾薑與之。大黃、芒硝，各用至八錢，川朴四錢，枳實六錢，全瓜蔞一兩，加乾薑三錢，以溫通其脾胃之陽。並囑其速服，遲恐氣閉不救。病家無法，只得照服。余歸來後，則不能安枕。</p>
<p>次日上午十時，復來延余。曰：「昨日下午六時灌藥，幸得緩緩灌下。至八時大便一次，依然昏糊。九時半又大便一次，其量甚多，病者旋即清醒。告以昏糊已一日夜，則如夢初醒，茫然不知，今晨更覺清醒矣。」余聞之大喜，立即偕與俱去，至則闔家歡忭，病者亦含笑道謝。余即細為之診察，改用調胃承氣之輕劑，加理氣和中之品，以清其根株。並告以「此病名食中，因先飲冷，而大暴食，大傷脾胃，因而不能蠕動。胃家如此之實則氣閉，氣閉則交感神經失其作用，影響於腦，故完全失其知覺。非風非熱，故不痙；非虛非寒，故不厥；非上焦有痰，故呼吸不喘哮。此亦宿食之證，《金匱》未言，而後世方書曾言之矣。所見不多，故醫家能言之者亦少，即或遇此證，其不當中風痙厥治者亦鮮矣。設問診及腹診稍一疏忽，則不明病原，藥劑妄投，病者之生命危矣。」病家皆大嘆服。</p>
<p>但此食在胃脘，而用下法，此亦為醫者之權變。至如瓜蒂散之催吐，是否亦能治此等食中之證，非余所知。總之宿食在胃，神識清明，有泛惡欲吐之勢，則瓜蒂散又為不易之方也。</p>
<p><b>大承氣湯加瓜蔞乾薑方</b></p>
<p>大黃八錢　芒硝八錢　川朴四錢　枳實六錢　全瓜萎一兩　乾薑三錢</p>
<h2>腹痛</h2>
<h3>寒結腹痛證（一）</h3>
<p>婦人忽然腹痛，頗為劇烈，手足發厥，漸漸肢冷。醫斷為急性盲腸炎，或能蔓延成腹膜炎。驗血結果，白血球增加至13000。促病者入院開刀，病者不可。余由聞問兩診，得知為葷膩雜食成病。且滿腹皆痛，痛無固點，脘腹拒按，手不可近，欲吐不吐，大便不通。以大承氣湯加桂枝、蔞霜、焦楂、薑製半夏主之。</p>
<p>有龔志芳女士者，其夫鄧君，服務於商界。在抗戰勝利前一年重九節之日，龔女士忽然腹痛，勢甚劇烈。鄧君立以電話請林醫師來診，蓋林為鄧君之友也。無何，林至。經診察之後，告鄧君曰：「腹痛忽然而來，四肢冷，非急性盲腸炎不能致此。但我還不敢肯定，再請我老師會診，方可決定。」鄧然其言。</p>
<p>林去無幾何時，與其師某醫同乘汽車而至。後經兩人再三診斷，謂「十有八分為急性盲腸炎，而更有蔓延成腹膜炎之可能。須再驗血，方能確定。」當即為之注射消治龍藥水一支，又抽血少許，置藥箱中，相偕飛車而去。一小時後，林醫師復來。說明「據驗血結果，白血球已增加至13000。如再不斷增加，便有十二分之危險。最好速送醫院開刀，不過此證危險性大，不能十分保險，須經簽字，方可施行手術。」鄧君聞言開刀，即有懼意，而龔女士亦再三拒絕。即請林醫師先回，容闔家商量決定後，再通電話，於是林醫師乃告辭而去。</p>
<p>總之，此症經過明確之反複診斷，其為急性盲腸炎，更有蔓延腹膜炎之趨勢。須經剖腹之手術而割治之，毫無疑問矣。當鄧君聚集子女及家人等討論此開刀問題時，而病者仍然拒絕。且曰：「既不保險，我寧可死去，決不開刀。」其子女多人，亦不敢相強，鄧君更無主張。其子文濤，幼曾從余習古文辭。忽提議曰：「何不請余老師一診，惟余老師為中醫，不知內服方亦能有效否。」鄧君同意。文濤立來延余，並告我以前醫診斷之況。</p>
<p>余既入門，其長女迎來，低聲告余曰：「咋天日間，我母已身倦不舒。我父於晚間六時宴客，我母於此時曾食葷湯泡飯一小碗，兩個肉圓子，以及豬肝、蝦子等，夜間腹中即有微痛。今日重陽，我母不自小心，又食重陽糕少許，因之腹痛加甚，且已嘔吐兩次矣。」而女傭虞媽，亦同時證明所食之非虛。余未診病，已由聞診而得其情。</p>
<p>登樓之後，見病者面無人色，口唇發青，四肢發冷。按其脘口及腹部，均大呼疼痛。余曰：「現仍有欲嘔之勢否？」曰：「仍有欲嘔不嘔之勢也。」余曰：「大便解過否？」曰：「大便已三日未解矣。」余令其仰面而臥。試將兩腿伸直。病者勉從余言，伸直兩腿，並非如盲腸炎狀，其右腿不能伸直。又按其盲腸部。問曰：「此處痛否？」曰：「痛在滿腹中，不定在此處也。脘口以下，經過臍部至少腹，處處皆覺痛也。」再診其脈，沉實而有力。</p>
<p>余即告病家曰：「照中醫看來，此滿腹之痛，並非盲腸炎，盲腸部有壓痛點，而右腿必不能伸直。此是簡單之寒滯作痛。如肯信余言，一帖中藥，可以好轉，三劑收功。不必憂懼也。」因為之處方，以大承氣湯加桂枝、蔞霜、焦查、薑夏主之。</p>
<p>病家照法煎服，時已夜11時矣。初服之後，腹中猶時時作痛，無何腹內雷鳴。至二時許，大便暢解一次，而腹痛頓減其半。連服二煎，至四時又解大便一次，五時許又解一次，垢膩俱下，疼痛全無，四肢完全轉溫矣。</p>
<p>至上午八時復延余診，余見如此好轉，私心輒喜。再按其腹部，已大轉柔和。然重按之，尚有微痛也，知為余滯未清。再將硝、黃酌減其量，佐以降氣消痰之品，令再服一帖。次日再進香砂六君子一帖，於是完全治癒矣。</p>
<p>最值得注意者，即任何腹痛，醫便認為盲腸炎或腹膜炎，隨便開刀剖腹，總覺武斷。若此種寒滯腹痛，果經開刀，而割去盲腸或蚓突，其將何以善其後乎。故吾中醫之望聞問切，不可廢也。</p>
<p><b>大承氣湯加桂枝蔞霜焦查薑夏方</b></p>
<p>錦紋大黃四錢　元明粉四錢（分沖）　川厚朴二錢五分　炒枳實三錢　川桂枝二錢五分　瓜蔞霜二錢　焦查肉五錢　薑製夏三錢（按舊時稱闌尾炎為盲腸炎。後同。）</p>
<h3>寒結腹痛證（二）</h3>
<p>勞工飢飽不時，內傷飲食。加之汗後當風，脘腹受寒，以致發生腹痛，漸漸加劇，外無寒熱。痛極之時，額流冷汗，四肢微厥，曾發嘔吐數次，其量不多。醫斷為急性腹膜炎，開刀費重，難勝其任。余診其脈，沉實有力，與大黃附子湯合甘草乾薑湯。一劑而便通痛減，再劑而滯盡身和，終以調理之劑。又二劑而痊。</p>
<p>患者段大柱，係一勞動工友，住京江路平房中。在1948年9月間，段之鄰人顧云龍，於深夜冒雨乘車，來余診所扣門，其聲甚急。</p>
<p>啟門詢之，則告我以段性急證，來請出診者，於是相偕登車而去。將至其門，即聞病者呼痛之聲，刺人耳鼓。及入病者之房，見病者身體屈曲，作蝦兒狀態，兩手自撫其腹，重則號叫，輕則呻吟。額上有汗，捫之清冷，輕按其腹，則痛不可近，而少腹為尤甚。詢其大便，已四日未解。診其兩脈，則沉實而有力。察其舌苔，則厚膩而微乾，尖白根黃，而中則白而帶黃。捫其周身，則毫無熱度，而四肢微厥，手足較甚。斷其為寒結無疑，非溫下之不為功也。</p>
<p>因再詢其致病之由，據其妻代述頗詳。謂「段為勞動工人，惟因工作關係，時常飢飽不均。餓則飢腸轆轆，飽則大腹便便。於前日曾取得工資，購買豬頭肉及螃蟹食之，又加飲酒數杯，身有微汗。食後於門前少立，開懷當風，不片時即覺身涼，而闔戶就睡。至後半夜，即覺腹痛而醒，愈痛愈劇，曾發嘔吐兩次，痰涎與食物並出，但所吐之量不多。翌日晨。即至平民醫院就診。據醫生斷為急性腹膜炎，非施行開刀手術不為功。詢其手術費幾何，則其數之大，又非我等勞動階級所能負擔。即回家延中醫診治，服藥均無效果。延至今夜，因腹痛之極，曾發厥兩次，故情急謀於顧君，而於深夜煩先生也。」</p>
<p>余得其追述之情況，更堅信心，以溫下為得。望聞切三者，既得其大概，加以問診，則得其全盤病理矣。乃處以大黃附子湯合甘草乾薑湯，囑如其法煎服。設藥後而仍發嘔吐，則嘔出亦佳。如不嘔吐，則必於三小時內，可以得下。迨一下之後，必漸轉安靜矣。</p>
<p>病家如法煎與服之，初則泛泛欲吐，及服至一半，則反較平。待全服後，倚臥片時，已不欲嘔，始行臥下，而腹猶陣痛不已也。半小時後，覺腹內與周身，較有溫感，痛亦略輕。至二小時又十分鐘，果覺腹內作響，漸至轉動下行，肛口忽迫，不片時而大便解矣。先下乾燥之糞便，繼下乾燥之糞球，終下黏膩之污泥狀物，於是疼痛立減其半。至翌晨續服二煎後，又解大便二次。則黏膩較深，黑汙較減，然尚夾有小核之糞粒也。下午復請再診，將前方減量，加行氣之品，再服一帖，於是腹痛全除。接服調理之荊，扶持正氣焉。</p>
<p><b>大黃附子湯合甘草乾薑湯方</b></p>
<p>生大黃五錢（酒洗）　熟附片五錢　北細辛一錢　炙甘草三錢　炮薑炭三錢　生薑五片</p>
<p>按：再劑之方，少減大黃、薑、附之量，去細辛，加木香、砂仁、檳榔、枳殼。</p>
<h3>氣滯腹痛證</h3>
<p>病者患慢性腹痛，久治不痊，延及年餘。發時則隱隱作痛，並不劇烈，且無固定痛點。大便則時硬時溏，或若醬色，一日一二次不等。斷為飲食不調，腸道濁汙氣滯，以阿魏香檳丸主之。</p>
<p>學生顧玉初者，於1942年，曾在前上海中醫專校讀書一年，余時任教務主任。後以日寇進佔舊租界，決將醫校停辦，以示不屈於敵偽。顧生遂停學業，其父兄皆以商業起家，因令其改習漆業於金陵東路某漆號，於是棄醫就商矣。光陰荏苒，在抗戰勝利之第三年，患生腹痛症。初則水泄，繼經治療則轉溏，腹痛由重而轉輕，以為可以不藥矣。且工作繁忙，即偶有微痛，遂亦置之，洵至月餘不痊，乃懼而求醫。投以理氣之劑，不效；投以通腑之劑，又不效；投以溫補之劑，不效；投以溫散之劑，而仍不效。醫固不一其醫，治亦斷斷續續。時經一年有半，而腹中隱痛之疾，依然如故。</p>
<p>嗣乃就診於西醫，經詳細診察之下，謂有慢性腹膜炎之疑，或有慢性盲腸炎之可能。但診斷在疑似之間，難於肯定，必須開刀剖腹，而求其病灶以割除之。其父兄固不同意，而顧生更加拒絕。一因診斷不明，不敢嘗試開刀，二因店中事忙，難於多日住院，遂決然出院。在此彷徨無計時，忽憶及余為過去之老師，乃車就余診。</p>
<p>余詳詢其既往症，遍閱前醫諸方，而皆不效，心亦怪之。知此慢性腹痛症，其腸道不清，濁汙沾滯，其由來久矣。根蒂既深，補之不能，病及年餘，攻之不可。復思阿魏之品，有除垢解毒、調整腸道之功，此可以一試之矣。乃為之處方，藥僅三味，製成膠囊丸劑。因阿魏味臭難服，故用此囊也。丸為阿魏、木香、檳榔所製成，名日阿魏香檳丸。</p>
<p>丸藥製成後，告以服法。每日早晚各服一次，每次一粒，開水送下，或早中晚各服一粒。詎顧生服丸三日之後，腹痛漸減，時行濁氣，惡臭異常。大便亦爽，而更臭不可當。連服旬日，腹痛頓除。迨停服二三日後，痛又微作。余令再連服之，是根株尚未盡也。連服二十日之久，再停藥試之，於是腹痛不作矣。由此知阿魏之功，在以臭攻毒，而清利腸道也。</p>
<p><b>阿魏香檳丸方</b></p>
<p>真阿魏八錢　廣木香　花檳榔各四錢</p>
<p>先將阿魏切成小粒，如小豆大，置微火上烘乾。因其質黏硬，若不烘乾，不易研碎也。次將木香、檳榔，研成細末，共置大乳缽中，慢慢研之，使成極細末。用西藥房中二號膠囊，分裝約150～160粒。每日分早晚二次服，或早中晚三次服，每服一粒，開水送下。</p>
<h2>水臌</h2>
<h3>重篤水臌證</h3>
<p>年過四旬，患生水臌脹症。兩足俱腫，腹大如鼓，臍部突出，腫脹上至兩脅，氣急而喘，小便不利，口乾而燥。經醫放水三次，旬日即又復腫。蓋放水取效一時，必須溫復腎陽，乃能小便自利。主以傅氏決流湯，一劑而水利鬥余，三劑腫消大半，間以香砂六君，再以原方減量，數服而痊。</p>
<p>時在抗戰之前二年，有患者張姓，鹽城人，年四十餘歲，為仁濟醫院工友，患生腹水，即中醫之水臌脹證也。漸至腹脹如鼓，症狀如上文所述。經該院醫師為之放水，以套管針刺人腹部之皮下深層，放出水量頗多，腹脹立消，至為爽快。但日常飲食所需，多有水分，不數日間，腫又漸至，約旬日而復腫如初。經醫師再行放水，其立消如前，而復腫亦如前。後經三次之放水，而仍如前狀，於是醫師技窮，而患者大懼。</p>
<p>時有其同鄉人徐汝楫者，為該院助理醫師，張因與謀之。徐君問日，汝願中醫治療乎？張曰，求愈病耳，何問中西。徐乃介紹至余所，詳告以前之病情，及治療之經過。余稍一沉思，以吾中藥方劑之治水臌證者，或效或不效。獨《傅青主男科》中之決流湯，未曾試過。且此證經醫院醫生放水，服藥未能見功，若不以峻劑投之，恐難獲效也。因其腫脹反復，且勢頗重，恐原方量尚不足，特增量與之。且其時肉桂價昂，病者力有不逮，特將肉桂減量，而另加桂枝與之，令其照法煎服。</p>
<p>次日張又乘車自來複診。下車時，余見其體較減輕，步履較健，面欣然有喜色。迨入室後，即告余曰：「昨日服藥，不二小時，即小便一次，其量頗多，而解時亦頗爽。又二小時，繼服二煎。一夜之間，連解小便五次，每次暢爽。今腹腫已大減，而臍已不突矣。」因解衣以腹部示余，視其腹皮已略起皺，余亦大喜過望，因此方為第一次之試驗也。因令連服二帖，隔日再行三診。</p>
<p>即隔日果來，見其下車時，身體便捷如常人。再告我以服藥之情形，覺每次小便，腹壁及膀胱收縮力加強，故小便之爽利，為病後至今所未有，飲食亦日漸加多矣。因為之將原方減量，再處以香砂六君子湯，扶持脾胃，即以此兩方相間服之，共八帖而痊。此余來申開業之第五年，即1935年事也。</p>
<p>自此方試驗成功後，凡遇水臌脹證，皆以此方治癒。蓋此方之組織，大有經方之遺意。以醜、遂行水治其標，以肉桂溫陽培其本，藥味少而效力專，此所以效如桴鼓也。</p>
<p><b>傅氏決流湯方</b></p>
<p>黑牽牛子四錢　制甘遂三錢　上肉桂一錢（另燉沖）　川桂枝三錢　車前子一兩</p>
<p>原方醜、遂各二錢，肉桂三分，車前同，無桂枝，今因證重，故改其制。</p>
<p><b>香砂六君子湯方</b></p>
<p>廣木香三錢　縮砂仁六分　薑製半夏三錢　土炒白朮三錢　潞黨參三錢　廣陳皮二錢五分　炙甘草二錢　雲茯苓三錢　生薑三片</p>
<h3>慢性水臌證</h3>
<p>婦人年過五旬，患生水臌。初不甚劇，治之時或輕減，時又增劇，延及年餘，漸漸深重。小便短赤，腹大如鼓，脹至兩脅，臍窩突出，兩腿腫如象足，有時心悸。與以傅氏決流湯，以其胃弱，間以香砂六君子湯，加桂枝、豬苓，兩餘月而漸痊癒。</p>
<p>患者張媼，年55歲，原籍蘇北漣水。於1952年初患胃弱，脘腹飽滿。繼則發生水臌。由腹部及下肢漸漸腫起，延醫治之，時減時重，如此延至年餘，飲食更少，知為水臌也。節減水量，而口乾特甚。以久治反復，來滬就醫，因其子其媳，均在滬也，住於梅園路之平房中。適有其鄰人在陽傘廠做女工者，因肝胃氣痛及月信不調，經余治癒者，因介之來診。</p>
<p>余察其症狀，如前所述。見腹部青筋暴露，臍窩突出頗甚，氣息不平，兩脅雖膨脹，而脅以上則不腫，胸可見肋，上肢亦瘦削而不腫。以指捺其腹部及下肢，則指痕宛然，下陷不起。心忖此婦年事已高，且因久病年餘，決流湯在所必用。但量宜稍減，且須間調胃之藥，不能如體壯者之求速效也。乃為之處方如次，一為傅氏決流湯，一為香砂六君子去人參加豬苓、桂枝。令其先服第一方，以開其流；兩帖之後，再服第二方一帖，以培其本，恐其不任攻伐也。</p>
<p>至第四日再來複診，則腫勢已較減矣。據病者自述，第一日服藥之後，夜間小便即較多，平均計之，約三四小時，即須小便一次，初時色尚黃赤，繼則赤色較淡。第二帖服後，小便通利如前，其解時之距離亦如前，但小便只黃而不赤矣。第三日服第二方，覺精神較佳。余見治已獲效，囑病者安心靜養，屏去思慮，年事已高，病又年餘，只求緩效，但求不反復也，病者頗以為然。令其照原方再服三帖，若繼見功效，可於第四日間不服藥，蓋恐病者服藥已多，見藥而生厭心。病既獲效，則久病之體，服藥又可不必太急。</p>
<p>治至第五日，病者復來，面色更見好轉，水腫續有消減。據述服藥之後，向來大便乾燥者，則漸轉暢爽。至昨日大便爽後，今則胃納亦較佳矣，余亦大喜過望。因其水腫已大減，即將牛、遂二味稍減其量。胃納已漸佳，即於第二方香砂六君子中，仍加入黨參三錢，加強扶助正氣。其初去人參者，蓋恐胃氣未復，不能大補也。今胃氣已復，故仍加之。令其服藥如前，但間藥改為二日，二日後再服如前。再間藥二日，至愈為止，不必再來矣。</p>
<p>病者去後，約三閱月未來，料其必已全愈。一日復來就診。據述前次連服藥三個周環，病已痊癒。不知近旬日'來，何以復又腹腫。余察其別無異狀，腫勢亦未甚，令其照前方再服。以理推之，再服四個周環，必可痊癒。並囑其再戒慎口腹，不食葷腥。另以山藥煮爛加白糖食之，以健脾益氣，脾氣健則消化佳，消化佳則正氣足矣。後照服食之法，果競全功。</p>
<p><b>傅氏決流湯方</b></p>
<p>黑牽牛子三錢　制甘遂二錢五分　上肉桂八分（另燉沖）　川桂枝二錢五分　車前子八錢</p>
<p><b>香砂六君子去人參加豬苓桂枝方</b></p>
<p>廣木香三錢　縮砂仁八分　薑製半夏三錢　土炒白朮三錢　雲茯苓三錢　木豬苓三錢　廣陳皮二錢　川桂枝二錢五分　炙甘草一錢五分　生薑三片</p>
<h2>奔豚</h2>
<h3>婦人產後奔豚證</h3>
<p>婦人產後受寒，素來體虛，時有自帶。及至產後三日，勞作菜圃中，每疲極坐地，因之感寒腹痛。氣由少腹上衝，時聚時散。醫以惡露未盡治之，不效。發時則氣上衝心，粗如小臂。咬牙閉目，肢厥如冰，旋又自行消散。試以桂枝湯加桂枝，不效。再以桂枝湯加肉桂，一劑知，二劑已，三劑全平。</p>
<p>在未述本案之前，特破吾書之例，首述本病之研究。蓋此證雖不多見，然臨床偶有遭遇之者，若不知其治，則為醫者之過矣。此證名日奔豚，分見於《傷寒》、《金匱》中。其云：「發汗後，燒針令其汗，針處被寒，核起而赤」者，此為病源之一例。又云：「必發奔豚，氣從少腹上衝心，」此是病狀之特徵。但徵之實際，往往不因針處被寒而起，多有少腹直接受寒而起者。執是以觀，是受寒為其主因，不無疑義。夫寒者，無形之氣也，捫之而不得其狀，視之而不見其形，吾人少腹之受寒者，其病狀亦各有不同。有腹痛而便秘者，有腹痛而水瀉者，有膀胱氣滯而小便不爽者，有經停而少腹結痛者。此奔豚之氣，從少腹上衝心，不過受寒症狀之一耳。</p>
<p>然其或有或無，忽痛忽止，果何故耶？推其原因，是體內之正氣，與寒互爭，所起之紛擾現象也。比之於少陽病之寒熱往來，正復類似。蓋少陽病之寒熱往來，亦邪正相爭所造成。正勝邪，則發熱；邪勝正，則又發寒。奔豚症之氣忽上衝，是寒勝正之表現；氣忽消散，是正勝邪之結果，故成此忽發忽止之局面也。</p>
<p>至後世醫家，違反仲景原意，不作寒斷，謂是腎之積氣，而引用桂枝加桂湯。亦謂為伐腎邪、泄腎氣，真不可解矣。究竟與腎何關，胡言亂道，自欺欺人。後世以少腹一切病證，皆責之於腎。此必脈法所謂尺以候腎、腎主下焦之說以害之也。</p>
<p>奔豚一症，西醫書中無類此詳細之記載，如歇斯底里之婦人，腹中有積氣衝動，名之日歇斯底里球。但彼為神經系統病，與此症又完全不同。然細考之，或即西醫之風氣疝痛（Colica flatule-noa）。其症狀為腹部膨滿、緊張、壓痛、暖氣、腹鳴、矢氣等。但未說明有忽作忽止之症候。然以奔豚氣、風氣疝痛兩病名觀之，皆有一氣字，則近是矣。其他病證，則與此不合。</p>
<p>前哈爾濱醫學專門學校校長閻德潤氏，以西醫立場，推測此證。其言曰：「胃病中與此症狀相似者，則為特發性胃擴張，或胃肌衰弱症。此症為胃小彎居於正常位置，而大彎則下達於臍旁以下之少腹。此乃胃中有液體及空氣存在之徵也。」不知胃擴張，及胃肌衰弱之症狀，與此病截然不同。此症來去飄忽，有如鬼祟。忽然而來，則腹中奮起一條，有如木棒；忽然而去，則腹部立即濡軟，一如常時。不似胃擴張及胃肌衰弱症，為慢性胃病，常常腹部膨大也。是閻氏之推測，根本即不能成立，蓋此症實不在臟器之實質中者也。</p>
<p>余於奔豚一證，往昔曾治癒數人。均用桂枝湯加肉桂，藥到病除，如響斯應，此得於庭訓乃如是。然未敢以加桂枝一法，而以病家為試驗品也。抗戰前一年，余任中國醫學院教授時，曾與同道爭論此點，乃欲一窮其究竟。適有趙姓婦，年四十餘，以產後三日，即勞作於菜圃中。時或坐於土地之上，體虛受寒，始則陣陣腹痛，繼則氣由少腹上衝。群醫以為惡露未盡，多用行瘀散結之品，不效。其痛益劇，發則其氣暴起，由臍下直上衝心。粗如小臂，硬如木棒，病者則咬牙閉目，氣息俱停，手足發冷。如此約四五分鐘，腹中積氣四散，氣息復舊，神情漸安。一日夜中，要發七八次至十餘次不等。延已一星期之久，始延余診。</p>
<p>余決為奔豚證，因欲試驗加桂枝一法，是否有此能力，乃用桂枝六錢、芍藥四錢，他藥准此比例。與服一劑，不效。再劑，亦不效。而病者則痛更加劇，體更憊甚，米飲且亦不進，余思不能再以病者為試驗品矣。乃將桂枝減為四錢，與芍藥等量，加頂上肉桂五分，囑令將肉桂另行燉沖與服。迨一服之後，其痛大減，脘腹之積氣四散，時時暖氣，或行濁氣。繼服二劑，其病若失。</p>
<p>余經此試驗，適足證明桂枝無此能力。讀者之疑，可以決矣。蓋桂枝氣味俱薄，散表之力為專。肉桂氣味俱厚，溫裏之力為大。今用桂枝以代肉桂，何濟於事乎。</p>
<p><b>桂枝加桂枝湯方</b></p>
<p>桂枝六錢　芍藥四錢　炙甘草三錢　生薑二錢　紅棗十枚。</p>
<p>按：桂枝湯原方，桂枝與芍藥其量相等。此用芍藥四錢。桂枝六錢，超出之二錢，即為加重之量。連服二劑，毫無效果。</p>
<p><b>桂枝加肉桂湯方</b></p>
<p>桂枝四錢　芍藥四錢　炙甘草三錢</p>
<p>上肉桂五分生薑二錢　紅棗十枚。</p>
<p>按：此方一服之後，其痛大減，衝氣漸平。繼服二劑，獲得痊癒。</p>
<h3>青年體弱奔豚證</h3>
<p>青年身體素弱，面色晦黃，偶因腹部受寒，不時作痛。始則腹內雷鳴，自覺氣動；繼則隱隱作痛，臍下悸動，或左或右；終則忽然上攻，氣衝胸脘，時作時止。發則手足發冷，額有驚汗。以桂枝湯加肉桂與之，四劑痊癒。</p>
<p>有淮安東鄉扒頭橋趙庶華者。旅居於滬。其子年方19歲，身體素弱，面色晦黃，若蒙垢之狀。飲食只及常人之半，不耐風寒，稍感即病，不能多食，強穀則亦病。故父母對之極為重視。在1948年秋7月間，趙子忽發奔豚之證，如上文所述。發作之時，臍下覺有氣起，漸漸直上衝胸，痛連胸膈，甚則咬牙閉目，氣息俱停，額有涼汗，兩手兩足均發冷，口唇及指甲發青藍色，約二三分至四五分鐘。忽又積氣自散，氣息復舊，手足轉溫，額上汗收，痛苦頓除。如此時作時止，每日六七次至十餘次不等，醫藥罔效。舉家驚惶，視為怪病。</p>
<p>庶華乃謀之於其戚李錫頤君，李令就余診之。余一見知為奔豚，當以溫言慰其父子曰：「此證古醫書載之，時醫不讀古書，故治之不能有效耳。」且期其必愈，以精神療法，堅其信心。為處桂枝加肉桂湯方，令其如法服之。</p>
<p>即次日趙攜子來，復就余診。欣欣然有喜色曰：「果如先生言，一服之後，已見減輕。而發作時亦較短，次數亦減少矣。」因令其照方再服一劑。至第三日，將原方去桂枝加茯苓、白朮。連服兩劑而安。</p>
<p><b>桂枝加肉桂湯方</b></p>
<p>桂枝三錢　芍藥三錢　炙甘草二錢　上肉桂五分　生薑一錢五分　紅棗六枚</p>
<p><b>前湯去桂枝加茯苓白朮方</b></p>
<p>芍藥三錢　炙甘草二錢　上肉桂五分　茯苓三錢　白朮三錢　生薑一錢五分　紅棗六枚</p>
<h3>百合病（勞工百合病證）</h3>
<p>勞動工人，重病之後，身體憊極，正元難復。其症狀，一如《金匱》百合病條文所云：百脈一宗，悉致其病也。意欲食而不能食，常默然，欲臥不能臥，欲行不能行，飲食或有美時，或有不欲聞食臭時，如寒無寒，如熱無熱，口苦小便赤，諸藥不能治，得藥則劇吐利，如有神靈者，身形如和，其脈微數。且多一症狀，音啞不能出聲。經用百合地黃湯加味主之。四閱月始痊。</p>
<p>患者詹龍臣，高郵人，為某廠之勞動工友，住中山北路建民村。於1954年春季，患生傷寒。其後病雖去，而身體憊極，正元久久難復。即有百合病之後遺症，此即西醫所謂續發性神經衰弱症也。經醫治療，均無效果。後經廠醫檢驗，云係鉤蟲為患，致體弱難復。即用殺鉤蟲之藥及下藥與之內服，孰意一下之後，不但體力愈不能支，且立增音啞，不能發聲。詹君懊傷不已，深懼死期之將至。</p>
<p>時已至六月，詹之戚楊星候君，介就余診。余細詢病前之經過，更細察現在之症狀，全盤與《金匱》中百合病之徵象相同。惟多一音啞，為《金匱》所未有。且知為用下鉤蟲藥而有此證。於此時也，不得不慎重考慮矣。蓋病久體虛，不能速效。設病者信心不堅，或不能寬假時日，則必至中道更醫，功虧一簣，所謂行百里者半九十也。乃先以精神療法，堅其信心。次告以必須半年之久，方可完全獲效。並將《金匱》原文及諸家注解，以及余之《金匱要略新義》示之，期其必愈，堅其信醫之念。</p>
<p>因遵仲景法，為之處方如後。計四易其方，均以仲景百合地黃湯為主，以加味之品為輔。連服兩月，較有進步，而喉音漸響。此時已至八月，新百合已下市。因令之再食新百合，每晨、夕各煮一碗，加白糖食之，以代點心。藥則每連服三帖，停藥二日。如此四閱月，遂完全告痊。</p>
<p>廠中見其病已痊癒，促其早日上工，病者猶有懼心，詢之於余。余令其再休養一二月，廠方疑其狡猾，復令就廠醫診之，為之證明，乃為有效。詎廠醫檢驗，仍謂其有鉤蟲，再度令服殺鉤蟲及瀉下之藥，病者勉從之。不料一服之後，瀉下四次，而前證復作，全盤如舊，音亦復啞。廠中令改就上海市第十一人民醫院診之，醫謂有梅毒之疑，病者力白其無，遂忿而出院。</p>
<p>復求余診。余覺再度反復，不同前證。在無可奈何中，仍用前精神療法，使病者去其懼心。再為之處方，依前加減，令其安心服之。迨服之既久，亦即緩緩收效。又凡三易其方，而漸全愈。直至1955年6月，身體及聲音乃全復常態。</p>
<p>此病之難治，若不依仲景經方，變而通之，其不瀕於危殆者幾希矣。蓋此病之治，如戰爭後之破屋殘垣焉，主在撫輯流亡，助其緩緩修補及建築，不在於攻敵。蓋此破屋殘垣中，已無疾病之大敵也。今將諸方全案，列之於後，以破吾書之例焉。</p>
<p><b>【初治全案】</b></p>
<p>詹龍臣1954年6月6日初診勞工苦力傷氣，加以病後失調，正元難復。消化則影響胃腸，喘息則累及肺臟，久久未愈。其間時輕時重，洵至神經衰弱，心緒不寧，坐臥失序。一如《金匱》百合病篇之所述，且經誤下失音，此大虛之證也。擬方緩以圖之，屏去思慮，知命樂天，乃有可為。</p>
<p>蒸百合四錢　生地黃五錢　帶皮耆（蜜炙）三錢　懷山藥四錢　雲茯苓（朱衣）三錢　大麥冬三錢　紅棗十枚陳小麥一兩（先煎）</p>
<p><b>二診：</b>1954年6月27日前進百合地黃湯加味之方，漸有向愈之機。飲食較多，聲音微響，面色亦較佳，惟大便乾燥，此津液未復之故，不足為慮。擬方再求進步，佐以食療。俟食復津回而便爽，則諸症可悉去矣。</p>
<p>蒸百合四錢　生地黃四錢　帶皮耆三錢　柏子仁三錢　懷山藥三錢　南沙參三錢　大麥冬三錢　陳小麥一兩（先煎）</p>
<p><b>三診：</b>1954年7月23日進劑漸見好轉，面色較華，步履亦較健，惟聲音尚未全復。近日來舌苔稍厚，中夾濁滯，大便仍覺不爽，擬方再求進步。</p>
<p>南沙參三錢　帶皮苓三錢　肥知母三錢　懷山藥三錢　帶皮耆（蜜炙）二錢　火麻仁三錢　土炒白朮三錢　大麥冬三錢　杏仁泥三錢</p>
<p>按：此時新百合已上市，即令其日以百合煮爛，加糖食之，早晚各一次，故方中未用蒸百合。</p>
<p><b>四診：</b>1954年8月7日原為久病神經衰弱，經治之大見進步。惟近數日來，天氣炎熱，新秋尚有暑熱之邪，胸中煩熱痞悶，治當舍本治標。</p>
<p>香薷二錢　制夏二錢　五分檳榔三錢　神麯三錢　藿香三錢　蔻仁一錢五分　蔞皮三錢　蘇梗三錢　花粉三錢　生薑兩片　竹葉四十片</p>
<p>按：此方連服三帖，新感邪去。仍接服第三方，至十月初，而病癒音復。</p>
<p><b>【再治全案】</b></p>
<p>詹龍臣1955年2月14日初診客年重篤之百合病，即神經衰弱症，久病不愈。經用百合地黃湯加味方，漸見好轉，約四閱月而愈。惟久病體弱，正元尚未十分恢復。近以他醫謂有鉤蟲，用殺蟲藥及下藥，病又反復如初，又變失音。擬方再求合轍，惟一再藥誤，恐較前為難治耳。</p>
<p>蒸百合四錢　生地黃四錢　大麥冬三錢　遠志肉二錢五分　朱茯苓三錢　帶皮耆（蜜炙）三錢　酸棗仁三錢　陳小麥一兩（先煎）</p>
<p><b>二診：</b>1955年2月29日進劑幸漸轉平，夜眠亦較佳，飲食亦較多。惟兩腿尚覺無力，大便軟溏，喉音未復。擬方再求進步。仍宜屏去思慮，事事樂天，則更易見功。</p>
<p>蒸百合四錢　生地黃四錢　南沙參三錢　遠志肉二錢五分　補骨脂三錢　淡玉竹三錢　酸棗仁三錢　朱茯苓三錢　帶皮耆（蜜炙）三錢　陳小麥一兩（先煎）</p>
<p>按：此方連服至四月底，體漸復元，喉音漸響。至五月中旬，音亦完全復舊。</p>
<h3>久瘧（亂型久瘧證）</h3>
<p>病者初患感冒，繼轉瘧疾。五易其醫，均未獲效。且病者有阿芙蓉癖，延至半年，體愈不支，後即任之而已。但此後雖不覺重，而病型漸亂，發無定時。如此又延半載有餘，飲食更少，贏弱不堪。余以首烏故紙湯，二服而病減食增，六服而完全治癒。接服補中益氣湯，恢復健康。</p>
<p>在1941年，時余任上海中醫專科學校教務長。有女生翁幗英者，家住浦東三菱塘。其父初患感冒，繼轉瘧疾。經浦東附近醫生治之，五易其醫，而久久不效，因之厭醫厭藥。此後即偶爾就醫服藥，亦繼續不常。且其人壯年，即有阿芙蓉癖，體失豐腴。此時年已五旬餘，患瘧至半年之久，其贏弱之情，可想而知矣。如此而任之者，又數閱月。病狀雖不見重，而病型則錯亂無定矣。即有一日一至者，有二日一至者，有三日一至者，亦有五七日一至者，或有一日間二三至者。自病型一亂，而發作之時間，則無一定。久而久之，雖發時已漸輕，然而不能止也。如此又數閱月。前後計之，共有一年零七個月之久，體憊愈甚，飲食更漸減少，僅以芙蓉膏及稀薄粥，為維持生命之要素矣。</p>
<p>翁生於放秋假時，回至浦東，即勸其父來滬就醫。父以不信醫，故卻之。即至將放寒假，翁生又函勸其父，來滬試行醫藥。俟考試完畢，偕同返家。經疊函苦勸，方始就道。至滬後，翁生即請余診。</p>
<p>其未來之前，翁生已詳告余，即臨床診視，骨瘦如柴，腹凹如舟，呼吸亦較微弱，白睛發青，膚乾脫皮。舌質色絳而不澤，且根部中部，均現黑色，知其腎陰固虧，而阿芙蓉更灼其津液也。詢其發作之情況，則依然如前所述。乃決定為方，因定名首烏故紙湯，令服兩帖再診。並以溫語慰之，使其信醫，而精神振作，始有補於服藥也。</p>
<p>迨兩帖服後，於兩日間只發作一次，但極輕微，且時亦頗短，飲食漸佳。惟大便未得暢解，乾燥異常。因於方中加淡蓯蓉及全當歸，以熟附易肉桂。</p>
<p>連服四帖，便爽食增，而寒熱亦從此絕跡矣。復思此時可以大補矣，再為之處以補中益氣湯。令服十帖，以扶正氣。父女喜出望外，果然寒假大考完畢，相偕返回浦東，歡度舊曆新年矣。</p>
<p><b>首烏故紙湯方</b></p>
<p>制何首烏六錢　破故紙四錢　大熟地三錢　熟附片三錢　炮薑炭二錢　山萸肉三錢　雲茯苓四錢　土炒白朮四錢　薑棗引</p>
<p><b>首烏故紙湯加減方</b></p>
<p>制何首烏六錢　破故紙四錢　大熟地三錢　上肉桂八分　炮薑炭二錢　山萸肉三錢　淡蓯蓉三錢　當歸身三錢　雲茯苓四錢　土炒白朮四錢　薑、棗引</p>
<p><b>補中益氣湯方</b></p>
<p>西黨參三錢　炙黃耆三錢　土炒白朮三錢　炙甘草一錢五分　全當歸三錢　廣陳皮二錢五分　綠升麻一錢五分　春柴胡二錢　生薑三片　紅棗五枚</p>
<h2>噦病</h2>
<h3>氣鬱食滯噦證</h3>
<p>少年氣盛心愚，事非其罪，而被責打，午餐未畢，忍忿就睡。因之食滯中脘，氣逆胸膈，發生呃逆，此《傷寒》、《金匱》中之噦證也。五日不愈，詢之大便未解。與以調胃承氣湯加味方，一服而便利噦止。再劑而膈快胸寬，藥未三劑，霍然而痊。</p>
<p>丹徒人王炳臣者，住滬南大木橋之瓦平房中。此房地產乃其戚金君所有。王君兒女眾多，貧不能自存，來滬相依。金君即令其住於平民村中，為之代收租金，以度其清貧之生活。時在抗戰前一年之某日，王以收來之房租數元，置之案上屜中。至午飯完畢，再取時，已不翼而飛。問其妻彭氏及諸兒，皆云不知。王以長子大槐，已18歲，有竊取嫌疑，指為伊取。而大槐不承其罪，云：父事太煩，或別處遺忘。時其子午餐尚未畢，王在盛怒之下，飽以老拳，其子因氣忿而睡臥不起。迨至傍晚，即發生呃逆。初則時斷時繼，繼則終日不停，非至夜間疲極睡去，則呃逆不能稍止。然間一二小時，又因忽發呃逆而醒。中經醫療，均未獲效。病者苦之，而其父亦轉怒為愁矣。</p>
<p>嗣乃延余診治。既至病家，由王妻彭氏告余以詳情，知由氣鬱為患。因察其舌，則尖雖白而根已燥黃。詢其大便，則病五日，即五日未解。診其脈，則微弦數。捫其膚，則微有熱，按其腹，則痛而微滿，他無所苦也。再索閱前醫之方，則甲醫用丁香、柿蒂，乙醫用代赭、旋覆，然而均不愈也。因告王君曰：「前方之所以不效者，非病邪為之，乃氣鬱為之，乃鬱氣夾停食為之，故其用理氣降逆之藥不效也。蓋食後被責，肝鬱而逆脾，脾虛滯於運化，脾氣不輸助於胃，故胃亦失職，而不能司消化之權也。治當疏肝醒脾以調胃，乃可愈矣。」因為之處方，以調胃承氣湯加廣鬱金、春柴胡、焦白朮、雞內金四味。</p>
<p>一劑而大便暢解，呃逆即停，腹脹亦減。再劑則大便續解二次，膈爽而胸部亦寬，時時噯氣，漸覺知飢思食矣。令服薄粥三日，戒慎口腹，勿令其再反復也。病家遵囑，而獲痊癒。</p>
<p>然有為讀者告者，即此方之治，並不神奇。在經方中，此常方耳，此常法耳。惜時醫不讀《傷寒》、《金匱》，以致不解其理，不用其方。《金匱》嘔吐噦病篇不云乎：「噦而腹滿，視其前後，知何部不利，利之愈。」今病者因氣悶而致鬱結，因停食而致不消，食氣相搏，合而為病，且大便不解五日，此後部不利之的證也。因以調胃為主，佐以疏肝醒脾，而成相需相濟之功耳。用之果然有效，仲景豈欺余哉。</p>
<p><b>調胃承氣湯加柴鬱術金方</b></p>
<p>錦紋軍　元明粉各三錢　炙甘草二錢　春柴胡二錢　廣鬱金三錢　焦白朮　雞內金（炙）各三錢</p>
<h3>痰滯結實噦證</h3>
<p>高年稍覺違和，並無寒熱，胸脘作阻，氣悶頗甚，醫治無效，漸至食不得下。延及半月之久，體憊神糊。按其脘腹，滿硬且痛，時有呃逆。舌苔灰黃厚膩，小便黃赤。詢其大便，已旬餘不通。斷為結於中焦，有氣閉之險。擬以黃龍湯加瓜蔞、蘇子、萊菔子、木通主之。</p>
<p>有陳阿匯者，年69歲，住志丹路甘泉一村。其子女皆勞動工人，家境頗寬，此古稀之老人，坐享其成。老人年事雖高，而向少疾病。在1954年11月間，初覺身體小有違和，並無寒熱外感之候。只覺胸脘氣悶作阻，時輕時重，如噯氣則較寬，此時尚能勉強行動。廠醫治之無效，延他醫治之，亦無效。漸至氣不得噯，胸脘滿悶更甚，食不得下，只稍飲白開水而已，體憊神糊，臥床不起。</p>
<p>其家屬聞廠中其他工人言，延余診之。時在12月4日下午，距起病時已半月矣。登樓入室，見病者平面仰臥，氣息已微喘。診其脈，沉細而弦。察其舌，苔滿膩黃而乾。捫其腹，滿硬而痛。問其大小便，則病已半月，只於旬日前解得少許，小便初為深黃，近則黃赤也。詢其有無呃逆，則於兩日前已有之，約二三小時發一次，若斷若續也。詢其有無譫語，則於夜間偶有之，聲低而語亂不清，心知此為囈語，而非譫語矣。蓋譫語屬實，囈語屬虛也。且在七旬之人，囈語其宜也。不獨老人之囈語為險症，即壯年之囈語，亦危證也，何況呃逆已間作，胃氣將閉而絕矣。因為踟躕者片時，蓋處方須周詳考慮也。</p>
<p>當告以「病之危險，已達極度。依病論之，不得不下。以年論之，下之頗險。故其難在此。姑擬一方，試之何如。」病家同意，遂為之處方。用黃龍湯方，再加益氣、降氣、祛痰之品。令煎成湯滿碗，以徐徐灌之。如頭煎服之，四小時後，大便不解，則連服二煎。如四小時前已解，則二煎於翌晨服之，其伸縮在此。蓋不得不下，而又不得不顧全其體力也。並囑大便每解一次，須看一次，看其乾濕如何，夾雜如何，色澤如何，次數多少。使明日複診，用藥之增減有把握也。即至登車南返時，沿途已燈火萬家矣。</p>
<p>次日下午三時，果有電話來請複診。當詢其大便解否，日已解矣。神識清否，日尚未全清也。余即再度前往，細察病者之神情，已較為清晰。其家人告余以服藥後之情形，曰：「自昨晚九時服頭煎，至十二時後，大便始解。初則乾硬異常，其色黑，夾有稠白之痰狀物，著於其上。二次所解，則為球狀之糞塊，與醬色之糊狀糞夾雜而下。至今晨天將明時，又解一次，均為糊狀糞便。七時左右，始服二煎。午前午後，又各解一次，但色仍黏稠如醬也。神識雖未全清，然囈語呃逆，已不作矣。余再診其脈，沉已較起，而細已較大，知已有轉機矣。因將前方之黨參去之，易以茯苓、白朮，去木通易以滑石，並去瓜蔞、蘇子霜，令其再服一帖。</p>
<p>第三日復延三診。則神識完全清明，已自能翻身轉側，舌苔退去大半。詢其大便，已轉淡黃，小便已較清暢，略思米飲矣。因囑病家以薄粥及藕粉，與服旬日，禁食他物。由少而多，不可過量，否則必致食復也。再為之處以清理腸胃、益氣生津之方，而獲全愈。</p>
<p><b>黃龍湯加瓜蔞蘇子萊菔子木通方</b></p>
<p>錦紋軍三錢　元明粉四錢（分沖）　川厚朴三錢　炒枳實四錢　潞黨參四錢　生地黃四錢　全當歸三錢　全瓜萎三錢　蘇子霜三錢　萊菔子霜三錢　均木通二錢五分</p>
<p><b>再診方</b>（即前方加減）</p>
<p>錦紋軍三錢　元明粉三錢（分沖）　川厚朴三錢　炒枳實三錢　雲茯苓三錢　焦白朮三錢　萊菔子霜三錢　生地黃三錢　全當歸三錢　飛滑石三錢</p>
<h2>頭風</h2>
<h3>兒童頭風重證</h3>
<p>兒童九齡，初病頭痛，繼愈加劇，他無所苦，廠醫治之無效。痛之間歇時間更短，發則頭不能舉，臥床作嗜眠狀態，喚之則神識尚清，與昏睡又不同。嗣入醫院診療，內服注射，四旬而無效。更於頭側開刀，注入藥液，不但無效，痛更加劇，改延余診。詳問既往症狀，斷為頭風。投以羚羊清肝湯，一劑知，二劑減，六劑全愈。</p>
<p>陳姓工友，住楊樹浦路鴻德坊內之平房中。有獨子年方九齡，初患頭痛之病，無大寒熱，以為常事，未加注意。經三四日，漸覺加重，始延醫療治。數易其醫，而皆無效。即就廠中勞保醫師診治，打針服藥，兩皆無效。而痛之間歇時間則更短，發作時則如鑽如刺，頭不能舉，倒於床上，成嗜眠狀態。惟此嗜眠狀態，不是昏睡狀態，只是因頭痛而頭不能舉，只好著枕睡眠耳。喚之則亦強應，問之亦覺明白，與昏睡之不省人事者不同。在頭痛間歇之時，或較輕之時，強之倚臥，亦可倚臥一二刻鐘。強之飲食，亦可勉食半碗至一碗稀飯。二便亦調，惟大便或隔日一解。總之他無所苦，惟有一頭痛之頑固症狀而已。</p>
<p>唯是獨養之子，父母珍愛，可想而知。乃法外設法，改入金陵中路某醫院住院療治。在幾位醫師聯合診斷之下，經驗血、驗便、驗尿後，依次用藥療治，以及注射、電療，均無效果。住院一月有餘，病兒之父母，因廠中工作頗忙，只好隔日到院看兒一次。不獨醫藥及住院費可觀，即車費一項，因路遠亦覺不支。在一月有餘中，已用去舊人民幣100余萬元，而病則依然如舊，絲毫未減。其後經治醫師得病家同意，為之作最後療法，以冀作背城之戰，所謂成敗在此一舉也。其法於病兒頭部右旁腦蓋骨與顳骨之合縫處，將皮屑割開，用某種藥水，由骨縫中注入腦膜，再將頭皮縫好。經過一夜，至第二日，頭痛不但不減，反而更形加重。醫師仍欲作第二次腦膜注射，而病家信心已失，堅決不肯，隨請出院。醫師無奈，遂令其填寫自願出院書，簽名蓋章。乃出院返家，以待其子之死亡。</p>
<p>鴻德坊之樓房中，有韓師母者，聞知病兒未愈，已由醫院歸來，前往詢問。見病兒如此情形，因貢獻意見曰：「大醫院中既治之未愈，汝之獨養子，將聽其死耶。何不請中醫一治，治之而有效，則拾到一個兒子；設治之不效而死，汝夫婦是為父母者，亦算盡到最大之人事，而對得起這無知孩子。」病兒之父母，同接受其意，由韓以電話招余往診。</p>
<p>余既至病家，備詢過去之情形，細察現在之症狀，以及開刀之處，逐一看過，覺甚無把握。當即告之曰：「此頭風之證，若未經開刀注射腦膜，則較有希望。今既經過注射，且又痛更加劇，腦膜是否受傷，不得而知。即使有法治療，亦只一試，以盡人事而已。今為處一方，先服一帖，有效則再招複診，否則聽之而已。」</p>
<p>後思肝熱為此症之源，息肝風、清肝熱者，惟羚羊角尚矣。因以羚羊角為主，為之處方如後，名日羚羊清肝湯。所以配以石膏者，因羚羊角價貴，貧苦之溫熱病者，每以石膏代犀、羚，且能清表裏之熱。配以葛根者，因葛根能清解經樞之熱也。他如丹、地之平肝涼血，而瀉伏火；天麻之疏肝通脈，除諸風掉眩；僵蠶之散風輕升；蟬衣之除風散熱，各有專長，相因為用。並令其先以冷開水服下羚羊角粉之過半，一刻鐘後，再服下湯藥。並囑湯藥只須五六分熱即可，不可太熱，恐減低羚羊角效力也。過四小時後，再服二煎。仍是先服羚羊角粉之小半後，再服下湯藥。於是病家至達仁堂配方，照法再服。</p>
<p>次日上午十一時，忽接電話，即病兒之父，告知服藥之後，情形好轉。頭痛已減十分之三，嗜臥狀態亦稍減，精神亦較為清醒，大小便增多自動解過，能食一碗米粥，下午還請複診。余聞之，心喜無量。下午復至病家，病兒正在睡覺。輕輕喚醒，睜開兩眼，似乎目光亦較佳。問其頭痛減否，兒答「已減輕矣。」問其有無其他苦楚，兒答「別無苦楚，頭痛一愈，我無病矣。」余心暗喜過望，知是羚羊角之功。便告知病家，病情確已好轉。如能逐漸進步，不再反復，便可高枕無憂矣。乃於原方上再加香白芷二錢，甘菊花二錢，令其如法再服。</p>
<p>至第三日上午，陳姓自來余所。告我病情更減二分，扶坐於床上，時間可以較久，兩眼睜開時間亦較長，不似以前，喚之則勉開兩眼，開過則眼又閉合，此方真靈。惟是羚羊角太貴，每分三萬元，六分便是十八萬元。兩月來已所費不支，而此兩劑方子，便靠近四十萬元（按：至1955年始發行新幣，改一萬元為一元）。現借貸為難，如之奈何。余因勸告之曰：「經濟是你的問題。照病情而論，既已大見減輕，此後羚羊角可減少為四分。藥既對證，余可不去複診。速服二劑，病再輕減，羚羊角可再減為二分。以完全治癒，一點不痛為止。病不見效，余不勸汝。病既見效到如此地步，切不可功虧一簣也。」陳某欣從余言而去。此後人既未來，電話亦未通，病之好壞，不得而知。</p>
<p>後又一月有餘，韓師母偕一李師母，帶其孫兒來診。入門即欣然告余曰：「前月陳姓之兒，為先生六帖羚羊角，治癒大醫院不治之證矣。」余再細詢其情況，即陳姓回家以後，東借西貸，先減羚羊角為四分，再減羚羊角為二分，共服四帖。連前共六帖，完全就痊矣。</p>
<p><b>羚羊清肝湯方</b></p>
<p>羚羊角粉六分　生石膏二兩（先煎）　粉葛根三錢　粉丹皮三錢　乾地黃四錢　明天麻一錢五分　炒僵蠶三錢　淨蟬衣一錢五分</p>
<p>按：此方，至再診時，減羚羊角為四分，加香白芷二錢，甘菊花二錢。</p>
<h3>青年頭風重證</h3>
<p>船廠工友，患生感冒。諸症退後，獨遺頭痛不痊，時減時劇。廠醫治之，多日無效。改就仁濟醫院門診，內服注射，亦未見功。發則頭痛目眩，間歇時較輕，夜間常至失眠，病者苦之。嗣就余診，斷為頭風。治以清肝涼血散風湯，五次加減，兩閱月而始痊。</p>
<p>患者陰景琢，年24歲，住中興路397弄，為造船廠工友。在勞動汗出之時，致患感冒。寒熱頭痛，肢節酸楚。嗣經廠中勞保醫師治療，寒熱已除，肢酸亦痊。獨遺頭痛之候，久治不效。特向廠中請求，改送仁濟醫院診治。院中以病房人滿，令其每日門診。內服注射，亦久久不痊。前後約三月有餘，不但毫無寸效，且頭痛更形深沉，有時如鑽如刺，有時減輕，呈間歇之候，稍有精神刺激，立即疼痛如初，甚至牽及頸項，下連肩背。以致飲食漸少，大便亦於燥，小溲更深黃，病者自分難愈矣。時勞保醫院，尚無中醫參加，在外就診，廠中不予負擔。</p>
<p>有季子甫者，與陰某為同鄉。詢知其久病未愈，介就余診。並告余以治療不效之經過，且云：「在外延醫，不就指定之醫院，則廠方於醫藥費用，即不肯負擔。且患者父老多病，家中人口眾多，向外借貸為難」云。余乃細察其現在症狀，詳詢其既往症狀，知非用羚羊角決不為功。告知病家，亦頗以為苦。無已，為其酌處一方，定名清肝涼血散風湯，令服兩帖，再來複診。</p>
<p>詎服後約減百分之十，蓋見效甚微也。因於原方加藁本、白芷，令其再服兩帖。此兩帖服後，痛又減百分之十。總之較前為減輕，尚不能大見減退也。然方已對證，是乃毫無疑義，因令續服四帖。並告以病近四月，根蒂已深，但求緩效，而不反復，即可達治癒之目的矣。</p>
<p>迨至四帖服後，而病者覺似減非減，惟大便不爽如前。因於方中加錦紋軍一錢五分，目的使大便通暢，導熱下泄，必可稍減也。乃服藥之後，大便果爽，而頭痛果減，巔頂及後腦，痛幾減去一半。即全盤計之，約減百分之五十也。惟兩太陽即鬢部仍覺未減，且時聶聶作痛。因於原方去大黃、羌活、藁本，加白蒺藜三錢，春柴胡三錢，龍膽草二錢。令其連服三帖，兩鬢痛亦大減。</p>
<p>至複診之時，則見病者入門，已去其包頭之巾，而健步笑容而入。余謂諸生曰：陰姓頭痛已大減矣。諸生曰：何以知之？余曰：見其頭巾已去。故知之也。及坐定問之，果然，於是相與大笑。略再診察，即將原方諸藥減量，去龍膽、柴胡，加茯苓、白朮以益氣。連服五劑，而完全就愈。</p>
<p><b>清肝涼血散風湯方</b></p>
<p>夏枯草三錢　粉丹皮四錢　生地黃八錢　生黃芩四錢　生石膏二兩　粉葛根五錢　川羌活三錢　甘菊花四錢　冬桑葉四錢　淨蟬衣三錢</p>
<p><b>再診方</b></p>
<p>即前方加藁本三錢，白芷四錢。</p>
<p><b>三診方</b></p>
<p>即再診方中，加錦紋軍一錢五分。</p>
<p><b>四診方</b></p>
<p>即三診方中，去錦紋軍、羌活、藁本，加白蒺藜三錢，春柴胡三錢，龍膽草二錢。</p>
<p><b>五診方</b></p>
<p>即四診方中，去龍膽、柴胡，加雲茯苓四錢，焦白朮四錢，其他諸藥，為酌減分量。</p>
<p>按：此證於二月中旬就診，至四月中旬始痊。</p>
<h2>痙病</h2>
<h3>兒童食積痙病</h3>
<p>八齡兒童，身體素壯，學校歸來，頓然發熱。至下午四時，忽發急驚病證。角弓反張，項背均強，兩目上聳，手足拘攣，牙關緊急，欲嘔不出，口角流涎，有時行腦膜炎之疑。余詢知其端陽之節，食角黍、魚肉頗多。此食積胃脘，釀生內熱，反射於腦也。以硝黃蔞葛湯一下而愈。</p>
<p>鎮江蔣鶴齡中醫師，寓於貴州路鏞壽裏，夫婦年近五旬，只庶出一子，愛逾拱璧。時年8歲，在小學二年級讀書，身體素壯，活潑而頑皮，課外活動，更不逮言，故素平不易致病也。在端陽佳節之次日晨，以包車送至學校，尚無絲毫病象，至十一時，校方以電話通知蔣醫師云，其子發熱頭痛，速來包車接回。蔣即自乘車往，抱之而歸。自己診察後，即投解表退熱之劑，不效。再服二煎，仍不效。延至下午四時許，熱度更高，頭痛神糊，而又時或煩躁。至此時期，忽發急驚之狀，如上文所述。</p>
<p>一家驚惶失色，延余診之。蔣即問余曰：「此時腦膜炎頗有流行，吾子得非是證耶。」時餘年才三十，見其身體頗壯，知為健啖之兒童，且為獨子，平時雜食必多。因按其脘腹，則兒知拒按，膨滿而硬實。詢其日來所食何物，據蔣師母告余，謂「因節在端陽，三日前已食角黍（即棕子）。早晨及下午，皆以角黍為點心，中午及晚餐，皆有魚肉雞鴨及火腿等等。因其素來健啖，故未之禁。即今晨上學時，尚食角黍兩大枚，一小枚，其他枇杷、荔枝，更無論矣。中午前車接歸來，下午即病變如此，先生其救我愛兒。」余聞其言，知為食積胃脘，腑氣不通。不通則閉，閉則釀生內熱，循經反射於腦，因而致痙。若不急攻其胃家實，則痙必不止而殆矣。因思《金匱》痙病篇，有以大承氣湯治陽明痙病之法，今可師仲景之法以治之。因擬硝黃蔞葛湯，令其速服無疑。</p>
<p>蔣從余言，立令配方灌之。詎初灌之時，吐出痰涎頗多，夾以少量不消化之食物。稍停再灌，緩緩灌至二十分鐘，始將頭煎灌下。後不二小時，大便即解，如膠如醬，此時痙象已減。再隔半小時，又解一次，於是神識清醒，痙象全無矣。次日再延複診，全家稱謝至再至三。又將前方減量，加和胃及清熱之品，兩帖而安。</p>
<p><b>硝黃蔞葛湯方</b></p>
<p>生大黃三錢　元明粉四錢（分沖）　炒枳殼三錢　全瓜蔞四錢　粉葛根三錢　生黃芩三錢　焦楂肉四錢　萊菔子三錢　鮮竹葉三十片</p>
<h3>婦人驚恐痙病</h3>
<p>婦人氣鬱，中心窒悶，神思別有所注。忽驚喇叭震耳之聲，大驚走避，熱汗滿身，心悸肉明。迨驚定汗收，即覺頭昏腦脹，漸至惡寒發熱。次日即熱甚譫語，煩躁不安，反復顛倒，口乾欲飲，齒垢唇焦，舌色紫絳，兩目均紅。再次日則忽發痙象。與以白虎合瀉心湯加葛根、瓜萎、遠志、石菖蒲，一劑而得汗得下，譫祛痙除。再劑而熱退神清，煩停渴止。終以涼膈散合增液法，兩劑而痊。</p>
<p>有劉守書者，充電車公司查票員，生活小康，時而深夜遲歸。其妻王氏，疑其別有金屋也，每（目間）良人之所之，然終無所獲。而劉已知之，亦不向其道破。一日，其妻知下班時間，劉必隨車歸公司，乃往公司前門較遠之道旁候之。但候之頗久，心急意煩。當此心思別有專注之時，一切聲息，均不入其耳鼓矣。於途旁踱來踱去，低首而思。有另一汽車飛來，胎輪聲響，而彼不之覺也。迨車將飛至，司機者見途旁不讓，誠恐招禍，立按起喇叭。王氏忽驚此聲，倉惶逃避至路旁。道上之汽車，已一掠而過，猶聞汽車司機工友之詈罵聲也。</p>
<p>王氏無奈，只得返家。沿途猶心跳不已，抵家後飲涕啜泣。無何，即惡寒發熱，頭重腦脹。至次日，即轉煩躁不安，反復顛倒，神糊譫語，如見鬼神，不得一刻寧。口乾齒垢，而唇焦脫皮，大渴欲飲，而舌色紫絳，兩目紅如中酒，目睛轉動呆滯。如此情形，似應延醫治之矣。然妻則恨不延醫，夫亦忿而不理。再至第三日，則熱極上衝於腦，忽發痙象，頭項強直，手足拘攣，牙關亦緊，兩目上聳。症至此時，其夫始延余治。</p>
<p>余既得其病之前情，迨診察之後，斷為由驚懼而皮毛開，由皮毛開而風邪入，由風邪入而寒熱起，而迅至化熱，由風邪所化之熱，與肝鬱之內熱，合而上攻，於是痙象作矣。再參合其口乾欲飲，煩躁熱甚等種種症狀，乃決為之處方。以白虎湯合瀉心湯，以清之瀉之而除其熱，加葛根、瓜蔞根，以清其經腧之熱，加遠志、石菖蒲，以鎮其心中之悸，必得之矣。</p>
<p>服藥之後，大便連下三次。在大便第一次下後，皮膚即繼續有汗。三次下後，發熱即大減，而痙象亦逐漸減退。翌晨劉君視之，痙已全止，而病者熟睡矣。迨一覺醒來，神識已清。無何，索飲粥湯少許，更覺安靜，惟熱仍未清。第二診時，即將大黃稍減，又服一帖。大便復下三次，黃黑色已大減，熱全退清，而心煩、口渴全止矣。至第三診，既恐其餘邪未清，再行復發，又慮其熱痙傷津，須養陰液，乃改以涼膈散合增液法以為加減，而兩面顧及之。連服兩帖，神恬氣靜，津液已回，向之口乾舌絳，齒垢唇焦者，均一一復舊，而病癒矣。</p>
<p>復思痙病之治，《金匱》已示汗下之大法，用瀉心湯而不用承氣者，因其熱極而腹不滿也，應避厚朴之燥。用蔞葛而不用桂枝者，因其但熱而不惡寒，應避桂枝之溫也。然此方之剪裁，仍以《金匱》之大法所啟悟。至後用增液法者，因王氏生兒已多，氣血向感不足，加之肝鬱之久，陰分早傷，今不得已，而用清涼瀉下，病去養陰，又在所必須矣。至《金匱》奔豚篇中，有該病自驚恐得之之明文，余初尚疑之，今觀王氏之痙病，亦由驚恐而得，更信仲景先師之不我欺也。</p>
<p><b>白虎湯合瀉心湯加昧方</b></p>
<p>生石膏三兩　肥知母四錢　炙甘草二錢　錦紋軍三錢　生黃芩三錢　上川連一錢　粉葛根四錢　瓜蔞根四錢　遠志肉三錢　石菖蒲二錢</p>
<p><b>涼膈散合增液法方</b></p>
<p>川大黃二錢（酒洗）　元明粉二錢　淨連翹三錢　淡黃芩三錢（酒炒）　炙甘草一錢　生山梔三錢　潤元參三錢　大麥冬三錢　鮮生地四錢</p>
<h3>惡寒（陽虛惡寒證）</h3>
<p>病者日日惡寒，他無所苦。居平之時，人衣單而彼衣夾，人衣棉而彼衣裘。即盛夏之時，亦終日嗇嗇惡寒，必行走於烈日之下，上曬下蒸，皮膚有汗，乃不惡寒。入室片時，又復惡寒矣。夏夜必覆薄棉之被，冬令之重衾疊裘，更可知矣。詢之病近四年，脈微沉遲。投之以崔氏八味丸，不效。投之以甘草乾薑湯，又不效；投之以桂枝附子湯加肉桂、乾薑方，仍然無效。後過一年餘，忽以氣中而亡。</p>
<p>患者張廷乾，住閘北鴻興路，業老虎灶，有惡寒之疾。近四年之久而不愈，由同業王傑夫介就余診。</p>
<p>據病者自述，其惡寒之疾，並無任何誘因，係由漸而來。初覺身有微寒，以為受涼冒風，以薑湯服之數次，若愈若不愈。即有時不惡寒，有時復又微寒。因他無所若，遂亦置之。如此約月餘，漸覺寒甚，始就醫求診。一醫無效，再醫亦無效，三醫仍然無效。於是中醫不效，改就西醫，內服注射，久之亦無效果。其間有間藥一二月者，蓋諸藥不效，恨不服藥耳。如此者藥近四年，依然惡寒也。再後則惡寒更甚，雖至盛夏之時，亦復如此。必奔走於烈日之下，體力勞動，上為日光之直射，下為地熱之反射，乃可稍稍有汗，而惡寒得解。如一至室中，稍靜片時，則又嗇嗇惡寒矣。炎酷之夏夜。必覆以小棉被或毛毯，冬令寒冷之時，必重衾疊被，羊裘大衣，然猶惡寒不已也。</p>
<p>余因為之診脈，覺微沉遲，尺部覺較更沉，其他毫無病象。詢其家庭狀況，乃知固如齊人焉，而有一妻一妾者。然妻妾均無出，告余之時，猶深伯道之感，余乃慰之。斷為腎虧無疑，並戒其年過五旬，節欲為要。蓋縱欲則精氣衰，節欲則精氣盛，俗所謂寡欲宜男也。因令至胡慶余堂，購崔氏八味丸服之。少服恐難生效，必加量服之；短期恐亦不效，必長期服之。病者如余言，每次服五六十丸（梧桐子大），每日早晚各一次。服至兩月，依然無效，復就余診。余令一日三次，再服一月。然終服如未服，毫未減輕。</p>
<p>三次複診時，余以其未見寸效，因思脾胃陽虛，或亦致此，遂以甘草乾薑湯試之。依仲景方法，炙草用六錢，乾薑用三錢，速服十劑，亦不效。再將甘草加至一兩，乾薑加至六錢，續服五劑，仍不效。而患者心仍不死，必求我再為設法。</p>
<p>當此之時，余頗覺技窮。沉思至再，因想及惡寒之證，其病在表，表陽之虛，再因裏陽之虛，或合而致此。乃為之勉處一方，以桂枝加附子湯再加薑、桂，且其量亦重。令服五帖，不效。令續服五帖，以瞻其進退，過旬日後再來，仍然絲毫無效也。余以迭治不痊，乃堅謝不敏。</p>
<p>蓋最可怪者，即服藥改用三湯，始終服如未服。若謂不對證耶，則必致引起其他反應，而此則反應無之。謂為藥對證耶，則又何以大量不效，久服亦不效。故此病未愈，為余終身一大憾事。此一大疑團，中心蘊結，近三十年而不解。然此後廿餘年中，如張某之病，亦未見過第二例。復思一般醫者，每有治驗記錄，而治不驗者不與焉。余今特破向來之例，紀我之治不驗者，以告醫界同人，深恨學識淺薄，經驗未豐，尚希知者有以教之。</p>
<p><b>崔氏八昧地黃丸方</b></p>
<p>熟地黃八兩（九蒸、搗爛）　乾山藥四兩　山茱萸肉四兩　白茯苓三兩　牡丹皮三兩　澤瀉三兩　上肉桂一兩　附子一兩（泡去皮臍）</p>
<p>研為細末，煉蜜為丸，如梧桐子大，每次服三十丸，每日早晚各一次，溫酒下。</p>
<p>按：此方曾服至60～80丸。</p>
<p><b>甘草乾薑湯方</b></p>
<p>炙甘草一兩炮　薑炭六錢。</p>
<p>按：此方為第二次加重之量。</p>
<p><b>桂枝附子湯加肉桂乾薑方</b></p>
<p>川桂枝五錢　京芍藥五錢　炙甘草三錢　生熟附子各四錢　上肉桂一錢　炮薑炭三錢　生薑三錢　大棗十五枚。</p>
<p>按：此方生熟附子並用者，冀其溫裏兼達表也。</p>
<h3>善飢（急性善飢證）</h3>
<p>青年學生，體質中等，忽患善飢之證。一日六餐，每餐均屬多量，通常飯碗，約有十八碗之多。詢之他無所苦，惟飽食二三小時，即覺飢腸轆轆，不能忍也，而大便仍然如常，舉家駭極。余詢知，曾踢足球，而跌僕一次，然不能肯定為病原。姑以十全大補湯，去肉桂、加黃精試之，二劑而減，四劑而安。</p>
<p>在抗戰之前二年，滬南陸家浜有戴君如者，其長子求學於民立中學。每日晨八時到校，中午歸來午餐。一日，十時余，即快步回家，向其母素食。曰：不知何故，腹中飢餓異常，任何食物，其速與我。其母詫曰：汝今晨曾食粥三碗，大餅油條各一，何以兩小時後，即飢餓若此耶？戴生曰：我亦不自知。今趁第二課後，休息之時來家，快上第三課矣，其速與我。其母以昨日剩余之飯，用大碗盛之，加以開水，即與之食。此一大碗，約有尋常之兩碗。食畢匆促而去，蓋學校距家頗近也。至中午歸來，仍呼餓極。適其父亦歸，聞狀亦大驚異。立命取來飯菜，一家同桌而餐。戴君目睹其子之食飯，迥異常時。飯送入口，亦若不甚咀嚼，唇舌略動，即下嚥矣。計其平常飯碗，連食滿滿四碗。食畢已將近一時，又匆匆上學而去。詎至三時三十分，忽又返家，索食如前。中午飯多余剩，又急與之。立食三碗，擲箸起去。及至五時返家，仍然索食。食至兩碗，其母因止之曰：兒今一日間食量非常，姑自行克制之。稍待至六時，又晚餐矣，屆時再食可也，其子乃勉從之。即至六時晚餐，又食飯兩碗，啜粥三碗。</p>
<p>戴君固為驚異，經再四思之，他無病狀，此或偶然之事。即至次日，仍然飢餓如初，與昨日之情形，絲毫無異。至下午五時，挈其子來就余診，告余以昨今兩日之事實。診其脈無異象，不過微大微數，不足以為病脈耳。詢其昨晨到校，曾與同學賽踢足球片時，因搶球曾被推踢一跤，但毫無損傷。視此情形，亦不足為暴食如此之多之誘因。徵之中西書中，雖有善飢症之狀，不過時時覺飢，量稍增多耳，亦不如此之特甚。若以全日計，約有十八九碗之多也。詢其兩日來大便如何，則又不見增多，亦如尋常。其食之渣滓，從何道而去耶？</p>
<p>余沉思至再，不能得其病情，且亦從未見過，戴君則促余設法。余思暴食至如此之多，其有需要，必有所不足。不足即是虛，虛即當補。補之之方，氣血兼顧，則十全大補湯尚矣。然內有肉桂之溫，在大病後之需溫補者，必須用之。今戴生非病後之可比，決為去之，另加黃精以實之。蓋本草載黃精一品，有久服不飢之效，此真所謂「醫者意也。」余今以意為之，亦自覺可笑。遂以意立方如次以與之，令服兩帖，以瞻其效否。</p>
<p>詎意服藥一帖後，即覺小效。續服二帖，即覺大效。連服三帖，其飢餓之感，則戛然而止矣。後戴君偕子來謝，笑謂余曰：「雖云我之愛兒，若朝朝吃飯如此之多，則吾月薪所得，只供伊一人吃飯矣。」相與大笑。</p>
<p><b>十全大補湯去肉桂加黃精方</b></p>
<p>西黨參四錢　焦白朮四錢　雲茯苓四錢　炙甘草三錢　大熟地四錢　川芎三錢　全當歸四錢　炒白芍三錢　炙黃耆四錢　蒸黃精五錢　紅棗十枚　生薑二錢</p>
<h2>麻疹</h2>
<h3>麻疹夾食重證</h3>
<p>三齒幼女，先之以長途啼哭，風邪襲肺，繼之以葷膩雜食，脾胃大傷。四五日後，忽然發熱，而患麻疹。次日熱高如灼，肌膚乾燥無汗，疹忽隱伏，氣息喘促，目赤面緋，面帶紫暗，舌胎厚膩燥黃，大便不通，小便赤色，漸至牙齦腐爛，口出惡臭，煩躁不安，已呈絕象。投以瀉心承氣合增液法加味方，大瀉而轉安。嗣以藥未續服，終成敗證而殤。</p>
<p>余之此稿，曾刊於《世界醫報》（張贊臣與余合編），病而殤者，即余之第三女也。今當寫此稿時，回憶三十年前之情況，如在目前，猶覺心酸腸折也。女名玖兒，年才三歲，聰明異常兒。時余充本縣第三區小學校長，學生唱歌，兒仿效之，與風琴合拍，音節不訛。先嚴慈以下，無不愛之。適余姨母來余家，亦頗鍾愛。因姨弟早亡，無有孫息，迨返家時，必欲偕玖兒俱去。先嚴慈及余均不可，而內子反乎為母之常情，抱女置姨懷，促之發車而去。先慈亦以姨無嗣，不忍攔阻，心縱不舍，而亦無如之何。</p>
<p>孰意車行不數裏，玖兒不見親人，始則四顧尋望，繼則啼哭不已。雖經姨母哄騙，仍然哭不絕聲。當日野風亦大，土車行程十八裏，始至其家。立以糖果雜食，羅置其前，哄之食以止其啼。五日之中，凡一日三餐，以魚肉葷膩之品啖之。或一經啼哭，又以糖果雜食甘之。此時之病根已伏矣，而孰知之耶。至第六日晨．姨母忽乘車而至。抱玖兒下車人室，面有愁容，蒙兒以巾。余闔家一見，知兒必病矣，驚詢之，果然。察其症狀，如上文所述，並將兒攜去後之情形，詳細告知，而深自悔，不應將兒帶去也。當時兒送至後，立即隨原車而去。</p>
<p>先嚴診察後，立即處方與服。一劑不效，再劑亦不效，漸見嚴重。蓋先嚴以愛孫女心切，反而不敢用重藥，此亦人之恒情也。余心頗急，看此實火之證，熱已內陷，昏譫並作。其他症狀，均險象環生，如上文所述。忽思王孟英之言日，與其坐以待斃，不如含藥而亡。乃急書瀉心承氣合增液法加味方大劑，而密與之，不告先嚴知也。待服藥之後，神情甚安。不數小時，大便即通，瀉出惡臭污穢之糞甚多。體溫大降，牙齦不腐，口臭亦大減，周身皮膚，已轉潤澤。察其面色、耳紋、指紋、舌苔，卻為病退之徵，略思飲食，似病已去其七八者，闔家歡忭。</p>
<p>先嚴旋戒余曰：汝用此方，僥倖治癒此孩，亦大幸事，但慎勿過劑，過猶不及也。余是時以得失心太重，頗然先嚴之言。當日只與梨汁藕粉湯等品，神情絕佳。嗣思此孩，連日來進苦水已多，決至次日再加減一方與服。夜間亦甚安，次日上午亦然。約至下午三時，忽又覺煩躁，體溫漸熾。余大懼，急照前方原量與服，不意絲毫無效。夜間更甚，牙齦復爛，口中復出臭氣。雖連服前方，皆無寸效。症狀時時加劇，延至第三日夜間，添喘而殤。</p>
<p>余以轉機之病，忽大反變，中心痛切，莫可名狀。以後凡遇疹毒熱甚，不能外出，轉而內陷者，輒重用前方與之，甚或加犀角、羚羊尖，連服數劑，均獲救治，無一死者。是亦死了一個女兒，添了一個經驗，才能救了多少小孩。如次列兩條，皆其佐證。獨惜吾女之病，造之於他人之手，而吾女之殤，奪之於己掌之上。至今思之，猶覺有餘痛也。</p>
<p><b>瀉心承氣合增液法加昧方</b></p>
<p>上川連一錢　生黃芩三錢　生大黃三錢　元明粉三錢　（分沖）　大麥冬四錢　鮮石斛五錢　鮮生地五錢　生石膏一兩　金銀花四錢　淨連翹四錢　生梨汁半茶杯（沖）　鮮竹葉五十片</p>
<h3>麻疹熱厥險證</h3>
<p>六齡兒童，患生麻疹，醫藥罔效。三日即內陷，煩躁不安，兩目發青而上聳，鼻道乾燥灰黑，而鼻翼煽張，舌苔滿膩燥黃，而邊緣紫絳，口出惡臭，周身亢熱無汗，大便不通，小溲短赤，揚手擲足，指紋青紫，捫其心部，熱甚炙手，而手足發冷，此所謂熱厥也。先令委兒於泥土地上，次與瀉心承氣增液法加味方，大瀉之後，皮膚通汗，一劑知，二劑已矣。</p>
<p>同鄉人譚煥文，夫婦年過四旬，始生一子，愛之愈恒。時在1929年初夏，余初來滬設診。譚以余為內外科，故兒初病時，未延余治。經他醫連治三日，均無效果。至第三日，忽然內陷，症狀如上文所述。其戚左姨，謂與其坐以待亡，不知延余醫師以藥試之，觀其後果如何，譚然之。余既至，見症狀如此，頓感心酸。蓋憶及余玖兒之證，與此兒相伯仲也。</p>
<p>正診察間，譚之老父，即病兒之祖，曳杖而至。大聲叱煥文夫婦曰：「兒已將死，奄奄一息，何必費錢費鈔。醫生豈神仙耶，請醫生速去，不必將有用之錢，用之於無用之地也。」余聞其言，去留兩難。適有鄉人在側，扶譚父外出，並對之言曰：「老人家對兒女則可，當醫生如此發言，則醫生大難堪矣。」此時譚夫婦向余道歉，請為設法。余稍凝神，乃為之處方。案上載明證屬危險，姑擬一方，聊盡人事而已。後列之方藥，則為余數年前亡女玖兒所服之方也。並囑令將病兒置於泥土地上，任其反復，再續服此方，余即辭去。</p>
<p>迨一服之後，不三小時，大便暢解，黑垢異常，熱臭之極。繼則皮膚通汗而潤澤，熱度漸減。服二煎後，又解大便兩次。熱勢更減，煩躁漸安，目睛之青色，指紋之紫色，均漸減退，舌苔亦退其半，鼻翼亦不掮張矣。次晨復延余診，余心大慰。心記玖兒之病，以停藥一日而傷，今不可再蹈覆轍矣。乃將原方減量約三分之一，令再服一劑。大便續下三次，第三日續有輕緩，已略思粥湯矣。乃將次日方再減量與之。並與以粥湯、藕粉及稀薄之牛奶等，每三小時一次。在一星期內，以粥漸加稠，且莫多食，禁食他物。蓋積滯方去，恐傷脾胃，而余火復炎也。</p>
<p>余之所以用此方，認為發疹是一事，夾證是一事，最須看清。此兒之證，其夾證與余玖兒相同。即獨養子之過愛，平素必多雜食，此為一般人之恒情，而病根已伏於此矣，故敢用此大劑耳。所謂置之死地而後生，豈不然哉。然死一稚女，救活他孩。喜樂與悲傷，真難明也。</p>
<p><b>瀉心承氣合增液法加昧方</b></p>
<p>上川連一錢　生黃芩三錢　生大黃三錢　元明粉三錢（分沖）　大麥冬四錢　鮮石斛五錢　鮮生地五錢　生石膏一兩五錢　金銀花四錢　淨連翹四錢　生梨汁半茶杯（沖）　鮮竹葉五十片</p>
<h3>痘瘡實熱險證</h3>
<p>痘疹不起，實火內結。他醫誤進溫補，延至五朝，頭面碎密，胸腹稀少，舌苔乾燥，唇焦出血，鼻乾無涕，肌膚灼熱，捫之炙手，以致腠理不開，痘難外出，大便不解，煩躁不安，譫語神昏，大渴引飲，奄奄一息，生死反掌。姑以犀羚瀉火湯主之，得此大劑涼下，腑通肺開，皮毛亦開，痘立起發而趕漿，終脫險境。</p>
<p>阜甯顧允卿之子，年13歲。於九月出痘，二十日見點，始延甲醫某治之。甲醫見痘不起發，用參、耆、歸、芎、肉桂、僵蠶、炮甲、皂刺、桑樹蟲之屬，以溫補烘托之。至四朝依然不起，熱度更高，次延乙醫某診之。乙知甲醫之誤，改進活血化毒清熱之劑，如紅花、紫草、大貝、知母、連翹、石膏之屬。無如該乙醫膽小，石膏雖用至一兩，奈因病重藥輕，且又泥於活血，故仍不能見效。乙醫復托人轉告顧君曰：「此死症也，我無療治之法矣。」顧君一聞此言，其傷悲焦急為何如，此第五朝之情形也。</p>
<p>時余出診於他方，顧君急以長途電話招余回。余診之，見其顏面碎密，猶如蠶子，唇下成餅，兩頤及頷下，只有綠豆大五六粒之亮殼痘而已，胸腹甚少，背部亦不多，兩臀成片，均如蠶子，而不成為痘，腿以下更無論矣。肌膚炙手，唇焦裂口，咽喉疼痛，舌苔焦裂斷津，鼻腔燥而出血，大渴引飲，譫語神昏，奄奄一息。余觀此情形，隨問曰：「在未發熱未見點之前，曾食何物否？」顧君沉思少頃，忽曰：「先生不問，余幾忘之矣，發熱前曾食蟹也。」余又問曰：「曾服何藥否。」顧君急取甲醫及乙醫方箋與余。余審視一過曰：「乙醫之方，雖未完全到竅，然尚無害大事。甲醫之方，實誤之矣。但余既來，當處一方，以盡人事。服不服主權在君，好與否我不負責，君能許我，我即處一方，否則余不處方也。」於是得顧君之一諾，為之處方，以犀羚瀉火湯主之。</p>
<p>顧君取方箋，至藥肆購藥，適甲醫過而見之，訝問曰：「此方殺人之方也，令郎之痘症，補托之尚恐難起，何能涼下？一用此方。豈有不痘毒內陷，而早送其生命者耶。」顧君無法，復延乙醫商之。乙醫對余所處之方，不加可否。蓋乙醫雖知余為撤手一著，而究以一派涼下、分量太重為畏途。</p>
<p>復又延余，請三人會商辦法。余既至，先聆甲醫之教言，次余起謂「此症熱熾之極，臟腑熱燔於內，肌膚熱灼於外，痘為熱灼，焉能外出。猶之久旱不雨，地質乾燥，毫無潤澤之氣，又為暴日所蒸曬，穀何能生芽長髮。必須傾盆大雨，氣候轉涼，大質沾潤，穀方可生。此孩之痘症，勢亦同此，非用大涼大下之劑，清其內外之實熱不為功。且其發熱之前，曾食蟹，下藥更不可不用。夫如是，熱度減退，腠理始開，毛竅始透，痘乃可出。此乃實熱證，如怕服涼下之藥，命恐不旋踵矣。」語畢，余即興辭而去。余去後，甲醫亦去，臨行復告病家日，「此方萬不可服，下喉即死。」甲既去，有顧君之友施趙卿者，謂顧曰：「我雖不知醫，今見余醫師之方，有膽有識，決非無經驗之可比。病已至此，生死一發，不妨一試，死馬當作活馬醫也。」乙醫亦漫應曰：「別無他法，只好一試而已。」於是乃決定服余方。待磨成羚羊角粉，至服方時，已至夜深十二時矣。</p>
<p>次晨黎明時，顧君扣門入，欣欣然喜曰：「昨夜服藥後，至四更時瀉一次，天將明又瀉一次，解下污垢燥黑之糞不少。腹中似尚未清，但高熱已見減低，痘亦陸續外出矣，煩再診之。」余偕之去，見痘果外出，為數不少，色轉紅活，不似以前之焦枯，熱已較減，而昏譫亦不作。誠轉機矣。余乃將前方中之犀角一錢，減為五分，羚羊角六分，減為四分，仍令先服之。另為之注射握姆納丁（Omnadin）兩針，以增加體內蛋白質，使其抗毒力加強。至第三診，又減大黃至一錢五分（次診、三診在六朝）。第五診除去大黃，第六診除去犀角、羚羊角，減石膏為二兩，其他諸藥，逐漸酌減分量（五診、六診在七朝）。直至第十診，方除去石膏而不用（十診在九朝）。</p>
<p>計此孩先後所服石膏，約有三斤之多。後至十三朝，日晡寒熱，有如瘧狀，知為元氣大傷，故呈此瘧狀。余乃改以保元湯為主，佐以清餘熱、解余毒之劑，數服而痊。</p>
<p><b>犀羚瀉火湯方</b></p>
<p>烏犀角（沖磨）一錢　羚羊角尖（磨沖）六分　生石膏四兩　生大黃三錢　上川連二錢　生黃芩三錢　銀花一兩　淨連翹五錢　生山梔五錢　鮮生地一兩　鮮石斛一兩　鮮竹葉五十片　活水蘆芽五兩，熬水煎藥，先服犀、羚，冷開水下，次服湯藥。</p>
<h3>痘瘡虛寒險證</h3>
<p>幼兒初發微熱，繼則感染天花，出於膚面。醫初用炮甲、皂刺，嗣用黨參、黃耆，然均無效。至四朝不見起發，改用清涼，證立轉危，奄奄一息。余察其面現蒼白，身體瘦弱，知為失乳，詢之果然。急以溫陽益氣湯托之，是夕喃喃不安，次日晨，痘果起脹矣。</p>
<p>阜甯有葛劍吾者，充縣立師範教師。其幼子才三歲，初發微熱，繼則感染天花。但雖已見點，不見起發，延醫治之。醫用炮甲、皂刺之屬，不效。繼用黨參、黃耆之品，又不效。至四朝仍不起脹，乃改用清涼之品，則一變而為不能食，迅至奄奄一息。葛君大懼，急延余診，意其萬一希望也。余既偕去，途中即告余前此之醫藥過程。既至入室，察其子面色蒼白，身體瘦弱，氣已咻咻若不相續。問曰：此孩素來失乳否？曰然，因乳汁不充，改以乳粉代之，故小兒營養不良也。</p>
<p>余察其體溫尚較常溫為低，且手足發涼，痘形有內陷之勢，知為又虛又寒之證，又加誤用清涼，當然更變危候矣。余急告葛君曰：此孩恐難保矣。若手足不厥，氣息不見咻咻，尚較有把握。今既如此危險，難處方矣。葛君惶極，仍求余處方，即不效而殤，絕無異言也。余於無可奈何之時，勉為處一溫補內托之方，因定名日溫陽益氣湯，令速多灌之。生死關頭，於今夜蔔之，如服藥之後，能於夜間轉機，陽氣一回，體溫漸漸增高，手足漸漸轉暖，咻咻之氣一平，則痘自可出，而命可保全矣。否則不過明日午夜，必致危矣。且看服藥之情形如何，余即起辭而去。</p>
<p>當日晚間服藥，在七時左右。頭煎分二次服，每二小時一次。至十一時左右，再服二煎，亦間二小時，更服其餘。至夜半後，次晨三時余，漸覺微煩，而體溫亦漸增高，手足亦漸暖矣。但仍喃喃不安。再次則身有微汗，漸則安靜。次晨視之，痘粒已起脹矣。至十時復延余診，余見狀大喜。即以原方去川芎，加雲苓、甘草，連服一帖，而痘勢更形起發。至第九日，漿水趕足而竟全功，此亦幸而得全也。</p>
<p><b>溫陽益氣湯方</b></p>
<p>上肉桂五分（燉沖）　炮附子一錢　炮薑炭五分　潞黨參三錢　綿黃耆生炙各一錢　土炒白朮二錢　秋桔梗一錢　炒僵蠶一錢　全當歸二錢　川芎一錢生白芍一錢五分。此方服後，次晨痘即起漲。因去川芎，加雲茯苓一錢五分，甘草生炙各五分，而竟全功</p>
<h2>漏經</h2>
<h3>多年漏經證</h3>
<p>婦人以產後失調，患漏經證。所下不多，時斷時續，或昨有而今無，或朝無而夕有，日以繼月，月以繼年，諸醫罔效。他無所苦，嗣則絕藥不治，亦無進退。延經十二年之久，試以地榆苦酒煎，四劑而痊。</p>
<p>唐家灣有錢連源者，為蘇北永興集人，旅滬多年。其妻年當32歲時，以產後失調，續患漏經證。雖所下不多，而斷續不已。延醫診治，數易其醫，而均無效。如此一年有餘，所費頗可觀。以其下血不多，或昨有而今無，或朝無而夕有，遂忿恨而絕藥，於是不信醫矣。年復一年，延至十二年之久，病者已四旬有四歲，而病依然如舊。</p>
<p>其時余初來滬開業。余戚有韓榮光者，與錢為友好，因介就余診。錢當拒之曰：「老年醫生，專門婦科，且久治不愈，少年醫生，必不能治。此病已十二年之久，病根深矣，治必無效。」韓因強之曰：「余醫生為余之戚，汝為我之友，必不以診金計者。治之而效，是其應有之責，治之不效，汝之所費亦無幾，盍一試之。」因來就余診。</p>
<p>余聞悉其狀，並索問前方。錢曰：「方在十年之前，因其不效，早已付之焚如矣。」余思前醫之方，必復方也，因思以單方試之。曾記《醫宗金鑒·婦科心法》中，有地榆苦酒煎一方。姑一試以瞻其效否。因為處方如次，囑其如法服之。每劑分早晚二次服，計四劑八服而痊。</p>
<p>錢夫婦大喜過望，偕韓君同來致謝。揖余而告曰：「先生處方，價極廉而效極大，內子已霍然矣，感恩無極。」余告之曰：此方載在《金鑒》婦科中，余亦未嘗試過。因推想前醫之方，必為復方，我若行其故道，亦必無效，故用此單方也。不意其效如此之速，是真單方一味，氣煞名醫矣。惟一般時醫拘於復方湯頭之舊習，不屑用此不值錢之單方耳。今既有效，余願償矣。後余於丁氏《化學實驗新本草》中，見亦載此方，惟方名地榆釅醋方，係譯自東瀛醫書，煎法亦少異。所謂釅醋，即苦酒也。後照法施於他人之患漏經者，亦有良效，特並存之如次。</p>
<p><b>地榆苦酒煎方</b></p>
<p>地榆一兩　陳醋六兩　煎滾，再慢火熬片時，次晨空心，燉溫服之。</p>
<p>按：《金鑒》婦科中，此方醋無分量，余酌定之。</p>
<p><b>地榆釅醋方</b></p>
<p>地榆根一兩　釅醋半斤　用砂鍋熬至四兩，候十二點鐘，濾渣，每服一兩至二兩。</p>
<h3>產後漏血證</h3>
<p>婦人產後，始則惡露不清，繼則漏血不止。量雖不多，斷續不已。醫以止血劑注射之，而彌月後，依然如舊。改延他醫治之，亦無效。余知在產前數月，殤其三歲之幼子，投以清肝養血湯，五劑而痊。</p>
<p>有宏道中學校長廉建中者，與余為文字交，訂翰墨緣。其妻惠毓明女士，亦書畫俱佳。在抗戰期間之第六年，以孕已足月，覺有腹痛，乃人其友人葉某私人醫院，平安產一男孩。約一星期後，惡露應清而未清，時有少量血液，斷續下行。醫察其血色正常，且不夾惡露中之半腐敗物，乃為之注射止血針藥，每日二次至三次，均無效。再增量注射之，亦無效。乃易藥以注射之，仍然無效。如此彌月不愈，醫告以可回家休養，且其量不多，可無礙也。病者無法，只得返家。改延他醫，續治旬日，不愈亦不增劇。蓋其夫婦為教育界人，受西方文化影響，不信中醫也。</p>
<p>某日下午，余以事往訪廉先生。坐談片時，始知其夫人已生產一男孩，當致賀辭。廉又蹙額而告余曰：「內子產後，今已四旬左右，而漏血不止，何耶？中醫有妙法否，敢請一診。」余詢其病之情況，試為診之。他無所苦，量雖少而始終斷續不停。因思其數月之前，曾殤其三歲之次子，父母之心，人皆有之，而婦人愛子之心，甚於丈夫。且殤子為時不遠，中心蘊結，肝鬱不舒。今當產後，惡露雖清，而血因肝鬱，逼而從下漏矣。</p>
<p>因笑渭之曰：「汝夫婦腦筋至新，故自始至終，未延一中醫療治，故余不得與於其列。今始詢及於余，余試為處方，可一瞻其效與否也。」乃握筆為書清肝養血湯方，令連服三帖，再作加減。並陰告廉先生，以有肝鬱之因，而有漏血之果。</p>
<p>孰意三服之後，即見減少。再服二帖，即告痊癒。廉先生夫婦大喜過望。後隔月餘，惠女士自繪白頭枝上雙楱圖一幅，廉先生自書七律新詩一幅，裱好送來，以作紀念。在白頭雙楱圖上，惠書「白首懷思」四字。廉之七律一幅，其辭日，「廿年風雨許知音，當代名醫夙所欽，志在活人宗仲景，學堪傳世邁千金，文章舊價宏仁術，桃李新陰滿杏林，一藥山荊欣病癒，用伸感謝志微忱。」</p>
<p><b>清肝養血湯方</b></p>
<p>粉丹皮四錢　春柴胡三錢　夏枯草三錢　於地黃五錢　京赤芍三錢　當歸身三錢　紫丹參三錢　廣鬱金三錢　佛手柑三錢　薑、棗引</p>
<h3>陰挺</h3>
<p>貧農婦人，產後三日，即往田間工作。飢飽不均，勞動過度，忽少腹墜重，陰門脹急，如將產狀，漸至陰挺下脫。經日醫施還納手術，外施以托子宮器護持之，靜臥三周日，不效。余以大劑補中益氣湯與之，三劑則升而不墜，六劑則其病如失。</p>
<p>滬東之引翔鄉，有陳姓貧農之婦人，於八月問產一男孩。因田中秋收在即，至第三日，便往田中勞作。田雖距家較近，然田中勞作數小時，又須返家為小兒哺乳，往返頻勞，且又食無定時，飢飽不均，產後營養，更無論矣。晚間即覺少腹墜重，而次日仍照常田中工作，於是腹墜更甚，陰門脹急，忽然陰挺下脫，漸大如瓠，幾如男子之頹疝焉。先經中醫治之，無效。嗣即送至引翔醫院之平民診療部，時在抗戰之後五年。此引翔醫院，為日人所創辦，經日醫施行還納手術，外以托子宮器托之，再施以三角巾之緊束，令其靜臥一星期，雖大小便亦仰臥於床上，以糞器承之，並為之內服及注射補劑。一星期後，試去托子宮器，令其下床步行。奈行未數步，又覺腹內墜重，陳婦驚懼，告之日醫。立命仍臥於床，續行療養兩周日。過兩周之後，依然不效。</p>
<p>陳農偶與安樂坊之劉訓才談及，因改就余診。余以陰挺之症，發於產後，其因氣血雙虧，毫無疑義。醫書中雖載之，而臨床遭遇較少。當與氣虛脫肛，同其治法。令其解褲視之，則翻出之黏膜，有數處之磨破。詢其大便，則云乾燥異常，他無所苦。乃決以補中益氣湯大劑與之，方中黨參、黃耆及當歸，分量尤重。蓋病已二十餘日，非大補氣血不為功，且大便乾燥，當歸又為潤腸之劑，故重用之也。並囑其連服三劑，再來複診。</p>
<p>過三日之後，病者又來，下車入門時，步履較健，兩腿已不開張，詢之果有效矣。當大便未潤時，小腹仍脹，即再劑後，大便頻爽，則少腹即不墜矣，因連連稱謝不已。後再為之略減其量，續服三帖，即恢復健康，其病如失。以函告余，余恐有反復，函囑再服三四帖。其服否雖不知，而後未再來，其徹底痊癒，可想而知也。</p>
<p><b>補中益氣湯方</b></p>
<p>西黨參五錢　炙黃耆六錢　炙甘草四錢　土炒白朮四錢　廣陳皮三錢　全當歸五錢　炙升麻三錢　春柴胡三錢　生薑五片　大棗十枚</p>
<h2>疔癰</h2>
<h3>疔瘡走黃險證</h3>
<p>婦人患生指疔，初則腫若紡錘，潰爛出膿，腐臭不堪，痛楚幾絕。延及半月，旁又增生，紅腫蔓延，迅至手腕至肘關節，皆發赤腫。再二三日，手掌、手背、手腕等處，又潰穿十餘處，此疔毒走黃也。與以疔瘡丸，連續大瀉而痊。後試之於癰證，其效亦良。因易其名日癰疔百效丸。</p>
<p>余當少壯之時，初業醫於鄉里，兼充三區小學校長。適有鄰村鄧藻芳之婦，年41歲，患生疔瘡，來就余診。第察其患，原在左手中指中節，蔓延至手掌手背手腕，又破潰十餘處，連及小臂亦有浮腫，有更將蔓延之勢。而破潰處，膿水之惡臭，紅絲之蜿蜒，殊可懼也。</p>
<p>詢其起始情形，則謂初於中指腹部，疼痛腫脹，漸至化膿，繼則手指背亦腫，形若紡錘。經外科專家李某治之，內服外敷，均無功效。延及半月．腫勢則漸見走竄。昨夜忽疼痛更甚，迅至手掌手背手腕，均發腫脹，而今則破潰不堪矣。</p>
<p>余因索閱前醫之方，亦頗對證，而竟無效，是亦證重藥輕使然。心忖證至於此時，業已走黃危險，若用通用之方，必難獲效。曾記陳修園《醫學三字經》篇末，載有疔毒丸一方，謂於疔瘡有特效，雖走黃者亦可救治。但從未試過，今可一試之矣。因立即如法制成，即以濕丸十粒與之，囑其用熱水送服，如得四五次之大瀉，即以冷開水一杯，服下止之。</p>
<p>病家如言，不二小時，即得大瀉一次。再後於二小時內，連瀉四次。每瀉一次，則腫脹疼痛即隨之減輕一次。其效之神奇有如此者，惟體力漸覺不支，即於最末一次瀉後，立即飲冷開水一杯，果然瀉不再作，人亦神安睡去。迨次晨一覺醒來，腫痛消其六七，膿水淋漓，而各破潰皮膚之表面，已大形起皺矣。再診之時，復與六丸，使之再瀉數次，以清余孽。及紅腫消清，痛楚全無，改服解余毒、扶正氣之劑，外敷提毒生肌散，而完全就治。</p>
<h3>項疽及諸癰證</h3>
<p>又有許北山者，年45歲，精拳棒，以武術聞。忽發一偏項疽，即俗稱之「偏對口」是也。初隻局部發癢，以手搔之，漸至腫一小粒，麻癢相兼，亦不介意。次日則腫勢漸大，麻癢更兼疼痛，乃懼而求醫。醫以藥膏貼之，冀其消散，而絕不得效。第三日則腫痛更甚，頭項且不能轉動矣，改就余診。</p>
<p>余思此偏項疽證，較之正項疽尤險。起已三足日，內膿雖未成，但普通方劑，必不易散。疔毒丸治療，既效而且捷，今以此癰疽之大證試之，不知其有效否也。復思病者為武術家，體素強健，即服此丸，必能當之，而無危險。乃決與以十丸，令服如法，許君從之。服藥大瀉四次，而腫痛漸消，僅於初起之未老先白頭處，稍出黃白色之水而已。</p>
<p>由此以後，凡遇實熱證之癰疽瘍癤，均用此丸治之，不論初起已潰，皆有奇功，不獨治各種疔瘡而已也。因改名之日癰疔百效丸。後又於《中國醫學大辭典》亦見載有此丸，云係盧成琰氏方，但不知盧為何代人，有無其他著作，尚希知者有以告我。</p>
<p><b>癰疔百效丸方</b>（原名疔毒丸。盧成琰氏方。）</p>
<p>巴豆三錢（去皮膜）　明雄黃三錢　生大黃三錢。</p>
<p>上各研細末，再共研極細，加飛羅面醋糊為丸，如梧桐子大。輕者每服六七丸，重者十丸左右，用白開水送下，俟瀉三至五次，再以冷粥湯一小碗，服下止之。</p>
<h3>肝癰</h3>
<p>病者右脅內部作痛，初尚輕微，繼則加重。脅下作腫，累及左肋亦覺脹滿。漸至右脅更形腫痛，突出如拳，但無大寒熱。醫斷為肝臟腫毒，必須開脅割治，病者懼之。余聞其腫才四日，捫之其硬如石，尚未化膿。以牡丹湯合龍膽瀉肝湯加減與之，一服而大瀉腫減，再服而連瀉腫消。再為加減，計四服而痊。</p>
<p>患者邵梅生，住長壽路梅芳裏，在廠中作工。1948年夏季，由廠中歸來，即覺微有寒熱，右脅隱隱作痛，而左脅亦覺微脹。次日請假休息，而脅下腫脹更甚，當請附近醫生治之。醫與小柴胡湯，因時在夏季，柴胡只用一錢，服之無效。第三日右脅腫痛之處，漸形突出，其大如拳，按之則痛牽胸腋。至第四日，至滬西平民醫院求診。</p>
<p>經醫診察之下，斷為肝臟發炎，有化膿之可能，須速行開刀，住院療養。能於開刀後不發手術後炎症，則可日漸痊癒，否則有發生意外危險之可能。病家要求，保證開刀無險，方敢住院，而醫師不可。病者本人，亦反對開刀。於是返家，另行延醫治療。服藥打針，均無寸效，而局部之腫脹則更甚。至第五日，謀之於余之外甥王成龍，以電話招余往診。</p>
<p>余見其腫在右脅，突出於肋下，如拳如瓜，以其人體質本瘦，在肋骨條條可數下，更形明顯。捫之則其堅如石，上下左右，四圍均硬，毫不柔軟，決為尚未成膿。問其大便，已四日未解，即平常之大便，亦乾燥者多。其他口苦咽乾，舌苔根黃，尖及邊部均絳，口乾欲飲，而小便黃赤，頭亦覺眩，而時則眼火閃發。綜合許多症候，有用瀉下之必要。當此時肝體發炎，尚未化膿。設因一瀉而腫消，未嘗非意中事也，姑一試之。乃為之處方，以牡丹湯合龍膽瀉肝湯，以為加減。蓋體雖較弱，而證則大實，且肝熱頗重，可以奪其實而瀉其熱也。</p>
<p>迨服藥之後，病者即漸覺痛勢微減，而腫則如故。二小時後，覺腹內蠕動而雷鳴，無何，即大瀉乾溏夾雜之糞便，有乾硬如球者，有濕黏如醬者。於是續服二煎，至夜間又連解大便二次，則如球之硬者，由少而無，而如黏醬者，則更多矣。次日一覺醒來，自視其患處，已腫消其半，復招余診。</p>
<p>余再捫之，亦覺肝腫部之抵抗大減，肋下之皮膚，已可扭撮成皺，余亦大喜。因西醫謂非經開刀不可，而竟以中藥消散之，豈非一治療之奇跡哉。乃只將大黃、芒硝，各減一錢，囑再服一劑。迨服後於一日夜間，大便又續下四五次，腫痛消去七八。再次日復延余診，特為之加入益氣養血之品，減大黃、膽草，去芒硝。續服二帖，而完全治癒。</p>
<p><b>牡丹湯合龍膽瀉肝湯加減方</b></p>
<p>牡丹皮六錢　錦紋軍五錢　元明粉五錢　生黃芩四錢　桃仁泥四錢　龍膽草三錢（酒炒）　春柴胡三錢　生地黃六錢　當歸尾四錢（酒洗）　均木通三錢　夏枯草三錢　金銀花一兩</p>
<p><b>再診方</b></p>
<p>前方錦紋軍、元明粉，均減為四錢。</p>
<p><b>三診方</b></p>
<p>前方各藥，減大黃、膽草，去桃仁、芒硝、木通，加赤芍三錢，茯苓三錢，白朮三錢，薏仁四錢，連服二帖。</p>
<h3>腸癰（腸癰化膿證）</h3>
<p>患者初覺腹內隱痛，繼則身有寒熱，腹內更形拘急，漸至結於右腹下方，固定作痛，而放射至腰肋。再進則內部腫突如拳，便秘溺赤。以紅藤丹皮大黃湯主之，續為加減，以竟全功。</p>
<p>今述此治案之前，當先述此方之起源。先是1941年，南匯張工六教授，述及其鄉有一劉姓者，善治腸癰症，能治醫院斷為必須開刀之蚓突炎（即闌尾炎），使之內消內潰，膿從大便而出。其方即紅藤一兩，單方一味，煎服立瘥。當即詢其端倪，張則娓娓言之，余即默默識之，以待將來之治驗。張教授謂其鄉中，初有吳姓少年，患生腸癰，經醫治之無效，後來上海至宏仁醫院就診。經醫師診斷，確為蚓突炎，僉謂非開刀剖腹，割除其蚓突不為功。其父母以愛子之切，不肯開刀，而其子更懼，拒絕醫師之勸告。醫師亦無如之何，只好令其出院。</p>
<p>回至鄉間，則親友聚議，主見紛紜。有謂此證不開刀，是自棄也。有謂此證即開刀，醫院亦不保險也。有謂既已不開刀而回，當另延醫診治。適有一人言鄰鄉有劉姓者，善治腸癰之證。立即倩人去請，不數小時，劉君已至。經其診察之後，斷為內已有膿，但服藥可內潰下泄而消也。立出藥一包，片色帶紅。人問其名，劉云「此紅藤也。」但此不常用之藥，眾覺名似未聞，遂亦置之，且觀其效何如也。詎一服之後，是夜即腹中雷鳴，有時痛更加甚。續服二煎，至天將明時，即連續大便二次。糞中有乾有稀，夾雜膿血，其黏滯及污垢之物，一鼓而下。疼痛大減，腹側腫脹，立即消去大半。次日再請續診，仍以紅藤六錢，加薏仁一兩煎服。續下膿血頗多，疼痛更輕，已能思食，食之亦能安。後經調理，不旬日而全愈。聞工六先生言，余默識之，以待有機會臨床驗證。</p>
<p>後閱楊玉衡《傷寒溫疫條辨》，偶於第四卷中，見亦有腸癰秘方一則。其文云：腸癰秘方，凡腸癰生於小肚角，微腫，而小腹陰痛不止者，是毒氣不散，漸大，內攻而潰，則成大患矣，急以此方治之。先用紅藤一兩，酒二碗，煎一碗，午前二服，醉臥之。午後用紫花地丁一兩，酒二碗，煎一碗，服之。服後，痛必漸止為效。由此觀之，則此劉姓之方。即《傷寒溫疫條辨》之方也。於是更堅我試用此藥之信心。</p>
<p>至1943年4月間，有船戶曹海洪者，年32歲，經營內河之航運。忽而江南，忽而江北。時船泊於造幣廠橋西蘇州河岸，忽患腸癰之疾，諸醫罔效。右腹盲腸部，疼痛腫脹，右足亦不能伸直。後入滬西平民醫院，醫者亦云：非開刀不可。病者為經濟能力所限，即最低之開刀醫藥費，亦不能籌措。時余與附近之中藥店，有為貧病施診、施藥之設，刊諸報端。患者聞而求治。據診察之下，確係腸癰無疑，盲腸部腫如拳大。按之抗力頗強，時發寒熱。大便已五日未解，小溲赤澀，舌根膩，其脈沉緊而微遲。</p>
<p>余思紅藤之方，今可試矣。且病勢甚急，大便不解已多日。設紅藤解毒力有餘，而瀉下力不足，反致遲延時日。何不以紅藤為主，合《金鑒》丹皮大黃湯法，以一試之，庶可面面俱到也。主張既定，遂為之處方如下，定名曰紅藤丹皮大黃湯，令其加酒如法煎服。迨頭煎服後，不四小時，即腹中咕咕作響，無何，大解一次。先之以燥矢，繼之以溏糞，與膿血夾雜而下，腹痛大減，腿亦較能得伸。續服二煎，又大便兩次。均為膿血糞便夾雜之物，於是一夜安眠，盲腸部已無大痛苦，只隱隱微痛而已。次日複診，余見病已大減，心喜無量。乃將大黃、桃仁等減量，去元明粉，加紫花地丁六錢，銀花藤六錢。連服兩帖，膿水漸少，並令以薏仁紅棗粥時時服之。一星期後，膿血已極淡，大便亦轉淡黃，小溲漸清，改服調理之劑而愈。</p>
<p>此後余於腸癰之證，均用此法收功。連前共有四例，均未有其他危險。然此方之治，有討論之必要矣。</p>
<p>（一）工六教授告我之方，僅云紅藤一味，水煎服，並無加酒之說。而《傷寒溫疫條辨》謂須用酒二碗，煎至一碗，且醉臥之，是非酒不為功也。余今加酒一杯，行其藥力，未敢以單味酒煎服之也。</p>
<p>（二）《傷寒溫疫條辨》謂午前二服紅藤，午後一服地丁，彼以二藥分午前午後。余以第二帖減大黃，加地丁、銀花藤，亦通權達變之方也。</p>
<p>（三）紅藤一藥，一般小藥店中無有，非大藥行不備。《中國醫學大辭典》不載。《中國藥學大辭典》謂紅藤即省藤之俗稱，《本草綱目拾遺》謂亦名赤藤，但謂其殺蟲治風，未言其治腸癰也。</p>
<p>（四）書謂腸有內外兩層。如內層生癰，能下之使穿破而下泄。如外層生癰，則必外穿，而潰膿入腹。然以余意推測之，腸內生癰，多由食物中有硬雜物質所刺激而發炎，當然內層化膿為多，而外層者必較少，此可肯定者。但紅藤之治腸癰，單味即有效，若加酒或酒煮，仍須有機會再試之也。</p>
<p><b>紅藤丹皮大黃湯</b></p>
<p>紅藤一兩　粉丹皮五錢　錦紋大黃五錢　桃仁泥四錢　元明粉四錢（分沖）　瓜蔞仁四錢　京赤芍三錢　加酒一杯煎服</p>
<p><b>紅藤丹皮大黃湯加減方</b></p>
<p>紅藤一兩　粉丹皮四錢　錦紋軍三錢　桃仁泥三錢　瓜蔞仁三錢　京赤芍三錢　紫花地丁六錢　銀花藤六錢　加酒一杯煎服</p>
<p>附言：《余無言醫案》，原名《翼經經驗錄》，係先父無言先生生前自撰稿，建國後曾將此醫稿與先大父奉仙公遺著—《醫方經驗彙編》（原中華書局出版，中醫書局重印）合編自費刊印分贈親友、同道和學生。現將《翼經經驗錄》重予點校、整理以饗讀者。</p>
<h2>診餘漫話</h2>
<h3>藥用寒溫補瀉，當察患者體質</h3>
<p>我們診治多種疾病，經常鬚根據辨證中之四診八綱和患者的體質情況，以確立藥用之法則與規範。寒證用溫劑，熱證用寒涼之品，「虛則補之，實則瀉之」，幾乎為臨床醫師所共識。但其中我們應十分重視患者的體質現狀。如忽視於此，難以在施治中獲得滿意的療效，往往可能產生「施治不效」或「過猶不及」，甚至產生不良的副作用或加重病情之弊。</p>
<p>清代名醫趙濂從整體出發，闡明醫者在辨證後，如何掌握恰當施治時，曾分析患者的體質情況和藥用之寒熱、溫涼、補瀉之間的關係。他在《醫門補要》中說：「人體質有虛實之分，稟性有寒熱之異。屬寒體者，病時宜用涼藥中微加溫和之品以監之，若太苦寒則敗胃，有欲吐瀉、胃寒腹痛之患。屬熱體者，病時宜用熱藥者，惟溫平之品以緩治，若太燥烈，恐激起本源之火，致煩渴、狂暴、失血之患。屬實體者，或因病變虛，宜用補劑，須少少與之，若太呆補，致不食、腹脹、中滿、逆氣之患。屬虛體者，病時宜克伐，尤宜性緩之品，若太峻利，致虛脫多汗，肢冷懶言，煩躁欲入水之患。」</p>
<p>由此不難體會，中醫診療中辯證思維和因人制宜的圓機活法，也是衡量醫者診治水準高低的一杆尺規。希望讀者能對趙濂這段名言，予以深入學習和體驗。</p>
<h3>用中西二法調治腎臟性水腫</h3>
<p>早歲，余開業於阜甯時，有東北鄉王某者，年且六十有奇，患水腫證，時當七月，抬來城中求治，入北門，即詢之道途中人曰：「城中醫生，善於內科者為誰。」人成告之曰：「有餘某者，中西醫家也，盍試之。」病家即抬來求治。</p>
<p>余察其症狀，為之咋舌。腰以下腫勢最盛，兩腿如象足，兩腳如冬瓜，陰囊如懸瓠。胸部以上則較輕，兩手及頭面均腫，腿皮腫如胡桃。凡腫處，均明如玻璃，彈之即可立破，捫之冷如冰，呼吸短促，喘聲如哮，舌苔白滑，黏膜均呈白色，脈按之而不可得，小便甚短少，且陰莖完全縮人囊內，視之幾如葫蘆上一小孔耳。詢其既往症，則謂「五月問，曾途行遭大雨，後即發腫，且不思食，先由兩足腫起，漸次向上，而膝、而股、而會陰、而腹、而腰、而胸、而上肢、而頭面，迭延多醫，服藥均無效，以迄於今，不食且十餘日矣。先生其有良法否？」余以年高症重，有難色。病者再四乞為治療。余乃告之曰：「危險殊甚，中醫用利水健脾諸劑，既不見效，再施類似治法，亦難見功。西藥有發汗劑，名匹羅卡品（Piloarpin）者，姑試之，效則吉矣。」蓋余恐患者多日不食，用此猛烈之發汗劑，恐其隨汗而脫也。</p>
<p>然病者命在朝夕，與其坐而待斃，不如含藥而亡。取得病家同意，余乃為之注射匹羅卡品1毫升。無何，大汗淋漓，由頭至足，無處無汗，拭之黏指，腥臭觸鼻。約一句鐘，汗出如洗，床下聞有滴答聲。至是喘聲漸微，患者似減輕苦楚，惟疲憊異常，呼之只微聲應耳。無何，索便桶，小便亦大利，患者大快。再察其全身腫勢，消去一半，旋即進流動、易消化之食物少許，勿使多食，一夜甚安。</p>
<p>次日，余即改以中醫治水腫名方——實脾飲（嚴用和《濟生方》方）與服。過五日，已能扶杖行動。余又以匹羅卡品注射0．5毫升，復又出汗，惟不若前兩次之多耳。余以其病既退，不能再用猛烈之發汗劑。即以實脾飲為主方，再加重利水之品，十帖而康健如初。由此可見，中西藥可以並治以提高療效。</p>
<h3>論濕溫治法</h3>
<p>余歸納薛生白、吳鞠通二家之言，結合個人臨床所見，濕溫病之主證為：始惡寒，後但熱不寒，頭痛，身重而疼，舌白或潤黃，面色淡黃，汗出，胸中痞悶，不食不飢，口渴不欲飲，午後身熱，狀若陰虛，脈弦細而濡。中醫於濕溫之治療，約分為二門。（一）其學說以濕溫為病原，故以解熱利濕為主，此為其原因療法。（二）因濕溫之變證多端，險候百出，即因其變證險候而治之，此為其對證療法。</p>
<p><b>濕溫原發證治法：</b></p>
<p><b>1．解熱利濕法：</b>濕溫為濕、溫兩邪合併為患。溫即是熱，故薛生自之《濕溫病篇》（又名《濕熱病篇》），其治療即以解熱祛濕為首務。濕溫病邪之勢均而重者，則藥劑亦均重之；其勢均而輕者，則藥劑亦均輕之。熱邪盛於濕邪者，則解熱之藥多，而祛濕之藥少；濕邪盛於熱邪者，則祛濕之藥多，而解熱之藥少。然解熱祛濕之方法，又各不同，茲分別述之。</p>
<p>（1）當初期病尚在表，應用微汗之法者，則微汗之，使熱從體表緩緩而解，則濕為體內不潔之水分，亦得隨汗而外泄。若熱仍不退，或退之未盡，可仍用前法，務使熱退而後已。若熱已退，或退去七八分，則濕邪勢孤，易於撲滅矣。</p>
<p>（2）濕既勢孤，頓失同盟，因即清利其三焦水道，使邪匯至腎臟，輸入膀胱，由小便而外出。若體氣較實，或大便數日未解，或解時艱澀不爽者，並可微利。</p>
<p>（3）至病邪深入，熱勢稽留，濕滯腸中，胸悶特甚，切不可任邪氣盤踞。裏證已成，不可再用表藥，只宜用清熱及利濕之合劑，使濕從腎與膀胱外出，則熱亦隨之而下行，濕熱並去，病可自痊。</p>
<p>（4）運用上法時，另有一關鍵不可不知，即決定「利濕清熱」之方，可再問其大便之如何？脘腹之膨否？如大便已數日未解，或雖解而艱澀，脘腹膨滿而不柔和，則於方中再加輕瀉大便之品，則腸中濕熱亦將緩緩下行。蓋二便分利，則濕熱之邪，行將失其根據地而無立足之所，愈易追剿消滅矣。設大便每一二日一解，解時亦爽，則輕瀉劑可不加，此專從裏解、清利之方法及用藥之分合也。</p>
<p><b>2．扶持脾胃法：</b>濕溫之病邪，雖重在小腸，其病根仍然在胃。如胃司消化，脾能為輔，二便暢利，則必然不病濕溫。今既病矣，若只解熱利濕，而不健胃益脾，則藥力之貸款，仍無補於生理之虛乏。則須一面貸款，一面扶持脾胃之生理功能，使之自力更生，功能漸趨恢復。故濕溫經治獲效</p>
<p>後，即應加藥以扶持其脾胃。</p>
<p><b>3．參用芳香法：</b>濕溫病既為熱腐濕濁之邪，且病室內又多穢惡之病氣，則必須以芳香逐穢之品以化之。蓋芳香之品，能化濁穢之氣，故不論表劑、裏劑，處方均宜酌加芳香藥一二味於內，雖無絕對治濕溫之功能，然在輔助療法上，未始無百分之五之小助焉。除內服藥酌加者外，亦可於病室內，燃枷楠香一二支，或少焚白芷、木香、佩蘭、蒼朮等品，以辟穢惡之氣。</p>
<h3>濕溫原發證方治舉要</h3>
<p>濕溫相當於西醫所說的「腸傷寒」，中醫施治以排泄清解為主。前人的經驗方頗多，我在診療中也創用了濕溫新方，經常選用以下諸方施治。</p>
<p><b>1．甘露消毒丹（葉香岩方）：</b>又名普濟解毒丹。王孟英謂此係治濕溫時疫之主方，能治發熱倦怠，胸悶腹脹，肢痠咽腫，癍疹身黃，頤腫口渴，溺赤便秘，吐瀉瘧痢，淋濁瘡瘍。凡暑濕時疫之邪在氣分，舌苔淡白、或厚膩、或乾黃者，均較有效。</p>
<p>方藥組成及用法：飛滑石十五兩　綿茵陳十一兩　淡黃芩十兩　石菖蒲六兩　川貝母、木通各五兩　藿香、射干、連翹、薄荷、白豆蔻各四兩。各藥曬燥，生研為末。每服三錢，開水沖服，一日二次。或以神麯糊丸，如彈子大，開水化服亦可。</p>
<p>王孟英曰：每年春分以後，天乃漸溫；芒種以後，地乃漸濕。溫濕蒸騰，更加烈日之暑，爍石流金，人在氣交之中，口鼻吸受其氣，留而不去，乃成濕溫疫癘之病。初起尚在氣分時，悉以此丹治之，立效。</p>
<p><b>2．三仁湯（《溫病條辨》方）：</b>治頭痛惡寒，舌白不渴，脈弦細而濡，面色淡黃，胸悶不飢，午後高熱，證若陰虛。方藥組成及用法：杏仁三錢　飛滑石六錢　白通草二錢　白蔻仁二錢　厚朴二錢　生薏苡仁六錢半夏五錢　竹葉二錢　甘瀾水八碗。上藥以甘瀾水八碗，煎取三碗，每服一碗，一日三次。</p>
<p>此方為吳鞠通治療濕溫之首選方，以濕溫不能過汗，故以輕清為治。病輕者，每可治癒；病重者，力有不及。吳錫璜《中西溫熱串解》謂此方與濕溫初起不甚相合，慮其服之燥渴，此言亦非確論。若果知燥渴，則裏濕已祛，而熱獨盛矣，再單洽其熱可耳。此方名日三仁，而實以滑石為主藥，使濕從小便而出，亦可稍得微汗，故諸家多用之。惟厚朴一味，究嫌欠妥，吳氏慮其燥渴，或在此點。余意若以治痞、理氣、寬中、祛濕之目的，去厚朴而易以瓜萎皮，則得之矣。</p>
<p><b>3．濕溫初起方（吳錫璜《中西溫熱串解》古歡室方）：</b>治證同前。</p>
<p>方藥組成及用法：淡豆豉三錢　佩蘭葉二錢　飛滑石四錢　蒼朮皮一錢　茯苓皮三錢　陳皮二錢　藿香葉二錢　連翹三錢　銀花三錢　通草一錢　甘草八分　竹葉二錢　（如惡寒無汗者，加杏仁）</p>
<p>以上三方，皆輕清之劑。然立方以甘露消毒丹為第一，且研成末服，能容留腸中較久。三仁湯次之，此方更次之，存之備參考耳。</p>
<p><b>4．解溫逐濕湯（余無言經驗方）：</b>治濕溫初起之重者：</p>
<p>生麻黃（先煎）二錢至三錢　生石膏二兩至三兩　粉葛根三錢至四錢　淨連翹三錢至四錢　製半夏三錢至四錢　生山梔、六一散各二錢至四錢　薏苡仁、茯苓皮各四錢至五錢</p>
<p>此方服後，必能取得「漐微似汗出」。在身體已有微汗約二三小時後，再連服二煎，務使微汗至四五小時以上，則表熱必可隨汗而解。若初起一二日間，惡寒甚者，仍可加入桂枝一二錢。無惡寒者則不加。</p>
<p><b>5．清溫化濕湯（余無言經驗方）：</b>前方服後，表熱已微，再服此方。</p>
<p>方藥組成及用法：生石膏（先煎）一兩至二兩　粉葛根三錢　淨連翹三錢　生黃芩三錢　上川連一錢　錦紋軍一錢至二錢　六一散四錢　生山梔三錢　冬瓜皮子各三錢　炒粳米一酒杯</p>
<p>此方目的，在取得大便微利，小便大利。蓋大黃與滑石同用，其泄熱解毒之力，半走小便也。</p>
<p>前舉數方，可見諸家於濕溫之治，不能速速汗解，故力求輕清取巧。對該病之初起、病勢較輕者，每可獲效。若病勢之較重者，胸悶特甚者，則前方不易見功，必當以經方為本，合時方以化裁之。遵仲景治風濕之方，取其微微汗出，續續下行，則汗利兩解，濕溫之邪，自分兩路而去矣。余之第一方，首用麻黃，或以為夏令不可用麻黃，慮其大汗以害事，且麻黃為辛溫藥，以之治濕溫，寧非抱薪救火耶？不知麻黃一品，味性雖屬辛溫，若不與桂枝同用，則不能大汗。故麻杏石甘湯則別治肺炎，麻黃連翹赤小豆湯則別治黃疸，越婢湯則別治風水作腫。即以越婢湯言之，係麻黃與石膏並用，能治水腫，其妙在此。日本學者以麻黃熱服則發汗，冷服則利尿，此即仲景方配合之妙義也。蓋辛溫之麻黃與辛涼之石膏同用，則開發皮毛之力少，通利三焦之力多，故用治風水之邪，十之三四；由皮膚緩緩而解，十之五六。由腎與膀胱續續下行，其風水腫有不消哉！且有體質特異、皮毛固密之人，感冒風寒而服麻黃，竟有皮膚無汗而小便大利，因以獲愈者。哥知麻黃不但發汗，且同時有利水之力也。總之腎臟、膀胱，與皮膚汗腺，同屬於排泄系統。而麻黃一品，亦能促進其排泄機能也。但麻黃必須用生者，水炙者則無效。故余之處方，以越婢湯為主乾，而佐以葛根者，以其能清解胃腸及腦脊系統之熱，可防治腦脊髓膜炎也。仲景於風寒之邪，一見有項背強幾幾之症候，即用葛根。有汗者，則葛根與桂枝並用；無汗者，則葛根與麻黃並用。在中醫舊說，謂其能清督脈之熱。督脈，即腦脊系統之謂。督脈之熱既清，則腦脊病自不作矣。因濕溫一病，熱高之時，最易上衝於腦，而致腦脊炎症，故加之而預防，以免加重後更難治也。用連翹者，取其清心胸、涼膈膜也。用半夏者，取其瀉心胸、利水濕也；有濕熱內蘊而作嘔者，尤宜。用六一散、生山梔者，取其涼膈清熱、泄出於腎，膀胱也。諸家多用滑石，此六一散以滑石為主，故用之。用薏苡仁、茯苓皮者，取其滲濕下行，並可祛皮膚之濕也。且茯苓有益氣之功效，故用之。如此配合，所謂原因療法、對症療法，兼而有之。而余之第二方，完全以清裏為治。解毒祛熱之品，隨錦軍以微利大腸，隨梔子、滑石以直走小便，此分利法也。余用此法治之而愈者，已有多人，只要取得緩緩微汗，大便微利，小便暢行，則濕祛熱除，病自可愈矣。但此為濕溫初病之主症而設。若延久誤治，變證百出，則又當隨其變證而治之，不能用初起之法矣。至於每藥分量，用至幾錢則不予肯定。蓋體有強弱，病有輕重。示人以變通活套，不可以算學之公式，刻舟求劍，以致僨事耳。</p>
<h3>論「癰疔百效丸」</h3>
<p>癰疔百效丸，原名疔瘡丸，或名巴豆二黃丸。余常用之，百發百中。推而用之於一切癰毒、癤腫，皆獲奇效。余以其治療之效既彰，而治癰之效，由余經驗而得，乃改以今名——癰疔百效丸。</p>
<p>疔瘡丸原為清代醫家盧成琰氏方，陳修園醫書中亦予附載。方用巴豆（去皮膜）三錢、明雄黃三錢、生大黃三錢。各研細末，再共研極細末，加飛羅面，醋糊為丸如梧桐子大。輕者每服四五丸，重者每服七八丸。如極重或疔瘡走黃者，可服十至十一二丸，用白開水送下。務使患者得三五次之大瀉，症乃可愈。體虛，俟瀉二三次後，與以冷開水或稀薄粥以飲之，瀉可立止。每瀉一次，則痛苦與腫勢必減輕一次。即已走黃者，亦可救治，真為疔瘡之特效方。茲列舉以下四例，作為佐證。</p>
<p>1．塾師裴子良，患手發背（俗稱「手搭」），紅腫灼痛，憎寒發熱。先以藥膏外敷，冀其腫消，不效。次日復求余治，余乃以癰疔百效丸六粒與之，服後大瀉四五次；而最後一次，瀉下如痰狀。於是腫消痛止．消滅無形而愈。</p>
<p>2．劉某，年36歲，起一發背，已四五日矣。紅暈如盤，灼痛如火。余急投以癰疔百效丸，大瀉七八次，其腫頓消，其痛亦減，次日，消散殆盡。復與以清熱解毒之劑，數服而愈。</p>
<p>3．王某，年二十餘，患臀部濕瘡，大如指頭，紅腫熱痛，膿水甚多。已延醫治之一月而無效。余期以一星期，先令服癰疔百效丸，大瀉多次，其痛即減，紅腫亦消。後復與以清血解毒利濕之劑，七日而痊。</p>
<p>4．家三姐於十餘歲時，即常發喉癰證，最後一次，治癒不復發者已十餘年。前年秋，又復發。咽喉腫塞，痛不可忍，飲食不進者六日，只能吮入茶水少許耳。余診之斷為熱毒上攻，急與以癰疔百效丸八粒，研碎，用開水緩緩灌下。服後覺心如火焚，愈覺不安。余告以大便瀉後自當輕快。不數時，果瀉出燥糞甚多。瀉至六七次，其痛若失，而喉腫亦漸消，次晨即能啜粥一大碗。後用煎劑清理余毒，數日而痊。</p>
<h3>蟬衣酒治破傷風之來歷</h3>
<p>余於醫學書籍，素喜旁搜雜覽，合理者悉誌之以待試用。七八年前，余見《傅青主男女科》中有「破傷」方一則，殊不令人注意。其原文如次。「蟬蛻去盡頭足，為末五錢，用好酒一碗，煎滾入末，調勻，服之立生。」余審視者再，以為蟬退為散風清熱之品，今「破傷」用之，殊屬不當，且末云：「服之立生」。若謂破傷出血，迨至將死，服蟬退可以立生，尤為不合醫理。反復思量，忽然悟曰：此必破傷風也。而印書者脫去一「風」字耳，故蒜之以待驗證。</p>
<p><b>病例一：</b>劉紹初，以拉黃包車為業，於民國廿年（1931年）十一月間，在哈同路被卡車撞傷頭骨、鼻樑等處，出血頗多，骨質已略損，經巡捕車送白克路某醫院救治。次日，劉父以醫院聲稱傷重危險，乃抬回家中。捕房查知，仍令轉送海格路某醫院，在該院三星期，傷口收斂出院。當未出院時，精神即覺不適。到家後，即發熱不安。次日更甚，漸發痙攣、強直等現象，牙關拘緊，角弓反張，腹部陷若舟狀，硬固如板，按之作痛，氣急微喘，破傷風症狀悉具，傷處復又破開，乃改延余診。余以蟬衣為末五錢，囑令黃酒送服，促其出汗。服後，果腥臭之汗淋漓不已，約近二小時方止。病者即覺舒適，痙攣不作。次日，余復以巴豆二黃丸下之，與服十二粒，攻下之糞，腥臭異常，如膠而黑汙，於是更覺爽快。不意其父即不再延余續診。余心疑之，再經旬日，則報載劉紹初死矣，其父與開卡車者涉訟矣。又旬日，劉之戚告余云：劉紹初雖為車夫，但有一小星，久與劉父通。劉父因有次子在江北原籍，故其心中甚盼紹初之死，一則寡媳可為己有，再則有人命銀子可用，故前臺端治之有效，反為劉父所不滿。為之治療，實掩人耳目也。其後牽延反復，而至於死。惹起訴訟，不料法官斥其詐財，反具結領屍自殮、人財兩空云。余聞之，甚憤此療法之未竟全功，姑再試之異日。</p>
<p><b>病例二：</b>張姓婦，年六十餘，住西門路西門裏。於民國廿一年（1932年）四月間，由樓梯上跌下，頭頂受傷，皮開肉綻，出血不少，經醫生療治，已將愈矣。一日，忽發破傷風症狀，時輕時重，即送某大醫院醫治，數日無效，症且加劇，醫院告以無法療治，車接回家，復請中西醫多人診療，皆稱不治，已為之備衣冠矣。余戚韓某，與張子友好，介余往診。余診其傷處有膿，面部潮紅浮腫，猶如丹毒之狀，口舌不和，牙關緊急，項脊強直，痙攣時作，角弓反張，腹部如鼓，腹皮青黑，按之如板，呼吸喘促。余曰：「證危矣，姑一試之。乃以蟬蛻末五錢，使之用酒和服，牙關不開，慢慢灌下。服後即汗出如洗，腥臭異常，以手捫之。黏如膠水，約近二時而汗止。額面腫消，惟頤下及口圍未消，腹腫如鼓，乃繼以巴豆二黃丸十二粒與服，攻下黏黑糞甚多，有如球狀，有如膠狀，有如魚凍魚腸，下五六次，以冷稀粥一碗服下止之。腹部腫硬消去大半，喘亦不作。次日又服蟬蛻末三錢，出汗如昨，面部紅腫消清。第三日，又與巴豆二黃丸九粒一服，續下膠黏腥黑之糞甚多，腹脹盡消，按之不痛矣。於是起坐均佳，後再服調理之劑而全愈。</p>
<p>其後又治療數人，均獲奇效。</p>
<p>注：巴豆二黃丸，即癰疔百效丸。</p>
<h3>百會疽之治</h3>
<p>《醫宗金鑒·外科心法》載述：「百會疽，發於巔頂正中，自面側觀之，正對耳尖。初起形如粟米；漸腫，根大如錢，形如葡萄，堅硬如鐵，高尖紅腫，掀熱疼痛，瘡根收束，憎寒壯熱，大渴，隨飲隨乾，便秘、煩躁。脈見洪數者，屬實；若漫腫平塌，紫暗堅硬，掀痛根散，惡寒便瀉，脈見細數者，屬虛。若腫連耳項，痰如拽鋸，七日無膿者死。」胡公弼曰：「百會穴前後生毒，最易侵犯腦髓，腦髓一陷，最不易治。」</p>
<p>作為外科重證，其治法宜予初起二三日內，尚未成膿時，將患處之發剪去並消毒，以抑陽散外敷，內服醒消丸，以熱陳酒送服三錢。不善飲酒者，以水、酒各半送服，其痛即止，夜間得睡。次日患皮起皺，再一服全消。如過四五日，患處作膿，亦以醒消丸與服，消其四圍腫硬，毒息痛散，雖出膿亦少，此以大變小之法，在壯實之人，以癰疔百效丸下之，亦可消散。方治及具體用法如下。</p>
<p><b>1．抑陽散</b>（《外科證治全書》方）：治癰毒紅腫，焮熱疼痛。</p>
<p>天花粉三兩薑黃、香白芷、赤芍各一兩。上研極細末，雞子清調敷，或醋調敷。</p>
<p><b>2．醒消丸</b>（《外科證治全生集》方）：治一切癰瘍疔癤，立能消腫止痛。</p>
<p>乳香、沒藥（均去油）各一兩　麝香一錢半　雄精五錢，各研極細黃米飯一兩。</p>
<p>上乳、沒、雄三味，各研秤准，再和麝香共研為末；用黃米飯一兩搗爛，人末再搗，為丸萊菔子大。曬乾，每服三錢，熱陳酒送服，醉蓋取汗，酒醒腫消痛息。</p>
<p><b>3．癰疔百效丸</b>（盧成琰氏方）：治一切癰疔，於體質壯實者用之。</p>
<p>巴豆（去皮膜）三錢　明雄黃三錢　生大黃三錢。</p>
<p>上各研細末，再共研極細，加飛羅面醋糊為丸如梧子大。輕者每服五六丸，重者每服七八丸，用白開水送下。俟瀉三四次，再以冷粥湯一小碗服下止之。</p>
<h3>瘰癧方治述略</h3>
<p>《靈樞·寒熱》篇云：「黃帝問於岐伯曰：寒熱瘰癧在於頸腋者，皆何氣使生？岐伯曰：此皆鼠瘺寒熱之毒氣也，留於脈而不去者也。黃帝曰：去之奈何？岐伯曰：鼠瘺之本，皆在於臟，其末上出於頸腋之間……」。《外科證治全生集》謂：「小者為瘰，大者為癧，生於項間，初起一小核，在皮裏膜外，不覺疼痛，皮色不異，漸大如桃李，旁增不一。諸書辨其名類，曰：形軟遇怒則腫甚者，名馬刀瘰癧；一包而生數十枚者，名蓮子癧；繞項而生者，名蛇盤癧；其形大小不一，連接數枚者，名子母癧；如黃豆結莢一般者，名鎖項癧；形小多癢者，名風癧；生項間延至胸腋者，名瓜藤癧；一枚上疊三五枚者，名重台瘰癧；生如鼠形，名鼠癧，又名鼠瘡，累累如串，俗名老鼠串。要皆虛損、氣結痰凝而成。</p>
<p><b>主治方藥：</b></p>
<p><b>1．紫玉簪膏</b>：</p>
<p>取紫玉簪花，連根、莖、花、葉（不開花時，取根、莖、葉亦可），不論多少，勿洗去根上泥，置石臼中，以石杵杵之（不經銅鐵器），使爛如泥，入布袋中絞汁；其渣入臼，量加陳醋再搗，再予絞汁，其渣再加醋搗絞如前。將一、二、三次搗絞之汁，同入一砂鍋中，慢火熬如流膏狀，待冷封固。用時取毛筆蘸搽患部，日二三次。不論已破、未破，均可外搽，毫無痛苦。輕者二三星期即愈，重者不過一月而愈。此為余屢試屢效的經驗方。</p>
<p><b>2．消串丹</b>：</p>
<p>白芍一兩　白朮一兩　柴胡二錢　蒲公英三錢　茯苓五錢　陳皮一錢　附子一片　甘草一錢　天花粉三錢　紫背天葵五錢</p>
<p>上水煎服，八劑痰塊漸消，又十劑盡化，又一月全愈。</p>
<p>愈後服六君子湯。此方妙在蒲公英、天葵為消串神品，然非佐以芍藥，則肝木不平；非助以苓、朮，則脾胃不健，又何能攻痰破結者。惟有攻有補，又得附子之力引各藥直搗中堅，所以能消風痰於旦夕耳。</p>
<p><b>3．轉敗丹</b>：</p>
<p>人參、當歸各二兩　白朮一兩　柴胡二錢　白芍、金銀花各三錢　半夏五錢　生甘草三錢</p>
<p>水煎服，四劑，痰塊在胸者盡消；又四劑，頸上潰爛者亦愈。將方減半，再服十劑，瘡口盡平，不再發也。此方補多於消，而開鬱寓其中，化痰存於內。</p>
<p><b>4．子龍丸</b>：</p>
<p>制甘遂、制大戟、白芥子（炒）各等分</p>
<p>上藥共研末，煉蜜丸如綠豆大。每服三分，淡薑湯送下，日三次。忌與甘草同服。</p>
<p><b>5．小金丹</b>：</p>
<p>白膠香、草烏、五靈脂、地龍、木鱉各一兩五錢，俱為細末</p>
<p>乳香、沒藥（各去油）　當歸身（俱研末）各七錢半　麝香三錢　墨炭一錢二分</p>
<p>上各研細末，混勻，用糯米一兩二錢　同上藥末糊厚，千錘打融，為丸如芡實大。每料約250粒，每服一丸，陳酒送下，醉蓋取汗。如流注將潰及潰久者，以10丸，做五日服完（一日二丸）。</p>
<p><b>6．犀黃丸</b>：</p>
<p>犀黃三分　麝香一錢半　乳香、沒藥（均去油）各一兩</p>
<p>上藥共研極細末，用黃米飯一兩，搗爛為丸（忌火烘、曬乾），陳酒三錢　送下。患生上部，臨臥服下，空心服。</p>
<p><b>7．內消驗方</b>：</p>
<p>土貝母、白芷各五錢</p>
<p>共為細末，糖霜調陳酒，下三錢。重者三服愈。</p>
<p><b>8．消癧方</b>：</p>
<p>元參（蒸）　川貝母（去心，蒸）　牡蠣（火煅，醋淬）各四兩</p>
<p>研細末，煉蜜為丸。每服三錢，溫開水送服，日二次。</p>
<h2>余無言年譜</h2>
<p>1900年11月20日，余無言先生誕生於江蘇省阜甯縣益林鎮。</p>
<p>原名余愚，字擇民（一作「則民」），別署不平。</p>
<p>1905～1909年家中延請塾師課讀文學基礎讀物及算術等。</p>
<p>1909～1911年先生去淮安縣，在淮安高等小學插班讀高小，高小畢業時正值遜清·宣統三年。</p>
<p>1911～1914年塾師教讀儒家經典、四書五經、《史記》、《漢書》等典籍，在文史方面打下了堅實的基礎。</p>
<p>1914～1918年先生隨其父余奉仙先生（「晚清蘇北三大名醫」之一）攻習中醫經典名著《黃帝內經》《難經》《傷寒論》《金匱要嗡）《神農本草經》及臨床各科醫著，並為其父抄方二年。在數年學習期間，尤為重視醫聖張仲景經方的學習與運用，為民國時期成為「經方派」名家奠定了基礎。</p>
<p>1918年：是年秋，開始在阜甯縣益林鎮懸壺應診。由於歐西醫學東漸，在診余之暇，亦選讀部分西醫臨床醫籍。</p>
<p>1920～1923年：先生受當時醫學界「衷中參西」的影響，去上海進一步學習西醫內、外科，內科從學於俞風賓博士，外科受教於上海德籍名醫維都富爾。在此期間，較為重視中西醫學之溝通。</p>
<p>1923～1927年：返回蘇北故鄉，繼續行醫。在診療方面以中醫為主，西醫為輔，治療成績卓著。在此期間並在故里主辦阜甯縣第三區小學，延請教師講學，自任校長。</p>
<p>1927～1929年：先生應聘擔任當時國民政府顧祝同部某軍第二師軍醫官，轉戰安徽、河南、湖北、江西等省。治療病員，以外、傷科病證為主。</p>
<p>1929～1930年：1929年冬，先生辭去軍職，到上海市定居開業，改名余無言，係取自孔子「予欲無言」之意（此名多用於著書立說和對外交流，行醫數十年多用「余擇明」作為診所名）。</p>
<p>1930年3月，與張贊臣先生共同主編《世界醫報》（每週出一期），力求在中西醫學術溝通和診療中的取長補短方面多所致意。1930年秋，應包識生先生（當時任上海中國醫學院院長）之請，擔任該院外科學教授。</p>
<p>1931年：除私人診所外，又與張贊臣先生合組聯合診所，這可謂是上海市比較早期的中醫聯合診所。</p>
<p>1932年：由當時「中央國醫館」館長焦易堂先生聘請先生擔任該館名譽理事，為改進中醫工作出謀獻策。</p>
<p>1934年：中央國醫館增聘先生擔任該館編審委員會委員（編審委員會主席是陳無咎），負責起草中醫「外科病名表式」，頒佈全國中醫界採用。在中央國醫館編審委員會起草的臨床各科病名表式中，先生的外科病名表式，頗受外界讚賞。是年，先生還編寫、出版了《實用混合外科學總論》和《實用混合外科學各論》（中國醫藥書店刊行）。總論以西說為經、中說為緯；各論則以中說為經、西說為緯，強調診療中的「實用」二字。這是中西醫外科學術匯通之作，當時是受張錫純《醫學衷中參西錄》著述的影響，也可以說是「中西匯通派」較早期的外科著作，有其一定的學術影響，故在建國後，上海中醫書局均有重印本刊行。</p>
<p>再者，先生數年來以「改進中醫」為素志，在報刊上發表了多篇學術論文，引起中醫界的重視。特別是他針對舊國民政府和余云岫等提出．「廢止中醫中藥」的舉措與主張，先生以余無言或余不平的名義，多次撰文予以駁斥、聲辯，為當時中醫界所重視。此外，先生還為《醫界春秋》《復興中醫》等刊物撰寫多篇學術論文。</p>
<p>1936年：章太炎先生主辦「蘇州國醫學校」聘請先生和葉橘泉、章次公等名家任教。先生擔任中醫外科主任，主講中醫外科學。是年並擔任上海新中國醫學院教授，主講《金匱要略》和中醫外科學。</p>
<p>1937年：上海中國醫學院聘請先生主講《傷寒論》。在此前後的年月中，先生還受聘於中國醫學專修館、中華職業學校（國醫專科）等校任教。</p>
<p>是年秋，先生與張贊臣先生合作主辦「上海中醫專科學校」，敦請謝觀擔任名譽校長，陳無咎任校長，丁福保、張伯熙（張贊臣先生之父）先後任副校長，先生任教務主任，張贊臣任總務主任。先生除負責教務外，主講《傷寒論》《金匱要略》和中醫外科學。上海中醫專科學校為三年制，共主辦畢業了三屆。先生還將其次女余蕙君於1938年送入該校學習（1941年畢業）。</p>
<p>1939年：先生所編著之《傷寒論新義》（圖表注釋）由中華書局公開出版，由於作者「改進中醫」的素志和對待仲景學說及其臨床應用等方面，力求精意研殫，該書的圖表及論述中均融匯若干西醫學說，體現了當時的時代特色。該書並請丁福保、謝觀、陳無咎三位老先生分別撰序，向讀者介紹該書嶄新的學術風貌。《傷寒論新義》自刊行後，曾九次重印，堪稱是他學術著作中的代表作。</p>
<p>1942年：先生因不屈於日偽政府對院校的登記造冊，遂決定停辦</p>
<p>上海中醫專科學校。先生在五年教學中，認真備課講學，雖大雨滂沱，亦必撐傘赴校、衣濕上臺授課，受到學生們的廣泛好評。</p>
<p>1943～1946年：先生先後編寫、出版了新作——《濕溫傷寒病篇》和《斑疹傷寒病篇》（上海中醫書局出版）二書。所謂「濕溫傷寒」係指西醫的腸傷寒，「斑疹傷寒」為西醫病名。但在介紹治療方面，主要是採用中醫傳統治療與方藥，特別是突出經方的臨床應用，可明顯增強療效。</p>
<p>1947年：余氏在上海創辦「大同療養院」，請丁福保先生擔任名譽院長，自任院長。名為療養院，實際上主要是收治慢性疑難病證，可以說是上海較早期的中醫醫院。開辦不足二年，因經費匱乏而停辦。</p>
<p>1948年：先生接獲多封外界讀者來信，建議他編寫《傷寒論新義》的姐妹篇——《金匱要略新義》。實際上先生於40年代初即有此意向，多年來在這方面的學術積累也較為充分。是年在繁重的診務和教學負擔下，經常在夜間參閱大量文獻、結合臨床予以編寫。而他在上海執業的30年中，主治病證以內、外科居多。內科則以傷寒、溫病、內科雜病、疑難重證為主。所用方治，雖不拘經方、時方，但仲景方仍占轉大比例。他對上海的時醫診治熱病，動輒以豆豉、豆卷等藥施治，至為不滿。先生用仲景經方中之石膏、大黃，在辨證確切的情況下，用量相當大而效驗卓著，甚至有「起死回生」的多個案例，上海市民以「石膏、大黃先生」（此處之「先生」二字，義同醫生）稱之，成為民國時期經方派的名家。關於這一點，讀者在閱習他的醫案後，當會有更深的體會。自1929年定居上海後，先生對中醫前輩名家多所敬重。他曾多次表述，在學術上除承父教外，上海的謝觀、丁福保、陳無咎等老先生對他亦多所教益，但生平尤為崇敬的則是「南北二張」（「南張」指嘉定張山雷，「北張」係指天津張錫純）。在學術方面，除主張精讀經典名著外，並在一定程度上主張中西醫學匯通。故他是民國時期「經方派」名家，也是「匯通派」的成員之一。</p>
<p>1949年：是年5月，上海獲得解放，並於10月1日建立了中華人民共和國，中醫藥界從此得到了真正的「解放」。先生診務較前更為繁忙。在學術上，他更多地和上海同輩名醫陸淵雷、秦伯未、章次公、程門雪、張贊臣、章巨膺、嚴蒼山等切磋、研究，為上海市的中醫工作發展向衛生部門提出諸多建議，以促使改進中醫藥工作的順利發展。由於在上海的20年，先生的醫事活動以臨床與教學為主，受教的學生數以千計，招帶的生徒亦不下數十人之多，先生開始將過去診療的若干病證予以案例記述、整理，他在建國以前已將其父奉仙公遺著——《醫方經驗彙編》整理刊行（中華書局出版），自己也擬出一本醫案著作，定名為《翼經經驗錄》，書名涵義是以個人的臨床經驗以羽翼仲聖之經典名著。實際上《翼經經驗錄》所經治的醫案，本書均已予以收錄、整理。余氏之醫案力求在臨床上能取精用宏，並以符合診療實用為準則。余氏所主張的「中醫科學化，西醫中國化」，對外界也有一定的影響。</p>
<p>1952年：先生積多年仲景學說的教學、研究，編著了《金匱要略新義》（圖表注釋），由新醫書局出版。書的封面及其扉頁，分別由其同道、詩友秦伯未、嚴蒼山先生題寫書名，學術特色仍以「圖表注釋」為主。無言先生針對世傳《金匱要略》原文，在理順經文之錯亂、偽文之蕪雜方面下了一番功夫。每論一證，多以西說為參證。全書仍以「發皇古義，融會新知」為其著述思路與方法，出版後亦曾多次重印（臺灣省亦據原本重印）。由於《傷寒論新義》與《金匱要略新義》的先後刊行。余氏成為20世紀仲景學術的主要研究者之一。</p>
<p>1954年：數年來，先生陸續帶徒講授醫經及內、外科，積極參加上海中醫界各項學術活動，並經常去西醫醫院會診。是年秋，衛生部中醫研究院籌備處派出陳邦賢、徐瑞傑先生到上海延請名醫赴京工作，曾親臨診所、住處洽談，先生答以稍緩時日，考慮進京工作。同年10月5日，華東及上海市召開中醫代表會議，討論衛生部所擬訂開展中醫工作的種種方案，無言先生作為中醫學會和內科學會的特約代表應邀出席大會。此次會議以發掘、整理祖國醫藥遺產、推進醫學教育和糾正過去工作中的偏差作為討論重點。先生指出：「中醫學術得到政府的重視，可以安如磐石。」在會議過程中，先生除作口頭即席發言外，並向大會和秘書處專寫提案四則，對中央制訂的中醫政策極為支持。</p>
<p>1955年：先生之三子余瀛鼇自北京中央直屬機關第二醫院報名參加衛生部主辦第一屆全國西醫學習中醫研究班系統學習中醫，並在醫學史前輩名家陳邦賢先生的示意下與其父聯繫來京工作事，無言先生答以數月後赴京到中醫研究院工作（研究院於1955年12月19日正式成立）。</p>
<p>1956～1957年：1956年3～4月，無言先生全家由滬遷京。中醫研究院首任院長魯之俊與先生面談工作，囑其與於道濟先生主持編審室（數年後改名為中醫文獻研究室）工作，室內成員有上海陳蘇生、浙江謝仲墨、揚州耿鑒庭等先生。1956年夏迄1957年秋，先生主要參加建國後全國九種中醫教材的審訂，為提高教材的品質傾注了心血。他更多的是對《傷寒論》《金匱要略》和《中醫外科學》三種教材負責予以審改，為各中醫院校編寫教材奠定了學術基礎。當時並應聘承擔衛生部全國第一屆西醫學習中醫研究班的《金匱要略》等課程的主講人之一。</p>
<p>1956年10月，先生為其子瀛鼇在西醫系統學習中醫的基礎上，能達到「術業精進」的目的，提議拜在其同道、摯友秦伯未先生（當時任衛生部中醫顧問）門下，秦先生欣然接受這個提議，並在數年後師生合作編寫、重訂《內經類證》刊行於世。</p>
<p>1958年：是時正值全國「反右」鬥爭的後一年，先生因所謂「右派言論」由中醫研究院調至北京中醫學院任教。當時已患有高血壓，體況欠佳，教學課時不多。</p>
<p>1959～1962年：先生參加北京中醫學院「十大經典醫著」的編纂、設計，由於身患高血壓，實際工作做得不多。先生並在數年內承擔一些中央領導的醫療、會診工作。</p>
<p>1963年：是年9月6日忽患腦溢血，急送北京中醫學院東直門醫院內科搶救，因出血量多，於9月7日病逝，享年63歲。</p>
<h2>後記</h2>
<p>無言先生生平業醫45年，在中醫臨床、教學和學術研究等方面，均有較大的貢獻。除醫事外，先生對文學、史學亦有深邃的研究，特別是對《史記》和《漢書》，曾欲撰寫專著，因不幸早逝，未能如願。生平素喜吟泳，曾將建國前後所撰詩數百首，分別編為《愚盦詩草）八小冊（自印本）分贈親友、同道和學生輩。作為從事中醫教學30餘年，受教的學生遍佈全國，生徒中如何任、顏德馨、薛盟、曹向平、袁正剛、裴慎、龐泮池、董平、張鴻祥、巫君玉等，均為具有廣泛影響的名醫；子慶鼇、瀛鼇，女竹君、蕙君亦傳其業。</p>
