<header><h1>發背對口治訣論</h1></header>
<dl class="元資料" data-type="book" hidden></dl>
<h2>謝氏《發背對口治訣論》序</h2>
<p>《發背對口治訣》，先大父邃喬公所著也。先大父性穎悟，好讀書，常以濟世為念，敦學不怠，屢困棘闈。及先伯父香伯公舉於鄉，始無意進取，惟讀書以自娛，暇則講求岐黃。曰：士不能得志，是亦濟世之一道也。通內、外科，多所闡發。每視病必矜重，四方延請，雖遠必至，卻饋遺貧困者，以藥助之。嘗為人治發背、對口諸證，以古人之法投之多不效，沉思其故曰：是非古人之欺我也？特未通其變耳。夫一證之成，其受病必有偏重之處，審其所偏重而切治，則效可立見也。</p>
<p>自是，凡治此證必辨其位之左右、上下，色之赤白、深淺，脈之浮沉、遲速，以審其經絡腑臟竅穴之所系，與夫陰陽虛實、淫郁燥濕之所歸，而復參之天時，相其地宜，以制五行生克之用。取古人之法，損益變化以通之，於是所治罔不效。既而先伯父迎養琴江署舍，多暇，乃取歷年醫案，裁定發背對口治訣幾卷，附錄經驗幾卷，及歸而授之。先君曰：此書未經人道勿輕視之！藝雖小，亦足以濟世矣。先君東環公暨先叔父東揆公亦皆以儒術通素理，先君久戰北闈未遑，展施先叔父以是道行。世善用先大父遺法，故所治多奇而中。今先君、先叔父相繼逝世矣！為與諸弟皆材劣，不能通一藝，先人之書具在，徒使置而勿用，是先人濟世之志至為等而中絕也。楊君子逸夙聞是書，勉余欹梓，余欣然從之。庶幾先人遺術傳播四方，高明之士鑒而采擇焉，未必不有補於世，雖未能述先世之事，猶不失先世之志也夫！</p>
<p><u>道光二十年仲春七日孫翼為謹序</u></p>
<h2>總論</h2>
<p>對口、發背不拘偏正，只謂形色。色忌晦滯，貴淡紅明潤；形忌歪邪平塌，要尖圓高突。</p>
<p>所以高為陽，下為陰；紅為陽、白為陰。有肌膚受寒毒，雖高聳而亦白者，須用柴葛解肌。或時當寒甚，用淨蘇葉溫解，使之重汗，俾邪從汗解。若痛在筋骨，外不現形，肉色如故，兩脈或弦硬、細緊、沉伏、細滑，則為流注，須用蒼、陳、朴、草、蘇葉；不效，再用麻黃、薑、桂、附子以解之。麻黃不拘分量，數分起至二錢為止。有干鶴膝，小腿不但不腫脹，並其上大肉盡去，膝轉看得極大，麻黃一服即用三錢。</p>
<p>對口不拘左右，以升陽火為主：右初起柴胡、川芎，可稍緩，即用升麻；左初起升麻可稍緩，且先用柴葛解肌湯；若自左腫之右、自右腫之初，一服升、柴、川芎並用桔梗，不拘左右用錢外至錢半為止，使之載諸藥而上浮。凡耳後、腦骨中間、軟堂正中必用獨活，以提腎毒。</p>
<p>對口在頭，頭為諸陽之首，雖不高聳，亦不以陰論，止重用發散。間有時值嚴寒，無汗不解，用麻黃三五分，炒黑；而桂、附等藥不用，發背亦然。發背並不宜重用發散，倘至大潰之後，亦清補者多。對乳以上用桔梗，對乳以下不用。對口右升麻、左柴胡，乃其君也！若火勢炎甚、身熱如炙、痛楚非常，川芎不用。經云：川芎佐清陽而升。頭角火炎者，宜戒火熱。大痛、極紅而老，倘升陽、散火無效，一面重加升麻，一面加大黃一二錢，謂之將軍定痛散。發背若大痛楚，亦用定痛散。</p>
<p>毒有游紅、嫩紅、散腳紅、紅而帶紫如豬肝色，重則用青皮、柴胡以疏肝氣，輕則用柴胡、白蒺藜、丹皮以平之。游紅系絳紅色，亦帶紫，是血分稍虧、陰火上發。輕則用玄參二三錢，如夜加痛楚、發熱則用生地二三錢，以滋陰，非此不可擅用，恐導邪入腎。當歸去瘀生新、新會皮和中補胃，二味人稱外科勝藥，病未退，切不可擅用，能導邪入胃。乳香、沒藥能和氣血，亦能損胃，胃弱者亦戒。至麻黃、薑、桂說之已詳。大寒如知、柏、芩、連用亦甚少：非身熱不退不用黃芩；非干惡、神情煩躁、身熱如爐不用黃連；非口中大苦、舌苔焦黃而作渴，不用知母；小便短赤、眼睛淚熱方用黃柏，鹽水炒。</p>
<p>脾善唇滋潤、肝善身輕便、肺善聲音響、心善精神爽、腎善水稀長，是謂五善。更有七惡：一惡神昏憒，二惡腰身強，三惡形消瘦，四惡皮膚槁，五惡成消渴，六惡身浮腫，七惡瘡倒陷。《外科正宗》善惡論：患處梗實，如同負重，形色晦暗，歪邪平塌，隱然有黑色在肌肉間，是毒藏於胃，不治。何則？胃主肌肉、肺主皮毛，且肺屬金、胃屬土，土為金母。煩躁而指頭不紅，肝病；神昏，心病；口中無味，干，吊惡而飲食不貪，脾病；肌膚不潤，毛髮干枯而多痰，肺病；小水短赤，骨節疼痛，夜不成眠，飲食不消，大便不實，腎病。毒色如豬肝，無膿者，死。潰而不爛，最忌起葡桃之肉腫：毒亦腫者，佳；肉腫，毒不腫者，死。去腐生新，形如石榴子者，佳；腐肉已脫，而有紅絲絲於其上者，死；新肉如板片，不進食者，死。又有毒已潰爛，根腳尚不清楚，膿勢亦不涌出，飲食不貪，欲攻而毒已潰爛，身軀已弱；欲補而根腳不清，膿不涌，食不貪，肺胃邪不退，攻補兩難。經云：攻則死，補亦亡，謂和六腑最為良。更有新肉已滿，外口亦閉，按之不實，如皮袋狀，不治。</p>
<p>凡至根腳清、痛減，膿雖未涌，不妨少用生　以佐膿。根腳清、毒軟、痛止，急用炙黃、山藥合八珍湯，扶正卻邪；有受寒、板痛，毒清消時、不消膿時，停（似有誤字），用柴、葛、白芷以解之；有重用蘇葉合真人活命飲解之。有受暑而然者，用六一散、香薷合真人活命飲。有房欲反復，未潰、未膿用獨活合柴葛湯與活命飲；既潰、既膿用川斷、製首烏，輕用活命飲。有受氣而然者，已潰、未潰俱用柴胡、青皮、鬱金、香附，未潰合活命飲，已潰輕用。</p>
<p>受風而反復名為破傷風，不治者頗有，已潰用楝冬二三錢、八珍兼活命飲；未潰用黃芩、柴、葛與活命飲。</p>
<p>婦人產後不可脫去生化湯，胎前、帶下，黃芩、白朮、苧麻根，不可擅用甲片；有白淋者用石羔腐炒黑為引，赤淋用鹽鹵腐炒黑、或用龜板、或用烏羔，潰後用川斷、台朮、大熟地。</p>
<p>男婦兼血證，引加童便一大杯。或男人遺精加蓮須、芡實，潰後用連皮、建蓮為引。</p>
<p>有傷魚積，青果一枚為引；肉積，臘肉、骨灰加山杏一；飯積，用麥芽、神麯元；米積，用白酒元；酒積，用白葛花、雞巨子；面積，用白酒元、厚朴；芋頭積，用陳酒；瓜果積，用草果、麝香。又有潰爛時受臭香感觸，用羌活合活命飲；有食冷復發，用半夏、陳皮；沐浴受觸，用柴葛。竟有至痰喘氣急者，加真杜蘇子三錢（炒研）、枳殼三錢（炒）。</p>
<p>毒有高聳而不紅不痛，是為陽中陰，宜溫解；有平塌而極紅、極痛、腐爛者，是謂陰中陽，宜清解。凡毒至，根腳清正，四面不痛不硬，患處亦軟，陽宜清補，陰宜溫補。一切未潰以實論，既潰以虛論。又有根腳松散、紅色甚嬌、紅腳甚嫩、如嫩肉狀，且不疼痛，患處雖未潰而亦軟，舌上清皎無苔，是大虛之證。發背雖在未潰，一服即用炙黃　一兩。夫補宜循序而進，遲補傷元，誤補則加痛，與其誤補，毋寧遲補。如人本質不濃，因遲補而膿不速者，是大約將膿未膿，可用生　三錢，漸加炙　錢許，膿出再加炙　後，不用生　。大潰、大證，用至七八錢，甚有至一兩者。大潰未有不氣血兩虧，補氣用參、　，補血用熟地，補血之陽用當歸、丹參。毒至潰後，補氣而外，未有不急補腎水。何則腎為水，水生木，木生火，火生土土生金，是水為方物之母。腎，上為命門，左為水，為水火既濟。潰後陽證清補，川斷為清補聖藥。若當溫補而用川斷，小水必蔽結。清補，至邪盡、飲食將復舊必用大熟地；溫補至飲食復舊，亦可用熟地（必用陳酒煮爛，每兩加砂仁五六分。清補亦用此法制）。又發背有陰陽、虛實夾雜：如肉腫瘡不腫者，即是虛實夾雜；至形狀歪邪，根腳模糊，突起色白，藥不見效，是陰陽夾雜。初起亦用溫散，以觀動靜，然後用人參一二分（燉汁）、炒花粉、肉桂一二分（燉汁）、炒栝蔞仁，余則如常。若患處微似青色而人易生怒氣，亦用桂、制栝蔞仁；如潰後煩怒，用桂一二分（燉汁）拌炒白芍，妙。凡毒，軟為虛，硬為實。更有腫脹不軟而亦不痛，是邪在血分，重用荊芥以疏血分之邪；紅色過赤而老，是血分之火，用荊芥穗一二錢（鹽水炒黑）。潰後，精神弱、不成寐，用遠志肉（開水泡）、白茯神、酸棗仁；不效，再引用龍眼肉。氣血弱，潰不收，用萸肉錢外或二錢，加炭白朮、白芍（土炒）。大便不實，弱而不實色呆白，腹不痛，人懶倦，用升麻數分、白扁豆二三錢（炒焦）、厚朴、杜仲（鹽水炒）二三錢。實而不食，心口痛，氣飽，用藥隨所食之物以消之。若痢疾、胸氣不寬，用炒枳殼；重則佛手、青皮加廣木香、厚朴。痢退，亦用升麻以提其陽，使之清升濁降；用白扁豆以補其脾，再後用杜仲以佐其火。小便閉，用車前二三株或蔗漿以利之，忌食發物及生冷、洗浴、勞動、傷悲、氣憤。遇寡婦最宜解鬱。毒楚難禁，用炒整甲片，將石膏腐包好煮滾，以平其燥烈之氣。治病必從其本：食冷反復，輕則用砂仁以醒胃，重則用半夏以燥胃。病雖有萬殊，救藥及反復總歸一本。</p>
<h2>附：謝氏外科秘法</h2>
<p><u>辯證</u></p>
<p>色紅而高腫、按之而即痛者，為陽；色白而平板、按之而不痛者，為陰。色浮淡而根腳模糊為虛，色沉著而根盤清正為實。色淡白青而板者，為寒；色深紅紫而痛者，為熱。審而治之，斯為得矣。</p>
<p><u>治訣</u></p>
<p>補則死，攻則亡，調和六腑最為良。</p>
<p><u>治法</u></p>
<p>凡初起，但用攻發，消去即了，不必補、托。若將作膿，方可內托。</p>
<p><u>見證</u></p>
<p>伏陰證（外軟內硬，按之而後痛者）、伏陽證（外硬內軟，按之即痛者）、半陰半陽證（或外軟內硬而按之即痛，或內軟外硬按之而反不痛，或形屬陽而色屬陰，或色屬陽而形反屬陰，是皆陰陽錯亂，治無適從），法宜調和臟腑，燮理陰陽，皆用制甘草為君。秘傳君，相通神（審證之輕重，投劑之大小。慎勿誤投，自取背戾）。</p>
<p>大劑：大甘草一兩，栝蔞仁八錢，甲片四錢；中劑：大甘草八錢，栝蔞仁六錢，甲片三錢；小劑：大甘草六錢，栝蔞仁四錢，甲片二錢。更重者加金銀子（左三十五粒，右四十粒），日輕夜重者加炒黑荊芥二錢，極痛而不大便者加炒黑大黃二錢，肉內陷者花粉用人參制，色青紫者栝蔞仁用肉桂制，惡心者加開口椒四十九粒。</p>
<p><u>凡初起方</u></p>
<p>大貝（二錢）　白芷（一錢）　花粉（三錢）　大甘草（六錢）　栝蔞仁（四錢，炒研）　甲片（二錢，炒研）　葛根（一錢）　丹參（一錢）　僵蠶（一錢，炒研）　蘇葉（一錢五分）</p>
<p>（左加柴胡一錢，右加桔梗七分）加酒（一大杯）　蔥頭（三個）　角針（三分）</p>
<p>伏陰證、純陰證（內外板硬，白而不大腫，按而不大痛，覺同負重如磨）是皆重證。</p>
<p>蘇葉（一錢）　大貝（二錢，研）　白芷（一錢五分）　花粉（三錢）　葛根（二錢）　丹參（一錢。純陰證可不用，要用荊芥二錢）　（左加柴胡一錢，右加桔梗七分）　大甘草（一兩）　制栝蔞仁（八錢，炒研）　甲片（六錢，炒研）　僵蠶（一錢，炒研）　澤蘭（四錢。純陰證可不用，伏陰證必用）　角針（三分）　荊芥（一錢）</p>
<p>加引同前。</p>
<p><u>伏陰證</u></p>
<p>大甘草（八錢）　栝蔞仁（六錢）　甲片（四錢）　澤蘭（六錢）</p>
<p>余與前同。</p>
<p><u>半陰半陽證</u></p>
<p>（宜調和六腑）</p>
<p>大甘草（一兩）　制栝蔞仁（八錢）　甲片（六錢）　澤蘭（八錢）　丹參（三錢）　余藥同前。若勢減收功，手按之而軟者，加芎、歸、芍、地、苓、　、人參；若硬者，仍帶攻發，宜加金銀子。引同前。</p>
<p><u>托膿</u></p>
<p>（左柴胡一錢，右桔梗七分）　防風（一錢）　生黃　（一錢。毒甚者不可用）</p>
<p>大貝（二錢）　花粉（三錢）　白芷（一錢）　葛根（二錢）　大甘草（四錢）　栝蔞仁（二錢，炒）</p>
<p>甲片（一錢，炒）　僵蠶（一錢，炒，有膿即去）　丹參（一錢）　澤蘭（三錢）　加引同前，如有風寒，加蘇葉（一錢）。</p>
<p><u>腐肉脫後</u></p>
<p>（膿後未脫腐肉少用參、　，勿要攻發）</p>
<p>防風（一錢）　花粉（三錢）　大貝（二錢）　丹參（三錢，有人參可不用）　大甘草（六錢）</p>
<p>甲片（一錢，炒，全軟不用。左柴胡一錢，右桔梗七分）　栝蔞仁（四錢）　黃　（生熟各二錢）　澤蘭（五錢）　白茯苓（二錢）　川芎（八分）　當歸（一錢，酒炒）　白芍（一錢，酒炒）</p>
<p>大生地（二錢，酒炒。腐肉未去不可用）</p>
<p>此藥服之若痛，即用發散藥；按之而根腳硬者，去人參、芎、歸、芍、地；若不硬，熟地、黃逐日可加，甘草、栝蔞仁、甲片逐日可減。全要性靈心活，切勿呆板。引同。</p>
<p><u>收功</u></p>
<p>防風（一錢）　黃　（四錢，蜜炙）　大貝（二錢）　花粉（二錢）　大熟地（三錢，炙）　川芎（八分）　當歸（一錢，酒炒）　大甘草（二錢，炙）　白茯苓（三錢。有人參不可用）　白芍（一錢，酒炒）　澤蘭（五錢）</p>
<p>外用陳玉紅膏和陳香油調勻搽引（薑一片、棗三枚；否則桂圓肉五枚），若不思飲食，熟地少用，甘草用生，加砂仁、炒穀芽。引用煨薑。</p>
<p>忌口（除食蝦、蟹、鰻、牛、韭、　、生冷及洗浴行房，余概勿忌）。</p>
<p>收金銀子法（秋分前後三日俱好）。</p>
<p>制甘草法（揀極大者，春分日，大河內潮水浸一晝夜，取出陰乾用）。</p>
<p>制栝蔞法（用好肉桂，切細，和水入粗瓷器內，煎滾，即入栝蔞子煎十數沸，取出，去肉桂渣，研用）。</p>
<p>制花粉法（將人參煎水，再入花粉同煎十數沸，取用）。</p>
<h2>附：對口方</h2>
<p>在左者：柴胡（一錢五分）　葛根（二錢）　荊芥（二錢）　升麻（八分）　川芎（一錢二分）　桔梗（一錢二分）　花粉（三錢）　甲片（二錢，炒）　栝蔞仁（三錢，炒）　獨活（一錢）</p>
<p>大甘草（四錢）　蘇葉（一錢）　青皮（一錢）</p>
<p>加酒一杯，蔥頭三個（去須）。</p>
<p>若在右者，去柴胡、川芎、青皮，加枳殼或陳皮亦可。</p>
<p><u>引經藥</u></p>
<p>官桂（流注用。是寒證皆宜，發背勿用）、僵蠶（炒。消腫用，膿後不可用）、羌活（兩太陽用）、獨活（托腮、後發際、右腰下、兩頰皆用）、薄荷（發際下用）、白蒺藜（左腰下用）、白芷（額角用。去寒濕，消毒，止痛，辟邪。發背、流注用，初起皆用）、蒼朮（流注及諸般濕證皆用，發背勿用）、乳香（對口初起用，又消一切無名腫毒並止痛）、沒藥（功同乳香）、秦艽（舒筋散厥陰之風）、　本（頭項痛）、乾薑（流注用）、破故紙（臍右用，熱證忌）、制附子（流注用）、益智仁（臍左用）、白芥子（流注用。溫脾、肺）、知母（右顴用。寒肺、胃）、角針（能引諸藥直達瘡所。有膿即止）、川芎（左肩、項俱用）、大甘草（生用調和六腑，並去大腸火毒；收功用炙熟）、升麻（兩肩用五分多至七分，兩項用七分多至九分，頭上用一錢）、甘草梢（龜頭用）、防風（四肢用，右肩、腿皆用。發背膿後外托尤宜）、陳皮（對口左邊可用，發背大忌）、人參（膿後用，必須兼防風，腐肉盡脫去，可大用）、牛膝（性善下，且舒筋。左足用）、鬱金（解鬱）、黃芩（凡大毒慘痛者用，發背用。其寒涼傷胃也）、木瓜（舒筋，走右足）、蘇葉（發汗用，受寒者必用。能溫肺，用在初起）、苡仁米（走右足）、花粉（發背必用。若虛而內陷者，要人參水制，能消火、消毒）、甲片（炙研。攻利必用之聖藥）、槐頭（食指）、桑頭（大指）、楊頭（無名指、中指、小指）、楊須（足指）、大貝（拔毒必用之聖藥）、澤蘭葉（調和氣血。膿前少用，膿後收功大用可至八錢）、地松根（兩足）、黃（毒前不能輕用，托膿時用生，潰時半生半蜜炙，腐盡收功全蜜炙）、大黃（炒黑。發背紅紫色、痛不止而不大便者用二錢）、栝蔞仁（必用之藥。若發背、對口青紫者，用肉桂水制）、荊芥（肩、項用。炒焦用。發背、對口日輕夜重，並治血氣下陷。溫散生用要藥）、葛根（發背伏陰伏陽皆用）、開口椒（閉口者有毒，不可用。治惡心用四十九粒）、麻黃（流注用，發汗必須）、枳殼（對口右邊用。心隔不寬、飲食不消，俱可用）、桔梗（上升下降，在右者尤宜。腰上七分，腰下四分，乳膀上一錢，項以上一錢二分。凡毒在乳膀以上者，不論左右俱可用）、柴胡（在左者俱可用。青紫色者是肝病，不論左右皆用。腰下五分，腰上至肩一錢，左顴一錢五分）、三七（活血治傷）、土方八（善走骨節，治一切無名腫毒，引經藥所不能到者。左顴用。去肺火。發背、對口紅紫色者，用一錢）、金毛狗脊（尻骨用。尻即尾樁骨）、萆　（左腰下用）、丹參（調經脈）、漢防己（右腰下用）、桂枝（兩手用。性溫散，寒證宜，熱證不可）、金銀藤（四肢用。性清涼，熱證不可）、金銀花（清涼拔毒，兼走四肢）、海桐皮（腿用）、生地（涼血補陰）、當歸（活血）、歸尾（破血）、鮮生地（涼血）、大熟地（大補陰分，虛者收功可用）、鮮首烏（排膿止痛）、皂莢（炒，去筋研敷。流注、痰毒一切無名腫毒之聖藥）、青皮（對口有邊用，發背大忌）。</p>
<p>以上諸藥，皆秘授引經要品。宜熟讀本草，究其功用，詳審證之虛實寒熱，而斟酌以治之，自當以運化無窮，動輒取效也。</p>
<p><u>熏方</u></p>
<p>三角楓（一兩）　白桑皮（五錢）</p>
<p>上二味，為末，紙卷藥，燒煙熏之。俟毒水惡膿盡出，其毒自消。</p>
<p><u>敷藥方</u></p>
<p>獨腳龍須草炙、研為末，每兩加陳小粉五錢和勻，米醋調敷。干則以醋潤之，換時用豬肉湯洗去。</p>
<p>凡毒初起用此方。如久不收口，以前方熏洗，熏過將肉湯洗淨、拭乾，以龍須草散干糝之，外以太乙膏蓋之。</p>
<p><u>第一方</u></p>
<p>甘草（一兩）　花粉（五錢）　大貝（二錢五分）　角針（三錢五分）　甲片（七片，蛤粉炒）　川椒（左右輕重用）　栝蔞（一個）　白芷（一錢二分）</p>
<p>加乳香、沒藥各一錢二分、烏金子五錢，三味共研細末，待藥熱時沖服。水、酒各半，煎服一帖。在上者加防風、桂枝、桔梗各一錢，中間者加川芎二錢五分，在下者加牛膝、木瓜各一錢二分、蔥頭三個。</p>
<p><u>第二方</u></p>
<p>甲片（六分，蛤粉炒）　甘草節（六分）　歸尾（一錢）　白芷（六分）　角針（八分）　金銀花（三錢）　赤芍（六分）　花粉（八分）　川椒（三十六粒）　烏金子（五錢）　防風（六分）　陳皮（三錢）　乳香（六分）　沒藥（六分）　大棗（七個）</p>
<p>水、酒煎服二帖，重則三帖。</p>
<p><u>第三方</u></p>
<p>（兌金丸）</p>
<p>大龜板（一斤，洗淨）　陳酒（一斤）　米醋（一杯）　川蜜（一杯）</p>
<p>上藥以炭火炙碎，三汁完取，研末，以粽米為丸，如豆大。服三錢。如欲速愈，加至五錢。每日早晚兩服，服至十二兩全愈。</p>
<p><u>第四方</u></p>
<p>（黃金碧玉膏　長肉生肌、止痛）</p>
<p>白占（一兩）　黃占（五錢）　頭發（五錢）　歸身（五錢）</p>
<p>如痛加乳香、沒藥各一錢五分，肉桂三錢（研），大附子三錢（研。此二味陽毒不用，若陰毒久不收口塌陷者，加入如神）。</p>
<p>上藥：用麻油陸兩，以頭發先熬枯，去渣，再下歸身熬枯，去渣後，下黃、白占，待化開，再下乳香、沒藥二味，化開，和勻。凡毒不久收、不長肉，以此膏敷之，外以好膏藥蓋之，或油紙亦可，一至晝夜，以豬蹄湯洗去，三換三次而愈。</p>
<p><u>第五方</u></p>
<p>（去腐萬金丹）</p>
<p>巴豆不拘多少，先洗去白膜，再以好酒煮一枝香，取出去油，炙干為細末。凡毒有壞肉處，以此藥將藥籮篩篩上，再貼前膏。一晝夜其腐肉盡去矣。</p>
<p><u>收口末藥方</u></p>
<p>象皮（五分，炙研）　芙蓉葉（一錢，炙）　肉桂（二分）　金銀子（五分，炙）　乳香（四分）　黃、白占（各二分）　沒藥（四分）　冰片（二分）</p>
<p>共研細末摻之。</p>
<h2>附：楊州存濟堂藥局膏藥方</h2>
<p><u>云台膏</u></p>
<p>（一名夔膏，言一已足也　此膏寒熱、攻補並用，初起能消，已成能潰，已潰能提，毒盡自斂，不必服解表托裡之藥，亦不假刀針、升降丹、藥捻等物，始終此只一膏，極為簡便神速。重證外加糝藥，敷藥助之。已驗過數萬人，無不愈者。且能定痛，可以服食，故元氣不傷、虛人無補，亦能收功）</p>
<p>通治發背、搭手、對口、發疽、頸核、乳癰、肚癰、腰癰、一切無名腫毒、附骨流注與惡毒頑瘡、蛇犬傷等證。凡屬陽者並治，即半陰半陽之證亦治，療毒加拔疔藥貼。陰疽勿用，孕婦酌用。</p>
<p>生大黃（五兩）　木鱉仁（三兩）　元參　生地　忍冬藤　生甘草節　南薄荷　土貝母　朴硝（各二兩）　生黃　當歸（各一兩六錢）　茅蒼朮　羌活　獨活　防風　連翹　香附　烏藥陳皮　青皮　天花粉　川芎　白芷　山梔　赤芍　苦杏仁　桃仁　生草烏　生川烏　生南星　生半夏　生黃柏　黃連　細辛　五倍子　僵蠶　生山甲　蜈蚣　全蠍　露蜂房（有子者佳）　黃芩　蟬蛻　蛇蛻　干地龍　蟾皮　生牡蠣　皂角　紅花　萆麻仁（各一兩）</p>
<p>（萆麻仁或用三兩）　發團（二兩四錢）　擬增　甘遂　大戟　延胡　靈脂　遠志　鬱金　荊芥蒲黃（各一兩）　原有蜘蜘（七個）　生薑　蔥白　大蒜頭（各四兩）　槐枝　柳枝　桑枝（各八兩）</p>
<p>蒼耳子（全株）　鳳仙草（全株）　新增野紫蘇（背青面紅者是）　紫地丁　益母草（鮮者，每株約一斤，干者用二兩）　石菖蒲（二兩）　川椒（一兩）</p>
<p>共用小磨麻油三十斤（凡干藥一斤，用油三斤；鮮藥一斤，用油一斤零），分兩起熬枯，去渣再並熬。俟油成（油宜老），仍分兩起下丹（免火旺走丹。每淨油一斤，用炒丹七兩），收，再下鉛粉（炒）一斤、淨松香八兩、金陀僧、陳鍛石（炒）、黃蠟各四兩，漂銅錄、枯礬、生礬、銀朱、掃盆粉、明雄、制乳香、制沒藥、官桂、丁香、樟腦、蘇合油各一兩，擬增白芥子五錢、廣木香一兩、牛膠四兩（酒蒸化）。俟丹收後，攪至溫（溫：以一滴試之，不爆），方下，再攪千余，適令勻，愈多愈妙。勿炒。待砂珠無力且不黏也。麝香酌加。</p>
<p>諸膏皆照此熬法。如油少，酌加二三斤亦可。凡熬膏，總以不老不嫩、合用為貴。</p>
<p>附：</p>
<p><u>烏龍錠子敷藥</u></p>
<p>（初起敷之自散，已潰敷之不走，且在於拔膿、收口，始終可用，並敷痰飲、流注、跌打損傷）</p>
<p>大黃（八兩）　五倍子　花粉　香附子　木鱉仁　芙蓉葉　萆麻仁　益母草　霜桑葉蒼耳草　灰皮硝　雄黃　陳鍛石　白芨（各四兩）　蒼朮　黃柏　川烏　草烏　羌活　獨活生南星　生半夏　川芎　細辛　赤芍　白芷　甘遂　大戟　山慈菇（各二兩）</p>
<p>共晒、研末。用醋二十斤，用皂角淨肉一斤、明礬四兩先熬去渣，下炒黑陳小粉八斤再熬，俟干濕合用，傾在淨桌上，即以前三十味藥末及榆面一斤和入，擦勻為錠，臨用醋磨敷（熱加豬膽汁，寒加蔥、薑汁）。擬增延胡、烏藥、當歸、薑黃、鬱金、石菖蒲　苦葶藶、黃連、防風、炮甲各二兩，乳香、沒藥、木香、白膠香各四兩。</p>
<p>附：</p>
<p><u>龍虎散糝藥</u></p>
<p>（治腫毒。用少許糝云台膏貼，能消、能潰、能提、能斂，亦始終皆可用）</p>
<p>明雄黃（五錢）　土貝母　萆麻仁（去油）　木鱉仁（各四錢）　大蜈蚣（十條）　蟾酥（三錢）　大全蠍（七個）　大川山甲（七片）　僵蠶（七條）　露峰房（有子者佳，三錢）　大蜘蛛（二個，腿腳要全）</p>
<p>鳳仙子（二十四粒）　朱砂　輕粉　制乳香　制沒藥　炒鉛粉　炒黃丹　寒水石　磁石　硼砂　漂銅錄牙皂　母丁香　樟腦　黃蠟　白臘　延胡　白芷　決明（各二錢）　枯礬（五分，研）　擬增草烏南星（各二錢）　蟬蛻　蛇蛻（各一錢）</p>
<p>共為末糝貼。證重多加犀、黃、麝、冰和糝，已長新肉加桃花散、黃丹、石膏，共研末和糝，免痛。</p>
<p>附：</p>
<p><u>拔疔黃丸子</u></p>
<p>（古用草烏、南星、草霜、巴霜、雄、朱、鬱金、輕粉、蟾酥、蟬蛻、全蠍、皂、麝之類）</p>
<p>松香（提淨白者，二兩）　萆麻仁（四兩）</p>
<p>石上同捶捻爛，入銀朱、明雄、輕粉各三錢，漂黃丹五錢，蜈蚣三條，全蠍三個，蟾酥二錢，共研末，扯拔千遍，再加蝸牛或蟾肝搗爛同扯，令勻，加冰片、麝香各五分，捏成小丸子如綠豆大，黏膏上。貼瘡頭，外圈烏龍錠，過二三日揭看，有長條硬膿出，即疔根也。如紅絲疔，將磁鋒於絲走處寸寸割斷，再貼。指頭疔，以雄豬膽入藥套之，唇疔，用糯米飲搗藥貼（並刺委中穴），疔出後，用龍虎散收功，或加細辛（能通疔竅）一錢、蜘蛛一個、山甲三片共為丸，白芨磨黃連水調化敷之。</p>
<p>上方得自維揚，按方配合，百試百驗。樂善君子，量力捐貲，熬膏合藥，廣為施送，亦利濟之一術也。因念鄉居僻壤，每多外證，猝然患之，方藥不便。就醫於城，或缺盤費，或惜工夫，遷延時日，致不可救，良可慨也！其來城者，又復冒暑熱、觸風寒，輕證變為重證，往往有之，何如各鄉鎮市集貲配送，最為方便。但須精選藥材，如法泡制，方能奏效。所治各證，以云台膏為主，附列三方以佐之。如鄉間制辦，一時難得熟手，或請醫局代合，或至揚州存濟堂藥局購辦成膏，自行攤送，均無不可。好善樂施，君子諒有同心焉！</p>
<p><u>師古齋主人識</u></p>
