<header><h1>醫學指歸</h1></header>
<dl class="元資料" data-type="book">
<div><dt>作者</dt><dd>趙術堂</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1851">公元1851年</data></dd></div>
</dl>
<h2>序</h2>
<p>余自服官以來，三令興化，每接士大夫，必詢其人之孝友者及仁濃端謹者，期以為風俗倡。又以其地數有水患，人多病濕，思得良醫起其病，眾咸以雙湖趙君對。已而因微疾，見其人恂恂然恭且謹。及其論脈絡分寸，如洞見五臟　結，冠一時歧黃家。乃知君故高郵人，家於興為醫，以活人為志，江淮間足跡殆遍。性謙慎，好施予，樂於為善。內行尤淳篤，事二親克孝。遇病且貧者就醫，必贈以藥。雖大寒暑，治病弗輟。兼以其暇成《醫學指歸》一書，俾後之學醫者識經絡原委焉。夫以所見於君者如彼，所聞於人者如此，其孝而好善也，信矣！其仁濃端謹而工醫也，信矣！余因望興人而並及於僑興之人，君乃其尤粹者，故於君歸道山時，余有「實心為善」之額貺之。近聞令子以君行實請旌於朝，余亦以令興久，編輯《興志》將成書，載君於流寓傳。然則君志在活人，君之書又志在貽後學以活人，讀其書者亦可悟折肱之微意也。夫因是書就刊，悉君之生平，而樂為之序。</p>
<p><u>欽加知州銜知興化縣事靈石梁園棣拜撰</u></p>
<p>昔范文正公文章德業為有宋一代完人，少時嘗曰：「吾不能為良相，必為良醫。」蓋良相治國，良醫治病，事異而心與理則同也。顧不察夫經絡脈息，不足以言醫。即察夫經絡脈息，而不審證之寒熱虛實，辨藥之君臣佐使，亦斷不能醫。醫豈易言哉！雙湖先生隸高郵，居興化，篤行君子也。少攻舉業，誦輒不忘。事親孝，逮養大母。大母病，隨侍湯藥，苦無善治者，遂專心習醫，精研脈理。自《靈樞》、《素問》以及景岳諸家審證、立方、制藥之法，確有心得。吾鄉龔意　太守，向宰興化，曾為余言先生品粹醫精，竊心慕之，而未一面也。己亥館泰署，始識荊。越辛丑，余來承乏興邑文正書院，交益密，每病治無不愈。甲辰返裡病篤，諸醫斂手。偶檢先生舊方，一服即痊。後詢其故，先生謂病有本有標，此適合隔一隔二治法也，其精審詳密類如此。先生天性肫摯，善承先志，拯困恤嫠，樂善不倦。歿後，郵、興兩邑纂列乘志，吁大吏請旌孝行。而諸哲嗣能讀遺書，蜚聲藝苑。長君小湖，前徽克紹，四方就診，無異昔時。今春余病累旬，屢醫弗效。長君適自外歸，數帖霍然，淵源洵有自也。頃以先生手輯《醫學指歸》屬序，讀之鉤元提要，縷析條分，益信品粹醫精，龔公諒非虛語。</p>
<p>嘗至盂城，泛珠湖，登文游台，穆然想見前哲之流風。而興邑有得勝湖，又昔賢文正公蒞治之邦也，先生自號雙湖，其有慕文正公「良相良醫」之說，擇其一以濟人乎？東坡先生謂范公仁義禮樂、孝弟忠信，為有德者必有言，先生出是編以證世，墨沈沾溉，臻斯民於仁壽，則良醫直與良相同功矣，是為序。</p>
<p><u>時咸豐元年辛亥閏八月下　韻溪愚弟蔡春泉頓首拜</u></p>
<p>語云：「為人子者，不可不知醫」吾友趙君雙湖，純乎孝者也。幼因侍祖母疾，棄舉業習醫，盡通其術，著手則效，活人無算，聲名藉藉江淮間。生平好陰行善，多仁人長者之行。鰥寡孤獨之賴以舉火者，日數十家。</p>
<p>寓乎醫以施濟焉，孰非孝行所推哉。今以孝旌於朝。令嗣小湖復梓是書問世。君之醫與孝傳，小湖之醫之孝亦俱傳。吾欽其人，樂為敘梗概云。</p>
<p><u>咸豐元年九月上浣世愚弟鄭鑾拜敘</u></p>
<p>生人者天也，然寒暑不正，雨　不時，則病患者亦天。天病患而不能治人病，惟醫體天好生之心，以補其缺憾。人之一身，殆初生於天，後生於醫乎？醫代天工，天報醫必濃。乃扁鵲以伎見殃，倉公坐法當刑，其故何也？竊謂醫必伎與心兼良，乃可稱良醫而受福報。伎劣人憎，心慝天譴。醫之心非必好利而草菅人命，始為不良也，驕吝未除，則濟人弗廣，而已足自殺其軀。越人誚中庶子「以管窺天」，淳於不為人治病，病家多怨，察其心似未免驕吝，宜乎伎高賈禍。太史公引《老子》，慨「美好者，不祥之器」，豈其然哉！雙湖趙先生，蓋伎與心兼良者。籍高郵，僑寓吾興，深於《素問》、《靈樞》諸書，以醫鳴三十年，名動江淮間。懼世醫之不辨虛實表裡寒熱溫涼也，著《醫學指歸》二卷。先生卒後，令子小湖將授梓，乞祚撰敘。祚自慚譾陋，未讀</p>
<p>《內經》，何敢敘先生之書。惟觀今之名醫，趾高氣盛，不耐煩勞；又或秘惜禁方，弗肯示人。而先生謙退不伐，視疾兢兢然恐有錯誤，日治百余人，自朝至夜分始罷，寢食或廢，未嘗憚煩。且天性篤孝，當事請旌於朝。</p>
<p>貧而好施，邑中窮嫠，恃以衣食者甚眾。窶人就療，輒贈藥物。茲復述其所得，輯為一書，欲登斯人仁壽之域。</p>
<p>不驕不吝，非良於伎，而尤良於心者耶。藝精而人不忌，身歿而子克家。天之所以報先生者，顯其名，昌其後，視扁鵲輩奚啻過之。昔樂天謂夢得詩「在在處處有靈物陰護」，祚謂是編亦然，必傳於世無疑也，故樂為之序。</p>
<p><u>咸豐元年歲在辛亥閏八月上浣學山李福祚頓首撰</u></p>
<p>吾友雙湖先生所遺《醫學指歸》一書，其子小湖暨諸昆季付之梓而公諸世，囑宜敘，宜不知醫，何敘為？然先生所以業醫之故，惟宜知之且悉。初至興也，年十有七，即與交。見所閱醫書，通目即稔。宜嘗勸讀儒書，先生曰：「儒書明理盡性以盡人之性，醫書亦然。曩者先祖妣及先妣病，延醫延醫，久藥不瘳。竊嘆己不知醫，致使大人彌留床蓐。又嘗見有父母者，往往因小疾而誤於方劑，卒至殞身失養，恨不知酌良劑以活之，俾其親得終余年。醫之習也，緣是故耳。」宜因知先生之醫為事親計也，且為凡事親者計也。古云孝弟為仁之本，先生一生盡孝而外，行仁之事不能枚舉，宜乎大江南北聲名藉甚。至易簀後，上至官長縉紳，下及鄉愚婦孺，無不望棺拜奠，涕泗交頤者。跡其致病之原，春夏交會，大疫流行，先生迫於救人，至數十晝夜而未安寢食，由是精神耗竭。自知不治，詔諸子曰：「吾勤勞數十年，一無所遺，惟遺此書耳。此書乃爾先祖命吾敬慎輯成，留為爾曹之志於醫者酌用。」閱書所載，悉本《神農本草》、《黃帝內經》以為言。《禮》曰：「醫不三世，不服其藥。」此書一出，將神明於三世者多矣。噫！先生遵父命而遺書於子，其子又能推父意而公書於人，是亦以孝繼孝之意歟！或謂子與先生交既久，盍以其孝行詳敘於此。宜曰：指日天恩表孝，綸　煌煌，永垂不朽，亦奚事宜臚陳其事而後傳。</p>
<p><u>咸豐元年歲次辛亥仲秋上浣世愚弟劉春宜頓首敘</u></p>
<h2>自敘</h2>
<p>余少時立志於儒，因祖母病篤，延醫罔效，深以不知醫理即不能事親為憾，遂肄醫讀《內經》諸書。乃知天人合一之道，本與儒通。其理微，其法妙，愈加考核，愈覺艱深。初尚半明半昧，繼則將信將疑，幾有望洋之嘆。竊以醫之為道，外感內傷為證治兩大關鍵，去其所本無，復其所固有。儒如是，醫亦如是，可兩言而盡之。蓋六淫外襲，身中氣血日失和平，有汗、吐、下、和之治，是去其所本無也。若七情暗傷，身中氣血日就虧耗，有滋填培補之治，是復其所固有也。然不知十二經絡，不辨虛實表裡寒熱溫涼，差之毫厘，謬以千裡，舉手便錯。三十余年來，恆潛心於此辨究，如履虎尾，如涉春冰，不敢以人命為嘗試。惟謹守規矩之中，不矜奇，亦不炫異。謂我拙者聽之，笑我迂者亦聽之，終其身日以寡過自期。平居用藥，悉遵本草用藥式。熟讀黃帝《靈樞‧經脈篇》及諸穴分寸歌，日加探索，爰集成經絡解、病證解、治法解各十二篇，並繪成十二經圖、十二腑臟圖。作者謂聖，述者謂明，即僅云述，余亦何敢。不過編釋一冊，愿後之子孫能儒則儒，否則欲學為醫，亦當如余之由儒習醫，兢兢惕惕，先討論乎是書，奉為指歸，然後參讀古聖賢各家注集。庶幾脈證相參，經絡既明，用藥自有把握。行見危者安，困者亨，登斯人於仁壽之域。是則予之所濃望也，子孫其守藏之勿替。</p>
<p><u>道光二十八年歲在戊申仲冬日高郵趙術堂觀瀾氏自敘</u></p>
<h2>卷首</h2>
<p>十二經絡圖象</p>
<h3>手太陰肺經圖</h3>
<p><a href="_files/ps69a1.bmp">手太陰肺經圖</a></p>
<h4>肺臟圖</h4>
<p><a href="_files/ps69a2.bmp">肺臟圖</a></p>
<p>肺重三斤三兩，六葉兩耳，凡八葉，附脊第三椎。</p>
<p>考尺寸、斤兩、升斗古今異同：古之一尺，與今之木工曲尺相等；古之一兩，今之七分六厘；古之一升，今之六勺七抄。余仿此。</p>
<h3>手陽明大腸經圖</h3>
<p><a href="_files/ps69a3.bmp">手陽明大腸經圖</a></p>
<h4>大腸腑圖</h4>
<p><a href="_files/ps69a4.bmp">大腸腑圖</a></p>
<p>大腸重三斤十二兩，長二丈一尺，廣四寸，徑寸半，當臍右回，疊積十六曲，盛穀一斗，水七升半。</p>
<p>大腸上口即小腸下口。</p>
<h3>足陽明胃經圖</h3>
<p><a href="_files/ps69a5.bmp">足陽明胃經圖</a></p>
<h4>胃腑圖</h4>
<p><a href="_files/ps69a6.bmp">胃腑圖</a></p>
<p>胃重二斤十四兩，紆曲屈伸，長二尺六寸，大一尺五寸，徑五寸，容穀二斗，水一斗五升。</p>
<h3>足太陰脾經圖</h3>
<p><a href="_files/ps69a7.bmp">足太陰脾經圖</a></p>
<h4>脾臟圖</h4>
<p><a href="_files/ps69a8.bmp">脾臟圖</a></p>
<p>脾重二斤二兩，扁廣三寸，長五寸，有散膏半斤。</p>
<h3>手少陰心經圖</h3>
<p><a href="_files/ps69a9.bmp">手少陰心經圖</a></p>
<h4>心臟圖</h4>
<p><a href="_files/ps69a10.bmp">心臟圖</a></p>
<p>心形如未敷蓮花，重十二兩，中有七孔三毛，盛精汁三合，附脊第五椎。</p>
<h3>手太陽小腸經圖</h3>
<p><a href="_files/ps69a11.bmp">手太陽小腸經圖</a></p>
<h4>小腸腑圖</h4>
<p><a href="_files/ps69a12.bmp">小腸腑圖</a></p>
<p>小腸重二斤十四兩，長三丈二尺，廣二寸半，徑八分分之少半。左回，疊積十六曲。容穀二斗四升，水六升三合合之大半。</p>
<h3>足太陽膀胱經圖</h3>
<p><a href="_files/ps69a13.bmp">足太陽膀胱經圖</a></p>
<h4>膀胱腑圖</h4>
<p><a href="_files/ps69a14.bmp">膀胱腑圖</a></p>
<p>膀胱重九兩二銖，縱廣九寸，盛溺九升九合，廣二寸半。</p>
<p>膀胱有下口無上口上系小腸津溺由小腸下焦滲入。</p>
<h3>足少陰腎經圖</h3>
<p><a href="_files/ps69a15.bmp">足少陰腎經圖</a></p>
<h4>腎臟圖</h4>
<p><a href="_files/ps69a16.bmp">腎臟圖</a></p>
<p>腎有兩枚，形如豇豆，重一斤一兩，附脊十四椎，當臍下兩旁，前後與臍平。</p>
<h3>心包絡經圖</h3>
<p><a href="_files/ps69a17.bmp">心包絡經圖</a></p>
<h4>心包絡腑圖</h4>
<p><a href="_files/ps69a18.bmp">心包絡腑圖</a></p>
<p>心包絡即膻中，宜配心臟。《脈訣》配諸尺中，應心主而為相火，誤矣。《內經》昭然。</p>
<h3>三焦經圖</h3>
<p><a href="_files/ps69a19.bmp">三焦經圖</a></p>
<h4>三焦腑圖</h4>
<p><a href="_files/ps69a20.bmp">三焦腑圖</a></p>
<h3>足少陽膽經圖</h3>
<p><a href="_files/ps69a21.bmp">足少陽膽經圖</a></p>
<h4>膽腑圖</h4>
<p><a href="_files/ps69a22.bmp">膽腑圖</a></p>
<p>膽在肝之短葉間，重三兩三銖，藏精汁三合，狀如瓶。</p>
<h3>足厥陰肝經圖</h3>
<p><a href="_files/ps69a23.bmp">足厥陰肝經圖</a></p>
<h4>肝臟圖</h4>
<p><a href="_files/ps69a24.bmp">肝臟圖</a></p>
<p>肝重四斤四兩，左三葉，右四葉，凡七葉，附脊第九椎。</p>
<h2>卷上</h2>
<h3>肺經第一</h3>
<p>（是經起於中府穴，終於少商穴。）</p>
<p>肺手太陰之脈，起於中焦，下絡大腸，還循胃口，上膈屬肺，從肺系，橫出腋下，下循　內，行少陰心主之前，下肘中，循臂內上骨下廉，入寸口，上魚，循魚際，出大指之端。其支者，從腕後直出次指內廉，出其端。是動則病肺脹滿，膨膨而喘咳，缺盆中痛，甚則交兩手而瞀，此為臂厥。是主肺所生病者，咳，上氣喘渴，煩心胸滿，　臂內前廉痛厥，掌中熱。氣盛有餘，則肩背痛風寒，汗出中風，小便數而欠。氣虛則肩背痛寒，少氣不足以息，溺色變。為此諸病，盛則瀉之，虛則補之，熱則疾之，寒則留之，陷下則灸之，不盛不虛，以經取之。盛者寸口大三倍於人迎，虛者則寸口反小於人迎也。</p>
<h4>經絡解</h4>
<p>中焦者，中脘也。胃口，胃之上脘也。絡猶兜也。循，巡也。膈，心下膈膜也。肺系，喉嚨也。肩下脅上曰腋。膊下對腋處為　。　盡處為肘。肘以下為臂。廉，隅也。關前動脈為寸口，大指本節之後，其肉隆起處統謂之魚，魚際則其間之穴名也。端，杪也。支者，如木之有枝，以其自直行之脈而旁行之也。脈之直行者為經，旁行者為絡。臂骨盡處為腕。</p>
<p>手太陰肺經之脈起於中焦者，以穀氣入胃，其精微之氣上注於肺脈也。下絡大腸，以肺與大腸相表裡也。</p>
<p>轉巡胃之上口屬之於肺，即從肺系橫出腋下，蓋由胸中之中府、云門以出腋下，下循　內，歷天府、俠白行於手少陰心經、手厥陰心主包絡兩經之前，下入肘中，抵尺澤穴。既下肘中，乃循臂內上骨之下廉，歷孔最、列缺，入寸口之經渠、太淵以上魚。又循魚際出大指之端，至少商穴而止。其支者，從腕後之列缺穴，交於手之陽明經，以至於商陽穴，又隨商陽而上行也。</p>
<h4>肺經諸穴歌</h4>
<p>手太陰，十一穴。中府云門天府列，俠白下尺澤，孔最見列缺，經渠太淵下魚際，抵指少商如韭葉。</p>
<h4>分寸歌</h4>
<p>太陰肺兮出中府，云門之下一寸許，云門璇璣旁六寸，巨骨之下二寸數，天府腋下三寸求，俠白肘上五寸主，尺澤肘中約橫文，孔最腕上七寸取，列缺腕側一寸半，經渠寸口陷中主，太淵掌後橫紋頭，魚際節後散脈舉，少商大指端內側，相去爪甲韭葉許。</p>
<h4>病證解</h4>
<p>動者，動穴也。以各經之穴動，則知其病也。所生病，本經自病也。諸病，他經合病也，或由本經而累及他經，或由他經而干犯本經，皆是也。氣盛，邪氣之盛也。氣虛，正氣之虛也。統自病、合病、氣盛、氣虛四項，而病情約略殆盡，其間每項各舉數證以見意。他經亦有止言自病、合病二項，不復詳言盛虛諸病者，蓋即此可以類推也。如肺脹滿致膨膨而喘急咳嗽，此臟病也。缺盆中痛，甚則交兩手而瞀，此經絡病也。缺盆雖大腸所經之地，而絡脈交於大腸，仍肺之經絡也，故皆為肺生之病。以下為咳為喘，病與上同，而與上氣、渴、煩心等病並舉，則他經所累也。胸滿亦與脹滿相同，脹滿專以肺言，此則兼諸氣之　郁也。　臂內痛，亦本經之病，與上兩手掣痛無異，而與厥、掌中熱並言，則心與心主之所累及也。肩背疼痛，氣盛氣虛皆同，而所因異也。汗出中風，肺主皮毛故也。小便數而欠與溺色變，皆腎與膀胱之病，母病累及子也。少氣不足以息，本臟病也。以上所敘諸證甚詳，其有未備者，更以本草標本諸病參看。</p>
<h4>本草臟腑虛實標本用藥式</h4>
<p>肺藏魄，屬金，總攝一身元氣，主聞，主哭，主皮毛。</p>
<p>本病（臟腑之病）</p>
<p>諸氣　郁，（肺主氣。）諸痿，（肺為五臟華蓋，故五臟之痿皆屬於肺。）氣短，咳嗽，上逆，（同經。）</p>
<p>咳唾膿血，（肺癰也。）不得臥，（肺藏魄也。）小便數而欠，遺失不禁。（同經。）</p>
<p>標病（經絡之病）</p>
<p>洒淅寒熱，（肺主皮毛。）傷風自汗，肩背痛冷，　臂前廉痛。（同經。）</p>
<h4>治法解</h4>
<p>本經所言補瀉寒熱，治病之法已該。但經以針言，後世針法失傳，以用藥代之。本草所論補瀉寒熱用藥之式，正與經意相合，詳注於後，以代治法解。</p>
<p>氣實瀉之肺主氣。實者，邪氣之實也，故用瀉，下分四法。</p>
<p>瀉子：水為金之子，瀉膀胱之水，則水氣下降，肺氣乃得通調。</p>
<p>澤瀉（入膀胱利小便。）葶藶（大能下氣，行膀胱水。）桑皮（下氣行水。）地骨皮（降肺中伏火，從小便出。）</p>
<p>除濕：肺氣起於中焦，胃中濕痰凝聚，其氣上注於肺，去胃中濕痰，正以清肺。</p>
<p>半夏（除濕化痰，和胃健脾。）白礬（爆濕追涎，化痰墜濁。）白茯苓（利竅除濕，瀉熱行水。）薏苡仁（甘益胃，土勝水，淡滲濕。）木瓜（斂肺和胃，去濕熱。）橘皮（理氣燥濕，導滯消痰。）</p>
<p>瀉火：肺屬金畏火。火有君相之別，君火宜清，相火有從逆兩治，氣實只宜逆治。</p>
<p>粳米（色白入肺，除煩清熱。）石膏（色白入肺，清熱降火。）寒水石（瀉肺火、胃火，治痰熱喘嗽。）</p>
<p>知母（清肺瀉火，潤腎滋陰。）訶子（斂肺降火，泄氣消痰。）</p>
<p>通滯：邪氣有餘，壅滯不通，去其滯氣，則正氣自行。</p>
<p>枳殼（破氣行痰。）薄荷（辛能散，冷能清，搜肝氣，抑肺盛。）生薑（辛溫發表，宣通肺氣。）木香（升降諸氣，泄肺疏肝。）厚朴（辛溫苦降，下氣消痰。）杏仁（瀉肺解肌，降氣行痰。）皂莢（通竅吐痰，入肺、大腸。）桔梗（入肺瀉熱，開提氣血，表散寒邪。）蘇梗（下氣消痰，祛風定喘。）</p>
<p>氣虛補之正氣虛，故用補，下分三法。</p>
<p>補母：土為金母，補脾胃，正以益肺氣。</p>
<p>甘草（補脾胃不足。）人參（益土生金，大補元氣。）升麻（參　上行，須此引之。）黃（壯脾胃，補肺氣。）山藥（入肺歸脾，補其不足。）</p>
<p>潤燥：補母是益肺中之氣，潤燥是補肺中之陰。金為火刑則燥，潤燥不外瀉火。瀉實火則用苦寒，瀉虛火則用甘寒。</p>
<p>蛤蚧（補肺益精，定喘止嗽。）阿膠（清肺滋腎，補陰潤燥。）麥冬（清心潤肺，強陰益精。）貝母（瀉火散結，潤肺清痰。）百合（潤肺安心，清熱止嗽。）天花粉（降火潤燥，生精滑痰。）天冬（清金降火，滋腎潤燥。）</p>
<p>斂肺：久嗽傷肺，其氣散漫，或收而補之，或斂而降之，宜於內傷，外感禁用。</p>
<p>烏梅（斂肺澀腸，清熱止渴。）粟殼（斂肺澀腸，固腎止嗽。）五味子（收斂肺氣，消嗽定喘。）白芍（安脾肺，固腠理，收陰氣，斂逆氣。）五倍子（斂肺降火，生津化痰。）</p>
<p>本熱清之清熱不外瀉火潤燥，前分虛實，此分標本寒熱，意各有注，故藥味亦多重出。</p>
<p>清金：清金不外滋陰降火，甘寒苦寒隨虛實而用。</p>
<p>黃芩（苦入心，寒勝熱，瀉上焦中焦實火。）知母（苦寒瀉火。）麥冬（甘寒潤肺。）梔子（苦寒瀉心肺邪熱。）沙參（甘寒補肺，滋五臟之陰。）紫菀（潤肺瀉火，下氣調中。）天冬（甘苦大寒，清金降火。）</p>
<p>本寒溫之金固畏火，而性本寒冷，過用清潤，肺氣反傷，故曰形寒飲冷則傷肺。</p>
<p>溫肺：土為金母，金惡燥而土惡濕，清肺太過，脾氣先傷，則土不能生金，故溫肺必先溫脾胃，亦補母之義也。</p>
<p>丁香（辛溫純陰，泄肺溫胃。）藿香（快氣和中，開胃止嘔，入手足太陰。）款冬花（辛溫純陽，溫肺理氣）檀香（調脾肺，利胸膈，引胃氣上升。）白豆蔻（溫暖脾胃，為肺家本藥。）益智仁（燥脾胃，補心腎。）砂仁（和胃醒脾，補肺益腎。）糯米（甘溫，補脾肺虛寒。）百部（甘苦微溫，潤肺殺蟲。）</p>
<p>標寒散之不言標熱者，肺主皮毛，邪氣初入則寒，猶未變為熱也。</p>
<p>解表：表指皮毛，屬太陽，入肌膚則屬陽明，入筋骨則屬少陽，此解表、解肌、和解，有淺深之不同也。</p>
<p>麻黃（辛溫發汗，肺家要藥。）蔥白（外實中空，肺之藥也，發汗解肌，通上下陽氣。）紫蘇（發表散寒，祛風定喘。）</p>
<h3>大腸經第二</h3>
<p>（是經起於商陽穴，終於迎香穴。）</p>
<p>大腸手陽明之脈，起於大指次指之端，循指上廉，出合谷兩骨之間，上入兩筋之間，循臂上廉，入肘外廉，上外前廉，上肩，出　骨之前廉，上出於柱骨之會上，下入缺盆，絡肺，下膈屬大腸。其支者，從缺盆上頸貫頰，入下齒中，還出挾口，交人中，左之右，右之左，上挾鼻孔。是動則病齒痛、頸腫。是主津液所生病者，目黃、口乾、鼽衄、喉痹、肩前　痛、大指次指痛不用。氣有餘則當脈所過者熱腫，虛則寒栗不復。為此諸病，盛則瀉之，虛則補之，熱則疾之，寒則留之，陷下則灸之，不盛不虛以經取之。盛者人迎大三倍於寸口，虛者人迎反小於寸口也。</p>
<h4>經絡解</h4>
<p>大指次指者，手大指之次指，即第二指，名食指也。循指之指，正次指也。合谷，虎口穴也。肩端兩骨間為骨。肩HT　上際處為天柱骨。缺盆，足陽明胃經穴也。頭莖為頸。耳以下曲處為頰。</p>
<p>手陽明經之脈，受手太陰之交，遂起於次指之端。循次指之商陽、二間、三間之上廉，出合谷穴，在兩骨之間。又上陽谿穴，即兩筋之間。又循臂之上廉、偏歷、溫溜、下廉、上廉、三裡，入肘外廉之曲池穴。上循外之前廉，歷肘　、五裡、臂　，以上肩之肩　穴。又出　骨之前廉，循巨骨穴，上出天柱骨之會，上會於大椎。自大椎而下入缺盆，循足陽明經脈外絡，繞肺臟。復下膈，當天樞之外，會屬於大腸。其支者雖自偏歷而入，又自缺盆上行於頸，循天鼎、扶突上貫於頰，入下齒縫中，復出夾口兩吻，相交於人中之內，左脈往右，右脈往左，上挾鼻孔，循禾　、迎香而終，以交於足陽明胃經也。</p>
<h4>大腸經諸穴歌</h4>
<p>手陽明，廿穴名。循商陽二間三間而行，歷合谷陽谿之俞，過偏歷溫溜之濱，下廉上廉三裡而近，曲池肘　五裡之程，臂　肩　上於巨骨，天鼎紆乎扶突，禾　唇連，迎香鼻迫。</p>
<h4>分寸歌</h4>
<p>商陽食指內側邊，二間來尋本節前，三間節後陷中取，合谷虎口歧骨間，陽谿上側腕中是，偏歷腕後三寸安，溫溜腕後去五寸，池前五寸下廉看，池前三寸上廉中，池前二寸三裡逢，曲池屈骨紋頭盡，肘　大骨外廉近，大筋中央尋五裡，肘上三寸行向裡，臂　肘上七寸量，肩　肩端舉臂取，巨骨肩尖端上行，天鼎喉旁四寸真，扶突天突旁五寸，禾　水溝旁五分，迎香禾　上一寸，大腸經穴是分明。</p>
<h4>病證解</h4>
<p>大腸主津液，故言津液所生病。上二證是本經自病，下諸證或本經或合他經也，皆未言及腑病，舉例以概其余也。齒痛，脈入齒縫也。頸腫，脈上行於頸也。目黃，合太陽、少陽經病也。口乾，脈挾口也。鼽衄，脈挾鼻孔也。喉嚨，肺系，臟腑相連也。肩　痛，脈上肩　也。次指不用，脈起於次指也。實則熱腫，虛則寒栗，以寒熱分虛實也。</p>
<h4>本草臟腑虛實標本用藥式</h4>
<p>大腸屬金，主變化，為傳送之官。</p>
<p>本病（臟腑之病）</p>
<p>大便閉結，泄痢下血，裡急後重，疽痔，脫肛，腸鳴而痛。（以上諸證，或虛或實，或寒或熱，皆本腑病，補經所未備。）</p>
<p>標病（經絡之病）</p>
<p>齒痛，喉痹，頸腫，口乾，（俱同經。）咽中如梗，（咽非本經，脈入缺盆循胃脈外，近於咽。）鼽衄，目黃，手大指次指痛，（俱同經。）宿食發熱，（宿食在內，發熱在外，故為標病。）寒栗。（同經。）</p>
<h4>治法解</h4>
<p>腸實瀉之大腸主出糟粕，邪氣有餘，壅滯不通，則為實，故用瀉，下分兩法。</p>
<p>熱：熱結於腸，大便不通，寒以下之。</p>
<p>大黃（蕩滌腸胃，下燥結，去瘀熱。）芒硝（潤燥軟堅，蕩滌實熱。）芫花（蕩滌留癖飲食，寒熱邪氣。）</p>
<p>牽牛（瀉氣分濕熱，通大腸氣秘。）巴豆（開竅宣滯，斬關奪門。）郁李仁（下氣行水，破血潤燥。）石膏（清熱降火。）</p>
<p>氣：氣實則壅，行氣破氣，則滯自下。</p>
<p>枳殼（破氣行痰，消痞脹，寬腸胃。）木香（泄肺氣，實大腸，治瀉痢後重。）橘皮（理氣燥濕，下氣消痰。）檳榔（瀉氣行痰，攻堅去脹，治大便氣秘。）</p>
<p>腸虛補之大腸多氣多血，氣血不足則虛，故用補，下分五法。</p>
<p>氣：補氣不外下文升陽降濕二法。此所謂氣，疑指風言。蓋風為陽氣，善行空竅，風氣入腸，則為腸鳴、瀉泄諸證。故藥只舉皂莢一味，正以其入腸而搜風也。</p>
<p>皂莢（辛溫性燥，入肺、大腸，搜風除濕。）</p>
<p>燥：燥屬血分，金被火傷，則血液枯燥，養血所以潤燥也。</p>
<p>桃仁（行血潤燥，通大腸氣秘。）麻仁（潤燥滑腸。）杏仁（潤燥消積，通大腸氣秘。）地黃（瀉丙火，清燥金，補陰涼血。）乳香（消氣活血，通十二經。）松子（治大便虛秘。）當歸（補血潤燥，滑大腸。）肉蓯蓉（補精血，滑大腸。）</p>
<p>濕：土為金母，脾虛濕勝，則水穀不分，下滲於大腸而為瀉泄。燥脾中之濕，所以補母也。</p>
<p>白朮（補脾燥濕。）蒼朮（燥胃強脾，除濕散郁。）半夏（和胃健脾，除濕化痰。）硫黃（大熱純陽而疏利大腸，治老人虛秘。）</p>
<p>陷：清氣在下，則生飧泄。胃中清陽之氣陷入下焦，升而舉之，如補中益氣、升陽除濕之法是也。</p>
<p>升麻（升陽氣於至陰，引甘溫藥上行。）葛根（輕揚升發，能鼓胃氣上行。）</p>
<p>脫：下陷不已，至於滑脫，澀以止之，所以收斂正氣也。</p>
<p>龍骨（澀腸固精。）白堊（澀腸止利。）訶子（收脫止瀉，澀腸斂肺。）粟殼（斂肺澀腸。）烏梅（斂肺澀腸。）白礬（性澀而收，燥濕止血。）赤石脂（收濕止血，固大小腸。）禹餘糧（重澀固下。）石榴皮（澀腸止利泄。）</p>
<p>本熱寒之大腸屬金，惡火。肺火下移大腸，每多無形之熱，故宜寒之。清熱：實熱則瀉，虛熱則清。前言其實，此言其虛，省文也。秦艽（燥濕散風，去腸胃熱。）槐角（苦寒純陰，涼大腸。）地黃（瀉火清金，涼血止血。）黃芩（寒勝熱，瀉肺火。）</p>
<p>本寒溫之金寒水冷，每多下利清穀，故用溫。</p>
<p>溫裡：溫裡亦所以補虛，前補虛條中未之及，亦省文也。</p>
<p>乾薑（去臟腑沉寒痼冷。）附子（大熱純陽，通十二經絡，治一切沉寒。）肉果（澀大腸，止冷痢虛瀉。）</p>
<p>標熱散之不言標寒者，邪入陽明，已變為熱，且手陽明經脈在上，非寒邪所干。</p>
<p>解肌：陽明主肌肉，已非在表，不可發汗，第用解肌之法。</p>
<p>石膏（體重瀉火，氣輕解肌。）白芷（散風除濕，通竅表汗，為陽明主藥。）升麻（表散風邪，亦入手陽明。）葛根（開腠發汗，解肌退熱。）</p>
<h3>胃經第三</h3>
<p>（是經起於頭維穴，終於厲兌穴。）</p>
<p>胃足陽明之脈，起於鼻之交　中，旁約太陽之脈，下循鼻外,上入齒中，還出挾口，環唇，下交承漿，卻循頤後下廉，出大迎，循頰車，上耳前，過客主人，循發際，至額顱。其支者，從大迎前下人迎，循喉嚨，入缺盆，下膈屬胃，絡脾。其直者，從缺盆下乳內廉，下挾臍，入氣街中。其支者，起於胃口，下循腹裡，下至氣街中而合，以下髀關，抵伏兔，下膝臏中，下循脛外廉，下足跗，入中趾內間。其支者，下廉三寸而別，下入中趾外間。其支者，別跗上，入大趾間，出其端。是動則病洒洒振寒，善呻，數欠，顏黑，病至則惡人與火，聞木聲則HT　然而驚，心欲動，獨閉戶塞牖而處，甚則欲上高而歌，棄衣而走，賁響腹脹，是為　厥。是主血所生病者，狂，瘧，溫淫汗出，鼽衄，口　，唇胗，頸腫，喉痹，大腹水腫，膝臏腫痛，循膺、乳、氣街、股、伏兔、　外廉、足跗上皆痛，中趾不用。氣盛則身以前皆熱。其有餘於胃，則消穀善飢，溺色黃。氣不足則身以前皆寒栗。胃中寒則脹滿。為此諸病，盛則瀉之，虛則補之，熱則疾之，寒則留之，陷下則灸之，不盛不虛，以經取之。盛者人迎大三倍於寸口，虛者人迎反小於寸口也。</p>
<h4>經絡解</h4>
<p>，鼻莖也。腮下為頷。頷中為頤。腮前為發際。發際前為額顱。股內為髀。髀前膝上起肉處為伏兔。伏兔後為髀關。挾膝筋中為臏。脛骨為　。足面為跗。</p>
<p>足陽明受手陽明之交，起於鼻之兩旁迎香穴，上行而左右相交於　中，過太陽睛明之分，下循鼻外，歷承泣、四白、巨　，上入齒中，還出挾口兩吻地倉，環繞唇下，左右相交於承漿，卻循頤後下廉，出大迎，循頰車，上耳前，歷下關，過客主人，循發際，經頭維，會於額顱之神庭。其支者，從大迎前下人迎，循喉嚨，歷水突、氣舍，入缺盆，行足少陰俞府之外，下膈，當上脘、中脘之分，屬胃絡脾。其直行者，從缺盆而下，下乳內廉，循氣戶、庫房、屋翳、膺窗、乳中、乳根、不容、承滿、梁門、關門、太乙、滑肉門，下挾臍，歷天樞、外陵、大巨、水道、歸來諸穴，而入氣街中。其支者，自屬胃處起胃下口，循腹裡，過足少陰肓俞之外本經之裡，下氣街中，與前之入氣街者合，乃下髀關，抵伏兔，歷陰市、梁丘，下入膝臏中，經犢鼻，下循足面之衝陽、陷谷，入中趾外間之內庭，至厲兌穴而終也。其支別者，自膝下三寸循三裡穴之外別下，歷上廉、條口、下廉、豐隆、解谿、衝陽、陷谷，以至內庭、厲兌而合也。又其支者，別跗上衝陽穴，別行入大趾間，出足厥陰行間穴之外，循大趾下出其端，以交於足太陰也。胃之經脈有二，一上行至頭，一下行至足。絡脈有四，伏行胸腹者二，旁行脛足者二。其實上下二脈雖不同行，而中有絡脈以相連貫，則仍一脈也。伏行二絡，一起於胃，一止於胃，仍是一脈。至氣街而合行於脛足，絡與經又仍一脈也。下二絡，一交於太陰，一旋分而旋合。其旁行之路雖殊，而結穴正自井然也。</p>
<h4>胃經諸穴歌</h4>
<p>足陽明，四十五。自承泣四白而數，巨　有地倉之積，大迎乘頰車之夥。下關頭維及人迎，水突氣舍與缺盆。氣戶兮庫房屋翳，膺窗兮乳中乳根。不容承滿，梁門關門。太乙滑肉，天樞外陵。大巨從水道歸來，氣街入髀關之境。伏兔至陰市梁丘，犢鼻目三裡而行。上巨虛兮條口，下巨虛兮豐隆。</p>
<p>解谿衝陽入陷谷，下內庭厲兌而終。</p>
<h4>分寸歌</h4>
<p>胃之經兮足陽明，承泣目下七分尋，四白目下方一寸，巨　鼻孔旁八分，地倉夾吻四分迎，大迎頷下寸三分，頰車耳下八分穴，下關耳前動脈行，頭維神庭旁四五，人迎喉旁寸五真，水突筋前迎下在，氣舍突下穴相乘，缺盆舍下橫骨內，各去中行寸半明，氣戶璇璣旁四寸，至乳六寸又四分，庫房屋翳膺窗近，乳中正在乳頭心，次有乳根出乳下，各一寸六不相侵，卻去中行須四寸，以前穴道與君陳，不容巨闕旁三寸，卻近幽門寸五新，其下承滿與梁門，關門太乙滑肉門，上下一寸無多少，共去中行三寸尋，天樞臍旁二寸間，樞下一寸外陵安，樞下二寸大巨穴，樞下四寸水道全，樞下六寸歸來好，共去中行二寸邊，氣街鼠鼷上一寸，又去中行四寸專，髀關膝上有尺二，伏兔膝上六寸是，陰市膝下方三寸，梁丘膝上二寸記，膝臏陷中犢鼻存，膝下三寸三裡至，膝下六寸上廉穴，膝下七寸條口位，膝下八寸下廉看，膝下九寸豐隆系，卻是踝上八寸量，比那下廉外邊綴，解谿去庭六寸半，衝陽庭後五寸換，陷谷庭後二寸間，內庭次趾外間現，厲兌大趾次趾端，去爪如韭胃並判。</p>
<h4>病證解</h4>
<p>陽明多氣多血，曰血所生病，舉血以概氣也。振寒，所謂寒栗鼓頷，經病也。善呻、數欠，腑病也。顏黑、脈起於面，經病也。惡人與火，胃熱盛也。聞木音而驚，土畏木也。閉戶獨處，陰薄陽也。上高而歌，陽盛則四支實也。棄衣而走，熱盛於身也。賁響腹脹，火盛與水相激也，皆腑病也。　厥，脈行於　，經病也。以上皆本經自病也。狂，胃熱乘心，與上登高棄衣同。瘧，兼少陽病也。溫淫汗出，胃主肌肉，內熱則腠理開也。</p>
<p>鼽衄，脈行鼻外也。口　，脈挾口也。唇胗，脈環唇也。頸腫，脈循頤，出大迎也。喉痹，脈循喉嚨也。大腹水腫，脈循腹裡也。膝臏腫痛以下，皆經脈所行之地。以上本經病居多，或合他經而並見也。</p>
<p>身前寒熱，脈行於身之前也。消穀脹滿，腑病也。溺色黃，胃熱下入膀胱也。其有未備者，另詳本草中。</p>
<h4>本草臟腑虛實標本用藥式</h4>
<p>胃屬土，主容受，為水穀之海。</p>
<p>本病（臟腑之病）</p>
<p>噎膈反胃，（有火則噎膈，無火則反胃。中滿腫脹，同經。）嘔吐，（聲物俱出，胃寒熱皆然。）瀉痢，（濕熱下行於腸。）霍亂腹痛，（脾胃俱病。消中善飢，同經。）不消食，（脾不為胃用。）傷飲食，（胃病累脾。）胃管當心，痛支兩脅。（木克土，兼少陽病也。）</p>
<p>標病（經絡之病）</p>
<p>發熱蒸蒸，身前熱，身後寒，（同經。）發狂譫語，（必兼登高棄衣諸證，身熱四肢實，故屬標病。）咽痹，（咽，胃系也。）上齒痛，（脈入齒。）口眼　斜，（脈挾口，且過睛明穴也。）鼻痛鼽衄，（同經。）赤。（脈起交　。）</p>
<h4>治法解</h4>
<p>胃實瀉之胃主容受，然太實則中焦阻塞，上下不通，故用瀉，下分二法。</p>
<p>濕熱：熱盛則濕者化而為燥，故用下法。</p>
<p>大黃（蕩滌腸胃，下燥結，去瘀熱。）芒硝（潤燥軟堅，蕩滌腸胃。）</p>
<p>飲食：重者用下，輕者用消。</p>
<p>巴豆（去臟腑沉寒，下冷積。）神麯（化水穀，消積滯。）山楂（消食磨積，化油膩滯。）阿魏（入脾胃，消肉積。）　砂（消食破瘀，治肉積。）鬱金（下氣破血。）三棱（破血消積。）輕粉（劫痰涎，消積滯。）</p>
<p>胃虛補之土喜沖和，或熱或寒，皆傷正氣、耗津液，故用補，下分二法。</p>
<p>濕熱：氣虛濕勝，濕勝熱生，去濕即所以去熱，熱去而正氣自生。</p>
<p>蒼朮（燥胃除濕。）白朮（燥濕和中。）半夏（除濕化痰。）茯苓（滲濕行水。）橘皮（導滯消痰。）生薑（調中暢胃，開痰下食。）</p>
<p>寒濕：脾中之陽氣不足。則胃中之津液不行。補陽乃以健脾，亦以燥胃，故寒去而濕出，乃能上輸津液，灌溉周身。</p>
<p>乾薑（逐寒邪，燥脾濕，除胃冷。）附子（補真陽，逐寒濕。）草果（健脾暖胃，燥濕祛寒。）官桂（補命門火，抑肝扶脾。）丁香（溫胃補腎。）肉果（理脾暖胃，逐冷祛痰。）人參（補陽氣，扶脾土。）黃　（補中益氣，壯脾強胃。）</p>
<p>本熱寒之不言本寒者，治寒濕之法，已見上條也。</p>
<p>降火：土生於火，火太過則土焦，降心火乃以清胃熱。</p>
<p>石膏（足陽明經大寒之藥。）地黃（苦寒入心。瀉丙火。）犀角（瀉心火，清胃熱。）黃連（瀉心火，濃腸胃。）</p>
<p>標熱解之邪入陽明則病在肌肉，寒變為熱，故不言標寒。</p>
<p>解肌：陽明主肌肉，邪及肌肉，已不在表，故用解不用發。</p>
<p>升麻（表散風寒，足陽明引經藥。）葛根（入陽明經，開腠發汗。）豆豉（發汗解肌，調中下氣。）</p>
<h3>脾經第四</h3>
<p>（是經起於隱白穴，終於大包穴。）</p>
<p>脾足太陰之脈，起於大趾之端，循趾內側白肉際，過核骨後，上內踝前廉，上　內，循脛骨後，交出厥陰之前，上膝股內前廉，入腹，屬脾，絡胃，上膈，挾咽，連舌本，散舌下。其支者，復從胃別上膈，注心中。</p>
<p>是動則病舌本強，食則嘔，胃脘痛，腹脹，善噫，得後與氣則快然如衰，身體皆重。是主脾所生病者，舌本痛，體不能動搖，食不下，煩心，心下急痛，溏瘕泄，水閉，黃膽，不能臥，強立股膝內腫厥，足大趾不用，為此諸病，盛則瀉之，虛則補之，熱則疾之，寒則留之，陷下則灸之，不盛不虛，以經取之。盛者寸口大三倍於人迎，虛者寸口反小於人迎也。</p>
<h4>經絡解</h4>
<p>核骨，足大趾本節後內側圓骨也。腓腹為　。髀內為股。臍上為腹。咽，胃系也。舌本，舌根也。</p>
<p>足太陰脾受足陽明之交，起於足大趾端之隱白穴，循趾內側白肉際大都穴，過核骨後，歷太白、公孫、商丘，上內踝前廉之三陰交，上　內，循　骨後之漏谷上行，交出足厥陰之前，至地機、陰陵泉，上循膝股前廉之血海、箕門，迤邐入腹，經衝門、府舍，復循腹結、大橫，會下脘，歷腹哀，過期門之分，循本經之裡，下至中脘之際，以屬脾絡胃，又由腹哀上膈，循食竇、天溪、胸鄉、周榮，曲折向下至大包，又自大包外曲折向上，會中府上行人迎之裡，挾喉，連舌本，散舌下而終。其支者，由腹哀穴別行，再從胃部中脘穴之外上膈，注於膻中之裡心之分，以交於手少陰心經也。</p>
<h4>脾經諸穴歌</h4>
<p>足太陰，脾中州，二十一穴隱白游。赴大都兮瞻太白，訪公孫兮至商丘。越三陰之交而漏谷地機可即，步陰陵之泉而血海箕門是求。入衝門兮府舍軒豁，解腹結兮大橫優游。腹哀食竇兮接天溪而同派，胸鄉周榮兮綴大包而如鉤。</p>
<h4>分寸歌</h4>
<p>大趾內側起隱白，節後陷中求大都，太白內側核骨下，節後一寸公孫呼，商丘內踝陷中遭，踝上三寸三陰交，踝上六寸漏谷是，踝上五寸地機朝，膝下內側陰陵泉，血海膝臏上內廉，箕門穴在魚腹取，動脈應手越筋間，衝門期下尺五分，府舍期下九寸判，腹結期下六寸八，大橫期下五寸半，腹哀期下方二寸，期門肝經穴道現，巨闕之旁四寸五，卻連脾穴休胡亂，自此以上食竇穴，天溪胸鄉周榮貫，相去寸六無多寡，又上寸六中府換，大包腋下有六寸，淵液腋下三寸絆。</p>
<h4>病證解</h4>
<p>舌本強，脈連舌本也。食則嘔，脾不能化食也。胃脘痛，脈絡胃也。腹脹，脈入腹也。善噫，脾氣厥逆於胃也。得後與氣則快，脾氣下泄也。身體重，脾主肌肉也。以上或經病、或絡病、或臟病，皆脾經自病也。舌本痛，甚於強也。體不能動，甚於重也。食不下，不但嘔也。心煩、心痛，脈注心中，亦合心經病也。溏瘕泄，脾不實也。水閉，脾病連腎也。黃膽，脾病本色外現也。不能臥，腎病干脾也。強立股膝腫、足大趾不用，皆經病。以上合病也。不言氣盛、氣虛，省文也。</p>
<h4>本草臟腑虛實標本用藥式</h4>
<p>脾藏志，屬土，為萬物之母，主營衛，主味，主肌肉，主四肢。</p>
<p>本病（臟腑之病）</p>
<p>諸濕腫脹，痞滿，（即經中腹脹，得後與氣則快，不能臥，食不下諸證。）噫氣，（同經。）大小便閉，（即水閉。）黃膽，（同經。）痰飲，（脾不為胃行津液。）吐瀉霍亂，（脾胃同病。）心腹痛，（同經。）</p>
<p>飲食不化。（脾不健運。）</p>
<p>標病（經絡之病）</p>
<p>身體膚腫，重困嗜臥，（同經。）四肢不舉，（脾主四肢。）舌本強痛，足大趾不用，（同經。）九竅不通，（脾為萬物母，主營衛，脾病則諸臟俱病，九竅在外，故為標病。）諸痙項強。（脈行人迎，挾喉。）</p>
<h4>治法解</h4>
<p>土實瀉之脾胃俱為倉廩之官，而脾主運化，脾氣太實，則中央杼軸不靈，故用瀉，下分三法。</p>
<p>瀉子：金為土之子，土滿則肺氣壅遏，瀉肺氣所以消滿。</p>
<p>訶子（泄氣消痰，開胃調中。）防風（瀉肺，散頭目滯氣。）桑皮（瀉肺行水，下氣消痰。）葶藶（下氣行水，大能瀉肺。）</p>
<p>吐：經云：在上者因而越之。痰血食積壅塞上焦，涌而去之，其勢最便，故用吐法。胃實不言吐者，胃主容受，脾主消化，積雖在胃，而病生於脾也。</p>
<p>豆豉（能升能散，得鹽則吐。）梔子（苦寒瀉火，吐虛煩客熱。）蘿卜子（長於利氣，能吐風痰。）常山（引吐行水，祛老痰積飲。）瓜蒂（吐風熱痰涎，上膈宿食。）鬱金（行氣破血，輕揚上行，同升麻服能吐。）齏汁（吐諸痰飲宿食。）藜蘆（吐上膈風涎。）苦參（瀉火燥濕，祛風逐水。）赤小豆（行水散血，清熱解毒。）</p>
<p>鹽湯（能涌吐。）苦茶（瀉熱清痰，下氣消食，濃茶能引吐。）</p>
<p>下：下法不止去結除熱，凡驅逐痰水皆是也。蓋脾惡濕，脾病則濕勝，土不足以制水，每生積飲之證，故與腸胃、三焦下熱結之法稍異。</p>
<p>大黃（瀉血分實熱，下有形積滯。）芒硝（蕩滌實熱，推陳致新。）青礞石（體重沉墜，下氣利痰。）大戟（瀉臟腑水濕。）續隨子（下積飲，治水氣。）芫花（去水氣，消痰癖。）甘遂（瀉隧道水濕。）</p>
<p>土虛補之土為萬物之母，而寄旺於四時。土虛則諸臟無所稟承，故用補，下分三法。</p>
<p>補母：土生於火，益心火所以生脾土也。</p>
<p>桂心（苦入心經，益陽消陰。）茯苓（安心益氣，助陽補脾。）</p>
<p>氣：氣屬陽，陽氣旺，則濕不停而脾能健運。</p>
<p>人參（大補元氣，益土生金。）黃　（補中氣，壯脾胃。）升麻（升陽氣，補衛氣，脾胃引經藥。）葛根（升胃氣，兼入脾經。）甘草（補脾胃不足。）陳皮（調中快膈，脾胃氣分之藥。）藿香（入脾經去惡氣。）葳蕤（補中益氣，治風濕。）砂仁（和胃醒脾，快氣調中。）木香（疏肝和脾，三焦氣分藥。）扁豆（調脾暖胃，消暑除濕。）</p>
<p>血：脾統血，喜溫而惡寒。寒濕傷脾，則氣病而血亦病。甘溫益脾，則陽能生陰，所以和血而補血也，與他臟養血之法不同。</p>
<p>白朮（甘溫和中，同血藥用則補血。）蒼朮（甘溫辛烈，燥胃強脾。）白芍（瀉肝安脾，為太陰行經藥。）</p>
<p>膠飴（溫補脾，甘緩中。）大棗（甘溫補中，入脾經血分。）乾薑（辛溫燥濕，能引血藥入氣分而生血。）木瓜（伐肝理脾，調營衛，利筋骨。）烏梅（酸澀而溫，脾肺血分之藥。）蜂蜜（甘溫補中，調和營衛。）</p>
<p>本濕除之不言寒熱者，實兼寒熱也，下分二法。</p>
<p>燥中宮：脾惡濕，燥濕所以健脾。脾喜溫，故只言寒濕，不言濕熱，且濕去而熱自除也。</p>
<p>白朮（苦燥濕。）蒼朮（除寒濕。）橘皮（理氣燥濕。）半夏（除濕化痰。）吳茱萸（燥脾除濕。）南星（燥濕除痰。）白芥子（溫中開胃，利氣豁痰。）</p>
<p>潔淨府：水乃濕之原，行水乃以除濕，故治濕必利小便。</p>
<p>木通（通膀胱，導濕熱。）赤茯苓（利濕熱，赤勝於白。）豬苓（利濕行水。）藿香（去惡氣則正氣通暢，氣化則小便利。）</p>
<p>標濕滲之脾之經絡受傷者，不止於濕。外感之濕中人，不止脾之一經。脾專言濕，舉一以概其余也。以濕屬脾，從其類也。</p>
<p>開鬼門：濕從汗解，風能燥濕。</p>
<p>葛根（解肌開腠。）蒼朮（發汗除濕。）麻黃（辛溫發汗。）獨活（搜風去濕。）</p>
<p>（以上所舉四藥，或入陽明。或入太陽，或入少陰，非專入脾經也。蓋濕與熱合，傷在肌肉，則用陽明藥。濕與風合，傷在皮膚，則用太陽藥。濕與寒合，傷在筋骨，則用少陰藥。濕土於五行寄旺，故兼諸經藥也，推之他經，濕在太陽，則用麻黃；濕在陽明，則用葛根、蒼朮；濕在少陰，則用獨活。觸類引伸，方得作者本旨，不可泥看，余仿此。）</p>
<h3>心經第五</h3>
<p>（是經起於極泉穴，終於少衝穴。）</p>
<p>心手少陰之脈，起於心中，出屬心系，下膈絡小腸。其支者，從心系上挾咽，系目系。其直者，復從心系卻上肺，下出腋下，循　內後廉，行手太陰心主之後，下肘內，循臂內後廉，抵掌後銳骨之端，入掌內後廉，循小指之內，出其端。是動則病嗌干，心痛，渴而欲飲，是為臂厥。是主心所生病者，目黃，脅痛，　臂內後廉痛厥，掌中熱痛。為此諸病，盛則瀉之，虛則補之，熱則疾之，寒則留之，陷下則灸之，不盛不虛，以經取之。盛者寸口大再倍於人迎，虛者寸口反小於人迎也。</p>
<h4>經絡解</h4>
<p>心系有二，其一上通於肺；其一由肺葉而下，曲折向後，並脊裡細絡相連，與腎相通，正當七節之間，蓋心通五臟系也。手腕下胛為銳骨。</p>
<p>手少陰經受足太陰脾之交，起於心，循任脈之外，屬心系，下膈，當臍上二寸之分，絡小腸。其支者，從心系出任脈之外，上行而挾咽，系目系。以上二脈，一下行，一上行，皆伏行於內者也。其直者，出行於外，亦經脈也。從心系上至肺臟之分，出循腋下，抵極泉穴，自極泉下循　內後廉，行手太陰心主兩經之後，歷青靈穴，下肘內廉，抵少海，自少海而下，循臂內後廉，歷靈道、通裡，至掌後銳骨之端，經陰　、神門，入掌內廉，至少府，循小指端之少衝而終，以交於手太陽小腸。蓋心為君主之官，尊於他臟，故其交經授受，不假支別云。</p>
<h4>心經諸穴歌</h4>
<p>手少陰，九穴成，極泉青靈少海深，自靈道通裡而達，過陰　神門而迎，抵於少府，少衝可尋。</p>
<h4>分寸歌</h4>
<p>少陰心起極泉中，腋下筋間脈入胸，青靈肘上三寸取，少海肘後五分容，靈道掌後一寸半，通裡腕後一寸同，陰　腕後方半寸，神門掌後銳骨隆，少府節後勞宮直，小指內側取少衝。</p>
<h4>病證解</h4>
<p>嗌干，脈上行挾嗌也。心痛，本臟之腑。其余心痛，皆包絡痛也。渴而欲飲，心火內炎也。目黃，脈系目系也。脅痛，脈出腋下也。　臂後廉痛，脈循　臂後廉也。掌中熱痛，脈入掌內也。</p>
<p>心為五臟之主，邪不能干，除真心痛外，所載皆經絡中病。此下即有本病，亦包絡之病，非本臟病也。況經絡相連，病證多同，故《內經》雖各詳經絡，而本草所載，兩經合一。今遵《內經》，仍各分一經。至於標本用藥，俱載包絡經中，心經不必另載。</p>
<h3>小腸經第六</h3>
<p>（是經起於少澤穴，終於聽宮穴。）</p>
<p>小腸手太陽之脈，起於小指之端，循手外側上腕，出踝中，直上循臂骨下廉，出肘內側兩筋之間，上循外後廉，出肩解，繞肩胛，交肩上，入缺盆，絡心，循咽下膈，抵胃屬小腸。其支者，從缺盆循頸上頰，至目銳，卻入耳中。其支者，別頰上　抵鼻，至目內　，斜絡於顴。是動則病嗌痛頷腫，不可以顧，肩似拔，似折。是主液所生病者，耳聾目黃頰腫，頸、頷、肩、　、肘、臂外後廉痛。為此諸病，盛則瀉之，虛則補之，熱則疾之，寒則留之，陷下則灸之，不盛不虛，以經取之。盛者人迎大再倍於寸口，虛者人迎反小於寸口也。</p>
<h4>經絡解</h4>
<p>腕下兌骨為踝，脊兩旁為膂，膂上兩角為肩解，肩解下成片骨為肩胛，目外角為銳　，目下為　，目內角為內　。</p>
<p>手太陽受手少陰心經之交，脈起於小指少澤穴，穴由是循外側之前谷、後谿，上腕出踝中，歷腕骨、陽谷、養老穴，直上循臂骨下廉，支正出肘內側兩筋之間，歷小海穴，上循　外廉，行手陽明、少陽之外，上肩循肩貞、　俞、天宗、秉風、曲垣、肩外俞、肩中俞諸穴，乃上會大椎，左右相交於兩肩之上，自交肩下入缺盆，循肩向腋下行，當膻中之分，絡心，循胃系，下膈，過上脘抵胃，下行任脈之外，當臍上二寸之分，屬小腸。其支者，從缺盆循頸之天窗、天容上頰，抵顴　，上至目銳　，過瞳子　，卻入耳中，循聽宮而終。其支者，循頰上　抵鼻，至目內　睛明穴，以斜絡於顴，而交於足太陽經也。</p>
<h4>小腸經諸穴歌</h4>
<p>小腸穴，十九中。路從少澤，步前谷後谿之隆；道遵腕骨，觀陽谷養老之崇。得支正於小海，逐肩貞以相從。值　俞兮過天宗，乘秉風兮曲垣中。肩外俞兮肩中俞，啟天窗兮見天容。匪由顴　，曷造聽宮。</p>
<h4>分寸歌</h4>
<p>小指端外為少澤，前谷外側節前覓，節後捏拳取後谿，腕骨腕前骨陷側，兌骨下陷陽谷討，腕上一寸名養老，支正腕後量五寸，小海肘端五分好，肩貞胛下兩骨解，　俞大骨下陷保，天宗秉風後骨中，秉風　外舉有空，曲垣肩中曲胛陷，外俞胛後一寸從，肩中二寸大杼旁，天窗扶突後陷詳，天容耳下曲頰後，顴　面　銳端量，聽宮耳端大如菽，此為小腸手太陽。</p>
<h4>病證解</h4>
<p>嗌痛，脈循胃系也。頷腫，脈循頸上頰也。肩痛，脈出肩解也。　難舉，脈循　也。耳聾，脈入耳也。目黃，脈入內、外　也。頰腫，頸、頷、肩、　、肘、臂外後廉痛，皆經脈所過之地。以上言經病，未言腑病；言本經病，未言合病，然亦可類推也。</p>
<h4>本草臟腑虛實標本用藥式</h4>
<p>小腸主分泌水穀，為受盛之官。</p>
<p>本病（臟腑之病）</p>
<p>大便水穀利，小便短，小便閉，小便血，小便自利，大便後血，（大腸主大便，膀胱主小便，而小腸兼主大小便，以分泌水穀也。小腸氣痛，本腑病。）宿食夜熱旦止。（以小腸為受盛之官。）</p>
<p>標病（經絡之病）</p>
<p>身熱惡寒，（手足太陽病同。）嗌痛頷腫，（同經。）口糜，（合胃經病，以脈循胃系也。）耳聾。（同經。）</p>
<h4>治法解</h4>
<p>實熱瀉之小腸承胃之下脘，而下輸膀胱，大腸實熱則不能泌別清濁，故用瀉，下分二法。</p>
<p>氣：氣分有熱，則水穀不分，行水即以導熱。</p>
<p>木通（通大小腸，導諸濕熱。）豬苓（利濕利水。）滑石（利竅滲濕，瀉熱行水。）瞿麥（降心火，利小腸，行水破血。）澤瀉（利濕行水。）燈草（降心火，利小腸。）</p>
<p>血：熱入血分，則血妄行，清熱所以涼血止血。</p>
<p>地黃（瀉丙火，涼血生血。）蒲黃（生行血，熟止血。）赤茯苓（入心、小腸，利濕熱。）梔子（瀉心肺邪熱，下從小便出。）丹皮（瀉血中伏火，涼血而生血。）</p>
<p>虛寒補之小腸屬火，化物出焉，虛寒則失其職，故用補，下分二法。</p>
<p>氣：胃為小腸上流，胃氣虛則濕流小腸而水穀不分，調補胃氣，即以補小腸之氣也。</p>
<p>白朮（燥濕和中，益陽補氣。）楝實（導小腸熱，引心包相火下行。）茴香（開胃調中，療小腸冷氣。）</p>
<p>砂仁（快氣調中，通行結滯，入大小腸。）神麯（調中開胃，化水穀，消積滯。）扁豆（調脾暖胃，消暑除濕。</p>
<p>）</p>
<p>血：血分寒虛，則多凝滯，補陽行氣，所以活血而補血也。</p>
<p>桂心（辛走血，能補陽活血。）胡索（行血中氣滯、氣中血滯。）</p>
<p>本熱寒之不言本寒者，虛寒已見上條，省文也。</p>
<p>降火：小腸與心為表裡，心火太旺，往往下傳於小腸，降心火所以清小腸之上流也。</p>
<p>黃柏（瀉相火，補腎水。）黃芩（苦入心，寒勝熱。）黃連（大苦大寒，入心瀉火。）連翹（形似心。入心經氣分而瀉火。）梔子（瀉心、肺、三焦之火。）</p>
<p>標熱散之陽邪中上，陰邪中下。手太陽經脈在上，非寒邪所能干，故止言標熱。</p>
<p>解肌：陽邪每多自汗之證，故不用發表，且小腸經專主上部，與足陽明解肌不同。</p>
<p>本（辛溫雄壯，為太陽風藥。）羌活（搜風發表。）防風（解表去風，主上焦風邪。）蔓荊（輕浮升散，主上部風邪。）</p>
<h2>卷下</h2>
<h3>膀胱經第七</h3>
<p>（是經起於睛明穴，終於至陰穴。）</p>
<p>膀胱足太陽之脈，起於目內　，上額交巔。其支者，從巔至耳上角。其直者，從巔入絡腦，還出別下項，循肩膊內，挾脊抵腰中，入循膂，絡腎屬膀胱。其支者，從腰中下挾脊，貫臀入　中。其支者，從膊內左右，別下貫胛，挾脊內，過髀樞，循髀外，從後廉下合　中，以下貫　內，出外踝之後，循京骨，至小趾外側。是動則病沖頭痛，目似脫，項如拔，脊痛腰似折，髀不可以曲，　如結，　如裂，是為踝厥。是主筋所生病者，痔，瘧，狂癲疾，頭囟項痛，目黃淚出，鼽衄，項背腰尻　腳皆痛，小趾不用。為此諸病，盛則瀉之，虛則補之，熱則疾之，寒則留之，陷下則灸之，不盛不虛，以經取之。盛者人迎大再倍於寸口，虛者人迎反小於寸口也。</p>
<h4>經絡解</h4>
<p>頭頂上為巔，腦後為項，肩後之下為肩膊，椎骨為脊，尻上橫骨為腰，挾脊為膂，挾腰髖骨兩旁為機，機後為臀，膝後屈處為　，股外為髀，捷骨之下為髀樞，腓腸為　。</p>
<p>足太陽之脈，受手太陽之交，起目內　睛明穴，上額，循攢竹，過神庭，歷曲差、五處、承光、通天，自通天斜行左右，交於頂上之百會。其支者，從巔至百會，抵耳上角。以上一經脈、一絡脈，上行於頭者也。其直行者，由通天、絡卻、玉枕入絡腦，復出下項以抵天柱，又由天柱而下循肩膊內，挾脊兩旁相去各一寸半，下行於大杼、風門諸俞，由是抵腰中，入循膂絡腎，下屬膀胱。其支別者，從腰中循腰髖，下挾脊，歷上　、次、中　、下　、會陽，下貫臀，至承扶、殷門、浮　、委陽，入　中之委中穴。其支別者，為挾脊兩旁第二行，相去各三寸之諸穴，自天柱而下，從膊內左右，別行下貫胛膂，歷附分、魄戶、膏肓、神堂、　、膈關、魂門、陽綱、意舍、胃倉、肓門、志室、胞肓、秩邊，下歷尻臀，過髀樞，又循髀樞之裡、承扶之外一寸五分之間而下，與前之入　中者相合，下行循合陽，下貫　內，歷承筋、承山、飛揚、跗陽，出外踝後之昆侖、仆參、申脈、金門，循京骨、束骨、通谷，至小趾外側之至陰穴，以交於足少陰腎經也。</p>
<h4>膀胱經諸穴歌</h4>
<p>足太陽，六十三。睛明攢竹，詣曲差五處之鄉；承光通天，見絡卻玉枕之行。天柱高兮大杼抵，風門開兮肺俞當。厥陰心膈之俞，肝膽脾胃之臟。三焦腎兮大腸小腸，膀胱俞兮中膂白環。自從大杼至此，去脊中寸半之旁。又有上次中下四　，在腰四空以相將。會陽居尻尾之側，始了背中二行，仍上肩胛而下，附分二椎之旁。三椎魄戶，四椎膏肓。神堂　兮膈關，魂門兮陽綱，意舍兮胃倉。肓門志室，秩邊胞肓。承扶浮　與委陽，殷門委中而合陽。承筋承山到飛揚，跗陽昆侖至仆參。申脈金門，探京骨之場；束骨通谷，抵至陰小趾之旁。</p>
<h4>分寸歌</h4>
<p>足太陽兮膀胱經，目內　角始晴明。眉頭陷中攢竹取，曲差發際上五分，五處發上一寸是，承光發上二寸半，通天絡卻玉枕穴，相去寸五調勻看，玉枕挾腦一寸三，入發二寸枕骨現，天柱陷後發際中，大筋外廉陷中獻。自此挾脊開寸五，第一大杼二風門，三椎肺俞厥陰四，心俞五椎之下論，膈七肝九十膽俞，十一脾俞十二胃，十三三焦十四腎，大腸十六之下椎，小腸十八膀十九，中膂內俞二十椎，白環二十一椎下當。以上諸穴可排之，更有上次中下　，一二三四腰空好，會陽陰尾尻骨旁，背部二行諸穴了。又從脊上開三寸，第二椎下為附分，三椎魄戶四膏肓，第五椎下神堂尊，第六　膈關七，第九魂門陽綱十，十一意舍之穴存，十二胃倉穴已分，十三肓門端正在，十四志室不須論，十九胞肓二十秩邊，背部三行諸穴勻。又從臀下陰文取，承扶居於陷中主，浮　扶下方六分，委陽扶下寸六數，殷門扶下六寸長，　中外廉兩筋鄉，委中膝骨約紋裡，此下三寸尋合陽，承筋腳跟上七寸，穴在　腸之中央，承山　下分肉間，外踝七寸上飛揚，跗陽外踝上三寸，昆侖後跟陷中央，仆參亦在踝骨下，申脈踝下五分張，金門申脈下一寸，京骨外側骨際量，束骨本節後陷中，通谷節前陷中強，至陰卻在小趾側，太陽之穴始周詳。</p>
<h4>病證解</h4>
<p>氣衝頭痛，脈上額絡腦也。目似脫，脈起內　也。項如拔，脈下項也。脊痛，脈挾脊也。腰似折，脈抵腰中也。髀不可曲。脈過髀樞也。　如結，脈入　中也。　如裂，脈貫　內也。以上皆太陽經絡中病也。痔，脈貫臀也。瘧，兼少陽證也。狂癲，合陽維、陽蹺兩經病也。頭項痛，脈上額入腦下項也。目黃淚出，脈起內也。鼽衄，內　近鼻，合陽明病也。項背腰尻以下至小趾不用，皆經脈所過之地。以上或本經，或合他經，皆經病，未及腑病也，腑病載本草中。</p>
<h4>本草臟腑虛實標本用藥式</h4>
<p>膀胱主津液，為胞之府，氣化乃能出，號州都之官，諸病皆干之。</p>
<p>本病（臟腑之病）</p>
<p>小便淋瀝，或短數，或黃赤，或白，或遺失。（膀胱主小便，諸病皆本腑病。）或氣痛。（本腑病。）</p>
<p>標病（經絡之病）</p>
<p>發熱惡寒，（太陽主表。）頭痛腰脊強，（同經。）鼻塞，（內　近鼻。）足小趾不用。（同經。）</p>
<h4>治法解</h4>
<p>實熱瀉之膀胱主津液，實熱則津液耗散，瀉之所以救液也，下一法。</p>
<p>泄火：水不利則火無由泄，行水所以泄火。</p>
<p>滑石（淡滲濕。寒瀉熱。下走膀胱而行水。）豬苓（除濕瀉熱，下通膀胱。）</p>
<p>下虛補之膀胱氣化乃出，或熱或寒皆能傷氣，氣虛則下焦不固，故用補，下分二法。</p>
<p>熱：熱在下焦，乃真水不足，無陰則陽無以化，宜滋腎與膀胱之陰。</p>
<p>知母（潤腎燥而滋陰，為氣分藥。）黃柏（瀉膀胱火，補腎水不足，為血分藥。）</p>
<p>寒：虛寒則氣結於下，或升或散，皆所以通其氣；虛寒則元氣不固，或溫或澀，皆所以固其氣。</p>
<p>桔梗（開提氣血，載藥上浮。）升麻（能升陽氣於至陰之下。）益智仁（澀精固氣縮小便。）烏藥（辛溫順氣，治膀胱冷氣。）萸肉（固精秘氣，縮小便。）</p>
<p>本熱利之不言本寒者，已見補虛條中，省文也。</p>
<p>降火：水在高源，上焦有火則化源絕。清金瀉火，亦補母之義。前虛熱條中所載，乃正治法。此乃隔一治法，互文也。至行水泄火，惟實者宜之，已見前瀉實條中，與此條有別。</p>
<p>地黃（苦寒瀉火，入手足少陰。）梔子（瀉心肺邪熱，從小便出。）茵陳（寒勝熱，苦燥濕，入足太陰經。）</p>
<p>黃柏（瀉相火，補腎水。）丹皮（入手足少陰，瀉血中伏火。）地骨皮（降肺中伏火。）</p>
<p>標寒發之不言標熱者，寒邪中下，初入太陽，猶未變為熱也。</p>
<p>發表：太陽主表，寒邪入表，急宜驅之使出，故發汗之法，較解表尤重。</p>
<p>麻黃（辛溫發汗，去營中寒邪。）桂枝（發汗解肌，調和營衛。）羌活（搜風勝濕，入足太陽經。）防己（通腠理，療風水，太陽經藥。）黃　（無汗能發，有汗能止。）木賊草（發汗解肌，升散火鬱風濕。）蒼朮（發汗除濕。）</p>
<h3>腎經第八</h3>
<p>（是經起於涌泉穴，終於俞府穴。）</p>
<p>腎足少陰之脈，起於小趾之下，邪趨足心，出於然谷之下，循內踝之後，別入跟中，以上　內，出　內廉，上股內後廉，貫脊屬腎絡膀胱。其直者，從腎上貫肝膈，入肺中，循喉嚨，挾舌本。其支者，從肺出絡心，注胸中。是動則病飢不欲食，面如漆柴，咳唾則有血，喝喝而喘，坐而欲起，目KT　KT　如無所見，心如懸若飢狀，氣不足則善恐，心惕惕如人將捕之，是為骨厥。是主腎所生病者，口熱舌乾，咽腫上氣，嗌干及痛，煩心心痛，黃膽，腸　，脊股內後廉痛，痿厥，嗜臥，足下熱而痛。為此諸病，盛則瀉之，虛則補之，熱則疾之，寒則留之，陷下則灸之，不盛不虛，以經取之。灸則強食生肉，緩帶披發，大杖重履而步。盛者寸口大再倍於人迎，虛者寸口反小於人迎也。</p>
<h4>經絡解</h4>
<p>足少陰腎之脈，受足太陽膀胱之交，起足小趾之下，斜趨足心之涌泉，轉出內踝前，起大骨下之然骨，下循內踝後之太谿，別入跟中之大鐘、照海、水泉，乃折自大鐘之外，上循內踝，行厥陰、太陰兩經之後，經本經復溜、交信穴，過脾經之三陰交，上　內，循築賓，出　內廉，抵陰谷，上股內後廉，貫脊，會於督之長強，還出於前，循橫骨、大赫、氣穴、四滿、中注、肓俞之所，臍之左右，屬腎下臍，過任脈之關元、中極，而絡膀胱焉。其直行者，從肓俞屬腎處上行，循商曲、石關、陰都、通谷諸穴，貫肝，上循幽門，上膈，歷步廊，入肺中，循神封、靈墟、神藏、　中、俞府，而上循喉嚨，並人迎，挾舌本而終。其支者，自神藏別出，繞心，注胸之膻中，以交於手厥陰心包絡經也。</p>
<h4>腎經諸穴歌</h4>
<p>足少陰兮二十七，涌泉流於然谷，太谿大鐘兮水泉綠，照海復溜兮交信續，從築賓兮上陰谷，掩橫骨兮大赫麓，氣穴四滿兮中注，肓俞上通乎商曲，守石關兮陰都安，閉通谷兮幽門肅，步廊神封而靈墟存，神藏　中而俞府足。</p>
<h4>分寸歌</h4>
<p>足掌心中是涌泉，然骨踝下一寸前，太谿踝後跟骨上，大鐘跟後踵中邊，水泉溪下一寸覓，照海踝下四寸安，復溜跟上前二寸，交信踝上二寸聯，二穴止隔筋前後，太陽之後少陰前，築賓內踝上　分，陰谷膝下曲膝間，橫骨大赫並氣穴，四滿中注亦相連，各開中行止半寸，上下相去一寸便，上膈肓俞亦一寸，肓俞臍旁半寸邊，肓俞商曲石關來，陰都通谷幽門肅，各開中行五分俠，六穴上下一寸裁，步廊神封靈墟存，神藏　中俞府尊，各開中行計二寸，上下寸六六穴分，俞府璇璣旁二寸，取之得法自然真。</p>
<h4>病證解</h4>
<p>飢不欲食，蓋虛火盛則飢，而不欲食者，脾氣弱也。乃木火侮土之故，以腎虛不能養肝，且脈貫肝上膈也。</p>
<p>面如漆柴，水枯而腎之色黑者見於外，腎之主骨者瘦於形也。咳唾有血，喝喝而喘，以脈入肺中，皆火盛水虧之疾也。坐而欲起，皆陰虛不能安靜也。目無所見，水虧肝弱也。心如懸，脈絡心包也。善恐如人將捕，恐，傷腎也。骨厥，腎主骨也。口熱舌乾，咽腫上氣，嗌干痛，脈循喉嚨、挾舌本也。煩心心痛，脈絡心也。黃膽，身體面目皆變黃也，有急黃、勞黃、腦黃、陰黃、癖黃、噤黃、五色黃、黃汗、酒疸、穀疸、黑疸、女勞疸，名目不可不辨。腸　即滯下，滯下即痢疾，痢疾本於腎，腎司二陰也。脊股內後廉痛，脈所經也。痿，骨痿，腎主骨也。厥，腎虛氣上逆也。嗜臥，即《傷寒論》中所謂但欲寐，蓋熱邪入腎，則神昏而嗜臥也。足下熱痛，脈起涌泉也。</p>
<p>以上或臟病、或經病，而合他臟病居多，以腎脈入肝、入肺、絡心，一臟而連諸臟，與他臟異也。</p>
<h4>本草臟腑虛實標本用藥式</h4>
<p>腎藏智，屬水，為天一之源，主聽，主骨，主二陰。</p>
<p>本病（臟腑之病）</p>
<p>諸寒厥逆，骨痿，（同經。）腰痛，腰冷如水，（臟病及腑。）足　腫寒，（水氣下注。）少腹滿急，疝瘕，（腎主下焦，少腹腎所治也。）大便閉泄，吐利腥穢，水液澄澈，清冷不禁，（腎主二陰。）消渴引飲。</p>
<p>火旺傷水。</p>
<p>標病（經絡之病）</p>
<p>發熱不惡熱，（真寒假熱。）頭眩頭痛，（太陽經病，腎絡所通。）咽痛舌燥，脊股後廉痛。（同經。）</p>
<p>命門（右腎為命門）為相火之原，天地之始，藏精（精化於氣）生血（陽能生陰。）降則為漏，升則為鉛，（鉛乃北方正氣，一點初生之真陽。一念之非，降而為漏；一念之誠，守而為鉛。）主三焦元氣。</p>
<p>本病（不言標病者，兩腎經絡皆同也。）</p>
<p>前後癃閉，（腎主二陰，左腎病便閉，右腎病癃閉，有寒熱之分。）氣逆裡急，疝痛奔豚，（病同左腎，滿急疝瘕而有寒熱之別。）消渴，（亦同左腎，而水虛、火虛不同。）膏淋，（淋病屬小便，而膏淋則傷精。）精漏精寒，（命門主藏精。）赤白濁，（亦精道病。）溺血崩中帶漏。（命門主生血。）</p>
<h4>治法解</h4>
<p>水強瀉之真水無所謂強也，膀胱之邪氣旺則為水強，瀉膀胱乃以瀉水也，下分二法。</p>
<p>瀉子：木為水之子，水濕壅滯，得風火以助之，結為痰涎，控去痰涎，正所以疏肝而泄水也。</p>
<p>牽牛（逐水消痰，瀉氣分之濕熱。）大戟（去臟腑水濕，瀉肝經風火之毒。）</p>
<p>瀉腑：膀胱為腎之腑，瀉腑則臟自不實。</p>
<p>澤瀉（利濕行水。）豬苓（利濕利水。）車前子（滲膀胱濕熱，利小便而不走氣。）防己（瀉下焦血分濕熱，為療風水之要藥。）茯苓（除濕瀉熱，下通膀胱。）</p>
<p>水弱補之腎為水臟，而真陽居於其中，水虧則真陽失其窟宅，無所依附，故固陽必先補水。</p>
<p>補母：肺為腎之母，補肺金所以生腎水也。</p>
<p>人參（大補肺中元氣。）山藥（色白入肺，益腎強陰。）</p>
<p>氣：火強則氣熱，火弱則氣寒，寒熱皆能傷氣。補氣之法亦不外瀉火、補火二端。《內經》腎臟不分左右，本草雖分，究竟命門治法已該左腎中。</p>
<p>知母（瀉火補水潤燥，為腎經氣分藥。）元參（色黑入腎，能壯水以制火。）破故紙（補相火以通君火，暖丹田，壯元陽。）砂仁（辛溫益腎，通行結滯。）苦參（瀉火燥濕，補陰益精。）</p>
<p>血：血屬陰，陰與陽相配，陽強則陰虧，無陽亦無以生陰，故滋陰溫腎，皆所以益精而補血也，亦兼命門治法在內。</p>
<p>黃柏（瀉火補水，腎經血分藥。）枸杞（生精助陽，清肝滋腎。）熟地黃（滋腎水，補真陰，填骨髓，生精血。）鎖陽（益精興陽，補陰潤燥。）肉蓯蓉（入腎經血分，補命門相火。）萸肉（補腎溫肝，強陰助陽。）</p>
<p>阿膠（養肝滋腎，和血補陰。）五味子（斂肺滋腎，強陰澀精。）</p>
<p>本熱攻之邪熱入裡，直攻腎臟，非如前補氣條中用清熱之法可以緩圖者也，惟有急攻一法。</p>
<p>下：熱入腎臟，真水已虧，豈可攻下。而傷寒少陰條中，有用大承氣湯下之者，以有口燥咽乾之證，故屬之少陰，其實乃少陰陽明也。熱結於足陽明，則土燥耗水；熱結於手陽明，則金燥不能生水。攻陽明之熱，正所以救腎水也。況腎主二陰，瀉腑所以通小便，攻下所以通大便，此亦瀉實之法，補前條所未備。</p>
<p>本寒溫之北方水臟，加以寒邪，恐真陽易至消亡，故有急溫一法。</p>
<p>溫裡：溫裡亦不外下條益陽之法，但本非真陽不足，以寒邪犯本，急用溫法，故所用皆猛烈之藥，與下補火法大同小異。</p>
<p>附子（大熱純陽，逐風寒濕。）乾薑（生逐寒邪而發表，炮除胃冷而守中。）官桂（益陽補氣，治沉寒痼冷之病）。白朮（苦燥濕，溫和中。）蜀椒（發汗散寒，入命門補火。）</p>
<p>標寒解之寒邪直入陰分，然尚在經絡，未入臟腑，故曰標寒。</p>
<p>解表：寒邪入於少陰經絡，雖在表未入於裡，已與太陽之表不同，第可引之從太陽而出，不可過汗以泄腎經，故不言發表而言解表也。</p>
<p>麻黃（發表解肌，去營中寒邪，衛中風邪。）細辛（辛溫散風邪，乃足少陰本藥。）獨活（搜風去濕，入足少陰氣分。）桂枝（發汗解肌，溫經通脈。）</p>
<p>標熱涼之寒邪入於骨髓，久之變而為熱，以邪猶在表，故為標熱。</p>
<p>清熱：熱自內出，發熱而不惡寒，不可發汗，故用清熱之法。</p>
<p>元參（入腎補水，散無根浮游之火。）連翹（入心瀉火，除三焦濕熱。）甘草（生用瀉火，炙用補中，入汗劑則解肌，入涼劑則瀉邪火。）豬膚（治少陰下利咽痛。）</p>
<p>火強瀉之火強非火實也，水弱故火強，火強則水愈弱，故瀉法仍是補法。</p>
<p>瀉相火：腎火與水並處，水不足火乃有餘，滋陰即以瀉火，所謂壯水之主以制陽光是也。</p>
<p>黃柏（瀉相火，補腎水不足。）知母（潤腎燥而滋陰。）丹皮（入足少陰瀉伏火，涼血而生血。）地骨皮（瀉肝腎虛熱，涼血而補正氣。）生地黃（滋陰退陽，入足少陰。）茯苓（行水瀉熱。）元參（色黑入腎，壯水以制火。）寒水石（除三焦火熱。）</p>
<p>火弱補之火居水內，即坎中一畫之陽，先天之本是也。弱則腎虛而真陽衰敗，故宜補。</p>
<p>益陽：腎中元陽不足，無以藏精而生血，故補火而不失之燥，則陽能配陰而火不耗水。即用燥藥亦必以滋腎之藥佐之，益陽與溫裡所以不同，所謂益火之原以消陰翳是也。</p>
<p>附子（引補氣藥以復散失之元陽，引補血藥以滋不足之真陽。）肉桂（入肝腎血分，補命門相火不足。）</p>
<p>益智仁（補命門之不足。澀精固氣。）破故紙（暖丹田，壯元陽。）沉香（入右腎命門，能暖精壯陽。）川烏（功同附子而稍暖，寒宜附子，風宜烏頭。）硫黃（補命門真火不足，性雖熱而能通。）天雄（補下焦命門陽虛。）烏藥（治厥逆之氣。）陽起石（補右腎命門。）茴香（暖丹田，補命門不足。）胡桃（屬水入腎，佐破故紙大補下焦。）巴戟（入腎經血分，強陰益精。）丹砂（同地黃、枸杞之類養腎。）當歸（和血養血，治一切血證陰虛而陽無所附者。）蛤蜊（補肺潤腎，益精助陽。）覆盆（益腎臟而固腎，起陽痿，縮小便。）</p>
<p>精脫固之血生於陰，而精化於陽，陽不能固，則精不能藏，故固精屬之右腎。</p>
<p>澀滑：澀以止脫，澀之所以固之也。</p>
<p>牡蠣（澀以收脫，治遺精。）芡實（固腎澀精。）金櫻子（固精氣，入腎經。）五味子（收耗散之氣，強陰澀精。）遠志（能通腎氣上達於心，治夢泄。）萸肉（固精秘氣。）蛤蚧（與牡蠣同功。）</p>
<h3>心包絡經第九</h3>
<p>（是經起於天池穴，終於中衝穴。）</p>
<p>心主手厥陰心包絡之脈，起於胸中，出屬心包絡，下膈，歷絡三焦。其支者，循胸中出脅，下腋三寸，上抵腋，下循　內，行太陰、少陰之間，入肘中，下臂行兩筋之間，入掌中，循中指出其端。其支者，別掌中，循小指次指出其端。是動則病手心熱，臂肘攣急，腋腫，甚則胸脅支滿，心中　大動，面赤目黃，喜笑不休。是主脈所生病者，煩心心痛，掌中熱。為此諸病，盛則瀉之，虛則補之，熱則疾之，寒則留之，陷下則灸之，不盛不虛，以經取之。盛者寸口大一倍於人迎，虛者寸口反小於人迎也。</p>
<h4>經絡解</h4>
<p>小指次指，即手小指之次指，乃無名指也。</p>
<p>手厥陰心包絡經之脈，受足少陰腎經之交，起於胸中，出屬心下之包絡，由是下膈，歷絡於三焦。其支者，自屬心包，上循胸，出脅下腋三寸天池穴，上行抵腋，下循　內之天泉，以界手太陰肺經、手少陰心經兩經之中間，入肘中之曲澤穴，又由肘中下臂，行臂兩筋之間，循　門、間使、內關、大陵，入掌中勞宮，循中指出其端之中衝穴。其支別者，從掌中循無名指出其端，而交於手少陽三焦經也。</p>
<h4>心包絡經諸穴歌</h4>
<p>手厥陰心包之絡。計有九穴而終。自天池天泉為始，逐曲澤　門而通，間使通乎內關，大陵近於勞宮，既由掌握，抵於中衝。</p>
<h4>分寸歌</h4>
<p>心包起自天池間，乳後一寸腋下三，天泉曲腋下二寸，曲澤屈肘陷中央，　門去腕方五寸，間使腕後三寸量，內關去腕止二寸，大陵掌後兩筋間，勞宮屈中名指取，中指之末中衝良。</p>
<h4>病證解</h4>
<p>手心熱，脈行於掌中也。臂肘攣急，腋腫，胸脅支滿，皆脈所過之地也。　大動，心宜靜而反動，本臟病也。面赤目黃。手少陰經病，心包絡脈所通也。喜笑不休，心在聲為笑，本臟病也。脈所生病，心主脈也。</p>
<p>煩心心痛，本臟病也。掌中熱，即手心熱也。</p>
<p>以上經病多與心經相同，以經脈相近也。至於臟病，心經則無，而心包絡則有，以心臟不可受邪，凡病皆包絡相火受之也。《內經》分心與心主為兩經，本草言證治則合而為一。今遵《內經》，仍分為二，至本草所載，則附於心主條下，以本病屬於心主，標病兩經略同，治法亦兩經無異也。</p>
<h4>本草臟腑虛實標本用藥式</h4>
<p>心藏神，為君火。包絡為相火，代君行令，主血，主言，主汗，主笑。</p>
<p>本病（心包之病）</p>
<p>諸熱瞀　，（心主火，火勝則目眩筋急。）驚惑譫妄，煩亂，（心藏神，心病則神亂。）啼笑罵詈，（與經言喜笑不休略同。）怔忡，（即心火病。）健忘，（心藏神。）自汗，（心主汗。）諸痛癢瘡瘍。（心主血，熱傷血也。）</p>
<p>標病（經絡之病）</p>
<p>肌熱，（熱在血分。）畏寒戰栗，（熱極似寒。）舌不能言，（心主言。）面赤目黃，心煩熱，胸脅滿，痛引腰背肩胛肘臂。（同經。）</p>
<h4>治法解</h4>
<p>火實瀉之心屬火，邪氣有餘則為火實，故用瀉，下分四法。</p>
<p>瀉子：土為火之子，瀉脾胃之熱，而心火自清。</p>
<p>黃連（苦寒瀉心火。王海藏曰：瀉心實瀉脾也。）大黃（大瀉血分實熱，入足太陰、足陽明。）</p>
<p>氣：火入上焦，則肺氣受傷，甘溫以益元氣，而熱自退，雖以補氣，亦謂之瀉火。火入下焦，則小腸與膀胱氣化不行，通水道、瀉腎火，正以導赤也。</p>
<p>甘草（生用瀉火，入涼劑則瀉邪熱。）人參（大補元氣，生亦瀉火。）赤茯苓（瀉熱行水，入小腸氣分。）</p>
<p>木通（通小腸、膀胱，導濕熱從小便出。）黃柏（沉陰下降，瀉膀胱相火。）</p>
<p>血：火入血分則血熱，涼血所以瀉火。</p>
<p>丹參（色赤入心，破宿血，生新血。）丹皮（瀉血中伏火，涼血而生血。）生地黃（瀉心火，涼血而生血。）元參（壯水以制火。）</p>
<p>鎮驚：心藏神，邪入心包則神不安。化痰清熱，兼以重墜，亦鎮驚之義也。</p>
<p>朱砂（瀉心經邪熱，鎮心定驚。）牛黃（清心解熱，利痰涼驚。）紫石英（重以去怯，入心肝血分。）</p>
<p>神虛補之心藏神，正氣不足則為神虛，故用補，下分三法。</p>
<p>補母：木為火之母，肝虛則無以生火，故補心必先補肝。</p>
<p>細辛（辛溫肝膽。）烏梅（味酸入肝。）棗仁（甘酸而潤，專補肝膽。）生薑（肝欲散，辛散所以補肝。）</p>
<p>陳皮（辛能散，入厥陰行肝氣。）</p>
<p>氣：膻中為氣海，膻中清陽之氣不足，當溫以補之，即降濁升清，亦所以為補也。</p>
<p>桂心（苦入心，補陽活血。）澤瀉（利濕熱，濕熱既降，則清氣上行。）白茯苓（安心益氣，定魄安魂。）茯神（開心益智，安魂養神。）遠志（苦瀉熱，溫壯氣，能通腎氣上達於心。）石菖蒲（辛苦而溫，通竅補心。）</p>
<p>血：心主血，補心必先補血，生新去滯，皆所以為補也。</p>
<p>當歸（苦溫助心，為血中氣藥。）熟地黃（入手少陰、厥陰，生精血。）乳香（香竄入心，調氣和血。）</p>
<p>沒藥（通滯血，補心虛。）</p>
<p>本熱寒之不言本寒者，心虛則寒，上補虛條中已載，省文也。</p>
<p>瀉火：虛用甘寒，實用苦寒，瀉火之法，不外二端。</p>
<p>黃芩（苦入心，寒勝熱，瀉實火。）竹葉（甘寒瀉上焦煩熱。）麥冬（清心火，潤肺燥。）芒硝（苦寒除熱。）炒鹽（瀉熱潤燥補心。）</p>
<p>涼血：涼血亦不外瀉火，但瀉血中之火，則為涼血。</p>
<p>生地黃（入心瀉火，平諸血逆。）梔子（色赤入心，瀉心經邪熱。）天竺黃（入心經瀉熱豁痰。）</p>
<p>標熱發之不言標寒者，心經在上，非寒邪所能干，且心主血脈，邪入於脈，已非在表，有熱無寒可知。</p>
<p>散火：火鬱則發之，升散之藥，所以順其性而發之，與解表、發表之義不同。</p>
<p>甘草（入汗劑則解肌。）獨活（搜風去濕。）麻黃（發汗解肌，兼走手少陰。）柴胡（發表升陽，平少陰、厥陰邪熱。）龍腦（辛溫散熱。）</p>
<h3>三焦經第十</h3>
<p>（是經起於關衝穴，終於耳門穴。）</p>
<p>三焦手少陽之脈，起於小指次指之端，上出兩指之間，循手表腕，出臂外兩骨之間，上貫肘，循　外上肩，而交出足少陽之後，入缺盆，布膻中，散絡心包，下膈，循屬三焦。其支者，從膻中上出缺盆，上項，系耳後直上，出耳上角，以屈下頰至　。其支者，從耳後入耳中，出走耳前，過客主人前，交頰，至目銳　。是動則病耳聾渾渾　，嗌腫喉痹。是主氣所生病者，汗出，目銳　痛，頰腫，耳後肩　肘臂外皆痛，小指次指不用。為此諸病，盛則瀉之，虛則補之，熱則疾之，寒則留之，陷下則灸之，不盛不虛，以經取之。盛者人迎大一倍於寸口，虛者人迎反小於寸口也。</p>
<h4>經絡解</h4>
<p>三焦手少陽之脈，受手厥陰之交，起於第四指之端關衝穴，上出歷液門、中渚，循手表腕之陽池，出臂外兩骨之間，歷外關、支溝、會宗、三陽絡、四瀆至天井穴，從天井上行，循臂　之外，歷清冷淵、消濼，行手太陰之裡、手陽明之外，上肩循臂　，會肩　、天　，交出足少陽之後，過秉風、肩井，下入缺盆，復由足陽明之外，而交會於膻中之上焦，散布絡繞於心包絡，乃下膈入絡膀胱，以約下焦，附右腎而止。其支行者，從膻中而上出缺盆之外，上項，過大椎，循天牖，上耳後，經翳風、　脈、顱囟，直上出耳上角至角孫，過懸厘、頷厭，及過陽白、睛明，屈曲耳頰至　，會顴　之分。其又支者，從耳後翳風穴入耳中，過聽宮，歷耳門、和，卻出至目銳　，會瞳子　，循絲竹空，而交於足少陽膽經也。</p>
<h4>三焦經諸穴歌</h4>
<p>手少陽三焦之脈，二十三穴之間。關衝液門中渚，陽池外關通連，支溝會宗三陽絡，四瀆天井清冷淵，消濼會肩　相聯，天　處天牖之下，翳風讓　脈居先，顱囟定而角孫近耳，絲竹空而和　接焉，耳門既辟，經穴已全。</p>
<h4>分寸歌</h4>
<p>無名之外端關衝，液門小次指陷中，中渚液下去一寸，陽池腕上之陷中，外關腕後方二寸，腕後三寸支溝容，腕後三寸內會宗，空中有穴用心攻，腕後四寸三陽絡，四瀆肘前五寸著，天井肘外大骨後，骨罅中間一寸摸，肘後二寸清冷淵，消濼對腋臂外落，　會肩前三寸量，肩　上陷中央，天　缺盆陷處上，天牖天容之外旁，翳風耳後尖角陷，　脈耳後青脈現，顱囟亦在青絡脈，角孫耳廓中間上，耳門耳前起肉中，禾　耳前動脈張，欲知絲竹空何在，眉後陷中仔細量。</p>
<h4>病證解</h4>
<p>耳聾渾　，脈入耳中也。嗌腫喉痹，脈上項也。汗出，汗為心液，三焦為心包之表也。目銳　痛，脈至銳也。耳後肩　肘臂外痛，小指次指不用，脈所經之地也。以上皆經病，未及腑病也。</p>
<h4>本草臟腑虛實標本用藥式</h4>
<p>三焦為相火之用，分布命門元氣，主升降出入，游行天地之間，總領五臟六腑、營衛經絡、內外上下左右之氣，號中清之府。上主納，中主化，下主出。</p>
<p>本病（臟腑之病）</p>
<p>諸熱瞀　，（腑臟同病。）暴病暴卒暴喑，（火性急烈也。）躁擾狂越，譫妄驚駭，（腑臟同病，）諸血溢血泄，（火盛則血熱妄行。）諸氣逆衝上，（火性炎上。）諸瘡瘍，（同臟病。）痘疹瘤核。（亦瘡瘍之類。）</p>
<p>三焦本病，上已詳敘。以下六條，皆他臟他腑之病，諸經已載，此復詳敘三焦條下者，以三焦總領五臟六腑、營衛經絡，無所不貫故也。</p>
<p>上（上謂心肺胸膈上脘諸經）熱則喘滿，諸嘔吐酸，胸痞脅痛，食飲不消，頭上汗出。</p>
<p>中（中謂脾胃兩經）熱則善飢而瘦，解　，（尺脈緩澀謂之解　。）中滿，諸脹腹大，諸病有聲，鼓之如鼓，上下關格不通，霍亂吐利。</p>
<p>下（下謂肝腎大小腸膀胱諸經）熱則暴注下迫，水液混濁，下部腫滿，小便淋瀝或不通，大便閉結，下痢。</p>
<p>上寒（三焦屬火，火實則熱，火虛則寒）則吐飲食痰水，胸痹，前後引前，食已還出。</p>
<p>中寒則飲食不化，寒脹，僅胃吐水，濕瀉不渴。</p>
<p>下寒則二便不禁，臍腹冷，疝痛。</p>
<p>標病（經絡之病）</p>
<p>惡寒戰栗，如喪神守，（同本臟病。）耳鳴耳聾，嗌干喉痹，（同經。）</p>
<p>諸病　腫疼酸，（本經在手，但三焦為決瀆之官，水道不行，下注而為　腫。）驚駭，（驚必兼搐，證見手足，故屬標病。）手小指次指不用。（同經。）</p>
<h4>治法解</h4>
<p>實火瀉之三焦屬火，邪氣有餘則實，故用瀉，下分三法。</p>
<p>汗：實在表則發汗，亦兼諸經解表之法。</p>
<p>麻黃（足太陽，手少陰、陽明汗藥。）柴胡（少陽汗藥。）葛根（手足陽明汗藥。）荊芥（足厥陰經汗藥。</p>
<p>）升麻（陽明、太陰汗藥。）薄荷（足厥陰經汗藥。）羌活（足太陽，足少陰、厥陰汗藥。）石膏（足陽明、手太陰、三焦汗藥。）</p>
<p>吐：實在上焦，則用吐法。</p>
<p>瓜蒂（吐風熱痰涎，上膈宿食。）食鹽（辛溫能涌吐。）齏汁（酸鹹吐痰飲宿食。）</p>
<p>下：實在中焦、下焦，則用下法。</p>
<p>大黃（大瀉血分實熱，下有形積滯。）芒硝（蕩滌三焦腸胃實熱。）</p>
<p>虛火補之虛火謂火不足之證，即寒也，故溫之所以為補。</p>
<p>上焦人參（甘溫補肺。）天雄（補下焦以益上焦。）桂心（苦入心。）</p>
<p>中焦人參（益土生金。）黃　（補中益氣。）丁香（溫胃。）木香（和脾氣。）草果（健脾暖胃。）</p>
<p>下焦附子（補命門相火。）肉桂（入肝腎血分，補命門相火。）硫黃（補命門真火不足。）人參（得下焦引藥補三焦。）沉香（入命門，暖精壯陽。）烏藥（治膀胱冷氣。）破故紙（入命門，補相火。）</p>
<p>本熱寒之不言本寒者，虛火即寒，省文也。實火亦熱，但前言瀉法，此不用瀉而用寒，則本熱不必皆實火，瀉熱亦不止汗、吐、下三法也，參看具有精義。</p>
<p>上焦黃芩（酒炒，上行瀉肺火。）連翹（瀉心火與心包火。）梔子（瀉心肺熱。）知母（上清肺金而瀉火。）</p>
<p>元參（散浮游之火。）石膏（色白入肺。）生地黃（瀉心火。）</p>
<p>中焦黃連（為中部之使。）連翹（兼除手足少陽、手陽明濕熱。）生　（隨他藥能治諸經血熱。）石膏（足陽明大寒之藥。）</p>
<p>下焦黃柏（瀉膀胱相火。）知母（瀉腎火。）生　（入手太陽、陽明，治溺血、便血。）石膏（兼入三焦。）</p>
<p>丹皮（瀉肝腎火。）骨皮（瀉肝腎虛熱。）</p>
<p>標熱散之三焦經脈在上，且少陽居表裡之間，無所謂寒也，故不言標寒。</p>
<p>解表：解表亦是汗法，但前通言諸經汗法，此則專指本經言，故前條首言麻黃，而此條首言柴胡，不用麻黃也。</p>
<p>柴胡（少陽表藥。）細辛（少陰本藥，辛益肝膽，可通少陽。）荊芥（肝經表藥，可通少陽。）羌活（肝經表藥，可通少陽。）葛根（陽明表藥，能升陽散火。）石膏（三焦表藥。）</p>
<h3>膽經第十一</h3>
<p>（是經起於瞳子　穴，終於竅陰穴。）</p>
<p>膽足少陽之脈，起於目銳　，上抵頭角，下耳後，循頸，行手少陽之前，至肩上，卻交出手少陽之後，入缺盆。其支者，從耳後入耳中，出走耳前，至目銳　後。其支者，別銳　，下大迎，合手少陽，抵於　，下加頰車，下頸合缺盆以下胸中，貫膈絡肝屬膽，循脅裡，出氣街，繞毛際，橫入髀厭中。其直者，從缺盆下腋，循胸過季脅，下合髀厭中，以下循髀陽，出膝外廉，下外輔骨之前，直下抵絕骨之端，下出外踝之前，循足跗上，入小趾次趾之間。其支者，別跗上，入大趾之間，循大趾歧骨內出其端，還貫爪甲，出三毛。是動則病口苦，善太息，心脅痛不能轉側，甚則面微有塵，體無膏澤，足外反熱，是為陽厥。是主骨所生病者，頭痛頷痛，目銳　痛，缺盆中腫痛，腋下腫，馬刀俠癭，汗出振寒，瘧，胸脅肋髀膝外至脛絕骨外髁前及諸節皆痛，小趾次趾不用。為此諸病，盛則瀉之，虛則補之，熱則疾之，寒則留之，陷下則灸之，不盛不虛，以經取之。盛者人迎大一倍於寸口，虛者人迎反小於寸口也。</p>
<h4>經絡解</h4>
<p>脅，又名　。曲骨之外為毛際。毛際兩旁動脈為氣衝。髀厭，髀樞也。脅骨之下為季脅。　骨為輔骨。外踝以上為絕骨。足面為跗。足大趾本節後為歧骨。大趾爪甲後為三毛。</p>
<p>足少陽膽經之脈，受手少陽三焦之交，起於目銳　之瞳子　，由聽會、客主人上行頭角，循頷厭，下懸顱、懸厘，循耳上發際至曲鬢、率谷，由率谷外折，下耳後，循天衝、浮白、竅陰、完骨，又自完骨外折，循本神下至陽白，會睛明，復從睛明上行，循臨泣、目窗、正營、承靈、腦空、風池至頸，行手少陽之脈前，下至肩上，循肩井，卻左右交出手少陽之後，入缺盆外。其支者，自耳後入耳中，過聽宮至目銳　瞳子　之分。其支者，別自瞳子　下大迎，合手少陽於　，下臨頰車，下頸，循本經之前，與前之入缺盆者相合，下胸中天池之外，貫膈，即期門之所，絡肝，下屬於膽，自屬膽處循脅裡至氣衝，繞毛際，遂橫入髀厭之環跳穴。其直行者，從缺盆下腋，循胸，歷淵液、輒筋、日月，過季脅，循京門、帶脈、五樞、維道、居，與前之入髀厭者相合，乃下循髀外，循太陽、陽明之間，歷中瀆、陽關，出膝外廉，抵陽陵泉，下輔骨前，歷陽交、外丘、光明，直下抵絕骨之端，循陽輔、懸鐘而下出外踝之前，至丘墟，循足面之臨泣、五會、俠谿，乃上入小趾次趾之間，至竅陰而終。其支別者，自足面臨泣別行入大趾，循歧骨內出大趾端，還貫入爪甲，出三毛，以交於足厥陰肝經也。</p>
<h4>膽經諸穴歌</h4>
<p>足少陽兮四十三，瞳子　近聽會間，客主人在頷厭集，懸顱懸厘曲鬢前。由率谷天沖而下，見浮白竅陰之妍。完骨露兮本神陽白，臨泣見兮目窗與連。正營承靈居其後，腦空穴繼靈而安。風池肩井兮淵液，輒筋日月兮京門辟。帶脈五樞，由維道居　而續。環跳風市抵中瀆，飲陽關之陽陵泉。至陽交之外丘間，光明陽輔懸鐘可瞻。丘墟臨泣地五會，俠谿竅陰而膽經全。</p>
<h4>分寸歌</h4>
<p>足少陽兮四十三，頭上廿穴分三折，起自瞳子至風池，積數陳之次序說，瞳子　近　五分，耳前陷中聽會穴，客主人名上關同，耳前起骨開口空，頷厭懸顱之二穴，腦空下廉曲角中，懸厘之穴異於茲，腦空下廉曲角上，曲鬢耳上發際隅，率谷耳上寸半安，天沖耳後入發二，浮白入發一寸間，竅陰即是枕骨穴，完骨之上有空連，完骨耳後入發際，量得四分須用記，本神神庭旁二寸，入發一寸耳上系，陽白眉上方一寸，發上五分臨泣是，發上一寸當陽穴，發上寸半目窗至，正營發上二寸半，承靈發上四寸諦，腦空發上五寸半，風池耳後發陷寄，肩井肩上陷中求，大骨之前一寸半，淵液腋下方三寸，輒筋期下五分判，期門卻是肝經穴，相去巨闕四寸半，日月期門下五分，京骨監骨下腰絆，帶脈章門下寸八，五樞章下寸八貫，維道章下五寸三，居　章下八寸三，章門緣是肝經穴，下脘之旁九寸含，環跳髀樞宛宛中，屈上伸下取穴同，風市垂手中指盡，膝上五寸中瀆逢，陽關陽陵上三寸，陽陵膝下一寸從，陽交外踝上七寸，外丘踝上六寸容，踝上五寸光明穴，踝上四寸陽輔通，踝上三寸懸鐘在，丘墟踝前之陷中，此去俠谿四寸五，卻是膽經原穴功，臨泣俠谿後寸半，五會去溪一寸窮，俠谿在趾歧骨內，竅陰四五二趾中。</p>
<h4>病證解</h4>
<p>口苦，膽汁味苦也。善太息，膽氣不舒也，腑病也。心脅痛，不能轉側，脈循脅裡也。面塵，體無膏澤，脈所過處氣鬱為病也。足外反熱，脈循外踝也。頭痛，脈行於頭也。頷痛，脈加頰車也。銳　痛，脈起於目也。</p>
<p>缺盆腫痛，脈入缺盆也。腋腫，脈下腋也。馬刀俠癭。脈循頸項腋脅也。汗出、振寒、瘧，少陽居半表半裡也。</p>
<p>胸脅以下諸節痛，皆脈所經也。小趾次趾不用，脈所絡也。</p>
<h4>本草臟腑虛實標本用藥式</h4>
<p>膽屬木，為少陽相火，發生萬物，為決斷之官，十一臟之主。（主同肝。）</p>
<p>本病（臟腑之病）</p>
<p>口苦，嘔苦汁，善太息，（同經。）　如人將捕狀，（膽氣虛。）目昏，（肝主目。）不眠，（魂藏於肝，少陽與肝為表裡。）</p>
<p>標病（經絡之病）</p>
<p>寒熱往來，　瘧，胸脅痛，頭額痛，耳痛鳴聾，瘰　，結核，馬刀，足小趾次趾不用。（俱同經。）</p>
<h4>治法解</h4>
<p>實火瀉之木旺生火，火有餘則為實，故用瀉。</p>
<p>瀉膽：相火有餘則膽實，瀉火所以瀉膽也。</p>
<p>龍膽草（益肝膽而瀉火。）牛膝（瀉膽，除腦中熱。）豬膽（瀉肝膽之火。）生蕤仁（消火散熱，治目赤腫痛。）生酸棗仁（生用酸平，療膽熱。）黃連（瀉火益肝膽，豬膽汁炒。）苦茶（瀉熱消痰。）</p>
<p>虛火補之肝腎虧弱，相火易虛，故用補。</p>
<p>溫膽：膽虛則寒，故宜溫補，補氣補血，所以溫之也。</p>
<p>人參（甘溫補氣，正氣旺則心肝靜。）細辛（辛益肝膽。）半夏（補肝潤腎，除濕化痰。）當歸（和血養血。</p>
<p>）炒蕤仁（補肝明目。）炒棗仁（專補肝膽，炒熟療膽虛不眠。）地黃（補陰生血。）</p>
<p>本熱平之不言本寒者，已具溫膽條中，省文也。</p>
<p>除火：瀉膽條中亦多降火之藥，但火兼虛實，前言其實，此兼言其虛。</p>
<p>黃芩（瀉實火，仲景柴胡湯用為少陽裡藥。）黃連（解見前條。）芍藥（瀉肝火，能於土中瀉木。）連翹（除少陽氣分實熱。）甘草（入涼劑則瀉邪火。）</p>
<p>鎮驚：肝藏魂，有熱則魂不安而膽怯，重以止怯，所以鎮之也。</p>
<p>黑鉛（鎮心安神。）水銀（主天行熱疾，安神鎮心。）</p>
<p>標熱和之不言標寒者，少陽半表，所主在筋，邪入於筋，較肌肉更深，則寒變為熱。</p>
<p>和解：和法較解肌更輕。</p>
<p>柴胡（足少陽表藥。）芍藥（瀉肝火，入肝經血分。）黃芩（足少陽裡藥。）半夏（發表開鬱。）甘草（入汗劑則解肌。）</p>
<h3>肝經第十二</h3>
<p>（是經起於大敦穴，終於期門穴。）</p>
<p>肝足厥陰之脈，起於大趾叢毛之際，上循足跗上廉，去內踝一寸，上踝八寸，交出太陰之後，上　內廉，循股陰入毛中，過陰器，抵小腹，挾胃屬肝絡膽，上貫膈，布脅肋，循喉嚨之後，上入頏顙，連目系，上出額，與督脈會於巔。其支者，從目系下頰裡，環唇內。其支者，復從肝別貫膈，上注肺。是動則病腰痛不可以俯仰，丈夫　疝，婦人少腹腫，甚則嗌干，面塵脫色。是主肝所生病者，胸滿嘔逆飧泄，狐疝遺溺閉癃。</p>
<p>為此諸病，盛則瀉之，虛則補之，熱則疾之，寒則留之，陷下則灸之，不盛不虛，以經取之。盛者寸口大一倍於人迎，虛者寸口僅小於人迎也。</p>
<h4>經絡解</h4>
<p>三毛後橫紋為叢毛。目內深處為系。頏顙，咽顙也。</p>
<p>足厥陰脈受足少陽膽之交，起於大趾叢毛之大敦，循足跗上廉，歷行間、太衝抵內踝前一寸之中封，上踝，過三陰交，歷蠡溝、中都，復上一寸交出太陰之後，上　內廉，至膝關、曲泉，循股內之陰包、五裡、陰廉，入陰毛中，左右相交，環繞陰器，抵小腹，上循章門，至期門之所，挾胃屬肝，下絡於膽，又自期門上貫膈，布脅肋，循喉嚨之後，上入頏顙，連目系，上出額，與督脈會於巔。其支者，從目系下行頰裡，交環於唇口之內。其又支者，從期門屬肝處別貫膈，上注肺，下行至中脘之分，以交於手太陰肺經也。</p>
<h4>肝經諸穴歌</h4>
<p>足厥陰，一十三穴終。起大敦於行間，循太衝於中封，蠡溝中都之會，膝陽曲泉之宮。襲陰包於五裡，陰廉乃發；尋羊矢於章門，期門可攻。</p>
<h4>分寸歌</h4>
<p>足大趾端名大敦，行間大趾縫中存，太衝本節後二寸，跟前一寸號中封，蠡溝踝上五寸是，中都踝後七寸中，膝關犢鼻下二寸，曲泉曲膝盡橫紋，陰包膝上方四寸，氣衝三寸下五裡，陰廉衝下有二寸，羊矢衝下一寸許，氣衝卻是胃經穴，鼠鼷之上一寸主，鼠鼷橫骨端盡處，相去中行四寸止，章門下脘旁九寸，肘尖盡處側臥取，期門又在巨闕旁，四寸五分無差矣。</p>
<h4>病證解</h4>
<p>腰痛，肝與腎通，乙癸同源也。　疝，脈繞陰器也。小腹腫，脈抵小腹也。嗌干，脈循喉嚨也。面塵脫色，肝膽同病也。胸滿，脈貫膈也。嘔逆，脈挾胃也。飧泄，風火性急，不及消化也。狐疝，脈過陰器也。</p>
<h4>本草臟腑虛實標本用藥式</h4>
<p>肝藏血，屬木，膽火寄於中，主血，主目，主筋，主呼，主怒。</p>
<p>本病（臟腑之病）</p>
<p>諸風（肝主風木）眩運，（風火之象。）僵臥強直，驚癇，（諸風火上炎，筋脈受傷之證。）兩脅腫痛，胸肋滿痛，（肝脈貫膈布脅肋，腫痛、滿痛似屬標病，但肝為雷火，諸逆衝上，皆屬於火，則胸脅作痛皆火逆為之也，況經脈伏行之地，在內不在外，故屬之本病之類。）疝痛，（標病中有　疝、小腹腫痛，而此列之本病，以腹中作痛，皆得名之為疝，非必下連睪丸也。）　瘕，（血積為　，氣聚為瘕。）女人經病。（血室屬於肝經。）</p>
<p>標病（經絡之病）</p>
<p>寒熱瘧，（同經。）頭痛吐涎，（脈上額，會於巔。）目赤，（脈上連目系。）面青，（脈行頰裡。）多怒，（怒必外見辭色，故為標病。）耳閉，（少陽脈入耳中，肝之表也。）頰腫，（脈行頰裡。）筋攣，（肝主筋。）卵縮，丈夫　疝，（脈繞陰器。）女人少腹腫痛，陰病。（脈抵小腹。）</p>
<h4>治法解</h4>
<p>有餘瀉之肝實則為有餘，故用瀉，下分五法。</p>
<p>瀉子：心為肝之子，瀉心火所以瀉子也。</p>
<p>甘草（瀉丙火。）</p>
<p>行氣：肝主血，而氣者所以行乎血，氣滯則血凝，行血中之氣，正以行血也。</p>
<p>香附（血中氣藥，調氣開鬱。）川芎（行氣散瘀，血中氣藥。）瞿麥（破血利竅。）牽牛（瀉氣分濕熱，通下焦郁遏。）青皮（入肝膽氣分，破氣散血。）</p>
<p>行血：血凝滯不行則為實，舊血不去則新血不流，破血乃所以行血也。</p>
<p>紅花（入肝經，破瘀活血。）鱉甲（色青入肝，治血瘕經阻。）桃仁（厥陰血分藥，泄血滯，生新血。）</p>
<p>莪朮（入肝經血分，破血消積。）三棱（入肝經血分，破血消積。）穿山甲（專能行散，入厥陰通經。）大黃（大瀉血分實熱，下積通經。）水蛭（逐惡血、瘀血，破血　、積聚。）虻蟲（破血積堅痞　瘕。）蘇木（入三陰血分，破瘀血。）丹皮（破積血，通經脈。）</p>
<p>鎮驚：邪入肝經，則魂不安而善驚。逐風熱、墜痰涎，皆所以鎮之也。</p>
<p>雄黃，（得正陽之氣，入肝經氣分，瀉肝風。）金箔（金制木，重鎮怯，治肝膽風熱之病。）鐵落（平肝去怯，治善怒發狂。）珍珠（瀉熱定驚，鎮心安神。）代赭石（鎮虛逆，治血熱。）夜明砂（瀉熱散結。）胡粉（墜痰消脹。）銀箔（鎮心明目，主風熱癲癇。）鉛丹（墜痰去怯。）龍骨（收斂浮越之正氣，安神鎮驚。）石決明（除肝經風熱。）</p>
<p>搜風：肝主風木，故諸風屬肝，搜風之法，於肝經獨詳。</p>
<p>羌活（搜肝風。）荊芥（入肝經，散風熱。）薄荷（搜肝風，散風熱。）槐子（入肝經氣分，疏導風熱。）</p>
<p>蔓荊子（散上部風邪。）白花蛇（透骨搜風。）獨活（搜肝去風。）皂莢（搜風泄熱。）烏頭（大燥去風。）</p>
<p>防風（搜肝去風。）白附子（去頭面游風。）僵蠶（治風化痰。）蟬蛻（除風熱，治皮膚。）</p>
<p>不足補之肝虛則為不足，故用補，下分三法。</p>
<p>補母：腎為肝之母，故云肝無補法，補腎即所以補肝也。</p>
<p>枸杞（清肝滋腎，益氣生精。）杜仲（甘溫補腎。）狗脊（平補肝腎。）熟地黃（滋腎水，補真陰。）苦參（燥濕勝熱，補陰益精。）萆　（固下焦，補肝虛。）阿膠（養肝滋腎，和血補陰。）菟絲子（強陰益精，平補三陰。）</p>
<p>補血：血宜流通而惡壅滯，補血之中，兼以活血，乃善用補者也。</p>
<p>當歸（和血補血，為血中氣藥。）牛膝（益肝腎，生用破惡氣。）續斷（補肝腎，宣通血脈）。白芍藥（補血瀉肝。）血竭（散瘀生新，和血聖藥。）沒藥（通滯血，補肝膽。）川芎（補血潤燥，散瘀通經。）</p>
<p>補氣：木性條達，郁遏之則其氣不揚，辛以補之，所以達其氣。</p>
<p>天麻（辛溫入肝經氣分，益氣強陰。）柏子仁（滋肝明目，肝經氣分藥。）蒼朮（升氣散瘀。）菊花（去風熱，明目。）細辛（辛散風熱，補益肝膽。）密蒙花（潤肝明目。）決明（入肝經，除風熱。）穀精草（辛溫去風熱，入厥陰肝經。）生薑（辛溫散寒，宣氣解鬱。）</p>
<p>本熱寒之不言本寒者，不足即為虛寒，溫補之法，已見上條，省文也。</p>
<p>瀉木：木中有火，瀉木亦不外瀉火。但酸以瀉木，咸以瀉火，瀉中有補，與下瀉火攻裡，有虛實之分；與上補母補氣血，又有寒溫之辨。</p>
<p>芍藥（酸瀉肝，大補肝血。）烏梅（酸斂肺，補金以制木。）澤瀉（咸瀉腎火，起陰氣。）</p>
<p>瀉火：苦寒瀉火，亦是瀉其有餘，但不用攻伐，止用寒涼，亦是和解之法。</p>
<p>黃連（瀉肝膽火，豬膽汁炒。）龍膽草（益肝膽而瀉火，除下焦濕熱。）黃芩（瀉少陽相火。）苦茶（瀉熱下氣。）豬膽（瀉肝膽火。）</p>
<p>攻裡：行血亦用大黃，是行血亦攻裡，但攻裡不必行血，故另立攻裡一條，皆所以瀉實火也。</p>
<p>大黃（入肝經血分，下燥結而去瘀熱。）</p>
<p>標熱發之肝主筋，在肌肉之內，邪入肝經，寒變為熱，故不言標病。</p>
<p>和解：肝之表，少陽也，故用少陽和解之法。</p>
<p>柴胡（少陽表藥。）半夏（辛散發表開鬱。）</p>
<p>解肌：邪入筋而用解肌法，解肌而用太陽發表藥，蓋邪已深入，引之從肌肉而達皮毛也。</p>
<p>桂枝（發汗解肌。）麻黃（發汗解肌。）</p>
<h2>附</h2>
<h3>奇經八脈歌</h3>
<p>督脈起自下極　，並於脊裡上風府，過腦額鼻入齦交，為陽脈海都綱要。</p>
<p>任脈起於中極底，上腹循喉承漿裡，陰脈之海妊所謂，衝脈出胞循脊中，從腹會咽絡口唇，女人成經為血室，脈並少陰之腎經，與任督本於陰會，三脈並起而異行。</p>
<p>陽蹺起自足跟裡，循外踝上入風池。</p>
<p>陰蹺內踝循喉嗌，本足陰陽脈別支。</p>
<p>諸陰交起陰維脈，發足少陰築賓　。</p>
<p>諸陽會起陽維脈，太陽之　金門穴。</p>
<p>帶脈周回季脅間，會於維道足少陽，所謂奇經之八脈，維系諸經乃順常。</p>
<h3>穴同名異類</h3>
<p>一穴二名後頂（一名交沖）　強間（一名大羽）</p>
<p>竅陰（一名枕骨）　腦戶（一名合顱）</p>
<p>曲鬢（一名曲發）　腦空（一名顳　）</p>
<p>顱囟（一名顱息）　聽宮（一名多所聞）</p>
<p>脈（一名資脈）　素　（一名面正）</p>
<p>水溝（一名人中）　承漿（一名懸漿）</p>
<p>廉泉（一名舌本）　風府（一名舌本）</p>
<p>上星（一名神堂）　絲竹空（一名目　）</p>
<p>睛明（一名淚孔）　巨　（一名巨　）</p>
<p>肩井（一名膊井）　淵液（一名泉液）</p>
<p>會（一名　）　大椎（一名百勞）</p>
<p>命門（一名屬累）　風門（一名熱府）</p>
<p>巨闕（一名心募）　期門（一名肝募）</p>
<p>腎俞（一名高蓋）　中膂內俞（一名脊內俞）</p>
<p>天窗（一名窗籠）　天鼎（一名天頂）</p>
<p>天突（一名天瞿）　扶突（一名水穴）</p>
<p>天池（一名天會）　人迎（一名五會）</p>
<p>缺盆（一名天蓋）　俞府（一名輸府）</p>
<p>玉堂（一名玉英）　神關（一名氣舍）</p>
<p>四滿（一名髓府）　腹結（一名腸窟）</p>
<p>衝門（一名上慈宮）　氣衝（一名氣街）</p>
<p>橫骨（一名曲骨端）　輒筋（一名曲骨端）</p>
<p>陰都（一名食宮）　陽輔（一名分肉）</p>
<p>水分（一名分水）　水突（一名水門）</p>
<p>會陽（一名利機）　會陰（一名屏翳）</p>
<p>商陽（一名純陽）　太淵（一名太泉）</p>
<p>三間（一名少穀）　二間（一名間穀）</p>
<p>陽谿（一名中魁）　合谷（一名虎口）</p>
<p>少衝（一名經始）　三裡（一名手三裡）</p>
<p>少澤（一名小吉）　少海（一名曲節）</p>
<p>陽池（一名別陽）　天泉（一名天濕）</p>
<p>蠡溝（一名交儀）　支溝（一名飛虎）</p>
<p>中都（一名中　）　中封（一名懸泉）</p>
<p>陰包（一名陰胞）　三陽絡（一名通門）</p>
<p>委中（一名血　）　陰交（一名橫戶）</p>
<p>漏谷（一名太陰絡）　懸鐘（一名絕骨）</p>
<p>血海（一名百蟲窠）　地機（一名脾舍）</p>
<p>下廉（一名下巨虛）　上廉（一名上巨虛）</p>
<p>伏兔（一名外句）　陰市（一名陰鼎）</p>
<p>照海（一名陰蹺）　太谿（一名呂細）</p>
<p>昆侖（一名下昆侖）　金門（一名梁關）</p>
<p>附陽（一名付陽）　飛揚（一名厥陽）</p>
<p>環跳（一名臏骨）　仆參（一名安邪）</p>
<p>涌泉（一名地沖）　申脈（一名陽蹺）</p>
<p>一穴三名絡卻（一名強陽，一名腦蓋。）</p>
<p>禾　（一名長HT　，一名禾　。）</p>
<p>客主人（一名上關，一名客主。）</p>
<p>瞳子　（一名前關，一名太陽）</p>
<p>頰車（一名機關，一名曲牙。）</p>
<p>聽會（一名聽河，一名後關。）</p>
<p>肩　（一名中肩井，一名遍肩。）</p>
<p>脊中（一名神宗，一名脊俞。）</p>
<p>膻中（一名　中，一名元見。）</p>
<p>鳩尾（一名尾翳，一名　KT　。）</p>
<p>上脘（一名上管，一名胃脘。）</p>
<p>中脘（一名太倉，一名胃募。）</p>
<p>氣海（一名脖　，一名下肓。）</p>
<p>氣穴（一名胞門，一名子戶。）</p>
<p>中府（一名府中俞，一名肺募。）</p>
<p>勞宮（一名五裡，一名掌中。）</p>
<p>大赫（一名陰維，一名陰關。）</p>
<p>長強（一名氣　，一名橛骨。）</p>
<p>日月（一名神光，一名膽募。）</p>
<p>承筋（一名　腸，一名直腸。）</p>
<p>溫溜（一名池頭，一名逆注。）</p>
<p>復溜（一名昌腸，一名伏白。）</p>
<p>陽關（一名陽陵，一名關陵。）</p>
<p>陽交（一名別陽，一名足　。）</p>
<p>神門（一名銳中，一名中都。）</p>
<p>然谷（一名然骨，一名龍淵。）</p>
<p>一穴四名啞門（一名喑門，一名舌橫，一名舌厭。）</p>
<p>攢竹（一名始光，一名光明，一名員柱。）</p>
<p>關元（一名丹田，一名大中極，一名小腸募。）</p>
<p>中極（一名玉泉，一名氣原，一名膀胱募。）</p>
<p>天樞（一名長溪，一名穀門，一名大腸募。）</p>
<p>京門（一名氣俞，一名氣府，一名腎募。）</p>
<p>承山（一名魚腹。一名肉柱，一名腸山。）</p>
<p>承扶（一名肉　，一名陰關，一名皮部。）</p>
<p>一穴五名百會（一名三陽，一名五會，一名巔上，一名天滿。）</p>
<p>章門（一名長平，一名季脅，一名脅　，一名脾募。）</p>
<p>一穴六名腰俞（一名背解，一名腰戶。一名髓孔，一名腰柱，一名髓府。）</p>
<p>石門（一名利機，一名丹田，一名精露，一名命門，一名三焦募。）</p>
<h3>名同穴異類</h3>
<p>頭臨泣足臨泣，頭竅陰足竅陰，腹通谷足通谷，背陽關足陽關，手三裡足三裡，手五裡足五裡。</p>
<h2>跋</h2>
<p>爰夫醫書肇自軒歧，方藥傳於盧扁。漢唐以來，禁方多不傳之秘；宋元而後，著書皆補救之文。非精心以燭其源流，則治疾而疾且益甚；得博學以深為考究，斯解經而經乃不亡。如我雙湖世伯大人，以孝旌於朝，事實中載庸行數條，以及樂善好施諸大端，類皆嘖嘖人口。惟《醫學指歸》二卷，尚未梓行。寬乞而抄讀之，恍然知藥按君臣佐使，證詳表裡陰陽，酌古準今，法良意美，洵《靈樞》之功臣也。寬先世亦以太醫院顯名於世，悔無傳人。及世伯自郵遷興，與寬祖宅比鄰，交深三世，因得熏陶其學問，熟悉其生平焉。每憶世伯造詣深邃，稟資靈明。醫由孝生，養老之新書可補；道從心悟，課功之伏案何勤。遇窶人則極力扶持，幾忘囊盡；臨疑證則一經調攝，輒見春回。詎意庚戌年天災流行，因救病而不計安居，遂勞神而致成重疫。葛仙即病臥不起，猶憫貧民；（公臥病所言，皆臨證及素行善事。）文翁雖宴飲如常，早知亡日。（公易簀前三旬，自知不壽。）方書一卷，僅稱身後之遺；探索終身，始著不刊之作。嗚呼！趙孟往而無與為善，倉公歿而誰為生人？手澤猶存，心源可接。所欣克家著望，醫緩永稱繼起之良；益信教孝有書，儒門別無事親之錄。</p>
<p><u>咸豐元年八月下旬世愚侄姚武寬頓首謹識</u></p>
