<header><h1>名醫別錄</h1></header>
<dl class="元資料" data-type="book">
<div><dt>作者</dt><dd>陶弘景</dd></div>
<div><dt>朝代</dt><dd><data value="魏|晉">魏晉</data></dd></div>
<div><dt>年份</dt><dd><data value="220/450">公元220年至公元450年</data></dd></div>
</dl>
<h2>上品‧卷第一</h2>
<h3>玉屑</h3>
<p>味甘，平，無毒。主除胃中熱、喘息、煩滿，止渴，屑如麻豆服之。久服輕身長年。生藍田，采無時。（惡鹿角。）</p>
<h3>玉泉</h3>
<p>無毒。主利血脈，治婦人帶下十二病，除氣癃，明耳目。久服輕身長年。生藍田，采時。（畏款冬花。）</p>
<p>《本經》原文：玉泉，味甘，平，主五臟百病，柔筋強骨，安魂魄，長肌肉，益氣。久服耐寒暑，不飢渴，</p>
<h3>丹砂</h3>
<p>無毒。主通血脈，止煩滿、消渴，益精神，悅澤人面，除中惡、腹痛、毒瓦斯、疥　、諸瘡。久服輕身神仙。作末名真朱，光色如雲母，可析者良。生符陵，采無時。（惡磁石，畏咸水。）</p>
<p>《本經》原文：丹砂，味甘，微寒。主身體五臟百病，養精神，安魂魄，益氣明目，殺精魅邪惡鬼。久服通神明不老。能化為汞，生山谷。</p>
<h3>水銀</h3>
<p>有毒。以敷男子陰，陰消無氣。一名汞，生符陵，出於丹砂。（畏磁石。）</p>
<p>《本經》原文：水銀，味辛，寒。主疥　痂瘍白禿，殺皮膚中虱，墮胎除熱，殺金銀銅錫毒。熔化還復為丹</p>
<h3>空青</h3>
<p>味酸，大寒，無毒。主益肝氣，治目赤痛，去膚翳，止淚出，利水道，下乳汁，通關破堅積。久服令人不忘，志高神仙。生益州及越　山有銅處。銅精熏則生空青，其腹中三月中旬采，亦無時。</p>
<p>《本經》原文：空青，味甘，寒。主青盲耳聾，明目，利久竅，通血脈，養精神。久服輕身延年不老。能化銅鐵鉛錫作金。生山谷。</p>
<h3>曾青</h3>
<p>無毒。主養肝膽，除寒熱，殺白蟲，治頭風、腦中寒，止煩渴，補不足，盛陰氣。生中及越　，采無時。（畏菟絲子。）</p>
<p>《本經》原文：曾青，味酸，小寒。主目痛，止淚出，風痹，利關節，通九竅，破症堅積聚。久服輕身不老</p>
<h3>白青</h3>
<p>味酸、咸，無毒。可消為銅劍，辟五兵。生豫章，采無時。</p>
<p>《本經》原文：白青，味甘，平。主明目，利九竅，耳聾，心下邪氣，令人吐，殺諸毒三蟲。久服通神明輕</p>
<h3>扁青</h3>
<p>無毒。去寒熱、風痹，及丈夫莖中百病，益精。生朱崖、武都、朱提，采無時。</p>
<p>《本經》原文：扁青，味甘，平。主目痛明目，折跌癰腫，金創不瘳，破積聚，解毒瓦斯，利精神。久服輕身</p>
<h3>石膽</h3>
<p>味辛，有毒。散症積，咳逆上氣，及鼠　、惡瘡。一名墨石，一名棋石，一名銅勒羌道、羌裡句青山。二月庚子、辛丑日采。（水英為之使，畏牡桂、菌桂、芫花、辛夷薇。）</p>
<p>《本經》原文：石膽，味酸，寒。主明目目痛，金創諸癇痙，女子陰蝕痛，石淋寒熱，崩中下血，諸邪毒一名畢石。生山谷。</p>
<h3>雲母</h3>
<p>無毒。下氣堅肌，續絕補中，治五勞七傷，虛損少氣，止痢；久服悅澤不老，耐寒暑志高神仙。一名云珠，色多赤。一名云華，五色具。一名云英，色多青。一名云液，色多白。一名云沙，色青黃。一名磷石，色正白。生太山、齊廬山，及琅琊北定山石間，二月采。</p>
<p>（澤瀉為之使，畏鱔甲，反流水，惡徐長卿。）</p>
<p>《本經》原文：雲母，味甘，平。主身皮死肌，中風寒熱，如在車船上，除邪氣，安五臟，益子精，明目。</p>
<p>一名磷石。生山谷</p>
<h3>朴硝</h3>
<p>味辛，大寒，無毒。主治胃中食飲熱結，破留血、閉絕，停痰痞滿，推陳致新。煉之如銀，能寒、能熱、能滑、能澀，能辛、能苦、能咸、能酸。入地千歲不變，色青白者佳，黃者傷人，赤者殺人。一名硝石朴。生益州有咸水之陽，采無時。（畏麥句薑。）</p>
<p>《本經》原文：朴硝，味苦，寒。主百病，除寒熱邪氣，逐六腑積聚，結固留。癖能化七十二種石。煉餌服</p>
<h3>硝石</h3>
<p>味辛，大寒，無毒。主治五臟十二經脈中百二十疾，暴傷寒、腹中大熱，止煩滿消渴利小便及　蝕瘡。天地至神之物，能化成十二種石。生益州，及武都、隴西、西羌，采無時。（螢火為之使，惡苦參、苦菜，畏女菀。）</p>
<p>《本經》原文：硝石，味苦，寒。主五臟積熱，胃脹閉，滌去蓄結飲食，推陳致新，除邪氣。煉之如膏，久</p>
<h3>礬石</h3>
<p>無毒。除固熱在骨髓，去鼻中息肉。歧生河西及隴西、武都、石門，采無時。（</p>
<p>《本經》原文：涅石，舊作礬石，據郭璞注《山海經》引作涅石。味酸，寒。主寒熱，泄利白沃，陰蝕惡創</p>
<h3>芒硝</h3>
<p>味辛、苦，大寒。主治五臟積聚，久熱、胃閉，除邪氣，破留血、腹中淡實結搏，通脈，利大小便及月水，破五淋，推陳致新。生於朴硝。（石葦為之使。畏麥句薑。）</p>
<h3>滑石</h3>
<p>大寒，無毒。通九竅、六腑、津液，去留結，止渴，令人利中。一名液石，一名共石，一名脆石，一名番石。生赭陽、及太山之陰、或掖北白山、或卷山。采無時。（石葦為之使。</p>
<p>惡曾青。）</p>
<p>《本經》原文：滑石，味甘，寒。主身熱泄　，女子乳難癃閉，利小便，蕩胃中積聚寒熱，益精氣。久服輕</p>
<h3>紫石英</h3>
<p>味辛，無毒。主治上氣心腹痛，寒熱、邪氣、結氣，補心氣不足，下焦，止消渴，除胃中久寒，散癰腫，令人悅澤。生太山，采無時。（人參、芍藥共治心中結氣；得天雄、菖蒲共治霍亂。畏扁青、附子，不薑。）</p>
<p>《本經》原文：紫石英，味甘，溫。主心腹咳逆邪氣，補不足，女子風寒在子宮，絕孕十年</p>
<h3>白石英</h3>
<p>味辛，無毒。主治肺痿，下氣，利小便，補五臟，通日月光。久服耐寒熱。生華陰山。大如指，長二、三寸，六面如削，白澈有光。其黃端白棱名黃石英，赤端名赤石端名青石英，黑端名黑石英。二月采，亦無時。</p>
<p>《本經》原文：白石英，味甘，微溫。主消渴，陰痿不足，咳逆胸膈間久寒，益氣，除風濕痹。久服輕身長</p>
<h3>青石脂</h3>
<p>味酸，平，無毒。主養肝膽氣，明目，治黃膽，泄痢，腸　，女子帶下百病，及疽惡瘡。久服補髓，益氣，不飢，延年。生齊區山及海崖，采無時。</p>
<h3>赤石脂</h3>
<p>味甘、酸、辛，大溫，無毒。主養心氣，明目，益精，治腹痛，泄　，下痢赤白，利，及癰疽瘡痔，女子崩中漏下，產難，胞衣不出。久服補髓，好顏色，益智，不飢，延年。生濟南、射陽，及太山之陰，采無時。（惡大黃，畏芫花。）</p>
<h3>黃石脂</h3>
<p>味苦，平，無毒。主養脾氣，安五臟，調中，大人小兒泄痢腸　，下膿血，去白蟲黃膽，癰疽蟲。久服輕身延年。生嵩高山，色如鶯　，采無時。（曾青為之使，惡細辛，畏蜚蠊。</p>
<h3>白石脂</h3>
<p>味甘、酸，平，無毒。主養肺氣，濃腸，補骨髓，治五臟驚悸不足，心下煩，止腹下水，小腸　熱溏，便膿血，女子崩中漏下，赤白沃，排癰疽瘡痔。久服安心，不飢，輕長年。生太山之陰，采無時。（得厚朴並米汁飲，止便膿。燕屎為之使，惡松脂，畏黃苓</p>
<h3>黑石脂</h3>
<p>味鹹，平，無毒。主養腎氣，強陰，治陰蝕瘡，止腸　泄痢，療口瘡、咽痛。久服不飢，延年。一名石涅。一名石墨。出　川陽城，采無時。</p>
<p>《本經》原文：青石、赤石、黃石、白石、黑石脂等，味甘，平。主黃膽，泄利腸癖膿血，陰蝕下血赤白，五石脂各隨五色，</p>
<h3>太一禹餘糧</h3>
<p>無毒。主治肢節不利，大飽絕力身重。生太山，九月采。（杜仲為之使。畏貝鐵落。）</p>
<p>《本經》原文：太一余糧，味甘，平。主咳逆上氣，症瘕血閉漏下，除邪氣。久服耐寒暑不飢，輕身飛行千</p>
<h3>禹餘糧</h3>
<p>平，無毒。主治小腹痛結煩疼。一名白余糧。生東海及山島中，或池</p>
<p>《本經》原文：禹餘糧，味甘，寒。主咳逆寒熱煩滿，下赤白，血閉症瘕，大熱。煉餌服之，不飢輕身</p>
<h3>青玉</h3>
<p>味甘，平，無毒。主治婦人無子，輕身不老，長年。一名</p>
<h3>白玉髓</h3>
<p>味甘，平，無毒。主治婦人無子，不老延年。生藍田玉石之間。</p>
<h3>璧玉</h3>
<p>味甘，無毒。主明目，益氣，使人多精生子。</p>
<h3>合玉石</h3>
<p>味甘，無毒。主益氣，消渴，輕身，辟穀。生常山中丘，如彘肪。</p>
<h3>陵石</h3>
<p>味甘，無毒。主益氣，耐寒，輕身，長年。生華山，其形薄澤。</p>
<h3>碧石青</h3>
<p>味甘，無毒。主明目，益精，去白皮癬，延年。</p>
<h3>五羽石</h3>
<p>主輕身常年。一名金黃。生海水中蓬葭山上倉中，黃如金。</p>
<h3>石流青</h3>
<p>味酸，無毒。主治泄，益肝氣，明目，輕身長年。生武都山石間，青白色。</p>
<h3>石流赤</h3>
<p>味苦，無毒。主治婦人帶下，止血，輕身長年。理如石　，生山石間。</p>
<h3>六芝</h3>
<p>青芝生太山；赤芝　生霍山；黃芝　生嵩山；白芝　生華山黑芝　生恆山；紫芝高夏。六芝皆無毒。六月、八月采。（薯蕷為之使，得發良，得麻子仁、白瓜子、牡桂共人，惡恆山，畏扁青、茵陳蒿。）</p>
<p>《本經》原文：赤芝，味苦，平。主胸中結，益心氣，補中，增智慧，不忘。久食，輕身不老，延年久食，輕身不久食，輕身強志意邪，益脾氣主耳聾，利關節，保神穀。</p>
<h3>赤箭</h3>
<p>主消癰腫，下肢滿疝，下血。生陳倉、雍州、及太山、少室。三月、四月、八月采根曝乾。</p>
<p>《本經》原文：赤箭，味辛，溫。主殺鬼精物，蠱毒惡氣。久服益氣力，長陰肥健，輕身增年。一名離母，</p>
<h3>龍眼</h3>
<p>無毒。除蟲去毒。其大者似檳榔，生南海。</p>
<p>《本經》原文：龍眼，味甘，平。主五臟邪氣，安志厭食。久服強魂聰明，輕身不老，通明神。一名益智。</p>
<h3>豬苓</h3>
<p>味苦，無毒。生衡山及濟陰、宛朐，二月、八月采，陰乾。</p>
<p>《本經》原文：豬苓，味甘，平。主　瘧，解毒蠱疰不祥，利水道。久服輕身耐老。一名</p>
<h3>茯苓</h3>
<p>無毒。止消渴，好唾，大腹淋瀝，膈中痰水，水腫淋結，開胸腑，調臟氣，伐腎邪，陰，益氣力，保神守中。其有根者，名茯神。</p>
<h3>茯神</h3>
<p>味甘，平。主辟不祥，治風眩、風虛、五勞、七傷，口乾，止驚悸，多恚怒，善忘，開心益智，安魂魄，養精神。生太山大松下。二月、八月采，陰乾。（馬間為之使。得甘草、防風、芍藥、紫石英、麥門冬共治五臟。惡白蘞，畏牡蒙、地榆、雄黃、秦艽、龜甲。）</p>
<p>《本經》原文：茯苓，味甘，平。主胸脅逆氣，憂恚驚邪恐悸，心下結痛，寒熱煩滿咳逆，口焦舌乾，利小</p>
<h3>虎魄</h3>
<p>味甘，平，無毒。主安五臟，定魂魄，殺精魅邪鬼，消瘀血，通五淋。生永昌。</p>
<h3>松脂</h3>
<p>味甘，無毒，主治胃中伏熱，咽乾，消渴，及風痹、死肌。煉之令白。其赤者治惡風生太山，六月采。</p>
<h3>松實</h3>
<p>味苦，溫，無毒。主治風痹，寒氣，虛羸、少氣，補不足。九月采，陰乾。</p>
<h3>松葉</h3>
<p>味苦，溫。主治風濕痹瘡氣，生毛髮，安五臟，守中，不飢，延年。</p>
<h3>松節</h3>
<p>溫。主治百節久風、風虛，腳痹、疼痛。</p>
<h3>松</h3>
<p>根白皮，主辟穀，不飢。</p>
<p>《本經》原文：松脂，味苦，溫。主疽惡創，頭瘍白禿，疥瘙風氣，安五臟，除熱。久服輕身不老延年。一</p>
<h3>柏實</h3>
<p>無毒。主治恍惚、虛損，吸吸歷節，腰中重痛，益血，止汗。生太山。柏葉尤良。</p>
<h3>柏葉</h3>
<p>味苦，微溫，無毒。主治吐血，衄血，利血，崩中，赤白，輕身，益氣。令人耐風寒，去濕痹，止飢。四時各依方面采，陰乾。</p>
<h3>柏白皮</h3>
<p>主治火灼，爛瘡，長毛髮。（牡蠣、桂、瓜子為之使，惡菊花、羊蹄、諸石及面曲</p>
<p>《本經》原文：柏實，味甘，平。主驚悸，安五臟，益氣，除濕痹。久服，令人悅澤美色，耳目聰明，不飢</p>
<h3>天門冬</h3>
<p>味甘，大寒，無毒。保定肺氣，去寒熱，養肌膚，益氣力，利小便，冷而能補。久飢。二月、三月、七月、八月采根，曝乾。（垣衣、地黃為之使，畏曾青。）</p>
<p>《本經》原文：天門冬，味苦，平。主諸暴風濕偏痹，強骨髓，殺三蟲，去伏尸。久服，輕身益氣延年。一</p>
<h3>麥門冬</h3>
<p>微寒，無毒。主治身重目黃，心下支滿，虛勞、客熱，口乾、燥渴，止嘔吐，愈痿強陰，益精，消穀調中，保神，定肺氣，安五臟，令人肥健，美顏色，有子。秦名、羊齊名愛韭，楚名烏韭，越名羊蓍，一名禹葭，一名禹餘糧。葉如韭，冬夏長生。生函穀肥土石間久廢處。二月、三月、八月、十月采，陰乾。（地黃、車前為之使，惡款冬瓠，畏苦參、青　。）</p>
<p>《本經》原文：麥門冬，味甘，平。主心腹結氣，傷中傷飽，胃絡脈絕，羸瘦短氣。久服，輕身不老不飢。</p>
<h3>術</h3>
<p>味甘，無毒。主治大風在身面，風眩頭痛，目淚出，消痰水，逐皮間風水結腫，除心下急滿，及霍亂，吐下不止，利腰臍間血，益津液，暖胃，消穀，嗜食。一名山薑，一名山生鄭山、漢中、南鄭。二月、三月、八月、九月采根，曝乾。（防風、地榆為之使。）</p>
<p>《本經》原文：術，味苦，溫。主風寒濕痹，死肌痙疸，止汗，除熱，消食。作煎餌久服，輕身延年不飢。</p>
<h3>葳蕤</h3>
<p>無毒。主治心腹結氣，虛熱，濕毒，腰痛，莖中寒，及目痛　爛淚出。一名熒，一名節，一名玉竹，一名馬薰。生太山及丘陵。立春後采，陰乾。（畏鹵鹹。）</p>
<p>《本經》原文：案本條是名醫附經為說，其經文為：女葳，味甘，平。主中風暴熱，不能動搖，跌筋結肉，諸不足。久服，去面黑　，好顏色潤</p>
<h3>黃精</h3>
<p>味甘，平，無毒。主補中益氣，除風濕，安五臟。久服輕身、延年、不飢。一名重樓一名菟竹，一名雞格，一名救窮，一名鹿竹。生山谷，二月采根，陰乾。</p>
<h3>乾地黃</h3>
<p>味苦，無毒。主治男子五勞、七傷，女子傷中、胞漏、下血，破惡血、溺血，利去胃中宿食，飽力斷絕，補五臟內傷不足，通血脈，益氣力，利耳目。</p>
<h3>生地黃</h3>
<p>大寒。主治婦人崩中血不止，及產後血上薄心、悶絕，傷身、胎動、下血，胎不落，墮墜，　折，瘀血，留血，衄鼻，吐血，皆搗飲之。一名　，一名KT　，一名地脈。生咸陽黃土地者佳。二月、八月采根，陰乾。（得麥門冬、清酒良，惡貝母，畏蕪荑。）</p>
<p>《本經》原文：乾地黃，味甘，寒。主折跌絕筋，傷中，逐血痹，填骨髓，長肌肉。作湯除寒熱積聚，除痹</p>
<h3>菖蒲</h3>
<p>無毒。主治耳聾、癰瘡，溫腸胃，止小便利，四肢濕痹，不得屈伸，小兒溫瘧，身積不解，可作浴湯。久服聰耳明目，益心智，高志不老。生上洛及蜀郡嚴道。一寸九節者良露根不可用。五月、十二月采根，陰乾。（秦皮、秦艽為之使，惡地膽、麻黃去節。）</p>
<p>《本經》原文：菖蒲，味辛，溫。主風寒濕痹，咳逆上氣，開心孔，補五臟，通九竅，明耳目，出聲音。</p>
<h3>遠志</h3>
<p>無毒。主利丈夫，定心氣，止驚悸，益精，去心下隔氣，皮膚中熱、面目黃。久服好色，延年。</p>
<h3>葉</h3>
<p>主益精，補陰氣，止虛損，夢泄。生太山及宛朐。四月采根、葉，陰乾。（得茯苓、冬</p>
<p>《本經》原文：遠志，味苦，溫。主咳逆傷中，補不足，除邪氣，利九竅，益智慧，耳目聰明，不忘，強志山谷。</p>
<h3>澤瀉</h3>
<p>味鹹，無毒。主補虛損、五勞，除五臟痞滿，起陰氣，止泄精、消渴、淋瀝，逐膀焦停水。扁鵲云：「多服病患眼。」一名及瀉。生汝南。五月、六月、八月采根，陰乾海蛤、文蛤。）</p>
<p>味鹹，無毒。主治大風，乳汁不出，產難，強陰氣。久服輕身。五月采。</p>
<h3>實</h3>
<p>味甘，無毒。主治風痹、消渴，益腎氣，強陰，補不足，除邪濕。久服面生光，令人無</p>
<p>《本經》原文：澤瀉，味甘，寒。主風寒濕痹，乳難，消水，養五臟，益氣力，肥健。</p>
<p>久服，耳目聰明，池澤。</p>
<h3>薯蕷</h3>
<p>平，無毒。主治頭面游風、風頭、眼眩，下氣，止腰痛，補虛勞、羸瘦，充五臟，熱，強陰。秦楚名玉延，鄭越名土　。生嵩高。二月、八月采根，曝乾。（紫芝為之使甘遂。）</p>
<p>《本經》原文：薯蕷，味甘，溫。主傷中，補虛羸，除寒熱邪氣，補中益氣力，長肌肉。</p>
<p>久服，耳目聰明，</p>
<h3>菊花</h3>
<p>味甘，無毒。主治腰痛去來陶陶，除胸中煩熱，安腸胃，利五脈，調四肢。一名曰精一名女節，一名女華，一名女莖，一名更生，一名周盈，一名傅延年，一名陰成。生雍州田野。正月采根，三月采葉，五月采莖，九月采花，十一月采實，皆陰乾。（朮、枸杞根桑根白皮為之使。）</p>
<p>《本經》原文：鞠華，味苦，平。主風頭眩腫痛，目欲脫，淚出，皮膚死肌，惡風濕痹。</p>
<p>久服利血氣，輕身</p>
<h3>甘草</h3>
<p>無毒。主溫中，下氣，煩滿，短氣，傷臟，咳嗽，止渴，通經脈，利血氣，解百藥毒為九土之精，安和七十二種石，一千二百種草。一名蜜甘，一名美草，一名蜜草，一名生河西積沙山及上郡。二月、八月除日采根，曝乾。十日成。（朮、乾漆、苦參為之使，遠志，反大戟、芫花、甘遂、海藻。）</p>
<p>《本經》原文：甘草，味甘，平。主五臟六腑寒熱邪氣，堅筋骨，長肌肉，倍力，金創，解毒。久服輕身</p>
<h3>人參</h3>
<p>微溫，無毒。主治腸胃中冷，心腹鼓痛，胸脅逆滿，霍亂吐逆，調中，止消渴通血脈破堅積，令人不忘。一名神草，一名人微，一名土精，一名血參。如人形者有神。生上黨遼東。二月、四月、八月上旬采根，竹刀刮，曝乾，無令見風。（茯苓為之使，惡溲疏，藜蘆。）</p>
<p>《本經》原文：人參，味甘，微寒。主補五臟，安精神，定魂魄，止驚悸，除邪氣，明目，開心益智。久服</p>
<h3>石斛</h3>
<p>無毒。主益精，補內絕不足，平胃氣，長肌肉，逐皮膚邪熱痱氣，腳膝疼冷痹弱。久服定志，除驚。一名禁生，一名杜蘭，一名石　。生六安水傍石上。七月、八月采莖，陰乾。</p>
<p>（陸英為之使，惡凝水石、巴豆，畏僵蠶、雷丸。）</p>
<p>《本經》原文：石斛，味甘，平。主傷中，除痹，下氣，補五臟虛勞羸瘦，強陰。久服濃腸胃，輕身延年。</p>
<h3>石龍芮</h3>
<p>無毒。平腎胃氣，補陰氣不足，失精，莖冷。久服令人皮膚光澤，有子。一名石熊名彭根，一名天豆。生太山石邊。五月五日采子，二月、八月采皮，陰乾。（大戟為之畏蛇蛻皮、吳茱萸。）</p>
<p>又，水堇，主治毒腫癰瘡、蛔蟲、齒齲。（《唐本注》謂石龍芮俗名水堇）</p>
<p>《本經》原文：石龍芮，味苦，平。主風寒濕痹，心腹邪氣，利關節，止煩滿，久服輕身，明目不老。一名</p>
<h3>石龍芻</h3>
<p>微溫，無毒。補內虛不足，治痞滿，身無潤澤，出汗，除莖中熱痛，殺鬼疰惡名龍珠，一名龍華，一名懸莞，一名草毒。九節多味者，良。生梁州濕地。五月、曝乾。</p>
<p>又，石龍　一名方賓，主治蛔蟲及不消食爾。</p>
<p>《本經》原文：石龍芻，味苦，微寒。主心腹邪氣，小便不利，淋閉風濕，鬼注惡毒。</p>
<p>久服，補虛羸，輕身</p>
<h3>絡石</h3>
<p>微寒，無毒。主喉舌不通，大驚入腹，除邪氣，養腎，治腰髖痛，堅筋骨，利關節。</p>
<p>服通神。一名石蹉，一名略石，一名明石，一名領石，一名懸石。生太山，或石山之陰，高山岩石上，或生人間。正月采。（杜仲、牡丹為之使。惡鐵落、貝母、菖蒲。）</p>
<p>又，絡石　一名石龍藤。</p>
<p>《本經》原文：絡石，味苦，溫。主風熱死肌癰傷，口乾舌焦，癰腫不消，喉舌腫，水漿不下。久服，輕身</p>
<h3>千歲汁</h3>
<p>味甘，平，無毒。主補五臟，益氣，續筋骨，長肌肉，去諸痹。久服輕身不飢，通神明。一名　蕪。生太山川穀。</p>
<h3>木香</h3>
<p>溫，無毒。治氣劣，肌中偏寒，主氣不足，消毒，殺鬼、精物、溫瘧、蠱毒，行藥之久服輕身致神仙。一名蜜香。生永昌。</p>
<p>《本經》原文：木香，味辛。主邪氣，辟毒疫溫鬼，強志，主淋露。久服不夢寤魘寐。</p>
<p>生山谷。</p>
<h3>龍膽</h3>
<p>大寒，無毒。主除胃中伏熱，時氣溫熱，熱泄下痢，去腸中小蠱，益肝膽氣，止驚惕生齊朐及宛朐。二月、八月、十一月、十二月采根，陰乾。（貫眾為之使，惡防葵、地黃</p>
<p>《本經》原文：龍膽，味苦，寒。主骨間寒熱，驚癇邪氣，續絕傷，定五臟，殺蠱毒。</p>
<p>久服，益智不忘，輕</p>
<h3>牛膝</h3>
<p>味酸，平，無毒。主傷中少氣，男子陰消，老人失溺，補中續絕，填骨髓，除腦中痛腰脊痛，婦人月水不通，血結，益精，利陰氣，止發白。生河內及臨朐。二月、八月、十月采根，陰乾。（惡螢火、龜甲、陸英，畏白前。）</p>
<p>《本經》原文：牛膝，味苦。主寒濕痿痹，四肢拘攣，膝痛不可屈伸，逐血氣，傷熱火爛，墮胎。久服輕</p>
<h3>卷柏</h3>
<p>味甘，平，微寒，無毒。止咳逆，治脫肛，散淋結，頭中風眩，痿蹶，強陰，益精。</p>
<p>久服令人好容體。一名豹足，一名求股，一名交時。生常山。五月、七月采，陰乾。</p>
<p>《本經》原文：卷柏，味辛，溫。主五臟邪氣，女子陰中寒熱痛，症瘕血閉絕子。久服輕身</p>
<h3>菌桂</h3>
<p>無毒。生交趾、桂林山谷岩崖間。無骨，正圓如竹，立秋采。</p>
<p>《本經》原文：菌桂，味辛，溫。主百病，養精神，和顏色，為諸藥先聘通使。久服輕身不</p>
<h3>牡桂</h3>
<p>無毒。主治心痛，脅風，脅痛，溫筋通脈，止煩，出汗。生南海。</p>
<p>《本經》原文：牡桂，味辛，溫。主上氣咳逆結氣，喉痹吐吸，利關節，補中益氣。久服通神，輕身不老。</p>
<h3>桂</h3>
<p>味甘、辛，大熱，有毒。主溫中，利肝肺氣，心腹寒熱，冷疾，霍亂，轉筋，頭痛，腰痛，出汗，止煩，止唾、咳嗽、鼻　，能墮胎，堅骨節，通血脈，理疏不足，宣導百藥，無所畏。久服神仙，不老。生桂陽。二月、七八月、十月采皮，陰乾。（得人參、麥門冬、甘草、大黃、黃芩調中益氣，得柴胡、紫石英、乾地黃治吐逆。）</p>
<h3>杜仲</h3>
<p>味甘，溫，無毒。主治腳中酸疼痛，不欲踐地。一名思仲，一名木綿。生上虞及上黨漢中。二月、五月、六月、九月采皮，陰乾。（畏蛇蛻皮、玄參。）</p>
<p>《本經》原文：杜仲，味辛，平。主要脊痛，補中，益精氣，堅筋骨，強志，除陰下癢濕，小便余瀝。久服</p>
<h3>乾漆</h3>
<p>有毒。主治咳嗽，消瘀血，痞結，腰痛，女子疝瘕，利小腸，去蛔蟲。生漢中。夏采，干之。（半夏為之使，畏雞子。）</p>
<p>《本經》原文：乾漆，味辛，溫，無毒。主絕傷，補中，續筋骨，填髓腦，安五臟，五緩六急，風寒濕痹。</p>
<h3>細辛</h3>
<p>無毒。主溫中，下氣，破痰，利水道，開胸中，除喉痹，　鼻風癇，癲疾，下乳結，不出，血不行，安五臟，益肝膽，通精氣。生華陰。二月、八月采根，陰乾。（曾青、桑白皮為之使，反藜蘆、惡野狼毒、山茱萸、黃　，畏滑石、硝石。）</p>
<p>《本經》原文：細辛，味辛，溫。主咳逆，頭痛腦動，百節拘攣，風濕痹痛死肌。久服，明目利九竅，輕身</p>
<h3>獨活</h3>
<p>味甘，微溫，無毒。主治諸賊風，百節痛風無久新者。一名胡王使者，一名獨搖草。</p>
<p>草得風不搖，無風自動。生雍州，或隴西南安。二月、八月采根，曝乾。（蠡實為之使。）</p>
<p>《本經》原文：獨活，味苦，平。主風寒所擊，金瘡止痛，賁豚癇，　，女子疝瘕。久服輕身耐老。一名羌</p>
<h3>升麻</h3>
<p>味苦，微寒，無毒。主解毒入口皆吐出，中惡腹痛，時氣毒癘，頭痛寒熱，風腫諸毒喉痛口瘡。久服輕身長年。生益州。二月、八月采根，晒乾。</p>
<p>《本經》原文：升麻，味甘、平。主解百毒，殺百精老物殃鬼，辟溫疾瘴邪毒蠱。久服不夭。一名周升麻。</p>
<h3>柴胡</h3>
<p>微寒，無毒。主除傷寒，心下煩熱，諸痰熱結實，胸中邪逆，五臟間游氣，大腸停積脹，及濕痹拘攣，亦可作浴湯。一名山菜，一名茹草。葉，一名芸蒿，辛香可食。生洪農及宛朐。二月、八月采根，曝乾。（得茯苓、桔梗、大黃、石膏、麻子仁、甘草、桂，以水一斗煮，取四升，入硝石三方寸匕，治傷寒寒熱、頭痛、心下煩滿。半夏為之使，惡皂莢，畏女菀、藜蘆。）</p>
<p>《本經》原文：柴胡，味苦，平。主心腹去腸胃中結氣，飲食積聚，寒熱邪氣，推陳致新。久服，輕身明目</p>
<h3>防葵</h3>
<p>味甘、苦，無毒。主治五臟虛氣，小腹支滿，臚脹口乾，除腎邪，強志。中火者不可令人恍惚見鬼。一名房慈，一名爵離，一名農果，一名利茹，一名方蓋。生臨淄，及嵩山少室。三月三日采根，曝乾。</p>
<p>《本經》原文：防葵，味辛，寒。主疝瘕腸泄，膀胱熱結，溺不下，咳逆溫瘧，癲癇驚邪狂走。久服堅骨髓</p>
<h3>蓍實</h3>
<p>味酸，無毒。生少室。八月、九月采實，晒乾。</p>
<p>《本經》原文：蓍實，味苦，平。主益氣，充肌膚，明目，聰慧先知。久服，不飢不老輕身</p>
<h3>楮實</h3>
<p>味甘，寒，無毒。主治陰痿水腫，益氣，充肌膚，明目。久服不飢，不老，輕身。生室山。一名　實，所在有之。八月、九月采實，晒乾，四十日成。葉，味甘，無毒。主治兒身熱，食不生肌，可作浴湯；又治惡瘡，生肉。樹皮，主逐水，利小便。莖主隱疹癢，煮洗浴。其皮間白汁療癬。</p>
<h3>酸棗</h3>
<p>無毒。主治煩心不得眠，臍上下痛，血轉，久泄，虛汗，煩渴，補中，益肝氣，堅筋骨，助陰氣，令人肥健。生河東。八月采實，陰乾，卅日成。（惡防己。）</p>
<p>《本經》原文：酸棗，味酸，平。主心腹寒熱，邪結氣聚，四肢酸疼濕痹。久服，安五臟，輕身延年。生川</p>
<h3>槐實</h3>
<p>味酸、咸，無毒。以七月七日取之，搗取汁，銅器盛之，日煎，令可作丸，大如鼠矢內竅中，三易乃愈。又墮胎。久服明目、益氣、頭不白延年。枝，主洗瘡及陰囊下濕癢。</p>
<p>主爛瘡。根，主喉痹寒熱。生河南。可作神燭。（景天為之使。）</p>
<p>又，八月斷槐大枝，使生嫩孽，煮汁釀酒，治大風痿痹甚效。</p>
<p>《本經》原文：槐實，味苦，寒。主五內邪氣熱，止涎唾，補絕傷，五痔火創，婦人乳瘕，</p>
<h3>枸杞</h3>
<p>根大寒，子微寒，無毒。主治風濕，下胸脅氣，客熱頭痛，補內傷，大勞、噓吸，堅骨，強陰，利大小腸。久服耐寒暑。一名羊乳，一名卻暑，一名仙人杖，一名西王母杖。</p>
<p>常山及諸丘陵阪岸上。冬采根，春夏采葉，秋采莖實。陰乾。</p>
<p>《本經》原文：枸杞，味苦，寒。主五內邪氣，熱中消渴，周痹。久服，堅筋骨，輕身不老</p>
<h3>蘇合香</h3>
<p>味甘，溫，無毒。主辟惡，殺鬼精物，溫瘧，蠱毒，癇　，去三蟲，除邪，不夢，，通神明。久服輕身長年。生中台川穀。</p>
<h3>子</h3>
<p>微溫，無毒。主治心下堅，膈中寒熱，周痹，婦人月水不通，消食，明目。　食仙。生雍州，亦生上黨及道邊。十月采實，陰乾。（薏苡為之使。）</p>
<p>《本經》原文：　子，味苦，微寒。主五臟瘀血，腹中水氣，臚脹留熱，風寒濕痹，身體諸痛。久服，輕</p>
<h3>薏苡仁</h3>
<p>無毒。主除筋骨邪氣不仁，利腸胃，消水腫，令人能食。一名屋　，一名起實，生真定。八月采實，采根無時。</p>
<p>《本經》原文：薏苡仁，味甘，微寒。主筋急拘攣，不可屈伸，風濕痹，下氣。久服，輕身益氣。其根，下</p>
<h3>車前子</h3>
<p>味鹹，無毒。主男子傷中，女子淋瀝，不欲食，養肺，強陰，益精，令人有子，明治赤痛。</p>
<p>下氣，日</p>
<p>《本經》原文：車前子，味甘，寒。主氣癃，止痛，利水道小便，除濕痹。久服輕身耐老。一名當道。生平</p>
<h3>蛇床子</h3>
<p>味辛、甘，無毒。主溫中下氣，令婦人子藏熱，男子陰強。久服好顏色，令人有子名虺床，一名思益，一名繩毒，一名棗棘，一名牆蘼。生臨淄。五月采實，陰乾。（惡巴豆、貝母。）</p>
<p>《本經》原文：蛇床子，味苦，平。主婦人陰中腫痛，男子陰痿濕癢，除痹氣，利關節，癲癇惡瘡。久服輕</p>
<h3>菟絲子</h3>
<p>味甘，無毒。主養肌，強陰，堅筋骨，主治莖中寒，精自出，溺有餘瀝，口苦，燥寒血為積。一名菟縷，一名　蒙，一名玉女，一名赤網，一名菟累。生朝鮮田野，蔓延之上。色黃而細為赤網，色淺而大為菟累。九月采實，曝乾。（宜丸不宜煮，得酒良，松脂為之使，惡　菌。）</p>
<p>《本經》原文：菟絲子，味辛，平。主續絕傷，補不足，益氣力，肥健。汁，去面　。</p>
<p>久服，明目輕身延年</p>
<h3>菥子</h3>
<p>無毒。主治心腹腰痛。一名大薺。生咸陽。四月、五月采，曝乾。（得荊實、細惡乾薑、苦參。）</p>
<p>《本經》原文：析　子，味辛，微溫。主明目，目痛淚出，除痹，補五臟，益精光。久服輕身不老。一名</p>
<h3>茺蔚子</h3>
<p>味甘，微寒，無毒，主治血逆大熱，頭痛，心煩。一名貞蔚。生海濱。五月采。</p>
<p>《本經》原文：充蔚子，味辛，微溫。主明目，益精，除水氣。久服輕身。莖，主癮疹癢，</p>
<h3>地膚子</h3>
<p>無毒。主去皮膚中熱氣，散惡瘡疝瘕，強陰。久服使人潤澤。一名地麥。生荊州及田八月、十月采實，陰乾。</p>
<p>又，地膚子，搗絞取汁，主赤白痢；洗目去熱暗，雀盲、澀痛。苗灰，主痢亦善。</p>
<h3>青</h3>
<p>無毒。生中原川穀。</p>
<p>《本經》原文：青　，味甘，寒。主五臟邪氣，風寒濕痹，益氣，補腦髓，堅筋骨。久服，</p>
<h3>忍冬</h3>
<p>味甘，溫，無毒。主治寒熱、身腫，久服輕身，長年，益壽。十二月采，陰乾。</p>
<h3>蒺藜子</h3>
<p>味辛，微寒，無毒。主治身體風癢，頭痛，咳逆，傷肺，肺痿，止煩，下氣，小癰腫，陰　，可作摩粉。其葉，主風癢，可煮以浴。一名即藜，一名茨。生馮翊或道月、八月采實，曝乾。（烏頭為之使。）</p>
<p>《本經》原文：蒺藜子，味苦，溫。主惡血，破症結積聚，喉痹乳難。久服，長肌肉，明目輕身。一名旁通</p>
<h3>肉蓯蓉</h3>
<p>味酸、咸，無毒。除膀胱邪氣、腰痛，止痢。生河西及代郡雁門。五月五日采，陰</p>
<p>《本經》原文：肉蓯蓉，味甘，微溫。主五勞七傷，補中，除莖中寒熱痛，養五臟，強陰，益精氣多子，婦</p>
<h3>白英</h3>
<p>無毒。一名白草。生益州。春采葉，夏采莖，秋采花，冬采根。</p>
<p>《本經》原文：白英，味甘，寒。主寒熱八疸消渴，補中益氣。久服輕身延年。一名穀菜。</p>
<h3>白蒿</h3>
<p>無毒。生中山，二月采。</p>
<p>《本經》原文：白蒿，味甘，平。主五臟邪氣，風寒濕痹，補中益氣，長毛髮令黑，療心縣</p>
<h3>茵陳蒿</h3>
<p>微寒，無毒。主治通身發黃，小便不利，除頭熱，去伏瘕。久服面白悅，長年。白之，仙。生太山及丘陵　岸上。五月及立秋采，陰乾。</p>
<p>《本經》原文：茵陳，味苦，平。主風濕寒熱邪氣，熱結黃膽。久服，輕身益氣耐老。</p>
<p>生邱</p>
<h3>漏蘆</h3>
<p>味鹹，大寒，無毒。主止遺溺，熱氣瘡癢如麻豆，可作浴湯。生喬山。八月采根，陰</p>
<p>《本經》原文：漏蘆，味苦，寒。主皮膚熱，惡創疽痔，濕痹，下乳汁。久服，輕身益氣，</p>
<h3>茜根</h3>
<p>無毒。主止血內崩，下血，膀胱不足，　跌，盅毒。久服益精氣，輕身。可以染絳名地血，一名茹　，一名茅搜，一名茜。生喬山。二月、三月采根，曝乾。（畏鼠姑</p>
<p>《本經》原文：茜根，味苦，寒。主寒濕風痹，黃膽，補中。生川穀。</p>
<h3>旋花</h3>
<p>無毒。一名美草。生豫州。五月采，陰乾。</p>
<p>又，</p>
<h3>根</h3>
<p>主續筋也。</p>
<p>《本經》原文：旋華，味甘，溫。主益氣，去面　黑色，媚好，其根，味辛。主腹中寒熱邪</p>
<h3>藍實</h3>
<p>無毒。其葉汁，殺百藥毒，解野狼毒、射罔毒。其莖葉，可以染青。生河內。</p>
<p>《本經》原文：藍實，味苦，寒。主解諸毒，殺蠱　注鬼螫毒。久服，頭不白輕身。生平澤</p>
<h3>景天</h3>
<p>味酸，無毒。主治諸蟲毒，痂　，寒熱，風痹，諸不足。久服通神不老。一名火母，一名救火，一名據火。生太山。四月四日、七月七日采，陰乾。</p>
<p>《本經》原文：景天，味苦，平。主大熱火瘡，身熱煩邪惡氣。華，主女人漏下赤白，輕身</p>
<h3>天名精</h3>
<p>無毒。主逐水，大吐下。一名天門精，一名玉門精。一名彘顱，一名蟾蜍蘭，一生平原。五月采。（垣衣為之使。）</p>
<p>又，天名精，一名天蔓菁。</p>
<p>《本經》原文：天名精，味甘，寒。主瘀血血瘕欲死，下血止血，利小便，除小蟲，去痹，</p>
<h3>王不留行</h3>
<p>味甘，平，無毒。止心煩，鼻衄，癰疽，惡瘡，　乳，婦人難產。生太山。二月采。</p>
<p>《本經》原文：王不留行，味苦，平。主金創，止血，逐痛出刺，除風痹內寒，久服，輕身</p>
<h3>蒲黃</h3>
<p>無毒。生河東。四月采。</p>
<p>《本經》原文：蒲黃，味甘，平。主心腹膀胱寒熱，利小便，止血，消瘀血。久服，輕身益</p>
<h3>香蒲</h3>
<p>無毒。一名醮。生南海。</p>
<p>《本經》原文：香蒲，味甘，平。主五臟心下邪氣，口中爛臭，堅齒明目聰耳。久服輕身耐</p>
<h3>蘭草</h3>
<p>無毒。除胸中痰癖。生大吳。四月、五月采。</p>
<p>《本經》原文：蘭草，味辛，平。主利水道，殺蠱毒，辟不祥。久服，益氣輕身不老，通神</p>
<h3>蘼蕪</h3>
<p>無毒。主治身中老風，頭中久風，風眩。一名江蘺，芎　苗也。生雍州及宛朐。四月五月采葉，曝乾。</p>
<p>《本經》原文：蘼蕪，味辛，溫。主咳逆，定驚氣，辟邪惡，除蠱毒鬼注，去三蟲。久服通</p>
<h3>雲實</h3>
<p>味苦，無毒。主治消渴。花，殺精物，下水，燒之致鬼。久服益壽。一名員實，一名英，一名天豆。生河間。十月采，曝乾。</p>
<p>《本經》原文：雲實，味辛，溫。主泄利腸　，殺蟲盅毒，去邪惡結氣，止痛，除寒熱。</p>
<p>華</p>
<h3>徐長卿</h3>
<p>無毒。久服益氣延年。生太山及隴西，三月采。</p>
<p>《本經》原文：徐長卿，味辛，溫。主鬼物百精蠱毒，疫疾邪惡氣，溫瘧。久服強悍輕身。</p>
<h3>姑活</h3>
<p>無毒。生河東。</p>
<p>又，姑活，一名雞精也。</p>
<p>《本經》原文：姑活，味甘，溫。主大風邪氣，濕痹寒痛。久服輕身，益壽耐老。一名冬葵</p>
<h3>屈草</h3>
<p>微寒，無毒。生漢中。五月采。</p>
<p>《本經》原文：屈草，味苦。主胸脅下痛邪氣，腸間寒熱陰痹。久服，輕身益氣耐老。</p>
<p>生川</p>
<h3>翹根</h3>
<p>有小毒。以作蒸飲酒病患。生蒿高。二月、八月采。</p>
<p>《本經》原文：　根，味甘，寒、平。主下熱氣，益陰精，令人面悅好，明目。久服輕身耐</p>
<h3>牡荊實</h3>
<p>味苦，溫，無毒。主除骨間寒熱，通利胃氣，止咳逆，下氣。生河間南陽宛朐山谷平壽、都鄉高堤岸上，牡荊生田野。八月、九月采實，陰乾。（得朮、柏實、青葙共治防風為之使，惡石膏。）</p>
<p>又，</p>
<h3>荊葉</h3>
<p>味苦，平，無毒。主久痢，霍亂、轉筋，血淋，下部瘡，濕　薄腳，主香港腳腫滿。其根，味甘、苦，平，無毒。水煮服，主心風、頭風，肢體諸風，解肌發汗。</p>
<h3>秦椒</h3>
<p>生溫，熟寒，有毒。主治喉痹，吐逆，疝瘕，去老血，產後余疾，腹痛，出汗，利五生太山及秦嶺上，或　。八月、九月采實。（惡栝蔞、防葵，畏雌黃。）</p>
<p>《本經》原文：秦椒，味辛，溫。主風邪氣，溫中，除寒痹，堅齒發，明目。久服，輕身好</p>
<h3>蔓荊實</h3>
<p>味辛，平，溫，無毒。去長蟲。治風頭痛，腦鳴，目淚出，益氣。久服令人光澤，長須發。生益州。（惡烏頭、石膏。）</p>
<p>《本經》原文：蔓荊實，味苦，微寒。主筋骨間寒熱痹拘攣，明目，堅齒，利九竅，去白蟲</p>
<h3>女貞實</h3>
<p>味甘，無毒。生武陵，立冬采。</p>
<p>《本經》原文：女貞實，味苦，平。主補中，安五臟，養精神，除百疾。久服肥健，輕身</p>
<h3>桑上寄生</h3>
<p>味甘，無毒。主治金創，去痹，女子崩中，內傷不足，產後余疾農桑樹上。三月三日采莖、葉，陰乾。</p>
<p>《本經》原文：桑上寄生，味苦，平。主腰痛，小兒背強，癰腫，安胎，充肌膚，堅發齒，長須眉。其實，</p>
<h3>蕤核</h3>
<p>微寒，無毒。主治目腫　爛，　鼻，破心下結痰痞氣。生函穀及巴西。七月采實。</p>
<p>《本經》原文：蕤核，味甘，溫。主心腹邪結氣，明目，目赤痛傷淚出。久服，輕身益氣不</p>
<h3>沉香</h3>
<p>薰陸香、雞舌香、藿香、詹糖香、楓香並微溫。悉治風水毒腫，去惡氣。薰陸、詹糖伏尸。雞舌藿香治霍亂、心痛。楓香治風癮疹癢毒。</p>
<h3>辛夷</h3>
<p>無毒。溫中，解肌，利九竅，通鼻塞，涕出，治面腫引齒痛，眩冒，身洋洋如在車船上者。生須發，去白蟲。可作膏藥，用之去中心及外毛，毛射人肺，令人咳。生漢中。九采實，曝乾。（芎　為之使，惡五石脂，畏菖蒲、黃連、石膏、黃環。）</p>
<p>《本經》原文：辛夷，味辛，溫。主五臟身體寒熱，風頭腦痛面　。久服下氣，輕身明目</p>
<h3>榆皮</h3>
<p>無毒。主治腸胃邪熱氣，消腫。性滑利。治小兒頭瘡痂　。花，主治小兒癇，小便不傷熱。生　川。二月采皮，取白曝乾。八月采實，並勿令中濕，濕則傷人。</p>
<p>《本經》原文：榆皮，味甘，平。主大小便不通，利水道，除邪氣。久服輕身不飢。其實尤</p>
<h3>玉伯</h3>
<p>味酸，溫，無毒。主輕身益氣，止渴。一名玉遂。生石上如松，高五、六寸，紫華，莖葉。</p>
<h3>曼諸石</h3>
<p>味甘。主益五臟氣，輕身長年。一名陰精，六月、七月出石上，青黃色，夜有光。</p>
<h3>石濡</h3>
<p>主明目，益精氣，令人不飢渴，輕身長年。一名石芥。</p>
<h3>柒紫</h3>
<p>味苦。主治少腹痛，利小腸，破積聚，長肌肉。久服輕身長年，生宛朐。二月、七月</p>
<h3>牛舌實</h3>
<p>味鹹，溫，無毒。主輕身益氣。一名彖尸。生水中澤旁。實大，葉長尺。五月采。</p>
<h3>菟棗</h3>
<p>味酸，無毒。主輕身益氣。生丹陽陵地，高尺許，實如棗。</p>
<h3>龍常草</h3>
<p>味鹹，溫，無毒。主輕身，益陰氣，治痹寒濕。生河水旁，如龍芻，冬、夏生。</p>
<h3>離樓草</h3>
<p>味鹹，平，無毒。主益氣力，多子，輕身長年。生常山。七月、八月采實。</p>
<h3>吳唐草</h3>
<p>味甘，平，無毒。主輕身，益氣長年。生故稻草中，夜日有光，草中有膏。</p>
<h3>雀醫草</h3>
<p>味苦，無毒。主輕身，益氣，洗浴爛瘡，治風水。一名白氣。春生，秋花白，冬實</p>
<h3>草</h3>
<p>味酸，平，無毒。主輕身，益氣，長年。生蔓草木上，葉黃有毛，冬生。</p>
<h3>酸草</h3>
<p>主輕身，長年。生名山醴泉上陰居。莖有五葉清澤，根赤黃。可以消玉。一名丑草。</p>
<h3>徐李</h3>
<p>主益氣，輕身，長年。生太山陰，如李小形，實青色，無核，熟采食之。</p>
<h3>桑莖實</h3>
<p>味酸，溫，無毒。主字乳余疾，輕身，益氣。一名草王。葉似荏，方莖大葉。生園十月采。</p>
<h3>滿陰實</h3>
<p>味酸，平，無毒。主益氣，除熱，止渴，利小便，輕身，長年。生深山谷及園中。</p>
<p>芥，葉小，實如櫻桃，七月成。</p>
<h3>可聚實</h3>
<p>味甘，溫，無毒。主輕身，益氣，明目。一名長壽。生山野道中。　如麥，葉如艾月采。</p>
<h3>地耳</h3>
<p>味甘，無毒。主明目，益氣，令人有子。生丘陵，如碧石青。</p>
<h3>土齒</h3>
<p>味甘，平，無毒。主輕身，益氣，長年。生山陵地中，狀如馬牙。</p>
<h3>丁公寄</h3>
<p>味甘，主金瘡痛，延年。一名丁父。生石間，蔓延木上。葉細，大枝，赤莖，母大黃，有汁。七月七日采。</p>
<p>味甘，無毒。主益氣，延年。生山谷中，白順理。十月采。</p>
<h3>龍骨</h3>
<p>微寒，無毒。主治心腹煩滿，四肢痿枯，汗出，夜臥自驚，恚怒，伏氣在心下，不得息，腸癰內疽陰蝕，止汗，小便利，溺血，養精神，定魂魄，安五臟。</p>
<h3>白龍骨</h3>
<p>治夢寐泄精，小便泄精。</p>
<h3>龍齒</h3>
<p>主治小兒五驚，十二癇，身熱不可近人，大人骨間寒熱，又殺蠱毒。角，主治驚癇螈　，身熱如火，腹中堅及熱泄。生晉地及太山岩水岸土穴石中死龍處，采無時。（龍骨，得人參、牛黃良，畏石膏;龍角，畏乾漆、蜀椒、理石。）</p>
<p>《本經》原文：龍骨，味甘，平。主心腹鬼注，精物老魅，咳逆，泄利膿血，女子漏下，症殺精物。久服輕</p>
<h3>牛黃</h3>
<p>有小毒。主治小兒百病，諸癇，熱口不開，大人狂癲。又墮胎，久服輕身，增年，令人不忘。生晉地平澤，生於牛，得之即陰乾百日，使時燥，無令見日月光。（人參為之使，得牡丹、菖蒲利耳目，惡龍骨、地黃、龍膽、蜚蠊，畏牛漆。）</p>
<p>《本經》原文：牛黃，味苦，平。主驚癇寒熱，熱盛狂　，除邪，逐鬼。生平澤。</p>
<h3>麝香</h3>
<p>無毒。主治諸凶邪鬼氣，中惡，心腹暴痛脹急，痞滿，風毒，婦人產難，墮胎，去面目中膚翳。久服通神仙。生中台，及益州，雍州山中。春分取之，生者益良。</p>
<p>《本經》原文：麝香，味辛，溫。主辟惡氣，殺鬼精物、溫瘧、蠱毒，癇　，去三蟲。</p>
<p>久服</p>
<h3>人乳汁</h3>
<p>主補五臟，令人肥白悅澤。</p>
<p>又，首生男乳，療目赤痛多淚，解獨肝牛肉毒，合豉濃汁服之神效（見《唐本草》注引</p>
<p>《別</p>
<h3>發</h3>
<p>小寒，無毒。合雞子黃煎之，消為水，治小兒驚熱下痢。</p>
<p>《本經》原文：發　，味苦，溫。主五癃關格不通，利小便水道，療小兒癇，大人　，仍自</p>
<h3>亂髮</h3>
<p>微溫。主治咳嗽，五淋，大小便不通，小兒驚癇，止血鼻衄，燒之吹內立己。</p>
<h3>頭垢</h3>
<p>主治淋閉不通。</p>
<h3>人屎</h3>
<p>寒。主治時行大熱狂走，解諸毒，宜用絕干者，搗末，沸湯沃服之。</p>
<h3>人溺</h3>
<p>治寒熱，頭疼，溫氣，童男者尤良。</p>
<h3>溺白</h3>
<p>治鼻衄，湯火灼瘡。東向圊廁溺坑中青泥，治喉痹，消癰腫，若已有膿即潰。</p>
<h3>馬乳</h3>
<p>止渴。</p>
<h3>牛乳</h3>
<p>微寒。補虛羸，止渴，下氣。</p>
<h3>羊乳</h3>
<p>溫。補寒冷虛乏。</p>
<h3>酥</h3>
<p>微寒。補五臟，利大腸，主口瘡。</p>
<h3>熊脂</h3>
<p>微溫，無毒。主治食飲嘔吐。久服長年。生雍州，十一月取。</p>
<p>《本經》原文：熊脂，味甘，微寒。主風痹不仁筋急，五臟腹中積聚，寒熱羸瘦，頭瘍白禿</p>
<h3>石蜜</h3>
<p>微溫，無毒。主養脾氣，除心煩，食飲不下，止腸　，肌中疼痛，口瘡，明耳目。久延年神仙。生武都、河源山谷，及諸山石中，色白如膏者良。</p>
<p>《本經》原文：石蜜，味甘，平。主心腹邪氣，諸驚癇　，安五臟諸不足，益氣補中，止痛</p>
<h3>蜜蠟</h3>
<p>無毒。</p>
<h3>白蠟</h3>
<p>治久泄　後重見白膿，補絕傷，利小兒。久服輕身，不飢。生武都，生於蜜房木石間（惡芫花、齊蛤。）</p>
<p>《本經》原文：蜜蠟，味甘，微溫。主下利膿血，補中，續絕傷金創，益氣，不飢耐老。</p>
<p>生</p>
<h3>蜂子</h3>
<p>微寒，無毒。主治心腹痛，大人小兒腹中五蟲口吐出者，面目黃。久服輕身益氣。大黃蜂子，主治乾嘔，土蜂子，治嗌痛。生武都。（畏黃芩、芍藥、牡蠣。）</p>
<p>《本經》原文：蜂子，味甘，平。主風頭，除蠱毒，補虛羸傷中。久服，令人光澤，好顏色</p>
<h3>白膠</h3>
<p>溫，無毒。主治吐血，下血，崩中不止，四肢酸疼，多汗，淋露，折跌傷損。生云中，煮鹿角作之。（得火良，畏大黃。）</p>
<p>《本經》原文：白膠，味甘，平。主傷中勞絕，腰痛羸瘦，補中益氣，婦人血閉無子，止痛</p>
<h3>阿膠</h3>
<p>微溫，無毒。主丈夫少腹痛，虛勞羸瘦，陰氣不足，腳酸不能久立，養肝氣。生東平郡，煮牛皮作之。出東阿。（惡大黃，得火良。）</p>
<p>《本經》原文：阿膠，味甘，平。主心腹內崩，勞極洒洒如瘧狀，腰腹痛，四肢酸疼，女子</p>
<h3>白鵝膏</h3>
<p>主治耳卒聾，以灌之。毛，治射工，水毒。肉，平，利五臟。</p>
<h3>雁肪</h3>
<p>無毒。久服長毛　發須眉。生江南。取無時。</p>
<p>又，雁喉下白毛，療小兒癇。</p>
<p>《本經》原文：雁肪，味甘，平。主風攣拘急偏枯，氣不通利。久服，益氣不飢，輕身耐老</p>
<h3>丹雄雞</h3>
<p>微寒，無毒。主不傷之瘡。</p>
<h3>白雄雞肉</h3>
<p>味酸，微溫。主下氣，治狂邪，安五臟，傷中，消渴。</p>
<h3>烏雄雞肉</h3>
<p>微溫。主補中，止痛。</p>
<h3>膽</h3>
<p>微寒。主治目不明，肌瘡。</p>
<h3>心</h3>
<p>主治五邪。</p>
<h3>血</h3>
<p>主治　折，骨痛及痿痹。</p>
<h3>雞腸</h3>
<p>平，主治小便數不禁。</p>
<h3>肝及左翅毛</h3>
<p>主起陰。</p>
<h3>冠血</h3>
<p>主乳難。</p>
<h3>裡黃皮</h3>
<p>微寒。主小便利，遺溺，除熱，止煩。</p>
<h3>矢白</h3>
<p>微寒。破石淋及轉筋，利小便，止遺溺，滅瘢痕。</p>
<h3>黑雌雞</h3>
<p>主治風寒濕痹，五緩六急，安胎。其血，無毒，平。治中惡腹痛，及痿折骨痛，乳</p>
<h3>黃雌雞</h3>
<p>味酸甘，平。主治傷中，消渴，小便數不禁，腸　泄利，補益五臟，續絕傷，治虛益氣力。</p>
<h3>肋骨</h3>
<p>主治小兒羸瘦，食不生肌。</p>
<h3>卵白</h3>
<p>微寒。治目熱赤痛，除心下伏熱，止煩滿，咳逆，小兒下泄，婦人產難，胞衣不出。</p>
<p>醯漬之一宿，治黃膽，破大煩熱。</p>
<h3>卵中白皮</h3>
<p>主治久咳結氣，得麻黃、紫菀和服之立已。生朝鮮。</p>
<p>《本經》原文：丹雄雞，味甘，微溫。主女人崩中、漏下、赤白沃，補虛，溫中，止血，通主泄利。屎白，物。雞白蠹肥脂</p>
<h3>肪</h3>
<p>味甘，無毒。主治風虛，寒熱。白鴨屎，名鴨通。主殺石藥毒，解結縛蓄熱。肉，補除熱，和臟腑，利水道。</p>
<p>又，鴨肪，主水腫。血，主解諸毒。肉，主小兒驚癇，頭，主治水腫，通利小便。</p>
<h3>牡蠣</h3>
<p>微寒，無毒。主除留熱在關節榮衛，虛熱去來不定，煩滿，止汗，心痛氣結，止渴，老血，澀大小腸，止大小便，治泄精，喉痹、咳嗽、心脅下痞熱。一名牡蛤。生東海，采時。（貝母為之使，得甘草、牛膝、遠志、蛇床良。惡麻黃、吳茱萸、辛夷。）</p>
<p>《本經》原文：牡蠣，味鹹，平。主傷寒寒熱，溫瘧洒洒，驚恚怒氣，除拘緩鼠　，女子帶</p>
<h3>魁蛤</h3>
<p>味甘，平，無毒。主治痿痹，泄痢，便膿血。一名魁陸，一名活東。生東海，正圓兩空，表有文，取無時。</p>
<h3>石決明</h3>
<p>味鹹，平，無毒。主治目障翳痛，青盲。久服益精，輕身。生南海。</p>
<h3>秦龜</h3>
<p>味苦，無毒。除濕痹氣，身重，四肢關節不可動搖。生山之陰土中。二月、八月取。</p>
<h3>鮑魚</h3>
<p>味辛，臭，溫，無毒。主墜墮、　蹶，　折，瘀血，血痹在四肢不散者，女子崩中止。勿令中咸。</p>
<h3>魚</h3>
<p>味甘，無毒。主治百病。</p>
<h3>鱔魚</h3>
<p>味甘，大溫，無毒。主補中，益血，治瀋唇。五月五日取頭骨燒之，止痢。</p>
<p>又，干鱔頭，主消渴，食不消，去冷氣，除痞疹。</p>
<h3>地防</h3>
<p>令人不飢不渴。生黃陵，如濡，居土中。</p>
<h3>豆蔻</h3>
<p>味辛，溫，無毒。主溫中，心腹痛，嘔吐，去口臭氣。生南海。</p>
<h3>葡萄</h3>
<p>無毒。逐水，利小便。生隴西五原敦煌。</p>
<p>《本經》原文：葡萄，味甘，平。主筋骨涇痹，益氣倍力，強志，令人肥健，耐飢，忍風寒</p>
<h3>蓬</h3>
<p>味鹹，無毒。主治暴中風，身熱大驚。一名陵　，一名陰　。生荊山及宛朐。</p>
<p>《本經》原文：蓬　，味酸，平。主安五臟，益精氣，長陰令堅，強志倍力有子。久服輕身</p>
<h3>覆盆子</h3>
<p>味甘，平，無毒。主益氣輕身，令發不白。五月采實。</p>
<h3>大棗</h3>
<p>無毒。補中益氣，強力，除煩悶，治心下懸、腸　。久服不飢神仙。一名干棗，一名美棗，一名良棗。八月采，曝乾。三歲陳核中仁，燔之，味苦，主治腹痛，邪氣。生棗，味甘、辛，多食令人多寒熱，羸瘦者，不可食。生河東。（殺烏頭毒。）</p>
<p>又，</p>
<h3>棗葉</h3>
<p>散服使人瘦，久即嘔吐；揩熱痱瘡至良。</p>
<p>《本經》原文：大棗，味甘，平。主心腹邪氣，安中養脾，助十二經，平胃氣，通九竅，補生平澤。</p>
<h3>藕實莖</h3>
<p>寒，無毒。一名蓮。生汝南，八月采。</p>
<p>又，藕，主熱渴，散血，生肌。久服令人心歡。</p>
<p>《本經》原文：藕實莖，味甘，平。主補中養神，益氣力，除百疾。久服，輕身耐老，不飢</p>
<h3>雞頭實</h3>
<p>無毒。一名芡。生雷澤，八月采。</p>
<p>《本經》原文：雞頭實，味甘，平。主濕痹，腰脊膝痛，補中，除暴疾，益精氣，強志，令</p>
<h3>KT實</h3>
<p>味甘，平，無毒。主安中，補五臟，不飢，輕身。一名菱。</p>
<h3>栗</h3>
<p>味鹹，溫，無毒。主益氣，濃腸胃，補腎氣，令人耐飢，生山陰，九月采。</p>
<h3>櫻桃</h3>
<p>味甘。主調中，益脾氣，令人好顏色，美志。</p>
<h3>橘柚</h3>
<p>無毒。主下氣，止嘔咳，除膀胱留熱，下停水，五淋，利小便，治脾不能消穀，氣衝胸中，吐逆，霍亂，止泄，去寸白。久服輕身長年。生南山，生江南。十月采。</p>
<p>《本經》原文：橘柚，味辛，溫。主胸中瘕熱逆氣，利水穀。久服去臭，下氣通神。一名橘</p>
<h3>白瓜子</h3>
<p>寒，無毒。主除煩滿不樂，久服寒中。可作面脂，令悅澤。一名白瓜子。生嵩高。</p>
<p>仁也，八月采之。</p>
<h3>白冬瓜</h3>
<p>味甘，微寒，主除小腹水脹，利小便，止渴。</p>
<p>又，甘瓜子，主腹內結聚，破潰膿血，最為腸胃脾內壅要藥。</p>
<p>《本經》原文：白瓜子，味甘，平。主令人悅澤、好顏色，益氣不飢。久服輕身耐老。</p>
<p>一名</p>
<h3>冬葵子</h3>
<p>無毒。主治婦人乳難內閉。生少室。十二月采。黃芩為之使。</p>
<h3>葵根</h3>
<p>味甘，寒，無毒。主惡瘡，治淋，利小便，解蜀椒毒。葉，為百菜主，其心傷人。</p>
<p>《本經》原文：冬葵子，味甘，寒。主五臟六腑，寒熱羸瘦，五癃，利小便。久服，堅骨長</p>
<h3>莧實</h3>
<p>大寒，無毒。主治白翳，殺蛔蟲。一名莫實，細莧亦同。生淮陽及田中，葉如藍，月采。</p>
<p>《本經》原文：莧實，味甘，寒。主青盲，明目，除邪，利大小便，去寒熱。久服，益氣力</p>
<h3>苦菜</h3>
<p>無毒。主治腸　，渴熱，中疾，惡瘡。久服耐飢寒，高氣不老。一名游冬。生益州，山陵道旁，凌冬不死。三月三日采，陰乾。</p>
<p>《本經》原文：苦菜，味苦，寒。主五臟邪氣，厭穀胃痹。久服，安心益氣，聰察少臥，輕</p>
<h3>薺</h3>
<p>味甘，溫，無毒。主利肝氣，和中。其實，主明目，目痛。</p>
<h3>蕪菁及蘆菔</h3>
<p>味苦，溫，無毒。主利五臟，輕身益氣，可長食之。蕪菁子，主治明目。</p>
<h3>菘</h3>
<p>味甘，溫，無毒。主通利腸胃，除胸中煩，解酒渴。</p>
<h3>芥</h3>
<p>味辛，溫，無毒。歸鼻。主除腎邪氣，利九竅，明耳目，安中。久服溫中。</p>
<p>又，子，主射工及疰氣發無恆處，丸服之；或搗為末，醋和塗之，隨手驗也。</p>
<h3>苜蓿</h3>
<p>味苦，平，無毒。主安中，利人，可久食。</p>
<h3>荏子</h3>
<p>味辛，溫，無毒。主治咳逆，下氣，溫中，補體。葉，主調中，去臭氣。九月采，陰荏葉，人常生食，其子故不及蘇也。</p>
<h3>胡麻</h3>
<p>無毒。堅筋骨，治金創，止痛，及傷寒溫瘧，大吐後虛熱羸困。久服明耳目，耐飢，延年。以作油，微寒。利大腸，胞衣不落。生者摩瘡腫，生禿髮。一名狗虱，一名方莖，一名鴻藏。生上黨。</p>
<p>《本經》原文：胡麻，味甘，平。主傷中虛羸，補五內，益氣力，長肌肉，填髓腦。久服輕</p>
<h3>麻</h3>
<p>有毒。破積，止痹，散膿。此麻花上勃勃者。七月七日采，良。</p>
<h3>麻子</h3>
<p>無毒。主治中風汗出，逐水，利小便，破積血，復血脈，乳婦產後余疾，長發，可為沐藥。久服神仙。九月采。入土中者賊人。生太山。（畏牡蠣、白薇，惡茯苓。）</p>
<p>《本經》原文：麻　，味辛，平。主五勞七傷，利五臟，下血寒氣，多食，令人見鬼狂走。</p>
<h3>飴糖</h3>
<p>味甘，微溫。主補虛乏，止渴，去血。</p>
<h2>中品‧卷第二</h2>
<h3>金屑</h3>
<p>味辛，平，有毒。主鎮精神，堅骨髓，通利五臟，除邪毒瓦斯，服之神仙。生益州，采時。</p>
<h3>銀屑</h3>
<p>味辛，平，有毒。主安五臟，定心神，止驚悸，除邪氣，久服輕身長年。生永昌，無時。</p>
<h3>雄黃</h3>
<p>味甘，大溫，有毒。主治疥蟲，　瘡，目痛，鼻中息肉，及絕筋，破骨，百節中大積聚，癖氣，中惡，腹痛，鬼疰，殺諸蛇虺毒，解藜蘆毒，悅澤人面。餌服之，皆飛入中，勝鬼神，延年益壽，保中不飢。得銅可作金。生武都、敦煌山之陽，采無時。</p>
<p>《本經》原文：雄黃，味苦，平、寒。主寒熱鼠　惡瘡，疽痔死肌，殺精物、惡鬼、邪氣、</p>
<h3>雌黃</h3>
<p>味甘，大寒，有毒。蝕鼻中息肉，下部　瘡，身面白駁，散皮膚死肌，及恍惚邪氣殺蜂蛇毒。久服令人腦滿。生武都，與雄黃同山生。其陰山有金，金精熏則生雌黃，采無時</p>
<p>《本經》原文：雌黃，味辛，平。主惡瘡頭禿痂疥，殺毒蟲虱身癢邪氣諸毒。煉之久服，輕</p>
<h3>石鐘乳</h3>
<p>無毒。主益氣，補虛損，療腳弱疼冷，下焦傷竭，強陰。久服延年益壽，好顏色，令人有子。不練服之，令人淋。一名公乳，一名蘆石，一名夏石。生少室及太山，采（蛇床為之使，惡牡丹、玄石、牡蒙，畏紫石英、　草。）</p>
<p>《本經》原文：石鐘乳，味甘，溫。主咳逆上氣，明目，益精，安五臟，通百節，利九竅，</p>
<h3>殷孽</h3>
<p>無毒。主治腳冷疼弱。鐘乳根也。生趙國，又梁山及南海，采無時。（惡朮、防己。）</p>
<p>《本經》原文：殷孽，味辛，溫。主爛傷瘀血，泄利寒熱，鼠　症瘕結氣。一名薑石。</p>
<p>生山</p>
<h3>孔公孽</h3>
<p>無毒。主治男子陰瘡，女子陰蝕，及傷食病，恆欲眠睡。一名通石，殷孽根也，色。生梁山。（木蘭為之使，惡細辛。）</p>
<h3>石腦</h3>
<p>味甘溫，無毒。主治風寒、虛損，腰腳疼痹，安五臟，益氣。一名石飴餅。生名山土中，采無時。</p>
<h3>石硫黃</h3>
<p>大熱，有毒。主治心腹積聚，邪氣冷癖在脅，咳逆上氣，腳冷疼弱下部　瘡，止血，殺疥蟲。生東海牧羊中，及大山及河西山，礬石液也。</p>
<p>《本經》原文：石硫黃，味酸，溫。主婦人陰蝕疽痔惡血，堅筋骨，除頭禿。能化金銀銅鐵奇物。生山谷。</p>
<h3>磁石</h3>
<p>味鹹，無毒。主養腎臟，強骨氣，益精，除煩，通關節，消癰腫，鼠　，頸核，喉痛小兒驚癇，練水飲之。亦令人有子。一名處石。生太山及慈山山陰，有鐵者則生其陽，采時。（柴胡為之使，惡牡丹、莽草，畏黃石脂，殺鐵毒。）</p>
<p>《本經》原文：磁石，味辛，寒。主周痹風濕，肢節中痛，不可持物，洗洗酸　，除大熱煩</p>
<h3>凝水石</h3>
<p>味甘，大寒，無毒。主除時氣熱盛，五臟伏熱，胃中熱，煩滿，止渴，水腫，少腹一名寒水石，一名凌水石，色如雲母，可折者良，鹽之精也。生常山山谷，又中水縣及（解巴豆毒，畏地榆。）</p>
<p>《本經》原文：凝水石，味辛，寒。主身熱，腹中積聚邪氣，皮中如火燒，煩滿，水飲之。</p>
<h3>石膏</h3>
<p>味甘，大寒，無毒。主除時氣，頭痛，身熱，三焦大熱，皮膚熱，腸胃中鬲熱，發汗，止消渴，煩逆，腹脹，暴氣喘息，咽熱，亦可作浴湯。一名細石，細理白澤者者令人淋。生齊山及齊盧山、魯蒙山，采無時。（雞子為之使，惡莽草、毒公。）</p>
<p>《本經》原文：石膏，味辛，微寒。主中風寒熱，心下逆氣驚喘，口乾舌焦，不能息，腹中</p>
<h3>陽起石</h3>
<p>無毒。主治男子莖頭寒，陰下濕癢，去臭汗，消水腫。久服不飢，令人有子。一生，一名羊起石，雲母根也。生齊山及　，或云山、陽起山，采無時。（桑螵蛸為之惡澤瀉、菌桂、雷丸、蛇蛻皮，畏菟絲。）</p>
<p>《本經》原文：陽起石，味鹹，微溫。主崩中漏下，破子臧中血，症瘕結氣，寒熱腹痛，無子，陰痿不起，補不足。一名白石。生山谷。</p>
<h3>玄石</h3>
<p>味鹹，溫，無毒。主治大人小兒驚癇，女子絕孕，少腹寒痛，少精、身重。服之令人子。一名玄水石，一名處石。生太山之陽，山陰有銅，銅者雌，玄者雄。（惡松脂、柏實菌桂。）</p>
<h3>理石</h3>
<p>味甘，大寒，無毒。主除營衛中去來大熱、結熱，解煩毒，止消渴、及中風痿痹。一名肌石。如石膏順理而細。生漢中及盧山。采無時。（滑石為之使，畏麻黃。）</p>
<p>《本經》原文：理石，味辛，寒。主身熱，利胃，解煩，益精明目，破積聚，去三蟲。</p>
<p>一名</p>
<h3>長石</h3>
<p>味苦，無毒。主治胃中結氣，止消渴，下氣，除脅肋肺間邪氣。一名土石，一名直石理如馬齒，方而潤澤玉色。生長子及太山及臨淄，采無時。</p>
<p>《本經》原文：長石，味辛，寒。主身熱四肢寒厥，利小便，通血脈，明目去翳KT　，下三蟲</p>
<h3>綠青</h3>
<p>味酸，寒，無毒。主益氣，治鼽鼻，止泄痢。生山之陰穴中，色青白。</p>
<h3>鐵落</h3>
<p>味甘，無毒。除胸膈中熱氣，食不下，止煩，去黑子。一名鐵液，可以染皂。生牧羊平澤及枋城，或析城，采無時。</p>
<h3>生鐵</h3>
<p>微寒，主治下部及脫肛。</p>
<h3>鋼鐵</h3>
<p>味甘，平，無毒。主治金創，煩滿熱中，胸膈氣塞，食不化。一名跳鐵。</p>
<h3>鐵精</h3>
<p>微溫，主治驚悸，定心氣，小兒風癇，陰　，脫肛。</p>
<p>《本經》原文：鐵精，平。主明目，化銅。鐵落，味辛，平。主風熱惡瘡，瘍疽創痂，疥氣</p>
<h3>鉛丹</h3>
<p>止小便利，除毒熱臍攣，金瘡溢血。生蜀郡。一名鉛華，生於鉛。</p>
<p>《本經》原文：鉛丹，味辛，微寒。主吐逆胃反，驚癇癲疾，除熱下氣。煉化還成九光。</p>
<p>久</p>
<h3>玉英</h3>
<p>味甘，主治風，療皮膚癢。一名石鏡，明白可作鏡。生山竅。十二月采。</p>
<h3>厲石華</h3>
<p>味甘，無毒。主益氣，養神，止渴，除熱，強陰。生江南，如石華，采無時。</p>
<h3>石肺</h3>
<p>味辛，無毒。主癘咳寒久痿，益氣，明目。生水中，狀如肺，黑澤有赤文，出水即干</p>
<h3>石肝</h3>
<p>味酸，無毒。主治身癢，令人色美。生常山，色如肝。</p>
<h3>石脾</h3>
<p>味甘，無毒。主治胃寒熱，益氣，癢瘀。令人有子。一名胃石，一名膏石，一名硝石。</p>
<p>生隱蕃山谷石間，黑如大豆，有赤文，色微黃，而輕薄如棋子，采無時。</p>
<h3>石腎</h3>
<p>味鹹，無毒。主治泄利。色如白珠。</p>
<h3>遂石</h3>
<p>味甘，無毒。主治消渴，傷中，益氣。生太山陰，采無時。</p>
<h3>白肌石</h3>
<p>味辛，無毒。主強筋骨，止渴，不飢，陰熱不足。一名肌石，一名洞石。生廣焦山，青色潤澤。</p>
<h3>龍石膏</h3>
<p>無毒。主治消渴，益壽。生杜陵，如鐵脂中黃</p>
<h3>石</h3>
<p>味甘，無毒。主治咳逆氣。生石間，色赤如鐵脂，四月采。</p>
<h3>終石</h3>
<p>味辛，無毒。主治陰痿痹，小便難，益精氣。生陵陰，采無時。</p>
<h3>當歸</h3>
<p>味辛，大溫，無毒。主溫中，止痛，除客血內塞，中風　，汗不出，濕痹，中惡，客虛冷，補五臟，生肌肉。生隴西。二月、八月采根，陰乾。（惡　茹，畏菖蒲、海藻、牡</p>
<p>《本經》原文：當歸，味甘，溫。主咳逆上氣，溫瘧寒熱，洗洗在皮膚中，婦人漏下絕子，</p>
<h3>防風</h3>
<p>味辛，無毒。主治脅痛、脅風頭面去來，四肢攣急，字乳金瘡內痙。葉，主治中風熱出。一名茴草，一名百枝，一名屏風，一名　根，一名百蜚。生沙苑及邯鄲、琅　、上蔡二月、十月采根，曝乾。（得澤瀉、　本治風，得當歸、芍藥、陽起石、禹餘糧治婦人子風，惡乾薑、藜蘆、白蘞、芫花，殺附子毒。）</p>
<p>又，叉頭者令人發狂，叉尾者發痼疾。</p>
<p>《本經》原文：防風，味甘，溫，無毒。主大風，頭眩痛，惡風，風邪，目盲無所見，風行</p>
<h3>秦艽</h3>
<p>味辛，微溫，無毒。治風無問久新，通身攣急。生飛烏。二月、八月采根，曝乾。</p>
<p>蒲為之使。）</p>
<p>《本經》原文：秦艽，味苦，平。主寒熱邪氣，寒濕風痹，肢節痛，下水，利小便。生山谷</p>
<h3>黃</h3>
<p>無毒。主治婦人子藏風邪氣，逐五臟間惡血，補丈夫虛損，五勞羸瘦，止渴，腹痛利，益氣，利陰氣。生白水者冷，補。其莖、葉，治渴及筋攣，癰腫，疽瘡。一名戴椹，名獨椹，一名KT　草，一名蜀脂，一名百本。生蜀郡、白水、漢中。二月、十月采，陰乾。</p>
<p>（惡龜甲。）</p>
<p>《本經》原文：黃　，味甘，微溫。主癰疽久敗瘡，排膿止痛，大風癩疾，五痔鼠　，補虛</p>
<h3>吳茱萸</h3>
<p>大熱，有小毒。主去痰冷，腹內絞痛，諸冷、實不消，中惡，心腹痛，逆氣，利五根白皮，殺蟯蟲，治喉痹咳逆，止泄注，食不消，女子經產余血，療白癬。生上穀及宛九月九日采，陰乾。（蓼實為之使，惡丹參、硝石、白堊，畏紫石英。）</p>
<p>《本經》原文：吳茱萸，味辛，溫。主溫中下氣，止痛咳逆寒熱，除濕血痹，逐風邪，開</p>
<h3>黃芩</h3>
<p>大寒，無毒。主治痰熱，胃中熱，小腹絞痛，消穀，利小腸，女子血閉、淋露、下血小兒腹痛。一名空腸，一名內虛，一名黃文，一名經芩，一名妒婦。其子，主腸　膿血。</p>
<p>秭歸及宛朐。三月三日采根，陰乾。（得厚朴、黃連止腹痛；得五味子、牡蒙、牡蠣令人子。得黃　、白蘞、赤小豆治鼠　。山茱萸、龍骨為之使，惡蔥實，畏丹參、牡丹、藜蘆。</p>
<p>《本經》原文：黃芩，味苦，平。主諸熱黃膽，腸　泄利，逐水，下血閉，惡瘡疽蝕火瘍。一名腐腸。生川</p>
<h3>黃連</h3>
<p>微寒，無毒。主治五臟冷熱，久下泄　、膿血，止消渴、大驚，除水，利骨，調胃，腸，益膽，治口瘡。生巫陽及蜀郡、太山。二月、八月采。（黃芩、龍骨、理石為之使，菊花、芫花、玄參、白蘚，畏款冬，勝烏頭，解巴豆毒。）</p>
<p>《本經》原文：黃連，味苦，寒。主熱氣，目痛　傷泣出，明目，腸　腹痛下利，婦人陰中腫痛。久服令人</p>
<h3>五味子</h3>
<p>無毒。主養五臟，除熱，生陰中肌。一名會及，一名玄及。生齊山及代郡。八月采陰乾。（蓯蓉為之使，惡葳蕤，勝烏頭。）</p>
<p>《本經》原文：五味子，味酸，溫。主益氣，咳逆上氣，勞傷羸瘦，補不足，強陰，益男子精。生山谷。</p>
<h3>決明子</h3>
<p>味苦、甘，微寒，無毒。主治唇口青。生龍門，石決明生豫章。十月十日采，陰乾（蓍實為之使，惡大麻子。）</p>
<p>《本經》原文：決明子，味鹹，平。主青盲，目淫膚，赤白膜，眼赤痛淚出。久服益精光，輕身。生川澤。</p>
<h3>芍藥</h3>
<p>味酸，微寒，有小毒。主通順血脈，緩中，散惡血，逐賊血，去水氣，利膀胱、大小腸，消癰腫，時行寒熱，中惡，腹痛，腰痛。一名白木，一名余容，一名犁食，一名解倉，一名　。生中岳及丘陵。二月、八月采根，曝乾。（須丸為之使，惡石斛、芒硝，畏硝石、鱉甲、小薊，反藜蘆。）</p>
<p>《本經》原文：芍藥，味苦，平。主邪氣腹痛，除血痹，破堅積，寒熱疝瘕，止痛，利小便，益氣。生川穀</p>
<h3>桔梗</h3>
<p>味苦，有小毒。主利五臟腸胃，補血氣，除寒熱風痹，溫中，消穀，治喉咽痛，下蠱一名利如，一名房圖，一名白藥，一名梗草，一名薺　。生嵩高及宛朐。二、八月采根干。（節皮為之使，得牡蠣、遠志治恚怒；得硝石、石膏治傷寒。畏白芨、龍眼、龍膽</p>
<p>《本經》原文：桔梗，味辛，微溫。主胸脅痛如刀刺，腹滿腸鳴幽幽，驚恐悸氣。生山谷。</p>
<h3>芎</h3>
<p>無毒。主除腦中冷動，面上游風去來，目淚出，多涕唾，忽忽如醉，諸寒冷氣，心腹痛，中惡，卒急腫痛，脅風痛，溫中內寒。一名胡窮，一名香果。其葉名蘼蕪。生武功、斜穀、西嶺。三月、四月采根，曝乾。（白芷為之使，惡黃連。）</p>
<p>《本經》原文：芎　，味辛，溫。主中風入腦頭痛，寒痹筋攣緩急，金創，婦人血閉無子。生川穀。</p>
<h3>本</h3>
<p>味苦、微溫、微寒，無毒。主辟霧露潤澤，治風邪　曳，金瘡，可作沐藥、面脂。</p>
<p>風流四肢。一名微莖。生崇山。正月、二月采根，曝乾，三十日成。（惡　茹。）</p>
<p>《本經》原文：　本，味辛，溫。主婦人疝瘕，陰中寒腫痛，腹中急，除風頭痛，長肌膚，悅顏色。一名鬼</p>
<h3>麻黃</h3>
<p>微溫，無毒。主治五臟邪氣緩急，風脅痛，字乳余疾，止好唾，通腠理，疏傷寒頭痛解肌，泄邪惡氣，消赤黑斑毒。不可多服，令人虛。一名卑相，一名卑鹽。生晉地及河東立秋采莖，陰乾令青。（厚朴為之使，惡辛夷、石葦。）</p>
<p>《本經》原文：麻黃，味苦，溫。主中風傷寒頭痛，溫瘧，發表出汗，去邪熱氣，止咳逆上氣，除寒熱，破</p>
<h3>葛根</h3>
<p>無毒。主治傷寒中風頭痛，解肌發表出汗，開腠理，療金瘡，止痛，脅風痛。生根汁，大寒，治消渴，傷寒壯熱。</p>
<p>一名鹿藿，一名黃斤。生汶</p>
<p>《本經》原文：葛根，味甘，平。主消渴，身大熱，嘔吐，諸痹，起陰氣，解諸毒。葛穀，主下利十歲以上</p>
<h3>前胡</h3>
<p>味苦，微寒，無毒。主治痰滿，胸脅中痞，心腹結氣，風頭痛，去痰實，下氣。治傷寒熱，推陳致新，明目，益精。二月、八月采根，曝乾。（半夏為之使，惡皂莢，畏藜蘆</p>
<h3>知母</h3>
<p>無毒。主治傷寒久瘧煩熱，脅下邪氣，膈中惡，及風汗內疸。多服令人泄。一名女雷一名女理，一名兒草，一名鹿列，一名韭逢，一名兒踵草，一名東根，一名水須，一名沈燔，一名　。生河內。二月、八月采根，曝乾。</p>
<p>《本經》原文：知母，味苦，寒。主消渴熱中，除邪氣，肢體浮腫，下水，補不足，益氣。一名　母，一名母。生川穀。</p>
<h3>大青</h3>
<p>味苦，大寒，無毒。主治時氣頭痛，大熱，口瘡。三月、四月采莖，陰乾。</p>
<h3>貝母</h3>
<p>味苦，微寒，無毒。主治腹中結實，心下滿，洗洗惡風寒，目眩、項直，咳嗽上氣，煩熱渴，出汗，安五臟，利骨髓。一名藥實，一名苦華，一名苦菜，一名商草，一名勒母一名KT　。生晉地。十月采根，曝乾。（厚朴、白薇為之使，惡桃花，畏秦椒、　石、莽草</p>
<p>《本經》原文：貝母，味辛，平。主傷寒煩熱，淋瀝邪氣，疝瘕，喉痹，乳難，金創風痙。一名空草。</p>
<h3>栝蔞根</h3>
<p>無毒。主除腸胃中痼熱，八疸，身面黃，唇干口燥，短氣，通月水，止小便利，一裸，一名天瓜，一名澤姑。實，名黃瓜，治胸痹，悅澤人面。莖葉，治中熱傷暑。生洪山陰地，入土深者良，生鹵地者有毒。二月、八月采根，曝乾，三十日成。（枸杞為之惡乾薑，畏牛膝、乾漆，反烏頭。）</p>
<p>《本經》原文：栝蔞根，味苦，寒。主消渴身熱，煩滿大熱，補虛安中，續絕傷。一名地蔞。生川穀。</p>
<h3>丹參</h3>
<p>無毒。主養血，去心腹痼疾、結氣，腰脊強，腳痹，除風邪留熱。久服利人。一名赤參，一名木羊乳。生桐柏山及太山。五月采根，曝乾。（畏咸水，反藜蘆。）</p>
<p>《本經》原文：丹參，味苦，微寒。主心腹邪氣，腸鳴幽幽如走水，寒熱積聚，破症除瘕，止煩滿，益氣。</p>
<h3>厚朴</h3>
<p>大溫，無毒。主溫中，益氣，消痰，下氣，治霍亂及腹痛，脹滿，胃中冷逆，胸中嘔不止，泄痢，淋露，除驚，去留熱，止煩滿，濃腸胃。一名濃皮，一名赤朴。其樹名榛，子名逐楊。治鼠　，明目，益氣。生交趾、宛朐。三月、九月、十月采皮，陰乾。（乾薑之使，惡澤瀉、寒水石、硝石。）</p>
<p>《本經》原文：厚朴，味苦，溫。主中風傷寒，頭痛，寒熱驚悸，氣血痹，死肌，去三蟲。</p>
<h3>竹葉</h3>
<p>芹竹葉大寒，無毒。主除煩熱，風　，喉　，嘔逆。根，消毒。生益州。</p>
<h3>淡竹葉</h3>
<p>味辛，平、大寒。主治胸中淡熱，咳逆上氣。其瀝，大寒，治暴中風，風痹，胸中大熱，止煩悶。其皮　，微寒，主治嘔　，溫氣寒熱，吐血，崩中，溢筋。</p>
<h3>苦竹葉及瀝</h3>
<p>治口瘡，目痛明目，通利九竅；竹筍，味甘，無毒；主消渴，利水道，益氣，可久食；干筍，燒服，治五痔血。</p>
<p>《本經》原文：竹葉，味苦，平。主咳逆上氣，溢筋急，惡瘍，殺小蟲。根，作湯益氣，止渴，補虛下氣。</p>
<h3>玄參</h3>
<p>味鹹，無毒。主治暴中風、傷寒，身熱支滿，狂邪、忽忽不知人，溫瘧洒洒，血瘕，寒血，除胸中氣，下水，止煩渴，散頸下核，癰腫，心腹痛，堅症，定五臟。久服補虛，目，強陰，益精。一名玄台，一名鹿腸，一名正馬，一名咸，一名端。生河間及宛朐。三四月采根，曝乾。（惡黃　、乾薑、大棗、山茱萸，反藜蘆。）</p>
<p>《本經》原文：玄參，味苦，微寒。主腹中寒熱積聚，女子產乳余疾，補腎氣，令人目明。一名重台。生川</p>
<h3>沙參</h3>
<p>無毒。主治胃痹，心腹痛，結熱，邪氣，頭痛，皮間邪熱，安五臟，補中。一名苦心一名志取，一名虎須，一名白參，一名識美，一名文希。生河內及宛朐、般陽續山。二月八月采根，曝乾。（惡防己，反藜蘆。）</p>
<p>《本經》原文：沙參，味苦，微寒。主血積驚氣，除寒熱，補中益肺氣。久服利人。一名知母。生川穀。</p>
<h3>苦參</h3>
<p>無毒。養肝膽氣，安五臟，定志，益精，利九竅，除伏熱，腸　，止渴，醒酒，小便赤，治惡瘡，下部慝，平胃氣，令人嗜食，輕身。一名地槐，一名菟槐，一名驕槐，一名莖，一名虎麻，一名岑莖，一名祿白，一名陵郎。生汝南及田野。三月、八月、十月采根曝乾。（玄參為之使，惡貝母、漏蘆、菟絲，反藜蘆。）</p>
<p>《本經》原文：苦參，味苦，寒。主心腹結氣，症瘕積聚，黃膽，溺有餘瀝，逐水，除癰腫，補中，明目止</p>
<h3>續斷</h3>
<p>味辛，無毒。主治崩中漏血，金瘡血內漏，止痛，生肌肉，及　傷、惡血、腰痛，關節緩急。一名接骨，一名南草，一名槐。生常山。七月、八月采，陰乾。（地黃為之使，惡雷丸。）</p>
<p>《本經》原文：續斷，味苦，微溫。主傷寒，補不足，金創癰傷折跌，續筋骨，婦人乳難。久服益氣力。一</p>
<h3>枳實</h3>
<p>味酸，微寒，無毒。主除胸脅淡癖，逐停水，破結實，消脹滿、心下急、痞痛、逆氣脅風痛，安胃氣、止溏泄，明目。生河內。九月、十月采，陰乾。</p>
<p>《本經》原文：枳實，味苦，寒。主大風在皮膚中，如麻豆苦癢，除寒熱結，止利，長肌肉，利五臟，益氣</p>
<h3>山茱萸</h3>
<p>微溫、無毒。主治腸胃風邪，寒熱，疝瘕，頭腦風，風氣去來，鼻塞，目黃，耳聾，溫中，下氣，出汗，強陰，益精，安五臟，通九竅，止小便利。久服明目，強力，年。一名雞足，一名思益，一名寇實。生漢中及琅琊、宛朐、東海承縣。九月、十月采實，陰乾。（蓼實為之使，惡桔梗、防風、防己。）</p>
<p>《本經》原文：山茱萸，味酸，平。主心下邪氣寒熱，溫中，逐寒濕痹，去三蟲。久服輕身，一名蜀棗。生</p>
<h3>桑根白皮</h3>
<p>無毒。主去肺中水氣，止唾血，熱渴，水腫，腹滿，臚脹，利水道，去寸白，創。采無時，出土上者殺人。（續斷、桂心、麻子為之使，葉汁解蜈蚣毒。）</p>
<h3>桑耳</h3>
<p>味甘，有毒。黑者，主治月水不調。其黃熟陳白者，止久泄，益氣不飢。其金色者，治</p>
<p>《本經》原文：桑根白皮，味甘，寒。主傷中，五勞六極，羸瘦，崩中脈絕，補虛益氣。</p>
<p>葉，主除寒熱，出子。五木耳名</p>
<h3>松蘿</h3>
<p>味甘，無毒。主治淡熱，溫瘧，可為吐湯，利水道。生熊耳山松樹上。五月采，陰乾</p>
<p>《本經》原文：松蘿，味苦，平。主　怒邪氣，止虛汗，頭風，女子陰寒腫痛。一名女蘿。生山谷。</p>
<h3>白棘</h3>
<p>無毒。主決刺結，治丈夫虛損，陰痿，精自出，補腎氣，益精髓。一名棘刺。生雍州</p>
<p>《本經》原文：白棘，味辛，寒。主心腹痛，癰腫潰膿，止痛。一名棘針。生川穀。</p>
<h3>棘刺花</h3>
<p>味苦，平，無毒。主治金創內漏，明目。冬至後百廿日采之。實，主明目，心腹痿除熱，利小便。生道旁。四月采。一名菥　，一名馬朐，一名刺原又有棗針，治腰痛、喉痹不通。</p>
<h3>狗脊</h3>
<p>味甘，微溫，無毒。主治失溺不節，男子腳弱腰痛，風邪，淋露，少氣，目暗，堅脊利俯仰，女子傷中，關節重。一名強膂，一名扶蓋，一名扶筋。生常山。二月、八月采根曝乾。（萆　為之使，惡敗醬。）</p>
<p>《本經》原文：狗脊，味苦，平。主腰背強，關機緩急，周痹寒濕膝痛，頗利老人。一名百枝。生川穀。</p>
<h3>萆</h3>
<p>味甘，無毒。主治傷中恚怒，陰痿失溺，關節老血，老人五緩。一名赤節。生真定。</p>
<p>月、八月采根，曝乾。（薏苡為之使，畏葵根、大黃、柴胡、牡蠣、前胡。）</p>
<p>《本經》原文：萆　，味苦，平。主腰背痛強，骨節風寒濕周痹，惡瘡不瘳，熱氣。生山谷。</p>
<h3>菝</h3>
<p>味甘，平、溫，無毒。主治腰背寒痛，風痹，益血氣，止小便利。生山野。二月、八采根，曝乾。</p>
<h3>石葦</h3>
<p>味甘，無毒。主止煩，下氣，通膀胱滿，補五勞，安五臟，去惡風，益精氣。一名石用之去黃毛，毛射人肺，令人咳，不可治。生華陰，不聞水及人聲者，良。二月采葉，（杏仁為之使，得菖蒲良。）</p>
<p>《本經》原文：石葦，味苦，平。主勞熱邪氣，五癃閉不通利小便水道。一名石　。生山谷石上。</p>
<h3>通草</h3>
<p>味甘，無毒。主治脾疸，常欲眠，心煩，噦出音聲，治耳聾，散癰腫、諸結不消，及瘡，惡瘡，鼠　，　折，　鼻，息肉，墮胎，去三蟲。一名丁翁，生石城及山陽。正月采陰乾。</p>
<p>《本經》原文：通草，味辛，平。主去惡蟲，除脾胃寒熱，通利九竅血脈關節，令人不忘。一名附支。生山</p>
<h3>瞿麥</h3>
<p>味辛，無毒。主養腎氣，逐膀胱邪逆，止霍亂，長毛髮。一名大菊，一名大蘭。生太山。立秋采實，陰乾。（　草、牡丹為之使，惡桑螵蛸。）</p>
<p>《本經》原文：瞿麥，味苦，寒。主關格諸癃結，小便不通，出刺，決癰腫，明目去翳，破胎墮子，下閉血。一名巨句麥。生川穀。</p>
<h3>敗醬</h3>
<p>味鹹，微寒，無毒。主除癰腫，浮腫，結熱，風痹，不足，產後疾痛。一名鹿首，名馬草，一名澤敗。生江夏。八月采根，曝乾。</p>
<p>《本經》原文：敗醬，味苦，平。主暴熱火瘡赤氣，疥瘙疽痔，馬鞍熱氣。一名鹿腸。</p>
<p>生川穀。</p>
<h3>秦皮</h3>
<p>大寒，無毒。主治男子少精，婦人帶下，小兒癇，身熱，可作洗目湯。久服皮膚光澤肥大，有子。一名岑皮，一名石檀。生廬江及宛朐。二月、八月采皮，陰乾。（大戟為之惡吳茱萸。）</p>
<p>《本經》原文：秦皮，味苦，微寒。主風寒濕痹，洗洗寒氣，除熱，目中青翳白膜。久服，頭不白輕身。生</p>
<h3>白芷</h3>
<p>無毒。主治風邪，久渴，吐嘔，兩脅滿，風痛，頭眩，目癢。可作膏藥面脂，潤顏色一名白　，一名　，一名莞，一名苻蘺，一名澤芬。葉名蒿麻。可作浴湯。生河東下澤。</p>
<p>二月、八月采根，曝乾。（當歸為之使，惡旋覆花。）</p>
<p>《本經》原文：白芷，味辛，溫。主女人漏下赤白，血閉陰腫，寒熱，風頭侵目淚出，長肌膚潤澤，可作面</p>
<h3>杜蘅</h3>
<p>味辛，溫，無毒。主治風寒咳逆，香人衣體。生山谷。三月三日采根，熟洗，曝乾。</p>
<h3>杜若</h3>
<p>無毒。主治眩倒、目KT　KT　，止痛，除口臭氣。久服令人不忘。一名杜蓮，一名白連，柴胡</p>
<p>《本經》原文：杜若味辛，微溫。主胸脅下逆氣，溫中風入腦戶，頭腫痛，多涕淚出。</p>
<p>久服，益精明目輕身</p>
<h3>柏木</h3>
<p>無毒。主治驚氣在皮間，肌膚熱亦起，目熱赤痛，口瘡。久服通神。根，名檀桓，治腹百病，安魂魄，不飢渴。久服輕身，延年通神。生漢中及永昌。（惡乾漆。）</p>
<p>《本經》原文：柏木，味苦，寒。主五臟腸胃中結熱，黃膽，腸痔，止泄利，女子漏下赤白，陰傷蝕瘡。一</p>
<h3>木蘭</h3>
<p>無毒。主治中風、傷寒，及癰疽、水腫，去臭氣。一名杜蘭，皮似桂而香。生零陵及山。十二月采皮，陰乾。</p>
<p>《本經》原文：木蘭，味苦，寒。主身大熱在皮膚中，去面熱赤　酒渣，惡風癲疾，陰下癢濕，明耳目。一</p>
<h3>白薇</h3>
<p>味鹹，大寒，無毒。主治傷中淋露，下水氣，利陰氣，益精。一名白幕，一名薇草，一名春草，一名骨美。久服利人。生平原。三月三日采根，陰乾。（惡黃　、乾薑、乾漆、山茱萸、大棗。）</p>
<p>《本經》原文：白薇，味苦，平。主暴中風身熱肢滿，忽忽不知人，狂惑邪氣，寒熱酸疼，溫瘧洗洗，發作</p>
<h3>耳實</h3>
<p>味苦。葉，味苦、辛，微寒，有小毒。主治膝痛，溪毒。一名　，一名常思。生安六安田野，實熟時采。</p>
<p>《本經》原文：耳實，味甘，溫。主風頭寒痛，風濕周痹，四肢拘攣痛，惡肉死肌。久服益氣，耳目聰明，</p>
<h3>茅根</h3>
<p>無毒。主下五淋，除客熱在腸胃，止渴，堅筋，婦人崩中。久服利人。一名地菅，一地筋，一名兼杜。生楚地田野。六月采根。</p>
<p>《本經》原文：茅根，味甘，寒。主勞傷虛羸，補中益氣，除瘀血血閉寒熱，利小便。</p>
<p>其苗，主下水。一名</p>
<h3>百合</h3>
<p>無毒。主除浮腫，臚脹，痞滿，寒熱，通身疼痛，及乳難喉痹腫，止涕淚。一名重一名重邁，一名摩羅，一名中逢花，一名強瞿。生荊州。二月、八月采根，曝乾。</p>
<p>《本經》原文：百合，味甘，平。主邪氣腹張，心痛，利大小便，補中益氣。生川穀。</p>
<h3>酸漿</h3>
<p>寒，無毒。生荊楚及人家田園中。五月采，陰乾。</p>
<p>《本經》原文：酸漿，味酸，平。主熱煩滿，定志，益氣，利水道，產難，吞其實立產，一名醋漿。生川澤</p>
<h3>淫羊藿</h3>
<p>無毒。主堅筋骨，消瘰　，赤癰，下部有瘡，洗出蟲。丈夫久服，令人無子。生山。（薯蕷為之使。）</p>
<p>《本經》原文：淫羊藿，味辛，寒。主陰痿絕傷，莖中痛，利小便，益氣力，強志。一名剛前。生山谷。</p>
<h3>蠡實</h3>
<p>溫，無毒。主止心煩滿，利大小便，長肌膚肥大。</p>
<h3>花葉</h3>
<p>治喉痹，多服令人溏泄。一名荔實。生河東。五月采實，陰乾。</p>
<p>《本經》原文：蠡實，味甘，平。主皮膚寒熱，胃中熱氣，風寒濕痹，堅筋骨，令人嗜食。久服輕身。花、</p>
<h3>梔子</h3>
<p>大寒，無毒。主治目熱赤痛，胸心大小腸大熱，心中煩悶，胃中熱氣。一名越桃，生陽。九月采實，曝乾。</p>
<p>《本經》原文：梔子，味苦，寒。主五內邪氣，胃中熱氣，面赤酒　渣鼻，白癩赤癩瘡瘍。一名木丹。生川</p>
<h3>檳榔</h3>
<p>味辛，溫，無毒。主消穀，逐水，除淡　，殺三蟲，去伏尸，治寸白。生南海。</p>
<h3>合歡</h3>
<p>無毒。生益州。</p>
<p>《本經》原文：合歡，味甘，平。主安五臟，利心志，令人歡樂無憂。久服，輕身明目，得所欲。生山谷。</p>
<h3>衛矛</h3>
<p>無毒。主治中惡，腹痛，去白蟲，消皮膚風毒腫，令陰中解。生霍山。八月采，陰乾</p>
<p>《本經》原文：衛矛，味苦，寒。主女子崩中下血，腹滿汗出，除邪，殺鬼毒蠱注。一名鬼箭。生山谷。</p>
<h3>紫葳</h3>
<p>無毒。莖葉，味苦，無毒。治痿蹶，益氣。一名陵苕，一名　華，一名陵時生西海及陽。</p>
<p>《本經》原文：紫葳，味酸，微寒。主婦人產乳余疾，崩中，症瘕血閉，寒熱羸瘦，養胎。生川穀。</p>
<h3>蕪荑</h3>
<p>平，無毒。逐寸白，散腹中溫溫喘息。生晉山。三月采實，陰乾。</p>
<p>《本經》原文：蕪荑，味辛。主五內邪氣，散皮膚骨節中淫淫溫行毒，去三蟲，化食。</p>
<p>一名無姑，一名</p>
<h3>紫草</h3>
<p>無毒。主治腹腫脹滿痛，以合膏，治小兒瘡及面渣。生碭山及楚地。三月采根，陰乾</p>
<p>《本經》原文：紫草，味苦，寒。主心腹邪氣，五疸，補中益氣，利九竅，通水道。一名紫丹，一名紫</p>
<h3>紫菀</h3>
<p>味辛，無毒。主治咳唾膿血，止喘悸，五勞體虛，補不足，小兒驚癇。一名紫茜，一青苑。生房陵及真定、邯鄲。二月、三月采根，陰乾。（款冬為之使；惡天雄、瞿麥、雷遠志。畏茵陳蒿。）</p>
<p>《本經》原文：紫菀，味苦，溫。主咳逆上氣，胸中寒熱結氣，去蠱毒，痿蹶，安五臟。</p>
<p>生山谷。</p>
<h3>白蘚</h3>
<p>味鹹，無毒。主治四肢不安，時行腹中大熱、飲水、欲走、大呼，小兒驚癇，婦人產余痛。生上穀及宛朐。四月、五月采根，陰乾。（惡桑螵蛸、桔梗、茯苓、萆　。）</p>
<p>《本經》原文：白蘚，味苦，寒。主頭風黃膽，咳逆淋瀝，女子陰中腫痛，濕痹死肌，不可屈伸起止行步。</p>
<h3>白兔藿</h3>
<p>無毒。主治風疰，諸大毒不可入口者，皆消除之。又去血，可末著痛上，立消。</p>
<p>者，煮飲之即解。生交州。</p>
<p>《本經》原文：白兔藿，味苦，平。主蛇虺、蜂蠆、　狗、菜肉蠱毒，鬼注。一名白葛。</p>
<p>生山谷。</p>
<h3>營實</h3>
<p>微寒，無毒。久服輕身益氣。根，止泄利腹痛，五臟客熱，除邪逆氣，疽癩，諸惡瘡金瘡，傷撻，生肉復肌。一名牛勒，一名薔蘼，一名山棘。生零陵及蜀郡。八月、九月采陰乾。</p>
<p>《本經》原文：營實，味酸，溫。主癰疽惡瘡，結肉跌筋，敗瘡熱氣，陰蝕不瘳，利關節。一名牆薇，一名</p>
<h3>薇銜</h3>
<p>微寒，無毒。主暴症，逐水，治痿蹶。久服輕身，明目。一名承膏，一名承肌，一名心，一名無顛。生漢中及宛朐、邯鄲。七月采莖、葉，陰乾。（得秦皮良。）</p>
<p>《本經》原文：薇銜，味苦，平。主風濕痹　節痛，驚癇吐舌，悸氣賊風，鼠　癰腫。</p>
<p>一名糜銜。生川澤。</p>
<h3>井中苔及萍</h3>
<p>大寒。主治漆瘡，熱瘡，水腫。井中藍、殺野葛、巴豆諸毒。</p>
<h3>王孫</h3>
<p>無毒。主治百病，益氣。吳名白功草，楚名王孫，齊名長孫，一名黃孫，一名黃昏，名海孫，一名蔓延。生海西及汝南城郭垣下。</p>
<p>《本經》原文：王孫，味苦，平。主五臟邪氣，寒濕痹，四肢疼酸，膝冷痛。生川穀。</p>
<h3>爵床</h3>
<p>無毒。生漢中及田野。</p>
<p>《本經》原文：爵床，味鹹，寒。主腰脊痛不得著床，俯仰艱難，除熱；可作浴湯。生川穀。</p>
<h3>白前</h3>
<p>味甘，微溫，無毒。主治胸脅逆氣，咳嗽上氣。</p>
<h3>百部根</h3>
<p>微溫，有小毒。主治咳嗽上氣。</p>
<h3>王瓜</h3>
<p>無毒。主治諸邪氣，熱結，鼠　，散癰腫、留血，婦人帶下不通，下乳汁，止小便數禁，逐四肢骨節中水，治馬骨刺人瘡，生魯地田野，及人家垣牆間。三月采根，陰乾。</p>
<p>《本經》原文：王瓜，味苦，寒。主消渴內痹，瘀血月閉，寒熱酸疼，益氣愈聾。一名土瓜。生平澤。</p>
<h3>薺</h3>
<p>味甘，寒。主解百藥毒。</p>
<h3>高良薑</h3>
<p>大溫，主治暴冷，胃中冷逆，霍亂腹痛。</p>
<h3>馬先蒿</h3>
<p>味苦，無毒。生南陽。</p>
<p>《本經》原文：馬先蒿，味平。主寒熱鬼注，中風濕痹，女子帶下病，無子。一名馬屎蒿。生川澤。</p>
<h3>蜀羊泉</h3>
<p>無毒。主治齲齒，女子陰中內傷，皮間實積。一名羊泉，一名羊飴。生蜀郡。</p>
<p>《本經》原文：蜀羊泉，味苦，微寒。主頭禿惡瘡熱氣，疥瘙痂癬蟲。生川穀。</p>
<h3>積雪草</h3>
<p>無毒。生荊州。</p>
<p>《本經》原文：積雪草，味苦，寒。主大熱，惡瘡癰疽，浸淫赤　皮膚赤，身熱。生川穀。</p>
<h3>惡實</h3>
<p>味辛，平，無毒。主明目，補中，除風傷。根莖，治傷寒、寒熱、汗出，中風，面腫消渴，熱中，逐水。久服輕身耐老。生魯山平澤。又，惡實，一名牛蒡，一名鼠黏草。</p>
<h3>莎草根</h3>
<p>味甘，微寒，無毒。主除胸中熱，充皮毛。久服利人，益氣，長須眉。一名　，一莎，其實名緹。生田野，二月、八月采。</p>
<h3>大小薊根</h3>
<p>味甘，溫。主養精，保血。大薊，主治女子赤白沃，安胎，止吐血、衄鼻，令人五月采。</p>
<h3>垣衣</h3>
<p>味酸，無毒。主治黃膽，心煩，咳逆，血氣，暴熱在腸胃，金瘡內塞。久服補中益氣長肌，好顏色。一名昔邪，一名烏韭，一名垣嬴，一名天韭，一名鼠韭。生古垣牆陰或三月三日采，陰乾。</p>
<p>又，垣衣，主暴風口噤，金瘡、酒漬服之效。</p>
<h3>艾葉</h3>
<p>味苦，微溫，無毒。主炙百病，可作煎，止下痢，吐血，下部　瘡，婦人漏血，利陰生肌肉，辟風寒，使人有子。一名冰台，一名醫草。生田野。三月三日采，曝乾。作煎令見風。</p>
<p>又，艾，生寒熟熱。主下血，衄血、膿血痢，水煮及丸散任用。</p>
<h3>牡蒿</h3>
<p>味苦，溫，無毒。主充肌膚，益氣，令人暴肥，血脈滿盛，不可久服。生田野，五月八月采。</p>
<h3>假蘇</h3>
<p>無毒。一名薑芥。生漢中。</p>
<p>《本經》原文：假蘇，味辛，溫。主寒熱鼠　，瘰　生瘡，破結聚氣，下瘀血，除濕痹。</p>
<p>一名鼠　。生川</p>
<h3>水萍</h3>
<p>味酸，無毒。主下氣。以沐浴，生毛髮。一名水白，一名水蘇。生雷澤。三月采，曝</p>
<p>《本經》原文：水萍，味辛，寒。主暴熱身癢，下水氣，勝酒，長須發，止消渴。久服輕身。一名水華。生池澤。</p>
<h3>海藻</h3>
<p>味鹹，無毒。主治皮間積聚暴　，留氣熱結，利小便。一名　。生東海，七月七日采曝乾。（反甘草。）</p>
<p>《本經》原文：海藻，味苦，寒。主癭瘤氣，頸下核，破散結氣，癰腫症瘕堅氣，腹中上下鳴，下十二水腫</p>
<h3>昆布</h3>
<p>味鹹，寒，無毒。主治十二種水腫，癭瘤聚結氣，　瘡。生東海。</p>
<h3>葒草</h3>
<p>味鹹，微寒，無毒。主治消渴，去熱，明目，益氣。一名鴻　。如馬蓼而大，生水傍五月采實。</p>
<h3>陟厘</h3>
<p>味甘，大溫，無毒。主治心腹大寒，溫中消穀，強胃氣，止泄痢。生江南池澤。</p>
<h3>乾薑</h3>
<p>大熱，無毒。主治寒冷腹痛，中惡，霍亂，脹滿，風邪諸毒，皮膚間結氣，止唾血。</p>
<p>生薑，味辛，微溫。主治傷寒頭痛、鼻塞，咳逆上氣，止嘔吐。生犍為及荊州、揚州。</p>
<p>九月又，生薑，微溫，辛，歸五臟。去淡，下氣，止嘔吐，除風邪寒熱。久服小志少智，傷心</p>
<p>《本經》原文：乾薑，味辛，溫。主胸滿咳逆上氣，溫中，止血，出汗，逐風濕痹，腸下利。生者尤良。</p>
<h3>薰草</h3>
<p>味甘，平，無毒。主治明目，止淚，治泄精，去臭惡氣，傷寒頭痛，上氣，腰痛。</p>
<p>蕙草。生下濕地，三月采，陰乾，脫節者良。</p>
<h3>船虹</h3>
<p>味酸，無毒。主下氣，止煩滿。可作浴湯，藥色黃。生蜀郡，立秋取。</p>
<h3>嬰桃</h3>
<p>味辛，平，無毒。主止泄腸　，除熱，調中，益脾氣，令人好色美志。一名牛桃，一英豆。實大如麥，多毛。四月采，陰乾。</p>
<h3>五色符</h3>
<p>味苦，微溫。主治咳逆，五臟邪氣，調中，益氣，明目，殺虱。青符、白符、赤符符、黃符，各隨色補其臟。白符一名女木。生巴郡山谷。</p>
<p>〔附〕</p>
<h3>龍腦香及膏香</h3>
<p>味辛、苦，微寒，一云溫，平，無毒。主治心腹邪氣，風濕積聚，耳膚翳。出婆律國，形似白松脂，作杉木氣，明淨者善；久經風日，或如雀米炭、相思子貯之，則不耗。膏，主耳聾。</p>
<p>又，龍腦治婦人難產，取龍腦研末少許，以新汲水調服，立瘥。</p>
<h3>石劇</h3>
<p>味甘，無毒。主渴消中。</p>
<h3>路石</h3>
<p>味甘，酸，無毒。主治心腹，止汗生肌，酒痂，益氣，耐寒，實骨髓。一名陵石。生石上，天雨獨干，日出獨濡，花黃，莖赤黑。三歲一實，實赤如麻子。五月、十月采莖葉陰乾。</p>
<h3>曠石</h3>
<p>味甘，平，無毒；主益氣，養神，除熱，止渴；生江南，如石草。</p>
<h3>敗石</h3>
<p>味苦，無毒。主治渴、痹。</p>
<h3>越砥</h3>
<p>味甘，無毒。主治目盲，止痛，除熱瘙。</p>
<h3>夏台</h3>
<p>味甘。主百疾，濟絕氣。</p>
<h3>鬼目</h3>
<p>味酸，平，無毒。主明目。一名來甘。實赤如五味，十月采。</p>
<h3>馬唐</h3>
<p>味甘，寒。主調中，明耳目。一名羊麻，一名羊粟。生下濕地，莖有節，節生根，五采。</p>
<h3>羊乳</h3>
<p>味甘，溫，無毒。主治頭眩痛，益氣，長肌肉。一名地黃。三月采，立夏後母死。</p>
<h3>犀洛</h3>
<p>味甘，無毒。主治癃。一名星洛，一名泥洛。</p>
<h3>雀翹</h3>
<p>味鹹。主益氣，明目。一名去母，一名更生。生藍中，葉細黃，莖赤有刺。四月實，黃中黑；五月采，陰乾。</p>
<h3>雞涅</h3>
<p>味甘，平，無毒。主明目，目中寒風，諸不足，水腹，邪氣，補中，止泄利，女子白一名陰洛。生雞山，采無時。</p>
<h3>相烏</h3>
<p>味苦。主治陰痿。一名烏葵，如蘭香，赤莖。生山陽，五月十五日采，陰乾。</p>
<h3>神護草</h3>
<p>可使獨守，叱咄人，寇盜不敢入門。生常山北共，八月采。</p>
<h3>黃護草</h3>
<p>無毒。主治痹，益氣，令人嗜食。生隴西。</p>
<h3>天雄草</h3>
<p>味甘，溫，無毒。主益氣，陰痿。生山澤中，狀如蘭，實如大豆，赤色。</p>
<h3>益決草</h3>
<p>味辛，溫，無毒。主治咳逆肺傷。生山陰，根如細辛。</p>
<h3>異草</h3>
<p>味甘，無毒，主治痿痹，寒熱，去黑子。生蘺木上，葉如葵，莖傍有角，汁白。</p>
<h3>勒草</h3>
<p>味甘，無毒。主治瘀血，止精，溢盛氣。一名黑草。生山谷，如栝蔞。</p>
<h3>英草華</h3>
<p>味辛，平，無毒。主治痹氣，強陰，治面勞疽，解煩，堅筋骨，治風頭。可作沐藥蔓木上。一名鹿英。九月采，陰乾。</p>
<h3>吳葵華</h3>
<p>味鹹，無毒。主理心氣不足。</p>
<p>〔附〕</p>
<h3>北荇華</h3>
<p>味苦，無毒。主治氣脈溢。一云芹華。</p>
<h3>華</h3>
<p>味甘，無毒。主治上氣，解煩，堅筋骨。</p>
<h3>節華</h3>
<p>味苦，無毒。主治傷中，痿痹，溢腫。皮，主治脾中客熱氣。一名山節，一名達節，名通柒。十月采，曝乾，</p>
<h3>新雉木</h3>
<p>味苦，香，溫，無毒。主治風頭，眩痛，可作沐藥。七月采，陰乾，實如桃。</p>
<h3>合新木</h3>
<p>味辛，平，無毒。解心煩，止瘡痛。生遼東。</p>
<h3>俳蒲木</h3>
<p>味甘，平，無毒。主少氣，止煩。生山陵。葉如柰，實赤，三核。</p>
<h3>遂陽木</h3>
<p>味甘，無毒。主益氣。生山中。如白楊葉，三月實，十月熟赤，可食。</p>
<h3>荻皮</h3>
<p>味苦。止消渴，去白蟲，益氣。生江南。如松葉，有別刺，實赤黃。十月采。</p>
<h3>蕙實</h3>
<p>味辛。主明目，補中。根莖中湯，治傷寒，寒熱，出汗，中風，面腫，消渴，熱中，水，生魯山平澤。</p>
<h3>白並</h3>
<p>味苦，無毒。主治肺咳上氣，行五臟，令百病不起。一名王蕭，一名箭悍。葉如小竹根黃白皮。生山陵。三月、四月采根，曝乾。</p>
<h3>赤涅</h3>
<p>味甘，無毒。主治疰，崩中，止血，益氣。生蜀郡山石陰地濕處。采無時。</p>
<h3>黃秫</h3>
<p>味苦，無毒。主止心煩，汗出。生如桐，根黃。</p>
<h3>黃白支</h3>
<p>生山陵。三月、四月采根，曝乾。</p>
<h3>紫藍</h3>
<p>味鹹，平，無毒。主食肉得毒，能消除之。</p>
<h3>累根</h3>
<p>主緩筋，令不痛。</p>
<h3>良達</h3>
<p>主治齒痛，止渴，輕身。生山陰，莖蔓延，大如葵，子滑小。</p>
<h3>委蛇</h3>
<p>味甘，平，無毒。主治消渴，少氣，令人耐寒。生人家園中，大枝長須，多葉兩兩相子如芥子。</p>
<h3>麻伯</h3>
<p>味酸，無毒。主益氣，出汗。一名君莒，一名衍草，一名道止，一名自死。生平陵，蘭，葉黑濃，白裹莖，實赤黑。九月采根。</p>
<h3>類鼻</h3>
<p>味酸，溫，無毒。主治痿痹。一名類重。生田中高地，葉如天名精、美根。五月采。</p>
<h3>逐折</h3>
<p>殺鼠，益氣，明目。一名百合。濃實，生木間，莖黃，七月實黑如大豆。</p>
<h3>並苦</h3>
<p>主治咳逆上氣，益肺氣，安五臟。一名　薰，一名玉荊。三月采，陰乾。</p>
<h3>索干</h3>
<p>味苦，無毒。主易耳。一名馬耳。</p>
<h3>疥柏</h3>
<p>味辛，溫，無毒。主輕身，治痹。五月采，陰乾，生上黨。</p>
<h3>常更之生</h3>
<p>味苦，平，無毒。主明目。實有刺，大如稻米。</p>
<h3>城裡赤柱</h3>
<p>味辛，平。治婦人漏血，白沃，陰蝕，濕痹，邪氣，補中，益氣。生晉平陽。</p>
<h3>鳧葵</h3>
<p>味甘，冷，無毒。主消渴，去熱淋，利小便。生水中，即荇菜也，一名接余。五月</p>
<p>〔附〕</p>
<h3>白菀</h3>
<p>一名織女菀，一名苑。生漢中川穀，或山陽。正月、二月采，陰乾。</p>
<h3>零羊角</h3>
<p>味苦，微寒，無毒。主治傷寒，時氣寒熱，熱在肌膚，溫風注毒伏在骨間，除郁，狂越，僻謬，及食噎不通。久服強筋骨，輕身，起陰，益氣，利丈夫。生石城山及華采無時。</p>
<p>《本經》原文：零羊角，味鹹寒。主明目，益氣，起陰，去惡血注下，辟蠱毒惡鬼不祥，安心氣，常不魘</p>
<h3>羊角</h3>
<p>味苦，微寒，無毒。主治百節中結氣，風頭痛及蠱毒、吐血，婦人產後余痛。燒之魅，辟虎野狼。生河西。取無時，勿使中濕，濕即有毒。（菟絲為之使。）羊髓，味甘，溫毒。主治男女傷中，陰氣不足，利血脈，益經氣，以酒服之。</p>
<h3>青羊膽</h3>
<p>治青盲，明目。</p>
<h3>羊肺</h3>
<p>補肺，治咳嗽。</p>
<h3>羊心</h3>
<p>止憂恚膈氣。</p>
<h3>羊腎</h3>
<p>補腎氣，益精髓。</p>
<h3>羊齒</h3>
<p>治小兒羊癇，寒熱。三月三日取之。</p>
<h3>羊肉</h3>
<p>味甘，大熱，無毒。主緩中，字乳余疾，及頭腦大風汗出，虛勞寒冷，補中益氣，安止驚。</p>
<h3>羊骨</h3>
<p>熱，治虛勞，寒中，羸瘦。</p>
<h3>羊屎</h3>
<p>燔之，治小兒泄痢，腸鳴驚癇。</p>
<p>《本經》原文：　羊角，味鹹，溫。主青盲明目，殺疥蟲，止寒泄，辟惡鬼虎野狼，止驚悸。久服，安心益氣</p>
<h3>犀角</h3>
<p>味鹹，酸，微寒，無毒。主治傷寒，溫疫，頭痛，寒熱，諸毒瓦斯。久服駿健。生永昌益州。（松脂為之使，惡　菌、雷丸。）</p>
<p>《本經》原文：犀角，味苦，寒。主百毒蟲注，邪鬼瘴氣，殺鉤吻、鴆羽、蛇毒，除邪，不迷惑魘寐。久服</p>
<h3>牛角鰓</h3>
<p>燔之，味苦，無毒。水牛角，治時氣寒熱頭痛。髓，味甘，溫，無毒。主安五臟，焦，溫骨髓，補中，續絕傷，益氣，止泄利，消渴，以酒服之。膽，味苦，大寒。除心腹熱渴，利，口焦燥，益目精。心，治虛忘。肝，主明目。腎，主補腎氣，益精。齒，治小癇。肉，味甘，平，無毒。治消渴，止　泄安中益氣，養脾胃，自死者不良。屎，寒腫，惡氣，用塗門戶著壁者。燔之，治鼠　，惡瘡。黃犍牛、烏牯牛溺，治水腫，腹脹滿，利小便。</p>
<p>又，牛鼻中木卷，治小兒癇。草卷燒灰，主治小兒鼻下瘡。</p>
<p>《本經》原文：牛角　，下閉血瘀血疼痛，女人帶下血。髓，補中，填骨髓。久服增年。</p>
<p>膽，可丸藥。</p>
<h3>白馬莖</h3>
<p>味甘，無毒。主治小兒驚癇。陰乾百日。</p>
<h3>懸蹄</h3>
<p>止衄血，內漏，齲齒。生云中。</p>
<h3>白馬蹄</h3>
<p>治婦人漏下，白崩。</p>
<h3>赤馬蹄</h3>
<p>治赤崩並溫。</p>
<h3>齒</h3>
<p>治小兒馬癇。</p>
<h3>頭膏</h3>
<p>主生發。　毛，主女子崩中赤白。</p>
<h3>心</h3>
<p>治喜忘。肺，治寒熱，小兒莖；。肉味辛、苦，冷。主除熱下氣，長筋，強腰脊，壯健，強意利志，輕身不飢。脯，治寒熱痿痹。屎，名馬通，微溫。治婦人崩中，止渴，及吐下血，鼻衄，金創，止血。頭骨，治喜眠，令人不睡。溺，味辛，微寒。治消渴，破症堅積聚，男子伏梁積疝，婦人瘕疾。銅器承飲之。</p>
<p>又，馬毛，主小兒驚癇。</p>
<p>《本經》原文：白馬莖，味鹹，平。主傷中脈絕，陰不起，強志，益氣，長肌肉肥健，生子。眼，主驚癇腹生平澤。</p>
<h3>牡狗陰莖</h3>
<p>無毒。六月上伏取，陰乾百日。膽，主痂瘍，惡瘡。心，治憂恚氣，除邪。腦，痹痛，療下部　瘡，鼻中息肉。齒，治癲癇，寒熱，卒風痱，伏日取之。頭骨，主金血。四腳蹄，煮飲之，下乳汁。白狗血，味鹹，無毒。治癲疾發作。肉，味鹹、酸，安五臟，補絕傷，輕身益氣。屎中骨，治寒熱，小兒驚癇。</p>
<p>又，狗骨灰，主下痢，生肌，敷馬瘡。烏狗血，主產難橫生，血上蕩心者。</p>
<p>《本經》原文：牡狗陰莖，味鹹，平。主傷中，陰痿不起，令強熱大，生子，除女子帶下十二疾。一名狗精</p>
<h3>鹿茸</h3>
<p>味酸，微溫，無毒。主治虛勞洒洒如瘧，羸瘦，四肢酸疼，腰脊痛，小便利，泄精，血，破留血在腹，散石淋癰腫，骨中熱疽，養骨，安胎下氣，殺鬼精物，不可近陰令痿。</p>
<p>久服耐老。四月、五月解角時取，陰乾，使時燥。（麻勃為之使。）</p>
<h3>角</h3>
<p>味鹹，無毒。除少腹血痛，腰痛折傷惡血，益氣。七月取。（杜仲為之使。）</p>
<h3>髓</h3>
<p>味甘，溫。治丈夫女子傷中脈絕，筋急，咳逆。以酒服之。腎，平，主治腎氣。肉，溫補中，強五臟，益氣力。生者治口僻，割薄之。</p>
<p>《本經》原文：鹿茸，味甘，溫。主漏下惡血，寒熱驚癇，益氣強志，生齒不老。角，主惡瘡癰腫，逐邪惡</p>
<h3>獐骨</h3>
<p>微溫。主治虛損，泄精。肉，溫補益五臟。髓，益氣力，悅澤人面。</p>
<h3>虎骨</h3>
<p>主除邪惡氣，殺鬼疰毒，止驚悸，治惡瘡，鼠　，頭骨尤良。膏，治狗嚙瘡。爪，辟魅。肉，治惡心欲嘔，益氣力。</p>
<p>又，屎，治惡瘡。其眼睛，治癲。其屎中骨灰，治火瘡。牙，治丈夫陰頭瘡及疽　。鼻，治</p>
<h3>豹肉</h3>
<p>味酸，平，無毒。主安五臟，補絕傷，輕身益氣，久服，利人。</p>
<h3>狸骨</h3>
<p>味甘，溫，無毒。主治風疰、尸疰、鬼疰，毒瓦斯在皮中淫躍如針刺者，心腹痛走無常及鼠　惡瘡。頭骨尤良。肉亦治諸疰。陰莖，治月水不通，男子陰　。燒之，以</p>
<h3>兔頭骨</h3>
<p>平，無毒。主治頭眩痛癲疾。骨，治熱中消渴；腦治凍瘡；肝治目暗。肉味辛，平毒。主補中益氣。</p>
<h3>雉肉</h3>
<p>味酸，微寒，無毒。主補中，益氣力，止泄利，除蟻　。</p>
<h3>鷹矢白</h3>
<p>主治傷撻滅瘢。</p>
<h3>雀卵</h3>
<p>味酸，溫，無毒。主下氣，男子陰痿不起，強之令熱，多精有子。腦，治耳聾。頭血治雀盲。雄雀矢，治目痛，決癰癤，女子帶下，溺不利，除疝瘕。五月取之良。</p>
<p>又，雀矢和男首子乳，如薄泥，點目中　肉赤脈貫瞳子上者，即消。</p>
<h3>鸛骨</h3>
<p>味甘，無毒。主治鬼蠱，諸疰毒，五尸，心腹疾。</p>
<h3>雄鵲肉</h3>
<p>味甘，寒，無毒。主治石淋，消結熱。可燒作灰，以石投中散解者，是雄也。</p>
<h3>伏翼</h3>
<p>無毒。主癢痛，治淋，利水道。生太山及人家屋間。立夏後采陰乾。（莧實、雲實為使。）</p>
<p>《本經》原文：伏翼，味鹹，平。主目瞑明目，夜視有精光。久服，令人熹樂，媚好無憂。一名蝙蝠。生</p>
<h3>皮</h3>
<p>無毒。主治腹痛，疝積，亦燒為灰，酒服之。生楚山田野。取無時，勿使中濕。（得良，畏桔梗、麥門冬。）</p>
<p>《本經》原文：　皮，味苦，平。主五痔陰蝕、下血赤白、五色血汁不止，陰腫，痛引腰背，酒煮殺之。生</p>
<h3>石龍子</h3>
<p>有小毒。一名山龍子，一名守宮，一名石蜴。生平陽及荊山山石間。五月取，著石干。（惡硫黃、斑蝥、蕪荑。）</p>
<p>《本經》原文：石龍子，味鹹，寒。主五癃邪結氣，破石淋，下血，利小便水道。一名蜥蜴。生川穀。</p>
<h3>露蜂房</h3>
<p>味鹹，有毒。主治蜂毒，毒腫。一名百穿，一名蜂　。生　。七月七日采，陰乾乾薑、丹參、黃芩、芍藥、牡蠣。）</p>
<p>又合亂髮、蛇皮三味合燒灰，酒服方寸匕，日二，治諸惡疽、附骨癰，根在臟腑，歷節腫出</p>
<p>《本經》原文：露蜂房，味苦，平。主驚癇螈　，寒熱邪氣，癲疾，鬼精蠱毒，腸痔。</p>
<p>火熬之良。一名蜂</p>
<h3>樗雞</h3>
<p>有小毒。主治腰痛，下氣，強陰多精，不可近目。生河內樗樹上。七月采，曝乾。</p>
<p>《本經》原文：樗雞，味苦，平。主心腹邪氣，陰痿，益精強志，生子，好色，補中輕身。生川穀。</p>
<h3>蚱蟬</h3>
<p>味甘，無毒。主治驚悸，婦人乳難，胞衣不出，又墮胎。五月采，蒸干之，勿令蠹。</p>
<p>又，殼名枯蟬，一名伏　，主小兒癇，女人生子不出，灰服之，主久痢。</p>
<p>《本經》原文：蚱蟬，味鹹，寒。主小兒驚癇夜啼，癲病寒熱。生楊柳上。</p>
<h3>白僵蠶</h3>
<p>味辛，平，無毒。主治女子崩中赤白，產後余痛，滅諸瘡瘢痕。生穎川。四月取自勿令中濕，濕有毒，不可用。</p>
<p>又，末之，封丁腫，根當自出，極效。</p>
<p>《本經》原文：白僵蠶，味鹹。主小兒驚癇夜啼，去三蟲，滅黑　，令人面色好，男子陰瘍病。生平澤。</p>
<h3>桑螵蛸</h3>
<p>味甘，無毒。主治男子虛損，五臟氣微，夢寐失精，遺溺。久服益氣，養神。螳螂二月、三月采，當火炙，不爾令人泄。（得龍骨治泄精，畏旋覆花。）</p>
<p>《本經》原文：桑螵蛸，味鹹，平。主傷中，疝瘕，陰痿，益精生子，女子血閉腰痛，通五淋，利小便水道</p>
<h3>蟲</h3>
<p>有毒。一名土鱉。生河東，及沙中，人家牆壁下土中濕處。十月取曝乾。（畏皂莢、蒲。）</p>
<p>《本經》原文：　蟲，味鹹，寒。主心腹寒熱洗洗，血積　瘕，破堅，下血閉，生子大良。一名地鱉。生川</p>
<h3>蠐螬</h3>
<p>微寒，有毒。主治吐血在胸腹不去，及破骨　折，血結，金瘡內塞，產後中寒，下乳一名KT　齊，一名　齊。生河內及人家積糞草中。取無時，反行者良。（蜚虻為之使，惡附子。）</p>
<p>《本經》原文：蠐螬，味鹹，微溫。主惡血血瘀，御覽作血痹痹氣破折，血在脅下堅滿痛，月閉，目中淫膚</p>
<h3>蛞蝓</h3>
<p>無毒。一名土蝸，一名附蝸。生太山及陰地沙石垣下。八月取。</p>
<p>《本經》原文：蛞蝓，味鹹，寒。主賊風　僻，軼筋及脫肛，驚癇攣縮。一名陵蠡。生池澤。</p>
<h3>海蛤</h3>
<p>味鹹，無毒。主治陰痿。生東海。（蜀漆為之使，畏狗膽、甘遂、芫花。）</p>
<p>《本經》原文：海蛤，味苦，平。主咳逆上氣，喘息煩滿，胸痛寒熱。一名魁蛤。</p>
<h3>文蛤</h3>
<p>味鹹，平，無毒。主治咳逆胸痹，腰痛脅急，鼠　，大孔出血，崩中漏下。生東海，有文，取無時。</p>
<p>《本經》原文：文蛤，主惡瘡蝕，五痔。</p>
<h3>鯉魚膽</h3>
<p>無毒。肉，味甘，治咳逆上氣，黃膽，止渴。生者，治水腫腳滿，下氣。骨，治女下赤白。齒，治石淋。生九江取無時。</p>
<p>《本經》原文：鯉魚膽，味苦，寒。主目熱赤痛，青盲，明目。久服，強悍益志氣。生池澤。</p>
<h3>蠡魚</h3>
<p>無毒。主治五痔，有瘡者不可食，令人瘢白。生九江，取無時。</p>
<p>又，蠡魚腸及肝，主久敗瘡中蟲。</p>
<p>《本經》原文：蠡魚，味甘，寒。主濕痹，面目浮腫，下大水。一名　魚。生池澤。</p>
<h3>龜甲</h3>
<p>味甘，有毒。主治頭瘡難燥，女子陰瘡及驚恚氣，心腹痛不可久立，骨中寒熱，傷寒復，或肌體寒熱欲死，以作湯良。久服益氣資智，亦使人能食。生南海及湖水中，采無時，勿令中濕，中濕即有毒。（惡沙參、蜚蠊。）</p>
<p>《本經》原文：龜甲，味鹹，平。主漏下赤白，破　瘕　瘧，五痔陰蝕，濕痹四肢重弱，小兒囟不合。久服</p>
<h3>鱉甲</h3>
<p>無毒。主治溫瘧，血瘕，腰痛，小兒脅下堅。肉，味甘，治傷中，益氣，補不足。生丹陽，取無時。（惡礬石。）</p>
<p>《本經》原文：鱉甲，味鹹，平。主心腹症瘕，堅積寒熱，去痞息肉，陰蝕痔惡肉。生池澤。</p>
<h3>魚甲</h3>
<p>有毒。主治五邪生南海，取無時。（</p>
<p>《本經》原文：　魚甲，味辛，微溫。主心腹症瘕，伏堅積聚，寒熱，女子崩中下血五色，小腹陰中相引痛</p>
<h3>烏賊魚骨</h3>
<p>無毒。主治驚氣入腹，腹痛環臍，陰中寒腫，令人有子，又止瘡多膿汁不燥。肉平，主益氣強志。生東海，取無時。（惡白蘞、白芨、附子。）</p>
<p>《本經》原文：烏賊魚骨，味鹹，微溫。主女子漏下赤白，經汁血閉，陰蝕腫痛，寒熱症瘕，無子。生池澤</p>
<h3>蟹</h3>
<p>有毒。解結散血，愈漆瘡，養筋益氣。爪，主破胞，墮胎。生伊芳洛諸水中，取無時。（莨菪毒。）</p>
<p>《本經》原文：蟹，味鹹，寒。主胸中邪氣，熱結痛，　僻面腫，敗漆，燒之致鼠。生池澤。</p>
<h3>鰻鱺魚</h3>
<p>味甘，有毒。主治五痔，瘡　，殺諸蟲。</p>
<h3>原蠶蛾</h3>
<p>雄者，有小毒。主益精氣，強陰道，交接不倦，亦止精。屎，溫，無毒。主治腸鳴中，消渴，風痹，癮疹。</p>
<h3>雄黃蟲</h3>
<p>主明目，辟兵不祥，益氣力。狀如　。</p>
<h3>天社蟲</h3>
<p>味甘，無毒。主治絕孕，益氣。狀如蜂，大腰，食草木葉。三月采。</p>
<h3>蝸離</h3>
<p>味甘，無毒。主燭館，明目。生江夏。</p>
<h3>梗雞</h3>
<p>味甘，無毒。治痹。</p>
<h3>梅實</h3>
<p>無毒。止下痢，好唾，口乾。生漢中，五月采，火干。</p>
<p>又，梅根，療風痹，出土者殺人。梅實，利筋脈，去痹。</p>
<p>《本經》原文：梅實，味酸，平。主下氣，除熱煩滿，安心，肢體痛，偏枯不仁，死肌，去</p>
<h3>榧實</h3>
<p>味甘，無毒。主治五痔，去三蟲，蠱毒，鬼注。生永昌。</p>
<h3>柿</h3>
<p>味甘，寒，無毒。主通鼻耳氣，腸　不足。</p>
<p>又，火柿，主殺毒，療金瘡，火瘡，生肉，止痛。軟熟柿，解酒熱毒，止口乾，壓胃間熱。</p>
<h3>木瓜實</h3>
<p>味酸，溫，無毒。主治濕痹邪氣，霍亂，大吐下，轉筋不止。其枝亦可煮用。</p>
<h3>甘蔗</h3>
<p>味甘，平，無毒。主下氣，和中補脾氣，利大腸。</p>
<h3>芋</h3>
<p>味辛，平，有毒。主寬腸胃，充肌膚，滑中。一名土芝。</p>
<h3>烏芋</h3>
<p>味苦、甘，微寒，無毒。主治消渴，痹熱，熱中，益氣。一名藉姑，一名水萍。二月葉，葉如芋。三月三日采根，曝乾。</p>
<h3>蓼實</h3>
<p>無毒。葉歸舌，除大小腸邪氣，利中，益志。生雷澤。</p>
<p>《本經》原文：蓼實，味辛，溫。主明目，溫中，耐風寒，下水氣，面目浮腫，癰瘍。</p>
<p>馬蓼，去腸中蛭蟲，</p>
<h3>蔥實</h3>
<p>無毒。蔥白，平。主治寒傷，骨肉痛，喉痹不通，安胎，歸目，除肝邪氣，安中，利臟，益目精，殺百藥毒。蔥根，主治傷寒頭痛。蔥汁，平，溫。主溺血，解藜蘆毒。</p>
<p>《本經》原文：蔥實，味辛，溫。主明目，補中不足。其莖，可作湯，主傷寒寒熱，出汗，中風面目腫。</p>
<h3>薤</h3>
<p>味苦，無毒。歸骨，菜芝也。除寒熱，去水氣，溫中，散結，利病患，諸瘡中風寒水腫以塗之。生魯山。</p>
<p>《本經》原文：薤，味辛，溫。主金瘡瘡敗，輕身不飢耐老。生平澤。</p>
<h3>韭</h3>
<p>味辛，酸，溫，無毒。歸心，安五臟，除胃中熱，利病患，可久食。子，主治夢泄精，溺白。根，主養發。</p>
<h3>白荷</h3>
<p>微溫。主治中蠱及瘧。</p>
<h3>菜</h3>
<p>味甘、苦，大寒。主治時行壯熱，解風熱毒。</p>
<h3>蘇</h3>
<p>味辛，溫。主下氣，除寒中，其子尤良。</p>
<h3>水蘇</h3>
<p>無毒。主治吐血、衄血、血崩。一名雞蘇，一名勞祖，一名芥苴，一名瓜苴，一名道華。生九真。七月采。</p>
<p>《本經》原文：水蘇，味辛，微溫。主下氣殺穀，除飲食，辟口臭，去毒，辟惡氣。久服通神明，輕身耐老</p>
<h3>香薷</h3>
<p>味辛，微溫。主治霍亂、腹痛、吐下、散水腫。</p>
<h3>大豆黃卷</h3>
<p>無毒。主治五臟胃氣結積，益氣，止毒，去黑　，潤澤皮毛。</p>
<h3>生大豆</h3>
<p>味甘，平。逐水脹，除胃中熱痹，傷中，淋露，下瘀血，散五臟結積、內寒，殺烏久服令人身重。熬屑，味甘。主治胃中熱，去腫，除痹，消穀，止腹脹。生太山，九（惡五參、龍膽，得前胡、烏喙、杏仁、牡蠣良。）</p>
<p>《本經》原文：大豆黃卷，味甘，平。主經痹，筋攣KT　痛。生大豆，塗癰腫，煮汁飲，殺鬼毒，止痛。</p>
<h3>赤小豆</h3>
<p>味甘，酸，平，溫，無毒。主治寒熱、熱中、消渴，止泄，利小便，吐逆，卒　，滿。</p>
<p>又，葉名藿，主治小便數，去煩熱。</p>
<p>《本經》原文：赤小豆，主下水，排癰腫膿血。生平澤。</p>
<h3>豉</h3>
<p>味苦，寒，無毒。主治傷寒、頭痛、寒熱、瘴氣、惡毒、煩躁、滿悶、虛勞、喘吸、兩腳疼冷，又殺六畜胎子諸毒。</p>
<h3>大麥</h3>
<p>味鹹，溫、微寒，無毒。主治消渴，除熱，益氣，調中。又云令人多熱，為五穀長。</p>
<p>蜜為之使。）</p>
<h3>麥</h3>
<p>味甘，微寒，無毒。主輕身，除熱，久服令人多力健行。以作　，溫。消食和中。</p>
<h3>小麥</h3>
<p>味甘，微寒，無毒。主除熱，止燥渴、咽乾，利小便，養肝氣，止漏血唾血。以作曲溫。消穀，止痢。以作面，溫，不能消熱，止煩。</p>
<h3>青梁米</h3>
<p>味甘，微寒，無毒。主治胃痹，熱中，消渴，止泄痢，利小便，益氣，補中，輕身年。</p>
<h3>黃梁米</h3>
<p>味甘，平，無毒。主益氣，和中，止泄。</p>
<h3>白梁米</h3>
<p>味甘，微寒，無毒。主除熱，益氣。</p>
<h3>粟米</h3>
<p>味鹹，微寒，無毒。主養腎氣，去胃脾中熱，益氣。陳者，味苦，主治胃熱、消渴，小便。</p>
<h3>丹黍米</h3>
<p>味苦，微溫，無毒。主治咳逆、霍亂，止泄，除熱，止煩渴。</p>
<h3>孽米</h3>
<p>味苦，無毒。主治寒中，下氣除熱。</p>
<h3>秫米</h3>
<p>味甘，微寒。止寒熱，利大腸，治漆瘡。</p>
<h3>陳廩米</h3>
<p>味鹹，酸，溫，無毒。主下氣，除煩渴，調胃，止泄。</p>
<h3>酒</h3>
<p>味苦，甘辛，大熱，有毒。主行藥勢，殺邪惡氣。</p>
<h2>下品‧卷第三</h2>
<h3>青琅</h3>
<p>無毒。主治白禿，侵淫在皮膚中。煮煉服之，起陰氣，可化為丹。一名青珠。</p>
<p>采無時。（殺錫毒，得水銀良，畏烏雞骨。）</p>
<p>《本經》原文：青琅　，味辛，平。主身癢，火瘡癰傷，疥瘙死肌。一名石珠。生平澤。</p>
<h3>膚青</h3>
<p>味鹹，無毒。不可久服，令人瘦。一名推青，一名推石。生益州。</p>
<p>《本經》原文：膚青，味辛，平。主蠱毒及蛇菜肉諸毒，惡瘡。生川穀。</p>
<h3>石</h3>
<p>味甘，生溫、熟熱，有毒。主明目，下氣，除膈中熱，止消渴，益肝氣，破積聚、痼腹痛，去鼻中息肉。久服令人筋攣。火煉百日，服一刀圭，不煉服，則殺人及百獸。一名石，一名大白石，一名澤乳，一名食鹽。生漢中山谷及少室，采無時。（得火良，棘針之使，惡毒公、　矢、虎掌、細辛，畏水也。）</p>
<p>《本經》原文：　石，味辛，大熱。主寒熱鼠　，蝕瘡死肌風痹，腹中堅癖邪氣，除熱。</p>
<p>一名青分石，一名</p>
<h3>方解石</h3>
<p>味苦、辛，大寒，無毒。主治胸中留熱、結氣，黃膽，通血脈，去蠱毒。一名黃石方山，采無時。（惡巴豆。）</p>
<h3>蒼石</h3>
<p>味甘，平，有毒。主治寒熱，下氣，　蝕，殺飛禽鼠。生西域，采無時。</p>
<h3>土陰孽</h3>
<p>味鹹，無毒。主治婦人陰蝕，大熱，干痂。生高山崖上之陰，色白如脂，采無時。</p>
<h3>代赭</h3>
<p>味甘，無毒。主帶下百病，產難，胞衣不出，墮胎，養血氣，除五臟血脈中熱，血痹瘀，大人小兒驚氣入腹，及陰痿不起。一名血師。生齊國，赤紅青色，如雞冠有澤，染爪不渝者良，采無時。（畏天雄。）</p>
<p>《本經》原文：代赭，味苦，寒。主鬼注賊風蠱毒，殺精物惡鬼腹中毒邪氣，女子赤沃漏下。一名須丸。生</p>
<h3>鹵鹹</h3>
<p>味鹹，無毒。去五臟腸胃留熱，結氣，心下堅，食已嘔逆，喘滿，明目，目痛，生河鹽池。</p>
<h3>戎鹽</h3>
<p>味鹹，寒，無毒。主心腹痛，溺血，吐血，齒舌血出。一名胡鹽。生胡鹽山，及西羌地，及酒泉福祿城東南角。北海青南海赤。十月采。</p>
<h3>大鹽</h3>
<p>味甘、咸，寒，無毒。主腸胃結熱，喘逆，吐胸中病。生邯鄲及河東。（漏蘆為之使</p>
<p>《本經》原文：鹵鹹，味苦，寒。主大熱、消渴、狂煩，除邪及下蠱毒，柔肌膚。戎鹽，主明目目痛，益氣，堅肌骨，去毒蠱。大鹽，令人吐。生池澤。</p>
<h3>特生石</h3>
<p>味甘，溫，有毒。主明目，利耳，腹內絕寒，破堅結及鼠　，殺百蟲惡獸。久服一名倉　石，一名　石，一名鼠毒。生西域采無時。（火煉之良。畏水。）</p>
<h3>白堊</h3>
<p>味辛，無毒。止泄痢，不可久服，傷五臟，令人羸瘦。一名白善。生邯鄲，采無時。</p>
<p>《本經》原文：白堊，味苦，溫。主女子寒熱症瘕，月閉積聚，陰腫痛，漏下無子。生山谷。</p>
<h3>粉錫</h3>
<p>無毒。去鱉瘕，治惡瘡，墮胎，止小便利。</p>
<p>《本經》原文：粉錫，味辛，寒。主伏尸毒螫，殺三蟲。一名解錫。</p>
<h3>銅鏡鼻</h3>
<p>主治伏尸，邪氣。生桂陽。</p>
<p>《本經》原文：錫銅鏡鼻，主女子血閉症瘕，伏腸絕孕。生山谷。</p>
<h3>銅弩牙</h3>
<p>主治婦人產難，血閉，月水不通，陰陽隔塞。</p>
<h3>金牙</h3>
<p>味鹹，無毒。主治鬼疰、毒蠱、諸疰。生蜀郡，如金色者良。</p>
<h3>鍛石</h3>
<p>主治髓骨疽。一名希灰。生中山。</p>
<p>又，療金瘡，止血大效。</p>
<p>《本經》原文：鍛石，味辛，溫。主疽瘍疥瘙，熱氣，惡瘡癩疾，死肌墮眉，殺痔蟲，去黑子息肉。一名惡</p>
<h3>冬灰</h3>
<p>生方穀。</p>
<p>《本經》原文：冬灰，味辛，微溫。主黑子，去疣、息肉、疽蝕、疥瘙。一名藜灰。生川澤。</p>
<h3>鍛灶灰</h3>
<p>主治症瘕堅積，去邪惡氣。</p>
<h3>伏龍肝</h3>
<p>味辛，微溫。主治婦人崩中，吐下血，止咳逆，止血，消癰腫毒瓦斯。</p>
<h3>東壁土</h3>
<p>主治下部　字有瘡，脫肛。</p>
<h3>紫石華</h3>
<p>味甘，平，無毒。主治渴，去小腸熱。一名茈石華。生中牛山陰，采無時。</p>
<h3>白石華</h3>
<p>味辛，無毒。主治癉消渴，膀胱熱。生液北鄉北邑山，采無時。</p>
<h3>黑石華</h3>
<p>味甘，無毒。主陰痿，消渴，去熱，治月水不利。生弗其勞山陰石間，采無時。</p>
<h3>黃石華</h3>
<p>味甘，無毒。主治陰痿，消渴，膈中熱，去百毒。生液北山，黃色，采無時。</p>
<h3>封石</h3>
<p>味甘，無毒。主治消渴，熱中，女子疽蝕。生常山及少室，采無時。</p>
<h3>紫加石</h3>
<p>味酸。主痹血氣。一名赤英，一名石血。赤無理。生邯鄲山，如爵茈。二月采。</p>
<h3>大黃</h3>
<p>（將軍，）大寒，無毒。平胃下氣，除痰實，腸間結熱，心腹脹滿，女子寒血閉脹，小腹所</p>
<p>《本經》原文：大黃，味苦，寒。主下瘀血血閉，寒熱，破　瘕積聚，留飲宿食，蕩滌腸胃，推陳致新，通</p>
<h3>蜀椒</h3>
<p>大熱，有毒。主除五臟六腑寒冷，傷寒，溫瘧，大風，汗不出，心腹留飲、宿食，止、下利，泄精，女子字乳余疾，散風邪，瘕結，水腫，黃膽，鬼疰，蠱毒，殺蟲、魚毒久服開腠理，通血脈，堅齒發，調關節，耐寒暑，可作膏藥。多食令人乏氣。口一名巴椒，一名　。生武都及巴郡。八月采實，陰乾。（杏仁為之使，畏</p>
<p>《本經》原文：蜀椒，味辛，溫。主邪氣咳逆，溫中，逐骨節皮膚死肌，寒濕痹痛，下氣。久服之，頭不白</p>
<h3>蔓椒</h3>
<p>無毒。一名豬椒，一名彘椒，一名狗椒。生云中山及丘塚間。采莖、根煮釀酒。</p>
<p>《本經》原文：蔓椒，味苦，溫。主風寒濕痹，歷節疼，除四肢厥氣，膝痛。一名豕椒。</p>
<p>生川穀。</p>
<h3>莽草</h3>
<p>味苦，有毒。主治喉痹不通，乳難，頭風癢，可用沐，勿近目。一名　，一名春草。</p>
<p>生上穀及宛朐。五月采葉，陰乾。</p>
<p>《本經》原文：莽草，味辛，溫。主風頭癰腫，乳癰疝瘕，除結氣疥瘙，殺蟲魚。生山谷。</p>
<h3>鼠李</h3>
<p>皮味苦，微寒，無毒。主除身皮熱毒。一名牛李，一名鼠梓，一名柙。生田野，采無</p>
<p>《本經》原文：鼠李，主寒熱瘰　瘡。</p>
<h3>枇杷葉</h3>
<p>味苦，平，無毒。主治卒　不止，下氣。</p>
<h3>巴豆</h3>
<p>生溫熟寒，有大毒。主治女子月閉，爛胎，金創膿血，不利丈夫陰，殺斑蝥毒。可練之，益血脈，令人色好，變化與鬼神通。生巴郡。八月采實，陰乾，用之去心皮。（芫花之使，惡　草，畏大黃、黃連、藜蘆。）</p>
<p>《本經》原文：巴豆，味辛，溫。主傷寒溫瘧寒熱，破症瘕結聚堅積，留飲痰癖，大腹水脹，蕩練五臟六生川穀。</p>
<h3>甘遂</h3>
<p>味甘，大寒，有毒。主下五水，散膀胱留熱，皮中痞，熱氣腫滿。一名甘　，一名陵一名陵澤，一名重澤。生中山。二月采根，陰乾。（瓜蒂為之使，惡遠志，反甘草。）</p>
<p>《本經》原文：甘遂，味苦，寒。主大腹疝瘕，腹滿，面目浮腫，留飲宿食，破症堅積聚，利水穀道。一名</p>
<h3>葶藶</h3>
<p>大寒，無毒。下膀胱水，腹留熱氣，皮間邪水上出，面目腫，身暴中風熱痱癢，利久服令人虛。一名丁歷，一名　蒿。生　城及田野。立夏後采實，陰乾。（得酒良，之使，惡僵蠶、石龍芮。）</p>
<p>《本經》原文：葶藶，味辛、苦，寒。主症瘕積聚結氣，飲食寒熱，破堅逐邪，通利水道。一名大室，一名</p>
<h3>大戟</h3>
<p>味甘，大寒，有小毒。主治頸腋癰腫，頭痛，發汗，利大小腸。生常山。十二月采根陰乾。（反甘草。）</p>
<p>《本經》原文：大戟，味苦，寒。主蠱毒，十二水，腫滿急痛積聚，中風皮膚疼痛，吐逆。一名邛鉅。</p>
<h3>澤漆</h3>
<p>味辛，無毒。利大小腸，明目，輕身。一名漆莖，大戟苗也。生太山。三月三日、七七日采莖葉，陰乾。（小豆為之使，惡薯蕷。）</p>
<p>《本經》原文：澤漆，味苦，微寒。主皮膚熱，大腹水氣，四肢面目浮腫，丈夫陰氣不足。生川澤。</p>
<h3>芫花</h3>
<p>味苦，微溫，有小毒。消胸中痰水，喜唾，水腫，五水在五臟皮膚，及腰痛，下寒毒毒。久服令人虛。一名毒魚，一名牡芫。其根名蜀桑根，治疥瘡，可用毒魚。生淮源。三三日采花，陰乾。（決明為之使，反甘草。）</p>
<p>《本經》原文：芫花，味辛，溫。主咳逆上氣，喉鳴喘，咽腫短氣，蠱毒鬼瘧，疝瘕癰腫。殺蟲魚。一名去</p>
<h3>蕘華</h3>
<p>味辛，微寒，有毒。主治痰飲咳嗽。生咸陽及河南中牟。六月采花，陰乾。</p>
<p>《本經》原文：堯花，味苦，寒。主傷寒溫瘧，下十二水，破積聚大堅症瘕，蕩滌腸胃中留癖，飲食寒熱</p>
<h3>旋覆花</h3>
<p>味甘，微溫，冷利，有小毒。消胸上痰結唾如膠漆，心脅痰水，膀胱留飲，風氣濕皮間死肉，目中眵　，利大腸，通血脈，益色澤。一名戴椹。根，主風濕，生平澤。五花，晒乾，廿日成。</p>
<p>《本經》原文：旋覆花，味鹹，溫。主結氣，脅下滿，驚悸，除水，去五臟間寒熱，補中，下氣。一名金沸</p>
<h3>鉤吻</h3>
<p>有大毒。破症積，除腳膝痹痛，四肢拘攣，惡瘡疥蟲，殺鳥獸。折之青煙出者，名其熱一宿，不入湯。生傅高及會稽東野。秦鉤吻，味辛。治喉痹，咽中塞，聲變，咳溫中。一名除辛，一名毒根。生寒石山，二月、八月采。（半夏為之使，惡黃芩。）</p>
<p>《本經》原文：鉤吻，味辛，溫。主金創乳　，中惡風，咳逆上氣，水腫，殺鬼注蠱毒。</p>
<p>一名野葛。生山谷</p>
<h3>蚤休</h3>
<p>有毒。生山陽及宛朐。</p>
<p>《本經》原文：蚤休，味苦，微寒。主驚癇，搖頭弄舌，熱氣在腹中，癲疾，癰瘡陰蝕，下三蟲，去蛇毒。</p>
<h3>虎杖根</h3>
<p>微溫。主通利月水，破留血　結。</p>
<h3>石長生</h3>
<p>味苦，有毒。下三蟲。生咸陽。</p>
<p>《本經》原文：石長生，味鹹，微寒。主寒熱惡瘡大熱，辟鬼氣不祥。一名丹草。生山谷。</p>
<h3>鼠尾草</h3>
<p>味苦，微寒，無毒。主治鼠　，寒熱，下痢膿血不止。白花者治白下、赤花者治赤一名　，一名陵翹。生平澤中。四月采葉，七月采花，陰乾。</p>
<h3>屋游</h3>
<p>味甘，寒。主治浮熱在皮膚，往來寒熱，利小腸膀胱氣。生屋上陰處。八月、九月采</p>
<h3>牽牛子</h3>
<p>味苦，寒，有毒。主下氣，治腳滿水腫，除風毒，利小便。</p>
<h3>野狼毒</h3>
<p>有大毒。主治脅下積癖。生秦亭及奉高。二月、八月采根，陰乾，陳而沉水者良。（豆為之使，惡麥句薑。）</p>
<p>《本經》原文：野狼毒，味辛，平。主咳逆上氣，破積聚飲食，寒熱水氣，惡瘡鼠　疽蝕，鬼精蠱毒，殺飛鳥</p>
<h3>鬼臼</h3>
<p>微溫，有毒。主治咳嗽喉結，風邪，煩惑，失魄，妄見，去目中膚翳，殺大毒，不入一名天臼，一名解毒。生九真及宛朐。二月、八月采根。（畏垣衣。）</p>
<p>《本經》原文：鬼臼，味辛，溫。主殺蠱毒鬼注精物，辟惡氣不祥，逐邪，解百毒。一名爵犀，一名馬目毒</p>
<h3>蘆根</h3>
<p>味甘，寒。主治消渴，客熱，止小便利。</p>
<h3>甘蕉根</h3>
<p>大寒。主治癰腫、結熱。</p>
<h3>蓄</h3>
<p>無毒。主治女子陰蝕。生東萊。五月采，陰乾。</p>
<p>《本經》原文：　蓄，味辛，平。主浸淫疥瘙疽痔，殺三蟲。生山谷。</p>
<h3>商陸</h3>
<p>味酸，有毒。主治胸中邪氣，水腫，痿痹，腹滿洪直，疏五臟，散水氣。如人形者，神。生咸陽。</p>
<p>《本經》原文：商陸，味辛，平。主水脹疝瘕痹，熨除癰腫，殺鬼精物。一名　根，一名夜呼。生川穀。</p>
<h3>女青</h3>
<p>有毒。蛇銜根也，生朱崖。八月采，陰乾。</p>
<p>又，葉嫩時，似蘿摩，圓端，大莖，實黑，莖葉汁黃白。雀瓢白汁，主蟲蛇毒。</p>
<p>《本經》原文：女青，味辛，平。主蠱毒，逐邪惡氣，殺鬼溫瘧，辟不祥。一名雀瓢。</p>
<h3>白附子</h3>
<p>主治心痛，血痹，面上百病，行藥勢，生蜀郡。三月采。</p>
<h3>天雄</h3>
<p>味甘，大溫，有大毒。主治頭面風去來疼痛，心腹結積關節重不能行步，除骨間痛，長陰氣，強志，令人武勇，力作不倦。又墮胎。生少室。二月采根，陰乾。（遠志為之使，惡腐婢。）</p>
<p>《本經》原文：天雄，味辛，溫。主大風，寒濕痹，歷節痛，拘攣緩急，破積聚邪氣，金創，強筋骨，輕身</p>
<h3>烏頭</h3>
<p>味甘，大熱，有毒。消胸上淡冷，食不下，心腹冷疾，臍間痛，肩胛痛不可俯仰，目痛不可力視。又墮胎。</p>
<h3>射罔</h3>
<p>味苦，有大毒。治尸疰症堅，及頭中風痹痛。</p>
<h3>烏喙</h3>
<p>味辛，微溫，有大毒。主治風濕，丈夫腎濕，陰囊癢，寒熱歷節，掣引腰痛，不能行癰腫膿結。又墮胎。生朗陵。正月、二月采，陰乾。長三寸以上為天雄。（莽草為之使半夏、栝蔞、貝母、白蘞、白芨，惡藜蘆。）</p>
<p>《本經》原文：烏頭，味辛，溫。主中風惡風，洗洗出汗，除寒濕痹，咳逆上氣，破積聚寒熱。其汁煎之名</p>
<h3>附子</h3>
<p>味甘，大熱，有大毒。主治腳疼冷弱，腰脊風寒心腹冷痛，霍亂轉筋，下痢赤白，堅肌骨，強陰。又墮胎，為百藥長。生犍為及廣漢。八月采為附子，春采為烏頭。（地膽為之使，惡蜈蚣，畏防風、甘草、黃　、人參、烏韭、大豆。）</p>
<p>《本經》原文：附子，味辛，溫。主風寒咳逆邪氣，溫中，金創，破症堅積聚，血瘕，寒濕　，拘攣膝</p>
<h3>側子</h3>
<p>味辛，大熱，有大毒。主治癰腫，風痹，歷節，腰腳疼冷，寒熱鼠　，又墮胎。</p>
<h3>羊躑躅</h3>
<p>有大毒。主治邪氣，鬼疰，蠱毒。一名玉支。生太行山及淮南山。三月采花，陰乾</p>
<p>《本經》原文：羊躑躅，味辛，溫。主賊風在皮膚中淫淫痛，溫瘧惡毒諸痹。生川穀。</p>
<h3>茵芋</h3>
<p>微溫，有毒陰乾。</p>
<p>《本經》原文：茵芋，味苦，溫。主五臟邪氣，心腹寒熱，羸瘦，如瘧狀，發作有時，諸關節風濕痹痛。生</p>
<h3>射干</h3>
<p>微溫，有毒。主治老血在心肝脾間，咳唾，言語氣臭，散胸中氣。久服令人虛。一名KT，一名烏吹，一名草薑。生南陽田野。三月三日采根，陰乾。</p>
<p>《本經》原文：射干，味苦，平。主咳逆上氣，喉痹咽痛，不得消息，散結氣，腹中邪逆，食飲大熱。一名</p>
<h3>鳶尾</h3>
<p>有毒。主治頭眩，殺鬼魅。一名烏園。生九疑，五月采。</p>
<h3>由跋根</h3>
<p>主治毒腫結熱。</p>
<h3>藥實根</h3>
<p>無毒。生蜀郡，采無時。</p>
<p>《本經》原文：藥實根，味辛，溫。主邪氣諸痹疼酸，續絕傷，補骨髓。一名連木。生山谷。</p>
<h3>皂莢</h3>
<p>有小毒。主治腹脹滿，消穀，破咳嗽囊結，婦人胞下落，明目，益精。可為沐藥，不湯。生雍州及魯鄒縣。如豬牙者良。九月、十月采莢，陰乾。（青葙子為之使，惡麥門冬畏空青、人參、苦參。）</p>
<p>《本經》原文：皂莢，味辛、咸，溫。主風痹死肌邪氣，風頭淚出，利九竅，殺精物。</p>
<p>生川穀。</p>
<h3>楝實</h3>
<p>有小毒。根微寒。治蛔蟲，利大腸。生荊山。</p>
<p>《本經》原文：楝實，味苦，寒。主溫疾傷寒，大熱煩狂，殺三蟲，疥瘍，利小便水道。</p>
<p>生山谷。</p>
<h3>柳華</h3>
<p>無毒。主治痂疥，惡瘡，金創。葉取煎煮，以洗馬疥，立愈。又治心腹內血，止痛琅。</p>
<p>《本經》原文：柳華，味苦，寒。主風水黃膽，面熱黑。一名柳絮。葉，主馬疥痂瘡；實，主潰癰，逐膿血，子汁，療渴。生川澤。</p>
<h3>桐葉</h3>
<p>無毒。皮，主治賁　氣病。生桐柏。</p>
<p>《本經》原文：桐葉，味苦，寒。主惡蝕瘡著陰。皮，主五痔，殺三蟲。華，主敷豬瘡，飼豬肥大三倍。生</p>
<h3>梓白皮</h3>
<p>無毒。主治目中患。生河內。</p>
<p>又，皮，主吐逆胃反，去三蟲，小兒熱瘡，身頭熱煩，蝕瘡。湯浴之，並封薄散敷。嫩葉，</p>
<p>《本經》原文：梓白皮，味苦，寒。主熱，去三蟲。葉，搗敷豬瘡，飼豬肥大三倍。生山谷。</p>
<h3>蜀漆</h3>
<p>微溫，有毒。主治胸中邪結氣吐出之。生江林山及蜀漢中，恆山苗也。五月采葉，陰（栝蔞為之使，惡貫眾。）</p>
<p>《本經》原文：蜀漆，味辛，平。主瘧及咳逆寒熱，腹中症堅痞結，積聚邪氣，蠱毒鬼注。生川穀。</p>
<h3>半夏</h3>
<p>生微寒、熟溫，有毒。主消心腹胸中膈痰熱滿結，咳嗽上氣，心下急痛堅痞，時氣嘔消癰腫，胎墮，治痿黃，　澤面目。生令人吐，熟令人下。用之湯洗，令滑盡。一名守一名示姑。生槐裡。五月、八月采根，曝乾。（射干為之使，惡皂莢，畏雄黃、生薑、秦皮、龜甲，反烏頭。）</p>
<p>《本經》原文：半夏，味辛，平。主傷寒寒熱，心下堅，下氣，喉咽腫痛，頭眩，胸脹咳逆，腸鳴，止汗。</p>
<h3>款冬花</h3>
<p>味甘，無毒。主消渴，喘息呼吸。一名氐冬。生常山及上黨水傍。十一月采花，陰（杏仁為之使，得紫菀良，惡皂莢、硝石、玄參，畏貝母、辛夷、麻黃、黃　、黃芩、青葙。）</p>
<p>《本經》原文：款冬花，味辛，溫。主咳逆上氣，善喘，喉痹，諸驚癇寒熱邪氣。一名吾</p>
<h3>牡丹</h3>
<p>味苦，微寒，無毒。主除時氣，頭痛，客熱，五勞，勞氣，頭腰痛，風噤，癲疾。生郡及漢中。二月、八月采根，陰乾。（畏菟絲子。）</p>
<p>《本經》原文：牡丹，味辛，寒。主寒熱，中風螈　，痙驚癇邪氣，除症堅瘀血留舍腸胃，安五臧，療癰</p>
<h3>防己</h3>
<p>味苦，溫，無毒。主治水腫，風腫，去膀胱熱，傷寒，寒熱邪氣，中風，手腳攣急，泄，散癰腫、惡結，諸蝸疥癬，蟲瘡，通腠理，利九竅。文如車輻理解者良。生漢中。二八月采根，陰乾。殷KT　為之使，殺雄黃毒，惡細辛，畏萆　。</p>
<p>《本經》原文：防己，味辛平。主風寒，溫瘧熱氣諸癇，除邪，利大小便，一名解離。</p>
<p>生川穀。</p>
<h3>赤赫</h3>
<p>味苦，寒，有毒。主治痂瘍惡敗瘡，除三蟲、邪氣。生益州川穀，二月、八月采。</p>
<h3>黃環</h3>
<p>有毒。生蜀郡。三月采根，陰乾。（鳶尾為之使，惡茯苓。）</p>
<p>《本經》原文：黃環，味苦，平。主蠱毒鬼注鬼魅，邪氣在臟中，除咳逆寒熱。一名凌泉，一名大就。生山</p>
<h3>巴戟天</h3>
<p>味甘，無毒。主治頭面游風，小腹及陰中相引痛，下氣，補五勞，益精，利男子。</p>
<p>生巴郡及下邳。二月、八月采根，陰乾。（復盆子為之使。惡朝生、雷丸、丹參。）</p>
<p>《本經》原文：巴戟天，味辛，微溫。主大風邪氣，陰痿不起，強筋骨，安五臟，補中增志益氣。生山谷。</p>
<h3>石楠草</h3>
<p>有毒。主治腳弱，五臟邪氣，除熱。女子不可久服，令思男。生華陰。二月、四月八月采實，陰乾。（五加為之使。）</p>
<p>《本經》原文：石楠，味辛、苦，平。主養腎氣，內傷陰衰，利筋骨皮毛。實，殺蠱毒，破</p>
<h3>女菀</h3>
<p>無毒。主治肺傷、咳逆，出汗，久寒在膀胱支滿，飲酒夜食發病。一名白菀，一名織菀，一名苑。生漢中或山陽。正月、二月采，陰乾。（畏鹵鹹。）</p>
<p>《本經》原文：女菀，味辛，溫。主風寒洗洗，霍亂泄利，腸鳴上下無常處，驚癇寒熱百疾。生川穀。</p>
<h3>地榆</h3>
<p>味甘、酸，無毒。止膿血，諸　，惡瘡，熱瘡，消酒，除消渴，補絕傷，產後內塞。</p>
<p>作金瘡膏。生桐柏及腕朐。二月、八月采根，曝乾。（得發良，惡麥門冬。）</p>
<p>《本經》原文：地榆，味苦，微寒。主婦人乳　痛七傷，帶下病，止痛，除惡肉，止汗，療</p>
<h3>五茄</h3>
<p>味苦，微寒，無毒。主治男子陰痿，囊下濕，小便余瀝，女人陰癢及腰脊痛，兩腳疼風弱，五緩，虛羸，補中益精，堅筋骨，強志意。久服輕身耐老。一名豺節。五葉者良。</p>
<p>漢中及宛朐。五月、七月采莖，十月采根，陰乾。（遠志為之使，畏蛇皮、玄參。）</p>
<p>《本經》原文：五茄皮，味辛，溫。主心腹疝氣腹痛，益氣療　，小兒不能行，疽瘡陰蝕。一名　漆。</p>
<h3>澤蘭</h3>
<p>味甘，無毒。主治產後金瘡內塞。一名虎蒲。生汝南諸大澤傍。三月三日采陰乾。（己為之使。）</p>
<p>《本經》原文：澤蘭，味苦，微溫。主乳婦內衄，中風余疾，大腹水腫，身面四肢浮腫，骨節中水，金瘡，</p>
<h3>紫參</h3>
<p>微寒，無毒。主治腸胃大熱，唾血，衄血，腸中聚血，癰腫諸瘡，止渴，益精。一戎，一名童腸，一名馬行。生河西及宛朐。三月采根，火炙使紫色。（畏辛夷。）</p>
<p>《本經》原文：紫參，味苦、辛，寒。主心腹積聚，寒熱邪氣，通九竅，利大小便。一名牡蒙。生山谷。</p>
<h3>蛇全</h3>
<p>無毒。主治心腹邪氣，腹痛，濕痹，養胎，利小兒。生益州。八月采，陰乾。</p>
<p>《本經》原文：蛇全，味苦，微寒。主驚癇，寒熱邪氣，除熱，金創疽痔，鼠　惡瘡頭瘍。一名蛇銜。生山</p>
<h3>草蒿</h3>
<p>無毒。生華陰。</p>
<p>《本經》原文：草蒿，味苦，寒。主疥瘙痂癢惡瘡，殺虱，留熱在骨節間，明目。一名青蒿，一名方潰。生</p>
<h3>菌</h3>
<p>味甘，微溫，有小毒。主治疽蝸，去蛔蟲、寸白，惡瘡。生東海及渤海章武。八月采陰乾。（得酒良，畏雞子。）</p>
<p>《本經》原文：　菌，味鹹，平。主心痛，溫中，去長蟲白　蟯蟲，蛇螫毒，症瘕諸蟲。</p>
<p>一名　蘆。生池澤</p>
<h3>麇舌</h3>
<p>味辛，微溫，無毒。主治霍亂，腹痛，吐逆，心煩。生水中。五月采，曝乾。</p>
<h3>雷丸</h3>
<p>味鹹，微寒，有小寒。逐邪氣，惡風，汗出，除皮中熱結，積聚蠱毒，白蟲、寸白自出不止。久服令人陰痿。一名雷矢，一名雷實。赤者殺人。生石城及漢中土中。八月采根，曝乾。（荔實、厚朴為之使，惡葛根。）</p>
<p>《本經》原文：雷丸，味苦，寒。主殺三蟲，逐毒瓦斯胃中熱。利丈夫，不利女子。作摩膏，除小兒百病。</p>
<h3>貫眾</h3>
<p>有毒。去寸白，破症瘕，除頭風，止金創。花，治惡瘡，令人泄。一名伯萍，一名藥此謂草　頭。生玄山及宛朐少室。二月、八月采根，陰乾。（　菌為之使。）</p>
<p>《本經》原文：貫眾，味苦，微寒。主腹中邪熱氣，諸毒，殺三蟲。一名貫節，一名貫渠，一名百頭，一名</p>
<h3>青葙子</h3>
<p>無毒。主治惡瘡、疥虱、痔蝕，下部　瘡。生平穀道傍。三月采莖葉，陰乾；五月月采子。</p>
<p>《本經》原文：青葙子，味苦，微寒。主邪氣，皮膚中熱，風瘙身癢，殺三蟲。子名草決明，療唇口青。一</p>
<h3>牙子</h3>
<p>味酸，有毒。一名野狼齒，一名野狼子，一名犬牙。生淮南及宛朐。八月采根，曝乾。中腐爛生衣者，殺人。（蕪荑為之使，惡地榆、棗肌。）</p>
<p>《本經》原文：牙子，味苦，寒。主邪氣熱氣，疥瘙惡瘍瘡痔，去白蟲。一名野狼牙。生川穀。</p>
<h3>藜蘆</h3>
<p>味苦，微寒，有毒。主治　逆，喉痹不通，鼻中息肉，馬刀爛瘡。不入湯。一名蔥一名山蔥。生太山。三月采根，陰乾。（黃連為之使，反細辛、芍藥、五參，惡大黃。）</p>
<p>《本經》原文：藜蘆，味辛，寒。主蠱毒咳逆，泄利腸　，頭瘍疥瘙惡瘡，殺諸蟲毒，去死肌。一名蔥苒。</p>
<h3>赭魁</h3>
<p>味甘，平，無毒。主治心腹積聚，除三</p>
<h3>及巳</h3>
<p>味苦，平，有毒。主治諸惡瘡，疥痂，　蝕及牛馬諸瘡。</p>
<h3>連翹</h3>
<p>無毒。去白蟲。生太山。八月采，陰乾。</p>
<p>《本經》原文：連翹，味苦，平。主寒熱鼠　瘰　，癰腫惡瘡，癭瘤結熱蠱毒。一名異翹，一名蘭華，一</p>
<h3>白頭翁</h3>
<p>有毒。主治鼻衄。一名奈何草。生嵩山及田野，四月采。</p>
<p>《本經》原文：白頭翁，味苦，溫。主溫瘧狂易寒熱，症瘕積聚癭氣，逐血止痛，療金瘡。一名野丈人，一</p>
<h3>茹</h3>
<p>味酸，微寒，有小毒。去熱痹，破症瘕，除息肉。一名屈據，一名離婁。生代郡。五采根，陰乾。黑頭者良。（甘草為之使，惡麥門冬。）</p>
<p>《本經》原文：　茹，味辛，寒。主蝕惡肉敗瘡死肌，殺疥蟲，排膿惡血，除大風熱氣，善忘不樂。生川穀</p>
<h3>白蘞</h3>
<p>味甘，無毒。主下赤白，殺火毒。一名白根，一名昆侖。生衡山。二月、八月采根，干。（代赭為之使，反烏頭。）</p>
<p>《本經》原文：白蘞，味苦，平、微寒。主癰腫疽瘡，散結氣，止痛除熱，目中赤，小兒驚癇溫瘧，女子陰</p>
<h3>白芨</h3>
<p>味辛，微寒，無毒。除白癬疥蟲。生北山及宛朐及越山。（紫石英為之使，惡理石，李核，杏仁。）</p>
<p>《本經》原文：白芨，味苦，平。主癰腫惡瘡敗疽，傷陰死肌，胃中邪氣，賊風鬼擊，痱緩不收。一名甘根</p>
<h3>占斯</h3>
<p>味苦，溫，無毒。主治邪氣，濕痹，寒熱，疽瘡，除水堅積，血症，月閉，無子，小不能行，諸惡瘡，癰腫止腹痛，令女人有子。一名炭皮。生太山山谷，采無時。</p>
<h3>飛廉</h3>
<p>無毒。主治頭眩頂重，皮間邪風如蜂螫針刺，魚子細起，熱瘡，癰疽，痔，濕痹，止邪，咳嗽，下乳汁。久服益氣，明目，不老。可煮可干。一名漏蘆，一名天薺，一名伏豬一名伏兔，一名飛雉，一名木禾。生河內。正月采根；七月、八月采花，陰乾。（得烏頭惡麻黃。）</p>
<p>《本經》原文：飛廉，味苦，平。主骨節熱，脛重酸疼。久服令人身輕。一名飛輕。生川澤。</p>
<h3>虎掌</h3>
<p>微寒，有大毒。除陰下濕，風眩。生漢中及宛朐。二月、八月采，陰乾。（蜀漆為之惡莽草。）</p>
<p>《本經》原文：虎掌，味苦，溫。主心痛，寒熱結氣，積聚伏梁，傷筋痿拘緩，利水道。</p>
<p>生山谷。</p>
<h3>莨菪子</h3>
<p>味甘，有毒。主治癲狂風癇，癲倒拘攣。一名橫唐。生海濱及雍州。五月采子。</p>
<p>《本經》原文：莨蕩子，味苦，寒。主齒痛出蟲，肉痹拘急，使人健行見鬼。多食令人狂走。久服輕身，</p>
<h3>樂華</h3>
<p>無毒。生漢中。五月采。（決明為之使。）</p>
<p>《本經》原文：樂華，味苦，寒。主目痛，淚出傷　，消目腫。生川穀。</p>
<h3>杉材</h3>
<p>微溫，無毒。主治漆瘡。</p>
<h3>楠材</h3>
<p>微溫。主治霍亂，吐下不止。</p>
<h3>彼子</h3>
<p>有毒。生永昌。</p>
<p>《本經》原文：彼子，味甘，溫。主腹中邪氣，去三蟲，蛇螫蠱毒，鬼注伏尸，生山谷。</p>
<h3>紫真檀木</h3>
<p>味鹹，微寒。主治惡毒、風毒。</p>
<h3>淮木</h3>
<p>無毒。補中益氣。生晉陽。</p>
<p>《本經》原文：淮木，味苦，平。主久咳上氣，腸中虛羸，女子陰蝕漏下，赤白沃。一名百歲城中木。生平澤。</p>
<h3>別羈</h3>
<p>無毒。一名別枝，一名別騎，一名鱉羈。生藍田。二月、八月采。</p>
<p>《本經》原文：別羈，味苦，微溫。主風寒濕痹身重，四肢疼酸，寒邪歷節痛。生川穀。</p>
<h3>石下長卿</h3>
<p>有毒。生隴西山谷。</p>
<p>《本經》原文：石下長卿，味鹹，平。主鬼疰精物邪惡氣，殺百精蠱毒，老魅注易，亡走啼哭，悲傷恍惚。一名徐長卿。</p>
<h3>羊桃</h3>
<p>有毒。主去五臟五水，大腹，利小便，益氣，可作浴湯。一名萇楚，一名御弋，一名銚弋。生山林及生田野。二月采，陰乾。</p>
<p>《本經》原文：羊桃，味苦，寒。主　熱，身暴赤色，風水積聚，惡瘍，除小兒熱。一名鬼桃，一名羊腸。生川穀。</p>
<h3>羊蹄</h3>
<p>無毒。主治浸淫疽痔，殺蟲。一名蓄。生陳留。</p>
<p>《本經》原文：羊蹄，味苦，寒。主頭禿疥瘙，除熱，女子陰蝕。一名東方宿，一名連蟲陸，一名鬼目。生川澤。</p>
<h3>鹿藿</h3>
<p>無毒。生汶山。</p>
<p>《本經》原文：鹿藿，味苦，平。主蠱毒，女子腰腹痛不樂，腸癰瘰　瘍氣。生山谷。</p>
<h3>練石草</h3>
<p>味苦，寒，無毒。主治五癃，破石淋，膀胱中結氣，利水道小便。生南陽川澤。</p>
<h3>牛扁</h3>
<p>無毒，生桂陽。</p>
<p>《本經》原文：牛扁，味苦，微寒。主身皮瘡熱氣，可作浴湯，殺牛虱小蟲，又療牛病。</p>
<p>生川穀。</p>
<h3>陸英</h3>
<p>無毒。生熊耳及宛朐。立秋采。</p>
<p>《本經》原文：陸英，味苦，寒。主骨間諸痹，四肢拘攣疼酸，膝寒痛，陰痿，短氣不足，腳腫。生川穀。</p>
<h3>蕈草</h3>
<p>味鹹，平，無毒。主養心氣，除心溫溫心辛痛，浸淫身熱。可作鹽花。生淮南平澤月采。（礬石為之使。）</p>
<h3>藎草</h3>
<p>無毒。可以染黃作金色。生青衣。九月、十月采。（畏鼠婦。）</p>
<p>《本經》原文：藎草，味苦，平。主久咳上氣喘逆，久寒驚悸，痂疥白禿瘍氣，殺皮膚小蟲。生川穀。</p>
<h3>恆山</h3>
<p>味辛，微寒，有毒。主治鬼蠱往來，水脹，洒洒惡寒，鼠　。生益州及漢中。八月采陰乾。（畏玉札。）</p>
<p>《本經》原文：恆山，味苦，寒。主傷寒寒熱，熱發溫瘧鬼毒，胸中痰結吐逆。一名互草。生川穀。</p>
<h3>夏枯草</h3>
<p>無毒。一名燕面。生蜀郡。四月采。（土瓜為之使。）</p>
<p>《本經》原文：夏枯草，味苦、辛，寒。主寒熱瘰　鼠　頭瘡，破症，散癭結氣，腳腫濕痹，輕身。一名夕</p>
<h3>草</h3>
<p>味甘，苦，寒，無毒。主治溫瘧寒熱，酸嘶邪氣，辟不祥。生淮南山谷。</p>
<h3>戈共</h3>
<p>味苦，寒，無毒。主治驚氣，傷寒，腹痛，羸瘦，皮中有邪氣，手足寒無色。生益州穀。（畏玉札、蜚蠊。）</p>
<h3>烏韭</h3>
<p>無毒。主治黃膽，金瘡內塞，補中益氣，好顏色。生石上。</p>
<p>《本經》原文：烏韭，味甘，寒。主皮膚往來寒熱，利小腸膀胱氣。生山谷。</p>
<h3>溲疏</h3>
<p>味苦，微寒，無毒。通利水道，除胃中熱，下氣。一名巨骨。生掘耳及田野故丘墟地四月采。（漏蘆為之使。）</p>
<p>《本經》原文：溲疏，味辛，寒。主身皮膚中熱，除邪氣，止遺溺，可作浴湯，生山谷。</p>
<h3>釣樟根皮</h3>
<p>主治金創，止血。</p>
<p>又，釣樟根皮似烏藥，取根摩服，治霍亂。</p>
<h3>櫸樹皮</h3>
<p>大寒。主治時行頭痛，熱結在腸胃。</p>
<h3>鉤藤</h3>
<p>微寒，無毒。主治小兒寒熱，十二驚癇。</p>
<h3>苦</h3>
<p>微寒。主治面目通身漆瘡。</p>
<h3>馬鞭草</h3>
<p>主治下部　瘡。</p>
<h3>馬勃</h3>
<p>味辛，平，無毒。主治惡瘡，馬疥。一名馬　。生園中久腐處。</p>
<h3>雞腸草</h3>
<p>主治毒腫，止小便利。</p>
<h3>蛇莓汁</h3>
<p>大寒。主治胸腹大熱不止。</p>
<h3>苧根</h3>
<p>寒。主治小兒赤丹。其漬苧汁治渴。</p>
<p>根，安胎，貼熱丹毒腫有效。漚苧汁，主消渴也。</p>
<h3>菰根</h3>
<p>大寒。主治腸胃痼熱，消渴，止小便利。</p>
<h3>野狼跋子</h3>
<p>有小毒。主治惡瘡、蝸疥，殺蟲魚。</p>
<h3>蒴</h3>
<p>味酸，溫，有毒。主治風瘙癮疹、身癢、濕痹，可作浴湯。一名堇草，一名芨。生田春夏采葉，秋冬采莖、根。</p>
<h3>弓弩弦</h3>
<p>主治難產，胞衣不出。</p>
<h3>敗蒲席</h3>
<p>平。主治筋溢、惡瘡。</p>
<h3>敗船茹</h3>
<p>平。主治婦人崩中，吐痢血不止。</p>
<h3>敗鼓皮</h3>
<p>平。主治中蠱毒。</p>
<h3>敗天公</h3>
<p>平。主治鬼疰，精魅。</p>
<h3>半天河</h3>
<p>微寒。主治鬼疰，狂，邪氣，惡毒。</p>
<h3>地漿</h3>
<p>寒。主解中毒，煩悶。</p>
<h3>鼠姑</h3>
<p>味苦，平，寒，無毒。主治咳逆上氣，寒熱，鼠　，惡瘡，邪氣。一名　。生丹水。</p>
<h3>文石</h3>
<p>味甘。主治寒熱，心煩。一名黍石。生東郡山澤中水下。五色，有汁潤澤。</p>
<h3>山磁石</h3>
<p>味苦，平，有毒。主治女子帶下。一名爰茈。生山之陽。正月生。葉如藜蘆，莖有</p>
<h3>石芸</h3>
<p>味甘，無毒。主治目痛，淋露，寒熱，溢血。一名蚤烈，一名顧喙。三月、五月采莖陰乾。</p>
<h3>金莖</h3>
<p>味苦，平，無毒。主治金創內漏。一名葉金草。生澤中高處。</p>
<h3>鬼蓋</h3>
<p>味甘，平，無毒。主治小兒寒熱癇。一名地蓋。生垣牆下，　生赤，旦生暮死。</p>
<h3>馬顛</h3>
<p>味甘，有毒。治浮腫，不可多食。</p>
<h3>馬逢</h3>
<p>味辛，無毒。主治癬蟲。</p>
<h3>羊實</h3>
<p>味苦，寒。主治頭禿，惡瘡，疥瘙，痂癬。生蜀郡。</p>
<h3>鹿良</h3>
<p>味鹹，臭。主治小兒驚癇，賁豚，　，大人痙。五月采。</p>
<h3>雀梅</h3>
<p>味酸，寒，有毒。主蝕惡瘡。一名千雀。生海水石穀間。葉如李，實如麥李。</p>
<h3>鼠耳</h3>
<p>味酸，無毒。主治痹寒，寒熱，止咳。一名無心。生田中下地，濃華肥莖。</p>
<h3>蛇舌</h3>
<p>味酸，平，無毒。主除留血，驚氣，蛇癇。生大水之陽。四月采花，八月采根。</p>
<h3>木甘草</h3>
<p>主治癰腫盛熱，煮洗之。生木間，三月生，大葉如蛇床，四四相值，但折枝種之便五月華白，實核赤。三月三日采。</p>
<h3>九熟草</h3>
<p>味甘，溫，無毒。主出汗，止泄，治悶。一名烏粟，一名雀粟。生人家庭中，葉如一歲九熟，七月七日采。</p>
<h3>灌草</h3>
<p>葉主癰腫。一名鼠肝，葉滑青白。</p>
<p>味辛，無毒。主傷金創。</p>
<h3>莘草</h3>
<p>味甘，無毒。主盛傷痹腫。生山澤，如蒲黃，葉如芥。</p>
<h3>封華</h3>
<p>味甘，有毒。主治疥瘡，養肌，去惡肉。夏至日采。</p>
<h3>華</h3>
<p>味苦。主除水氣，去赤蟲，令人好色。不可久服。春生仍采。</p>
<h3>學木核</h3>
<p>味甘，寒，無毒。主治脅下留飲，胃氣不平，除熱。如蕤核，五月采，陰乾。</p>
<h3>木核</h3>
<p>治腸　。華，治不足。子，治傷中。根，治心腹逆氣，止渴。十月采。</p>
<h3>核</h3>
<p>味苦。治水，身面癰腫。五月采。</p>
<h3>讓實</h3>
<p>味酸。主治喉痹，止泄痢。十月采，陰乾。</p>
<h3>青雌</h3>
<p>味苦。主治惡瘡，禿敗瘡，火氣，殺三蟲。一名蠱損，一名孟推。生方山山谷。</p>
<h3>白背</h3>
<p>味苦，平，無毒。主治寒熱，洗浴疥惡瘡。生山陵，根似紫葳、葉如燕盧。采無時。</p>
<h3>白女腸</h3>
<p>味辛，溫，無毒。主治泄利腸　，治心痛，破疝瘕。生深山谷中，葉如蘭，實赤。</p>
<p>腸亦同。</p>
<h3>白扇根</h3>
<p>味苦，寒，無毒。主治瘧、皮膚寒熱，出汗，令人變。</p>
<h3>白給</h3>
<p>味辛，平，無毒。主治伏蟲、白癬、腫痛。生山谷，如藜蘆，根白相連，九月采。</p>
<h3>白辛</h3>
<p>味辛，有毒。主治寒熱。一名脫尾，一名羊草，生楚山。三月采根，根白而香。</p>
<h3>白昌</h3>
<p>味甘，無毒。主食諸蟲。一名水昌，一名水宿，一名莖蒲。十月采。</p>
<h3>赤舉</h3>
<p>味甘，無毒。主治腹痛。一名羊飴，一名陵渴。生山陰，二月華，兌蔓草上，五月實中有核。三月三日采葉，陰乾。</p>
<h3>徐黃</h3>
<p>味辛，平，無毒。主治心腹積瘕。莖，主治惡瘡。生澤中，大莖，細葉，香如　本。</p>
<h3>紫給</h3>
<p>味鹹。主毒風頭泄注。一名野葵。生高陵下地。三月三日采根，根如烏頭。</p>
<h3>天蓼</h3>
<p>味辛，有毒。主治惡瘡，去痹氣。一名石龍。生水中。</p>
<h3>地朕</h3>
<p>味苦，平，無毒。主治心氣，女子陰疝，血結。一名承夜，一名夜光。三月采。</p>
<h3>地芩</h3>
<p>味苦，無毒。主治小兒癇，除邪，養胎，風痹，洗浴寒熱，月中青翳，女子帶下木積草處，如朝生，天雨生蓋，黃白色。四月采。</p>
<h3>地筋</h3>
<p>味甘，平，無毒。主益氣，止渴，除熱在腹臍，利筋。一名菅根，一名土筋。生澤根有毛。三月生，四月實白，三月三日采根。</p>
<h3>燕齒</h3>
<p>主治小兒癇，寒熱。五月五日采。</p>
<h3>酸惡</h3>
<p>主治惡瘡，去白蟲。生水旁。狀如澤瀉。</p>
<h3>酸赭</h3>
<p>味酸。主內漏，止血不足。生昌陽山，采無時。</p>
<h3>巴棘</h3>
<p>味苦，有毒。主治惡疥瘡，出蟲。一名女木。生高地，葉白有刺、根連數十枚。</p>
<h3>巴朱</h3>
<p>味甘，無毒。主寒，止血、帶下。生雒陽。</p>
<h3>蜀格</h3>
<p>味苦，平，無毒。主治寒熱，痿痹，女子帶下，癰腫。生山陽，如　菌，有刺。</p>
<h3>苗根</h3>
<p>味鹹，平，無毒。主痹及熱中傷跌折。生山陰谷中蔓草木上。莖有刺，實如椒。</p>
<h3>參果根</h3>
<p>味苦，有毒。主治鼠　。一名百連，一名烏蓼，一名鼠莖，一名鹿蒲。生百余根，衣裹莖。三月三日采根。</p>
<h3>黃辨</h3>
<p>味甘，平，無毒。主治心腹疝瘕，口瘡，臍傷。一名經辨。</p>
<h3>對廬</h3>
<p>味苦，寒，無毒。主治疥，諸久瘡不瘳，生死肌，除大熱，煮洗之。八月采，似　。</p>
<h3>糞藍</h3>
<p>味苦。主治身癢瘡，白禿，漆瘡，洗之。生房陵。</p>
<h3>王明</h3>
<p>味苦。主治身熱、邪氣，小兒身熱，以浴之。生山谷。一名王草。</p>
<h3>師系</h3>
<p>味甘。無毒。主治癰腫，惡瘡，煮洗之。一名臣堯，一名臣骨，一名鬼芭。生平澤。</p>
<p>月采。</p>
<p>〔附〕</p>
<h3>領灰</h3>
<p>味甘，有毒。主治心腹痛，煉中不足。葉如芒草，冬生，燒作灰。</p>
<h3>父陛根</h3>
<p>味辛，有毒。以熨癰腫、膚脹。一名膏魚，一名梓藻。</p>
<h3>荊莖</h3>
<p>治灼爛。八月、十月采，陰乾。</p>
<h3>鬼</h3>
<p>生石上，　之，日柔為沐。</p>
<h3>竹付</h3>
<p>味甘，無毒。主止痛，除血。</p>
<h3>秘惡</h3>
<p>味酸，無毒。主治肝邪氣。一名杜逢。</p>
<h3>唐夷</h3>
<p>味苦，無毒。主治痿折。</p>
<h3>知杖</h3>
<p>味甘，無毒。主治疝。</p>
<h3>葵松</h3>
<p>味辛，無毒。主治眩痹。</p>
<h3>河煎</h3>
<p>味酸。主治結氣，癰在喉頭者。生海中。八月、九月采。</p>
<h3>區余</h3>
<p>味辛，無毒。主治心腹熱癃。</p>
<h3>三葉</h3>
<p>味辛。主治寒熱，蛇蜂螫人。一名起莫，一名三石，一名當田。生田中，葉一莖小黑高三尺，根黑。三月采，陰乾。</p>
<h3>五母麻</h3>
<p>味苦，有毒。主治痿痹，不便，下痢。一名鹿麻，一名歸澤麻，一名天麻，一名若生田野。五月采。</p>
<h3>救煞</h3>
<p>人　者味甘，有毒。主治疝痹，通氣，諸不足。生人家宮室。五月、十月采，曝乾。</p>
<h3>城東腐木</h3>
<p>味鹹，溫。主治心腹痛，止泄，便膿血。</p>
<h3>芥</h3>
<p>味苦，寒，無毒。主治消渴，止血，婦人疾，除痹。一名梨。葉如大青。</p>
<h3>載</h3>
<p>味酸，無毒。主治諸惡氣。</p>
<h3>慶</h3>
<p>味苦，有毒。主治咳嗽。</p>
<p>〔附〕</p>
<h3>盧精</h3>
<p>味辛，平。治蠱毒。生益州。</p>
<h3>六畜毛蹄甲</h3>
<p>有毒。</p>
<p>《本經》原文：六畜毛蹄甲，味鹹，平。主鬼注蠱毒，寒熱驚癇，癲　狂走。駱駝毛尤良。</p>
<h3>鯪鯉甲</h3>
<p>微寒。主五邪驚啼悲傷，燒之作灰，以酒或水和方寸匕，治蟻　。</p>
<h3>獺肝</h3>
<p>味甘，有毒。主治鬼疰、蠱毒，卻魚鯁，止久嗽，燒服之。肉，治疫氣、溫病，及牛時行病，煮矢灌之亦良。</p>
<p>又，獺四足，主手足皮　裂。</p>
<h3>狐陰莖</h3>
<p>味甘，有毒。主治女子絕產，陰癢，小兒陰頹卵腫；五臟及腸，味苦，微寒，有毒蠱毒寒熱，小兒驚癇。雄狐屎，燒之辟惡。在木石上者是。</p>
<h3>麋脂</h3>
<p>無毒。柔皮膚，不可近陰，令痿。（畏大黃。）角，味甘，無毒。治痹，止血，益氣力生南山及淮海邊澤中，十月取。</p>
<p>《本經》原文：麋脂，味辛，溫。主癰腫、惡瘡、死肌，寒風濕痹，四肢拘緩不收，風頭腫氣，通湊理。一</p>
<h3>蝦蟆</h3>
<p>有毒。主治陰蝕，疽癘，惡瘡，　犬傷瘡，能合玉石。一名蟾蜍，一名去　，一名去又，腦，主明目，治青盲也。</p>
<p>《本經》原文：蝦蟆，味辛，寒。主邪氣，破症堅血，癰腫陰瘡。服之不患熱病。生池澤。</p>
<h3>蛙</h3>
<p>味甘，寒，無毒。主治小兒赤氣，肌瘡，臍傷，止痛，氣不足。一名長股，生水中，取無時。</p>
<h3>石蠶</h3>
<p>有毒，生江漢。</p>
<p>《本經》原文：石蠶，味鹹，寒。主五癃，破石淋，墮胎。肉，解結氣，利水道，除熱。</p>
<p>一名沙虱。生池澤</p>
<h3>蚺蛇膽</h3>
<p>味甘、苦，寒，有小毒。主治心腹　痛，下部　瘡，目腫痛。膏，平，有小毒。治風毒，婦人產後腹痛余疾。</p>
<h3>蝮蛇膽</h3>
<p>味苦，微寒，有毒。主治　瘡。肉，釀作酒，治癩疾，諸　，心腹痛，下結氣，除其腹中吞鼠，有小毒，治鼠　。</p>
<h3>蛇蛻</h3>
<p>味甘，無毒。主治弄舌搖頭，大人五邪，言語僻越，惡瘡，嘔咳，明目。一名龍子皮生荊州及田野。五月五日、十五日取之良。（畏磁石及酒。）</p>
<p>《本經》原文：蛇蛻，味鹹，平。主小兒百二十種驚癇，螈　癲疾，寒熱腸痔，蟲毒，蛇癇。火熬之良。</p>
<h3>蜈蚣</h3>
<p>有毒。主治心腹寒熱結聚，墮胎，去惡血。生大吳江南。赤頭足者良。</p>
<p>《本經》原文：蜈蚣，味辛，溫。主鬼注蠱毒，啖諸蛇、蟲、魚毒，殺鬼物老精溫瘧，去三蟲。生川穀。</p>
<h3>馬陸</h3>
<p>有毒。主治寒熱痞結，脅下滿。一名馬軸。生玄菟。</p>
<p>《本經》原文：馬陸，味辛，溫。主腹中大堅症，破積聚息肉，惡瘡白禿。一名百足。</p>
<p>生川穀。</p>
<p>無毒。主治鼻窒。其土房主癰腫，風頭。一名土蜂。生熊耳及　，或人屋間。</p>
<p>《本經》原文：　，味辛，平，主久聾，咳逆毒瓦斯，出刺出汗。生川穀。</p>
<h3>雀瓮</h3>
<p>無毒。生漢中，采蒸之，生樹枝間，　房也。八月取。</p>
<p>《本經》原文：雀瓮，味甘，平。主小兒驚癇，寒熱結氣，蠱毒鬼注。一名躁舍。</p>
<h3>鼠婦</h3>
<p>微寒，無毒。一名　。生魏郡及人家地上，五月五日取。</p>
<p>《本經》原文：鼠婦，味酸，溫。主氣癃不得小便，婦人月閉血瘕，癇　寒熱，利水道。</p>
<p>一名負蟠，一名　。生平穀。</p>
<h3>螢火</h3>
<p>無毒。一名放光，一名熠耀，一名即　。生階地。七月七日取，陰乾。</p>
<p>《本經》原文：螢火，味辛，微溫。主明目，小兒火瘡傷熱氣，蠱毒鬼注，通神精。一名夜光。生池澤。</p>
<h3>衣魚</h3>
<p>無毒。主治淋，墮胎，塗瘡，滅瘢。一名　。生咸陽。</p>
<p>《本經》原文：衣魚，味鹹，溫。主婦人疝瘕，小便不利，小兒中風項強，背起摩之。</p>
<p>一名白魚。生平澤。</p>
<h3>白頸蚯蚓</h3>
<p>大寒，無毒。主治傷寒伏熱，狂謬，大腹，黃膽。一名土龍。三月取，陰乾。</p>
<p>又，蚯蚓，鹽沾為汁，治耳聾。</p>
<p>《本經》原文：蚯蚓，味鹹，寒。主蛇瘕，去三蟲伏尸，鬼注蠱毒，殺長蟲，仍自化作水。生平土。</p>
<h3>螻蛄</h3>
<p>無毒。生東城，夏至取，曝乾。</p>
<p>《本經》原文：螻蛄，味鹹，寒。主產難，出肉中刺，潰癰腫，下哽噎，解毒，除惡瘡。</p>
<p>一名蟪蛄，一名天</p>
<h3>蜣螂</h3>
<p>有毒。主治手足端寒，肢滿賁豚。生長沙。五月五日取，蒸，藏之。臨用當炙。勿置中。令人吐。（畏羊角、石膏。）</p>
<p>又，搗為丸，塞下部，引痔蟲出盡，永瘥。</p>
<p>《本經》原文：蜣螂，味鹹，寒。主小兒驚癇螈　，腹脹寒熱，大人癲疾狂易。一名蜣。火熬之良。生池</p>
<h3>地膽</h3>
<p>有毒。蝕瘡中惡肉，鼻中息肉，散結氣石淋，去子。服一刀圭即下。一名青蛙，生汶八月取。（惡甘草。）</p>
<p>《本經》原文：地膽，味辛，寒。主鬼注寒熱，鼠　惡瘡死肌，破症瘕，墮胎。一名青。生川穀。</p>
<h3>馬刀</h3>
<p>有毒。除五臟間熱，肌中鼠　，止煩滿，補中，去厥痹，利機關。用之當煉，得水腸，又云得水良。一名馬蛤。生江湖及東海。取無時。</p>
<p>《本經》原文：馬刀，味辛，微寒。主漏下赤白，寒熱，破石淋，殺禽獸，賊鼠。生池澤。</p>
<h3>貝子</h3>
<p>有毒，主除寒熱溫疰，解肌，散結熱。一名貝齒。生東海。</p>
<p>《本經》原文：貝子，味鹹，平。主目翳，鬼注蠱毒，腹痛下血，五癃，利水道。燒用之良。生池澤。</p>
<h3>田中螺汁</h3>
<p>大寒。主治目熱赤痛，止渴。「又，殼治尸疰，心腹痛，又治失精。水漬飲汁，</p>
<h3>蝸牛</h3>
<p>味鹹，寒。主治賊風　僻，　跌，大腸下脫肛，筋急及驚癇。</p>
<h3>鸕矢</h3>
<p>一名蜀水華。去面黑　志。頭，微寒。治鯁及噎，燒服之。</p>
<h3>頭</h3>
<p>味鹹，平，無毒。主治頭風眩顛倒，癇疾。</p>
<h3>孔雀矢</h3>
<p>微寒。主治女子帶下，小便不利。</p>
<h3>豚卵</h3>
<p>無毒。陰乾藏之，勿令敗。豬四足，小寒，治傷撻，諸敗瘡，下乳汁。心，主驚邪憂腎，冷利，理腎氣，通膀胱。膽，治傷寒熱渴。肚，補中益氣，止渴利。齒，治小兒驚五月五日取。　膏，主生發。肪膏，主煎諸膏藥，解斑蝥、芫青毒。　豬肉，味酸，冷狂病。凡豬肉，味苦，主閉血脈，弱筋骨，虛人肌，不可久食，病患金創者尤甚。豬屎寒熱，黃膽，濕痹。</p>
<p>又，豬耳中垢，主蛇傷。豬腦，主風眩，腦鳴及凍瘡。</p>
<p>《本經》原文：豚卵，味甘，溫。主驚癇癲疾，鬼注蠱毒，除寒熱，賁豚，五癃，邪氣攣縮。一名豚顛，懸</p>
<h3>燕屎</h3>
<p>有毒。</p>
<p>又，胡燕卵，主治水浮腫。肉，出痔蟲。</p>
<p>《本經》原文：燕屎，味辛，平。主蠱毒鬼注，逐不祥邪氣，破五癃，利小便。生高山平穀。</p>
<h3>鴆鳥毛</h3>
<p>有大毒。入五臟，爛，殺人。其口，主殺蝮蛇毒。一名　日。生南海。</p>
<h3>天鼠屎</h3>
<p>有毒。去面黑　。十月、十二月取。（惡白蘞，白薇。）</p>
<p>《本經》原文：天鼠屎，味辛，寒。主面癰腫，皮膚洗洗時痛，腹中血氣，破寒熱積聚，除驚悸。一名鼠法</p>
<h3>鼴KT鼠</h3>
<p>味鹹，無毒。主治癰疽，諸　蝕，惡瘡，陰　爛瘡。在土中行。五月取令干，燔之</p>
<h3>鼠</h3>
<p>生山都。</p>
<p>《本經》原文：　鼠，主墮胎，令人產易。生平穀。</p>
<h3>牡鼠</h3>
<p>微溫，無毒。主治　折，續筋骨，搗敷之，三日一易。四足及尾，主治婦人墮胎，易。肉，熱，無毒。主治小兒哺露大腹，炙食之。糞，微寒，無毒。主治小兒癇疾，大腹，行勞復。</p>
<h3>斑蝥</h3>
<p>有毒。主治疥癬，血積。傷人肌，墮胎。生河東。八月取，陰乾。（馬刀為之使，畏豆、丹參、空青，惡膚青。）</p>
<p>《本經》原文：斑蝥，味辛，寒。主寒熱，鬼注蠱毒，鼠　，惡瘡疽蝕死肌，破石癃。</p>
<p>一名</p>
<h3>芫青</h3>
<p>味辛，微溫，有毒。主治蠱毒，風疰，鬼疰，墮胎。三月取，曝乾。</p>
<h3>葛上亭長</h3>
<p>味辛，微溫，有毒。主治蠱毒，鬼疰，破淋結，積聚，墮胎。七月取，曝乾。</p>
<h3>蜘蛛</h3>
<p>微寒。主治大人小兒　。七月七日取其網，治喜忘。</p>
<p>又，療小兒大腹、丁奚，三年不能行者。</p>
<h3>蜻蛉</h3>
<p>微寒。強陰，止精。</p>
<h3>木虻</h3>
<p>有毒。生漢中。五月取。</p>
<p>《本經》原文：木虻，味苦，平。主目赤痛，　傷淚出，瘀血血閉，寒熱酸　，無子。</p>
<p>一名魂常。生川澤。</p>
<h3>蜚虻</h3>
<p>有毒。主女子月水不通，積聚，除賊血在胸腹五臟者，及喉痹結塞。生江夏。五月腹有血者良。</p>
<p>《本經》原文：蜚虻，味苦，微寒。主逐瘀血，破下血積，堅痞症瘕，寒熱，通利血脈及九竅。生川穀。</p>
<h3>蜚蠊</h3>
<p>有毒。通利血脈。生晉陽及人家屋間，立秋采。</p>
<p>又，蜚蠊，形似蠶蛾，腹下赤。二月、八月采。</p>
<p>《本經》原文：蜚蠊，味鹹，寒。主血瘀症堅寒熱，破積聚，喉咽痹，內寒無子。生川澤。</p>
<h3>水蛭</h3>
<p>味苦，微寒，有毒。主墮胎，一名KT　，一名至掌。生雷澤。五月、六月采，曝乾。</p>
<p>《本經》原文：水蛭，味鹹，平。主逐惡血瘀血月閉，破血瘕積聚，無子，利水道。生池澤。</p>
<p>〔附〕</p>
<h3>鮫魚皮</h3>
<p>主蠱氣，蠱疰方用之。即裝刀靶　魚皮也。</p>
<p>又，</p>
<p>生南海，味甘，咸，無毒。主心氣，鬼疰，蠱毒，吐血。皮上有真珠斑</p>
<p>〔附〕</p>
<h3>珂</h3>
<p>味鹹，平，無毒。主治目中翳，斷血，生肌，貝類也，大如鰒，皮黃黑而骨白，以為馬飾。生南海，采無時。</p>
<p>又，珂，生南海，白如　。主消翳膜及筋　肉，並刮點之。</p>
<h3>桑蠹蟲</h3>
<p>味甘，無毒。主治心暴痛，金瘡，肉生不足。</p>
<h3>石蠹蟲</h3>
<p>主治石癃，小便不利。生石中。</p>
<h3>行夜</h3>
<p>治腹痛，寒熱，利血。一名負　。</p>
<h3>麋魚</h3>
<p>味甘，無毒。主治痹，止血。</p>
<h3>丹戩</h3>
<p>味辛。主治心腹積血。一名飛龍。生蜀都，如鼠負，青股蜚頭赤。七月七日采，陰乾</p>
<h3>扁前</h3>
<p>味甘，有毒。主治鼠　，癃，利水道。生山陵。如牛虻，翼赤。五月、八月采。</p>
<h3>類</h3>
<p>治痹，內漏。一名　短，土色而文。</p>
<h3>蜚厲</h3>
<p>主治婦人寒熱。</p>
<h3>益符</h3>
<p>主治閉。一名無舌。</p>
<h3>黃蟲</h3>
<p>味苦。治寒熱。生地上，赤頭，長足，有角，群居。七月七日采。</p>
<h3>郁核</h3>
<p>無毒。根，去白蟲。一名車下李，一名棣。生高山及丘陵上。五月、六月采根。</p>
<p>《本經》原文：郁李仁，味酸，平。主大腹水腫，面目四肢浮腫，利小便水道。根，主齒齦腫，齲齒，堅齒</p>
<h3>杏核</h3>
<p>味苦，冷利，有毒。主治驚癇，心下煩熱，風氣去來，時行頭痛，解肌，消心下急，狗毒。一名杏子。五月采。其兩仁者殺人，可以毒狗。花，味苦，無毒。主補不足，女子傷中，寒熱痹，厥逆。實，味酸，不可多食，傷筋骨。生晉山。（得火良，惡黃　、黃芩、根，解錫毒，畏　草。）</p>
<p>《本經》原文：杏核仁，味甘，溫。主咳逆上氣雷鳴，喉痹，下氣，產乳金創，寒心賁豚。生川穀。</p>
<h3>桃核</h3>
<p>味甘，無毒。主咳逆上氣，消心下堅，除卒暴擊血，破瘕症，通月水，止痛。七月采取仁，陰乾。桃華，味苦，平，無毒。主除水氣，破石淋，利大小便，下三蟲，悅澤人面。</p>
<p>三月三日采，陰乾。桃梟，味苦。主中惡腹痛，殺精魅五毒不祥。一名桃奴，一名梟景，是實著樹不落，實中者，正月采之。桃毛，主帶下諸疾，破堅閉。刮取實毛用之。桃蠹，食桃樹蟲也。其莖白皮，味苦，辛，無毒。除邪鬼，中惡，腹痛，去胃中熱。其葉，味苦，平，無毒。主除尸蟲，出瘡中蟲。膠，煉之，主保中不飢，忍風寒；其實，味酸，多食令人有熱。生太山。</p>
<p>《本經》原文：桃核仁，味苦，平。主瘀血血閉瘕邪氣，殺小蟲。桃花，殺注惡鬼，令人好顏色。桃梟，微不祥。生川穀。</p>
<h3>李核仁</h3>
<p>味甘、苦，平，無毒。主治僵仆躋，瘀血，骨痛。根皮，大寒，主消渴，止心煩逆實，味苦，除痼熱，調中。</p>
<h3>梨</h3>
<p>味苦，寒。多食令人寒中，金創，乳婦尤不可食。</p>
<h3>柰</h3>
<p>味苦，寒。多食令人臚脹，病患尤甚。</p>
<h3>安石榴</h3>
<p>味甘、酸，無毒。主咽燥渴。損人肺，不可多食。其酸實殼，治下利，止漏精。其根，治蛔蟲、寸白。</p>
<h3>瓜蒂</h3>
<p>有毒。去鼻中息肉，治黃膽。其花，主心痛咳逆。生嵩高。七月七日采，陰乾。</p>
<p>《本經》原文：瓜蒂，味苦，寒。主大水，身面四肢浮腫，下水，殺蠱毒，咳逆上氣，及食</p>
<h3>苦瓠</h3>
<p>有毒。生晉地。</p>
<p>《本經》原文：苦瓠，味苦，寒。主大水，面目四肢浮腫，下水，令人吐。生川澤。</p>
<h3>水</h3>
<p>無毒。生南海。</p>
<p>《本經》原文：水　，味甘，平。主女子赤沃，止血養精，保血脈，益氣，令人肥健嗜食。一名水英。生池</p>
<p>味甘，寒，無毒。主治消渴，熱痹。</p>
<h3>落葵</h3>
<p>味酸，寒，無毒。主滑中，散熱。實，主悅澤人面。一名天葵，一名繁露。</p>
<h3>蘩蔞</h3>
<p>味酸，平，無毒。主治積年惡瘡不愈。五月五日日中采，干，用之當燔。</p>
<h3>蕺</h3>
<p>味辛，微溫。主治　溺瘡，多食令人氣喘。</p>
<h3>葫</h3>
<p>味辛，溫，有毒。主散癰腫、　瘡，除風邪，殺毒瓦斯。獨子者，亦佳。歸五臟。久食傷人，損目明。五月五日采之。</p>
<h3>蒜</h3>
<p>味辛，溫，無毒。歸脾腎。主治霍亂，腹中不安，消穀，理胃，溫中，除邪痹毒瓦斯。五月五日采之。</p>
<p>〔附〕</p>
<h3>芸苔</h3>
<p>味辛，溫，無毒。主治風游丹腫，乳癰。</p>
<p>又，芸台，春食之，能發痼疾。此人間所啖菜也。</p>
<h3>腐婢</h3>
<p>無毒。止消渴。生漢中，即小豆華也。七月采，陰乾。</p>
<p>《本經》原文：腐婢，味辛，平。主　瘧，寒熱邪氣，泄利，陰不起，病酒頭痛。</p>
<h3>扁豆</h3>
<p>味甘，微溫。主和中，下氣。葉，主治霍亂吐下不止。</p>
<h3>黍米</h3>
<p>味甘，溫，無毒。主益氣，補中，多熱令人煩。</p>
<h3>粳米</h3>
<p>味甘、苦，平，無毒。主益氣，止煩，止泄。</p>
<h3>稻米</h3>
<p>味苦。主溫中，令人多熱，大便堅。</p>
<h3>稷米</h3>
<p>味甘，無毒。主益氣，補不足。</p>
<h3>醋</h3>
<p>味酸，溫，無毒。主消癰腫，散水氣，殺邪毒。</p>
<h3>醬</h3>
<p>味鹹，酸，冷利。主除熱，止煩滿，殺百藥、熱湯及火毒。</p>
<h3>鹽</h3>
<p>味鹹，溫，無毒。主殺鬼蠱，邪注，毒瓦斯，下部　瘡，傷寒熱，吐胸中痰　，止心腹卒痛，堅肌骨。多食傷肺，喜咳。</p>
<h3>舂杵頭細糠</h3>
<p>主治卒噎。</p>
