<header><h1>傷寒貫珠集</h1></header>
<dl class="元資料" data-type="book">
<div><dt>作者</dt><dd>尤怡</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1729">公元1729年</data></dd></div>
</dl>
<p>傷寒貫珠集
清．飲鶴山人尤怡在經註、鄞縣曹赤電炳章圈點</p>
<h2>卷一、太陽篇上</h2>
<h3>辨列太陽條例大意</h3>
<p>傷寒一證，古稱大病，而太陽一經，其頭緒之繁多，方法之龐雜，又甚于他經，是以辨之非
易，然非不可辨也，蓋太陽之經，其原出之病，與正治之法，不過二十餘條
而已，其他則皆權變法、斡旋法、救逆法、類病法也，假使治傷寒者，審其脈之或緩或急辨
其證之有汗無汗而從而汗之解之，如桂枝、麻黃等法，則邪卻而病解矣，其或合陽明，或合
少陽，或兼三陽者，則從而解之清之，如葛根、黃芩、白虎等法，亦邪分而病解矣，此為正
治之法，顧人氣體有虛實之殊，藏府有陰陽之異，或素有痰飲痞氣，以及咽燥淋瘡汗衄之疾，
或適當房室金刃產後亡血之餘，是雖同為傷寒之候，不得竟從麻桂之法矣，于是乎有小建中、
炙甘草、大小青龍及桂枝二、麻黃一、等湯也，是為權變之法，而用桂枝、麻黃等法，又不
能必其無過與不及之弊，或汗出不徹，而邪不外散，則有傳變他經及發黃蓄血之病，或汗出
過多，而并傷陽氣，則有振振擗地，肉瞤筋惕等證，于是乎有可更發汗，更藥發汗，及真
武、四逆等法也，是為斡旋之法，且也醫學久蕪，方法罕熟，或當汗而反下，或既下而復汗，
以及溫鍼、艾灼、水潠、種種混施，以致結胸痞滿，挾熱下利，或煩燥不得眠，或內煩飢不
欲食，或驚狂不安，或肉上栗起，於是乎有大小陷胸、諸瀉心湯、文蛤散等方也，此為救逆
之法至於天之邪氣，共有六淫，太陽受邪，亦非一種，是以傷寒之外，又有風溫、溫病、風
濕、中濕、濕溫、中暍、霍亂等證，其形與傷寒相似，其治與傷寒不同，于是乎有桂附、朮
附、麻黃、白朮、瓜蒂、人參、白虎等方，此為傷寒類病法也，夫振裘者必挈其領，整網者
必提其綱，不知出此，而徒事區別，縱極清楚，亦何適于用哉，茲略引大端于前，分列綱目
於後，而仲景之方與法，罔不備舉，然後太陽一經，千頭萬緒，總歸一貫，比于百八輪珠，
箇箇在手矣，六經倣此，詳見各篇。</p>
<h3>太陽正治法第一</h3>
<h4>太陽病脈證三條</h4>
<p>太陽之為病，脈浮，頭項強痛而惡寒。
 人身十二經絡，本相聯貫，而各有畔界，是以邪氣之中，必各有所見之證與可據之脈，仲景
首定太陽脈證曰，脈浮，頭項強痛惡寒，蓋太陽居三陽之表，而其 脈上額交巔，入絡腦，還
出別下項，故其初病，無論中風傷寒，其脈證皆如是也，後陽明篇云，陽明之為病，胃家實
也，少陽篇云，少陽之為病，口苦咽乾，目眩也，三陰篇云，太陰之為病，腹滿而吐，食不
下，自利益甚，時腹自痛，少陰之為病，脈微細，但欲寐，厥陰之為病，消渴，氣上衝心，
心中疼熱，飢而不欲食，食即吐蚘，暨本文共六條，遞舉六經受病之脈證，故柯氏目為六經
之綱領，而此則為太陽之綱領也，然陽明條下無口乾惡熱之文，少陽證中無往來寒熱之目，
少陰欲寐，僅舉一端，太陰厥陰，多言藏病，學者當參合他條，毋徒執一可也。</p>
<p>太陽病，發熱，汗出，惡風，脈緩者，名為中風。
 此太陽中風之的脈的證也，太陽篇中，原有傷寒、中風、風溫、溫病、中濕、風濕、濕溫、
痙暍等證，仲景蓋以諸病，皆有發熱，皆能傳變，與傷寒同，其實所受之邪則不同，故特列
而辨之，所以清傷寒之源也，王叔和氏分出痙、濕、暍、三種以為與傷寒相似，宜應別論，
其中風、風溫等病，仍彙太陽篇中，要之中風、風溫、溫病，雖並得稱傷寒，而其病發之狀，
與治之之法，實與傷寒不同，叔和彙列于此者，又以正中風、風溫、溫病之始也，然詳仲景
篇中，每多風寒互舉之處，似有不容分別而出之者，豈非以風寒之氣恆相兼，與陰陽之致可
互參耶，余故以中風傷寒，並列于此，而風溫、溫病，則隸于類病法下，遵先聖之旨也，至
于汗出脈、緩之理，成氏暨諸賢所謂風性解緩，而衛不外固者韙矣，玆不復贅。</p>
<p>太陽病，或已發熱，或未發熱，必惡寒，體痛，嘔逆，脈陰陽俱緊者，名曰傷寒。
 此太陽傷寒之的脈的證也，與前中風條參之自別，蓋風為陽邪，寒為陰邪，陽氣疾，陰氣徐，
故中風身熱，而傷寒不即熱也，風性解緩，寒性勁切，故中風汗出脈緩，而傷寒無汗脈緊也，
惡寒者，傷於寒則惡寒，猶傷于風則惡風，傷於食則惡食也，體痛嘔逆者，寒傷于形則痛，
胃氣得寒則逆也，然竊嘗考諸條，中濕、風濕、並兼體痛，中風、中暍，俱有惡寒，風邪上
壅，多作乾嘔，濕家下早，亦成噦逆，故論太陽傷寒者，當以脈緊無汗，身不即熱為主，猶
中風以脈緩多汗身熱為主也，其惡寒、體痛嘔逆，則以之合證焉可耳，不言無汗者，以脈緊
該之也，此二條乃太陽病之條目也。</p>
<h4>桂枝湯脈證七條</h4>
<p>太陽中風，陽浮而陰弱，陽浮者，熱自發，陰弱者，汗自出，嗇嗇惡寒，淅淅惡風，翕翕發
熱，鼻鳴乾嘔者，桂枝湯主之。
 太陽中風者，陽受風氣而未及乎陰也，故其脈陽浮而陰弱，陽浮者，不待閉鬱而熱自發，陰
弱者，不必攻發而汗自出，所以然者，風為陽邪而上行，衛為陽氣而主外，以陽從陽，其氣
必浮，故熱自發，陽得風而自強，陰無邪而反弱，以弱從強，其氣必餒，故汗自出，嗇嗇惡
寒，淅淅惡風者，肌腠疏緩，衛氣不諧，雖無寒而若不能禦，雖無風而常覺洒淅也，翕、越
也，動也，盛也，言其熱時動而盛，不似傷寒之一熱至極也，鼻鳴乾嘔，不特風氣上壅，亦
邪氣暴加，裏氣上爭之象，是宜桂枝湯助正以逐邪，抑攘外以安內也。</p>
<p>桂枝湯方
桂枝［三兩去皮］、甘草［二兩炙］、芍藥［三兩］、生薑［三兩切］、大棗［十二枚擘］，
右五味㕮咀，以水七升，微火煮取三升，去滓，適寒溫，服一升，服已，須臾，啜熱稀粥
一升餘，以助藥力，溫覆令一時許，遍身漐漐，微似有汗者益佳，不可令如水流漓，病必
不除，若一服汗出病差，停後服，不少盡劑，若不汗，重服，依前法，又不汗，後服小促，
半日許，令三服盡，若病重者，一日一夜服，周時觀之，服一劑盡，病證猶在者，更作服，
若汗不出者，乃服至二三劑，禁生冷、粘滑、肉麵、五辛、酒酪、臭惡等物。</p>
<p>按風之為氣，能動陽氣而泄津液，所以發熱，汗自出，與傷寒之發熱無汗不同，此方用桂枝
發散邪氣，即以芍藥攝養津氣，炙甘草合桂枝之辛，足以攘外，合芍藥之酸，足以安內，生
薑、大棗，甘辛相合，補益營衛，亦助正氣，去邪氣之用也，蓋以其汗出而邪不出，故不用
麻黃之發表，而以桂枝助陽以為表，以其表病而裏無熱，故不用石膏之清裏，而用芍藥歛陰
以為裏，此桂枝湯之所以異於麻黃大青龍也，服已，須臾，啜稀粥一升餘，所以助胃氣，即
所以助藥力，蓋藥力必藉胃氣以行也，溫覆令微汗，不使流漓如水者，所謂汗出少者為自和，
汗出多者為太過也，一服汗出病差，停後服者，中病即止，不使過之以傷其正也，若不汗，
後邪小促，及服至二三劑者，期在必克，以汗出為和而止也，仲景示人以法中之法如此。</p>
<p>太陽病，頭痛，發熱，汗出，惡風者，桂枝湯主之。
 太陽受邪，無論中風傷寒，俱有頭痛，俱有發熱，但傷於寒，則表實無汗，傷於風，則表疏
自汗，是頭痛發熱者，傷寒所同，而汗出惡風者，中風所獨也，中風必以風劑治之，云桂枝
湯主之者，見非他藥所得而更者耳。</p>
<p>太陽病，外證未解，脈浮弱者，當以汗解，宜桂枝湯。
 太陽外證，即頭痛發熱、惡風寒之屬，外證未解，宜從汗解，然必審其脈之強弱而施治，若
脈浮弱，則是中風陽浮陰弱之候，治宜桂枝湯，助正以逐邪。</p>
<p>太陽病，外證未解者，不可下也，下之為逆，欲解外者，宜桂枝湯主之。
 傷寒在表者宜汗，在裏者宜下，此大法也，是以外證未解者不可下，下之是病在表而攻其裏
也，故曰逆，本論云，本發汗而復下之，此為逆也，若先發汗，治不為逆，此之謂也，而欲
解外，則桂枝成法，不可易矣，仲景于當汗之證，隨示不可下之戒如此。</p>
<p>病常自汗出者，此為營氣和，營氣和者，外不諧，以衛氣不共營氣和諧故耳，以營行脈中，
衛行脈外，復發其汗，營衛和則愈，宜桂枝湯。
 此即前條陰弱者，汗自出之意而發明之，謂營未病而和，則汗液自通，衛中風而不諧，則陰
氣失護，宜其汗常自出也，夫營與衛，常相和諧者也，營行脈中，為衛之守衛行脈外，為營
之護，何有發熱惡寒之證哉，惟衛得風而自強，營無邪而反弱，邪正不同，強弱異等，雖欲
和諧，不可得矣，故曰營氣和者外不諧，不諧則豈特衛病而已哉，故欲營之安，必和其衛，
欲衛之和，必逐其風，是宜桂枝湯助陽取汗，汗出則邪去而衛和，衛和則營不受擾而愈。</p>
<p>病人藏無他病，時發熱，自汗出，而不愈者，此衛氣不和也，先其時發汗則愈，宜桂枝湯主
之。
 人之一身，經絡綱維於外，藏府傳化于中，而其為病，從外之內者有之，從內之外者有之，
藏無他病，裏無病也，時發熱自汗，則有時不發熱無汗可知，而不愈者，是其病不在裏而在
表，不在營而在衛矣，先其時發汗則愈者，於不熱無汗 之時，而先用藥取汗，則邪去衛和而
愈，不然，汗液方泄而復發之，寧無如水淋漓之患耶。</p>
<p>太陽病，發熱汗出者，此為營弱衛強，故使汗出，欲救邪風者，宜桂枝湯。
 此即前條衛不諧，營自和之意，而申其說，救邪風者，救衛氣之為風邪所擾也，然仲景營弱
衛強之說，不過發明所以發熱汗出之故，後人不察，遂有風并於衛，衛實而營虛，寒中於營，
營實而衛虛之說，不知邪氣之來，自皮毛而入肌肉，無論中風傷寒，未有不及於衛者，其甚
者，乃并傷于營耳，郭白雲所謂涉衛中營者是也，是以寒之淺者，僅傷于衛，風而甚者，并
及于營，衛之實者，風亦難泄，衛而虛者，寒猶不固，無汗必發其汗，麻黃湯所以去表實而
發邪氣，有汗不可更發汗，桂枝湯所以助表氣而逐邪氣，學者但當分病證之有汗無汗，以嚴
麻黃桂枝之辨，不必執營衛之孰虛孰實，以證傷寒中風之殊，且無汗為表實，何云衛虛，麻
黃之去實，寧獨遺衛，能不膠于俗說者，斯為豪傑之士。</p>
<h4>桂枝湯禁三條</h4>
<p>桂枝本為解肌，若其人脈浮緊，發熱汗不出者，不可與也，當須識此，勿令誤也。
 仲景既詳桂枝之用，後申桂枝之禁，曰桂枝本為解肌，而不可用以發汗，解肌者，解散肌表
之邪，與麻黃之發汗不同，故惟中風發熱，脈浮緩，自汗出者，為宜，若其人脈浮緊，發熱
汗不出，則是太陽麻黃湯證，設誤與桂枝，必致汗不出而煩燥，甚則斑黃狂亂，無所不至矣，
此桂枝湯之大禁也，故曰不可與也，當須識此勿令誤也，仲景叮嚀之意至矣。</p>
<p>若酒客病，不可與桂枝湯，得湯則嘔，以酒客不喜甘故也。
 本草云，酒性熱而善上，又忌諸甜物，飲酒之人，甘味積中而熱氣時上，故雖有桂枝證，不
得服桂枝湯，得之則嘔，以酒客不喜甘，而桂枝湯味甘，能增滿而致嘔，亦一大禁也。</p>
<p>凡服桂枝湯吐者，其後必吐膿血也。
 凡服桂枝湯吐者，不必盡是酒客，此其脾胃素有溫熱蘊蓄，可知桂枝湯，其甘足以釀濕，其
溫足以助熱，設誤服之而致吐，其濕熱之積，上攻肺中，與表之邪風相得，蒸鬱不解，發為
肺癰，咳吐膿血，勢有必至者矣，仲景因酒客，復申其說如此。</p>
<h4>麻黃湯脈證七條</h4>
<p>太陽病，頭痛發熱，身疼腰痛，骨節疼痛，惡風無汗而喘者，麻黃湯主之。
 足之太陽，其脈上際巔頂，而下連腰足，而寒之為氣，足以外閉衛陽，而內鬱營血，故其為
病，有頭痛發熱，身疼腰痛，骨節疼痛，惡風無汗而喘之證，然惟骨痛、脈緊、無汗，為麻
黃湯的證，其餘則太陽中風，亦得有之，學者若不以骨痛、脈緊、無汗為主，而但拘頭痛、
發熱等證，必致發非所當發矣，雖本文不言脈緊，然可從無汗而推，猶太陽傷寒條，不言無
汗，而以脈緊該之也。</p>
<p>麻黃湯方，
麻黃〔三兩去節〕、桂枝〔三兩去皮〕、甘草〔一兩炙〕、杏仁〔七十箇去皮尖〕，
右四味，以水九升，先煮麻黃減二升，去上沬，內諸藥，煮尿二升半，去滓，溫服八合，覆
取微似汗，不須啜粥，餘如桂枝法將息。
 人之傷于寒也，陽氣鬱而成熱，皮膚閉而成實，麻黃輕以去實，辛以散寒，溫以行陽，杏仁
佐麻黃，達肺氣，泄皮毛，止喘急，王好古謂其治衛實之藥是也，然泄而不收，升而不降，
桂枝甘草，雖曰佐之，實以監之耳。</p>
<p>脈浮者，病在表，可發汗，宜麻黃湯。
脈浮而數者，可發汗，宜麻黃湯。
 二條憑脈以言治，而不及證，且但舉浮與數，而不言緊，而云可與麻黃湯發汗，殊為未備，
然仲景自有太陽傷寒條，與麻黃湯證，在學者當會通全書而求之，不可拘於一文一字間也。</p>
<p>太陽病，脈浮緊，無汗，發熱，身疼痛，八九日不解，表證仍在，此當發其汗，服藥已，微
除，其人發煩目瞑，劇者必衄，衄乃解，所以然者，陽氣重故也，麻黃湯主之。
 脈浮緊，無汗發熱，身疼痛，太陽麻黃湯證也，至八九日之久而不解，表證仍在者，仍宜以
麻黃湯發之，所謂治傷寒，不可拘于日數，但見表證脈浮者，雖數日，猶宜汗之是也，乃服
藥已，病雖微除，而其人發煩目瞑者，衛中之邪得解，而營中之熱未除也，劇者血為熱搏，
勢必成衄，衄則營中之熱亦除，而病乃解，所以然者，陽氣太重，營衛俱實，故須汗血並出，
而後邪氣乃解耳，陽氣、陽中之邪氣也，郭白雲云，麻黃湯主之五字，當在此當發其汗下是。</p>
<p>傷寒脈浮緊，不發汗，因致衄者，麻黃湯主之。
太陽病，脈浮緊，發熱，身無汗，自衄者愈。
 傷寒脈浮緊者，邪氣在表，法當汗解，而不發汗，則邪無後達泄，內搏于血，必致衄也，衄
則其邪當去，而猶以麻黃湯主之者，此亦營衛並實，如上條所云陽氣重之證，上條衛已解而
營未和，故雖已發汗，猶須得衄而解，此條營雖通而衛尚塞，故既已自衄，而仍與麻黃湯發
汗而愈，然必欲衄而血不流，雖衄而熱不解者，乃為合法，不然，靡有不竭其陰者，于是仲
景復著奪血無汗之例曰，脈浮緊，發熱，身無汗，自衄者愈，謂陽氣重者，須汗血並出，以
泄其邪，其稍輕者，設得衄血，邪必自解，身雖無汗，固不必更以麻黃湯發之也。</p>
<p>太陽病，十日已去，脈浮細而嗜臥者，外已解也，設胸滿脅痛者，與小柴胡湯，脈但浮者，
與麻黃湯。
 太陽病，至十餘日之久，脈浮不緊而細，人不躁煩而嗜臥，所謂緊去人安，其病為已解也，
下二假，是就未解時說，謂脈浮細，不嗜臥而胸滿脅痛者，邪已入少陽，為未解也，則當與
小柴胡湯，若脈但浮不細，不嗜臥者，邪猶在太陽而未解也，仍當與麻黃湯，非外已解，而
猶和之發之之謂也。</p>
<h4>合病證治六條</h4>
<p>太陽與陽明合病，喘而胸滿者，不可下，宜麻黃湯主之。
 胸中為陽之位，喘而胸滿者，病發於陽而盛於陽也，邪在陽可汗，在陰則可下，此以陽邪盛
於陽位，故不可下之以虛其裏，裏虛則邪且陷矣，而宜麻黃湯汗之以疏其表，表疏則邪自解
矣，合病者，兩經同病，邪氣盛者，其傷必多，甚則遍及三陽也。</p>
<p>太陽與陽明合病者，必自下利，葛根湯主之。太陽與陽明合病，不下利，但嘔者，葛根加半
夏湯主之。
 傷寒之邪，在上則為喘滿，入裏則為下利，兩陽合病，邪氣盛大，不特充斥于上，抑且浸淫
于裏，故曰必自下利，其不下利者，則必上逆而嘔，晰而言之，合病下利者，裏氣得熱而下
行也，不下利但嘔者，裏氣得熱而上行也，夫邪盛于外而之內者，仍當先治其邪，葛乾湯合
用桂枝麻黃而加葛根，所以解經中兩陽相合之邪，其不下利而但嘔者，則加半夏以下逆氣，
而葛根解外法，所不易矣。
葛根湯方，
葛根〔四兩〕、生薑〔三兩切〕、甘草〔一兩炙〕、芍藥〔二兩〕、桂枝〔二兩去皮〕、麻
黃〔三兩去節湯炮去黃汁焙乾稱〕、大棗〔十二枚擘〕，
右七味，以水一斗，先煮葛根、麻黃減二升，去上沬，內諸藥，煮取三升，去滓，溫服一升，
覆取微似汗，不須啜粥，餘如桂枝法，將息及禁忌。</p>
<p>葛根加半夏湯方，
於葛根湯內，如半夏半升，洗。
太陽與少陽合病，自下利者，與黃芩湯，若嘔者，黃芩加半夏生薑湯主之。
 少陽居表裏之間，視陽明為較深，其熱氣尤易內侵，是以太陽與少陽合病，亦自下利，而治
法則不同矣，太陽陽明合病者，其邪近外，驅之使從外出為易，太陽少陽合病者，其邪近裏，
治之使從裏和為易，故彼用葛根，而此與黃芩也，夫熱氣內淫，黃芩之苦，可以清之，腸胃
得熱而不固，芍藥之酸，甘草之甘，可以固之，若嘔者，熱上逆也，故加半夏、生薑，以散
逆氣，而黃芩之清裏，亦法所不易矣。
黃芩湯方，
黃芩〔三兩〕、甘草〔二兩炙〕、芍藥〔二兩〕、大棗〔十二枚擘〕，
右四味，以水一斗，煮取三升，去滓，溫服一升，日再，夜一服。</p>
<p>黃芩加半夏生薑湯方，
於黃芩湯內，加半夏半升，生薑三兩，餘依前法。</p>
<p>三陽合病，腹滿身重，難以轉側，口不仁而面垢，譫語，遺尿，發汗則譫語，下之則額上生
汗，手足逆冷，若自汗出者，白虎湯主之。〔此條叔和隸陽明篇中〕。
三陽合病，脈浮大，上關上，但欲眠睡，目合則汗。〔此條隸少陽篇中〕。
 三陽合病，視諸合病邪氣為較大矣，而太陽之府膀胱，陽明之府胃，少陽之府膽，熱邪盛滿，
自經入府，故腹滿身重，口不仁而面垢，譫語遺尿，及但欲眠睡，目合則汗，皆為裏為熱之
徵也，夫裏而不表，故不可汗，汗之則津亡，胃燥而譫語，熱而不實，復不可下，下之則中
傷氣竭，而額上生汗，手足逆冷，若自汗出句，頂腹滿身四句來，謂有腹滿身重等證而自汗
出者，則雖三陽合病，而邪聚于陽明者較太陽為多，故宜白虎湯，清而解之，若不自汗出者，
則太陽為多，白虎不可與矣，脈浮大，上關上者，病盛於陽經，故脈亦盛于陽位也，但欲眠
睡者，熱勝而神昏也，目合則汗者，膽熱則液泄也，此條蓋補上條之所未備，而熱之聚於少
陽者，視太陽陽明較多矣，設求治法，豈白虎湯所能盡哉。
白虎湯方。
石膏〔一觔〕、知毋〔六兩〕、甘草〔二兩〕、粳米〔六合〕，
右先煮石膏數十沸，再投藥米，米熟湯成，溫服。</p>
<h4>辨傷寒受病陰陽不同一條</h4>
<p>病有發熱惡寒者，發于陽也，無熱惡寒者，發于陰也，發于陽者，七日愈，發于陰者，六日
愈，以陽數七，陰數六故也。
 此條特舉陽經陰經受邪之異，而辨其病狀，及其愈期，發于陽者，病在陽之經也，以寒加陽，
陽氣被鬱，故發熱而惡寒，發於陰者，病在陰之經也，以陰加陰，無陽可鬱，故無熱而但惡
寒耳，夫陽受邪者，必陽氣充而邪乃解，陰受病者，必陰氣盛而病始退，七日為陽氣來復之
日，六日為陰氣盛滿之候，故其病當愈耳，然六日七日，亦是概言陰陽病愈之法，大都如此，
學者勿泥可也。</p>
<p>太陽病愈時日及欲解之候與傳經之證六條。
太陽病，頭痛，至七日以上自愈者，以行其經盡故也，若欲作再經者，鍼足陽明，使經不傳
則愈。
 太陽病頭痛，所謂病發於陽也，法當七日愈，云以上者，該常與變而言之也，行其經盡者，
邪行諸經，盡而當解也，設不解，則將從太陽而復入陽明，所謂作再經也，故鍼足陽明，以
引邪外出，邪出則經不傳而愈矣，蓋傷寒之邪，有在經在腑在臟之異，行其經盡者，邪行諸
經而未入臟腑之謂，而經脈陰陽相貫，如環無端，是以行陰極而復行陽者有之，若入厥陰之
臟，則病深熱極而死耳，其或幸而不死者，則從臟出腑而愈，未聞有作經再傳者也，此條諸
註釋俱誤，蓋於經腑臟未審耳。
 再按內經云，傷寒一日，巨陽受之云云，又云，七日太陽病衰，頭痛少愈云云，蓋傷寒之邪，
有離太陽而入陽明者，有遍傳諸經而猶未離太陽者，此太陽病頭痛，至七日以上自愈，正與
內經之旨相合，蓋六日邪遍六經，至七日而太陽先受者，當先解耳，則是所謂行其經盡者，
不但未入腑臟，亦并未離太陽，所以當有頭痛，所謂作再經者，七日不愈，而欲至十四日也，
鍼足陽明者，以其經多氣多血，可以任受鍼石，且離太陽未遠，尤易逐邪外出耳。</p>
<p>太陽病，欲解時，從巳至未止。
 太陽經為諸陽之長，巳什未時為陽中之陽，太陽病解，必從巳至未，所謂陽受病者，必陽氣
充而邪乃解也，與發于陽者，七日愈同意。</p>
<p>風家表解，而不了了者，十二日愈。
 風家表解，邪退而正安矣，而猶不能霍然無患者，邪去未盡故也，十二日，經氣已周，餘邪
畢達，故必自愈。
欲自解者，必當先煩，乃有汗而解，何以知之，脈浮故知汗出解也。
 邪氣欲解之候，必先見之于證與脈，若其人自煩而脈浮者，知其邪必將從汗而解，蓋自煩為
邪正相爭之候，而脈浮為邪氣外達之徵也，設脈不浮而沉，則雖煩，豈能作汗，即汗亦豈得
解哉。</p>
<p>傷寒一日，太陽受之，脈若靜者，為不傳，頗欲吐，若躁煩，脈數急者，為傳也。
傷寒二三日，陽明少陽證不見者，為不傳也。
 寒氣外入，先中皮膚太陽之經，居三陽之表，故受邪為最先，而邪有微甚，證有緩急，體有
強弱，病有傳與不傳之異，邪微者，不能撓乎正，其脈多靜，邪甚者，得與正相爭，其脈則
數急，其人則躁煩而頗欲吐，蓋寒邪稍深，即變而成熱，胃氣惡邪，則逆而欲吐也，然邪既
傳經，則必遞見他經之證，傷寒二三日，陽明少陽受病之時，而不見有身熱、惡熱、口苦、
咽乾、目眩等證，則邪氣止在太陽，而不更傳陽明少陽可知，仲景示人以推測病情之法如此。</p>
<h3>太陽權變法第二</h3>
<h4>不可發汗例十條</h4>
<p>咽喉乾燥者，不可發汗。
 病寒之人，非汗不解，而亦有不可發汗者，不可不審，咽喉者，諸陰之所集，而乾燥則陰不
足矣，汗者，出於陽而生於陰也，故咽喉乾燥者，雖有邪氣，不可以溫藥發汗，若強發之，
乾燥益甚，為咳，為咽痛，為吐膿血，無所不至矣，云不可發汗者，謂本當汗而不可發之，
非本不當汗之證也，此所謂之變也，下文倣此。</p>
<p>淋家不可發汗，發汗必便血。
 巢氏云，淋者腎虛而膀胱熱也，更發其汗，損傷臟陰，增益腑熱，則必便血，如強發少陰汗
而動其血之例也。</p>
<p>瘡家雖身疼痛，不可發汗，汗出則痙。
 身疼痛，表有邪也，瘡家膿血流溢，損傷陰氣，雖有表邪，不可發汗，汗之血虛生風，必發
痙也。</p>
<p>衄家不可發汗，汗出必額上陷，脈緊急，目直視，不能眴，不得眠。
 額上陷，脈緊急者，額上兩旁之動脈，陷伏不起，或緊急不柔也，靈樞云，兩跗之上，脈陷
豎者，足陽明，陷謂陷伏，豎即緊急，與此正相發明，目直視，不能眴，不得眠皆亡陰之證
也。</p>
<p>亡血家不可發汗，發汗則寒慄而振。
 陰亡者，陽不守，亡血復汗，寒慄而振者，陰氣先虛，而陽氣後竭也，按瘡家衄家，並屬亡
血，而此條復出亡血家者，該吐下跌仆金刃產後等證為言也。</p>
<p>汗家重發汗，必恍忽心亂，小便已，陰疼，與禹餘糧丸。
 五液在心為汗，心液亡者，心陽無附，則恍惚心亂，心虛生熱，下流所合，則小便已，陰疼，
禹餘糧丸方缺，常器之云，只禹餘糧一味，火煆服亦可，按禹餘糧，體重可以去怯，甘寒可
以除熱，又性濇，主下焦前後諸病也。</p>
<p>病人有寒，復發汗，胃中冷，必吐蚘。
 有寒，裏有寒也，裏有寒者，雖有表邪，必先溫裏而後攻表，如後四逆湯之法，乃不與溫裏
而反發汗，損傷陽氣，胃中虛冷，必吐蚘也。</p>
<p>形作傷寒，其脈不弦緊而弱，弱者必渴，被火者必譫語，弱者發熱，脈浮，解之當汗出愈。
 形作傷寒，其脈當弦繄而反弱，為病實而正虛也，脈弱為陰不足，而邪氣乘之，生熱損陰，
則必發渴，乃更以火劫汗，兩熱相合，胃中燥煩，汗必不出，而譫語立至矣，若發熱脈浮，
則邪欲出表，陰氣雖虛，可解之，使從汗而愈，如下條桂枝二越婢一等法，若脈不浮，則邪
熱內擾，將救陰之不暇，而可更取其汗耶。</p>
<p>脈浮數者，法當汗出而愈，若下之身重心悸者，不可發汗，當自汗出乃解，所以然者，尺中
脈微，此裏虛，須表裏實，津液自和，便自汗出愈。
 脈浮數者，其病在表，法當汗出而愈，所謂脈浮數者，可發汗，宜麻黃湯是也，若下之，邪
入裏而身重，氣內虛而心悸者，表雖不解，不可以藥發汗，當俟其汗自出而邪乃解，所以然
者，尺中脈微，為裏虛不足，若更發汗，則并虛其表，裏無護衛，而散亡隨之矣，故必候其
表裏氣復，津液通和，而後汗出而愈，豈可以藥強迫之哉。</p>
<p>脈浮緊者，法當身疼痛宜以汗解之，假令尺中遲者，不可發汗，何以知之，然以營氣不足，
血少故也。
 脈浮緊者，寒邪在表，于法當身疼痛，而其治宜發汗，假令尺中脈遲，知其營虛而血不足，
雖身疼痛，而不可發汗，所以然者，汗出于陽而生于陰，營血不足而強發之，汗必不出，汗
即出而筋惕肉瞤，散亡隨之矣，可不慎哉。</p>
<p>桂枝二越婢一湯脈證一條。
太陽病，發熱惡寒，熱多寒少，脈微弱者，此無陽也，不可發汗，宜桂枝二越婢一湯。
 無陽與亡陽不同，亡陽者，陽外亡而不守也，其根在腎，無陽者，陽內竭而不用也，其源在
胃，發熱惡寒，熱多寒少，病須得汗而解，而脈微弱，則陽無氣矣，陽者，津液之根，猶水
之氣也，無氣則水不至，無陽津不化，而汗之源絕矣，雖發之，其可得乎，故用桂枝二分，
生化陰陽，越婢一分，發散邪氣，設得小汗，其邪必解，乃傷寒發汗之變法也。</p>
<p>桂枝二越婢一湯方，論見後。
桂枝〔去皮〕、芍藥、甘草〔炙〕、麻黃〔去節各十八銖〕、生薑〔一兩三錢切〕、大棗〔四
枚擘〕、石膏〔二十四銖碎綿裹〕，
右七味，㕮咀，以水五升，煮麻黃一二沸，去上沫，內諸藥，煮取二升，去滓，溫服一升。</p>
<p>桂枝麻黃各半湯脈一條。
太陽病，得之八九日，如瘧狀，發熱惡寒，熱多寒少，其人不嘔，清便欲自可，一日二三度
發，脈微緩者，為欲愈也，脈微而惡寒者，此陰陽俱虛，不可更發汗，更下更吐也，面色反
有熱色者，未欲解也，以其不能得小汗出，身必癢，宜桂枝麻黃各半湯。
 病在太陽，至八九日之久，而不傳他經，其表邪本微可知，不嘔清便欲自可，則裏未受邪可
知，病如瘧狀，非真是瘧，亦非傳少陽也，乃正氣內勝，數與邪爭故也，至熱多寒少，一日
二三度發，則邪氣不勝而將退舍矣，更審其脈而參驗之，若得微緩，則欲愈之象也，若脈微
而惡寒者，此陰陽俱虛，當與溫養，如新加湯之例，而發汗吐下，均在所禁矣，若面色反有
熱色者，邪氣欲從表出，而不得小汗，則邪無從出，如面色緣緣正赤，陽氣怫鬱在表，當解
之熏之之類也，身癢者，邪盛而攻走經筋則痛，邪微而遊行皮膚則癢也，夫既不得汗出，則
非桂枝所能解，而邪氣又微，亦非麻黃所可發，故合兩方為一方，變大制為小制，桂枝所以
為汗液之地，麻黃所以為發散之用，且不使藥過病，以傷其正也。</p>
<p>桂枝麻黃各半湯方。
桂枝〔去皮〕、麻黃〔去節〕、甘草〔炙〕、芍藥、生薑〔各一兩〕、大棗〔四枚〕、杏仁
〔二十四箇湯浸去皮〕，
，右七味，以水五升，先煮麻黃一二沸，去上沫，內諸藥，煮取一升八合，去滓，溫服六合。</p>
<p>合論桂枝麻黃各半湯桂枝二麻黃一湯桂枝二越婢一湯三方。
按桂枝麻黃各半湯桂枝二麻黃一湯，桂枝二越婢一湯，三方並兩方合用，乃古之所謂複方也，
細審其制，桂枝麻黃各半湯，助正之力，侔于散邪，桂枝二麻黃一湯，則助正之力多，而散
邪之力少，于法為較和矣，其桂枝二越婢一湯，本無熱證而加石膏者，以其人無陽，津液不
足，不勝桂枝之任，故加甘寒于內，少變辛溫之性，且滋津液之用，而其方制之小，示微發
于不發之中，則三方如一方也，故桂枝湯不特發散邪氣，亦能補助正氣，以其方甘酸辛合用，
具生陽化陰之炒，與麻黃合劑，則能盡麻黃之力，而并去其悍，與石膏同用，則能資石膏之
益，而不撓乎權，是雖麻石並行，而實以桂枝為主，蓋非滋養營衛，則無以為發汗散邪之地
耳，凡正氣不足，邪氣亦微，而伋須得汗而解者，宜於此三方取則焉，後人不能盡桂枝之用，
而求之人參，歸地之屬立意則同，而用藥懸殊矣。</p>
<h4>大青龍湯脈證二條</h4>
<p>太陽中風，脈浮緊，發熱惡寒，身疼痛，不汗出而煩躁者，大青龍湯主之，若脈微弱，汗出
惡風者，不可服，服之則厥逆筋愓肉瞤，此為逆也。
 此治中風而表實者之法，表實之人，不易得邪，設得之，則不能泄衛氣，而反以實陽氣，陽
氣既實，表不得通，閉熱於經，則脈緊身痛，不汗出而煩躁也，是當以麻黃桂薑之屬以發汗
而泄表實，加石膏以除裏熱而止煩躁，非桂枝湯所得而治者矣，蓋其病己非中風之常病，則
其法亦不得守桂枝之常法，仲景特舉此者，欲人知常知變，不使拘中風之名，而拘解肌之法
也，若脈微弱，汗出惡風，則表虛不實，設與大青龍湯，發越陽氣，必致厥逆筋惕肉瞤，甚
則汗多而陽亡矣，故曰，此為逆，逆者虛以實治，於理不順，所以謂之逆也。</p>
<p>大青龍湯方。
麻黃〔六兩去節〕、桂枝〔二兩去皮〕、甘草〔二兩炙〕、大棗〔十二枚擘〕、石膏〔如雞
子大碎〕、生薑〔三兩切〕、杏仁〔四十箇去皮尖〕，
右七味，以水九升，先煮麻黃減二升，去上沫，內諸藥，煮取三升，去滓，溫服一升，取微
似汗，汗出多者，溫粉撲之，一服汗者，停後服，汗多亡陽，遂虛，惡風煩躁，不得眠也。</p>
<p> 按傷寒分立三綱，桂枝主風傷衛，麻黃主寒傷營，大青龍主風寒兩傷營衛，其說始于成氏許
氏，而成于方氏喻氏，以愚觀之，桂枝主風傷衛則是，麻黃主寒傷營則非，蓋有衛病而營不
病者矣，未有營病而衛不病者也，至於大青龍證，其辨不在營衛兩病，而在煩躁一證，其立
方之旨，亦不在並用麻桂，而在獨加石膏，主文祿謂風寒並重，閉熱于經，故加石膏于發散
藥中是也，若不過風寒並發，則麻黃、桂枝，已足勝任矣，何必更須石膏哉，須知中風而或
表實，亦用麻黃，傷寒而或表虛，亦用桂枝，其表不得泄，而閉熱於中者，則用石膏，其無
熱者，但用麻、桂，此仲景心法也，炫新說而變舊章，其於斯道，不愈趨而愈遠哉。</p>
<p>傷寒脈浮緩，身不疼但重，乍有輕時，無少陰證者，大青龍湯發之。
 傷寒脈浮緩者，脈緊去而成緩，為寒欲變熱之證，經曰，脈緩者，多熱是也，傷寒邪在表則
身疼，邪入裏則身重，寒已變熱而脈緩，經脈不為拘急，故身不疼而但重，而其脈猶浮，則
邪氣在或進或退之時，故身體有乍重乍輕之候也，是以欲發其表，則經已有熱，欲清其熱，
則表猶不解，而大青龍湯，兼擅發表解熱之長，苟無少陰汗出厥逆等證者，則必以此法為良
矣，不云主之而云發之者，謂邪欲入裏，而以藥發之，使從表出也，舊註謂傷寒見風，故並
用麻黃者非。</p>
<h4>小青龍湯脈證二條</h4>
<p>傷寒表不解，心下有水氣，乾嘔，發熱而欬，或渴，或利，或噎，或小便不利，少腹滿，或
喘者，小青龍湯主之。
 表寒不解，而心下有水飲，飲寒相摶，逆於肺胃之間，為乾嘔發熱而欬，乃傷寒之兼證也，
夫飲之為物，隨氣升降，無處不到，或壅于上，或積于中，或滯于下，各隨其所之而為病，
而其治法，雖各有加減，要不出小青龍之一法，麻黃、桂枝，散外入之寒邪，半夏、細辛、
乾薑，消內積之寒飲，芍藥、五味，監麻、桂之性，且使表裏之藥，相就而不相格耳。</p>
<p>小青龍湯方，麻黃、桂枝、芍藥、細辛、乾薑、炙甘草〔各三兩〕、五味、半夏〔各半升〕，
右八味，以水一斗，先煮麻黃減二升，去上沬，內諸藥，煮取三升，去滓，溫服一升。
 按說文云，龍之為靈，能幽能明，能大能小，或登于天，或入于川，布雨之師，亦行水之神
也，大青龍合麻、桂而加石膏，能發邪氣，除煩躁，小青龍無石膏，有半夏、乾薑、芍藥、
細辛、五味，能散寒邪，行水飲，而通謂之青龍者，以其有發汗蠲飲之功，如龍之布雨而行
水也，夫熱閉於經，而不用石膏，汗為熱隔，寧有能發之者乎，飲伏於內，而不用薑、夏，
寒與飲搏，寧有能散之者乎，其芍藥、五味，不特收逆氣而安肺氣，抑以制麻、桂、薑，辛
之勢，使不相驚而相就，以成內外協濟之功耳。</p>
<p>加減法，
若微利者，去麻黃加芫花如雞子大，熬令赤色。
 微利者，水漬入胃也，下利者，不可攻其表，故去麻黃之發表，而加芫花之行水。
若渴者，去半夏，加括蔞根三兩。
 渴者，津液不足，故去半夏之辛燥，而加括蔞之苦潤，若飲結不布而渴者，似宜仍以半夏流
濕而潤燥也。</p>
<p>若噎者，去麻黃，加附子一枚，炮。
 噎者，寒飲積中也，附子溫能散寒，辛能破飲，故加之，麻黃發陽氣，增胃冷，故去之。</p>
<p>若小便不利，小腹滿，去麻黃，加茯苓四兩。
 小便不利，小腹滿，水蓄于下也，故加茯苓以泄蓄水，不用麻黃，恐其引氣上行，致水不下
也。</p>
<p>若喘者，去麻黃，加杏仁半升，去皮尖。
 喘者，水氣在肺，故加杏仁，下氣泄肺，麻黃亦能治喘而不用者，惡其發氣也。</p>
<p>傷寒心下有水氣，欬而微喘，發熱不渴，服湯已，渴者，此寒去欲解也，小青龍湯主之。
 內飲外寒，相得不解，氣凌於肺，為欬而微喘，發熱不渴，如上條之證也，是必以小青龍外
解寒邪，內消水飲為主矣，若服湯已，渴者，是寒外解而飲內行也，故為欲解，小青龍湯主
之六字，當在發熱不渴下。或問水飲之證，或渴或不渴云何，曰，水積于中，故不渴也，其
渴者，水積一處，而不得四布也，然而不渴者，常也，其渴者，變也，服小青龍湯已而渴者，
乃寒去飲消之常道也。</p>
<h4>十棗湯證治一條</h4>
<p>太陽中風，下利嘔逆，表解者，乃可攻之，其人漐漐汗出，發作有時，頭痛，心下痞鞕，
滿引脅下痛，乾嘔短氣，汗出不惡寒者，此表解裏未和也，十棗湯主之。
 此外中風寒，內有懸飲之證，下利嘔逆，飲之上攻而復下注也，然必風邪已解，而後可攻其
飲，若其人漐漐汗出，而不惡寒，為表已解，心下痞鞕，滿引脅下痛，乾嘔短氣，為裏
未和，雖頭痛而發作有時，知非風邪在經，而是飲氣上攻也，故宜十棗湯，下氣逐飲。</p>
<p>十棗湯方，
芫花〔熬〕、甘遂、大戟、大棗〔十枚〕，
右三味等分，各別搗為散，以水一升半，先煮大棗肥者十枚，取八合，去滓，內諸藥末，強
人服一錢匕，羸人服半錢，溫服之，平旦服，若下少，病不除者，明日更服，加半錢，得快
下利後，糜粥自養。
 按金匱云，飲水流在脅下，欬吐引痛，謂之懸飲，又云，病懸飲者，十棗湯主之，此心下痞
鞕，滿引脅下痛，所以知其為懸飲也，懸飲非攻不去，芫花、甘遂、大戟，並遂飲之峻藥，
而欲攻其飲，必顧其正，大棗甘溫以益中氣，使不受藥毒也。</p>
<h4>五苓散證治一條</h4>
<p>中風發熱，六七日不解而煩，有表裏證，渴欲飲水，水入則吐者，名曰水逆，五苓散主之。
 太陽風邪，至六七日之久而不解，則風變熱而傳裏，故煩而渴，有表裏證，即身熱煩渴之謂，
渴欲飲水，水氣不行，而反上逆則吐，名水逆者，言因水氣而逆，非火逆氣逆之謂，故當以
五苓散，辛甘淡藥，導水而泄熱也。</p>
<p>五苓散方，
豬苓、茯苓、白朮〔各十八銖〕、桂枝〔半兩〕、澤瀉〔一兩六銖〕，
右五味為末，以白飲和服方寸匕，日三服，多飲煖水，汗出愈。</p>
<h4>表實裏虛四逆湯先救裏一條</h4>
<p>病發熱頭痛，脈反沉，若不差，身體疼痛，當救其裏，宜四逆湯。
 發熱身疼痛，邪在表也，而脈反沉，則脈與病左矣，不差者，謂以汗藥發之而不差也，以其
裏氣虛寒，無以為發汗散邪之地，故與四逆湯，舍其表而救其裏，如下利身疼痛之例也。</p>
<p>四逆湯方，
生附子〔一枚〕、乾薑〔一兩半〕、炙甘草〔二兩〕，
右三味㕮咀，以水三升，煮取一升二合，去滓，分溫再服，強人可大附子一枚乾薑三兩。</p>
<h4>陽微先汗陰微先下隨脈施治一條</h4>
<p>太陽病未解，脈陰陽俱停，必先振慄汗出而解，但陽脈微者，先汗出而解，但陰脈微者，下
之而解，若欲下之，宜調胃承氣湯主之。
 脈陰陽俱停者，陰陽諸脈，兩相停勻，而無偏勝也，既無偏勝，則必有相持不下之勢，故必
至於戰而汗出，而後邪氣乃解，振栗者，陰陽相爭之候也，但陽脈微者，陽邪先衰，故當汗
出而解，但陰脈微者，陰邪先衰，故可下之而解，所謂攻其堅而不入者，攻其瑕而立破也，
然本論云，尺中脈微者，不可下，此又云，但陰脈微者，下之而解，蓋彼為正虛而微，此為
邪退而微也，脈微則同，而辨之於邪與正之間，亦未易言之矣，調胃承氣，乃下藥之最輕者，
以因勢利導，故不取大下而取緩行耳，夫傷寒先汗後下者，法之常也，或先汗或先下，隨脈
轉移者，法之變也，設不知此而汗下妄施，寧不為逆耶。</p>
<p>調胃承氣湯方。
大黃〔四兩去皮〕、炙甘草〔二兩〕、芒硝〔半觔〕，
右三味，以水三升，煮取一升，去滓，內芒硝，更上火微煮令沸，少少溫服之。</p>
<h4>傷寒裏虛法先補裏二條</h4>
<p>傷寒二三日，心中悸而煩者，小建中湯主之。
 傷寒裏虛則悸，邪擾則煩，二三日悸而煩者，正虛不足，而邪欲入內也，是不可攻其邪，但
與小建中湯，溫養中氣，中氣立則邪自解，即不解，而攻取之法，亦可因而施矣，仲景禦變
之法如此，誰謂傷寒非全書哉。</p>
<p>小建中湯方，
桂枝〔去皮〕、炙甘草、生薑〔各三兩〕、芍藥〔六兩〕、膠飴〔一升〕、大棗〔十二枚擘〕，
右五味，以水七升，煮取三升，去滓，內膠飴，更上微火消解，溫服一升，日三服，傷寒脈
結代，心動悸，炙甘草湯主之。
 脈結代者，邪氣阻滯而營衛澀少也，心動悸者，神氣不振而都城震驚也，是雖有邪氣，而攻
取之法，無所施矣，故宜人參、薑、桂，以益衛氣，膠、麥、麻、地、甘、棗，以益營氣，
營衛既充，脈復神完，而後從而取之，則無有不服者矣，此又擴建中之制，為陰陽並調之法
如此，今人治病，不問虛實，概與攻發，豈知真氣不立，病雖去，亦必不生，況病未必去耶。</p>
<p>炙甘草湯方，一名複脈湯。
甘草〔四兩炙〕、生薑〔三兩〕、桂枝〔三兩去皮〕、人參〔二兩〕、阿膠〔二兩〕、麥冬
〔半升去心〕、生地〔一觔〕、麻仁〔半升〕、大棗〔三十枚〕，
右九味，以清酒七升，水八升，先煮八味，取三升，去滓，內膠，烊消盡，溫服一升，日三
服。</p>
<h4>結陰代陰脈法一條</h4>
<p>脈按之來緩而時一止復來者，名曰結，又脈來動而中止，更來小數中有還者反動，名曰結，
陰弛，脈來動而中止，不能自還，因而復動，名曰代，陰也，得此脈者必難治。
 脈來數時一止復來者，名曰促，脈來緩時一止復來者，名曰結，結者，邪氣結滯，而脈之行
不利也，又結與代，相似而實不同，結脈止而即還，不失至數，但少差遲耳，代脈止而不還，
斷已復動，有此絕而彼來代之意，故名曰代，而俱謂之陰者，結代脈皆為陰，故謂之結陰代
陰也，凡病得此脈者，攻之則邪未必去而正轉傷，補之則正未得益而邪反滯，故曰難治，仲
景因上條脈結代，而詳言其狀如此，已上並太陽權變之法，權變者，謂有汗證而不得逕用汗
藥也，而其間或取小汗，或待其自解，或兼清熱，或兼消飲，或先救裏，或建中氣，或養營
衛，種種不同，世道日降，人心不古，凡所患病，類多兼證，學者於此等變法，尤當著意故
特類列於此，凡二十三條。</p>
<h3>太陽斡旋法第三</h3>
<h4>服桂枝湯後證治六條</h4>
<p>太陽病，初服桂枝湯，反煩不解者，先刺風池、風府。卻與桂枝湯則愈。
 太陽病與桂枝湯，于法為當矣，乃初服之，反加煩熱而不解者，陽邪痺於陽而不去也，風池、
風府，陽維之會，陽維者，諸陽之所維，刺之所以通陽痺，痺通，然後與桂枝，取汗則愈，
此仲景法中法也。</p>
<p>服桂枝湯，大汗出，脈洪大者，與桂枝湯如前法，若形如瘧，日再發者，汗出必解，宜桂枝
二麻黃一湯。
 服桂枝湯，汗雖大出而邪不去，所謂如水淋漓，病必不除也，若脈洪大，則邪猶甚，故宜更
與桂枝，取汗如前法者，如啜熱稀粥，溫覆取汗之法也，若其人病形如瘧，而一日再發，則
正氣內勝，邪氣欲退之徵，設得汗出，其邪必從表解，然非重劑所可發者，桂枝二麻黃一湯，
以肋正而兼散邪，而又約小其制，乃太陽發汗之輕劑也。</p>
<p>桂枝二麻黃一湯方<span class="註"><small class="雙行小字">論見前</small></span>
桂枝〔去皮一兩十七銖〕、大棗〔五枚擘〕、炙甘草、芍藥、生薑〔各一兩六銖〕、麻黃〔十
六銖去節〕、杏仁〔十六箇去皮尖〕，
右七味，以水五升，先煮麻黃一二沸，去上沫，內諸藥，煮取二升，去滓，溫服一升，日再
服。</p>
<p>服桂枝湯，大汗出後，大煩渴不解，脈洪大者，白虎加人參湯主之。
 服桂枝湯後，大汗出，脈洪大，與上條同，而大煩渴不解，則其邪去表而之裏，不在太陽之
經，而入陽明之府矣，陽明者，兩陽之交，而津液之府也，邪氣入之，足以增熱氣而耗津液，
是以大煩渴不解，方用石膏，辛甘大寒，直清胃熱為君而以知母之鹹寒佐之，人參、甘草、
粳米之甘，則以之救津液之虛，抑以制石膏之悍也，曰白虎者，蓋取金氣徹熱之義云耳。
白虎加人參湯方，
人參〔三兩〕、知母〔六兩〕、甘草〔二兩〕、粳米〔六合〕、石膏〔一觔碎〕，
右五味以水一斗，煮米熟湯，或去滓，溫服一升，日三服。</p>
<p>服桂枝湯，或下之，仍頭項強痛，翕翕發熱，無汗，心下滿微痛，小便不利者，桂枝去桂，
加茯苓白朮湯主之。
 頭項強痛，翕翕發熱無汗邪在表也，心下滿微痛，飲在裏也，此表間之邪，與心下之飲，相
得不解，是以發之而不從表出，奪之而不從下出也，夫表邪挾飲者，不可攻表，必治其飲而
後表可解，桂枝湯去桂，加茯苓、白朮，則不欲散邪于表而但逐飲于裏，飲去則不特滿痛除，
而表邪無府，亦自解矣。</p>
<p>桂枝湯去桂加茯苓白朮湯方，
 於桂枝湯內去桂枝，加茯苓、白朮各三兩，餘依前法煮服，小便利即愈。
傷寒脈浮，自汗出，小便數，心煩，微惡寒，腳攣急，反與桂枝湯，欲攻其表，此誤也，得
之便厥，咽中乾，煩躁吐逆者，作甘草乾薑湯與之，以復其陽，若厥愈足溫者，更作芍藥甘
草湯與之，其腳即伸，若胃氣不和，讝語者，少與調胃承氣湯若重發汗，復加燒鍼者，四
逆湯主之。
 脈浮，自汗出，微惡寒者，雖傷於寒而表不實，乃桂枝湯證也，然小便數，心煩，腳攣急，
則陰虛而裏熱矣，是當以甘辛攻表，而以甘寒顧裏，乃反與桂枝湯，治表而遺裏，宜其得之
而便厥也，咽中乾，煩躁吐逆，皆陰虛陽逆之象，設非以溫藥徒攻其表，何至此哉，夫既陰
虛于下，而又陽逆於上，則必先復陽氣而後復陰氣，故作甘草乾薑湯，甘草乾薑湯，甘辛復
陽之劑，陽復則厥愈而足溫矣，更作芍藥甘草湯，甘酸復陰之劑，陰生則兩腳自伸矣，陰陽
既復，而或胃氣有未和，因而讝語者，則少與調胃承氣湯，以和其胃，胃和則讝語止矣，
蓋甘草、乾薑，固足以救虛陽之逆，而亦能傷胃氣之和，此鹹寒調胃之法，不得不斡旋于陰
陽既復之後也，若重發汗，復加燒鍼，是逆而再逆，其厥逆之象，必有加于前，而補救之法，
必非甘草、乾薑所能勝任者矣，四逆湯，甘辛大熱，乃克復陽氣之大藥也，此條前後用藥，
溫涼補瀉，絕不相謀，而適以相濟，非深造自得，卓有成見者，烏能及此。</p>
<p>甘草乾薑湯方，
甘草〔四兩炙〕、乾薑〔二兩〕，
右㕮咀，以水三升，煮一升合，去滓，分溫再服。</p>
<p>芍藥甘草湯方，
芍藥〔四兩〕、甘草〔四兩炙〕，
右二味，以水三升，煮一升五合，去滓，分溫再服。
問曰，證象陽旦，按法治之而增劇，厥逆咽中乾，兩脛拘急而讝語，師言夜半手足當溫，
兩腳當伸，後如師言，何以知之，答曰，寸口脈浮而大，浮則為風，大則為虛，風則生微熱，
虛則兩脛攣，病證象桂枝，因加附子參其間，增桂令汗出，附子溫經，亡陽故也，厥逆咽中
乾，煩躁，陽明內結，讝語煩亂，更飲甘草乾薑湯，夜半陽氣還，兩足當熱，脛尚微拘急，
重與芍藥甘草湯，爾乃脛伸，以承氣湯微溏則止其讝語，故知病可愈。
 此即前條之意，而設為問答，以明所以增劇及所以病愈之故，然中間語意殊無倫次，此豈後
人之文耶，昔人讀考工記謂不類於周官，余於此條亦云，成氏云，陽旦，桂枝湯別名。</p>
<h4>發汗後脈證治法十五條</h4>
<p>太陽病發汗，遂漏不止，其人惡風，小便難，四肢微急，難以屈伸者，桂枝加附子湯主之。
 發汗傷陽，外風復襲，汗遂不止，活人所謂漏風是也，夫陽者，所以實腠理，行津液，運肢
體者也，今陽已，不能護其外，復不能行於裏，則汗出，小便難，而邪風之氣，方外淫而旁
溢，則惡風，四肢微急，難以屈伸，是宜桂枝湯解散風邪，兼和營衛，加附子補助陽氣，并
御虛風也。</p>
<p>桂枝加附子湯方。
于桂枝湯內，加附子一枚，破八片，炮去皮，餘依前法。
發汗後，身疼痛，脈沉遲者，桂枝加芍藥生薑各一兩，人參三兩，新加湯主之。
 發汗後，邪痺于外，而營虛于內，故身痛不除，而脈轉沉遲，經曰，其脈沉者，營氣微也，
又曰，遲者，營氣不足，血少故也，故以桂枝加芍藥、生薑、人參，以益不足之血，而散未
盡之邪，東垣云，仲景於病人汗後身熱，亡血，脈沉遲者，下利身涼，脈微，血虛者，並加
人參，古人血脫者，必益氣也，然人參味甘氣溫，溫固養氣，甘亦實能生血，汗下之後，血
氣虛衰者，非此不為功矣。
發汗過多，其人叉手自冒心，心下悸，欲得按者，桂枝甘草湯主之。
 心為陽藏而汗為心之液，發汗過多，心陽則傷，其人叉手自冒心者，裏虛欲為外護也，悸，
心動也，欲得按者，心中築築不寧，欲得按而止之也，是宜補助心陽為主，桂枝、甘草，辛
甘相合，乃生陽化氣之良劑也。</p>
<p>桂枝甘草湯方。
桂枝〔四兩去皮〕、甘草〔二兩炙〕，
右二味，以水三升，煮取一升，去滓，頓服。
 按發汗過多，有動腎中之陽者，以陽為汗之根，而腎為陽之宅，枝傷者其本必戕也，有動心
中之陽者，以汗為心之液，而心為陽之藏，液亡者，氣必從之也，救腎陽者，必以鹹溫，救
心陽者，必以甘辛，鹹性善下，而溫能返陽，故四逆為救腎之劑，甘辛相合，而陽氣乃生，
故桂、甘為益心之法也。</p>
<p>未持脈時，病人叉手自冒心，師因教試令欬，而不欬者，此必兩耳聾無聞也，所以然者，以
重發汗，虛故如此。
 病人叉手自冒心者，心陽內虛，欲得外護，如上條所云也，耳聾者，陽氣上虛，陰反得而實
之也，師因叉手冒心，而更試耳之聰否，以求陽之虛實，若耳聾無聞，其為過汗致虛，當與
溫養無疑，臨病之工，宜如是詳審耳，許叔微曰，傷寒耳聾，發汗過多者，正氣虛也，邪不
出者，邪氣閉也，虛之與閉，治法懸殊，學者更宜詳審。</p>
<p>太陽病發汗，汗出不解，其人仍發熱，心下悸，頭眩，身瞤動，振振欲擗地者，真武湯主
之。
 發汗過多，不能解太陽之邪，而動少陰之氣，於是身仍發熱，而悸眩瞤動等證作矣，少陰
之氣，水氣也，心屬火而水乘之，故悸，頭為陽而陰加之，故眩，經脈綱維一身，以行血氣，
故水入之，則振振瞤動也，擗，猶據也，眩動之極，心體不安。思欲據地以自固也，此與
陽虛外亡有別，陽虛者，但須四逆以復陽，此兼水飲，故必真武以鎮水，方用白朮、茯苓之
甘淡，以培土而行水，附子、生薑之辛，以復陽而散邪，芍藥之酸，則入陰斂液，使汛濫之
水，盡歸大壑而已耳。
真武湯方。
茯苓〔三兩〕、芍藥〔三兩〕、白朮〔二兩〕、生薑〔三兩〕、附子〔一枚炮去皮破八片〕，
右五味，以水八升，煮取三升，法滓，溫服七合，日三服。</p>
<p>發汗後，其人臍下悸者，欲作奔豚，茯苓桂枝甘草大棗湯主之。
 發汗後，臍下悸者，心氣不足而腎氣乘之也，奔豚腎之積，發則從少腹上沖心胸，如豕之突，
故名奔豚，又腎為水藏，豚為水蓄，腎氣上沖，故明奔豚，茯苓能泄水氣，故以為君，桂枝
能伐腎邪，故以為臣，然欲治其水，必防其土，故取甘草、大棗，補益土氣為使，甘瀾水者，
揚之令輕，使水氣去不益腎邪也。</p>
<p>茯苓桂枝甘草大棗湯方。
茯苓〔半觔〕、桂枝〔四兩〕、甘草〔三兩〕、大棗〔十五枚〕，
右四味，以甘瀾水一斗，先煮茯苓減二升，內諸藥，煮取三升，去滓，溫服一升，日三服。
作甘瀾水法，取水二斗，置大盆內，以杓揚之，水上有珠子五六千顆相逐，取用之。
病人脈數，數為熱，當消穀引食，而反吐者，此以發汗，令陽氣微，膈氣虛，脈乃數也，數
為客熱不能消穀，以胃中虛冷，故吐也。
 脈數為熱，乃不能消穀而反吐者，浮熱在上，而虛冷在下也，浮熱不能消穀，為虛冷之氣，
逼而上浮，如客之寄，不久即散，故曰客熱，是雖脈數如熱，而實為胃中虛冷，不可更以熱
藥益其疾也。</p>
<p>發汗後，腹脹滿者，厚朴生薑甘草半夏人參湯主之。
 發汗後，表邪雖解而腹脹滿者，汗多傷陽，氣窒不行也，是不可以徒補，補之則氣愈窒，亦
不可以逕攻，攻之則陽益傷，故以人參、甘草、生薑，助陽氣，厚朴、半夏，行滯氣，乃補
泄兼行之法也。</p>
<p>厚朴生薑甘草半夏人參湯方。
生薑〔半觔切〕、半夏〔半升洗〕、甘草〔二兩炙〕、人參〔一兩〕、厚朴〔半斛去皮炙〕，
右五味，以水一斗，煮取三升，去滓，溫服一升，日三服。
傷寒發汗，解半日許，復煩，脈浮數者，可更發汗，宜杜枝湯主之。
 傷寒發汗，解半日許，復煩者，非舊邪去而新邪復乘也，餘邪未盡，復集為病，如餘寇未盡，
復合為亂耳，脈浮數者，邪氣在表之徵，故可更發其汗，以盡其邪，但已汗復汗，故不宜麻
黃之峻劑，而宜桂枝之緩法，此仲景隨時變易之妙也。</p>
<p>發汗，病不解，反惡寒者，虛故也，芍藥附子甘草湯主之。
 發汗不解，反加惡寒者，邪氣不從汗而出，正氣反因汗而虛也，是不可更逐邪氣，當先復其
正氣，是方芍藥之酸，可以益血，附子之辛，可以復氣，甘草甘平，不特安中補虛，且與酸
合而化陰，與辛合而生陽也。</p>
<p>芍藥甘草附子湯方，
芍藥〔三兩〕、甘草〔三兩炙〕、附子〔一枚炮破八片〕，
右三味，以水五升，煮取一升五合，去滓，分溫服。</p>
<p>發汗後惡寒者，虛故也，不惡寒但熱者，實也，當和胃氣，與調胃承氣湯。
 汗山而惡寒者，陽不足而為虛也，芍藥甘草附子湯治之是已，汗出而不惡寒但熱者，邪入裏
而成實也，然不可以峻攻，但與調胃承氣湯，和其胃氣而已。</p>
<p>發汗後，不可更行桂枝湯，汗出而喘，無大熱者，可與麻黃杏仁甘草石膏湯。
 發汗後，汗出而喘，無大熱者，其邪不在肌腠，而入肺中，綠邪氣外閉之時，肺中已自蘊熱，
發汗之後，其邪不從汗而出之表者，必從內而併於肺耳，故以麻黃，杏仁之辛而入肺者，利
肺氣，散邪氣，甘草之甘平，石膏之甘辛而寒者，益肺氣，除熱氣，而桂枝不可更行矣，蓋
肺中之邪，非麻黃、杏仁、不能發，而寒鬱之熱，非石膏不能除，甘草不特救肺氣之困，抑
以緩石膏之悍也。</p>
<p>麻黃杏仁甘草石膏湯方。
麻黃〔四兩去節〕、杏仁〔五十枚去皮尖〕、炙甘草〔二兩〕、石膏〔半斛碎綿裹〕，
右四味，以水七升，先煮麻黃減二升，去上沬，內諸藥，煮取二升，去滓，溫服一升。</p>
<p>發汗後，飲水多，必喘，以水灌之，亦喘。
 發汗之後，肺氣必虛，設飲水過多，水氣從胃，上射肺中必喘，或以水灌洗致汗，水寒之氣，
從皮毛而內侵其所合亦喘，成氏謂喘為肺疾是也。</p>
<p>發汗後，水藥不得入口為逆，若更發汗，必吐下不止。
 發汗後吐逆，至水藥不得入口者，必其人素有積飲，乘汗藥升浮之性而上行也，是當消飲下
氣，雖有表邪，不可更發其汗，設更發之，重傷陽氣，其飲之在中者，不特上逆而仍吐嘔，
亦且下注而成泄利矣。</p>
<p>太陽病，小便利者，以飲水多，必心下悸，小便少者，必苦裏急也。
 病在太陽之時，裏熱未甚，水液尚通，其外雖病，而其內猶晏如也，故不可多飲水，設飲水
多，必停於心下為悸，所以然者，裏無熱，不能消水，心屬火而畏水，水多凌心，故惕惕然
跳動不寧也，然使小便自利，則停水自行，雖悸猶當自愈，若小便不利而少，則水不下行，
積于膀胱，必若裏急，裏急者，小便欲行而不能，則小腹奔迫急痛也，此以飲水所致，比於
汗下之過，而非太陽本病，故附於斡旋法下，以上十五條，並發汗後證，而或傷衛陽，或損
營血，或亡心陽，或動腎水，或傷胃陽，及傷脾氣，或邪仍不解，或解而轉屬陽明，及傳膀
胱，或動飲氣，或傷肺氣，或入肺中，其變種種不同，其治因之各異，學者諳練在心，亦可
以應變無窮矣。</p>
<h4>發汗吐下解後病脈證治三條</h4>
<p>傷寒發汗，若吐若下，解後，心下痞鞕，噫氣不除者，旋覆代赭石湯主之。
 傷寒發汗，或吐或下，邪氣則解，而心下痞鞕，噫氣不除者，胃氣弱而未和，痰氣動而上
逆也，旋覆花鹹溫，行水下氣，代赭石味苦質重，能墜痰降氣，半夏、生薑辛溫，人參、大
棗、甘草，甘溫，合而用之，所以和胃氣而止虛逆也。</p>
<p>旋覆代赭石湯方。
旋覆花〔三兩〕、人參〔二兩〕、炙甘草〔三兩〕、生薑〔五兩切〕、半夏〔半升洗〕、代
赭石〔一兩〕、大棗〔十二枚擘〕，
右七味，以水一斗，煮取六升，去滓，再煎取三升，溫服一升，日三服。
傷寒若吐若下後，心下逆滿，氣上衝胸，起則頭眩，脈沉緊，發汗則動經，身為振振搖者，
茯苓桂枝白朮甘草湯主之。
 此傷寒邪解而飲發之證，飲停於中則滿，逆於上則氣沖而頭眩，入於經則身振振而動搖，金
匱云，膈間支飲，其人喘滿，心下痞堅，其脈沉緊，又云，心下有痰飲，胸脅支滿，目眩，
又云，其人振振身瞤劇，必有伏飲是也，發汗則動經者，無邪可發，而反動其經氣，故與
茯苓、白朮，以蠲飲氣，桂枝、甘草，以生陽氣，所謂病痰飲者，當以溫藥和之也。</p>
<p>茯苓桂枝白朮甘草湯方。
茯苓〔四兩〕、桂枝〔三兩〕、白朮、炙甘草〔各二兩〕，
右四味，以水六升，煮取三升，分溫三服。
凡病若發汗，若吐，若下，若亡津液，陰陽自和者，必自愈。
 陰陽自和者，不偏於陰，不偏於陽，汗液自出，便溺自調之謂，汗吐下亡津液後，邪氣既微，
正氣得守，故必自愈。</p>
<h4>太陽傳本證治七條</h4>
<p>太陽病，發汗後，大汗出，胃中乾，煩躁不得眠，欲得飲水者，水水與飲之，令胃氣和則愈，
若脈浮，小便不利，微熱消渴者，與五苓散主之。
 傷寒之邪，有離太陽之經而入陽明之府者，有離太陽之標，而入太陽之本者，發汗後，汗山
胃乾，煩躁飲水者，病去表而之裏，為陽明府熱證也，脈浮，小便不利，微熱消渴者，病去
標而之本，為膀胱府熱證也，在陽明者，熱能消水，與水即所以和胃，在膀胱者，水與熱結，
利水即所以去熱，多服煖水汗出者，以其脈浮而身有微熱，故以此兼徹其表，昔人謂五苓散
為表裏兩解之劑，非以此耶。</p>
<p>五苓散方。見權變法。
 按古法從經府言，則太陽為經而膀胱為府，從標本言，則太陽為標，膀胱為本，病去太陽而
之膀胱，所以謂之太陽傳本也，然膀胱本病，有水結、血結之不同，水結宜五苓散，導水泄
熱，血結宜桃核承氣及抵當湯丸，導血除熱，具如下文。</p>
<p>發汗已，脈浮數煩渴者，五苓散主之。
傷寒汗出而渴者，五苓散主之，不渴者，茯苓甘草湯主之。
 發汗已，脈浮數煩渴者，太陽經病傳府，寒邪變熱之候，故與五苓散，導水泄熱，王宇泰云，
太陽、經也，膀胱、府也，膀胱者，溺之室也，故東垣以渴為膀胱經本病，然則治渴者，當
瀉膀胱之熱，瀉膀胱之熱者，利小便而已矣，然府病又有渴與不渴之異，由府陽有盛與不足
之故也，渴者，熱盛思水，水與熱得，故宜五苓散，導水泄熱，不渴者，熱雖入裏，不與水
結，則與茯苓甘草湯，行陽化氣，此膀胱熱盛熱微之辨也。</p>
<p>茯苓甘草湯方，
茯苓〔二兩〕、桂枝〔二兩去皮〕、生薑〔二兩切〕、甘草〔一兩炙〕，
右四味，以水四升，煮取二升，去滓，分溫三服。
太陽病不解，熱結膀胱，其人如狂，血自下，下者愈，其外不解者，尚未可攻，當先解外，
外解已，但少腹急結者，乃可攻之，宜桃核承氣湯。
 太陽之邪，不從表出，而內傳於府，與血相摶，名曰蓄血，其人當如狂，所謂蓄血在下，其
人如狂是也，其證當下血，血下，則熱隨血出而愈，所謂血病見血自愈也，如其不愈而少腹
急結者，必以法攻而去之，然其外證不解者，則尚未可攻，攻之恐血去而邪復入裏也，是必
先解其外之邪，而後攻其裏之血，所謂從外之內而盛於內者，先治其外，而後謂其內也，以
下三條，並太陽傳本，熱邪入血，血蓄下焦之證，與太陽傳本，熱與水結，煩渴小便不利之
證，正相對照，所謂熱邪傳本者，有水結、血結之不同也。</p>
<p>桃核承氣湯方。
桃核〔五十枚去皮尖〕、桂枝〔二兩去皮〕、芒硝〔二兩〕、甘草〔二兩炙〕、大黃〔四兩〕，
右五味，以水七升，煮取二升五合，去滓，內芒硝，更上火，微沸下火，先食，溫服五合，
日三服，當微利。
 愚按此即調胃承氣湯，加桃仁、桂枝，為破瘀逐血之劑，緣此證與血結，故以大黃之苦寒，
蕩實除熱為君，芒硝之鹹寒，入血耎堅為臣，桂枝之辛溫，桃仁之辛潤，擅逐血散邪之長為
使，甘草之甘，緩諸藥之勢，俾去邪而不傷正為佐也。</p>
<p>太陽病，六七日，表證仍在，脈微而沉，反不結胸，其人發狂者，以熱在下焦，少腹當鞕
滿，小便自利者，下血乃愈，所以然者，以太陽隨經，瘀熱在裏故也，抵當湯主之。
 此亦太陽熱結膀胱之證，六七日，表證仍在，而脈微沉者，病未離太陽之經，而已入太陽之
府也，反不結胸，其人發狂者，熱不在上而在下也，少腹鞕滿，小便自利者，不結於氣而
結於血也，下血則熱隨血去，故愈，所以然者，太陽、經也，膀胱、府也，太陽之邪，隨經
入裏，與血俱結於膀胱，所謂經邪入府，亦謂之傳本是也，抵當湯中，水蛭虻蟲，食血去瘀
之力，倍於芒硝，而又無桂枝之甘辛，甘草之甘緩，視桃仁承氣湯為較峻矣，蓋血自下者，
其血易動，故宜緩劑，以去未盡之邪，瘀熱在裏者，其血難動，故須峻藥以破固結之勢也。</p>
<p>抵當湯方，
水蛭〔二十箇熬〕、虻蟲〔三十箇教去翅〕、大黃〔四兩酒浸〕、桃仁〔三十箇去皮尖〕，
右四味為末，以水五升，煮取三升，去滓，溫服一升，不下，再服。
太陽病，身黃，脈沉結，少腹鞕，小便不利者，為無血也，小便自利，其人如狂者，血證諦
也，抵當湯主之。
 身黃，脈沉結，少腹鞕，水病、血病皆得有之，但審其小便不利者，知水與熱蓄，為無血
而有水，五苓散證也，若小便自利其人如狂者，乃熱與血結，為無水而有血，抵當湯證也，
設更與行水，則非其治矣，仲景以太陽熱入膀胱，有水結、血結之分，故反覆明辨如此。</p>
<p>傷寒有熱，少腹滿，應小便不利，今反利者，為有血也，當下之，不可餘藥，宜抵當丸。
 有熱，身有熱也，身有熱而少腹滿，亦太陽熱邪傳本之證，膀胱者，水溺所由出，其變為小
便不利，今反利者，乃血瘀而非水結，如上條抵當湯下之之例也，云不可餘藥者，謂非抵當
丸，不能以治之耳。</p>
<p>抵當丸方，
水蛭〔二十箇〕、虻蟲〔二十五箇〕、大黃〔三兩〕、桃仁〔二十箇去皮尖〕，
右四味，杵分為四丸，以水一升，煮一丸，取七合，服之，晬時當下血，若不下者，更服。
 愚按此條證治，與前條大同，而變湯為丸，未詳何謂，嘗考其制抵當丸中，水蛭虻蟲，減湯
方三分之一，而所服之數，又居湯方十分之六，是緩急之分，不特在湯丸之故矣，此其人必
有不可不攻，而又有不可峻攻之勢，如身不發黃，或脈不沉結之類，仲景特未明言耳，有志
之士，當不徒求之語言文字中也。</p>
<h2>卷二、太陽篇下</h2>
<h3>太陽救逆法第四</h3>
<h4>論胸結臟結之異三條</h4>
<p>問曰，病有結胸，有臟結，其狀如何，答曰，按之痛，寸脈浮，關脈沉，名曰結胸也，何
謂臟結，答曰，如結胸狀，飲食如故，時時下利，寸脈浮，關脈小細沉緊，名曰臟結，舌上
白胎滑，難治。
 此設為問答，以辨結胸、臟結之異，結胸者，邪結胸中，按之則痛，臟結者，邪結腸間，按
之亦痛，如結胸者，謂如結胸之按而痛也，然胸高而臟下，胸陽而臟陰，病狀雖同，而所處
之位則不同，是以結胸不能食，臟結則飲食如故，結胸不必下利，臟結則時時下利，結胸關
脈沉，臟結則更小細緊，而其病之表入裏，與表猶未盡之故，則又無不同，故結胸、臟結，
其寸脈俱浮也，舌上白胎滑者，在裏之陽不振，入結之邪已深，結邪非攻不去，而臟虛又不
可攻，故曰難治。</p>
<p>臟結無陽證，不往來寒熱，其人反靜，舌上胎滑者，不可攻也。
 邪結在臟，必陽氣內動，或邪氣外達，而後可施攻取之法，若無陽證，不往來寒熱，則內動
外達之機俱泯，是其人反靜，其舌胎反滑，邪氣伏而不發，正氣弱而不振，雖欲攻之，無可
攻已，蓋即上文難治之端，而引其說如此。</p>
<p>病脅下素有痞，連在臍旁，痛引少腹入陰筋者，此名臟結，死。
 臟結之證，不特傷寒，即雜病亦有之，曰脅下素有痞，則其病久而非暴矣，曰連在臍旁，痛
引少腹入陰筋，則其邪深而非淺矣，既深且久，攻之不去，補之無益，雖不卒死，亦無愈期
矣，故曰死。</p>
<h4>論結胸及痞之源一條</h4>
<p>病發於陽而反下之，熱入因作結胸，病發於陰而反下之，因作痞，所以成結胸者，以下之太
早故也。
 此原所以結胸與痞之故，病發於陽者，邪在陽之經，病發於陰者，邪在陰之經也，陽經受邪，
鬱即成熱，其氣內陷，則為結胸，陰經受邪，未即成熱，其氣內陷，則作痞，所以然者，病
邪在經，本當發散而反下之，裏氣則虛，邪氣因入，與飲相搏而為病也，要之陽經受邪，原
有可下之例，特以裏未成實，而早行下法，故有結胸之變證，審其當下而後下之，何至是哉，
仲景復申明所以成結胸之故，而不及痞，豈非以陰經受邪，則無論遲早，俱未可言下耶。</p>
<h4>論結胸證治十條</h4>
<p>太陽病，脈浮而動數，浮則為風，數則為熱，動則為痛，數則為虛，頭痛發熱，微盜汗出，
而反惡寒者，表未解也，醫反下之，動數變遲，膈內拒痛，胃中空虛，客氣動膈，短氣躁煩，
心中懊憹，陽氣內陷，心下因鞕，則為結胸，大陷胸湯主之，若不結胸，但頭汗出，餘無
汗，劑頸而還，小便不利，身必發黃也。
 脈浮動數，皆陽也，故為風為熱為痛而數，則有正為邪迫，失其常度之象，故亦為虛，頭痛
發熱，微盜汗出，而復惡寒，為邪氣在表，法當發散而反下之，正氣則虛，邪氣乃陷，動數
變遲者，邪自表而入裏，則脈亦去陽而之陰也，膈內拒痛者，邪欲入而正拒之，正邪相擊則
為痛也，胃中空虛，客氣動膈者，胃氣因下而裏虛，客氣乘虛而動膈也，短氣躁煩，化中懊
憹者，膈中之飲，為邪所動，氣乃不舒，而神明不寧也，由是陽邪內陷，與飲相結，痞鞕
不消，而結胸之病成矣，大陷胸湯，則正治陽邪內結胸中之藥也，若其不結胸者，熱氣散漫，
既不能從汗而外泄，亦不得從溺而下出，蒸鬱不解，浸淫肌體，勢必發黃也。</p>
<p>大陷胸湯方，
大黃〔六兩〕、芒硝〔一升〕、甘遂〔一錢七〕，
右三味，水六升，先煮大黃取二升，去滓，內芒硝，煮一二沸，內甘遂末，溫服一升，得快
利，止後服。
 按大陷胸與大承氣，其用有心下與胃中之分，以愚觀之，仲景所云心下者，正胃之謂，所云
胃中者，正大小腸之謂也，胃為都會，水穀並居，清濁未分，邪氣入之，夾痰雜食，相結不
解，則成結胸，大小腸者，精華已去，糟粕獨居，邪氣入之，但與穢物結成燥糞而已，大承
氣專主腸中燥糞，大陷胸并主心下水食，燥糞在腸，必藉推逐之力，故須枳、朴，水食在胃，
必兼破飲之長，故用甘遂，且大承氣先煮枳、朴，而後內大黃，大陷胸先煮大黃，而後內諸
藥，夫治上者制宜緩，治下者制宜急，而大黃生則行速，熟則行遲，蓋即一物，而其用又有
不同如此。</p>
<p>傷寒六七日，結胸熱實，脈沉而緊，心下痛，按之石鞕者，大陷胸湯主之。
 邪氣內結，既熱且實，脈復沉緊，有似大承氣證，然結在心下，而不在腹中，雖按之石鞕
而痛，亦是水食互結，與陽明之燥糞不同，故宜甘遂之破飲，而不宜枳、朴之散氣，如上條
之說也。</p>
<p>傷寒十餘日，熱結在裏，復往來寒熱者，與大柴胡湯，但結胸無大熱者，此為水結在胸脅也，
但頭微汗出者，大陷胸湯主之。
 熱結在裏，而復往來寒熱，是謂表裏俱實，不得以十餘日之久，而獨治其裏也，故宜大柴胡
表裏兩解之法，若但結胸而無大熱，如口燥渴心煩等證者，此為水飲結在胸脅之間，所謂水
結胸者是也，蓋邪氣入裏，必挾身中所有，以為依附之地，是以在腸胃則結於糟粕，在胸膈
則結於水飲，各隨其所有而為病耳，水結在胸，而但頭汗出者，邪膈於上而氣不下通也，故
與大陷胸湯，以破飲而散結。</p>
<p>太陽病，重發汗，而復下之，不大便，五六日，舌上燥而渴，日晡所，小有潮熱，從心下至
少腹，鞕滿而痛不可近者，大陷胸湯主之。
 汗下之後，津液重傷，邪氣內結，不大便，五六日，舌上燥而渴，日晡所，小有潮熱，皆陽
明胃熱之徵也，從心下至少腹，鞕滿而痛不可近，則不特徵兆，抑且顯諸形矣，乃不用大
承氣而用大陷胸者，亦以水食互結，且雖至少腹，而未離心下故也，不然，下證悉具，下藥
已行，何以不臣枳、朴而臣甘遂哉。</p>
<p>結胸，項亦強，如柔痓狀，下之則和，宜大陷胸丸。
 痓病之狀，頸項強直，結胸之甚者，熱與飲結，胸膈緊貫，上連於項，但能仰而不能俯，
亦如痙病之狀也，曰柔而不曰剛者，以陽氣內陷者，必不能外閉，而汗常自出耳，是宜下其
胸中結聚之實，則強者得和而愈，然胸中盛滿之邪，固非小陷胸所能去，而水熱互結之實，
亦非承氣湯所可治，故與葶藶之苦，甘遂之辛，以破結飲而泄氣閉，杏仁之辛，白蜜之甘，
以緩下趨之勢，而去上膈之邪，其芒硝、大黃，則資其軟堅蕩實之能。</p>
<p>大陷胸丸方，
大黃〔半觔〕、葶藶〔半觔〕、芒硝〔半觔〕、杏仁〔半升去皮尖熬〕，
右四味，搗篩二味，內杏仁、芒硝，合研加脂，和散取如彈丸一枚，別搗甘遂末一錢匕，白
蜜二合，水二升，煮取一升，溫頓服之，一宿乃下，如不下，更服，取下為效，禁如藥法。</p>
<p> 按湯者，湯也，湯滌邪穢，欲使其淨盡也，丸者，緩也，和理藏府，不欲其速下也，大陷胸
丸，以湯滌之體，為和緩之用，蓋以其邪結在胸，而至如柔痓狀，則非峻藥不能逐之，而
又不可以急劑一下而盡，故變湯為丸，煮而并渣服之，及峻藥緩用之法，峻則能勝破堅蕩實
之任，緩則能盡際上迄下之邪也。</p>
<p>小結胸病，正在心下，按之則痛，脈浮滑者，小陷胸湯主之。
 胸中結邪，視結胸較輕者，為小結胸，其證正在心下，按之則痛，不似結胸之心下至少腹鞕
滿，而痛不可近也，其脈浮滑，不似結胸之脈沉而緊也，是以黃連之下熱，輕于大黃、半夏
之破飲，緩於甘遂、括蔞之潤利，和於芒硝，而其蠲除胸中結邪之意，則又無不同也，故曰
小陷胸湯。</p>
<p>小陷胸湯方。
黃連〔一兩〕、半夏〔半升洗〕、括蔞實〔大者一枚〕，
右三味，以水六升，先煮括蔞實，取三升，去滓，內諸藥，煮取二升，去滓，分溫三服。</p>
<p>病在陽，應以汗解之，反以冷水潠之，若灌之，其熱被劫不得去，彌更益煩，肉上栗起，意
欲飲水，反不渴者，服文蛤散，若不差者，與五苓散，寒實結胸無熱證者，與三物小陷胸湯，
白散亦可服。
 病在陽者，邪在表也，當以藥取汗，而反以冷水潠之，或灌濯之，其熱得寒被劫而又不得竟
去，於是熱伏水內，而彌更益煩，水居熱外，而肉上栗起，而其所以為熱，亦非甚深而極盛
也，故意欲飲水，而口反不渴，文蛤鹹寒而性燥，能去表間水熱互結之氣，若服之而不差者，
其熱漸深，而內傳入本也，五苓散，辛散而淡滲，能去膀胱與水相得之熱，若其外不鬱於皮
膚，內不傳於膀胱，則水寒之氣，必結於胸中，而成寒實結胸，寒實者，寒邪成實，與結胸
熱實者不同，審無口燥渴煩等證見者，當與三物白散溫下之劑，以散寒而除實也，本文小陷
胸湯，及亦可服七字，疑衍，蓋未有寒熱而仍用黃連括蔞者，或久而變熱者，則亦可與服之
耳。</p>
<p>文蛤散方，
文蛤五兩為散，以沸湯和一錢匕，服湯用五合。</p>
<p>三物白散方，
桔梗〔三分〕、貝母〔三分〕、巴豆〔一分去皮心熬黑〕，
右三味為末，內巴豆，更於臼中杵之，以白飲和服，強人半錢匕，羸者減之，病在膈上必吐，
在膈下必利，不利，進熱粥一杯，利過不止，進冷粥一杯，身熱皮栗不解，欲引衣自覆者，
若水以潠之洗之，益令熱劫不得出，當汗而不汗則煩，假令汗出已，腹中痛，與芍藥三兩，
如上法。</p>
<p>太陽少陽併病，而反下之，成結胸，心下鞕，下利不止，水漿不下，其人心煩。
 太陽病未罷而併於少陽，法當和散，如柴胡加桂枝之例，而反下之，陽邪內陷則成結胸，亦
如太陽及少陽誤下之例也，但邪既上結，則當不復下注，乃結胸心下鞕，而又下利不止者，
邪氣甚盛，而淫溢上下也，於是胃氣失其和，而水漿不下，邪氣亂其心，而煩擾不寧，所以
然者，太少二陽之熱，併而入裏，充斥三焦心胃之間，故其為病，較諸結胸有獨甚焉，仲景
不出治法者，非以其盛不可制耶。</p>
<p>結胸證，其脈浮大者，不可下，下之則死。
 結胸證，原有可下之例，如大陷胸湯及丸，諸法是也，若其脈浮大者，心下雖結而表邪猶盛，
則不可逕與下法，下之則臟氣重傷，邪氣復入，既不能受，又不可制，則難為生矣，故曰下
之則死。</p>
<p>結胸證悉具，煩躁者死，下利者亦死。
 傷寒邪欲入而煩躁者，正氣與邪爭也，邪既結而煩躁者，正氣不勝，而將欲散亂也，結胸證
悉具，謂脈沉緊，心下痛，按之石鞕，及不大便，舌上燥而渴，日晡所潮熱，如上文所云是
也，而又煩躁不寧，則邪結甚深，而正虛欲散，或下利者，是邪氣淫溢，際上極下，所謂病
勝臟者也，雖欲不死，其可得乎。</p>
<h4>痞證七條</h4>
<p>脈浮而緊，而復下之，緊反入裏，則作痞，按之自濡，但氣痞耳。
 此申言所以成痞之故，浮而緊者，傷寒之脈，所謂病發於陰也，緊反入裏者，寒邪因下而內
陷，與熱入因作結胸同意，但結胸心下鞕滿而痛，痞則按之濡而不鞕且痛，所以然者，陽
邪內陷，止於胃中，與水穀相結，則成結胸，陰邪內陷，止于胃外，與氣液相結，則為痞，
是以結胸為實，而按之鞕痛，痞病為虛，而按之自濡耳。</p>
<p>心下痞，按之濡，其脈關上浮者，大黃黃連瀉心湯主之。
 按成氏云，心下鞕，按之痛，關脈沉者，實熱也，心下痞，按之濡，關上浮者，虛熱也，
與大黃、黃連以導其虛熱，成氏所謂虛熱者，對燥屎而言也，非陰虛陽虛之謂，蓋熱邪入裏，
與糟粕相結，則為實熱，不與糟粕相結，即為虛熱，本方以大黃、黃連為劑，而不用枳、朴、
芒硝者，蓋以泄熱，非以蕩實也，麻沸湯者，煮水小沸如麻子，即以煮藥，不使盡藥力也。</p>
<p>大黃黃連瀉心湯方，
大黃〔二兩〕、黃連〔一兩〕，
右二味，以麻沸湯二升漬之，須臾，絞去滓，分溫再服。</p>
<p>心下痞，而復惡寒，汗出者，附子瀉心湯主之。
 此即上條而引其說，謂心下痞，按之濡，關脈浮者，當與大黃黃連瀉心湯，瀉心下之虛熱，
若其人復惡寒而汗出，證兼陽虛不足者，又須加附子以復表陽之氣，乃寒熱並用，邪正兼治
之法也。</p>
<p>附子瀉心湯方，
大黃〔二兩〕、黃連〔一兩〕、黃芩〔一兩〕、附子〔一枚炮去皮破別煮取汁〕，
右四味切，三味以麻沸湯二升漬之，須臾，絞去滓，內附子汁，分溫三服。
 按此證，邪熱有餘而正陽不足，設治邪而遺正，則惡寒益甚，或補陽而遺熱，則痞滿愈增，
此方寒熱補瀉，並投互治，誠不得已之苦心，然使無法以制之，鮮不混而無功矣，方以麻沸
湯漬寒藥，別煮附子取汁，合和與服，則寒熱異其氣，生熟異其性，藥雖同行，而功則各奏，
乃先聖之妙用也。</p>
<p>傷寒五六日，嘔而發熱者，柴胡湯證具，而以他藥下之，柴胡證仍在者，復與柴胡湯，此雖
已下之，不為逆，必蒸蒸而振，卻發熱汗出而解，若心下滿而鞕痛者，此為結胸也，大陷
胸湯主之，但滿而不痛者，此為痞，柴胡不中與之，宜半夏瀉心湯。
 結胸及痞，不特太陽誤下有之，即少陽誤下亦有之，柴胡湯證具者，少陽嘔而發熱，及脈弦
口苦等證具在也，是宜和解而反下之，於法為逆，若柴胡證仍在者，復與柴胡湯，和之即愈，
此雖已下之，不為逆也，蒸蒸而振者，氣內作而與邪爭勝，則發熱汗出而邪解也，若無柴胡
證，而心下滿而鞕痛者，則為結胸，其滿而不痛者，則為痞，均非柴胡所得而治之者矣，
結胸宜大陷胸湯，痞宜半夏瀉心湯，各因其證而施治也。</p>
<p>半夏瀉心湯方，
黃芩〔三兩〕、人參〔三兩〕、甘草〔三兩〕、黃連〔一兩〕、半夏〔半升洗〕、乾薑〔三
兩〕、大棗〔十二枚〕，
右七味，以水一斗，煮取六升，去滓，再煮取三升，溫服一升，日三服。
 按痞者，滿而不實之謂，夫客邪內陷，即不可從汗泄，而滿而不實，又不可從下奪，故惟半
夏、乾薑之辛，能散其結，黃連、黃芩之苦，能泄其滿，而其所以泄與散者，雖藥之能，而
實胃氣之使也，用參、草、棗者，以下後中虛，故以之益氣，而助其藥之能也。</p>
<p>傷寒汗出解之後，胃中不和，心下痞鞕，乾噫食臭，脅下有水氣，腹中雷鳴下利者，生薑瀉
心湯主之。
 汗解之後，胃中不和，既不能運行真氣，并不能消化飲食，於是心中痞鞕，乾噫食臭，金
匱所謂中焦氣未和，不能消穀，故飲人噫是也，噫、噯食氣也，脅下有水氣，腹中雷鳴下利
者，土德不及而水邪為殃也，故以瀉心消痞，加生薑以和胃。
 按上條本少陽病，不宜入太陽篇中，此條汗解後，病亦不得謂之逆，而俱列於此者，所以
備諸瀉心之用也。</p>
<p>生薑瀉心湯方，
生薑〔四兩切〕、人參〔三兩〕、半夏〔半升洗〕、甘草〔三兩炙〕、黃芩〔三兩〕、大棗
〔十二枚擘〕、黃連〔一兩〕、乾薑〔一兩〕，
右八味，以水一斗，煮取六升，去滓，再煮取三升，溫服一升，日三服。</p>
<p>傷寒中風，醫反下之，其人下利，日數十行，穀不化，腹中雷鳴，心下痞鞕而滿，乾嘔心
煩不得安，醫見心下痞，謂病不盡，復下之，其痞益甚，此非結熱，但以胃中虛，客氣上逆，
故使鞕也，甘草瀉心湯主之。
 傷寒中風者，成氏所謂傷寒或中風者是也，邪盛于表而反下之，為下利穀不化，腹中雷鳴，
為心下痞鞕而滿，為乾嘔心煩不得安，是表邪內陷心間，而復上攻下注，非中氣空虛，何
致邪氣淫溢至此哉，醫以為結熱未去，而復下之，是已虛而益虛也，虛則氣不得化，邪愈上
逆，而痞鞕有加矣，故與瀉心消痞，加甘草以益中氣。</p>
<p>甘草瀉心湯方，
甘草〔四兩〕、黃芩〔三兩〕、乾薑〔三兩〕、黃連〔一兩〕、半夏〔半升洗〕、大棗〔十
二枚擘〕，
右六味，以水一斗，煮取六升，去滓，再煮取三升，溫服一升，日三服。
 按生薑瀉心湯，甘草瀉心湯二方，雖同為治痞之劑，而生薑瀉心，意在胃中不和，故主生薑
以和胃，甘草瀉心，意在下利不止，與客氣上逆，故不用人參之增氣，而須甘草之安中也。</p>
<p>傷寒大下後，復發汗，心下痞，惡寒者，表未解也，不可攻痞，當先解表，表解乃可攻痞，
解表宜桂枝湯，攻痞宜大黃黃連瀉心湯。
 大下復汗，正虛邪入，心下則痞，當與瀉心湯如上法矣，若其人惡寒者，邪雖入裏，而表猶
未罷，則不可逕攻其痞，當先以桂枝湯解其表，而後以大黃黃連瀉心湯攻其痞，不然，恐痞
雖解，而表邪復入裏為患也，況痞亦未必能解耶。按傷寒下後，結胸痞滿之外，又有懊憹、
煩滿、下利等證，蓋邪入裏而未集，而其位又高，則為懊憹，其已集而稍下者，則為結胸及
痞，其最下而亦未結者，則為下利、結胸、痞滿，具如上文，凡十六條，以下凡十一條，則
備舉懊憹，下利諸證也。</p>
<h4>懊憹煩滿證治六條</h4>
<p>發汗吐下後，虛煩不得眠，若劇者，必反覆顛倒，心中懊憹，梔子豉湯主之，若少氣者，梔
子甘草豉湯主之，若嘔者，梔子生薑豉湯主之。
 發汗吐下後，正氣既虛，邪氣亦衰，乃虛煩不得眠，甚則反覆顛倒，心中懊憹者，未盡之
邪，方入裏而未集，已虛之氣，欲勝邪而不能，則煩亂不寧，甚則心中懊憹鬱悶，而不能
自已也，梔子體輕，味苦微寒，豉經蒸，可升可降，二味相合，能徹散胸中邪氣，為除煩止
躁之良劑，少氣者，呼吸少，氣不足以息也，甘草之甘，可以益氣，嘔者，氣逆而不降也，
生薑之辛，可以散逆，得吐則邪氣散而當愈，不可更吐以傷其氣，故止後服。</p>
<p>梔子豉湯方，
梔子〔十四枚擘〕、香豉〔四合綿裹〕，
右一味，以水四升，先煮梔子，得二升半，內豉，煮取一升半，去滓，分二服，溫進一服，
得吐止後服。</p>
<p>梔子甘草豉湯方。
於梔子豉湯內，加入甘草二兩，餘依前法。</p>
<p>梔子生薑豉湯方，
於梔子豉湯內，加入生薑五兩，餘依前法。</p>
<p>發汗若下之，而煩熱，胸中窒者，梔子豉湯主之。
傷寒五六日，大下之後，身熱不去，心中結痛者，未欲解也，梔子豉湯主之。
 煩熱者，心煩而身熱也，胸中窒者，邪入胸間而氣窒不行也，蓋亦汗下後，正虛邪入，而猶
未集之證，故亦宜梔子豉湯散邪徹熱為主也，心中結痛者，邪結心間而為痛也，然雖結痛而
身熱不去，則其邪亦未盡入，與結胸之心下痛而身不熱者不同，此梔子豉湯之散邪徹熱，所
以輕於小陷胸之蕩實除熱也。</p>
<p>傷寒下後，心煩腹滿，臥起不安者，梔子厚朴湯主之。
 下後心煩，證與上同，而加腹滿，則邪入較深矣，成氏所謂邪氣壅于心腹之間者，是也，故
去香豉之升散，而加枳朴之降泄，若但滿而不煩，則邪入更深，又當去梔子之輕清，而加大
黃之沉下矣，此梔子厚朴湯所以重于梔豉而輕于承氣也。</p>
<p>梔子厚朴湯方。
梔子〔十四枚擘〕、厚朴〔四兩薑汁炒〕、枳實〔四枚水浸去穰炒〕，
右三味，以水三升半，煮取一升半，去滓，分二服，溫進一服，得吐者，止後服。</p>
<p>傷寒，醫以丸藥大下之，身熱不去，微煩者，梔子乾薑湯主之。
 大下後，身熱不去，證與前同，乃中無結痛，而煩又微而不甚，知正氣虛，不能與邪爭，而
亦不能勝之也，故以梔子徹胸中陷入之邪，乾薑復下藥損傷之氣。</p>
<p>梔子乾薑湯方，
梔子〔十四枚〕、乾薑〔二兩〕，
右二味，以水三升半，煮取一升半，去滓，分二服，溫進一服，得吐，止後服。</p>
<p>凡用梔子湯，病人舊微溏者，不可與服之。
 病人舊微溏者，未病之先，大便本自微溏，為裏虛而寒在下也，梔子湯，本湧泄胸中客熱之
劑，舊微溏者，中氣不固，與之，恐藥氣乘虛下泄，而不能上達，則膈熱反因之而深入也，
故曰不可與服之。</p>
<h4>下利脈證五條</h4>
<p>太陽病，桂枝證，醫反下之，利遂不止，脈促者，未解也，喘而汗出者，葛根黃連黃芩湯主
之。
 太陽中風發熱，本當桂枝解表，而反下之，裏虛邪入，利遂不止，其脈則促，其證則喘而汗
出，夫促為陽盛，脈促者，知表未解也，無汗而喘，為寒在表，喘而汗出，為熱在裏也，是
其邪陷於裏者十之七，而留於表者十之三，其病為表裏並受之病，故其法亦宜表裏兩解之法，
葛根黃連黃芩湯，葛根解肌于表，芩、連清熱於裏，甘草則合表裏而並和之耳，蓋風邪初中，
病為在表，一入於裏，則變為熱矣，故治表者，必以葛根之辛涼，治裏者，必以芩、連之苦
寒也，而古法汗者不以偶，下者不以奇，故葛根之表，則數多而獨行，苓、連之裏，則數少
而並須，仲景矩矱，秩然不紊如此。</p>
<p>葛根黃連芩湯方。
葛根〔半觔〕、甘草〔二兩炙〕、黃芩〔二兩〕、黃連〔三兩〕，
右四味，以水八升，先煮葛根減二升，內諸藥，煮取二升，去滓，分溫再服。</p>
<p>太陽病，外證未除，而數下之，遂協熱而利，利下不止，心下痞鞕，表裏不解者，桂枝人參
湯主之。
 太陽誤下自利，而又表裏不解，與上條同，然曰數下，則氣屢傷矣，曰利下不止。則虛復甚
矣，雖心下痞鞕，亦是正虛失運之故，是宜桂枝之辛，以解其表，參朮、薑、草之甘溫，以
安其裏，而不可以葛根攻表，亦不得以芩、連清裏，治如上條之例矣。
桂枝人參湯方。
桂枝〔四兩〕、乾薑〔三兩〕、白朮〔三兩〕、人參〔三兩〕、炙甘草〔四兩〕，
右五味，以水九升，先煮四味，取五升，內桂，更煮取三升，溫服一升，日再，夜一服。</p>
<p>傷寒，醫下之，續得下利，清穀不止，身疼痛者，急當救裏，後身疼痛，清便自調者，急當
救表，救裏宜四逆湯，救表宜桂枝湯。
 傷寒下後，邪氣變熱，乘虛入裏者，則為挾熱下利，其邪未入裏而藏虛生寒者，則為下利清
穀，各因其人邪氣之寒熱，與藏氣之陰陽而為病也，身疼痛者，邪在表也，然藏氣不充，則
無以為發汗散邪之地，故必以溫藥，舍其表而救其裏，服後清便自調，裏氣已固，而身痛不
除，則又以甘辛發散為急，不然，表之邪又將入裏而增患矣，而救裏用四逆，救表用桂枝，
與厥陰篇下利腹脹滿身疼痛條略同，彼為寒邪中陰，此為寒藥傷裏，而其溫中散邪，先表後
裏之法則一也。</p>
<p>太陽病，二三日，不能臥，但欲起，心下必結，脈微弱者，此本有寒分也，反下之，若利止，
必作結胸，未止者，四日復下之，此作協熱利也。
 太陽病，二三日，為病未久也，不能臥，但欲起者，下結滿，臥則氣愈壅而不安也，脈微弱，
陽氣衰少也，夫二三日，為病未久，則寒未變熱，而脈又微弱，知其結於心下者，為寒分而
非熱分矣，寒分者，病屬于寒，故謂寒分，猶金匱所謂血分、氣分、水分也，寒則不可下，
而醫反下之，裏虛寒入，必為下利不止，若利止，必作結胸者，寒邪從陽之化，而上結於陽
位也，若未止，四日復下之者，寒已變熱，轉為協熱下利，故須復下，以盡其邪，所謂在下
者，引而竭之也，總之，寒邪中人，久必變熱，而邪不上結，勢必下注，仲景反覆詳論，所
以詔示後人者深矣。</p>
<p>傷寒服湯藥，下利不止，心下痞鞕，服瀉心湯已，復以他藥下之，利不止，醫以理中與之，
利益甚，理中者，理中焦，此利在下焦，赤石脂禹餘糧湯主之，復利不止者，當利其小便。
 湯藥，亦下藥，亦下藥也，下後下利痞鞕，瀉心湯是已，而復以他藥下之，以虛益虛，邪
氣雖去，下焦不約，利無止期，故不宜參、朮、薑、草之安中，而宜赤脂、禹糧之固下也，
乃服之而利猶不止，則是下焦分注之所，清濁不別故也，故當利其小便。</p>
<p>赤石脂禹餘糧湯方，
赤石脂〔一觔碎〕、禹餘糧〔一觔碎〕，
右二味，以水六升，煮取二升，去滓，分溫三服。</p>
<h4>下後諸變證治八條</h4>
<p>太陽病下之，其脈促，不結胸者，此為欲解也，脈浮者，必結胸也，脈緊者，必咽痛，脈弦
者，必兩脅拘急，脈細數者，頭痛未止，脈沉緊者，必欲嘔，脈沉滑者，協熱利，脈浮滑者，
必下血。
 此因結胸，而并詳太陽誤下諸變，謂脈促為陽盛，而不結于胸，則必無下利痞滿之變，其邪
將從外解，若脈浮者，下後邪已入裏，而猶在陽分，則必作結胸矣，脈緊者，太陽之邪，傳
入少陰之絡，故必咽痛，所為脈緊者屬少陰，又邪客於足少陰之絡，令人咽痛，不可內食是
也，脈弦者，太陽之邪，傳入少陽之經，故必兩脅拘急，所為尺寸俱弦者，少陽受病，其脈
循脅絡於耳故也，脈細為氣少，數為陽脈，氣不足而陽有餘，乃邪盛於上也，故頭痛未止，
脈沉為在裏，緊為寒脈，邪入裏而正不容，則內為格拒，故必欲嘔，脈沉滑者，熱勝而在下
也，故協熱利，脈浮滑者，陽勝而陰傷也，故必下血，經曰，不宜下而更攻之，諸變不可勝
數，此之謂也，已下並太陽下後之證，而或胸滿，或喘，或煩驚譫語，或脅痛發黃，是結胸、
痞滿、煩躁、下利外，尚有種種諸變如此。</p>
<p>太陽病，下之後，脈促胸滿者，桂枝去芍藥湯主之，若微惡寒者，去芍藥方中，加附子湯主
之。
 陽邪被抑，不復浮盛于表，亦未結聚於裏，故其胸滿，其脈促，促者，數而時一止也，夫促
為陽脈，胸中為陽之府，脈促胸滿，則雖誤下，而邪氣仍在陽分，故以桂、甘、薑、棗甘辛
溫藥，從陽引而去之，去芍藥者，恐酸寒氣味，足以留胸中之邪，且奪桂枝之性也，若微惡
寒者，其人陽不足，必加附子，以助陽氣而逐陽邪，設徒與前法，則藥不及病，雖病不增劇，
亦必無濟矣。</p>
<p>桂枝去芍藥湯方，
於桂枝湯內，去芍藥，餘依前法。
桂枝去芍藥加附子湯方，
于桂枝湯方內，去芍藥，加附子一枚，炮去皮，破八片，餘依前法。</p>
<p>太陽病，下之，微喘者，未解故也，桂枝加厚朴杏仁湯主之。喘家，作桂枝湯，加厚朴、杏
仁，佳。
 太陽誤下，無結胸下利諸變，而但微喘，知其裏未受病，而其表猶未解，胸中之氣，為之不
利也，故與桂枝湯，解表散邪，加厚朴、杏仁，下氣定喘，然喘之為病，所關非細，而誤下
之後，其變實多，仲景此條，蓋可以互證，而難以獨引，亦如太陽病，脈浮者，可發汗，宜
麻黃湯之文也，學者辨諸。</p>
<p>太陽病，下之後，其氣上衝者，可與桂枝湯，方用前法，若不上衝者，不可與之。
 病在太陽，而反下之，正氣遂虛，邪氣則陷，乃共氣反上沖者，陽邪被抑而復揚，仍欲出而
之表也，故可與桂枝湯，從陽引而去之，因其輕而揚之之意也，用前法者，即啜熱稀粥，以
助藥力之法，蓋欲以救被傷之氣，而引欲出之邪耳，若不上沖者，邪已內陷，不復外攻，當
隨脈證而調其內，不可更以桂枝攻其表也。</p>
<p>傷寒八九日，下之，胸滿煩驚，小便不利，譫語，一身盡重，不可轉側者，柴胡加龍骨牡蠣
湯主之。
 傷寒下後，其邪有併歸一處者，如結胸下利諸候是也，有散漫一身者，如此條所云諸證是也，
胸滿者，邪痺於上，小便不利者，邪痺於下，煩驚者，邪動於心，譫語者，邪結於胃，此病
之在裏者也，一身盡重，不可轉側者，筋脈骨肉，並受其邪，此病之在表者也，夫合表裏上
下而為病者，必兼陰陽合散以為治，方用柴胡桂枝，以解其外而除身重，龍蠣鉛丹，以鎮其
內而止煩驚，大黃以和胃氣，止譫語，茯苓以泄膀胱，利小便，人參、薑、棗，益氣養營衛，
以為驅除邪氣之本也，如是表裏虛實，泛應曲當，而錯雜之邪，庶幾盡解耳。</p>
<p>柴胡加龍骨牡蠣湯方。
半夏〔二合洗〕、柴胡〔四兩〕、人參、龍骨、鉛丹、牡蠣〔熬〕、茯苓、桂枝、生薑〔各
一兩半〕、大棗〔六枚〕、大黃〔二兩〕，
右十一味，以水八升，煮取四升，內大黃，刀如碁子，更煮一二沸，去滓，溫服一升。
得病六七日，脈遲浮弱，惡風寒，手足溫，醫二三下之，不能食，而脅下滿痛面目及身黃，
頸項強，小便難者，與柴胡湯，後必下重，本渴而飲水嘔者，柴胡湯不中與也，食穀者噦。
 病六七日，脈浮不去，惡風寒不除，其邪猶在表也，醫反二三下之，胃氣重傷，邪氣入裏，
則不能食而脅下滿痛，且面目及身黃，頸項強，小便難，所以然者，其人脈遲弱而不數，手
足溫而不熱，為太陰本自有濕，而熱又入之，相得不解，交蒸互鬱，而面目身體悉黃矣，頸
項強者，濕痺于上也，脅下滿痛者，濕聚于中也，小便難者，濕不下走也，皆與熱相得之故
也，醫以其脅下滿痛，與柴胡湯以解其邪，後必下重者，邪外解而濕下行，將欲作利也，設
熱濕並除，則汗液俱通而愈矣，何至下重哉，本渴而飲水嘔者，金匱所謂先渴卻嘔者，為水
停心下，此屬飲家也，飲在心下，則食穀必噦，所謂諸嘔吐，穀不得下者，小半夏湯主之是
也，豈小柴胡所能治哉。</p>
<p>本以下之，故心下痞，與瀉心湯，痞不解，其人渴而口燥煩，小便不利者，五苓散主之。
 下後成痞，與瀉心湯，於法為當矣，乃痞不解，而其人口燥煩渴，小便不利者，此非痞也，
乃熱邪與水蓄而不行也，水蓄不行，則土失其潤，而口燥煩渴，下迷其道，而小便不利，瀉
心湯不中與矣，五苓散，散水泄熱，使小便利，則痞與煩渴俱止耳。</p>
<p>下後，不可更行桂枝湯，汗出而喘，無大熱者，可與麻黃杏子甘草石膏湯。
 此與汗後不可更行桂枝湯條大同，雖汗下不同，其為邪入肺中則一，故其治亦同。</p>
<h4>誤汗下及吐後諸變脈證十三條</h4>
<p>本發汗而復下之，此為逆也，若先發汗，治不為逆，本先下之，而反汗之，此為逆也，若先
下之，治不為逆。
 此泛言汗下之法，各有所宜，當隨病而施治，不可或失其度也，如頭痛發熱惡寒者，本當發
汗而反下之，是病在表而治其裏也，故曰逆，腹滿便閉惡熱者，本當下之而反汗之，是病在
裏而治其表也，故亦為逆，若審其當汗而汗之，或當下而下之，則亦何逆之有，外臺云，表
病裏和，汗之則愈，下之則死，裏病表和，下之則愈，汗之則死，不可不慎也。</p>
<p>太陽病，先發汗不解，而復下之，脈浮者不愈，浮為在外而反下之，故令不愈，今脈浮，故
知在外，當須解外則愈，宜桂枝湯主之。
 既汗復下，邪氣不從表散，而又不從裏出者，以其脈浮而邪在外，故雖復下之，而病不愈也，
夫病在外者，仍須從外引而去之，今雖已汗下，而其脈仍浮，知其邪猶在外，故須桂枝湯，
解散外邪則愈，少陽篇云，柴胡湯證具，而以他藥下之，柴胡證仍在者，復與柴胡湯，必蒸
蒸而振，卻發熱汗出而解，與此同意，所當互參。</p>
<p>太陽病，先下之而不愈，因復發汗，以此表裏俱虛，其人因致冒，冒家汗出自愈，所以然者，
汗出表和故也，得裏未和，然後復下之。
 下之則傷其裏，汗之則傷其表，既下復汗，表裏俱虛，而邪仍不解，其人則因為而冒，冒、
昏冒也，以邪氣蔽其外，陽氣被鬱，欲出不能，則時自昏冒，如有物蒙蔽之也，若得汗出，
則邪散陽出，而冒自愈，金匱云，冒家欲解，必大汗出也，然亦正氣得復，而後汗自出耳，
豈可以藥強發之哉，若汗出冒解，而裏未和者，然後復下之，以和其裏，所謂裏病表和，下
之而愈是也。</p>
<p>大下之後，復發汗，小便不利者，亡津液故也，勿治之，得小便利，必自愈。
 既下復汗，重亡津液，大邪雖解，而小便不利，是未可以藥利之，俟津液漸回，則小便自行
而愈，若強利之，是重竭其陰也，況未必即利耶。</p>
<p>下之後，復發汗，必振寒，脈微細，所以然者，以內外俱虛故也。
 振寒，振栗而寒也，脈微為陽氣虛細為陰氣少，既下復汗，身振寒而脈微細者，陰陽並傷，
而內外俱虛也，是必以甘溫之劑，和之養之為當矣。</p>
<p>下之後，復發汗，晝日煩躁不得眠，夜而安靜，不嘔不渴，無表證，脈沉微，身不大熱者，
薑附子湯主之。
 大法晝靜夜劇，病在腎陰，夜靜晝劇，病在胃陽，汗下之後，晝日煩躁不得眠，夜而安靜者，
邪未盡而陽已虛，晝日陽虛欲復，而與邪爭，則煩躁不得眠，夜而陰旺陽虛，不能與邪爭，
則反安靜也，不嘔不渴，裏無熱也，身無大熱，表無熱也，而又無頭痛惡寒之表證，其脈又
不浮而沉，不洪而微，其為陽氣衰少無疑，故當與乾薑、附予，以助陽虛而逐殘陰也，以上
三條，並是汗下後，小便不利者，傷其陰也，振寒脈微細者，陰陽並傷也，晝日煩躁不得眠，
夜而安靜者，傷陽而不及陰也，於此見病變之不同。</p>
<p>乾薑附子湯方，
乾薑〔一兩〕、附子〔一枚生用去皮切八片〕，
右二味，以水三升，煮取一升，去滓，頓服。
發汗若下之，病仍不解，煩躁者，茯苓四逆湯主之。
 發汗若下，不能盡其邪，而反傷其正，於是正氣欲復而不得復，邪氣雖微而不即去，正邪交
爭，乃生煩躁，是不可更以麻、桂之屬逐其邪，及以梔、豉之類止其煩矣，是方乾薑，生附
之辛，所以散邪，茯苓、人參、甘草之甘，所以養正，乃強主弱客之法也。</p>
<p>茯苓四逆湯方。
茯苓〔六兩〕、人參〔一兩〕、乾薑〔一兩半〕、甘草〔二兩炙〕、附子〔一枚生用去皮破
片〕，
右五味，以水五升，煮取三升，去滓，溫服七合，日三服。
 按汗下後煩躁一證，悉是正虛邪擾之故，而有邪多虛少，或虛多邪少之分，邪多者，宜逐邪
以安正，虛多者，宜助正以逐邪，仲景既著梔豉湯之例，復列茯苓四逆之法，其於汗下後煩
躁一證，虛實互舉，補瀉不遺如此，學者所當究心也。</p>
<p>傷寒胸中有熱，胃中有邪氣，腹中痛，欲嘔吐者，黃連湯主之。
 此上中下三焦俱病，而其端實在胃中，邪氣即寒淫之氣，胃中者，沖氣所居，以為上下升降
之用者也，胃受邪而失其和，則升降之機息，而上下之道塞矣，成氏所謂陰不得升而獨治其
下，為下寒，腹中痛，陽不得降而獨治於上，為胸中熱，欲嘔吐者是也，故以黃連之苦寒，
以治上熱，桂枝之甘溫，以去下寒，上下既平，升降乃復，然而中焦不治，則有升之而不得
升，降之而不得降者矣，故必以人參、半夏、乾薑、甘草、大棗，以助胃氣而除邪氣也，此
蓋痞證之屬，多從寒藥傷中後得之，本文雖不言及，而其為誤治後證可知，故其藥亦與瀉心
相似，而多桂枝耳。</p>
<p>黃連湯方，
黃連、桂枝〔去皮〕、乾薑、甘草〔炙各三兩〕、人參〔二兩〕、半夏〔半升洗〕、大棗〔十
二枚擘〕，
右七味，以水一斗，煮取六升，去滓，溫服一升，日三服，夜二服。</p>
<p>太陽病，當惡寒發熱，今自汗出，不惡寒發熱，關上脈細數者，以醫吐之故也，一二日吐之
者，腹中飢，口不能食，三四日吐之者，不喜糜粥，欲食冷食，朝食暮吐，以醫吐之所致也，
此為小逆。
 病在表而醫吐之，邪氣雖去，胃氣則傷，故自汗出，無寒熱，而脈細數也，一二日，胃氣本
和，吐之則胃空思食，故腹中飢，而胃氣因吐而上逆，則又口不能食也，三四日，胃氣生熱，
吐之則其熱上動，故不喜糜粥，欲食冷食，而胃氣自虛，不能消穀，則又朝食而暮吐也，此
非病邪應爾，以醫吐之所致，曰小逆者，謂邪已去而胃未和，但和其胃，則病必自愈。</p>
<p>傷寒吐下後，復發汗，虛煩，脈甚微，八九日，心下痞鞕，脅下痛，氣上衝咽喉，眩冒，經
脈動惕者，久而成痿。
 吐下復汗，津液𣿫傷，邪氣陷入，則為虛煩，虛煩者，正不足而邪擾之為煩，心不寧也，
至八九日，正氣復，邪氣退，則愈，乃反心下痞鞕，脅下痛，氣上沖咽喉，眩冒者，邪氣摶
飲，內聚而上逆也，內聚者，不能四布，上逆者，無以逮下，夫經脈者，資血液以為用者也，
汗吐下後，血液之所存幾何，而復搏結為飲，不能布散諸經，譬如魚之失水，能不為之時時
動惕耶，且經脈者，所以綱維一身者也，今既失浸潤於前，又不能長養于後，必將筋膜乾急
而攣，或樞折脛縱而不任地，如內經所云，脈痿筋痿之證也，故曰久而成痿。</p>
<p>太陽病吐之，但太陽病當惡寒，今反不惡寒，不欲近衣，此為吐之內煩也。
 病在表而吐之，邪氣雖去，胃氣生熱，則為內煩，內煩者，熱從內動而生煩也。</p>
<p>太陽病，過經十餘日，心下溫溫欲吐，而胸中痛，大便反溏，腹微滿，鬱鬱微煩，先此時，
自極吐下者，與調胃承氣湯，若不爾者，不可與，但欲嘔，胸中痛，微溏者，此非柴胡證，
以嘔知極吐下也。
 過經者，病過一經，不復在太陽矣，詳見陽明篇中，心下溫溫欲吐而胸中痛者，上氣因吐而
逆，不得下降也，與病人欲吐者不同，大便溏而不實者，下氣因下而注，不得上行也，與大
便本自溏者不同，設見腹滿，鬱鬱微煩，知其熱積在中者猶甚，則必以調胃承氣，以盡其邪
矣，邪盡則不特腹中之煩滿釋，即胸中之嘔痛亦除矣，此因勢利導之法也，若不因吐下而致
者，則病人欲吐者，與大便自溏者，均有不可下之戒，豈可漫與調胃承氣湯哉，但欲嘔，腹
下痛，有似柴胡證，而係在極吐下後，則病在中氣，非柴胡所得而治者矣，所以知其為極吐
大下者，以大便溏而仍復嘔也，不然，病既在下，豈得復行於上哉。</p>
<p>太陽病，三日，已發汗，若吐若下若溫鍼，仍不解者，此為壞病，桂枝不中與也，觀其脈證，
知犯何逆，隨證治之。
 若、與或同，言或汗，或吐，或下，或溫鍼，而病仍不解，即為壞病，不必諸法雜投也，壞
病者，言為醫藥所壞，其病形脈證不復如初，不可以原法治也，故曰桂枝不中與也，須審其
脈證，知犯何逆，而後隨證依法治之。</p>
<h4>火逆十條</h4>
<p>脈浮，宜以汗解，用火灸之，邪無從出，因火而盛，病從腰以下，必重而痺，名火逆也。
 脈浮者，病在表，不以汗解，而以火攻，肌湊未開，則邪無從出，反因火氣而熱乃盛也，夫
陽邪被迫而不去者，則必入而之陰，痛從腰以下，重而痺者，邪因火迫而在陰也，故曰火逆。</p>
<p>微數之脈，慎不可灸，因火為邪，則為煩逆，追虛逐實，血散脈中，火氣雖微，內攻有力，
焦骨傷筋，血難復也。
 脈微數者，虛而有熱，是不可以火攻，而反灸之，熱得火氣，相合為邪，則為煩逆，煩逆者，
內煩而火逆也，血被火迫，謂之追虛，熱因火動，謂之逐實，由是血脈散亂而難復，筋骨焦
枯而不澤，火之為害何如耶。</p>
<p>脈浮，熱甚，反灸之，此為實，實以虛治，因火而動，必咽燥唾血。
 此火邪迫血，而血上行者也，脈浮熱甚，此為表實，古法瀉多用鍼，補多用灸，醫不知而反
灸之，是實以虛治也，兩實相合，迫血妄行，必咽燥而唾血。
太陽病，以火熏之，不得汗，其人必躁，到經不解，必圊血，名為火邪。
 此火邪迫血，而血下行者也，太陽表病，用火熏之，而不得汗，則邪無從出，熱氣內攻，必
發躁也，六日傳經盡，至七日則病當解，若不解，火邪迫血，下走腸間，則必圊血，圊血，
便血也。</p>
<p>太陽傷寒者，加溫鍼，必驚也。
 寒邪在表，不以汗解，而以溫鍼，心虛熱入，必作驚也，成氏曰，溫鍼損營血而動心氣。</p>
<p>太陽病中風，以火劫發汗，邪風被火熱，血氣流溢，失其常度，兩陽相熏灼，其身發黃，陽
盛則欲衄，陰虛則小便難，陰陽俱虛竭，身體則枯燥，但頭汗出，劑頸而還，腹滿微喘，口
乾咽爛，或不大便，久則譫語，甚者至噦，手足躁擾，捻衣摸床，小便利者，其人可治。
 風為陽邪，火為陽氣，風火交煽，是為兩陽，陽盛而熱勝為發黃，陽盛則血亡而陰竭，為欲
衄，為小便難也，陰陽俱虛竭，非陽既盛而復虛也，盛者，陽邪自盛，虛者，陽氣自虛也，
身體枯燥以下，並陰陽虛竭，火氣熏灼之徵，於法不治，乃小便本難而反利，知其陰氣未絕，
猶可調之使復也，故曰其人可治。</p>
<p>太陽病，二日，反躁，反熨其背，而大汗出，火熱入胃，胃中水竭，躁煩，必發譫語，十餘
日，振慄，自下利者，此為欲解也，故其汗從腰已下不得汗，欲小便不得，反嘔欲失溲，足
下惡風，大便鞕，小便當數而反不數，反多，大便已，頭卓然而痛，其人足心必熱，穀氣下
流故也。
 太陽病二日，不應發躁而反躁者，熱氣行於裏也，是不可以火攻之，而反熨其背，汗出熱入，
胃乾水竭，為躁煩，為譫語，勢有所必至者，至十餘日，火氣漸衰，陰氣復生，忽振慄自下
利者，陽得陰而和也，故曰欲解，因原其未得利時，其人從腰以下無汗，欲小便不得者，陽
不下通于陰也，反嘔者，陽邪上逆也，欲失溲，足下惡風者，陽上逆，足下無氣也，大便鞕，
津液不下行也，諸皆陽氣上盛，升而不降之故，及乎津液入胃，大便得行，於是陽氣暴降而
頭反痛，穀氣得下而足心熱，則其腰下有汗，小便得行可知，其不嘔不失溲，又可知矣。</p>
<p>火逆下之，因燒鍼煩躁者，杜枝甘草龍骨牡蠣湯主之。
 火逆復下，已誤復誤，又加燒鍼，火氣內迫，心陽內傷，則生煩躁，桂枝、甘草，以復心陽
之氣，牡蠣、龍骨，以安煩亂之神，此與下條參看更明。</p>
<p>桂枝甘草龍骨牡蠣湯方，
桂枝、炙甘草〔各一兩〕、牡蠣、龍骨〔各二兩〕，
右為末，以水五升，煮取二升半，去滓，溫服八合，日三服。
 傷寒脈浮，醫以火迫劫之，亡陽，必驚狂，起臥不安者，桂枝去芍藥加蜀漆牡蠣龍骨救逆湯
主之。
 陽者，心之陽，即神明也，亡陽者，火氣通於心，神被火迫而不守，此與發汗亡陽者不同，
發汗者，搖其精則厥逆，筋惕肉瞤，故當用四逆，被火者，動其神則驚狂，起臥不安，故當
用龍蠣，其去芍藥者，蓋欲以甘草急復心陽，而不須酸味更益營氣也，與發汗後，其人叉手
自冒心，心下悸，欲得按者，用桂枝甘草湯同意，蜀漆，即常山苗，味辛，能去胸中邪結氣，
此證火氣內迫心胸，故須之以逐邪而安正耳。</p>
<p>杜枝去芍藥加蜀漆牡蠣龍骨救逆湯方。
桂枝〔三兩〕、生薑〔三兩切〕、蜀漆〔三兩洗去腥〕、甘草〔二兩炙〕、牡蠣〔五兩熬〕、
龍骨〔四兩〕、大棗〔十二枚擘〕，
右為末，以水一斗二升，先煮蜀漆減二升，內諸藥，煮取三升，去滓，溫服一升。</p>
<p>燒鍼令其汗，鍼處被寒核起而赤者，必發奔豚，氣從少腹上衝心者，灸其核上各一壯，與桂
枝加桂湯。
 燒鍼發其汗，鍼處被寒者，故寒雖從汗而出，新寒復從鍼孔而入也，核起而赤者，鍼處紅腫
如核，寒氣所鬱也，於是心氣因汗而內虛，腎氣乘寒而上逆，則發為奔豚，氣從少腹上衝也
也，灸其核上，以杜再入之邪，與桂枝加桂，以泄上逆之氣。</p>
<p>桂枝加桂湯方，
於桂枝湯方內，更加桂三兩，共五兩，餘依前法。</p>
<h3>太陽類病法第五</h3>
<h4>溫病一條</h4>
<p>太陽病，發熱而渴，不惡寒者，為溫病。
 此溫病之的證也，溫病者，冬春之月，溫暖太甚，所謂非節之暖，人感之而即病者也，此正
是傷寒對照處，傷寒變乃成熱，故必傳經而後渴，溫邪不待傳變，故在太陽而即渴也，傷寒
陽為寒鬱，故身發熱而惡寒，溫病陽為邪引，故發熱而不惡寒也，然其脈浮，身熱頭痛，則
與傷寒相似，所以謂之傷寒類病云。</p>
<h4>風溫一條</h4>
<p>若發汗已，身灼熱者，名曰風溫，風溫為病，脈陰陽俱浮，自汗出，身重多眠睡，鼻息必鼾，
語言難出，若被下者，小便不利，直視失溲，若被火者，微發黃色，劇則如驚癇，時瘈瘲，
若火熏之，一逆尚引日，再逆促命期。
 此風溫之的脈的證也，亦是傷寒反照處，傷寒寒邪傷在表，汗之則邪去而熱已，風溫溫與風
得，汗之則風去而溫勝，故身灼熱也，且夫風溫之病，風傷陽氣而溫損陰氣，故脈陰陽俱浮，
不似傷寒之陰陽俱緊也，風泄津液，而溫傷肺氣，故自汗出身重，不同傷寒之無汗而體痛也，
多眠睡者，熱勝而神昏也，鼻息鼾，語言難出者，風溫上壅，湊於肺也，是當以辛散風而涼
勝溫，乃不知而遽下之，則適以傷藏陰而陷邪氣，藏陰陽，則小便難，目直視，邪氣陷，則
時復失溲也，被火如溫鍼灼艾之屬，風溫為陽邪，火為陽氣，以陽遇陽，所謂兩陽相熏灼，
其身必發黃也，然火微則熏於皮膚，而身發黃色，火劇則逼入心藏，而如發驚癇，且風從火
出，而時時瘈瘲，乃所以為逆也，若已被火而復以火熏之，是謂逆而再逆，一逆尚延時日，
再逆則促命期，此醫家之大罪也，仲景示人風溫溫病之大戒如此。
按傷寒序例云，從霜降以後，至春分以前，凡有觸冒霜露，體中寒即病者，謂之傷寒，至冬
有非節之暖者，名曰冬溫，冬溫之毒，與傷寒大異，從立春節後，其中無暴大寒，又不冰雪，
而有人壯熱為病者，此屬春時陽氣發外，冬時伏寒變為溫病，從春分以後，至秋分節前，天
有暴寒者，皆為時行寒疫也，又曰，若更感異氣，變為他病者，當依壞證病而治之，若脈陰
陽俱盛，重感於寒者，變為溫瘧，陽脈浮滑，陰脈濡弱者，更遇於風，變為風溫，陽脈洪數，
陰脈實大者，更遇溫熱，變為溫毒，溫毒為病最重也，陽脈濡弱，陰脈弦緊者，更遇溫氣，
變為溫疫，夫所謂冬溫寒疫者，皆非其時而有其氣，即所謂天行時氣也，所謂變為溫病者，
乃是冬時伏寒，發於春時，陽氣即春溫也，所謂變為溫瘧者，本是溫熱之病，重感新寒，熱
為寒鬱，故為瘧也，所謂變為風溫者，前風未絕，而後風繼之，以陽遇陽，相得益熾也，所
謂變為溫毒者，前熱未已，而又感溫熱，表裏皆熱，蘊隆為患，故謂毒也，所謂變為溫疫者，
本有溫病，而又感厲氣，故為溫疫也，夫治病者，必先識病，欲識病者，必先正名，名正而
後證可辨，法可施矣，惜乎方法並未專詳，然以意求之，無不可得，在人之致力何如耳。</p>
<h4>痙病七條</h4>
<p>太陽病，發熱無汗，反惡寒者，名曰剛痙太陽病，發熱汗出，不惡寒者，名曰柔痙。
 此分痙病剛柔之異，以無汗惡寒者，為陰為剛，有汗不惡寒，為陽為柔，陰性勁切，而陽性
舒散也，然必兼有頭動面赤，口噤，背反張，頸項強等證，仲景不言者，以痙字該之也，不
然，何異太陽中風傷寒證，而謂之痙證耶，活人亦云，痙證發熱惡寒，與傷寒相似，但其脈
沉遲弦細，而項背反張為異耳。</p>
<p>太陽病，發熱，脈沉而細者，名曰痙，為難治。
 太陽脈本浮，今反沉者，風得濕而伏也，痙脈本緊弦，今反細者，真氣適不足也，攻則正不
能任，補則邪不得去，此痙病之難治者也。</p>
<p>太陽病，發汗太多，因致痙。
 痙病有太陽風寒不解，重感寒濕而成者，亦有亡血竭氣，損傷陰陽，筋脈不榮而變成痙者，
病在太陽，發汗太多，因致成痙，知其為液脫筋急之痙，而非風淫濕鬱之痙矣，經云，氣主
煦之，血主濡之，又云，陽氣者，精則養神，柔則養筋，陰陽既衰，筋脈失其濡養，而強直
不柔也，此痙病標本虛實之辨也。</p>
<p>病者，身熱足寒，頸項強急，惡寒時，頭熱，面赤，目赤，獨頭動搖，卒口噤，背反張者，
痙病也。
 痙病不離乎表，故身熱惡寒，痙為風強病，而筋脈受之，故口噤，頭項強，背反張，脈強直，
經云，諸暴強直，皆屬於風也，頭熱足寒，面目赤，頭動搖者，風為陽邪，其氣上行而又主
動也。按以上五條，王叔和本編入痙濕暍篇中，在三百九十七法之外，茲特錄之，所以廣類
病之法也，以下二條，係太陽原文，而實為痙病，故移置此篇，以資辨證，非好為變亂前文
也，學者辨諸。</p>
<p>太陽病，項背強，儿儿，反汗出惡風者，桂枝加葛根湯主之。
太陽病，項背強，儿儿，無汗惡風，葛根湯主之。
 二條本是痙證，而有表虛表實之分，表實者無汗，表虛者汗反自出，即所謂剛痙柔痙也，然
痙、筋病也，亦風病也，故雖有剛柔之異，而其項背強，儿儿惡風，則一也，儿儿、項強連
背，不能展顧之貌，桂枝加葛根湯，如太陽桂枝湯例，葛根湯，如太陽麻黃湯例，而並加葛
根者，以項背儿儿，筋骨肌肉，並痺而不用，故加葛根以疏肌肉之邪，且並須桂、芍、薑、
棗，以通營衛之氣。</p>
<p>桂枝加葛根湯方，
葛根〔四兩〕、桂枝〔二兩去皮〕、芍藥〔二兩〕、甘草〔二兩〕、生薑〔三兩切〕、大棗
〔十二枚〕，
右六味，以水一斗，先煮葛根二升，去上沫，內諸藥，煮取三升，去滓，溫服一升，覆取微
似汗，不須啜粥，餘如杜枝湯法。原方有麻黃三兩，成氏云，麻黃主表實，後葛根湯證云，
太陽病，項背強，儿儿，無汗惡風，葛根湯主之，藥性正與此方同，其無汗者，當用麻黃，
今自汗出，恐不加麻黃，但加葛根也。葛根湯，方見正治法下。</p>
<h4>濕病五條</h4>
<p>太陽病，關節疼痛而煩，脈沉而細者，此名濕痺，其候小便不利，大便反快，但當利其小便。
 濕為六淫之一，故其感人，亦如風寒之先在太陽，但風寒傷於肌腠，而濕則流入關節，風脈
浮，寒脈緊，而濕脈則沉而細，濕性濡滯而氣重著，故名濕痺，痺者，閉也，然中風者，必
先有內風，而後召外風，中濕者，亦必先有內濕，而後感外濕，由其人平日土德不及，而濕
動於中，由是氣化不速，而濕侵於外，外內合邪，為關節疼痛，為小便不利，大便反快，治
之者，必先逐內濕，而後可以除外濕，故當利其小便，東垣亦云，治濕不利小便，非其治也。</p>
<p>濕家之為病，一身盡疼，發熱，身色如熏黃。
 濕外盛者，其陽必內鬱，濕外盛為身疼，陽內鬱則發熱，熱與濕合，交蒸互鬱，則身色如熏
黃，熏黃者，如煙之熏，色黃而晦，濕氣沉滯故也，若熱黃則黃而明，所謂身黃如橘子色也。</p>
<p>濕家，其人但頭汗出，背強，欲得被覆向火，若下之早則噦，或胸滿，小便不利，舌上如胎
者，以丹田有熱，胸上有寒，渴欲得水，而不能飲，則口燥煩也。
 寒濕居表，陽氣不得外通，而但上越，為頭汗出，為背強，欲得被覆向火，是宜用溫藥以通
陽，不可與攻法以逐濕，乃反下之，則陽更被抑而噦乃作矣，或上焦之陽不布，而胸中滿，
或下焦之陽不化，而小便不利，隨其所傷之處而為病也，舌上如胎者，本非胃熱，而舌上津
液，燥聚如胎之狀，實非胎也，蓋下後陽氣反陷於下，而寒濕仍聚於上，於是丹田有熱，而
渴欲得水，胸上有寒，而復不能飲，則口舌燥煩，而津液乃聚耳。</p>
<p>濕家下之，額上汗出，微喘，小便利者，死，若下利不止者，亦死。
 濕病在表者，宜汗，在裏者，宜利小便，苟非濕熱蘊積成實，未可遽用下法，額汗出，微喘，
陽已離而上行，小便利，下利不止，陰復決而下走，陰陽離決，故死，一作小便不利者死，
謂陽上浮而陰不下濟也，亦通。</p>
<p>濕家病，身疼痛，發熱，面黃而喘，頭痛，鼻塞而煩，其脈大，自能飲食，腹中和無病，病
在頭中寒濕，故鼻塞，內藥鼻塞，內藥鼻中則愈。
 寒濕在上，則清陽不布，身疼頭痛鼻塞者，濕上盛也，發熱面黃煩喘者，陽被鬱也，而脈大，
則非沉細之比，腹和無病，則非小便不利，大便反快之比，是其病不在腹中而在頭，療之者，
宜但治其頭而無犯其腹，內藥鼻中，如瓜蒂散之屬，使黃水出，則寒濕去而愈，不必服藥，
以傷其中也。</p>
<h4>風濕四條</h4>
<p>病者，一身盡疼，發熱，日晡所劇者，此名風濕，此病傷於汗出當風，或久傷取冷所致也。
 一身盡疼，發熱者，濕也，日晡所劇者，風也蓋濕無來去，而風有休作，故疼痛發熱，每至
日晡則劇也，成氏曰，若汗出當風而得之者，則先客濕而後感風，若久傷取冷所致者，則先
感風而後客濕，風與濕合，故曰此名風濕。</p>
<p>問曰，風濕相搏，一身盡疼痛，法當汗出而解，值天陰雨不止，醫云此可發汗，汗之病不愈
者，何也，答曰，發其汗，汗大出者，但風氣去，濕氣在，是故不愈也，若治風濕者，發其
汗，但微微似欲汗出者，風濕俱去也。
 風濕雖並為六淫之一，然風無形而濕有形，風氣迅而濕氣滯，值此雨淫濕勝之時，自有風易
而濕難驅之勢，而又發之速而驅之過，宜其風去而濕不與俱去也，故欲濕之去者，但使陽氣
內蒸而不驟泄，肌肉關節之間，充滿流行，而濕邪自無地可容矣，此發其汗，但微微似欲汗
出之旨歟。以上七條，亦從王叔和痙濕暍篇中錄出，非太陽原文也。</p>
<p>傷寒八九日，風濕相摶，身體疼煩，不能自轉側，不嘔不渴，脈浮虛而濇者，桂枝附子湯主
之，若其人大便鞕，小便自利者，去桂枝加白朮湯主之。
 傷寒至八九日之久，而身痛不除，至不能轉側，知不獨寒淫為患，乃風與濕相合而成疾也，
不嘔不渴，裏無熱也，脈浮虛而濇，風濕外持，而衛陽不振也，故於桂枝湯去芍藥之酸寒，
加附子之辛溫，以振陽氣而敵陰邪，若大便堅，小便自利，知其人在表之陽雖弱，而在裏之
氣自治，則皮中之濕，所當驅之於裏，使從水道而出，不必更出之表，以危久弱之陽矣，故
於前方，去桂枝之辛散，加白朮之苦燥，合附子之大力健行者，於以並走皮中，而逐水氣，
此避虛就實之法也。</p>
<p>桂枝附子湯方，
桂枝〔四兩去皮〕、生薑〔二兩切〕、大棗〔十二枚擘〕、甘草〔二兩炙〕、附子〔三枚炮
去皮破八片〕，
右五味，以水六升，煮取二升，去滓，分溫三服。</p>
<p>風濕相搏，骨節煩疼掣痛，不得屈伸，近之則痛劇，汗出短氣，小便不利，惡風不欲去衣，
或身微腫者，甘草附子湯主之。
 此亦濕勝陽微之證，其治亦不出助陽驅濕，如上條之法也，蓋風濕在表，本當從汗而解，而
汗出表虛者，不宜重發其汗，惡風不欲去衣，衛虛陽弱之徵，故以桂枝，附子助陽氣，白朮、
甘草崇土氣，云得微汗則解者，非正發汗也，陽勝而陰自解耳。</p>
<p>甘草附子湯方，
甘草〔二兩炙〕、附子〔二枚炮去皮破〕、白朮〔二兩〕、桂枝〔四兩去皮〕，
右四味，以水六升，煮取三升，去滓，溫服一升，日三服，初服得微汗而解，能食汗出，復
煩者，服五合，多者宜服六七合，為妙。</p>
<h4>暍病三條</h4>
<p>太陽中暍者，發熱惡寒，身重而疼痛，其脈弦細而遲，小便已，洒洒然毛聳，手足逆冷，小
有勞，身即熱，口開，前板齒燥，若發其汗，則惡寒甚，加溫鍼，則發熱甚，數下之，則淋
甚。
 中暍、即中暑，暑亦六淫，太陽受之，則為寒熱也，然暑、陽邪也，乃其證反身重疼痛，脈
反弦細而遲者，雖名中暍，而實兼濕邪也，小便已，洒洒毛聳者，太陽主表，內合膀胱，便
已而氣餒也，手足逆冷者，陽內聚而不外達，故小有勞，即氣出而身熱也，口開前板齒燥者，
熱盛於內，而氣淫於外也，蓋暑雖陽邪，而氣恆與濕相合，陽求陰之義也，暑因濕入，而暑
反居濕之中，陰包陽之象也，治之者，一如分解風濕之法，辛以散濕，寒以清暑可矣，若發
汗則徒傷其表，溫鍼則更益其熱，下之則熱且內陷，變證隨出，皆非正治暑濕之法也。</p>
<p>太陽中熱者，暍是也，汗出惡寒身熱而渴也。
 中熱、亦即中暑，暍、即暑之氣也，惡寒者，熱氣入則皮膚緩，腠理開，開則洒洒然寒，與
傷寒惡寒者不同，汗出發熱而渴，知其表熱熾，胃陰待涸，求救於水，乃中暑而無濕者之證
也。</p>
<p>太陽中暍，身熱疼重，而脈微弱，此以夏月傷冷水，水行皮中所致也。
 暑之中人也，陰虛而多火者，暑即寓於火之中，為汗出而煩渴，陽虛而多濕者，暑即伏於濕
之內，為身熱而疼重，故暑病恆以濕為病，而治濕即所以治暑，故金匱以一物瓜蒂，去身面
四肢之水，水去而暑無所依，將不治而自解，此中暑兼濕之證也。</p>
<h4>霍亂十一條</h4>
<p>問曰，病有霍亂者何，答曰，嘔吐而利，名曰霍亂。
 此設為問答，以明霍亂之病，謂邪在上者，多吐，邪在下者，多利，邪在中焦，上逆為嘔吐，
復下注而利者，則為霍亂，霍亂、揮霍撩亂，成於頃刻，變動不安，而其發熱惡寒，亦與陽
明相類也。</p>
<p>問曰，病發熱頭痛，身疼惡寒，吐利者，此屬何病，答曰，此名霍亂，自吐下，又利止，復
更發熱也。
 此即上條之意而詳言之，蓋霍亂之病，本自外來，以其人中氣不足，邪得乘虛入裏，傷於脾
胃而作吐利，所以有發熱頭痛，身疼惡寒之證，或邪氣直侵脾胃，先自吐下，迨利止裏和，
則邪氣復還之表，而為發熱，今人吐利之後，往往發熱煩渴者，是也。</p>
<p>傷寒脈微而濇者，本是霍亂，今是傷寒，卻四五日，至陰經上轉入陰必利，本嘔下利者，不
可治也，欲似大便而反失氣仍不利者，屬陽明也，便必鞕，十三日愈，所以然者，經盡故也。
 脈微為少氣，濇為無血，傷寒脈不應微濇，而反微濇者，以其為霍亂吐下之後也，本是霍亂，
今是傷寒者，吐不止而復更發熱，如上條所云也，熱則邪還於表，常從陽而解矣，乃四五日，
至陰經上轉入陰必利者，邪氣不從陽而解，而復入陰為利也，夫霍亂之時，既嘔且利，裏氣
已傷，今邪轉入裏而復作利，則裏氣再傷，故不可治，若欲大便而反失氣仍不利者，胃氣復
而成實，邪氣衰而欲退也，故可期之十三日愈，所以然者，十二日經氣再週，大邪自解，更
過一日，病必愈耳。</p>
<p>下利後，當便鞕，鞕則能食者，愈，今反不能食，到後經中頗能食，復過一經能食，過之
一日當愈，不愈者，不屬陽明也。
 下利後便鞕者，病從太陰而轉屬陽明也，陽明病，能食者為胃和，不能食者為胃未和，是
以下利後，便鞕而能食者，愈，或始先不能食，繼復轉而能食者，過於前一日亦愈，其不
愈者，則病不屬陽明，雖能食，不得為胃和，故病不愈也。寒脈微而利，利止亡血也，四逆
加人參湯主之。惡寒脈緊者，寒邪在外也，惡寒脈微者，陽虛而陰勝也，則其利為陰寒而非
陽熱，其止亦非邪盡而為亡血矣，故當與四逆以溫裏，加人參以補虛益血也，按此條本非霍
亂證，仲景以為霍亂之後，多有裏虛不足而當溫養者，故特隸於此歟。</p>
<p>四逆加人參湯方。
於四逆湯方內，加人參一兩，餘依四逆湯法服。</p>
<p>霍亂，頭痛發熱，身疼痛，熱多欲飲水者，五苓散主之，寒多不用水者，理中丸主之。
 霍亂該吐下而言，頭痛發熱，身疼痛，則霍亂之表證也，而有熱多寒多之分，以中焦為陰陽
之交，故或從陽而多熱，或從陰而多寒也，熱多則渴欲飲水，故與五苓散，去水而泄熱，寒
多則不能勝水而不欲飲，故與理中丸，燠土以勝水。</p>
<p>理中丸方，
人參〔三兩〕、甘草〔三兩〕、白朮〔三兩〕、乾薑〔三兩〕，
右四味，搗篩為末，蜜和丸，如雞黃大，以沸湯數合，和一丸，碎研溫服之，日三，夜二服，
腹中未熱，益至三四丸，然不及湯，湯法以四物，依兩數切，用水八升，煮取三升，去滓，
溫服一升，日三服。
加減法，
若臍上築者，腎氣動也，去朮加桂四兩。
 臍上築者，臍上築築然跳動，腎氣上而之脾也，脾方受氣，朮之甘能壅脾氣，故去之，桂之
辛能下腎氣，故加之。</p>
<p>吐多者，去朮，加生薑三兩。
 吐多者，氣方上壅，甘能壅氣，故去朮，辛能散氣，故加生薑。
下多者，還用朮，悸者，加茯苓二兩。
 下多者，脾氣不守，故須朮以固之，悸者，腎水上逆，故加茯苓以導之。
渴欲得水者，加朮，足前成四兩半。
 渴欲得水者，津液不足，白朮之甘，足以生之。
腹中痛者，加人參，足前成四兩半。
 腹中痛者，裏虛不足，人參之甘，足以補之。
寒者，加乾薑，足前成四兩半。
 寒者，腹中氣寒也，乾薑之辛，足以溫之。
腹滿者，去朮，加附子一枚，服湯後，如食頃，飲熱粥一升許，微自溫，勿發揭衣被。
 腹滿者，氣滯不行也，氣得甘則壅，得辛則行，故去朮加附子。
吐利止，而身痛不休者，當消息，和解其外，宜桂枝湯小和之。
 吐利止，裏已和也，身痛不休者，表未解也，故須桂枝和解其外，所謂表病裏和，汗之則愈
也，曰消息，曰小和之者，以吐利之餘，裏氣已傷，故必消息其可汗而後汗之，亦不可大汗，
而可小和之也。
吐利汗出，發熱惡寒，四肢拘急，手足厥逆者，四逆湯主之。
 此陽虛霍亂之候，發熱惡寒者，身雖熱而惡寒，身熱為陽格之假象，惡寒為虛冷之真諦也，
四肢拘急，手足厥逆者，陽氣衰少，不柔於筋，不溫於四末也，故宜四逆湯，助陽氣而驅陰
氣。
既吐且利，小便復利，而大汗出，下利清穀，內寒外熱，脈微欲絕者，四逆湯主之。
 此亦虛冷霍亂之候，四肢拘急，手足厥冷，虛冷久著於外者也，下利清穀，脈微欲絕，虛冷
之著於裏者也，而其為霍亂則一，故吐利汗出，內寒外熱，與上條同，而其用四逆驅內勝之
陰，復外散之陽，亦無不同也。
吐下已斷，汗出而厥，四肢拘急，脈微欲絕者，通脈四逆加豬膽汁湯主之。
 吐下已止，陽氣當復，陰邪當解，乃汗出而厥，四肢拘急，而又脈微欲絕，則陰無退散之期，
陽有散亡之象，於法為較危矣，故於四逆加乾薑一倍，以救欲絕之陽，而又慮溫熱之過，反
為陰氣所拒而不入，故加豬膽汁之苦寒，以為向導之用，內經盛者之之意也。
四逆加豬膽汁湯方，
於四逆湯方內，加入豬膽汁半合，餘依前法服，如無豬膽，以羊膽代之。</p>
<p>吐利發汗，脈平，小煩者，以新虛不勝穀氣故也。
 吐利之後，發汗已而脈平者，為邪已解也，邪解則不當煩而小煩者，此非邪氣所致，以吐下
後，胃氣新虛，不能消穀，穀盛氣衰，故合小煩，是當和養胃氣，而不可更攻邪氣者也。</p>
<h4>飲證一條</h4>
<p>病如桂枝證，頭不痛，項不強，寸脈微浮，胸中痞鞕，氣上衝咽喉不得息者，此為胸有寒也，
當吐之，宜瓜蒂散。
 此痰飲類傷寒證，寒為寒飲，非寒邪也，活人云，痰飲之為病，能令人憎寒發熱，狀類傷寒，
但頭不痛，項不強為異，正此之謂，脈浮者，病在膈間，而非客邪，故不盛而微也，胸有寒
飲，足以阻清陽而礙肺氣，故胸中痞鞕，氣上衝咽喉，不得息也，經曰，其高者因而越之，
千金云，氣浮上部，頓塞心胸，胸中滿者，吐之則愈，瓜蒂散，能吐胸中與邪相結之飲也。</p>
<p>瓜蒂散方。
瓜蒂熬黃，赤小豆各一分，即糧食中蟹眼緊細之赤豆是也。
右二味，各別搗篩為散，合治之，取一錢匕，以香豉一合，用熱湯七合，煮作稀糜，去滓，
取汁，和散，溫頓服之，不吐者，少少加，得快吐乃止，諸亡血虛家，不可與之。</p>
<h2>卷三、陽明篇上</h2>
<h3>辨列陽明條例大意</h3>
<p>太陽病從外入，是以經病多於府病，若陽明則府病多於經病，以經邪不能久留，而府邪常
聚而不行也，故仲師以胃家實為陽明正病，本篇先列府病於前，次列經病於後，遵先聖之法
也，而經病有傳經自受之不同，府病有宜下宜清宜溫之各異，詳見各條，要皆不出為正治之
法也，此為上篇，凡五十條，其次則為明辨法，蓋陽明以胃實為病之正，以攻下為法之的，
而其間有經府相連，虛實交錯，或可下，或不可下，或可下而尚未可下，及不可大下之時，
故有脈實，潮熱，轉失氣，小便少等辨，及外導潤下等法，又其次為雜治法，謂病變發黃，
蓄血諸候，非復陽明胃實，及經邪留滯之時，所可比例，或散或下，所當各隨其證，而異其
治者也，此為下篇，凡三十三條。</p>
<h3>陽明正治法第一</h3>
<p>陽明府病證十二條。</p>
<p>陽明之為病，胃家實也。</p>
<span class="註"><p>胃者，彙也，水穀之海，為陽明之府也，胃家實者，邪熱入胃，與糟粕相結而成，實非胃氣自盛也，凡傷寒腹滿便閉，潮熱，轉失氣，手足濈濈汗出等證，皆是陽明胃實之證也。</p></span>
<p>問曰，病有太陽陽明，有正陽陽明，有少陽陽明，何謂也，答曰，太陽陽明者，脾約是也，正陽陽明者，胃家實是也，少陽陽明者，發汗，利小便已，胃中燥，煩實，大便難是也。</p>
<span class="註"><p>太陽陽明者，病在太陽，而兼陽明內實，以其人胃陽素盛，脾陰不布，屎小而鞕，病成脾約，於是太陽方受邪氣，而陽明已成內實也，正陽陽明者，邪熱入胃，糟粕內結，為陽明自病，活人所謂病人本穀盛，氣實是也，少陽陽明者，病從少陽，而轉屬陽明得之，發汗，利小便，津液去，而胃燥實，如本論所謂傷寒十餘日，熱結在裏，復往來寒熱者，與大柴胡湯是也，此因陽明之病，有是三者之異，故設為問答以明之，而其為胃家實則一也。</p></span>
<p>問曰，陽明病，外證云何，答曰，身熱，汗自出，不惡寒，反惡熱也。問曰，病有得之一日，不發熱而惡寒者，何也，答曰，雖得之一日，惡寒將自罷，即自汗出而惡熱也。問曰，惡寒何故自罷，答曰，陽明居中土也，萬物所歸，無所復傳，始雖惡寒，二日自止，此為陽明病也。</p>
<span class="註"><p>經邪未變，故惡寒，入府則變熱而不寒，經邪不能聚，故傳入府，則聚而不傳，曰萬物所歸者，謂邪氣離經入府，聚而不行，如萬物之歸於土也，是以惡寒為傷寒在表之的證，惡熱為陽明入府之的證，始雖惡寒，不久即止，豈若太陽始終有寒者哉，此三條，並論陽明受病之證也。</p></span>
<p>問曰，何緣得陽明病，答曰，太陽病發汗，若下，若利小便，此亡津液，胃中乾燥，因轉屬陽明，不更衣，內實，大便難者，此名陽明也。</p>
<span class="註"><p>胃者，津液之府也，汗下利小便，津液外亡，胃中乾燥，此時寒邪己變為熱，熱、猶火也，火必就燥，所以邪氣轉屬陽明也，而太陽轉屬陽明，其端有二，太陽初得病時，發其汗，汗先出不徹，因轉屬陽明者，為邪氣未盡，而傳其病在經，此太陽病，若汗，若下，若利小便，亡津液，胃中乾燥，因轉屬陽明者，為邪氣變熱，而傳其病在府也，此陽明受病之因也。</p></span>
<p>傷寒四五日，脈沉而喘滿，沉為在裏，而反發其汗，津液越出，大便為難，表虛裏實，久則譫語。</p>
<span class="註"><p>脈沉，病在裏也，喘滿，因滿而為喘，病之實也，傷寒四五日，病在裏而成實，法當攻裏而反發其汗，津液外亡，腸胃內燥，大便為難，所必然矣，表虛裏實，亦即表和裏病之意，久則譫語者，熱氣乘虛，必歸陽明而成胃實也。</p></span>
<p>脈陽微而汗出少者，為自和也，汗出多者，為太過，陽脈實，因發其汗出多者，亦為太過，太過為陽絕於裏，亡津液，大便因鞕也。</p>
<span class="註"><p>脈陽微者，諸陽脈微，即正之虛也，故汗出少者，邪適去而正不傷，為自和，汗出多者，邪雖卻而正亦衰，為太過也，陽脈實者，邪之實也，然發其汗出多者，亦為太過，為其津亡於外，而陽絕於裏也，夫陽為津液之源，津液為陽之根，汗出過多，津液竭矣，陽氣雖存，根本則離，故曰陽絕，陽絕津亡，大便焉得不鞕耶。</p></span>
<p>脈浮而芤，浮為陽，芤為陰，浮芤相摶，胃氣生熱，其陽則絕。</p>
<span class="註"><p>脈浮為盛於外，脈芤為歉於內，浮為陽，謂陽獨盛也，芤為陰，謂陰不足也，浮芤相摶，陽有餘而陰不足也，也胃液枯竭，內虛生熱，雖有陽氣，無與為偶，亦如上條之意也，故曰其陽則絕，以上二條，乃因陽明受病之因而申言之，其下三條，則申言陽明受病之證也。</p></span>
<p>傷寒發熱無汗，嘔不能食，而反汗出濈濈然者，是轉屬陽明也。</p>
<p>傷寒轉繫陽明者，其人濈濈然微汗出也。</p>
<span class="註"><p>發熱無汗，為太陽病在表，嘔不能食者，邪欲入裏而正氣拒之也，至汗出濈濈，則太陽之邪，陽明已受之矣，故曰轉繫陽明，太陽寒在皮毛，腠理閉塞，故無汗，陽明熱在肌肉，腠開液泄，故濈濈然汗自出也。</p></span>
<p>病人不大便五六日，繞臍痛煩躁，發作有時者，此有燥屎，故使不大便也。</p>
<span class="註"><p>熱結陽明，為不大便，五六日，為繞臍痛，煩躁，發作有時，皆燥屎在胃之徵，有時，謂陽明王時，為日晡也，陽明燥結，不得大便，意非大承氣不為功矣。</p></span>
<h4>調胃承氣湯證四條</h4>
<p>太陽病三日，發汗不解，蒸蒸發熱者，屬胃也，調胃承氣湯主之。</p>
<span class="註"><p>發汗不解，邪不外散，而欲內傳，為太陽而之陽明之候也，蒸蒸發熱者熱聚於內，而氣蒸於外，與太陽邪鬱於外，而熱盛於表者，不同，故彼宜外解此宜清裏也，然無燥實等證，則所以治之者，宜緩而不宜急矣，調胃者，調其胃氣，返於中和，不使熱盛實氣，而劫奪津氣也。調胃承氣湯方見太陽權變法。</p></span>
<p>傷寒十三日不解，過經譫語者，以有熱也，當以湯下之，若小便利者，大便當鞕，而反下利，脈調和者，知醫以丸下之，非其治也，若自下利者，脈當微厥，今反和者，此為內實也，調胃承氣湯主之。</p>
<span class="註"><p>此亦邪氣去太陽而之陽明之證，過經者，邪氣去此而之彼之謂，非必十三日不解，而後謂之過經也，觀少陽篇第二十條云，太陽病，過經十餘日，又本篇第六十一條云，此為風也，須下之，過經乃可下之，則是太陽病罷而入陽明，或傳少陽者，即謂之過經，其未罷者，即謂之併病耳，譫語，胃有熱也，則熱當以湯下之，若小便利者，津液偏滲，其大便必鞕而反下利，脈調和者，醫知宜下，而不達宜湯之旨，故以丸藥下之，非其治也，脈微厥，脈乍不至也，言自下利者，裏氣不守，脈當微厥，今反和者，以其內實，雖下利而胃有燥屎，本屬可下之候也，故當以調胃承氣湯下其內熱。此條太陽篇移入。</p></span>
<p>陽明病，不吐不下，心煩者，可與調胃承氣湯。</p>
<span class="註"><p>病在陽明，既不上湧，又不下泄，而心煩者，邪氣在中土，鬱而成熱也，經曰，上鬱則奪之，調胃承氣，蓋以通土氣非以下燥屎也。</p></span>
<p>傷寒吐後，腹脹滿者，與調胃承氣湯。</p>
<span class="註"><p>吐後腹脹滿者，邪氣不從吐而外散，反因吐而內陷也，然脹形已具，自必攻之使去，而吐後氣傷，又不可以大下，故亦宜大黃、甘草、芒硝調之，俾反於利而已，設遇庸工，見其脹滿，必以枳、朴為急矣。</p></span>
<h4>小承氣湯證二條</h4>
<p>太陽病，若吐若下若發汗，微煩，小便數，大便因鞕者，與小承氣湯和之愈。</p>
<span class="註"><p>若、與或同，病在太陽，或吐或下或汗，邪仍不解而兼微煩，邪氣不之表而之裏也，小便數大便因鞕者，熱氣不之太陽之本而之陽明之府，可與小承氣，和胃除熱為主，不取大下者以津液先亡，不欲更傷其陰耳。</p></span>
<p>:小承氣湯方
:大黃〔四兩〕、厚朴〔二兩去皮炙〕、枳實〔三枚炙〕
:右三味，以水四升，煮取一升二合，去滓，分溫二服，初服湯，當更衣，不爾者，盡飲之，若更衣者，勿服之。</p>
<p>陽明病，其人多汗，以津液外出，胃中燥，大便必鞕，鞕則譫語，小承氣湯主之，若一服譫語止，更莫復服。</p>
<span class="註"><p> 汗生於津液，津液資於穀氣，故陽明多汗，則津液外出也，津液出於陽明，而陽明亦藉養於津液，故陽明多汗，則胃中無液而燥也，胃燥則大便鞕，大便鞕則譫語，是宜小承氣湯，以和胃而去實，若一服譫語止，更莫復服者，以津液先亡，不欲多下，以竭其陰，亦如上條之意也。</p></span>
<h4>大承氣湯證九條</h4>
<p>陽明病，譫語有潮熱，反不能食者，胃中必有燥屎五六枚也，若能食者，但鞕耳宜大承氣湯下之。</p>
<span class="註"><p>傷寒胃熱而虛者，能食，胃寒而實者，則不能食，而陽明病有燥屎者，可攻，無燥屎者，則不可攻，譫語潮熱，胃之熱也，是當能食，而反不能食者，中有燥屎，氣窒而不行，法當大承氣下之者也，若能食者，屎未成躁而但鞕耳，設欲攻之則必以小承氣和之，如上二條所云而已，本文宜大承氣湯下之七字，當在胃中有燥屎句下。</p></span>
<p>:大承氣湯方
:大黃〔四兩酒洗〕、厚朴〔半觔炙去皮〕、枳實〔五枚炙〕、芒硝〔二合〕
:右四味，以水一斗，先煮二物，取五升，去滓，內大黃，煮取二升，去滓，內芒硝，更上微火一兩沸，分溫再服，得下，餘勿服。</p>
<p>病人小便不利，大便乍難乍易，時有微熱，喘冒不能臥者，有燥屎也，宜大承氣湯，小便不利者，其大便心溏，而有燥屎者，水液雖還入胃，猶不足以潤之，故大便乍有難時，而亦乍有易時也，若時有微熱，喘冒不得臥，則熱氣外攻內擾，而復上逆，知其聚於中者，盛也，故曰有燥屎也，大便雖有易時，亦必以大承氣為主矣。</p>
<p>大下後，六七日不大便，煩不解，腹滿痛者，此有燥屎也，所以然者，本有宿食故也，宜大承氣湯。</p>
<span class="註"><p>大下之後，胃氣復實，煩滿復增者，以其人本有宿食未去，邪氣復得而據之也，不然，下後胃虛，豈得更與大下哉，蓋陽明病，實則邪易聚而不傳，虛則邪不得聚而傳，是以雖發潮熱而大便溏者，邪氣轉屬少陽，為胸脅滿不去，雖經大下而有宿食者，邪氣復集胃中，為不大便煩滿，腹痛有燥屎，而彼與小柴胡，此宜大承氣，一和一下，天然不易之法也，小柴胡證見本篇四十一條，宜互參。</p></span>
<p>傷寒若吐若下後，不解，不大便五六日，上至十餘日，日晡所發潮熱，不惡寒，獨語如見鬼狀，若劇者，發則不識人，循衣摸床，惕而不安，微喘直視，脈弦者生，濇者死，微者但發熱譫語者，大承氣湯主之，若一服利，止後服。</p>
<span class="註"><p>吐下之後，邪氣不從外解而仍內結，熱入胃府，聚而成實，致不大便五六日，或十餘日也，陽明內實，則日晡所發潮熱，蓋申酉為陽明王時，而日晡為申酉時心，表和裏病，則不惡寒，傷寒以惡熱為裏，而惡寒為表也，熱氣熏心，則獨語如見鬼狀，蓋腎藏於心，而陽明之絡通於心也，若熱甚而劇者，發則不識人，循衣摸床，惕而不安，微喘直視，是不特邪盛而正亦衰矣，若脈弦，則陰未絕而猶可治，脈濇，則陰已絕而不可治，所謂傷寒陽勝而陰絕者，死也，其熱微而未至於劇者，則但發熱，譫語，不大便而已，是可以大承氣下之而愈也，一服利，止後服者，以熱未至劇，故不可過下，以傷其正耳。</p></span>
<p>二陽併病，太陽證罷，但發潮熱，手足漐漐汗出，大便難而譫語者，下之則愈，宜大承氣湯。</p>
<span class="註"><p>此太陽併於陽明之證，然併病有併而未罷之證，雖入陽明，未離太陽，則可汗而不可下，如本篇第三十九條之證是也，此條為併而已罷之證，雖曰併病，實為陽明，故可下而不可汗，潮熱，手足漐漐汗出，大便難，譫語，皆胃實之徵，故曰下之則愈，宜大承氣湯。</p></span>
<p>陽明少陽合病，必下利，其脈不負者，順也，負者，失也，互相剋賊，名為負也，脈滑而數者，有宿食也，當下之，宜大承氣湯。</p>
<span class="註"><p>陽明少陽合病，視太陽陽明合病為尤深矣，故必下利，而陽明土，少陽木，於法又有互相剋賊之機，故須審其脈不負者，為順其有負者，為失也，負者，少陽王而陽明衰，謂木勝乘土也，若脈滑而數，則陽明王而少陽負，以有宿食在胃，故邪氣得歸陽明，而成可下之證，不然，胃虛風動，其下利寧有止期耶。</p></span>
<p>傷寒六七日，目中不了了，睛不和，無表裏證，大便難，身微熱者，此為實也，急下之，宜大承氣湯。</p>
<span class="註"><p>目中不了了者，目光不精而視物不明也，睛不和者，目宜視而不圓轉也，六七日，熱盛而陰傷，故其證如此，無表裏證，無頭痛惡寒，而又無腹滿譫語等證也，然而大便難，身微熱，則實證已具，合之目中不了了，睛不和，其為熱極陰傷無疑，故雖無大滿大實，亦必以大承氣湯急下，見稍遲，則陰竭不復而死耳。</p></span>
<p>陽明病，發熱汗多者，急下之，宜大承氣湯。</p>
<span class="註"><p>發熱汗多者，熱盛於內，而津迫於外也，不下則熱不除，不除則汗不止，而陰乃亡矣，故宜急下，然必有實滿之證，而後可下，不然，則是陽明白虎湯證，宜清而不宜下矣，學者辨諸。</p></span>
<p>發汗不解，腹滿痛者，急下之，宜大承氣湯。</p>
<span class="註"><p>發汗不解，腹滿痛者，病去表之裏而盛於裏矣，夫正氣與邪氣相擊則痛，治之者，如救(鬬)然，遲則正被傷矣，故亦宜急下。以上下法共十五條，然其間，或曰和，或曰下，或曰急下，或一服利，止後服，各隨病之大小緩急而異其治，學者所當明辨也。</p></span>
<h4>合論三承氣湯方</h4>
<p>承者，順也，順而承者，地之道也，故天居地上，而常卑而下行，地處天下，而常順承乎天人之脾胃，猶地之上也，乃邪熱入之，與糟粕結，於是燥而不潤，剛而不柔，滯而不行，而失其地之道矣，豈復能承天之氣哉，大黃、芒硝、枳、朴之屬，滌蕩脾胃，使糟粕一行，則熱邪畢出，地道既平，天氣乃降，清寧復舊矣，曰大，曰小，曰調胃，則各因其制而異其名耳，蓋以硝黃之潤下，而益以枳、朴之推逐，則其力頗猛，故曰大，其無芒硝，而但有枳、朴者，則下趨之勢緩，故曰小，其去枳、朴之苦辛，而加甘草之甘緩，則其力尤緩，但取和調胃氣，使歸於平而已，故曰調胃。</p>
<h4>白虎加人參湯證三條</h4>
<p>傷寒病，若吐若下後，六七日不解，熱結在裏，表裏俱熱，時時惡風，大渴，舌上乾燥而煩，欲飲水數升者，白虎加人參湯主之。</p>
<span class="註"><p>以下三條，王叔和本在太陽篇中，今移置此。傷寒若下若吐後，至七八日不解，而燥渴轉增者，邪氣去太陽之經，而入陽明之府也，陽明經為表，而府為裏，故曰熱結在裏，府中之熱，自內際外，為表裏俱熱，熱盛於內，陰反外居，為時時惡風，而胃者，津液之原也，熱盛而涸，則舌上乾燥，故既以白虎除熱，必加人參以生津，尚從善所謂邪熱結而為實者，則無大渴，邪氣散漫，熏蒸焦膈，故舌上乾燥而煩，大渴欲飲水數升是也，是以白虎承氣，並為陽明府病之方，而承氣苦寒，逐熱蕩實，為熱而且實者設，白虎甘寒，逐熱生津，為熱而不實者設，乃陽明邪熱入府之兩大法門也，故從太陽分出三條，並列於此云。</p></span>
<p>:白虎加人參湯，方見太陽斡旋法。</p>
<p>傷寒無大熱，口燥渴，心煩，背微惡寒者，白虎加人參湯主之。</p>
<span class="註"><p>無大熱，表無大熱也，口燥渴心煩，裏熱極盛也，背微惡寒，與時時惡風同意，蓋亦太陽經邪，傳入陽明胃府，熏蒸焦膈之證，故宜白虎加人參，以徹熱而生津也。</p></span>
<p>傷寒脈浮，發熱無汗，其表不解者，不可與白虎湯，渴欲飲水，無表證者，白虎加人參湯主之。</p>
<span class="註"><p>前二條，既著白虎之用，此條復示白虎之戒，謂邪氣雖入陽明之府，而脈證猶帶太陽之經者，則不可便與白虎湯，與之則適以留表邪，而傷胃氣也，而又申之曰，渴欲飲水，無表證者，白虎加人參湯主之，其丁寧反覆之意，可謂至矣。</p></span>
<h4>陽明經病脈因證治十一條</h4>
<p>傷寒三日，陽明脈大。</p>
<span class="註"><p>邪氣併於太陽則浮，併於陽明則大，云三日者，舉傳經次第之大凡也，又陽明之脈，人迎趺陽皆是，傷寒三日，邪入陽明，則是二脈當大，不得獨診於右手之附上也。</p></span>
<p>本太陽病，初得時，發其汗，汗先出不徹，因轉屬陽明也。</p>
<span class="註"><p>徹、達也，汗雖欲出，而不達於皮膚，則邪不外出而反內入，此太陽之邪，傳陽明之經，與汗下後入府者，不同也。</p></span>
<p>陽明病，脈浮而緊者，必潮熱，發作有時，但浮者，必盜汗出。</p>
<span class="註"><p>太陽脈緊，為寒在表，陽明脈緊，為實在裏，裏實則潮熱，發作有時也，若脈但浮而不緊者，為裏未實而經有熱，經熱則盜汗出，蓋雜病盜汗，為熱在臟，外感盜汗，為邪在經，易簡方用防風治盜汗不止，此之謂也。</p></span>
<p>陽明病，反無汗而小便利，二三日，嘔而欬，手足厥者，必苦頭痛，若不欬不嘔，手足不厥者，頭不痛。</p>
<span class="註"><p>無汗而小便利，邪不外散，而氣但下趨也，二三日，嘔而欬者，邪復從上行也，手足厥者，氣仍不外達也。故必苦頭痛，所以然者，下趨而極，勢必上行，外達無由，上攻必猛也，若不欬不嘔，則氣且下行，手足不厥，則氣得四達，何至上逆而頭痛哉，讀此，可以知陽明邪氣上下進退之機。</p></span>
<p>陽明病，口燥，但欲漱水不欲嚥者，此必衄。</p>
<span class="註"><p>陽明口燥，欲飲水者，熱在氣而屬府，口燥但欲漱水不欲嚥者，熱在血而屬經，經中熱甚，血被熱迫，必妄行為衄也。</p></span>
<p>脈浮發熱，口乾鼻燥，能食者，則衄。</p>
<span class="註"><p>脈浮發熱，口乾鼻燥亦熱邪壅盛於經之證，能食者，風多熱迫，安得不勝，陰血被衄耶。</p></span>
<p>陽明病，脈遲，汗出多，微惡寒者，表未解也，可發汗，宜桂枝湯。陽明病，脈浮無汗而喘者，發汗則愈，宜麻黃湯。</p>
<span class="註"><p>此二條乃風寒初中陽明之證，其見證與太陽中風傷寒相類，而陽明比太陽稍深，故中風之脈，不浮而遲傷寒之脈，不緊而浮，以風寒之氣，入肌肉之分，則閉固之力少，而壅遏之力多也，而其治法，則必與太陽少異，見有汗而惡寒者，必桂枝可解，無汗而喘者，非麻黃不發矣。</p></span>
<p>二陽併病，太陽初得病時，發其汗汗先出不徹，因轉屬陽明，續自微汗出，不惡寒，若太陽病證不罷者，不可下，下之為逆，如此可小發汗，設面色緣緣正赤者，陽氣怫鬱在表，當解之熏之，若發汗不徹，不足言，陽氣怫鬱不得越，當汗不汗，其人躁煩，不知痛處，乍在腹中，乍在四肢，按之不可得，其人短氣，但坐以汗山不徹故也，更發汗則愈，何以知汗出不徹以脈濇，故知也，此篇從太陽篇移入。</p>
<span class="註"><p>二陽併病者，太陽病未罷，而併於陽明也，太陽得病時，發汗不徹，則邪氣不得外出，而反內走陽明，此併之由也，續自微汗出，不惡寒，此陽明證續見，乃併之證也，若太陽證不罷者，不可下，下之為逆，所謂本當發汗而反下之，此為逆是也，如是者，可小發汗，以病兼陽明，故不可大汗而可小發，此併病之治也，若發其小汗已，面色緣緣正赤者，陽氣怫鬱在表而不得越散，當解之熏之，以助其散，又併病之治也，發汗不徹下，凝脫一徹字，謂發汗不徹，雖徹而不足云徹，猶腹滿不減，減不足言之文，汗出不徹，則陽氣怫鬱不得越，陽不得越則當汗而不得汗，於是邪無從出，攻走無常，其人躁煩，不知痛處，乍在腹中，乍在四肢，按之而不可得也，短氣者，表不得泄，肺氣不宣也，坐、猶緣也，言躁煩短氣等證，但緣汗出不徹所致，故當更發其汗，則邪氣外達而愈，非特熏解，所能已其疾矣，以面色緣緣正赤者，邪氣怫鬱軀殼之表，躁煩短氣者，邪氣怫鬱軀殼之裏也，按內經云，脈滑者多汗，又曰，脈濇者，陰氣少陽氣多也，夫汗出於陽而生於陰，因診其脈濇，而知其汗出不徹也，此又併病之治也。</p></span>
<p>陽明病，發潮熱，大便溏，小便自可，胸脅滿不去者，小柴胡湯主之。</p>
<span class="註"><p>潮熱者，胃實也，胃實則大便鞕，乃大便溏，小便自可，胸脅滿不去，知其邪不在於陽明之府，而入於少陽之經，由胃實而腸虛，是以邪不得聚而復傳也，是宜小柴胡以解少陽邪氣。</p></span>
<p>陽明病，脅下鞕滿，不大便而嘔，舌上白胎者，可與小柴胡湯，上焦得通，津液得下，胃氣因和，身濈然而汗出解也。</p>
<span class="註"><p>此亦陽明傳入少陽之證，脅下鞕滿而嘔，舌上胎白，皆少陽經病見證，雖不大便，不可攻之，亦宜小柴胡，和解少陽邪氣而已，夫脅下滿痛而嘔，則邪方上壅，而津液不得下行，與小柴胡和散其邪，則上焦得通，而脅不滿鞕矣，津液得下，而嘔不作矣，氣通津下，胃氣因和，便從裏出，汗從表出，而邪自渙然冰釋矣，是以胃中鞕滿，不大便，而無少陽證者可攻，其有少陽證者，雖不大便亦不可攻而可和也。</p></span>
<p>陽明病風寒不同證治八條。陽明病，若能，食名中風，不能食，名中寒。</p>
<span class="註"><p>陽明府病，有傳經自受之異，傳經自受之異，傳經者，風寒已變，其病多熱，自受者，風寒初入，其病多冷，而風之與寒，則又有辨，此條蓋陽明胃府，自中風寒之辨也，太陽主肌表，故有有汗無汗之分，陽明為胃府，故有能食不能食之辨，風為陽而寒為陰，陽能消穀而陰不能消穀之意也，夫風寒中人，無有常經，是以傷寒不必定自太陽，中寒不必定自三陰，論中凡言陽明中風，陽明病，若中寒，及少陽中風，太陰少陰厥陰中風等語，皆是本經自受風寒之證，非從太陽傳來者也，學者辨諸。</p></span>
<p>陽明病，若中寒，不能食，小便不利，手足濈然汗出，此欲作固瘕，必大便初鞕後溏，所以然者，以胃中冷，水穀不別故也。</p>
<span class="註"><p>手足濈然汗出，於法為胃家實，而寒邪適中，小便復不利，則是胃有堅積，水寒勝之，所以知其欲作固瘕，固瘕者，胃寒成聚，久泄不己也，以下四條，並陽明胃府，自中寒邪之證。</p></span>
<p>脈浮而遲，表熱裏寒，下利清穀者，四逆湯主之，若胃中虛冷，不能食，與水則噦。</p>
<span class="註"><p>脈遲為寒，而病係陽明，則脈不沉而浮也，寒中於裏，故下利清穀，而陽為陰迫，則其表反熱也，四逆湯，為復陽散寒之劑，故得主之，而陽明土地，土惡水而喜溫，若胃虛且冷，不能納穀者，土氣無權，必不能勝水而禁冷，設與之水，水與寒摶，必發為噦，噦呃逆也。</p></span>
<p>食穀欲嘔者，屬陽明也，吳茱萸湯主之，得湯反劇者，屬上焦也。</p>
<span class="註"><p>食穀欲嘔，有中焦與上焦之別，蓋中焦多虛寒，而上焦多火逆也，陽明中虛，客寒乘之，食穀則嘔，故宜吳茱萸湯，以益虛而溫胃，若得湯反劇，則仍是上焦火逆之病，宜清降而不宜溫養者矣，仲景於疑似之間，細心推測如此。</p></span>
<p>:吳茱萸湯方
:吳茱萸〔一觔洗〕、人參〔三兩〕、生薑〔六兩切〕、大棗〔十二枚擘〕
:右四味，以水七升，煮取二升，去滓，溫服七合，日三服。陽明中風，口苦咽乾，腹滿微喘，發熱惡寒，脈浮而緊，若下之，則腹滿小便難也。</p>
<span class="註"><p>口苦咽乾，陽邪內侵也，腹滿微喘，裏氣不行也，發熱惡寒，表邪方盛也，夫邪在裏者已實，而在表者猶盛，於法則不可下，下之則邪氣盡陷，脾乃不化，腹加滿而小便難矣，此陽明自中風邪，而表裏俱受之證，是以脈浮而緊，蓋太陽脈緊，為表有寒，陽明脈緊，為裏有實，前第三十條云，陽明病，脈浮而緊者，必潮熱，發作有時，意可參考。</p></span>
<p>陽明中風，脈弦浮大而短氣，腹都滿，脅下及心痛，久按之氣不通，鼻乾不得汗，嗜臥，一身及面目悉黃，小便難，有潮熱，時時噦，耳前後腫，刺之小差，外不解，病過十日，脈續浮者，與小柴胡湯，脈但浮，無餘證者，與麻黃湯，若不尿，腹滿加噦者，不治。</p>
<span class="註"><p>此條雖係陽明，而已兼少陽，雖名中風，而實為表實，乃陽明少陽，邪氣閉鬱於經之證也，陽明閉鬱，故短氣腹滿，鼻乾不得汗，嗜臥，一身及面目悉黃，小便難，有潮熱，少陽閉鬱，故脅下及心痛，久按之氣不通，時時噦，耳前後腫，刺之小差，外不解者，脈證少平，而大邪不去也，病過十日，而脈續浮，知其邪猶在經，故與小柴胡和解邪氣，若脈但浮，而無少陽證兼見者，則但與麻黃湯，發散邪氣而已，蓋以其病兼少陽，故不與葛根而與柴胡，以其氣實無汗，故雖中風而亦用麻黃，若不得尿，故腹加滿，噦加甚者，正氣不化，而邪氣獨盛，雖欲攻之，神不為使，亦無益矣，故曰不治。</p></span>
<p>陽明病，但頭眩不惡寒，故能食而欬，其人必咽痛，若不欬者，咽不痛。</p>
<span class="註"><p>但頭眩不惡寒，能食而欬者，陽明風邪變熱，聚于胃而逆于肺也，咽居肺上，故必咽痛，若不欬者，肺不受熱，則咽必不痛，不惡寒而頭眩者，氣方外淫而不內熾，亦何至能食而欬哉。</p></span>
<p>陽明病，能食，小便反不利，大便自調，其人骨節疼，翕然如有熱狀，奄然發狂，濈然汗出而解者，此水不勝穀氣，與汗共併，脈緊則愈。</p>
<span class="註"><p>此陽明風濕為痺之證，金匱云，濕痺之候，小便不利，大便反快，又濕病關節疼痛而煩者也，奄然發狂者，胃中陽勝，所謂怒狂生于陽也，濈然汗出者，穀氣內盛，所為汗出於穀也，穀氣盛而水濕不能勝之，則隨汗外出，故曰與汗共併，汗出邪解，脈氣自和，故曰脈緊則愈，前第四十三條，中寒不能食，所以雖有堅屎，而病成固瘕，此條胃強欲食，所以雖有水濕而忽從汗散，合而觀之，可以知陰陽進退之機。</p></span>
<h2>卷四、陽明篇下</h2>
<h3>陽明明辨法第二</h3>
<h4>表裏虛實生死之辨九條</h4>
<p>病人煩熱，汗出則解，又如瘧狀，日晡所發熱者，屬陽明也，脈實者，宜下之，脈浮虛者，
宜發汗，下之與大承氣湯，發汗宜桂枝湯。</p>
<p> 煩熱，熱而煩也，是為在裏，裏則雖汗出不當解，而反解者，知表猶有邪也，如瘧者，寒
熱往來，如瘧之狀，是為在表，表則日晡所不當發熱，而反發熱者，知裏亦成實也，是為表
裏錯雜之候，故必審其脈之浮沉，定其邪之所在，而後從而治之，若脈實者，知氣居于裏，
故可下之，使從裏出，脈浮而虛者，知氣居於表，故可汗之使從表出，而下藥宜大承氣湯，
汗藥宜桂枝湯，則天然不易之法矣。</p>
<p>陽明病，脈浮而緊，咽燥口苦，腹滿而喘，發熱汗出，不惡寒，反惡熱，身重，若發汗則躁，
心憒憒，反譫語，若加燒鍼，必怵惕煩躁不得眠，若下之，則胃中空虛，客氣動膈，心下懊
憹，舌上胎白者，梔子豉湯主之，若渴欲飲水，口乾舌燥者，白虎加人參湯主之，若脈浮發
熱，渴欲飲水，小便不利者，豬苓湯主之。
 浮而緊，陽明表裏之脈然也，咽燥口苦，腹滿而喘，發熱汗出，不惡寒，反惡熱，身重，陽
明入裏之證然也，是為邪已入裏，而氣連於表，內外牽制，汗下俱礙，是以汗之而邪不能出
於表，則躁，心憒憒然昏亂而譫語，火之而熱且擾於中，則怵惕煩躁不得眠，下之而邪不盡
於裏，則胃氣徒虛，客氣內動，心中懊憹，若舌上胎白者，邪氣盛於上焦，故與梔子豉湯，
以越胸中之邪，所謂病在胸中，當須吐之是也，若渴欲飲水，口乾舌燥者，則邪氣不在上而
在中，故以白虎加人參，以清胃熱，益胃液，所謂熱淫于內，治以甘寒也，若脈浮發熱，渴
欲飲水，小便不利者邪熱不在上中，而獨在下，故與豬苓湯，以利水泄熱，兼滋陰氣，所謂
在下者，引而竭之也。</p>
<p>豬苓湯方。
豬苓〔去皮〕、茯苓、阿膠、滑石〔碎〕、澤瀉，
右五味，各一兩，以水四升，先煮四味，取二升，去滓，內阿膠，烊消，溫服七合，日三服。</p>
<p>陽明病，汗出多而渴者，可與豬苓湯，以汗多，胃中燥，豬苓湯復利小便故也。
 上條於脈浮發熱，渴而小便不利之證，既著豬苓湯之用矣，此條復示豬苓湯之戒，謂雖渴欲
飲水，而汗出多者，則不可以豬苓利其小便，所以然者，汗之與溺，同出而異歸者也，靈樞
云，水穀入於口，輸于腸胃，其液別為五，天寒衣薄，則為溺與氣，天暑衣厚則為汗，故雖
清濁不同，其為府中之液則一也，汗出既多，胃液已耗，而復以豬苓利之，是已燥而益燥也，
故曰不可與豬苓湯。</p>
<p>陽明病，下之，其外有熱，手足溫，不結胸，心中懊憹，飢不能食，但頭汗出者，梔子豉湯
主之。
 陽明下後，其邪既不從裏而出，又不因下而結，其外有熱，手足溫者，邪雖陷而未深也，心
中懊憹，飢不能食者，熱客胸中，而胃虛不能納榖也，但頭汗出者，胸中之熱，熏蒸於上，
而陽受邪氣，復不能降而下行也，是為邪氣入裏，而未成聚之證，故宜梔子豉湯，以徹胸中
之邪，亦高者因而越之之意也。</p>
<p>陽明病，法多汗，反無汗，其身如蟲行皮中狀者，此以久虛故也。
 陽明者，津液之府也，熱氣入之，津為熱迫，故多汗，反無汗，其身如蟲行皮中狀者，氣內
蒸而津不從之也，非陽明久虛之故，何致是哉。</p>
<p>夫實則譫語，虛則鄭聲，鄭聲，重語也。
 實者，邪氣盛也，虛者，精氣奪也，邪盛則狂妄多言，變亂不測，正奪者，語不能多，惟平
時心事，言訖復言而已，故曰重語，重猶疊也。
直視譫語喘滿者，死，下利者，亦死。
 直視譫語，為陰竭熱盛之候，此為邪氣日損，或陰氣得守，猶或可治，若喘滿，則邪內盛，
或下利，則陰內泄，皆死證也。</p>
<p>發汗多，若重發汗者，亡其陽，譫語脈短者，死，脈自和者，不死。
 汗多復汗，陽氣重傷，而邪復不解，為譫語而脈短，譫語為邪之盛，脈短為氣之少，病盛勝
臟，故死，脈自和者，邪氣雖盛，而正氣猶足相持，故得不死。</p>
<p>陽明病，欲解時，從申至戍上。
 申酉戌時，日晡時也，陽明潮熱，發于日晡，陽明病解，亦于日晡，則申酉戌為陽明之時，
其病者，邪氣於是發，其解者，正氣於是復也。</p>
<h4>陽明可下不可下之辨十五條</h4>
<p>陽明病，脈遲，雖汗出不惡寒者，其身必重，短氣，腹滿而喘，有潮熱者，此外欲解，可攻
裏也，手足濈然而汗者，此大便已鞕也，大承氣湯主之，若汗多，微發熱惡寒者，外未解
也，其熱不潮，未可與承氣湯，若腹大滿不通者，可與小承氣湯，微和胃氣，勿令大泄下。
 傷寒以身熱惡寒為在表，身熱不惡寒為在裏，而陽明病無表證者，可下，有表證者，則不可
下，此汗出不惡寒，身重短氣，腹滿而喘，潮熱，皆裏證也，脈雖遲，猶可攻之，以腹滿便
閉，裏氣不行，故脈為之濡滯不利，非可比于遲則為寒之例也。若手足濈然汗出者，陽明熱
甚，大便已鞕，欲攻其病，非大承氣不為功矣，若汗多，微發熱，惡寒，則表猶未解，其熱
不潮，則裏亦未實，豈可漫與大承氣，遺其表而天其裏哉，即腹大滿不通，而急欲攻之者，
亦宜與小承氣微和胃氣，而不可以大承氣大泄大下，恐裏虛邪陷，變證百出，則難挽救矣，
以下七條，於可攻證，而復審其小便之多少，大便之溏鞕，脈之實與不實，經之過與不過，
熱之潮與不潮，而後從而治之，故知下法，不可不慎也。</p>
<p>陽明病，潮熱，大便微鞕者，可與大承氣湯，不鞕者，不可與之，若不大便，六七日，恐
有燥屎，欲知之法，少與小承氣湯，湯入腹中轉失氣者，此有燥屎，可攻之，若不轉失氣者，
此但初頭鞕，後必溏不可攻之，攻之必脹滿，不能食也，欲飲水者，與水則噦，其後發熱者，
必大便復鞕而少也，以小承氣湯和之，不轉失氣者，慎不可攻也。
 陽明病有潮熱者，為胃實，熱不潮者，為胃未實，而大承氣湯，有燥屎者，可與，初鞕後
溏者，則不可與，故欲與大承氣，必先與小承氣，恐胃無燥屎，邪氣未聚，攻之則病未必去，
而正已大傷也，服湯後，轉失氣者，便堅藥緩，屎未能出，而氣先下趨也，故可更以大承氣
攻之，不轉失氣者，胃未及實，但初頭鞕，後必溏，雖小承氣已過其病，況可以大承氣攻之
哉，胃虛無氣，脹滿不食，所必至矣，又陽明病，能飲水者為實，不能飲水者為虛，如雖欲
飲，而與水則噦，所謂胃中虛冷，欲飲水者，與水則噦也，其後卻發熱者，知熱氣還入於胃，
則大便鞕而病從虛冷所變，故雖鞕而仍少也，亦不可與大承氣湯，但與小承氣，微和胃氣
而已，蓋大承氣為下藥之峻劑仲景恐人不當下而誤下，或雖當下而過下，故反覆辨論如此，
而又申之曰，不轉失氣者，慎不可攻也，鳴呼，仁人之心，可謂至矣。
陽明病，下之，心中懊憹而煩，胃中有燥屎者，可攻，腹微滿，初頭鞕，後必溏，不可攻
之，若有燥屎者，宜大承氣湯。
 陽明下後，心中懊憹而煩，胃中有燥屎者，與陽明下後，心中懊憹，飢不能食者有別矣，
彼為邪擾於上，此為熱實于中也，熱實則可攻，故宜大承氣，若腹微滿，初頭鞕，後必溏者，
熱而不實，邪未及結，則不可攻，攻之必脹滿不能食也。
陽明病，譫語，發潮熱，脈滑而疾者，小承氣湯主之，因與承氣湯一升，腹中轉失氣者，更
服一升，若不轉失氣，勿更與之，明日不大便，脈反微濇者，裏虛也，為難治不可更與承氣
湯也。
 語發潮熱，胃實之徵也，脈滑而疾，則與滑而實者差異矣，故不與大承氣，而與小承氣也，
若服一升而轉失氣者，知有燥屎在胃中，可更服一升，若不轉失氣者，此必初鞕後溏，不
可更與服之，一如前二條之意也，乃明日不大便，而脈反微濇，則邪氣未去，而正氣先衰，
補則礙邪，攻則傷正，故曰難治，便雖未通，豈可更以承氣攻之哉。
得病二三日，脈弱，無太陽柴胡證，煩躁，心下鞕，至四五日，雖能食，以小承氣湯，少少
與微和之，令小安，至六日，與承氣湯一升，若不大便六七日，小便少者，雖不能食，但初
頭鞕，後必溏，未定成鞕，攻之必溏，須小便利，屎定鞕，乃可攻之，宜大承氣湯。
 傷寒能食者，為胃熱而不實，不能食者，為胃熱而實，而胃實之證，小便數者，可攻，小便
少者，則不可攻，得病二三日，脈不浮而弱，而又無太陽柴胡之證，知其病獨在陽明之表也，
煩躁心下鞕，至四五日不解，則裏證復具，故雖能食，亦必以小承氣微和胃氣，至六日，熱
漸成實，當更與大承氣一升，以盡其病也，若不大便六七日，于法當下，而小便少者，則水
穀不分，知其初鞕後溏，然雖不能食亦不可便與攻法，須俟其小便利，屎鞕，然後以大承
氣與之，夫不大便而津液竭者，不可下，須俟其津液還入胃中，而大便自行，不大便而小便
少者，亦不可下，必俟其津液遍滲水道，而後可與下法，蓋津液已竭而強攻之，則正虛不復，
大便未鞕而輒攻之，則邪去不盡，學者不可不審，而輕用下藥也。</p>
<p>傷寒不大便，六七日，頭痛有熱者，與承氣湯，其小便清者，知不在裏，仍在表也，當須發
汗，若頭痛者，必衄，宜桂枝湯。
 太陽風寒外束，令人頭痛，陽明熱氣上衝，亦令人頭痛，傷寒不大便六七日，頭痛有熱證者，
知其熱盛於裏，而氣蒸於上，非風寒在表之謂矣，故可與承氣湯下之，然熱盛於裏者，其小
便必短赤，若小便清者，知其熱不在於裏，而仍在於表，當以桂枝湯發其汗，而不可以承氣
湯攻其裏也，若頭痛不除者，熱留於經，必發鼻衄，宜桂枝湯四字，疑在當須發汗句下。此
條從太陽篇中移入。</p>
<p>汗出譫語者，以有燥屎在胃中，此為風也，須下之，過經乃可下之，下之若早，語言必亂，
以表虛裏實故也，下之則愈，宜大承氣湯。
 汗出譫語，謂風未去表，而胃已成實也，故曰有燥屎在胃中，又曰，此為風也，須下之，過
經乃可下之，見胃實須下，而風未去表，則必過經而後可下，不然，表間邪氣，又將入裏，
胃益增熱，而語言錯亂矣，表虛裏實，即表和裏病之意，言邪氣入而併於裏也，外臺云，裏
病表和，下之則愈，汗之則死，故宜大承氣以下裏實。</p>
<p>陽明病，不能食，攻其熱，必噦，所以然者，胃中虛冷故也，以其人本虛，故攻其熱必噦。
 天之邪氣，中人則同，而人之藏氣，虛實則不同，此下三條，乃為陽明病之中虛不足者設也，
陽明病，當攻其熱，而胃中虛冷不能食者，則不可攻其熱，攻之則中寒益甚，而氣乃上逆，
故必作噦，噦呃逆也，以下不可攻之證，凡七條。</p>
<p>傷寒嘔多，雖有陽明證，不可攻之。
夫陽明病，心下鞕滿者，不可攻之，攻之利遂不止者，死，利止者，愈。
陽明病，面合赤色，不可攻之，攻之必發熱色黃，小便不利。
 陽明雖有可下之例，然必表證全無，而熱結在腸中者，方可攻之，若嘔多者，邪在膈也，心
下鞕滿者，邪未下於胃也，面合赤色者，邪氣怫鬱在表也，故皆不可攻之，攻之則裏虛而
熱入，其淫溢於下者，則下利不止，其蓄聚於中者，則發熱色黃，小便不利，其或幸而不死
者，邪氣竟從下奪而愈耳，然亦難矣。</p>
<p>陽明病，脈遲，食難用飽，飽則微煩，頭眩，必小便難，此欲作穀疸，雖下之，腹滿如故所
以然者，脈遲故也。
 脈遲者，氣弱而行不利也，氣弱不行，則穀化不速，穀化不速，則穀氣鬱而生熱，其熱上衝，
則作頭眩，氣上衝者，不下走，則小便難，而熱之鬱於中者，不得下行濁道，必將蒸積為黃，
故曰欲作穀疸，然以穀氣鬱而成熱，而非胃有實熱，故雖下之，而腹滿不去，不得與脈數胃
實者，同論也。</p>
<p>陽明病，本自汗出，醫更重發汗，病已差，尚微煩不了了者，此大便必鞕故也，以亡津液，
胃中乾燥，故令大便鞕，當問其小便日幾行，若本小便日三四行，今日再行，故知大便不久
出，今為小便數少，以津液當還入胃中，故知不久必大便也。
 陽明病，不大便，有熱結與津竭兩端，熱結者，可以寒下，可以鹹軟，津竭者，必津田燥釋，
而後便可行也，茲已汗復汗，重亡津液，胃燥便鞕，是當求之津液，而不可復行攻逐矣，小
便本多而今數少，則肺中所有之水精，不直輸於膀胱，而還入於胃府，於是燥者得潤，鞕
者得軟，結者得通，故日不久必大便出，而不可攻之意，隱然言外矣。
缺p12-13
邪入陽明，寒已變熱，若更被火，則邪不得去，而熱反內增矣，且無汗，則熱不外越，小便
不利，則熱不下泄，蘊蓄不解，集於心下而聚於脾間，必惡熱，為懊憹不安，脾以濕應，
與熱相合，勢必蒸鬱為黃矣，額上雖微汗，被火氣劫，從炎上之化也，豈能解其火邪哉。</p>
<p>陽明病，發熱汗出，此為熱越，不能發黃也，但頭汗出，身無汗，劑頸而還，小便不利，渴
飲水漿者，此為瘀熱在裏，身必發黃，茵陳蒿湯主之。
 熱越，熱隨汗而外越也，熱越則邪不蓄而散，安能發黃哉，若但頭汗出而身無汗，劑頸而還，
則熱不得外達，小便不利，則熱不得下泄，而又渴飲水漿，則其熱之蓄於內者方熾，而濕之
引於外者無已，濕與熱得，瘀鬱不解，則必蒸發為黃矣，茵陳蒿湯，苦寒通泄，使病從小便
出也。</p>
<p>茵陳蒿湯方。
茵陳蒿〔六兩〕、梔子〔十四枚擘〕、大黃〔二兩去皮〕，
右三味，以水一斗二升，先煎茵陳減六升，內二味，煮取三升，去滓，分溫三服，小便當利，
屎如皂角汁狀，色正赤，一宿腹減，黃從小便去也。</p>
<p>傷寒發汗已，身目為黃，所以然者，以寒濕在裏，不解故也，以為不可下也，於寒濕中求之。
 傷寒發汗已，熱與汗越，不能發黃，而反身目為黃者，以寒濕深入在裏，汗雖出，而寒濕不
與俱出也，寒濕在裏，必傷於脾，脾傷而色外見，則身目為黃，是不可比於瘀熱在裏之例，
而輒用下法也，云於寒濕中求之者，意非溫脾燥濕不可耳。
傷寒七八日，身黃如橘子色，小便不利，腹微滿者，茵陳蒿湯主之。
 此則熱結在裏之證也，身黃如橘子色者，色黃而明，為熱黃也，若濕黃則色黃而晦，所謂身
黃如熏黃也，熱結在裏，為小便不利，腹微滿，故宜茵陳蒿湯，下熱通瘀為主也。</p>
<p>傷寒身黃，熱者，梔子檗皮湯主之。
 此熱瘀而未實之證，熱瘀，故身黃，熱未實，故發熱而腹不滿，梔子徹熱於上，檗皮清熱於
下，而中未及實，故須甘草以和之耳。</p>
<p>梔子檗皮湯方。
梔子〔十五枚擘〕、甘草〔一兩炙〕、檗皮〔二兩〕，
右三味，以水四升，煮取一升半，去滓，分溫再服。</p>
<p>傷寒瘀熱在裏，身必發黃，麻黃連軺赤小豆湯主之。
 此亦熱瘀而未實之證，瘀熱在裏者，汗不得出而熱瘀於裏也，故與麻黃、杏仁、生薑之辛溫，
以發越其表，赤小豆、連軺、梓白皮之苦寒甘，以清熱于裏，大棗、甘草，甘溫悅脾，以為
散濕驅邪之用，用潦水者，取其味薄，不助水氣也，合而言之，茵陳蒿湯，是下熱之劑，梔
子檗皮湯，是清熱之劑，麻黃連軺赤小豆湯，是散熱之劑也。</p>
<p>麻黃連軺赤小豆湯方。
麻黃〔二兩〕、生薑〔二兩切〕、生梓〔白皮一升〕、連軺〔二兩〕、甘草〔一兩炙〕、大
棗〔十二枚擘〕、赤小豆〔一升〕、杏仁〔四十粒去皮尖〕，
右八味，以潦水一斗，先煮麻黃再沸，去上沬，內諸藥，煮取三升，分溫三服，半日服盡。</p>
<h4>蓄血證治二條</h4>
<p>陽明證，其人喜忘者，必有蓄血，所以然者，本有久瘀血，故飲喜忘，屎雖鞕，大便反易，
其色必黑，宜抵當湯下之。
 喜忘、即善忘，蓄血者，熱與血蓄於血室也，以衝任之脈，並陽明之經，而其人又本有瘀血，
久留不去，適與邪得，即蓄積而不解也，蓄血之證，其大便必鞕，然雖鞕而其出反易者，
熱結在血，而不在糞也，其色必黑者，血瘀久變黑也，是宜入血破結之劑，下其瘀血，血去
則熱亦不留矣。</p>
<p>病人無表裏證，發熱七八日，雖脈浮數者，可下之，假令已下，脈數不解，合熱則消穀善飢，
至六七日，不大便者，有瘀血也，宜抵當湯，若脈數不解，而下不止，必協熱而便膿血也。
 無表裏證，與前第二十二條同，發熱七八日，而無太陽表證，知其熱盛於內，而氣蒸於外也，
脈雖浮數，亦可下之，以除其熱，令身熱去，脈數解則愈，假令已下，脈浮去而數不解，知
其熱不在氣而在血也，熱在血，則必病於血，而其變亦有二，合、猶併也，言熱氣併於胃，
為消穀善飢，至六七日不大便者，其血必蓄於中，若不併於胃，而下利不止者，其血必走於
下，蓄於中者，為有瘀血，宜抵當湯，結者散之，亦留者攻之也，走於下者，為協熱而便膿
血，則但宜入血清熱而已。</p>
<h2>卷五、少陽篇</h2>
<h3>辨列少陽條例大意</h3>
<p>少陽居表裏之間，當肓膜之處，外不及於皮膚，內不及於藏府，汗之而不從表出，下之而
不從裏出，故有汗吐下之戒，而惟小柴胡一方，和解表裏，為少陽正治之法，凡十六條，其
次則有和解而兼汗下之法，謂證兼太陽之表，則宜兼汗，或證兼陽明之裏，則宜兼下，如柴
胡加桂枝湯，柴胡加芒硝湯，大柴胡湯，柴胡桂枝湯等方是也，夫有汗下之禁，而或汗之，
或下之，此亦少陽權變法也，凡四條，又其次為刺法，如縱橫脅滿，合併之病，當刺期門大
椎肺俞肝俞諸穴是也，凡四條。</p>
<h3>少陽正治法第一</h3>
<h4>少陽證一條</h4>
<p>少陽之為病，口苦，咽乾，目眩也。
 足少陽，膽也，膽盛精汁三合，而其味苦，膽受邪而熱，其氣上溢，故口苦，咽門者，肝膽
之候，目銳眥者，膽脈之所起，故咽乾目眩也。</p>
<h4>小柴胡湯證九條</h4>
<p>傷寒五六日，中風，往來寒熱，胸脅苦滿，默默不欲飲食，心煩喜嘔，或胸中煩而不嘔，或
渴，或腹中痛，或脅下痞鞕，或心下悸，小便不利，或不渴，身有微熱，或欬者，與小柴胡
湯主之。
 傷寒五六日中風者，言或傷寒五六日，傳至少陽，或少陽本經，自中風邪，非既傷寒五六日，
而又中于風也，往來寒熱者，少陽居表裏之間，進而就陰則寒，退而從陽則熱也，胸脅苦滿
者，少陽之脈，其直者，從缺盆下腋，循胸過季脅故也，默默不欲飲食，心煩喜嘔者，木火
相通，而膽喜犯胃也，或者，未定之辭，以少陽為半表半裏，其氣有乍進退之機，故其病有
或然或不然之異，而少陽之病，但見有往來寒熱，胸脅苦滿之證，便當以小柴胡，和解表裏
為主，所謂傷寒中風，有柴胡證，但見一證便是，不必悉具是也。此條自太陽篇移入。</p>
<p>小柴胡湯方。
柴胡〔半觔〕、黃苓〔三兩〕、人參〔三兩〕、甘草〔三兩〕、生薑〔三兩〕、半夏〔半升
洗〕、大棗〔十二枚擘〕，
右七味，以水一斗二升，煮取六升，去滓，再煎取三升，溫服一升，日三服。
加減法。
若胸中煩而不嘔，去半夏、人參，加括蔞實一枚。
 胸中煩而不嘔者，邪聚於膈而不上逆也，熱聚則不得以甘補，不逆則不必以辛散，故去人參、
半夏，而加括蔞實之寒，以除熱而蕩實也。</p>
<p>若渴者，去半夏，加人參，合前成四兩半，括蔞根四兩。
 湯者，木火內煩，而津虛氣燥也，故去半夏之溫燥，而加人參之甘潤，括蔞根之涼苦，以徹
熱而生津也。</p>
<p>若腹中痛者，去黃芩，加芍藥三兩。
 腹中痛者，木邪傷土也，黃芩苦寒，不利脾陽，芍藥酸寒，能於土中瀉木，去邪氣，止腹痛
也。</p>
<p>若脅下痞鞕，去大棗，加牡蠣四兩。
 脅下痞鞕者，邪聚少陽之募，大棗甘能增滿，牡蠣鹹能軟堅，好古云，牡蠣以柴胡引之，
能去脅下痞也。</p>
<p>若心下悸，小便不利者，去黃芩，加茯苓四兩。
 心下悸，小便不利者，水飲蓄而不行也，水飲得冷則停，得淡則利，故去黃芩，加茯苓。</p>
<p>若不渴，外有微熱者，人參，加桂三兩，溫覆取微汗愈。
 不渴外有微熱者，裏和而表未解也，故不取人參之補裏，而用桂枝之解外也。</p>
<p>若欬者，去人參、大棗、生薑，加五味子半升，乾薑二兩。
 欬者，肺寒而氣逆也，經曰，肺苦氣上逆，急食酸以收之，又曰，寒飲冷則傷肺，故加五味
之酸，以收逆氣，乾薑之溫，以卻肺寒，參、棗甘壅，不利於逆，生薑之辛，亦惡其散耳。
血弱氣盡，腠理開，邪氣因入，與正氣相摶，結於脅下，正邪分爭，往來寒熱，休作有時，
默默不欲飲食，藏府相連，其痛必下，邪高痛下，故使嘔也，小柴胡湯主之，服柴胡湯已，
渴者，屬陽明也，以法治之。
 血弱氣盡，腠理開，謂亡血新產勞力之人，氣血不足，腠理疏豁，而邪氣乘之也，邪入必與
正相摶，而結于脅下，脅下者，少陰之募，而少陰者，陰陽之交也，邪氣居之，陰出而與邪
爭則寒，陽入而與邪爭則熱，陰陽出入，各有其時，故寒熱往來，休作有時也，默默不欲飲
食，義如上條，藏府相連四句，是原所以邪氣入結之故，謂膽奇於肝，地逼氣通，是以其邪
必從府而入藏，所謂其痛必下也，邪高，謂病所來處，痛下，謂病所結處，邪欲入而正拒之，
則必上逆而嘔也，至其治法，亦不出小柴胡和解表裏之法，服後邪解氣和，口必不渴，若渴
者，是少陽邪氣復還陽明也，以法治之者，謂當從陽明之法，而不可復從少陽之法矣。此亦
從太陽篇移入。
傷寒四五日，身熱惡風，頸項強，脅下滿，手足溫而渴者，小柴胡湯主之。
 此條類似太陽，與少陽併病，以太陽不得有脅下滿，少陽不得有頸項強，且手足溫而渴，知
其邪不獨在表，而亦在裏也，欲合表裏而並解，則非小柴胡不可耳。亦太陽篇移入。
入寒中風，有柴胡證，但見一證便是，不必悉具。
 柴胡證，如前條所謂往來寒熱，胸脅苦滿等證，是也，傷寒中風者，謂無論傷寒中風，有柴
胡證者，但見一證，便當以小柴胡和解之，不可謂其不具，而以他藥發之也，前條云，身熱
惡風，頸項強，脅下滿者，與小柴胡不與桂枝，即此意。亦太陽篇移入。
凡柴胡湯病證而下之，若柴胡證不罷者，復與柴胡湯，必蒸蒸而振，卻發熱，汗出而解。
 柴胡證不應下而反下之，於法為逆，若柴胡證不罷者，仍宜柴胡湯和解，所謂此雖已下，不
為逆也，蒸蒸而振者，氣從內達，邪從外出，有戰勝之義焉，是以發熱汗出而解也。亦太陽
篇移入。
傷寒陽脈濇，陰脈弦，法當腹中急痛者，先與小建中湯，不差者，與小柴胡湯主之。
 陽脈濇，陽氣少也，陰脈弦，陰有邪也，陽不足而陰乘之，法當腹中急痛，故以小建中湯，
溫裏益虛散陰氣，若不差，知非虛寒在裏，而是風邪內干也，故當以小柴胡湯，散邪氣止腹
痛。亦太陽篇移入。
傷寒五六日，頭汗出，微惡寒，手足冷，心下滿，口不欲食，大便鞕，脈細者，此為陽微結，
必有表，復有裏也，脈沉，亦在裏也，汗出為陽微，假令純陰結，不得復有外證，悉入在裏，
此為半在裏，半在外也，脈雖沉緊，不得為少陰病，所以然者，陰不得有汗，今頭汗出，故
知非少陰也，可與小柴胡湯，設不了了者，得屎而解。
 頭汗出，微惡寒，為表證，手足冷，心下滿，口不欲食，大便鞕，脈細，為裏證，陽微結
者，陽邪微結，未純在裏，亦不純在表，故曰必有表，復有裏也，傷寒陰邪中於陰者，脈沉，
陽邪結於裏者，脈亦沉，合之于證，無外證者，為純在裏，有外證者，為半在表也，無陽證
者，沉為在陰，有陽證者，沉為在裏也，夫頭為陽之會，而陰不得有汗，今脈沉緊而頭汗出，
知其病不在少陰，亦併不純在表，故可與小柴胡湯，合外內而并治之耳，設不了了者，必表
解而裏未和也，故曰得屎而解。
本太陽病，不解，轉入少陽者，脅下鞕痛，乾嘔不能食，往來寒熱，尚未吐下，脈沉緊者，
與小柴胡湯，若已吐下，發汗，溫鍼，譫語，柴胡湯證罷，此為壞病，知犯何逆，以法治之。
 本太陽脈浮，頭痛惡寒之證，而轉為脅下鞕滿，乾嘔不能食，往來寒熱者，太陽不解，而
傳入少陽也，尚未吐下，不經藥壞者，脈雖沉緊，可與小柴胡以和之，以證見少陽，舍脈而
從證也，或云脈沉緊，連上未吐下看，言尚未經吐下，與脈未至沉緊者，知其邪猶在經，可
與小柴胡以和之，或云沉當作浮，前陽明篇第四十八條云，病過十日，脈續浮者，與小柴胡
湯是也，並通，若已吐下發汗溫鍼，疊傷津液，胃燥譫語，而脅下鞕滿乾嘔等證反罷者，
此眾法盡投，正已大傷，而邪猶不解，謂之壞病，非小柴胡所得而治者，須審其因犯何逆，
隨證以法治之。</p>
<h4>少陽汗吐下之禁二條</h4>
<p>傷寒脈弦細，頭痛發熱者，屬少陽，少陽不可發汗，發汗則譫語，此屬胃，胃和則愈，胃不
和，則煩而悸。
 經曰，少陽之至，其脈弦，故頭痛發熱者，三陽表證所同，而弦細，則少陽所獨也，少陽經
兼半裏，熱氣已動，是以不可發汗，發汗則津液外亡，胃中乾燥，必發譫語，云此屬胃者，
謂少陽邪氣併干陽明胃府也，若邪去而胃和則愈，設不和，則木中之火，又將併入心藏，而
為煩為悸矣。</p>
<p>少陽中風，兩耳無所聞，目赤，胸中滿而煩者，不可吐下，吐下則悸而驚。
 此少陽自中風邪之證，不從太陽傳來者也，少陽之脈，起於目銳眥，其支從耳後入耳中，以
下胸中，少陽受邪，壅熱於經，故耳聾目赤，胸中滿而煩也，是不在表，故不可吐，復不在
裏，故不可下，吐則傷陽，陽虛而氣弱則悸，下則傷陰，陰虛而火動則驚。</p>
<h4>辨少陽邪氣進退之機四條</h4>
<p>傷寒六七日，無大熱，其人躁煩者，此為陽去入陰故也。
 邪氣在表則發熱，入裏則躁煩，傷寒六七日，外無大熱，而其人躁煩者，邪氣去陽而之陰也，
去又訓作往，言陽邪往入陰中也。</p>
<p>傷寒三日，三陽為盡，三陰當受邪，其人反能食而不嘔，此謂三陰不受邪也。
 傷寒一日太陽，二日陽明，三日少陽，四日當傳太陰，內經傷寒傳變之常法然也，陽邪傳陰，
則當嘔而不能食，若其人反能食，不嘔，則邪氣不傳於陰，將從陽而解也。</p>
<p>傷寒三日，少陽脈小者，欲已也。
 傷寒三日，少陽受邪，而其脈反小者，邪氣已衰，其病欲解而愈，經云，大則病進，小則病
退，此之謂也。</p>
<p>少陽病，欲解時，從寅至辰上。
 少陽，膽木也，從寅至辰，為木旺之時，故其病欲解，必於是三時，亦猶太陽之解於巳午未，
陽明之解於申酉戌也。</p>
<h3>少陽權變法第二</h3>
<h4>柴胡桂枝湯證一條</h4>
<p>傷寒六七日，發熱微惡寒，支節煩疼，微嘔，心下支結，外證未去者，柴胡桂枝湯主之。
 發熱微惡寒，支節煩疼，邪在肌表，所謂外證未去也，傷寒邪欲入裏，而正不容則嘔，微嘔
者，邪入未多也，支結者，偏結一處，不正中也，與心下鞕滿不同，此雖表解，猶不可攻，
況外證未去者耶，故以柴胡、桂枝合劑，外解表邪，內除支結，乃七表三裏之法也。
柴胡桂枝湯方，
柴胡〔半兩〕、桂枝〔半兩〕、甘草〔一兩炙〕、黃芩〔半兩〕、人參〔半兩〕、半夏〔二
合半〕、白芍〔半兩〕、生薑〔一兩半〕、大棗〔六枚擘〕，
右九味，以水七升，煮取三升，去滓，溫服。</p>
<h4>柴胡桂枝乾薑湯證一條</h4>
<p>傷寒五六日，已發汗而復下之，胸脅滿，微結，小便不利，渴而不嘔，但頭汗出，往來寒熱，
心煩者，此為未解也，柴胡桂枝乾薑湯主之。
 王叔和本在太陽篇中，今移置此。汗下之後，胸脅滿微結者，邪聚於上也，小便不利，渴而
不嘔者，熱勝於內也，傷寒汗出，周身漐漐，人靜不煩者，為已解，但頭汗出而身無汗，
往來寒熱，心煩者，為未欲解，夫邪聚於上，熱勝於內，而表復不解，是必合表裏以為治，
柴胡、桂枝，以解在外之邪，乾薑、牡蠣，以散胸中之結，括蔞根、黃芩，除心煩而解熱渴，
炙甘草佐柴胡、桂枝以發散，合芩、括蔞、薑、蠣以和裏，為三表七裏之法也。</p>
<p>柴胡杜枝乾薑湯方。
柴胡〔半觔〕、桂枝〔三兩〕、乾薑〔二兩〕、黃芩〔三兩〕、括蔞根〔四兩〕、牡蠣〔三
兩熬〕、甘草〔二兩炙〕，
右七味，以水一斗二升，煮取六升，去滓，再煎取三升，溫服一升，日二服，初服微煩，復
服汗出愈。</p>
<h4>柴胡加芒硝湯證一條</h4>
<p>傷寒十三日不解，胸脅滿而嘔，日晡所發潮熱，已而微利，此本柴胡證，下之而不得利，今
反利者，知醫以丸藥下之，非其治也，潮熱者，實也，先宜小柴胡湯以解外，後以柴胡加芒
硝湯，以治其裏也。
 此少陽經邪兼陽明內實之證，少陽病在經，故胸脅滿而嘔，所謂柴胡證也，下之而三字，疑
衍，凡柴胡證不得利，今反利者，知醫以丸藥下之，為醫之誤，非病之情也，潮熱者，陽明
之實也，實則可下，而證兼少陽，則不可下，故先宜小柴胡以解其外，後以柴胡加芒硝湯，
以治其裏，亦如下條之先與小柴胡，後與大柴胡之例也。亦太陽篇移入。
尚從善云，此本柴胡證，下之而不得利，仲景謂此本柴胡證，醫設以大柴胡湯下之，則表裏
俱解，何至有下利之證云。</p>
<p>柴胡加芒硝湯方，
於小柴胡湯內，加芒硝六兩，餘依前法服，不解更服。</p>
<h4>大柴胡湯證一條</h4>
<p>太陽病，過經十餘日，反二三下之，後四五日，柴胡證仍在者，先與小柴胡湯，嘔不止，心
下急，鬱鬱微煩者，為未解也，與大柴胡湯，下之則愈。
 太陽病，過經十餘日，而有柴胡證，乃邪氣去太陽之陽明，而復之少陽也，少陽不可下，而
反二三下之，於法為逆，若後四五日，柴胡證仍在者，先與小柴胡湯，所謂柴胡湯病證而下
之，若柴胡證不罷者，復與柴胡是也，若服湯已，嘔不止，心下急，鬱鬱微煩者，邪氣鬱滯
於裏，欲出不出，欲結不結，為未解也，與大柴胡以下裏熱則愈，亦先表後裏之意也。此條
自太陽篇移入。</p>
<p>大柴胡湯方，
柴胡〔八兩〕、半夏〔八兩〕、黃芩〔三兩〕、生薑〔五兩〕、枳實〔四枚〕、芍藥〔三兩〕、
大棗〔十二枚擘〕、大黃〔二兩酒浸〕，
右八味，以水一斗二升，煮取六升，去滓，再煎取三升，溫服一升，日三服。
 按大柴胡，有柴胡、生薑、半夏之辛而走表，黃芩、芍藥、枳實，大黃之苦而入裏，乃表裏
並治之劑，而此云大柴胡下之者，謂病兼表裏，故先與小柴胡解之，而後以大柴胡下之耳，
蓋分言之，則大小柴胡，各有表裏，合言之，則小柴胡主表，而大柴胡主裏，古人之言，當
以意逆，往往如此。</p>
<h3>少陽刺法第三</h3>
<h4>刺法四條</h4>
<p>傷寒腹滿譫語，寸口脈浮而緊，此肝乘脾也，名曰縱，刺期門。
傷寒發熱，嗇嗇惡寒，大渴欲飲水，其腹必滿，自汗出，小便利，其病欲解，此肝乘肺也，
名曰橫，刺期門。
 腹滿譫語，裏之實也，其脈當沉實，而反浮緊，則非裏實，乃肝邪乘脾，氣窒而熱也，縱、
直也，以肝木制脾土，於理為直，故曰縱，發熱惡寒，表有邪也，其病不當有渴，而反大渴，
則非內熱，乃肝邪乘肺，氣鬱而燥也，以裏無熱，不能消水，故腹滿而汗出，小便利，則肺
氣以行，故愈，橫、不直也，以木畏金而反乘金，於理為由，故曰橫，二者俱瀉肝邪則愈，
故刺期門，期門、肝之募也，設不知而攻其實熱則誤矣，此病機之變，不可不審也。</p>
<p>太陽與少陽併病，頭項強痛，或眩冒，時如結胸，心下痞鞕者，當刺大椎第一節，肺俞，
肝俞，慎不可發汗，發汗則譫語，脈弦，五六日，譫語不止，當刺期門。
太陽少陽併病，心下鞕，頸項強而眩者，當刺大椎，肺俞，肝俞，慎勿下之。
 太陽之脈，其直者，從巔入絡腦，還出別下項，少陽之脈，起目銳眥，上抵頭角，其內行者，
由缺盆下胸中貫膈，絡肝屬膽，故頭項強痛者，太陽之邪未罷，或眩冒，時如結胸，心下痞
鞕者，少陽之邪方盛也，大椎在脊骨第一節上，刺之所以瀉太陽邪氣，而除頸項之強痛，
肺俞在脊骨第三節下兩旁，肝俞在第九節下兩旁，刺之所以瀉少陽邪氣，而除眩冒，時如結
胸，及心下之痞鞕，慎不可發汗，以亡胃液，液亡胃燥，必發譫語，且恐少陽之邪，得乘虛
而干胃也，若脈弦，至五六日，譫語不止，是少陽勝而陽明負，亦如陽明與少陽合病之病之
為失也，故當刺期門，以瀉少陽之邪，亦慎勿下之，以虛其胃，胃虛邪陷，必作結胸，如本
論云，太陽少陽併病，而反下之，成結胸也。</p>
<h2>卷六、太陰篇</h2>
<h3>辨列太陰條例大意</h3>
<p>太陰者，土也，在臟為脾，在氣為濕，傷寒傳經之熱，入而與之相搏，則為腹滿吐利等證，
直中之寒，入而與濕相摶，亦為腹滿吐利等證，但有肢冷肢溫，脈遲脈數，口渴不渴之異耳，
又三陰為三陽之裏，而三陰亦自有表裏，是以風寒所中，不必盡入於臟，而亦留連於經，故
有太陰中風之條，與桂枝發汗之法，又下利腹脹滿，身體疼痛者，為經臟俱病之證，故與先
裏先表之法，乃今之論三陰者，但云直中傳經而已，是知有三陰之裏，不知有三陰之表也，
茲篇先列臟病，次列經病，又次為經臟俱病，凡十條為一卷。</p>
<h3>太陰諸法</h3>
<h4>太陰藏病脈證治六條</h4>
<p>太陰之為病，腹滿而吐，食不下，自利益甚，時腹自痛，若下之，必胸下結鞕。
 此足太陰病之的證也，太陰之脈，入腹屬脾絡胃，上膈俠咽，故其病有腹滿而吐，食不下，
自利腹痛等證，然太陰為病，不特傳經如是，即直中亦如是，且不特傷寒如是，即雜病亦如
是，但有屬陰屬陽，為盛為虛之分耳，而太陰者，藏也，滿而不實，法不可下，若下之，則
胸下結鞕，中氣傷者，邪氣必結也。</p>
<p>本太陽病，醫反下之，因而腹滿時痛者，屬太陰也，桂枝加芍藥湯主之。
 病在太陽，不與解表，而反攻裏，因而邪氣乘虛，陷入太陰之位，為腹滿而時痛，陶氏所謂
誤下傳者是也，夫病因邪陷而來者，必得邪解而後愈，而藏陰為藥所傷者，亦必以藥和之而
後安，故須桂枝加芍藥湯主之，桂枝所以越外入之邪，芍藥所以安傷下之陰，山按金匱云，
傷寒陽脈濇，陰脈弦，法當腹中急痛者，與小建中湯，不差者，與小胡湯，此亦邪陷陰中之
故，而桂枝加芍藥，亦小建中之意，不用膠飴者，以其腹滿，不用膠飴者，以其腹滿，不欲
更以甘味增滿耳。</p>
<p>桂枝加芍藥湯方。
於桂枝湯方內，更加芍藥三兩。
隨前共六兩，餘依桂枝湯法。</p>
<p>大實痛者，桂枝加大黃湯主之。
 此承上條，而言腹滿而未實，痛而不甚者，可以桂枝加芍藥，和而解之，若大實大痛者，邪
氣成聚，必以桂枝加大黃，越陷邪而去實滯也，夫太陰，脾藏也，藏何以能實而可下，陽明
者，太陰之表，以膜相連，藏受邪而府不行則實，故脾非自實也，因胃實而實也，大黃所以
下胃，豈以下脾哉，少陰厥陰，亦有用承氣法，詳見各篇，所當互考。
桂枝加大黃湯方，
桂枝〔三兩去皮〕、甘草〔三兩炙〕、大黃〔一兩〕、生薑〔三兩切〕、大棗〔十二枚〕、
芍藥〔六兩〕，
右六味，以水七升，煮取三升，去滓，溫服一升，日三服。</p>
<p>太陰病，脈弱，其人續自便利，設當行大黃、芍藥者，宜減之，以其人胃氣弱，易動故也。
 此亦承上條，而言大黃、芍藥之得以用者，為其胃實而便堅也，若其人脈弱，續自便利，則
雖有大實痛證，此法不可用矣，即欲用之，亦宜量減而與之，所以然者，胃氣弱而不振，邪
氣不聚而易動，故可以緩圖，而難以峻攻也。</p>
<p>傷寒脈浮而緩，手足自溫者，是為繫在太陰，太陰者，身當發黃，若小便自利者，不能發黃，
至七八日，暴煩下利，日十餘行，必自止，以脾家實，穢腐當去故也。
 傷寒脈浮而緩者，脈緊去而成緩，為寒欲變熱之證，如太陽第四十七條之例也，手足自溫，
非太陰定證，見太陰有寒，手足必寒，有熱，手足乃自溫耳，又陽明受熱，則一身及手足熱，
太陰則身不熱，而手足溫，茲寒已變熱，而手足自溫，則傷寒之邪，不之陽明而之太陰，而
其脈仍浮，則其邪亦未盡入，故曰繫在太陰，謂以太陽而內連太陰也，於法太陰受熱而汗不
出者，熱與濕摶，當發身黃，若小便自利者，其熱得通，不能蒸鬱為黃矣，至七八日，暴煩
下利者，正氣內作，邪氣欲去也，雖日十餘行，繼必自止，所以然者，脾家本有穢腐當去，
故為自利，穢腐盡，則利亦必自止矣。</p>
<p>自利不渴者，屬太陰，以其藏有寒故也，當溫之，宜四逆輩。
 自利不渴者，太陰本自有寒，而陰邪又中之也，曰屬太陰，其藏有寒，明非陽經下利，及傳
經熱病之比，法當溫藏袪寒，如四逆湯之類，不可更以苦寒堅之清之，如黃今湯之例也。</p>
<h4>太陰經病證治二條</h4>
<p>太陰中風，四肢煩疼，陽微陰濇而長者，為欲愈。
 此太陰自中風邪之證，不從陽經來也，夫太陰，脾也，風，陽邪也，脾主行氣于四肢，而風
淫為末疾，故太陰中風，四肢煩熱而疼痛也，脈陽微陰濇而長者，陽無病而陰受邪，而濇又
為邪氣之將衰，長為正氣之方盛，正盛邪衰，故為欲愈。</p>
<p>太陰病，脈浮者，可發汗，宜桂枝湯。
 太陰脈浮有二義，或風邪中于太陰之經，其脈則浮，或從陽經傳入太陰，旋復反而之陽者，
其脈亦浮，浮者，病在經心，楓陰病在藏者宜溫，在經者則宜汗，如少陰之麻黃、附子、細
辛，厥陰之麻黃、升麻皆是也，桂枝湯甘辛入陰，故亦能發散太陰之邪。</p>
<h4>太陰經藏俱病一條</h4>
<p>下利腹脹滿，身體疼痛者，先溫其裏，乃攻其表，溫裏宜四逆湯，攻表宜桂枝湯。
 此條叔和本列厥陰篇中，今移置此。此太陰經藏，並受寒邪之證，叔和編入厥陰經中者，誤
也，下利腹脹滿，裏有寒也，身體疼痛，表有寒也，然必先溫其裏，而後攻其表，所以然者，
藏氣不充，則外攻無力，陽氣外泄，則裏寒轉增，自然之勢也，而四逆用生附，則寓發散于
溫補之中，桂枝有甘芍，則兼固裏于散邪之內，用法之精如此。</p>
<h4>太陰病愈期一條</h4>
<p>太陰病，欲解時，從亥至丑上。
 六經邪解之時，必于其經王之時，太陰者，土也，土王於辰戌丑未，而獨于亥子丑時解者，
脾為陰土，應王于陰，故其病欲解，必從亥至丑上也。</p>
<h2>卷七少陰篇</h2>
<h3>論列少陰條例大意</h3>
<p>少陰為太陽之裏，居厥太二陰之間，故有邪在太陽，而已內及少陰者，有寒中少陰，而仍
外連太陽者，有邪在少陰，而或兼厥陰，或兼太陰者，大抵連太陰者，多發熱，連厥陰者，
多厥利也，是傳經宜中之外，又有不同如此，且也直中之寒，久亦化熱，傳經之熱，極必生
陰，茲篇先列脈證于前，次清法，次溫法，又次為生死法，欲學者明辨宜清宜溫之實，不必
但泥傳經直中之名也，又其次為少陰病禁，以少陰為汗下之例，亦不得不著汗下之禁云，凡
四十五條為一卷。</p>
<h3>少陰諸法</h3>
<h4>少陰脈證四條</h4>
<p>少陰之為病，脈微細，但欲寐也。
 經脈陽淺而陰深，陽大而陰小，邪傳少陰，則脈之浮者轉為微，大者轉為細也，又多陽者多
寤，多陰者多寐，邪傳少陰則目不瞑者，轉而為但欲寐也，夫少陰者，三陰之樞也，陽於是
乎入，而陰於是乎出，故雖太陰厥陰，同為陰藏，而其為病，實惟少陰為然，而少陰之為病，
亦非獨脈微細，但欲寐二端，仲景特舉此者，以為從陽入陰久際，其脈證變見有如此。</p>
<p>少陰病，欲吐不吐，心煩，但欲寐，五六日，自利而渴者，屬少陰也，虛故引水自救，若小
便色白者，少陰病形悉具，小便白者，以下焦虛有寒，不能制水，故令色白也。
 此少陰自受寒邪之證，從陽經來也，寒初到經，欲受不可，欲卻能，故欲吐不吐，心煩，但
欲寐，而實不能寐也，至五六日，自利而渴，則其邪已入少陰之藏矣，然少陰，陰藏也，寒，
陰邪也，以陰受陰，法當不渴，而渴者，此非有熱，以藏虛故引水自救耳，更審其小便，若
色白者，則少陰寒病，全體大露無疑，何以言之，熱傳少陰，自利而渴者，邪熱足以消水，
其小便色必赤，寒中少陰，自利而渴者，雖能飲而不能制，其小便色必白也，仲景辨證之精
如此。</p>
<p>病人脈陰陽俱緊，反汗出者，亡陽也，此屬少陰，法當咽痛而復吐利。
 陰陽俱緊，太陽傷寒之脈也，法當無汗，而反汗出者，表虛亡陽，其病不屬太陽而屬少陰矣，
少陰之脈，上膈循喉嚨，少陰之藏，為胃之關，為二陰之司，寒邪直入，經藏俱受，故當咽
痛，而復吐利也，此為寒傷太陽，陽虛不任，因遂轉入少陰之證，蓋太陽者，少陰之表，猶
唇齒也，唇亡則齒寒，陽亡則陰及，故曰少陰之邪，從太陽飛渡者多也。</p>
<p>少陰病，八九日，一身手足盡熱者，以熱在膀胱，必便血也。
 此熱傳少陰，而復還入膀胱之證，膀胱者，太陽也，太陽為三陽之表，而多血少氣，熱在膀
胱，則一身手足盡熱，而熱氣有餘，血為熱迫，散而下行，則必便血也。</p>
<h4>少陰清法七條</h4>
<p>少陰病，得之二三日以上，心中煩，不得臥，黃連阿膠湯主之。
 少陰之熱，有從陽經傳入者，亦有自受寒邪，久而變熱者，曰二三日以上，謂自二二日至五
六日，或八九日，寒極而變熱也，至心中煩不得臥，則熱氣內動，盡入血中，而諸陰蒙其害
矣，蓋陽經之寒變，則熱歸於氣，或入於血，陰經之寒變，則熱入於血，而不歸於氣，此余
歷試之驗也，故用黃連、黃芩之苦，合阿膠、芍藥、雞子黃之甘，併入血中，以生陰氣，而
除邪熱，成氏所謂陽有餘，以苦除之，陰不足，以甘補之是也。
黃連阿膠湯方，
黃連〔四兩〕、黃芩〔一兩〕、芍藥〔二兩〕、阿膠〔三兩〕、雞子黃〔二枚〕，
右五味，以水五升，先煮三物，取二升，去滓，內阿膠，烊盡小冷，內雞子黃，攪令相得，
溫服七合，日三服。</p>
<p>少陰病，四逆，其人或咳，或悸，或小便不利，或腹中痛，或泄利下重者，四逆散主之。
 四逆，四肢逆冷也，此非熱厥，亦太陽初受寒邪，未鬱為熱，而便入少陰之證，少陰為三陰
之樞，猶少陽為三陽之樞也，其進而入則在陰，退而出則就陽，邪氣居之，有可進可退，時
上時下之勢，故其為病，有或咳，或悸，或小便不利，或腹中痛，或泄利下重之證，夫邪在
外者，可引而散之，在內者，可下而去之，其在外內之間者，則和解而分消之，分消者，半
從外半從內之謂也，故用柴胡之辛，揚之使從外出，枳實之苦，抑之使其內消，而其所以能
內能外者，則樞機之用為多，故必以芍藥之酸益其陰，甘草之甘養其陽，曰四逆者，因其所
治之病而命之名耳，而其制方大意，亦與小柴胡相似，四逆之柴胡枳實，猶小柴胡之柴胡、
黃芩也，四逆之芍藥、甘草，猶小柴胡之人參、甘草也，且枳實兼擅滌飲之長，甘、芍亦備
營衛兩和之任，特以為病有陰陽之異，故用藥亦分氣血之殊，而其輔正逐邪，和解表裏，則
兩方如一方也，舊謂此為治熱深發厥之藥，非是，夫果熱深發厥，則屬厥應下之之例矣，豈
此藥所能治哉。</p>
<p>四逆散方，
柴胡、枳實〔破水漬炙乾〕、芍藥、甘草〔炙〕，
右四味，各十分，搗篩，白飲和服方寸匕，日三服。</p>
<p>欬者，加五味子、乾薑各五分，并主下利。
 成氏曰，肺寒氣逆則欬，五味子之酸收逆氣，乾薑之辛散肺寒，并主下利者，肺與大腸為表
裏，上欬下利，治則頗同。</p>
<p>悸者，加桂枝五分。
 悸者寒多，心脈不通則心下鼓也，桂枝辛溫，入心通陽氣。
小便不利者，加茯苓五分。
 小便不利，水聚於下也，茯苓甘淡，利竅滲水。
腹中痛者，加附子一枚，炮令拆。
 腹中痛，寒勝於裏也，附子辛溫，散寒止痛。
泄利下重者，先以水五升，煮薤白三升，煮取三升，去滓，以散三方寸匕內湯中，煮取一升
半，分溫再服。
 泄利下重，寒滯於下也，薤白辛溫，散寒通陽氣。
少陰病，下利，六七日，欬而嘔渴，心煩不得眠者，豬苓湯主之。
 少陰中寒，下利至六七日，寒變為熱，而氣復上行，為欬，為嘔，為渴，為心煩不得眠，所
謂下行極而上也，夫邪氣自下而上者，仍須從下引而出之，豬苓、茯苓、澤瀉、滑石，並甘
淡下行之藥，足勝導水泄熱之用，然以陰病而屬邪熱，設非得阿膠之鹹寒入陰，何以馭諸陽
藥而泄陰中之熱，導浮上之氣哉。</p>
<p>少陰病，下利咽痛，胸滿心煩者，豬膚湯主之。
 少陰之脈，從腎上貫肝膈，入肺中循喉嚨，其支別者，從肺出絡心，注胸中，陽邪傳入少陰，
下為泄利，上為咽痛，胸滿心煩，熱氣充斥脈中，不特泄傷本藏之氣，亦且消爍心肺之陰矣，
豬水畜而膚甘寒，其氣味先入少陰，益陰除客熱，止咽痛，故以為君，加白蜜之甘以緩急，
潤以除燥而煩滿愈，白粉之甘能補中，溫能養藏而泄利止矣。</p>
<p>豬膚湯方。
豬膚一觔，以水一斗，煮取五升，去滓，加白蜜一升，白粉五合，熬香，和相得，溫分六服。
少陰病，咽中傷，生瘡，不能語言，聲不出者，苦酒湯主之。
 少陰熱氣，隨經上沖，咽傷生瘡，不能語言，音聲不出，東垣所謂少陰邪入於裏，上接於心，
與火俱化而剋金也，故與半夏之辛以散結熱，止咽痛，雞子白甘寒入肺，清熱氣，通聲音，
苦酒苦酸，消瘡腫散邪毒也。</p>
<p>苦酒湯方。
半夏十四枚，洗破，如棗核大。
雞子一枚，去黃，內上苦酒，著雞子殼中，內半夏著苦酒中，雞子殼置刀環中，安火上，令
三沸，去滓，少少含嚥之，不瘥，更作三劑服之。</p>
<p>少陰病，二三日，咽痛者，可與甘草湯，不差者，與桔梗湯。
 此亦熱傳少陰，而上為咽痛之法，甘草湯，甘以緩急，寒以除熱也，其甚而不瘥者，則必以
辛發之，而以甘緩之，甘草、桔梗，甘辛合用，而甘勝於辛，治陰虛客熱，其法輕重，當如
是耳。</p>
<p>甘草湯方。
甘草二兩，以水三升，煮取一升半，去滓，溫服七合，日二服。
桔梗湯方，
桔梗〔一兩〕、甘草〔二兩〕，
右二味，以水二升，煮取一升，去滓，分溫再服。
少陰病，咽中痛，半夏散及湯主之。
 少陰咽痛，甘不能緩者，必以辛散之，寒不能除者，必以溫發之，蓋少陰客邪，鬱聚咽嗌之
間，既不得出，復不得入，設以寒治，則聚益甚，投以辛溫，則鬱反通，內經微者逆之，甚
者從之之意也，半夏散及湯，甘辛合用，而辛勝於甘，其氣又溫，不特能解客寒之氣，亦能
劫散咽喉怫鬱之熱也。
半夏散及湯方，
半夏〔洗〕、桂枝〔去皮〕、甘草〔炙各等分〕，
以上三味，各別搗篩巳，合治之，白飲和服方寸匕，日三服，若不能散服者，以水一升，煎
七沸，內散兩方寸匕，更煎三沸，下火令小冷，少少嚥之。</p>
<h4>少陰下法三條</h4>
<p>少陰病，得之二三日，口燥咽乾者，急下之，宜大承氣湯。
 此少陰熱併陽明之證，二三日，為病未久，而便口燥咽乾，熱氣盛而陰氣少矣，蓋陽明土，
少陰水，熱併陽明，則土實而水虛，不特熱氣傷陰，即土氣亦傷水也，故宜急下，以瀉土而
全水，不然，熱盛傷陰，土實亦傷陰，其乾槁可立而待，然非心下痛，腹脹不大便，如下二
條所云，亦未可以大承氣輕試也。</p>
<p>少陰病，自利清水，色純青，心下必痛，口乾燥者，急下之，宜大承氣湯。
 此亦少陰熱併陽明，而氣復下注之證，然雖下注而邪實不去，但水液從旁下轉，為自利清水
而已，故心下痛而口乾燥也，色純青者，土受水邪，玄黃合色，而色轉純青也，以大承氣急
下，則胃實去而腎病亦已亦。</p>
<p>少陰病，六七日，腹脹不大便者，急下之，宜大承氣湯。
 腹脹不大便，土實之徵也，土實則水乾，故非急下不可，夫陽明居中土也，萬物所歸，故無
論三陽三陰，其邪皆得還入于胃，而成可下之證，然太陰傳陽明，臟邪還府，為欲愈也，厥
陰傳陽明者，木邪歸土，不能復木也，惟少陰則腎邪入胃，而胃實復將消腎，故雖並用下法，
而少陰之法，視太陰厥陰為加峻矣。</p>
<h4>少陰溫法十五條</h4>
<p>少陰病，始得之，反發熱，脈沉者，麻黃附子細辛湯主之。
 此寒中少陰之經，而復外連太陽之證，以少陰與太陽為表裏，其氣相通故也，少陰始得本無
熱，而外連太陽則反發熱，陽病脈當浮而仍繫，少陰則脈不浮而沉，故與附子、細辛，耑溫
少陰之經，麻黃兼發太陽之表，乃少陰經溫經散寒，表裏兼治之法也。</p>
<p>麻黃附子細辛湯方。
麻黃〔二兩去節〕、附子〔一枚炮去皮破八片〕、細辛〔二兩〕，
右二味，以水一斗，先煮麻黃二升，去上沫，內諸藥，煮取三升，去滓，溫服一升，日三服。
 按陽證有在經不在府者，陰病亦有在經不在藏者，太陽篇云，脈浮者，桂枝湯，少陰篇，始
得之，反發熱，脈沉者，麻黃附子細辛湯，及得之二三日，麻黃附子甘草湯，厥陰篇，厥陰
中風，脈微浮為欲愈，此皆陰病之在經，而未入於藏者。</p>
<p>少陰病，得之二三日，麻黃附子甘草湯，微發汗，以二三日無裏證，故微發汗也。
少陰中寒二三日，為脈沉惡寒無熱之時，故可與麻黃附子甘草湯，以取微汗而散寒邪，無裏
證者，無吐利心煩不得臥等證也，以二三日，病未入藏，而寒亦未變熱，故得用溫經散邪之
法，如麻黃、附子、細辛之例，然去細辛之辛，而加甘草之甘，于法為較和矣，所以然者，
寒邪不可不發，而陰病又不可過發耳。</p>
<p>麻黃附子甘草湯方，
麻黃〔二兩去節〕、附子〔一枚炮去皮〕、甘草〔二兩炙〕，
右三味，以水七升，先煮，麻黃一二沸，去上沫，內諸藥，煮取三升，去滓，溫服一升，日
三服。</p>
<p>少陰病，得之一二日，口中和，其背惡寒者，當灸之，附子湯主之。
 口中和，不燥不渴，為裏無熱也，背惡寒者，背為陽，而陰乘之，不能通于外也，陽不通，
故當灸之以通陽，痺陽不足，故主附子湯以補陽虛，非如麻黃、附子、細辛之屬，徒以溫散
為事矣，此陽虛受寒，而虛甚於寒者之治法也。按元和紀用經云，少陰中寒而背惡寒者，口
中則和，陽明受熱而背惡寒者，則口燥而心煩，一為陰寒下乘，陽氣受傷，一為陽熱入裏，
津液不足，是以背惡寒雖同，而口中和與燥則異，此辨證之要也。</p>
<p>附子湯方，
附子〔二枚炮去皮破八片〕、茯苓、芍藥〔各三兩〕、人參〔二兩〕、白朮〔四兩〕，
右五味，以水八升，煮取三升，去滓，溫服一升，日三服。
 氣虛者，補之必以甘，氣寒者，溫之必以辛，甘辛合用，足以助正氣而散陰邪，人參、白朮、
茯苓、附子是也，而病屬陰經，故又須芍藥以和陰氣，且引附子入陰散寒，所謂鄉導之兵也。</p>
<p>少陰病，身體痛，手足寒，骨節痛，脈沉者，附子湯主之。
 身體痛，骨節痛，寒在陰也，手足寒，脈沉，病屬陰也，若脈浮而手足熱，則為太陽傷寒，
可與汗解者矣，此為少陰血氣不足，而寒邪侵之之證，故亦宜附子湯，復陽散陰，益精氣也。</p>
<p>少陰病，二三日不已，至四五日，腹痛，小便不利，四肢沉重疼痛，自下利者，此為有水氣，
其人或欬，或小便利，或嘔者，真武湯主之。
 少陰中寒，二三日不已，至四五日，邪氣遞深而藏受其病矣，藏寒故腹痛，寒勝而陽不行，
故小便不利，于是水寒相摶，浸淫內外，四肢沉重疼痛，為自下利，皆水你乘寒氣而動之故
也，其人或欬，或小便利，或下利，或嘔者，水寒之氣，或聚或散或止，三服。</p>
<p>後加減法。
若欬者，加五味子半升，細辛、乾薑各一兩。
 欬者，水寒射肺，氣逆而不下也，成氏曰，五味子之酸，以收逆氣，細辛、乾薑之辛，以散
水寒。</p>
<p>若小便利者，去茯苓。
 小便利者，水已下趨，不必更利其水，故去茯苓。</p>
<p>若下利者，去芍藥，加乾薑二兩。
 下利者，寒盛於內也，故去芍藥加乾薑，避寒而就溫也。</p>
<p>若嘔者，去附子加生薑，足前成半觔。
 嘔者，氣逆于上也，故去附子，加生薑二物，辛熱則同，而生薑善降逆，附子能行而不能下，
則不同也。</p>
<p>少陰病，下利清穀，裏寒外熱，手足厥逆，脈微欲絕，身反不惡寒，其人面赤色，或腹痛，
或乾嘔，或咽痛，或利止脈不出者，通脈四逆湯主之。
 此寒中少陰，陰盛格陽之證，下利清穀，手足厥逆，脈微欲絕者，陰盛於內也，身熱不惡寒，
面赤色，格陽於外也，為真陽之氣，被陰寒所迫，不安其處，而遊散於外，故顯諸熱象，而
實非熱也，通脈四逆，即四逆加乾薑一倍，為陰內陽外，脈絕不通，故增辛熱以逐寒邪，寒
去則陽復反，而脈復出耳，故曰其脈即出者愈。</p>
<p>通脈四逆湯方。
甘草〔二兩炙〕、附子〔大者一枚生用去皮破八片〕、乾薑〔三兩，強人可四兩〕，
右三味，以水三升，煮取一升二合，去滓，分溫再服，其脈即出者愈。</p>
<p>面色赤者，加蔥九莖。
 面色赤，陽格於上也，蔥中空，味辛，能通陽氣。</p>
<p>腹中痛者，去蔥，加芍藥二兩。
 腹中痛，陰滯於裏也，芍藥味酸，能利陰氣，止腹痛，故加之，蔥通陽而不利陰，故去之。</p>
<p>嘔者，加生薑二兩。
 嘔者，陰氣上逆也，生薑之辛，可散陰而降逆。</p>
<p>咽痛者，去芍藥，加桔梗一兩。
 咽痛者，陽氣上結也，桔梗之辛，可開陽結，去芍藥者，惡其收也。</p>
<p>利止脈不出，去桔梗，加人參二兩。
 利止脈不出，亡血也，故不利，桔梗之散而利，人參之甘而能補也。</p>
<p>少陰病，飲食入口則吐，心中溫溫欲吐，復不能吐，始得之，手足寒，脈弦遲者，此胸中實，
不可下也，當吐之，若膈上有寒飲，乾嘔者，不可吐也，急溫之，宜四逆湯。
 腎者，胃之關也，關門受邪，上逆於胃，則飲食入口即吐，或心中溫溫欲吐，而復不能吐也，
夫下氣上逆而為吐者，原有可下之例，如本論之噦而腹滿，視其前後，知何部不利者而利之，
金匱之食已即吐者，大黃甘草湯主之是也，若始得之，手足寒，脈弦遲者，胸中邪實而陽氣
不布也，則其病不在下而在上，其治法不可下而可吐，所謂因其高者而越之也，若膈上有寒
飲而致乾嘔者，則復不可吐而可溫，所謂病痰飲者，當以溫藥和之也，故實可下，而胸中實
則不可下，飲可吐，而寒飲則不可吐，仲景立法，明辨詳審如此。</p>
<p>少陰病，脈沉者，急溫之，宜四逆湯。
 此不詳何證，而但憑脈以論治，曰少陰病脈沉者，急溫之，宜四逆湯，然苟無厥逆惡寒下利
不渴等證，未可急與溫法，愚謂學者，當從全書會通，不可拘于一文一字之間者，此又其一
也。</p>
<p>少陰病，下利，脈微濇，嘔而汗出，必數更衣，反少者，當溫其上，灸之。
 少陰病，下利脈微濇，陰傷於下也，嘔而汗出，陽虛於上也，陰陽並傷，法必上下並溫矣，
若更衣雖數，而所下無多，尤為陰亡之驗，是但當溫其上而不可溫其下，即溫上之法，亦不
可以藥傷其陰，而但宜灸以引其陽也，灸法未詳。</p>
<p>少陰病吐利，手足厥冷，煩躁欲死者，吳茱萸湯主之。
 此寒中少陰，而復上攻陽明之證，吐利厥冷，煩躁欲死者，陰邪盛極而陽氣不勝也，故以吳
茱萸溫裏散寒為主，而既吐且利，中氣必傷，故以人參、大棗，益虛安中為輔也，然後條云，
少陰病，吐利煩躁，四逆者死，此復以吳茱萸湯主之者，彼為陰極而陽欲絕，此為陰盛而陽
來爭也，病證則同，而辨之於爭與絕之間，蓋亦微矣，或云先厥冷而後煩躁者，陽欲復而來
爭也，先煩躁而四逆者，陽不勝而欲絕也，亦通，郭白雲云，四逆而煩躁者，不問其餘證，
先宜服吳茱萸湯，四逆而不煩躁者，先宜服四逆湯，四逆下利，脈不出者，先宜服通脈四逆
湯，此三者，治少陰之大法也。</p>
<p>少陰病下利，白通湯主之。少陰病下利，脈微者，與白通湯，利不止，厥逆無脈，乾嘔煩者，
白通加豬膽汁湯主之，服湯脈暴出者，死，微續者，生。
 少陰病，下利脈微者，寒邪直中，陽氣暴虛，既不能固其內，復不能通於脈，故宜薑附之辛
而溫者，破陰固裏，蔥白之辛而通者，入脈引陽也，若服湯已，下利不止，而反厥逆無脈，
乾嘔煩者，非藥之不中病也，陰寒太甚，上為格拒，王太僕所謂甚大寒熱，必能與違性者爭
雄，異氣者相格也，故即於白通湯中，加人尿之鹹寒，豬膽汁之苦寒，反其佐，以同其氣，
使不相格而適相成，內經所謂寒熱溫涼，反從其病是也，脈暴出者，無根之陽，發露不遺，
故死，脈微續者，被抑之陽，來復有漸，故生。</p>
<p>白通湯方，
蔥白〔四莖〕、乾薑〔一兩〕、生附子〔一枚去皮破〕，
右三味，以水三升，煮取一升，去滓，分溫再服。</p>
<p>白通加豬膽汁湯方，蔥白〔四莖〕、乾薑〔一兩〕、豬膽汁〔一合〕、人尿〔五合〕、附子
〔一枚去皮破八片〕，
以上三味，以水三升，煮取一升，去滓，內人尿豬膽汁，和令相得，分溫再服，若無膽亦可
用。</p>
<p>少陰病，下利膿血者，桃花湯主之。少陰病，二三日至四五日，腹痛，小便不利。
下利不止，便膿血者，桃花湯主之。少陰病，下利便膿血者，可刺。
 少陰病，下利便膿血者，藏病在陰，而寒復傷血也，血傷故腹痛，陰病故小便不利，與陽經
挾熱下利不同，故以赤石脂理血固脫，乾薑溫裏散寒，粳米安中益氣，用刺法者，以邪陷血
中，刺之以行血散邪耳，刺法未詳。</p>
<p>桃花湯方，
赤石脂〔一觔一半全用一半篩末〕、乾薑〔一兩〕、粳米〔一升〕，
右三味，以水七升，煎米令熟，去滓，溫服七合，內赤石脂末方寸七，日三服，若一服愈，
餘勿服。</p>
<h4>少陰生死法十二條</h4>
<p>少陰中風，脈陽微陰浮者，為欲愈。
 少陰中風者，少陰之經，自中風邪，不從陽經傳入者也，脈陽微者，邪氣微，陰浮者，邪氣
淺，而裏氣和，故為欲愈，亦陰病得陽脈則生也。</p>
<p>少陰病，欲解，從子至寅上。
 少陰，水藏也，少陰之病，陰邪也，水王于子，而陽長于寅，少陰病欲解，從子至寅上者，
陰氣待子則王，而陰邪得陽則解也。</p>
<p>少陰病脈緊，至七八日，自下利，脈暴微，手足反溫，脈緊反去者，為欲解也，雖煩下利，
必自止。
 寒傷少陰之經，手足厥冷而脈緊，至七八日，邪氣自經入藏，自下利而脈微，其病為較深矣，
乃手足反溫，脈緊反去者，陽氣內充，而陰邪不能自容也，故為欲解，雖煩下利，必自止者，
邪氣轉從下出，與太陰之穢腐當去而下利者同意，設邪氣盡，則煩與利，亦必自止耳。</p>
<p>少陰病，下利，若利自止，惡寒而踡臥，手足溫者，可治，少陰病，惡寒而踡，時自煩欲去
衣被者，可治。
少陰病，吐利，手足不逆冷，反發熱者，不死，脈不至者，灸少陰七壯。
 寒中少陰，或下利，或惡寒而踡臥，或吐利交作，而脈不至，陰邪盛而陽氣衰之候也，若利
自止，手足溫，或自煩欲去衣被，或反發熱，則陽氣已復，而陰邪將退，故皆得不死而可治，
脈不至者，吐利交作，元氣暴虛，脈乍不至也，灸少陰以引陽氣，脈必自至，總之傳經之病，
以陰氣之存亡為生死，直中之病，以陽氣之消長為生死也。</p>
<p>少陰病，惡寒身踡而利，手足逆冷者，不治。
少陰病，四逆惡寒而身踡，脈不至，不煩而躁者，死。
 惡寒身踡而利，手足逆冷，陰氣太盛，陽氣不振，與前利止手足溫等證正相反，蓋手足溫時，
自煩發熱者，陽道長，陰道消也，手足逆冷，不煩而躁者，陰氣長，陽氣消也，且四逆而脈
不至，與手足溫而脈不至者不同，彼則陽氣乍厥，引之即出，此則陽氣已絕，招之不返也，
而煩與躁又不同，煩者，熱而煩也，躁者，亂而不必熱也，煩而躁者，陽怒而與陰爭，期在
必勝，則生，不煩而躁者，陽不能戰，復不能安而欲散去，則死也。</p>
<p>少陰病，吐利煩躁，四逆者，死。
 寒中少陰，吐利交作，陰邪已太盛矣，然或自煩發熱，或手足不逆冷，則陽氣猶在，陰邪雖
盛，猶或可治，所謂吐利，手足不逆冷，反發熱者，不死也，若更煩躁四逆，則陽氣有散亡
之象，陰邪無退舍之期，雖欲不死，烏可得耶。</p>
<p>少陰病，下利止而頭眩，時時自冒者，死。
 下利止，非利自愈也，藏陰盡也，眩、目黑而轉也，冒、昏冒也，陰氣既盡，孤陽無附，而
浮亂於止，故頭眩時時自冒也，而陰氣難以卒復，孤陽且易上散，雖有良藥，亦無及矣，是
以少陰病，陽復利止則生，陰盡利止則死也。</p>
<p>少陰病，六七日，息高者死。
 息高，氣高而喘也，少陰為真氣之源，呼吸之根，六七日病不愈而息高者，邪氣不去體，而
氣已離根也，故死。</p>
<p>少陰病，脈微細沉，但欲臥，汗出不煩，自欲吐，至五六日自利，復煩躁，不得臥寐者死。
 脈微細沉但欲臥，邪傳少陰之本證，如本篇第一條所云也，汗出不煩者，氣外泄而邪不與俱
泄也，自欲吐，繼後自利者，邪上下行，而氣不能驅而出之也，至煩躁不得臥寐，則陰陽盡
虛，邪氣獨盛，正不勝邪，躁擾不寧，頃之離散而死矣，所謂病勝藏者死是也。</p>
<h4>少陰病禁四條</h4>
<p>少陰病，脈細沉數，病為在裏，不可發汗。
 少陰與太陽為表裏，而少陰亦自有表裏，經病為在表，藏病為在裏也，浮沉而身發熱，為病
在表，脈細沉數，身不發熱，為病在裏，病在表者可發汗，如麻黃附子細辛湯之例是也，病
在裏而汗之，是竭其陰而動其血也，故曰不可發汗。</p>
<p>少陰病，脈微，不可發汗，亡陽故也，陽已虛，尺脈弱濇者，復不可下之。
 少陰雖為陰藏，而元陽寓焉，故其病有亡陽亡陰之異，脈微者為亡陽，脈弱濇者為亡陰，發
汗則傷陽，故脈微者，不可發汗，下則傷陰，故陽已虛而尺脈弱濇者，非特不可發汗，亦復
不可下之也。</p>
<p>少陰病，但厥無汗而強發之，必動其血，未知從何道出，或從口鼻，或從目出，是名下厥上
竭，為難治。
 少陰中寒，但厥無汗，邪方內淫而氣不外達，非可得汗愈者而強發之，則汗必不出，而血反
自動，或口鼻，或目，隨其所攻之道而外出也，蓋發汗之藥，其氣上行，而性多慄悍，不得
於氣，則去而之血，必盡其性而後止耳，然既藏虛邪入，以致下厥而復迫血妄動，以致上竭，
上下交征，而血氣之存者，無幾矣，尚何以禦邪而卻疾耶，故曰難治。</p>
<p>少陰病，欬而下利譫語者，被火氣劫故也，小便必難，以強責少陰汗也。
 少陰之邪，上逆而欬，下注而利矣，而又復譫語，此非少陰本病，乃被火氣劫奪津液所致，
火劫即溫鍼灼艾之屬，少陰不當發汗，而強以火劫之，不特竭其腎陰，亦併耗其胃液，胃乾
則譫語，腎燥則小便難也。</p>
<h2>卷八厥陰篇</h2>
<h3>辨列厥陰條例大意</h3>
<p>厥陰為陰之盡，為藏之極，陰極而盡，則必復反而之陽，故厥陰之生死，在厥熱之進退也，
本篇於厥陰脈證之下，先辨厥熱進退，所以明生死之機，次論生死微甚，所以明陰陽之故也，
而厥陰有熱，慮其傷陰，必以法清之，厥陰有寒，慮其傷陽，必以法溫之，一如少陰之例也，
蓋厥陰少陰，同為陰藏，而俱屬陽火，故於二者群分類聚，欲學者明辨而深思之耳，其次為
厥陰汗下諸禁，蓋欲蒙其利，不可不知其害也，其次為厥陰簡誤，以厥陰篇中，雜入太陰少
陰太陽之文，傳誤已久，習焉不察，特檢出之，其次為差後勞復等法，則去疾者，莫若盡之
意也，凡六十二條，為一卷。</p>
<h3>厥陰諸法</h3>
<h4>厥陰病脈證五條</h4>
<p>厥陰之為病，消渴，氣上衝心，心中疼熱，飢而不欲食，食則吐蚘，下之利不止。
 傷寒之病，邪愈深者，其熱愈甚，厥陰為陰之盡，而風木之氣，又足以生陽火而鑠陽津，津
虛火實，藏燥無液，求救於水，則為消渴，消湯者，水入不足以制熱，而反為熱所消也，氣
上衝心，心中疼熱者，火生於木，肝氣通心也，飢而不欲食者，木喜攻土，胃虛求食，而邪
熱復不能消穀也，食入即吐蚘者，蚘無食而動，聞食臭而出也，下之利不止者，胃家重傷而
邪熱下注也，此厥陰在藏之的證，病從陽經傳入者也。</p>
<p>傷寒四五日，腹中痛，若轉氣下趨少腹者，此欲自利也。
 傷寒四五日，正邪氣傳裏之時，若腹中痛而滿者，熱聚而實，將成可下之證，茲腹中痛而不
滿，但時時轉氣，下趨少腹者，熱不得聚而從下注，將成下利之候也，而下利有陰陽之分，
先發熱而後下利者，傳經之熱邪內陷，此為熱利，必有內煩脈數等證，不發熱而下利者，直
中之陰邪下注，此為寒利，必有厥冷脈微等證，要在審問明白也。</p>
<p>下利，寸脈反浮數，尺中自濇者，必圊膿血。
 此陽邪入裏而作下利之證，寸浮數者，陽邪強也，尺中濇者，陰氣弱也，以強陽而加弱陰，
必圊膿血。</p>
<p>下利脈沉而遲，其人面少赤，身有微熱，利清穀者，必鬱冒汗出而解，病人必微厥，所以然
者，其面戴陽，下虛故也。
 下利清穀，脈沉而遲，陰在裏在下也，面少赤，身有微熱，陽在上在外也，夫陰內陽外而為
病者，必得陽入陰出而後解，而面雖赤而未甚，身雖熱而亦微，則其陽之發露者，僅十之三，
而潛藏者，尚十之七也，藏而能動，必當與陰相爭，爭而未勝則鬱冒，爭而既勝則汗出，汗
出而內伏之陰從外出，外出之陽從內入，而病乃解矣，然此證下虛無氣，中上不守，惟藉君
主之靈，以收散亡之氣，而驅沉伏之陰，鬱冒汗出，則心君震怒之候也，譬之澶淵之役，苟
非真宗銳意親征則契丹大舉之寇，必不能卻，然而安危反掌，中外震驚，病人所以必微厥也，
設非下虛之故，何至危殆若是，然或真陽畢露，則必不能與邪爭，不爭亦必無幸矣。</p>
<p>病者，手足厥冷，不結胸，但少腹滿，按之痛者，此冷結在膀胱關元也。
手足厥冷，原有陰陽虛實之別，若其人結胸，則邪結于上而陽不得通，如後所云，病人手足
厥冷，脈乍緊，邪結在胸中，當須土之，以通其陽者也，若不結胸，但少腹滿，按之痛者，
則是陰冷內結，元陽不振，病在膀胱關元之間，必以甘辛溫藥，如四逆白通之屬，以救陽氣
而驅陰邪也。</p>
<h4>厥陰進退之機七條</h4>
<p>傷寒一二日，至四五日而厥者，必發熱，前熱者後必厥，厥深者熱亦深，厥微者熱亦微，厥
應下之，而反發汗者，必口傷爛赤。
 傷寒一二日，至四五日，正陰陽邪正，交爭互勝之時，或陰受病而厥者，勢必轉而為熱，陰
勝而陽爭之也，或陽受病而熱者，甚則亦變而為厥，陽勝而陰被格也，夫陽勝而陰格者，其
厥非真寒也，陽陷於中，而陰見於外也，是以熱深者厥亦深，熱微者厥亦微，隨熱之淺深，
而為厥之微甚也，夫病在陽者宜汗，病在裏者宜下，厥者熱深在裏，法當下之，而反發汗，
則必口傷爛赤，蓋以蘊隆之熱，而被升浮之氣，不從下出而從上逆故耳。</p>
<p>傷寒病，厥五日，熱亦五日，設六日，當復厥，不厥者自愈，厥終不過五日，以熱五日，故
知自愈。
 傷寒厥五日，熱亦五日者，陰勝而陽復之也，至六日，陰當復勝而厥，設不厥，則陰退而邪
解矣，故自愈，夫厥與熱，陰陽消長之兆也，茲初病至終，其厥不過五日，而厥已而熱，亦
得五日，是其復之之數，當其勝之之數，所謂有陽則復，無太過亦無不及，故知其病自愈也。</p>
<p>傷寒發熱四日，厥反三日，復熱四日，厥少熱多，其病當愈，四日至七日，熱不除者，其後
必便膿血。傷寒厥四日，熱反三日，厥復五日，其病為進，寒多熱少，陽氣退，故為進也。
 熱已而厥者，邪氣自表而之裏也，乃厥未已，而熱之日，又多於厥之日，則邪復轉而之表矣，
故病當愈，其熱則除，乃四日至七日而不除者，其熱必侵及營中而便膿血，所謂熱氣有餘，
必發癰膿也，厥已而熱者，陽氣復而陰邪退也，乃熱未已而復厥，而厥又多於熱之日，則其
病為進，所以然者，寒多熱少，陽氣不振，則陰邪復勝也，要之熱已而厥者，傳經之證，慮
其陽邪遞深也，厥已而熱者，直中之證，慮其陽氣不振也，故傳經之厥熱，以邪氣之出入言，
直中之厥熱，以陰陽之勝復言，病證則同，而其故有不同如此，學者能辨乎此，則庶幾矣。</p>
<p>傷寒先厥，後發熱而利者，必自止，見厥復利。
 傷寒先厥者，陰先受邪也，後熱者，邪從陰而出陽也，陰受邪而利，及邪出而之陽，故利必
自止，設復厥，則邪還入而之陰，故必復利，蓋邪氣在陽則生熱，在陰則為厥與利，自然之
道也。</p>
<p>傷寒始發熱六日，厥反九日而利，凡厥利者，當不能食，今反能食者，恐為除中食以索餅，
不發熱者，知胃氣尚在，必愈，恐暴熱來出而復去也，後三日脈之，其熱續在者，期至旦日
夜半愈所以然者，本發熱六日，厥反九日，復發熱三日，并前六日，亦為九日，與厥相應，
故期至旦日夜半愈，後三日脈之，而脈數，其熱不罷者，此為熱氣有餘，必發癰膿也。
傷寒始發熱六日，厥反九日而又下利者，邪氣從陽之陰，而盛於陰也，陰盛則當不能食，而
反能食者，恐為除中，中者，胃中之陽氣也，除，去而盡之也，言胃氣為邪氣所迫，盡情發
露，不留餘蘊也，不發熱，不字當作若，謂試以索餅食之，若果胃氣無餘，必不能蒸鬱成熱，
今反熱者，知胃氣尚在，非除中之謂矣，而又恐暴熱暫來而復去，仍是胃陽發露之凶徵也，
後三日脈之，而其熱仍在，則其能食者，乃為胃陽復振無疑，故期至旦日夜半，其病當愈，
所以然者，本發熱六日，厥反九日，熱少厥多，其病當進，茲復發熱三日，并前六日，亦為
九日，適與厥日相應，故知其旦日夜半，其病當愈，旦日猶明日也，然厥與熱者，陰陽勝負
之機，不可偏也，偏於厥則陰勝而礙陽矣，偏於熱則陽勝而礙陰矣，後三日脈之，而脈反加
數，熱復不止，則陽氣偏勝，必致傷及營血，而發為癰膿也。</p>
<p>傷寒先厥後發熱，下利必自止，而反汗出，咽中痛者，其喉為痺，發熱無汗，而利必自止，
若不止，必便膿血，便膿血者，其喉不痺。
 傷寒之邪見於陽者，不必見於陰，見於下者，不必見於上，厥已而熱，下利自止者，陰邪轉
而之陽也，其邪必解而咽中痛者，未盡之熱，厥而上行也，故其喉為痺，發熱無汗者，邪氣
鬱而在陽也，雖下利，法當自止，而反不止者，以無汗出，熱仍從裏行也，故必便膿血便膿
血者，其喉不痺，邪在下者，則不復在上也。</p>
<p>傷寒熱少厥微，指頭寒，默默不欲食，煩躁數日，小便利色白者，此熱除也，欲得食，其病
為愈，若厥而嘔胸脅煩滿者，其後必便血。
 熱少厥微，指頭寒，邪氣自微也，默默不欲食，煩躁，邪欲傳裏也，裏受邪而熱，則其小便
必不利，雖利其色必不白，至數日，小便利色白，知其熱已除也，本默默不欲食，忽欲得食，
知其胃已和也，熱除胃和，其病則愈，而厥陰之脈，挾胃上膈布脅肋，若其邪不解，淫溢厥
陰之位，則為厥而嘔，為胸脅煩滿也，凡病上行極者，必下行主血，而病為熱，血為熱迫，
注泄於下，則其後必便血也。</p>
<p>凡厥者，陰陽氣不相順接，便為厥，厥者，手足逆冷是也。
 按經脈，足之三陰三陽，相接於足十指，手之三陰三陽，相接於手十指，故陰之與陽，常相
順接者也，若陽邪內入，陰不能與之相接，而反出於外，則厥，陰邪外盛，陽不能與之相接，
而反伏於中，亦厥，是二者，雖有陰陽之分，其為手足逆冷一也。</p>
<h4>厥陰生死微甚之辨十五條</h4>
<p>厥陰中風，脈微浮為欲愈，不浮為未愈。
 此厥陰經自受風邪之證，脈浮為邪氣少，浮為病在經，經病而邪少，故為欲愈，或始先脈不
微浮繼乃轉而為浮者，為自陰之陽之候，亦為欲愈，所謂陰病得陽脈者，生是也，然必兼有
發熱微汗等候，仲景不言者，以脈該證也，若不浮則邪著陰中，漫無出路，其愈正未可期，
故曰不浮為未愈。</p>
<p>傷寒下利，日十餘行，脈反實者死。
 傷寒下利，至日十餘行，邪既未盡，而正已大憊矣，其脈當微，或弱而反實者，是邪氣有餘，
所謂病勝藏也，故死。</p>
<p>下利脈沉弦者，下重也，脈大者為未止，脈微弱數者，為欲自止，雖發熱不死。
 沉為裏為下，弦為陰下利，脈沉弦者，陰邪在裏而盛於下，故下重也，脈大者，邪氣盛，經
曰，大則病進，故為未止，脈微弱，為邪氣微，數為陽氣復，陰寒下利，陽復而邪微則為欲
愈之候，雖復發熱，亦是陽氣內充所致，不得比於下利發熱者，死之例也。</p>
<p>下利有微熱而渴，脈弱者令自愈。下利脈數，有微寒，汗出，令自愈，設復緊，為未解。
 此二條，亦為陰邪下注者設，微熱而渴，與脈數有微熱汗出，並陽氣內充之象，而脈弱，又
陰氣衰退之徵，故令自愈，夫脈弱者，脈緊去而轉弱也，設復緊，則陰邪仍盛，其病豈能遽
已耶。</p>
<p>下利脈數而渴者，令自愈，設不差，必圊膿血，以有熱故也。
 此亦陰邪下利，而陽氣已復之證，脈數而渴，與下利有微熱而渴同意，然脈不弱而數，則陽
之復者已過，陰寒雖解，熱氣旋增，將更傷陰而圊膿血也。</p>
<p>發熱而厥，七日，下利者，為難治。
 發熱而厥者，身發熱而手足厥，病屬陽而裏適虛也，至七日，正漸復而邪欲退，則當厥先已
而熱後除，乃厥熱如故，而反加下利，是正不復而裏益虛矣，夫病非陰寒，則不可以幸甘溫
其裏，而內虛不足，復不可以苦寒堅其下，此其所以為難治也。</p>
<p>傷寒發熱，下利厥逆，躁不得臥者，死。
 傷寒發熱，下利厥逆者，邪氣從外之內，而盛於內也，至躁不得臥，則陽氣有立亡之象，故
死，此傳經之邪，陰氣先竭，而陽氣後絕者也。</p>
<p>傷寒發熱，下利至甚，厥不止者，死。
 發熱甚，下利厥逆，證與上同，而下利至甚，則陰欲亡，厥逆不止，則陽亦傷，雖不躁猶死
也，此亦傳經之邪，陰先竭而陽後絕者也。</p>
<p>傷寒六七日，不利，便發熱而利，其人汗出不止者，死，有陰無陽故也。
 寒傷於陰，至六七日發熱者，陽復而陰解，雖下利猶當自止，所謂傷寒先厥後發熱而利者，
必自止也，乃傷寒六七日，本不下利，而忽熱與利俱見，此非陽復而熱也，陰內盛而陽外亡
也，若其人汗出不止，則不特不能內守，亦并無為外護矣，是謂有陰無陽，其死必矣。</p>
<p>下利，手足厥冷，無脈者，灸之不溫，若脈不還，反微喘者死。
 陰寒下利，而至厥冷無脈，陽氣將竭而死矣，灸之所以通既絕之陽，乃厥不回，脈不還而反
微喘，殘陽上奔，大氣下脫故死。</p>
<p>下利後，脈絕，手足厥冷，晬時脈還，手足溫者生，脈不還者死。
 晬時，週時也，下利後脈絕，手足厥冷者，陰先竭而陽後絕也，是當俟其晬時，經氣一週，
其脈當還，其手足當溫，若脈不還，其手足亦必不溫而死矣。</p>
<p>傷寒六七日，脈微，手足厥冷，煩躁，灸厥陰，厥不還者死。
 傷寒六七日，陽氣當復，陰邪當解之時，乃不浮而微，手足不煩而厥冷，是陰氣反進，而陽
氣反退也，煩躁者，陽與陰爭，而陽不能勝之也，灸厥陰，所以散陰邪而復陽氣，陽復則厥
自還，設不還，則陽有絕而死耳，是故經之邪至厥陰者，陰氣不絕則不死，直中之邪入厥陰
者，陽氣不復則不生也。</p>
<p>傷寒脈遲，六七日，反與黃芩湯徹其熱，脈遲為寒，今與黃芩湯，復除其熱，腹中應冷，當
不能食，今反能食，此名除中，必死。
 脈數為熱，脈遲為寒，診家之大要也，熱者清之，寒者溫之，醫家之大法也，乃傷寒脈遲，
至六七日而不變，其為寒無疑矣，而反與黃芩湯，復除其熱，是以寒益寒也，於是陽氣消亡，
陰寒獨勝，法當腹中冷而不能食，今反能食者，非胃氣盛也，胃中之陽，發露無餘，譬之貧
兒誇富，整諸所有而暴之於外，雖衒耀目前，然其盡可立而待也，故直斷之曰，此名除中，
必死。</p>
<p>厥陰病，欲解時，從寅至卯上。
 厥陰屬風木之藏，寅卯為木王之時，藏氣勝而邪氣解，亦如三陽及太少二陰之例也。</p>
<h4>厥陰清法五條</h4>
<p>厥陰病，渴欲飲水者，少少與之愈。
 厥陰之病，本自消渴，雖得水未必即愈，此云渴欲飲水，少少與之愈者，必厥陰熱邪，還返
陰明之候也，熱還陽明，津液暴竭，求救於水，少少與之，胃氣則和，其病乃愈，若係厥陰，
則熱足以消水，而水豈能消其熱哉。</p>
<p>下利欲飲水者，以有熱故也，白頭湯翁湯主之。
 傷寒自汗不渴者，為藏有寒，太陰自受寒邪也，下利欲飲水者，以裏有熱，傳經之邪，厥陰
受之也，白頭翁湯，除熱堅下，中有秦皮，色青味苦，氣涼性濇，能入厥陰，清熱去濕而止
利也。</p>
<p>白頭翁湯方。
白頭翁〔二兩〕、黃連、黃柏、秦皮〔各三兩〕，
右四味，以水七升，煮取二升，去滓，溫服一升，不愈，更服一升。</p>
<p>熱利下重者，白頭翁湯主之。
 傷寒熱邪入裏，因而作利者，謂熱利下重，即後重，熱邪下注，雖利而不得出也，白頭翁，
苦辛除邪氣，黃連黃香秦皮，苦以堅之，寒以清之，濇以收之也。</p>
<p>下利後更煩，按之心下濡者，為虛煩也，宜梔子豉湯。
 下利後更煩者，熱邪不從下減而復上動也，按之心下濡，則中無阻滯可知，故曰虛煩，香豉、
梔子，能徹熱而除煩，得吐則熱從上出而愈，因其高而越之之意也。</p>
<p>傷寒六七日，大下後，寸脈沉而遲，手足厥逆，下部脈不至，咽喉不利，吐膿血，泄利不止
者，為難治，麻黃升麻湯主之。
 傷寒六七日，寒已變熱而未實也，乃大下之，陰氣遂虛，陽氣乃陷，陽氣陷，故寸脈沉而遲，
陰氣虛，故下部脈不至，陰陽並傷，不相順接，則手足厥逆，而陽邪之內入者，方上淫而下
溢，為咽喉不利，為吐膿血，為泄利不止，是陰陽上下並受其病，而虛實冷熱，亦復混淆不
清矣，是以欲治其陰，必傷其陽，欲補其虛，必礙其實，故曰此為難治，麻黃、升麻湯，合
補瀉寒熱為劑，使相助而不相悖，庶幾各行其事，而並呈其效，方用麻黃、升麻，所以引陽
氣發陽邪也，而得當歸、知母、萎蕤，天冬之潤，則肺氣已滋，而不蒙其發越之害矣，桂枝、
乾薑，所以通脈止厥也，而得黃芩、石膏之寒，則中氣已和，而不被其燥熱之烈矣，其芍藥、
甘草、茯苓、白朮，則不特止其泄利，抑以安中益氣，以為通上下和陰陽之用耳。</p>
<p>麻黃升麻湯方，
麻黃〔二兩半去節〕、當歸、升麻〔各一兩一分〕、知母、黃芩、萎蕤〔各十八銖〕、石膏
〔綿裏碎〕、白朮、乾薑、白芍、天冬〔去心〕、桂枝、茯苓、甘草〔炙各六銖〕，
右十四味，以水一斗，先煮麻黃一二沸，去上沫，內諸藥，煮取三升，去滓，分溫三服，相
去如炊三斗米飯頃，令盡汗出愈。</p>
<h4>厥陰溫法九條</h4>
<p>傷寒脈微而厥，至七八日，膚冷，其人躁無暫安時者，此為藏厥，非蚘厥也，蚘厥者，其人
當吐蚘，今病者靜而復時煩，此為藏寒，蚘上入膈，故煩，須臾復止，得食而嘔，又煩者，
蚘聞食臭出，其人當自吐蚘，蚘厥者，烏梅丸主之，又主久痢。
 傷寒脈微而厥，寒邪中於陰也，至七八日，身不熱而膚冷，則其寒邪未變可知，乃其人躁無
暫安時者，此為藏厥發躁，陽氣欲絕，非為蚘厥也，蚘厥者，蚘動而厥，其人亦躁，但蚘靜
則躁亦自止，蚘動則時復自煩，非若藏寒之躁無有暫安時也，然蚘之所以時動而時靜者，何
也，蚘性喜溫，藏寒則蚘不安而上膈，蚘喜得食，藏虛則蚘復上而求食，甚則嘔吐，涎液從
口中出，按古云，蚘得甘則動，得苦則安，又曰蚘聞酸則靜，得辛熱則止，故以烏梅之酸，
連、柏之苦，薑、辛、歸、附、椒、桂之辛，以安蚘溫藏而止其厥逆，加人參者，以蚘動中
虛，故以之安中而止吐，且以御冷熱諸藥之悍耳。</p>
<p>烏梅丸方，
烏梅〔三百個〕、黃連〔一觔〕、乾薑〔十兩〕、細辛、附子〔炮〕、桂枝、人參、黃柏〔各
六兩〕、當歸、蜀椒〔各四兩〕，
右十味，異搗篩，合治之，以苦酒漬烏梅一宿，去核蒸之，五升米下，飯熟搗成泥，和藥令
相得，內臼中，與蜜杵二千下，丸如桐子大，先食飲，服十丸，日三服，稍加至二十丸，禁
生冷滑物臭食等。</p>
<p>乾嘔吐涎沫，頭痛者，吳茱萸湯主之。
 乾嘔吐涎沫者，厥陰寒邪上攻陽明也，頭痛者，厥陰之脈上出額，與督脈會於巔，寒氣隨經
上入於頭，故痛也，然頭者諸陽之會，以陰邪而得干之，其陽不振甚矣，故以吳茱萸辛熱，
入厥陰散寒邪為君，生薑辛溫，和胃止嘔吐為臣，人參、大棗甘溫，助正氣養陽氣為佐也。</p>
<p>手足厥寒，脈細欲絕者，當歸四逆湯主之，若其人內有久寒者，宜當歸四逆，加吳茱萸生薑
湯主之。
 手足厥寒，脈微欲絕者，陽之虛也，宜四逆輩，脈細欲絕者，血虛不能溫於四末，并不能榮
於脈中也，夫脈為血之府，而陽為陰之先，故欲續其脈，必益其血，欲益其血，必溫其經，
方用當歸、芍藥之潤以滋之，甘草、大棗之甘以養之，桂枝、細辛之溫以行之，而尤藉通草
之入經通脈，以續其絕而止其厥，若其人內有久寒者，必加吳茱萸、生薑之辛以散之，而尤
藉清酒之濡經浹脈，以散其久伏之寒也。</p>
<p>當歸四逆湯方，
當歸〔三兩〕、桂枝〔三兩〕、芍藥〔三兩〕、細辛〔二兩〕、通草〔二兩〕、甘草〔二兩
炙〕、大棗〔二十枚〕，
右七味，以水八升，煮取三升，去滓，溫服一升，日三服。</p>
<p>當歸四逆加吳茱萸生薑湯方，
當歸〔二兩〕、桂枝〔三兩〕、白芍〔三兩〕、細辛〔三兩〕、甘草〔二兩炙〕、通草〔二
兩〕、大棗〔十二枚〕、吳茱萸〔二升〕、生薑〔半觔切〕，
右九味，以水六升，清酒六升，和煮取五升，去滓，溫分五服，一方水酒各四升，大汗出，
熱不去，內拘急，四肢疼，又下利厥逆而惡寒者，四逆湯主之。
 此過汗傷陽，病本熱而變為寒之證，大汗出，熱不去者，邪氣不從汗解，而陽氣反從汗亡也，
陽氣外亡，則寒冷內生，內冷則脈拘急而不舒也，四肢者，諸陽之本，陽虛不足，不能實氣
於四肢，則為之疼痛也，甚至下利厥逆而惡寒，則不特無與內守，亦并不為外護矣，故必以
四逆湯，救陽驅陰為主，余謂傳經之熱，久亦成陰者，此類是也。</p>
<p>大汗若大下利，而厥逆者，四逆湯主之。
 此亦陽病誤治而變陰寒之證，成氏所謂大汗若大下利，表裏雖殊，甚亡津液損陽氣一也，陽
虛陰勝，則生厥逆，雖無裏急下利等證，亦必以救陽驅陰為急，易曰，履霜堅冰至，陰盛之
戒，不可不凜也。</p>
<p>傷寒脈促，手足厥逆者，可灸之。
 脈陽盛則促，陰盛則結，手足厥逆而脈促者，非陽之虛，乃陽之鬱而不通也，灸之所以引陽
外出，若厥而脈微者，則必更以四逆湯溫之，豈特灸之哉。</p>
<p>嘔而脈弱，小便復利，身有微熱，見厥者，難治，四逆湯主之。
 脈弱便利而厥，為內虛且寒之候，則嘔非火邪，乃是陰氣之上逆，熱非寒邪，乃是陽氣之外
越矣，故以四逆湯救陽驅陰為主，然陰方上沖而陽且外越，其離決之勢，有未可即為順接者，
故曰難治，或曰，嘔與身熱為邪實，厥利脈弱為正虛，虛實互見，故曰難治，四逆湯，舍其
標而治其本也，亦通。</p>
<p>下利清穀，裏寒外熱，汗出而厥者，通脈四逆湯主之。
 挾熱下利者，傷在太陰之陰，中寒清穀者，傷在少陰之陽，裏寒外熱，汗出而厥，為陰內盛
而陽外越之象，故於四逆，加乾薑一倍，以溫裏而勝寒邪，曰通脈者，欲使陽氣內行，而厥
與利俱止耳。</p>
<p>傷寒厥而心下悸者，宜先治水，當服茯苓甘草湯，卻治其厥，不爾，水漬入胃，必作利也。
 傷寒寒勝則厥，心下有水則悸，厥而心下悸者，寒中於陰而水聚於心下也，是宜以茯苓甘草
湯，先治其水，水去然後治厥，如傷寒二三日，心中悸而煩者，先服建中湯之意也，建中者，
建立中氣，恐其中虛而邪易入，邪入則煩不止矣，茯苓甘草湯，甘淡利水益中氣，恐其水漬
入胃而作利，利作則厥不回矣，仲景治病，每以正氣為慮如此。</p>
<p>傷寒本自寒下，醫復吐下之，寒格更逆吐下，若食入口即吐，乾薑黃連黃芩人參湯主之。
 傷寒本自寒下，蓋即太陽腹滿自利之證，醫不知而復吐下之，裏氣遂虛，陰寒益甚，胃中之
陽，被格上逆，脾中之陰，被仰而下注，得不倍增吐下乎，至食入口即吐，則逆之甚矣，若
以寒治逆，則寒下轉增，或僅投溫劑，則必格拒而不入，故以連、芩之苦，以通寒格，參、
薑之溫，以復正氣，而逐陰邪也。</p>
<p>乾薑黃連黃芩人參湯方。
乾薑〔三兩〕、黃連〔三兩〕、黃芩〔三兩〕、人參〔三兩〕，
右四味，以水六升，煮取二升，去滓，分溫再服。</p>
<h4>厥陰病禁二條</h4>
<p>傷寒五六日，不結胸，腹濡，脈虛，復厥者，不可下，此為亡血，下之死。
 傷五六日，邪氣傳裏，在上則為結胸，在下則為腹滿而實，若不結胸，腹濡而脈復虛，則表
裏上下，都無結聚，其邪為已解矣，解則其人不當復厥，而反厥者，非陽熱深入也，乃血不
足而不榮於四末也，是宜補而不可下，下之是虛其虛也，玉函云，虛者重瀉，其氣乃絕，故
死。</p>
<p>諸四逆厥者，不可下之，虛家亦然。
 按成氏曰，四逆，四肢不溫也，厥者，手足冷也，然本篇云，厥者手足逆冷是也，又云，傷
寒脈促，手足厥逆者，可灸之，其他凡言厥逆之處不一，則四逆與結，本無分別，特其病有
陰陽之異耳，此條蓋言陰寒厥逆，法當溫散溫樣之，故云不可下之，前條云，厥應下之者，
則言邪熱內陷之厥逆也，學者辨之，虛家，體虛不足之人也，雖非四逆與厥，亦不可下之，
經云，毋實實，毋虛虛，而遺人夭殃，此之謂也。</p>
<h4>簡誤九條</h4>
<p>嘔家有癰膿者，不可治嘔，膿盡自愈。
 癰膿者，傷寒熱聚於胃口而不行，則生腫癰，而膿從嘔出，癰不已則嘔不止，是因癰膿而嘔，
故不可概以止嘔之藥治之，膿盡癰已，則嘔自止，此胃癰雜病，當隸陽明，不當入厥陰也，
以下九條，均非厥陰本病，叔和不察，誤編厥陰篇中，茲特檢出，另列簡誤，其他厥陰進退，
及下利嘔逆等證，亦有不必定屬厥陰者，叔和以為不便清晰，故總隸厥陰，而實為三陰並有
之證，茲仍其舊，學者當以意會之。</p>
<p>傷寒大吐大下之，極虛，復極汗出者，以其人外氣怫鬱，復與之水，以發其汗因得噦，所以
然者，胃中寒冷故也。
 傷寒大吐大下之，既損其上，復傷其下，為極虛矣，縱有外氣怫鬱不解，亦必先固其裏，而
後疏其表，乃復飲水以發其汗，遂極汗出，胃氣重虛，水冷復加，冷虛相搏，則必作噦，噦、
呃逆也，此陽病誤治而變為寒冷者，非厥陰本病也。</p>
<p>病人手足厥冷，脈乍緊者，邪結在胸中，心下滿而煩，飢不能食者，病在胸中，當吐之，宜
瓜蒂散。
 脈緊為實，乍緊者，胸中之邪，能結而不能實也，夫胸中陽也，陽實氣於四肢，邪結胸中，
其陽不布，則手足無氣而厥冷也，而胃居心下，心處胸間，為煩滿，為飢而不能食，皆邪結
胸中，逼處不安之故，經云，其高者，引而越之，胸邪最高，故當吐之瓜蒂苦而上湧，能吐
胸中結伏之邪也，此證不必定屬陰經，即陽病亦有之也。</p>
<p>傷寒噦而腹滿，視其前後，知何部不利，利之愈。
 噦而腹滿者，病在下而氣溢於上也，與病人欲吐不可下之者不同，彼為上行極而欲下，此為
下行極而復上也，經曰，在下者，引而竭之，故當視其前後二陰，知何部不利而利之，則病
從下出而氣不上逆，腹滿與噦俱去矣，此熱入太陰而上攻陽明之證，與厥陰無涉也。</p>
<p>嘔而發熱者，小柴胡湯主之。
 此邪在少陽之經，非厥陰本病也，故以小柴胡湯和解少陽之邪，邪解則嘔與熱俱止，或厥陰
而外連少陽者，亦有之，然亦必以小柴胡先解少陽為急，所謂病自內之外，而盛於外者，先
解其外而後治其內也。</p>
<p>下利譫語者，有燥屎也，宜小承氣湯。
 譫語者，胃實之徵，下利得此，為有燥屎，所謂利者不利是也，與小承氣湯，下其燥屎，屎
去藏通，下利自止，經云，通因通用，此之謂也，金匱治下利，按之心下堅者，與大承氣湯，
與此同意，所當互考，此太陰轉入陽明之證，與厥陰無涉也。</p>
<p>下利清穀，不可攻表，汗出必脹滿。
 清、與圊同，即完穀也，乃陽不運而穀不腐也，是當溫養中土，不可攻表出汗，汗出則陽益
虛，陽虛則氣不化，故必脹滿，此寒中太陰之證，非厥陰病也。</p>
<p>少陰負趺陽者，為順也。
 少陰，腎脈也，趺陽，胃脈也，下利為上負水勝之病，少陰負趺陽者，水負而土勝也，故曰
順，此條當為太陰下利而設，亦與厥陰無涉也。</p>
<p>傷寒脈滑而厥者，陰邪所中，寒在裏也，脈滑而厥者，陽邪所傷，熱在裏也，陽熱在裏，陰
氣被格，陽反在內，陰反在外，設身熱不除，則其厥不已，故主白虎湯，以清裏而除熱也，
此陽明熱極發厥之證，誤編入厥陰者也。</p>
<p>差後諸病七條。
傷寒陰陽易之為病，其人身體重，少氣，少腹裏急，或引陰中拘攣，熱中沖胸，頭重不欲舉，
眼中生花，膝脛拘急者，燒褌散主之。
 陰陽易者，男子大病新差，尚有餘熱，婦人與之交而得病，名曰陽易，或婦人大病新差，餘
熱未盡，男子與之交而得病者，名曰陰易，以陰陽相感，精氣交通，熱氣從之而傳易也，其
人身體重少氣者，勞傷真氣，而熱勝之也，少腹裏急或引陰中拘攣，及膝脛拘急者，精虛熱
入，而脈道不通也，熱上沖胸，頭重不欲舉，眼中生花，則熱氣重蒸，而且上淆清陽矣，褌
襠得陰濁最多，以類相入，導其熱氣，俾陰而入者，仍從陰而出也。</p>
<p>燒褌散方。
 右取婦人中褌近隱處，剪燒灰，以水和服方寸匕，日三服，小便即利，陰頭微腫則愈，婦人
病，取男子褌檔燒灰服。</p>
<p>大病差後勞復者，枳實梔子豉湯主之，若有宿食者，加大黃如博碁子大五六枚，大病新差，
血氣未復，餘熱未盡，而強力作勞，因復發熱者，名曰勞復，為其餘熱之氣，因勞而外浮也，
枳實梔子，所以下熱，豆豉所以散熱，蓋亦表裏之劑，而氣味輕薄，適宜於病後復發之體耳，
若有宿食者，名曰食復，內經所謂食肉則復多食則遺也，故於枳實梔子豉湯中，少加大黃，
以逐其宿食。</p>
<p>枳實梔子豉湯方，
枳實〔三枚炙〕、梔子〔十四枚擘〕、香豉〔一升綿裹〕，
右三味，以清漿水七升，空煮取四升，內枳實、梔子，煮取二升，下豉，更煮五六沸，去滓，
溫分再服，覆令微似汗。</p>
<p>傷寒差已後，更發熱者，小柴胡湯主之，脈浮者，以汗解之，脈沉實者，以下解之。
 傷寒差已後，更發熱者，不因作勞，亦未過食，而未盡之熱，自從內而達於外也，故與小柴
胡湯，因其勢而解之，且人參、甘棗，可以益病後之虛，黃芩、半夏，可以和未平之裏也，
脈浮者，邪氣連表，汗之使之外解，脈沉實者，邪氣居裏，下之使從裏解，亦因其勢而利導
之耳。</p>
<p>大病差後，從腰以下有水氣者，牡蠣澤瀉散主之。
 大病新差，而腰以下腫滿者，此必病中飲水過多，熱邪雖解，水氣不行，浸漬於下，而肌肉
腫滿也，是當以急逐水邪為法，牡蠣澤瀉散，鹹降之力居多，飲服方寸匕，不用湯藥者，急
藥緩用，且不使助水氣也，若驟用補脾之法，恐脾氣轉滯而水氣轉盛，寧不泛濫為患。</p>
<p>牡蠣澤瀉散方。
牡蠣〔熬〕、澤瀉、括蔞根、葶藶〔熬〕、商陸根、蜀漆〔洗去腥〕、海藻〔洗去鹹各等分〕，
右七味，異搗下篩為散，更入臼中杵之，白飲和服方寸匕，小便利，止後服。</p>
<p>大病差後，喜唾，久不了了者，胃上有寒，當以丸藥溫之，宜理中丸。
 大病差後，胃陰虛者，津液不生，則口乾欲飲，胃陽弱者，津液不攝，則口不渴而喜唾，至
久之而尚不了了，則必以補益其虛，以溫益其陽矣，曰胃上有寒者，非必有客氣也，虛則自
生寒耳，理中丸，補虛溫中之良劑，不用湯者，不欲以水氣資吐也。</p>
<p>傷寒解後，虛羸少氣，氣逆後吐者，竹葉石膏湯主之。
 大邪雖解，元氣未復，餘邪未盡，氣不足則因而生痰，熱不除則因而上逆，是以虛羸少食，
而氣逆欲吐也，竹葉石膏湯，乃白虎湯之變法，以其少氣，故加參、麥之甘以益氣，以其氣
逆有飲，故用半夏之辛，以下氣益蠲飲，且去知母之鹹寒，加竹葉之甘涼，尤於胃虛有熱者，
為有當耳。</p>
<p>竹葉石膏湯方，
竹葉〔二把〕、石膏〔一觔〕、人參〔三兩〕、粳米〔半升〕、半夏〔半升洗〕、甘草〔二
兩炙〕、麥冬〔一升去心〕，
右七味，以水一斗，煮取六升，去滓，內粳米，煮米熟湯成，去米，溫服一升，日三服。</p>
<p>病人脈已解，而日暮微煩，以病新差，人強與穀，脾胃氣尚弱，不能消榖，故令微煩，損穀
則愈。
 脈已解者，病邪解而脈已和也，微煩，微熱也，解則不當復煩，而日暮微煩者，以病新差，
不當與穀而強與之，胃虛穀實，不能勝之，則發煩熱也，損穀則愈者，謂不可以藥治之，但
損其穀食，則胃自和耳。</p>
<p>傷寒貫珠集終。</p>
