<header><h1>女科折衷纂要</h1></header>
<dl class="元資料" data-type="book">
<div><dt>作者</dt><dd>凌德</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1644/1911">公元1644年至公元1911年</data></dd></div>
</dl>
<h2>弁言</h2>
<p>甚矣，吾道之不孤也。滬上行醫人多於鯽，然求其精通三墳五典績學之士，惜焉罕覯。</p>
<p>良以頻年兵火災　，致入山之吏、失幕之儒為飢驅所迫，略知湯頭本草，陡然大膽懸壺。世有以耳代目之儔，樂為揄揚，十失三四，偶爾徼幸時髦，遂以成名。以此例彼，皆因成本尚輕，不惜以醫為市，遑論利害死生。性命攸關，出必高車駟馬，儼然醫界萬能，詢以《素問》、《靈樞》、《難經》、《金匱》、《外台》、《千金》、《神農本草》、《太素》、《脈經》、《巢氏病源》、</p>
<p>《聖濟總錄》、《王氏準繩》、《醫宗金鑒》，以及前後四大名家諸先賢醫學薪　傳，乃瞠乎其目，曰現下新法，勿用舊方，趁我十年運，有病早來醫而已。從此醫倪莫別，男婦不分，無怪癸丑歲劉、汪兩教育部長有廢棄中醫之議。詠曾仕山東，歲庚子拳匪滋擾京師時，項城袁大帥開府齊魯統領武衛全軍駐此，緣其生母劉太夫人病亟，經徐大軍醫長華清等六十人輪流進院調治，醫藥無功，帥心焦急，乃邀胡方伯景桂潘廉訪延祖兩司上院商榷，於同僚中可有知醫者否。兩司以詠暨陝西張蘭洲封翁舉荐，經薑軍門桂題勸進服詠擬方，一藥頓瘳，神乎技矣。兄世廉、弟世輔互相為之駭愕(方案曾登上海醫報)。嗣即奉委步衛軍糧台差使。回憶日武衛同輩，半多民國偉人，亦幸事也。有此原因，民國二年，滬上諸同志發起神州醫藥總會，公舉詠為文牘員，明知濫竽充數，然嘗聞顧亭林先生有言：國家興亡，匹夫有責。當仁不讓，聊盡義務。廢棄中醫之議起，適大總統府內秘書長阮斗瞻舊友忠樞銜命南來，調和張馮對調事宜。　帷暫駐南京四象橋湖楚軍械所，詠乃趨謁南京寓門帘橋廣陵春旅館守候四天晚上，始見面，將公訂申辦理由五端呈覽。閱竣，回言：甚好，此事廢不了。詠即切懇云：苟能轉圓，為蒼生一線生機，公乃萬家生佛也。告辭返滬，次年春奉大總統發下政務院第三十五號命令，會長余德塤等原呈批諭中有初非有廢棄中醫之意也句，得達目的不廢，詠以年老力衰，文牘非我所能為，就此卸肩告辭。此舉多阮君斡旋之力。而中醫所以不廢者，要各有其淵源，並非中醫竟若牛溲馬勃，用藥投機，亦可賞鑒乎。宗工寒家醫學溯自唐都察院，竹隱公避居苕濠，藉醫濟世，代有傳人，入志乘者不鮮。詠為先胞伯曉五公第七弟子侍診十年，其時就診者戶限幾穿，門牆甚盛，見多識廣，濟以經書，知認證當以陰陽寒熱表裡虛實八字辨別的確，方可稱為有道之士。更於一發千鈞之際，能下重劑，希冀轉危為安，斯即道德猶存，仁人之術，醫所以寄死生，半積陰功，半養身，談何容易。若以之謀利，因循誤事，則其心不可問矣。滬上醫家林立，不乏專長，先府君嘉六公及詠尤以婦女科鳴於市，社會信用幸尚不惡，古者扁鵲自稱帶下醫，《金匱》書中載有古人列經脈為病三十六種，皆謂之帶下病，非今人所謂赤白帶下也。至其陰陽虛實之機，針藥安危之故，苟非醫者辨之有素，烏能施之而無誤耶?三十六病者，如十二　、九痛、七害、五傷、三痼是歟。後賢群起，又有一百八病之論，總之婦女病有與男子不同者，蓋有衝任督帶陰陽蹺維、奇經八脈之辨別，病由斯致為多。先哲且云：崩中日久為淋帶，漏下多時骨髓枯。故有「寧治十男子，莫治一婦人」之誡，而烏　雀卵經籍載有專方。蓋以婦女病有種種隱情難以形容者，在言傳意會，固非人人可學也。若雜亂無章，莫衷一是，何從何去，端賴發明。是以先府君嘉六公心焉傷之，乃纂輯諸大名家要義，名曰《女科折衷纂要》，經胞兄先師曉五公鑒定，詠妄參末議，不揣譾陋，詳加引注。孟子曰：人之患在好為人師。所以先府君只收梁溪李澹平君燮一徒而已，斯稿本作子孫師范模型簡易楷則不敢問世，茲承越中裘君吉生暨社中諸同仁，有流傳遺稿之求，發刊凌氏醫學遺書之議，爰將先府君嘉六公德采入《上海縣志》藝文游宦類諸遺稿郵呈斧政，曷敢自秘，公諸同好，瑜瑕不計，要使後學率循有自，簡練揣摩，方知婦女科中有此一葦慈航，未始不可寶慶耳。</p>
<p><u>藏庚申上丁祭孔日，安吉凌詠言醫叟謹識於上海喬居壽世堂之尚素軒，時年七十有二</u></p>
<h2>序</h2>
<p>中華素稱禮教之邦，男女分別甚嚴。婦人寂處深閨，罔知交際，故於生殖器諱莫如深。</p>
<p>而自生殖器發生之疾患亦秘而不宣，對家人然，對醫生亦然。醫者欲於三指盈寸之地斷明其為何病，殊戛戛乎難矣。是以昔人有「寧治十男子，莫治一婦人」之諺也。而稽考古籍，如《內》《難》《金匱》，對於女性生殖器之解剖、生理、病理，大都語焉不詳，學人既莫能於載籍了解生殖器之生理病理，復無由取尸體解剖而實地驗查，徒以個人之管窺妄測身內之臟器，於是諸說紛起，莫衷一是，使讀者如墮五裡霧中矣。邇者歐風東漸，社交公開，頑固之空氣為之一變，而延醫女子亦不若曩之困難矣。特是吾國婦科諸書除由氣化上推闡，尚覺精鑿外，其涉及形質者類系憑空臆測，難於取信。苟有人焉取西人之生理病理以印證中土古籍，俾數千年來蒙混之說昭然若揭，而治療一道亦有正規可循，斯非特有大功於醫學且造大福於女界也。本書博采約取，折衷至當，復經折肱老人(曉五公晚年自號折肱老人)鑒定於前，永言先生參注於後，愈覺盡善盡美，嘆謂觀止。雖於形質上間有襲謬仍誤之處，要亦時世為之，訂正之責端賴後人，豈得苛求作者歟。</p>
<p><u>中華民國十三年八月晚學仲圭氏沈熊璋謹書於非非室</u></p>
<h2>調經門</h2>
<h3>總論</h3>
<p>嘗聞經曰：女子七歲，腎氣盛，齒更發長，二七而天癸至，任脈通，太衝脈盛，月事以時下。夫天為天真之氣，癸為壬癸之水。壬為陽水，癸為陰水。陰陽之氣以衝任為都會也。蓋沖屬血海，任主胞胎，胎脈流通，經水漸盈，應時而下，天真氣降與之從事，故曰天癸(仲圭曰：天癸在男子為精蟲，在女子為卵子，故兩性同具而為媾胎之要素。世以月事當之，荒謬甚矣)。常以三旬一見，以象月盈則虧，又曰月信(任脈主任一身之陰血，太衝屬陽明，為血之海，故穀氣盛則血海滿，而月事以時下。天真，天一也，天一之氣升而為壬，降而為癸。</p>
<p>壬陽而癸陰也。三旬一見也，為一小會之周天，此其常也。然有大會、中會之不同，故又有三月一行、一年一行之變異。究其盈虧之義則一也。其有數年不行而一行即受孕者，又超乎理之外矣，豈醫藥所能為哉)。故經行最宜謹慎，與產後相類。若外被風寒，內傷生冷，及七情郁結，余血未淨，瘀積於中，名曰血滯。若用力太過，入房太甚，及服食偏燥，邪火妄動，津血衰少，名曰血枯。若被驚恐恚怒(驚則氣亂，故錯經妄行，怒則氣逆上衝，故從口鼻而出)，則氣血錯亂，逆於上則從口鼻而出，變為吐衄。逆於身則與水氣相搏，變為腫脹。逆於腰腿心腹之間則重痛不寧，經行則發，過期則正。若外溢陽經則頭眩嘔血、瘰　癰毒，若內滲陰絡則竅穴生瘡，淋瀝不斷，濕熱相搏，遂為崩帶。氣血相滯，遂為　瘕。凡此變症百出，不過血滯與血枯而已(總結)。犯時微若秋毫，成病重於山岳，可不畏哉!按婦人童幼天癸未行屬少陰，天癸既行屬厥陰，天癸已極屬太陰。此三者祖氣生化之源也，故血之資根在於腎，血之資生賴於脾，血之藏納歸於肝。三者並重，乃先天之體耳。若夫後天之用，則獨重於脾經，曰中焦受氣取汁，變化而為赤，是為血。血者，水穀之精，和調五臟，洒陳六腑。在男子則化為精，在女人則上為乳汁，下為月水，故雖心主血，肝藏血，亦皆統攝於脾，補脾和胃，血自生矣(知水穀之精氣是生血之原本，則知脾胃是生血之源，故脾胃不健而血不生者，不可端主四物矣)。凡經行之時，禁用寒涼辛散，以伐生氣。詩云：婦人平和則樂有子。和則陰陽不乖，平則氣血無爭，則天癸應時而下矣。</p>
<h3>精血論</h3>
<p>褚澄云：飲食五味，所以養骨髓肌肉毛髮者也。男子為陽，陽中必有陰，陰中之數八，故一八而陽精升，二八而陽精溢。女子為陰，陰中必有陽，陽中之數七，故一七而陰血升，二七而陰血溢，皆飲食五味之實秀也。方其升也，智慮開明，齒牙更生，發黃者黑，筋弱者強。</p>
<p>暨其溢也，凡充身體手足耳目之余，雖針芥之歷，無有不下，故子形肖父母者，以其精血常於父母之身，無所不歷也。是以父一肢廢則子一肢不肖，其父母一目虧則子一目不肖其母。</p>
<p>然雌鳥牝獸無天癸而成胎者何也?鳥獸精血往來尾間也。故男子精未盛而御女以通其精，則四肢有不滿之虞，異日有難狀之疾。陰已痿而思色以降其精，則精不出而內敗，小便澀痛，為淋。若精已竭而復耗之，則大小便牽引而痛，愈痛則愈便，愈便則愈痛。女人天癸既至，逾十年無男子合則不調，未逾十年思男子合亦不調，不調則舊血不去、新血誤行，或漬而入骨，或浮而為腫，後雖合而難子，合多則瀝枯虛人，產眾血枯殺人(仲圭曰：婦人產眾能使血液不足，全體衰弱，容顏易老，而男子之負擔又驟然增加。在富裕者，雖無何種影響，而貧乏之家茹盡艱辛矣。此山額夫人所以有節制生育之說也)。觀其精血，思過半矣。</p>
<p>按丹溪云：人受天地之氣以生，天之陽氣為氣，地之陰氣為血，故氣常有餘，血常不足。夫人之生也，男子十六歲而精通，女人十四歲而經行，故古人必待三十、二十而後嫁娶。可見陰氣之難成，而養之必欲其固也。經曰：人年四十，陰氣自半，而起居衰矣。夫陰氣之成，止供三十年之運用，男子六十四而精絕，女人四十九而經斷。腎乃陰中之陰，主閉藏者，肝乃陰中之陽，主疏泄者。二臟皆有相火，其系上屬於心，心火一動則相火翕然從之，所以丹溪先生教人收心養性，其旨深矣。蓋天地以五行更迭衰旺而成四時，人之五臟六腑亦應之而成衰旺。如四月屬巳五月屬午，為火，火為金之夫，火太旺則金衰。六月屬未為土，土為水之夫，土太旺則水衰，況腎水常藉肺金為母，以補其不足，所以古人於夏月必獨宿(仲圭曰：冬夏固宜獨宿，藉資保養，即平時亦可分眠，以減性交。蓋伉儷同床共枕，最易引起肉欲。而自衛生方面言之，同眠亦至有害。春秋繁露曰：少壯者，十日一游於房中。可見古人先見及此矣)淡味，兢兢業業，保養金水二臟，正嫌火土之旺耳。經又曰：冬藏精者，春不病溫。十月屬亥，十一月屬子，正火氣潛藏，必養其本。然之真以助來春生發之氣，則春末夏初無頭痛腳軟、食少體熱、疰夏之病矣。竊謂人之少有老態，不耐風寒，不勝勞役，四時迭病，皆因氣血方長而勞心虧損，或精血未滿而早年斫喪，故其見症難以名狀。若左尺虛弱，真陰不足也，用六味丸(仲圭曰：六味丸內有萸肉、丹皮、澤瀉，不甚宜於真陰不足之症，不若集靈膏為妙)。右尺細弱，真陽不足也，用八味丸。至於兩尺微弱，是陰陽俱不足也，用十補丸，皆滋其化源也。</p>
<h3>養血論</h3>
<p>《產寶方》序云：大率治病，先論所主，男子調其氣，女人調其血。氣血者，人之神也。然婦人以血為基本，苟能謹於調護，則氣血宣行，其神自清，月水如期，血凝成孕。若脾胃虛弱，飲食不化，榮衛不足，月經不調，肌膚索澤，寒熱腹痛，則難於子息矣。或崩漏帶下，血不流行，而成　瘕。</p>
<p>按立齋云：婦人脾胃久虛，以致氣血俱虛，而月經不行，宜調其胃氣，滋其化源，經自下矣。或患中消胃熱，津液不行，而致血海干枯，宜清胃補脾，其經自行。經曰：胃者衛之源，脾者榮之本。《針經》曰：榮出中焦，衛出下焦，衛不足益之以辛，榮不足補之以甘，辛甘相合，脾胃健而榮衛生，是以氣血俱旺，或因勞心，虛火妄動，月經錯行，宜安心、補血、瀉火，此東垣之治法。</p>
<h3>調氣論</h3>
<p>《濟生方》論云：經言百病皆生於氣也。所謂七氣者，喜怒憂思悲恐驚也。又有謂九氣者，七情之外益之寒熱二症也。氣之為病，男子婦人皆有之，惟婦人為患尤甚。蓋人身血隨氣行，氣一壅滯則血與氣並，或月事不調，心腹作痛，或月事將行，預先作痛，或月事已行，淋瀝不斷，心腹作痛，或腰脅引背，上下攻刺，吐逆不食，甚則手足搐搦，狀類驚癇，或作寒熱，或作　瘕，肌肉消瘦，非特不能受孕，久而不治，轉而為瘵疾者多矣。</p>
<p>按：婦人性偏見鄙，婢外家志不得伸，鬱怒無時不起，故先哲謂婦人氣旺於血，當耗氣而益血，此說一倡，舉世宗之，專任辛散導滯之品，以為捷徑法門。殊不知陽為陰使，血為氣配，故氣熱則熱，氣寒則寒，氣降則降，氣升則升，氣滯則滯，氣行則行。其體本屬相紐，其用未嘗殊也。如果鬱火氣盛於血者，方可開鬱行血。若氣亂則調，氣冷則溫，氣虛則補。男女一般陽生則陰自長，氣衰則血亦涸，豈可專任耗氣耶?</p>
<h3>辨色論</h3>
<p>(此篇熟究，調經之事至矣盡矣，幸毋忽之)丹溪云：經水者，陰血也。陰必從陽，故其色紅，稟火色也。隨氣流行於上下三焦之間，氣清血亦清，氣濁血亦濁。往往有成塊者，氣之凝也。將行而痛者，氣之滯也。來後而痛者，氣血俱虛也。色淡者，氣虛而有水混之也。錯經妄行者，氣之亂也。紫者，氣之熱也。黑者，熱之甚也。今人但見其紫者、黑者、作痛者、成塊者，率指為冷風而行溫熱之劑，則禍不旋踵矣。良由《病源論》月水諸病，皆由風冷乘之，宜其相習而成俗也。或曰黑者，北方水色也。紫淡於黑，非冷而何?予曰：亢則害，承乃制。熱甚者必兼水化，所以熱則紫，甚則黑也。殊不知婦人性執見偏，嗜欲倍加，臟腑陰陽之火無日不起，非熱而何?若夫風冷，必須外得，間或有之。至於風冷為病，外邪初感，入經必痛，紫黑成塊，暫用溫散，但寒性稍久便郁成熱，豈可專泥為寒耶?且寒則凝泣，熱則流通，暴下紫黑，尤非寒症明矣。然臍腹內痛不特風冷，亦有屬氣滯者，為氣有餘便是火也。有屬血虛者，為血不足便生熱也，又安可用溫熱乎?大抵紫黑者，四物東加芩、連、阿膠。淡白者，芎歸東加參、朮、白芍。淡黃，二陳東加芎、歸。色如煙塵者，二陳東加秦艽、防風、蒼朮。</p>
<h3>多少論</h3>
<p>《準繩》云：婦人之病，咸因月經乍多乍少，或前或後，治者不審，一例呼為經病，而不知陰陽偏勝之道，所以服藥無效。蓋陰氣乘陽則包藏寒氣，血不營運，經所謂天寒地凍，水凝成凍，故令乍少而在月後。若陽氣乘陰，則血流散溢，經所謂天暑地熱，經水沸溢，故令乍多而在月前。治當和氣血，平陰陽，斯為當也。</p>
<p>按：前證治法，陽勝陰月候多者，當歸散(即四物東加黃芩、白朮)。陰勝陽月候少者，七沸湯(即四物東加蓬朮、川芎、木香)。大概後期二三日為血虛，四物東加參、　、苓、朮，補氣而調血。先期三五日為血熱，四物東加酒炒芩、連，清熱而和榮。更當參以人之肥瘦、挾痰、挾火而分治之。</p>
<h3>先期後期論</h3>
<p>王子亨云：經者，常候也。謂候其一身之陰陽愆伏，知其安危，故每月一至，太過不及，皆為不調。陽太過則先期而至，陰不及則後時而來。其有乍多乍少、斷絕不行、崩漏不止，由陰陽盛衰所致，審各經分治之。</p>
<p>按立齋云：先期而至者，則因脾經血燥，宜加味逍遙散。有因脾經鬱火，宜歸脾湯。有因肝經怒火，宜加味小柴胡湯。有因血分受熱，宜加味四物湯。有因勞役火動，宜補中益氣湯。</p>
<p>後期而至者，有因脾經血虛，宜人參養榮湯。有因肝經血少，宜六味地黃湯。有因氣衰血弱，宜八珍湯。蓋血生於脾土，故云脾統血。凡血病當用苦甘之劑，以助陽氣而生陰血也。</p>
<p>立齋分肝、脾、血分、勞役五種，可謂詳明。</p>
<p>澹漪子曰：脾虛氣鬱，宜歸脾湯。脾實氣鬱，宜越曲丸之類為當。</p>
<h3>居經論</h3>
<p>居經者，月事三月一至也。蓋婦人之體血盛懷胎，胎孕之脈滑疾流利。《金匱》云：寸口衛脈浮而大，榮反而弱(蓋女子尺脈宜盛，今反見弱，是榮不足於下也。寸口衛脈浮大者，衛氣盛於上也)。浮大則氣強，反弱則血少。孤陽獨呼，陰不能吸，二氣不停，衛強榮弱，陰為積寒，陽為聚熱，陽盛不潤，經絡不足，陰虛陽實，故令少血。時發洒淅，咽燥汗出，或溲溺稠數，多唾涎沫，此令重虛。津漏液泄，故知非蓄血煩滿，月稟一經，三月一來，陰盛則瀉，名曰居經。</p>
<p>按：衛浮而大，右脈浮大也。榮反而弱，左脈反弱也。蓋左脈主血，乃心肝腎部。右脈主氣，乃肺脾腎部。婦人之身，氣血調勻，脈來滑利，方能受孕。今榮血不足，衛氣獨強，是陰衰陽旺之象，安得成胎?故雖月事不至三月，此居經之症，非孕也。宜養血調榮治之。</p>
<h3>泄瀉論</h3>
<p>婦人經水將行，必泄瀉三日，然後經行。其脈濡弱者，此脾虛也。脾屬土屬濕，經水將動，脾血先已流注血海，然後下流為經。脾血既虧，則虛而不能營運其濕，宜服參苓白朮散(濡弱二字足征脾虛，此脾氣虛而非脾血虛也，用藥當矣。而血虧不運之說欠妥)。</p>
<h3>身痛論</h3>
<p>《產寶方》云：經水者，行氣血，通陰陽，以榮於身者也。氣血盛，陰陽和，則形體通泰。</p>
<p>或外虧衛氣之充養，內乏榮氣之灌溉，血氣不足，故經候欲行，身體先痛(據此宜用十全大補、八珍湯、人參養榮湯之類)。</p>
<p>按：前症有屬血虛者，有屬血風者，有痰滯者，有血瘀者，所因不同。如《良方》云：婦人血風，由氣血不足，腠理不密，風冷乘之，以致邪正相搏，故骨節疼痛，肢體發熱，口苦咽乾，此血風也。東垣云：飲食失節，脾胃虛弱，乃血所生病，故口中津液不足。若火熱來乘土位，則肢體痛，皮膚發熱，此血虛也。立齋治法：肝經風熱，用四物加羌、防、秦艽、黃芩。肝經血虛，逍遙散加熟地、川芎、丹皮。風濕兼痰，四物加星、半、羌活、蒼朮。風濕傷脾，羌活勝濕湯。暑濕傷氣，清燥湯。肝氣鬱脾，四君子加木香、枳殼、檳榔。瘀血流注，四物加桃仁、紅花。</p>
<h3>痛經論</h3>
<p>《入門》云：經水欲行，臍腹絞痛，屬血滯。經水臨行時痛為氣滯。經水將來，陣痛陣止，為血實。經水已竣腹痛，為血虛。又有經水將行，被風相搏，繞臍抽痛者(《千金》云：婦人經行如廁，亦有為風所客者，可不謹歟)。有歷年血寒積結胞門，嘔吐涎唾，臍脅疝痛，陰冷徹引腰脊而痛者，當分治之。</p>
<p>按《良方》云：婦人經來腹痛，由風冷客於胞絡衝任，或傷手太陽少陰經，用溫經湯，或桂枝桃仁湯，或地黃通經丸。若血結而成塊者，用萬病丸(牛膝、乾漆、地汁熬為丸)。薛立齋云：若前症因生冷傷脾，用六君子加炮薑。思慮傷血，四物加參、朮。思慮傷氣，歸脾加柴、梔。怒郁傷肝，逍遙歸脾兼服。余參他症治之(然又恐感外邪傷飲食，亦能致痛，尤宜詳審，和氣飲卻能兼治)。戴復庵云：經事來而腹痛，經事不來而腹亦痛，二者之病皆血之不調也。欲調其血，先調其氣，四物加茱萸、香附。痛甚者延胡索湯、通用和氣飲(當歸、延胡、蒲黃、肉桂、赤芍、乳香、木香、沒藥、甘草、薑黃)。</p>
<h3>經漏論</h3>
<p>《良方》云：婦人月水不斷，淋瀝無時，或因勞損氣血而傷衝任，或因經水將行而交合陰陽，皆令氣虛而不能攝血。但調元氣，病自愈矣。若時行時止，腹痛，脈沉細，此系寒熱邪氣客於胞中，非虛弱也。</p>
<p>按：前症若郁結傷脾，用歸脾湯。恚怒傷肝，逍遙散。肝火妄動。加味四物湯。脾氣虛弱，六君子湯。元氣下陷，補中益氣湯。熱作傷元氣，前東加麥冬、五味、炒黃柏。</p>
<h3>不利論</h3>
<p>《良方》云：婦人月水不利，由於勞傷氣血，體虛而風冷客於胞內，傷於衝任之脈故也。若寸脈弦，關脈沉(弦與沉主氣病，滑為實)，是肝病也，兼主腹痛孔竅生瘡。尺脈滑，關脈實，是氣滯也。並主小腹引腰痛，氣攻胸膈也。</p>
<p>按立齋云：前症屬肝膽二經，蓋肝膽相為表裡，多因恚怒所傷。若本經風熱用補肝散，血虛四物東加棗仁，腎水不足用六味丸。</p>
<h3>過期論</h3>
<p>《產寶方》云：女子以血為主，七七則卦數已終，終則經水絕，衝任脈虛衰，天癸絕，地道不通而無子矣。或傷勞過度，喜怒不時，經脈衰微之余，又為邪氣攻衝，所以當止不止而崩漏也。須分所感而治之。</p>
<p>薛立齋云：前若肝腎虛熱用許學士當歸散，肝血虛熱四物加柴胡、山梔、丹皮，肝火內動小柴胡加山梔、丹皮，肝火血燥加味逍遙散，脾經鬱火加味歸脾湯，肝脾鬱火歸脾逍遙兼服，肝腎虧損歸脾、六味兼服，仍與月經不調參用。</p>
<h3>經閉論</h3>
<p>潔古云：女子月事不來者，先瀉心火，血自下也。《內經》曰：二陽之病發心脾，有不得隱曲，女子不月，其傳為風消，其傳為息賁，死不治。二陽者，陽明也。陽明胃病，心脾受之，心主血，心病則血不流。脾主味，脾病則味不化，味不化則精不足，故其病不能隱曲。脾土已虧則風邪勝而氣愈消矣。經又曰：月事不來者，胞脈閉也。胞脈屬於心，絡於胞中。今氣上迫肺，心氣不得下通，故月不時來。</p>
<p>李東垣云：經閉不行有三。或脾胃久虛，形體羸弱，氣血俱虛而致經水斷絕不來。或病中消，胃熱善食，肌瘦，津液不生。夫經者，血脈津液所化，津液既絕，為熱所爍，肌肉漸瘦，時見燥渴，血海枯竭，名曰血枯。經閉宜瀉，胃土燥熱，補益氣血，經自行矣(此中焦脾胃之病)。或心胞絡脈洪數，時見燥熱，大便閉澀，小便雖清不利，而紅水閉絕不行，此乃血海干枯，宜調血脈，除胞絡中火邪，而經自行矣(此下焦胞絡熱結也)。或因勞心火動而赤液竭，或因憂思氣結而胞脈閉，氣上迫肺，心氣不得下通，故月事不來，宜先服降心火之劑，後用養脾血之藥而自來矣(此上焦心肺熱結也)。</p>
<p>瀉心火、養脾血是從本文之義，愚謂當原隱曲推解。蓋人有隱情曲意則氣鬱而不暢。不暢則心氣不開，脾氣不化，水穀日少，不能變現氣血，以入二陽之血海矣。血海無余，所以不月也。傳為風消者，陽明主肌肉，血不足則肌肉不榮。其不消瘦乎!風之名，火之化也，故當根不得隱曲上看乃有本。</p>
<p>據此論當有四症，如胃熱、胞絡熱、勞心熱三症皆有，宜瀉火養血是也。而所言脾胃久虛致經水斷絕一症，又當以補脾為主，豈得舍而勿論耶?蓋水入經，其血乃生，穀入於胃，脈道乃行。水去榮散，穀清衛亡，況脾統諸經之血，而以久虛之脾胃以致氣血俱衰者，可不為之補益乎?即此以分虛實，明是四症無疑。而樓全善補乃遺補虛一症，何歟?按立齋云：經水者，陰血也，屬衝任二脈。上為乳汁，下為月水。</p>
<p>其為患，有因脾虛而不能生血者，調而補之。脾鬱而不能行血者，解而補之。胃火而血消爍者，清血補之。脾胃損而血少者，溫而補之。勞傷心血而不能行者，逸而補之。怒傷肝氣而不能行者，和而補之，肺氣虛而不行者，補脾胃。腎氣虛而不行者，補脾肺。經云：損其肺者益其氣，損其心者調其榮衛，損其脾者調其飲食、適其寒溫，損其肝者緩其中，損其腎者益其精。當參而治之，庶無誤矣。</p>
<h3>枯血論</h3>
<p>駱龍聲方云：腹中論曰：有病胸脅支滿者，妨於食，病至則先聞腥臊臭，出清液，先唾血，四肢清，目眩，時時前後血，病名血枯。此得之年少時有所大脫血，或醉而入房，虧損腎肝。蓋肝藏血，受天一之氣以為滋榮，其經上貫膈，布脅肋。若脫血失精，肝氣已傷，肝血枯竭，不能榮養而(胸脅滿症，人皆伐肝，豈知血枯之人宜養肝血也。當須識此)肝病。傳脾則妨食而腥臊臭，出清液。若肝病而肺乘之則唾血，四肢清，目眩，時時前後血出，皆肝病血傷之症也。然其治法，又當取乎脾土。</p>
<p>按立齋云：前症若飲食起居失宜而脾胃虛損，當滋化源。若以脾土虛寒而不能生血，宜補命門火。若服食　燥，郁內火作而津液消爍，宜清熱養血。若脾胃虧損而氣血空虛，宜補中益氣。若胃熱消中而血液耗損，宜清脾胃之火。若大便閉澀，小便清利而經不行，宜補心養血。此治血枯大法，以調養真元為主。若泛用苦寒峻劑，以通導癸水為捷徑法門，殊不知愈通則愈閉，其生生之源斫削殆盡，直至風消息賁，難於措手矣。</p>
<h3>血勞論</h3>
<p>寇宗　云：夫人之生以氣血為本，故人之病未有不先傷其氣血者。若室女童男積想在心，思慮過度，多致勞損。男子則神色先散，女子則月水先閉。蓋憂愁思慮則傷心，而血逆竭，神色先散，月水先閉。且心病不能養脾，故不嗜食。脾虛則金虧，故發嗽。腎水絕則木氣不榮，而四肢干痿，故多怒，鬢發焦，筋骨痿。若五臟傳遍則死。自能改易心志，用藥扶持，庶可保生。</p>
<p>按經云：五穀入於胃，其糟粕、津液、宗氣分為三隊，故宗氣積於胸中，出於喉嚨，以貫心肺而行呼吸。榮氣者，泌其津液，注之於脈，化以為血，以榮四末，內養五臟六腑。若服苦寒之劑，復傷胃氣，必致不起。</p>
<h3>血崩論</h3>
<p>東垣云：婦人經漏有二。或脾胃虧損，下陷於腎，肝與相火相合，濕熱下迫，經漏不止，其色紫黑腐臭，其脈洪大沉弦，或沉而數疾，腰臍下痛，寒熱往來，兩脅急痛，四肢困熱，心煩不眠，宜大補脾胃而升降氣血，自然愈矣(如補中益氣東加防風、芍藥、炒黃柏之類)。又有先富後貧或先貴後賤，病名脫營者，心氣不足，邪火熾旺於血脈之中，由是心病傳脾，火乘土位，形質肌肉顏色不變，經水不時而下。或適來適斷，暴下不止，治以大補氣血之劑，補養脾胃，微加鎮墜心火之藥治其心，補陰瀉陽，紅自止矣。痿論曰：悲哀太甚則胞絡絕，則陽氣內動，發則心下崩，數溲血也。又曰：大經空虛，發為肌痹，傳為脈痿。此之謂也。</p>
<p>《良方》云：婦人衝任二脈為經脈之海，外循經脈，內榮臟腑。若陰陽和平，經事依時，惟勞傷氣血，俾衝任二脈不能約制，經血則忽然暴下，甚則昏悶。速當調補脾胃為主。若寸脈微遲，為寒在上焦，則吐血衄血。尺脈微遲，為寒在下焦，則崩血便血。寸口脈弦而大，弦則為緊，大則為芤，緊則為寒，芤則為虛，虛寒相搏，其脈為革。婦人半產漏下，赤白不止。大抵數小為順，洪大為逆。脈小虛滑者生，脈大緊實數者死。脈遲者生，脈急者死。又漏血脈虛浮者，不治。</p>
<p>按戴復庵云：血大至曰崩中，或清或濁，或純下瘀血，或腐臭不堪，甚則頭目昏暈，四肢厥冷，急宜童便調理中東加入百草霜飲之。又有崩甚而腹痛，人多疑為惡血未盡，又見血色瘀黑，愈信惡血之說，不敢止截。大凡血之為患，欲出未出際停在腹中，即成為瘀血難盡，以瘀為惡血，又焉知瘀之不為虛冷?若必待瘀盡而後截之，恐並與人無之矣。況此腹痛更有說焉。瘀停腹痛，血通而痛止。崩行腹痛，血住而痛止。宜芎歸東加炮薑、熟附止其血而痛自止。</p>
<p>薛立齋云：經曰陰虛陽搏謂之崩。又曰：陽絡傷則是血外溢，陰絡傷則血內溢。又曰脾統血，肝藏血。其為患有因脾胃虛損不能攝血歸源，或因肝經有火，血得熱而妄行，或因肝經有風，血得風而妄動，或因怒動肝火，血熱而沸騰，或因脾經郁結，脾虛而血不歸經，或因悲哀太過，胞絡內絕而下崩。治療之法，脾胃虛弱者六君子東加芎、歸、柴胡，脾胃下陷者補中益氣東加白芍，肝經血熱者加味逍遙散，脾經郁者歸脾東加柴胡。故東垣、丹溪諸先生云：凡下血症，須四君子湯收功。有旨哉(薛氏所論凡七條，而脾胃三條，肝經三條，胞絡一條。皆不舍柴胡、丹、芍者，以厥陰手足二經為多血藏血之所。血為熱迫則不能藏，從陽亟起，故以引起肝氣，而梔、芍等收陰抑陽也。如東垣升陽舉經之意，尤得其端。所定脾胃方藥，必是久病，又是出脾胃症者宜之。蓋立齋治久病者多，故其立言如此。且謂四君子為血症收功，須用則非初治之法。可知立齋得力處在此)。若夫去血後，毋以脈診，當急用獨參湯救之。若潮熱咳嗽，脈數，乃元氣虛弱，假熱之脈，尤當用人參溫補。此等症候，無不由脾胃先損，故脈洪大。察其有胃氣能受補者則可救，苟用寒涼止血之藥復傷胃氣，反不能攝血歸源，是速其危也。</p>
<h3>痰氣污血論</h3>
<p>丹溪云：涎郁胸中，清氣不升，故經脈壅遏而降下，非開涎不足以行氣，非氣升則血不能歸隧道(又得一種見解。人嘗謂丹溪先生善治痰，然哉)。此論血泄之議甚明。蓋開胸膈濁痰則清氣升。清氣升則血歸隧道而不崩矣。故其症或腹滿如孕，或臍腹　痛，或血結成塊，或血出則快，血止則痛，或臍上動。其治法宜開結痰、行滯氣、消污血，此丹溪先生之妙法也。</p>
<h3>殺血心痛論</h3>
<p>《良方》云：婦人血崩而心痛甚，名曰殺血心痛。由心脾血虛不能內榮故也。若小產而去血過多而心痛甚，用烏賊骨炒為末，醋湯調下。若瘀血不散，用失笑散。若心血虛弱，用芎歸湯。若郁結傷脾，用歸脾湯。</p>
<h3>帶下論</h3>
<p>《良方》云：婦人帶下，其名有五。因經行產後風邪客於胞門，傳於臟腑所致。若傷足厥陰經色如青泥，傷手少陰經色如紅津，傷手太陰經形如白涕，傷足太陰經黃如爛瓜，傷足少陰經黑如衄血。人有帶脈，橫於腰間，如束帶之狀，病生於此，故名曰帶(胞門子戶即子宮，俗所謂火腸也。其傳臟有征，傳腑無症，豈二而一歟?又曰：病生於帶，則臟腑之說似屬空文。蓋以帶脈管束諸經，故總雖三，究其治一也)。</p>
<p>按徐用誠先生云：前症白屬氣而赤屬血。東垣先生云：血崩久則亡陽，故白滑之物下流未必全拘於帶脈，亦有濕痰流注下焦，或腎肝陰淫濕勝(腎肝陰淫濕勝有隱指之意，如男子白濁也)，或因驚恐而木乘土位，濁液下流，或思慕為筋痿。戴人以六脈滑大有力用宣導之法，此瀉其實也。東垣以脈微沉細緊或洪大而虛，用補陽調經之法，乃兼責其虛也。丹溪以胃中痰積下流，用海石、南星之類，乃治其濕痰也。竊謂前症皆當壯脾胃、升陽氣為主，佐以各經見症之藥。色青者屬肝，用小柴胡東加山梔、防風。濕熱壅滯，小便赤澀，用龍膽瀉肝湯。肝血不足，或燥熱風熱，用六味丸。色赤者屬心，用小柴胡東加黃連、山梔、當歸。或思慮過傷，用妙香散。色白者屬肺，用補中益氣東加山梔。色黃者屬脾，用六君子東加柴胡、山梔，或歸脾湯。色黑者屬腎，用六味丸(前論五色分屬五臟而無治法，此以五臟之中分治法虛實，尤見的據)。氣血俱虛八珍湯，陽氣下陷補中益氣湯，濕痰下注用前東加茯苓、半夏、黃柏，氣虛痰飲下注四七湯送六味丸。不可拘肥人多痰、瘦人多火而以燥濕瀉火之藥輕治之也(肥痰瘦火之說為丹溪認病總訣，何嘗教人泥定一方也。至不可輕治而火濕浮腫，若亦概以此穩當之言不可輕用，則潔古之十棗、子和之汗吐下、太無之神　玉燭與小胃丹之類可輕用之歟?予不放為丹溪　為欲正今之妄口耳。)</p>
<h3>白濁白淫論</h3>
<p>《良方》云：婦人小便白濁白淫者，皆由心腎不交養、水火不升降，或因勞傷於腎，腎氣虛冷故也。腎主水，開竅於陰，陰為溲便之道，胞冷腎損，故有白濁白淫之病(據此宜屬寒，今皆主熱)。宜金鎖正元丹。或因心虛而得者，宜平補鎮心丹。若因思慮過多而致使陰陽不分，清濁相干而成白濁者，思則傷脾故也，宜四七湯吞白丸子，此藥極能分利陰陽耳。</p>
<p>按立齋云：前症若元氣下陷，用補中益氣湯。脾胃虧損，用六君子東加升、柴。脾氣鬱結，用歸脾東加丹皮、山梔。肝經怒火(怒火有虛實。實者瀉之，故用龍膽。虛者補之，故用逍遙，以逍遙有歸、芍養血也)用龍膽瀉肝湯。肝虛用加味逍遙散，宜與帶下參看。</p>
<h3>虛勞門</h3>
<p>《綱目》云：五勞六極七傷諸症已詳於雜病門中，而今復敘者，緣婦人多因行胎產，或飲食起居七情重傷肝脾之所致。又或失於調攝，或過於攻伐，而亦有初因勞倦所傷，苟或失治，即變皮聚毛落，飲食不為肌膚，骨髓中熱，經閉不行，謂之勞瘵骨蒸熱。其治與男子不同者，因男以氣為主，女以血為主故也(精血雖殊，而虛勞形症不遠，治亦不異，宜與雜症參觀)。</p>
<p>按戴氏云：有病後血虛者，有本體血虛者，其人五心煩熱，或往來寒熱，言語無力，面黃，頭目昏暈，變生諸症，用芎歸東加羊肉少許，或十全大補湯、四物養榮湯治之。若血虛而氣旺者用抑　氣湯(即香附末)，若勞倦傷者用補中益氣湯(補中益氣是治勞倦內傷之劑，乃初治法，非久病治法，勞瘵骨蒸所宜)。</p>
<h3>冷勞</h3>
<p>(無熱虛勞乃陽虛症，其病自上而下，損之脈也，法宜溫補)</p>
<p>《大全》云：婦人冷勞屬氣血不足、臟腑虛寒，以致臍下冷痛，手足時寒，月經失常，飲食不消，或時嘔吐，惡寒發熱，骨節酸疼，肌膚羸瘦，面色萎黃也。</p>
<p>薛氏曰：前症有內外真寒者，有內外真熱者。有內真熱而外假寒者，有內真寒而外假熱者，若飲食難化，大便不實，腸鳴腹痛，飲食畏寒，手足逆冷，面黃嘔吐，畏見風寒，此內外真寒之症也。宜用附子理中湯以回陽，八味地黃丸以壯火。若飲食如常，大便堅實，胸腹痞脹，飲食喜冷，手足煩熱，面赤，嘔吐，不畏風寒，此內外真熱之症也。宜用黃連解毒湯以消陽，六味地黃丸以壯水。若飲食如常，大便堅實，胸腹痞脹，手足逆冷，面黃嘔吐，畏見風寒，此內真熱而外假寒也，亦用解毒湯、六味丸。若飲食少思，大便不實，吞酸噯氣，胸腹痞滿，手足逆冷，面赤嘔吐，畏見風寒，此內真寒而外假熱也，亦用理中湯、八味丸。當求其屬而治之。經曰：益火之源，以消陰翳，壯水之主，以鎮陽光。使不知真水火之不足，泛以寒熱藥治之，則舊疾未去，新病復生矣。夫所謂屬者，猶主也，謂心腎也。求其屬也者，言水火不足而求之於心腎也。火之源者，陽氣之根，即心是也。水之主者，陰氣之根，即腎是也，非謂火為心、源為肝、水為腎、主為肺也。</p>
<h3>熱勞</h3>
<p>(此屬陰虛，自下而上至脈之病也。宜以丹溪、節齋、古庵諸公之方參用。然陰虛難治，以血生於氣、先無形而後有形也。且滋陰之劑有害脾胃，脾傷則氣損，氣損則血無以生，氣盛則火有所助，誠難調治。惟審胃氣有無以決治則，此為良法耳)</p>
<p>《大全》云：婦人熱勞由心肺壅熱，傷於氣血，以致心神煩躁，眼赤頭疼，眼澀唇干，口舌生瘡，神思昏倦，四肢壯熱，飲食無味，肢體酸疼，心忪盜汗，肌膚日瘦，或寒熱往來。</p>
<p>當審所因，調補氣血，其病自愈矣(是言實火，非同勞熱之火可補)。薛氏云：熱勞乃壯火食氣，虛火煎熬真陰之所致也。王太仆云：如大寒而甚，熱之不熱，是無火也。熱來復去，晝見夜伏，夜發晝止，是無火也。當治其心。如大熱而甚，寒之不寒，是無水也。熱動復止，倏忽往來，時作時止，是無水也(太仆所論真水真火，此根有生中來，故當求屬以衰之。竊謂以下諸症或肝或脾或肺，而心腎者甚少，總以分氣分血主治，卻與求屬之意不同)。當助其腎。心盛則生熱，腎盛則生寒。腎虛則寒動於中，心虛則熱收於內(此下十二節分經症虛實定方，確有見解)。竊謂前症若肝脾血虛，用四物參朮。肝脾鬱怒，小柴胡合四物。脾胃氣虛，補中益氣湯。肝脾血熱，加味逍遙散。肝經風熱，加味小柴胡湯。心經血虛，天王補心丹。肺經氣虛，人參補肺湯。肝經血虛，加味四物湯。大抵午前熱屬氣分，用清心蓮子飲，午後熱屬血分，用四物加參朮丹皮。熱從左邊起者，肝火也，實則四物、龍膽、山梔，虛則四物、參朮、黃　。熱從臍下起者，陰火也，四物、參朮、黃柏、知母酒拌炒黑、五味、麥冬、肉桂。如不應，急用加減八味丸。不時而熱，或無定處，或從腳心起，此無根心虛也，用加減八味丸及十全大補東加門冬、五味主之。</p>
<h3>骨蒸勞</h3>
<p>(瘵有鬼，鬼病當祭，故瘵從之。《葛氏鈐方》有祭煉法，以癸亥夜半跪禱北斗，皆祭瘵法。若果有瘵鬼，亦是孽冤為祟，藥石云何)</p>
<p>《良方》云：骨蒸勞者，由積熱附於骨而然也(此至脈之病也。夫腎主骨，骨至於蒸，真陰竭矣。陽何以依而傳各經，此病是孽)。亦曰傳尸　，復連無辜，其名不一。此病皆由脾胃所致。其形羸瘦腹脹，瀉痢，肢體無力，傳於腎則盜汗不止，腰膝冷痛，夢與鬼交，小便黃赤。傳於心則心神忪悸，喜怒不時，頰唇赤色，作寒作熱。傳於肺則胸滿短氣，咳嗽吐痰，皮膚甲錯。傳於肝則兩目昏暗，脅下妨痛，閉戶忿怒。五臟既病，則難治療。</p>
<h3>血風勞</h3>
<p>《大全》云：婦人血風勞症(肝熱生風，故病名血風。曰勞者，病久血虛，月候不行，而發熱不止也)，因氣血素虛，經候不調，或外傷風邪，內挾宿冷，致使陰陽不和，經絡痞澀，腹中堅痛，四肢酸疼，月水或斷或來，面色萎黃羸瘦。又有產後未滿百日，不謹將護，臟腑虛忪，百脈枯竭，遂致勞損，久不瘥則變寒熱，休作有時，飲食減少，肌膚瘦瘁，遇經水當至則頭目昏眩，胸背拘急，四肢疼痛，身體煩熱，足重面浮，或經水不通，故謂之血風勞氣也。</p>
<p>按薛氏曰：東垣云喜怒不節，起居不時，有所勞傷，皆損其氣。氣衰則火旺，火旺則秉其脾土，脾主四肢，故困熱懶言，動作喘乏，表熱自汗，心煩不安。當病之時，宜安心靜坐，存養其氣，以甘寒瀉其熱氣，以酸味收其散氣，以甘溫補其中氣。經云：勞者溫之，損者益之。《要略》云：平人脈大為勞，以黃　建中湯主之(此是勞傷元氣，乃脾肺氣虛，非血風勞也。當從損治。血風勞者，乃肝血虛風，熱而成勞也。風勞冷勞因虛乘襲，日久變成勞熱。</p>
<p>氣虛者氣不足，熱勞者血不足。至骨蒸勞瘵，大都難治矣)。</p>
<h2>胎前門</h2>
<h3>總論</h3>
<p>虞氏曰：《脈經》云：診其手少陰之脈動甚者(手少陰動脈診在神門，於左右手掌後內側橫紋下，與關相對者是)，妊子也。蓋手少陰心脈也，心主血脈故也。又腎為胞門子戶，尺中腎脈，按之不絕者，當妊子也(尺脈更直)。巢氏論云：婦人妊娠，一月名胎胚，足厥陰脈養之。二月名始膏(一名暉)，足少陽脈養之。三月名始胎，手厥陰脈養之。四月始受水精，以行血脈，手少陽脈養之。五月始受火精，以成其氣，足太陰脈養之。六月始受金精，以成其筋，足陽明脈養之。七月始受木精，以成其骨，手太陰脈養之。八月始受土精，以成膚革，手陽明脈養之。九月始受石精，以成毛髮，足少陰脈養之。十月臟腑關節人神俱備，足太陽脈養之(胚胎兆於一氣，胚者氣之形，膏者氣之凝，　胎者形之著。先天以制生化，故以水火金木土石制而化焉。後天順序而成，故以木火土金水相生而養，以逆而化，以順而成，自然之妙也)。是以各經俱養三十日也，惟少陰太陽二經無所專主者，以君主之官無為而已。然受胎在腹七日一變，輾轉相成，各有相生，大集經備矣。今婦人墮胎在三五七月者多，在二四六月者少。臟陰而腑陽，三月屬心，五月屬脾，七月屬肺，皆在五臟之脈。陰常易虧，故多墮耳。如昔云三月墮胎者，則心脈受傷，先須調心，不然至三月復墮。若云五月墮胎者，則脾脈受傷，先治脾，不然至五月復墮。惟一月內墮者，人皆不知有孕，但知不受孕，不知其受而墮也。蓋一月屬肝，怒則墮，多洗下體則竅開，亦墮，一次既墮，則肝受傷，他次亦墮。今之無子者，大半一月內墮胎而致，非盡不孕也。故凡初交之後，最宜將息，勿復交接，以擾其子宮，勿令怒、勿令勞、勿令舉重、勿令洗浴，而又多服養肝平氣之藥，其胎自固。若夫過期，當養之經。虛實不調則胎孕亦為不安，甚則下血而墮矣。安胎之法，宜各按月依經視其氣血虛實而調之，庶無胎墮之患(如此治皆得法)。其或冒風寒，別生異症，又宜各按法而調治之。</p>
<h3>胎前調理法</h3>
<p>《集略》云：母子之腎臟系於胎，是母之真氣，子之所賴也。受孕之後則宜鎮靜，則血氣安和，須內遠七情，外薄五味，大冷大熱之物皆在所禁，使霧露風邪不投間而入。亦不得交合陰陽，觸動欲火。務謹節飲食，若食兔缺唇，食犬無聲，食雜魚而致瘡癬。心驚而癲疾，腎氣不足而解顱(心藏神，腎主骨，故云然)，脾氣不和而羸瘦，心氣虛乏而神不足。兒從母氣，不可不慎也。苟無胎痛、胎動、瀉痢及風寒外邪所傷，不可輕易服藥。不得已者，審度疾勢輕重，藥性高下，不必多品(胎前藥最忌群隊，故不必多出遺書，乃至言也)。</p>
<p>然父少母老，產女必羸，母壯父衰，生男必弱。受氣偏瘁，與以補之。補羸女則養血壯補弱男則壯脾節色。羸女宜及時而嫁，弱男必在壯而婚。昔人論年老而有子者，男不過八八，女不過七七，則知氣血在人固自有量，夫豈逃陰陽之至數哉。</p>
<h3>胎前用藥法</h3>
<p>丹溪曰：胎前當清熱養血，孕婦因火逼動胎逆，上作喘急，用條芩、香附之類為末調下(條芩水中沉者為佳)。黃芩乃上中二焦藥，能降火下行，天行不息，所以生生而無窮。茺蔚子治血行氣，有補陰之妙，命名益母，以其行中有補也。故曰胎前無滯，產後無虛(難產可煎作膏)，條芩、白朮乃安胎之聖藥。俗以黃芩為寒而不用，反為溫熱藥能養胎，殊不知胎孕宜清熱養血，使血循經而不妄行，乃能養胎懷孕。嗜物乃一臟之虛，如愛酸物乃肝臟不能養胎而虛。有孕八九個月必用順氣，須用枳殼、蘇梗等。</p>
<h3>論治胎產有三禁</h3>
<p>潔古云：治胎產之病，從厥陰經論之，是祖氣生化之源也(厥陰肝木乃風化之始，故曰化之源。</p>
<p>而祖氣乃天真之氣，非穀氣東方生風，風生蟲，人亦　蟲也，故從厥陰風木論之)。厥陰與少陽相為表裡，故治法無犯胃氣及上中二焦。有三禁，不可汗、不可下、不可利小便。發汗則傷上焦之陽，通大便則脈數而動脾，利小便則內亡津液，胃中枯燥。制藥之法，能不犯此三禁則榮衛自和而寒熱自止矣。如發渴需白虎(產後發渴恐屬血虛，用白虎宜慎。東垣云：血虛忌白虎)，氣弱用黃　，血刺痛而和以當歸，腹中疼而加之芍藥。大抵產病天行從增損柴胡，雜症從增損四物，宜詳察脈症而用之。</p>
<h3>診婦人有妊歌</h3>
<p>肝藏血兮肺主氣，血為榮兮氣為衛。陰陽配偶不參差，兩臟通和皆類例。血衰氣旺定無孕，血旺氣衰應有體。寸微關滑尺帶數，流利往來並雀啄。小兒之脈已現形，數月懷耽猶未覺。</p>
<p>左疾為男右疾女，流利相通速來去。兩手關脈大相應，已形亦在前通語。左手帶縱兩個男，右手帶橫一雙女。左手脈逆生三男，右手脈順生三女。寸關尺部皆相應，一男一女分形症。</p>
<p>有時子死母生存，或即母亡存子命。往來三部通流利，滑數相參皆替替。陽實陰虛脈得明，遍滿胸膛皆逆氣。左脈太陽浮大男，右脈太陰沉細女。諸陽為男諸陰女，指下分明當計取。</p>
<p>三部沉正等無疑，尺內不止真胎婦。夫棄妻兮縱氣霧，妻棄夫兮橫氣肋。子乘母兮逆氣參，母乘子兮順氣護。小兒日足胎成聚，身熱脈亂無所苦。汗出不食吐逆時，精神結備其中住。</p>
<p>滑疾不散胎三月，但疾不散五月母。弦緊牢強滑者安，沉細而微歸泉路。</p>
<h3>候胎法</h3>
<p>《脈經》曰：婦人懷軀七月而不可知，時時衄血而轉筋者，此為軀也。</p>
<p>衄時噎而動者，非軀也。《素問》云：婦人足少陰脈動甚者，妊子也(《素問》以足少陰脈動甚者為有妊，《脈經》以手少陰脈動甚為有子，豈心腎同一診耶)。又云：陰搏陽別謂之有子(王注云：陰謂尺中也，搏謂搏觸於手也，尺脈搏擊與寸脈殊別，則為有孕之兆)。《脈經》云：娠脈初時寸微小，呼吸五至，三月而尺數也，脈滑疾重，以脈滑疾重，以手按之散者，胎已三月也。脈重手按之不散，但疾不滑者，五月也。尺脈左偏大者為男，右偏大者為女，左右俱大產二子。大者如實(實字妙)狀，婦人娠孕四月。欲知男女法：左疾為男，右疾為女，左右俱疾為生二子(王子亨云：娠孕三部俱滑而疾，在左為男，在右為女)。遣娠孕面南行還復呼之，左回首者是男，右回首者是女。看上圊時夫從後急呼之，左回首者是男，右回首者是女。</p>
<h3>妊婦忌藥</h3>
<p>斑水蛭及虻蟲，烏頭附子配天雄，野葛水銀並巴豆，牛膝薏苡與蜈蚣，三棱代赭芫花射，大戟蛇蛻黃雌雄，牙硝芒硝丹皮桂，槐花牽牛皂角同，半夏南星與通草，瞿麥乾薑桃仁通，砂乾漆蟹腳爪，地蟾茅根莫用好。</p>
<h3>惡阻</h3>
<p>(謂嘔吐、惡心、頭眩、惡食、擇食是也)</p>
<p>《千金方》云：凡婦人虛羸，血氣不足，腎氣又弱，或當風飲冷太過，心下有痰水者，欲有胎而喜病阻。所謂欲有胎者，其人月水尚來，顏色肌膚如常，但苦沉重憒悶，不欲飲食，又不知其患所在，脈理順時平和，則是欲有娠也。如此經二月日後便覺不通，則結胎也(仲圭曰：此說難於取信。受孕之預兆即是惡阻，但必發於經水已閉之後，斷無見於月事通行之際。藉曰有之亦病而非娠也)。阻病者，患心中憒憒，頭重眼眩，四肢沉重懈惰，不欲執作，惡聞食氣，欲啖咸酸果實，多臥少起(惡阻俗謂病兒。然亦間有不病者，又不拘於強弱，此何以故?即俗所謂胎氣好惡。阻亦有寒熱，不可不知)。世謂惡食至三四月日已上，皆大劇吐逆不能自勝舉也。此經血既閉，水漬於臟，臟氣不宣通，故心煩憒悶，氣逆而嘔吐也。血脈不通，經絡否澀，則四肢沉重。挾風則頭目眩也。甚者或作寒熱，恍惚不能支持，第症有輕重耳。輕者不必服藥，重者須以藥療之，使痰水消除，便能食也。既得食力，體強氣壯，力足以養胎，母便健矣。蓋半夏茯苓湯、茯苓丸，端治惡阻，然此二藥比來少有服者，以半夏有動胎之性。蓋胎初結，慮其易散，不可不謹也。張仲景《傷寒論》中黃龍湯正謂娠孕而設也(即小柴胡大半夏)。《局方》則有人參丁香湯，楊振則有人參橘皮湯，王子亨立白朮散，陳士明用醒脾飲，皆不用半夏而服之多效。</p>
<p>按薛氏曰：前症若中脘停痰，用二陳加枳殼。若脾胃虛弱，用異功散。若飲食停滯，用六君子加枳殼。若胃氣不足，用人參橘皮湯。兼氣惱加枳殼，胸脅否滿更加蘇梗，脅痛再加柴胡。若飲食少思用六君子加蘇梗、枳殼，頭暈體倦用六君子湯。若脾胃虛弱，嘔吐不食，用半夏茯苓湯。蓋半夏乃健脾氣、化痰滯之主藥也。脾胃虛弱而嘔吐，或痰涎壅盛而飲食少思，胎不安者，必用茯苓半夏湯，倍加白朮。然半夏、茯苓、陳皮、砂仁善能安胎氣、健脾胃也。若左脈弱而嘔，服諸藥不止者，當用調理歸原藥則愈。經云無陰則嘔是也。</p>
<h3>胎動不安</h3>
<p>《大全》云：妊娠胎動不安，由衝任經虛、受胎不實也。亦有飲酒房室過度損動不安者，有誤擊觸而胎動者，有喜怒氣宇不舒，傷於心肝、觸動血脈者，有信醫宜服溫暖而反為藥所誤，有因母病而胎動者，但治母病其胎自安。有胎不堅固，動及母疾，但當安胎，其母自愈。當察母之形色，若面赤舌青，子死母活，面青舌赤，口中沫出，母死子活。若唇青，兩邊沫出者，子母俱亡。</p>
<h3>漏胎</h3>
<p>(即妊婦經來尿血，自尿門下血，漏胎自胞門下血)</p>
<p>《脈經》云：婦人經月下，但為微少，師脈之，反言有軀。其後審狀，其脈何類，何以別之?師曰：寸口脈陰陽俱平，榮衛調和，按之則滑，舉之則輕，陽明少陰，各知經法，身反洒淅，不欲飲食，頭痛心亂，嘔噦欲吐，呼則微數，吸則不驚，陽多氣溢，陰滑氣盛，當作血盛。滑則多實，六經養成，所以月見。陰見陽精，汁凝胞散。散者損墮，設或陽盛，雙妊二胎，今陽不足，故令激經也(滑脈主血有餘，今經又少，故主有孕)。大抵妊娠經來不多，而飲食精神如故，六脈和緩，滑大無病者，血盛有餘也。兒大能飲，自不來也。</p>
<p>《大全》云：夫漏胎者，謂娠孕數月而經水時下也。此由衝任脈虛，不能約制手太陽、少陰之經血故也。衝任之脈為經絡之海，起於胞內，手太陽小腸脈也，手少陰心脈也。是二經為表裡，上為乳汁，下為月水。有娠之人經水所以斷者，壅之養胎，蓄之為乳汁也。衝任氣虛則胞內泄，不能制其經血，故月水時下，亦名胞漏，血盡則人斃矣。又有因勞役喜怒哀樂不節，飲食生冷，觸冒風寒，遂致胎動。若母有宿疾，子臟為風冷所乘，氣血失度，使胎不安，故令下血也。夫有子之後，蓄以養胎矣，豈可復能散動耶?所以然者，因婦人營經有風，則經血喜動，以此辨之，既營經為風所勝，則所來者非養胎之血。若作漏胎治之，必服補養保胎之藥，且胎不損強，以藥滋之，乃所謂實實虛虛也。其胎總宜墮矣。若醫者知營經有風之理，端於一藥，治風經信可止(漏胎用風藥亦是升舉肝氣，使血不漏則胎自固，不但疏風已也)。或不服藥，胎亦無恙。然亦有胎本不固而因房室不節先漏而後墮者，須作漏胎治之，不可不審也。《脈經》云：婦人懷軀六七月，暴下斗余水，其胞必倚而墮，此非時孤漿預下故也(孤漿預下必倚而墮，此氣血兩虛也)。</p>
<p>按薛氏曰：胎漏黃汁下，或如豆汁，若因肝脾濕熱，用升陽除濕湯。血崩肝脾風熱，用加味逍遙散。肝脾鬱怒用加味歸脾湯，脾胃氣虛錢氏白朮散，脾氣下陷用補中益氣湯，肝經風熱用防風黃芩丸，風入腸胃用胃氣湯。</p>
<h3>子煩</h3>
<p>《大全》云：妊娠若煩悶者，以四月受少陰君火氣以養精，六月受少陽相火氣以養氣。若母心驚膽寒，多有煩悶，名曰子煩。《產寶》云：夫妊娠而子煩者，是肺臟虛而熱乘於心，則令心煩也(肺虛熱乘於心，於理似背，當作虛字上看)。停痰積飲在心胸之間，或沖於心，亦令煩也。若熱而煩者，但熱而已。若有痰飲而煩者，嘔吐涎沫，惡聞食氣，煩躁不安也。大凡娠孕之人，既停痰積飲，又寒熱相搏，氣鬱不舒，或煩躁，或嘔吐涎沫，劇則胎動不安，均為子煩也。</p>
<p>按薛氏云：前症若因內熱用竹葉湯，氣滯用紫蘇飲，痰滯用二陳、白朮、黃芩、枳殼。</p>
<p>氣鬱用分氣飲加川芎。脾胃虛弱用六君子加紫蘇、山梔。</p>
<p>煩躁口乾屬心脾二經，與子煩大同小異，宜用知母丸。</p>
<h3>子懸</h3>
<p>《大全》云：妊娠心腹脹滿者，由腹內素有寒氣，致令停飲，重因觸冷凍飲料發動，與氣相爭，故令心腹脹滿也。</p>
<p>按薛氏曰：前症若外感風寒，內傷飲食，用藿香正氣散。若食傷脾胃，用六君子湯。若陽氣壅滯，胎上逼心，用紫蘇飲。李氏曰：子懸者，心腹脹滿也。娠孕四五月以來，相火養胎，以致胎熱氣逆湊心，心腹脹滿疼痛，宜紫蘇飲。有郁心脹滿甚者，加莪朮及丁香少許。不食者，芩朮湯倍白朮加芍藥。若火盛極一時，心氣悶絕而死，連進紫蘇飲救之。此症兩尺脈絕者，有誤服動胎藥，子死腹中則憎寒，手指唇爪俱青，全以舌為證驗，芎歸湯救之。仲景云：婦人懷孕六七月，脈弦，發熱，其胎愈脹，腹痛惡寒者，少腹如扇，所以然，子臟寒故也。當以附子湯溫其臟。婦人傷胎懷身，腹滿不得小便，從腰以上重如水氣狀，懷身七月，太陰當養不養，此心氣實，當刺瀉勞宮及關元，小便微利則愈。</p>
<h3>心痛</h3>
<p>《大全》曰：娠婦心痛，乃風邪痰飲交結。若傷心經，為真心痛，旦發夕死，夕發旦死。若傷心支絡，則乍安乍發。若傷於子臟，則胎動而血下。</p>
<p>按薛氏曰：前症若飲食所傷，用平胃散加枳殼、山楂。若因錯雜諸邪，當審其因而治之。</p>
<h3>心腹痛</h3>
<p>(附子痛、小腹痛)</p>
<p>《大全》云：娠妊心腹痛者，或由宿有冷疼，或新觸風寒，皆由臟虛而致動也。邪正相擊而並於氣，隨氣上下，上衝於心則心痛，下攻於腹則腹痛，故令心腹痛也。娠妊而痛者，邪正二氣交攻於內也。若不時差者，其痛沖擊胞絡，必致動胎，甚則傷墮也。又云：娠妊心腹疼痛，多是風寒濕冷痰飲與臟氣相擊，故令腹痛，攻衝不已，則致胎動也。</p>
<p>按薛氏曰；前症若風寒痰飲，用金沸草散，雜病咳嗽，胎氣鬱結，加香附、川芎。若飲食停滯，用六君子加紫蘇、枳殼。若怒動肝火，前藥更加柴、梔。若郁結傷脾，用歸脾東加枳殼、山梔。</p>
<p>仲景云：婦人懷胎，腹中諸疾痛，當歸芍藥散主之。《脈經》曰：婦人有胎腹痛，其人不安。若胎動痛，不動欲知生死，令人摸之，如覆杯者生，如肘頸參差起者死。又冷者死，溫者生。</p>
<p>薛氏曰：若腹中不時作痛，或小腹重墜，名曰胎痛。用地黃當歸湯。未應，加參、朮、陳皮。或因脾氣虛，用四君子加歸、地。中氣虛，補中益氣湯(真虛者可用)。</p>
<p>《大全》云：娠妊小腹痛者，由絡虛風寒相搏，痛亦令胎動也。宜紫蘇飲加生薑。若腹脹痛，用安胎飲加升麻、白朮，不應，兼用補中益氣湯。</p>
<h3>腰腹背痛</h3>
<p>《大全》云：腎主腰足，因勞傷損動其經，虛則風冷乘之，故腰痛。冷氣乘虛入則腹痛，故令腰腹相引而痛。其痛不止，多動胎氣，婦人腎以系胞，妊娠而腰痛甚者，則胞墜也。</p>
<p>按薛氏曰：前症若外邪所傷，用獨活寄生湯，勞傷元氣用八珍東加杜仲、砂仁、阿膠、艾葉，脾腎不足以前藥加白朮、補骨脂，氣血鬱滯用紫蘇飲加桔梗、枳殼，肝火所動用小柴胡湯加白朮、枳殼、山梔，肝脾郁結用歸脾東加柴胡、枳殼。</p>
<h3>子腫</h3>
<p>(即子滿子氣胎水腫滿)</p>
<p>《產寶論》曰：娠孕腫滿，由臟氣本弱，因孕重虛，土不克水，血散於四肢，遂致腹脹足面目皆浮、小便閉澀。陳無擇云：凡婦人宿有風寒冷濕，妊娠喜腳腫，俗呼為皺腳。亦有通身腫滿，心腹脹急，名曰胎水。</p>
<p>論曰：凡妊娠之人，無使氣極。若靜氣和則胎氣安穩，若中風寒邪氣及有所觸犯，則隨邪而生病也。凡妊娠經血閉壅以養胎，若忽然虛腫，乃胎中挾水，水血相搏，脾胃惡濕，身之肌肉濕漬，氣弱則肌肉虛，水流氣溢，故令身腫滿也。然其由有自，或因泄瀉下痢，臟腑虛滑，耗損脾胃，或因寒熱瘧疾，煩渴引飲太過，濕漬脾胃，皆能使頭目或手足浮腫也。然水漬於胞，兒未成形，則胎多損壞。及臨產日，腳微腫者，乃胞臟水少血多，水出於外故微腫，則易生也。宿有寒氣，因寒冷所觸，故能令腹脹腫滿也。</p>
<p>《產乳集論》曰：娠妊自三月成胎之後，兩足自腳面漸腫腿膝以來，行步艱辛，以致喘悶，飲食不美似水氣狀，於腳指間有黃水出者，謂之子氣，直至分娩方消。此由婦人素有風氣，或衝任經有血風，未可妄投湯藥，但甚者將產之際，有不測之憂，故不可不治於未產之前也(古方論中鮮有言者，元豐中，淮南陳景初獨能論治此症，方名香附散，李伯時名曰天仙藤散)。</p>
<p>按薛氏曰：若前症胸滿腹脹，小便不通，遍身浮腫，用鯉魚湯(論曰：滿，妊婦通身腫滿或心胸急脹，名曰胎水。遂去孕婦胸前看之，胸肚不分，急以鯉魚湯三五服，大小便皆下惡水，腫消脹去，方得分娩死胎。此症蓋因懷孕腹大，不自知覺，人人謂孕婦如此，終不知胎水之為患也)。</p>
<p>脾胃虛弱，佐以四君子。若面目虛浮，肢體如水氣，用《全生》白朮散，未應，用六君子湯。脾虛濕熱，下部作腫，用補中益氣加茯苓。若飲食失節，嘔吐泄瀉，用六君子湯。若腿足發腫，喘悶不安，或指縫出水，用天仙藤散。脾胃虛弱，合四君子湯。如未應，用補中益氣湯。若脾肺氣滯，用加味歸脾湯，佐以加味逍遙散。</p>
<h3>子癇</h3>
<p>《大全》云：妊娠體虛受風而太陽之經絡後間遇風寒相搏，發則口噤項強，名之曰痙。</p>
<p>又云：，其候冒悶不識人，須臾自省，良久復作，謂之風痙，一名子癇，又名子冒，甚則反張。</p>
<p>立齋云：前症若心肝風熱，用鉤藤湯。肝脾血虛，加味逍遙散。肝脾鬱怒，加味歸脾湯。氣逆痰滯，紫蘇飲。肝火風熱，鉤藤散。脾郁痰滯，二陳加竹瀝、薑汁。若兼症相雜，當參照子煩門。</p>
<h3>子喑</h3>
<p>《大全》云：孕婦不語，非病也。間有如此者，不須服藥，臨產月但服資生丸、四物湯之類，產下便能言，亦自然之理，非藥之功也。帝曰：人有重身九而喑，此為何也?歧伯曰：胞之絡脈絕也。曰：何以言之?曰：胞絡者，系於腎少陰之脈，貫腎系舌本，故不能言。曰：治之奈何?曰：無治也，當十月復。</p>
<h3>咳嗽</h3>
<p>《大全》云：夫肺內主氣，外司皮毛，皮毛不密，寒邪乘之則咳嗽(肺屬金，為五臟華蓋，又為嬌臟，臟腑受邪則為火，火盛必爍金，故諸臟腑受邪未有不干肺者也)。秋則肺受之，春則肝受之，夏則心受之，冬則腎受之。其咳不已則傳於腑，嗽久不已則傷胎也。</p>
<p>薛氏曰：前症若秋間風邪傷肺，用金沸草散(雜咳嗽)。夏間火克刑金，用人參平肺散(雜喘)。冬間寒邪傷肺，用人參敗毒散(雜傷濕)。春間風邪傷肺，參蘇飲(雜發熱)。若脾肺氣虛，用六君、芎、歸、桔梗。若血虛，四物加桑皮、杏仁、桔梗。腎火上炎，六味丸加五味子煎服。脾胃氣虛，風寒所傷，補中益氣加桑皮、杏仁、桔梗。蓋肺屬辛金，生於己土，咳久不愈者，多因脾土虛而不能生肺氣，以致腠理不密，外復感邪。或因肺氣虛而不能生水，以致陰火上炎所致。治法當清肺金、生腎水為善。</p>
<h3>吐血</h3>
<p>《大全》云：妊娠吐血者，皆由臟腑所傷，凡憂思驚怒，皆傷臟腑。氣逆於上，血隨而溢，心悶胸滿，久而不已。心悶甚，死，妊娠病此，多墮胎也。</p>
<p>立齋云：前症若肝經怒火，先用小柴胡加山梔、生地，次用前藥合四物，後用加味逍遙散。</p>
<p>肝經風熱，防風子芩丸。心經有熱，朱砂安神丸。心氣不足，補心湯。思慮傷心，妙香散。</p>
<p>胃經有火，犀角地黃湯。膏粱積熱，加味清胃散。郁結傷脾，加味歸脾湯。肺經有火，黃芩清肺飲。</p>
<h3>下胎</h3>
<p>《大全》云：娠妊羸瘦，或挾疾病，臟腑虛損，氣血枯竭，不能養胎，致胎動而不堅固。若終不安者，則可下之，免害娠婦也。</p>
<p>薛氏曰：前症宜用腰腹背痛門方論主治，其胎果不能安者方可議下，慎之慎之。</p>
<h3>防胎自墮</h3>
<p>丹溪云：陽施陰化，胎孕乃成，血氣虛損不榮養，其胎自墮。或勞怒傷情，內火便動，亦能自墮。推原其本，皆因熱火消物，造化自然，《病源》乃謂風冷傷於子臟而墮，此未得病情者也。昔者一婦但有孕至三月左右必墮，診其左手大而無力，重取則澀，知其血少也。以其少年，只補中氣，使血自榮，時正初夏，教以濃煎白朮湯下黃芩末一錢，服三四十帖遂得保全其生(單用白朮補中，以榮出中焦，土生萬物也)。因而思之，墮因內熱，而虛者為多，曰熱曰虛，當分輕重。蓋孕至三月，正屬相火，所以易墮，不然何以黃芩、熟艾(熟艾性溫，亦助相火，若果有熱，或恐不宜)、阿膠等為安胎聖藥耶(好生之工，幸毋輕視)?</p>
<h3>半產</h3>
<p>夫妊娠日月未足，胎產未全而產者，謂之半產。蓋因娠婦衝任氣虛，不能滋養於胎，胎氣不固，或　撲閃墜，致氣血動損，或因熱病溫瘧之類，皆令半產。仲景云：虛寒相搏，其脈為革，婦人則半產漏下是也。又云：半產俗呼小產，或三四月，或五六月，皆為半產。以男女成形故也。或因悲哀憂恐暴怒，或勞力打撲損動，或觸冒暑熱，忌黑神散，恐犯熱藥，轉生他病，宜玉燭散、和經湯之類。《便產須知》云：小產不可輕視，將養十倍於正產可也。又云：半產即肌肉腐爛，補其虛損，生其肌肉，益其氣血，去其風邪，養其臟氣，將養過於正產十倍，無不平復，宜審之。立齋云：小產重於大產，蓋大產如栗熟自脫，小產如生采，破其皮殼，傷其根蒂也。但人輕忽致死者多。治法：補形氣，生新血，去瘀血。若未足月，痛而欲產，芎歸補中湯倍加知母止之。若產而血不止，人參黃　湯補之。若產而心腹痛，當歸川芎湯主之。胎氣弱而小產者，八珍湯固之。血出過多而發熱者，聖愈湯。汗不止，急用獨參湯。發熱煩躁，肉　筋惕，八珍湯。大渴面赤，脈洪而虛，當歸補血湯。身熱面赤，脈沉而微，四君加薑附。東垣云：晝發熱而夜安靜，是陽氣旺於陽分也。晝安靜而夜發熱，是陽氣陷入陰中也。如晝夜俱發熱，是重陽無陰也，當峻補其陰。若陽氣自旺者，四物二連湯。陽陷於陰者，補中益氣湯，重陽無陰者，四物湯。無火者，八味丸。無水者，六味丸。東垣云：婦人分娩及半產漏下，昏昧不省，瞑目無所知覺者，緣血暴亡故也。蓋有形血去則心神無所養。心與胞絡者，君火相火也，得血則安，亡血則危，心火上熾故令人昏昧。火勝其肺，瞑目不省人事，是陰血暴去，不能鎮撫也。血已虧損，往往用滑石、甘草、石膏之類，乃甘平大寒之藥能瀉氣中之熱，是血虧瀉氣及陰虧瀉陽，使二者俱傷，反為不足，虛勞之病，昏迷不省者，上焦心肺之熱也。此無形之熱，用寒涼之藥，驅令下行，豈不知上焦之病悉屬於表症也，汗之則愈，今反下之，幸而不死。暴虧氣血，必夭天年。又不知《內經》有說，病起不足，宜補不宜瀉，但瞑目之病悉屬於陰，宜汗不宜下。又不知傷寒鬱冒得汗則愈，是禁用寒涼藥也。分娩半產，本氣不病，是暴去其血，亡血補血又何疑焉(暢快)。補其血則神昌，常時血下降亡，今當補而升舉之，心得血養而神不昏矣。血若暴下，是秋冬之令太旺，今舉而升之，助其陽則目張而神不昏矣(妙在升陽)。今立一方，補血、養血、生血、益陽，以補手足厥陰之不足也。名曰全生活血湯(半產後諸症，更於產後方論中參用之)。</p>
<h3>先期後期</h3>
<p>《大全》云：娠婦人懷胎有七月八月而產者，有至九月十月而產者，有經一年二年乃至四年而產者，各依法治之。</p>
<p>薛氏曰：先期欲產者涼血安胎，過期不產者補血行滯。</p>
<h3>鬼胎</h3>
<p>《大全》云：婦人臟腑調和則氣血充實，風邪鬼魅不能干之。若榮衛虛損則精神衰弱，妖魅鬼精得入於臟，狀如懷孕，故曰鬼胎也。</p>
<p>薛氏曰：前症因七情相干，脾肺虧損，氣血虛弱，行失常道，衝任乖違而致之者，乃元氣不足、病氣有餘也。若見經候不調，就行調補，庶免此症。治法以補元氣為主，而佐以雄黃丸之類行散之。若脾經郁結氣逆者，用加味歸脾湯調補之。若脾虛血不足者，用六君芎歸培養之。肝火血耗者，用加味逍遙散滋抑之。肝脾鬱怒者，用加味逍遙、歸脾二藥兼服。腎肝虛弱者，用六味地黃丸。</p>
<h2>臨產門</h2>
<h3>臨產</h3>
<p>立齋云：欲臨產之時，覺腹內轉動，即當正身仰臥，待見轉身向下(催生藥切不可早，若兒未轉順身，宜以補血為主，而寬氣有之)，腰腹痛甚者，將產也。蓋腎候於腰，胞系於腎故也。若但覺腹痛者，未產也，不可服催生滑胎等藥，亦不可令人抱腰(抱腰則兒不能轉身，故不可)動手(穩婆之手)。產母亦不可妄亂用力，以致橫生逆產。若未產而水頻下，此胞衣已破，血水先干，而不能分娩也，宜保生無憂散以固其血(固血之說宜玩，八珍益母配法服治俱妙)，自然生息。如血過於耗損，八珍湯(料一斤)加益母草(半斤水數碗)煎熟，不時飲之，亦有得生也。陳無擇云：是乃多因兒未轉順，坐草太早，或過於努力，以致胞衣破而血水干、產路澀，而兒難下。宜服催生如神散，以固其血，自能潤下。亦有因兒轉身時將兒枕破碎與胞中敗血壅滯，兒身不能便利，是以難產。急服勝金以消其血，兒便得生。若未產一月之前，忽然臍腹疼痛，如有欲產之狀者，是名弄胎。又名試水。穩婆不悟，入手探胎，致胞破漿干，兒身難轉，亦難生矣。然貧賤婦人，生育極易者，以其勞役，胎氣流動故也。富貴之家濃養安逸，身體肥壯，以致氣滯而胎不轉，故難產也。況婦人以血為主，血以氣為主，惟氣順而血和，胎安則產順，故瘦胎飲一論專為奉養者設也。若多思多郁及藜藿之人，其體雖肥而內氣必弱，兒在胞胎不能自運，宜用達生散以補母氣，則兒健而易產矣。大概臨產之際，勿令飢渴以乏其力，亦勿令驚恐以散其氣，法宜滑以流通澀滯。古以驅逐閉塞，香以開竅逐血氣。滯者行氣，胞漿先破者固血(固血如閘水放舟，最為穩當)。盛夏之月倘若頭暈血溢，頭痛面赤，昏昏如醉，不知人事，當清水益元解之(血暈血溢以水解之，在暑月尤宜，余月亦無害，惟少吃之)。冬月天冷用火溫暖下部，衣服尤當溫濃，方免胎寒血結，則兒易生(仲圭曰：此語甚是，婦人志之)。</p>
<p>薛氏曰：交骨不開，產門不閉，皆由元氣素弱，胎前失於調攝，以致血氣不能運達而然也。交骨不開，陰氣虛也，加味芎歸湯、補中益氣湯。產門不閉，氣血虛也，十全大補湯。</p>
<p>《準繩》云：產難子死腹中者，因驚動太早或觸犯禁忌，致令難產。胞漿已破，血無養胎，枯涸而死也。須驗產母舌，若青黑，其胎必死，當下之。大法寒者熱以行之，熱者涼以行之，燥者滑以潤之，危急者毒藥下之。</p>
<h3>脈法</h3>
<p>《脈經》云：懷妊六七月，脈實大牢強弦緊者生，沉細者死。脈勻細生易產，大浮緩氣散難產。《脈訣》云：欲產之婦脈離經，沉細而滑也同云。夜半覺痛應分誕，來朝日午定知生。</p>
<p>身重體熱寒又頻，舌下之脈黑復青。反舌上冷子當死，腹中須遣母歸冥。面赤舌青細尋看，母活子死定應難。唇口俱青沫又出，子母俱死總教KT　。面青舌赤沫出頻，母死子活定知真。</p>
<h2>雜症門</h2>
<h3>霍亂</h3>
<p>《大全》云：飲食過度，觸風冷，陰陽不和，清濁相干，謂之霍亂。其間或先吐，或腹痛吐利，是因於熱也。若頭痛體疼發熱，是挾風邪也。若風折皮膚，則氣不宣通，而風熱上衝為頭痛。若風入腸胃則泄利嘔吐，甚則手足逆冷，此陽氣暴竭，謂之四逆。妊娠患之，多致傷胎也。萬密齋曰：霍亂者，陽明胃經之病名也。蓋因平日五味肥釀，腐積成痰，七情郁結，氣盛為火，停蓄胃中，乍因寒熱之感，邪正交爭，陰陽相混，故令心腹絞痛，吐利並作，揮霍變亂，故名霍亂。如邪在上脘，則當心而痛，其吐多。邪在下脘，則當臍而痛，其利多。邪在中脘，則當腹而痛，吐利俱多。吐多則傷氣，利多則傷血，血氣受傷不能護養其胎，況邪氣鼓擊胎元，母壽未有不殞者矣。此危惡之症，不可不亟治也，宜香蘇散加藿香主之。</p>
<h3>泄瀉</h3>
<p>《大全》云：妊娠泄瀉，或青或白，水穀不化，腹痛腸鳴，謂之洞泄。水穀不化，喜飲嘔逆，謂之挾熱下利，並以五苓散利小便，次以黃連阿膠湯或三黃熟艾湯以安之。若瀉黃有沫，腸鳴腹痛，脈沉緊數，用戊己丸和之。噯腐不食，胃脈沉緊，用感應丸下之後調和脾胃。若風冷水穀不化，如豆汁，用胃風湯。寒氣臍下陰冷洞泄，用理中湯、治中湯。伏暑煩渴，瀉水，用四苓散。傷濕泄瀉，小便自利，用不換金正氣散、胃苓散。此四症之大略也(以下諸症須體酌純熟，然只用八方加減可謂要而約矣。而八方之中以六君加味者五，補中益氣加味者六，而益黃、四神、八味腎氣等藥或兼或專，真切確當，於此得心，其他亦可變通矣。又何患方之不廣、用之不神歟)。</p>
<p>薛氏曰：泄瀉若米食所傷，用六君加穀芽。面食所傷，六君加麥芽。肉食所傷，六君加山楂。若嘔吐，皆加藿香。若兼寒熱作嘔，乃肝木侮脾，六君加薑桂不應，用錢氏益黃散。若元氣下陷，發熱作渴，肢體倦怠，用補中益氣湯。若泄瀉色黃，乃脾土之真色，六君加木香、肉果。若作嘔不食，腹痛惡寒，乃脾土虛寒，六君加薑、桂、木香。若瀉在五更侵晨，飲食少思，乃脾腎虛弱，五更服四神丸，日間服白朮散。如不應，或愈而復作，或飲食少思，用八味丸補命火，以生脾土為善。</p>
<h3>痢疾</h3>
<p>《大全》云：娠妊飲食生冷，脾胃不能克化，致令心腹疼痛。若血分病則色赤，若氣分病則色白，氣血俱病則赤白相雜。若熱乘大腸，血虛受患，則成血痢也。</p>
<p>薛氏曰：治痢之法當參前篇。其下黃水乃脾土虧損，真氣下陷也，當升補中氣。若黃而兼青，乃肝木克脾土，宜平肝補脾。若黃而兼白，乃子令母虛，補脾胃為主。兼黃而兼黑，是水反侮土矣，必溫脾胃。若黃而兼赤，乃心母益子，但用補中益氣。若腸胃虛弱，風邪客之，用胃風湯。或胎氣不安，急補脾胃，胎自安矣。凡安胎之藥，當臨病制宜，不必拘於阿膠、艾葉之類。</p>
<h3>小便不通</h3>
<p>(附子淋、轉胞、遺尿)</p>
<p>《大全》云：妊娠小便不通，為小腸有熱，熱傳於胞而不通耳。兼心肺氣滯則致喘急。</p>
<p>陳無擇云：娠婦胎滿逼胞，多致小便不利。若心腎氣虛，清濁相干，則為諸淋。若胞系了戾，小便不通，名曰轉胞。若胎滿尿出，名曰遺尿。</p>
<p>丹溪曰：轉胞病，胎婦稟受弱者、憂悶多者、性躁急者、食濃味者，大率有之。古方皆用滑利流通之藥，鮮有應效，因思胞為胎所壓，轉在一邊，胞系了戾不通耳。胎若舉起，懸在中央，胞系得疏，水道自行。</p>
<p>立齋曰：前症亦有脾肺氣虛不能下輸膀胱者，亦有氣熱鬱結膀胱，津液不利者，亦有金為火爍，脾土濕熱甚而不利者，更當詳細施治。</p>
<p>《大全》云：娠妊小便淋者，乃腎與膀胱虛熱不能制水。然娠妊胞系於腎，腎間虛熱而成斯症，甚者心煩悶亂，名曰子淋也。萬密齋曰：子淋之病須分二症：一則娠母自病，一則子為母病。然娠母自病又分二病：或服食辛熱因生內熱者，或自汗自利津液燥者。其子為母病者亦分二症：或胎氣壅熱者，或胎形迫塞者。症既不同，治亦有別也。大抵熱則清之，燥則潤之，壅則通之，塞則行之，此治之法也。</p>
<p>立齋云：前症若澀少淋瀝，用安榮散。若腿足轉筋而小便不利，急用八味丸，緩則不救矣。</p>
<p>若服燥劑而小便頻數或不利，用生地、茯苓、牛膝、甘草、知、柏、芎、歸。若頻而色黃，用四物加黃柏、知母、五味、門冬、元參。若肺氣虛而短少者，用補中益氣東加山藥、門冬。若陰挺痿痹而頻數，宜地黃丸。若熱結膀胱而不利，用五苓散。若脾肺燥不能生化，宜黃芩清肺飲。若膀胱陽虛，陰無所生，用滋腎丸。</p>
<p>若膀胱陰虛，陽無所化，腎氣丸。</p>
<h2>產後門</h2>
<h3>論產後當大補氣血為主</h3>
<p>丹溪曰：產後當大補氣血為主，雖有雜症，以末治之(產後雖當大補，亦須審惡露有無，內外感虛實何如，庶為合理)。產後補虛用參、朮、黃　、陳皮、歸身、川芎、炙草。如發熱輕則加茯苓滲之，其熱自除，重則加乾薑。</p>
<p>凡產後有病，先固氣血，產後一切病多是血虛，皆不可發表。新產後不可用芍藥，以其酸寒伐生發之氣故也。大抵胎前毋滯，產後毋虛(法言)。</p>
<h3>新產三病</h3>
<p>仲景云：問新產婦人有三病，一者病痙，二者病鬱冒，三者大便難，何謂也?師曰：新產血虛多汗出，喜中風，故令病痙(讀此則知痙症亦有外來，不可專主氣血不足而驟用補劑，反致不救也)。亡血復汗寒多，故令鬱冒。亡津液，胃燥，故大便難(產婦鬱冒即血暈也)。</p>
<h3>脈法</h3>
<p>《脈經》曰：診婦人生產之後，寸口脈洪疾不調者死(不調者並附骨不絕者重看，洪數中得胃氣者亦生，堅強者死。亦須審原稟脈如何，方能斷定)，沉微附骨不絕者生。婦人新生，乳子脈沉小滑者生，實大堅弦急者死。丹溪曰：產前脈細小，產後脈洪大者多死。又曰：產前脈當洪數，既產而洪數如故者，多主死(此亦大概言之，今見產婦脈洪數而生者多矣)。</p>
<h3>胞衣不下</h3>
<p>郭稽中論曰：胞衣不下者何?答曰：母生子訖，血流入衣中，衣為血所脹，故不得下。</p>
<p>治之稍緩，脹滿腹中，以次上衝心胸，疼痛喘急者難治。但服奪命丹(黑附子五錢，丹皮一兩，乾漆炒煙盡二錢五分，用米醋一斤，大黃末一兩，煮膏為丸)以逐去衣中之惡血，血散脹消，胎衣自下。若外冷乘之，則血道澀而胞亦難下，不可不知(豆淋酒用黑豆炒二合，將鐵秤錘燒紅，同豆淬酒)。</p>
<p>薛氏曰：有因惡露入衣，脹而不能出，有因元氣虧損而不能送出，其惡露流入衣中者，腹中脹痛，用奪命丹、失笑散以消瘀血則不緩救。其元氣不能送出者腹中不脹痛，用保生無憂散以補固元氣(法以產婦頭發入口作嘔，胎衣自出，其不出者必死)。</p>
<h3>血暈</h3>
<p>《大全》云：產後血暈者，由敗血流入肝經，以致眼黑頭旋不能起坐，甚至昏悶不省人事，謂之血暈。以細酒調入黑神散最佳。若作暗風中風治之誤矣。然其由有三：用心使力過多而暈者(用心使力過多作暈，治法大都以清心涼血補益為主。《產後保命集方》云：童便或麥冬、烏梅之類皆可，而薛氏用補中益氣者，為勞力也。若用心則朱砂安神丸亦妙，或疑內有黃連於產後不宜，則臨症化裁可也)，有下血過多而暈者，有下血少而暈者。其暈雖同，治之則異，當審詳之。下血多而暈者，昏而煩亂而已，當以補血清心藥。下血少而暈者，乃惡露不下，上搶於心，心下滿急，神昏口噤，絕不知人，當以破血行血藥。大抵血熱乘虛逆上湊心，以致昏迷不省，氣閉欲絕者，飲童便最妙，或醋炭熏鼻亦可(醋解法收其神)。</p>
<p>仲景云：產婦鬱冒，其脈微弱，嘔不能食，大便堅，但頭汗出。所以然者，血虛而厥，厥而必冒，冒家欲解，必大汗出。以血虛下厥，孤陽上出，故頭汗出。所以產婦喜汗出者亡陰，血虛陽氣獨盛，故當汗出。陰陽乃復，所以大便堅，嘔不能食也，小柴胡湯主之。病解能食，七八日更發熱者，此乃胃實，大承氣湯主之。</p>
<p>按：鬱冒即暈也，觀此則產後血暈有汗、下、和解三法，當分表裡虛實為當。</p>
<h3>惡露不下不絕</h3>
<p>《大全》云：夫惡露不下，由產後臟腑勞傷，氣血虛損，或胞絡挾於宿冷，或產後當風取涼，風涼乘虛而搏於血，則壅滯不宣，積蓄在內，故令惡露不下也。</p>
<p>薛氏曰：前症當用失笑散。若氣滯血凝，用花蕊石散。</p>
<p>《大全》云：夫產後惡露不絕者，由產後傷於經血，虛損不足，或分娩之時，惡血不盡在於腹中，而臟腑挾於宿冷，致氣血不調，故令惡露淋漓不絕也。</p>
<p>薛氏曰：前症若肝氣熱而不能主血，用六味丸。或肝氣虛而不能藏血，用逍遙散。若脾氣虛而不能攝血，用六君子湯。脾胃氣下陷而不能統血，用補中益氣湯。若脾經鬱熱而血不歸源，用加味歸脾湯。若肝經風邪而血沸騰，用一味防風丸。</p>
<p>陳氏曰：產後血崩者何?答曰：產後傷耗經脈，未得平復，勞得損動，致血暴崩淋漓不止。</p>
<p>或因酸鹹不節，傷蠹榮衛衰弱，亦變崩中。若小腹滿痛，肝經已壞，為難治。急服固金丸止之。</p>
<p>薛氏云：前症若血滯小腹脹滿，用失笑散。血少小腹虛痞，芎　湯。余參前。</p>
<h3>心腹諸痛</h3>
<p>《大全》云：產後心痛為陰血虧損，隨火上衝心絡，名曰心胞絡痛。宜大岩蜜湯(一名桂心湯，熟地、當歸、獨活、吳萸、白芍、乾薑、桂心、通草各二錢，細辛、甘草各五分)治之。若寒傷心經，名曰真心痛，無藥可救(心痛曰產後則與尋常之病不同矣，當於血分求之)。</p>
<p>薛氏曰：小腹作痛，俗名兒枕塊，用失笑散行散之。若惡露既去而仍痛，用四神散(乾薑、當歸、赤芍、川芎)調之。若不應，用八珍散。若痛而惡心，或欲作嘔，用六君子湯。若痛而泄瀉，用六君子湯送四神丸。若泄瀉痛而後重，用補中益氣湯送四神丸。若胸膈飽脹，或惡食吞酸，或腹痛手不可按，此是飲食所致，用二陳加山楂、白朮以消導。若食既消而仍痛，或更加頭痛煩熱作渴，惡寒欲嘔等症，此是中氣破傷，宜補脾胃為主。若發熱腹痛，按之痛甚，不惡食，不吞酸，此是瘀血停滯，用失笑散消之(按腹痛原文向有數症，曰：因氣滯用玄胡索散，因外寒用五積散，因怒氣用四物加木香、柴胡，因陽氣虛弱用四君子、當歸、炮薑，因脾虛血弱用六君、當歸、炮薑。大凡心腹作痛，以手按之卻不痛者，此血虛也，須用補食之劑)。若只是頭痛發熱，或兼頭痛，按之卻不痛，此屬血虛，用四物加炮薑、參、朮以補之。</p>
<p>《大全》云：兒枕者，由母胎中宿有血塊，因產時其血破散，與兒俱下，皆無患也。若產婦臟腑風冷，使血凝滯在於小腹，不能流通，則令結聚疼痛，名之曰兒枕。《金匱》云：產後七八日，無太陽症，少腹堅痛，此惡露不盡。不大便，煩躁發熱，切脈微實，再倍發熱，日晡時煩躁者，不食，食則譫語，至夜即愈，宜大承氣主之。熱則裡結在膀胱也(按《金匱》所治，重在傷寒裡實，不重在惡露，故其脈症皆寒熱。一言當以無太陽症句及熱結膀胱句玩之，便得其意。既曰惡露不盡，不大便而躁熱矣。然不用桃仁承氣，用大承氣者何?蓋熱結在膀胱，故宜大承氣也)。</p>
<p>《大全》云：產後兩脅脹滿氣痛，由膀胱宿有停水，因產後惡露不盡，水壅與氣相搏，積在膀胱，故令脅肋脹滿。氣與水相激，故令痛也(脅脹痛由膀胱停水所致，是何見解?用何湯藥?勝克乘制之並，故治不同)。</p>
<p>薛氏曰：前痛症若肝經血瘀，用延胡索散。若肝經氣滯，用四君、青皮、柴胡。若肝經血虛，用四物、參、朮、柴胡。氣血俱虛，用八珍、柴胡。若腎水不足，不能生肝，用六味丸。</p>
<p>若肺金勢盛，剋制肝木，用瀉白湯，仍參前論主之。</p>
<p>《大全》云：腎主腰腳，產後腰痛者，為女人腎位系於胞，產則勞傷腎氣，損動胞絡，平復而風冷客之，冷氣乘腰，故令腰痛也。若寒熱邪氣連滯背脊，則痛久不已。後急有娠，必致損動。蓋胞絡屬腎之主腰故也。</p>
<p>薛氏曰：前症真氣虛，邪乘之者，用當歸黃　湯或十全大補湯為主，佐以寄生湯。如不應，用十全大補加附子。</p>
<p>《大全》云：夫頭者諸陽之會也。凡產後五臟皆虛，胃氣虧弱，飲食不充，穀氣尚乏，則令虛熱。陽氣不守，上湊於頭，陽實陰虛，則令頭痛也。又有產後敗血頭痛，不可作不知，黑龍丹言之甚詳。</p>
<p>《大全》云：產發遍身疼痛者何?答曰：產後百節開張，血脈流散，遇氣弱則經絡肉分之間血多流滯，累日不散，則骨節不利，筋脈急引，故腰痛不得轉側，手足不能搖動，身熱頭痛也。若作傷寒治之，則汗出而經脈動惕，手足厥冷，變生他症，但服趁痛散除之(氣弱血滯之痛不可作傷寒治是矣，而血虛、風寒之痛乃不論及，何耶)。</p>
<p>薛氏曰：前症若以手按(按法甚妙)而痛甚，是血滯也，用四物、炮薑、紅花、桃仁、澤蘭補而散之。若按而痛稍緩，是血虛也，用四物、炮薑、人參、白朮補而養之。</p>
<h3>發痙</h3>
<p>郭稽中曰：產後汗出多而變痙者，因產後血虛，腠理不密，故多汗出。遇風邪搏之則變痙也。痙者，口噤不開，背強而直，如發癇狀，搖頭馬鳴，身反折，須臾又發，氣息如絕，宜速灌小續命湯。稍緩即汗出如雨，兩手摸空者，不可治也。</p>
<p>薛氏曰：產後發痙，因去血過多，元氣虧極，或外邪相搏，以致牙關緊急，四肢痙強，或腰背反張，肢體抽搐。若有汗而不惡寒者，曰柔痙，無汗而惡寒者，曰剛痙。由下血過多，筋無所養而致。故傷寒汗下過多，潰瘍膿血大泄多患之，乃敗症也。急以十全大補湯補氣血，如不應，急加附子，或保無虞。若攻邪風，死無疑矣。</p>
<h3>拘攣</h3>
<p>《大全》云：產後中風，筋脈四肢攣急，是氣血不足，臟腑俱虛，早起勞役，為風邪冷氣客於皮膚經絡則令人頑痹不仁，羸乏少氣。風邪入於筋脈，挾寒則攣急也。薛氏曰：肝屬木而主筋，前症若肝經風熱血燥，用加味逍遙散，如不應，當以六味地黃丸以補腎水。經云：風客淫氣，精乃亡，邪傷肝也。</p>
<h3>不語(狂言譫語)</h3>
<p>經云：大腸之脈散舌下。又云：脾之脈，是動則病舌本強直不能言。又云：腎之別脈上入於心，系舌本，虛則不能言。竊為前症因產後虛弱，多致停積敗血閉於心竅，神志不能明了，故令不語。大抵心腎氣虛用七珍散，腎虛風熱地黃飲，大腸風熱加味逍遙加防風、白芷，脾經風熱秦艽升麻湯，肝經風熱柴胡清肝散加防風、白芷，脾氣鬱加味歸脾東加升麻、肝木太過小柴胡加鉤藤，脾受木侮六君子加升麻，白芷、鉤藤，肝脾血虛佛手散，脾氣虛四君子湯，氣血俱虛八珍湯，如不應，用獨參湯，更不應，急加附子補其氣而生其血。若止用血藥則誤矣。《大全》云：產後語言顛倒，或狂言譫語，如見鬼神者，其源不一。一則因產後心虛，敗血停積，上干於心而狂言獨語(當在乍見鬼神條求之)。</p>
<p>二則產後臟虛，心神驚悸，志意不安，言語錯亂，不自知覺，神思不安(當在驚悸條求之)。三則宿有風毒，因產心虛氣弱，腰背強直，或歌哭嗔笑，言語亂道，當作風痙治療(當在心驚中風條求之)。四則產後心虛中風，心神恍惚，言語錯亂(當在中風恍惚條求之)。五則產後多因敗血迷亂心經而癲狂，言語錯亂無常，或暈悶(當於血暈類求之)。六則因產後感冒風寒(諸條俱不言痰)，惡露斬然不行，惡寒發熱如瘧，晝日明了，暮則譫語，如見鬼狀(當作熱入血室治之)，宜琥珀地黃丸及四物湯(不用傷寒治法)，只用生地、北柴胡等分煎服，如不退，用小柴胡東加生地煎服。雖然以上諸症大抵胎前產後自有專門一定之法，毫發不同，如產後首當逐敗生新，然後仔細詳辨疾證，不可妄立名色。加減方藥，大宜對症，依方施治，未有不安者也。</p>
<p>薛氏曰：前症當固胃氣為主，而佐以見症之藥，若一於攻痰則誤矣。</p>
<h3>癲狂(見鬼神)</h3>
<p>《大全》云：產後因驚，敗血衝心，昏悶發狂，如有鬼祟，乃血虛而神不守舍，非補養元氣不可。《局方》用大聖澤蘭散加辰砂一字煎，棗仁湯下，一服可安。</p>
<p>《大全》云：心主一身之血脈，因產傷血，心氣虛耗，敗血停積，上干於心，心受觸遂致心中煩躁，起臥不安，乍見鬼神，言語顛錯。大抵此症皆心脾血少所致，但調補胃氣則痰清而神自安矣(前論止言瘀血而不言痰此言痰而又不治痰，但調胃氣，設果有痰，亦須觀人勇怯為之)。其或不起，多因豁痰降火，攻伐之過也。</p>
<h3>驚悸(恍惚)</h3>
<p>《大全》云：產後臟虛，心神驚悸者，由體虛心氣不足之經為風邪所乘也。或恐懼憂迫，令心氣受於風邪，邪搏於心則驚不自安。若驚不已，則悸動不定，其狀目睛不轉而不能動。診其脈動而弱者，驚悸也，動則為驚，弱則為悸也。治法補氣血為主。</p>
<p>《大全》云：人之血氣通於榮衛臟腑，遍循經絡，產則血氣俱傷，五臟皆虛，榮衛不足，即為風邪所乘，則令心神恍惚。蓋風為虛極之假象，當大補氣血為主，以固其本源，諸病自退。</p>
<p>若專治風則誤矣(自不語至恍惚等症，有謂氣血虛，有謂敗血入心，有謂風所乘，一皆名為心氣。然此風從何來?當從何治?前人亦未知悉，但言治痰治風，而丹溪立齋則以大補氣血為主，若有所見，在臨症酌用之)。</p>
<h3>發熱</h3>
<p>節齋云：產後陰血虛，陽無所依而浮散於外，故多發熱。丹溪用參、朮、　、陳、芎、歸、炙甘草補虛，輕則加茯苓淡滲，其熱自除重則加乾薑，(古人於血症中每每用乾薑，而今人率用炮薑，則孰是而孰非也?若謂入肺則宜乾薑，入肝則宜生薑，入脾溫中則宜炮薑，以其有守有走有從之不同也。今用炮薑，須炮得十分極黑乃妙。尋常治諸虛煩熱者，以竹葉石膏湯、溫膽湯，殊不知產後與尋常不同，如石膏等藥不宜輕用，用之必死)。或云大熱而用乾薑何也?曰：此熱非有餘之邪熱，則陰虛生內熱耳。蓋乾薑能入肺，分利肺氣，又能入肝，分引眾藥生血。然不可獨用，必與補陰血藥同用，收其浮散，使歸依於陰。但產後胃脾虛多有過食，飲食停滯而發熱者，誤作血虛則不效矣。若惡寒發煩躁，作渴，急用十全大補湯。</p>
<p>若熱愈甚，急加附子。若作渴面赤，宜用當歸補血湯。若誤認為火症，投以涼劑，禍在反掌。產後血虛，氣無所依，則逆而為火。火上逆而瘀血迫之，則心煩矣。治宜童便，蓋其味苦鹹寒，其性就下，降火消瘀，故宜服之，所謂濁陰出下竅也。</p>
<h3>自汗</h3>
<p>《大全》云：產後虛汗不止者，由陰氣虛而陽氣加之。裡虛表實，陽氣必發於外，故汗出也。血為陰，產後傷血，是為陰氣虛也。氣為陽，其氣實者，陽加於陰，故令汗出，而陰氣虛弱不復者，則汗出不止也。凡產後血氣皆虛，故多汗，因之遇風則變成痙。縱不成　，亦虛乏短氣，身體柴瘦，唇口乾燥，久則經水斷絕，由津液竭故也(夫汗者，陽之氣，陰盡不復則陽無所歸，以入於陽，故虛陽上浮於外而為汗耳。人多謂汗多成　而失言因而遇風變　之理，又不成　，而短氣柴瘦者，此變熱也。省之省之。亡陽發　用十全大補、參附、　附之類，必審其所以而用，毋泛泛執一以為是也)。</p>
<p>按：前症若氣血俱虛，急用十全大補湯，如不應，用參附、　附等湯。若汗多亡陽發，尤當用前藥。王海藏云：頭汗出，至頸而還，額上汗出偏多，蓋額為六陽之會，由虛熱熏蒸而出也。</p>
<h3>往來寒熱</h3>
<p>產後血氣虛損，陰陽不和，敗血不散，能令乍寒乍熱，陰勝則乍寒，陽勝則乍熱，陰陽相乘則或寒或熱。若因產勞傷臟腑，血弱不能宣越，亦令敗血不散，入於肺則熱，入於脾(何為敗血入肺則熱，入脾則寒也?豈以肺主氣，氣不和而熱，脾統血，血不榮而寒乎?抑脾陰肺陽而自為寒熱耶?然總以逐瘀為主，而溫涼之法有不同也)則寒。若誤作瘧治之則謬矣。陰陽不和者宜增損四物湯，敗血不散者用奪命丹。問曰：二者何以別之?曰：時有刺痛者，敗血也。但寒熱無他症者，陰陽不和也(用增損四物湯不一，當隨病加減)。</p>
<p>按薛氏曰：產後寒熱，因血氣虛弱或脾胃虧損，乃不足之症。經云：陰虛則發熱，陽虛則惡寒。若兼大便不通，尤屬氣血虛弱，切不可用發表降火。若寸口脈微，名陽氣不足，陰氣上入於陽中則惡寒，須用補中益氣湯。尺部脈弱，名陰氣不足，陽氣下陷於陰中則發熱，用六味地黃丸。大抵陰不足，陽往從之則陽內陷而發熱；陽不足，陰往從之則陰上入而惡寒。此陰陽不分其歸，以致寒熱交爭，故惡寒而發熱也。當用八珍湯。若病後四肢發熱，或形氣倦怠，此元氣未復，濕熱乘之故耳。宜補中益氣湯。若肌熱，大渴引飲，面紅目赤，此血虛發熱，用當歸補血湯。</p>
<h3>蓐勞</h3>
<p>《大全》云：產後蓐勞者，此由生產日淺，氣血虛弱，將養失所而風冷客之。風冷搏於氣血則不能溫於肌膚，使人虛乏勞倦，乍臥乍起，顏色憔悴，飲食不消，風冷邪氣而感於肺，肺受微寒，故咳嗽口乾，遂覺頭昏，百節疼痛。榮衛受於風邪，流注臟腑，須臾頻發，時有盜汗，寒熱如瘧，背膊煩悶，四肢不舉，沉重著床，此則蓐勞之候也(蓐勞有二，然總起於產蓐。一則挾外感，一則由七情。其或兼內傷飲食泄瀉與夫瘀血未盡者皆有之，不可不別也)。</p>
<p>按薛氏曰：前症當扶養正氣為主，用六君子東加當歸。若脾肺氣虛而咳喘口乾，用補中益氣加麥冬、五味。若因中氣虛而口乾頭暈，用補中益氣加蔓荊。若肝經血虛而肢體作痛用四物參朮。若肝腎虛熱而自汗、盜汗、寒熱往來者，用六味丸加五味。若因脾虛血弱，肚腹作痛，月經不調，用八珍湯倍白朮。若因脾虛血燥，皮膚瘙癢，用加味逍遙散。大抵此症多因脾胃虛弱，飲食減少，以致諸經疲憊而作(數語盡之)。當補脾，飲食一進，精氣生化，諸臟有所倚賴，其病自愈矣。仍參虛損發熱方論主治。</p>
<p>《產寶》云：產後虛羸者，由產後虧損血氣所致。若中年及難產者，毋論期日，必須調養平復方可涉喧，否則氣血復傷，虛羸之症作矣。當用八珍湯補其氣血。若飲食傷胃，用四君子湯。停食傷脾，用六君子湯。勞傷元氣者，補中益氣湯。若噯氣覺有藥味者，藥復傷胃也，但用四君子湯徐徐少飲，以調脾胃，胃氣一健，血氣自生，諸症頓除矣。</p>
<h3>腹脹</h3>
<p>產後腹滿悶，嘔吐不定者，因敗血散於脾胃，脾受之則不能運化精微而成腹脹，胃受之則不能納受水穀而生吐逆(此言雖泥於敗血，而方中加參立齋純於補氣，似近於偏，臨症似宜斟酌)。若以尋常治脹止吐之藥治之，病與藥不相干，更傷正氣，疾愈難治，但服抵聖湯則愈。</p>
<p>赤芍　半夏　澤蘭　橘紅　人參(各一錢)　炙甘草(五分)　生薑(三片)水煎服。</p>
<p>產後口乾痞悶者，因食面太早(為食面者之戒，南人甚少於飲食，皆能致痰，不必拘於一面也)，不能消化，積聚於胃脘，上熏胸中，是以口乾燥渴，心下痞悶，或產母內積憂煩，外傷燥熱，飲食肥甘，亦使口乾痞悶，當隨其所因調之可也，慎不可下。</p>
<h3>浮腫</h3>
<p>四肢浮腫，敗血乘虛停積，循經流入四肢，留淫日深，腐壞如水，故令面黃浮腫，不可遽投甘遂大戟等藥，以導其水。夫產後必虛，又以藥虛之，是謂重虛，多致夭枉。殊不知浮腫不一，有自懷妊腫至產後不退者，亦有產後失於將理，外感風寒暑濕，內則喜怒憂驚，血與氣搏，留滯經絡，不得宣越，故虛腫輕浮，是邪客於氣，氣腫也。若皮膚如熟李狀，則變為水。氣腫者發汗即愈，水腫者利小便乃瘥也。</p>
<p>按：產後浮腫，氣分血分不可不辨(氣分者先腫而後經斷，血分先經斷而後水腫)。然亦審其所因脈症以治之。如寒水侮土，宜養脾。肺氣虛浮腫，宜益脾胃。水氣浮腫，宜補中益氣。</p>
<p>丹溪云：產後浮腫，宜大補氣血為主，少佐蒼朮、茯苓，使水自利。</p>
<h3>喘急</h3>
<p>(產後喘急，極危多死)稽中曰：榮者血也，衛者氣也，榮行脈中，衛行脈外，相隨上下，謂之榮衛。因產所下過多，榮血暴竭，衛氣無主，獨聚肺中，故令喘也。此名孤陽絕陰，為難治。若惡露不快，敗血停凝，上熏於肺，亦令喘急，但服奪命丹，血去喘自定。</p>
<p>陳無擇曰：前症若敗血上熏於肺，宜奪命丹。若榮血暴絕，宜大料煎劑，芎　湯亦可。</p>
<p>救傷風寒，宜旋覆花湯，性理郁發，宜小調經散，用桑皮、杏仁煎湯調下。傷食宜見睨丸或五積散。</p>
<h3>泄瀉</h3>
<p>產後泄瀉者，由腸胃虛怯，寒邪易侵，或飲冷當風，乘襲留於腹脅，故腹痛作陣。或如流入大腸，水穀不化，洞泄腸鳴。或下赤白，　脅　脹，或痛走不定。急服調中湯立愈。</p>
<p>按：前症非止一端，當隨所因而調之。若肝木來侮脾土，用六君加柴胡、炮薑。若寒及水來侮土，用錢氏益黃散。若久瀉或元氣下陷，兼補中益氣湯以升發陽氣。若脾土虛寒，用六君加木香、薑、桂。若脾腎虛寒，用補中益氣及四神丸。若屬命門火衰而脾土虛寒，用八味丸以補土母。若小便澀滯或兼喘咳，用金匱腎氣丸，以補脾腎、利水道。若腎氣虛弱而四肢浮腫，浮腫治須補脾胃為主。若久而不愈，或非飲食所傷而致，乃屬腎氣虧損，必用四神、六味、八味三藥以補腎。若用分利導水之劑，是虛其虛也，仍當參胎前泄瀉調治之。</p>
<h3>痢疾</h3>
<p>《大全》云：產後痢疾者，因行起太早，使冷風乘虛入於腸胃，或食生冷難化之物，傷胃，皆令洞泄水瀉，甚則變為痢。若血滲入腸則為血痢也，難治。世謂之產後痢也。得冷則白，或如魚腦，熱則黃赤，或為驟血。若冷熱相搏則下痢赤白，或膿血相雜。若下痢青色，則極冷也。若飲食不進，便痢日夜無度，瘦之羸弱，謂之虛羸下痢。又有產後氣血不順而下痢赤白，謂之氣痢。治之之法，熱則涼之，寒則溫之，冷熱相搏則調之。滑者澀之，虛羸者補之，水穀不分者當利小便。若產婦情性熱著，不能寬解，須當順其氣，未有不安者也。與泄瀉參看。</p>
<h3>乳汁不行</h3>
<p>《大全》云：婦人乳汁乃氣血所化，其或不行者，由虛弱經絡不調所致。或產後乳脹，作者，此年少之人初經產乳，內有風熱也。須服清理之藥則乳行。若累經產而無乳者，亡津液故也，須服滋陰之藥以助之。或雖有乳而不多者，須服通經之藥以通之，仍以羹　引之。蓋婦人之乳汁資以衝脈，沖與胃經通故也。按《三因方》云：乳汁不行有二：有血氣盛而壅閉不行，有血少氣弱澀而不行者。虛當補之，盛當疏之(盛者當用通草、漏蘆、土瓜根，虛者當用煉成鐘乳粉、豬蹄、鯽魚之屬)。薛氏曰：若氣血虛弱而不生化者，宜壯脾胃，怒動肝膽而乳腫、乳汁不出者，宜清肝火。若夫屢產無乳或大便澀滯，當滋化源。未產前乳汁自不出者，謂之乳泣。</p>
<p>乳頭生小淺熱瘡，搔之黃汁出，浸淫漸大，百療不瘥，動經年月，名為妒乳。若感外受之邪與氣血相搏，即壯熱大渴引飲，牢強掣痛，手不近是也。若夫不得於舅姑，憂怒郁遏，時日累積，脾氣清汨肝氣橫逆，遂成隱核如鱉棋子，不痛不癢，十數年後方為瘡陷，名曰乳岩(仲圭曰：本病若在未成潰瘍以前，以香附餅治之良效。方用香附細末一兩，麝香二分，研勻，以蒲公英二兩，酒煎去渣，以酒調藥，乘熱敷患處，日數次。如已成潰瘍者，應受外科之治療，特本症之病原既由肝脾抑鬱而起，則怡情悅情又為至要。湯劑以逍遙散與歸脾湯間服。至於性情如何怡悅，則莫如披閱內典，以了解人生觀為上策)。</p>
