<header><h1>回生集</h1></header>
<dl class="元資料" data-type="book">
<div><dt>作者</dt><dd>陳杰</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1644/1911">公元1644年至公元1911年</data></dd></div>
</dl>
<h2>《回生集》原敘</h2>
<p>從來妙劑，多出仙傳，如千金等方，其尤著者也。余素患痰疾，後又左膝寒痛，二十載以來，屢治不瘥。戊申歲恭設乩壇，求治於葛仙翁祖師，乩示云，此膝痛即系積痰所致。幸賜方藥，宿疾頓除。嗣凡眷屬有恙，即虔禱仙方，無不立效，但祖師因人治病，故所得乩方，未敢廣傳。惟立愿遍訪世間經驗良方，無論已刻未刻，匯刊公世。尚恐成方中，或有一時偶驗，未可永為準則者，謹求祖師選定，得四百余方，並蒙乩批云。予有一片濟世之心，故凡有所求，借乩鸞以示。爾今備有成方，請予選定，予亦欣然。但病有虛實寒熱，藥有溫涼補伐。虛宜溫補，實宜瀉散。倘視症未明，誤投藥劑，為害非輕。今擇其必中者用之，自無不驗也，此書即定為《回生集》可耳。敬敘卷首，以體祖師普濟之慈心云。</p>
<p><u>乾隆己酉歲孟夏月中浣古北樂天叟陳傑書於云間篤忠堂官舍</u></p>
<h2>重刻《回生集》敘</h2>
<p>丁酉鄉試寓南陽街，適周采軒重刻《陳樂天叟回生集》。采軒以余粗知藥性，問序於余。</p>
<p>余取其原敘讀之。殆所謂神道設教者也。其間可取者，經驗二字、濟世二字而已。顧余讀御纂《醫宗金鑒》，有所謂補心丹者，冠以天王二字；有所云活命飲者，冠以仙方二字，則原序所云，祖師選定，亦何可盡斥為荒唐之說哉。大抵醫者意也。四字誤人不小。《論語》云：毋意。大學云。誠意。意之一字，公私是非邪正在反掌間。業醫者，必虛心體貼四診心法。</p>
<p>凡望色、聞聲、問證、切脈，能如孟子所云，說詩以意逆志，斯於意也一言為無弊耳。學醫者，誠得所以用意之說，而又采成方，以為主治之準則，經驗者無不驗，濟世者無不濟。然則采軒此書出，積善多矣。采軒得此書於蘇吳舶中。有志刊送，垂二十年。今始商之同人，得如初愿，尤望橐有餘資者，廣為印送。俾家藏一冊。人手一編，雖鄉居僻壤，地鮮名醫，皆可按症求方。而不求人。</p>
<p><u>東陵真陽子春謹敘。</u></p>
<h2>卷上</h2>
<h3>內症門</h3>
<h4>呂祖師鐵拐杖方</h4>
<p>天門冬（去心一斤）　熟地（炒一斤）　白茯苓（去皮一斤，乳拌）</p>
<p>上藥共為細末，煉蜜為丸，彈子大，每服三丸，黃酒送下。此藥能除消百病，能令顏如童子，遠行不飢，須發不白，身體不倦。</p>
<h4>無比山藥丸</h4>
<p>治諸虛百損，五勞七傷，肌體消瘦，目暗耳鳴，四肢倦怠。常服壯筋骨，益腎水。</p>
<p>赤石脂（　，醋淬七次，研細，水飛一兩）　茯神（去皮，木水飛去筋一兩）　山萸肉（去核二兩）　熟地黃（咀片晒乾二兩）　巴戟（去心酒洗焙乾一兩）　牛膝（肥大者去蘆酒浸晒二兩）　澤瀉（鹽水拌炒一兩）　杜仲（去皮鹽水拌炒斷絲三兩）　山藥（微炒三兩）</p>
<p>菟絲子（酒煮極爛，搗焙為末三兩）　五味子（一兩）　肉蓯蓉（酒浸焙乾四兩）</p>
<p>以上共為細末，煉蜜為丸，如梧子大，每服五六十丸，空心秋石湯送下，或白滾湯送下，亦</p>
<h4>萆湯</h4>
<p>治腎氣素虛，腰胯腿足，酸軟無力，腎受風濕侵襲，寒冷凝滯血脈，屈伸抽縮不遂，麻木疼川萆　（二錢）　川牛膝（二錢）　漢防己（二錢）　於白朮（土炒三錢）　海桐皮（二錢）　當歸身（酒洗三錢）　大生地（三錢）　白芍藥（酒炒二錢）　川杜仲（炒斷絲二錢）</p>
<p>川續斷（酒浸烘二錢）　宣木瓜（一錢五分）　川獨活（一錢五分）　威靈仙（一錢五分）　台烏藥（一錢五分）　滴乳香（制淨油一錢五分）　淨沒藥（制淨油一錢五分）　茅蒼朮（米泔浸一錢五分）　青黃風（一錢五分）　川芎（一錢五分）　生甘草（五分）</p>
<p>不用引，水煎空心服。</p>
<p>此藥益腎活血，榮筋驅風，去濕定痛，宣通經絡。藥品不雜，如無海桐皮，用牛蒡子亦可。</p>
<h4>還童酒方</h4>
<p>久飲能添精補髓，強壯筋骨，驅風活經絡，大補氣血。如加蘄蛇、虎骨，更妙。</p>
<p>熟地（三兩）　生地（四兩）　全當歸（四兩）　川萆　（二兩）　羌活（一兩）　獨活（一兩）　淮牛膝（二兩）　秦艽（三兩）　蒼朮（二兩）　塊廣皮（二兩）　川斷（二兩）　麥冬（三兩）　枸杞（二兩）　川桂皮（五錢）　小茴香（一兩）　烏藥（一兩）　丹皮（二兩）　宣木瓜（二兩）　五加皮（四兩）</p>
<p>上藥十九味，絹袋盛貯，用陳酒五十斤，好燒酒亦可，湯煮三炷香，埋土中七日，早晚飲三五杯。</p>
<p>久患咳嗽。連嗽四五十聲。</p>
<p>生薑汁（半合）　蜜（一匙）</p>
<p>煎熱溫服。輕者四五服，重者十數服立止。</p>
<h4>老人喘嗽</h4>
<p>胡桃肉（去皮）　杏仁（去皮尖）　生薑（各一兩）</p>
<p>研膏入煉蜜少許，丸如彈子大，每臥時嚼一丸，薑湯下。氣促難臥，服此立定。</p>
<h4>三子養親湯</h4>
<p>治老人痰喘咳嗽、氣急胸滿，極能調和胸胃。</p>
<p>紫蘇子　蘿卜子　白芥子等分，晒乾，紙上微炒，研細，煮湯隨飲食啜下。</p>
<h4>十子丸</h4>
<p>四明沈嘉則，無子，七十外，服之連舉子。</p>
<p>槐角子（和何首烏蒸七次）　覆盆子　枸杞子（去枯者及蒂）　桑椹子　冬青子（四味共蒸，各四兩）　菟絲子（制去殼，酒蒸）　柏子仁（酒浸蒸）　蛇床子（蒸）　沒石子　北五味子（蒸枯者打碎蜜蒸，以上各二兩）</p>
<p>上為末，煉蜜丸，如桐子大，每服五六十丸，空心淡鹽湯下，干點心壓之。</p>
<h4>種子奇方</h4>
<p>凡夢遺滑瀉、真精虧損者，服之神驗。有火者相宜。</p>
<p>沙苑蒺藜（八兩微焙，四兩為末入藥，四兩為膏入蜜）　川續斷（酒蒸二兩）　菟絲子（三兩，酒煮見絲）　山茱萸肉（生用）　芡實粉（生用）　蓮須（生用，各四兩）　覆盆子（生用）　甘枸杞子（各前末以蒺藜膏，同煉蜜和丸，如梧桐子大，每服四五錢，空腹淡鹽湯下。</p>
<h4>壯陽種子丸</h4>
<p>治尺脈微弱而痿、虛寒無火者宜此。</p>
<p>熟地（酒煮搗爛）　枸杞子（各一兩半）　牛膝（俱酒洗）　遠志肉（甘草湯煮）　淮山藥　山茱萸肉　巴戟（去骨酒蒸）　白茯苓　五味子　石菖蒲　楮實子　肉蓯蓉（酒洗，去鱗甲，去心中白膜）　杜仲（鹽酒炒）　茴香（鹽水炒，各一兩）　冬加肉桂（五錢，童便拌晒三次）</p>
<p>上為末，煉蜜和棗肉為丸，空心溫酒淡鹽湯任下。</p>
<h4>蛔厥心疼</h4>
<p>烏梅（二個）　川椒（十四粒）</p>
<p>煎湯服即愈。</p>
<p>一切心痛，不拘大小男女，馬兜鈴一個，燒存性為末，溫酒服立效。</p>
<h4>急心氣疼</h4>
<p>胡桃一個，棗子一枚去核，夾桃紙裹煨熟。以生薑湯一鐘，細嚼送下，永久不發。</p>
<h4>卒急心疼</h4>
<p>棗丸詩云：一個烏梅二個棗，七個杏仁一處搗。男酒女醋送下之，不害心疼直到老。</p>
<h4>擦牙烏須不老神方</h4>
<p>遼細辛（六錢）　熟地黃（晒乾）　白蒺藜（去刺）　破故紙　五味子（晒乾）　沒石子（黑黃者佳）　地骨皮（去粗皮）　旱蓮草　枸杞子（晒乾）　青鹽（用草紙洒濕透，包放炭中微火煨）</p>
<p>以上各一兩五錢，共為末，篩細瓷罐收貯，不可出氣。每日清晨，人之元氣統聚於口，切毋漱水吐出，以指蘸藥末擦牙，上下周遍，滾水含漱，徐徐咽下。總不間斷，固齒烏須，功效如神。</p>
<h4>齒衄</h4>
<p>五倍子燒研擦牙。</p>
<h4>治牙疼神效方</h4>
<p>雄黃精　明礬（各三分）　牙硝（一錢）　真大冰片（一分）</p>
<p>共為極細末，以半分擦患處，流涎即愈，極驗無比。</p>
<h4>治風火牙疼</h4>
<p>松木節一小片。咬疼牙上立止。</p>
<h4>熏蟲牙痛方</h4>
<p>韭菜子一大撮，入爐內燒燃。先將蘆管一頭，紙黏喇叭樣，吸此煙，至牙痛處，其蟲俱出，溫茶漱去。</p>
<h4>牙痛噙藥方</h4>
<p>不論風火蟲牙皆治。</p>
<p>生草烏　雄黃　胡椒　麝香　蟾酥（各等分）</p>
<p>共為細末，用　絹包，噙疼牙上，立止疼。</p>
<p>又治蠍蛇傷，以鹽水調塗，藥到痛止。</p>
<h4>走馬牙疳</h4>
<p>大徽棗一枚，青布包簽住，蘸芝麻油於燈頭上燒之，瓷鐘接承滴下油汁，以棗枯油黑為度。</p>
<p>先以米泔水漱淨口，再雞翎蘸油刷患處。</p>
<h4>牙齦腫痛</h4>
<p>瓦松　白礬等分。水煎漱之立效。</p>
<h4>牙齦臭爛方</h4>
<p>芥菜根燒存性，研末，頻敷之即愈。</p>
<h4>牙宣露痛方</h4>
<p>絲瓜藤陰乾，火　存性，研搽即止。</p>
<h4>洗遠年雙目不明方</h4>
<p>黑豆（一百粒）　黃菊花（五朵）　皮硝（六錢）</p>
<p>水一鐘煎七分，帶熱熏洗五日，換藥再洗五十日，可以復明。</p>
<h4>治兩眼夜不見物</h4>
<p>羯羊肝一副，不見水，不沾鐵器。以竹刀切開，加穀精草細末，入瓦罐內煮熟，不時服之屢驗。</p>
<h4>治雀姑眼神效方</h4>
<p>石決明即海巴，有窟的，有眼的。火　為末三錢。用豬膽一個。或羊膽雞膽亦可。用竹刀剖破，將石決明子入內，面包燒熟，滾白水送下。服一個即愈。</p>
<h4>目中生翳</h4>
<p>鵝不食草，　鼻塞耳，貼目去翳，神藥也。</p>
<h4>小兒青盲眼</h4>
<p>木賊草、白蒺藜，各等分末。炒豬肝食。</p>
<p>目睛垂出至鼻，或時大便血痛，名曰肝脹。</p>
<p>羌活煎汁服數盞。</p>
<h4>點肉攀睛方</h4>
<p>蛤粉（滾水飛過）　乳香（去油洗）　蕤仁　冰片（一分）　麝香（一分）　輕粉（各一錢，水飛過）</p>
<p>共研極細末。以新筆尖蘸涼水點之。</p>
<h4>飛絲入目</h4>
<p>白菜揉爛。帕包滴汁二三點入目即出。</p>
<h4>洗風爛眼神效方</h4>
<p>白礬　銅綠　花椒各等分，外加槐樹條六寸，水煎涼洗。</p>
<h4>專治風火眼紅方</h4>
<p>爐甘石（　）為極細末，用菜油調勻鐘內，將鐘覆於艾火上，熏至黃色為度。臨睡調擦於眼上，次日用溫水洗淨。其藥入眼無礙。</p>
<h4>治鼻淵即腦漏神效方</h4>
<p>漆綿（一兩，漆鋪內洒漆，用過之一個絲綿也）　白鴿子羽（去硬管用兩邊毛，一兩）</p>
<p>將鴿翎卷入綿內，燒灰存性。每灰一錢，加真冰片七厘，令患者仰臥，輕輕吹入少許，不可重吹，恐噴嚏打出無用也。夜吹一次，連吹四五夜，即愈。要戒房事百日，神效無比。</p>
<h4>鼻淵</h4>
<p>即腦漏。因風寒凝人腦戶，與太陽濕熱交蒸，乃成其患。鼻流清涕，或流黃水，點點滴滴，長濕無干。</p>
<p>白芷（一兩）　蒼耳子（炒）　辛夷仁（各二錢五分）　薄荷（五錢）</p>
<p>為末，蔥泡茶湯清調食後服，以鵝兒不食草塞鼻孔自止。</p>
<p>鼻衄久不止，大蒜搗如泥。左鼻若出血，左腳心下塗。右鼻若出血，右腳心下敷。兩鼻俱出血，兩腳心下鋪。甚妙。</p>
<h4>治鼻衄</h4>
<p>生地　炒山梔仁（各五錢）</p>
<p>水煎服即愈。或用發余灰吹鼻內更妙。</p>
<h4>鼻血不止</h4>
<p>白芨末唾津塗調山根便止。（山根即鼻梁上也）</p>
<h4>鼻筍奇病</h4>
<p>用白礬硼砂少許為末，吹鼻化水愈。</p>
<h4>耳中出血</h4>
<p>龍骨末吹入即愈。</p>
<h4>耳鳴耳癢流水風聲</h4>
<p>生烏頭一個，乘濕削如棗核大塞耳，早塞夜易，過三五日便愈。不然，久則成聾。</p>
<h4>耳猝聾閉方</h4>
<p>蓖麻子（一百粒）　大棗（十五枚，去核）</p>
<p>共搗爛，入男胎乳汁和成，作錠如棗核樣。以絲綿裹一枚，塞之，覺耳中熱為度。一日一換，二十日瘥。</p>
<h4>耳出汗</h4>
<p>韭汁日滴三次。</p>
<p>舌猝腫如豬胞狀滿口不治須臾死</p>
<p>《千金方》：用百草霜，和酒塗舌下，立愈。（要鄉間燒雜草者）</p>
<h4>舌忽發脹滿口不能出聲</h4>
<p>蒲黃頻滲。如因寒得，加乾薑末等分。</p>
<h4>舌忽脹退場門外（俗曰蜈蚣毒）</h4>
<p>雄雞冠上血一小盞，浸之即收。</p>
<h4>舌硬出血</h4>
<p>木賊水煎，漱口即愈。</p>
<h4>紫袍散</h4>
<p>治咽喉十八種症方石青　青黛　朱砂　白硼砂（各一兩）　膽礬　人中白（　）　元明粉（各五錢）　真冰片（三分）　山豆根（二錢）</p>
<p>共為末，入罐塞口。急時用二三厘，吹咽喉即愈，神效無比。</p>
<h4>纏喉風秘方</h4>
<p>常熟趙氏，祖傳纏喉風藥甚效，而方極秘。昔一日趙氏子與友章某飲，詢其方不答。酒次趙喉間忽痛，不可忍，乃大聲曰：「為求豬牙皂角來。」來則細搗，以酸醋調末，入喉。四五嗽，痰大吐，痛立止。章數以告人，傳者。遂眾用豬牙皂角末醋調塗外頸上，干則易之，其孔蛾即破而愈矣。</p>
<h4>喉中忽生肉如桃如云層層而起</h4>
<p>用綿裹箸頭蘸食鹽，點肉上，一日五六次。自消，再服後藥。</p>
<h4>桔連湯</h4>
<p>苦桔梗　川黃連（倍加）　枳實（炒）　前胡　連翹（去心）　陳皮　防風　製半夏　柴胡南星　白附子　牛蒡子（炒研）　元參　赤芍　莪朮（煨）　甘草（各等分）水煎服。</p>
<h4>喉閉急症方</h4>
<p>鴨嘴膽礬研極細末，以釅醋調灌，吐出膠痰，即愈。</p>
<h4>喉痹壅塞不通</h4>
<p>染色紅花搗汁，服一小升。如干者，浸汁服。</p>
<h4>急喉痹纏喉風不省人事牙關緊閉</h4>
<p>白礬（五錢）　巴豆（去殼三枚）</p>
<p>將礬入銚內，慢火熬化為水，入巴豆於內，候干。去巴豆，取礬研末。每用少許，吹入喉中，頑痰立出，即愈。</p>
<h4>喉蛾湯水不下方</h4>
<p>燕窩土　雄黃（各等分）</p>
<p>共研細末。以堆花燒酒，調敷咽喉外兩旁，即愈。</p>
<h4>喉痹喉蛾纏喉風急治方</h4>
<p>豬牙皂角（一兩，去皮弦）</p>
<p>研細末。水二鐘煎半鐘，加蜜一匙，調服吐痰，驗。如牙關緊急，以紙研出巴豆油，去巴豆渣，捻紙作捻子，燒著吹滅，熏兩鼻即蘇。</p>
<h4>治雙單乳蛾並喉痹方</h4>
<p>用壁上蜘蛛，白窩取下。將患者腦後頭發一根，纏定蛛窩上，以銀簪挑窩燒存性為末，吹入患處立消。</p>
<p>蜘蛛有花者，有毒，不可用。</p>
<h4>治乳蛾神效方</h4>
<p>乳蛾，急症也。此方甚效。有力者，宜預制以救人。臘月八日，雄豬膽一個，裝入白礬末。</p>
<p>陰乾之後，研末再入臘八日豬膽內。如此三四次，倘遇患者，用一二分吹之即愈，神驗。</p>
<h4>治雙單蛾神方</h4>
<p>凡雙單蛾，頭頂上有雙紫泡謂雙蛾。有單紫泡謂單蛾。先用銀簪挑破，擠出紫血，則患勢稍衰不緊矣。若看不出紫泡者，謂之隱蛾。先用桐油蘸於鵝翎上，在舌根下絞出痰涎，俟鼻中知桐油臭即止。再用馬蘭頭草搗汁，同好醋含漱數次即愈。冬月無馬蘭頭草，用山豆根一兩，煎極濃汁，用醋漱亦效。</p>
<h4>治雙單喉蛾腫閉方</h4>
<p>冰片（三分）　麝香（三分）　皂角刺（三分）</p>
<p>共研細末，將竹管吹入，一破即愈。</p>
<p>加山豆根、射干花根，更神妙。</p>
<h4>來泉散</h4>
<p>治乳蛾良方。</p>
<p>雄黃（一錢）　雞內金（三個，焙脆存性）　生白礬（一錢）</p>
<p>共研細末，入瓶收貯聽用。令患者，先用涼水漱口，將藥用竹管吹至喉中，即吐涎水碗許，其痛立止。</p>
<h4>咽喉腫痛</h4>
<p>射干根　山豆根共為末吹之立消，止痛如神。</p>
<h4>口疳神方（亦治喉癬喉KT）</h4>
<p>橄欖核（　存性三錢）　孩兒茶（二錢）　人中白（三錢）　鳳凰衣（　存性三錢，即孵退雞蛋殼）</p>
<p>共研細末。每用藥一錢，加冰片三分，吹搽患處神效。</p>
<h4>咽中結塊不通水食危困欲死</h4>
<p>百草霜蜜和丸，芡實子大。每用新汲水化一丸灌下，甚者二丸即愈。</p>
<h4>腰痛</h4>
<p>用豬腰一付，去內筋膜，裝破故紙、杜仲末、線扎好。將黑料豆三合，以豬腰子放豆中，水比豆高一指。少入鹽兩匙，煮三四滾，悶一時，藥末棄去。將腰子空心嚼吃，料豆常吃，不過三服即愈。</p>
<h4>治腎虛腰痛方（其痛悠悠緩緩即是腎虛）</h4>
<p>杜仲酒浸炙干，搗羅為末，無灰酒調下。</p>
<h4>腰痛六合散（治腰痛傴僂不能步履）</h4>
<p>杜仲（炒斷絲）　肉蓯蓉（酒洗去鱗甲）　川巴戟　小茴香　補骨脂（鹽湯淨浮水面者掠去不用）　淨青鹽（各等分）</p>
<p>共研細末聽用。再用羊腰子二個，將竹刀剖開，散藥末在上，仍合住。外用熟面包好，微火煨熟，好酒送下。</p>
<h4>治腰腿中濕冷疼痛年久不愈屢驗方</h4>
<p>當歸（一錢，酒洗）　川芎（五分）　大熟地（一錢，酒洗）　白芍（一錢，酒洗）　川牛膝（一錢，去蘆焙）　木瓜（五分）　肉桂（五分）　防風（五分）　獨活（五分）　石斛（一錢，酒焙）　廣木香（三分）　白茯苓（一錢）　炙草（三分）生薑一片，黃酒半鐘，水二鐘，煎一鐘，空心服。</p>
<h4>挫閃腰痛方</h4>
<p>神麯（一塊如拳大，火燒通紅淬，酒二大碗飲之即愈）</p>
<h4>治鵝掌風</h4>
<p>用皂角為粗末。將鵝卵石燒紅，小瓦一塊，盛在升中，上加皂角末燒煙熏之。其皮癢甚，再熏數次自愈。</p>
<h4>鵝掌風病</h4>
<p>用真蘄艾四五兩，水四五盞，煮五六滾，入大口瓶內。麻布二層縛之，將手心熏之，冷則再熱神效。</p>
<h4>手足雁風方</h4>
<p>側柏葉　敗船灰先將敗船灰研末，桐油調搽。再將柏葉燒煙熏之，一二次全愈。</p>
<h4>鶴膝風</h4>
<p>槐枝、松枝、桃枝、芫花根，共搗煎汁。小深盆盛，熏膝被蓋，候汗揉之。再以草烏、細辛、防風等分末，縫靴襪護膝內，久而自愈。遠行腳腫摻鞋底，或水濕草鞋摻之。甘菊花、陳</p>
<h4>腳氣</h4>
<p>薏苡仁作粥食，赤小豆和鯉魚煮食。</p>
<h4>寒濕香港腳</h4>
<p>面皮醋蒸熨之，互易至汗出為妙。</p>
<h4>腿痛香港腳</h4>
<p>《麻絲方》：好線麻，用木梳將粗皮渣滓梳淨，只存絲筋。用四兩懸起，自下往上，用火燎焦，存性研極細。用好酒二大碗煎熱，量人酒量飲之。身上蓋暖，腳下用燒熱磚踏之，則藥力下行。以腿上出汗腳心出黏汗為度，即愈。</p>
<h4>治寒濕香港腳甚應膏</h4>
<p>廣膠（三兩）　蔥　薑（各半斤，搗汁留用）</p>
<p>另將好陳酒糟。取糟油二盞，或用米醋一碗，和陳糟裝細絹，濾取汁二盞，同膠蔥薑汁熬成膏，布攤貼之，即止痛消腫愈。</p>
<h4>治風濕香港腳方</h4>
<p>香港腳之症，感濕而身發熱，腳忽腫者，是也。不可用人參，犯之即死。切忌切忌。</p>
<p>柴胡　防己（各一錢）　芍藥（三錢）　茯苓（五錢）　陳皮　甘草（各五錢）　薏仁（一兩）</p>
<p>水煎服，一二劑愈。一用人參，則引邪入氣分。蓋香港腳乃犯血道，故宜從下散，而不可引上也。引上必致犯心，故主死。</p>
<h4>治香港腳神效方</h4>
<p>金銀藤　鬧洋花　二蠶砂（各四兩）</p>
<p>垂楊柳枝，七寸長的，要二十一枝，熬水熏洗。</p>
<h4>軟腳病乃腎虛</h4>
<p>淨杜仲一兩寸斷去絲，半酒半水一大盞，煎服數劑，調理保中即愈。</p>
<h4>腳腿紅腫方（俗名游風）</h4>
<p>鐵鏽（熱如火炙者以鐵鏽水塗解）</p>
<h4>腿腫腹內成塊</h4>
<p>田桃樹根、牛蒡根、牛膝各二斤，慢火煎膏如飴。每熱酒服一匙。食前服。</p>
<h4>火丹熱毒</h4>
<p>燕窩土用向陽者，雞子白和敷。</p>
<h4>滿身麻木</h4>
<p>楝樹子燒灰研末。每服三五錢，黃酒調下，即愈。</p>
<h4>軟癱</h4>
<p>樺皮燒灰為末。每服二錢，酒下，久服自效。</p>
<h4>骨痿</h4>
<p>何首烏一斤，牛膝半斤，煉蜜為丸。每酒服五錢。</p>
<h4>二便關格</h4>
<p>皂莢燒研，粥飲下三錢，立通。</p>
<h4>燥結</h4>
<p>輕粉五分，砂糖一彈丸，搗丸梧子大。每服五丸，臨臥溫水下。</p>
<h4>治小便頻數有餘滴腰膝冷腎囊濕兩腳無力</h4>
<p>故紙（鹽水浸酒炒，二兩）　白茯苓（一兩）　沒藥（五錢，去皮）</p>
<p>共為細末。用黃酒浸，高藥一指，煮化和沒藥丸，梧子大。每服三十丸，空心白湯下。</p>
<h4>小便閉脹不治殺人</h4>
<p>蔥白三斤，切炒帕盛二個，更換熨小腹上，氣通即便。</p>
<h4>癃淋</h4>
<p>馬齒莧搗汁飲。</p>
<h4>地髓湯</h4>
<p>治五淋小水不利。莖中痛欲死。</p>
<p>牛膝（一兩洗淨）</p>
<p>水五鐘，煎一鐘，去滓，加麝香少許研調。空心服。</p>
<h4>小水不通方</h4>
<p>芒硝一錢研細末，以龍眼肉包之，細嚼咽下立愈。</p>
<p>舊麥草帽一頂，煎水飲之，即通。（大便閉結同此）</p>
<h4>治小便淋痛方</h4>
<p>用蜀葵花根，洗銼水煎五七沸，服之如神。若淋血加車前子一錢，同葵煎服。</p>
<h4>萃仙丸（專治遺精）</h4>
<p>沙苑蒺藜（八兩）　蓮須（四兩）　芡實（四兩）　山萸肉（四兩）　枸杞（二兩）　川斷（二兩）　龍上金櫻子膏二兩，白蜜十兩，共和為丸。每服五錢，清早淡鹽湯下。</p>
<h4>無夢遺精</h4>
<p>韭子一兩炒研。每酒服二錢。並治白濁盜汗。</p>
<h4>夢泄</h4>
<p>用豬肚雄者一個洗淨。杜仲半斤，用線縫固，煮爛去藥。連湯食盡即愈。此方又能治腰疼神效。</p>
<h4>治自汗</h4>
<p>黑豆淘洗磨成豆腐漿。鍋內熬熟結成皮，每食一張，用熱黑豆漿送下即效。凡人每日清晨吃黑豆漿，大有補益，可以免癆病之患。</p>
<h4>治盜汗</h4>
<p>用雞蛋五枚。將外殼周遭輕輕敲碎，不可損傷內之白皮，浸童便內一晝一夜，取出，用冷水漸漸加火煮熟食之。二次即愈。凡人每日清晨食二三枚，大有補益。</p>
<h4>治盜汗方</h4>
<p>蓮子七枚，黑棗七個，浮麥一合，馬料豆一合，用水一大碗，煎八分服之。三劑全愈。</p>
<h4>黃膽取黃法屢試屢驗</h4>
<p>用竹連紙一張，裁為四條，筆管卷如爆竹式。將一口用糊黏固，外用黃蠟一兩，鐵銚熔化。將紙筒四圍澆勻，不可使蠟入筒內。令患者仰臥，將蠟筒套在臍上，再用面作圈，護住筒根，勿令倒，勿令泄氣。筒頭上點火，燒至筒根面圈處，剪斷。另換一新筒再燒。看臍中有黃水如雞子清者，取出。輕者熏三五筒，重者熏二七或三七或七七筒，總以取盡黃水為度，神</p>
<h4>治黃膽如金方</h4>
<p>晴明天氣時，清晨勿令雞犬陰人見。取東引桃根，細如箸若釵股者一握，切細。以水一大升煎，空腹頓服。服後三五日，其黃離離如薄云散開，百日方平復也。黃散動可時飲清酒一杯，則眼中易散，否則散遲。忌食熱面豬魚等物。</p>
<h4>黃膽尿赤</h4>
<p>頭發燒灰，水服一錢。日三次。秘方也。</p>
<h4>黃胖病方</h4>
<p>馬蘭頭根，杵汁半碗，沖酒服之。每日一服。半月即愈。</p>
<h4>羊癇風方</h4>
<p>甜瓜蒂（七個研細）　白礬（一錢）</p>
<p>無根水調送下，即吐痰。過五日再吃一服，全愈。</p>
<h4>羊頭風病（俗名羊纖風）</h4>
<p>黑羊糞，瓦上焙乾。為末一錢，糖湯下。</p>
<h4>狂跳邪語</h4>
<p>陳細茶、白礬、各三錢為末。飯搗丸，梧子大。朱砂一錢，研細為衣，發時服三錢。</p>
<h4>失心癲狂</h4>
<p>真鬱金七兩，明礬三兩，為末。薄糊丸，梧子大。每白湯服五十丸。</p>
<h4>多年內傷（此方憑醫看準）</h4>
<p>冬瓜子為末。溫酒服之。</p>
<h4>治傷寒初起方不拘男女老少皆宜</h4>
<p>元參（一兩二錢）</p>
<p>水二鐘，煎一鐘，去渣趁熱服。蓋暖衣被，出汗即愈。小兒減半用之。此方系仙傳。</p>
<h4>傷寒點眼方</h4>
<p>粉甘草（六分）　冰片（四分）</p>
<p>病起一日至六日，男左女右點之，出汗即愈。如過七日，不論男女兩眼並點，神效。</p>
<h4>專治結胸停食傷寒糟蒲餅</h4>
<p>陳香糟（六兩）　冰薑　菖蒲根（各四兩）　鹽（二兩）</p>
<p>共研勻炒熟為餅，貼胸前痛處，以火熨之，內響即去。如口渴任其吃茶水。待大便利下惡物，即愈。</p>
<h4>雞子飲（專治狂走傷寒）</h4>
<p>用出過小雞的蛋殼，泡湯服即睡。</p>
<h4>治瘟疫傷寒時症或飯後氣惱心口脹悶填塞不舒方</h4>
<p>上好蒸酒，燉熱。將布二塊，蘸酒，自胸向下擦抹。如布冷，另換一熱布，輪替擦抹。</p>
<p>如此數次，病氣下通，即能大便而痊。</p>
<p>此非誤下陷胸之症，故治法不同於用湯液。誠補古法之所不及者也。</p>
<h4>治瘟疫傷寒時氣方（少宰奉倩李先生傳）</h4>
<p>麥冬（三錢，去心）　烏梅肉（三個）　芫荽梗（三十寸）　燈心（三十寸）　竹葉（三十片）　紅棗（三枚，去核）</p>
<p>水煎熱服。　少宰云，此系秘方最效。</p>
<h4>秘傳除瘟救苦丹</h4>
<p>專治一切瘟疫時症、傷寒感冒，無論已傳經、未傳經。大人每服一丸，小兒半丸。涼水調服，出汗即愈。重者連進二服。未汗之時，切不可食熱湯熱物。汗出之後不忌。此丹百發百中，奇效無比。有力者宜修合以濟世最妙。</p>
<p>瓜兒天麻　麻黃　乾薑　松蘿茶（各一兩二錢）　綠豆粉（一兩二錢）　甘草　朱砂（飛過）　雄黃（飛過，各八錢）　生大黃（二兩）</p>
<p>上藥共為細末，煉蜜為丸，如彈子大。收瓷器內，勿令泄氣。</p>
<h4>辟瘟丹</h4>
<p>紅棗（二斤）　茵陳（切碎八兩）　大黃（切片八兩）</p>
<p>加水安息更妙。如無亦可。以上三味合一處。清早燒能卻時症瘟氣。（水安息系外洋來者大藥店方真）</p>
<p>陳宜仲嘗夢神人語曰：「天災流行，人多死於疫癘。惟服大黃者生。」事見宋史。（說儲）</p>
<p>頭面腫大如斗，二目難開。危急者，服之奇效。</p>
<p>牛蒡子（炒香研）　苦桔梗　荊芥穗（焙）　家菊花　黃柏梢　龍膽草　防風　羌活　連翹（去心）　蔓荊子（去蒂焙）　薄荷葉　本　元參　白芷　升麻　川芎　生甘草（各三錢）</p>
<p>上藥共合一處。入淨砂鍋內，注水十碗。在病患房內，炭火慢熬，至五碗為度。去渣將病者仰臥，以小鐘徐徐灌之，勿令間斷。服完其腫自消，須善調養數日，再服清胃之藥，必無後患。</p>
<h4>蝦蟆瘟</h4>
<p>頭項腫大。福建靛花研細三錢，和雞子清一枚，燒酒攪服。側柏葉搗自然汁，調蚓泥，燒研敷。（靛花染坊內可覓）</p>
<h4>治頭風不拘偏正立刻止疼方</h4>
<p>硫黃（一錢）　川椒（取紅色者去黑子為末，三分）</p>
<p>上二味拌勻，溶成小餅。左疼塞左鼻，清涕從右鼻出；右疼塞右鼻；正疼左右俱塞。清涕流盡即愈。神效。</p>
<h4>治偏正頭風熏鼻方</h4>
<p>本（五分）　細辛（五分）　香白芷（一錢）　辛夷（八分）</p>
<p>共研細末，分為四分。用紙四條，卷實將火點著，以煙熏鼻。日熏二次，即愈。</p>
<h4>頭風</h4>
<p>用陳蕎麥面作餅，趁熱貼於頭上患處，外用絹扎好。出汗風毒收盡入餅內。兩次即愈。</p>
<h4>治噎隔反胃回食水穀不進即刻回生方</h4>
<p>夏月中伏天糞坑中蛆，愈大愈好。撈出以長流水洗淨。用桶瓦二個，盛蛆在內。鹽水和泥將瓦兩頭封固。木炭火　一炷香，　至蛆身黃色。如尚未黃，再入砂鍋焙黃。最忌用鐵器銅器。每服用黃蛆（一錢五分，研末）　細松蘿茶（七分五厘）　廣木香（一分五厘，研末）</p>
<p>制豆蔻（四分五共研極細末。五更時空心溫干，燒酒半茶鐘調服。如不能飲酒者，水酒調下。切忌面食葷腥數日。</p>
<h4>治翻胃神效方</h4>
<p>用極大枳殼兩半個，去內穰。將真阿魏六七分，杏仁去皮尖十余粒，共搗爛入枳殼內。</p>
<p>將兩半殼合口，外用綿紙裹好，線扎緊，入滾水內。大火煮半日，取起去殼，內藥將殼焙乾為末，燒酒送下。重者不過二次即愈。初起者神效，久難見功。</p>
<h4>治噎食神驗方</h4>
<p>生薑不拘多少。五月五日午時，用布袋藏好，浸於不見天之東廁內。四十九日取起，掃去穢物，懸空吊晒極干為末。病二年者，用薑末三分。病一年者用薑末二分，入麝香一二厘，沖白滾水與病者吃下，只一服而愈。服藥後不可輕叫病患吃飯。先須飲米湯一日，次日方可少吃稀粥，五六日後漸漸吃飯，總以少吃為妙。忌葷腥鹽醬，並醬小菜五十日，永不再發。</p>
<p>此方極效無比，有力者宜預制以救人最效。</p>
<h4>治噎食轉食奇方</h4>
<p>黃鱔魚一條，用無灰黃酒，量魚大小酌酒多寡，煮酒干為度，連皮帶骨用淨砂鍋焙存性，研為細末。病勢重者，每服三錢；輕者每服二錢五分為止，不可多用。黃酒調服。若在上半月其效尤速，下半月其效較遲。三服見功，五服全愈。愈後宜服淡飲食，陸續吃稀粥可以。</p>
<p>忌一切思慮、籌畫、氣惱。葷腥椒酒，色欲房勞，尤宜慎之。轉食用靛花水送下。　噎食轉食。服藥後，恐大寒，常吃些薑湯尤妙。</p>
<h4>治九種心胃疼諸藥不效者此方神效</h4>
<p>附子　黃連（各一錢）　白芍（五錢）</p>
<p>水煎服即愈。寒熱乘於心胃之間，兩相攻戰，所以作痛。此方黃連平心火，附子去胃寒。</p>
<p>而白芍入肝平木，不使克其胃，又去郁生心血，譬如兩人爭斗，有和事人，自然紛解也。所以諸藥不效，服此神效耳。</p>
<h4>治九種心疼胃氣疼神驗方</h4>
<p>千年鍛石（一兩）　生熟白礬（各五錢）</p>
<p>共為末。薑汁為丸，梧子大。或薑湯，或燒酒送下七丸，即愈。有力仁人，修合以濟世，功德無量。</p>
<h4>治九種心胃疼痛方</h4>
<p>病發時用艾葉十斤，揉碎在銅杓內炒。（不可住手用箸動撥）將鹽鹵（豆腐店內不曾加水者）半小鐘，傾入候焙乾倒出，研末用。熱燒酒一杯，送下。俟腹內作響，或降氣，或吐出清水，即愈。</p>
<p>此方須現制現服，隔夜即不效，見雞犬陰人即無效。服後須戒茶鮮肉三日。愈後每逢初一十六日，用淡鹽湯吃一服，永不再發。吾母太夫人，生余之時，因得此症，歷久不愈，遍覓醫方，未獲其效。余因立愿如得應手奏功而不再發者，即當公之大眾，廣救疾苦。昨承乏云閑，得此方於定海許進，一服而愈，不復再發，真仙術也，不敢自秘。謹刊刻流傳，以廣益效。</p>
<h4>治胸胃肚腹疼方（香元散專治此症驗）</h4>
<p>香附（一兩，醋炒）　蟾肚鬱金（一兩炒）　元胡索（一兩，酒炒）　廣木香（二錢）</p>
<p>共為細末。好酒送下，滾水送亦可。</p>
<h4>治胃疼方（貴州南龍府經廳周夢龍傳云平淡屢效）</h4>
<p>紅棗（七枚去核，搗爛）　橘皮（三錢）　生薑（三錢）煎服。</p>
<h4>治胸膈疼方（屢驗密云縣牛欄山楊醫傳）</h4>
<p>韭菜汁半鐘，服下即愈。止疼，　此方胸以上皆可用。</p>
<h4>治胃氣痛方</h4>
<p>良薑（酒浸，晒三次）　香附（醋浸，晒三次）</p>
<p>俱為末。若因寒而起者，良薑用二錢，香附用一錢。因怒而起者，用香附二錢，良薑一錢，加生薑汁一小匙，米湯調服。</p>
<h4>二賢散</h4>
<p>治脾家冷積，每食已輒胸滿不下，百藥不效者。兼治一切痰氣特驗。</p>
<p>真橘皮（一斤柑橙，勿用去穰）　甘草（四兩）　鹽花（四兩）水五碗，慢火煮二味令干，焙為末。每服二三錢，白滾水沖服。</p>
<p>按方勺泊宅編云，伊芳舅莫強中，令豐城時得此病。偶家人合橘皮散，因取嘗之，似相宜，遂連日服之。一日忽覺有物墜下，大驚目瞪，自汗如雨，須臾，腹痛，遺下數塊，如鐵彈子，臭不可聞。從此胸次廓然，其疾頓愈，蓋脾之冷積也。</p>
<h4>治十種水病腫滿喘促不得眠臥</h4>
<p>螻蛄（五枚）即北人呼為拉拉呼者，焙乾為末。以飯湯調半錢服之。二日進一服，陸續隨加，加至一錢。以小便通方效。</p>
<h4>治水臌方</h4>
<p>紅芽大戟（一兩，杭州者佳）　連珠甘遂（一兩）　芫花（一兩，醋炒）　淡澤瀉（一兩五錢）　苦葶藶（五錢另研）</p>
<p>先將前四味研細末，後加葶藶末，和勻。酒煮糊為丸，如梧桐子大。每服二十丸，量人虛實加減。其藥引湯液，俱先夜煎好候用，俟次日，五更空心服。</p>
<p>第一日煎商陸湯送下，　取黃水。</p>
<p>第二日煎燈心湯送下，　取黃水。</p>
<p>第三日煎麥冬湯送下，　取白水。</p>
<p>第四日用田螺四枚，煎酒送下，　取腹水。</p>
<p>第五日用大鯽魚三尾，煎酒送下。（取五臟六腑水皆盡）</p>
<p>第六日煎木通湯送下。</p>
<p>第七日煎梔子湯送下，　腫消臌散。</p>
<p>忌服鹽醬，房事，再服善後之藥。七日畢方服鹽醬。</p>
<h4>開鹽醬服藥方</h4>
<p>赤芍藥　白朮（土炒）　云白苓　澤瀉上藥各等分研末。用鮮鯽魚一尾，剖去腸，入鹽麝少許。將前四味裝魚腹內，火上焙乾為末。每服二三錢，僵蠶湯送下。</p>
<h4>治水臌驗方</h4>
<p>裕州庠生龔方遂云：水臌者，乃寒茶冷水積聚所成，溢於皮膚，是為水臌，非外感風寒，內因脾胃虛寒也。惟攻去積聚，使水從大便而出，則小便利而病去矣。補益之藥，只可微使於病愈之後，斷不可遽施正病之時，此屢驗之論也。予嘗患此症，按書載各方治之，勿瘥。</p>
<p>遇一云游瘍醫，教服雷音丸而痊。</p>
<h4>雷音丸方</h4>
<p>巴豆（二兩）去仁不用，只用豆皮。每豆二兩，可得皮三四錢。微炒黃色。萬不可用豆仁一粒。縮砂仁（一兩炒）　川大黃（三錢，半生半炒）　乾薑（三錢，炒黑）　廣木香（三錢，炒黑）　牙皂（二個，去筋炒）　甘遂（一錢五分，炒黃色）</p>
<p>上七味共研細末。絹羅過，醋打面糊為丸，如綠豆大，鍋底煙煤研細為衣，晒乾。每早空心薑湯送下，三四十丸。每服可泄水二三次，日服日瀉，日瀉日消，大便漸實，小便漸長、漸白，直服至水盡為度。但須量人老少壯弱瀉之多寡，加減丸數，不可拘執。　此藥治病，多則一料，少則半料必愈。　亦兼治酒積食積，俱獲奇效。珍之秘之。　此藥雖泄而不傷元氣。凡水臌服藥之後，切忌鹽醬一百多日，若一犯再病不救矣。醋用臘醋，　煙煤即百草霜，宜用燒雜草者佳。　甘遂用甘草水浸三日，日換一次，要看水無黑色為度，然後用面包向火煨之，面俱黃色而止。但甘遂與甘草相反，在醫者善用之，蓋甘遂性烈，去其暴也。</p>
<h4>治水腫方（秘方名消河餅）</h4>
<p>田螺（四枚，去殼）　大蒜頭（五個，去衣）　車前草（三錢一方，用車前子研末）</p>
<p>上三味同搗為膏。作一餅，覆臍中，水從便出，即愈。貼藥後仍以手帕縛之，少刻小便分利且多，換二三餅尤妙。</p>
<h4>治氣臌水臌奇方（楊澤清傳藥味最難遇巧備存）</h4>
<p>頭生男胎臍糞（一具）　頭生雞子（一枚）</p>
<p>將雞子敲一孔，傾盡清黃。將糞填滿殼內，用濃紙封好，候母雞孵卵日，同孵二十一日取出。將糞研極細末，預鏇用沉香，木筒一個，將糞裝入，上蓋以水銀一兩養之。再用黃蠟封固筒口，常帶身邊，借人氣養之。遇用時傾入水銀，以骨簪挑糞，按男左女右點大眼角內。</p>
<p>如</p>
<h4>治氣脹氣蠱方</h4>
<p>白蘿卜汁，浸砂仁炒干，連浸連炒數次。後將砂仁為末，每服一錢，米湯送下，數服必愈。</p>
<h4>治中滿臌脹方</h4>
<p>陳胡蘆瓢三五年者一個，以糯米一斗，作酒待熟。以瓢於炭火上炙熱，入酒浸之。如此三五次，將瓢燒存性，研末，每服三錢，酒下神效。</p>
<h4>治便血驗方</h4>
<p>極老苦KT　菜。（陰乾一大把）</p>
<p>水煎一大碗，空心服即愈。</p>
<h4>治糞後下血方</h4>
<p>艾葉生薑，煎濃汁服三合。</p>
<h4>治腸紅方</h4>
<p>臭椿樹根皮（東行者三錢）　槐角（一錢）　側柏葉（一錢）　小竹葉（一錢）　地榆（炒黑，一錢）水煎溫服。重者不過三服，即愈。屢驗如神。</p>
<h4>治猝瀉鮮血方</h4>
<p>小蘇根葉，搗汁溫服一升。</p>
<h4>治腸風臟毒方</h4>
<p>用薊餅燒灰沖滾水飲服二錢，神效。忌同蟹食。</p>
<h4>治臟毒下血方</h4>
<p>苦楝子炒黃為末，煉蜜為丸，如梧子大。以十丸添至二十丸，空心米湯服。</p>
<h4>治脫肛奇方</h4>
<p>用蟬蛻為末，菜油調敷，肛門立收。</p>
<p>治三日或間日瘧，二三年不愈者，一服即愈。屢驗神方。</p>
<p>當歸　半夏（各五錢）　常山（二錢五分）　檳榔（二錢五分）　紅棗（半斤，去核）</p>
<p>用好酒一斤，河井水共一斤。將前藥並棗煮，用新砂鍋煎爛，放屋上露一宿。來日清晨將藥棗溫熱服之，連棗作幾次吃完即愈。忌雞肉雞蛋一月勿食。</p>
<h4>截瘧神方（儀徵楊賡起軍門家傳秘方屢驗多人）</h4>
<p>青蒿（八兩）　青皮（二兩）　真川貝母（一兩五錢）　檳榔（二兩）　厚朴（二兩）　神麯（二兩）　半夏（二兩）　甘草（五錢）</p>
<p>上藥共為末。薑汁為丸，綠豆大，朱砂為衣。於未發前三個時辰。每服三錢，薑湯送下，切忌即用飲食。此藥不可經陰人之手。</p>
<h4>治瘧疾膏藥效方（大興楊澤清傳）</h4>
<p>生薑（二兩搗爛如泥）　牛皮膠（二兩）</p>
<p>將膠熬化，投薑泥攪勻，熬成膏聽用。</p>
<p>先以皂莢水洗淨，脊膂背腰油膩泥垢拭乾。再以生薑一大塊，遍擦各處。再酌量脊背之寬長，剪細布一大塊，將膏攤上貼之。再搓手心令熱，遍摩脊背各處，俱覺熱為善。俟一二日後不發，即痊。蓋此症多因內傷生冷茶水食物，外受寒氣，侵於太陽膀胱，寒水經太陰肺經與痰水凝結不解而成。此膏重用生薑，散其錮冷，所以即痊。然薑多絲筋，非搗如泥，則渣滓浮高，藥氣不濃，功力淺鮮無益。用膠者藉其黏性不脫也。此方簡易屢效。</p>
<h4>治疝病難忍及囊腫如斗腎子痛者</h4>
<p>雄黃　甘草（各一兩）　白礬（二兩）</p>
<p>共研細末。每用一兩，滾水五升沖和，洗患處良久，再暖洗至冷，候汗出痊。</p>
<h4>疝靈散</h4>
<p>治偏墜七疝，腎囊腫大，疼連小腹，不能自忍。服之極驗。</p>
<p>龍眼核　荔枝核（二味先搗碎焙）　小茴香（各等分焙）</p>
<p>共為細末。每服一錢，空心用升麻煮酒送下。重者二服。</p>
<p>治心腹小腸痛，小腸疝氣，血氣疼痛，及產後一切疼痛，諸藥不效者。此藥能行能止，妙不可述。</p>
<p>五靈脂（等分）　蒲黃（等分）</p>
<p>研為末。或酒或醋，調勻熬成膏。再入水一鐘，煎至七分熱服。　或醋糊為丸。童便酒服亦可。</p>
<h4>治腎子大小偏墜方</h4>
<p>用綿花子煮湯入瓮。將腎囊坐入瓮口，俟湯冷止。一二次散其冷氣即愈。</p>
<h4>治偏墜神方</h4>
<p>用冰薑一大塊，光粉一塊等分，同搗極爛，塗腎囊上，仰臥以油紙襯好，勿污被褥。少頃大熱，切勿動手，聽其自落。塗兩次即可斷根。日久腎子大者，亦漸縮小矣。</p>
<h4>治偏墜小腸氣屢驗方（吉晉榆社尉宛華亭）</h4>
<p>多年煮肉菜磁片鍋底一個打碎，入鍋用芝麻油一斤許，煎至焦枯，看火起煙盡起鍋冷定，研細蜜丸。每服三錢，黃酒送下。</p>
<h4>治疝氣神效方</h4>
<p>荔枝核（四十九枚）　陳皮（九錢）　硫黃（四錢）</p>
<p>共為末。鹽水打面糊為丸，如綠豆大。遇痛時空心溫酒服九丸，良久再服。不過四五服，其效如神。</p>
<h4>兀霜膏（治咯血吐血虛勞嗽神方）</h4>
<p>烏梅汁　梨汁　柿霜　白砂糖　白蜜　蘿卜汁（各四兩）　生薑汁（一兩）　赤苓末（八兩乳汁浸晒乾）　款冬花　紫菀末（各一兩）</p>
<p>上藥共入砂鍋內。熬成膏丸，如彈子大。每服一丸，臨臥含化咽下。</p>
<h4>治吐血方</h4>
<p>凡吐血切不可服藥。只自己小便一味，可以除根。朝晨起身，將隔宿小便溺去，稍食米食點心，靜坐一室，不可說話，亦不可立起，惟閉目靜心。用藕二三片，微搗泡湯，置壺內隨斟隨飲。俟湯漸完，即欲小便，用潔淨大碗盛受，其色白如泉，味極淡，乘熱吃下。以南棗二枚咀嚼，自不惡心。吃後便可照常辦事。忌蔥薑椒蒜辛辣之物。飲至半月，即可除根矣。</p>
<p>每</p>
<h4>治勞病虛病神方</h4>
<p>此方專治血氣兩虛，骨蒸勞熱，身體羸瘦，四肢酸軟，精神倦怠，腰痛脊疼，飲食不進，以及陰虛吐血咳逆，一切不足弱症。服之屢效。症輕者二三料全愈，症重者四五料除根。即無病常服，可保身強神旺。此方極易極驗。余得之異授，見者廣傳，功德無量。</p>
<p>枇杷葉（五十六片）　新鮮者更佳。如無即干者亦可。凡咳盛者多加。倘不咳嗽者，不必用多。洗淨葉上毛。</p>
<p>大梨（二個，深臍者佳，去皮心切片用）　白蜜（半鐘，先熬滴水成珠大便干燥者多加，大便溏瀉者不用可）　大棗（半斤或黑圓徽棗皆可）　建蓮肉（四兩，不必去皮）</p>
<p>先將枇杷葉放銅鍋內或砂鍋，用河水多煎幾滾取湯，用絹瀝清汁，其煎過葉，棄去不用。</p>
<p>後將梨棗蓮蜜用拌，放鍋內鋪平。然後將所煎枇杷葉清汁，淹滿略高些蓋好。煮半炷線香，翻轉，再煮半炷線香，用瓷罐收貯。隨意溫熱吃，最益臟腑。棗煮熟乘熱剝去皮。虛弱咳嗽者頗多，若不早治，肺若咳損，極難醫治，惟此方治咳嗽效應如神。如虛弱並不咳嗽者，枇杷葉不用，只用河水同煎。咳嗽多痰者，加川貝母一兩，研極細末，俟煮熟時入內，再一二沸取起。若吐血用藕節搗汁同煮，冬月多制，久收不壞。惟夏月少制，供一二日食。</p>
<h4>治虛勞奇方一切骨蒸癆熱服之如神</h4>
<p>當歸（三錢）　川芎（二錢）　芍藥（二錢，炒）　大熟地（三錢）</p>
<p>用柳樹根酒炒一兩，水二碗，煎七分。不拘時溫服。</p>
<h4>治癆怯妙法</h4>
<p>凡男女患一切癆怯，但有脈有神者，無不效應。</p>
<p>上好箭頭砂（一兩）　透明雄黃（五錢）</p>
<p>上二味研為細末，單層綿紙包固。選未曾行經十二三歲壯實童女，將藥貼放童女臍內，汗巾拴縛一周時，取下秤藥比前多重三錢余者更妙，即刻拴於病患臍上。先備人乳十余碗，候病者口乾發燥飲之。渴止乳亦止。然後解去臍上之藥，其病自去。再用補藥調養，十人活九。</p>
<h4>治痢疾神驗方</h4>
<p>陳茶葉　陳皮　生薑（各二錢）　食鹽（一錢）</p>
<p>煎服。不拘赤白即愈。</p>
<p>小香連丸　此方治痢疾全活者甚多。</p>
<p>蘄艾（八兩搗如綿以黃米煮成薄漿拌透晒乾為末）　陳香茹　苦參（各八兩）　青木香（三兩）</p>
<p>上藥共為細末。水丸。外加川鬱金二兩，研極細末為衣。或云大者為薑黃，小者為鬱金，非也。水磨去一分，看有綠色者為真。此方順氣磨積，祛暑消痰，誠痢症之聖藥也。白痢砂糖湯下，余俱薑湯下。每服二三錢，量大小投之。其效在大香連丸之上。</p>
<p>治痢神效方　無論新久痢症一貼即愈。</p>
<p>油當歸（一兩）　枳殼（三錢面炒）　黃芩（五錢）</p>
<p>水三鐘，煎八分服。渣再煎服。忌葷腥三日。重用當歸，取其滑潤，枳殼專利大腹，黃芩清暑熱腸。</p>
<p>香參丸　治痢極效。百發百中之藥也。</p>
<p>木香（四兩）　苦參（六兩，酒炒）　生甘草（一斤）</p>
<p>熬膏丸梧桐子大，每服三錢。</p>
<h4>治大人小兒噤口痢神方</h4>
<p>五穀蟲（水洗淨瓦上焙黃色）</p>
<p>研為末。用黑糖拌勻，新汲水送下即愈。</p>
<p>又方石蓮子肉（一兩去心）　木香（三錢）</p>
<p>研末。每服二錢，米湯調下。</p>
<h4>治休息久痢方</h4>
<p>豆腐醋煎，久食之即愈。</p>
<p>治休息痢方（屢驗多人，輕則一服，重則二三服即愈神效之極。不論男女俱可用）</p>
<p>藕節（七個）　荷葉蒂（七個）　側柏葉（七錢炒）　臭椿樹皮（七錢）　地榆（七錢）</p>
<p>照方用井水河水各一半，放大砂鍋內煎好，露一宿，盡力溫服。待煎好用沖淨白糖七錢。</p>
<p>各</p>
<h4>久痢方（東平展子明傳）</h4>
<p>柿餅（一枚）</p>
<p>入白礬一塊。，　存性研末，黃酒調服。不過三服，即愈。屢驗。</p>
<p>又方用陳石榴皮焙乾研末，每服二錢，米湯下。百方不效，服此便止，不可輕視。</p>
<h4>治五更時溏瀉一二次經年不愈方</h4>
<p>五味子（二兩）　吳茱萸（五錢，湯泡）</p>
<p>同炒為末。每早二錢，用陳米湯送下。</p>
<h4>立止水瀉方</h4>
<p>車前子（一錢）　澤瀉（一錢）　厚朴（一錢二分，薑汁炒）</p>
<p>共為細末。熱水調服即愈。</p>
<p>玉露霜　治老人脾泄最宜。</p>
<p>白朮（二兩，炒）　陳皮（一兩五錢）　蓮肉（四兩，去心）　薏仁（四兩，炒）　糯米（一升炒）　糖霜（量加）　陳米（一升，鍋焦炒）　綠豆（一升，炒）</p>
<p>共為細末。每服二三錢，滾水調勻服之。</p>
<h4>芡實散</h4>
<p>久服延年益壽，身輕不老。</p>
<p>芡實粉　金銀花　干藕（各一斤蒸熟晒乾）</p>
<p>共為末。湯水調服。</p>
<p>燒棗丸　通州馬荊襄傳治泄泄不止，雖至面黑氣息奄奄者，亦立效回生。</p>
<p>沉香　木香　公丁香　胡椒　官桂　乾薑　砂仁　赤小豆（各等分）</p>
<p>共研為末。煮紅棗肉為丸，仍以棗肉包之。再以面裹煨熟，米湯送下。</p>
<h4>治轉筋霍亂法</h4>
<p>令病患面牆直立，一人以手蘸溫水在腿彎內反手拍打數十，有青紅脈突起，即將針刺其上，出黑血立止。</p>
<p>治霍亂方　掃帚略用者可。久則無穗矣。</p>
<p>用高粱掃帚上穗子連枝梢一把，煎湯溫服立愈。</p>
<p>又方藿香葉　廣陳皮（各五錢）</p>
<p>水二鐘，煎一鐘，溫服立愈。</p>
<h4>路中暑方</h4>
<p>大蒜（搗爛）　路上土新汲水一盞，調服或灌立止。</p>
<p>治中暑口渴飲水身熱頭暈發昏者。</p>
<p>石膏（五錢　）　知母（二錢五分）　生甘草　粳米（一撮）</p>
<p>水煎服。病重者加倍用。</p>
<h4>治中暑悶方</h4>
<p>扁豆葉搗汁飲之，立愈。</p>
<h4>治絞腸痧方</h4>
<p>此症夏天最多。肚腹急痛，唇指青黑者。</p>
<p>用透明生白礬研末。每服二錢。用冷水熱水各半杯，調服即愈。</p>
<p>仁人須預帶明礬，或在舟車長途或黑夜之際，應手奏功。再於爪甲肉際臂腿彎等處，刺出黑血為要。切忌薑湯茶葉湯大葷米面，直待甚餓吐瀉三個時辰方可食粥。此症須認明，若陰症誤視不效。</p>
<h4>簡便痧方</h4>
<p>患痧大抵腹痛，亦有並不痛者。但昏沉脹悶，莫可形狀，醫未能識者。急取田中生芋艿洗淨嚼之，如非痧則生澀難食，若是痧則甘美異常。再食一枚，脫然起矣。屢驗。腹痛者同治。</p>
<h4>治陰症神方</h4>
<p>白明礬（一分）　胡椒（二分）　芒硝（一分）</p>
<p>共為細末，鹽醋調和。攤男左女右手心緊合陰處，蓋暖出汗即愈。其效如神。</p>
<h4>急救陰症腹痛方瀛海淳朴堂王之刊施</h4>
<p>（三錢研細）</p>
<p>滾燒酒送下即愈。預將生黃豆令病患嚼之，不知豆者是。</p>
<p>心疼小腹疼痛面指發青乃陰症也左KT　龍即白鴿屎（一大抄）</p>
<p>研極細末。熱酒一鐘，攪勻澄清頓服。</p>
<p>寒火相結小腹疼痛方（俗名陰寒此方屢驗）</p>
<p>枯白礬（棗子大一塊）　帶須蔥白（三段）　胡椒（按病患歲數一歲一粒）</p>
<p>用男孩兒吃之乳，合一處共搗為丸，安放肚臍上，一炷香時痛即止。　忌用生冷要緊。</p>
<h4>治小腹痛諸藥不效方</h4>
<p>用婦人油發燒灰，酒調三錢服。</p>
<h4>中風不省人事</h4>
<p>用柏葉一握，蔥白一握，連根搗如泥。無灰酒一大鐘，煎一二十沸，去渣溫服。</p>
<h4>治怔忡痰厥方</h4>
<p>臘八日用大雄豬膽一枚。將白礬研細入膽，盛滿為度。陰乾去皮，仍研細，每錢加飛朱砂三分和勻。用無根水服三銅錢邊即愈。所謂三銅錢邊者，即一刀圭之意，極言其少也。</p>
<h4>怔忡症</h4>
<p>柏實煮飲，日久自愈。</p>
<h4>痰火症</h4>
<p>真麻油三兩。以牛黃五錢。明礬一兩。研末浸油內。痰火發時。服一二匙痰自下。</p>
<h4>七粒金丹</h4>
<p>治哮吼之症神效。將瓦放火上燒紅。放鵓鴿糞於紅瓦上。自然成灰。研細好酒送下。二三錢即愈。</p>
<h4>治哮病方</h4>
<p>哮有虛實之分。熱哮。鹽哮。酒哮。皆虛症也。寒哮。實症也。寒哮遇冷風而發。熱哮傷熱傷暑而發。治不同法。</p>
<h4>虛哮方</h4>
<p>麥冬（三錢）　桔梗（三錢）　甘草（二錢）</p>
<p>水煎服一帖即愈。不必加去痰之藥。加則不效矣。不能斷根另有藥。</p>
<h4>實哮方</h4>
<p>百部（二錢）　炙草（二錢）　桔梗（三錢）　半夏（一錢）　陳皮（一錢）　茯苓（一錢五分）</p>
<p>水煎服。二帖即愈。</p>
<h4>斷根方</h4>
<p>用海螵蛸火　為末。大人五錢。小兒二錢。黑砂糖拌勻調服。一帖即除根。若不服上煎藥。止可得半也。上煎藥如熱哮加元參三錢。冷哮加乾薑一錢。鹽哮加飴糖三錢。酒哮加柞木三錢。</p>
<h4>定喘止嗽降痰噙化方</h4>
<p>孩兒茶　白檀香　白豆蔻　桔梗　麥冬（去心）　蛤粉（各一兩）　川貝母（一兩，去心）　南薄荷　天門冬（各五錢）　木香（三錢）　麝香（二分）　真冰片（五分）</p>
<p>上藥共為末。甘草四兩。熬膏為丸。如梧子大。每噙化一丸。去痰降氣止嗽。如神。不可備述。</p>
<h4>治鹽哮方</h4>
<p>鹽哮每朝清晨服豆腐漿愈。</p>
<h4>治冷哮方</h4>
<p>茯苓　乾薑（各一兩）　南星（七錢）　石膏（七錢）　生半夏　杏仁（各五錢）</p>
<p>上味共研末。每服三錢。烏梅燈心湯服。</p>
<h4>冷哮方此非湯劑可治須吸煙法</h4>
<p>乳香　芸香　麻黃　細辛　薄荷各等分。為細末。撲紙上捻作長條。燃火令旺。滅之即以煙熏口中及鼻內。淚出自痊。</p>
<p>凡三次作三日。</p>
<h4>治腹中硬塊方</h4>
<p>臭椿皮在上中者佳。要一大束。去粗皮。止用白皮二斤。切碎入鍋內。水熬濾去渣。用文武火熬成膏。薄攤標布上。先以生薑搓去垢膩。後以火烘熱膏藥貼痞塊上。其初微痛。半日後即不痛。俟其自落。一張即好。永不再發。貼膏時微撒麝香少許於膏藥上。然後貼之。</p>
<p>貼上膏藥。周遭破壞出水即驗。　此方已驗多人。即脹滿腹硬過臍者。貼一二張即愈。真神方也。珍之重之。孕婦忌用。</p>
<h4>治痞塊神效膏</h4>
<p>真川白芥子（二斤）　穿山甲（八兩）</p>
<p>用真桐油二斤。入銅鍋內先熬半晌。次入穿山甲熬數沸。再次入白芥子。俟爆止。濾去渣。入飛淨炒黑黃丹八兩收之。離火。再入麝香末四錢。去火氣七日。用攤時隔湯化開。不可用火。又加阿魏四兩更妙。此膏效難言述。倘若有力者。多熬以救人甚妙。</p>
<h4>治痞秘方（不論遠年近日服之內化無形不可輕視）</h4>
<p>大黃　皮硝（各一兩）　水紅花子（研為末）　急性子（各五錢，亦研為末）</p>
<p>用白鴨一只。　去毛並臟雜。不可經水。藥共研勻。裝入鴨腹。用線縫好。盛砂鍋內。</p>
<p>加無灰酒兩大碗。上用一砂鍋蓋好。要封口嚴密。文武火炙干。將鴨翻掉。炙黃色。破開鴨肚去藥。用新青布將鴨腹內揩得干淨。患者將鴨分作二三次吃。吃完即愈。</p>
<h4>消痞神丸</h4>
<p>香附米（二兩，童便浸炒）　砂仁（七錢，炒）　枳實（一兩，炒）　陳皮（一兩，炒）</p>
<p>半夏（一兩二錢，薑炒）　厚朴（一兩二錢，薑炒）　山楂肉（二兩）　當歸身（四兩）　沉香（八錢）　木香（五錢）　烏藥（一兩）　白朮（一兩，土炒）　神麯（一兩一錢，炒）　蒼朮（一兩二錢，炒）　麥芽（一兩共炒研為末。老米和為丸。梧桐子大。食遠服二錢，五分。白滾湯下。</p>
<h4>消滯丸東平展子明傳</h4>
<p>消一切酒食痰脹腫痛積聚痞症瘕。此方消而不響。響而不動。藥味尋常。功效甚速。</p>
<p>黑丑（頌術二兩，微焙）　南香附（醋浸透，炒）　五靈脂（微焙）　檳榔（各一兩）</p>
<p>共研細末。醋和為丸。如梧子大。每服一錢。漸加至二錢。薑湯下。</p>
<h4>山嵐瘴氣</h4>
<p>犀角　羚羊角　雄黃（各一錢）　麝香（三分）</p>
<p>共為末。水調服。凡飲食之內。俱宜用蒜。此辟瘴之要味也。</p>
<h4>治中瘴癘毒方</h4>
<p>水煮犬肉。空心恣食。飲酒數杯。即去溲溺。少候清利。其瘴漸退。蓋犬肉能治其瘴也。</p>
<p>昔洞庭賀澤民。按察雲南時。分巡騰沖等處。因染瘴癘。腰股發熱。有監生殺犬煮而饋之食。</p>
<p>愈。客坐新聞。</p>
<h4>新增緊要良方</h4>
<p>藥黑豆（去皮二錢六分）　白砒（六分）　明雄（四分）</p>
<p>外用朱砂三分為衣。以上共重三錢九分。為一料。每料做成六十三丸。必須端午午時。</p>
<p>先將藥味晒好。研末。午時修合。用者大人只一丸。小兒半丸。孕婦忌服。如此症發三四個後。當日食之。神效。食丸後。謹戒油葷生冷及冒風下水。忌七日。永不發矣。</p>
<p>此藥性味平和而功用甚大。統治一切天行四時瘟疫。彼此傳染。憎寒壯熱。精神昏迷。</p>
<p>身體倦怠。骨節疼痛。飲食不進。胸腹臌脹。炎天受暑。痧症。霍亂吐瀉。春瘟。夏瘧。秋痢。感冒。風寒。山嵐瘴氣。凡此諸病。每用二丸。開水化服。重者四五丸。無不應效。如噤口痢疾。飲水入口即吐者。用一丸噙化。徐徐咽下。開通胃氣。即能飲食。虔治與人。應手取效。茲將藥方開後。惟愿仁人君子。好善樂施。配合廣濟。俾窮檐KT　屋。無力延醫者。感得賴以治療篤疾。</p>
<p>檳榔（一斤）　川厚朴（薑汁，炒）　廣皮（各十二兩）　藿香（六兩）　製香附（半斤）　酒白芍（半斤）　半夏曲（十二兩）　紫蘇（六兩）　草果仁（半斤）　炒枳實（半斤）　製蒼朮（十二兩）　青皮（半斤）　柴胡（半斤）　炒黃芩（半斤）　萊菔子（四兩，炒）　煨乾薑（六兩）　山楂肉（半斤）　甘草（四兩）</p>
<p>外加神麯三斤。陳武彝茶四兩。共研細末。用生薑十斤。搗取自然汁。將紅棗打泥。泡濃汁拌水泛為丸。每丸重一錢五分。晒乾透用大瓶盛貯。勿泄氣。小兒減半。孕婦忌服。</p>
<p>青黛（三錢）　真紫竹根（三錢）　馬全子（三錢）</p>
<p>以上三味。煎水服之。毒即可從大便中出。</p>
<p>用生梅子一升。蜒蛔蟲不拘多少。（此蟲俗名滑泥涎其蟲涎滑滿身）同裝入壇內。日久蟲化成水。梅子自干收貯。如遇此症。用梅子一個。噙之即愈。</p>
<p>又方用青果核不拘多少。燒灰存性。每錢加上冰片五厘。研細末吹之亦效。並兼治爛腳不收口者。</p>
<p>用大黑豆一升。將水泡一晝夜。瀝干用壇子一個。將豆裝入。以粗生布封口覆於缽碗內。</p>
<p>四旁用磚砌好。上用白炭火　一周時起出。以缽碗內之豆油。俟冷塗搽。多次即愈。</p>
<p>用生貫眾十斤。以大為妙。切碎炒燥研細末。篩過再以童便浸透。晒乾再浸。再晒。如此三五次。晒乾收貯。用時將生桐油調敷。如已起泡出水。即干KT　之。即愈。此藥須在伏天制好。</p>
<p>用水龍骨。（即舊船上捻船之桐油鍛石也）晒乾研細末。用韭菜汁浸透晒乾。再以牛膽浸濕拌勻。又晒乾研末。KT　之即愈。</p>
<p>采野青菜陰乾為丸。每丸重一錢。共服三四丸。即愈。</p>
<p>采野東莧菜搗爛。敷滿雞蛋。用白麻線一長根。將所敷之蛋系穩。再用腐乳壇一個。入好七醋一酒盞。將雞蛋放入壇內。即拈線頭塞入鼻孔。吸一二次全愈。</p>
<p>用真菜油擦上眼皮一二次。並不傳染。</p>
<p>艾茸（八分）　羌活（八分）　枳殼（六分）　荊芥（八分）　北　（錢半酒炒氣虛者用二錢）　川貝母（另研沖服）　酒芍（一錢）　當歸（二錢）　川芎（錢半）　菟絲子（錢半）　川厚朴（八分，薑汁炒）　甘草（五分）　生薑引此方得自醫學心悟。屢試屢效。隨手見功。凡難產者。服之立產。不當產者。服之即安。</p>
<p>洵救急之良方。濟生之寶筏焉。但勿任意增減為囑。　茶陵譚繼善堂刊。</p>
<p>楂肉（三錢，炒黑）</p>
<p>煎水紅糖兌服。</p>
<p>又方元胡索（六錢，酒炒）　丹參（三錢）　枳殼（二錢）</p>
<p>煎服。</p>
<p>川楝（十粒，用巴豆七粒同煮取豆瓦上焙枯成炭）　荔枝核（十粒，打碎鹽水炒枯）　吳芋（二錢）　小茴（三錢）　官桂（三錢）</p>
<p>均用鹽水炒。同前藥研末。白水沖服。</p>
<p>青黛（一兩）　千年矮（連根一握）</p>
<p>將千年矮煎濃汁。沖對青黛一大碗服。不過二三劑。全愈。並不禁忌。　此方系薑若鵬祖傳。屢服屢驗。　按千年矮一名路邊精。五六七月開小白花。其根入火爐燒之作貓屎臭者是。故俗名貓屎它。</p>
<p>用紫竹根入鐵鎖一把同煎。牛馬灌。犬羊豬拌食及草。服之愈。</p>
<p>雞毛水服之愈。隨食其雞肉妙。</p>
<p>妊娠八個月後預服一劑。臨盆服一二劑。能免一切難產。或一切胎動能安。其分兩俱屬神授。不可任意加減。</p>
<p>當歸身（酒洗）　川芎（各一錢五分）　菟絲子（一錢五分）　白芍（酒炒，冬月一錢，余月一錢二分）　川貝母（一錢浙貝不可用）　荊芥穗（炒）　黃　（蜜炙，各八分）　厚朴（薑炒）　蘄艾葉（各薑三片空心水煎服。</p>
<p>用皮硝（五錢）清水碗半煎七分。每月一日三洗。辰時向東方。午時向南方。戌時向西方。</p>
<p>用黑絹頻洗。此日必須潔淨持齊。不可亂洗。必有效驗。日期開後。閏月照前。</p>
<p>正月初三　二月初四　三月初三　四月初五五月初五　六月初四　七月初二　八月初九九月初十　十月初三　十一月初四　十二月初四</p>
<p>當歸　熟地（各二錢）　白芍（一錢）　川芎（一錢五分）</p>
<p>上水煎服。</p>
<h2>卷下</h2>
<h3>外症門</h3>
<h4>治一切腫毒屢驗方</h4>
<p>杏仁不拘甜苦皆用。剖開兩瓣。擇選棱齊全者數枚。塗以溏雞糞。加麝香些須。罨在瘡上。即吸住不脫。移時毒聚。則杏仁迸起。隨以第二枚罨之。仍如前吸注迸起乃毒未盡也。</p>
<p>即以第三枚罨之。其毒起必輕。一觸即脫。無不愈者。</p>
<h4>巴膏（系四川藩司巴公治母痊傳此方）</h4>
<p>治一切惡毒大瘡無名腫毒及一切痞塊神效。</p>
<p>木鱉子（二十一個）　象皮（一兩）　大穿山甲（四十九片，油煎化為度）　巴豆仁（三十五粒）　山梔子（八十一個，紅者去殼熬化去渣）　真芝麻油（四斤）　桃柳楊槐桑（五種嫩枝，各九條撅將香油炸枯樹枝。用鐵絲小網杓撈出樹枝。再入木鱉子、象皮、穿山甲、巴豆仁、紅梔子炸化。用絹袋濾去渣滓。將前油復入鍋內熬沸。撤火稍定。入炒過黃丹攪勻。將鍋取起。</p>
<p>再入血竭、兒茶、制乳香、制沒藥、各三錢。硼砂五錢。細細攪勻。用涼水一盆。將膏傾入水內。用手扯藥千余遍。再換水數次。拔去火氣。收貯瓷罐內。臨用重湯燉開。攤貼忌用火烘。</p>
<h4>治一切無名腫毒方</h4>
<p>澤蘭葉（一兩）　廣膠（五錢另器酒化沖入）　白芨（三錢）　淮牛膝（三錢）　白芷（三錢）</p>
<p>人身以臍為中。如患臍以上及頭面者。去牛膝。入白芷。臍以下及足膝者。去白芷入牛膝。上下俱患者。二味並用。水煎臨臥時服。接飲熱陳酒。必得酩酊。蓋被出汗為度。已潰未潰。服一二劑即愈。</p>
<h4>一切腫毒</h4>
<p>山藥搗成泥。塗之立消。</p>
<h4>惡瘡不斂</h4>
<p>瓦松陰乾為末。先以槐梅蔥白湯。洗淨後。糝之。立效。</p>
<h4>諸瘡十年不瘥者</h4>
<p>鯽魚　灰和醬塗之。</p>
<p>治毒膏　貼一切腫毒神效蓖麻子（四兩，去油皮）　血竭（三兩）　蟾酥（一兩，乳化）　乳香（一兩，出汗）　松香（一兩五錢，揉白）</p>
<p>加頂好麝香三錢。為膏貼一切腫毒神效。</p>
<h4>拔毒異法</h4>
<p>以極細鐵屑將好醋調之。煎二三沸。撈醋中鐵屑鋪於患處。將上好磁石。即吸鐵石一大塊。頻頻吸之。陰症用之其毒自出也。</p>
<h4>一筆銷</h4>
<p>鬧洋花五十斤。揀極淨煎膏。將川烏、草烏、各一兩。收之。凡遇癤毒用筆蘸藥塗之。</p>
<h4>治腦疽發背一切惡瘡初起方</h4>
<p>采獨莖蒼耳草（一根連葉帶子用）</p>
<p>切細不見鐵器。用砂鍋入水二大碗。熬至一碗。如瘡在上部。飯後徐徐服訖。俟吐出。</p>
<p>吐定再服。以藥盡為度。如瘡在下部。空心服。瘡自破出膿。以膏藥貼之。　京兆張公伯王榜示此方傳人。後昆弟皆登科甲。</p>
<p>治發背對口及一切癰疽潰爛有回生功效宮粉（一兩）　輕粉　銀朱　雄黃　乳香（制淨）　沒藥（各二分五厘，制淨）</p>
<p>共研極細末。聽用先將好茶葉。煎濃湯洗患處。後將　豬腰子切開。摻藥五分於腰子上。</p>
<p>蓋患處。待藥如蒸良久取去。一日一次。拔毒減痛。潰出膿穢。不可手擠。輕者二次愈。重者七八次可愈。　此方濟人甚多。</p>
<h4>呂祖治發背靈寶膏</h4>
<p>桐廬一人。因母患發背。百治不痊。得此方痊愈。</p>
<p>栝蔞五枚取子去殼乳香五塊如棗大二味共研細末。以白蜜一斤。同熬成膏。每服三錢。溫黃酒化服。</p>
<h4>治發背如神真秘方</h4>
<p>狗牙要大者。炒黑研細末。聽用先將生蔥熬湯。洗瘡。再將前末。用好醋調敷患處即愈。</p>
<h4>治發背方</h4>
<p>鮮苦參根去泥洗淨搗爛。同雞蛋清攪如糊。未潰者滿塗之。已潰者四圍敷之。中心留頂。</p>
<p>若經時藥干。以井水掃潤之。有起死回生之功。真神方也。勿以平常忽之。</p>
<h4>發背膏藥方</h4>
<p>此方得之甚難。禮下於人。設法購求。方得到手。合藥施送。無不立效。</p>
<p>滴乳香（箬包燒紅磚壓去油四兩）　淨沒藥（箬包燒紅磚壓去油四兩）　鮮紅血竭（四兩）　白色兒茶（四兩）　上好銀朱（四兩）　杭州定粉（四兩）　上好黃丹（四兩）　上好銅綠（二兩）以上各另碾無聲。篩細末共一處。臨時照患瘡之大小。用夾連四油紙一塊。</p>
<p>用針多刺小孔。每張秤藥末五錢。用真好芝麻油調攤在油紙上。再用油紙一塊。蓋上周遭。</p>
<p>用線將二紙合縫一處。貼瘡上用軟絹扎緊。自然止痛。化腐生新。過三日將膏揭開。濃煎蔥湯將瘡上洗淨。軟絹拭乾。將膏翻過。用針照前多刺小孔貼之。因藥品甚貴。取其又得一面之藥力也。無火之人。內服十全十補湯。　有火之人。減去肉桂薑棗煎服。兼以飲食滋補。</p>
<p>無不取效。至重者。用膏二張。百無一失。寶之。</p>
<h4>發背無名腫毒等瘡</h4>
<p>紫花地丁。三伏時采收晒乾為末。飛羅面為糊。將末和成餅。收貯。臨用鹽醋浸一宿。</p>
<p>貼之甚效。</p>
<h4>治對口仙方（此名天疽十有九死可不慎乎）</h4>
<p>鯽魚一尾。去鱗腸搗爛。入頭垢五六錢。再極勻加蜂蜜半杯攪勻。從外圖入裡面。留一孔出毒瓦斯。二次全消。即時止痛。如已成形。有頭將出膿。或他醫已治不效而出膿者。內服三香定痛飲。則能起死回生矣。</p>
<h4>三香定痛飲（原方無分兩臨用延醫酌定）</h4>
<p>木香　黃　紫蘇　人參　厚朴　甘草　桔梗　官桂　烏藥　當歸　芍藥　白芷　川芎防風　乳香　沒藥上水二鐘。薑三片。紅棗二枚。煎分食後服。</p>
<h4>對口瘡</h4>
<p>薑汁磨京墨四邊圍住。以白梅豬膽塗瘡口即愈。</p>
<h4>治對口初起方</h4>
<p>不論偏正。用蛇蛻一條　灰。以好酒調服即消。</p>
<h4>治對口瘡方</h4>
<p>黃蠟（一兩）　頭發　宮粉（各三錢）　麝香（少許）　香油（三兩）</p>
<p>上先將香油熬滾入頭發。次入黃蠟化開。再入宮粉略熬一滾。退火入麝。將古干紙裁成方。入油內即取出。冷定或每用五張或七張貼患處。即出膿矣。再貼十余張即愈。</p>
<h4>一切癰疽瘡疔無名腫毒不論陰陽已潰未潰外科總方</h4>
<p>桑條如手大指。粗細二根。炭火燒著。一頭吹滅。用心熏瘡。如未成者。便消散。或已成者。便破。有疔去疔。有毒去毒。熏疼者不疼即安。熏不疼者若疼即愈。屢驗神效。</p>
<h4>烏龍膏</h4>
<p>一切癰疽發背。無名腫毒。初發熱未破者。神效。</p>
<p>陳粉子（隔年小麥粉）砂鍋焙炒。初炒如餳。久炒則干。成黃黑色。冷定又放於地上出火毒。研為末。陳米醋（愈陳亦好）調糊。熬如黑漆。瓷罐收貯。臨用攤紙上。煎貼之即如冰冷。疼痛隨止。少刻覺癢。干亦不可動。或纏裹之。久則自消。力盡脫落。藥易功大。濟生者珍之。</p>
<h4>治癰大如盤臭不可近方</h4>
<p>桐樹葉醋蒸貼之。退熱止痛。漸漸收口。秘方也。</p>
<h4>腸癰</h4>
<p>小腸堅硬如掌而熱。按之則痛。肉色如故。或　赤微腫。小便頻數。汗出憎寒。脈緊實而有力。服此神效。</p>
<p>大黃（炒）　朴硝（各一錢）　丹皮　白芥子　桃仁（各二錢，去皮尖）</p>
<p>水二碗。煎八分。食前或空心溫服。</p>
<h4>腸癰不可藥治</h4>
<p>用皂角刺。酒煎服。即從小便出膿立效。</p>
<h4>治大小腸癰（凡小腸癰則左足縮大腸癰則右足縮是也）</h4>
<p>用地榆（一斤）水十碗。煎三碗。再用生甘草、（二兩）金銀花。（一兩）再煎一碗。空心服。一</p>
<h4>鼠核痛</h4>
<p>未成膿者。以柏葉搗塗熬鹽熨之。氣下即消。</p>
<h4>頸上瘡</h4>
<p>舊琉璃燈燒灰。菜油調搽神效。</p>
<h4>內消瘰秘傳經驗方</h4>
<p>未潰者。內消。已潰者。亦愈。外貼太乙膏收口而愈。</p>
<p>夏枯草（八兩）　元參（五兩）　青鹽（五兩，火　過）　海藻（一錢）　天花粉　生地（酒洗）　川大黃（酒蒸）　貝母　海粉　白蘞　薄荷葉　連翹　桔梗　當歸（酒洗）　枳殼（麥面炒）　焰硝　甘草（各一兩）</p>
<p>上為細末。酒糊跌為丸。綠豆大。食後臨臥低枕。用白湯吞百余丸。就臥一時妙。</p>
<h4>頂癭</h4>
<p>豬喉下肉子七枚。瓦焙研末。每夜酒服一錢。忌酸鹹油膩塞氣之物。</p>
<h4>肺痿</h4>
<p>肺癰者。先因感受風寒。未輕發越。停留肺中。亦有七情飢飽勞役。損傷脾肺而生者。</p>
<p>又有勞力內傷。迎風響叫。外寒侵入而生者。其初則毛聳惡風。咳嗽聲重。胸膈隱痛。項強不能轉側者。是其真候也。久則鼻流清涕。咳吐膿痰。黃色腥穢。重則胸脅脹滿。呼吸不利。</p>
<p>飲食減少。脈洪自汗。漸至久咳勞傷。咳吐痰血。寒熱往來。形體消削。咯吐瘀膿。聲啞咽痛。其候轉為肺痿。如此者。百死一生之病也。用大栝蔞一個。開一孔內子有多少粒數。配杏仁（去皮尖）如數入栝蔞內。將孔封好。外用黃泥包裹。　紅無煙候冷。去土將栝蔞又配川貝母如前數。共研為細末。用蜜調二錢。臥時服燈心湯過口。</p>
<p>嗽唾寒熱。氣急頰赤。童尿五合。大粉甘草寸許。四破浸之。露一夜。平旦頓服。一日一次。</p>
<h4>肺癰咳嗽</h4>
<p>咳吐膿血。胸中隱痛。用薏苡仁略炒為末。糯米飲調服。或煮粥。或水煎服。當下膿血自安。</p>
<h4>肺癰危急</h4>
<p>橘葉絞汁一盞服之。吐出膿血即愈。</p>
<h4>治肺癰奇驗方</h4>
<p>凡人肺癰初起時。咳而兩胸即疼者。是也。即宜速服此方。</p>
<p>元參（半斤）　天冬（四兩）　桔梗（二兩）　炙甘草（一兩）</p>
<p>水十碗。煎至二碗。再用蒲公英（五錢）金銀花（五錢）再煎一碗。飽食後服之。初起者即消。日久者即生肉。奇方也。</p>
<h4>肺風瘡</h4>
<p>金頭蜈蚣（一條，去頭足瓦上焙乾）　雄黃（一錢）　硫黃（一錢）</p>
<p>共研細末。夏月用白茄子搗汁調搽。冬月用地瀝青杵膏塗之。臥塗於面。次早洗去。半月全愈。</p>
<h4>肺風瘡驗過</h4>
<p>黑脂麻（去皮）　蓮肉（不去心水浸軟）</p>
<p>每早服之。</p>
<h4>懸癰</h4>
<p>由於三陰虧損。濕熱結聚而成。此穴在於穀道之前。陰器之後。又為海底穴也。初生狀如蓮子。少癢多痛。日久漸如桃李。赤腫　痛。潰後輕則成漏。重則瀝盡氣血。變為癆瘵不起者多矣。用大粉草四兩。長流水浸透。炭火上炙干。再浸再炙。如此三度。切片。甘草三兩。當歸身三兩。水三碗。慢火煎至稠膏。去渣再煎。稠濃為度。每用三錢。無灰熱酒一大杯。化膏空心服之。未成者即消。已成者即潰。既潰者。即斂。此懸癰良藥也。</p>
<h4>囊癰</h4>
<p>凡小腹作痛。牽引腎子。多寒少熱。好飲熱湯。乃疝氣也。如陰囊紅腫發熱。小便赤澀。</p>
<p>內熱口乾。墜重作痛。乃囊癰之候。不宜用疝家熱藥。清肝滲濕湯主之。</p>
<p>川芎　龍膽草　天花粉　當歸　生地　柴胡　山梔　黃芩（各一錢）　澤瀉　木通　甘草（各五分）加燈心。水煎食前服。</p>
<p>潰後糝藥　蚌殼　黃連　青黛　各等分研極細敷之。</p>
<p>抱出雞卵殼。黃連輕粉等分為末。以煉過麻油敷。</p>
<h4>胎元七味丸方（泰安太守薩公諱槎傳）</h4>
<p>專治痔漏。不拘遠年近日。膿血通腸者。服之。化管除根。此方異人傳授。救人災難。</p>
<p>止人疼痛。活人多矣。只宜傳方施藥。不可傳授匪人。心存取利。</p>
<p>胎元（三個，即男子臍帶，新瓦上焙乾存性）　陳棕（七錢，數十年者佳燒灰存性）　京牛黃（三分）　槐角子（五錢，肥大者瓦上焙乾存性）　刺　皮（三錢，酥炙）　象皮（四錢，酥炙）　地榆（三上七味共研細末。酥油為丸。如蠶子大。若不成丸。加糯米糊少許即成。每服七丸。空心白滾水送下。三日化管止痛。七日平滿。血清膿止。十日除根。第一奇方。</p>
<h4>洗痔回春方</h4>
<p>河邊柳根須一把。白芥子花椒各二錢。煎湯熏洗。其蟲頭黑身白。俱從瘡出。立愈。</p>
<h4>外敷藥方</h4>
<p>大黑棗三枚。剖兩片去核。入銅綠銜住。外以淨紅土和泥包好。　紅取起。去土研細。</p>
<p>真麻油調塗。</p>
<h4>痔漏神效丸方（江南錫山謝漢文楨氏傳）</h4>
<p>當歸（酒洗）　川連（酒洗）　象牙末（各五錢）　淨槐花　小川芎（酒洗）　滴乳香（各二錢，箬葉去油）　露蜂房（一個槐樹上者佳椒樹上次之微火炒）</p>
<p>共研細末。黃蠟二兩熔化。入前藥末為丸。桐子大。每服五六十丸。空心煎漏蘆湯送下。</p>
<p>至五日漏孔內退出肉管。待二三指長用剪剪去。再退出再剪之。內管盡出。自然從內生肌長肉。愈矣。神驗之極。</p>
<h4>治疔瘡方</h4>
<p>菊花（四兩）　甘草（四錢）</p>
<p>水二大碗。煎一碗服。如疔瘡有紅絲者。以燈心一根。蘸油迎絲頭連燒十余下。並燒瘡頭。皆燒至不疼。又燒至復痛即止。</p>
<p>護心散　見疔苗速用。</p>
<p>凡患瘍症。見食惡心。乃毒攻心也。急服此散。</p>
<p>綠豆粉（一兩）　乳香（三錢，去油）</p>
<p>每服五錢。甘草水送下。　如心慌。加朱砂三分。酒調亦可。</p>
<h4>治唇上身疔毒</h4>
<p>大腿彎中紫筋上。銀針刺出血即愈。</p>
<h4>治破傷風方</h4>
<p>鴿糞尖者（炒一二錢）　白麥面（炒一兩）　麻（不拘分兩燒存性）</p>
<p>以上三味為末。如遇破傷風。腫得頭如斗大。或垂死者。用好黃酒調藥灌之。即生。屢驗。</p>
<h4>治破傷風神方</h4>
<p>用手足十指甲。香油炒黃為末。黃酒沖服。汗出即愈。真奇方也。</p>
<h4>破傷風病</h4>
<p>槐子一合炒黃。好酒一碗。煎八分。熱服汗出為愈。</p>
<h4>八寶丹</h4>
<p>專治一切魚口便毒。頑瘡二三年不愈者。服此如手取之。效。</p>
<p>川大黃（一兩）　香白芷　獨活　天南星　製半夏　天花粉（各三錢）　大貝母　穿山甲（各五錢）</p>
<p>共研細末。每藥一兩。加粉霜三錢。糯米濃汁為丸。如鳳仙花子大。朱砂為衣。每服三分。空心白滾湯送下。一日一服。</p>
<p>即用柳根白皮。熬水漱口十余次。不過十余服即痊。其毒從大便而出。不吐不泄。極為平和。</p>
<h4>治魚口方（東平展子明傳）</h4>
<p>牛牙　灰研細末。每服一兩。黃酒調送下。一二服即愈。</p>
<h4>治坐板瘡神驗方</h4>
<p>松香　宮粉等分。入蔥管內。瓦上炙干為末。真麻油調塗。一二次即愈。神效無比。</p>
<h4>坐板瘡方</h4>
<p>蜂殼燒灰存性。研末。和真冰片少許。糝上一二次。即愈。</p>
<h4>治干疥腫癢方（俗名一掃把）</h4>
<p>水銀　輕粉　潮腦（各一錢）　大楓子肉（十個）　杏仁（一粒，去皮尖）　蛇床子（一錢）</p>
<p>共研細末。以地瀝青燭油調勻。先以肥皂水洗澡。塗患處。即愈。</p>
<h4>鬢邊疽有數年不愈者</h4>
<p>用豬貓頭上毛。各一撮燒灰。用鼠糞一粒為末。清油調塗立愈。</p>
<h4>脅疽</h4>
<p>赤小豆末敷。仍煮豆食飲汁。</p>
<h4>骨疽</h4>
<p>不合骨從孔出。掘地作坑。口小裡大深三尺。以干雞糞二升。同艾及荊葉搗碎。入坑內。</p>
<p>燒煙將疽就熏。用衣擁之勿泄。半日當有蟲出。</p>
<h4>蛇纏丹毒</h4>
<p>糯米粉和鹽嚼塗之。</p>
<h4>治赤白蛇纏瘡</h4>
<p>用KT　糞杓上竹箍。燒灰研細。用香油或麻油調搽患處。即愈。</p>
<h4>天蛇頭疔</h4>
<p>荔枝肉同麻油嚼敷。</p>
<h4>禿瘡</h4>
<p>羊糞晒乾。研細篩過。用老鼠煎油調搽三次。即愈。且能生發。</p>
<h4>禿瘡屢驗方</h4>
<p>蕎麥面（一兩炒黃研細）　硫黃（五錢研細）</p>
<p>共和勻。或羊油或羊髓油亦可。調勻搽之。</p>
<h4>治牛皮癬效方</h4>
<p>牛膝（三錢）　寒水石（三錢）　白礬（二錢，飛過）　花椒（一錢五分）</p>
<p>共為末。以健豬油同雞蛋清。調搽即愈。</p>
<h4>牛皮癬瘡</h4>
<p>煙膏即硝牛皮刮下者。藥鋪上買。菜油調搽即愈。</p>
<h4>治一切頑癬</h4>
<p>雞子四枚。和香油蔥椒炒作餅子。乘熱貼患處效。</p>
<h4>治膿窠瘡神效方</h4>
<p>用最舊齷齪鞋一只。最舊年久絲綿絮筋二種。俱燒成灰。候冷再用大楓子肉為末。合一處。以香油調勻敷之。兩日全愈。如有未干燥者。以灰糝之。其效如神。</p>
<h4>甘露丸（楊澤清傳）</h4>
<p>治眼漏。鼻漏。耳漏。牙漏。肘漏。腕漏。乳漏。胸漏。臍漏。大腸漏。小腸漏。臀漏。</p>
<p>膝漏。踝漏。或周身或一處不等。及諸瘡年久不愈者。悉能治之。</p>
<p>象牙末（八錢）　飛白礬（五錢）　大螞蜂窠（二個，帶子者）　刺　皮（一張以上，二味用新砂鍋焙黃色）　瓜兒血竭（五錢）　朱砂（六錢）　明雄黃（七錢）　滴乳香（三錢，去油淨）　沒藥（三共研細末。熔黃蠟為丸。如桐子大。每服二十四丸。槐花煎湯。沖黃酒空心送下。</p>
<p>藥內加白頸蚯蚓、槐花更妙。服藥後。忌醋葷腥氣惱。</p>
<h4>漏瘡</h4>
<p>人牙灰、油發灰、雄雞內金灰各等分為末。麝香、輕粉少許油調敷。</p>
<h4>大麻風癩</h4>
<p>白色松香。砂罐水煮。干則添水煮化。投水不澀為妙。研末。忌鐵器。蜜丸。桐子大。</p>
<p>每服七十丸。加至百丸。　豬脬七個。即尿胞也。每個入蓮肉七粒。煮極爛。酒食之。　松節、槐條、桃條、梅條、側柏葉各數斤。大鍋水煎出脂。缸內先熏後洗一二時。勿揩拭穿新青布衣。蟲當出布衣上。永不發矣。忌大葷鹽兩月。如手足KT　攣。加川烏、草烏、煎水洗。</p>
<h4>風癩</h4>
<p>黃柏末、皂莢刺灰、各三錢。研勻空心酒服。取下蟲物。並不損人。食白粥兩三日。服補氣藥數劑。名神效散。如肢腫用針刺出水。再服。忌一切魚肉發風之物。</p>
<h4>癩風眉落</h4>
<p>生半夏末。羊屎、燒焦等分。生薑自然汁調。日塗。</p>
<h4>治騎馬癰方</h4>
<p>金銀花（八兩）煎水二碗。入大黃　當歸（各一兩）　牛膝（三錢）　車前子　生甘草　地榆（各五錢）</p>
<p>煎半碗。空腹服後即臥。睡醒病失矣。過一日微瀉而愈。神效奇方也。須忌房事一月為要。</p>
<h4>上疳方</h4>
<p>上疳者。喉疳、牙疳、口瘡等症也。百用百驗如神。</p>
<p>輕粉（三分）　朱砂（七厘半）　雄黃（七厘半）　冰片（二分）　定粉（二分半）</p>
<p>共研細。吹入口內。無有不效者。臨吹先用薄荷湯。或茶漱過口。</p>
<h4>爛膀瘡方</h4>
<p>生石膏研末極細。和東丹、桐油、調搽三四次。即愈。</p>
<h4>雷頭風</h4>
<p>頭面　瘩腫痛。憎寒發熱。狀傷寒。用荷葉一片。升麻、蒼朮、各五錢。水煎溫服。</p>
<h4>治搭手</h4>
<p>全蠍去毒三五枚。核桃肉研末。好酒沖服。一二次即消。</p>
<h4>瘡久害</h4>
<p>用蔥白健豬油去膜。潮腦五六錢。共搗極爛。先用防風、金銀花、甘草、煎湯淋洗患處。</p>
<p>按干後。將前藥濃濃敷上。用薄油紙裹好。外用舊綿花扎緊。一日兩換。不可見風。忌食發物數日。生肌長肉全愈。藥用瓷盒緊盛。莫漏香氣。此方又可治杖瘡。並跌打皮肉損傷。</p>
<h4>多年瘡方（密云縣牛欄山楊醫傳）</h4>
<p>獸醫鏟下驢蹄片。不拘多少。砂鍋炒黑存性。研末。脂麻油調搽患處。如瘡濕者。不必加油。干敷之即愈。</p>
<p>此瘡百方不效者。用此藥神效經驗。</p>
<h4>治瘡不拘遠近神效方</h4>
<p>用舊爛牛皮鞋掌子取下。砍碎陰陽瓦　存性為末。麻油調敷即愈。神驗之極。</p>
<h4>王府秘傳治楊梅瘡方</h4>
<p>用癩蝦蟆一個。大者為佳。紅眼者。有毒。不可用。取時不可拿重。恐走蟾酥。宜用圓口小瓶一個。置於地上。緩緩趕其自進。量能飲酒半斤者。下酒一斤。須折半斤可服。其瓶口用木針針固。仍以紙條封緊。不可出氣。慢火煨煎。先將瓦瓶與酒。共蝦蟆稱過斤兩若干。</p>
<p>煎折半可住火。除去蝦蟆。止取清酒溫服。服後即將綿被覆暖取汗。干方可起動。更勿坐立當風處。恐入風氣。若上部瘡多。略吃些粥服。若下部瘡多。空心服。如一服未全愈。停三四日再服一個。決全妥矣。且終身不發。屢用屢效。不可輕忽。</p>
<h4>治黃水瘡羊須瘡屢驗方</h4>
<p>宮粉、松香、共研末。燈盞油調塗之。</p>
<h4>治漆瘡方</h4>
<p>鍛石水調敷上。一日除根。</p>
<h4>流火神方</h4>
<p>夏枯草（一斤）</p>
<p>水二十碗。煎十碗。放甏內。熏痛處立止。</p>
<h4>治小兒頭疽</h4>
<p>用有妻室的。臥房門內。地下腳踏處。取土　過。用麻油調敷疽周遭。留頂上如棋子大孔。其膿血出即愈。</p>
<h4>治小兒頭上熱癤方</h4>
<p>用　魚尾貼上。即不疼而愈。奇效屢驗。</p>
<h4>治濕痰流注神驗方</h4>
<p>用薑黃母子（是大薑黃身上小釘子是也）為末。小紅棗去核。藥末入內填平。用絲綿扎緊。塞入鼻孔內。隨量飲醉。蓋暖出汗。已潰者。自然愈。未潰者。內消。神效之極。鼻孔照男左女右塞之。</p>
<h4>足瘡</h4>
<p>甲疽鹽湯洗。　綠礬研末濃敷。</p>
<h4>甲疽膿血</h4>
<p>肉裹趾。牡蠣揀濃處生研為末。每服二錢。紅花酒煎服仍用敷。</p>
<h4>腮腫痛</h4>
<p>赤小豆。</p>
<p>浸軟杵末。水調塗之即消。塗背瘡神效。</p>
<p>治頭疼耳邊發腫太陽　腮俱疼不可忍。</p>
<p>大黃（一兩）　青木香　薑黃　檳榔（各三錢）</p>
<p>以上為細末。用醋蜜和調塗患處。中留一孔。氣干則易塗。二三次即愈。</p>
<h4>耳面肥瘡</h4>
<p>馬齒莧為末。和黃柏末敷之。</p>
<h4>傷損門</h4>
<p>跌打損傷方四川提督軍門吳英言。昔得秘方。治跌打損傷極效。雖重傷瀕死。但有一絲之氣未絕者。</p>
<p>立蘇。前任福建為副將時。軍中有二弁。相斗皆致重傷。其一則死矣。馳往視之。其一惟心頭氣尚微暖。亟命以藥灌入。覺胸間喀喀有聲。不移時。張目索食。翌日遂能起行。自後屢用屢著神效。其方或於重陽日。或於十一月采野菊花。連枝葉陰乾。每用菊花一兩。加童便無灰酒各一碗。同煎熱服。</p>
<p>跌打損傷。氣絕不能言。急以韭汁和童便飲一盞。</p>
<p>治跌打損傷昏迷不省人事此藥灌下立神效蘇木　白麻皮　細木耳以上各二錢。俱用瓦上焙焦色。木耳更要焦為妙。共為末。黃酒同黑糖調服。服後將酒飲醉。避風睡一宿。即愈。</p>
<h4>跌打及牆壁壓傷神驗方</h4>
<p>川麻（一分）　木香（二分）　紅花（三分）　甘草（四分）</p>
<p>研末。黃酒送下。均生用。</p>
<h4>跌撲至重面青氣短欲死者</h4>
<p>宮粉（一錢）</p>
<p>和水服之。即安。</p>
<p>凡刀傷磕傷及爛入寸深者千年鍛石、輕粉、血竭、白蠟、研末糝之。外以隨便膏藥。蓋上即愈。</p>
<p>金瘡或磕傷折傷血出不止疼痛難忍者。</p>
<p>蔥白　砂糖（等分）</p>
<p>研為泥封之。其痛立止。又無疤痕之妙。</p>
<h4>金刀傷大興李振祖（西平）傳</h4>
<p>龍眼核剝淨外面光皮。只用其仁。搗研極細末。填敷傷口即止。</p>
<p>西平氏云。此藥在西秦及巴裡坤軍營。救愈多人。</p>
<p>龍眼核治金刃傷之功效驗。查《本草綱目》。及《別集本草》。俱未細載。可知世間有用之材。自古迄今。湮沒者不可勝計矣。惜哉惜哉。</p>
<h4>刀傷急治法</h4>
<p>用柿餅搗爛塗之。血立止。傷口自合。</p>
<h4>打傷方</h4>
<p>白蠟（一兩）　藤黃（三錢）</p>
<p>入麻油溶化。塗傷處立愈。此方止痛止血。及湯火傷皆妙。</p>
<h4>猝墮壓倒打死心尚溫者</h4>
<p>將本人如僧打坐。令一人持其頭發。稍放低。用半夏末吹入鼻中。醒後以生薑汁、真麻油灌之。再以干薄荷燒灰。熱小便調下三錢。日進三服。自愈。昔推官宋琢定驗兩處殺傷。</p>
<p>氣偶未絕。急令保甲。各取蔥白放鍋內。炒熱遍敷傷處。繼而呻吟。再換蔥白敷之。傷者無痛矣。會以語樂平縣令鮑芹。及再會。鮑曰蔥白甚妙。樂平人好斗多傷。每有殺傷。公事未暇詰問。先將蔥白敷傷處。活人甚多。</p>
<h4>箭鏃鉛彈傷</h4>
<p>干莧菜搗和。砂糖塗之。箭鏃鉛彈皆可出。</p>
<h4>箭鏃入骨而不能出者</h4>
<p>鵝管石研細末。撒在周遭。箭頭自出。</p>
<h4>箭鏃及針頭不出或在咽喉</h4>
<p>用螻蛄。即濕地上夜鳴拉拉呼。腦子搗泥。敷上。不過三五次即出。</p>
<h4>墜車落馬筋骨痛不止</h4>
<p>元胡索末。好酒服二錢。日進二次。即愈。</p>
<h4>竹木刺入喉</h4>
<p>故鋸燒紅。浸酒中乘熱飲之。極妙。</p>
<h4>接骨神方（東平展子明方）</h4>
<p>旱公牛角（一個火上炙干一層刮一層）　黃米面（不拘數蕎面亦可）　榆樹皮白裡（不拘數）　花共研細末。以陳釅醋。熬成稀糊。用青布攤貼。再用長薄柳木片纏住。時刻聞骨內響聲不絕。俟定即接。　如牛馬跌傷。及樹株被風刮折者。以此藥照治人法治之。俱效。</p>
<h4>雜治門</h4>
<p>猝暴惡死或縊死或臥奄然忽死心頭微微溫者。</p>
<p>蔥心黃莖。男左女右。入鼻孔三四寸。鼻目出血有生。</p>
<h4>急救方</h4>
<p>凡溺死者。以鴨血灌之可活。</p>
<h4>治水溺死</h4>
<p>用牛一頭。或鐵鍋一口。將溺者橫臥於上。口中放箸一枝。使水可出。再以生老薑擦牙。</p>
<p>鴨</p>
<h4>冶凍死方</h4>
<p>凡凍將死有氣者。　炒熱。囊盛。熨心胸。冷即易　。若不先溫其心便以火烘。則冷與火爭必死。</p>
<h4>癲狗咬方</h4>
<p>斑蝥（四個，要頭足全）　木鱉（二個）　麝香（二厘）　黏米（四十九粒炒熟）</p>
<p>上藥四味。俱研細末。開水送下。即愈。若服後小便疼痛。即以涼水調服六一散三錢二三次。以解斑蝥之毒。其痛即止。</p>
<h4>狗咬成瘡</h4>
<p>銀杏嚼細塗之。</p>
<h4>惡蛇傷</h4>
<p>頓朴不可療者。香白芷為末。麥冬去心濃煎湯調下。頃刻傷處出黃水。待腫消皮合。仍用此藥渣敷。</p>
<h4>惡蛇咬傷</h4>
<p>青木香（即馬兜鈴根）</p>
<p>水磨敷之。仍煎湯飲吐妙。</p>
<h4>救砒霜毒方（會稽邵銘三先生傳）</h4>
<p>無名異（即土子漆匠用以煉桐油收水氣者）研末。吞下即活。</p>
<p>邵銘三云。一人常稱無名異。善解砒霜。其友不信。請面試。先服砒霜。後服無名異。</p>
<p>果無恙。</p>
<h4>誤吞五金</h4>
<p>啖餳糖半斤。其物皆從大便出。</p>
<h4>小兒吞釘方</h4>
<p>活磁石（一錢）　朴硝（二錢）</p>
<p>並研為末。以熬熟豬油加蜜和調藥末。吞之。將近一日。自然解下。蓋硝非磁石不能傳藥附釘。磁石非硝不能逐釘速出。非油無以潤。非蜜則未必吞。合是四者。則著者著。逐者逐。潤者潤。同功合力。裹護而出矣。</p>
<h4>解諸骨哽方</h4>
<p>或用艾葉煎酒服。　或將栗子內衣燒服。　或將虎骨研末服。　或將狗倒吊。取涎服。　或將象牙末吹之。</p>
<h4>解雞骨哽方</h4>
<p>或服水仙花根汁。　或服玉簪花根汁。　或將雞毛燒灰水服。</p>
<h4>雞骨魚刺</h4>
<p>金鳳花子北名海南花。炒為末。吹入即出或下。</p>
<h4>湯火傷</h4>
<p>凡湯火潑燒。急覓水中大蚌。置瓷盆中。將其口向上無人處。用水片三分。真當門麝三分。為細末。俟大蚌口自開時。以匙挑冰麝一二分。傾入蚌口內。其口即合。而蚌內之肉。</p>
<p>悉化為漿。然後再入冰麝少許。用雞翎黏掃傷處。先從四面邊層層掃入。每日用一二枚。痛處自減。及其火氣已退。將用下蚌殼燒灰存性。研細末入冰麝少許。從邊圍掃。如無蚌處。</p>
<p>用冰片四面摩起。漸及於中。亦可漸瘥。</p>
<p>又杭粉為細末。同婦人所用好頭油調塗。如無。柏子油亦可。</p>
<p>又用多年好陳醬。寬寬塗之。但愈後有黑　。</p>
<p>著人嚼生芝麻塗。隨干止痛。如患處寬大。令眾人共嚼共塗之。立愈。</p>
<h4>湯火傷灼</h4>
<p>舊葫蘆瓢。燒灰敷之。</p>
<h4>煙熏欲死</h4>
<p>白蘿卜生者。嚼汁咽下立爽。</p>
<h4>食物醋心</h4>
<p>胡桃嚼爛。薑湯下立止。</p>
<h4>貪食茶葉壁泥桴炭鍛石生米等</h4>
<p>此症皆屬有蟲。用炒芝麻一碟。拌雄黃末三分。始服白湯下三日。後只吃炒芝麻。服半月自愈。</p>
<h3>女科門</h3>
<h4>麥冬丸方</h4>
<p>治女子經閉。形容枯槁　屢驗杭州麥冬（去心六斤熬成膏）　何首烏（半斤，黑豆拌九蒸九晒為末，人乳浸不計遍數，要晒得一斤重）　大懷熟地（四兩）　紅花（五錢，酒洗）　當歸（四兩，酒洗）　鹿茸（五錢，酥炙）</p>
<p>共為末和勻。入麥冬膏內。再加煉蜜少許。和為丸。如梧子大。每服三錢。漸加至五錢。</p>
<p>黃酒滾水任下。</p>
<h4>四製香附丸驗方</h4>
<p>香附（一斤去毛，酒製四兩，童便制四兩，薑汁製四兩，鹽水制四兩，各浸七日）　烏藥（半斤炒）</p>
<p>共為細末。用米面米醋打糊為丸。桐子大。每服三錢。澤蘭葉煎湯下。　肥人空心鹽酒送下。</p>
<p>如月水不調。臨行三二日前。腰痛。用酒炒黃芩為引。服之四十日。大見功效。妙不可述。</p>
<h4>經閉干血等症神方（京師朝慶關僧建庵方）</h4>
<p>雄雞一只。煮熟去肉。取全骨一副。即嘴爪俱要。不遺。再用童便、生薑汁、高醋各三鐘。將骨入砂鍋。或置新瓦上。微火焙炒。陸續將三汁洒在骨上。仍留汁一小半將骨打碎。</p>
<p>又用香附米一兩。同骨再焙。仍將三汁陸續洒在骨上焙之。俟骨酥脆。去香附不用。將骨研成細末。分作三服。黃酒調下。一服汗出。三服經行。神效之極。</p>
<h4>月水不斷</h4>
<p>陳蓮房燒存性研。每服熱酒服二錢。</p>
<h4>呂祖鸞筆傳治症瘕屢驗方</h4>
<p>朝天結成石榴。無些微損傷者。連枝蒂摘下一枝。用新砂鍋一個。新木杓一柄。多年黑色陳釅醋十斤。愈久愈妙。陸續入鍋煮榴。用杓底擦滾石榴。令其皮爛。俟醋完。熬至黑色如膠。榴渣化盡如膏。起鍋。再預以羊血凝定如塊者。盛瓷器中。以金銀竹簪挑起一塊。滴於血上。即透至血底。俱化為水。足驗藥力。如無羊血。即豬血亦可驗。陸續用酒化血。不拘多少服之。滾水化服亦可。</p>
<p>按石榴體沉。其口多下垂者。朝天者絕少。此方異處。再用石榴。莫測其理。</p>
<h4>症瘕血塊勞疾屢驗多人方</h4>
<p>生川大黃切片一兩。好陳醋浸晒各九次。研極細末。每服三錢。好酒送下。二三服即愈。</p>
<h4>赤白帶下</h4>
<p>槿樹根皮二兩切。以白酒一碗半。煎一碗。空心服。白帶用紅酒甚妙。</p>
<h4>赤白帶下（無論老幼孕婦皆可服之）</h4>
<p>馬齒莧搗爛擰汁。三大合。和雞子清二枚。先溫令熱。次下莧汁微溫。頓飲之。不過再服即愈。</p>
<h4>血崩方</h4>
<p>雞冠子白者治紅崩。紅者治白崩。每服五錢。焙微枯。黃酒送下。</p>
<h4>血崩久甚不愈</h4>
<p>真紫降真香三錢。為細末。水二鐘。煎八分。露至半夜。雞鳴時熱服之。出汗即愈。</p>
<h4>崩中下血</h4>
<p>大薊根葉搗汁服半升。</p>
<h4>血崩</h4>
<p>貫眾一味。好黃酒一碗。煎至半碗。服至發汗立止。</p>
<h4>無憂散</h4>
<p>治妊娠身居富貴。口厭肥甘。憂喜不常。食物不節。既飽便臥。致令胞胎肥濃。根蒂堅牢。行動艱難。因致臨產難生。八月可服無憂散。則易生矣。</p>
<p>當歸　川芎　白芍藥　枳殼　乳香（各三錢）　木香　甘草　血余（即發灰以　豬心血和之各一錢五分）</p>
<p>上為末。每服二錢。水煎日進二服。</p>
<p>世之難產。往往見於郁悶安佚之人。富貴豢養之家。若貧賤辛苦者。未有也。古方書止有瘦胎飲一論。而其方湖陽公主作也。實非極至之言。何者。見其有用此方者。其難自若。</p>
<p>有妊婦苦於難產。後遇胎孕則觸而去之。予甚憫焉。視其形肥。勤於針黹。構思旬日。忽自悟曰。此正與湖陽公主相反。彼奉養之人。其氣必實。耗其氣始和平。故易產。今形肥知其氣虛。久坐知其不運。必氣愈弱。兒在胞胎。因母氣不能自運耳。當補其母氣。則兒健易產。</p>
<h4>生產保母子神方</h4>
<p>當歸（酒洗）　川芎　菟絲子（各一錢五分）　川貝母（一錢，去心）　生黃　（八分）</p>
<p>川羌活　甘草（各五分）　白芍（炒一錢二分，冬月只用一錢）　枳殼（面炒六分）　荊芥穗（八分）　蘄艾（用水二鐘。薑三片。煎八分。凡婦人受孕二三月者。不論有病無病。每月可服三兩劑。</p>
<p>臨月服三五劑。臨產用三四劑。同煎代茶。不時飲自能平安易產。諸病不生。倘素日未知此方。一時忽有血暈陰脫。胎滑小產者。服之即安。又能橫生倒養。六七日不下。或嬰兒死於腹中者。切忌收生婆用手。只以此藥服之。即下。此系異人所傳。神效無比。予家中用之多年。真至寶也。</p>
<h4>束胎丸懷妊七八月服之</h4>
<p>黃芩（炒夏一兩，春秋七錢半，冬五錢）　白朮（二兩）　白茯苓（七錢）　陳皮（三兩，忌火）為末粥丸。梧桐子大、每服三四十丸。白湯下極妙。</p>
<h4>佛手散</h4>
<p>（治六七個月後因事跌磕傷胎或子死腹中疼痛不已口噤昏悶或心腹飽滿血上衝心者服之生胎即安死胎即下又治橫生倒產及產後腹痛發熱頭痛逐敗血生新血能除諸疾）</p>
<p>當歸（五錢）川芎（三錢）水七分。酒三分。同煎七分。</p>
<p>如橫生倒養。子死腹中。加黑馬料豆一合。炒焦乘熱。入水中加童便一半煎服。少刻再服。妊娠。傷寒。熱病。</p>
<h4>護胎法方</h4>
<p>井底泥　青黛　伏龍肝（即灶心土）等分上為末。攪勻塗於孕婦臍中。二寸闊。如干再塗上。以保胎孕不傷。</p>
<h4>孕婦癃閉涓滴赤色方</h4>
<p>小茴香陰陽瓦焙存性。研末。每服三錢。黃酒沖服。</p>
<h4>墜高跌打觸胎不安胎動腹痛</h4>
<p>縮砂仁不拘多少。熨頭盛慢火。炒熟透去皮。為末。每服二錢。熟酒調下。須臾胎動發熱。即胎已安。功最神效。</p>
<h4>治胎動神驗奇方</h4>
<p>阿膠　鵓鴿糞（各三錢）</p>
<p>同炒為末。白滾水送下。即見紅亦安。神驗無比。</p>
<h4>生化湯（產下即服）</h4>
<p>全當歸（酒洗八錢）　真川芎（三錢）　薑灰（五分，夏令四分）　甘草（炙五分）　桃仁（十粒，去皮尖研碎）</p>
<p>孕將臨月。照方預備二劑。俟一痛即用水二鐘。先煎一劑。渣另貯。再煎一劑。其渣同前渣並煎。其汁三鐘。和一處頓熱。加黃酒六七匙。於一產後。未進飲食之前。即行服下。</p>
<p>逐瘀生新。永免產症。或三兩日內。精神疲倦。或腹中作痛。再連服二三劑。即愈。更治產後一切危症。無不立安。</p>
<p>此方與達生湯。均系張孟深先生所立。救苦良方。不論大小產。皆可用。奇效。產後諸症。總以生化湯為君。余則不過隨症加減而已。若惡露已行。腹痛已止。減去桃仁。再多服數劑不妨。如口渴加麥冬、花粉。寒痛加肉桂、砂仁。傷肉食加山楂。傷飯食加麥芽。傷果品加面裹煨熟草果數分。傷酸梅加吳茱萸三五分。傷菱肉加生龜板。傷梨及西瓜加肉桂之類。</p>
<p>如</p>
<h4>開骨丹（治產五七日不下及瘦小女子交骨不開死在旦夕）</h4>
<p>龜殼（自死者佳占卜者次之煮熟者不用）　女人發（一握，生男女者佳，　存性）　當歸（酒洗）　川芎（各一兩）</p>
<p>上為末。每服三錢。用水一盞半煎服。約人行五裡時。胎即下。</p>
<h4>治難產奇驗方</h4>
<p>生半夏、白蘞、等分為末。每遇難產婦人。或一二日夜不生。急用此藥末一錢。無灰酒送下。不論橫生倒生。胎衣不下。俱只一服。無不下矣。神驗之極。</p>
<p>濟生湯（治難產如神俟腰痛即服易產即三四日不生服此自然轉動生下此方催生第一穩效）　枳殼（面炒）　香附（炒）　大腹皮（薑汁洗炒各一錢）　當歸（二錢五分）　川芎（二錢）　甘草（水煎。空心服。</p>
<h4>產寶散</h4>
<p>伏龍肝（乃柴灶下正中土也）如子死腹中。母亦將絕。（土三錢）無根水調服即下。其土當兒頭上戴出。奇妙。或胎衣不下。用（伏龍肝一兩）為末。好醋調納於臍中。再用甘草煎湯三四合。服之即出。</p>
<p>又臘月兔。皮毛燒灰。酒服即出。</p>
<h4>治橫生難產子母雙全即時止痛順生驗方</h4>
<p>龜板（一具）去兩邊飛邊。用高醋在火上掃炙十數次。以板酥為度。研細末。每服三錢。</p>
<p>熱黃酒沖服。</p>
<h4>難產簡便方效</h4>
<p>紅莧菜同馬齒莧。煮熟食之。即生。</p>
<h4>婦人難產三四日不下者</h4>
<p>密將本夫陰毛剪下一半。燒灰沖酒。本夫手授與婦飲下。即生。切勿與婦知之。屢驗。</p>
<h4>婦人逆產</h4>
<p>釜臍煤以中指取下。交劃兒足下即順。</p>
<h4>胎衣不下效方</h4>
<p>雞蛋清二個。去黃。以好醋一鐘和之。啜入口中。即下。</p>
<h4>胞衣不下</h4>
<p>將本婦之　。（即褲也）覆井上即下。</p>
<h4>豬肝蜜酒法（治婦人胞水早行胎澀不下）</h4>
<p>豬肝（一具）　白蜜（四兩）　醇酒（一升）</p>
<p>共煎至半升。分作二三服。不能服者。隨其多少。緩緩服之。</p>
<h4>下死胎方</h4>
<p>用芒硝二錢。童便溫調服立下。</p>
<h4>子死腹中不出</h4>
<p>黃牛糞敷母臍即出。</p>
<h4>產後中風危急屢驗方（密云縣牛欄山楊醫傳）</h4>
<p>黑豆（一茶鐘）　連須蔥（五六半截）</p>
<p>先將黑豆焙至有煙時。再入蔥黃酒一鐘。水一鐘半。共煎至一鐘。服出汗即愈。寶之寶之。救人莫大陰功。</p>
<h4>產後心痛</h4>
<p>此惡血不盡也。用荷葉炒香為末。每服方寸大匕。沸湯或童便調下。或燒灰煎汁皆可。</p>
<h4>產後危急血暈惡露攻心將死方</h4>
<p>延胡索　血竭　真沒藥（制淨）　歸身（各等分）</p>
<p>醋水各半。煎服即愈。</p>
<h4>產後血暈</h4>
<p>韭菜不拘多少。切入瓶中。沃以熱醋。令瓶嘴對鼻中即醒。如無韭菜時。用荊芥穗三錢。</p>
<p>炒黑研末童便送下。</p>
<h4>產後小便不止</h4>
<p>濃肉桂（一兩）　丁香（三錢）</p>
<p>為末酒調。作餅放臍上即止。</p>
<p>治產婦大便不通。及老人諸虛人風秘不通。難行導藥者。服此最妙最穩。效若影響。</p>
<p>蘇子　胡麻子各半合。研極細。用水再研。取汁一碗。煮粥食之。解下結糞。漸得通利極驗。</p>
<h4>涌泉散（治產母乳汁不通）</h4>
<p>王不留行　天花粉　甘草（各三錢）　當歸（二錢）　穿山甲（炙黃一錢五分）</p>
<p>共為細末。每服三錢。豬蹄湯。或熱黃酒送下。其乳自涌泉矣。</p>
<h4>通脈散（治乳少或無乳）</h4>
<p>黃　（生用一兩）　當歸（五錢）　白芷（五錢）</p>
<p>七孔豬蹄一對。煮湯吹去浮油。煎藥一大碗服之。覆面睡即有乳。或未效。再一服。無不通矣。新產無乳者。不用豬蹄。只用水一半。酒一半。煎服。體壯者加好紅花三分。以消惡露。</p>
<h4>無乳</h4>
<p>牛鼻子作羹食之。乳下無限。</p>
<h4>乳吹乳滯方</h4>
<p>蒲公英（一兩）</p>
<p>入無灰酒一斤。煎熟服神效。</p>
<p>結乳敷藥方（一婦患此症諸藥不效腫痛異常以此方治之立效右院判汝敬吳公傳）</p>
<p>用生山藥不拘多少。搗爛敷之。</p>
<h4>吹乳仙方</h4>
<p>蔥一大把。搗成餅一指濃。攤乳上。用灰火一罐覆蔥。須臾汗出。腫痛立消。</p>
<h4>結乳方</h4>
<p>蚯蚓糞以陳醋調塗患處。即愈。</p>
<h3>小兒門</h3>
<h4>治初生小兒無皮但赤色紅筋乃母氣不充實受胎未足也</h4>
<p>早稻米粉撲之。肌膚自生。神效。</p>
<h4>治小兒初生大小便不通</h4>
<p>急令婦人以熱水漱口。吸小兒前後心。及臍下數次即通。</p>
<h4>小兒不尿</h4>
<p>胎熱也。大蔥白一莖。切四片。乳汁煎。頃刻作四服。</p>
<h4>小兒大小便血</h4>
<p>乃熱傳心肺。不宜涼藥。以生地黃汁五七匙。酒半匙。蜜半匙。和服。</p>
<h4>小兒目閉</h4>
<p>或出血。或腫澀。此慢肝風也。以豬膽汁塗甘草炙之。研末乳服。</p>
<h4>小兒龜胸龜背</h4>
<p>取龜尿摩其胸背。久久即瘥。</p>
<p>法取龜置瓦盆中。以鏡照之。即失尿。急以物收之。或以豬鬃刺其鼻即尿。</p>
<h4>小兒臍瘡</h4>
<p>馬齒莧燒研敷之。</p>
<h4>小兒臍風鎖口</h4>
<p>烏梅煎湯灌之。即愈。</p>
<h4>治初生小兒月內臍風神驗方</h4>
<p>如發臍風。看小兒臍上定起有青筋一條。自臍而上指心口。若此筋已至心口。十難救一二矣。看此筋未至心口時。用艾莊在此青筋頭上灸之。此筋即時縮下寸許。再從縮下筋頭上灸之。此筋即消。病愈。屢試屢驗。</p>
<h4>蓐瘡</h4>
<p>凡小兒百日內生瘡名蓐瘡。由胎毒所致。又名毒瘡。從身漸延至頭齊眉癩遍。則愈。若從頭漸至腹者。難治。內服犀角丸。</p>
<p>牛黃　犀角　羚羊角　全蠍（酒洗）　僵蠶（炒）　防風　羌活　天麻　黃麻　膽星　天竺黃　黃連　京墨（　微煙為度）</p>
<p>以上各三錢。為細末。蒸餅打糊為丸。芡實大。朱砂金箔為衣。每服一丸。薄荷湯下。</p>
<p>如外敷藥。恐毒入內。反生他疾。宜用藥煮布衫穿之。以青布做小衣二件。同藥煮。陰乾。</p>
<p>早晚換服。再煮以愈為度。煮衣之藥。四味。大黃八兩。甘草四兩。當歸二兩。朴硝二兩。</p>
<p>乳母宜服煎藥十劑。</p>
<p>苦參（二錢）　羌活（八分）　甘草（四分）　連翹　防風　荊芥　牛蒡子（研）　金銀花（各一錢）</p>
<p>水煎服。忌食雞鵝羊魚韭蔥蒜等。酒宜少吃。</p>
<h4>小兒喘</h4>
<p>活鯽魚七個以兒自尿養器中。待紅煨熟食。</p>
<h4>走馬牙疳</h4>
<p>言患迅速不可遲延故也。多屬痘疹余毒所中。又有雜病熱甚而成者。其患牙齦腫爛。隨便黑腐作臭。有五種不治。口臭延穢不治。黑腐不脫不治。牙落無血不治。穿腮破唇不治。</p>
<p>用藥不效不治。初起。</p>
<p>人中白（溺壺者佳，　紅二兩）　兒茶（一兩）　黃柏　薄荷　青黛（各末六錢）　冰片（五分）研極細。先用溫湯漱淨。吹藥疳上。日用六七次。吹藥後。涎從外流為吉。涎毒內收為凶。內服　蘆薈　銀柴胡　胡黃連　川黃連　牛蒡子　元參　桔梗　山梔　石膏　薄荷羚羊角（各五分）　甘草　升麻（各三分）　水二鐘。淡竹葉十片。煎六分。食後服此方。雖穿腮破唇。並宜服之。</p>
<h4>小兒口疳</h4>
<p>人中白　。黃柏蜜炙焦。為末等分。入冰片少許。青布拭淨摻之。</p>
<h4>疳症仙方（治一切肚黃瘦腹痛蟲積神效）</h4>
<p>雄黃（三錢）　麝香（五分）　膽星（二錢）　全蠍（大炒去足）　僵蠶（各一錢炒）　巴豆（五分，紙打去油）</p>
<p>共秤淨末。神麯糊丸。如菜子大。朱砂（飛二錢為衣）每服一錢。白湯下。（杭州智榮和尚得此方濟人千萬矣）</p>
<h4>小兒口瘡</h4>
<p>不能吮乳。密陀僧末。醋調塗足心。愈即洗去。</p>
<h4>小兒胎剝</h4>
<p>兩大腿近小腹處生瘡。皮脫開漸延小腹。則不救。此名胎剝。用豬膽抹黃柏。炙研塗之。</p>
<p>或加伏龍肝末等分。唾濕患處摻之。</p>
<h4>嬰兒胎瘡</h4>
<p>滿頭者。用水邊烏　樹根。晒研入雄黃末少許。生油調搽。</p>
<h4>小兒赤游風方</h4>
<p>丹行於上下至心即死。白菜搗敷即止。</p>
<h4>小兒浮腫</h4>
<p>絲瓜、燈草、蔥白、等分。煎汁浴之。並少飲。</p>
<h4>小兒咳嗽</h4>
<p>咳嘔不已。麻黃、防風、荊芥、各三錢為末。綠豆面五錢研勻。杏仁三錢煎湯。調前藥每服一錢上下。量兒大小服。</p>
<h4>小兒泄利</h4>
<p>血痢。馬齒莧搗汁一合。蜜二匙。空心煎服。</p>
<h4>小兒痢疾</h4>
<p>雞子一個。煮二三沸。取起。去白用黃。研碎。以生薑汁半小鐘。和勻與小兒服之。不宜吃茶。其效如神。</p>
<h4>小兒疳痢</h4>
<p>疳痢垂死。新羊屎一升。水一升。浸一夜。次早絞汁。頓服。日午乃食。極重者三服愈。</p>
<h4>小兒冷疳腹大吐食面黃腿縮</h4>
<p>母丁香七枚。為末。乳汁和蒸三次。薑湯服。</p>
<h4>針砂丸（治小兒面黃腹大積聚不消不思飲食）</h4>
<p>針砂（四兩，醋　七次）　皂礬（四兩，火　）　厚朴（一兩，薑汁炒）　青皮（一兩）</p>
<p>三棱（一兩）　陳皮（一兩）　草烏（一兩）　南木香（一兩）　雄黃（一兩）　檳榔（一兩）　使君子（一兩）　鱉魚腳（八只，醋浸焙乾）</p>
<p>上醋為丸。如粟米大。空心調服。（小兒一歲三分）</p>
<h4>治急驚神方</h4>
<p>用燈心二十根。長五六寸。蟬蛻七個。去頭足翅。蓋只用肚皮明殼。上好辰砂三錢。以新白砂扎緊。用線系物墜於砂罐兩邊懸空。放水中。量小兒大小。或用水鐘半。煎一鐘。或用水一鐘。煎七分。服下即愈。</p>
<p>小兒驚癇腹滿。大便青白。柏子仁末。溫酒調服一錢。</p>
<h4>小兒驚風方</h4>
<p>麝香（半分）　朱砂（二分）　烏梅（一個去核）</p>
<p>共研碎。用親人血。即人乳數點。再用鉤藤煎湯。與小兒食之。驚風立愈。</p>
<h4>小兒寒熱驚癇</h4>
<p>驚榴發熱。用荊芥柴燒瀝一鐘。入薑汁二匙。消痰如神。</p>
<p>驚癇嚼舌。迷昏仰目。牛黃一豆許。研和蜜水灌之。</p>
<h4>小兒痰熱方</h4>
<p>亂髮同雞子黃。熬良久出油。與兒服之。</p>
<h4>治小兒不出痘秘方</h4>
<p>羌活　防風　升麻　麻黃　生地　黃柏（各五分）　歸身　黃連　甘草（各三分）　柴胡干葛　本　川芎　黃芩（酒炒）　蒼朮（各二分）　細辛　白朮　陳皮　蘇木　紅花（各一分）　連以上藥。合為一劑。每逢立春立夏立秋立冬之前一日晚。用水二鐘。煎八分。露一夜。</p>
<p>如遇下雨。露在檐下。次早溫服。於一年之內。只服四劑。永不出痘。即服一二劑。出痘一少。服過四劑。再不必服。但小兒服藥若瀉。乃胎毒去也。逢第二次服。則不瀉矣。亦有初次不瀉者。是胎毒輕也。同志者。若刊刻廣傳甚妙。</p>
<h4>稀痘神方</h4>
<p>孕婦懷孕時。用生白芝麻五升。或一二升。置於常出入處。孕婦隨便食。十個月生後。</p>
<p>小兒不受胎毒。無痘可出。即出亦稀而無害。此江南薛浩然屢驗之方。</p>
<h4>豆丹</h4>
<p>赤豆、黑豆、綠豆（各一撮）甘草節（五分）不時煎服屢驗。如鄉鄰有痘疹流行。預與兒食。可免不出。即出亦輕。</p>
<h4>治痘癢搔破</h4>
<p>用蓋屋爛草二三年者。晒極干。研篩極細末。摻於患處。如遍身損濕不堪坐臥者。可用二三升攤於席上。令兒坐臥。效應如神。</p>
<h4>解痘毒方</h4>
<p>生螃蟹　飛羅面搗膏貼患處立愈。</p>
<h4>小兒痘花倒陷</h4>
<p>痘花倒陷毒遏。便血昏睡。諸惡症。用抱出雞子殼去膜。新瓦焙研。每熱湯調服半錢。</p>
<p>嬰兒以酒調抹唇上。並塗胸背及風池穴。更效。</p>
<h4>小兒痘極多不能灌漿丹方</h4>
<p>用白水牛身上虱二三錢。新瓦焙乾。龍眼湯送下。此方妙不可言。服後亦不灌漿。只起黑衣而愈。其虱在牛耳中取之。</p>
<h4>治痘疹黑陷不起</h4>
<p>用狗蠅七個。擂碎和好酒釀調服。即愈。</p>
<h4>小兒痘後癰毒</h4>
<p>赤小豆末。雞子清調塗。</p>
<h4>治痘風眼效方（吳江啟孫吳先生傳）</h4>
<p>荊芥穗　蒼耳子　遼細辛　薄荷葉（炒去刺淨）　防風煎好傾入小瓷瓶內。對眼先熏。</p>
<p>再傾出洗之。洗後用神佛前燈架上滴下　油燭淚。搽之效。</p>
<h4>小兒溏泄</h4>
<p>柿餅燒熱食之即止。</p>
<h4>小兒頭上肥瘡方</h4>
<p>編筐灰之葛條　灰。燈窩油調塗之。</p>
<h4>治腹內蟲疼方</h4>
<p>烏梅（一個）　老薑（三片）　榧子（十個）　花椒（十四粒）</p>
<p>黑糖少許煎服。蟲盡出矣。</p>
<p>鸞批竟加十倍。照方為末。用糖拌每晨用二錢。兒大至三五錢。蓋煎劑其功太緩。</p>
<h4>小兒誤將竹木刺入眼內</h4>
<p>白頭頸蚯蚓。掐斷滴血入眼。刺即出。</p>
<h4>新增回生集續補經驗良方</h4>
<p>用皮硝（五錢）清水一碗半。煎七分。每月一日三洗。辰時向東方。午時向南方。戌時向西方。用黑綢頻洗。此日必須潔淨持齊。不可亂洗。即有效驗。日期開後。閏月照前。</p>
<p>正月初三　二月初四　三月初三　四月初五五月初五　六月初四　七月初二　八月初九九月初十　十月初三　十一月初四　十二月初四</p>
<p>當歸　熟地（各二錢）　白芍（一錢）　川芎（一錢五分）</p>
<p>上水煎服。</p>
<p>凡妊娠八個月後。預服一劑。臨盆服一二劑。能免一切難產。又一切胎動能安。其分兩俱屬神授。不可以意加減。</p>
<p>當歸身（酒洗）　川芎（各一錢五分）　菟絲子（一錢五分）　白芍（酒炒，冬月一錢，余月一錢二分）　川貝母（一錢，浙貝不可用）　荊芥穗（炒）　黃　（蜜炒各八分）　厚朴（薑炒）　蘄艾葉（各空心服。</p>
<p>北　（錢半酒炒，氣虛者用二錢）　川貝母（另研沖服）　酒芍（一錢）　當歸（二錢）</p>
<p>川芎（錢半）　菟絲子（錢半）　川厚朴（薑汁炒）　荊芥　艾茸　羌活（各八分）　枳殼（六分）　甘草（五分）　生薑引此方得自醫學心悟。屢試屢驗。隨手見功。凡難產者服之。立產。不當產者服之即安。</p>
<p>洵救急之良方。濟生之寶筏焉。但勿任意增減為囑。</p>
<p>楂肉（炒黑三分）</p>
<p>煎水紅糖兌服。</p>
<p>又方元胡索（六錢，酒炒）　丹參（三錢）　枳殼（一錢）</p>
<p>煎服。</p>
<p>川楝（十粒，用巴豆七粒同煮，去巴豆瓦上焙枯成炭）　荔枝核（十粒，打碎鹽水炒枯）</p>
<p>吳萸（二錢）　小茴（三錢）　官桂（三錢，均用鹽水炒）</p>
<p>同前藥研末。白滾水沖服。</p>
<p>青黛（一兩）千年矮連根一握。將千年矮煎濃汁沖兌青黛一大碗。服不過二三劑全愈。</p>
<p>並不禁忌。此方系薑若鵬祖傳。屢試屢驗。　按千年矮一名路邊精。五六七月開小白花。其根入火爐中燒之。作貓屎臭者。是故俗名貓屎它。</p>
<p>用紫竹根入鐵鎖一把同煎。牛馬灌。犬羊拌食及草服之愈。</p>
<p>雞毛水服之愈。隨食其雞肉妙。</p>
<p>此藥性味平和。而功用甚大。統治一切天行四時瘟疫。彼此傳染。憎寒壯熱。精神昏迷。</p>
<p>身體倦怠。骨節疼痛。飲食不進。胸腹臌脹。炎天受暑。痧症霍亂吐瀉。春瘟夏瘧秋痢。感冒風寒。山嵐瘴氣。諸病每用二丸。開水化服。重者四五丸。無不應效。如噤口痢疾。飲水入口即吐者。用一丸噙化。徐徐咽下。開通胃氣。即能飲食。虔治與人。應手取效。茲將藥方開後。惟愿仁人君子。好善樂施。配合廣濟。俾窮檐KT　屋。無力延醫者。感得賴以治療篤疾。</p>
<p>檳榔（一斤）　川厚朴（薑汁炒）　廣皮（各十二兩）　藿香（六兩）　製香附（半斤）</p>
<p>炒枳實（半斤）　酒白芍（半斤）　半夏曲（十二兩）　紫蘇（六兩）　草果仁（半斤）　製蒼朮（十二兩）　青皮（半斤）　柴胡（半斤）　炒黃芩（半斤）　萊菔子（四兩炒）　煨干葛（六兩）　山楂肉（半斤）</p>
<p>外加陳神麯三斤。武彝茶四兩。共研細末。用生薑十斤。搗取自然汁。將紅棗打泥泡濃汁。拌水泛為丸。每丸重一錢五分。晒乾透用大瓶盛貯。勿泄氣。小兒減半。孕婦忌服。</p>
<p>用生梅子一升。蜒蛔蟲不拘多少。（此蟲俗名滑泥涎其蟲涎滑滿身）同裝入壇內。日久蟲化成水。梅子自干。收貯。如遇此症。用梅子一枚噙之即愈。</p>
<p>用青果核不拘多少。燒灰存性。每錢加上冰片五厘。研極細末吹之。亦效。並兼治爛腳不收口者。</p>
<p>用生貫眾十斤。以大為妙。切碎炒燥研細末。篩過。再以童便浸透。晒乾再浸再晒。如此三五次。晒乾收貯。用時將生桐油調敷。如此起泡出水即干。KT　之即愈。此藥須在伏天制好。</p>
<p>全當歸　菟絲子（酒泡晒淨）　真川芎（各一錢半）　川羌活　細甘草（各五分）　厚朴（薑汁炒）　蘄艾（醋炒各七分）　生黃　芥穗（各八分）　枳殼（六分，去瓤麩炒）　白芍（酒炒，一錢上味加生薑三片。空心服。未產者能安。臨產者隨時服。或傷胎氣。腰痛腹痛。血下勢欲小產危急。一服即愈。再服全安。或正產交骨不開。橫生。逆下。或六七日不產。或死於腹中。此藥立刻即下。保全母命。</p>
<p>熟地（四錢）　麥冬（去心微炒）　白朮（土炒黃）　杜仲（薑炒）　牛膝（各二錢）　茯苓續斷　白芍（酒炒，各一錢五分）　益母草（八分）　薑炭（六分，存性）　建蓮子（十粒去心）　燈草（上味食前溫服。產後一月之內。不拘寒熱血瘀。頭眩腹痛。昏憒不語。咳嗽氣喘。吐瀉痢疾風惡等症。服之立效。　以上二方。皆系異人所授。傳治多人。勿妄加減。誤人身命。</p>
<p>用蔥一大把。刀截去兩頭。置肚臍上。再用錫提壺盛開水。蕩蔥上數次。暖氣達肚內即愈。</p>
<p>活雄鯽魚（一尾，約四五兩重）　白砒（六錢）</p>
<p>將砒末入魚腹中。待其肉爛去。砒不用。只用淨魚骨晒乾為細末。每用如米大。少許放焦牙根上自落。</p>
<p>手足間有黃泡。即起紅絲一條。走入心腹。令人悶亂。不救。皆因大喜大怒氣血逆行所致。急用針於紅絲所到之處。刺之。擠出惡血。再細嚼浮萍草根敷之。即愈。</p>
<p>生粉甘草（二兩）　綠豆（一升）</p>
<p>水煎服立效。</p>
<p>凡覺腹中不快。即以生黃豆試之。入口不聞腥氣。此真中毒也。急以升麻煎汁。連連飲之將手探吐自愈。或嚼生礬一塊。覺甜而不澀者是毒。否則非也。</p>
<p>用透活磁石生研。將黃蠟和捻如針。涼水送下。磁石裹針。從大便出。</p>
<p>胡桃肉（四兩）　荸薺（一斤）</p>
<p>共搗汁和酒服。其錢即從大便中出。</p>
<p>鮮黃皮鵝掌。陰乾燒灰存性。為末摻之即愈。</p>
<p>用上好黃丹一味。摻二三次即愈。</p>
<p>用陳松蘿茶末。摻之愈。</p>
<p>生狗頭骨（將肉刮盡露一天火　存性為末）　人指甲灰　血余灰（各二錢）　陳松香（五錢）</p>
<p>共研極細末。摻傷患處。骨斷即續。刀傷即愈。</p>
<p>以上四味等分。將酒兌服亦可。</p>
<p>北防風　荊芥共煎湯。宜避風處洗。</p>
<p>將糞窖內多年瓦片洗淨。醋　九次研末。每兩加五加皮、男子發灰、各五錢。好醋調敷。</p>
<p>每次一分。酒送下。再用竹片將竹青向內撥定焦處。勿動。若破皮者。勿用摻藥。</p>
<p>年久風化鍛石（十升炒至桃花色存性）、　錦紋大黃一兩。焙脆研末。將真麻油調敷。</p>
<p>當日敷更妙。</p>
<p>灶心土三升。砂鍋內炒熱。加川椒、小茴末、各一兩。拌勻將陰囊坐在上面。冷則再換。</p>
<p>如此三次即愈。</p>
<p>頂大荔枝核十二三個。　灰存性。以火酒調如糊。吃下即消。重者再服。</p>
<p>良薑　厚朴（薑汁炒）　靈脂各等分為末。每服一錢。醋湯下即止。</p>
<p>丹砂（一兩）　檀香（一錢）　砂仁（一錢）</p>
<p>共煎八分。服之即愈。</p>
<p>香附（一兩，醋炒）　良薑（五錢，酒炒）</p>
<p>共為細末。滾水沖服。</p>
<p>雲苓　淮藥（炒）　芡實　蓮肉（去心各四兩）　糯米（炒）　黃米（炒各半升）　白糖先將藥米粉蒸熟。再入白糖。印成餅子晒乾。每日空心服。</p>
<p>威靈仙（二兩）　上厥粉（八兩）</p>
<p>先將粉炒糊後。入靈仙和炒至黑色。用陳醋調敷。</p>
<p>蔻仁　三奈（炕干不可炒）　小茴　神麯各依等分。共為細末。每服一錢。燒酒送下。</p>
<p>用韭菜地內紅蚯蚓。隔水煮三炷香收湯服。即進飲食。</p>
<p>白芷（一錢）　赤芍（一錢）　五倍子（一大個挖一孔將食鹽灌滿倍子用紙包數層透濕火過為末合藥隨用）</p>
<p>用柿葉燒灰存性。再用川椒為末。搽患處神效。</p>
<p>用家園菊取汁一碗。服下即愈。如無花時。取根苗亦可。</p>
<p>用番木鱉。磨水滴入耳內。即愈。</p>
<p>用羊皮剝下。羊毛不用。拔去毛。燒灰搽上即愈。</p>
<p>當歸　蒲公英　管仲　天葵　乳沒　絲瓜穰　風凰衣　甘草上味等分。水　酒兌內吹。加臭椿皮黃豆外。吹去椿皮。加野葡萄根。</p>
<p>蓮蓬殼（燒灰存性）　制甘石　上冰片　黃丹　角霜共為細末。麻油調搽。</p>
<p>銅綠（一兩）　食鹽（三錢）</p>
<p>用雞蛋油調搽。</p>
