<header><h1>醫驗隨筆</h1></header>
<dl class="元資料" data-type="book">
<div><dt>更新</dt><dd>2010年2月15日</dd></div>
</dl>
<h2>《醫驗隨筆》提要</h2>
<p>方書所載之因症脈治有定，而臨床診治則變幻無定。是故醫生於精研方書之外，尤當熟玩醫案，庶幾神明變化，活法在人，不為疾病所困矣。本書系無錫中醫友誼會理事沈奉江先生口述，門人周逢儒君筆記。案雖不多，而診斷之精確，用藥之工穩，直可上追古人，下啟來學。蓋沈君為孟河馬培之徵君高足，學有根柢，識超儕輩，曾著《全球醫通》一書，日久遺失，知者惜之。</p>
<h2>《醫驗隨筆》序</h2>
<p>自古奉功偉節，奇才異能，非托之文字則閱世不足以傳。漢司馬遷修史，凡屬藝文不論钜細，一字不肯割愛，千有餘歲，吾人猶得取而讀之者亦云幸矣。英儒密納約翰向稱為辯雄泰斗，著作等身，嘗謂智者干慮必有尋失，愚者千慮必有一得，合者和之，否者正之，有寸長則不宜抹煞，閉塞民智，阻天下之言論自由，信斯言也。其巍然有濟世之功者，宜何如寶重乎？余輯《無錫醫學書目考》，深歎其有目無書，比校刊王旭高退思集類方歌注，益歎文獻之易湮。訪諸名醫後裔，或以無暇著述，僅存方薄，或則秘為手澤，無意付刊，久而佚散。是以書目所有，百僅一二可見傳佈流通，吾儕之責。梁溪沈奉江先生，文學世家，賦性穎悟，伉爽不群，超逸如神仙中人。醫學師事馬徵君培之，生平治驗，名公钜室，鹹相信服。而先生飄然物外，如幽蘭自芳，不以自炫，其心志之所存者大，形跡之所寄者小，而矯矯固足以名世也，先生醫學湛深，嘗慕遜清徐大椿，泰西裴乃德龍蒲束之為人，現為吾邑中醫友誼會理事。向所著《全球醫通》藏稿未刊，日久屢索不得，此則不即付諸手民之弊，殊為可惜。小兒逢儒讀岐黃書，從先生游而詔醫驗甚夥，欽遲無己，屬操筆劄，隨聞記錄，積久成冊，惟年湮歲遠者，四診或有闕略，錄寄《三三醫書》刊入專著，庶啟悟學者之性靈，裨益醫林，實非淺鮮也。因識其緣起如此。</p>
<p>　　民國第一甲子夏月無錫周小農別署伯華謹序</p>
<h2>《醫驗隨筆》序</h2>
<p>昔韓昌黎見北平馬公歎曰：猶高山深林，钜穀龍虎，變化不測，傑魁人也，自余始識。</p>
<p>沈丈奉江先生，瞻其岸然道貌，竊有味乎韓子之言。繼又得見先生介弟葆三先生，葆三先生以名孝廉覃精內典，廣長說法，得未曾有。因得讀《棣萼集》，先生昆季唱和之作也，謝家嗣響，心儀者久之。先生師盂河馬徵君，深入堂奧，而穎悟博洽復絕恒蹊，性疏曠寓居中隱院，一室圖書，左右多蓄古金石。余每造謁，見病者踵趾相接，先生一一洞其癥結而活之。診余編摩，殆不去手。或縱譚古今，上下旁及，世事議論，風發泉湧，不可方物，喜獎借人，有一長輒津津樂道不倦。與同志組織中醫友誼會及《醫刊》，主持壇坫，翕然悅服無間言，而先生歐如也。然後知先生果非常人也。甲子秋周君逢儒手錄先生治驗一冊，示余囑序。余讀之狂喜曰：韓子之所謂龍虎變化不測者，此殆鱗爪矣乎！雖然余之服膺先生既如上述，又安敢曉舌哉！周君固請，重以先生之命，不獲已，乃道其所得於先生者。而又幸夫周君好學之勤與先生之才之識，得此以廣其傳，世必有被其澤者，非細事也。</p>
<p>　　世晚張樹銘伯倚謹序梁溪沈君事述</p>
<p>沈君祖復，字禮庵，號奉江，別署鮐翁。先世居浙江湖州，宋淳熙進士有開，官太常博士，立朝抗節著直聲，為君遷錫始祖。累代高隱不仕，祖文炳通申韓家言，書工鐘王法。父堯甲混跡商界素精計學，君生時父年四十，有弟二，兆英早卒，祖約登丁酉科賢書。君幼穎悟，讀書史過目輒成誦，貌魁梧有獨立，性伉爽不阿。年十三歲執筆論古人，不屑拾人牙慧。應郡縣試輒冠其曹。郡尊長白桐公澤邑候浙江吳公觀樂賞其文，錄為門下士（校卷秀水沈大史衛，常熟龐主政宗瑚，南元陸公正福）。有風度端凝，芳蘭竟體之譽。君為文詞藻富麗，才氣磅礴灝瀚，惟於風簷寸晷不暇推敲，以故屢摘屢躓。遂援例納粟為國子生，赴鄉闈鬱不得志。因遨遊古越，流覽西子湖名勝，謁岳王墓，憩冷泉亭，倏然有瀟灑出塵風致。既權寓浙，課顧氏子祖瑛昆仲，讀閱一載，以父衰病旋裏。應城西高司馬承祖、淩明經學頒聘，督課兩家弟子，凡六七年。內顧家計，外任學貲力培植成名。說者咸謂君孝友出於天性云。歲甲午前出使英法義比大臣薜星使福成任滿歸國，猶子聽聰彝明府，與君交莫逆，延校《天蓋樓文集》者累月。適中日失和，君傷懷時事，淡於進取，平昔攻健全學，嘗慨慕歐西裴乃德龍蒲束及國朝徐大椿為人，至是喟然曰：大丈夫不為良相，定為良醫。遂執贄孟河馬徵君文植門下。徵君者曾應詔入都，為今上慈禧皇太後請脈，恩賞疊稠，聲譽滿天下者也。君奉以為師，問難質疑，洞見癥結，所學日益粹。更隨侍徵君，視盛宮保、俞軍門、聶中丞、龍侍郎、吳廉訪諸钜公疾，尤內翰先甲稔君醫理堪深，特延聘為蘇垣醫局員，因事不果往。丁酉歲杪君為弟部署計偕北上，遂僑居崇安寺中隱院，其地即秋岩上人退隱處也。禪房清曠，花木扶疏，君小住三椽，清雅絕俗，居則一僮一劍自隨，出則利濟為懷，活人無算，遐邇傳其名。邑宰泗州楊公士晟及守戎皖南汪公福林均心欽之，制額以贈。君年四十後，孑身寂處，不問家庭瑣屑及田園生計事，惟渴愛才。凡邑中留學泰東西各國志士，類與研究新學，痛論時局，雖居恒絕志進取，而愛國憂世之心未嘗一日忘。比年體羸多病，壬寅四月陡染虎列拉疾劇甚，某夜氣垂絕，魂游深山石室間，四圍峭壁千尋，上漏光一線，君箕踞兀坐，凝氣練神，突來一異僧，狀貌古朴，舉腕破壁，攜小裹囊負之出，頓蘇。向母索蔗漿，豪飲數十杯，病若失。因更號曰「蔗生」，留紀念慶更生也。丙午夏又腹疾大作，屢瀕於危，君弟與諸友惶急甚，君曰：甘蔗曾生我，以啖我可化險為夷。試之信然。君精氣神由此益耗，筋痹舉發，脊樑傴僂，自謂風前燭影，殆將以醫士終其身矣。所著《醫通》一卷，《鋤經堂文稿》一卷，《棣華集》一卷，已刻入家乘。某與君弱冠訂交，重以年誼，於君學行知之有素，輒忘其不文，略述梗概，以告當世之知言者。</p>
<p>　　光緒戊申年秋月同裏年愚弟張文藻撰醫驗隨筆</p>
<span class="校"><h2>正文</h2></span>
<p>唐蔚芝先生之太翁若欽老先生年七十餘，足上數發酒濕，忽而飲食少進，請城南某君診視，用消運之品屢服如故。先生診之曰：此高年氣虛，無力運化，非用參朮不可。若以消導，是更傷其中氣矣。用補中益氣湯加減，一服而胃醒，連服數劑，而飲食如常。蔚芝先生贈聯云；少年學文，中年學道，不為良相，即為良醫。</p>
<p>楊楚孫之夫人久病寒熱不愈，甚至昏厥，不省人事，延王醫診治不效。轉薦先生，即以王醫之肩輿邀診，入門見紙轎草履齊備，診其脈沉伏，牙關緊閉，氣不接續，按腹板硬。曰：此實證也，非攻下不可。但藥已難進，恐夜半生變不測。如藥能服下，或可挽回。用大黃、枳實、玉樞丹等，撬牙灌之。初不受，至天明喉中汨汨有聲下降，神情轉清，連去診視，攻下之劑八九服，下結糞不少。楚孫曰：久不飲食，似不可再用攻下。先生曰：無妨也，有病則病當之。再下一二日，用扶正之品調治而愈。楚孫制聯云：受藥我知羊叔子，論功人比賈長沙。</p>
<p>淩敬叔一病半年，請先生診視，脈弦大，苔黃膩，兩目失神多眵，徹夜不寐，飲食不進者久矣。語無倫次，親友疑有癲病也。先生曰：此痰火擾亂神明，且積滯未清，非用大黃、元明粉不可。家人畏不敢進，以久病恐虛脫。先生堅持此議，囑服之，一劑下結糞。言稍有序，明日再將原方加減。又下燥糞，略兼溏薄，惟舌苔干黃厚措，擬芳香化濁不應。先生曰：此氣陰虛而不能化也。用人參須、西洋參、羚羊角、珠粉等，數劑後舌苔漸化，再服數劑而苔化盡，得進飲食，病大轉機。適其愛妾病亡，先生代為耽憂，恐此病再生波折。用種種勸解，始得病無變遷，常服益氣養營之方，調理而愈。</p>
<p>惜穀局王曉峰先生年六十餘矣，自少茹素，葷味未嘗下箸，時時頭痛不止，服桑葉、鉤藤等藥無效。先生曰：此因不茹葷而五臟滋液枯槁，肝腎之陰不足，非用阿膠、龜膠等血肉有情之品不可。王君曰：茹素已六十年餘，不願以葷味汙我腹內清淨之腑也。嗣後頭痛愈甚，先生勸之曰：入藥不為葷，何迂執乃爾。後仍照前方服之，數日而痛止。 </p>
<p>醫生張亮生先生之譜弟也，曾病伏暑，寒熱交作一月有餘，形瘦骨立，神情疲倦，兩目失神，飲食不進，脈細無神，舌上已起白腐，時住岳家養屙其岳母見其病勢垂危，欲送之返家。先生止之曰：不可，恐中途有變。議遂輟，因偕嚴康甫同診，用柴白煎一劑熱退，再服熱清，續用扶正養陰之品而愈。至今精神且遠勝於前焉。</p>
<p>鄒律師之子病氣逆，痰鳴喘急，不能平臥。先生診視曰：此喉風也。用猴棗一分，同貝母、制膽星研末調服，服後喘熱大定，得以安睡，呼之不應。家人以為昏迷也，孰知竟愈矣。又縣下塘某婦病亦與此症相同，服藥後亦昏睡如醉臥，當時稍覺驚駭，病亦由此而愈。考猴棗古書所無，馬培之徵君首用此藥，先生承師法繼用之有效。今則人人皆知用此物矣。然惟風痰熱痰可用，若寒痰濕痰用之，無怪淩永言君訾議之也。吾以為非藥之咎，是醫之不良於用藥之過也。</p>
<p>打鐵橋下鄭元利洋貨店錫君之妻病癲，終日喋喋自言語，命立則立，坐則終日呆坐，與食則食，不與亦不索，如是者年餘矣，中西醫均不效。一日先生遇鄭君於新市橋，詳述病狀，邀至中隱診所，為立一方，用羚羊角五分、貝母三錢、珠粉五分，並贈與馬寶五分，研和，分三次服，稍愈，再合前方服，未過半病已爽然若失。逾月遂有娠，生一子，舉家欣喜過望。因制銀盾鐫「飲上池水」四字以贈云。又高車渡農家子病痛風，每發四肢陡然抽搐，不省人事，四處就治，多年不效。一日來診，先生亦用前法與服馬寶等，後雖復發，不過兩手蠢動耳。又服前方加熊膽一分同研。後問堵其人，云已久不發矣。按；時珍《綱目》馬腎條下云：馬有墨在腎，與牛黃、狗寶相類，而未詳其功用。諒即馬寶也。今先生尚藏四兩許，色灰白，有寶光紋理，層層包裹，與牛黃、狗寶同。其大小無定，大者如瓜，小者如拳，先生云；馬為火畜，其性必燥，病之有痰者宜之。又閱《醫學問答初集》俞君鑒泉答裘君云：夫癡狂為神經病，心屬神屬火，馬為火畜，行速不寐，能識途，確具神足心專之能力，以動物之體生此靜物，故有安神定心之功歟。</p>
<p>陳贊廷室人患三陰大瘧三年有餘，諸藥無效。延先生診治，起伏時兩目深紅，脈弦舌絳。先生曰：此非寒也。瘧久則肝陰傷而化火，溫藥萬不可用。用羚羊角一錢、石決明等，一藥而愈。</p>
<p>店橋頭某婦從上海歸，患三陰大瘧已曆四年，屢服各種截瘧藥及金雞納丸，而間二日寒熱如故。先生用《醫話》夜光丸，意加減鱉甲、夜明砂、花檳醋製、常山，半夏、草果等，再用雄精二分、辰砂二分，研末，服一劑而愈。又先生見許榮庭之子亦病三瘧，有人傳單方，以三十文至藥肆購雄黃，店夥誤聞為硫黃也，竟以硫黃付之，服後三瘧竟愈，而頭面周身黧黑，毫毛皆焦，無異黑種，終身如是。邑人見之皆絕倒。</p>
<p>洛社張巷張金鈞培室人，經事前後無序，白帶頻下，飲食無味，陰戶墜下一塊宛如紫茄，咳則下，臥則縮，服藥年餘不效。先生診之，閱前方皆云膀胱下墜，乃細詢其形色何若，病者曰：其色紫黯，觸之微痛。先生曰：此非膀胱也。夫膀胱之色白，小溲不能通利。此乃氣虛不固，子宮下墜也，恐難一時見效。用黃耆、升麻、白朮、人參須、葛根、芡實、牡蠣、陳皮、甜杏仁、白芍、神麯，服三劑而縮上矣。</p>
<p>大市橋王姓童子洗熱浴後，赤足遇寒，回家半日覺牙齦腫脹腐碎，右足脛青紫異常，惡寒身熱。先生診曰：此青腿牙疳也，上病必治其下。用銀針刺其足脛紫處，出惡血，內服活血去瘀，牙疳遂愈。</p>
<p>西門橋下溫姓，壯熱面油，脈洪舌絳，右臂紅腫作痛。外科章某曰：此流注也。用溫藥桂枝、當歸等。道生堂高君介紹先生診視，已有一醫用藤黃塗之。先生曰：此系熱毒，名曰火炎疽，用解毒劑。是時神識尚清，既而胸前又多一紅腫處。復延章醫，仍謂流注。先生以為不然。決其熱毒內走，勢必毒陷神昏而死。至下午果暴殂。</p>
<p>惠山趙某之妻，氣體豐腴，每日嘔吐百餘次，飲食難進，諸藥罔效。先生用秋石五分泡湯，每日服二次，三日愈。此胃火上逆，秋石味鹹，取鹹能下降之意。西門謝繼昌婦結縭未滿一年，病伏邪淹纏半載，遍請各地名醫，時輕時重，危在旦夕。病骨支離，忽而遍體浮腫，氣逆喘急，神情模糊，風動痙厥，口噴血沫，兩手脈伏，目不能視。先生用潛陽扶土法，一劑而神識清，浮腫退。復診兩目仍不見物，先生曰：經云氣脫者目不明，又曰目得血而能視，此氣陰並虧之故也。小溲現雖通利，然水不涵木，肝陽妄動，火極則風生，風陽飛舞，痰涎血沫隨喘而起，若秋金之氣下降，可以制震東之木，而三焦決瀆之水皆歸州都化溺而出。但病久大虛，還防虛脫，再擬益氣養陰和中潛陽之法。方用人參須一錢、白芍三錢、廣鬱金二錢、淮小麥三錢、煆石決明一兩、炒秫米三錢、土炒於朮二錢、辰茯神四錢、炒西洋參錢半、珍珠母一兩，另上濂珠三分、玳瑁三分，研末調下，病勢頓輕。後生骨槽風，兩足痿躄，先生按症調理，數月而愈，</p>
<p>先生病霍亂，飲蔗汁而痊。曾載入《醫鐘》第四期，謹錄其原文於左。</p>
<p>僕於光緒壬寅正月病春溫，綿延三月，始進糜粥。至四月間吾錫時疫盛行，沿門合境，死亡者踵相接，僕亦傳染疫症，吐瀉暴作，指螺皆癟，目眶黑陷，聲嘶呃逆，煩躁筋轉，險象疊生。群醫束手，危在俄頃，衣衾棺木齊備，咸謂生機絕望矣。當一息奄奄時，向家慈索飲甘蔗汁少許，服後心煩撩亂稍定，吐瀉呃逆肢冷如故，一晝夜再連飲數十碗，嘔任其嘔，服還自服，而呃逆吐瀉心煩撩亂頓止，病勢爽然若失。僕嗣後追思療病之由，從陽明溫病後，胃液煎涸，重犯吐瀉，胃之津液能有幾何？《本草》載甘蔗甘寒，助胃除熱，潤燥止渴，並治噦惡。大凡霍亂症屬熱者，一經吐瀉，胃液不存，肝木風翔則激浪上湧，所以嘔吐不止，抽筋不休。而蔗汁既能清熱潤燥，味甘更可安胃，並能緩肝，而是病之得愈者，其理在是矣。若患濕霍亂症，中焦痞滿者，飲之反致不可救。附志於此，以資同人研究。先生花甲後，患少腹終日飽脹，不可忍耐，溲痛不爽，當時以為腎氣不足，肝木失疏。一日忽溲血鮮紫，不一日夜數便壺，一月已來不止，甚至有血塊溺出，砰然有聲，大如銀元而腹脹漸消，飲食倍增。先生悟為氣虛濕火久蘊使然，非真溺血也。不然溺血如此之多，元神必困疲矣，何以康健如恒？自製六味地黃丸，加人參、牛膝、黃柏，服之而愈。</p>
<p>駁岸上某姓女患霍亂，吐瀉無度，脈沉苔膩，遍體如冰，氣息奄奄。其母最信女巫，巫云用向東楊柳枝煎湯薰洗，因用沸湯遍體揩洗。終日不休。湯熱揩者，手皮破爛，而病人不覺其熱。先生用半硫丸及附、桂、乾薑大熱之藥，三劑汗出而愈。</p>
<p>陳季度年甫弱冠在學校，暑假回裏，忽下頦動搖不止。適先生診楊氏子，因邀診曰：此陽明經之風火使然。用石膏、知母、僵蠶、鉤鉤、菊花、絲瓜絡等清胃之品，外用烏梅擦牙，兩日而愈。</p>
<p>楊君之義子三歲，寄育於外，因病來城，寓崔官牌下程姓家。請先生診視，壯熱不揚，面色青滯，涕淚俱無，此系暑熱內伏，多飲乳汁，蒸變為痰，痰阻清竅，肺氣不宣。用杏仁、大貝、桔梗、膽星、月石、炒麥芽等，一劑面色青滯退，兩劑哭而有淚，轉為間瘧，汗出而愈。</p>
<p>北門外陳合茂行主年五十餘，有煙霞癖，素有痰喘之證，忽起寒熱不揚，不進飲食者累月，咳嗽痰多，形神消瘦，脈沉細，苔濁膩。龔醫用達邪化濕之品，不效反至汗出如雨，呃逆不止，神迷譫語。先生以為氣陰皆傷，中陽不足。同張君硯芬，用老山人參一錢、生薑一錢、西洋參、天生朮、牡蠣、五味子，半夏、茯苓、伽楠香、再生稻葉等，一劑汗止，再劑苔化能食。煮爛焦鍋巴，調理旬日而愈。又羊毛行陳某亦有煙癖，神情迷糊，譫語氣逆喘急，循衣摸床。先生診其脈沉細，舌苔濁膩，用人參、附子、乾薑、半夏溫補之法。適王醫至，見方用人參，揚言不可服，診脈後在樓下相遇，不置可否而去。病家信，服一劑而神情清爽，諸象均退。</p>
<p>西門淩君企周有煙癖，四旬未便，而飲食如故。彼自服燕醫生瀉丸，始三粒繼服六粒，後一日服至二十丸，竟不得便。延先生診視曰：此腸胃干枯燥結極矣。用五仁湯，大黃六七錢、元明粉二錢，仍不效。再用瀉葉三錢煎湯，以磨生大黃錢半，一日服三次，服後腹中攻撐，先下燥栗糞，又下干結硬糞無數。先生曰：此非一日所能盡也，須三五日方能下清。前方加減，連服三日，約有桶許，然後用參朮等調治，其便如常。</p>
<p>師母張夫人素來陰虛，每交冬令，喜用腳爐，春時易生溫病，一日遍體奇癢，漸發無數之塊，大者如盤，小者如碗不等，腫而微紅，攻於頭面則目紅，攻於胸肺則氣逆神糊，搔癢不止，幾欲挖去其肉，日夜不寐，呼號三日，困苦莫可言狀。他醫驚而卻走，先生以為非風疹，乃疙瘩瘟也。熱毒蘊於營分，外發肌膚，防其毒陷心包則大險。重用犀角、鮮大青、鮮生地、銀花、連翹、黑山梔、丹皮、牛蒡子、人中黃、綠豆、茅根等，服三四劑而塊漸小漸減，癢亦漸止，調理六七劑而愈。東大街某君年十八歲，其母寡孀，只此一子，病暑邪寒熱起伏，已曆三候，而熱仍不解，骨瘦支離。延先生診視，脈細數，苔薄膩，曰：此邪濕未清也。用薄荷、牛蒡、佩蘭、鬱金、藿梗、滑石、豬苓、佛手、荷葉等，至二十七日始透白瘠，細粒密佈，色如枯骨。古人謂氣液已竭，先生以為久病初透而未足也。再宗前法，加茅根、蘆根、蟬衣服之，遍體透足，粒粒晶珠，熱勢漸退，二三日而能食稀粥矣。</p>
<p>壽州孫夫人年近六十，忽身熱胸悶不暢，延先生診視，用辛涼泄肺之藥。翌日胸前發出紅點而圓，先生以為營分之熱，溫毒發痘也。用生地、紫草茸、連翹、黑梔、丹皮、茅根，胸背前後又透約有數百粒，漸起漿汁。仍用犀角、人中黃、銀花、丹皮一派清營之品，收漿結疤而熟勢退，再服解毒數劑而愈。據云此痘安徽時有之。寺後門大頭金官之子咳嗽壯熱，胸悶煩躁，三日後頭面及體遍發痧點，內含稀漿。先生曰：此溫熱挾濕，故含水氣也，並非水痘。重用辛涼透泄，繼用解毒之藥而愈。</p>
<p>劉姓子年十餘歲，伏邪秋發，寒熱起伏，始一二日汗多，以後肌膚乾枯不潤，形神瘦弱，至第八日，延先生診之，舌薄苔白，脈象細數。曰：此童本元不足且不見汗，第九日必透白痦，即透亦遲，非二三日不能透足。用薄荷、牛蒡、連翹、黑梔、豆豉、杏仁、豬苓、澤瀉、茅根、枇杷葉、竹茹、佛手、荷葉，輕清宣洩之法，服後胸前稀透白痦，再加蟬衣、桔梗、鬱金等，背足亦透，三日而伏熱退矣。</p>
<p>琴雪軒某牙科之女，病頓咳已四月，不咳則已，咳則百餘聲不止，氣不接續，骨瘦如柴。先生用麻杏石甘湯兩劑而愈。年餘又病寒熱咳嗽，痧點隱約不透。先生偕門人丁士鏞同去診視，脈象悶鬱，舌苔光紅，壯熱口糜，神情模糊。曰：此邪熱熾盛，故痧點不能透達也。時醫僅知透發，但余須用犀角、紫草清涼一派，此藥非君家不開，防時醫之訾議也。其家信服之，大便得解，痧點外達。再劑點齊，三服而愈。觀此則吾邑過玉書所著治痧書專用溫透者，未可一概論也。</p>
<p>迎迓亭某茶肆主蘇人也，其妻懷妊八月患伏邪，煩躁不安，神情倦怠，面色青晦，兩脈沉伏，舌苔焦黑，腹中不動者半月矣。無力延醫，先生診之曰：此邪熱內燔，胎元恐已不保。若顧其胎，命在旦夕。用寒涼香開之劑，服之胎下，已半體潰爛。後用去瘀等劑，化險為夷。</p>
<p>先生鄰家女僕阿梅，手腕作痛，不能舉'物，先生細視其腕，見脈門有紅絲一條長二三寸，蜿蜒遊行半臂，此紅絲疔也。若過肩胛不可治矣。用舊頭繩系止，以銀針刺紅絲兩端，擠出紫血。內服黃連解毒湯而愈。又一婦生手指疔，曾聞業師馬徵君云：疔初起背上有紅點，如蟻螫狀，其數均奇，非五即七，須銀針刺破挑斷其中之絲，則疔可以不成。若過三五日，其毒走散，紅點隱去，疔必成矣。余依法尋得，刺之果未成。周源按：此法已刊入《周氏集驗方》中甚詳。</p>
<p>西門外棉花巷雷靜安，右牙齦上發一粒子，不紅而腫，牙關稍覺不利。諸醫皆謂牙癰也。溫君明遠囑偕至業師馬培之徵君處視之，業師曰：前醫皆不識此證耳。此名牙岩，藥不可為矣。兩月後牙關緊閉，不能飲食，必致餓斃。後果然。馬徵君孫女患氣喉頭項腫大，徵君命用日者彈敝舊弦一條，長如頸項大小。使異姓六人綰六結，連本人一結，名七姓弦，套入頸中，時時移之上下，若氣喉稍小，其結亦逐漸收小，一年而而愈，奇方也。其理殊難索解。又方，用錢錢草煎服亦效。</p>
<p>馬徵君為沈子達診治，年四十餘納妾少艾，患痿症，服藥外，令以桑葉去葉背筋絡，濃煎，時時服之，半載而愈。</p>
<p>先生門人丁士鏞之戚，病口歪偏右，就診先生之師馬徵君，用蓖麻子四十九粒，麝香三分，共搗成餅，夏布包好，放入左手掌心，以好酒一杯燉熱，將杯底罩於藥上，令手伸直，不一時即口歪牽正，欣喜而歸。</p>
<p>大市橋林姓有煙霞癖，先寒熱，繼則腹痛，下痢紅白，晝夜百餘次，飲食不能下嚥，氣息奄奄。當時醫士有汪党之稱，茶集於崇安寺，議論此證，或主香連丸，或欲用駐車丸，或四磨飲。先生聞之，竊笑其誤。明日來請診視，脈細舌乾黃，曰，此久痢氣陰兩傷，時時登圊而無便者，此虛坐努責，非益氣養陰不可。用人參、白芍、丹皮、細生地等味服之，病大轉機，前方擴充，數劑而愈。</p>
<p>木邑王燕庭醫士之母，年已古稀外，一日腹痛下痢無度，神情倦怠，其孫文夔延先生診視，脈細數，舌苔根濁而掯，先生曰：此痢不可與尋常症同治，大年正元早虧，食物不消，兼有積滯，用人參須、枳實殼、花檳、神麯等，先生曰：此方非在尊府不開，痢疾忌補，補而且攻，未免招物議。詎服後大便通利，腹痛亦止。竟兩劑而愈。</p>
<p>毛梓橋下鄒姓婦，懷妊六月，七月中旬腹痛，下紅兩次極多。延陳君診治不效。先生診其脈並不離經，舌苔白膩，用人參、白朮、荷葉、蒂桑、寄生、白芍、蘇梗、陳皮、砂仁、黃耆等安胎之品，血止而腰酸氣滯，大便下血塊，日二三次，紅紫不一。先生曰：此腸胃有濕熱也，雖與胎漏有別，於懷妊屬不宜。用槐花炭、川連、黃柏、子芩、木香、蘇梗分化濕熱調氣之晶，便紅減而未止，再用槐花炭、地榆炭、子芩、野苦根、鮮藕節、荷蒂、蘇梗、砂仁、陳皮、桑寄生、佛手等而愈。</p>
<p>東門內表善坊巷殷君一清，蘇州桃塢中學畢業生也。任職上海工部局事，少腹作痛，間及兩脅胸背，得食則嘔，甚至不能直立，臥則氣上衝，痛楚莫可言狀，纏綿半載，形神瘦弱，面色青灰。江陰朱君用疏肝理氣，一派香燥之藥，服三十餘劑毫不見效。又延他醫，以為虛勞損證也，似見小效。一日來就診，脈沉細，舌苔薄白，按腹板硬，已七日不便，得病以來便常艱少。先生曰：元氣雖虛，定有干結燥糞也。非攻下不可，但恐正元不支耳。多服香燥之藥，肝陰受傷，腑實不通，則其氣上泛為逆，故嘔惡。肝主筋，本臟既燥，則血不營筋。擬先通腑，取通則不痛之義。用人參須七分、生大黃三錢、元明粉一錢、枳實二錢、製香附三錢、橘絡二錢、製半夏三錢、川雅連四分，同淡吳萸三分炒、竹茹二錢、佛手二錢，復診大便未解，少腹仍痛，再擬攻下，生大黃三錢、元明粉一錢、元參三錢、帶皮檳三錢、瓜蔞皮三錢、木香七分、秦艽錢半、沉香五分，服後大便下燥結硬糞尺許，堅如鐵，粗如小臂，下時稍覺神疲，腹痛隨止，少腹仍板，時吐酸水，肝胃不和也。再用和胃佐以潤腸，藿香梗三錢、法半夏三錢、淡吳萸四分、黃連二分同炒、枳殼二錢、帶皮檳三錢、省頭草三錢、細青皮二錢、香附二錢、橘白絡各錢半、沉香五分，磨沖，另先服清導丸三粒（系西藥），服後又下燥屎如前，按腹略軟，惟嘔逆，肝氣橫撐經絡，稍有微痛，中脘不運，仿半夏茯苓湯加減，製半夏五錢、茯苓五錢、枳殼二錢、橘絡二錢炒，天生術二錢、沉香屑五分、炒穀芽三錢、左金丸一錢、另醋炒高良薑七分酒炒，製香附錢半，煎服又下燥結與溏潤之糞不知凡計，宿積從此清矣。嘔逆亦止，只以肝木克土，脾胃受傷，當以培土抑木。天生術三錢、山藥三錢、扁豆衣三錢、白芍五錢、萸肉錢半、炙烏梅五分、橘白絡各一錢、製半夏三錢、茯苓四錢、檀香、炒穀芽三錢、白殘花一錢，胃氣大醒，每餐能食碗許，但右脅稍覺微痛耳。再從效法擴充，野於朮三錢、懷山藥三錢、扁豆衣三錢、白芍五錢、橘絡一錢、川斷三錢、鬱金二錢、萸肉錢半、歸身錢半、甜杏仁二錢、甘杞子二錢、生穀芽三錢，飲食加增，惟右脅下稍覺作酸，背旁痛處大如掌，此系有留飲也。當以蠲飲兼調脾胃，茯苓五錢、陳皮一錢、橘絡一錢、遠志二錢、法半夏二錢、扁豆衣三錢、澤瀉三錢、桑枝三錢、神麯三錢、秦艽錢半、炒穀芽三錢、荷葉邊一轉，嗣後諸恙日退，調理而瘳。</p>
<p>西鄉大孫巷孫婦年二十餘，忽身熱四肢作痛，日夜叫號。其叔祖友亮延先生治之，脈數而弦，此痛風也。暴痛屬火，火性急故痛甚也。用鮮生地四兩、與丹皮、絡石藤、秦艽、絲瓜絡等，一服而痛止。</p>
<p>南門外某姓肉店主，病屍厥七日，僵臥於床，口噤目瞪神呆。醫用香開，又服制雄丹不效，均云疾不可為也。陳君子彥私淑先生有年矣，問法於先生，為擬一方，用牛黃、珠粉、牙皂、雄精、菖蒲等品，一劑神清能言，再劑而愈。自是陳君聲譽遍傳南地矣。</p>
<p>張雪梅小孫女，上下牙齦碎爛，此名牙疳，陽明之熱走入牙床之絡，當以大劑治之。磨犀角三分、生石膏一兩五錢、生大黃三錢，丹皮三錢、知母三錢、絲瓜絡三錢、人中黃一錢、鮮竹葉三十斤、蘆根二兩、升麻三分、綠豆三錢、鮮生地一兩、荷葉一角，另贈以赤霜散加冰片、西黃，搽牙，服藥後泄瀉二次，腐肉去已見新肉。仍用清解之法，前方加川連、忍冬藤、黑山梔，去鮮地、升麻、竹葉、生軍易熟軍，外搽緣棗丹加冰片而愈。</p>
<p>乾德里二十號陳姓婦，分娩橫生，小兒不能轉身，穩婆臠割而下，已經二十餘日，忽頭痛如劈，日夜呼號，甚至發痙。先生診之，兩脈弦數，舌苔白膩，胸悶不暢，曰：此去血過多，風火上升，適值盛夏，又感暑熱，恐其痛厥之變。用石決明、白芍、菊花、鉤鉤、藿梗、佩蘭、蔻仁、佛手、荷葉、菖蒲諸味，一劑而痛大定，惟少有胸悶，再用芳香宣氣化濕而愈。</p>
<p>西門外倉浜夏姓婦，久患目疾，黑珠潰爛，不能視物，將有傷明之勢。先生開服羚羊、犀角、濂珠、元參、川連、鮮生地、穀精草等，外用真熊膽三分，清水化烊點眼，旬日而愈。</p>
<p>伍麟趾婦，產後病咳嗽，身軟無力，醫用肅肺去瘀等藥，月餘不效。先生診之，脈細苔濁，按少腹膨脹而急。曰：此濕熱成臌。用疏通分化之法，略見小效。仍覺腹痛，再用黑醜、沉香、木香、櫞香皮、烏藥、蔻仁等，四劑腹軟而不得便，又用川朴、大黃暢下燥糞，少腹大軟。逾數日因暑熱內蘊，變為紅痢。仍用大黃、黃芩、炙五穀蟲、木香、銀花炭等，兩劑而痢止矣。此病變幻莫測，若專憑脈象，恐不足恃也。惟中書館筆店楊某之母年八十，氣血已虧，神倦目閉，脈數有力，舌質薄白，自覺心臟罅裂，氣機下陷而不上升，大便不解，下唇起一小泡，手背作脹，服冰瓜而渴不解。先生曰：此心經有火，腸胃有實熱也。用川連五分、生石膏七錢、連翹四錢、生山梔三錢、淡芩錢半、鹽半夏二錢、辰滑石五錢、鮮荷葉一角、金銀花露二兩、鮮佛手錢半、全瓜蔞四錨、光杏仁二錢，此證先生與源同往，見其外狀並無熱象，亦不煩躁，惟下屑起泡，渴喜飲冷，故毅然而處此方，一劑竟霍然。</p>
<p>盛巷某在上海汽車行為夥，六月初忽起寒熱，兩日熱退，頓時足軟不能開步，足肚不紅而脹，手指麻木不能直伸，回錫調治。先生用分利濕熱之藥略效，繼用雞鳴散加減，足肚作脹已減，自能行走，惟少力耳。又來診治，舌紅轉為白膩，用溫經通絡之法，如桂枝、厚朴、桑枝、川斷、金毛狗、脊木瓜、薏仁、松節、牛膝等，服後苔化，手指能伸，而大拇指仍然不用。先生曰：此陽明有熱也。去桂、朴，加石膏，數劑後大指伸足力充，觀此以見先生用藥之活潑。</p>
<p>西村裏談正生出外小溺，返家驟然跌僕，兩目斜視，神識不清，左手足不能行動，遺溺頭痛，面油舌短，脈伏苔膩。先生診之曰：此類中而兼伏熱也。用至寶丹一粒，以竹瀝六兩調服，至天明神識較清，再用平肝熄風化痰，兩目已不斜視，神情更覺清楚，脈有起色，舌苔灰黑而潤，惟舌縮如故，再以芳香化濕消痰之劑，大轉機，能食稀粥，惟左手足一時不能自如耳。</p>
<p>金小云校書素有煙癖，忽胸悶難過，面如油潤，且兼青灰色，兩足趾痛極，呼號，胸膺、亦然。先生曰：此濕遏伏熱，下走經絡也。用宣洩肺氣，芳香化濕，兩劑而油減，痛漸定，胸悶如故。用玉樞丹、石菖蒲研末服，佐以芳香等藥，舌苔大化而轉紅色。先生曰：此濕化透熱於外也。再用清泄之法而愈。</p>
<p>西鄉某姓病濕溫，神情迷糊，舌苔黴黑，脈伏，面色青滯，先生診之，知為痰濁遏伏熱邪。處方中有肥皂子三錢，值藥肄無此物，與以牙皂，搗碎煎服，服後涕淚淋漓而神識遂清，舌苔亦化，病尋愈。此因誤而得效，亦云巧矣。</p>
<p>老寶華照相店張竹君勞力之後，有人攝影，正在佈置，自覺氣機不舒，陡起呃逆，日夜連聲不止已數日矣。身體疲軟，來乞診，先生曰：此痰熱阻滯，氣機不宣。為制刀豆、柿蒂等古法，隨取白痧散與嗅，取嚏數十聲，藥方書畢而呃止矣。</p>
<p>市公所孫君，久與先生相知，盛暑過先生寓所，先生謂曰；曷不備白痧散兩瓶以防不測，不獨取嚏，且能化痰。旬日後，孫君夫人疾，勢極垂危，不省人事，牙關緊閉氣息奄奄，已為料理後事。忽憶及先生言，試取白痧散一瓶，撬齒灌之，頓吐痰數碗，稍覺蘇省。廷先生診治，半月吐頑痰無數，調治而愈。</p>
<p>先生之媳錢世嫂懷妊五月，病暑邪，壯熱煩躁，揚手擲足，神識昏糊，目定直視，熱時身如炭炙，赤身臥地者累日。不熱則身冷如冰，面色青灰，人中掀起，舌苔黃掯而膩，腹中作痛，號呼不已。請諸道長診視，均不敢立方。先生囑極熱時用井底泥貼其胸腹，泥為熱沸，先服西瓜與薄荷絞汁數碗，繼服川連、佩蘭葉、黑山梔、連翹、子芩、鬱金、菖蒲、鮮荷葉蒂、薄荷及牛黃清心丸，前後共透紅白痦九次，枯皮滿榻，西瓜汁共服二十餘個，熱勢稍衰，尚難把握。先生子亦蘇世兄私與服枳實檳榔丸三錢，恐病不起，而胎在腹中也。從此妊未足七月而呱呱墮地，產後又變為五色痢，日夜無度，七日不減。先生以為生機絕望矣。與服桃仁承氣略見小效，並以鴉片灰泡湯服之，而痢漸稀，調理月餘始安。先生之孫因母病在腹不長，十指剛及分科，藐小殊甚，以棉繭紙搓軟代溺布，每日按鐘點用小竹管吸乳汁滴口中，一月後稍能吮乳，但兩目不開，至明年元旦張視，目光奕奕有神，數年中張師母培養周至，故身體頗為茁壯，穎悟過人，三歲能背誦明陽繼盛先賢「男兒欲上淩煙閣，第一功名不愛錢」之句。</p>
<p>西鄉丁巷丁婦，早年孀居，膝下乏嗣，年近不惑，遍體發熱，雖嚴寒之時，袒裼裸裎，喜貼冷處，他醫投清涼藥不效，已數年矣。先生以為心肝之鬱火，方用羚羊角、珠粉研末，及元參、合歡皮、鹽水炒遠志、鬱金等解鬱之品，約服二十餘劑，而完全不發熱矣。</p>
<p>南門許海秋之媳從臍上至心下起一梗，粗如拇指，時時作痛。來診適值酷暑，先生用附、桂、吳萸、乾薑等味，不數劑而梗消。此系寒濁凝結所致，與古書所謂伏梁，寒熱微有差別也。</p>
<p>老縣前某婦，產前子癇，發痙欲死，兩目直視，雙手亂舞，舌出二寸，胎下不覺，勢甚危殆。先生用童便一味，服三日而定，調理乃痊。</p>
<p>恒善堂祝某之室，畏多男，用藥料墮胎，產後大寒戰慄，臥床振動，難過異常，寒後發厥，汗出如雨，脈伏日定，危在頃刻。請先生診治，謂曰：此氣血交亂，陰陽錯雜，寒之不可，溫之不能，用藥棘手。擬重用交加散加味，一劑而愈。</p>
<p>先生前在三裏橋施診局，來一江陰人，手提光粉一袋，時時取食，云不食則不安。諸醫滿座均莫識其證，先生曰：此蟲證也，名曰石蛔，非使君等所能殺之。用雄精等而愈。</p>
<p>錢子才之女午十七歲，身軀矮小，一日嘔出赤蟲（蟲類九種之一），儼如精肉，長半寸許，其形如蟬，有目色黑，跳躍桌上。先生曰：此蟲生於脾胃之間，由中脘氣虛，飲食失宜濕熱所生。丹溪有半月向上下之論，古法不外甘以誘之，苦以伏之，酸以軟之，攻以逐之。就脈而論，細弱，便溏苔黃，過熱非宜，姑標本同治。川連、吳萸、烏梅、川黃柏、白朮、黃耆、甘草、蕪荑、榧子、生礬、安胃丸，後再健脾胃兼殺蟲之藥而安。</p>
<p>東河頭巷許奇孫之弟，年幼時患腹痛，面色萎黃，後患時瘧，按之腹硬。先生初以為有積滯也，用枳實、檳榔、生大黃等，服後便下一物，狀似小燕窩，螺紋盤旋，蟲藏其中，大者長一二寸，小者寸許，約有數百條，從此痛止。始知是蛔結痛也。再用雷丸、蕪荑、雄精、黃連、黃柏等藥，數劑而愈。</p>
<p>陳婦寄居寺後門王姓宅後，年六十餘，遍體肌肉生虱，不覺痛癢，每日席上不知凡計。先生診之曰：此系濕熱釀成，又年高氣弱，正氣不能化濕，濕蘊生虱。況脈細苔膩，非易治也。用人參須、薏仁、百部、雷丸、茅朮等品，外用苦參、百部、黃柏、稀薟濃煎洗浴，其虱乃減。</p>
<p>某姓婦素有外痔，一日病暑熱起伏，先生將伏邪治癒後，而痔發更甚，痛如刀割，臥床不起。視其痔大如茄，色灰黑，勢將翻花，晝夜呼號，其家人欲舁入醫院剖割而不果。先生開黃柏、龍膽草、淡芩、槐花、升麻苦寒之品，服數劑見效。再加制軍、犀角、苦參、火麻仁、郁李仁，又服數劑，外用熊膽、冰片、蚌水、豬膽汁、西黃調敷，腫脹消而痛止。後用補中益氣法，十餘劑而收縮如常矣。至今數年未發，</p>
<p>東河頭巷曹君年已花甲，氣體豐腴，據云小便龜頭翻花，小溲艱難，或云腎岩，或云徽瘡，數年不效。後至醫院將玉莖齊根割去，愈後回家，一二日左腿橫痃大發，蔓延腫脹，且多脂水，腎囊下突生一梗，長約寸許，粗如小指頭尖而微紅。延先生診視，曰：此刀割之後，濕毒未清，攻入海底之上，一時恐難消散。重用黃柏、澤瀉，及赤豬苓、龍膽草、生薏仁、丹皮、淡芩、銀花、甘草等，詎料二三劑後，其梗全消，橫痃亦愈。</p>
<p>西門老縣前謝姓婦年二十餘，生女後久不育，每交媾陰戶流血如注，含羞就診。先生曰：此非氣不固血，系君相之火過動，故肝不藏血也。擬濂珠、黃柏、黃連、白芍、烏梅、玄參、連翹、黑梔等，服之安然無恙。</p>
<p>榮姓婦陰戶奇癢不堪，其夫述此求計於先生。先生用雄精、熊膽、明礬、川連等，研末成條，插入陰戶，不逾時而癢止。此肝經濕熱生蟲，故苦燥殺蟲之品立見奇效。聞先生之師馬徵君亦用此方，已愈多人。</p>
<p>河埒口蔣姓遍發瘡毒，體無完膚形神消瘦。先生偕門人鄒致和同往，致和幼讀醫書，並在他處學習內外科五六年。始入房見其形狀，驚而卻走。先生用枯礬末數兩，麻油調敷遍體，兩星期而愈。繼有黃泥橋薛姓子病遺精，北門王醫用固澀補藥十餘劑，不獨精不能固，遍體腫脹發瘡，濃水淋漓，兩手不能據箸，舌苔光絳。先生曰：此濕火灼陰也。用鮮首烏、黃柏、黃連、黃芩、丹皮等，外治同前法，濃瘡即愈，遺精亦止。後見其人氣體甚豐腴也。</p>
<p>光緒庚子秋，先生與淩君伯升明經赴滬，寓大東輸船局，一日晚鮑君朗州以包車迎先生至棋盤街妓療診病，有妓頭痛如劈，頃刻無停，呼號萬狀，甚至暈眩傾僕，諸醫用平肝熄風不效。先生診其脈洪舌絳，曰：此非肝陽，是毒火上炎也。下部陰處必碎爛無疑。始則隱諱，繼以實情相告。因囑其女傭以骨簪卷棉花拭去其腐，用西黃、熊膽、珠粉、豬膽汁調糊，少加冰片，灌入眼方，用犀角、鮮生地、銀花、龍膽草、黃柏、生粉草、仙遺糧大劑，一帖而頭眩止，再帖而頭痛若失矣。又有一妓云肛門作痛，自覺發碎。診之見肛門兩邊白腐如大拇指。先生曰：此瀉毒未盡，留毒於肛旁，是名蝴蝶梅也。用大黃、犀角、川黃連、黃柏等服之，外糝銀青散，數日而愈。</p>
<p>北柵口許某之孫年十四，面色黃瘦，小溲時帶白膩，時常鼻塞似傷風狀。他醫診之，服發散藥。先生細審其鼻孔內，左有息肉甚大，右孔較小。先生曰：此見正元素虧，氣虛濕熱下注，是為膏淋。況風熱上蒸於肺，鼻為肺竅，故息肉生焉。但息肉本可用冰螄散點之，因許君子已早亡，只此一孫，未便用猛烈品，以老式冰片一味，研末點之，方用辛夷、白朮、川萆薢、海金沙、黃柏、澤瀉、桑白皮、黑山梔、桔梗等，逾數日又來診視，左鼻息肉已縮小，呼吸順利矣。錄此後，先生諭源曰：臨證宜細心詳察，不可草率從事。此病本非奇異，惜皆未得要領，慎之。</p>
<p>水警廳第一隊長合肥劉姓媳年十七歲，容貌雅秀，軀干不長，自結縭後，日漸瘦削，寒熱咳嗽，飲食稀少，言語音低，經事不利，已五月矣。他醫用肅肺之藥不效。先生以為破瓜太早，有傷正元，此虛咳也。用黃耆、黨參、歸身、首烏、桂枝、白芍、雞血藤、續斷、甜杏仁，氣血並補等品，出入兩服而寒熱退，咳嗽減，形容亦轉豐腴。覆方加細生地、丹參、藏紅花、月季花、阿膠、蜜炙馬兜鈴等，以通其月事。</p>
<p>西門張巷張仲若長媳懷妊六月，夏日多啖西瓜，至九月重九前寒熱交作，未得暢汗，濕遏熱鬱，已服開泄芳香表散等劑並不見退，反譫語風動，痙厥胸悶，循衣摸床。兩旬後延先生診治，脈左弦數右尺不應，舌苔掯黑潤，面帶青灰語蹇而不能抵齒，神情時迷，呼之目微張，頃又似睡，面色胱白淡黃稍有齒垢，先生曰：此邪熱遏伏，痰濁蒙閉，內陷之象也。幸脈不沉細，有娠用藥，殊形棘手，若因礙胎而不用，恐難保其生命。方用皂莢子，制膽星、省頭草、竹黃、川貝母、煆石決明、鉤鉤、鬱金、藿梗、蘇梗、荷蒂，另制膽星、石菖蒲、礞石、伽楠香，研末，服後下轉矢氣，胸膈頓寬，神情清楚，不似前日之似睡。苔亦稍化，略能分矚家務。明日加茅朮、川朴、生熟薏米、鮮佩蘭，而舌苔更化，惟仍潮而浮黑，更覺蔓延。先生以為濕松熱欲外達，仍為濕遏之象也。再加重制茅朮，佐以芳香泄化滲濕等品，渠翁亦知醫，調理而愈。</p>
<p>西門申新紗廠工人婦，素有肝氣，煩躁嘔惡，南門王君以為氣膈症，延先生診之，先生曰：此非膈症，是伏邪晚發，胃火沖逆而上。用薑炒川連及豆卷、藿梗、黑山梔、連翹、枳實、竹茹、蘆根，嘔逆減而寒熱起伏煩躁，脈象細鬱，脘腹板硬。先生以為積阻氣滯，用生大黃、元明粉、花檳等，便黑色宿糞，嘔止熱輕。略用達邪，得微汗而退。</p>
<p>江陰巷陶氏婦病濕溫，始延龔醫，用茅朮、川朴燥藥』艮二十四劑不效，神情委頓，氣息奄奄。先生診之，舌苔厚白而干，曰：此胃陰傷也，陰傷則苔無以化。方中用鮮石斛一兩，大養其陰，苔頓化，病轉機能，食稀粥，調理而愈。</p>
<p>米業某有嗜好，病暑濕。龔醫診之，屢燥無效，乃延先生診，見其形瘦骨立，面色毗白無華，此系中陽已衰，故舌苔濁膩不化也。用乾薑等溫劑，舌苔漸化，效驗神速。</p>
<p>周師季梅長孫病後狂食，神色自若。某醫謂是佳兆，與食可也。西醫亦云無妨。先生診其脈沉細欲絕，謂為除中，決其不起。後果然。其母因痛子情切，時時抑鬱，於甲子五月身熱胸悶，兩耳發尖遍體肌膚皆痛，請先生診視，曰：此氣鬱化火生風也，並有伏熱挾濕挾積。用開鬱化濕之品，藿香、佩蘭、枳實、檳榔、玉樞、丹石、菖蒲等，一劑而氣機暢達，二劑熱退積下，再診諸恙均退，而遍體肉（目閏）。先生曰：古書論肉（目閏）血虛者多，此非也，乃氣火流行於肌膚之間耳。仍用解鬱清熱而愈。</p>
<p>太湖濱鄉某年疫癘盛行，請先生診視，家族鄰里以為最危險者，先生藥之立愈。有少年病最輕，群以為無慮者，先生一見即斷不治。蓋見懸曬病者之衣及病人口鼻眼角均有蠅蚋紛集，揮之不去，臟腑先敗之徵兆，藥不可為矣。後果不起。</p>
<p>相國之裔嵇某，蜷臥舌乾唇焦，發熱不語，脈細欲絕，醫用寒涼不應。先生以其躊臥知寒格於外，以附桂等進，至夜半病者暴躁，躍床而起。明晨遂改用白虎湯，病良已後，詢知友人，病者私吸阿芙蓉膏，值癮發，故躊臥云。</p>
<p>書院弄搖車灣童姓婦與夫口角，服火柴頭兩匣，已服西藥嘔吐不效。適其夫至先生家，先生藏有金汁一小瓶，囑其回家灌服，胸中暴躁煩灼頓除，再服綠豆、銀花、犀角解毒之品，應手取效。又有洛社某婦服火柴頭，先生亦用犀角、人中黃、銀花、甘草、綠豆等大劑，肌膚發出紅點累累，前方加大黃、丹皮、大青、川連等而愈。</p>
<p>南門外竇仲卿年三十餘，甲子秋行房，之明日食面一碗，陡然腹痛臍極收引，汗出如雨，誤以為痧也。延針科刺之，屢針無效，三日痛仍如故，汗亦不止。用炒熱麩皮熨之，仍不見松，且便泄如蟹沫，診其脈沉細，舌苔白膩，先生決其為寒也，陽氣不足，中下焦陰寒凝結不散。方用醋炒高良薑、酒炒製香附、制附子、煨木香、神麯、鬱金、吳萸、炒白芍、法半夏、沉香、老桂木，外用白胡椒、肉桂、麝香少許，研末貼臍，囑其勿用鵓鴿傷害生命，一劑已。</p>
<p>西門內太平巷某媼年七十三，每值夜半子時，氣逆喘促，起坐至天明其氣稍平，汗出不止，微咳稍有痰，不得吐。診脈細軟，舌上少苔，其孫問先生曰：此何故耶？曰，子時者陰靜陽動之時，高年陰分已虧，陰不斂陽，故氣促汗出。仿高鼓峰用六味地黃丸一兩五錢，坎氣、青鉛、小麥、白芍、牡蠣等，同煎服數劑而安。</p>
<p>光復門外王文魁年四十餘，面色觥白浮腫，少腹堅硬，氣逆喘急，徹夜不寐，咳嗽痰多，兩脈沉細，舌質淡白。始用旋覆、代赭、坎氣及冬瓜皮、雞金散等，而喘急如故。先生曰：此系腎陽不足，氣不攝納，脾不溫運故也。因用細辛四分、制附子五分、炒棗仁三錢、帶皮苓五錢、炒蘇子二錢、老桂木四分、青鉛一兩、製半夏三錢、甜杏仁連皮三錢、枇杷葉去毛三片、沉香三分，服後氣喘大平，夜得安臥，面腫亦退，舌質轉紅，右脈似覺有力，惟咳嗽未止。前方去棗仁、枇杷葉、沉香，加巴戟肉三錢、薑皮七分、坎氣一條，三劑喘平腫退。</p>
<p>西門外陳打鼓弄口嘉太米行高君，甲子七月吐瀉交作，轉筋不止，名曰霍亂。此系清濁不分，揮霍撩亂也。兩日後吐瀉雖止，不寒獨熱，胸痞煩躁，頻頻噦惡，呃忒音底，陽縮溲少而酸臭，神識時清時迷，脈來至數糊小，舌苔中心干黃，兩邊微潤，四肢厥冷，過節汗出如雨，風動抽搐，清陽之氣窒痹，暑熱濁痰交滯於中，種種疊見，無非險象。茲擬熄風化痰，升清降濁之法，用磨羚羊角五分、石決明二兩、川貝母三錢、晚蠶沙荷葉包五錢、藿梗三錢、宣木瓜七錢、柿蒂七個、刀豆子三錢、鬱金三錢、枇杷葉去毛五斤、另雄精二分、血珀三分、豬牙皂五厘、制膽星三分、石菖蒲三分，研末，用荷花露二兩溫熱調服。再診風定神清，呃止汗減，且能安眠，醒後胸悶煩躁如故，四肢雖屬轉溫，有時發冷，午後稍覺倦迷，所吐稠痰如膿，況易動怒，一怒起呃，四肢稍搐，片時即定，脈象右手弦數，左手覺軟，舌苔糙黃，體雖豐腴，實則外強中虛，濁痰彌漫三焦，清氣不能流利，暑熱引動肝火也。病情尚險，風動神糊猶恐不免。再擬熄風化痰，清泄暑熱，磨羚羊角四分、至寶丹一粒，二味同荷花露先調服。川雅連、吳萸湯炒一錢、川貝母三錢、天竹黃三錢、柿蒂十個、鬱金三錢、竹茹四錢、珍珠母二酣、枳實二錢、海浮石一兩、瓜蔞皮五錢、九節菖蒲七分、枇杷葉去毛五斤、西瓜翠衣一兩，竹瀝二兩沖，另煎羊羚角七分，煎一炷香，頻頻與服。因症急而羚羊角久煎出味，恐不及待，故先服，磨後服煎也。三診病機已轉佳象，脈象大起，舌苔亦化，惟胸脘尚悶，還是痰濁交蒸，清陽之氣失於舒展，肺主一身之氣，可以通調水道，下輸膀胱，肺氣熱鬱，膀胱氣化不宣，小溲故不爽利，時欲起坐，胃不和則臥不安也，飲食宜慎。用黃芩黃連瀉心湯，復以芳香化濁略參熄風法，川連鹽水炒一錢、淡芩二錢、川貝母三錢、石決明二兩、玄精石四錢、鹽半夏二錢、竹茹三錢、辰滑石七錢、赤豬苓各三錢、竹葉卷心三十片、通草二錢、另犀角尖三分、西月石二分、雄精一分半、石菖蒲三分、鬱金三分、血珀三分，研細，用竹瀝一兩、荷花露一兩和勻，溫熱調服。病勢日退，用芳香化濁調理而痊。</p>
<p>徐君漸吉先生侄倩也，甲子中秋後病寒熱，骨節疼痛，頭昏不止，始服疏散之藥，繼則壯熱胸悶，時時太息，熱甚昏糊如醉如癡，終日言語不休。先生曰：此因勞倦乏力，外感邪熱，痰熱擾亂，蒙閉清陽。方用枇杷葉、鬱金、膽星 、枳實、法半夏、海浮石、薄荷、秦艽、竹茹、陳皮、石菖蒲、黑山梔、連翹，另三石丸（即月石、礬石、礞石）一錢。服後至天明神情爽，寒熱皆退，下午恣食雞肉餛飩葷油等物，又見四肢微寒，咳嗽頻吐黃痰，再用清肅肺金，清化痰熱，如神麯、山查以消雞面之積而愈。</p>
<p>先生之孫孕七月即生，生後七日頓時不能飲乳，牙齦腫硬，俗謂生黃。延挑黃者刺之，仍如故。時鄰人趙姓之僕來診病，先生偶告之，僕曰：得毋七星黃乎？近喉上齶必有白點，至七粒者不治。若四五粒猶可救，須用銀針挑破即愈。邀其至家視上齶，果有白點五粒，用銀針刺出惡血，頃刻間照常飲乳矣。世有初生小兒患此者，幸加之意焉。</p>
<p>老棚下茶肆小兒初生十日，兩內股及褶衣縫小便紅腫去皮，日夜啼哭，不能吮乳。先生曰：此胎火也，與徵毒猢猻疳有別。但芽童不禁受此痛楚，殊為可慮。先生用大黃、川連、銀花煎湯與服，另以外科解毒丹加西黃滲之末滿一時，小兒安臥如常，且能吮乳，兩日全愈。因其效速故錄之。</p>
<p>尤童患雞肫疳，膀胱濕熱下注也。滑石、車前子、赤芍、豬苓、廣皮、黃柏、川萆薢。書院弄蔡姓婦，未病之前言語稍覺不倫，繼則寒熱大作，神識昏糊，狂呼有大大蛇來，兩手環轉，日夜不休，有時大呼三老爺具呈伸冤，兩目翳封，甚至裸體奔匿桶中。延醫診之，足加醫頭與牛黃清心丸、至寶丹，口如龍噴，後請鄧君診視，以為痰火擾亂神明，大黃一兩、元明粉五錢，數服無效，險象迭呈。或以為武癡也，不飲不食已五六日矣。其夫惶恐，欲備後事，時先生與蔡姓同居，適家人病，是時在五月，杪市上枇杷已少，先生命購一蔞與食，而分半與蔡姓，蔡婦食之味甘美，屢次索食，其夫又覓得數蔞，日夜與食，病轉機，兩目之翳亦退。諒系肝木太旺，枇杷屬金，能潤心肺，兼平肝木，故見效如是。十年後秋間又診，始病伏邪寒熱交作，舌苔濁膩質絳，有旬日矣。用芳香清暑之品，寒熱減輕，其人飲食不慎，恣食各物，忽轉為癲狂，兩目失神，徹夜不寐，喃喃自言，有時謾駡，赤身裸體，不避親疏。先生診之曰：此痰火擾亂神明，心神不安也。用馬寶一分、濂珠二分、辰砂三分、膽星三分、天竹黃三分、石菖蒲三分，研末，竹瀝二兩徐徐灌服，一劑神清，癲狂遂已。</p>
<p>光復門外某婦患異疾，每夜恍惚似有人與之交，六年有餘矣。四肢乏力，腹中作痛，形神萎悴，據云與夫同寢輒有人擊其夫兩臀，夫寤後隱隱覺痛，現青色倦怠，七日方已。先生診之曰：此陽氣不足，陰邪乘之，當發越陽氣以制陰邪。用當歸二錢、青蒿三錢、雷丸三錢、鬼箭羽三錢、木香七分、香附二錢、石菖蒲五分、防風湯炒黃耆三錢，純陽正氣丸錢半，先服。另朱砂三分、雄精二分，研末調服，外用雄精研末塗陰處，並遍灑床帳，是夜又來，離床尺許不敢近，明日復來診，用扶陽抑陰，遵大易之旨。人參須一錢、辰茯神五錢、青蒿二錢、雷丸三錢、酸棗仁三錢、辰砂拌燈心三尺、鬼箭羽三錢、龍齒四錢、朱砂安神丸三錢、另真獺肝一分、雄精二分、金箔一張，研末服。是夜與一婦人同來，勸解曰：與我銀錠若干，則不來矣。病者見其從窗櫺更換黑衣而去，從此遂絕。今已氣體強壯矣。又鄉間一婦亦患此疾，來時覺枕邊呼呼有聲，且有腥氣，貼身冰冷。此系蛇精為祟，亦用前法而愈。</p>
<p>北鄉四丫濱某姓，駕舟為業，其子八歲，病溫邪咳嗽不揚，神識時糊時清，脈象悶鬱，苔絳，延謝醫診治不效。一日其子忽高聲曰；何不到城去請沈奉江先生，一劑可愈矣。父訝之曰：此先生不知在何處？子答曰：至崇安寺問訊是耳。吾乃西漢王也，爾家事可以歷歷言之。備述家事甚悉，闔家毛髮悚然，來寓請診，且道其所以然。到鄉則龔君錫春先生焉，遂擬辛涼宣洩，兼用至寶丹半粒，果一劑而愈。竊思此童素不相識，而此病未曾診過，何由知先生之名，此理殊難索解。</p>
<p>西門陳午亭側室病，先生診之，脈細而鬱，舌苔薄白，神情清楚，驟云余有淚流至頰，視之無也。忽云額上奇癢，忽云心中難過，頃刻不安。先生曰：此因夫亡憂思鬱結，神志不寧，有鬼憑之也（即莫枚士《研經言》所云鬼魅之屬）。用解鬱鎮心安神之品略效，不旬日聞人云自縊死矣。僅用腰帶系壁間竹上作縊狀，足未離地，帶未束緊，眼不突舌不出，是月鄰居縊死者有五人之多。觀此則鬼神之道，不可不信，亦不可偏信也。</p>
<p>陳婦寄寓迎溪橋下，壬戌冬天初寒，大雪霏霏，簷際冰掛尺許，路少行人，陳婦至河邊濯物，失足跌入河中，數十分鐘載沉載浮，為行人所見，呼眾援出，遍體皆是冰塊，氣息全無。用剪撕去衣服，以腹楞於笆斗底上，稍去積水，其鄰居急來請先生。用乾薑、附子、桂枝、吳萸大熱之劑投之氣，復稍回，明晨又去診視，滿口吐血。先生曰：此非服熱藥之故，系笆斗楞傷所致。仍用大熱藥頻服，稍能米飲，氣機條達，面有色澤矣。旬日後來寓診視，咳嗽氣促，先生曰：此受大寒之後，寒嗽病成矣，治之不易。用麻黃、附子、桂枝、細辛等，兩劑而愈。年余遷居西門外，六月出收會款，黃昏時又至前墮河處溺死。從可知生死有定數，且有定處，非吾人所得知也，</p>
<p>淩學頒之夫人病肝胃氣痛，先生治之而愈。案云：厥陰脈起大敦，絡抵少腹下脘，為肝之部。十月為陽之盡，陰盛陽衰，厥氣橫逆，上侮胃土則嘔惡，不喜飲食，脈象弦細，虛寒無疑，須交一陽來復方能霍然。茲本經旨，肝欲散急食辛以散之，木靜則土亦安。高良薑、製香附、制附子、青皮、陳皮、煨木香、穀芽、白芍、吳萸四分、同炒台烏藥，另蓽茇一分半、寇仁二分、猺桂三分、沉香二分，研末，飯丸。復診：天寒陽伏，陰氣當權，厥陰為陰中之至陰，緣以質本虛寒，遇冷即痛，況脾胃素多痰濁，肝木上侮土也。再用製香附、乾薑、橘絡、細青皮、煨木香、公丁、香砂仁、半夏、烏藥、炒萊菔子、小茴香，另公丁香、沉香、蔻仁、猖桂，研末飯丸。</p>
<p>西水關鴻源之母，舌尖不能轉掉，言語不清，口乾額上火冒，脈息左寸似無，兩尺脈細而數。先生曰；此心氣不足，津液不能上承，陰虛陽升，舌喑症也。用熟地、潼沙苑、益智仁（鹽水炒）、阿膠、丹皮、女貞子、石斛、石菖蒲、柏子仁、蓮心、紅棗。趙某咳血音嘶已久，木擊金傷，肺痿已成，生氣殘矣。方用北沙參、竹茹、毛燕、冬瓜子、丹皮、枇杷葉、知母、杏仁、藕節、白芨。</p>
<p>錢少和世丈，子癰與疝氣有別，實則異名同類。經云男子任脈為病，內結七疝。巢元方立癃㿉之名，㿉，內裹膿血是也；癃者，小溲不通之謂也。左睾丸屬肝，脈象弦急，氣逆口乾，高年恐其痛厥，現在小溲三日不利，腎子脹痛，外皮紅腫，濕熱下注也。姑先通調水道，水道不通，濕熱愈形阻滯矣。赤芍、車前子、滑石、石決明、黃柏、龍膽草、甘草梢、竹茹、川楝、橘核、通草、薏仁、革薜。</p>
<p>蔣，右肺主氣，脾主運，肝主疏泄，客冬感受寒邪，以致咳嗽，今已久嗽傷陰矣，金傷不能制木，兩脅撐痛，疏泄不利則大便艱結，木乘土位則脾陽不振，濕痰所由生也。若用養陰以肅肺，恐礙脾胃，用溫燥以平木又恐劫陰，愚見先行培土生金，金勝則木能制矣。淮山藥、北沙參、當歸身、橘絡、茯苓、光杏仁、神麯、穀芽、白蔻仁、萸肉、香附。</p>
<p>徐右（甲子七月十七日），產後脈絡空虛，血虛木旺，氣火竄入筋絡隧道，痛無定處，兩脅乃肝絡地位，其本位最易先入，至兩足屈伸作響，血不營筋故也。某醫泥於產後宜溫，用桂、木等品，殊不知桂能枯木，產後陰血素虧，肝陽妄動，化火生風，上升則頭眩耳痛，犯胃作惡，入於陽明之絡，則牙齦紅腫，咽喉蒂丁作脹，夜少安臥，無非水不濟火也。茲擬平肝火熄風，熱化痰濁。生石決明二兩（打先煎）、滁甘菊各二錢、法半夏三錢、連翹四錢、丹皮三錢、制僵蠶四錢、蟬衣錢半、辰茯苓五錢、元參三錢、生竹茹三分、辰燈心三尺、橘絡錢半。覆診：昨投平肝熄風，筋絡及牙齦之痛大減，惟仍頭眩。吾以為藥力猶未足也。頭暈者肝陽也，耳痛者風火也，牙齦作痛者胃火也。兩火相並，則風陽更盛。至於兩脅疼痛尚未盡定，產經兩月，脈絡還是空虛，氣火乘隙而入也。若小溲熱赤，略有暑熱耳。珍珠母二兩（打先煎）、滁菊二兩、赤白芍各錢半、黑山梔三錢、辰滑石五錢、白蒺藜三錢、茯苓神各錢半、制僵蠶三錢、丹皮二錢、生竹茹三錢炒、車前子三錢、橘絡一錢、鮮荷葉一張。</p>
<p>真隱道巷姚某年十九歲，在鄉店習業，五月上旬身熱透痧，回家途遇冰雹大風，痧即隱，後又透出，不數日又發紅痧，已四五日矣。而神情微呆，上下牙齦大酸，頃刻難耐，請先生診視。見其遍體一片紅云，身無隙地，據云前延西醫俞姓，謂酸者虛也。先生細視牙齦均有白點，咽喉色紫紅腫，謂之曰：第一次所發者痧也，後發者伏熱也。邪火未清，逼亂神明，勢恐成痧，後牙疳四大忌款之一。用大青解毒之品，犀角、鮮生地、製大黃、丹皮、銀花、黑梔、連翹、蘆根、綠豆等。明日面目遍體驟然發黃，牙疳稍愈，而肺管作痛，兩手之絡現紫褐色。先生曰：此瘀熱發黃，邪毒盡歸於肺，且元氣又虛，勢恐喘急之變。辭以不治，後果不起。</p>
<p>北柵口單某年三十餘，咽喉滿口腐爛，音啞不能言語，他醫以為溫熱也。先生曰：此非溫熱也，是黴毒服輕粉提藥，上攻咽喉所致。詢之果然。方用犀角、大青、銀花、人中黃、黑山梔、連翹、丹皮、仙遺糧、金汁，外以珠黃散吹之，數旬而愈。</p>
<p>北門貝巷陳姓媳年二十餘，懷妊足月，頭面四肢浮腫，兩目陡然失明，繼以痙厥，痰涎上湧，面色青慘唇紫，牙關噤閉，手足鼓動不止，神識昏糊，目珠直視，脈伏身冷。先生以為熱深厥深，邪熱引動肝火，風自火生，恐其胎元不保。用羚羊角五分、竹瀝二兩，隨時研末調服。煎藥用羚羊角四分、珍珠母、石決明各二兩、制膽星七分、滁菊三錢、鉤鉤三錢、川貝母三錢、竹瀝四兩，此午前所服也。晚時再服猴棗一分、月石三分、鬱金三分、羚羊角三分，研末調服。明晨請先生診視，風痙已定，神識時糊時清，牙關時開時閉，腹中大痛。先生恐其即產，而羚羊角涼肝之藥不合。用濂珠三分、川貝母三分、天竹黃三分、制膽星三分、鉤鉤、竹茹泡湯調服。濂珠雖寒，書有下死胎胞衣之說，故可用之。服後神識已清，神倦嗜臥，呼吸有度，兩脈起而不伏，腹痛亦止，惟舌紅唇燥，兩顴轉赤，顯然陽明之熱也。再用川連五分、川貝母三錢、子芩錢半、知母三錢、竹卷心三十斤、連翹三錢、茅蘆根各七錢、鉤鉤三錢、黃楊腦七個，明日腹中又痛，胎兒下墮，已經腐爛，而邪熱未清，瘀不得下。再用丹參二錢、澤蘭二錢、鬱金二錢、茺蔚子三錢、歸尾錢半、桃仁泥二錢炒、川貝一錢、藏紅花五分、西血珀五分，入煎取氣而不取味，加童便一小杯沖服。明日又去診視，瘀行不多，脈右數而左鬱，舌苔深絳，面色仍紅，微熱不揚，咳不暢達，口渴咽乾。用泄肺去瘀法，枇杷葉、大貝母、茺蔚子、丹參、鬱金、桃仁泥、焦山查、炒瓜蔞皮、炒牛蒡子、制僵蠶、光杏仁，服後咳止，瘀血盛下，大便干結，仍用丹參、澤蘭、生山甲、全瓜蔞、火麻仁、鬱金、桃仁泥、橘絡、焦山楂，益母草煎湯代水，諸恙皆平，能飲稀粥，調理數日而愈。</p>
<p>張漢槎便血數年，面色無華，形神憔悴，諸醫用側柏、槐花等不效。乞先生診之，脈細弱無神，先生曰：此血液太虧，氣亦因之而傷，肝脾無統攝之權，目眩心跳，足腫不寐，諸恙蜂起。先擬益氣養血，培土斂肝法。潞黨參、元米炒三錢、白芍七錢、烏梅一錢炒、大生地四錢土炒、白朮二錢炒、刺仁三錢、龍眼肉三個、穭豆衣鹽水炒三錢，醋炒、木香八分、藕節七個、伏龍肝一兩，煎湯代水，十灰丸二錢淡鹽湯下。再診：足跗浮腫已退，便血亦減，邇日脾胃稍鈍，且有濕濁，然不能過於香燥養血，只可稍讓一步，再擬益氣養營，健脾運中法。炒細生地四錢，生於朮二錢醋炒、白芍五錢、旱蓮草三錢、黑山梔三錢，炒、棗仁三錢、五味子四分，醋炒、木香七分、陳皮錢半、黑木耳二錢、苦參子十粒、荷葉一角、歸脾丸二錢。三診：便血已止而大便艱難，腸液枯槁，譬如得水可以行舟，舟無水而不能行也。擬養血潤燥，細生地四錢、木香三分洞炒去之、火麻仁三錢、鮮蓯蓉五錢、白芍五錢、生於朮二錢、淮山藥三錢、柏子仁三錢、元參鹽水炒，二錢，煆磁石五錢炒、秫米三錢，炙、烏梅四分、柿霜五分，數服而愈。八年後因他恙求診，述及前病，方箋完好無損，深感先生治癒之功，故珍藏至今。</p>
<p>南門外鹽場許某，喘逆咳嗽痰多，筋惕肉（目閏），昏昏欲睡，示休自語不休，中脘格拒，飲食少進，已經一載，醫用旋覆代赭及人參半夏茯苓湯，而氣喘更甚，大便不解。診脈虛細，舌苔潮膩，先生以為脾胃之陽不足，腎虛攝納無權。始用黑錫丹及溫中之味，服後二脈有力，痞滿消除，臟氣宣通，大便得解，然氣喘不平。再用北沙參、五味子、蛤蚧、坎氣、巴戟肉、吳萸、白芍、銀杏、紫衣、胡桃等，氣喘遂平，濁痰亦少，能進飲食。先生觀其苔黃而膩，舌質少有裂紋，又以為陰分亦傷，痰乃津液所化，非填下焦陰液不可。用龜板、製首烏、煆牡蠣、白芍、鹽水炒巴戟肉、杞子等，連服數劑，而飲食愈增，惟夜少安臥。原方加柏子仁、煆龍齒、抱木茯神、淮小麥，安眠如常，後服調補氣血之藥而痊。</p>
<p>民國十三年八月，江漸交戰，月餘方止，死亡枕籍，血流成河。先生思患預防，因制此方，名勝軍丸。治兵凶饑饉後，飲水不潔，觸受穢濁，腹痛嘔吐泄瀉，四肢厥冷等症，可以配合施送，造福無量。</p>
<p>川雅連五錢奎砂仁五錢上雄精三錢廣木香五錢廣鬱金五錢生明礬五錢人中黃三錢檀降香各三錢生薑粉三錢真獺肝二錢石菖蒲三錢焦山查四錢公丁香三錢生香附五錢鬼箭羽四錢</p>
<p>以上十六味共研為細末。用銀花二兩、防風七錢、藿梗七錢、淨黃土二兩，四味濃煎汁露清泛丸，朱砂為衣，如桐子大。輕者服錢半，重者三錢，小兒減半，孕婦不忌。</p>
<p>駁岸觀音堂某嫗年九十六，壯熱神糊。延先生診視，脈細弱苔光，先生曰：大年精血枯槁，雖有外感，未便過於疏散，非扶正達邪不可。用人參須一錢、蘇葉、川貝母、菖蒲、鬱金等，一劑而神識清，再劑熱退。</p>
<p>《醫驗隨筆》終</p>
<h2>《醫驗隨筆》跋</h2>
<p>曾南豐稱歐陽公曰：蓄道德，能文章。而歐公之送徐無党文，則以為修於身者未必能施於事，施於事者或不能見於言，三者之不可得而兼，自古已然，蓋若斯之難也。鏞游於夫子之門數年，竊嘗有以觀其微矣。夫子粹於醫，而於學無所不窺，涵泳於道德，發越於文章。行道數十年，所治輒效，縉神耆宿，名公钜卿，折節相推重；即遠近人士，雖未識夫子之面，而咸知夫子之名焉。每一診視，鏞與及門季君鳴九、趙君友漁均相侍側，遇劇症往往口講指畫，詳言其所以然，必明辨再四，至無憾乃已。生平喜著述，久而多散佚，鏞等雖心識之，愧未能一一纂錄也。周君逢儒秉承小農先生家學，而從游於夫子，閱時未久，其手錄治驗已裒然成卷。鏞曰：此固夫子之修於身施耶於事見於言者，將於是乎見矣。周君學好不倦，倘積以歲月，其所造寧止於是耶！庸碌如鏞等能無愧然？夫子曾師事孟河御醫馬培之徵君，世稱為孟河學派云。</p>
<p>　　民國十三年歲在甲子小春月受業丁士鏞謹跋</p>
<h2>《醫驗隨筆》跋</h2>
<p>病情萬變，藥亦萬變。能齊其變，以寄死生之重，決之於俄頃之間，蓋到至難之事也。是故非博學審問，慎思明辨，而又積甚深之經驗，則對此萬變之病與藥，未有不茫然者。民國壬戍秋，吾邑中醫友誼會成，明年刊《醫鐘》，因得受先生親炙，聆其講論極深，研幾窮探幽微，未嘗不心焉識之。先生粹面盎背，盛德靄然，與物無忤，義之所在，排眾難而為之治病，力肩其任，不為外物所撓。源當隨侍診席，每見奇屙大痏，群醫卻走，而先生當機立斷，略無遲疑，莫不應手愈。常諭源曰：讀書貴博觀約取，活潑潑地不沾沾於一家，靜察物理，觀天人相與之際，臨證時目光四矚，面面俱到，庶變幻雖多，而病無遁情矣。先生行道垂載，平生醫驗不可殫述。茲就聞見所及，筆之於書，故不分時代，已為同學四十所記者不錄，其他奇驗而記憶不完者不錄。惟學識譾陋，文字拙劣，不足闡明先生大義於萬一，而先生之經驗閎深，變化不測，無在非學問思辨之功，孟河一脈淵源斯在。敬識之，以告讀是者書。</p>
<p>　　受業周源逢儒謹跋</p>
