<header><h1>十四經發揮</h1></header>
<dl class="元資料" data-type="book">
<div><dt>作者</dt><dd>滑壽</dd></div>
<div><dt>朝代</dt><dd>元</dd></div>
<div><dt>年份</dt><dd><data value="1314">公元1314年</data></dd></div>
</dl>
<h2>序</h2>
<p>觀文於天者，非宿度無以稽七政之行，察理於地者，非經水無以別九圍之域。矧夫人身而不明經脈，又烏知營衛之所統哉。此內經靈樞之所由作也。竊嘗考之，人為天地之心，三材蓋一氣也。經脈十二，以應經水，孫絡三百六十有五，以應周天之度，氣穴稱是，以應周期之日。宜乎營氣之營於人身，晝夜環周，軼天旋之度，四十有九。或謂衛氣不循其經，殆以晝行諸陽，夜行諸陰之異，未始相從，而亦未嘗相離也。夫日星雖殊，所以麗乎天者，皆陽輝之昭著也。河海雖殊，所以行乎地中者，實一水之流衍也。經絡雖交相貫屬，所以周於人身者，一營氣也。噫！七政失度則災眚見焉；經水失道，則洚潦作焉；經脈失常，則所生是動之疾，繇是而成焉。以故用針石者，必明俞穴，審開闔，因以虛實，以補瀉之。此經脈本輸之旨，尤當究心，靈樞世無注本，學人病焉，許昌滑君伯仁甫，嘗「著十四經發揮」，專疏手足三陰三陽及任督也。觀其圖章訓釋，綱舉目張，足以為學人出入向方，實醫門之司南也。即成將鋟梓以傳，征余敘其所作之意，余不敏，輒書三材一氣之說以歸之。若別經絡骨度之屬，則以不暇備論也。</p>
<p><u>至正甲辰中秋日，四明呂復養生主書於票騎山之樵舍。</u></p>
<h2>自序</h2>
<p>人為血氣之屬，飲食起居，節宜微爽，不能無疾。疾之感人，或內或外，或大或小，為是動，為所生病，咸不出五臟六腑，手足陰陽。聖智者興，思有以治之，於是而入者，於是而出之也。上古治病，湯、液、醪、醴為甚少，其有疾，率取夫空穴經隧之所統系。視夫邪之所中，為陰、為陽、而灸刺之，以驅去其所苦。觀</p>
<p>《內經》所載服餌之法才一二，為灸者四三，其他則明針刺，無慮十八九。針之功，其大矣。厥後方藥之說肆行，針道遂寢不講，灸法亦僅而獲存。針道微而經絡為之不明；經絡不明，則不知邪之所在，求法之動中機會，必捷如響，亦難矣。若昔軒轅氏岐伯氏斤斤問答，明經絡之始末，相孔穴之分寸，探幽摘邃，布在方冊，亦欲使天下之為治者。視天下之疾，有以究其七情六淫之所自，及有以察夫某為某經之陷下也，某為某經之虛若實，可補瀉也。某為某經之表裡，可汗可下也。針之，灸之，藥之，餌之，無施不可，俾免夫　（顰）</p>
<p>蹙呻吟，抑以備矣。遠古之書，淵乎深哉。於初學或未易也，乃以《靈樞‧本輸篇》、《素問‧骨空》等論，裒而集之。得經十二，任督脈之行腹背者二，其隧穴之周於身者，六百五十有七，考其陰陽之所以往來，推其骨之所以駐會，圖章訓釋，綴以韻語，厘為三卷，目之曰《十四經發揮》。庶幾乎發前人之萬一，且以示初學人，於是而出入之響方也。嗚呼，考圖以窮其源，因文以求其義，尚不戾前人之心，後之君子，察其勤而正其不逮，是所望也。</p>
<p><u>至正初元閏月六日，許昌滑壽自序。</u></p>
<p>人具九臟之形，而氣血之運，必有以疏載，其流注則曰歷、曰循、曰經、曰至、曰抵，其交會則曰會、曰過、曰行、曰達者，蓋有所謂十二經焉。十二經者，左右手足各備，陰陽者三，陰右而陽左也，陽順布而陰逆施也。以三陽言之，則太陽、少陽、陽明。陽既有太少矣，而又有陽明者何？取兩陽合明之義也，以三陰言之，則太陰、少陰、厥陰。陰既有太少矣，而又有厥陰者何？取兩陰交盡之義也。非徒經之有十二也，而又有所謂孫絡者焉；孫絡之數，三百六十有五，所以附經而行，周流而不息也。至若陰陽維蹺、衝、帶六脈，固皆有所系屬，而唯督、任二經，則包乎腹背而有專穴，諸經滿而溢者，此則受之，切不可謂非常經而忽略焉，法宜與諸經並論，通考其隧穴六百五十有七者，而施治功，則醫之神秘盡矣。蓋古之聖人契乎至靈，洞視無隱，故能審系脈之真，原虛實之變，建名立號，使人識而治之。雖後世屢至抉膜導　，驗幽索隱，卒不能越其范圍，聖功之不再，壹至是乎？由此而觀，學醫道者，不可不明乎經絡，經絡不明，而欲治乎　疾，猶習射而不操弓矢，其不能也決矣。濂之友滑君，深有所見於此，以《內經‧骨空》諸論，及《靈樞‧本輸篇》所述經脈辭旨簡嚴，讀者未易即解，於是訓其字義，釋其名物，疏其本旨，正其句讀，厘為三卷，名曰《十四經發揮》。復慮隧穴之名，難於記憶，聯成韻語，附於各經之後，其有功於斯世也，不亦遠哉！世之著醫書者，日新月盛，非不繁且多也，漢之時，僅七家耳，唐則增為六十四，至宋遂至一百七十有九，其發明方藥，豈無其人？純以</p>
<p>《內經》為本，而弗之雜者，抑何其鮮也！若金之張元素、劉完素、張從政、李杲四家，其立言乘范，殆或庶幾者乎？今吾友滑君起而繼之，凡四家微辭秘旨，靡不貫通，發揮之作，必將與其書並傳無疑也，嗚呼！橐一身之氣機，以補以瀉，以成十全之功者，其唯針砭之法乎。若不明於諸經而誤施之，則不假鋒刃而戕賊人矣。可不懼哉！縱諉曰：九針之法，傳之者蓋鮮，苟以湯液言之，亦必明於何經中邪，然後法何劑而治之，奈何粗工絕弗之講也。滑君此書，豈非醫途之輿梁也歟！濂故特為序之以傳，非深知滑君者，未必不以其言為過情也。滑君名壽，字伯仁，許昌人，自號攖寧生，博通經史諸家，言為文辭，溫雅有法，而尤深於醫。江南諸醫，未能或之先也。所著又有《素問抄》、《難經本義》，行於世。《難經本義》，云林危先生素嘗為之序云。</p>
<p><u>翰林學士亞中大夫識制誥兼修國史金華宋濂謹序。</u></p>
<h2>凡例</h2>
<p>一、十二經所列次第，並以流注之序為之先後，附以任督二奇者，以其有專穴也。總之為十四經云。</p>
<p>一　注者，所以釋經也。其訓釋之義，凡有三焉，訓字一義也，釋身體府臟名物一義也，解經一義也。其載穴法分寸，則圈以別之。</p>
<p>一、各經既於本經詳注處所，其有他經交會處，但云見某經，不必復贅。</p>
<p>一、經脈流注，本經曰歷、曰循、曰至、曰抵；其交會者曰會、曰過、曰行。其或經行之處；既非本穴，又非交會，則不以右例統之。</p>
<p>一、奇經八脈，雖不若十二經之有常道，亦非若諸絡脈之微妙也。任督二脈之直行者，既以列之十四經，其陰陽維蹺、衝、帶六脈，則別具編，（校注：承本作「輯編」，明萬歷刻本、清東溪堂本皆作「編末」，讀</p>
<p>《凡例》「其」下所言維、蹺六脈，確是論於全文之末，因從「編末」為是，）以參考。</p>
<h2>新刊十四經絡發揮序</h2>
<p>十四經發揮者，發揮十四經絡也。經絡在人身，手三陰三陽，足三陰三陽，凡十有二，而云十四者，並任、督二脈言也。任、督二脈何以並言，任脈直行於腹，督脈直行於背，為腹背中行諸穴所系也。手太陰肺經，左右各十一穴。足太陰脾經，左右各二十一穴。手陽明大腸經，左右各二十穴。足陽明胃經，左右各四十五穴。</p>
<p>手少陰心經，左右各九穴。足少陰腎經，左右各二十七穴。手太陽小腸經，左右各十九穴。足太陽膀胱經，左右各六十三穴。手厥陰心包經，左右各九穴。足厥陰肝經，左右各十三穴。手少陽三焦經，左右各二十三穴。</p>
<p>足少陽膽經，左右各四十三穴。兼以任脈中行二十四穴，督脈中行二十七穴，而人身周矣。醫者明此，可以針，可以灸，可以湯液投之。所向無不取驗。後世醫道，不明古先聖救世之術，多廢不講。針、灸、湯液之法，或歧為二，或參為三，其又最下則針行者百一，灸行者什二，湯液行者什九而千萬。抑何多寡之相懸耶！或者以針誤立效，灸次之，而湯液猶可稍緩乎？是故業彼者多，業此者寡也。噫！果若是，亦淺矣哉，其用心也！夫醫之治病，猶人之治水，水行於天地，猶血氣行於人身也，溝渠畝澮，河泖川瀆，皆其流注交際之處，或壅焉，或塞焉，或溢焉，皆足以害治而成病，苟不明其響道而欲治之。其不至於泛濫妄行者否也。醫之治病，一迎一隨，一補一瀉，一汗一下，一宣一導，凡所以取其和平者，亦若是耳，而可置經絡於不講乎？滑伯仁氏有憂之，故為之圖，為之注，為之歌，以發揮之。周悉詳盡，曲暢旁通，後之醫者，可披卷而得焉，伯仁氏之用心亦深矣哉。後伯仁氏而興者，有薛良武氏焉，良武氏潛心講究，其所自得，亦已多矣。乃復校正是書而刊諸梓，欲以廣其傳焉，推是心也，即伯仁氏之心也。良武名鎧，為吳之長洲人，有子曰己者，今以醫判南京太醫事，尤以外科名，而外科者，特其一也，君子謂其能振家業云。</p>
<p><u>嘉靖戊子冬閏十月望日，前進士姑蘇西閶</u></p>
<p><u>盛應陽斯顯書於金陵官寓。</u></p>
<h2>卷上</h2>
<h3>手足陰陽流注篇</h3>
<p>凡人兩手足，各有三陰脈，三陽脈，以合為十二經也。</p>
<p>三陰，謂太陰、少陰、厥陰。三陽，謂陽明、太陽、少陽也。人兩手足，各有三陰脈、三陽脈，相合為十二經也。手三陰，謂太陰肺經、少陰心經、厥陰心包經。手三陽，謂陽明大腸經、太陽小腸經、少陽三焦經。</p>
<p>足三陰，謂太陰脾經、少陰腎經、厥陰肝經。足三陽，謂陽明胃經、少陽膽經、太陽膀胱經。謂之經者，以血氣流行，經常不息者而言。謂之脈者，以血理分　（校注：音斜。意亦通斜，或解作惡、不正。古與HT　同，　為本字。他本作　，實誤。）行體者而言也（校注：無錫本無「而」字）。</p>
<p>手之三陰，從臟走（至）手；手之三陽，從手走（至）頭；足之三陽，從頭下至足；足之三陰，從足上走入腹。</p>
<p>手三陰從臟走至手：謂手太陰起中焦，至出大指之端，手少陰起心中，至出小指之端，手厥陰起胸中，至出中指之端。手三陽從手走至頭：謂手陽明起大指次指之端，至上挾鼻孔。手太陽起自小指之端，至目內　。手少陽起小指次指之端，至目銳　。足三陽從頭走至足：謂足陽明起於鼻，至入中趾間。足太陽起目內　，至小趾外側端。足少陽起目銳　，至入小趾次趾間。足三陰從足走入腹：謂足太陰起大趾之端，至屬脾絡胃。足少陰起足心，至屬腎絡膀胱。足厥陰起大趾聚毛，至屬肝絡膽。足三陰雖曰從足入腹，然太陰乃復上膈挾咽，散舌下；少陰乃復從腎上挾舌本；厥陰乃復上出額，與督脈會於巔，兼手太陰從肺系橫出腋下；手少陰從心系上肺出腋下；手厥陰循胸出脅，上抵腋下。此又秦越人所謂諸陰脈，皆至頸胸而還者也。而厥陰則又上出於巔，蓋厥陰陰之盡也，所以然者，示陰無可盡之理，亦猶之碩果不食，示陰無可盡之義也，然之陰陽以氣言，人身之陰陽以藏象言，氣則無形，而臟象有質，氣陽而質陰也。然則無形者貴乎陽，有質者貴乎陰歟？絡脈傳注，周流不息。</p>
<p>絡脈者，本經之旁支，而別出以聯絡於十二經者也。本經之脈，由絡脈而交他經；他經之交，亦由是焉。</p>
<p>傳注周流，無有停息也。夫十二經之有絡脈，猶江漢之有沱潛也。絡脈之傳注於他經，猶沱潛之旁導於他水也。</p>
<p>是以手太陰之支者，從腕後出次指端，而交於手陽明。手陽明之支者，從缺盆上挾口鼻，而交於足陽明。足陽明之支者，別跗上，出大趾端，而交於足太陰。足太陰之支者，從胃別上膈，注心中而交於手少陰。手少陰則直自本經少衝穴，而交於手太陽，不假支授，蓋君者出令者也。手太陽之支者，別頰上至目內　，而交於足太陽。足太陽之支者，從膊（校注：無錫本、日本寶永本均作　。　是膊的異體字。膊，即肩膊，亦名　，指肩胛。</p>
<p>足太陽出項後分為二支，一支由項下行，至腰絡腎，屬膀胱。一支，即此。）內左右別下合　（校注：音國，指　窩，即膝彎。委中穴所在部位）中，下至小趾外側端，而交於足少陰。足少陰之支者，從肺出，注胸中而交於手厥陰。手厥陰之支者，從掌中循小指次指出其端，而交於手少陽。手少陽之支者，從耳後出，至目銳　而交於足少陽。足少陽之支者，從跗上入大趾爪甲、出三毛而交於足厥陰。足厥陰之支者，從肝別貫膈，上注肺而交於手太陰也。</p>
<p>故經脈者，行血氣，通陰陽，以榮於身者也。</p>
<p>通結上文，以起下文之義。經脈之流行不息者，所以營運血氣，流通陰陽，以榮養於人身者也。不言絡脈者，舉經以該（校注：同賅，全、備之謂，或謂囊括一切）之。</p>
<p>其治（校注：東溪堂本作始，明萬歷刻本亦作始。原文「其」下是論血氣源出於中焦之胃，「其」下「治」字，游離全文。且下段亦有「始於中焦」之句，顯見「治」為「始」誤）從中焦。注手太陰陽明，陽明注足陽明太陰，太陰注手少陰太陽，太陽注足太陽少陰，少陰注手心主少陽，少陽注足少陽厥陰，厥陰復還注手太陰。</p>
<p>始於中焦，注手太陰，終於注足厥陰，是經脈之行一周身也。</p>
<p>其氣常以平旦為紀句（校注：東溪堂、明刻諸本皆有小字「句」字，除提示紀下當句斷之點讀作用外，別無實意。）以漏水下百刻，晝夜流行，與天同度，終而復始也。</p>
<p>氣，營氣。紀，統紀也。承上文言經脈之行，其始則起自中焦，其氣則常以平旦為紀也。營氣，常以平旦之寅時為紀，由中焦而始注手太陰，以次流行也。不言血者，氣行則血行。可知漏水下百刻，晝夜流行。與天同度者，言一晝夜漏下百刻之內，人身之經脈流行無有窮止，與天同一營運也。蓋天以三百六十五度四分度之一為一周天，而終一晝夜；人之榮衛，則以五十度周於身。氣行一萬三千五百息，脈行八百一十丈，而終一晝夜，適當明日之寅時，而復會於手太陰。是與天同度，終而復始也。或云：晝夜漏刻有長短，其營氣盈縮當何如？然漏刻雖有短長之殊，而五十度周身者，均在其中，不因漏刻而有盈縮也。</p>
<p>上本篇正文，與金蘭循經同。</p>
<h2>卷中</h2>
<h3>十四經脈氣所發篇</h3>
<h4>手太陰肺經穴歌</h4>
<p><a href="_files/p06-d29a1.bmp">手太陰肺經之圖</a></p>
<p>手太陰肺十一穴。中府云門天府列。俠白尺澤孔最（校注：孔最，出自《針灸甲乙經》。東溪堂、無錫諸本皆用「最」</p>
<p>字。明刻萬歷本、崇禎十五年本都寫作「HT　」。「HT　」為「最」之古俗字，或謂異體字）存。列缺經渠太淵涉。魚際少商如韭葉。</p>
<p>手太陰，肺之經：凡十一穴，左右共二十二穴。是經多氣少血。</p>
<p>肺之為臟，六葉兩耳，四垂如蓋，附著於脊之第三椎中，有二十四空，行列分布諸臟清濁之氣，為五臟華蓋云。</p>
<p>手太陰之脈，起於中焦，下絡大腸，還循胃口，上膈屬肺。</p>
<p>起，發也。絡，繞也。還，復也。循，巡也，又依也，沿（校注：無錫本作「治」。明萬歷、清東溪堂諸本皆作「沿」字。巡，上古屬先韻，音沿。沿，解為緣、順，引申沿循之意。循、巡、依、沿，意近互訓，引申沿循之意。循、巡、依、沿，意近互訓，頗符原文之旨。宜斷沿是治非）也。屬，會也。中焦者，在胃中脘，當臍上四寸之分。大腸，注見本經。胃口，胃上下口也；胃上口，在臍上五寸上脘穴，下口在臍上二寸下脘穴之分也。膈者，隔也，凡人心下有膈膜與脊脅周回相著，所以遮膈濁氣，不使上熏於心肺也。手太陰起於中焦，受足厥陰之交也。由是循任脈之外，足少陰經脈之裡，以次下行，當臍上一寸水分穴之分，繞絡大腸，手太陰陽明相為表裡也。乃復行本經之外，循胃上口，邐迤上膈而屬會於肺，榮氣有所歸於本臟也。</p>
<p>從肺系橫出腋下，下循　內，行少陰、心主之前，下肘中。</p>
<p>肺系，謂喉嚨也；喉以候氣，下接於肺。肩下脅上際曰腋。膊下對腋處為　（校注：音鬧，指上膊內側肌肉，此處泛指上膊，猶如腋指腋窩處。　內、　前廉、　盡處，皆用此意），肩肘之間也。　盡處為肘，臂節也。自肺臟循肺系出而橫行，循胸博第四行之中府、云門，以出腋下，下循　內，歷天府、俠白，行手少陰、手心主之前，下入肘中，抵尺澤穴也。蓋手少陰循　臂，出小指之端；手心主循　臂出中指之端；手太陰則行乎二經之前也。中府穴：在云門下一寸，乳上三肋間，動脈應手陷中。云門：在巨骨下，俠氣戶傍二寸陷中，動脈應手，舉臂取之。天府：在腋下三寸　內廉動脈中。俠白：在天府下去肘五寸動脈中。尺澤：在肘中約紋上動脈中。</p>
<p>循臂內（校注：內下漏一廉字。下文「其支者，從腕後直出次內廉」，內下有廉字。統觀全文，據《黃帝內經明堂》卷一，於內下當補廉字。）上骨下廉，入寸口上魚，循魚際，出大指之端。</p>
<p>肘以下為臂。廉，隅也，邊也。手掌後高骨旁、動脈為關。關前動脈為寸口。曰魚，曰魚際云者，謂掌骨之前，大指本節之後。其肥肉隆起處，統謂之魚；魚際，則其間之穴名也。既下肘中，乃循臂內，上骨之下廉，歷孔最、列缺，入寸口之經渠、太淵以上魚，循魚際出大指之端，至少商穴而終也。端，（杪校注：音渺。木標之末，時節之末皆謂之杪。文中端杪連用為辭，義用標之末，亦即梢端之意也。）孔最穴：去腕上七寸。</p>
<p>列缺：去腕側上一寸五分。以手交叉頭指當作食指末，筋骨罅（校注：音下，本意為裂，引申作縫隙之謂，）中絡穴也。經渠：在寸口陷中。太淵：在掌後陷中。魚際：在大指本節後內側散脈中。少商：在大指端內側，去爪甲如韭葉，白肉內宛宛中。</p>
<p>其支者，從腕後直出次指內廉出其端。</p>
<p>臂骨盡處為腕。脈之大隧為經，交經者為絡。本經終於出大指之端矣，此則從腕後列缺穴，達次指內廉出其端，而交於手陽明也。</p>
<p>是動：則病肺脹滿，膨膨而喘咳，缺盆中痛，甚則交兩手而瞀，此謂臂厥。是主肺所生病者：咳嗽上氣，喘喝（校注：音訶。無錫本作渴。《甲乙經》在「肺手太陰脈」下論述中亦作喝，即「咳，上氣，喘喝」，用喝字，狀喘而有聲，渴誤，）煩心，胸滿，　臂內前廉痛，掌中熱。氣盛有餘，則肩背痛，風寒寒字疑衍（校注：《脈經》卷六，《千金》肺臟，《銅人》均無寒字。據此，原校「寒字疑衍」為確，）汗出中風（校注：</p>
<p>《脈經》卷六無「中風」二字。但玩此條之意，有「中風」為是，）小便數而欠。虛則肩背痛，寒，少氣不足以息，溺色黃變（校注：《千金方》卷十七作「尿色變卒遺矢無度」，《脈經》《銅人》均作「尿色變」，皆無「黃」字，參本條宗旨，「黃」字當衍，）卒遺矢無度。盛者，寸口大三倍於人迎。虛者，寸口反小於人迎也。</p>
<h4>手陽明大腸經穴歌</h4>
<p><a href="_files/p06-d29a2.bmp">手陽明大腸經之圖</a></p>
<p>手陽明穴起商陽。二間三間合谷藏。陽　偏歷歷溫溜。下廉上廉三裡長。曲池肘　迎五裡。臂　肩巨骨當。天鼎扶突禾　接，終以迎香二十穴。</p>
<p>手陽明大腸之經。凡二十穴，左右共四十穴。是經氣血俱多。</p>
<p>大腸長二丈一尺，廣四寸，當臍右回十六曲。</p>
<p>手陽明之脈：起於大指次指之端，循指上廉，出合谷兩骨間，上入兩筋之中。</p>
<p>大指次指：大指之次指，謂食指也。手陽明，大腸經也。凡經脈之道，陰脈行手足之裡，陽脈行手足之表。此經起於大指次指之端商陽穴，受手太陰之交，行於陽之分也。由是循指上廉，歷二間、三間，以出合谷兩骨之間，復上入陽　兩筋之中。商陽：在手大指次指內側，去爪甲角如韭葉。二間：在手大指次指本節前，內側陷中。三間：在手大指次指本節後，內側陷中。合谷：在手大指次指岐骨間陷中。陽　：在腕中上側兩筋間中。</p>
<p>循臂上廉，入肘外廉，循　外前廉，上肩。</p>
<p>自陽　而上，循臂上廉之偏歷、溫溜、下廉、上廉、三裡，入肘外廉之曲池，循　外前廉，歷肘　、五裡、臂，絡　會，上肩，至肩　穴也。偏歷：在腕中後三寸。溫溜：在腕後，小士六寸，大士五寸（校注：《針灸經穴圖考》「盧氏曰：大士身長者，小士身短者」。《資生經》引《明堂》曰：「但以腕後五寸為度」。《甲乙經》作：「在腕後少士五寸，大士六寸」。考諸征引之文，原文六寸與五寸，當是倒文。）下廉：在輔骨下，去上廉一寸。上廉：在三裡下一寸。三裡：在曲池下二寸，按之肉起。曲池：在肘外輔骨屈肘曲骨之中，以手拱胸取之。肘　：在肘大骨外廉陷中。五裡（校注：《甲乙經》亦為五裡，曰：「在肘上三寸」。萬歷刻本、東溪堂本亦同。無錫本言「在肘上二寸」，不確，）在肘上三寸，行向裡，大脈中央。臂　：在肘上七寸。　會：見手少陽經，手陽明之絡也。肩　：在肩端，兩骨間陷者宛宛中，舉臂有空。</p>
<p>出　骨之前廉，上出柱骨之會上。</p>
<p>肩端兩骨間，為　骨。肩胛上際會處，為天柱骨。出　骨前廉，循巨骨穴，上出柱骨之會上，會於大椎。</p>
<p>巨骨：在肩端上，行兩叉骨間陷中。大椎：見督脈，手足三陽、督脈之會。</p>
<p>下入缺盆，絡肺，下膈，屬大腸。</p>
<p>自大椎而下入缺盆，循足陽明經脈外，絡繞肺臟，復下膈，當天樞之分，會屬於大腸。缺盆、天樞：見足陽明經。</p>
<p>其支別者（校注：《甲乙經》作「其支者」，《靈樞》亦無「別」字。從此，宜斷別為衍，）從缺盆上頸貫頰，入下齒縫中。</p>
<p>頭莖為頸。耳以下曲處為頰。口前小者為齒。其支別者，自缺盆上行於頸，循天鼎、扶突上貫於頰，入下齒縫中。天鼎：在頸，缺盆直扶突後一寸。扶突：在氣舍後一寸五分，仰而取之。又云：人迎後一寸五分。</p>
<p>還出挾口，交人中，左之右，右之左，上挾鼻孔。</p>
<p>口唇上、鼻柱下，為人中。既入齒縫，復出挾兩口吻，相交於人中之分，左脈之右，右脈之左，上挾鼻孔，循禾　、迎香，而終以交於足陽明也。人中：見督脈，為手陽明、督脈之會。禾　：在鼻孔下，挾水溝旁五分。迎香：在禾　上一寸，鼻孔旁五分。</p>
<p>是動：則病齒痛　（校注：民國十年本、無錫本作頸。《五音集韻》曰：「面秀骨」為　。《博雅》《集韻》則名言「面顴也」，參解剖部位，　是頸非腫。）是主津液所生病者：目黃、口乾、　衄，喉痹、肩前　痛，大指次指痛，不用。氣有餘則當脈所過者熱腫。虛則寒凜（校注：萬歷刻本、東溪堂本均作凜字。無錫本、日本享保十六年本皆為「栗」字。</p>
<p>考中醫術語，寒「栗」連用為是不復。）盛者：人迎大三倍於寸口。虛者：人迎反小於寸口也。</p>
<h4>足陽明胃經穴歌</h4>
<p><a href="_files/p06-d29a3.bmp">足陽明胃經之圖</a></p>
<p>四十五穴足陽明。承泣四白巨　經。地倉大迎頰車峙，下關頭維對人迎。水突氣舍連缺盆。氣戶庫房屋翳屯，膺窗乳中延乳根，不容承滿起梁門。關門太乙滑肉門。天樞外陵大巨存。水道歸來氣衝次。髀關伏兔走陰市，梁丘犢鼻足三裡。上巨虛連條口位。下巨虛乃繼豐隆。解　衝陽陷谷中，內庭厲兌經穴終。</p>
<p>足陽明胃之經。凡四十五穴，左右共九十穴，是經氣血俱多。</p>
<p>胃大一尺五寸，紆屈曲伸，長二尺六寸。</p>
<p>足陽明之脈：起於鼻，交額（校注：當是　字。《孟子》：「舉疾首蹙　而相告」，注云：「　，鼻頸（莖）也。據本條後之發揮，「鼻山根為　」，《甲乙經》亦作　，是以　當為　之誤）中，旁約太陽之脈。下循鼻外，入上齒中，還出挾口環唇、下交承漿。</p>
<p>，鼻莖也，鼻山根為　。足陽明起於鼻兩旁迎香穴。由是而上，左右相交於　中，過晴明之分，下循鼻外，歷承泣、四白、巨　，入上齒中，復出循地倉，挾兩口吻環繞唇下，左右相交於承漿之分也。迎香：手陽明經穴，睛明：足太陽經穴。手足太陽、少陽、足陽明五脈之會。承泣：在目下七分，直瞳子。四白：在目下一寸，直瞳子。巨　：在鼻孔旁八分，直瞳子。地倉：挾口吻旁四分。承漿：見任脈，足陽明、任脈之會。</p>
<p>卻循頤後下廉，出大迎，循頰前，上耳前，過客主人，循發際，至額顱腮（校注：衍字。東溪堂本亦刪此腮字。）</p>
<p>腮下為頷。頷中為頤。囟前為發際。發際前為額顱。自承漿卻循頤後下廉，出大迎，循頰車，上耳前，歷下關。過客主人，循發際，行懸厘、頷厭之分，經頭維，會於額顱之神庭。大迎：在曲頷前一寸三分，骨陷中動脈。頰車：在耳下曲頰端陷中。下關：在客主人下，耳前動脈下廉。合口有空，開口則閉。客主人，接懸厭三穴，並足少陽經，皆手足少陽、陽明之交會。頭維：在額角發際，本神旁一寸五分，神庭旁四寸五分。神庭：見督脈，足太陽、陽明、督脈之會。</p>
<p>其支別（校注：別字當衍，參見前「其支別者」注）者，從大迎前下人迎，循喉嚨，入缺盆，下膈，屬胃絡脾。</p>
<p>胸兩旁高處為膺。膺上橫骨為巨骨。巨骨上陷中為缺盆。其支別者，從大迎前下人迎，循喉嚨，歷水突、氣舍入缺盆，行足少陰俞府之外下膈，當上脘、中脘之分，屬胃絡脾。人迎：在頸大動脈應手，挾結喉旁一寸五分。水突：在頸大筋前，直人迎下，氣舍上。氣舍：在頸直人迎下，挾天突陷中。缺盆：在肩下橫骨陷中。</p>
<p>俞府：見足少陰經。上脘：見任脈，足陽明、手太陽、任脈之會。中脘：見任脈，手太陽、少陽（校注：《甲乙經》同此。萬歷刻本、嘉靖十五年本均有「少陽」，無錫本、民國石刻本「太陽」下無「少陽」，實屬漏文、）</p>
<p>足陽明所生，任脈之會。</p>
<p>直行（校注：《甲乙經》無「行」字。《素問‧五臟生成篇》王注有「行」字。案文意，從此）者，從缺盆而下乳內廉，下挾臍，入氣衝中。</p>
<p>直行者，從缺盆而下，下乳內廉，循氣戶、庫房、屋翳、膺窗、乳中、乳根、不容、承滿、梁門、關門、太乙、滑肉門，下挾臍。歷天樞、外陵、大巨、水道、歸來諸穴，而入氣衝中也。氣戶：在巨骨下，俞府旁二寸陷中。庫房：在氣戶下一寸六分陷中，仰而取之。屋翳：在庫房下一寸六分陷中，仰而取之。膺窗：在屋翳下一寸六分陷中。乳中：當乳是。乳根：在乳下一寸六分陷中，仰而取之。不容：在幽門旁，相去各一寸五分。承滿：在不容下一寸。梁門：在承滿下一寸。關門：在梁門下一寸。太乙：在關門下一寸。滑肉門：在太乙下一寸，下挾臍。天樞：在挾臍二寸。外陵：在天樞下一寸。大巨：在外陵下一寸。水道：在大巨下三寸。</p>
<p>歸來：在水道下二寸。氣衝：一名氣街，在歸來下，鼠鼷上一寸，動脈應手宛宛中。自氣戶至乳根去中行各四寸。自不容至滑肉門去中行各三寸，自天樞至歸來去中行各二寸。</p>
<p>其支者（校注：此條「其支者」，《素問‧五臟生成篇》王注「支」下有「別」字。萬歷、嘉靖、東溪堂本均無，參前注，從此，）起胃下口，循腹裡，下至氣衝中而合。</p>
<p>胃下口、下脘之分。《難經》云：「太倉下口為幽門者是也」。自屬胃處，起胃下口，循腹裡，過足少陰肓俞之外、本經之裡，下至氣衝中，與前之入氣衝者合。</p>
<p>以下髀關，抵伏兔，下入膝臏中，下循　外廉，下足跗，入中指外（校注：《甲乙經》作「內間」。承本亦是內字。東溪堂本也批點「外」字為內。當從此改「外」為「內」。指字宜是趾字之假）間。</p>
<p>抵，至也。股外為髀。髀前膝上起肉處為伏兔，伏兔後交文為髀關。挾膝解中為臏。脛骨為　。跗，足面也。既相合氣衝中，乃下髀關，抵伏兔，歷陰市、梁丘，下膝臏中，經犢鼻。下循　外廉之三裡、巨虛上廉、條口、巨虛下廉、豐隆、解　，下足跗之衝陽、陷谷，入中趾內間之內庭，至厲兌而終也。髀關：在膝上伏兔後交文中一作交分。伏兔：在膝上六寸起肉（校注：肉，指股直肌而言。《甲乙經》「肉」下有「間」字。</p>
<p>萬歷、嘉靖、日本諸本均無，從此，）正跪坐而取之。一云：膝蓋上七寸。陰市：在膝上三寸、伏兔下陷中，拜而取之。梁丘：在膝上二寸，兩筋間。犢鼻：在膝臏下、　骨上，骨解大筋中。三裡：在膝眼下三寸，　骨外大筋內宛宛中，舉足取之，極重按之，則跗上動脈止矣。巨虛上廉：在三裡下三寸，舉足取之。巨虛下廉：在上廉下三寸，舉足取之。豐隆：在外踝上八寸，下外廉陷中，別走太陰。解　：在衝陽後一寸五分，跗上陷中。衝陽：在足跗上五寸，骨間動脈，去陷谷三寸。陷谷：在足大趾次趾間，本節後陷中。內庭：在足大趾次趾外間陷中。厲兌：在足大趾次趾去爪甲如韭葉。</p>
<p>其支者：下膝三寸而別，以下（校注：諸種版本皆存「以」字。但句中「以」字實無意義。且全書或言「上行」，或敘「下入」，都不用以，疑衍）入中指外間。</p>
<p>此支自膝下三寸，循三裡穴之外別行而下，入中趾外間，與前之內庭、厲兌合也。</p>
<p>其支者：別跗上，入大指間出其端。</p>
<p>此支自跗上衝陽穴，別行入大趾間，斜出足厥陰行間穴之外，循大趾下出其端，以交於足太陰。</p>
<p>是動：則病洒洒然振寒，善伸，數欠，顏黑；病至則惡人與火，聞木音則惕然而驚，心欲動，獨閉戶牖而處；甚則欲上高而歌，棄衣而走，賁響腹脹，是謂　厥。是主血所生病者：狂、瘧、溫淫，汗出，　衄，口，唇疹，頸腫，喉痹，大腹水腫，膝臏腫痛，循膺、乳、氣街、股伏兔、　外廉、足跗上皆痛，中趾不用。氣盛則身以前皆然；其有餘於胃，則消穀善飢，溺色黃。氣不足，則身以前皆寒栗；胃中寒，則脹滿。</p>
<p>盛者：人迎大三倍於寸口。虛者：人迎反小於寸口也。</p>
<h4>足太陰脾經穴歌</h4>
<p><a href="_files/p06-d29a4.bmp">足太陰脾經之圖</a></p>
<p>二十一穴太陰脾。隱白大都太白抵。公孫商丘三陰交。漏谷地機陰陵坳。血海箕門衝門開。府舍腹結大橫排。腹哀食竇連天　。胸鄉周榮大包隨。</p>
<p>足太陰脾之經。凡二十一穴，左右共四十二穴。是經多氣少血。</p>
<p>脾廣三寸，長五寸，掩乎太倉，附著於脊之第十一椎。</p>
<p>足太陰之脈：起於大趾之端，循趾內側白肉際。過核骨後，上內踝前廉。</p>
<p>骨：一作核骨，俗云孤拐骨是也。足跟後兩旁起骨為踝骨。足太陰起大趾之端隱白穴，受足陽明之交也。由是循大趾內側白肉際大都穴，過核骨後，歷太白、公孫、商丘，上內踝前廉之三陰交也。隱白：在足大趾內側端，去爪甲角如韭葉。大都：在足大趾本節後陷中。太白：在足內側核骨下陷中。公孫：在足大趾本節後一寸，別走陽明。商丘：在足內踝下微前陷中。三陰交：在內踝上三寸，骨下陷中。</p>
<p>上　內，循　骨後，交出厥陰之前。</p>
<p>，腓腸也，由三陰交上　內，循　骨後之漏谷，上行二寸，交出足厥陰經之前，至地機、陰陵泉。漏谷：在內踝上六寸，骨下陷中。地機：在膝下五寸。陰陵泉：在膝下內側，輔骨下陷中，伸足取之。</p>
<p>上循膝股內前廉，入腹，屬脾絡胃。</p>
<p>髀內為股。臍上下為腹。自陰陵泉上循膝股內前廉之血海、箕門，迤邐入腹，經衝門、府舍，會中極、關元，復循腹結、大橫會下脘，歷腹哀，過日月、期門之分，循本經之裡，下至中脘、下脘之際，以屬脾絡胃也。血海：在膝臏上，內廉白肉際二寸中。箕門：在魚腹上越筋間，陰股內動脈中。衝門：上去大橫五寸，在府舍下橫骨端約中動脈。府舍：在腹結下三寸。中極、關元：並見任脈，皆足三陰、任脈之會。腹結：在大橫下一寸三分。大橫：在腹哀下三寸五分，直臍旁。下脘：見任脈，足太陰、任脈之會。腹哀：在日月下一寸五分。日月：見足少陽經，足太陰、少陽、陽維之會。期門：見足厥陰經，足太陰、厥陰、陰維之會也。衝門、府舍、腹結、大橫、腹哀：去腹中行各四寸半。</p>
<p>上膈，挾咽，連舌本，散舌下。</p>
<p>咽：所以咽物者，居喉之前，至胃長一尺六寸，為胃系也。舌本，舌根也。</p>
<p>由腹哀上膈，循食竇、天溪、胸鄉、周榮，由周榮外，曲折向下至大包，又自大包外，曲折向上，會中府上行，行人迎之裡，挾咽，連舌本，散舌下而終焉。食竇：在天溪下一寸六分，舉臂取之。天溪：在胸鄉下一寸六分，仰而取之。胸鄉：在周榮穴下一寸六分陷中，仰而取之。大包：在淵腋下三寸，淵腋見足少陽。中府：見手太陰經，足太陰之會也。人迎：見足陽明經。</p>
<p>其支別者，復從胃別上膈，注心中。</p>
<p>此支由腹哀別行，再從胃部中脘穴之外上膈，注於膻中之裡心之分，以交於手少陰。中脘、膻中：並任脈穴。</p>
<p>是動：則病舌本強，食則嘔，胃脘痛，腹脹，善噫，得後與氣則快然如衰，身體皆重。是主脾所生病者：舌本痛，體不能動搖，食不下，煩心，心下急痛，寒瘧（校注：《靈樞‧經脈篇》、《太素》卷八首篇、</p>
<p>《脈經》卷六、《銅人》卷二均無此二字。玩脾經之病，發為「寒瘧」，也頗費解。雖流行《十四經發揮》諸本皆存此二字，亦當從上述諸書，斷「寒瘧」為衍文，）溏，瘕泄，水閉，黃膽，不能臥（校注：《甲乙經》為「不能食」，承上文「黃膽」之意，當改「臥」為「食」，）強立股膝內腫，厥，足大趾不用。盛者：寸口大三倍於人迎。虛者：寸口反小於人迎也。</p>
<h4>手少陰心經穴歌</h4>
<p><a href="_files/p06-d29a5.bmp">手少陰心經之圖</a></p>
<p>九穴心經手少陰。極泉青靈少海深。靈道通裡陰　邃。神門少府少衝尋。</p>
<p>手少陰心之經。凡九穴，左右共十八穴。是經多氣少血。</p>
<p>心形如未敷蓮花，居肺下膈上，附著於脊之第五椎。</p>
<p>手少陰之脈：起於心中，出屬心系，下膈絡小腸。</p>
<p>心系有二：一則上與肺相通，而入肺兩大葉間。一則由肺葉而下，曲折向後，並脊膂，細絡相連，貫脊髓，與腎相通。正當七節之間。蓋五臟系皆通於心，而心通五臟系也。手少陰經起於心，循任脈之外屬心系，下膈，當臍上二寸之分，絡小腸。</p>
<p>其支者：從心系，上挾咽，系目（校注：「目」下脫一「系」字。《甲乙經》目下有「系」字，萬歷刻本、東溪堂本亦有「系」字，從此。日本慶安本，手少陰心經之圖也標有目系字樣。）</p>
<p>支者，從心系出任脈之外，上行而挾咽系目也。</p>
<p>其直者：復從心系，卻上肺，出腋下。</p>
<p>直者，復出心系。直上至肺臟之分，出循腋下，抵極泉也。穴在臂內腋下兩筋間，動脈入胸。</p>
<p>下循　內後廉，行太陰、心主之後，下肘內廉。</p>
<p>自極泉下循　內後廉，行太陰、心主兩經之後，歷青靈穴，下肘內廉，抵少海，青靈：在肘上三寸，舉臂取之。少海：在肘內大骨外，去肘端五分。</p>
<p>循臂內後廉，抵掌後兌骨之端，入掌內廉（校注：「內」下《甲乙經》有後字，按經脈循行前、中、後、外、內之序，「內」下應有「後」字為妥，當補。）循小指之內出其端腕下踝為兌骨。自少海而下循臂內後廉，歷靈道、通裡，至掌後銳骨之端，經陰　、神門，入掌內廉。至少府，循小指端之少衝而終，以交於手太陽也。心為君主之官，示尊於他臟，故其交經授受，不假於支別云。靈道：在掌後一寸五分。通裡：在腕後一寸陷中。陰　：在掌後脈中，去腕五分。神門：在掌後銳骨之端陷者中。少府：在手小指本節後陷中，直勞宮。少衝：在乎小指內廉端，去爪甲如韭葉。</p>
<p>是動：則病嗌干，心痛，渴而欲飲，是謂臂厥。是主心所生病者：目黃，脅痛，　臂內後廉痛。厥，掌中熱痛。盛者：寸口大再倍於人迎。虛者：寸口反小於人迎也。</p>
<h4>手太陽小腸經穴歌</h4>
<p><a href="_files/p06-d29a6.bmp">手太陽小腸經之圖</a></p>
<p>手太陽穴一十九。少澤前谷後谿遇。腕骨陽谷可養老。支正小海肩貞走。　俞天宗及秉風。曲垣肩外復肩中。天窗天容上顴　。卻入耳中循聽宮。</p>
<p>手太陽小腸之經。凡十九穴，左右共三十八穴。是經多血少氣。</p>
<p>小腸長三丈二尺，左回疊積十六曲。胃之下口，小腸上口也，在臍上二寸，水穀於是入焉。臍上一寸，為水分穴，則小腸下口也，至是而泌別清濁，水液入膀胱，滓穢入大腸。</p>
<p>手太陽之脈：起於小指之端，循手外側上腕，出踝中。</p>
<p>臂骨盡處為腕。腕下兌骨為踝。本經起小指端少澤穴，由是循手外側之前谷，後谿上腕，出踝中，歷腕骨、陽谷、養老穴也。少澤：在手小指外側端，去爪甲角一分陷中。前谷：在手小指外側，本節前陷中。後谿：在手小指外側，本節後陷中。腕骨：在手外側腕前，起骨下陷中。陽谷：在手外側腕中，兌骨下陷中。養老：在手踝骨上一空，腕後一寸陷中。</p>
<p>直上循臂骨下廉，出肘內側兩骨之間，上循　外後廉，出肩解，繞肩胛，交肩上。</p>
<p>脊兩旁為膂。膂上兩角為肩解（校注：萬歷本亦作「肩解」。《太素》卷八首篇注云：「肩臂二骨相接之處，名為肩解」，即是肩關節後骨縫。據此，「兩角」應是「兩骨」，承本同此。）肩解下成片骨為肩胛，一名膊。自養老穴直上，循臂骨下廉支正穴，出肘內側兩骨之間，歷小海穴，上循　外後廉，行手陽明、少陽之外上肩，循肩貞、　俞、天宗、秉風、曲垣、肩外俞、肩中俞諸穴，乃上會大椎，因主（校注：萬歷刻本、東溪堂本皆為「主」字。讀此宜斷「主」字為「左」字之誤，左右與兩肩對舉。「因」，作依循解，循左右交兩肩，意通句順、）右相交於兩肩之上。支正：在腕後五寸。小海：在肘內大骨外，去肘端五分陷中。肩貞：在肩曲胛下，兩骨解間，肩　後陷中。　俞：在挾肩　手少陽穴，後大骨下，胛上廉陷中。天宗：在秉風後大骨下陷中。秉風：在天　外肩上小　後，舉臂有空。曲垣：在肩中央曲胛陷中，按之應手痛。肩外俞：在肩胛上廉，去脊三寸陷中。肩中俞：在肩胛內廉，去脊二寸陷中。大椎：見督脈，手足三陽、督脈之會。</p>
<p>入缺盆絡心，循咽下膈，抵胃屬小腸。</p>
<p>自交肩上入缺盆，循肩向腋下行，當膻中之分絡心，循胃系下膈，過上脘、中脘，抵胃下，行任脈之外，當臍上二寸之分屬小腸。膻中、上脘、中脘，並見任脈會穴也。</p>
<p>其支者：別從缺盆循頸上頰，至目銳　，卻入耳中。</p>
<p>目外角為銳　。支者，別從缺盆，循頸之天窗、天容上頰，抵顴　，上至目銳　，過瞳子　，卻入耳中，循聽宮而終也。天窗：在頸大筋前曲頰下，扶突後，動脈應手陷中。天容：在耳曲頰後。顴　：在面　骨（校注：即顴骨，　，音求。《易‧　》：「壯於　」，注云面顴也。）下廉，銳骨端陷中。瞳子　：足少陽經穴。</p>
<p>聽宮：在耳中珠子，大如赤小豆。</p>
<p>其支者：別頰上　，抵鼻，至目內（校注：「內」下脫一「　」字。下文發揮中已明言「目內　」。萬歷、東溪堂本均無「　」字。）目下為　。目大角為內　。其支者，別循頰上　，抵鼻至目內　睛明穴，以交於足太陽也。睛明：足太陽經穴。</p>
<p>是動：則病嗌痛頷腫，不可回顧，肩似拔，　似折。是主液所生病者，耳聾，目黃，頰腫，頸頷，肩　，肘臂外後廉痛，盛者：人迎大再倍於寸口。虛者：人迎反小於寸口也。</p>
<h4>足太陽膀胱經穴歌</h4>
<p><a href="_files/p06-d29a7.bmp">足太陽膀胱經之圖</a></p>
<p>足太陽穴六十三。睛明攢竹曲差參。五處承光上通天。絡卻玉枕天柱嶄。大杼風門引肺俞。厥陰心俞膈俞注。肝俞膽俞脾俞同。胃俞三焦腎俞中。大腸小腸膀胱俞。中膂白環兩俞輸。自從大杼至白環。相去脊中三寸間。上　次中復下　。會陽承扶殷門亞，浮　委陽委中罅。膊內挾脊附分當。太陽行背第三行，魄戶膏肓與神堂。噫嘻膈關魂門旁，陽綱意舍及胃倉。肓門志室胞之肓。二十椎下秩邊藏。合　以下合陽是。承筋承山居其次。飛陽跗陽泊昆侖。仆參申脈連金門。京骨束骨交通谷。小趾外側至陰續。</p>
<p>足太陽膀胱之經。凡六十三穴，左右共一百二十六穴，是經多血少氣。</p>
<p>膀胱重九兩二銖，縱廣九寸，居腎下之前，大腸之側。當臍上一寸水分穴之處，小腸下口，乃膀胱上際也。</p>
<p>水液由是滲入焉。</p>
<p>足太陽之脈：起於目內　，上額，交巔上。（校注：「上」，當是衍字。因巔頂無上可言。如下一正文就只言「其支別者從巔」，足厥陰肝經亦有「與督脈會於巔」的正文，均無「上」字。）</p>
<p>目大角為內　。發際前為額。腦上為巔。巔，頂也。足太陽起目內毗睛明穴，上額，循攢竹，過神庭，歷曲差、五處、承光、通天，自通天斜行，左右相交於巔上之百會也。睛明：在目內　。攢竹：在眉頭陷中。神庭：見督脈，足太陽督脈之會也。曲差：在神庭旁一寸五分，入發際。五處：挾上星傍一寸五分。承光：在五處後一寸五分。通天：在承光後一寸五分。百會：見督脈，足太陽、督脈之交會也。</p>
<p>其支別者，從巔至耳上角。</p>
<p>支別者，從巔頂之百會，抵耳上角，過率谷、浮白、竅陰穴，所以散養於經脈也。率谷、浮白、竅陰三穴，見足少陽經，足太陽、少陽之會也。</p>
<p>其直行者，從巔入絡腦，還出別下項。</p>
<p>腦，頭髓也。頸上為腦，腦後為項。此直行者，由通天穴後，循絡卻、玉枕，入絡腦。復出下項，抵天柱也。絡卻：在通天後一寸五分。玉枕：在絡卻後一寸五分，挾腦戶旁一寸三分，枕骨上，入發際三寸。腦戶：督脈穴，足太陽、督脈之會。天柱：在頸大筋外廉，挾項，發際陷中。</p>
<p>循肩膊內，挾脊抵腰中，入循膂，絡腎，屬膀胱。</p>
<p>肩後之下為肩膊。椎骨為脊。尻上橫骨為腰。挾脊為膂。自天柱而下，過大椎、陶道，卻循肩膊內，挾脊兩旁下行，歷大杼、風門、肺俞、厥陰俞、心俞、膈俞、肝俞、膽俞、脾俞、胃俞、三焦俞、腎俞、大腸俞、小腸俞、膀胱俞、中膂俞，白環俞，由是抵腰中，入循膂，絡腎，下屬膀胱也。大椎：見督脈，手足三陽、督脈之會。陶道：見督脈，足太陽、督脈之會，大杼：在項後第一椎下。風門：在第二椎下。肺俞：在第三椎下。厥陰俞：在第四椎下。心俞：在第五椎下。膈俞：在第七椎下。</p>
<p>肝俞：在第九椎下。膽俞：在第十椎下，正坐取之。脾俞：在第十一椎下。胃俞：在第十二椎下。三焦俞：在第十三椎下。腎俞：在第十四椎下，與臍平。大腸俞：在第十六椎下。小腸俞：在第十八椎下。膀胱俞：在第十九椎下。中膂俞：在第二十椎下，挾脊起肉。白環俞：在第二十一椎下，伏而取之。自大杼至白環俞諸穴，並背部第二行，相去脊中各一寸五分。</p>
<p>其支別者（校注：別字從前注作衍，）從腰中下（校注：下後當有「挾脊」二字。東溪堂本於行右添此二字。《聖濟總錄》、《靈樞‧經脈》、《活人書》均作「下挾脊」，按經脈循行之路，當從東溪堂本添此二字，）貫臀，入　中。</p>
<p>臀，尻也。挾腰髖骨兩旁為機。機後為臀。腓腸上，膝後曲處為　。</p>
<p>其支者，從腰中循腰髁，下挾脊，歷上　、次　、中　、下　。按腰髁即腰監骨，人脊椎有二十一節，自十六椎節而下為腰監骨，挾脊附著之處，其十七至二十凡四椎，為腰監骨所掩附，而八　穴則挾脊第一二空云云也，會陽在尾　骨兩旁，則二十一椎乃復見而終焉。又按：督脈當脊中起於長強，在二十一椎下，等而上之，至第十六椎下為陽關穴，其二十椎至十七椎皆無穴，乃知為腰監骨所掩明矣。會陽下貫臀，至承扶、殷門、浮　、委陽，入　中之委中穴也。上　：在第一空，腰髁下一寸，挾脊陷中。次　：在第二空挾脊陷中。中　：在第三空挾脊陷中。下　：在第四空挾脊陷中。會陽：在尾　（校注：，骨節空隙處。位於　部四對　後孔中的穴位，分別稱為上、次，中、下　，合稱八　。據此，文中尾連用，　字顯指　部而言，古人在尾下以　言　，無可非議。或據《靈樞‧骨度》改　為　，無實際意義，尾連用符合中古時期的用詞。東溪堂、明刻本均用　字，無錫本、民國十年本用　）骨兩旁。承扶：在尻臀下，股陰上，紋中。殷門：在肉　下六寸。浮　：在委陽上一寸，展膝得之。委陽：在承扶下六寸，屈膝取之，在足太陽之後，出於　中外廉兩筋間。委中：在　中央約文中動脈。</p>
<p>其支別者：從膊內左右別下，貫胛挾脊內，過髀樞。胛膂肉曰胛，夾脊肉也。其支者，為挾脊兩旁第三行，相去各三寸之諸穴。自天柱而下，從膊內左右別行，下貫胛膂，歷附分、魄戶、膏肓、神堂、噫嘻、膈關、魂門、陽綱、意舍、胃倉、肓門、志室、胞肓、秩邊，下歷尻臀，過髀樞也。股外為髀，　骨（校注：音接。《素問‧骨空論》曰：「輔骨上橫骨下為楗」，據此參髀樞當居之位，捷字當是楗字之誤）之下為髀樞。附分：在第二椎下，附項內廉。魄戶：在第三椎下。膏肓：在第四椎下，近五椎上，取穴時令人正坐，曲脊伸兩手，以臂著膝前令正直，手大指與膝頭齊，以物支肘，勿令臂動搖。神堂：在第五椎下。噫嘻：在肩膊內廉，挾第六椎下。膈關：在第七椎下，正坐闊（校注：萬歷，東溪堂本亦作闊，承本為開。「闊」，據《說文》引申為疏解，即與舒通，與肩連用作為動詞，亦涵開意。用闊肩雅於用開肩）肩取之。魂門：在第九椎下。陽綱：在第十椎下。意舍：在第十一椎下。胃倉：在第十二椎下。</p>
<p>肓門：在第十三椎下叉肋間。志室：在第十四椎下，並正坐取之。胞肓：在第十九椎下。秩邊：在第二十椎下，並伏而取之。</p>
<p>循髀外後廉，下合　中，以下貫　內，出外踝之後，循京骨，至小趾外側端。</p>
<p>，腓腸也，循髀外後廉、髀樞之裡，承扶之外一寸五分之間而下，與前之入　中者相合，下行循合陽穴，下貫　內，歷承筋、承山、飛揚、跗陽，出外踝後之昆侖，仆參、申脈，金門，循京骨、束骨、通谷，至小趾外側端之至陰穴，以交於足太陰也。合陽：在膝約紋中央下三寸。承筋：在　腸中央陷中。承山：在　腸下分肉間。飛揚：在外踝上七寸。跗陽：在外踝上三寸。昆侖：在外踝（校注：外下脫一「踝」字。《甲乙經》作「在足外踝後跟骨上」，置一踝字，達意準確。且下文亦有「足外踝」云。承本有踝字，東溪堂本批點亦添一踝字。萬歷、嘉靖諸本均無，當補）後跟骨上陷中。仆參：在跟骨下陷中，拱足取之。申脈：在外踝下陷中，容爪甲白肉際。金門：在足外踝下。京骨：在足外側大骨下，赤白肉際陷中。束骨：在足小趾外側，本節後陷中。</p>
<p>通谷：在足小趾外側，本節前陷中。至陰：在足小趾外側，去爪甲如韭葉。</p>
<p>是動：則病沖頭痛，目似脫，項似拔：脊痛，腰似折，髀不可以曲，　如結，　如裂，是謂踝厥。是主筋所生病者：痔、瘧、狂、癲疾，頭囟項痛、目黃、淚出、　衄，項背、腰尻、　、腳皆痛，小趾不用。盛者：人迎大再倍於寸口。虛者：人迎反小於寸口也。</p>
<h4>足少陰腎經穴歌</h4>
<p><a href="_files/p06-d29a8.bmp">足少陰腎經之圖</a></p>
<p>足少陰二十七穴。涌泉然谷太谿溢。大鐘照海通水泉。復溜交信築賓連。陰谷橫骨至大赫。氣穴四滿中注蒞。肓俞商曲石關循。陰都通谷幽門辟。步廊神封靈墟位。神藏　中俞府既。</p>
<p>足少陰腎之經。凡二十七穴，左右共五十四穴。是經多氣少血。</p>
<p>腎有兩枚，狀如石卵，色黑紫，當胃下兩旁，入脊膂附脊之第十四椎，前後與臍平直。</p>
<p>足少陰之脈：起於小趾之端，斜趨足心。</p>
<p>趨，向也。足少陰起小趾之下，斜向足心涌泉穴，在足心陷中，屈足卷趾宛宛中。</p>
<p>出然谷之下，循內踝之後，別入跟中，上　內，出　內廉。</p>
<p>跟，足跟也。由涌泉轉出足內踝然谷穴。上循內踝後太谿穴，別入跟中之大鐘、照海、水泉，乃折自大鐘之外，上循內踝，行厥陰太陰之後，經復溜、交信，過三陰交，上　內，循築賓，出　內廉，抵陰谷也。然谷：在足內踝前大骨下陷中。太谿：在足內踝後跟骨上，動脈陷中。大鐘：在足跟後踵中。照海：在足內踝下。水泉：在太谿下二寸內踝下。復溜：在足內踝上二寸，動脈應手陷中。交信：在足內踝上二寸，少陰前、太陰後。三陰交：見足太陰，足三陰之交會也。築賓：在足內踝上　分中。陰谷：在膝內輔骨後，大筋下，小筋上，按之應手，屈膝乃得之。</p>
<p>上股內後廉，貫脊屬腎，絡膀胱。</p>
<p>由陰谷上股內後廉，貫脊會於脊之長強穴。還出於前，循橫骨、大赫、氣穴、四滿、中注、肓俞，當肓俞之所，臍之左右屬腎，下臍下，過關元、中極而絡膀胱也。長強：見督脈，足少陰、少陽所結會，督脈別絡也。</p>
<p>橫骨：在大赫下一寸，肓俞下五寸。《千金》云，在陰上橫骨中，宛曲如卻月中央是。大赫：在氣穴下一寸。</p>
<p>氣穴：在四滿下一寸。四滿：在中注下一寸，氣海旁一寸。中注：在肓俞下一寸。肓俞：在商曲下一寸，去臍旁五分。自橫骨至肓俞，考之《資生經》，去中行各一寸半，關元、中極，並任脈穴，足三陰、任脈之會。</p>
<p>其直者，從腎上貫肝膈，入肺中，循喉嚨，挾舌本。</p>
<p>其直行者，從肓俞屬腎處上行，循商曲、石關、陰都、通谷諸穴，貫肝上，循幽門上膈，歷步廊，入肺中，循神封、靈墟、神藏、　中、俞府，而上循喉嚨，並人迎：挾舌本而終也。商曲：在石關下一寸。石關：在陰都下一寸。陰都：在通谷下一寸。通谷：在幽門下一寸。幽門：挾巨厥旁五分。商曲至通谷，去腹中行各五分。步廊：在神封下一寸六分陷中。神封：在靈墟下一寸六分陷中。靈墟：在神藏下一寸六分陷中。神藏：在　中下一寸六分陷中。</p>
<p>中：在俞穴下一寸六分陷中。俞府：在巨骨下，璇璣旁二寸陷中。自步廊至　中，去胸中行各二寸，並仰面而取之。人迎：見足陽明經。</p>
<p>其支者，從肺出絡心，注胸中。</p>
<p>兩乳間為胸中。支者，自神藏別出繞心，注胸之膻中，以交於手厥陰也。</p>
<p>是動：則病飢不欲食，面黑如地色，咳唾則有血，喝喝而喘，坐而欲起，目KT　KT　如無所見，心如懸，若飢狀，氣不足則善恐，心惕惕如人將捕之，是謂骨厥。是主腎所生病者：口熱、舌乾、咽腫、上氣、嗌干及痛，煩心，心痛，黃膽，腸癖，脊臀股內後廉痛，痿、厥、嗜臥，足心熱而痛。盛者：寸口大再倍於人迎。虛者、寸口反小於人迎也。</p>
<h4>手厥陰心包經之歌</h4>
<p><a href="_files/p06-d29a9.bmp">手厥陰心包經之圖</a></p>
<p>九穴心包手厥陰。天池天泉曲澤深，　門間使內關對。大陵勞宮中衝備。</p>
<p>手厥陰心包之經。凡九穴，左右共十八穴。是經多血少氣。</p>
<p>心包：一名手心主，以藏象校之，在心下橫膜之上，豎膜之下，與橫膜相黏，而黃脂漫裹者心也，其漫脂之外，有細筋膜如絲，與心肺相連者，心包也。或手厥陰經，曰心主，又曰心包絡，何也？曰：君火以名，相火以位，手厥陰代君火行事，以用而言，故曰手心主，以經而言，則曰心包經。一經而二名，實相火也。</p>
<p>手厥陰之脈，起於胸中，出屬心包，下膈歷絡三焦。</p>
<p>手厥陰，受足少陰之交，起於胸中，出屬心包，由是下膈，歷絡於三焦之上脘、中脘及臍下一寸，下焦之分也。</p>
<p>其支者：循胸出脅，下腋三寸，上抵腋下，下循　內，行太陰少陰之間，入肘中。</p>
<p>脅上際為腋。自屬心包，上循胸出脅，下腋三寸天池穴，上行抵腋下，下循　內之天泉穴，以介乎太陰少陰兩經之中間，入肘中之曲澤也。天池：在腋下三寸，乳後一寸，著脅直腋橛肋間。天泉：在曲腋下，去臂二寸，承臂（校注：手少陽三焦經發揮中即云「在肩端　上舉臂取之」，《甲乙經》亦作「舉臂取之」。據此，當用「舉」）取之。曲澤：在肘內廉下陷中，屈肘得之。</p>
<p>下臂行兩筋之間，入掌中，循中指，出其端。</p>
<p>由肘中下臂，行臂兩筋之間，循　門、間使、內關、大陵，入掌中勞宮穴，循中指，出其端之中衝云。</p>
<p>門：在掌後，去腕五寸。間使：在掌後三寸，兩筋間陷中。內關：在掌後，去腕二寸。大陵：在掌後，兩筋間陷中。勞宮：在掌中央，屈無名指取之。《資生經》曰：屈中指；以今觀之，莫若屈中指、無名指兩者之間為允（校注：「允」，作「得當」講。《後漢書‧虞詡傳》：「祖文經為郡縣獄吏，案法平允」即是。據以引申為「妥當」之解，他本或改「允」為「妥」，非。）中衝：在手中指端，去爪甲如韭葉陷中。</p>
<p>其支別者：從掌中，循小指次指出其端。</p>
<p>小指次指，無名指也，自小指逆數之，則為次指云。支別者，自掌中勞宮穴別行，循小指次指出其端，而交於手少陽也。</p>
<p>是動：則病手心熱，臂肘攣急，腋腫，甚則胸脅支滿，心中澹澹大動，面赤、目黃、喜笑不休。是主脈所生病者：煩心，心痛，掌中熱。盛者：寸口大十倍於人迎。虛者：寸口反小於人迎也。</p>
<h4>手少陽三焦經穴歌</h4>
<p><a href="_files/p06-d29a10.bmp">手少陽三焦經之圖</a></p>
<p>二十三穴手少陽。關衝液門中渚傍。陽池外關支溝會。會宗三陽四瀆配。天井合去清冷淵。消濼　會肩　。</p>
<p>偏天　大牖同翳風。　脈顱息角孫通。耳門禾　絲竹空。</p>
<p>手少陽三焦之經。凡二十三穴，左右共四十六穴。是經多氣少血。</p>
<p>三焦者，水穀之道路，氣之所終始也。上焦在心下下膈，在（校注：無錫本作當。萬歷本、諸明刻皆為在字。當，在此條中能運用之解只有正、宜二講，不合上焦部位之實。而用在字與「在心下下膈」相銜，則圈定了上焦的位置）胃上口，其治在膻中，直兩乳間陷者中；中焦在胃中脘，當臍上四寸，不上不下，其治在臍旁，下焦當膀胱上口，其治在臍下一寸。</p>
<p>手少陽之脈：起於小指次指之端，上出次指之間，循手表腕，出臂外兩骨之間，上貫肘。臂骨盡處為腕。</p>
<p>盡處為肘。手少陽起小指次指端關衝穴。上出次指之間，歷液門、中渚，循手表腕之陽池出臂外兩骨之間，循外關、支溝、會宗、三陽絡、四瀆，乃上貫肘，抵天井穴也。關衝：在手小指次指之端，去爪甲如韭葉。液門：在手小指次指間陷中。中渚：在手小指次指本節後間陷中。陽池：在手表腕上陷中。外關：在腕後二寸陷中，別走手心主。支溝：在腕後三寸，兩骨間陷中。會宗：在腕後三寸，空中一寸。三陽絡：在臂上大交脈，支溝上一寸。四瀆：在肘前五寸，外廉陷中。天井：在肘外大骨後上一寸，兩筋間陷中，屈肘得之，甄權云：曲肘後一寸，叉手按膝頭取之，兩筋骨罅。</p>
<p>循　外上肩，交出足少陽之後，入缺盆，交（校注：當為「布」，即分布於膻中，「布於」與「散絡心包」</p>
<p>之「散」相對，切合經意。各種流行本皆作交，惟東溪堂本在行右批點為「布」，從此）膻中，散絡心包，下膈，偏屬三焦。</p>
<p>肩肘之間，膊下對腋處為　。從天井上行，循臂　之外，歷清冷淵、消濼，行手太陽之裡，陽明之外，上肩，循　會、肩　、天　，交出足少陽之後，過秉風、肩井，下入缺盆，復由足陽明之外而交會膻中，散布絡繞於心包，乃下膈，當胃上口以屬上焦，於中脘以屬中焦，於陰交以屬下焦也。清冷淵：在肘上二寸，伸肘舉臂取之。消濼：在肩下臂外間，腋斜肘分下行。　會，在肩前廉，去肩頭三寸。肩　：在肩端　上舉臂取之。天：在肩，缺盆中上毖骨之際陷中。秉風：見手太陽經，手足少陽、手太陽、陽明之會。肩井：見足少陽經，手足少陽、陽維之會。缺盆：足陽明經穴。膻中：見任脈，心包相火用事之分也。中脘、陰交：見任脈，三焦之募，任脈所發也。</p>
<p>其支者：從膻中，上出缺盆，上項，挾耳後直上，出耳上角，以屈下頰至　。</p>
<p>腦戶後為項。目下為　。其支者，從膻中而上出缺盆之外，上項過大椎，循天牖上，挾耳後，經翳風、脈、顱息，直上出耳上角，至角孫，過懸厘、頷厭，及過陽白、睛明，屈曲下頰至　，會顴　之分也。大椎：見督脈，手足三陽、督脈之會。天牖：在頸大筋外，缺盆上，天窗後，天窗後《資生經》作天容後，天柱前，完骨下，發際上。懸厘、頷厭：見足少陽經，手足陽明、少陽之交會也。翳風：在耳後尖角陷中，按之引耳中痛。　脈：在耳本後，雞足青脈中。顱息：在耳後青脈中。角孫：在耳廓中間上，開口有空。陽白：見足少陽經，手足陽明、少陽之會。睛明：見足太陽經。顴　：見手太陽經，手少陽，太陽之會也。</p>
<p>其支者，從耳後入耳中（校注：《甲乙經》「入耳中」之下有「出走耳前，過客主人前，交頰」十一字，各種流行本《十四經發揮》均無，）卻出，至目銳　。</p>
<p>此支從耳後翳風穴，入耳中，過聽宮，歷耳門、禾　，卻出至目銳　，會瞳子　，循絲竹空，而交於足少陽也。聽宮：見手太陽經，手足少陽、手太陽三脈之會。耳門：在耳前起肉，當耳缺中。禾　：在耳銳發下橫動脈。瞳子　：見足少陽經，手太陽、手足少陽之會。絲竹空：在眉後陷中。</p>
<p>是動：則病耳聾渾渾　，嗌腫、喉痹。是主氣所生病者：汗出，目銳　痛，頰痛，耳後、肩、　、肘後、臂外皆痛，小指次指不用。盛者：人迎大一倍於寸口。虛者：人迎反小於寸口也。</p>
<h4>足少陽膽經穴歌</h4>
<p><a href="_files/p06-d29a11.bmp">足少陽膽經之圖</a></p>
<p>少陽足經瞳子　。四十三穴行迢迢。聽會客主頷厭集。懸顱懸厘曲鬢翹。率谷天沖浮白次。竅陰完骨本神企。陽白臨泣開目窗。正營承靈及腦空。風池肩井淵腋長。輒筋日月京門當。帶脈五樞維道續。居　環跳下中瀆。陽關陽陵復陽交。外丘光明陽輔高。懸鐘丘墟足臨泣。地五俠　竅陰畢。</p>
<p>此經，頭部自瞳子　至風池，凡二十穴，作三折，向外而行。始瞳子　，至完骨是一折；又自完骨外折，上至陽白，會睛明是一折；又自睛明上行，循臨泣、風池是一折。緣其穴曲折外，多難為科牽。故此作一至二十，次第以該之。一瞳子　，二聽會，三客主人，四頷厭，五懸顱，六懸厘，七曲鬢，入率谷，九天沖，十浮白，十一竅陰，十二完骨，十三本神，十四陽白，十五臨泣，十六目窗，十七正營，十八承靈，十九腦空，二十風池。</p>
<p>足少陽膽之經。凡四十三穴，左右共八十六穴。是經多氣少血。</p>
<p>膽在肝之短葉間，重二兩三銖。包精汁三合。</p>
<p>足少陽之脈：起於目銳　，上抵頭角，下耳後。</p>
<p>足少陽經，起目銳　之瞳子　，於是循聽會、客主人，上抵頭角，循頷厭，下懸顱、懸厘，由懸厘外循耳上發際，至曲鬢、率谷。由率谷外折，下耳後，循天衝、浮白、竅陰、完骨，又自完骨外折，上過角孫，循本神，過曲差，下至陽白會睛明，復從睛明上行，循臨泣、目窗、正營、承靈、腦空、風池云。瞳子　：在目外五分。聽會：在耳前陷中，上關下一寸動脈宛宛，張口得之。客主人：在耳前起骨上廉，開口有空，動脈宛宛中。頷厭：在曲周下顳　（一名腦空）上廉。懸顱：在曲周上顳　中。懸厘：在曲周上顳　下廉。曲鬢：在耳上發際，曲隅陷中，鼓頷有孔。率谷：在耳上如前三分，入發際一寸五分，陷者宛宛中。天沖：在耳後發際二寸耳上，如前三分。浮白：在耳後入發際一寸。竅陰：在完骨上、枕骨下，搖動有空。完骨：在耳後入發際四分。角孫：見手少陽經，手足少陽之會。本神：在曲差旁一寸五分，入發際四分。曲差：見足太陽經。陽白：在眉上一寸，直瞳子。睛明：見足太陽經，手足太陽、少陽、足陽明五脈之會。臨泣：在目上直入發際五分陷中。目窗：在臨泣後一寸。正營：在目窗後一寸。承靈：在正營後一寸五分。腦空：在承靈後一寸五分，挾玉枕骨下陷中。風池：在顳　後發際陷中。</p>
<p>循頸行手少陽之前，至肩上，卻交出少陽之後，入缺盆。</p>
<p>自風池循頸，過天牖穴，行手少陽脈之前，下至肩，上循肩井，卻左右相交，出手少陽之後，過大椎、大杼、秉風，當秉風前，入缺盆之外。天牖：見手少陽經。肩井：在肩上陷中，缺盆上大骨前一寸半，以三指按取之，當中指下陷中者是。大椎：見督脈，手足三陽、督脈之會。大杼：見足太陽經，足太陽、少陽之會。秉風：見手太陽經，手太陽、陽明、手足少陽之會。缺盆：見足陽明經。</p>
<p>其支者：從耳後，入耳中出走耳前，至目銳　後。</p>
<p>其支者：從耳後顳　間，過翳風之分，入耳中，過聽宮，出走耳前，復自聽會至目銳　，瞳子　之分也。</p>
<p>翳風：見手少陽經，手足少陽之會。聽宮：見手太陽經，手足少陽、太陽三脈之會。聽會、瞳子　：見前。</p>
<p>其支者：別目銳　，下大迎，合手少陽抵於　（校注：面顴也，亦稱秀骨。《五音集韻》音拙，《集韻》音骨，用　當是不欲與「當顴」之顴重復，可與前　字注互參，）下加頰車，下頸合缺盆，下胸中貫膈，絡肝，屬膽。</p>
<p>其支者，別自目外瞳子　而下大迎，合手少陽於　，當顴　穴之分，下臨頰車，下頸，循本經之前，與前之入缺盆者相合，下胸中天池之外，貫膈，即期門之所絡肝，下至日月之分屬於膽也。大迎：見足陽明經。</p>
<p>顴、頰車：手太陽穴。天池：手心主穴，手厥陰、足少陽之會。期門：足厥陰穴。日月：見下文，膽之募也。</p>
<p>循脅裡，出氣衝，繞毛際，橫入髀厭中。</p>
<p>脅，　也。腋下為脅。曲骨之分為毛際。毛際兩旁動脈中為氣衝。楗骨之下為髀厭，即髀樞也。自屬膽處，循脅內章門之裡，出氣衝，繞毛際，遂橫入髀厭中之環跳也。章門：足厥陰穴，足少陽、厥陰之會。氣衝：足陽明穴。環跳：在髀樞中。</p>
<p>其直者：從缺盆下腋，循胸過季脅，下合髀厭中，以下循髀陽，出膝外廉。</p>
<p>脅骨之下為季脅。此直者，從缺盆直下腋，循胸，歷淵液、輒筋、日月穴，過季脅，循京門、帶脈、五樞、維道、居　，由居　入上　、中　、長強，而下與前之入髀厭者相合，乃下循髀外，行太陽、陽明之間，歷中瀆、陽關，出膝外廉，抵陽陵泉也。淵液：在腋下三寸宛宛中，舉臂取之。輒筋：在腋下三寸，復前行一寸，著脅陷中。日月：在期門下五分。京門：在監骨下，腰中挾脊季肋本。帶脈：在季肋下一寸八分。五樞：在帶脈下三寸。維道：在章門下五寸三分。居　：在章門下八寸三分，監骨上陷中。上　、中　：並見足太陽經。</p>
<p>上為足少陽、太陽之絡，中　則足少陰、少陽所結之會也。長強：見督脈，足少陰、少陽所結之會。中瀆：在髀骨外，膝上五寸，分肉間陷中。陽關：在陽陵泉上三寸，犢鼻外陷中。陽陵泉：在膝下一寸，外廉陷中。</p>
<p>下外輔骨之前，直下抵絕骨之端，下出外踝之前，循足跗上，入小指次指之間。</p>
<p>外為輔骨。外踝以上為絕骨。足面為跗。自陽陵泉下外輔骨前，歷陽交、外丘、光明，直下抵絕骨之端，循陽輔，懸鐘而下，出外踝之前至丘墟，循足面之臨泣、地五會、俠　，乃上入小指次指之間，至竅陰而終也。陽交：在足外踝上七寸，斜屬三陽分肉之間。外丘：在足外踝上七寸。光明：在足外踝上五寸。陽輔：在足外踝上四寸，輔骨前，絕骨端，如前之分，去丘墟七寸。懸鐘：在足外踝上三寸，動脈中。丘墟：在足外踝下，如前去臨泣三寸。臨泣：在足小趾次趾本節後間陷中，去俠　一寸半。地五會：在足小趾次趾本節後陷中。俠　：在足小趾次趾歧骨間，本節前陷中。竅陰：在足小趾次趾端，去爪甲如韭葉。</p>
<p>其支者，別跗上，入大趾之間，循大趾岐骨內出其端，還貫入爪甲，出三毛。</p>
<p>足大趾本節後為歧骨。大趾爪甲後為三毛。其支者，自足跗上臨泣穴，別行入大趾循岐骨內出大趾端，還貫入爪甲，出三毛，交於足厥陰也。</p>
<p>是動：則病口苦，善太息，心脅痛不能轉側，甚則面有微塵，體無膏澤，足外反熱，是謂陽厥。是主骨所生病者：頭角頷痛，目銳　痛，缺盆中腫痛，腋下腫，馬刀挾癭，汗出振寒，瘧，胸脅痛，髀膝外至脛絕骨外踝前及諸節皆痛，小趾次趾不用。盛者：人迎大一倍於寸口。虛者：人迎反小於寸口也。</p>
<p>，《廣韻》力嘲切，深空之貌，即空隙之謂也，江西席橫家針灸書中，諸　字皆作　。豈　聲相近而然，今悉擬改定，雖然，所改不盡者，亦不必苦求之也。</p>
<h4>足厥陰肝經穴歌</h4>
<p><a href="_files/p06-d29a12.bmp">足厥陰肝經之圖</a></p>
<p>足厥陰經十三穴。起於大敦行間接。太衝中封注蠡溝。中都膝關曲泉收。陰包五裡走陰廉。陰廉章門期門啟。</p>
<p>足厥陰肝之經。凡十三穴，左右共二十六穴。是經多血少氣。</p>
<p>肝之為臟，左三葉，右四葉，凡七葉。其治在左。其臟在右脅右腎之前，並胃著脊之第九椎。</p>
<p>足厥陰之脈：起於大趾聚毛之上，循足跗上廉，去內踝一寸。</p>
<p>足大趾爪甲後為三毛，三毛後橫紋為聚毛。去，相去也。足厥陰起於大趾聚毛之大敦穴，循足跗上廉，歷行間、太衝，抵內踝一寸之中封也。大敦：在足大趾端，去爪甲如韭葉，及三毛中。行間：在足大趾間，動脈應手。太衝：在足大趾本節後二寸，或云一寸半動脈陷中。中封：在足內踝前一寸陷中，仰而取之。</p>
<p>上踝八寸，交出太陰之後，上　內廉。</p>
<p>自中封上踝，過三陰交，歷蠡溝、中都，復上一寸，交出太陰之後，上　內廉，至膝關、曲泉。三陰交：見足太陰經，足少陰、太陰、厥陰之交會也。蠡溝：在內踝上五寸。中都：在內踝上七寸，　骨中。膝關：在犢鼻下二寸陷中。曲泉：在膝內輔骨下，大筋上，小筋下，陷中，屈膝得之，在膝橫紋頭是。</p>
<p>循股，入陰中，環陰器，抵小腹，挾胃屬肝絡膽。</p>
<p>髀內為股。臍下為小腹。由曲泉上行，循股內之陰包、五裡、陰廉，遂當衝門、府舍之分，入陰毛中，左右相交，環繞陰器，抵小腹而上會曲骨、中極、關元，復循章門，至期門之所挾胃屬肝下日月之分，絡於膽也。</p>
<p>陰包：在膝上四寸，股內廉兩筋間。五裡：在氣衝下三寸，陰股中動脈。陰廉：在羊矢下，去氣衝二寸，動脈中。衝門、府舍，見足太陰。曲骨：見任脈，足厥陰、任脈之會。中極、關元：見任脈，足三陰，任脈之會也。</p>
<p>章門：在大橫外，直臍季肋端，側臥屈上足，伸下足，舉臂取之。期門：直兩乳第二肋端，肝之募也。日月：見足少陽經。</p>
<p>上貫膈，布脅肋，循喉嚨之後，上入頏顙，連目系，上出額與督脈會於巔。</p>
<p>目內連深處為目系。頏顙：咽顙也。自期門上貫膈，行食竇之外，大包之裡，散布脅肋，上云門、淵腋之間，人迎之外，循喉嚨之後，上入頏顙，行大迎、地倉、四白、陽白之外，連目系，上出額，行臨泣之裡，與督脈相會於巔頂之百會也，食竇、大包：足太陰經穴。云門：手太陰經穴。淵腋：足少陽經穴。人迎、大迎、地倉、四白：見足陽明。陽白、臨泣：見足少陽。百會：見督脈。</p>
<p>其支者，從目系下頰裡，環唇內。</p>
<p>前此連目系，上出額。此支從目系下行任脈之外，本經之裡，下頰裡，交環於口唇之內。</p>
<p>其支者，復從肝，別貫膈，上注肺。</p>
<p>此交經之支，從期門屬肝處別貫膈，行食竇之外，本經之裡，上注肺中，下行至中焦，挾中脘之分，以交於手太陰也。</p>
<p>是動：則病腰痛不可以俯仰，丈夫　疝。婦人小腹腫，甚則嗌干，面塵脫色。是主肝所生病者：胸滿，嘔逆，洞泄，狐疝，遺溺，癃閉。盛者：寸口大一倍於人迎。虛者：寸口反小於人迎也。</p>
<p>凡此十二經之病，盛則瀉之，虛則補之，熱者疾之，寒則留之，陷下則灸之，不盛不虛以經取之。</p>
<h4>督脈經穴歌</h4>
<p><a href="_files/p06-d29a13.bmp">督脈之圖</a></p>
<p>督脈背中行（校注：應作「督脈行背正中行」，本穴歌為七言之體，唯首句五言，不妥，顯有漏字。應增行、正二字，合於歌括之體。）二十七穴始長強。腰俞陽關命門當。</p>
<p>懸樞脊中走筋縮。至陽靈台神道長。身柱陶道大椎俞。啞門風府連腦戶。強間後頂百會前。前頂囟會上星圓。</p>
<p>神庭素　水溝裡。兌端齦交斯已矣。</p>
<p>督脈：凡二十七穴。</p>
<p>督之為言，都也。行背部之中行，為陽脈之都綱，奇經八脈之一也。</p>
<p>督脈者，起於下極之俞。</p>
<p>下極之俞，兩陰之間，屏翳兩筋間為篡，篡內深處為下極，督脈之所始也。</p>
<p>並於脊裡，上至風府，入腦上巔循額至鼻柱，屬陽脈之海。</p>
<p>脊之為骨，凡二十一椎，通項骨三椎，共二十四椎。自屏翳而起，歷長強穴，並脊裡而上行，循腰俞、陽關、命門、懸樞、脊中、筋縮、至陽、靈台、神道、身柱，過風門，循陶道、大椎、啞門，至風府入腦，循腦戶、強間、後頂，上巔，至百會、前頂、囟會、上星、神庭，循額至鼻柱，經素　、水溝、兌端，至齦交而終焉。云陽脈之海者：以人之脈絡，周流於諸陽之分，譬猶水也，而督脈則為之都綱，故曰陽脈之海。屏翳：見任脈，任脈別絡，挾督脈、衝脈之會。長強：在脊　端。腰俞：在第二十一椎節下間。陽關：在第十六椎節下間。命門：在第十四椎節下間。懸樞：在第十三椎下間。脊中：在第十一椎節下間。筋縮：在第九椎節下間。至陽：在第七椎節下間。靈台：在第六椎節下間。神道：在第五椎節下間。身柱：在第三椎節下間。風門：見足太陽經，乃督脈、足太陽之會。陶道：在大椎節下間陷中。自陽關至此諸穴，並俯而取之。大椎：在第一椎上陷中。啞門：在風府後，入發際五分。風府：在項入發際一寸。腦戶：在枕骨上，強間後一寸五分。強間：在後項一寸五分。</p>
<p>後頂：在百會後一寸五分。百會：一名三陽五會，在前頂後一寸五分，頂中央旋毛中，直兩耳尖可容豆。前頂：在囟會後一寸五分陷中。囟會：在上星後一寸陷中。上星：在神庭後入發際，一寸陷中容豆。神庭：直鼻上入發際五分。素　：在鼻柱上端。水溝：在鼻柱下人中。兌端：在唇上端。齦交：在唇內齒上齦縫中。</p>
<h4>任脈經穴歌</h4>
<p><a href="_files/p06-d29a14.bmp">任脈經穴圖</a></p>
<p>任脈分三八（校注：應作「任脈引腹分三八」，與督脈，一行背，一行腹，開宗明旨，歌括統一，成七言之體，理據同前。）起於會陰上曲骨。中極關元到石門。氣海陰交神闕立。水分下脘循建裡，中脘上脘巨闕起。鳩尾中庭膻中萃。玉堂紫宮華蓋樹。璇璣天突廉泉清。上頤還以承漿承。</p>
<p>任脈：凡二十四穴。</p>
<p>任之為言，妊也。行腹部中行，為婦人生養之本，奇經之一也。</p>
<p>任脈者：起於中極之下，以上毛際，循腹裡，上關元，至喉嚨，屬陰脈之海也。</p>
<p>任與督，一源而二歧，督則由會陰而行背；任則由會陰而行腹。夫人身之有任督，猶天地之有子午也；人身之任督以腹背言，天地之子午以南北言，可以分，可以合者也。分之於以見陰陽之不雜，合之於以見渾淪之無間。一而二，二而一者也。任脈起於中極之下，會陰之分也。由是循曲骨，上毛際，至中極，行腹裡，上循關元、石門、氣海、陰交、神闕、水分、下脘、建裡、中脘、上脘、巨闕、鳩尾、中庭、膻中、玉堂、紫宮、華蓋、璇璣、天突、廉泉，上頤循承漿，環唇上，至齦交分行，系兩目下之中央，會承泣而終也。云陰脈之海者，亦以人之脈絡，周流於諸陰之分，譬猶水也，而任脈則為之總任焉，故曰陰脈之海。會陰：一名屏翳，在兩陰間。曲骨：在橫骨上，毛際陷中，動脈應手。中極：在關元下一寸。關元：在臍下三寸。石門：在臍下二寸。氣海：在臍下一寸五分。陰交：在臍下一寸。神闕：當臍中。水分：在下脘下一寸，上臍一寸。下脘：在建裡下一寸。建裡：在中脘下一寸。中脘：在上脘下一寸，《靈樞經》云：　，即岐骨也。以下至天樞，天樞足陽明經穴，挾臍二寸，蓋與臍平直也。長八寸，而中脘居中是也。然人胃有大小，亦不可拘以身寸，但自　至臍中，以八寸為度，各依部分取之。上脘：在巨闕下一寸，當一寸五分，去蔽骨三寸。巨厥：在鳩尾下一寸。鳩尾：在蔽骨之端，言其骨垂下如鳩形，故以為名，臆前蔽骨下五分也；人無蔽骨者，從歧骨際下行一寸。中庭：在膻中下一寸六分。膻中：在玉堂下一寸六分，兩乳間。玉堂：在紫宮下一寸六分。紫宮：在華蓋下一寸六分。華蓋，在璇璣下二寸，《資生經》云一寸。璇璣：在天突下一寸陷中。天突：在頸結喉下一寸宛宛中。廉泉：在頸下結喉上舌本，陰維、任脈之會，仰而取之。承漿，在唇下陷中，任脈足陽明之會。齦交：見督脈，任、督二脈之會。承泣：見足陽明，蹺脈、任脈、足陽明之會也。</p>
<p>按　任督二脈之直行者，為腹背中行諸穴所系，今特取之，以附十二經之後，如《骨空論》所載者，茲不與焉。其余如衝、帶、維、蹺所經之穴，實則寄會於諸經之間爾。誠難與督任二脈之灼然行腹背者比，故此得以略之。雖然，因略以致詳，亦不害兼取也，故其八脈全篇，仍別出於左方云。</p>
<p>在十四經正文，並上金蘭循經同。</p>
<h2>卷下</h2>
<h3>奇經八脈篇</h3>
<p>脈有奇常，十二經者，常脈也；奇經八脈，則不拘於常，故謂之奇經。蓋以人之氣血，常行於十二經脈，其諸經滿溢，則流入奇經焉。奇經有八脈：督脈督於後，任脈任於前，衝脈為諸脈之海，陽維則維絡諸陽，陰維則維絡諸陰。陰陽自相維持，則諸經常調；維脈之外有帶脈者，束之猶帶也；至於兩足蹺脈，有陰有陽，陽蹺行諸太陽之別，陰蹺本諸少陰之別。譬猶聖人，圖設溝渠，以備水潦，斯無濫溢之患。人有奇經，亦若是也。今總集奇經八脈所發者，氣穴處所，共成一篇，附之發揮之後，以備通考云。</p>
<h4>督脈</h4>
<p>督脈者，起於小腹以下骨中央，女子入系（校注，萬歷本、東溪堂本均是「入系」，「入」與「下骨」之「下」同為動詞，無錫本作「以」，誤）廷孔之端。其絡循陰器，合篡間，繞篡後，別繞臀，至少陰，與巨陽中絡者合少陰，上腹內後廉，貫脊屬腎；與太陽起目內　，上額交巔上，入絡腦，還出別下項，循肩膊內，挾脊抵腰中，入循膂絡腎。</p>
<p>其男子循莖下至篡，與女子等。其少腹直上者，貫臍中央，上貫心，入喉，上頤環唇，上系兩目之中。此生病：從少腹上衝心而痛，不得前後為沖疝，其女子不孕、癃痔、遺溺，嗌干，治在督脈。</p>
<p>督脈之別，名曰長強，俠膂，上項而散，上頭，下當肩胛左右，別走太陽，入貫膂。</p>
<p>實則脊強，虛則頭重，取之所別。故《難經》曰：督脈者，起於下極之俞，並於脊裡，上至風府，入屬於腦，上巔，循額至鼻柱，屬陽脈之海也。此為病，令人脊強反折。</p>
<p>督脈，從頭循脊骨入　，長四尺五寸，凡二十七穴。</p>
<p>按《內經》督脈所發者二十八穴，據法，十椎下一穴名中樞，陰尾骨兩傍二穴名長強，共有二十九穴，今多齦交一穴，少中樞一穴，會陽二穴，則系督脈別絡，與少陽會，故止載二十七穴。穴已見前。</p>
<h4>任脈</h4>
<p>任脈者，與衝脈皆起於胞中：循脊裡，為經絡之海。其浮而外者，循腹上行，會於咽喉，別而絡唇口，血氣盛，則肌肉熱；血獨盛，則滲灌皮膚生毫毛。婦人有餘於氣、不足於血，以其月事數下，任沖並傷故也。任沖之交脈，不營其口唇，故髭須不生。是以任脈為病：男子內結七疝，女子帶下瘕聚。故《難經》曰：任脈起於中極之下，以上毛際，循腹裡，上關元，至咽喉，上頤、循面入目，屬陰脈之海。</p>
<p>凡此任脈之行，從胞中上注目，長四尺五寸，總二十四穴。穴見前。</p>
<p>按《內經》云，任脈所發者二十八穴，經闕一穴。實有二十七穴，內齦交一穴屬督脈，承泣二穴，屬足陽明蹺脈，故止載二十四穴。穴已見前。</p>
<h4>陽蹺脈</h4>
<p>陽蹺脈者，起於跟中，循外踝上行，入風池。其為病也，令人陰緩而陽急。兩足蹺脈本太陽之別，合於太陽，其氣上行，氣並相還，則為濡目，氣不營則目不合。男子數其陽，女子數其陰，當數者為經，不當數者為絡也。蹺脈長八尺。所發之穴，生於申脈外踝下屬足太陽經，以輔陽為　外踝上，本於仆參，跟骨下，與足少陰會於居　章門下，又與手陽明會於肩　及巨骨並在肩端，又與手足太陽陽維會於　俞在肩　後胛骨上廉，與手足陽明會於地倉口吻兩旁，又與手足陽明會於巨　鼻兩旁，又與任脈足陽明會於承泣目下七分，以上為陽蹺脈之所發，凡二十穴，陽蹺脈病者宜刺之。</p>
<h4>陰蹺脈</h4>
<p>陰蹺脈者，亦起於跟中，循內踝上行，至咽喉，交貫衝脈。</p>
<p>此為病者，令人陽緩而陰急。故曰蹺脈者，少陰之別，別於然谷之後，上內踝之上，直上循陰股入陰，上循胸裡，入缺盆，上出人迎之前，入鼻，屬目內　，合於太陽。女子以之為經，男子以之為絡。兩足蹺脈，長八尺，而陰蹺之　在交信內踝上二寸，陰蹺脈病者取此。</p>
<h4>衝脈</h4>
<p>衝脈者，與任脈皆起於胞中，上循脊裡，為經絡之海，其浮於外者，循腹上行，會於咽喉，別而絡唇口。</p>
<p>故曰：衝脈者，起於氣衝，並足少陰之經，挾臍上行，至胸中而散。</p>
<p>此為病，令人逆氣裡急。《難經》則曰：並足陽明之經，以穴考之，足陽明挾臍左右各二寸而上行，足少陰挾臍左右各五分而上行。《針經》所載：衝脈與督脈，同起於會陰，其在腹也，行乎幽門、通谷、陰都、石關、商曲、肓俞、中注、四滿、氣穴、大赫、橫骨，凡二十二穴，皆足少陰之分也。然則衝脈，並足少陰之經明矣。</p>
<h4>陽維脈</h4>
<p>陽維、維於陽，其脈起於諸陽之會，與陰維皆維絡於身。若陽不能維於陽，則溶溶不能自收持。其脈氣所發，別於金門，在足外踝下太陽之　，以陽交為　在外踝上七寸，與手足太陽及蹺脈會於　俞肩後胛上廉，與手足少陽會於天　在缺盆上，又會於肩井肩上，其在頭也，與足少陽會於陽白在肩上，上於本神及臨泣，上至正營，循於腦空，下至風池，其與督脈會，則在風府及啞門。《難經》云：陽維為病，苦寒熱。此陽維脈氣所發，凡二十四穴。</p>
<h4>陰維脈</h4>
<p>陰維、維於陰。其脈起於諸陰之交。若陰不能維於陰，則悵然失志，其脈氣所發者，陰維之　，名曰築賓。與足太陰會於腹哀、大橫，又與足太陰、厥陰會於府舍、期門，與任脈會於天突、廉泉。《難經》云：陰維為病，苦心痛。此陰維脈氣所發，凡十二穴。</p>
<h4>帶脈</h4>
<p>帶脈者，起於季脅，回身一周。其為病也，腰腹縱容，如囊水之狀。其脈氣所發，在季脅下一寸八分。正名帶脈，以其回身一周如帶也。又與足少陽會於維道。此帶脈所發，凡四穴。</p>
<p>以上雜取《素問》、《難經》、《甲乙經》、《聖濟總錄》，參合為篇。</p>
