<header><h1>蘭室秘藏</h1></header>
<dl class="元資料" data-type="book">
<div><dt>作者</dt><dd>李杲</dd></div>
<div><dt>朝代</dt><dd>金</dd></div>
<div><dt>地域</dt><dd>真定（今河北省保定市）</dd></div>
</dl>
<h2>蘭室秘藏目錄〔待補〕</h2>
<h2>蘭室秘藏卷上  金  真定李杲撰</h2>
<h3>飲食勞倦門</h3>
<h4>飲食所傷論</h4>
<p>陰陽應象論云：水穀之寒熱，感則害人六府。痹論云：陰氣者，靜則神藏，躁則消亡。飲食自倍，腸胃乃傷，此乃混言之也。分之為二，飲也，食也。飲者，水也，無形之氣也，因而大飲則氣逆形寒，飲冷則傷肺，病則為喘咳，為腫滿，為水瀉。輕則當發汗利小便，使上下分消其濕，解酲湯五苓散生薑半夏枳實白朮之類是也；如重而畜積為滿者，芫花大戟甘遂牽牛之屬利下之，此其治也。食者，物也，有形之血也。如生氣通天論云：因而飽食，筋脈橫解，腸澼為痔。又云：食傷太陰厥陰，寸口大於人迎兩倍三倍者，或嘔吐，或痞滿，或下痢腸澼，當分寒熱輕重而治之。輕則內消，重則除下。如傷寒物者，半夏神麯乾薑三稜廣茂巴豆之類主之；如傷熱物者，枳實白朮青皮陳皮麥柏黃連大黃之類主之。亦有宜吐者，陰陽應象論云：在上者因而越之，瓜蒂散之屬主之。然而不可過劑，過劑則反傷腸胃，蓋先因飲食自傷，又加之以藥過，故腸胃復傷而氣不能化，食愈難消矣。漸至羸困，故五常政大論云：大毒治病，十去其六；小毒治病，十去其七。凡毒治病，不可過之，此聖人之深戒也。</p>
<h4>勞倦所傷論</h4>
<p>調經篇云：陰虛生內熱。岐伯曰：有所勞倦，形氣衰少，穀氣不盛，上焦不行，下脘不通而胃氣熱，熱氣熏胸中，故內熱。舉痛論云：勞則氣耗，勞則喘且汗出，內外皆越，故氣耗矣。夫喜怒不節，起居不時，有所勞傷，皆損其氣，氣衰則火旺，火旺則乘其脾土，脾主四肢，故困熱，無氣以動，懶於語言，動作喘乏，表熱自汗，心煩不安，當病之時，宜安心靜坐以養其氣，以甘寒瀉其熱火，以酸味收其散氣，以甘溫補其中氣。經言：勞者溫之，損者溫之者是也。金匱要略云：平人脈大為勞，脈極虛亦為勞矣。夫勞之為病，其脈浮大，手足煩熱，春夏劇，秋冬差。脈大者，熱邪也；極熱者，氣損也。春夏劇者，時助邪也；秋冬差者，時勝邪也，以黃耆建中湯治之，此亦溫之之意也。夫上古聖人飲食有節，起居有常，不妄作勞，形與神俱，百歲乃去，此謂治未病也。今時之人去聖人久遠，則不然，飲食失節，起居失宜，妄作勞役，形氣俱傷，故病而後藥之，是治其已病也。推其百病之源，皆因飲食勞倦而胃氣元氣散解，不能滋榮百脈，灌溉臟腑，衛護周身之所致也。故蒼天之氣，貴清靜陽氣，惡煩勞噫，飲食喜怒之間，寒暑起居之際，可不慎歟。</p>
<p>調中益氣湯：</p>
<p>治因飢飽勞役，損傷脾胃，元氣不足，其脈弦洪緩而沉，按之中之下，得時一澀。其證，四肢滿悶，肢節疼痛難以屈伸，身體沉重，煩心不安，忽肥忽瘦，四肢懶倦，口失滋味，腹難舒伸，大小便清利而數，或上飲下便，或大便澀滯，或夏月餐泄，米穀不化，或便後見血，或便見白膿，胸滿短氣，咽膈不通，痰唾稠粘，口中沃沫，食入反出，耳鳴耳聾，目中流火，視物昏花，努肉紅絲，熱壅頭目，不得安臥，不思飲食，並皆治之。</p>
<p>橘皮（如腹中氣不轉運，加木香一分，如無此證，不加），黃柏（酒洗各二分），升麻（此一味為上氣不足，胃氣與脾氣下流，乃補上氣，從陰引陽），柴胡（各三分），人參（有嗽者去之），炙甘草，蒼朮（各五分），黃耆（一錢）。</p>
<p>如時顯熱躁，是下元陰火蒸蒸然發也，加生地黃（二分），黃柏（三分），如大便虛坐不得，或大便了而不了，腹中常常逼迫，皆是血虛血澀，加當歸身（三分），無此證則去之。如身體沉重，雖小便數多，亦加茯苓（二分），黃柏（三分），澤瀉（五分），蒼朮（一錢），時暫從權而去濕也，不可常用，兼足太陰已病，其脈亦絡於心中，故顯濕熱相合而生煩亂。如胃氣不和，加湯洗半夏（五分），生薑（三片），有嗽者，加生薑生地黃（二分）以製半夏之毒。如痰厥頭痛，非半夏不能除此足太陰脾邪所作也，如無已上證，只服前藥。</p>
<p>右件剉如麻豆大，都作一服，水二大盞煎，去柤，稍熱食遠服之，寧心絕慮，靜坐少語，藥必為效耳。</p>
<p>如夏月，須加白芍藥（三分），如春月，腹中痛，尤宜加；如惡熱而渴，或腹痛者，更加芍藥（五分），生黃芩（二分），如惡寒腹痛，加中桂（三分），去黃芩，謂之桂枝芍藥湯，亦於前藥中加之。</p>
<p>如冬月腹痛，不可用芍藥，蓋大寒之藥也，只加乾薑（二分），或加半夏（五七分），以生薑少許製之。</p>
<p>如秋冬之月，胃脈四道，為衝脈所逆，脇下少陽脈二道而反上行，名曰厥逆，其證氣上衝咽不得息，而喘息有音不得臥，加吳茱萸（五分至一錢，湯洗去苦），觀厥氣多少而用之，亦於前藥中作一服服之。</p>
<p>如夏月有此證，為大熱也，此病隨四時為寒熱溫涼也，宜以黃連（酒洗），黃柏（酒浸），知母（酒浸，各等分），右為細末，熟湯為丸，如梧桐子大，每服一百丸或二百丸，白湯送下，空心服，仍多飲熱湯，服畢少時，便以美食壓之，使不令胃中停留，直至下元，以瀉衝脈之邪也，大抵治飲食勞倦所得之病，乃虛勞七損證也，常宜以甘溫平之甘多辛少，是其治也。</p>
<p>寬中喜食無厭丸（一名寬中進食丸）：</p>
<p>資形氣，喜飲食。</p>
<p>木香（五分），青皮，人參，乾薑（各一錢），炙甘草（一錢五分），白茯苓，澤瀉，檳榔，橘皮，白朮（各二錢），縮砂仁，豬苓（各二錢半），半夏（七錢），枳實（四錢），草豆蔻仁（五錢），神麯（五錢半炒），大麥柏麵（一兩炒）。</p>
<p>右為細末，湯浸蒸餅為丸，如梧桐子大，每服三五十丸，米湯下，食遠服。</p>
<p>交泰丸：</p>
<p>升陽氣瀉陰火，調榮氣進飲食，助精神，寬腹脇，除怠惰嗜臥，四肢沉困不收。</p>
<p>乾薑（炮製三分），巴豆霜（五分），肉桂（去皮搗一錢），人參（去蘆一錢），柴胡（去苗），白朮，小椒（炒，去汗子并閉目，各一錢五分），厚朴（去皮炒三錢，秋冬加七錢），苦楝（酒煮），白茯苓，縮砂仁（各三錢），知母（四錢，一半酒炒，一半酒洗，春夏用，秋冬去），川烏（炮製去皮膚，四錢五分），吳茱萸（湯洗七次，五錢），皂角（水洗，煨去皮弦），紫苑（去苗，各六錢），黃連（去鬚，七錢，秋冬減一錢五分）。</p>
<p>右除巴豆霜別研外，同為極細末，煉蜜為丸，如梧桐子大，每服十丸，溫水送下，食遠，虛實加減。</p>
<p>木香人參生薑枳朮丸：</p>
<p>開胃，進飲食。</p>
<p>乾生薑（二錢五分），木香（三錢），人參（三錢五分），陳皮（四錢），枳實（一兩炒），白朮（一兩五錢）。</p>
<p>右為細末，荷葉裹，燒飯為丸，如梧桐子大，每服三五十丸，溫水下，食前。</p>
<p>木香乾薑枳朮丸：</p>
<p>破除寒滯，氣消，寒飲食。</p>
<p>木香（三錢），乾薑（五錢炮），枳實（一兩炒），白朮（一兩五錢）。</p>
<p>右為細末，荷葉裹，燒飯為丸，如梧桐子大，每服三五十丸，溫水送下，食前。</p>
<p>扶脾丸：</p>
<p>治脾胃虛寒，腹中痛，溏瀉無度，飲食不化。</p>
<p>乾生薑，肉桂（各五分），乾薑，藿香，紅豆（各一錢），白朮，茯苓，橘皮，烏梅肉，訶子皮，炙甘草，半夏（各二錢），神麯（炒），大麥柏（炒，各四錢）。</p>
<p>右為細末，荷葉燒飯為丸，如梧桐子大，每服五十丸，白湯送下，食前。</p>
<p>和中丸：</p>
<p>補胃進食。</p>
<p>人參，乾生薑，陳皮（各一錢），乾木瓜（二錢），炙甘草（三錢）。</p>
<p>右為細末，湯浸蒸餅為丸，如梧桐子大，每服五十丸，白湯送下，食前。</p>
<p>檳榔丸：</p>
<p>破滯氣，消飲食。</p>
<p>炙甘草（一錢），木香，人參，檳榔（各二錢），陳皮（五錢）。</p>
<p>右為細末，湯浸蒸餅為丸，如梧桐子大，每服五十丸，白湯下，食前。</p>
<p>消積滯集香丸：</p>
<p>治傷生冷硬物不消。</p>
<p>京三稜，廣茂，青皮，陳皮，丁香皮，益智，川楝子，茴香（各一兩），巴豆（和皮米炒焦，五錢）。</p>
<p>右為細末，醋糊為丸，如綠豆大，每服五七丸，溫水生薑湯送下，食前服。</p>
<p>黃耆湯：</p>
<p>補胃除濕，和血益血，滋養元氣。木香（氣通者去之），藿香葉（各一錢），當歸（酒洗），陳皮（各二錢），人參，澤瀉（各五錢），黃耆（一兩）。</p>
<p>右㕮咀，每服五錢，水二大盞煎至一盞，如欲汗，加生薑煎，食遠熱服之。</p>
<p>黃耆當歸湯：</p>
<p>治熱上攻頭目，沿身胸背發熱。</p>
<p>當歸身（一錢酒洗），黃耆（五錢）。</p>
<p>右㕮咀，作一服，水二大盞煎至一盞，食前熱服。</p>
<p>參朮湯：</p>
<p>治脾胃虛弱，元氣不足，四肢沉重，食後昏悶。</p>
<p>黃柏（酒浸），當歸（各二分），柴胡，升麻（各三分），人參，陳皮，青皮（各五分），神麯末（七分），炙甘草，蒼朮（各一錢），黃耆（二錢）。</p>
<p>右㕮咀，都作一服，水二大盞煎至一盞，食遠服。</p>
<p>益智和中丸：（李秋合）。</p>
<p>木香，黃連，生地黃（各二分），黃耆，人參，麥門冬，神麯末，當歸身，乾生薑，陳皮，薑黃（各五分），縮砂仁（七分），桂花（一錢），桂枝（一錢五分），益智仁（二錢二分），炙甘草（二錢五分），麥柏麵（三錢），草豆蔻仁（四錢）。</p>
<p>右為細末，湯浸蒸餅為丸，如梧桐子大，每服五十丸，白湯下，細嚼亦當。</p>
<p>益胃散：</p>
<p>治因服寒藥過多，以致脾胃虛損，胃脘疼痛。</p>
<p>人參，甘草，縮砂仁，厚朴（各二錢），白豆蔻，薑黃，乾生薑，澤瀉（各三錢），益智仁（六錢），黃耆，陳皮（各七錢）。</p>
<p>右為麤末，每服三錢，水二盞，生薑五片，煎至一盞，去柤，食前溫服。</p>
<h4>脾胃虛損論</h4>
<p>易水，張先生常戒不可峻利，食藥下咽，未至藥丸施化，其標皮之力始開，便言快也，所傷之物已去，若更待一兩時辰許，藥盡化開，其藥峻利，必有情性，病去之後，脾胃既損，是真氣元氣敗壞，促人之壽，當時設下一藥枳實，一兩麩炒，黃色為度，白朮二兩，只此二味，荷葉裹，燒飯為丸，以白朮甘溫，甘溫補脾胃之元氣，其苦味，除胃中之濕熱，利腰臍間血，故先補脾胃之弱，過於枳實剋化之藥一倍；枳實味苦寒，泄心下之痞悶，消化胃中所傷，此一藥下胃，其所傷不能即去，須待一兩時辰許，食則消化，是先補其虛而後化其所傷，則不峻利矣。當是之時，未悟用荷葉燒飯為丸之理，老年味之始得，可謂奇矣。荷葉之物，中央空象震卦之體，震者，動也，人感之生，足少陽甲膽者，風也，生化萬物之根蒂也，內經云：履端於始，序則不愆，人之飲食入胃，營氣上行，即少陽甲膽之氣也；其手少陽三焦經，人之元氣也，手足經同法，便是少陽元氣生發也，胃氣，穀氣，元氣，甲膽上升之氣，一也，異名雖多，止是胃氣上升者也。荷葉之體生於水土之下，出於污濊之中，不為所染，挺然獨立，其色青，形乃空，青而象風木者也，食藥感此氣之化，胃氣何由不上升乎？其主意，用此一味為引用，可謂遠識深慮，合於道者也；更以燒飯和藥與白朮協力滋養穀氣而補，令胃厚，再不至內傷，其利廣矣，大矣。若內傷脾胃辛熱之物，酒肉之類，自覺不快，覓藥於醫，醫者亦不問所傷，付之集香丸小丁香丸，巴豆大熱藥之類下之，大便下則物去，遺留食之熱性，藥之熱性重傷元氣，則七神不熾，經云：熱傷氣，正謂此也，其人必無氣以動而熱困，四肢不舉，傳變諸疾，不可勝數，使人真氣自此衰矣；若傷生冷硬物，世醫或用大黃牽牛二味，大寒藥投之，隨藥下，所傷去矣，遺留食之寒性，藥之寒性，重瀉其陽，陽去則皮膚筋肉血脈無所依倚，便為虛損之證。論言及此，令人寒心，夫辛辣薄味之藥，無故不可亂服，非止牽牛而已，至真要大論云：五味入口，各先逐其所喜攻，攻者，剋伐瀉也；辛味下咽，先攻瀉肺之五氣，氣者，真氣元氣也，其牽牛之辛辣猛烈，傷人尤甚，飲食所傷腸胃邪，當以苦泄其腸胃可也，肺與元氣何罪之有，用牽牛大罪有五，此其一也。況胃主血所生病，為物所傷，物者，有形之物也，皆是血病，瀉其氣，其罪二也；且飲食傷之於中焦，止合剋化，消導其食，重瀉上焦肺中已虛之氣，其罪三也；食傷腸胃，當塞因塞用，又曰塞因塞用，枳實大黃苦寒之物，以泄有形是也，反以辛辣牽牛散瀉真氣，大禁四也；殊不知，鍼經有云：外來客邪，風寒傷人五臟，若誤瀉胃氣必死，誤補亦死，其死也，無氣以動，故靜；若內傷腸胃而反瀉五臟必死，誤補亦死，其死也，陰氣有餘，故躁；今內傷腸胃，是謂六腑不足之病，反瀉上焦虛無肺氣，肺者，五臟之一數也，雖不即死，若更旬日之間，必暗損人壽數，謂如人壽應百歲，為牽牛之類朝損暮損，其元氣消耗，不得終其天年，但人不覺耳，將為天年已盡，此乃暗裏折人壽數，大禁五也。故特著此論并方，庶令四海聞而行之，不至夭橫耳，此老夫之用心也。胃氣不可不養，復明養胃之理，內經云：安穀者昌，絕穀者亡，水去則榮散，穀消則衛亡，榮散衛亡，神無所依。仲景云：水入於經，其血乃成，穀作於胃，脈道乃行，故血不可不養，胃不可不溫，血養胃，溫榮衛，將行常，有天命。穀者，身之大柄也，書與周禮皆云：金木水火土，穀惟脩以奉養五臟者也，內傷飲食，固非細事，苟妄服食藥而輕生殞命，其可乎哉？黃帝鍼經有說：胃惡熱而喜清冷，大腸惡清冷而喜熱，兩者不和，何以調之？岐伯曰：調此者，食飲衣服亦欲適寒溫，寒無淒愴，暑無出汗，飲食熱無灼灼，寒無淒淒，寒溫中適，故氣將持，乃不致邪僻也，是必有因用，豈可用俱寒俱熱之藥，倉卒致損，與以刃殺人者，何異？內經說：內傷者，其氣口脈反大於人迎一倍二倍三倍，分經用藥；又曰：上部有脈，下部無脈，其人當吐不吐者，死；如但食不納，惡心欲吐者，不問一倍二倍，不當正與瓜蒂散吐之，但以指或以物探去之，若所傷之物去不盡者，更診其脈，問其所傷，以食藥去之，以應塞因塞用，又謂之寒因寒用，泄而下降，乃應太陰之用，其中更加升發之藥，令其元氣上升，塞因通用，因曲而為直，何為曲？內傷胃氣是也，何為直？因而升發胃氣是也，因其飲食之內傷而使生氣增益胃氣完復，此乃因曲而為之直也。若分經用藥，其所傷之物寒熱溫涼生硬柔軟所傷不一，難立定一法，只隨所傷之物不同各立治法，臨時加減用之，其用藥，又當問病人從來稟氣盛衰，所傷寒物熱物，是喜食而食之耶？不可服破氣藥；若乘饑因而傷之耶？當益胃氣；或為人所勉勸強食之，宜損血而益氣也，診其脈，候傷在何臟，可與對病之藥，豈可妄瀉天真元氣以輕喪身寶乎？且如先食熱物而不傷，繼之以寒物，因後食致前食亦不消化而傷者，當問熱食寒食孰多孰少，斟酌與藥，無不當矣。喻如傷熱物二分寒物一分，則當用寒藥二分熱藥一分相合而與之，則榮衛之氣必得周流，更有或先飲酒而後傷寒冷之食及傷熱食冷水與冰，如此不等，皆當驗其節次所傷之物，酌量寒熱之劑，分數各各對證與之，無不取效，自忖所定藥方，未敢便謂能盡藥性之理，姑用指迷辯惑耳。</p>
<p>三黃枳朮丸：</p>
<p>治傷肉濕麵辛辣味厚之物，填塞悶亂不快。</p>
<p>枳實（麩炒五錢），黃連（去鬚酒洗），大黃（濕紙裹煨），神麯（炒），橘皮，白朮（各一兩），黃芩（二兩）。</p>
<p>右為極細末，湯浸蒸餅為丸，如綠豆一倍大，每服五十丸，白湯下，臨時量所傷多少，加減服之。</p>
<p>巴豆三稜丸（一名木香見現丸）：</p>
<p>治傷生冷硬物，心腹滿悶疼痛。</p>
<p>巴豆霜（五分），木香（二錢），升麻，柴胡（各三錢），草豆蔻（麵裹煨熟用仁），香附子（炒各五錢），神麯（炒黃色），石三稜（去皮煨），京三稜（煨各一兩）。</p>
<p>右為細末，湯浸蒸餅為丸，如綠豆一倍大，每服一二十丸，溫白湯下，量所傷多少，加減服之。</p>
<p>白朮丸：</p>
<p>治傷豆粉濕麵油膩之物。</p>
<p>白礬（枯三錢），黃芩（五錢），橘皮（七錢），神麯（炒黃色），半夏（湯洗七次），白朮（各一兩），枳實（麩炒黃色，一兩一錢）。</p>
<p>右為極細末，湯浸蒸餅為丸，如綠豆大，每服三五十丸，白湯下，素食多用乾薑，故加黃芩以瀉之。</p>
<p>草豆蔻丸：</p>
<p>治秋冬傷寒冷物，胃脘當心而痛，上支兩脇咽膈不通。</p>
<p>炒鹽（五分），乾生薑，青皮，橘皮（各二錢），麥柏麵（炒黃色），生黃芩（冬月不用），半夏（湯洗七次），神麯（炒各五錢），草豆蔻（麵裹煨，去皮取仁），白朮（各一兩），枳實（麩炒，二兩）。</p>
<p>右為極細末，湯浸蒸餅為丸，如綠豆大，每服五十丸，白湯下。</p>
<h3>中滿腹脹門</h3>
<h4>中滿腹脹論</h4>
<p>六元政紀論云：太陰所至為中滿，太陰所至為音滿，諸濕腫滿皆屬脾土。論云：脾乃陰中之太陰，同濕土之化，脾濕有餘，腹滿食不化，天為陽為熱，主運化也，地為陰為濕，主長養也，無陽則陰不能生化，故云：藏寒生滿病。調經篇云：因飲食勞倦損傷脾胃，始受熱中，未傳寒中，皆由脾胃之氣，虛弱不能運化精微而制，水穀聚而不散而成脹滿。經云：腹滿䐜脹，支膈胠脇，下厥上冒，過在太陰陽明，乃寒濕鬱過也。脈經所謂：胃中寒則脹滿者是也。（鍼經三卷雜病第八），腹滿大便不利，上走胸溢，喘息喝喝然，取足少陰；又云：脹取三陽，三陽者，足太陽寒水為脹，與通評虛實論說：腹暴滿，按之不下，取太陽經，絡胃之募也正同，取者瀉也。經云：中滿者瀉之於內者是也，宜以辛熱散之，以苦瀉之，淡滲利之，使上下分消其濕，正如開鬼門潔淨府，溫衣繆刺其處，是先瀉其血絡，後調其真經，氣血平，陽布神清，此治之正也。或曰：諸脹腹大皆屬於熱者，何也？此乃病機總辭，假令外傷風寒，有餘之邪自表傳裏，寒變為熱而作胃實腹滿，仲景以大承氣湯治之；亦有膏粱之人，濕熱鬱於內而成脹滿者，此熱脹之謂也，大抵寒脹多而熱脹少，治之者宜詳辨之。</p>
<h4>諸腹脹大皆屬於熱論</h4>
<p>諸腹脹大皆屬於熱，此乃八益之邪有餘之證，自天外而入，是感風寒之邪傳裏，寒變為熱，作胃實，日晡潮熱，大渴引飲，譫語，是太陽陽明并大實大滿者，大承氣下之；少陽陽明微滿實者，小承氣下之泄之，則脹已，此之謂也。假令痎瘧為脹滿，亦有寒脹熱脹，是天之邪氣傷暑而得之，不即時發，至秋暑氣衰絕而瘧病作矣，知其寒也，局方用交解飲子者是也。內虛不足，寒濕令人中滿，及五臟六腑俱有脹滿，更以脈家寒熱多少較之，胃中寒則脹滿，濁氣在上則生䐜脹，脹取三陽，三陽者，足太陽膀胱寒水為脹，腹暴滿，按之不下，取太陽經絡者，胃之募也正同，腹滿䐜脹，肢膈胠脇，下厥上冒，過在太陰陽明，胃中寒濕鬱遏也，太陰䐜脹復不利，不欲食，食則嘔不得臥，按所說寒脹之多，如此中滿，治法當開鬼門，潔淨府，開鬼門者，謂發汗也，潔淨府者，利小便也，中滿者瀉之於內，謂脾胃有病，當令上下分消其濕，下焦如瀆，氣血自然分化，不待泄滓穢；如或大實大滿，大小便不利，從權以寒熱藥下之；或傷酒濕麵，及味厚之物膏粱之人，或食已便臥，使濕熱之氣不得施化，致令腹脹滿，此脹亦是熱脹，治熱脹，分消丸主之。如或多食寒涼及脾胃久虛之人，胃中寒則脹滿，或藏寒生滿病，以治寒脹中滿分消湯主之。</p>
<p>中滿分消丸：</p>
<p>治中滿熱脹鼓脹氣脹水脹，此非寒脹類。</p>
<p>白朮，人參，炙甘草，豬苓（去黑皮），薑黃（各一錢），白茯苓（去皮），乾生薑，砂仁（各二錢），澤瀉，橘皮（各三錢），知母（炒四錢），黃芩（去腐炒，夏用一兩二錢），黃連（淨炒），半夏（湯洗七次），枳實（炒各五錢），厚朴（薑製一兩）。</p>
<p>右除茯苓澤瀉生薑外，共為極細末，入上三味和勻，湯浸蒸餅為丸，如梧桐子大，每服一百丸，焙熱白湯下，食遠服，量病人大小加減。</p>
<p>中滿分消湯：</p>
<p>治中滿寒脹，寒疝，大小便不通，陰躁，足不收，四肢厥逆，食入反出，下虛中滿，腹中寒，心下痞，下焦躁寒，沉厥，奔豚不收。</p>
<p>川烏，澤瀉，黃連，人參，青皮，當歸，生薑，麻黃，柴胡，乾薑，蓽澄茄（各二分），益智仁，半夏，茯苓，木香，升麻（各三分），黃耆，吳茱萸，厚朴，草豆蔻仁，黃柏（各五分）。</p>
<p>右剉如麻豆大，都作一服，水二大盞煎至一盞，食前熱服，忌房室酒濕麵生冷及油膩等物。</p>
<p>廣茂潰堅湯：</p>
<p>治中滿腹脹，內有積聚堅硬如石，其形如盤，令人不能坐臥，大小便澀滯，上喘氣促，面色痿黃，通身虛腫。</p>
<p>廣茂，紅花，吳茱萸，升麻（各二分），半夏（七分），柴胡，澤瀉，神麯，青皮，陳皮（各三分），厚朴（生用），黃芩，黃連，益智仁，草豆蔻仁（五分），生甘草（三分），當歸梢（五分），如渴，加葛根（四分）。</p>
<p>右剉如麻豆大，水二大盞煎至一盞，稍熱服，食遠，忌酒醋濕麵，服二服之後，中滿減半止，有積不消，再服後藥。</p>
<p>半夏厚朴湯：</p>
<p>紅花，蘇木（各半分），吳茱萸，乾生薑，黃連（各一分），木香，青皮（各二分），肉桂，蒼朮，白茯苓，澤瀉，柴胡，生甘草，生黃芩，草豆蔻仁，陳皮（各三分），京三稜，豬苓，當歸梢，升麻（各四分），神麯（六分），厚朴（八分），半夏（一錢），桃仁（七箇），昆布（少許），如渴，加葛根（三分）。</p>
<p>右㕮咀，作一服，水三盞煎至一盞，去柤，稍熱服，此藥二服之後，前證又減一半，卻於前藥中，加減服之。</p>
<p>破滯氣湯（一名木香化滯散）：</p>
<p>破滯氣，治心腹滿悶。</p>
<p>炙甘草（四分），白檀，藿香，陳皮，大腹子，白豆蔻仁，白茯苓，桔梗（各五分），砂仁，人參，青皮，檳榔，木香，薑黃，白朮（各二錢），右㕮咀，每服三錢，水二盞煎至一盞，去柤，溫服，不拘時。</p>
<p>草豆蔻湯：</p>
<p>治腹中虛脹。</p>
<p>澤瀉（一分），木香（三分），半夏（製四分），枳實，草豆蔻仁，黃耆（春夏去之），益智，甘草（各五分），青皮，陳皮（各六分），茯苓，當歸（各七分），神麯（四分）。</p>
<p>右為麤末，都作一服，水二大盞，生薑三片，煎至一盞，去柤，溫服，冬月加黃耆五七分，春夏止服，正藥食遠。</p>
<h3>心腹痞悶門</h3>
<p>消痞悶方：</p>
<p>治心下痞悶，一切所傷，及積年不愈者。</p>
<p>乾生薑，神麯（炒），炙甘草（各二分），豬苓（二錢五分），澤瀉，厚朴，砂仁（各三錢），半夏（湯洗七次），陳皮，人參（各四錢），枳實（五炒），黃連（淨炒），黃芩（各六錢），薑黃，白朮（各一兩）。</p>
<p>右為細末，湯浸蒸餅為丸，如梧桐子大，每服五七十丸至百丸，白湯送下，食遠服。</p>
<p>失咲丸（一名枳實消痞丸）：</p>
<p>治右關脈弦，心下虛痞，惡食懶倦，開胃進飲食。</p>
<p>乾生薑（一錢），炙甘草，麥柏麵，白茯苓，白朮（各二錢），半夏麯，人參（各三錢），厚朴（四錢炙），枳實，黃連（各三錢）。</p>
<p>右為細末，湯浸蒸餅為丸，梧桐子大，每服五七十丸，白湯下，食遠服。黃連消痞丸：治心下痞滿，壅滯不散，煩熱喘促不安。</p>
<p>澤瀉，薑黃（各一錢），乾生薑（二錢），茯苓，炙甘草，白朮（各三錢），陳皮，豬苓（各五錢），枳實（七錢炒），半夏（九錢），黃連（一兩），黃芩（二兩炒）。</p>
<p>右為細末，湯浸蒸餅為丸，如梧桐子，每服五十丸，溫湯下，食遠。</p>
<p>消痞湯（一名木香化滯湯）：</p>
<p>治因憂氣鬱結中脘，腹皮裏微痛，心下痞滿，不思飲食。</p>
<p>枳實（炒），當歸梢（各二分），陳皮，生薑，木香（各三分），柴胡（四分），炙甘草（各五分），紅花（少許），草豆蔻（五分），半夏（一錢）。</p>
<p>右為麤末，作一服，水二盞，生薑三片，煎至一盞，食遠服，忌酒濕麵。</p>
<p>葶藶丸（一名人參順氣飲子）：</p>
<p>治心下痞，胸中不利。</p>
<p>半夏（洗），厚朴（炙），石膏，青皮（各五分），當歸身（七分），白豆蔻仁，縮砂，茵陳（酒製），乾葛（各一錢），炙甘草，羌活，黃芩（一半酒洗一半炒），苦葶藶（酒洗炒），人參，柴胡，獨活（各三錢）。</p>
<p>右為細末，湯浸蒸餅和勻，篩子內擦如米大，每服二錢，臨臥用一口湯下。</p>
<h3>胃脘痛門</h3>
<p>草豆蔻丸：</p>
<p>治脾胃虛弱而心火乘之，不能滋榮上焦元氣，遇冬，腎與膀脘寒水旺時，子能令母實，以致肺金大腸相輔而來剋心乘脾胃，此大復讎也，經云：大勝必大復，理之常也，故皮毛血脈分肉之間，元氣已絕於外，又大寒大燥二氣併乘之，則苦惡風寒，耳鳴及腰背相引而痛，鼻息不通，不聞香臭，額寒腦痛，大惡風寒，目時眩不欲開，腹中為寒水反乘，痰唾沃沫，食則反出，腹中常痛，心胃作痛，脇下縮急，有時而痛，腹不能努，大便多瀉而少秘，下氣不絕或腹中鳴，此脾胃虛乏至極也；胸中氣亂，心煩不安而為霍亂之漸，咽膈不通，極則噎塞有聲，喘喝閉塞，或於日陽處，或於暖室中，少緩口吸風寒之氣則復作，四肢厥逆，身體沉重不能轉側，頭不可以回顧，小便溲而時躁，此藥主之，秋冬寒涼，大復氣之藥也。</p>
<p>神麯末，柴胡（詳脇下痛，多少用之），薑黃（各四分），當歸身，青皮（各六分），黃耆，人參，益智仁，吳茱萸（湯洗焙乾），陳皮，白僵蠶（各八分），澤瀉（小便數，減半），半夏（各一錢洗），甘草（生六分，熟六分），麥柏麵（一錢五分炒），草豆蔻仁（麵裹燒熟為度，一錢四分），桃仁（七箇湯浸去皮尖）。</p>
<p>右除桃仁，別研如泥，餘為細末，同研勻，湯浸蒸餅為丸，如梧桐子大，每服五七十丸，白湯下，食遠服。</p>
<p>神聖復氣湯：</p>
<p>治復氣乘冬，足太陽寒水足少陰腎水之旺，子能令母實，手太陰肺實反來剋土，火木受邪，腰背胸膈閉塞疼痛，善嚏，口中涎，目中泣，鼻中流濁涕不止，或如息肉不聞香臭，咳嗽痰沫，上熱如火，下寒如冰，頭作陣痛，目中溜火，視物䀮䀮，耳聾耳鳴，頭并口鼻大惡風寒，喜日晴暖，夜臥不安，常覺痰塞，咽膈不通，口不知味，兩脇縮急而痛，牙齒動搖不能嚼物，臍腹之間及尻臀足膝不時寒冷，前陰冷而多汗，行步欹側，起居艱難，麻木風痹，小便數，氣短喘喝，少氣不足以息，遺失無度，及婦人白帶，陰戶中大痛牽心，面色黧黑，男子控睪痛牽心腹，或面色如赭，食少，大小便不調，煩心霍亂，逆氣裏急，腹不能努，或腸鳴，膝下筋急，肩脾大痛，此皆寒水來復火土之讎也。</p>
<p>乾薑（炮），黑附子（炮各三分），防風，人參，郁李仁（另研，各五分），半夏（湯洗研），升麻（各七分），藁本，甘草（各八分），當歸身（六分酒洗），柴胡，羌活（各一錢），白葵花（五朵，去心剪碎）。</p>
<p>右件都作一服，水五大盞煎至二盞，入黃耆一錢，橘紅五分，草豆蔻仁一錢，麵裹煨熟去皮一錢，同煎至一盞，再入下項藥，黃柏三分酒浸，黃連三分酒浸，枳殼三分，生地黃三分酒洗，此四味，預一日另用新水浸，又以華細辛二分，川芎細末三分，蔓荊子三分，作一處浸，此三味并黃柏等煎正藥，作一大盞，不去柤，入此所浸之藥，再上火同煎至一大盞，去柤，熱服，空心，又能治嚙頰嚙唇舌，舌根強硬等證如神，忌肉湯及食肉，不使助經絡中火邪也。大抵腎元與膀胱經中有寒氣不足者，并宜服之，於月生月滿時，食隔三五日一服，如病急不拘時侯。</p>
<p>麻黃豆蔻丸：</p>
<p>治客寒犯胃，心胃大痛不可忍。</p>
<p>木香，青皮，紅花，厚朴（各二分），蘇木（三分），蓽澄茄（四分），升麻，半夏（湯洗），麥柏麵，縮砂仁，黃耆，白朮，陳皮（去白），柴胡，炙甘草，吳茱萸，當歸身（各五分），益智仁（八分），神麯末（二錢炒），麻黃（不去節三錢），草豆蔻仁（五錢）。</p>
<p>右為細末，湯浸蒸餅為丸，如梧桐子大，每服五十丸，白湯下，或細嚼湯下亦可。</p>
<h4>酒傷病論</h4>
<p>論酒，大熱有毒，氣味俱陽，乃無形之物也，若傷之，則止當發散汗出則愈矣，此最妙法也；其次莫如利小便，二者乃上下分消其濕，何酒病之有？今之酒病者，往往服酒癥丸大熱之藥下之，又有牽牛大黃下之，是無形元氣受病反下有形陰血，乖誤甚矣，酒性大熱已傷元氣而復重瀉之，況亦損腎水真陰及有形陰血俱為不足，如此則陰血愈虛，真水愈弱，陽毒之熱大旺反增其陰火，是謂元氣消亡，十神何依，折人長命，雖不即死，而虛損之病成矣，金匱要略云：酒疸下之，久久為黑疸，慎不可犯此戒，不若令上下分消其濕，當以葛花解酲湯主之。</p>
<p>葛花解酲湯：</p>
<p>木香（五分），人參（去蘆），豬苓（去黑皮），白茯苓，橘皮（各一錢五分），白朮，乾生薑，神麯（炒），澤瀉（各二錢），蓮花青皮（三錢），縮砂仁，白豆蔻仁，葛花（各五錢）。</p>
<p>右為極細末，和勻，每服三錢匕，白湯調下，但得微汗，酒病去矣，此蓋不得已而用，豈可恃賴？日日飲酒，此藥氣味辛辣，偶因酒病服之則不損元氣，何者敵酒病？故若頻服之，損人天命。</p>
<p>枳朮丸：</p>
<p>治痞，消食強胃。</p>
<p>枳實（麩炒黃色一兩），白朮（二兩）。</p>
<p>右為極細末，荷葉裹燒飯為丸，如綠豆一倍大，每服五十丸，白湯下，不拘時候，量所傷多少加減服之。</p>
<p>半夏枳朮丸：</p>
<p>治因冷物內傷。</p>
<p>半夏（湯洗七次一兩），枳實（麩炒黃色），白朮（各二兩）。</p>
<p>右三味為極細末，荷葉裹燒炊飯為丸，如綠豆一倍大，每服五十丸，白湯下，量所傷加減服之。</p>
<p>橘皮枳朮丸：</p>
<p>治元氣虛弱，飲食不消，或臟腑不調，心下痞悶。</p>
<p>橘皮，枳實（麩炒黃色各一兩），白朮（二兩）。</p>
<p>右為極細末，荷葉裹燒飯為丸，如綠豆一倍大，每服五十丸，白湯下，量所傷加減服之。</p>
<p>除濕益氣丸：</p>
<p>治傷濕麵，心腹滿悶，肢體沉重。</p>
<p>紅花（三分），蘿蔔子（炒熟五錢），枳實（麩炒黃色），黃芩（生用），神麯（炒黃色），白朮（各一兩）。</p>
<p>右同為細末，荷葉裹燒飯為丸，如綠豆一倍大，每服五十丸，白湯下，量所傷加減服之。</p>
<p>除濕散：</p>
<p>治傷馬嬭子，并牛羊酪水一切冷物。</p>
<p>甘草（炙），紅花（各二錢），半夏（湯洗七次三錢），茯苓（七錢），乾生薑（三錢），車前子，澤瀉（各五錢），神麯（炒黃一兩）。</p>
<p>右為極細末，每服三錢匕，白湯調下，食前。</p>
<p>升麻黃連丸：</p>
<p>治多食肉，口臭不欲聞其穢惡氣，使左右不得近。</p>
<p>白檀（二錢），生甘草（三錢），生薑（取自然汁），升麻（五錢），蓮花青皮（五錢），黃連（去鬚一兩），黃芩（去腐酒洗二兩）。</p>
<p>右為極細末，湯浸蒸餅為丸，如彈子大，每服一丸，細嚼白湯下，食後。</p>
<p>上二黃丸：</p>
<p>治傷熱食，痞悶兀兀欲吐，煩亂不安。</p>
<p>甘草（二錢），升麻，柴胡（各三錢），黃連（酒洗一兩），黃芩（二兩），一方加枳實（五錢）。</p>
<p>右為細末，湯浸蒸餅為丸，如綠豆大，每服五十丸，白湯下，食遠。</p>
<p>治傷冷飲者，以五苓散每服二錢三錢匕加生薑煎服之。</p>
<p>治傷食兼傷冷飲者，煎五苓散送半夏枳朮丸。</p>
<p>治傷冷飲不惡寒者，腹中亦不覺寒惟覺悶，身重食不化者或小便不利，煎去桂五苓散，依前斟酌服之。</p>
<p>瓜蒂散：</p>
<p>上部有脈下部無脈，其人當吐不吐者，死。何謂下部無脈？此謂木鬱也，飲食過飽，填塞胸中，胸中者太陰之分野，經曰：氣口反大於人迎三倍，食傷太陰，故曰木鬱則達之，吐者是也。</p>
<p>瓜蒂，赤小豆（各等分）。</p>
<p>右二味為極細末，每服二錢匕，溫漿水調下，取吐為度，若不至兩手尺脈絕無，不宜便用此藥，恐損元氣，令人胃氣不復，若止是胸中窒塞，悶亂不通，以指探去之，如不得吐者，以物探去之，得吐則已，如食不去，用此藥吐之。解云：盛食填塞於胸中，為之窒塞，兩寸脈當主事，兩尺脈不見，其理安在？胸中有食，故以吐出之食者，物也，物者，坤土也，是足太陰之號也，胸中者，肺也，為物所填，肺者，手太陰金也，金主殺伐也，與坤土俱在於上而旺於天，金能剋木，故肝木生發之氣伏於地下，非木鬱而何？吐去上焦陰土之物，木得舒暢，則鬱結去矣；食塞於上，脈絕於下，若不明天地之道，無由達此至理；水火者，陰陽之徵兆，天地之別名也，故曰：獨陽不生，獨陰不長，天之用在於地下，則萬物生長矣，地之用在於天上，則萬物收藏矣，此乃天地交而萬物通也，此天地相根之道也，故陽火之根本於地下，陰水之源本於天上，故曰：水出高源，故人五臟主有形之物，物者，陰也，陰者，水也，右三部脈主之，偏見於寸口，食塞其二，是絕五臟之源，源絕則水不下流，兩尺竭絕，此其理也，何疑之有，假令所傷前後不同，以分為率，傷熱物二分，傷生冷硬物一分，用寒藥三黃丸二停，熱藥巴豆三稜丸一停，合而服之，如熱物傷少而寒物傷多，則寒藥少而熱藥多也，假令夏月大熱之時，傷生冷硬物，當用熱藥巴豆三稜丸治之，須加三黃丸，謂天時不可伐，故加寒藥以順時令，若熱物，只用三黃丸，何謂？此三黃丸時藥也；假令冬天大寒之時傷羊肉濕麵等熱物，當用三黃丸治之，須加熱藥少許，草豆蔻丸之類是也，為引用又為時藥，經云：必先歲氣無伐，天和此之謂也，餘皆倣此。</p>
<h3>消渴門</h3>
<h4>消渴論</h4>
<p>陰陽別論云：二陽結，謂之消脈。脈要精微論云：癉成為消中，夫二陽者，陽明也，手陽明大腸主津病，消則目黃口乾，是津不足也，足陽明胃主血，熱則消穀善飢，血中伏火，乃血不足也；結者，津液不足，結而不潤，皆燥熱為病也，此因數食甘美而多肥，故其氣上溢轉為消渴，治之以蘭，除陳氣也，不可服膏粱，芳草石藥，其氣慓悍，能助燥熱也。越人云：邪在六腑，則陽脈不和，陽脈不和，則氣留之，氣留之則陽脈盛矣，陽脈大盛則陰氣不得榮也，故皮膚肌肉消削是也。經云：凡治消癉仆繫，偏枯痿厥，氣滿發逆，肥貴人，則膏粱之疾也。岐伯曰：脈實病久可治，脈弦小病久不可治。後分為三消，高消者，舌上赤裂，大渴引飲逆調，論云：心移熱於肺，傳於膈消者是也，以白虎加人參湯治之；中消者，善食而瘦，自汗大便硬，小便數，叔和云：口乾飲水，多食亦飢，虛癉成消中者是也，以調胃承氣三黃丸治之；下消者，煩躁引飲，耳輪焦乾，小便如膏，叔和云：焦煩，水易虧，此腎消也，以六味地黃丸治之。總錄所謂：末傳能食者，必發腦疽背瘡，不能食者，必傳中滿鼓脹，皆謂不治之證。潔古：老人分而治之，能食而渴者，白虎加人參湯，不能食而渴者，錢氏方白朮散倍加葛根治之，上中既平不復傳下消矣。前人用藥，厥有旨哉。或曰未傳瘡疽者，何也？此火邪勝也，其瘡痛甚而不潰，或赤水者是也，經云：有形而不痛，陽之類也，急攻其陽無攻其陰，治在下焦，元氣得強者生，失強者死，未傳中滿者，何也？以寒治熱，雖方士不能廢其繩墨，而更其道也。然臟腑有遠近，心肺位近宜制小其服，腎肝位遠宜大其服，皆適其至所為，故知過與不及，皆誅罰無過之地也，如高消中消制之太急，速過病所，久而成中滿之病，正謂上熱未除，中寒復生者也，非藥之罪失，其緩急之制也，處方之制，宜加意焉。</p>
<p>和血益氣湯：</p>
<p>治口乾舌乾，小便數，舌上赤脈，此藥生津液，除乾燥，生肌肉。</p>
<p>柴胡，炙甘草，生甘草（此味治口乾舌乾也），麻黃根（各三分），酒當歸梢（四分），酒知母，酒漢防己，羌活（各五分），酒生地黃（七分），升麻（一錢），杏仁，桃仁（各六個），紅花（少許），酒黃連（八分，治舌上赤脈也），石膏（六分治小便赤色），酒黃柏（一錢）。</p>
<p>右㕮咀，都作一服，水二大盞煎至一盞，去柤，溫服，忌熱濕麵酒醋等物。</p>
<p>當歸潤燥湯：</p>
<p>治消渴，大便閉澀，乾燥結硬兼喜溫飲，陰頭退縮，舌燥口乾，眼澀難開，及於黑處見浮雲。</p>
<p>細辛（一分），生甘草，炙甘草（各三分），柴胡（七分），熟地黃（三分），黃柏，知母，石膏，桃仁（泥子），當歸身，麻子仁，防風，荊芥穗（各一錢），升麻（一錢五分），紅花（少許），杏仁（六個），小椒（三個）。</p>
<p>右㕮咀，都作一服，水二大盞煎至一盞，去柤，熱服，食遠，忌辛熱物。</p>
<p>生津甘露湯（一名清涼飲子）：</p>
<p>治消中能食而瘦，口舌乾，自汗大便結燥，小便頻數。</p>
<p>升麻（四分），防風，生甘草，漢防己，生地黃（各五分），當歸身（六分），柴胡，羌活，炙甘草，酒黃芩，酒知母，黃芩（各一錢），石膏，酒，龍膽草，黃柏（各一錢五分），紅花（少許），桃仁（五個），杏仁（十個）。</p>
<p>右㕮咀，都作一服，水二盞酒一匙煎至一盞，稍熱服，食遠。</p>
<p>辛潤緩肌湯（一名清神補氣湯）：</p>
<p>前消渴證才愈，止有口乾，腹不能努，此藥主之。</p>
<p>生地黃，細辛（各一分），熟地黃（三分），石膏（四分），黃柏（酒製），黃連（酒製），生甘草，知母（各五分），柴胡（七分），當歸身，荊芥穗，桃仁，防風（各一錢），升麻（一錢五分），紅花（少許），杏仁（六個），小椒（二個）。</p>
<p>右㕮咀，都作一服，水二大盞煎至一盞，食遠稍熱服之。</p>
<p>甘草石膏湯：</p>
<p>渴病久愈，又添舌白滑微腫，咽喉嚥津覺痛，嗌腫時時有渴，喜冷飲，口中白沫如膠。</p>
<p>生地黃，細辛（各一分），熟地黃，黃連（各三分），甘草（五分），石膏（六分），柴胡（七分），黃柏，知母，當歸身，桃仁（炒去皮尖），荊芥穗，防風（各一錢），升麻（一錢五分），紅花（少許），杏仁（六個），小椒（二個）。</p>
<p>右如麻豆大，都作一服，水二盞煎至一盞，食後溫服。</p>
<p>甘露膏（一名蘭香飲子）：</p>
<p>治消渴，飲水極甚，善食而瘦，自汗大便結燥，小便頻數。</p>
<p>半夏（二分湯洗），熟甘草，白豆蔻仁，人參，蘭香，升麻，連翹，桔梗（各五分），生甘草，防風（各一錢），酒知母（一錢五分），石膏（三錢）。</p>
<p>右為極細末，湯浸蒸餅和勻成劑，捻作薄片子，日中晒半乾，擦碎如米大，每服二錢，淡生薑湯送下，食後。</p>
<p>生津甘露飲子：</p>
<p>治消渴，上下齒皆麻，舌根強硬腫痛，食不能下，時有腹脹，或瀉黃如糜，名曰餐泄，渾身色黃，目睛黃甚，四肢痿弱，前陰如冰，尻臀腰背寒，面生黧色，脇下急痛，善嚏，喜怒健忘。</p>
<p>藿香（二分），柴胡，黃連，木香（各三分），白葵花，麥門冬，當歸身，蘭香（各五分），蓽澄茄，生甘草，山梔子，白豆蔻仁，白芷，連翹，薑黃（各一錢），石膏（一錢二分），全蝎（二個去毒），炙甘草，酒知母，升麻，人參（各二錢），桔梗（三錢），杏仁（去皮），酒黃柏（各一錢五分）。</p>
<p>右為細末，湯浸蒸餅和勻成劑，捻作片子，日中晒半乾，擦碎如黃米大，每服二錢，津唾下或白湯送下，食遠服。</p>
<h3>眼耳鼻門</h3>
<h4>諸脈者皆屬於目論</h4>
<p>陰陽應象論云：諸脈者，皆屬於目，目得血而能視，五臟六腑精氣皆上注於目，而為之精，精之窠為眼，骨之精為瞳子，筋之精為黑眼，血之精為絡，其窠氣之精為白眼，肌肉之精則為約束，裹擷筋骨血氣之精而與脈并為系，上屬於腦，後出於項中，故邪中於項，因逢其身之虛，其入深則即隨眼系入於腦，則腦轉，腦轉則引目系急，目系急則目眩以轉矣；邪中其精，其精所中不相比也，則精散，精散則視岐，故見兩物；目者，五臟六腑之精，榮衛魂魄之所常營也，神氣之所主也，故神勞，則魂魄散，志意亂，是故瞳子黑眼發於陰，白眼赤脈發於陽，故陰陽合，傳而為精明也；目者，心之使也，心者，神之舍也，故神精亂而不轉，卒然見非常之處，精神魂魄散不相得，故曰惑也，夫十二經脈，三百六十五絡，其血氣皆上走於面而走空竅，其清陽氣上散於目而為精，其氣走於耳而為聽，因心事煩冗，飲食失節，勞役過度，致脾胃虛弱，心火大盛，則百脈沸騰，血脈逆行，邪害空竅，天明則日月不明矣；夫五臟六腑之精氣皆稟受於脾，上貫於目，脾者，諸陰之首也，目者，血脈之宗也，故脾虛則五臟之精氣皆失所司，不能歸明於目矣，心者，君火也，主人之神，宜靜而安相火，化行其令，相火者，包絡也，主百脈，皆榮於目，既勞役運動，勢乃妄行，又因邪氣所并而損血脈，故諸病生焉，凡醫者不理脾胃及養血安神，治標不治本，是不明正理也。</p>
<h4>內障眼論</h4>
<p>凡心包絡之脈出於心中，以代心君之行事也，與少陽為表裏，瞳子散大者，少陰心之脈挾目系，厥陰肝之脈連目系，心主火，肝主木，此木火之勢盛也，其味則宜苦宜酸宜涼，大忌辛辣熱物以助木火之邪也，飲食中常知此理可也，夫辛主散，熱則助火，故不可食，諸酸主收心氣，瀉木火也，諸苦瀉火熱，則益水也，尤忌食冷水大寒之物，此則能損胃氣，不行則元氣不生，元氣不生，胃氣下流，胸中三焦之火及心火乘於肺，上入腦灼髓火主散溢，瞳子開大，大熱之物又助火邪，此蓋不可食，驗也，藥中云：茺蔚子一味辛及主益睛，辛者，是助火也，故去之，乃加黃芩黃連瀉中焦之火，芩能瀉上焦肺中之火，以酒洗之，乃寒因熱用也，又去青葙子，為助陽火也，加五味子以收瞳人開大，且火之與氣勢不兩立，故內經曰：壯火食氣，氣食少火，少火生氣，壯火散氣，諸酸之物能助元氣。孫真人云：五月常服五味，助五臟氣以補西方肺金，法云：以酸補之，以辛瀉之，辛瀉氣則明矣，或曰藥中有當歸，其味亦辛而甘，其不去者何？此辛甘一味，以其和血之聖藥，況有甘味，又欲以為鄉導，為諸藥之使耳。</p>
<p>芎辛湯：</p>
<p>治兩眼晝夜隱澀難開，羞明惡日，視物昏暗，赤腫而痛。</p>
<p>細辛（二分），芎窮，蔓荊子（各五分），甘草，白芷（各一錢），防風（一錢五分）。</p>
<p>右㕮咀，都作一服，水二盞煎至一盞，臨臥溫服。</p>
<p>碧天丸（一名井珠丸）：</p>
<p>治目疾，累服寒涼藥不愈，兩眼蒸熱如火之熏，赤而不痛，滿目紅絲，血脈貫睛，瞀悶昏暗，羞明畏日，或上下瞼赤爛，或冒風沙而內外眥皆破，洗之神效。</p>
<p>枯白礬（二分），銅綠（七分研），瓦粉（炒黑一兩）。</p>
<p>右先研白礬銅，研令細，旋旋入粉同研勻，熟水和之，共為一百丸，每用一丸，熱湯半盞浸一二箇時辰，洗至覺微澀為度，合半時辰許，臨臥洗之，暝目便睡，一丸可洗十遍，再用湯內坐，令熱，此藥治其標，若裏實者，不宜用。</p>
<p>廣大重明湯：</p>
<p>治兩目瞼赤爛，熱腫疼痛并稍赤，及眼瞼痒痛，抓之至破，眼楞生瘡，目多眵淚，隱澀難開。</p>
<p>龍膽草，防風，生甘草，細辛（各一錢）。</p>
<p>右剉如咀，內甘草不剉，只作一折，先以水一大碗半煎龍膽一味至一半，再入餘三味，煎至少半碗，濾去柤，用清帶熱洗以重湯，坐令熱，日用五七次，但洗畢合眼一時，去努肉泛長及痒亦驗。</p>
<p>百點膏：</p>
<p>張濟氏眼病翳六年，以至遮瞳人，視物不明，有雲氣之狀，因用此藥而效。</p>
<p>蕤仁（去皮尖三分），當歸身，甘草（各六分），防風（八分），黃連（揀淨二錢，剉如麻豆大，水一大碗煎至少半，入藥）。</p>
<p>右件剉如麻豆大，蕤仁別研如泥，同熬，滴在水中不散入，去沫，蜜少許再熬，少時為度，令病人心靜點之至目中微痛，日用五七次，臨臥點尤疾效，名之曰百點膏，但欲多點使藥力相繼也。</p>
<p>選奇湯：</p>
<p>治眉骨痛不可忍。</p>
<p>炙甘草（夏月生用），羌活，防風（各三錢），酒黃芩（一錢冬月不用此一味，如能食，熱痛倍加之）。</p>
<p>右㕮咀，每服五錢，水二盞煎至一盞，去柤，食後服之。</p>
<p>神效明目湯：</p>
<p>治眼櫺緊急，致倒睫拳毛，及上下瞼昏赤爛，睛疼昏暗，晝則冷淚常流，夜則眼澀難開。</p>
<p>細辛（二分），蔓荊子（五分），防風（一錢），葛根（一錢五分），甘草（二錢），一方加黃耆（一錢）。</p>
<p>右㕮咀，作一服，水二盞煎至一盞，去柤，稍熱臨臥服。</p>
<p>羌活點翳膏（一名復明膏）：</p>
<p>治足太陽寒水，膜子遮睛，白翳在上，視物不明。</p>
<p>藁本，漢防己（各二分），黃連，防風，麻黃（去根節），柴胡，升麻，生地（各三分），羌活（七分），生甘草（四分），當歸身（六分），蕤仁（六個），椒樹（東南根二分西北根二分）。</p>
<p>右用淨水一大碗先煎漢防巳黃連生甘草當歸生地黃，煎至一半，下餘藥，再煎至一盞，去柤，入銀石器中，再熬之，有力為度。</p>
<p>明目細辛湯：</p>
<p>治兩目發赤微痛，羞明畏日，怯風寒，怕火眼，睫成紐，眵糊多，隱澀難開，眉攢腫悶，鼻塞涕唾稠粘，大便微硬。</p>
<p>川芎（五分），生地黃（酒製），蔓荊子（各六分），當歸梢，白茯苓，藁本（各一錢），荊芥（一錢二分），防風（二錢），麻黃根，羌活（各三錢），細辛（少許），紅花（少許），椒（八個），桃仁（二十個）。</p>
<p>右㕮咀，分作四服，每服水二盞煎至一盞，去柤，稍熱臨臥服之，忌酒醋濕麵。</p>
<p>復明散：</p>
<p>治內瘴。</p>
<p>青皮（三分），橘皮，川芎，蒼朮（各五分），炙甘草，生地黃，連翹，柴胡（各一錢），黃耆（一錢五分），當歸身（二錢）。</p>
<p>右剉如麻豆大，作一服，水二大盞煎至一盞，去柤，稍熱服之，食後，忌酒醋濕麵辛熱大料物之類。</p>
<p>助陽和血湯：</p>
<p>治眼發之後，微有上熱，白睛紅，隱澀難開，睡多眵淚。</p>
<p>蔓荊子（二分），香白芷（三分），柴胡，黃耆，炙甘草，當歸身（酒洗），防風（各五分），升麻（七分）。</p>
<p>右㕮咀，都作一服，水一盞半煎至八分，去柤，稍熱服，臨臥避風寒處睡。</p>
<p>吹雲膏：</p>
<p>治目中淚及迎風寒泣，羞明畏日，常欲閉目，喜在暗室，塞其戶牖，翳膜歲久遮睛，此藥多點神驗。</p>
<p>細辛（一分），升麻，蕤仁（各三分），青皮，連翹，防風（各四分），柴胡（五分），生甘草，當歸身（各六分），生地黃（一錢五分），揀黃連（三錢），荊芥穗（一錢微取濃汁）。</p>
<p>右㕮咀，除連翹外，用澄清淨水二碗先熬餘藥至半碗，入連翹同熬至一大盞許，去柤，入銀石器內，文武火熬滴入水成珠不散為度，入煉去沬，熟蜜少許熬勻用之。</p>
<p>防風飲子：</p>
<p>治倒睫拳毛。</p>
<p>細辛，蔓荊子（各三分），葛根，防風（各五分），當歸身（七分半），炙甘草，黃連，人參（各一錢）。</p>
<p>右剉如麻豆大，都作一服，水二盞煎至一盞，食遠服，避風寒。</p>
<p>撥雲湯：</p>
<p>戊申六月，徐總管患眼疾，於上眼皮下，出黑白翳兩箇，隱澀難開，兩目緊縮而無疼痛，兩手寸脈細緊，按之洪大無力，知足太陽膀胱為命門相火煎熬，逆行作寒水翳，及寒膜遮睛證，呵欠善悲，健忘嚏噴眵淚，時自淚下，面赤而白，能食不大便，小便數而欠，氣上而喘。</p>
<p>黃耆（一分），細辛，生薑，葛根，川芎（各五分），柴胡（七分），荊芥穗，藁本，生甘草，升麻，當歸身，知母（各一錢），羌活，防風，黃柏（各一錢五分）。</p>
<p>右㕮咀，如麻豆大，都作一服，水二盞煎至一盞，去柤，熱服，食後。</p>
<p>神效黃耆湯</p>
<p>：治渾身麻木不仁，或頭面手足肘背或腿腳麻木不仁，並皆治之，如兩目緊急縮小，及羞明畏日，隱澀難開，或視物無力，睛痛昏花，手不得近，或目少精光，或目中熱如火，服五六次可效。</p>
<p>蔓荊子（一錢），陳皮（去白五錢），人參（八錢），炙甘草，白芍藥（各一兩），黃耆（二兩）。</p>
<p>右㕮咀，每服五錢，水二盞煎至一盞，去柤，臨臥稍熱服。</p>
<p>如小便淋澀，加澤瀉（五分），一服去則止。</p>
<p>如有大熱證，每服加酒洗黃柏（三分）。</p>
<p>如麻木不仁，雖有熱不用黃柏，止加黃耆（一兩），通用三兩也；如眼縮急，去芍藥，忌酒醋麵大料物蔥韭蒜辛物。</p>
<p>如麻木甚者，加芍藥（一兩），通用二兩。</p>
<p>圓明內障升麻湯（一名沖和養胃湯）：</p>
<p>治內障眼，得之脾胃元氣衰弱，心火與三焦俱盛，飲食不節，形體勞役，心不得休息，故上為北疾。</p>
<p>乾薑（一錢），五味子（二錢），白茯苓（三錢），防風（五錢），白芍藥（六錢），柴胡（七錢），人參，炙甘草，當歸身（酒洗），白朮，升麻，葛根（各一兩），黃耆，羌活（各一兩五錢）。</p>
<p>右㕮咀，每服五七錢，水大三盞煎至二大盞，入黃耆黃連（各二錢），同煎數沸，去柤，煎至一盞，熱服，食遠。</p>
<p>黃芩黃連湯：</p>
<p>黃芩（酒洗炒），黃連（酒洗炒），龍膽草（酒洗四次炒四次），生地黃（酒洗，各一兩）。</p>
<p>右㕮咀，每服二錢，水二盞煎至一盞，去柤，熱服。</p>
<p>蔓荊子湯：</p>
<p>治勞役飲食不節，內障眼病，此方如神效。</p>
<p>蔓荊子（二錢五分），黃柏（酒拌炒四遍），白芍藥（各三錢），炙甘草（八錢），黃耆（各一兩），人參（各一兩）。</p>
<p>右㕮咀，每服三錢或五錢，水二盞煎至一盞，去柤，臨臥溫服。</p>
<p>歸葵湯（一名連翹飲子）：</p>
<p>治目中溜火，惡日與火，隱澀難開，小角緊，視物昏花，迎風有淚。</p>
<p>柴胡（二分），生甘草，蔓荊子，連翹，生地黃，當歸身，紅葵花，人參（各三分），黃耆，酒黃芩，防風，羌活（各五分），升麻（一錢）。</p>
<p>右㕮咀，每服五錢，水二盞煎至一盞，去柤，食後溫服。</p>
<p>救苦湯：</p>
<p>治眼暴發赤腫，臉高苦疼不任者。</p>
<p>桔梗，連翹，紅花，細辛（各一分），當歸身（夏月減半），炙甘草（各五分），龍膽草，蒼朮（各七分），黃連，羌活（太陽），升麻（陽明），柴胡（少陽），防風，藁本（各一錢），知母，生地黃，黃柏，黃芩（各一錢五分），川芎（三錢）。</p>
<p>右㕮咀，每服一兩，水二盞煎至一盞，去柤，食後溫服。</p>
<p>若苦疼，則多用苦寒者兼治本經之藥，再行加減，如睛昏加知母黃柏一倍。</p>
<p>熟乾地黃丸：</p>
<p>治血弱陰虛不能養心，致心火旺陽火甚，瞳子散大，少陰為火，君主無為，不行其令，相火代之，兼心包絡之脈出心系，分為三道，少陽相火之體無形，其用在其中矣，火盛則令毌實，乙木肝旺是也，心之脈挾於目系，肝連目系，況手足少陽之脈同出耳中，至耳上角，斜起於目外眥，風熱之盛亦從此道而來，上攻頭目，致偏頭腫悶，瞳子散大，視物則花，此由血虛陰弱故也，法當養血涼血益血，收火之散大，除風之熱則愈矣。</p>
<p>人參（二錢），炙甘草，天門冬（湯洗去心），地骨皮，五味子，枳殼（炒），黃連（各三錢），黃芩，當歸身（酒洗焙乾各五錢），柴胡（八錢），熟乾地黃（一兩），生地黃（酒洗七錢五分）。</p>
<p>右件同為細末，煉蜜為丸，如梧桐子大，每服一百丸，茶湯送下，食後，日進二服。</p>
<p>益陰腎氣丸：</p>
<p>此壯水之主以鎮陽光。</p>
<p>澤瀉，茯苓（各二錢五分），生地黃（酒洗乾），牡丹皮，山茱萸，當歸梢（酒洗），五味子，乾山藥，柴胡（各五錢），熟地黃（二兩）。</p>
<p>右為細末，煉蜜為丸，如梧桐子大，硃砂為衣，每服五十丸，淡鹽湯下，空心。</p>
<p>羌活退翳丸：</p>
<p>治內障，右眼小眥青白翳，大眥微顯白翳，腦痛，瞳子散大，上熱惡熱，大便秘澀，小便如常，遇天氣暄熱，頭痛睛脹，可服此藥，翳在大眥，加葛根升麻，翳在小眥，加柴胡羌活是也。</p>
<p>黑附子（炮），寒水石（各一錢），酒防巳（二錢），知母（酒炒），牡丹皮，羌活，川芎（各三錢），酒黃柏，生地黃（酒洗炒），丹參，茺蔚子，酒當歸身，柴胡（各五錢），熟地黃（八錢），芍藥（一兩三錢）。</p>
<p>右為細末，煉蜜為丸，如梧桐子大，每服五七十丸，白湯下，空心，宿食未消，待饑則服之，藥後省語言，以食壓之。</p>
<p>當歸龍膽湯：</p>
<p>治眼中白翳。</p>
<p>防風，石膏（各一錢五分），柴胡，羌活，五味子，升麻（各二錢），甘草，酒黃連，黃耆（各三錢），酒黃芩（炒），酒黃柏（炒），芍藥，當歸身，龍膽草（酒洗，各五錢）。</p>
<p>右㕮咀，每服五錢，水二盞煎至一盞，去柤，入酒少許，臨臥熱服，忌言語。</p>
<p>補陽湯：</p>
<p>治陽不勝其陰，乃陰盛陽虛，則九竅不通，令青白翳見於大眥，及足太陽少陰經中鬱遏，足厥陰肝經氣不得上通於目，故青白翳內阻也，當於太陽少陰經中，九原之下，以益肝中陽氣，衝天上行，此乃先補其陽，後於足太陽太陰標中，標者，頭也，瀉足厥陰肝經火，下伏於陽中，乃次治也，內經云：陰盛陽虛則當先補其陽，後瀉其陰，此治法是也，每日清晨以腹中無宿食，服補陽湯，臨臥服瀉陰丸，若天色變經大寒大風并勞役，預日飲食不調，精神不足，或氣弱，俱不可服，待體氣和平，天氣如常，服之，先補其陽，使陽氣上升，通於肝經之末，利空竅於目矣。</p>
<p>肉桂（一錢去皮），知母（炒），當歸身（酒洗），生地黃（酒炒），白茯苓，澤瀉，陳皮（各三錢），白芍藥，防風（各五錢），黃耆，人參，白朮，羌活，獨活，熟地黃，甘草（各一兩），柴胡（二兩）。</p>
<p>右㕮咀，每服五錢，水二盞煎至一大盞，去柤，空心服之。</p>
<p>瀉陰火丸（一名連柏益陰丸）：</p>
<p>五味子，羌活，獨活，甘草，當歸梢，防風（各五錢），草決明，細黃芩，黃連（酒炒），黃柏，知母（各一兩），石決明（三錢炒存性）。</p>
<p>右為細末，煉蜜為丸，如綠豆大，每服五十丸至一百丸，茶清下，常多服補陽湯，少服此藥，多則妨飲食。</p>
<p>升陽柴胡湯：</p>
<p>肉桂（五分），柴胡（去苗一錢五分），防風，白茯苓，澤瀉，陳皮（各一錢），生地黃（酒炒），楮實（酒炒微潤），黃耆，人參，白朮（各五錢），甘草梢，當歸身，羌活，熟地黃，獨活，白芍藥（各一兩），知母（酒炒，如大者加作五錢）。</p>
<p>右剉每服五錢，水二盞煎至一盞，去柤，稍熱食遠服，別合一料，煉蜜為丸，如梧桐子大，每服五十丸，茶清下，每日與前藥各一服，食遠，不可飽服。</p>
<p>如天氣熱加五味子（三錢），天門冬（去心），芍藥，楮實（各五錢）。</p>
<p>溫衛湯：</p>
<p>治鼻不聞香臭，目中流火，氣寒血熱，冷淚多，臍下冷，陰汗，足痿弱。</p>
<p>陳皮，青皮，黃連，木香（各三分），人參，甘草（炙），白芷，防風，黃柏，澤瀉（各五分），黃耆，蒼朮，升麻，知母，柴胡，羌活（各一錢），當歸身（一錢五分）。</p>
<p>右都作一服，水二盞煎至一盞，去柤，食遠服之。</p>
<p>圓明膏：</p>
<p>治勞心過度，飲食失節，乃生內障，及瞳子散大，此方收睛圓明。</p>
<p>訶子皮（濕紙裹煨），甘草（各二錢），當歸身（三錢），柴胡，生地黃，麻黃（去節搗開），黃連（各五錢）。</p>
<p>右七味先以水二碗煎麻黃至一碗，掠去沫，外六味，各㕮咀如豆大，篩去末入在內同熬滴水中不散為度，入熟蜜少許，再熬，勤點眼。</p>
<p>㗜藥麻黃散：</p>
<p>治內外障眼。</p>
<p>麻黃（一兩），當歸身（一錢）。</p>
<p>右二味同為麤末，炒黑色，入麝香乳香少許，共為細末，含水鼻內㗜之。</p>
<p>療本滋腎丸：</p>
<p>黃柏（酒炒），知母（酒炒巳上各等分）。</p>
<p>右為細末，滴水為丸，如梧桐子大，每服一百丸至一百五十丸，空心鹽白湯下。</p>
<p>加味滋腎丸：</p>
<p>肉桂（三分），黃連（一錢），薑黃（一錢五分），苦參（三錢），苦葶藶（酒洗炒），石膏（覺肚冷勿用），黃柏（酒炒），知母（酒炒各五錢）。</p>
<p>右為極細末，打薄，麵糊為丸，如梧桐子大，每服一百丸，空心服白湯下，食壓之。</p>
<p>退翳膏：</p>
<p>治黑白翳。</p>
<p>蕤仁，升麻（各三分），連翹，防風，青皮（各四分），甘草，柴胡（各五分），當歸身（六分），黃連（三錢），生地黃（一錢五分），荊芥穗（一錢，水半盞別浸用）。</p>
<p>右用水一碗入前藥煎至半碗，去柤，更上火煎至半盞，入荊芥水兩匙，入蜜少許，再上火熬勻點之。</p>
<p>龍膽飲子：</p>
<p>治疳眼流膿，主疳翳濕熱為病。</p>
<p>穀精草，川鬱金，蛇退皮，炙甘草（各五分），升麻（二錢），麻黃（一錢五分），青蛤粉，龍膽草，黃芩（炒），羌活（各三錢）。</p>
<p>右為細末，每服二錢，食後溫茶清調服之。</p>
<p>柴胡聰耳湯：</p>
<p>治耳中乾結，耳鳴耳聾。</p>
<p>連翹（四錢），柴胡（三錢），炙甘草，當歸身，人參（各一錢），水蛭（五分炒別研），麝香（少許另研），蝱蟲（三個去翅足炒另研）。</p>
<p>右除三味別研外，生薑三片，水二大盞煎至一盞，去柤，再下三味，上火煎一二沸，稍熱服，食遠。</p>
<p>羌活退翳湯：</p>
<p>治太陽寒水，翳膜遮晴，不能視物。</p>
<p>羌活（一兩五錢），防風（一兩），酒生地黃（一錢），薄荷葉，藁本（各七錢），酒知母（五錢），黃柏（四錢），川芎，當歸身（三錢），小椒（五分），細辛（少許），麻黃（二錢用根），荊芥穗（煎成藥加之）。</p>
<p>右㕮咀，每服三錢，水二大盞煎至一盞半，入荊芥穗煎至一盞，去柤，稍熱服食遠，忌酒醋濕麵等物。</p>
<p>遠睛紫金丹：</p>
<p>治目眶歲久赤爛，俗呼為赤瞎是也，當以三稜針刺目眶外以瀉濕熱，如眼生倒睫拳毛，兩目緊，蓋內伏火熱而攻陰氣，法當去其熱內火邪，眼皮緩則毛立出，翳膜亦退，用手法攀出內瞼向外，以針刺之出血。</p>
<p>白沙蜜（二十兩），黃丹（六兩水飛），南乳香，當歸（各三錢），烏魚骨（二錢），麝香（一錢），白丁香（直者五分），輕粉（一字），甘石（十兩燒七遍碎連水浸拌），揀連（三兩小便浸碎為末），碙砂（一錢小盞內放於瓶口上熏乾）。</p>
<p>右將白沙蜜於沙石器內慢火去沫，下甘石，次下丹，以柳枝攪，次下餘藥，以粘手為度，作丸如雞頭大，每用一丸，溫水化開洗。</p>
<p>麗澤通氣湯：</p>
<p>治鼻不聞香臭。</p>
<p>黃耆（四錢），蒼朮，羌活，獨活，升麻，葛根，防風（各三錢），炙甘草（二錢），川椒，麻黃（不去節冬月加），白芷（各一錢）。</p>
<p>右㕮咀，每服五錢，生薑三片，棗二枚，蔥白三寸同煎至一盞，去柤，溫服食遠，忌一切冷物及風寒涼處坐臥行立。</p>
<p>溫肺湯：</p>
<p>治鼻不聞香臭，眼多眵淚。</p>
<p>丁香（二分），防風，炙甘草，葛根，羌活（各一錢），升麻，黃耆（各二節錢），麻黃（不去節，四錢）。</p>
<p>右為麤末，水二盞蔥白三根煎至一盞，去柤，食後服。</p>
<p>禦寒湯：</p>
<p>寒氣風邪，傷於毛皮，令鼻壅塞咳嗽上喘之證。</p>
<p>黃連，黃柏，羌活（各二分），炙甘草，佛耳草，款冬花，白芷，防風（各三分），升麻，人參，陳皮（各五分），蒼朮（七分），黃耆（一錢）。</p>
<p>右㕮咀，都作一服，水二盞煎至一盞，去柤，食後熱服。</p>
<p>蘭室秘藏卷上終。</p>
<h2>蘭室秘藏卷中  金  真定李杲著</h2>
<h3>頭痛門</h3>
<h4>頭痛論</h4>
<p>金匱真言論云：東風生於春，病在肝俞，在頸項，故春氣者，病在頭，又諸陽會於頭面，如足太陽膀胱之脈，起於目內眥上額交巔，上入絡腦還出別下項，病衝頭痛；又足少陽膽之脈，起於目銳眥上抵頭角，病則頭角額痛；夫風從上受之風寒傷上，邪從外入客於經絡，令人振寒頭痛身重惡寒，治在風池風府，調其陰陽，不足則補，有餘則瀉，汗之則愈，此傷寒頭痛也。頭痛耳鳴，九竅不利者，腸胃之所生，乃氣虛頭痛也；心煩頭痛者，病在膈中，過在手巨陽少陰，乃濕熱頭痛也；如氣上不下，頭痛癲疾者，下虛上實也，過在足少陰巨陽，甚則入腎，寒濕頭痛也；如頭半邊痛者，先取手少陽陽明，後取足少陽陽明，此偏頭痛也；有真頭痛者，甚則腦盡痛，手足寒至節，死不治；有厥逆頭痛者，所犯大寒內至骨髓，髓者，以腦為主，腦逆，故令頭痛齒亦痛，凡頭痛皆以風藥治之者，總其大體而言之也，高巔之上，惟風可到，故味之薄者，陰中之陽，乃自地升天者也，然亦有三陰三陽之異，故太陽頭痛，惡風脈浮緊，川芎羌活獨活麻黃之類為主；少陽經頭痛，脈弦細，往來寒熱，柴胡為主；陽明頭痛，自汗，發熱惡寒，脈浮緩長實者，升麻葛根石膏白芷為主；太陰頭痛，必有痰，體重或腹痛，為痰癖，其脈沉緩，蒼朮半夏南星為主；少陰經頭痛，三陰三陽經不流行，而足寒氣逆為寒厥，其脈沉細，麻黃附子細辛為主；厥陰頭項痛，或吐痰沫，厥冷，其脈浮緩，吳茱萸湯主之；血虛頭痛，當歸川芎為主；氣虛頭痛，人參黃耆為主；氣血俱虛頭痛，調中益氣湯少加川芎蔓荊子細辛，其效如神；白朮半夏天麻湯，治痰厥頭痛藥也；青空膏，乃風濕熱頭痛藥也；羌活附子湯，治厥陰頭痛藥也；如濕氣在頭者，以若吐之，不可執方而治，先師嘗病頭痛，發時兩頰青黃，暈眩目不欲開，懶言身體沉重，兀兀欲吐，潔古曰：此厥陰太陰合病，名曰風痰，以局方玉壺丸治之，更灸俠谿穴即愈，是知方者，體也，法者，用也，徒執體而不知用者，弊體用不失，可謂上工矣。</p>
<p>青空膏：</p>
<p>治偏正頭痛，年深不愈者，善療風濕熱頭上壅，損目及腦痛不止。</p>
<p>川芎（五錢），柴胡（七錢），黃連（炒），防風（去蘆），羌活（各一兩），炙甘草（一兩五錢），細挺子黃芩（三兩去皮，剉一半酒製，一半炒）。</p>
<p>右為細末，每服二錢匕，於盞內入茶少許，湯調如膏，抹在口內，少用白湯送下，臨臥。</p>
<p>如苦頭痛，每服加細辛（二分）。</p>
<p>如太陰脈緩有痰，名曰痰厥頭痛，減羌活防風川芎甘草，加半夏（一兩五錢）。</p>
<p>如偏正頭痛，服之不愈，減羌活防風川芎一半，加柴胡一倍。</p>
<p>如發熱惡熱而渴，此陽明頭痛，只與白虎湯，加好吳白芷。</p>
<p>徹清膏：</p>
<p>蔓荊子，細辛（各一分），薄荷葉，川芎（各三分），生甘草，熟甘草（各五分），藁本（一錢）。</p>
<p>右為細末，每服二錢，食後茶清調下。</p>
<p>川芎散：</p>
<p>治頭目不清利。</p>
<p>川芎（三分），柴胡（七分），羌活，防風，藁本，生甘草，熟甘草，升麻（各一錢），酒生地黃（二錢），酒黃連（炒），酒黃芩（各四錢五分）。</p>
<p>右為細末，每服一錢或二三錢，食後茶清調下，忌酒濕麵。</p>
<p>白芷散（一名鬱金散）：</p>
<p>治頭痛。</p>
<p>鬱金（一錢），香白芷，石膏（各二錢），薄荷葉，芒硝（各三錢），右為極細末，口含水鼻內㗜之。</p>
<p>碧雲散：</p>
<p>治頭痛。</p>
<p>細辛，鬱金，芒硝（各一錢），蔓荊子，川芎（各一二分），石膏（一錢三分），青黛（一錢五分），薄荷葉（二錢），紅豆（一箇）。</p>
<p>右為極細末，口噙水鼻內㗜之。</p>
<p>羌活清空膏：</p>
<p>蔓荊子（一錢），黃連（三錢），羌活，防風，甘草（各四錢），黃芩（一兩）。</p>
<p>右為細末，每服一錢，茶清調下，食後，臨臥。</p>
<p>清上瀉火湯：</p>
<p>昔有人年少時氣弱，常於氣海三里炙之，節次約五七十壯，至年老添熱厥頭痛，雖冬天大寒，猶喜寒風，其頭痛則愈，微來暖處或見煙火，其痛復作，五七年不愈，皆炙之過也。</p>
<p>荊芥穗，川芎（各二分），蔓荊子，當歸身，蒼朮（各三分），酒黃連，生地黃，藁本，甘草（各五分），升麻，防風（各七分），酒黃柏，炙甘草，黃耆（各一錢），酒黃芩，知母（酒各錢半），羌活（三錢），柴胡（五錢），細辛（少許），紅花（少許）。</p>
<p>右剉如麻豆大，分作二服，每服水二盞煎至一盞，去柤，稍熱服食後。</p>
<p>補氣湯：</p>
<p>服前藥之後，服此藥。</p>
<p>柴胡（二分），升麻（三分），黃耆（八分），當歸身，炙甘草（各二錢），紅花（少許）。</p>
<p>右㕮咀，作二服，水二盞煎至一盞，去柤，稍熱服食後。</p>
<p>細辛散：</p>
<p>治偏正頭痛。</p>
<p>細辛，瓦粉（各二分），生黃芩，芍藥（各五分），酒黃連，川芎（各七分），酒黃芩（一錢），甘草（炙一錢五），柴胡（二錢）。</p>
<p>右為麤末，每服三錢，水一大盞半至一盞，取清食後服之。</p>
<p>羌活湯：</p>
<p>治風熱壅盛，上攻頭目昏眩。</p>
<p>炙甘草（七分），澤瀉（三錢），瓜蔞根（酒洗五錢），羌活（一兩），白茯苓，酒黃柏（各五錢），柴胡（七錢），防風，細黃芩（酒洗），酒黃連（各一兩）。</p>
<p>右為麤末，每服五錢重，水二中盞煎至一盞，取清食後臨臥，通口熱服之。</p>
<p>養神湯：</p>
<p>治精神短不得睡，項筋腫急難伸，禁甘溫宜苦味。</p>
<p>木香，橘皮，柴胡（各一分），酒黃芩（二分），人參，黃柏，白朮，川芎（各三分），升麻（四分），蒼朮，麥柏，當歸身，黃連（各五分），甘草，半夏（各七分），黃耆（一錢）。</p>
<p>右㕮咀，每服五錢，水二大盞煎至一盞，去柤，稍熱服，不拘時候。</p>
<p>安神湯：</p>
<p>治頭痛，頭旋眼黑。生甘草，炙甘草（各二錢），防風（二錢五分），柴胡，升麻，酒生地黃，酒知母（各五錢），黃耆（二兩），酒黃柏，羌活（各一兩）。</p>
<p>右為麤末，每服五錢，水二大盞半煎至一盞半，加蔓荊子五分川芎三分，再煎至一盞，去柤，臨臥熱服。</p>
<p>半夏白朮天麻湯：</p>
<p>范天騋之內有脾胃證，時顯煩躁，胸中不利，大便不通，而又為寒氣怫鬱，悶亂大作，火不申故也，疑其有熱服疏風丸，大便行，其病不減，恐其藥少，再服七八十丸，大便復見兩行，元證不瘳，增以吐逆，食不能停，痰唾稠粘湧出不止，眼黑頭旋，惡心煩悶，氣短促上喘，無力以言，心神顛倒，目不敢開，如在風雲中，頭苦痛如裂，身重如山，四肢厥冷，不得安臥，余料前證是胃氣已損，復下兩次則重虛其胃，而痰厥頭痛作矣，與此藥而治之。</p>
<p>黃柏（二分酒洗），乾薑（三分），澤瀉，白茯苓，天麻，黃耆，人參，蒼朮（各五分），炒神麯，白朮（各一錢），麥柏麵，半夏（湯洗），橘皮（各一錢五分）。</p>
<p>右㕮咀，每服五錢，水二大盞煎至一盞，去柤，熱服，食前一服而愈。此頭痛苦甚，謂之足太陰痰厥頭痛，非半夏不能療眼黑頭旋；風虛內作，非天麻不能除；黃耆甘溫瀉火，補元氣，實表虛，止自汗；人參甘溫瀉火，補中益氣；二朮俱苦甘溫，除濕補中益氣；澤瀉茯苓利小便，導濕；橘皮苦溫益氣，調中升陽；神麯消食，蕩胃中滯氣；大麥麵寬中，助胃氣；乾薑辛熱以滌中寒；黃柏大苦寒，酒洗以療冬天少火在泉，發躁也。</p>
<h3>口齒咽喉門</h3>
<h4>口齒論</h4>
<p>論曰：夫齒者，腎之標，口者，脾之竅，諸經多有會於口者，其牙齒，是手足陽明之所過，上齦，隸於坤土，乃足陽明胃之脈貫絡也，止而不動，下齦，嚼物動而不休，手陽門大腸之脈所貫絡也，手陽明惡寒飲而喜熱，足陽明喜寒飲而惡熱，其病不一，牙者，腎之標，亦喜寒，寒者堅牢，為病不同熱甚則齒動齦齗，袒脫作痛不已，故所治療不同也，有惡熱而作痛者，有惡寒而作痛者，有惡寒惡熱而作痛者，有惡寒飲少熱飲多而作痛者，有惡熱飲少寒飲多而作痛者，有牙齒動搖而作痛者，有齒齦腫起為痛者，有脾胃中有風邪但覺風而作痛者，又有牙上多為蟲所蝕，其齒缺少而色變為蟲牙痛者，有胃中氣少不能於寒袒露其齒作痛者，有牙齒疼痛而穢臭之氣不可近者，痛既不一，豈可一藥而盡之哉。</p>
<p>羌活散：</p>
<p>治客寒犯腦，風寒濕腦痛，項筋急，牙齒動搖，肉齦袒脫疼痛。</p>
<p>藁本，香白芷，桂枝（各三分），蒼朮，升麻（各五分），當歸身（六分），草豆蔻仁（一箇），羌活（一錢五分），羊脛骨灰（二錢），麻黃（去枝節），防風（各三錢），柴胡（五錢），細辛（少許）。</p>
<p>右為細末，先用溫水嗽口淨擦之，其痛立止也。</p>
<p>草豆蔻散：</p>
<p>治寒多熱少，牙齒疼痛。</p>
<p>細辛葉，防風（各二分），羊脛骨灰，熟地黃（各五分），當歸（六分），草豆蔻仁，黃連（各一錢三分），升麻（二錢五分）。</p>
<p>右為細末，同前牙痛處擦之。</p>
<p>麻黃散：</p>
<p>治冬寒時分，寒濕腦痛，項筋急，牙齒動搖疼痛。</p>
<p>防風，藁本（各三分），羊脛骨灰，當歸身，熟地黃（各六分），草豆蔻仁，升麻，黃連（各一錢），羌活（一錢五分），麻黃（不去節），龍膽草（酒洗），生地黃（各二錢），細辛（少許）。</p>
<p>右為細末，依前藥法擦之。</p>
<p>熱牙散（一名麝香散）：</p>
<p>治大熱牙齒瘴露，根肉齦脫，血出齒動，欲落疼痛，妨食忤涼少，忤熱多。</p>
<p>熟地黃（二分），益智仁（二分半），當歸身，生地黃，麻黃根，酒漢防己，人參（各三分），升麻（一錢），草豆蔻，黃連（各一錢五分），羊脛骨灰（二錢），麝香（少許）。</p>
<p>右為細末，如前藥擦之。</p>
<p>治蟲散（一名白芷散）：</p>
<p>治大寒犯腦，牙齒疼痛及蟲痛，胃經濕熱腫痛。</p>
<p>桂枝（一分），熟地黃（二分），藁本，白芷（各三分），當歸身，益智仁，黃連（各四分），羌活（五分），吳茱萸（八分），草豆蔻，黃耆，升麻（各一錢），羊脛骨灰（二錢），麻黃（不去節二錢五分）。</p>
<p>右為細末，同前擦之。</p>
<p>益智木律散：</p>
<p>治寒熱牙痛。木律（二分），當歸，黃連（各四分），益智仁（五分），草豆蔻皮（一錢二分），熟地黃（五分），羊脛骨灰（五分），升麻（一錢五分）。</p>
<p>右為細末，用度如前擦之，如寒牙痛不用木律。</p>
<p>蝎梢散：</p>
<p>治大寒風犯腦牙痛。</p>
<p>白芷，當歸身，柴胡（各二分），桂枝，升麻，防風，藁本，黃耆（各三分），羌活（五分），草豆蔻皮（一錢），麻黃（去節一錢五分），蝎梢（少許），羊脛骨灰（二錢五分）。</p>
<p>右為細末，如前法用之。</p>
<p>白牙散：</p>
<p>白芷（七分），升麻（一錢），羊脛骨灰（二錢），石膏（一錢五分），麝香（少許）。</p>
<p>右為細末，先用溫水嗽口擦之妙。</p>
<p>刷牙藥：</p>
<p>麝香（一分），生地黃，酒防己，熟地（各二分），當歸身，人參（各三分），草豆蔻皮（五分），升麻（一錢），羊脛骨灰，黃連（各二錢），白豆蔻（三錢），草豆蔻（三錢），沒石子（三箇），五倍子（一箇）。</p>
<p>右為細末，如前法擦之妙。</p>
<p>獨聖散：</p>
<p>治一切牙痛風疳。</p>
<p>北地蒺藜（不拘多少陰乾）。</p>
<p>右為細末，每用刷牙以熱漿水漱牙，外麤末熬漿水刷牙，大有神效，不可具述。</p>
<p>當歸龍膽散：</p>
<p>治寒熱停牙痛。</p>
<p>香白芷，當歸梢，羊脛骨灰，生地（各五分），麻黃，草豆蔻皮，龍膽草，升麻，黃連（各一錢）。</p>
<p>右為細末，如前法擦之，神效。</p>
<p>牢牙地黃散：</p>
<p>治腦寒痛及牙痛。</p>
<p>藁本（二分），生地黃，熟地黃，羌活，防己，人參（各三分），益智仁，歸身（各四分），香白芷，黃耆（各五分），羊脛骨灰，吳茱萸，黃連，麻黃（各一錢），草蔻皮（一錢二分），升麻（一錢五分）。</p>
<p>右為細末，如前法擦之。</p>
<p>細辛散：</p>
<p>治寒邪風邪犯腦牙齒痛。</p>
<p>柴胡，防風，升麻，白芷（各二分），桂枝（二分半），麻黃（去節），藁本，蒼朮（各三分），當歸身（四分），草豆蔻（五分），羊脛骨灰，羌活（各錢五分），細辛（少許）。</p>
<p>右為細末，先漱後擦之佳。</p>
<p>立效散：</p>
<p>治牙齒痛不可忍，及頭腦項背痛，微惡寒飲，大惡熱飲，其脈上中下三部陽虛陰盛，是五臟內盛，六腑陽道微，脈微小，小便滑數。</p>
<p>細辛（二分），炙甘草（三分），升麻（七分），防風（一錢），龍膽草（酒洗四錢）。</p>
<p>右㕮咀，都作一服，水一盞煎至七分，去柤，以匙抄在口中，煠痛處待少時則止；如多惡熱飲，更加龍膽草（一錢），此法不定，隨寒熱多少，臨時加減；若更惡風作痛，加草萱蔻黃連（各五分），勿加龍膽草。</p>
<p>牢牙散：</p>
<p>治牙齦肉綻有根，牙疳腫痛，牙動搖欲落，牙齒不長，牙黃口臭。</p>
<p>羌活（一兩），龍膽草（酒洗一兩五錢），羊脛骨灰（二兩），升麻（一兩）。</p>
<p>右為細末，以紗羅子羅骨灰作微塵末和勻，臥時貼在牙齦上。</p>
<p>清胃散：</p>
<p>治因服補胃熱藥，致使上下牙痛疼不可忍，牽引頭腦，滿面發熱大痛，足陽明之別絡入腦，喜寒惡熱，乃是手陽明經中熱盛而作也，其齒喜冷惡熱。</p>
<p>當歸身，揀細黃連（夏月倍之），生地黃（酒製各三分），牡丹皮（五分），升麻（一錢）。</p>
<p>右為細末，都作一服，水一盞半煎至一盞，去柤，帶冷服之。</p>
<p>神功丸：</p>
<p>治多食肉人，口臭不可近，牙齒疳蝕，牙齦肉將脫，牙齒落血不止。</p>
<p>蘭香葉（如無用藿香葉代之），當歸身，木香（各一錢），升麻（二錢），生地黃（酒洗），生甘草（各三錢），黃連（去鬚酒洗），縮砂仁（各五錢）。</p>
<p>右同為細末，湯蒸餅為丸，如綠豆大，每服一百丸或加至二百丸止，白湯下，食遠服，兼治血痢及血崩及血下不止，血下褐色或紫色黑色及腸澼下血，空心服，米湯下，其脈洪大而緩者；及治麻木，厥氣上衝，逆氣上行，妄聞妄見者。</p>
<p>桔梗湯：</p>
<p>治咽腫微覺痛，聲破。</p>
<p>當歸身，馬勃（各一分），白僵蠶，黃芩（各三分），麻黃（五分不去節），桔梗，甘草（各一錢），桂枝（少許）。</p>
<p>右為麤末，作一服，水二大盞煎至一盞，去柤，稍熱服之食後。</p>
<p>又方：</p>
<p>治口瘡久不愈者。</p>
<p>黃柏（不計多少，真者蜜塗其上，炙黃色），右為細末，乾糝瘡上，臨臥，忌醋醬鹽。</p>
<p>神驗法：</p>
<p>治口瘡無問久新：</p>
<p>夜間將二丸勒緊，以左右手交揉三五十次，但遇睡覺行之如此三五度，因濕而生者，一夜愈，久病諸般口瘡，三二夜愈，如鼻流清涕者，勒之二丸揉之數夜可愈。</p>
<p>內經云：膀胱移熱於小腸，膈腸不便，上為口糜，易老五苓散與導赤散合而飲之。</p>
<h3>嘔吐門</h3>
<p>丁香朱萸湯：</p>
<p>治嘔吐噦，胃虛寒所致。</p>
<p>黃柏（三分），炙甘草，丁香，柴胡，橘皮（各五分），升麻（七分），吳茱萸，蒼朮，人參（各一錢），當歸身（一錢五分），草豆蔻仁，黃耆（各一錢）。</p>
<p>右為麤末，每服五錢，水二大盞煎至一盞，去柤，稍熱服食前。</p>
<p>白朮湯（一名茯苓半夏湯）：</p>
<p>治胃氣虛弱，身重，有痰惡心欲吐，是風邪羈絆於脾胃之間，當先實其脾胃。炒神麯（二錢），陳皮，天麻（各三錢），白朮，白茯苓，麥柏麵（炒黃色），半夏（各五錢）。</p>
<p>右㕮咀，每服五錢，水二盞入生薑五片同煎至一盞，去柤，稍熱服之。</p>
<p>補肝湯（一名柴胡半夏湯）：</p>
<p>治素有風證，不敢見風，眼澀頭痛，眼黑，胸中有痰，惡心兀兀欲吐，遇風但覺皮肉繄手足，難舉重物，如居暖室，少出微汗，其證乃減，再或遇風病即復。</p>
<p>柴胡，升麻，藁本（各五分），白茯苓（七分），炒神麯，蒼朮（各一錢），半夏（二錢），生薑（拾片）。</p>
<p>右為麤末，都作一服，水二大盞煎至一大盞，去柤，稍熱服。</p>
<p>吳茱萸丸（一名木香利膈丸）：</p>
<p>治寒在膈上，噎塞咽膈不通。</p>
<p>木香，青皮（各二分），白僵蠶，薑黃，澤瀉，柴胡（各四分），當歸身，甘草（各六分炙），益智仁，人參，橘皮，升麻，黃耆（各八分），半夏（一錢），草豆蔻仁，吳茱萸（各錢二分），麥柏麵（一錢五分）。</p>
<p>右為細末，湯浸蒸餅為丸，如綠豆大，每服二三十丸，溫水送下，勿多飲湯，恐速下，細嚼亦。</p>
<h3>衄血吐血門</h3>
<p>麥門冬飲子：</p>
<p>治吐血久不愈，以三稜鍼於氣街，出血立愈。</p>
<p>黃耆（一錢），麥門冬，當歸身，生地黃，人參（各五分），五味子（拾箇）。</p>
<p>右為麤末，都作一服，水二盞煎至一盞，去柤，熱服不拘時。</p>
<p>人參飲子：</p>
<p>治脾胃虛弱，氣促氣弱，精神短少，衄血吐血。</p>
<p>麥門冬（二分），人參（去蘆），當歸身（各三分），黃耆，白芍藥，甘草（各一錢），五味子（五箇）。</p>
<p>右為麤末，都作一服，用水二盞煎至一盞，去柤，稍熱服。</p>
<p>一貧者有前證，以前藥投之愈，繼而至冬天居曠室中，臥大熱炕而吐血數次，再來求治，料此病久虛弱，附臍有形而有火熱在內，上氣不足，陽氣外虛，當補表之陽氣，瀉其裏之虛熱是其法也；冬天居曠室，衣蓋單薄是重虛其陽，表有大寒壅遏，裏熱火邪不得舒伸，故血出於口，憶仲景傷寒論中一證，太陽傷寒當以麻黃湯發汗而不與之，遂成衄，卻與麻黃湯立愈，此法相同，予遂用之。</p>
<p>三黃補血湯：</p>
<p>治六脈俱大，按之空虛，心動面赤，善驚上熱，乃手少陰心脈也，此氣盛多而亡血，以甘寒鎮墜之劑，大瀉其氣以墜氣浮，以甘辛溫微苦，峻補其血。</p>
<p>牡丹皮，黃耆，升麻（各一錢），當歸，柴胡（各一錢五分），熟地黃，川芎（各二錢），生地黃（三錢），白芍藥（五錢）。</p>
<p>右㕮咀，如麻豆大，每服五錢，水二大盞煎至一大盞，去柤，稍熱服食前。</p>
<p>如兩寸脈芤，血在上焦，或衄血或嘔血，與犀角地黃湯則愈。</p>
<p>救脈湯（一名人參救肺散）：</p>
<p>治吐血。</p>
<p>甘草，蘇木，陳皮（各五分），升麻，柴胡，蒼朮（各一錢），當歸梢，熟地黃，白芍藥，黃耆，人參（各二錢）。</p>
<p>右為麤末，都作一服，水二大盞煎至一盞，去柤，稍溫食前服。</p>
<p>麻黃桂枝湯：</p>
<p>人參（益上焦元氣不足而實其表也），麥冬（保肺氣各三分），桂枝（以補表虛），當歸身（和血養血各五分），甘草（補其脾胃之虛），麻黃（去根節），黃耆（實表益衛），白芍藥（各一錢），五味子（伍箇安其脈氣）。</p>
<p>右以水三盞先煮麻黃一味，令沸去沫，至二盞入餘藥同煎至一盞，去柤，熱服臨臥，只一服而愈，更不再作。</p>
<p>黃耆芍藥湯：</p>
<p>治鼻衄血多，面黃，眼澀多眵，手麻木。</p>
<p>葛根，羌活（各五錢），升麻（一兩），炙甘草（二兩），白芍藥黃耆（各三兩）。</p>
<p>右㕮咀，每服五錢，水二盞煎至一盞，食後。</p>
<p>六脈弦細而濇，按之空虛，其色必白而夭不澤者，脫血也，此大寒證，以辛溫補血益血，以甘溫甘熱滑潤之劑以佐之則愈，此亡血亦傷精氣。</p>
<p>止衄血法：</p>
<p>治鼻血久不止，素有熱而暴作者，諸藥無驗，神法以大紙一張，作八摺或十摺，於水內濕，置頂中，以熱熨斗熨至一重或二重紙乾，立止。</p>
<h3>腰痛門</h3>
<p>川芎肉桂湯：</p>
<p>丁未冬，曹通甫自河南來，有役人小翟，露宿寒濕之地，腰痛不能轉側，兩脇搐急作痛，已經月餘不愈矣，腰痛論中說，皆為足太陽足少陰血絡中有凝血作痛，間有一二證屬少陽膽經外絡脈病，皆去血絡之凝乃愈，其內經有云：冬三月禁，不得用鍼，只宜服藥通其經絡，破其血絡中敗血，以此藥主之。</p>
<p>酒漢防己，防風（各三分），炒神麯，獨活（各五分），川芎，柴胡，肉桂，當歸梢，炙甘草，蒼朮（各一錢），桃仁（五箇去皮尖），羌活（一錢五分）。</p>
<p>右㕮咀，都作一服，好酒三大盞煎至一大盞，去柤，梢熱食遠服。</p>
<p>獨活湯：</p>
<p>治因勞役腰痛如折，沉重如山。</p>
<p>炙甘草（二錢），羌活，防風，獨活，大黃（煨），澤瀉，肉桂（各三錢），當歸梢，連翹（各五錢），酒漢防己，酒黃柏（各一兩），桃仁（三十箇）。</p>
<p>右㕮咀，每服五錢，酒半盞水一大盞半煎至一盞，去柤，熱服。</p>
<p>破血散疼湯：</p>
<p>治乘馬損傷，跌其脊骨，惡血流於脇下，其痛苦楚不能轉側，妨於飲食。</p>
<p>羌活，防風，中桂（各一錢），蘇木（一錢五分），連翹，當歸梢，柴胡（各二錢），麝香（少許另研），水蛭（三錢炒去煙盡另研）。</p>
<p>右件分作二服，每服酒二大盞水一大盞，除水蛭麝香另研如泥，煎餘藥作一大盞，去柤，上火令稍熱，調二味空心服之，兩服立愈。</p>
<p>地龍散：</p>
<p>治腰脊痛或打撲損傷，從高墜下，惡血在太陽經中，令人腰脊痛或脛腨臂股中痛不可忍，鼻塞不通。</p>
<p>當歸梢（一分），中桂，地龍（各四分），麻黃（五分），蘇木（六分），獨活，黃柏，甘草（各一錢），羌活（二錢），桃仁（六箇）。</p>
<p>右㕮咀，每服五錢，水二盞煎至一盞，去柤，溫服食。</p>
<p>蒼朮湯：</p>
<p>治溼熱腰腿疼痛。</p>
<p>防風（風能勝溼），黃柏（各一錢，始得之時寒也，久不愈寒化為熱，除溼止痛），柴胡（二錢行經），蒼朮（三錢云溼止痛）。</p>
<p>右都作一服，水二大盞煎至一盞，去柤，空心服。</p>
<p>麻黃復煎散：</p>
<p>治陰室中汗出懶語，四肢困倦無力，走注疼痛，乃下焦伏火而不得申，浮而躁熱汗出，一身盡痛，蓋風溼相搏也，以升陽發汗漸漸發之，火鬱及溼在經者，亦宜發汗，況正值季春之月，脈緩而遲，尤宜發汗，令風濕去而陽升，以此困倦乃退，氣血俱得生旺也。</p>
<p>白朮，人參，生地黃，柴胡，防風（各五分），羌活，黃柏（各一錢），麻黃（去節微搗不令作末，水五大盞煎令沸去沫煎至二盞，入下項藥再煎），黃耆（各二錢），甘草（三錢），杏仁（三箇去皮）。</p>
<p>右㕮咀，都作一服，入麻黃湯煎至一盞，臨臥服之，勿令食飽取漸次有汗則效。</p>
<p>緩筋湯（一名羌活湯）：</p>
<p>治兩目如火腫痛，兩足及伏兔筋骨痛，膝少力，身重腰痛，夜惡寒痰嗽，頸項皆急痛，目外眵，目絲急，食不下。</p>
<p>熟地黃（二分），生甘草，柴胡，紅花，炙甘草，蘇木，獨活（各二分），藁本，升麻，黃芩，草豆蔻仁，酒黃柏，生地黃，當歸身，麻黃（各三分），羌活（三錢），蒼朮（五分）。</p>
<p>右為麤末，都作一服，水二大盞煎至一盞，去柤，食遠服之。</p>
<p>拈痛湯：</p>
<p>治濕熱為病，肩背沉重，肢節疼痛，胸膈不利。</p>
<p>白朮（五分），人參（去蘆），苦參（酒炒），升麻（去蘆），葛根，蒼朮（各二錢），防風（去蘆），知母（酒洗），澤瀉，黃芩（炒），豬苓，歸身（各三錢），炙甘草，黃芩（酒洗），茵陳（酒炒），羌活（各五錢）。</p>
<p>右㕮咀，每服一兩水二大盞煎至一盞，去柤，食遠服。</p>
<p>蒼朮復煎散：</p>
<p>治寒濕相合，腦右痛，惡寒項筋脊骨強，肩背胛眼痛，膝臏痛無力，行步沉重。</p>
<p>紅花（一分），黃柏（三分），柴胡，藁本，澤瀉，白朮，升麻（各五分），羌活（一錢），蒼朮（四兩水二碗煎二盞，去柤入藥）。</p>
<p>右㕮咀，先煎蒼朮湯二大盞，復煎前項藥至一大盞，稍熱空心服，取微汗為效，忌酒濕麵。</p>
<p>羌活蒼朮湯：</p>
<p>治腳膝無力沉重。</p>
<p>炙甘草，黃柏，草豆蔻，生甘草，葛根（各五分），橘皮（六分），柴胡（七分半），升麻，獨活，縮砂仁，蒼朮（各一錢），防風（一錢五分），黃耆（二錢），知母（二錢五分），羌活（三錢）。</p>
<p>右㕮咀，分作二服，水二大盞煎至一盞，去柤，空心服。</p>
<h3>婦人門</h3>
<h4>經閉不行有三論</h4>
<p>陰陽別論云：二陽之病發心脾，有不得隱曲，女子不月，其傳為風消，為息賁者，死不治，婦人脾胃久虛，或形嬴氣血俱衰而致經水斷絕不行或病中消胃熱，善食漸瘦，津液不生，夫經者，血脈津液所化，津液既絕，為熱所爍，肌肉消瘦，時見渴躁，血海枯竭，病名曰：血枯經絕，宜瀉胃之燥熱，補益氣血，經自行矣，此證或經通行而有子，子不安為胎病者有矣，或心包脈洪數躁作，時見大便秘澀，小便雖清不利，而經水閉絕不行，此乃血海乾枯，宜調血脈除包絡中火邪而經自行矣，內經所謂：小腸移熱於大腸為癥瘕，為沉脈澀不利，則月事沉滯而不利，故云：為癥瘕為沉也，或因勞心，心火上行，月事不來，安心和血瀉火經自行矣，故內經云：月事不來者，胞脈閉也，胞脈者，屬心而絡於胞中，令氣上迫肺心，氣不得下，故月事不來也。</p>
<h4>經漏不止有二論</h4>
<p>陰陽別論云：陰虛陽搏謂之崩。婦人脾胃虛損，致命門脈沉細而數疾，或沉弦而洪大有力，寸關脈亦然，皆由脾胃有虧，下陷於腎，與相火相合，濕熱下迫，經漏不止，其色紫黑如夏月腐肉之臭，中有白帶者，脈必弦細，寒作於中；中有赤帶者，其脈洪數疾熱明矣，必腰痛或臍下痛，臨經欲行先見寒熱往來，兩脇急縮，兼脾胃證出見或四肢困熱，心煩不得眠臥，心下急，宜大補脾胃，而升舉血氣，可一服而愈，或人故貴脫勢，人事疏少，或先富後貧，心氣不足，其火大熾，旺於血脈之中，又致脾胃飲食失節，火乘其中，形質肌肉容顏似不病者，此心病也，不形於診，故脾胃飲食不調，其證顯矣；而經水不時而下，或適來適斷，暴下不止，治當先說惡死之言，勸諭令懽死而心不動，以大補氣血之藥，養脾胃，微加鎮墜心火之藥，治其心，補陰瀉陽，經自止矣。痿論云：悲哀太甚，則胞絡絕也。陽氣內動，發則心下崩，數溲血也，故本病曰大經空虛，發則肌痹，傳為脈痿，此之謂也。</p>
<p>升陽除濕湯（一名調經升麻除濕湯）：</p>
<p>治女子漏下惡血，月事不調，或暴崩不止，多下水漿之物，皆由飲食不節，或勞傷形體，或素有心氣不足，因飲食勞倦，致令心火乘脾，其人必怠惰嗜臥，四肢不收困倦乏力，無氣以動，氣短上氣，逆急上衝，其脈緩而弦急，按之洪大，皆中指下得之，脾土受邪也，脾主滋榮周身者也，心主血，血主脈，二者受邪，病皆在脈，脈者，血之府也，脈者，人之神也，心不主令，包絡代之，故曰：心之脈主屬心系，心系者，包絡命門之脈也，主月事，因脾胃虛而心包乘之，故漏下，月事不調也，況脾胃為血氣陰陽之根蒂也，當除濕去熱，益風氣土伸，以勝其濕，又云：火鬱則發之。</p>
<p>當歸（酒洗），獨活（各五分），蔓荊子（七分），防風，炙甘草，升麻，藁本（各一錢），柴胡，羌活，蒼朮，黃耆（各一錢五分）。</p>
<p>右剉如麻豆大，勿令作末，都作一服，以潔淨新汲水三大盞煎至一大盞，去柤，空心熱服，待少時以早飯壓之，可一服而已，如炙足太陰脾經中血海穴二七壯亦已。</p>
<p>此藥乃從權之法，用風勝濕，為胃下陷而氣迫於下，以救其血之暴崩也，併血惡之物住後，必須黃耆人參炙甘草當歸之類，數服以補之，於補氣升陽湯中加以和血藥便是也；若經血惡物下之不絕，尤宜究其根源，治其本經，只益脾胃退心火之亢，乃治其根蒂也；若遇夏月白帶下脫漏不止，宜用此湯一服立止。</p>
<p>涼血地黃湯：</p>
<p>治婦人血崩，是腎水陰虛不能鎮守包絡相火，故血走而崩也。</p>
<p>黃耆，荊芥穗，蔓荊子（各一錢），黃柏，知母，藁本，細辛，川芎（各二分），黃連，羌活，柴胡，升麻，防風（各三分），生地黃，當歸（各五分），甘草（一錢），紅花（少許）。</p>
<p>右㕮咀，都作一服，水三大盞煎至一盞，去柤，稍熱空心服之。</p>
<p>足太陰脾之經中血海二穴：在膝臏上內臁白肉際二寸中，治女子漏下惡血，月事不調，逆氣腹脹，其脈緩者是也，灸三壯。</p>
<p>足少陰腎之經中陰谷二穴：在膝內輔骨後大筋下，小筋上按之，應手屈膝取之，治膝如錐不得屈伸，舌縱涎下，煩逆溺難，少腹急引陰痛股內臁痛，婦人漏血不止，腹脹滿不得息，小便黃如蠱，女子如妊身，可灸二壯。</p>
<p>酒煮當歸丸：</p>
<p>治㿗疝，白帶下疰腳氣，腰已下如在冰雪中，以火焙炕，重重厚綿衣蓋其上，猶寒冷不任，寒之極也，面白如枯魚之象，肌肉如刀割削瘦，峻之速也，小便不止，與白帶長流而不禁，固自不知覺面白目青藍如菜色，目䀮䀮無所見，身重如山，行步欹側不能安地，腿膝枯細，大便難，秘口不能言，無力之極，食不下，心下痞，煩心懊憹，不任其苦，面停垢，背惡寒，小便遺而不知，此上中下三陽真氣俱虛欲竭，噦嘔不止，胃虛之極也，脈沉厥緊而澀，按之空虛，若脈洪大而濇，按之無力，猶為中寒之證，況按之空虛者乎？按之不鼓是為陰寒，乃氣血俱虛之極也。</p>
<p>茴香（五錢），黑附子（炮製去皮臍），良薑（各七錢），當歸（一兩）。</p>
<p>右四味剉如麻豆大，以上等好酒一升半同煮至酒盡焙乾。</p>
<p>炙甘草，苦楝（生用），丁香（各五錢），木香，升麻（各一錢），柴胡（二錢），炒黃鹽，全蝎（各三錢），延胡索（四錢）。</p>
<p>右與前四味藥同為細末，酒煮麵糊為丸，如梧桐子大，服五七十丸，空心淡醋湯下，忌油膩冷物酒濕麵。</p>
<p>固真丸：</p>
<p>治白帶久下不止，臍腹冷痛，陰中亦然，目中溜火，視物䀮䀮然無所見，齒皆惡熱飲，痛須得黃連細末擦之乃止，惟喜乾食，大惡湯飲，此病皆寒濕乘其胞內，故喜乾而惡濕，肝經陰火上溢走於標，故上壅而目中溜火，腎水侵肝而上溢，致目䀮䀮而無所見，齒惡熱飲者是陽明經中伏火也，治法當大瀉寒濕，以丸藥治之，故曰寒在下焦，治宜緩，大忌湯散，以酒製白石脂白龍骨以枯其濕，炮乾薑大熱辛瀉寒水，以黃柏之大寒為因用又為鄉導，故云：古者雖有重罪，不絕人之後，又為之伏其所主，先其所因之意，又瀉齒中惡熱飲也，以柴胡為本經之使，以芍藥五分導之，恐辛熱之藥大甚損其肝經，故微瀉之，以當歸身之辛溫大和其血脈，此用藥之法備矣。</p>
<p>黃柏（酒洗），白芍藥（各五分），柴胡，白石脂（各一錢火燒赤水飛細研日乾），白龍骨（酒煮日乾水飛為末），當歸（酒洗各二錢），乾薑（四錢炮）。</p>
<p>右件除龍骨白石脂水飛研外，同為細末，水煮麵糊為丸，如雞頭仁大，日乾空心多用白沸湯下，無令胃中停滯，待少時，以早飯壓之，是不令熱藥犯胃，忌生冷硬物酒濕麵。</p>
<p>烏藥湯：</p>
<p>治婦人血海疼痛。</p>
<p>當歸，甘草，木香（各五錢），烏藥（一兩），香附子（二兩炒）。</p>
<p>右㕮咀，每服五錢，水二大盞，去柤，溫服食前。</p>
<p>助陽湯（一名升陽燥濕湯）：</p>
<p>治白帶，下陰戶中痛，控心而急痛，身黃皮緩，身重如山，陰中如冰。</p>
<p>生黃芩，橘皮（各五分），防風，高良薑，乾薑，郁李仁，甘草（各一錢），柴胡（一錢三分），白葵花（七朵）。</p>
<p>右剉如麻豆大，分作二服，每服水二大盞煎至一盞，去柤，食前稍熱服。</p>
<p>水府丹：</p>
<p>治婦人久虛積冷，經候不行，癥瘕癖塊，腹中暴痛，面有䵟𪒟，黎黑羸瘠。</p>
<p>碙砂（紙隔沸湯淋熬取），紅豆（各五錢），桂心（另為末），木香，乾薑（各一兩），砂仁（二兩），經煆花蕊石（研一兩五錢），斑貓（一百箇去頭翅），生地黃汁，童子小便（各一升），臘月狗膽（七枚），芫蜻（三百箇去頭足糯米升炒米黃去米不用）。</p>
<p>右九味為細末，同三汁熬為膏，和丸如雞頭大，硃砂為衣，每服一丸，溫酒細嚼食前服，米飲亦可，孕婦不可服。</p>
<p>丁香膠艾湯：</p>
<p>治崩漏不止，蓋心氣不足，勞役及飲食不節所得，經隔少時，其脈二尺俱弦緊洪，按之無力，其證自覺臍下如冰，求厚衣被以禦其寒，白帶白滑之物多，間有如屋漏水下，時有鮮血，石尺脈時微洪也。</p>
<p>熟地黃，白芍藥（各三分），川芎，丁香（各四分），阿膠（六分），生艾葉（一錢），當歸（一錢二分）。</p>
<p>右川芎為細末，當歸酒洗剉，熟地黃丁香為細末，艾亦剉，都作一服，水二大盞先煎五味作一盞零二分，去柤，入膠再上火煎至一大盞，帶熱空心服之。</p>
<p>黃耆當歸人參湯：</p>
<p>丁未仲冬，郭大方來說其妻經水暴崩不止，先曾損身失血，自後一次縮，一十日而來，今次不止，其人心窄性急多驚，以予料之，必因心氣不足，飲食不節得之，大方曰：無到彼診得掌中寒脈沉細而緩，間而沉數，九竅微有不利，四肢無力，上喘氣短促，口鼻氣皆不調，果有心氣不足，脾胃虛弱之證，胃脘當心而痛，左脇下縮急有積，當臍有動氣，腹中鳴下氣，大便難，虛證極多，不能盡錄，擬先治其本，餘證可以皆去，安心定志，鎮墜其經，調和脾胃，大益元氣，補其血脈，令養其神，以大熱之劑去其冬寒凝在皮膚，內少加生地黃，去命門相火，不令四肢痿弱。</p>
<p>黃連（一分），生地黃（三分），炒神麯，橘皮，桂枝（各五分），草豆蔻仁（六分），黃耆，人參，麻黃（不去節各一錢），當歸身（一錢五分），杏仁（五箇另研如泥）。</p>
<p>右㕮咀，作二服，水二大盞半煎麻黃令沸，去柤，煎至二盞入諸藥同煎至一大盞，於巳午之間，食消盡服之，一服立止其胃脘痛，乃胃上有客寒，與大熱藥草豆蔻丸一十五丸，白湯送下，其痛立止，再與肝之積藥，除其積之根源而愈。</p>
<p>當歸芍藥湯：</p>
<p>治婦人經脈漏下不止，其色鮮紅，時值七月處暑之間，先因勞役，脾胃虛弱，氣短氣逆，自汗不止，身熱悶亂，惡見飲食，非惟不入，亦不思食，沉懶困倦，四肢無力，大便時瀉，後再因心氣不足，經脈再下不止，惟覺氣下脫，其元氣逆上全無，惟覺心腹中氣下行，氣短少不能言，是無力以言，非懶語也，此藥主之。</p>
<p>柴胡（二分），炙甘草，生地黃（各三分），橘皮（不去白），熟地黃（各五分），黃耆（一錢五分），蒼朮（泔浸去皮），當歸身，白芍藥，白朮（各二錢）。</p>
<p>右十味㕮咀，如麻豆大，分作二服，水二盞半煎至一盞，去柤，稍熱空心服之。</p>
<p>柴胡調經湯：</p>
<p>治經水不止，鮮紅，項筋急腦痛，脊骨強痛。</p>
<p>炙甘草，當歸身，葛根（各三分），獨活，藁本，升麻（各五分），柴胡（七分），羌活，蒼朮（各一錢），紅花（少許）。</p>
<p>右剉如麻豆大，都作一服，水四大盞煎至一盞，去柤，空心稍熱服，取微汗立止。</p>
<p>一婦人經候凝結，黑血成塊，左廂有血瘕，水泄不止，穀有時不化，後血塊暴下并水俱作，是前後二陰有形血脫竭於下，既久經候猶不調，水泄日見三兩行，食罷煩心，飲食減少，甚至瘦弱，東垣老人曰：夫聖人治病必本四時升降浮沉之理，權變之宜必先歲氣無伐天和，無盛無虛，遺人夭殃，無致邪無失正，絕人長命，故仲景云：陽盛陰虛，下之則愈，汗之則死；陰盛陽虛，汗之即愈，下之即死，大抵聖人立法，且如升陽或發散之劑，是助春夏之陽氣令其上升乃瀉秋冬收藏殞殺寒涼之氣，此病是也，當用此法治之，升降浮沉之至理也。天地之氣以升降浮沉乃從四時，如治病不可逆之，故經云：順天則昌，逆天則亡，可不畏哉。夫人之身亦有四時，天地之氣不可止認在外，人亦體同天地也，今經漏不止，是前陰之氣血巳脫下矣，水泄又數年，是後陰之氣血下陷以脫矣，後陰者，主有形之物也，前陰者，精氣之戶，下竭是病人周身之血氣常行秋冬之令，陰主殺，此等收藏之病是也，陽生陰長，春夏是也，在人之身，令氣升浮者，穀氣上行是也，既病人周身血氣皆不生長，穀氣又不勝其肌肉消少，是兩儀之氣俱將絕矣，既下元二陰俱脫，血氣將竭，假令當是熱證，今下焦久脫，化為寒矣，此病久沉久降，寒濕大勝，當急救之，瀉寒以熱，除濕以燥，大升大舉以助生長，補養氣血不致偏竭，聖人立治之法，既濕氣大勝，以所勝治之，助甲風木上升是也，故經云：風勝濕，是以所勝平之也，當先調和胃氣，次用白朮之類以燥其濕而滋元氣，如其不止，後用風藥以勝濕，此便是大舉大升以助春夏二濕之久陷下之至治也。</p>
<p>益胃升陽湯：</p>
<p>血脫益氣，古聖人之法也，先補胃氣以助生發之氣，故曰：陽生陰長，諸甘藥為之先務，舉世皆以為補，殊不知甘能生血，此陽生陰長之理也，故先理胃氣，人之身內胃氣為寶。</p>
<p>柴胡，升麻（各五分），炙甘草，當歸身（酒洗），陳皮（各一錢），人參（去蘆有嗽去之），炒神麯（各一錢五分），黃耆（二錢），白朮（三錢），生黃芩（少許）。</p>
<p>右㕮咀，每服二錢，水二大盞煎至一盞，去柤，稍熱服，如腹中痛，每服加白芍藥（三分），中桂（少許），如渴或口乾，加葛根（二分），不拘時候。</p>
<p>升陽舉經湯：</p>
<p>治經水不止，如右尺脈控之空虛，是氣血俱脫，大寒之證，輕手其脈數疾舉指弦緊或澀，皆陽脫之證，陰火亦亡，見熱證於口鼻眼或渴，此皆陰躁陽欲先去也，當溫之舉之升之浮之躁之，此法當大升浮血氣，切補命門之下脫也。</p>
<p>肉桂（去皮盛夏勿用秋冬用），白芍藥，紅花（各五分），細辛（六分），人參（去蘆），熟地黃，川芎（各一錢），獨活根，黑附子（炮製去皮臍），炙甘草（各一錢五分），羌活，藁本（去土），防風（各二錢），白朮，當歸，黃耆，柴胡（各三錢），桃仁（十箇湯浸去皮尖細研）。</p>
<p>右㕮咀，每服三錢，若病勢順當，漸加至五錢，每服水三盞煎至一盞，空心熱服。</p>
<h4>半產誤用寒涼之藥論</h4>
<p>婦人分娩及半產漏下，昏冒不省，瞑目無所知覺，蓋因血暴亡，有形血去則心神無所養，心與包絡者，君火相火也，得血則安，亡血則危，火上熾，故令人昏冒火勝其肺，瞑目不省人事，是陰血暴去不能鎮撫也，血已虧損，往往用滑石甘草石膏之類，乃辛甘大寒之藥，能瀉氣中之熱，是血虧瀉氣，乃陰虧瀉陽，使二者俱傷，反為不足虛勞之病，昏迷不省者，上焦心肺之熱也，此無形之熱，用寒涼之藥，驅令下行，豈不知上焦之病，悉屬於表，乃陰證也，汗之則愈，今反下之，幸而不死，暴虧氣血，生命豈能久活，又不知內經有說：病氣不足宜補不宜瀉。但瞑目之病，悉屬於陰，宜汗不宜下，又不知傷寒，鬱冒得汗則愈，是禁用寒涼藥也，分娩半產本氣不病，是暴去其血，亡血補血，又何疑焉？補其血則神昌，常時血下降亡，今當補而升舉之，心得血而養，神不昏矣，血若暴下，是秋冬之令大旺，今舉而升之，以助其陽，則目張神不昏迷矣，今立一方，補血養血生血益陽以補手足厥陰之不足也。</p>
<p>全生活血湯：</p>
<p>紅花（三分），蔓荊子，細辛（各五分），生地黃（夏月多加之），熟地黃（各一錢），藁本，川芎（各一錢五分），防風（諸陽既陷何以知之血下脫故也），羌活，獨活，炙甘草，柴胡（去苗），當歸身（酒洗），葛根（各二錢），白芍藥，升麻（各三錢）。</p>
<p>右㕮咀，每服五錢，水二盞煎至一盞，去柤，食前稍熱服。</p>
<p>當歸附子湯：</p>
<p>治臍下冷痛，赤白帶下。</p>
<p>當歸（二分），炒鹽（三分），蝎梢，升麻（各五分），甘草（六分），柴胡（七分），黃柏（少許為引用），附子（一錢），乾薑，良薑（各一錢）。</p>
<p>右為麤末，每服五錢，水五盞煎至一盞，去柤，稍熱服，或為細末酒麵糊為丸亦可。</p>
<p>調經補真湯：</p>
<p>冬後一月，微有地泥冰泮其白帶再來，陰戶中寒，一服立止。</p>
<p>獨活，乾薑（炮），藁本，防風，蒼朮（各二分），麻黃（不去節），炙甘草，人參（去蘆），當歸身，白朮，生黃芩，升麻（各五分），黃耆（七分），良薑，澤瀉，羌活（各一錢），柴胡（四錢），杏仁（二箇），桂枝（少許），白葵花（七朵去萼）。</p>
<p>右㕮咀，除黃芩麻黃各另外，都作一服，先以水三大盞半，煎麻黃一味令沸，掠去沫入餘藥同煎至一盞零七分，再入生黃芩煎至一盞，空心服之，候一時許，可食早飯。</p>
<p>坐藥龍鹽膏：</p>
<p>茴香（三分），枯礬（五分），良薑，當歸梢，酒防己，木通（各一錢），丁香，木香，川烏（炮各一錢五分），龍骨，炒鹽，紅豆，肉桂（各二錢），厚朴（三錢），延胡索（五錢），全蝎（五箇）。</p>
<p>右為細末，煉蜜為丸如彈子大，綿裹留絲在外，內丸藥陰戶內，日易之。</p>
<p>勝陰丹：</p>
<p>為上藥力小，再取三錢，內加行性熱藥項下。</p>
<p>柴胡，羌活，枯白礬，甘松，升麻（各二分），川烏頭，大椒，三柰子（各五分），蒜（七分），破故紙（八分與蒜同煮焙乾秤），全蝎（三箇），麝香（少許）。</p>
<p>右為細末，依前法用。</p>
<p>迴陽丹：</p>
<p>羌活，全蝎，升麻根，甘松（各二分），草烏頭，水蛭（炒各三分），大椒，三柰子，蓽撥，枯礬（各五分），柴胡，川烏（各七分），炒黃鹽（為必用之藥去之則不效），破故紙，蒜（各一錢），蝱蟲（三箇去翅足炒）。</p>
<p>右為極細末，依前製用，臍下覺暖為效。</p>
<p>柴胡丁香湯：</p>
<p>治婦人年三十歲，臨經先腰臍痛甚，則腹中亦痛，經縮三兩日。</p>
<p>生地黃（二分），丁香（四分），當歸身，防風，羌活（各一錢），柴胡（一錢五分），全蝎（一箇）。</p>
<p>右件都作一服，水二盞煎至一盞，去柤，食前稍熱服。</p>
<p>延胡苦楝湯：</p>
<p>治臍下冷撮痛，陰冷大寒白帶下。</p>
<p>黃柏（一分為引用），延胡索，苦楝子（各二分），附子（炮），肉桂（各三分），炙甘草（五分），熟地黃（一錢）。</p>
<p>右都作一服，水二大盞煎至一盞，食前服。</p>
<p>桂附湯：</p>
<p>治白帶腥臭，多悲不樂，大寒。</p>
<p>黃柏（為引用），知母（各五分），肉桂（一錢），附子（三錢）。</p>
<p>右㕮咀，都作一服，水二盞煎至一盞，去柤，食遠熱服。</p>
<p>如少食常飽，有時似腹脹夯悶，加白芍藥（五分）。</p>
<p>如不思飲食，加五味子（二十箇）。</p>
<p>如煩惱，面上如蟲行，乃胃中元氣極虛，加黃耆（一錢五分），人參（七分），炙甘草升麻（各五分）。</p>
<p>人參補氣湯：</p>
<p>治四肢懶倦，自汗無力。</p>
<p>丁香末（二分），生甘草梢，炙甘草（各三分），生地黃，白芍藥（各五分），熟地黃（六分），人參，防風，羌活，黃柏，知母，當歸身，升麻（各七分），柴胡（一錢），黃耆（一錢五分），全蝎（一箇），五味子（二十箇）。</p>
<p>右剉如麻豆大，都作一服，水二盞煎至一盞，去柤，空心稍熱服。</p>
<p>黃耆白朮湯：</p>
<p>治婦人四肢沉重，自汗上至頭際頸而還，惡風頭痛躁熱。</p>
<p>細辛（三分），吳茱萸，川芎（各五分），柴胡，升麻（各一錢），當歸身（一錢五分），黃柏（酒洗），炙甘草，羌活（各二錢），五味子（三錢），白朮，人參（各五錢），黃耆（一兩）。</p>
<p>右㕮咀，每服五錢，水二大盞生薑五片煎至一盞，去柤，食前熱服。</p>
<p>如腹中痛不快，加炙甘草（一錢），汗出不止加黃柏（一錢）。</p>
<p>白朮茯苓湯：</p>
<p>治胃氣弱，身重有痰，惡心欲吐，是風邪羈絆於脾胃之間，當先實其脾胃。</p>
<p>白朮，白茯苓，半夏（各一兩），炒麯（二錢），麥柏麵（五分炒）。</p>
<p>右㕮咀，每服五錢，水二大盞，入生薑五片，煎至一盞，去柤，不拘時服。</p>
<p>增味四物湯：</p>
<p>治婦人血積。</p>
<p>當歸，川芎，芍藥，熟地黃，京三稜，乾漆（炒燥煙盡），肉桂（去皮），廣茂（各等分）。</p>
<p>右為麤末，每服五錢，水二大盞煎至一盞，去柤，食前稍熱服。</p>
<p>補經固真湯：</p>
<p>白文舉正室，白帶常漏久矣，諸藥不效，診得心包尺脈微，其白帶下流不止，叔和云：崩中日久，為白帶漏下多時，血水枯，言崩中者，始病血崩，久則血少，復亡其陽，故白滑之物下流不止，是本經血海將枯，津液復亡，枯乾不能滋養筋骨，以本經行經藥引用為使，以大辛甘油膩之藥潤其枯燥而滋益津液，以大辛熱之氣味藥補其陽道生其血脈，以苦寒之藥泄其肺而救上熱傷氣，以人參補之，以微苦溫之藥為佐而益元氣。</p>
<p>白葵花（去萼研爛四分），甘草炙，郁李仁（去皮尖研泥），柴胡（各一錢），乾薑（細末），人參（各二錢），生黃芩（細研一錢），陳皮（留皮五分）。</p>
<p>右件除黃芩外，以水三盞煎至一盞七分，再入黃芩同煎至一盞，去柤，空心熱服，少時以早飯壓之。</p>
<p>溫衛補血湯：</p>
<p>治耳鳴，鼻不聞香臭，口不知穀味，氣不快，四肢困倦，行步欹側，髮脫落，食不下，膝冷陰汗帶下，喉中吤吤不得臥，口舌益乾，太息頭不可以回顧，項筋緊，脊強痛頭旋，眼黑頭痛欠嚏。</p>
<p>生地黃，白朮，藿香，黃柏（各一分），牡丹皮，蒼朮，王瓜根，橘皮，吳茱萸（各二分），當歸身（二分半），柴胡，人參，熟甘草，地骨皮（各三分），升麻（四分），生甘草（五分），黃耆（一錢二分），丁香（一箇），桃仁（三箇），葵花（七朵）。</p>
<p>右㕮咀，作一服，用水二大盞煎至一盞，去柤，食前熱服。</p>
<p>立效散：</p>
<p>治婦人血崩不止。</p>
<p>當歸，蓮花心，白綿子，紅花，茅花（各一兩）。</p>
<p>右剉如豆大，白紙裹定泥固，炭火燒灰存性，為細末，如乾血氣研血竭為引，好溫酒調服，加輕粉（一錢）；如血崩不止加麝香為引，好溫酒調服。</p>
<p>四聖散：</p>
<p>治婦人赤白帶下。</p>
<p>川烏（炮製），生白礬（各一錢），紅娘子（三箇），斑貓（十箇），煉蜜為丸，如皂子大，綿裹坐之。</p>
<p>溫經除濕湯：</p>
<p>十月霜冷後，四肢無力，乃痿厥，濕熱在下焦也，醋心者，是濁氣不下降，欲為滿也，合眼麻木作者，陽道不行也，惡風寒者，上焦之分，皮膚中氣不行也，開目不麻者，目開助陽道，故陰寒之氣少退也，頭旋眩暈者，風氣下陷於血分不得伸越而作也，近火則有之。</p>
<p>黃連（一分），柴胡，草豆蔻，神麯（炒），木香（各二分），麻黃（不去節），獨活，當歸身，黃柏（各一分），升麻（五分），羌活（七分），炙甘草，人參，白朮，豬苓，澤瀉（各一錢），黃耆，橘皮，蒼朮（各二錢），白芍藥（三錢）。</p>
<p>右剉如麻豆大，分作二服，水二盞煎至一盞，食遠服，治支節沉重疼痛無力之勝藥也。</p>
<p>補氣升陽和中湯：</p>
<p>李正臣夫人病，診得六脈中俱得弦洪緩相合，按之無力，弦在上是風熱下陷入陰中，陽道不行，其證閉目則渾身麻木，晝減而夜甚，覺而開目則麻木漸退，久則絕止，常開其目此證不作，懼其麻木不敢合眼，致不得眠，身體皆重，時有痰嗽，覺胸中常似有痰而不利，時煩躁氣短促而喘，肌膚充盛，飲食不減，大小便如常，惟畏其麻木，不敢合眼為最苦，觀其色脈形病相應而不逆，內經曰：陽盛瞑目而動輕，陰病閉目而靜重，又云：諸脈皆屬於目，靈樞經云：開目則陽道行，陽氣遍布週身，閉目則陽道閉而不行，如晝夜之分，知其陽衰而陰旺也，且麻木為風，三尺之童皆以為然，細校之，則有區別耳，久坐而起亦有麻木，為如繩縛之，久釋之覺麻作而不敢動，良久則自已，以此驗之，非有風邪乃氣不行，主治之當補其肺中之氣，則麻木自去矣，如經脈中陰火乘其陽分，火動於中為麻木也，當兼去其陰火則愈矣，時痰嗽者，秋涼在外，在上而作也，當以溫劑實其皮毛，身重脈緩者，濕氣伏匿而作也，時見躁作，當升陽助氣益血微瀉陰火與濕，通行經脈，調其陰陽則已矣，非五臟六腑之本有邪也，此藥主之。</p>
<p>生甘草（去腎熱），酒黃柏（瀉火除濕），白茯苓（除濕導火），澤瀉（除濕導火），升麻（行陽助經），柴胡（各一錢），蒼朮（除濕補中），草豆蔻仁（益陽退外寒各一錢五分），橘皮，當歸身，白朮（各二錢），白芍藥，人參（各三錢），佛耳草，炙甘草（各四錢），黃耆（五錢）。</p>
<p>右㕮咀，每服五錢，水二盞煎至一盞，去柤，食遠服之。</p>
<p>麻黃桂枝升麻湯：</p>
<p>治婦人先患渾身麻木，睡覺則少減，開目則巳而全愈，又證巳痊，又因心中煩惱，遍身骨節疼，身體沉重，飲食減少，腹中氣不運轉。</p>
<p>木香，生薑（各一分），桂枝，半夏，陳皮，草豆蔻仁，厚朴，黑附子，黃柏（各二分），炙甘草，升麻，白朮，茯苓，澤瀉（各三分），黃耆，麻黃（不去節），人參（各五分）。</p>
<p>右都作一服，水二盞煎至一盞，去柤，食遠服之。蘭室秘藏卷中終。</p>
<h2>蘭室秘藏卷下  金  真定李杲著</h2>
<h3>大便結燥門</h3>
<h4>大便結燥論</h4>
<p>金匱真言論云：北方黑色入通腎，開竅於二陰，藏精於腎，又云：腎主大便，大便難者，取足少陰，夫腎主五液，津液盛則大便如常，若饑飽失節，勞役過度，損傷胃氣，及食辛熱味厚之物而助火邪，伏於血中，耗散真陰，津液虧少故大便結燥，然結燥之病不一，有熱燥，有風燥，有陽結，有陰結，又有年老氣虛津液不足而結燥者，治法云：腎惡燥，急食辛以潤之，結者散之，如少陰不得大便，以辛潤之，太陰不得大便，以苦泄之，陽結者散之，陰結者溫之，仲景云：小便利而大便硬不可攻下，以脾約丸潤之，食傷太陰，腹滿而食不化，腹響然不能大便者，以苦藥泄之，如血燥而不能大便者，以桃仁酒製大黃通之，風結燥而大便不行者，以麻子仁加大黃利之，如氣澀而大便不通者，以郁李仁枳實皂角仁潤之，大抵治病必究其源，不可一概用巴豆牽牛之類下之，損其津液，燥結愈甚，復下復結，極則以至導引於下而不通，遂成不救，噫可不慎哉。</p>
<p>通幽湯：</p>
<p>治大便難，幽門不通，上衝吸門，不開噎塞，不便燥秘，氣不得下，治在幽門，以辛潤之。</p>
<p>炙甘草，紅花（各一分），生地黃，熟地黃（各五分），升麻，桃仁泥，當歸身（各一錢）。</p>
<p>右都作一服，水二大盞煎至一盞，去柤，調檳榔細末五分，稍熱食前服之。</p>
<p>潤燥湯：</p>
<p>升麻，生地黃（各二錢），熟地黃，當歸梢，生甘草，大黃（煨），桃仁泥，麻仁（各一錢），紅花（五分）。</p>
<p>右除桃仁麻仁另研如泥外，剉如麻豆大，都作一服，水二盞入桃仁麻仁泥煎至一盞，去柤，空心稍熱服。</p>
<p>潤腸丸：</p>
<p>治脾胃中伏火，大便秘澀或乾燥閉塞不通，全不思食，乃風結血秘，皆令閉塞也，以潤燥和血疏風自然通利矣。</p>
<p>桃仁（湯浸去皮尖），麻仁（各一兩），當歸梢，大黃（煨），羌活（各一兩）。</p>
<p>右除桃仁麻仁另研如泥外，搗為極細末，煉蜜為丸如梧桐子大，每服三五十丸，空心白湯下。</p>
<p>如病入不大便，為大便不通而澀，其邪盛者，急加酒洗大黃以利之。</p>
<p>如血燥而大便燥乾者，加桃仁酒洗大黃。</p>
<p>如風結燥大便不行者，加麻仁大黃。</p>
<p>如風濕而大便不行，加煨皂角仁大黃秦艽以利之。</p>
<p>如脈澀覺身癢氣澀而大便不通者，加郁李仁大黃以除氣燥。</p>
<p>如寒陰之病為寒結閉而大便不通者，以局方中半硫丸，或加煎附子乾薑湯，冰冷與之，其病雖陰寒之證當服陽藥補之，若大便不通者，亦當十服中與一服藥微通其大便，不令結閉，乃治之大法；若病人雖是陰證，或是陰寒之證，其病顯躁脈實堅，亦宜於陽藥中少加苦寒之藥以去熱躁，躁止勿加。</p>
<p>如陰躁欲坐井中者，其二腎脈按之必虛或沉細而遲，此易為辨耳，知有客邪之病，亦當從權加藥以去之。</p>
<p>麻黃白朮湯：</p>
<p>治大便不通，五日一遍，小便黃赤，渾身腫，面上及腹尤甚，其色黃，麻木身重如山，沉困無力，四肢痿軟不能舉動，喘促唾清水，吐噦痰唾白沫如膠，時躁熱發欲去衣，須臾熱過，振寒項額有時如冰，額寒尤甚，頭旋眼黑，目中溜火冷淚，鼻不聞香臭，少腹急痛當臍，中有動氣，按之堅硬而痛。</p>
<p>青皮（去腐），酒黃連（各一分），酒黃柏，橘紅，甘草（炙半），升麻（各二分），黃耆，人參，桂枝，白朮，厚朴，柴胡，蒼朮，豬苓（各三分），吳茱萸，白茯苓，澤瀉（各四分），白豆蔻，炒麯（各五分），麻黃（不去節五錢），杏仁（四箇）。</p>
<p>右㕮咀，分作二服，水二大盞半先煎麻黃令沸去沫，再入諸藥同煎至一盞，去柤，稍熱食遠服。</p>
<p>此證宿有風濕熱伏於榮血之中，其木火乘於陽道，為上盛元氣短少，上喘為陰火傷其氣，四肢痿，在腎水之間乃所勝之病，今正遇冬寒得時乘其肝木，又實其母，肺金剋火凌木，是大勝必有大復，其證善恐欠多嚏，鼻中如有物不聞香臭，目視䀮䀮，多悲健忘，少腹急痛，通身黃，腹大脹，面目腫尤甚，食不下，痰唾涕有血，目眥瘍，大便不通，並宜此藥治之。</p>
<p>升陽湯（一名升陽瀉濕湯）：</p>
<p>治膈咽不通，逆氣裏急，大便不行。</p>
<p>青皮，槐子（各二分），生地黃，熟地黃，黃柏（各三分），當歸身，甘草梢（一錢），桃仁（拾箇另研）。</p>
<p>右㕮咀，如麻豆大，都作一服，入桃仁泥，水二大盞煎至一盞，去柤，稍熱食前服。</p>
<p>活血潤燥丸：</p>
<p>治大便風秘血秘，常常燥結。</p>
<p>當歸梢（一錢），防風（三錢），大黃（濕紙裹煨），羌活（各一兩），皂角仁（燒存性去皮一兩五錢，其性得濕則滑，濕滑則燥結自除），桃仁（二兩研如泥），麻仁（二兩五錢研如泥）。</p>
<p>右除麻仁桃仁另研如泥外，為極細末，煉蜜為丸如梧桐子大，每服五十丸，白湯下三兩，服後須以蘇麻子粥，每日早晚食之，大便日久不能結燥也，以磁器盛之，紙封無令見風。</p>
<p>潤腸湯：</p>
<p>治大腸結燥不通。</p>
<p>生地黃，生甘草（各一錢），大黃（煨），熟地黃，當歸梢，升麻，桃仁，麻仁（各一錢），紅花（三分）。</p>
<p>右㕮咀，水二盞煎至一盞，去柤，食遠溫服。</p>
<h3>小便淋閉門</h3>
<h4>小便淋閉論</h4>
<p>難經云：病有關有格，關則不得小便，又云：關，無出之謂，皆邪熱為病也，分在氣在血而治之，以渴與不渴而辨之，如渴而小便不利者，是熱在上焦肺之分，故渴而小便不利也，夫小便者，是足太陽膀胱經所主也，長生於申，申者，西方金也，肺合生水，若肺中有熱不能生水，是絕其水之源，經云：虛則補其母，宜清肺而滋其化源也，故當從肺之分，助其秋令，水自生焉，又如雨如露如霜，皆從天而降下也，乃陽明之陰，明秋氣自天而降下也，且藥有氣之薄者，乃陽中之陰，是感秋清肅殺之氣而生，可以補肺之不足，淡味滲泄之藥是也，茯苓澤瀉琥珀燈心通草車前子木通瞿麥扁蓄之類，以清肺之氣，泄其火，資水之上源也，如不渴而小便不通者，熱在下焦血分，故不渴而大燥，小便不通也，熱閉於下焦者，腎也膀胱也，乃陰中之陰，陰受熱邪閉塞其流，易上老云：寒在胸中，遏絕不入，熱在下焦，填塞不便，須用感北方寒水之化氣味俱陰之藥，以除其熱，泄其閉塞，內經云：無陽則陰無以生，無陰則陽無以化，若服淡滲之藥，其性乃陽中之陰，非純陽之劑，陽無以化，何能補重陰之不足也，須用感地之水運而生太苦之味，感天之寒藥而生大寒之氣，此氣味俱陰，乃陰中之陰也，大寒之氣，人稟之生膀胱寒水之運，人感之生腎，此藥能補腎與膀胱，受陽中之陽，熱火之邪而閉其下焦，使小便不通也，夫用大苦寒之藥，治法當寒因熱用，又云：必伏其所主而先其所因，其始則氣同，其終則氣異也。</p>
<p>通關丸（一名滋腎丸）：</p>
<p>治不渴而小便閉，熱在下焦血分也。</p>
<p>黃柏（去皮剉酒洗焙），知母（剉酒洗焙乾各一兩），肉桂（五分）。</p>
<p>右為細末，熟水為丸，如梧桐子大，每服一百丸，空心白湯下，頓兩足令藥易下行故也，如小便利前陰中如刀刺痛，當有惡物，下為驗。</p>
<p>清肺飲子：</p>
<p>治渴而小便閉澀不利，邪熱在上焦氣分。</p>
<p>燈心（一分），通草（二分），澤瀉，瞿麥，琥珀（各五分），扁蓄，木通（各七分），車前子（炒一錢），茯苓（去皮二錢），豬苓（去皮三錢）。</p>
<p>右為麤末，每服五錢，水一盞半煎至一盞，稍熱食遠服，或局方八正散五芩散亦宜服之。</p>
<p>導氣除燥湯：</p>
<p>治小便閉塞不通，乃血澀致氣不通而竅澀也。</p>
<p>茯苓（去皮），滑石（炒黃各二錢），知母（細剉酒洗），澤瀉（各三錢），黃柏（去皮酒洗四錢）。</p>
<p>右㕮咀，每服五錢，水三盞煎至一盞，去柤，稍熱空心服，如急閉不拘時服。</p>
<p>腎疸湯：</p>
<p>治腎疸目黃，甚至渾身黃，小便赤澀。</p>
<p>羌活，防風，藁本，獨活，柴胡（各五分），升麻（五錢），以上治腎疸目黃渾身黃。</p>
<p>白茯苓（二分），澤瀉（三分），豬苓（四分），白朮（五分），蒼朮（三錢），以上治小便赤澀。</p>
<p>黃柏（二分），人參（三分），葛根（五分），神麯（六分），甘草（三錢）。</p>
<p>右剉如大豆大，分作二服，水三盞煎至一盞，去柤，稍熱食前服。</p>
<h3>痔漏門</h3>
<h4>痔漏論</h4>
<p>內經曰：因而飽食，筋脈橫解，腸澼為痔，夫大腸庚也，主津，本性燥，清肅殺之氣，本位主收其所司，行津以從足陽明，旺則生化萬物者也，足陽明為中州之土，若陽衰亦殞殺萬物，故曰萬物生於土而歸於土者是也，以手陽明大腸司其化焉，既在西方，本位為之害，蜚司殺之府，因飽食行房忍泄，前陰之氣歸於大腸，木乘火勢而侮燥金，故火就燥也，大便必閉，其疾甚者，當以苦寒瀉火，以辛溫和血潤燥疏風止痛是其治也，以秦艽當歸梢和血潤燥，以桃仁潤血，以皂角仁除風燥，以地榆破血，以枳實之苦寒補腎，以下泄胃實，以澤瀉之淡滲，使氣歸於前陰，以補清燥受胃之濕邪也，白朮之苦甘，以苦補燥氣之不足，其甘味以瀉火而益元氣也，故曰甘寒泄火乃假枳實之寒也，古人用藥為下焦如瀆，又曰：在下者引而竭之，多為大便秘澀，以大黃推去之，其津血益不足，以當歸和血及油潤之劑，大便自然軟利矣，宜作剉湯以與之，是下焦有熱，以急治之之法也，以地榆酸苦而壞胃，故宿食消盡，空心作丸服之。</p>
<p>秦艽白朮丸：</p>
<p>治痔疾并痔漏有膿血，大便燥硬而作疼痛不可忍。</p>
<p>秦艽（去蘆），桃仁（湯浸去皮尖），皂角仁（燒存性各一兩），當歸梢（酒浸），澤瀉，枳實（麩炒黃），白朮（各五錢），地榆（三錢）。</p>
<p>右為細末，和桃仁泥研勻，煎熱湯打麵糊為丸，如雞頭仁大，令藥光滑焙乾，每服五七十丸，白湯下空心服，待少時以美膳壓之，忌生冷硬物冷水冷菜之類并濕麵酒及辣辛熱大料物之類，犯之，則藥無驗也。</p>
<p>秦艽蒼朮湯：</p>
<p>治痔疾若破，謂之痔漏，大便秘澀，必作大痛，此由風熱乘食飽不通氣逼大腸而作也，受病者燥氣也，為病者胃濕也，胃刑大腸則化燥火以乘燥熱之實，勝風附熱而來，是濕熱風燥四氣而合，故大腸頭成塊者濕也，作大痛者風也，若大便燥結者，主病兼受火邪熱結不通也，去此四者，其西方肺主諸氣，其體收下亦助病為邪，須當破氣藥兼之，治法全矣，以剉湯與之，其效如神。</p>
<p>秦艽（去芛），桃仁（湯浸去皮另研），皂角仁（燒存性另研各一錢），蒼朮（製），防風（各七分），黃柏（去皮酒洗伍分），當歸梢（酒洗），澤瀉（各三分），梭身檳榔（一分另研），大黃（少許雖大便過澀亦不可多用）。</p>
<p>右除檳榔桃仁皂角仁三味外，餘藥㕮咀，如麻豆大，都作一服，水三盞煎至一盞二分，去柤，入檳榔等三味末，再上火煎至一盞，空心熱服，待少時以美膳壓之，不犯胃氣也，服藥日忌生冷硬物及酒濕麵大料物乾薑之類，犯之則其藥無效。</p>
<p>如有白膿加白葵花頭五朵去萼心，青皮半錢不去白，入正藥中同煎，木香三分為細末，同檳榔等三味，依前煎服餌，古人治此疾，多以歲月除之，此藥一服則愈。</p>
<p>七聖丸：</p>
<p>治大腸疼痛不可忍，叔和云：積氣生於脾藏，傍大腸疼痛陣難當，漸交稍瀉三焦火，莫謾多方立紀綱。</p>
<p>羌活（一兩），郁李仁（湯浸去皮另研一兩五錢），大黃（八錢煨），檳榔，桂（去皮），木香，川芎（各五錢）。</p>
<p>右除郁李仁另研入外，共為細末，煉蜜為丸，如梧桐子大，每服三五十丸，白湯下食前，取大便微利，一服而愈，切禁不得多利大便，其痛滋甚。</p>
<p>秦艽防風湯：</p>
<p>治痔漏，每日大便時發疼痛，如無疼痛者，非痔漏也，此藥主之。</p>
<p>秦艽，防風，當歸身，白朮（各一錢五分），炙甘草，澤瀉（各六分），黃柏（五分），大黃（煨），橘皮（各三分），柴胡，升麻（各二分），桃仁（三十箇），紅花（少許）。</p>
<p>右剉如麻豆大，都作一服，水三盞煎至一盞，去柤，稍熱空心服之，避風寒，忌房事酒濕麵大辛熱物。</p>
<p>秦艽羌活湯：</p>
<p>治痔漏成塊下垂，不任其癢。</p>
<p>羌活（一錢二分），秦艽，黃耆（各二錢），防風（七分），升麻，炙甘草，麻黃，柴胡（各五分），藁本（三分），細辛（少許），紅花（少許）。</p>
<p>右剉如麻豆大，都作一服，水二盞煎至一盞，去柤，空心服之，忌風寒處大小便。</p>
<p>當歸郁李仁湯：</p>
<p>治痔漏，大便硬努出大腸頭下血，苦痛不能忍。郁李仁，皂角仁（各一錢），枳實（七分），秦艽，麻仁，當歸梢，生地黃，蒼朮（</p>
<p>各五分），大黃（煨），澤瀉（各三分）。</p>
<p>右剉如麻豆大，除皂角仁另為末，水三盞煎至一盞，去柤，入皂角仁末調，空心食前服之，忌如前。</p>
<p>紅花桃仁湯：</p>
<p>治痔漏經年，因而飽食筋脈，橫解腸澼為痔，治法當補北方瀉中央。</p>
<p>黃柏（一錢五分），生地黃（一錢），澤瀉（八分），蒼朮（六分），當歸梢，防己，防風梢，豬苓（各五分），麻黃（二分），紅花（半分），桃仁（十箇）。</p>
<p>右剉如麻豆大，水三盞煎至一盞，去柤，稍熱食前服之，忌如前。</p>
<p>秦艽當歸湯：</p>
<p>治痔漏，大便結燥疼痛。</p>
<p>大黃（煨四錢），秦艽，枳實（各一錢），澤瀉，當歸梢，皂角仁，白朮（各五分），紅花（少許），桃仁（二十箇）。</p>
<p>右都作一服，水三盞煎至一盞，去柤，食前熱服，忌如前。</p>
<h3>陰痿陰汗門</h3>
<h4>陰痿陰汗及臊臭論</h4>
<p>一富者，前陰臊臭，又因連日飲酒，腹中不和，求先師治之，日夫前陰者，足厥陰肝之脈絡，循陰器出其挺末，凡臭者，心之所主，散入五方為五臭，如肝為臊，此共一也，當於肝經中瀉行間是治其本，後於心經中瀉少衝乃治其標，如惡針，當用藥除之，酒者氣味俱陽，能生裏之濕熱，是風濕熱合於下焦為邪，故經云：下焦如瀆，又云：在下者引而竭之，酒是濕熱之水，亦宜決前陰以去之。</p>
<p>龍膽瀉肝湯：</p>
<p>治陰部時復熱痒及臊臭。</p>
<p>柴胡梢，澤瀉（各一錢），車前子，木通（各五分），生地黃，當歸梢，龍膽草（各三分）。</p>
<p>右剉如麻豆大，都作一服，水三盞煎至一盞，去柤，空心稍熱服，便以美膳壓之，此藥柴胡入肝為引，用澤瀉車前子木通淡滲之味利小便，亦除臊氣，是名在下者引而竭之；生地黃龍膽草之苦寒瀉酒濕熱，更兼車前子之類以撤肝中邪氣，肝主血，用當歸以滋肝中血不足也。</p>
<p>清震湯：</p>
<p>治小便溺黃臊臭淋瀝，兩丸如冰，陰汗浸多。</p>
<p>羌活，酒黃柏（各一錢），升麻，柴胡，蒼朮，黃芩（各五分），澤瀉（四分），麻黃根，豬苓，防風（各三分），炙甘草，當歸身，藁本（各二分），紅花（一分）。</p>
<p>右剉如麻豆大，都作一服，水二盞煎至一盞，去柤，臨臥服，大忌酒濕麵。</p>
<p>固真湯（一名正元湯）。</p>
<p>治兩丸冷，前陰痿弱，陰汗如水，小便後有餘滴，尻臀并前陰冷，惡寒而喜熱，膝下亦冷。</p>
<p>升麻，羌活，柴胡（各一錢），炙甘草，龍膽草，澤瀉（各一錢五分），黃柏，知母（各二錢）。</p>
<p>右剉如麻豆大，分作二服，水二盞煎至一盞，去柤，空心稍熱服，以早飯壓之。</p>
<p>清魂湯（一名柴胡勝濕湯）：</p>
<p>治兩外腎冷，兩髀陰汗，前陰痿，陰囊濕痒臊氣。</p>
<p>柴胡，生甘草，酒黃柏（各二錢），升麻，澤瀉（各一錢五分），當歸梢，羌活，麻黃根，漢防己，龍膽草，茯苓（各一錢），紅花（少許），五味子（二十箇）。</p>
<p>右剉如麻豆大，分作二服，水二盞煎至一盞，去柤，食前稍熱服，忌酒濕麵房事。</p>
<p>椒粉散：</p>
<p>治前陰兩丸濕痒痛，秋冬甚，夏月減。</p>
<p>肉桂（二分），川椒，當歸梢，豬苓（各三分），蛇床子，黑狗脊（各五分），麻黃根（一錢），輕粉（少許），紅花（少許），斑蝥（兩枚）。</p>
<p>右為末乾糝上，避風寒冷濕處坐臥。</p>
<p>補肝湯：</p>
<p>治前陰冰冷并陰汗，兩腳痿弱無力。</p>
<p>黃耆（七分），炙甘草（五分），升麻，豬苓（各四分），白茯苓，葛根，人參（各三分），柴胡，羌活，陳皮，連翹，當歸身，黃柏（炒），澤瀉，蒼朮，麯末，知母，防風（各二分）。</p>
<p>右剉如麻豆大，都作一服，水二大煎至一盞，去柤，空心稍熱服，忌酒濕麵。</p>
<p>溫腎湯：</p>
<p>治面色痿黃，腳痿弱無力，陰汗。</p>
<p>柴胡，麻黃根（各六分），白茯苓，白朮，酒黃柏，豬苓，升麻（各一錢），蒼朮，防風（各一錢五分），澤瀉（二錢）。</p>
<p>右分作二服，每服水二大盞煎至一盞，去柤，食前稍熱服，一時辰許方食。</p>
<p>延胡丁香丸（一名丁香疝氣丸）：</p>
<p>治臍下撮急疼痛，并周身皆急痛，小便頻數，及五脈急，獨腎脈按之不急皆虛無力，名曰腎疝。</p>
<p>羌活（三錢），當歸，茴香（各二錢），延胡索，麻黃根節，肉桂（各一錢），丁香，木香，甘草，川烏頭（各五分），防己（三分），蝎（十三箇）。</p>
<p>右為細末，酒煮麵糊為丸，如雞頭大，每服五十丸，空心鹽白湯服。</p>
<h3>瀉痢門</h3>
<p>訶子皮散：</p>
<p>癸卯冬，白樞判家一老僕，面塵脫色，神氣特弱，病脫肛日久，服藥未驗，復下赤白膿痢作，裏急後重白多赤少，不任其苦，以求其治，曰此非肉食膏梁，必多蔬食或飲食不節，天氣已寒，衣蓋猶薄，不禁而腸頭脫下者寒也，真氣不禁，形質不收，乃血滑脫也，此乃寒滑氣泄不固，故形質下脫也，當以澀去其脫而除其滑，微酸之味固氣上收，以大熱之劑而除寒補陽，以補氣之藥升陽益氣。</p>
<p>御米殼（去蒂萼蜜炒），橘皮（各五分），乾薑（炮六分），訶子（煨去核七分）。</p>
<p>右為細末，都作一服，水二盞煎至一盞和柤，空心熱服。</p>
<p>升麻補胃湯：</p>
<p>治宿有陽明血證，因五月間大熱喫杏，腸澼下血，唧遠散漫如篩，腰沉沉然，腹中不痛，血色紫黑，病名濕毒腸澼，屬陽明少陽經血證也。</p>
<p>白芍藥（一錢五分），升麻，羌活，黃耆（各一錢），生地黃，熟地黃，獨活，牡丹皮，炙甘草，柴胡，防風（各五分），當歸身，葛根（各三分），肉桂（少許）。</p>
<p>右剉如麻豆大，分作二服，每服水二盞煎至一盞，去柤，食前稍熱服。</p>
<p>升陽去熱和血湯：</p>
<p>治腸澼下血，另作一泒，其血唧出有力而遠射四散如篩，腸中血下行，腹中大作痛，乃陽明氣衝熱毒所作也，當升陽去濕熱和血脈是其治也。</p>
<p>橘皮（二分），熟地黃，當歸身，蒼朮，秦艽，肉桂（各三分），生地黃，牡丹皮，生甘草（各五分），升麻（七分），熟甘草，黃耆（各一錢），白芍藥（一錢五分）。</p>
<p>右㕮咀，都作一服，水四盞煎至一盞，去柤，空心稍熱服立效。</p>
<p>益智和中湯：</p>
<p>治腸澼下血或血色紫黑，腹中痛，腹皮惡寒，右手關脈弦，按之無力，而喜熱物熨之，內寒明矣。</p>
<p>肉桂（一分），桂枝（四分），牡丹皮，柴胡，葛根，益智仁，半夏（各五分），當歸身，炙甘草，黃耆，升麻（各一錢），白芍藥（一錢五分），乾薑（少許）。</p>
<p>右為麤末，都作一服，水三盞煎至一盞，去柤，食後溫服。</p>
<p>芍藥柏皮丸：</p>
<p>治濕熱惡痢，血痢頻併窘痛，無問膿血並皆治之。</p>
<p>芍藥，黃柏（各一兩），當歸，黃連（各五錢）。</p>
<p>右為末，飯為丸如雞頭大，每服五七十丸，食前米飲湯下，忌油膩酒濕麵等物。</p>
<p>和中益胃湯：</p>
<p>治太陰陽明腹痛，大便常泄，若不泄即秘而難見，在後傳作濕熱毒，下鮮紅血，腹中微痛，脇下急縮，脈緩而洪弦，中下得之，按之空虛。</p>
<p>蘇木（一分），藁本，益智仁（各二分），熟地黃，炙甘草（各三分），當歸身（四分），柴胡，升麻（各五分）。</p>
<p>右㕮咀，都作一服，水二盞煎至一盞，去柤，空心溫服。</p>
<p>槐花散：</p>
<p>治腸澼下血，濕毒下血。</p>
<p>川芎（四分），槐花，青皮，荊芥穗，熟地黃，白朮（各六分），當歸身，升麻（各一錢）。</p>
<p>右為細末，每服三錢，米飲湯調下，食前，忌酒濕麵生冷硬物。</p>
<p>茯苓湯：</p>
<p>治因傷冷飯水泄，一夜走十行，變作白痢，次日其痢赤白，腹中㽲痛，減食熱躁，四肢沉困無力。</p>
<p>生黃芩（三分），當歸身（四分），肉桂，炙甘草（各五分），豬苓，茯苓（各六分），澤瀉（一錢），芍藥（一錢五分），蒼朮，生薑，升麻，柴胡（各二錢）。</p>
<p>右㕮咀，如麻豆大，分作二服，每服水二盞煎至一盞，去柤，稍熱食前服之。</p>
<p>黃耆補胃湯：</p>
<p>治一日大便三四次，溏而不多，有時作泄，腹中鳴，小便黃。</p>
<p>黃耆，柴胡，當歸身，益智，橘皮（各三分），升麻（六分），炙甘草（二錢），紅花（少許）。</p>
<p>右㕮咀，都作一服，水二盞至一盞，去柤，稍熱食前服之。</p>
<p>升陽除濕湯：</p>
<p>自下而上者，引而去之。</p>
<p>蒼朮（一錢），柴胡，羌活，防風，升麻，神麯，澤瀉，豬苓（各五分），炙甘草，陳皮，麥柏麵（各三分）。</p>
<p>右都作一服，水二盞煎至一盞，去柤，空心服之。</p>
<p>如胃寒腸鳴，加益智仁半夏各五分生薑三片棗一枚同煎，至非腸鳴不得用。</p>
<p>人參益胃湯：</p>
<p>治頭悶勞動則微痛，不喜飲食，四肢怠墯，躁熱短氣，口不知味，腹鳴，大便微溏，身體昏悶，覺渴不喜冷物。</p>
<p>黃耆，甘草，當歸梢，益智（各二分），人參，黃芩，柴胡，半夏，白朮（各三分），陳皮，升麻（各五分），蒼朮（一錢五分），紅花（少許）。</p>
<p>右都作一服，水二盞煎至一盞，去柤，稍熱食前服之。</p>
<p>升麻補胃湯：</p>
<p>治因內傷服牽牛大黃，食藥泄瀉過多，腹中大痛。</p>
<p>甘草（七分），升麻，柴胡，草豆蔻，黃耆（各五分），半夏（三分），當歸身，乾薑（各二分），紅花（少許）。</p>
<p>右都作一服，水二盞煎至一盞，去柤，稍熱食遠服之。</p>
<h3>瘡瘍門</h3>
<p>散腫潰堅湯：</p>
<p>治馬刀瘡結硬如石，或在耳下至缺盆中，或肩上或於脇下，皆手足少陽經中及瘰癧遍於頦，或至頰車堅而不潰，在足陽明經中所出，或二證瘡已破流膿水，並皆治之。</p>
<p>黃芩（八錢酒洗一半生用一半），龍膽草（酒洗各炒四遍），瓜蔞根（剉碎酒洗），黃柏（酒製），酒知母，桔梗，昆布（各五錢），柴胡（四錢），炙甘草，京三稜（酒洗），廣茂（酒洗炒），連翹（各三錢），葛根，白芍藥，當歸梢，黃連（各二錢），升麻（六分）。</p>
<p>右㕮咀，每服六錢，水二盞零八分，先浸多半日，煎至一盞，去柤食後熱服，於臥處伸足在高處，頭低垂，每含一口作十次嚥，服畢依常安臥，取藥在膈上停蓄故也，另攢半料作細末，煉蜜為丸如綠豆大，每服百餘丸，用此藥湯，留一口送下，或加海藻五錢炒亦妙。</p>
<p>升陽調經湯：</p>
<p>治瘰癧遶頸或至頰車，此皆由足陽明胃經中來，若瘡深遠隱曲肉底，是足少陰腎經中來，乃戊脾傳於癸腎，是夫傳於妻，俱作塊子堅硬，大小不等，並皆治之，或作丸亦可。</p>
<p>升麻（八錢），葛根，龍膽草（酒製），黃耆（酒製），廣茂（酒洗炒），京三稜（酒洗炒），炙甘草，黃連（酒洗），連翹，桔梗（各五錢），生黃芩（四錢），當歸梢，芍藥（各三錢），黃柏（酒洗二錢），知母（酒洗炒一兩）。</p>
<p>右另秤一半作末，煉蜜為丸如綠豆大，每服百餘丸，一半作㕮咀，每服五錢，若能食，大便硬，可旋加至七八錢，水二盞先浸半日，煎至一盞，去柤，臨臥熱服，足高去枕仰臥，噙一口作十次嚥之，留一口在後送下丸藥，服畢其臥如常。</p>
<p>連翹散堅湯：</p>
<p>治耳下或至缺盆或肩上生瘡，堅硬如石，動之無根，名曰馬刀，從手足少陽經中來也，或生兩脇，或已流膿作瘡未破，並皆治之。</p>
<p>柴胡（一兩二錢），龍膽草（酒洗四次），土瓜根（酒製各一兩），黃芩（酒炒二次七錢），當歸梢，生黃芩，廣茂，京三稜（同廣茂酒炒），連翹，芍藥（各五錢），炙甘草（三錢），黃連（酒炒二次），蒼朮（各二錢）。</p>
<p>右另秤一半為細末，煉蜜為丸如綠豆大，每服百餘丸，一半㕮咀，每服五錢，水二盞先浸多半日，煎至一盞，去柤，臨臥熱服，去枕仰臥，每口作十次嚥之，留一口送下丸藥，服畢臥如常，更以後藥塗之。</p>
<p>龍泉散：</p>
<p>龍泉粉（炒），瓦粉，廣茂，京三稜（酒洗炒），昆布（各五錢）。</p>
<p>右同為細末煎，熱水調塗之，用此藥去疾尤速。</p>
<p>救苦化堅湯：</p>
<p>治瘰癧馬刀挾癭，從耳下或耳後下頸至肩上或入缺盆中，乃手足少陽之經，分其瘰癧在頦下或至頰車，乃足陽明之經，分受心脾之邪而作也，今將二證合而治之。</p>
<p>黃耆（一錢）：護皮毛，實腠理虛及活血脈生血，亦瘡家聖藥也，又能補表實元氣之弱也。人參（三分）：補肺氣之藥也，如氣短不調及喘者加之。炙甘草（五分）：能調中和諸藥，瀉火益胃氣，亦能去瘡邪。真漏蘆，升麻（各一錢），葛根（五分）：此三味，俱足陽明本經藥也。連翹（一錢）：此一味，十二經瘡中之藥不可無者，能散諸血結氣聚，此瘡家之神藥也。牡丹皮（三分）：去腸胃中留滯宿血。</p>
<p>當歸身，生地黃，熟地黃（各三分）：此三味，諸經中和血生血涼血藥也。白芍藥（三分）：如夏月倍之，其味酸，其氣寒，能補中益肺之虛弱，治腹中痛必用之，冬寒則不可用。肉桂（二分）：大辛熱，能散結積陰證，瘡瘍須當少用之，此寒因熱用之意，又為寒陰覆蓋其瘡，用大辛熱以消浮凍之氣，如有煩躁者去之。柴胡（八分）：功同連翹，如瘡不在少陽經則去之。黍粘子（三分）：無腫不用。</p>
<p>羌活（一錢），獨活，防風（各五分）：此三味必關手足太陽證，脊痛項強不可迴視，腰似折項似拔者是也，其防風一味辛溫，若瘡在膈以上，雖無手足太陽經證亦當用之，為能散結，去上部風邪，病人身拘急者風也。昆布（二分）：其味大鹹，若瘡堅硬結硬者宜用，鹹能軟堅。</p>
<p>京三稜（煨二分），廣茂（煨三分）：此二味，若瘡堅硬甚者用之，如不堅硬勿用。益智仁（二分）：如唾多者，胃不和也，或病人吐沫吐食，胃上寒者加之，無則去之。大麥柏麵（一錢）：治腹中縮急，兼能消食補胃。神麯末（炒黃色二分）：為食不消化故也。黃連（去鬚三分）：以治煩悶。黃柏（炒三分）：如有熱或腿腳無力加，如有躁煩欲去衣者，腎中伏火也，更宜加之，無此證勿用。厚朴（三錢二分薑製）：如腹脹者加之，無則勿用。</p>
<p>右為細末，湯浸蒸餅和丸，捻作餅子，日乾搗如米粒大，每服三錢，白湯下。如氣不順加橘皮，甚者加木香少許，量病人虛實，臨時斟酌與之，無令藥多妨其飲食，此治之大法也；如止在陽明，分為瘰癧者，去柴胡黍粘子二味，餘皆用之；如在少陽，分為馬刀挾癭者，去獨活漏蘆升麻葛根，更加瞿麥穗三分；如本人素氣弱，其病勢來時氣盛而不短促者，不可考其平素，宜作氣盛而從病變之權也，宜加黃芩黃連黃柏知母防己之類，視邪氣在上中下三處，假令在上焦，加黃芩（一半酒洗一半生用），在中焦加黃連（一半酒洗一半生用），在下焦，則加酒製黃柏知母防己之類，選而用之；如本人大便不通而滋其邪盛者，加酒製大黃以利；如血燥而大便燥乾者加桃仁酒製大黃二味；如風結燥不行者，加麻仁大黃；如風澀而大便不行加煨皂角仁大黃秦艽以利之；如脈澀覺身癢，氣澀而大便不通者加郁李仁大黃以除氣燥也；如陰寒之病，為寒結閉而大便不通，以局方中半硫丸或加煎附子乾薑，冰冷與之，大抵用藥之法，不惟瘡瘍，一說諸疾病，量人素氣弱者，當去苦寒之藥，多加人參黃耆甘草之類，瀉火而先補其元氣，餘皆倣此。</p>
<p>柴胡連翹湯：</p>
<p>治男子婦人馬刀瘡。</p>
<p>中桂（三分），當歸梢（二錢五分），黍粘子（二錢），炙甘草，酒黃柏，生地黃（各三錢），柴胡，黃芩（炒），酒知母，連翹（各五錢），瞿麥穗（六錢）。</p>
<p>右剉如麻豆大，每服五錢，水二大盞煎至一盞，去柤，稍熱食後服之。</p>
<p>黍粘子湯：</p>
<p>治耳痛生瘡。</p>
<p>昆布，蘇木，生甘草，蒲黃，龍膽草（各一分），黍粘子，連翹，生地黃，當歸梢，黃芩，炙甘草，黃連（各二分），柴胡，黃耆（各三分），桔梗（三錢），桃仁（三箇），紅花（少許）。</p>
<p>右剉如麻豆大，都作一服，水二盞煎至一盞，去柤，稍熱食後服，忌寒藥利大便。</p>
<p>淨液湯（一名連翹防風湯）：</p>
<p>治皮膚痒，腋下瘡，背上瘡，耳聾耳鳴。</p>
<p>桂枝（二分），連翹，生地黃，桔梗，升麻，甘草（各五分），當歸梢（七分），麻黃，草豆蔻仁，羌活，防風，柴胡，蒼朮（各一錢），酒黃芩（一錢），紅花（少許）。</p>
<p>右剉如麻豆大，都作一服，水二盞煎至一盞，去柤，食後熱服。</p>
<p>消腫湯：</p>
<p>治馬刀瘡。</p>
<p>黍粘子（炒），黃連（各五分），當歸梢，甘草（各一錢），瓜蔞根，黃耆（各一錢五分），生黃芩，柴胡（各二錢），連翹（三錢），紅花（少許）。</p>
<p>右㕮咀，每服五錢，水二盞煎至一盞，去柤，稍熱食後服，忌酒濕麵。</p>
<p>內托羌活湯：</p>
<p>治足太陽經中，左右尺脈俱緊，按之無力，尻臀生癰，堅硬腫痛大作。</p>
<p>肉桂（三分），連翹，炙甘草，蒼朮，橘皮（各五分），當歸梢，防風，藁本（各一錢），黃耆（一錢五分），黃柏（酒製），羌活（各二錢）。</p>
<p>右㕮咀，都作一服，水二盞酒一盞煎至一盞，去柤，稍熱空心服，以夾衣蓋癰上，使藥力行，罷去蓋之衣。</p>
<p>升麻托裏湯：</p>
<p>治婦人兩乳間出黑頭瘡，瘡頂陷下作黑眼子，其脈弦洪，按之細小。</p>
<p>黃柏（二分），肉桂（三分），黍粘子（五分），黃耆，炙甘草，當歸身（各一錢），連翹，升麻，葛根（各一錢五分）。</p>
<p>右㕮咀，都作一服，水一大盞酒半盞同煎至一盞，去柤，稍熱食後服。</p>
<p>內托黃耆湯：</p>
<p>賈德茂小男，於左大腿近膝股內，出附骨癰，不辯肉色，漫腫皮澤木硬瘡，勢甚大，其左腳，乃肝之脾土也，更在足厥陰肝經之分，少侵足太陰脾經之分，其脈左三部細而弦，按之洪緩微有力，此藥主之。</p>
<p>生地黃（一分），黃柏（二分），肉桂（三分），羌活（五分），當歸梢（七分半），土瓜根（酒製），柴胡梢（各一錢），連翹（一錢三分），黃耆（二錢）。</p>
<p>右㕮咀，都作一服，酒一盞水二盞煎至一盞，去柤，空心熱服。</p>
<p>柴胡通經湯：</p>
<p>治小兒項側有瘡，堅而不潰，名曰馬刀瘡。</p>
<p>柴胡，連翹，當歸梢，生甘草，黃芩，黍粘子，京三稜，桔梗（各二分），黃連（五分），紅花（少許）。</p>
<p>右剉如麻豆大，都作一服，水二大盞煎至一盞，去柤，稍熱食後服，忌苦藥泄大便。</p>
<p>白芷升麻湯：</p>
<p>尹老家素貧寒，形志皆苦，於手陽明大腸經分出癰，幼小有㿗疝，其臂外皆腫痛，在陽明左右寸脈皆短，中得之俱弦，按之洪緩有力，此癰得自八風之變，以脈斷之，邪氣在表，其證大小便如故，飲食如常，腹中和，口知味，知不在裏也，不惡風寒，止熱躁脈不浮，知不在表也，表裏既和，邪氣在經脈之中，內經云：凝於經絡為瘡癰，其癰出身半以上，故風從上受之，故知是八風之變為瘡者也，故治其寒邪，調其經脈中血氣，使無凝滯而已。</p>
<p>炙甘草（一分），升麻，桔梗（各五分），白芷（七分），當歸梢，生地黃（各一錢），生黃芩（一錢五分），酒黃芩，連翹，黃耆（各二錢），中桂（少許），紅花（少許）。</p>
<p>右㕮咀，分作二服，酒水各一大盞半同煎至一盞，去柤，稍熱臨臥服，一服而愈。</p>
<p>保生救苦散：</p>
<p>治火燒或熱油烙及脫肌肉者。</p>
<p>生寒水石，大黃（火煨），黃柏（油炒各等分）。</p>
<p>右為細末，用油調塗之，或乾用此藥塗之，其痛立止，日近完復，永無破傷風之患。</p>
<p>一上散：</p>
<p>治諸般疥癬必效。</p>
<p>雄黃（通明手呵破者），黑狗脊，蛇床子（炒），熟硫黃（各五錢），寒水石（六錢），斑貓（十三箇去翅足毛研碎）。</p>
<p>右另研雄黃硫黃寒水石如粉，次入斑貓和蛇床子黑狗脊為細末，同研勻，先洗疥癬令湯透，去痂，油調手中擦熱，以鼻中臭三兩次，擦上可一上即愈。</p>
<p>如痛甚及腫滿高起者，加寒水石一倍；如不苦癢，只加黑狗脊；如微癢只加蛇床子；如瘡中有蟲加雄黃；如喜火灸湯浴者加硫黃。</p>
<p>聖愈湯：</p>
<p>治諸惡瘡，血出多而心煩不安，不得睡眠，亡血故也，以此藥主之。</p>
<p>生地黃，熟地黃，川芎，人參（各三分），當歸身，黃耆（各五分）。</p>
<p>右㕮咀，如麻豆大，都作一服，水二大盞煎至一盞，去柤，稍熱無時服。</p>
<p>獨聖散：</p>
<p>治湯泡破，火燒破，瘡毒疼痛。</p>
<p>生白礬。</p>
<p>右為細末，芝麻油調，掃瘡破處，不拘時候。</p>
<p>黃耆肉桂柴胡酒煎湯：</p>
<p>治附骨癰，堅硬漫腫，不辨肉色，行步作痛，按之大痛。</p>
<p>黃耆，當歸梢（各二錢），柴胡（一錢五分），黍粘子（炒），連翹，肉桂（各一錢），升麻（七分），炙甘草，黃柏（各五分）。</p>
<p>右㕮咀，好糯酒一大盞半，水一大盞半同煎至一大盞，去柤，空心溫服，少時便以早飯壓之，不致大熱上攻中上二焦也。</p>
<h3>雜病門</h3>
<p>安神丸：</p>
<p>治心神煩亂，怔忡兀兀欲吐，胸中氣亂而熱，有似懊憹之狀，皆膈上血中伏火，蒸蒸然不安，宜用權衡法以鎮陰火之浮越，以養上焦之元氣，經云：熱淫所勝，治以甘寒，以苦瀉之，以黃連之苦寒去心煩除濕熱為君，以甘草生地黃之甘寒瀉火，補氣滋生陰血為臣，以當歸補血不足，以硃砂納浮留之火，而安神明也。</p>
<p>黃連（一錢五分酒洗），硃砂（一錢水飛），酒生地黃，酒當歸身，炙甘草（各五分）。</p>
<p>右件除硃砂水飛外，搗四味為細末，同和勻湯浸蒸餅為丸，如黍米大，每服十五丸，津唾嚥下，食後。</p>
<p>硃砂安神丸：</p>
<p>治心煩懊憹，心亂怔忡，上熱，胸中氣亂，心下痞悶，食入反出。</p>
<p>硃砂（四錢），黃連（五錢），生甘草（二錢五分）。</p>
<p>右為末，湯浸蒸餅為丸，如黍米大，每服十丸，食後津唾嚥下。</p>
<p>補氣湯：</p>
<p>治皮膚間有麻木，乃肝氣不行故也。</p>
<p>白芍藥，橘皮（不去白各一兩五錢），炙甘草，黃耆（各一兩），澤瀉（五錢）。</p>
<p>右㕮咀，每服一兩，水二盞至一盞，去柤，溫服。</p>
<p>當歸補血湯：治婦人肌熱躁熱，目赤面紅，煩渴引飲，晝夜不息，其脈洪大而虛，重按全無，內經曰：脈虛血虛，脈實血實。又云：血虛發熱，證象白虎，惟脈不長實為辨也，若誤服白虎湯必死，此病得之於饑困勞役。</p>
<p>黃耆（一兩），當歸身（二錢酒製）。</p>
<p>右㕮咀，都作一服，水二盞煎至一盞，去柤，稍熱空心服。</p>
<p>柴胡升麻湯：</p>
<p>治男子婦人四肢發熱，肌熱筋骨熱，表熱如火燎，以手捫之，烙人手，夫四肢者，屬脾土也，熱伏地中，此病多因血虛而得之，又有胃虛過食冷物，鬱遏陽氣於脾土之中，此藥主之。</p>
<p>升麻，葛根，獨活，羌活，白芍藥，人參（各五錢），炙甘草，柴胡（各三錢），防風（二錢五分），生甘草（二錢）。</p>
<p>右㕮咀，每服五錢，水二大盞煎至一盞，去柤，熱服，忌寒冷之物。</p>
<p>火鬱湯：</p>
<p>治五心煩熱，是火鬱於地中，四肢者脾土也，心火下陷於脾土之中，鬱而不得伸，故經云：火鬱則發之。</p>
<p>升麻，葛根，柴胡，白芍藥（各一兩），防風，甘草（各五錢）。</p>
<p>右㕮咀，每服五錢，水二大盞入連鬚蔥白三寸煎至一盞，去柤，稍熱不拘時候服。</p>
<p>小黃丸：</p>
<p>化痰涎，和胃氣除濕，治胸中不利。</p>
<p>黃芩（一兩），半夏（薑湯製），白朮（各五錢），陳皮，青皮（去白），黃耆（各三錢），澤瀉（二錢），乾薑（一錢五分）。</p>
<p>右為末，湯浸蒸餅為丸，如綠豆大，每服五十丸，食遠溫水下。</p>
<p>黃芩利膈丸：</p>
<p>除胸中熱，利膈上痰。</p>
<p>生黃芩，炒黃芩（各一兩），半夏，黃連，澤瀉（各五錢），南星，枳殼，陳皮（各三錢），白朮（二錢），白礬（五分）。</p>
<p>右為末，湯浸蒸餅為丸，如梧桐子大，每服三五十丸，食遠溫水下，忌酒濕麵。</p>
<p>補益腎肝丸：</p>
<p>治目中流火，視物昏花，耳聾耳鳴，困倦乏力，寢汗惡風，行步不正，兩足欹側，臥而多驚，腳膝無力，腰以下消瘦。</p>
<p>柴胡，羌活，生地黃，苦參（炒），防己（炒各五分），附子，肉桂（各一錢），當歸身（二錢）。</p>
<p>右為細末，熟水為丸，如雞頭仁大，每服五十丸，食前溫水下。</p>
<p>太陽經嚏藥：</p>
<p>防風（二分），羌活（三分），紅豆（二箇）。</p>
<p>右為細末，鼻內㗜之。</p>
<p>麻黃茱萸湯：</p>
<p>治胸中痛頭痛，食減少，咽嗌不利，右寸脈弦急。</p>
<p>麻黃，羌活（各五分），吳茱萸，黃耆，升麻（各三分），黃芩，當歸，黃柏，藁本（各二分），川芎，蔓荊子，柴胡，蒼朮，黃連，半夏（各一分），細辛（少許），紅花（少許）。</p>
<p>右剉如麻豆大，都作一服，水二盞至一盞，去柤，稍熱服食後。</p>
<p>黃耆湯：</p>
<p>治表虛惡風寒。</p>
<p>黃耆（五錢），甘草（三錢），香白芷（二錢五分），藁本，升麻（各二錢），草豆寇，橘皮（各一錢五分），麻黃，當歸身（各一錢），蓮花青皮（七分），柴胡（六分），黃柏（少許）。</p>
<p>右㕮咀，每服五錢，水二盞煎至一盞，去柤，不拘時服。</p>
<p>除濕補氣湯（一名清神補氣湯）：</p>
<p>治兩腿麻木，沉重無力，多汗喜笑，口中涎下，身重如山，語聲不出，右寸脈洪大。</p>
<p>升麻（六錢），蒼朮（四錢），酒黃柏，柴胡，黃耆（各三錢），酒知母，藁本，生甘草，當歸（各二錢），五味子，陳皮（各一錢五分）。</p>
<p>右剉如麻豆大，每服五錢，水二盞煎至一盞，去柤，空心服之，待少時以早飯壓之。</p>
<p>參歸湯：</p>
<p>補氣血俱不足。</p>
<p>黃耆（七分），甘草，生地黃（各五分），柴胡，草豆蔻仁，升麻（各四分），當歸身（三分），熟地黃，人參（各二分），益智仁（少許），紅花（少許）。</p>
<p>右剉如麻豆大，都作一服，水一盞煎至一盞，去柤，食遠服。</p>
<p>升陽湯：</p>
<p>治陽蹻癇疾，足太陽經寒恐則氣下行，宜升陽氣。</p>
<p>炙甘草（五錢），麻黃（不去節），防風（各八錢），羌活（一兩五錢）。</p>
<p>右㕮咀，每服五錢，水二盞煎至一盞，去柤，稍熱空心服。</p>
<h3>自汗門</h3>
<h4>自汗論</h4>
<p>或問濕之與汗為陰乎？為陽乎？日西南坤土也，在人則為脾胃也，人之汗，猶天地之雨也，陰滋其濕則為霧露為雨也，陰濕下行地之氣也，汗多則亡陽，陽去則陰勝也，甚為寒中，濕勝則音聲如從瓮中出，濕若中水也，相法家有說，土音如居深瓮裏，言其壅也，遠也，不出也，以明其濕審矣，又知此二者，亦為陰寒也，內經云：氣虛則外寒，雖見熱中蒸蒸為汗，終傳大寒，知始為熱中，表虛亡陽，不任外寒，終傳寒中多成痹寒矣，色以候天脈以候地形者，乃候地之陰陽也，故以脈氣候之，皆有形無形之可見者也。</p>
<p>周衛湯：</p>
<p>治濕勝自汗，補衛氣虛弱，表虛不任風寒。</p>
<p>黃耆，麻黃根（各一錢），羌活（七分），生甘草，當歸梢，生黃芩，半夏（薑製各五分），麥門冬，生地黃（各三分），豬苓（二分），蘇木，紅花（各一分），五味子（七箇）。</p>
<p>右剉如麻豆大，都作一服，水二盞煎至一盞，去柤，稍熱服。</p>
<p>中風證必自汗，不得重發其汗，故禁麻黃而用根節也。</p>
<p>清燥湯：</p>
<p>治六月七月間，濕令大行，子能令母實而熱旺，濕熱相合必刑庚大腸，寒冷以救之，燥金受濕熱之邪，絕寒水生化之源，源絕則腎虧痿厥之病大作，腰以下痿軟癱瘓不能動，行步不正，兩足欹側，此藥主之。</p>
<p>黃耆（一錢五分），橘皮，白朮，澤瀉（各五分），人參，白茯苓，升麻（各三分），炙甘草，麥門冬，當歸身，生地黃，神麯末，豬苓（各二分），柴胡，酒黃柏，黃連，蒼朮（各一分），五味子（九箇）。</p>
<p>右剉如麻豆大，每服五錢，水二盞煎至一盞，去柤，空心熱服。</p>
<p>當歸六黃湯：</p>
<p>治盜汗之聖藥也。</p>
<p>當歸，生地黃，熟地黃，黃柏，黃芩，黃連（各等分），黃耆（加倍）。</p>
<p>右為麤末，每服五錢，水二盞煎至一盞，食前服，小兒減半服之。</p>
<p>紅豆散：</p>
<p>治頭重如山，此濕氣在頭也。</p>
<p>麻黃根（炒五錢），苦丁香（五分），羌活（炒），連翹（炒各三分），紅豆（十箇）。</p>
<p>右為細末，鼻內㗜之。</p>
<p>活血通經湯：</p>
<p>靈壽縣董監軍，癸卯冬大雪時，因事到真定，忽覺有風氣暴至，診候得六脈俱弦甚，按之洪實有力，其證手攣急，大便秘澀，面赤熱，此風寒始至加於身也，四肢者，脾也，以風寒之邪傷之則搐急而攣痹，乃風淫未疾而寒在外也，內經曰：寒則筋攣，正謂此也，本人素飲酒，內有實熱，乘於腸胃之間，故大便秘澀而面赤熱，內則手足陽明受邪，外則足太陰脾經受風寒之邪，用桂枝甘草以卻其寒邪而緩其急搐，又以黃柏之苦寒滑以瀉實而潤燥，急救腎水，用升麻葛根以升陽氣，行手足陽明之經，不令遏絕，更以桂枝辛熱入手陽明之經為引用潤燥，復以芍藥甘草專補脾氣，使不受風寒之邪而退木邪，專益肺金也，加人參以補元氣為之輔佐，加當歸身去裏急而和血潤燥，此藥主之。</p>
<p>芍藥（五分），升麻，葛根，人參，當歸身，炙甘草（各一錢），酒黃柏，桂枝（各二錢）。</p>
<p>右剉如麻豆大，都作一服，水二大盞煎至一盞，熱服不拘時，令暖房中近火摩搓其手。</p>
<p>瀉榮湯：</p>
<p>治癘風，滿面連頭極癢，不任眉毛脫落，先砭其處，令惡氣消盡後，服此藥。</p>
<p>連翹，升麻（各六分），桔梗（五分），生黃芩，生地黃（各四分），黃耆，蘇木，黃連，地龍，全蝎，當歸（各三分），白豆蔻，人參（各二分），甘草（一分半），梧桐淚（一分），麝香（少許），桃仁（三箇），蝱蟲（去翅足炒三箇），水蛭（三箇炒令煙盡）。</p>
<p>右剉如麻豆大，除連翹梧桐淚白豆蔻另為細末，麝香蝱蟲水蛭三味同為細末，都作一服，水二盞酒一盞入連翹煎至一盞，去柤，再入白豆蔻二味并麝香等，再煎至七分，稍熱早飯後午前服之，忌酒濕麵生冷硬物。</p>
<p>人參益氣湯：</p>
<p>治兩手指麻木，四肢困倦，怠惰嗜臥，乃熱傷元氣也。</p>
<p>黃耆（八錢），生甘草，人參（各五錢），白芍藥（三錢），柴胡（二錢五分），炙甘草，升麻（各二錢），五味子（一百四十箇）。</p>
<p>右㕮咀，分作四服，水二盞煎至一盞，去柤，稍熱食遠服。</p>
<p>導氣湯：</p>
<p>治兩腿麻木沉重。</p>
<p>黃耆（八錢），甘草（六錢），青皮（四錢），升麻，柴胡，當歸梢，澤瀉（各二錢），橘皮（一錢），紅花，五味子（一百二十箇）。</p>
<p>右㕮咀，分作四服，每服水二大盞煎至一盞，去柤，食前熱服。</p>
<p>補中湯：</p>
<p>治面黃汗多，目赤，四肢沉重，減食，腹中時時痛，咳嗽，兩手寸脈短，右手脈弦細兼澀，關脈虛。</p>
<p>升麻，柴胡，當歸（各二分），神麯（三分炒），澤瀉（四分），大麥柏麵，蒼朮（各五分），黃耆（二錢五分），炙甘草（八分），紅花（少許），五味子（二十箇）。</p>
<p>右㕮咀，分作二服，水二盞煎至一盞，去柤，食遠服。</p>
<p>麻黃分朮湯：</p>
<p>治秋冬每夜五更嗽，連聲不絕，乃至天曉，日高方緩，日苦兩脇下痛，心下痞悶，臥而多驚，筋攣肢節疼痛，痰唾涎沫，日晚神昏，呵欠不進飲食。</p>
<p>麻黃（八錢），蒼朮（五錢），黃耆（一錢五分），草豆蔻（六分），柴胡，羌活（各五分），生甘草，當歸梢，防風（各四分），炙甘草，黃芩（各三分），五味子（九箇）。</p>
<p>右㕮咀，分作二服，水二盞煎至一盞，稍熱臨臥服。</p>
<p>上清湯：</p>
<p>清利頭目，寬快胸膈。</p>
<p>人參，蔓荊子（各五分），防風（一錢），葛根（一錢五分），黃耆（三錢），甘草（四錢）。</p>
<p>右㕮咀，分作二服，水二盞煎至一盞，去柤，臨臥熱服，以夾衣蓋覆不語，須臾汗出為效。</p>
<p>朮桂湯（一名麻黃蒼朮湯）：</p>
<p>治寒濕所客，身體沉重，胃脘痛，面色痿黃。</p>
<p>蒼朮（二錢），麻黃，炒神麯，橘皮，白茯苓，澤瀉（各一錢），桂梗，半夏，草豆蔻仁，豬苓（各五分），黃耆（三分），炙甘草（二分），杏仁（十箇）。</p>
<p>右都作一服，水二盞生薑五片煎至一盞，去柤，食前熱服。</p>
<p>正氣湯：</p>
<p>治盜汗。</p>
<p>炒黃柏，炒知毋（各一錢五分），炙甘草（五分）。</p>
<p>右為麤末，生一服，水二盞煎至一盞，食前溫服。</p>
<p>趁痛丸：</p>
<p>治打撲閃損，腰痛不可忍。</p>
<p>乳香，沒藥（各錢），白萵苣子（一兩炒黃），烏梅（一箇），白粟米（一抄炒黃）。</p>
<p>右為細末，煉蜜為丸如彈子大，每服一丸，細嚼溫酒空心下。</p>
<p>退熱湯：</p>
<p>治表中虛熱，或遇夜則甚。</p>
<p>黃耆（一錢），柴胡（七分），生甘草，黃連（酒製），黃芩，芍藥，地骨皮，生地黃（去血熱），蒼朮（各五分），當歸身，升麻（各三分）。</p>
<p>右㕮咀，作一服，水二盞煎至一盞，去柤，食遠溫服，如身體力困者，加麥門冬五味子（各五分），人參甘草（各一錢）。</p>
<p>解表升麻湯：</p>
<p>治遍身壯熱，骨節疼痛。</p>
<p>升麻，羌活，蒼朮（各一錢），防風（八分），柴胡，甘草（各七分），當歸，藁本（各五分），橘皮（三分），冬加麻黃（不去節），春加麻黃（去節）。</p>
<p>右㕮咀，作一服，水二盞煎至一盞，去柤，溫服後，以蔥醋湯發之，得微汗為效。</p>
<p>天麻黃耆湯：</p>
<p>治表有風證，因連日酣飲，其證復來，右口角并眼頗有側視，及左手左腳腿麻木疼痛。</p>
<p>天麻，芍藥，神麯（炒），羌活（肢節不痛去之），茯苓（各三分），人參，黃連（各四分），當歸（五分），黃耆，甘草，升麻，葛根，黃柏，蒼朮（各六分），澤瀉（七分），柴胡（九分）。</p>
<p>右㕮咀，作一服，水二盞煎至一盞，去柤，食遠溫服，或加豬苓（六分）。</p>
<p>健步丸：</p>
<p>治膝中無力，伸而不得屈，屈而不能伸，腰背腿膝沉重，行步艱難。</p>
<p>防己（酒洗一兩），羌活，柴胡，滑石（炒），炙甘草，瓜蔞根（酒洗各五錢），澤瀉，防風（各三錢），苦參（酒洗），川烏（各一錢），肉桂（五分）。</p>
<p>右為細末，酒糊為丸，如梧桐子大，每服七十丸，煎愈風湯下，空心服。</p>
<p>白朮除濕湯：</p>
<p>治午後發熱，背惡風，四肢沉重，小便或多或少黃色，此藥又治汗後發熱。</p>
<p>白朮（一兩），生地黃（炒），地骨皮，澤瀉，知母（各七錢），赤茯苓，人參，炙甘草，柴胡（各五錢）。</p>
<p>右為麤末，每服五錢，水二盞煎至一盞，去柤，食遠溫服，如小便快利減茯苓澤瀉（一半），如有刺痛，一料藥中加當歸身（酒洗七錢）。加味四君子湯：</p>
<p>治久瘧，熱多寒少不止。</p>
<p>白朮，白茯苓，人參，甘草，柴胡，薄荷葉，黃芩（各等分）。</p>
<p>右㕮咀，每服五錢，水二盞生薑三片棗一枚煎至一盞，去柤，不拘時候服。</p>
<p>瀉血湯：</p>
<p>治發熱，晝少而夜多，太陽經中尤甚，晝病則在氣，夜病則在血，是足太陽膀胱血中浮熱微有氣也，既病人大小便如常，知邪氣不在臟腑，是無裏證也，外無惡寒，知邪氣不在表也，有時而發有時而止，知邪氣不在表不在裏，知在經絡也，夜發多而晝發少，是邪氣下陷之深也，此雜證，當從熱入血室而論之。</p>
<p>生地黃（酒洗炒），熟地黃，蒲黃，丹參（酒炒），當歸（酒洗去土），漢防己（酒洗炒），柴胡（去蘆），甘草梢（炙），羌活（各一兩），桃仁（去皮三錢湯浸）。</p>
<p>右為麤末，每服五錢，水一盞半煎至一盞，去柤，空心溫服。</p>
<p>洗面藥：</p>
<p>治面有䵟𪒟或生瘡或生痤疿，及粉刺之類，并去皮膚燥癢，去垢膩，潤澤肌膚。</p>
<p>皂角（三斤去皮弦子另搗），好升麻（八兩），楮實子（五兩），白芨（一兩細剉），甘松（七錢），縮砂（連皮），白丁香（臘月收），三柰子（各五分），綠豆（八合揀淨另搗），糯米（一升二合）。</p>
<p>右為細末，用之如常。</p>
<p>瑩肌如玉散：</p>
<p>白丁香，白芨，白牽牛，白歛（各一兩），白芷（七錢），當歸梢，白蒺藜，升麻（各五錢），白茯苓，楮實子（各三錢），麻黃（去節二錢），白附子，連翹（各一錢五分），川椒（一錢）。</p>
<p>右為細末，用之如常。</p>
<p>面油摩風膏：</p>
<p>麻黃，升麻（去黑皮），防風（各二錢），羌活（去皮），當歸身，白芨，白檀（各一錢）。</p>
<p>右用小油半斤，以銀器中熬，綿包定前藥，於油中熬之，得所澄淨，去柤，入黃蠟一兩再熬之為度。</p>
<h3>小兒門</h3>
<h4>治驚論</h4>
<p>外物驚，宜鎮心以黃連安神丸，若氣動所驚，宜寒水石安神丸，大忌防風丸，治風辛溫之藥必殺人，何也？辛散浮溫，熱者火也，能令母實，助風之氣盛，皆殺人也，因驚而泄青色，先鎮肝以硃砂之類，勿用寒涼之氣，大禁涼驚丸，風木旺必克脾胃，當先實其土後瀉其子，閻孝忠編集錢氏方，以益黃補土誤矣，其藥有丁香辛熱助火，火旺土愈虛矣，青橘皮瀉肺金，丁香辛熱大瀉肺與大腸，脾實當瀉子，今脾胃虛反更瀉子而助火，重虛其土，殺人無疑矣，其風木旺證，右關脈洪大，掌中熱腹皮熱，豈可以助火瀉金，如寒水來乘脾土，其病嘔吐腹痛，瀉痢青白，益黃散聖藥也，今立一方，先瀉火補金，大補其土，是為神治之法。</p>
<p>黃耆湯：</p>
<p>黃耆（二錢），人參（一錢），炙甘草（五分）。</p>
<p>右㕮咀，作一服，水一大盞煎至半盞，去柤，食遠服，加白芍藥尤妙。</p>
<p>此三味皆甘溫，能補元氣，甘能瀉火，內經云：熱淫於內，以甘瀉之，以酸收之，白芍藥酸寒，寒能瀉火，酸味能瀉肝而大補肺金，所補得金土之位，金旺火虛，風木何由而來克土，然後瀉風之邪。</p>
<p>夫益黃散理中丸養神丸之類，皆治脾胃寒濕大盛神品之藥也，若得脾胃中伏熱火勞役不足之證，及服熱藥巴豆之類，胃虛而成慢驚之證，用之必傷人命，夫慢驚風者，皆由久瀉脾胃虛而生也，錢氏以羌活膏療慢驚風，誤矣，脾虛者，由火邪乘其土位，故曰從後來者為虛邪，火旺能實其木，木旺故來克土，當於心經中，以甘溫補土之源，更於脾土中瀉火以甘寒，更於脾土中補金以酸涼，致脾土中金旺火衰，風木自虛矣，損食多進藥愈前藥是也。</p>
<p>益黃散：</p>
<p>治胃中風熱。</p>
<p>黃耆（二錢），陳皮（去白），人參（各一錢），芍藥（七分），生甘草，熟甘草（各五分），黃連（少許）。</p>
<p>右為細末，每服二錢，水一盞煎至五分，食前服。</p>
<p>升陽益血湯：</p>
<p>二月間有一小兒未滿一百日，病腹脹，二日大便一度，瘦弱身黃色，宜升陽氣滋血益血補血利大便。</p>
<p>蝎梢（二分），神麯末，升麻（各三分），當歸，厚朴（各一錢），桃仁（十箇）。</p>
<p>右都作一服，水一大盞煎至半盞，去柤，食遠熱服。</p>
<p>厚腸丸：</p>
<p>治小兒失乳，以食飼之，未有食腸不能克化，或生腹脹，四肢瘦弱，或痢色無常。</p>
<p>厚朴，青皮（各二分），橘紅，半夏，蒼朮，人參（各三分），枳實，麥柏麵，神麯末（各五分）。</p>
<p>右為極細末，水煮麵糊為丸麻子大，每服二十丸，溫水送下，食前，忌飽食。</p>
<p>補陽湯：</p>
<p>時初冬，一小兒二歲大，寒證，明堂青脈，額上青黑，腦後青絡高起，舌上白滑，喉鳴而喘，大便微青，耳尖冷，目中常常淚下，仍多眵，胸中不利，臥而多驚，無搐則寒。</p>
<p>黃柏，橘皮，葛根，連翹，蝎梢，炙甘草（各一分），升麻，黃耆，柴胡（各二分），當歸身，麻黃（各三分），吳茱萸，生地黃，地龍（各五分）。</p>
<p>右㕮咀，都作一服，水一大盞半煎至六分，去柤，乳食後熱服，服藥之後，添喜笑，精神出，氣和順，乳食旺。</p>
<p>大蕪荑湯（一名梔子茯苓湯）：</p>
<p>治黃疳，土色為熱為濕，當小便不利，今反利，知黃色為燥，胃經中大熱，髮黃脫落，知膀胱與腎俱受土邪，乃大濕熱之證，鼻下斷作瘡者，土逆行榮氣伏火也，能乳者，胃中有熱也，寒則食不入，喜食土者，胃不足也，面黑色者為寒為痹，大便青寒褐色血黑色，熱畜血中間黃色，腸中有熱，治法當滋榮潤燥除寒熱致津液。</p>
<p>防風，黃連（各一分），黃柏，炙甘草，麻黃（不去根節），羌活（各二分），山梔子仁，柴胡，茯苓（各三分），當歸（四分），大蕪荑，白朮（各五分）。</p>
<p>右剉如麻豆大，都作一服，用水一大盞半煎至六分，去柤，食前稍熱服。</p>
<p>塌氣退黃湯（一名茯苓滲濕湯）：</p>
<p>治小兒面色痿黃，腹䐜脹，食不能下。</p>
<p>白朮，柴胡（各半分），升麻（一分），桂枝，麻黃，吳茱萸，厚朴，羌活，草豆蔻，神麯末，蒼朮，澤瀉，白茯苓，豬苓，黃柏，橘紅（各二分），青皮，黃連（各五分），杏仁（二箇）。</p>
<p>右都作一服，水二大盞煎至一盞，去柤，食前溫服。</p>
<p>中滿分消丸：</p>
<p>枳實，黃連（去鬚），厚朴（各五分），乾薑，薑黃，豬苓（各一錢），橘皮，甘草，白朮（各一錢五分），砂仁，澤瀉，茯苓（各二錢），半夏（四錢），黃芩（一兩二錢）。</p>
<p>右為細末，湯浸蒸餅為丸，如黍米大，每服三五十丸，溫水下。</p>
<p>消痞丸：</p>
<p>黃連（五錢），黃芩（二錢），厚朴（七分），薑黃（五分），乾生薑，人參（各四分），甘草（三分），枳實（二分），橘皮（一分）。</p>
<p>右為細末，湯浸蒸餅為丸，如黍米大，每服三十丸，隨乳下。</p>
<h4>斑疹論</h4>
<p>夫斑疹始出之證，必先見面燒腮赤，目胞亦赤，呵欠煩悶，乍涼乍熱，咳嗽嚏噴，足稍冷，多睡驚，並瘡疹之證，或生膿胞，或生小紅斑，或生癮疹，此三等不同，何故？俱顯上證而後乃出，蓋以上諸證皆太陽寒水，起於右腎之下，煎熬左腎足太陽膀胱寒水夾脊，逆流上頭下額，逆手太陽丙火，不得傳導，逆於面上，故顯是證，蓋壬癸寒水克丙丁熱火故也，諸斑證皆從寒水逆流而作也，醫者當知此理，乃敢用藥，夫胞者，一名赤宮，一名丹田，一名命門，主男子藏精施化，婦人繫胞有孕，俱為生化之源，非五行也，非水亦非火，此天地之異名也，象坤土之生萬物也，夫人之始生也，血海始淨，一日二日精勝其血則為男子，三日四日五日血脈已旺，精不勝血則為女子，二物相搏，長生先身謂之神，又謂之精，道釋二門言之，本來面目是也，其子在腹中十月之間，隨母呼吸呼吸者，陽氣也，而生動作滋益精氣神，饑則食母血，渴則飲母血，兒隨日長，皮肉筋骨血脈形氣俱足，十月降生，口中尚有惡血，啼聲一發，隨吸而下，此惡血復歸命門胞中，僻於一隅，伏而不發，直至因內傷乳食濕熱之氣，下流合於腎中，二火交攻，致榮氣不從，逆於肉理，惡血乃發，諸斑疹皆出膀胱壬水，其瘍後聚肉理，歸於陽明，故三番斑始顯之證，皆足太陽壬膀胱克丙小腸，其始出皆見於面，終歸於陽明肉理，熱化為膿者也，二火熾甚反勝寒水，遍身俱出，此皆出從足太陽傳變中來也，當外發寒邪，使令消散，內瀉二火，不令交攻，其中令濕氣上歸復其本位，可一二服立已，仍令小兒以後再無二番斑出之，患此，內經之法，覽者詳之。</p>
<p>消毒救苦散：</p>
<p>治斑證悉具，消化便令不出，如已出希者，再不生斑。</p>
<p>防風，羌活，麻黃根，升麻，生地黃，連翹（初出者減，出大者加），酒黃柏（各五分），當歸身，黃連（各三分），川芎，藁本，柴胡，葛根，酒黃芩，生黃芩，蒼朮（各二分），細辛，生甘草，白朮，陳皮，蘇木，紅花（各一分），吳茱萸（半分）。</p>
<p>右剉如麻豆大，每服五錢，水二大盞煎至一盞，去柤，稍熱空心服。</p>
<p>夫斑疹出者，皆因內傷，必出斑榮氣逆故也，大禁牽牛巴豆，食藥宜以半夏枳朮大黃益智仁之類，去其泄瀉止其吐，若耳尖冷呵欠，睡中驚，嚏噴眼澀，知必出斑也，諸大膿泡小水泡，斑疹癮三色皆榮氣逆而寒復其表，宜以四味升麻湯中加當歸身連翹，此定法也。</p>
<p>如肺成膿斑，先嗽喘或氣高而喘促加人參，少加黃芩以瀉伏火而補元氣。</p>
<p>如心出小紅斑，必先見嗌乾驚悸，身熱肌肉腫，脈弦洪少加黃連。</p>
<p>如命門出癮疹，必先骨疼身熱，其疼痛不敢動搖，少加生地黃，又加黃柏；諸斑疹皆為陰證，瘡須皆因內傷飲食，脾胃不足，榮氣逆行，雖火熱內熾，陰覆其外，治法如前。</p>
<p>辨小兒斑證：</p>
<p>呵欠，嚏噴，睡中發驚，或耳尖冷，眼澀。</p>
<p>或辨復食，口熱，或口醋氣，妳瓣不消，或腹中痛。</p>
<p>如斑證少具，其斑未發，乃與升麻湯三五錢，帶熱服之，待身表溫和，斑疹已顯，服藥乃止。</p>
<p>如其身涼，其斑未出，辨得是斑證，無問服數，直候身表溫和，及斑瘡已顯，然後乃止，只時時與桔梗湯，寬胸膈利咽喉。</p>
<p>桔梗湯：</p>
<p>如斑已出，只時時與之，快咽喉寬利胸膈。</p>
<p>桔梗（二錢），甘草（一錢炙）。</p>
<p>右為麤末，每服三錢，水一大盞煎至六分，去柤，大溫時時服之，不可計服數。</p>
<p>如見傷食證，又見斑證，先與不犯大黃巴豆藥克化過，再與升麻湯；如食重傷前藥，不能過再與犯大黃巴豆藥過；如大便行當，即便與升麻湯服之，恐斑子內陷已後，臨時作罪過；如斑子已出稠密，身表熱，急與下項：</p>
<p>黍粘子湯：</p>
<p>如斑子已稠密，身表熱，急與此藥服之，防後青乾黑陷。</p>
<p>黍粘子（炒香），當歸身（酒洗），炙甘草（各一錢），柴胡，連翹，黃耆，黃芩（各一錢五分），地骨皮（二錢）。</p>
<p>右同為麤末，每服二錢，水一大盞煎至六分，去柤，溫服空腹服，藥畢且休與乳食。</p>
<p>麻黃柴胡升麻湯：</p>
<p>治小兒寒鬱而喘，喉鳴腹滿，鼻流清涕，脈沉急而數。</p>
<p>麻黃，草豆蔻仁，益智仁（各一錢五分），吳茱萸，厚朴（各二分），當歸梢，甘草，柴胡，生黃芩（各一分），升麻，神麯，蘇木（各半分），全蠍（二箇），紅花（少許）。</p>
<p>右剉如麻豆大，分作二服，水一大盞煎至七分，去柤，食遠服，忌風寒，微有汗則效。</p>
<p>蘭室秘藏卷下終。</p>
