<header><h1>尚論篇</h1></header>
<dl class="元資料" data-type="book">
<div><dt>作者</dt><dd>喻昌</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>底本</dt><dd>《欽定四庫全書·子部五·醫家類·尚論篇》（<a href="https://www.kanripo.org/text/KR3e0091/">掃描及文字化本</a>）</dd></div>
</dl>

<h1>尚論篇　卷首</h1>
<p>新建　喻昌　撰</p>
<h2>尚論張仲景傷寒論大意</h2>
<p>後漢張仲景，著卒病傷寒論十六卷，當世兆民賴以生全，傳之後世，如日月之光
華，旦而復旦，萬古常明可也，斯民不幸，至晉代不過兩朝相隔，其卒病論六卷，
已不可復睹，即傷塞論十卷，想亦劫火之餘，僅得之讀者之口授，故其篇目先後
差錯，賴有三百九十七法，一百一十三方之名目，可為校正，太醫令王叔和附以
己意，編集成書，共二十二篇，後人德之，稱為仲景之徒，究竟述者之明，不及
作者之聖，祇令學者童而習之，白首不得其解，雖有英賢輩出，卒莫能舍叔和疆
畛，追溯仲景淵源，於是偶窺一斑者，各嗚一得，好龐安常，朱肱，許叔微，韓
祇和，王實之流，非不互有闡發，然不過為叔和之功臣止耳，未見為仲景之功臣
也，今世傳仲景傷寒論，乃宋祕閣臣林億所校正，宋人成無已所詮註之書也，林
億不辨朱紫菽粟，謂自仲景于今，八百餘年，惟王叔和能學之，其間如葛洪，陶
景，胡洽，徐之才，孫思邈輩，皆不及也，又傳稱成無已註傷寒論十卷，深得長
沙公之祕旨，殊不知林，成二家，過於尊信叔和，往往先傳後經，將叔和緯翼仲
景之辭，且混編為仲景之書，況其他乎，如一卷之平脈法，二卷之序例，其文原
不雅馴，反首列之以錯亂聖言，則其所為校正，所謂詮註者，乃仲景之不幸，斯
道之大厄也，元泰定間，程德齋作傷寒論法，尤多不經，國朝王履，并三百九十
七法，一百一十三方，亦竊疑之，謂仲景書甚平易明白，本無深僻，但王叔和雜
以己意，遂使客反勝主，而仲景所以創法之意，淪晦不明，今欲以傷寒例居前，
六經病次之，類傷寒病又次之，至若雜病、雜脈、雜論，與傷寒無預者皆略去，
計得二百八十三條，并以治字易法字，而曰二百八十三治，雖有深心，漫無卓識，
亦何足取，萬歷間，方有執著傷寒條辨，始先即削去叔和序例，大得尊經之旨，
然未免失之過激，不若愛禮存羊，取而駁正之，是非既定，功罪自明也，其餘太
陽三篇，改叔和之舊，以風寒之傷營衛者分屬，卓識超越前人，此外不達立言之
旨者尚多，大率千有餘年，若明若昧之書，欲取而尚論之，加日月之光昭宇宙，
必先振舉其大綱，然後詳明其節目，始為至當不易之規，誠以冬春夏秋，時之四
序也，冬傷於寒，春傷於溫，夏秋傷於暑熱者，四序中主病之大綱也，舉三百九
十七法，分列於大綱之下，然後仲景之書，始為全書，其冬傷於寒一門，仲景立
法，獨詳於春夏秋三時者，蓋以春夏秋時令，雖有不同，其受外感則一，自可取
治傷寒之法，錯綜用之耳，仲景自序云，學者若能尋余所集，思過半矣，可見引
伸觸類，治百病有餘能，況同一外感乎，是春夏秋之傷溫傷熱，明以冬月傷寒為
大綱矣，至傷寒六經中，又以太傷一經為大綱，而太陽經中，又以風傷衛，寒傷
營，風寒兩傷營衛為大綱，何也，大綱混於節目之中，無可尋繹，祇覺其書之殘
缺難讀，今大綱既定，然後詳求其節目，始知仲景書中，矩則森森毋論法之中更
有法，即方之中亦更有法，通身手眼，始得一一點出，讀之而心開識朗，不復為
從前之師說所爚，浸假繇其道而升堂入室，仲景彌光，而吾生大慰矣，知我罪我，
亦何計哉。</p>
<h2>尚論仲景傷寒論先辨叔和編次之失</h2>
<p>嘗觀王叔和彙集扁鵲、仲景、華元化先哲脈法為一書，名曰脈經，其於仲景傷寒
論，尤加探討，宜乎顯微畢貫，曲暢創法製方之本旨，以啟後人之信從可也，乃
於彙脈之中，間一彙證，不該不貫，猶曰彙書之常也，至於編述傷寒全書，茍簡
粗率，仍非作者本意，則吾不知之矣，如始先序列一篇，蔓引贅辭其後，可與不
可，諸篇獨遺精髓平脈一篇，妄入己見，總之碎剪美錦，綴以敗絮，盲瞽後世，
無繇復睹黼黻之華泥於編述，大意私淑原委，自首至尾，不敘一語，明以賈人居
奇之術，致令黃歧一脈，斬絕無遺，悠悠忽忽，沿習至今，所謂千古疑竇，莫此
難破，茲欲直溯仲景全神，不得不先勘破叔和，如太陽經中證緒分頭，後學已難
入手，乃更插入溫病、合病、併病、少陽病、過經不解病，坐令讀者茫然，譬諸
五穀，雖為食寶，設不各為區別，一概混種混收，鮮不貽耕者食者之困矣，如陽
明經中，漫次仲景偶舉問答一端隸於篇首，綱領倒置，先後差錯，且無扼要，至
於春溫夏熱之證，當另立大綱，顓自名篇者，迺懵然不識，此等大關一差，則冬
傷於寒，春傷於溫，夏秋傷於暑熱之旨盡晦，致後人誤以冬月之方，施於春夏，
而歸咎古方之不可以治今病者，誰之過歟，至於霍亂病、陰陽易、差後勞復等證，
不過條目中事耳，乃別立篇名，與六經並峙，又何輕所重而重所輕耶，仲景之道，
人但知得叔和而明，孰知其因叔和而墜也哉。</p>
<h2>尚論仲景傷寒論先辨林億成無已校註之失</h2>
<p>王叔和於仲景書，不察大意，妄行編次補綴，尚存闕疑一線，觀其篇首之辭，謂
痙濕暍雖同為太陽經病，以為宜應另論者，其一徵也，觀其篇中，謂疾病至急，
倉卒尋按，要旨難得，故重集可與不可方治者，其一徵也，觀其篇末補綴脈法，
分為二篇，上篇仍仲景之舊，下篇託仲景以傳，猶未至於顛倒大亂者，其一徵也，
第其不露補綴之痕，反以平脈本名，易為辨脈，而陰行一字之顛倒，此吾所為譏
其僭竊耳，若夫林億之校正，成無已之詮註，則以脈法為第一卷矣，按仲景自敘
云，平脈辨證，為傷寒卒病論，合十六卷，則脈法洵當隸於篇首，但晉承漢統，
仲景遺書未湮，叔和補綴之言，不敢混入，姑附於後，不為無見，二家不察，竟
遺編篇首，此後羚羊掛角，無跡可求，詎能辨其孰為仲景，孰為叔和乎，然猶隱
而難識也，其序例一篇，明係叔和所撰，何迺列於第二卷，豈以仲景之書，非序
例不能明耶，即使言之無弊，亦無先傳後經之理，況其蔓引贅辭，橫插異氣，寸
踰尺瑕，何所見而崇信若是，致令後學畫蛇添足，買櫝還珠，煌煌聖言，千古無
色，是二家羽翼叔和以成名，比以長君逢君，無所逃矣，至於註釋之差，十居六
七，夫先巳視神髓為糟粕矣，更安望闡發精理乎。</p>
<h2>駁正王叔和序例</h2>
<p>［王叔和序例，傳習已久，中人已深，欲削去之，而坊刻盛行，難掩眾目，姑存
原文，駁正其失，以定所宗，非故攻擊前賢，實不得已之思耳。</p>
<p>陰陽大論云，春氣溫和，夏氣暑熱，秋氣清涼，冬氣冷洌，此則四時正氣之序也，
冬時嚴寒，萬類深藏，君子固密，則不傷於寒，觸冒之者，乃名傷寒耳，其傷於
四時之氣，皆能為病，以傷寒為毒者，以其最成殺厲之氣也。
\引用內經，足見大意，然入一毒字，便開過端。
中而即病者，名曰傷寒，不即病者，寒毒藏於肌膚。
\寒邪繇肌膚而入，辛苦之人，邪藏肌膚則有之，若膏粱輩，冬不藏精者，其寒
邪且有藏於骨髓者矣，是未可以一端定也。
至春變為溫病。
\變字下得誕怪駭人。設謂春氣既轉為溫，則病發不當名傷寒，當變其名為溫病
則正矣。
至夏變為暑病。
\此一語尤為無據，蓋暑病乃夏月新受之病，豈有冬月伏寒，春時不發，至夏始
發之理乎。設謂是氣既轉為熱，外邪當變，名為熱病則正矣。
暑病者，熱極重於溫也。
\此一語更添蛇足，設有冬時伏寒，至春不發，其邪本輕可知，豈有反重於溫之
理乎，其誤始於楊操是以辛苦之人，春夏多溫熱病，皆繇冬時觸寒所致，非氣行
之氣也。
\內經但言冬傷於寒，春必病溫，未嘗言夏必病暑也，但夏傷於暑，秋必痎，未
嘗牽引冬春也，其意蓋謂春月之病，始於冬，秋月之病，始於夏耳，此等關頭不
徹，故以溫熱病並舉，故謂暑重於溫。</p>
<p>凡時行者，春時應暖而反大寒，夏時應熱而反大涼，秋時應涼而反大熱，冬時應
寒而反大溫，此非其時而有其氣，是以一歲之中，長幼之病，多相似者，此則時
行之氣也。
\未明傷寒，先明異氣，借客形主，似無不可，但傷寒要領，全不挈出，通篇有
客無主，殊不可耳。</p>
<p>夫欲候知四時正氣為病，及時行疫氣之法，皆當按斗歷占之，九月霜降後，宜漸
寒，向冬大寒，至正月雨水節後宜解也，所以謂之雨水者，以冰雪解而為雨水故
也，至驚蟄二月節後，氣漸和煖，向夏大熱，至秋便涼，從霜降以後，至春分以
前，凡有觸冒霜露，體中寒即病者，謂之傷寒也，其冬有非節之煖者，名曰冬溫，
冬溫之毒，與傷寒大異，冬溫復有先後，更相重沓，亦有輕重，為治不同，證如
後章。
\漫衍己意，明異氣之輕重不同，於仲景之文無涉，況所言紕謬。
\證如後章，其意指篇後，溫瘧、風溫、溫毒、溫疫為言，此無識之最者也，然
後來諸家偏奉之為祖，詎非得所托而傳信耶，真紫之奪朱，鄭聲之亂雅樂矣，詳
辨附序例後。</p>
<p>從立春節後，其中無暴大寒，又不冰雪，而有人壯熱為病者，此屬春時陽氣，發
於冬時，伏寒變為溫病，於字費解。
\到底說變為溫病，真是詖淫生心。</p>
<p>從春分以後，至秋分節前，天有暴寒者，皆為時行寒疫也。
\此正春溫夏暑秋溼三氣主病之時，何乃全不序及，反重衍夏秋之異氣，攪亂經
常，豈非三時原無正氣主病乎，抑仲景論中原無綱領可求乎，可見醫事自晉代已
失所宗，何況今日哉。</p>
<p>三月四月，或有暴寒，其時陽氣尚弱，為寒所折，病熱猶輕，五月六月，陽氣已
盛，為寒所折，病熱則重，七月八月，陽氣已衰，為寒所折，病熱亦微，其病與
溫及暑病相似，但治有殊耳。
\以陽氣為暴寒，所折，而為病熱之輕重，前去暑病重於溫，從此左見耳。叔和
未嘗序明溫暑病也，茲云異氣病，與溫暑病相似，但治有殊，然則溫暑病，將何
似耶，將何治耶，疏漏多矣。
十五日得一氣，於四時之中，一時有六氣，四六名為二十四氣也，然氣候亦有應
至而不至，或有未應至而至者，或有至而太過者，皆成病氣也，但天地動靜，陰
陽鼓擊者，各正一氣耳，是以彼春之煖，為夏之暑，彼秋之岔，為冬之怒。
\蔓衍內經不見大意
是故冬至之後，一陽爻升，一陰爻降也，夏至之後，一陽氣下，一陰氣上也。
\此復姤二卦之義，引入序例不切。
斯則冬夏二至，陰陽合也，春秋二分，陰陽離也。
\此分至之義，內經謂至則氣同，分則氣異，何等明顯，纔換合離二字，便自駭
觀。
陰陽交易，人變病焉。
\內經謂陰陽相錯，而變由生也，何等圓活，纔換交易變病等字，便費解，此變
溫變暑所自來乎，此君子春夏養陽，秋冬養陰，順天之剛柔也。
\內經謂養陽以涼以寒，養陰以溫以熱，所以然者，從其根故也，妙義合為疏出。
小人觸冒，必嬰暴疹，須知毒烈之氣，留在何經，而發何病，詳而取之。
\前云寒毒藏於肌膚，此云不知留在何經，而發何病，非故自相矛盾，其意實為
溫瘧、風溫、溫毒、溫疫，作開山祖師也，後人孰辨其為一場懵憧乎。
是以春傷於風，夏必飧泄，夏傷於暑，秋必病瘧，秋傷於溼，冬必咳嗽，冬傷於
寒，春必病溫，此必然之道，可不審明之。
\此傷於四時之正氣而為病者，但內經先言冬傷於寒，春必病溫，乃至傷風傷暑，
以次遞及，春夏秋三時之病，多始於冬，秋冬二時之病，多始於夏耳，然飧泄與
咳嗽，兼涉內因，惟傷寒傷溫傷暑，方是外感之證，仲景會此意，故以傷寒立論，
而苞舉溫暑在內如絲入扣，殆非不知而作，若叔和引經，止以春夏秋冬為序，渾
與流俗之見無別矣，此歧路之紛趨，所由來者遠也。
傷寒之病，逐日淺深，以施方治，今世人傷寒，或始不早治，或治不對病，或日
數久淹，因乃告醫，醫人又不依次第而治之，則不中病，皆宜臨時消息制方，無
不效也，今搜採仲景舊論，錄其證候診脈聲色對病真方，有神驗者，擬防世急也。
\仲景之書，叔和但言搜採，其非寤寐神遊可知，所以不窺作者之原，漫無表章
之實，孰謂叔和為仲景之徒耶。
又土地溫涼高下不同，物性剛柔飧居亦異，是故黃帝興四方之問，歧伯舉四治之
能，以訓後賢，開其未悟者，臨病之工，宜須兩審也。
\仲景於黃歧之道，以述為作，另闢手眼，叔和凡引內經之文，皆非典要，安能
發明其什一。
凡傷於寒，則為病熱，熱雖甚不死，若兩感於寒而病者必死，尺寸俱浮者，太陽
受病也，當一二日發，以其脈上連風府，故頭項痛，腰脊強，尺寸俱長者，陽明
受病也，當二三日發，以其脈挾鼻絡於目，故身熱目疼鼻乾，不得臥，尺寸俱弦
者，少陽受病也，當三四日發，以其脈循脅絡於耳，故胸脅痛而耳聾，此三經皆
受病，未入於府者，可汗而已，尺寸俱沉細者，太陰受病也，當四五日發，以其
脈布胃中，絡於嗑，故腹滿而磕乾，尺寸俱沉者，少陰受病也，當五六日發，以
其脈貫腎，絡於肺，繫舌本，故口燥舌乾而渴，尺寸俱微緩者，厥陰受病也，當
六七日發，以其脈循陰器，絡於肝，故煩滿而囊縮，此三經皆受病，已人於府，
可下而已。
\入府未入府，少變內經入藏原文，此處卻精。
若兩感於寒者，一日太陽受之，即與少陰俱病，則頭痛口乾，煩滿而渴，二日陽
明受之，即與太陰俱病，則腹滿身熱，不欲食，讝語，三日少陽受之，即與厥
陰俱病，則耳聾囊縮而厥，水漿不入，不知人者六日死，若三陰三陽五藏六府皆
受病，則營衛不行，府藏不通，則死矣。
\其得病陰陽兩證俱見，其傳經亦陰陽兩經俱傳，則邪氣瀰滿充斥，法當三日主
死，然必水漿不入，不知人者，方為營衛不行，府藏不通，更越三日而陽明之經
脈始絕也，引內經微旨，序兩感病甚精。
其不兩感於寒，更不傳經，不加異氣者，至七日太陽病衰，頭痛少愈也，八日陽
明病衰，身熱少歇也，九日少陽病衰，耳聾微聞也，十日太陰病衰，腹減如故，
則思飲食，十一日少陰衰，渴止舌乾，［乾當作潤］已而嚏也，十二日厥陰病衰，
囊縱少腹微下，邪氣皆去，病人精神爽慧也。
\自凡傷於寒，則為病熱至此，皆內經熱論篇原文，叔和但增更不傳經八箇字，
便有許多牽強。
若過十三日以上，不問尺寸陷者大危。
\尺寸之脈深陷，正氣衰微，莫能載邪外出，既已通經，其病不間誠為危候。
若更感異氣變為他病者，當依舊壞症病而治之。
\仲景於壞症，全不立法，其太陽經之壞症，知犯何逆，原用太陽經本法治之，
其少陽經之壞症，知犯何逆，原用少陽經本法治之，豈有更加異氣，可雖用太少
二經諸法治之之理，觀此則叔和漫不知壞證作何解，乃教後人遵用其法，所謂一
盲引眾盲，相將入火坑也，悲哉。
若脈陰陽俱盛，重感於寒者變為溫瘧，陽脈浮滑，陰脈濡弱者，更遇於風，變為
風溫，陽脈洪數，陰脈實大者，更遇溫熱，變為溫毒，溫毒為病最重也，陽脈濡
弱，陰脈弦緊者，更遇溫氣，變為溫疫，以此冬傷於寒，發為溫病，脈之變證，
方治如法。
\叔和每序傷寒，必插入異氣，欲鳴已得也，及序異氣，則借意難經，自作聰明，
漫擬四變，疑鬼疑神，駸成妖妄，難經雖云，傷寒有五，其脈有變否，變者，辨
也，辨脈定證也，設使叔和稍為平易，但云冬傷於寒，至春重感於寒，其脈陰陽
俱盛者，名為溫瘧，冬傷於寒，至春更遇於風，其脈陽浮滑，陰濡弱者，名為風
溫，乃至溫毒溫疫，俱順理立說，則雖擬病失倫，而大關不害為正，其加叔和未
肯平易何，後世但知叔和為傷寒論作序例，不識其草澤姦雄，稱孤道寡，故有晉
以後之譚醫者，皆偽統也，今移論春溫大意，并論溫疫大意二篇，附序例後，其
詳載在春溫卷中。
凡人有疾，不時即治，隱忍冀差，以成錮疾，小兒女子，益以滋甚，時氣不和，
便當早言，尋其邪由，及在腠理，以時治之，罕有不愈者，患人忍之，數日乃說，
邪氣入藏，則難可制，此為家有患備慮之要。
凡作湯藥，不可避晨夜，覺病須臾，即宜便治，不等早晚，則易愈矣，如或差遲，
病即傳變，雖欲除治，必難為力，服藥不如方法，縱意違師，不須治之。
\此巴人下里之音，通國所為和之者乎。
凡傷寒之病，多從風寒得之，始表中風寒，入裡則不消矣，未有溫覆而當，不消
散者，不在證治，擬欲攻之，猶當先解表，乃可下之，若表已解，而內不消，非
大滿，猶生寒熱，則病不除，若表已解，而內不消，大滿大實，堅有躁屎，自可
除下之，雖四五日，不能為禍也，若不宜下而便攻之，內虛熱入，協熱遂利煩躁，
變不可勝數，輕者困篤，重者必死矣。
\叔和筆力軟弱纏擾，如此一段，入理深譚，正未可及，後人不善讀者，每遇陽
明二三日下證，藉為口實，延至六七日方下，而枯槁無救者多矣，此則於叔和何
尤。
夫陽盛陰虛，汗之則死，下之則愈。
\引難經辭不達意，最足惑人，其意謂陽邪不解，下入陰中，以陽盛陰，則為陽
盛陰虛，故可下而不可汗，然前云此三陰邪人於裡，可下而已，於理甚精，此但
云陽盛陰虛，則陽邪或在本位，而未入於府，尚不可知，安見其可下乎，若然，
所云大滿猶生寒熱，不可攻下之說，自相矛盾矣。
陽虛陰盛，汗之則愈，下之則死。
\陽虛陰盛，多有直中陰經之候，汗之則愈，譚何容易，其意謂陰乘陽位，則為
陽虛陰盛，故可汗而不可下，然外邪初入陽分，終非陰盛可擬，難經有問有答，
即表病裡曷不繹明引之。
夫加是，則神丹安可以誤發，甘遂何可以妄攻，虛盛之治，相背千里，吉凶之機，
應若影響，豈容易哉，況桂枝下咽，陽盛則斃。
\風邪人衛，則為陽邪熾盛於表，仲景用桂枝湯，以解散肌表之邪，正天然不易
之良法也，何反搆此危詞，豈誤以寒邪入營為陽盛耶，夫寒邪入營，但為陰邪熾
盛於表，所以仲景於脈浮緊無汗者，有桂枝之禁，謂當用麻黃湯也，即誤用桂枝，
亦未必遂成死證，於下咽即斃，視等砒霜，妄為鄭重，叔和全不達仲景之旨，毋
怪後人之吠聲矣。
承氣入胃，陰盛以亡。
\即難經陽虛陰盛，下之則死之說，衍入承氣，務以惑人。直中陰經之證，大勢
陰盛陽虛，傳經傷寒之證，大勢陽盛陰虛，瘧證，大勢陰陽更盛更虛，內傷證，
大勢陰陽偏盛偏虛，而不可同語，亦不必語。
死生之要，在乎須臾，視身之盡，不暇計日，此陰陽虛實之交錯，其候至微，發
汗吐下之相反，其禍至速，而醫術淺狹，懵然不知病源，為治乃誤，使病者殞沒，
自謂其分，至今冤魂塞於冥路，死屍盈於曠野，仁者鑑此，豈不痛歟。
凡兩感病俱作，治有先後，發表攻裡，本自不同，而執迷妄意者，乃去神丹甘遂，
合而飲之，且解其表，又除其裡，言巧似是，其理實違，夫智者之舉錯也，嘗審
以慎，愚者之動作野也，必果而速，安危之變，豈可詭哉，世上之士，但務彼翕
習之榮，而莫見此傾危之敗，惟明者能護其本，近取諸身，夫何遠之有焉。
\兩感病，治有先後，發表攻裡，本自不同，持說甚正，惜其不致詳耳。
凡發汗溫服湯藥，其方雖言日三服，若病劇不解，當促其間，可半日中進三服，
若與病相阻，即便有所覺，病重者，一日一夜，當晬時觀之，若服一劑，病證猶
在，故當復作本湯服之，至有不肯汗出，服三劑乃解，若汗不出者，死病也。
凡得時氣病，至五六日而渴，欲飲水，飲不能多，不當與也，何者，以腹中熱尚
少，不能消之，便更與人作病也，至七八日大渴，欲飲水者，猶當依證而與之，
與之常令不足，勿極意也，言能飲一斗，與五升，若飲而腹滿，小便不利，若喘
若噦，不可與之也，忽然大汗出，是為自愈也。
凡得病反能飲水，此為欲愈之病，其不曉病者，但聞病飲水自愈，小渴者乃強與
飲之，因成其禍，不可以復數也。
\時氣病飲水，能消不能消，當與勿強與，有次第。
凡得病厥脈動數，服湯藥更遲，脈浮大減小，初躁後靜，此皆愈證也。
凡治溫病，可刺五十九穴，又身之穴三百六十有五，三十六穴，灸之有害，七十
九穴，刺之為災，并中髓也。
\引用內經，五十九刺之法，治溫中竅。
凡脈四損三日死，平人四息，病人脈一至，名曰四損，脈五損，一日死，平人五
息，病人脈一至，名曰五損，脈六損，一時死，平人六息，病人脈一至，名曰六
損，脈盛身寒，得之傷寒，脈虛身熱，得之傷暑，脈陽陰俱盛，大汗出不解者死，
脈陰陽俱虛，熱不止者死，脈至乍疏乍數者死，脈至如轉索者其日死，讝言妄
語，身微熱，脈浮大，手足溫者生，逆冷脈沉細者，不過一日死矣，此以前是傷
寒熱病證候也。
\引損脈入傷寒大謬，按仲景遵內經熱病之旨，作傷寒論，明以內經為例，叔和
可無序也，即欲附贅引內經原文發明切要，以便後學足矣，其插入異氣，蔓衍繁
文，誠何心哉，豈以仲景所無，煉石足補天缺耶，則自勒一家言，另緯其後，聽
人之從違可耳，乃造不經之說，混亂鋞常，至經常大義，不掣一語，以此網羅英
賢，悉入彀中，其授受之途，蓋已千年長夜矣，有志躋仲景之堂者，能無大剖叔
和之藩也哉。</p>
<h2>論春溫大意并辨叔和四變之妄</h2>
<p>喻昌曰，春溫之證，內經云，冬傷於寒，春必病溫，又云，冬不藏精，春必病溫，
此論溫起之大原也，傷寒論云，太陽病發熱而渴，不惡寒者為溫病，若發汗已，
身灼熱者，名曰風溫，風溫為病，脈陰陽俱浮，自汗出，身重，多眠睡，鼻息必
鼾，語言難出，若被下者，小便不利，直視失溲若被火者，微發黃色，劇則如驚
癇時瘈瘲，若火熏之，一逆尚引日，再逆促命期，此論溫成之大勢也，仲景以冬
不藏精之溫，名曰風溫，其脈陰陽俱浮，正謂少陰腎與太陽膀胱，一臟一腑，同
時病發，所以其脈俱浮也，發汗後，身反灼熱，自汗出，身重多眠睡，鼻息必鼾，
語言難出，一一盡顯少陰本證，則不可復從太陽為治，況脈浮自汗，更加汗之，
醫殺之也，所以風溫證，斷不可汗，即或誤下誤火，亦經氣傷而陰精盡，皆為醫
促其亡，而一逆再逆，促命期矣，於此見東海西海，心同理同，先聖後聖，其揆
一也，後人不察，惜其有論無方，詎知森森治法，全具於太陽少陰諸經乎，晉王
叔和不究仲景精微之蘊，栽風種電，為不根之談，妄立溫瘧、風溫、溫毒、溫疫
四變，不思時發時止為瘧，瘧非外感之正病也，春木主風而氣溫，風溫即是溫證
之本名也，久病不解，其熱邪熾盛，是為溫毒，亦病中之病也，至溫疫則另加一
氣，乃溫氣而兼瘟氣，又非溫證之常矣，今且先辨溫瘧，溫瘧正冬不藏精之候，
但其感邪本輕，故止成瘧耳，黃帝問溫瘧舍於何藏，歧伯對曰，溫瘧得之冬中於
風，寒氣藏於骨髓之中，至春則陽氣大發，邪氣不能自出，因遇大暑，腦髓數爍，
肌肉消，腠理發泄，或有所用力，邪氣與汗皆出，此病藏於腎，其氣先從內出之
於外也，如是者，陰虛而陽盛則熱矣，衰則氣復反入，入則陽虛，陽虛則寒矣，
故先熱而後寒曰溫瘧，此可見溫瘧為冬不藏精，故寒邪得以入腎，又可見溫瘧遇
溫，尚不易發，必大暑大汗始發之也，叔和反以重感於寒立說，豈其不讀內經乎，
抑何不思之甚耶，今且再辨風溫，春月時令本溫，且值風木用事，風溫二字，自
不得分之為兩，凡病溫者，悉為風溫，即如初春，地氣未升，無濕溫之可言也，
天氣微寒，無熱溫之可言也，時令和煦，無溫疫之可言也，其所以主病之故，全
係於風，試觀仲景於冬月正病，以寒統之，則春月正病，定當以風統之矣，夫風
無定體，在八方則從八方，在四時則從四時，春之風溫，夏之風熱，秋之風涼，
冬之風寒，自然之道也，叔和因仲景論溫條中，重挈風溫，故謂另是一病，不知
仲景於溫證中特出手眼，致其叮嚀，見冬不藏精之人，兩腎間先已習習風生，得
外風相召而病發，必全具少陰之證，故於溫字上加一風字，以別太陽之溫耳，叔
和妄擬重感重變，乃至後人作賦云，風溫濕溫兮，發正汗刖危惡難醫，又云，因
知風溫汗不休，當用汗防己，隔靴搔癢，於本來之面目安在哉，今且再辨溫毒，
夫溫證中之有溫毒，一如傷寒證中之有陽毒陰毒也，傷寒不以寒毒另為一證，則
溫病何得以溫毒更立一名耶，況溫毒復有陰陽之辨，太陽溫證，病久不解，結成
陽毒，少陰溫證，病久不解，結成陰毒，叔和不知風溫為陰邪，故但指溫毒為陽
毒，以致後人襲用黑膏紫雪，陰毒當之，慘於鋒刃，其階厲亦至今未已耳，其溫
疫一證，另辨致詳。</p>
<h2>詳論溫疫以破大惑</h2>
<p>喻昌曰，聖王御世，春無愆陽，夏無伏陰，秋無淒風，冬無苦雨，乃至民無夭扎，
物無疵癘，太和之氣，瀰滿乾坤，安有所謂溫疫哉，然而周禮儺以逐疫，方相氏
掌之，則溫疫之由來，古有之矣，鄉人儺，孔子朝服而致其誠敬，蓋以裝演巨像
為儺神，不過彷彿其形，聖人以正氣充塞其間，俾疫氣潛消，迺位育之實功耳，
古人元旦汲清泉，以飲芳香之藥，上巳採蘭草，以襲芳香之氣，重滌穢也，後漢
張仲景著傷寒論，欲明冬寒春溫夏秋暑熱之正，自不能併入疫病以混常法，然至
理已畢具於脈法中，叔和不為細繹，乃謂重感於寒，變為溫疫，又謂春時應暖而
復大寒，夏時應大熱而復大涼，秋時應涼而反大熱，冬時應寒而反大溫，此非其
時而有其氣，是以一歲之中，長幼之病，多相似者，此則時行之氣也，又謂冬溫
之毒，與傷寒大異，冬溫復有先後，更相重沓，亦有輕重，為治不同，又謂從春
分節以後，至秋分節前，天有暴寒者，皆為時行寒疫也，蓋以春夏秋為寒疫，冬
月為溫疫，所以又云三月四月，或有暴寒，其時陽氣尚弱，為寒所折，病熱猶輕，
五月六月，陽氣已盛，為寒所折，病熱則重，七月八月，陽氣已衰，為寒所折，
病熱亦微，後人奉此而廣其義，謂春感清邪在肝，夏感寒邪在心，秋感熱邪在肺，
冬感溫邪在腎，壎箎遞奏，舉世若狂矣，嗟嗟，疫邪之來，果寒折陽氣，乘其所
勝，而直入精神魂魄之藏，人無啾類久矣，更有謂疫邪無形象聲臭，定時定方可
言，是以一歲之中，長幼莫不病此，至病傷寒者，百無一二，治法非疏裡則表不
透，非戰汗則病不解，愈摹愈遠，究竟所指之疫，仍為傷寒傷溫傷暑熱之正病，
疏裡則下早可知，戰汗則失表可知，祇足自呈敗闕耳，夫四時不正之氣，感之者
因而致病，初不名疫也，因病致死，病氣尸氣，混合不正之氣，期為疫矣，以故
雞瘟死雞，豬瘟死豬，牛馬瘟死牛馬，推之於人何獨不然，所以饑饉兵凶之際，
疫病盛行，大率春夏之交為甚，蓋溫暑熱濕之氣交結互蒸，人在其中，無隙可避，
病者當之，魄汗淋漓，一人病氣，足充一室，況於連床並塌，沿門闔境，共釀之
氣，益以出戶尸蟲，載道腐墐，燔柴掩席，委壑投崖，種種惡穢，上溷蒼天清淨
之氣，下敗水土物產之氣，人受之者，親上親下，病從其類，有必然之勢，如世
俗所稱大頭瘟者，頭面腮頤，腫如瓜瓠者是也，所稱蝦蟆瘟者，喉痺失音，頸筋
脹大者是也，所稱瓜瓤瘟者，胸高起脅起，嘔汁如血者是也，所稱疙瘩瘟者，通
身紅腫，發塊如瘤者是也，所稱絞腸瘟者，腹嗚乾嘔，水泄不通者是也，所稱軟
腳瘟者，便清泄白，足重難移者是也，小兒痘瘡尤多，以上疫證，不明治法，咸
委之劫運，良可傷悼，大率瘟疫痘疹，古昔無傳，不得聖言折衷，是以墜落叔和
坑塹，曾不若俗見摸索病狀，反可顧名思義也，昌幸微窺仲景一班，其平脈篇中
云，寸口脈陰陽俱緊者，法當清邪中於上焦，濁邪中於下焦，清邪中上，名曰潔
也，濁邪中下，名曰渾也，陰中於邪，名曰慄也，凡二百六十九字，闡發奧理，
全非傷寒中所有事，乃論疫邪從入之門，變病之總，所謂赤文綠字，開天闢地之
寶符，人自不識耳，篇中大意，謂人之鼻氣通於天，故陽中霧露之邪者為清邪，
從鼻息而上入於陽，入則發熱頭痛項強頸孿，正與俗稱大頭瘟蝦䗫瘟之說符也，
人之口氣通於地，故陰中水土之邪者，為飲食濁味，從口舌而下入於陰，入則其
人必先內慄，足膝逆冷，便溺妄出，清便下重，臍築湫痛，正與俗稱絞腸瘟軟腳
瘟之說符也，然從鼻從口所入之邪，必先注中焦，以次分布上下，故中焦受邪，
因而不治，中焦不治，則胃中為濁，營衛不通，血凝不流，其釀變即現中焦，俗
稱瓜瓤瘟疙瘩瘟等證，則又陽毒癰膿，陰毒遍身青紫之類也，三焦定位之邪也，
若三焦邪溷為一，內外不通，藏氣熏蒸，上焦怫鬱，則口爛食斷，衛氣前通者，
因熱作使，遊行經絡藏府，則為癰膿，營氣前通者，因召客邪嚏出，聲嗢咽塞，
熱壅不行，則下血如豚肝，然以營衛漸通，故非危侯，若上焦之陽，下焦之陰，
兩不相接，則脾氣之中，難以獨運，斯五液注下，下焦不闔，而命難全矣，傷寒
之邪，先行身之背，次行身之前，次行身之側，繇外廓而入，溫疫之邪，則直行
中道，流布三焦，上焦為清陽，故清邪從之上入，下焦為濁陰，故濁邪從之下入，
中焦為陰陽交界，凡清濁之邪，必從此區分，甚者三焦相溷，上行極而下，下行
極而上，故聲嗢咽塞，日爛食齗者，亦復下血加豚肝，非定中上不及下，中下不
及上也，傷寒邪中外廓，故一表即散，疫邪行在中道，故表之不散，傷寒邪入胃
府，則腹滿便堅，故可攻下，疫邪在三焦，散漫不收，下之復合，此與治傷寒表
裡諸法，有何干涉，奈何千年憒憒，試折中以聖言，從前迷謬，寧不渙然冰釋哉，
治法未病前，預飲芳香正氣藥，則邪不能入，此為上也，邪既入急以逐穢為第一
義，上焦如霧，升而逐之，兼以解毒，中焦如漚，疏而逐之，兼以解毒，下焦如
瀆，決而逐之，兼以解毒，營衛既通，乘勢追拔，勿使潛滋，詳訂諸方，載春溫
方後。
\有問春夏秋蒸氣成疫，豈冬溫獨非疫耶，余曰冬月過溫，腎氣不藏，威而成病，
正與不藏精之春溫無異，計此時有春無冬，三氣即得交蒸成疫，然遇朔風驟發，
則蒸氣化烏有矣，是以東南冬月患正傷寒者少，患冬瘟及痘瘡者最多，西北則秋
冬春，皆患正傷寒，殊無瘟疫痘癒之患矣，此何以故，西北土高地燥，即春夏氣
難上升，何況冬月之凝沍，東南土地卑濕，為霧露之區，蛇龍之窟，其溫熱之氣，
得風以播之，尚有可耐，設旦暮無風，水中之魚，衣中之虱，且為飛揚，況於人
乎，蒸氣中原雜諸穢，益以病氣死氣，無分老少，觸本即同一病狀矣，此時朔風
了不可得，故其氣轉積轉暴，雖有薰風，但能送熱，不能解涼，盛世所謂解慍阜
財者，在兵荒反有注邪佈穢之事矣，叔和以夏應大熱，而反大寒為疫，詎知大寒
正疫氣消弭之候乎，故疫邪熾盛，惟北方始能消受，詩惡譖人，思欲投畀有北，
以熄其餤，析義精矣，鄉紳萬吉人，營葬五雷驚蛇之地，觸動土瘟，壯者病疫，
少者病痘，一夕暴死五人，余令於營北掘井二丈，投豬首饅首蒸飯，促引土氣下
收，旋封其井，即得安全無損，此余偶試楊會之祕，非心得也，范文正公守饒，
冬溫吏請禱雪，公取薄冰置座，嘿坐良久，瑞雪滿空，頃深三尺，蟊賊疫鬼，何
地潛蹤耶，可見先儒退藏於密，借凝冰為影草，已攝大地於清冷之淵矣，詎非法
王手眼乎。</p>

<h1>卷一</h1>
<h2>論太陽經傷寒證治大意</h2>
<p>王叔和當日編次仲景傷寒論，以辨痙濕暍脈證為第一，以辨太陽病脈證為第二，
謂痙濕暍雖太陽經之見證，然宜應別論，故列之篇首，此等處最不妥當，豈有別
論反在正論之前者，況既應別論，即當明言所指，而故虛懸其篇，此叔和不究心
之弊也，至於太陽經中，一概混編合病併病，溫病壞病，過經不解病，以及少陽
諸病，如理棼絲，不清其脈，寸寸補接，所以不適於用，徒令觀者嘆息，此更叔
和不究心之弊也，宋林億成無已輩，以脈法及傷寒例居前，次痙濕暍，次太陽病，
分上中下三篇，其意以桂枝證麻黃證彙上篇，大青龍證，及汗後下後諸證，彙中
篇結胸及痞證，彙下篇，究竟上篇混中下，下篇混上中，不能清也，更可笑者，
下篇結胸例中，凡係結字，一概收入，如陽微結，陰微結，脈代結之類，悉與結
胸同彙，尤可笑者，上篇第六條傷寒大義未及什一，何所見即彙溫病，中篇下篇
太陽本證，未及什七，何所見即彙少陽證，及合病併病，過經不解諸病，如此割
裂原文，後人縱思研窮，無門可入矣，夫足太陽膀胱，病主表也，而表有營衛之
不同，病有風寒之各異，風則傷衛，寒則傷營，風寒兼受，則營衛兩傷，三者之
病各分疆界，仲景立桂枝湯麻黃湯大青龍湯，鼎足大綱三法，分治三證，風傷衛
則用桂枝湯，寒傷營則用麻黃湯，風寒兩傷營衛，則用大青龍湯，用之得當，風
寒立時解散，不勞餘力矣，乃有病在衛而治營，病在營而治衛，病在營衛，而治
其一遺其一，與夫病已去營衛而復汗，病未去營衛而誤下，以致經傳錯亂，展轉
不已，源頭一差，末流百出，於是更出種種節目，輔三法而行，正如八卦之有六
十四卦，八陣之有六十四陣，分統於乾坤，震巽坎離艮兌，天地風雲龍虎鳥蛇之
下，始得井井不紊，仲景參五錯綜，以盡病之變態，其統於桂枝麻黃青龍三法，
夫復何疑，第文辭奧約，義例互陳，雖穎敏之士，讀之不解其意，實由當時編次，
潦草糊塗，不察來意，仲景一手一目，現為一手一目，悠悠忽忽，沿習至今，昌
不得已而僭為尚論，太陽經中，仍分三篇，以風傷衛為上篇，寒傷營為中篇，風
寒兩傷營衛為下篇，一一以膚淺之語，括大義於前，明奧旨於後，其溫病合病等
名，逐段清出，另立篇目，俾讀者了無疑惑於心，庶隨所施而恰當矣。</p>
<h2>太陽經上篇［凡風傷衛之證，列於此篇，法五十三條］</h2>
<p>太陽經受病之初，有定脈定證一法。
（一）太陽之為病，脈浮頭項強痛而惡寒。［原文］
\先挈太陽病之總脈總證，統中風傷寒為言也，太陽膀胱經，乃六經之首，主皮
膚而統營衛，所以為受病之始。
\太陽受病，有風寒不同，宜辨陰陽而定愈日。［通計五法］
（二）病有發熱惡寒者，發於陽也，無熱惡寒者，發於陰也，發於陽者七日愈，
發於陰者六日愈，以陽數七，陰數六也。［原文］
\風為陽，衛亦陽，故病起於陽，寒為陰，營亦陰，故病起於陰，無熱熱寒，指
寒邪初受，未鬱為熱而言也，少頃鬱勃於營間，則仍發熱矣，太陽中篇第一條云，
或已發熱，或未發熱，正互明其義也，病發於陽，其愈宜速，乃六日傳經已盡，
必至七日方愈者，陽數七，主進故也，病發於陰，其愈宜遲，乃至六日經盡即愈 
者，陰數六，主退故也，得病之始，各從陰陽之類而起，得病之終，各從陰陽之
類而愈，此道之所以本乎自然，而人身與天地同撰也。
（三）太陽病，頭痛，至七日已上自愈者，以行其經盡故也，若欲再作經者，鍼
足陽明，使經不傳則愈。［原文］
\七日而云已上者，該六日而言也，六日傳至厥陰，六經盡矣，至七日當再傳太
陽，病若自愈，則邪已去盡，不再傳矣，設不愈，則七日再傳太陽，八日再傳陽
明，故鍼足陽明以竭其邪，乃得不傳也，在他經則不然，蓋陽明中土萬物所歸，
無所復傳之地，邪易解散故耳，然必鍼以竭其邪，始得歸併陽明不犯他界也，舊
謂奪其傳路而遏之，則經經皆可遏矣，何獨取陽明也哉。
（四）太陽病欲解時，從巳至未上。［原文］
\凡病欲解之時，必從其經氣之王，太陽者盛陽也，故從巳午未之王時而病解。
（五）欲自解者，必當先煩，乃有汗而解，何以知之，脈浮故知汗出解也。［原
文］
\天地鬱蒸而雨作，人身煩悶而汗作，氣機之動也，氣機一動，其脈必與其證相
應，故脈浮而邪還於表，饞得有汗，而外邪盡從外解，設脈不以浮應，則不能作
汗，其煩即為內入之候，又在言外矣。
已上四條，先挈太陽經，始病終愈風寒之總法。</p>
<p>太陽受病風寒不同，先辨中風定脈定證一法。
（六）太陽病，發熱汗出惡風脈緩者，名為中風。［原文］
\既有第一條脈浮頭項強痛惡寒之總證，更加發熱汗出惡風脈緩，則其病乃是觸
冒於風所致，即名中風，中字興傷字無別，即謂傷風亦可，風性屬陽，從衛而入，
以衛為陽氣所行之道，從其類也。此一條，又中風病之總稱，已後凡言中風病三
字，而發熱汗出惡風脈緩，即括在內。</p>
<p>中風病主用桂枝湯解肌大綱一法
（七）太陽中風，陽浮而陰弱，陽浮者熱自發，陰弱者汗自出，嗇嗇惡寒，淅淅
惡風，翕翕發熱，鼻鳴乾嘔者，桂枝湯主之。［原文］
\陽浮陰弱，與下文衛強營弱同義，陽浮者陽邪入衛，脈必外浮，陽性本熱，風
又善行，所以發熱快捷，不待閉鬱自發也，陰弱者營無邪助，比衛不足，脈必內
弱，陰弱不能內守，陽強不能外固，所以致汗直易，不待覆蓋自出也，嗇嗇惡寒，
內氣餒也，淅淅惡風，外體疏也，雖寒與風並舉，義重惡風，惡風未有不惡寒者，
所以中篇傷寒證中，亦互云惡風，又見惡寒未有不惡風者，後人相傳，謂傷風惡
風，傷寒惡寒，茍簡辨證，誤人多矣，翕翕發熱，乃氣蒸濕潤之熱，比傷寒之乾
熱不同，息鳴者陽邪上壅也，乾嘔者陽邪上逆也，故取用桂枝湯解散肌表之陽邪，
而與發汗驅出陰寒之法，迥乎角立也。</p>
<p>服已，須臾歠熱稀粥一升餘，以助藥力，溫覆令一時許，遍身漐漐，微似有汗
者益佳，不可令如水淋漓，病必不除，若一服汗出病差，停後服不必盡劑，若不
汗重服依前法，又不汗，後服小促，使其間半日許，令三服盡，若病重者，一晝
一夜服，周時觀之，服一劑盡，病證猶在者，更作服，若汗不出者，乃服至二三
劑，禁生冷粘滑肉麵五辛酒酪臭惡等物。
\桂枝氣味俱薄，服過片頃，其力即盡，所以能解肌者，妙用全在歠稀熱粥，以
助藥力，穀氣內充，則邪不能入，而熱歠以繼藥之後，則邪不能留，法中之法若
此，世傳方書，無此四字，駸失初意，更有肌膚已透微似之汗，蓋覆強逼，致令
大汗淋漓者，總繇不識解肌為何義耳。
\按衛行脈外，風傷衛之證，皆傷其外，外者肌膚也，故但取解肌以散外，不取
發汗以內動血脈，更不取攻下以內動藏府，所以服桂枝時，要使週身漐漐然，
似乎有汗者，無非欲其皮間毛竅暫開而邪散也，然恐藥力易過，又藉熱稀粥以助
其煖，如此一時之久，肌竅不致速閉，則外受之邪，盡從外解，允為合法矣，不
識此意者，汗時非失之太過，即失之不及，太過則邪未入，而先擾其營，甚則汗
不止而亡陽，不及則邪欲出而早閉其門，必至病不除而生變，仲景言之諄諄，後
人轉加忽略，茲特詳發其義。</p>
<p>桂枝湯，有禁用三法
（八）桂枝本為解肌，若其人脈浮緊，發熱汗不出者，不可與也，當須識此，勿
令誤也。［原文］
\已見寒傷營之脈證，即不可誤用風傷衛之治法，用之則寒邪漫無出路，留連肉
腠，貽患無窮，故為首禁。
（九）凡服桂枝湯吐者，其後必吐膿血也。［原文］
\桂枝辛甘，本胃所愛，服之反吐，其人濕熱素盛可知矣，濕熱素盛，更服桂枝，
則兩熱相合，滿而不行，勢必上逆而吐，吐逆則其熱愈淫，溢於上焦，蒸為敗濁，
故必吐膿血，此一大禁也，其誤服未至於吐者，上焦清氣未傷，熱雖漸消亦蹈險
矣。
（十）酒客病不可與桂枝，得湯則嘔，以酒客不喜甘故也。［原文］
\酒為濕熱之最，故即於上條文意，重引酒客以示戒，嘔吐乃互詞，勿泥。
\按辛甘發散為陽，內經之旨也，仲景遵之製方，重申辛甘之戒，可謂慮周千變
矣，如酒客平素濕與熱，搏結胸中，纔挾外邪，必增滿逆，所以辛甘之法，遇此
輩即不可用，辛甘不可用，則用辛涼以徹其熱，辛苦以消其滿，自不待言矣，後
人不察，偏詆桂枝為難用，即不遇酒客，無端變亂內經定法，可勝誅哉，葛根雖
酒客所宜，然犯太陽經禁，又不可用。</p>
<p>汗後水氣上逆有禁更汗增滿一法
（二）發汗後，水藥不得入口為逆，若更發汗，必吐下不止。［原文］
\此一條，從來諸家錯會，扯入桂枝四禁，謂已用桂枝致逆，若更用桂枝，則其
變愈大，粗疏極矣，蓋為逆是言水逆，未嘗說到其變愈大為凶逆也，且原文不云
更與桂枝，而云更發汗者，見水藥俱不得入，則中滿已極，更發汗以動其滿，凡
是表藥，皆可令吐下不止，不獨是桂枝當禁，所以仲景於太陽水逆之證，全不用
表藥，惟用五苓散以導水，服後隨溉熱湯以取汗，正與此條，互相發明也，設只
單禁桂枝，將麻黃葛根紫胡等類，在所不禁，而設用以致吐下不止，恬不知為犯
禁矣，噫，斯道之不明，小者且然，況其大乎。</p>
<p>中風病主用桂枝湯解肌和營衙七法
（三）太陽病，頭痛發熱汗出惡風者，桂枝湯主之。［原文］
\頭痛見第一條，發熱汗出惡風見第六條，重互其文，以致叮嚀，辨證用法，首
宜識此也。
（一三）太陽病，外證未解，脈浮弱者，當以汗解，宜桂枝湯。［原文］
\浮弱即陽浮陰弱之謂，外證未解，脈見浮弱，即日久必當以汗解，然汗解當遵
用桂枝湯之法，見不可誤行發汗之法也，至於不可誤下，更不待言矣。
（一四）太陽病，發熱汗出者，此為營弱衛強，故使汗出，欲救邪風者，宜桂枝
湯主之。［原文］
\衛得邪助而強營無邪助，故為弱也，即前陽浮陰弱之義，而重挈明之耳。
須知營弱與血虛無涉邪風，即風邪勿鑿看。
（一五）病人藏無他病，時潑熱自汗出而不愈者，此為衛氣不和也，先其時發汗
則愈，宜桂枝湯主之。［原文］
藏無他病四字，隱括人身宿病，即動氣不可發汗亦在內，見裡無病而但表中風邪，
乃有汗出不愈者，必是衛氣不和也，設入於營，則裡已近災，未可宴然稱無病矣，
時發熱者，有時發熱，有時不熱也，故先於末發熱時，主用解肌之法，邪自不留
也。
（一六）病嘗自汗出者，此為營氣和，營氣和者，外不諧，以衛氣不共營氣和諧
故爾，以營行脈中，衛行脈外，復發其汗，營衛和則愈，宜桂枝湯。［原文］
\此明中風病，所以衛受邪風，營反出汗之理，見營氣本和，但衛強不與營和，
復發其汗，俾風邪從肌竅外出，斯衛不強而與營和，中酒發狂，酒去其人帖然矣，
營受寒邪，不與衛和，宜麻黃湯亦然。
（一七）太陽病，初服桂枝湯，反煩不解者，先刺風池風府，卻與桂枝湯則愈。
［原文］
\中風之證，凡未傳變者，當從解肌，舍解肌無別法也，然服桂枝湯以解肌，而
反加熱悶者，乃服藥時不如法也，其法維何，即歡稀熱粥以助藥力，不使其不及，
但取週身漐漐，微似有汗，不使其太過之謂也，此云服湯反煩者，必微似汗，
亦未得肌竅未開，徒用藥力引動風邪，漫無出路，勢必內入而生煩也，刺風池、
風府，以瀉風熱之暴甚，後風不繼，庶前風可熄，更與桂枝湯，引之外出，則愈
矣，可見解肌當如法也，因服桂枝生煩，豎此妙義，不可不講，故特詳其意，俾
用藥者知所當務焉。
（一八）風家表解而不了了者，十二日愈。［原文］
\風家表解，已用桂枝湯之互詞也，用桂枝湯表解，已勝其任矣，而不了了者，
風為陽邪，衛為陽氣，風邪雖去，而陽氣之擾攘，未得遽寧，即欲治之，無可治
也，七日不愈，俟十二日，則餘邪盡出，正氣復理，必自愈矣，見當靜養以需，
不可喜功生事也。
\已上七條，曲盡用桂枝湯妙義，一條辨用桂枝之證，二條辨用桂枝之脈，三條
辨衛強營弱，宜用桂枝兩和營衛，四條辨衛氣不和，宜在未發熱前用桂枝和衛，
五條辨營氣不和，宜仍用桂枝和衛，六條辨陽邪熾盛，服桂枝轉煩者，先刺風穴，
再行桂枝，七條辨用桂枝表已解，宜俟勿藥，似此深切著明，可惜從前混編，茲
特挈出。</p>
<p>不解肌成誤汗病邪入裡用五苓兩解表裡二法
（一九）中風發熱，六七日不解而煩，有表裡證，渴欲飲水，水入則吐者，名曰
水逆，五苓散主之，多服煖水汗出愈。［原文］
\傷風證原有汗，以其有汗也，延至日久不行解肌之法，汗出雖多，徒傷津液，
表終不解，轉增煩渴，邪入於府，飲水則吐者名曰水逆，乃熱邪挾積飲上逆，以
故外水格而不入也，服五苓散後，頻溉熱湯，得汗則表裡俱解，蓋表者陽也，裡
之屬府者亦陽也，所以一舉兩得也，然亦以未經誤治，邪不內陷，故易為力耳。
膀胱為津淮之府，用五苓通調水道，則火熱自化，而津液得全矣。
（二十）太陽病發汗後，大汗出，胃中乾，煩躁不得眠，欲得飲水者，少少與飲
之，令胃氣和則愈，若脈浮，小便不利，微熱消渴者，與五苓散主之。［原文］
\不行解肌，反行發汗，致津液內耗，煩燥不眠，求救於水，若水入不解，脈轉
單浮，則無他變，而邪還於表矣，脈浮本當用桂枝，何以變用五苓耶，蓋熱邪得
水，雖不全解，勢必衰其太半，所以邪既還表，其熱亦微，兼以小便不利，證成
消渴，則府熱全具，故不從單解而從兩解也，凡飲水多而小便少者，謂之消渴，
裡熱熾盛，何可復用桂枝之熱，故導濕滋乾清熱，惟五苓有全功耳。</p>
<p>不解肌而誤發大汗，其變逆有救亡陽漏風二法。
（三）太陽病發汗，汗出不解，其人仍發熱，心下悸，頭眩，身瞤動，振振欲
擗地者，真武湯主之。［原文］
\此本為誤服大青龍湯，因而致變者立法，然陽虛之人，纔發其汗，便出不止，
即用麻黃火劫等法，多有見此證者，所以仲景於桂枝湯中垂戒，不可令加水淋漓，
益見解肌中，且有逼汗亡陽之事矣，太陽下篇，大青龍證中垂戒云，若脈微弱，
汗出惡風者，不可服，服之則厥逆，筋惕肉瞤，正與此段互發，振振欲擗地五
字，形容亡陽之狀如繪，諸家竟不加細繹，妄取詩經註，擗拊心貌為解，噫，是
何言歟，仲景論中心下悸，欲得人按，與夫叉手自冒心間，且與拊心之義不協，
何得妄指擗地為拊心耶，蓋擗者闢也，避也，汗出過多，衛氣解散，其人似乎全
無外廓，故振振然四顧徬徨，無可置身，思欲闢地而避處其內也，陰證似陽者欲
坐井中，避熱就冷也，汗多亡陽者，欲入土中，避虛就實也，試觀嬰孩出汗過多，
神虛畏怯，嘗合面偎入母懷者，豈非振振欲擗地之一驗乎，從來皆以為驚風誤治，
實繇未透傷寒證中之大關耳。
（三）太陽病發汗，遂漏不止，其人惡風，小便難，四肢微急，難以屈伸者，桂
枝加附子湯主之。［原文］
\大發其汗，致陽氣不能衛外為固，而汗漏不止，即如水流漓之互詞也，惡風者
腠理大開，為風所襲也，小便難者，津液外泄而不下滲，兼以衛氣外脫，而膀胱
之化不行也，四肢微急，難以屈伸者，筋脈無津液以養，兼以風入而增其勁也，
此陽氣與陰津兩亡，更加外風復入，與前條亡陽一證，微細有別，故用桂枝加附
子，以固表驅風而復陽歛液也。</p>
<p>不解肌而以火劫汗傷陰致變四法
一法辨陰未盡亡、一法辨邪所繇解、一法不得汗反躁必圊血、一法辨脈微而數者
不可灸。
（二三）太陽病中風，以火劫發汗，邪風被火熱，血氣流溢，失其常度，兩陽相
熏灼，其身發黃，陽盛則欲衄，陰虛則小便難，陰陽俱虛竭，身體則枯燥，但頭
汗出，劑頸而還，腹滿而喘，口乾咽爛，或不大便，久則讝語，甚者至噦，手
足躁擾，捻衣摸床，小便利者，其人可治。［原文］
\風，陽也，火，亦陽也，邪風更被火熱助之，則血氣沸騰，所以失其常度，熱
勢瀰漫，所以蒸身為黃，然陽邪盛於陽位者，尚或可從衄解，可從汗解，至於陽
邪，深入陰分，勢必劫盡精津，所以劑頸以下，不能得汗，口乾咽爛，肺焦喘促，
身體枯躁，小便難，大便祕，手足擾動，讝妄噦逆，乃是一團邪火內熾，真陰
頃刻立盡之象，有非藥力所能勝者，必其人小便尚利，陰未盡傷，始得以行驅陽
救陰之治也，噫，亦危矣。仲景以小便利一端，辨真陰之亡與未亡最細，蓋水出
高源，小便利則津液不枯，肺氣不逆可知也，腎以膀胱為府，小便利則膀胱之氣
化行，腎水不枯可知也。按此證陽邪挾火，擾亂陰分而亡其陰，與前二條亡陽證，
天淵懸絕，觀陽盛欲衄身體枯躁等語，明是失汗所致，失汗則陽必內入，何反外
亡耶，註家泥陰陽俱虛竭一語，遂謂小便利者，陰未甚虛，則陽猶可回，是認可
治為回其陽，大失經旨，不知此證，急驅其陽，以存陰氣之一線，尚恐不得，況
可回陽以更劫其陰乎，且頭汗乃陽邪上壅，不下通於陰，所以劑頸以下不能得汗，
設見衄血，則邪從衄解，頭間且無汗矣，設有汗則邪從汗解，又不衄矣，後條火
邪深入必圊血一證，亦謂身體枯躁而不得汗者，必致圊血，設有汗更不圊血矣，
讀古人書全要會意，豈有得汗而加衄血圊血之理哉，又豈有遍身無汗，而頭汗為
亡陽之理哉。
（二四）太陽病，二日反躁，反熨其背而大汗出，大熱入胃，胃中水竭，煩躁必
發讝語，十餘日振慄自下利者，此為欲解也，故其汗從腰已下不得汗，欲小便
不得，反嘔欲失溲，足下惡風，大便鞕，小便當數而反不數，及多大便，已頭
卓然而痛，其人足心必熱，榖氣下流故也。［原文］
\此段文義隱奧，從來註釋不得其解，謹明之以暢尚論之懷，蓋火邪入胃中，十
餘日不解，忽振慄自下利者，火邪從大腸下奔，其候本為欲解，然而不解者，以
從腰已下不得汗，邪雖下走，終不外走，故不解也，上條從頸已下不得汗，其勢
重，此從腰已下不得汗，其勢較輕，足下惡風，見陽邪但在下也，小便不得，見
陽邪閉拒陰竅也，與不得汗正同，所以大便亦鞕，益見前之下利，為火勢急奔，
火勢衰減，則仍鞕也，反嘔者，邪欲從上越也，欲失溲者，邪欲從前陰出也，
皆餘邪欲散之徵也，胃火既減，小便當數復不數，則津液可回，及至津之下潤，
則久積之大便必盡出矣，大便出多，則小便之當數者始數矣，腸胃之間，邪熱既
散而不持，則腰已下之得汗並可知矣，得汗則陰分之陽邪，盡從外解，然後身半
以下之陰氣得上，而反頭痛，身半以上之陽氣得下，而反足心熱，欲愈之狀，尚
類病狀，火邪助虐，為何如哉。
（二五）太陽病以火熏之，其人必躁，到經不解，必圊血，名為火邪。［原文］
\火邪入胃，胃中水液多者，必奔迫下利，其漸解悉如上條矣，若胃中津液素乏
之人，復受火邪，則漫無可禦，必加躁擾不寧，由是深入血室而圊血也，蓋陽邪
不從汗解，得以襲入陰中，動其陰血，倘陽邪不盡，其圊血必無止期，故申之曰
名為火邪，示人以治火邪而不治其血也。
（二六）微數之脈，慎不可炙，因火為邪，則為煩逆，追虛逐實，血散脈中，火
氣雖微，內攻有力，焦骨傷筋，血難復也。［原文］
\脈微而數，陰虛多熱之徵也，此而灸之，則虛者益虛，熱者益熱，不至傷殘不
止矣，凡病皆然，不獨傷寒宜戒也，鍼灸家亦識此義否。</p>
<p>不解肌而用燒鍼取汗，寒入核起，灸秩止變一法
（二七）燒鍼令其汗，鍼處被寒核起而赤者，必發奔豚，氣從少腹上衝心者，灸
其核上各一狀，與桂枝加桂湯更加桂。［原文］
\奔豚者腎邪也，腎邪一動，勢必自少腹上逆而衝心，狀若豕突，以北方亥位屬
豬故也，北方腎邪，惟桂能伐之，所以用桂三倍，加入桂枝湯中，外解風邪，內
泄陰氣也，嘗即此例推之，凡發表誤入寒藥，服後反加壯熱，肌膚起赤塊，畏寒
腹痛，氣逆而喘者，或汗時蓋覆未週，被風寒復侵，紅腫喘逆，其證同者，用此
法良驗，一婦病外感，服表藥後，忽面若裝朱，散髮叫喘，雙手上揚，余知其腹
作奔豚也，用此方而頃之即定。</p>
<p>不解肌而用吐藥，雖得汗內傷脾胃，名為小逆二法。
（二八）太陽病，當惡寒發熱，今自汗出，不惡寒發熱，關上脈細數者，以醫吐
之過也，一二日吐之者，腹中飢口不能食，三四日吐之者，不喜麋粥，欲食冷食，
朝食暮吐，以醫吐之所致，此為小逆。［原文］
\解肌之法，解散肌表風邪，全不傷動脾胃，乃天然不易之法也，若舍此而妄用
吐法，吐中亦有發散之義，故不惡寒發熱，一二日病在太陽，吐之則腹中飢，口
不能食，三四日病在陽明，吐之則不喜糜粥，欲食冷食，皆胃氣受傷之故也，然
且朝食暮吐，脾中之真陽亦傷，而不能消穀，是則外感雖除，脾胃內傷，卒未易
復，故為小逆也。
（二九）太陽病吐之，但太陽病當惡寒，今反不惡寒不欲近衣，此為吐之內煩也。
［原文］
\此以吐而傷胃中之陰，較上條兩傷脾胃之陰陽者稍輕，故內煩不欲近衣，雖顯
虛熱之證，此關上脈細數，已成虛熱之脈者，亦自不同，然以吐而傷其津液，雖
幸病不致逆，醫者能無過乎，可見用吐法時，亦當相人之津液矣，</p>
<p>中風肌未解不可下，宜用桂枝湯解外一法。
（三十）太陽病，外證未解者，不可下也，下之為逆，欲解外者，宜桂枝湯主之。
［原文］
\下之為逆，即指結胸等證而言，欲解外者，必無出桂枝一法，叮嚀無已之辭也，
外邪未解，下必為逆，然則欲下未下之時，亟解其肌，俾下之而不為逆也，不亦
可乎。</p>
<p>中風肌未解誤汗下，無他變者，仍當用桂枝湯一法。
（三一）太陽病，先發汗不解而復下之，脈浮者不愈，浮為在外而反下之，故令
不愈，今脈浮故知在外，當須解外則愈，宜桂枝湯主之。［原文］
\見已下其脈仍浮，證未增變者，仍當亟解其外也。</p>
<p>不解肌反誤下邪，不服者於前下藥內更加桂枝一法。
 （三二）太陽病下之，其氣上衝者，可與桂枝湯，方用前法，若不上衝者，不
可與之。［原文］
\誤下而陽邪下陷，然無他變，但仍上衝陽位，則可從表裡兩解之法，故以桂枝
湯，加於前所誤用下藥之內，則表邪外出，裡邪內出，即用桂枝大黃湯之互詞也，
若不上衝，則表裡兩解之法，漫無取義，其不可與明矣。</p>
<p>不解肌反誤下心痞，用桂枝加溫補藥兩解表裡一法。
（三三）太陽病，外證未除，而數下之，遂挾熱而利，利下不止，心下痞鞕，
表裡不解者，桂枝人參湯主之。［原文］
\誤下則致裡虛，裡虛則外熱乘之，變而為利，不止者，裡虛不守也，痞鞕者，
正虛邪實，中成滯礙，痞塞而堅滿也，以表未除，故用桂枝以解之，以裡適虛，
故用理中以和之，此方即理中加桂枝，而易其名，亦治虛痞下利之聖法也。</p>
<p>不解肌反誤下邪入陽明，變用太陽兩解一法。
（三四）太陽病，桂枝證，醫反下之，利遂不止，脈促者，表未解也，喘而汗出
者，葛根黃連黃岑湯主之。［原文］
\太陽病原無裡證，但當用杜枝解外，若當用不用，而反下之，利遂不止，則熱
邪之在太陽者，未傳陽明之經，已入陽明之府，所以其脈促急，其汗外越，其氣
上奔則喘，下奔則泄，故舍桂枝而用葛根，專主陽明之表，加芩連以清裡熱，則
不治喘而喘自止，不治利而利自止，又太陽兩解表裡之變法也。</p>
<p>不解肌反誤下，宜辨陽實陽虛加減桂枝湯一法。
（三五）太陽病下之後，脈促胸滿者，桂枝去芍藥湯主之，若微惡寒者，去芍藥
方中加附子湯主之。［原文］
\誤下脈促，與上條同，以無下利不止，汗出等證，但見胸滿，則陽邪仍盛於陽
位，幾與結胸同變，然滿而不痛，且諸證未具，胸未結也，故取用桂枝之芳甘，
以亟散太陽之邪，其去芍藥之意，酸收二字，不足盡之，以誤下故不敢用，恐其
復領陽邪下入腹中也，設微見惡寒，則陽虛已著，而非陽邪上盛之比，去芍藥方
中即當加附子以回其陽，是雖不言汗出，然由此條之微惡寒，合上條觀之，則脈
促胸滿，喘而汗出之內，原伏有虛陽欲脫之機，故仲景於此條，特以微惡寒三字
發其義，可見陽虛則惡寒矣，又可見汗不出之惡寒，即非陽虛矣，傷寒證中，多
有下後魄汗不止，而釀亡陽之變者，必於此等處恭合，以求神髓，庶幾可進於道
耳。</p>
<p>不解肌反誤下陽邪作喘，有用桂枝加行氣藥一法。
（三六）太陽病，下之微喘者，表未解故也，桂枝加厚朴杏仁湯主之，喘家作枝
湯，加厚朴杏子仁。［原文］
\凡下後利不止，而加上氣喘急者，乃是上爭下奪之象，危候也，但驟病之人，
中氣足供上下之用，邪盡而喘與利自止，若中氣素餒，加以上下交征，立盡之數
矣，此證不云下利，但云微喘表未解，則是表邪因誤下上逆與虛證不同，故仍用
桂枝以解表，加厚朴杏仁以利下其氣，亦微裡之意也。
\此訣風邪誤下作喘治法之大要，其寒邪誤下作喘，當用麻黃石膏，即此可推，
故中篇不復贅也。</p>
<p>不解肌反誤下有憑脈定變一法
（三七）太陽病下之，其脈促，不結胸者，此為欲解也，脈浮者必結胸也，脈緊
者必咽痛，脈弦者必兩拘急，脈細數者頭痛未止，脈沉緊者必欲嘔，脈沉滑者挾
熱利，脈浮者必下血。［原文］
\脈促為陽邪上盛，反不結聚於胸，則陽邪未陷，可勃勃從表出矣，故為欲解也，
脈浮者必結胸，即指促脈而申之，見脈促而加之以浮，邪氣瀰滿於陽位，故必結
胸也，浮字貫下四句，見浮而促必結胸，浮而緊必咽痛，浮而弦必兩脅拘急，浮
而細數必頭痛未止，皆太陽本病之脈，故主病亦在太陽之本位，設脈見沉緊，則
陽邪已入陰分，但入而未深，仍欲上衝作嘔，其無結胸咽痛等證，從可知矣，祇
因論中，省用一個促字，三個浮字，後之讀者遂眩，謂緊為下焦，屬在少陰，惑
之甚矣，觀本文下句，即指出沉緊者，必欲嘔一語，正見前緊字，指浮緊言也，
沉緊方是陽邪入陰，上逆作嘔，豈有浮緊咽痛，反為少陰寒邪上衝之理，明明太
陽誤下之脈證，何緣插入少陰，爚亂後人耶，至於滑脈居浮沉之間，亦與緊脈同
推，故沉滑則陽邪入陰，而主下利，浮滑則陽邪正在榮分，擾動其血，而主下血
也，夫太陽誤下之脈，主病皆在陽在表，即有沉緊沉滑之殊，亦不得以裡陰名之，
仲景辨析之精，詎可雜以贅疣哉。</p>
<p>中風病不解熱結膀胱下血有宜先表後裡一法。
（三八）太陽病不解，熱結膀胱，其人如狂，血自下，下者愈，其外不解者尚未
可攻，當先解外，外解已，但少腹急結者，乃可攻之，宜桃仁承氣湯。［原文］
\邪熟搏血，結於膀胱，膀胱者，太陽寒水之經也，水得熱邪，必沸騰而上侮心
火，故其人如狂，見心雖未狂，有似乎狂也，血自下者，邪熱不留故愈，若少腹
急結，則膀胱之血，蓄而不行，先解外乃可攻，其攻法亦自不同，必用桃仁增入
承氣，以達血所，仍加桂枝，分解外邪，正恐餘邪少有未解，其血得以留戀不下
耳。桃仁承氣湯中，用桂枝解外，與大柴胡湯中，用柴胡解外相倣，益見太陽隨
經之熱，非桂枝不解耳。</p>
<p>中風病不解，熱瘀下焦，蓄血明辨脈證用抵當湯二法
（三九）太陽病六七日，表證仍在，脈微而沉，反不結胸，其人發狂者，以熱在
下焦，少腹當鞕滿，小便自利者，下血乃愈，所以然者，以太陽隨經，瘀熱在
裡故也，抵當湯主之。［原文］
\此條之證較前條更重，且六七日表證仍在，曷為不先解其外耶，又曷為攻藥中，
不兼加桂枝耶，以脈微而沉，反不結胸，知邪不在上焦，而在下焦也，若少腹鞕
滿，小便自利，則其人之發狂者，為血蓄下焦無疑矣，故下其血自愈，然蓄血而
至於發狂，則熱勢攻心，桃仁承氣，不足以動其血，桂枝不足以散其邪，非用單
刀直入之將，必不能斬關取勝，故名其湯為抵當，抵者至也，乃至當不易之良法
也，奈何聖人以為至當，愚人以為非常，詎知邪結於胸，則用陷胸以滌飲，邪結
少腹，則用抵當以逐血，設非此一法，少腹中所結之血，既不附氣而行，更有何
藥可破其堅壘哉，所以一峻攻，斯血去而邪不留，并無藉桂枝分解之力耳，噫，
非優入聖域之大賢，烏足以論此哉。
（四十）太陽病，身黃，脈沉結，少腹鞕，小便不利者，為無血也，小便自利，
其人如狂者，血證諦也，抵當揚主之。［原文］
\此一條，乃法中之法也，見血證為重證，抵當為重藥，恐後人辨認不清，不當
用而誤用，與夫當用而不敢用，故重申其義，言身黃，脈沉結，少腹滿，三者本
為下焦蓄血之證，然只現此，尚與黃相鄰，必如前條之其人如狂，小便自利，則
血證無疑，而舍抵當一法，別無他藥可代之矣。小便不利，何以見其非血證耶，
蓋小便不利，乃熱瘀膀胱，無形之氣病為發黃之候也，小便自利，則膀胱之氣化
行，然後少腹滿者，允為有形之蓄血矣，庸工不能辨證，實於此等處未著眼耳。</p>
<p>中風病以小便利否定裡證一法
（四一）太陽病小便利者，以飲水多，必心下悸，小便少者，必苦裡急也。［原
文］
 小便清利，本為邪不在裡，若因飲水過多，致小便之利，則水未入腹，先與邪
爭，必主心下悸也，小便少者，即小便短赤，裡證已具之意，但本文云，必苦裡
急，明是謂飲水多而小便少者，邪熱足以消水，故直指為裡證已急也，以飲水多
三字貫下，其旨躍然。</p>
<p>中風病汗吐下後，小便不利，宜俟津回自愈一法。
（四一）大下之後，復發汗，小便不利者，亡津液故也，勿治之，得小便利，必
自愈，凡病若發汗，若吐，若下，若亡血，亡津液，陰陽自和者，必自愈。［原
文］
\泉之竭矣，不云自中，古今通弊，醫事中之操霸術者，其人已亡津液，復強責
其小便，究令膀胱之氣化不行，轉增滿鞕脹喘者甚多，故宜以不治治之，俟其
津液回，小便利，必自愈也，於此見汗下恰當，津液不傷，為措於不傾，藏於不
竭之良圖矣。</p>
<p>中風病，下後復汗，因虛致冒，先汗解後議下一法。
（四三）太陽病，下之而不愈，因復發汗，以此表裡俱虛，其人因致冒，冒家汗
出自愈，所以然者，汗出表和故也，得裡未和，然後下之。［原文］
\冒者神識不清，似有物蒙蔽其外也，所以必須得汗，俾外邪先從外徹，然後辨
其二便之和否，再一分解其邪也，然而表裡俱虛之證，其兩解之法，宜輕而且活，
所以說汗出自愈，未嘗指定服藥也，又說得裡未和，然後下之，但示其意，並不
出方，後人熟察其遵，內經虛者，責之之義乎，若論用藥，表無過桂枝，裡無過
大柴五苓矣。</p>
<p>中風病，表裡已虛，餘邪未解，辨脈用治迴異初病一法。
（四四）太陽病未解，脈陰陽俱停，必先振慄，汗出而解，但陽脈微者，先汗出
而解，但陰脈微者，下之而解，若欲下之，宜調胃承氣湯主之。［原文］
\病久而外邪不解，不過是入陽入陰之二途，既陰陽兩停，初無偏勝，可以解矣，
猶必先振慄，始得汗出而解，虛可知也，其有不為振汗，邪無出機者，辨脈用法，
要與初病不同，蓋初病皆邪氣勝則實之脈，病後皆正氣奪則虛之脈，所以最虛之
處，便是容邪之處，故陽脈微者，邪乘其陽，汗之而解，陰脈微者，邪乘其陰，
下之而解，必須透此一關，始得用藥與邪相當，邪去則正自復，不補虛而自補耳，
至於虛者責之之意，前條已露一班，此云若欲下之，宜調胃承氣湯，意更輕活，
其無取於大汗大下，具在言外矣。</p>
<p>中風病，嘔利痞滿，表解可攻，與攻胃實迥異一法。
（四五）太陽中風，下利嘔逆，表解者乃可攻之，其人漐漐汗出，發作有時頭
痛，心下痞鞕，滿引脅下痛，乾嘔短氣，汗出不惡寒者，此表解裡未和也，十
棗暢主之。［原文］
\此證與結胸頗同，但結胸者，邪結於胸其位高，此，在心下及脅，其位卑，然
必表解乃可攻之，亦與攻結胸之戒不殊也，其人漐漐汗出，發作有時，而非晝
夜俱篤，即此便是表解之徵，雖有頭痛，心下痞鞕，滿引脅下痛，乾嘔短氣，
諸證乃邪結之本證，不得以表證名之，若待本證盡除，後乃攻之，不坐誤時日乎，
故復申其義，見汗出不惡寒，便是表解可攻之侯，慮何深耶，蓋外邪挾飲，兩相
搏結，設外邪不解，何緣而得汗出津津乎，攻藥取十棗湯者，正與結胸之陷湯相
倣，因傷寒門中，種種下法，多為胃實而設，胃實者，邪熱爍乾津液，腸胃俱結，
不得不用苦寒以蕩滌之，今證在胸脅，而不在胃，則胃中津液，未經熱耗，而蕩
滌胸胃之藥，無所取矣，故取蠲飲逐水於胸脅之間，以為下法也。</p>
<p>中風病，本痰標熱誤下有結胸及協熱利之變一法。
 （四六）太陽病二三日，不能臥，但欲起，心下必結，脈微弱者，此本有寒分
也，反下之，若利止，必作結胸，未止者，四日復下之，此作協熱利也。［原文］
\二三日不能臥，但欲起，陽邪熾盛，逼處心胸，擾亂不寧，所以知其心下必結，
然但顯欲結之象，尚未至於結也，若其人脈微弱者，此平日素有痰飲，稍於心膈
之分，適與外邪相召，外邪方熾，其不可下明矣，反下之，若利止，則邪勢乘虛，
欲結者愈益上結，利未止，因復下之，俾陽邪不復上結，亦將差就錯因勢利導之
法，但熱邪從表解極易，從裡解極難，協熱下利，熱不盡，其利漫無止期，亦危
道也，合上條外邪搏飲之證，反覆提誨，深切著明，從來疑是闕文，可為嘆息。</p>
<p>中風病，誤下熱邪內陷而成結胸六法。
一法論結胸及痞之源、一法論脈證所以結胸之故、一法論結胸兼涉陽明、一法論
結胸似涉柔痓、一法論脈浮大下之死、一法論證加煩躁不下亦死。
（四七）病發於陽而反下之，熱入因作結胸，病發於陰而反下之，因作痞，所以
成結胸者，以下之太早故也。［原文］
\風為陽邪，病發於中風，陽邪未從外解，而反下之，其熱勢乘虛陷入，必鞕結
於胸上，寒為陰邪，病發於傷寒，陰未從外解，而反下之，其熱勢乘虛陷入必痞
塞於心間，二證皆由下早，皆是熱入，省文以見意也，太早則邪方熾盛，既未外
解，又未傳經，此而下之，其變安得不大耶。
（四八）太陽病，脈浮而動數，浮則為風，數則為熱，動則為痛，數則為虛，頭
痛發熱，微盜汗出，而反惡寒者，表未解也，醫反下之，動數變遲，膈內拒痛胃
中空虛，客氣動膈，短氣躁煩，心中懊憹，陽氣內陷，心下因鞕，則為結胸，
大陷胸湯主之，若不結胸，但頭汗出，餘無汗，劑頸而還，小便不利，身必發黃
也。［原文］
\中風病見浮動數之三脈，主風主熱主痛，更主虛，虛故邪持日久，頭痛發熱惡
寒，表終不解，醫不知其邪持太陽，未傳他經，反誤下之，於是動數之脈變遲，
而在表之證變結胸矣，動數變遲，三十六字，形容結胸之狀殆盡，蓋動數為欲傳
之脈，而變遲則力綿勢緩而不能傳，且有結而難開之象，膈中之氣，與外入之邪，
兩相格(鬬)，故為拒痛，胃中水穀所生之精悍，因誤下而致空虛，則不能藉之以
衝開外邪，反為外邪衝動其膈，於是正氣往返邪逼之界，覺短氣不足以息，更躁
煩有加，於是神明不安方寸之地，覺剝膚近災，無端而生懊憹，凡此皆陽邪內
陷所致，陽本親上，故據高位，而心下鞕痛，為結胸也，非化工之筆，安能點
綴病情若此哉。
 （四九）太陽病，重發汗而復下之，不大便五六日，舌上躁而渴，日晡所小有
潮熱，從心上至少腹，鞕滿而痛不可近者，大陷胸湯主之。［原文］
\不大便，燥渴，日晡潮熱，少腹鞕滿，證與陽明頗同，但小有潮熱，則不似陽
明大熱，從心上至少腹，手不可近，則陽明又不似此大痛，因是辨其為太陽結胸，
兼陽明內實也，緣誤汗，復誤下，重傷津液，不大便而躁渴潮熱，雖太陽陽明，
亦屬下證，但太陽痰飲內結，必用陷胸湯，由胸脅以及胃腸蕩滌始無餘，若但下
腸胃結熱，反遺胸上痰飲，則非法矣，其析義之精，為何如哉。
（五十）結胸者，項亦強，加柔痓狀，下之則和，宜大陷胸丸。［原文］
\結胸而至頸項亦強，證愈篤矣，蓋胸間邪結緊實，項勢常昂，有似柔痓之狀，
然痓病身手俱張，此但項強，原非痓也，借此以驗胸邪，十分緊逼耳，胸邪
緊逼，以大陷胸湯下之，恐過而不留，即以大陷胸丸下之，又恐滯而不行，故煮
而連滓服之，然後與邪相當，而可施戰勝攻取之略，觀方中用大黃芒硝甘遂，可
謂峻矣，乃更加葶藶杏仁以射肺邪，而上行其急，煮時又倍加白蜜以留戀而潤導
之，而下行其緩，必識此意，始得用法之妙。
（五一）結胸證其脈浮大者，不可下，下之則死。［原文］
胸既結矣，本當下以開其結，然脈浮大，則表邪未盡，下之是令其結而又結也，
所以主死，此見一病不堪再誤也。
（五二）結胸證具，煩燥者亦死。［原文］
\亦字承上，見結胸證全具，更加煩躁，即不下亦主死也，曷為主死耶，蓋邪結
於胸，雖藉藥力以開之，而所以載藥力上行者，胃氣也，胃氣充溢於津液之內，
汗之津液一傷，下之津液再傷，至熱邪搏飲結於當膺，而津液又急奔以應上，正
有不盡不已之勢，煩躁者津液已竭，胃氣垂絕之徵也，堅敵在前，營中士卒，化
為烏有，能無敗乎，此陷胸諸法，見機於蚤，兢兢以滌飲為先務，飲滌則津液自
安，如寇退而百姓復為良民也，噫，微矣。</p>
<p>不解肌，誤汗下成痞，復誤燒鍼合色脈以定死生一法。
（五三）太陽病，醫發汗，遂發熱惡寒，因復下之，心下痞，表裡俱虛，陰陽氣
並竭，無陽則陰獨，復加燒鍼，因胸煩面色青黃，膚潤者難治，今色微黃，手足
溫者易愈。［原文］
\凡表裡差誤，證變危篤，有陰已亡而陽邪尚不盡者，有陽邪盡而陽氣亦隨亡者，
有外邪將盡未盡，而陰陽未致全虧者，此可愈不可愈，所繇分也，大率心下痞，
與胸間結，雖有上下之分，究竟皆是陽氣所治之位，觀無陽則陰獨一語，正見所
以成痞之故，雖曰陰陽氣並竭，實繇心下無陽，故陰獨痞塞也，無陽陰獨，蚤已
括傷寒誤下成痞大義，安得草率讀過，無陽亦與亡陽有別，無陽不過陽氣不治，
復加燒鍼，以逼劫其陰陽，乃成危候，其用藥逼劫，即可同推。中風誤下結胸，
傷寒誤下成痞者，症之常也，然中風誤下，間有痞證，傷寒誤下，間有結胸證，
不可不明，故次此條於結胸證後，至太陽中篇，亦次結胸於痞證後，以求合作者
之圓神也。</p>
<h2>太陽經中篇［凡寒傷營之證列於此篇法五十八條］</h2>
<p>按上篇風傷衛之證，用桂枝湯解肌者，乃是不欲發汗以擾動其營也，不擾其營，
但治其衛，嘗有不及之弊，不及則邪不盡去，勢必傳入於裡，故篇中兩解表裡之
法居多，此篇寒傷營之證，用麻黃湯發汗者，乃亟驅其邪，盡從表出，不使停留
之法，嘗有太過之弊，太過則未免因邪傷正，而虛候易生，設有餘邪不盡者，多
未敢再汗，但可和其營衛，或俟其津回，自然得汗，故兩解表裡之法差少，其誤
下之證，亦不比上篇之陽邪多變，但發汗之後，其人津液已虛，更加誤下，則津
液重虛，所以或邪少虛多而傷其陽，或邪盛熱熾而傷其陰，源同流異，各造其偏，
以故治法亦錯出不一，必先會大意，然後一展卷而了然於心目也。</p>
<p>辨寒傷營有定脈定證總稱傷寒一法。
（一）太陽病，或已發熱，或未發熱，必惡寒體重嘔逆，脈陰陽俱緊者，名曰傷
寒。［原文］
\發熱惡寒體重嘔逆，脈陰陽俱緊，凡是傷寒病，必具此五者，故以為總稱，或
未發熱者，寒邪初入，尚未鬱而為熱，頃之即熱矣，多有服表藥後，反增發熱者，
病必易解，蓋熱鬱未久，藥即領邪外出，無裡證故也，仲景恐見惡寒體重嘔逆，
又未發熱，認為直中陰經之證，操刃殺人，蚤於辨證之先，揭此一語，慮何周耶。</p>
<p>辨傷寒證用麻寅湯大綱一法
（二）太陽病，頭痛發熱，身疼腰痛，骨節疼痛，惡風無汗而喘者，麻黃湯主之。
［原文］
\上條已言傷寒之脈證矣，此復以頭痛發熱身疼腰痛骨節疼痛，惡風無汗而喘，
互發其義，蓋惡寒未有不惡風者，頭身腰節疼痛，即體重之應，無汗而喘，亦即
嘔逆，脈陰陽俱緊之應也，汗乃血之液，血為營，營強則腠理閉密，雖熱，汗不
出也，麻黃發汗散邪，其力最猛，故以桂枝監之，甘草和之，而用杏仁潤下以止
喘逆，然亦但取微似汗，不須歠熱稀粥，正如馭六馬執轡惟謹，恆虞其泛軼耳。</p>
<p>辨傷寒傳經不傳經一法
（三）傷寒一日，太陽受之，脈若靜者為不傳，頗欲吐，若躁煩脈數急者，為傳
也，傷寒二三日，陽明少陽證不見者，為不傳也。［原文］
\脈靜者邪在本經，且不能遍，故不傳經，頗欲吐，外邪內搏，身煩脈數，寒邪
變熱，必傳經也，二三日陽明少陽證不見，即誤治，亦止留連於太陽耳。</p>
<p>辨傷寒欲傳不傳，心悸而煩，宜用建中一法。
（四）傷寒二三日，心中悸而煩者，小建中湯主之，嘔家不可用建中湯，以甜故
也。［原文］
\欲傳未傳之證，其人內實，差可無慮，若陽氣內虛而心悸，陰氣內虛而心煩，
將來邪與虛搏，必至危困，建立其中氣，則邪不易入，即入亦足以禦之也。</p>
<p>辨寒傷營之證，當汗不汗，反行鍼灸致變二法。
（五）太陽傷寒者，加溫鍼，必驚也。［原文］
\溫鍼欲以攻寒，孰知鍼用火溫，營血得之反增其熱，營氣通於心，引熱邪以內
逼神明，必致驚惶而神亂也。
（六）脈浮宜以汗解，用火灸之，邪無從出，因火而盛，病往接以下必重而痺，
名火逆也。［原文］
\外邪挾火勢上炎，必不下通陰分，故重而痺也。</p>
<p>辨脈浮及數宜麻黃湯發汗一法。
（七）脈浮者病在表，可發汗，宜麻黃湯，脈浮而數者可發汗，宜麻黃湯。［原
文］
\傷寒之脈，陰陽俱緊，其脈但浮，及浮數而不兼緊，似可不用麻黃湯，然寒既
入營，舍麻黃湯定法，別無他藥可代，故重申其意，見脈緊固當用麻黃湯，而脈
浮不緊者，乘其邪方在表，當用麻黃湯托出其邪，不使得入，即脈浮數而不緊者，
乘其勢正欲傳，當用麻黃湯擊其半渡，而驅之使出，參看中風證，脈浮宜用桂枝
湯，可見天然一定之法，不因邪勢之淺深，輒可變易也。</p>
<p>服麻黃湯得汗後，察脈辨證有次第不同三法。
一法汗解後，復感復煩，脈浮數者，宜更藥解散、一法脤浮皴而煩加渴者，宜兩
解表裡、一法具兩解證，不渴者用藥宜裡少表多。
（八）傷寒發汗，解半日許復煩，脈數者，可更發汗，宜桂枝湯。［原文］
\發汗後，病解半日許復煩，脈復浮數，明係汗後表疏疏，邪風襲入所致，即不
可再用麻黃湯，宜更變發汗之法，改用桂枝可耳，用桂枝者，一以邪重犯衛，一
以營虛不能復任麻黃也。
（九）發汗已，脈浮數煩渴者，五苓散主之。［原文］
\脈浮數而煩，與上同也，加之以渴，則津液為熱所耗，而內躁，裡證具矣，津
液內耗，即非細故，宜用四苓以滋其內，而加桂以解其外，比上更用桂枝之法，
又大不同者，以無復感故也，然既云兩解表裡之邪熱，則五苓散中，朮用蒼，桂
用枝，從可推矣。</p>
<p>按五苓散兩解表裡之法，風傷衛寒傷營俱用之。
（十）傷寒汗出而渴者，五苓散主之，不渴者茯苓甘草湯主之。［原文］
\傷寒以無汗故煩，汗出則不煩可知矣，但汗出而渴則上條五苓兩解表裡之法，
在所必用，若汗出而并不渴，則裡證本輕，故用桂枝湯中三，五苓湯中之一，少
示三表一裡之意，名曰茯苓甘草湯，以消息病情，而分解微邪，如璋判圭合，允
為實符。</p>
<p>辨脈浮緊浮數尺脈，反遲反微不可發汗二法。
一法脈浮緊，身疼痛，宜以汗解，但尺遲則不可汗、一法脈浮數，即誤下仍當發
汗，但尺微則不可汗。
（二）脈浮緊者，法當身疼痛，宜以汗解之，假令尺中遲者，不可發汗，何以知
之，然以營氣不足，血少故也。［原文］
\脈浮而緊，遍身疼痛，迺傷寒正病，亟當發汗，以驅逐外邪者也，設其人元氣
素薄，尺中脈遲，則城郭不完，兵甲不堅，米粟不多，根本先欲動搖，尚可背城
借一乎，此所以必先建中而後發汗也。
（三）脈浮數者，法當汗出而愈，若下之身重心悸者，不可發汗，當自汗出乃解，
所以然者，尺中脈微，此裡虛，須表裡實，津液自和，便自汗出愈。［原文］
\脈浮數者，法當從乎汗解，故有更藥發汗，及兩解表裡之法，設經誤下，而身
重心悸，縱脈仍浮數，亦不可復發其汗，但宜靜調，俟其汗自出乃解耳，所以然
者，以尺脈微，裡陰素虛故也，必須津液自和，即為表裡俱實，便自汗出而愈，
此亦先建中而後發汗之變法，要知仲景云，尺脈微者不可發汗，又云尺微者，不
可下無非相人津液之奧旨，所以誤下之脈，雖浮數不改亟宜發汗者，亦必審諦其
尺脈，不當率意徑情，有如此矣。</p>
<p>凡用發汗藥宜審病人有無宿疾，不可徑汗六法。
（一三）咽喉乾燥者，不可發汗。［原文］
\咽中乾燥，其人平日津液素虧可知，故不可發汗以重奪其津液也，叔和重集不
可發汗篇，有咽中閉塞，不可發汗，發汗則吐血，氣欲絕，手足厥冷，欲得踡臥，
不能自溫一條，與此似同而實大異，此戒發汗似奪陽明之津液，彼戒發汗以奪少
陰之血也，又咽中閉塞不可下一條，亦指少陰立說，成註俱以咽門為胃之系混釋，
則謬矣。
（一四）淋家不可發汗，發汗則便血。［原文］
\小便淋者，膀胱為熱所閉，氣化不行也，更發其汗，則膀胱愈擾，而血從小便
出矣。
（一五）瘡家雖身疼痛，不可發汗，汗出則痓。［原文］
\身疼痛，為寒傷營之證，本當發汗，然瘡瘍之人，肌表素虛，營血暗耗，更發
其汗，則外風襲虛，內血不榮，必至頸項強，身手張而成痓，痓亦膀胱之病也。
（一六）衄家不可發汗，汗出必額上陷，脈緊急，目直視不能眴，不得眠。［原
文］
\目得血而能視，汗為血液，衄血之人，清陽之氣素傷，更發其汗，則額上必陷，
乃上焦枯竭之應也，諸脈者皆屬於目，筋脈緊急，則目上瞪而不能合，目不合則
不得眠也，傷寒發煩，目瞑者必衄，宜用麻黃湯發汗，此言素慣衄血之人，戒發
汗以虛其虛，宜兩諦之也。
（一七）亡血家不可發汗，汗發則寒慄而振。［原文］
 亡血即亡陰也，亡陰發汗，本當生熱，乃反寒慄而振者何耶，蓋陰亡則陽氣孤
而無偶，纔一發汗，其陽必從汗盡越，所以寒慄有加，陰陽兩竭也。
（一八）汗家重發汗，必恍惚心亂，小便已陰疼，與禹餘糧丸。［原文］
\心主血，汗者心之液，平素多汗，更發其汗，則心臟之血傷，而心神恍惚，小
腸之腑血亦傷，而便已陰疼，禹餘糧丸，原方闕，然生心血，通水道，可意會也。</p>
<p>服麻黃湯汗後病不解，有惡寒惡熱不同治一法。
（一九）發汗病不解，反惡寒者虛故也，芍藥甘草附子湯主之，發汗後惡寒者，
虛故也，不惡寒但惡熱者實也，當和胃氣，與調胃承氣湯。［原文］
\惡寒者，汗出營衛新虛，故用法以收陰固陽，而和其營衛，不惡寒者，汗出表
氣未虛，反加惡熱，則津乾胃實可知，故用法以泄實而和中，然曰與，似大有酌
量，其不當徑行攻下，以重虛津液，從可識矣。</p>
<p>服麻黃湯汗後身痛，脈遲者宜行補散一法。
（二十）發汗後，身疼痛，脈沉遲者，桂枝加芍藥生薑各一兩，人參三兩，新加
湯主之。［原文］
\傷寒發汗後，身反疼痛者，乃陽氣暴虛，寒邪不能盡出所致，若脈見沉遲，更
無疑矣，脈沉遲者，六部皆然，與尺遲大異，尺遲乃素虛，此為發汗新虛，故於
桂枝方中，倍加芍藥生薑各一兩以去邪，用人參三兩以輔正，名曰新加湯者，明
非桂枝湯中之舊法也。
\門人問相傳仲景全方，止得一百一十二道，因有新加一湯，故名為一百一十三
方，其說然歟，答曰，此後人之囈語也，仲景意中，明明桂枝湯，不欲與人參並
用，以桂枝能解肌表之邪，人參反固肌表之邪故也，然在誤汗誤下以後，表裡參
錯，正氣虛微，餘邪不解，則有不得不並用之證，如上篇太陽病，外證未除而數
下之，遂協熱而利下痞鞕，表裡不解，用桂枝理中湯，乃革去理中之名，但曰
桂枝人參湯者，即此意也，人參尚主半表，故曰新加理中，則全不主表，故革其
名，凡此皆仲景精微之蘊也，然桂枝人參湯中，去芍藥者，以誤下而邪入於陰，
芍藥主陰，不能散陽邪也，桂枝新加湯中倍芍藥者，以誤汗而陽虛邪湊，恐陽孤
無偶，用芍藥以和之，俾不至散亂也，故用法必識立法之意，斯用之各當矣。</p>
<p>服麻黃揚後不可誤用桂枝及飲水灌水過多一法。
（三）發汗後，不可更行桂枝湯，汗出而喘，無大熱者，可與麻黃杏仁甘草石膏
湯主之，發汗後，飲水多者必喘，以水灌之亦喘。［原文］
\誤用桂枝固衛，寒不得泄，氣逆變喘，本當用大青龍湯，此於湯中除去桂枝薑
棗者，以已經一誤不可再誤，馭藥之嚴也，然有大熱者，恐兼裡證，若無大熱，
其為表邪實盛可知，故變青龍之制，為麻杏甘石，乃為的對也，飲水多者，內有
大熱，則能消之，汗後裡證未具，內無大熱，故飲水多者，水氣上逆必為喘也，
以水灌其外，冷氣侵膚，與內邪相搏，亦主喘也，即形寒飲冷傷肺之意，但傷肺
乃積漸所致，此不過偶傷耳，治法要不出麻杏甘石之外，見內飲水多，外行水嚾，
皆足以歛邪閉汗，不獨誤行桂枝湯為然矣。</p>
<p>本麻黃湯證，誤下表邪未盡氣逆變喘一法。
（二三）下後不可更行桂枝湯，若汗出而喘，無大熱者，可與麻黃杏仁甘草石膏
湯。［原文］
\易桂枝以石膏，少變麻黃之法，以治誤汗而喘當矣，乃誤下而喘，亦以桂枝為
戒，而不越此方者何耶，蓋太陽中風，與太陽傷寒，一從桂枝，一從麻黃，分途
異治，繇中風之誤下而喘者，用厚朴杏仁加入桂枝湯中觀之，則傷寒之誤下而喘
者，用石膏加入麻黃湯中，乃天造地設，兩不移易之定法，仲景所以諄諄告戒者，
正恐人以傷寒已得汗之證，認為傷風有汗而誤用桂枝，故特出誤汗誤下兩條，示
以同歸麻黃一治之要，益見營衛分途，而成法不可混施矣。</p>
<p>服麻黃湯後有陽氣暴虛叉手冒心二法。
一法心下悸欲得按、一法耳聾無聞。
（二三）發汗過多，其人叉手自冒心，心下悸欲得按者，桂枝甘草湯主之。［原
文］
\發汗過多，陽氣虛衰，陽本受氣於胸中，胸中陽氣不足，故叉手冒心，不說到
陰血上，方用桂枝甘草，固表緩中，亦未說到養血上，方註謂汗多則血傷，血傷
則心虛，反置陽虛不理，所以迂闊而遠於事情也。
（二四）未持脈時，病人叉手自冒心，師因教試令咳，而不咳者，此必兩耳聾無
聞也，所以然者，以重發汗，虛故如此。［原文］
\此示人推測陽虛之一端也，陽虛耳聾，宜亟固其陽，與少陽傳經邪盛之耳聾迥
別矣。</p>
<p>服麻黃湯後，有陽氣暴虛陰邪上逆臍下悸腹脹滿二法。
一法欲作奔豚，預伐其邪、一法行氣補虛，以除其滿。
（二五）發汗後，其人臍下悸者，欲作奔豚，茯苓桂枝甘草大棗湯主之。［原文］
\汗本心之液，發汗後，臍下悸者，心氣虛而腎氣發動也，腎邪欲上陵心，故臍
下先悸，取用茯苓桂枝，直趨腎界，預伐其邪，所謂上兵伐謀也。
（二六）發汗後，腹脹滿者，厚朴生薑甘草半夏人參湯主之。［原文］
\吐後腹脹，與下後腹脹，多為實，以邪氣乘虛入裡為實也，若發汗後，外已解
而腹脹滿，知非裡實之證，繇脾胃氣虛津液搏結，陰氣內動，壅而為滿也，故以
益胃和脾，降氣滌飲為治也。</p>
<p>服麻黃傷汗後，不繇誤下津乾飲結胃困變痞一法。
（二七）傷寒汗出解之後，胃中不和，心下痞鞕，乾噫食臭，脅下有水氣，腹
中雷鳴下利者，生薑瀉心湯主之。［原文］
\汗後外邪雖解，然必胃氣安和，始得脫然無恙，以胃主津液故也，津液因邪入
而內結，因發汗而外亡，兩傷告匱，其人心下必痞鞕，以伏飲搏聚，胃氣不足
以開之也，胃病故乾噫食臭，食入而噯餿酸也，胃病故脅下有水氣，水入而旁滲
脅肋也，胃中水穀不行，腹中必雷鳴，而搏結有聲，下利而清濁不分也，雖不由
誤下，而且成痞，設誤下，其痞結又當何似耶，上篇論結胸及痞之源，云胃中空
虛，此云胃中不和互意，以其未經誤下而致空虛，但言不和，然不和已足成痞，
胃氣所關之鉅，固若此哉。</p>
<p>誤下成痞，用潟心湯諸方次第不同四法。
一法誤下後再誤下，客熱虛痞，用甘草瀉心湯、一法誤下後，復發汗，惡寒，先
解表，後用大黃黃連瀉心湯、一法陰氣熱邪作痞，用大黃黃連瀉心湯，陰氣乘陽
虛作痞，用附子瀉心湯、一法心下滿而不痛者，用半夏瀉心湯。
（二八）傷寒中風，醫反下之，其人下利日數十行，穀不化，腹中雷鳴，心下痞
鞕而滿，乾嘔心煩，不得安，醫見心下痞，謂病不盡，復下之，其痞益甚，此
非結熱，但以胃中虛，客氣上逆，故便鞕也，甘草瀉心湯主之。［原文］
\此條痞證，傷寒與中風互言，大意具見，下利完穀，腹嗚嘔煩，皆誤下而胃中
空虛之互詞也，設不知此義，以為結熱而復下之，其痞必益甚，故重以胃中虛，
客氣上逆，昭揭病因，方用甘草瀉心湯者，即生薑瀉心湯，除生薑人參不用，而
倍甘草乾薑也，客邪乘虛結於心下，本當用人參，以誤而再誤，其痞已極，人參
仁柔，無剛決之力，故不用也，生薑辛溫，最宜用者，然以氣薄主散，恐其領津
液上升，客邪從之犯上，故倍用乾薑代之，以開痞，而用甘草為君，坐鎮中州，
庶心下與腹中漸致大寧耳，今人但知以生薑代乾薑之僭，孰知以乾薑代生薑之散
哉，但知甘草能增滿，孰知甘草能去滿哉。
（二九）傷寒大下後，復發汗心下痞，惡寒者，表未解也，不可攻痞，當先解表，
表解乃可攻痞，解表宜桂枝湯，攻痞宜大黃黃連瀉心湯。［原文］
\大下之後復發汗，先裡後表，顛倒差誤，究竟已陷之邪，痞結心下，證兼惡寒，
表邪不為汗衰，即不可更攻其痞，當用桂枝解肌之法，先解其外，外解已後，乃
以大黃黃連瀉心湯，攻去其心下之痞也。
（三十）脈浮而緊而復下之，緊反入裡，則作痞，按之自濡，但氣痞耳，心下痞，
按之濡，其脈關上浮者，大黃黃連瀉心湯主之，心下痞而復惡寒汗出者，附子瀉
心湯主之。［原文］
\傷寒脈浮而緊，即不可下，誤下而緊反入裡，則寒邪轉入轉深矣，故作痞，外
邪與內飲搏結，故心下滿鞕，若按之自濡而不滿鞕，則證不挾飲，其所挾飲者，
乃身中之陰氣上逆，而痞聚於心下也，陰氣上逆，惟苦寒可瀉之，上條大黃黃連
瀉心之法，即為定藥，若惡寒汗出，前方必加上附子，以救陽虛，蓋痞者乾往居
內，坤往居外，所以宜切陰盛陽微之慮，今惡寒汗出，其事著矣，故三黃湯內，
另煎附子汁和服以各行其事，而共成傾否之功，即一瀉心方中，其法度森森若此。
（三一）傷寒五六日，嘔而發熱者，柴胡湯證具，而以他藥下之，柴胡證仍在者，
復與柴胡湯，此雖巳下之不為逆，必蒸蒸而振，卻發熱汗出而解，若心下滿而鞕
痛者，此為結胸也，大陷胸湯主之，但滿而不痛者，此為痞，柴胡湯不中與之，
宜半夏瀉心湯。［原文］
半段當節入少陽篇中，因有半夏瀉心湯之法，不便分析，故錄全文。</p>
<p>上篇論結胸有陽明之兼證矣，此復論結胸及痞，有少陽之兼證，見五六日嘔而發
熱，為少陽之本證，然太陽未罷，亦間有之，所以陽明致戒云，嘔多雖有陽明證，
不可攻，以嘔屬太陽故也，且發熱而非往來之寒熱，尤難辨識，果係少陽證，則
太陽證將罷，不似陽明之不可攻，若係太陽，遷延未罷，誤下即成痞結，其為逆
更大矣，方用半夏瀉心湯者，即生薑瀉心湯，去生薑而君半夏也，去生薑者，惡
其辛散，引津液上奔也，君半夏者，瀉心諸方，原用以滌飲，此因證起於嘔，故
推之為主君耳。</p>
<p>服瀉心湯，痞不解煩渴，小便不利，用五苓兩解表裡一法。
（三二）本以下之，故心下痞，與瀉心湯痞不解，其人渴而口躁煩，小便不利者，
五苓散主之。［原文］
\瀉心諸方，開結蕩熱益虛，可謂具備，乃服之而痞不解，更加渴而口躁煩，小
便不利者，前第八條五苓兩解表裡之法，正當主用，蓋其功擅潤津滋躁，導飲蕩
熱，所以亦得為消痞滿之良治也。</p>
<p>服瀉心湯，後復誤下利不止，宜治下焦一法。
（三二）傷寒服湯藥，下利不止，心下痞鞕，服瀉心湯已，復以他藥下之，利
不止，醫以理中與之，利益甚，理中者理中焦，此利在下焦，赤石脂禹餘糧湯主
之，復利不止者，當利其小便。［原文］
\湯藥者，蕩滌腸胃之藥，即下藥也，誤下而下利不止，心下痞鞕，服瀉心湯為
合法矣，乃復以他藥下之，他藥則皆蕩滌下焦之藥，與心下之痞，全不相涉，縱
痞鞕微除，而關閘盡撤，利無休止，反取危困，用理中以開痞止利，原不為過，
其利益甚者，明是以鄰國為壑，徒重其奔迫也，故用赤石脂禹餘糧，固下焦之脫，
而重修其關閘，倘更不止，復通支河水道，以殺急奔之勢，庶水穀分而下利自止
耳。</p>
<p>痞證汗出，嘔吐下利，用大柴胡湯兩解表裡一法。
（三四）傷寒發熱，汗出不解，心中痞鞕，嘔吐而下利者，大柴胡湯主之。［原
文］
\外邪不解，轉入於理，心下痞鞕，嘔吐下利，攻之則礙表，不攻則裏證已迫，
計惟主大柴胡一湯，合表裏而兩解之耳。</p>
<p>汗吐下解後，餘邪挾飲作痞，用旋覆代赭石湯一法。
（三五）傷寒發汗，若吐苦下解後，心下痞鞕，噫氣不除者，旋復代赭石湯主
之。［原文］
\此亦伏飲為逆，但因胃氣虧損，故用法以養正，而兼散餘邪，大意重在噫氣不
除上，既心下痞鞕，更加噫氣不除，則胃氣上逆，全不下行，有升無降，所謂
弦絕者其聲嘶，土敗者其聲噦也，故用代赭領人參下行，以鎮安其逆氣，微加散
邪滌飲，而痞自開耳。</p>
<p>病人素有痞連臍脅更加痛，引陰筋名為臟結一法。
（三六）病脅下素有痞，連在臍傍，痛引少腹入陰筋者，此名臟結死，臟結無陽
證，不往來寒熱，其人反靜，舌上胎滑者，不可攻也。［原文］
\傷寒有臟結之證，乃陰邪結於陰也，若加痛引少腹入陰筋，則悖亂極矣，故主
死也，無陽證者無表證也，不往來寒熱者，無半表半裡之證也，其人反靜者，并
無裡證也，既無表裡之證，而舌上仍有胎滑，此為何故，則以丹田有熱，胸中有
寒耳，夫丹田陰也，反有熱，胸中陽也，反有寒，則是其病不在表裡，而在上下，
上下之邪，相悖而不相入，所以不可攻也。按病人，素有動氣在當臍上下左右，
則不可發汗，素有痞氣在脅下連臍傍，則不可攻下，醫工不細詢，病家不明告，
因而貽誤者多矣，甚有明知故犯者，其操術可勝誅哉。臟結之所以不可攻者，從
來置之不講，以為仲景未嘗明言，後人無從知之，不知仲景言之甚明，人第不參
討耳，夫所謂不可攻者，乃垂戒之辭，正欲人詳審其攻之之次第也，試思臟已結
矣，匪攻而結胡繇開耶，前篇謂其外不解者，尚未可攻，又謂下利嘔逆不可攻，
又謂表解乃可攻痞，言之已悉，於此特出一訣，謂臟結無陽證，不往來寒熱，其
人反靜，則證不在六經之表裡，而在下焦上焦之兩途，欲知其候，但觀舌上有胎
滑與否，有之則外感之陽熱，挾痞氣而反在下，素痞之陰寒，挾熱勢而反在上，
此與裡證已具，表證未除者，相去不遠，但其陰陽悖逆，格拒而不入，證轉凶危
耳，豈結胸者膈內拒痛，而臟結者腹內不拒痛耶，此而攻之，是速其痛引陰經而
死也，不攻則病不除，攻之則死，所以以攻為戒，是則調其陰陽，使之相入，而
胎滑既退，然後攻之，則熱邪外散，寒氣內消，其臟結將自愈矣，此持危扶顛之
真手眼也。凡腹內痛之證，得藥而痛愈急者，要當識此。</p>
<p>設問借結胸以明臟結之脈證一法。
（三七）問曰，病有結胸，有臟結，其狀何如，答曰，按之痛，寸脈浮，關脈沉，
名曰結胸也，何謂臟結，答曰，如結胸狀，飲食如故，時時下利，寸脈浮，關脈
小細沉緊，名曰臟結，舌上白胎滑者難治。［原文］
\臟結一證，最難辨識，復設問答，借結胸以詳其脈證，而明外邪熾盛者為難治，
結胸者陽邪結於陽也，臟結者陰邪結於陰也，然胸位高，臟位卑，其脈之寸浮關
沉，兩俱無異，乃臟結之關脈，更加小細緊者，以關脈居上下二焦之界，外邪繇
此下結，積氣繇此上干，實往來之要衝，所以病在下而脈反困於中也，此證全以
外受之邪定輕重，若舌上有白胎滑，則所感深重，其互結之勢方熾，單表單裡，
及兩解表裡之法，俱不可用，所以難治，然溫中散邪，俾陰氣漸下而內消，客邪
漸上而外散，兩相開解，則良工之為其所難乎。</p>
<p>傷寒下早亦成結胸之證四法
一法辨大結胸，用大陷胸湯。一法辨小結胸，用小陷胸湯。一法辨熱結在裡，與
結胸異。一法辨邪熱在表，心下支結，單治其表。</p>
<p>太陽結胸證有少陽，附本篇第三十一條後。
（三八）傷寒六七日，結胸熱實，脈沉緊，心下痛，按之石鞕者大陷胸湯主之。
［原文］
\傷寒誤下，雖成痞，亦時有結胸之候，痞者十之八九，結胸者十之一二也，故
次傷寒結胸於痞證之後，此條熱實二字，形容結胸之狀甚明，見邪熱填實於胸間，
不散漫也，上條言寸脈浮，關脈沉，此言脈沉緊更明，蓋緊脈有浮沉之別，浮緊
主傷寒無汗，沉緊主傷寒結胸，與中風之陽邪結胸迥殊，此所以不言浮也，精矣
精矣。
（三九）小結胸病，正在心下，按之則痛，腑脈浮滑者，小陷胸湯主之。［原文］
\小結胸病，正在心下，則不似大結胸之高在心上也，按之則痛，此手不可近則
較輕也，而脈之浮又淺於沉，滑又緩於緊，可見其人外邪陷入原微，但痰飲素盛，
挾熱邪而內結，所以脈見浮滑也，黃連半夏括婁實，藥味雖平，而泄熱散結，亦
是突圍而入，所以名為小陷胸湯也。
（四十）傷寒十餘日，熱結在裡，復往來寒熱者，與大柴胡湯，但結胸無大熱者，
此為水結在胸脅也，但頭微汗出者，大陷胸湯主之。［原文］
\治結胸之證，取用陷胸之法者，以外邪挾內飲搏結胸間，未全入於裡也，若十
餘日熱結在裡，則是無形之邪熱蘊結，必不定在胸上，加以往來寒熱，仍兼半表，
當用大柴胡湯，以兩解表裡之熱邪，於陷胸之義無取矣，無大熱，與上文熱實互
意，內陷之邪，但結胸間，而表裡之熱，反不熾盛，是為水飲結在胸脅，其人頭
有微汗，乃邪結在高，而陽氣不能下達之明徵，此則主用大陷胸湯，允為的對也，
仲景辨證明徹若此，後人反謂結胸之外，復有水結胸一證，又謂下文支結，乃支
飲結聚，亦另是一證，可笑極矣。
（四一）傷寒六七日，發熱微惡寒，肢節煩疼，微嘔心下支結，外證未去者，柴
胡桂枝湯主之，［原文］
\妙哉仲景之文，此一條，又足緯上三條而明其意，心下支結者，邪結於心下之
偏旁不正中也，比小結胸之正在心下，又較輕矣，傷寒至六七日，宜經傳已遍，
乃發熱微惡寒，肢節煩疼微嘔，其邪尚在三陽之界，未人於裡，雖心下支結，而
外證未除，即不可用大陷胸湯，以大陷胸湯，主裡而不主表也，亦不可用小陷胸
湯，以小陷胸湯主飲而不主表也，夫支結之邪，其在外者方盛，其陷入者原少，
故但合用柴胡桂枝和解二法，以治其表，表邪去而支節自開矣，後人謂支結，乃
支飲結於心下，夢語喃喃，吾不識支飲為何物也。</p>
<p>辨下後胸滿煩驚身重困篤一法。
（四二）傷寒八九日，下之，胸滿煩驚，小便不利，讝語，一身盡重，不可轉
側者，柴胡加龍骨牡蠣湯主之。［原文］
\此伏飲素稍為變之最鉅者，蓋積飲之人，津液素結，原不足以充灌週身，及遇
外感，一切汗吐下定法，漫難輕試，其誤下之變，更有進於結胸者，似此一證，
八九日過經乃下之，可謂慎矣，孰知外邪未盡，乘虛而陷，積飲挾之，填滿胸中，
胸中既滿，則膻中之氣，不能四布而使道絕，使道絕則君主孤危，所以心驚而神
亂也，煩與讝語本屬胃，此則兼心，小便不利，本屬津液內竭，此亦兼小腸火
燔，一身盡重不可轉側者，又神明內亂，治節不行，百骸無主之明徵也，夫邪方
在表裡，其患已及神明，於此而補天浴日，寧復尋常表裡所辦，故用人參茯苓之
補，以益心虛，丹鉛之重，以鎮心驚，龍骨牡蠣之澀，以為載神之舟楫，一方而
批郄導竅，全收安內攘外之功，後人不察，謂是總三陽而和之之法，豈其然哉。
按傷寒雖云傳足不傳手，其實原無界限，此證手少陰心主，為邪所逼，神明內亂，
因致讝語無倫，較他證讝語之屬胃實者，相去懸絕，若復以治足經之法治之，
必無幸矣，方中藥止九味，用入心藥五種，不以為複，且用陽明藥三種，不以為
猛，蓋都城震動，勢必悉力入援，非孤注可圖僥倖也，至於痰飲搏膈，最為剝床
者，但用半夏一味，表邪內襲，首發難端者，但從太少之例，用桂枝柴胡二味，
陽邪入陰，最宜急驅者，但用大黃一味，是則治傷寒喫緊之處，咸落第二義，止
從治心諸藥之後，一案共結其局，此等手眼，登凡近可識耶。</p>
<p>病久脈代結心動悸，宜補胃生津兼散邪一法。
（四三）傷寒脈代結，心動悸者，炙甘草湯主之，一名復脈湯，脈按之來緩，而
時一止復來者，名曰結，又脈來動而中止，更來小數，中有還者反動，名曰結陰
也，脈來動而中止不能自還，因而復動，名曰代陰也，得此脈者必難治。［原文］
\傷寒病而至脈結代，心動悸，真陰已亡，微邪搏聚者，欲散不散，故立炙甘草
湯，補胃生津潤躁，以復其脈，少加桂枝以和營衛，少加清酒以助藥力，內充胃
氣，外達肌表，不驅邪而邪自無可容矣。後段本為結代二脈下註腳，後人不解，
疑為闕文，但以虛多實少混說，殊不知脈者氣血之先，仲景於津液內亡之脈，名
之為結陰代陰，又名無陽，原有至理，何得懵然不識，聊為四言俚句，以明其義，
胃藏津液，水穀之海，內充臟腑，外灌形骸，津多脈盛，津少脈衰，津結病至，
津竭禍來，脈見微弱，宜先建中，汗則津越，下則津空，津耗脈和，不可妄攻，
小便漸減，大便自通，陽明內實，急下救焚，少緩須臾，津液無存，陽明似實，
少用調承，驅熱存津，此法若神，腎中真陽，陰精所栽，胃中真陽，津液所胎，
津枯精盛，洌泉可溉，陰精衰薄，瓶罄罍哀，何謂結陰，無陽脈闔，何謂代陰，
無陽脈奪，經揭無陽，津液所括，較彼亡陽，天地懸闊。</p>
<p>誤下下利不止，身疼痛，宜先救裡後救表一法。
（四四）傷寒醫下之，續得下利清穀不止，身疼痛者，急當救裡，後身疼痛，清
便自調者，急當救表，救裡宜四逆湯，救表宜桂枝湯。［原文］
\下利清穀者，脾中之陽氣微，而飲食不能腐化也，身體疼痛者，在裡之陰邪盛，
而筋脈為其阻滯也，陽微陰盛，凶危立至，當救其在裡之微陽，俾利與痛而俱止，
救後小便清，大便調，則在裡之陽已復，而身痛不止，明是表邪未盡，營衛不和
所致，又當急救其表，俾外邪仍從外解，而表裡之辨，始為明且盡耳，救裡與攻
裡天淵，若攻裡必須先表後裡，必無倒行逆施之法，惟在裡之陰寒極盛，恐陽氣
暴脫，不得不急救其裡，俟裡證少定，仍救其表，初不敢以一時之權宜，更一定
之正法也，厥陰篇下利腹脹，身體疼痛者，先溫其裡，乃攻其表，曰先溫，曰乃
攻，形容不得已之次第，足互此意。</p>
<p>辨誤下引邪內入用梔子湯取吐三法。
一法下後煩滿不安，用梔子厚朴湯、一法誤用丸藥大下身熱微煩，用梔子乾薑湯、
一法大下後，身熱心中結痛用梔子豉湯。
（四五）傷寒下後，心煩腹滿，臥起不安者，梔子厚朴湯主之。［原文］
\滿而不煩，即裡證已具之實滿，煩而不滿，即表證未罷之虛煩，合而有之，且
臥起不安，明是邪湊胸表腹裡之間，無可奈何之象，故取梔子以快湧其邪，而合
厚朴枳實，以泄腹中之滿，亦表裡兩解之法也。
（四六）傷寒以丸藥大下之，身熱不去微煩者，梔子乾薑湯主之。［原文］
\丸藥大下，徒傷其中，而不能蕩滌其邪，故梔子合乾薑用之，亦溫中散邪之法
也。
（四七）傷寒五六日，大下之後，身熱不去，心中結痛者，未欲解也，梔子豉湯
主之，發汗若下之，而煩熱胸中窒者，梔子豉湯主之，發汗吐下後，虛煩不得眠，
若劇者必反覆顛倒，心中懊憹者，梔子豉湯主之，若少氣者，梔子甘草豉湯主
之，若嘔者，梔子生薑豉湯主之，凡用梔子湯，病人糞微溏，不可與服之。［原
文］
\香豉主寒熱惡毒，煩躁滿悶，下後身熱不去，心中結痛，則表邪昭著，與前條
之微煩不同，故以梔子合香豉，解散餘邪，又主表而不主裡之法也，然此梔豉一
法，諸凡汗下後，證顯實煩虛煩之不同，要皆可用，以其胸中窒塞，即名實煩，
窒此心中結痛，則較輕也，以其身外熱除，心中不窒，止是虛熱內壅，即名虛煩，
虛煩不得眠，亦即臥起不安之互詞，反覆顛倒，心中懊憹，熱邪逼處，無法可
除，故用梔豉湯，以湧其餘熱，乃因汗吐下後，胸中陽氣不足，最虛之處，便是
容邪之處，正宜因其高而越之耳，若慮津液內竭，正氣暴虛，餘邪不盡，則仲景
原有炙甘草湯一法，寧敢妄湧，以犯虛虛之戒耶，執一而妄註，祇令作者之意盡
失，可惱可惱。糞微溏，則大腑易動，服此湯不能上湧，反為下泄矣，緣內經有
先泄而後生他病者，治其本，必先調之，後乃治其他病，故此示戒。</p>
<p>辨下後，復發汗之脈證及晝夜靜躁二法。
（四八）下之後，復發汗，必振寒，脈微細，所以然者，以內外俱虛故也。［原
文］
\治傷寒，有先汗後下之次第，原不得已之法，設下之後，外邪不盡，復不得已
而發其汗，其人身必振寒，脈必微細，邪雖去而內外俱虛，所傷滋大矣，良工於
汗下之際，已不可無集木臨谷之懼，現以誤治致虛，更可再誤，而犯虛虛之戒乎，
註以振寒屬誤汗，脈微細屬誤下，且牽入亡陽亡陰蔓語，殊失仲景叮嚀之意。
（四九）下之後，復發汗，晝日煩躁，不得眠，夜而安靜，不嘔不渴，無表證，
脈沉微，身無大熱者，乾薑附子湯主之。［原文］
\上條但言振寒及微細之脈，未定所主之病，以虛證不一也，然振寒脈微細，陽
虛之故，已露一班，設晝日煩躁不得眠，其為虛陽擾亂可知矣，其人夜反安靜，
不嘔不渴，則虛陽擾亂，不兼外邪可知矣，乃復以脈沉微，身無大熱，重加辨別
者，仲景意中，恐新邪乘虛暗襲耳，外無邪襲，則煩躁為亡陽之候，而乾薑附子
在所必用矣，即此而推，其人日中安靜，夜多煩躁，則陽不病，而陰病可知矣，
然陰病乃傷寒後之本證，自有陽邪入陰，及陰氣內虧，津液未復之條，故不復互
言之也。</p>
<p>辨吐下後復汗身為振搖動惕久成痿廢二法
一法胸高頭眩脈沉緊加誤汗動經，宜亟通津液、一法飲搏胸脅，經脈動惕久成痿
廢。
（五十）傷寒若吐若下後，心下逆滿，氣上衝胸，起則頭眩，脈沉緊，發汗則動
經，身為振振搖者，茯苓桂枝白朮甘草湯主之。［原文］
\心下逆滿，氣上衝胸，寒邪搏飲，塞湧於膈，所以起則頭眩，脈見沉緊，明係
飲中留結外邪，若但發汗以強解其外，外雖解而津液盡竭，反足傷動經脈，有身
為振搖之患矣，蓋人身經脈，賴津液以滋養，吐下而津液一傷，更發其汗，津液
再傷，坐令鋞脈失養，身為振搖，貽害深矣，所以遇此等證，必一方之中，滌飲
與散邪並施，乃克有濟，太陽第三篇中，用小青龍湯，全是此意，但彼證風寒兩
受，不得不重在表，此證外邪已散，止存飲中之邪，故以桂枝加入制飲藥內，俾
飲中之邪盡散，津液得以四布，而滋養其經脈，千百年來孰解其批卻導窾之微旨
乎。
（五一）傷寒吐下後，發汗，虛煩，脈甚微，八九日，心下痞鞕，脅下痛，氣
上衝咽喉，眩冒，經脈動惕者久而成痿。［原文］
\此即上條之證，而明其增重者，必致廢也，曰虛煩，曰脈甚微，則津液內亡，
求上條之脈沉緊為不可得矣，曰心下痞硬，曰脅下痛，較上條之心下逆滿更甚矣，
曰氣上衝咽喉，較上條之衝胸更高矣，外證痰飲搏結有加，而脈反甚微，不與病
情相協，為日既久，則四屬失其滋養，此後非不有飲食漸生之津液，然久不共經
脈同行，其旁滲他溢與飲同事可知，其不能復榮經脈可知，所以竟成痿也。按汗
下吐三法差誤，陰陽並竭，變證蜂起，加心悸頭眩，身瞤動，面色青黃，四肢
難以屈伸等證，本篇言之不一，皆是教人對證急治，不可因循以貽禍患，如此一
證，心下痞硬，太陽之邪，挾飲上逆也，脅下痛，少陽之邪，挾飲上逆也，逆而
不已，上衝咽喉，逆不而已，過頸項而上衝頭目，因而眩冒有加，則不但身為振
搖，其頸項間，且陽虛而陰湊之矣，陰氣劑頸，反不得還，乃至上入高巔，則頭
愈重而益振搖矣，夫人身之筋脈，全賴元氣與津液為充養，元氣以動而漸消，津
液以結而不布，上盛下虛，兩足必先痿廢，此仲景茯苓杜枝白朮甘草湯，於心下
逆滿，氣上沖胸之日，早已用力乎。</p>
<p>辨傷寒熱瘀小便反利為蓄血用抵當丸一法。
（五二）傷寒有熱，少腹滿，應小便不利，今反利者，為有血也，當下之，不可
餘藥，宜抵當丸。［原文］
\傷寒蓄血，較中風蓄血，更為凝滯，故變上篇之抵當湯為丸，煮而連滓服之，
與結胸項強似柔痓，用大陷胸丸同意，蓋湯者蕩也，陽邪入陰，一蕩滌之，即
散丸者緩也，陰邪入陰，恐蕩滌之而不盡，故緩而攻之，所以求功於必勝也，其
曰不可餘藥者，即本湯不變為丸，不可得矣。</p>
<p>辨傷寒風濕相搏，身體煩疼脈證二法。
（五三）傷寒八九日，風濕相搏，身體煩疼，不能自轉側，不嘔不渴，脈浮虛而
澀者，與桂枝附子湯主之，若其人大便鞕，小便自利者，去桂枝加白朮湯主之。
［原文］
\風木濕土，雖天運六氣中之二氣，然而濕土實地之氣也，經云，地氣之中人也，
下先受之，其與風相搏結，止是流入關節，身疼極重，而無頭疼，及嘔渴等證，
故雖浸淫於週身軀殼，自難犯高巔臟腑之界耳，不嘔者，上無表邪也，不渴者，
內非熱熾也，加以脈浮虛而澀，則為風濕搏於軀殼無疑，故用桂枝附子，疾馳經
絡水道，以迅掃而分竭之也。
（五四）風濕相搏，骨節煩疼，掣痛，不得屈伸，近之則痛劇，汗出短氣，小便
不利，惡風不欲去衣，或身微腫者，甘草附子湯主之。［原文］
\此條復互上條之意，而辨其證之較重者，痛不可近，汗出短氣，惡風不欲去衣，
小便不利，或身微腫，正相搏之最劇處，故於前方加白朮，以理脾而下滲其濕，
減薑棗之和中，以外泄其風，要皆藉附子之大力者，負之而走耳。</p>
<p>辨傷寒發黃有寒濕相搏四法。
（五五）傷寒發汗已，身目為黃，所以然者，以寒濕在裡不解故也，以為不可下
也，於寒濕中求之。［原文］
\傷寒發汗已，熱邪解矣，何繇反蒸身目為黃，所以然者，寒濕搏聚，適在軀殼
之裡，故爾發黃也，裡者在內之通稱，非謂寒濕深入在裡，蓋身目正屬軀殼，與
臟腑無關也，於寒濕中求之，即下文三法也。
（五六）傷寒瘀熱在裡，身必發黃，麻黃連翹赤小豆湯主之。［原文］
\傷寒之邪，得濕而不行，所以熱瘀身中而發黃，故用外解之法，設泥裡字，豈
有邪在裡而反治其表之理哉。
（五七）傷寒七八日，身黃加橘子色，小便不利，腹微滿者，茵陳蒿湯主之。［原
文］
\黃色鮮明，其為三陽之熱邪無疑，小便不利，腹微滿，乃濕家之本證，不得因
此指為傷寒之裡證也，方中用大黃者，取佐茵陳梔子，建驅濕除熱之功，以利小
便，非用下也。
（五八）傷寒身黃發熱者，梔子蘗皮湯主之。［原文］
\熱已發出於外，自與內瘀不同，正當隨熱勢清解其黃，俾不留於肌表間也，前
條熱瘀，故用麻黃，此條發熱，反不用麻黃者，蓋寒濕之證，難於得熱，熱則其
勢外出，而不內入矣，所謂於寒濕中求之，不盡泥傷寒定法，此非一徵歟。用三
法以驅傷寒發黃，於寒濕中求之，能事畢矣，設不知此，妄行攻下，其邪乘虛陷
入陽明中土，日與水穀相蒸，身目之黃，有加無已，漸至沉錮不返者多矣，此仲
景所為叮嚀不可下之意乎。同一濕也，與風相搏則為掣痛，與寒相結則發黃，是
俱太陽表邪，故戒不可下，叔和不察，將寒濕編入陽明之末，未免與不可下之旨
相悖，今悉歸太陽，求不違先聖矩矱云。</p>
<h2>太陽經下篇</h2>
<p>凡風寒兩傷營衛之證列於此篇，法二十四條。
\按上篇太陽中風，迺衛病而營不病之證，中篇太陽傷寒，迺營病而衛不病之證，
然天氣之風寒每相因，人身之營衛非兩截，病則俱病者恆多，迨俱病則邪勢孔熾，
其人必增煩躁，非發汗不解，故仲景取用青龍之法，乃內經陽之汗以天地之雨名
之之義也，但青龍為神物，最難駕馭，必審其人無少陰脈證，乃可用之，以少陰
亦主煩躁故也，因是更立真武一湯，以救青龍之誤投，白虎一湯，以匡青龍之不 
逮，神方畢用，所謂神乎其神者矣，有志精義入神之學者，請自茲篇證入。</p>
<p>用大青龍湯詳辨脈辭大綱二法。
（一）太陽中風，脈浮緊，發熱惡寒，身疼痛，不汗出而煩躁者，大青龍湯主之，
若脈微弱，汗出惡風者，不可服，服之則厥逆，筋惕肉瞤，此為逆也，以真武
湯救之。［原文］
\天地鬱蒸，得雨則和，人身煩躁，得汗則解，大青龍湯證，為太陽無汗而設，
與麻黃湯證何異，因有煩躁一證兼見，則非此法不解，蓋風為煩，寒為躁，故用
之發汗，以解其煩躁也，究竟本方原於無汗者，取微似汗，若有汗者之煩躁，全
非鬱蒸之比，其不藉汗解甚明，加以惡風脈微弱，則是少陰亡陽之證，若脈浮弱，
汗出惡風而不煩躁，即是太陽中風之證，皆與此湯不相涉也，誤服此湯，寧不致
厥逆惕瞤，而速其陽之亡耶，仲景不能必用法者，盡如其法，更立真武一湯，
以救其誤，學者能識其鄭重之意，即百用不至一誤矣，特為剖析疑義，相與明之。
按解肌兼發汗，而取義於青龍者，龍升而雲興，雲興而雨降，鬱熱頓除，煩躁乃
解，匪龍之為靈，何以得此乎，觀仲景製方之意，本是桂枝麻黃二湯合用，但因
芍藥酸收，為興龍致雨所不宜，故易以石膏之辛甘大寒，辛以散風，甘以散寒，
寒以勝熱，一藥而三善俱備，且能助青龍升騰之勢，所以為至當至神之法也，然
而去芍藥之酸收，增石膏之辛散，外攻之力，猛而難制，在寒多風少，及風寒兩
停之證，則用當而通神，其有風無寒之證，及微弱之脈，若不知辨而概用之，有
厥逆惕瞤而亡陽耳，此疏庸之輩，所為望而畏之乎，詎知仲景於風多寒少之
證，而見微邪之脈，有用桂枝二越婢一之法，桂枝全方，不去芍藥，取用其二，
全是不欲發汗之意，復改麻黃一湯，為越婢一者，略用麻黃石膏一物，示微發於
不發之中耳，夫婢，女子之卑者也，女子因以順為正，況于婢則惟所指使，更無
專擅矣，以大青龍之升騰變化，不可駕馭之物，約略用之，乃至性同女婢之卑柔，
此仲景通天手眼也，只一方中，忽焉去芍藥，為大青龍而升天興雲雨，忽焉存芍
藥，為小青龍而蟠泥潤江海，忽焉用桂枝二越婢一，而細雨濕泥沙，精義入神之
道，比仙經較著矣，後人不窺作者之藩，安望其能用之也哉。再按誤服大青龍湯，
厥逆筋惕肉瞤者，既有亡陽之逆矣，亡陽帥當用四逆湯以回陽，乃置而不用，
更推重真武一湯以救之者，其義何居，蓋真武乃北方司水之神，龍惟藉水乃能變
化，而水者真武之所司也，設真武不與之以水，青龍之不能奮然升天可知矣，故
方中用茯苓白朮芍藥附子，行水收陰，醒脾崇土之功，多於回陽，名之曰真武湯，
乃收拾分馳離絕之陰陽，互鎮於少陰北方之位，其所收拾者，全在收拾其水，使
龍潛而不能見也，設有一毫水氣上逆，龍即得遂其升騰變化，縱獨用附子乾薑以
回陽，其如魄汗不止何哉，厥後晉旌陽祖師，以仙術斬蛟，捕至蛟龍遁跡之所，
戒其家勿蓄勺水，乃至從硯中水逸去，可見水怪，原有尺水丈波之能，向非真武
坐鎮北方，天壤間久為龍蛇之窟矣，即此推之，人身陽根於陰，其亡陽之證，乃
少陰腎中之真陽飛越耳，真陽飛越，亟須靜攝歸根，陽既歸根陰必翕然從之，陰
從則水不逆矣，陰從則陽不孤矣，豈更能飛越乎，故舍天人一致之理，以譚醫者，
非真至也。後賢用附子為末，以止陰躁，名曰霹靂散，藥雖善，而名則可笑，夫
陰躁正厥瞤惕之候，而霹靂又青龍行雨之符，以是名方，其違聖悖理，可勝
道哉。
（二）傷寒脈浮緩，身不疼，但重，乍有輕時，無少陰證者，大青龍湯發之。［原
文］
\前條太陽中風四字，括上篇而言，此條傷寒二字，括中篇而言，風寒之脈證錯
見，則桂枝湯與麻黃湯，為不可用，不待言矣，故二條反覆互明大青龍湯，允為
風寒兩兼，的對之藥也，無少陰證，成註謂不久厥吐利，無少陰裡證，夢語喃喃，
誤人最大，仲景原文，但重乍有輕時六字，蚤已挈明，言但身重，而無少陰之欲
寐，其為寒因可審，況乍有輕時，不似少陰之晝夜俱重，又兼風因可審，所以敢
恣行無忌，力驅其在表之風寒，若脈微弱，身重欲寐，則內顧少陰，且不遑矣，
敢發之乎。細玩二條文意，傷風脈本微緩，反見浮緊，傷寒脈本浮緊，反見微緩，
是為傷風見寒，傷寒見風，兩無疑矣，既無可疑，又當辨無少陰證相雜，則用青
龍，萬舉萬當矣，故脈見浮弱，即不可用大青龍湯，以少陰病脈必微細也，方註
泥弱字，牽入中風之脈，陽浮陰弱為解，大失仲景叮嚀垂戒之意，不思中風之脈，
以及誤汗等證，太陽上篇已悉，此處但歸重分別少陰，以太陽膀胱經，與少陰腎
經，合為表裡，膀胱邪勝腎切震鄰，其在陰精素虛之人，表邪不俟傳經，蚤從膀
胱之府，襲入腎藏者有之，現兩感夾陰等證，臨病尤當細察，設少陰不虧，表邪
安能飛渡，而見身重欲寐等證耶，故有少陰證者，不得己而行表散，自有溫經散
邪，兩相綰炤之法，豈可徑用青龍之猛，立剷孤陽之根乎，仲景豎此一義，用法
之妙，已竭盡無餘，後人顛倒無傳妄行註釋，致令察脈辨證之際，懵然不識要妙，
祇覺仲景之堂，無階可升，其治虛勞發熱，骨蒸多汗，每輕用升柴，恣行表散，
遵依東垣升陽散火，迺至百不救一，今與英賢商搉仲景法，豈非民生之一幸歟。</p>
<p>青龍項中脈見浮緊日久致衄用麻黃湯次第三法
（三）太陽病，脈浮緊無汗，發熱身疼痛，八九日不解，表證仍在，此當發其汗，
服藥已微除，其人發煩熱，目瞑，劇者必衄，衄乃解，所以然者，陽氣主重故也，
麻黃湯主之。［原文］
\此風多寒少之證，服藥已微除，則藥不勝病可知，發煩者熱蒸而鬱煩也，目瞑
者，熱轉營血肝氣不治也，劇則熱甚於經，必迫血妄行而為衄，衄則熱隨血散而
解也，陽氣重者，風屬陽而入衛，氣為寒所持故重也，所以雖得衄解，仍主麻黃
湯以發其未盡之沉滯，而大變乎中風之例也。
（四）太陽病，脈浮緊，發熱身無汗，自衄者愈。［原文］
\此即前條風多寒少之證，但無身疼痛，則寒證較輕，又無發煩目瞑，則陽氣亦
不重，自衄即愈，比前衄乃解亦易安，所以既衄，則不更主麻黃湯也。
（五）傷寒脈浮緊，不發汗因致衄者，麻黃湯主之。［原文］
\此寒多風少之證也，寒多不發汗，所以致衄，既衄則風邪得解，所以惟用麻黃
湯，以發其未散之寒，而但從傷寒之例也。</p>
<p>青龍項中狀如瘧表裡虛禁汗吐下用各半湯一法
（六）太陽病，得之八九日，如瘧狀，發熱惡寒，熱多寒少，其人不嘔，清便欲
自可，一日二三度發，脈微緩者，為欲愈也，脈微而惡寒者，此陰陽俱虛，不可
更發汗，更下更吐也，面色反有熱色者，未欲解也，以其不能得小汗出，身必癢，
宜桂枝麻黃各半湯。［原文］
\此亦風多寒少之證，以其風雖外薄，為寒所持，而不能散，所以面顯怫鬱之熱
色，宜總風寒而兩解之也。</p>
<p>青龍項中脈微弱為無陽用桂枝二越婢一湯一法
（七）太陽病，發熱惡寒，熱多寒少，脈微弱者，此無陽也，不可更汗，宜桂枝
二越婢一湯。［原文］
\此亦風多寒少之證，無陽二字，仲景言之不一，後人不解，皆置為闕疑，不知
乃亡津液之通稱也，故以不可更汗為戒，然非汗則風寒終不解，惟取桂枝之二以
治風，越婢之一以治寒，乃為合法，越婢者石膏之辛涼也，胃得之則熱化津生，
以此兼解其寒，柔緩之性，比女婢猶為過之，可用之無恐矣。</p>
<p>青龍項中汗出不解用桂枝二麻黃一湯一法
（八）服桂枝湯，大汗出，脈洪大者，與桂枝湯如前法，若形如瘧，日再發者，
汗出必解，宜桂枝二麻黃一湯。［原文］
\此亦風多寒少之證，服桂枝湯，治風而遺其寒，汗反大出，脈反洪大，似乎風
邪再襲，故重以杜枝湯探之，若果風邪之故，立解矣，若形如瘧，日再發，則邪
本欲散，又且淺而易散，其所以不散者，終為微寒所持，故略兼治寒，而汗出必
解也。</p>
<p>青龍項中辨表裡用桂枝湯單解風邪一法
（九）傷寒不大便六七日，頭痛有熱者，與承氣湯，其小便清者，知不在裡，仍
在表也，當須發汗，若頭痛者必衄，宜桂枝湯。［原文］
\六七日不大便，明係裡熱，況有熱以證之，更可無疑，故雖頭痛，可用承氣下
之，若小便清者，邪未入裡，即不可下，仍當發汗以散表邪，然頭疼有熱，多是
風邪上壅，勢必致衄，若兼寒邪，則必如第二類之身疼痛目暝，何以但頭痛，而
無身目之證耶，故惟用桂枝湯，以解風邪，與用麻黃湯之法各別也。</p>
<p>青龍項中風寒挾飲微結桂枝合五苓加減一法
（十）服桂枝湯，或下之，仍頭項強痛，翕翕發熱無汗，心下滿，微痛，小便不
利者，桂枝湯去桂，加茯苓白朮湯主之。［原文］
\服桂枝揚，治風而遺其寒，所以不解而證變，設更下之，則邪勢乘虛入裡益誤
矣，在表之風寒未除，而在裡之水飲上逆，故變五苓兩解表裡之法，而用茯苓白
朮為主治，去桂枝者，以已誤不可復用也，然桂枝雖不可用，其部下諸屬，皆所
必需，倘併不用芍藥以收陰，甘草薑棗以益虛而和脾胃，其何以定誤汗誤下之變
耶，故更一主將，而一軍用命，甚矣，仲景立方之神也。</p>
<p>青龍項中火迫亡陽用桂枝湯加減救逆一法
（一一）傷寒脈浮，醫以火迫劫之，亡陽必驚狂，起臥不安者，桂枝去芍藥，加
蜀漆龍骨牡蠣救逆湯主之。［原文］
\此條文義甚明，後人不識作者之意，雖有良法而不能用，茲特闡之篇首，誤服
大青龍湯，厥逆筋惕肉瞤而亡陽者，乃汗多所致，故用真武湯救之，此以火
迫劫而亡陽者，乃方寸元陽之神，被火迫劫而飛騰散亂，故驚狂起臥不安，有如
此者，少緩須臾，駟馬莫追，神丹莫挽矣，故用此湯救之，桂枝湯中除去芍藥，
人皆不知其故，或謂惡其酸收，非也，夫神散正欲其收，何為見惡耶，設不宜於
芍藥之酸，又何宜於龍骨牡蠣之濇耶，學者於此等處，當猛下一參，透此一關，
勝讀方書千卷，蓋陽神散亂當求之於陽，桂枝湯陽藥也，然必去芍藥之陰重，始
得疾趨以達於陽位，既達陽位矣，其神之驚狂者漫難安定，更加蜀漆為之主統，
則神可賴之以攸寧矣，緣蜀漆之性最急，丹溪謂其能飛補是也，更加龍骨牡蠣有
形之骨屬，為之舟楫，以載神而返其宅，亦以重而鎮怯，濇以固脫之外行，其妙
用如是，而後天君復辟，聿迫晉重耳越勾踐返國之良圖矣，仲景製方，豈易識哉。</p>
<p>青龍項中火逆煩躁用桂枝甘草龍骨牡蠣湯一法
（三）火逆下之，因燒鍼煩躁者，桂枝甘草龍骨牡蠣湯主之。［原文］
\此證誤而又誤，雖無驚狂等變，然煩躁，則外邪未盡之候，亦真陽欲亡之機，
故但用桂枝以解其外，龍骨牡礪以安其內，不用蜀漆者，以元神未至飛越，無取
急追，以滋擾也。</p>
<p>青龍項中誤用桂枝治風遺寒治表遺裡救變一法
（一三）傷寒脈浮，自汗出，小便數心煩，微惡寒，腳孿急，反與桂枝湯，欲攻
其表，此誤也，得之便厥，咽中乾煩躁吐逆者，作甘草乾薑湯與之以復其陽，若
厥愈足溫者，更作芍藥甘草湯與之，其腳即伸，若胃氣不和，讝語者，少與調
胃承氣湯，若重發汗，復加燒鍼者，四逆湯主之。［原文］
\此段辨證用法，最精最詳，從前不得其解，今特明之，脈浮自汗，固是在表之
風邪，而小便數，心煩，則邪又在裡，加以微惡寒，則在裡為寒邪，更加腳孿急，
則寒邪頗重矣，迺用桂枝獨治其表，則陽愈虛，陰愈無制，故得之便厥也，桂枝
且誤，麻黃更可知矣，大青龍更可知矣，陰寒內凝，總無攻表之理也，甘草乾薑
湯復其陽者，即所以散其寒也，厥愈足溫，不但不必治寒，且慮前之辛熱有傷其
陰，而足孿轉錮，故隨用芍藥甘草，以和陰而伸其腳，設胃氣不和而讝語，則
胃中津液，亦為辛熱所耗，故少與調胃承氣湯，以和胃而止其讝，多與則為下，
而非和矣，若不知此證之不可汗，而重發其汗，復加燒鍼，則陽之虛者必造於亡，
陰之無制者必至犯上無等，此則用四逆湯以回其陽，尚恐不勝，況可兼陰為治乎。
\問曰，證象陽旦，按法治之，而增劇厥逆，咽中乾，兩脛拘急而讝語，師言
夜半手足當溫，兩腳當伸，後如師言，何以知此，答曰，寸口脈浮而大，浮則為
風，大則為虛，風則生微熱，虛則兩脛孿，病證象桂枝，因加附子參其間，增桂
令汗出，附子溫經，亡陽故也，厥逆咽中乾煩躁，陽明內結，讝語煩亂，更飲
甘草甘薑湯，夜半陽氣還，兩足當熱，脛尚微拘急，重與芍藥甘草湯，爾乃脛伸，
以承氣湯微溏，則止其讝語，故知病可愈。［原文］
\附答門人問辭，求正四方道契。門人問曰，證象陽旦，成註謂是桂枝之別名，
方註謂陽以風言，旦，曉也，似中風分曉，以本啻中風，故設難詳申其義，一主
藥，一主證，二家未知孰是，答曰，主藥則既名桂枝云，何別名陽旦，是必一百
一十三方，方方皆有別名然後可，主證則既是中風，復云不啻中風，果為何證，
且訓旦為曉，尤為牽強不通，二家於此等大關係處，尚且昏昏，後學安得不面牆
耶，夫仲景之圓機活法，妙在陽旦陰旦二湯，陽旦者天日晴暖，以及春夏溫熱之
稱也，陰旦者，風雨晦冥，以及秋冬涼寒之稱也，只一桂枝湯，遇時令溫熱，則
加黃芩，名陽旦湯，遇時令涼寒則加桂枝，名陰旦湯，後世失傳，紛紛謂杜枝不
宜於春夏者，皆繇不識此義耳，即如此證，既象陽旦，又云按法用之，即是按用
桂枝加黃芩之法也，所以病人得之，便厥，明明誤在黃芩助其陰寒，若單服桂枝
湯，何至是耶，故仲景即行陰旦之法，以救其失，觀增桂令汗出一語，豈不昭眧
耶，陰旦不足，更加附子溫經，即咽中乾陽明內結讝語煩亂，渾不為意，且
重飲甘草乾薑湯，以俟夜半陽回足熱，後果如其言，豈非先有所試乎，惟黃芩入
口而便厥，未幾即以桂附乾薑尾其後，固知其厥必不久，所以可斷云夜半手足當
溫，況咽乾譫語熱證相錯，其非重陰沍寒可知，故饞得足溫，即便以和陰為務，
何其審哉，今與二三同調，抵掌譚仲景，當年治病機宜，愧無旨酒，滿浮大白耳。</p>
<p>青龍項中汗下後煩躁將欲亡陽宜補虛回陽一法
（一四）發汗若下之，病仍不解，煩躁者，茯苓四逆湯主之。［原文］
\煩躁者大青龍湯證，然脈弱汗出惡風者，誤服之，則厥逆筋惕肉瞤，首條已
諄諄致戒矣，此條復申其辨，見汗下不解，轉增煩躁，則真陽有欲亡之機，而風
寒之邪，在所不計，當用茯苓人參乾薑附子，溫補兼行，以安和其欲越之陽，俾
虛熱自退，煩躁自止，乃為合法，若因煩躁，更加散邪則立斃矣，夫不汗出之煩
躁，與發汗後才煩躁，毫釐千里，不汗出之煩躁，不辨脈而誤投大青龍，尚有亡
陽之變，是則發汗後之煩躁，即不誤在藥，已誤在汗矣，此仲景所為見微知著，
倣真武之例，更加人參之補，以嘿杜其危哉，下後煩躁，較未下之煩躁亦殊。</p>
<p>青龍項中風寒兼見寒熱兩壅宜分解陰陽一法
（一五）傷寒胸中有熱，胃中有邪氣，腹中痛，欲嘔吐者，黃連湯主之。［原文］
\胸中有熱，風邪在上也，胃中有邪氣，寒邪在中也，腹中痛，陽邪欲下而不得
下也，欲嘔吐，陰邪欲上而不得上也，此所以知其熱邪中上，寒邪中下，陰陽各
不相入，失其升降之恆，故用黃連湯，以分理陰陽而和解之也，嘗因此法而推及
臟結之證，舌上有胎者，又為寒反在上，熱反在下，陰陽悖逆，既成危候，仲景
但戒以不可攻，未言治法，然非先之以和解，將立視其死乎，學者請於黃連湯著
眼。［祥見太陽中篇臟結條］</p>
<p>青龍項中辨脈證之縱橫而刺其經穴二法
（一六）傷寒腹滿讝話，寸口脈浮而緊，此肝乘脾也，名曰縱，刺期門。［原
文。期門二穴在不容兩傍各去同身寸之一寸五分肝之募也。］
\肝木乘脾土，名曰縱，其證腹滿讝語，其脈寸口浮而緊，寸口即氣口，脾胃
脈之所主也，浮而且緊，即弦脈也，肝木過盛，所以脾胃之土受制也。
（一七）傷寒發熱，濇濇惡寒，大渴欲飲水，其腹必滿，自汗出小便利，其府欲
解，此肝乘肺也，名曰橫，刺期門。［原文］
\肝脈乘肺金，名曰橫，發熱，濇濇惡寒者，太陽之本證也，大渴飲水者，木盛
則熱熾，而求水以潤之也，木得水助，其勢益橫反侮所不勝，而上乘乎肺，水勢
泛溢，其腹必滿，然肺金素無他病者，必能暗為運布，或自汗而水得外滲，或小
便利而水得下行，其病欲解也，亦繇但腹滿而不讝語，故易解耳。直貫上下
曰縱，眠旦兩旁曰橫，木本剋土，而乘乎土，其事直，故為縱，木受制於金，而
反乘金，其事不直，故曰橫，直則難愈，不直則易安，理之常也，然縱橫之證不
同，而同刺期門穴者，以賊土侮金，皆繇木盛，腹滿讝語，證涉危疑，故急
以瀉木為主治也。</p>
<p>用小青龍湯外散風寒內滌水飲二法
（一八）傷寒表不解，心下有水氣，乾嘔發熱，而咳，或渴或利或噎，或小便不
利，少腹滿，或喘者，小青龍湯主之。［原文］
\風寒不解，心下有水氣，水即飲也，水寒相搏，必傷其肺，或為多證者，人身
所積之飲，或上或下或中，或熱或冷，各不相同，而肺同為總司，但有一二證見，
即水逆之應也，於散風寒滌水飲藥中，加五味子之酸，以收肺氣之逆，乾薑之辛，
以瀉肺氣之滿，名曰小青龍湯，蓋取其翻披逐浪以歸江海，不欲其興雲升天而為
淫雨之意也，後人謂小青龍湯為發汗之輕劑，毋乃昧其旨乎。
（一九）傷寒心下有水氣，咳而微喘，發熱不渴，服湯已，渴者此寒去欲解也，
小青龍湯主之。［原文］
\風寒挾水飲上逆，津液不下行，故不渴，渴則可知津液不逆，為寒去欲解之徵
也，寒去欲解，仍用小青龍湯，與上篇脈見單浮，用桂枝湯，中篇脈見單浮，用
麻黃湯同意，大率以輕劑助其欲解之勢耳。按桂枝麻黃湯無大小，而青龍湯有大
小者，以桂枝麻黃之變法多，大青龍之變法，不過於麻桂二湯內施其化裁，或增
或去，或饒或減，其中神化，莫可端倪，又立小青龍一法，散邪之功，兼乎滌飲，
取義山澤，小龍養成頭角，乘雷雨而翻江攪海，直奔龍門之意，用以代大青龍，
而擅江河行水之力，立法誠大備也，因經叔和之編次，漫無統紀，昌於分篇之際，
特以大青龍為綱，於中桂麻諸法，悉統於青龍項下，擬為龍背龍接龍腹，然後以
小青龍尾之，或飛或潛，可弭可伏，用大用小，曲暢無遺，居然仲景通天手眼，
馭龍心法矣，更復顧名思義，清其血脈，於青龍尾後方綴白虎，為之對待，俾觀
者知神用無方，爽然有會，表章之餘，聊資啟發云。或問青龍自為一隊，即白虎
且剔出另峙其後，然則脈證之縱橫，何與青龍事耶，答曰，此等奧義，惟作者知
之，傷寒多有忽然自汗，突爾亡陽之候，雖不用青龍之藥，蚤已犯青龍之逆者矣，
況腹滿則陰盛可知，讝語則陽虛可慮，仲景特挈縱橫以名之者，豈無說耶，蓋
屈蠖者，龍之所以伏也，縱橫者龍之所以飛也，縱橫之脈證不同，刺穴同用期門，
期門乃肝木所主，東方青龍之位也，刺其穴者，正所以制龍本而預弭亡陽之變耳，
故一青龍方中，張大其施，則升行而為霖雨，狹小其制，則鼓浪而奔江海，馴其
性能，則踰越女婢之卑柔，刺其經穴，則銷弭靈幻於寂若，仲景於其奮髯升天，
萬難把捉之時，尚以真武一法，坐鎮北方之水，俾地氣不上，天氣不下，所謂其
雨其雨，杲杲日出，龍之既升於天者，且不得不復返於淵，況未及升騰，可馴可
撫，顧無法以制伏之耶，此余所為有會於縱橫之義也，儻不其然，匪但無與青龍
之事，亦并無與傷寒之事矣，昔有善畫龍者，舉筆凝思，而青天忽生風雨，吾不
知仲景製方之時，其為龍乎，其為仲景乎，必有倏焉雷雨滿盈，倏焉密雲不雨，
倏焉波浪奔騰，倏焉天日開朗，以應其生心之經綸者，神哉，青龍等方，即擬為
九天龍經可矣。婁東胡卣臣先生，昌所謂賢士大夫也，夙苦痰飲為恙，夏月地氣
上升，痰即內動，設小有外感，膈間痰即不行，兩三日瘥後，當膺尚結小痤，無
醫不詢，無方不考，乃至夢寐懇求大士救療，因爾聞疾思苦，深入三摩地位，薦
分治病手眼，今且仁智兼成矣，昌昔謂膀胱之氣化大行，地氣不升，則天氣常朗，
其偶受外感，則仲景之小青龍一方，與大士水月光中大圓鏡智無以異也，蓋無形
之感，挾有形之痰，互為膠漆，其當胸窟宅，適在太陽經位，惟於麻桂方中，倍
加半夏五味，以滌飲而收陰，加乾薑細辛，以散結而分邪，合而用之，令藥力適
在痰邪綰結之處，攻擊片時，則無形之感，從肌膚出，有形之痰，從水道出，頃
刻分解無餘，而膺胸空曠，不復叢生小痤矣，若泥麻桂甘溫，減去不用，則不成
其為龍矣，將恃何物為翻波鼓浪之具乎。</p>
<p>變青龍湯經制改用白虎湯權宜五法
（二十）服桂枝湯，大汗出後，大煩渴不解，脈洪大者，白虎加人參湯主之。［原
文］
\大汗出，則津液外亡，大煩渴，則躁熱內極，脈轉洪大，則凶變將起，青龍湯
為不對矣，計惟白虎湯，可兩解表裡之熱，加人參可潤躁止渴也。
（三）傷寒脈浮滑，此表有熱裡有寒，白虎湯主之。［原文］
\傷寒之脈，陰陽俱緊，此云浮滑，則兼風可知，滑為裡熱，浮滑則表亦熱矣，
裡有寒者，傷寒傳入於裡，更增裡熱，但因起於寒，故推本而曰裡有寒，實則表
裡俱為熱極也。
（一三）傷寒脈浮，發熱無汗，其表不解者，不可與白虎湯，渴欲飲水，無表證
者，白虎加人參湯主之。［原文］
\白虎湯但能解熱，不能解表，必惡寒頭身疼痛之表證皆除，但熱渴而求救於水
者，方可與之。
（二三）傷寒無大熱，口躁渴心煩，背微惡寒者，白虎加人參湯主之。［原文］
\表裡熱極，躁渴心煩，全無惡寒，頭疼身痛，諸表證者，固當行白虎矣，若脈
浮滑，背微惡寒，此為表熱少，裡熱多之證，仍可與之，蓋以脈滑明係裡熱，而
背為至陰之地，雖表退佝有餘寒，不當牽泥也，設脈但浮而不滑，證兼頭疼身痛，
則雖表裡俱熱，而在表之邪渾未退，白虎湯即不可用，以白虎辛涼不能解表故也。
此條辨證最細，脈滑而帶浮，渾身無大熱，又不惡寒，但背間微覺惡寒，是表邪
已將罷，其人口躁渴心煩，是裡熱已大熾，更不可姑待，而當急為清解，恐遲則
熱深津竭，無救於事矣。門人問用白虎則表熱不解，用青龍則裡熱轉增，試擬議
於二者之間，不識當用何法，答曰，惟於大青龍湯中，倍增石膏，少減麻桂，或
見寒多風少，則用麻杏甘石湯，亦倍增石膏，少減麻黃，斯固圓機，然亦即可為
定法矣。
（二四）傷寒病，若吐若下後，七八日不解，熱結在裡，表裡俱熱，時時惡風大
渴，舌上乾躁而煩，欲飲水數升者，白虎加人參湯主之。［原文］
\玩此條表證，比前較重，何以亦用白虎耶，本文熱結在裡，表裡俱熱二句，已
自酌量，惟熱結在裡，所以表熱不除，況加大渴飲水，安得不以清裡為急耶，白
虎五證，得隸青龍後者，以風寒俱有故也。寒與風皆傷，宜從辛甘發散矣，而表
與裡又俱熱，則溫熱為不可用，欲并風塞表裡之熱而俱解之，不其難乎，故立白
虎湯一法，以輔青龍之不逮，其藥乃石膏知母，辛涼之二物也，辛者西方金也，
涼者秋令也，酷熱之時，欲求金風薦爽，萬不可得，計惟虎嘯則山谷間習習風生，
風生則熱解耳，所以取辛涼二物，偶而成方，以象白虎之陰也，夫青龍變化莫測，
方無定體，故各用制伏之法，若白虎則地獸之靈，得風從而其威愈震，亦不易制
伏之物，況裡熱已極，津液垂亡，元氣所存無幾，而領西方之肅殺，以入胃中，
能無慮乎，於是以甘草之甘緩，和其猛性，而入米同煎，以助胃中水穀之氣，虛
者更加人參，以助胃中天真之氣，乃可用之而無患，制法早具於一方之內矣，世
傳孫思邈有降龍伏虎之能，豈非以仲景之心法為道法耶。夫以石膏一物之微，入
甘溫隊中則為青龍，從清涼同氣，則為白虎，惟文武聖神之哲，乃能用之恰當，
此龍虎所為慶風雲之會也，設在表之風寒未除，當用青龍，而反用白虎，設在裡
之熱渴已逼，當用白虎而反用青龍，則用者之誤，竟與倒行逆施者同類，寧不敗
乃事乎，傷心哉，千古興亡之際，同一醫轍矣。</p>

<h1>卷二</h1>
<h2>尚論陽明經證治大意</h2>
<p>傷寒之證，無如太陽一經，風寒參錯，表裡差殊，難於辨認，昌分三篇，先列鄙
語以引其端，後隨仲景原文，闡其立言精意，俾業醫者，得其門而入，庶足以窺
其富美也，而陽明一經之病，治之尤難，蓋胃為水穀之海，五臟六腑之大源，多
氣多血之衝，乃吉凶死生所攸關，仲景著論精詳，後人讀之憒憤，今僭為尚論，
請得而要言之也，夫陽明者胃也，陽明以胃實為正，胃實則皆下證也，然陽明之
邪，其來路則繇太陽，凡陽明證見八九，而太陽證有一二未罷，即從太陽而不從
陽明，可汗而不可下也，其去路則趨少陽，凡陽明證縱見八九，而少陽證略見一
二，即從少陽而不從陽明，可汗而不可下也，其去路趨少陽，凡陽明證縱見八九，
而少陽證略見一二，即從少陽而不從陽明，汗下兩不可用也，惟風寒之邪，已離
太陽，未接少陽，恰好在陽明界內之時，用藥亟為攻下，則渙然冰釋，而不再傳
他經，津液元氣，兩無虧損，何快如之，此等機會，間不容髮，庸愚無識，妄守
顓門，必俟七日傳經已盡，方敢言下，縱不危殆，而津液元氣，所喪滋多矣，況
太陽一經，早有十餘日不解者，若不辨經而但計日，其誤下仍在太陽，至陽明二
三日內，即顯下證，反以計日，當面錯過，及陽明已趨少陽，又以計日妄行攻下，
乃至少陽復轉陽明，更全不識其證，以至熱邪在胃，爍盡津液，輕者重而重者死
矣，所關顧不鉅耶，謹將陽明之證，亦比太陽之例，分為三篇，俾觀者了無疑惑，
斯臨病不致差誤耳。</p>
<h2>陽明經上篇［凡外邪初入陽明地界，未離太陽，凈盡者謂之太陽，陽明列於此篇］</h2>
<p>太陽與陽明兩經各半，謂之合病，兩經連串，謂之併病，另自名篇於三陽經後，
不在此例，此乃邪入陽明，而太陽將盡未盡之證也。
（一）陽明病，脈遲汗出多，微惡寒者，表未解也，可發汗，宜桂枝湯方。［原
文］
（二）陽明病，脈浮無汗而喘者，發汗則愈，宜麻黃湯。［原文］
\仲景此二條之文，前條云風未解，後條即不云寒未解者，互文也，前條云，宜
發汗，後條云，發汗則愈者，亦互文也，蓋外邪初入陽明，用桂枝湯解肌，則風
邪仍從衛分出矣，用麻黃湯發汗，則寒邪仍從營分出矣，營分之邪，深於衛分，
且從外出而愈，則衛分更不侍言矣，論中每用互文處，其妙義大率若此。
（三）陽明病，能食者為中風，不能食者為中寒。［原文］
\風則傷衛，寒則傷營，一定之理，是則足三陽經，太陽行身之背，陽明行身之
前，少陽行身之側，皆可言營衛受邪，何仲景於陽明經，但以能食不能食分風寒，
而不以營衛分風寒耶，蓋營衛交會於中焦，論其分出之名，則營為水榖之精氣，
衛為水榖之悍氣，論其同出之源，混然一氣，何繇分其孰為營孰為衛哉，惟風為
陽，陽能消穀，故能食，寒為陰，陰不能消榖，故不能食，以此而辨風寒之邪，
庶幾確然有據耳，仲景析義之精若此，如習焉不察者何。
（四）脈陽微而汗出少者，為自和也，汗出多者為太過，陽脈實因發其汗出多者，
亦為太過，太過為陽絕於裡，亡津液，大便因鞕也。［原文］
\陽微者，中風之脈，陽微緩也，陽實者傷寒之脈，陽緊實也，陽絕即亡津液之
互辭，仲景每於亡津液者，悉名無陽，本文陽絕於裏亡津液，大便因鞕甚明，
註家認作汗多而陽亡於外，大謬。傷寒發太陽膀胱經之汗，即當顧慮陽氣，以膀
胱主氣化故也，發陽明胃經之汗，即當顧慮陰津以胃中藏津液故也，所以陽明多
有熱越之證，稍胃中津液，隨熱而盡越於外，汗出不止耳，然則陽明證，不論中
風傷寒，脈微脈實，汗出少而邪將自解，汗出多則陰津易致竭絕，業醫者可不謹
持其柄，而用重劑發汗以劫人之津液耶，觀仲景於太陽發汗之重劑，以青龍名之，
可見亢旱得之，則為甘霖，若淫雨用之，則沉灶產蛙，傷禾害稼，有載胥及溺已
耳，此陽明所以有桂枝麻黃湯證，而無大青龍湯證也，噫，微矣哉。
（五）問曰，陽明病，外證云何，答曰，身熱汗自出，不惡寒，反惡熱也。［原
文］
\以此辨陽明中風之外證，正兼太陽也。
（六）問曰，何緣得陽明病，答曰，太陽病，苦發汗，若下，若利小便，此亡津
液，胃中乾燥，因轉屬陽明，不更衣，內實大便難者，此名陽明也。［原文］
\以此辨陽明中風之裡證。
此屬正陽陽明可卜當置中篇以全文不便分割讀者識之可也。
（七）問曰，病有一日得之，不發熱而惡寒者，何也，答曰，雖得之一日，惡寒
將自罷，即自汗出而惡熱也。［原文］
\以此辨陽明傷寒之外證，正兼太陽也。
（八）問曰，惡寒何故自罷，答曰，陽明居中土也，萬物所歸，無所復傳，始雖
惡寒，二日自止，此為陽明病也。［原文］
\以此辨陽明傷寒之裡證，
此屬正陽陽楊明可下
已上八條，見仲景於太陽傳入陽明之證，其辨認之法，即少變太陽之定例矣，蓋
太陽有營衛之兩路，風則傷衛，寒則傷營，而陽明則營衛難以辨別，辨之全藉於
脈與證，風邪之脈，傳至陽明，則緩去而遲在，寒邪之脈，傳至陽明，則緊去而
浮在，風邪之脈，輕高而上前者，風邪本微，殊無內向之意，雖汗出少而不為過
也，寒邪之脈，已至於實，則將去太陽，而成可下之證，故發其汗太多，反為過
也，如此辨別，讀者猶不心花開朗耶，至其辨證，則以能食不能食為諦，蓋陽邪
能化榖，陰邪不能化穀之義也，又設四問以辨風寒之在表在裡，而定汗下之權衡，
何其明且盡耶，繇是推之，病已傳經，而太陽邪有未盡，其用桂枝麻黃二湯，即
當狹小其制，不可使太過明矣，太陽邪已盡，其用承氣諸湯，即當竭蹶從事，不
可使不及又明矣。問經言一脈，分為二病，謂營衛不同也，是則十二經脈中，以
營衛之故，分為二十四病矣，乃仲景於陽明一經，獨以能食不能食分營衛，至於
少陽以後，更不申營衛之辨，其義何居，答曰，明哉問也，道之原也，叔和以後
諸賢，俱有未徹，果識各經皆有營衛，曷為將仲景少陽經之文，編入太陽經中乎，
後人更添蛇足，謂邪至陽明，則已過營衛，無復可言，果爾，則邪至少陽與三陰，
其過營衛不更遠乎，靈樞謂營衛起於中焦，衛氣起於下焦，而行至中焦，是則中
焦胃中，正是營衛所起之源，混於未分，而外入之風寒，自難辨別也，至於少陽
以下諸經，內經明有一脈分為二病之旨，仲景可以不贅，況始先中衛，其傳經必
不轉中於營，始先中營，其傳經必不轉中於衛，然則能食為中風，不能食為中寒，
自可繇陽明而類推三陰各經矣，此等處須細心體會，略一鹵莽，謬迷多矣。
（九）本太陽病初得時發其汗，汗先出不徹，因轉居陽明也。［原文］
\發其汗，兼解肌發汗二義，汗出不徹，則未得如法，故邪不服而轉入陽明也。
若汗多微發熱惡寒者，外不解也，其熱不潮，未可與承氣湯，若腹大滿不通者，
可與小承氣湯，微和胃氣，勿令大泄下。［節文］
全文見陽明中篇
\表未解而腹大滿，則裡亦急，故用小承氣湯。
（十）太陽病，若吐若下，若發汗，微煩，小便數，大便因鞕者，與小承氣湯
和之愈。［原文］
\微煩，小便數，大便因鞕者，皆是邪入裡之機，故用小承氣湯和之，是變不可
下之例，然曰和則與用下之意不同矣。
（一一）傷寒吐後，腹脹滿者，與調胃承氣湯。［原文］
\吐後而腹脹滿，則邪不在胸，其為裡實可知，然但脹滿而不痛，自不宜用急下
之法，少與調胃承氣可耳，此亦和法，非下法也，觀正陽陽明篇中，腹滿不減，
滅不足言，如是之急者，止言當下，自可類推。
（一二）陽明病，心下鞕滿者，不可攻之，攻之利，遂不止者死，利止者愈。［原
文］
\心下鞕滿，邪聚陽明之膈，正兼太陽也，故不可攻，攻之利不止，則邪氣未盡，
真氣先脫，故主死也，利止則邪去而與氣猶存，故自愈也。
（一三）傷寒嘔多，即有陽明證，不可攻之。［原文］
\嘔屬太陽，嘔多則太陽未除，縱有陽明諸症，在所不計，故戒攻下。
（一四）食榖欲嘔者，屬陽明也，吳茱萸湯主之，得湯反劇者，屬上焦也。［原
文］
\此條復辨嘔有太陽，亦有陽明，本自不同，若食穀欲嘔，則屬胃寒，與太陽之
惡寒嘔逆，原為熱證者相遠，正恐誤以寒藥治寒嘔也，然服吳茱萸暢轉劇者，仍
屬太陽熱邪，而非胃寒明矣。
（一五）陽明中風，口苦咽乾，腹滿微喘，發熱惡寒，脈浮而緊，若下之則腹滿，
小便難也。［原文］
\此條陽明中風俱該傷寒而言，俱太陽未除之候，但以腹滿一端，知為熱入陽明，
然終與大實大滿不同，若誤下則外邪乘虛內陷，而腹愈滿矣，小便難者，亡津液
也。
（一六）陽明病，脈浮而緊，咽燥口苦，腹滿而喘，發熱汗出，不惡寒，反惡熱，
身重，若發汗則躁，心憒憒，反讝語，若加燒針，必怵惕煩躁不得眠，若下之，
則胃中空虛，客氣動膈，心中懊憹，舌上胎者，梔子豉湯主之，苦渴欲飲水，
口乾舌躁者，白虎加人參湯主之，若脈浮發熱，渴欲飲水，小便不利者，豬苓湯
主之。［原文］
\發熱以上與前條同，而汗出不惡寒，反惡熱，身重，四端則皆陽明之見證，所
以汗下燒針，俱不可用，而舌上胎，則膈熱甚，故湧以梔子鼓，而徹去其膈熱，
則治太陽而無礙陽明矣，若前證更加口乾舌躁，則宜用白虎湯以解熱生津，更加
小便不利，則用豬苓湯，導熱滋乾。
（一七）陽明病，汗出多而渴者，不可與豬苓湯，以汗多胃中躁，豬苓湯復利其
小便故也。［原文］
\太陽證中，有用五苓散，兩解表裡一法矣，而太陽入陽明證中，復有豬苓湯導
熱滋乾一法，然汗出多而渴者不可服，蓋陽明胃經主津液者也，津液充則不渴，
津液少則渴矣，故熱邪傳入陽明，必先耗其津液，加以汗多而奪之於外，復利其
小便而奪之於下，則津液有立亡而已，故示戒也。
（一八）太陽病，寸緩關浮尺弱，其人發熱汗出，復惡寒，不嘔，但心下痞者，
此以醫下之也，若其不下者，病人不惡寒而渴者，此轉屬陽明也，小便數者，大
便必鞕，不更衣十日無所苦也，渴欲飲水者，少少與之，但以法救之，欲渴者
宜五苓散。［原文］
\寸緩關浮尺弱，發熱汗出復惡寒，純是太陽未罷之證也，設非誤下，何得心下
痞結耶，如不誤下，則心下亦不痞，而太陽證必漸傳經，乃至不惡寒而渴，邪入
陽明審矣，然陽明津液既偏滲於小便，則大腸失其潤，而大便之鞕與腸中熱結，
自是不同，所以旬日不更衣，亦無苦也，以法救之，救其津液也，與水及用五苓
即其法也。五苓利水者也，其能止渴而救津液者，何也，蓋胃中之邪熱，既隨小
水而滲下，則利其小水，而邪熱自消矣，邪熱消則津回而渴止，大便且自行矣，
正內經通因通用之法也，前段汗出多而渴者，不宜用豬苓湯，重驅津液，此段仍
有汗仍渴，但汗出不至於多，而渴亦因熱熾，其津液方在欲耗未耗之界，故與水
而用五苓為合法也，今世之用五苓者，但知水榖偏注於大腸，用之利水而止泄，
至於津液偏滲於小便，用之消熱而回津者，則罕，故詳及之。
（一九）陽明病，脈浮而緊者，必潮熱發作有時，但浮者必盜汗出。［原文］
\陽明脈之浮緊，即太陽寒傷營之脈也，單浮即太陽風傷衛之脈也，但傳至陽明，
仲景不欲以營衛辨證，而姑變其文耳，至於太陽證有未罷，各條雖悉，尚恐未明，
再舉潮熱及盜汗，陽明之必至者辨之，確然無疑矣，從前註解，皆是斷章取義，
而不會其大意，不知脈緊與潮熱，脈浮與盜汗，非的對之證也，不過藉以辨陽明
八九太陽一二之候耳，至謂浮為陽盛，陽盛則陰虛，陰虛則盜汗出，節外生枝，
幾於說夢矣。
（二十）陽明中風，脈弦浮大而短，氣腹都滿，脅下及心痛，久按之氣不通，鼻
乾不得汗，嗜臥，一身及面目悉黃，小便難，有潮熱，時時噦，耳前後踵，刺之
小差，外不解，病過十日，脈續浮者，與小柴胡湯，脈但浮無餘證者，與麻黃湯，
若不尿腹滿加噦者不治。［原文］
\此條陽明中風之證居七八，而中寒之證亦居二三，觀本文不得汗，及用麻黃湯，
其義自見也，然此一證為陽明第一重證，何以知之，太陽證既未罷，而少陽證亦
兼見，是陽明所主之位，前後皆邪，而本經之瀰滿流連，更不待言矣，蓋陽明脈
本大，兼以少陽之弦，太陽之浮，則陽明之大，正未易衰也，腹滿鼻乾嗜臥，一
身面目悉黃，潮熱，陽明之證既盡見，兼以少陽之脅痛，太陽之膀胱不利，乃至
時時噦，耳前後腫，則陽明之諸證，正未易除也，所以病過十日，外證不解，必
審其脈證，或可引陽明之邪，從少陽出，則用小柴胡湯，或可引陽明之邪，從太
陽出，則用麻黃湯，方合法，若不尿，腹滿加噦，則真氣垂盡，更無力可送其邪，
故知藥不能治也。
（三）陽明病，脈遲，食難用飽，飽則微煩，頭眩，必小便難，此欲作榖疸，雖
下之腹滿如故，所以然者，脈遲故也。［原文］
\脈遲則表證將除，似乎可下，然得食而微煩，仍是外邪助其內熱也，熱蒸食而
上攻，故頭眩，小便必難者，濕熱上攻，水道必不順也，欲作穀疸者，水穀之濕，
得熱蒸而四迄，遍身發黃，勢所必至，下之腹滿如故，病既未除，其脈之遲者愈
益難復，故以為戒，註謂下之則外邪內陷，殊不切要，蓋腹滿已是邪陷，寧俟下
之始陷耶，所以然者，脈遲則胃不實，徒下其糟粕，不惟無益，而反害之耳，然
則脈復其常，然後膀胱之氣化行，濕熱自除，榖疸自退，又不言可知矣。
（二二）陽明病，若中寒不能食，小便不利，手足濈然汗出，此欲作固瘕，必大
便初鞕後溏，所以然者，以胃中冷水榖不別故也。［原文］
\註謂固為堅固，瘕為積聚，大謬，蓋大便初鞕後溏，因成瘕泄，瘤泄溏泄，久
而不止，則曰固瘕也。
（二三）陽明病，初欲食，小便反不利，大便自調，其人骨節疼，翕然如有熱狀，
奄然發狂，濈然汗出而解者，此水不勝穀氣，與汗共併，脈緊則愈。［原文］
\此段文義本明，註謂得汗，則外邪盡解，脈緊且愈，全非本文來意，觀上二條，
一以小便而成穀疸，是濕熱繇胃上攻胸腦，則頭眩而身發黃，一以小便不利而成
固瘕，是濕熱繇胃下滲大腸，則手足汗出而成溏泄，此條小便反不利，本當成穀
疸及瘕泄之證，況其人骨節疼，濕勝也，翕然如有熱狀，熱勝也，濕熱交勝，乃
忽然發狂，濈然汗出而解者，何以得此哉，此是胃氣有權，能驅陽明之水與熱，
故水熱不能勝，與汗共併而出也，脈緊則愈，言不遲也，脈緊疾則胃氣強盛，所
以肌肉開而濈然大汗，若脈遲則胃中虛冷，偏滲之水，不能透而為汗，即手足多
汗，而周身之濕與熱，又未能共併而出，此胃強能食，脈健之人，所以得病易愈
耶。
（二四）陽明病，不能食，攻其熱必噦，所以然者，胃中虛冷故也，以其人本虛，
故攻其熱必噦。［原文］
\攻熱，謂寒下之藥也。
（二五）脈浮而遲，表熱裡寒，下利清榖者，四逆湯主之，若胃氣虛冷，不能食
者，飲水則噦。［原文］
\表熱裡寒，法當先救其裡，太陽經中，下利不止，身疼痛者，已用四逆湯不為
過，其在陽明之表熱，不當牽制，更可知矣，此病比前一條虛寒更甚，故不但攻
其熱必噦，即飲以水而亦噦矣。前云能食者為中風，不能食者為中寒矣，此上五
條，一云食難用飽，一云欲食，似乎指中風為言，一云中寒不能食，及後二條之
不能食，又明指中寒為言，所以後人拘執其說，而誤為註釋也，不知此五條，重
舉風寒證中之能食不能食，辨胃氣之強弱，非辨外邪也，故五證中，惟水不勝榖
氣，脈緊則愈一證，為胃氣勝，其四條俱是脈遲胃冷，反為水熱所勝之證，夫傷
寒之證，皆熱證也，而其人胃中虛冷者，又未可一例而推，蓋胃既虛冷，則水穀
混然無別，熱邪傳入，必不能遽變為實也，胃不實則不可下，而熱邪既入，轉蒸
水榖之氣，蘊崇為病，即下之而水熱不去，徒令胃氣垂絕而作噦耳，仲景一一挈
出，而於後條下利清榖一證，主之以四逆湯，則前條之較輕者，宜主之以溫胃，
更不待言，惟合五條而總會其立言之意，始不至於傳訛耳。門人問濈然汗出而病
解，乃手足濈然汗出者，反作固瘕，何手足不宜於汗耶，答曰，前代之業醫者，
皆極大聰明學問之人，故仲景書為中人以上，舉一隅能以三隅反者設也，胃氣虛
寒之人，外邪入之，必轉增其熱，胃熱故膀胱亦熱，氣化不行，小便因之不利，
小便不利，而盡注於大腸則為洞泄，即末條之下利清穀者是也，小便不利，乘胃
熱而滲於脾，則四肢先見色黃，乃至遍身發黃，而成穀疸者是也，今手足濈然得
汗，則脾中之濕熱行，而色黃穀疸之患可免，但汗從手足而出，水熱之氣，未得
遍泄於週身，不過少分大腸奔迫之勢，故不為洞泄而為瘕泄耳，無病之人，小便
行，尚漬為他病，況傷寒證極赤熱之小便，停蓄不行，能無此三種之變耶，一溯
其源，而輕重自分矣。
（二六）陽明病，但頭眩不惡寒，故能食而咳，其人必咽痛，若不欬者咽不痛。
［原文］
\此胃熱挾風邪，而上攻之證也。
（二七）陽明病，法多汗，反無汗，其身如蟲行皮中狀者，此以久虛故也。［原
文］
\此胃熱挾寒邪，而鬱於肌膚之證也，言久虛者，明所以不能透出於肌表之故也，
非謂當用補也。
（二八）陽明病，反無汗，而小便利，二三日嘔而欬，手足厥者，必苦頭痛，若
不欬不嘔，手足不厥者，頭不痛。［原文］
\陽明證，本不頭痛，若無汗嘔咳，手足厥者，得之寒因而邪熱深也，然小便利，
則邪熱不在內而在外，不在下而在上，故知必苦頭痛也，苦不欬不嘔不厥，而小
便利者，邪熱必順水道而出，豈有逆攻巔頂之理哉。
（二九）陽明病，下之，其外有熱，手足溫不結胸，心中懊憹，飢不能食，但
頭汗出者，梔子豉湯主之。［原文］
\下之而外有熱，心中懊憹，飢不能食，幾成結胸矣，然手足溫，則陽氣未至傷
陷，不結胸，則外邪原屬輕微，若其人頭汗出者，亦是膈中鬱熱上蒸所致，宜因
其高而揚之，用梔子豉湯以徹其熱，則陽得下通於陰，而週身濈然汗解，并可知
矣。
止二條皆濕熱上攻之證。
（三十）陽明病，口躁，但欲漱水，不欲嚥，此必衄。［原文］
\口中乾燥與渴異，漱水不欲嚥，知不渴也，陽明氣血俱多，以漱水不欲嚥，知
邪入血分，陽明之脈起於鼻，故知得血熱而妄行，必繇鼻而出也。
（三一）脈浮發熱，口乾鼻躁，能食者則衄。［原文］
\脈浮發熱，口乾鼻躁，陽明邪熱熾矣，能食為風邪，風性上行，所以衄也。
（三二）陽明病，發熱汗出者，此為熱越，不能發黃也，但頭汗出，身無汗，劑
頸而還，小便不利，渴飲水漿者，此為瘀熱在裡，身必發黃也，茵陳蒿湯主之。
［原文］
（三三）陽明病，面合赤色，不可攻之，必發熱色黃，小便不利也。［原文］
（三四）陽明病，無汗，小便不利，心中懊憹者，身必發黃。［原文］
（三五）陽明病，被火額上微汗出，小便不利者，必發黃。［原文］
\合四條觀之，陽明病，濕停熱鬱而煩渴有加，勢必發黃，然汗出，熱從外越，
則黃可免，小便多熱從下泄則黃可免，若誤攻之，其熱邪愈陷，津液愈傷，而汗
與小便，愈不可得矣，誤火之則熱邪愈熾，津液上奔，額雖微汗，而週身之汗與
小便愈不可得矣，發黃之變，安能免乎，發黃與前穀疸，本同一證，但彼因脈遲
胃冷而得，則與固瘕及噦同源，而與此異泒。
（三六）陽明病，下血讝語者，此為熱入血室，但頭汗出者刺期門，隨其實而
瀉之，濈然汗出則愈。［原文］
\婦人病傷寒，經水適來適斷，則邪熱乘之，而入於血室，讝語如見鬼狀，當刺
期門，乃男子陽明經病，下血而讝語者，亦為熱入血室，亦刺期門。
詳後少陽篇末。
（三七）陽明證，其人喜忘者，必有蓄血，所以然者，本有久瘀血，故令喜忘，
屎雖鞕，大便反易，其色必黑，宜抵當湯主之。［原文］
\太陽經熱結膀胱之證，輕者如狂，重者發狂，如狂者血自下，但用桃核桂枝，
加入承氣湯，因勢利導，血去則愈，發狂者血不下，須用抵當湯，亟下其血乃愈，
詳太陽上篇，此條陽明喜忘之證，本差減於如狂，乃用藥反循發狂之例者何耶，
蓋太陽少血，陽明多血，陽明之血一結，則較太陽更為難動，所以宜用抵當湯峻
攻之法耳，但太陽云主之，則確乎不易，此云宜用，則證有輕重不等，在於臨時
酌量矣。
（三八）病人無表裡證，發熱七八日，雖脈浮數者可下之，假令已下脈數不解，
合熱則消穀善飢，至六七日不大便者，有瘀血也，宜抵當湯，若脈數不解，而下
利不止，必協熱而便膿血也。［原文］
\雖云無表裡證，然發熱脈浮數，表證尚在也，其所以可下者，以七八日為時既
久，而發熱脈數，則胃中熱熾，津液盡亡，勢不得不用下法，如大柴胡湯之類是
也，若下後脈數不解，可知果胃中熱熾，其候當消榖善飢，然穀食既多，則大便
必多，乃至六七日，竟不大便，其證非氣結而為血結明矣，所以亦宜於抵當湯也，
若脈數不解而下利不止，註謂用抵當湯下之，數仍不解，大謬，此乃對，假令已
下，脈數不解五句之文，見己下脈數不解反六七日不大便，則宜抵當以下其血，
若已下脈數不解，而下利不止，則不宜扺當之峻，但當消悉以清其血分熱邪，若
血分熱邪不除，必協熱而便膿血矣。合三條總是熱入血室，故隨下血與不下血，
而異治也，然要知陽明尚兼太陽，則不但胃中熱熾，而膀胱隨經之熱，亦未盡解，
此所以宜於抵當湯乎。
（三九）病人煩熱，汗出則解，又如瘧狀，日晡所發熱者，屬陽明也，脈實者宜
下之，脈浮虛者宜發汗，下之與大承氣湯，發汗宜桂枝湯。［原文］
\病人得汗後煩熱解，太陽經之邪，將盡未盡，其人復加瘧狀，日晡時發熱，則
邪入陽明審矣，蓋日晡者申酉時，乃陽明之王時也，發熱即潮熱，乃陽明之本候
也，然雖已入陽明，尚恐未離太陽，故必重辨其脈，脈實者，方為正陽陽明宜下
之，若脈浮虛者，仍是陽明而兼太陽，更宜汗而不宜下矣，發汗宜桂枝湯，宜字
最妙，見前既得汗而煩熱解，此番只宜用桂枝，和營衛，以盡陽明兼帶之邪，斷
不可誤用麻黃湯矣。</p>
<h2>陽明經中篇［凡外邪已離太陽，未接少陽，謂之正陽陽明列於此篇］</h2>
<p>凡外感之邪，全入陽明所轄地界，已離太陽，未接少陽，此際當用下法，確無疑
矣，然其邪復有在經在府之不同，在經者與太少為鄰，仍是傳經之邪，在府者則
入於胃而不傳經，但在經者之用下，常恐胃有未實，篇中無限消息遲徊，若在府
則胃已大實，惟有急下以存津液而已。
 （一）陽明之為病，胃家實是也。［原文］
\以胃家實，揭正陽陽明之總，見邪到本經，遂入胃而成胃實之證也，不然陽明
病，其胃不實者多矣，於義安取乎。
（二）傷寒三日，陽明脈大。［原文］
\傷寒一日太陽，二日陽明，三日少陽，乃傳經之次第，其實不以日拘也，此云
三日陽明脈大，正見二日之陽明，傳自太陽，必兼乎浮緊浮緩，未定是正陽陽明
也，若正陽陽明，氣血俱多，其脈必大，而與太陽別矣，言外見三日，證兼少陽，
則其脈必大而弦，又不得為正陽陽明也，噫，微矣哉。
（三）傷寒發熱無汗，嘔不能食，而反汗出濈濈然者，是轉屬陽明也。［原文］
（四）傷寒轉繫陽明者，其人濈濈然微汗出也。［原文］
\濈濈者，肌肉開而微汗不乾之貌，發汗無汗，嘔不能食，皆傷寒之證也，傷寒
無汗，何以反濈濈汗出耶，可見證已轉屬正陽陽明矣，既濈然汗出，則熱除嘔止
可知矣。
（五）太陽病，三日發汗不解，蒸蒸發熱者屬胃也，調胃承氣湯主之。［原文］
\蒸蒸者，熱勢自內騰達於外，如蒸炊然，冑實之驗也，其熱蒸蒸，勢必其汗濈
濈矣，妙哉形容乎，惟熱在胃，故用承氣以調其胃，胃調則病渙然除矣。
（六）陽明病，本自汗出，醫更重發汗，病已差，尚微煩不了了者，此大便必鞕
故也，以亡津液，胃中乾燥，故令大便鞕，當問其小便日幾行，若本小便日三
四行，今日再行，故知大便不久出，今為小便數少，以津液當還入胃中，故知不
久必大便也。［原文］
（七）陽明病，自汗出，若發汗，小便自利者，此為津液內竭，雖鞕不可攻之，
當須自欲大便，宜蜜煎導而通之，若土瓜根，及與大豬膽汁，皆可為導。［原文］
（八）陽明病，脈遲，雖汗出不惡寒者，其身必重，短氣，腹滿而喘，有潮熱者，
此外欲解，可攻裡也，手足濈然而汗出者，此大便已鞕也，大承氣湯主之，若
汗多微發熱惡寒者，外未解也，其熱不潮，未可與承氣湯，若腹大滿不通者，可
與小承氣湯，微和胃氣，勿今大泄下。［原文，後半節入陽明上篇］
\脈遲汗出，不惡寒，身重，短氣，腹滿喘，潮熱，八者乃陽明之外邪欲解，可
以攻裡，而不為大誤之候也，然曰欲解，曰可攻，不過用小承氣，及調胃承氣之
法耳，必手足濈然汗出，方可驗胃實便鞕，外邪盡解，而當從大承氣急下之法
也，申酉戍間獨熱，餘時不熱者，為潮熱，若汗多微發熱惡寒，是陽明證尚兼太 
陽，縱腹大滿胃終不實，只可微和胃氣，以從權而已。
（九）病人不大便五六日，繞臍痛，煩躁，發作有時者，此有躁屎，故使不大便
也。［原文］
（十）大下後六七日不大便，煩不解，腹滿痛者，此有躁屎也，所以然者，本有
宿食故也，宜大承氣湯。［原文］
（一一）病人小便不利，大便乍難乍易，時有微熱，喘冒不能臥者，有躁屎也，
宜大承氣湯。［原文］
（一二）陽明病，潮熱，大便微鞕者，可與大承氣湯，不鞕者不可與之，若
不大便六七日，恐有躁屎，欲知之法，少與小承氣湯，湯入腹中轉失氣者，此有
躁屎，乃可攻之，若不轉失氣，此但初頭鞕，後必溏，不可攻之，攻之必脹滿，
不能食也，欲飲水者，與水則噦，其後發熱者，必大便鞕而少也，以小承氣湯
和之，不轉失氣者，慎不可攻也。［原文］
\轉失氣者屁出也，腹中之氣，得攻藥不為轉動，則屬虛寒，所以誤攻而證變脹
滿，不能食及噦也，攻後重復發熱，又是胃熱，至此方熾，大便因可得鞕，但
為時未久，必少耳，仍以小承氣湯和之，若腹中氣仍不轉，則不但用大承氣大差，
即用小承氣亦小差矣。
 （一三）陽明病，下之心中懊憹而煩，胃中有躁屎者可攻，腹微滿，初頭鞕
後必溏，不可攻之，若有躁屎者，宜大承氣湯。［原文］
\以小承氣湯試其可下，而用大承氣湯下之矣，設下後心中懊憹，而煩，又屬熱
重藥輕，當再進大承氣以協濟前藥，亟驅熱邪，則悶煩自解也，一云胃中有躁屎
者，一云若有躁屎者，俱指試其轉失氣，及繞臍痛，腹滿痛，小便不利，煩躁時
有微熱，喘冒不能臥，七證言也。
（一四）得病二三日脈弱，無太陽柴胡證，煩躁心下鞕，至四五日，雖能食，
以小承氣湯，少少與微和之，令小安，至六日與承氣湯一升，若不大便六七日，
小便少者雖不能食，但初頭鞕，後必溏，未定成鞕，攻之必溏，須小便利，屎
定鞕，乃可攻之，宜大承氣湯。［原文］
\無太陽少陽之證，則煩躁心下鞕，屬正陽陽明之可下無疑矣，乃其人脈弱，雖
是能食，亦止可少用小承氣，微和胃氣，和之而當，必覺小安，俟隔日再以小承
氣稍稍多進，總因脈弱故爾遲徊也，至六七日竟不大便，似乎胃實，乃小便復少，
正恐胃弱，而膀胱氣化之源窒，轉滲大腸，初鞕後溏耳，所以小便利，屎定鞕，
乃可攻之。此段之雖能食，雖不能食，全與辨風寒無涉，另有二義，見雖能食者，
不可以為胃強而輕下也，雖不能食者，不可以為胃中有躁屎而輕下也，後九條云，
讝語有潮熱，反不能食者胃中必有躁屎五六枚，與其互發，前後註釋俱差。
（一五）陽明病，不吐不下，心煩者可與調胃承氣湯。［原文］
\胃氣及津液，既不繇吐下而傷，則心煩明係胃中熱熾，故可與調胃承氣，以安
胃氣而全津液也。合九條，總是以外證之解與不解，氣之轉與不轉，臍腹之痛與
不痛，脈之弱與不弱，汗出之多與不多，小便之利與不利，邪熱之熾與不熾，津
液之乾與不乾，而辨腹中之躁屎多與不多，溏與不溏，以消悉微下之法，故惟手
足濈然汗出，大便已鞕者，主之以大承氣湯，其他諸證，一則曰宜用導法，再
則曰不可攻之，再則曰宜小承氣湯，再則曰少與小承氣湯，再則曰明日更與一升，
再則曰宜大承氣湯，全是商量治法，聽人臨時斟酌，以祈無誤，所以不用主之二
字，此等處關係安危最大，蓋熱邪入胃，不以寒藥治之，則胃傷，然寒藥本以救
胃也，不及則藥不勝邪，太過則藥反傷正，況乎不勝其邪，勢必盡傷其正，又未
必盡去其邪，此仲景所為諄復於二者之間耶。
（一六）陽明病，讝語發潮熱，脈滑而疾者，大承氣湯主之，因與承氣湯一升，
腹中轉失氣者，更服一升，若不轉失氣，勿更與之，明日不大便，脈反微澀者，
裡虛也，為難治，不可更與承氣湯也。［原文］
\讝語而發潮熱，陽明之下證審矣，更兼其脈疾滑，復與脈弱者不倫，故主之以
小承氣湯，一定之法也，然尚未知其裡證若何，必轉失氣，方可再服，若服後不
轉失氣，并不大便，脈反微而且澀，又是裡氣虛寒之證，蓋陽明居於中土，其表
虛表實，來自太陽，至此已明，其裡虛裡實，茫然未卜，故用法不可令虛者益虛，
有如此之鄭重也。
（一七）夫實則讝語，虛則鄭聲，鄭聲重語也。［原文］
\鄭聲者鄭重之聲，正氣不足，聲出重濁也，亦辨裡實裡虛之一端也。
（一八）直視讝語，喘滿者死，下利者亦死。［原文］
\此條當會意讀，謂讝語之人，直視者死，喘滿者死，下利者死，其義始明，蓋
讝語者心火亢極也，加以直視，則腎水垂絕，火心愈無制，故主死也，喘滿者
邪聚陽位而上爭，正不勝邪，氣從上脫，故主死也，下利者邪聚陰位而下奪，正
不勝邪，氣從下脫，故主死也。
（一九）發汗多，著重發汗者，亡其陽，讝語脈短者死，脈自和者不死。［原文］
\註擬此為太陽經脫簡，不知太陽無讝語之例必日久而兼陽明少陽，方有讝語，
故此言太陽經得病時，發汗過多，及傳陽明時，重發其汗，亡陽而讝語之一證
也，亡陽之人，所存者陰氣耳，故神魂無主，而妄見妄聞，與熱邪乘心之候不同，
況汗多則大邪必從汗解，止慮陽神飛越難返，故脈短則陰陽不附，脈和刞陰陽未
離，其生死但從脈定耳，其脈既短，安問藥之長哉。。門人問亡陽而讝語，四
逆湯可用乎，答曰，仲景不言方，而子欲言之，曷不詳之仲景耶，蓋亡陽固必回
其陽，然邪傳陽明，胃熱之熾否，津液之竭否，裡證之實否，俱不可知，設不辨
悉，回其陽，先竭其陰，竟何益哉，此仲景不言藥，乃其所以聖也，然得子此問，
而仲景之妙議愈彰矣。
（二十）陽明病，其人多汗，以津液外出，胃中躁，大便必鞕，鞕則讝語，
小承氣湯主之，若一服讝語止，更莫復服。［原文］
\此條舉讝語之因汗多津越者為言。
（二一）傷寒四五日，脈沉而喘滿，沉為在裡，而反發其汗，津液越出，大便為
難，表虛裡實，久則讝語。［原文］
\此舉讝語因誤汗而致者，其曰裡實，亦即上文胃中躁，大便必鞕之互辭，其
不出方者，亦即上文小承氣湯之互意也。
（二二）傷寒若吐若下後不解，不大便五六日，上至十餘日，日晡所發潮熱，不
惡寒，獨語印見鬼狀，若劇者發則不識人，循衣摸床，惕而不安，微喘直視，脈
弦者生，澀者死，微者但發熱讝語者，大承氣湯主之，若一服利，止後服。［原
文］
\此條舉讝語之勢重者為言，而勢重之中復分二等，劇者生死，仍憑乎脈，微者
則主以大承氣湯，比上條之小承氣更進矣，前于13語脈短者死，此云脈弦者生，
前云讝語脈滑疾者，用小承氣，此云脈澀者死，更互一字而大意躍然。
（二三）汗出讝語者，以有躁屎在胃中，此為風也，須下之，過經乃可下之，
下之若早，語言必亂，以表虛裡實故也，下之則愈，宜大承氣湯。［原文］
\此條之文，似淺而實深，仲景懼人不解，已自為註腳，不識後人何故茫然，胃
有躁屎，本當用下，以讝語而兼汗出，知其風邪在胸，必俟過經下之，始不增
擾，所以然者，風性善行數變，下之若早，徒引之走空竅，亂神明耳，然胃有躁
屎，下之不為大誤，其小誤止在未辨證兼乎風，若此者必再一大下，庶大腸空而
風邪得以併出，故自愈，此通因通用之法，亦將差就錯之法也。
（二四）陽明病，讝語有潮熱，反不能食者，胃中必有躁屎五六枚也，若能食
者但鞕耳，宜大承氣湯。［原文］
\有躁屎，則腸胃熱結，故不能食，若能食，則腸胃未結，故但鞕耳，前條云，
其後發熱者，必大便鞕而少也，此云但鞕耳，不更言其少，乃於胃中有躁屎
者，言其五六枚之多，亦互舉以辨微細之意，不可忽也，俱宜大承氣湯者，已結
者開其結，未結者滌其熱，不令更結，同一讝語潮熱，故同一治，至於藥制之
大小，必有分矣。合力條觀之，既云實則讝語矣，乃其用治，遲徊審諦，始以
和法為攻法，俟服藥後，重辨脈證，不敢徑情急攻，，即攻之，又一服利止後服，
何其鄭重耶，可見所謂實者，乃邪氣實也，邪氣實，正氣未有不虛，況津液為邪
所耗，而至於讝語，方寸幾於無主，其虛為何如哉，邪實不可不下，正虛不可
大下，斟酌於邪正之間，以權宜而善其治，良工苦心，要當三復於聖言矣。
（二五）陽明病，發熱汗多者，急下之，宜大承氣湯。［原文］
\胃中止一津液，汗多則津液外滲，加以發熱，則津液盡隨熱勢，蒸蒸騰達於外，
更無他法可止其汗，惟有急下一法，引熱勢從大腸而出，庶津液不致盡越於外耳，
前條云，發汗不解，蒸蒸發熱者，屬胃也，調胃承氣湯主之，可見調胃之義，乃
和緩其胃中之熱，以存津液也，此證發熱而至於汗多，明是始先未行調胃所致，
故宜急下，無取緩調。
（二六）發汗不解，腹滿痛者，急下之，宜大承氣湯。［原文］
腹滿不減，減不足言，當下之，宜大承氣湯。［原文］
\發汗不解，而反腹中滿痛，則邪不在表而在裡，亦惟有急下一法，庶滿痛去而
病自解也，減不足言四字，形容腹滿如繪，見滿至十分，即減去一二分，不足殺
其勢也，此所以縱有外邪未解，而當下無疑耳。
（二七）傷寒六七日，目中不了，睛不和，無表裡證，大便難，身微熱者，此為
實也，急下之，宜大承氣湯。［原文］
\此一條，辨證最微細，大便難，則非久祕，裡證不急也，身微熱，則非大熱，
表證不急也，故曰無表裡證，只可因是而驗其熱邪在中耳，熱邪在中，亦不為急，
但其人目中不了了，睛不和則急矣，以陽明之脈絡於目，絡中之邪且盛，則在經
之盛更可知，故惟有急下之而已。按少陰經，有急下三法，以救腎水，一本經水
竭，一木邪涌水，一土邪淩水，而陽明經，亦有急下三法，以救津液，一汗多津
越於外，一腹滿津結於內，一目睛不慧，津枯於中，合兩經下法以觀病情生理，
恍覺身在冰壺，腹飲上池矣。
（二八）陽明病欲解時，從申至戍上。［原文］
（二九）脈浮而芤，浮為陽，芤為陰，浮芤相搏，胃氣生熱，其陽則絕。［原文］
\其陽則絕，即無陽之互辭，謂津液內亡也，當下不下，故至此耳。
（三十）跌陽脈浮而濇，浮則胃氣強，濇則小便數，浮濇相搏，大便則難，其脾
為約，麻仁丸主之。［原文］
\脾約之證，在太陽陽明，已當用麻仁丸潤下，失此不用，延至正陽陽明，胃中
津液，甕乾杯罄，下無及矣，然則浮濇之脈，轉為浮芤，不可類推乎，詳見本卷
末答門人脾約問。</p>
<h2>陽明經下篇</h2>
<p>凡外邪已趨，少陽未離陽明，謂之少陽，陽明列於此篇。
凡屬正陽陽明之證，病已入於胃腑，故下之則愈，其有胃不實，而下證不具者，
病仍在經，在經之邪不解，必隨經而傳少陽，口苦咽乾，目眩耳聾，胸脅滿痛之
證，必兼見一二，故謂之少陽陽明，其實乃是陽明少陽也。少陽主半表半裡，陽
明證中，纔兼少陽，即表裡皆不可攻，故例中止用和法。
少陽陽明合病，另有顓條，附三陽經後。
（一）陽明病，發潮熱，大便溏，小便自可，胸脅滿不去者，小柴胡湯主之。［原
文］
\潮熱本陽明胃實之候，苦大便溏，小便自可，則胃全不實，更加胸脅滿不去，
則證已傳入少陽矣，纔兼少陽，即有汗下二禁，惟小胡柴湯一方，合表裡中而總
和之，乃少陽一經之正法，故陽明少陽，亦取用之無別法也。
（二）陽明病，脅下鞕滿，不大便而嘔，舌上白胎者，可與小柴胡湯，上焦得
通，津液得下，胃氣因和，身濈然而汗出解也。［原文］
\不但大便溏，為胃未實，即使不大便，而見脅下鞕滿，嘔與舌胎之證，則少陽
為多，亦當從小柴胡湯，分解陰陽，則上下通和，濈然汗出，而胎嘔脅滿之外證，
一時俱解矣，既云津液得下，則大便自行亦可知矣，此一和而表裡俱徹，所以為
貴也。上焦得通，津液得下，八字，關係病機最切，風寒之邪，協津液而上聚於
膈中，為喘為嘔為水逆，為結胸，常十居六七，是風寒不解，則津液必不得下，
倘誤行發散，不惟津液不下，且轉增上逆之勢，愈無退息之期矣，此所以和之於
中而上焦反通也，至於雜病項中，加痰火哮喘咳嗽瘰癧等證，又皆火勢薰蒸，
日久頑痰，膠結經隧，所以火不內熄，則津液必不能下灌靈根，而精華盡化為敗
濁耳，夫人之得以長享者，惟賴後天水穀之氣，生其津液，津液結則病，津液竭
則死矣，故治病而不知救人之津液者，真庸工也。
論太陽陽明少陽陽明原有可下之證。
（三）問曰，病有太陽陽明，有正陽陽明，有少陽陽明，何謂也，答曰，太陽陽
明者，脾約是也，正陽陽明者，胃家實是也，少陽陽明者，發汗利小便已，胃中
躁煩實，大便難是也。［原文］
\註謂脾約，乃太陽之邪，徑趨入胃而成胃實，貽誤千古，詳後答門人問脾約論。</p>
<p>附少陽轉陽明二證
此與陽明兼帶少陽之證殊，故另揭出。
○少陽陽明者，發汗利小便已，胃中躁煩實，大便難是也。
陽明原文
\病已傳到少陽經，而去陽明經遠矣，乃從少陽經治法，發汗利小便已，其人方
饞胃中躁煩實，大便難者，是少陽重轉陽明，而成可下之一證也。
○服柴胡湯已，渴者，屬陽明也，以法治之。［少陽原文］
此條亦互工作之意，解見少陽</p>
<p>附太陰轉陽明一證
○傷寒脈浮而緩，手足自溫者，是為繫在太陰，太陰者身當發黃，若小便自利者，
不能發黃，至七八日大便鞕者，為陽明病也。［太陰原文］
\脈浮而緩，本為表證，然無發熱惡寒外候，而手足自溫者，是邪已去表而入裏，
其脈之浮緩，又是邪在太陰以脾脈主緩故也，邪入太陰，勢必蒸濕為黃，若小便
自利，則濕仁而發黃之患可免，但脾濕既行，胃益乾躁，胃躁則大便必鞕，因
復轉為陽明內實而成可下之證也。</p>
<p>附少陰轉陽明一證
○少陰病，六七日，腹脹不大便者，急下之，宜大承氣湯。［少陰原文］
\少陰之證，自利者最多，虛寒則下利消榖，滑脫則下利膿血，故多用溫法，此
以六七日不大便，而腹脹，可見熱邪轉歸陽明，而為胃實之證，所以宜於急下也。</p>
<p>附厥陰轉陽明之證
○下利譀語者，有躁屎也，宜小承氣湯。［厥陰原文］
\下利則熱不結，胃不實，何得讝語耶，此必邪返於胃，內有躁屎，故雖下利而
結者自若也，半利半結，所以不宜大承氣，而宜於小承氣，微動其結耳。</p>
<p>附答客難大意
客有熟仲景之書者，難昌曰，所分陽明三篇，將仲景陽明證中七十四條，收盡無
遺，大開後人眼目，可謂智矣，祇是過矜其智，而掩昔賢之長，鄙見微有不滿耳，
昌曰，余何敢哉，客曰，王叔和當日編次陽明一經，首列問有太陽陽明，有正陽
陽明，有少陽陽明者，何也，仲景答曰，太陽陽明者，脾約是也，正陽陽明者，
胃家實是也，少陽陽明者，發汗利小便已，胃中躁，大便難，是在，聖言煌煌，
子既遵其例，何反後其文耶，昌曰，三段揭首，叔和已誤，曷可再誤，昌分三篇，
不從茲起見也，三篇舉以統括七十餘條之義，若叔和所列，不過是絕無僅有之一
證，以冠篇首，則陽明一經之大旨盡矣，此無難辨者，蓋當日之問，乃問三陽經
中可下之證，所以答云，太陽陽明之可下者，除是脾約，少陽陽明之可下者，除
是發汗利小便已，胃中躁，大便難，舍此二證，則太陽少陽，必有一定之下法矣，
今分三篇，以明太少二陽之不可下，乃以可下之條，混引其端，昌之所不敢出也，，
又況少陽陽明，所謂發汗利小便已，胃中躁，大便難者，乃是病邪已去陽明，全
入少陽，及發汗利小便後，少陽證亦盡罷，其邪不入三陰，重復轉到陽明，所以
名為少陽陽明，與始先病在陽明，略兼少陽一二者，有何干涉哉，客始為之心折。</p>
<p>附答門人奇問
門人問治傷寒之法，軌則雖多，必有精一之理，可以貫徹終始者，請吾師試舉一
言以蔽之，可乎，余曰，傷寒之變，千蹊萬徑，如之何其可以一言括耶，門人曰，
如痘疹祕訣，謂起先開盤時，要有根腳，有根腳則漿成，及至灌膿時，要無根腳，，
無根腳則毒化，此亦片言居要者，吾師曷不倣而言之，余笑曰，若是則姑擬一言
以答子之奇問，亦無難者，凡治傷寒之訣，起先惟恐傳經，傳經則變生，其後惟
恐不傳經，不傳經則勢篤，此二語不識可括其義否，門人躇躊曰，起先惟恐傳經，
韙矣，其後惟恐不傳經之說，大奇且大創，未之前聞也，余曰，仲景言之再四，
但子輩雙眸未炯，見同未見耳，何奇創之有耶，仲景云，陽明居中，土也，萬物
所歸，無所復傳，蓋陽明之脈，行身之前，邪入其經，則有前經後經相傳之次第，
而陽明之府，乃中州之胃，為水穀之海，臟腑經脈之總司，邪入其中，則無復傳
次之可言，所以惟有下奪一法，奪其土，而邪自不留耳，此仲景於陽明經內特挈
不傳之妙理也，又云陽明中風，脈弦浮大而短氣，腹都滿，脅下及心痛，久按之
氣不通，鼻乾不得汗，嗜臥，一身及面目悉黃，小便難，有潮熱，時時噦，耳前
後腫，刺之小差，外不解，病經十日，脈續浮者，與小柴胡湯，脈但浮無餘證者，
與麻黃湯，若不尿，腹滿加噦者不治，此一段至理，千古無人看出，總不識其所
言者何事，詎知脈弦浮大而氣反短，連腹都滿者，邪不傳也，脅下及心痛，乃至
久按之氣不通者，邪不傳也，鼻乾不得汗，嗜臥，表裡俱困，乃至一身及面目，
悉蒸為黃者，邪不傳也，小便難，有潮熱，時時噦者，胃熱熾盛，上下道窮，邪
不傳也，耳前後腫，刺之小差者，內邪不傳，乃至外抉，其血亦不散，但其腫小
差也，外不解過經十日，留連極矣，所謂萬物所歸，無所復傳者，原為美事，孰
知病邪歸之而不傳，反成加此之危候耶，要之陽明之邪，來自太陽，去自少陽，
所以脈續浮者，與小柴胡湯，推其邪使速往少陽去路也，脈但浮無餘證者，與麻
黃湯，推其邪使速還太陽來路也，若不尿腹滿，則胃邪內壅，不下行矣，而更加
噦，則胃氣將竭，愈上逆矣，再有何法可以驅其邪而使之傳哉，又云太陽病，十
日已去，脈浮細而嗜臥者，外已解也，設胸滿脅痛者，與小柴胡湯，脈但浮者與
麻黃湯，見脈浮細而嗜臥，邪已盡傳於外而解散者，方可無慮，設胸滿脅痛，則
當與小柴胡湯，推立速往少陽而出，設脈但浮無餘證，則當與麻黃湯，推之速往
太陽而出，是皆惟恐其邪之不傳，暗伏危機也，必識此意，然後始識仲景用藥之
故，不然，豈有十餘日後而無故張皇，反用麻黃湯之理哉，凡此皆因太少二陽，
與陽明連貫，故用表法，所謂從外入者驅而出之於外也，復有表裡陰陽之間，正
己虛而邪不盡，無可速傳之候，仲景用法，悉從外邪不能傳出起見，如太陽病未
解，脈陰陽俱停，必先振慄汗出而解，設不振懍，則邪不能傳之於表，而無從得
汗可知也，然既云陰陽兩停，其傳表傳裡，未可預定，所以惟陽脈微者，方是邪
不能傳表，當從汗之而解，惟陰脈微者，方是邪不能傳裡，當從下之而解，此其
故甚可思也，若非邪住不傳之候，則陽脈微者，當補其陽，陰脈微者，當補其陰
矣，豈有反汗之而傷其陽，下之而傷其陰之理哉，又如太陽病，過經十餘日，反
二三下之，後四五日，柴胡證仍在者，先與小柴胡湯服之，本當蒸蒸而振，卻發
熱汗出而解矣，乃反加嘔不止，心下急，鬱鬱微煩者，此邪因屢下而入裡已深，
非一柴胡湯可以盡提之，傳出於表，必再與大柴胡湯，分提表裡之邪，陽邪傳陽，
陰邪傳陰，一舉而分解之，始為合法，不然，豈有嘔急鬱煩，表證轉增，反行兼
解其裡之理哉，又如傷寒五六日，頭汗出，微惡寒，手足冷，心下滿，口不欲食，
大便鞕，脈細者，此為陽微結，乃是說陽分之邪，微微結聚，不能傳出於表裡，
故本文即繼之曰，必有表復有裡也，其旨甚明也，末云可與小柴胡湯，設不了了
者，得屎而解，即前證過經十餘日，用大小柴胡，分提使傳之法也，迺知舍此，
更無可使其傳矣，又如發汗吐下後，虛煩不得眠，若劇者必反覆顛倒，心中懊憹，
此邪退正虛，而餘邪阻滯不能傳散，以致無可奈何也，此時將汗之乎，下之乎，
和之乎，溫之乎，仲景巧用梔子鼓湯，湧載其餘邪於上，俾一吐而盡傳無餘，設
非此一法，從高而越，有殆而已矣，又如云，食穀則噦，不能食，攻其熱則噦，
欲飲水者，與水則噦，不能食者，與水則噦，何其言之不一耶，皆是為胃氣虛寒，
餘邪不能傳散者，致其叮嚀也，更有榖疸一證，邪熱在胃不能傳出，反蒸食而發
黃，固瘕一證，胃氣虛寒，水停不行，反滲大腸而瘕泄，此三證者，仲景但言證
而不言治，學者倘不透此一關，果何從而施治耶，是則邪之傳與不傳，所關如此
甚鉅，乃治傷寒家，初不量邪勢之淺深，胃氣之厚薄，而貿貿以從事也，實鯀先
聖法則，未經昔賢闡繹，後學漫無入路耳，夫足太陽膀胱，足陽明胃，足少陽膽，
皆府也，何必獨歸陽明，始不傳耶，蓋膀胱主出，胃主納，膽不主出納，所以惟
陽明胃，為藏納之地，具載物之體，傳經之邪，必歸陽明，始能消之，若夫胃土
告困，不能消邪，則在府之邪，漫無出路，久之必漸積於本經，其脈必仍轉為浮，
所以仲景云脈續浮者，與柴胡湯，此中復有奧義，其義維何，即必有表復有裡之
說也，故用柴胡湯，提出少陽，俾循經次而傳太陰少陰厥陰以盡其邪，乃始得以
無患耳，若但浮無餘證，則是有表無裡，只用麻黃湯提出太陽，其邪立解，不勞
餘力矣，得仲景之神者，目擊道存，即如天以四時成歲，中土各旺於季月之末，
然後木庇其根，火收其焰，金銷其肅，水藏其瀾，便非傳之中土，則木火金水不
相連貫，何以化機盈眸不息乎，人之飲食入胃，清氣升而濁氣降，波滓不留者，
其妙惟在於傳，設一日不傳，則積滯而不能化矣，至於仙家摛簇五行，東三南二
木火相戀歸於中土，西四北一金水相親歸於中土，其妙更在於不傳，設傳則流散
而不能造矣，然則中土之傳與不傳，足盡天人之蘊，又何疑於醫事哉，門人爽然
曰，似此剔出傷寒神髓以立言，數之可千，推之可萬，恍疑身陟天漢星津，炯炯
光芒，流射肺腑矣，請名之曰伐髓迪光論。門人問脾約一證，胃強脾弱脾不為胃
行其津液，如懦夫甘受悍妻之約束，寧不為家之索乎，余曰，何以見之，曰仲景
云，跌陽脈浮而澀，浮則胃氣強，澀刖小便數，浮澀相搏，大便為難，其脾為約，
麻仁丸主之，以是知胃強脾弱也，余曰脾弱即當補矣，何為麻仁丸中，反用大黃
枳實厚朴乎，子輩日聆師說，而腹笥從前相仍之陋，甚非所望也，仲景說胃強，
原未說脾弱，況其所謂胃強者，正是因脾之強而強，蓋約者省約也，脾氣過強，
將三五日胃中所受之穀，省約為一二彈丸而出，全是脾土過躁，致令腸胃中之津
液日漸乾枯，所以大便為難也，設脾氣弱，即當便泄矣，豈有反難之理乎，相傳
謂脾弱，不能約束胃中之水，何以反能約束胃中之穀耶，在陽明例中，凡宜攻下
者，惟恐邪未入胃，大便弗鞕，又恐初鞕後溏，不可妄攻，若欲攻之，先與小
承氣，試其轉失氣，方可攻，皆是慮夫脾氣之弱，故爾躊躇也，若夫脾約之證，
在太陽已即當下矣，更何待陽明耶，子輩傅會前人，以脾約為脾弱，將指吳起之
殺妻者，為懦夫乎，有悖聖言矣。門人又問曰，今乃知脾約之解矣，觸類而推，
太陽陽明之脾約，與少陽陽明之胃中躁煩實，大便難者，同是一證，此其所以俱
可攻下耶，余曰，是未可言觸類也，因難之曰，邪熱自太陽而陽明而少陽，為日
既久，爍其津液，大便固當難矣，其在太陽方病之始，邪未入胃，何得津液即便
消耗，而大腸躁結耶，且太陽表邪未盡，又何不俟傳經，即亟亟潤下，而自犯太
陽之禁耶，門人不能對，因誨之曰，脾約一證，乃是未病外感之先，其人素慣脾
約三五日一次大便者，及至感受風寒，即邪未入胃，而胃已先實，所以邪至陽明，
不患胃之不實，但患無津液以奉其邪，立至枯槁耳，仲景大變太陽禁下之例，而
另立麻仁丸一法以潤下之，不比一時暫結者，可用湯藥蕩滌之耳，此義從前瞶瞶
凡遇素成脾約之人，亦必俟經盡方下，百無一生矣，故因子問而暢發之。</p>
<p>附問難門人大意
暇日門人聚譚仲景製方之妙，主伯亞旅，天然一定，因問曰，仲景於太陽經中，
有兼帶陽明經者，其風傷衛，則桂枝湯中加葛根，其寒傷營，則麻黃湯中加葛根，
有兼帶少陽經者，其風傷衛，則桂枝湯中加柴胡，其寒傷營，則麻黃湯中加柴胡，
合併之病亦然，是則陽明經以葛根為主藥，少陽經以柴胡為主藥矣，乃少陽經顓
用小柴胡湯，而陽明一經，全不用葛根湯者何耶，門人不能對，因誨之曰，此有
二義，太陽而略兼陽明，則以方來之陽明為重，故加葛根，陽明而尚兼太陽，則
以未罷之太陽為重，故不用葛根，且陽明主肌肉者也，而用葛根大開其肌肉，則
津液盡從外泄，恐胃愈躁而陰立亡，故不用者，所以存津液耳，本經前條有云，
陽脈實，因發其汗出多者，亦為太過，太過為陽絕於裡，亡津液，大便因鞕也，
是陽脈實者，且不可過汗，其陽脈微者，又當何如耶，仲景所以陽明諸證，全不
用葛根之意，益彰彰矣，小兒佈痘，見點之時，第一戒用葛根，用之則肌竅盡開，
一齊擁出，昔賢云，見點之後，忌用升麻湯，以升麻湯中有葛根耳，後人誤謂見
點後，忌用升麻，至於葛根反恣用無忌，只遺一湯字，而葛根等兔脫，升麻等雉
罹，兒命遭枉，等恒河沙數矣，因與治傷寒，濫用葛根劫人津液者，並舉示戒焉。</p>

<h1>卷三</h1>
<h2>尚論篇少陽經證治大意</h2>
<p>仲景少陽經之原文，叔和大半編入太陽經中，昌殊不得其解，豈以太陽行身之背，
少陽行身之側，其營衛顯然易辨，非如陽明與三陰之屬臟腑者，營衛難窺，故將
少陽之文，彙入太陽耶，此等處竊不敢仍叔和之舊，蓋六經各有專司者，乃引少
陽之文，與三陽合病併病經過不解，及壞病諸條，悉入太陽篇中，適足以亂太陽
之正也，在太陽一經之病，已倍他經，辨之倍難，而無端蔓引混收，此後人所為
多歧亡羊乎，茲將治少陽之法，悉歸本篇，其合病、併病，壞病，痰病，另隸於
三陽經後，庶太陽之脈清，而少陽之脈亦清耳。</p>
<p>少陽證用小柴胡湯和解加減一法
（一）傷寒五六日，中風往來寒熱，胸脅苦滿，默默不欲飲食，心煩喜嘔，成胸
中煩而不嘔，或渴，或腹中痛，或脅下痞鞕或心下悸，小便不利，或不渴，身
有微熱，成欬者，小柴胡湯主之，傷寒中風，有柴胡證，但見一證便是，不必悉
具，若胸中煩而不嘔，去半夏人參加括婁實，苦渴者，去半夏，加人參括蔞根，
若腹中痛，去黃芩加芍藥，若脅下痞鞕，去大棗加牡蠣，若心下悸小便不利者，
去黃芩加茯苓，若不渴外有微熱者，去人參加桂枝，溫覆取微似汗愈，若欬者，
去人參大棗生薑，加五味子乾薑。［原文］
軀殼之表陽也，軀殼之裡陰也，少陽主半表半裡之間，其邪入而併於陰則寒，出
而併於陽則熱，往來寒熱，無常期也，風寒之外邪，挾身中有形之痰飲，結聚於
少陽之本位，所以胸脅苦滿也，胸脅既滿，胃中之水榖亦不消，所以默默不欲食，
即昏昏之意，非靜默也，心煩者，邪在胸脅，逼處心間也，或嘔不嘔，或渴不渴，
諸多見證，各隨人之氣體，不盡同也，然總以小柴胡之和法為主治，而各隨見證
以加減之耳。</p>
<p>少陽病有辨證一法
（二）少陽之為病，口苦咽乾目眩也。［原文］
 口苦咽乾者，熱聚於膽也，目眩者，木盛生風而旋暈也。</p>
<p>少陽病有汗吐下三禁二法
（三）傷寒脈弦細，頭痛發熱者屬少陽，少陽不可發汗，發汗則讝語，此屬胃，
胃和則愈，胃不和則煩而悸。［原文］
\少陽傷寒禁發汗，少陽中風禁吐下，二義互舉，其旨益嚴，蓋傷寒之頭痛發熱，
宜於發汗者，尚不可汗，則傷風之不可汗，更不待言矣。脈弦細者，邪欲入裡，
其在胃之津液，必為熱耗，重復發汗，而驅其津液外出，安得不讝語乎，胃和
者，邪散而津回也，不和者，津枯而飲結，所以煩而悸也。
（四）少陽中風，兩耳無所聞，目赤，胸中滿而煩者，不可吐下，吐下則悸而驚。
［原文］
\風熱上壅則耳無聞，目赤，無形風熱，與有質痰飲搏結，則胸滿而煩，此但從
和解中行分竭法可也，若誤汗下，則胸中正氣大傷，而邪得以逼亂神明，此時即
為城下之盟，所喪不滋多乎。</p>
<p>辨少陽經病有欲解不解四法
（五）傷寒三日，三陽為盡，三陰當受邪，其人反能食不嘔，此為三陰不受邪也。
［原文］
\能食不嘔，與胃和則愈之義互發。
（六）傷寒三日，少陽脈小者，欲已也。［原文］
\脈不弦大，邪微欲解之先徵也。
（七）少陽病，欲解時，從寅至辰上。［原文］
\受病之經，正氣虛衰，每藉力於時令之王，此趨三避五，所繇來乎。
（八）傷寒六七日，無大熱，其人躁煩者，此為陽去入陰故也。［原文］
\陽去入陰，則邪勢得以留連，轉致危困者多矣，有治傷寒之責者，線索在手，
於邪在陽經之日，亟從外奪不亦善乎。</p>
<p>少陽證具將欲入裡而太陽陽明小有未罷但用小柴胡湯一法
（九）傷寒四五日，身熱，惡風，頭項強，脅下滿，手足溫而渴者，小柴胡湯主
之。［原文］
\身熱惡風，太陽證也，頭項強，太陽兼陽明證也，脅下滿，少陽證也，本當從
三陽合併病之例，而用表法，但其手足溫而加渴，外邪輻湊於少陽，而向裡之機
已著，倘更用辛甘發散之法，是重增其熱，而大耗其津也，故從小柴胡之和法，
則陽邪自罷，而陰津不傷，一舉而兩得矣，此用小柴胡湯，當從加減法，不嘔而
渴者，去半夏加括蔞根為是。</p>
<p>少陽證，脈弦濇加腹痛，先用建中，後用小柴胡一法。
（十）傷寒陽脈澀，陰脈弦，法當腹中急痛者，先用小建中湯，不差者，與小柴
胡湯主之。［原文］
\陽脈濇，陰脈弦，渾似在裡之陰寒，所以法當腹中急痛，故以小建中之緩，而
和其急，腹痛止，而脈不弦澀矣，若不差，則弦為少陽之本脈，而澀乃汗出不徹，
腹痛乃邪欲傳太陰也，則用小柴胡湯以和陰陽，為的當無疑矣。</p>
<p>少陽論具已經汗下而太陽未罷胸有微結者宜用柴胡桂枝乾薑一法
（一一）傷寒五六日，已發汗而復下之，胸脅滿，微結，小便不利，渴而不嘔，
但頭汗出，往來寒熱，心煩者，此為未解也，柴胡桂枝乾薑湯主之。［原文］
\少陽證尚兼太陽，所以誤下而胸間微結也，太陽中篇結胸條內，頭微汗出，用
大陷胸湯，以其熱結在裡，故從下奪之法也，此頭汗出而胸微結，用柴胡桂枝乾
薑湯，以裡證未具，故從和解之法也，小柴胡方中，減半夏人參，而加桂枝以行
太陽，加乾薑以散氣滿，括蔞根以滋乾，牡礪以耎結，一一皆從本例也。</p>
<p>少陽證小柴胡湯加渴者宜救津液一法
（三）服柴胡湯已，渴者，屬陽明也，以法治之。［原文］
\風寒之邪，從陽明而轉少陽，起先不渴，裡證未具，及服小柴胡湯已，重加口
渴，則邪還陽明，而當調胃以存津液矣，然不曰攻下，而曰以法治之，意味無窮，
蓋少陽之寒熱往來，間有渴證，倘少陽未罷，而恣言攻下，不自犯少陽之禁乎，
故見少陽重轉陽明之證，但云以法治之，其法維何，即發汗利小便已，胃中躁煩
實，大便難之說也，若未利其小便，則有豬苓五苓之法，若津液熱熾，又有人參
白虎之法，仲景圓穖活潑，人存政舉未易言矣。</p>
<p>少陽證具誤下而證尚未變者仍用小柴胡湯二法
（一三）凡柴胡湯病證而下之，若柴胡證不罷者，復與柴胡湯，必蒸蒸而振，卻
發熱汗出而解。［原文］
（一四）傷寒五六日，嘔而發熱者，柴胡湯證具而以他藥下之，柴胡證仍在者，
復與柴胡湯，此雖已下之，不為逆，必蒸蒸而振，卻發熱汗出而解若心下滿而鞕
痛者，此為結胸也，大陷胸湯主之，但滿而不痛者此為痞，柴胡湯不中與之，宜
半夏瀉心湯。［原文］
\二條互發，前略後詳，誤下雖誰未變，然正氣先虛，故服柴胡湯，必蒸蒸而振，
始得發熱汗出，而邪從表解也，若誤下而成結胸與痞，則邪尚在太陽，而柴胡非
所宜矣，結胸及痞太陽經令有顓條。</p>
<p>重以汗下為逆不為逆申上文而廣其義
（一五）本發汗而復下之，此為逆也，若先發汗，治不為逆，本先下之，而反汗
之，此為逆也，若先下之，治不為逆。［原文］
\少陽雖有汗下二禁，然而當汗當下，正自不同，本當發汗而反下之，則為逆，
若先汗後下，則不為逆，本當下之，而反發汗，則為逆，若先下後汗，則不為逆，
全在辨其表裡差多差少之間矣。</p>
<p>少陽病有疑似少陰者當細辨脈證用藥一法
（一六）傷寒五六日，頭汗出，微惡寒，手足冷，心下滿，口不欲食，大便鞕，
脈細者，此為陽微結，必有表復有裡也，脈沉亦在裡也，汗出為陽微，假令純陰
結，不得復有外證，悉入在裡，此為半在裡半在外也，脈雖沉緊，不得為少陰病，
所以然者，陰不得有汗，今頭汗出，故知非少陰也，可與小柴胡湯，設不了了者，
得屎而解。［原文］
\陽微結者，陽邪微結，未盡散也，註作陽氣衰微，故邪氣結聚，大差，果爾則
頭汗出為亡陽之證，非半表半裡之證矣，果爾則陰結，又是陰氣衰微矣，玩本文
假令純陰結等語，謂陽邪若不微結，純是陰邪內結，則不得復有外證，其義甚明，
得屎而解，即取大柴胡為和法之意也。</p>
<p>用汗吐下後有辨脈證而識其必愈一法
（一七）凡病若發汗，若吐若下，若亡津液，陰陽自和者，必自愈。［原文］
\汗吐下三法，難於恰當，若誤用之，則病未去，而胃中之津液已先亡，凡見此
者，診視其脈與證，陰陽自和，則津液復生，必自愈也。</p>
<p>辨婦人傷寒傳少陽有熱入血室之證四法
（一八）婦人中風，發熱惡寒，經水適來，得之七八日，熱除而脈遲身涼，胸脅
下滿，如結胸狀，讝語者，此為熱入血室也，當刺期門，隨其實而瀉之。［原文］
（一九）婦人中風，七八日續待寒熱，發作有時，經水適斷者，此為熱入血室，
其血必結，故使如瘧狀，發作有時，小柴胡湯主之。［原文］
（二十）婦人傷寒發熱，經水適來晝日明了，暮則讝語，如見鬼狀者，此為熱
入血室，無犯胃氣及上二焦，必自愈。［原文］
（二一）血弱氣盡腠理開，邪氣因入，與正氣相搏結於脅下，正邪分爭，往來寒
熱，休作有時，默默不欲飲食，臟腑相連，其痛必下，邪高痛下，故使嘔也，小
柴胡湯主之。［原文］
\四條皆互文見意也，一云經水適來，一云經水適斷，一云七八日熱除，而脈遲
身涼，一云七八日續得寒熱，發作有時，一云胸脅下滿，一云邪氣因入，與正氣
相搏結於脅下，一云如結胸狀，一云邪高痛下，一云讝語，一云晝日明了，暮
則讝語，如有鬼狀，一云如瘧狀，一云往來寒熱，休作有時，一云刺期門，一 云
用小柴胡湯，一云毋犯胃氣及上二焦，皆互文以明大義，而自為註腳也，學者試
因此而紬釋全書，思過半矣。如結胸狀四字，仲景尚恐形容不盡，重以臟腑相連，
邪高痛下之語，暢發病情，蓋血室者衝脈也，下居腹內，厥陰肝之所主也，而少
陽之膽與肝相連，腑邪在上，臟邪在下，胃口逼處二邪之界，所以默默不欲飲食
而但喜嘔耳，期門者肝之募也，隨其實而瀉之，瀉肝之實也，又刺期門之註腳也，
小柴胡湯，治少陽之正法也，毋犯胃氣及上二焦，則舍期門，小柴胡更無他法矣，
必自愈，見腑邪可用小柴胡湯，而臟邪必俟經水再行，其邪熱乃隨血去，又非藥
之所能勝耳。［少陽止此］</p>
<p>重編合病併病壞病痰病附三陽經後，其過經不解，附三陰經後。右證叔和俱編入
太陽經中，不知何意，或謂傷寒只分六經，合太陽一經，別無可入諸項也，然則
霍亂證，及陰陽易等證，曷不盡入太陽耶，況乎既重六經，則少陽亦六經之一，
曷不為重耶，茲一一清出，以六經等六國，以合併諸病等附庸，俾業傷寒者，一
展玩而了然於心目耳。</p>
<p>合病
合病者，兩經之證，各見一半，如日月之合朔，如王者之合圭璧，界限中分，不
偏多偏少之謂也。
（一）太陽病，項背強，几几反汗出惡風者，桂枝加葛根湯主之。［原文］
（二）太陽病，項背強，几几無汗惡風者，葛根湯主之。［原文］
\二條以有汗無汗，定傷風傷寒之別，蓋太陽初交，陽明末至，兩經各半，故仲
景原文，不用合病二字，然雖不名合病，其實乃合病之初證也，几几者，頸不舒
也，頸屬陽明，既於太陽風傷衛證中，纔見陽明一證，即於桂枝湯內，加葛根一
藥，太陽寒傷營證中，纔見陽明一證，即於麻黃湯內加葛根一藥，此大匠天然一
不易之穀率也，然第二條，不用麻黃全方加葛根，反用桂枝全方加麻黃葛根者，
則併其巧而傳之矣，見寒邪既欲傳於陽明，則胸間之喘必自止，自可不用杏仁，
況頸項背，俱是陽位，易於得汗之處，設以麻黃本湯加葛根，大發其汗，將毋項
背強，几几者，變為經脈振搖動惕乎，此仲景之所為精義入神也。桂枝湯，麻黃
湯，分主太陽之表，葛根湯，總主陽明之表，小柴胡湯，總主少陽之表，三陽經
合併受病，即隨表邪見證多寡定方，絲絲入扣。
（三）太陽與陽明合病，不下利，俱嘔者，葛根加半夏湯主之。［原文］
（四）太陽與陽明合病者，必自下利，葛根湯主之。［原文］
\二條又以下利不下利，辨別合病主風主寒之不同也，風者陽也，陽性上行，故
合陽明胃中之水飲而上逆，寒者陰也，陰性下行，故合陽明胃中之水穀而下奔，
然上逆則必加半夏人葛根湯，以滌飲止嘔，苦下利，則但用葛根湯，以解兩經之
邪，不治利而利自止耳，葛根湯即第一條桂枝湯加葛根，不用麻黃者是也。
（五）太陽與陽明合病，喘而胸滿者，不可下麻黃湯主之。［原文］
\兩經合病，當合用兩經之藥，何得偏用麻黃湯耶，此見仲景析義之精，蓋太陽
邪在胸，陽明邪在胃，兩邪相合，必上攻其肺，所以喘而胸滿，麻黃杏仁，治肺
氣喘逆之顓藥，用之恰當，正所謂內舉不避親也，何偏之有。
（六）太陽與少陽合病，自下利者，與黃芩湯，若嘔者，黃芩加半夏生薑湯。［原
文］
\太陽陽明，合病下利，表證為多，陽明少陽，合病下利，裡證為多，太陽少陽，
合病下利，半表半裡之證為多，故用黃芩甘草芍藥大棗為和法也。
（七）陽明少陽合病，必下利，其脈不負者，順也，負者，失也，互相剋賊，名
為負也，脈滑而數者，有宿食也，當下之，宜大承氣湯。［原文］
\土木之邪，交動，則水榖不停而急奔，故下利可必也，陽明脈大，少陽脈弦，
兩無相負，乃為順候，然兩經合病，陽明氣衰，則弦脈獨見，少陽勝而陽明負矣，
下之固是通因通用之法，而土受剋賊之邪，勢必藉大力之藥，急從下奪，乃為解
圍之善著，然亦必其脈滑而且數，有宿食者，始為當下無疑也，設脈不滑數而遲
軟，方慮土敗垂亡，尚敢下之乎。按太陽與陽明合病，陽明與少陽合病，俱半兼
陽明，所以胃中之水榖不安，而必自下利，其有不下利者，亦必水飲上越而嘔，
與少陽一經之證，乾嘔者大不同也，或利或嘔，胃中之真氣，與津液俱傷，所以
亟須散邪以安其胃，更慮少陽勝而陽明負，即當急下以救陽明，其取用大承氣湯，
正迅掃外邪，而承領元氣之義也，設稍牽泥，則脈之滑數必轉為遲軟，下之無及
矣，微哉危哉。
（八）三陽合病，脈浮大上關上，但欲眠睡，目合則汗。
（九）三陽合病，腹滿身重，難以轉側，口不仁而面垢，讝語遺尿，發汗則讝
語，下之則額上生汗，手足逆冷，若自汗者，白虎湯主之。［原文］
\三陽合病，互合之，表裡俱傷，故其脈浮大，其證欲眠，而目合則汗，中州之
擾亂可知矣，此時發汗則偏於陽，而陽明之津液倍竭，故讝語益甚，將成無陽
之證也，下之則偏於陰，而真陽以無偶而益孤，故手足逆冷，而額上生汗，將成
亡陽之證也，既不宜於汗下，惟有白虎一湯，主解熱而不礙表裡，在所急用，然
非自汗出，則表猶未解，尚未可用，此證夏月最多，當與痙濕暍篇參看。按三陽
經之受外邪，太陽頭疼腰脊痛，陽明目痛，鼻乾不眠，少陽寒熱往來，口苦嘔渴，
各有專司，合病者，即兼司三陽二陽之證也，仲景但以合之一字括其義，而歸重
在下利與嘔喘胸滿之內證，蓋以邪既相合，其人腹內，必有相合之徵驗故也，後
人於此等處，漫不加察，是以不知合病為何病耳，再按少陽篇第九條云，傷寒六
七日發熱微惡寒，支節煩疼微嘔，心下支結，外證未去者，柴胡桂枝湯主之一條，
其證全是太陽與少陽合併之病，但內無下利，其嘔復微，即不謂之合病，心下支
結，又與心下痞鞕，時如結胸者不同，即不謂之併病，乃知併合之病，重在內
有合併之徵驗，非昌之臆說矣。後人謂三陽合病，宜從中治此等議論，似得仲景
表邪未散，用小柴胡湯，裡熱已極，用白虎湯之旨，然未可向癡人說夢也，設泥
此則仲景所用麻黃湯，大承氣湯之妙法，萬不敢從矣，噫，吾安得盡闢捷徑為周
行也哉。</p>
<p>併病
併病者，兩經之證，連串為一，如貫索然，即兼併之義也，併則不論多寡，一經
見三五證，一經見一二證，即可言併病也，然太陽證多，陽明少陽證少，如秦之
併六國者乃病之常，若陽明少陽證多，太陽證少，則太陽必將自罷，又不得擬之
為六國併秦矣。
（一）二陽併病，太陽初得病時，發其汗，汗先出不徹，因轉屬陽明，續自微汗
出，不惡寒，若太陽病證不罷者，不可下，下之為逆，如此可小發汗，設面色緣
緣正赤者，陽氣怫鬱在表，當解之熏之，若發汗不徹，不足言陽氣怫鬱不得越，
當汗不汗，其人躁煩，不知痛處，乍在腹中，乍在四肢，按之不可得，其人短氣，
但坐以汗出不徹故也，更發汗則愈，何以知汗出不徹，以脈濇故知也。［原文］
（二）二陽併病，太陽證罷，但發潮熱，手足漐漐汗出，大便難而讝語者，
下之則愈，宜大承氣湯。［原文］
\按二陽併病二條，皆是太陽與陽明併也，上條證初入陽明，而太陽仍未罷，宜
小汗，此條證已入陽明，而太陽亦隨罷，宜大下，所以宜小汗大下之故，昌言之
已悉，可以無贅，但上條之文，從前末有註釋，茲特明之，太陽初得寒傷營之病，
以麻黃發其汗，汗出而邪去，病不傳矣，因汗出不徹，故傳陽明，續自微汗出，
不惡寒，陽明熱熾，似乎當用下法，以太陽之邪未徹，故下之為逆，謂其必成結
胸等證也，如此者，可小發汗，然後下之，設面色緣緣正赤者，寒邪深重，陽氣
怫鬱在表，必始先未用麻黃湯，或已用麻黃湯而未得汗，所以重當解之熏之，又
非小發汗所以勝矣，若是發汗不徹，不足言陽氣怫鬱不得越也，畢竟當汗不汗，
其人躁煩，不知痛處，乍在腹中，乍在四肢，按之不可得，方是陽氣不得越耳，
短氣者，因汗而氣傷也，脈濇者，因汗而血傷也，汗雖未徹，其已得汗可知，其
不怫鬱又可知，所以宜更他藥以小發其汗，更字讀平聲，與太陽中篇傷寒汗解半
日許復煩，脈浮數者，可更發汗互發，然則彼更桂枝湯，此更桂枝加葛根湯，并
可推矣。
（三）太陽與少陽併病，頭項強痛，或眩冒，時如結胸，心下痞鞕者，當刺大
椎第一間肺俞肝俞，慎不可發汗，發汗則讝語，脈弦，五六日讝語，不止當
刺期門。［原文］
\少陽之脈，絡胸脅間併入太陽之邪，則與結胸證似是而實非也，肝與膽合，刺
肝俞所以瀉膽也，膀胱不與肺合，然肺主氣，刺肺俞以通其氣，斯膀胱之氣化行，
而邪自不能留矣，發汗則讝語與合病木盛剋土之意同，註謂木盛則生心火，節
外生枝，反失正意，脈弦亦即合病，內少陽勝而陽明負之互詞，此所以刺期門，
隨木邪之實而瀉之也，仲景通身手眼，後人只泥於一手一目可乎。
（四）太陽少陽併病，心下鞕，頸項強而眩者，當刺大椎肺俞，肝俞，慎勿下
之。［原文 ］
\重申不可下之禁，與上條不可汗互發。
（五）太陽少陽併病，而反下之，成結胸心下鞕，下利不止，水漿不下，其人
心煩。［原文］
\誤下之變，乃至結胸下利，上下交征，而陽明之居中者水漿不入，心煩待斃，
傷寒顧可易言哉。併病即不誤用汗下，已如結胸心下痞鞕矣，況加誤下乎，此
比太陽一經，誤下之結胸，殆有甚焉，其人心煩，似不了之語，然仲景太陽經，
謂結胸證悉具，煩躁者亦死，意者此謂其人心煩者死乎。</p>
<p>壞病
壞病者，已汗已吐已下，已溫鍼，病猶不解，治法多端，無一定可擬，故名之為
壞病也，壞病與過經不解大異，過經不解者，連三陰經俱巳傳過，故其治但在表
裡，差多差少，宜先宜後之間，若壞病則病在三陽未入於陰，故其治但在陽經，
其證有結胸下利，眩冒振惕驚悸，讝妄嘔噦躁煩之不同，其脈有弦促細數，緊
滑沉微，澀弱結代之不同，故必辨其脈證，犯何逆，然後得以法而治其逆也。
（一）太陽病三日，已發汗，若吐若下若溫鍼，仍不解者，此為壞病，桂枝不中
與也，觀其脈證，知犯何逆，隨證治之。［原文］
\相傳傷寒過經日久，二三十日不痊者，謂之壞病，遂與過經不解之病無辨，此
古今大誤也，仲景止說病三日，即五六日亦未說到，且此條止說太陽病，連少陽
亦未說到，故謂桂枝偏表之法，不可用，觀下條太陽轉入少陽之壞證，有柴胡證
罷四字，可見此為桂枝證罷，故不可復用也，設桂枝證仍在，即不得謂之壞病，
與少陽篇內柴胡證仍在者，此雖已下之不為逆，復與柴胡湯，必蒸蒸而振，卻發
熱汗出而解之文，又互相綰照也，豈有桂枝柴胡之證，尚未罷，而得指為壞病之
理哉，故必細察其脈為何脈，證為何證，從前所誤，今犯何逆，然後隨其證而治
之，始為當耳。
（二）本太陽病不解，轉入少陽者，脅下鞕滿乾嘔，不能食，往來寒熱，尚未
吐下，脈沉緊者，與小柴胡湯，若已吐下，發汗溫鍼讝語，柴胡證罷，此為壞
病，知犯何逆，以法治之。［原文］
\按上條太陽經之壞病也，此條少陽經之壞病也，兩條文意互發，其旨甚明，叔
和分彙，致滋疑惑，茲合而觀之，乃知上條云桂枝湯不中與，則其所犯，要不離
於太陽一經之誤吐誤下，誤發汗誤燒鍼之諸逆也，此條云，柴胡湯不中與，則其
所犯，要不離於少陽一經之誤吐誤下，誤發汗誤燒鍼之諸逆也，後人擬議何逆四
治，見為創獲，繇茲觀之，真囈語矣。</p>
<p>痰病
慨自傷寒失傳，後人乃以食積虛煩痰飲腳氣，牽合為類傷寒四證，此等名目一出，
凡習傷寒之家，茍簡粗疏，己自不識要妙，況復加冬溫、溫病、寒疫、熱病、濕
溫、風溫、霍亂、痙、內癰、畜血，為類傷寒十四證，頭上安頭，愈求愈失，茲
欲直溯淵源，不得不盡闢歧派，蓋仲景於春夏秋三時之病，既以冬月之傷寒統之，
則十四證亦皆傷寒中之所有也，若諉之局外，漫不加察，至臨證糢糊，其何以應
無窮之變哉，昌於春夏病中，逐段拈出，茲於三陽經後，特立痰病一門，凡痰飲
素積之人，有挾外感而動者，有不繇外感而自動者，仲景分別甚明，挾外感之邪，
搏結胸脅，三陽篇中，已致詳矣，此但舉不繇外感之痰病，昭揭其旨，俾學者辨
證以施治焉耳。
（一）病如桂枝證，頭不痛，項不強，寸脈微浮，胸中痞鞕，氣上沖咽喉，不
得息者，此為胸有寒也，當吐之，宜瓜蒂散，諸亡血虛家不可與。［原文］
\寒者痰也，痰飲內動，身必有汗，加以發熱惡寒，全似中風，但頭不痛，項不
強，此非外入之風，乃內蘊之痰，窒塞胸間，宜用瓜蒂散，以湧出其痰也。
（二）病人有寒，復發汗，胃中冷，必吐蚘。［原文］
\寒亦痰也，此即上條之互文，上條辨非桂枝之證，此條辨不可發汗，蓋痰從內
動，無外感與俱，誤發其汗，必至迷塞經絡，留連不返，故示戒也，設兼外感，
如三陽證中諸條，則無形之感，挾有形之痰，結於一處，非汗則外邪必不解，即
強吐之，其痰飲亦必不出，所以小青龍一法，卓擅奇功耳，此言有痰無感，誤發
其汗，重亡津液，即大損陽氣，其人胃冷而吐蚘有必至也。
（三）病人手足厥冷，脈乍緊者，邪結在胸中，心中滿而煩，饑不能食者，病在
胸中，當須吐之，宜瓜蒂散。［原文］
\手足厥冷，與厥陰之熱深厥深相似，其脈乍緊，則有時不緊，殊不似矣，可見
痰結在胸，故滿煩而不能食，亦宜瓜蒂為吐法也。合三條，總見痰證可吐不可汗，
合食積虛煩腳氣四證論之，勿指為類傷寒，但指為不可發汗，則其理甚精，蓋食
積胸中，陽氣不布，更發汗則陽氣外越，一團陰氣用事，愈成危候，虛煩則胃中
津液已竭，更發汗則津液盡矣，腳氣即地氣之濕邪，從足先受者，正濕家不可發
汗之義耳，奈何舍正路而趨曲徑耶。門人問曰，吾師於三陽證中，挈出合病、併
病、壞病、痰病之條，可謂暗室一燈，炯然達旦矣，但不識陽明何以無壞病耶，
答曰，陽明之誤治最多，其脈證固當辨別，但不得以壞病名之也，蓋陽明原有可
汗可下之條，汗下原不為大逆，且誤在汗，當不誤在下矣，誤在下，當不誤在汗
矣，即使汗下燒鍼屢誤，其病亦止在胃中，原有定法可施，與壞證無定法之例，
微有不協，此壞病所以不入陽明耳。門人又問曰，救陽明誤治之定法，可得聞乎，
答曰，仲景云，陽明病，脈浮而緊，咽躁口苦，腹滿而喘，發熱汗出，不惡寒，
反惡熱，身重，若發汗則躁，心憒憒，反讝語，若加燒鍼，必怵惕煩躁，不得
眠，若下之則胃中空虛，客氣動膈，心中懊憹，舌上胎者，梔子豉湯主之，觀
其誤汗誤燒鍼之變，煩躁惕怵，讝語不眠，止是邪在胃中，擾其津液，與亡陽
之證不同也，觀其誤下之變，客氣動膈，心中懊憹，止是熱邪上膈，心逼不安，
與結胸之證不同也，故遵內經高者越之之旨，以梔子鼓湯湧出其邪耳，此非無定
中之定法乎。</p>

<h1>卷四</h1>
<h2>尚論太陰經證治大意</h2>
<p>仲景傷寒論，六經中，惟太陰經文止九條，方止二道，後人致惜其非全書，昌紬
繹其所以約略之意，言中風，即不言傷寒，言桂枝，即不言麻黃，言當溫者，則
曰宜四逆輩，全是引伸觸類之妙，可見治法總不出三陽外，但消其風寒之原，以
定發汗解肌，更於腹之或滿或痛間，辨其虛實，以定當下當溫而已，了無餘義矣，
自非深入閫奧者，孰能會其為全書也哉。</p>
<h2>太陰經全篇［法九條］</h2>
<p>（一）太陰之為病，腹滿而吐，食不下，自利益甚，時腹自痛，若下之，必胸下
結鞕。［原文］
\腹滿自利，太陰之本證也，吐而食不下，則邪迫於上，利甚而腹痛，則邪迫於
下，上下交亂，胃中空虛，此但可行溫散，設不知而誤下之，其在下之邪可去，
而在上之邪陷矣，故胸中結鞕，與結胸之變頗同，胃中津液上結，胸中陽氣不
布，卒難開也。
（二）太陰中風，四肢煩疼，陽微陰澀而長者為微愈。［原文］
\四肢煩疼者，脾主四肢，亦風淫末疾之驗也，陽脈微，陰脈澀，則風邪已去，
而顯不足之象，但脈見不足，正恐元氣已漓，暗伏危機，故必微澀之中，更察其
脈之長而不短，知元氣未漓，其病為自愈也，註不審來意，謂濇為血凝氣滯大謬，
豈有血凝氣滯，反為欲愈之理耶。
（三）太陰病脈浮者，可發汗，宜桂枝湯。［原文］
\太陰脈，尺寸俱沉細，今脈浮，則邪還於表可知矣，故仍用桂枝解肌之法也。
太陽經中，以浮緩為中風，浮緊為傷寒，故此不重贅，但揭一浮字，其義即全該，
風邪用桂枝湯，其脈之浮緩，不待言矣，然則寒邪之脈浮緊，其當用麻黃湯，更
不待言矣，況少陽篇中云，設胸滿脅痛者，與小柴胡湯，脈但浮者，與麻黃湯，
早已挈明用麻黃湯之義，故於太陰證中，但以桂枝互之，乃彌全現全彰也，不然，
同一浮脈，何所見而少陽當用麻黃，太陰當用桂枝也哉。
（四）自利不渴者，屬太陰，以其藏有寒故也，當溫之宜服四逆輩。［原文］
\註謂自利不渴，濕邪也，故用四逆輩以燠土燥濕，此老生腐譚，非切要也，仲
景大意，以自利不渴者，屬太陰，以自利而渴者屬少陰，分經辨證，所關甚鉅，
蓋太陰濕土，熱邪入而蒸動其濕，則濕有餘，故不渴而多發黃，少陰屬腎水，熱
邪入而消耗其水，則顯不足，故口渴而多煩躁，若不全篇體會，徒博註釋之名，
其精微之蘊，不能闡發者多矣。
（五）傷寒脈浮而緩，手足自溫者，繫在太陰，太陰當發身黃，若小便自利者，
不能發黃，至七八日雖暴煩，下利日十餘行，必自止，以脾家實，穢腐當去故也。
［原文］
\太陰脈本緩，故浮緩雖類太陽中風，然手足自溫，則不似太陽之發熱，并不似
少陰厥陰之四逆與厥，所以繫在太陰，允為恰當也，太陰脈見浮緩，其濕熱交盛，
勢必蒸身為黃，若小便自利者，濕熱從水道暗泄，不能發黃也，前陽明篇中，不
能發黃，以上語句皆同，但彼以胃實而便鞕，其證復轉陽明，此以脾實而下穢
腐，其證正屬太陰耳，至七八日暴煩，下利日十餘行，其證又與少陰無別，而利
盡穢腐當自止，則不似少陰之煩躁有加，下利漫無止期也，況少陰之煩而下利，
手足反溫，脈緊反去者，仍為欲愈之候，若不辨晰，而誤以四逆之法治之，幾何
不反增危困耶，雖陽明與太陰，臟腑相連，其便鞕與下利，自有陽分陰分之別，
註家歸重於脾，謂脾為胃行津液則如此，不為胃行津液則如彼，似是而非，全失 
仲景三陰互發之旨。
（六）本太陽病，醫反下之，因而腹滿時痛者，屬太陰也，桂枝加芍藥湯主之。
［原文］
\太陽病之誤下，其變皆在胸脅以上，此之誤下而腹滿時痛，無胸脅等證，則其
邪巳入陰位，所以屬在太陰也，仍用桂枝解肌之法，以升舉陽邪，但倍芍藥以收
太陰之逆氣，本方不增一藥，斯為神耳。
（七）大實痛者，桂枝加大黃湯主之。［原文］
\大質大滿，宜從急下，然陽分之邪，初陷太陰未可峻攻，但於桂枝湯中少加大
黃，七表三裡以分殺其邪可也。
（八）太陰為病，脈弱，其人續自便利，設當行大黃芍藥者，宜減之，以其人胃
氣弱易動故也。［原文］
\此段叮嚀，與陽明篇中互發，陽明曰不轉失氣，曰先鞕後溏，曰未定成鞕，
皆是恐傷太陰脾氣，此太陽證，而脈弱便利，減用大黃芍藥又是恐傷陽明胃氣也。
（九）太陰病，欲解時，從亥至丑上。</p>
<h2>尚論少陰經證治大意</h2>
<p>傳經熱邪，先傷經中之陰，甚者邪未除而陰巳竭，獨是傳入少陰，其急下之證，
反十之三，急溫之證，反十之七而宜溫之中，復有次第不同，毫釐千里，粗工不
解，必於會犯房勞之證，始克用溫，及遇一切當溫之證，反不能用，詎知未病先
勞其腎水者，不可因是遂認為當溫也，必其人腎中之真陽素虧，復因汗吐下擾之，
外出而不能內返，勢必藉溫藥以回其陽，方可得生，所以傷寒門中，亡陽之證最
多，即在太陽，已有種種危候，至傳少陰，其辨證之際，仲景多少遲徊顧惜，不
得不從正治之法，清熱奪邪，以存陰為先務也，今以從權溫經之法，疏為前篇，
正治存陰之法，疏為後篇，俾業醫者免臨歧之惑云。</p>
<h2>少陰經前篇［凡本經宜溫之證，悉列此篇］</h2>
<p>（一）少陰病，始得之，反發熱脈沉者，麻黃附子細辛湯主之。［原文］
\脈沉為在裡，證見少陰，不當復有外熱，若發熱者，乃是少陰之表邪，即當行
表散之法者也，但三陰之表法，與三陽迥異，三陰必以溫經之藥為表，而少陰尤
為緊關，故麻黃與附子合用，俾外邪出而真陽不出，纔是少陰表法之正也。
（二）少陰病，得之一二日，口中和，其背惡寒者當灸之，附子湯主之。［原文］
\得之一二日，即上條始得之之互文，口中和者，不渴不躁，全無裏熱，其背惡
寒，則陽微陰盛之機，已露一班，故灸之以火，助陽而消陰，主之以附子湯，溫
經而散寒也。
（三）少陰病，得之二三日，麻黃附子甘草湯，微發汗，以二三日無裡證，故微
發汗也。［原文］
\不吐利煩躁嘔渴，為無裡證，既無裡證，病尚在表可知，故以甘草易細辛，而
微發汗，又溫散之緩法也。
（四）少陰病，欲吐不吐，心煩，但欲寐，五六日自利而渴者，屬少陰也，虛故
引水自救，若小便色自者，少陰病形悉具，小便白者，以下焦虛有寒，不能制水，
故令色白也。［原文］
\欲吐不吐心煩，腎氣上逆之徵也，自利而渴，加以口躁舌乾，引水自救，似乎
傳經熱病之形悉具，然腎熱則水道黃赤，若小便色白，又非腎熱證，乃下焦虛寒，
不能制水，仍當從事溫法，不可誤認為熱，而輕用寒下也。
（五）病人脈陰陽俱緊，反汗出者，亡陽也，此屬少陰，法當咽痛而復吐利。［原
文］
\陰陽俱緊，傷寒之脈也，傷寒無汗，反汗出者無陽以固護其外，所以邪不出而
汗先出也，少陰之邪不出，則咽痛吐利，一一顯少陰之本證，即當用少陰溫經散
邪之法，不言可知矣。
（六）少陰病，脈微不可發汗，亡陽故也，陽已虛，尺脈弱濇者，復不可下之。
［原文］
\亡陽不可發汗，與上條互發，亡與無同，無陽則其邪為陰邪，陰邪本宜下，然
其人腸已虛，尺脈弱濇者，復不可下，其當亟行溫法，又可見矣。
（七）少陰病下利，若利自止，惡寒而踡臥，手足溫者可治。［原文］
\惡寒踡臥，證本虛寒，利止手足溫，則陽氣未虧，其陰寒亦易散，故可用溫法
也。
（八）少陰病，惡寒而踡，時自煩，欲去衣被者可治。［原文］
\自煩欲去衣被，真陽擾亂不寧，然尚未至出亡在外，故可用溫法也。
（九）少陰病脈緊，至七八日自下利，脈暴微，手足反溫，脈緊反去者，為欲解
也，雖煩下利必自愈。［原文］
\三條互見，此則邪解陽回，可勿藥自愈之證，即緊去入安之互詞也。
（十）少陰病，身體痛，手足寒，骨節痛，脈沉者，附子湯主之。［原文］
\身體痛，手足寒，骨節痛，脈沉，皆寒邪入少陰之本證，即當用附子湯，行溫
經散寒之定法也。
（一一）少陰病，吐利，手足厥冷，煩躁欲死者，吳茱萸湯主之。［原文］
\吐利厥冷，而至於煩躁欲死，腎中之陰氣上逆，將成危候，故用吳茱萸以下其
逆氣，而用人參薑棗以厚土，則陰氣不復上干，此之溫經兼用溫中矣。
（三）少陰病，下利，白通湯主之。［原文］
\下利無陽證者，純陰之象，恐陰盛而隔絕其陽，故用白通湯，以通其陽，而消
其陰也。
（一三）少陰病，下利脈微者，與白通湯，利不止，厥逆無脈，乾嘔煩者，白通
加豬膽汁湯主之，服湯脈暴出者死，微續者生。［原文］
\與白通湯，反至厥逆無脈，乾嘔而煩，此非藥之不勝病也，以無鄉導之力，宜
其不入耳，故復加人尿豬膽汁之陰，以引陽藥深入，然脈暴出者死，微續者生，
亦微矣哉，故上條纔見下利，早用白通圖功於未著，真良法也。
（一四）少陰病，二三日不已，至四五日，腹痛，小便不利，四肢沉重，疼痛，
自下利者，此為有水氣，其人或欬，或小便利，或下利，或嘔者，真武湯主之。
［原文］
陰寒內持，濕勝而水不行，因而內滲外薄，甚至水穀不分，或欬或利，泛溢無所
不至，非賴真武坐鎮北方之水，寧有底哉，太陽篇中，厥逆筋惕肉瞤而亡陽者，
用真武湯之法，己表明之矣，茲少陰之水濕上逆，仍用真武一法以鎮攝之，可見
太陽膀胱，與少陰腎，一藏一府，同居北方寒水之位，府邪為陽邪，藉用麻桂為
青龍，藏邪為陰邪，藉用附子為真武，得此二湯，以滌痰導水，消陰攝陽，其神
功妙濟，真有不可思議者矣。
（一五）少陰病，下利清榖，裡寒外熱，手足厥逆，脈微欲絕，身反不惡寒，其
人面赤色，或腹痛，或乾嘔，或咽痛，或利止脈不出者，通脈四逆湯主之，其脈
即出者愈。［原文］
\下利裡寒，種種危殆，其外反熱，其面反赤，其身反不惡寒，而手足厥逆，脈
微欲絕，明係群陰隔陽於外，不能內返也，故倣白通之法，加蔥入四逆湯中，以
入陰迎陽，而復其脈也，前條云，脈暴出者死，此條云脈即出者愈，其辨最細，
蓋暴出則脈已離根，即出則陽已返舍，繇其外反發熱，反不惡寒，真陽尚在軀殼，
然必通其脈而脈即出，始為休徵，設脈出艱遲，其陽已隨熱勢外散，又主死矣。
（一六）少陰病，脈沉者，急溫之，宜四逆湯。［原文］
\外邪入少陰，宜與腎氣兩相搏擊，乃脈見沉而不鼓，即內經所謂腎脈獨沉之義，
其人陽氣衰微可知，故當即溫之以助其陽也。
（一七）少陰病，飲食入口即吐，心下溫溫欲吐，復不能吐，始得之，手足寒脈
弦遲者，此胸中實不可下也，當吐之，若膈上有寒飲乾嘔者，不可吐也，急溫之，
宜四逆湯。［原文］
\飲食入口即吐，猶曰胃中不能納榖也，若不飲食之時，復欲吐而不能吐，明係
陰邪上逆矣，此等處必加細察，若始得之，便手足寒而脈弦遲，即非傳經熱邪，
其為陰邪上逆無疑，當從事乎溫經之法也，若胸中實者，是為陽邪在胸而不在腹，
即不可用下，而當吐以提之也，然必果係陽邪，方可用吐，設膈上有寒飲乾嘔，
即是陰邪用事，吐必轉增其逆，計惟有急溫一法，可助陽而勝陰矣。
（一八）少陰病，下利，脈微澀，嘔而汗出，必數更衣，反少者，當溫其上，灸
之。［原文］
\下利而脈見陽微陰澀，為真陰真陽兩傷之候矣，嘔者，陰邪上逆也，汗出者陽
虛不能外固，陰弱不能內守也，數更衣反少者，陽虛則氣下墜，陰弱則勤弩責也，
是證陽虛，本當用溫，然陰弱，復不宜於溫，一藥之中既欲救陽，又欲護陰，漫
難區別，故於頂之上，百會穴中灸之，以溫其上而升其陽，庶陽不致下陷，以逼
迫其陰，然後陰得安靜不擾，而下利自止耳，此證設用藥以溫其下，必逼迫轉加，
下利不止，而陰立亡，故不用溫藥，但用灸法，有如此之回護也。
前條用吳茱萸湯，兼溫其中，此條用灸法，獨溫其上，妙義天開，令人舞蹈。
（一九）少陰病吐利，手足不逆冷，反發熱者，不死，脈不至者，灸少陰七壯。
［原文］
\既吐且利，手足逆冷者，其常也，若反發熱，則陽氣似非衰憊，然正恐真陽越
出軀殼之外，故反發熱耳，設脈不至，則當急溫無疑，但溫藥必至傷陰，故於少
陰本穴，用灸法以引其陽內返，斯脈至而吐利亦將自止矣，前條皆惡寒之證，灸
後用附子湯者，陰寒內凝，定非一灸所能勝，此條手足反熱，止是陰內陽外，故
但灸本經以招之內入，不必更用溫藥也，絲絲入扣。
（二十）少陰病，惡寒身踡而利，手足逆冷者不治。［原文］
\陰盛無陽，即用四逆等法，回陽氣於無何有之鄉，其不能回者多矣，故曰不治。
（二一）少陰病，吐利煩躁，四逆者死。［原文］
\上吐下利，因至煩躁，則陰陽擾亂，而竭絕可虞，更加四肢逆冷，是中州之土，
先敗，上下交征，中氣立斷，故主死也，使早用溫中之法，寧至此乎。
（二二）少陰病，下利止而頭眩，時時自冒者死。［原文］
\下利既止，其人似可得生，乃頭眩時時自冒者，復為死候，蓋人身陰陽相為依
附者也，陰亡於下，則諸陽之上聚於頭者，紛然而動，所以頭眩時時自冒，陽脫
於上，而主死也，可見陽回利止則生，陰盡利止則死矣。
（二三）少陰病，四逆惡寒而身踡，脈不至，不煩而躁者死。［原文］
\四逆惡寒身踡，更加脈不至，陽已去矣，陽去故不煩，然尚可施種種回陽之法，
若其人復加躁擾，則陰亦垂絕，即欲回陽，而基址已壞，不能回也。
（二四）少陰病，六七日，息高者死。［原文］
\諸陽主氣，息高則真氣上併於胸中，本實先撥，而不能復歸於氣海，故主死也，
六七日三字，辨證最細，見六七日經傳少陰而息高，與二三日太陽作喘之表證迥
殊也。
（二五）少陰病，脈微沉細，但欲臥，汗出不煩自欲吐，至五六日自利，復躁煩
不得臥寐者死。［原文］
\脈微沉細，但欲臥，少陰之本證也，汗出不煩，則陽證悉罷，而當顧慮其陰矣，
乃於中兼帶欲吐一證，欲吐，明係陰邪上逆，正當急溫之時，失此不圖，至五六
日，自利有加，復煩躁不得臥寐，非外邪至此轉增，正少陰胃中之真陽擾亂，頃
刻奔散，即溫之亦無及，故主死也。</p>
<h2>少陰經後篇［凡少陰傳經，熱邪正治之法，悉列此篇］</h2>
<p>（一）少陰之為病脈微細，但欲寐也。［原文］
\陽脈滑大，陰脈微細，外邪傳入少陰，其脈心微細，而與三陽之滑大迥殊，衛
氣行陽，則寤，行陰則寐，邪入少陰，則氣行於陰，不行於陽，故但欲寐也，此
少陰之總脈總證也。
（二）少陰病，脈細沉數，病為在裡，不可發汗。［原文］
\沉細之中，加中以數，正熱邪入裡之徵，熱邪入裡，即不可發汗，發汗則動其
經氣，而有奪血亡陽之變，故示戒也。
（三）少陰病，欬而下利讝語者，被火氣劫故也，小便必難，以強責少陰汗也。
［原文］
\少陰之脈，從足入腹，上循喉嚨，縈繞舌根，故多咽痛之證，其支別出肺，故
間有咳證，今以火氣強劫其汗，則熱邪挾火力上攻，必為欬，以肺金惡火故也，
下攻必為利，以火勢逼迫而走空竅故也，內攻必讝語，以火勢燔炳而亂神識故
也，小便必難者，見三證皆妨小便，蓋肺為火熱所傷，則膀胱氣化不行，大腸奔
迫無度，則水穀併趨一路，心胞燔灼不已，則小腸枯涸必至耳，少陰可強責其汗
乎。
（四）少陰中風，陽微陰浮者為欲愈。［原文］
\風邪傳入少陰，仍見陽浮陰弱之脈，則其勢方熾，必陽脈反微，陰脈反浮，乃
為欲愈，蓋陽微則外邪不復內入，陰浮則內邪盡從外出，故欲愈也，少陰傷寒之
愈脈，自可類推。
（五）少陰病，欲解時，從子至寅上。［原文］
\各經皆解於所王之時，而少陰獨解於陽生之時，陽進則陰退，陽長則陰消，正
所謂陰得陽則解也，即是推之，而少陰所主在真陽不可識乎。
（六）少陰病，八九日，一身手足盡熱者，以熱在膀胱，必便血也。［原文］
\少陰病難於得熱，熱則陰病見陽，故前篇謂手足，不逆冷反發熱者不死，然病
至八九日，陰邪內解之時，反一身手足盡熱，則少陰必無此候，當是藏邪傳府，
腎移熱於膀胱之證也，以膀胱主表，一身及手足正軀殼之表，故爾盡熱也，膀胱
之血為少陰之熱所逼，其出必趨二陰之竅，以陰主降故也，
（七）少陰病，但厥無汗，而強發之，必動其血，未知從何道出，或從口鼻，或
從耳目，是名下厥上竭，為難治。［原文］
\強發少陰汗，而動其血，勢必逆行而上出陽竅，以諸發汗藥，皆陽經藥也，或
口鼻，或耳目，較前證血從陰竅出者，則倍甚矣，下厥者，少陰居下，不得汗而
熱深也，上竭者，少陰之血，盡從上而越竭也，少陰本少血，且從上逆，故為難
治，然則上條不言難治者，豈非以膀胱多血，且從便出為順乎。
（八）少陰病，得之二三日以上，心中煩，不得臥，黃連阿膠湯主之。［原文］
\心煩不得臥，而無燥證，則與真陽發動迥別，蓋真陽發動，必先陰氣四布，為
嘔，為下利，為四逆，乃致煩而且躁，魄汗不止耳，今但心煩不臥，而無嘔利四
逆等證，是其煩為陽煩，乃真陰為邪熱煎熬，如日中纖雲，頃刻消散，安能霾蔽
青天也哉，故以解熱生陰為主治，始克有濟，少緩則無及矣。
（九）少陰病，二三日，至四五日，腹痛，小便不利，下利不止，便膿血者，桃
花湯主之。［原文］
\腹痛，小便不利，少陰熱邪也，而下利不止，便膿血則下焦滑脫矣，滑脫即不
可用寒藥，故取乾薑石脂之辛澀，以散邪固脫，而加糯米之甘，以益中虛，蓋治
下必先治中，中氣不下墜，則滑脫無源而自止也，註家見用乾薑，謂是寒邪傷胃，
欠清，蓋熱邪挾少陰之氣，填塞胃中，故用乾薑之辛以散之，若混指寒邪為熱邪，
寧不貽誤後人耶。
（十）少陰病，下利，便膿血者，桃花湯主之，少陰病，便膿血者可刺。［原文］
\證兼下利，便膿血，則用桃花湯，若不下利，而但便膿血，則可刺經穴以散其
熱，即上文之互意也。
（一一）少陰病，下利，咽痛，胸滿心煩者，豬膚湯主之。［原文］
\下利咽痛，胸滿心煩，少陰熱邪充斥，上下中間，無所不到，寒下之藥不可用
矣，又立豬膚湯一法，以潤少陰之躁，與用黑驢皮之意頗同，若以為燖豬皮外毛
根薄膚，則簽劣無力，且與熬香之說不符，但用外皮，去其中層之肥白為是，此
藥大不可忽，陽微者用附子溫經，陰竭者，用豬膚潤譟，溫經潤躁中同具散邪之
義，比而觀之，思過半矣。
（三）少陰病，二三日，咽痛者，可與甘草湯，不差者與桔梗湯。［原文］
\邪熱客於少陰，故咽痛，用甘草湯者，和緩其勢也，用桔梗湯者，開提其邪也，
此在二三日，他證未具，故可用之，若五六日，則少陰之下利嘔逆，諸證峰起，
此法又未可用矣。
（一三）少陰病，咽中痛，半夏散及湯主之，少陰病，咽中傷，生瘡，不能語言，
聲不出者，苦酒湯主之。［原文］
\熱邪挾痰攻咽，當用半夏滌飲，桂枝散邪，若劇者咽傷生瘡，音聲不出，桂枝
之熱，既不可用，而陰邪上結，復與寒下不宜，故用半夏雞子，以滌飲潤咽，更
有藉於苦酒之消腫斂瘡，以勝陰熱也。
（一四）少陰病，四逆，其人或欬或悸，或小便不利，或腹中痛，或泄利下重者，
四逆散主之。［原文］
\傳經熱邪，至於手足四逆，最當辨悉，若見欬利種種之證，其為熱證無疑矣，
然雖四逆而不至於厥，其熱未深，故主此方為和解，亦如少陽經之用小柴胡湯，
為一定之法矣，讀者詳之。
（一五）少陰病，下利六七日，欬而嘔渴，心煩不得眠者，豬苓湯主之。［原文］
\下利六七日，本熱去寒起之時，其人尚兼欬渴心煩不眠等證，則是熱邪搏結水
飲，以故羈留不去，用豬苓湯以利水潤躁，不治利而利自止也。
（一六）少陰病，得之二三日，口躁咽乾者，急下之，宜大承氣湯。［原文］
\得病饞二三日，即口躁咽乾則腎水之不足上供可知，延至五六日始下，必枯槁
難回矣，故宜急下以救腎水也。
（一七）少陰病，自利清水，色純青，心下必痛，口乾躁者，急下之，宜大承氣
湯。［原文］
\熱邪傳入少陰，逼迫津水，注為自利，質清而無渣滓相雜，色青而無黃赤相間，
可見陽邪暴虐之極，反與陰邪無異，但陽邪傳自上焦，其人心下必痛，口必乾躁、
設係陰邪，必心下滿而不痛，口中和而不躁，必無此枯槁之象，故宜急下以救其
陰也。
（一八）少陰病，六七日，腹脹不大便者，急下之，宜大承氣湯。［原文］
\六七日，腹脹不大便，則胃土過實，腎水不足以上供，有立盡之勢，又非少陰
負趺陽反為順候之比，此時下之已遲，安得不急。
（一九）少陰負趺陽者，為順也。［此條叔和編入厥陰，今移附少陰］
\少陰水也，跌陽土也，諸病惡土剋水，而少陰傷寒見證，惟恐土不能制水，其
水反得以泛溢，水一泛溢，則嘔吐下利，無所不至，究令中州土敗，而真陽外越，
神丹莫救矣，故予其權於土，則平成可幾，予其權於水，則昏墊立至，此脈法中
消息，病情之奧旨也。按少陰，水藏也，水居北方，原自坎止，惟挾外邪而動，
則波翻浪湧，橫流逆射，無所不到，為嘔為欬，為下利，為四肢沉重，仲景不顧
外邪，惟以真武一法，坐鎮北方之水，水不橫溢，則諸證自止，而人之命根賴以
攸固，命根者何，即父母搆精時一點真陽，伏藏於腎水之中者是也，水中火發，
所以其證雖陰，其人反煩躁多汗，而似陽，仲景每用乾薑附子白通之法，以收攝
其陽，初不慮夫外感，蓋陽出則腠理大開，外感先出，所以一回陽而了無餘義也，
若用寒涼以助水，則真陽不返，而命根斯斷矣，其有腎水衰薄，邪入不能橫溢，
轉而內挾真陽，蘊崇為患，外顯心煩舌躁，咽痛不眠等證，即不敢擅用汗下諸法，
以重傷其陰，但用黃連阿膠湯，苦酒湯豬苓湯豬膚湯四逆散之類，以分解其熱，
而潤澤其枯，於中雖有急下三證，反無當下一證，所以前方俱用重劑潤下，一日
三服，始勝其任，設熱邪不能盡解，傳入厥陰，則熱深者其厥亦深，而咽痛者轉
為喉痺，嘔欬者轉吐癰膿，下利者轉便膿血，甚者發熱厥逆，躁不得臥，仍是腎
氣先絕而死也，必識此意，然後知仲景溫經散邪之法，與清熱潤躁之法，微細曲
折，與九轉還丹不異，後人窺見一班者，遇陰邪便亟溫，遇陽邪便亟下，其鹵莽
滅裂，尚不可勝言，況於聾瞶之輩乎，茲分前後二篇，暢發其義，有知我者，諒
不以我為僭也。</p>
<h2>尚論厥陰經證治大意</h2>
<p>厥陰雖兩經交盡之名，然厥者逆也，腎居極下，逆行而上，以傳於肝，故名曰厥
陰也，邪傳厥陰，其熱深矣，熱深多發厥，厥證皆屬於陽，以陽與陰不相承接，
因致厥也，厥後發熱，陽邪出表則易愈，厥多熱少，則病進，熱多厥少則病退，
所以仲景雜用三陽經治法，即讝語之當下者，但用小承氣湯，微和胃氣，他證
皆不用下，正欲其熱多而邪從外出耳，然厥證多兼下利，則陽熱變為陰寒者，十
居其七，蓋木盛則胃土受剋，水榖奔迫，胃陽發露，能食則為除中，木盛則腎水
暗虧，汲取無休，腎陽發露，面赤則為戴陽，繇是陽微則厥愈甚，陽絕則厥不返
矣，所以溫之灸之，以回其陽，仍不出少陰之成法也，但厥而下利，陰陽之辨甚
微，不便分為二篇，故發其奧於篇首，俾讀者先會其意云。</p>
<h2>厥陰經全篇［法四十七條］</h2>
<p>（一）厥陰之為病，消渴氣上撞心，心中疼熱，饑而不欲食，食則吐蚘，下之利
不止。［原文］
\消渴者，飲水多而小便少也，厥陰屬木，厥陰邪甚，則腎水為之消，腎消則引
水以自救，故消而且渴，其渴不為水止也，氣上撞心，心中疼熱者，肝氣通於心
也，饑不能食者，木邪橫肆，胃土受制也，食則吐蚘者，胃中饑，蚘嗅食則出也，
下之利不止者，邪屬厥陰，下則徒虛陽明，陽明虛，木益乘其所勝也，此條文義，
形容厥陰經之病情最著，蓋子盛則母虛，故腎水消而生渴，母盛則子實，故氣撞
心而疼熱，然足經之邪，終與手經有別，雖仰關而攻，究不能入心之郛廓也，至
胃則受俯凌之勢，無可逃避，食則吐而下則利不止矣，亦繇邪自陽明傳入，胃氣
早空，故易動耳。
（二）厥陰中風，脈微浮為欲愈，不浮為未愈。［原文］
\厥陰之脈，微緩不浮，中風病傳厥陰，脈轉微浮，則邪還於表而為欲愈。
（三）厥陰病，欲解時，從丑至卯上。［原文］
\丑寅卯，厥陰風木之王時，故病解。
（四）厥陰病，欲飲水者，少少與之愈。［原文］
（五）諸四逆厥者不可下之，虛家亦然，凡厥者陰陽氣不相順接，便為厥，厥者
手足逆冷者是也。［原文］
\厥即四逆之極，陰陽既不相順接，下則必至於脫絕也。厥陰證，仲景總不欲下，
無非欲邪還於表，而陰從陽解也，此但舉最不可下之二端，以嚴其戒耳。手之三
陰，與手之三陽，相接於手，足之三陰，與足之三陽，相接於足，陰主寒，陽主
熱，故陽氣內陷，不與陰氣相順接，則手足厥冷也，然四肢屬脾，脾為陰，與胃
之陽不相順接，亦主逆冷，所以厥證雖傳經熱邪，復有不盡然者，最難消息。
（六）傷寒脈遲，六七日，而反與黃岑湯徹其熱，脈遲為寒，今與黃芩湯，復除
其熱，腹中應冷，當不能食，今反能食，此名除中，必死。［原文］
\脈遲為寒，寒則胃中之陽氣已薄，不可更用寒藥矣，腹中即胃中，胃煖乃能納
食，今胃冷而反能食，則是胃氣發露無餘，其陽亦必漸去而不能久存，故為必死，
除者去也，與除夕之義同，又除者授也，與授鞶帶之義同。
（七）傷寒始發熱六日，厥反九日而利，凡厥利者，當不能食，今反能食者，恐
為除中，食以索餅，不發熱者，知胃氣尚在必愈，恐暴熱來出而復去也，後三日
脈之，其熱續在者，期之旦日夜半愈，所以然者，本發熱六日，厥反九日，復發
熱三日，并前六日，亦為九日，興厥相應，故期之旦日夜半愈，後三日脈之而脈
數，其熱不罷者，此為熱氣有餘，必發癰膿也。［原文］
\少陰經中內藏真陽，最患四逆，故云吐利手足不逆冷，反發熱者不死，厥陰經
中，內無真陽，不患其厥，但患不能發熱，與夫熱少厥多耳，論中恐暴熱來出而
復去，後三日脈之，其熱尚在，形容厥證重熱之意，匠心滿志，讀者不可草草，
然得熱與厥相應，尤無後患，若熱氣有餘，病勢雖退，其後必發癰膿，以厥陰主
血，熱與血久持不散，必至壅敗也。
（八）傷寒先厥，後發熱，而利者，必自止，見厥復利，傷寒先厥，後發熱，下
利必自止，而反汗出咽中痛者，其喉為痹，發熱無汗，而利必自止，若不止，必
便膿血，便膿血者其喉不痺。［原文］
\先厥後熱，下利止，其病為欲愈矣，乃反汗出咽中痛，是熱邪有餘，上攻咽喉，
挾濕痰而為痺也，然既發熱，即無汗而邪亦外出，所以利必自止，若不止則無汗，
明係邪不外出，仍在於裏，必主便膿血也，便膿血者其喉不痺，見熱邪在裡，即
不復在表，在下即不復在上也。
（九）傷寒一二日，至四五日，厥者必發熱，前熱者後必厥，厥深者熱亦深，厥
微者熱亦微，厥應下之，而反發汗者，必口傷爛赤。［原文］
\前云諸四逆厥者，不可下矣，此云厥應下之者，其辨甚微，蓋先四逆而後厥，
與先發熱而後厥者，其來迥異，故彼云不可下，而此云應下也，以其熱深厥深，
當用苦寒之藥，清解其在裡之熱，即名為下，如下利讝語，但用小承氣湯止耳，
從未聞有峻下之法也，若不用苦寒，反用辛甘發汗，寧不引熱勢上攻乎，口傷爛
赤，與喉痺互意。
（十）傷寒病，厥五日，熱亦五日，設六日當復厥，不厥者自愈，厥終不過五日，
以熱五日，故知自愈。［原文］
\厥終不過五日，即上句之註腳，見熱與厥相應，陰陽一勝一復，恰恰相當，故
可勿藥自愈。
（一一）傷寒脈微而厥，至七八日膚冷，其人躁無暫安時者，此為藏厥非蚘厥也，
蚘厥者，其人當吐蚘，今病者靜而復時煩者，此為藏寒，蚘上入其膈，故煩，須
臾復止，得食而嘔又煩者，蚘聞食臭出，其人當自吐蚘，蚘厥者，烏梅圓主之，
又主久利。［原文］
\此條微旨，千百年來，全無識者，昌於篇首總括大意，挈出腎陽胃陽二端，原
有所自，藏厥者，正指腎而言在，蚘厥者，正指胃而言也，曰脈微而厥，則陽氣
衰微可知，然未定其為藏厥蚘厥也，惟膚冷而躁無暫安，乃為藏厥，藏厥用四逆，
及灸法，其厥不回者主死，若蚘厥則時煩時止，未為死候，但因此而馴至胃中無
陽，則死也，烏梅圓中，酸苦辛溫互用，以安蚘溫胃益虛，久利而便膿血，亦主
此者，能解陰陽錯雜之邪故也。
（一二）傷寒熱少厥微指頭寒，默默不欲食，煩躁數日，小便利，色白者，此熱
除也，欲得食，其病為愈，若厥而嘔，胸脅煩滿者，其後必便血。［原文］
\熱少厥微，指頭微寒，其候原不重，然默默不欲食，煩躁數日，胃中津液傷而
坐困矣，若小便利，色白，則胃熱暗除，故欲得食，若厥而嘔，胸脅滿不去，則
邪聚中焦，其後陰邪必走下竅而便血，以厥陰主血也。
（一三）傷寒發熱四日，厥反三日，復熱四日，厥少熱多，其病當愈，四日至七
日熱不除者，必便膿血，傷寒厥四日，熱反三日，復厥五日，其病為進，寒多熱
少，陽氣退，故為進也。［原文］
\以陰陽進退之義互舉，其旨躍然。
（一四）傷寒六七日，脈微，手足厥冷，煩躁，灸厥陰，厥不還者死。［原文］
\脈微而厥，更加煩躁，則是陽微陰盛，用灸法以通其陽，而陽不回則死也。
（一五）傷寒發熱，下利厥逆，躁不得臥者死。［原文］
（一六）傷寒發熱，下利至甚，厥不止者死。［原文］
\厥證但發熱則不死，以發熱則邪出於表，而裡證自除，下利自止也，若反下利
厥逆，煩躁有加，則其發熱，又為陽氣外散之候，陰陽兩絕，亦主死也。
（一七）發熱而厥七日，下利者，為難治。［原文］
\厥利與熱，不兩存之勢也，發熱而厥七日，是熱者自熱，厥利者自厥利，兩造
其偏，漫無相協之期，故雖未現煩躁等證，而已為難治，蓋治其熱，則愈厥愈利，
治其厥利，則愈熱，不至陰陽兩絕不止矣。
（一八）傷寒六七日不利，便發熱而利，其人汗出不止者死，有陰無陽故也。［原
文］
\六七日不利，忽發熱而利，渾是外陽內陰之象，此中伏有亡陽危機，所以仲景
蚤為回護，用溫用灸，以安其陽，若俟汗出不止，乃始圖之，則無及矣，可見邪
亂厥陰，其死生全關乎少陰也，不然，厥陰之熱深厥深，何反謂之有陰無陽哉。
（一九）病者手足厥冷，言我不結胸，小腹滿，按之痛者，此冷桔在膀胱關元也。
［原文］
\陽邪必結於陽，陰邪必結於陰，故手足逆冷，腹滿按之痛者，邪不上結於胸，
其非陽邪可知，其為陰邪下結可知，則其當用溫用灸，更可知矣，關元在臍下三
寸，為極陰之位也。
（二十）傷寒五六日，不結胸，腹濡脈虛，復厥者不可下，此為亡血，下之死。
［原文濡音軟］
\傷寒五六日，邪入厥陰，其熱深矣，乃陽邪不上結於胸，陰邪不下結於腹，其
脈虛而復厥，則非熱深當下之比，繇其陰血索虧，若誤下之，以重亡其陰，必主
死也，此厥陰所以無大下之法，而血虛之人，尤以下為大戒矣。
（二一）手足厥寒，脈細欲絕者，當歸四逆湯主之，若其人內有久寒者，宜當歸
四逆，加吳茱萸生薑湯主之。［原文］
\前條之脈虛，此條之脈細，互見其義，虛細總為無血，不但不可用下，并不可
用溫，蓋脈之虛細，本是陽氣衰微，然陰血更為不足，故藥中宜用歸芍以濟其陰，
不宜用薑附以劫其陰也，即其人素有久寒者，但增吳茱萸生薑觀之，是則乾薑附
子，寧不在所禁乎，比而推之，妙義天開矣。
（二二）大汗出，熱不去，內拘急，四肢疼，又下利厥逆而惡寒者，四逆湯主之。
［原文］
\大汗出而熱反不去，正恐陽氣越出軀殼之外，若內拘急，四肢疼更加下利，厥
逆惡寒，則在裡純是陰寒，宜急用四逆湯以回其陽，而陰邪自散耳。
（二三）大汗若大下利，而厥冷者，四逆湯主之。［原文］
\此證較上條無外熱相錯，其為陰寒易明，然既云大汗大下利，則津液亦亡，但
此條不得不以救陽為急，俟陽同尚可徐救其陰，所以不當牽制也。
（二四）傷寒脈促，手足厥逆者，可灸之。［原文］
\傷寒脈促，則陽氣跼蹐可知，更加手足厥逆，其陽必為陰所格拒而不能返，故
宜灸以通其陽也。
（二五）傷寒脈滑而厥者，裡有熱也，白虎湯主之。［原文］
\滑為陽脈，其裡熱熾盛可知，故宜行白虎湯以解其熱，與三陽之治不殊也。
（二六）病人手足厥冷，脈乍緊者，邪結在胸中，心下滿而煩，饑不能食者，病
在胸中，當須吐之，宜瓜蒂散。［原文］
\手足厥冷疑似陰邪，其脈有時乍緊，則是陽邪而見陽脈也，陽邪必結於陽，所
以邪結在胸中，心下煩滿，饑不能食也，此與太陽之結胸迥殊，其脈乍緊，其邪
亦必乍結，故用瓜蒂散，湧載其邪而出，斯陽邪仍從陽解耳。
（二七）傷寒厥而心下悸者，宜先治水，當用茯苓甘草湯，卻治其厥，不爾水漬
入胃，必作利也。［原文］
\太陽篇中，飲水多者，心下必悸，故此厥而心悸者，明係飲水所致，所以乘其
水未漬胃，先用茯苓甘草湯治水，以清下利之源，後乃治厥，庶不致厥與利相因
耳。
（二八）傷寒六七日，大下後，寸脈沉而遲，手足厥逆，下部脈不至，咽喉不利，
唾膿血，泄利不止者，為難治，麻黃升麻湯主之。［原文］
\此表裡錯雜之邪，最為難治，然非死證也，大下後，寸脈沉而遲，手足厥逆，
則陽氣陷入陰中，下部脈不至，則陰氣亦復衰竭，咽喉不利唾膿血，又因大下傷
其津液，而成肺痿，金匱曰，肺痿得之，被快藥下利重亡津液者是也，泄利不止，
未是下焦虛脫，但因陽氣下陷所致，故必升舉藥中兼調肝肺，乃克有濟，此麻黃
升麻所以名湯，而謂汗出愈也。按寸脈沉而遲，明是陽去入陰之故，非陽氣衰微
可擬，故雖手足厥逆，下部脈不至，泄利不止，其不得為純陰無陽可知，況咽喉
不利，唾膿血，又陽邪搏陰上逆之徵驗，所以仲景特於陰中，提出其陽，得汗出，
而錯雜之邪盡解也。
（二九）傷寒四五日，腹中痛，若轉氣下趨少腹者，此欲自利也。［原文］
\腹中痛，多屬虛寒，與腹中實滿不同，若更轉氣下趨少腹，則必因腹寒而致下
利，眼明見此，自當圖功於未著矣。
（三十）傷寒本自寒下，醫復吐下之，寒格更逆吐下，若食入口即吐，乾薑黃連
黃芩人參湯主之。［原文］
\本自寒下，是其人之平素胃寒下利也，較上條之轉氣下趨少腹者，更為已然之
事矣，所以纔病傷寒，即不可妄行吐下，與病人糞微溏，不可服梔子湯互意，糞
微溏而用梔子，則易湧易泄，本自寒下而施吐下，則吐下更逆，其理甚明，註家
不會其意，寒格者，因誤施吐下之寒藥，致成格拒也，若食入口即吐，格拒極矣，
故用乾薑人參以溫補其胃，用黃芩黃連之苦，以下逆氣，而解入裡之熱邪也。
（三一）下利脈沉而遲，其人面少赤，身有微熱，下利清榖者，必鬱冒，汗出而
解，病人必微厥，所以然者，其面戴陽下虛故也。［原文］
\下利脈沉遲，裡寒也，面少赤，有微熱，則仍兼外邪，必從汗解，但戴陽之證
必見微厥，汗中大伏危機，其用法即迥異常法，下條正其法也。
（三二）下利清榖，裡寒外熱，汗出而厥者，通脈四逆揚主之。［原文］
\上條辨證，此條用藥，兩相互發，然不但此也，少陰病，下利清穀，面色赤者，
已用其法矣，要知通之正所以收之也，不然，豈有汗出而反加蔥之理哉。
（三三）下利手足厥冷，無脈者，灸之不溫，若脈不還，反微喘者死。［原文］
\灸之不溫，脈不還，已為死證，然或根柢未絕，亦未可知，設陽氣隨火氣上逆，
胸有微喘，則孤陽上脫而必死矣，與少陰病六七日息高者死，正同。
（三四）下利後脈絕，手足厥冷，晬時脈還，手足溫者生，脈不還者死。［原文］
\厥利無脈，陽去而難於返矣，然左根本堅固者，生機尚存一線，經一週時，脈
還手足復溫則生，否則死矣，此即互上條用灸之意，所以不重贅灸法也，少陰下
利，厥逆無脈，服白通湯，脈暴出者死，微續者生，厥陰下利，厥逆脈絕，用灸
法，晬時脈還者生，不還者死，可見求陽氣者，非泛然求之，無何有之鄉也，根 
深寧極之中，必有幾微可續，然後藉溫灸為鸞膠耳。
（三五）下利腹脹滿，身體疼痛者，先溫其裡，乃攻其表，溫裡宜四逆湯，攻表
宜桂枝湯。［原文］
\此與太陽中篇，下利身疼，用先裡后表之法大同，彼因誤下而致下利，此因下
利而致腹脹，總以溫理為急者，見睍曰消之義也，身疼痛有裡有表，必清便已調，
其痛仍不減，方屬於表，太陽條中已悉，故此不贅。
（三六）下利清榖，不可攻表，汗出必脹滿。［原文］
\此條重舉下利清穀，不可攻表以示戒，正互明上條，所以必先溫裡，然後攻表
之義也，見誤攻其汗，則陽出而陰氣彌塞，胸腹必至脹滿而釀變耳。
（三七）傷寒下利日十餘行，脈反實者死。［原文］
\實為邪盛，邪盛必正脫也。
（三八）下利有微熱而渴，脈弱者令自愈，下利脈數而渴者令自愈，設不差，必
清膿血，以有熱故也，下利脈數，有微熱，汗出令自愈，設復緊為未解。［原文］
\微熱而渴，證巳轉陽，然正恐陽邪未盡也，若脈弱則陽邪已退可知，故不治自
愈，脈數與微熱互意，汗出與脈弱互意，脈緊則不弱矣，邪方熾盛，其不能得汗，
又可知矣。
（三九）下利寸脈反浮數，尺中自濇者，必圊膿血。［原文］
\清圊同義，脈見浮數，若是邪還於表，則尺脈自和，今尺中自濇，乃熱邪搏結
於陰分，雖寸口得陽脈，究竟陰邪必走下竅，而便膿血也。
（四十）下利脈沉弦者，下重也，脈大者為未止，脈微弱數者，為欲自止，雖發
熱不死。［原文］
\下利而脈沉弦，主裡意後重，成滯下之證，即所稱痢證也，脈大者，即沉弦中
之大，脈微弱數者，即沉弦中之微弱數也，脈微弱數，雖發熱不死，則脈大身熱
者，其死可知矣。
（四一）熱利下重者，白頭翁湯主之。［原文］
\熱利下重，互上文，即傷寒轉利之謂也。
（四二）下利欲飲水者，以有熱故也，白頭翁湯主之。［原文］
\此從上條另申一義，見凡下利欲飲水者，與藏寒利而不渴自殊，乃熱邪內耗津
液，縱末顯下重之候，亦當以前湯勝其熱矣。
（四三）下利讝語，以有躁屎也，宜小承氣湯。［原文］
\此與陽明經讝語，胃中有躁屎正同，乃不用大承氣，而用小承氣者，以下利腸
虛，兼之厥陰藏寒，所以但用小承氣，微攻其胃，全無大下之條耳。
（四四）下利後更煩，按之心下濡者，為虛煩也，宜梔子豉湯。［原文］
\已下利而更煩，似乎邪未盡解，然心下濡而不滿則為虛煩，與陽明誤下，胃虛
膈熱之證頗同，故俱用湧法也。
（四五）嘔而發熱者，小柴胡湯主之。［原文］
\厥陰之邪上逆，而兼發熱，乃肝膽藏府相連之證也，故用小柴胡湯，分解其陰
藏陽府之嘔熱也。
（四六）嘔而脈弱，小便復利，身有微熱，見厥者難治，四逆湯主之。［原文］
\嘔而脈弱，小便利，裡虛且寒，身有微熱，證兼表裡，其人見厥則陰陽互錯，
故為難治，然不難於外熱，而難於內寒也，內寒則陽微陰盛，天日易霾，故當用
四逆湯以回陽，而微熱在所不計也，況乾薑配附子，補中有發，微熱得之自除耶。
（四七）乾嘔吐涎沫者，吳茱萸湯主之，嘔家有癰膿者，不可治嘔，膿盡，自愈。
［原文］
厥陰之邪上逆，而乾嘔吐涎沫，可用吳茱萸湯以下其逆氣，若陰邪上逆，結而為
癰，潰出膿血，即不可復治其嘔，正恐人誤以吳茱萸湯治之耳，識此意者，用辛
涼以開提其膿，亦何不可耶。按厥陰篇中，次第不一，有純陽無陰之證，有純陰
無陽之證，有陰陽差多差少之證，有陽進欲愈，陰進末愈之證，有陰居八九，陽
居一二之證，厥而發熱，熱深厥深，上攻而成喉痺，下攻而便膿血，此純陽無陰
之證也，脈微細欲絕，厥冷，灸之不溫，恕寒大汗大利，躁不得臥，與夫冷結關
元，此純陰無陽之證也，厥三日，熱亦三日，厥五日，熱亦五日，手足厥冷，而
邪熱在胸，水熱在胃，此陰陽差多差少之證也，渴欲飲水，饑欲得食，脈滑而數，
手足自溫，此陽進欲愈之證也，默默不欲食，寸脈雖浮數，尺脈自濇，嘔吐涎沫，
腹脹身疼，此陰進未愈之證也，下利清穀，裡塞外熱，嘔而脈弱，小便復利，本
自寒下，復誤吐下，脈沉微厥，面反戴陽，此陽居八九，陰居一二之證也，大率
陽脈陽證，當取用三陽經治法，陰脈陰證，當合用少陰經治法，厥陰病見陽為易
愈，見陰為難痊，其表裡錯雜不分，又必先溫其裡，後攻其表，設見咽喉不利，
欬唾膿血則溫法不可用，仍宜先解其表矣，世醫遇厥陰諸證，加涉大洋，茫無邊
際可測，是以動手即錯，茲不厭煩複，闡其要旨，俾後學奉為指南云。再按厥陰
經，原無下法，首條即先示戒云，下之利不止矣，蓋厥陰多至下利，下利中復有
死證，金匱云，五藏氣絕於內，則下利不禁，此所以政戒不可下耶，中間雖有用
小承氣一法，因胃有躁屎，微攻其胃，非攻其腸也，雖有厥應下之一語，乃對發
汗而言，謂厥陰內解其熱，不應外發其汗耳，豈可泥應下二字，遂犯厥陰之大戒
耶，自晉迄今，傷寒失傳，遇陽明二三日內當下之證，及少陰二三日急下之證，
總不能下，至厥陰六七日，不當下之時，反行下之，在熱深厥深之陽證，下之已
遲，萬一僥倖，不過為焦頭爛額之客，在亡血藏虛之人，下之百無一生矣，幾千
年來，孰任殺人之辜耶。</p>
<h2>過經不解［法四條附三陰經後］</h2>
<p>\過經不解者，由七八日已後，至十三日已後，病過一候二候，猶不痊解也，然
邪在身中日久，勢必結聚於三陽，太陽為多，少陽次之，陽明又次之，及至三陰，
則生死反掌，不若此之久持矣。
辨［原缺九字］、陽用大小柴胡兩解一法。
（一）太腸病，過經十餘日，反二三下之，後四五日，柴胡證仍在者，先與小柴
胡湯，嘔不止，心下急，鬱鬱微煩者，為未解也，與大柴胡湯下之則愈。［原文］
\過經十餘日，而不知太陽證有未罷，反二三下之，因而致變者多矣，後四五日，
柴胡證仍，在未有他變，本當行大柴胡，兩解表裡，但其人之邪，屢因誤下而深
入，即非大柴胡下法所能服，故必先用小柴胡，提其邪出半表，然後乃用大柴胡，
始合法也。
［辨遇經不解心下欲吐微煩微滿用藥宜審一法］
（二）太陽病，過經十餘日，心下溫溫欲吐，而胸中痛，大便反溏，腹微滿，鬱
鬱微煩，先此時自極吐下者，與調胃承氣湯，若不爾者，不可與，但欲嘔，胸中
痛微溏者，此非柴胡證，以嘔故知極吐下也。［原文］
\此條註解不得仲景叮嚀之意，茲特明之，太陽病，過經十餘日，心下溫溫欲吐
而不吐，其人胸中痛，大便反溏，腹微滿，鬱鬱微煩者，此有二辨，若曾經大吐
大下者，邪從吐解，且已入裡，可用調胃承氣之法，若未極吐下，但欲嘔不嘔，
胸中痛，微溏者，是痛非吐所傷，溏非下所致，調胃之法，不可用矣，豈但調胃
不可用，即柴胡亦不可用，以邪尚在太陽高位，徒治陽明少陽而邪不服耳，解太
陽之邪，仲景言之已悉，故此但示其意也，若其人能嘔，則是為吐下所傷，而所
主又不在太陽矣。
［過經證屬可下誤用圓藥增利辨內實內虛二法］
（三）傷寒十三日，胸脅滿而嘔，日哺所發潮熱，已而微利，此本柴胡證，下之
而不得利，今反利者，知醫以圓藥下之，非其治也，潮熱者實也，先宜小柴胡以
解外，後以柴胡加芒硝湯主之。［原文］
\胸脅滿而嘔，邪在少陽表裡之間也，發潮熱，裡可攻也，微下利，便未鞕也，
以大柴胡分解表邪，蕩滌裡熱，則邪去而微利亦自止矣，若誤用圓藥，則徙引熱
邪內陷，而下利，表裡俱不解也，故先用小柴胡分提以解外邪，後加芒硝以滌胃
中之熱也。
（四）傷寒十三日不解，過經讝語者，以有熱也，當以湯下之，若小便利者，
大便當鞕，而反下利，脈調和者，知醫以圓藥下之，非其治也，若自下利者，
脈當微厥，反和者，此為內實也，調胃承氣湯主之。［原文］
二條俱見微利之證，難辨其內虛內實，上條胸脅滿而嘔，邪湊少陽之表，故欲下
之，必用柴胡湯為合法，若以他藥下之，表邪內入，即是內虛，此條原無表證，
雖圓藥誤下，其脈仍和，即為內實也。按仲景下法，屢以用圓藥為戒，太陽之脾
約，乃用麻仁圓，因其人平素津枯腸結，必俟邪入陽明，下之恐無救於津液，故
雖邪在太陽，即用圓藥之緩，下潤其腸，俾外邪不因峻攻而內陷，乃批卻導竅游
刃空虛之妙也，此等處亦須互察。再按傷寒證，以七日為一候，其有二候三候不
解者，病邪多在三陽經留戀，不但七日傳之不盡，即十日十三日二十餘日，尚有
傳之不盡者，若不辯證，徒屈指數經數候，汗下展轉差誤，正虛邪湊，愈久愈難
為力，與內經至七日，太陽病衰，頭痛少愈，八日陽明病衰，身熱少歇，九日少
陽病衰，耳聾微聞，十日太陰病衰，腹減加故，則思飲食，十一日少陰病衰，渴
止舌潤而嚏，十二日厥陰病衰，囊縱少腹微下，大氣皆去，病人精神爽慧之恒期
迥異矣，所以過經不解，當辨其邪在何經而取之，仲景云，太腸病頭痛，至七日
以上自愈者，以行其經盡故也，即內經七日太陽病衰，頭痛少愈之旨也，可見太
陽一經，有行之七日以上者矣，其欲作再經者針足陽明，使經不傳則愈，以太陽
既羈留多日，則陽明少陽，亦可羈留，過經漫無解期矣，所以早從陽明中土而奪
之，使其不傳，此捷法也，若謂六經傳盡，復傳太陽，必無是理，後人墮落成無
且阱中耳，豈有厥少兩陰交盡於裡，復從皮毛外，再入太陽之事耶，請破此大惑。</p>
<h2>差後勞復陰陽易病［附三陰經後］</h2>
<p>（一）大病差後，勞復者，枳實梔子鼓湯主之，若有宿食者，加大黃如博淇子大
五六枚。［原文］
\勞復者，乃起居作勞，復生餘熱之病，方註作女勞復大謬，女勞復者，自犯傷
寒後之大戒，多死少生，豈有反用上湧下泄之理耶，太陽中篇，下後身熱，或汗
吐下後，虛煩無奈，用本湯之苦，以吐徹其邪，此非取吐法也，乃用苦以發其微
汗，正內經火淫所勝，以苦發之之義，觀方中用清漿水七升，空煮至四升，然後
入藥同煮，全是欲其水之熱而趨下，不致上湧耳，所以又云覆令微似汗，精絕。
（二）傷寒差已後，更發熱者，小柴胡湯主之，脈浮者以汗解之，脈沉實者以下
解之。［原文］
\差已後更發熱，乃餘熱在內，以熱召熱也，然餘熱要當辨其何在，不可泛然施
治，以虛其虛，如在半表半裡，仍用小柴胡湯和解之法，如在表，則仍用汗法，
如在裡，則仍用下法，然汗下之法，即互上條汗用枳實梔豉，微汗下用枳實梔豉，
加大黃微下也。
（三）大病差後，從腰已下有水氣者，牡蠣澤瀉散主之。［原文］
\腰以下有水氣者，水漬為腫也，金匱曰，腰以下腫，當利小便，此定法矣，乃
大病後，脾土告困，不能攝水以致水氣泛溢，用牡蠣澤瀉散峻攻，何反不顧其虛
耶，正因水勢未犯身半以上，急驅其水，所全甚大，設用輕劑，則陰水必襲入陽
界，驅之無及，城不沒者三版，亦云幸矣，可見活人之專，迂疏輩必不能動中機
宜，庸工遇大病後，悉行溫補，自以為善，孰知其為鹵莽滅裂哉。
（四）大病差後，喜唾久不了了者，胃上有寒，當以圓藥溫之，宜理中圓。［原
文］
\身中津液，因冒寒凝結而成濁唾，久而不清，其人必消瘦索澤，故不用湯藥蕩
滌，而用圓藥緩圖也，理中圓，乃區分陰陽，溫補脾胃之善藥，然仲景差後病，
外邪已盡，纔用其方，在太陽邪熾之日，不得已合桂枝用之，即更其名曰桂枝人
參湯，又云醫以理中與之，利益甚，理中者理中焦，此利在下焦，非其治也，於
此見用法之權衡矣。
（五）傷寒解後，虛羸少氣，氣逆欲吐者，竹葉石膏湯主之。［原文］
\身中津液，為熱邪所耗，餘熱不清，必致虛羸少氣，難於康復，若更氣逆欲吐，
是餘邪復挾津液滋擾故，用竹葉石膏湯，以益虛清熱散逆氣也。
（六）病人脈已解，而日暮微煩，以病新差，人強與穀，脾胃氣尚弱不能消穀，
故令微煩，損穀則愈。［原文］
\脈已解者，陰陽和適，其無表裡之邪可知也，日暮微煩者，日中衛氣行陽，其
不煩可知也，乃因脾胃氣弱，不能消穀所致，損穀則脾胃漸趨於旺而自愈矣，註
家牽扯日暮為陽明之王時，故以損穀為當小下，不知此論差後之證，非論六經轉
陽明之證也，日暮即內經日西而陽氣已衰之意，所以不能消穀也，損穀當是減損
穀食，以休養脾胃，不可引前條宿食例，輕用大黃重傷脾胃也。合六條觀之，差
後病，凡用汗下和溫之法，但師其意，不泥其方，恐元氣精津久耗，不能勝藥耳，
豈但不能勝藥，抑且不能勝榖，故損穀則病愈，而用藥當思減損，并可識矣，其
腰已下有水氣，峻攻其水，亦以病後體虛，膀胱氣化不行，若不一朝迅掃，則久
困之脾土，必不能堤防水逆，不至滔天不止，所以仲景云，少陰負趺陽者為順，
故急奪少陰之水，以解趺陽之圍，夫豈尋常所能測識耶。
（一）傷寒陰陽易之為病，其人身體重，少氣，少腹理急，或引陰中拘攣，熱上
衝胸，頭重不欲舉，眼中生花，膝脛拘急者，燒褌散主之。［原文］
\陰陽易之病，註家不明言，乃致後人指為女勞復大謬，若然，則婦人病新差，
與男子交，為男勞復乎，蓋病傷寒之人，熱毒藏於氣血中者，漸從表裡解散，惟
熱毒藏於精髓之中者，無繇發泄，故差後與不病之體交接，男病傳不病之女，女
病傳不病之男，所以名為陰陽易，即交易之義也，其證眼中生花，身重拘急，少
腹痛引陰筋，暴受陰毒，又非薑桂附子辛熱所能驅，故燒褌襠為散，以其人平昔
所出之敗濁，同氣相求，服之小便得利，陰頭微腫，陰毒即從陰竅出耳。此條叔
和彙於差後勞復之前，因起後人女勞復之疑，今移附勞復後，益見熱病之為大病，
差後貽毒他人，其惡而可畏，有如此也。
尚論張仲景傷寒論凡八卷，前四卷詳論六經證治，已盡傷寒之義矣，後四卷推廣
春月溫病，夏秋暑濕熱病，以及脈法諸方，聊與二三及門揚確千古，稿藏笥中，
欲俟百年身盡名滅，然後梓行，以其刻意求明，今天下業醫之子，從前師說，漫
無著落，必反嫉為欺世盜名耳，不謂四方來學日眾，手編不便抄錄，姑將前四卷
授梓，求正大方，儻坊間購刻全本，人書具在，寧致貽憾於續貂乎。</p>
<p>庚寅初夏喻昌識</p>
