<header><h1>胎產指南</h1></header>
<dl class="元資料" data-type="book">
<div><dt>作者</dt><dd>張曜孫</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1644/1911">公元1644年至公元1911年</data></dd></div>
</dl>
<h2>周序</h2>
<p>胎產一科，存亡系乎呼吸，利病關乎終身，於醫道尤為切要，學醫者尤不可不講明而切究之也。先世名醫，如朱丹溪、薛立齋諸公論之綦備。然求其操乎至要，簡而易從者，則莫若《胎產指南》一書。是書原序云：「出自單南山。其人裡居、名字，已不可考，昔越郡錢升先生，得此秘本，而精子胎產之科，名冠一郡。乾隆癸巳，吾鄉伊芳學曾先生，在寧郡道暑，得此書於紹友婁君之手，遂亦以胎產馳名於吾邑。閱歷四五十年，以其所經驗者筆之於書，示後人當神明於法之中，不容偏執，名曰《女科醫案》，凡七卷。然先生奉《指南》為枕中秘，未嘗輕以示人，即戚友亦不得而知也。先生歿後，其甥明經蔡益亭先生始得，抄而傳之。歐君孔章，少受舉業於益亭，悅是書，手為抄錄，久欲梓行於世，以廣厥傳，猝猝未果。今歲秋纂修宗譜，事將告竣，其譜師為天台陳君彩盅，知君欲為是舉，益縱恿之，遂囑陳君付諸剞劂氏，而以伊芳先生之醫案附焉。昔唐晉公致仕家居，嘗手抄《集驗良方》，梓行於世。宋范文正公亦然，且其言曰：不為良相，愿為良醫。夫以二公福世壽民之事業，何可勝道。而乃眷眷焉垂意於醫，誠以醫雖小道，而其利濟於世者為不淺也。歐君雖不敢與二公頡頏上下，而其梓行是書之意，猶二公也。予嘉其意，為述其緣起如此。或曰：凡星相醫卜之類，苟有秘本，不宜宣泄。若梓而行之，即不靈驗。是說也，殆與兒童之見無異，而適為者之所藉口，固大方家所竊鄙也。烏足辨哉，烏足辨哉。</p>
<p><u>時咸豐六年菊月葵圃周丹忱撰</u></p>
<h2>原序</h2>
<p>單南山不知何許人也。予總角時，聞升　錢先生胎產為吾浙國手，不知其秘傳得之於南山也。其中胎前悉以丹溪安胎飲為主，產後悉以生化湯為主，隨症加減，按病論治，症既悉備，論極詳明，使讀者洞如觀火，以之救危急、起沉　，靡不應手取效，如鼓應桴。即不知脈者，對症檢方，依法調治，自有徑轍可循，不致惘然坐務。實再也之青囊，濟世之靈藥也。</p>
<p>予因多病，博覽醫書，汗牛充棟，不可勝紀，而胎產一科，簡約明允，無出其右，是誠秘本也。今將其中稍有缺略者，更為增補，以便觀覽。仍注增補，不敢混真。其前後次序錯亂者，更為移改，如產忌食物、鄉俗十弊、用藥十誤等條，原本俱載本末八卷內，今類入卷五禁忌藥物內，以便查覽。是本也，先伯祖素園公於康熙丙寅年，得於荊襄道署，其素園公手錄原本，大兄殿揚攜游湖海，存亡不得知矣。予敘其巔末，凡我子孫，珍藏熟玩，切不可視為尋常，等靈珠於魚目，棄琳琅同　石也。其越裳氏來朝三年，至周迷其歸路，周公作指南車賜之，因以還國。今讀此本，而病症了然，固無異於指南也，因以名書，其聆之毋忽。（原本撰名失載。）</p>
<p><u>時在咸豐丙辰五月哉生明天台鳴山陳彩盅敬錄於四明象之西滬歐中憲第</u></p>
<h2>卷首</h2>
<h3>女科總論</h3>
<p>男女均稟天地之氣而生，凡外感內傷之症，未嘗不同，但女則別有調經、胎前、產後之治，所以別立一科也。男子之血宜靜而不宜動，如或動焉，則吐血、衄血、瀉血之病生矣。女子之血宜動而不宜靜，如或靜焉，則經閉、血枯之病生矣。總而言之，調經專理氣，補心脾為主，蓋血非氣不行，心生血，脾統血也。胎前專以清熱補脾為主，蓋熱清而胎安，脾健則不墮也。產後專以大補氣血，兼行滯為主，蓋產後氣血大虛，且有瘀滯，雖有諸症，皆以末治，生化湯實為聖方也。知乎此，女科之大要得矣。</p>
<h3>胎產脈候</h3>
<p>女人於少陰心脈動甚，其胎已結；若按之滑疾不散，胎必三月；但疾不散，五月可別；左疾為男，右疾為女。故《脈訣》云：尺數關滑而寸盛，陽搏陰別而雀躍是也。若胎離經，或一息二至三至，為將產之候。胎前脈宜洪數有力，若沉微者必難產，謂氣血已敗也。產後脈宜緩小無力，忌實大弦牢者，謂脈與病反，邪氣盛也。</p>
<h3>調經章</h3>
<p>經云：女子二七而天癸至，衝任滿盛，月事以時下，乃有子。故得其常候者為無病。苟不及期而經先行，或過期而後行，或一月而經再行，或數月而經一行，或閉而不行，或崩或漏，皆失其常候，不可不調也。調治之法，熱則清之，冷則溫之，虛則補之，滯則行之，滑則固之，下陷則舉之，對症施治，以平為期。如芩、連、梔、柏，清經藥也；丁、桂、薑、附，溫經藥也；參、朮、歸、茯，補虛藥也；川芎、歸、附、青皮、元胡，行滯藥也；牡蠣、赤石脂、棕櫚灰、側柏葉，固澀藥也；升麻、柴胡、荊芥、白芷，升舉藥也。隨症用之，無不效者矣。</p>
<p>婦人經候不調有三：一曰脾虛，二曰衝任損傷，三曰脂痰凝塞，治之不可不審。脾胃虛弱者，經曰：二陽之病發心脾，女子不月。夫二陽者，陽明胃也。胃主受納五穀，長養血氣，灌溉臟腑，流行經絡，乃水穀之海，血氣之母也，惟憂思慮則傷心，心氣受傷，脾氣失養，郁結不通，腐化不行，所謂長養灌溉者，失其全矣，故脾胃虛弱，飲食減少，氣日漸耗，血日漸少，始有血枯、血閉及血少色淡，過期始行，數月一行之病。</p>
<p>衝任損傷者，經曰：氣以　之，血以濡之。故氣行則血行，氣止則血止也。女子之性，執拗偏急，忿怒妒忌，以傷肝氣。肝為血海，衝任之系。衝任失守，血氣妄行也。又褚氏曰：女子血未行，而強合以動其血，他日有難名之病。故女未及二七天癸之期，而男子強與之合；或於月事未斷之時，男子縱欲不已，衝任內傷，血海不固。由斯二者，為崩為漏，有一月再行，不及期而行者矣。</p>
<p>脂痰凝塞者，蓋婦人之身，內而腸胃開通，無所阻塞，外而經絡流行，無所凝滯，則氣血和暢，經水應期，惟彼肥碩者，脂膏充滿，玄室之戶不開；挾痰者，痰涎凝滯，血海之波不流。故有過期而經始行，或數月而經一行，及為滯為帶，為經閉，為無子之病。</p>
<h4>不及期而經先行</h4>
<p>如往性溫和，素無他疾者，責其血虛，且有熱也。（俱用水煎，空心服。）</p>
<p>當歸（一錢）　川芎（八分）　赤芍（一錢）　生地（一錢）　知母（一錢）　地骨皮（一錢）　麥冬（一錢）　甘草（五分）</p>
<p>如性躁急，多怒多妒者，責其血氣俱熱，且有郁也。</p>
<p>歸身（一錢）　川芎（一錢）　白芍（一錢）　生地（七分）　條芩（炒）　黃連（炒）　香附（便浸，炒，各一錢）　甘草（五分）</p>
<p>如形疲，素無他疾者，責其血熱也，用四物芩連湯主之。</p>
<p>當歸（一錢，炒）　川芎（一錢，炒）　生地（一錢，炒）</p>
<p>白芍（一錢，炒）　黃芩（一錢，炒）　黃連　黃柏　黃芩（各炒等分）</p>
<p>用蜜丸，白湯下。</p>
<p>如形疲，素多痰，且有熱者，責其衝任內傷也。用：當歸（一錢）　白芍（一錢）　熟地（一錢）　人參（一錢）　知母（一錢）　麥冬（一錢）　川芎（一錢）　甘草（五分）</p>
<p>加薑棗水煎，更服地黃丸。</p>
<p><u>地黃丸</u></p>
<p>　治女子衝任損傷，及胃虛血虛，血枯血閉之症。</p>
<p>熟地（八兩）　山藥（四兩）　萸肉（四兩）　白茯苓（三兩）　丹皮（三兩）</p>
<p>蜜丸，空心白湯下。</p>
<p>如曾誤服辛熱暖宮之藥者，責其衝任有伏火也。用：歸身（一錢）　赤芍（一錢）　生地（一錢）　知母（一錢）　川芎（七分）　黃柏（一錢，炒）</p>
<p>木通〔去皮（一錢）〕　甘草（五分）</p>
<p>更服三黃丸和之。</p>
<p>如形肥，多痰多郁者，責其血虛氣熱也。用：當歸　川芎　生地（薑汁炒，各一錢）　陳皮（五分）　半夏（五分）　白茯苓（五分）　生甘草（五分）　條芩（一錢）　香附（一錢，便浸炒）　黃連（一錢，炒）</p>
<p>加薑，水煎服。</p>
<h4>經過期而後行</h4>
<p>如往性溫和，素無痰者，責其血虛少。</p>
<p><u>八物湯</u></p>
<p>主之，加薑棗。</p>
<p>當歸　川芎　生地（酒炒）　白芍　人參　白朮　茯苓　甘草（各等分）</p>
<p>如性躁急，多怒多妒者，責其氣逆血少氣，前方加香附（便浸炒）　青皮（等分）</p>
<p>水煎，兼服蒼莎丸以調之。</p>
<p><u>蒼莎丸</u></p>
<p>　和中開鬱。</p>
<p>蒼朮　香附（各三兩，便浸一日夜）　條芩（一兩五錢）</p>
<p>共為末，湯浸，蒸餅丸。</p>
<p>如形疲，素無他疾者，責其氣血俱不足也，十全大補湯主之。</p>
<p><u>十全大補湯</u></p>
<p>　專治氣血兩虛，脾胃不足。</p>
<p>人參（一錢）　黃　（一錢）　白朮（一錢）　茯苓（一錢）　炙草（一錢）　當歸（一錢）　川芎（一錢）　白芍（一錢）　生地（一錢）　肉桂（五分）</p>
<p>加薑棗。</p>
<p>如形疲食少，責其脾胃虛弱，氣血衰少也。用異功散，加當歸川芎湯主之。</p>
<p>人參　茯苓　白朮　陳皮　甘草（各等分。此五味名異功散）</p>
<p>加歸、芎、薑、棗，兼服地黃丸。</p>
<p>如形肥及飲食過多之人，責其濕痰壅滯，軀肢迫塞也。六君子加芎歸湯主之。</p>
<p>參　朮　陳皮　苓　甘　半夏加川芎、當歸、香附（各一兩，便浸）。</p>
<p>兼服蒼莎丸。</p>
<p>如素多痰者，責其脾胃虛弱，氣血失養也。用參朮大補，即</p>
<p><u>參　白朮散</u></p>
<p>加芎、歸。</p>
<p>人參（五錢）　白朮（七錢）　茯苓（七錢）　甘草（三錢）　陳皮（五錢）　蓮肉（七錢）　山藥（一兩）　砂仁（五錢）　石菖蒲（五錢）</p>
<p>加歸身（七錢）　川芎（五錢）</p>
<p>共為末，用荷葉包米，煮飯為丸，米飲下，兼服地黃丸。</p>
<h4>一月而經再行</h4>
<p>如性急多怒者，責其傷肝，以動衝任之脈，四物加柴胡湯主之。兼常服補陰丸，以瀉衝任之火。</p>
<p>當歸　川芎　白芍　生地加柴胡　人參　條芩　生甘　黃連（各等分）</p>
<p>水煎。</p>
<p><u>補陰丸</u></p>
<p>黃柏（炒）　知母（去皮）</p>
<p>等分蜜丸，每服五十丸如曾服辛熱之藥者，用四物東加黃柏、知母，服三補丸主之。</p>
<p>如曾傷衝任之脈者，用四物東加人參、知母、麥冬服，及地黃丸主之。</p>
<p>數月而經一行如疲人責其脾胃弱，氣血虛，用十全大補湯及地黃丸主之。</p>
<p>如肥人責其多痰，及氣血虛，用六君子加蒼莎導痰丸主之。</p>
<p>人參　川芎　白朮　半夏（各七分）　白茯（一錢）　陳皮（一錢）　蒼朮（一錢）</p>
<p>當歸（一錢）　香附（一錢）　枳殼（一錢）</p>
<p><u>蒼莎導痰丸</u></p>
<p>蒼朮（二兩）　香附（二兩）　陳皮（一兩）　白茯（一兩）　枳殼（一兩）　半夏（一兩）　南星（一兩）　甘草（一兩）</p>
<p>用生薑自然汁浸餅，為丸，淡薑湯下。</p>
<h4>經行或先或後</h4>
<p>悉從虛治，</p>
<p><u>加減八物湯</u></p>
<p>主之。</p>
<p>人參　白朮　茯苓　當歸　川芎　甘草　陳皮　白芍　丹皮　丹參　香附加薑棗。</p>
<p><u>烏雞丸</u></p>
<p>　專治婦人脾胃虛弱，衝任損傷，血氣不足，經候不調，以致無子者。神驗。</p>
<p>用烏骨雞一只，先以粳米喂養七日，勿令食蟲蟻，吊死，去毛雜，以一個為率用。</p>
<p>生地（二兩）　熟地（二兩）　天冬（二兩）　麥冬（二兩）</p>
<p>放雞肚中，陳酒十碗，砂罐煮爛，取出，再用桑柴火上焙，去藥，更將余酒淹盡。焙至焦枯研末，再加杜仲二兩（用鹽水炒），人參、炙甘草、蓯蓉、故紙（炒）、小茴各一兩，炒歸身、川芎、白朮、丹參、白茯苓各二兩，香附四兩（醋炒），砂仁一兩。共研末，和上藥末，酒調面糊為丸。每服五十丸，空心米飲下。</p>
<h4>經將行腹痛</h4>
<p>凡經水將行，腰脹腹痛者，此氣滯血實也。</p>
<p><u>桃仁四物湯</u></p>
<p>主之。</p>
<p>歸尾　川芎　赤芍　丹皮　香附　（醋炒）　胡索（各一錢）　生地（五分）　紅花（五分）</p>
<p>桃仁（二十五粒，研泥）</p>
<p>水煎，入桃仁服。</p>
<p>如疲人責其有火。加黃連一錢、黃芩一錢。</p>
<p>如肥人責其有痰。加枳殼一錢、蒼朮一錢。</p>
<p>凡經水過多，腹中痛者，此虛中有滯也。</p>
<p><u>加減八物湯</u></p>
<p>主之。</p>
<p>人參（一錢）　白朮（一錢）　白茯（一錢）　歸身（一錢）　白芍（一錢）　生地（一錢）　炙甘（五分）　木香（五分）　青皮（七分）　香附（一錢，醋炒）</p>
<p>加薑棗。</p>
<h4>經水多少</h4>
<p>如肥人行經來少者，責其痰礙經隧也。</p>
<p><u>二陳東加芎歸</u></p>
<p>主之。</p>
<p>陳皮（一錢）　白茯（一錢）　當歸（一錢）　川芎（一錢）　香附（一錢，便浸）　枳殼（一錢）</p>
<p>半夏（八分）　甘草（五分）　滑石（二錢）</p>
<p>如疲人經水來少者，責其血虛也。</p>
<p><u>四物東加人參湯</u></p>
<p>主之。</p>
<p>當歸（一錢）　川芎（一錢）　白芍（一錢）　生地（一錢）　人參（一錢）　香附（一錢）　炙甘（八分）</p>
<p>加薑棗。</p>
<p>凡經水來太多者，不問肥疲，皆屬熱也。四物加芩連湯主之。</p>
<p>當歸（一錢）　白芍（一錢）　知母（一錢）　生地（一錢）　條芩（一錢）　黃連（一錢）　川芎（五分）　黃柏（七分）　並服三補丸。</p>
<h4>經水紫淡色</h4>
<p>如紫色者，熱也。</p>
<p><u>四物加香附黃連</u></p>
<p>主之。</p>
<p>歸尾　川芎　赤芍　生地　香附　（便浸）　黃連　生甘　丹皮（各一錢）</p>
<p>如白淡者，虛也。</p>
<p><u>八物湯</u></p>
<p>主之。</p>
<p>人參（一錢）　白朮（一錢）　茯苓（一錢）　當歸（一錢）　川芎（一錢）　白芍（一錢）　熟地（一錢）　黃　（一錢）　香附（一錢，便浸炒）　炙甘草（五分）</p>
<p>加薑棗，更常服地黃丸。</p>
<p>以上調經藥，並宜於行經時，連進十余服，則經自調矣。丸藥宜久服。</p>
<h4>經閉不行</h4>
<p>婦人經閉不行，其候有三：脾胃損傷，飲食減少，氣耗血枯而不行者。當補其脾胃，養其氣血，待氣血充生，經自行矣。不可妄用通經之劑，致中氣益損，陰血益干，便成癆瘵而不可救。故有猶索千金於乞丐，日加棰楚，徒斃其生者矣。一則憂愁思患，惱怒怨恨，氣鬱血滯而經不行者。當開鬱氣、通滯血而經自行。苟用補劑，則氣得補而益結，血益凝聚，致成瘕脹滿，所謂養虎自遺患也。一則軀脂迫塞，痰涎壅塞而經不行者。當行氣導痰，使經得行，斯謂之良工矣。</p>
<p>如因脾胃損傷，血枯不行者，</p>
<p><u>加減補中益氣湯</u></p>
<p>主之。（烏雞丸亦可服）</p>
<p>人參（二分）　白朮（二分）　黃　（七分）　柴胡（七分）　炙甘（五分）　當歸（一錢）　白芍（一錢）　川芎（一錢）　陳皮（一錢）　神麯（五分）　麥芽（五分）</p>
<p>加薑。更服煮參苓朮丸，以經行為度。</p>
<p>如因氣鬱血閉不行者，用</p>
<p><u>開鬱二陳湯</u></p>
<p>主之。</p>
<p>陳皮（一錢）　茯苓（一錢）　蒼朮（一錢）　香附（一錢）　川芎（一錢）　半夏（七分）　青皮（七分）　莪朮（七分）　檳榔（七分）　甘草（五分）　木香（五分）</p>
<p>加薑。更宜服四製香附丸，以經行為度。（此丸乃婦人之常藥。）</p>
<p><u>四製香附丸</u></p>
<p>香附（一斤，分四制）　酒　醋　童便　鹽水（各浸三日，焙乾）　天台烏藥（八兩）</p>
<p>共末，醋糊為丸，白湯下。</p>
<p>如因痰者，用蒼莎導痰丸主之。更服開鬱二陳湯，去莪朮，加枳殼（一錢）</p>
<p>有愆期未嫁之女，偏房失寵之外家，及寡婦尼姑，欲動而不能得，遂憾憤而不能得伸，多有經閉之疾，含羞強忍，不欲人知，致成癆瘵之病而不可救。宜用四製香附丸，參朮大補丸，攻補兼行，庶或有瘳。此七情之發，無法治之也。</p>
<p>有經閉不行，骨蒸潮熱，脈虛者，</p>
<p><u>增損八物柴胡湯</u></p>
<p>主之。</p>
<p>人參（一錢）　白茯苓（一錢）　當歸（一錢）　白芍（一錢）　生地（一錢）　麥冬（一錢）　知母（一錢）　柴胡（一錢）　甘草（五分）</p>
<p>倘有汗，加地骨皮（一錢）；無汗，加丹皮（一錢），加竹葉。</p>
<p>凡婦人虛有熱者，皆可服之。如熱太甚，服此不平，加炮薑（一錢）。神效。</p>
<p>如經閉發熱，咽燥唇干，脈實者，</p>
<p><u>四物涼膈散</u></p>
<p>主之。</p>
<p>當歸（一錢）　川芎（一錢）　白芍（一錢）　生地（一錢）　黃芩（一錢，酒炒）　黃連（一錢，酒炒）梔子（一錢，炒）　連翹（一錢）　桔梗（一錢）　生甘（五分）　薄荷（五分）　加竹葉。凡血實形盛，脈有力者皆可服。</p>
<h4>石瘕</h4>
<p>因行經時，寒氣自陰戶入，客於胞門，以致精血凝聚，月信不行，其腹漸大，如孕子狀。婦人壯盛者，半年之後，小水長而消矣；若虛怯者，必成腫病。</p>
<p><u>溫經湯</u></p>
<p>主之。</p>
<p>歸身梢（一錢）　川芎（一錢）　赤芍（一錢）　莪朮（一錢）　人參（一錢）　牛膝（一錢）　故紙（一錢）　小茴（一錢）　炙甘（五分）</p>
<p>加薑棗。更宜頻服香附丸。</p>
<h4>腸覃</h4>
<p>因行經之時，寒氣自肛門入，客於大腸，以致經血凝澀，月信雖行而少，其腹漸大如孕，為胎漏狀。壯盛婦人，半年以後，便長水消，氣盛而除；虛怯者，必成脹病。桂枝桃仁湯主之。</p>
<p>桂枝（一錢五分）　檳榔（一錢五分）　白芍（一錢）　生地（一錢）　枳殼（一錢）　桃仁（二十五粒，去皮尖、研）　炙甘（五分）</p>
<p>加薑棗。更宜服四製香附丸。</p>
<h3>崩漏章</h3>
<h4>崩</h4>
<p>婦人崩中之病，皆因中氣虛，不能攝血，加以積熱在裡，迫血妄行，故令經血暴下而成崩中。崩久不止，遂成下漏。叔和《脈訣》云：崩中日久為白帶、漏下時，多腎水枯也。治有三法：初止血；次清熱；後補其虛，未有不痊者也。</p>
<p>凡血崩用五靈脂半生半炒，酒服，能行血止血，治血刺痛。神效。五靈脂不特治血，而兼治風，誠治崩之妙藥也。</p>
<p>初止血者，乃急則治其標也。四物湯調</p>
<p><u>十灰散</u></p>
<p>止之，血止為度。</p>
<p>藕節　蓮蓬　艾葉　棕櫚　大小薊根　側柏　乾薑　油頭發　山梔子以上十味，俱　存性，研，等分和勻，每服三錢，或用醋煮糯米粉為丸，每服百丸。婦人衝任經虛，風傷營血，以致崩中。風為動物，血崩乃風動之故，必用風藥也。</p>
<p>次清熱。血既止，宜服清熱之劑，用</p>
<p><u>涼血地黃丸</u></p>
<p>主之。</p>
<p>生地（一錢）　當歸（一錢，醋炒）　黃連（五分）　黃柏（五分）　知母（五分）　本（五分）</p>
<p>川芎（五分）　升麻（五分）　柴胡（七分）　羌活（七分）　防風（七分）　黃芩（四分）　生甘（四分）</p>
<p>細辛（四分）　荊芥穗（四分）　蔓荊子（四分）　紅花（一分）</p>
<p>水煎，如血未止，再吞十灰丸。</p>
<p>血已止，熱已除，宜用補中之劑，</p>
<p><u>加味補中益氣湯</u></p>
<p>主之。</p>
<p>人參（一錢）　黃　（一錢）　白朮（一錢）　陳皮（一錢）　當歸（一錢）　白芍（一錢）　熟地（一錢）　炙甘（五分）　白茯（五分）　升麻（五分）　柴胡（五分）　益智（五分）　黃柏（五分，炒）</p>
<p>加薑棗更宜。早服地黃丸，晚服參朮大補丸，以平為期。</p>
<h4>漏</h4>
<p>凡崩久成漏，連年不休，此中氣下陷，下元不固也。宜用前加味補中益氣湯，兼服</p>
<p><u>鹿角霜丸</u></p>
<p>主之。</p>
<p>鹿角霜（一兩）　柏子仁（一兩，炒）　歸身（一兩）　茯神（一兩）　龍骨（一兩，　）　阿膠（蛤粉炒成珠，一兩）　川芎（七分）　香附（二兩，醋炒）　炙甘（五分）　續斷（一兩五錢）　共末。山藥（五兩，研）</p>
<p>米飲煮糊為丸，每服五十丸，空心溫酒下。</p>
<h4>經血妄行</h4>
<p>如經妄行，或吐血、鼻中血出，或口內血腥，用前四物涼膈散加生韭自然汁服之。</p>
<h4>赤白帶下</h4>
<p>帶下之病，婦人皆有之。赤者屬熱，兼虛兼火治之；白者屬濕，兼虛兼痰治之。年久不止者，以補脾胃為主，兼升提。大抵疲人多痰，要知此候，白帶灸中極穴七壯，在臍下四寸。極效（《古今醫鑒》）。</p>
<p>赤帶用四物東加芩連，再加升麻丹皮主之。兼服三補丸。白帶用</p>
<p><u>加味六君子湯</u></p>
<p>主之。</p>
<p>半夏（一錢）　陳皮（一錢）　蒼朮（一錢）　人參（一錢）　白朮（一錢）　白茯（一錢）　炙甘草（七分）　升麻（五分）　柴胡（五分）</p>
<p>加薑。兼服蒼莎導痰丸。</p>
<p>帶久不止者，專以補虛為主，宜十全大補湯，去地黃加陳皮、半夏、乾薑（炒）。更服參朮大補丸，以補脾胃之虛。又服補宮丸，以固下元脫。</p>
<p><u>補宮丸</u></p>
<p>鹿角霜　白朮　白茯苓　白芍　白芷　牡蠣（　、童便淬）　山藥　龍骨（　）　赤石脂（等分）　乾薑（減半，炒）</p>
<p>醋糊為丸，空心米飲下。</p>
<h4>白濁白淫白帶辨症</h4>
<p>婦人常有白濁、白帶之疾，症既不同，治亦各別。白帶者，時常流出清冷稠黏，此下元虛之症也，用白帶久不止之法治之；白濁者，隨小解而來，混濁如泔，此胃中濁氣，滲入膀胱也。</p>
<p><u>加味二陳湯</u></p>
<p>主之。</p>
<p>陳皮（一錢）　半夏（一錢）　茯苓（一錢）　白朮（一錢）　蒼朮（一錢）　益智仁（一錢，鹽炒）　炙甘（五分）　升麻（七分）　柴胡（七分）</p>
<p>加薑。</p>
<p><u>遺白帶方</u></p>
<p>　酒煮白果三升，去心膜，晒乾為末。每服三錢，白湯下。</p>
<p>白淫者，常在小便之後，而來亦不多，此男精不攝，滑而自出，不治自愈。</p>
<p><u>溫經湯方</u></p>
<p>　婦人行經時，連服三帖，亦能成孕。</p>
<p>半夏（一錢）　陳皮（一錢）　生地（一錢）　全歸（三錢）　川芎（八分）　紅花（八分）　白芍（八分）　秦艽（八分）　烏藥（八分）　香附（一錢五分）　木通（三分）　青皮（七分）</p>
<p>加薑。</p>
<p><u>通經方</u></p>
<p>牛膝　花粉　木通　三棱　莪朮　鬱金　威靈仙　連翹　生地　葶藶　香附　芍藥　蒺藜三蠶砂（炒）　茜草根</p>
<p><u>去閼方</u></p>
<p>川芎　續斷　桃仁　紅花　丹皮　鱉甲　生蒲黃　胡索　瞿麥　蘇木　穿山甲</p>
<p><u>月經不止方</u></p>
<p>川芎　歸身　木賊　地榆　樗白皮　倒掛塵（炒）　蓮房　荊芥穗　側柏葉　貫仲　烏梅竹肉　藕節　棕灰　大小薊根　發灰　梔子</p>
<h3>種子章</h3>
<p>無男女則乾坤幾乎息矣。男子匹配，所以廣嗣，厥系非輕，勿謂無賴於人事也。生育者，必陽道強健而不衰，陰癸應候而不愆，陰陽交暢，精血合凝，而胎元易成矣。不然，陽衰不能下應乎陰，陰虧不能上從乎陽，陰陽乖戾，是以無子，雖云天命之有定，抑亦人事之未盡與。故種子者，男則清心寡欲以養其精，女則平心定氣以養其血。補之以藥餌，濟以方術，是謂人事之當盡也。何謂男貴清心寡欲?蓋形樂者易盈，志樂者易蕩。富貴之人，不知御神，則蕩心傾，不知御形，則盈必虧，此清心寡欲為男子第一要緊也。何謂女貴平心定氣?蓋女子以身事人而性多躁，以色悅人而情多急，稍不如意，即憂思怨怒矣。憂則氣結，思則氣鬱，怒則氣逆，怨則氣阻。血隨氣行，氣逆血亦逆，此平心定氣為女子第一要緊也。藥餌維何?男子宜服地黃丸，以補左腎之陰，加杜仲、蓯蓉、巴戟、補骨、沉香，以補右腎之陽。女子宜服烏雞丸，以養其血氣，調其經候，斯為得理。若彼桂附丹石，動氣耗陽，損血消陰之劑，一切止之。何謂濟之以方術。如種子之歌、素女之論是也。女人無子，多因經候不調，藥餌之輔，尤不可緩，若不調其經候而與之合，徒用力於無用之地，此調經為女人種子緊要也。</p>
<p>如肥盛婦人，稟受甚濃，及恣於酒食之人，經候不調，不能成胎，謂之軀脂滿澀，閉壅子宮，宜行濕燥痰，用蒼莎導痰丸、四製香附丸。</p>
<p>如瘦怯性急之人，經水不調，不能成胎，謂之子宮干澀無血，不能攝受精氣。宜涼血降火，用地黃三補丸調之。</p>
<p>如素有濁漏帶下之人，經水不調，不能成胎，謂之下元虛憊，不能聚血受精。宜補虛澀脫，用烏雞丸、補宮丸調之。</p>
<p>種子歌云：三十時辰兩日半，二十八九君須算；落紅滿地是佳期，經水過時空霍亂；霍亂之時枉費工，樹頭木底覓殘紅；管取放花能結子，何愁丹桂不成叢。此蓋言經水未行之時，血海正滿，子宮未開，不能受精以成胎。經水既行，則子宮開，血海淨，斯能受精矣。然自行經之時，算至三十個時辰，恰兩日半，種子當貴其時。故一日二日三日與之交，則多生男；四日五日六日與之交，則多生女；七日之後，子宮復閉，不受胎矣。</p>
<p>婦人陰盾取象於月，若是朔至望，經行不失其候者，結胎易生子多壽。以月光漸生，月輪漸滿也。若自望至晦，經行或失其期者，胎雖結，生子多夭。以月光漸消，月廓漸空也，此造化之理，可與得情者道之矣。素女論中，男有三至，女有五至，如男至而女未至，玉體才交，瓊漿先吐，雖欲下應乎陰，而陰不從也。如女至而男未至，桃浪先翻，玉露無滴，雖欲上從乎陽，而陽不應也，所以無子。然氣至者，亦有先後男女之別，如陽精先至，陰血後參，則精開裹血而成女。陰血先至，陽精後沖，則血開裹精而成男。故卜書云：陰包陽，則桂庭添秀。陽包陰，則桃洞得仙。此之謂也。</p>
<p>何謂男有三至?蓋陰痿而不舉，肝氣未至也；舉而不堅，腎氣未至也；堅而不熱，心氣未至也。肝氣未至而強合，則傷肝，其精滿滴而不射；腎氣未至而強合，則傷腎，其精散漫而不黏聚；心氣未至而強合，則傷心，其精冷而不熱。此男子之所以無子，貴乎清心寡欲，以養肝腎心之氣也。</p>
<p>何謂女有五至?蓋交戲之時，面赤而熱，心氣至也。目中涎瀝，漸睨視人，肝氣至也。</p>
<p>嬌聲低語，口鼻氣喘，肺氣至也。伸舌吮唇，以身偎人，脾氣至也。玉戶開張，瓊涎流出，腎氣至也。五氣皆至，而與之合，則情合意美，陽施陰受，有子之道也。</p>
<p>男女無疾，交會應期；三虛四忌，不可不避。三虛者，天地晦冥，日月薄蝕，電雷風雨。晦滋朔望，天之虛也；地震土陷，山崩水溢，地之虛也；憂怒悲恐，醉飽勞倦，人之虛也。犯此三虛，交而不孕，孕而不育，疾病且生，身之災也。四忌者，一忌本命正沖，甲子庚申，滅沒休廢之日；二忌大寒大暑，大飽大醉之時；三忌日月星辰，寺觀壇場之前，塚墓之處；四忌觸忤惱犯，罵詈擊搏之事。犯此四者，令人無子，且至夭也。</p>
<p>凡種子者，當應候之時，男服補腎益精之藥，女則調其飲食，淡其滋味，避其寒暑，至夜半生氣乘旺之時，依上三至五至，三虛四忌行之，自然交而必孕，孕而必成矣。養生書云：行房事切忌子時前，乃陽衰陰盛之候。</p>
<h4>保胎輯要總論</h4>
<p>凡有婦人即有生育，此造化自然之理，古今之常事。而臨產者每抱憂疑，皆由未明此理之故。蓋造化原不令人難生，人多不曉調攝，因而難生；造化原不令人逆生，人多慌忙逼迫，因而逆生。難逆兩端，關系二命，倘平時不知講求，則臨產必致誤事。至穩婆不可不用，亦不可專意聽信倚靠，緣彼無書傳，無師授，此理全然不知，多執己見，胡做亂為，誤人性命。</p>
<p>凡為夫君者，宜平時家中講談，令婦人習聞，有孕知調攝，臨產有主張，不懼怕，不早用力，自無難產逆生之害。以受胎後論，即不能知古人胎教，凡宜禁忌者，亦當省悟。以臨產時論，胎至十月，形完氣壯，手足必動，子動則母必腹痛，痛急則胞衣必破，子自出胞衣而來，苟不甚耐順時，見其腹痛半日、一日不產，即為難生，不知自胞衣未破，子未出胞衣，倘用藥用符，催其速生，一催之間，多致誤事。豈知天地生物，胎卵蠢動，皆自生養，何嘗用藥用符。故臨產切不可慌張，即三五日不產，亦不妨，須要忍痛安心，任其自然分娩。</p>
<h4>受胎保護</h4>
<p>受胎後，即宜用布一幅，闊六七寸，長短視人肥瘦，約縛二道，橫束腰間，直至臨盆方解去。若是試痛，仍不宜解，此有二妙：胎未長成，得此則腰膂有力，些須閃挫，不致動胎，又能常令腹中窄狹，及到解開，則腹中乍寬，轉身容易。</p>
<p>胎後睡時，須要兩邊換睡，不可盡在一邊，要使小兒左右利便，手足慣熟，則產時中道而出不難矣。</p>
<p>孕後飲食宜淡泊，不宜肥濃，不宜重濁。宜甘平，不宜辛熱。青蔬白飯，亦能養人。若在貧家，頗而不乏，但富貴之家，平日甘肥饜足，抑令崇儉，勢所不堪，酌乎其中，臚列如下：宜食諸物：肚、肺、雞、鴨、鯗、海參、腐皮、麻油、白菜、菠菱、筍、蓮子、熟藕、山藥、芡實。諸物總要潔治，多用清湯，吹去浮油，飲之最佳。（俱用白煎，忌用油煎。）此多為膏粱之人言耳。若藜藿之腹，正宜得肥甘而潤之，何淡泊之有?但六七個月後，腐皮麻油二味最佳，不妨日日食之。麻油解毒，腐皮滑胎，且清且補，貧富皆宜，允為上品，積食一二百張，則首生如達矣。或以麻油拌食更妙，不宜熬熟。</p>
<p>忌食諸物：椒、薑、煎炒、野味、豬肝、血、犬肉、蟹、黑魚。</p>
<h4>難產七因</h4>
<p>一因安逸：蓋婦人懷胎，血以養之，氣以護之。宜時常行動，令血氣流，胞胎活動。若久坐久臥，血凝氣滯則難產。常見田家勞碌之婦其產甚易，可知也。</p>
<p>一因奉養：胎之肥瘦，氣通於母，恣食濃味，以致胎肥難產。常見荊布之女容易產，可證也。</p>
<p>一因淫恣：古者婦人有孕，即居別室，不共夫寢。若有孕而犯之，三月以前常知胎產小產，三月以後犯之，一則胞衣太濃而難產，再則子身多濁物而不壽，三則子出胞衣即多瘡毒，出痘多細密難起，以致少亡。皆由父母欲火所結，可悲也。</p>
<p>一因憂疑：今人不講生產之理，或問禍福於鬼神，禱求於卜筮；或聞裡中有產厄者，孕婦疑則懼，懼則氣怯，故難產。</p>
<p>一因軟怯：如少婦初產，神氣怯弱，子戶未舒，便腰曲不伸，輾轉傾側，兒不得出。又中年婦人，生育既多，血氣虛耗，產甚艱難。須胎前服補氣養血之藥，調理健壯，則臨產自無慮矣。</p>
<p>一因愴惶：將產之時，有等愚蠢穩婆，不審正產與轉胎，但見腹痛，遂用努力催生，產婦聽從，以致橫生。</p>
<p>一因虛乏：臨產用力太早，及兒欲出無力以送，是以難產。此時宜服人參接力則產矣。</p>
<h2>卷一</h2>
<h3>胎前辨論諸症</h3>
<h4>保安胎論</h4>
<p>凡孕婦脾胃旺而血氣充，則胎安而正，產子精神而壽，曷嘗用藥以調氣血安胎耶?若稟不足而氣血衰，脾胃弱，飲食少，則虛症百出，孕成數墮，或產子不壽，必資藥力以助母安胎壽子也。是以丹溪先生刪定安胎飲之良方，治孕婦元氣虛弱，胎氣不安，飲食不美，或腹痛腰疼，隨症加減，以治胎前諸症，後開隨症加減二十余方，皆可按方取用。夫血精會凝而成孕，精氣蒸胃而嘔逆。血少肝虛，如愛酸物；胃氣受傷，厭阻飲食。若人素弱嘔阻，本方量加橘紅；若稟濃吐逆，再加竹瀝薑汁。下血不止名胎漏；小腹墮痛名胎痛。胎漏宜涼，須加生、熟地黃；胎痛宜溫，少加帶殼砂仁。至若仆跌動胎下血，膠艾宜加；怒氣胎衝上逆，木香為先。小便短澀成淋瀝，乃子淋之症，安榮不應本方宜。小便帶血流於脬，是膀胱之熱，逍遙入炒山梔。子腫症多面目虛浮，而肢體有水氣，全生白朮堪醫。子煩症則心驚膽怯，而時加煩悶，安胎竹葉無疑。天仙藤散治足指縫出水，病名子氣，虛人多加參、朮。羚羊角散療項強筋搐拳攣，病名子癇，痰多加竹瀝、參、歸。至如脾胃氣虛而胎壓尿胞，則臍腹脹而小便淋閉，安胎飲服，法宜探吐升提。又如脾虛氣弱而轉運舒遲，則飲食停滯而腹脹嘔吐，安胎力緩，加參，平胃調和。又若胸滿、腹脹、便秘、遍身浮腫，名曰胎水之不利，得用鯉魚湯。若脾胃氣虛，佐以四君、五皮。又若胎氣上攻，心腹脹滿作痛，名曰子懸之候，必用紫蘇湯。若食少晡熱，兼以加味逍遙。若腹大子滿，肥而氣壅，束胎難緩，臨月欲活血而散滯，達生散宜嘗。柴前梅連丸，治骨蒸之勞熱。當歸六黃湯，療盜汗之晡熱。孕成數墮，因母血弱不能分蔭其胎，本方預服，可保滿期。生子無氣，由母氣虛，僅可資榮於己，安胎之方，必須月服。老夫得少婦，須寡欲以候經期；壯陽遇衰陰，必頻藥以助胎力。其人愛精重施，生於精神有壽。狂陽妄泄，育子清寡無神，此造化必然之理，後人胤嗣當鑒。大抵孕婦素弱，又欲分血氣以蔭胎，自然虛症百出。是以丹溪先生安胎方以補為主，佐以順氣清涼。參、朮、黃芩，乃安胎之聖藥；歸、芎、懷熟，實補血之良劑；佐以蘇葉、陳皮，可為常服方也。夫孕成六月之前，其胎尚未轉運，茯苓性降，不宜多用，黃　肥胎，豈可常加。香附雖胎喘所需，無補虛人反害。砂仁可止嘔定痛，多加則動血行胎。歷考丹溪安胎之論不過數首，安胎之方不過再四，若能神明加減，則十全八九，誠為後學之準繩也。</p>
<h4>胎症名目辨</h4>
<p>諸家巧立病名，竹葉湯以治子煩，安榮散以治子淋，天仙藤散以治子氣之方，羚羊角散治子癇之病，子腫症用全生白朮方，子懸症用紫蘇葉方。胎前之症，非止數名，總因孕婦氣血虧虛；或有外感致生諸症而胎不安，豈胎有病母之理也。子煩淋腫等症名，乃後人巧立之名，形容胎前之病耳。愚意隨症治方，多尊丹溪先生安胎散加減以治，毫無誤失。</p>
<h4>補母壽子論</h4>
<p>凡屢產生子無氣，及育而不壽者，以父母氣血不足故也。夫人愛精重施，則髓滿骨堅，又得血氣壯盛之婦為配，生子自精神而有壽。若壯陽弱婦成孕，則母無余血蔭胎，必借藥補，以培胎元，斯生壽子。又若弱女衰翁，必須異床寡欲，藥味助神，算候經期，固精方施，斯乾元資始之本，實坤元資生之源濃也。經曰：因而和之，期為聖度。若不遠帷薄，則相火易動，雖不交會，亦暗流損泄多矣。陰平陽秘，精神乃治；陰陽離決，精神乃絕。後立二方，實補先天之不足，孕成後必宜多服，以全胎元，生子必精神有壽，經驗極多，故錄示人。</p>
<h4>補母壽子方</h4>
<p>治屢產生子無氣，或育而不壽；又補氣血虛弱，孕成不安，或得孕數墮，照方每月服十五貼，弱甚者，每日一帖。大益胎而分娩易，又生子精神有壽，經驗良方也。</p>
<p>人參（一錢，如弱人用二錢）　當歸（二錢）　白朮（二錢）　川芎（八分）　懷生地（自蒸，二錢）　條芩（二錢）　柴蘇（四分）　陳皮（四分）　甘草（四分）</p>
<p>若虛弱人，陳皮去白，再加黃連五分，棗三枚，水煎服。</p>
<p>又加減法，脾胃弱常泄瀉，加蓮子十枚，帶殼砂仁三分，減地黃。多怒而瀉，加木香二分。口常燥渴，加麥冬一錢，怔忡驚悸，加棗仁一錢，益智一錢，天員十個。</p>
<p><u>先天大造丸</u></p>
<p>（兼服助胎尤妙）</p>
<p>紫河車（一具，壯盛頭胎者佳，如新鮮者挑去血筋，和酒漿煮爛，入藥搗勻）　山藥（一兩）</p>
<p>人參（一兩五錢）　歸身（二兩五錢）　麥冬（一兩）　五味子（五錢）　黃柏（八分，久患瀉人不可用）　天冬（一兩）　懷生地（二兩）</p>
<p>脾胃弱常瀉人，減地黃，用白朮一兩，各為末，煉蜜丸，先將地黃、麥冬，蒸搗如泥，次下諸藥末，又搗千余下，丸如綠豆大，空心清湯下百丸，忌蘿卜，不可食。</p>
<h4>香附等耗氣種子方不可服辨</h4>
<p>時人妄立種子方，多用香附為主，大損氣血，服久則少力腰疼，及成痼疾絕胎。間有服交加散而偶得子者，因少壯婦多恚怒，服之抑氣諸榮，幸中耳，豈可視為良方，珍服圖嗣乎。且無子多由少血不能攝充，或屢墮胎損血，及經行作痛，或子宮空虛之故。欲求嗣者，須修補陰大造丸三、四料，以助陰血頭胎，功效甚奇。經行久痛人，丸內用牛膝一兩，元胡索五錢以調之。得孕屢墮者，成胎後，每月必服丹溪安胎飲十數帖，則可保矣。</p>
<p><u>補陰大造丸</u></p>
<p>　治血虛氣弱人，不能攝充精元成胎、或屢墮胎，及生子不壽者。若孕後虛熱盜汗，食少帶多，並宜服。</p>
<p>紫河車（一具）　人參（二兩）　當歸（二兩）　天冬（一兩三錢）　北五味（五錢）　杜仲（七錢，薑炒）　山藥（八錢）　牛膝（酒炒，一兩）　黃柏（鹽炒，七錢）　懷生地（自蒸，二兩）</p>
<p>合法丸服，俱同先天大造丸。</p>
<h4>《事林廣記》瘦胎三方不可服辨</h4>
<p>時醫用枳殼、香附等耗氣藥，立斂胎易產方，名非無見也。仿古方士進湖陽公主，枳殼瘦胎方義，遂增幾味耗氣藥品，巧立方名，使人信而服之，惑世害人久矣。蓋方士因湖陽公主，居養而形濃，食膏粱而胎肥，過期難產，特進此方，亦幸中耳。其胎之損元不壽，不責咎也，常人豈可概服乎。夫孕至九個月，胎形全具，一母之氣血蔭胎兩用，正宜服藥補之。母弱者藥培於他月，若復耗之，則母救己不贍，奚有餘血分蔭其胎?是以餓損胎元，日漸伶仃瘦弱，無斂胎易產之效，有虧元損壽之害，其孕母血氣亦虧損，多至臨盆艱澀，娩後血暈發厥，危疾皆由所致，人不知也。《婦人良方》所載無憂散、保氣散、神寢散，俱不可服。</p>
<p><u>滋榮易產湯</u></p>
<p>（凡孕婦至九個月服之有益）</p>
<p>人參（一錢）　川芎（一錢）　當歸（三錢）　茯苓（八分）　甘草（四分）　陳皮（五分）　大腹皮（八分）　白朮（八分）　黃芩（八分）　益母草（二錢）　懷生地（二錢）</p>
<p>水煎服。</p>
<p><u>達生散</u></p>
<p>　孕婦臨月服之，活血去滯，虛者加參。又，一方有芍藥、人參，尤佳。</p>
<p>（此方秘本無增入。）</p>
<p>大腹皮（薑製，一錢五分）　甘草（一錢五分）　蔥葉（三根）　黃楊腦（七個）</p>
<p>春加川芎、防風；夏加黃芩、五味；秋加澤瀉；冬加砂仁或木通。胎動加阿膠；上氣加紫蘇、地黃；性急加柴胡；口渴加麥冬、黃芩。</p>
<h4>衰翁弱女求嗣辨</h4>
<p>凡男子八八六十四而天真竭，過數而能生子者，稟原異於常也。女子七七四十九而天癸斷，過期而能有孕者，衝脈旺而血氣充也。然衰年欲昌嗣續，各有道焉。衰翁必須異床息火，絕無暗滿流泄，藥味助神真固，以候經期種子，斯乾元資始之本濃也。弱婦成孕，必須月服固胎飲二十余劑，以培衰弱天真，斯坤元資生之源充也。補弱夫弱婦不足，前先天二方及補湯丸，經驗極多。</p>
<p><u>補陽宿鳳丸</u></p>
<p>（大補年老人）</p>
<p>北五味　白朮　黃　茯苓　炙川芎　甘草　白芍　巴戟　破故紙　山萸肉　天冬　蓯蓉川牛膝　廣皮　懷山藥　黃柏　知母　杜仲　虎骨（以上十九味，各一兩）　懷生地（四兩）</p>
<p>熟地（四兩）　麥冬（四兩）　人參（四兩）　當歸（三兩）　甘枸杞（三兩）</p>
<p>用十年陳線雞一只，蒸熟去皮油，取肉骨焙燥，合諸藥煉蜜丸。（氣血虛服之甚有益）</p>
<h4>婦人受胎月令</h4>
<p>婦人受胎一月，形如露珠，乃太極動而生陽，天一生水，謂之脛足厥陰，肝脈主之。經水即閉，飲食稍異。二月如桃花瓣，乃太極靜而生陽，地二生火，謂之　足厥陰，膽脈主之。若吐逆減食，名曰惡阻，有孕明矣。或偏嗜一物，乃一臟之虛，如愛酸物乃肝經，只能養胎而虛也。三月如清鼻涕，先成鼻與雌雄二器，乃分男女，手少陰相火所主，胎最易動。四月始受水精，以成血脈，形象具，手足順成，手少陽脈所至。五月始受火精，筋骨四肢已成，毛髮始生，足太陰脈所主。六月始受金精，以成筋，口耳皆成，足陽明脈所主。七月始受木精以成骨，游其魂，能動左手，手太陰脈所主。八月始受土精以成，皮膚九竅皆成，游其魄，能動右手，手陽明脈所主。九月始受石精，百節畢備，三轉其身，足少陰脈所主。十月神氣備足乃生，足太陽脈所主。惟手少陰太陽所主者，其主之官無為而已。墮胎須防三、五、七月，宜服清熱涼血安胎之藥。女子陰類也，以血為主，上應太陰，下應海潮，一月一行，故謂之月水、月信、月經。經者，常也；天癸，天一生水也。或先或後，或通或塞，皆病也。</p>
<p>復有變常，而古人未言及者，不可不知。有行期只吐血衄血；或眼目出血者，是謂倒經。有三月一行者，是謂季經。有一年一行者，是謂避年。有一生不行而受胎者，是謂暗經。有受胎之後，月月行經而生子者，是謂盛胎。或受胎每月血大下而胎不隕者，是謂漏胎。女子二七天癸至，七七天癸絕，其常也。有女子十二三而生者，其變也，醫者亦宜留心也。</p>
<h4>胎前二十七症醫方</h4>
<p><u>丹溪安胎飲</u></p>
<p>一、治孕成後胎氣不安；或腹微痛；或腰間作痛；或飲食不美，孕至五六個月，並宜服之。</p>
<p>白朮（二錢）　當歸（二錢）　條芩（八分）　川芎（八分）　人參（一錢）　陳皮（四分）　懷生地（二錢，自蒸）　紫蘇（四分）　甘草（四分）　砂仁（三分）</p>
<p>薑棗引，水煎。</p>
<p>二、孕婦元氣不足倦怠，或胎動不安，或身微熱減食，並服加味安胎飲，如腰疼腿痛，必一日二三帖可安。</p>
<p>人參（二錢）　當歸（三錢）　白朮（二錢五分）　條芩（八分）　生地（二錢，自蒸）　陳皮（四分）　紫蘇（四分）　甘草（四分）　砂仁（三分）</p>
<p>煩渴加麥冬一錢，加棗二個。</p>
<p>三、孕成後二三月內，惡阻嘔逆，或頭眩暈倦怠，宜</p>
<p><u>加味參橘飲</u>。</p>
<p>人參（一錢）　橘紅（二錢）　白朮（二錢）　半夏（八分）　當歸（二錢）　藿香（四分）　甘草（四分）　砂仁（三分）　竹茹（一丸）</p>
<p>如肥人，加竹瀝一酒杯，薑汁半匙，薑三片，加烏梅半個。</p>
<p>四、孕婦常多怒氣，胸腹滿悶，或服烏藥、香附、砂仁等順氣耗藥，反加滿悶，宜服此方。</p>
<p>人參（二錢）　白朮（二錢）　當歸（二錢）　川芎（八分）　陳皮（四分）　紫蘇（四分）　甘草（三分）　條芩（八分）　木香（三分）</p>
<p>五、孕婦腹中不時作痛，小腹下墮，多血虛氣陷，間有兼寒者，服</p>
<p><u>加味安胎飲</u>。</p>
<p>（四分）　懷熟地（二錢）</p>
<p>如兼寒，加吳茱萸一錢；或乾薑、砂仁各五分。薑引。</p>
<p>六、孕婦面目虛浮，四肢有水氣，多因脾胃氣虛；或久瀉所致。宜健脾利水，服</p>
<p><u>全生白朮散</u>。（此症名曰子腫）</p>
<p>白朮（二錢）　人參（一錢）　川芎（八分）　當歸（二錢）　甘草（三分）　紫蘇（四分）　陳皮（四分）　大腹皮（七分）　茯苓皮（一錢）</p>
<p>七、胎氣上攻心腹，脹滿作痛，宜服順氣安胎散。（此症名曰子懸。）</p>
<p>人參（二錢）　白朮（二錢）　紫蘇（四分）　甘草（四分）　陳皮（四分）　砂仁（四分）　當歸（二錢）　川芎（八分）　黃芩（八分）</p>
<p>如有氣，加木香二分，（磨。）薑引。</p>
<p>八、受胎下血不止，或按月來血點滴，名曰胎漏。大多因勞，又因氣血虛，有因喜食炙爆熱物過多。宜謹房事，服補中安胎飲。</p>
<p>白朮（二錢）　當歸（二錢）　人參（一錢）　甘草（三分）　熟地（一錢）　黃芩（四分）　紫蘇（四分）　白芷（四分）</p>
<p>又，苧麻根，治漏胎下血。</p>
<p>九、孕婦頓仆動胎，下血不止，宜先服</p>
<p><u>安胎飲</u>，一日二三帖，如不止，加阿膠艾安胎飲。</p>
<p>人參（二錢）　條芩（一錢）　川芎（八分）　甘草（四分）　紫蘇（四分）　陳皮（四分）　當歸（二錢）　懷熟（二錢）　陳膠（一錢，用蛤粉拌炒成珠，研）</p>
<p>薑棗引。</p>
<p><u>仲景《金匱》膠艾湯</u></p>
<p>　治妊婦下血不止。</p>
<p>歸　芎　芍　地　甘草　阿膠　艾葉（各等分）</p>
<p>用酒水煎服。</p>
<p>十、孕婦心驚膽怯，煩悶不安，名曰子懸，宜</p>
<p><u>竹葉安胎飲</u>。</p>
<p>當歸（二錢）　白朮（二錢）　人參（一錢）　川芎（七分）　甘草（四分）　陳皮（三分）　黃芩（八分）　棗仁（一錢）　遠志（八分）　麥冬（一錢）　竹葉（十片）　懷生地（一錢五分）</p>
<p>薑棗引。</p>
<p>若其人煩渴，加竹茹一丸。有痰，加竹瀝七分酒盅，薑汁三匙。如虛人，加人參二三錢。如脾胃常瀉，減生地、棗仁。</p>
<p>十一、孕婦腿膝發腫，氣促滿懷不舒，或足指縫出水。蓋脾主四肢，脾氣虛弱，不能制水而發腫，肺腎少母氣滋賴，而氣促滿悶。諸書名曰水氣，治宜服</p>
<p><u>天仙藤散</u>。不效，服補中健脾湯。（此症名曰子氣。）</p>
<p>天仙藤（洗，略炒。）　香附（炒，八分）　陳皮（四分）　紫蘇（四分）　甘草（三分）　烏藥（七分）　木瓜（一錢）　薑皮（三片）</p>
<p>如虛人，加人參一錢，白朮二錢，當歸二錢。若脾氣虛弱人，宜服補中益氣湯。</p>
<p>十二、孕婦口噤項強，手足攣縮，言語謇澀，痰涎壅盛，不省人事，可作中風治。治以羚羊角散。如無痰，言語如常，但見中風症，多因血燥類風，切不可概作中風類治，誤人性命，名曰子癇。</p>
<p>羚羊角（一錢）　川芎（七分）　獨活（八分）　棗仁（炒，一錢）　五味子（八分）　防風（五分）　薏苡仁（一錢）　當歸（一錢）　茯苓（八分）　杏仁（十粒）　木香（二分）　甘草（四分）</p>
<p>如虛人，加人參一錢。痰多，加竹瀝七分酒盅，薑汁半匙。脾胃虛，加白朮一錢五分。</p>
<p>薑引。</p>
<p>十三、孕婦小便澀，或成淋瀝，名曰子淋。宜</p>
<p><u>加味安榮飲</u>。</p>
<p>人參（二錢）　白朮（二錢）　當歸（二錢）　麥冬（二錢）　茯苓皮（一錢）　通草（一錢）　甘草（四分）</p>
<p>有痰宜清肺，加黃芩七分。若怒動肝火，宜加柴胡、燈心水煎。</p>
<p>十四、孕婦形體勞苦，或過食炒炙熱物，小便帶血，宜清膀胱之火，服</p>
<p><u>加味逍遙散</u>。</p>
<p>當歸（二錢）　芍藥（一錢）　白朮（一錢五分）　茯苓（七分）　柴胡（四分）　丹皮（七分）</p>
<p>山梔（七分）　炙甘草（四分）</p>
<p>十五、孕婦腹臍作脹，或小便淋閉，此由脾胃氣虛，胎壓尿胞，宜服</p>
<p><u>安胎飲</u>。</p>
<p>白朮（一錢五分）　陳皮（四分，去皮）　甘草（四分）　人參（一錢）　川芎（八分）　當歸（二錢）　生地（一錢五分）　柴胡（四分）　半夏（六分，薑製）　升麻（四分）</p>
<p>薑引，空心屢服。鹽湯探吐，則氣升尿下經行，亦一治法也。</p>
<p>十六、孕婦元氣壯盛，受胎後尚有血來幾次，不妨，乃血盛故也。若不腰腿酸痛，不須服藥。若過慮，可服安胎飲。</p>
<p>十七、孕婦胸腹滿脹便閉，遍身浮腫，（名曰胎水不利。）宜服</p>
<p><u>鯉魚湯</u>。</p>
<p>白朮（五分）　當歸（二錢）　芍藥（二錢）　茯苓（四分）</p>
<p>用鯉魚一尾，重一二斤，去鱗腸，水煎，加橘皮少許，生薑七片，用水四盞，取汁盞半，加四味藥煎七分，如水未盡，再制服。</p>
<p>十八、孕婦咳嗽，屬風屬寒，宜</p>
<p><u>定肺止嗽飲</u>。</p>
<p>天冬（二錢）　桔梗（四分）　紫蘇（四分）　知母（一錢）　甘草（四分）</p>
<p>寒嗽，加杏仁十枚，桑白皮八分。有痰，加桔紅四分，竹瀝薑汁。熱嗽，加黃芩八分。</p>
<p>虛嗽，加紫菀一錢，冬花六分。發喘，夜多嗽，加麻黃八分。虛損咳嗽，栝蔞一錢，竹瀝薑汁。</p>
<p>心胸不舒，貝母一錢，百合一錢。</p>
<p>又方，孕婦咳嗽不止，胎不安。</p>
<p>杏仁（十粒）　桔梗（五分）　紫菀（一錢）　甘草（四分）　天冬（二錢）　桑白皮（八分）　竹茹（一丸）</p>
<p>水煎，入蜜溫服。</p>
<p>十九、孕婦咳嗽吐血。</p>
<p>懷生地（三錢）　知母（一錢）　紫菀（一錢）　白朮（一錢）　陳皮（四分）　甘草（四分）　麥冬（一錢）　黃芩（八分）　天冬（二錢）　犀角（八分）　當歸（二錢）</p>
<p>喘，加栝蔞仁（一錢）</p>
<p>二十、孕婦霍亂吐瀉，心煩腹痛，先服</p>
<p><u>六和湯</u>。</p>
<p>半夏（七分）　陳皮（四分）　藿香（四分）　甘草（四分）　杏仁（十粒）　竹茹（一丸）　白扁豆（二錢，炒）　木瓜（二錢）　人參（一錢）　砂仁（五分）　茯苓（八分）</p>
<p>薑棗引，水煎。如服之不安，次服安胎飲。</p>
<p>二十一　、孕婦瘧疾，寒多熱少，用安胎飲減陳皮，加：半夏（七分）　草果（三錢）　青皮（三錢）　人參（二錢）　白朮（二錢）　當歸（二錢）　烏梅（二個）　紫蘇（四分）　黃芩（一錢）　甘草（四分）　藿香（五分）</p>
<p>薑引。</p>
<p>二十二、孕婦口乾不得臥，用安胎飲加麥冬干葛；或黃連為末，粥飲調下一錢，亦好。</p>
<p>二十三、孕婦壅熱，心神煩躁，口乾渴，宜</p>
<p><u>參知散</u>。</p>
<p>人參（一錢）　知母（一錢）　麥冬（一錢）　梔子仁（二錢，炒）　甘草（五分）　條芩（五分）</p>
<p>蔞仁（八分）　犀角（八分）</p>
<p>夏加竹瀝薑汁，棗引。</p>
<p>二十四、孕婦熱病，嘔吐不食，胸中煩躁，宜</p>
<p><u>葛根湯</u>。</p>
<p>蘆根（一錢五分）　葛根（一錢五分）　人參（一錢）　麥冬（一錢）　知母（一錢）　竹茹（一丸）　梔子（一錢，炒）　蔥白（三寸）</p>
<p>水煎。</p>
<p>二十五、孕婦熱病，斑出赤黑色，小便如血，氣急欲絕，胎落。</p>
<p>梔子（一錢）　黃芩（一錢）　升麻（一錢）　青黛（一錢）　豆豉（四十九粒）　生地（二錢）</p>
<p>杏仁（十粒）　石膏（一錢五分）　蔥白（七寸）</p>
<p>二十六、孕婦患骨疼痛，不急治則胎落。宜</p>
<p><u>升膏散</u>。</p>
<p>葛根　石膏　升麻　柴胡　青黛痰多加竹瀝一盞，薑汁一匙。</p>
<p>二十七、孕婦患吐衄血，或因破傷失血，驀患口噤，項強背直，類中風症，皆因失血之故。宜</p>
<p><u>安胎飲</u>。加：人參（二、三錢）　當歸（二錢）　白朮（二錢）　熟地（二錢）　陳皮（四分）　甘草（四分）</p>
<p>條芩（八分）　天麻（一錢）　麥冬（一錢）　防風（一錢）　荊芥（一錢）</p>
<p>以上二十七症孕婦病，若與秘本對，依此開方，萬勿有失。</p>
<p>又《活人書》中，治孕婦熱病發斑赤黑色者，</p>
<p><u>梔子大青湯</u>。</p>
<p>升麻　大青　梔子　杏仁　黃芩蔥白引。</p>
<h4>增補胎前十症</h4>
<p>傷寒　子滿　子鳴　子喑　中暑　中濕　泄瀉　痢疾　瘡毒　無故哭泣</p>
<p><u>妊婦傷寒</u></p>
<p>　宜清和為主，各隨六經所見表裡之症治之，切不可與常病傷寒同治，以致損胎，誤母子性命。凡治傷寒，不拘日數，但見惡寒發熱，為病在表。用</p>
<p><u>四味紫蘇和胎飲</u></p>
<p>為主。各隨所見之症，加減治之。</p>
<p>紫蘇（一錢五分）　白朮（一錢五分）　條芩（一錢五分）　甘草（一錢）</p>
<p>如惡寒頭痛，項強腰脊痛，此病在太陽膀胱。加羌活（一錢）　防風（一錢）　川芎（一錢）　本（一錢）</p>
<p>蔥，連根須三根，薑引，蓋被取汗。如惡寒不發熱，只頭痛鼻干，或項強，此病在陽明胃，本方加葛根、白芷、防風等分，蔥白三根，淡豆豉一撮，煎服汗解。如寒熱往來，頭眩或嘔，或心下煩，或胸脅滿，此病在少陰膽，加柴胡一錢，人參一錢。嘔加半夏八分。胸脅滿，加枳殼一錢，桔梗一錢。頭眩，加川芎一錢，薑引。如發熱惡寒，咳嗽甚者，此病在手太陰脾，加人參、乾薑（炙）、白芍（酒炒）各一錢，薑棗引。如惡寒蜷臥，發熱手足冷，此病在足少陰腎，加獨活一錢，熟地一錢，細辛一錢，薑棗引。如惡寒手足厥冷，唇口青，遍身痛，如被杖頭頂痛，此病在足厥陰肝，加炒當歸一錢，炒吳茱萸一錢，羌活一錢，細辛一錢，蔥連須三根。薑棗引。</p>
<p>凡治傷寒不拘日數，但無惡寒頭痛，只發熱口燥，咽乾而渴，此病邪在裡。用</p>
<p><u>黃龍湯</u></p>
<p>為主。（此湯出《活人書》，並治頭痛，脅痛，嘔逆。）</p>
<p>柴胡（一錢）　黃芩（一錢）　人參（一錢）　甘草（一錢）</p>
<p>如發熱口渴，小便不利，此病在手足太陽，小腸膀胱腑病也，加白朮一錢五分，豬苓一錢，澤瀉一錢，赤苓一錢，木通一錢。如發熱大渴，此病在手足陽明胃、大腸也，加知母一錢，石膏二錢，淡竹葉一把，粳米一撮。如大熱大渴煩躁，大便不通，此病在足陽明胃府也，去人參，加枳實一錢（炒)，大黃一錢（煨)，芒硝一錢，薑引，以利水為度。如發熱口渴，心煩不得眠，或乾嘔，此病在足少陽膽，加麥冬、花粉、梔子、棗仁各一錢，竹肉一大丸。</p>
<p>如發熱而渴，腹中痛自利，此病在足太陰脾，加白朮一錢，白芍一錢，阿膠一錢，白茯苓一錢，薑棗引。如發熱而渴，自利不止，手足冷，此病在少陰腎，去柴胡，加乾薑一錢（炒)，赤石脂一錢，白茯苓一錢，砂仁一錢，薑棗引。如發熱而渴，痢濃血，手足冷，此病在足厥陰肝，加當歸一錢，白芍一錢（酒炒)，白朮一錢，茯苓一錢，烏梅引。</p>
<p>凡傷寒瘥後，調理失宜，復發熱者，此勞復也，用黃龍東加知母一錢，麥冬一錢，石膏二錢，淡竹葉、粳米引，取汁。如因飲食失節，復發熱者，此食復也，用前四味柴蘇和胎飲，加炒枳實，炒黃連，陳皮、神麯（煨)，薑棗引。若時行天氣傳染者，依上法分六經表裡治之；或於初病之時，用</p>
<p><u>敗毒散</u>，加和胎藥解之。</p>
<p>人參　羌活　柴胡　茯苓　前胡　甘草　川芎　桔梗　枳殼　黃芩　蘇葉　葛根　生薑蔥白引，取汁。</p>
<p>凡傷寒熱不解，遍身發斑，赤如錦紋，</p>
<p><u>加味化斑湯</u></p>
<p>治之。</p>
<p>人參（一錢)　知母（一錢)　石膏（二錢)　甘草（一錢)　黃芩（一錢)　梔子仁（一錢)　生地（一錢）　淡竹葉（二十片）　豆豉（半合）</p>
<p>水煎服。</p>
<p><u>妊婦子滿</u></p>
<p>　孕婦至七八個月，其胎長大，腹大脹滿，逼迫子戶，坐臥不安，（名曰子滿。）</p>
<p><u>束胎飲</u></p>
<p>主之。</p>
<p>白朮（一錢五分）　黃芩（一錢五分）　蘇葉（一錢五分）　枳殼（一錢五分）　大腹皮（一錢五分）</p>
<p>炙甘（三分）　帶殼砂仁（炒，五分）</p>
<p>薑引。</p>
<p><u>妊婦子鳴</u></p>
<p>　孕婦欠身，或向高處取物，子在腹中失脫口中所含　，故啼，（曰子鳴。）治法令母作男子拜；或豆散在地，令母拾之，子含著不啼。</p>
<p><u>妊婦子喑</u></p>
<p>　妊至八九個月，忽然聲喑不語，（名曰子喑。）由少陰之脈，下養乎胎，不能上榮於舌之故。俟十月生子後，自能復聲，非病也。可服藥，勿信庸醫妄利。</p>
<p><u>妊婦中暑</u></p>
<p>　其病發熱而渴自汗，精神昏憒，四肢倦怠少氣，用</p>
<p><u>清暑和胎飲</u>。</p>
<p>炙黃　（一錢）　人參（一錢）　炙甘草（一錢）　白朮（一錢）　黃芩（一錢）　黃連（一錢）</p>
<p>知母（一錢）　麥冬（一錢）　北五味（十粒）</p>
<p><u>妊孕中濕</u></p>
<p>　或冒雨；或早行感霧露之氣；或久居濕地；或大汗出；取冷水洗浴。</p>
<p>其症發熱骨節痛，身體重，頭痛鼻塞，用</p>
<p><u>黃芩白朮湯</u>。</p>
<p>條芩（五錢）　白朮（五錢）　蘇葉（二錢五分）　薑（五片）</p>
<p><u>妊婦泄瀉</u></p>
<p>　凡妊婦泄瀉，以補中安胎為主，用四君子東加白朮一錢。如發熱而瀉為熱，加黃芩一錢；不渴為寒，加炮薑五分，烏梅一個；如久瀉大渴，加葛根、木香（炒）、乾薑、白芍（酒炒）、訶子肉、烏梅引。（等分，視症酌。）</p>
<p><u>妊婦痢疾</u></p>
<p>　凡妊婦痢疾，以清熱和胎，行氣養血為主，黃芩芍藥湯主之。切不可用大黃、檳榔，以致墮胎。</p>
<p>當歸（一錢）　白朮（一錢）　黃芩（一錢）　白芍（一錢）　黃連（一錢）　枳殼（一錢）　茯苓（一錢）　陳皮（一錢）　生甘草（一錢）　木香（五分）</p>
<p>烏梅引。</p>
<p><u>妊婦瘡毒</u></p>
<p>　病乳癰者，</p>
<p><u>托裡解毒湯</u></p>
<p>主之。</p>
<p>川芎（一錢）　當歸（一錢）　白芷（一錢）　黃芩（一錢）　連翹（一錢）　花粉（一錢）　銀花（一錢）　甘草節（一錢）　青皮（五分）　皂刺（十個）</p>
<p>如背上臀上者，病在陽明，本方去青皮，加升麻一錢，葛根一錢。如胸前兩頰生者，病在少陽，本方去白芷，加柴胡一錢，膽草一錢，梔子一錢。如背膊腋下生者，病在太陰，加陳皮，去青皮，又加桔梗一錢，桑白皮一錢，天冬一錢。如在胯下陰旁生者，病在厥陰，本方去白芷，倍加青皮。如手足掌內生者，病在少陰，本方去白芷、青皮、花粉，加黃連一錢，黃柏一錢，木通一錢。</p>
<p>凡癰毒，有九處不可治。</p>
<p>一、伏兔（腳背）　二、腓　（音肥善，腳肚間。）　三、背脊中　四、肩俞（夾背兩旁）</p>
<p>五、項（對口）　六、胸　七、須　八、髭（音咨）　九、頤</p>
<p><u>妊婦無故哭泣</u></p>
<p>　凡孕婦忽然無故悲慘哭泣，狀如邪祟，此臟躁症也，</p>
<p><u>十棗湯</u></p>
<p>主之。</p>
<p>甘草（三兩）　小麥（一升）　大棗（十枚）</p>
<p>水六升，煎三升，去渣。分三服即效，再服</p>
<p><u>竹葉湯</u></p>
<p>主之。</p>
<p>人參（一錢）　麥冬（一錢）　茯苓（一錢）　炙甘草（一錢）　小麥（一合）　青竹肉（一大丸）</p>
<p>薑棗引。</p>
<p>此十症，秘本所無，今從萬密齋先生女科中摘出，以補未備，俾學人覽之，有蹊徑之可循，不致茫無畔岸。但古云醫不執方，又在學人臨症憑脈，神而明之，不可膠柱鼓瑟也。</p>
<p>婦人妊娠，宜常服</p>
<p><u>當歸散</u></p>
<p>（《金匱》）</p>
<p>當歸　川芎　芍藥　黃芩　白朮胎動不安，防其墮者，宜服</p>
<p><u>杜仲丸</u>。</p>
<p>杜仲（二兩，水炒）　續斷（二兩，酒洗）</p>
<p>共末，煮紅棗肉為丸。每服三十丸，米飲下，空心食遠服。並服</p>
<p><u>胡連丸</u>。</p>
<p><u>胡連丸</u></p>
<p>（安胎聖藥也）</p>
<p>條芩（四兩，沉水）　白朮（二兩）　蓮肉（去心，二兩）　砂仁（一兩，微炒）　炙甘（一兩）</p>
<p>共末，另用山藥五兩，米飲煮糊為丸，米飲下。</p>
<p>胎前有血崩之症，安胎飲加後止崩藥治之。</p>
<h2>卷二</h2>
<h3>辨病胎小產弱症醫方</h3>
<h4>墮胎辨（俗名小產）</h4>
<p>丹溪論血不足以榮養其胎而墮胎者，猶枝枯而果落，藤萎而花墮也；其勞怒動火而墮者，猶風撼其木，人折其枝也。二論極是，然未詳晰論辨，無惑乎妊婦之不慎戒也。夫婦人衝脈主血海，血旺始成胎；任脈主胞胎，靜養則胎安。若怒傷肝，勞傷腎，致二臟失，相火耗血動氣，未有能保孕之不漏不墮，娩後尚多崩熱之症也。如衰弱人有妊，及曾墮者，必須恪遵胎教，通達事情，如古太任兢兢愛護，坐臥不偏，視聽無邪，毋溺專寵，閫事悉委於婢外家，罔懷妒忌，忿　不留於胸臆。至如食物藥餌，一律禁戒無犯。斯火不動而血旺蔭孕，形不勞而氣完胎固，且生子稟全易養，形端體正。況屢墮損血倍於正產，怒勞致墮，由已自招。稟弱之人，惟知有子自足，毋以小嫌害大，而自取無後之憂也。</p>
<p><u>補母固胎飲</u></p>
<p>（忌食小鯉魚、莧菜）</p>
<p>白朮（二錢）　當歸（二錢）　熟地（二錢）　陳皮（三分）　紫蘇（三分）　砂仁（三分）　甘草（三分）　人參（一錢）　條芩（八分）　智草（五分）　大棗（二枚）</p>
<p>妊婦誤食莧菜，諸藥書此以曉弱婦，欲子壽，必須信方月服。凡妊至四、五、六月內，誤食莧菜，或少服苓、朮等藥，多吃炙爆煎炒動火熱物，必墮胎產。如見有別症，凡大黃、芒硝一切金石下氣之藥，皆宜禁用。萬不得已，亦宜斟酌。不用中病即止，勿誤人命。不特半夏、牛膝等藥宜慎，即茯苓性降亦須慎用。時醫不知，故特表而出之。總之，孕婦雜症，必以安胎為主，雜症為佐使矣。</p>
<h4>妊婦失血類風症辨</h4>
<p>凡孕至四五月，患吐血、衄血，及損傷血，驀然口噤項強，手足難動履，背如角弓，症類中風，切不可認為真中風而降火化痰方治。宜服安胎飲，以補血為主，以風痰之藥佐之，無失。</p>
<p><u>補血安胎理風湯</u></p>
<p>川芎（二錢）　天麻（二錢）　黃芩（二錢）　羌活（五分）　防風（五分）　荊芥（五分）　白芍（三分）　當歸（三分）　人參（三分）　紫蘇（四分）　甘草（四分）</p>
<p>附：應驗方案有樂埠沈禹門室，妊六月，因禹病拜斗齋勞，割股失血，驀然口噤項強及角弓。予用安胎飲加化痰治，稍安。又遇范東蘺極詆予補中風痰誤，彼以豁痰降火方，病患服如刺心，棄渣。</p>
<p>予復用前方倍參二十帖，母安產兒。</p>
<p>一上虞趙方橋室，妊至五月，患衄血去兩升，頭暈、口噤、手掉。以安胎飲倍參、當，加川芎、天麻、犀角、生地而愈。</p>
<p>書此以見妊婦雜症必須安胎補血為主也。</p>
<h4>胎不安毋議落胎救母辨</h4>
<p>妊婦患虛損潮熱，骨蒸少力，或崩漏，或少食，皆致孕婦氣血不足胎。若月久不能鼓動，或胎不安上攻，或跌撲損胎不動，疑胎死活難辨；或患熱病損胎；或因誤食動胎藥及食莧菜，雖血行胎逼，切不可用落胎之方，妄議去胎救母也。必須補母之氣血，力健則胎自然漸動，即其胎死，助血自落，可保兩全而無虞也。若攻弱母之胎，胎落而母繼殞者多矣。慎之。</p>
<p>妊婦患傷寒，或患疫病，熱久皆墮胎，墮後未免增熱。因熱消陰血，又繼產血脫故也。</p>
<p>治者慎勿妄論傷寒、疫症未除，誤投梔子豉湯、芩、柏等藥；或往來寒熱，柴胡不可用也；或潮熱，大小便秘，承氣、五苓等方不可投也。宜頻服生化湯，時進兩帖，不拘帖數，服至熱退停藥。如虛脫，形色脫，汗多或渴，二帖後即加生脈散，人參、麥冬以防暈厥危症。且生化湯有川芎性辛散邪，乾薑助血藥能除陰火大熱。其結便秘灼熱，多服生化湯，自然津液之累生，二便通利矣。若熱用寒劑，反愈虛中氣，且血得寒則滯，變症百出，誤之甚也。</p>
<h4>胎前藥物宜忌</h4>
<p>牛膝　赤茯苓　大黃　芒硝　半夏　附子　肉桂　南星　巴豆　大戟　芫花　米仁　藜蘆厚朴　槐花　桃仁　丹皮　茅根　瞿麥　三棱　通草　紅花　蘇木　麥芽　神麯　常山　葵子乾薑　麝香　蟹　牛黃　雄黃　烏豆　天雄　蟬蛻　檳榔　胡索　蒺藜　牽牛　皂莢乾漆　虻蟲　水蛭　蟲　蛇蛻　蜈蚣　水銀　安息香　破故紙　王不留行　淡竹葉根</p>
<h2>卷三</h2>
<h3>臨產須知異症</h3>
<p>異症調護法　異症醫方　難產調護　增補臨產須知　凡產論病　產後脈辨</p>
<h4>異症調護法</h4>
<p>凡產育之難者，皆因坐產太早，用力太過，遂有橫生倒產之危。且臍腹疼痛之初，自兒身才轉多未順，且宜慎之。</p>
<p>一、兒身未順，生路未正，產婦用力一逼，令兒偏生或左傾，雖兒逼門而不成下，但云兒已露頂，非頂也，或左右額角也，用力一逼即下。若是頭之後骨逼在穀道，兒露頂未正，當令穩婆熟手急於穀道輕推頭正，然後用力一逼兒下。此全在穩婆之良，醫藥為次也。若胎水未落，痛者開口，危甚。</p>
<p>一、兒先露手足，以鹽塗足底，急搔之，並以鹽塗母腹上，又以小絹針於兒手足，以針入一二分，以鹽擦其上，輕輕送入，兒痛驚轉一縮，當即回順。（針刺之法，防兒痛上奔，母命有礙。）</p>
<h4>異症醫方</h4>
<p><u>治橫生逆產方</u></p>
<p>伏龍肝（即灶中心土，多年紅者佳。）</p>
<p>研細末，酒調下一錢。其藥兒頭戴出妙。</p>
<p><u>治橫生倒產方</u></p>
<p>蛇蛻（一條，全）　蠶蛻紙（一張，新瓦瓶中，鹽泥封固，燒存性）</p>
<p>為末，煎乳香湯送一錢，二服即下。</p>
<p><u>治橫倒先露手足方</u></p>
<p>阿膠（炒）　滑石　黃葵子每服四錢，水煎服。</p>
<p><u>催生兔腦丸</u></p>
<p>　治生理不順，橫逆難產，神效。</p>
<p>臘月兔腦髓　母丁香（一錢，為末）　乳香（一錢，另研）　麝香（一分）</p>
<p>用兔腦搗為丸，如芡實大，陰乾，紙密封，溫酒送一丸。男左女右，手握藥丸娩下。</p>
<p><u>霹靂奪命丹</u></p>
<p>　治臨產未產時，目翻口噤，面黑唇青，口中吐沫，子母命在須臾。</p>
<p>若兩臉微紅，子死母活，急用此方。</p>
<p>蛇蛻（瓶　）　蠶蛻紙（燒，一錢）　發灰（一錢）　乳香（五分）</p>
<p>酒送。</p>
<p><u>佛手散</u></p>
<p>（即歸芎湯）</p>
<p>當歸　川芎酒水煎。</p>
<p><u>催生如神散</u></p>
<p>　須候兒頂產門方可服。（即黑神散）</p>
<p>百草霜（即鍋底墨）　香白芷　滑石（等分）</p>
<p>研末，芎歸湯送二錢。</p>
<p><u>加味益母丸</u></p>
<p>　妊婦諸症可服。</p>
<p>益母草（四兩）　白朮（一兩）　條芩（八分）</p>
<p>蜜丸彈大，清湯送。孕常服一丸甚好。</p>
<p>多氣人，加木香三錢；弱人，安胎飲送化；胸膈不舒暢，加紫蘇二錢、陳皮二錢。作細丸亦可。</p>
<p><u>加參芎歸湯</u></p>
<p>　臨盆胞水來而交骨不開停產，宜服</p>
<p><u>大料加參芎歸湯</u>，以助血氣旺，自然即開分娩。</p>
<p>川芎（四錢）　當歸（一兩）　人參（三四兩）　甘草（一錢）　益母草（一錢）</p>
<p>水煎，連服二三帖。如有合成益母丸，用前四味煎湯送化一丸。如服兩三帖後不開，加敗龜板一兩，醋炙，亂髮一團，生育婦發燒灰。</p>
<p><u>加味生化湯</u></p>
<p>　治子宮不收，產戶不閉，交骨不開。</p>
<p>人參（二錢）　白朮（一錢）　黃　（一錢）　川芎（一錢）　炙草（四分）　當歸（二錢）　升麻（八分）</p>
<p>子宮不收，再加半夏八分，北五味十五粒，酸以收之；芍藥八分，醋炒，補而升之。以上三症，皆元氣不足之甚，娩後患此，必先服生化湯消血塊，繼服加參生化湯。三症交骨不開，補以開之；子宮不收，補以收之；產門不閉，酸以斂之；胞衣不下，詳卷六二十九症第三條。</p>
<h4>難產調護（俱是臨盆七日內諸事）</h4>
<p>產畢未可上床，令人扶住，從心下輕輕按揉至臍腹間，日五六次，此後雖睡，時時揉之，惡血不滯。</p>
<p>腹中又用小衣服烘熱溫之，雖暑月不可去單被，腹寒則血塊不行，且作痛。</p>
<p>產兒下地，即服生化湯二帖，共三煎，去百病。</p>
<p>兒下若胎衣不下，要善護母下部，冬月用火於被中腹中，用熱衣溫之。又服生化湯、益母丸諸下胎衣丸。</p>
<p>產母虛甚，須燒磚石秤錘入醋，使氣至鼻，以防血暈。</p>
<p>兒下地，即服生化湯一帖。如肚飢甚，可服白粥一盞，不可太飽，過一時又服生化湯。</p>
<p>如未欲食，必連服生化湯二帖，共三煎，始吃飯，甚好。</p>
<p>才產不得過與酒，飲酒能散惡血入四肢，老年作痛。且臟氣虛，不勝酒力，致神昏。</p>
<p>七日內切不可洗下部，七日外方可洗，就床坐洗，盈月後方可梳頭洗澡，一百日內不可勞力過度。冬末春初，天色凝寒，宜密閉產室，四圍置火，常令暖氣和燠，而且下部衣服不可去，俾可免胎寒血結，以致難產停胞也。</p>
<p><a href="_files/p02-g3a1.bmp">催生符</a></p>
<p>鬼日向太陽，夜向太陰，祝畢燒灰，用滾水吞之，無不靈效。不可多傳人，多傳則不靈矣</p>
<h4>增補臨產須知（萬密齋先生女科）</h4>
<p>產婦以血為主，氣為輔，血濡氣行，子宮滑溜，生理順易。子猶魚也，胞漿猶水也，水行魚行，水去魚止，可知產難皆血少氣滯之故。</p>
<p><u>加減五苓散</u></p>
<p>主之。（又名催生如聖散）</p>
<p>白朮　茯苓　豬苓　澤瀉　肉桂　車前　木通　枳殼　檳榔　甘草（各一錢）　滑石末（二錢）　燈心（四十九寸）</p>
<p>長流水煎。如胞漿干澀者，加川芎、當歸尾、生地、香附；如飲食少，中氣不足者，加人參。</p>
<h4>子死腹中辨</h4>
<p>妊婦三、四日不產，胎死腹中，其母唇舌俱紅者，母子無事。唇青舌紅，母死子活。唇紅舌青，母活子死。唇舌俱青，奪命丹主之。</p>
<p>蛇蛻（全者一條，新瓦上存性）　金銀箔（各七張）　大母丁香（五錢，另研）　男子亂髮（一錢，燒存性）　馬鳴蛻（一錢，即破故紙，燒）　黑鉛（二錢五分）　水銀（七分，先將鉛溶化，入水銀急炒，結成沙子，傾出另研）　千裡馬鼻（即舊草鞋鼻七個，燒灰）</p>
<p>於靜室中修合，勿令婦人雞犬見。各研為末和勻，用　豬心血為丸，桐子大。每服二丸，長流水送灌。</p>
<h4>盤腸生調治法（並醫方）</h4>
<p>產婦臨盆，腸先出盤露於外，子隨後生，生後而腸不即收，由平日氣虛不能斂束，血熱易於流動，下元不固，關鍵不牢，致有此苦。救治之法，於子下衣來之後，令產婦仰臥，先將母腸溫水洗淨惹帶之物，然後托起，輕輕送入，推而上之，令產婦兩足夾緊穀道，其腸自收上也。或取草麻四十九粒，去殼搗攔，敷在頂心，待腸收盡，急去之。次也，又用冷水和醋，令人噴面，一噴一收，以漸收之。又其次也，欲免其苦者，宜於次後無孕時服地黃丸，加五味子一兩，桂心一兩，以固下元之關鍵。有孕後多服胡連丸。</p>
<p><u>胡連丸</u></p>
<p>白朮（一兩）　條芩（四兩）　蓮肉（二兩，去心）　砂仁（一兩，炒）　炙甘草（一兩，研末）</p>
<p>山藥（五兩）</p>
<p>打糊為丸，米飲下。加人參以補其氣，兼服三補丸以涼其血，黃柏、黃連、黃芩（炒）等分，蜜丸，白湯下。於八月之時，再服八物東加訶子、瞿麥、粟殼，蜜炒，服十余帖，庶可免矣。</p>
<h4>產子氣絕不啼救法</h4>
<p>臨產之母護痛傾側，兩足不開，扭夾兒頭，氣不得伸，故兒悶絕，謂之寤生。救法自胎衣來，勿斷臍帶，急用小鍋燒水，以胎衣置湯中，頻用溫水洗帶，須臾氣暖入腹，兒氣即回，啼聲出矣。若倉卒斷其腸，不可救也。</p>
<h4>產後生化湯論服法</h4>
<p>產後血氣暴虛，欲補之，則恐惡露停滯，欲攻之，又恐元氣有虧。惟行中帶補，化舊生新，方始萬全也。世之治產者，往往用四物湯。竅謂地黃性寒滯血，芍藥酸寒無補，非治產之良劑也。惟生化一湯，預時制下，候胎衣一破，速煎，俟兒下即服，相繼服二、三帖，使下焦血塊速化，新血驟長，自無厥暈。且產婦服一帖，精神漸增，二帖陰血頓旺，並去宿瘀，所以有生化之名也。</p>
<h4>凡產論病</h4>
<p>凡病生於血氣之衰、脾胃之虛，而產後氣血、脾胃之虛衰尤甚焉。是以丹溪先生論產後，必以大補氣血為先，雖有他症，以末治之。此三言已盡醫之大旨，若能擴充其方，用藥可以無失矣。夫產後憂驚勞倦，氣血暴虛，諸症乘虛易入。如有氣，無專耗散；有食，無專消導；熱不可用芩、連；寒不可用桂、附。寒則血塊凝滯，熱則新血流崩。至若虛中外感，見三陽表症，似可汗也，在產後而用麻黃，慮有亡陽之患；見三陰裡證，似可下也，在產後而用承氣，則重亡陰血。耳聾、脅痛，乃腎虛惡露之停，休用柴胡。譫語汗出，乃元弱似邪之症，毋解胃實。厥逆，陽氣之衰，雖分寒熱，非大補不能回陽而起弱。　因陰血之虧，毋論剛柔，非滋榮不能舒筋而活絡。又如乍寒乍熱，發作有期，症類瘧也，若以瘧治，遷延難愈。神不守舍，言語無論，病似邪也，若以邪治，危亡可待。去血多而大便燥熱，肉蓯蓉加於生化，非潤腸承氣之能通。患汗多而小便短澀，六君子倍加參、　，必生津而津可利。加人參生化頻服，能救產後之危，長生活命，屢用可蘇絕穀之人，　疝脫肛，多是氣虛下陷，補中益氣之方。口噤拳攣，乃因血燥類風，加參生化之劑。產戶入風而痛甚，宜服羌活養榮。產門傷冷而不閉，五味倍參生化。怔忡驚悸，生化合定志。似邪恍惚，安神助脾歸脾。因氣而滿悶虛煩，生化東加木香為佐。因食而噯酸惡食，六君子入神麯為良。蘇木、蓬、棱大能破血，青皮、枳殼散脹消滿。一應耗氣破血之劑，汗吐攻下之方，止可施於少壯，豈宜用於胎產。大抵新產之後，須問惡露如何。若塊痛未消，未可遂加　朮。腹中痛止，補中益氣無疑。</p>
<p>至若亡陽脫肛，氣虛喘促，頻進加參生化，是從權也。又有陰亡大熱，血崩厥暈，速進生化原方，乃急救也。凡附生死之奇術，須因病以用藥。欲俯仰之無愧，用存心以愛物。茲雖未盡產症之詳，皆援近治之驗為拘，未必無小補云。</p>
<h4>產後脈辨</h4>
<p>叔和曰：產後寸口洪疾不調者，死；沉微附骨不絕者，生。又曰：沉小滑者生；實大緊弦急者死。</p>
<p>朱丹溪曰：胎前脈宜洪數，既產而脈仍洪數者，死。又曰：胎前脈細小，產後脈洪大多死。</p>
<h4>產後之脈貴虛</h4>
<p>《濟生產經》曰：胎前之病，其脈貴實；產後之病，其脈貴虛。胎前則順氣安胎；產後則扶虛消瘀。此其要也。</p>
<h4>產脈辨生死之法</h4>
<p>《脈要》曰：欲產之脈，必見離經，或沉細而滑，夜半覺痛，來朝日中必娩。新產脈緩滑為吉，若實大弦急，近乎無胃，凶危之候。或寸口疾滑不調，惡症立見。惟宜沉細，附骨不絕，雖劇無恙。</p>
<h2>卷四</h2>
<h3>產後諸症</h3>
<p>（新產危急醫方　產後五急症醫方　新產十九危症醫方）</p>
<h4>新產危急醫方</h4>
<p><u>加參生化湯</u></p>
<p>　治產後危急諸症。此方雖有血塊可服。</p>
<p>當歸（四錢）　川芎（二錢）　乾薑（四分）　桃仁（十粒，去皮尖，研）　炙甘草（五分）　人參（二三錢）</p>
<p>隨症緩急。如危症，參加五六錢。分娩兒下，血崩暈去形脫，宜服此方。</p>
<p>原方加減法，娩兒下汗多倦甚，加參三四錢；娩兒下無力送胞，倦怠，宜服此方；胎前患瀉、產後倦怠，宜服此方，加參三四錢；汗多，加麻黃根一錢，黃　一錢，防風五分；足厥冷，加人參四五錢，附子四分；氣短促，加人參四錢；渴，加麥冬一錢，五味子十粒；大便實，加肉蓯蓉一錢；煩渴，加竹肉一丸；寒渴，加杏仁十粒，桔梗五分；痰，加天花粉八分，竹瀝半盅，薑汁少許。</p>
<p>凡產後血塊痛，生化湯為主。血塊痛散（散，痛止也），加參生化湯為主。</p>
<h4>產後五急症醫方</h4>
<p><u>倍參生化湯</u></p>
<p>　治產後五急症，視症加減用之。</p>
<p>當歸（五錢）　川芎（二錢）　炮薑（四分）　桃仁（十粒）　人參（三四錢）　炙甘草（四分）</p>
<p>棗引。</p>
<p>一、娩兒下即昏暈形色脫，倍參生化東加荊芥五分，參倍至五六錢。</p>
<p>二、產後勞倦形色脫，倍參生化湯，參加至四五錢，黃　一錢，熟地二錢。如血塊痛，二味切不可用，加熟附四分。</p>
<p>三、產後血崩形色脫，倍參生化湯，參加至五錢，荊芥穗四分，炒。如血塊散，可服</p>
<p><u>升舉止血復神湯</u>。</p>
<p>白朮（二錢）　當歸（二錢）　熟地（二錢）　人參（四錢）　黃　（一錢）　黃連（七分）　炙甘草（四分）　升麻（四分）　陳皮（四分）　白芷（四分）　荊芥穗（四分）　附子（三分）</p>
<p>棗引，水煎。</p>
<p>四、產後汗多形色脫，倍參生化湯，減炮薑，加麻黃根一錢，棗仁一錢，黃　一錢，熟地三錢，浮小麥十五粒，防風五分。塊痛未消，切不可用地、　、朮三味。</p>
<p>五、產後氣短似喘，倍參生化東加人參三錢，磨沉香二分，陳皮三分，香附三分。</p>
<p>以上五症，兼見雜症，照後加減治法，須以倍參生化湯為主。渴，加麥冬一錢，五味五粒；驚悸，加棗仁三錢，益智一錢；瀉，加白茯苓一錢，澤瀉八分；大便燥，加肉蓯蓉一錢五分；傷飯面，加炒神麯八分；傷肉，加砂仁五分，山楂五粒；小便不禁，加益智六分；寒嗽，加杏仁十粒，桂枝五分；痰，加天花粉八分，橘紅一錢；虛嗽，加天冬一錢五分，蔞仁八分；氣虛瘦，加竹瀝半盅，薑汁少許；食少，加白朮二錢。</p>
<h4>新產十九危症醫方</h4>
<p><u>加參生化湯</u></p>
<p>　照後諸症加減法治之。</p>
<p>川芎（一錢五分）　當歸（三錢）　乾薑（五分）　甘草（五分）　桃仁（五分）　加人參（二三錢）</p>
<p>一、產後勞倦傷脾，不理穀食。</p>
<p>加參生化東加白朮三錢。血塊未清，不可妄用。陳皮四分，升麻四分，棗引，水煎。</p>
<p>二、產後頭痛身熱，自汗倦怠。</p>
<p>加參生化東加黃　一錢，麻黃根一錢，地骨皮一錢，白芷四分，防風四分，羌活四分三、產後感寒，身熱頭痛，嗽聲重，有痰有汗。</p>
<p>加參生化湯，兼雜症照後開加減治之。嗽，加麥冬一錢，杏仁一錢，花粉一錢，桔梗三分：汗，加麻黃根一錢，地骨皮一錢：如頭痛甚，加連須蔥頭三個。</p>
<p>四、產後先寒後熱，或潮熱夜熱，每日夜時而發，類瘧疾有汗。</p>
<p>加參生化東加軟柴胡八分，青皮三分，烏梅二個。汗多，加麻黃根一錢；汗多不至足，加熟地二錢；食少，加黃　一錢五分，白朮一錢五分，陳皮四分。慎不可用常山飲、四獸飲、青皮飲、萬安甲子飲。</p>
<p>五、產後妄言妄見。</p>
<p>加參生化東加棗仁一錢，茯苓一錢，柏子仁一錢，橘紅四分，　遠志肉一錢，麥冬五分。</p>
<p>六、產後足冷發厥，一日三四次。</p>
<p>加參生化東加白朮二錢，熟地一錢，熟附四分。</p>
<p>七、產後身熱有汗，大便不通。</p>
<p>加參生化東加麻黃根一錢，麻仁二錢，地骨皮二錢，肉蓯蓉二錢。慎不可用大黃方。</p>
<p>八、產後身熱有汗，脅痛，或潮熱。</p>
<p>加參生化東加麻黃根一錢，桂枝七分，黃　一錢，柴胡七分。臍下痛可按止，加熟地二錢。慎勿用小柴胡湯。</p>
<p>九、產後有汗，大便不通，潮熱，睡中妄言。</p>
<p>加參生化東加麻黃根一錢，棗仁八分，地骨皮八分。</p>
<p>十、產後有汗，小便多。</p>
<p>加參生化東加麻黃根、麥冬、五味、葛根、黃　。</p>
<p>十一、產後有汗，泄瀉。</p>
<p>加參生化東加麻黃根，肉果一個，面裹去油，石蓮子十個。</p>
<p>十二、產後有汗，泄瀉危困。</p>
<p>宜服丹溪醫案</p>
<p><u>大補方</u></p>
<p>人參（三錢）　白朮（五錢）　川芎（一錢）　當歸（三錢）　芍藥（一錢）　茯苓（一錢）　澤瀉（八分）　厚朴（五分）　陳皮（四分）　紫蘇（五分）　腹皮（六分）　蘿卜子（六分）　木香（七分）</p>
<p>十三、產後大便不通，誤食大黃方，成膨脹，宜服丹溪醫案補方。</p>
<p>十四、產後傷寒，誤食耗藥，成膨脹，宜服丹溪醫案補方。</p>
<p>十五、產後忿怒，誤食耗氣方，宜服丹溪醫案補方。</p>
<p>治產後誤下、誤消、誤耗三症：人參（三錢）　白朮（三錢）　川芎（一錢）　芍藥（一錢）　茯苓（一錢）　當歸（三錢）　澤瀉（八分）　厚朴（五分）　紫蘇（五分）　陳皮（五分）　木香（三分）　腹皮（六分）　蘿卜子（六分，炒）</p>
<p>傷飯面，加神麯、麥芽；傷肉，加砂仁、山楂；傷怒氣，加磨木香。</p>
<p>大抵產後虛弱誤下、誤消、誤耗，犯虛虛之戒，丹溪大補氣血方，屢試屢驗。胎前臌脹亦可奇效。</p>
<p>十六、產後傷食痛，或脅痛，誤服消導藥方，多絕穀食。</p>
<p>獨參（三錢）　薑（一片）</p>
<p>水煎，調飯鍋焦，漸漸引開胃氣。（此名長生活命飲）</p>
<p>十七、產後血崩，日久不止。</p>
<p>宜</p>
<p><u>升舉大補湯</u></p>
<p>白朮（二錢）　當歸（二錢）　懷生地（二錢，蒸）　人參（二錢）　荊芥（五分）　陳皮（四分）</p>
<p>甘草（四分）　黃柏（三錢）　川芎（一錢）　黃　（一錢）　麥冬（一錢）　黃連（三錢）　防風（五分）</p>
<p>羌活（五分）　升麻（五分）　白芷（五分）</p>
<p>水煎。</p>
<p>十八、產後子宮不收，產戶不閉，脫症。</p>
<p>並宜服倍參生化湯。</p>
<p>十九、產後神昏形脫有汗。</p>
<p>宜服倍參生化湯，內減乾薑。忌蔥、薑。</p>
<p>以上十九危症，並補氣血為主。問無血塊痛、惡血清楚，方可服。若惡血塊痛，切不可用地、、朮等補味，慎之!慎之!其骨皮、柴胡、芍藥、黃柏、黃連、生地，皆寒涼凝血之物，必須去產日久，問無塊痛，方可服。</p>
<h2>卷五</h2>
<h3>產後禁忌藥物</h3>
<p>（產婦禁用諸藥　產後忌食諸物　鄉俗產後十弊　產後用藥十誤）</p>
<h4>產婦禁用諸藥</h4>
<p>一、產婦氣不順，禁用枳殼、厚朴等耗藥。</p>
<p>二、產後傷飲食，禁用枳實、大黃、蓬、棱。</p>
<p>三、產後身熱，禁用芩、連、梔、柏。</p>
<p>四、產後七日內，禁用地黃、芍藥。</p>
<p>五、產後血塊痛，禁用牛膝、蓬、棱、蘇木。</p>
<p>六、產後大便不通，禁用大黃、芒硝。</p>
<p>七、不可服濟坤丹，要損血氣。</p>
<p>八、不可服瘦胎丸，要傷胎。</p>
<p>九、不可用《產寶》峻藥方。</p>
<h4>產後忌食諸物</h4>
<p>一、果忌梨、藕、橘、柑、柿、西瓜，要停血作痛。</p>
<p>二、食忌冷粉、綠豆、冷飯、蕎麥，要停血作痛。</p>
<p>三、忌鵝、犬、豬、牛首肉，恐犯諸藥，又恐停血塊作痛。</p>
<p>四、忌莧菜、生菜、苔菜，停血痛。</p>
<p>五、忌沙糖酒，要損新血。</p>
<p>六、忌獨煎山楂湯，損新血。</p>
<p>七、忌多食胡椒、艾、酒，行血致崩。</p>
<p>八、忌生薑酒，寧波俗弊，發汗行血。</p>
<p>九、忌濃茶汁，寒停血塊痛。</p>
<h4>鄉俗產後十弊</h4>
<p>一、產畢毋令食牛、羊、豬、鵝肉、雞子、面物，虛人難消化。</p>
<p>二、毋食涼粉、綠豆、粥澉汁、蕎麥面。</p>
<p>三、毋多食胡椒、艾、酒，血塊雖得熱流通，新血亦不寧，防崩漏。</p>
<p>四、產後寧波俗弊，多用薑數斤以消血塊，發熱亡血致危。</p>
<p>五、產後毋食梨、橘、柑、藕，冷菜，及冷藥、冷水，致血塊凝結。</p>
<p>六、毋食橙、丁、橘、干、枳朮、香砂等丸，重損新血。</p>
<p>七、七日內，毋勞洗以勞神，毋勉強早起，以冒風寒。</p>
<p>八、產後月之內，毋多言、勞女工。</p>
<p>九、產後暑月，毋用冷水洗手足。</p>
<p>十、產後遇大寒月，用小衣烘熱，常溫腹內，冷則塊痛久，雖藥不行。</p>
<h4>產後用藥十誤</h4>
<p>一、產後誤用耗氣順氣等藥。胸膈飽悶，雖陳皮不可用至五分。</p>
<p>二、誤用消食藥，多損胃減飯，甚至不進食，且凝血塊。</p>
<p>三、身熱，誤用芩、連、梔、柏，損胃增熱，甚至不進食，且凝血塊。</p>
<p>四、三日內未服生化湯以消血塊，毋輕用人參、　、朮、熟地，致塊不消，至危亡。</p>
<p>五、毋用地黃，以滯惡露。毋獨用枳實、枳殼、牛膝以消塊。</p>
<p>六、毋用大黃、芒硝以通大便，致泄瀉成臌脹。</p>
<p>七、毋用蘇木、三棱、蓬朮、牛膝以行血塊，致損新血。</p>
<p>八、俗多用山楂一味煎汁，以攻血塊，成危疾而死人，不可不知也。</p>
<p>九、毋服濟地丹兩三丸，下胞下胎。</p>
<p>十、毋信《產寶百問》及《婦人良方》。</p>
<h2>卷六</h2>
<h3>產後二十九症醫方</h3>
<h4>一、產後血塊痛</h4>
<p>宜服生化湯，照前開法分兩，頻服幾帖，即時塊散痛止，血旺精神，雖少壯產婦無病，多服幾帖，補血有益。其產母腹上，用烘衣服暖和，血塊易散，雖暑月亦用。益母丸一顆，鹿角灰一錢，失笑散三方，可用一方以行塊，不可用蘇木、蓬、棱峻藥。雖山楂，弱人服之亦有大害。</p>
<h4>二、產後去血多，或勞倦昏暗血暈</h4>
<p>宜服生化湯數帖，服至產婦有精神，止藥。如血暈形色脫或汗多，加人參三四錢在生化湯內，慎不可論惡血搶心，妄投破血藥害人。</p>
<h4>三、胞衣不下</h4>
<p>宜服生化湯，溫服幾帖，初煎就送益母丸一粒，次煎又送。外用烘熱衣服暖產婦腹。慎不可冬月坐夜桶及人身上，守候下胞，嚴寒多損產婦。必用扶上床被蓋，火籠溫和，兼服生化湯助血得無失。</p>
<h4>四、產後頭痛身熱惡寒</h4>
<p>雖明知感冒風寒，只宜服生化湯，連進二三帖，服至熱退痛除止藥，且不可預加別藥。</p>
<p>其川芎、乾薑性亦散邪，慎不可用麻黃、柴胡等方，以表汗虛產。如服三四帖後，頭痛如故，加連須蔥頭四五個，或用蔥放鯗魚湯內送飯。</p>
<h4>五、產後乍寒乍熱，脅痛或頸痛</h4>
<p>宜服生化湯二三帖。如未除，再加桂枝七八分以散寒，磨木香一分，切不可認為脅痛傷寒，用柴胡湯表汗虛產。</p>
<h4>六、產婦感寒，上攻則心痛，下攻則腹痛，且血塊又痛</h4>
<p>宜服生化湯，加桂枝五分以散寒定痛。如兩帖未止，再加吳茱萸；或乾薑三片，加在生化湯內以助血。若獨用諸熱藥以攻寒，其痛雖止，其血未免來多，防有崩暈之患。慎不可用吐、汗諸熱性藥以虛產。</p>
<h4>七、產後身熱或夜間熱或寒熱往來</h4>
<p>並不須加減，只宜服生化湯以除熱定痛。此重言產後不可汗，總結上三症。</p>
<h4>八、產後寒熱往來，每日應期發作類瘧</h4>
<p>宜服生化湯幾帖，則寒熱自除。如汗多人虛，服卷中補方。慎不可用常山、草果等方以止瘧虛產。</p>
<h4>九、產後感寒心下痞滿</h4>
<p>宜服生化湯，加陳皮五分，桔梗五分，白豆蔻五分，磨木香一分。慎不可專用陳皮、桔梗、豆蔻以虛產。</p>
<h4>十、產後感風寒咳嗽或身熱</h4>
<p>宜服生化湯，加杏仁十粒，知母一錢，天冬一錢，甘草四分，桔梗五分。有痰，加橘紅四分，花粉八分。如有汗，服卷中補方，不可用散風寒藥方。</p>
<h4>十一、產後傷食</h4>
<p>宜服生化湯，加炒神麯一錢，麥芽五分，以消面飯；加山楂四粒；砂仁五分，以消肉食。如傷寒飯食，加吳茱萸一錢，桂枝五分；傷寒食脅痛，加肉桂七分。切不可專用消食藥，以損氣血虛產。</p>
<h4>十二、產後忿怒心胸滿悶</h4>
<p>宜服生化湯，加磨木香二分，入藥內服。不可用烏藥、香附、砂仁、枳殼、枳實、厚朴等，以損元氣。</p>
<h4>十三、產後大便日久不通</h4>
<p>宜服生化湯，加肉蓯蓉二錢，日服兩三帖，助血旺自通。另研芝麻三合，和米一升作粥，三四次食之。慎不可用大黃等方，結燥日久，多用大黃成臌脹，戒之。</p>
<h4>十四、產後去血多或汗多，小便澀少或不通</h4>
<p>宜服生化東加生脈散，人參、麥冬以通之，切不可用五苓散以行小便。如服藥不通，外用蔥熨法，用蔥頭十個，綿縛，切如指濃，放臍上，以艾火熨之。</p>
<h4>十五、產後泄瀉</h4>
<p>先服生化湯，加茯苓一錢，澤瀉七分，石蓮子六個。另用糯米一合，煮粥食之。如泄瀉形脫昏倦，加參生化湯治之。</p>
<h4>十六、產婦</h4>
<p>（原本佚）</p>
<h4>十七、產婦心神失守，妄言妄見，似邪，失血之故</h4>
<p>宜生化東加茯神一錢，棗仁一錢，柏子仁一錢，遠志一錢。慎不可為痰火，降散虛產，符尺驚產。如虛汗脫，服卷中補方。</p>
<h4>十八、產婦足冷發厥，血塊又痛</h4>
<p>宜服生化湯，加乾薑二三帖，後用卷中補方，慎不可輕用四逆等湯。</p>
<h4>十九、產婦痢不分紅白</h4>
<p>產痢不分紅白，宜服生化湯減乾薑，加木香三分，連服兩三帖，則血塊與痢積推蕩盡矣，又不損產婦血氣。切不可用芩、連寒藥，以停血塊。</p>
<h4>二十、產後血脫大崩</h4>
<p>宜頻服生化湯，加荊芥一錢。如形色脫，服卷中補方。</p>
<h4>二十一、產後霍亂吐痢</h4>
<p>多自虛中感寒，宜服生化東加砂仁、生薑、茯苓、藿香，或六和湯。</p>
<h4>二十二、產後遍身痛</h4>
<p>多自血虛氣滯，服生化東加韭白二十根，肉桂八分。</p>
<h4>二十三、產後起居太早，產戶感風寒作痛衣被等亦難近身體</h4>
<p>宜服生化東加桂枝、獨活、防風，以散風寒。</p>
<p>產戶感風，如生癰毒，時醫皆言生癰毒。惟一僧言：產七日內，起居風入產戶，風性熱，即痛甚，祛風可愈。予羨其明見，不隱其方，勿誤生癰疽而服敗毒散，服當用</p>
<p><u>祛風定痛散</u>。</p>
<p>當歸（三錢）　獨活　防風　肉桂（各五分）　川芎（一錢）　茯苓（一錢）　荊芥（五分）　生地（二錢）　棗（五個）</p>
<h4>二十四、產後發癰疽</h4>
<p>宜生化東加連翹、花粉各一錢，甘草節八分。如心下惡心、煩悶，用滴乳香一錢，綠豆粉五錢，和服。切不可用敗毒散、大黃等方。</p>
<h4>二十五、產婦四肢麻木</h4>
<p>血虛甚，宜服生化東加浮萍；如血脫崩麻木宜服卷中補方。</p>
<h4>二十六、產後目痛，昏熱赤腫</h4>
<p>宜生化東加荊芥，切不可用洗心散，芩、連、梔、柏等方。</p>
<h4>二十七、產後因怒，或偶吐血</h4>
<p>宜生化湯減川芎，用當歸二錢、去尾，荊芥八分，犀角末八分。慎不可用生地、黃柏等涼藥方。</p>
<h4>二十八、產後卒然口噤牙顫，手足抽搐類中風</h4>
<p>宜生化東加天麻、羌活、防風，薑引。</p>
<h4>二十九、產後煩躁口渴</h4>
<p>宜服生化湯及生脈散。</p>
<h2>卷七（上）</h2>
<h3>產後論解三十二症醫方</h3>
<p><u>生化湯</u></p>
<p>　凡孕至七個月，照方預買川芎二兩，當歸五兩，桃仁五錢，炙甘草五錢，乾薑五錢。就制下，至胞衣一破，速煎一帖，候兒生下，即服。不問正產半產，俱宜服兩帖，消塊生血。每帖川芎三錢，當歸八錢，甘草五分，乾薑四分，桃仁十粒（去皮尖，炒）。水二盅，煎七分，加酒六七匙，稍熱服，渣留後帖，並煎兩帖，共三煎，要在一時辰內未進食之先，繼相頻服，則下焦血塊速化，新血驟長，自無暈厥。且產婦多服一帖，漸增精神，不厭藥之頻也。若照常症一日服一帖，豈能挽回將絕之氣血也?若胎前素弱虛人，一見危症墮胎，要不拘帖數，服至病退止藥。若產婦勞甚，血崩形色脫，加人參三四錢在內，頻灌無虞。若汗多氣促，亦加人參三、四錢在生化湯內，血塊無滯。</p>
<h4>一、論血塊</h4>
<p>婦人病倍於男子，因產之症偏多也。夫產後血塊，醫家所當先論，毋視為輕而忽之也。</p>
<p>因古</p>
<p>《局方》偏用蘇木、蓬、棱，峻攻塊痛，反損破新血，而重虛產婦，俾後學世相授受，信用誤人，不知幾千年矣。無異於刃之殺人也，故特書列首章，普告事產者，勿視血塊症輕，而妄用蘇木、蓬、棱，以輕人命也。一應散血方、破血藥，雖山楂性緩，不可單用，俱害人性命者也。</p>
<p>生化湯治血塊，娩後化舊生新之聖藥也。又加益母丸，鹿角灰，就用生化湯送一錢。外用烘熱衣服暖和塊痛處，雖暑月亦要和暖。大抵產婦勞傷氣血，並虛娩子後，無力送胞送塊，留滯腹中作痛，甚有氣不運而昏迷暈厥，切不可妄論惡血搶心，妄用蘇木等散血之劑以殺人也。只頻服生化湯幾帖，即時塊消痛止，神清氣復而頓爽，舒暢平安矣。行血如生地、牛膝。</p>
<p>敗血如三棱、蓬朮，俗用山楂、沙糖消塊，薑、椒、艾、酒定痛，多致淋、崩、昏暈等症。</p>
<h4>二、論血暈</h4>
<p>凡分娩之後，眼見黑花，頭眩昏暈，不知人事，謂之血暈。其因有三：一因勞倦甚而氣竭神昏；二因血大脫而氣欲絕；三因痰火乘虛泛上，而神不清，患此三者，皆魂不隨神，往來機運而幾息也。當急服預煎下生化湯，以行塊定痛，化舊生新，即時血生氣轉，神漸清而心有主，頻服二三帖完，其昏亂即定，乃芎歸性有化生之功也。若偏信古方，認暈症為惡血搶上迷心，而輕用散血之劑，認謂痰火，而治以降火清涼之方，誤之甚也。外以醋韭沖鼻之法，燒漆之方，亦不可緩。醫者不可妄論惡血上搶心，而用蘇木等以峻攻新血，又不可信用古方，用牡丹奪命之方以敗血，而反損人之命也。再叮嚀臨產之際，必用預煎生化湯，預燒硬石子秤錘，候兒下地，連服兩三帖，藥共三煎。又產婦枕邊用醋韭投錘子瓶之法，決無暈症。</p>
<p>又兒生下時，舉家不可喜子慢母，產母亦不可顧子忘倦。又不可產訖即臥，或忿怒氣逆，皆要血逆致暈，至囑，附方於後。</p>
<p><u>加減生化湯</u></p>
<p>　治產後三等血暈。</p>
<p>川芎（三錢）　當歸（六錢）　乾薑（四分）　桃仁（十粒）　炙甘草（五分）　荊芥（五分）</p>
<p>棗引，水煎。</p>
<p>加減法　勞倦昏而甚，及血崩、氣血脫而暈，並宜速灌生化湯兩帖。如形色脫，或汗多而脫，皆用急服一帖，後即加人參三四錢，肉桂四分，決不可疑參為補而緩服。又痰火乘虛泛上而暈，方內加橘紅四分，虛甚亦可加參二錢，肥人多痰，再加竹瀝七分酒盞，薑汁少許。以上三等暈症，並不可用蘇木破血等藥，其血塊痛甚，兼送益母一法，或送鹿灰，或元胡索，或用獨行散。以上消塊方，服一方見效，不須易方。</p>
<p>從權救急</p>
<p><u>加參生化湯</u></p>
<p>　治產後形色脫暈，或汗脫暈。</p>
<p>川芎（二錢）　當歸（四錢）　乾薑（四分）　桃仁（十粒）　炙甘草（四分）　人參（三錢）</p>
<p>水煎服。</p>
<p>血塊痛甚，加肉桂七分。渴，加麥冬一錢，五味子十粒。汗多，加麻黃根一錢。如塊不痛，加黃　一錢以止汗。傷飯面，加炒神麯八分，麥芽五分。傷肉，加山楂五分，砂仁四分。人參補而行，　朮補而不行，故產後七日，血塊未除，寧用人參，不可用　、朮、地。予見庸醫用此，致心腹痛而斃。</p>
<h4>三、論產後厥症</h4>
<p>凡產用力過多，勞倦傷脾，孤臟不能注於四旁，故足冷而厥氣上行焉。經云：陽氣衰於下，則為寒厥是也。非急方不能舉氣以歸源，非大補不能回陽而復神，豈錢數歸參，照常症一日一帖，所能扶救將絕之氣血耶?必用加參生化湯，倍參連服兩帖，斯氣血旺而神復，厥自止矣。若服藥而有渴，另用生脈散，多參以代茶，助津以救臟燥也，此經驗之確論，毋得有議焉。雖又有四肢逆冷瀉痢，症類傷寒陰症，又難用四逆湯，亦必用倍參生化湯，佐以炙薑，或附子一片，則可回陽止逆，又可以行參、歸之功矣。經云：脾，孤臟也，四旁，心、肝、肺、腎也。又云：身體勞苦傷於脾。又云：厥氣上行，滿脈去形。立二方分先後：</p>
<p><u>加參生化湯</u></p>
<p>　治新產發厥，塊痛未止，不可加　朮。</p>
<p>川芎（二錢）　當歸（四錢）　乾薑（四分）　甘草（四分）　人參（二錢）　桃仁（十二粒）</p>
<p>水煎，連服二帖。</p>
<p><u>滋榮益氣復神湯</u></p>
<p>　治產後發厥，問無塊痛，可服此方。</p>
<p>川芎（一錢）　白朮（一錢）　黃　（一錢）　人參（三錢）　當歸（三錢）　懷熟地（二錢）　炙甘（四分）　麥冬（一錢）　五味子（十粒）　陳皮（四分）　附子（五分）</p>
<p>水煎。</p>
<p>汗多加麻黃根一錢，棗仁一錢。大便不通，加肉蓯蓉二錢。</p>
<p>大抵產後暈厥，二症相類，皆氣血並竭，神將去而機幾息，僅有一絲之生意耳，若非急方急服，豈能挽回將絕之元氣耶。但暈在臨盆，急症尤甚，子厥宜並灌生化湯幾帖，先補氣血之虧，即時塊化血旺，而神清暈止，產婦有精神矣。若無汗脫、形脫、氣促症見，參　不須加也。厥症在分娩之後，氣血兩竭，宜用倍參生化湯，並補氣血之虧，止厥以復神焉。又非偏補血分可治愈，要知暈有塊痛，　朮未可遂加。厥證問無塊痛，　、朮、地黃並用，無疑也。</p>
<h4>四、產後血崩</h4>
<p>產後血大來，宜審血色之紅紫，視形色之虛實。如血多色紫有塊，乃當去之敗血也。若止留反作痛，不可論崩，如鮮紅之血大來，乃是驚傷心不能主，怒傷肝不能藏，勞傷脾不能統血歸經耳。當以崩論，先服生化湯幾帖，則行中有補，而血寧生旺矣。若崩形脫，或有汗，或氣促，宜倍參生化湯以益氣，斯陽生而陰血生旺矣，非棕灰之可止者。如產半月後崩，又宜升舉大補湯治之。（方載八卷中。）</p>
<p><u>生化止崩湯</u></p>
<p>　治產後血崩。</p>
<p>川芎（一錢）　當歸（二錢，去尾）　乾薑（四分）　炙甘草（五分）　桃仁（十粒）　荊芥（五分，炒）</p>
<p>棗引，水煎。</p>
<p>忌薑、椒、熱物、生冷。</p>
<p>鮮紅血大來，加荊芥穗一錢、炒，白芷五分。血塊不痛，形脫，加人參三錢。汗多氣促，加人參三四錢。無汗，形不脫，氣不促，只多服生化湯，則血自寧，勿言芎歸活血助崩，誤矣。</p>
<p><u>滋榮益氣止崩湯</u></p>
<p>川芎（一錢）　麥冬（一錢）　黃　（一錢）　人參（一錢）　白朮（二錢）　熟地（二錢）　當歸（二錢）　白芷（四分）　荊芥穗（四分）　陳皮（四分）　甘草（四分）　升麻（四分）　黃連（三分）</p>
<p>棗引，水煎。</p>
<p>汗多，加麻黃根一錢，浮小麥一撮。大便不通。加肉蓯蓉一錢。有熱，加磨木香一分。</p>
<p>痰，加貝母六分，竹瀝薑汁。寒嗽加杏仁一錢，桔梗一錢，知母一錢。驚悸，加棗仁一錢，柏子仁一錢。傷飯面，加神麯一錢，麥芽一錢。傷肉，加山楂一錢，砂仁八分。自熱不可用芩、連、柏。大便不通禁大黃。傷食怒氣，不可單用消耗無補藥。凡年老虛人患崩，宜用升舉大補湯。（方詳八卷中。）</p>
<h4>五、產後氣短似喘</h4>
<p>產後陰血暴竭，陽氣無所依，獨侵於肺，故喘也。此為孤陽絕陰。最為難治。</p>
<p>凡產後血脫，勞傷之甚，氣短似喘，無所倚恃，而呼吸息止違常矣。世有妄論痰火，用散氣化痰之方，誤人致夭多矣。夫肺受脾稟，運氣生脈，通水道，順呼吸，清肅上下，調和榮衛，而為平人之常氣也。值產血亡氣脫，呼吸短促，言語不相接續，似喘危症，不待診問自明，不待智者而後知也。</p>
<p><u>加減生化湯</u></p>
<p>　治分娩兒下，即患氣短症。有血塊，不加　、朮。</p>
<p>川芎（二錢）　當歸（四錢）　炙草（五分）　乾薑（四分）　桃仁（十粒）　人參（二錢）</p>
<p>棗引，水煎，連服二三帖，然後可服續氣養榮湯。</p>
<p><u>續氣回陽湯</u></p>
<p>　治產後氣短促，問無血塊痛，宜服此方。</p>
<p>川芎（二錢）　當歸（四錢）　炙草（四分）　人參（三錢）　黃　（一錢）　白朮（二錢）　陳皮（四分）　熟地（二錢）</p>
<p>如足冷，加熟附五分。汗多，加麻黃根一錢，浮小麥一撮。渴，加麥冬一錢，五味子十粒。</p>
<p>大便不通，加肉蓯蓉一錢，麻仁一撮。傷飯面，加神麯一錢，麥芽五分。傷肉，加山楂五粒，砂仁五分。又服滋榮益氣復神湯。（方詳八卷中。）</p>
<h4>六、產後妄言妄見</h4>
<p>凡產後妄言妄見，由氣血虛而神魂無倚也。夫心藏神主血，而言乃心之聲也，心有血而神存，則言不妄發。又肝藏血而藏魂，而目乃肝之竅也，目得血而司視，則瞳　視正。若夫產後血氣暴竭，致心神失守，言語無倫，肝魂無倚，則瞳　妄見。況心為一身之主，目為百脈之宗，虛症見於心目，則十二官各失其職矣。是以視聽言動，皆由虛妄，治法當論產期，塊痛有無緩急。若娩兒之後，塊痛未除，先服生化湯三帖，以化塊定痛。服藥痛止，即繼服加參生化湯；或補中益氣湯，加安神定志湯丸調治之也。若產日久，形氣血氣俱不足，即當大補為主，生養氣血，安神定志，服至藥力充足，其病全愈。病家毋救速效，醫家毋論邪祟，若噴以法水，驚以法尺，多致不救。屢治此病，服藥十數帖方效。一婦妄言妄見，服補劑十五帖方見效。丹溪云：虛病猶似邪祟也。又云：欲泄其邪，先補其虛，先調其氣，次論諸疾。</p>
<p>此古人治虛弱人，有挾外因內之確論，但人不能體認其議用藥，反言攻補難同於方，愚人必攻邪盡，方可用補，病家不信難補，此醫家治產後虛症，及年老人虛喘，弱人妄言，三症所當用心也。</p>
<p><u>寧神生化湯</u></p>
<p>　治產後血塊痛未止，患妄言症，未可加　、朮。</p>
<p>川芎（一錢）　當歸（三錢）　炮薑（四分）　炙草（四分）　桃仁（十二粒）　茯神（一錢）　人參（二錢）　益智仁（一錢，炒）　柏子仁（一錢）　陳皮（三分）</p>
<p>棗引，水煎服。</p>
<p><u>滋榮益氣復神湯</u></p>
<p>　治產後塊痛止，可服此方。</p>
<p>川芎（一錢）　當歸（二錢）　熟地（二錢）　炙甘（四分）　黃　（一錢）　白朮（一錢）　人參（二錢）　茯神（一錢）　棗仁（二錢）　柏子仁（一錢）　益智（一錢，炒）　陳皮（三分）　麥冬（一錢）五味子（十粒）　蓮子（八個）　龍眼肉（八個）</p>
<p>棗引。</p>
<p>大抵產後患崩，曰血脫。短氣似喘，曰氣脫。妄言妄見，曰神脫。三症雖有陰血氣陽之分，其精散神去之促，無異前暈症，治若少緩，亦危症也。若非濃藥急方頻服，失之夭者多矣。</p>
<p>誤論氣實痰火皆非也。若新產有塊痛，並用加參生化湯，行中有補，斯免滯血，血虛之失也。其塊痛止，宜升舉大補方，少佐以黃連，墮火以治崩脫，寧血歸經也。用倍參補中益氣湯，少佐以附子，助參以治氣脫，攝氣歸元也。宜滋榮益氣復神湯，少佐痰劑以清心火，治神脫，寧君主之官也。余因人妄論氣脫、妄言等症，誤用氣實痰方藥，屢夭人年，重復錄告，凡遇氣胎痰重之症，必當補救，切不可用消散，誤人以受夭殃。</p>
<h4>七、產後傷食</h4>
<p>凡產形體勞倦，脾胃俱傷，胃受食傷，不受穀味。是以新產之後，禁膏粱，遠濃味，食粥茹蔬，乃切務也。不善調攝之家，惟慮產婦之虛，以多食有益，濃味為補本，不思食而強與饜足，胃受食傷，不受穀食，脾轉輸遲，食停痞塞，噯酸惡食。治當扶元為主，溫補氣血，健助脾胃，養正兼消，審傷何物，佐以消導。斯脾氣復而轉輸散精，滯物行而胃始思穀。夫飲食者，元氣之滋味，而產後尤借此以補助也。因勞倦傷脾，不勝甘飫，薄味漸進，運化亦速，再兼服溫補之劑，佐以神麯、麥芽，消面飯之傷；山楂、砂仁，消肉食之傷；如傷寒冷之物，吳茱萸、桂枝亦當加也。如此補消並治，無有不安，屢見治重產虛弱，惟知速消傷物，反損真氣，益增滿悶，一帖不效，又加峻藥，一醫無功，又更一醫，先後方類，輕症增重，致使少食思穀之人反虛，虛而絕不思穀者，十常八九，病家自歸數命，醫家以為盡技，惜哉。</p>
<p><u>加味生化湯</u></p>
<p>　治產後血塊未消，服此消食。</p>
<p>川芎（二錢）　當歸（五錢）　乾薑（四分）　炙甘草（五分）　桃仁（十粒）</p>
<p>傷面飯，加神麯一錢，麥芽一錢、炒。傷肉，加山楂五粒，砂仁五分。傷寒物脅痛，加吳茱萸一錢，肉桂五分。虛甚，加人參二錢，二服。</p>
<p><u>健脾消食生化湯</u></p>
<p>　治產後血塊痛除，服此方以消食。</p>
<p>川芎（一錢）　當歸（三錢）　炙甘（五分）　人參（二錢）　白朮（一錢五分）　神麯（一錢）</p>
<p>麥芽（五分）</p>
<p>傷肉，加山楂五粒，砂仁六分。傷食，不用白朮用參。如停寒日久，脾胃虛弱，雖藥不運，宜揉按，炒面熨之。</p>
<p><u>長生活命丹</u></p>
<p>　治傷食人誤服消導藥多，絕粥幾日者，宜服此方。雜症誤消耗，絕食亦神效。</p>
<p>人參（二錢）</p>
<p>水盅半，煎至半盅之數，先用一酒盞之則，送飯鍋焦研粉三匙，漸漸加參湯，鍋焦引開胃氣，煎參湯須用新罐，或銅勺，恐聞藥氣要嘔，觀醫案信方不誣，人參名長生草，飯鍋焦名活命丹，此方曾活數千命，經驗極多，故有至三至再之囑耳。</p>
<h4>八、產後忿怒</h4>
<p>凡產婦因忿怒氣逆，胸膈不舒，血塊又痛，宜服生化湯。臨服時，磨木香二分在內，則血塊自化，怒氣自散，並治而不悖也。若輕產重氣，偏用香附、烏藥、枳殼、香砂之類，以散氣行塊，則元氣反損，滿悶益增，此非善治產也。又如怒後即食，胃弱悶停，當審何物，加山楂、砂仁，以消肉傷；加神麯、麥芽，以消飯傷。若傷寒物作痛，留滯脅腹，加桂枝、吳茱萸在生化湯內，以逐寒定痛，無有不安，慎勿木香檳榔丸，流氣飲之方，以散氣化食，是虛弱產婦，重虛之禍，有不可勝言者也。</p>
<p><u>木香生化湯</u></p>
<p>　治產後血塊痛未除，又受氣，宜服此方。</p>
<p>川芎（二錢）　當歸（六錢）　乾薑（四分）　炙甘草（五分）　木香（二分）　陳皮（三分）</p>
<p>此方減桃仁而用木香、陳皮。前有減乾薑者詳之。</p>
<p><u>健脾化食散氣湯</u></p>
<p>　治產後受氣傷食，問無血塊痛，可服。</p>
<p>白朮（二錢）　當歸（二錢）　川芎（一錢）　乾薑（四分）　陳皮（三分）　砂仁（七分）</p>
<p>如寒停脅下作痛，加桂枝八分。</p>
<p>大抵產後弱婦，受氣停食，愈消愈增滿悶，必攻補兼行，方化滯進食，但時醫所見，知耗氣而疑參補，誤人多矣。余屢見誤服散氣消導藥，致使少食思穀之人，反絕食日久者，亦用長生活命丹而活甚多。大抵產後忿怒氣逆及停食二症，善治者重產而輕怒食，必補氣血為主，佐以順氣調氣，則怒郁散而元氣不損；佐以健脾消導，非惟氣順，則停食亦行，而胃思穀，此治產後怒傷食傷之正法也。若專理氣消導，脹不散，停食不行，且損元減食，甚至絕穀不救者多矣，惜哉!</p>
<h4>九、產後類瘧</h4>
<p>凡產後寒熱往來，每日應期而發，其症類瘧，切不可以瘧痰疾方藥治之。夫氣血虛而寒熱交作，元氣弱而外邪或侵，雖寒來復栗，湯火不能溫，熱如燔炙，冰水不能寒，或晝輕夜重，或日晡寒熱，雖所見症與瘧類同，其方藥必當滋榮益氣，以退寒熱，有汗急當止汗，如麻黃根湯等藥。若頭有汗而不及手足，乃孤陽絕陰之危症也，當加地黃、當歸之劑。如感寒頭痛無汗，宜於生化湯內加羌活、防風、蓮須、蔥頭以散之，慎不可作瘧治以誤人也。柴胡湯、青皮飲、常山、草果等方藥，俱不可用。</p>
<p><u>麻黃根湯</u></p>
<p>麻黃根　當歸　黃　炙甘草　人參　桂枝　白朮　牡蠣　浮小麥凡婦人產後，患類瘧疾，頭有汗，身足無者，偏服參，少血分藥，多不救。</p>
<p><u>滋榮益氣扶正湯</u></p>
<p>　治產後寒熱有汗，每日午後，應期而發。</p>
<p>川芎（一錢）　當歸（二錢）　炙草（五分）　人參（二錢）　生熟地（二錢）　黃　（一錢）　陳皮（四分，去白）　麥冬（一錢）　白朮（一錢五分）　麻黃根（一錢五分）</p>
<p>夜服六味地黃丸，每服七八十丸，清湯下。</p>
<p><u>加減養胃湯</u></p>
<p>　治產後寒熱往來，頭疼無汗，類瘧。</p>
<p>川芎（一錢）　當歸（三錢）　藿香（四分）　炙草（四分）　茯苓（一錢）　蒼朮（一錢）　人參（一錢五分）　半夏（八分）　橘紅（四分）</p>
<p>薑引。</p>
<p>痰，加竹瀝、薑汁、半夏曲。弱人兼服河車丸。</p>
<p>產後久瘧，無汗不愈，兼煎白朮人參膏，以助藥力。</p>
<h4>十、產後類傷寒二陽症</h4>
<p>產後七日內外，發熱頭痛惡寒，毋專論為傷寒太陽症；發熱頭痛脅痛，毋專論為傷寒少陽症。二症皆由氣血兩虛，陰陽不和，而類外感，治者慎勿輕產，執偏門而用麻黃湯，以治類太陽症。又用柴胡湯，以治類少陽症。蓋產婦血脫之後，若重發汗，則虛虛之禍，有不可勝言者也。昔仲景云：亡血家不可發汗。丹溪云：產後不可發表。二先生非謂產婦真無寒之兼也，非謂麻黃、柴胡之不對症也，誠恐後執偏門而輕產，執成方而發表也。雖明知產後真感風寒，其生化湯內芎薑亦能散之。又《內經》云：西北之氣，散而寒之；東南之氣，收而溫之，所謂同病而異治也。其謂東南方人柔弱，而西北方人剛勁，故治病有異也。雖產後勞虛，治不可分南北，須當重產而用補，少佐以散劑，雖有他症，以末治之，不可不明也。</p>
<p><u>加味生化湯</u></p>
<p>　治產後三日內，發熱頭痛。</p>
<p>川芎（一錢五分）　當歸（三錢）　炙草（四分）　炮薑（四分）　桃仁（十粒）　羌活（四分）</p>
<p>防風（四分）</p>
<p>服二帖。</p>
<p>若頭痛身熱不除，加白芷八分，細辛四分。若頭痛如破，加蓮須一錢，蔥頭五個。虛，加人參二錢。</p>
<p>產後類傷寒，三陰症，潮熱有汗，大便不通，毋專論為陽明症；口燥咽乾而渴，毋專論為少陰症；腹滿液干大便實，毋專論為太陰症；又汗出譫語便秘，毋專論為腹中有燥屎宜下。數症多因勞倦傷脾，運化稽遲，血氣枯竭，腸腑燥涸，乃虛症類實，當補之症，治者毋偏門輕產而妄議，主承氣湯，以治類三陰之症也。間有少壯之人，患此類症，妄下僥幸無妨，但產後虛弱而復誤下，虛虛之禍，不可勝言，屢見妄下成噎，誤導反結。又言少血致便不通，而誤下泄瀉不止者甚多。</p>
<p><u>養正通幽湯</u></p>
<p>　治產後大便秘，類三陰傷寒症。</p>
<p>川芎（一錢五分）　當歸（六錢）　炙甘（五分）　桃仁（十五粒）　肉蓯蓉（一錢，酒洗，去甲）　陳皮（四分）　麻仁（一錢）</p>
<p>汗多便實，加黃　一錢，麻黃根一錢。口燥渴，加麥冬一錢。腹滿液干便實，加麥冬一錢，人參一錢，蓯蓉一錢。汗多譫語便實，乃血氣並竭神衰，心主失守，宜養榮安神，加茯神一錢，棗仁一錢，遠志一錢，柏子仁一錢，白朮二錢，人參一錢，黃　一錢。以上等症，大便燥結，並宜大料、川芎、當歸補血，人參可少，芎歸非至斤數，難以取效。</p>
<p>大抵產婦虛中傷寒，口傷寒食，外症雖見，頭痛發熱，或脅痛腰痛，似外感宜汗，猶當重產亡血禁汗，惟宜生化湯中量而加減調治之無失。又如大便結秘，猶當重產，其亡血禁下，惟宜養正助血通滯，極穩當也。</p>
<p>又方</p>
<p><u>潤腸粥</u></p>
<p>　產後日久，大便不通，用芝麻一升研末，和米二合，煎粥食即通。</p>
<h4>十一、產後類中風</h4>
<p>產後氣血暴竭，百骸少血濡養，率而口噤牙緊，手足筋脈攣縮，類中風，又類　癇。雖虛火泛上有痰，皆當以末治之，毋執偏門而用治風消痰之方，以重虛產也。蓋經脈任血流利，自筋骨強健，而關節清利，今產後無血濡注，致牙緊口噤，手足牽搐，症類　癇中風也。治當先服生化湯，以生旺新血。如見危症，三帖後即用人參益氣，以救血脫也。如有痰有火，少佐橘紅、炒芩之劑，竹瀝、薑汁亦可加之，黃連黃柏，不可並用，慎之，附方於後。</p>
<p><u>滋榮活絡湯</u></p>
<p>　治產後少血，口噤項強，抽搐類中風症。（此方如有血塊，不可用地、　、朮。）</p>
<p>川芎（一錢五分）　當歸（三錢）　懷熟地（二錢）　草果（四分）　黃　（一錢）　茯神（一錢）</p>
<p>天麻（一錢）　人參（二錢）　麥冬（一錢）　陳皮（四分）　荊芥（四分）　防風（四分）　羌活（四分）</p>
<p>黃連（二分，薑炒）</p>
<p>有痰，加半夏曲二錢，竹瀝一小酒杯，薑汁少許。有食，加山楂、砂仁以消肉物，神麯、麥芽以消面飯。大便秘，加肉蓯蓉一錢五分。渴，加麥冬、葛根。汗，加麻黃根一錢。驚悸，加棗仁一錢。</p>
<p><u>天麻丸</u></p>
<p>　治產後中風，恍惚語澀，四肢不利。</p>
<p>天麻（五錢）　防風（五錢）　茯神（一兩）　川芎（七錢）　棗仁（一兩）　羌活（七錢）　人參（一兩）　遠志（一兩）　柏子仁（一兩）　山藥（一兩）　麥冬（一兩）　細辛（四錢）　南星曲（九錢）</p>
<p>半夏曲（九錢）　當歸（六兩）　石菖蒲（八錢）</p>
<p>蜜丸，朱砂為衣。</p>
<h4>十二、產後汗</h4>
<p>凡分娩時出汗，由勞傷脾，驚傷心，恐傷腎也。《內經》云：身體勞苦，汗出於脾；驚而奪精，汗出於心；胃所恐懼，汗出於腎。產婦多兼三者而汗出，不須即加斂汗之劑，神寧汗自止息。其血塊作痛，　、朮未可遽加。宜服生化湯二三帖後塊痛消，即繼服加參生化湯，以止虛汗。若分娩後倦甚，　然汗出，形色有脫，乃亡陽脫汗也，又當從權連灌加參生化湯，倍參以救危急，毋據塊痛。夫汗乃心之液，榮於內為血，發於外為汗，產婦值亡血之後多汗，由驚勞心傷神虛，不能鎮守其液也，治當健脾胃而救水穀之精歸脾，益榮衛而引血歸源，灌溉四旁，不使妄行，為外汗也。難症雖有自汗盜汗之分，其當歸大黃湯，不可治產後之盜汗也。並宜服加參生化湯及加味補中益氣二方。若服參　重劑，而汗多不止，及出頭汗而不及腰足，乃危症也。</p>
<p><u>麻黃根湯</u></p>
<p>　治產後虛汗不止，三日內血塊未淨，不可加　、朮。</p>
<p>黃　（一錢五分）　當歸（二錢）　麻黃根（一錢）　粉甘草（五分）　人參（二錢）　牡蠣（五分）　桂枝（五分）　浮小麥（一撮）　白朮（一錢）</p>
<p>血塊痛不加者，以　、朮補而不行也。虛脫汗多手足冷，加熟附一片，乾薑四分。渴，加麥冬一錢，五味子十粒。血塊不痛，加熟地三錢。惡風寒，加防風五分，桂枝五分。肥白人產後多汗，加竹瀝一酒杯，薑汁半匙，以清痰火。</p>
<p>晚服</p>
<p><u>八味地黃丸</u></p>
<p>山萸肉　山藥　茯苓　澤瀉　牡丹皮　五味子　黃　懷生地各等分為末，蜜丸。</p>
<p>凡產後虛汗不止，由產亡陰血，而陽氣偏盛故也，《內經》云：陽加於陰則發汗，因而遇風變為　者有之。</p>
<h4>十三、治產後盜汗</h4>
<p>產後睡中出汗，醒來即止。猶盜瞰人睡而上盜，故謂人盜汗，非自汗所同治。當兼用血藥品，其當歸大黃湯，又非產後盜汗藥方也。</p>
<p><u>止汗散</u></p>
<p>　治產後盜汗。</p>
<p>人參（二錢）　當歸（三錢）　麻黃根（一錢五分）　懷熟地（三錢）　黃連（五分，酒炒）　浮小麥（一撮）</p>
<p>又方　牡蠣　研細末，小麥面炒黃為末，絹袋盛撲之。</p>
<h4>十四、產後口渴或兼小便不利</h4>
<p>凡產後口燥咽乾而渴，或兼小便不利，由產失血，或汗多所致，是無水穀也。夫日用水穀，胃納而脾肺散之，至精清氣，為津為液，其氣通心，受火色而方化為血，下行膀胱而為小便，值產亡血，而又多汗，又勞倦傷脾，不能為胃行其津液，則是化生之氣不運，滲泄之令不行，是以上無津液流通，而有咽乾燥渴之症，下氣不升而有胃腎關閉之候，治法必當助脾益氣，升補氣血，則氣化流行，陽升陰降，斯水入經而為血為津，穀入胃而氣長脈行，自然津液充而便利調矣。若認咽乾口燥為火，而用芩連梔柏以降之；若認小便澀閉為水滯，而用五苓等散以通之，皆非也。必因其勞損而溫之益之，因其干燥而濡之行之，度量病情而治之，庶無失也。</p>
<p><u>生津止渴益水飲</u></p>
<p>　量加車前子一錢。</p>
<p>黃　（一錢）　人參（三錢）　懷生地（三錢）　麥冬（三錢）　五味子（十粒）　當歸（三錢）</p>
<p>茯苓（八分）　甘草（四分）　升麻（四分）　葛根（一錢）</p>
<p>汗多加麻黃根一錢，棗仁一錢，浮小麥一撮。大小便日久不通，加肉蓯蓉一錢五分。渴甚，生脈散代茶不可疑而不用。</p>
<p><u>生津益液湯</u></p>
<p>　治產後虛弱，口渴少氣，汗多內煩，不生津液。</p>
<p>人參（一錢）　麥冬（一錢）　茯苓（一錢）　大棗（三枚）　竹葉（三十片）　甘草（五分）　栝蔞根（三錢）　荊芥（三錢）　當歸（三錢，大熱大渴不止加蘆根）</p>
<p>水煎，神效。</p>
<h4>十五、產後類</h4>
<p>產後汗出多而變類　症，口噤不開，背強而直，身反氣息如絕，系失血亡汗，感風所致。宜速服加減生化湯，少加風藥，陰服則陽自和，血行則風自滅，切不可純用風藥，致血燥益甚，筋失所養，成不治也。</p>
<p><u>加減生化湯</u></p>
<p>川芎　當歸　麻黃根　桂枝　防風　甘草　羌活　附子　人參　天麻　羚羊角又方　治產後無汗，類　中風，筋脈四肢攣急。</p>
<p>川芎　當歸　羌活　防風　棗仁此血虛之故，當重用芎歸。</p>
<h4>十六、產後瀉</h4>
<p>產後泄瀉，非如雜症，有飧泄、濡泄、洞泄、水穀注下之論，大率屬氣虛食積有濕也。</p>
<p>氣積宜補，食積宜消，脾濕宜燥，然惡露未消，驟難峻補。消燥當先服生化湯兩三帖，以化生新舊之血，內加茯苓以利小便，俟血化生，然後補氣消食，燥濕而分利水道，始無滯澀虛虛之失。若虛旬日外，方論雜症，猶量人虛而治。如痛下清水，腹鳴米飲不化，以寒泄治之。糞色赤黃，肚門痛秘，以熱泄治之。有因飲食過多，脾傷成瀉，自有噯氣，臭如敗卵。又有脾氣久虛少食，食下腸鳴腹急，盡下所有之物，方覺快者。其症各異，其治法寒則溫之，熱則清之，脾傷食積，分利健脾，兼消兼補，以虛為本，斯為善調治者也。</p>
<p>丹溪治產後虛瀉，眼昏不識人危症，用白朮（三錢）　人參（七錢）　茯苓（三錢）　附子（一錢）</p>
<p>水煎。</p>
<p><u>加減生化湯</u></p>
<p>　治產後血塊未消服此方。</p>
<p>川芎（二錢）　當歸（四錢）　炮薑（四分）　桃仁（十粒）　炙草（五分）　茯苓（二錢）　蓮子（八個）</p>
<p><u>健脾利水生化湯</u></p>
<p>　治產後血塊已消，服此方。</p>
<p>當歸（二錢）　川芎（一錢）　乾薑（四分）　茯苓（一錢五分）　人參（三錢）　肉果（一個，制）　白朮（一錢，泔水浸）　陳皮（五分）　澤瀉（八分）</p>
<p>寒瀉加乾薑八分。寒痛瀉加砂仁八分，乾薑四分。熱瀉加黃連八分酒炒。水瀉腹痛，米飲不化，加砂仁、山楂、麥芽。瀉有酸腐臭氣，加神麯八分，砂仁八分，山楂，麥芽五分。脾氣久虛，瀉出所食之物，方可快者，以食積論，加山楂、麥芽、神麯、砂仁。脾氣弱，元氣虛，產勞甚，必大補，佐消食，佐消熱，佐祛寒，弱甚形色脫，必用丹溪參苓朮附方大補，始可回生也。久瀉加升麻。諸瀉加蓮子十個，次煎取送藥。瀉水多者，加蒼朮一錢以燥之。</p>
<h4>十七、產後完穀不化</h4>
<p>產後完穀不化者，因產勞倦脾傷，而轉輸稽遲也。夫水穀入胃，必因於脾，方散於肺，而通調水道，乃能布氣四臟以養人。今產勞倦脾傷，故失轉輸之職，致沖和之氣不能化，而冷物完出也，病名飧泄，又飲食太過，脾胃受傷，亦致完穀不化，俗呼為水穀痢也。然產方三日內，血塊未散，患此脾敗胃弱症，未可遽加　、朮，宜服生化湯，加益智、香砂，以少溫胃氣，俟血塊消散，可加人參、　、朮以補氣，肉果、木香、砂仁、益智以溫胃，柴胡、升麻以引胃中清氣，澤瀉、陳皮、茯苓，以利水為上策也。</p>
<p><u>加味生化湯</u></p>
<p>　治產後三日內，完穀不化，胎前人素弱，患此症用。</p>
<p>川芎（一錢）　當歸（四錢）　炮薑（四分）　桃仁（十粒）　益智（二錢）　茯苓（一錢五分）</p>
<p><u>參苓生化湯</u></p>
<p>　治產後血塊散，可服此補方。</p>
<p>川芎（二錢）　當歸（二錢）　炮薑（四分）　炙甘（五分）　白芍（一錢）　益智（一錢，炒）</p>
<p>茯苓（一錢）　人參（二錢）　白朮（二錢）　蓮子（八個）　肉果（一個，制）</p>
<p>瀉水，加澤瀉八分，木通八分。</p>
<p><u>加減法</u></p>
<p>：腹痛，加砂仁八分。渴，加麥冬二錢，五味子十粒。水瀉寒，加乾薑一錢，木香四分。食積黃色，加神麯二錢，麥芽二錢，以消面食，砂仁二錢，山楂五粒，以消肉食。若瀉痢日久，胃氣虛弱，完穀不化，宜溫助胃氣，六君子東加木香五分，制肉果一個。</p>
<h4>十八、產後痢</h4>
<p>產後七日內外，患赤白痢疾，後重頻並，為最難治。欲調氣行血，而推蕩痢邪，則慮產後之元氣正虛；欲滋榮益氣，而大補虛弱，又恐助痢邪之初盛，其行不損元，補不助邪，惟生化湯減乾薑，而代木香、茯苓，則善消惡露，兼行痢積，並行而不悖也。再服加味香連丸，以俟二三日後，現病勢加減，可保無慮。若產七日外，有患褐色後重頻並虛痢，即當加補無疑。若產婦稟濃，產期以及二十余日，可用生化湯，加芩、連、厚朴、芍藥，行積之劑，加味香連丸以治之。</p>
<p><u>加減生化湯</u></p>
<p>　治產後七日內外患痢。</p>
<p>川芎（二錢）　當歸（二錢）　炙甘草（五分）　桃仁（十二粒）　茯苓（一錢）　陳皮（四分）</p>
<p>木香（二分，磨）</p>
<p>白痢腹痛，加砂仁六分。</p>
<p><u>清血丸</u></p>
<p>　治紅痢神方，產七日內不可用寒性藥也。</p>
<p><u>香連丸</u></p>
<p>　香連為主，加蓮肉粉各一半，治噤口痢，赤白痢下絞痛，加行積藥。</p>
<p>產三四日後，血塊散，痢積少，加減用照後開方治法。（方詳八卷。）</p>
<p>一、產後久瀉，元氣下陷，大便不禁，肛門如脫，宜服六君子湯，加木香四分，制肉果一個，乾薑五分。</p>
<p>二、產後瀉痢黃色，乃脾氣久虛，宜服補中益氣湯，加木香四分，肉果一個（制）。</p>
<p>三、產後傷面食瀉痢，宜服加參生化湯，加神麯、麥芽。</p>
<p>四、產後傷肉食瀉痢，宜服加參生化湯，加山楂、砂仁。</p>
<p>五、產後胃口虛弱，患痢瀉，完穀不化，當溫助胃氣，宜服六君子丸，加木香、制肉果一個。</p>
<p>六、產後肝脾二氣俱虛，瀉痢，四肢浮腫，宜服六君子東加陳皮。</p>
<p>七、產後瀉無後重，但日久不止，宜服六君子湯，加肉果、木香。</p>
<p>八、產後赤白痢，臍下氣痛，用當歸、厚朴、黃連、肉果、甘草。</p>
<p>九、產後痢久，白痢不止，屬血虛。宜服四君子湯，加荊芥、人參。</p>
<p>十、產後痢，羸困，心腹絞痛，宜服薤白、石榴皮、當歸、黃連、地榆。痢腹痛不止，用溫湯蘸熨，暖腹則緩。</p>
<h4>十九、產後霍亂</h4>
<p>產後霍亂，由勞傷氣血，臟腑虛損，不能運化食物；及感風冷所致，陰陽升降不順，清濁亂於腸胃，冷熱不調，邪正相搏，上吐下痢，名曰霍亂也。</p>
<p><u>生化六和湯</u></p>
<p>　治產後塊痛未除，又患霍亂。</p>
<p>川芎（二錢）　當歸（四錢）　乾薑（四分）　炙甘（四分）　砂仁（六分）　陳皮（四分）　藿香（四分）　茯苓（八分）</p>
<p>薑引。</p>
<p><u>附子方</u></p>
<p>　治產後吐痢霍亂，手足逆冷，問無塊痛，服此方。</p>
<p>白朮（二錢）　當歸（二錢）　陳皮（四分）　乾薑（四分）　丁香（四分）　甘草（四分）　人參（一錢）　附子（五分）</p>
<p>研細末，粥飲調下二錢。</p>
<p><u>溫中散</u></p>
<p>　治產後霍亂，吐痢不止，無血塊痛可服。</p>
<p>人參　白朮　當歸　厚朴　乾薑　茯苓　草豆蔻薑引。</p>
<p>產後七日外，患霍亂，用六君子湯亦可治之。</p>
<h4>二十、產後嘔逆不食</h4>
<p>人之胃腑，為水穀之海。水穀之精，化生氣血，榮潤腸腑。產後勞傷臟腑，寒邪易乘入於腸胃，則嘔吐氣逆而不下食也。（如脈弦滑多於傷食而嘔，宜與傷食條參看。）</p>
<p><u>加減生化湯</u></p>
<p>　治產後嘔吐不食。</p>
<p>川芎（一錢二分）　當歸（三錢）　乾薑（四分）　炙甘（四分）　砂仁（五分）</p>
<p>薑引。</p>
<p><u>溫胃丁香散</u></p>
<p>　治產後七日外，嘔逆不食。</p>
<p>當歸（二錢）　白朮（二錢）　乾薑（四分）　丁香（四分）　陳皮（四分）　甘草（四分）　前胡（四分）　人參（二錢）　藿香（四分）</p>
<p><u>石蓮散</u></p>
<p>　治產後咳逆嘔吐，心沖目眩。</p>
<p>石蓮子（一兩二錢，去殼）　白茯苓（一兩）　丁香（五錢）</p>
<p>為末，米飲下。</p>
<h4>二十一、產後水腫（有針刺法附卷七下末篇）</h4>
<p>產後手足浮腫，皮膚作光瑩色，及脾虛不能制水，腎虛不能行水，必大補氣血為主，佐以蒼朮、茯苓、白朮補脾。壅滿，加半夏、陳皮、木香、香附監之。虛人加人參、木通。有熱加麥冬、黃芩以清肺火。</p>
<p><u>健脾利水補中益氣湯</u></p>
<p>　治產後七日外。</p>
<p>人參（二錢）　白朮（二錢）　茯苓（一錢）　白芍（一錢）　陳皮（二分）　木瓜（八分）　木通（四分）　紫蘇（四分）　蒼朮（四分）　厚朴（四分）　大腹皮（四分）</p>
<p>大便不通，加肉蓯蓉一錢，麻仁一錢。如因寒邪，濕氣傷表，無汗而腫，宜服薑皮、半夏、蘇葉，加於補氣血方以表汗。</p>
<p><u>五皮飲</u></p>
<p>　治產後濕氣，客傷脾經，氣血凝滯，以致面目虛浮，四肢脹氣喘，用五加皮（有以桑白皮代之）、大腹皮、茯苓皮、生薑皮，水煎服。</p>
<h4>二十二、產後怔忡驚悸</h4>
<p>產後憂驚勞倦，去血過多，則心中躁動不寧，謂之怔忡。若惕然而驚，心中怯怯，如人將捕之狀，謂之驚悸。治此二症，惟調和脾胃補氣血，志定神寧，氣舒心安，而病愈矣。如分娩後，血塊未消，宜服生化湯，補血行塊，血旺則怔忡驚悸自平，不必加定安心神之劑。如塊消痛止後患此症者，宜服加減養榮湯，加木香，減川芎、麥冬，即歸脾湯。</p>
<p><u>加減養榮湯</u></p>
<p>川芎（一錢）　當歸（二錢）　茯神（一錢）　棗仁（一錢）　人參（一錢）　麥冬（一錢）　白朮（二錢）　遠志（二錢，去心）　黃　（二錢）　龍眼肉（八個）　陳皮（四分）　甘草（四分）</p>
<p>薑引。</p>
<p>虛煩，加竹肉一丸。痰，加竹瀝薑汁。</p>
<p><u>養心湯</u></p>
<p>　治產後心血不寧，驚悸不安。</p>
<p>黃　（一錢）　當歸（二錢）　茯苓（八分）　川芎（八分）　麥冬（一錢）　人參（一錢）　甘草（四分）　遠志（八分）　棗仁（一錢）　柏子仁（一錢）　五味子（十粒）</p>
<p>薑引。</p>
<p><u>安神丸</u></p>
<p>　與前藥兼服。</p>
<p>黃連（三錢，酒炒）　懷生地（三錢）　歸身（五錢）　炙草（五分）</p>
<p>為末，蒸餅糊為丸，如綠豆大，朱砂二錢為衣，每服四十九丸。</p>
<h4>二十三、產後骨蒸</h4>
<p>產後骨蒸，由失血過多，骨無血陰，以致虛火作炎，骨蒸作熱。經云：陰虛發熱是也。</p>
<p>如血塊未淨，只服生化湯，視症略為加減，俾陰血旺升，則火自歸經矣。如塊痛已消，宜服梅連丸。</p>
<p><u>柴胡梅連丸</u></p>
<p>　即清骨散，作湯服甚效。</p>
<p>柴胡（二錢）　胡黃連（二錢）　前胡（二錢）　烏梅（二錢，去核）　豬脊髓（一條）　豬膽（一個）　蔥白（十根，長一寸）</p>
<p>前四味為末，另將豬髓膽、蔥白，同搗成泥，入童便一盅，熬如稀糊，再入藥末，共搗為丸，綠豆大，每服三十丸，清湯下。如上隔熱多飽服，凡男女骨蒸，俱可服。摘刊方中，此方系湯劑。</p>
<p><u>加味大造丸</u></p>
<p>　治骨蒸勞熱，若服前方，不須服此。</p>
<p>紫河車（一具）　人參（一兩）　當歸（一錢）　麥冬（八分）　柴胡（六分）　懷生（二兩）　山藥（一兩）　胡黃連（五錢）　石斛（八分，酒蒸）　杞子（一兩）　黃柏（八分，酒蒸）</p>
<p>另將麥冬、地黃搗如泥，紫河車制淨蒸熟，先另搗，後入諸藥末均搗，加蜜為丸。</p>
<p>黃　（八錢）　人參（一錢）　白朮（二錢）　茯苓（八分）　甘草（四分）　川芎（八分）　當歸（二錢）　天冬（二錢）　麥冬（二錢）　北五味（十粒）　白芍（二錢）　黃柏（六分，炒）　知母（二錢）懷生（二錢）　懷熟地（二錢）</p>
<p>棗引，水煎。</p>
<h4>二十四、產後心痛</h4>
<p>產後心痛，即胃脘痛。以胃脘在心之下，因傷寒氣及傷冷物而作痛。因痛近於心，俗呼為心痛。殊不知心為君主之官，生血行氣，統馭五臟六腑。血氣盛，則泰然安寧；血氣不足，怔忡驚悸不安，心豈可痛哉?若真心痛，手足指甲見青黑色，旦發夕死，夕發旦死，昔人論之詳矣。治法當散胃中之寒氣，消胃中之冷物，必用生化湯中加散寒消食之佐，無有不安。若綿綿痛，可按而止，又問無血塊了，則當虛論而加補也。其產後心痛腹痛，二症相同，因寒食上攻於心，則心痛，下攻於腹，則腹痛。此二症治法亦大約略同，俱宜用生化湯，加肉桂、吳茱萸等熱藥，溫散之也。</p>
<p><u>加味生化湯</u></p>
<p>川芎（二錢）　當歸（三錢）　乾薑（五分）　肉桂（八分）　甘草（五分）　吳茱萸（七分）</p>
<p>三帖後，去茱萸。傷寒物，加茱萸、桂枝。傷肉食，加砂仁、山楂。傷飯面加神麯、麥芽。大便不通，加肉蓯蓉二錢。</p>
<h4>二十五、產後腹痛</h4>
<p>產後腹痛，先問血塊有無。有血塊痛，只服生化湯，調一笑散、鹿角灰散，塊消，痛自止矣。若風冷，乘虛入腹作痛，宜服加味生化湯治之。</p>
<p><u>加味生化湯</u></p>
<p>川芎（二錢）　當歸（四錢）　炮薑（四分）　炙甘（四分）　桃仁（十粒）　桂枝（一錢五分）</p>
<p>痛止即減，不止再加。傷面食，加神麯一錢，麥芽一錢（炒）。傷肉，加山楂五粒，砂仁七分。如血塊未消而痛，加一笑散二錢，酒炒元胡二錢，共為末。（一笑散即失笑散。）</p>
<h4>二十六、產後小腹痛</h4>
<p>產後虛中，感寒飲冷，其寒下攻，小腹作痛。又有血塊作痛者，又有產後血虛，臍下痛者，並宜加減生化湯調治。</p>
<p><u>加減生化湯</u></p>
<p>川芎（六分）　當歸（二錢）　炮薑（五分）　炙甘（四分）　桃仁（十粒）</p>
<p>問有血塊痛，本方加元胡散二錢，亦治寒氣痛。如血塊無，但小腹痛，按而稍止者，屬虛，加熟地二錢。</p>
<p><u>元胡散</u></p>
<p>肉桂（一錢）　元胡（一錢）</p>
<p>為末。</p>
<h4>二十七、產後遍身疼痛</h4>
<p>產後遍身疼痛，由產後百節開放，血脈流散，氣弱則經絡間血多凝滯，累日不散。故筋脈急引，骨節不利，甚至腰背不能轉側，手足不能動履，或身熱頭痛，若誤作寒熱治而散表出汗，則筋脈力竭，手足厥冷，變病出焉。</p>
<p><u>趁痛散</u></p>
<p>　治遍身痛。</p>
<p>當歸（二錢）　甘草（三分）　白朮　牛膝　獨活　肉桂（各八分）　蔥白（八根）　黃　（一錢）　薑（二片）</p>
<p>產後虛勞，指節痛頸痛，汗不出，用：當歸　人參　黃　生薑　淡豉　薤白　豬腎（二個）</p>
<p>先將豬腎水煮熱，取汁二盞，煎藥八分碗溫服。</p>
<p>筋骨乃血所養，產後血虛，亦能作痛。又寒主拘急，或感寒氣，皆能作痛，須憑脈症，加減用藥為當。</p>
<h4>二十八、產後腰痛</h4>
<p>產後腰痛，由婦人位系胞腰為腎腑，產後勞傷，腎氣損動胞絡；或虛未即平復，而風寒易乘，二者皆致腰痛也。</p>
<p>當歸（二錢）　獨活（八分）　杜心（八分）　川芎（八分）　杜仲（八分）　續斷（八分）　防風（八分）　桑寄生（八分）　薑（三片）</p>
<p>服兩帖後，痛未止，屬腎虛，服加味大造丸。</p>
<p><u>加味大造丸</u></p>
<p>　治產後日久，腎虛腰痛。</p>
<p>當歸　川芎　熟地　天冬　五味子　杜仲　續斷　山藥　牛膝　故紙（炒）　小茴（炒）</p>
<p>丹皮　胡桃　人參（各等分）</p>
<p>為丸服。</p>
<p>又敗血流入腰腎，痛如錐刺，宜服</p>
<p><u>復元通氣散</u>。</p>
<p>川芎（一錢）　當歸（一錢）　小茴（一錢）　故紙（一錢）　桂心（一錢）　元胡索（一錢）　牛膝（一錢）　丹皮（一錢）　木香（水磨，五分）</p>
<p>甚者，加乳香、沒藥（四五分）。</p>
<h4>二十九、產後淋</h4>
<p>產後患淋，由產虛弱，熱客於脬中，內虛則溲數頻，熱則小便淋澀作痛，名謂之淋。宜服茅根湯。</p>
<p><u>茅根湯</u></p>
<p>　治產後冷熱，膏石諸淋。</p>
<p>白茅根（三錢）　瞿麥（二錢）　茯苓（二錢）　人參（一錢）　葵子（一錢五分）　甘草梢（五分）　滑石（二錢）　紫貝（二個）　石首魚頭（二個）　桃膠（一錢五分）</p>
<p>薑、燈心引，空心服。更入鯉魚齒末五分。</p>
<p><u>又方</u></p>
<p>　治產後淋，小便痛，又血淋。</p>
<p>白茅根　車前子　瞿麥　冬葵子　通草　鯉魚鱗（一百個）</p>
<p>水煎，入鯉魚齒末服。</p>
<p>又方　用導赤散加減最妙。</p>
<h4>三十、產後小便數</h4>
<p>產後小便數者，由脬內宿有冷氣，因產發初起，冷氣入脬，致小便數也，宜用桑螵蛸散。</p>
<p><u>桑螵蛸散</u></p>
<p>人參（二兩）　黃　（二兩）　桑螵蛸（三十個）　鹿茸（五錢）　牡蠣（五錢）　赤石脂（五錢）</p>
<p>為末，空心粥飲送。（每二錢為率）</p>
<p><u>又方</u></p>
<p>　治小便或遺尿。</p>
<p>益智（三十個，炒）</p>
<p>為末，米飲送下，每一錢。</p>
<h4>三十一、產婦流注</h4>
<p>產後流注，皆由惡露流滯於腰臂手足關節之處，或漫腫，或結塊，久則腫起作痛，肢體倦怠。治法宜蔥熨法，方以治外腫，內服參歸生化湯，以散滯血無緩也。</p>
<p><u>參歸生化湯</u></p>
<p>川芎（一錢五分）　當歸（三錢）　炙甘（五分）　黃　（一錢五分）　肉桂（六分）　人參（二錢）　馬蹄香（二錢）</p>
<p>若漫腫微痛，屬形氣俱不足，最難治。未成膿或已成膿，或不潰，氣血虛也，宜服人參湯。</p>
<p>憎寒壯熱，氣虛也，十全大補湯。日晡內熱，四物東加參、朮、丹皮。嘔逆，屬胃氣虛，六君子東加炮薑。食少體倦，脾氣虛也，補中益氣東加益智一錢。</p>
<p><u>蔥熨法</u></p>
<p>　蔥一握，炙熱，搗爛作餅，腫處用濃布兩三層，熨斗熨之。</p>
<p><u>神仙回膿散</u></p>
<p>（方在八卷乳癰下。）　治產後流注惡露，日久成膿，用此方先導其膿。若人未補，得氣血旺，此方又不宜服。（方見乳癰陰蝕五疳下。）</p>
<p><u>治陰蝕五疳法</u></p>
<p>　婦人陰戶生瘡，名曰　瘡。或痛或癢，如蟲行狀，膿汁淋漓，陰蝕或盡者，由心腎煩郁，胃氣虛弱，致氣血澀滯。經曰：諸瘡痛癢，皆屬心火。治之當補養心胃，外以藥洗熏導並治之。</p>
<p><u>千金療陰蝕瘡洗方</u></p>
<p>川芎　當歸　芍藥　地榆　甘草用水五升，煮二升，去渣熏洗，日三次，夜一次。</p>
<p><u>又方</u></p>
<p>　蒲黃（一兩）　水銀（一兩）</p>
<p>研末摻之。</p>
<p>又方　肥豬肉十斤，煮水浸瘡，冷則再易，不過再三次愈。又肉十斤，數斗水煮，水多可換易也。</p>
<p>又方　治疸蟲蝕下部及五臟。用東南方向桃樹枝三七枝，輕打枝至使散，以綿扎之，又研石硫黃末，將綿縛桃枝捻轉之，令末少濃，又截一短竹筒，先納下部中，以所捻藥桃枝熱，捻熏之。</p>
<p>又方　蝦蟆兔屎，等分研末，敷瘡效。</p>
<p><u>治婦人陰腫</u></p>
<p>　小麥　朴硝　白礬　五倍子　白芨煎湯熏洗。</p>
<p><u>治婦人陰癢</u></p>
<p>　蛇床子　白礬煎湯洗。</p>
<p>又方　用牛肝或豬肝三寸，納入陰戶，久則取出之，立愈。</p>
<p><u>治婦人陰中生瘡</u></p>
<p>　杏仁　雄黃　生礬（各五錢）　麝香（二分半）</p>
<p>共研末，納入陰中即愈。</p>
<h4>三十二、產後癲狂</h4>
<p>產婦多喜多怒，時發癲狂，言語無倫，甚有罔顧身體，此皆五志所發為熱，火實制金，不能平下，則肝實而多怒也。又發熱於中，則屬陽明，經謂陽明之厥則癲，又謂服膏粱芳香等則熱氣剽悍，發為癲狂　。大率因痰結於胸中，宜開痰鎮心神為主。又神不守舍，狂言妄作，久不愈，如心經蓄熱，當清心除熱為先。如痰迷心竅，當去痰寧心，宜大吐下則愈。產後身熱感風，遍身麻痹，手足牽搐，口　痰盛，言語無倫，乃痰結胸膈心經蓄熱之症，當以歸脾砂香等湯。</p>
<p><u>歸脾湯</u></p>
<p>橘紅　膽星　茯神　杏仁　人參　當歸　甘草　半夏　枳實　川芎　柏子仁　五味子白朮　圓眼</p>
<p><u>砂香散</u></p>
<p>人參　木香　砂仁　黃　山藥　柏子仁　茯神　遠志　棗仁上為細末，蜜調服。</p>
<h2>卷七（下）</h2>
<h3>增補產後十二症</h3>
<p>發熱　頭痛　腹脹　咳嗽　呃逆　惡露不下　惡露不止　眼見黑花頭眩　脅痛　不語言語含糊　瘕</p>
<h4>發熱</h4>
<p>產後發熱，非有餘之熱，乃亡血過多，陰虛則生內熱也，其症心胸煩滿，吸吸短氣，頭痛悶亂，晡時轉甚。</p>
<p><u>人參芎歸湯</u></p>
<p>主之。</p>
<p>當歸（一錢五分）　川芎（一錢五分）　白芍（一錢五分，酒炒）　熟地（一錢五分）　麥冬（一錢）</p>
<p>乾薑（一錢）</p>
<p>水兩杯，先以粳米一撮，淡竹葉十片，煎至一杯，去米葉入藥，加棗三個，煎七分服。</p>
<p>必加乾薑者，因薑能入肺和肺氣，入肝引血藥生血，然不獨用，必與補陽藥同此造化之妙，惟天下之神者可以語此。</p>
<h4>頭痛</h4>
<p>產後頭痛，人身之中，氣為陽，血為陰，陰陽和暢，斯無病矣。產後去血過多，陰氣大虧，陽無所附，頭者諸陽之會，邪湊於頭，故為頭痛。但補其陰血，則陽氣得足，病自止矣。</p>
<p><u>芎歸湯</u></p>
<p>主之。</p>
<p>川芎（三錢）　當歸（六錢，酒洗）　蔥白（五錢）　蓮須　生薑水煎服之。</p>
<p>又有敗血停留子宮，厥陰之位，其脈上貫巔頂，亦能作痛，前東加生蒲黃二錢，炒黑豆一合，酒水各半煎。</p>
<h4>腹脹</h4>
<p>產後腹脹滿悶，因敗血散於脾胃，脾受之，則不能運化津液而成腹脹。亦有停食而腹脹者，以脈辨之。因於血者，則脈結澀，不惡食。因於食者，脈必弦滑惡食，</p>
<p><u>平胃散加味</u></p>
<p>主之。</p>
<p>蒼朮（米泔浸，去皮，炒。）　厚朴（薑汁炒）　陳皮　香附（醋炒）　人參（各二錢）　神麯（一錢，炒）　生薑（五分，炒）</p>
<p>傷食加山楂、麥芽。腹脹者，未有不喘，</p>
<p><u>人參定喘湯</u></p>
<p>主之。</p>
<p>人參　陳皮　杏仁　甘草　木香　蘇葉</p>
<h4>咳嗽</h4>
<p>產後咳嗽，肺主氣，氣為動，所以充皮毛，密腠理者也。產後氣虛，皮毛不充，腠理不密，肺感風寒，以致咳嗽。其症發熱惡寒，鼻塞聲重，</p>
<p><u>旋覆花湯</u></p>
<p>主之。</p>
<p>旋覆花　赤芍　前胡　半夏　荊芥穗　甘草　白茯苓　五味子　杏仁　桔梗　枳殼（等分）</p>
<p>薑棗引。</p>
<p>有汗加桂枝。</p>
<h4>呃逆</h4>
<p>產後呃逆，氣從胃中出，上衝賁門，呃忒作聲。有胃氣虛寒者，有中氣不足者；有衝任之火，直犯清道而上者；有飲水過多，水停而逆者；有大小便秘，下焦不通而氣上逆者，皆虛極胃氣將絕也。大約產後呃逆，乃胃氣虛寒症，多</p>
<p><u>加味理中湯</u></p>
<p>主之。</p>
<p>人參（一錢）　白朮（一錢）　炙甘（一錢）　炮薑（一錢）　陳皮（一錢）　丁香（五分）　干柿蒂（二錢）</p>
<p>竹肉引。</p>
<p>有熱去丁香。</p>
<h4>惡露不下</h4>
<p>產後惡露不下，此症有二：或因子宮素冷，停滯不行，必小腹脹滿，刺痛無時；或因中氣本虛憊，血少氣乏，血阻不能盡下，腹必乍痛乍止，痛亦不甚，</p>
<p><u>加減八珍湯</u></p>
<p>主之。</p>
<p>人參　茯苓　炙甘草　當歸　川芎　元胡索（酒炒）　香附（醋製）</p>
<p>薑棗引。</p>
<p>痛無補法，如腹痛者，參宜斟酌。</p>
<h4>惡露不止</h4>
<p>產後惡露不止，因衝任損傷，氣血虛憊，舊血未盡，新血不斂，相並而下。當大補氣血，使舊血行而新血生，不可輕用固澀之劑，致敗血凝聚，變為　瘕，成終身大患，十全大補湯主之。</p>
<h4>眼見黑花頭眩</h4>
<p>產後眼見黑花頭眩，乃惡露不盡，敗血流入肝經，肝開竅於目，故見黑花。諸風振掉，皆屬肝木，故作頭眩，</p>
<p><u>清魂散</u></p>
<p>主之。</p>
<p>人參（一錢）　澤葉蘭（一錢）　荊芥穗（二錢）　當歸（二錢）　川芎（二錢）　炙甘（八分）</p>
<p>丹皮（一錢）</p>
<h4>脅痛</h4>
<p>產後脅痛，乃敗血流入肝經，厥陰之脈循行脅肋，故作痛。</p>
<p><u>芎歸瀉肝散</u></p>
<p>主之。</p>
<p>歸尾（二錢）　川芎（二錢）　青皮（二錢）　香附（二錢）　枳殼（二錢）　紅花（二錢）　桃仁（二錢）</p>
<p>水煎。加童便酒各一杯服</p>
<p><u>乳香膏</u></p>
<p>　治產後腰痛脅痛，不可忍者，皆有敗血流入二經，以致作痛。用乳香、沒藥各五錢，研細，酒醋各一杯，熬膏，布攤貼。</p>
<h4>不語</h4>
<p>產後不語，此症敗血不盡，停閉心竅，神志不明，故多昏憒。心氣通於舌，心氣閉，故舌強不語，</p>
<p><u>七珍散</u></p>
<p>主之。</p>
<p>人參（二錢）　石菖蒲（二錢）　生地（二錢）　川芎（二錢）　當歸（二錢）　細辛（六分）</p>
<p>水煎，調辰砂五分。</p>
<h4>言語含糊</h4>
<p>產後言語含糊，並治怔忡。凡心主血，血去太多，心血虛弱，舌乃心之苗，其血不能上榮乎舌，萎縮卷短，語之不出也。</p>
<p><u>加味生脈散</u></p>
<p>主之。</p>
<p>人參（一錢五分）　麥冬（一錢五分）　五味子（十五粒）　生地（一錢）　歸身（一錢）　炙甘（一錢）　石菖蒲（一錢）　豬心（一個，劈開）</p>
<p>水煎二盞半，去心入藥，煎七分。</p>
<p>若怔忡，加辰砂三分服。</p>
<h4>瘕</h4>
<p>產後　瘕，由惡露不盡，脾氣虛弱，失其健運之職，故積而成形。積之日久，痰火與血日漸長大，飲食減少，人日羸瘦，時發寒熱，以補虛為主，</p>
<p><u>健脾消積丸</u></p>
<p>主之。</p>
<p>人參　白朮　茯苓　炙甘草　半夏　陳皮　香附　桃仁　五靈脂　浮海石　元胡索　三棱莪朮　鬱金紅棗煮熟，去皮核，神麯米飲，打糊為丸。</p>
<p>以上各症，秘本不能盡載，故從萬密齋先生女科中摘出，以補未備，但不可膠執湯頭，惟在救病者臨時細察脈症，詳審藥性。愚見總宜遵丹溪先生生化湯為主，然後見症加對病之藥施治，百發百中，萬無一失也。</p>
<h4>產後大小便秘下體水腫狂語諸症醫方</h4>
<p>產後如患三陰傷寒，大便不通，其人譫語發熱，脈沉實者，大柴胡湯，三承氣亦宜還用，從權治救。或其人如狂，不至發狂者，蓄血症也。桃仁承氣湯主之。因秘本無此二症，故詳錄之，以為後學之津梁也。</p>
<p><u>大柴胡湯</u></p>
<p>　治身熱不惡寒，反惡熱，大便秘。</p>
<p>柴胡（一錢五分）　黃芩（一錢）　芍藥（一錢）　半夏（八分）　大黃（七分）　枳殼（四分）</p>
<p>薑棗引。</p>
<p><u>調胃承氣湯</u></p>
<p>　治病患邪在中焦，不惡寒反惡熱，譫語便秘嘔逆。</p>
<p>大黃（六錢，酒洗）　芒硝（四錢）　甘草（一錢）</p>
<p>水盅半，煎八分，去渣，入硝一沸服。</p>
<p>此下劑稍重者，不用枳朴，恐傷上焦氤氳之氣也。用：大黃（六錢，炒）　厚朴（六錢，炒）　枳實（二錢，炒）</p>
<p>水二盅服。</p>
<p>此下劑之稍重者，不用芒硝，恐傷下焦之血也。</p>
<p><u>小承氣湯</u></p>
<p>　治病患六七日不大便，腹脹滿，潮熱，狂言而喘，是湯專瀉上焦之痞熱。</p>
<p>大黃　厚朴　枳實</p>
<p><u>桃仁承氣湯</u></p>
<p>　治病患小腹急，大便秘或黑，小便不利，中焦積血也。</p>
<p>桃仁（十粒）　肉桂（一錢，去皮）　甘草（一錢）　大黃（一錢五分）　芒硝（一錢五分）</p>
<p>水二盅，煎一盅，入硝一沸服。</p>
<p><u>大承氣湯</u></p>
<p>　治五六日不大便，腹痛煩渴，少陰口燥，咽乾潮熱，脈沉實，三焦俱有邪。</p>
<p>大黃（五錢）　芒硝（四錢）　厚朴（二錢，炒）</p>
<p>水二盅，先煎枳，朴至一盅，去渣，入硝煎一沸服。</p>
<p>此下劑之最重者，不可輕用。</p>
<p>產後有惡露久滯，遂化為水，以致發腫，皮膚作光瑩色，指捺成窠，宜服五皮飲，並健脾利水，已見前二十一產後水腫中。但下部大腫者，藥力率不能到，用銀針刺足跗足面孤拐小腿，十數處，流出蓄水，令產婦下部舊棉衣鋪墊，時時換易，亦水甚則決之之義。愚以意消息經治有驗，故書此以告後學人。</p>
<h2>卷八</h2>
<h3>醫方類</h3>
<p>湯飲丸散方丹</p>
<h4>湯類</h4>
<p><u>生化湯</u></p>
<p>當歸（八錢，酒洗）　川芎（四錢）　乾薑（四分）　炙甘（五分）　桃仁（十粒，去皮尖、研）</p>
<p>人參（一錢）　川芎（一錢　）　當歸（三錢）　茯苓（八分）　炙甘（八分）　陳皮（五分）　腹皮（八分）　白朮（八分）　黃芩（八分）　懷生（二錢）　益母草（三錢）</p>
<p><u>升舉大補湯</u></p>
<p>白朮（二錢）　當歸（二錢）　懷生（二錢）　人參（二錢）　炙甘（四分）　陳皮（四分）　川芎（一錢）　黃　（一錢）　麥冬（一錢）　黃　（三分）　黃柏（三分）　荊芥（五分）　羌活（五分）　防風（五分）　升麻（五分）　白芷（五分）</p>
<p><u>滋榮益氣復神湯</u></p>
<p>川芎（一錢）　當歸（二錢）　炙甘（四分）　懷熟（三錢）　黃　（一錢）　人參（二錢）　白朮（一錢）　棗仁（一錢）　茯神（一錢）　柏子仁（一錢）　益智（一錢）　陳皮（三分）　麥冬（一錢）</p>
<p>五味子（十粒）　蓮子（八個）　圓眼肉（八個）</p>
<p>棗引。</p>
<p><u>六和湯</u></p>
<p>　治傷寒暑，霍亂吐瀉，兩腳轉筋，四肢厥冷。</p>
<p>陳皮（四分）　藿香（四分）　甘草（四分）　半夏（二分）　杏仁（十粒）　白扁豆（二錢，炒）</p>
<p>木瓜（一錢）　砂仁（五分）　茯苓（八分）</p>
<p>薑棗引，水煎。</p>
<p>如虛人，加人參一錢。</p>
<p>又方　無陳皮、竹葉，有香薷、厚朴。若熱渴瀉，加黃連。</p>
<p><u>補中益氣湯</u></p>
<p>人參（一錢）　黃　（一錢五分）　甘草（一錢）　白朮（一錢）　歸身（五分）　柴胡（五分）</p>
<p>升麻（三分）　陳皮（五分，去白）</p>
<p><u>保真湯</u></p>
<p>黃　（二錢）　當歸（二錢）　天冬（二錢）　知母（二錢）　懷生（一錢）　懷熟（二錢）　人參（一錢）　白朮（一錢）　麥冬（一錢）　白芍（一錢）　杞子（一錢）　茯苓（八分）　川芎（八分）　甘草（四分）　五味子（十粒）　地骨皮（四分）　黃柏（六分）</p>
<p>加元棗引。</p>
<p><u>十全大補湯</u></p>
<p>人參　肉桂　川芎　當歸　熟地　芍藥　茯苓　白朮　黃　炙甘每服一兩，加棗二枚，薑二片，水煎服。</p>
<p><u>當歸六黃湯</u></p>
<p>當歸　黃柏　黃芩　黃連　生地　熟地　黃每服五錢，小兒減半。</p>
<p><u>鯉魚湯</u></p>
<p>白朮（五分）　茯苓（四錢）　當歸（三錢）　芍藥（三錢）</p>
<p>鯉魚一尾，重約一二斤，去鱗腸，水煎，加橘皮少許，生薑七片，用水四盞，取汁煎半，加四味藥，煎七分，溫服。</p>
<p>水腫未消，再制服。</p>
<p><u>四君子湯</u></p>
<p>人參　白朮　茯苓　甘草</p>
<p><u>四物湯</u></p>
<p>當歸　川芎　芍藥　熟地</p>
<p><u>二陳湯</u></p>
<p>半夏　陳皮　白茯苓（等分）　甘草（減半）</p>
<p><u>麻黃湯</u></p>
<p>桂枝　麻黃根　杏仁　甘草</p>
<p><u>香薷湯</u></p>
<p>　治伏暑口乾咽燥。</p>
<p>厚朴（三兩）　扁豆（三兩）　香薷（一兩）</p>
<p>用水一碗，入酒少許，煎後冷服。</p>
<p>加黃連，名謂黃連香薷飲。</p>
<p><u>六君子湯</u></p>
<p>即四君子湯，加半夏、陳皮。</p>
<p><u>犀角地黃湯</u></p>
<p>犀角（二錢三分，解心熱）　生地（一兩五錢，涼心血）　白芍（二錢）　丹皮（二錢二分，二味酸入肝，寒勝熱，肝是心母，以術生心酸寒治之。）</p>
<p><u>正氣湯</u></p>
<p>　治陰虛有火盜汗。</p>
<p>黃柏（一錢，炒）　知母（一錢，炒）</p>
<p><u>甘桔湯</u></p>
<p>　治少陰咽痛。</p>
<p>甘草（二兩）　桔梗（一兩）</p>
<h4>飲類</h4>
<p><u>丹溪安胎飲</u></p>
<p>人參（二錢）　白朮（二錢）　當歸（二錢）　川芎（八分）　黃芩（八分）　陳皮（三分）　懷熟地（二分）　紫蘇（四分）　甘草（四分）　砂仁（三分）</p>
<p>薑棗引。</p>
<p><u>安榮飲</u></p>
<p>人參（二錢）　白朮（二錢）　當歸（二錢）　麥冬（一錢）　通草（一錢）　茯苓皮（一錢）　甘草（四分）　燈心（五分）</p>
<p><u>寧肺止嗽飲</u></p>
<p>天冬（二錢）　桔梗（五分）　紫蘇（五分）　知母（二錢）　甘草（四分）</p>
<p>寒嗽，加桑白皮八分。痰多，加橘紅四分，竹瀝汁、薑汁。熱渴，加黃芩八分。虛嗽，加紫菀一錢，冬花六分。</p>
<p>喘，夜多嗽，加麻黃五分。虛損，嗽，加木瓜一錢。</p>
<p>竹瀝薑汁，心胸不舒，加貝母一錢，百合一錢。</p>
<p><u>補母固胎飲</u></p>
<p>白朮（二錢）　當歸（二錢）　陳皮（五分）　紫蘇（五分）　甘草（五分）　懷熟（二錢）　人參（三錢）　條實黃芩（八分）　砂仁（三分）　益母草（五分）</p>
<p>棗引。</p>
<p><u>七寶截瘧飲</u></p>
<p>常山（一錢五分，酒炒）　陳皮（一錢）　厚朴（一錢，薑製）　草果仁（一錢）　檳榔（一錢）</p>
<p>青皮（一錢）　甘草（五分）　烏梅（一個）</p>
<p>薑引</p>
<p><u>十味治瘧飲</u></p>
<p>白朮（一錢）　半夏（一錢）　香薷（一錢五分）　藿香（五分）　陳皮（五分）　豬苓（八分）</p>
<p>澤瀉（八分）　白扁豆（八分）　柴胡（一錢）　木通（五分）</p>
<p><u>元胡索飲</u></p>
<p>莪朮　三棱　當歸　紅花　元胡索　童便（酒煎）</p>
<h4>丸類</h4>
<p><u>六味地黃丸</u></p>
<p>熟地（八錢）　山藥（四錢）　山萸肉（四錢）　澤瀉（三錢）　茯苓（三錢）　丹皮（三錢）</p>
<p><u>補陽宿鳳丸</u></p>
<p>白朮（一兩）　黃　（一兩）　茯苓（一兩）　川芎（一兩）　五味子（一兩）　大甘草（一兩）</p>
<p>白芍（一兩）　巴戟（一兩）　破故紙（一兩）　萸肉（一兩）　天門冬（一兩）　肉蓯蓉（一兩）　川牛膝（一兩）　廣皮（一兩）　知母（一兩）　杜仲（一兩）　濃黃柏（一兩）　懷山藥（一兩）　虎骨（一兩）　生地（二兩）　熟地（二兩）　麥冬（二兩）　人參（二兩）　當歸（二兩）　杞子（二兩）</p>
<p>用十年陳線雞一只，宰淨蒸熟，去皮油，取肉骨焙燥，合諸藥，煉蜜為丸。</p>
<p><u>先天大造丸</u></p>
<p>　治骨蒸癆熱。</p>
<p>紫河車（一具）　人參（一兩）　當歸（八錢）　麥冬（八錢）　銀柴胡（六錢）　生地（二兩）</p>
<p>胡連（五錢）　山藥（一兩）　石斛（八兩，酒蒸）　杞子（一兩）　黃柏（七錢，酒蒸）</p>
<p>另將門冬、地黃，先搗如泥，河車蒸熟，亦搗，後入諸藥末，均為丸。若焙河車末，煉蜜為丸。</p>
<p><u>加味益母丸</u></p>
<p>白朮（一兩）　益母草（四兩）　條芩（八錢）</p>
<p>蜜丸，孕婦諸症並可治之。亦可作大丸，如彈子大，清湯送下。</p>
<p>孕內常服一丸甚好。多氣人，加木香三錢。弱人安胎飲送化。胸膈不舒，加紫蘇二錢、陳皮二錢。</p>
<p><u>香連丸</u></p>
<p>黃連（二十兩）　吳萸（十兩，同炒赤色，去吳萸）</p>
<p>俱為細末，醋糊丸，梧子大，每二十丸為率。</p>
<p>又一方　加連肉。</p>
<p><u>補陰大造丸</u></p>
<p>河車（一具）　人參（一錢五分）　歸身（二兩）　天冬（一兩三錢）　五味子（五錢）　山藥（八錢）　杜仲（七錢，薑炒）　牛膝（一兩，酒浸）　黃柏（七錢，鹽水炒）　熟地（二兩）</p>
<p><u>柴前梅連丸</u></p>
<p>柴胡（二錢）　前胡（二錢）　胡黃連（二錢）　烏梅肉（二錢）　豬脊髓（一條）　豬膽（一個）</p>
<p>韭白（十根，長一寸）</p>
<p>前四味為末，另將脊髓、豬膽、韭白同搗如泥，入童便一盞，熬如稀糊，入葉末，再搗為丸，綠豆大，每服三四十丸，清湯送化。</p>
<p><u>安神丸</u></p>
<p>（即安寢丸）　治憂愁思慮，傷心不食。</p>
<p>黃連（一兩二錢）　朱砂（一兩，水漂）　當歸（五錢）　懷生（五錢，酒洗）　炙甘（五錢）</p>
<p>清氣化痰丸　治痰火通用。</p>
<p>陳皮（一兩，去白）　杏仁（一兩，去皮尖）　枳實（一兩，面炒）　黃芩（一兩，酒炒）　栝蔞仁（一兩，去油）　膽星（一兩五錢）　製半夏（一兩五錢）</p>
<p>薑汁丸。</p>
<h4>散類</h4>
<p><u>天仙藤散</u></p>
<p>天仙藤（酒略洗）　香附（六分，炒）　陳皮（四分）　甘草（五分）　烏藥（七分）　木瓜（一錢）　紫蘇（五分）　薑皮（三分）</p>
<p><u>羚羊角散</u></p>
<p>獨活　羚羊角　棗仁　五加皮　薏米仁　防風　川芎　當歸　茯神　杏仁　木香　甘草</p>
<p><u>失笑散</u></p>
<p>　治血痛。</p>
<p>生蒲黃　五靈脂（各等分，研末）</p>
<p>醋調服。</p>
<p><u>元胡索散</u></p>
<p>肉桂（一錢）　胡索（一錢，酒炒）</p>
<p>為末。</p>
<p><u>逍遙散</u></p>
<p>當歸（二錢）　白芍（一錢）　白朮（一錢五分）　茯苓（七分）　柴胡（一錢）　丹皮（七分）</p>
<p>黑山梔（七分）　炙甘（四分）</p>
<p><u>五皮散</u></p>
<p>茯苓皮　大腹皮　五加皮　地骨皮　生薑皮</p>
<p><u>催生如神散</u></p>
<p>（即黑神散）</p>
<p>百草霜（即鍋底煤）　香白芷　滑石（等分）</p>
<p>芎歸湯送下二錢，須兒頭已頂產門，方可服。</p>
<p><u>平胃散</u></p>
<p>　治濕常用。</p>
<p>蒼朮　陳皮　厚朴　甘草薑棗引。</p>
<h4>方類</h4>
<p><u>丹溪醫案大補方</u></p>
<p>人參（三錢）　白朮（五錢）　川芎（一錢）　當歸（三錢）　芍藥（一錢）　茯苓（一錢）　澤瀉（八分）　厚朴（五分）　陳皮（四分）　紫蘇（四分）　大腹皮（六分）　蘿卜子（六分）　木香（七分）</p>
<p>人參（一錢，弱人加至三錢）　當歸（三錢）　白朮（二錢）　熟地（二錢）　川芎（八分）　條芩（一錢）　陳皮（四分）　紫蘇（四分）</p>
<p>虛肥人去白朮、甘草四分，加黃連五分。</p>
<p>棗引。</p>
<p><u>乳癰方</u></p>
<p>（即神仙回膿散）</p>
<p>蒲公英　天花粉　金銀花　連翹　白芷　甘草若是吹乳，加防風。久破爛，加人參、黃　。不加引酒水各半煎，飽服。</p>
<h4>丹類</h4>
<p><u>煎膏藥方丹</u></p>
<p>　治一切癰疽惡毒諸瘡，神效。</p>
<p>元參（五錢）　苦參（五錢）　黃芩（五錢）　杏仁（五錢）　白芷（五錢）　大黃（五錢）　金銀花（五錢）　天花粉（五錢）　連翹（五錢）　歸尾（一兩）　赤芍（五錢）　丹皮（五錢）　黃　（五錢）</p>
<p>每一料，用真麻油一斤，其粉心半斤，將各藥挫片，入油浸二宿，文武火煎，以藥純黑色為度，去渣淨，然後研細粉心入藥，用桃枝不住手攪，滴水成珠不散為度。再加阿魏末一錢，名阿魏膏。</p>
<p><u>摻藥方丹</u></p>
<p>血竭（二錢）　阿魏（三錢）　乳香（三錢）　沒藥（三錢）　龍骨（三錢）　赤石脂（三錢）</p>
<p>為末極細，摻膏藥內。</p>
<h2>跋</h2>
<p>《胎產指南》一書，其效如神，余聞之久矣，而醫家往往秘而不宣，無從購求。寧海任松云先生，善岐黃術，又心存濟人，與余嘗談因果事甚相得。昨偶言及病之險而難治者，莫如胎產為甚，伊芳即出此書以示。見之如獲至寶，亟付梓以公同好云。</p>
<p><u>光緒丁丑秋仲廬江丁維庚識</u></p>
