<header><h1>許氏醫案</h1></header>
<dl class="元資料" data-type="book">
<div><dt>作者</dt><dd>許恩普</dd></div>
<div><dt>朝代</dt><dd><data value="清">清末</data></dd></div>
<div><dt>品質</dt><dd>90%</dd></div>
</dl>
<p>己丑年，京畿道胡貸青病劇，延余診視。舌黑，譫語，不省人事，諸醫均以為實熱實結，擬用大承氣湯。余診脈，洪而無力，不渴，復以薑片擦舌即淡，症若傷寒，化為虛熱，擬用人參竹葉石膏湯。一服便行見效，加減數劑而愈。後月餘，舌退一殼如枳殼，即書中所謂六十樣舌中之銕甲舌，陰虧也。設症不辨虛實，則死生反掌矣。</p>
<p>己丑，工部員外楊味春夫人吳勤惠公小姐產時搐搦，不省人事，集醫治，以肝風不效。適夫人嫡堂兄吳純甫太守進京引見，與余父子世交，延余診視。脈虛，知為血暈，非肝風也。先用韭菜根置兩壺中加醋煮開，以壺兩嘴對兩鼻孔熱氣熏之，立時生男蘇醒，擬以當歸參耆千金湯服之安。然繼而胞衣不下者一日，闔家驚惶，余著尋雞頭菱<span class="校"><small class="雙行小字">即芡實也，原本有誤</small></span>葉撕破，加炒皂刺三錢，同煎服之。時許，胞衣隨惡血分碎而下，安然無恙矣。</p>
<p>己丑，候選通判繆仲勉少君傷寒。他醫誤為瘟疫，重用涼藥，以致病劇。臥床兩月，痰喘欲絕，延余診視。脈沉濡而滑相等，尚可挽回。擬以生脈散加半夏杭芍，服之見效，數服即能飲食。治理數月，兩腿不能伸屈站立。其母祗此一子，不勝情急，詢余曰：廢否？余曰：以脈緩和無力，不至殘疾。即用十全大補湯加杜、牛膝<span class="校"><small class="雙行小字">蓋土牛膝乎，抑或杜仲、牛膝也，杜字定有誤。三字相合為「懷牛膝」亦未可知</small></span>，下注三陰，並令捶打以舒筋血，又兩月全愈矣。</p>
<p>庚寅年，戶部員外寶源局監督胡呂瑞少君泊生鹺尹壺相小產，胎不下者十餘日。諸醫均以攻伐之藥，胎更不下，而疼如絞，命在旦夕，延余診視。脈濡，以體素弱，加以小產誤服攻伐，重傷氣血，以致血竭而胎不下。以十全大補湯加重以助氣血，加樸硝一錢以化死胎。即下，去硝，用生化湯加參耆以扶氣血，數服而愈。</p>
<p>壬辰，胡呂瑞部郎痢疾，晝夜百餘次，汗出如流。年逾五旬，諸醫均以年老，氣血就衰將脫之象，重用參耆等藥，而痢反劇，延余診視。脈急有力，寒化為邪<span class="校"><small class="雙行小字">邪字不可解，其蓋熱乎</small></span>，照《內經》初痢用清，久痢用固之法，擬以黃芩湯加減以扶正清熱。胡不敢服，強而後可。一服見效，數服減輕。滿月後，用真人養臟湯加減滋陰固攝之劑，數服遂愈。辛卯，劉仲良太史夫人比部段少淪之胞妹，因觀劇，夜深衣單，卒中痰迷。齒脈均閉，便溺俱遺，心窩微存一息，針不出血，諸醫束手，延余診視。曰：症有七不論脈，此其痰閉之一也。系受風寒痰閉，便溺俱遺，亦非五臟絕也。手未撒，發未指，面未如妝，汗未如珠，尚可挽回。幸假至契，深信不疑，擬以小續命湯，三生飲，再造丸合參加全蠍等藥，以扶正氣，逐風化痰，行氣和血。以口閉藥不下嚥，用烏梅擦牙，竹箸啟齒，小壺呷藥，時許即呼媽矣。醫治三日方蘇，月余遂愈。</p>
<p>胡公度待禦之僕某，年弱冠，在京出痘，色紫周身無縫，登屋狂叫，延余診視。脈洪實有力，舌苔黑，知為熱邪。擬歸宗湯加減以去熱邪燥糞，遂安。復擬犀角地黃加減，清熱透發，數貫膿結痂而愈，變為麻臉，非舊日面目矣。又有廚夫某，中風不語，他醫誤以瘟治病劇，延余診視。脈細，知系卒中。擬以小續命加參耆一服，即大呼曰：何不早服此藥也？又大同居東沈智泉中風，亦用此藥加減而愈。又水部正郎楊紫滄中風，亦用此藥加減而愈。又內務府科房王壽齡母中風，亦用此方加減而愈。又給諫洪良品中風亦用此方加減，壽延二年。故後哲嗣鴻卿明府向云，誤信人言，以年老氣衰，將余初擬方內羌活、獨活、防風未用，以致病未除根也。其餘貧民無名之人，不可勝道也。</p>
<p>唐春卿閣部堂於壬辰秋患背寒如冰，難以轉動，月餘矣，延余診視。少陽弦緊，太陰緊急，知系兩經外感，汗未解澈之伏邪，擬以柴平散加減以和解之。唐公以為體素虛弱，他醫用參耆薑附重劑，尚不能愈，而以此和解，可乎？余曰：譬如盜賊伏於家中，不開門驅逐，害焉能除？請姑試之。一服見效。唐曰：十日後天壇當差，能否?余曰：可。復擬滋養之劑，數服大愈，果應差矣。</p>
<p>劉次方於庚寅年為巡街禦史時，相召宴飲。余赴道謝，言未曾面，何見愛之深也?劉云：見余脈案，擬方真有道理，願為疾病扶持之交，余以小道偶中遜謝。無何，劉患牙疼面腫，太陽筋跳如錐痛，諸藥罔效，寢食俱廢，延余診視。脈數無力，知為虛熱，氣血相搏，邪火上蒸。內服玉女煎加減，外以開水熏洗痛處，以和氣血，又以熱手巾燠之，再用燒酒以小指蘸滴耳內，如火外發，傾刻痛止，氣血和矣。再用唾膏貼之消腫，再用硼砂、冰片、細辛、蒲黃、黃柏、青鹽共研細末，頻擦牙齦，消腫止疼。內服滋陰以退虛熱即愈。又水部張蔚如夫人，牙疼異常，飲食俱廢，亦如法加減，治之遂愈。此虛火疼十之八九，若實火疼，宜用連翹、銀花、綠豆皮、蘆根等清涼之藥。若蟲牙疼用明雄黃，松香等藥擦之即死。以上諸疼，七十方中，無此妙也。薩嘉樂太史夫人患牙疳，腫疼異常，已落一齒，幾於穿鼻透腮，延余診視。脈洪有力，知為熱毒。內服金銀花散加減，外用硼砂、冰片、紅棗燒灰、兒茶、人中白、陀僧、青鹽、枯礬研細末敷，繼用犀黃散加輕粉麝<span class="校"><small class="雙行小字">此處恐亦有誤</small></span>敷之，旬日遂愈。庚寅張季端殿撰夫人體虛難眠，延余診視。脈沉細，用溫補藥數服而愈。嗣後感冒風寒，渠以為舊症，用參耆等藥服之以致沉重，復延診視。脈緊無力，知為虛人外感，治以再造散加減，解邪和中之劑，服之寒戰，似藥不合。渠言奈何？余復診之脈動，言時發汗，以薑白糖水飲之助氣。夫人胞叔楊子琛明府，知醫信余，力言不錯，藥邪相爭，故寒戰耳。張留余俟之，至十點鐘時，果汗而愈矣。又張次子二歲時，素患腿疼，不能行走，教人捶打，以重物壓之方眠。余診視脈弱極，兩尺幾無，知為先後天不足之故，擬用十全大補湯加杜仲、牛膝，下注三陰，數服遂愈。</p>
<p>甲午秋，戎部<span class="校"><small class="雙行小字">工部可稱水部，莫非兵部可稱戎部乎</small></span>李星若夫人腹疼如絞，日久欲死，延余診視。脈沉細，知系虛寒氣結，他醫誤用涼藥，以致病劇。余始擬以附於理中湯加減，一服而愈。旋因食抄，絞痛如故，九日不便。診脈虛細，系九結中之秘結，不可攻下，擬以前方加潤導之品便<span class="校"><small class="雙行小字">恐漏一通字</small></span>而愈。旋又風抄，九月初一日痛絕，齒脈俱閉，僅存一息。其胞兄內閣中書虹若言女初三日吉期，設無救奈何？余為情急，恐藥餌不及，囑星若親灸章門、虎口、三裏等穴，並將前方加山甲、牛膝、桂枝、木香、烏藥等擦牙，以箸啟齒呷藥，一時而蘇，脈復。余出曰：包辨喜事無虞。數服而愈。丙申年來請，言夫人血崩暈絕。往診脈擾急，知系小產，非血崩也。治以生化湯，加參耆去舊生新之品遂愈。馬積生太史夫人亦患腹痛如絞，數月病劇，延余診視。脈息腹痛相同，因體因症加減。擬方不敢服，以為與他醫用寒藥相反也。適曾任廣州府馮端本太守壽日，與馬姻親李星若亦姻婭，同往稱禮。即<span class="校"><small class="雙行小字">莫非漏一席字</small></span>馬遍詢同鄉可否服余之藥，僉云可歸即試服。次早請余，言病減半矣。深信不疑，連服數劑而愈。農部張馨庵屠遜庵亦河南人，兩夫人亦患此症欲死，均為如法治癒。</p>
<p>徐頌閣侍郎三公子，於甲午歲淋症，他醫誤以血淋苦寒之藥，數月病劇。臥床不起，身不能動，將一年矣，延余診視。僅存一息，脈沉細，知為陰虧變色，非血淋也。詰其故，言無外務，以妻歸甯浙省，病年不歸，思想而得。余曰：欲心一動，精卻離舍成淋，久則陰虧變色，誤為熱淋，治以寒藥，至於此極。擬以人參菟絲丸加減，大補之劑，以固心腎。一服見效，復診加減，數服能食，月余全愈。</p>
<p>李實之太史放甘肅主考時，夫人住京，系朱相國之孫女，湖北廉訪之女，內閣章京伯平之妹。產後病劇，延余診視。脈沉細，四肢拘攣，癱痿溺黑，知受風寒化熱為痹，擬以獨活寄生湯加減見效，繼為加減，數服而愈。朱即請以夫人小產數胎為憂，余診視，脈沉無力，氣血兩虛，擬以泰山磐石散、千金保胎丸合參，令有孕時服三十劑。果胎安矣，連舉二子。甲午農部李有榮之夫人，臨產三日未落草，鹹謂胎死腹中。夫人自期亦死，情急許稔婆百金，下死胎以保夫人之命。稔婆無策，延余診視。脈緩，舌苔面色均無青赤，知胎無恙。詢之稔婆，向言尚未順胎知經人早，漿破血竭<span class="校"><small class="雙行小字">此句如何斷句當存疑</small></span>，猶魚在盆，無水不行，數日不生者多也。安慰夫人不要慌亂，靜心安臥，包管無恙。即重用達生散加重參耆歸芎各一兩，外加蔥頭七個，黃楊腦<span class="校"><small class="雙行小字">蓋即黃楊木葉</small></span>七個。熊亦奇太史知醫，斟酌意藥太重，余言非此重劑不能壯氣生血，毋疑。幸李素信余醫，留坐茶點少待，服藥時許，家人報喜生一少爺，母子均安然矣。</p>
<p>癸巳孫來山尚書小姐，因寒癃閉二日，腹脹如鼓。李山農方伯知醫，曾治尚書濕病而愈，茲治小姐不效，素信余醫，代為薦診。少陽脈弦，知為虛痞，擬以柴胡半夏茯苓湯加減，汗解溺暢，遂愈。</p>
<p>京畿道徐叔鴻夫人，胸脹大痛，世醫誤以經閉三月癥瘕，治之幾危，延余診視。六脈相等，陽搏陰別，孕兆也。徐公曰：生過三胎，知無孕。余曰：十樣胎十樣生。年近四旬，氣血漸衰，正氣不敵，胎氣引動，素有肝氣，故脹痛。擬以安胎養血調和肝氣之品，請姑服之。以手試腹如伏雜狀<span class="校"><small class="雙行小字">伏雜意不可解</small></span>，即知是胎非病。徐公如約，次早來請，言真醫也，果胎跳矣。再擬數服全愈。至秋舉一子，即六少爺也。</p>
<p>乙未夏，京師霍亂轉筋急症，傾刻無救，一月之間，死有十數萬人。如前明崇禎六年之瘟疫相似也。余因刊有《辯瘟論霍亂論》，以行氣活血針刮各法，施散數十萬張，救活無算。適小妾亦得此症，如法救活。其他如法救活更無算。惟龔魯卿觀察，僕救活後戒食米食，不聽，食粥兩碗，症發不治而亡。</p>
<p>乙未，比部正郎歐陽伯春病傷寒，世醫誤以為瘟，治以苦寒之藥，不眠者三日，譫語揭被，狂叫大熱，舌苔黑刺，延余診視。脈洪無力，知為虛熱。以薑擦舌即白，的為傷寒，非瘟疫也。虛火上炎，內無實熱，擬以人參竹葉湯加減引火歸原之品。伊諸親多不敢主，幸伊姑丈比部郭斡臣力主服之遂安。四服全愈。</p>
<p>甲午，王子捷太史令媛感冒風寒，理宜解表和中，汗澈即愈，而世醫誤以犀角羚羊角等藥，引邪入內，不能言語，病劇。延余診視，脈沉緊，用羌活湯加附子、肉桂去黃芩、生地，一服能言，發出疹子而愈。</p>
<p>甲午冬，黃慎之殿撰傷寒，時醫以為冬瘟，治以元參論兩等寒藥二十餘日，煩躁不省人事，三日不能合眼，延余診視。脈數不及，知為胃氣欲絕之象。擬以人參湯加減引火歸原之劑，一服遂眠，至次午方醒。倩余道謝復診脈，復依方加減月余，全愈。</p>
<p>甲午，劉伯崇殿撰弟歸，感寒譫語，暴病驚人，延余診視。脈浮數，知為風寒化熱無汗，擬以羌活湯加減，一服汗解而愈。</p>
<p>甲午冬，程從周軍門少君紹周太守患喉痹，時醫誤以溫補治之，遂致喉腫水不下嚥三日矣，延余診視。脈沉細，余曰：此症肺胃腎虛，火上衝喉嚨成痹。單者重而雙者輕。最忌刀針刺破喉嚨，引毒入內不治。並忌溫藥助邪，散藥發邪，涼藥伏邪。誤服溫補助邪，項腫以致於此。余為先刺少商、商陽二穴出黑血，以淺毒貼金剛匙<span class="校"><small class="雙行小字">此句不可解</small></span>以拔毒，吹吳氏丹藥以消毒，擬以滋陰清肺湯加減以和解之。服藥時許飲水，晚間食粥，次日加托裏透膿之品數服，外潰內消而愈。</p>
<p>福建陸路提督程魁齊軍門年六旬傷寒，時醫以年老氣衰，重用參耆補藥，固邪於內，痰喘不眠，病劇，延余診視。脈緊數，知系閉塞寒邪，化熱痰喘。擬以小青龍湯加減解寒邪、疏通肺氣、化痰之品。僉曰年老氣衰，不可服。余曰：有症無損，開門逐盜之法，姑試少服。其弟從周軍門天姿過人，以為然。囑先服半，咳喘頓減，終服大好。依方加減，十日而愈。</p>
<p>京畿道胡岱青小姐年及笄時，腹痛如絞，時醫均以受寒，重用薑附肉桂，其疼逾甚，延余診視。脈澀，無寒症，因言人腹中有蛔、蚘、長、寸、線白等蟲九種，長蟲長一尺，不治。胡公言：曾便過尺長自由<span class="校"><small class="雙行小字">自由不可解，蓋為拼音輸入錯誤，疑為之蚘</small></span>。余囑即買花榻餅一個令服，再買榧子二斤炒如栗子，令吃數日，便出長白蟲數尺長無算<span class="校"><small class="雙行小字">無算即很多之意</small></span>，遂愈。</p>
<p>王小岑洗馬患目昏花不能視物，時醫以為肝熱，清風退火之藥，病逾甚，延余視。診脈沉細，知為氣虧內障，擬以八味還晴散去風藥，重加參耆。服三十餘劑，遂能視書寫字，適考試京察一等召見，簡放襄陽知府。</p>
<p>陳紫蓬太守在京投供五年，與余契交，患脫肛腫痛，時醫均為痔瘡治之，腫疼逾甚，延余診視。脈沉虛，年逾六旬，知為脫肛便血，急則治標。先以螺汁合梅片敷之減疼，內服滋陰清提補藥頓縮；外用椅墊，日曬大熱，輪換坐之；又以開水頻洗，數日而愈。</p>
<p>李虹若小軍機癉瘧，誤服他醫涼藥，病劇，延余診視。脈緊，間日一發，先冷後熱，譫語，四時方退，已二十餘日。自謂五臟皆空，病將不治。余言包治，擬以清脾飲加減。渠云最忌柴胡，余云此症必用柴胡和解少陽，姑試服之。過日又發，伊云柴胡不效，定不服矣。余診脈見緩，知邪將解，復強令服。瘧止，再以加減數服而愈，從此不信許<span class="校"><small class="雙行小字">相信贊許意</small></span>濟東大名醫矣。</p>
<p>戶部萬錫珩夫婦咳嗽晝夜不止，痰吐成盆，時醫用人參鹿茸等藥，痰咳逾甚，延余診視。脈洪數，知系風寒閉於肺中，擬以二陳導痰湯加麻黃，一服而愈。伊子書城黃疸秘結，十數日不便，時醫治以承氣湯。余診脈沉細，知系虛黃秘結，擬以茵陳潤導滋養氣血，使下焦氣化而能出矣。飲以豬蹄湯，十四日便通黃退，遂愈。</p>
<p>馮霖汝明府夫人胎中漏血，闔家驚慌，延余診。脈和緩，系胎漏而胎未動。擬以安胎養血之品，每月行血如經，十月而生，母子安然。</p>
<p>潘輝庭正郎令親楊姓病狂上屋，他醫均以犀角三黃湯，力主延余診視。脈洪無力，知系風寒未解，虛火上炎，擬參苓甘露飲加柴胡和解等品。伊同鄉多不為然，惟潘半信半疑，焚香拈鬮，得余藥方。囑一劑作三服，初服、次服安眠，終服愈矣。</p>
<p>張書城侍禦夫人病，每厥不省人事，諸醫均以肝風治之不效，延余診視。脈沉澀，知系鬱結氣厥，非肝風也。詢夫人生育否？答以無。年幾何？答以不惑。余曰：夫貴妻榮，何以氣鬱至此？夫人言理該如此，而事有不然者。余復詢張公納側室否？張曰：今春買一妾。余曰：後妃能逮下而小星抱衿與調樂，只君子有何鬱處<span class="校"><small class="雙行小字">此二句之意未明，不知如何斷句為是</small></span>？及至書房，余詰張公，具以告實，寢妾處時多。余曰：誰家郎能被汝呼也？無怪氣厥耳。遂擬以調氣和血之方，勸張公常宿夫人房為引，數服而愈。後遇張公笑余，醫外醫耳。</p>
<p>唐炳霖侍禦小姐，年已及笄，病劇，延余診視。脈澀，知為氣鬱。詢以母氏，唐曰：故。余曰：俗語能從討飯之母，不跟做官之父。小姐笑。復問兄嫂，唐曰：不和因得病。余曰：小姐自有家耳，諸事忍讓，何氣為詢。婿誰家？唐曰：待字。余曰：有高紹祥者，年弱冠，宦家公子，才貌均佳，今科備中，堪為良偶。唐頷之。因擬以調氣之品數服而愈。余與柳太守為媒，高允，請命於兄，津江縣知系<span class="校"><small class="雙行小字">應為知縣</small></span>查核病故，事寢。旋說與某主政偕老矣。</p>
<p>祁子和尚書之孫君司馬段少滄軍機之婿夫人產後傷寒，譫語病重，延余診視。脈緊有力，擬以葛根湯生化湯合參和解，一服汗澈而愈。</p>
<p>李有槻明府在京投供，患瘧數月，病勢沉重，諸醫罔效，延余診視。脈沉緊，知邪伏於太陰少陽之間。擬清脾飲加減，略重草果以解兩經之邪。外用胡椒末合蒜搗爛，置兩錢於兩關脈上，置椒蒜泥，用布條紮緊，一伏時拔出白泡泄邪，遂愈。</p>
<p>李筱垣太史患喉痹甚重，如法治癒，遂信余醫，過從有年。每逢公館眷屬失調，延余診視立痊，故情誼逾厚也。</p>
<p>兵部王銕珊夫人，胎中漏血，向言無孕。余以診脈流利不絕，認定為孕，以安胎養血之品治之。迨四個月後胎動，夫人猶曰無孕。王怒曰：私子也，何諱為？夫人亦恚其言穢。余勸曰：夫婦均年不惑無子，設他醫誤以病治，奈何？此情急之言，毋足怪。夫婦轉怒為喜。後舉一子，親朋賀筵。余曰：私子也。眾詢顛末，具以告，鹹大笑。</p>
<p>工部正郎楊樞孫暴受寒邪，上下氣隔，汗出如珠，腹脹如鼓，諸藥罔效，用稀涎散吐出兩大盆痰涎遂愈。此醫道所以有汗吐下和四要法也。</p>
<p>張文和公孫聯恩正郎夫人病劇，延余診視。脈細，知為氣虛中滿，非實脹也。擬以補中益氣湯，數服遂愈。</p>
<p>馮傑觀察子茂才進京鄉試，病痢，日廁無數，他醫重用桂附論斤。病劇，延余診視。脈數，知系熱邪，擬黃芩湯加減，一服見效。月餘，痢仍一日數次，改真人養臟湯數服，全愈。</p>
<p>吳燮臣司業父刑部毓春公咳喘呃逆，延余診視。脈七八至，將絕之候，服殿撰陳冠生方石膏、黃連多日，以至此劇。余擬腎氣湯加減，以救垂絕之陰陽，服之見效。次早來請，以為得手，至則見喘已輕，呃逆已止，精神大好。原可挽回，復依原方加以滋陰扶陽之品。適陳冠生至，持方連曰：火上添油也。余請示姓名，知為殿撰。曰：何知為熱？陳曰：脈數。曰：浮數為風熱，沉數為寒熱，洪數為大熱，數而有力為實熱，數而無力為虛熱。今數而無力，不及之象，猶燈油將盡，拍拍欲絕之候，添油猶恐不燃，若加滴水即滅矣。陳曰：脈之理微。曰：誠然，然優人胡琴二弦，三指挑撥，五音合調，君能之乎？陳曰：未習也。曰：以此即知脈理，未習故不知也。遂辭。燮臣司業送出，詢以病勢，余曰：若聽陳君主政，預備後事，不出三日也。旋陳病，自用苦寒之藥亦亡。</p>
<p>王惠棠員外，四旬無子，不能禦內，為之擬方滋補之劑，服數十帖。一日請診視姨太太，脈陰搏陽別，左大右小。余曰：喜脈，弄璋之兆。按月請診，果舉一男，後連生子。</p>
<p>侍郎許筠庵胸脘絞痛，他醫均為熱症，延余診視。脈沉，知為新受寒邪滯氣，胃脘作痛，非心疼也，擬排氣飲加減。公子樨筠內閣言素服肉桂，恐系受熱。余以脈論，的寒非熱，出詣李山農方伯，具以告。渠與許公郎舅至親兼知醫，急往請服余方，遂愈。</p>
<p>余往京十年，來往診視名公巨卿隨手而愈者，以舉其人焉。<span class="校"><small class="雙行小字">此處恐有脫漏</small></span>周錫恩，太史陳梅初，侍讀吳祖農，太史馮孟華，探花蒯禮卿，太史陳桂生，侍郎陳桂溪，太史王茂庵，中書周葆，戶部嗡<span class="校"><small class="雙行小字">疑當為翁</small></span>鼎臣，工部顏曾，州判韋篤臣，戶部宋芸子，太史陳嵋，戶部馮賡如中<span class="校"><small class="雙行小字">此處恐有誤</small></span>，國子監教授張拔臣，戶部區德霖，吏部嵩潤，禦茶房總辨方芰塘，參議姚幼庵，戶部李芝生，兵部彭積初，戶部龔引生，刑部正郎龔懷西，太史劉藹如，戶部正郎李小出，戶部鄔質義，戶部祁子和，工部尚書郭應中，工部徐乃秋，待禦陳順鑲，中書湯承慶，附監劉味齊，戶部許孝生，中書陳瑤圃，軍機郭之全，軍機範子蔭，戶部楊蓮甫，太史李牧之，軍機張弟兄秋<span class="校"><small class="雙行小字">此處有疑問</small></span>，太史左笏卿，刑部戴少懷，太史余鼎臣，總鎮武克訓，光祿寺覺羅炳成，考<span class="校"><small class="雙行小字">此處有疑問</small></span>，宗室徐葆生，刺史楊蔚霞，中書仇淶之，戶部左蘧生，司馬伍蘭蓀，中書何小溪，刑部張蔚森，工部鄭芷軒，光祿寺正卿何潤甫，工部員外王集，禮部員外鄭皋，刑部李文田，侍郎黎大均，刑部熊潤南，吏部劉金榜，通判楊爵修，典史曹兆福，正郎謝啟華，戶部朱光黻，太史沉桐，內閣朱珩，助教萬郎庭，戶部範幼坡，太史江忠立，戶部丁栻之，侍禦徐仲阮，兵部馮立齊，廣州知府曹顓枚，侍禦李模皋，侍禦李文輝，山西知縣祥蔭大挑，光祿寺評事鄭廷襄，侍禦鄭黻門，侍禦高袖海，知縣徐本立，河南知縣曾重伯，太史俞恪士，刑部鄰蘭樵，知縣湯伯英，優貢周甲三，太史裴五山，侍禦張次山，侍禦柏云卿，太史方德堃，四川合州知州陳香士，戶部吳效曾，知府熊經仲，太史李釗，雷州知府魏時钜，太史王兆蘭，河南開封知府徐道焜，侍禦馬吉璋，太史林貽書，太史陳兆文，太史丁道津，兵部黃書霖，知府彭向青，傳臚王錦堂正郎趙芝珊，太史高理堂，侍禦曾樹椿，正郎孫筱園，刑部崇源小所校饒芝祥，太史陳香輪，侍禦張畹農，軍機郭清安，安徽副將濮紫泉，軍機劉啟翰，正郎王紹廉，太史徐古香，軍機胡寶鐸，軍機章同知州楊知齊，海州知州徐壽衡，尚書吳渭濱，通州知州張弼臣，太史孫朝華，軍機許介侯，太史翁慶麟，知縣韋其廉，浙江知縣韋鼎，鄉試韋繼賢，戶部許鳳文鹽，過於大使張道宇，刑部劉光第，刑部朱益藩，太史淩文煥，廣東知縣黃儒荃，委署侍讀吳平泉，安徽知縣吳石卿，揀選知縣許拔庵，內閣全芸軒大使舒云亭，江蘇知縣魏學恒，綏陽縣知縣魏理云，柳州知府俞耕齊，山東知縣陸賡卿，吏部毛笱陔，戶部毛篤山，知府吳堪，知縣尹緝庵，知府李灼華，太史楊覲圭，兵部羅炳熔，知縣徐本華，知縣李小研，大常寺卿尹鷹若，太史岑云蠟太僕寺卿汪叔芾，內閣葉玉書，內閣關杏王宅正郎延清員，外藏濟臣，洗馬宮竹樓，山西平原知縣洪禧，知縣汪文銜，刑部昌頎，四晶宗室馮文蔚，閣學梁翎遠，太史白曾焯，刑部趙延璜，員外陳文銳，禮部景恩，宗室鎮國將軍黃珊庵，侍禦朱云甫，太史張友鶴，北通州馮志先同知楊望洲，知縣楊藝芳，大名道鄭芝岩，侍禦京察，浙江糧道巢夢芝，知縣趙心笙，南捕廳李新之，元亨金店葉鐸人，太史王小航，禮部鮑印亭，記名道羅程青，四川定遠縣，胡額蘭，舉人王彥泉，太史楊樹，內閣侍讀汪春榜，兵部楊廷桂，守備湖南提塘周瑞鑾，湖北東湖縣知縣孫啟瑞，工科連總叔，軍機王廷鈺，甯津知縣丁理堂，教諭陳金鼇，松藩總鎮陳梓琴，知縣袁葆生，兵部賈孝珍，山西知州徐子靜，中允儲冰薌，工部蓋永貞，平泉州知州楊登甲，刑部孔樾，農部膝均，知縣楊東皋，刑部楊維新，祟慶州錢開祜，戶部王承陛，東河同知區海峰，刑部余鼎三，太史劉培元福，山總鎮何慶濤，教習車誠一，內閣淩福彭，太史謝秀山，刑部魏學恒，山西河曲縣知縣曾紀雋，知縣王慶禔教授王仲連，侍講王季連，蔭生王幼連，舉人承蔭，正郎周葆禎，縣丞屠義容，昌平知州江瑞麟，知縣曾景釗，刑部曾伯陶襲伯蔡學淵，戶部何玉麟，知縣陳嘉言，太史楊鼎，新甘肅知縣關六生，軍機張樂山，知縣丁小春，同知縣育甫，州判英心垣，小析校徐芷帆，太史鄰亨先，員外鄒經甫，禮部鮑心增，吏部聶楫臣，禮部員外詹黻廷，禮部正郎楊覲宸戶部郭喬生，戶部郭蘭蓀，觀察汪范卿，宗人府主政袁葆生，兵部袁敏孫，正郎丁竹珊，中書黃篤瓚，中書朱夢霆，中書潛彝帆，中書林右臣，中書丁衡甫，吏部丁錫丞，吏部朱古科，刑部彭維鏞，戶部王承洛，司馬陳虞延羅家瑋，工科卞虞卿，花翎侍衛解兆鼎，金佐周沈兆，梁王治國馬、少輔祁子修、徐壽干、張少山、張振邦，藍翎侍衛許炳儀、秦輔亭、耿敘卿、葉少樓、饒居仁、馬俊臣、嚴文卿、張玉卿、朱虎員，武舉朱犀員武進士此均延。余胗視相得者，其他干人，逐日送診，不可勝記。是以醫名噪於京師，自愧何敢言醫，聊以小道濟人為懷耳。</p>
