<header><h1>傷寒明理論</h1></header>
<dl class="元資料" data-type="book">
<div><dt>作者</dt><dd>成無己</dd></div>
<div><dt>朝代</dt><dd>宋</dd></div>
<div><dt>年份</dt><dd><data value="1142">公元1142年</data></dd></div>
</dl>
<h2>序</h2>
<p>余嘗思歷代明醫。回骸起死。祛邪愈疾。非曰生而知之。必也祖述前聖之經。才高識妙。探微索隱。研究義理。得其旨趣。故無施而不可。且百病之急。無急於傷寒。或死或愈。止於六七日之間。十日以上。故漢張長沙感往昔之淪喪。傷橫夭之莫救。</p>
<p>撰為傷寒論數卷。三百九十七法。一百一十三方。為醫門之規繩。治病之宗本。然自漢逮今。千有餘年。唯王叔和得其旨趣。後人皆不得其門而入。是以其間少於注釋。闕於講義。自宋以來。名醫間有著述者。如龐安常作卒病論。朱肱作活人書。</p>
<p>韓祗和作微旨。王實作證治。雖皆互有闡明之義。然而未能盡張長沙之深意。聊攝成公。家世儒醫性識明敏。記問該博。撰述傷寒義。皆前人未經道者。指在定體分形析證。若同而異者明之。似是而非者辯之。釋戰栗有內外之診。論煩躁有陰陽之別。譫語鄭聲。令虛實之灼知。四逆與厥。使淺深之類明。始於發熱。終於勞復。</p>
<p>凡五十篇。目之曰明理論。所謂真得長沙公之旨趣也。使習醫之流。讀其論而知其理。識其證而別其病。胸次了然而無惑。顧不博哉。余家醫業五十載。究旨窮經。</p>
<p>自幼迄老。凡古今醫書。無不涉獵。觀此書義理燦然。不能默默。因序其略。</p>
<p><u>歲在壬戌八月望日錦　山嚴器之序。</u></p>
<h2>卷上</h2>
<h3>發熱</h3>
<p>傷寒發熱。何以明之。發熱者。謂怫怫然發於皮膚之間。　然散而成熱者是也。</p>
<p>與潮熱寒熱若同而異。與煩躁相類而非。煩躁者在內者也。潮熱之熱。有時而熱。</p>
<p>不失其時。寒熱之熱。寒已而熱。相繼而發。至於發熱。則無時而發也。有謂翕翕發熱者。有謂蒸蒸發熱者。此則輕重不同。表裡之區別爾。所謂翕翕發熱者。謂若合羽所覆。明其熱在外也。故與桂枝湯發汗以散之。所謂蒸蒸發熱者。謂若薰蒸之蒸。明其熱在內也。故與調胃承氣湯攻下以滌之。其發熱屬表者。即風寒客於皮膚。陽氣怫鬱所致也。其發熱屬裡者。即陽氣下陷。入陰中所致也。觀其熱所從來。</p>
<p>而汗下之證明其辨焉。若熱先自皮膚而發者。知邪氣之在外也。若熱先自裡生而發達於表者。知邪氣之在裡也。舉斯二者。為邪氣在表在裡而發熱也。惟其在表在裡俱有發熱。故邪在半表半裡者。亦有發熱之證。何者。以表證未罷。邪氣傳裡。裡未作實。是為半表半裡。其發熱者。或始自皮膚而漸傳裡熱或始自內熱而外達於表。蓋邪氣在表發熱者。則表熱裡不熱也。邪氣在裡發熱者。則裡熱甚而達於表也。其在半表半裡發熱者。則表裡俱發熱。而但熱又輕於純在表者也。經雖云。發熱惡寒者。發於陽也。無熱惡寒者。發於陰也然少陰病始得之。亦有反發熱者。蓋亦屬其表也。特與麻黃細辛附子湯發汗者是已。發熱為陽。寒之常也。一或陰陽俱虛與其下利新汗後。又皆惡其發熱也。經云。脈陰陽俱虛。熱不止者死。</p>
<p>下利發熱亦死。內經云。汗出輒復熱。而脈躁疾。不為汗衰。狂言不能食。此名陰陽交。交者死也。斯亦發熱也。詎可與尋常發熱一概而論耶。醫者更當明辨之。</p>
<h3>惡寒</h3>
<p>傷寒惡寒。何以明之。惡寒者。風寒客於榮衛之中也。惟其風寒客於榮衛。則洒淅然惡寒也。惟其榮衛之受風寒。則嗇嗇然不欲舒也。其惡寒者。非寒熱之寒也。又非惡風也。且惡風者見風至則惡矣。得以居密室之內。幃帳之中。則坦然自舒也。</p>
<p>至於惡寒者。則不待風而寒。雖身大熱而不欲去衣者是也。寒熱之熱。謂寒熱更作。熱至則寒無矣其惡寒雖發熱而不欲去衣也甚則至於向火被覆而猶不能遏其寒也。所以然者。由陰氣上入陽中。或陽微。或風虛相搏之所致也。惡寒一切屬表。雖裡證悉具。而微惡寒者。亦是表未解也。猶當先解其外。俟不惡寒為外解。</p>
<p>乃可攻裡也。經曰。發熱而惡寒者。發於陽也。無熱而惡寒者。發於陰也。謂如傷寒。</p>
<p>或已發熱。或未發熱。必惡寒者。謂繼之以發熱。此則發於陽也。若惡寒而蜷。脈沉細而緊者。此則發於陰也在陽者可發汗。在陰者可溫裡。惡寒雖悉屬表。而在表者亦有虛實之別。若汗出而惡寒者。則為表虛。無汗而惡寒者。則為表實。表虛可解肌。表實可發汗。又有止稱背惡寒者。背者胸中之府。諸陽受氣於胸中。而轉行於背。內經曰。人身之陰陽者。背為陽。腹為陰。陽氣不足。陰寒氣盛。則背為之惡寒。</p>
<p>若風寒在表而惡寒者。則一身盡寒矣。但背惡寒者。陰寒氣盛可知也。經所謂少陰病一二日。口中和而背惡寒者。當灸之。處以附子湯者是矣。又或乘陰氣不足。</p>
<p>陽氣內陷入陰中。表陽新虛。有背微惡寒者。經所謂傷寒無大熱。口燥渴心煩。背微惡寒者。白虎加人參湯主之者是也。二者一為陰寒氣盛。一為陽氣內陷。又何以明之也。且陰寒氣盛。豈又能消耗津液。故於少陰病則曰口中潤。如陽氣內陷。</p>
<p>則熱爍津液為干。故於太陽病。則口燥舌乾而渴也。二者均是背惡寒。要辨陰陽寒熱不同者。亦於口中潤燥可知。</p>
<h3>惡風</h3>
<p>傷寒惡風。何以明之。黃帝針經曰。衛氣者。所以溫分肉。充皮膚。肥腠理。司開闔者也。風邪中於衛也。則必惡風。何者。以風則傷衛。寒則傷榮。為風邪所中。於分肉不溫而熱矣。皮毛不充而緩矣。腠理失其肥。則疏而不密。開闔失其司則泄而不固。</p>
<p>是以惡風也。是惡風惡寒二者。均為表證。其惡風則比之惡寒而輕也。惡寒者，嗇嗇然增寒也。雖不當風。而自然寒矣。惡風者。謂常居密室之中。幃帳之內。則舒緩而無所畏也一或用扇。一或當風。淅淅然而惡者。此為惡風者也。惡寒則有屬於陽者。有屬於陰者。及其惡風者。悉屬於陽。非若惡寒之有陰陽也。三陰之證。並無惡風者以此也惡風雖悉在表。而發散又自不同。若無汗而惡風者。則為傷寒。當發其汗。若汗出而惡風者。則為中風。當解其肌。裡證雖具。而惡風未罷者。尤當先解其外也。又有發汗多亡陽。與其風濕皆有惡風之證。蓋以發汗。多漏不止則亡陽。外不固。是以惡風也。必以桂枝加附子湯溫其經。而固其衛。風濕相搏。骨節疼煩。濕勝自汗而皮腠不密。是以惡風也。必以甘草附子湯散其濕而實其衛。由是觀之。惡風屬乎衛者可知矣。</p>
<h3>寒熱</h3>
<p>傷寒寒熱。何以明之。寒熱者。謂往來寒熱也。經曰。邪正分爭。往來寒熱者。言邪氣之入也。而正氣不為之爭。則但熱而無寒也。乃有熱而寒者。謂其正氣與邪氣分爭。於是寒熱作矣。爭則氣鬱不發於外。而寒熱爭焉。爭甚則憤然而熱故寒已而熱作焉。茲乃寒熱之理也。或謂寒熱者。陰陽爭勝也。陽勝則熱。陰勝則寒。此陰陽之爭也。何則。蓋以寒為陰。而熱為陽裡為陰而表為陽。邪之客於表者為寒。邪與陽相爭。則為寒矣。邪之入於裡者為熱。邪與陰相爭。則為熱矣；其邪在半表半裡；外與陽爭而為寒。內與陰爭而為熱矣。表裡之不拘。內外之不定。或出或入。由是而寒熱且往且來也。是以往來寒熱屬半表半裡之證。邪居表多則多寒。邪居裡多則多熱。邪氣半在表半在裡。則寒熱亦半矣。審其寒熱多少。見其邪氣淺深矣。</p>
<p>小柴胡湯。專主往來寒熱。而又立成諸加減法。亦為邪氣在半表半裡。未有定處。</p>
<p>往來不常。又寒熱如瘧。與夫發熱惡寒。皆似而非也。然寒熱加瘧者。作止有時者也。及往來寒熱。則作止無時。或往或來。日有至於三五發者。甚者十數發。其與瘧狀有以異也。至於發熱惡寒者。為發熱時寒並不見。惡寒時熱不見也。不若此熱已而寒。寒已而熱者。雖然。應往來寒熱。屬半表半裡。當和解之。又有病至十余日。</p>
<p>而結熱在裡。復往來寒熱者。亦可與大柴胡湯下之。不可不知也。</p>
<h3>潮熱</h3>
<p>傷寒潮熱。何以明之。若潮水之潮。其來不失其時也。一日一發。指時而發者。謂之潮熱。若日三五發者。即是發熱。非潮熱也。潮熱屬陽明。必於日晡時發者。乃為潮熱。陽明者。屬胃土。應時則王於四季。應日則王於未申。經曰。陽明居中土也。萬物所歸。無所復傳。蓋邪氣入胃。謂之入腑。腑之為言聚也。若府庫之府焉。邪氣入於胃。而不復傳。邪氣鬱而為實熱。隨王而潮。是以日晡所發潮熱者。屬陽明也。惟其屬陽明。故潮熱為可下之證。經曰。潮熱者實也。又曰。潮熱者。此外欲解也。可攻其裡焉。又曰。其熱不潮。未可與承氣湯。即此觀之。潮熱屬於胃者。昭然可見焉。雖然。</p>
<p>潮熱為裡實可下之證。如或脈浮而緊。與其潮熱而利。或小便難。大便溏者。皆熱未全入腑。猶帶表邪。當和解其外。外解已而小便利。大便硬者。乃可攻之。或謂潮熱有屬太陽少陽者乎。少陽王於寅卯。太陽王於巳午。若熱於此時發者。為邪未入胃。豈得謂之潮熱。必待日晡所發者。乃謂之潮熱。見其邪在胃也。遇疾值病。詳而驗之。始見得真也。</p>
<h3>自汗</h3>
<p>傷寒自汗。何以明之。自汗者。謂不因發散而自然汗出者是也。內經曰。陽氣衛外而為固也。衛為陽。言衛護皮膚。肥實腠理。禁固津液。不得妄泄。汗者干之而出。邪氣干於衛氣。氣不能衛固於外。則皮膚為之緩。腠理為之疏。由是而津液妄泄。</p>
<p>然潤。　然出。謂之自汗也。如發熱自汗。出而不愈。此衛氣不和。風邪干於衛也。太陽中　。汗出惡寒。身熱而渴者。暑邪干於衛也。多汗出而濡。此其風濕甚者。</p>
<p>濕邪干於衛者也。是知衛氣固護津液。不令妄泄。必為邪氣干之而出也。風寒暑濕之毒。為四時之氣。中人則為傷寒。風與暑濕為邪。皆令自汗。惟寒邪傷人。獨不汗出。寒傷榮而不傷衛。衛無邪氣所干。則皮腠得以密。津液得以固。是以汗不出也。及其寒漸入裡。傳而為熱。則亦使自汗出也。蓋熱則榮衛通。腠理開而汗泄矣。</p>
<p>然自汗之證。又有表裡之別焉。虛實之異焉。若汗出惡風。及微惡寒者。皆表未解也。必待發散而後愈。至於漏不止而惡風。及發汗後惡寒者。又皆表之虛也。必待溫經而後愈。諸如此。皆邪氣在表也。若汗出不惡寒者。此為表解而裡未和也。經曰。陽明發熱汗出。此為越熱。又曰陽明病。發熱汗多者。急下之。又非若邪氣在表而汗出之可緩也。傷寒自汗之證為常也，設或汗出發潤。與其出之如油或大如貫珠。著身出而不流。皆為不治之證也。必手足俱周。遍身悉潤。　然一時間許。</p>
<p>煩熱已而身涼和。乃為佳矣。此則陰陽氣和。水升火降。榮衛通流。邪氣出而解者也。內經曰。陽之汗。以天地之雨名之。此之謂也。</p>
<h3>盜汗</h3>
<p>傷寒盜汗。何以明之。盜汗者。謂睡而汗出者也。自汗則不論睡與不睡。自然而出也。及盜汗者。不睡則不能汗出。方其睡也。湊湊然出焉。覺則止而不復出矣。雜病盜汗者。責其陽虛也。傷寒盜汗者。非若雜病之虛。是由邪氣在半表半裡使然也。</p>
<p>何者。若邪氣一切在表干於衛。則自然汗出也。此則邪氣侵行於裡。外連於表邪。</p>
<p>及睡則衛氣行於裡。乘表中陽氣不致。津液得泄。故但睡而汗出。覺則氣散於表。</p>
<p>而汗止矣經曰。微盜汗出。反惡寒者。表未解也。又陽明病。當作裡實。而脈浮者。云必盜汗。是猶有表邪故也。又三陽合病。目合自汗。是知盜汗為邪氣在半表半裡之間明矣。且自汗有為之虛者。有為之實者。其於盜汗之證。非若自汗有實者。悉當和表而已。不可不知也。</p>
<h3>頭汗</h3>
<p>傷寒頭汗。何以明之。頭者諸陽之會也。邪搏諸陽。津液上湊。則汗見於頭也。邪熱內蓄。蒸發腠理。遍身汗出者。謂之熱越。若身無汗。則熱不得越。熱蒸於陽。故但頭汗出也。何者。以三陰之經。皆上至頸胸中而還。不循於頭。獨諸陽脈上循於頭爾。</p>
<p>經曰。但頭汗出。身無汗。劑頸而還。小便不利。渴飲水漿。此為瘀熱在裡。身必發黃。</p>
<p>為熱不得越而上達者也。又熱入血室。與其虛煩。或陽明被火。及水結胸。皆但頭汗出也。俱是熱鬱於內。而不得越者也。此數者。或吐或下。皆欲除其熱也。或謂頭汗之證。悉屬陽明。而為裡熱也。而有不屬陽明。屬表者乎。且邪但在表者。則無頭汗之證。必也寒濕相搏。與邪氣半在表半在裡者。乃有頭汗也。傷寒五六日。已發汗而復下之。胸脅滿微結。小便不利。渴而不嘔。但頭汗出。往來寒熱心煩。及傷寒五六日。頭汗出。微惡寒。手足冷。心下滿。口不欲食。大便硬。脈細者。皆邪氣半在表半在裡。令頭汗出也。濕家但頭汗出。欲得被覆向火者。寒濕相搏。令頭汗出也。茲數者。皆邪氣所干。令頭額自然汗出。又不謂之逆。其小便不利。則惡見頭汗出也。</p>
<p>濕家下後。亦惡見頭汗出也。茲二者乃為頭汗之逆者也。何則。以小便不利而成關格。若頭汗出陽脫也。經云。關格不通。不得尿。頭無汗者生。有汗者死。濕家下後。</p>
<p>若額上汗出。而微喘者。亦陽脫也。經云。濕家下之。額上汗出。小便不利者死。下利不止者亦死。脈經曰。陽氣上出。汗見於頭者。蓋陽脫也。則知可治而治。知其不可治而不治。皆得十全之上者。在於明辨而審也。</p>
<h3>手足汗</h3>
<p>傷寒手足汗出。何以明之。四肢者。諸陽之本。而胃主四肢。手足汗出者。陽明之證也。陽經邪熱。傳並陽明。則手足為之汗出。陽明為津液之主。病則自汗出。其有自汗出者。有但頭汗出者。有手足汗出者。悉屬陽明也。何以使之然也。若一身自汗出者。謂之熱越。是熱外達者也。但頭汗出者。是熱不得越。而熱氣上達者也。及手足汗出者。為熱聚於胃。是津液之旁達也。經曰。手足　然汗出者。此大便必硬也。</p>
<p>手足　汗出。大便難而譫語者。下之則愈。由此觀之。手足汗出。為熱聚於胃可知矣。或謂熱聚於胃。而手足為之汗出。其寒聚於胃。而有手足汗出者乎。經曰。陽明中寒者。不能食。小便不利。手足　然汗出。此欲作痼瘕。即是中寒者也。且熱聚於胃。為可下之證。其寒聚於胃。為不可下。又何以明之。要明於此二者。必曰大便初硬後溏。以胃中冷。水穀不別故也。是以不可下者也。若大便難譫語者。為陽明證具。則是可下之證。臨病之際。宜須兩審。</p>
<h3>無汗</h3>
<p>傷寒無汗。何以明之。腠理者。津液湊泄之所為腠。文理縫會之中為理。津液為風暑濕氣所干。外湊皮腠者。則為自汗出。若寒邪中經。腠理致密。津液內滲。則無汗。</p>
<p>無汗之由。又有數種。如傷寒在表。及邪行於裡。或水飲內蓄。與亡陽久虛。皆令無汗。其傷寒無汗。則腠理致密也。風中於衛。則腠理開而自汗。寒中於榮。則無汗。謂腠理閉也。經所謂太陽病惡風無汗而喘。及脈浮緊無汗。發熱。及不汗出而煩躁。</p>
<p>陽明病反無汗而小便利。二三日嘔而咳。手足厥。苦頭痛。鼻干不得汗。脈浮無汗。</p>
<p>而喘。與其剛痙無汗。是數者。皆寒邪在表而無汗者也。其邪氣行於裡。無汗者。為邪氣在表熏發腠理則汗出。邪氣內傳。不外熏發者則無汗。經所謂陽明病無汗。</p>
<p>小便不利。心中懊　者。身必發黃。及傷寒發熱無汗。渴欲飲水。無表證者。白虎加人參湯主之。與夫三陰為病。不得有汗。是數者皆邪行於裡而無汗者也。其水飲內蓄而無汗者。為水飲散而為津液。津液布滲而為汗。既水飲內蓄而不行。則津液不足而無汗。經所謂服桂枝湯或下之。仍頭項強痛。翕翕發熱無汗。心下滿微痛。小便不利者。桂枝去桂加茯苓白朮湯主之。是津液內滲而無汗者也。其陽虛無汗者。諸陽為津液之主。陽虛則津液虛少。故無汗。經所謂脈浮而遲。遲為無陽。</p>
<p>不能作汗。其身必癢。陽明病反無汗。其身如蟲行皮中之狀。此以久虛故也。皆陽虛而無汗者也如是者理之常也。又焉得為異哉。一或當汗而不汗。服湯一劑。病證仍在。至於服三劑而不汗者。死病也。又熱病脈躁盛而不得汗者黃帝謂陽脈之極也。死。茲二者以無汗為真病。詎可與其余無汗者同日而語也。</p>
<h3>頭痛</h3>
<p>傷寒頭痛。何以明之。頭痛謂邪氣外在經絡。上攻於頭所致也。難經曰。三陽經受風寒。伏留而不去。則名厥頭痛。言三陽之經上於頭爾。然傷寒頭痛者。太陽專主也。何者。以太陽之經起於目內　。上額交巔。上入絡腦。經所謂太陽受病者。頭項痛。腰脊強。又曰七日病衰。頭痛少愈。雖然。陽明少陽亦有頭痛不若太陽之專主也。蓋太陽為病屬表。而頭痛專為主表證雖有風寒之不同。必待發散而後已太陽病頭痛發熱身疼腰痛。骨節疼痛。惡風無汗而喘者。傷寒也。麻黃湯主之。太陽病頭痛發熱。汗出惡風者。中風也。桂枝湯主之雖有傷寒六七日不大便。頭痛有熱者。而與調胃承氣湯下之者又云。若小便清者知熱不在裡。仍在表也。當與桂枝湯以頭痛未去雖不大便六七日。其小便清者。猶為在表。是知頭痛屬乎表者明矣。頭痛一切屬三陽經也。而陰病亦有頭痛乎。太陰少陰二經之脈。皆上至頸胸中而還。不上循頭。則多頭痛之證。惟厥陰之脈。循喉嚨之後。上入頏顙。連目上出額。與督脈會於巔。病亦有頭痛。經曰。乾嘔吐涎沫者。吳茱萸湯主之者是矣。</p>
<p>夫頭者精明之府也。神明居之。小小邪氣作為頭痛者。必曰發散而可也。其或痛甚。入連於腦。而手足寒者。又為真病。豈能發散而已哉。嗚呼。頭痛為外疾猶有不可治者。又矧臟腑之疾乎。</p>
<h3>項強</h3>
<p>傷寒項強。何以明之。太陽脈起於目內　。上額交巔。上入絡腦。還出別下項。循肩臂內挾脊。抵腰中。經曰。太陽之病。項背強痛而惡寒。以太陽感受風寒。則經脈不利。而項為之急。頸為之強爾。傷寒頸項強急者。太陽表證也。必發散而解之可也。</p>
<p>太陽病。項背強KT　KT　。反汗出惡風者。桂枝加葛根湯主之。太陽病項背強KT　KT　。無汗惡風者。葛根湯主之。是皆發散之劑也。二者均是項背強而發散。又有輕重者。</p>
<p>蓋發熱汗出惡風者為表虛。表虛者可解肌。無汗惡風者為表實。表實者可發汗。</p>
<p>是以為治不同也。桂枝加葛根湯方。是桂枝加麻黃葛根。又葛根湯方。亦是桂枝湯中加麻黃葛根。深詳究之。無汗惡風為表實。正可發汗。則於桂枝湯中加葛根麻黃為當矣。汗出惡風為表虛。表虛者可解肌。恐是桂枝湯中。但加葛根。而不加麻黃也幾音殊。幾引頸之貌。幾短羽鳥也。短羽之鳥。不能飛騰。動則先伸引其頭爾。項背強者。動亦如之。非若幾案之幾而偃屈也。太陽傷寒項背強。其或太陽中風。加之寒濕而成痙者。亦項強也。經曰。病者身熱足寒。頸項強急。惡寒時頭熱。面赤目脈赤。獨頭面搖。卒口噤。背反張者。痙病也。金匱耍略曰。太陽病其證項背強KTKT　然。脈反沉遲者。此為痙。桂枝加栝蔞湯主之。雖項背強。然太陽病表證。悉當發散。又有結胸病者。項亦強如柔　狀。下之則和。宜大陷胸湯丸主之。臨病之際。</p>
<p>審其表裡。可汗可下。隨證投湯則萬全矣。</p>
<h3>頭眩</h3>
<p>傷寒頭眩。何以明之　非毛而見其毛。眩非玄而見其玄。　為眼花。眩為眼黑。眩也運也冒也。三者形俱相近。有謂之眩運者有謂之眩冒者運為運轉之運。世謂之頭旋者是矣。冒為蒙冒之冒世謂之昏迷者是矣少陽之為病口苦咽乾目眩。</p>
<p>以少陽居表裡之間表邪所傳。漸行於裡。表中陽虛故時時目眩也。二陽並病。頭項強痛。或眩運眩冒者。以少陽與太陽並病。故眩者責其虛也。傷寒有起則頭眩與眩冒者。皆發汗吐下後所致。是知其陽虛也故針經有曰上虛則眩。下虛則厥眩雖為虛。而風家亦有眩者。蓋風主運動故爾。傷寒陽明病。但頭眩不惡寒。故能食而咳。其人必咽痛。為陽明中風。是風亦主頭眩也。諸如此者。皆非逆也。及其諸逆。發汗劇者言。亂目眩者死。命將難全。嗚呼。病勢已成。可得半愈。及病勢已深。雖神醫其能已之耶。</p>
<h3>胸脅滿</h3>
<p>傷寒胸脅滿。何以明之。胸脅滿者。謂胸膈間氣塞滿悶也。非心下滿者也。脅滿者。</p>
<p>謂脅肋下氣脹填滿也。非腹滿者也。邪氣自表傳裡。必先自胸膈。已次經心脅而入胃。邪氣入胃。為入府也。是以胸滿多帶表症。脅滿者。當半表半裡症也。經曰。下後脈促胸滿者。桂枝去芍藥湯主之。又曰。太陽與陽明合病。喘而胸滿者不可下。</p>
<p>宜麻黃湯。是胸滿屬表。而須發汗者也。蓋胸中至表猶近也。及脅者則更不言發汗。但和解而已經曰。設胸滿脅痛者。與小柴胡湯。又曰。胸滿不去者。小柴胡湯主之。本太陽病不解。傳入少陽者。脅下硬滿。乾嘔不能食。往來寒熱。脈沉緊者。小柴胡湯主之。是知脅滿屬半表半裡明矣。大抵胸脅滿。以邪氣初入裡。未停留為實。</p>
<p>氣鬱積而不行。致生滿也。和解斯可矣。若邪氣留於胸中。聚而為實者。非涌吐則不可已。故華佗曰。四日在胸。吐之則愈。是邪氣已收斂而不散漫者。則可吐之。內經曰。其高者因而越之。病在胸膈之上為高。越之為吐也。經曰。病在胸中當吐之。</p>
<p>發汗若下之而煩熱。胸中窒者。則以梔子豉湯吐之。若胸中痞硬。氣上衝咽喉。不得息者。此為胸中有寒也。則以瓜蒂散吐之。二者均是吐劑。梔子豉湯吐胸中虛煩客熱也。瓜蒂散吐胸中痰實宿寒也。若能審明藥劑之輕重。辨別邪氣之淺深。</p>
<p>對症投湯。不為效者。未之有也。</p>
<h3>心下滿</h3>
<p>傷寒心下滿。何以明之。心下滿者。謂正當心下高起滿硬者是矣。不經下後而滿者。則有吐下之殊。若下後心下滿者。又有結胸痞氣之別。經曰。病患手足厥冷。脈乍緊。邪結在胸中。心中滿而煩。飢不能食者。病在胸中。當須吐之。又曰。脈浮而大。</p>
<p>心下反硬有熱。屬臟者攻之。不令發汗。屬腑者不令攻之。茲二者。為不經汗下而心下滿者。或吐之。或下之。看其邪氣之高下。高者則因而越之。下者則因而竭之。</p>
<p>要在泄其邪也。至於陽明病。雖心下硬滿。又未可攻。經曰。陽明病心下硬滿者。不可攻之。攻之利遂不止者死。利止者愈。是邪氣自表傳裡。至於心下留結為實者。</p>
<p>則不可下。乃吐之可也。若未全為實者。則不可下。故有此戒也。又邪氣在表。未應下而強下之。邪氣乘虛結於心下。實者硬滿而痛為結胸。虛者滿而不痛為虛痞。</p>
<p>經曰。嘔而發熱者。柴胡湯證具。而以他藥下之。柴胡證仍在者。復與柴胡湯。此雖己下之不為逆。必蒸蒸而振。卻復發熱。汗出而解。若心下滿而硬痛者。此為結胸也。但滿而不痛者。此為虛痞。蓋實邪留結。則為硬為痛。虛邪留滯。則但滿而不硬痛也。結胸熱實。脈沉而緊。心下痛。按之石硬者。大陷胸湯主之。明其邪實可知矣。</p>
<p>脈浮而緊。而反下之。邪反入裡則作痞。按之自濡。但氣痞耳。明其邪虛可知矣。病發於陽。而反下之。熱入因作結胸。病發於陰。而反下之。因作痞。表邪未罷。醫反下之。胃中空虛。客氣動隔。陽氣內陷。心中因硬。則為結胸。須陷胸湯丸攻之可也。傷寒中風。醫反下之。心下痞硬而滿。醫見心下痞。謂病不盡。而復下之。其痞益甚。此非結熱。但以胃中空虛。客氣上逆。故使硬也。須諸瀉心湯散可也。二者俱是心下滿硬。一為虛。一為實。凡投湯者大須詳審。結胸雖為實邪。眾皆共知。當用陷胸湯丸下之。或脈浮大者。則不可下。下之則死。即是猶帶表邪。未全結實。下之重虛其裡。邪深結則死。設或結胸形證悉具。而加之煩躁者。又為不治之疾。藥之所以能勝邪者。必待胃氣施布。藥力始能溫。汗吐下之。以逐其邪氣。邪氣勝。胃氣絕者。湯藥縱下胃氣不能施布。雖神丹其何能為效也。</p>
<h3>腹滿</h3>
<p>傷寒腹滿。何以明之。腹滿者。俗謂之肚脹是也。華佗曰。傷寒一日在皮。二日在膚三日在肌。四日在胸。五日在腹。六日入胃。入胃謂入腑也。是在腹也。猶未全入裡者。雖腹滿為裡證。故亦有淺深之別。經曰。表已解而內不消。非大滿猶生寒熱。則病不除。是其未全入腑。若大滿大實。堅有燥屎。自可除下之。雖四五日不能為禍。</p>
<p>謂之邪氣已入腑也。傷寒邪入腹。是裡證已深。故腹滿乃可下之者多矣。如經曰。</p>
<p>其熱不潮。未可與承氣湯。若腹大滿不通者。可與小承氣湯。發汗不解。腹滿痛者急下之。本太陽病。醫反下之。因而腹滿時痛者。屬太陰也。桂枝加芍藥湯主之。大實痛者。桂枝加大黃湯主之。少陰病腹脹。不大便者。急下之。諸如此者。皆為裡證是也。雖曰腹中滿痛者。此為實也。當下去之。然腹滿不減者。則為實也。若腹滿時減者。又為虛也。則不可下。經曰。</p>
<p>腹滿不減。減不足言。當下之。金匱要略曰。腹滿時減復如故。此虛寒從下上也。當以溫藥和之。蓋虛氣留滯。亦為之脹。但比之實者。不至堅痛也。大抵腹滿屬太陰證也。陽熱為邪者。則腹滿而咽乾。陰寒為邪者。則腹滿而吐。食不下。自利益甚。時腹自痛。太陰者脾土也。治中央。故專主腹滿之候。</p>
<p>又發汗吐下之後。因而成腹滿者。皆邪氣乘虛內客為之。而所主又各不同。經曰。</p>
<p>發汗後腹脹滿者。厚朴生薑甘草半夏人參湯主之。傷寒吐後腹脹滿者。調胃承氣湯主之。傷寒下後。心煩腹脹滿。臥起不安者。梔子厚朴湯主之。三者有當溫者。</p>
<p>有當下者。有當吐者。何邪氣不一也。且發汗後腹滿當溫之。邪氣在表。因發散則邪去。胃為津液之主。發汗亡陽。則胃氣虛而不能敷布。諸氣壅滯。而為脹滿。是當溫散可也。吐後腹滿可下之。邪氣在胸者。則可吐之。吐之邪去則安。若吐後邪氣不去。加之腹脹滿者。是胸中之邪。下傳入胃。壅而為實。故生脹滿。當須下之可也。</p>
<p>下後腹滿可吐者。邪氣在表。未傳入腑。而妄下之。邪自表乘虛而入。郁於胸中。而為虛煩。氣上下不得通利者。腹為之滿。故當吐之可也。凡為醫者。要識邪氣所起所在。審其所起。知邪氣之由來。觀其所在。知邪氣之虛實。發汗吐下之不瘥。溫補針艾之適當。則十全之功。自可得也。</p>
<h3>少腹滿</h3>
<p>傷寒少腹滿者。何以明之。少腹滿者。臍下滿是也。少腹者。下焦所治。難經曰。下焦者。當膀胱上口。主分別清濁。其治在臍下。邪氣自上而下。至於下焦。結而不利。故少腹滿也。胸中滿。心下滿。皆氣爾。即無物也。及腹滿者。又有燥屎為之者。至於少腹滿者。非止氣也。必有物聚於此。而為之滿爾。所以然者。身半以上。同天之陽。清陽歸之。身半以下。同地之陰。濁陰歸之。清者在上。而濁者在下。內經謂清陽出上竅。濁陰出下竅。當出不出。積而為滿。是在上而滿者氣也。在下而滿者物也。所謂物者。溺與血爾。邪氣聚於下焦。則津液不得通。血氣不得行。或溺或血。留滯於下。</p>
<p>是生脹滿。而硬痛也。若從心下至少腹。皆硬滿而痛者。是邪實也。須大陷胸湯下之。若但少腹硬滿而痛。小便利者。則是蓄血之症。小便不利者。則是溺澀之症。經曰。少腹滿。應小便不利。今反利者。為有血也。又曰。少腹硬。小便不利者。為無血也。</p>
<p>小便自利。其人如狂者。血症諦也。其小便利而少腹滿者。為太陽隨經。瘀血在裡。</p>
<p>太陽自入腑者也。經曰。太陽病不解。熱結膀胱。其人如狂。血自下。下者愈。其外未解者。尚未可攻。當先解外。外解已。但少腹急結者。乃可攻之。桃仁承氣湯主之。是少腹硬滿。為物聚於下可知矣。滲之利之。參酌隨宜。可為上工。</p>
<h3>煩熱</h3>
<p>傷寒煩熱。何以明之。煩者熱也。與發熱若同而異也。發熱者。怫怫然發於肌表。有時而已者是也。煩者為煩而熱。無時而歇者是也。二者均是表熱。而煩熱為熱所煩。非若發熱而時發時止也。故謂之煩熱。經曰病患煩熱。汗出則解。又曰。發汗已解。半日許復煩。脈浮數者。再與桂枝湯。又曰。服桂枝湯。反煩不解者。先刺風池風府。卻與桂枝湯則愈。即此觀之。煩為表熱明矣。故又有煩疼。即是熱疼。又有煩渴。</p>
<p>即是熱渴也。以煩為熱。又何疑焉。至於胸中煩。心中煩。內虛煩。須皆以煩為熱。設傷寒至六七日。手足三部脈皆至。大煩而口噤不能言。其人躁擾者。與脈和大煩。</p>
<p>目重瞼內際黃者。又皆為欲解。所以言大煩者。以肌表大熱。則是邪熱欲去。泄達於外也。故為欲解。內經曰。謹熟陰陽。以意調之。</p>
<h3>虛煩</h3>
<p>傷寒虛煩。何以明之。虛煩者。心中郁鬱而煩也。有胸中煩。有心中煩。有虛煩。諸如此者。皆熱也。若止云煩者。表熱也。及其邪熱傳裡。故有胸中煩。心中煩。虛煩之別。</p>
<p>三者要在觀其熱所從來。審其虛實而治。為不同也。如不經發汗吐下而煩者。則是傳經之熱。不作膈實者。但多和解而已。故經曰。心煩喜嘔。或胸中煩而不嘔者。</p>
<p>小柴胡湯主之。少陰病二三日。心中煩不得臥者。黃連阿膠湯主之。少陰病。胸滿心煩者。豬膚湯主之。是皆利解而徹熱者也。若因吐下發汗後而煩者。則是內陷之煩。但多涌吐而已。發汗吐下後。虛劇不得眠。若劇者必反覆顛倒。心中懊　者。</p>
<p>梔子豉湯主之。若少氣者。梔子甘草豉湯主之。若嘔者。梔子生薑豉湯主之。心煩腹滿。臥起不安者。梔子厚朴湯主之。丸藥大下後。身熱不去。微煩者。梔子乾薑湯主之。是皆取其吐而涌其熱者也。虛煩之狀。心中溫溫然欲吐。憒憒然無奈。欲嘔不嘔。擾擾亂亂。是名煩也。非吐則不能已。經曰。下利後更煩。按之心下濡者。為虛煩也。宜梔子豉湯。脈乍結。心中滿而煩。飢不能食者。病在胸中。瓜蒂散。二者症均是煩也。藥均是吐也。而又輕重之不同。吐下發汗後。邪氣乘虛而入為煩者。則謂之虛煩。與梔子豉湯。則是吐劑之輕者。不因吐下發汗後。邪氣結於胸中。則為膈實。與瓜蒂散。則是吐劑之重者。又陽明病。不吐不下心煩者。則是煩之實者也。與調胃承氣湯下之。傷寒二三日。心中悸而煩者。則是煩之虛者也。與小建中湯補之。煩為熱也。悸而復煩為虛者。以悸為虛。悸甚而煩。故為虛也。少陽之邪入腑者。</p>
<p>煩而悸。則為熱也。大抵先煩而悸者。是為熱也。先悸而煩者。是為虛也。內經曰。治病必先求其本。誠哉是言也。</p>
<h3>煩躁</h3>
<p>傷寒煩躁。何以明之。煩為擾擾而煩。躁為憤躁之躁。合而言之。煩躁為熱也。析而分之。煩也躁也。有陰陽之別焉。煩、陽也。躁、陰也。煩為熱之輕者。躁為熱之甚者。經有煩疼、煩滿、煩渴、虛煩。皆以煩為熱也。有不煩而燥者。為怫怫然便作躁悶。此為陰盛隔陽也。雖大躁欲於泥水中臥。但飲水不得入口者是矣。所謂煩躁者。謂先煩漸至躁也。所謂躁煩者。謂先發躁而迤邐復煩者也。煩躁之由。又為不同。有邪氣在表而煩躁者。有邪氣在裡而煩躁者。有因火劫而煩躁者。有陽虛而煩躁者。</p>
<p>有陰盛而煩躁者。皆不同也。經曰。當汗不汗。其人煩躁。太陽中風。脈浮而緊。不汗出而煩躁。大青龍湯主之者。是邪氣在表而煩躁者也。病患不大便五六日。繞臍痛。煩躁。發作有時。此有燥屎也。是邪氣在裡而煩躁者也。太陽病。以火熏之不得汗。其人必躁。太陽病二日反躁。火熨其背。令人大汗出。大熱入胃。躁煩者。火劫令煩躁者也。陽微發汗。躁不得眠。與之下後復發汗。晝日煩躁不得眠。夜而安靜。不嘔不渴。無表證。脈沉微。身無大熱者。乾薑附子湯主之者。及發汗若下之病。仍不去煩躁者。茯苓四逆湯主之者。陽虛煩躁者也。少陰病。吐利手足冷。煩躁欲死者。</p>
<p>吳茱萸湯主之者。陰盛而煩躁者也。諸如此者。症之常也。非逆也。設或結胸症悉具。煩躁者死。發熱下利。厥逆。躁不得臥者死。少陰病。吐利煩躁四逆者死。少陰病。</p>
<p>四逆惡寒。而身蜷。脈不至。不煩而躁者死。少陰病五六日自利。復煩躁不得臥寐者死。是數者。又皆為不治之症。嗚呼。煩躁為常有之疾。復有諸不治之症。臨病者之側。又當熟審焉。</p>
<h3>懊</h3>
<p>傷寒懊　。何以明之。懊者懊惱之懊。　者郁悶之貌。即心中懊懊惱惱。煩煩　。</p>
<p>郁郁然不舒暢。憤憤然無奈。比之煩悶而甚者。懊　也。由下後表中陽邪乘虛內陷。鬱而不發。結伏於胸心之間。故如是也。經曰。表未解。醫反下之。胃中空虛。客氣動膈。心中懊　。又曰。下之益煩。心中懊　如飢。即是陽氣內陷。為諸懊　也。其治之法。或吐之。或下之。若發汗吐下後。虛煩不得眠。劇者必反覆顛倒。心中懊　。與陽明病下之。其外有熱。手足溫而不結胸。心中懊　。飢不能食。但頭汗出。二者為邪熱鬱於胸中。當須梔子豉湯吐之。以涌其結熱也。陽明病下之。心中懊　而煩。</p>
<p>胃中有燥屎者。與陽明病無汗。小便不利。心中懊　者。必發黃。二者為邪熱結於胃中。當須大承氣湯、茵陳湯攻之。以滌其內熱也。識諸此者。吐下之不瘥。湯劑之適當。則無不愈者。一或當汗反吐。療熱以溫。則變證百出。斑出黃生者多矣。其為醫者。請精究之。</p>
<h3>舌上苔</h3>
<p>傷寒舌上苔。何以明之。舌者心之官。法應南方火。本紅而澤。傷寒三四日已後。舌上有膜。白滑如苔。甚者或燥或澀。或黃或黑。是數者。熱氣淺深之謂也。邪氣在表者。舌上即無苔。及邪氣傳裡。津液結搏。則舌上生苔也。寒邪初傳。未全成熱。或在半表。或在半裡。或邪氣客於胸中者。皆舌上苔白而滑也。經曰。舌上如苔者。以丹田有熱。胸中有寒。邪初傳入裡者也。陽明病脅下硬滿。不大便而嘔。舌上白苔者。</p>
<p>可與小柴胡湯。是邪氣在半表半裡者也。陽明病若下之。則胃中空虛。客氣動膈。</p>
<p>心中懊　。舌上苔者。梔子豉湯主之。是邪客於胸中者也。臟結宜若可下。舌上苔滑者。則云不可攻也。是邪未全成熱。猶帶表寒故也。及其邪傳為熱。則舌之苔。不滑而澀也。經曰。傷寒七八日不解。熱結在裡。表裡俱熱。時時惡風大渴。舌大干燥而煩。欲飲水數升者。白虎加人參湯主之。是熱耗津液。而滑者已干也。若熱聚於胃。則舌為之黃。是熱已深也。金匱要略曰。舌黃未下者下之。黃自去。若舌上色黑者。又為熱之極也。黃帝針經曰。熱病口乾舌黑者死。以心為君主之官。開竅於舌。</p>
<p>黑為腎色。見於心部。心者火。腎者水。邪熱已極。鬼賊相刑。故知必死。觀其口舌。亦可見其逆順矣。</p>
<h3>衄血</h3>
<p>傷寒衄者。何以明之。鼻中血出者是也。雜病衄者。責熱在裡。傷寒衄者。責熱在表。</p>
<p>何以言之。病源曰。心主血。肝藏血。肺主氣。開竅於鼻。血得熱則散。隨氣上從鼻中出。則為衄。是雜病者。責在裡熱也。經曰。傷寒脈浮緊不發汗。因致衄者。宜麻黃湯。</p>
<p>傷寒不大便六七日。頭痛有熱者。與小承氣湯。其小便清者。知不在裡。仍在表也。</p>
<p>當須發汗。若頭痛者必衄。宜桂枝湯。以此觀之。是傷寒衄者。責其表熱也。千金翼曰。吐血有三種。一曰肺疽。二曰傷胃。三曰內衄。既吐血家謂之內衄。則其鼻中出血者。可謂之外衄。是經絡之血妄行也。經絡熱盛。陽氣臃重。迫血妄行。出於鼻則為衄。</p>
<p>經曰。其人發煩目瞑。劇者必衄。衄乃解。所以然者。陽氣重故也。又曰。陽盛則欲衄。陰虛小便難。言衄為經中陽盛也。凡傷寒脈浮。鼻中燥口燥。但欲漱水。不欲咽者。是欲衄也。經曰。陽明病口乾鼻燥。能食者則衄。又有不應發汗而強發汗。因致衄者。經曰。少陰病但厥無汗。而強發之。必動其血。未知從何道出。或從口鼻。或從目出。是名下厥上竭。為難治是也。衄家難為邪熱在經。而又不可發汗。經曰。衄家不可發汗。發汗則額上陷。脈急緊。直視不能　。不得眠。前云桂枝湯麻黃湯治衄者。非治衄也。即是發散經中邪氣耳。若邪氣不得發散。壅盛於經。逼迫於血。則因致衄也。即非桂枝麻黃湯專治衄也。太陽病脈浮緊。發熱身無汗。自衄者愈。是經中之邪。隨血而散則解矣。故知衄者。不待桂枝湯麻黃湯發散之也。衄者若但頭汗出。身無汗。及汗出不至足者死。黃帝又皆以為不治之疾。臨病之際。審而治之。則不失矣。</p>
<h3>噦</h3>
<p>傷寒噦者。何以明之。噦者俗謂之咳逆者是也。KT　（音噎）近於噦。KT　者但胸喉間氣。KT　塞不得下通。</p>
<p>然而無聲也。若噦則吃吃然有聲者是也。噦者成金也。胃受疾故噦。</p>
<p>噦也。KT　皆胃之疾。但輕重有差爾。虛寒相搏。反飲水令汗大出。水得寒氣。冷必相搏。其人即KT　。言胃氣虛竭也。傷寒大吐大下之後。極虛復極汗出者。其人外氣怫鬱。復與之水。以發其汗。因得噦。所以然者。胃中寒冷故也。又胃中虛冷。不能食者。飲水則噦。即是觀之噦、KT　皆胃疾可知矣。經曰。趺陽脈浮。則為氣KT　。脈滑則為噦。此為醫咎。責虛取實之過也。大抵妄下之後。胃虛氣逆。則成噦也。經曰。濕家若下之太早則噦。本虛攻其熱則噦。而陽明病不能食。攻其熱必噦。諸如此者。皆下之後。胃虛而噦者也。然KT　者正為水寒相搏。必曰小青龍湯去麻黃加附子而可矣。至於噦者。則又熱氣壅鬱。氣不得通而成者也。輕者有和解之證。重者有攻下之候。經曰。有潮熱時時噦。與小柴胡湯者。即是和解之證也。噦而腹滿。視其前後。</p>
<p>知何部不利。利之則愈。即可攻下之候也。傷寒至於噦。則病已極也。非若渴煩等輕緩之候。如太陽中風。以火劫發汗。陰陽俱虛竭。身體枯燥。但頭汗出。劑頸而還。</p>
<p>腹滿微喘。口乾咽爛。或不大便。久則譫語。甚者至噦。是言其極也。又不尿。腹滿加噦者不治。是為真病。其若是者。雖有神醫之術。當斯脫絕之候。又何以措其手足哉。</p>
<h3>咳</h3>
<p>傷寒咳者。何以明之。咳者聲咳之咳。俗謂之嗽者是也。肺主氣。形寒飲冷則傷之。</p>
<p>使氣上而不下。逆而不收。沖擊膈咽。令喉中淫淫如癢。習習如梗。是令咳也。甚者續續不已。連連不止。坐臥不安。語言不竟。動引百骸。聲聞四近矣。咳之由來。有肺寒而咳者。有停飲而咳者。有邪氣在半表半裡而咳者。雖同曰咳。而治各不同也。</p>
<p>內經曰。肺之令人咳。何也。皮毛者肺之合也。皮毛先受寒氣。寒氣以從其合也。其寒飲食入胃。從肺脈上至於肺。肺寒則外內合邪。因而客之。則為咳嗽者。是肺寒而咳也。傷寒表不解。心下有水氣。乾嘔發熱而咳。小青龍湯主之。少陰病腹痛。小便不利。四肢沉重疼痛。自下利者。此為有水氣。其人或咳者真武東加五味子細辛乾薑主之。二者是停飲而咳者也。雖皆為水飲所作。而小青龍場所主。為水飲與表寒相合而咳者。真武湯所主。為水飲與裡寒相合而咳者。又不可不知也。傷寒中風。往來寒熱。胸脅苦滿。默默不欲飲食。心煩喜嘔或咳者。小柴胡湯去人參大棗生薑。加乾薑五味子主之。少陰病四逆。其人或咳者四逆散加乾薑五味子主之。二者是邪氣自表傳裡而咳者。雖皆為邪氣傳裡。而小柴胡湯所主。為陽邪傳裡。動肺而咳者。四逆散所主。為陰邪傳裡。動肺而咳者。又不可不識也。表、寒也。裡、寒也。挾水飲則必動肺。</p>
<p>以形寒寒飲則傷肺故也。陽、邪也。陰、邪也。自表傳裡。則必動肺。以臟真高於肺故也。咳為肺疾。治之必發散而可矣。而又有不可發汗者。</p>
<p>經曰。咳而小便利者。不可發汗。發汗則四肢厥逆冷。又曰。咳而發汗。蜷而苦滿。腹中復堅。茲雖逆也。又脈散者。為心火刑於肺金。鬼賊相刑必死。臨病之側。可不察之。</p>
<h2>卷中</h2>
<h3>喘</h3>
<p>傷寒喘者。何以明之。肺主氣。形寒飲冷則傷肺。故其氣逆而上行。沖沖而氣急。喝喝而息數。張口抬肩。搖身滾肚。是為喘也。傷寒喘者。有邪氣在表。氣不利而喘者。</p>
<p>有水氣之氣射肺而喘者。各不同也。喘家作桂枝加厚朴杏仁湯。太陽病頭痛發熱。身疼腰痛。骨節疼痛。惡風無汗而喘者。發汗後。飲水多必喘。以水灌之亦喘。傷寒心下有水氣。乾嘔發熱而咳或喘者。小青龍湯去麻黃加杏仁主之。是欲發散水寒也。經曰。喘而汗出者。與葛根黃芩黃連湯以利之。汗出而喘者。與麻黃杏子甘草石膏湯以發之。二者如何而然也。且邪氣內攻。氣逆不利而喘者。因喘而汗出。見其邪氣在裡也。雖表未解。未可和之。若邪氣外盛壅遏。使氣不利而喘者。雖汗而喘不已。見其邪氣在表也。雖經汗下。亦可發之。此亦古人之奧義。傷寒止於邪氣在表而喘者。心腹必濡而不堅。設或腹滿而喘。則又為可下之證。經曰。短氣腹滿而喘。有潮熱者。此外欲解。可攻裡也。為因滿脹而喘矣。又或邪氣內盛。正氣欲脫。氣壅上逆。亦主喘也。經曰。直視譫語喘滿者死。又汗出發潤。喘不休者。此為肺絕。身汗如油。喘而不休。此為命絕。皆為不治之喘也。省疾問病。更宜消息。</p>
<h3>嘔吐</h3>
<p>傷寒嘔吐。何以明之。嘔者有聲者也。俗謂之　。吐者吐出其物也。故有乾嘔。而無干吐。是以於嘔則曰食穀欲嘔。</p>
<p>及吐則曰飲食入口即吐。則嘔吐之有輕重可知矣。傷寒嘔。有責於熱者。有責於寒者。至於吐家。則悉言虛冷也。經曰。太陰之為病。</p>
<p>腹滿而吐。食不下。自利益甚。時腹自痛。又曰。胃中虛冷故吐也。嘔家則不然。嘔有熱者。有寒者。有停飲者。有胃脘有膿者。皆當明辨之。嘔而發熱者。柴胡湯證具。與其嘔不止。心下急。郁郁微煩。大柴胡湯主之者。是邪熱為嘔者也。膈上有寒飲。乾嘔者不可吐也。當溫之。與其乾嘔吐涎沫頭痛者。吳茱萸湯主之。是寒邪為嘔者也。先嘔後渴者。此為欲解。先渴後嘔者。為水停心下。此屬飲家。是停飲嘔者。嘔家有癰膿。不須治。膿盡自愈。是胃脘有膿而嘔也。諸如此者。雖有殊別。大抵傷寒表邪欲傳裡。裡氣上逆。則為嘔也。是以半表半裡證。多云嘔也。傷寒三日。三陽為盡。</p>
<p>三陰當受邪。其人反能食而不嘔。此為三陰不受邪。是知邪氣傳裡者。必致嘔也。</p>
<p>至於乾薑附子湯證云。不嘔不渴。為裡無熱。十棗湯證云。乾嘔短氣。汗出不惡寒者。此表解裡未和也。即此觀之。其嘔為裡熱明矣。嘔家之為病。氣逆者必散之。痰飲者必下之。千金曰。嘔家多服生薑。此是嘔家聖藥。是要散其逆氣也。金匱要略曰。嘔家用半夏以去其水。水去嘔則止。是要下其痰飲也。嘔多雖有陽明證。不可攻者。謂其氣逆而未收斂為實也。其嘔而脈弱。小便復利。身有微熱。見厥者已為難治。蓋謂其虛寒之甚也。醫者必審其邪氣之虛實。疾症之逆順。為施藥丸。治則當矣。</p>
<h3>悸</h3>
<p>傷寒悸者。何以明之。悸者心忪是也。築築踢踢然動。怔怔忪忪。不能自安者是矣。</p>
<p>心悸之由。不越二種。一者氣虛也。二者停飲也。傷寒二三日。心中悸而煩者。小建中湯主之。少陰病四逆。其人或悸者。四逆散加桂五分。是氣虛而悸者也。飲水多。</p>
<p>必心下悸。是停飲而悸者也。其氣虛者。由陽氣內弱。心下空虛。正氣內動而為悸也。其停飲者。由水停心下。心為火而惡水。水既內停。心不自安。則為悸也。又有汗下之後。正氣內虛。邪氣交擊。而令悸者。與氣虛而悸者。則又甚焉。太陽病發汗過多。其人叉手自冒心。心下悸。太陽病若下之。身重心下悸者。不可發汗。少陽病不可吐下。吐下則悸而驚。少陽病不可發汗。發汗則譫語。此屬胃。胃和則愈。胃不和則煩而悸。是數者。皆汗後挾邪者。與其氣虛而悸者。有以異也。或鎮固。或化散之。</p>
<p>皆須定其氣浮也。又飲水過多。水飲不為宣布。留心下。甚者則悸。金匱要略曰。食少飲多。水停心下。甚者則悸。飲之為悸。甚於他邪。雖有餘邪。必先治悸。何者。以水停心下。若水氣散。則無所不之。浸於肺則為喘為咳。傳於胃則為噦為KT　。溢於皮膚。則為腫。漬於腸間。則為利下。不可緩之也。經曰。厥而心下悸。宜先治水。與茯苓甘草湯。後治其厥。不爾水漬於胃。必作利也。厥為邪之深者。猶先治水。況其邪氣淺者乎。醫者可不深究之。</p>
<h3>渴</h3>
<p>傷寒渴者。何以明之。渴者裡有熱也。傷寒之邪。自表傳至裡。則必有名證。隨其邪淺深而見焉。雖曰一日在皮。二日在膚。三日在肌。四日在胸。五日在腹。六日入胃。</p>
<p>其傳經者。又有證形焉。太陽主氣。而先受邪。當一二日發。頭項痛而腰脊強者是矣。太陽傳陽明。則二三日發。身熱目疼。鼻干不得臥也。陽明傳少陽。則三四日發。</p>
<p>胸脅痛而耳聾。此三陽皆受病。為邪在表。而猶未作熱。故不言渴。至四五日。少陽傳太陰經。邪氣漸入裡。寒邪漸成熱。當是時也。津液耗少。故腹滿而嗌干。至五六日。太陰傳少陰。是裡熱又漸深也。當此之時。則津液為熱所搏。漸耗而干。故口燥舌乾而渴。及至六七日。則少陰之邪。傳於厥陰。厥陰之為病。消渴。為裡熱已極矣。</p>
<p>所謂消渴者。飲水多而小便少者是矣。謂其熱能消水也。所以傷寒病至六七日。</p>
<p>而渴欲飲水。為欲愈之候。以其傳經盡故也。是以厥陰病云。渴欲飲水。少少與之。</p>
<p>愈者是也。邪氣初傳入裡。熱氣散漫。未收斂成熱。熏蒸焦膈。搏耗津液。遂成渴也。</p>
<p>病患雖渴。欲得飲水。又不可多與之。若飲水過多。熱少不能消。故復為停飲諸疾。</p>
<p>經曰。凡得時氣病至五六日。而渴欲飲水。飲不能多。勿多與也。何者。以腹中熱尚少。不能消之。使更與人作病也。若大渴欲飲水。猶當依證與之。與之常令不足。勿極意也。言能飲一斗與五升。又曰渴欲飲水。少少與之。但以法救之。渴者宜五苓散。至於大渴欲飲水數升者。白虎加人參湯主之。皆欲潤其燥而生津液也。凡得病反能飲水。此為欲愈之病。其不曉病者。但聞病飲水自瘥。小渴者乃強與飲之。</p>
<p>因成大禍。不可復救。然則悸、動也。支、結也。喘咳噎噦。乾嘔腫滿。下利小便不利。數者皆是飲水過傷。而診病之工。當須識此。勿令誤也。</p>
<h3>振</h3>
<p>傷寒振者。何以明之。振者森然若寒。聳然振動者是也。傷寒振者。皆責其虛寒也。</p>
<p>至於欲汗之時。其人必虛。必蒸蒸而振。卻發熱汗出而解。振近戰也。而輕者為振矣。戰為正與邪爭。爭則為鼓栗而戰。振但虛而不至爭。故止聳動而振也。下後復發汗振寒者。謂其表裡俱虛也。亡血家發汗。則寒栗而振者。謂其血氣俱虛也。諸如此者。止於振聳爾。其振振欲擗地者。有身為振振搖者。二者皆發汗過多。亡陽經虛。不能自主持。故身為振搖也。又非若振栗之比。經曰。若吐若下後。心下逆滿。</p>
<p>氣上衝胸。起則頭眩。發汗則動經。身為振振搖者。茯苓桂枝白朮甘草湯主之。太陽病。發汗不解。其人仍發熱。心下悸。頭眩身　動。振振欲擗地者。真武湯主之。二湯者。皆溫經益陽。滋血助氣之劑。經虛陽弱得之。未有不獲全濟之功者。</p>
<h3>戰栗</h3>
<p>傷寒戰栗。何以明之。戰栗者。形相類而實非一也。合而言之。戰栗非二也。析而分之。有內外之別焉。戰者身為之戰搖者是也。栗者心戰是也。戰之與栗。內外之診也。昧者通以為戰栗也。通為戰栗。而不知有逆順之殊。經曰。胃無穀氣。脾澀不通。</p>
<p>口急不能言。戰而栗者。即此觀之。戰之與栗。豈不異哉。戰之與振。振輕而戰重也。</p>
<p>戰之與栗。戰外而栗內也。戰栗者。皆陰陽之爭也。傷寒欲解。將汗之時。正氣內實。</p>
<p>邪不能與之爭。則便汗出而不發戰也。邪氣欲出。其人本虛。邪與正爭。微者為振。</p>
<p>甚者則戰。戰退正勝而解矣。經曰。病有戰而汗出。因得解者何也。其人本虛。是以發戰者是也。邪氣外與正氣爭則為戰。戰其愈者也。邪氣內與正氣爭則為栗。栗為甚者也。經曰。陰中於邪。必內栗也。表氣微虛。裡氣不守。故使邪中於陰也。方其裡氣不守。而為邪中於正氣。正氣怯弱。故成栗也。戰者正氣勝。栗者邪氣勝也。傷寒六七日。欲解之時。當戰而汗出。其有但心栗而鼓頷。身不戰者。已而遂成寒逆。</p>
<p>似此證多不得解。何者。以陰氣內盛。正氣太虛。不能勝邪。反為邪所勝也。非大熱劑。與其灼艾。又焉得而御之。</p>
<h3>四逆</h3>
<p>傷寒四逆。何以明之。四逆者。四肢逆而不溫者是也。積涼成寒。積溫成熱。非一朝一夕之故。其所由來者漸矣。傷寒始者邪在皮膚。當太陽陽明受邪之時。則一身手足盡熱。當少陰太陰受邪之時。則手足自溫。是表邪漸緩而欲傳裡也。經曰。傷寒四五日。手足溫而渴者。小柴胡湯主之。是太陽之邪。傳之少陽也。傷寒脈浮。手足自溫者。是為系在太陰。是少陽之傳邪於太陰也。是知邪氣在半表半裡。則手足不熱而自溫也。至於邪傳少陰。為裡證已深。雖未至厥。而手足又加之不溫。是四逆也。若至厥陰。則手足厥冷矣。經曰。少陰病四逆。其人或咳或悸。或小便不利。</p>
<p>或腹中痛。或泄利下重者。四逆散主之。方用柴胡、枳實、芍藥、甘草。四者皆是寒冷之物。而專主四逆之疾。是知四逆非虛寒之證也。又有四逆諸湯。亦治四逆手足寒。方用乾薑、附子熱藥者。厥有旨哉。若手足自熱而至溫。從四逆而至厥者。傳經之邪也。四逆散主之。若始得之手足便厥而不溫者。是陰經受邪。陽氣不足。可用四逆湯溫之。大須識此。勿令誤也。四逆與厥相近而非也。經曰。諸四逆厥者。不可下。是四逆與厥有異也。吐利煩躁見四逆者死。是惡見其四逆也。診視之間。熟詳究之。</p>
<h3>厥</h3>
<p>傷寒厥者。何以明之。厥者冷也。甚於四逆也。經曰。厥者陰陽氣不相順接。便為厥。</p>
<p>厥者手足逆冷是也。謂陽氣內陷。熱氣逆伏。而手足為之冷也。經曰。傷寒一二日至四五日。厥者必發熱。前熱者後必厥。厥深者熱亦深。厥微者熱亦微。是知內陷者。手足為厥矣。少陰病但厥無汗。而強發之。必動其血。未知從何道出。或從口鼻。</p>
<p>或從目出。是名下厥上竭。亦是言發動其熱也。先熱而後厥者。熱伏於內也。先厥而後熱者。陰退而陽氣得復也。若始得之便厥者。則是陽氣不足。而陰氣勝也。大抵厥逆為陰所主。寒者多矣。而又有進退之別。經曰。病厥五日。熱亦五日。設六日當復厥。不厥者自愈。發熱四日。厥反三日。復厥四日。厥少熱多。其病自愈。厥四日。</p>
<p>熱反三日。復厥五日。其病為進。寒多熱少。陽氣退。故為進也。病至厥陰。傳經盡也。</p>
<p>當是之時。陽氣勝陰。厥少熱多。其病則愈。若或陰氣反勝。陽不得復。厥多熱少。其病則逆。厥為陰氣至也。熱為陽氣復也。至於下利。則曰先厥後發熱而利。必自止。</p>
<p>見厥復利。厥者復為熱。為陽氣得復。而利必自止。熱者便為厥。是陰氣還勝也。故復下利矣。諸陽受氣於胸中邪氣客於胸中郁郁留結。則陽氣不得敷布。而手足為之厥。經曰。手足厥冷。脈乍緊。邪結在胸中。心中滿而煩。飢不能食。</p>
<p>病在胸中。當吐之者是矣。厥為陰之盛也。若更加之惡寒而蜷者。陰氣之極也。則難可制。經曰。少陰病惡寒身蜷而利。</p>
<p>手足厥冷者。不治。是厥冷之逆者。神丹其能生乎。</p>
<h3>鄭聲</h3>
<p>傷寒鄭聲。為邪音也。孔子曰。惡鄭聲之亂雅樂也。又曰。放鄭聲。遠佞人。鄭聲淫。佞人殆。是謂鄭聲。為不正之音也。傷寒鄭聲者。則其聲如鄭衛之音。轉不正也。經曰。</p>
<p>虛則鄭聲。今汗後或病久。人聲轉者是也。以此為虛。從可知矣。又鄭聲者。重語也。</p>
<p>正為聲轉也。若聲重而轉其本音者亦是矣。昧者殊不知此。妄以重為重疊之語。</p>
<p>與譫語混而莫辨。遂止以身熱脈數。煩渴便難而多言者為譫語。以身涼脈小。自利不渴而多言者為鄭聲。如此則有失仲景之本意。兼鄭聲淫之語以正之。則鄭聲不為重疊。正為不正也。況仲景之書。三百九十余證。曲盡傷寒形候。未有脫落而不言者。若是鄭聲為多言。則於三陰門中。亦須條見。所以鄭聲別無證治者。是不與譫語為類也。雖曰虛矣。止為正氣虛而不全。故使轉聲而不正也。明者鑒此。</p>
<p>幸詳究之。</p>
<h3>譫語</h3>
<p>傷寒譫語。何以明之。譫者謂呢喃而語也。又作　。謂妄有所見而言也。此皆真氣昏亂。神識不清之所致。夫心藏神而主火。病則熱氣歸焉。傷寒胃中熱盛。上乘於心。心為熱冒。則神昏亂而語言多出。識昏不知所以然。遂言無倫次而成譫妄之語。輕者睡中呢喃。重者不睡亦語言差謬。有譫語者。有獨語者。有狂語者。有語言不休者。有言亂者。此數者。見其熱之輕重也。譫語與獨語。雖間有妄錯之語。若與人言有次。是熱未至於極者也。經曰。獨語如見鬼狀。若劇者。發則不識人。是病獨語未為劇也。狂語者熱甚者也。由神昏而無所見覺。甚則至於叫喊而言語也。言語不休者。又其甚也。至於亂言者。謂妄言罵詈。善惡不避親疏。為神明已亂也。經曰。諸逆發汗微者難瘥。劇者言亂。是難可復制也。譫語之由。又自不同。皆當明辨之。有被火劫譫語者。有汗出譫語者。有下利譫語者。有下血譫語者。有燥屎在胃譫語者。有三陽合病譫語者。有過經譫語者。有亡陽譫語者。經曰。大熱入胃中。水竭躁煩。必發譫語。又腹滿微喘。口乾咽爛。或不大便。久則譫語。是因被火劫譫語也。汗出譫語。此為風也。須下之。過經乃可下之。下之若早。語言必亂。以表虛裡實故也。是汗出譫語者也。下利譫語者。有燥屎也。小承氣湯主之。是下利譫語者也。</p>
<p>下血譫語者。此為熱入血室。當刺期門。隨其實而瀉之。是下血譫語者也。譫語有潮熱。反不能食者。胃中必有燥屎五六枚也。是謂燥屎在胃譫語者也。腹滿身重。</p>
<p>難以轉側。口不仁而面垢。譫語遺尿。是三陽合病譫語者也。過經譫語者熱也。當以湯下之。是過經譫語者也。發汗多亡陽譫語者。不可下。與柴胡桂枝湯。和其榮衛。是以有通津液後自愈。是亡陽譫語也。諸如此者。脈短則死。脈自和則愈。又身微熱。脈浮大者生。逆冷脈沉細。不過一日死。實則譫語。氣收斂在內。而實者本病也。或氣上逆而喘滿。或氣下奪而自利者。皆為逆也。經曰。直視譫語喘滿者死。下利者亦死。謂其正氣脫絕也。能知虛實之診。能識逆從之要。治病療病。則不失矣。</p>
<h3>短氣</h3>
<p>傷寒短氣。何以明之。短氣者。氣短而不能相續者是矣。似喘而非喘。若有氣上衝。</p>
<p>而實非氣上衝也。喘者張口抬肩。搖身滾肚。謂之喘也。氣上衝者。腹裡氣時時上衝也。所謂短氣者。呼吸雖數。而不能相續。似喘而不搖肩。似呻吟而無痛者。短氣也。經所謂短氣者眾。實為難辨之證。愚醫莫識之。為治有誤者多矣。要識其短氣之真者。氣急而短促。謂之氣短者是也。短氣有責為虛者。有責為實者。要當明辨之。經曰。趺陽脈微而緊。緊則為寒。微則為虛。微緊相搏。則為短氣。此為短氣之虛者也。短氣腹滿而喘。有潮熱。此外欲解。可攻裡也。此為短氣之實者也。又有屬表。</p>
<p>又有屬裡者。要當審視之。經曰。短氣但坐以汗出不徹故也。更發汗則愈。與其風濕相搏。汗出短氣。小便不利。惡風不欲去衣。甘草附子湯主之者。是邪氣在表而短氣者也。乾嘔短氣。汗出不惡寒者。此表解裡未和也。十棗湯主之。與其太陽病。</p>
<p>醫反下之。短氣躁煩。心中懊　。陽氣內陷。心下因硬。則為結胸。大陷胸湯主之。是邪氣在裡而短氣者也。虛也。實也。在表也。在裡也。皆作短氣。又何以辨其虛實也。</p>
<p>大凡心腹脹滿而短氣者。邪在裡而為實也。腹濡滿而短氣者。邪在表而為虛也。</p>
<p>大抵短氣為實。金匱要略曰。短氣不足以息者實也。又水停心下。亦令短氣。金匱要略曰。食少飲多。水停心下。微者短氣。即此觀之。短氣之由亦眾矣。必審其形候。使的而不惑。必審其邪氣。在表裡之不瘥。隨症攻之。了無不愈者矣。</p>
<h3>搖頭</h3>
<p>傷寒搖頭。何以明之。頭者諸陽之會也。諸陽之脈。皆上於頭。諸陰脈皆至頸胸中而還。陽脈不治。則頭為之搖。傷寒搖頭有三。皆所主不同也。有曰搖頭言者。裡痛也。以裡有痛者。語言則劇。欲言則頭為之戰搖也。有曰獨搖頭。卒口噤。背反張者。</p>
<p>痙病也。以風盛於上。風主動搖故也。裡痛非邪也。痛使之然。痙病非逆也。風使之然。至於陽反獨留。形體如煙熏。直視搖頭者。又謂之心絕。蓋心藏神。而為陰之本。</p>
<p>陽根於陰。陰根於陽。陰陽相根。則榮衛上下相隨矣。絕則神去而陰竭。陽無根者。</p>
<p>則不能自主持。故頭為之搖矣。王　曰。滋苗者以固其根。伐下者必枯其上。內絕其根。外作搖頭。又何疑焉。心絕者真病也。風痙裡痛者。邪氣也。觀其頭搖。又當明其臧否焉。</p>
<h3>螈</h3>
<p>傷寒螈　。何以明之。螈者筋脈急也。　者筋脈緩也。急者則引而縮。緩者則縱而伸。或縮或伸。動而不止者。名曰螈　。俗謂之搐者是也。黃帝內經曰。病筋脈相引而急。名曰螈　。螈謂若契合之契也。行則緩。臥則緊。從則縱。　疾之縱者。謂若放縱之縱也。以急為螈。以緩為　。理至明矣。螈　者。風疾也。而癲癇則螈　焉。傷寒螈者。邪熱氣極也。熱盛則風搏並經絡。風主動。故四肢螈　而不寧也。故風溫被火者。曰發微黃色。劇者如驚癇。時螈　。言其熱氣之劇盛也。傷寒病至於發螈者。疾勢已過矣。多難可制。內經曰。太陽終者。戴眼反折。螈　絕汗乃出。大如貫珠。著身不流。是見其螈　。為已過之疾也。又有四肢　習。為四肢動而不止。似螈而無力。不得伸縮者也。此為肝絕。螈　之證雖難已。若能以祛風滌熱之劑。折其大熱。則螈　亦有生者。若妄加灼火。或飲以發表之藥。則死不旋踵。經曰。一逆尚引日。再逆促命期。</p>
<h3>不仁</h3>
<p>傷寒不仁。何以明之。仁、柔也。不仁。謂不柔和也。癢不知也。痛不知也。寒不知也。熱不知也。任其屈伸灸刺。不知所以然者。是謂不仁也。由邪氣壅盛。正氣為邪氣閉伏。鬱而不發。榮衛血氣虛少。不能通行。致斯然也。內經曰。榮氣虛則不仁。針經曰。</p>
<p>衛氣不行。則為不仁。經曰。榮衛不能相將。三焦無所仰。身體痹不仁。即是言之。知榮衛血氣虛少。不能通行。為不仁者明矣。經曰。諸乘寒者則為厥。鬱冒不仁。言此厥者。是正氣為寒氣所乘。為厥氣也。非四肢逆冷之厥也。何者。蓋以鬱冒。為昏冒不仁。為不知痛癢。得不為尸厥之厥耶。經曰。少陰脈不至。腎氣微少。精血奔。氣促迫。上入胸膈。宗氣反聚。血結心下。陽氣退下。熱歸陰股。與陰相動。令身不仁。此為尸厥。其乘寒之厥。鬱冒不仁。即此尸厥可知矣。昔越人入虢診太子為尸厥。以鬱冒不仁為可治。刺之而得痊濟者。實神醫之診也。嗚呼。設或脈浮而洪。身汗如油。</p>
<p>喘而不休。水漿不下。形體不仁。此又為命絕。雖越人其能起之歟。</p>
<h3>直視</h3>
<p>傷寒直視。何以明之。直視者。視物而目精不轉動者是也。若目精轉者。非直視也。</p>
<p>水之精為志。火之精為神。目者心之使也。神所寓焉。肝之外候也。精神榮焉。針經曰。五臟六腑之氣。皆上注於目。而為之精。精之窠為眼之睛。精為瞳子。筋之精為黑睛。血之精為絡。氣之精為白睛。肌肉之精為約束。裹擷筋骨。血氣之精。與脈並為系。上屬於腦。五臟血氣充榮。則目和而明矣。傷寒目直視者。邪氣壅盛。冒其正氣。使神智不慧。藏精之氣不上榮於目。則目為之直視。傷寒至於直視。為邪氣已極。證候已逆。多難治。經曰。衄家不可發汗。汗出則額上陷。脈急緊。直視不能　。不得眠。以肝受血而能視。亡血家肝氣已虛。目氣已弱。又發汗亡陽。則陰陽俱虛所致也。此雖錯逆。其未甚也。逮乎狂言。反目直視。又為腎絕。直視搖頭。又為心絕。皆臟氣脫絕也。直視譫語。喘滿者死。下利者亦死。又劇者發則不識人。循衣摸床。惕而不安。微喘直視。脈弦者生。澀者死。皆邪氣盛而正氣脫也。其或有目中不了了。</p>
<p>睛不和。無表裡證。大便難。身微熱者。是非直視也。此為內實也。可用大承氣湯、大柴胡湯下之。直視為不治之疾。目中不了了。為可治之候。二者形證相近。其為工者。宜熟視之。</p>
<h3>鬱冒</h3>
<p>傷寒鬱冒。何以明之。郁為郁結而氣不舒也。冒為昏冒而神不清也。世謂之昏迷者是也。鬱冒之來。皆虛極而乘寒。則有之矣。經曰。諸乘寒者則為厥。鬱冒不仁。又曰。太陽病先下之而不愈。因復發汗。以此表裡俱虛。其人因致冒。冒家汗出自愈。</p>
<p>所以然者。汗出表和故也。是知因虛乘寒。乃生鬱冒。金匱要略曰。新產婦人有三病。一者病痙。二者病鬱冒。三者大便難。亡血復汗。寒多故令鬱冒。又曰。產婦鬱冒。</p>
<p>其脈微弱。嘔不能食。大便堅。所以然者。血虛而厥。厥而必冒。冒家欲解。必大汗出。</p>
<p>即此觀之。鬱冒為虛寒可知矣。又或少陰病。下利止而頭眩。時時自冒者。又為死證。蓋謂其虛極而脫也。觀其鬱冒。幸無忽焉。</p>
<h3>動氣</h3>
<p>傷寒動氣。何以明之。動氣者。為築築然動於腹中者是矣。臟氣不治。隨臟所主。發泄於臍之四旁。動跳築築然。謂之動氣。難經曰。肝內證臍左有動氣。按之牢若痛。</p>
<p>心內證臍上有動氣。按之牢若痛。肺內證臍右有動氣。按之牢若痛。腎內證臍下有動氣。按之牢若痛。是臟氣不治。腹中氣候發動也。動氣應藏。是皆真氣虛。雖有表裡攻發之證。即不可汗下。經曰。動氣左右。不可發汗。汗則頭眩。汗不止。筋惕肉。是發汗而動肝氣者也。動氣在左不可下。下之則腹內拘急。食不下。動氣更劇。</p>
<p>雖有身熱。臥則欲蜷。是下之而動肝氣者也。動氣在上。不可發汗。汗則氣上衝。正在心端。是發汗而動心氣者也。動氣在上不可下。下之則掌握熱煩。身上浮冷。熱汗自泄。欲得水自灌。是下之而動心氣者也。動氣在右。不可發汗。汗則衄而渴。心苦煩。飲即吐水。是發汗而動肺氣者也。動氣在右不可下。下之則津液內竭。咽燥鼻干。頭眩心悸。是下之而動肺氣者也。動氣在下。不可發汗。汗則無汗。心中大煩。</p>
<p>骨節苦痛。目運惡寒。食則反吐。穀不得下。是發汗而動腎氣者也。動氣在下不可下。下之則腹脹滿。卒起頭眩。食則下清穀。心下痞。是下之而動腎氣者也。且脾內證。當臍有動氣。經特曰臍之四旁動氣。不可汗下。獨不言脾候。當臍有動氣者。以脾居中州。為胃以行津液。發汗吐下。獨先動脾。況脾家發動氣者。詎可動之也。所以特不言之也。傷寒所以看外證為當者。蓋不在脈之可見。必待問之可得者。發汗吐下。務要審諦。舉此動氣。類可知矣。</p>
<h3>自利</h3>
<p>傷寒自利。何以明之。自利者。有不經攻下。自然溏泄者。謂之自利也。傷寒自利多種。須知冷熱虛實。消息投湯。無致失瘥。雜病自利。多責為寒。傷寒下利。多由協熱。</p>
<p>其與雜病有以異也。表邪傳裡。裡虛協熱則利。不應下而便攻之。內虛協熱遂利。</p>
<p>是皆協熱。已又合病。皆作自利。太陽與陽明合病。必自下利。葛根湯主之。太陽與少陽合病。必自下利。黃芩湯主之。陽明與少陽合病。必自下利。大承氣湯主之。三者皆合病下利。一者發表。一者攻裡。一者和解。所以不同者。蓋六經以太陽陽明為表。少陽太陰為在半表半裡。少陰厥陰為在裡。太陽陽明合病。為在表者也。雖曰下利。必發散經中邪氣而後已。故與葛根湯以汗之。太陽與少陽合病。為在半表半裡者也。雖曰下利。必和解表裡之邪而後已。故與黃芩湯以散之。陽明少陰合病。為少陽邪氣入腑者也。雖曰下利。必逐去胃中之實而後已。故與承氣湯以下之。是三者所以有異也。下利家何以明其寒熱耶。且自利不渴屬太陰。以其臟寒故也。下利欲飲水者。以有熱也。故大便溏小便自可者。此為有熱自利。小便色白者。少陰病形悉具。此為有寒。惡寒脈微。自利清穀。此為有寒。發熱後重。泄色黃赤。此為有熱。皆可理其寒熱也。凡腹中痛。轉氣下趨少腹者。此欲自利也。自利家身涼脈小為順。身熱脈大為逆。少陰病脈緊下利。脈暴微。手足反溫。脈緊反去者。</p>
<p>此為欲解。下利脈大者為未止。脈微弱數者。為欲自止。雖發熱不死。是知下利脈大為逆。而脈小為順也。自利宜若可溫。理中白通諸四逆輩。皆溫臟止利之劑。又有腸胃有積結。與下焦客邪。皆溫劑不能止之。必也或攻泄之。或分利之而後已。</p>
<p>經曰。理中者理中焦。此利在下焦。宜赤石脂禹餘糧湯。復不止。當利其小便。是濕在下焦。滲泄而聚利者也。少陰病自利清水。色純青。心下必痛。口乾燥。與下利三部皆平。按之心下硬。或脈沉而滑。或不欲食而譫語。或瘥後至年月日復發。此數者。皆腸胃有積結。而須攻泄者也。內經有曰。大熱內結。注泄不止。熱宜寒療。結伏須除。以寒下之。結散利止。大寒凝內。久利泄溏。愈而復發。綿歷歲年。以熱下之。寒去利止。謂之通因通用。下利雖有表證。又不可發汗。以下利為邪氣內攻。走津液而胃虛也。故經曰。下利不可攻其表。汗出必脹滿者是矣。大抵下利脫氣至急。五奪之中。此為甚者。其或邪盛正虛。邪壅正氣下脫。多下利而死。何以言之。經曰。下利日十余行。脈反實者死。發熱下利至甚。厥不止者死。直視譫語下利者死。下利手足厥冷無脈者。灸之不溫。脈不還死。少陰病自利。復煩躁不得臥寐者死。此數者。皆邪壅正氣下脫而死者也。金匱要略曰。六腑氣絕於外者。手足寒。五臟氣絕於內者。利下不禁。嗚呼。疾成而後藥。雖神醫不可為已。氣既脫矣。孰能治之。</p>
<h3>筋惕肉</h3>
<p>傷寒筋惕肉　。何以明之。傷寒頭痛身疼。惡寒發熱者。必然之證也。其於筋惕肉。非常有之者。必待發汗過汗多汗。則有之矣。內經曰。陽氣者。精則養神柔則養筋。發汗過多。津液枯少。陽氣太虛。筋肉失所養。故惕惕然而跳。　然而動也。太陽病脈微弱。汗出惡風者。不可服大青龍湯服之則厥逆。筋惕肉　。此為逆也。太陽病發汗。汗出不解。其人仍發熱。頭眩身　動。振振欲擗地者。真武湯主之。動氣在左。不可發汗。發汗則頭眩汗不止。筋惕肉　。即是觀之。筋惕肉　。由發汗多亡陽。陽虛可見矣。茲雖逆也。止於發汗亡陽而表虛。治以溫經益陽則可矣。或因吐下發汗。表裡俱虛。而有此狀者。又非若但發汗後所可同也。經曰。傷寒吐下後。發汗虛煩。脈甚微。七八日。心下痞硬。脅下痛。氣上衝咽喉。眩冒。筋脈動惕者。久而成痿。此為逆之甚者也。太陽病發汗。復下之後。表裡俱虛。復加燒針。因胸煩。面色青黃。膚　者難治。茲為逆之甚者也。發汗吐下。庸可忽諸。</p>
<h3>熱入血室</h3>
<p>傷寒熱入血室。何以明之。室者屋室也。謂可以停止之處。人身之血室者。榮血停止之所。經脈留會之處。即衝脈是也。衝脈者。奇經八脈之一脈也。起於腎下。出於氣衝。並足陽明經。挾臍上行至胸中而散。為十二經脈之海。王　曰。沖為血海。言諸經之血。朝會於此。男子則營運生精。女子則上為乳汁。下為月水。內經曰。任脈通。衝脈盛。月事以時下者是也。王　曰。陰靜海滿而去血。謂衝脈盛。為海滿也。即是觀之。沖是血室可知矣。傷寒之邪。婦人則隨經而入。男子由陽明而傳。以沖之脈。與少陰之絡起於腎。女子感邪。太陽隨經。便得而入沖之經。並足陽明。男子陽明內熱。方得而入也。沖之得熱。血必妄行。在男子則下血譫語。在婦人則月水適來。陽明病下血譫語。此為熱入血室者。斯蓋言男子。不止謂婦人而言也。婦人傷寒。經水適來。與經水適斷者。皆以經氣所虛。宮室不辟。邪得乘虛而入。針經有言曰。邪氣不得其虛。不能獨傷人者是矣。婦人熱入血室。有須治而愈者。有不須治而愈者。又各不同也。婦人中風。發熱惡寒。經水適來。得之七八日。熱除而脈遲。身涼和。胸脅下滿。如結胸狀。譫語者。此為熱入血室。當刺期門。隨其時經水適斷者。</p>
<p>此為熱入血室。其血必結。故使如瘧狀。發作有時。小柴胡湯主之。二者是須治而愈是也。婦人傷寒發熱。經水適來。晝則明了。暮則譫語。如見鬼狀者。此為熱入血室。無犯胃氣。及上二焦。必自愈。是不須治而愈者也。譫語為病邪之甚者。何不須治而愈耶。且胸脅滿。如結胸譫語。是邪氣留結於胸脅而不去者。必刺期門。隨其實而瀉之。寒熱如瘧。發作有時者。是血結而不行者。須小柴胡湯散之。二者既有留邪。必須治之可也。若發熱經水適來。晝日明了。暮則譫語。此則經水既來。以裡無留邪。但不妄犯。熱隨血散。必自愈。經曰。血自下。下者愈。故無犯胃氣。及上二焦。</p>
<p>必自愈。所謂妄犯者。謂恐以譫語為陽明內實。攻之犯其胃氣也。此無胸脅之邪。</p>
<p>恐刺期門犯其中焦也。此無血結。恐與小柴胡湯犯其上焦也。小柴胡湯解散。則動衛氣。衛出上焦。動衛氣是犯上焦也。刺期門則動榮氣。榮出中焦。動榮氣是犯中焦也。脈經有曰。無犯胃氣。及上二焦。豈謂藥不謂針耶。此其是歟。</p>
<h3>發黃</h3>
<p>傷寒發黃。何以明之。經曰。濕熱相交。民當病癉。癉者黃也。單陽而無陰者也。傷寒至於發黃。為疾之甚也。濕也熱也。甚者則發黃。內熱已盛。復被火者。亦發黃也。邪風被火熱。兩陽相熏灼。其身必發黃。陽明病被火。額上微汗出。小便不利者。必發黃。是由內有熱而被火。致發黃者也。陽明病無汗。小便不利。心中懊　者必發黃。</p>
<p>是由陽明熱盛。致發黃者也。傷寒發汗已。身自為黃。所以然者。寒濕在裡不解故也。以為不可下也。於寒濕中求之。是由寒濕致發黃者也。濕亦令黃也。熱亦令黃也。其能辨之乎。二者非止根本有異。而色澤亦自不同。濕家之黃也。身黃如似熏黃。雖黃而色暗不明也。至於熱盛之黃也。必身黃如橘子色。甚者勃勃出。染著衣正黃如柏。是其正黃色也。由是觀之。濕之與熱。豈不異哉。大抵黃家屬太陰。太陰者脾之經也。脾者土。黃土色也。脾經為濕熱蒸之。則色見於外。必發身黃。經曰。傷寒脈浮緩。手足自溫者。是為系在太陰。太陰當發身黃者是矣。熱雖內盛。若已自汗出。小便利者。則不能發黃必也。頭汗出。身無汗。劑頸而還。小便不利。渴飲水漿。</p>
<p>此為瘀熱在裡。身必發黃。黃家為熱盛。而治法亦自有殊。傷寒八九日。身如橘子色。小便不利。少腹滿者。茵陳蒿湯主之。此欲泄滌其熱也。傷寒身黃發熱者。梔子柏皮湯主之。此欲解散其熱也。傷寒瘀熱在裡。身必發黃。麻黃連翹赤小豆湯主之。此欲解散其熱也。此數者。泄滌解散。乃治之不同。亦皆析火徹熱之劑也。一或身黃脈沉結。少腹硬而小便自利。其人如狂者。又為蓄血在下焦。使之黃也。必須抵當湯下之而愈。黃家既是病之已極。是以有不治之者多矣。非止寸口近掌無脈。鼻氣出冷。為不治之疾。又若形體如煙熏。直視搖頭者。是為心絕。環口黧黑。柔汗發黃。是為脾絕。皆不治之症。醫者更詳視之。</p>
<h3>發狂</h3>
<p>傷寒發狂。何以明之。狂者猖狂也。謂其不寧也。難經曰。狂之始發也。少臥不飢。而自高賢也。自辨智也。自貴倨也。妄笑好歌樂也。妄行走不休也。狂家所起。皆陽盛致然。內經曰。陰不勝其陽。脈留薄疾並。乃狂也。又曰。邪入於陽則狂。邪入於陰則喑。難經曰。重陽者狂。重陰者癲。脈經曰。陰附陽則狂。陽附陰則癲。病源曰。陽邪並於陽則狂。陰邪並於陰則癲。即諸經之狂為陽盛也。明矣。又陽明之病。惡人與火。</p>
<p>聞木音則惕然而驚。心欲動。獨閉戶牖而處。甚則欲上高而歌。棄衣而走。逾垣上屋。其所上之處。皆非素能者。是謂陽邪並於陽明也。傷寒熱毒在胃。並於心臟。使神不寧。而志不定。遂發狂也。傷寒至於發狂。為邪熱至極也。非大吐下則不能已。</p>
<p>又有熱在下焦。其人如狂者。經曰。熱入膀胱。其人如狂。謂之如狂。則未至於狂。但臥起不安爾。其或狂言。目反直視。又為腎之絕。汗出輒復熱。狂言不能食。又為失志死。若此則殆非藥石之所及。是為真病焉。</p>
<h3>霍亂</h3>
<p>傷寒霍亂。何以明之。上吐而下利。揮霍而撩亂是也。邪在上焦者。但吐而不利。邪在下焦者。但利而不吐。而若邪在中焦。胃氣不治。為邪所傷。使陰陽乖隔。遂上吐而下利。若止嘔吐。而利經止。得之吐利。必也上吐下利。躁擾煩亂。乃謂之霍亂。其與但稱吐利者。有以異也。傷寒吐利者。邪氣所傷。霍亂吐利者。飲食所傷也。其有兼傷寒之邪。內外不和者。加之頭痛發熱而吐利也。經曰。病發熱頭痛。身疼惡寒吐利者。此屬何病。答曰。此名霍亂。自吐下又利止。復更發熱也。是霍亂兼傷寒者也。霍亂頭痛發熱。熱多欲飲水者。五苓散主之。寒多不用水者。理中丸主之。以其中焦失治。陰陽乖隔。必有偏之者。偏陽則多熱。偏陰則多寒。許仁則曰。病有干霍亂。有濕霍亂。干霍亂死者多。濕霍亂死者少。蓋吐利則所傷之物。得以出泄。雖霍亂其則止於胃中水穀泄盡則止矣。所以死者少。及其干霍亂而死多者。以其上不得吐。下不得利。則所傷之物。不得出泄。壅閉正氣。關隔陰陽。煩擾悶亂。躁無所安。喘脹干霍亂而死。嗚呼。食飲有節。起居有常者。豈得致霍亂耶。飲食自倍。腸胃乃傷。喪身之由。實自致爾。</p>
<h3>蓄血</h3>
<p>傷寒蓄血。何以明之。蓄血者。在下焦結聚。結聚而不行。蓄積而不散者是也。血菀於上。而吐血者。謂之薄厥。留於下而瘀者。謂之蓄血。此由太陽隨經。瘀熱在裡。血為熱所搏。結而不行。蓄於下焦之所致。經曰。太陽病六七日。表證仍在。脈微而沉。</p>
<p>反不結胸。其人發狂者。以熱在下焦。少腹當硬滿。小便自利者。下血乃愈。抵當湯主之者是也。大抵看傷寒。必先觀兩目。次看口舌。然後自心下至小腹。以手攝按之。覺有滿硬者。則當審而治之。如少腹覺有硬滿。便當問其小便。若小便不利者。</p>
<p>則是津液留結。可利小便。若小便自利者。則是蓄血之證。可下瘀血。經曰。傷寒有熱。少腹滿。應小便不利。今反利者。為有血也。又曰。太陽病身黃。脈沉結。少腹硬。小便不利者。為無血也。小便自利。其人如狂者。血證諦也。皆須抵當丸下之愈。陽明證。其人喜忘。屎雖硬。大便反易。其色必黑。亦是蓄血之證。蓄血於下。所以如狂者。</p>
<p>經所謂熱結膀胱。其人如狂者是也。血瘀於下。所以喜忘者。內經曰。血並於下。亂而喜忘者是也。二者若有其一。則為蓄血證明矣。蓄血之證。又有輕重焉。如狂也。</p>
<p>喜忘也。皆蓄血之甚者。須抵當湯丸以下之。如外已解。但少腹急結者。則為蓄血之輕也。須桃仁承氣湯以利之。醫之妙者何也。在乎識形證。明脈息。曉虛實。知傳變。其於形證之明者。眾人所共識。又何以見其妙。必也形證之參差。眾人所未識。獨先識之。乃所以為妙。且如病患無表裡證。發熱七八日。雖脈浮數者。可下之。假令已下。脈數不解。發熱則消穀善飢。至六七日。不大便者。此有瘀血。抵當湯主之。</p>
<p>當不大便。六七日之際。又無喜忘如狂之證。亦無少腹硬滿之候。當是之時。與承氣湯下者多矣。獨能處以抵當湯下之者。是為醫之妙者也。若是者。何以知其有蓄血也。且脈浮而數。浮則傷氣。數則傷血。熱客於氣則脈浮。熱客於血則脈數。因下之後。浮數俱去則已。若下之後數去。其脈但浮者。則榮血間熱去。而衛氣間熱在矣。為邪氣獨留心中則飢。邪熱不殺穀。潮熱發渴也。及下之後。浮脈去而數不解者。則衛氣間熱去。而榮血間熱在矣。熱氣合並。迫血下行。胃虛協熱。消穀善飢。</p>
<p>血至下焦。若下不止。則血得以去。泄必便膿血也。若不大便六七日。則血不得出泄。必蓄在下焦為瘀血。是須抵當湯下之。此實疾證之奇異。醫法之玄微。能審諸此者。真妙醫也。</p>
<h3>勞復</h3>
<p>傷寒勞復。何以明之。勞為勞動之勞。復為再發也。是傷寒瘥後。因勞動再發者是也。傷寒新瘥後。血氣未平。余熱未盡。勞動其熱。熱氣還經絡。遂復發也。此有二種。</p>
<p>一者因勞動外傷。二者因飲食內傷。其勞動外傷者。非止強力搖體。持重遠行之勞。至於梳頭洗面則動氣。憂悲思慮則勞神。皆能復也。況其過用者乎。其飲食內傷者。為多食則遺。食肉則復者也。內經曰。熱病已愈。而時有遺者何也。以熱甚而強食之。病已衰而熱有所藏。因其穀氣留薄。兩陽相合。故有所遺。經曰。病已瘥尚微煩。設不了了者。以新虛不勝穀氣。故令微煩。損穀則愈。夫傷寒邪氣之傳。自表至裡。有次第焉。發汗吐下。自輕至重。有等差焉。又其勞復則不然。見其邪氣之復來也。必迎奪之。不待其傳也。經曰。大病瘥後勞復者。枳實梔子豉湯主之。若有宿食加大黃。且枳實梔子豉湯則吐之。豈待虛煩懊　之證。加大黃則下之。豈待腹滿譫語之候。經曰。傷寒瘥後更發熱者。小柴胡湯主之。脈浮以汗解之。脈沉實者。</p>
<p>以下解之。亦是便要折其邪也。蓋傷寒之邪。自外入也。勞復之邪。自內發也。發汗吐下。隨宜施用焉。嗚呼。勞復也。食復也。諸勞皆可及。御內則死矣。若男女相易。則為陰陽易。其不易自病者。謂之女勞復。以其內損真氣。外動邪熱。真虛邪盛。則不可治矣。昔督郵顧子獻。不以華敷之診為信。臨死致有出舌數寸之驗。由此觀之。</p>
<p>豈不與後人為鑒誡哉。</p>
<h2>藥方論序</h2>
<p>制方之體。宣、通、補、瀉、輕、重、澀、滑、燥、濕十劑是也。制方之用。大、小、緩、急、奇、耦、復七方是也。是以制方之體。欲成七方之用者。必本於氣味生成。而制方成焉。其寒、熱、溫、涼、四氣者生乎天。酸、苦、辛、咸、甘、淡、六味者成乎地。生成而陰陽造化之機存焉。是以一物之內。氣味兼有。一藥之中。理性具矣。主對治療。由是而出。斟酌其宜。參合為用。君臣佐使。各以相宜。宣攝變化。不可勝量。一千四百五十三病之方。悉自此而始矣。其所謂君臣佐使者。非特謂上藥一百二十種為君。中藥一百二十種為臣。下藥一百二十五種為佐使。三品之君臣也。制方之妙。的與病相對。有毒無毒。</p>
<p>所治為病主。主病之謂。君佐君之謂。臣應臣之謂。使擇其相須相使。制其相畏相惡。去其相反相殺。君臣有序。而方道備矣。方宜一君二臣。三佐五使。又可一君三臣。九佐使也。多君少臣。多臣少佐。則氣力不全。君一臣二。制之小也。君一臣三佐五。制之中也。君一臣三佐九。制之大也。君一臣二。奇之制也。君二臣四。偶之制也。</p>
<p>君二臣三。奇之制也。君二臣六。偶之制也。近者奇之。遠者偶之。所謂遠近者。身之遠近也。在外者身半以上。同天之陽。其氣為近。在內者身半以下。同地之陰。其氣為遠。心肺位膈上。其臟為近。腎肝位膈下。其臟為遠。近而奇偶。制小其服。遠而奇偶。制大其服。腎肝位遠。數多則其氣緩。不能速達於下。必劑大而數少。取其氣迅急。可以走下也。心肺位近。數少則其氣急。不能發散於上。必劑少而數多。取其氣易散。可以補上也。所謂數者。腎一、肝三、脾五、心七、肺九。為五臟之常制。不得越者。</p>
<p>補上治上制以緩。補下治下制以急。又急則氣味濃。緩則氣味薄。隨其攸利而施之。遠近得其宜矣。奇方之制。大而數少。以取迅走於下。所謂下藥不以偶。偶方之制。少而數多。以取發散於上。所謂汗藥不以奇。經曰。汗者不以奇。下者不以偶。處方之制。無逾是也。自評古諸方。歷歲浸遠。難可考評。惟張仲景方一部。最為眾方之祖。是以仲景本伊芳尹之法。伊芳尹本神農之經。醫帙之中。特為樞要。參今法古。不越亳末。實乃大聖之所作也。一百一十二方之內。擇其醫門常用者方二十首。因以方制之法明之。庶歲少發古人之用心焉。</p>
<h2>卷下</h2>
<h3>諸藥方論</h3>
<h4>桂枝湯方</h4>
<p>經曰。桂枝本為解肌。若其人脈浮緊。發熱汗不出者。不可與也。常須識此。勿令誤也。蓋桂枝湯。本專主太陽中風。其於腠理致密。榮衛邪實。津液榮固。寒邪所勝者。</p>
<p>則桂枝湯不能發散。必也皮膚疏湊。又自汗。風邪干於衛氣者。乃可投之也。仲景以解肌為輕。以發汗為重。是以發汗吐下後。身疼不休者。必與桂枝湯。而不與麻黃湯者。以麻黃湯專於發汗。其發汗吐下後。津液內耗。雖有表邪。而止可解肌。故須桂枝湯小和之也。桂味辛熱。用以為君。必謂桂猶圭也。宣道諸藥。為之先聘。是猶辛甘發散為陽之意。蓋發散風邪。必以辛為主。故桂枝所以為君也。芍藥味苦酸微寒。甘草味甘平。二物用以為臣佐者。內經所謂風淫所勝。平以辛。佐以苦。以甘緩之。以酸收之。是以芍藥為臣。而甘草為佐也。生薑味辛溫。大棗味甘溫。二物為使者。內經所謂風淫於內。以甘緩之。以辛散之。是以薑棗為使者也。薑棗味辛甘。固能發散。而此又不特專於發散之用。以脾主為胃行其津液。薑棗之用。專行脾之津液。而和榮衛者也。麻黃湯所以不用薑棗者。謂專於發汗。則不待行化。而津液得通矣。用諸方者。請熟究之。</p>
<p>桂枝（君三兩去皮）　芍藥（臣佐三兩）　甘草（臣佐二兩炙）　大棗（使十二枚擘）　生薑（使三兩切）</p>
<p>上五味　咀。以水七升。微火煮取三升。去渣。適寒溫。服一升。服已須臾。　熱稀粥一升余。以助藥力。溫覆令一時許。遍身　微似有汗者益佳。不可令如水流漓。病必不除。若一服汗出病瘥。停後服。不必盡劑。若不汗更服。依前法。又不汗。後服小促使其間。半日許令三服盡。若病重者。一日一夜服。周時觀之。服一劑盡。病證猶在者。更作服。若汗不出。乃服至二三劑。禁生冷黏滑肉麥五辛酒酪臭惡等物。</p>
<h4>麻黃湯方</h4>
<p>本草有曰。輕可去實。即麻黃葛根之屬是也。實為寒邪在表。皮腠堅實。榮衛勝。津液內固之表實。非腹滿便難之內實也。聖濟經曰。汗不出而腠密。邪氣勝而中蘊。</p>
<p>輕劑所以揚之。即麻黃葛根之輕劑耳。麻黃味甘苦。用以為君者。以麻黃為輕劑。</p>
<p>而專主發散。是以為君也。桂枝為臣者。以風邪在表又緩。而膚理疏者。則必以桂枝解其肌。是用桂枝為臣。寒邪在經。表實而腠密者。則非桂枝所能獨散。必專麻黃以發汗。是當麻黃為主。故麻黃為君。而桂枝所以為臣也。內經曰。寒淫於內。治以甘熱。佐以辛苦者。是茲類歟。甘草味甘平。杏仁味甘苦溫。用以為佐使者。內經曰。肝苦急。急食甘以緩之。肝者榮之主也。傷寒榮勝衛固。血脈不利。是專味甘之物以緩之。故以甘草杏仁為之佐使。且桂枝湯主中風。風則傷衛。風邪並於衛。則衛實而榮弱。仲景所謂汗出惡風者。此為榮弱衛強者是矣。故桂枝湯佐以芍藥。</p>
<p>用和榮也。麻黃湯主傷寒。寒則傷榮。寒邪並於榮。則榮實而衛虛。內經所謂氣之所並為血虛。血之所並為氣虛者是矣。故麻黃佐以杏仁。用利氣也。若是之論。實處方之妙理。制劑之淵微。該通君子。熟明察之。乃見功焉。</p>
<p>麻黃（君三兩去節）　桂枝（臣二兩去皮）　甘草（佐使二兩炙）　杏仁（佐使七十枚去皮尖）</p>
<p>上四味。以水九升。先煮麻黃。減二升。去上沫。內諸藥。煮取二升半。去渣。溫服八合。緩取微汗。並不須啜粥。余如桂枝法將息。</p>
<h4>大青龍湯方</h4>
<p>青龍東方甲乙木神也。應春而主肝。專發主之令。為敷榮之主。萬物出甲開甲。則有兩歧。肝有兩葉。以應木葉。所以謂之青龍者。以發散榮衛兩傷之邪。是應肝木。</p>
<p>之體耳。桂枝湯主中風。麻黃湯主傷寒。二者發散之純者也。及乎大青龍湯則不然。雖為發汗之劑。而所主又不一。必也中風脈浮緊。為中風見寒脈。是風寒兩傷也。傷寒脈浮緩。為傷寒見風脈。是風寒兩傷也。風兼寒。寒兼風。乃大青龍湯專主之也。見茲脈證。雖欲與桂枝湯解肌以祛風。而不能已其寒。則病不去。或欲以麻黃湯發汗以散寒。而不能去其風。則病仍在。茲仲景所以特處大青龍湯。以兩解之。麻黃味甘溫。桂枝味辛熱。寒則傷榮。必以甘緩之。風則傷衛。必以辛散之。此風寒兩傷。榮衛俱病。故以甘辛相合。而為發散之劑。表虛膚緩者。則以桂枝為主。此以表實腠理密。則以麻黃為主。是先麻黃後桂枝。茲麻黃為君。桂枝為臣也。甘草味甘平。杏仁味甘苦。苦甘為助。佐麻黃以發表。大棗味甘溫。生薑味辛。溫辛甘相合。佐桂枝以解肌。石膏味甘辛微寒。風陽邪也。寒陰邪也。風則傷陽。寒則傷陰。榮衛陰陽。為風寒兩傷。則非輕劑所能獨散也。必須輕重之劑以同散之。乃得陰陽之邪俱已。榮衛之氣俱和。是以石膏為使。石膏為重劑。而又專達肌表者也。大青龍湯。發汗之重劑也。非桂枝湯之所同。用之稍過。則又有亡陽之失。經曰。若脈微弱。汗出惡風者。不可服。服之則厥逆。筋惕肉　。此為逆也。又曰。一服汗者停後服。</p>
<p>若復服。汗多亡陽。遂虛惡風。煩躁不得眠也。即此觀之。劑之輕重可見矣。其用湯者。宜詳審之。</p>
<p>麻黃（君六兩去節）　桂枝（臣二兩去皮）　甘草（佐一兩炙）　杏仁（佐四十枚去皮尖）　生薑（佐三兩切）　大棗（佐十枚擘）　石膏（使如雞子大碎）</p>
<p>上七味。以水九升。先煮麻黃。減二升。去上沫。內諸藥。煮取三升。去渣。溫服一升。</p>
<p>取微似汗。汗出多者。溫粉止之。一服汗者。停後服。若復服。汗多亡陽。遂虛（一作逆）惡風。煩躁不得眠也。</p>
<p>又溫粉方白朮　本　川芎　白芷（各等分）</p>
<p>上搗羅為細末。每末一兩。入米粉三兩。和令勻。粉撲周身止汗。無　本亦得。</p>
<h4>小青龍湯方</h4>
<p>青龍象肝木之兩歧。而主兩傷之疾。中風見寒脈。傷寒見風脈。則為榮衛之兩傷。</p>
<p>故以青龍湯主之。傷寒表不解。則麻黃湯可以發。中風表不解。則桂枝湯可以散。</p>
<p>惟其表且不解。而又加之心下有水氣。則非麻黃湯所能發。桂枝湯所能散。乃須小青龍湯。始可祛除表裡之邪氣爾。麻黃味甘辛溫。為發散之主。表不解。應發散之。則以麻黃為君。桂味辛熱。甘草味甘平。甘辛為陽。佐麻黃表散之。用二者所以為臣。芍藥味酸微寒。五味子味酸溫。二者所以為佐者。寒飲傷肺。咳逆而喘。則肺氣逆。內經曰。肺欲收。急食酸以收之。故用芍藥五味子為佐。以收逆氣。乾薑味辛熱。細辛味辛熱。半夏味辛微溫。三者所以為使者。心下有水。津液不行。則腎氣燥。</p>
<p>內經曰。腎苦燥。急食辛以潤之。是以乾薑細辛半夏為使。以散寒水逆氣。收寒水。</p>
<p>散津液。通行汗出而解矣。心下有水氣散行。則所傳不一。故又有增損之證。若渴者去半夏。加栝蔞根。水蓄則津液不行。氣燥而渴。半夏味辛溫。燥津液者也。去之則津液易復。栝蔞根味苦微寒。潤枯燥者也。加之則津液通行。是為渴所宜也。若微利去麻黃。加芫花。水氣下行。漬入腸間。則為利。下利者不可攻其表。汗出必脹滿。麻黃專為表散。非下利所宜。故去之。芫花味苦寒。酸苦為涌泄之劑。水去利則止。芫花下水。故加之。若噎者去麻黃。加附子。經曰。水得寒氣冷必相搏。其人即溏。</p>
<p>又曰。病患有寒。復發汗。胃中冷。必吐蛔。噎為胃氣虛竭。麻黃發汗。非胃虛冷所宜。</p>
<p>故去之。附子辛熱。熱則溫其氣。辛則散其寒。而噎者為當。兩相佐之。是以祛散冷寒之氣。若小便不利。少腹滿。去麻黃。加茯苓。水蓄在下焦不行。為小便不利。少腹滿。凡邪客於體者。在外者可汗之。在內者下之。在上者可涌之。在下者可泄之。水蓄下焦。滲泄可也。發汗則非所當。故去麻黃。而茯苓味甘淡。專行津液。內經曰。熱淫於內。以淡滲之。滲溺行水。甘淡為所宜。故加茯蓄。若喘者去麻黃。加杏仁。喘為氣逆。麻黃發陽。去之則氣易順。杏仁味甘苦溫。加之以泄逆氣。金匱要略曰。其形腫者。故不內麻黃。乃內杏子。以麻黃發其陽。故喘逆形腫。標本之疾。加減所同。蓋其類矣。</p>
<p>麻黃（君三兩去節）　甘草（臣三兩炙）　桂枝（臣三兩去皮）　芍藥（佐三兩）</p>
<p>五味子（佐半升）　北細辛（佐三兩）　乾薑（使三兩）　半夏（使半升洗）</p>
<p>上八味。以水一斗。先煮麻黃。減二升。去上沫。內諸藥。煮取三升。去渣。溫服一升。</p>
<h4>大承氣湯方</h4>
<p>承順也。傷寒邪氣入胃者。謂之入腑。腑之為言聚也。胃為水穀之海。榮衛之源。水穀會聚於胃。變化而為榮衛。邪氣入於胃也。胃中氣鬱滯。糟粕秘結。壅而為實。是正氣不得舒順也。本草曰。通可去滯。泄可去邪。塞而不利。閉而不通。以湯蕩滌。使塞者利而閉者通。正氣得以舒順。是以承氣名之。王　曰。宜下必以苦。宜補必以酸。言酸收而苦泄也。枳實苦寒。潰堅破結。則以苦寒為之主。是以枳實為君。厚朴味苦溫。內經曰。燥淫於內。治以苦溫。泄滿除燥。則以苦溫為輔。是以厚朴為臣。芒硝味鹹寒。內經曰。熱淫於內。治以鹹寒。人傷於寒。則為病熱。熱氣聚於胃。則謂之實。鹹寒之物。以除消熱實。故芒硝為佐。大黃味苦寒。內經曰。燥淫所勝。以苦下之。</p>
<p>熱氣內勝。則津液消而腸胃燥。苦寒之物。以蕩滌燥熱。故以大黃為使。是以大黃有將軍之號也。承氣湯下藥也。用之尤宜審焉。審知大滿大實。堅有燥屎。乃可投之也。如非大滿。則猶生寒熱。而病不除。況無滿實者。而結胸痞氣之屬。由是而生矣。是以脈經有曰。傷寒有承氣之戒。古人亦特謹之。</p>
<p>枳實（君五枚炙）　厚朴（臣半斤炙去皮）　芒硝（佐三合）　大黃（使四兩酒洗）</p>
<p>上四味。以水一斗。先煮二物。取五升。去渣。內大黃。更煮取二升。去渣內芒硝。更上微火一兩沸。分溫再服。</p>
<p>得下余勿服。</p>
<h4>大柴胡湯方</h4>
<p>虛者補之。實者瀉之。此言所共知。至如峻緩輕重之劑。則又臨時消息焉。大滿大實。堅有燥屎。非峻劑則不能泄。大小承氣湯峻。所以泄堅滿者也。如不至大堅滿邪熱甚。而須攻下者。又非承氣湯之可投。必也輕緩之劑攻之。大柴胡湯緩。用以逐邪熱也。經曰。傷寒發熱七八日。雖脈浮數者。可下之。宜大柴胡湯。又曰。太陽病過經十余日。反二三下之。後四五日。柴胡證仍在者。先與小柴胡。嘔不止。心下急。</p>
<p>郁郁微煩者。為未解也。可大柴胡下之則愈。是知大柴胡為下劑之緩也。柴胡味苦平微寒。傷寒至於可下。則為熱氣有餘。應火而歸心。苦先入心。折熱之劑。必以苦為主。故以柴胡為君。黃芩味苦寒。王　曰。大熱之氣。寒以取之。推除邪熱。必以寒為助。故以黃芩為臣。芍藥味酸苦微寒。枳實味苦寒。內經曰。酸苦涌泄為陰。泄實折熱。必以酸苦。故以枳實芍藥為佐。半夏味辛溫。生薑味辛溫。大棗味甘溫。辛者散也。散逆氣者。必以辛。甘者緩也。緩正氣者。必以甘。故半夏生薑大棗為之使也。一方加大黃。以大黃有將軍之號。而功專於蕩滌。不加大黃。恐難攻下。必應以大黃為使也。用湯者。審而行之。則十全之功可得矣。</p>
<p>柴胡（君半斤）　黃芩（臣三兩）　枳實（佐四枚炙）　芍藥（佐三兩）</p>
<p>生薑（使五兩切）　半夏（使半升洗）　大棗（使十二枚擘）</p>
<p>上件七味。以水一斗二升。煮取六升。去渣再煎。溫服一升。日三服。一方加大黃二兩。若不加。恐不名大柴胡湯。</p>
<h4>小柴胡湯方</h4>
<p>傷寒邪氣在表者。必漬形以為汗。邪氣在裡者。必蕩滌以為利。其於不外不內。半表半裡。既非發汗之所宜。又非吐下之所對。是當和解則可矣。小柴胡為和解表裡之劑也。柴胡味苦平微寒。黃芩味苦寒。內經曰。熱淫於內。以苦發之。邪在半表半裡。則半成熟矣。熱氣內傳。攻之不可。則迎而奪之。必先散熱。是以苦寒為主。故以柴胡為君。黃芩為臣。以成徹然發表之劑。人參味甘溫。甘草味甘平。邪氣傳裡。</p>
<p>則裡氣不治。甘以緩之。是以甘物為之助。故用人參甘草為佐。以扶正氣而復之也。半夏味辛微溫。邪初入裡。則裡氣逆。辛以散之。是以辛物為之助。故用半夏為佐。以順逆氣而散邪也。裡氣平正。則邪氣不得深入。是以三味佐柴胡以和裡。生薑味辛溫。大棗味甘溫。內經曰。辛甘發散為陽。表邪未已。迤邐內傳。既未作實。宜當兩解。其在外者必以辛甘之物發散。故生薑大棗為使。輔柴胡以和表。七物相合。兩解之劑當矣。邪氣自表未斂為實。乘虛而湊。則所傳不一。故有增損以御之。</p>
<p>胸中煩而不嘔。去半夏人參。加栝蔞實。煩者熱也。嘔者氣逆也。胸中煩而不嘔。則熱聚而氣不逆。邪氣欲漸成實也。人參味甘為補劑。去之使不助熱也。半夏味辛為散劑。去之以無逆氣也。栝蔞實味苦寒。除熱必以寒。泄熱必以苦。加栝蔞實以通胸中鬱熱。若渴者去半夏。加人參栝蔞根。津液不足則渴。半夏味辛性燥。滲津液物也。去之則津液易復。人參味甘而潤。栝蔞根味苦而堅。堅潤相合。津液生而渴自已。若腹中痛者。去黃芩。加芍藥。宜通而塞為痛。邪氣入裡。裡氣不足。寒氣壅之。則腹中痛。黃芩味苦寒。苦性堅而寒中。去之則中氣易和。芍藥味酸苦微寒。酸性泄而利中。加之則裡氣得通。而痛自已。若脅下痞硬。去大棗。加牡蠣。內經曰。甘者令人中滿。大棗味甘溫。去之則硬漸散。咸以軟之。牡蠣味酸鹹寒。加之則痞者消。而硬者軟。若心下悸。小便不利者。去黃芩。加茯苓。心下悸小便不利。水蓄而不行也。內經曰。腎欲堅。急食苦以堅之。堅腎則水益堅。黃芩味苦寒。去之則蓄水浸行。內經曰。淡味滲泄為陽。茯苓味甘淡。加之則津液通流。若不渴。外有微熱。去人參加桂。不渴則津液足。去人參。以人參為主內之物也。外有微熱。則表證多。加桂以取汗。發散表邪也。若咳者去人參大棗生薑。加五味子乾薑。肺氣逆則咳。甘補中。則肺氣愈逆。故去人參大棗之甘。五味子酸溫。肺欲收。急食酸以收之。氣逆不收。故加五味子之酸。生薑乾薑一物也。生者溫而干者熱。寒氣內淫。則散以辛熱。</p>
<p>蓋諸咳皆本於寒。故去生薑。加乾薑。是相假之。以正溫熱之功。識諸此者。小小變通。獨類而長焉。</p>
<p>柴胡（君半升）　黃芩（臣三兩）　人參（佐一兩）　甘草（佐三兩炙）</p>
<p>半夏（佐半升洗）　生薑（使三兩切）　大棗（使十二枚擘）</p>
<p>上七味。以水一斗二升。煮取六升。去渣再煎。取三升。溫服一升。日三服。</p>
<h4>梔子豉湯方</h4>
<p>內經曰。其高者。因而越之。其下者。引而竭之。中滿者。瀉之於內。其有邪者。漬形以為汗。其在皮者。汗而發之。治傷寒之妙。雖有變通。終不越此數法也。傷寒邪氣自表而傳裡。留於胸中。為邪在高分。則可吐之。是越之之法也。所吐之證。亦自不同。</p>
<p>如不經汗下。邪氣蘊郁於膈。則謂之膈實。應以瓜蒂散吐之。瓜蒂散吐胸中實邪者也。若發汗吐下後。邪氣乘虛留於胸中。則謂之虛煩。應以梔子豉湯吐之。梔子豉湯。吐胸中虛煩者也。梔子味苦寒。內經曰。酸苦涌泄為陰。涌者吐之也。涌吐虛煩。必以苦為主。是以梔子為君。煩為熱勝也。涌熱者。必以苦。勝熱者。必以寒。香豉味苦寒。助梔予以吐虛煩。是以香豉為臣。內經曰。氣有高下。病有遠近。證有中外。</p>
<p>治有輕重。適其所以為治。依而行之。所謂良矣。</p>
<p>梔子（君十四枚擘）　香豉（臣四合綿裹）</p>
<p>上二味。以水四升。煮梔子。取二升半。去渣內豉。更煮取一升半。去渣分二服。溫進一服。得快吐者。止後服。</p>
<h4>瓜蒂散方</h4>
<p>華佗曰。四日在胸。則可吐之。此迎而奪之之法也。千金方曰。氣浮上部。填塞心胸。</p>
<p>胸中滿者。吐之則愈。此隨證治之之法也。大約傷寒四五日。邪氣客於胸中之時也。加之胸中煩滿。氣上衝咽喉。不得息者。則為吐證具。乃可投諸吐藥。而萬全之功有之矣。瓜蒂味苦寒。內經曰。濕氣在上。以苦吐之。寒濕之氣。留於胸中。以苦為主。是以瓜蒂為君。赤小豆味酸澀。內經曰。酸苦涌泄為陰。分涌膈實。必以酸為佐。</p>
<p>是以赤小豆為臣。香豉味苦寒。苦以涌泄。寒以勝熱。去上膈之熱。必以苦寒為輔。</p>
<p>是以香豉為使。酸苦相合。則胸中痰熱涌吐而出矣。其於亡血虛家。所以不可與者。以瓜蒂散為峻劑。重亡津液之藥。亡血虛家。補養則可。更亡津液。必不可全。用藥君子。必講究焉。</p>
<p>瓜蒂（君一分熬黃）　赤小豆（臣一分）</p>
<p>上二味。各別搗篩為散。已合治之。取一錢七。以香豉一合。用熟湯七合。煮作稀糜。去渣取汁。和散溫頓服之。不吐者少少加。得快吐乃止。諸亡血虛家。不可與瓜蒂散。</p>
<h4>大陷胸湯方</h4>
<p>結胸由邪在胸中。處身之高分。邪結於是。宜若可汗。然所謂結者。若系結之結。不能分解者也。諸陽受提於胸中。邪氣與陽氣相結。不能分解。氣不通。壅於心下。為硬為痛。是邪正因結於胸中。非虛煩膈實之所同。是須攻下之物可理。低者舉之。</p>
<p>高者陷之。以平為正。結胸為高邪。陷下以平之。故治結胸。曰陷胸湯。甘遂味苦寒。</p>
<p>苦性泄。寒勝熱。雖曰泄熱。而甘遂又若夫間之。遂直達之氣。陷胸破結。非直達者不能透。是以甘遂為君。芒硝味鹹寒。內經曰。咸味下泄為陰。又曰。咸以軟之。氣堅者。以咸軟之。熱勝者。以寒消之。是以芒硝為臣。大黃味苦寒。將軍也。蕩滌邪寇。除去不平。將軍之功也。陷胸滌熱。是以大黃為使。利藥之中。此為峻劑。傷寒錯惡。結胸為甚。非此湯則不能通利之。劑大而數少。取其迅疾。分解結邪。此奇方之制也。</p>
<p>黃帝針經曰。結雖大。猶可解也。在傷寒之結。又不能久。非陷胸湯。孰可解之矣。</p>
<p>甘遂（君一錢七）　芒硝（臣一升）　大黃（使六兩去皮）</p>
<p>上三味。以水六升。先煮大黃。取二升。去渣。內芒硝。煮一兩沸。內甘遂未。溫服一升。得快利。止後服。</p>
<h4>半夏瀉心湯方</h4>
<p>凡陷胸湯攻結也。瀉心湯攻痞也。氣結而不散。壅而不通為結胸。陷胸湯為直達之劑。塞而不通。否而不分為痞。瀉心湯為分解之劑。所以謂之瀉心者。謂瀉心下之邪也。痞與結胸。有高下焉。結胸者。邪結在胸中。故治結胸曰陷胸湯。痞者。邪留在心下。故治痞曰瀉心湯。黃連味苦寒。黃芩味苦寒。內經曰。苦先入心。以苦泄之。</p>
<p>瀉心者。必以苦為主。是以黃連為君。黃芩為臣。以降陽而升陰也。半夏味辛溫。乾薑味辛熱。內經曰。辛走氣。辛以散之。散痞者必以辛為助。故以半夏乾薑為佐。以分陰而行陽也。甘草味甘平。大棗味甘溫。人參味甘溫。陰陽不交曰痞。上下不通為滿。欲通上下。交陰陽。必和其中。所謂中者。脾胃是也。脾不足者。以甘補之。故用人參甘草大棗為使。以補脾而和中。中氣得和。上下得通。陰陽得位。水升火降。則痞消熱已。而大汗解矣。</p>
<p>黃連（君四兩）　黃芩（臣三兩）　半夏（佐半升洗）　乾薑（佐三兩）　人參（使三兩）　甘草（使三兩炙）</p>
<p>大棗（使十二枚擘）</p>
<p>上七味。以水一斗。煮取六升。去渣再煎。取三升。溫服一升。日三服。</p>
<h4>茵陳蒿湯方</h4>
<p>王　曰。小熱之氣。涼以和之。大熱之氣。寒以取之。發黃者。熱之極也。非大寒之劑。</p>
<p>則不能徹其熱。茵陳蒿味苦寒。酸苦涌泄為陰。酸以涌之。苦以泄之。泄甚熱者。必以苦為主。故以茵陳蒿為君。心法南方火而主熱。梔子味苦寒。苦入心而寒勝熱。</p>
<p>大熱之氣。必以苦寒之物勝之。故以梔子為臣。大黃味苦寒。宜補必以酸。宜下必以苦。推除邪熱。必假將軍攻之。故以大黃為使。苦寒相近。雖甚熱。大毒必祛除。分泄前後。復得利而解矣。</p>
<p>茵陳蒿（君六兩）　梔子（臣十四枚擘）　大黃（使二兩去皮）</p>
<p>上三味。以水一斗二升。先煮茵陳蒿。減六升。內二味。煮取三升。去渣分三服小便當利。尿如皂莢汁狀。色正赤。一宿腹減。則黃從小便去也。</p>
<h4>白虎湯方</h4>
<p>白虎西方金神也。應秋而歸肺。熱甚於內者。以寒下之。熱甚於外者。以涼解之。其有中外俱熱。內不得泄。外不得發者。非此湯則不能解之也。夏熱秋涼。暑　之氣。</p>
<p>得秋而止。秋之令曰處暑。是湯以白虎名之。謂能止熱也。知母味苦寒。內經曰。熱淫所勝。佐以苦甘。又曰。熱淫於內。以苦發之。欲徹表熱。必以苦為主。故以知母為君。石膏味甘微寒。熱則傷氣。寒以勝之。甘以緩之。熱勝其氣。必以甘寒為助。是以石膏甘寒為臣。甘草味甘平。粳米味甘平。脾欲緩。急食甘以緩之。熱氣內蘊。消燥津液。則脾氣燥。必以甘平之物緩其中。故以甘草粳米為之使。是太陽中　。得此湯則頓除之。即熱見白虎而盡矣。立秋後不可服。以秋則陰氣平矣。白虎為大寒劑。秋王之時。若不能食。服之而氣噦逆不能食。成虛羸者多矣。（春沂云立秋後至多矣四十二字疑後人所加。）</p>
<p>知母（君六兩）　石膏（臣一斤碎）　甘草（使二兩炙）　粳米（使六合）</p>
<p>上四味。以水一斗。煮米熟湯成。去渣。溫服一升。日三服。</p>
<h4>五苓散方</h4>
<p>苓令也。號令之令矣。通行津液。克伐腎邪。專為號令者。苓之功也。五苓之中。茯苓為主。故曰五苓散。茯苓味甘平。豬苓味甘平。甘雖甘也。終歸甘淡。內經曰。淡味滲泄為陽。利大便曰攻下。利小便曰滲泄。水飲內蓄。須當滲泄之。必以甘淡為主。是以茯苓為君。豬苓為臣。白朮味甘溫。脾惡濕。水飲內蓄。則脾氣不治。益脾勝濕。必以甘為助。故以白朮為佐。澤瀉味鹹寒。內經曰。咸味下泄為陰。泄飲導溺。必以咸為助。故以澤瀉為使。桂味辛熱。腎惡燥。水蓄不行。則腎氣燥。內經曰。腎惡燥。急食辛以潤之。散濕潤燥。故以桂枝為使。多飲暖水。令汗出愈者。以辛散水氣外泄。是以汗潤而解也。</p>
<p>茯苓（君十八銖）　豬苓（臣十八銖去皮）　白朮（佐十八銖）　澤瀉（使一兩六銖）　桂枝（使半兩去皮）</p>
<p>上五味。搗為散。以白飲和服方寸七。日三服。多飲暖水。汗出愈。如法將息。</p>
<h4>理中丸方</h4>
<p>心肺在膈上為陽。腎肝在膈下為陰。此上下臟也。脾胃應土。處在中州。在五臟曰孤臟。屬三焦曰中焦。自三焦獨治在中。一有不調。此丸專治。故名曰理中丸。人參味甘溫。內經曰。脾欲緩。急食甘以緩之。緩中益脾。必以甘為主。是以人參為君。白朮味甘溫。內經曰。脾惡濕。甘勝濕。溫中勝濕。必以甘為助。是以白朮為臣。甘草味甘平。內經曰。五味所入。甘先入脾。脾不足者。以甘補之。補中助脾。必先甘劑。是以甘草為佐。乾薑味辛熱。喜溫而惡寒者胃也。胃寒則中焦不治。內經曰。寒濕所勝。</p>
<p>平以辛熱。散寒溫胃。必先辛劑。是以乾薑為使。脾胃居中。病則邪氣上下左右無所不至。故又有諸加減焉。若臍下築者。腎氣動也。去白朮加桂。氣壅而不泄。則築然動。白朮味甘補氣。去白朮則氣易散。桂辛熱。腎氣動者。欲作奔豚也。必服辛味以散之。故加桂以散腎氣。經曰。以辛入腎。能泄奔豚氣故也。吐多者去白朮。加生薑。氣上逆者則吐多。朮甘而壅。非氣逆者之所宜也。千金方曰。嘔家多服生薑。此是嘔家聖藥。生薑辛散。是於吐多者加之。下多者還用術。氣泄而不收。則下多。朮甘壅補。使正氣收而不泄也。或曰濕勝則濡泄。朮專除濕。是於下多者加之。悸者加茯苓。飲聚則悸。茯苓味甘。滲泄伏水。是所宜也。渴欲得水者加朮。津液不足則渴。朮甘以補津液。腹中痛者加人參。虛則痛。本草曰。補可去弱。即人參羊肉之屬是也。寒多者加乾薑。辛能散也。腹滿者去白朮。加附子。內經曰。甘者令人中滿。朮甘壅補。於腹滿者則去之。附子味辛熱。寒氣壅鬱腹為之滿。以熱勝寒。以辛散滿。</p>
<p>故加附子。內經曰。熱者寒之。寒者熱之。此之謂也。</p>
<p>人參（君）　白朮（臣）　甘草（佐炙）　乾薑（使各三兩）</p>
<p>上四味。搗篩蜜丸。如雞子黃許大。以沸湯數合。和一丸。　碎溫服之。日三四。夜二服。</p>
<h4>四逆湯方</h4>
<p>四逆者。四肢逆而不溫也。四肢者。諸陽之本。陽氣不足。陰寒加之。陽氣不相順接。</p>
<p>是致手足不溫。而成四逆也。此湯申發陽氣。卻散陰寒。溫經暖肌。是以四逆名之。</p>
<p>甘草味甘平。內經曰。寒淫於內。治以甘熱。卻陰扶陽。必以甘為主。是以甘草為君。</p>
<p>乾薑味辛熱。內經曰。寒淫所勝。平以辛熱。逐寒正氣。必先辛熱。是以乾薑為臣。附子味辛大熱。內經曰。辛以潤之。開發腠理。致津液通氣也。暖肌溫經。必憑大熱。是以附子為使。此奇制之大劑也。四逆屬少陰。少陰者腎也。腎肝位遠。非大劑則不能達。內經曰。遠而奇偶。制大其服。此之謂也。</p>
<p>甘草（君二兩）　乾薑（臣一兩半）　附子（使一枚生用去皮八片）</p>
<p>上三味。以水三升。煮取一升二合。去渣。分溫再服。強人可大附子一枚。乾薑三兩。</p>
<h4>真武湯方</h4>
<p>真武北方水神也。而屬腎。用以治水焉。水氣在心下。外帶表而屬陽。必應發散。故治以真武湯。青龍湯主太陽病。真武湯主少陰病。少陰腎水也。此湯可以和之。真武之名得矣。茯苓味甘平。白朮味甘溫。脾脾惡。腹有水氣。則脾不治。脾欲緩。急食甘以緩之。滲水緩脾。必以甘為主。故以茯苓為君。白朮為臣。芍藥味酸微寒。生薑味辛溫。內經曰。濕淫所勝。佐以酸辛。除濕正氣。是用芍藥生薑酸辛為佐也。附子味辛熱。內經曰。寒淫所勝。平以辛熱。溫經散溫。是以附子為使也。水氣內漬。至於散則所行不一。故有加減之方焉。若咳者加五味子細辛乾薑。咳者水寒射肺也。</p>
<p>肺氣逆者。以酸收之。五味子酸而收也。肺辛寒。以辛潤之。細辛乾薑辛而潤也。若小便利者。去茯苓。茯苓專滲泄者也。若下利者去芍藥。加乾薑。酸之性泄。去芍藥以酸泄也。辛之性散。加乾薑以散寒也。嘔者去附子。加生薑。氣上逆則嘔。附子補氣。生薑散氣。兩不相損。氣則順矣。增損之功。非大智孰能貫之。</p>
<p>茯苓（君三兩）　白朮（臣二兩）　芍藥（佐三兩）　生薑（佐二兩切）　附子（使一枚泡去皮臍作八片）</p>
<p>上五味。以水八升。煮取三升。去渣。溫服七合。日三服。</p>
<h4>建中湯方</h4>
<p>內經曰。肝生於左。肺藏於右。心位在上。腎處在下。左右上下。四臟居焉。脾者土也。</p>
<p>應中央。處四臟之中。為中州。治中焦。生育榮衛。通行津液。一有不調。則榮衛失所育。津液失所行。必以此湯溫建中臟。是以建中名焉。膠飴味甘溫。甘草味甘平。脾欲緩。急食甘以緩之。建脾者。必以甘為主。故以膠飴為君。甘草為臣。桂辛熱。辛、散也。潤也。榮衛不足。潤而散之。芍藥味酸微寒。酸、收也。泄也。津液不逮。收而行之。是以桂芍藥為佐。生薑味辛溫。大棗味甘溫。胃者衛之源。脾者榮之本。黃帝針經曰。</p>
<p>榮出中焦。衛出上焦是矣。衛為陽。不足者益之必以辛。榮為陰。不足者補之必以甘。辛甘相合。脾胃健而榮衛通。是以薑棗為使。或謂桂枝湯解表。而芍藥數少。建中湯溫裡。而芍藥數多。殊不知二者遠近之制。皮膚之邪為近。則制小其服也。桂枝湯芍藥佐桂枝同用散。非與建中同體爾。心腹之邪為遠。則制大其服也。建中湯芍藥佐膠飴以建脾。非與桂枝同用爾。內經曰。近而奇偶。制小其服。遠而奇偶。</p>
<p>制大其服。此之謂也。</p>
<p>膠飴（君一升）　甘草（臣一兩炙）　桂枝（佐三兩去皮）　芍藥（佐六兩）　大棗（使十二枚擘）　生薑（使三兩切）</p>
<p>上六味。以水七升。煮取三升。去渣。內膠飴。更上微火消解。溫服一升。日三服。</p>
<p>嘔家不用建中湯。以甜故也。</p>
<h4>脾約丸方</h4>
<p>約者結約之約。又約束之約也。內經曰。飲入於胃。游溢精氣。上輸於脾。脾氣散精。</p>
<p>上歸於肺。通調水道。下輸膀胱。水精四布。五經並行。是脾主為胃行其津液者也。</p>
<p>今胃強脾弱。約束津液。不得四布。但輸膀胱。致小便數而大便硬。故曰其脾為約。</p>
<p>麻仁味甘平。杏仁味甘溫。內經曰。脾欲緩。急食甘以緩之。麻仁杏仁。潤物也。本草曰。潤可去枯。脾胃干燥。必以甘潤之物為之主。是以麻仁為君。杏仁為臣。枳實味苦寒。厚朴味苦溫。潤燥者必以甘。甘以潤之。破結者必以苦。苦以泄之。枳實厚朴為佐。以散脾之結約。芍藥味酸微寒。大黃味苦寒酸。苦涌泄為陰。芍藥大黃為使。</p>
<p>以下脾之結燥。腸潤結化。津液還入胃中。則大便軟。小便少而愈矣。</p>
<p>麻子仁（君一兩）　杏仁（臣一升去皮尖熬別作脂）　枳實（佐半斤炙）　厚朴（佐一尺炙去皮）　大黃（使一斤去皮）　芍藥（使半斤）</p>
<p>上六味。蜜和丸。梧桐子大。飲服十丸。日三服。漸加。以知為度。</p>
<h4>抵當湯方</h4>
<p>人之所有者。氣與血也。氣為陽氣。流而不行者則易散。以陽病易治故也。血為陰血。蓄而不行者則難散。以陰病難治故也。血蓄於下。非大毒峻劑。則不能抵當其甚邪。故治蓄血曰抵當湯。水蛭味鹹苦微寒。內經曰。咸勝血。血蓄於下。勝血者。必以咸為主。故以水蛭為君。虻蟲味苦微寒。苦走血。血結不行。破血者必以苦為助。</p>
<p>是以虻蟲為臣。桃仁味苦甘平。肝者血之源。血聚則肝氣燥。肝苦急。急食甘以緩之。散血緩急。是以桃仁為佐。大黃味苦寒。濕氣在下。以苦泄之。血亦濕類也。蕩血通熱。是以大黃為使。四物相合。而方劑成。病與藥對。藥與病宜。雖苛毒重疾。必獲全濟之功矣。</p>
<p>水蛭（君三十個炙熬）　虻蟲（臣三十個去翅足熬）　桃仁（佐三十個去皮熬）　大黃（使三兩去皮酒洗）</p>
<p>上四味。銼如麻豆大。以水五升。煮取三升。去渣。溫服一升。未利再服。</p>
