<header><h1>外科啟玄</h1></header>
<dl class="元資料" data-type="book">
<div><dt>作者</dt><dd>申斗垣</dd></div>
<div><dt>朝代</dt><dd>明</dd></div>
<div><dt>年份</dt><dd><data value="1604">公元1604年</data></dd></div>
</dl>
<h2>鍥斗垣申君校正外科啟玄序</h2>
<p>余忝職內閣。思日贊襄。以少俾幾務。暇日尤不敢以自逸。凡內藏秘典上而皇史墳書宸翰瑤章鳥篆龍蟠仙經釋部兵歷石室玄經等書。下至農史稗說野談山堂考記醫卜等數九流等書。無不探討。然資力有定。如窺豹見其一斑。九鼎嘗其寸　。弗能盡也。求其濟斯世於仁壽。以登於春台之上。元元無夭癘之患。以躋於安今之域者。無以加於書。切於日用之常。因嘆曰。炎帝之試百草。一日頻死。天神默佑。因而復蘇。著為令書。天下萬世。</p>
<p>賴其生全。後世若伯岐之內經。雷公之炮制。伊芳尹之湯液。越人之針砭。倉公之神鑒。以逮叔和之難經。仲景之傷寒。丹溪之心法。河間之雜症。東垣之十書。千門萬戶。百家殊途。悉根於炎帝之浚其源而各適其流者也。莫不有功於斯民。余甚究心焉。正欲稽其術而未能。適有族屬字子極者。持書二帙以示余曰。某少而從儒弗獲能博一第。乃究心於醫學。</p>
<p>孳孳汲汲。今已桑榆。生平精力。竭於此矣。弗知可傳於天下後世否。余視其書。一則傷寒之視舌。一則外科之啟玄。皆有以廣前人之所未備。補前人之所不足。其中議論精詳。考究悉當。某病某脈。某脈某藥。宣通補瀉。君臣佐使。明歲運寒暄。各適其宜。此真得異人之秘傳。加之以心得之正法。付之梓人。有美則愛。愛則傳者乎。吁。此正仁者之用心。</p>
<p>登斯民於仁壽。有功於天下萬世者也。昔穆伯論太上立德。其次立功。其次立言。士有此三者。然後可以垂名之不朽。其既立言者耶。名垂不朽。與霄壤並。余族有若人。其利溥。</p>
<p>其德宏矣。申子名拱宸。斗垣其別號也。</p>
<p><u>賜進士及第大學士。申時行撰。</u></p>
<h2>序</h2>
<p>余有事留垣。習知斗垣申君精於養生旨。尤　精外科。因自撰述外科啟玄。凡十二卷。</p>
<p>君從弟一孺君為余幕賓。數數稱其從兄斗垣君遇異人授異方。及披是編。君真異人哉。尤不廢方。醫之有方。猶匠之規矩。車之轍跡。漁獵之筌蹄。方可廢乎。且養生若養民。去其害者而已。君所制論。無慮百篇。所集毒發類。無慮三百種。所按對疾方。無慮千余目。</p>
<p>積十余星霜而後成帙。杼柚於心神。緯經於岐黃。搜　於四氏百家。卒之撲其編而要其旨。</p>
<p>夫各有當。夫人之一身。血氣流液。苟有瘡　。彌浹彌凝。患者苦之。藉君是編。療於未然。康於將然。留之。都人士熙於春台。躋於寧宇。萬口共聲。延君譽而入余耳者。日新月盛。此真異人之異方哉。及睹君豐采。廣　豐頤。三花榮於髯鬢。君亦異人矣。君無用余言以賞音。麝不風而馨。珠不　而自媚。又奚必余言。余既因一孺君以知君。復因睹君以知君精於養生旨。尤　精外科。余嘗臨瘡　者熨眉不開。蹙額罔顧。誠不忍也。閱君啟玄壽梓人。公不忍人之心於世。世將不苦瘡　矣。敢愛余言以引諸編首。昔人有言。不為良相則為良醫。君誠醫之最良者。進於是則醫王為藥師。為藥王。為藥工。長生久視。</p>
<p>又無足云。余日望申君之進也。勉之哉。</p>
<p><u>時萬歷甲辰下商初吉</u></p>
<p><u>賜進士第文林郎南京兵科給事</u></p>
<p><u>中吳江儲純臣以忠甫撰</u></p>
<h2>校正外科啟玄自序</h2>
<p>夫醫自上古以來。岐黃分於內外。實相表裡。未有不以仁而施於道者也。雖刮骨剖腹之玄而未嘗傳之於世。余雖才智疏匪。發揮瘡瘍。乃先賢未發之秘。啟前人不盡之玄。故名云外科啟玄。實澤民利物之要書。非其仁哉。非其心哉。是謂仁者乃仁慈之仁。心謂惻隱之心。可顯於今時。既及於後世。當播於京都而傳於天下矣。近時瘡患頗多。奈萌時不治。待形症息而求療。內經云。病已成而後藥之。亂已成而後治之。譬由渴而穿井。斗而鑄兵。豈不晚乎。諸瘡稍緩。惟恐疔疽之變。勢非小可。若不早求治。施明醫而就於庸俗。</p>
<p>焉知瘡症虛實。時之逆順。勢之緩急。全不以生命為重。往往卒於夭閼者多矣。惜哉。乃持惜之誤也。余忝醫末幾數十年。游俠江湖。遍訪方外奇方異論。無不載集。奧旨秘訣。</p>
<p>豈肯瞞隱。剪繁去冗。專求精裡之精。煎炮　煮。懇尋驗中之驗。圖其形症。明之經絡。</p>
<p>察之色脈。辨之逆順。詳之凶吉。識之深淺。卷分十二。成之一部。聚資剞劂。廣之永遠。</p>
<p>以濟天下之人。咸登壽域。非冀其積陰功。亦留是心。於瘡瘍聊助一小補也哉。</p>
<p><u>時萬歷甲辰春月弦日集隱玄堂書</u></p>
<h2>外科啟玄附痘科序</h2>
<p>夫痘疹痧麻。自古有之。雖夷狄未免。自錢氏立論甚詳。諸賢篇論煩雜。亦未頓切。</p>
<p>後學雖聰。難以深便。愚思古賢有至仁至德。雖傳法傳方。況今時今世。人多稟受不同。</p>
<p>古方焉合今症耶。余雖不敏。雖立數論。雖不玄奧。而實珍於嬰幼之心至矣。曰痘毒當分三因而得之。雖陳無擇亦未詳焉。預知痘疹之訣。古人秘而不書。辨認四時逆順。部位輕重形症。色之吉凶順險逆。更變虛平實治法。款款開列及百句。以便於後學之誦。細陳於總括。實前人未備。啟嬰幼之危厄。雖生命之有數。而補醫之一拙。豈敢隱秘。伏以顯於好生之德甚矣哉。</p>
<h2>後序</h2>
<p>嘗聞秦越人療瘡瘍以　脂鳳卵。俞拊療瘡瘍以麟臘龜趾。朮貴則藥奇。宗兄斗垣公以儒生早歲游俠建康。HT　牛首燕磯棲霞茅君洞天諸名勝。多遇異人授異方。知白日沖舉之術。</p>
<p>乃厭薄儒。而間以其緒窺醫。尤精外科。其方針藏肘後。亦頗濟人。人莫測其秘。試之。</p>
<p>病輒收奇跡。全活人無算。公豐神俊爽。兩眸燁燁映。一見知非常人。年近耆而不屑以指使。不佞弟嘗侍公。公曰。若知醫乎。醫者意也。得意者亡法。何論方。然秦越人以神醫聞。必先受禁方長桑君所。奈何廢方。世醫棼知。率未及一笑。而求諧六律隸奉常甚者托言師心。倍軒岐四氏而自用。彼剽陳言為神。悖矣。師心蔑　古悖之悖矣。與其師心。毋寧執方。與其執方。毋寧窮理。理者玄之又玄。君臣佐使異用。寒熱虛實異齊。多寡輕重異宜。亢承異制。不即方。不離方。妙在得意是之謂。玄道在是矣。乃出一編名外科啟玄。</p>
<p>不佞弟手是編而卒業。論凡一佰二十有奇。毒發類凡二百三十有奇。方凡一千有奇。</p>
<p>析為十二卷。合為一編。不欲針藏肘後。行且壽剞劂氏。以公之九圍千　。蓋欲登世世於壽域。公之陰行善使學醫者HT　。用仁心何深摯哉。不但術貴藥奇而已。因思吾宗肇自軒轅。</p>
<p>為醫鼻祖。至唐開元間。進士秦芝公白日沖舉。賜號妙寂靈修真人。為吾家乘祖。其他文武忠孝。姑未暇論。即公知白日沖舉之術。又以外科啟玄。先以傷寒觀舌心法二書行世。真其苗裔耶。抑聞祖先神聖發祥。後有子姓。必有克肖者興。以纘修前烈。良不誣矣。公姓申氏諱拱辰。字子極。別號斗垣。委不佞弟題諸簡末。忝在一體。而分敢以不文辭輒不遜而為之序。</p>
<p><u>時萬歷三十有二載歲德次舍甲辰</u></p>
<p><u>菊月吉旦從弟五常拜手撰</u></p>
<h2>卷之一</h2>
<h3>明瘡瘍標本論</h3>
<p>夫瘡瘍者。乃瘡之總名也。瘡者傷也。肌肉腐壞痛癢。苦楚傷爛而成。故名曰瘡也。</p>
<p>瘡之一字。所包者廣矣。雖有癰疽疔癤瘰　疥癬疳毒痘疹等分。其名亦止大概而言也。又云外科者外之一字。言瘡雖生於肌膚之外。而其根本原集予臟腑之內。經云。營氣不從。</p>
<p>逆於肉理。乃生諸瘡毒是也。當察其瘡生於何經部位。則知何經先病為本。次則察其有何苦楚。兼現何經症候則為標。既明其標本。治之亦然。對症主治。內托為本。次則調瀉營氣。營氣者。即胃氣也。去其兼現之症為標。使其經絡流通。臟腑內無壅滯。非苦寒之劑不能除也。此治瘡標本之法神矣。藥下於咽。其痛立止。何必其乳香沒藥乎。後學瘡科。</p>
<p>若不熟玩此等議論。恐臨症處方。豈能便自胸中了然哉。</p>
<h3>明瘡瘍脈理論</h3>
<p>夫脈者陌也。徑也。乃血氣之徑路也。然診脈之時。出於醫學精明。奧於七診。心靈智變在毫忽間。浮沉遲速之機。表裡虛實之際。脈訣雖詳。瘡症少異。余之才菲德薄。喜其文不繁。而一語解開。可為千載之師何也。緣古今名醫。累世雖遺秘術傳家。及至緊要捷法。竟不傳於紙筆。</p>
<p>而留之於肘後。何仁於天下也哉。經云。知其要者一言而終。不知其要。流散無窮是也。</p>
<p>大抵七表浮孔滑實弦緊洪兼長大散數等脈。皆有餘之脈。如瘡瘍未潰之先現之則吉。已潰之後現之又少不宜。如微沉緩澀遲伏軟弱結細等脈。皆是不足之脈。即血氣不足也。未潰之先有此不足之脈。乃毒瓦斯深陷。已潰之後。又卻少宜。更參瘡之輕重。標本虛實。色脈相應。良為上工也矣。</p>
<h3>明瘡瘍是陰陽相滯論</h3>
<p>陰陽者是氣於血也。氣者衛也。血者榮也。榮行脈中。衛行脈外。相並周流。循環無端。莫知其紀。一日一夜一百刻。凡氣行一萬三千五百息。脈行八百一十丈。是其常也。</p>
<p>氣為陽熱。滯於氣。固無寒滯也。血為陰寒。滯於血。固無熱滯也。氣得熱則行速而太過。</p>
<p>血得寒則凝遲而不及。人之居處。七情之偏。五味之過。六氣之勝。感之則氣血凝塞。隧道不通。升降有妨。運化失宜。如氣為滯則津液稠黏。為飲為痰。滲入脈內。血為所亂。因而為泣。或為沸騰。此陰滯於陽也。正是血滯於氣也則為疽也。如血為滯。隧道壅塞日增。溢出脈外。升降有礙。運化失令。此陽滯於陰也。正是氣滯於血也。則為壅也。病分寒熱者。是人素稟之偏。虛邪雜染。豈可以陽為熱。</p>
<p>陰為寒耶。浮洪弦數者。乃氣病之脈。豈可遽作熱論。沉細弱澀。乃血病之脈。豈可遽作寒論。雖萬病莫越於此。豈止癰疽疔腫乎。余熟推評至此悉矣。</p>
<h3>明瘡瘍分五善七惡論</h3>
<p>夫瘡之五善者。即瘡之五吉也。七惡者。即瘡之七凶也。五吉見三則瘥。七凶見四則危。</p>
<p>言其一善者。動息自寧。飲食如常是也。二善者。便利調勻。無諸痛苦也。三善者。服藥靈應。腫消膿少是也。四善者。神氣清爽。語音清亮是也。五善者。氣體和平。起居如舊是也。一惡者。煩躁渴甚。腹痛時嗽。泄利無度。小便如淋是也。二惡者。膿血大瀉。腫痛甚腐臭壞。廣爛難禁是也。三惡者。喘粗短氣。恍惚嗜臥是也。四惡者。黑睛緊小。白睛青赤。</p>
<p>斜視或上視也。五惡者。四肢不便。神昏色暗也。六惡者。不能飲食。亦不能服藥。口不知味也。七惡者。聲嘶色敗。面浮肢腫。唇鼻青黑。滯氣也。然瘡有七惡。而觀其皮膚緊急。脈無止數。微有神氣善能會調攝者。亦可保其生命。此凶中變吉也。然瘡雖有五善。</p>
<p>見其皮膚肉緩。又不能善會調養。多欲多勞。亦傷生命。此吉內生凶。後學人不可不知也矣。</p>
<h3>明瘡瘍原無定處論</h3>
<p>夫瘡瘍者。乃氣血凝滯而生。豈有定位。內經云。營氣不從。逆於肉理。乃生癰腫。</p>
<p>因營氣凝滯於五臟六腑之內。則為五臟六腑內癰疽。如凝之於皮膚之外。腦背肢腹之間。</p>
<p>隨處而名之。然又有不因凝滯而生者。所謂墜仆打跌金刀箭傷。湯火炙烙。及蟲獸爪牙傷害而成瘡者。亦無定位。故以此鳴之於觀者味之。</p>
<h3>明瘡瘍色脈形症當參相應論</h3>
<p>瘡瘍者。因氣血不和。感受六淫七情而生。或濃味房勞過度。致令肌體空虛。染不正之氣。所有經云諸癰腫筋攣骨痛者。此寒氣之腫。八風之變也。當診其脈浮緊洪緩。在何經部位。再辨之以色。是何經所苦。假令瘡生在脅肋。即知肝膽二經部位受邪所生。其人面色當青。其脈左關浮緊弦數。其症寒熱嘔逆。脅痛多怒者。此正經自病也。故云能合色脈。可保萬全。如得肺脈浮澀而短。面白色。在秋月是金克木也。脈訣云。秋得肝而亦何宜。舉此一隅而象臟何知也。醫當精此。</p>
<h3>明瘡瘍部位所屬經絡論</h3>
<p>夫人之體者五也。皮肉脈筋骨共則成形。五體悉具。外有部位。中有經絡。內應臟腑是也。假令瘡在頭頂者。即足太陽經也。面部陽明經。頸項肝經。肋膽經。手足心內應心經。背為諸陽。腹為諸陰。臂膊即手之三陰三陽經所行。股脛即足之三陰三陽經所屬。七竅者目肝耳腎鼻肺舌心口脾。是五臟之竅也。如有瘡瘍。可以即知經絡所屬臟腑也。</p>
<h3>明瘡瘍生十二經絡當分氣血多少論</h3>
<p>夫分經用藥。當知氣血多少。多則易愈。少則難痊。瘡科之醫。明此大理。不致有犯禁頹敗壞逆之失也。如手少陽三焦經。手少陰心經。手太陰肺經。足少陽膽經。足少陰腎經。</p>
<p>足太陰脾經。此六經皆多氣少血。凡有瘡瘍。最難收口。如手厥陰心胞絡經。手太陽小腸經。足太陽膀胱經。足厥陰肝經。此四經皆多血少氣。凡有瘡瘍。宜托裡。手陽明大腸經。</p>
<p>足陽明胃經。此二經氣血俱多。初宜內消。終則收功易得。故表此。不可一概而論治哉。</p>
<h3>明瘡瘍當分三因論</h3>
<p>天地有六淫之氣。乃風寒暑濕燥火。人感受之則營氣不從。逆於肉理。變生癰腫疔癤。</p>
<p>其脈現於人迎。必浮大洪數。其瘡腫　於外。恐邪氣極而行。治宜托裡。經云。汗之則瘡已。使營衛通行。邪氣不得入於裡也。人有七情。喜怒憂思驚恐悲。有一傷之。臟腑不和。</p>
<p>營氣不從。逆於肉理。則為癰腫。外無　赤。其痛深於內。其脈沉實而數。必發熱煩躁。</p>
<p>治必疏通臟腑。以絕其源是也。如不內外因者。或膏粱之人。</p>
<p>受用太過。或素稟偏性。或勞逸太苦。致令津液稠黏。痰涎壅塞。隧道不通。外無形症。</p>
<p>內無便溺之阻。飲食如故。清便自調。其脈必滑數實大。知邪在經。當和榮衛。調其經絡。</p>
<p>不失於常。此三法得宜。雖未速瘥。其邪亦峻減。而瘡亦不致於壞也。</p>
<h3>明癰疽疔癤瘤瘡瘍痘疹結核不同論</h3>
<p>凡瘡雖因營氣不從。逆於肉理所生。各形不同者。因逆之微甚。邪之輕重可知也。癰者壅也塞也。壅塞之甚。故形大而浮也。縱廣尺許者是也。疽者阻也。不通也。深而惡也。</p>
<p>其形有頭粒是也。疔者丁也。定也。其形雖小。一起即有頂如泡丁之形。癢痛不一者是也。</p>
<p>癤者節也。乃時之邪熱感受而成。故形小。至大不過二三寸者是也。瘤者留也。畜也。赤腫如榴之形是也。丹者赤也。火也。標紅勢淺大而浮也。瘍者陽也。乃有頭之小瘡是也。</p>
<p>痘者豆也。形有豆。是胎毒所生也。故世人未免也。疹者隱也。隱而現。現而隱。有頭粒而更手。俗稱痧子是也。亦胎毒畜於肝臟之所生也。結核者在皮膚中。如果之核堅硬。初則推之可動無根是也。久則推之不動。亦有作膿而未得其治也。</p>
<h3>明瘡瘍分時令逆順論</h3>
<p>夫瘡瘍者陽也。火也。經云。諸痛癢瘡瘍皆屬心火。火為陽。宜於春夏。旺於巳午。</p>
<p>乃萬物蕃秀之時。故為順。忌秋冬者為陰。乃萬物收藏之時。故為逆也。此四時之逆順也。</p>
<p>然五臟六腑亦有生克。四時所宜之逆順。瘡醫不可不知也。假令肺疽肺痿之症。肺為五臟之華蓋。生於皮毛。行於氣。氣為衛。乃衛護於一身。使榮血潤養。周流無所不至是也。</p>
<p>今肺病則右寸口脈數而虛者。肺萎也。數而實者。肺疽也。其候則口乾喘滿。煩躁而渴。</p>
<p>甚則四肢微腫。咳吐膿血腥臭。胸中隱隱微痛是也。甚症現於秋冬可救何也。則肺旺於秋是也。冬寒水旺。子能救母。母子相生。故云可救為順是也。春夏木旺火勝之時。肺金病再遇火旺之時。三伏之天。流金爍石之時。金受火克。此為逆。故難治也。叔和云夏得肺而難瘥是也。余臟仿此則可知也。</p>
<h3>明腫瘍虛實論</h3>
<p>凡癰疽初起之際。未出膿時名曰腫瘍。當視其虛實。用藥當不致其有誤。如腫而　赤痛。其脈洪大實數。是邪之在表。宜托宜補。腫硬深痛。脈沉實大緊者。是邪之在裡。宜下之。此言表裡之虛實也。外無大　腫赤痛。內則便利調勻。知邪之在經絡。亦視其在何經絡。宜托裡榮衛湯治之。再加何經引經藥。調其榮衛。使氣血行而無滯。邪氣去而無痛苦。此經絡之虛實也。如精神爽朗。語聲柔弱。或聲嘶色暗。小便難而大便滑。脈微澀細。</p>
<p>面目四肢浮腫。此元氣之虛弱也。飲食如故。腹滿。口苦。作渴。煩躁。身熱。脈大而實。</p>
<p>精神　憒。腫大痛。手不可近。此元氣之實也。經云。諸痛為實。諸癢為虛。如脈大實洪數緊者為實。如微細軟弱澀者為虛。此脈之虛實也。經曰。虛則補之。實則泄之。即托裡宣通調榮衛之法矣。</p>
<h3>明潰瘍虛實論</h3>
<p>夫潰瘍者。乃癰疽已出膿後之稱也。當視其虛實而治之。如膿大出。而反痛。瘡口久而不斂。發熱口乾。</p>
<p>膿水清稀。腫下軟慢。脈大虛微。此瘡之虛也。宜補之八珍湯。如膿稀腫硬色澤。脈沉實大。　痛。發熱煩躁。大便秘結。瘡口壅實。此瘡之實也。宜解毒清涼飲治之則愈。</p>
<h3>明瘡瘍屬奇經八脈為症論</h3>
<p>奇經八脈者。是十二經十五絡。共二十七氣。相隨上下。如環無端。奇經八脈。取奇偶之意也。故聖人圖設溝渠以通江海。無令水之濫溢之意也。凡人之瘡瘍。因氣血壅塞而生者何也。人之經絡二十七氣。如天地江河湖海乃周流通輒之意。一日夜行。一萬三千五百息。脈行八百一十丈。焉得有壅滯耶。凡有壅滯。是奇經八脈之所為病也。如天降滂沱大雨。溝渠滿溢。水勢泛濫。不能通於湖海之理也。經云。陽維起於諸陽之會。陰維起於諸陰之交是也。陰陽不能自相維是也。故有瘡瘍。如生於頭面背脊者。是陽維症也。如瘡生於頤項胸腹肢股內　者。是陰維症也。凡治瘡瘍。必察此意。而審載於何經部位。此上工之醫也。</p>
<h3>明瘡瘍作嘔及惡心論</h3>
<p>夫嘔者有聲無物謂之嘔。是氣病也。有物無聲謂之吐。是血病也。凡瘡瘍腫痛之時。即有嘔聲或吐。當診其脈。如洪數實大。或便秘而喜冷凍飲料者。宜降火清中。黃連解毒湯類治之。如喜熱飲而惡寒者作嘔。便利如常。宜養胃調中湯治之。如脈微細腸鳴腹痛作泄而嘔者。宜托裡溫中湯二神丸治之。再以香砂六君子湯治之。飲食頓進。十全大補湯亦可治之。有患瘡瘍未潰而作嘔及惡心者。乃瘡毒之甚內攻。胃氣原虛。</p>
<p>故有此症。宜六君子東加香砂半夏生薑治之。如瘡瘍已潰。而作嘔作惡心者。或不食痞滿。腸鳴腹痛。大便利。作嘔。及噦聲不絕。不得安眠。昏憒時發。宜托裡溫中湯治之。內經云。寒淫於內。治以辛熱。佐以苦溫。薑附能溫中外發。陽氣自裡之表。故為君。羌活苦辛溫能透關節耳。</p>
<h3>明瘡瘍作渴論</h3>
<p>夫渴者乃銷爍津液。因熱極而能作渴。心火燔燃之所有也。如瘡瘍未潰而作渴者。是瘡毒熾盛其心肺。脈必洪數實大者。宜降火清金。芩連內疏之劑治之。如尺脈洪大而無力者。宜滋陰降火。大補氣血等藥治之。或急用獨參湯極妙。如已潰後。氣血大虛。而有渴疾者。常十有八九。宜以黃　六乙東加減八味丸治之。如癰疽已發。已潰未潰。皆可以加減八味丸治之大效。如無有瘡瘍而肺脈洪數甚作渴者。</p>
<p>必發癰疽。此其候也。</p>
<h3>明瘡瘍大便秘結論</h3>
<p>大凡瘡瘍皆由五臟不和。六腑壅滯。則令經絡不通而所生焉。瘡之初起。未潰之先。腫　大痛。</p>
<p>脈洪數實大。欲作膿時。大便秘結者。宜托裡散瀉心湯內倍加硝黃以治之。即發表攻裡之劑是也。如已潰後。脈微芤數澀者。必膿血大出。氣體衰弱者。宜八珍湯丸聖愈湯內加桃仁天麻子當歸。少加熟地黃大黃以潤之。如弱甚以膽汁導之更妙。切不可以巴豆牽牛等藥驅逐峻利之藥治之。恐老幼虛實不等故以度之。</p>
<h3>明瘡瘍痛癢麻木論</h3>
<p>經云。諸痛癢瘡瘍者屬心火。蓋火之為物。能銷爍萬物。殘敗百端故也。蓋人之肌膚附近火灼則為瘡。近火則痛，微遠則癢。此火之用也。或有癢痛如針尖輕刺者。猶飛迸火星灼之然也。然癢者美疾也。又有瘡癢時炙之以火。漬之以湯。而癢轉甚者是微熱助之所使也。有因而不癢者。是熱令皮膚舒緩。腠理開通。陽氣得泄熱氣易散。而故不癢也。有癢而用冷水沃之。暫時少退。良久復大癢者。乃寒主收斂。陽氣鬱結不得散越。怫熱內作。故復癢轉甚也。又有癢得爬而解者。爬主動。動為陽。陽屬火化。故輕輕爬而能癢。亦火之微也。重重爬則癢去者。是皮膚爬得辛辣而屬金化辛能散。故金化見火力而解。故不癢也。經云。痛者為實。癢者為虛。</p>
<p>非為虛寒之虛。乃火熱微甚之意也。又有瘡瘍麻木而不知痛癢者。是氣虛而不運。又兼瘡毒壅塞。經絡不通。致令麻木而不知有無也。亦分輕重耳。蓋麻者木之輕也。木者麻之重也。假如人坐久有腿膝木而不知有無。少頃舒伸。良久復疏則麻。乃壅之少通。氣血復行之意也。大抵未潰之先有麻木者。</p>
<p>毒塞輕重之分也。已潰之後有麻木者。乃肌肉腐爛。血氣已虧。是虛之輕重也。余粗知至此。錄之以示後人耶。</p>
<h3>明瘡瘍已潰未潰發熱惡寒論</h3>
<p>夫瘡瘍初起未潰膿。時有發熱惡寒者。有不惡寒者。是榮衛不行。經絡阻塞。瘡毒　發之所為也。</p>
<p>如已潰之後。膿血大泄。未有不虛者也。經云。陽微即惡寒。陰弱還生熱是也。丹溪云。惡寒非寒。</p>
<p>是衛氣虛衰不能溫分肌肉。實於腠理而惡寒者。又有上焦之邪。隔絕榮衛。不能升降。出於肌表而惡寒者。東垣云。夜則惡寒。晝則安靜。是陰血自旺於陰分也。有日夜惡寒而不發熱者。是重陰無陽也。</p>
<p>當泄其陰而峻補其陽也。又夜則安靜。晝則惡寒。是陰盛而上溢於陽分也。如晝則發熱。夜則安靜。</p>
<p>是陽氣自旺於陽分也。晝則安靜。夜則發熱。是陽氣下陷入陰分也。名曰熱入血室。如晝夜俱發熱煩躁。是重陽而無陰也。當亟泄其陽而峻補其陰。王注云。病熱而脈數。按之不鼓動。乃寒盛格陽而致之。非熱也。形症俱寒而脈氣鼓擊於手下者。此為熱盛拒陰而生病。非寒也。如脈浮數而弱。惡寒者。陽氣虛也。宜補氣。如脈澀而熱者。血虛也。宜補血。又午前發熱宜補氣。午後發熱宜補血。如脈浮數發熱而痛者。邪在表宜散之。脈沉數發熱而痛者。邪在裡。宜下之。又法候之以手捫摸分輕重五法。以輕手捫之於皮毛間熱者。肺熱也。微重於肌肉間熱者。脾熱也。再微少重於血脈間熱者。心熱也。又重手按之於血脈之下。筋骨之間。肝熱也。又至重按之於骨分。其熱蒸手如火。其人骨蘇蘇如蟲食。其骨困熱。不任其身。亦不能起於床者。腎熱也。又一法十二經候之於十二時中發熱。形症可推。亦隨症施治。無不驗耳。</p>
<h3>明瘡瘍淺深論</h3>
<p>夫瘡論紛紛。當識淺深。辨之得法。規矩準繩。如匠之工巧。豈能棄之爾。蓋瘡疽之舉有三。高而軟者發於血脈。腫下而堅者發於筋骨。皮肉色不相辨者發於骨髓。又法候之以手按搖腫根牢而堅大者深也。根小而浮者淺也。七惡少見者疽之深也。五善迭見者癰之淺也。大抵浮而淺者易治。深而堅者難治。求瘥之法。豈能逃於是也。</p>
<h2>卷之二</h2>
<h3>明瘡瘍有無膿論</h3>
<p>夫瘡腫已成。須辨其有無膿者。即知瘡之生熟。形之緩急。膿之淺深多少。當視其可針未可針否。</p>
<p>不致於危殆矣。豈可一例針之。如腫大按之痛者。膿深也。小按之即痛者。膿淺也。如按之不甚痛者。</p>
<p>未成膿也。如按之即復起者。有膿也。不復起者。無膿也。非也。必有水也。如發腫都軟而不痛者。</p>
<p>血瘤也。如發腫日日漸增腫大而不大熱。時時牽痛者。氣瘤也。近時有楊梅結毒。疼痛腫大。久而不腐。腐而不斂者。又有濕痰流注而經久不消。後雖腐而其臭水淋漓。久而氣血衰敗。亦有傷生乎。大凡瘡腫皮光薄軟者。有膿也。肉濃而堅者。不甚熱。膿未成也。宜托裡排膿之劑治之。</p>
<h3>明癰疽生於九死部位論</h3>
<p>夫癰疽之生。原無定位。生死之辨。不可不知。生於不系經絡所會關節之處。臟腑俞募之所針治之法。在於瘡醫甚詳。驗於脈。審於症。察於部位。觀之虛實。按法治之雖在九死部位。亦有生矣。如患者隱而不言。設不早治。再遇庸俗。治不對症。特犯禁忌。調護失宜。雖發於不死之部位。猶恐難生矣。一伏菟二腓　三背四五臟俞六腦七髭八鬢九頤。此九處系緊關節要。出於此事難知。宜當熟玩知之矣。</p>
<h3>明附骨疽論</h3>
<p>夫附骨疽者。以其毒瓦斯深附於骨間。疼痛不已。亦有三種之分。一曰緩疽。二曰石疽。三曰附骨疽。皆因氣體衰弱。感受賊風。而有經久不治。延緩而成也。經曰。百病乘虛而入是也。初感之賊風痛。皮膚不甚熱。而脈沉緩。微惡風。自汗。喜熱熨。痛則少減是也。宜服引越婢湯治之劑。然附骨疽但痛無休。或寒熱而無汗。經久不治。陰極生陽。寒化為熱。方能腐潰是也。蓋緩疽其熱緩慢。數月半載不潰。延捱日久。色變紫黑。皮肉俱爛。故名曰緩疽。石疽者。亦寒熱相襲。深伏骨髓。但腫痛堅硬如石。故名曰石疽。其治法皆宜補托之劑。加附子等藥。以其性溫熱而消骨內寒痛。臨症相得。</p>
<p>妙在斯矣。</p>
<h3>明瘡瘍膿熟不宜開遲論</h3>
<p>凡瘡瘍有膿之際。乃肉腐而為膿。是毒瓦斯侵蝕而潰也。若不速去之。恐毒瓦斯蓄而侵潰好肉。如肘膝樞紐關節之所。筋骨壞。廢疾成矣。有等畏針之徒。多致不救。或密針之不就。余今有一賽針散。</p>
<p>即透出膿急妙。載方於後。以備錄用。秘之秘之。</p>
<h3>明瘡瘍死肉當去論</h3>
<p>凡癰疽仗毒。及楊梅結毒。KT　瘡便毒。疔瘡等。內多有死肉停蝕好肉。苦痛難禁。若不早去。</p>
<p>愈加腐爛。正謂之惡如野狼虎。毒似蛇蠍。有傷性命。恐致不救。當視其緩急。死肉大小。或以針刀割去。緩以腐肉錠子或末藥或膏藥貼之。以平為期。後上生肌長肉等藥。上之內服大補湯丸等劑而愈。</p>
<p>世等庸俗。只知敷貼長肉生肌等藥為神。殊不知有死肉為害。反加腐爛是也。如去不淨。亦不能得愈。</p>
<p>宜熟玩之。</p>
<h3>明瘡瘍生肉論</h3>
<p>夫瘡瘍已潰。愈加保護。若不謹慎。恐致敗壞。倘七情內亂。怒則傷肝。肝為將軍之官。肝主怒。</p>
<p>怒氣盛則刑脾。脾主肉。脾傷則瘡口肉脹出。名曰　肉。　肉脹滿。不能自消。若不去之。雖瘡愈後。肉梗高積。久亦癢痛。倘生面目之端。形容丑怪。乃不知去此之過也。宜用烏梅燒灰。少加輕粉。一上即平。後愈亦不痕疤也矣。</p>
<h3>明譴刑多生惡瘡論</h3>
<p>夫譴者。乃天律刑譴也。是人之平昔妒惡。損人利己。所犯天律一十四條。凡有一條。必生背癰人面等瘡之惡報。輕則少有救也。重則天律擬定。雖秦檜之一品。晁盎之巨惡。豈能逃避。一譴曰將誘降兵而殺之。二譴曰刑官陰害人命。三譴曰人臣欺君。四譴曰子侄悖親。五譴曰擅作威福。六譴曰讒害良善。七譴曰血屬自噬。八譴曰　分過禮。九譴曰受用過度。十譴曰酷虐不仁。十一譴曰陰毒嫉妒。十二譴曰虧心陷騙人財。十三譴曰暴殄天物。十四譴曰夙生冤愆。如此之人。惡貫滿盈。減算除年。感應篇中分明具載。</p>
<h3>明膏粱之人生惡瘡論</h3>
<p>夫膏粱者。是富貴之家。穿著綾錦。吃的百味珍饈。</p>
<p>受用過度。或服金石等藥。房勞過多。腎水有虧。陰虛火盛。津液稠黏。經絡壅滯。多生惡瘡。內經云。膏粱之變。足生大疔。受苦持虛是也。疔生之初。亦無定處。頭面手足。腰胯腿膝之間。或一二日內必發熱。頭疼身痛。重則嘔吐惡心。其瘡疼癢。按之其痛應心者是也。再候看其人口內頰邊舌上有赤黑珠子。即是疔也。若不急早治之。恐其毒喜歸心。千金莫救。如五六日不瘥。眼中必見火光。</p>
<p>心神昏昧。口乾煩躁。至七日不救也。自古之華元化載之五色疔。千金方論有一十三種疔瘡是也。奈疔之名色俱不同。治法亦異。余雖不敏。究其源。察其形。余總計共三十四種疔瘡。其形症不同。禁忌不宜。誤犯若不急治。惟恐傷於生命。俗云。走馬看疔瘡是也。故知疔與癰疽由急也。當診其脈浮數。在表也。宜散之。沉實者在裡也。宜下之。半表半裡用解表攻裡之劑和之。如麻木痛癢者。並宜灸之。更兼服攻毒丸散。敷貼膏藥。治法於下。</p>
<h3>明疔瘡三十四種形症禁忌論</h3>
<p>夫疔瘡之苦。形症多端。詳辨得宜。取效如手拾芥。不得法如下海屠龍。蓋謂不得其詳也。如分其形。</p>
<p>識其名。知其秘。得其宜。故不敢隱而傳之後世。人得其生。非其心哉。仁哉。故剖之。名一一具載。</p>
<p>古之盧扁。漢之華佗。止言五疔是五臟之疔也。辨五色。分五臟。青黃赤白黑名之。一曰心疔。其形生於心臟之俞募經井之端。或手之小指。其色赤。發熱煩心。睡眠不安口乾。其痛應心。小便赤。面赤。舌上有珠子。治宜瀉心湯。內加托裡解毒之劑。二曰肝疔。其色青。其形生於肝臟部位。足之大指之端。脅肋之次。其症寒熱頭項痛。眼中火光。口苦脅痛。小便難。面青。宜小柴胡湯內加托裡解毒之劑。三曰脾疔。又名曰黃疔。其形多生脾臟之部位。其症不食。多嘔吐。其色黃。治宜瀉黃散加解毒等劑。四曰肺疔。又名白疔。其形多生肺之部位經絡。手之大指。其色白。其症發熱咳嗽。治宜瀉白散內加解毒之劑。</p>
<p>五曰腎疔。又名曰黑疔。其形多生於腎經絡部位。足之小指涌泉等穴。其症寒熱面色　。治宜解毒托裡加引腎經藥治之。</p>
<p>六曰麻子疔。其狀肉起。頭如黍米。色稍黑。四邊微赤多癢。忌食麻子油衣。</p>
<p>七曰石疔。其狀皮肉相堅。色如黑豆。甚硬。刺之不入肉微痛。忌砭之。</p>
<p>八曰雄疔。其狀　黑。四畔仰。　漿起有水出。色黃。大如錢孔。形頂凸者是。忌房室。</p>
<p>九曰雌疔。其狀稍黃向裡靨。亦似灸瘡。四面　漿起。心凹。色赤。如錢孔形者忌房室。</p>
<p>十曰火疔。其形如湯火燒燙。瘡頭黑靨。四邊有煙漿。又如赤粟米狀。忌灸烙。</p>
<p>十一曰爛疔。其形色稍黑。有白斑。瘡潰流膿。有大小如匙面。忌食沸熱食物。</p>
<p>十二曰三十六疔。其形黑。浮起如黑豆。四畔起赤色。今日生一顆。明日生二顆。一日增一瘡。若增至三十六。雖靈丹莫救。如未滿者可治。忌嗔怒愁恨。又名滿天星。</p>
<p>十三曰蛇頭疔。又名蛇眼疔。其形頭如蛇頭。有二目。似蛇眼大。苦痛甚。多生手足指頭上。宜取去其眼。系上藥。</p>
<p>十四曰鹽膚疔。其狀大如匙面。四邊皆赤。有黑粟粒。忌食鹽。</p>
<p>十五曰水洗疔。其狀大如錢形有孔。瘡頭白裡黑靨。汁出。中間硬。忌飲水及水洗。</p>
<p>十六曰刀鐮疔。其狀闊狹如薤葉大。長一寸。左側肉黑如燒烙。忌針刺刀割。宜藥治之。</p>
<p>十七曰浮漚疔。其狀曲圓少許不合。長而狹如薤葉大。內黑外黃。黑處刺之不痛。黃處則痛。無禁忌。</p>
<p>十八曰牛拘疔。其狀肉色　起　不破。無忌。縱不治。亦不殺人。</p>
<p>十九曰豬疔。其形圓而小。瘡口內有油。忌食豬肉。</p>
<p>二十曰牛疔。其形圓小。瘡口內無油。　起　之不破。有寒熱。忌食牛肉。</p>
<p>二十一曰狗疔。其形長而帶尖。色赤。有寒熱。忌食犬肉。</p>
<p>二十二曰羊疔。其形長而色白。有寒熱。忌羊肉。</p>
<p>二十三曰驢馬疔。其形三角。頂上有黑點。根腳赤色。凸頂。有寒熱。忌食驢馬肉。</p>
<p>二十四曰瓜藤疔。不計其數。其形圓長如瓜形。因食瓜毒而生。忌食瓜。</p>
<p>二十五曰豆腐疔。其狀白。　三日內頂陷。因食豆腐內有人汗所生。面　亦然。</p>
<p>二十六曰氣疔。其形或大或小。　白如有氣。於內因感怒恚之氣而生。忌氣怒。</p>
<p>二十七曰鬼疔。其形亦大小不一。色青。因中邪毒之氣而生。異於諸疔。比氣疔。夜甚。令人言。</p>
<p>如見鬼狀。</p>
<p>二十八曰紅絲疔。其形赤縷縷如絲線。周身纏擾。如手足上則入心即死。宜松針刺去血。忌熱物。</p>
<p>二十九曰內疔者。言其疔生於內。臟腑上。腔裡面。喉內。口內。與外疔更不同。甚利害。宜托毒追疔取黃上。</p>
<p>三十曰蒲桃疔。其形黑兼紫。如水晶。故名之。　內黑血毒水宜去之。入追毒丹。服奪命丹。托毒藥治之。</p>
<p>三十一曰楊梅疔。其形黑紫如熏梅狀。如遍一有梅瘡。內有一二個疔瘡。則令遍身瘡不發。須針刺其毒。入追毒丹。服土茯苓加托毒等藥。隨症治之方安。</p>
<p>三十二曰魚臍疔。其形如魚之肚臍狀。多生胳膊肚小腿肚上。乃手足太陽經分毒瓦斯。治宜察之加引經。</p>
<p>三十三曰痘疔。有大小人出痘之時。忽生此疔。則令遍身痘瘡俱不發。須急去之。內服托裡追疔藥。外有本條。</p>
<p>三十四曰蜈蚣疔。其形長如蜈蚣。亦有頭足。發寒熱。因食物被蜈蚣所游之毒而生。宜雄黃定子塗之。</p>
<h3>明疔瘡治法論</h3>
<p>凡疔瘡取治。其法不一。當先看其緩急。如緩者一日瘡　白色而小。二日色白微大。三日色微紫。</p>
<p>四日色真紫。此候之緩也。急者五日色青緊小。六日色深青大緊。七日色黑如火灸瘡之狀。此最急之候。假如身上生一瘡。而他處再生一小瘡。為之應候。用針挑破小瘡。則泄其毒。謂之可治。不可治者他處無小瘡。謂之無應候。毒之甚。故不可治也。大抵疔瘡四圍有赤　腫。名曰有護湯。如四圍不赤腫。</p>
<p>即是不護湯。亦不可治也。疔之生者則身熱頭疼。手足溫暖。飲食如常是也。疔之危者。睛不轉。大渴而喘。唇面青。不進食。五心腫。無有脈。四肢冷。不起床。不精神。腹痛甚於常。是有內疔也。</p>
<p>當詳內疔條。如治外疔。雖有三十四種之分。而其治法不無少異。當知禁忌。不可誤犯。犯之者恐難治也。</p>
<h3>明陰陽發背癰疽論</h3>
<p>大凡癰疽等毒。雖屬君火。而經絡壅滯。感受亦有陰有陽。陽癰則赤腫　痛。脈浮數。發熱而渴。</p>
<p>或大便秘。小便赤。瘡亦紫赤。皆熱之過極。宜服內疏黃連湯。外以洪寶膏敷貼自愈。如陰毒初起。</p>
<p>腫痛肉不變色而少熱。其脈沉實。惡寒喜飲暖。五七日則瘡面凹而陰黑。腐爛潰而不速。久則開而不斂。宜服補中益氣加溫暖藥。外敷玉龍膏。待陰氣散而陽氣回。</p>
<p>則瘡赤而肌肉漸長。痛減如失。人亦得生矣。若不知此。而誤以敗毒等劑。多致不救。學人參之。</p>
<h3>明陰瘡毒似陽瘡症論</h3>
<p>夫瘡之始發。於陰於陽。豈有定規。調護失宜。致令陰陽偏勝。即有瘡變之患也。如毒之初起。</p>
<p>筋攣骨痛之時。經云。此寒氣之腫。八風之變。當以表散之。使邪易散。而毒易消。不知治此。再以內疏之劑。敷以寒涼之藥。或食冷物。使瘡毒內陷陰極而方生。陽氣漸回。令人煩悶譫語微渴。其脈沉細而數。治宜補中益氣湯而加溫暖之藥治之。為上工矣。</p>
<h3>明陽瘡毒似陰瘡症論</h3>
<p>人之瘡惡屬心火乃正理也。亦有初起色紫赤而腫痛。脈沉細數。而惡寒喜暖。非真寒也。乃火極似水。陽極生陰。亢則害。承乃制之理。或平時富貴享用濃味。服金石等藥致之。故有陽極似陰。始熱終寒之變。宜順其時而服內疏托裡瀉心等劑。治之即愈矣。</p>
<h3>明瘡毒入內罨論</h3>
<p>瘡之始發。肉色未辨。經絡初滯之時。宜表散。以托裡之劑。使經易通。而毒亦散。況瘡為陽。</p>
<p>而令外出為順。內經云。汗之則瘡已。令榮衛通行。妙在斯矣。有等通俗之人。不聽良言。而自高傲。強自內疏。不知脈浮在表之理。返使邪內罨。如傷寒症當汗而誤下之意同。致令外如麻。裡如爪。</p>
<p>增寒壯熱。邪已內攻。急以蒜灸。以接其陽。令外出。更以托裡大補之劑治之。若不如此法。必不能生矣。常見有瘡疥之人。熏燃拈子等藥。亦令入內。皆自取其傷生之禍爾。</p>
<h3>明妊娠瘡瘍治法不同論</h3>
<p>大凡婦女有孕。忽生癰疽疔毒。始發及未潰已潰之時。當知雙見。而用藥豈比尋常人也。如奪命丹返魂丹內有砒　巴射等類。有犯於胎禁。及內疏硝黃大下之藥。焉可例用。止宜調氣血安胎托裡之劑。可保無虞。此乃警生死之大要。不可不知也。</p>
<h3>明產後瘡瘍治法不同論</h3>
<p>大凡婦女生產之後。氣血大虛之際。而感受七情六淫。致令榮衛不行。逆於肉理。乃生癰腫。況元氣不足。豈能禁於巴　暴悍之劑。只宜大補氣血。大托裡之藥。八珍湯丸內少加溫暖藥。使榮衛通行。毒瓦斯消散。無不安乎。不然。恐致虛損。瘡亦敗壞。潰而不斂。多致不救矣。</p>
<h3>明嬰孩瘡瘍治法不同論</h3>
<p>嬰孩之輩。乃氣血未克。筋骨未堅。脾胃尚脆。凡有癰疽。多是胎毒。或母不慎調護。致令血氣壅滯。多生瘡腫。止宜內托內疏湯劑。和緩之藥。不可用大猛峻之劑。有傷胃氣。外有無辜疳毒。豈同大人治之。宜消疳大補之劑即安矣。</p>
<h3>明師尼寡婦室女瘡瘍治法不同論</h3>
<p>凡師尼寡婦室女。雖云牝體。乃異於妻外家乎。然無房室。常有憂思之苦。欲心蒙而不遂。有失交歡。氣血欠和。陰陽乖戾。凡有瘡瘍。治法亦異。雖內托補中之劑不殊。而調經舒郁安神之藥不缺。</p>
<p>隨症治之神矣。</p>
<h3>明宦官及富貴人瘡瘍治法不同論</h3>
<p>夫宦官富貴人者。性自驕奢。膏粱濃味。受享不同。形志苦樂亦異。及年老衰弱。酗酒勞房。多令陽勝陰虧。凡有癰疽。勢不可緩。內疏內托。必用大劑攻之。方得其宜。然性貪不忌口。略少苦即難禁。此其常也。</p>
<h3>明貧賤勞逸人瘡瘍治法不同論</h3>
<p>夫貧賤之人。飢寒勞苦。風霜有之。志慮居處奔馳有之。致令榮衛不通。血脈凝注。逆於肉理乃生癰腫。非膏粱之變。形苦志樂之所生乎。既受享不足則血氣不克。形骸瘦弱。癰腫初起。必大補內托為先。已潰之後。宜補中益氣加減。令氣血衝和。不致　羸頹敗。醫術之玄妙在斯矣。</p>
<h3>明南北方人瘡瘍治法不同論</h3>
<p>經言東西南北中五方人土產濃薄。居處高下。風寒暑濕。各地不同。日用穀　頗異。所以黃帝舉五方之問。岐伯進五治之功。針砭　淋灸之法。乃五方得宜之用。而今年力衰壯。五土之別。學人當詳察之。不可不備矣。</p>
<h3>明鴇嫗妓瘡瘍治法不同論</h3>
<p>夫　妓者乃煙花路柳。人人可折。逐日交歡。罕於間隔。鴇嫗易老。是精華作喪於早年。雖受男子陽精補益。自己豈無泄漏。故云爽口。物多終作疾。快心事過易為殃。嫖客亦然。凡此之人。有瘡難愈者何也。蓋精血不足。難潰難斂。必須大托大補。先禁房色。非百日不痊。豈但瘡瘍諸疾可忌。</p>
<p>養生之源。莫出於此矣。</p>
<h3>明肥人瘡瘍治法論</h3>
<p>夫肥人多濕多痰。多氣虛。形體外實者多肉。內虛者屬氣虛。故氣虛之人生瘡瘍故多癰。癰者壅也。屬陽在表。氣虛即表虛。故多浮腫於外。皮薄色赤。宜內托之。使邪不內陷則易潰而易完。丹溪云。肥人宜二陳東加人參　歸術金銀花連翹等類治之。無出於此。學人察之。</p>
<h3>明瘦人瘡瘍治法論</h3>
<p>夫瘦人多火多血虛。血虛即陰虛。陰虛即火盛。火盛即發熱。筋骨瘦而不勝於寒。蓋皮寬肉緩。</p>
<p>如生瘡瘍則多疽。疽者阻也。屬陰。因榮血受凝注不從。正是陰滯於陽。血滯於氣。則為疽也。又云疽乃五臟之毒。癰為六腑之毒。故疽多附於骨。肉色不變。故難潰。潰而難完。治宜八珍湯中加金銀花連翹附子之類加減。妙在於不執其方。斯為上工。學人味之。</p>
<h2>卷之三</h2>
<h3>明瘡瘍權變通類活法論</h3>
<p>夫瘡疽等症。種種不同。又況五土所產濃薄。人之老幼虛實。形志苦樂不等。各有所宜。豈有一法一方而通哉。然醫之精通。悟之權衡機變。孰敢以一定之方而求愈者鮮矣。丹溪云。以古方而治今人之病。如拆舊屋而改蓋新房。尺寸豈能相合。必經良匠之手。方能相合。以古方而治今人之病。必經良醫之手。方得其宜。故先賢所立補泄汗下針灸淋　敷貼炙烙等法治之。蓋取其合宜之用也。當察瘡之緩急。勢之輕重。治之汗下。法之逆從。症之標本。方之奇偶。皆在於醫之權變。寒熱溫涼。湯液加減。貴乎臨症處方。運用一時通變之機。而取百發百中理也哉。</p>
<h3>明瘡瘍宜隨症用藥論</h3>
<p>凡瘡疽之症。苦於痛癢。在人之虛實。脈之浮沉。症之表裡。如腫　初起。當以內疏。既成之後。</p>
<p>即當內托。止痛排膿。已潰之後。須當大補。此乃正治之法也。外兼余症。亦當隨之加減合宜而安。</p>
<p>稍陳幾味。</p>
<p>以明隨症之宜。略言數句。以通活法之要。如潰後頭疼。托裡方中加川芎蔓荊子。潰後驚悸。加人參茯神朱砂。寒熱往來。加柴胡地骨皮。渴而不止。加花粉知母。大便秘結。加大黃麻子。甚則芒硝。</p>
<p>小便不通。加茯苓琥珀木通車前。心虛煩而加天門冬枸杞子。四肢厥冷加附子乾薑。嘔吐者生薑半夏藿香。膿多者加川芎當歸。痛甚者加乳香芍藥。肉不長加參朮芎歸。口不收加白蘞白芨。風癢痛加防風天麻。肌死者加獨活官桂。瘡紫陰黑。加沒藥紅花。述之不盡。遍覽攸嘉。</p>
<h3>明瘡瘍隨經加減論</h3>
<p>隨經者引經必要之藥也。引者導引也。引領也。如將之用兵。不識其路。縱兵強將勇。不能取勝。</p>
<p>如賊人無抵。腳不能入其巢穴。叩之箱簣此理也。故用引經藥。不可不知。太陽經瘡疽生於巔頂之上。</p>
<p>必用羌活　本麻黃。在下黃柏。少陽經耳前上用升麻柴胡。下用柴胡連翹。陽明經面上用葛根白芷黃芩。下用花粉。太陰經中府云門尺澤上用條芩連翹。下則箕門血海用蒼朮防己。少陰經少衝少海。上用細辛。下涌泉照海用知母。厥陰經中衝內澤。上用川芎菖蒲。</p>
<p>下太敦曲泉。柴胡之類。上則言其手經。下則言其足經。當察其此。</p>
<h3>明瘡瘍汗下和大要三法論</h3>
<p>經云。汗之則瘡已。言瘡之邪自外而入。脈必浮數而實。在表故當汗之。邪從汗出。毒自消散。</p>
<p>又恐邪之入裡。即內托之意也。如內之外者。因七情所得。脈必沉數而實。當先疏其內。以絕其源。</p>
<p>不令外出是也。不內外因者。是跌仆打壓。火燒湯燙等瘡。宜和其榮衛。調其飲食。適其寒溫。此治瘡之大要三法。不可不知也。</p>
<h3>明瘡瘍發表攻裡通變論</h3>
<p>夫瘡之始生。有表復有裡。表裡相兼。當診其脈。浮沉之間。別其表裡之虛實。有表多而裡少。</p>
<p>有裡多而表少。以防風通聖散千金漏蘆湯內當消息。表裡多少而藥亦隨之表裡多少。加減得宜。可為上工也已矣。</p>
<h3>明背癰頭開不住論</h3>
<p>癰疽發背皆營氣不從。逆於肉理之所生。既成之後。　腫痛甚。五七日內或一頭從上開發。或兩頭開闊上下侵展不住。帝曰。何氣使然。岐伯曰。不善於調養。乃七情之擾。房勞之變。穢氣所撞。惡氣所襲。皆令開而不住。當以內托大補之劑。內加白蘞白芨等藥服之。外以收斂之藥敷貼。淋　竟不開矣。醫當鑒之。</p>
<h3>明瘡瘍宜灸論</h3>
<p>凡瘡之初起。內之外者。即當以灸。然灸瘡之法不一。故以鳴之。如瘡外之內者。則不宜灸。宜托裡。內之外者。宜灸。有隔蒜片灸者。有附子片灸。或香豉餅香附餅及生薑片等灸法。即使毒瓦斯宣發而散。內經云。陷者灸之。如痛灸至不痛。不痛灸至痛。如癢麻俱可灸之。如瘡大而頭多者。可搗蒜泥為餅。以艾鋪開灸之。乃活法。其效甚捷。不可　於此而輕忽矣。</p>
<h3>明瘡瘍宜針論</h3>
<p>凡癰疽之有膿。須急以鈹針去其膿。血毒從此瀉而不復有也。好肉則不腐。令人精神回而氣血復生。其肌肉不致敗損也。如治疔毒先以針刺其四邊及中心。</p>
<p>去其惡毒之血。再灸之立愈。內服追疔托裡之藥。不數日而安已矣。</p>
<h3>明瘡瘍宜砭鐮論</h3>
<p>夫砭石　針刀鐮乃決瘡毒之器械也。所謂瘡毒之宜出血。可急去之意。不可延緩。恐毒勢變走。</p>
<p>內經云。病在血脈。決之於針石也。岐伯五治論云。砭針乃磁石。鋒芒利快。決毒甚便。乃東方之民善於此用。於瘡癤丹瘤塗之生油於赤腫之上。砭之出血。妙在合宜。亦不可過之耳。</p>
<h3>明瘡瘍宜火針論</h3>
<p>火針之用最宜得法。取效陡然。凡癰疽之深。火針用則不可淺。癰疽之淺。針亦不可深。要乎得中。中病而已。所謂肉濃腫豐膿深。恐瘡口小而易合。膿水不快。故取之大針。如火筋尖而圓禿。裹之以紙。燈　燒赤。看瘡頭準酌納入。如不透。再納之。令的當。須令膿水易出。而毒易消矣。如癤毒陽瘡淺小不用之。</p>
<p>專治附骨癰疽。不能外出。故用此火針開其瘡口。即以紙捻子油蘸　之。外以膏藥貼之。似此之毒。</p>
<p>若不用之。火針畏而延遲日久。使毒內攻。腐壞筋骨。毒從何解。膿從何泄。妙在不可太早。亦不可太遲。貴乎在於醫之神矣。</p>
<h3>明瘡瘍宜浴法論</h3>
<p>凡治瘡腫。初起一二日之間。宜藥煎湯洗浴熏蒸。不過取其開通腠理。血脈調和。使無凝滯之意。</p>
<p>免其痛苦。亦消毒耳。如已潰洗之。令瘡淨而無膿。隔畔疙疤作痛之意也。杖瘡亦然。近時楊梅瘡生於穀道。久治不愈。以五根煎湯入婦人淨桶內。先熏後洗。不數次而愈。諸瘡更妙。何但於梅毒乎。</p>
<h3>明賽火針藥法論</h3>
<p>夫賽火針之法。是余之所立。近因人畏其火針而不肯。因其驕奢。豈不誤於生命乎。甘受其苦。</p>
<p>毒從何泄。余雖不敏。故立此一法。活人多矣。古之罕用。近用甚奇。豈敢自秘。用者思余之意也。</p>
<p>將藥末放於瘡頂上。亦看其瘡之大小深淺。可用藥多少於上。以香點之。其藥一射而入。其膿大泄而出。傾刻痛止。使瘡者無妨。不慎其苦。亦人人少知耳。當秘之。</p>
<p>方俱載後。</p>
<h3>明瘡瘍宜代針論</h3>
<p>夫代針者乃以藥代其針也。雖膿已熟。或女體幼童驕恣輩。不便於針者。或惡針者。當以此藥服之。少刻即有頭出。即破出膿以免痛苦。亦仁之於心也哉。方見後。</p>
<h3>明瘡瘍宜敷藥論</h3>
<p>敷者化也散也。乃化散其毒。不令壅滯也。然瘡之緩急。毒之冷熟。藥亦有寒涼之性。妙在瘡之所宜。如赤腫　甚。洪寶膏寒性藥敷之。如不變色而腫勢深暗者。宜玉龍膏性溫之藥敷之。如不熱不涼以沖和膏烏龍膏以敷之。使膿易熟而毒不走。乃易於消散矣。</p>
<h3>明瘡瘍宜烙論</h3>
<p>夫頑癤瘡瘤妒其膿。半載整歲不能得愈者何也。蓋於男婦不慎房室。故多有之。小兒亦因吮其欲乳。更是一理也。亦有因跌撞妒其膿血未及。將愈又跌之。故此成其頑癤不能得愈。百病不治者。可將銀錢銀匙燒赤。於癤上烙之。不數日而痊。先勿令知之。此真良法也。如無銀錢以銅錢物代之亦可。如血瘤子大如茄子。贅於肌體妨於動作。將利刃於瘤子細根底一割去。即將銀匙燒赤一烙之。則不血出。亦不復生。數日愈矣。</p>
<h3>明瘡瘍宜炙論</h3>
<p>凡瘡破已久。膿血多出。氣血衰敗。不能得愈者。十常八九。蓋又因色欲令瘡腐而多皇。歹肉存而不長。新肉以敗肉滑而時出清水。亦有不得其治法。雖數歲不能愈。內宜服補中益氣加托毒藥。外以藥水洗淨。而以桑條晒乾。將一頭燒著吹滅　。以火在於瘡上。少遠之。勿令痛。亦不可太遠。則無益。炙令熱而微癢為妙。日數次。亦不多灸。後少刻以長肉生肌膏貼方能取其神效矣。</p>
<h3>明瘡瘍宜熏論</h3>
<p>夫大凡楊梅瘡並結久爛坑見骨。及多年KT　瘡並血風瘡頑癬疥瘡。百治不痊者。蓋因日久心頹。不慎房室。</p>
<p>不能戒口。不謹調護。故令瘡頑多治不痊。殊不知人有虛實。氣血虛實。瘡之虛實。以此虛實分辨清白。虛則以補中益氣東加內托解毒藥三二十劑。多寡見其血氣平和瘡勢活泛。可用藥拈子熏之不數而愈。愈後仍服解毒和中之藥數劑而安。此百發百中之機也。如實則以內疏其毒。令腸胃通。無其壅滯。</p>
<p>血氣和而瘡亦輕。然後以捻子熏之即愈。仍以解毒補中藥數劑服之而安。如八仙燈鬼吹火三聖拈子等類治之。無不神效。人不知此等用度。而只言利害二字。棄而不用。豈有先賢制度而誤人耶。用者當詳謹在於通變矣。</p>
<h3>明瘡瘍宜點論</h3>
<p>點者化也散也。凡瘡瘍初結之時。其根尚活動。其毒始凝。內服其內疏內托之劑。外以降下粉霜伍厘點之即消。至大不過一分。此方外之術。余訪多年。用之隨手而應。刻期見效。此玄門之秘授仙方。孰能知之。今錄於下。以備之於後人幸甚也矣。</p>
<h3>明瘡瘍宜追蝕論</h3>
<p>夫追蝕者乃助治之理不針之法也。如瘡腫　痛難禁。</p>
<p>而內以托裡藥中由加穿山甲角刺皂子破硫璃等藥。外以針頭散貼在頂上即蝕。其瘡口歹肉自腐。膿亦潰毒亦散也。亦有用水蛭吮其瘡頂之毒血。雖是良法近人多惡之。今錄之以備其便用也。</p>
<h3>明瘡瘍宜刀割論</h3>
<p>蓋因死肉多堅而不腐。反將好肉蝕而不在。致令痛苦日夜不安。欲上腐肉藥。好肉痛甚。欲上生肌藥愈加潰爛。如背癰疔瘡杖毒內死肉侵之。若不急用刀割。恐內毒侵於脂膜臟腑。多致不救。豈不畏之。內經云病在血脈。決之則愈。又云。惡於針刀者。不可以言其至妙。亦可以先與其畏針散一服更妙矣。</p>
<h3>明瘡瘍宜貼膏藥論</h3>
<p>大凡瘡毒已平。膿水未少。開爛已定。或少有疼癢。肌肉未生。若不貼其膏藥。赤肉無其遮護。</p>
<p>風冷難以抵擋。故將太乙膏等貼之則偎膿長肉。風邪不能侵。內當補托裡。使其氣血和暢。精神復舊。</p>
<p>至此強壯諸瘡。豈能致於敗壞乎。</p>
<h3>明瘡瘍宜蒸法論</h3>
<p>夫瘡已敗壞。漏瀝不止。人已衰弱。百治不痊。多年苦楚。未遇良醫。銀錢浪費。心已含灰。又被房勞。使瘡肉紫黑。敗肉浮攸。再遇HT　磕惡血積之。縱有冰片乳沒血竭等藥。豈能治之。殊不知異有良法。非歷朝瘡書有之。余在江湖有年。遍訪名山異人。多遇。求授良法。載之於後。活人多矣。</p>
<p>能使陰氣消散肌肉紅活。生肌長肉。膿水立止。妙哉言不盡矣。</p>
<h3>明瘡膿宜吸法論</h3>
<p>瘡膿已潰已破。因膿塞阻之不通。富貴驕奢及女體不便。皆不能擠其膿。故阻而腫　。如此當用竹筒吸法。自吸去其膿。乃泄其毒也。亦有用口吮其膿。令不痛而毒自安。此瘡醫之仁矣。古云。醫家有割股之心。罕矣哉。</p>
<h3>明瘡瘍止痛法論</h3>
<p>凡瘡之為患。必有大痛。皆因感之所作是也。風寒暑濕之邪。皆能為痛。經云。寒者溫之。熱者清之。濕者燥之。燥者潤之。虛者補之。實者泄之。閉者通之。通者止之。風者散之。蝕者引之。榮衛不和者調之。皆在藥之五氣五味。性之溫涼。對症之機。止痛如神。豈專於乳沒乎。</p>
<h3>明瘡瘍宜調護法論</h3>
<p>瘡之一症。非同小可。生死之端。危險之際。最宜謹慎。不可輕忽。當保其性命。忌之宣瞑。慎之七情。禁之口味。淨之心神。守之恬淡。妨之色欲。避之十惡之氣者。是孝產體氣新婚酒麝香腥臊膻穢之氣動之。奔勞喊叫接之。友鄙親狂友之。恭禮趨退牽之。情懷談之。胡方亂藥感之。是非啖之。</p>
<p>異禽獸有毒之物當食麋粥菜蔬。如此之守豈不安乎。</p>
<h3>明內消法論</h3>
<p>消者滅也。滅其形症也。經云。諸痛癢瘡瘍皆屬心火。火者離卦也。離者外陽而內陰。內陰壅滯。</p>
<p>必然外攻。治當內消。使絕其源而清其內。不令外發。故云內消。乃初起微覺之時。即以湯液內用黃連大黃芒硝甘草節類疏其源。絕其毒也。如形症已成。不可此法也。</p>
<h3>明內托法論</h3>
<p>托者起也上也。癰毒之發外之內者。邪必攻內。自然之理。當用托裡湯液。內加升麻金銀花。使榮衛通行。血脈調和。瘡毒消散。故云瘡家無一日不托裡也。</p>
<h3>明補法論</h3>
<p>言補者治虛之法也。經云。虛者補之。如氣虛四君子湯。乃人參黃　白朮甘草。血虛當歸川芎芍藥地黃四物湯合而為八物湯。或為八珍丸內詳寒熱加黃連附子隨症活法加減。無出此二方之妙。自然肌生肉長氣血和而體自強矣。</p>
<h2>卷之四</h2>
<h3>總論</h3>
<p>夫癰疽疔毒。瘰　瘤癤其名甚多。故余總謂瘡瘍是也。然各有形。其形不同。其苦不一。十四經絡部位之高下。血氣之多少。症之善惡。瘡之大小淺深。腑臟之源。感之輕重所發也。故有陰有陽。</p>
<p>有表有裡。有標有本之異也。經云。諸痛癢瘡瘍皆屬心火。又云。營氣不從。逆於肉理。乃生癰腫是也。然形大而浮者。癰也。乃六腑積毒之所生。初起有頭。一如　。白色焦枯。觸之痛應心者。疽也。腫浮根小。至大不過二三寸者。癤也。至於疔者。形有二十三種。余今分為三十四種。其形小頂如釘　。故名之。如有紅絲直皈於心。當刺其頭。瀉去毒血。　入蟾酥等藥。不刺則皈心必死矣。然癰癤初則宜灸。謂其氣本浮。令其氣血通達暢快矣。癰則易療。而將息難瘥遲。疽則難醫。易得痊。</p>
<p>宜烙不宜灸。諸瘡之中。惟有疔瘡發背最凶。須明五善七惡之理。當察其前論。篇篇有味。卷卷出奇。</p>
<p>雖云瘡科。古之未竭其奧。未盡其傳。余雖不敏。詳之至微其理。大至癰疽。小至於痤痱。無不選其精秘。然方法無不擇其良驗。故云之外科啟玄。又圖之形症。鳴之經絡。施之治法。後學人可一覽而即為上志矣。</p>
<h3>腦發</h3>
<p><a href="_files/p04-a55a1.bmp">腦發</a></p>
<p>此癰發於巔頂之上泥丸宮穴。系足太陽膀胱經。兼與督脈相並而作。其經多血少氣。狀如火燎。</p>
<p>漿炮大如錢。形色似葡萄。頭若有蜂兒米粒大。四圍堅硬。色赤者可治。血悶亂神不定者死。如八日有膿可刺者生。</p>
<h3>腦後發</h3>
<p><a href="_files/p04-a55a2.bmp">腦後發</a></p>
<p>此癰亦是足太陽膀胱經。兼督脈陽維脈所作。多血少氣。在玉枕二穴風府穴端。痛癢不一。善惡兼現。在表者汗之。裡者疏之。當詳前法治之。</p>
<h3>耳後發</h3>
<p><a href="_files/p04-a55a3.bmp">耳後發</a></p>
<p>此瘡乃手少陽三焦經毒之所。發於耳後角孫顱息二穴之上下。及左右耳畔。是經多氣少血。凡有瘡難得愈者。甚則連耳聾嗌腫頰痛。手小指次指肩肘俱痛。治當消風抑火。內疏內托。隨症治之。</p>
<h3>右鬢發</h3>
<p><a href="_files/p04-a55a4.bmp">右鬢發</a></p>
<p>此瘡發於右鬢。乃足陽明胃經。多氣多血。在頭維穴下關穴二穴上下。初起如癤子大。次後漸大。</p>
<p>四圍黃赤。堅如石。有膿腫。上似豬皮鬃眼睡中。譫語恍惚。吐逆鮮血。流入四肢。萬無一生。</p>
<h3>左鬢發</h3>
<p><a href="_files/p04-a55a5.bmp">左鬢發</a></p>
<p>此瘡發於左鬢。如右鬢經穴相同無異。大抵毒瓦斯相結於右。即足陽明經。右邊經絡內。毒結氣分。</p>
<p>左屬血分。用藥時察之表裡虛實。而再詳左右氣血之屬而藥之。無不神矣。</p>
<h3>雙鬢發</h3>
<p><a href="_files/p04-a55a6.bmp">雙鬢發</a></p>
<p>兩鬢俱生名曰雙發。其毒重於單發。若其毒勢小於單。無惡症者生。如重者不治。</p>
<h3>對口發</h3>
<p><a href="_files/p04-a55a7.bmp">對口發</a></p>
<p>此瘡生於腦後下。正對於前面口。是督脈經中。毒瓦斯結之。風府啞門二穴之次。其症最凶。如八九日中有膿可治。如毒勢太凶。必有通喉落首之厄。若不早治。死不遠矣。</p>
<h3>兩邊發際發</h3>
<p><a href="_files/p04-a55a8.bmp">兩邊發際發</a></p>
<p>天柱二穴是足太陽膀胱經。多血少氣。或左或右。雙發者更重。初發時宜急救之。如遲恐毒入腦。</p>
<p>邪熱上攻。四畔赤腫硬。連於耳後。發寒熱作膿。急宜托裡。不然。流走於腰背間。再發恐難救也。</p>
<h3>耳發</h3>
<p><a href="_files/p04-a55a9.bmp">耳發</a></p>
<p>是足少陽膽經。其經多氣少血。其瘡發於懸厘主客二穴上下。五六日漸長蜂窩。皮紫　熱。如火燒痛十日內刺之有膿者生。無膿出血。食不知味。精神不佳。二十四日必死不可救也。其左右亦同。</p>
<h3>太陰發</h3>
<p><a href="_files/p04-a55a10.bmp">太陰發</a></p>
<p>此瘡發於瞳子　左右二穴相同。俱系足少陽膽經。多氣少血。赤腫有膿知痛者生。宜托表。如大渴悶亂血出不止者。及青黑色不痛。作蛀孔。血盡出而無膿則死矣。</p>
<h3>臉發</h3>
<p><a href="_files/p04-a55a11.bmp">臉發</a></p>
<p>是足陽明胃經。多氣少血。其瘡發於四白巨　二穴。左右相同。似葡萄色。形漸大或生子母瘡者八日死。分五善七惡多寡治之。在左者內托藥中加當歸二倍。在右者加三倍。妙在斯矣。</p>
<h3>頤發</h3>
<p><a href="_files/p04-a55a12.bmp">頤發</a></p>
<p>是足陽明胃經。多氣少血。在頰車大迎二穴上下。左右相同。雙發最凶。如腫痛不可忍者。八日可刺。膿汁出四畔軟者生。如反硬。牙關緊。不能食。似蜂窠涓涓流黃水。十無一生。女人患此。主四五日死。</p>
<h3>痼發</h3>
<p><a href="_files/p04-a55a13.bmp">痼發</a></p>
<p>此瘡發於手少陽三焦經。多氣少血。在耳後下一寸三分。乃致命之所。如赤腫痛急。內托之。毒膿出腫散則安。不然連耳聾渾渾沌沌。喉嗌內腫痛。汗出連目　。頰及肩肘大痛。若不早治必死矣。</p>
<h3>癭瘤發</h3>
<p><a href="_files/p04-a55a14.bmp">癭瘤發</a></p>
<p>此瘡發於脊之正中。近於大椎陶道身柱三穴之端。俱督脈之所絡處。甚利害。急早托之。是陽脈之海。督領百脈。經云。營氣不從。逆於肉理。乃生癰腫。督脈不能統督之意。可見之凶症也。</p>
<h3>胸發</h3>
<p><a href="_files/p04-a55a15.bmp">胸發</a></p>
<p>此瘡發於玉堂等穴。皆任脈之所絡也。名陰脈之海。謂之人身中子午也。急早內托。恐毒瓦斯歸心也。發於外者可治。如內發傷於膜者死。</p>
<h3>額發</h3>
<p><a href="_files/p04-a55a16.bmp">額發</a></p>
<p>此瘡發於額上曲差穴下。攢竹二穴。俱足太陽經。多血少氣。初發頭痛憎寒。項似拔。腰如折。</p>
<p>赤腫。急汗之。以托表為先。次看虛實。而為之區處。</p>
<h3>蜂窩發</h3>
<p><a href="_files/p04-a55a17.bmp">蜂窩發</a></p>
<p>此瘡發於或中等穴。是足少陰腎經之穴。其經多氣少血。如蜂窩發在胸乳間。或左或右。或雙發者。因心熱甚急。用內疏心火之藥治之。其症心懸若飢。飢不欲食。舌乾咽腫。如不早治。毒皈於心。</p>
<p>不能生矣。</p>
<h3>瘭疽發</h3>
<p><a href="_files/p04-a55a18.bmp">瘭疽發</a></p>
<p>此瘡發於背後兩旁。是足太陽經等穴。其經多血少氣。脊中穴是督脈之經。初發如豆。小者如梅李大。黑白色不定。疹痛應心。四畔如牛唇。四十歲以前可治。以後者恐衰弱難痊。其在左右亦相同也。</p>
<h3>體疽發</h3>
<p><a href="_files/p04-a55a19.bmp">體疽發</a></p>
<p>此瘡發於足太陽經。多血少氣。上至肺俞。下至肝俞等五穴。左右相同。八日可刺。如不潰。二十日死。或初發時腫上如椒子者死。</p>
<h3>蜂窩向上發</h3>
<p><a href="_files/p04-a55a20.bmp">蜂窩向上發</a></p>
<p>此瘡發於背。是督脈兼太陽經。多血少氣。最不宜頭向上。名曰反症。最凶。若赤腫痛。無七惡者可治。如無膿痰發者。及有串流於肩膊者。決不療也。入膜者不治。凡頭開不住。不論向上向下。</p>
<p>宜收毒散枯之。</p>
<h3>蜂窩向下發</h3>
<p><a href="_files/p04-a55a21.bmp">蜂窩向下發</a></p>
<p>此瘡頭向下發者少順。亦不宜侵展速快。須仔細用藥托補。恐毒歸心。穿膜無串有膿。知痛能食者可治。如不食無膿脈弱者死。</p>
<h3>蜂窩兩頭發</h3>
<p><a href="_files/p04-a55a22.bmp">蜂窩兩頭發</a></p>
<p>此瘡頭上下開發者最急。是督脈足太陽經。毒發脊中兩頭小。四邊散腫。因濃味所致也。氣食相關。合陰虛以成蜂窩者。言其多五七十不止也。蓮子者。言其頭少不過一二十也。凡瘡口闊大展開者。</p>
<p>急托補之。</p>
<h3>兩脅雙發</h3>
<p><a href="_files/p04-a55a23.bmp">兩脅雙發</a></p>
<p>此瘡發於脅。或左或右。或兩脅雙發者。皆足厥陰肝經期門及章門穴。是經多血少氣。或上至淵腋輒筋二穴。屬足少陽膽經。多氣少血。因氣虛而得。須大補陰治之。不可熱劑。恐傷骨膜。慎之。</p>
<h3>對心發</h3>
<p><a href="_files/p04-a55a24.bmp">對心發</a></p>
<p>此瘡發於背。對於心。是督脈之經。毒發於筋縮之穴。乃因心火亢極而生。急降心火。潰膿赤黃腫無串者可治。如串流他處。膿稀青黑者大渴譫語。肉死膜穿者不治。</p>
<h3>蓮子發</h3>
<p><a href="_files/p04-a55a25.bmp">蓮子發</a></p>
<p>此瘡名蓮子者。比蜂窩頭少之稱也。不過一二十頭。故名之。亦足太陽經。督脈之部位。大要去心火敷藥截之。不令毒攻心。如通背腫者不救。宜打火針三四下為妙。米醋調南星草烏木別貝母末敷之。</p>
<h3>陰發背</h3>
<p><a href="_files/p04-a55a26.bmp">陰發背</a></p>
<p>此瘡發於背。不慎房事。及庸醫用涼藥敷服。致使血凝氣聚。不散。敗壞腐臭。陰黑肌死。以致不救。急用玉龍膏敷之。內托大補湯中加附子桂薑回陽。令血溶氣開。肌肉復生之妙。</p>
<h3>散走流注發</h3>
<p><a href="_files/p04-a55a27.bmp">散走流注發</a></p>
<p>此瘡發於背。流串於四肢者。又毒兼風熱之甚也。又名母子發。是足太陽經。風熱所生。因邪甚逆傳於脾。脾主四肢。流於臀臂。亦能至於手足。必死矣。急宜疏風退熱。氣自息也。</p>
<h3>環項發</h3>
<p><a href="_files/p04-a55a28.bmp">環項發</a></p>
<p>此瘡發於項一周遭。名曰環項發。又名落頭癰。先看何處腫起。如從後天柱穴起即足太陽兼督脈啞門下。作寒熱拘倦。悶亂恐怖。不食。如連前項俱腫。乃毒流入足少陽陽明。連耳腫分經勢治之。</p>
<p>不瘥者死。</p>
<h3>左搭肩發</h3>
<p><a href="_files/p04-a55a29.bmp">左搭肩發</a></p>
<p>此瘡發於肩背者。乃手足太陽經。俱多血少氣。如在膈俞穴魂門穴。有瘡無串者易治。有串者難安。凡有右搭肩左必有串。亦有雙搭肩者更重。當觀善惡。托裡疏下。妙亦在臨症之權衡耳。</p>
<h3>腎俞發</h3>
<p><a href="_files/p04-a55a30.bmp">腎俞發</a></p>
<p>此瘡發於腎俞穴畔者。皆因服金石熱藥及膏粱濃味得之。內傷腎膜。外則發此。急宜補腎藥。內兼托裡。解散瘡毒。加敷貼之藥為妙。切忌房事氣怒。須百日平復。若犯之。決不可治矣。</p>
<h3>膀胱俞發</h3>
<p><a href="_files/p04-a55a31.bmp">膀胱俞發</a></p>
<p>此瘡發於膀胱俞中膂內俞。多氣少血。初起時發熱　腫。百節疼痛。昏沉不知人事。出膿者可治。</p>
<p>如出血水不收口者。須內托補妙。不然難愈也。</p>
<h3>手背發</h3>
<p><a href="_files/p04-a55a32.bmp">手背發</a></p>
<p>此瘡發於手背中渚液門二穴。系手少陽經。多氣少血。初起時令人憎寒發熱。或作嘔及作癢痛。</p>
<p>有五善七惡。內詳照篇論治之。</p>
<h3>足背發</h3>
<p><a href="_files/p04-a55a33.bmp">足背發</a></p>
<p>此瘡發於足背。衡陽陷谷二穴。乃足陽明胃經。多血多氣。初發時令人發熱作嘔。痛癢麻木。俱照前篇中可灸之可托之。以平為善也。</p>
<h3>腎陰發</h3>
<p><a href="_files/p04-a55a34.bmp">腎陰發</a></p>
<p>此瘡發於腎囊。一名懸癰。又名囊癰。乃衝任脈所會之處。發者言大也比癰更大也。況胞乃空囊之處。氣血凝聚。能作腫大也。亦有胞腐了止存睪丸亦不死。亦有俱腐落而不死者也。</p>
<h3>對臍發</h3>
<p><a href="_files/p04-a55a35.bmp">對臍發</a></p>
<p>此瘡發於背下命門穴。與臍相對。故名之。是督脈之經。毒發也痛甚者可刺黃白稠膿者生。出血水及清稀水。心神恍惚。睡中見鬼譫語。大發渴者死。善於調攝。勿犯禁忌者亦可得生。</p>
<h3>癌發</h3>
<p><a href="_files/p04-a55a36.bmp">癌發</a></p>
<p>此瘡發於神道靈台二穴。乃督脈兼膀胱經。多血少氣。初起時不作寒熱疼痛。紫黑色不破。裡面先自黑爛。二十歲以後。不慎房事。積熱所生。四十歲以上血虧氣衰。濃味過多。所生十全一二。皮黑者難治必死。</p>
<h3>明發背後序六要法</h3>
<p>凡人之生發背者。皆足太陽膀胱。多血少氣。兼督脈之經。初起時中間必有白點。四邊腫赤。漸次胤開。大如盤碟。周遭生飯漿小瘡。如粟米大。作寒壯熱。渾身拘急。當以脈辨之。浮沉虛實表裡。</p>
<p>外以艾灸計身年數。以截其毒。不致敗壞。戒氣怒。禁酒肉。忌房事。如膿稠者元氣實。膿清者元氣虛也。黃赤者順也。黑腐者逆也。開闊展大者毒甚也。當明其經絡。血氣多少。補接虛怯。毒熱太甚。</p>
<p>當泄其熱。有膿。急刺不可遲。遲則腐去好肉。最怕串腫流入四肢一也。腫硬如石者二也。昏憒不食三也。穿膜黑腐四也。渴甚者五也。內罨不發者六也。如治發背。必須知此六要。此古人之秘訣。余錄曉之。恐後人不及知也。故以胸背脅肋乳及頭項腰腿臍腹總言發也。發者言其大也。余非好異。特別其輕重耳。是為序。</p>
<h2>卷之五</h2>
<h3>肺癰</h3>
<p><a href="_files/p04-a55a37.bmp">肺癰</a></p>
<p>此癰先因肺痿後痿極而成。肺癰口中咳吐膿血也。其脈數實。胸中隱痛。肺脈緊數。皆膿未成。</p>
<p>但數膿已成。則口臭。宜用消風散入男子發灰一錢。清米湯下。二服可痊。再以太乙膏丸服之妙。如風冒入則不治。</p>
<h3>腸癰</h3>
<p><a href="_files/p04-a55a38.bmp">腸癰</a></p>
<p>凡腸內生癰。當驗症明白。不可妄治。妄治能殺人。其病小腹重。按之痛。小便如淋。時時汗出惡寒。身皮錯。腹皮急。如腫左甚者。小腸癰。右甚者。大腸癰。則右寸洪數繞臍瘡。或臍出膿。或大便膿血。以大黃牡丹湯。</p>
<h3>尾閭癰</h3>
<p><a href="_files/p04-a55a39.bmp">尾閭癰</a></p>
<p>此癰發於尾閭穴。是督脈之經。最痛難忍。難得膿。宜大托裡加乳香沒藥。排膿止痛。外用敷貼。</p>
<p>戒氣怒房事。不然則漏而難痊。</p>
<h3>臀癰</h3>
<p><a href="_files/p04-a55a40.bmp">臀癰</a></p>
<p>臀上乃足太陽經。多血少氣。蓋精肉氣血罕來。最痛。因見虛弱即當內托補其血氣。如瘡少向胯骨環跳穴者。兼足少陽經。少血多氣更加引經藥更妙。左右相同。承扶穴是也。</p>
<h3>骨癰</h3>
<p><a href="_files/p04-a55a41.bmp">骨癰</a></p>
<p>此瘡發作一二年不愈。常落出骨一片或一細骨。或有蛀蝕眼。或三五個月落一片。名曰多骨瘡。</p>
<p>非營氣不從所生。乃母受孕後。復感精氣故也。用飛過陀僧桐油調膏攤帛貼之效。</p>
<h3>腰癰</h3>
<p><a href="_files/p04-a55a42.bmp">腰癰</a></p>
<p>此瘡發於軟肋下近腰帶脈五樞維道穴。是足少陽經。多氣少血。寒熱　腫痛。余治一人膿出一桶余。內托大補而愈。左右相同。</p>
<h3>內癰</h3>
<p><a href="_files/p04-a55a43.bmp">內癰</a></p>
<p>癰疽所生。原無定處。內因七情濃味挾鬱而成。凡瘡生外體易治。在腔子裡盲膜旁作痛。服藥不愈。其脈重取芤數。非痛脈也。知有膿也。以四物東加桔柴胡香附角刺數劑。膿出大便而安。</p>
<h3>脾癰</h3>
<p><a href="_files/p04-a55a44.bmp">脾癰</a></p>
<p>此癰生肩真　俞二穴。乃手太陽小腸經。多血少氣。乃脾受濃味所生也。宜汗之。經云。汗之則瘡止是也。毒從汗出而散。宜仙方活命飲加減。及引脾經藥治之。托出其毒外以敷藥上之效。</p>
<h3>膝癰</h3>
<p><a href="_files/p04-a55a45.bmp">膝癰</a></p>
<p>膝外有癰。是足少陽經毒。多氣少血。膝內有癰。是足太陰經。多氣少血。此膝間乃樞紐骨節行動之處。宜仔細治之。不然。令人廢矣。慎之。</p>
<h3>乳癰</h3>
<p><a href="_files/p04-a55a46.bmp">乳癰</a></p>
<p>乳腫最大者曰乳發。次曰乳癰。初發即有頭曰乳疽。令人憎寒壯熱惡心是也。乳房屬足陽明胃經。</p>
<p>多血多氣。乳頭屬足厥陰肝經。多血少氣。有孕為內吹。有兒為外吹。宜急散之。毒舒肝氣清。陽明胃氣已潰則出膿矣。如婦人年五十以外。氣血衰敗。常時郁悶。乳中結核。天陰作痛。名曰乳核。久之一年半載。破而膿水淋漓。日久不愈。名曰乳漏。有養螟蛉子為無乳。強與吮之。久則成瘡。經年不愈。或腐去半截。似破蓮蓬樣。苦楚難忍。內中敗肉不去。好肉不生。乃陽明胃中濕熱而成。名曰乳疳。宜清胃熱。</p>
<p>大補血氣湯丸。再加補氣血膏藥貼之。加紅粉霜妙。又有乳結堅硬如石。數月不潰。時常作痛。名曰乳岩。宜急散郁消腫祛毒。不然難療。用降霜點之。如乳腦上赤腫有二三寸。圍圓無頭。名曰乳癤。</p>
<p>以上乳症共十款。詳審明矣。</p>
<h3>左右便癰</h3>
<p><a href="_files/p04-a55a47.bmp">左右便癰</a></p>
<p>此瘡發於兩腿丫內橫骨穴陰　穴。肝腎二經。多血少氣。令人寒熱。　腫作痛有單左單右。及雙作者。宜散肝經濕熱。解毒。初則灸妙。</p>
<h3>箕HT癰</h3>
<p><a href="_files/p04-a55a48.bmp">箕HT　癰</a></p>
<p>此瘡發於陰囊後穀道前。乃任督脈所起之處也。亦有濕熱而生。或勞逸及妒精所有。宜內疏內托。</p>
<p>隨症施治則安。戒怒氣房事。不然成漏矣。有一人生此及莖中三處。漏尿溺。余為治好。二月後因房事復發。</p>
<h3>挾癰</h3>
<p><a href="_files/p04-a55a49.bmp">挾癰</a></p>
<p>此瘡發於腋內。乃手厥陰經。多血少氣。天池穴邊者令人寒熱大痛。掌熱臂急面赤。初則內疏之。</p>
<p>次則散毒托之。</p>
<h3>箕門癰</h3>
<p><a href="_files/p04-a55a50.bmp">箕門癰</a></p>
<p>此瘡是足太陰脾經濕熱之毒所生。其經多氣少血。在股內近膝上。宜內托黃　柴胡東加蒼朮防己等藥治之。外宜敷貼。隨症施治妙。</p>
<h2>卷之六</h2>
<h3>首疽</h3>
<p><a href="_files/p04-a55a51.bmp">首疽</a></p>
<p>是手少陽三焦經。多氣少血。其疽生於　脈翳風二穴。此瘡多憎寒壯熱。發渴。七八日可刺。膿水黃白色者可治。如黑色稀水者太惡。若發渴者即死。左右相同。雙疽者亦死。大抵毒之甚也。</p>
<h3>眉疽</h3>
<p><a href="_files/p04-a55a52.bmp">眉疽</a></p>
<p>是足少陽膽經。多氣少血。其疽生於陽白二穴之分。從眉至額。赤腫　高。堅硬如石。刺之無膿。</p>
<p>黃水自出。痛甚。悶亂吐逆。治之漸減者生。甚者死。女子七日死。男子二十四日死。慎之。</p>
<h3>杼疽</h3>
<p><a href="_files/p04-a55a53.bmp">杼疽</a></p>
<p>是手少陽三焦經。多氣少血。生於天牖翳風二穴之旁兩耳下。六七日可刺。若對臍有瘡。初出不腫。俱有燎漿。　漸長大。蝕肉潰膿。先從腳後跟。如玳瑁斑點。名羨瘡。又名化骨瘡。有骨出乃肺敗也。甚惡。</p>
<h3>鬢疽</h3>
<p><a href="_files/p04-a55a54.bmp">鬢疽</a></p>
<p>是足陽明胃經。多氣多血。生於頭維穴。初如癤子。後漸大。硬如石。皮似豬皮。棕眼睡中譫語恍惚。吐逆鮮血。流入四肢者萬死一生。</p>
<h3>九疽</h3>
<p><a href="_files/p04-a55a55.bmp">九疽</a></p>
<p>此九疽一生即有九處。初腫勢甚重。當看人之虛實。毒之淺深。膿之稀稠。潰之遲早。驗之五善七惡。或又二三處者亦輕也。</p>
<h3>肺疽</h3>
<p><a href="_files/p04-a55a56.bmp">肺疽</a></p>
<p>是任脈之經。紫宮玉堂之穴。一名天火瘡。當胸而生。腫十日可刺。膿水黃白色者可治。無膿水漸大旁攻。上硬下虛。膿不出。精神短少。自破流水不絕。咳唾引痛者死。</p>
<h3>蠹疽</h3>
<p><a href="_files/p04-a55a57.bmp">蠹疽</a></p>
<p>是足陽明胃經。多氣多血。生於缺盆二穴之分。一名發歷疽。十日可刺。如無濃者名曰石疽。如他再生四五頭。子母大小者。又名歷瘡。甚惡。毒入心者死。有白膿赤腫。飲食知味者生。</p>
<h3>腕疽</h3>
<p><a href="_files/p04-a55a58.bmp">腕疽</a></p>
<p>是手厥陰心胞絡經。多血少氣。其瘡生於天池之穴。及足三陰三陽之所發。起初脅肋下及兩腿足生。赤腫癢。二十五日不潰者死。九日刺膿赤者可治。內罨周遭。赤干。瘡口內見脂膜黑者不治。多因打撲而生。</p>
<h3>腰疽</h3>
<p><a href="_files/p04-a55a59.bmp">腰疽</a></p>
<p>是足太陽膀胱經。多血少氣。其瘡生於胃俞胃倉二穴。托之得潰則安。若上赤下黑。二十日不潰即死。如青黑色無膿出血水者亦死。</p>
<h3>敦疽</h3>
<p><a href="_files/p04-a55a60.bmp">敦疽</a></p>
<p>是手三陰三陽之經。亦有血氣多少不同。生於手之十指。名疽瘡。生此四五日即潰。有膿可刺者生也。如不潰無膿。黑色過節者死。不可治也。</p>
<h3>伏鼠疽</h3>
<p><a href="_files/p04-a55a61.bmp">伏鼠疽</a></p>
<p>是手足指上丫間。在背外歷歷三五疽如球。在於皮中。痛相應者。名伏鼠疽。若不早治。恐毒瓦斯攻心即死。如腫硬急服內托散治之。外用敷點藥則安。</p>
<h3>勇疽</h3>
<p><a href="_files/p04-a55a62.bmp">勇疽</a></p>
<p>是足太陰脾經。多氣少血。生於衝門穴。赤腫作硬。八日得潰可刺。如膿黃白色者可治。其瘡孔如雞子大者。俗稱魚口是也。有單有雙口者。年久而不收口。是沾陰也。宜蒸之補托之。</p>
<h3>托疽</h3>
<p><a href="_files/p04-a55a63.bmp">托疽</a></p>
<p>是足少陽膽經。多氣少血。生於陽關陽陵泉二穴。腫　作痛。半月有膿。黃白色者可治。不痛或出鮮血者死。出膿青黑及長出頭漸多者。或無定處者不治。</p>
<h3>筋疽</h3>
<p><a href="_files/p04-a55a64.bmp">筋疽</a></p>
<p>是足太陽膀胱經。多血少氣。生於兩足外後跟昆侖二穴。初起三五日。皮如蟲蝕。過一年有蟲為痿。脂腫骨粗。膿多時節落蟲似筋頭。黃赤色內食其骨。經年不瘥。名曰痿漏。一名曲疽。流膿水不止。名冷疽。多死。</p>
<h3>癆疽</h3>
<p><a href="_files/p04-a55a65.bmp">癆疽</a></p>
<p>是足太陽膀胱經。多氣少血。生於足小指後趺京骨等穴。五七日得潰。有膿黃白色不多者安。如黑色不潰癢甚者不可治也。</p>
<h3>嚙疽</h3>
<p><a href="_files/p04-a55a66.bmp">嚙疽</a></p>
<p>是足太陽膀胱經。多血少氣。生於足跟申脈穴。又名足疽。如初起赤腫有頭可刺。有膿黃白色者可治。如初起便破。黑爛大惡。久則令人足落。若不早治。此人不能生也。</p>
<h3>臀疽</h3>
<p><a href="_files/p04-a55a67.bmp">臀疽</a></p>
<p>是足太陽膀胱經。多血少氣。生於承扶二穴者名曰臀疽。最痛。宜托之。三五日膿出瘥。如近大小便處難治。生於實處易治。</p>
<h3>中庭疽</h3>
<p><a href="_files/p04-a55a68.bmp">中庭疽</a></p>
<p>此瘡乃任脈之經。是奇經脈也。在乳之中央。宜內托千金湯治之。外宜敷貼。隨症加減為妙。</p>
<h3>傳心疽</h3>
<p><a href="_files/p04-a55a69.bmp">傳心疽</a></p>
<p>是足少陽膽經。多氣少血。生於脅下京門帶脈二穴之次。痛癢徹心。如針刺之痛漸潰至臍者死。</p>
<p>初腫脅痛不能轉動。面垢。百節骨痛。痛則連心。故名傳心疽是也。</p>
<h3>井疽</h3>
<p><a href="_files/p04-a55a70.bmp">井疽</a></p>
<p>是任脈之經。在於鳩尾穴所生者名曰井疽。狀如大豆。三四日間。若不早治。十日必死。外發出者易痊。內發傷膜主死。無疑也。</p>
<h3>合陽疽</h3>
<p><a href="_files/p04-a55a71.bmp">合陽疽</a></p>
<p>是足太陽膀胱經。濕熱之毒所生。初宜托裡除濕清熱之藥。內以羌活湯汗之則愈。如已成形。再加排膿止痛則潰。外宜敷貼之則已。</p>
<h3>脫疽</h3>
<p><a href="_files/p04-a55a72.bmp">脫疽</a></p>
<p>是足之大指次指。或足潰而脫。故名脫疽。是脾經積毒下注而然。赤色。先腫痛及不痛。俱以蒜灸之。人參敗毒托裡之劑治之。若色紫黑者急斬去之。如黑上至踝骨不治。</p>
<h3>疔瘡</h3>
<p><a href="_files/p04-a55a73.bmp">疔瘡</a></p>
<p><u>凡手指名蛀節疔聖則腐去本節輕則拳攣</u></p>
<p>凡疔瘡始發。原無定處。皆因榮衛遲遏所生。又經云。膏粱之變。足生大疔。東垣分二十三疔。</p>
<p>余今分三十四種疔。俱在前論。初發時遍身拘急口噤如　症。宜針瘡頂出血。　蟾酥定內服藥。如黑了眼必死。</p>
<h3>骨羨瘡</h3>
<p><a href="_files/p04-a55a74.bmp">骨羨瘡</a></p>
<p>是足太陽膀胱經。多血少氣。生於神堂二穴及膈關膈俞穴。初發作癢不可忍。如燎漿水　。抓破內見骨。過十日如遍身俱癢不可治也。</p>
<h3>骨痿瘡</h3>
<p><a href="_files/p04-a55a75.bmp">骨痿瘡</a></p>
<p>是足少陽膽經。多氣少血。其瘡生於兩胯骨上。漸大筋骨俱痛。　開流水盡即死。如胯相對並有瘡腫者。十無一生。用大馬屁勃墊睡。不令磨著。內服補中益氣藥治之。</p>
<h3>骨毒滯瘡</h3>
<p><a href="_files/p04-a55a76.bmp">骨毒滯瘡</a></p>
<p>是足太陰脾經。多氣少血。生於腿上箕門穴。如痛可治。不痛難治。一名腿發。十二日可刺。如膿黃赤色可治。青稀腐臭者不治。其瘡赤白色。是骨毒瓦斯發於外。十日內未膿必死。</p>
<h3>陳肝瘡</h3>
<p><a href="_files/p04-a55a77.bmp">陳肝瘡</a></p>
<p>是手少陽三焦經。多氣少血。生於左右臂上三五處。如癤腫痛不可忍。不可擦挨。如有頭二七可刺。無膿身熱虛硬面赤者二八日死。又名蚤疽。徹手生瘡。變生於手三陰三陽經。三年而死。癢甚者一月而死。</p>
<h3>赤炎瘡</h3>
<p><a href="_files/p04-a55a78.bmp">赤炎瘡</a></p>
<p>是手太陰肺經。受風熱。肺主皮毛。其經多氣少血。故發於遍身。紅瘡點子。又名赤炎風。乃心火盛血熱也。有赤點或有或無。久而不愈。變為厲風。宜消風退熱。防風通聖散類治之。</p>
<h3>血胤瘡</h3>
<p><a href="_files/p04-a55a79.bmp">血胤瘡</a></p>
<p>是足少陽膽經。多氣少血。生於淵腋脅肋旁。赤色有頭。無頭如肥皂子大。在肉中。如針刺痛。</p>
<p>忽長大至胸。兼足厥陰肝經。多血少氣。發於期門。名曰腋　。女子患此走諸處。二三年變名結　。</p>
<p>三五年出黑水死。</p>
<h3>天瘡</h3>
<p><a href="_files/p04-a55a80.bmp">天　瘡</a></p>
<p>是手太陰肺經受暑熱濕蒸之氣所生。肺主皮毛。故遍身燎漿白　。疼之難忍。皮破赤沾。用定粉赤。絲瓜葉汁調擦即愈。多服香茹飲。</p>
<h2>卷之七</h2>
<h3>瘰</h3>
<p><a href="_files/p04-a55a81.bmp">瘰　</a></p>
<p>是足少陽膽經。多氣少血。延及陽明胃經。多氣多血。因氣鬱濃味而生曰風熱。拓引變換。須分虛實。虛則難治。實則易治。婦人多此作寒熱之類。俱以立效散栝蔞散相間服效。更宜灸之。斷欲茹淡妙。</p>
<h3>裡瘡</h3>
<p><a href="_files/p04-a55a82.bmp">裡　瘡</a></p>
<p>此瘡在裡　骨上。是足厥陰肝經。多血少氣。如生於蠡溝中都二穴上下。皆因濕毒。或因打撲抓磕蟲犬破傷。日久不愈。亦由沾陰致令黑肉瘀血腐壞。流水不止。治法在後。</p>
<h3>外瘡</h3>
<p><a href="_files/p04-a55a83.bmp">外　瘡</a></p>
<p>此瘡在外　骨上。是足陽明胃經。多氣多血。或上下　二穴。乃溫毒之所生也。年月深遠。久占房事致。令瘡黑腐臭。如骨不腐可治。內服補中解毒。外以艾火。次以藥上之即愈。方見後。</p>
<h3>人面瘡</h3>
<p><a href="_files/p04-a55a84.bmp">人面瘡</a></p>
<p>此瘡似人面。有口鼻眼二種。多生肘膝。一種治者能食。口眼能動。一種死者口眼俱不能動。此皆怪異之瘡。出自天譴冤業之所作。當有省察以謝之後治方解也。</p>
<h3>血風瘡</h3>
<p><a href="_files/p04-a55a85.bmp">血風瘡</a></p>
<p>此瘡多在兩小腿裡外　。上至膝。下至踝骨。乃血受風邪而生也。多癢。抓破出黃水成瘡。況內有蟲。延及十數。未遇良方。故不能取效也。方在後。勿以尋常比之。</p>
<h3>馬刀瘡</h3>
<p><a href="_files/p04-a55a86.bmp">馬刀瘡</a></p>
<p>是手足少陽二經中。皆多氣少血。初則結硬如石。或肩下及缺盆穴。未破時動之無根。或生兩脅。</p>
<p>已流膿水。或生身後下。須至肩上。以救苦化堅湯治之。若不早治。延挨日久。氣血衰敗。豈不傷生乎。</p>
<h3>杖瘡</h3>
<p><a href="_files/p04-a55a87.bmp">杖瘡</a></p>
<p>受刑被責。非氣不足及榮氣不從之所作也。乃因罪所罰也。叫號傷氣。忍痛傷血。亦有血奔心而死者。皆人之壯弱。罪之輕重所致。宜破血調中。大補為妙。亦有棒毒因血凝滯也。</p>
<h3>禿瘡</h3>
<p><a href="_files/p04-a55a88.bmp">禿瘡</a></p>
<p>是足太陽膀胱督脈二經。受濕熱生蟲作癢。瘡痂高堆是也。沾風則起白屑。熱則成禿。久則傷孔不生發也。治宜消風除濕。殺蟲止癢。養血藥服之。外以熊油膏塗之甚妙。</p>
<h3>魚臍瘡</h3>
<p><a href="_files/p04-a55a89.bmp">魚臍瘡</a></p>
<p>生於肘肚者。是手少陰心經。多氣少血。少海靈道上是也。生於小腿肚者。是足太陽膀胱經。多血少氣。承山飛揚二穴上下是也。又名魚臍疔。最痛。宜托表加引經藥。亦先灸妙。</p>
<h3>陰包毒</h3>
<p><a href="_files/p04-a55a90.bmp">陰包毒</a></p>
<p>此是足厥陰肝經。風熱之毒。其經多血少氣。最痛。宜內托黃　柴胡湯。亦能治腿內近股或癰或疽或癤等瘡如神。未潰即散。已潰即痊。外宜敷貼之藥更妙。</p>
<h3>燕窩瘡羊胡瘡</h3>
<p><a href="_files/p04-a55a91.bmp">燕窩瘡羊胡瘡</a></p>
<p>腦後項窩有瘡。名曰燕窩瘡。是足太陽兼督脈經。乃濕熱所生也。下唇下吧骨有瘡。名曰羊胡瘡。</p>
<p>是任脈經濕熱所生也。在承漿穴地閣邊。宜除濕清熱之藥摻之。方見於後。</p>
<h3>胎毒瘡戀眉瘡</h3>
<p><a href="_files/p04-a55a92.bmp">胎毒瘡戀眉瘡</a></p>
<p>在腹胎之中。其母過食五辛酒肉濃味。遺毒於胎。則生子故有是瘡。宜清熱消風祛毒之劑治之。</p>
<p>外宜搽藥。仍忌發物及母欲乳。不然。恐難愈也。</p>
<h3>肺風瘡鼻瘡</h3>
<p><a href="_files/p04-a55a93.bmp">肺風瘡　鼻瘡</a></p>
<p>鼻乃肺之竅。因肺氣不清。受風而生。或冷水洗面。以致熱血凝結於面所有。宜清肺消風活血藥治之。外上搽藥消之。方在後。</p>
<h3>粉花瘡裙邊瘡</h3>
<p><a href="_files/p04-a55a94.bmp">粉花瘡裙邊瘡</a></p>
<p>婦女面生窠　作癢。名曰粉花瘡。乃肺受風熱。或絞面感風。致生粉刺。蓋受濕熱也。內外足踝骨生瘡。名曰裙邊瘡。是受裙邊風所致。久治不痊。蓋因不禁房事故也。方見於後。</p>
<h3>臟毒痔瘡漏瘡</h3>
<p><a href="_files/p04-a55a95.bmp">臟毒痔瘡漏瘡</a></p>
<p>穀道生疽曰臟毒。最痛。初則內疏。次則內托。排膿潰後。慎房事。戒濃味氣怒。若不謹守。恐生漏毒。亦有喪生者。黑者難治。</p>
<h3>痔瘡形圖</h3>
<p>痔瘡多種。形狀不一。故列二十四症圖於下。當分輕重治之可也。</p>
<p><a href="_files/p04-a55a96.bmp">痔瘡形圖</a></p>
<h4>歌曰</h4>
<p>痔症分三八。憑君仔細看。莫教年遠見。言之不一般。菱角形之怪。蓮花不可觀。穿腸並鼠奶。</p>
<p>酒色兩相干。休道蓮花結。蜂窩亦不寬。雌雄同氣血。子母一般般。最苦懸珠者。鉤腸痛似攢。核桃與流氣。見者亦心酸。栗子於中大。雞心在外安。珊瑚形可惡。脫取最為難。內痔渾無出。擔腸裡外盤。垂珠更宜治。日久是雞冠。切莫經刀火。令君性命殘。成全醫自易。戒忌守無難。吾今除怪毒。此藥即靈丹。用功不半月。痔漏總皆安。</p>
<h3>八漏形論</h3>
<p>夫漏症有八。其形不一。但有孔竅出水不止者是也。一曰氣漏。或腫或消。痛脹難忍者是也。二曰風漏。其孔內癢甚是也。三曰陰漏。男女陰內痛而出水者是也。四曰冷漏。孔內出白膿黃水不止者是也。五曰痔漏。乃痔瘡日久不忌房事。破而流膿不收口者是也。六曰血漏。時時下鮮血不止者是也。</p>
<p>又名熱漏。七曰　HT　漏。是平肉上生孔竅出膿血是也。八曰痿腮漏。因瘡忽黑爛出黃黑水者是也。凡此各有治法。熏洗點搽內服等方。皆出海上異人秘授。不可輕忽視之。後驗方知余之用心切矣。方見於後。</p>
<h3>陰囊破裂漏瘡</h3>
<p><a href="_files/p04-a55a97.bmp">陰囊破裂漏瘡</a></p>
<p>外囊破裂漏水腥臭。久治不痊。蓋因生梅瘡毒結於此。宜內服土茯苓東加人參等補藥。外以黃粉霜藥上之自安。忌行房。戒發物。</p>
<h3>雌雄狐刺瘡</h3>
<p><a href="_files/p04-a55a98.bmp">雌雄狐刺瘡</a></p>
<p>凡狐刺瘡多因竹木簽傷破手足而成。痛不可忍。仍有雌雄二種。當分治之。雄者只生一個。雌者生有五七個。瘡內皆有亂絲。瘡外必然有刺者是也。治宜桑柴炭灰入輕粉干罨患處。以米醋澆之頻換立效。</p>
<h3>胞漏瘡</h3>
<p><a href="_files/p04-a55a99.bmp">胞漏瘡</a></p>
<p>此瘡乃肝經濕熱所致。外胞囊上起窠子作癢。甚則滴水。濕其中衣。久治不痊者。宜服黃芩滑石牽牛大黃甘草木通等劑。以逐其濕。外以鯽魚散搽之效。</p>
<h3>水流麻根瘡</h3>
<p><a href="_files/p04-a55a100.bmp">水流麻根瘡</a></p>
<p>此瘡多生於足後跟下。赤爛內有肉絲。縷縷如麻根相似。故名之。是足太陽經。多血少氣。又沾房事。況在下。最難痊。宜用紅粉霜加苧麻根灰干罨之。必先蒸洗。去陰染死肉臭氣方妙。不然多死。</p>
<h3>肥黏瘡</h3>
<p><a href="_files/p04-a55a101.bmp">肥黏瘡</a></p>
<p>小兒頭上多生肥黏瘡。黃膿顯暴。皆因油手抓頭生之。亦是太陽風熱所致。亦有剃刀所過。先用槐條煎水洗淨。再以煙膠入輕粉枯礬為細末熟油調搽如神效。</p>
<h3>千日瘡</h3>
<p><a href="_files/p04-a55a102.bmp">千日瘡</a></p>
<p>一名HT　瘡。又名悔氣瘡。此瘡如魚鱗。生於人手足上。又名瘊子。生一千日自落。故名之。用雞脛皮搽之自愈。一法將蘄艾在初生第一個上灸之。余皆自落而痊矣。</p>
<h3>時毒暑癤</h3>
<p><a href="_files/p04-a55a103.bmp">時毒暑癤</a></p>
<p>是夏月受暑熱而生。大者為毒。小者為癤。令人發熱作膿而痛。別無七惡之症。宜清暑香茹飲。</p>
<p>內加芩連大黃之類治之而愈。外加敷貼之藥為妙。</p>
<h3>齒踞</h3>
<p><a href="_files/p04-a55a104.bmp">齒踞</a></p>
<p>有齒　上長出如雞足距。長一二寸不痛。誤觸之則痛連心。乃足陽明胃經之毒。即以芫花線系之。</p>
<p>二日自落。如　下是手陽明大腸經。用藥當分經泄毒。線系一同妙。</p>
<h3>白殼瘡</h3>
<p><a href="_files/p04-a55a105.bmp">白殼瘡</a></p>
<p>白殼瘡者即癬也。而有四種。曰風癬。楊梅癬。花癬。牛皮癬。皆因毛孔受風濕之邪所生外。小兒一種因吃濕奶名曰濕奶癬。久則有蟲。宜粉霜滓搽之立效。</p>
<h3>鼻鼻痔</h3>
<p><a href="_files/p04-a55a106.bmp">鼻　鼻痔</a></p>
<p>皆因肺氣不清。孔內生肉塞滿。名曰鼻　。又有如櫻桃枸杞子類。名曰鼻痔。治宜清肺降火除濕。</p>
<p>外用貼藥。去其黃水。消盡　肉。再以苦丁香類治之立效。</p>
<h3>嵌指</h3>
<p><a href="_files/p04-a55a107.bmp">嵌指</a></p>
<p>嵌指者。非氣不和而生。乃因靴短或因踢蹙故甲內長於肉內。時時流水。痛不可忍。百治不痊。</p>
<p>庸醫不識。誤認指疳。上藥不效。須令修腳人修去肉甲。上生肌散即愈。</p>
<h3>鵝掌風</h3>
<p><a href="_files/p04-a55a108.bmp">鵝掌風</a></p>
<p>皆因生楊梅食鵝肉而生。亦有沾露而生在手足心背。乃心腎二經受毒所致。治宜熊脂膏搽之。火烘不三次而全愈。雖十數年者亦效。</p>
<h3>疥瘡</h3>
<p><a href="_files/p04-a55a109.bmp">疥瘡</a></p>
<p>干疙瘩作癢作疼名曰疥瘡。皆因血熱所生。又有膿窠瘡腫痛。是肺受風熱。治宜消風敗毒。外用搽藥殺蟲癢。以一上散治之。疥亦用熏拈子。恐毒內罨。先服湯劑數貼後熏方妙。</p>
<h3>坐板瘡</h3>
<p><a href="_files/p04-a55a110.bmp">坐板瘡</a></p>
<p>此瘡乃脾經濕熱濕毒郁久。以致生於臀部。最痛最癢。況至陰之所。血亦罕來。藥力少至。治宜內疏脾經濕熱。外宜火拈油布觸之更妙。方見後。</p>
<h3>癩風瘡</h3>
<p><a href="_files/p04-a55a111.bmp">癩風瘡</a></p>
<p>近稱大　風是也。初受殺物之風而五臟乘虛而入。日久氣血俱病。上下體俱有瘡。手足指脫。眼瞎鼻崩毛落。身紫爛臭流膿。當求仙方治之。昔孫真人治四百人止愈一貧婦人也即此。</p>
<h3>喉閉</h3>
<p><a href="_files/p04-a55a112.bmp">喉閉</a></p>
<p>未破者名曰喉痹。一曰單。二曰雙。已破者名曰乳蛾。亦有單雙。內經云一陰一陽結謂之喉痹。</p>
<p>乃火鬱之症。已破未破。俱可用喉針針之。以泄其毒。如救焚如救拯之急。內服消毒。外用吹藥。遲則恐傷生命也。</p>
<h3>蛇窠瘡</h3>
<p><a href="_files/p04-a55a113.bmp">蛇窠瘡</a></p>
<p>此瘡因衣服被蛇游過。或飲食內受沾蛇毒。入於皮毛。致生瘡且痛。可用艾灸之瘡頭上。或以松針刺血。取蜈蚣浸油搽之。或酒調雄黃搽之即安。</p>
<h3>蜘蛛瘡</h3>
<p><a href="_files/p04-a55a114.bmp">蜘蛛瘡</a></p>
<p>此瘡生於皮膚間。與水窠相似。淡紅且痛。五七個成攢。亦能蔭開。可用苧麻在瘡上揉搓水出。</p>
<p>即以苧麻燒灰為末。摻在瘡上即愈。</p>
<h3>陽濕痰破瘡</h3>
<p><a href="_files/p04-a55a115.bmp">陽濕痰破瘡</a></p>
<p>此瘡多因傷寒在陽經。發汗不透所致。汗不透必痛。痛久則腫。腫久則赤而熱。熱久則破壞。此為陽濕痰破瘡。治宜除濕化痰止痛。外以艾火蒸灸。去其死肉以活肌。沖和膏收功。</p>
<h3>陰濕痰破瘡</h3>
<p><a href="_files/p04-a55a116.bmp">陰濕痰破瘡</a></p>
<p>原因傷寒在陰經失汗。汗鬱而成痰則痛。痛久則腫。腫亦不變色。夜痛甚。其痛處冰冷。脈亦沉細。日久氣血凝注則肌死。肌死則破壞腐臭。名曰陰濕痰。內服回陽之劑。外以玉龍膏敷之。再加艾火則安。</p>
<h2>卷之八</h2>
<h3>楊梅結毒</h3>
<p><a href="_files/p04-a55a117.bmp">楊梅結毒</a></p>
<p>此瘡結毒於生梅瘡之後。或數年三五十年。皆因毒未發之淨也。亦有父母生而遺及子孫。或自身結之甚毒亦甚。結之微毒亦微。始則筋骨疼痛。三兩月知則表托解毒之藥。再以艾火灸之則安。法見後。</p>
<h3>楊梅癬瘡</h3>
<p><a href="_files/p04-a55a118.bmp">楊梅癬瘡</a></p>
<p>此癬因生梅瘡時食了牛肉。或又洗浴當風抓癢。或行房事。致令渾身腥臭。或干而起白屑。或腥水淋漓。治分上下體多少。分氣血。受症用消風散。入於氣血藥中消息治之。外用粉霜搽之妙。</p>
<h3>翻花楊梅瘡</h3>
<p><a href="_files/p04-a55a119.bmp">翻花楊梅瘡</a></p>
<p>大抵翻花楊梅瘡者是濕熱之盛。表虛而毒猖獗。致令如此。宜解毒去濕熱。實表補中益氣加土茯苓等類治之。戒氣怒。忌房事及發物。無有不安之者。外用點藥及粉霜如神效。</p>
<h3>陰楊梅瘡</h3>
<p><a href="_files/p04-a55a120.bmp">陰楊梅瘡</a></p>
<p>夫陰楊梅瘡。與陽梅瘡大不相同。此瘡色紅而不起不破。乃是血中受風熱之毒。又云男子受女人梅毒之穢氣相感而生。治法宜四物湯內加梅瘡土茯苓等藥治之則瘥。</p>
<h3>楊梅痘子</h3>
<p><a href="_files/p04-a55a121.bmp">楊梅痘子</a></p>
<p>痘子者是毒瓦斯之微也。氣體壯實。或感之輕也。宜用土茯苓東加托裡之藥十數劑。令毒晝則安。</p>
<p>宜戒房事。不然輕變重。重變危。亦或有之。不可不慎之也。切宜珍重之。</p>
<h3>楊梅疳瘡</h3>
<p><a href="_files/p04-a55a122.bmp">楊梅疳瘡</a></p>
<p>因生梅瘡後。托裡不盡。其毒復作。在上者鼻內蝕爛。至於塌陷破壞面目口鼻。在下者。則蝕其穀道壞爛。或蝕其玉莖至於斷落。多喪其生也。宜珍保之。內服消疳湯藥及丸藥。再上紅粉霜等藥治之則安。</p>
<h3>楊梅圈瘡</h3>
<p><a href="_files/p04-a55a123.bmp">楊梅圈瘡</a></p>
<p>此圈瘡是生梅瘡時誤食肝腸大臟等物。致令愈後復生。此圈瘡是也。治宜土茯苓東加消風散之藥。</p>
<p>則搽之粉霜則愈。若不早治。恐成癬矣。</p>
<h3>齒窟瘡</h3>
<p><a href="_files/p04-a55a124.bmp">齒窟瘡</a></p>
<p>凡人年老未有不落齒者。齒落時其根最深。其窟最大。氣血虛衰。窟急不能合。或有少合。忽被硬物碴破。不便於茶飯。其痛切骨至心及腦。況口不能茶飯。瘡口最難合者。方見於後。</p>
<h3>胎皮瘡</h3>
<p><a href="_files/p04-a55a125.bmp">胎　皮瘡</a></p>
<p>此瘡因子在母腹中。母不禁口。過食五辛炙　等物。或父母有瘡而得孕。致令生子下來。渾身無皮。如湯燙去。或半體。或頭面。皆有之。治宜玉粉散滲之。勿服解毒之劑則安。</p>
<h3>風熱瘡</h3>
<p><a href="_files/p04-a55a126.bmp">風熱瘡</a></p>
<p>此瘡初則疙瘩癢之難忍。爬之而成瘡。似疥非疥。乃肺受風熱。故皮毛間有此症也。宜防風通聖散數劑治之。三五日即愈。不似疥難痊。若不早治。亦恐遍身成癩也。</p>
<h3>黃水瘡</h3>
<p><a href="_files/p04-a55a127.bmp">黃水瘡</a></p>
<p>一名滴膿瘡。瘡水到處即成瘡。亦是脾經有濕熱。治宜除濕清熱涼血等藥治之。外宜玄粉散。看干濕搽之即愈。方見後。</p>
<h3>傷手瘡</h3>
<p><a href="_files/p04-a55a128.bmp">傷手瘡</a></p>
<p>凡生瘡癤等症。宜禁房事。治之則安。如不能禁忌。致令瘡久不痊。故名曰傷守瘡。俗言傷手者非也。內服補中益氣加瘡科藥。外再看瘡勢大小虛實。宜蒸宜熏宜搽消息治之則安。方見後。</p>
<h3>手足丫毒瘡</h3>
<p><a href="_files/p04-a55a129.bmp">手足丫毒瘡</a></p>
<p>手丫毒是手經氣血所生。足丫毒是足經氣血所生。在背丫是三陽經。掌心丫是三陰經。當辨明是何經。宜托裡調中加引何經藥。外以敷貼藥以箍其毒。令不散走。膿出即安。宜早內消妙。</p>
<h3>胎窬瘡</h3>
<p><a href="_files/p04-a55a130.bmp">胎窬瘡</a></p>
<p>有等小兒初產下來。背上有大孔窬一二個。但內中有膜。完護臟腑者得生。如無膜。露見臟腑者即死無救。如有膜以補中益氣湯與母服。乳兒自能長完。亦有雖活。三五歲而死者有之。</p>
<h3>濕毒瘡</h3>
<p><a href="_files/p04-a55a131.bmp">濕毒瘡</a></p>
<p>凡濕毒所生之瘡。皆在於二足脛足踝足背足跟。初起而微癢。爬則水出。久而不愈。內服除濕等藥。外用蜜調制柏散上之。一二次即安。</p>
<h3>內丹</h3>
<p><a href="_files/p04-a55a132.bmp">內丹</a></p>
<p>丹者言赤色。如塗朱映於肉裡。故名曰內丹。似板而微腫。如發於淵液京門等穴。或左或右。皆少陽膽經。一二日者可治。如連腰臍青紫及大痛。或大小便不通。皆不可治。死之必矣。</p>
<h3>飛灶丹</h3>
<p><a href="_files/p04-a55a133.bmp">飛灶丹</a></p>
<p>許學云此十種丹毒。乃小兒受胎內之毒。如三日不治。攻於腸胃必死。急宜辨認明白。逐一仔細看。的是何丹。即依方治之。此飛灶丹。從頭頂紅腫光起。急用蔥白自然汁調白芨末塗之即愈。</p>
<h3>吉灶丹</h3>
<p><a href="_files/p04-a55a134.bmp">吉灶丹</a></p>
<p>此丹從頭上向腦後紅腫者。是足太陽膀胱風熱。腫處必熱而痛。或渾身亦熱。內宜服防風通聖散加減治之。外宜用赤小豆紫荊皮末。以雞子清調或酒調塗之即愈。</p>
<h3>鬼火丹</h3>
<p><a href="_files/p04-a55a135.bmp">鬼火丹</a></p>
<p>此丹從面上起紅腫。是手足陽明經內風熱。治宜白虎東加防風荊芥薄荷甘草桑皮葛根等類。外以雞子清調伏龍肝末塗之即愈。又方用蜜調制柏散塗之更妙。</p>
<h3>天火丹</h3>
<p><a href="_files/p04-a55a136.bmp">天火丹</a></p>
<p>此丹從脊背起赤腫熱痛。是腎脈中熱毒兼足太陽經風熱。治宜防風通聖散。減硝石羔滑石加以羌活治之。外以臘羊脂。要陳過二三年的溶調羌活末塗之即安。</p>
<h3>天灶丹</h3>
<p><a href="_files/p04-a55a137.bmp">天灶丹</a></p>
<p>此丹從兩臂赤腫少黃色或一臂上。皆手陽明經風熱。內服解毒東加防風荊芥薄荷甘草。外以沖和膏塗之。又方以柳枝燒灰為末。水調塗之。</p>
<h3>水激丹</h3>
<p><a href="_files/p04-a55a138.bmp">水激丹</a></p>
<p>此丹從兩脅虛腫紅熱。是足少陽膽經風熱。治宜小柴胡東加白芍防風荊芥。外以生鐵屑加有孕母豬糞燒灰蠟水調塗之。</p>
<p>凡小兒百日內發丹。不拘是何丹必死。</p>
<h3>胡次丹</h3>
<p><a href="_files/p04-a55a139.bmp">胡次丹</a></p>
<p>此丹從臍上起黃腫者。是任脈經中熱與濕。內服三黃解毒湯。中加木通赤芍連翹防風荊芥。外以醋調檳榔末塗之。又用沖和膏酒調塗之效。</p>
<h3>野火丹</h3>
<p><a href="_files/p04-a55a140.bmp">野火丹</a></p>
<p>此丹從兩腿上起赤腫。痛如火燒。是足陽明胃經中風熱。內服瀉黃散涼膈散加減。外以羊脂調乳香末塗之。火丹草搗醋塗之。水調白芨末塗之更效。</p>
<h3>煙火丹</h3>
<p><a href="_files/p04-a55a141.bmp">煙火丹</a></p>
<p>此丹從兩足背上起赤腫痛。是足三陽經風熱。亦有足底心起。乃是少陰腎經大熱。內宜服滋陰抑火藥。外以香油調豬食槽下土塗之。又以蜜調制柏散亦效。不可輕忽。</p>
<h3>胡漏丹</h3>
<p><a href="_files/p04-a55a142.bmp">胡漏丹</a></p>
<p>此丹從陰上起黃腫或赤腫。皆厥陰肝經虛火發於外。內宜服當歸龍會丸瀉青散。外用羊脂調屋漏土塗之。又以醋調制柏散塗之亦妙。</p>
<h3>粉癭瘤</h3>
<p><a href="_files/p04-a55a143.bmp">粉癭瘤</a></p>
<p>凡粉瘤大而必軟。久久漸大。似乎有膿非膿。乃是粉漿於內。若不治之。日久大甚。亦被其累。</p>
<p>當用艾灸十數壯。即以醋磨雄黃塗在紙上。剪如螺螄。蓋大貼灸處。外用膏藥。貼一二日一換。待擠出膿即愈。</p>
<h3>筋瘤贅</h3>
<p><a href="_files/p04-a55a144.bmp">筋瘤贅</a></p>
<p>筋蓄則屈屈於瘤。久久漸大。大凡瘤根細小。可以芫花煮細扣線系之。日久自落。或利刀去之。</p>
<p>如治血瘤法亦妙。內服補養之劑。外以太乙貼。</p>
<h3>氣瘤贅</h3>
<p><a href="_files/p04-a55a145.bmp">氣瘤贅</a></p>
<p>凡氣瘤贅或三五日大。又幾日小者。乃隨氣之消長。不痛不紅。皮膚照常。其贅不硬。治宜內服沉香化氣丸散氣等湯液。外以枳殼扣之。以艾灸之效。又方以香附散亦可。</p>
<h3>血瘤贅</h3>
<p><a href="_files/p04-a55a146.bmp">血瘤贅</a></p>
<p>凡生血瘤贅。小而至大。細根蒂者與茄子相似。宜調惡針散。一服即以利刃割去。以銀烙匙燒紅一烙即不流血。亦不潰。不再生。不然。復出血瘤。不一月如舊。宜仍依前法治之即安。</p>
<h3>肉瘤贅</h3>
<p><a href="_files/p04-a55a147.bmp">肉瘤贅</a></p>
<p>凡肉瘤初生如栗如桃。久則如饅頭大。其根皆闊大。不疼不癢。不紅不潰。不軟不硬。不冷不熱。</p>
<p>日漸增加。亦無法治。治恐難痊。雖針灸無功。故錄之。</p>
<h3>走馬牙疳</h3>
<p><a href="_files/p04-a55a148.bmp">走馬牙疳</a></p>
<p>凡走馬牙疳者。乃瘡蝕之急也。是胃口有濕熱之輕重。故瘡毒有緩急。若不早治。恐蝕斷其牙　。</p>
<p>則齒亦脫落。人亦即死。急以人中白一錢　銅綠三分麝香分半共末敷之立愈。</p>
<h3>口疳</h3>
<p><a href="_files/p04-a55a149.bmp">口疳</a></p>
<p>是濕熱在於胃口之上。乃脾之竅。宜內除其胃中濕熱。若不早治。恐食其口唇腮頰等處。外以搽藥用橄欖核一兩兒茶五錢冰片五分共為細末搽之即愈。不須上三次。神效。</p>
<h3>鼻疳</h3>
<p><a href="_files/p04-a55a150.bmp">鼻疳</a></p>
<p>鼻為肺之竅。凡鼻孔有疳瘡。即肺中有濕熱。治宜除肺中濕熱。外以搽藥。若不早治。恐蝕其鼻內關竅。令人言語不明。即用兒茶五錢雄黃一錢輕粉一錢冰片一分共末吹入孔內。如臭加鍋墨五分效。</p>
<h3>喉疳</h3>
<p><a href="_files/p04-a55a151.bmp">喉疳</a></p>
<p>喉乃性命之關。不可輕忽。若不可治。一二日間死生系之。輕則緩。重則急。治宜內服涼膈解毒之劑。外以冰片一分兒茶五分百草霜二錢共末。每次吹五厘於喉內神效。非他方之效可比。</p>
<h3>月蝕疳</h3>
<p><a href="_files/p04-a55a152.bmp">月蝕疳</a></p>
<p>耳邊耳下。耳邊有瘡能蝕者名曰月蝕疳。乃足陽明胃經。少陽膽經濕熱。內除二經之濕熱。外以黃丹一錢　赤枯礬一錢真粉一錢冰片半分共末干敷上。或唾調搽亦妙。又方煙膠末搽之。</p>
<h3>旋指疳</h3>
<p><a href="_files/p04-a55a153.bmp">旋指疳</a></p>
<p>人之手足雖五臟之經所起。而脾主四肢。因脾中有濕熱。故能腐諸物是也。如長夏六月間濕熱盛。</p>
<p>而諸物腐焉。治法宜大清濕熱於脾胃。外以兒茶五錢雄黃一錢片腦二分共末泔水洗搽之妙。</p>
<h3>袖口疳</h3>
<p><a href="_files/p04-a55a154.bmp">袖口疳</a></p>
<p>此疳是龜頭及頸上有瘡。腫　於內。而外則皮裹不見其瘡。如袖口之包手故名之。似龜頭之縮最難治之。何也。蓋藥不能搽至瘡上。宜用眼藥加冰片膏子入卵殼內。套在龜頭上。浸之內服。清肝濕熱藥妙。</p>
<h3>臊疳</h3>
<p><a href="_files/p04-a55a155.bmp">臊疳</a></p>
<p>玉莖有瘡癢且痛。赤　有水。蓋因交媾不洗。肝經有濕熱所致。肝性主臊。故瘡亦臊因名之。</p>
<p>宜清肝中濕熱。外以兒茶敷之妙。</p>
<h3>陰疳</h3>
<p><a href="_files/p04-a55a156.bmp">陰疳</a></p>
<p>婦女陰戶內有瘡名陰疳。是肝經濕熱所生。久而有蟲作癢。腥臊臭。有因男子交媾過之。此非肝經濕熱。乃感瘡毒之氣。當自察其來歷治之方妙。外以搽藥。方見於後。</p>
<h3>妒精疳</h3>
<p><a href="_files/p04-a55a157.bmp">妒精疳</a></p>
<p>妒者乃嫉妒之妒也。因交合不潔之婦。或交而不洗。蓄其敗精於玉莖。妒而為瘡。故名之。內宜清濕熱。外用地骨皮泔水洗。再以真金散即室女首經抹布。燒灰搽之立效。</p>
<h3>無辜疳傷瘡</h3>
<p><a href="_files/p04-a55a158.bmp">無辜疳傷瘡</a></p>
<p>此疳因兒汗濯晒晾。誤被雌鳥糞及羽毛所落於上。有蟲入於皮毛間。致令小兒腦後項邊有核。如彈丸在內。摧之則動。軟而不疼。久則蟲化入於臟腑。令兒羸瘦壯熱。便膿血。頭骨開縫。肢體生瘡。</p>
<p>治宜消疳。</p>
<h3>湮尻瘡</h3>
<p><a href="_files/p04-a55a159.bmp">湮尻瘡</a></p>
<p>月子乳孩繃縛手足頤下頰肢窩腿丫內濕熱之氣。常皆湮爛成瘡。系乳母看顧不到所致。不可用別藥。止將伏龍肝一味。不拘多少搗細末搽在患處。用紙裹之即愈。</p>
<h3>落臍瘡</h3>
<p><a href="_files/p04-a55a160.bmp">落臍瘡</a></p>
<p>初生小兒自落臍帶之後。臍汁不干。瘡口不合。蓋因乳母不勤。或因兒尿濕臍。或因洗浴拭揩不干。多成此瘡。宜用草紙燒灰。少加枯礬共末入在臍內。用紙包裹。不令濕了即愈。</p>
<h3>臍漏瘡</h3>
<p><a href="_files/p04-a55a161.bmp">臍漏瘡</a></p>
<p>一人臍漏年半。臭不可近。年將六十。妻少而不自惜。百治不效。自分必死。其老母哭拜求余。</p>
<p>且曰。君能存吾子。以接香煙。則母子沒齒不忘大德。余以補劑治之。外以艾灸臍上。次日則不臭矣。</p>
<p>更以膏貼之。後用生肌散填滿臍口。又以補中益氣散數劑。方半月而安。又一老人。七十有五。因氣惱。臍忽瘡漏。三月余。自分必死。請余治之。亦照前法。不半月而愈。後至八十三歲而卒。噫。神哉方乎。</p>
<h2>卷之九</h2>
<h3>論</h3>
<p>夫諸瘡癰疽疔癤。皆因營氣不從。逆於肉理。故生痘疹　痧。瘤　癬疥無不由此。余將誤傷於物之害發明非因血氣不和所致也。亦有物之毒瓦斯傷於輕重。亦有大小淺深傷於生命。此不可不知。亦不可不曉。諸書雖有。未嘗細剖其真。詳其奧旨。故不得其秘焉。惜哉。如金刃之傷。生死立見。湯火油烹。痛苦莫支。如虎咬蛇傷。蜂叮蠍HT　。蟲喇箭毒。必得其傳。而後能救。如刮療毒。劈腦剜腸。</p>
<p>得其生者。豈非神術之秘傳乎。</p>
<h3>金刀自刎</h3>
<p><a href="_files/p04-a55a162.bmp">金刀自刎</a></p>
<p>夫刀刃之傷。重則斷頭刎頸。輕則割肉成瘡。此皆激忿所致。非血氣使然也。內服補中益氣加止痛乳沒之類。外以三七湯洗之。其血自止。更上刀瘡藥則愈。此蓋止血痛。非閹割宦官之可療也。方見後。</p>
<h3>火燒瘡</h3>
<p><a href="_files/p04-a55a163.bmp">火燒瘡</a></p>
<p>火之為物。性最急。能燒萬物。頃刻為灰。何況人乎。重則至死。輕則為瘡皮焦肉卷。苦痛難熬。</p>
<p>百計千方。難免於苦。余經驗一方。雖出於書。嘆人未得其傳。制度之法。內宜服泄火毒之藥。外上此藥立止痛。方見後。</p>
<h3>湯燙瘡</h3>
<p><a href="_files/p04-a55a164.bmp">湯燙瘡</a></p>
<p>凡滾湯沸油熱粥等物。人常遭其害。則令人皮　肉爛成瘡。非人血氣所致也。重亦至死。當察其輕重。有放花爆燒之。有焦池沐浴燙之。俱用此方。無不應驗。方見於後。萬不失一。</p>
<h3>含腮瘡</h3>
<p><a href="_files/p04-a55a165.bmp">含腮瘡</a></p>
<p>大人小孩疳食透腮頰。初生時如米痘大一小瘡。次則漸大。蝕破腮頰。故名含腮瘡。若不早治。</p>
<p>破透了治尤難。急用二金散方。用雞內金鬱金各等分為末。先用鹽湯漱淨。次用藥上之效。</p>
<h3>皺裂瘡</h3>
<p><a href="_files/p04-a55a166.bmp">皺裂瘡</a></p>
<p>行船推車辛苦之輩。及打魚染匠輾玉之人。手足皴裂成瘡。招動出血。痛不可忍者。先用地骨皮白礬煎湯洗之至軟。次用蠟羊油煉熟入輕粉一錢搽之。累驗累效。珍之。</p>
<h3>漆瘡</h3>
<p><a href="_files/p04-a55a167.bmp">漆瘡</a></p>
<p>凡人感生漆之毒瓦斯。則令渾身上下俱腫。起瘡如痱子。如火刺。刺而痛。皮膚燥烈。三五日比風熱瘡或疼或癢為異。外用柳樹葉煎湯洗三五遍。以蟹黃搽之。內服香油一二碗即安。</p>
<h3>凍瘡</h3>
<p><a href="_files/p04-a55a168.bmp">凍瘡</a></p>
<p>凍瘡多起於貧賤卑下之人。受其寒冷。致令面耳手足初痛次腫。破出膿血。遇暖則發燒。亦有元氣弱之人。不奈其冷者有之。內服補中益氣之劑。外用附子未練樹子肉搗搽之妙。</p>
<h3>箭毒瘡</h3>
<p><a href="_files/p04-a55a169.bmp">箭毒瘡</a></p>
<p>凡箭頭有毒。傷人必死。昔關公遭此。得華佗刮骨療毒。方保安全。近來虜賊箭頭有倒須三岔又旋安。其頭一射中人。HT　雖拔出。旋頭不能出也。必割開肉方可。其患處必得婦人月水洗之方解。</p>
<h3>打跌傷瘡</h3>
<p><a href="_files/p04-a55a170.bmp">打跌傷瘡</a></p>
<p>凡打跌傷成瘡。亦有輕重。內服活血止痛之藥。外用三七葉搗爛敷之。痛即止。血亦散。瘡上如沾三七末。干再不潰矣。如不沾。仍用鮮葉再搗敷之妙。如不用藥即以三七煎東加酒服之更妙。杖瘡同。</p>
<h3>日晒瘡</h3>
<p><a href="_files/p04-a55a171.bmp">日晒瘡</a></p>
<p>三伏炎天。勤苦之人。勞於工作。不惜身命。受酷日晒曝。先疼後破。而成瘡者。非血氣所生也。</p>
<p>內宜服香茹飲加芩連之類。外搽金黃散制柏散青黛等藥治之則自安矣。</p>
<h3>虎噬瘡</h3>
<p><a href="_files/p04-a55a172.bmp">虎噬瘡</a></p>
<p>凡人遇虎。不死必傷。傷而瘡者有之。虎之見人。如貓捕鼠。有毒涎噴人。人必昏憒。宜真香油先灌之一二碗。以祛其毒。仍用香油洗其瘡。內服安神益氣之藥。外用玉真散及生肌等散治之。</p>
<h3>犬咬傷</h3>
<p><a href="_files/p04-a55a173.bmp">犬咬傷</a></p>
<p>惡犬咬人成瘡。急用甘草湯洗去毒黃。次以玉真散搽之。內亦服之。如瘋犬傷人。急打散頭發。</p>
<p>頂內有紅發如鋼針。即拔去之。次以地骨皮煎湯洗去黃。內亦服之。又方地龍糞為末。將咬傷處封好。</p>
<p>口出犬毛效。</p>
<h3>鼠傷瘡</h3>
<p><a href="_files/p04-a55a174.bmp">鼠傷瘡</a></p>
<p>鼠咬傷人手足及肉最難愈。何也。蓋其齒細而長。有毒黃。能傷筋骨故也。宜用貓洗其毒。去其血。次以貓糞填滿咬處為妙。</p>
<h3>馬汗瘡</h3>
<p><a href="_files/p04-a55a175.bmp">馬汗瘡</a></p>
<p>凡生瘡之人。因騎驢馬誤沾汗涎之毒。入於瘡內。　腫疼痛。即以冬瓜皮煎湯洗淨。仍用冬瓜皮干末敷之效。如無冬瓜即以絲瓜葉煎湯洗淨。再上制柏散即愈效。</p>
<h3>火瘡</h3>
<p><a href="_files/p04-a55a176.bmp">火　瘡</a></p>
<p>貧窮之人及卑弱病夫。向火避寒。久炙皮膚。火氣入而成瘡。有汗作痛。宜用制柏散蘇薄荷等末共摻之即愈之也。</p>
<h3>灸火瘡</h3>
<p><a href="_files/p04-a55a177.bmp">灸火瘡</a></p>
<p>治病用艾火灸成瘡。凡痛發作。宜用太乙膏貼之自愈。如無即以四時之物貼之亦痊。如春月用柳絮。夏月用竹膜。秋月用新棉。冬月用壁上錢。此即壁　窠也。貼之自效。</p>
<h3>汗淅瘡</h3>
<p><a href="_files/p04-a55a178.bmp">汗淅瘡</a></p>
<p>肥人多汗。久不洗浴。淹淅皮膚。爛成瘡者。痛不可忍。以真蛤粉滑石末摻之自愈。</p>
<h3>獨骨瘡</h3>
<p><a href="_files/p04-a55a179.bmp">獨骨瘡</a></p>
<p>大人小兒。頤頦生瘡。津淫不止。名曰獨骨瘡。宜用百合散加以百合黃柏各一兩、白芨三分、萆麻子五十粒、輕粉五分。</p>
<p>上共為細末搽之效。如干者以朴硝水和作餅貼之。</p>
<h3>傷水瘡</h3>
<p><a href="_files/p04-a55a180.bmp">傷水瘡</a></p>
<p>誤被竹木簽破皮膚。又因生水洗之。潰而疼痛。或魚刺諸骨破傷。久而不愈。用黃丹蛤粉文蛤等分同炒變色。摻瘡口上。漸次而愈。</p>
<h3>蛇咬瘡</h3>
<p><a href="_files/p04-a55a181.bmp">蛇咬瘡</a></p>
<p>諸蛇有毒莫如土虺蛇最毒。如人被傷。即取半邊蓮草揉而擦之。頃刻即安。亦可煎服。故俗云有人認得半邊蓮。終朝可伴毒蛇眠。雄黃亦可搽之。凡蛇誤入人孔竅內。即以針刺其尾則自出矣。不過一二針。妙。</p>
<h3>蜈蚣叮瘡</h3>
<p><a href="_files/p04-a55a182.bmp">蜈蚣叮瘡</a></p>
<p>凡人被蜈蚣叮咬。其痛切骨。或渾身麻木。即將雄黃末捻香油紙條點火熏其傷處。其痛自止。雖諸方不及此方之妙。以灸亦可。亦有人誤食蜈蚣游過之物。能令中毒而死。宜以紫金錠吞吐之即效。</p>
<h3>蜂叮瘡</h3>
<p><a href="_files/p04-a55a183.bmp">蜂叮瘡</a></p>
<p>凡蜂子叮人有毒。刺入肉內。即須挑去。次以好黃酒洗之則瘥。不然。照前燃油紙燈熏亦妙。</p>
<h3>蠍子叮</h3>
<p><a href="_files/p04-a55a184.bmp">蠍子叮</a></p>
<p>北方蠍子最毒。凡一螫人。痛至雞鳴。雖藥不妙。不若以香油蘸青布捻子穿入筆筒。叩定痛處。</p>
<p>以煙熏之。少刻即瘥。百計不如此也。</p>
<h3>蟲傷瘡</h3>
<p><a href="_files/p04-a55a185.bmp">　蟲傷瘡</a></p>
<p>蟲有楊　瓦　俱能刺人。即令皮膚腫痛。如火燎一般。即以淡豆豉搗敷之。但有毛即出而不痛。</p>
<p>如毛未出仍痛再擦之。須得毛出方痊。如無豆豉或醋或鹽鹵洗之亦妙。</p>
<h3>蠷瘡</h3>
<p><a href="_files/p04-a55a186.bmp">蠷　瘡</a></p>
<p>凡蠷　尿人身上。即瘡如粟粒累累。似　蟲螫痛。又惡寒發熱。即以犀角磨汁塗之則愈。不然以苧麻絲搓去瘡汁。再加金黃散一上即安。</p>
<h3>人咬傷瘡</h3>
<p><a href="_files/p04-a55a187.bmp">人咬傷瘡</a></p>
<p>凡人　打誤被咬傷。破皮流血之時。即以醋洗淨其血。用敗龜板燒灰為末。香油調擦即愈。如無。</p>
<p>以鱉甲燒灰亦妙。</p>
<h3>砒霜累瘡</h3>
<p><a href="_files/p04-a55a188.bmp">砒霜累瘡</a></p>
<p>不拘大人小兒。誤中砒霜。百解不效。惟有地漿可救。即在黃土地上挖一斗大坑。以井水滿之。</p>
<p>令攪混濁。以一碗與飲之。少刻再與之。待渾身紫累俱散。一吐即蘇。雖冬月間亦宜用之甚驗。</p>
<h3>水漬手丫爛瘡</h3>
<p><a href="_files/p04-a55a189.bmp">水漬手丫爛瘡</a></p>
<p>辛苦之人。久弄水漿。不得停息。致令手丫濕爛□。如車旋匠及染匠等之類多□□□□□□□水浸洗數次自效。</p>
<h3>水漬腳丫爛瘡</h3>
<p><a href="_files/p04-a55a190.bmp">水漬腳丫爛瘡</a></p>
<p>久雨水濕。勞苦之人跣行。致令足丫濕爛成瘡。疼痛難行。惟用蜜陀僧　赤置地下去火性。碾細末。先以礬水洗足拭乾。即以此末上之次日即能行走。</p>
<h3>HT裂瘡口</h3>
<p><a href="_files/p04-a55a191.bmp">　HT　裂瘡口</a></p>
<p>辛苦貧寒之人。罔顧風雨。冬月間手足HT　裂成瘡。裂口出血。腫痛難忍。外以蘿卜汁煎洗裂口。</p>
<p>次以　羊脂燃油滴入裂口即愈。或以白芨末熱水調稠滴入裂口亦效。</p>
<h3>擔肩瘤</h3>
<p><a href="_files/p04-a55a192.bmp">擔肩瘤</a></p>
<p>擔肩瘤亦有破而出膿血者。非營氣不從之所生。乃因負重於肩。又因枕臥冷處。致令隧道不通。</p>
<p>蓄而有之。若不早灸。則不能消散矣。宜用千金粉霜點之即散。神效。</p>
<h3>眼丹</h3>
<p><a href="_files/p04-a55a193.bmp">眼丹</a></p>
<p>凡眼胞屬脾胃。謂之內輸。如赤腫甚不作膿為之眼丹。內宜瀉胃火三黃湯丸。外宜水澄膏塗之即愈。</p>
<h3>偷針眼</h3>
<p><a href="_files/p04-a55a194.bmp">偷針眼</a></p>
<p>凡大人小兒眼　角上有小瘡癤。腫起作痛。亦是心膽小腸之火盛也。凡有此瘡。胸背上必有小瘡窠累。宜用針刺出其血。眼角瘡　則自愈矣。故名曰偷針眼。再以瀉心火藥服之更效。</p>
<h2>卷之十</h2>
<h3>明痘理之源論</h3>
<p>夫痘之一症。所感於胎毒。胎毒者乃子在母腹之中。自形成之後。日夜食母血而能攝養其形。十月滿足。方能降生。臨產出時。有穢血一口在口中。若收生婆取之。此小兒痘疹俱無。亦無他症。取之不及。喊叫一聲。穢血以下降。入右腎命門藏伏後。遇風寒時疫及驚恐。內外相播。發為痘疹。予意又云。子在母腹。十月食母血液而方能形具。如母能慎其口。不食五辛惡毒濃味異物。目不視凶惡怪異之物。耳不聽淫亂惡殺之聲。能習胎教。時玩美玉持弓矢。看美畫古書。聽好忠孝賢良之語。不再房欲後。生子必多聰俊。少瘡毒。無惡疾。亦賢孝而且壽。今人不然。以酒為漿。以欲為常。貪食口味。那忌五葷三厭之物。則氣血焉得清淨耶。故生子多瘡爛痘疹疔毒。諸驚惡疾等症也。又問云。</p>
<p>嬰孩自月間周歲。或三五七歲至二三十歲而出痘疹。似此遲早不同。何謂也。答曰。胎毒有感之輕重。</p>
<p>氣血稟之壯弱。母調養之有方。則子少恙。不能調養。令兒多疾。遇外感內傷。亦有輕重。交攻毒瓦斯。遇之則發。不遇則不發。故令嬰孩痘疹。發之遲早稠稀輕重也。又問云。痘稀少兒又死。痘稠密兒卻生。何謂也。痘少兒死者。初一二日。間發熱未透。毒瓦斯壅塞不出。故令兒痘少而死。痘稠密兒生者。蓋發熱已透。毒已出於外。內無壅滯。痘症形色俱是順。故痘雖稠密而生也。又云。如痘出已完。或半月二十日後復病而死者。亦有病而生者何謂也。答曰。是痘毒未淨。調養失宜。致令兒復病。病而輕者生。重者死。此乃數定於前。人豈能逃。經云。取命化財。枉枉於理。莫能鑒矣。</p>
<h3>明痘疹當分三因論</h3>
<p>余參陳無擇是病必分三因。今痘疹一科。未言一字。何也。蓋精於方脈。而不察於此是也。余雖不敏。收陳一篇。以補古之未備。而使後學之了然。痘毒伏於命門。乃云養虎。如遇四時不正之氣。</p>
<p>風寒疫癘。外感於皮毛。則腠理郁寒而為熱。內攻臟腑。二火相煽。惡血發於膀胱。乃壬水克之。丙火後歸於陽明。</p>
<p>化出膿漿。此內毒因外感風寒疫癘之所作也。內因者。驚恐喜怒悲哀七情所擊臟腑。臟腑擊動鬱火。</p>
<p>舉發惡血赤揚。皮膚發熱。亦出痘疹。此內因作也。不內外因者。跌仆墜壓。打擊推搶。或過食干硬之物。不時惡毒等味。致傷脾氣。脾氣不能伸越則臟腑不和。內熱遍傳。胎毒並起。發而為之痘疹。</p>
<p>此為不內外傷也。治外傷則推運氣察陰陽之逆順。以升麻湯薄蘇飲治之。以輕　其表熱。而毒自出也。</p>
<p>治內傷者以升蘇飲內加涼驚解毒等藥治之。治不內外因者。當察其因何傷之打擊飲食之毒。隨症施治。</p>
<p>少加疏表。以化其痘毒。令兒自安。此三因之論畢矣。</p>
<h3>明預識痘疹法論</h3>
<p>夫小兒痘疹未顯之先。發熱之初。則煩躁臉赤。目胞赤。唇紅。身體痛。頭疼頓悶。呵欠。喘嗽。</p>
<p>驚HT　。噴嚏等症。此五臟外症悉具。而內毒煩冤。二三日後。毒歸於一臟方顯。是何臟受症也。歸於脾。則令人不食。嘔吐瀉痢腹痛。歸於肝。則令人目赤多淚。乍涼乍熱。歸於心則驚悸煩躁腮赤作渴。</p>
<p>歸於肺。則噴嚏喘嗽。咽乾發熱譫語。歸於腎則腰痛耳尻熱。嘎牙振寒。眼合腹脹黑舌。此五臟獨顯之外症也。</p>
<p>又如傷風則惡風脈浮緩。傷寒必惡寒脈浮緊。傷食必惡食。氣口脈必盛。如跌仆打壓等傷。必有腫痛於何處。則令人驚恐搐搦。喊叫昏睡悶亂等症。再加之一診耳冷尻冷。四梢冷。又不若視耳後紅脈赤縷。目有水光。身微戰動。如此診視。最為的真秘之稽驗若神。世少知之矣。</p>
<h3>明痘症四時逆順辨法論</h3>
<p>夫痘瘡屬陽。春夏為順。秋冬為逆。春痧夏　。秋膿胞。四季疹者為順。如春膿　。夏黑陷。秋冬疹者皆為逆。逆者不必用藥。總是仙丹。豈能返於生命乎。又云。先痘後夾疹者為順。先疹後夾者順。先痘後水泡者多則順。少則逆。先水泡後夾　少者順。多者逆。先水泡後夾疹者逆。瘡已黑。</p>
<p>忽泄出膿血痂皮者順。水穀乳食不化者逆。大抵順者吉。而逆者凶。有順時令而內兼險惡壞症者亦死。</p>
<p>有逆時令而痘色形症輕稀者生。如此之度嬰幼生之有賴。</p>
<h3>明痘分部位輕重論</h3>
<p>夫痘之初出。先分部位。部位者。天庭地閣。乃額上承漿是也。如那一部位稠者毒之甚。稀者毒之輕。無者即本經無毒也。如頭頂額背脊腰委中者太陽經也。如面鼻腮頰屬手足陽明經。咽喉手背肺經也。胸膈舌心部也。脅肋陰器肝膽部也。四肢脾部也。輕則尖圓飽滿。蒼黃膚糙。能食。氣體壯無他症者吉也。重則空陷癢　。密串丹浮。肉腫。痘不脹。目閉聲啞不食者。縱有千金難買大限。妙藥何功。又云痘從頭面胸背先灰者。八九日為順。從腳膝腰腿者為逆。如此直指。應驗神矣。</p>
<h3>明痘色吉凶論</h3>
<p>夫痘之色者宜光澤於外。則知五內及膚裡無蓄滯之毒為吉。混黑灰色干紅焦頂下澤於外者。乃臟腑壅滯之毒。不能疏泄於外為凶。不可治之。</p>
<h3>明痘形吉凶論</h3>
<p>痘之形症如一二日間作二三次旋。旋而出耳下鼻邊頷下三五。窠紅活滋潤微微體然。或往來寒熱。</p>
<p>旋出旋長。至五七日內。皮膚糙。漿滿。色蒼蠟尖圓者吉也。如一二日內。發熱間即一齊發出。如蚊蚤叮斑者香搐焦頂干紅。蛇皮蠶殼。紫脹癢　。或腫而忽消。或忽然而腫。肉痘不脹者凶也。</p>
<h3>明痘症吉凶論</h3>
<p>夫小兒痘症一現。發熱三五日。旋旋而出三五十窠粒。無他症。能飲食。便利勻。神氣清朗。依序而出。出而貫漿。漿而滿。滿而回。乃自然造化之理也。吉也。不然。發熱壅甚。面腫目閉。咽痛肚痛。嗆喉嘎牙。四肢厥冷。譫語。泄利水穀。渴吐脹滿。不食寒戰。目無光者。此皆凶症也。</p>
<h3>明痘虛實寒熱論</h3>
<p>小兒膚體。受之父母。氣血壯弱。稟在胎元。痘之毒熱。自裡而達於表。表者氣分也。氣之虛者。</p>
<p>灰白平陷。治宜補氣。氣之實者。熱之壅甚。出不快。此表實。治宜發表。在裡者血分也。紅腫　紫。</p>
<p>二便秘澀。用藥少疏利。於中和止之為上工也。</p>
<h3>明婦女出痘與嬰孩不同論</h3>
<p>婦女之形有經脈胎產。豈與嬰孩治例相同也。其症多端。略陳一二。如婦女出痘貫漿之時。或遇臨月之正產。或因痘熱之極而令胎亡。或小產。或遇行經之期。經血適來。或血液妄行。吐衄崩漏。</p>
<p>致令血虛。必令痘瘡變壞。以保元東加四物。如胎動必加安胎等劑治之。則無虞矣。豈與嬰孩同例治之也耶。</p>
<h3>明痘當禁忌例論</h3>
<p>痘之嬰孩。豈知禁忌。如父母未經心而誤觸犯者有之。致令痘瘡黑靨。靨則輕變重。變危斃而無救。世多有之。深可哀矜。今錄之以備不虞也。狐臭溝渠及腐濁穢氣。孝婦新婚產月經崩漏血腥膻臊氣。醉酒硫黃火藥焦毛氣。初病汗濕疫癘瘟KT　氣。麝香骨刺頭發誤火燒煙戧氣。蔥韭薤蒜烹煎油氣。</p>
<p>熬漆胚等臭氣。誤觸痘孩。恐毒入裡。令痘　。而死生未可知矣。即用乳香蒼朮紅棗降真芫荽燒之。</p>
<p>或芫荽酒噴之幃幕及噴身以解之。或母飲芫荽酒。令子乳之。即安。乳母亦可慎口及房欲。亦不可與子雞鴨。且吃令兒盲目。冷物食令子水硬。以溫藥解之。熱物多以涼藥解之。亦不可涼。乃痘瘡賴於溫養也。如痘初起及回時。</p>
<p>古云首尾俱不可汗下是也。</p>
<h3>明痘瘡治法論</h3>
<p>凡痘初發熱之時未明是否不是否。宜用升麻湯薄蘇湯或白酒薑汁蘇葉煎服。令少暖時。是痘則標現矣。即將紅綿紙作拈子蘸麻油點燈照兒渾身上下。皮膚裡有大小枝蒂根苗花蕊等意。色紅活者吉。</p>
<p>勿妄用藥。如耳眼鼻窄狹如針尾。不澤無枝朵者。凶亦勿藥。非丹也無效。凡見痘已出。必先幾日次問飲食多少。便利調勻。再看痘之稀密顏色圓暈如何。如發熱六七日。精氣清爽。其痘必稀尖圓活潤。</p>
<p>如發兩三日熱者不妨。如發一二日熱者。神濁氣粗。痘必密。其色潤。雖分個數亦有尖突。過十四日安。如密而色暗。平塌不分縫孔者。不須用藥。難過五日必死。更有一樣痘窠不圓。色暗不光。不食。</p>
<p>熱甚口內瘡白爛臭。名曰內潰。七日難過。大抵不食為之氣鬱悶結不通。保元東加山楂木香。如色紫乃血滯氣虛。本方加黃　川芎。不尖者是氣弱。倍參　。如痘漿清。頂不足者必生痘毒。七日前有此者。乃毒發於表。七日後有此者。乃毒發於裡。發於裡者乃保元東加薑糯桂枝。向裡焦黑。必用黃連荊芥牛蒡子。七日復發熱。</p>
<p>名曰蒸漿。十日後復熱。名曰余毒不盡。用連翹敗毒散。十四日復熱。名曰表虛。八珍湯。七日前痢。</p>
<p>本方加木香黃連豆蔻。七日後痢。如漿不足保元湯。腹痛是傷食。保元東加山楂陳皮。如痘七分。雜症三分。痘一解。余症即無。余毒疔痘發於四肢者輕。頭面胸腹者重。急用金銀簪刺破。入珍珠末血竭油胭脂於瘡外。以棉紙卦固。內服保元東加當歸紅花牛蒡連翹。如目有病。必待痘瘡回畢。方可治之。治眼用蔓荊密蒙花類。如生癰疽。專以解毒為主。無膿加官桂二分。寒戰切牙保元東加木香。大抵十四日內用保元湯治之加減。萬不失一是也。</p>
<h3>明痘隨日有吉凶論</h3>
<p>夫凡痘之未出。必先發熱三日為透為吉。如發一日熱者。即現標為凶。如一日半不及二日者為險。</p>
<p>此是發熱三日之吉凶可見也。次則見標。三日內陸續出。稀朗圓尖至足有。方為出齊。無他症。能食。此為吉為順。如發出稠密蠶種蚊蚤斑而不礙手者。再兼惡症必死。此為凶為逆。不可治之。如圓暈雖成。</p>
<p>干紅少潤。此氣血初交之際。得失未定。當補托。氣血和而痘自化成。此是出三日已見標之吉凶也。</p>
<p>如五六日痘當貫漿。皮濃光圓蒼蠟色。乃氣化漿行。毒自解也。為吉為順。如漿不行毒不解則干枯而密。癢　灰陷者。此是血不能歸附於氣也。為凶為逆。必死。如氣血雖交。其漿不克。其色半潤。此痘為險。為半吉凶。宜保元東加桂術以生其漿。有漿則生。無則死。此為貫漿三日之吉凶也。如痘靨之時。從頭面及背。先灰者為吉為順。如從足從陰股者。為逆為凶。此九日至十日十一日靨痘之吉凶也。如十二日至十四日十五日痘毒已回。其瘡當落痂。是氣血克實。毒已化淨。為吉為順。亦有當落而不落。或又有膿臭結痂。俗稱外回痘也。非也。乃氣血不足。而痘毒未盡也。必待氣血和平。毒解自愈也。</p>
<h3>明痘瘡亦不必拘於日數論</h3>
<p>大抵小兒有稟受虛實不等。貧富之家。調攝不同。兒形壯怯。護養失宜。亦有實實虛虛之過也。</p>
<p>皆父母愛子之心。無所不至也。豈知有反覆之患乎。致令子發熱三五日而成　。八九日而方生。但足上有痘方為齊。齊後成血　。或八九日結膿窠中夾出紅　或天時暄暖。則痘易出。若天令凜冽則痘出少遲。豈可以日期一例而論哉。必待榮衛調和無諸症。如期而愈矣。</p>
<h3>明順痘吉論</h3>
<p>痘初發熱三日透。方出稀疏清朗。尖圓飽滿。依期漿行。依時而靨。神氣爽靜。能飲食。無他症。</p>
<p>此自然生化。順吉之兆也。非人之能調。非藥之能療。乃天生之妙而已矣。耳下鼻邊三五點紅起窠光潤吉。</p>
<p><a href="_files/p04-a55a195.bmp">順痘形圖</a></p>
<h3>明逆痘凶論</h3>
<p>痘之夾熱未透。神氣濁粗。密如痱子。無窠粒。色暗不分縫孔者。如蚊蚤斑蠶子殼蛇脫皮。癢肉腫如瓜。或連連如雞蛋樣。干紅灰紫。陷塌無漿。再兼惡症。雖仙丹有何益乎。</p>
<p><a href="_files/p04-a55a196.bmp">逆痘形圖</a></p>
<h3>明險痘吉凶論</h3>
<p>夫險痘者。言其吉凶未定。生死未分。故名曰險。此痘雖長圓。暈雖成而干紅少潤。此陰始交陽。</p>
<p>血始交氣。得失未定。必待氣血尊附。痘自化成則吉。如頂陷而癢灰白。用保元東加薑桂芎米紅花。</p>
<p>色紫少加白芍以收其險。要緊之際。仔細度之。如不回活則凶。故曰險。</p>
<p><a href="_files/p04-a55a197.bmp">險痘形圖</a></p>
<h3>明痘家惡症論</h3>
<p>凡小兒出痘。神氣清爽。不宜昏憒。色暗癢　。肉腫如瓜。或連連如雞蛋樣。干紅無漿。泄瀉嘎牙。發戰喘促。聲啞煩躁。譫語目閉。胸背頭面青灰紫黑平陷。不食。腹脹如鼓。肚疼腰痛。唇焦口臭。舌黑喉嗆。鼻孔開張。下血。二便不通。以上惡症。如順痘相兼一二惡症。由恐變危。逆痘有此一症。最難保安。此皆天命之有定數。豈能逃乎。</p>
<h3>明痘始終宜節飲食論</h3>
<p>痘形已現。當謹慎養護。不可過飽與過飢。五味亦不可偏勝。父母愛子。無所不至。任意刁吮。</p>
<p>諸症並起。豈不反害於子耶。非余之瑣瑣言乎。</p>
<h3>明痘兼異症論</h3>
<p>痘忽痛癢極。內有蛆蟲或已炒焦。痘從腹出。或痘正興。忽生泡子。致痘不出。當看　子是何色。</p>
<p>即隨臟辨之。肝青心赤脾黃肺白腎黑。隨臟處方加減。以保元東加牛蒡子當歸荊芥連翹。肝青柴胡。</p>
<p>心赤加黃連。脾黃加熟大黃。肺白加桔梗。腎黑加人齒或無價散調服。如痘一起時。原因風寒。次痘雖出。而有寒門內症。表裡汗下亦可詳之。</p>
<h3>明痘夾痧子論</h3>
<p>夫痘名膿　。是胎毒所干肺臟而所生也。一發熱時至六七日中。膿　正興。而又出痧子。名曰痧。</p>
<p>蓋痘是也。俱是胎毒先干肺臟已出膿　。次於肝臟。又出痧子。此肺金肝木俱受胎熱之毒侮。其所不勝也。治宜清肺金。乃瀉其火也。養肝木。滋其水也。以保元東加麥冬知母黃芩類。則安。如痧子亦不為凶也。</p>
<h3>明痘夾子論</h3>
<p>膿　既生。六七日間。正旺而又復出　子。況　乃心火協相火熾甚而生。肺復受火邪所克。如少者為吉。如多者再兼喘咳。必不能保生也。</p>
<h3>明痘夾水痘論</h3>
<p>痘之一出。胎毒已彰。是為吉也。而又兼出水痘。水痘者是外感時氣而所生也。亦少者為順。多者逆也。治之宜清肺保脾解熱而安。亦不重劑耳。</p>
<h3>明痘夾疔毒癰疽論</h3>
<p>夫痘之一症。為順尚有變異。何況再疔毒癰疽。豈不毒之又甚耶。宜謹慎調護。稍可復生。若有一差。失之千裡。然疔毒癰疽。皆詳於前。治宜保元加減。睹之於後矣。</p>
<h3>明痘夾丹論</h3>
<p>丹者赤也。如塗赤朱於皮膚之上。亦是熱毒蘊蓄惡血於命門相火。合而發起。與痘相兼而生。有如霞片。浮而薄者易治。濃而紫者難痊。當順天時。若暑熱以通聖辛涼之劑解之。嚴寒以葛根升麻辛溫之劑解之。痘瘡既發。正合其宜。又失於調護。受風熱則血沸騰。感寒冷則血凝泣。若沸騰以辛涼散風之劑。凝泣者以辛溫之劑。外亦用塗敷等藥治之。如丹從腹往四肢者生。從四肢入腹者無救。</p>
<h3>明痘後生疳瘡論</h3>
<p>凡生痘瘡。小兒原氣壯實則痘易安。有等原氣虧虛。或又不曾托表。而又過食甘肥等物。致令胃中蓄之濕熱上入經絡。貫於口鼻耳目及牙　上下皆能生疳。津淫日久。濕熱生蟲。腐蝕牙　。齒脫骨落。並皆治之。內則益清中除濕熱之劑。外以蠶繭子出過蛾的入白礬一撮火　灰共末。上之即愈。</p>
<h3>明痘後癰疽疔毒論</h3>
<p>夫小兒痘已出盡。胎毒已化。而又復生癰疽疔毒。是何氣使然。答曰。胎毒雖化。氣血已虧。再加於失其調護。致令陰陽相滯。壅塞經絡。營氣不從。逆於肉裡。乃生癰腫疔毒。變生異症。亦皆有之。何況瘡瘍乎。枉枉殤夭。不可勝記。輕而變重。重而變危。惜哉。天命耶。失護也。</p>
<h3>明痘後細瘡如疥難愈論</h3>
<p>痘回痂落。宜該清潔。或誤食發物。或勤抱風處洗浴。致令復生細瘡。如疥非疥。最難得愈。諸藥不應。惟宜川蜂蜜一二兩。用水煎滾。時時呷之。外用懷孕母豬的糞晒乾燒灰。不拘多少。再加輕粉五分。滑石五分末共研細用酒調勻。鵝翎掃搽瘡上即愈。</p>
<h3>明痘後兩目胞腫論</h3>
<p>常治痘後。小兒兩目胞腫蓋下瞼上寸許。相　瞼爛成瘡。久治不痊除。不知內宜泄去陽明胃經濕熱。其腫漸消。淚自止。痛自除。黃連解毒湯三黃丸類。如眼珠有翳。用煮肝散退其翳。常常服之。</p>
<p>切忌雞鴨卵萵筍蔥韭之類。</p>
<h3>明痘後宜隨症施治論</h3>
<p>痘乃天花。一名聖瘡。前後十四五日內。生死立見。父母憂心恤如珍寶。庸醫失治。即見□　。</p>
<p>前賢深戒。所謂痘症首尾俱不可汗下。此一句使後人拘泥。不能展轉施於治法。使患者束手而斃。豈此禮乎。假如痘疹因傷寒而得。邪在太陽經。激起痘毒。二熱交攻。若形汗之寒邪從何而解。痘毒從何而散。致令熱邪痘毒內郁熾甚。豈不變為壞痘瘡耶。但不可用麻黃等類。只宜輕解蘇葛升麻也。如熱毒攻裡。內實壅滯。</p>
<p>二便秘結。若不疏瀉。痘即變靨。而壞症現耶。此豈不失治法乎。若拘古言。此症何由救免。亦云少加大黃可也。亦不可猛浪也。又言痘家若服張氏異攻散。如抱薪救火。火內澆油。此言又遠也。如小兒痘症七八日正發漿滿之時。兒或誤食冷物及弄水漿。陰寒內蓄。四肢逆冷。唇青腹痛等症。若不用溫暖之藥。陰寒從何而退。大抵臨症處方。施於活法。驗症的確。果是氣虛宜四君子加減。血虛四物加減。少入薑桂。以御其寒。痘得熱而易出。亦不致變為壞痘子瘡耶。正謂醫無定體。應便而施。正謂此也。</p>
<h3>明痧症吉凶論</h3>
<p>痧子一症。亦是胎毒流行所感不時之氣而發也。與痘瘡不同。其生死一類。毒之始發於脾。流於心。入於肺腎則無恙。入於肝目淚出不止。入於肺涕流不干。嗽甚煩躁不安。以火照之。隱隱於皮膚之下。以手摸之。磊磊於肌膚之間。其形如疥。其色若丹。隨出隨沒。乍有乍無。腫而兼隱。膚赤明朗者為吉。最嫌煤黑。百無一生。喜衄血。毒從衄解。身涼者吉。咽痛者凶。治宜生津養血。食少者救胃和脾。秘結者疏利。鬱熱者解肌。則令中和。一出連綿三四日者不收。乃毒火太甚。急用化斑湯解毒湯。遲遲出不快者亦表解之類。切忌酸醋梅漿冷水等物。雞魚五辛之物過七七日無忌。</p>
<h3>明痧不同論</h3>
<p>者點也。色赤而有點無頭粒者是也。痧有頭粒小而隨出即沒。沒而又出。俱是心火乘於肺金。</p>
<p>挾痰而作。有傷寒從表而發。以白虎湯玄參升麻湯化　湯治之。亦有可汗可下。俱在通聖散中消息治之。黑　者乃胃爛而出。不可救之。</p>
<h3>明保元湯功效加減法論</h3>
<p>保元湯內有人參二錢。黃　三錢。甘草一錢。水一鍾半。薑一斤。煎服。此方原是東垣先生所制。</p>
<p>藥性平和。甘溫專補中氣。能泄虛火。固表助陽外護內使陰血附焉。氣血和順。一身真元無恙。而痘自無壞亂之理極明矣。故名之保元湯。先三日。潮熱之時。看兒大小。用藥劑亦大小。內加蘇葉一二錢。不飲食。乃氣鬱。加山楂木香。熱甚加薄荷干葛。如痘毒壅塞不行。加桂。取其味辛能發散耳。次三日。見標之時。</p>
<p>三日內加減主方用人參八分。白朮黃　各一錢。甘草三分。五味三分。薑一片。棗二枚。煎服。如痘順加當歸枸杞。如逆則加川芎桂各三分。如渴加麥門冬天花粉。次貫漿三日。加減主方用人參黃　白朮甘草麥門冬川芎熟地黃當歸加薑棗糯米煎服。胃弱加山楂。漿不起加白酒人乳。額上不起加川芎。</p>
<p>面不起加升麻。腹上不起加桔梗。腰腿不起加牛膝。手上不起加桂枝。厥逆加附子。泄瀉加赤茯白芍。</p>
<p>冷泄加炒乾薑。靨速加柴胡連翹黃芩白芍。靨遲加桂乾薑。次三日落痂時。用藥主方陳皮白朮茯苓半夏當歸枳實八分甘草薑煎服。如落痂遲加人參黃　升麻棗子。痂收速加黃芩連翹。痘痛加赤芍黃連黃芩梔子炒如痘癢加羌活白芷蒺藜赤芍蟬蛻。氣虛加人參黃　白朮等類。其余群方見於後。</p>
<h3>開蒙百句歌</h3>
<p>大抵痘瘡名胎毒。產時穢血喊沉藏。命門養虎終成害。一有發作三因詳。外感風寒傳疫厲。七情激毒為內傷。如不內外因傷感。跌仆墜壓血成殃。飢飽勞碌過蓄血。皆能變痘在審量。察色診脈知凶吉。寒熱虛實醫度詳。耳冷尻冷四梢冷。雖為驗。最難防。男女暖臥何便取。耳後紅筋赤縷茫。目有水光兼煩躁。表裡形症有陰陽。發熱日多痘必少。一發即出蚤蚊HT　。耳下鼻邊承地閣。稀圓尖朗蠟而蒼。形色輕兮為上吉。臨症權衡妙處方。凡百只宜輕和解。諸疾何須藥猛浪。虛補實泄寒溫暖。熱極方宜藥少涼。體弱脈微兼吐瀉。產後經崩食不嗜。面黃硬氣宜當補。保元芎歸加減良。身壯脈洪能飲食。二便秘孕實多堅。清涼解毒中和止。邪無壅滯即平康。腫脹血壅色紫赤。木通紫草血須涼。平陷串白氣血弱。八物咀攢急作湯。補血怎及四物美。四君補氣不尋常。濕多四苓防風入。漿成色淡酒　當。咽痛甘桔肚痛芍。厥逆虛寒溫補漿。頂白根活當云瘥。根白頂黑斃多妨。赤熱白虛紅潤好。紫枯黑朽陷灰惶。痘吉症凶恐變暴。痘凶症惡預棺裳。起而不起參　補。收而不收芍藥湯。無價散醫平黑靨。歸　倒靨急煎湯。滑石腐草膿爛痘。癰腫連翹敗毒良。黑疔一點無蹤吉。水痘輕熱亦少漿。</p>
<p>月事忽來變壞痘。裡虛陷伏豈尋常。補中托裡休遲慢。瘡若回時免損傷。妊娠有痘治應難。表裡熱燥孕何安。調元清熱安胎美。胎元觸痛命終殘。痘正興時臨月產。氣血虛大補先。腹痛微微行惡露。虛甚八珍附子兼。婦女宿常多崩漏。又遇天行痘疹　。十全大補堪斟用。免得虧虛陷伏占。痘瘡過日不收回。父母憂思淚已悲。砂糖半盞湯調送。少頃漿收色蚤灰。痘發漿興兼　子。五色內五臟毒。辨察精微施治法。蠲的嬰孩父母哭。毒痘入眼分輕重。由恐干邪抵目腫。重瞎輕施穀精散。十中三二又神功。痘隆忽中寒變陰。四逆唇紫痛難禁。溫中或用二神散。須臾紅活再回生。七日復熱號蒸漿。旬後余熱敗毒良。月半熱時身虛損。八珍大補即安康。隨機應變攻休峻。賞用斟之再忖量。百句括褒無盡意。胸揣活法附於傍。</p>
<h2>卷之十一</h2>
<h3>癰疽發背</h3>
<p><u>仙方活命飲加減法</u></p>
<p>治癰疽發背腦癰等瘡。已成未成。萬不失一也。</p>
<p>穿山甲（三大片同蛤粉炒熟不用粉）　天花粉　甘草節　滴乳香　赤芍藥　貝母（各一錢）　皂角針（炒去尖）　沒藥（各五分）　當歸尾（酒洗）　陳皮（各一錢五分）　防風（七分）　金銀花（三錢）　白芷（一錢）</p>
<p>作一劑用酒水各一碗罐煎八分服。瘡在上食後服。在下食前服。能飲酒者外再飲四五杯。忌酸酒鐵器豆芽菜粉油膩等物。服畢宜側臥。少暖有汗覺痛減大半。有起死回生之功效。不盡述。</p>
<p>癰疽發背在頭及腦後脊背。加羌活　本角刺一倍。此太陽經藥也。</p>
<p>在胸脅少陽經部位者加柴胡栝蔞仁為君。</p>
<p>在腹臍者太陰經加陳皮赤芍白芷為君。</p>
<p>在手及臂膊加桂枝金銀花為君。</p>
<p>在足腿膝加牛膝防己黃柏歸尾。</p>
<p>如腫硬加連翹木鱉仁。</p>
<p>是疔瘡加紫河車三錢蒼耳二錢。</p>
<p>如人虛弱。不潰不起。加人參黃　當歸甘草。</p>
<p>如人實壯。加大黃連根節的麻黃。</p>
<p><u>托裡榮衛東加減法</u></p>
<p>治諸瘡瘍邪毒在於經絡中。宜此方加減。何知邪在經中。則外無　赤腫痛。內無便溺阻滯。則知邪在經。宜分部位。則知在何經。即以何經引經藥加之神效。</p>
<p>黃　（蜜炙）　紅花　蒼朮（泔浸炒）　柴胡　連翹　羌活　防風　歸身（酒拌）　甘草（炙）</p>
<p>人參（以上各一錢）　桂枝（七分）　黃芩（一錢）</p>
<p>作一劑。酒水各一鐘煎八分服。分瘡上下在食前後服。</p>
<p>在太陽加羌活麻黃。</p>
<p>在少陽經加柴胡黃芩。</p>
<p>在陽明經加白芷葛根。</p>
<p>在太陰經加蒼朮陳皮。</p>
<p>在少陰經加知母牛蒡子梵王燈馬前子。</p>
<p>在厥陰經加赤芍柴胡。</p>
<p>以上皆足之六經加減引經藥也。</p>
<p>在手太陽經臂膊及手小指背者加桂枝甘草。</p>
<p>在手少陽經加生地黃升麻。</p>
<p>在手陽明經加桔梗花粉金銀花。</p>
<p>在手太陰經加黃　人參黃芩。</p>
<p>在手少陰經加連翹黃連。</p>
<p>在手厥陰經加茯神連翹人參。</p>
<p>以上手足十二加減及引經例藥也。</p>
<p><u>補中益氣湯</u></p>
<p>治瘡瘍人元氣不足。四肢倦怠。口乾發熱。飲食無味。或不食勞倦。脈洪大無力。或頭身痛。惡寒自汗。氣高而喘。虛煩。</p>
<p>黃　（蜜炙一錢五分）　甘草（炙）　人參　當歸（以上各一錢）　白朮（炒一錢）　升麻　柴胡陳皮（各三分）　白芍藥（炒五分）</p>
<p>作一劑水二鐘。薑三片黑棗三枚煎服。空心方妙。</p>
<p><u>十全大補東加減法</u></p>
<p>治潰瘍發熱惡寒或作痛。或膿多。或清稀。自汗盜汗及流注。瘰　便毒。久不作膿。或膿成不潰。</p>
<p>或潰而不斂。血氣不足之人。並皆治之。</p>
<p>人參　桂枝　淮生地黃（酒洗蒸焙乾）　川芎　茯苓　白朮（炒）　白芍（炒）　黃　（鹽水拌炒）　當歸（酒拌各一錢）　甘草（炙五分）</p>
<p>作一劑水二鐘。薑三片。棗三枚煎服。</p>
<p>如虛弱至極。加熟附子三分。</p>
<p>如未成膿者。加枳殼香附連翹木鱉仁。</p>
<p>如氣虛倍參　。</p>
<p>如血虛倍芎歸乾薑灰。</p>
<p><u>人參敗毒散</u></p>
<p>治諸瘡瘍　腫痛。發寒熱。拘急。頭痛。脈數而有力者。</p>
<p>人參　羌活　前胡　獨活　柴胡　桔梗　枳殼　茯苓　川芎　甘草（各一錢）</p>
<p>作一劑水二鐘煎服。</p>
<p>如嘔吐加生薑陳皮半夏。</p>
<p>如脈細而無力。加大力子末半分。</p>
<p><u>極驗溶膠湯</u></p>
<p>治諸癰疽惡毒大患。保全有大功。活人最多。不可輕忽。</p>
<p>穿山甲（四片如瘡在背即用背上甲在手用前足上甲五分如在足用後腿上甲五分酥炙為細末）</p>
<p>透明真牛皮膠（四兩瓦上焙成珠為末先成大豆子塊不然鍋內炒亦可）</p>
<p>用好無灰酒二碗調勻。前二味煎數沸服之。以醉為度。不能飲酒者少用一盞。加水一鐘煎之。亦可。</p>
<p>世俗多不知此方之妙秘之。</p>
<p><u>神效解毒散</u></p>
<p>治諸毒惡瘡一服見功。</p>
<p>老人齒　紫河車　穿山甲（炙）　蜈蚣（炙去頭足）　真玄明粉各等分為細末。用好酒調服取汗。</p>
<p>如疔瘡用蒼耳子二鐘酒煎送下藥三錢。</p>
<p>如發背癰疽蔥煎酒送下三錢。</p>
<p>如腫毒癤子酒送下一二錢。</p>
<p>如痘疔毒。看人大小加減一錢。錢半。芫荽酒送下更效。</p>
<p><u>八珍東加減法</u></p>
<p>專能調和榮衛。順理陰陽。滋血脈。進飲食。退寒熱。乃補氣血之要藥也。</p>
<p>人參　白朮（炒）　茯苓（各一錢）　甘草（炙五分）　當歸（酒拌）　川芎　芍藥（炒）　淮熟地黃（酒浸）</p>
<p>作一劑水二鐘。薑三片。棗三枚。煎八分食遠熱服。楂再煎。</p>
<p>如氣虛甚。倍參朮。加黃　少加熟附子。</p>
<p>如血虛甚。倍當歸地黃。少加乾薑一分。</p>
<p>如飲食不進加陳皮藿香。</p>
<p>如嘔噦加生薑砂仁。</p>
<p>如頭疼加川芎蔓荊子羌活。</p>
<p><u>人參養榮湯</u></p>
<p>治潰瘍發熱惡寒。身倦肌瘦。面黃短氣。飲食無味及瘡不收口。多服數劑。不變他症。</p>
<p>人參（一錢）　白朮（一錢）　白芍（一錢五分）　黃　（蜜炙）　桂心　當歸（酒拌）　甘草（炙各一錢）　淮熟地（酒拌）　茯苓　五味子（炒搗各七分半）　遠志（去心炒五分）</p>
<p>作一劑水二鐘。薑三片。棗一枚。煎八分服。</p>
<p><u>十宣散加減法</u></p>
<p>治瘡瘍因外感風寒。內因氣血虛損。經云。百病乘虛而入。是宜服此亦加減在後。</p>
<p>人參　當歸（酒拌）　黃　（鹽水拌各一錢）　甘草（炙）　白芷　川芎　桔梗（炒各一錢）</p>
<p>厚朴（薑製五分）　防風　肉桂（各三分）</p>
<p>作一劑。水二鐘。煎八分服。</p>
<p>如脈來緩澀而微加參　白朮。</p>
<p>如脈弦身倦。加當歸白芍藥麥門冬。</p>
<p>如脈緊細加桂生地黃防風。</p>
<p>如脈洪大而虛加黃　黃連。</p>
<p><u>神效托裡散</u></p>
<p>治諸癰疽。腫毒發背。腸癰乳癰。時毒憎寒壯熱。不拘老幼虛實並效。</p>
<p>黃　（鹽水拌炒）　左纏藤　當歸　粉草（各一錢）</p>
<p>上作一劑。酒水各一鐘。煎八分服。分瘡上下則食前後服。查搗敷患處亦可為末。酒調更效。</p>
<p><u>內托復煎散</u></p>
<p>能托裡健胃。補氣血。消毒。除風濕。</p>
<p>當歸（酒拌）　人參　白朮　白芍藥（炒）　黃芩　肉桂　甘草（炙）　地骨皮　黃　（炙）</p>
<p>茯苓　防己（各一兩）　防風（二兩）</p>
<p>上咀先以蒼朮一斤水五升煎至三升。去朮入前十二味。再煎至三四盞。取清汁分三四次飲之。從又將煎蒼朮查入水再煎。依前十二味。查入如前。數飲之。故名曰復煎散。</p>
<p><u>黃連消毒散</u></p>
<p>治太陽經癰疽發於頭頂脊背。　赤腫痛及麻木不痛者。外先炙之。</p>
<p>黃連（酒製）　羌活（各一錢）　黃芩　黃柏（酒製各五分）　知母（酒製）　生地黃　獨活防風　歸尾　連翹（各四分）　本　防己　桔梗（各五分）　黃　蘇木　陳皮　澤瀉（各二分）</p>
<p>人參　生甘草（各三分）</p>
<p>上咀水酒煎服甚效。</p>
<p><u>內托羌活湯</u></p>
<p>治足太陽經左右尺脈俱緊。按之無力。尻臀生癰疽。堅硬腫痛大作。</p>
<p>羌活　黃柏（酒製各二錢）　防風　本　歸尾（各一錢）　肉桂（三分）　連翹　甘草（炙）</p>
<p>蒼朮　陳皮（各五分）　黃　（一錢五分）</p>
<p>上咀水酒各一鐘。煎八分服。取汗為效。</p>
<p><u>白芷升麻湯</u></p>
<p>治手陽明經。分臂上生癰。左右寸脈皆短。重按之俱弦。至重按之洪緩有力。此乃八風之變。</p>
<p>白芷（一錢五分）　升麻　桔梗（各一錢）　甘草（炙五分）　黃　黃芩（酒製各四錢）　紅花（五分）　生黃芩（三錢）</p>
<p>上銼作二服每水酒各半煎。食後溫服。</p>
<p><u>治魂丹</u></p>
<p>治癰疽惡瘡疔毒等類大有神效。</p>
<p>乳香　沒藥　銅綠　枯礬　黃丹　穿山甲（炙各一錢）　輕粉　蟾酥（各五分）　麝香（少許）</p>
<p>上為細末。用蝸牛研為丸綠豆大。每服一丸。至重者用二丸。蔥白搗裹藥。熱酒送下。取汗透為妙。酒量大多飲幾杯更好。分上下在食前後服之。余常用之如神。瘡疽不可缺也。</p>
<p><u>內托黃　酒煎湯</u></p>
<p>治瘡生腿外側。或因寒濕得附骨癰於足少陽經分微浸足陽明經堅硬漫腫。行步作痛。或不能行。</p>
<p>並皆治之。</p>
<p>柴胡（一錢五分）　連翹　大力子　肉桂（炙各一錢）　黃　歸尾（各一錢）　黃柏（七分）</p>
<p>甘草（炙五分）</p>
<p>上咀水酒各半煎。食前服。以上數方東垣所著書有經絡部位。故取之為例。使臨症處方有所據也。</p>
<p>蠟礬丸治一切癰疽托裡止痛。如發背已通。服此護膜。不令傷臟腑老幼皆可救之。</p>
<p>真黃蠟（二兩溶化投明礬末七錢）　明礬（一兩）</p>
<p>上二味和勻丸如桐子大。每服十丸。加至二十丸。熟水或溫酒送下。日二服。瘡分上下食前後服之即愈。</p>
<p><u>飛龍奪命丹</u></p>
<p>專治癰疽疔毒。無名惡瘡。渾身憎寒惡心。已成未成。或黑陷毒瓦斯內罨。乃穿筋透骨之劑。無經不通。故能宣泄汗吐下三法俱備。及中一切毒禽惡獸肉毒所致成瘡。及脈沉緊細數。蘊毒在裡。並濕毒。用之神效。及中寒中風。肚痛喉閉等症。後調引子服之神驗。</p>
<p>朱砂（二錢）　硼砂（一錢）　黃丹（一錢）　斑蝥　蟾酥（三錢）　血竭（三錢）　乳香（三錢）</p>
<p>沒藥（三錢）　麝香（五分）　人言（一錢）　巴豆（一錢去油）　半夏（五分）　砂（一錢）</p>
<p>共為細末。用頭生小兒乳搗蝸牛肉為丸。如綠豆大。每五七丸。各隨症引送下。亦分上下食前後服之神效。</p>
<p>一疔瘡初發。渾身憎寒惡心。先噙化一丸。如覺身麻木。用三五七丸水吞下。</p>
<p>一發背癰疽初起作渴用水吞下三五丸。</p>
<p>一傷寒頭痛。渾身疼拘急。五丸蔥白湯下。</p>
<p>一食陰症唇紫十指甲青。用溫酒送下九丸取汗。</p>
<p>一乳蛾喉閉用一丸噙化下。</p>
<p>一心氣疼。腹痛。用一丸噙化下。甚用三五丸水吞下。</p>
<p>咳嗽　喘一丸噙化下。</p>
<p>一中風口眼歪斜五七丸溫酒送下。</p>
<p>一下疳瘡用一丸入在瘡口內。毒水出便效。</p>
<p><u>托裡溫中湯</u></p>
<p>治癰疽或為寒變而內陷者。膿出清稀。膚冷心下痞滿。腸鳴腹痛。大便溏。嘔逆短氣。吃逆不絕。</p>
<p>時昏憒。</p>
<p>附子（炮去尖二錢）　乾薑（炮）　羌活（各一錢五分）　益智　丁香　沉香　木香　陳皮　甘草（炙各一錢）　茴香上咀水二鐘。薑三片。煎八分服食遠效。</p>
<p><u>內疏黃連湯</u></p>
<p>治諸瘡腫硬。發熱而嘔。大便秘。脈洪實大者。</p>
<p>黃連　當歸　芍藥　檳榔　木香　黃芩　梔子　薄荷　桔梗　甘草（各一錢）　連翹　大黃（各二錢）</p>
<p>上咀水二鐘。薑三片。煎八分服分上下。</p>
<p><u>破棺急救丹</u></p>
<p>治諸熱瘡腫。自汗多渴。譫語。便秘結陽等症。</p>
<p>大黃（一兩半生半熟）　芒硝　甘草（各一兩）</p>
<p><u>五香連翹湯</u></p>
<p>治諸瘡一二日。發寒熱厥逆。咽喉閉。</p>
<p>乳香　木通　大黃（各一錢五分）　連翹　沉香　木香　丁香　麝香　獨活　射干　升麻　甘草　桑寄生（炙各一錢）</p>
<p>上咀水二鐘。薑三片。水二鐘煎服不拘時。</p>
<p><u>清涼膏</u></p>
<p>治初患癰腫瘡癤熱　大痛。</p>
<p>大黃（不拘多少）</p>
<p>上為末。用米醋調敷之。</p>
<p><u>托裡護心散</u></p>
<p>治諸疔疽發背。曾經汗下。毒瓦斯攻心。迷悶嘔而痛。二三服而安。</p>
<p>乳香（明淨一兩）　真綠豆粉（四兩）</p>
<p>上細末每服三錢。甘草湯調服。</p>
<p><u>定痛托裡散</u></p>
<p>治諸瘡痛不可忍者。一服即安。年少壯實。先服疏利。後服此即除。</p>
<p>川芎　當歸　白芍　乳香　沒藥（各一錢五分）　官桂（一錢）　粟殼（炒去穰二錢）</p>
<p>上咀作一劑。水二鐘。煎八分食遠服。</p>
<p><u>乳香止痛散</u></p>
<p>治一切瘡腫疼痛不止。</p>
<p>乳香　沒藥（各一錢）　丁香（五分）　粟殼　白芷　陳皮　甘草（炙各二錢）</p>
<p>上咀作一服水二鐘煎八分食遠服。</p>
<p><u>仙方救命湯</u></p>
<p>治疔瘡走了黃打滾將死。眼見火光危症。</p>
<p>大黃　梔子　牡蠣　金銀花　木通　連翹　乳香　牛蒡子　沒藥　栝蔞　角刺　地骨皮各等分銼。每劑五錢。壯者加朴硝。酒水各半煎。</p>
<p>一服而愈故名之。</p>
<p><u>千金托裡散</u></p>
<p>治諸瘡發背疔瘡。</p>
<p>黃　（一兩五分）　厚朴　防風　桔梗（各二兩）　連翹（二兩二錢）　木香　沒藥（各三錢）</p>
<p>乳香（二錢）　當歸（半兩）　川芎　白芷　芍藥　官桂　人參　甘草（各一兩）</p>
<p>上末每服三錢。酒水煎服連渣飲之。加金銀花。</p>
<p><u>五灰膏</u></p>
<p>治洗諸瘡痔。</p>
<p>桑柴　秫　茄根　蕎麥　（各燒灰一斗）　鍛石（五升風化的）</p>
<p>上淋水熬膏。瓷罐收貯。洗惡瘡如神。</p>
<p><u>烏龍掃毒膏</u></p>
<p>治一切癰疽發背。腫毒未潰已潰。並皆治之。</p>
<p>文蛤（八兩炒）　多年浮粉（一斤晒至干入米醋浸一夜再晒乾聽用）　蚰蜓蟲（三十條）</p>
<p>上三味同搗一處。再晒再搗成末。再炒至黑色為細末。收入瓷罐內。凡遇瘡疽用醋調敷患處。留頭出毒瓦斯。綿紙蓋之。干再醋掃潤之。</p>
<p>一背癰疽發潰時。痛不可忍。用熟豬腦子去皮淨一個搗爛。調此成膏。毒上敷之。留頭出毒瓦斯。</p>
<p>紙蓋之。</p>
<p>一瘡紅紫熱。毒勢甚痛。用蜂蜜調敷更妙。</p>
<p><u>至效獨烏膏</u></p>
<p>治背癰疽發毒腫硬痛。</p>
<p>獨活　草烏　南星　肉桂（各等分）</p>
<p>共為細末用好米醋調敷患處留頭。紙蓋。干則醋潤之效。</p>
<p><u>至驗金針散</u></p>
<p>治背癰疽瘡腫已破未破。其功直　至潰處。春月取皂角針。不拘多少。半青半黑。灰火內炮。晒乾為末。每服二三錢。好酒調服。取汗為驗。亦分食前後瘡上下用之。如瘡在頭頂角針用樹梢上的背。</p>
<p>癰取樹身上向陽處的。如便毒懸癰取樹丫內的刺。乃取象之意也。即有所歸附焉。</p>
<p><u>黃　六乙湯</u></p>
<p>治癰疽潰後作渴。及人無故作渴。若肺脈洪數。必發癰疽。服此除之。</p>
<p>綿黃　（六兩蜜水塗炙一半鹽水浸炙一半飯上蒸三次再焙）　甘草（一兩半生半熟）</p>
<p>每一劑重一兩。水二鐘。煎八分。食遠服。或為細末。每服二錢。早辰日午白湯調服。更加人參尤效。</p>
<p><u>獨參湯</u></p>
<p>治潰瘍氣血虛極。令人發熱惡寒。失血之證及。傷寒怔忡百合等症。並治之。</p>
<p>人參（一二兩）</p>
<p>作一劑。水二鐘。煎八分。棗十枚。徐徐服之。如參多亦可。煎作膏子服更妙。</p>
<p><u>加減八味丸</u></p>
<p>治瘡瘍痊將痊作渴。甚則舌生黃。乃腎水枯。不能上潤。令心火炎炎。不能即濟。故心煩躁渴。</p>
<p>小便頻數。白濁陰痿。飲食少肌。膚損腿腫腳弱。此能滋陰降火。則無口舌瘡患矣。</p>
<p>山藥（一兩）　桂心（半兩）　山茱萸（淨肉一兩酒浸杵）　澤瀉（蒸焙）　白茯苓（各半兩）</p>
<p>五味子（炒一兩五錢）　牡丹皮（半兩）　淮熟地黃（八兩酒蒸忌鐵器搗膏）</p>
<p>上末蜜丸桐子大。每服六十丸。加十丸。空心鹽湯送下如神。</p>
<p><u>聖愈湯</u></p>
<p>治瘡瘍膿水出多。或金刀瘡血出多。心煩不安。不得眠。五心煩熱。</p>
<p>地黃（酒浸蒸）　生地黃（酒浸）　川芎　人參（各五錢）　當歸（酒拌）　黃　（鹽水浸炒各一錢）</p>
<p>上作一劑。水二鐘煎八分。食遠服。</p>
<p><u>抵金散</u></p>
<p>治發背癰疽潰後開爛作痛。</p>
<p>屎蜣螂（五月五日不拘多少裝入竹筒內陰乾取出為末）</p>
<p>用瓷罐收貯凡遇患將末摻瘡上妙。</p>
<p><u>金蟾膏</u></p>
<p>治發背疔毒。</p>
<p>活蝦蟆（一個去骨）</p>
<p>上搗如膏。敷在患上留頭。無頭都敷上。大有神效。一二日揭去妙。或有再一個全好。</p>
<p><u>蓼草膏</u></p>
<p>治陰發背黑凹而不知痛者。</p>
<p>鮮蓼草（十斤晒乾燒灰存性淋灰汁熬膏子半碗聽用）　風化窯腦（一兩即鍛石）</p>
<p>二味調勻入瓷罐收貯封固。如遇陰毒。將筆蘸點在患處。不二次退透知痛。出黑水。血盡將膏藥貼之自愈。</p>
<p><u>火龍膏</u></p>
<p>治症同前新火薑（八兩六月六日晒乾為末瓷罐收貯聽用）</p>
<p>如遇陰發背癰疽。取鮮豬膽汁調入薑末如糊。敷在患處周遭。用紙蓋之。干用熱水潤之。知痛時黑水自出為妙。如不知疼。出黑水難治。</p>
<p><u>回瘡金銀花散</u></p>
<p>治瘡瘍紫黑痛甚及不知痛。</p>
<p>金銀花（枝藤葉花並用二兩銼）　黃　（四兩）　甘草（一兩）</p>
<p>上咀酒水共煎二碗頓服之。</p>
<p><u>托裡散</u></p>
<p>治諸發背疔疽乳癰便毒始發。脈洪弦實數。腫甚似欲作膿者。</p>
<p>大黃（三錢）　當歸（二錢）　栝蔞根　牡蠣　皂角針　朴硝　連翹（各一錢）　黃芩　金銀花　赤芍藥以上各一錢作一劑。酒水各一鐘。煎八分。食遠服。</p>
<p><u>黃連解毒湯</u></p>
<p>治積熱瘡瘍。　腫作痛。煩躁飲冷。脈洪數實大。口舌生瘡。疫毒發狂。</p>
<p>黃芩　黃柏（炒）　黃連（炒）　梔子（各一錢半）</p>
<p>作一劑。水二鐘。煎八分熱服。</p>
<p><u>六君子湯</u></p>
<p>治瘡瘍作嘔。不思飲食。膨脹面黃。四肢倦怠。大便溏利。</p>
<p>人參　白朮（炒）　茯苓　半夏（薑製）　陳皮（各一錢）　甘草（炙五分）</p>
<p>作一劑。水二鐘。薑三片。棗二枚。煎八分。食遠服。如遇食冷物。致傷脾胃。本方加藿香砂仁。</p>
<p>又名香砂六君子湯。</p>
<p><u>防風通聖散</u></p>
<p>治一切風熱積毒諸瘡腫。發熱。大便秘。表裡俱實者。</p>
<p>芍藥（炒）　芒硝　滑石（　）　川芎　當歸（酒拌）　桔梗　石膏（　）　荊芥　麻黃（各四分半）　薄荷　大黃（煨）　山梔（炒）　白朮（炒）　連翹　甘草（炙）　防風　黃芩（炒各五分）</p>
<p>上咀一劑。水二鐘。煎八分服。</p>
<p><u>清心湯</u></p>
<p>治瘡瘍發熱飲冷。脈沉實。睡語不寧。即防風通聖散內加黃連五錢每劑一兩。照前煎服效。</p>
<p><u>十味托裡散加減法</u></p>
<p>治諸發背癰疽癤毒乳癰腳痛。未成即散。已成即潰。敗膿自出。惡毒自消。痛頓減。非常之驗。</p>
<p>人參　當歸（酒洗）　官桂　川芎　防風　白芷　桔梗　黃　甘草（炙）　厚朴（薑製）</p>
<p>上等分末每服五六錢酒服。不飲酒木香湯送。米湯亦可。加南木香白芍檳榔烏藥枳殼紫蘇名十六味流氣飲。如水不干。加貝母隨症加之。</p>
<p><u>乳香丸</u></p>
<p>治發背及一切癰疽潰爛。痛不可忍。</p>
<p>乳香　沒藥　羌活　五靈芝　獨活（各三錢）　川芎　當歸　真綠豆粉　白芷　交　桂　白膠香各半兩）</p>
<p>上末蜜丸彈子大。每服一丸。細嚼薄荷湯送下。手足損痛。不能起者加草烏。用木瓜鹽湯細嚼送下效。</p>
<p><u>膏藥方</u></p>
<p>專貼發背諸瘡。</p>
<p>真麻油　清桐油（各半斤）　豬毛（三兩）</p>
<p>二油煎滾。下豬毛熬化後。下黃丹八兩。滴水成珠。去火毒。攤貼神效。</p>
<p><u>賽針散</u></p>
<p>治癰疽有頭不破。及疔腫時毒生於四肢上。其勢微緩。畏針者先以醋調藥塗在瘡頂上。次內服托裡等藥。</p>
<p>巴豆（五分）　輕粉　砂　白丁香（各一錢半）</p>
<p>上為末。醋調塗之效。余近用醋塗入濃白綿紙上。臨用剪塊子貼瘡上。自然腐破。</p>
<p><u>蟾酥錠子</u></p>
<p>治疔毒攻心欲死者。以針及刺瘡向心行處。但覺痛。有血處下錠子。如累刺至心側。最不痛及無血者。可急刺頭頂百會穴。知痛有血者可救。即下錠子。若知痛無血者。以親人熱血代之。十中猶活三四人。如再不知痛。無血者。不可救也。凡疔生四肢者少緩。如胸背頭面最急。初生則痛癢不常中陷。如疔蓋撼之有根。壯熱惡心是也。</p>
<p>天南星　款冬花　巴豆　黃丹　白砒（以上各二錢）　獨活（五分）　斑蝥（去頭足十個）</p>
<p>上細末用新蟾酥和如黍米大錠。子若遇疔瘡。先刺後入錠子。如覺痛不須用此。止以膏藥貼之。</p>
<p>膿自出矣。如疔深用針刺至痛處。恐此藥不能至痛處。須用銀子打成細細筒子。一個約長三寸。隨針痛處。復以細銀絲子抵出筒子內錠子。只至痛處為妙。</p>
<p><u>試疔方</u></p>
<p>凡初生腫痛時不知可是疔否。即與生豆子嚼之。如不知生豆味者即是。真疔瘡急用胡桃仁和豆腐嚼爛敷患處。漸漸收入。如大黑　子。再換敷之。去黑點子為度。甚效。</p>
<p><u>治對口癰單方</u></p>
<p>用茄蒂干焙為末。每三錢。好熱酒送下立愈。</p>
<p><u>吸膿法</u></p>
<p>古之良醫有好生之德。用口吮膿。不令至痛。用此苦竹筒子五七個。長一寸。一頭留節。削去青皮。令如紙薄。隨看瘡瘍大小。用之。藥煮熱竹筒一個。安在瘡口內。血膿水滿了。竹筒子自然落下。</p>
<p>再將別個熱竹筒子仍前按上。如此五七個吸過。便用膏藥貼之。如膿多未盡。再煮一二遍竹筒更換吸。</p>
<p>膿盡為度。</p>
<p><u>煮竹筒法</u></p>
<p>白芨　白蘞　艾葉　牙茶　甘草　蒼朮　厚朴　草烏　白蒺藜　烏　皮各等分咀片。用水三五碗。同竹筒子一齊煮十數沸。則取竹筒子用。如癰疽大。膿多。亦多煮竹筒子。</p>
<p>亦不必拘數。此活法也。</p>
<p><u>鐵罐點毒膏</u></p>
<p>能點諸癰疽癤HT　疔腫便毒等瘡。初起時用此藥點之即破。無膿即散。有膿即出。</p>
<p>鞏子鍛石（用皂角同在火內炮煙盡為度二兩）　糯米（南星當歸赤芍同炒熟二合）　砂牯牛（即旱螺七個去殼）　斑蝥（七個炒同米熟去足翅）　砂（去疔頭加此一味疽毒不用）</p>
<p>共搗籮細末。用鐵罐子收貯聽用。</p>
<p>桑柴灰　芝麻　灰　皂角灰　蕎麥　灰　窯腦（以上各一斤同一處淋灰汁約三斗）</p>
<p>入大鍋內。慢火熬之。待十去其七。汁面上有霜白起。以瓷器貯之。如遇瘡毒。用此汁調前藥。</p>
<p>小小點之。三五次自然瘡破毒散。如出水時則不可點之神效。</p>
<p><u>代針散</u></p>
<p>一名透膿散。一名射膿散。不拘癰疽石毒不破者。及畏針不開。恐遲則毒瓦斯侵蝕好肉內罨。只此一服。不移時自透出膿。甚驗。</p>
<p>蠶繭子（出了蛾去用一個濃的）</p>
<p>燒灰為末。熱酒調服即透。切不可用兩三個。恐頭多口破亦多也。忌之。</p>
<p><u>收毒散</u></p>
<p>治發背一兩頭開發不住。勢在危急。即以此藥枯之。甚效。</p>
<p>鹽霜梅（十個）　山皂角（一挺不蛀的）</p>
<p>二味同燒灰共細末聽用。如發熱者米醋調塗四圍及開處濃些即不走開。或薑汁同醋調尤妙。如發熱者。蜜同醋調。或茶鹵調塗枯之立愈。</p>
<p><u>通氣散加減法</u></p>
<p>即何首烏散。治一切癰疽發背流注折傷。能救敗壞瘡症。活死肌。弭患於未萌之前。拔根於既愈之後。此劑之功。妙不可言極矣。能調陰陽。和氣血。令無凝滯。養胃本蕩邪直仙方也。</p>
<p>何首烏　當歸　赤芍藥（炒）　白芷　茴香（炒）　烏藥（炒）　甘草　枳殼（炒）　木通（去皮各等分）</p>
<p>上末水酒煎。每服四錢。或酒調服亦可。瘡在上食後。在下食前服。</p>
<p>一發背潰久不愈。必飲食減少。顏色痿痹。故必理脾。本方中去木通加厚朴陳皮當歸。甚加白豆蔻。</p>
<p>一流注加獨活。使氣血無凝滯。焉得流注乎。</p>
<p>一冷流注因傷寒表之太過。宜加溫平之藥十宣內補之類。甚則加附子或四桂散類。</p>
<p>一骨癰乃流注之敗症也。年日久遠。骨亦腐壞膿。血清稀。肌肉臭爛。此陰冷之極。亦加附子之類。故補腎必須附子。附子能實腎。腎實骨有生氣。故疽不附骨也。</p>
<p>一癰疽所生。因氣血凝滯所成。如年壯血氣盛者。宜減當歸。不然恐癰腫連連不絕其生也。</p>
<p>一癰疽生痰。有寒有熱。寒則加生薑半夏陳皮。熱則加桔梗玄參。</p>
<p>一腦疽對口。本方去木通加羌活　本。老弱加人參黃　。</p>
<p>一此藥作丸子用蜜。丸用木香為衣。或沉香作散作湯。水酒相半。臨時度用之。</p>
<p>一治男女疝瘕氣疾。氣塊痛。及嘔逆。水漿不下。一發便死者用之。湯丸木香湯送下。二服全愈。</p>
<p>一折傷在頭項之上。去木通枳殼加川芎陳皮。在下加紅花破故紙。大便秘加大黃。</p>
<p>一腰痛加萆　玄胡索酒煎服。</p>
<p>一香港腳痛加檳榔木香穿山甲香附子。</p>
<p>一治宿痰失道加南星半夏。如冷塊腫不消。不疼不熱。加升麻連翹。</p>
<p>一治腸癰內疽十宣散與此方相間用之。並加左纏藤。</p>
<p>一肺癰實則加大黃略通之。使毒下泄為妙。</p>
<p>一肚癰則大便膿。或臍中出者是也。加忍冬藤甘草節煮酒服妙。</p>
<p><u>沖和膏</u></p>
<p>　敷藥溫平性加減法。</p>
<p>治諸癰疽發背流注。折傷損痛。流注痰塊。瘭疽軟癤。及冷熱不明等瘡。茶酒隨症敷之。神效。</p>
<p>紅內消（五兩炒即紫荊皮）　獨活（三兩炒）　白芷（一兩）　木臘（一名望見消一名陽春雪即真石菖蒲一寸九節者佳隨症加減）　赤芍藥（二兩炒）</p>
<p>上五味共為細末。用法詳於後。凡諸瘡瘍。莫因氣血凝滯之所生焉。蓋紫荊皮系木之精。能破氣逐血消腫。獨活是土之精。能引氣活血。消風拔骨中冷毒。去肌肉中濕痹。更與木臘破石腫硬如神。</p>
<p>赤芍藥是火之精。能止痛活血。生血去風。木臘乃水之精。能消腫止痛散血。白芷是金之精。能去風生肌止痛。肌生則肉不死。血活則經絡通。肉不死則瘡不臭爛。血活則不　腫痛。故云風消血自散。</p>
<p>氣通硬可除。故人之五體則皮肉筋骨血。病則此五行之精焉。得不除乎。</p>
<p>一瘡瘍熱之極。本方中倍加紫荊皮。木臘少加。如冷之極。少加赤芍獨活能活血消風而不壞症體是妙。</p>
<p>一瘡勢熱極不用酒調。可用蔥泡湯調。乘熱敷上最妙。如熱減亦用酒。酒能生血行血也。</p>
<p>一瘡面上有小瘡。當用四味先調敷上。後將木臘調蓋在上面。覆過四圍。以截助攻之血路。凡用敷藥。必乘熱敷。使血氣得熱則亦散也。如干則以元湯濕之。使藥常潤。則有功也。</p>
<p>一凡瘡有黑暈。瘡口無血色者。是人曾用涼藥太過。宜加肉桂當歸。是喚起死血則黑暈自退也。</p>
<p>如血回只以正方用之。</p>
<p>一痛不止則加乳香沒藥酒化溶於火銚內。後將此酒調藥。熱敷痛處。</p>
<p>一流注筋不能伸者。用乳香沒藥照前酒調敷。最能舒筋止痛。</p>
<p>一凡瘡口有　肉突出者。其症有四。一曰著水。二曰著風。三曰著怒。皆有　肉突出。宜以此方少加南星末以去其風。用薑汁酒調敷周遭。如不消者必是俗人誤以手著力擠出膿核太重。又或以涼藥涼了瘡皮。以致如此。若投以熱藥則愈。</p>
<p>一凡瘡口糜爛至甚。宜枯白礬加朴硝二味等分為末散之。次用硫黃末　之外。服養榮衛加對金飲子。外敷沖和膏。</p>
<p>一凡瘡勢熱盛。不可驟用涼藥。恐涼逼住血凝返痛。令瘡敗。故宜溫冷相半。使血得中和則瘡易愈。宜此方加對停洪寶膏。用蔥湯調塗貼之效。</p>
<p>一發背癰疽流注皆賴此方。終始收功最穩。妙在通變活法。取效在於掌握。更無變壞等症。況背癰乃死生相關。輕重皆能保全。豈知此藥兼陰陽而奪造化之樞機。真神矣哉。</p>
<p>一流注者乃傷寒表未盡。余毒流入四肢。經絡澀滯之所為也。流者動也。注者止也。動者陽也。</p>
<p>氣也。止者陰也。血也。陰從陽動。血隨氣行。凝滯經絡。初則腫痛。久則成膿。決不可用涼藥。宜單方一味。獨活末酒調敷之。乘熱一路其盡處。以玉龍膏誘之。能使陰陽運動。氣血和順。則流注自然消散也。蓋獨活其性能動蕩氣血。故用之。使其不能作為骨疽也。</p>
<p>一骨癰皆流注之敗症也。因流注所作。庸醫誤用涼藥敷服。犯了針刀。使成骨癰。其骨亦腐碎而出。雖用溫暖之藥回其陽。亦必待其骨出淨方愈。若正骨腐而則成廢疾。副骨出而則安。</p>
<p>一背癰疽初生時未成。單用紫荊皮末調酒箍住。自然消散。或加白芷。名為一勝膏。</p>
<p>一又只用赤芍藥木臘紅內消酒調。名三勝膏。</p>
<p>一治久損加南星草烏二味末。與此方各半。熱酒調敷如神。</p>
<p>一瘭疽乃心火熱毒見於五心作痛者。其狀如泡疹而血赤。外形雖小而內毒熱甚。在心HT　間最難治之。如在四肢手足心者可治之。雖可治。其治必早。若遲則毒在心HT　。令腐肉。雖神仙莫救也。如在手心用洪寶丹外截其潮血。內以沖和膏留頭收功。如在足心外洪寶丹敷脛踝骨四圍一二寸闊。內以沖和膏收功。</p>
<p><u>回陽玉龍膏加減法</u></p>
<p>治諸陰發背。流注。鼓椎風。久損痛。冷痹。風濕。諸香港腳冷腫。無紅赤色。痛不可忍者。及足頑麻。婦人冷血風等症。蓋此藥性溫熱。故治諸陰。第一妙方也。</p>
<p>草烏（三兩炒）　南星（一兩炒）　軍薑（二兩煨）　香白芷　赤芍（一兩炒）　肉桂（五錢）</p>
<p>上為細末。止用熱酒調敷。用法於後。</p>
<p>夫人之血氣周流一身。周而復始。無有間斷。苟有一臟或一腑虧虛。感外邪風寒暑濕襲入經絡凝泣血脈有之。內七情交感。痰涎壅滯。令人寒熱。久而血脈不通。隧道阻塞。而有之。凡手足經絡有虛有實。有寒有熱。熱則易治。寒則難痊。故庸俗不知虛實。</p>
<p>不辨寒熱。如盲人騎瞎馬。夜行深淵。豈有不危哉。凡學醫之士。看此書。識其經絡部位。辨其寒熱虛實。察其表裡相應。則萬不失一。況此方內有軍薑肉桂足以御寒。能生血熱血。草烏南星能破惡除堅。祛風化毒。活死肌。除骨痛。消結塊。赤芍白芷能散滯血。止痛生肌。加酒行藥性。雖有十分冷症。未有不愈。正如發寒灰之　。枯木之春。大抵冷症則肌肉陰爛。不知痛癢。有知痛者多附於骨。</p>
<p>痛久則侵入骨髓。非尋常藥能及矣。惟有此方祛陰毒。回陽氣。住骨中痛如神。凡用當減當加。活法於下。</p>
<p>一治陰發背滿瘡面黑爛。四圍好肉上用洪寶丹把住中間。以此膏敷之。一夜陽氣自回。黑處皆紅。</p>
<p>當察其紅活以透即止。此藥卻以沖和膏收功。如欲作膿。又以南星草烏末加於沖和膏內用之。如陽已回。黑以紅。惟中間一點黑而不能紅者。蓋血已死也。可用朴硝明礬末。又方白丁香　砂乳香末唾調勻。點於黑紅交處一圈上。以沖和膏蓋之。次早去藥。黑死肉如割去。甘草水洗淨方可上生肌合口藥收功。如黑肉未淨。須去淨為妙。</p>
<p>一冷流注多附骨硬不消。骨寒而痛。筋縮不能伸屈。庸俗誤用刀針。又無膿血。止有屋漏清汁。</p>
<p>或有瘀黑血。宜此方敷之。如稍緩再加軍薑白芷肉桂草烏等分。熱酒調敷。則骨寒除而痛自止。氣溫和而筋自伸。肉亦軟而腫即消。亦不可無木臘。以其性能破堅腫最妙。亦不可多多亦解別藥性故也。</p>
<p>一治鶴膝風痛。日夜難禁。皆起於風寒濕虛是也。內經云。風寒濕氣合而為痹。痹者痛也。此症有三。一是兩膝相　。行步振掉。膝HT　脛骨而微腫。二是膝HT　脛骨交接處。大如鼓椎。腿股內消。皮縮裹骨。</p>
<p>三是上腿腫大。下脛冷消。蓋足膝屬肝。肝虛而受邪。凝泣血脈。有去無返。故上腿腫而愈大愈熱。</p>
<p>下脛冷而愈瘦。筋愈縮。如此久而肉亦爛。骨亦腐。又云。腐骨一出。神仙無術。如未破。肌肉未死。</p>
<p>宜以此藥酒調敷膝HT　骨上腿腫處。以住骨痛。使陽氣自回。又沖和膏塗於下脛冷處。引其血氣流通。</p>
<p>能貫經絡。再以玉龍膏敷冷熱交接處。引其無蓄積之陰。內再服追風丸。倍加乳香。以伸縮短之筋。</p>
<p>當在此方如法治之。無不愈者。如人欲出。方可用五積散加薑桂當歸川烏牛膝檳榔木瓜為丸為散。茶酒任意服之。應驗如神。</p>
<p>一凡男婦久患冷痹血風。手足頑麻。不能舉動。用絹綿袋盛此藥長縛纏痛處。初如蟲蟻行。是其功也。如痹甚再加丁皮吳茱萸沒藥大川烏等分於內。纏之外。服追風丸。表裡交攻。去病如神。</p>
<p>一風香港腳痛不可忍。服追風丸。外以此方加面用薑汁調勻熱敷效。如立止痛。加乳香沒藥末於內。酒調敷最妙。</p>
<p>一治久損骨筋疼痛。或墜壓跌仆傷折。不曾出血。久凝於內。如雞肺。附於肋間。輕如苔蘚之暈。</p>
<p>少壯時血氣衝和。不能為害。至年老力衰遇之。風寒濕氣。其痛即發。宜此藥熱酒敷。內服搜損尋痛丸。表裡治之為妙。血氣虛弱。病在胸肋腰背。謂之脫垢。不除之久變為血結勞病。豈論老少。重則一身盡痛。輕則一拳半肘。急治之。此根蒂之病。勞未成易治。已成則難治。非此一劑而能除哉。</p>
<p>一法只用南星草烏少加肉桂。能去黑爛潰膿謂之小玉龍。此法大效。</p>
<p>一治石癰用小玉龍熱酒敷。外用洪寶箍住四圍。待成膿後破之。</p>
<p>一治吹乳乳癰等。初發切不可用涼藥。恐水住其血。不能化乳。宜此方中加南星薑汁酒勻調熱敷即消。欲急消加草烏末能破惡除寒。如已成癰。則從沖和膏治之。或加草烏南星二味為妙。如破後當觀其源。若原於冷。用沖和收功。原於熱。用洪寶膏退熱生肌。須加乳香沒藥止痛。再服神效栝蔞散治之效。</p>
<p>一宿痰失道。癰腫無膿者。用此藥點頭病必旁出再作為佳。不然則元陽耗為敗症。如遇敗症。當用玉龍膏敷之。拔毒成膿。內服通順散加桔梗半夏當歸肉桂等藥。如病紅活熱驟。則用沖和膏為佳。</p>
<p>切不可用涼藥。此藥能拔毒成膿。有膿即止。亦不可過。若能用陷脈神劑尤妙。出在外科精要。</p>
<p>一治吐癰一症。十有九死。蓋人之脾胃屬坤土為陰。凡氣血潮聚。趨熱避寒。故多為內癰。不能外現。間有微影欲出。或又被冷藥所觸。及服涼藥。雖有神仙。莫能施治。可不慎乎。凡有此症。初覺腰痛。且於按之痛苦。走閃移動。則為氣塊。若推根不動。外面微有紅腫。則為內癰。急以此方拔出毒氣。作成外癰。則用沖和膏收功。內服通順散加忍冬藤。治法如前。若癰自能外現。不可用此方。只用沖和膏為妙。當頂用玉龍貼之。有頭自現自破。</p>
<p>若流膿不快。依法用洪寶丹三分。薑汁七分茶調敷之。膿出皆盡。內服十宣平補生肌。外則沖和收功。</p>
<p>此症陰多陽少。最損人。如將安之際。大服補氣血藥則易愈。若孕婦患此症。異乎平人。宜紫蘇飲安胎。勿輕用峻利。如臨產則兒與膿俱下。若尚遠則膿自大便下。若初萌則可消之宜早矣。</p>
<p><u>洪寶膏</u></p>
<p>（性涼）</p>
<p>治諸熱癰疽等毒。十分勢熱。宜用此藥相兼用之。蓋此性涼能化血。又能破腫止痛。若遇陰症陰瘡。能助痛。能凝血死肌爛肉。治金瘡止血。乃第一藥也。余外可為前二膏之佐輔爾。沖和性溫。玉龍性熱。此洪寶性寒。此三藥當參詳。臨症施治。在於活法加減也。如將之用兵。正兵奇兵伏兵之意。</p>
<p>立功取勝。非神聖工巧通變之士。豈能用之哉。</p>
<p>天花粉（三兩）　薑黃（一兩）　白芷（一兩）　赤芍藥（二兩）</p>
<p>共為細末。茶酒蜜湯乘熱塗之。</p>
<p><u>海上仙方</u></p>
<p>治內癰有膿及敗血腥腐臭穢殊甚。遂至臍腹　痛。</p>
<p>乃敗濁膿血所致。用此推之甚驗。</p>
<p>白芷（一兩）　白芍藥（半兩）　白礬（枯半兩）　單葉赤葵根（二兩）</p>
<p>上為末。用黃蠟白礬溶為丸桐子大。空心食前米飲送下三十丸。待膿出盡。宜十宣散補之效。</p>
<p><u>內癰奇方</u></p>
<p>大鯽魚（一斤一個去腸鱗淨少以枯礬入腹填腹一時辰洗去礬）</p>
<p>用豬油煎熟食之令淨。治腸癰痢疾甚效。</p>
<p><u>追風丸</u></p>
<p>治男婦血風冷痹。手足麻及流注鼓椎風。</p>
<p>牛膝（三兩酒浸炒）　當歸（酒浸焙三兩）　薏苡仁　白芷　川芎（各二兩）　羌活　防風（炒）</p>
<p>川烏（一個炮）　赤芍（炒）　天麻（炒）　草烏（炒）　肉桂　乾薑（炒各一兩）　丁香　乳香沒藥　木香　沉香（焙各五錢）　木瓜（炒二兩）</p>
<p>上末蜜丸。每服三十丸酒下。香港腳用酒糊丸酒下。或用末酒調下。忌熱酒茶半日。</p>
<p><u>搜風尋痛丸</u></p>
<p>治遍身痛久損骨痛。能接骨及金刀傷。</p>
<p>乳香　沒藥　茴香（各三錢炒）　當歸（一兩）　軍薑（五錢炒）　肉桂（三錢）　川芎（一兩）</p>
<p>丁皮（五錢）　薏苡仁（一兩如筋絕麻絕加之二兩）　獨活（五錢炒）　草烏（五錢炒黃）　骨碎補（二兩炒）　赤芍（五錢炒）　白芷（五錢炒）　石黏藤（□□□）</p>
<p>上末蜜丸彈子大。用生薑嚼溫酒吞下。或薑酒調末服亦可。如折傷先服此。一服覺遍身麻。次可用藥接骨。接骨方內再加草烏一錢半。亦酒調服量人老幼虛實加減用之。如服此藥。其人麻不解。可用大烏豆煎膿汁服之即解。如無以淡豆豉煎膿汁亦妙。如吐加薑汁。</p>
<p><u>神效復元通氣散</u></p>
<p>治一切惡瘡初覺時。連進三服如失。</p>
<p>當歸（三兩）　甘草（一兩）　熟地黃（各一兩五分）　黃　（一兩）　白芍（一兩）　天花粉（一兩）　金銀花　生地黃（五錢）</p>
<p>上咀每服五錢。水酒各一鐘煎八分溫服。分上下食前後用之。</p>
<h2>卷之十二</h2>
<p>以後各分門類。定立奇驗神方。</p>
<h3>肺癰主方</h3>
<p><u>神效桔梗東加減法</u></p>
<p>治咳而胸膈隱痛。兩　腫滿。咽乾口燥。煩悶多渴。時出濁唾腥臭。</p>
<p>桔梗（新白的炒一錢）　貝母（去心）　知母（炒）　濃桑白皮（炒）　栝蔞仁（去油）　當歸（酒浸）　百合（蒸各八分）　杏仁（去皮尖五分）　地骨皮　薏苡仁（微炒）　枳殼（麩炒）　玄參青黛　紫菀　麥門冬（去心各七分）　甘草（三分）</p>
<p>上咀作一劑水二鐘。薑皮五分。不拘時食後服。如一喘加蘇子萊服子。　一肺虛咳加人參阿膠。</p>
<p>一熱燥加黃芩梔子。　一有膿血加合歡皮茅根。　一便秘加酒煮大黃。　一心煩咳痛加朱砂紅棗。</p>
<p>一咳引咽嗌桔梗玄明粉。</p>
<p>以上藥品俱近時所用。加減取效甚捷。殊不知古方用五味粟殼葶藶冬花烏梅等收澀之劑。近時不同古法。學人究心詳之。</p>
<h3>肺痿主方</h3>
<p><u>千金煮肺湯</u></p>
<p>治肺痿咳吐膿血。或自汗嘔吐消渴。大小便不利等症。</p>
<p>豬肺（一具不用吹的洗淨血臊入藥扎定）　青黛（福建靛花末二錢）　川蜜（三錢）　紅棗（九枚）</p>
<p>共入肺內扎定下鍋煮熟。患者自己食之。二三次。以盡為度。至重不過一二具肺自安。</p>
<h3>腸癰主方</h3>
<p><u>犀角大黃湯</u></p>
<p>治腸癰腹濡內隱隱　痛。大小便秘澀。</p>
<p>犀角（真的鎊末一錢煎好後入）　大黃（酒炒一錢二分）　牡丹皮　梅仁（去皮尖）　冬瓜仁（二錢）　薏苡仁　芒硝（七分）　金銀花（三錢）　上咀一劑水二鐘空心服。</p>
<p>一又次服太乙膏或蠟礬丸及失笑散大效。</p>
<h3>乳癰主方</h3>
<p><u>神效栝蔞散</u></p>
<p>治乳癰乳疽已成者化膿為水。未成者即消。如瘰更效。</p>
<p>栝蔞仁（大的二個同搗如泥）　甘草　當歸（各五錢）　沒藥　乳香（各一錢另研）　大力子（酥炙末□分）</p>
<p>上作二劑用酒煎至二碗。分三次服之。一切癰疽發背皆治並效。如數劑未消盡。加人參黃　川芎當歸白朮等補藥即消。如神。</p>
<h3>瘰部論</h3>
<p>夫瘰　者。內經云。九漏是也。古方書所載名狀不一。難以詳述。其生也。此瘡多生於項腋之間。</p>
<p>或牽蔓於胸脅。其形如梅李之狀。其因皆是蓄怒而成。項脅是肝經所絡之處。肝膽是將軍之官。直而不屈。少有不遂。故肝經蓄怒。肝主筋。肝病則筋縮。筋縮多結於項腋。腫核連牽。故名瘰　。延結日久。亦化膿水潰爛。其瘡最難得愈。膽經多氣少血。肝經多血少氣。世人不知其根由於臟腑虛實。</p>
<p>之所因。根之所得。治之所宜。辨之吉凶。察之生死。得其法。取效立驗。不得其法。妄言擅醫。</p>
<p>專以蝕藥點之。或以針刀割之。亦如割韭相同。但取其標而未治其本。殊不知症實在根本也。若不治其本。終不能濟事。反以為害。余之素治專治其根。取效異驗。不敢自秘。</p>
<p>世人共之。是其心也。</p>
<h3>九名所屬</h3>
<p>野狼　其根在於肝。因不遂。蓄怒而得之。</p>
<p>鼠　其根在胃。因食鼠餐之物。胃受毒而播於肝。</p>
<p>膿　其根在膽。因不遂志得之。</p>
<p>螻蛄　其根在大腸。因食螻蛄及蠍虎所傷之物而誤食之所生。</p>
<p>蜂　其在脾。因食蜜物及蜂毒之物得之。</p>
<p>蜈蚣　其根在肺。因食蜈蚣所游毒物得之。</p>
<p>蠐螬　其根在心。因喜之太過得之。</p>
<p>瘰　其根在腎。因食物腎及血發得之。</p>
<p>轉脈　其根在小腸。因驚恐失枕得之。</p>
<h3>辨瘰生死法</h3>
<p>如患人二日內有赤脈上下貫至瞳人。見一脈主一歲死。一脈半主一歲半死。二脈二歲死。三脈三歲死。無赤脈者可治。或一目有。一目無。半吉凶亦可治。如不早治。亦恐一目赤脈而至二目有之。不可不察也。</p>
<h3>灸瘰法</h3>
<p>凡灸瘰　用獨蒜切片。如二銅錢濃於瘡上。以蘄艾壯灸之九壯。或如年壯。初發即愈。如有五七個者先以孫　灸之。次灸子　。次至每　。再次至祖　。已潰未潰。俱可以灸之。</p>
<h3>瘰取穴灸法</h3>
<p>將患人兩手仰置肩上。微舉後跟內踝骨尖上灸之七壯。兩邊有　。則二穴灸之。如一邊有以左灸右。右灸左。又肩　二穴。在肩骨尖上灸之。亦同前。</p>
<h3>治法</h3>
<p><u>立效散</u></p>
<p>初一發時宜服此藥。一名六一散。一名天水散。一名益原散。能抑火解毒。去赤脈。消暑祛瘰之毒。</p>
<p>桂府滑石（六兩水飛）　甘草（一兩二錢炙）</p>
<p>上末每服一二錢。用米湯調送下。一日三服。夜再一服。五七日後次服。</p>
<p><u>立應散</u></p>
<p>治瘰　必用神方。</p>
<p>花斑蝥（二十八個同糯米炒黃去米及頭足）　薑蠶（炙）　黑丑（炒頭末各四錢）</p>
<p>三味共末每服一錢。五更初用好酒調服之。待惡物從小便中出。如未盡出。次早再一服。必毒盡為妙。次用白糯米稀粥補之。後次再燈心湯調琥珀末一錢送下。以滌小便內。惡毒除根。永不再發。</p>
<p>如肚腹痛不止。惡毒不盡。用冷茶補之即止。如肚痛再不止。用防風末滾湯調送即止。不可用茶。</p>
<p><u>神秘湯</u></p>
<p>治瘰　經驗方。</p>
<p>橘皮（去白）　紫蘇　人參　桔梗　桑皮　生薑　五味子等分每服一兩。水二鐘煎服。</p>
<p><u>又方木通湯</u></p>
<p>木通　車前　豬苓　澤瀉　連翹　花粉　金銀花　栝蔞子等分每服八錢。水二鐘。加竹葉燈心煎服。忌醋豬頭肉肝腸驢馬羊肉及房事氣怒。</p>
<p><u>敗毒散</u></p>
<p>治四種瘰　。</p>
<p>人參　當歸　厚朴（薑製炒）　桔梗　白芷　肉桂　防風　黃　粉草各等每服五錢。水酒各半煎服。</p>
<p><u>膏藥方</u></p>
<p>沉香　麝香　輕粉　銀朱　荔枝肉各等分入熟魚膠搗成膏貼之。專治硬核不消不破甚效。</p>
<p><u>大龜丸</u></p>
<p>治瘰　毒久服除根甚驗大烏龜（一個重一斤多）　雄黃（五錢）　胡椒（三錢）　穿山甲（三錢）</p>
<p>將藥研末入龜頸肉以麻繩橫縛定。勿令頭出。面裹嚴外鹽泥固火　紅透。取出為末。蜜丸每五十丸酒下。</p>
<p><u>萬金丹</u></p>
<p>治多年瘰　。</p>
<p>赤礬（一兩）　牛黃（三錢）　金腳信（一兩）　乳香　沒藥　朱砂（各三錢）　黃丹（二錢）</p>
<p>為末。新鐵杓內先下牛黃。次下礬信。　至無煙。方群藥冷定為細末。用蒸餅和成線香樣截段。</p>
<p>三四分重。量瘡大小敷之。如瘡未破。以艾灸之一二壯。待破入此錠子在內。外以膏藥貼之。勿露風。</p>
<p>三四日開視之。周遭漸漸蝕開者。只用一挺。如未甚開。再一錠換之。待去淨核。須用生肌等藥上之愈。</p>
<p><u>治瘰　奇方</u></p>
<p>已破未破甚驗。</p>
<p>蛇丹果草連根葉端午日午時采來。不拘多少。陰乾。每次用四錢。真川椒三錢。二味用無灰酒二斤煎三四沸。露一夜。空心飲之三五杯。酒服不過十斤。一掃光愈。</p>
<p><u>又方抬頭草膏</u></p>
<p>治瘰　已破者。</p>
<p>用五抬頭草不拘多少。清水煮爛。去草止用汁熬成膏。去火毒貼上一個。不必再換。其核自出而愈。</p>
<p><u>單方全蠍丸</u></p>
<p>治多年瘰　。百治不痊。服此藥七日全好。</p>
<p>全蠍（三兩焙乾去勾足）</p>
<p>為末。用油核桃肉搗為丸。綠豆大。每日二服。清辰用六分。晚用七分。火酒送下。看人大小。</p>
<p>加減服之甚妙。</p>
<p><u>單方天葵草膏</u></p>
<p>治瘰　如神。</p>
<p>千年老鼠尿（即天葵草又名紫霞杯）</p>
<p>采根不拘多少洗淨。每服三錢。酒水煎服。渣再搗醋調患處敷之效。</p>
<p><u>參　散</u></p>
<p>治瘰　瘡破久不收口。內宜服十宣散等補劑。</p>
<p>人參　黃　（鹽湯潤炙）　當歸（酒浸焙）　厚朴（薑汁製炒）　桔梗　白芷（各一兩）</p>
<p>上末每三錢。熱酒調下。不飲者木香湯送下。</p>
<h3>KT瘡</h3>
<p><u>膏藥方</u></p>
<p>治內外KT　瘡。</p>
<p>當歸　白芷　黃連　白芨　白蘞　黃柏　厚朴　五倍子　雄黃　沒藥　血竭　海螵蛸　黃丹（飛各六錢）　乳香（各二錢半）　輕粉（一錢）</p>
<p>以上各五錢為末。香油熬熟。調成膏貼之。外用布包定。有膿水去之常洗。藥水內加鹽洗之效。</p>
<p><u>治濕毒KT　瘡方</u></p>
<p>紅蘿卜（一個）　真輕粉（三錢）　潮腦（一錢）</p>
<p>共搗爛填滿瘡內。外用布包定。七日開看。瘡平而愈。</p>
<p><u>治有蟲癢KT　瘡方</u></p>
<p>用活蝦蟆剝去皮乘熱貼之連換二三次。其蟲自出甚妙。</p>
<p><u>隔紙膏</u></p>
<p>治久遠KT　瘡頑瘡結毒。</p>
<p>龍骨（二錢）　血竭（五分）　輕粉（五分）　冰片（一分）　阿魏（二分）　乳香　沒藥（各一錢）　麝香（一分）　黃丹（飛一兩）　生芝麻（一合搗末）　香油（三兩）</p>
<p>先將丹油芝麻熬數沸。從下細藥。臨起方下冰片麝香攪勻。用甘草煮油紙。兩面扎孔貼之效。</p>
<p><u>治臭KT　瘡方</u></p>
<p>用牛懸蹄甲燒灰為細末。每用熟香油調擦上即生肌長肉。一方加真輕粉一錢效。如有死肉瘀血滿瘡面。先用燒酒調搽上。次日即腐去洗淨後。上用油調。如少有死肉。即少調搽之效。</p>
<h3>血風瘡部</h3>
<p><u>單方</u></p>
<p>治多年血風瘡。久治不痊者。此法除之。</p>
<p>用青菜　蘿卜英二味不拘多少作齏酸水從煎熱洗瘡。見赤肉每日洗三四次。就將菜葉貼之。亦換三四次。忌發物。</p>
<p>二七日即愈。</p>
<p><u>潮腦膏</u></p>
<p>治血風瘡一宿見效。三日全好。</p>
<p>黃連（一兩）　白芷（五錢）　輕粉（三錢）　潮腦（二錢）　川椒（三錢）</p>
<p>共為細末用熟菜子油調稠。攤在一個大碗底上。倒合將瓦高支。用艾四兩揉作十團。燒熏碗底。</p>
<p>上藥如油干。再添油拌再熏。必待艾盡。乘熱搽在患處。外用油紙草紙包之。次日即消不過三宿。神效。</p>
<p><u>又單方油垢膏</u></p>
<p>治血風瘡如神。</p>
<p>男子頭垢不拘多少。取淨再將破舊綿網巾燒灰一錢。真香油煎熟調勻。入真輕粉五分。做膏貼之。</p>
<p>七日全愈。</p>
<h3>人面瘡部</h3>
<p><u>貝母散</u></p>
<p>治活人面瘡方。</p>
<p>貝母（五錢為細末）</p>
<p>用醋調稀填入人面瘡口內令滿塞之。次日即愈。如少愈。再填不過三次全愈。</p>
<p>治死人面瘡方雖有口眼人面俱全。奈不能動。不能食物。故名死人面瘡。待人家有死人裝棺材定釘時。定一下將瘡用手指按一下。男用女按。女用男按。如按二下。問患人一聲瘡好了。患人即答應一聲好了好了。</p>
<p>待定釘聲止則止。即愈。</p>
<h3>馬刀瘡部</h3>
<p><u>柴胡連翹湯</u></p>
<p><u>治男子婦人馬刀瘡</u></p>
<p>當歸尾（一錢半酒浸）　黍黏子（二錢）　中桂（三分）　甘草（炙）　黃柏（酒浸）　生地黃（各三錢）　柴胡　黃芩（炒）　知母　連翹（以上各五錢）　瞿麥穗上銼咀每服五錢。水二鐘。煎八分。食後熱服。</p>
<p><u>柴胡消腫湯</u></p>
<p>治馬刀瘡腫盛。</p>
<p>黍黏子（炒）　黃連（各五錢）　歸尾　甘草（各一兩）　花粉　黃　（各一錢五分）　黃芩柴胡（各二錢）　連翹（三錢）　紅花（五分）　玄參（一錢）</p>
<p>上咀每服五錢。水二鐘。煎八分。食後熱服。忌酒濕面房勞氣怒。</p>
<p><u>柴胡通經湯</u></p>
<p>治小兒馬刀瘡。經久不潰。</p>
<p>連翹　柴胡　歸尾　甘草　黃芩　三棱　桔梗　鼠黏子（各二錢）　黃連（五分）　紅花（四分）</p>
<p>上銼作一服。水二鐘。煎八分。食後分二次服。</p>
<p><u>救苦化堅湯</u></p>
<p>治馬刀瘡瘰　挾癭。從耳下及身後下頸至肩上。或缺盆穴邊。皆手足少陽之經分。其瘡在頦下及頰車。乃足陽明之經分。是受心脾之邪而所生也。此二症並皆治之。加減於下。</p>
<p>黃　（一錢）　人參（一錢）　甘草（炙五錢）　漏蘆（一錢）　連翹（一錢）　牡丹皮（三分）</p>
<p>歸身　生地黃　熟地黃（各三分）　白芍藥（三錢）　肉桂（二錢）　柴胡（八錢）　羌活（一錢）</p>
<p>獨活（五分）　鼠黏子（三錢）　防風（五分）　昆布（二分）　三棱（煨二分）　廣術（三分）</p>
<p>益智（二分）　麥　（一錢）　神麯（炒二錢）　黃連（三分）　黃柏（炒三分）　厚朴（薑製炒一錢二分）　升麻（一錢）　葛根（五分）</p>
<p>上為末蒸餅丸如桐子大。每服三錢。白湯下。</p>
<p>如氣不順。加木香橘皮。</p>
<p>如瘡止是在足陽明胃經多者。去柴胡鼠黏子。</p>
<p>如專少陽多。為馬刀挾癭。去獨活漏蘆升麻葛根加瞿麥穗三分。</p>
<p>如病患素氣弱。其病勢來甚。其氣盛而不短促者。乃作氣盛論。治宜加黃芩黃連黃柏知母防己之類。視邪在上中下部分治之。</p>
<p>如大便不通。加酒製熟大黃利之。</p>
<p>如血燥大便秘。加桃仁大黃。</p>
<p>如風結秘加麻仁大黃。風澀秘加皂角仁秦艽大黃。</p>
<p>如脈澀氣燥秘者加郁李仁大黃。</p>
<p>如陰寒加熟附子乾薑水冷與之。</p>
<p>大抵用藥之法。不惟瘡瘍一說。而諸疾當量人素氣弱者。當去苦寒之藥。宜多加參　甘草之類。</p>
<p>乃瀉火而補元氣要藥也。</p>
<h3>禿瘡部</h3>
<p><u>雄黃散</u></p>
<p>治禿瘡有蟲作癢痛者如神。</p>
<p>雄黃（一錢）　水銀（一錢）　輕粉（五分）　煙膠（五錢）　枯礬（五分）</p>
<p>上為細末。用隔年臘月豬脂油調搽。或馬脂油更妙。</p>
<p><u>戌油膏</u></p>
<p>治多年治不好的禿瘡如神。</p>
<p>番木鱉子不拘多少。用油煎枯。去木鱉子加真輕粉一錢。枯礬三分。一上即愈。</p>
<h3>杖瘡部</h3>
<p><u>杖瘡膏藥方</u></p>
<p>能貼杖瘡頑瘡。</p>
<p>蔥汁（一碗）　薑汁（一碗）　密陀僧（水研飛淨四兩）　香油（八兩）　乳香　沒藥　兒茶血竭（各五錢）　麝香（少許）</p>
<p>先將油入熬鍋內。次入二汁。待熬黑色。滴水成珠。少定下細藥。冷定去火性。用油紙攤貼之。</p>
<p>止痛生肌最妙。</p>
<p><u>棒瘡膏</u></p>
<p>此膏能貼五十板子用一個。二百板子只用二個。生肌止痛如神。</p>
<p>文蛤（三斤）</p>
<p>用柳木層甑子內蒸軟晒乾。如此三蒸三晒。干為細末。用熟桐油調攤油紙上貼之妙。</p>
<p><u>杖瘡白蠟膏藥方</u></p>
<p>專貼杖瘡神效。</p>
<p>真白蠟（一兩）　豬骨髓（五個）　潮腦（三錢）</p>
<p>共入銚內熬成膏。用甘草煮油紙攤貼神效。</p>
<p><u>活血紅花湯</u></p>
<p><u>棒瘡煎藥方</u></p>
<p>紅花蘇木酒山梔。　黃柏黃芩尿桂皮。</p>
<p>芍藥川芎並白芷。　桃仁甘草及當歸。</p>
<p>乳香沒藥另研細。　更待煎完下未遲。</p>
<p>饒君就打千百下。　即求一服痛消除。</p>
<p>用酒二大鐘煎熟。次入童便一鐘。再煎數沸。次入乳香沒藥。一滾就起就服之神效。</p>
<p><u>散青膏</u></p>
<p>有人如打的腿青腫過腿面上。用三七鮮梗葉搗爛敷在青處。其瘀血即消。如神。如無三七。就是白蘿卜搗敷更妙。</p>
<p><u>鬼代丹</u></p>
<p>遇責不痛神方。</p>
<p>無名異　乳香　沒藥　地龍（去泥）　自然銅（　浸）　草烏（挖一小土坑火燒紅　醋入草烏在坑內蒸軟）　番木鱉（油扎）</p>
<p>上等分為末蜜丸彈子大。溫酒化下一丸。臨時再飲酒一二碗。甚妙。如未服藥之先。將出蛾的蠶繭子燒灰為末二錢。用好酒送下。次再用丸藥。效如服丸。藥後不遇責用牛膝甘草煎湯服之即解。如神。</p>
<h3>雜瘡部</h3>
<p><u>膠粉散</u></p>
<p>治燕窩瘡。</p>
<p>煙膠（一兩）　燕窩土（三錢）　輕粉（一錢）　枯礬（五分）</p>
<p>共末熟油調搽患處神效。</p>
<p><u>膠胡散</u></p>
<p>治羊胡子瘡。</p>
<p>煙膠（五錢）　羊胡子（一撮燒灰）　輕粉（一錢）　共末濕則干搽干則油調搽上即愈。</p>
<p><u>膠香散</u></p>
<p>治胎毒瘡。</p>
<p>輕粉（一錢）　白膠香（二錢）　大風子肉（十五個）　煙膠（二錢）</p>
<p>上末用煎雞蛋黃調搽上即癢。加枯礬五分甚效。</p>
<p><u>膠髓膏</u></p>
<p>治戀眉瘡。</p>
<p>輕粉（一錢）　川椒末（五分）　煙膠（一錢）</p>
<p>上末將豬骨髓入銚內煎熟調搽上即愈。</p>
<p><u>臘脂膏</u></p>
<p>治肺風瘡。</p>
<p>大風子肉（二十個）　木鱉子肉（二十個）　輕粉（五分）　枯礬（五分）　水銀（一錢）</p>
<p>上研末用臘月豬脂調搽面上。一夜即愈。</p>
<p><u>二黃散</u></p>
<p><u>治酒　鼻</u></p>
<p>大黃　朴硝　硫黃　輕粉　烏頭尖各等分為末。用蘿卜汁調搽上三次即愈。內服雄豬膽汁一個。每日早以好酒調汁。熱服之。不過半月全愈。</p>
<p><u>二粉散</u></p>
<p>治婦女面生粉花瘡。</p>
<p>定粉（五錢）　輕粉（五分）　枯礬（三分）　菜子油上為末用油調溶於大瓷碗底內勻開。次用蘄艾一兩。於炭火上燒煙熏於碗內粉。待艾盡為度。覆地上出火毒。逐早搽面即愈。</p>
<p><u>大風膏</u></p>
<p>治裙邊瘡。一名褲口風瘡。</p>
<p>大風（一百個）　枯礬（五分）　川椒末（一錢）　輕粉（一錢）</p>
<p>用真地瀝青調搽即愈。</p>
<h3>痔瘡部</h3>
<h4>論</h4>
<p>夫痔者滯也。蓋男女皆有之。富貴者因於酒色。貧賤者勞碌飢飽。僧道者食飽而久坐。經云因而飽食筋脈橫解腸癖為痔。痔曰腸癖是也。婦女因產難久座。或經行時因氣怒傷冷受濕。余血滲入肛邊而生。有小兒因過食濃味。或痢而久　。　或母腹中受毒。大抵痔瘡不必緣於酒色也。宜詳其原受之因而治之。自應驗矣。古書雖有五痔之分。而未嘗離於風濕燥熱四氣鬱滯。弗能通泄。氣逼大腸所作也。然二十四痔。</p>
<p>言其形狀也。五痔者牡痔牝痔脈痔腸痔血痔。乃病之源也。然未破名曰痔。已破者名曰　。　有八般氣風陰冷痔血　HT　痿腮等八症。各有治法於下。凡觀者切之秘之。</p>
<h4>治法煎藥加減方</h4>
<p><u>止痛如神湯</u></p>
<p>　即秦艽蒼朮東加減。</p>
<p>凡痔所作必由風熱乘食飽不通。氣逼大腸而生。受病者燥氣也。為病者胃濕也。四氣相合。故大腸頭結而成塊腫者。濕也。痛者火也。癢者風也。大便秘者燥也。</p>
<p>秦艽（去苗）　桃仁（去尖皮另研）　皂角子（燒存性各一錢研）　蒼朮（泔浸炒）　防風（各七分）　黃柏（酒洗五分）　當歸尾（酒洗）　澤瀉（三分）　尖檳榔（一分另研）　熟大黃（一錢）</p>
<p>上咀除三味另研。藥用水二鐘。煎至一鐘。二分。</p>
<p>入此三味。再煎至八分空心熱服。切忌生冷五辛燒酒肝腸濕面等。</p>
<p>如腫有膿加白葵花五朵去蕊心。青皮五分。木香三分。隨後入煎則膿從大便中出也如神。</p>
<p>如大便秘甚加大黃麻仁枳實。</p>
<p>如腫甚加黃柏防己澤瀉豬苓條黃芩。</p>
<p>如痛甚加羌活郁李仁。</p>
<p>如癢甚加黃　羌活防風甘草麻黃　本。</p>
<p>如血下多加地榆黃柏槐花荊芥穗白芷。</p>
<p>如小便澀數不通者。加赤茯車前燈心　蓄。</p>
<h4>丸藥方</h4>
<p><u>秦艽白朮丸</u></p>
<p>治痔痛　下膿血便秘難禁。</p>
<p>秦艽　桃仁（去皮尖）　皂角仁（燒存性）　歸尾　澤瀉　枳實（炒）　白朮（五錢）　地榆（三錢）　槐花（二錢）</p>
<p>上末蜜丸桐子大。空心椿根皮湯送下五七十丸。忌生冷辛熱之物。</p>
<p><u>臟連丸</u></p>
<p>治多年痔漏如神。</p>
<p>胡黃連　荊芥穗　地榆（各一兩）　槐花（一兩五錢）　槐樹木耳（一兩五錢）</p>
<p>上為細末用活鯽魚一尾。重十兩。去腸刺。取肉搗如泥和作團。用健豬大腸頭一尺五寸。番過去油洗淨。裝前藥扎定煮熟。空心食之。至重不過二次。服之效如神。如年久日遠。不然以藥末晒乾為末。蜜丸桐子大。每服一錢。空心酒下。或白湯下。</p>
<p><u>二根湯（洗藥方）</u></p>
<p>用韭菜根山楂根煎湯熏洗為妙。</p>
<p><u>又洗痔方</u></p>
<p>用無花果葉煎湯熏洗止痛甚妙。</p>
<p><u>又方</u></p>
<p>用野蒲葡桃葉甘草煎湯洗之最妙。</p>
<p><u>貼痔乳香膏藥方</u></p>
<p>專貼痔漏如神。</p>
<p>茱萸　白芨　白蘞　黃連　黃柏　當歸（各二錢）　黃丹（二錢）　乳香（一錢）　輕粉（三分）</p>
<p>冰片上香油四兩。用柳枝煎枯入藥煎枯濾淨。再數沸。入黃丹次乳香輕粉攪勻。次入冰片少許。用瓷罐收貯。用薄油紙甘草煮之揉攘攤貼。先洗次貼。生肌長肉。止痛甚妙。</p>
<p><u>枯痔藥方</u></p>
<p>去痔根最妙。</p>
<p>明礬（四兩）　信（一錢半）　朱砂（一錢）</p>
<p>先將礬入杓內　滾。次入信末攪勻。待礬枯為度。去火毒。片時分作三處。次入朱砂末輕粉共再研極細。瓷罐收貯。如用時以唾津調塗痔上枯之。自然痔枯根去盡。方用生肌藥貼之。內服解毒補養湯劑治之神妙。</p>
<p><u>護痔藥方</u></p>
<p>此藥護痔外好肉。</p>
<p>白芨　大黃　黃柏　苦參寒水石　綠豆粉各等分為細末熟調塗好肉上妙。</p>
<p><u>黃蠟拈</u></p>
<p>痔漏內去肉管子藥方。</p>
<p>輕粉（八錢）　砂（五錢）　松香（六錢）　黃蠟（六錢）　銅綠（三錢）　苦參末（五分）</p>
<p>先溶蠟松香。次入細藥攪勻。冷定取出。手捻如線香條子。亦看　眼子大小深淺。先用荸薺苗探之。</p>
<p>深即入深拈子。淺則淺拈子。裝細合宜。一日一換。待內管子去淨。自然管淺肉平。次上生肌等藥為妙。</p>
<p><u>補漏藥方</u></p>
<p>專治痔漏生肌收。</p>
<p>川烏（一兩炮）　活鯽魚（一尾重五六兩黃泥固臍火　存性為末聽用）　白芨末（一兩）　福建青黛末（二錢）　官粉（一兩上下用陳皂角裹定火內　黃色去皂角不用）</p>
<p>共為細末瓷罐收之。隨漏搽之。即痂甚妙。</p>
<h4>內痔治法</h4>
<p><u>喚腸散</u></p>
<p>專治內痔在肛門裡腸頭上。外面全然不見。痛苦不禁。雖服藥。其痔未得搽藥。焉能得愈。縱千金不得其傳妙法。怎生得見內痔耶。或登廁出血。或略少見。不得搽藥。必用此藥喚出大腸來。以蔥湯洗淨上藥。世之罕方。</p>
<p>磁石（活的能吸鐵砂一兩研）　枯礬（五分）　干白薑（三分炮另研）　草烏尖（五分生用）</p>
<p>上為細末。卻用蔥涎或薑汁調塗肛上。少時。肛門自內脫出。當看痔瘡上下洗淨拭乾。看方上用前護肉藥貼畢。次上枯痔藥。如法三上。凡洗用新筆藥水洗之。如此三五七日。痔根下脫淨。即用長肉生肌膏藥貼之。待瘡好。用貼頂升腸散收入其腸。再服槐角丸解毒。如痔脫不淨不快者。再加斑蝥巴豆一個。或每半個末於內一次即落淨。不可再上。宜皂角湯洗之。</p>
<p><u>宣腸散</u></p>
<p>治內外大便結澀令痔痛甚。</p>
<p>巴豆（去油一錢）　大黃（炮）　朴硝　枳殼　陳皮（各一兩）</p>
<p>上等分。每服二錢。水一盞煎七分。加酒少許服之。以利為度妙。</p>
<p><u>導水散</u></p>
<p>滑石　木通　澤瀉　車前　朴硝　大黃　通草　燈心上咀水二鐘。煎八分。空心服即通。</p>
<p><u>貼頂升腸散</u></p>
<p>內痔瘡已好。此藥將腸子收入如神。</p>
<p>萆麻（三四粒）　麝香（三分）</p>
<p>同搗如膏。將頭頂心發去一錢大塊。將此藥貼之。少頃其腸即收入。如緩。再用醋一口噴患人面上。其腸即入。</p>
<p><u>洗腸藥方</u></p>
<p>如欲收腸。先以五倍子一兩煎水一碗。少入白礬末洗之。方用升腸藥其腸收入。再不復下。脫肛用之亦妙。</p>
<p><u>秦艽補　湯</u></p>
<p>秘傳痔　煎藥神方。</p>
<p>當歸　川芎　白芍　生地　黃連　黃芩　山楂　連翹　秦艽　地榆　雷丸　枳殼　槐角　白芷棕根　升麻各等分。水三碗煎二碗。空心服之。如肥人加條黃芩三分。</p>
<p><u>槐角丸</u></p>
<p>治痔　下血。</p>
<p>槐肉（二兩）　當歸　防風　枳殼（炒）　黃芩（各一兩酒浸炒）　地榆（五錢）</p>
<p>上末酒糊丸桐子大。每服五六十丸。空心酒或白湯送下效。</p>
<p><u>槐耳散</u></p>
<p>治腸痔下血如神。</p>
<p>槐樹上木耳采不拘多少。曝乾為末。空心米湯調二錢送下效。酒亦可。</p>
<p><u>獨羊飯（單方）</u></p>
<p>治腸痔下血如神。</p>
<p>用鮮羊蹄根葉一斤煮爛食之立止。</p>
<p><u>槐萼散</u></p>
<p>治腸風痔　下血有驗。</p>
<p>槐萼（炒）　生地黃（酒拌蒸）　青皮　白朮　荊芥（各六分）　川芎（四分）　升麻　當歸身（酒浸各一錢）</p>
<p>上末每服三錢。空心米飲送下。煎服亦妙。</p>
<p><u>文蛤散</u></p>
<p>文蛤　玄胡索　明礬枯（各一錢）</p>
<p>如痔瘡口內水多。以此入瘡口少許即干。如無水止貼乳香甚妙。</p>
<h3>惡瘡部</h3>
<p><u>醋灰膏</u></p>
<p>治雄雌狐刺瘡。</p>
<p>其瘡論在前圖。</p>
<p>用甘草湯洗淨將炭灰米醋調稀入瘡口滿。頻換。待刺去生肌藥效。</p>
<p><u>治水流麻根方</u></p>
<p>其論在圖。治法亦在圖。外多服補腎氣丸藥。忌房事發物。宜用補　頑瘡藥治之。其方在痔　部最效。</p>
<p><u>肥黏瘡方</u></p>
<p>用黃花燒灰入輕粉少許。干搽上立效。</p>
<p><u>千日瘡方</u></p>
<p>論治俱在圖。</p>
<p>用蜘蛛絲采來纏於根下。不數日自落妙。</p>
<p><u>水沉膏</u></p>
<p>治時毒暑癤方。</p>
<p>白芨不拘多少。</p>
<p>上細末用水調沉底去水。將藥敷在瘡周遭。紙蓋。如干。再水潤之。內服方在圖神效。</p>
<p><u>藥線方</u></p>
<p>治齒踞如神。</p>
<p>用藥線系根一二日自落。如未落。以刀去之。以銀燒熱烙之。其血即止。最妙。</p>
<p><u>頑癬方</u></p>
<p>治白殼瘡。即頑癬。</p>
<p>用羊蹄根枯白礬搗汁。入米醋少許調搽之。一二次效。</p>
<p><u>汗　方</u></p>
<p>治汗　如神。</p>
<p>用蜜陀僧細末三錢。白砒一錢。枯礬五分。硫黃十二分。羊蹄跟汁對半調搽一次即黑。二次即愈。</p>
<p><u>丁香散</u></p>
<p>治鼻　神方。</p>
<p>苦丁香（七個）　枯礬（五分）　輕粉（五分）</p>
<p>將　肉針破。用此藥末點搽即愈。</p>
<p><u>鼻　鼻痔方</u></p>
<p>雄黃　枯礬（各五分）　苦丁香（三錢鮮的取汁）</p>
<p>上末調稀搽在患處妙。一方加輕粉細辛犬膽調。</p>
<p><u>嵌指甲方</u></p>
<p>其治方俱在圖後。</p>
<p><u>生肌散</u></p>
<p>輕粉　乳香　沒藥（各一錢）　黃丹（二錢微炒）　赤石脂（五錢）　寒水石（三錢　）</p>
<p>上末濕則干搽。干則油調最妙。</p>
<p><u>鵝掌風方</u></p>
<p>朴硝（三錢末）　桐油（調勻）</p>
<p>塗入患處火烘之。不二次。妙。</p>
<p><u>疥瘡方</u></p>
<p>多年治不妙。一家數口。俱害此瘡。磨的瘦弱亦不搽藥。止此藥一二服甚妙。</p>
<p>硫黃（精明的一兩細末）</p>
<p>用米糕搗為丸桐子大。共三兩重。上體疥多食後荊芥湯送下五六十丸。下體多食前下。一人要服硫一兩。如人多照數加之。</p>
<p><u>坐板瘡拈子</u></p>
<p>用舊青布一條如二指闊。以雄黃末一錢油調入布內為拈子。燈上點著吹滅。以火頭熱。觸於瘡頭癢處。不過二次即愈。</p>
<p><u>坐板瘡方</u></p>
<p>用磚一塊燒熱。硫黃末一錢。鋪於磚上以好醋沃之。以布一方墊之。令坐於瘡上烙之更妙。</p>
<h3>癘風部</h3>
<p><u>治大麻風神方</u></p>
<p>此方是驢山白鹿洞至人傳。專治大風眉毛脫落。手足拳攣。皮肉潰爛。唇翻眼綻。口歪身麻。肉不痛癢。面生紅紫　。並治如神。凡修合時。須選良辰。忌婦女雞犬孝產之人見之。甚驗。</p>
<p>大風子油（淨四兩）　明天麻（四兩酒浸）　川防風（去蘆四兩）　漢防己（四兩）　大何首烏（四兩忌鐵）　好苦參（淨四兩）　川當歸（淨六兩酒浸）　赤芍藥（六兩）　白菊花（四兩）　香白芷（四兩酒浸）　大川芎（二兩）　獨活（二兩）　山梔仁（二兩炒）　連翹（淨二兩）　白蘇（二兩）</p>
<p>蘇薄荷（二兩）　金頭蜈蚣（炙去頭足二兩）　全蠍（三兩洗去鹽足）　薑蠶（炙去足六兩）　蟬蛻（去足六兩）　穿山甲（二兩燒）　蘄蛇（八兩酒浸焙）　狗脊（四兩去毛浸酒）</p>
<p>共二十四味為末。酒糊丸桐子大。每服七八十丸。空心好酒送下。臨臥再一服。忌氣怒。房事。</p>
<p>油膩煎炒。雞魚蝦蟹。芋頭山藥。糟魚肉。鵝。生冷。春酸物。冬月冷物。又冬月冷。亦不可烘火。</p>
<p>止宜綿暖淨室坐定。保守身命。節飲食。斷望想。如服藥時宜仰臥。令藥力遍行有功。如不守禁忌。</p>
<p>徒勞心力。不知此藥有大功效。止宜食烏鴨鯽魚牛肉。俱淡食。</p>
<p><u>秘傳漆黃蟾酥丹</u></p>
<p>鮮螃蟹（四斤）　真生漆（一斤）　真蟾酥（二兩）　真雄黃（二兩）</p>
<p>上先將瓷壇裝蟹。次入漆。封口。埋在土內二七日足。方取開看。二物俱化成水。去滓淨將水入鍋熳熳火煮干。焙為細末。方入雄黃蟾酥二味末攪勻。瓷罐收之。每日空心臨臥各一服。好酒送下一二錢。不過一月。其疾全好除根。妙不盡言。治大風如手取之妙。況所費亦不多。莫輕忽。勿妄傳非人。秘之慎也。</p>
<p><u>大風瘡洗方</u></p>
<p>苦參　玄參　紫參　荊芥　沙參　陳皮　厚朴　黃荊子　麻黃（各一兩）　防風　白芷　蔓荊威靈仙（各二兩）　桃柳槐枝（各四兩）</p>
<p>上水一斗同煎至八升洗之。</p>
<p><u>又單方（洗藥）</u></p>
<p>用蒼耳草煎湯。少加朴硝浴之更妙。</p>
<p><u>搽大風癩藥方</u></p>
<p>用大楓子肉四兩燒灰存性。研為細末。入輕粉等分。真麻油煎熟搽瘡上極妙。如瘡濕干滲之最妙。</p>
<p><u>生眉毛藥方</u></p>
<p>皂角針（焙乾）　新鹿角（燒存性）</p>
<p>上等分為細末。用薑汁調塗。一日搽一二次。不數日眉即生矣。先服藥將用此方可。</p>
<p><u>除大風疾根灸法</u></p>
<p>如服藥畢。疾已愈。灸之則永遠不復發。令出淨風毒之氣甚妙。於足大拇指筋骨縫間。以手指節約半寸長處艾灸三壯效。</p>
<p><u>治喉閉乳蛾方</u></p>
<p>冰片（一分）　雄黃（一錢）　山豆根（一錢）　兒茶（一錢）　青硼（五分）　枯礬（五分）</p>
<p>共為細末吹之如神。</p>
<p><u>治喉閉神針方</u></p>
<p>如死在須臾。藥力不能救者。即以喉針針之。出盡惡毒紫血。頃刻即生。經云。治火如救火。信不誣矣。次宜吹點及服瀉火藥為妙。</p>
<p><u>治蛇窠瘡方</u></p>
<p>用蜈蚣不拘多少。入真香油內瓷瓶收貯搽之。不二次即愈。亦治諸惡瘡。</p>
<p><u>治蜘蛛瘡方</u></p>
<p>先用苧麻絲搓瘡上。令水出。次以雄黃枯礬等分末干搽之妙。</p>
<p><u>治陽濕痰破瘡方</u></p>
<p>如流注成塊。及日久破爛。多人治不知是陰是陽。不分寒熱。故多不效。紅腫處熱痛脈滑數是也。</p>
<p>半夏　黃芩　蒼朮　黃柏　牛膝　羌活　獨活　木瓜　木通　枳實　杜仲　防己　白茯　秦艽大力子如上體者加桔梗川芎蔞仁食後服。在下者食前服。用水二鐘。薑一片。煎八分服。</p>
<p><u>治陰濕痰方</u></p>
<p>乃骨痛肉不痛。其痛處水冷夜甚。不紅是也。</p>
<p>人參　風藤　角針　蒺藜　川芎　花粉　半夏（各一錢油炒）　白朮　檳榔（各二錢）　附子（一錢）　土茯苓（四兩）</p>
<p>用大罐子盛水三鐘。薑三片。煎至一大碗熱服。忌牛肉生冷茶房事。最效。破加黃　人參當歸熟地黃金銀花效。</p>
<h3>楊梅瘡部</h3>
<p><u>二連湯</u></p>
<p>治楊梅瘡如神。不傳非人。秘之秘之。</p>
<p>土茯苓（二兩）　胡黃連（一錢）　川黃連（一錢）　當歸（一錢）　川芎（一錢）</p>
<p>上水酒共三鐘。入健豬胰子一個。煎一鐘。瘡在上食後。在下食前溫服。</p>
<p><u>治楊梅結毒輕粉包瘤神方</u></p>
<p>防風　荊芥穗　天花粉　苦參（各一兩）　何首烏（二兩忌鐵）　真綠豆粉（一合）　糯米粉（一合）　肥皂子肉（四兩炒香）</p>
<p>上為細末。每服三錢。加土茯苓一斤。雄豬油四兩。水六碗。煎至三碗。分三服。一日服之。不十劑見效。</p>
<p><u>風藤散</u></p>
<p>治結毒方。</p>
<p>人參　當歸　赤芍　角刺　木瓜　木通　甘草　白芷　生地　皂子　花粉　金銀花　白蘚皮　薏苡仁　青風藤（各等分）</p>
<p>每劑五錢加巴焦根四兩土茯苓四兩水四碗煎至三碗一日三次服之重者只三劑而愈如神不俱新舊更妙。</p>
<p><u>楊梅癬梅毒梅疹神方</u></p>
<p>防風　荊芥　當歸（酒洗）　羌活（炒）　角刺　白芨　白蘞　白芷　生地　熟地　川芎（各七分）　土茯苓（二兩）</p>
<p>共作一劑。水二鐘。煎八分。在上食後。在下食前服。五劑除根。忌房事氣怒五辛魚羊發物。</p>
<p><u>消風散</u></p>
<p>治楊梅癬疹及翻花瘡如神。</p>
<p>人參　薑蠶（炒）　甘草　荊芥穗　陳皮　厚朴（制）　茯苓　蟬蛻　防風　川芎　羌活　藿香（各五錢）</p>
<p>上末每三錢。加土茯苓四兩。水三碗。煎至二碗。分上下體食前後服。</p>
<p><u>治陰楊梅瘡方</u></p>
<p>當歸（酒洗）　赤芍　川芎　淮生地　熟地　防風　荊芥　金銀花　羌活　角針　黃芩　薑蠶（各三錢）　土茯苓（四兩）</p>
<p>上為末每服五錢。外加土茯苓水煎服。七劑愈。</p>
<p><u>楊梅痘子瘡方</u></p>
<p>大黃　蟬蛻　川芎　當歸　穿山甲（各三錢炙）</p>
<p>老酒煎服取汗一身後浴洗妙。</p>
<p><u>梅瘡洗浴方</u></p>
<p>防風　荊芥　五加皮　槐條　朴硝　蛇床子（各一兩）</p>
<p>上水一鍋。煎湯避風處浴之畢。即更衣。勿舊服。不二次愈。</p>
<p><u>點楊梅瘡方</u></p>
<p>白砒（一兩）　豬精肉（一兩）　紅棗肉（五錢）</p>
<p>將三味搗如泥。外用黃泥固火　紅取出。為細末。</p>
<p>用鵝膽汁調搽上。如神效。</p>
<p><u>又不疼點藥方</u></p>
<p>真輕粉　杏仁皮　松花（各一錢）　冰片（一分）</p>
<p>共末鵝膽汁調搽即愈。</p>
<p><u>治楊梅疳瘡方</u></p>
<p>真輕粉（三分）　冰片（二分）　兒茶（五分）</p>
<p>在口鼻用川椒湯漱洗淨搽之。在下用五根湯洗熏畢搽之。如神。</p>
<p><u>五根湯</u></p>
<p>蔥根　韭根　槐根　地骨皮　土茯苓各一兩煎水先熏後洗畢。點前藥效。</p>
<p><u>治楊梅圈子瘡方</u></p>
<p>活鱉（一個）</p>
<p>煮熟去腸穢。淨以川椒膾食盡。以煮鱉水洗之。三五日斷根。甚效。</p>
<p><u>粉霜方</u></p>
<p>皂礬（一兩）　明礬（一兩二錢五分）　汞（一兩）　鹽（一兩二錢半）　火硝（一兩二錢五分）</p>
<p>共末入陽成罐。內打火三炷香。先文後武。取出冷定。取出聽用。點梅瘡半個即好半個如神。</p>
<p><u>齒窟瘡方</u></p>
<p>用生肌散將舊綿花托一二分入窟內。過夜即愈。或搗飯內塞之亦妙。生肌散方在前。</p>
<p><u>玉粉散</u></p>
<p>治胎　皮瘡。</p>
<p>滑石（桂府粉包一兩水飛過）　甘草　冰片（二分）</p>
<p>共為細末摻之瘡上即愈。</p>
<p><u>治風熱瘡方</u></p>
<p>連翹　花粉　防風　荊芥　生地　黃連　黃芩　黃柏　前胡　梔子　蟬蛻　薑蠶　苦參　蔓荊白芷　薄荷　甘草上水二鐘。煎八分服。</p>
<p><u>黃水瘡方</u></p>
<p>蘄艾（一兩燒灰存性）</p>
<p>為末癢加枯礬五分摻上即愈。</p>
<p><u>黃花散</u></p>
<p>黃花朵（不拘多少）</p>
<p>燒灰存性搽上即愈。</p>
<p><u>傷手瘡方</u></p>
<p>真蜂蜜（一兩）　真黃蠟（一兩）　豬脂（五錢另熬成油）</p>
<p>用水一碗入杓子內共煮化。油蠟俱在上。以好綿紙拖之。看瘡大小剪貼之。KT　瘡頑瘡俱妙。</p>
<p><u>制柏散</u></p>
<p>治濕毒方。</p>
<p>濃黃柏（一斤）</p>
<p>入廁坑內浸一百日取出。入黃土內埋三日取出。晒乾為末。如瘡有水干搽之。干以蜜調搽之。</p>
<p>胎窬瘡用補中益氣湯。</p>
<p>生肌散搽瘡口上二方。俱見前。</p>
<p>十丹方俱見圖。</p>
<p>五瘤方俱見圖。</p>
<p>口鼻喉疳。走馬牙疳。月蝕疳。旋指疳。袖口疳等方。俱見圖。</p>
<p><u>陰戶疳方</u></p>
<p>豬肝（一具切長條）　雄黃（一錢）　枯礬（五分）　輕粉（一錢）</p>
<p>將肝條水滾一二滾取出蘸藥均入陰戶內。一二時再換。不三五次蟲出即愈。</p>
<p><u>鱉甲丸</u></p>
<p>治無辜疳傷瘡毒起。四肢瘦弱。腦後項邊有核如彈丸。按之轉動。軟而不疼。其間有蟲如粉。不速破則蟲隨熱氣流散。淫食臟腑。以致肢體癰瘡。便利膿血。壯熱羸瘦。頭露骨高是也。當刺破用膏藥貼之。內服此丸即愈。</p>
<p>鱉甲（醋煮令黃去肋）　黃連　枳殼　夜明砂（淨微炒各二兩）　訶子（生一枚熟一枚）　全蠍（一雄微炙）　麝香（一字）</p>
<p>上末蜜丸如綠豆大。每服五丸。米飲下。一日三服。</p>
<h3>雜傷瘡部</h3>
<p>（凡三十四）</p>
<p><u>金刀傷瘡方</u></p>
<p>用小豬鍬出來子腸一條。陳鍛石二兩。苧葉一兩。龍骨少三錢。共搗爛作餅。干為末搽之。即止血合口。</p>
<p><u>火燒瘡方</u></p>
<p>黃蜀葵花（不拘多少去蒂心淨不用手取恐手汗污之）</p>
<p>真香油浸之令勻。雖數年更效。逐年油少添油。花少添花。搽上立止痛生肌。水涼自在。任他結痂。不可揭動。就火藥燒壞。亦可救之。內服瀉火毒藥效。亦治湯燙如神。</p>
<p>二金散方見含腮瘡圖。</p>
<p>皴裂瘡方見圖。</p>
<p>漆瘡方見圖。</p>
<p><u>凍瘡方</u></p>
<p>不拘手足面上凍腫成瘡。癢痛不一者如神。用麻雀腦子塗之立瘥。豬腦子加熱酒洗更妙。</p>
<p><u>箭旋瘡方</u></p>
<p>治毒箭及箭旋入骨。不能得出。即不可拔動。恐傷其骨。用巴豆一粒炮去殼勿焦。活蜣螂一個同研爛塗在傷處。須臾痛定微癢。忍之。待其癢極難忍之時。方可拔動取出旋立瘥。</p>
<h3>打跌傷瘡部</h3>
<p><u>定痛散</u></p>
<p>治跌打損傷骨折疼痛等症。</p>
<p>麻黃（燒存性一兩）　頭發灰（一兩）　乳香（五錢）</p>
<p>上為細末每服三錢溫酒調服立瘥。</p>
<p><u>紫金蠲痛散</u></p>
<p>能整骨續筋生肌止痛活血。及內傷肝肺。令人嘔血。心腹脹痛。或左右身痛。四肢無力。難以動作並治如神。</p>
<p>紫荊皮　降真香　骨碎補　琥珀　當歸頭身　桃仁（以上各二兩）　蒲黃（一兩）　無名異（三兩燒紅酒淬七次）　大黃（一兩煨）　牛膝（三兩酒浸一夜）　朴硝（半兩）</p>
<p>上件為末加蘇木煎酒調。日進三服即效。</p>
<p><u>止血散</u></p>
<p>凡瘡口破裂血出不止。用此　之血即止。</p>
<p>血竭（二錢半）　沒藥（五錢）　龍骨（五花者二錢俱另研）　燈心（一把）　蘇木（二錢）</p>
<p>桔梗（五分）　降真香（四錢同蘇木另研）　當歸（三錢）　雞（一只連毛屎煮醋熟爛搗作團外以黃泥固濟以文武　干為末入後藥）　紅花（要馬頭者二錢焙為末）</p>
<p>共為細末。每用干　瘡口。以止其血。候干。少將熟油塗瘡上效。</p>
<p><u>麥斗金</u></p>
<p>治跌打損傷神方。能接骨有聲。</p>
<p>土鱉（一個）　生半夏（一個）　巴豆（一個去油）　朱砂（明亮）　滴乳香　沒藥（各二錢）</p>
<p>共為末每服一字好熱酒送下。覺渾身麻木。即是功也。不過二服即痊。傷在上食後服。在下食前服。亦不可多。恐反接骨蘆節了。如神效。不可傳非人。秘之秘之。</p>
<p><u>治破傷風方</u></p>
<p>用糞堆內蠐螬蟲一個。將手捏住脊背。待他口中吐出水來。塗在瘡口上。即覺渾身麻木。汗出即活。此神方也。</p>
<p>日晒瘡方見圖。</p>
<p>虎噬瘡方見圖。</p>
<p><u>玉真散</u></p>
<p>治破傷風強直。</p>
<p>南星　防風（各等）</p>
<p>上為細末醋調敷瘡口上。再童便調二三錢酒服。</p>
<p><u>治瘋犬咬傷方</u></p>
<p>斑蝥（炒去足翅同米熟）　雄黃（各等分）</p>
<p>上細末溫酒調送下神效。去紅發。說在圖。</p>
<p><u>治鼠咬瘡方</u></p>
<p>用貓尿洗之瘥。取貓尿以生薑搗爛一撮。敷在貓鼻子上即出。</p>
<p>馬汗蜇瘡方在圖。</p>
<p>火　瘡方在圖。</p>
<p>炙火瘡方在圖。</p>
<p>汗淅瘡方在圖。</p>
<p>獨骨瘡方在圖。</p>
<p>傷水瘡方在圖。</p>
<p><u>毒蛇咬傷瘡方</u></p>
<p>馬蘭頭（不拘多少）</p>
<p>搗敷患處。亦解酒疽鼻衄金瘡血痢。</p>
<p><u>蜈蚣蜂蠍等蟲咬傷方</u></p>
<p>治二十七般毒蟲咬瘡腫痛不已者。</p>
<p>麝香　雄黃　乳香　砂（各二錢）　土蜂窩　露蜂窩（各一個燒灰存性）</p>
<p>上為末米醋糊為錠子。如遇此等傷瘡磨塗之即瘥。</p>
<p>如有惡瘡疼痛不已。以塗之更妙。</p>
<p>蟲蠷　咬瘡方在圖。</p>
<p>人咬瘡方在圖。</p>
<p>中砒毒方在圖。</p>
<p>水漬瘡方在圖。</p>
<p>腳丫爛瘡方在圖。</p>
<p>HT　HT　瘡方在圖。</p>
<p>擔肩方在圖。</p>
<p>眼丹方在圖。</p>
<p>偷針眼方在圖。</p>
<p><u>骨　喉方</u></p>
<p>咳咯不出。漸漸成瘡。飲食不下。以象牙磨水服之。即出愈。</p>
<p><u>天蛇瘡毒方</u></p>
<p>此瘡似癩非癩。即草間黃花蜘蛛螫傷。仍被露所答。乃成此瘡。</p>
<p>秦皮（一斤）</p>
<p>煮汁一斗旋旋飲盡立瘥。</p>
<p><u>中蜘蛛毒咬瘡方</u></p>
<p>其人一身生蛛絲。不知人事者。以艾煙熏之。以羊乳灌之立瘥。</p>
<p><u>誤吞麥芒　喉瘡方</u></p>
<p>先以亂絲或絨扎於如意骨上。如無則以柳條刮淨。以火逼灣如意樣。以絲絨扎上入喉中。上下攪之。</p>
<p>待取出芒為妙。後以青黛吹之效。</p>
<p><u>誤吞針鉤有線者</u></p>
<p>即以汗衫竹節子穿在線上。推的竹節只抵鉤子根。以線硬倒往裡推。其鉤即出為妙。</p>
<p>痘科保元東加減前後十二日秘法俱見前論。</p>
<h3>群方加減法</h3>
<p><u>四君子湯</u></p>
<p>治痘已齊氣虛無他症。</p>
<p>人參（五錢）　白朮（一兩）　茯苓（一兩）　甘草（三錢）</p>
<p>上咀大人每服四五錢。小兒二三錢。水煎加大棗煎熱服。</p>
<p>小水不利加燈心。　自汗本方去茯苓加黃　。　渴加麥門冬五味。</p>
<p><u>四物湯</u></p>
<p>治痘已齊。有血虛症用之。</p>
<p>當歸　川芎（各一兩）　白芍藥（一兩五錢）　熟地黃（一兩五錢）</p>
<p>上咀大人每服一兩。水煎服。小兒三五錢煎服。</p>
<p>如漿已成。色淡加黃　人乳好酒。</p>
<p>黑靨倒陷加黃　。</p>
<p>如男婦陰虛加知母黃柏肉蓯蓉俱酒製。</p>
<p>如痘色紫乃血熱。加生地黃紅花。</p>
<p><u>八珍湯</u></p>
<p>治痘已齊。兼氣血俱虛症用之。</p>
<p>人參　砂仁　茯苓　甘草　當歸　川芎　白芷　熟地黃上咀水煎服。</p>
<p><u>生脈散</u></p>
<p>治起壯時發渴咳嗽脈虛。</p>
<p>人參　麥門冬　北五味上咀水煎服。</p>
<p><u>犀角地黃湯</u></p>
<p>治痘發時大便秘蓄血。</p>
<p>犀牛屑（一兩）　生地黃（八錢）　芍藥　牡丹皮（一兩）</p>
<p>上咀水煎服。　熱甚發狂加黃芩。</p>
<p><u>橘皮湯</u></p>
<p>治吐瀉並作。</p>
<p>人參　陳皮上咀薑一片水煎服。</p>
<p>如瀉甚加豬苓澤瀉赤茯苓。</p>
<p>如吐甚加藿香木香白朮山楂。</p>
<p><u>甘桔湯</u></p>
<p>治咽痛。</p>
<p>桔梗（八分）　甘草（錢半）　射干　牛蒡子（炒各六分）　防風　玄參上咀水煎服。</p>
<p>如熱甚加黃芩知母荊芥穗。</p>
<p><u>紫草木通湯</u></p>
<p>治痘已成血泡不食乃發不愈。</p>
<p>紫草　木通　茯苓　白朮　甘草上水煎加糯米一撮服。</p>
<p><u>預治痘疹神方</u></p>
<p>治初覺發熱。服此則不出。見標者即稀。稀者即無。陷者服之即起神驗。</p>
<p>川芎　當歸　升麻　甘草（各六兩）</p>
<p>用東流水三碗煮取碗半。如煎三次取之一半。好朱砂四兩。絹袋盛懸罐內煎服。水煮干為度。焙乾為末聽用。</p>
<p><u>引經散</u></p>
<p>用元米二三合。濕紙包緊。外用黃泥裹固。入火　紅。冷取出米黃色者揀用為末。凡小兒一歲以砂末一分。米末一分。以蜜酒各一匙入沸湯調服。如三五歲加之。此藥後三日內不可服他藥。</p>
<p><u>紫草膏</u></p>
<p>能退　起痘。又五六日大熱甚。燈心湯下妙。</p>
<p>麻黃　紫草（各一兩）　全蠍（酒洗焙）　薑蠶（酒洗）　粉草　紅花　白附子（各五錢）</p>
<p>上為末蜜丸龍眼大。熱甚燈心湯下。冷症酒下。</p>
<p><u>靈砂丹</u></p>
<p>治黑靨及蛇皮灰白淡色豆。</p>
<p>辰砂（二兩荔枝殼水煮絹袋盛懸罐內煮干為末聽用）　天靈蓋（三錢以麝香三分入內同搗細蜜和黃泥固火　紅冷定為末）</p>
<p>老絲瓜（近蒂半節火　為末二兩於臘八日以兔血丸）</p>
<p>如桐子大。每服一丸。酒下大神效。此仙方。秘之。</p>
<p><u>托毒湯</u></p>
<p>治痘後毒未盡。復作腫毒疼。</p>
<p>白芷　薄荷　防風　赤芍藥　蒺藜　荊芥　角刺　金銀花　連翹　生地　甘草上同水煎服之。</p>
<p>如瘡痛加芩連梔子。</p>
<p>如癢加參　白朮蟬蛻。</p>
<p>如在頭面加川芎升麻桔梗。</p>
<p>如在足加香附木瓜。</p>
<p>如在臀加紫胡黃柏。</p>
<p>如在膝加牛膝木通。</p>
<p><u>四聖丹</u></p>
<p>能點疔毒。即刻回生。內再服保元東加芎桂。</p>
<p>牛黃（一錢二分）　朱砂（八分）　珍珠（二分）</p>
<p>兒茶（一錢七分）</p>
<p>上末用口嚼胭脂點之均點上妙。</p>
<p><u>珍珠膏</u></p>
<p>治痘不發。必有痘疔黑而大臭者。宜急點之。</p>
<p>珍珠（五顆）　菀豆（四十九粒）　發（一錢燒灰）</p>
<p>共末以胭脂汁調成膏撥疔點之。黑疔即變紅活矣。</p>
<p><u>豬尾膏</u></p>
<p>治血不活透。心經悶亂者。</p>
<p>辰砂（末一兩）</p>
<p>每服看大人或一錢或五分。豬尾尖血調成膏。用紫草湯送下。</p>
<p><u>南金散</u></p>
<p>治毒盛血滯不活癢　者。</p>
<p>紫背荷葉（霜後貼水紫色的）　白薑蠶（直的炒各八分）</p>
<p>上為末每服一錢。芫荽酒下或米飲下即起。</p>
<p><u>二神散</u></p>
<p>治痘正發時遇大寒。變為陰症。</p>
<p>丁香（九粒）　乾薑（一錢炒）</p>
<p>上末每五分白湯下。少刻痘紅活為正。</p>
<p><u>活血散</u></p>
<p>治痘根窠紅散而不附者。</p>
<p>白芍藥（一兩）　茜根（五錢酒洗）</p>
<p>上咀水酒煎服之。血即附根上為正。</p>
<p><u>安胎如聖散</u></p>
<p>治孕婦忽出痘瘡。恐熱傷胎。加減白朮　當歸　黃芩　砂仁　枳殼（炒）　陳皮　甘草　大腹皮　黑豆上咀各等分每服五錢水煎服。</p>
<p>如初發熱加升麻葛根連翹。</p>
<p>如出盛加黃連大力子連翹。</p>
<p>如不起加人參川芎炒桂。</p>
<p>如渴甚加天花粉麥門冬。</p>
<p>如腹中滯氣加青皮木香。</p>
<p><u>穀精散</u></p>
<p>治痘入目。恐傷睛。宜此服之。</p>
<p>穀精草　海蛤粉各等分為末。每服二錢。入豬肉內。以箬葉包水煮熟。先熏目。次服之。十日共十服痊。</p>
<p><u>痘疳方</u></p>
<p>治牙齦蝕斷或落齒骨。</p>
<p>枯礬（七分）　麝香（一分）　白氈灰（二分）　人中白（一分　）</p>
<p>共末吹搽患處效。</p>
<p><u>雄黃散</u></p>
<p>治小兒痘牙疳。</p>
<p>雄黃（一錢）　銅綠（二錢）</p>
<p>共末摻之效。</p>
<p><u>前胡枳殼湯</u></p>
<p>治痘疹痰實壯熱。胸中煩悶。大便秘。臥則喘急效。</p>
<p>前胡　枳殼　赤茯　大黃（煨）　甘草（炙各五錢）</p>
<p>上末每服三錢。水一盞煎服。如人大或壯實則加至一兩。如脈微人弱。或泄則不宜之。</p>
<p><u>滅痕膏</u></p>
<p>治痘已愈。毒未全散。其痂已落盡。止有瘢痕尚在。或黑或凸凹。或抓成瘡者。用好真白蜜一兩塗之。數次極驗。</p>
<p><u>又方</u></p>
<p>用羊骨髓入輕粉一錢研勻塗之愈。</p>
<p><u>又方</u></p>
<p>韶粉一兩輕粉一錢豬脂煉調均膏之效。</p>
<p><u>綿繭散</u></p>
<p>治痘後瘡水不干。在肢體名痘疳用蠶繭出蛾的不拘多少。每個入生礬末令滿。炭火　過為末摻上即干。甚效。</p>
<p><u>參黃散</u></p>
<p>治水痘子甚效。</p>
<p>人參（一分）　甘草（炙半分）　滑石（半分）　知母（一分）　麻黃（一分）　地骨皮（半分炒）　大黃（一分煨）　羌活（一分）　甜葶藶（一分）</p>
<p>用水一盞入小麥七粒煎服。人大亦加之。</p>
<p><u>搔壞痘方</u></p>
<p>多年屋上腐草。不拘多少為末極細。鋪在席子上。兒臥之。令不占。或摻上亦妙。</p>
<p><u>快痘丹</u></p>
<p>鮮蝦蟆（一個酥炙為末聽用）　麻黃（三兩熬成膏子）</p>
<p>共丸綠豆大。每服三五七丸。看兒大小。用白酒送下甚效。</p>
<p><u>治痘風眼方</u></p>
<p>黃丹　雄黃　輕粉（各三分）　射（二厘）</p>
<p>上末瓷罐收之。右目吹入左耳內。左目吹入右耳內效。</p>
<p><u>一匕金</u></p>
<p>治已灌漿。但紅紫未收。</p>
<p>鬱金（一枚）　甘草（一錢）</p>
<p>上水一鐘。煮干去草。取鬱金切片。日干為末。用蠟一分研勻。入豬血調和。焙乾為末。每服一錢。用薄荷湯下。不過一時。毒從手足或身上出者即得生也。如有膿血大便出即死也。</p>
<p><u>豆蔻散</u></p>
<p>治脾虛嘔吐不止及泄不止。</p>
<p>肉果（煨）　龍骨（　）　木香　砂仁（各五錢）　山楂　五倍子　赤石脂　藿香　白朮（各三錢）　人參（一錢）</p>
<p>上末每服一錢或五分看兒大小。吐用薑湯。泄用米湯下。一方有枯礬二錢。</p>
<p><u>又方</u></p>
<p>治痘瘡五七日後。癢極動手抓破。即用仙鶴翎在瘡上掃一二次即不癢。亦不抓。此一秘法也甚妙。</p>
