<header><h1>慎疾芻言</h1></header>
<dl class="元資料" data-type="book">
<div><dt>作者</dt><dd>徐大椿</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1767">公元1767年</data></dd></div>
</dl>
<h2>序</h2>
<p>醫能衛人之生，故天下不可無醫；其或促人之命，則天下又不如無醫。盧、扁已往，方術多岐，家自為說，人自為書，雖各有所偏，未能一致，而苟能深明乎一家之說，則自有變通補救之方，要無貽害於斯世。近者以此為業，所學未精，遽思謀利，庸醫遍天下，而生人之壽考者寡矣！仆閱世已深，見夫男子癆瘵、婦人胎產、小兒驚痘，三者之死，尤可慘傷。當其危急時，醫者云舍此無療病之方，病家云不服亦同歸於死也，卒服其方而仍不免於死。仆嘗疑之，而未敢以臆斷也。今見洄溪徐君所著《慎疾芻言》一書，始知向所見療病之法，各犯是書所忌，徐君已言之詳而戒之切矣。夫以不明醫理之人，處骨肉死生之際，藥亦悔，不藥亦悔，其心誠有難安者，得是書以示指南，庶幾不迷所往乎！余恨讀是書之晚，固愿世之業醫者、療病者皆得早讀是書。乃郵歸故裡，刊版以廣流傳榕城。刊是書者為徐君曾孫　，並書以貽之。</p>
<p><u>長沙彭蘊章撰</u></p>
<h2>引</h2>
<p>余弱冠時，家多疾病，先世所藏醫書頗多，因隨時翻閱，不過欲稍識方藥而已。循習漸久，乃上追《靈》、《素》根源，下沿漢、唐支派。如是者十余年，乃注《難經》；又十余年，而注《本草》；又十余年，而作《醫學源流論》；又五年而著《傷寒類方》。五十年中，批閱之書約千余卷，泛覽之書約萬余卷，每過幾時，必悔從前疏漏，蓋學以年進也。乃世之醫者，全廢古書，隨心自造，以致人多枉死，目擊心傷。</p>
<p>數年前曾作《芻言》一冊，欲以醒世而鮮克聽從。竊思生長聖朝，毫無益於此世，而半生攻苦，雖有著述幾種，皆統談醫學，無驚心動魄之語，足令人豁然開悟。因復摳心挖骨，即《芻言》原本，更加痛快剖悉，實因悲憫填胸不能自已，愿覽者諒其苦心，虛懷體察，以之治人則敬慎可以寡過，以之治己則明哲可以保身。冀遇信從之有人，庶綿斯道於一線。</p>
<p><u>乾隆丁亥秋七月巧日　洄溪徐靈胎識</u></p>
<p><u>道光五年歲次乙酉夏五月既望曾孫　校刊</u></p>
<h2>補劑</h2>
<p>學問之道，必由淺入深，從未有淺近不知而專求怪僻者。況醫法一誤，必至傷生害命，尤不可不慎也！夫所謂淺近者，如傷風則防風、荊芥，感寒則蘇葉、蔥頭，咳嗽則蘇子、杏仁，傷食則山楂、神麯，傷暑則香薷、廣藿，瘧疾則柴胡湯加減，痢疾則黃芩湯加減，婦人則四物湯加減，小兒則異功散加減。此皆歷聖相傳之定法，千古不能易也。至於危險疑難之症，則非此等藥所能愈，必博考群方，深明經絡，實指此病何名，古人以何方主治而隨症加減。今則以古聖之法為卑鄙不足道，又不能指出病名，惟以陽虛、陰虛、肝氣、腎弱等套語概之，專用溫補，以致外邪入裡。馴至不救；間有稍馴謹之人，起病時仍用切近之藥一二劑，未即有效，即轉而改為溫補。不思病之中人，愈必有漸，不可因無速效而即換方也。況所服之方，或未盡善，不思即於前方損益萬妥，而遽求變法，又不肯先用輕淡之劑探測病情，專取性雄力濃之品，大反前轍，必至害不旋踵。總由胸無定見之故。當思人之有病，不外風、寒、暑、濕、燥、火為外因，喜、怒、憂、思、悲、驚、恐為內因，此十三因，試問何因是當補者？！大凡人非老死即病死，其無病而虛死者，千不得一，況病去則虛者亦生，病留則實者亦死。若果元氣欲脫，雖浸其身於參、附之中，亦何所用？乃謬舉《內經》曰：「邪之所湊，其氣必虛。」氣虛固當補矣，所湊之邪不當去耶？蓋邪氣補住則永不復出，重則即死，輕則遷延變病；或有幸而愈者，乃病輕而元氣漸復，非藥之功也。</p>
<p>余少時見問疾者，聞醫家已用補藥則相慶病者已愈，今則病勢方張，正群然議進參、附、熟地，豈不可駭！其始也，醫者先以虛脫嚇人，而後以補藥媚人。浙江則六味、八味湯加人參、麥冬等藥；江南則理中湯加附、桂、熟地、鹿茸、臍帶等藥。於是人人習聞，以為我等不怕病死，只怕虛死。所以補藥而死，猶恨補之不早、補之不重，並自恨服人參無力，以致不救。醫者虛脫之言，真有先見之明，毫無疑悔。若服他藥而死，則親戚朋友，群詬病家之重財不重命，死者亦目不能瞑。醫者之罪，竟不勝誅矣！所以病患向醫者述病，必自謂極虛，而傍人代為述病，亦共指為極虛，惟恐醫者稍用攻削之劑，以致不起，或有稍識病之醫，即欲對症擬方，迫於此等危言，亦戰戰兢兢，擇至補之藥，以順其意，既可取容，更可免謗，勢使然也。此風之起，不過三十余年，今則更甚，不知何時而可挽回也？！</p>
<h2>用藥</h2>
<p>醫道起於神農之著《本草》，以一藥治一病，但一病有數症（統名為病，如瘧、痢之類；分名為症，如瘧而嘔吐、頭疼，痢而寒熱、脹痛之類）。後之聖人取藥之對症者，合幾味而成方，故治病必先有藥而後有方。方成之後，再審其配合之法，與古何方相似，則云以某方加減。並非醫者先有一六味、八味、理中等湯橫於胸中，而硬派人服之也。</p>
<p>至其辨症用藥之法，如有人風、寒、痰、食合而成病，必審其風居幾分？寒居幾分？痰、食居幾分？而藥則隨其邪之多寡以為增減，或一方不能兼治，則先治其最急者，所以無一味虛設之藥，無一分不斟酌之分兩也。況醫之為道，全在自考，如服我之藥而病情不減，或反增重，則必深自痛懲，廣求必效之方而後已，則學問自能日進；若不論何病，總以幾味溫補投之，愈則以為己功，死則以為病本不治，毫無轉計，此則誤盡天下而終身不自知也，又其所名陳方者，用柴胡一味即名柴胡湯，用大黃一味即名承氣湯，於古人制方之義全然不知，隨其口之所指而已。其醫案，則襲幾句陰陽虛實、五行生克籠統套語，以為用溫補之地，而文人學士又最易欺，見有陰陽、五行等說，即以為有本之學，深信不疑。其人亦自詡為得醫學之捷徑，將千古聖人窮思極想，所制對症之方數千首，皆不必問而已稱名醫矣！</p>
<p>夫醫者欲道之行，相習成風，猶無足怪。獨是閑居涉獵之人，亦俱蹈襲此等謬說，與醫者同聲合氣，親知家有病，即往幫助醫者，用危言拿住本家，使之不得不用溫補貴重之藥，以明關切，因而致死。死則以為用此等藥原未嘗云病者服之必效，不過如此門第之家，於理不該服價賤之藥耳！若已生疾，又有人亦以此法斃之，真屬可憫！數十年前亦有涉獵醫學人，頗能辨別藥性，博覽經方，今乃相率而入於魔道，其始起於趙養葵、張景岳輩，全不知古聖制方之義，私心自用，著書成家，彼亦不知流弊至於此極也。我知天心仁愛，其轉移必不久矣。</p>
<h2>中風</h2>
<p>中風，北人多屬寒，宜散寒，南人多屬火、宜清火，而祛風、消痰則南北盡同。古方自仲景候氏黑散、風引湯而外，則續命湯為主方。續命湯共有數首，不外驅風，其隨症加減，皆有精義。從未有純用溫熱滋補，不放風寒痰火一毫外出，以致重病必死，輕病則使之不死不生。惟日服人參以破其家而戀其命，最可傷也！又有稍變其說者用地黃飲子，以為得陰陽兼補之法，亦大謬也。此方乃治少陰氣厥不至，舌喑足痿，名曰痱症，乃純虛無邪，有似中風，與風寒痰火之中風正相反，劉河間之書可考也。乃以此方治有邪之中風，其害相等。余每年見中風之症，不下數十人，遵古治法，十愈八九，服溫補藥者，百無一愈，未甚服補藥者，尚可挽回；其不能全愈，或真不治者，不過十之一二耳！奈何一患此症，遂甘心永為廢人，旁人亦視為必不起之症，醫者亦惟令多服重價之藥，使之直得一死而可無遺憾，豈不怪哉！愿天下之中風者，斷勿以可愈之身，自投於必死之地也。</p>
<h2>咳嗽</h2>
<p>咳嗽由於風寒入肺，肺為嬌臟，一味誤投，即能受害。若用熟地、麥冬、萸肉、五味等滋膩酸斂之品補住外邪，必至咯血、失音、喉癬、肛癰、喘急、寒熱，近者半年，遠者三年，無有不死。蓋其服此等藥之日，即其絕命之日也。間有見幾而停藥者，或能多延歲月，我見以千計。故今之吐血而成癆者，大半皆由咳嗽而誤服補藥所致也。或云五味子乃仲景治嗽必用之藥，不知古方之用五味必合乾薑，一散一收，以治寒嗽之症，非治風火之嗽也，況加以熟地、麥冬，則受禍尤烈。又嗽藥中多用桔梗，桔梗升提，甘桔湯中用之以載甘草上行，治少陰之喉痛，與治嗽宜清降之法非宜，服者往往令人氣逆痰升不得著枕。凡用藥當深知其性而屢試屢驗，方可對病施治，無容冒昧也。</p>
<h2>吐血</h2>
<p>五十年前，吐血者絕少，今則年多一年。其症本皆可愈，而多不治者，藥誤之也。蓋血症因傷風咳嗽而起者，十之七八，因虛勞傷損而起者，十之一二。乃醫者概以熟地、人參、麥冬、五味等滋補酸斂之藥，將風火痰瘀俱收拾肺管，令其咳嗽不止，元氣震動，津液化痰，不死何待？凡風寒補住，必成癆病，無人不知，今竟無一人知之矣。蓋吐血而嗽者，當清肺降氣，略進補陰之品；其不嗽者，乃喉中之絡破，故血從絡出，並不必服藥，其甚者，只取補絡之藥以填損處，自可除根，即不服藥，亦能自愈，歷試不爽。乃病者進以不服藥之說，則雖或面從，背後必非笑隨之，進以熟地、麥冬、人參、五味等藥，則甘心就死。前者死矣，後者復然，豈非命乎！</p>
<h2>中暑</h2>
<p>暑字之名義，與寒字相反，乃天行熱毒之病也。其症脈微少氣，煩渴燥熱，甚則手足反冷。若其人汗出不止，用人參白虎湯主之，如或身熱、腹痛、脹滿、嘔吐、瀉痢、厥冷，則名熱霍亂，人參斷不可用，當用香薷飲、藿香正氣散主之，皆治暑之正法也。若《傷寒論》中又有寒霍亂一症，此乃寒邪入陰，用理中湯主之。此治寒霍亂之法也，與暑熱之霍亂，絕不相干。乃後之醫書，於熱霍亂門中附入寒霍亂一方，名大順散，用肉桂、乾薑，即理中湯之變法。其方下亦注明治夏月傷冷凍飲料之症，其說甚明。乃昏昧之人，耳聞有此方，竟以之治暑熱之霍亂，以示奇異。其死也，宛轉呼號，唇焦舌裂，七竅見血；熱歸於內，則手足反冷，而脈微欲絕，所謂熱深厥亦深也（手足冷謂之厥，厥者逆也）。乃病者、醫者不知此理，以為服熱藥而更冷，其為陰症無疑。故目睹其慘死而無所悔，以後復治他人，熱藥更加重矣。與治暑熱痢者之用四逆湯，其害正同。舉世盡以為必當如此，雖言不信也。</p>
<h2>痢疾</h2>
<p>痢有數種，誤治則生死立判。凡脾氣不實，飲食不化，晝夜無度，無紅白積者，此為脾瀉，其方不一，當隨症施治。若傷寒傳入陰經，下痢清穀，脈微厥冷，此為純陰之危症，非參、附、乾薑不治，患此者絕少。</p>
<p>若夫夏秋之月，暑邪入腑，膿血無度，此名滯下；全屬暑熱之毒，蒸腸爛胃，與陰寒之痢，判若水火。仲景以黃芩湯為主而因症加減，此千古不易之法。今乃以暑毒熱痢，俱用附、桂、薑、茸，始則目赤、舌焦，號痛欲絕，其色或變如豆汁，或如敗肝，熱深厥深，手足逆冷，不知其為熱厥，反信為真寒，益加桂、附，以至胃爛腸裂，哀號宛轉，如受炮烙之刑而死。我見甚多，惟有對之流涕。更有用六味湯及參、　等補藥者，於久痢虛乏之人，或有幸中，若邪氣未清，非成痼疾，即至不救。蓋治痢之方甚多，博考古書，自能窮其變化，何得以不入痢症之藥，每投必誤也。</p>
<h2>陰症</h2>
<p>六淫之邪，不但暑、燥、火固屬乎熱，即風、寒、濕亦變為熱。經云：「熱病者，皆傷寒之類也。」又云：「人之傷於寒也，則為病熱。」故外感總以散熱為治；惟直中陰經之傷寒，必現脈緊便青，畏寒倦臥，不喜飲，舌無胎，種種寒象，當用溫散，此千不得一者也。何近日之醫，舉天下寒熱雜感，病勢稍重者，皆指為陰症，即用參、附、薑、桂，服後而熱更甚，並不疑為熱藥之故，即用熟地、麥冬等，以為補陰配陽之法，竟忘其為外感矣！要知陰症無發熱之理，間有寒極似陽而外現熱症者，其內症必現種種寒象，然亦當驅散其寒，如麻黃附子細辛湯之類，亦並無補寒之法也。乃以溫熱之邪，硬派作陰症而全用溫補，真千古之奇聞也。又有以夢泄、房勞之後而得外感者為陰症，更屬笑談。夫邪果入陰經，即無房勞等事，亦屬陰症；如邪不入陰經，則自有本症治法，與陰何干？若云外邪乘虛入腎，則尤當急驅腎中之邪，豈可留邪爍腎？又有用熱藥之後，其熱勢益增，忽轉而改用大寒，乃是以藥試病矣。要知一病有一病之方，豈無對病和平之藥，乃始投之火即轉而投之水何也？然其死也，病家不咎熱藥之誤，而咎寒藥之誤何也？蓋人之死也必漸冷，服熱藥而反冷，則信以為非藥之故；若服寒藥而冷，則明明以藥使之冷矣。故熱藥之殺人不覺，而寒藥之殺人顯然，所以醫者寧可用補用熱，雖死而猶可免咎也。</p>
<h2>老人</h2>
<p>能長年者，必有獨盛之處。陽獨盛者，當補其陰；陰獨盛者，當益其陽。然陰盛者十之一二，陽盛者十之八九。而陽之太盛者，不獨當補陰，並宜清火以保其陰。故老人無不頭熱、耳聾、面赤、便燥，現種種陽症。乃醫者為老人立方，不論有病無病，總以補陽為主，熱盛生風，必生類中等病，是召疾也。若偶有風寒痰濕等因，尤當急逐其邪，蓋老年氣血不甚流利，豈堪補住其邪，以與氣血為難。故治老人之有外感者，總與壯年一例，或實見其有虛弱之處，則用輕淡之品而量為補托。若無病而調養，則當審其陰陽之偏勝而損益使平。蓋千年之木，往往自焚；陰盡火炎，萬物盡然也。故治老人者，斷勿用辛熱之藥，竭其陰氣，助其亢陽，使之面紅、目赤、氣塞、痰壅、脈洪、膚燥，當耆艾之年，而加以焚如之慘也。</p>
<h2>婦人</h2>
<p>婦人懷孕，胞中一點真陽，日吸母血以養，故陽日旺而陰日衰。凡半產滑胎，皆火盛陰衰，不能全其形體故也。近人有胎前宜涼之說，頗為近理。至於產後則陰血盡脫，孤陽獨立，臟腑如焚，經脈如沸，故仲景專以養血消瘀為主，而石膏、竹茹亦不禁用，余每遵之，無不立效。乃近人造為產後宜溫之邪說，以薑、桂為主藥。夫果陰陽俱脫，脈遲畏寒，血水淋漓，面青舌白，薑、桂亦有用時；乃血干火燥，純現熱症，亦用熱藥，則經枯脈絕，頃刻而斃，我見以百計。更有惡露未淨，身熱，氣塞，煩躁，不寐，心煩，腹痛，皆由敗血為患，亦用薑、桂，助其火而堅其瘀，重則即死，輕則變成蓐勞。世之所謂女科名家，一例如此。蓋胎產乃天地生育之機，絕少死症，其死皆藥誤也。造為此等邪說者，九死不足以蔽其辜。又胎產藥中，不用生地而用熟地，亦全失用藥之理，不可不思也。</p>
<h2>小兒</h2>
<p>小兒之疾，熱與痰二端而已。蓋純陽之體，日抱懷中，衣被加暖，又褪褓之類，皆用火烘，內外俱熱；熱則生風，風火相煽，乳食不歇則必生痰；痰得火煉則堅如膠漆，而乳仍不斷，則新舊之痰日積，必至脹悶啼哭，又強之食乳，以止其啼，從此胸高氣塞，目瞪手搐，即指為驚風，其實非驚，乃飽脹欲死耳！此時告其父母，令減衣停乳，則必大慍，謂虛羸若此，反令其凍餒、無不唾罵；醫者亦不明此理，非用剛燥之藥，即用參、　滋補，至痰結氣凝之後，則無可救療。余見極多，教之適其寒溫，停其乳食，以清米飲養其胃氣，稍用消痰順氣之藥調之。能聽從者，十愈八九；其有不明此理，反目為狂言者，百無一生。</p>
<p>至於痘科，尤屬怪誕，痘為小兒之所必不免，非惡疾也。當天氣溫和之時，死者絕少，若大寒大暑，其元氣虛而稠密者，間有不治。其始欲透發，其後欲漿滿，皆賴精血為之。乃未發以前即用大黃、石膏數兩，以遏其生發之機而敗其元氣，既而即用蚯蚓數十，蠐螬數個，及一切大寒大熱之品，如蜈蚣、蠍子、雞頭、豬尾之類，又將地丁、銀花等粗　之品數兩，煎汁而灌之，增其毒而倒其胃，此等惡物，即令醫者自服之，亦必胃絕腸裂，況孩提乎！凡用此等藥者，必預決此兒死於何日，十不失一，其父母翻盛稱其眼力不爽，孰知其即死於彼所用之藥也。或有元氣充實，幸而不死者，遂以為非此等大藥不能挽回，而人人傳布，奉為神方矣！更可異者，強壯之年，醫者黃芩、麥芽，俱不敢用，以為克伐；孩提之子則石膏、大黃，成兩成斤，毫罔顧慮，至此而極，無奈呼天搶地以告人，而人不信也。</p>
<p>又有造為螳螂子之說者，割開頤內，取出血痰。</p>
<p>此法起於明末海濱妖婦騙財之法，惟蘇、松二處盛行，割死者甚眾。蓋小兒有痰火者，吃乳數日，必有一二頤腫，厭食，名曰妒乳。用薄荷、朴硝為末，搽一二次即愈，即不治亦愈。至所割出之痰塊，或大或小，人因信之。不知頤內空虛之處，人人有此，割則復生，並非病也。不然，何以普天下之小兒，從未有患螳螂子而死者，獨蘇、松有此病耶？此亦一害，故並及之。</p>
<h2>外科</h2>
<p>治外科，始起欲其不大，將成欲其不痛。大則傷肌爛膚，腐骨穿筋，難以收口；痛則衝心犯胃，耗血亡津，惡症叢生矣。故始起之時最重圍藥，束其根盤，截其余毒，則頂自高而膿易成，繼則護心托毒治其內，化腐提膿治其外，自然轉危為安。乃始則不能束毒使小，又無護心定痛之方，惟外用五灰、三品，內服桂、附熱毒等藥，必至腐腸爛肉，更輕用刀針。</p>
<p>割肉斷筋，以致呼號瞀亂，神散魂飛，宛轉求死，仁人之所不忍見也。況癰疽用刀太早，最難生肌收口。</p>
<p>凡毒藥刀針，只宜施於頑肉老皮，余者自有提頭呼膿之法，至於惡肉，自有消腐化水之方，故能使患者絕無痛苦，收功速而精神易復。乃此等良法，一切不問。</p>
<p>豈傳授之不真，抑或別有他念也。更可駭者，瘡瘍之症最重忌口，一切鮮毒，毫不可犯，無書不載。乃近人反令病者專服毒物，以為以毒攻毒。夫解毒尚恐無效，豈可反增其毒，種種謬誤，不可殫述。間有患外症之人，若用安穩治法，全不以為妙，用毒藥刀針者，血肉淋漓，痛死復活，反以為手段高強，佩服深摯，而遍處荐引。因知疾痛生死，皆有定數，非人所能自主，而醫者與病患以苦楚，亦病者有以召之也。</p>
<h2>治法</h2>
<p>凡病只服煎藥而愈者，惟外感之症為然，其余諸症，則必然丸、散、膏、丹、針、灸、砭、鐮，浸洗、熨、　，蒸、提、按摩等法，因病施治。乃今之醫者，既乏資本，又惜功夫，古方不考，手法無傳，寫一通治煎方，其技已畢。而病家不辭遠涉，不惜重聘，亦只求得一煎方，已大滿其愿。古昔聖人窮思極想，制造治病諸法，全不一問，如此而欲愈大症痼疾，無是理也。所以今人患輕淺之病，猶有服煎藥而愈者，若久病大症，不過遷延歲月，必無愈理也。故為醫者，必廣求治法，以應病者之求。至常用之藥，一時不能即合者，亦當預為修制，以待急用，所謂工欲善其事，必先利其器，奈何欲施救人之術，而全無救人之具也。</p>
<h2>制劑</h2>
<p>古時權量甚輕：古一兩，今二錢零；古一升，今二合，古一劑，今之三服。又古之醫者，皆自采鮮藥，如生地、半夏之類，其重比干者數倍，故古方雖重，其實無過今之一兩左右者。惟《千金》、《外台》間有重劑，此乃治強實大症，亦不輕用也。若宋、元以來，每總制一劑，方下必注云：每服或三錢，或五錢。</p>
<p>亦無過一兩外者，此煎劑之法也。末藥則用一錢匕；丸藥則如桐子大者十丸，加至二三十丸。試將古方細細考之，有如今日之二三兩至七八兩之煎劑乎？皆由醫者不明古制，以為權量與今無異，又自疑為太重，為之說曰：今人氣薄，當略為減輕。不知已重於古方數倍矣，所以藥價日貴而受害愈速也。又有方中熟地用三四兩，余藥只用一二錢者，亦從無此輕重懸殊之法。要知藥氣入胃，不過借此調和氣血，非藥入口即變為氣血，所以不在多也。又有病患粒米不入，反用膩隔酸苦腥臭之藥，大碗濃煎灌之，即使中病，尚難運化，況與相反之藥，填塞胃中，即不藥死，亦必灌死，小兒尤甚。又不論人之貧富，人參總為不祧之品。人情無不貪生，必竭蹶措處，孰知反以此而喪其身，其貧者送終無具，妻子飄零，是殺其身而並破其家也。我少時見前輩老醫，必審貧富而後用藥，尤見居心長濃，況是時參價猶賤於今日二十倍，尚如此謹慎，即此等存心，今人已不逮昔人遠矣！</p>
<h2>煎藥服藥法</h2>
<p>煎藥之法各殊：有先煎主藥一味，後入余藥者，有先煎眾味，後煎一味者，有用一味煎湯以煎藥者；有先分煎，後並煎者；有宜多煎者（補藥皆然）；有宜少煎者（散藥皆然）；有宜水少者；有不煎而泡漬者；有煎而露一宿者；有宜用猛火者；有宜用緩火者；各有妙義，不可移易。今則不論何藥，惟用猛火多煎，將芳香之氣散盡，僅存濃濃之質。如煎燒酒者，將糟久煮，則酒氣全無矣，豈能和營達衛乎？須將古人所定煎法，細細推究，而各當其宜，則取效尤捷。</p>
<p>其服藥亦有法。古方一劑，必分三服，一日服三次；並有日服三次，夜服三次者。蓋藥味入口，即行於經絡，驅邪養正，性過即已，豈容間斷？今人則每日服一次，病久藥暫，此一暴十寒之道也。又有寒熱不得其宜，早暮不合其時，或與飲食相雜，或服藥時即勞動冒風，不惟無益，反能有害。至於傷寒及外症痘症，病勢一日屢變，今早用一劑，明晚更用一劑，中間間隔兩晝一夜，經絡已傳，病勢益增矣。又發散之劑，必暖覆令汗出，使邪從汗散；若不使出汗，則外邪豈能內消？此皆淺易之理，醫家病家，皆所宜知也。又惡毒之藥，不宜輕用。昔神農遍嘗諸藥而成本草，故能深知其性。今之醫者，於不常用之藥，亦宜細辨其氣味，方不至於誤用。若耳聞有此藥，並未一嘗，又不細審古人用法，而輒以大劑灌之，病者服之苦楚萬狀，並有因此而死者，而已亦茫然不知其何故；若能每味親嘗，斷不敢冒昧試人矣。此亦不可不知也。</p>
<h2>延醫</h2>
<p>疾病為生死相關，一或有誤，追悔無及。故延醫治病，乃以性命相托也，何可不加意慎擇！如無的確可信之人，寧可不服藥以待命。乃世人獨忽於此，惟以耳為目，不考其實學何如？治效何若？聞人稱說，即延請施治，服藥無效，毫不轉念，甚而日重一日，惟咎已病之難痊，不咎醫者之貽誤。孰知藥果中病，即不能速愈，必無不見效之理，不但服後奏功，當服時已有可征者。如熱病服涼藥，寒病服熱藥之類，聞其氣已馨香可愛，入於口即和順安適；如不中病之藥，即聞其氣已厭惡，入於腹必懊　。《內經》云臨病人問所便，此真訣也。今人則信任一人，即至死不悔，其故莫解，想必冥冥之中，有定數也。又有與此相反者，偶聽人言，即求一試，藥未盡劑，又易一醫，或一日而請數人，各自立說，茫無主張。此時即有高明之人，豈能違眾力爭，以遭謗忌，亦惟隨人唯諾而已。要知病之傳變，各有定期，方之更換，各有次第，藥石亂投，終歸不治，二者事異而害同。惟能不務虛名，專求實效，審察精詳，見機明決，庶幾不以性命為兒戲矣！</p>
<h2>秘方</h2>
<p>古聖設立方藥，專以治病，凡中病而效者，即為秘方，並無別有奇藥也。若無病而服藥，久則必有偏勝之害，或有氣血衰弱，借藥滋補，亦必擇和平純粹之品，審體氣之所偏而稍為資助。如世所為秘方奇朮、大熱大補之劑，乃昔人所造以欺人者，無不傷生。更有一等怪方，乃富貴人賄醫所造者。余曾遇一貴公子，向余求長生方，余應之曰：公試覓一長生之人示我，我乃能造長生之方；若長生者無一人，則天下無長生之方矣。其人有慍色。是時適有老醫在其家，因復向老醫求得之。乃傲余曰：長生方某先生已與我矣，公何獨吝也？余視其方，乃聚天下血肉溫補之藥，故難其制法，使耳目一新者。余私謂老醫曰：先生之長生方，從何傳授？老醫曰：子無見哂，子非入世行道之人耳！凡富貴之人，何求不得，惟懼不能長生縱欲耳，故每遇名醫，必求此方，若長生方不知。何以得行其道？我非有意欺彼，其如欲應酬於世，自不得不然耳！後果得濃酬。余因知天下所傳秘方，皆此類也。此即文成五利之余術，萬勿以為真可以長生也，速死則有之耳！識此，以醒世之求長生而覓秘方者。</p>
<h2>詭誕</h2>
<p>醫藥為人命所關，較他事尤宜敬慎。今乃眩奇立異，竟視為兒戲矣！其創始之人，不過欲駭愚人之耳目，繼而互相效尤，竟以為行道之捷徑，而病家則以為名醫異人之處在此，將古人精思妙法，反全然不考，其弊何所底止？今略舉數端於下。</p>
<p>人中黃　腸胃熱毒，偶有用八丸散者。今入煎藥，則是以糞汁灌人而倒其胃矣。</p>
<p>人中白　飛淨入末藥，若煎服，是以溺汁灌人矣。</p>
<p>鹿茸、麋茸俱入丸藥，外症、痘症偶入煎藥。又古方以治血寒久痢。今人以治熱毒時痢，腐腸而死。</p>
<p>河車、臍帶補腎丸藥偶用。今入煎劑，腥穢不堪。又臍帶必用數條，肆中以羊腸、龜腸代之。</p>
<p>蚌水　大寒傷胃。前人有用一二匙，治陽明熱毒。今人用一碗半碗，以治小兒，死者八九。</p>
<p>蚯蚓　痘症用一二條，酒沖，已屬不典。今用三四十條，大毒大寒，服者多死。</p>
<p>蜈蚣、蠐螬（即桑繭）、蠍子、胡蜂　皆極毒之物，用者多死，間有不死者幸耳！</p>
<p>石決明（眼科磨光鹽水煮，入末藥。今亦以此入一切煎劑，何義？）</p>
<p>白螺殼　此收濕摻藥。亦入煎劑，其義何在？</p>
<p>雞子黃　此少陰不寐引經之藥。今無病不用。</p>
<p>燕窠、海參、淡菜、鹿筋、丑筋、魚肚、鹿尾此皆食品，不入藥劑。必須洗浸極淨，加以薑、椒、蔥、酒，方可入口。今與熟地、麥冬、附、桂同煎，則腥臭欲嘔。</p>
<p>醋炒半夏、醋　赭石、麻油炒半夏　皆能傷肺，令人聲啞而死。</p>
<p>橘白、橘內筋、荷葉邊、枇杷核、楂核、扁豆殼此皆方書所棄。今偏取之以示異。</p>
<p>更有宜炒者反用生，宜切者反用囫圇，此類不可枚舉。</p>
<p>以上各種，其性和平者，服之雖無大害，亦有小損。至諸不常用及腥毒之物，病家皆不能炮制，必至臭穢惡劣，試使立方之人，取而自嘗之，亦必伸舌攢眉，嘔吐噦逆，入腹之後，必至脹痛瞀亂，求死不得，然後深悔從前服我藥之人，不知如何能耐此苦楚，恨嘗之不早，枉令人受此荼毒也。抑思人之求治，不過欲全其命耳！若以從未經驗之方，任意試之，服後又不考其人之生死而屢用之，則終身無改悔之日矣。嗟乎！死者已矣，孰知其父母妻子之悲號慘戚，有令人不忍見者乎？念及此，能不讀書考古，以求萬穩萬全之法者，非人情也。以上所指，皆近時之弊。若後世此風漸改，必不信世間有如此醫法，反以我言為太過者，豈知並無一語虛妄者乎！又有疑我為專用寒涼攻伐者，不知此乃為誤用溫補者戒，非謂溫補概不可用也。</p>
<p>愿世之為醫者，真誠敬慎，勿用非法之方，世之求治者，明察知幾，勿服怪誕之藥：則兩得之也。</p>
<h2>宗傳</h2>
<p>一切道術，必有本源，未有目不睹漢唐以前之書，徒記時尚之藥數種而可為醫者。今將學醫必讀之書並讀法，開列於下，果能專心體察，則胸有定見，然後將後世之書，遍觀博覽，自能辨其是非，取其長而去其短矣。</p>
<p>《靈樞經》此明經絡、臟腑之所以生成，疾病之所由侵犯。針灸家不可不詳考，方脈家略明大義可也。</p>
<p>《素問》　此明受病之源及治病之法，千變萬化，無能出其范圍。如不能全讀，擇其精要切實者，熟記可也。</p>
<p>《傷寒論》此一切外感之總訣，非獨治傷寒也。明於此，則六淫之病無不通貫矣。</p>
<p>《金匱》此一切雜病之祖方，其諸大症，已無不備。能通其理，天下無難治之病矣。</p>
<p>神農本草《神農本草經》止三百六十種，自陶宏景以後，藥味日增，用法益廣，至明李時珍《綱目》而大備。其書以本經為主，而以諸家之說附之。讀者字字考驗，則能知古人制方之妙義，而用之不窮矣。</p>
<p>《外台秘要》、《千金方》二書匯集唐以前之經方、秘方，及婦科、兒科、外科無所不備，博大深微。</p>
<p>必明乎《靈》、《素》、仲景之書，方能知所審擇，不至泛濫，而無所適從矣。</p>
<p>婦科、兒科　婦人除經、帶、胎、產之外，與男子同。小兒除驚、癇、痧、痘而外，與老壯同。所以古人並無專科，後人不能通貫醫理，只習經、產、驚、痘等方藥，乃有專科。若讀前所列之書，則已無所不能，更取後世所著《婦人良方》、《幼科新書》等參觀可也。</p>
<p>外科　其方亦具《千金》、《外台》。後世方愈多而法愈備，如《竇氏全書》、《瘍科選粹》，俱可采取。惟惡毒之藥及輕用刀針，斷宜切戒。</p>
<p>《御纂醫宗金鑒》　源本《靈》、《素》，推崇《傷寒論》、《金匱要略》以為宗旨，後乃博采眾論，嚴其去取，不尚新奇，全無偏執，又無科不備，真能闡明聖學，垂訓後人。足征聖朝仁民之術，無所不周。</p>
<p>習醫者即不能全讀古書，只研究此書，足以名世。何乃不此崇信，而反從事於近世杜撰無稽之說也？</p>
<h2>跋</h2>
<p>《慎疾芻言》一卷，凡十九篇，徐君靈胎所著。徐君初名大椿，更名大業，晚自號洄溪，吳江人，生有異稟。初學舉業，補邑諸生弗屑就，去而窮經；又好讀黃老、陰符、既益泛濫，凡星經、地志、九宮音律、刀劍伎擊、勾卒嬴越之法，靡不通究，各有所述，而於醫理尤邃。其投藥造方，輒與人異。微士迮云龍病，不言不食者六日，徐君按之曰：此陰陽相搏證也。投以劑，須臾再飲之以湯而躍然。張雨生子無肌膚，懼，欲棄之。徐君令以糯米作粉糝其體，裹以絹，埋土中，出其首，乳之兩日夜而皮生。任氏婦患風痹，兩股如針刺，徐君令作濃　，遣干嫗挽持之，任其顛撲叫號，汗出始釋，竟勿藥而愈。市有好拳勇者與人角而受傷氣絕矣，徐君令覆臥之，拳擊其尻三，忽嘔黑血數升而蘇。其切脈能決人壽夭窮達，後皆驗。乾隆庚辰，詔訪海內名醫，有以徐君名荐者，高宗純皇帝欲官之，固辭歸。乾隆辛卯再召入京，年已七十有九，是冬卒於京師。詔賜白金，贈文林郎。徐君權奇，自喜舞槍奪槊，有不可一世之　，晚益放達，自題墓門云：滿山靈草仙人藥，一徑青松處士墳。所著醫書如：《難經經釋》、《神農本草百種錄》、《醫學源流論》、《傷寒類方》等若干卷，皆行於世。是書之作，蓋有鑒於庸醫之誤人，救其失而補其漏，反復萬余言，大聲疾呼，欲令人驚心動魄，豁然開悟。嗚呼！其用心可謂至矣！夫良醫之治疾也，多一良醫而得全者眾，少一庸醫而得全者尤眾。徐君是書，則可化庸醫為良醫，並可勿藥有喜也，其有功於時為何如邪？彭詠莪侍郎視學閩中，既刊行此書，郵寄京師，屬重付剞劂，以廣其傳。余考府志，諗徐君本末，因跋卷尾，俾讀者知其梗概云。</p>
<p><u>道光二十有八年戊中秋九月吳縣潘曾瑋</u></p>
