<header><h1>沈氏女科輯要</h1></header>
<dl class="元資料" data-type="book">
<div><dt>作者</dt><dd>沈又彭</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1644/1911">公元1644年至公元1911年</data></dd></div>
</dl>
<h2>王序</h2>
<p>堯封沈氏所著《醫經讀》、《傷寒論讀》，簡明切當，允為善本。尚有《女科輯要》一書，世罕傳本。原稿為余外舅徐虹橋先生補注珍藏，先生早歸道山。余授室後，得見其書。頗多入理深談，發前人所未發者。今年楊素園明府聞有此稿，命為借抄。余謂婦兄友珊曰：君子之孝也，亦務其大者遠者而已，寶守遺編，莫若傳諸不朽。友珊許焉。愛不揣鄙佇，稍加參訂而公諸世云。</p>
<p><u>道光庚戌仲冬棘人王士雄書於潛齋</u></p>
<h2>卷上</h2>
<h3>第一節‧經水</h3>
<p>《素問》云：女子七歲，腎氣盛，齒更發長；二七而天癸至，任脈通，太衝脈盛，月事以時下。</p>
<p>沈堯封曰：天癸是女精，由任脈而來；月事是經血，由太衝而來。經言二七而天癸至，緣任脈通。斯時太衝脈盛，月事亦以時下。一順言之，一逆言之耳！故月事不來、不調及崩，是血病，咎在衝脈，衝脈隸陽明；帶下是精病，咎在任脈，任脈隸少陰。蓋身前中央一條是任脈，背後脊裡一條是督脈，皆起於前後兩陰之交會陰穴。《難經》明晰，《靈》、《素》傳誤。帶脈起於季脅，似束帶狀。人精藏於腎，腎系於腰背。精欲下泄，必由帶脈而前，然後從任脈而下。故經言任脈為病，女子帶下。</p>
<p>王孟英按：俞東扶云：經言男子二八而腎氣盛，天癸至，精氣溢瀉。若天癸即月水，丈夫有之乎？蓋男女皆有精，《易》謂男女構精可據。然指天癸為精，亦不妥。天癸為精，不當又云精氣溢瀉矣。後賢講受孕之道，有陽精陰血，先至後沖等說，亦謬。夫男女交接，曾見女人有血出耶！交接出血是病，豈能裹精及為精所裹哉？大約兩情酣暢，百脈齊到，天癸與男女之精偕至，斯入任脈而成胎耳。男胎女胎則由夫婦之天癸有強弱盈虛之不同也。吾友徐亞枝曰：如沈氏說，一若天癸即精者；如俞氏說，一若血與精之外，別有一物所謂天癸者。竊謂天癸者，指腎水本體而言。癸者，水也。腎為水臟，天一生水，故謂腎水為天癸。至，謂至極也，猶言足也。女子二七、男子二八，腎氣始盛，而腎水乃足。蓋人身五臟，惟腎生最先，而腎足最遲，腎衰獨早。故孩提能悲能喜，能怒能思，而絕無欲念。其有情竇早開者，亦在腎氣將盛，天癸將至之年。可見腎氣未盛，癸水未足，則不生欲念也。迨腎氣衰，癸水絕，則欲念自泯矣。解此段經文者，當云女子二七而腎水之本體充足，任脈乃通，太衝之脈始盛，月事因而時下矣。夫前陰二竅，溺之由水竅者無論矣。其由精竅者，皆原於天癸者也。月水雖從衝脈下，謂為天癸之常可也。泄精成孕，是任脈之施受，謂為天癸之能可也。帶下乃任脈之失其擔任，謂為天癸之病可也。然則稱月水為天癸，似亦無不可也。前賢解此，皆重讀上二字，而略下一字，惟將「至」字當作「來」字看，遂致議論紛紜耳！王冰曰：男以氣運，故陽氣應日而一舉；女以血滿，故陰血從月而一下。</p>
<h3>第二節‧月事不調</h3>
<p>《素問》云：天地溫和，則經水安靜；天寒地凍，則經水凝泣；天暑地熱，則經水沸溢；卒風暴起，則經水波涌而隴起。（卒，讀猝然之猝。）</p>
<p>褚澄曰：女子天癸既至，逾十年無男子合，則不調；未逾十年思男子合，亦不調。不調則舊血不出，新血誤行：或漬而入骨，或變而為腫，或雖合而難子。合多則瀝枯虛人，產乳眾則血枯殺人。</p>
<p>王孟英按：此論甚不盡然，存其意可也。惟產乳眾而血枯至死者頗多。然吾鄉吳醞香大令徐夫人，半產三次不計外，凡生十男四女，並已長成，而夫人年逾五旬，精力不衰，猶能操家政而撫馭群下也。（至死，今石印本《王氏十四種》作「卒死」，非是。）</p>
<p>方約之曰：婦人不得自專，每多忿怒，氣結則血亦枯。</p>
<p>王孟英按：此至言也。氣為血帥，故調經必先理氣。然理氣不可徒以香燥也，蓋鬱怒為情志之火，頻服香燥，則營陰愈耗矣。</p>
<p>趙養葵曰：經水不及期而來者，有火也，宜六味丸滋水；如不及期而來多者，加白芍、柴胡、海螵蛸；如半月或十日而來，且綿延不止者，屬氣虛，宜補中湯。如過期而來者，火衰也，六味加艾葉；如脈遲而色淡者加桂。此其大略也。其間有不及期而無火者，有過期而有火者，不可拘於一定，當察脈視稟，滋水為主，隨證加減。</p>
<p>王孟英按：婦人之病，雖以調經為先，第人稟不同，亦如其面。有終身月汛不齊而善於生育者，有經期極準而竟不受孕者。雄於女科，閱歷多年，見聞不少，始知古人之論，不可盡泥；無妄之藥，不可妄施也。</p>
<h3>第三節‧辨色及病</h3>
<p>趙養葵曰：衝任藏精系胞，又恃一點命門之火，為之主宰。火旺則紅，火衰則淡，火太旺則紫，火太衰則白，所以滋水更當養火。甚有干枯不通者，雖曰火盛之極，亦不宜以苦寒藥降火，只宜大補其水，從天一之源，以養之使滿。又曰：紫與黑者，多屬火旺，亦有虛寒而黑色者，不可不察。若淡白，則無火明矣。</p>
<p>沈堯封曰：王宇泰以寒則凝，既行而紫黑，定非寒證，然投熱藥，十中嘗見一二。色白無火亦屬近理，然間有不宜補火者。嘗見元和一婦，經水過期十日方至，色淡。穩婆據此，投肉桂藥數劑，經水來多，遍身發黃，不能飲食，身熱脈數，竟成危候。此是丹溪所謂經水淡白屬氣虛一證。要之臨證時須細察脈象，復參旁證，方識虛實寒熱。倘有疑似證中有兩說者，先用其輕劑。如色淡一證，先用補氣法不效，再投補火，庶幾無誤。錄葉氏之說於下。葉氏曰：血黑屬熱，此其常也，亦有風寒外束者，十中嘗見一二。蓋寒主收引，小腹必常冷痛，經行時或手足厥冷，唇青面白，尺脈遲，或微而虛，或大而無力。熱則尺脈洪數，或實而有力，參之脈證為的。</p>
<p>王孟英按：色淡竟有屬熱者，古人從未道及，須以脈證互勘自得，但不可作實熱論而瀉以苦寒也。更有奇者，方氏婦產後經色漸淡，數年後竟無赤色，且亦結塊，平常亦無帶下，人日　羸。余診之，脈軟數，口苦，而時有寒熱。與青蒿、白薇、黃柏、柴胡、當歸、鱉甲、龜版、芍藥、烏　骨、杞子、地骨皮等，出入為方，服百劑而痊。此僅見之證矣。</p>
<p>滑伯仁曰：經前臍腹絞痛，寒熱交作，下如黑豆汁，兩尺脈澀，余皆弦急。此寒濕搏於衝任，寒濕生濁，下如豆汁，與血交爭故痛，宜辛散苦溫血藥。</p>
<p>徐藹輝曰：辛散血藥，是川芎之類；苦溫血藥，是艾葉之類。</p>
<p>李氏曰：經水帶黃混濁者，濕痰也。</p>
<p>丹溪曰：經將行而痛者，氣之滯也。用香附、青皮、桃仁、黃連；或用抑氣散，四物加玄胡、丹皮、條芩。又曰：經將來，腹中陣痛，乍作乍止者，血熱氣實也。四物加川連、丹皮。</p>
<p>徐藹輝曰：抑氣散出嚴氏。系香附四兩，陳皮一兩、茯神、炙草一兩半也。為末，每服二錢。治婦人氣盛於血，變生諸證。頭暈膈滿，取《內經》「高者抑之」之義。汪　庵謂是方和平可用，若補血以平陽火，亦正治也。</p>
<p>丹溪又曰：經後作痛者，氣血俱虛也，宜八珍湯。</p>
<p>丹溪又曰：成塊者，氣之凝也。</p>
<p>沈堯封曰：經前腹痛，必有所滯。氣滯脈必沉，寒滯脈必緊，濕滯脈必濡，兼寒兼熱，當參旁證。至若風邪由下部而入於脈中，亦能作痛，其脈乍大乍小，有時隆起。葉氏用防風、荊芥、桔梗、甘草，虛者加人參，各一錢焙黑，取其入血分，研末酒送，神效。</p>
<p>堯封又曰：經前後俱痛，病多由肝經，而其中更有不同。脈弦細者，是木氣之郁，宜逍遙散及川楝、小茴香、橘核之類；脈大者，是肝風內動；體發紅塊者，是肝陽外越：俱宜溫潤。戴禮亭室人，向患經前後腹痛，連及右足，體發紅塊，脈大，右關尺尤甚。己卯秋，予作肝風內動治。用生地四錢，炒枸杞一錢，細石斛二錢，杜仲二錢，干淡蓯蓉一錢，麥冬一錢，牛膝一錢，歸身一錢五分，炒白芍一錢，服之痛止。後於經前後服數劑，經來甚適，不服即痛，因作丸服。此方屢用有驗。</p>
<h3>第四節‧經行聲啞及目暗泄瀉帶下等證</h3>
<p>沈堯封曰：經來聲荀證。苟恆大兄長女，嫁斜塘倪姓，早寡，體氣虛弱，每逢月事，聲音必啞。予用天冬、地黃、蓯蓉、歸身等藥，病益甚，張口指畫，毫無一字可辨。即於此方加細辛少許，以通少陰之絡，藥才入口，其聲即出。十余劑後，桂附八味丸調理，永不發。</p>
<p>撮要云：經後目暗，屬血虛。</p>
<p>汪石山曰：經行泄瀉，屬脾虛多濕，宜參苓白朮散。</p>
<p>王孟英按：亦有肝木侮土者。</p>
<p>繆氏曰：經行白帶，屬陽虛下陷，用參、朮助陽之藥。</p>
<p>王孟英按：亦有鬱火內盛者。</p>
<h3>第五節‧月事不來</h3>
<p>《素問》云：二陽之病發心脾，有不得隱曲，女子不月；其傳為風消，其傳為息賁者，死不治。</p>
<p>沈堯封曰：二陽指陽明經言，不指臟腑言。二陽之病發心脾者，陽明為多血之經，血乃水穀之精氣，借心火鍛煉而成。憂愁思慮傷心，因及其子，不嗜飲食，血無以資生，陽明病矣。經云，前陰總宗筋之所會，會於氣街，而陽明為之長，故陽明病，則陽事衰而不得隱曲也；太衝為血海，並陽明之經而行，故陽明病，則衝脈衰而女子不月也。</p>
<p>王孟英按：經水固以月行為常，然陰虛者多火，經每先期。陰愈虛，行愈速，甚至旬日半月而一行。更有血已無多，而猶每月竭蹶一行者，其涸也，可立而待也。若血雖虛而火不甚熾，汛必愆期，此含蓄有權，雖停止一二年，或竟斷絕不行，但其脈不甚數者，正合坤主吝嗇之道，皆可無慮。昧者不知此理，而但憑月事以分病之輕重，聞其不行，輒欲通之，竭澤而漁，不仁甚矣。</p>
<p>《金匱》云：婦人病，因虛、積冷、結氣，經水斷絕。</p>
<p>張景岳曰：經閉有血隔、血枯之不同。隔者病於暫，通之則愈；枯者其來也漸，補養乃充。</p>
<p>沈堯封曰：《金匱》三證，積冷、結氣，有血不行也，景岳謂之血隔。積冷宜用肉桂大辛熱之藥，導血下行，後用養榮之藥調之；結氣宜宣，如逍遙散，或烏藥、香附行氣之品宣之。虛者，無血可行也，景岳謂之血枯宜補，趙養葵補水、補火、補中氣三法，最為扼要。</p>
<p>王孟英按：補水勿泥於六味，補火勿泥於八味，補中氣勿泥於歸脾。</p>
<p>附錄魏玉璜一貫煎方　治肝腎陰虛，氣滯不運，脅肋攻痛，胸腹　脹，脈反細弱，或虛弦，舌無津液，喉嗌干燥者。</p>
<p>沙參　麥冬　生地　歸身　杞子　川楝子口苦燥者，加酒炒川連。</p>
<p>附錄集靈膏方（從王秉衡《重慶堂隨筆》）人生五十，陰氣先衰，老人陰虧者多。此方滋養真陰，柔和筋骨。</p>
<p>西洋參（取結實壯大者，刮去皮，飯上蒸九次，日中晒九次）　甘杞子　懷牛膝（酒蒸）　天冬　麥冬懷生地　懷熟地　仙靈脾　八味等分，熬成膏，白湯或溫酒調服。</p>
<p>附錄滋水清肝飲方（高鼓峰）　治陰虛肝氣鬱窒，胃脘痛，脅痛，脈虛弦或細軟，舌苔光滑鮮紅者。</p>
<p>方即六味地黃東加歸身、白芍、柴胡、山梔、大棗。</p>
<p>附錄薛一瓢滋營養液膏方女貞子　旱蓮草　霜桑葉　黑芝麻　黃甘菊　枸杞子　當歸身　白芍藥　熟地黃　黑大豆　南燭葉白茯神　葳蕤　橘紅　沙苑蒺藜　炙甘草天泉水熬濃汁，入黑驢皮膠，白蜜煉收。</p>
<p>附錄薛一瓢心脾雙補丸方西洋參（蒸透）　白朮（蒸熟）　茯神　甘草　生地黃　丹參　棗仁　遠志肉　北五味　麥門冬　玄參柏子仁　黃連　香附（制）　川貝母　桔梗　龍眼肉附錄陸九芝坎離丸方論九芝封翁世補齋文曰：坎離丸者，山右閻誠齋觀察取作種子第一方，最易最簡，最為無弊。方乃紅棗、黑豆等分。紅棗色赤入心，取其肉濃者，蒸熟去皮核；黑豆色黑入腎，即大黑豆，非馬料豆，用桑椹汁浸透，亦於飯鍋內蒸之，蒸熟再浸再蒸。二味合搗令如泥，糊為丸，或印成餅。隨宜服食，亦能烏須發，壯筋骨，以此種玉，其胎自固，而子亦多壽。壬午夏，曾以此方貢於徐侍郎頌閣，入之便賤驗方中。世之專事補陽而用硫、附輩者，慎不可從。如果陽道不起，不能堅久，精薄無子，還是鹿茸，尚為血肉有情之品。然亦須同二冬、二地及黃柏一味，大補其陰，則男婦皆可服，此亦誠齋之說也。</p>
<p>寇宗　曰：童年情竇早開，積想在心，月水先閉。蓋憂愁思慮則傷心，心傷則血耗竭，故經水閉也；火既受病，不能榮養其子，故不嗜食；脾既虛則金氣虧，故發嗽；嗽既作則水氣竭，故四肢干；木氣不充，故多怒，髮鬢焦，筋痿。五臟以次傳遍，故猝不死而終死也，比於諸勞，最為難治。</p>
<p>沈堯封曰：此條亦從《金匱》虛字內分出，實有是證。但此所愿不得，相火必熾，非補水無以制之。六味地黃湯，補陰瀉陽，固是妙法。然脾虛食減，倘嫌地黃膩膈，炒松可也，不然以女貞易之，顧名思義，並瀉相火。</p>
<p>王孟英按：此證最難治。六味礙脾，歸脾助火，惟薛一瓢滋營養液膏加小麥、大棗、遠志，庶幾合法。一瓢又有心脾雙補丸，亦可酌用。</p>
<p>樓全善曰：經閉有污血凝滯胞門一證。羅謙甫血極膏，一味大黃為末，醋熬成膏，服之利一二行，經血自下，是婦科仙藥。</p>
<p>沈堯封曰：《金匱》論經閉，有冷無熱，非闕文也。蓋天暑地熱，則經水沸溢，豈反有凝泣不來之理？潔古、東垣，降心火、瀉三焦之說，不可盡信，即骨蒸內熱，亦屬陰虧，非同實火之可寒而愈。</p>
<p>王孟英按：王子亨《全生指速方》地黃煎，以生地汁八兩，熬耗一半，內大黃末一兩同熬，候可丸，丸如梧子大。熟水下五粒，未效加至十粒。治女子氣竭傷肝，月事不來，病名血枯。蓋瘀血不去，則新血枯也。</p>
<p>即《內經》烏　蘆茹丸、仲景大黃　蟲丸之義。後人但知彼血枯為血虛，而不知血得熱則瘀，反用溫補，豈能愈此血枯之病？堯封亦為此論，毋乃欠考。</p>
<p>朱丹溪曰：肥人痰塞胞門，宜厚朴二陳湯。</p>
<h3>第六節‧淋漓不斷</h3>
<p>（一名經漏）</p>
<p>陳良甫曰：或因氣虛不能攝血；或因經行而合陰陽，外邪客於胞內。</p>
<p>王孟英按：亦有因血熱而不循其常度者。</p>
<h3>第七節‧月事異常</h3>
<p>經云，七七而天癸竭。有年過五旬，經行不止者：許叔微主血有餘，不可止，宜當歸散；《產寶》主勞傷過度、喜怒不時；李時珍作敗血論。三說不同，當參脈證。</p>
<p>李時珍曰：月事一月一行，其常也。或先或後，或通或塞，其病也。有行期只吐血、衄血，或眼、耳出血，是謂倒經；有三月一行，是謂居經；有一年一行，是謂避年；有一生不行而受胎者，是謂暗經；有受胎後，月月行經而產子者，是謂胎盛，俗名胎垢；有受胎數月，血忽大下而胎不隕者，是謂漏胎。此雖以氣血有餘不足言，而亦異常矣。</p>
<p>王孟英按：有未及二七之年而經水已行者；有年逾花甲而月事不絕者；有無病而偶停數月者；有壯年而月信即斷者；有帶下過甚而經不行者；有數月而一行者；有產後自乳而仍按月行經者；有一產而停經一二年者。秉賦不齊，不可以常理概也。</p>
<h3>第八節‧血崩</h3>
<p>（血大至曰崩，此是急病）</p>
<p>《素問》云：陰虛陽搏謂之崩。</p>
<p>許叔微曰：經云，天暑地熱，經水沸溢。又曰，陰虛者尺脈虛浮，陽搏者寸脈弦急，是陰血不足，陽邪有餘，故為失血內崩。宜奇效四物湯，或四物東加黃連。</p>
<p><u>奇效四物湯</u></p>
<p>當歸（酒洗）　川芎　白芍（炒）　熟地黃　阿膠　艾葉　黃芩（炒，各一錢）</p>
<p>叔微又曰：女人因氣不先理，然後血脈不順，生崩帶等證。香附是婦人仙藥，醋炒為末，久服為佳，每服二錢，清米飲調下。徐朝奉內人遍藥不效，服此獲安。</p>
<p>徐藹輝曰：叔微「理氣」二字，專主怒氣、郁氣傷肝，故用香附調氣以和肝，慎不可用破氣藥。</p>
<p>薛立齋曰：肝經風熱，或怒動肝火，俱宜加味逍遙散。</p>
<p><u>加味逍遙散</u></p>
<p>當歸　白芍　柴胡　甘草　茯苓　白朮　丹皮　黑山梔　加薄荷、薑、棗煎。</p>
<p>李太素曰：崩宜理氣、降火、升提。</p>
<p>《金匱》云：寸口脈微而緩，微者衛氣疏，疏則其膚空；緩者胃弱不實，則穀消而水化。穀入於胃，脈道乃行；水入於經，其血乃成。營盛則其膚必疏，三焦絕經，名曰血崩。</p>
<p>趙養葵曰：氣為陽主升，血為陰主降。陽有餘則升者勝，血出上竅；陽不足則降者勝，血出下竅。氣虛者面色必白，尺脈虛大。</p>
<p>東垣曰：下血證，須用四君子補氣藥收功。</p>
<p>東垣又曰：人傷飲食，醫多妄下。清氣下陷，濁氣不降，乃生　脹，所以胃脘之陽不能升舉，其氣陷下致崩，宜補中湯。</p>
<p>丹溪云：有涎郁胸中，清氣不升，故經脈壅遏而降下。非開涎不足以行氣；非氣升則血不能歸隧道。其證或腹滿如孕；或臍腹療痛；或血結成片；或血出則快，止則悶；或臍上動。治宜開結痰、行滯氣、消污血。</p>
<p>沈堯封曰：沖為血海，並陽明之經而行，故東垣、丹溪皆主胃脘之陽不升。顧其病源各異，李曰妄下，朱曰痰鬱，有腹滿如孕，血出反快，止反悶等證可認。妄下則無有也，非問不得。</p>
<p>戴元禮曰：血大至曰崩，或清或濁，或純下紫血，勢不可止。有崩甚腹痛，人多疑惡血未盡，又見血色紫黑，愈信為惡血，不敢止截。凡血之為患，欲出未出之際，停在腹中，即成紫血。以紫血為不可留，又安知紫血之不為虛寒乎？瘀而腹痛，血行則痛止；崩而腹痛，血止則痛止。芎歸東加薑、附，止其血而痛自止。</p>
<p>薛立齋曰：有婦患崩，過服寒藥，脾胃久虛，中病未已，寒病復起，煩渴引飲，粒米不進，昏憒時作，脈洪大，按之微弱。此無根之火，內虛寒而外假熱也。十全大補加附子，崩減，日服八味丸而愈。又有久患崩，服四物湯涼血劑；或作或止，有主降火；加腹痛，手足厥冷，此脾胃虛寒所致，先用附子理中湯，次用濟生歸脾、補中益氣二湯，崩頓止。若泥痛無補法，誤矣。</p>
<p>沈堯封曰：崩證熱多寒少。若血大至色赤者，是熱非寒；倘色紫黑者，出絡而凝，其中有陽虛一證。經云，陽氣者，衛外而為固也。營行脈中，衛行脈外，脈外之陽虛，失於衛護，則脈中之營血漏泄。既出絡脈，凝而不流，漸漸變紫變黑。然必須少腹惡寒，方可投溫。</p>
<p><u>崩證極驗方</u></p>
<p>地榆　生牡蠣（各二錢）　生地（四錢）　生白芍（三錢）　黃芩　丹皮（各一錢半）　川連（五分）</p>
<p>甘草（八分炒）　蓮須　黑梔（各一錢）　水煎服。</p>
<p>沈堯封曰：一婦日服人參、阿膠，血不止，投此即效。因伊芳帶多，偶以苦參易芩，血復至，用芩即止；去連，血又至，加連即止。</p>
<p>堯封又曰：一婦患崩月余，余診時，大崩發暈幾脫。是方加人參一錢，服之即完，十劑而安。</p>
<p>堯封又曰：一婦患此，年逾五旬，投人參、阿膠不效。一日用黃連五分，甚不相安。一醫云：是氣病。</p>
<p>用酒炒香附、歸、芍、丹皮、黃芩、牡蠣、棗仁、黑荊芥各二錢，鬱金一錢五分，橘皮一錢，上沉香磨沖三分，柴胡五分，棕櫚炭八分，煎服，一劑崩止。除柴胡、荊芥、棕炭，數劑食進。復加白朮為散，服之作脹，減去即安。</p>
<p>堯封又曰：一崩證，少腹惡寒，用附桂八味丸，收全效。</p>
<p>王孟英按：經漏崩淋，並由精竅出，惟溺血從溺竅而下。婦女雖自知，然赧於細述。醫者不知分辨，往往誤治。更有因病汛愆，而衝脈之血改從大腸而下者，人亦但知為便血也，臨證均須細審。</p>
<h3>第九節‧帶下</h3>
<p>（與男子遺濁同治）</p>
<p>《素問》云：任脈為病，男子內結七疝；女子帶下瘕聚。</p>
<p>又云：脾傳之腎，名曰疝瘕。小腹冤結而痛，出白，名曰蠱。</p>
<p>又云：少腹冤熱，溲出白液。</p>
<p>又云：思想無窮，所愿不得，意淫於外，入房太甚，發為白淫。</p>
<p>沈堯封曰：帶下有主風冷入於脬絡者，巢元方、孫思邈、嚴用和、楊仁齋、樓全善諸人是也；有主濕熱者，劉河間、張潔古、張戴人、羅周彥諸人是也；有主脾虛氣虛者，趙養葵、薛立齋諸人是也；有主濕痰者，丹溪是也：有主脾腎虛者，張景岳、薛新甫是也；又有主木鬱地中者，方約之、繆仲淳是也。其所下之物，嚴主血不化赤而成；張主血積日久而成；劉主熱極則津液溢出。其治法有用大辛熱者，有用大苦寒者，有用大攻伐者，有用大填補者。雖立論制方，各有意義。然其所下之物，究竟不知為何物，惟丹溪云：婦人帶下，與男子夢遺同。顯然指著女精言，千古疑竇，一言道破。但精滑一證，所因不同，惜其所制之方，囿於痰火二字中耳！由是言之：白帶即同白濁，赤帶即同赤濁，此皆滑膩如精者。至若狀如米泔，或臭水不黏者，此乃脾家之物，氣虛下陷使然。高年亦有患此，非精氣之病，不可混治。</p>
<p>堯封又曰：戴元禮論赤濁云：精者，血之所化。有濁去太多，精化不及，赤未變白，故成赤濁，此虛之甚也。何以知之？有人天癸未至，強力好色，所泄半精半血，若溺不赤，無他熱證，縱見赤濁，不可以赤為熱，只宜以治白濁法治之。觀此則以赤帶為熱者謬矣。</p>
<p>王孟英按：帶下，女子生而即有，津津常潤，本非病也。故扁鵲自稱帶下醫，即今所謂女科是矣。《金匱》亦以三十六病隸之帶下。但過多即為病，濕熱下注者為實；精液不守者為虛。苟體強氣旺之人，雖多亦不為害，惟干燥則病甚。蓋營津枯涸，即是虛勞。凡汛愆而帶盛者，內熱逼液而不及化赤也；並帶而枯燥全無者，則為干血勞之候矣。匯而觀之：精也、液也、痰也、濕也、血也，皆可由任脈下行而為帶；然有虛寒，有虛熱、有實熱三者之分。治遺精亦然。而虛寒較少，故天士治帶，必以黃柏為佐也。</p>
<p><u>妙香散</u></p>
<p>　治脈小食少，或大便不實者。</p>
<p>龍骨　益智仁　人參（各一兩）　白茯苓　遠志（去骨）　茯神（去木，各五錢）　朱砂（二錢五分）</p>
<p>炙甘草（錢半）　為末，每服酌用數錢。</p>
<p><u>地黃飲子去桂附</u></p>
<p>　腎陰不足，肝陽內風鼓動而滑精，其脈弦大者宜之。葉天士云：天地溫和，風濤自息。又云：坎中陽微，下焦失納。又云：肝為剛藏，不宜溫藥，只宜溫柔養之。</p>
<p>水制熟地（八錢）　川石斛　麥冬　茯苓（各一錢五分）　石菖蒲　遠志肉　巴戟肉　干淡蓯蓉（各一錢）　五味子山萸肉（沈堯封曰：末二味酸藥可去。）</p>
<p><u>補腎陰清肝陽方</u></p>
<p>　王宇泰曰：腎為陰，主藏精；肝為陽，主疏泄。故腎之陰虛，則精不藏；肝之陽強，則氣不固。</p>
<p>藕節　青松葉　側柏葉（各一斤）　生地　玉竹　天冬（各八兩）　女貞子　旱蓮草（各四兩）　熬膏服沈堯封曰：此方以清芬之品清肝，不以苦寒之藥傷氣。</p>
<p><u>八味丸</u></p>
<p>　戴元禮曰：有赤白濁人，服玄菟丹不效，服附子八味丸即愈者，不可不知。</p>
<p>沈堯封曰：此即坎中陽微，下焦失納之意，屢用有效。</p>
<p>王孟英按：陰虛而兼濕火者，宜六味丸。甚者，加黃柏尤妙。</p>
<p><u>附玄菟丹</u></p>
<p>（局方）</p>
<p>菟絲子（十兩）　五味子（七兩）　茯苓　蓮肉（各三兩）　山藥（六兩）</p>
<p><u>松硫丸</u></p>
<p>　此是方外之方，治赤白濁、赤白帶，日久不愈，無熱證者，其效如神。</p>
<p>松香、硫黃二味，鐵銚內溶化，將醋頻頻洒上，俟藥如飴，移銚置冷處，用冷水濡手，丸如豆大。必須人眾方可，否則凝硬難丸。每服一錢。</p>
<p>王孟英按：此方究宜慎用。</p>
<p><u>固精丸</u></p>
<p>　《選注》云：陽虛則無氣以制其精，故寐則陽陷而精道不禁，隨觸隨泄，不必夢而遺也。必須提陽固氣，乃克有濟。</p>
<p>鹿茸（一具）　鹿角霜（分兩同茸）　韭子　淡干蓯蓉（各一兩）　五味子　茯苓　熟附子　巴戟肉　龍骨赤石脂（各五錢）　酒糊丸。</p>
<p><u>溫柔澀法</u></p>
<p>　葉氏治白淫。</p>
<p>白龍骨　桑螵蛸　湖蓮　芡實　茯苓　茯神　金櫻子　覆盆子　遠志肉　蜜丸。</p>
<p><u>《赤水玄珠》端本丸</u></p>
<p>　治脈大體肥，大便晨泄不爽，濕熱遺精，極驗。葉天士云：濕熱之病，面色赤亮可證。</p>
<p>苦參　川柏（各二兩）　牡蠣　蛤粉　葛根　青蒿　白螺螄殼（　，各一兩）　神麯和丸。</p>
<p><u>《本事方》清心丸</u></p>
<p>　戴元禮曰：有經絡熱而滑者，此方最妙。大智禪師云：腰脊熱而遺者，皆熱遺也。</p>
<p>黃柏　冰片　鹽湯為丸。</p>
<p>徐藹輝曰：亦有陰虧之極，致腿足、腰脊、肝腎部位作熱而遺者，又宜填陰固澀，以斂虛陽，非可妄投清火，宜詳辨脈證。</p>
<p><u>導赤散</u></p>
<p>　李瀕湖曰：一壯年男子，夢遺白濁，少腹有氣上衝，每日腰熱，卯作酉涼。腰熱則手足冷，前陰無氣；腰熱退，則前陰氣動，手足溫。又旦多下氣，暮多噫氣，時振，逾旬必遺，脈弦滑而大。偶投澀藥，則一夜二遺，遂用此方大劑煎服，遺濁皆止。</p>
<p>生地　木通　甘草梢王孟英按：任脈虛而帶下不攝者，往往滋補雖投而不能愈。余以海螵蛸一味為粉，廣魚鰾煮爛，杵丸綠豆大，淡菜湯下，久服無不收效，真妙法也。</p>
<h3>第十節‧求子</h3>
<p>《素問》云，女子二七而天癸至，任脈通，太衝脈盛，月事以時下，故有子；七七而任脈虛，太衝脈衰少，天癸竭，地道不通，故形壞而無子。</p>
<p>沈堯封曰：求子全賴氣血充足，虛衰即無子。故薛立齋曰：至要處在審男女尺脈，若右尺脈細，或虛大無力，用八味丸；左尺洪大，按之無力，用六味丸；兩尺俱微細或浮大，用十補丸。此遵《內經》而察脈用方，可謂善矣。然此特言其本體虛而不受胎者也。若本體不虛而不受胎者，必有他病。繆仲淳主風冷乘襲子宮；朱丹溪主衝任伏熱；張子和主胞中實痰；丹溪於肥盛婦人，主脂膜塞胞；陳良甫謂二三十年全不產育者，胞中必有積血，主以蕩胞湯。諸賢所論不同，要皆理之所有，宜察脈辨證施治。蕩胞湯在《千金》為婦人求子第一方，孫真人鄭重之。</p>
<p><u>蕩胞湯</u></p>
<p>朴硝　丹皮　當歸　大黃　桃仁（生用，各三銖）　厚朴　桔梗　人參　赤芍　茯苓　桂心　甘草　牛膝橘皮（各二銖）　附子（六銖）　虻蟲　水蛭（各十枚）</p>
<p>上十七味　咀，以清酒五升，水五升，合煮取三升，分四服，日三、夜一，每服相去三時。更服如前，覆被取微汗。天寒汗不出，著火籠之，必下膿血，務須斟酌下盡，二三服即止。如大悶不堪，可食酢飯冷漿一口，即止。然恐去惡不盡，忍之尤妙。</p>
<p>王孟英按：子不可以強求也，求子之心愈切，而得之愈難。天地無心而成化，乃不期然而然之事，非可以智力為者。惟有病而礙於孕育之人，始可用藥以治病。凡無病之人，切勿妄藥以求子，弄巧反拙，豈徒無益而已耶？縱使有效，而藥性皆偏，其子稟之，非夭札，即頑悖。余歷驗不爽。</p>
<p>王孟英按：蕩胞湯雖有深意，其藥太峻，未可輕用。惟保胎神佑丸，善舒氣鬱，緩消積血，不但為保胎之良藥，亦是調經易孕之仙丹。每日七丸，頻服甚效。余歷用有驗，最為穩妙。（方見下卷）</p>
<p>王孟英又按：世有愚夫愚婦，一無所知，而敏於生育者，此方靈皋所謂此事但宜有人欲，而不可有天理也。觀於此，則一切求子之法，皆不足憑。況體氣不齊，豈容概論！有終身不受孕者；有畢世僅一產者；有一產之後，逾十余年而再妊者；有按年而妊者；有娩甫彌月而即妊者；有每妊必駢胎者；且有一產三胎或四胎者。駢胎之胞，有合有分。其產也，有接踵而下者；有逾日而下者；甚有逾一旬半月而下者。諺云：十個孩兒十樣生，是以古人有寧醫十男子，莫醫一婦人之說。因婦人有胎產之千態萬狀，不可以常理測也。</p>
<p>世之習婦科者，不可不究心焉。</p>
<p>王孟英又按：古人五種不男：曰螺、紋、鼓、角、脈，而人多誤解。余謂螺乃騾字之訛。騾形之人，交骨如環，不能開坼，如受孕，必以產厄亡。紋則陰竅屈曲，如紋之盤旋，礙於交合，俗謂之實女是也。後人不知騾形之異而改為螺，遂以紋之似螺者，又混於鼓。鼓者，陰戶有皮鞔如鼓，僅有小竅通溺而已。設幼時以鉛作鋌，逐日　之，久則自開，尚可以人力為也。角則陰中有物，興至亦有能舉者，名曰二陰人，俗云雌雄人是也。脈則終身不行經者，理難孕育，然暗經亦可受胎。錢國賓云：蘭溪篾匠之妻，自來無經，而生四子一女。故五種之中，惟三者非人力所能治，而紋、角二種，並不可交也。特考定之，以正相傳之訛。又騾形之女，初生時，穩婆技精者，捫之即知。其可男可女之身，名人　者，亦角類也。</p>
<h3>第十一節‧受胎總論</h3>
<p>李東璧曰：《易》云：男女構精，萬物化生；乾道成男，坤道成女。褚澄言血先至裹精則生男；精先至裹血則生女；陰陽均至，非男非女之身；精血散分，駢胎品胎之兆。道藏言月水無後，一、三、五日成男，二、四、六日成女。東垣言血海始淨，一、二日成男，三、四日成女。聖濟言因氣而左動，陽資之則成男；因氣而右動，陰資之則成女。丹溪乃非褚氏而是東垣，主聖濟左右之說立論，歸於子宮左右之系，可謂悉矣。竊謂褚氏未可非，東垣亦未盡是也。蓋褚氏以氣血之先後言；道藏以日數之奇偶言；東垣以女血之盈虧言；聖濟、丹溪以子宮之左右言。各執一見，會而通之，理自得矣。蓋獨男、獨女，可以日數論，駢胎、品胎，亦可以日數論乎？史載一產三子、四子，有半男、半女，或男多、女少，或男少、女多，則一、三、五日為男，二、四、六日為女之說，豈其然哉？褚氏、聖濟、丹溪，主精血子宮左右之論為有見，而道藏、東垣日數之論為可疑矣。王叔和《脈經》，以脈之左右浮沉，辨所生之男女；高陽生《脈訣》，以脈之縱橫逆順，別駢品之胎形：恐臆度之見，非確論也。</p>
<p>王孟英按：閱《微草堂筆記》云：夫胎者，兩精相搏，翕合而成者也。媾合之際，其情既洽，其精乃至。陽精至而陰精不至，陰精至而陽精不至，皆不能成；皆至矣，時有先後，則先至者氣散不攝，亦不能成。不先不後，兩精並至，陽先沖而陰包之，則陽居中為主而成男；陰先沖而陽包之，則陰居中為主而成女。此生化自然之妙，非人力所能為。故有一合即成者，有千百合而終不成者，愚夫婦所知能，聖人有所不知能，此之謂矣。端恪後人沈君辛甫云：胎脈辨別處，誠醫者所當知。若受妊之始，曷以得男，何緣得女，生化之際，初無一定。諸家議論雖奇，無關損益，置之可也。</p>
<h3>第十二節‧辨胎</h3>
<p>《素問》云：婦人足少陰脈動甚者，妊子也。</p>
<p>沈堯封曰：足少陰，腎脈也。動者，如豆厥厥動搖也。王太仆作手少陰。手少陰脈應在掌後銳骨之端陷者中，直對小指，非太淵脈也，必有所據。全元起作足少陰，候在尺中。經云，尺裡以候腹中。胎在腹中，當應在尺，此為近理。</p>
<p>《素問》云：陰搏陽別，謂之有子。</p>
<p>沈堯封曰：王注：陰，尺中也；搏，謂觸於手也。尺脈搏擊，與寸迥別，則有孕之兆也。</p>
<p>《素問》云：何以知懷子之且生也？曰：身有病而無邪脈也。</p>
<p>《難經》曰：女子以腎系胞。三部脈浮沉正等，按之不絕者，有妊也。</p>
<p>沈堯封曰：叔和云：婦人三部脈浮沉正等，以手按之不絕者，孕子也。妊脈初時寸微，呼吸五至，三月而尺數也，脈滑疾，重以手按之散者，胎已三月也。脈重手按之不散，但疾不滑者，五月也。此即陰搏陽別之義：言尺脈滑數，寸脈微小，尺與寸脈別者，孕子也。</p>
<p>王叔和曰：妊脈四月，其脈左疾為男，右疾為女，俱疾為生二子。</p>
<p>又曰：左尺偏大為男；右尺偏大為女；左右俱大產二子。大者如實狀，即陰搏之意。尺脈實大，與寸迥別，但分男左女右也。</p>
<p>又曰：左脈沉實為男，右脈浮大為女。</p>
<p>樓全善曰：按丹溪云：男受胎在左子官；女受胎在右子宮。推之於脈，其義亦然。如胎在左，則氣血護胎，必盛於左，故脈左疾為男、左大為男也；胎在右，則氣血護胎，必盛於右，故脈右疾為女、右大為女也。亦猶經文陰搏陽別，謂之有子：言胎必在身半之下，氣血護胎，必盛於下，故陰尺鼓搏，與陽寸迥別也。</p>
<p>《千金》云：令妊婦面南行，從背後呼之，左回首者是男，右回首者是女。又女腹如箕，以女胎背母，足膝抵腹，下大上小，故如箕。男腹如釜，以男胎向母，背脊抵腹，其形正圓，故如釜也。</p>
<p>沈堯封曰：《內經》妊娠數條，惟陰搏陽別，尤為妙諦。《素問》診法，上以候上，下以候下。氣血聚於上，則寸脈盛；氣血聚於下，則尺脈盛：其勢然也。試之瘡瘍，無不驗者；況胎在腹中，氣血大聚，豈反無征驗之理。胎系於腎，在身半以下，故見於尺部。但人脈體不同，有本大者，有本小者，即懷妊時，有見動脈者，有不見動脈者，然尺中或疾或數，總與寸脈迥然有別。細審自得，即左右男女亦然。</p>
<p>受胎時偏左成男，氣血聚於左則左重，故呼之則左顧便，脈必形於左尺；受胎時偏右成女，氣血聚於右則右重，呼之則右顧便，脈必形於右尺。此一定之理也。至若丹溪男受胎於左子宮，女受胎於右子宮，此是語病，猶言偏於子宮之左，偏於子宮之右耳！原非有二子宮也。</p>
<p>王孟英按：諸家之論，皆有至理，而皆有驗有不驗。余自髫年即專究於此，三十年來，見聞多矣。有甫受孕而脈即顯呈於指下者；有半月一月後而見於脈者；有二三月而見於脈者；有始見孕脈，而五六月之後反不見孕脈者；有始終不見於脈者；有受孕後反見弦澀細數之象者；甚有兩脈反沉伏難尋者。古人所論，原是各抒心得，奈死法不可以限生人，紙上談兵，未嘗閱歷者，何足以語此。惟今春與楊素園大令談之，極蒙折服，殆深嘗此中甘苦也。憶辛丑秋，診周光遠令正之脈，右寸關忽見弦大滑疾，上溢魚際之象，平昔之脈，未嘗見此，頗為駭然，及詢起居，諸無所苦，惟汛愆半月耳！余曰：妊也，並可必其為男。繼而其父孫際初聞之，診乃女脈，曰：妊則或然，恐為女孕。</p>
<p>余曰：肺象乎天，今右寸脈最弦滑、且見上溢之象，豈非本乎天者親上耶？孫曰：此雖君子創解，然極有理，究不知瓜紅何似耳？迨壬寅夏，果舉一男。聊附一端，以為鑿鑿談脈者鑒。</p>
<h3>第十三節‧妊婦似風</h3>
<p>（孟英按：即子癇證）</p>
<p>沈堯封曰：妊婦病源有三大綱：一曰陰虧。人身精血有限，聚以養胎，陰分必虧。二曰氣滯。腹中增一障礙，則升降之氣必滯。三曰痰飲。人身臟腑接壤，腹中遽增一物，臟腑之機栝，為之不靈，津液聚為痰飲。知此三者，庶不為邪說所惑。妊婦卒倒不語，或口眼歪斜，或手足螈　，皆名中風；或腰背反張，時昏時醒。名為痙，又名子癇。古來皆作風治，不知卒倒不語，病名為厥，陰虛失納，孤陽逆上之謂。口眼歪斜，手足螈　，或因痰滯經絡；或因陰虧不吸，肝陽內風暴動。至若腰背反張一證，臨危必見戴眼，其故何歟？蓋足太陽膀胱之經脈，起於目內　，上額交巔，循肩膊內，夾脊抵腰中；足太陽主津液，虛則經脈時縮，脈縮，故腰背反張。經云：瞳子高者，太陽不足。謂太陽之津液不足也，脈縮急則瞳子高，甚則戴眼。治此當用地黃、麥冬等藥，滋養津液為主。胎前病，陽虛者絕少，慎勿用小續命湯。</p>
<p>王孟英按：陰虛、氣滯二者，昔人曾已言之。痰飲一端，則發前人之未發，因而悟及產後譫妄等證，誠沈氏獨得之秘。反復申明，有裨後學，不亦多乎！沈堯封曰：錢鵠云正室，飲食起居無恙。一夜連厥數十次，發則目上竄，形如尸，次日又厥數十次，至晚一厥不醒。以火炭投醋中，近鼻熏之，不覺。切其脈，三部俱應，不數不遲，並無怪象。診畢，伊芳父倪福增曰：可治否？余曰：可用青鉛一斤化烊，傾盆內，撈起，再烊再傾，三次。取水煎生地一兩、天冬二錢、細石斛三錢、甘草一錢、石菖蒲一錢服。倪留余就寢書室。晨起見倪復治藥，云昨夜服藥後，至今止厥六次，厥亦甚輕。故照前方再煎與服，服後厥遂不發。後生一子。計其時，乃受胎初月也。移治中年非受胎者，亦屢效。</p>
<p>吳門葉氏，治一反張，發時如跳蟲，離席數寸，發過即如平人。用白芍、甘草、紫石英、炒小麥、南棗，煎服而愈。《捷徑方》載一毒藥攻胎，藥毒衝上，外證牙關緊急，口不能言，兩手強直握拳，自汗，身有微熱，與中風相似，但脈浮而軟，十死一生，醫多不識，若作中風治必死。用白扁豆二兩，生去皮為末，新汲水調下，即效。</p>
<p>沈堯封曰：痰滯經絡，宜二陳加膽星、竹瀝、薑汁。</p>
<h3>第十四節‧初娠似勞</h3>
<p>沈堯封曰：錢彬安室人，內熱咳嗆涎痰，夜不能臥，脈細且數，呼吸七至，邀余診視。問及經事，答言向來不準，今過期不至。余因鄰近，素知伊芳稟怯弱，不敢用藥。就診吳門葉氏，云此百日勞，不治。延本邑浦書亭治療，投逍遙散，不應；更蔞蕤湯，亦不應。曰：病本無藥可治，但不藥必駭病者，可與六味湯，聊復爾爾！因取六味丸料二十分之一煎服，一劑咳減，二劑熱退，四劑霍然。惟腹中覺有塊，日大一日，彌月生一女，母女俱安。越十余年，女嫁母故。後以此法治懷妊咳嗆涎疾，或內熱或不內熱，或脈數或脈不數，五月以內者俱效，五月以外者，有效有不效。</p>
<p>王孟英按：亦有勞損似娠者，蓋凡事皆有兩面也。</p>
<h3>第十五節‧喘</h3>
<p>丹溪曰：因火動胎，逆上作喘急者，用條芩、香附為末，水調服。</p>
<p>呂滄洲曰：有婦胎死腹中，病喘不得臥，醫以風藥治肺。診其脈：氣口盛人迎一倍，左關弦勁而疾，兩尺俱短而離經。因曰：病蓋得之毒藥動血，以致胎死不下，奔迫而上衝，非外感也。大劑芎歸湯，加催生藥服之，下死胎。其夫曰：病外家有娠，室人見嫉，故藥去之，眾所不知也。</p>
<p>沈堯封曰：外感作喘，仍照男子治。故不錄。他病仿此。</p>
<p>王海藏《醫壘元戌》曰：胎前病唯當順氣。若外感四氣，內傷七情，以成他病，治法與男子同，當於各證類中求之，惟動胎之藥，切不可犯。</p>
<h3>第十六節‧惡阻</h3>
<p>《金匱》曰：婦人得平脈，陰脈小弱，其人渴，不能食，無寒熱，名妊娠。於法六十日當有此證。設有醫治逆者，卻一月加吐下者，則絕之。</p>
<p>沈堯封曰：樓全善云：惡阻謂嘔吐惡心，頭眩，惡食擇食是也。絕之者，謂絕止醫藥，候其自安也。余嘗治一二妊婦嘔吐，愈治愈逆，因思「絕之」之旨，停藥月余自安。</p>
<p>朱丹溪曰：有妊二月，嘔吐，眩暈，脈之左弦而弱，此惡阻因怒氣所激。肝氣既傷，又挾胎氣上逆，以茯苓半夏湯下抑青丸。</p>
<p><u>《千金》半夏茯苓湯</u></p>
<p>　治妊娠阻病，心中憒悶，空煩吐逆，惡聞食氣，頭眩，體重，四肢百節疼煩沉重，多臥少起，惡寒，汗出，疲極，黃瘦。</p>
<p>半夏　生薑（各三十銖）　乾地黃　茯苓（各十八銖）　橘皮　旋覆花　細辛　人參　芍藥　芎　桔梗甘草（各十二銖）</p>
<p>右十二味　咀，以水一斗，煮取三升，分三服。若病阻，積月日不得治，及服藥冷熱失候，病變客熱煩渴，口生瘡者，去橘皮、細辛，加前胡、知母各十二銖；若變冷下利者，去乾地黃，入桂心十二銖；若食少，胃中虛生熱，大便閉塞，小便亦少者，宜加大黃十八銖，去地黃，加黃芩六銖，余依方服一劑，得下後消息。看氣力冷熱增損，更服一劑湯，便急使茯苓丸，令能食，便強健也。忌生冷醋滑油膩。</p>
<p><u>《千金》茯苓丸</u></p>
<p>　服前湯兩劑後，服此即效。</p>
<p>茯苓　人參　桂心（熬）　乾薑　半夏　橘皮（各一兩）　白朮　葛根　甘草　枳實（各二兩）</p>
<p>右十味，蜜丸梧子大，飲服二十丸，漸加至三十丸，日三次。</p>
<p>徐藹輝曰：《肘後》不用乾薑、半夏、橘皮、白朮、葛根，只用五物。妊娠忌桂，故熬。</p>
<p>王孟英按：胎前、產後，非確有虛寒脈證者，皆勿妄投熱劑，暑月尤宜慎之。</p>
<p>又治妊娠惡阻嘔吐不下食方青竹茹　橘皮（各十八銖）　茯苓　生薑（各一兩）　半夏（三十銖）</p>
<p>右五味，水六升，煮取二升半，分三服。</p>
<p><u>《千金》橘皮湯</u></p>
<p>　治妊娠嘔吐，不下食。</p>
<p>橘皮　竹茹　人參　白朮（各十八銖）　生薑（一兩）　厚朴（十二銖）</p>
<p>右六味，水七升，煮取二升半，分三服。</p>
<p>沈堯封曰：費姓婦懷妊三月，嘔吐飲食，服橘皮、竹茹、黃芩等藥不效。松郡車渭津用二陳東加旋覆花、薑皮，水煎，沖生地汁一杯，一劑吐止，四劑全愈。一醫笑曰：古方生地、半夏同用甚少。不知此方即《千金》半夏茯苓湯，除去細辛、桔梗、芎　、白芍四味。</p>
<p>堯封又曰：嘔吐不外肝、胃兩經病。人身臟腑，本是接壤，懷妊則腹中增了一物，臟腑機栝，為之不靈，水穀之精微，不能上蒸為氣血，凝聚而為痰飲，窒塞胃口，所以食入作嘔，此是胃病；又婦人既娠，則精血養胎，無以攝納肝陽，而肝陽易升，肝之經脈夾胃，肝陽過升，則飲食自不能下胃，此自肝病。《千金》半夏茯苓湯中用二陳，化痰以通胃也；用旋覆，高者抑之也；用地黃，補陰吸陽也；用人參，生津養胃也。其法可謂詳且盡矣。至若細辛亦能散痰，桔梗亦能理上焦之氣，芎　亦能宣血中之滯，未免升提；白芍雖能平肝斂陰，仲景法，胸滿者去之，故車氏皆不用。斟酌盡善，四劑獲安，有以也。</p>
<p>王孟英按：發明盡致，精義入神。</p>
<p>沈堯封曰：蔡姓婦惡阻，水藥俱吐。松郡醫用抑青丸，立效。黃連一味為末，粥糊丸麻子大，每服二三十丸。</p>
<p>堯封又曰：肝陽上升，補陰吸陽，原屬治本正理。至肝陽亢甚，滴水吐出，即有滋陰湯藥，亦無所用，不得不用黃連之苦寒，先折其太甚，得水飲通，然後以滋陰藥調之，以收全效。</p>
<p>王孟英按：左金丸亦妙。</p>
<p>沈堯封曰：沈姓婦惡阻，水漿下咽即吐，醫藥雜投不應。身體骨立，精神困倦，自料必死，醫亦束手。一老婦云：急停藥，八十日當愈。後果如其言。停藥者，即《金匱》「絕之」之義也。至八十日當愈一語，豈《金匱》「六十日當有此證」之誤耶？不然，何此言之驗也。</p>
<p>堯封又曰：朱宗承正室，甲戌秋，體倦吐食，診之略見動脈，詢得停經兩月，惡阻證也。述前治法，有效有不效。如或不效，即當停藥，錄半夏茯苓湯方與之，不效，連更數醫。越二旬，復邀余診。前之動脈不見，但覺細軟，嘔惡日夜不止，且吐蛔兩條。余曰：惡阻無礙，吐蛔是重候。姑安其蛔以觀動靜，用烏梅丸，早晚各二十丸，四日蛔止，嘔亦不作。此治惡阻之變局也，故志之。</p>
<h3>第十七節‧子煩</h3>
<p>（妊婦煩名子煩）</p>
<p>丹溪曰：因胎元壅鬱熱氣所致。</p>
<p>沈堯封曰：子煩病因：曰痰、曰火、曰陰虧。因痰者，胸中必滿。仲景云，心中滿而煩，宜瓜蒂散，此是吐痰法。妊婦禁吐，宜二陳東加黃芩、竹茹、旋覆花。陰虧火甚者，仲景黃連阿膠湯最妙。</p>
<p>汪　庵《醫方集解》有竹葉湯一方，治妊娠心驚膽怯，終日煩悶，名子煩。因受胎四五月，相火用事；或盛夏君火大行，俱能乘肺以致煩悶。胎動不安，亦有停痰積飲，滯於胸膈，以致煩悶者。</p>
<p>麥冬（錢半）　茯苓　黃芩（一錢）　人參（五分）　淡竹葉（十片）</p>
<p>竹葉清煩，黃芩消熱，麥冬涼肺。心火乘肺，故煩出於肺。茯苓安心，人參補虛，妊娠心煩，固多虛也。如相火盛者，單知母丸；君火盛者，單黃連丸；心神不安者，朱砂安神丸。切不可作虛煩，用梔豉等藥治之。一方茯苓為君，無人參，有防風、知母，有痰者加竹瀝。</p>
<h3>第十八節‧子懸</h3>
<p><u>嚴氏紫蘇散</u></p>
<p>　許叔微曰：治懷胎近上，脹滿痰痛，謂之子懸。陳良甫曰：妊至四五月，君相二火養胎，熱氣逆上，胎湊心胸，腹滿痞悶，名曰子懸。用此加黃芩、山梔之類。一方無川芎，名七寶散。許叔微云：六七月子懸者用之，數數有驗，不十服，胎便近下。</p>
<p>紫蘇（一錢）　腹皮　人參　川芎　橘皮　白芍　當歸（各三分）　甘草（一分）</p>
<p>銼分三服，水一盞，生薑四片，蔥白煎，去渣服。</p>
<p>徐藹輝曰：去川芎，因避升提之故。</p>
<p>汪　庵曰：治胎氣不和，湊上胸腹，腹滿，頭疼，心腹腰脅皆痛，名子懸。因下焦氣實，相火旺盛，舉胎而上，上逼心胸也。每服止用蘇葉一錢，當歸七分，腹皮以下皆五分，甘草二分，無蔥白；心腹痛者，加木香、延胡。</p>
<p>陳來章曰：芎、歸、芍藥以和其血；蘇、橘、大腹以順其氣。氣順血和，則胎安矣。既利其氣，復以人參、甘草養其氣者。順則順其邪逆之氣，養則養其沖和之氣也。</p>
<p>徐藹輝曰：延胡動血，恐未可用。</p>
<p>趙養葵有命門虛寒，胎上湊心就暖一說。</p>
<p>沈堯封曰：此是百中僅一，非實是虛寒脈證，熱藥不可嘗試。</p>
<p>沈堯封曰：郁姓婦懷妊九月，偶因勞動，遂覺腹痛，胎漸升至胸中，氣塞不通，忽然狂叫咬人，數人扶持不住，病名子上撞心，即子懸之最重者。用旋覆代赭湯去參、棗，連灌兩劑，胎墮得生。又一婦，證亦如之，服前藥，胎墮而死。</p>
<p>堯封又曰：陸檢修正室，子上撞心。江穩婆教磨代赭汁服，遂產兩子。一子在上，橫於心下，一子撞著上子，故經一晝夜不至撞心，得不死，產下遂安。</p>
<p><u>蔥白湯</u></p>
<p>　治胎上逼心煩悶，又治胎動困篤。本草云：蔥白通陽安胎。樓全善曰：此方神效，脈浮滑者宜之。蔥白二七莖，濃煮汁飲之，胎未死即安，已死即出。未效再服。</p>
<p>陳良甫曰：一婦孕七個月遠歸，忽然胎上衝作痛，坐臥不安。兩醫治之無效，遂云胎已死。用蓖麻子研爛，和麝香貼臍中以下之，命在呼吸。余診視：兩尺脈絕，他脈和平。余問二醫作何證治之？答云：死胎。</p>
<p>問何以知之？曰：兩尺沉絕，以此知之。余曰：此說出何書？二醫無答。余曰：此子懸也。若是死胎，卻有辨處：面赤舌青，子死母活；面青舌赤吐沫，母死子活；唇舌俱青，子母俱死。今面不赤，舌不青，其子未死，是胎上逼心，宜以紫蘇飲。連進至十服，而胎近下矣。</p>
<p>李氏曰：子懸證，火盛極，一時心氣悶絕而死，紫蘇飲連進可救。若兩尺脈絕者，有誤服動胎藥，子死腹中，則憎寒，手指唇爪俱青，全以舌為證驗，芎歸湯救之。</p>
<p>王孟英按：戊申秋，荊人妊八月，而患咳嗽礙眠，鼻衄如射，面浮肢腫，諸藥不應。諦思其故，素屬陰虛，內火自盛，胎因火動，上湊心胸，肺受其沖，咳逆乃作，是不必治嗽，仍當以子懸治之。因以七寶散去參、芍、生薑，為其胸滿而內熱也；加生石膏以清陽明之火；熟地黃以攝根蒂之陰。投匕即安。今年冬仲，亦以八月之娠，而悲哀勞瘁之余，胎氣衝逆，眩暈嗽痰，脘脹便溏，苔黃口渴。予蠲飲六神湯去膽星、茯苓，加枳實、蘇葉、大腹皮以理氣開鬱；黃芩、梔子、竹茹以清熱安胎。一劑知，二劑已。凡子懸因於痰滯者，余每用此法，無不應如桴鼓。</p>
<h3>第十九節‧妊娠腫脹</h3>
<p>沈堯封曰：妊婦腹過脹滿，或一身及手足面目俱浮，病名子滿，或名子腫，或名子氣，或名胎水，或名琉璃胎。但兩腳腫者，或名皺腳，或名脆腳。名色雖多，不外有形之水病，與無形之氣病而已。何則？胎礙臟腑，機栝不靈。腎者胃之關也，或關門不利，因而聚水；或脾不能散精行肺；或肺不能水精四布；此有形之水病也。又腹中增一物，則大氣升降之道窒塞，此無形之氣病也。病在有形之水，其證必皮薄色白而亮；病在無形之氣，其證必皮濃色不變。說見《內經‧脹論》，細玩自明。更有痰滯一證，痰雖水類，然凝聚質濃，不能遍及皮膚，惟壅滯氣道，使氣不宣通，亦能作腫，其皮色不變，故用理氣藥不應，加化痰之品，自然獲效。</p>
<p>徐藹輝曰：《靈樞‧水脹論》曰：水始起，目窠上微腫，如新臥起之狀，其頸脈動，時咳，陰股間寒，足脛腫，腹乃大，其水已成矣。以手按其腹，隨手而起，如裹水之狀，此其候也。膚脹者，寒氣客於皮膚之間，然不堅，腹大身盡腫，皮濃，按其腹　而不起，腹色不變，此其候也。愚按於膚脹言皮濃色不變，則水脹之皮薄色變可知矣。存參。</p>
<p><u>《千金》鯉魚湯</u></p>
<p>　治妊娠腹脹滿，或渾身浮腫，小便赤澀。</p>
<p>沈堯封曰：此治有形之水也，以腹脹滿為主。身腫溺澀上加一「或」字，乃或有或無之詞，不必悉具。</p>
<p>陳良甫曰：胎孕至五六個月，腹大異常，此由胞中蓄水，名曰胎水。不早治，恐胎死。或生子手足軟短，宜《千金》鯉魚湯。蓋鯉魚歸腎，又是活動之物，臣以苓、朮、薑、橘，直達胞中去水；又恐水去胎虛，佐以歸、芍，使胎得養。真神方也。</p>
<p>當歸　白芍（各一錢）　茯苓（一錢五分）　白朮（二錢）　橘皮紅（五分）　鯉魚（一尾去鱗腸）</p>
<p>作一服，白水煮熟，去魚，用汁一盞半，入生薑三片，煎一盞，空心服，胎水即下。如腹悶未盡除，再合一服。</p>
<p><u>《金匱》葵子茯苓湯</u></p>
<p>　治妊娠有水氣，身重，小便不利，洒淅惡寒，起即頭眩。</p>
<p>沈堯封曰：此滑利之劑，亦治有形之水。</p>
<p>葵子（一斤）　茯苓（三錢）</p>
<p>為散，飲服方寸匕，日三服，小便利則愈。</p>
<p><u>天仙藤散</u></p>
<p>　治妊娠三月成胎之後，兩足自腳面漸腫至腿膝，行步艱難，喘悶妨食，狀似水氣，甚至足指間出黃水者，謂之子氣。此元豐中淮南名醫陳景初制，本名香附散，李伯時更名天仙　散。</p>
<p>沈堯封曰：此理氣方也。腳面漸腫至腿膝，並足指間黃水出，是水與氣同有之證，不得即謂之氣病。必皮濃色不變，方是氣病，用此方為對證。</p>
<p>天仙藤（即青木香　，洗，略焙）　香附（炒）　陳皮　甘草　烏藥　木香等分銼末，每服五錢，加生薑三片、紫蘇五葉，水煎，日三服。腫消止藥。</p>
<p>齊仲甫曰：妊娠八九月見腳腫，不必治，當易產：因胎中水必多，不致燥胎故也。若初妊即腫者，是水氣過多，兒未成體，恐胎傷壞。</p>
<p>腳腫主男胎。宋少主微行，徐文伯從。見一妊婦不能行，少主脈之曰：此女形也。文伯診之曰：此男胎也，在左則胎色黑。少主怒，欲破之。文伯惻然曰：臣請針之。補合谷，瀉三陰交，應手而下，男形而色黑。</p>
<p>薛立齋案云：一妊婦腹脹，小便不利，吐逆，諸醫雜進溫胃寬氣等藥，服之反吐，轉加脹滿湊心。驗之胎死已久，服下死胎藥不能通，因得鯉魚湯。其論曰：妊婦通身腫滿，或心胸急脹，名曰胎水。遂看妊婦胸肚不分，急以鯉魚湯三五服，大小便皆下惡水，腫消脹去，方得分娩死胎。此證蓋因懷妊腹大，不以為怪，競至傷胎，可不慎哉！</p>
<h3>第二十節‧妊娠經來</h3>
<p>王叔和曰：婦人月經下，但少，師脈之，反言有娠。其後審然，其脈何類？曰：寸口脈陰陽俱平，營衛調和，（沈注：寸口脈陰陽俱平，自然營衛調和也。）按之則滑，浮之則輕。（沈注：重按之以候陰分，則滑是有餘之象；浮取之以候陽分，則輕是不足之象。竊謂此即陰搏陽別之義。）陽明少陰，各如經法。（沈注：沖隸陽明主血，任隸少陰主精。各如經法，精血無損，是有妊而不墮之象。）身反洒淅不欲食，頭痛，心亂，嘔吐，（沈注：諸證經所謂身有病而無邪脈，妊子也。）呼之則微，吸之不驚。陽多氣溢，陰滑氣盛，滑則多實，六經養成，所以月見。（沈注：呼出之氣微數，吸入之氣舒徐不驚，是陽氣多溢於外。令陽氣不足於內，陰脈滑則陰血內盛，所以月見經來。六經養成句無解，尚須查詳。）陰見陽精，汁凝胞散，散者損胎。</p>
<p>（沈注：若陰分虛而陽精乘之，胞中必散，方是胎墮。然胞中若散，脈必散而不滑，今脈滑無虞也。）設復陽盛，雙妊二胎，今陽不足，是故令激經也。（沈注：設陰陽俱盛必雙胎。今氣不足而血有餘，非雙胎，乃激經也。）</p>
<p>考異：「月經下」，周本作「經月下」。「但少」，周本作「但為微少」。「娠，作嘔，何類？」周本下有「何以別之？」四字。「按之則滑」，周無「則」字。「不欲食」，周本下有「飲」字。「嘔吐」，周本作「嘔噦欲吐」。「呼之則微」，周作「呼則微數」。「吸之不驚」，周作「吸則不驚」。「散者損胎」，周作「散者損墮」。</p>
<p>《產乳集》曰：妊婦月信不絕，而胎不損，問產科熊宗古。答云：此婦血盛氣衰，其人必肥。既妊後，月信常來，而胎不動。若便以漏胎治之，則胎必墮；若不作漏胎治，則胎未必墮。宗古之言，誠為有見。然亦有未必因血盛者，榮經有風，則經血喜動，以風勝故也。則所下者，非養胎之血，若作漏胎治，投以滋補，是實實也，胎豈有不墮？若知是風，專以一味風藥投之，經信可止，即不服藥，胎亦無恙。亦有胎本不固，因房室不節，先漏而後墮胎者，須作漏胎治，又不可不審！沈堯封曰：妊娠經來，與漏胎不同。經來是按期而至，來亦必少，其人血盛氣衰，體必肥壯。漏胎或因邪風所迫，或因房室不節，血來未必按期，體亦不必肥壯。且漏胎之因，不盡風邪、房室，更有血熱肝火諸證，不可不察脈辨證。風入脈中，其脈乍大乍小，有時隆起。所云一味治風藥，是舉卿古拜散。（沈注：即華佗愈風散。</p>
<p>荊芥略炒為末，每服三錢，黑豆淬酒調服。）血熱證必五心煩熱，治以黃芩、阿膠涼血之藥。肝火內動，脈必弦數，並見氣脹腹痛，治以加味逍遙散。房勞證脈必虛，宜人參；或虛而帶數，宜六味湯。</p>
<p>虞天民曰：或問妊婦有按月行經而胎自長者；有三五個月，其血大下而胎不墮者；或及期而娩；或逾月而生。其理何歟？曰：按月行經而胎自長者，名曰盛胎。其婦氣血充盛，養胎之外，其血有餘故也；有數月之胎而血大下，謂之漏胎：因事觸胎，動其衝脈，故血下而不傷子宮也。然孕中失血，胎雖不墮，氣血亦虧，多致逾月不產。曾見有十二三月、十七八月或二十四五個月生者，往往有之，俱是氣血不足，胚胎難長故耳！凡十月之後未產者，當大補氣血以培養之，庶無分娩之患。</p>
<p>李氏曰：胎漏自人門下血，尿血自尿門下血。</p>
<p>蕭賡六云：胎漏下血，頻出無時；尿血溺時方下，不溺則不下。</p>
<p>沈堯封曰：尿血，小薊飲子妙。</p>
<p>王孟英按：懷孕屢漏之後，氣血耗傷，有遲至三四十月而生者。或謂妊娠帶下，多主生女，亦大不然也。吳醞香大令五令媳，素患帶，婚後帶益盛，繼漸汛愆，醫皆以為帶所致，久投溫澀無效。余診之，脈甚滑數，以懷麟斷，清其胎火而愈。及期果誕一子。</p>
<h3>第二十一節‧子淋、轉胞</h3>
<p>徐藹輝曰：此「淋」字，與俗所云「赤淋」淋字不同。彼指赤帶言，系女精；此系指小水言也。</p>
<p>妊婦淋曰子淋。小便不出曰轉胞。子淋小便頻數，點滴而痛；轉胞頻數，而溲少不痛。淋屬肝經陰虧火熾；轉胞因膀胱被胎壓住。膀胱止有一口，未溺時其口向上，口端橫一管，上半管即名下焦，下半管即是溺孔。未溺時，膀胱之底下垂如瓶狀，其口在上，與下焦直對，溺從下焦滲入，故曰「下焦者，別回腸，而滲入膀胱焉。」欲溺時，大氣舉膀胱之底，如傾瓶狀，其口向下，從溺孔注出，故曰「氣化則能出矣」。轉胞一證，因胎大壓住膀胱，或因氣虛不能舉膀胱之底。氣虛者補氣，胎壓者托胎。若浪投通利，無益於病，反傷正氣。</p>
<p>徐藹輝曰：汪　庵又謂胞系轉戾，臍下急痛為轉胞，溲或數或閉。二說小異。</p>
<p><u>子淋方</u></p>
<p>生地　阿膠　黃芩　黑山梔　木通　甘草　水煎服。</p>
<p>丹溪治一妊婦小便不通，令一婦用香油塗手，自產門入，托起其胎，溺出如注。即用人參、黃　、升麻大劑煎服。又治一婦轉胞，用參、歸煎服，探吐得愈。</p>
<p>沈堯封曰：　庵載其方名參朮飲。用當歸、熟地黃、芎　、芍藥、人參、白朮、留白陳皮、半夏、炙甘草，加薑煎，空心服。丹溪論曰：窘胞之病，婦之稟受弱者、憂悶多者、性躁急者、食味濃者，多有之。古方用滑藥鮮效，因思胞不自轉，為胎被壓，若舉起胎，胞必自疏，水道自通矣。近吳宅寵人患此，脈似澀，重則弦。予曰：此得之憂患。澀為血少氣多；弦為有飲。血少則胎弱不能舉；氣多有飲，中焦不清而溢，則胎避而就下。乃以上藥與飲，隨以指探喉中，吐出藥汁，候氣定，又與之而安。此恐偶中，後治數人皆效。</p>
<p>仲景云：婦人本肥盛，今反羸瘦，胞系了戾，但利小便則愈，宜服腎氣丸：以中有茯苓故也；地黃為君，功在補胞。又法：將孕婦倒豎，胞轉而小便自通矣。</p>
<p>沈堯封曰：汪昂采《本事》安榮散，治子淋心煩悶亂。云子淋，膀胱小腸虛熱也，虛則不能制水，熱則不能通利，故淋。心與小腸相表裡，故煩悶。方用人參、甘草之甘以補虛；木通、燈草之滲，滑石之滑，以通淋　。肺燥則天氣不降，而麥冬能清之；腎燥則地氣不升，而細辛能潤之；血燥則溝瀆不濡，而當歸能滋之也。亦有因房勞內傷胞門，衝任虛者，宜八珍湯或腎氣丸。</p>
<h3>第二十二節‧妊娠滯下及下利</h3>
<p>《本草綱目》：妊娠下利，用雞卵一個，烏骨者尤妙。開孔去白留黃。入漂鉛丹五錢攪勻，泥裹煨透，研末。每服二錢，米飲下。一服效是男，兩服效是女。</p>
<p>沈堯封曰：曾試過，有效有不效。然利即不止，而腹痛必緩。</p>
<p>薛立齋云：一妊婦久利，用消導理氣之劑，腹內重墜，胎氣不安。又用阿膠、艾葉之類不應，用補中益氣湯而安。繼用六君子全愈。</p>
<p>又云：妊身利下黃水，是脾土虧損，其氣下陷也，宜補中湯。</p>
<p>王孟英按：此下利乃泄瀉自利之證，若滯下赤白之痢證，仍當別治。</p>
<h3>第二十三節‧妊娠腹痛</h3>
<p>《金匱》曰：婦人懷妊腹中　痛者，當歸芍藥散主之。</p>
<p>當歸（三兩）　芍藥（一斤）　茯苓（四兩）　白朮（四兩）　澤瀉（半斤）　芎　（三兩）</p>
<p>右六味為散，取方寸匕，酒和，日三服。</p>
<p>《金匱》曰：妊娠腹中痛，為胞阻，膠艾湯主之。</p>
<p>芎　阿膠　甘草（各二兩）　艾葉　當歸（各三兩）　芍藥（四兩）　乾地黃（六兩）</p>
<p>右七味，水五升，清酒三升，合煮取三升，去渣，內膠令消盡，溫服一升，日三次。</p>
<p>徐藹輝曰：嚴氏用治胎動胎漏、經漏腰痛、腹滿搶心。短氣加黃　。　庵亦謂妊娠下血腹痛為胞阻，主此湯。又曰：又方阿膠一斤，蛤粉炒，艾葉數莖，亦名膠艾湯。治胎動不安，腰腹疼痛，或胎上搶心，去血腹痛。</p>
<p>《金匱》曰：懷妊六七月，脈弦發熱，其胎愈脹，腹痛惡寒者，小腹如扇。所以然者，子臟開故也，當以附子湯溫其臟。</p>
<p>附子（二枚，破八片，去皮）　人參（二兩）　白朮（四兩）　芍藥（三兩）　茯苓（三兩）</p>
<p>《大全》云：妊娠四五月後，每當胸腹間氣刺滿痛，或腸鳴，以致嘔逆減食。此由忿怒憂思過度、飲食失節所致。蔡元度寵人有子，夫人怒欲逐之，遂成此病。醫官王師復處以木香散；莪朮、木香、甘草、丁香。鹽湯下，三服而愈。</p>
<p>沈堯封曰：夏墓蕩一婦，豐前橋章氏女也。己卯夏，章氏來請，云懷孕七個月，患三瘧痢疾。及診，病者止云小便不通，腹痛欲死，小腹時有物壟起；至若痢疾，日夜數十起，所下無多，仍是糞水；瘧亦寒熱甚微。予思俱是肝病。蓋肝脈環陰器，抵少腹，肝氣作脹，故小腹痛、溺不利，脹甚則數欲大便；肝病似瘧，故寒熱。予議泄肝法，許其先止腹痛，後利小便。彼云：但得如此即活，不必顧胎。予用川楝子、橘核、白通草、白芍、茯苓、甘草煎服。一劑腹痛止、小便利；四劑瘧利盡除，胎亦不墮。以後竟不服藥，彌月而產。</p>
<p>王孟英按：徐悔堂云：秣陵馮學園之內，久患痞痛。每發自臍間策策動，未幾遍行腹中，疼不可忍。頻年醫治，不一其人，而持論各異。外貼膏藥，內服湯丸，攻補溫涼，備嘗不效，病已瀕危，謝絕醫藥。迨半月後，病勢稍減。兩月後，飲食如常。而向之策策動者，日覺其長，馴至滿腹。又疑其鼓也，復為醫治，亦不能愈，如是者又三年。忽一日腹痛幾死，旋產一男，母子無恙，而腹痞消。計自初病至產，蓋已九年余矣。此等奇證，雖不恆見，然為醫者，不可不知也。</p>
<h3>第二十四節‧妊娠腰痛</h3>
<p>《大全》云：婦人腎以系胞，腰痛甚則胎墮，故最為緊要。若閃挫氣不行者，通氣散；腎虛者，青娥不老丸。總以固胎為主。</p>
<p>通氣散方（《良方》）破故紙瓦上炒香為末，先嚼胡桃一個，爛後，以溫酒調服故紙末三錢，空心服。治妊婦腰痛不可忍，此藥最神。</p>
<p>王孟英按：故紙性熱妨胎，惟閃挫可以暫用，或但服胡桃較妥。</p>
<p>薛立齋云：腰痛因肝火動者，小柴胡東加白朮、枳殼、山梔。</p>
<p>沈堯封曰：腰之近脊處屬腎；兩旁近季脅者屬肝。</p>
<h3>第二十五節‧妊娠腹內鐘鳴</h3>
<p>《大全》用鼠窟前後土為細末，研麝香，酒調下，立愈。</p>
<h3>第二十六節‧腹內兒哭</h3>
<p>《產寶》云：腹中臍帶上疙瘩，兒含口中，因妊婦登高舉臂，脫出兒口，以此作聲。令妊婦曲腰就地，如拾物狀，仍入兒口，即止。又云：用空房中鼠穴土，同川黃連煎汁飲，亦效。</p>
<p>沈堯封曰：相傳腹內鐘鳴，即是兒哭。今人治此，撒豆一把在地，令妊婦細細拾完，即愈。此是妙法。</p>
<p>王孟英按：此　言也。王清任曰：初結胎無口時，又以何物吮血養生？既不明白，何不歸而謀諸婦。</p>
<p>訪問的確再下筆，庶不貽笑後人。此說甚精。余嘗謂身中之事，而身外揣測，雖聖人亦不免有未必盡然之處。故拙案論證，但以氣血寒熱言之，固屬　陋，實不敢以己所未信者欺人也。今春與楊素園大令言及，從來臟腑之論，殊多可疑。楊侯嘆曰：君可謂讀書得間，不受古人之欺者矣。因出玉田王清任《醫林改錯》見贈。披閱之下，竟將軒岐以來四千余年之案，一日全反，毋乃駭聞？然此公征諸目擊，非托空言，且楊侯遍驗諸獸，無不吻合。然則昔之鑿鑿言臟腑之形者，豈不皆成笑柄哉？然泰西《人身HT　說》一書，流入中國已二百余年，所載臟腑與王說略同。而俞理初未見改錯，過信古書，於癸巳類稿內沿襲舊偽。謂中外臟腑迥殊，且云外洋人睪丸有四枚，尤屬杜撰欺人。</p>
<h3>第二十七節‧養胎</h3>
<p>徐藹輝曰：《金匱》云：懷身七月，太陰當養。以此見十月養胎之說，其來久矣。</p>
<p>徐之才曰：妊娠一月名胎胚，足厥陰肝脈養之；二月名始膏，足少陽膽脈養之；三月名始胞，手少陰心主胞絡脈養之；四月始受水精以成血脈，手少陽三焦脈養之；五月始受火精以成氣，足太陰脾脈養之；六月始受金精之氣以成筋，足陽明胃脈養之；七月始受木精之氣以成骨，手太陰肺脈養之；八月始受土精之氣以成膚革，手陽明大腸脈養之；九月始受石精之氣以成毛髮，足少陰腎脈養之；十月五臟六腑皆具，俟時而生。</p>
<p>徐藹輝曰：《人鏡經》惟手太陽小腸與手少陰心二經不養者，以其上為乳汁，下主月水也。</p>
<p>王孟英按：此亦道其常耳！有每妊不足月而產者；有必逾期而產者；有先後不等者：亦不為病也。惟產不足月，而形有未備，或產雖足月，而兒極萎小者，皆母氣不足為病。再有身時，須預為調補，自然充備。余鄰家畜一母雞，連下數卵，殼皆軟。鄰以為不祥，欲殺之。余謂此下卵過多，母氣虛也。令以糯米、蛇床子飼之，數日後下卵如常。推之於人，理無二致。</p>
<p>巢元方曰：妊娠受胎，七日一變。墮胎在三、五、七月者多；在二、四、六月者少。三月屬心，五月屬脾，七月屬肺，皆屬臟，臟為陰，陰常不足，故多墮耳！如在三月墮者，後孕至三月仍墮，以心脈受傷也，先須調心。五月、七月墮者亦然。惟一月墮者，人不知也。一月屬肝，怒則多墮；洗下體，竅開亦墮。一次即墮，肝脈受傷，下次仍墮。今之無子者，大半是一月墮者，非盡不受胎也。故凡初交後，最宜將息，勿復交接以擾子宮，勿令勞怒、勿舉重、勿洗浴，又多服養肝平氣藥，則胎固矣。</p>
<p>丹溪曰：陽施陰化，胎孕以成。血氣虛損，不足榮養其胎，則自墮。譬如枝枯則果落，藤萎則花墮。或勞怒傷情，內火便動，亦能動胎。正如風撼其樹，人折其枝也。火能消物，造化自然，《病源》乃謂風冷傷子臟而墮，未得病情者也。有孕婦至三四月必墮，其脈左手大而無力，重取則澀，知血少也。止補中氣，使血自榮。以白朮濃煎，下黃芩末，數十劑而安。因思胎墮於內，熱而虛者為多。曰熱、曰虛，當分輕重。蓋孕至三月，上屬相火，所以易墮。不然，黃芩、熟艾、阿膠，何謂安胎妙藥耶？方約之曰：婦人有娠則礙脾，運化遲而生濕、濕生熱。丹溪用黃芩、白朮為安胎聖藥。蓋白朮健脾燥濕，黃芩清熱故也。但妊娠賴血養胎，方內四物去川芎，佐之為尤備耳！張飛疇曰：古人用條芩安胎，惟形瘦血熱，營行過疾，胎常上逼者相宜。若形盛氣衰，胎常下墜者，非人參舉之不安；形實氣盛，胎常不運者，非香、砂耗之不安；血虛火旺，腹常急痛者，非歸、芍養之不安；體肥痰盛，嘔逆眩暈者，非二陳豁之不安。此皆治母氣之偏勝也。若有外邪，仍宜表散；伏邪時氣，尤宜急下，惟忌芒硝，切不可犯。</p>
<p>王孟英按：條芩但宜於血熱之體。若血虛有火者，余以竹茹、桑葉、絲瓜絡為君，隨證輔以他藥，極有效。蓋三物皆養血清熱而熄內風。物之堅，莫如竹皮。《禮》云：如竹箭之有筠是也。皮肉緊貼，亦莫如竹，故竹雖蓯而皮肉不相離，實為諸血證之要藥。觀塞舟不漏可知矣。桑葉，蠶食之以成絲；絲瓜絡筋膜聯絡，質韌子堅，具包羅維系之形。且皆色青入肝，肝虛而胎系不牢者，勝於四物、阿膠多矣。惜未有發明之者！王海藏曰：安胎之法有二：如母病以致動胎者，但療母則胎自安；若胎有觸動以致母病者，安胎則母自愈。</p>
<p>丹溪云：有婦經住，或成形未具，其胎必墮。察其性急多怒，色黑氣實，此相火太盛，不能生氣化胎，反食氣傷精故也。</p>
<p>丹溪又曰：有婦經住三月後，尺脈或澀或微弱，其婦卻無病，知是子宮真氣不全，故陽不施，陰不化，精血雖凝，終不成形，或產血塊，或產血泡也。惟脈洪盛者不墮。</p>
<h3>第二十八節‧胎動不安</h3>
<p>血虛火盛，其婦必形瘦色黑。其胎常上逼者，宜條芩、阿膠。</p>
<p>徐藹輝曰：前張飛疇說，謂形瘦血熱宜條芩，血虛火旺宜歸、芍，此似將上二條並為一治，想須在胎上逼與腹急痛上分別，未知是否！存參。</p>
<p>氣虛婦體肥白，胎常下墜，宜人參。</p>
<p>徐藹輝曰：體肥白是氣虛證據，宜與張說參看。又思體肥白者，未必皆氣虛，必肥白而胎下墜，方是形盛氣衰也。須辨。存參。</p>
<p>王孟英按：審屬氣虛欲墮者，補中益氣法甚妙。</p>
<p>形氣盛，胎常不運者，宜香、砂。</p>
<p>痰氣阻滯，體肥，嘔逆眩暈者，宜二陳。</p>
<p>怒氣傷肝，加味逍遙散。</p>
<p>毒藥動胎，白扁豆二兩，生去皮末，新汲水下。</p>
<p>沈堯封曰：已見「厥逆門」，須合參以辨其證。</p>
<p>交接動胎，其證多嘔。《產寶百問方》飲竹瀝一升有驗。人參尤妙。</p>
<p>築磕著胎，惡露已下，疼痛不止，口噤欲絕，用神妙佛手散探之。若不損則痛止，子母俱安；若損胎立便逐下。即芎歸湯治傷胎，多神效。</p>
<p>胎動下血不絕欲死，《本草綱目》用蜜蜂蠟，如雞子大，煎三五沸，投美酒半升服，立瘥。馮云：神效。蠟淡而性澀，入陽明故也。</p>
<p>王孟英按：懷妊臨月，並無傷動，驟然血下不止，腹無痛苦者，名海底漏。亟投大劑參、　，十不能救其一二。此由元氣大虛，衝脈不攝，而營脫於下也。</p>
<p>王叔和曰：胎病不動，欲知生死，令人摸之：如覆盆者則男；如肘頸參差起者女也。冷者為死；溫者為生。</p>
<h3>第二十九節‧胎死腹中及胞衣不下</h3>
<p>《聖濟總錄》云：胞衣不下，急於胎之未生；子死腹中，危於胎之未下。蓋胎兒未下，子與母氣，通其呼吸。若子死腹中，胞臟氣寒，胎血凝冱，氣升不降。古方多用行血、順氣藥，及硝石、水銀、　砂之類。然胎已死，軀形已冷，血凝氣聚，復以至寒之藥下之，不惟無益，而害母命也多矣。古人用藥，深於用意。子死之理有二端，用藥寒溫、各從其宜。如娠婦胎漏，血盡子死者；有墜墮顛撲，內傷子死者；有久病胎萎子死者：以附子湯進三服，使胞臟溫暖，凝血流動。蓋以附子能破寒氣墮胎故也。若因傷寒熱證、溫瘧之類，胎受熱毒而死，留於胞中不下者。古人慮其胎受熱毒，勢必脹大難出，故用朴硝、水銀、砂之類，不惟使胎不脹，且能使胎化爛，副以行血順氣之藥，使胎即下也。</p>
<p>熱病胎死腹中，新汲水濃煮紅花汁，和童便熱飲，立效。（見《本章經疏》）</p>
<p>妊病去胎，大麥芽一升，蜜一升，服之即下。（見《千金方》）</p>
<p>齊仲甫曰：墮胎後血出不止：一則因熱而行；一則氣虛不能斂。瀉血多者，必煩悶而死。或因風冷墮胎，血結不出，搶上攻心，煩悶而死，當溫經逐寒、其血自行。若血淋漓不止，是衝任氣虛，不能約制故也，宜膠艾東加伏龍肝散。</p>
<p>王孟英按：有無故墮胎而惡露全無者，此血虛不能榮養，如果之未熟而落。血既素虧，不可拘常例而再妄行其瘀也。</p>
<p>問：何以知胎死？曰：面赤舌青，母活子死；面青舌赤，子活母死；面舌俱青，子母俱死。死胎墜脹瘀痛，亦與常產不同。</p>
<p>王孟英按：吳鞠通云：死胎不下，不可拘執成方而悉用通法。催生亦然。當求其不下之故，參以臨時所現之脈證若何，補偏救弊，而胎自下也。余謂諸病皆爾，不特下死胎也。又《寓意草》有用瀉白散加芩、桔以下死胎之案。可見人無一定之病，病非一法可治，藥無一定之用，隨機應變，貴乎用得其當也。</p>
<p>王孟英按：許裕卿診邵涵貞室，娠十七月不產，不敢執意憑脈，問諸情況，果孕非病，但云孕五月以後不動，心竊訝之。為主丹參一味，今日服七錢。兩旬胎下，已死而枯。其胎之死，料在五月不動時。經年在腹不腐而枯，如果實在樹，敗者必腐，但亦有不腐者，則枯胎之理可推也。余謂此由結胎之後，生氣不旺，未能長養，萎於胞中，又名僵胎。亦有不足月而自下者，並有不能破胞而自落者，余見過數人矣。若胎已長成，則豈能死於腹中而不為大患，至年余而始下哉？惜許君言之未詳也。丹參長於行血，專用能下死胎，凡胎前皆宜慎用。世人謂其功兼四物，以之安胎，因而反速其墮，而人不知之，余見亦多矣。</p>
<h3>第三十節‧妊娠藥忌</h3>
<p>王孟英按：凡大毒、大熱及破血、開竅、重墜、利水之藥，皆為妊娠所忌。《便產須知》歌曰：　（　青，即青娘子）斑（蝥）水蛭與虻蟲，烏頭附子及天雄，野葛水銀暨巴豆，牛膝薏苡並蜈蚣，（三）棱莪（術）</p>
<p>赭石芫花麝（香），大戟蛇蛻黃雌雄，砒石硝黃（硝兼火硝、芒硝、牙硝。黃是大黃）牡丹桂，槐花（子同此。</p>
<p>藥涼血止血，何以孕婦禁服？蓋能破子宮之精血也）牽牛皂角同，半夏（制過者，不忌）南星（膽制，陳久者不忌）兼通草，瞿麥乾薑桃（仁）木通，鋼砂乾漆蟹爪甲，地膽茅根與　蟲。《本草綱目》續曰：烏喙側子羊躑躅，藜蘆茜（根）（濃）朴及薇銜，　根　茹葵花子，赤箭莽草刺　皮，鬼箭紅花蘇方木，麥　常山蒺藜蟬，錫粉　砂紅娘子（即葛上亭長，）硫黃石蠶並蜘蛛，螻蛄衣魚兼蜥蜴，桑蠹飛生暨樗雞，牛黃犬兔驢馬肉，　蝦蟆鱉共龜。余又補之曰：甘遂沒藥破故紙，延胡商陸五靈脂，薑黃葶藶穿山甲，歸尾靈仙樟（腦）續隨，王不留行龜鱉甲，麻黃（川）椒（神）曲伏龍肝，珍珠犀角車前子，赤芍丹參蔚（茺蔚，即益母草）射干，澤瀉澤蘭紫草郁（金），土瓜（根）滑石（自犀角至此，雖非傷胎之藥，然系行血通竅之品，皆能滑胎。凡胎元不足，及月分尚少者，究宜審用。余性謹慎，故用藥如是。</p>
<p>設有故無殞，不在此例）及紫葳（即凌霄花。）又《外科全生集》云：娠婦患瘡瘍，雖膏藥不宜擅貼，恐內有毒藥，能墮胎也。夫外治尚宜避忌，況內服乎！故婦人善飲火酒者，每無生育，以酒性熱烈，能消胎也。</p>
<p>附及之以為種玉者告。</p>
<h2>卷下</h2>
<h3>第一節‧臨產</h3>
<p>徐藹輝曰：《濟生產經》曰：胎前之脈貴實；產後之脈貴虛。胎前則順氣安胎；產後則扶虛消瘀。此其要也。丹溪云：產後脈洪數；產前脈細小澀弱，多死。懷妊者，脈主洪數。已產而洪數不改者，多主死。</p>
<p>楊子建《十產論》：一曰正產。二曰傷產：未盈月而痛如欲產，非果產也，名為試月，遽爾用力，是謂傷產。三曰催產：正產之候悉見而難產，用藥催之，是謂催產。四曰凍產：冬產血凝不生。五曰熱產：過熱血沸，令人昏暈。六曰橫產：兒身半轉，遽爾用力，致先露手，令穩婆推足入腹。七曰偏產：兒未正而用力所致。八曰礙產：兒身已順，不能生下，或因臍帶絆肩，令穩婆撥之。九曰坐產：急於高處系一手巾，令母攀之，輕輕屈足坐身，可產。十曰盤腸產：臨產母腸先出，然後兒生；產後若腸不收，用醋半盞，新汲水七分和勻，　產母面，每　一縮，三　盡收。</p>
<p>孕婦只覺腹痛，未必遽產；連腰痛者為將產，胞系於腎故也。凡腰腹痛，試捏產母手中指中節或本節跳動，方可臨盆，即產。</p>
<p>王孟英按：中指跳動，亦有不即產者；更有腰腹不甚痛，但覺酸墜而即產者。</p>
<p>兒未生時，頭本在上，欲生時轉身向下，故腹痛難忍。此時婦當正身寬帶仰臥，待兒頭到了產戶，方可用力催下。若用力太早，或束肚倚著，兒不得轉身。即有橫生、逆生手足先出之患。</p>
<p>許叔微曰：有產累日不下，服藥不驗，此必坐草太早。心懼而氣結不行也。經云：恐則氣下；恐則精怯。怯則上焦閉，閉則氣逆，逆則下焦脹，氣乃不行。得紫蘇飲一服便產。（方見子懸門）</p>
<p>王孟英按：難產自古有之。莊公寤生見於《左傳》。故先生如達，不坼不副，詩人以為異征。但先生難而後生易，理之常也，晚嫁者尤可察焉。然頗有雖晚嫁而初產不難者；非晚嫁而初產雖易，繼產反難者；或頻產皆易，間有一次甚難者；有一生所產皆易；有一生所產皆難者。此或由稟賦之不齊，或由人事之所召，未可以一例論也。諺云：十個孩兒十樣生，至哉言乎！若得兒身順下，縱稽時日，不必驚惶，安心靜俟可耳！會稽施圃生茂才誕時，其母產十三日而始下，母子皆安。世俗不知此理，稍覺不易，先自慌張。近有狡黠穩婆，故為恫嚇，要取重價，臠而出之，索謝以去。奈貿貿者尚夸其手段之高。附識於此，冀世人之憬然悟。但有一種騾形者，交骨如環，不能開坼，名鎖子骨。能受孕而不能產，如懷娠，必以娩難死。此乃異稟，萬中不得其一。如交骨可開者，斷無不能娩者也。方書五種不孕之所謂螺者，即騾字訛也。蓋驢馬交而生騾，純牝無牡，其交骨如環無端，不交不孕，稟乎純陰，性極馴良，而善走勝於驢馬，然亦馬之屬也。</p>
<p>《易》曰：坤為馬，行地無疆，利牝馬之貞，皆取象於此之謂也。人賦此形，而不能安其貞，則厄於娩矣。</p>
<p><u>催產神方</u></p>
<p>　治胎漿已出，胎不得下，或延至兩三日者，一服即產，屢用有效。</p>
<p>當歸（四錢）　人參（一錢）　牛膝（二錢）　川芎（一錢）　龜板（三錢）　赫石（三錢研）</p>
<p>肉桂（一錢去皮）　益母（二錢）　水煎服。</p>
<p>王孟英按：此方極宜慎用，夏月尤忌，必審其確系虛寒者，始可服之。通津玉靈湯最妙。余用豬肉一味，煎清湯服，亦甚效。</p>
<p><u>附神驗保生無憂散</u></p>
<p>　婦人臨產先服一二劑，自然易生；或遇橫生、倒產，甚至連日不生，速服一二劑，應手取效。</p>
<p>當歸（酒洗一錢五分）　川貝母（一錢）　黃　（八分）　白芍（酒炒一錢二分冬月用一錢）　菟絲子（一錢四分）　厚朴（薑汁炒七分）　艾葉（七分）　荊芥穗（八分）　枳殼（炒六分）　川芎（一錢三分）</p>
<p>羌活（五分）　甘草（五分）</p>
<p>水二杯，薑二片，煎至八分，空腹溫服。</p>
<p><u>程氏方解</u></p>
<p>　此方流傳海內，用者無不附應，而制方之妙，人皆不得其解。予謂孕婦胎氣完固，腹皮緊窄，氣血裹其胞胎，最難轉動。此方用撐法焉。歸、芎、白芍養血活血者也，厚朴去瘀血者也，用之撐開血脈；羌活、荊芥疏通太陽，將背後一撐，太陽經脈最長，太陽治而諸經皆治；枳殼疏理結氣，將面前一撐；艾葉溫暖子宮，撐動子宮，則胞胎靈動；川貝、菟絲最能運胎順產，大具天然活潑之趣矣。此真無上良方云云。</p>
<p><u>如神散</u></p>
<p>　路上草鞋一雙，名千裡馬，取鼻梁上繩洗淨燒灰，童便和酒調下三錢，神驗。武叔卿《濟陰綱目》云：於理固難通，於用實靈驗。</p>
<p>沈堯封曰：千裡馬得人最下之氣，佐以童便之趨下，酒性之行血，故用之良驗。此藥不寒不熱，最是穩劑。</p>
<p>王孟英按：催生藥不宜輕用，胎近產門而不能即下，始可用之。又須量其虛實，或補助其氣血；或展拓其機關；寒者溫行；熱者清降；逆者鎮墜。未可拘守成方而概施也。</p>
<p>《婦人良方》曰：加味芎歸湯入龜板，治交骨不開。醋、油調滑石，塗入產門，為滑胎之聖藥。花蕊石散治血入胞衣，脹大不能下，或惡露上攻。蓖麻子治胎衣不下。佛手散治血虛危證。清魂散治血暈諸證。失笑散治惡露腹痛，不省人事。</p>
<p>徐藹輝曰：佛手散亦下死胎。胎死宜先服此，不傷氣血。服此不下，次用平胃散加朴硝可也。</p>
<p><u>凍產治驗</u></p>
<p>　劉復真治府判女，產死將殮。取紅花濃煎，扶女於凳上，以綿帛蘸湯罨之，隨以澆帛上，以器盛之，又暖又淋，久而蘇醒，遂產一男。蓋遇嚴冬，血凝不行，得溫故便產也。</p>
<p>逆產足先出，用鹽塗兒足底；橫產手先出，塗兒手心。</p>
<p>徐藹輝曰：鹽螫手足，痛便縮入，俗乃謂之討鹽生也。</p>
<h3>第二節‧胞衣不下</h3>
<p>急以物牢扎臍帶，墜住，使不上升，然後將臍帶剪斷，使血不入胞，萎縮易下。若未系先斷，胞升湊心，必死。</p>
<p>徐藹輝曰：《保生錄》云：覺胎衣不下，產婦用自己頭發塞口中，打一惡心即下。切須放心，不可驚恐，不可聽穩婆妄用手取，多致傷生。又以草紙燒煙熏鼻，即下。</p>
<p>芒硝三錢，童便沖服，立效。俞邃良先生目睹。</p>
<p>松郡一老穩婆，包醫是證。自帶白末藥一包，買牛膝二兩，同煎去渣，沖童便半杯服，立下。</p>
<p>沈堯封曰：白末藥定是玄明粉，玄明粉即制朴硝也。</p>
<h3>第三節‧產後喜笑不休</h3>
<p>一老嫗云：產後被侍者挾落腰子使然。用烏梅肉二個，煎湯服，立效。嘉郡錢鄰哉目睹。</p>
<h3>第四節‧惡露過多不止</h3>
<p>伏龍肝二兩，煎湯澄清，化入阿膠一兩服。如不應，加人參。</p>
<h3>第五節‧惡露不來</h3>
<p>輕則艾葉及奪命散；重則無極丸；寒凝者，肉桂、紅花等藥，並花蕊石散。</p>
<p>王孟英按：產後苟無寒證的據，一切辛熱之藥皆忌。惡露不來，腹無痛苦者，勿亂投藥餌，聽之可也；如有疼脹者，只宜丹參、丹皮、玄胡、滑石、益母草、山楂、澤蘭、桃仁、歸尾、通草之類為治。慎毋妄施峻劑。生化湯最弗擅用。</p>
<h3>第六節‧九竅出血</h3>
<p>《匯補》云：九竅出血，死證恆多。惟產後瘀血妄行，九竅出血，有用逐瘀之藥而得生者，不可遽斷其必死。此是閱歷後之言，不可忽略！雖無方藥，其法已具。</p>
<h3>第七節‧黑氣鼻衄</h3>
<p>郭稽中云：產後口鼻黑氣起及鼻衄者，不治。蓋陽明為經脈之海，口鼻乃陽明所見之部。黑氣鼻衄，是營衛散亂，營氣先絕，故不治。薛立齋云：急用二味參蘇飲加附子，亦有得生者。</p>
<h3>第八節‧眩暈昏冒</h3>
<p>去血過多者，宜重用阿膠，水化，略加童便服；去血不多者，宜奪命散。沒藥去油二錢，血竭一錢，共研末，分兩服，糖調酒下。</p>
<p>沈堯封曰：此條宜與前惡露過多二條參看。</p>
<p>堯封又曰：錢姓婦產後發暈，兩目不醒。產時惡露甚少，暈時惡露已斷。依夫向鄰家討琥珀散一服，約重二錢許，酒調灌下，即醒。其藥之色與香俱似沒藥，大約即是血竭、沒藥之方。</p>
<p>堯封又曰：庚辰春，呂姓婦分娩。次日患血暈，略醒一刻，又目閉頭傾，一日數十發，其惡露產時不少，但亦不斷，脈大左關弦硬。用酒化阿膠一兩，沖童便服。是夜暈雖少減，而頭汗出，少腹痛有形，寒戰如瘧，戰已發熱更甚。投沒藥血竭奪命散二錢，酒調服。寒熱、腹痛、發暈頓除。惟嫌通身汗出，此是氣血已通，而現虛象。用黃　五錢，炒歸身二錢，甘草一錢，炒棗仁三錢，炒小麥五錢，大棗三個，煎服，汗止而安。</p>
<p>王孟英按：惡露雖少，而胸腹無苦者，不可亂投破瘀之藥。今秋周鶴庭室人，新產而眩暈自汗，懶言，目不能開。乃父何新之視脈虛弦浮大，因拉余商治。詢其惡露雖無，而脘腹無患。乃用牡蠣、石英、龜板、鱉甲、琥珀、丹參、甘草、小麥、大棗為劑。覆杯即減，數日霍然。此由血虛有素，既娩則營陰下奪，陽越不潛。設泥新產瘀沖之常例，而不細參脈證，則殺人之事矣。</p>
<h3>第九節‧發狂譫語</h3>
<p>惡露不來者是血瘀，宜無極丸；惡露仍通者是痰迷，宜六神湯：半夏曲一錢，橘紅一錢，膽星一錢，石菖蒲一錢，茯神一錢，旋覆花一錢，水煎濾清服。</p>
<p>沈堯封曰：一成衣婦，產後半月余，發狂打罵不休，其夫鎖之磨上。余付無極丸六錢，分兩服，酒下。</p>
<p>服畢即愈，越四五日復發，又與六服，後不復發。</p>
<p>堯封又曰：丁姓婦產後神昏，譫語如狂，惡露仍通，亦不過多。醫者議攻議補不一。金尚陶前輩後至，診畢曰：待我用一平淡方吃下去看。用杜橘紅、石菖蒲等六味。一劑神氣清，四劑霍然。此方想是屢驗，故當此危證，絕不矜持。歸語舍弟賡虞，答曰：此名六神湯。余未考其所自。</p>
<p>堯封又曰：甲戌孟春，錢香樹先生如君，產後微熱痞悶，時時譫語，惡露不斷。余用理血藥不應，改用六神湯四劑，病去如失。</p>
<h3>第十節‧不能語</h3>
<p>武叔卿曰：熱痰迷心使然。</p>
<p>膽星（一錢）　橘紅（一錢）　半夏（一錢五分）　石菖蒲（一錢）　鬱金（一錢）</p>
<p>水煎，入竹瀝一調羹，生薑汁三小茶匙服。</p>
<p>沈堯封曰：神昏不語，有虛有實，當參旁證及脈。</p>
<h3>第十一節‧聲啞</h3>
<p>此屬腎虛。補腎之中，宜兼溫通。</p>
<p>元生地（四錢）　茯苓（二錢）　山藥（一錢五分炒）　歸身（二錢）　肉桂（五分）　遠志肉（五分炒）</p>
<p>水煎服。</p>
<h3>第十二節‧呃逆</h3>
<p>虛脫惡候，人參送黑錫丹，十全一二。</p>
<p>徐藹輝曰：薑用川采萃一冊，載黑鉛乃水之精，入北方壬癸。凡遇陰火沖逆，真陽暴脫，氣喘痰鳴之急證，同桂、附回陽等藥用之，立見奇功。即經云重劑是也。</p>
<p>又曰：薑又載何惟丹先生呃逆治驗方云：傷寒呃逆，聲聞數家者，用刀豆子數粒，瓦上　存性為末，白湯調下二錢，立止。又《本草綱目》云：病後呃逆，刀豆連殼燒服。薑云：此方宜入旋覆代赭石湯。</p>
<h3>第十三節‧喘</h3>
<p>沈堯封曰，喘有閉、脫二證。下血過多者是脫證。喉中氣促，命在須臾，方書雖有參蘇飲一方，恐不及待。惡露不快者是閉證。投奪命丹可定；如不應，當作痰治。此皆急證。更有一種緩者，樓全善所云：產後喘者多死。有產二月，洗浴即氣喘，坐不得臥者；五月惡風，得暖稍緩。用丹皮、桃仁、桂枝、茯苓、乾薑、枳實、厚朴、桑皮、紫蘇、五味、栝蔞，煎服，即臥，其疾如失：作污血感寒治也。按此亦是痰證，所以能持久；痰滯陽經，所以惡寒。方中著力在栝蔞、厚朴、熾實、桂枝、茯苓、乾薑、五味數味，余皆多贅。</p>
<h3>第十四節‧發熱</h3>
<p>沈堯封曰：產後發熱，所因不同，當與證參看。感冒者鼻塞，亦不可過汗，經有奪血無汗之禁，只宜芎歸湯；停食者噯腐飽悶，宜平劑消食；血虛發熱，無別證者，脈大而芤，宜歸、　；陰虛者煩渴脈細，宜生地、阿膠；更有一種表熱裡寒，下利清穀，煩渴惡熱，脈微細者，此少陰危證，宜四逆湯。</p>
<p>王孟英按：暴感發熱，可以鼻塞驗之。苟胎前伏邪，娩後陡發者，何嘗有頭疼、鼻塞之形證乎？雖脈亦有不即顯露者，惟舌苔頗有可征：或濃白而膩，或黃膩黃燥，或有黑點，或微苔舌赤。或口苦，或口渴，或胸悶，或溲熱。此皆溫濕、暑熱之邪內蘊，世人不察，再飲以糖酒生化湯之類。則輕者重而重者危。不遇明眼，人亦但知其產亡，而不知其死於何病，誤於何藥也。我見實多，每為太息。其後條之乍寒乍熱，亦當如是諦察，庶免遺人夭殃也。</p>
<h3>第十五節‧乍寒乍熱</h3>
<p>仲景曰：病有洒淅惡寒而復發熱者，陽脈不足，陰往乘之；陰脈不足，陽往乘之。</p>
<p>武叔卿曰：血閉於陽經，榮衛之行不通則寒；血閉於陰經，榮衛之行不通則熱。必瘀通而後寒熱自已。</p>
<p>沈堯封曰：後條是瘀血，前條是陰陽相乘，甚則俱有戰栗者。治瘀血宜奪命丹；調補陰陽，輕則歸建中，重則桂附八味。</p>
<h3>第十六節‧頭汗</h3>
<p>王海藏云：頭汗出至頸而還，額上偏多。蓋額為六陽之會，由虛熱熏蒸而出也。</p>
<p>沈堯封曰：汗出不止，屬氣血兩虛。炒黃　五錢，酒炒白芍三錢，歸身二錢，炒棗仁二錢，炙甘草一錢，炒小麥三錢，南棗肉三錢，煎服，神效。與眩暈條呂姓婦一案參證。</p>
<h3>第十七節‧泄瀉、滯下</h3>
<p>沈堯封曰：乙亥初夏，傅木作婦，產時去血過多，隨寒戰汗出，便瀉不止。余用大劑真武，乾薑易生薑，兩劑，戰少定，而汗、瀉如故。又服兩日，寒戰復作，余用補中湯去人參，加附子兩劑。病者云：我肚裡大熱，口渴喜飲，然汗出下利，寒戰仍不減。正凝神思慮間，其母曰：彼大孔如洞，不能收閉，諒無活理。余改用黃　五錢炒，北五味四錢搗，白芍三錢炒，歸身一錢五分炒，甘草一錢五分炒，茯苓二錢，大棗三個。</p>
<p>一劑病減，四劑而愈。</p>
<p>王孟英曰：觀此案則可見氣虛不能收攝者，宜甘溫以補之，酸澀以收之，不可用辛熱走泄以助火而食氣也。</p>
<p>堯封又曰：鄒氏婦，產後便泄，余用參附溫補藥，未效。新城吳敬一診云：虛寒而兼下陷，用補中益氣加熟地、茯苓、桂、附，應手取效。以是知方論內言下虛不可升提，不盡然也。</p>
<p>堯封又曰：陸姓婦，產後三日發疹，細而成粒，不稀不密。用荊芥、蟬蛻、鼠黏子等藥，一劑，頭面俱透。越一日，漸有回意，忽大便溏泄數次，覺神氣不寧。問其所苦？曰熱，曰渴。語言皆如抖出，脈虛細數，有七至。我師金大文診之曰：此陽脫證也，屬少陰。用生附子三錢，水洗略浸，切片，　如炒米色，炮薑八分，炒甘草一錢，炒白芍一錢五分，水煎，沖入童便一調羹，青魚膽汁四小茶匙。（因夜中無豬膽，故以此代。羊膽亦可）服畢即睡，覺來熱渴俱除。續用黃　建中東加丹參、蘇木，二劑而安。</p>
<p>沈堯封曰：產婦惡露不行，余血滲入大腸，洞泄不禁，或下青黑物，的奇散極驗。荊芥大者四五穗，於盞內燃火燒成灰，不得犯油火，入麝香少許，研勻，沸湯一兩呷調下。此藥雖微，能愈大病，慎弗忽視！</p>
<p>《千金》膠蠟湯：治產後利。黃蠟二棋子大，阿膠二錢，當歸二錢半，黃連三錢，黃柏一錢，陳米半升煎湯，煎藥服。</p>
<h3>第十八節‧便秘</h3>
<p>《金匱》云：亡津液，胃燥故也。</p>
<p>沈堯封曰：當用當歸、肉蓯蓉、生首烏、麻仁、杏仁。不應，用麻仁丸四五十丸。</p>
<h3>第十九節‧頭痛</h3>
<p>沈堯封曰：陰虛於下，則陽易上升，致頭痛者，童便最妙。褚侍中云：童便降火甚速，降血甚神，故為療厥逆頭疼之聖藥。若血虛受風，宜一奇散，即芎歸湯也。</p>
<p>薛立齋案載：一產婦頭痛，日用補中益氣，已三年。稍勞則惡寒內熱，擬作陽虛治，加附子一錢於前湯中，數劑不發。</p>
<h3>第二十節‧胃脘痛、腹痛、少腹痛</h3>
<p>沈堯封曰：有血瘀、血虛、停食、感寒、肝氣之異。手按痛減者血虛也。按之痛增者，非停食即瘀血：停食則右關脈獨實，且有噯　氣；瘀血則所下惡露必少。得熱即減者，感寒也。至若厥陰肝脈，抵小腹，挾胃，又為藏血之臟，血去肝虛，其氣易動，一關氣惱，陡然脘腹大痛。治法：血虛宜歸　建中；消食惟楂肉炭最妙，兼和血也；消瘀宜奪命散；感寒者，輕則炮薑、艾葉，重則桂、附、茱萸；肝氣作痛，養血藥中加川楝、橘核苦以泄之，重則烏梅，辛散、酸收、苦泄並用。</p>
<p>徐藹輝曰：一婦產後腹痛，令其夫以手按之，小腹痛尤甚，下惡露而痛仍不減，知其非瘀，乃燥屎也。予藥一劑，大便潤下而愈。薑用川治驗：炮薑五分，丹皮二錢，歸身三錢，川芎一錢五分，山楂二錢炒，枳殼一錢五分炒，麻仁二錢杵爛，桃仁泥二錢，生地二錢，炙甘草四分，加研爛松子仁五粒。</p>
<p>蕭賡六曰：下血過多，肝經血少腹痛，其脈弦者，以熟地、萸肉為君，加白芍、木瓜、蒺藜，一劑可止。</p>
<p>有難產久坐，風入胞門，致腹痛欲絕，其脈浮而弦，續斷一兩，防風五錢，服之立愈。</p>
<h3>第二十一節‧腹中虛痛、胸項結核</h3>
<p>薛立齋案載：一產婦腹中有物作痛，投破氣行血藥尤甚，肢節胸項各結小核，隱於肉裡。此肝血虛也。</p>
<p>蓋肝為藏血之臟而主筋，血虛則筋急而攣。見於肢節胸項者，以諸筋皆屬於節，而胸項又肝之部分也。用八珍、逍遙、歸脾加減治驗。</p>
<h3>第二十二節‧小腹痛瘀血成膿</h3>
<p>薛立齋案載：一產婦小腹作痛，行氣破血，不應。脈洪數，此瘀血成膿也。用瓜子仁湯，二劑痛止；更以太乙膏下膿而愈。產後多有此證，雖非癰，用之神效。脈洪數，已有膿；脈但數，微有膿；脈遲緊，但有瘀血，尚未成膿，下血即愈。若腹脹大，轉側作水聲，或膿從臍出，或從大便出，宜用蠟礬丸、太乙膏及托裡散。凡瘀血宜急治，緩則化為膿，難治。若流注關節，則患骨疽，失治多為壞證。</p>
<p>王孟英按：《古今醫案按》載：一婦產後惱怒，左少腹結一塊，每發時小腹脹痛，從下攻上，膈間、乳上皆痛，飲食入胃即吐，遍治不效。葉香岩用炒黑小茴一錢，桂酒炒當歸二錢，自製鹿角霜、菟絲子各一錢五分，生楂肉三錢，川芎八分，水煎，送阿魏丸七分，八劑而愈。次用烏雞煎丸，原方半料，永不復發。俞東扶云：消積之方，如桃仁煎，用大黃、虻蟲、芒硝；東垣五積丸，俱用川烏、巴霜；《局方》聖散子、三棱煎丸，俱用　砂、乾漆。此皆峻厲之劑，用而中病，固有神效；若妄試輕嘗，鮮不敗事。試閱葉案「積聚門」，並無古方狠藥，如《千金》硝石丸，人參、硝、黃並用。丹溪猶以為猛劑，學人但將丹溪治積聚諸案細繹，自有悟處。而黑神丸，生、熟漆並用，尤勿輕試。每見服之誤事。因思漆身為癩之言，則飛補之說，其可惑乎！</p>
<h3>第二十三節‧腰痛</h3>
<p>《大全》云：產後惡露方行，忽然斷絕，腰中重痛下注，兩股痛如錐刺入骨。此由血滯經絡，不即通之，必作癰疽。宜桃仁湯、五香連翹湯。</p>
<p>沈堯封曰：前方不穩，不若用桃仁、紅花、地龍、肉桂、沒藥、當歸為妥。</p>
<p>如神湯治瘀血腰痛。延胡、當歸、肉桂等分，水煎服。</p>
<p>沈堯封曰：腰痛不見前證者，多屬肝腎虛，宜當歸、杜仲、補骨脂之類。</p>
<h3>第二十四節‧遍身疼痛</h3>
<p>薛立齋云：以手按之痛甚者，血滯也；按之痛緩者，血虛也。</p>
<h3>第二十五節‧浮腫</h3>
<p>沈堯封曰：產後浮腫，先要分水病、氣病。水病皮薄色白而亮，如裹水之狀；氣病皮濃色不變。經云：腎者，胃之關也。關門不利，聚水生病。蓋產後腎氣必損，胃底陽微不能蒸布津液，通調水道，此聚水之由也。宜腎氣湯丸。是證皮薄色白可證。人身營衛之氣，通則平，滯則脹。頑痰、瘀血，皆能阻滯氣道作腫。是證皮濃色不變，以脈弦者為痰；脈結而芤者為血分證，分別論治用藥。更有一種血虛而致氣滯者，其腫不甚，色帶淡黃，宜歸身為君，佐以白朮、陳皮、茯苓之類。</p>
<h3>第二十六節‧咳嗽</h3>
<p>沈堯封曰：一婦妊七八個月，痰嗽不止，有時嘔濃痰數碗。授二陳、旋覆不應，用清肺滋陰愈甚，遂不服藥。彌月而產，痰嗽如故，日夜不寐。三朝後，二陳加膽星、竹瀝，吐濃痰數碗，嗽仍不止。更用二陳加旋覆、當歸，少減，稍可吃飯。因嗽不減，痰漸變薄，加入生地四錢，食頓減，嗽轉甚，通身汗出，脈象微弦。用歸身三錢，茯苓二錢，炒甘草一錢，紫石英三錢；因汗欲用黃　，因嗽不止，推敲半晌，仍用炒黃　三錢。一服汗止，而嗽亦大減，十劑而安。</p>
<h3>第二十七節‧口眼斜</h3>
<p>丹溪云：必須大補氣血，然後治痰。當從左右手脈分氣血多少治之。切不可作中風治，用小續命湯治風之藥。</p>
<h3>第二十八節‧腰背反張</h3>
<p>薛立齋云：產後腰背反張，肢體抽搐，因亡血過多，筋無所養使然。大補氣血，多保無虞；若發表祛風，百不全一。</p>
<p>武叔卿云：寒主收引。背項強直，寒在太陽經也。諸家皆主續命湯，此古法也。郭氏不問產後虛實、邪之有無，概用續命，似覺一偏。至薛氏專主亡血過多，非十全大補不可，是或一見。乃夷堅志謂以大豆紫湯、獨活湯而愈，亦主於風矣。是續命固不為妄也，但本方有麻黃、附子，氣血兩虛人，不可輕用。而郭氏論，又囑人速灌，取汗而解，偏不以麻黃為忌，何也？二說俱不可廢，臨診時詳之。</p>
<p>沈堯封曰：仲景論腰背反張為痙。無汗者為剛痙，主以葛根湯；有汗者名柔痙，主以桂枝加葛根湯。桂枝湯乃治中風主方，故有汗之痙屬風；葛根湯中用麻黃，麻黃乃散寒主藥，故無汗之痙屬寒。仲景治少陰傷寒，未見吐衄之裡證者，用麻黃附子細辛湯、麻黃附子甘草湯微發汗。蓋寒邪乘少陰之虛而欲入，急以附子保坎中之陽，而以麻黃散外感之寒，真神方也。小續命湯雖非仲景之制，方中用此二味，正見攻守相須之妙。而叔卿反云：麻、附二味，氣血兩虛者，不可輕用。假使除卻麻黃，何以散客寒？除卻附子，何以保真陽？特不可用於有汗之柔痙耳！有汗柔痙更有兩種：一則因虛而受外來之風；一則血虛則筋急，並無外感之風。有風者，雖汗出，必然惡風，主以華元化愈風散；只血虛而無風者，必不惡風，純宜補血。</p>
<p>堯封又曰：人身氣血之外，更有真陽真陰，藏在坎中，亦立命之根基。胎系於腎，腎司二陰。產育之時，下焦洞辟，坎中陰陽有不大損者乎？況背後夾脊四行，俱太陽經脈；太陽之裡，即是少陰；脊裡一條是督脈，亦隸少陰，此脈急縮，與少陰大有關會。此用麻兼用附之深意也。使置此不講，徒執氣虛、血虛以治產後百病，業醫亦覺太易矣！</p>
<p><u>小續命湯</u></p>
<p>　治產後中風，身體緩急，或頑痹不仁，或口眼　斜，牙關緊急，角弓反張。</p>
<p>防風（一錢）　麻黃（去節）　黃芩　白芍　人參　川芎　防己　肉桂（各七分）　附子（炮）</p>
<p>杏仁（各五分）　甘草（四分，炙）</p>
<p>加生薑，水煎服。</p>
<p><u>華佗愈風散</u></p>
<p>　治產後中風，口噤，牙關緊閉，手足螈　，如角弓狀。亦治產後血暈，不省人事，四肢強直；或心眼倒築，吐瀉欲死。此藥清神氣血脈，其效如神。</p>
<p>荊芥略炒為末，每服三錢，黑豆淬酒調服，童便亦可。口噤揠開灌之，或吹鼻中。</p>
<p>李瀕湖曰：此方諸書盛稱其妙。姚僧垣《集驗方》以酒服，名如聖散，藥下可立效。陳氏方名舉卿古拜散。蕭存敬方用古老錢煎湯服，名一捻金。許叔微《本事方》云：此藥委有奇效。一產婦睡久，及醒則昏昏如醉，不省人事，醫用此藥及交加散。云服後當睡，必以左手搔頭。用之果然。昝殷《產寶方》云：此病多因怒氣傷肝，或憂氣內郁，或坐草受風而成，宜服此藥。戴氏《證治要訣》名獨行散。賈似道《悅生堂隨抄》呼為再生丹。《指迷方》加當歸等分。</p>
<p>沈堯封曰：丁丑三月，練塘金虞旬第四媳，產後變證，伊芳郎來請。先述病狀云：上年十月，生產甚健，至十二月初旬，面上浮腫。驅風不應，加麻黃三帖，通身脹腫，小便不利；更用五皮雜治，反加臍凸；更用肉桂五苓，小便略通，脹亦稍減；續用桂附八味，其腫漸消，惟右手足不減。忽一日口眼歪斜，右手足不舉，舌不能言，因作血虛治，變為俯不得仰。數日後吐黑血盈盂，吐後俯仰自如。旬余復不能仰，又吐黑血而定，投以消瘀，忽然口閉自開如脫狀。伊芳母一夜煎人參三錢，灌之得醒，醒來索飯吃一小杯。近日又厥，灌人參不醒，已三晝夜矣。余遂往診，右手無脈，因腫極，不以為怪；左脈浮取亦無，重按則如循刀刃。余曰：此是實證，停參可醫。遂用膽星、半夏、石菖蒲、橘皮、天蟲、地龍、紫草，水煎，入竹瀝、薑汁。一劑知，四劑手足能舉。不換方，十二劑能出外房診脈，諸病悉退，惟舌音未清，仍用前方而愈。金問奇病之源，余曰：人身臟腑接壤，受胎後腹中遂增一物，臟腑之機栝為之不靈，五液聚為痰飲，故胎前病痰滯居半，《千金》半夏茯苓湯，所以神也。至臨產時，痰涎與惡血齊出，方得無病；若止血而痰飲不下，諸病叢生。故產後理血不應，六神湯為要藥。此證初起，不過痰飲阻滯氣道作腫，血本無病，用五苓、腎氣腫減者，痰滯氣道，得熱暫開故也。久投不已，血分過熱，致吐血兩次。至若半身不遂，口眼歪斜，舌絡不靈，俱是痰滯經絡見證，即厥亦是痰迷所致，並非虛脫。故消痰通絡，病自漸愈，何奇之有？王孟英按：此等卓識，皆從閱歷而來。朱生甫令郎仲和之室，娩後患此，醫治不能除根；再產亦然，延已數年；繼復懷妊，病發益頻。余用大劑滌痰藥，服月余，產後安然，病根竟刈。</p>
<p>沈堯封曰：震澤一婦，產後十余日，延我師金大文診視，余從。據述新產時，證似虛脫，服溫補藥數劑，近日變一怪證：左邊冷，右邊熱，一身四肢盡然，前後中分，冷則如冰，熱則如炭，鼻亦如之，舌色左白，右黑。師問曰：此是何病？用何方治？余曰：書未曾載，目未曾睹，不知應用何方。師曰：奇證當於無方之書求之。經不云乎？左右者，陰陽之道路也；陰陽者，水火之征兆也。敗血阻住陰陽升降道路，不能旋轉，陽盛處自熱，陰盛處自寒，所以偏熱偏寒。用澤蘭、楂肉、劉寄奴、蘇木、桃仁、琥珀等藥兩劑，病熱減半，繼服不應。遂更醫雜治，以致不起。由今思之，此證不但血阻，必兼痰滯。我師見及阻住陰陽升降道路，病源已經識出，特跳不出產後消瘀圈子耳！倘通瘀不應，即兼化痰，或者如前案金婦得起，未可知也。此時彭尚初學，我師見識過人，特未悟徹血滯一證，惜哉！薛立齋案：郭茂恂嫂金華君，產七日不食，始言頭痛，頭痛已又心痛作，既而目睛痛如割刺，更作更止，相去無瞬息間。每頭痛，欲取大石壓，良久漸定；心痛作，則以十指抓胸，血流滿掌；痛定目復痛，復以兩手自剜目。如是十日不已，眾醫無計。進黑龍丹半粒，疾少間。中夜再服，乃瞑日寢如平時。至清晨下一行，約三升許，如蝗蟲子，病減半。已刻又行如前，痛盡除。</p>
<p><u>黑龍丹</u></p>
<p>　治產難及胞衣不下，血迷血暈，不省人事，一切危急惡候垂死者，但灌藥得下，無不全活。</p>
<p>當歸　五靈脂　川芎　良薑　熟地（各二兩銼碎，入炒鍋內，紙筋鹽泥固，濟火　過）　百草霜（一兩）</p>
<p>硫黃　乳香（各二錢）　琥珀　花蕊石（各一錢）</p>
<p>為細末，醋糊丸，如彈子大。每用一二丸，炭火　紅，投入生薑自然汁中，浸碎，以童便合酒調灌下。</p>
<h3>第二十九節‧小便不通</h3>
<p>《產乳集》：用鹽填臍中令平，蔥白搗，鋪一指濃，安鹽上，以艾炷餅上灸之。覺熱氣入腹內，即通，最靈。</p>
<p>沈堯封曰：此法不效，必是氣虛不能升舉。黃　補氣之中，已寓上升之性，用以為君五錢；麥冬能清上源，用以為臣一錢五分；白通草達下，用以為佐八分。水煎眼一劑，可效。</p>
<h3>第三十節‧尿血</h3>
<p>《大全》曰：產婦尿血，面黃，脅脹少食，此肝木乘脾土也。用加味逍遙散、補中湯，煎服，可愈。</p>
<h3>第三十一節‧尿胞被傷小便淋瀝</h3>
<p>丹溪曰：嘗見收生者不謹，損破產婦尿脬，致病淋漓，遂成廢疾。有一婦，年壯難產得此。因思肌肉破傷在外者，皆可補完；脬雖在裡，諒亦可治。遂診其脈，虛甚。予曰：難產之由，多是氣虛，產後血氣尤虛，試與峻補。因以參、　為君；芎、歸為臣；桃仁、陳皮、茯苓為佐；以豬羊脬煎湯，極飢時飲之。但劑小，率用一兩，至一月而安。蓋令氣血驟長，其脬自完，恐少緩亦難成功矣。</p>
<p>又產時尿胞被傷，小便淋瀝，用二蠶繭，燒存性為末，服一月可愈。（此繆德仁治驗）</p>
<h3>第三十二節‧產後玉門不閉</h3>
<p>薛立齋云：氣血虛弱，十全大補湯主之。</p>
<h3>第三十三節‧玉門腫脹痛</h3>
<p>薛立齋云：是肝經虛熱，加味逍遙散主之。</p>
<p>坐草過早，產戶傷壞，紅腫潰爛，痛不可忍。用蒸包子籠內荷葉，煎湯洗，日三次，兩日可愈。（此繆德仁治驗）</p>
<h3>第三十四節‧陰脫、子宮下墜</h3>
<p>陳無擇云：產後陰脫，如脫肛狀，及陰下挺出，逼迫腫痛，舉動、房勞即發，清水續續，小便淋瀝。硫黃、烏賊骨各二兩，五味子二錢半，為末摻之，日三次。</p>
<p>丹溪云：一婦產子後，陰戶下一物，如合缽狀，有二歧。其夫來求治。予思之：此子宮也，必氣血弱而下墜。遂用升麻、當歸、黃　幾帖與之。半日後，其夫復來云：服二次後，覺響一聲，視之已收入陰戶。但因經宿，干著席上，破一片如掌心大者在席。某妻在家哭泣，恐傷破不復能生。予思此非腸胃，乃脂膜也。</p>
<p>肌肉破尚可復完，若氣血充盛，必可生滿。遂用四物東加人參，與百帖。三年後，復有子。</p>
<p>黃　一錢半，人參一錢，當歸七分，升麻三分，甘草二分，作一帖，水煎食前服。治子宮下墜。外用五倍子末泡湯洗，又用末敷之，如此數次。宜多服藥。永不下。</p>
<h3>第三十五節‧產戶下物</h3>
<p>丹溪云：一婦三十余歲，生女二日後，產戶下一物如手帕，下有帕尖，約重一斤。予思之：此因胎前勞乏傷氣，或肝痿所致。卻喜血不甚虛耳！其時歲暮天寒，恐冷干壞了，急與炙黃　二錢，人參一錢，白朮五分，當歸一錢半，升麻五分，三帖連服之，即收上，得汗通身方安。但下翳沾席處，干者落一片，約五六兩重，蓋脂膜也。食進得眠，診其脈皆澀，左略弦，視其形卻實。與白朮、白芍各半錢，陳皮一錢，生薑一片，煎二三帖以養之。</p>
<h3>第三十六節‧水道下肉線</h3>
<p>一產後水道中，下肉線一條，長三四尺，動之則痛欲絕。先服失笑散數帖，次以帶皮薑三斤研爛，入清油二斤，煎油干為度，用絹兜起肉線，屈曲於水道邊，以前薑薰之。冷則熨之。六日夜縮其大半，二六日即盡入。再服失笑散、芎歸湯調理之。如肉線斷，則不可治矣。</p>
<h3>第三十七節‧乳汁不通</h3>
<p>涌泉散：山甲炮研末，酒服方寸匕，日二服；外以油梳梳乳即通。（見《經疏》）</p>
<p>陳自明《婦人良方》曰：予婦食素，產後七日，乳汁不行。赤小豆一升，煮粥食之，當夜即行。一婦乳汁不行，煎當歸八錢服，即通。王不留行、白通草，穿山甲是要藥。</p>
<h3>第三十八節‧回乳</h3>
<p>無子吃乳，乳不消，令人發熱惡寒。用大麥芽二兩，炒為末，每服五錢，白湯下。（丹溪）</p>
<h3>第三十九節‧乳頭碎裂</h3>
<p>丹溪云：老黃茄子，燒灰敷之。《綱目》云：丁香末敷之。</p>
<h3>第四十節‧吹乳</h3>
<p>繆仲淳云，妒乳、內外吹乳、乳岩、乳癰，不外陽明、厥陰兩經之病，橘葉最妙。又用生半夏一個，研末，生蔥頭一段，研裹，左右互塞鼻，神驗。又於山中掘野芥菜（去葉用）根，洗淨搗爛，無灰酒煎數滾，飲一二次，即以渣罨患處。凡乳癰未成，或腫或硬、或脹痛者，無不立消，屢次經驗。野芥菜一名天芥菜，又名鸚哥草，似芥菜而略矮小，其根數出如蘭根，用以治乳，想其形似乳囊也，故用有驗。（春甫附載）</p>
<h3>第四十一節‧乳癰紅腫方發</h3>
<p>活小鯽魚一尾，剖去腸，同生山藥寸許，搗爛塗之，少頃發癢即愈。屢驗。無山藥，即芋艿亦可。</p>
<h3>第四十二節‧乳癰已成</h3>
<p>胡桃膈瓦上焙燥研末，每服三錢，紅糖調勻，溫酒送下，三服，無不全愈。又方：用玫瑰花五七朵，干者亦可，醇酒煎服；燙酒極熱，沖服亦可；並以花瓣摘散，鋪貼患處，三兩次可愈，即已成塊硬者，亦可消散。（曾經活驗數人，陳載安附識。）</p>
<h3>第四十三節‧乳岩</h3>
<p>坎氣，洗淨切薄，焙燥研末，日吃一條，酒下。約二十條效。（此繆德仁治驗，半年以內者效。）</p>
<p>又狗糞、東丹、獨囊蒜，三味搗勻，攤布上，勿用膏藥令黏。貼上微痛，數日可愈。</p>
<p>沈堯封曰：乳岩初起，堅硬不作膿；其成也，肌肉疊起，形似山岩。病起抑郁，不治之證。方書云：桃花開時死，出鮮血者死。余見一婦患此已四年，診時出鮮血盈盂，以為必死。日服人參錢許，竟不死。明年春桃花大放，仍無恙，直至秋分節候方斃。此婦抑郁不得志，誠是肝病。然不死於春而死於秋，何哉？豈肝病有二：其太過者死於旺時；其不及者，死於衰時耶！此證本屬肝病，繆以坎氣補腎而愈，亦理之不可解者。</p>
<p>王孟英按：吳鞠通云：當歸、芎　，為產後要藥，然惟血寒而滯者為宜，若血虛而熱者，斷不可用。蓋當歸香竄異常，甚於麻、辛，急走善行，不能靜守，止能運血，裒多益寡。如亡血液虧，孤陽上冒等證，而欲望其補血，不亦愚哉！芎　有車輪紋，其性更急於當歸。蓋特性之偏，長於通者，必不長於守也。世人不敢用芍藥而恣用歸、芎，何其顛倒哉？余謂今人血虛而熱者為多，產後血液大耗，孤陽易浮。吳氏此言，深中時弊。又論《達生編》所用方藥，未可盡信。先得我心之同然者。詳見《解產難》，醫者宜究心焉！</p>
<h3>第四十四節‧熱入血室</h3>
<p>仲景《傷寒論》云：婦人傷寒發熱，經水適來，晝日明了，暮則譫語，如見鬼狀者，此為熱入血室，無犯胃氣及上二焦，必自愈。</p>
<p>又云：婦人中風，發熱惡寒，經水適來，得之七八日，熱除而脈遲身涼，胸脅下滿，如結胸狀，譫語者，此為熱入血室也。當刺期門，隨其實瀉之。</p>
<p>又云：婦人中風，七八日，續得寒熱，發作有時，經水適斷者，此為熱入血室，其血必結，故使如瘧狀，發作有時，小柴胡湯主之。</p>
<p>沈堯封曰：論言勿犯胃氣及上二焦者，謂不可攻下，並不可吐汗也。然有似是實非之證，不可不辨。</p>
<p>陳良甫曰：脈遲身涼而胸脅下滿，如結胸狀，譫語者，當刺期門穴。下針病患五吸，停針良久，徐徐出針。凡針期門穴，必瀉勿補。肥人二寸，瘦人寸半。</p>
<p>許學士治一婦，病傷寒，發寒熱，遇夜則如見鬼狀，經六七日，忽然昏塞，涎響如引鋸，牙關緊急，瞑目不知人，病勢危困。許視之曰：得病之初，曾值月經來否？其家云：經水方來，病作而經遂止，後一二日發寒熱，晝雖靜，夜則見鬼，昨日不省人事。許曰：此是熱入血室證，醫者不曉，以剛劑與之，故致此。當先化痰，後治其熱。乃急以一呷散投之，兩時許，涎下得睡，即省人事；次投以小柴胡東加生地，二服而熱遂除，不汗而自解。</p>
<p>又一熱入血室證，醫用補血調氣藥，治之數日，遂成血結胸，或勸用前藥。許曰：小柴胡已遲不可行矣，刺期門則可。請善針者治之，如言而愈。或問何為而成血結胸？許曰：邪氣乘虛入於血室，血為邪所迫，上入肝經，則譫語見鬼；復入膻中，則血結於胸中矣。故觸之則痛，非藥可及，當用刺法。</p>
<p>沈堯封曰：一婦熱多寒少，譫語夜甚，經水來三日，病發而止。本家亦知熱入血室，醫用小柴胡數帖，病增：舌色黃燥，上下齒俱是干血。余用生地、丹皮、麥冬等藥，不應。藥入則乾嘔，脈象弱而不大。因思弱脈多火，胃液干燥，所以作嘔，遂用白虎東加生地、麥冬，二劑熱退神清。唯二十余日不大便為苦，與麻仁丸三服，得便而安。</p>
<p>一室女，發熱經來，醫用表散藥增劇，譫語夜甚。投小柴胡湯，不應，夜起如狂；或疑蓄血，投涼血消瘀藥，亦不應。左關脈弦硬搏指，詢知病從怒起。因用膽草、黃芩、山梔、丹皮、羚羊角、蘆薈、甘草、歸身等藥煎服，一劑知，四劑愈。</p>
<p>堯封又曰：張儀表令愛，發熱經來，昏夜譫語，如見鬼狀，投小柴胡增劇。詢其病情，云醒時下體惡寒即憒時亦常牽被斂衣。因悟此證平素必患帶下，且完姻未久，隱曲之事，未免過當；復值經來過多，精血兩虧，陰陽並竭。其惡寒發熱，由陰陽相乘所致，非外感熱邪深入也。誤投發散清熱，證同亡陽。《傷寒論》云：亡陽則譫語。《內經》云：脫陽者，見鬼是也。因用腎氣丸，早晚各二錢，神氣即清。隨以蓯蓉易附、桂，數劑全愈。（沈氏自注：此即前所云似是實非之證，不可不辨。）</p>
<h3>第四十五節‧咽硬</h3>
<p>《金匱》云：婦人咽中如有炙臠，半夏厚朴湯主之。《千金》所云：咽中帖帖如有炙肉，吐之不出，吞之不下是也。</p>
<p>半夏（一升）　厚朴（三兩）　茯苓（四兩）　生薑（五兩）　蘇葉（二兩）</p>
<p>水煎分四服，日三夜一。</p>
<h3>第四十六節‧臟躁</h3>
<p>《金匱》云：婦人臟躁，悲傷欲哭，象如神靈所作，數欠伸，甘麥大棗湯主之。</p>
<p>甘草（三兩）　小麥（一斤）　大棗（十枚）　水煎分三服尤在涇曰：此證沈氏所謂子宮血虛，受風化熱者是也。血虛臟躁，則內火擾而神不寧，悲傷欲哭，有如神靈，而實為虛病。前《五臟風寒積聚篇》所謂邪哭使魂魄不安者，血氣少而屬於心也。數欠伸者，經云腎為欠為嚏。又腎病者，善數欠，顏黑。蓋五志生火，動必關心臟；陰既傷，窮必及腎也。小麥為肝之穀，而善養心氣；甘草、大棗甘潤生陰，所以滋臟氣而止其躁也。</p>
<h3>第四十七節‧陰寒</h3>
<p>《金匱》云：婦人陰寒，溫陰中，坐藥蛇床子散主之。</p>
<p>蛇床子末，以白粉少許，和合相得如棗大，綿裹納之，自溫。</p>
<h3>第四十八節‧陰吹</h3>
<p>《金匱》云：胃氣下泄，陰吹而正喧，此穀氣之實也。豬膏發煎主之。</p>
<p>豬膏半斤，亂髮如雞子大三枚，和膏中煎之，發消藥成，分再服。</p>
<p>王盂英按：陰吹亦婦人恆有之事，別無所苦者，亦不為病。況屬隱微之候，故醫亦不知耳。俗傳產後未彌月而啖蔥者，必患此。惟吹之太喧，而大便艱燥，乃稱為病。然仲聖但潤其陽明之燥，則腑氣自通，仍不必治其吹也。</p>
<h3>第四十九節‧陰癢</h3>
<p>（附陰挺）</p>
<p>善邑西門外三裡，有婦陰中極癢難忍。因寡居，無人轉述，醫者莫知病情，治皆不效。至蘇就葉天士診，微露其意。葉用蛇床子煎湯洗，內服龜鹿二仙膠，四日而愈。陰蝕有用豬肝煮熟，削如梃，鑽孔數十，納陰中，良久取出，必有蟲在肝孔內；另易一如梃納之，蟲盡自愈。亦良法也。</p>
<p>王孟英按：尚有陰挺一證，用飛礬六兩（即　枯明礬），桃仁一兩，五味子、雄黃各五錢，銅綠四錢，共末之，煉蜜丸，每重四錢，即以方內雄黃為衣，坐入玉門。重者二次必愈。</p>
<h3>第五十節‧女科書大略</h3>
<p>王宇泰《女科證治準繩》序云：婦人有專治方，舊矣。史稱扁鵲過邯鄲，聞貴婦人，即為帶下醫，語兼長也。然帶下，直婦人一病耳！調經雜證，懷子免身，患苦百出，療治萬方，一帶寧遽盡之乎？世所傳張長沙《雜病方論》三卷，婦人居一焉。其方用之奇驗，奈弗廣何？孫真人著《千金方》，特以婦人為首。蓋易基乾坤，《詩》始關睢之義。其說曰：特須教子女學習此三卷婦人方，令其精曉，即於侖卒之秋，何優畏也。而精於醫者，未之深許也。唐大中初，白敏中守成都，其家有因免乳死者，訪問名醫，得昝殷備集驗方三百七十八首以獻，是為《產寶》。宋時濮陽李師聖得產論二十一篇，有說無方；醫學教授郭稽中以方附焉；而陳無擇於《三因方》評其得失詳矣；婺醫杜又附益之，是為《產育寶慶集》。臨川陳自明良甫，以為諸書綱領散漫而無統。節目簡略而未備，醫者局於簡易，不能深求遍覽。有才進一方不效，輒束手者；有無方可據，揣摩臆度者。乃采摭諸家之善，附以家傳驗方，編輯成篇。凡八門，門數十余體，總三百六十余論，論後列方。綱領節目，燦然可觀，是為《大全良方》。《良方》出而閨閣之調治，將大備矣。然其論多采巢氏《病源》，什九歸諸風冷，藥偏獷熱，未有條分縷析其宜否者。近代薛己新甫，始取良方增注，其論酌寒熱之中，大抵依於養脾胃補氣血，不以去病為事，可謂救時之良醫也已。第陳氏所輯，多上古專科禁方，具有源流本末，不可沒也！而薛氏一切以己意芟除變亂，使古方自此湮沒，余重惜之。故於是編附存陳氏之舊，而刪其偏駁者，然亦存十之六七而已。至薛氏之說則盡收之，取其以養正為主，且簡而易守，雖女子學習無難也。若易水　水師弟，則後長沙而精於醫者，一方一論，具掇是中，乃他書所無，有挾是而過邯鄲，庶無道少之患哉！其積德求子，與夫安產、藏衣、吉凶、方位，皆非醫家事，故削不載云。</p>
<p>王孟英按：帶下，婦人一病耳，未必人人病此。何以扁鵲聞貴婦人，即為帶下醫？緣帶下本女子生而即有之事，原非病也。後人以帶脈不主合同束一言，遂以女人之遺濁，稱為帶下之證。然則扁鵲之為帶下醫，猶今之幼科自稱痘醫也。痘雖幼科之一證，而亦人人多有之事，且世俗無不貴小兒者，所以人多樂為痘醫耳！</p>
