<header><h1>太醫院秘藏膏丹丸散方劑</h1></header>
<div class="元資料" data-type="book" hidden></div>
<h2>卷一</h2>
<h3>勝金丹</h3>
<p>香附（一斤，分七份，酒醋浸七日）　甘草（七錢五分）　赤芍（一兩五錢）　白芍（一兩五兩）　茯苓上十四味，俱用好酒浸七日，晒乾為末，聽用。每料用酒醋各一斤。赤石脂（二兩）　白石脂（二兩）　此二味用醋浸三日，火　，淬七次，晒乾為末，入前藥內。</p>
<p>一兩）　朱砂　琥珀（各五分）</p>
<p>上四味，用好黃酒二兩研成膏，入前藥內，加蜜為丸，如桐子大。此藥專治婦人月水不調，或過期不來，或崩漏不止，下焦虛冷，久無子嗣，或血癖氣積，不嘔吐惡心，虛煩勞倦，面色萎黃，赤白帶下，或如爛肉，盜汗不止，血積年血風，腳手麻木，半身不遂，及室女虛傷勞弱，經脈不調，並宜服溫酒送下，滾水亦可。</p>
<h3>七製香附丸</h3>
<p>香附（一斤）　一、用無火酒一兩六錢，浸一日，煮，焙乾。二、用鹽五錢化水，浸一日焙乾。五、用紅花五兩煎湯，浸一日，煮，焙乾。六、用陳醋二兩，浸一日，煮，焙乾。七、用童便四兩，浸一日，煮，焙乾。</p>
<p>當歸（二兩）　川芎（二兩）　以上二味，研細末，酒四兩，打糊為丸，如綠豆大。</p>
<p>此藥專治調經，治婦女百病，調經間治崩漏、帶下、補虛、種子、嗣育、小產諸病，胎前產後，症瘕積聚，逆血塊，肚腹疼痛等症。凡婦人氣血虛實，有餘不足，變生諸症，無不治之。本草言，香附子開鬱順氣，消滯寬中，逐瘀調血，治婦女如仙。方評此藥行中有補，補中並消。今人七制，調和藥性，不寒不熱，有無窮之理，不測之功，婦女科之要藥也。每服二錢，早晚各進一服，溫黃酒送下，白滾水亦可。</p>
<h3>太平丸</h3>
<p>天門冬　麥冬（去心）　知母（鹽水炒）　川貝（去心）　冬花　杏仁（各五錢）　生地黃連荷（各三兩五共為細末，煉蜜為丸。</p>
<p>此藥專治勞病久嗽，肺痿肺癰，肺熱咳嗽，咯血吐血，痰中有血，咽痛作渴，鼻孔生瘡或因怒傷，強力過度，或酒衝心肺，醉飽入房，以致膈痛，肺經虧損，因而生嗽。每服一後或臨睡細嚼，用白滾水送下。如是痰盛，先用梨湯或白水送下消化丸一錢，然後再食平丸。二藥合攻，其痰嗽掃跡除根。</p>
<h3>資生丸</h3>
<p>人參　橘紅　棗仁（各一兩。炒）　黃連（五錢）　桔梗（五錢）　茯苓（二兩）　白朮（四兩）　當歸　山楂（各一兩五錢）　遠志肉（五錢）　麥冬（一兩五錢。炒）　薏米（一兩五錢）　山藥（芡實（一兩五錢）　建曲（二共為細末，煉蜜為丸。</p>
<p>此藥專治能養胃健脾，益氣補中，調和五臟，滋補營衛，並理虛消食化痰，不燥不熱。</p>
<p>凡男婦老幼，脾胃虛弱，氣血不足，多困食少，體瘦面黃，飢飽失宜，不思飲食，虛膨脹滿，嘔吐痰水，溲便不調，四肢乏力，盜汗遺精，虛損勞傷等症，並皆治之。每服三錢，不分早晚，以白滾水送下，米湯亦可。忌生冷、濃味。</p>
<h3>天王補心丹</h3>
<p>生地（四兩）　天冬　麥冬　柏子仁　棗仁　當歸　五味子（各一兩）　人參　遠志（甘草炙共為細末，煉蜜為丸。</p>
<p>此藥專治勞神過度，長夜不眠，耗損精血，夢寐不安，遺精便濁，自汗盜汗，四肢無力，遍身酸軟，不思飲食，一切等症。蓋因水不升，火不降之故耳。每服一，臨臥丸燈心圓皮送下。</p>
<h3>五福化毒丹</h3>
<p>犀角（三錢）　朴硝（三錢）　甘草（三錢）　青黛（二錢）　桔梗（一兩）　赤苓　生地牛蒡共為細末，煉蜜為丸。</p>
<p>此藥專治小兒蘊積熱毒，唇口腫破生瘡，牙根出血，口臭，頰項赤腫，咽乾煩躁，並痘後余毒，疹後諸熱，頭目身體常生癤瘡，實熱丹毒，胎熱不解，潮熱痰壅，大小便赤結等症。</p>
<p>每服用薄荷湯送下，燈心湯亦可。</p>
<h3>大健脾丸</h3>
<p>石斛　陳皮　山藥（炒）　青皮（醋浸，炒）　白豆蔻　山楂（各一兩）　白朮（二兩）</p>
<p>茯苓　木香（五錢）</p>
<p>共為細末，煉蜜為丸。</p>
<p>此藥專治脾弱氣虛，面黃肌瘦，四肢怠惰，精神短少，心腹脹痛，不思飲食，脾瀉等症每服一丸，小兒半丸，早晚細嚼，米湯送下。</p>
<h3>四紅丹</h3>
<p>當歸　槐花　蒲黃　熟軍（以上四味均炒黑）　阿膠（各二兩。用蛤粉二兩五錢炒成珠）</p>
<p>共為細末，煉蜜為丸。</p>
<p>此藥能滋陰降火，潤肺清音。新久勞疾，吐血、衄血、咯血、唾血等症，婦人血崩、血漏，並亦治之，大有奇功，無不神效。每服一丸，細嚼，滾水送下。若吐血、衄血，藕湯送下。</p>
<h3>宣化丸</h3>
<p>麻黃　金沸草　荊芥　半夏（炙）　前胡　桑皮（各二兩）　赤芍　細辛　葶藶子（各一兩）　甘共為細末，煉蜜為丸。</p>
<p>此藥專治瘟疫傷寒，口舌乾燥，咽喉腫痛，小水赤黃，心火炎熾，男婦小兒時行疫癘，發陰疼，無不神效。每服二三錢，薑湯送下。</p>
<h3>倉廩丸</h3>
<p>羌活　獨活　柴胡（各五錢）　桔梗　枳殼（炒）　茯苓　川芎　蒼朮　黃連（酒炒。</p>
<p>各五錢共為細末，煉蜜為丸。每料重六兩，碾篩每斤傷折四兩，應折一兩五錢。入淨蜜二兩二錢五分，共重六兩七錢五分，每丸重二錢，共得丸三十三丸，去一錢五分算。</p>
<p>此藥專治頭悶作痛，膈痞滿，氣不調暢，飲食不香等症。</p>
<h3>虎骨木瓜丸</h3>
<p>木瓜（一兩，酒洗）　血竭（另研）　沒藥（另研）　虎骨（醋炒）　木香　楓香　當歸（酒洗）</p>
<p>息子（各一兩。</p>
<p>共為細末，用酒四兩，打糊為丸，如梧桐子大。每料重十五兩五錢，碾篩每斤傷折四兩共應折三兩七錢五分，淨得丸十一兩七錢五分。</p>
<p>此藥專治腰膝疼痛，腿腳拘攣，筋骨無力，行步艱難，或熱如火，或冷如冰，常怕風寒雖夏日不離棉絮，或久經濕氣所傷，或房勞飲酒無度，以致肝腎有虧，兩腿麻木，腫脹疼時常舉發，行年不愈者，並皆治之。每服一二錢，空心白水送下。如冬月仍為虛寒，以送下。忌燒酒、房欲。</p>
<h3>搜風順氣丸</h3>
<p>熟軍（五兩，要黑色者，用酒蒸九次晒九次）　火麻仁（去殼，微炒）　郁李仁（泡去皮）　檳前子（二兩二錢）</p>
<p>共為細末，蜜水為丸，如梧桐子大。每料一斤八兩五錢，碾篩每斤折傷四兩，共折六兩，淨此藥專治三十六種風、七十二般氣，去風活血，治腿腳疼痛，四肢無力，多睡少食，口苦無每服五月言語症。</p>
<h3>加味保和丸</h3>
<p>白朮（五兩）　枳實　蒼朮　香附　蘿卜子　黃連　黃芩　麥芽　三棱　莪朮　厚朴　連翹（錢）</p>
<p>共為細末，用薑一兩取汁打糊為丸，如桐子大。每料一斤十五兩五錢，碾篩每個傷折四兩，此藥專治飲食不調，損傷脾胃，痰飲積滯，不能運化，或傷食飽悶，胸膈不利，以致頭目昏白滾</p>
<h3>木香分氣丸</h3>
<p>木香　丁香　香附（各四兩五錢）　縮砂　甘松　莪朮　薑連　藿香　檀香（各四兩五錢）　生共為細末，用白豆蔻二錢五分疊成丸，如芡實大。每料重一斤七兩五錢，碾篩每斤傷折四兩此藥專治一切氣逆，胸膈痞悶，心脅膨脹，肚腹疼痛，嘔吐惡心，宿酒宿食，飲食無味，倒痞</p>
<h3>半夏白朮天麻丸</h3>
<p>半夏（十二兩，薑炙）　麥芽（十兩三錢，炒）　神麯（二兩三錢，炒）　白朮（六兩，土炒）　蒼（十二兩）　茯苓（共為細末，用薑二兩取汁為丸，如梧桐子大。每料重四斤五兩六錢，碾篩每斤傷折四兩，共此藥專治痰厥頭痛，眼黑頭旋，惡心煩悶，無聲懶言，精神顛倒，目不敢開，如在舟中，頭晚</p>
<h3>理氣健脾丸</h3>
<p>白朮（六兩，土炒）　歸身（六兩）　茯苓（三錢）　陳皮（三兩）　半夏（一兩二錢，炙）　黃連（五錢）　山楂（一兩八錢共為細末，用荷葉、大米各一兩熬粥為丸，如梧桐子大。每料重一斤十五兩一錢，碾篩傷折此藥專治男婦一切氣逆不和，脾胃虛弱，飲食不甜，四肢倦怠，大便不調，胸膈不利，兩脅此藥常服順氣開胃，健脾和中。平和王道之藥，屢見奇效，功難盡述。每服一錢五分，早晚</p>
<h3>健步虎潛丸</h3>
<p>炙　杜仲（炒）　補骨脂（炒）　當歸（各一兩五錢，酒洗）　牛膝（二兩，酒洗）　白朮（二兩共為細末，疊水為丸，如梧桐子大，每料一斤一兩五錢，碾篩每斤傷折四兩，共折二兩四錢此藥專治腎氣虛損，筋骨無力，行步艱難，腿酸腳軟，腰痛耳鳴，四肢無力，麻木浮腫，鶴送</p>
<h3>寸金丹</h3>
<p>烏藥　防風　羌活　前胡　川芎　白芷　半夏（炙）　陳皮　赤苓　縮砂　木香　藿香紫蘇兩五錢）　白共為細末，入神麯五兩七錢五分，薑半斤取汁做錠，每錠二錢，外用朱砂四兩為衣。每料重五兩此藥專治男婦老幼中風、中暑、中寒、中氣，口眼歪斜，牙關緊閉，不省人事，或內傷生冷出外小</p>
<h3>木香檳榔丸</h3>
<p>大黃（一兩）　黑丑　黃芩　木香　檳榔　黃連　枳殼　青皮　陳皮　香附（童便炒）　莪朮（共為細末，水泛為丸，如梧桐子大。每料重十三兩五錢，共應折三兩七錢五分，淨得丸十二此藥專治一切氣滯不通，心腹疼痛，脅肋脹滿，嘔吐惡心，傷酒傷食，胸膈膨悶，宿食不消或生</p>
<h3>清氣化痰丸</h3>
<p>橘紅　香附　半夏（炙）　川貝　天門冬　栝蔞　桔梗　杏仁（炒）　枳實（各二兩）　黃芩（一一兩）　青黛共為細末，用神麯二兩七錢五分，竹瀝一兩，打糊為丸，如梧桐子大。每料重一斤十四兩四此藥能清肺寧嗽化痰。氣清則胸膈寬舒，痰化則咳嗽自止。如常服之，健脾開胃，進食寬中生薑</p>
<h3>槐角丸</h3>
<p>槐角（一兩，微炒）　枳殼　黃芩　防風　黃連（酒洗）　黃柏（酒洗）　當歸（酒洗）</p>
<p>側柏葉（共為細末，用黃酒二兩打糊為丸，如梧桐子大。每料重五兩五錢，碾篩每斤折傷四兩，共應此藥專治大腸經火，因平素不避風毒，恣飲酒醋炙爆之物，縱欲飽淫，喜怒不常，臟腑壅滯風消</p>
<h3>香砂養胃丸</h3>
<p>香附　陳皮　麥芽　半夏　枳實（各一兩）　厚朴　白蔻　木香　檳榔　神麯　縮砂（各五錢）</p>
<p>共為細末，水泛為丸，如梧桐子大。每料重十兩零六錢，碾篩每斤傷折四兩，共應折二兩五此藥專治男婦脾虛胃弱，飲食不思，膨脹腹痛，嘔吐痰水，面色萎黃，四肢困倦，氣鬱不通水送冷、</p>
<h3>五食丸</h3>
<p>狗寶（三錢）　母丁香（二對，重一錢六分）　硼砂（一錢）　烏梅肉（六錢）　黑茶豆（九十八粒將豆搗如泥，加煉蜜為丸，如彈子大，用朱砂為衣，分作八丸。</p>
<p>此藥專治七情六欲，氣惱煩勞，酒氣過傷，憂思忿怒，胃氣傷損，胃口液干，致成噎膈反胃服。</p>
<h3>當歸龍薈丸</h3>
<p>當歸（酒浸）　龍膽草（去蘆，酒洗）　梔子（微炒）　黃連（薑炒）　大黃（酒蒸，紙裹煨）　蘆薈另研）　青皮（一兩）</p>
<p>共為細末，用神麯五錢打糊為丸，如梧桐子大。每料重五兩三錢，碾篩每斤折四兩，共折一此藥專治伐肝木之氣，瀉肝膽火盛之要藥。因內有濕熱，兩脅痛甚，脹滿不食，一切肝氣之</p>
<h3>肥兒丸</h3>
<p>茯苓　白朮　金蟾　黃　黃連　蘿莧子　胡連　枳殼　檳榔　銀柴胡　三棱　莪朮厚朴共為細末，泛水為丸，如梧桐子大。每料重三斤三兩，碾篩每斤傷折四兩，共應折十二兩七此藥治諸疳之症。蓋因小兒脾胃懦弱，稟氣不足，兼之乳哺失調，食物太早。或缺乳之子，黃氣瀉痢</p>
<h3>如意金黃散</h3>
<p>花粉（一兩六錢）　黃柏　大黃　薑黃　白芷（各八錢）　厚朴　陳皮　蒼朮　南星　甘草（各共研極細末，每料重五兩六錢，碾篩每斤傷折四兩，共應折一兩二錢五分，淨得散四兩三錢此散專治癰疽發背，諸般疔毒，跌撲損傷，濕痰流毒，大頭時腫，漆瘡火丹，風熱天　，肌</p>
<h3>舒筋活血定痛散</h3>
<p>乳香　沒藥　香附（各一錢）　元胡　猴薑（各一錢五分）</p>
<p>共研細末，每料重六錢。</p>
<p>此藥專治跌打損傷，氣滯血瘀，胸脘作痛，腰脅氣竄等症。每服一錢，老酒為引送下。</p>
<p>外</p>
<h3>牛黃清心丸</h3>
<p>人參（一兩）　茯苓（五錢）　白朮　白芍（酒洗）　當歸（酒洗）　黃芩　麥冬　防風（各六錢）</p>
<p>（各三錢）　桔梗（五（一兩，炒）　神麯（一兩，炒砂（六錢）　犀角（八錢）　雄黃（三錢三上藥細末，用大膠棗四十枚，搗研為丸。每料重十五兩七錢，碾篩每斤傷折四兩，共應折三百七中風之症，暮年者多，中年者少。蓋因精血耗損，不能榮養，筋骨強直；或因體元形盛氣衰主。</p>
<p>郁於痴笑神，下。</p>
<h3>四神丸</h3>
<p>破故紙（四兩，炒）　肉豆蔻（二兩，煨，去油）　五味子（二兩）　吳茱萸（一兩，炒）　共為細末，用大棗四十九個，生薑四兩切片，用大棗天水煮熟，去薑取棗肉為丸，如梧桐子蓋人先天之本在腎，後天之本在脾，脾壯腎強，焉有泄瀉之症哉？嗜欲過度，腎氣虛傷，或命</p>
<h3>蘇合香丸</h3>
<p>沉香　木香　檀香　白朮　麝香　安息香　丁香　朱砂　訶子肉　蓽茇　香附　犀角（各一上為細末，入冰片、安息香、蘇合油，同藥攪勻，煉蜜為丸。共重十三兩，碾篩每斤傷折四二分</p>
<h3>朱砂安神丸</h3>
<p>當歸　甘草（各二錢五分）　生地（一錢五分）　黃連（六錢）</p>
<p>共為細末，蜜水疊丸，如綠豆大，每料重二兩一錢五分，碾篩每斤傷折四兩，共折二錢五分此藥專治心神不安，精神恍惚，驚悸不安，夜多怪夢，思慮勞神，怔怔健忘，一切心虛有痰療口</p>
<h3>峒丸</h3>
<p>牛黃　冰片　麝香（各二錢五分）　雄黃　阿魏（各一兩）　大黃　乳香　沒藥　兒茶　血竭熬膏用，隔湯煮十次，去浮沫，以山羊血五錢拌晒。如無廣西山羊血，即用子羊血亦可。</p>
<p>以斤五此方乃異人傳授，攻效非常，藥性捷速，內可以服，外可以敷。專治逐瘀生新，續筋接骨，真無灰疼痛治半背，症下等發</p>
<h3>活絡丹</h3>
<p>白花蛇（一條，淨肉二兩）　蘄蛇（一條，淨肉二兩）　烏梢蛇（一條，淨肉五錢）　赤芍防風黃芩木香（制）　玄兩五錢）　共為細末，煉蜜為丸。每料重五斤十三兩五錢，碾篩每斤傷折四兩，共應折一斤七兩二錢五三錢七分五厘此藥專治中風，口眼　斜，半身不遂，及諸風痹，手足拘攣，筋脈不舒，風邪濕痰流滯經絡一丸</p>
<h3>香砂枳朮丸</h3>
<p>白朮（二兩）　枳實　木香　縮砂仁（各一兩）</p>
<p>共為細末，用荷葉、倉米五錢煎湯疊丸，如梧桐子大。每料重五兩，碾篩每斤傷折四兩，共此藥治脾胃虛弱，飲食減少，胸膈痞悶，宿食宿酒不能消化，嘔逆惡心，中膈氣滯，並宜服</p>
<h3>金不換膏</h3>
<p>白芷　梔子　大黃　柴胡　川芎　蒼朮　生地　熟地　當歸　白朮　半夏　陳皮　香附枳赤藥地蘚枝以上七十七味，用芝麻油十二斤炮炸，藥味去渣，用炒淨黃丹六斤，以丹入後細藥。</p>
<p>潮腦　龍骨　乳香　沒藥　血竭　輕粉　海螵蛸　赤石脂　冰片　麝香（各五錢）</p>
<p>每料用香油十二斤，入藥味二斤四兩，每斤應折六兩四錢，共折四斤三兩八錢，入淨得油七張重或效</p>
<h3>神應膏</h3>
<p>穿山甲　川芎　木鱉子　大黃　生地　熟地　白芨　赤芍　玄參　當歸　白芷梢　天冬以上藥味入油內熬枯去渣，入飛過黃丹一斤，離火入油內，後下細藥。</p>
<p>乳香　沒藥　兒茶（各三錢三分）　潮腦（五錢）</p>
<p>每料得膏二斤五兩三錢九分。</p>
<p>此膏專貼一切癰疽瘡瘍疔毒等症，初起漫腫無頭，暴腫疼痛，潰後或流膿血清汁，或瘀血腐</p>
<h3>平安丹</h3>
<p>蒼朮（二斤）　芸香（二斤）　檀香（八兩）　沉香（一兩）</p>
<p>共為細末，紅棗二斤，煮爛成泥為丸，如芡實大。</p>
<p>此丹專避山嵐瘴氣，瘟疫時邪，一切穢惡煤炭之氣，如遇之即然，此丹並皆去之。</p>
<h3>羊肝散</h3>
<p>青羊肝（一具，去筋膜，切韭菜濃片）　人參　羌活　白朮　蛤粉（各二兩）</p>
<p>上為細末，合勻聽用。將藥置荷葉上如錢濃一層，鋪肝一層包固，外以新足青布包裹蒸熟，度。</p>
<p>此方專治遠年近日一切虛人患目及云翳遮睛，干澀昏花，目睛盲，產後患目及陰虛肝熱者服</p>
<h3>接骨化痞膏</h3>
<p>紅花　當歸（各二錢）　木瓜　連翹　川椒　防風　赤芍　白芷　花粉　川芎　天麻　頭發（此膏專治傷筋動骨，皮肉綻裂，甚至筋斷骨碎，癰疽發背，對口疔毒，濕痰流注，瘰鼠瘡痞塊復，</p>
<h3>陽和啟脾膏</h3>
<p>黨參　白朮　黃　鹿角　當歸　香附（各一兩五錢）　白芍　川芎　獨活　附子　乾薑阿用麻油三斤，將前藥渣熬至滴水成珠，入飛淨黃丹一斤二兩，再入後藥面。</p>
<p>肉桂　沉香　丁香（各三錢）</p>
<p>上三味，共研細末，候油稍冷，加入攪勻成坨，每坨約重四五兩。候去火氣，三日後方可攤此膏專治脾胃虛弱，陽氣不足，中風中寒，食積腹痛，腸鳴腹脹，飲食不香，症瘕痞塊，五更泄瀉，一切虛寒之症，將此膏貼於肚臍即愈。</p>
<h3>梁會大津丹</h3>
<p>川連　川柏　甘草　黃芩　生梔子（各六兩）　共為細末。</p>
<p>大黃（九兩，熬膏）　朱砂（一兩二錢）　雄黃（一兩三錢）</p>
<p>甲己年，甘草為君屬土；乙庚年，黃芩為君屬金；丙辛年，黃柏為君屬水；丁壬年，梔子為每為君加一倍，大黃膏為丸，朱砂、雄黃為衣，遇冬至、夏至日合丸尤妙，外赤金為衣。</p>
<p>此膏得自異傳，專治傷寒、傷風、中風、中氣、中惡、筋骨疼痛、大瘡大毒、跌打損傷、瘋顛狂亂、瘀血凝痰，老少男婦奇怪疑難之症，效驗如神，真濟世之金丹也。</p>
<p>今將主治各症及藥引開列於下。</p>
<p>──治傷寒初起，頭疼惡心，惡寒身痛，蔥薑湯送下。</p>
<p>──治傷風頭疼，鼻塞惡風，用生薑湯送下。</p>
<p>──治口眼歪斜，牙關緊閉，不省人事，竹瀝調薑汁送下。</p>
<p>──治痰迷心竅，喜笑不常，用燈心煎湯送下。</p>
<p>──治瘋顛狂亂，爬牆上屋，用金子煎湯送下。</p>
<p>──治羊癇風症，不時舉發，用生薑煎湯送下。</p>
<p>──治寒瘧寒熱往來，用薑果煎湯送下。</p>
<p>──治紅白痢疾，紅者用黃連煎湯下，白者用木香煎湯送下。</p>
<p>──治跌打損傷，閃腰岔氣，用黃酒送下。</p>
<p>──治渾身骨節風濕作痛，羌活湯送下。</p>
<p>──治癰疽發背，一切陰瘡不起，金銀花湯送下。</p>
<p>──治小腸疝氣，寒濕偏墜，茴香湯送下。</p>
<p>──治遍身或手足麻木不仁，秦艽湯送下。</p>
<p>──治寒濕痿痹，引用蒼朮、黃柏湯送下。</p>
<p>──治產後敗血不行，心腹絞痛，桃仁、紅花湯送下。</p>
<p>──治風濕浸淫，遍身疥癩，水萍、白蘚皮湯送下。</p>
<p>──治誤吞毒物，金汁下；腰腿疼痛，牛膝木瓜湯送下。</p>
<p>──治小兒急驚，天吊抽搐，全蠍湯送下。</p>
<p>──治產後搐搦，用四物湯送下。</p>
<h3>頭風餅</h3>
<p>荊芥　防風　麻黃　細辛白芷　本（各一兩五錢）</p>
<p>共為細末，用小米湯做，每餅重五錢。</p>
<p>此餅專治年沉日久，偏正頭疼，目眩腦昏，鼻塞聲重，項背拘急，兩太陽及額顱煽痛如劈者</p>
<h3>調脾清肺理濕飲</h3>
<p>茯苓（三錢，朱染）　炒茅朮（一錢五分）　廣皮（一錢五分）　殼砂（一錢，研）　薏米（三錢，生地（三錢）　白此藥專治脾胃濕熱，或心肝鬱悶，氣滯夾濕，及腎陽濕熱，膀胱之氣不化。如經有云，心與也。</p>
<p>痛，此為淋也。當分六種隨症，或小水後淹痛等症，皆治之。</p>
<h3>狀元露</h3>
<p>紅花（一錢七分）　薄荷　川芎　陳皮　當歸　桂花（各五錢）　豆蔻　良薑（各三錢）</p>
<p>細辛（此酒治肺氣，清心經積熱，頭痛鼻塞，項背拘急，噴嚏聲重，耳鳴頭疼，口舌生瘡。每日飲</p>
<h3>黃連露</h3>
<p>當歸（二兩半）　地丁　公英（各五錢）　茯苓　赤芍（各二兩）　元肉（八兩）　川芎甘草（各果（酒炙）</p>
<p>蜜二斤，泡酒三十斤。</p>
<p>此酒治泄瀉嘔吐，惡心霍亂，大小便不調，內熱火盛，心煩發熱，口燥舌乾，四肢倦怠，恍</p>
<h3>紅毛露</h3>
<p>桂心　肉果　丁香　歸身（各一錢）　建曲（四錢）　檀香（五分）　冰糖（四兩）</p>
<p>共為末，泡酒三斤。</p>
<p>此酒和平，不行不瀉，能調和脾胃，化食寬中，胸膈膨悶，兩脅脹滿，嘔吐惡心，嘈雜吞酸</p>
<h3>青梅露</h3>
<p>佛手（八錢）　玉竹（二兩）　竹葉（八兩）　薄荷（二錢）　粉草（錢半）　熟地（二錢）　當歸（二花（三錢）　玉金（五錢）</p>
<p>泡酒。</p>
<p>此酒專治肺氣不清，痰涎壅盛，咽喉不利，頭目眩暈，口舌生瘡，飲食無味，大小便不利，</p>
<h3>參苓露</h3>
<p>牛膝（二兩）　熟地（二兩）　枸杞（四兩）　黃　（三兩）　桐皮（一兩）　茯苓（二兩）　人參（五泡南酒三斤，干酒三十斤。</p>
<p>此酒專治男子稟氣不足，陽氣虛弱，或損傷太過，以致陰精枯涸，年老無子。能扶陽益陰，</p>
<h3>龜齡露</h3>
<p>熟地（五錢）　生地（六錢）　天門冬（四錢）　當歸（五錢）　牛膝（四錢）　杜仲（二錢）　肉蓯蓉（一錢）　地骨皮（四錢）　菊（二錢半）　砂仁（二錢半）　蓮肉（六錢）</p>
<p>錢）　辰砂（五錢）　槐角子（六錢半）　穿山甲（八羊藿（二錢）　紫梢花（四錢半）　紅蜻蜒（十五對）　鳳仙共泡燒酒三十斤，白酒二十斤。</p>
<p>此酒專治男子下元虛損，久無子嗣，陽痿不興，舉而不固，腎虛精冷，遺尿不禁，腰腿酸痛添</p>
<h3>延齡露</h3>
<p>熟地（五錢）　枸杞（一兩）　當歸（五錢）　肉桂（五錢）　牛膝（二錢）　木瓜（二錢）　紅花（一（一兩）　甘草（一錢）　梔外用丁香、檀香、木香各一錢，共為末，布口袋包，下酒泡。干酒二十斤，南酒二斤半，紅此藥專治男婦五勞七傷，大補諸虛百損，養血益氣，開胃健脾。飲食不化，變生痰涎，倒飽有奇</p>
<h3>國公露</h3>
<p>當歸（兩半）　於朮（八兩）　白芷（兩半）　川芎（兩半）　木瓜（四兩）　陳皮（一兩）　生地（二（四兩）　砂仁（二兩）　紫泡酒。</p>
<p>此藥專治男婦左癱右瘓，半身不遂，口眼歪斜，手足頑麻，下部痿軟，筋骨疼痛，一切三十五噎男婦</p>
<h3>鳳仙露</h3>
<p>熟地（二錢半）　鳳仙花（錢半）　紫草（錢半）　枳實（一錢）　當歸（三錢）　砂仁陳皮　白芷錢）　丁香（二錢）　甘草（泡南酒二斤，干酒二十五斤。</p>
<p>人之有生以來，必以先天元氣為根，後天營衛為本，先天之氣賴後天以養之。大抵榮衛和平腰痛常服</p>
<h3>桂花露</h3>
<p>薄荷（一兩）　砂仁（五錢）　陳皮（八錢）　丹桂（七錢）　梔子（七錢）　熟地（一兩）　官桂（五（一斤）</p>
<p>泡酒三十斤。</p>
<p>此酒專治郁氣聚於腹胸之間，以致轉變失宜，運化失常，胸腹飽悶，兩脅刺痛，噯氣吞酸，</p>
<h3>八仙長壽酒</h3>
<p>人參（二錢）　茯神（三錢）　枸杞（三錢）　建蓮肉（三錢）　檀香（二錢，鎊）　蔻仁（一錢）　玫將藥合一處，用夏布口袋盛之，泡燒酒十斤，加冰糖一斤。</p>
<p>此酒益氣養神，開胃健脾，固陽滋陰，且藥性和平，氣味芳香。食前飲之，能和胃氣；食後</p>
<h3>補益延齡露</h3>
<p>熟地　白芍（炒）　當歸　茯苓（各三錢）　白朮（土炒）　川芎　人參（各二錢）　炙草木香泡燒酒三十斤，加白糖二斤，紅曲四兩。</p>
<p>此藥健脾養胃，順氣消食，調榮益氣，大補諸虛。治男婦五勞七傷，諸虛百損，身體瘦弱，怠，</p>
<h3>五加皮藥酒</h3>
<p>加皮（四錢）　羌活（錢半）　當歸（三錢）　紅花（一錢）　秦艽（一錢）　薑黃（四兩，後下）　檀香（八分）　甘草（錢半）</p>
<p>泡酒二十五斤。</p>
<p>此酒治手足頑麻，口眼歪斜，半身不遂，下部痿軟，筋脈疼痛，寒濕諸痹，真火不足，脾胃早晚</p>
<h3>長生瓮頭春</h3>
<p>人參（五錢）　紅花（八兩）　丁香（二錢）　沉香（二錢五分）　白芍（一兩，炒）　蒼朮（二錢半菊（五錢）　故紙（五錢白蔻（五錢）　熟地（一兩）　生（三錢）　甘草（五錢）　草（八兩）</p>
<p>以上藥味共研粗末，裝入絹袋內，用燒酒四十斤，入磁罐內封口。春夏泡二日，秋冬泡三日罐內蓋人少年不惜身體，耗損元神，以致中年之後天真漸衰，精氣日衰，發須斑白，視物不爽，添精補命</p>
<h3>健步虎骨酒</h3>
<p>虎脛骨（五錢）　千年健（三錢）　鑽地風（二錢）　金毛狗脊（三錢）　生杜仲（三錢）　川牛膝（以上藥味，一處用夏布口袋盛之，泡酒十斤，加冰糖一斤。</p>
<p>此酒能壯筋骨，和血脈，通行十二經絡，搜風利濕，舒暢筋脈，活動關節，藥性不熱不寒，</p>
<h3>佛手露</h3>
<p>佛手（一斤，去黃皮）　木瓜（四兩）　橘皮（一兩）</p>
<p>泡燒酒十斤此酒能治憂思氣怒，飲食不調，損傷肝脾，以致嘔吐嘈雜，胸膈滿悶，不思飲食，郁結煩</p>
<h3>神仙長壽露</h3>
<p>熟地黃（四兩）　當歸（三兩）　枸杞（三兩）　白菊（二兩）　茯神（二兩）　沙蒺藜骨皮　杜仲佛手柑二個　桑用好酒十斤，將藥入內，煮三炷香之久，每日隨量服之，久則延年益壽。</p>
<p>此酒專治諸虛百損，五勞七傷，頭眩目暈，耳聾耳鳴，自汗盜汗，遺精便濁，腰膝酸痛，臥亢甚述。</p>
<h3>冰露梅蘇藥酒</h3>
<p>柿霜（四兩）　烏梅（十二個）　蘇葉（二兩）　檀香（一兩）　葛花（一兩）　葛根（一兩）　薄荷（泡酒二十五斤。</p>
<p>此酒善治三焦有熱，口燥舌乾，時常作渴，或遠行勞倦，或飲酒無度，或過用炙爆、面食、此藥酒能涼心清肺，降火潤燥，生津止渴，並解酒毒化痰。每日飲一二小盅，妙難盡述。</p>
<h3>又五加皮酒方</h3>
<p>虎骨（五錢，炙）　五加皮（二兩）　川芎（八錢）　秦艽（八錢）　肉桂（二錢）　大地（一兩）　當獨活（五錢）　防己（五兩）</p>
<p>用干酒三十斤，加冰糖二斤，玉竹四兩，與前五加皮治法相同。</p>
<h3>鼓脹奇方</h3>
<p>連皮絲瓜筋〔鄞人稱為天羅花絮（四兩）向藥店買，無皮者無用〕　巴豆（三錢）　白米（再將米一半天小均可不</p>
<h3>去陳食方</h3>
<p>白牽牛（一錢八）　檳榔（一錢八）　茵陳（一錢）　牙皂（一錢）　蓬朮（一錢）　三棱（一錢）</p>
<p>共為細末，老醋送下。</p>
<h3>治太陽風方</h3>
<p>當歸（三錢）　皂刺（錢半）　白芷（三錢）　防風（三錢）　細辛（一錢）　羌活（三錢）　清半夏（錢）　菊花（三錢）　甘草（水煎溫服。</p>
<p>此藥專治太陽風，用三付即能見效，不可多服。</p>
<h3>健脾養胃固腸分解止泄之法</h3>
<p>黨參（二錢）　茯苓（三錢）　扁豆（三錢，炒）　薏米（四錢，炒）　山藥（三錢，炒）　竹茹（三錢）　前子（四錢，包煎此藥專治脾元不壯，濕風不清，胃氣不和。現症則胸膈嘈悶，口木無味，咳嗽痰飲，穀食欠按稍此藥專治男婦中風、中氣、中痰、中祟、類癇，邪怪鬼魅不明等症，非此不能取效。</p>
<p>中風不語，口眼歪斜，牙關緊閉，用薑湯送下。</p>
<p>卒然暈倒，痰涎堵塞，不省人事，竹瀝化水送下。</p>
<p>語言澀滯，遍身麻木，半身不遂，溫酒送下。</p>
<p>氣迷風痰，五種癇症，滾白水送下。</p>
<p>中風痰火，痰迷心竅，淡薑湯送下。</p>
<p>以上諸症，病輕者每二三丸即愈。</p>
<p>諸氣不順，木香磨水送下。</p>
<p>陽明頭疼，川芎、白芷湯送下。</p>
<p>吐血衄血，茅根、柏葉湯送下。</p>
<p>夜夢鬼魅，失心狐魘，燈心、圓眼湯送下。</p>
<p>邪祟山瘴，琥珀、朱砂研細，白水送下。</p>
<p>婦人產後頭暈，當歸、紅花湯送下。</p>
<p>小兒急慢驚風，以薄荷湯送下。</p>
<p>大人常服，小兒半丸，隨症調引，無不效也。</p>
<h3>附雜方</h3>
<h4>治牙疼方</h4>
<p>生地　青皮　丹皮　細辛　荊芥　防風　石膏　甘草（各一錢）</p>
<p>治上門牙疼，心火，加黃連一錢；下門牙疼，腎火，加知母一錢；左上牙疼，膽火，加羌活右</p>
<p>花椒　黑豆　海鹽　鮮薑（各三錢）　蔥根（三個）</p>
<p>水煎，溫漱立止。</p>
<h4>治產後風神效方</h4>
<p>當歸（八錢）　川芎（六錢）　杭芍（五錢，炒）　熟地（三錢）　紅花（五錢）　桃仁（一錢）　炮薑黃酒半斤，蔥白三株，水煎，溫服出汗。</p>
<h4>治婦人多生女不生男服此藥即生男</h4>
<p>沉香　檀香　半夏　細辛　枳殼　川烏　南星　草蔻　枳實　川軍　白蔻（各一錢）</p>
<p>共為細末，蜜為丸，如黃豆大，每日清晨服一丸，厚朴（一錢）　煎湯送下。服至一月即有孕治產後咳嗽喘急其至吐血敗血流入血經方蘇木（一錢）　劈碎，水一盅，調人參末（一錢），服之神效。</p>
<h4>治婦人經血不通開瘀血方</h4>
<p>當歸尾（三錢）　紅花（二錢）　焦楂（三錢）　神麯（一錢五分）　麥芽（一錢五分）</p>
<p>蘇木（一兩）</p>
<p>龍頭草即舊草帽頭，以此熬水煎藥。核桃燒了，取出化末，皮擲鍋內，同藥煮之，仁令人吃熟。</p>
<h4>治子死腹中母亦將絕方</h4>
<p>伏龍肝（三錢七分），以水調服即出。</p>
<h4>治婦人白帶方</h4>
<p>白雞冠花，晒乾為末，空心溫酒調服。</p>
<p>赤帶用赤雞冠花，赤白帶用赤、白雞冠花。</p>
<h4>治婦人干病</h4>
<p>時瓜（一錢）　螞蟻（二錢）</p>
<h4>治痔漏瘡腫疼方</h4>
<p>椒目一攝，碾細，空心白水調服三錢，甚效。</p>
<h4>治耳聾方</h4>
<p>大鯽魚（一個，到斤大才好）　大泥片（五厘）</p>
<p>以蔥根尖數根，將魚腦、泥片調合一處，都灌在蔥尖內，塞耳孔中，等魚腦干，仍如此換之</p>
<h4>治走馬牙疳方</h4>
<p>蒲黃炒末，上患處，即愈。</p>
<h4>治鼻衄血方</h4>
<p>山梔子燒灰吹之。</p>
<h4>又方</h4>
<p>韭菜根　蔥根共搗棗大，塞入鼻中，兩三度即愈。</p>
<h4>治時有面赤項腫蝦蟆瘟方</h4>
<p>金錢蛙（一錢五分）　酒芩（一錢）　山梔（一錢）　青皮（一錢五分，醋炒）　當歸（一錢）　酒芍錢五分，炒）　桔梗（一錢）</p>
<p>水煎，分四次溫服。</p>
<h4>治嗓子腫毒方</h4>
<p>柴胡（一錢五分）　酒芩（一錢）　山梔（一錢）　青皮（一錢五分，醋炒）　當歸（一錢）　酒芍（分，炒）　桔梗（二錢）　甘草（一錢）</p>
<p>水煎，分四次溫服。</p>
<h4>治心腹冷疼方</h4>
<p>胡椒（三七粒，或一歲一粒。）</p>
<h4>治心疼方</h4>
<p>鬱金（二錢）　香附（二錢，醋炒）　元胡（二錢，醋炒）　木香（一錢）　乳香（一錢）　靈脂（二共為細末，每服三錢，酒送下。</p>
<p>鍋底墨，以熱小便下三錢七分，即愈。</p>
<p>盛漆的水泡皮子燒灰，酒調服二錢。</p>
<h4>治上吐下瀉方</h4>
<p>藿香（三錢）　香薷（一錢五分）　茯苓（二錢）　黃芩（二錢）　陳皮（三錢）　扁豆（二錢，研）</p>
<p>前子（二錢）</p>
<p>薑三片，水煎服。</p>
<h4>治盜汗方</h4>
<p>五倍子焙，研細，以自己漱口水調敷臍上，即愈。</p>
<h4>治半身不遂手足麻木口眼歪斜癱瘓等症方</h4>
<p>大黑豆（煮熟）　陳皮　當歸　五加皮（各四兩）</p>
<p>酒五斤燒的，將藥浸五日，早晚飲三四盅，酒盡即愈。</p>
<h4>治手足麻木方</h4>
<p>當歸（三錢）　酒芍（二錢）　川芎（二錢）　熟地（五錢）　桂枝（三錢）水煎服，水兩盅，黃酒一盅，煎一盅。</p>
<h4>治小兒瀉肚乾嘔方</h4>
<p>蘆根（三錢）　竹茹（二錢）　粳米（二錢）　鮮薑（五片）</p>
<p>煎湯灌之。</p>
<h4>倒痰法</h4>
<p>瓜蒂（二錢一分。苦丁香，即苦瓜把）　赤小豆（二錢，共為細末）　香豆豉（三錢）　白礬（二熬湯送下，即將痰嘔出。</p>
<h4>治咳嗽喘方</h4>
<p>紫蘇　麻黃　杏仁　桑皮　黨參　青皮　半夏（薑炒）　牛蒡子　陳皮　甘草小兒童子五錢，年長之人各二錢，水煎服。</p>
<h4>治干癬方</h4>
<p>五倍子（二兩，炒）　枯礬（一兩）　硫黃（五錢，化開，出煙）</p>
<p>共為細末，香油調搽患處。</p>
<h4>治癲犬咬傷方</h4>
<p>乘毒未發，用斑蝥七個，去頭足翅，雞子貳枚，調合一處，蒸熟，去斑蝥，淡食雞子，於小</p>
<h4>治癆病方</h4>
<p>五味子半斤，開水浸了，泡雞子一個，待至四五天，雞子皮軟了，撈出，用開水浸熟，空心</p>
<p>白蘿卜（半斤）　白蓮藕（半斤）　蜂蜜（半斤）　白山藥（半斤）　秋白梨（半斤）</p>
<p>水煎藕一滾，再入蘿卜煎一滾，入梨煎一滾，入山藥煎一滾，再入蜜一滾，為丸，如核桃大</p>
<h4>一捻金</h4>
<p>（治小兒痰喘方）</p>
<p>台參（二錢）　川軍（一兩）　二丑（七個）</p>
<p>共為細末，蜜水調服。</p>
<h4>八厘散</h4>
<p>（治跌打損傷，心疼，和血）</p>
<p>皂礬（五錢）　泥片（三錢）　台麝（三錢）　朱砂（三分）　乳香（三分）　血竭（三分）　兒茶（六共為細末，元酒四兩調服，大人八分，小兒四分。</p>
<h4>七厘散</h4>
<p>茅朮　草烏　白芷　羌活　當歸　赤芍　虎骨（各一錢）</p>
<p>共為細末，每服七分，元酒調服。</p>
<h4>化針散</h4>
<p>（洗眼藥方）</p>
<p>膽礬　銅綠　川椒　砂仁　青鹽（各五分）　烏梅（五錢）　杏仁（十五個）　雄雞膽（一個）　新流水入磁罐內，三日即化，傾盆洗之。</p>
<h4>治白泡瘡方</h4>
<p>治白泡瘡，治黃水瘡，加玉塵不拘多少，香油調抹。</p>
<p>川軍　白芨（等分）</p>
<p>共為細末，涼水調敷患處。</p>
<h4>圈瘡藥方</h4>
<p>白芨（五分）　輕粉（五分）　冰片（五厘）</p>
<p>共為細末，涼水調抹四外，留項。</p>
<h4>治紅白痢疾方</h4>
<p>石榴子　石榴皮（不拘多少）</p>
<p>煎開，沖紅糖服，即愈。</p>
<h4>治噎食方</h4>
<p>側柏炭（三錢）　白芥子（三錢）　野馬砂（不拘多少。野馬砂，即蒼鼠糞）　南粉草（二錢五分）</p>
<p>共研細末，即將馬砂炒干，研，以元酒衝下，分作三付服。</p>
<h4>治遍身風癢瘡疔方</h4>
<p>茵陳嵩煎濃汁，洗之即愈。</p>
<h4>治中風口噤通身冷不知人方</h4>
<p>獨活（四兩）　好酒（一斤）　煎半斤服。</p>
<h4>治瘡口不斂方</h4>
<p>軟石膏（二兩，　）　漳丹（半兩）</p>
<p>為細末，擦之，名紅玉膏。</p>
<h4>治吃信鹵官方</h4>
<p>大黑豆（半斤）　防風（四兩）　甘草（四兩）</p>
<p>合煎，飲之即愈。</p>
<h4>治難產經日方</h4>
<p>雲母粉（半兩），溫酒調服，入口產不順即順，萬無一失。曾治三五十人皆效。</p>
<h4>治一切腫毒初起方</h4>
<p>透骨草　漏蘆　防風　地榆（等分）</p>
<p>煎湯綿蘸乘熱燙之，二三日即愈。</p>
<h4>割毒丹</h4>
<p>（去瘡上歹肉方）</p>
<p>大明礬（一兩）　黃丹（錢半）　巴豆（十粒）</p>
<p>先將丹礬為末，巴豆去皮入杓內，將礬枯盡去巴豆，用雞子清調擦。</p>
<h4>治無名腫毒托藥方</h4>
<p>歸尾（一錢）　皂角刺（一錢）　金銀花（一錢）　紅花（六分）　天花粉（三錢）　乳香（五分）　連錢）　白芷（六分）　防風水四盅，煎八分，對黃酒半盅服。</p>
<p>竹蘭茶　桂圓肉　紅糖　白糖　薑（各三錢）</p>
<p>水煎湯服。</p>
<h4>治偏正頭風方</h4>
<p>治偏正頭風，百藥無效，一服便可全愈。</p>
<p>香白芷（二兩半，炒）　川芎（一兩，炒）　甘草（一兩，炒）　烏頭（一兩，半生半熟）</p>
<p>共為末，每服一錢，細茶、薄荷湯送下。</p>
<h4>治脅下刺疼方</h4>
<p>小茴香（一兩，炒）　枳殼（五錢）　同麩皮炒，去麩皮為末，每服二錢，鹽水下。</p>
<h4>遠行健步方</h4>
<p>細辛　防風　白芷　草烏（各等分）</p>
<p>共研細末，用時用水將鞋內微濕，將藥面鋪勻鞋底內，總行二三百裡足不腫疼。</p>
<h4>治大便不通方</h4>
<p>油當歸（二兩）　生芝麻（半斤）　水煎服。</p>
<h4>治小便不通方</h4>
<p>黃花菜根七枝，去兩頭要中間根，水煎服。</p>
<h4>治癬方</h4>
<p>全蠍　斑蝥　赤石脂　白芨　明雄黃（各二錢）</p>
<p>共為末，陳醋調上即愈。</p>
<h4>治吞信方</h4>
<p>黑胭脂（二兩）　芒硝（三錢）　水煎服。</p>
<h4>黃連赴宴散</h4>
<p>（治咽喉腫疼，口苦生瘡，牙齦腫疼）</p>
<p>黃連　黃芩　黃柏　山梔仁　細辛　乾薑（各三錢）</p>
<p>共為細末，用米泔水漱口後，擦藥於患處。</p>
<h4>段氏金丹</h4>
<p>（又名德生丹）</p>
<p>米殼（三斤）　木香　廣皮　甘草　麻黃　五味子　石膏　柏蔞（各四兩八錢）</p>
<p>以上共為細末，煉蜜為丸，三錢重。專治男婦老少咳嗽痰喘。早晚服一丸，白滾水送下。</p>
<h4>仙傳五香丸</h4>
<p>香附（三個，醋炙）　五靈脂（一斤）　黑丑（四兩）　白丑（四兩）</p>
<p>共為細末，醋水為丸。</p>
<p>此藥專治消食消積，消痞消痰，消氣消滯，消腫消痛，消血消痢，消蠱消脹，消膈消悶。</p>
<p>每</p>
<h4>治痰迷心竅瘋子方</h4>
<p>男女老幼罔顧身體。</p>
<p>甘遂（三錢）　朱砂（三錢）　牛黃（二錢）　珠子（一分）　麝香（一分）</p>
<p>共研細末，豬心一個，將藥末入豬心內，用油紙三層將豬心包嚴，用水洗透，再炭火內燒熟神效</p>
<h4>靈藥方</h4>
<p>白礬　黑礬　食鹽　火硝　水銀（各五錢）</p>
<p>將前四味藥為極細末，按於鍋底，將水銀居中，上用碗蓋之，鹽水合泥封固，濕沙蓋其上，專治一切瘡瘍潰後，拔毒去腐，生肌長肉。瘡口堅硬，肉黯紫黑，用此藥少許，雞翎掃上，</p>
<h4>治無名腫毒疔毒方</h4>
<p>水膠（五錢）　用碗蒸化，圈之即愈。</p>
<h4>治筋聚之症方</h4>
<p>用新白手巾一塊，星星出全時將手巾蓋患處，用牙啃之即愈。</p>
<h4>治刀傷血流不止方</h4>
<p>用此方洗之，跌打損傷，止疼活血。</p>
<p>荊芥　獨活　桔梗　防風　羌活　骨草　赤芍（各五錢）　煎湯洗之。</p>
<p>冰片（二分）　燒酒共灌耳內即愈。</p>
<h4>治吞大煙方</h4>
<p>馬連花（七朵）　水牛（七個）　七星蜘蛛（七個）　大活蠍子（一個）　飛羅面共合一處，搗爛為丸，如綠豆大。每服七粒，用白水送下。不論男女老少，服之即愈。</p>
<p>黑礬（二兩）　白芥（二兩）</p>
<p>共研粗末，水煎服，探吐甚妙。</p>
<h4>六聖神散</h4>
<p>專治偏正頭疼腦痛。</p>
<p>乳香　沒藥　川芎　雄黃　石膏（各二錢）</p>
<p>外用牙硝（半兩）　共研細末合勻，將藥吹鼻內。</p>
<h4>治痔瘡神方</h4>
<p>用地龍，用陰陽瓦焙黃干，研細末，每用三錢，用黃酒下。</p>
<h4>治干血癆方</h4>
<p>茜草（四個，大）　南山楂（三錢）　紅棗（七個）　胡椒（四個，大）　紅糖（四個，大）　青果葉桃（三個，燒糊研爛）</p>
<h4>治舌大如脬喉風即時不救則死方</h4>
<p>冰片（三錢）　火硝（二分）　膽礬（二分）　青黛（二分）　薑蠶（二分）　硼砂（二分）</p>
<p>共為細末，吹之即愈。</p>
<p>治舌上出血不止，用雞冠血浸舌，咽下即縮。</p>
<h4>治洗眼方</h4>
<p>羌活（三錢）　防風（三錢）　膽礬（一錢）　桑皮（二錢）　煎水熏。凡大眼角紅痛者，心火也，</p>
<h4>治小兒黃水瘡後禿瘡方</h4>
<p>松香（二兩）　為末，入蔥管內，用線扎定，水煮化，去蔥，候干加黃丹（一兩、）　水飛無名</p>
<h4>治一切無名腫毒鼠瘡膏</h4>
<p>馬前子（三十個）　蜈蚣（十五個）　官粉（八盒）　香油（一斤）</p>
<p>砂鍋熬，先炸馬前子糊，取回，蜈蚣糊，入官粉，黃色，不去火毒。</p>
<h4>治脾虛積疳面黃體瘦方</h4>
<p>廣皮（一錢）　青皮（一錢，醋炒）　神麯（五錢，炒）　檳榔（五錢）　木香（三錢）</p>
<p>黃連（三錢共為細末，為丸如綠豆大，奇效。</p>
<h4>川芎茶調散</h4>
<p>治傷風頭目發暈，鼻塞生瘡。</p>
<p>南白荷（八兩）　川芎（四兩）　羌活（二兩）　生草（二兩）　細辛（一兩）　防風（一兩半）　荊芥以上七味，共研細末，每服二錢，食遠茶調下。</p>
<h4>治小兒噤口不乳神方</h4>
<p>蟬蛻（十四個，去腿足）　全蠍（十八個，去毒尾）</p>
<p>共研細末，擦乳服即好。</p>
<h4>治一切瘡毒紅腫無頭方</h4>
<p>蠶繭一個，燒灰存性，黃酒送下，即愈。</p>
<h4>治便毒左右膝方</h4>
<p>川軍　全蠍　山甲（各三錢）　白芷（二錢）</p>
<p>水煎服。外用多年鍛石，入明礬一把，鹽少許，米湯調敷即消。</p>
<h4>彭祖秘服接命丹</h4>
<p>何首烏　白茯神　赤茯苓　菟絲子　川牛膝　破故紙　覆盆子（各十兩）</p>
<p>不犯鐵器，用石杵臼為極細末，煉蜜為丸，黃酒調丸，如梧桐子大。每服二錢，空心黃酒送</p>
<h4>益元延年益壽七寶丹</h4>
<p>何首烏（黑白各一斤）　茯苓（黑白各一斤）　破故紙（四兩）　菟絲子（八兩）　當歸身（八兩）</p>
<p>干。）</p>
<p>共為細末，煉蜜為丸，如彈子大。日用三丸，早空心酒送下，午後薑湯送下，臨臥鹽湯送下</p>
<h4>金刀散</h4>
<p>治癰疽發背，諸般潰爛，梅毒金瘡等症，脫腐生新，外科收斂之神藥也。</p>
<p>煉過松柏香淨末（七兩）　枯礬（一兩五錢）　青白礬（一兩五錢）</p>
<p>以上三味，共極細末，磁罐收貯，擦傷處，立愈。</p>
<h4>長春廣嗣丹</h4>
<p>此丹專治男子勞損羸瘦，中年陽事不舉，精神短少，老至五旬發須早白，步履艱難，並婦人天門冬　麥門冬　熟地黃　生地黃　山藥　杜仲　五味子　山茱萸　白茯苓　人參　木香一兩五錢）</p>
<p>共為細末，好黃酒打糊為丸，如桐子大。初服五十丸，一月至六十丸，百日後八十丸。</p>
<p>鹽湯此或原有胸膈之症，咳嗽吐痰，內傷積滯，此是肺疾除也。服至五六十日，唇紅體潤，口生津液，神清氣爽，兩乳肥潤，此是一切諸疾出也。服至百日後，自覺言語雄壯，容顏光彩，須發變黑，齒落重生，八十老人亦能如壯年之時，目能遠視，行不困乏，精神百倍，壽命延長。此真返老還童之聖藥也。</p>
<h4>化積丸</h4>
<p>雞榮　生官粉為丸，黃豆大，一歲一丸。</p>
<h4>德生丹</h4>
<p>（治咳嗽）</p>
<p>米殼（三斤）　木香（四兩八錢）　廣皮（四兩八錢）　甘草（四兩八錢）　麻黃（四兩八錢）　五共為細末，煉蜜為丸，重三錢，每服一丸，白水送下。</p>
<h4>風寒麻木止疼痛膏方</h4>
<p>當歸（一兩）　川芎（五錢）　羌活（五錢）　獨活（一兩）　靈仙（五錢）　鉤藤（一兩）　川烏（一鱉子（五錢）　銀花（五（一兩）　地骨皮（兩半）　生蘄艾（桂枝（兩半）　荊芥（五錢）　木香（一兩）</p>
<p>麝香不論多少，將囊藥熬好，入麝香，婦人發一團，香油八斤。</p>
<p>以上諸藥共入磁盆內，用香油泡一夜。用鐵鍋熬，以槐柳棍攪，看山甲黃糊色即好。過羅去再入此膏專治風寒麻木，腰腿疼痛，肚內五積六聚，七症八瘕。俱貼患處。痢疾泄肚，貼尾骨、</p>
<h2>卷二</h2>
<h3>煮檳榔藥</h3>
<p>白蔻（一兩五錢）　檀香（一兩五錢）　丁香（六錢）　冬瓜仁（六錢）　陳皮（三兩）</p>
<p>縮砂（一兩此藥化滯利膈，寬胸順氣，化痰去濕，理脾和胃，去口中惡味。多食無功，宜少食。</p>
<h3>平安散</h3>
<p>麝香（五分）　冰片（五分）　朱砂（三錢）　明雄黃（三錢）　火硝（七錢）</p>
<p>共研極細末，用大赤金十張。</p>
<p>此散專治初起感冒傷寒，頭疼身痛，發熱惡寒，眼脹，無汗煩躁，霍亂中暑，臍腹疼痛。</p>
<p>以</p>
<h3>八寶清胃散</h3>
<p>冰片（二分）　朱砂（三分）　琥珀（一錢）　乳香（一錢）　沒藥（一錢）　胡連（一錢）　硼砂（五共研極細末。</p>
<p>此散專治胃火上升，牙齒疼痛，口舌生瘡，牙縫出血。每用少許擦牙上，待流涎水吐出自愈</p>
<h3>紅清胃散</h3>
<p>冰片（三分）　朱砂（三分）　硼砂（五分）　石膏（五錢）</p>
<p>共研極細末。</p>
<p>此散專治陽明胃經火盛，口舌糜爛，牙齒脹痛，不能飲食，牙癬或牙疳出血，用少許搽患處</p>
<h3>消毒散</h3>
<p>鹽水錠（一兩）　硼砂（三錢）　冰片（五分）</p>
<p>共研極細末。</p>
<p>此藥消腫止痛，消瘀退熱涼血。丹毒熱毒，無名腫毒，敷之立效。未成者敷之立消，已成者勤掃</p>
<h3>玉肌散</h3>
<p>白芷（二錢）　滑石（二錢）　白附子（二錢）　綠豆粉（四兩）</p>
<p>共研成極細末。</p>
<p>此散專治面貌粗澀不潤，黑暗無光，雀斑污子，常洗能潤肌膚，悅顏色，光潔如玉，面如凝</p>
<h3>香薷丸</h3>
<p>香薷（五兩）　茯苓（十五兩）　藿香（十兩）　蘇葉（八兩）　甘草（七兩）　木瓜（三兩五錢）　檀共為細末，煉蜜為丸，每丸重一錢五分。每料三斤三兩五錢，每斤碾篩傷折四兩，共應傷折五分此丸專治盛暑遠行，傷暑中暑，燥渴瞀悶，頭目昏眩，胸膈煩悶，嘔噦惡心，口苦舌乾，四每服一二丸，不拘時，用新井花水送下。此藥並能清暑，若夏月盛暑之時，不論男婦小兒，亦宜常服之，不可缺也。</p>
<h3>六合定中丸</h3>
<p>厚朴（一兩五錢）　蘇葉（四兩五錢）　香薷（四兩）　枳殼（二兩五錢）　砂仁（一兩）　甘草（五檀香（二兩）　木瓜（二共為細末，煉蜜為丸，每丸重二錢五分。每料重一斤十四兩，碾篩每斤傷折四兩，共應折七五分此丸專治男婦老幼四時感冒傷寒，夏月傷暑瞀悶，頭目昏眩，胸膈煩悶，嘔噦惡心，口苦舌水送</p>
<h3>辰砂益元散</h3>
<p>滑石（六兩）　甘草（一兩）　朱砂（三錢）</p>
<p>共為極細末。</p>
<p>此散專治夏月中暑，身熱頭暈，上吐下瀉，煩躁不安，頭眩目脹，神魂不定，口乾舌燥，四水</p>
<h3>紅玉膏</h3>
<p>香油（四兩）　雞蛋（四個）　黃臘（二兩）　血余（三錢）　槐枝（十三寸，重五錢）</p>
<p>黃丹（二兩）</p>
<p>共熬成膏。</p>
<p>此膏專貼梅瘡頑瘡，結毒　瘡，不論大小，諸毒通用。此藥能去腐生肌，定痛消疼，止癢化日一</p>
<h3>黃玉膏</h3>
<p>脂油（四兩）　黃臘（一兩，入油內化）　白臘（五錢，入油內化）　黃柏（五錢）　乳香（一錢，共熬成膏。</p>
<p>此膏專貼一切諸般瘡瘍，其色紫黑，腫痛腐爛不愈，或不生膿，或不收口，疼痛不止者，此攤</p>
<h3>白玉膏</h3>
<p>定兒粉（一兩）　黃蠟（一兩五錢）　香油（四兩）　硼砂（二錢）　好冰片（五錢）</p>
<p>共熬成膏。</p>
<p>此膏專貼諸般瘡瘍，結毒粉毒，癰疽頑瘡，諸般疔毒，紫黑且腐，久而不收，臭爛不愈者，</p>
<h3>逼蟲香</h3>
<p>茅香（一兩五錢）　細辛（一兩五錢）　零陵香（一錢三分）　山柰（一兩）　川椒（二兩五錢）　藿共研成粗末。</p>
<p>此藥凡遇四時不正，瘟疫流行，宜常焚燒此香，則不致傳染。多燒碎末，可以避邪避瘟。</p>
<p>空室久無人住，則積濕容易侵人。預制此香燒之，可以遠害。</p>
<h3>洗眼藥末方</h3>
<p>防風（一兩）　荊芥（一兩）　苦參（一兩）　細辛（一兩）　銅綠（一兩）　甘草（一兩）</p>
<p>共為細末。</p>
<p>此方專治眼目諸症，內外瘴翳，視物昏花，迎風流淚，暴發赤腫，云翳氣朦，天行時眼，久愈</p>
<h3>越鞠保和丸</h3>
<p>東山楂（一兩）　神麯（一兩）　雲茯苓（一兩）　半夏（一兩）　香附米（一兩）　蒼朮（一兩）　川錢）</p>
<p>共為細末，加神麯一兩，打糊為丸，如桐子大。</p>
<p>此丸專治憂思氣怒，胸結不舒，損傷肝脾，以至嘔吐嘈雜，胸膈脹滿，不思飲食，郁結煩悶濃味</p>
<h3>赤金錠</h3>
<p>火硝（八兩）　漳丹（一兩）　黑礬（一兩）　朱砂（五分）　黃丹（五分）</p>
<p>依法炮制。但此藥不可多服，以三四分為度。</p>
<p>──治諸凡痧症腹痛、絞腸痧、烏痧，服用刀割細末少許，男左女右，點大眼角，汁出即</p>
<p>愈。</p>
<p>──治喉閉、雙蛾、單蛾，用新水研少許服之，或刮細末吹之。</p>
<p>──治暴發火眼，頻搽大眼角。</p>
<p>──治受暑惡心，欲吐不吐，滾水研少許服之。</p>
<p>──治無名腫毒，蠍螫蟲咬，水研，敷患處，立效。</p>
<h3>痧藥</h3>
<p>明天麻（五斤）　麻黃（五斤）　生甘草（五斤）　丁香（五斤）　明雄黃（五斤）　蒼朮（五斤）　川共研細末，依法成丸。</p>
<p>此藥專治絞腸腹痛，頭眩眼黑，一時昏閉，不省人事，　痧等症。先將兩丸研末，吹入鼻內</p>
<h3>洗痔漏神方</h3>
<p>番大馬（一條分為三節，每節用砂鍋熬透，洗三日，或洗九日）</p>
<h3>萬應麻黃散</h3>
<p>馬前子（一兩）　麻黃（一兩）　乳香（一兩）　沒藥（一兩）</p>
<p>共為細末，每服一錢，用黃酒送下。見血干上，青腫燒酒調上。</p>
<p>此散專治男婦老幼一切跌打損傷、刀傷、箭傷。傷筋動骨，輕者用燒酒調上患處，重者用無不效若待兩三個時辰不見動靜，再服七八分。無論如何重之傷，自有起死回生之妙。但此散力量遺</p>
<h3>上毒瘡藥</h3>
<p>黃芩　黃柏　青粉　青黛　側柏葉（各一錢）</p>
<p>共為細末，加紅升丹、冰片。</p>
<p>此藥專治脾經濕熱發於頭面，常生小瘡毒如粟米大，破則黃水浸淫潰爛，痛癢無休。將此藥</p>
<h3>藿香正氣丸</h3>
<p>藿香（一兩二錢）　廣陳皮（八錢）　紫厚朴（八錢）　半夏（八錢）　於朮（八錢）　白茯苓（八錢）</p>
<p>共為細末，用棗、薑、大腹皮各八錢煎湯，疊丸如梧桐子大。</p>
<p>此丸專治四時不正之氣，感冒風寒，乍冷乍熱，頭疼惡心，口苦無味，不思飲食，咳嗽痰喘滯，汲水</p>
<h3>參蘇理肺丸</h3>
<p>蘇葉（五錢）　干葛（五錢）　前胡（五錢）　半夏（五錢）　茯苓（七錢五分）　陳皮（五錢）　枳殼共為細末。如冬月，用麻黃二兩煎湯為丸，如梧桐子大。</p>
<p>此丸專治肺經不清，一切痰喘咳嗽，不論四時感冒，傷寒傷風，發熱憎寒，頭疼無汗，鼻塞鼻流多送</p>
<h3>犀角上清丸</h3>
<p>犀牛角（一兩）　桔梗（一兩）　赤苓（一兩）　大生地（一兩）　牛蒡子（一兩）　川芎（一兩）　青薄荷（一兩二錢）　生共為細末，水疊為丸，如梧桐子大。</p>
<p>此丸專治心經火盛，三焦有熱，口舌生瘡，眼目赤腫，牙齒急痛，耳鳴作癢，鼻塞不通，咽一</p>
<h3>清肺抑火丸</h3>
<p>黃芩（二兩）　廣陳皮（二兩）　前胡（二兩）　苦桔梗（二兩）　知母（兩半）　蜜桑皮（二兩）　麥殼（一兩）　干葛根（一兩共為細末，水泛為丸如梧桐子。</p>
<p>此藥專治肺氣不清，上焦邪熱，咽喉腫痛，及牙齒疼痛，身熱聲啞，胸膈作痛，鼻衄出血，臨</p>
<h3>十全大補丸</h3>
<p>於白朮（二兩，土炒）　當歸（二兩）　川芎（二兩）　杭白芍（二兩）　蜜黃　（四兩）　茯苓（四共為細末，滴水為丸，如梧桐子大。</p>
<p>此丸專治氣血兩虛，脾胃齊損，或四肢怠惰，或眼目昏花，或飲食不思，或動輒自汗，夜臥心滾</p>
<h3>金匱腎氣丸</h3>
<p>熟地（八兩）　茯苓（三兩）　山藥（四兩）　山萸（四兩）　澤瀉（三兩）　丹皮（三兩）　附子（二共為細末，滴水成丸，如梧桐子大。</p>
<p>此丸專治脾腎虛弱，腰重腳腫，小便不利，或肚腹脹疼，四肢浮腫，或喘急痰盛，以成蟲症錢，</p>
<h3>附子理中丸</h3>
<p>大附子（七錢）　肉桂（七錢，去粗皮）　黃　（一兩）　炙甘草（五錢）　於白朮（一兩，土炒）</p>
<p>共為細末，煉蜜為丸。</p>
<p>此丸專治中寒不渴，昏不知人，口噤不語，四肢逆冷，臍腹冷痛，霍亂轉筋，一切虛寒等症</p>
<h3>連翹敗毒丸</h3>
<p>歸尾（一兩）　赤芍（一兩）　天花粉（一兩）　杭白芷（一兩）　連翹（一兩）　黃芩（八錢）　金銀兩）　荊芥穗（六錢）　川軍共為細末，用酒四兩打糊為丸，如梧桐子大。</p>
<p>此丸專治三焦積熱，風毒，無名腫毒，諸般瘡瘍，起初發熱憎寒，四肢倦怠，內熱發干，鼻此或早晚各進一服亦可。戒發物、煙酒。孕婦忌服。</p>
<h3>胃苓丸</h3>
<p>豬苓（一兩）　澤瀉（一兩）　蒼朮（一兩）　厚朴（一兩）　陳皮（一兩）　白朮（二兩，土炒）　杭共為細末，神麯打糊為丸，如梧桐子大。此丸專治脾胃不和，嘔吐痰水，胸膈痞悶，身熱頭紅棗</p>
<h3>香連丸</h3>
<p>川黃連（十兩，用吳萸五兩水泡，取連炒，去吳萸不用）　廣木香（二兩五錢）</p>
<p>共為細末，用醋打糊為丸，如梧桐子大。</p>
<p>夫痢者乃濕熱食積所致，濕熱傷血分則赤，傷氣分則白，氣血俱傷則赤白分離。黃者食積，後重</p>
<h3>歸脾丸</h3>
<p>炙黃　（一兩）　野於朮（一兩）　懷山藥（一兩，炒）　遠志（一兩，去心）　白茯苓（一兩）　酒甘草（三錢）</p>
<p>共為細末，用圓眼肉八錢煎湯為丸，如梧桐子大。</p>
<p>此丸專治男婦思慮過度，勞心傷脾，健忘怔忡，煩躁不寐，短氣自汗，坐臥不安，飲食減少龍眼</p>
<h3>六味地黃丸</h3>
<p>大熟地（八兩）　山藥（四兩，炒）　山萸肉（四兩，炒）　粉丹皮（三兩）　白茯苓（三兩）　澤瀉共為細末，煉蜜為丸，如梧桐子大。</p>
<p>大凡陰虛之症，起自少年之人，縱欲者多，節欲者少。人至十五六歲，陽精始動，正在氣血汗，滋陰此藥不燥不寒，滋補腎水，並理脾胃。無論老少，凡陰虛火動者，皆宜服之，久服必有奇效</p>
<h3>知柏地黃丸</h3>
<p>熟地（八兩）　山萸（四兩，炒）　山藥（四兩，炒）　丹皮（三兩，酒洗）　茯苓（三兩）　澤瀉（共為細末，煉蜜為丸，如梧桐子大。</p>
<p>此丸又名滋陰地黃丸，治下元虛損，心腎不交，腰疼耳鳴，小便頻數，心火不降，腎水不生等症藥降</p>
<h3>麥味地黃丸</h3>
<p>大熟地（八兩）　山藥（四兩）　丹皮（三兩）　白茯苓（三兩）　山萸肉（四兩）　澤瀉（三兩）　寸共為細末，煉蜜為丸，如梧桐子大。</p>
<p>此丸專治腎水不足，虛火上炎，消渴飲水，五心煩熱，心火不降，陰水不升，咳嗽痰血，五下</p>
<h3>玉容肥皂</h3>
<p>杭芷（二錢）　附子（二錢）　獨活（二錢）　白蘞（三錢）　細辛（二錢）　葳蕤（錢六）　麝香（錢共為細末，用肥皂一個，胰子四兩，搗勻為丸，重一兩一團。夫人之臉皮毛膚，皆屬太陰脾等類</p>
<h3>癬藥方</h3>
<p>紅棗肉（二兩）　核桃肉（二兩）　大榧子（一兩）　水銀（二兩）</p>
<p>須共合一處，搗爛成泥，用白布包裹，以微火烤，搽患處。</p>
<p>夫癬之生也，因風毒邪熱客於皮膚之間，以致遍身走散，痛癢不止，或疾如癮疹，或形如圓此藥</p>
<h3>太乙紫金錠</h3>
<p>文蛤末（二斤）　大戟末（一斤）　山慈菇末（一斤六兩）　麝香（三兩）　千金子（十兩）　朱砂末共為細末，糯米面打糊為丸，每料重五斤十五兩五錢，入糯米面打糊為丸錠，共重三十斤，此藥內可服，外可上，隨症調引，起死回生，真為衛生至寶。治一切飲食、藥毒、蟲毒、瘴水風消宜薑急關水爛黃不塗</p>
<h3>補中益氣丸</h3>
<p>黃　（一兩五錢，蜜炙）　茯苓（一兩）　陳皮（一兩）　白朮（二兩，土炒）　白芍（八錢，酒炒）</p>
<p>共為細末，用紅棗、生薑各一兩，熬水為丸，如梧桐子。</p>
<p>內傷之症，起於飲食，當食不食，過食過飽，一飢一飽，元氣漸傷，不見其損，日有所虧，難。</p>
<p>知調少年</p>
<h3>防風通聖丸</h3>
<p>防風　大黃　白朮　川芎　白芍　石膏　當歸　荊芥　黃芩　梔子　桔梗　滑石　連翹（各共為細末，水疊為丸，如梧桐子大。</p>
<p>治風熱鬱結，寒火相激，頭目不清，咽喉不利，或疼或腫，發熱發赤，咳嗽痰，溲便淋閉，疽風</p>
<h3>桂附地黃丸</h3>
<p>即六味地黃丸加附子、肉桂二兩。</p>
<p>此藥專治老人命門火衰，不能生土，形體瘦弱無力，脾胃虛寒，飲食少思，或臍腹寒痛，或錢</p>
<h3>三黃寶蠟丸</h3>
<p>藤黃（二兩）　天竺黃（二兩）　大戟（一兩）　歸尾（一兩）　劉寄奴（一兩）　牛黃（一兩）　麝香錢。務炙死合勻，倘遍共為細末，用淨黃蠟十二兩為丸，重一錢。</p>
<p>此藥破頑痰，保元氣，解諸毒，活經絡，接筋骨，消瘀血。專治跌打、撲傷、損傷，閃腰岔男子人事丸，藥三可見</p>
<h3>仙藥茶</h3>
<p>六安茶（一斤）　石菖蒲（二兩）　鮮蘇葉（二兩）　陳皮絲（二兩）　鮮薑絲（二兩）</p>
<p>於五月五日午時共合一處，用水拌勻，入磁缸封貯，三日取出涼干，仍封於磁缸內存放。</p>
<p>此藥專治四時令序皆有不正之氣，感冒風寒，停食積滯，胸膈飽滿，嘔吐惡心，頭眩頭痛，腹痛腰酸，憎寒壯熱，手足戰栗，咽嗌不利，百節酸痛，或口中發苦，鼻孔燥干，皆治之。</p>
<h3>七厘散</h3>
<p>藏紅花（一兩五錢）　三七（二兩）　生軍（二兩）　桃仁（一兩五錢）　歸尾（一兩五錢）　猴薑（（四錢）　血竭（二兩）</p>
<p>錢）　麝香（二錢）</p>
<p>共為細末。</p>
<p>此藥專治跌打損傷，墜車落馬，瘀血凝結，棒瘡疼痛難忍者，用此藥救之，無不神效。</p>
<p>可服</p>
<h3>冰硼散</h3>
<p>冰片（二分）　硼砂（四分）　火硝（三分）</p>
<p>共為細末。</p>
<p>專治胃火上升，痰滯積熱，怕食熱物，喜食涼，牙齒疼痛，時作時止，不時舉發。每用藥末</p>
<h3>化腐生肌散</h3>
<p>靈藥（二錢，煮過三次）　輕粉（二錢）　冰片（二分）</p>
<p>共為細末。</p>
<p>此散專治化腐生肌，凡瘡毒破後，膿水淋漓，膿爛腥臭，強肉紫黑，難於收口，用此散摻於</p>
<h3>靈藥方</h3>
<p>白礬　黑礬　食鹽　火硝　水銀（以上各五錢）</p>
<p>將前四味藥為極細末，安於鍋底，將水銀居中，上用碗蓋，鹽水合泥封固，濕沙蓋其上，以此藥專治一切瘡瘍潰後，拔毒去腐生肌長肉。瘡口堅硬，肉黯紫黑，用此藥少許，雞翎掃上</p>
<h3>蒸臍祛病法</h3>
<p>夜明砂（一兩）　兩頭尖（五錢）　人參（三錢）　白茯苓（三錢）　蓮須（三錢）　川附子（三錢）</p>
<p>石（五錢，另包，臨時此藥治風癇，撮口臍風，或常出黃水。凡諸般臍症，此藥貼臍上，烤熱鞋底熨之，無不神效</p>
<h3>治體氣藥方</h3>
<p>枯礬（一兩二錢）　海螵蛸（五錢）　密陀僧（火　，童便漫淬，二兩）</p>
<p>用童便一碗，將密陀僧　，入便內漫淬，不計遍數，以便盡為度。</p>
<p>上各藥為細末和勻，每用些須，干則用唾津調搽，濕則干搽之，不過數次見效。</p>
<p>治體氣不和，風濕襲入腠理，以致或白或紫，不疼不癢，凡遇此症，並皆治之。</p>
<h3>洗藥</h3>
<p>荷葉（二兩）　吳茱萸梗（三錢）</p>
<p>此藥專洗氣虛脫肛。</p>
<h3>又方</h3>
<p>苦參（一兩）　朴硝（一兩）　荊芥穗（三錢）　防風（三錢）　枳殼（三錢，生）　甘草（三分，生）</p>
<p>用水煎浴，絲棉包裹。</p>
<p>此藥專治肛門腫痛，風濕腫墜搔癢，洗之自愈。</p>
<h3>太乙膏</h3>
<p>黑參　白芷　當歸　赤芍　肉桂　生地（各一兩）</p>
<p>上　咀，用麻油三斤漫之，春五日，夏三日，秋七日，冬十日。用文武火熬，待白芷焦色，滴水此藥治背癰疽，濕痰流注，湯燙火燒，無名腫毒。一切瘡已潰者生肌長肉，未潰者貼之即消</p>
<h3>代喉針</h3>
<p>藜蘆（一錢，炙）　苦參（五分）　細辛（五分）　青黛（八分）　月石（一錢）　膽礬（六分）　雄黃共為細末，此藥專吹單雙乳蛾，紅腫不破，命在幾希，用此藥二三厘吹之可活。</p>
<h3>吹喉蠍梢散</h3>
<p>蠍梢（七枚，焙）　皂刺（五分，炙）　甘草（五分，生）　雄精（一錢，研）　硼砂（八分，　）</p>
<p>共為細末，密貯，勿令泄氣。</p>
<p>此藥專吹走馬喉風，咽關腫閉，滴水不下，此症危在旦夕，急用三四厘吹點患處，可劫十中</p>
<h3>通宣理肺丸</h3>
<p>沙參（二兩）　蘇葉（四兩）　陳皮（四兩）　枳殼（四兩）　前胡（四兩）　半夏（四兩）　干葛（四草（一兩，制）</p>
<p>共為細末。水疊為丸，如梧桐子大。</p>
<p>此藥專治一切風寒咳嗽，痰飲壅滿，氣促作喘等症，並皆治之。</p>
<h3>八寶珠子散</h3>
<p>珠子（三錢）　京牛黃（一錢）　青黛（八分）　人中白（四錢，三黃湯　）　兒茶（一錢）　石膏（竭（六分）</p>
<p>共為細末。</p>
<p>此藥專能化腐生肌，凡瘡毒破後，膿水淋漓，膿爛腥臭，強肉紫黑，難於收口，用此散摻於</p>
<h3>清涼散</h3>
<p>爐甘石（二兩）　五倍子（一錢）　硼砂（三錢）　雄膽（一錢）　蝦蟆草（一錢）　京牛黃（二錢）</p>
<p>共為細末。</p>
<p>痔漏原素積濕熱所致，或過食炙爆膏粱濃味，或負重竭力，氣血縱橫，經絡交錯，或酒色過血敗</p>
<h3>加味清涼散</h3>
<p>京牛黃（一錢）　珠子（七分）　熊膽（一錢）　蝦蟆草（一錢）　海螵蛸（一錢）　象牙屑（一錢）</p>
<p>（一錢）　硼砂（二錢）　冰共為細末。</p>
<p>此藥主治之症及用法，均與清涼散同。</p>
<h3>抱龍丸</h3>
<p>薄荷葉（五分）　全蠍（五錢，去毒）　浙貝（五錢，去心）　半夏（五錢，炙）　茯神（一兩，抱天竺黃（四錢）　雄共為極細末，煉蜜為丸，重五錢，朱砂為衣。</p>
<p>此藥治小兒急慢驚風，牙關緊閉，口眼歪斜，不省人事，用一丸薑湯調搽牙關，再用一丸薑荷湯重，疼發兒初</p>
<h3>金衣祛暑丸</h3>
<p>藿香（四兩）　香薷（四兩）　蘇梗葉（四兩）　白朮（一兩，土炒）　黑蒼朮（二兩）</p>
<p>厚朴（二兩茯苓（四兩）　白瓜（一兩五錢）　豬苓（共為細末，煉老蜜為丸，重一錢五分，用朱砂二兩為衣，外用大赤金重衣。</p>
<p>專治中暑身熱頭痛，上吐下瀉，煩躁不安，頭目眩暈，嘔噦惡心，口苦舌乾，四肢困倦，精無病之人可常服之。每服一二丸，用新汲水或冰水送下。風寒，薑湯送下。</p>
<h3>橘半枳朮丸</h3>
<p>白朮（四兩，土炒）　半夏（二兩，炙）　山楂肉（二兩）　陳皮（二兩）　枳實（二兩）　神麯（二兩，炒）</p>
<p>共為細末，水疊為丸，如梧桐子大。</p>
<p>此藥健脾養胃，理氣化痰，有滯能消，脾虛胃弱能補。每服三錢，早晚用薑湯送下，白水亦</p>
<h3>十香返魂丹</h3>
<p>伽南香　雄丁香　清木香　蘇合油　檀香　降香　乳香　藿香　薑蠶（炒，去絲嘴）　天麻（鹽水，分為九次，二兩）</p>
<p>上各藥俱研極細末，分量兌準，無有低昂。用甘草四兩熬稠汁，對煉蜜為丸，每丸重一錢，──治男婦痰厥，中風中臟，口眼歪斜，牙關緊閉，昏暈死去，或諸風狂亂，見神見鬼，</p>
<p>自言──治行人夏月中暑，卒然暈倒死去，藿香湯下。</p>
<p>──治喜、怒、哀、樂、愛、惡、懼七情取傷而死者，燈心湯下。</p>
<p>──治夜夢驚悸怔忡，心神不交，夢起游蕩，重傷又臥，醒後不知，燈心金子湯下。</p>
<p>──治孕婦懷孕七八個月，忽然死去，此為子暈，人參同朱砂隔水燉湯下。</p>
<p>──治孕婦胎哭有聲，胎動不正，蓮心湯下。</p>
<p>──治男婦大小，如醉如痴，似　似呆，赤金煎湯下。</p>
<p>──治小兒急慢驚風，天吊仰，口吐痰沫，手足抽搐，薄荷湯下，燈心湯亦可。</p>
<p>──治男婦交媾，脫陰而死者，升麻湯下。</p>
<h3>壬水大金丹</h3>
<p>川大黃（錦紋者五斤，切薄片，以燒酒一斤，白蜜四兩和勻，綠豆二斤水浸一夜，北鉛二斤以夏取出香枸杞子（各一兩）　蚊蛤（四兩）　川貝母　石膏　牙皂　製半夏（各二兩）　生礬　便附以上藥味用水五斤，煎汁三斤，去渣，浸前大黃，以汁盡為度，晒乾為末。每大黃末一斤，礞石　官粉　硼砂　琥珀　玉金　沉香（各一兩）　犀角（二錢）　羚羊（三錢）　鐘乳粉（三錢）</p>
<p>以上十一味皆取淨末，合勻聽用。鐘乳宜用上白者，以甘粉、藿香、零陵香、白芸香各一錢炒黃色。</p>
<p>文蛤（以茶鹵熬一日，不住手攪；再以糯米熬湯，熬三日，不住手攪。以作不混，且生金為白雲苓　嫩黃　（蜜炙）　當歸　枸杞　粉甘草　人參　鬱金（各五錢）　麥冬（二兩，去心）此八味煎濃汁二盞，入文蛤膏，再煎成膏。以前末同膏合勻，千杵為丸，如梧桐子大，大金凡一切痰迷癱瘓，蟲鬲哮喘諸症，噙化一丸，立效。</p>
<h3>烏金丸</h3>
<p>台烏　熟大黃　黃芩　莪朮　三棱　赤芍　黃□　丹皮　阿膠　蒲黃　延胡索　香附烏豆水制。</p>
<p>上為細末，煉蜜為丸，每丸重一錢，用蠟皮封固。</p>
<p>治婦人三十六症，思慮氣惱，變生多痰，孕育不成，崩中帶下，五心煩熱，口苦咽乾，飲食產後減用</p>
<h3>平安丹</h3>
<p>云香末（一斤）　檀香末（八兩）　沉香末（一兩）　南蒼朮末（二斤）</p>
<p>此藥專治四時不正或陰霧瘴氣、潮濕地氣，及疹痘之人周身搔癢，毒惡之氣。用藥面燒熏，</p>
<h3>治鼻衄方</h3>
<p>生地炭（三錢）　薄荷炭（三錢）　側柏炭（二錢）　蘄艾炭（二錢）</p>
<p>水煎代茶，頻頻飲之。</p>
<p>治努傷吐血衄血，痰中帶血，一切失血便血等症，皆可服之，大有奇功。或平素不善調攝，</p>
<h3>鐵扇散</h3>
<p>象皮（五兩）　龍骨（五兩）　松香（十兩）　飛礬（十兩）　老松香（十兩）　寸白香（十兩）</p>
<p>共為細末。</p>
<p>治跌打損傷，或瘀血凝滯，以至刀傷出血，用此散敷之，所有外因之症，並皆治之，奇效。</p>
<h3>八寶救坤丸</h3>
<p>全當歸（四兩）　熟地（二兩，麩炒）　官粉（一兩五錢）　蒲黃（二兩）　乾薑（八錢）　黑豆（二炒）　白芍（四兩，醋炙共為細末，合蜜為丸，重二錢，外加人參。</p>
<p>專治胎前產後，月經不調，干血癆，赤白帶下，崩症及開花女兒癆等症，無不神效。每服一</p>
<h3>二香丸</h3>
<p>丁香（二十五粒）　木香（二錢五分）　蛇蛻（一條）　南瓜子（四小盅）　僵蠶（四小盅）　槍藥（共為細末。黃蠟為丸，如綠豆大。</p>
<p>夫翻脹之症，自古未有，讀書罕載，妙無盡矣。其病症俱由憂思過度，寒冷不節，飲食失調惟滿倭瓜、疙疸、芥菜、清茶、生冷之物。</p>
<h3>仙傳五香丸</h3>
<p>香附（二斤，醋炙）　五香脂（一斤）　黑丑（四兩）　白丑（四兩）</p>
<p>共為極細末，醋水為丸。</p>
<p>此藥專治消食、消積、消痞、消痰、消氣、消滯、消腫、消痛、消血、消痢、消蟲、消脹、</p>
<h3>蟾酥錠</h3>
<p>雄黃（八兩）　朱砂（一兩）　蝸牛（二兩）　冰片（一錢）　麝香（五分）</p>
<p>共為細末，蟾酥為錠，銀朱為衣。</p>
<p>蓋謂癰疽者皆因氣血凝滯，陰陽相搏而成也，今誠修合此藥，能治一切癰疽發背，無名腫毒帶火</p>
<h3>千金保胎丸</h3>
<p>白朮（四兩，土炒）　熟地（四兩）　杜仲（四兩，薑汁炒）　當歸（二兩，酒炒）　續斷（二兩，芩（二兩，炒）　陳共為細末，棗肉為丸。空心服，每服二錢。</p>
<p>凡受孕三月而胎墜者，雖氣血不足，乃中衝脈有傷。中衝脈即陽明胃經，供應孕胎。至此時月胎益氣</p>
<h3>黃連赴宴散</h3>
<p>黃連　黃芩　黃柏　山梔仁（各一錢）　細辛　乾薑（各三分）</p>
<p>共為細末，用米泔水漱口後，搽藥於患處。此藥專治咽喉腫痛，口舌生瘡，牙齒腫痛等症。</p>
<h3>文蛤散</h3>
<p>文蛤（一個，燒干）　高鹼（一兩）</p>
<p>共為細末，用陳醋調敷腫處。</p>
<p>治癰疽諸毒，起初漫腫不作膿者，或毒熱流聚，瘡毒結腫，頑癬痔瘍等症。</p>
<h3>川槿皮散</h3>
<p>川槿皮（二錢）　輕粉（五錢）　斑蝥（七個）　大楓子（七個）</p>
<p>上為細末，用河井水一盅，煎半盅，露一宿，筆蘸塗之。</p>
<p>治一切風濕瘡瘍腫，干濕疥瘡，風濕熱毒蘊結，皮膚諸般頑癬，癢痛難當等症。</p>
<h3>必效散</h3>
<p>石膏（一錢，　）　枯礬（二錢）　雄黃（一錢）　輕粉（二錢）　川槿皮（三錢）　密陀僧（一錢）</p>
<p>共為細末，每用少許搽患處。</p>
<p>能治頑癬等症。</p>
<h3>妙貼散</h3>
<p>明淨硫黃（細末，一斤）　蕎面（八兩）　白附子（細末，四兩）　白面（八兩）</p>
<p>上硫黃、蕎面、白面三味，共合一處，用清水微拌，木器內壓成片，單紙包裹，風中陰乾，此藥專治癬疥毒瘡等症，治之甚效。</p>
<h3>栝蔞散</h3>
<p>栝蔞根（一兩）　赤小豆（一兩）</p>
<p>共為細末，醋調敷患處。</p>
<p>此藥專治癬疥毒瘡等症，治之甚效。</p>
<h3>白川槿皮散</h3>
<p>白蘚皮（二錢，去心）　檳榔（二錢）　川槿皮（二錢，去木，酒洗）　雄黃（二錢）　水銀（二錢共為細末，用黑牛血調藥，一日搽數十次。</p>
<p>此藥專治癬疥毒瘡等症，甚效。</p>
<h3>加味拔毒散</h3>
<p>赤小豆（二錢）　雄黃（五分）　南星（一錢，生）　白礬（二錢，生）　貝母（二錢，去心）</p>
<p>共為極細末，此藥專治結核腫硬色不變者，塗之。</p>
<h3>加味陰陽散</h3>
<p>黃連　乾薑　青黛　兒茶（各等分）</p>
<p>共為細末，每用少許搽患處，立效。</p>
<p>此散專治口舌生瘡等症。</p>
<h3>仙傳撥雲散</h3>
<p>爐甘石（黃連水制，一兩）　珍珠（二錢）　熊膽（五分，淨）　琥珀（五分）　冰片（一錢）　白丁黃（五厘）　乳香（五厘共為細末，重羅數次，磁罐盛之，用涼水蘸藥少許點之。</p>
<p>此藥治暴發火眼，紅絲赤脈，云翳等症，治之甚效。</p>
<h3>秘傳回光撥雲散</h3>
<p>爐甘石（黃連水制過，一錢二分）　冰片（六分）　白丁香（水飛，六分）　熊膽（六分）　硼砂（（去油，三分）　沒藥（去共為細末，重羅數次，磁罐盛之，用涼水蘸藥少許點之。</p>
<p>此藥治暴發火眼、紅絲赤腫、云翳等症。</p>
<h3>神仙光明散</h3>
<p>爐甘石（黃連水炙過，五錢）　冰片（五分）　麝香（三分）</p>
<p>共為細末，重羅數次，磁罐盛之，用涼水蘸藥少許點之。治病與前同。</p>
<p>生地瀝青（四錢）　白蠟（二兩）　將地瀝青熬滾，白蠟溶化開。</p>
<p>治多年頑癬，諸藥熏、搽、洗不效者，用此藥即愈。</p>
<h3>牙疼藥捻</h3>
<p>珍珠　兒茶　琥珀　龍骨　乳香　沒藥　冰片　硼砂　牛黃　明雄黃　石膏（各等分）</p>
<p>上為細末，面打糊合一處做捻，塞牙縫內，自然消腫解毒止膿，生肌長肉。忌雞、魚、豬、此藥治牙齒腐爛，及骨槽風、多骨疽等症。</p>
<h3>頑癬必效散</h3>
<p>川槿皮（四兩）　輕粉（四錢）　雄黃（四錢）　百藥煎（四錢）</p>
<p>上為細末，用陰陽水調搽。</p>
<p>治多年頑癬，諸藥熏、搽、洗不效者，用之即愈。</p>
<h3>搽癬方</h3>
<p>枯礬（四錢）　潮腦（二錢）</p>
<p>上為細末，用好陳醋調勻，將患處抓破搽上即愈。</p>
<h3>漚子</h3>
<p>檀香（二兩）　沉香（一兩）　菊花（一兩）　滑石（一兩）　定粉（一兩）　紅棗肉　豬胰子（黃酒上用黃酒二大碗，煎熬數沸，濾去渣，入蜜再熬二三沸。</p>
<p>此藥專治面生黑　，或生小疙疸，或生痤痱、粉刺之類，並皮膚瘙癢。每清晨洗面，久久自</p>
<h3>清胃搽牙散</h3>
<p>石膏（一兩，生用）　白芷（三錢）　青鹽（三錢）　熊膽（五分）　青黛（一錢）</p>
<p>上為極細末，每日早晚搽牙漱口。忌羊肉、甜物。</p>
<p>此散治咽喉口舌諸症，單雙乳蛾紅腫疼痛，滿口糜爛，湯水不下，口舌生瘡，瘟毒發頤，牙</p>
<h3>清胃抑火搽牙散</h3>
<p>石膏（五錢）　硼砂（一錢）　薄荷葉（五分）　檀香（三分）　冰片（五厘）</p>
<p>共為細末，不時搽之。</p>
<p>治病與清胃搽牙散同，功效略大。</p>
<h3>清胃散</h3>
<p>石膏（三錢）　硼砂（二錢）　胡黃連（二錢）　兒茶（一錢五分）　牛黃（一錢）　冰片（二分）</p>
<p>上為細末，搽患處。治病功效與前同。</p>
<h3>萬病無憂散</h3>
<p>香薷（二兩）　白扁豆（二兩，炒）　草果（一兩二錢）　黃連（一兩二錢，生）　滑石（一兩二錢）</p>
<p>皮（八錢）　赤茯苓（八（五錢六分，炒）　茴香（五錢五分共為細末，每服二錢，白滾水或清茶調服。</p>
<p>治夏令暑濕不正之氣，肚腹疼痛，霍亂泄瀉等症。</p>
<h3>洗藥荊葉散</h3>
<p>頑荊葉（二錢）　白芷（一錢）　細辛（一錢，去苗）　蔓荊子（一錢）　桂心（二錢）</p>
<p>川芎（一錢）</p>
<p>上作一劑，入鹽二錢，連根蔥三莖，水五碗，煎取四碗去渣，將藥水燙洗腫痛處，在避風處治從高墜下，及一切傷折筋骨，瘀血結聚疼痛之病。</p>
<h3>洗藥方</h3>
<p>川椒（二兩）　茵陳（七兩）　槐枝（六兩）　端午艾（八分）　綠豆（一小升）　生蜂蜜（一厘）</p>
<p>用水二大柳罐，滾數沸，濾去渣。</p>
<p>此藥專治濕氣下注，二陰搔癢腫痛等症。</p>
<h3>碧云散</h3>
<p>川芎（一錢）　青黛（一錢）　鵝兒不食草（二錢）</p>
<p>用涼水噙口中，將前藥吹鼻內。</p>
<p>此藥治上焦風熱，頭痛傷目等症。</p>
<h3>清熱散風湯</h3>
<p>荊芥（一錢）　防風（一錢）　苦參（三錢）　蛇床子（一錢）　朴硝（一錢）</p>
<p>用水以絲綿包裹，不拘時洗。</p>
<p>治肝脾二經濕熱，外受邪襲於皮膚，郁於肺經，以致遍身生瘡，搔癢抓破時津汁水浸淫成片</p>
<h3>三聖散</h3>
<p>川芎　細辛　雄黃（各等分）</p>
<p>上為細末，以絲綿包裹。</p>
<p>此藥專治一切風濕熱毒，郁結腫痛，濕痰流注，肌膚赤腫。能清熱散風，消腫解毒，用之神</p>
<h3>生肌珍珠散</h3>
<p>珍珠（豆腐煮，二錢）　輕粉（六分）　石膏（一錢）　冰片（一分二厘）</p>
<p>共為極細末。</p>
<p>此藥專治癰疽潰後瘡口不收，敷之即能消腫定痛，收口生肌。</p>
<h3>理氣健脾丸</h3>
<p>白朮（十一斤四兩）　當歸（十一斤四兩）　蓮肉（三斤十二兩）　陳皮（五斤十兩）　枳實（二斤（三斤十二兩）</p>
<p>（三斤十二兩）　砂仁（三治男婦一切風逆不和，脾胃虛弱，飲食不甜，四肢倦怠，大便不調，胸膈不開，兩脅臌脹，變生妙</p>
<h3>固齒秘方</h3>
<p>生大黃（一兩）　熟大黃（一兩）　生石膏（一兩）　熟石膏（一兩）　骨碎補（一兩）</p>
<p>銀杜仲（一錢）</p>
<p>上為細末，每早起先以此散搽牙根，然後淨面，淨畢用冷水嗽吐。</p>
<h3>跌打損傷神效方</h3>
<p>白附子（二十兩）　白芷　天麻　生南星　防風　羌活（各一兩）</p>
<p>共為細末，敷破處，未破水調上，重者並服數錢。</p>
<h3>燙火油傷方</h3>
<p>槐條（兩許）　香油炸枯，去條，入宮粉二兩，漳丹、松香少許，調勻敷上。</p>
<h3>附雜方</h3>
<h4>結骨丹方</h4>
<p>大黃（二錢）　當歸（二錢）　自然銅（二錢）　乳香（二錢）　沒藥（二錢）　川斷（二錢）　硼砂（故紙（二錢）　五台麝（五共為細末，每服二錢，元酒送下，或童便亦可。</p>
<h4>治刀傷良方</h4>
<p>豬苦膽（十個）　陳干醋（一斤）　生鍛石（半斤）　乳香（五錢）　沒藥（五錢）　兒茶（五錢）　血此藥先將鍛石研細，羅去渣，即將下七味研細合用，盛在磁器內，勿使泄氣。</p>
<h4>千金獨聖丸</h4>
<p>（專治疔毒）</p>
<p>馬前子，以陰陽瓦焙乾存性用。</p>
<p>馬前子一兩，開水煮去皮，香油炸紫色為度。每兩用甘草二錢，糯米面為丸，雄黃為衣，如治一切瘡毒，槐花送下；眼疾，白菊花送下；左癱右瘓，五加皮、牛膝湯送下；流火症，葡墨膨瘧疾噎</p>
<h4>發表丸</h4>
<p>治一切傷寒無汗，頭疼發熱，身痛口乾。</p>
<p>甘草　麻黃　升麻　葛根（各四兩）　蒼朮（二兩）</p>
<p>為末，煉蜜為丸，肥皂大。每服一丸，生綠豆湯送下。如三日外再加一丸，加元酒一盅。</p>
<h4>治干血勞</h4>
<p>紅花（一兩）　白米（一兩）　甘草（一兩）　紅豆（一兩）　蘇木（一兩）　白糖（一兩）　芝麻（一銅錢（七個）</p>
<p>分為三服，一晚一服，水四大盅，煎八分溫服，出汗為度。忌無鱗魚。此方治好多人，不可</p>
<h4>治心頭痛</h4>
<p>烏梅（一個）　棗（二個）　杏仁（七個）</p>
<p>共為一處搗爛，男子用酒，女子用醋送下，永不害心疼。</p>
<h4>治疔瘡丸</h4>
<p>雄黃（三錢）　大黃（三錢）　巴豆（三錢，去油、皮、心）</p>
<p>共搗如泥，醋面糊為丸，如鳳仙子，每服二十一丸。如不省人事，以二十三丸，熱開水化開</p>
<h4>治婦人血經閉方</h4>
<p>大黃　薑黃（各五兩）</p>
<p>共為細末，以豬膽為丸，如梧桐子大。每服一錢，空心滾水送下。服藥四五服，其熱腫退消</p>
<h4>通經丸方</h4>
<p>黑牽牛　神麯（各等分）</p>
<p>共為細末為丸，如梧桐子大，每服二錢，空心好黃酒送下。</p>
<h4>益元散</h4>
<p>（治夏天暑熱者）</p>
<p>飛淨滑石（二兩）　粉甘草（三錢）　朱砂（二錢）</p>
<p>共研細末，用井水沖服，或用開水冰浸涼喝，加白糖或加蜜，喝之神效。每服一兩。</p>
<h4>仙傳催生方</h4>
<p>全當歸（八錢）　川芎（五錢）　白芷（一錢五分）　枳殼（八錢）</p>
<p>水一盅，煎六分，溫服。</p>
<h4>八寶接骨丹</h4>
<p>血竭　乳香　沒藥　兒茶　陳皮　鬱金（各三錢）　麝香（三分）　白公雞（一只，去爪嘴）</p>
<p>上藥為細末，再將雞連毛、五臟，剁爛入藥，摻勻，用破襪底攤上，貼患處，竹板逼之，下</p>
<h4>治氣迷心方</h4>
<p>甘遂　朱砂（各三錢）</p>
<p>共為細末，用豬心血為丸，蒸熟，再用豬心熬湯送下。</p>
<h4>平安如意丹</h4>
<p>蒼朮（三錢）　天麻（三錢二分，蒸）　蟾酥（九分，酒化）　麻黃（三錢，去根節）　粉草（二錢共為細末，江米糊為丸，萊菔子大。</p>
<p>一治寒暑痧脹肚疼，頭暈眼黑，用七丸放舌下，候舌微麻咽之。</p>
<p>──治寒暑甚重者，絞腸腹痛，心中閉悶，不省人事。先將五丸研細末，吹鼻內，再七丸</p>
<p>放舌──治走馬牙疳，涼調服。</p>
<p>──治瘧疾，研細末，吹鼻中，不愈再服七丸。</p>
<p>──治痢疾，將藥放舌下化服。</p>
<p>──治小兒急慢驚風，痰涎涌盛，用七丸為末，涼水調服。</p>
<h4>避瘟丹</h4>
<p>此藥燒之能令瘟疫不染，空房內燒之可避穢氣。</p>
<p>乳香　南蒼朮　北細辛　生甘草　川芎　降真香（各一兩）　一方加白檀香（一兩）</p>
<p>共為細末，棗肉為丸，如芡實大。</p>
<h4>治小兒出痘後痘落眼中方</h4>
<p>牛身上虱子一個，取血點之即愈。</p>
<h4>又方</h4>
<p>用雄雞冠血和銀朱少許，以銀簪點眼角，三次即愈。</p>
<h4>治齒縫出血不止方</h4>
<p>竹茹醋浸一宿，含之，三次即好。</p>
<h4>治暴急霍亂吐瀉方</h4>
<p>陳皮（五錢）　藿香（五錢）　黃土澄水二盅，煎一盅，服之神效。</p>
<h4>治噎膈開關百發百中方</h4>
<p>雪梨（一枚）　巴豆（七個，去殼）　麝香（三分）</p>
<p>和搗爛，徐徐吞之。</p>
<h4>治大頭瘟頸臉皆腫方</h4>
<p>用福建靛花三錢，燒酒一盅，雞蛋清一個，攪勻吃下，神效。</p>
<h4>治蚰蜒入耳方</h4>
<p>用貓尿不拘多少，灌入耳內即出。</p>
<p>如取貓尿，蒜搗爛抹貓鼻上即出。諸蟲入耳，並皆治之。</p>
<h4>治男女黃病方</h4>
<p>紅棗（三兩，煮，去皮核）　真木耳（二兩）</p>
<p>搗爛做丸，每服三錢，茵陳五錢煎湯送下，五服即愈。</p>
<h4>治手足凍瘡方</h4>
<p>蟹殼燒灰，麻油調擦，先用蘿卜、茶、橘皮煎湯熏洗之，即愈。</p>
<h4>治小便出血方</h4>
<p>淡豆豉一撮，煎湯服之。</p>
<h2>卷三</h2>
<h3>益母丸</h3>
<p>益母草（一斤分四分，每分用老酒、鹽水、醋、童便制）　琥珀　乾薑　木香（各一兩）</p>
<p>人參便炙）　白共為細末，煉蜜為丸，重二錢，蠟皮封固。</p>
<p>專治產後頭暈眼黑，腰痛耳鳴，敗血過多；或惡露不行，臍腹疼痛；或榮衛虛損，過食生冷干，此藥</p>
<h3>回生丹</h3>
<p>大黃末一斤（醋四兩，紅花酒四斤）　當歸　川芎　熟地　白茯苓　人參　香附　元胡烏藥羌活上為細末，合前大黃加煉蜜為丸，如彈子大，蠟皮封固。夫妊婦失宜，或勞役動胎，漏血不產沫怯臟腑分，</p>
<h3>保安萬靈丹</h3>
<p>蒼朮（八錢，米泔水浸，炒）　全蠍（洗去鹽性，晒乾）　石斛　天麻　當歸　川芎　荊芥防草朱砂共為極細末。</p>
<p>專治癰疽疔毒，一切無名腫毒，疼痛紅腫，無頭惡瘡，惡心風濕，濕痰流注，及偏正頭疼，壯熱</p>
<h3>梅蘇丸</h3>
<p>盆糖（二十四兩）　烏梅肉（一兩）　干葛（一錢）　薄荷（五分）　紫蘇葉（五分）　白檀香（二錢）</p>
<p>共為細末，滴水為丸，如芡實大。</p>
<p>專治三焦積熱，五臟伏火，心中煩悶，口舌乾燥，咽喉不利，時常作渴，或飲食過度，或過神不暑熱寧</p>
<h3>丸</h3>
<p>草（一斤，蜜、酒拌，蒸九，晒乾，為細末）</p>
<p>煉蜜為丸，如梧桐子大。</p>
<p>表略云，餐食飲水，可作充腸之饌；餌松含柏，亦成救病之功。是以療肌者不在於珍羞，愈並藥方二件。依方覓采，其草有異，金棱銀絲，素莖枝　，對節生枝，采合宜用。藥本尋常，制法頗繁，但能久服，效有殊功。服至百服，筋骨輕健，耳目聰明。服至千服，精神倍長，語言清亮，齒根堅固，黑發烏須。又能益元氣，療諸風，強四肢，除麻痹，神效。每服一丸，早晚白水送下。</p>
<h3>龜齡集</h3>
<p>熟地（酒浸一宿，切片，瓦上焙乾，為末，能生精補腎，六錢）　生地（六錢，乳汁浸一宿，（五錢，乳為末，能補筋酒洗淨，焙乾為強筋骨，補腎水燒酒浸七次，為末，童便浸一宿，炒干為末茯苓（五錢，乳汁浸，晒乾一炷香，去皮去臍，晒乾為末養胃）　縮砂仁（二錢五分，薑汁乾為末，養）　細辛（一錢，醋浸一宿，晒乾，通竅）　黑芝麻（五錢，乳汁炒熟，為末，潤肺）　旱蓮草（五干為末，明目）　辰砂（五錢，用蕎麥面包住，茸（一兩，酥炙，研去油為末，補心血）　甘草（六火，壯筋骨）　山甲（八錢，燒酒浸一宿，晒乾，酥炙七次，薑汁　七次，晒乾為末，飛過，補腎）　小雀腦（三錢上和勻，晒乾為末，助陽補虛損）　淫羊藿（二錢，乳汁拌，晒兩，酥炙黃為末，補虛助陽）　鳳仙花子（二錢五分，井花水浸一紫梢花（四錢五分，河水浸一宿，焙乾為末，補虛助陽）　紅蜻晒乾為末）</p>
<p>又將各藥如法制，選吉日良辰，入淨室修合一處。忌雞、犬、孝服、婦人見之。用人乳、醋封每溫送</p>
<h3>造龜齡酒方</h3>
<p>將前三十三味藥三料，共成粗末，用西紙包衣，外用黃絹袋盛之，扎口。用燒酒三十斤，江成七</p>
<h3>梨膏方</h3>
<p>嫩藕（一斤八兩，取汁用）　秋梨（二十個，去皮核，取汁）　紅棗肉（八兩，煮，取汁用）　冰荷（二兩，煎汁上將冰糖、盆糖、白蜜五斤八兩化開，濾去渣，熬成膏餅。此膏能清金降火，止嗽化痰，解悉能治之。每用五六茶匙，早晚滾白水沖服。</p>
<h3>伏暑丹</h3>
<p>厚朴（七錢）　蘇葉（二兩）　香薷（二兩）　枳殼（一兩二錢）　扁豆（一兩二錢）　赤苓（一兩）</p>
<p>共為細末，煉蜜為丸，每丸重二錢五分。</p>
<p>此丹專治暑濕傷脾，霍亂吐瀉。</p>
<h3>八寶坤順丹</h3>
<p>人參（二錢五分）　益母草（三錢，子、梗、葉全用，忌鐵器）　全當歸（五錢，酒洗）</p>
<p>川芎（黃芩（五錢炒）　阿膠（二錢五一秋五）　橘紅（鹽水炒）　熟地（各五錢，薑汁炒）　紫蘇（二錢五分，子梗全用）　廣木香（二錢五分，炒）　琥珀（二錢用水調側柏葉入鍋中，安琥珀於內，浸水煮巳至未時，取起另研。</p>
<p>共為細末，煉蜜為丸，每丸重二錢五分，用大赤金為衣。</p>
<p>專治婦人百病，屢試屢驗，真有起死回生之力，不可輕視，妙難盡述。每服一丸，隨病用引經水先期，知母、白芍湯下；經水後期，當歸、地黃湯下；經行腰膝疼痛，防風、羌活湯下阿童草仁</p>
<h3>胎產金丹</h3>
<p>當歸（一兩，酒洗）　茯苓（一兩）　白朮（一兩，土炒）　生地（一兩，酒煮）　白薇（一兩）　元草（一兩，炒）　赤石脂兩）　益母草（一兩）　香附（二兩）</p>
<p>上藥共合一處，將紫河車一具，放長流水浸三日，取出入鉛球內，入白酒二斤，清水一碗，車，專治胎前產後一切危急諸症。每服一丸，臨產之前米湯化服一丸，助精神，壯氣力，易於分娩。</p>
<p>──治產後，童便、老酒化服一丸，神清體健，無血暈悶亂之患。</p>
<p>──行經後，當歸湯化服二三丸，自然受孕安穩。</p>
<p>──懷孕之後，用焦白芍、條芩湯化服二三丸，能安胎。</p>
<p>──屢經小產，不受孕育，當歸、熟地湯化服二三丸，永無墜胎之患。</p>
<p>──胎動不安，白蓮瓣化服一丸。</p>
<p>──勞役墜損，小米湯化服一丸。</p>
<p>──胎漏下血，藕節、棕炭湯化服一丸。</p>
<p>──妊娠脾胃虛弱，中氣不足，人參煎湯化服一丸。</p>
<p>──妊娠腹痛脹滿，木香磨水化服一丸。</p>
<p>──妊娠腰腿酸痛，桑寄生湯化服一丸。</p>
<p>──產後兒枕痛，用山楂、好酒、黑糖化服一丸。</p>
<p>──橫生逆產，子死腹中，當歸、川芎化服一丸。</p>
<p>──產後乳食不行，老酒、當歸、山甲湯化服一丸。</p>
<p>──胞衣不下，紅花、益母草湯化服一丸。</p>
<p>──初產交骨不開，龜板湯化服。</p>
<p>──妊娠轉胞，小便不通，琥珀磨水化服。</p>
<p>──妊娠子癇抽痛，鉤藤湯化服。</p>
<p>──其余經脈不調，月事參差，有餘不足，諸虛百損，症瘕積塊，干血勞傷，子宮虛冷，</p>
<p>血海</p>
<h3>珍珠散</h3>
<p>官粉（八錢）　珠子（三錢）　冰片（八分）</p>
<p>共為極細末。</p>
<p>專治一切瘡毒潰破之後，腐肉不退，肌肉不生，毒瓦斯不盡，疼痛難忍。用藥敷於患處，止疼</p>
<h3>羌活正氣丸</h3>
<p>羌活（二兩）　藿香（二兩二錢）　蘇葉（八錢）　陳皮（八錢）　厚朴（八錢）　半夏（八錢，炙）</p>
<p>香（二兩）　降香（三兩）</p>
<p>共為細末，煉蜜為丸。</p>
<p>此丸治暑濕傷脾，霍亂吐瀉。</p>
<h3>清瘟解毒丸</h3>
<p>黃芩（二兩）　元參（三兩）　桔梗（二兩）　陳皮（二兩）　黃連（一兩五錢）　升麻（三兩）　馬勃兩五錢）　連翹（二兩）　薑淡）　犀角（一兩）</p>
<p>共為細末，煉蜜為丸，重三錢。</p>
<p>專治四時不正，瘟疫傷寒，頭痛心熱，脊強脅脹，口苦無味，心煩嘔吐，不思飲食，遍身疼麻木</p>
<p>黃芩（二兩）　元參（三兩）　桔梗（二兩）　陳皮（二兩）　黃連（一兩五錢）　升麻（三兩）　馬勃兩五錢）　連翹（二兩）　薑淡）　犀角（一兩）</p>
<p>共為細末，煉蜜為丸，重三錢。</p>
<p>專治四時不正，瘟疫傷寒，頭痛心熱，脊強脅脹，口苦無味，心煩嘔吐，不思飲食，遍身疼麻木</p>
<p>黃芩（二兩）　元參（三兩）　桔梗（二兩）　陳皮（二兩）　黃連（一兩五錢）　升麻（三兩）　馬勃兩五錢）　連翹（二兩）　薑淡）　犀角（一兩）</p>
<p>共為細末，煉蜜為丸，重三錢。</p>
<p>專治四時不正，瘟疫傷寒，頭痛心熱，脊強脅脹，口苦無味，心煩嘔吐，不思飲食，遍身疼麻木</p>
<p>黃芩（二兩）　元參（三兩）　桔梗（二兩）　陳皮（二兩）　黃連（一兩五錢）　升麻（三兩）　馬勃兩五錢）　連翹（二兩）　薑淡）　犀角（一兩）</p>
<p>共為細末，煉蜜為丸，重三錢。</p>
<p>專治四時不正，瘟疫傷寒，頭痛心熱，脊強脅脹，口苦無味，心煩嘔吐，不思飲食，遍身疼麻木</p>
<h3>一捻金</h3>
<p>黑丑（一錢）　白丑（一錢）　檳榔（一錢）　大黃（一錢）　朱砂（五分）　赤金（一張）　共為細末專治小兒一切風痰壅塞，口吐涎沫，胸高肺脹，喘滿氣促，咳嗽面黃，兩脅扇動，陷下作坑潮熱</p>
<h3>平安丹</h3>
<p>白蔻（一兩）　草蔻（一兩）　紅蔻（一兩）　肉蔻（一兩）　神麯（二兩）　沉香（一兩二錢）　木香（二兩，炙）　橘皮（二兩）</p>
<p>實（一兩二錢，炒）</p>
<p>共為細末，煉蜜為丸，重三錢。</p>
<p>此藥專治心胃疼痛，中氣中寒，水停心下，嘔噦惡心，吐食吐水，胸膈痞滿，噯氣嘈雜，惡如患前症，每服一丸，薑湯送，用白滾水亦可。</p>
<h3>觀音救苦回生丹</h3>
<p>香附（三斤）　霜桑葉（一斤）　川芎（四兩）　全當歸（二兩）　白扁豆（二兩）　茯神（二兩）　沉此丹所治之症、引方列後：──五勞七傷，諸虛百損，一切淋症，引用大生地、沙參、雲苓、半夏（各一錢），煎湯下。</p>
<p>──左癱右瘓，口眼歪斜，痛風痰厥，引用白芥子、廣陳皮、大生地、木瓜（各一錢），礞</p>
<p>石（──氣噎、氣膈、酒膈，氣滯不舒，引用木香、杏仁、條芩、白朮（各一錢）湯下。</p>
<p>──偏正頭風，一切頭痛，引用防風、宣木瓜、青皮（各一錢）湯下。</p>
<p>──一切咽喉十八種之症，引用葛花、連翹、麥冬、小生地（各一錢）湯下。</p>
<p>──單雙腹脹膨悶，及蟲症，引用茵陳、腹皮、澤瀉（各一錢）　水蔥（三錢）湯下。</p>
<p>──肝氣不舒，胃氣不和，反胃作嘔，引用條芩、白朮、鬱金（各二兩）湯下。</p>
<p>──脅滿串氣、疝氣、肝氣下串，引用膽草、蔞仁、木香、大熟地（各一錢）、砂仁（五分）</p>
<p>湯下</p>
<p>──傷寒虛症，陽狂譫語，不汗，引用蒼朮、蘇葉、小生地（各一錢）、牛蒡（二錢）、麻仁（三──便血、吐血、鼻衄，引用白茯苓、荷葉灰（各二錢）湯下。</p>
<p>──諸般咳嗽痰喘，肺熱肺虛，引用梔子、百合、黃芩（各一錢）、紅棗（六分）湯下。</p>
<p>──瀉肚白紅痢疾，引用白茯苓、黃柏（各一錢）、大生地（二錢）湯下。</p>
<p>──腹內疼痛，一切食寒疼痛，引用枳實、木瓜、白芍、焦三仙（各一錢五分）湯下。</p>
<p>──心口疼痛，灣水諸般水引用。腹內作脹，引用大腹皮、木香、茵陳、半夏（各一錢）</p>
<p>湯下。</p>
<p>──大便不通，引用黃柏（三分）、　大黃（二分）、　大生地（一錢）湯下。</p>
<p>──婦人經血不調，氣血不通，引用全歸、紅花、陳皮、元參（各一錢）湯下。</p>
<p>──婦人諸般各症，引用全歸、砂仁、蔞仁（各一錢）、紅花（一錢）湯下。</p>
<p>──小兒急慢驚風，一切內熱存食存乳，引用羌活、鉤藤（各一錢）、活蠍、蟬蛻湯下。</p>
<p>──小兒食水不調，腹痛，夜啼，發燒，引用焦三仙、神麯、遠志（各一錢）湯下。</p>
<p>此丹討去，誠心服之，勿經婦人之手。大人每服二丸，小兒每服一丸。如無力辦引藥者，</p>
<p>可</p>
<h3>萬應錠方</h3>
<p>胡黃連（一斤半）　黃連（一斤半）　牛黃（五錢）　兒茶（一斤半）　熊膽（一兩）　冰片（五錢）</p>
<p>──治中風痰火，半身不遂，喉閉乳蛾，牙疳瘟疹，傷寒中暑，痢疾霍亂，血熱便血，瘟</p>
<p>毒發送。</p>
<p>──治疔毒攻心，瘧疾牙疼。</p>
<p>──治騾馬尿結糞結，黃鶻眼跳。</p>
<p>──治無名腫毒，痔瘡、漏瘡、　瘡、傷手瘡。俱用陳醋研上。</p>
<h3>回生再造丸</h3>
<p>真蘄蛇（去皮骨，並頭尾各三寸，酒浸炙，取淨末四兩。眼光如生者真）　兩頭尖（系草藥，山（一兩，草（二兩）　青皮（一（一兩）　羌活（一兩）　白芷（二蠍（二兩五錢，去毒）　防風（二兩）　天碎補（一兩，去皮）　香附（一兩，去淨皮毛）　元大黃（二兩）　威靈仙（二兩五錢）　葛根（二兩五錢）</p>
<p>（二兩）　藿香（二兩）　冬白朮（一兩，土炒）　紅曲（八錢）　川黃（二兩五錢）　草蔻（二兩）　川連（二兩）　茯苓（二兩）　薑黃（二兩，片蠶（一兩）　松香（五錢，煮過）　川芎（二兩）　廣三七（一兩）　桑寄生（二兩五錢）</p>
<p>冰片（二兩五錢）　當門麝（五錢）　辰砂（一兩，飛淨）　桂心（二）　天竺黃（一兩）　地龍（五以上各藥材必須地道，炮制必須如法。共研細末，擇天月二德日，於淨室內煉蜜為和，合搗此藥專治風濕諸痹，口眼歪斜，半身不遂，行步艱難，筋脈拘攣，手足疼痛。宣暢血氣，通錢黃</p>
<h3>拔毒錠</h3>
<p>白芨（一兩）　白蘞（一兩）　南星（二兩）　牙皂（一兩五錢）　花粉（一兩五錢）　射干（一兩）</p>
<p>兩）　血竭（二兩）　冰片花（二兩）　木通（一兩）　川連（二兩）</p>
<p>兩）　草梢（五分）　白梅花（三兩）　乳香（二兩）</p>
<p>以上共為極細末，用木瓜酒黏為錠。</p>
<p>此錠專治一切癰疽瘡瘍、無名腫毒、疔瘡、杖瘡、發背、對口、頑瘡堅硬、不潰正膿、腐肉毒外──治癰疽、發背、對口、疔瘡，初起腫硬熱疼，用醋磨上。</p>
<p>──治無名腫毒，蠍螫狗咬，毒蟲咬傷，用醋調上。</p>
<p>──治各瘡久不收口，色黑堅硬，用燒酒調上。</p>
<p>──治暴受痧氣，頭痛目脹，山嵐瘴氣，可研少許，鼻聞取嚏。</p>
<h3>墨玉膏方</h3>
<p>全當歸（三錢）　白丁香（二錢）　蒼朮（三錢）　紅花（二錢）　乳香面（三錢）　沒藥面（三錢）</p>
<p>兩）</p>
<p>此藥專治一切無名腫毒，潰破者俱效。或濕毒疙疸上之亦好，初起者上之能消，已破者能化腫止此素</p>
<h3>拔毒萬應膏</h3>
<p>川烏（生）　草烏　白芷　白蘞　白芨　官桂　苦參　當歸　赤芍　羌活　甘草　土木鱉山以上十九味，用淨香油二斤八兩，將藥浸入油內，用潔淨鍋慢火熬至藥枯為度，濾去渣。</p>
<p>將此膏專治一切無名腫毒，已潰未潰皆可貼之。</p>
<h3>風熱喉痹方</h3>
<p>燈心草（一錢）　黃柏（五錢）　白礬（七分）　腦片（三錢）</p>
<p>燈心、黃柏二味燒存性，白礬　，同腦片共為細末。此藥吹喉中即愈。</p>
<h3>白降丹</h3>
<p>朱砂（二錢）　雄黃（二錢）　硼砂（二錢）　水銀（六錢）　火硝（一兩五錢）　白礬（一兩五錢）</p>
<p>上藥各研細末，再入水銀，研至不見星為度。用傾銀火罐一個，坐炭火上，徐入藥熬化，至捻將扇此丹專治瘡瘍疔毒，癰瘍惡候，毒熱過盛，麻癢　痛，一切有餘之症。敷之消腫止痛，初起丹也</p>
<h3>止痛接骨散</h3>
<p>血竭　乳香　琥珀　合歡　月石　龍骨　馬前子　沒藥　雄黃　麝香（各等分）　朱砂冰片共為細末。</p>
<p>此藥專治舒筋活血，益氣壯陽，健筋強骨，治風吹冷振，寒濕香港腳，腰疼腿痛，四肢疼痛，無力酒送</p>
<h3>五食白花丸</h3>
<p>五倍子　食鹽　白礬　花椒（各等分）</p>
<p>以上藥味，粟泥為丸，重二錢五分，外用雄黃為衣。專治婦女陰濕陰癢，陰內生瘡、生蟲，藥納</p>
<h3>觀音救度普濟丹</h3>
<p>明天麻　全當歸　明沒藥　南紅花　廣木香　王不留行　香墨　百草霜　飛羅面（各一兩）　藏將墨打碎研細，用滾水浸泡，每日清晨將陳水潑去，換上新水，如此三次，膠性盡去，墨皆專治婦人病症三十六種，無不應驗，並男子吐血之症。藥引列後：──治童女、女子經水不通。十四五歲行經之時，所忌生冷等物不可多食。忽成鬼胎，或</p>
<p>三五──治婦人不能成孕，皆因紅失虛弱，月經不準，或多或少，經絡虛空，先用藥一丸，引</p>
<p>乳香──治婦人頭胎，生產最難，將產之先即用一丸，引當歸煎湯送下，以保無患。</p>
<p>──治子死腹中，皆因大人受傷，血氣不能養子，用藥一丸，引榆樹皮、蟬蛻燒灰，滾白</p>
<p>水送──治婦人難產，皆因瘀血胞絡，用藥一丸散其瘀血，則易生產。或逆產橫生，依用前引</p>
<p>即愈──治產後胎衣不下，瘀血流入衣胞之內，所以難下，用藥一丸，紅花一錢煎湯送下。</p>
<p>──治產後口乾，腹內下瀉，皆因產後氣虛，心血未定，用前引用藥一丸。</p>
<p>──治產後不一，皆惡血流行，故此乍寒乍熱，用藥一丸，引用童便送下。</p>
<p>──治產後遍身浮腫，皆瘀血流入脾肺經絡，用藥一丸，引用白朮、薑黃，煎湯送下。</p>
<p>──治產後不能言語。人有三毛七孔，惡血流入七孔之內，皆不能言語。用藥一丸，童便</p>
<p>送下──治產後肚臍疼痛，大小腸俱下痢，皆水急下化，晝夜疼痛，時行赤白，用藥一丸，引</p>
<p>用蘿──治產後腰痛，遍身骨節疼，再產之時不能動，用藥一丸，同戥子灰入黃酒內送下。</p>
<p>──治產後大小便不通，脾肝肺腸閉塞，此名血瘀之症，用藥一丸，引通草、紅花、桑皮，</p>
<p>煎──治產後氣血虛弱無力，不時浮腫，出汗盜汗，臍下作痛，用藥一丸，引通草、木通湯</p>
<p>下。</p>
<p>──治產後心腹脹滿，嘔吐不止，皆氣不通，用藥一丸，引半夏、生薑，煎湯下。</p>
<p>──治產後口眼歪斜，皆血不能歸經絡，用藥一丸，引桑白皮，煎湯下。</p>
<p>──治產後咽喉腫痛，因惡血上攻，元氣不能上心肺，用藥一丸，引桑白皮，煎湯下。</p>
<p>──治產後身受寒熱，勉強下床，又受氣惱，用藥一丸，引用黑豆一錢，用老酒送下。</p>
<p>──治產後大便下血不止，赤白帶下，氣血虛弱，惡血下降，用藥一丸，無灰酒送下。</p>
<p>──治產後手足不遂，言語艱難，皆身受風寒，用藥一丸，引用炒黑豆二三丸，用溫酒送</p>
<p>下。</p>
<p>──治產後小便不時下血，因吃了生冷之物，名為胎漏之症，用藥一丸，引崩中散送下，</p>
<p>或黃──治產後下血，胎前作痛，吃了冷硬之物，寒氣攻心，坐臥不寧，用藥一丸，好酒送下。</p>
<p>──治產後寒戰銼牙，因惡血流入經絡，氣血閉塞，用藥一丸，引童便送下。</p>
<p>──治產後肚中膨脹，四肢寒冷，惡血流入經絡，用藥一丸，赤芍煎湯下。</p>
<p>──治產後血脈不調，月經不通，皆惡血散行，吃下生冷，惡血成塊，日久不散，用藥一</p>
<p>丸，──治產後心腹虛悶，肚內膨脹，氣喘咳嗽，出汗如油，用藥一丸，引用通草、黃酒、紅</p>
<p>花、──治產後氣血虛弱，吃了生冷堅硬之物，沖犯惡血，散於四肢，口苦舌乾，用藥一丸，</p>
<p>引用──治產後心腹脹痛，皆惡血未定，吃了堅硬，用藥一丸，引紅花，煎湯下。打下惡物後，</p>
<p>用──治產後務須當月未滿之日，瘀血氣散各經絡，須忌面食、生冷等物，恐成干血之症，</p>
<p>用藥──治童子、男子癆症吐血，以有房勞、吐血，種種不等，用藥一丸，引童便，紅花一錢，</p>
<p>同──治諸般雜症，無不神效。</p>
<h3>加減生肌散</h3>
<p>黃柏（八錢）　兒茶（八錢）　滑石（六錢）　花粉（八錢）　龍骨（八錢，戍糖　）　蒼朮（五錢）</p>
<p>共為極細末，過重羅。</p>
<p>此藥專治瘡痛潰後，久不收口，肌肉生遲，上之能化腐生新，解毒斂口，無不神效。</p>
<h3>牛黃冰蘇散</h3>
<p>牛黃（二錢）　薄荷（五錢）　沒藥（一錢）　兒茶（三錢）　青黛（三錢）　黃柏（一錢，生）　乳香錢五分）　元參（二錢）</p>
<p>共為細末。</p>
<p>此散治心胃有熱，煩急作渴，咽喉腫痛，口舌生瘡。</p>
<h3>福壽丹</h3>
<p>黃連（四分）　朱砂（四分）　甘草（四分）</p>
<p>共為細末，過雙絲羅。</p>
<p>此丹治小兒內熱痰盛，此安神聖藥也。</p>
<p>益母草（一兩）　白芍（一兩）　當歸（一兩）　川芎（一兩）　黃芩（一兩）　白朮（一兩）　茯苓（香附（一兩）　阿膠（八錢黨參（一兩五錢）　甘草（五錢）</p>
<p>共為細末，煉蜜為丸，重三錢。</p>
<p>此藥治胎前產後，經血不調，婦人百病，老酒為引，童便亦可。</p>
<h3>八厘散</h3>
<p>土鱉（去腿，半夏炒，共用一兩）　乳香（一兩，去油）　沒藥（一兩，去油）　自然銅（一兩，上共為極細末。</p>
<p>此藥治症能去瘀生新，續筋接骨，化痰活絡，宣通氣血，消腫解毒，其效如神。</p>
<h3>英神普救丸</h3>
<p>明雄黃（五錢）　鬱金（五錢）　巴霜（八錢，去油）　乳香（一錢五分，去油）　沒藥（一錢五分（二錢）　紫蔻（二錢）　牛黃（二分）　麝香（二分）　琥珀（二分）</p>
<p>共為細末，陳醋打糊為丸，如綠豆大，朱砂為衣。</p>
<p>此藥治痰熱鬱結，鎮驚定魂開氣。</p>
<h3>清痰膏</h3>
<p>皂莢（四兩，全打碎）　當歸（八兩，切）　香白芷（十六兩，切片）　左秦艽（十六兩，切片）</p>
<p>用大麻油十一斤，浸三日。文火熬枯，濾淨渣，篩淨。黃丹五十兩，至滴水成珠，再入淨乳離火，香膏。</p>
<p>此藥善治榮衛不和、無名腫毒及痰咳流注等症，皆可貼之。</p>
<h3>三黃打丁湯洗藥方</h3>
<p>當歸（二錢）　白芷（二錢）　黃連（一錢）　黃芩（一錢）　黃柏（一錢）　地丁（二錢）　公英（二刺（一錢）　甘草（一錢）　五大碗水，煎一盅。</p>
<p>凡遇瘍科一切疔毒惡症，先煎此湯洗之，可保無虞。</p>
<h3>糊瘡方</h3>
<p>紫荊皮（五錢）　赤芍（二錢）　獨活（三錢）　白芷（一錢）　石菖蒲（一錢五分）　共為極細末，此藥方黃酒、涼水對半，大蔥白子熬爛。</p>
<p>專治外科一切諸般無名腫毒，用米醋調敷。</p>
<h3>紅升丹</h3>
<p>水銀（一兩）　火硝（七錢）　白礬（八錢）</p>
<p>共研極細末，水銀不見珠，碗對口，鹽水河泥封口，文武火，三支香為度。</p>
<p>此丹專治一切瘡瘍潰後，拔毒去腐，生肌長肉。瘡口堅硬，肉黯紫黑，用此丹少許，雞翎掃</p>
<h3>膏子藥</h3>
<p>法夏（四錢）　白芷（五錢）　白芍（四錢）　白占（二錢）　脂油（八兩）　銀朱（一兩）</p>
<p>共為細末。</p>
<p>治一切瘡瘍潰後，不得正膿，調化上之，可以化腐生新。</p>
<h3>五味加減散回陽拔毒散</h3>
<p>紫荊皮（五錢）　赤芍（五錢）　白芷（五錢）　黃柏（四錢）　石菖蒲（五錢）　獨活（五錢）　薑黃青黛（三錢）　共研細面，過羅，醋調上。</p>
<p>此外科一切諸般無名腫毒，用米醋調敷。</p>
<h3>生肌散</h3>
<p>石決明（一兩，　白透）　蛤粉（一兩，　透）　龍骨（一兩，　代透）　滑石（一兩）</p>
<p>天花粉（錢）</p>
<p>共為極細面，過重羅，再入冰片一錢，兌勻。</p>
<p>治瘡癰潰後，久不收口，肌肉生遲。上之能化腐生新，解毒斂口，奇效。</p>
<h3>梅花點舌丹</h3>
<p>梅花（二錢）　珍珠（二錢）　辰砂（五錢）　沉香（三錢）　牛黃（二錢）　熊膽（一錢四分）　雄黃酥（五錢）　乳香（三錢）</p>
<p>以上藥味，共為細末，用乳香汁化蟾酥為丸，如黃豆大，外用赤金為衣。</p>
<p>治一切無名腫毒，上之或服之皆可。</p>
<h3>痞氣丸</h3>
<p>厚朴（三錢，薑）　黃連（四錢）　吳萸（錢半）　白朮（二錢，土炒）　茵陳（二錢）</p>
<p>黃芩（二錢）</p>
<p>錢）　川烏（四錢，炙共為細末，煉蜜為丸，如梧桐子大。</p>
<p>此藥專治男婦小兒積聚痞塊，一切等症。</p>
<h3>胡鹽方</h3>
<p>菊花（一兩）　石斛（一兩）　石膏（一兩）　山楂（一兩）　知母（五錢）　酒柏（五錢）　青鹽（三共煎濃汁，炒食鹽一斤，以干為度。</p>
<p>專治牙齦浮腫或流血，亦能固齒。</p>
<h3>姚廣孝方</h3>
<p>吹喉蛾嵋雪。</p>
<p>月石　石膏　白礬　芒硝　冰片　火硝（各等分）</p>
<p>除石膏外，余俱入鍋烊化，用薄荷汁淬干，研細，同石膏末入牛膽內陰乾，取出研細，臨睡</p>
<h3>洗眼方</h3>
<p>膽礬　紅花　黃連　防風　歸尾（以上各二分）　桃仁（七個）煎湯熏洗。</p>
<p>此藥專治暴發火眼赤腫，羞明目疾等症。</p>
<h3>百應閉管丸</h3>
<p>胡黃連（一兩）　穿山甲（香油炸黃）　石決明（　）　槐實（各五錢，炒）</p>
<p>共為細末，煉蜜為丸，每服一丸，空心清米湯下。</p>
<p>此藥專治痔症、漏瘡等症。（又加薑蠶二十條）</p>
<h3>八寶丹</h3>
<p>黃連（搗碎，用人乳一茶盅，不可見塵土，乳炙七次為度）　杏仁（泡去皮尖，研粗末，用犀一兩）</p>
<p>共為粗末。</p>
<p>此藥專治一切風眼火眼，或腫或痛，隱澀難開，怕日羞明，眼邊赤爛等症。</p>
<h3>清魚錠</h3>
<p>白芷（二兩）　南星（一兩）　牙皂（一兩五錢）　射干（一兩）　白薇（一兩）　全蠍（二兩）　雄黃分）　麝香（三分）　細辛（一（一兩）　澤瀉（一兩）　草梢（五錢）　白木瓜酒合錠。</p>
<p>此藥專治諸般毒瘡惡瘡，初起　紅，皮肉不變，漫腫無頭，疔毒疥癬，蛇蠍惡蟲所傷。</p>
<h3>紫金錠</h3>
<p>文蛤（一斤）　大戟（八兩）　光菇（十一兩）　千金子（五兩）　雄黃（二兩七錢五分）　朱砂（三共研極細面，用江米十二兩蒸糊，將藥對面糊拌勻，用大木棍椎至滋潤為度成錠。</p>
<p>專治瘟疫痧脹，痰壅氣閉，咽痛喉痹，霍亂轉筋，一切四時不正之氣，並皆治之。</p>
<h3>如意拔毒散</h3>
<p>南星（五錢）　陳皮（四錢）　蒼朮（三錢）　薑黃（七錢）　甘草（四錢）　白芷（五錢）　天麻（三（三錢）　黃柏（五錢）　大共為極細末，清茶調敷，治一切無名腫毒，退熱消腫。</p>
<h3>虎骨鎮風膏</h3>
<p>全虎骨（一架）　麻黃　桂枝　官桂　羌活　生杜仲　川芎　秦艽　當歸　生地　生山甲獨枝槐用香油十斤，將前藥炸枯去渣，加入熊油二兩，蘇合油五錢，再入炒漳丹六十兩，熬至滴水乳香（五錢）　沒藥（五錢）　樟腦（五錢）　丁香（三錢）　肉桂（五錢）　血竭（三錢）　冰片（三共研細面，對入前藥內，攪勻為度，熬成掏滑石面上，冷結成坨，裝入壇中，撒滑石面。</p>
<p>用此藥治血虛受風，筋骨腰膝疼痛，及一切寒濕為患，並貼患處。</p>
<h3>飛龍奪命丹</h3>
<p>南星（一錢）　雄黃（一錢）　巴霜（一錢）　黃丹（五分）　乳香（一錢）　砂（五分）　信石（五共研細末，酒合蟾酥為丸，黍米大。</p>
<p>此藥治一切癰疽發背，疔毒惡瘡等無名腫毒，初發急症，或黑陷走黃，毒瓦斯內悶，變生七惡在下</p>
<h3>靈應痧藥</h3>
<p>茅蒼朮（六兩）　明雄黃（六兩四錢）　朱砂（一斤）　蟾酥（九錢）　麝香（一兩）　甘草（四兩八共為細面，水疊為丸，如黍米大，朱砂為衣。</p>
<p>專治暑濕霍亂，吐瀉腹痛，四肢厥冷，面青神昏等症。</p>
<h3>漱藥方</h3>
<p>紫荊皮（三錢）　白芷（二錢）　蘇薄荷（二錢）　食鹽（五分）</p>
<p>水煎溫漱。</p>
<h3>清咽消腫止痛散</h3>
<p>兒茶（二錢）　寒水石（三錢）　青黛（二錢，水飛淨）　蛇蛻（一錢）　黃柏（一錢五分）　元明粉共研，過重絹羅為極細面，吹喉痛處。</p>
<h3>散火止痛敷藥方</h3>
<p>荊穗（四錢）　薄荷（二錢）　薑蠶（三錢）　夏枯草（四錢）　青皮（三錢）　桔梗（三錢）　牙皂（共研極細面，茶鹵兌蜜少許調敷。</p>
<h3>段氏金丹（又名德生丹）</h3>
<p>米殼（三斤）　木香（四兩八錢）　廣皮（四兩八錢）　甘草（四兩八錢）　麻黃（四兩八錢）　五味共為細末，煉蜜為丸，每丸重三錢。</p>
<p>專治男婦老少咳嗽痰喘。早晚用一丸，白滾水送下，無不神效。</p>
<h3>痰迷心竅瘋子方</h3>
<p>甘遂（三錢）　朱砂（三錢）　牛黃（二分）　珍珠（一分）　麝香（一分）　共研細末。</p>
<p>血豬心（一個）　以上藥味俱入豬心之內，用西紙二層，草紙十層，將豬心包嚴，用水濕透，吃心。</p>
<h3>洗痔良方</h3>
<p>川椒（三錢）　牛膝（三錢）　地骨皮（三錢）　金銀花（六錢）　黃芩（六錢）　良薑（三錢）　細辛風（三錢）</p>
<p>煎洗，以好為止。</p>
<h3>專治水膨氣神效方</h3>
<p>勿論男女老少，並皆治之。俱按歲數，每歲以用老蒜一個，多少歲數以用多少老蒜，再用黃</p>
<h3>又方</h3>
<p>老蓮蓬殼（三四個）　用陰陽瓦焙乾　碎，再用老酒沖服即愈。</p>
<h3>治牙疼方</h3>
<p>潮腦少許，用沙吊蓋飛過，再用花椒油合，濃抹患處即愈。</p>
<h2>卷四</h2>
<h3>清肺抑火寧嗽化痰丸</h3>
<p>黃芩（二兩，生）　桑白皮（二兩，蜜炙）　黑參（一兩）　知母（一兩五錢，生）　桔梗（二兩）</p>
<p>（二兩）　白茯苓（一草（一兩，生）</p>
<p>上為細末，滴水為丸，如梧桐子大。</p>
<p>此藥專治肺經火盛，咳嗽有痰，鼻流清涕，氣促喘急，胸膈痞悶，聲音不清等症。</p>
<h3>滋陰寧嗽化痰丸</h3>
<p>知母（一兩，生）　貝母（一兩，去心）　天冬（一兩，去心）　寸麥冬（一兩，去心）</p>
<p>五味子（（八錢，麩炒）　苦上為細末，竹瀝為丸，如梧桐子大。</p>
<p>此藥專治陰虛火盛，五心煩熱，咳嗽喘急，痰中帶紅，日晡潮熱，吐血衄血，一切勞碌等症</p>
<h3>香砂養胃寬中丸</h3>
<p>香附（一兩，醋炒）　縮砂仁（八錢，炒）　蒼朮（八錢，米泔水浸，炒）　木香（五錢）　檳榔（兩，炒）　生甘草（五朴（五錢，薑汁炒）</p>
<p>上為細末，滴水為丸，如梧桐子大。</p>
<p>此藥專治脾胃虛弱，食不知味，肚腹作痛，嘔吐惡心，噯氣吞酸，五噎五膈等症。</p>
<h3>參苓白朮丸</h3>
<p>人參（一兩）　白朮（二兩五錢，土炒）　茯苓（一兩）　山藥（一兩，炒）　扁豆（一兩，薑汁炒）</p>
<p>兩，薑汁炒）　砂仁（童便炒）　當歸（二兩，酒炒）　炒芍（一兩，酒洗）　甘草（五錢，炙）　柏子霜（一兩）</p>
<p>毛橘紅（五錢）　沙苑蒺藜（一兩）</p>
<p>上為細末，薑棗煎湯，打神麯糊為丸，如梧桐子大，每服二錢，用米湯送下。</p>
<p>此藥專治病後元氣虛弱，脾胃虧損，四肢沉重，多因少食肌膚消瘦，久瀉久痢等症。</p>
<h3>百消丸</h3>
<p>黑丑（二兩，頭末）　香附（一兩，醋炒）　五靈脂（一兩）</p>
<p>共為細末，醋糊為丸，如梧桐子大。每服一錢五分，不時用淡薑湯送下。</p>
<p>此藥專能消酒食痰氣，水痞腫脹，積塊瘀痛。此藥消而不見，響而不動，藥本尋常，其效甚</p>
<h3>上清丸</h3>
<p>犀角（一兩）　川芎（一兩）　牛蒡子（一兩）　赤苓（一兩）　桔梗（一兩）　連翹（一兩二錢）　黑地（一兩）　甘草（一兩共為細末，蜜為丸，如梧桐子大，每服一錢五分，食遠用清茶送下。</p>
<p>此藥專治上部有熱，頭目赤腫，口舌生瘡，咽喉腫痛，吐血衄血等症。</p>
<h3>竹瀝化痰丸</h3>
<p>黃芩（四兩）　熟軍（十兩）　木香（二兩）　青皮（四兩）　白蔻（四兩）　梔肉（四兩）　枳實（五兩）　白芍（一兩，炒）　檳榔（三兩）　香附（一兩）　山楂肉（三錢）　元參（一兩）　川芎（七錢五分）　白芷（五錢）</p>
<p>共為細末，竹瀝為丸，如梧桐子大，每服錢半，食遠用清茶送下。</p>
<p>此藥治遍身骨節走注疼痛，四肢麻木，寒熱往來，關節不利，喘嗽煩悶一切等症。</p>
<h3>飛龍奪命丹</h3>
<p>雄黃（三錢）　朱砂（三錢，為衣）　輕粉（五分）　血竭（一錢）　乳香（二錢）　沒藥（三錢）　銅香（五分）　蟾酥（二上為細末，將蝸牛搗碎，和藥為丸，如綠豆，朱砂為衣。每服五七丸，量毒輕重。用蔥白三再吃冷水此藥專治疔毒惡瘡，一切歹症，起初憎寒壯熱，惡心煩躁昏憒。此藥服之瘡即起發，能止昏</p>
<h3>清心滾痰丸</h3>
<p>大黃（四兩，酒煮）　黃芩（四兩，生）　青礞石（五錢）　犀角（五錢）　皂角（五錢）　朱砂（五上為細末，滴水為丸，如梧桐子大，朱砂為衣，每服一錢五分或二錢，不拘時，用白開水送此藥治癲癇風症，心氣不足，神志不寧，怔忡健忘，恍惚來去，精神昏憒，怒恐憂慘，虛煩</p>
<h3>滾痰丸</h3>
<p>大黃（八兩，酒拌，蒸，晒乾）　黃芩（八兩，去托）　沉香（五錢）　金星礞石（捶碎，焰硝一又一方加朱砂二兩，研細末，為衣。</p>
<p>上為細末，熟水為丸，如梧桐子大。每服一錢，或一錢五分，不拘時，用白滾水送下。</p>
<p>此藥專治降火化痰，開結順氣，痰厥氣厥，心神恍惚，起居不寧，一切怪異痰症。</p>
<h3>消食化滯丸</h3>
<p>大黃（六兩，生）　黑丑（六兩，頭末）　木香（一兩）　檳榔（一兩）　枳殼（一兩，土炒）　香附連（一兩，生）　黃柏上為細末，水糊為丸，如梧桐子大，每服一錢五分，不拘時，白滾水送下。</p>
<p>此藥治諸氣食積，噎膈痞滿，胃脅刺痛，大小便秘，一切積滯等症。</p>
<h3>二母清順丸</h3>
<p>知母（五錢，生）　貝母（五錢，去心，生）　天冬（四錢，去心）　麥冬（四錢，生）</p>
<p>人參（二炙）　枯芩（五錢花粉（五錢）</p>
<p>上為細末，神麯打糊為丸，如梧桐子大。每服一錢五分或二錢，食遠用清茶送下。</p>
<p>此藥治肺虛喘促，痰滯咳嗽，口舌咽乾，面白清涕，飲食不思等症。</p>
<h3>養胃調臟丸</h3>
<p>人參（去蘆，五錢）　干山藥（一兩，炒）　蓮肉（一兩，去心）　蒼朮（二兩，米泔水浸，炒）</p>
<p>茯苓（一兩五錢）　白蔻二錢拌炒，一分用補骨脂扁豆（二兩，炒）　甘草（二錢上為細末，煮粳米粥調炒，神麯糊為丸，如梧桐子大。</p>
<p>此藥治脾虛久瀉，日夜無度，腸胃虛寒，滑溏不禁等症，並皆治之。</p>
<h3>三補枳朮丸</h3>
<p>砂仁（三錢，炒）　白朮（二兩，土炒）　陳皮（一兩，去白）　枳實（二兩，麩炒）　黃連（五錢母（八錢，去心）　神麯（五錢，炒）　香附（三錢，醋炒）　麥芽（三錢，炒）　山楂肉（五錢）</p>
<p>上為細末，荷葉煎湯煮粳米粥為丸，如梧桐子大。</p>
<p>此藥專治三焦火盛，痰盛不清，頭目迷暈，胸膈不寬，面赤心煩，嘔噦痰水，吞酸等症。</p>
<h3>明目清肝丸</h3>
<p>川芎（五錢）　白芍（一兩，酒炒）　菊花（一兩）　橘紅（八錢）　枳殼（一兩，麩炒）　草決明（歸（八錢，酒洗）　黃芩（一上為細末，滴水為丸，如梧桐子大。每服一錢五分或二錢，食遠清茶送下。</p>
<p>此藥專治眼目昏暗，神光不足，障翳青盲，爛弦風眼等症，並皆治之。</p>
<h3>靈砂丹</h3>
<p>天麻（二兩）　羌活（二兩）　獨活（二兩）　細辛（二兩）　石膏（二兩）　連翹（二兩，去心）　薄（五錢）　當歸（五錢，酒五錢）　菊花（五錢）　人參（五錢）　白朮（五錢，土炒）　防風（二兩）　寒水石（二兩）　桔梗（二兩）　朱砂（二兩）　砂仁（七錢五上為細末，煉蜜為丸，每丸重二錢，朱砂為衣。每服一丸，不拘時，細嚼，或研化，用清茶此藥治傷時疫，憎寒壯熱，渾身疼痛，傷風咳嗽，鼻塞聲重，偏正頭疼，山嵐瘴氣，無汗瘧</p>
<h3>牛黃珍珠琥珀丸</h3>
<p>牛黃（三錢，另研）　珍珠（三錢，另研）　琥珀（三錢，另研）　石葦（三錢）　瞿麥（三錢）　赤（五錢）　滑石（五錢）　車上為細末，煉蜜為丸，每丸重一錢。空心細嚼，用燈心、竹葉煎湯送下。</p>
<p>此藥治心蘊熱、腸胃燥，或小便赤色，癃閉不通，或淋瀝疼痛，或溺血、尿濁等症。</p>
<h3>聰耳蘆薈丸</h3>
<p>蘆薈（五錢）　熟大黃（五錢）　青黛（五錢）　柴胡（五錢）　當歸（一兩，酒洗）　龍膽草（一兩）</p>
<p>錢）　南星（三錢，上藥為末，神麯打糊為丸，如梧桐子大。每服一錢五分，食遠白滾水送下。</p>
<p>此藥治風熱上攻，痰氣熾郁，或心火上炎，或怒動肝氣，以致耳聾鳴，或生　耳，腫痛作癢</p>
<h3>九味清心丸</h3>
<p>蒲黃（二錢五分）　羚羊角（二錢）　犀角（一錢）　黃芩（一錢五分）　牛黃（一錢二分）　石雄黃上藥為末，煉蜜為丸，金箔為衣。每服一丸，熟水化服。</p>
<p>此藥專治心經積熱，頭目赤腫，風痰壅滯，口舌生瘡，咽喉不利，大小便結，一切火症。</p>
<h3>沉香化滯丸</h3>
<p>沉香（五錢）　莪朮（三錢，醋炒）　陳皮（一兩）　香附（一兩，水洗去土）　木香（一兩）　縮砂兩，炒）　甘草（一兩，上藥共為細末，酒糊為丸，如梧桐子大。每服一錢五分，或二錢，空心用滾白水送下。</p>
<p>此藥治內傷生冷、炙爆、濃味、堅硬之物，停滯不化，以致胸膈痞滿，肚腹作痛，食不知味</p>
<h3>滋血養心丸</h3>
<p>當歸（五錢，酒洗）　白茯神（四錢）　白芍（四錢，酒洗）　遠志（四錢）　天冬（四錢，去心）</p>
<p>錢，酒炒）　紅花（子仁（三錢）　甘草（二錢上為細末，蜜水為丸，如梧桐子大。每服一錢五分或二錢，食遠用燈心湯送下。</p>
<p>此藥用治心氣不足，精神恍惚，夜臥不安，怔忡健忘，異夢多驚，心跳心煩等症。</p>
<h3>清離滋坎丸</h3>
<p>生地黃（一兩）　熟地黃（一兩）　麥門冬（一兩，去心）　天冬（一兩，去心）　白芍（一兩，酒萸（一兩，酒蒸去核）　山藥（一兩，炒）　白朮（一兩，土炒）　澤瀉（五錢，去毛）　黃柏（五錢，鹽水炒）　知母（五上為細末，蜜水為丸，如梧桐子大。每服一錢五分或二錢，食遠白滾水送下。</p>
<p>此藥專治虛勞煩瘵，發熱咳嗽，吐痰喘急，自汗盜汗，五心煩熱，吐血衄血，咽瘡聲啞，夜</p>
<h3>坎離保元丸</h3>
<p>白朮（一兩，土炒）　山楂肉（七錢）　人參（五錢）　黃連（七錢，薑汁炒）　陳皮（七錢，酒洗）</p>
<p>柏（七錢）　白茯苓（洗，去心）　酸棗仁（八錢，炒上為細末，蜜水為丸，如梧桐子大，每服一錢五分或二錢，食遠用清茶或白滾水送下。</p>
<p>此藥能滋陰降火，調榮養胃，補髓添精，安神定志，聰耳明目，坎離既濟，卻病輕身，寧心</p>
<h3>六君子丸</h3>
<p>人參（一兩，去蘆）　白朮（一兩，土炒）　白茯苓（一兩）　陳皮（八錢，去白）　半夏（八錢，上為細末，神麯打糊為丸，如梧桐子大。每服一錢五分或二錢，食遠白滾水送下。</p>
<p>此藥專治理肺虛胃弱，不愛飲食，不長肌肉，神疲倦怠，畏冷怯寒，嘔吐腹痛，大便稀薄等</p>
<h3>八珍丸</h3>
<p>人參（一兩）　白朮（一兩，土炒）　白茯苓（一兩）　當歸（一兩，酒洗）　川芎（七錢）　白芍（上為細末，神麯打糊為丸，如梧桐子大。每服一錢五分或二錢，食遠白滾水送下。</p>
<p>此藥專治氣血兩虛，惡寒發熱，煩躁口渴，眩暈昏憒，飲食不思，肚腹膨脹，肌膚消瘦，大</p>
<h3>神芎丸</h3>
<p>大黃（三兩，生）　黃芩（二兩，生）　黑丑（四錢）　滑石（四兩）　黃連（五錢，生）　川芎（五上為細末，滴水為丸，如梧桐子大。每服一錢或一錢五分，食遠用清茶或白滾水送下。</p>
<p>此藥治上焦積熱，風痰壅滯，頭面赤腫，或生瘡癤，咽喉不利，大小便秘，一切風熱之症。</p>
<h3>金花丸</h3>
<p>黃芩（五兩，生）　黃柏（五兩，生）　梔子（五兩五錢，生）　黃連（四兩五錢，生）</p>
<p>上為細末，滴水為丸，如梧桐子大。每服一錢或一錢五分，用清茶送下。</p>
<p>此藥治三焦實火，六經積熱，煩躁作渴，口舌生瘡，一切有餘之火，並皆治之。</p>
<h3>加味拔毒散</h3>
<p>赤小豆（二錢）　雄黃（五分）　南星（一錢，生）　白礬（二錢，生）　貝母（二錢，去心）</p>
<p>共為細末。</p>
<p>此藥專治結核腫硬色不變者，老醋調塗患處。</p>
<h3>加味陰陽散</h3>
<p>黃連　乾薑　青黛　兒茶（各等分）</p>
<p>共為細末。</p>
<p>此藥專治口舌生瘡，每用少許，搽患處即愈。</p>
<h3>擦牙二黃散</h3>
<p>黃連（一錢，生）　黃柏（一錢，生）　硼砂（二錢）　冰片（五分）</p>
<p>共為細末。</p>
<p>此藥專治胃火上升，牙齒疼痛，口舌生瘡，牙縫出血。每用少許搽於牙上，待流涎水，吐出</p>
<h3>刀瘡藥</h3>
<p>白芨　龍骨（各等分）　共為細末。</p>
<p>專治金瘡流血不止，敷傷處，收口止痛，神效。</p>
<h3>生肌珍珠散</h3>
<p>珍珠（豆腐煮，二錢）　輕粉（六分）　石膏（一錢，　）　冰片（一分二厘）</p>
<p>共為細末。</p>
<p>此藥專治癰疽潰後，瘡口不收。敷之能消腫止痛，收口生肌。</p>
<h3>清胃散</h3>
<p>冰片（二錢）　硼砂（五錢）　石膏（五錢，生）</p>
<p>上為細末。</p>
<p>此藥專治咽喉、口舌諸症，單雙乳蛾，紅腫疼痛，滿口糜爛，湯水不下，口舌生瘡，瘟毒發</p>
<h3>擦牙散</h3>
<p>旱蓮草（五錢）　石膏（一兩）　青鹽（二錢）　細辛（一錢五分）</p>
<p>共為細末。</p>
<p>此藥治胃火上升，牙齒疼痛，口舌生瘡，牙縫出血。每用少許，搽於患處，待流涎水，吐出</p>
<h3>類聖散</h3>
<p>草烏（五錢，火煨）　川烏（五錢，煨）　蒼朮（五錢，米泔浸，炒）　細辛（五錢）　白芷（五錢）</p>
<p>上為細末，雞子清調，貼患處，留頂，上蓋紙，一日換二次。</p>
<p>此藥專能行氣疏風，活血止痛，消腫散堅，敷之立效。</p>
<h3>金花散</h3>
<p>天花粉（一兩）　黃連（一兩）　黃芩（一兩）　大黃（一兩）　薑黃（八錢）　白芷（五錢）　南星（上為細末，蜜調，搽患處。</p>
<p>此藥專治一切無名腫毒，退熱消腫。</p>
<h3>黃柏散</h3>
<p>黃柏（一兩）　輕粉（三錢）</p>
<p>共為細末，用豬膽汁調塗患處。</p>
<p>此藥專治　瘡濕毒，及遍身熱毒。</p>
<h3>立效散</h3>
<p>石膏（一兩，　）　青黛（五錢）　輕粉（五錢）</p>
<p>共為細末。</p>
<p>此藥專治黃水瘡，臘油調搽患處。</p>
<h3>神仙通嗌散</h3>
<p>白硼砂（二錢）　兒茶（一錢）　蒲黃（六分）　青黛（一錢）　牙硝（六分）　寒水石（二錢）　枯礬共為細末，吹喉中。</p>
<p>專治咽喉腫痛、生瘡。</p>
<h3>蛤粉散</h3>
<p>黃柏（五錢，炒）　寒水石（三錢，　）　蛤粉（二錢）　輕粉（一錢）</p>
<p>上為細末，涼水調搽患處，一日二次。</p>
<p>此藥專治一切濕瘡，初起如粟米，時時作癢，破時作痛，外因風邪，內因濕熱，黃水浸淫等</p>
<h3>榆礬散</h3>
<p>榆樹白皮（四兩）　大黃（五錢）　枯礬（二錢五分）　皮硝（二錢五分）</p>
<p>上為細末，涼水調敷患處。</p>
<p>治癰疽末成膿者。</p>
<h3>絳雪散</h3>
<p>元明粉（一錢）　硼砂（一錢）　冰片（一分）　牛黃（一分）　朱砂（五分）</p>
<p>共為細末，用葦筒吹患處。</p>
<p>此藥專治咽喉腫痛。</p>
<h3>追蟲散</h3>
<p>大黃（一錢，生）　苦楝根皮（一錢）　使君子（一錢）　檳榔（一錢）　貫眾（一錢）</p>
<p>青皮（一錢）</p>
<p>共為細末，空心用黃酒調服。</p>
<p>此藥專治蟲動腹痛。</p>
<h3>貼頭疼散</h3>
<p>白芷（三錢）　川芎（三錢）　大黃（三錢）　牙皂（三錢）　干蠍尾（一錢）　冰片（一分）</p>
<p>共研極細，青茶鹵調濃，攤布貼之。</p>
<h3>神效活絡丹</h3>
<p>草烏（三兩）　川烏（三兩）　乳香（四兩）　沒藥（四兩）　蚯蚓（十條，白頸）</p>
<p>共研極細末，蜜丸一錢五分重。每早晚服一丸，老酒蒸化服。</p>
<p>此藥專治中風痰氣，半身不遂，口眼歪斜，癱瘓不仁，手足麻木，肩臂疼痛，筋脈不舒，腰</p>
<h3>坎宮錠子</h3>
<p>京墨（一兩）　胡黃連（二錢）　雄膽（三錢）　麝香（五分）　兒茶（二錢）　冰片（七分）　牛黃（上七味為末，豬膽汁為君，加生薑汁，大黃水浸取汗，釅醋各少許，相和藥成錠，用涼水磨此錠子治熱毒腫痛，　赤諸瘡，並搽痔瘡，最效。</p>
<h3>離宮錠子</h3>
<p>血竭（三錢）　朱砂（二錢）　膽礬（三錢）　京墨（一兩）　蟾酥（三錢）　麝香（一錢五分）</p>
<p>上六味為末，涼水調成錠，涼水磨濃塗之。</p>
<p>此錠子治疔瘡毒腫，一切皮膚不變漫腫，搽之甚效。</p>
<h3>白錠子</h3>
<p>白降丹（四錢）　銀黝（二錢）　寒水石（二錢）　人中白（二錢）</p>
<p>上四味共為細末，以白及面打糊為錠，大小由人，不可入口。每用以陳醋研汁，掃敷患處，此錠子專敷初起諸毒癰疽，疔腫流注，痰色惡者，及耳痔、耳挺等症。</p>
<h3>萬應膏藥</h3>
<p>川烏　草烏　生地　白蘞　白芨　象皮　官桂　白芷　當歸　赤芍　羌活　苦參　烏藥甘以上十九味，定粉在外，用淨香油五斤，將藥浸入油內，春五夏三秋七冬十日。候日數已一斤此膏治一切癰疽、發背、對口諸瘡，痰核、流注等毒，貼之甚效。</p>
<h3>加味太乙膏</h3>
<p>白芷　當歸　赤芍　元參（各二兩）　柳枝　槐枝（各十尺）　肉桂（二兩）　沒藥（三錢）　大黃星）　黃丹（四十兩，上將當歸、白芷、赤芍、元參、肉桂、大黃、木鱉、生地八味並槐枝、柳枝，用真麻油稱足用血余火氣味香馥者，其膏已成，即便住火。將膏滴入水中，試軟硬得中。如加老熱油，如稀加炒丹各少許。漸漸加火，務要冬夏老嫩得候下宜為佳。煙盡掇鍋來，方下阿魏，切成薄片，散於膏上化盡。次下乳香、沒藥、輕粉，攪勻，傾入水中，以柳棍摟成一塊。又換涼水浸片時，乘溫每膏半斤，扯拔百轉成塊。又換冷水浸。隨用時每取一塊，銅勺內復化，攤貼，至妙。</p>
<p>此膏治發背癰疽，及一切惡瘡，濕痰流注，風濕遍身筋骨走注作痛，湯燙火燒，刀傷棒毒，又男子遺精，女人白帶，俱貼臍下。臟毒腸癰，亦可丸服。諸般瘡癤，血氣癩癢者並效。</p>
<h3>呂祖一枝梅</h3>
<p>雄黃（五錢）　巴豆仁（五錢，不去油）　朱砂（三分）　五靈脂（三錢）　銀朱（一錢五分）　蓖麻上各研細，於端午日淨室中，午時共研，加油胭脂為膏，磁盒收藏。勿經婦人之手。臨用豆此藥治男婦老幼新久諸症，生死難定之間。芡實大一餅，貼印堂之中，點官香一枝，香盡去。如貼藥處一時後不腫不紅，皮肉照舊不變，謂之白云漫野，病雖輕淺，終歸冥路。小兒急慢驚風，一切老幼痢疾，俱可貼之。凡病用之，皆可預知生死也。</p>
<h3>五虎丹</h3>
<p>當歸　防風　白芷　南星　紅花（各一兩六錢）　沒藥（一兩，去油）　乳香（一兩）</p>
<p>以上共為細末。</p>
<p>此方專治跌撲閃錯，經絡血瘀，皮肉損傷，破流鮮血，受風作腫，疼痛不止。凡一切血脈不處干</p>
<h3>九分散方</h3>
<p>乳香　沒藥　麻黃　馬前子（各四兩）　自然銅　土鱉蟲（各四兩）　共為細末。</p>
<p>此藥專治跌打損傷，從高墜落，筋骨折斷，瘀血腫疼，皮肉損破，刑傷棒傷，車碰馬踏，閃皮</p>
<h3>五味散</h3>
<p>黃芩　黃柏　輕粉　青黛　側柏（各一錢）</p>
<p>共為細末，加冰片二分，紅升丹一錢。</p>
<p>此藥專治濕毒流串，皮膚生瘡，搔癢無度，破浸黃水，禿瘡、耳瘡、鬼臉瘡、羊胡髭瘡、傷香油、涼水調敷。</p>
<h3>乾坤一氣膏</h3>
<p>當歸（一兩）　白附子（一兩）　木鱉肉（一兩）　台麝（四分）　續斷（一兩）　沒藥（一兩二錢）</p>
<p>芷（一兩）　巴豆仁（一兩）</p>
<p>兩）　赤芍（一兩）　三棱（一兩）　元桂（一兩）</p>
<p>此膏專治痞疾，無論新久。又治諸風癱瘓，濕痰流注，各樣惡瘡，百般怪症，頭痛，男子丹三</p>
<h3>神效龜齡益壽膏</h3>
<p>菟絲子（酒蒸）　牛膝（酒洗）　木鱉子　熟地　肉蓯蓉　川斷（酒洗）　蛇床子（酒洗）　鹿茸仁（去皮尖）　穀以上十五味各三錢，或各一兩，用油二斤四兩，將藥入油熬枯，濾去渣，熬至滴水成珠，下蚧（一對）　乳香（三母丁香（三錢）　麝香（三錢）　木香（三錢）　真陽起石（三錢）　蟾酥（三錢）</p>
<p>共為細末，諸藥下完，不住手攪，入磁罐內，下井中浸三日或五日，去火毒方可用。</p>
<p>此膏異授秘傳，能固玉池，真精不泄，靈龜不死，通二十四道血脈，鎮三十六道骨節，氣血虛百頑麻經水暖子光彩人，人，膏仔同天右腎瘡貼</p>
<h3>三黃丸</h3>
<p>大黃（一兩，生）　黃連（一兩，生）　黃芩（一兩，生）</p>
<p>上為細末，煉蜜為丸，如梧桐子大。每服一錢或一錢五分，滾水下。</p>
<p>此藥專治積熱積痰，胸膈痞悶，咽喉不利，眼目赤腫，口舌生瘡，小便赤色，大便結澀等症</p>
<h3>涼血地黃丸</h3>
<p>生地黃（一兩，酒洗）　山梔仁（五錢，炒黑）　當歸（一兩，酒洗）　青皮（一兩，醋炒）　槐花水炒）　蒲黃（五錢，共為細末，滴水為丸，如梧桐子大。</p>
<p>此藥治陰虛火動，素有積熱，面赤心煩，吐血嘔血，咯血衄血，一切失血之症。</p>
<h3>牛黃健步丹</h3>
<p>牛黃（三兩）　薄荷（三錢）　南星（二兩，薑汁炒）　天麻（一兩）　橘紅（一兩五錢）　鹿茸（一蘆，土炒）　白茯神（一（二兩，酒洗）　熟地（二兩）</p>
<p>酥炙）　龜板（一兩五錢，酥炙）　牛膝（（一兩五錢，鹽酒炒）　黃柏（二兩，人乳拌，鹽冬（二兩，去心）　遠志（一兩，甘草水泡）　石菖香（五錢）　木瓜（一兩）　薏仁米（一兩，炒）　羌活（一兩洗）　防風（一兩，酒洗）</p>
<p>上為細末，煉蜜為丸，合豬脊髓、金箔為衣，黃蠟為皮，每丸重一錢五分。不拘時，鹽湯、此藥治中氣風，昏冒僵仆卒倒，口眼歪斜，手足癱瘓，步履艱難，言語塞澀，痰涎壅盛，心</p>
<h3>經驗大健脾丸</h3>
<p>人參（一兩）　白朮（二兩，土炒）　白茯苓（一兩）　陳皮（一兩）　麥芽（一兩）　半夏曲（一兩楂肉（一兩）</p>
<p>（一兩，去根）</p>
<p>上為細末，陳老米、荷葉煎濃湯為丸，如綠豆大。每服一錢五分，食遠用白滾水送下。</p>
<p>此藥治中氣不足，脾胃虛弱，懶於飲食，胸膈窒塞，脅肋脹滿，肢體倦怠，面肌消瘦，嘔吐</p>
<h3>加味六君子丸</h3>
<p>人參（一兩）　白朮（一兩，土炒）　白茯苓（一兩）　陳皮（八錢）　半夏（一兩，薑炒）　木香（上為細末，薑棗湯為丸，每服一錢五分，白滾湯送下。</p>
<p>此藥專治脾胃虛弱，不愛飲食，不長肌肉，神疲倦怠，畏冷怯寒，痰嘔腹脹，大便稀溏等症</p>
<h3>竹瀝枳朮丸</h3>
<p>白朮（二兩，去蘆，土炒）　蒼朮（二兩，米泔水浸，鹽水炒）　枳實（一兩，麩炒）　白茯苓（星（一兩芥子（一兩，炒子）</p>
<p>上為細末，以神麯六兩，薑汁一盞，竹瀝一碗，煮糊為丸，如桐子大，每服百丸，食遠臨臥此藥專治脾弱氣鬱，開脾化痰，胸膈堵悶，不思飲食，嘔吐痰涎，精神困倦等症。</p>
<h3>通關散</h3>
<p>皂角如豬牙者，去皮弦，二兩。用生礬一兩，以苧包，入水與牙皂同煮，化下去白礬再煮，上合一處研勻，每遇痰厥及喉閉，不省人事，先以少許吹鼻喉，有嚏可治。</p>
<p>此藥專治中風、中氣、痰厥，不省人事，或痰火喉閉，牙關緊急，湯水不下，以少許吹鼻喉</p>
<h3>黑神散</h3>
<p>棕皮炭　當歸　赤芍　白芍　生地黃　香附（童便炒）　薑炭　五靈脂　熟地黃（各一兩，炒）</p>
<p>錢）　蒲黃（一兩）</p>
<p>上為細末。</p>
<p>此藥治產後胎衣不下，敗血攻心，昏暈欲絕；或橫生倒養，或子死腹中，妊母肢體冷痛，口呆</p>
<h3>接骨丹</h3>
<p>乳香（一錢，炒）　沒藥（一錢，炒）　血竭（一錢）　硼砂（一錢）　土鱉（一錢，焙乾）　骨碎補錢，醋洗）</p>
<p>上為細末。</p>
<p>專治跌打骨折，先整理對準，用綿衣蓋之，勿令見風，方服此藥。每服七八厘，黃酒調下，</p>
<h3>神授黑神丸</h3>
<p>當歸（一兩，酒炙）　廣木香（二錢）　天麻（四錢）　好墨（二錢五分）　高白面（五錢）　百草霜共研細面，清水為丸，如彈子大，每服一丸，對症用引。</p>
<p>此藥專治一切失血諸症，急怒傷肝，血不歸經，血熱妄行，鼻中衄血，口內咯血、吐血，痰</p>
<h3>加味八寶清胃散</h3>
<p>珍珠（二錢，豆腐煮）　琥珀（一錢五分）　牛黃（五分）　冰片（四錢）　兒茶（二錢）　乳香（五上為細末，搽塗患處。</p>
<p>此藥專治咽喉諸症，單雙乳蛾，紅腫疼痛，滿口糜爛，湯水不下，口舌生瘡，瘟發頤，牙癰</p>
<h3>八厘散</h3>
<p>土鱉（十個）　半兩錢（五文）</p>
<p>共為細末，每服八厘，黃酒送下。治症同前接骨丹。</p>
<h3>拔疔散</h3>
<p>食鹽　朱砂　枯礬　砂（各一錢）</p>
<p>上為細末，專治紅線等疔，或惡心，疼癢掣骨，憎寒壯熱，牽引麻木。用竹刀刺破，將此藥</p>
<h3>玉液散</h3>
<p>黃柏（一兩，淨末）　輕粉（一錢）</p>
<p>上為細末，芝麻油調搽患處，干散亦可。忌水洗。</p>
<p>此藥治黃水瘡、薄皮瘡、傷手瘡。若有膿干上，若無膿水香油調上。</p>
<h3>白粉散</h3>
<p>輕粉（一兩）　冰片（五分）　共研細末。</p>
<p>此藥專治月食瘡、線兒瘡，黃水、薄皮、傷手等瘡。如有膿水干上，無膿水者香油調上。</p>
<h3>二味拔毒散</h3>
<p>白礬　雄黃（各三錢）</p>
<p>上為細末。</p>
<p>治蛇盤瘡，及無名腫毒。止痛、清熱、化毒，茶鹵調搽。</p>
<h3>赤豆拔毒散</h3>
<p>上為細末，用醋調搽。此藥治症與二味拔毒散同。</p>
<h3>保生救苦散</h3>
<p>寒水石　大黃　滑石　黃柏（各等分）</p>
<p>共為細末，香油調塗患處。</p>
<p>此藥專治湯燙火燒，止痛生肌，解毒帶涼。</p>
<h3>痱子藥</h3>
<p>綠豆粉　滑石（水飛過，各等分）</p>
<p>共研細末，不時搽之。治血熱沸騰，因生痤痱。</p>
<h3>通源散</h3>
<p>苦丁香（酒洗，炒，五錢）　大戟（去粗皮，酒洗，炒，二錢五分）　芫花（酒洗，炒，二錢五上為細末，每服二錢，用黃酒調服。</p>
<p>專治水腫蟲脹，四肢腫疼，腹大如鼓，名曰洪水橫流。服此藥之後服補藥，忌鹽醬一百日。</p>
<h3>紅綿散</h3>
<p>枯礬（五分）　干胭脂粉（二分五厘）　麝香（少許）　冰片（一分）　爐甘石（五分）</p>
<p>上為細末。</p>
<p>專治耳底腫痛，　耳膿，或出黃水。先以綿杖展干膿水，用鵝翎管入耳底。</p>
<h3>止血散</h3>
<p>治金瘡血流不止，用此敷之立止。</p>
<p>水獺毛二兩（將皮向上，毛朝下，以火烤毛焦，以刀刮下毛灰，再烤再刮）　紅花（一兩）　共為細末。</p>
<h3>烏金散</h3>
<p>小粉（一兩，炒黑）　五倍子（五錢）　大黃（八錢）</p>
<p>上為細末，醋調搽患處。</p>
<p>專治諸瘡毒，膿已熟不用針刀，將此藥敷貼，其瘡自破。</p>
<h3>二白散</h3>
<p>大貝母（一兩）　南星（一兩）</p>
<p>上為細末。</p>
<p>專治痰核流注，結聚疙疸，不紅不作膿，行長行消，肉色不變。用薑汁調，頻頻敷貼，蜜水</p>
<h3>玉容散</h3>
<p>白附子（二錢）　細辛（一錢）　白芷（一錢）　白蘞（一錢）　白芨（一錢）　防風（一錢）　荊芥（錢）　羌活（一錢）　獨活（一（二錢）　山柰（二錢）　紅棗（八個）　絲專治面生黯　，或生小瘡，或生痤痱、粉刺之類，並皮膚瘙癢。每清晨洗面，久久自愈。</p>
<h3>六聖散</h3>
<p>乳香　沒藥　川芎　雄黃　白芷（以上各二錢）　盆硝（五錢）</p>
<p>上為細末，每用少許。</p>
<p>專治頭風牙疼赤眼，腦瀉耳鳴，偏正頭疼，鼻塞聲重，及蜈蚣蛇蠍所傷。用時口噙涼水，以</p>
<h3>龍腦散</h3>
<p>硼砂（一錢）　冰片（一分）　兒茶（二分）　雄黃（二分）　牛黃（一分）　青黛（水飛，五厘）　延上為細末，搽患處。此藥與加味八寶清胃散治法相同。</p>
<h3>觀世音菩薩救苦神膏</h3>
<p>大黃（一兩）　細辛（七錢）　木鱉子（一兩，研）　三棱（一兩）　芫花（八錢）　白芷（八錢）　天（四兩，研，收膏用）　甘柏（八錢）　枳實（八錢）　獨活（七錢）</p>
<p>全蠍（七錢，去勾）　五倍子（七錢）　皂角（八山甲（七錢）　香附（七錢）　羌活（八錢）　當歸（一兩五錢（七錢）　麻黃（八錢）　巴豆（八錢）　防風（七錢）　川烏（一兩）　肉末，取膏放入）　飛過黃丹二斤四兩，收膏放入。</p>
<p>制法：地道藥材稱準，用真香芝麻油六斤，浸瓷盆內□日，然後熬膏。用桑皮紙攤成大小膏世音此方系天師業法善，以世人苦難莫多於病患，誠心濟世。此膏不拘大小病症，用之無不神效醒，不一治偏正頭風，右患貼右，左患貼左，正患貼印堂，並卷條塞鼻孔中，口含甘草湯咽之。</p>
<p>一治眼科七十二症。腫病，將耳上角針刺血出貼上。星障翳膜，卷毛倒睫，迎風流淚等症，一治喉嚨三十六症。單雙蛾、喉閉、喉風，貼喉上。口含甘草水。要速效，將膏口含化下，一治牙疼，貼上即止，勿服甘草湯。</p>
<p>一治諸般腹疼、胃口疼痛、丹田疼，即於疼處貼之，服甘草湯。丹田穴在臍下一寸七分。</p>
<p>一治中風癱瘓，左患貼左，右患貼右，服甘草湯。不省人事，痰聲如鋸，作丸清湯送下，其一治勞瘵病，貼夾脊穴、尾閭穴、臍口，飲甘草湯，七日癆蟲盡死。咳嗽吐痰，貼前後心，空處一治臌脹，水臌、氣臌、血臌，俱貼臍下丹田穴，不可飲甘草。</p>
<p>一治噎膈，氣膈、食膈、痛膈，俱貼胃口、肚臍，常服甘草水。如塞在咽，口咽不下，即貼一治哮喘、咳嗽諸症，俱貼前心後心，飲甘草水。如痰盛氣塞不通，或作條塞鼻孔中，或作一治大小便閉，俱貼肚臍，飲甘草湯自通。如數日不通，危在旦夕，作丸送下，空心用蔥汁一治傷寒時疫，貼肚臍，飲甘草酒，一醉汗出即愈。如五六日不便，作丸吞下，便解而愈矣一治瘧疾，一日、二日、三日，俱貼肚臍，飲甘草湯。如發過四五次者，作早晨服下，飲熱一治婦人赤白帶下，貼肚臍及丹田穴，常服甘草水。</p>
<p>一治各種痢疾，俱貼胃口肚臍。四五日不愈，紅用圓眼殼核打碎七個，煎湯送丸下；白用不一治婦人難產逆生，胞衣不下，作丸熱酒送下，立刻便產。產門、小腹，煎甘草湯頻洗，不一治小兒驚風目翻上，氣喘痰壅氣不通，作條塞鼻孔，貼一膏於臍上。如急作丸服之，勿飲一治小兒諸疳症，貼肚臍上。口疳貼牙床上。口疳不必飲甘草水。</p>
<p>一治婦人經閉不通，貼丹田穴。臍如痛久，作丸服之，小腹上用甘草末、蔥汁塗抹，不可服一治血塊痞積，貼臍上，並貼痞上，飲甘草湯。人健壯者，作丸服之，便泄下矣。</p>
<p>一治外科疔瘡，內服外貼，勿飲甘草水。背疽各痛癤毒，俱貼患處，飲甘草水。癰，作丸服一治　瘡香港腳，攤上反貼，上蓋以紙，以帶縛定，一日洗換，十日即愈。</p>
<p>一治大便腸風下血，夢遺白濁，俱貼肚臍，飲甘草水。</p>
<p>一治痔漏，內則卷條插入，外則貼之。</p>
<p>一治跌打損傷，貼患處，飲甘草水自愈。</p>
<h3>龍虎丸</h3>
<p>化龍骨（四兩）　大熟地（四兩）　當歸（四兩）　桂圓（四兩）　真虎骨（四兩）　破故紙（四兩）</p>
<p>兩）　陳皮（四兩）　炒杜神麯（二兩）　甜桔梗（二兩）　貫眾兩）　棗仁（四兩）　石膏（二兩）　浙貝（二兩）</p>
<p>共為細末，煉蜜為丸，重三錢。</p>
<p>此藥專治諸虛百損，五勞七傷，頭目眩暈，耳鳴，自汗盜汗，遺精便濁，四肢無力，飲食少則陰</p>
<h3>延齡長春丹</h3>
<p>人參（三兩）　當歸（三兩）　黑芝麻（八兩，酒洗，九蒸，俱晒乾）　何首烏（八兩，酒浸，九炒）　天冬（二兩）　白朮（二兩，炒）　柏子仁（二兩）　復盆子（二兩）　黃精（八兩，酒浸，蒸，晒乾）　遠志（五共為細末，煉蜜為丸，如梧桐子大，久服延年益壽。</p>
<p>此藥專治元氣不足，形體瘦弱，諸虛百損，五勞七傷，腰痛耳鳴，四肢酸軟，老人精寒，陰血</p>
<h3>寧坤至寶丹</h3>
<p>益母草（三兩）　野於朮（五錢）　白芍（五錢）　砂仁（三錢）　生地黃（五錢）　廣橘紅（六錢）</p>
<p>（六錢）　落水沉（五錢）</p>
<p>錢）　生甘草（一兩）　明朱砂（三錢）</p>
<p>共研細末，煉蜜為丸，重一錢五分，金衣，蠟皮封固。</p>
<p>此丹專治婦人胎前產後諸般百症，大能調經養血，安胎種子，真婦科之妙藥，故名寧坤至寶一治經水不行，或前或後，及寒熱往來，骨蒸盜汗，童便老酒下。</p>
<p>一治心氣疼痛，臨經腹痛，赤白帶下，用香附、陳皮湯下。</p>
<p>一治經水紫黑成塊，腹脹脅痛，用紅花、青皮湯下。</p>
<p>一治經水過多，血崩不止，及胎動不安者，用條芩、白朮湯下。如漏紅，加艾葉湯下。</p>
<p>一治嘔吐，薑湯下；咳嗽痰喘，杏仁、桑皮湯下。</p>
<p>一治四肢浮腫，大腹皮、赤苓湯下；小水不利，赤苓、木通湯下；大便失血，黃連、地榆湯一治產後瘀血作痛，童便、蘇木湯下；胞衣不下，歸尾、枳殼、紅花湯下；頭疼，白芷、川以上諸症，誠恐藥引不便采買，宜用老酒、童便或薑湯下。</p>
<p>胎前產後及無痛婦人常常服之，百病不生，妙難盡述。忌生冷、油膩、煎炒等物，忌用鐵器</p>
<h3>普濟藥茶</h3>
<p>南藿香（六兩四錢）　蒼朮（七兩二錢）　木香（七兩六錢）　半夏（七兩五錢）　蘇薄荷（七兩八瓜（七兩八錢）　枳兩，生）　安化茶（二十斤）共研細末，拌勻聽用。</p>
<p>此茶專治胸膈膨悶，腹脘嘈雜，食後倒飽，四時感冒不正之氣，頭疼發熱惡寒，傷風咳嗽，</p>
<h3>午時茶</h3>
<p>山楂肉（四兩）　麥芽（四兩）　陳皮（二兩）　枳殼（二兩）　厚朴（二兩）　紫蘇（二兩）　香附（荷（一兩）　甘草（一兩）　木通（二兩）　沒藥（二兩）　細陳茶（半斤，愈細愈陳者更好）　法製半夏（二兩）</p>
<p>上藥俱研細末，各包，候端陽日午時，用朱砂二錢研細末，水飛，投燒酒一大碗內攪勻，泡時專治風寒積熱，潮熱惡寒，遍身疼痛，頭昏目暗，肚脹腹脹，不思飲食等症。可代神麯用，</p>
<h3>消積化痞丹</h3>
<p>巴豆霜（三錢，去淨油）　三棱（四錢，炒）　青皮（四錢，炒）　丁香（三錢）　製半夏（四錢）</p>
<p>共為極細末，蜜丸如黃豆粒大。</p>
<p>此丹專治九種心胃疼痛，凡食痛、氣痛、寒痛、蟲痛、聚痛、怒痛、痞痛、酒痛、濕痛等症聚痞二三</p>
<h3>解酒仙丹</h3>
<p>白果仁（八兩）　葡萄（八兩）　側柏枝（一兩）　薄荷（一兩）　細辛（五分）　潮腦（一分）　細茶松（一兩）</p>
<p>共為細末，煉蜜為丸，芡實大。每服一丸，細嚼一丸，清茶送下，急能解酒。</p>
<h3>五粒回春丹</h3>
<p>犀角（五錢）　黃芩（二兩）　陳皮（二兩）　羚羊角（五錢）　桔梗（二兩）　馬勃（一兩五錢）　黃荷（一兩五錢）　薑蠶（一共為細末，蜜為丸，每丸重二分，朱砂為衣。</p>
<p>此丹專治小兒急慢驚風，積聚痰實，或因外感風寒，牙關緊閉，面青口噤，眉眼不淨，反張或寧</p>
<h3>神仙醒酒丹</h3>
<p>葛花（五兩）　赤小豆花（二兩）　綠豆花（二兩）　真柿霜（四兩）　家葛花（搗末，水澄粉，一共為細末，和勻，用生藕汁搗和作丸，彈子大，每服一丸，嚼而咽之，立醒。</p>
<h3>加減歸脾丸</h3>
<p>棗仁（一兩五錢，炒，去心）　白茯苓（一兩）　當歸（一兩）　遠志（八錢，炙，去心）　麥冬（兩，土炒）　人參（錢，炙）</p>
<p>共為細末，福圓肉湯為丸。每服一錢五分，白滾水下。</p>
<p>此藥專治思多傷脾，心氣不足，精神恍惚，夜臥不寧，怔忡健忘，異夢心煩等症。</p>
<h3>臥龍丹</h3>
<p>牛黃（六分）　蟾酥（六分）　冰片（六分）　麝香（六分）　月石（二錢）　焰硝（二分）　赤金（六共為極細面。</p>
<h3>御制平安丹</h3>
<p>麝香（四兩）　燈草灰（十六兩）　豬牙皂（十二兩）　鬧羊花（八兩）　冰片（四兩）</p>
<p>細辛（四兩）</p>
<p>腹子（十兩）　炒蒼朮（皮（八兩）　茯苓（十六兩）共研極細面。</p>
<p>此丹普救濟世，神效異常，屢試甚驗，用保群生。凡一切中寒、中暑、中風、中濕，感冒觸之功一治染受山嵐瘴氣，頭悶惡心，胸滿肚脹，嘔吐嘈雜，四肢厥冷，精神昏憒，不思飲食，用一治中風、中暑、中濕、中寒、中火、中氣，觸穢神昏，不省人事，牙關口噤，痰壅氣堵，湯調一治文武痴癇，痰迷心竅，天行時疫，霍亂痧毒，絞腸痧痛，嘔吐泄瀉，胸堵脹悶，頭暈神一治喉痹、喉癰、纏喉腫毒、單雙乳蛾、口舌糜爛、牙宣、牙癰、牙疳、齒漏、風火牙疼、效。</p>
<p>一治癰疽發背，對口疔毒，無名腫毒，疥瘡頑癬，瘰　鼠瘡，乳癰結毒，　瘡痔漏，臟毒腸二三一治蜈蚣蛇蠍螫毒，酒調此丹塗搽，立止疼痛。凡遇六畜中疫，用丹吹鼻、調灌，立全。</p>
<p>亦利物之一助也。</p>
