<header><h1>傷科大成</h1></header>
<dl class="元資料" data-type="book">
<div><dt>作者</dt><dd>趙濂</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1891">公元1891年</data></dd></div>
<div><dt>品質</dt><dd>60%</dd></div>
</dl>
<h2>先看穴道吉凶</h2>
<p>囟門：即腦蓋，一名頂門，骨破髓出者不治。</p>
<p>節樑：即鼻樑，打斷者不治。</p>
<p>兩太陽穴：即眉稍角骨不治。</p>
<p>突骨：即結喉骨，打斷者不治。</p>
<p>塞骨：即結喉下、橫骨上，空陷處，打斷者不治。橫骨下，人字骨，離一寸三分，為一節。受傷者，下一節，更重一節。</p>
<p>心窩：即人字骨處，又名龍潭穴，打傷暈悶者，久候必死。</p>
<p>丹田：臍下一寸三分之內，即膀胱也。倒插傷者不治，一月當亡。</p>
<p>卵子：捏碎及傷破者不治。</p>
<p>腦後骨：骨破者不治。</p>
<p>百勞穴：與塞骨相對，傷斷者不治。</p>
<p>天柱骨：與結喉骨相對，傷斷者不治。</p>
<p>兩腎穴：在脊背與臍，相對之左右，各離一寸三分。打破者，或笑或哭不治。</p>
<p>尾巴骨：打碎者不治。</p>
<p>海底穴：大小便兩界中間，傷重者不治。</p>
<p>軟骨：在兩乳下，即食肚，倒插傷者不治。</p>
<p>氣門：左乳上，動脈處。受傷則氣塞。救遲者不過三時。</p>
<p>血海：右乳下，軟肋打傷者不治。</p>
<p>兩乳：左乳受傷者則咳，右乳受傷者則呃，皆不治。</p>
<h2>看傷吉凶</h2>
<p>一看兩眼：兩眼有瘀血者，則白睛必有瘀血之筋。血筋多者，瘀血必多；血筋少者，瘀血亦少。兩眼活動者易治，不動者難治。</p>
<p>二看手指甲：以我手指甲，掐其手指甲，放手即還原色者易治，少頃始還原色者傷重，手指甲紫黑者不治。</p>
<p>三看陽物：不縮者可治，縮者難治。卵子縮者亦不治。婦人乳縮者不治。</p>
<p>四看腳指甲：與手指甲同法。</p>
<p>五看腳底：紅活色者易治，黃色者難治。手掌亦同。</p>
<p>犯五凶象者不治，如犯一二凶象者尚可治。</p>
<p>凡人受向上打傷者為順氣，平拳打傷者為塞氣，倒插打傷者為逆氣，其症最凶。夫人身之血隨氣轉，氣順則血順行，氣逆則血逆滯，血滯則病成。何堪加以骨碎筋斷，其不至殞命，與成殘廢者，亦大幸事。全賴醫者，有旋乾轉坤之力也。蓋前心與後心相對，傷久成癆。小腹與膀胱相連，傷久成黃病。</p>
<h2>死診</h2>
<p>左（心、小腸、肝、膽、腎）右（肺、大腸、脾、胃、命門）傷全體者死速。受傷在七日內者當行血，至十四日後者，有瘀血在胸，或大腸作痛，當急進行血藥。須看患者，手指甲黑否？及足趾甲黑否？黑者為凶。面黑者，腎有傷。肝脈數者，胸腹有瘀血，當必吐血。</p>
<p>氣喘急，痰響者死；目直視，或斜視者死；唇吊者死，失枕者死，口臭者死。耳之與鼻，有赤色者死。骨碎色青者死，氣喉斷者死，胸高者死，兩手捏空者死，血出不止者死，血先赤後黑色者死，痛不在傷處者死，肌肉腐者死。</p>
<p>腦骨破者死，兩額角邊傷者死，天柱骨斷者死，耳後腦衣破者死，傷兩太陽穴者死，傷耳前命門者死，頭頂骨碎者死，眉毛內傷者死，護心骨碎者死，傷臂中跳脈者死。胸口、後背、兩腰、陰囊、陰戶、肛門、髀內陰骨、老人左股壓碎海底穴、大腸破出黑屎、小腸傷溺團、心肺脾肝腎卵子碎，凡傷重，口目閉，牙關緊，不進湯水，痛極難忍者皆死。</p>
<p>六脈沉細虛小者死，浮大數實者死。血出過多，脈微緩忽絕者死。</p>
<p>凡傷重口眼閉，不出言語者，即以牙皂末吹鼻孔，得嚏即能開口。如無嚏，以燈草蘸井水，黏牙皂末，點鼻中得嚏，即吐痰者可治，否則不救。隨取韭菜白梗搗汁，和童便燉熱，灌入口內，口納者可治，不納者不治。如納後同瘀血吐出者，辨其輕重。先服砂仁泡湯，沖吉利散，次投清心和氣湯，外貼損傷膏。傷過重者，頭疼昏迷，又不吐血，急將韭白汁和陳酒服之。如骨碎筋斷者，以封口藥護之。小便閉者，以琥珀散通之。如腹中作痛，內有瘀血，用大黃散行之。</p>
<h2>跌打壓仆損傷者須用引經藥</h2>
<p>上部（用川芎）、手臂（用桂枝）、背脊（用白芷、藁本）、胸腹（用白芍）、左肋（用青皮）、右肋（用柴胡）、腰臀（用杜仲）、兩足（用木瓜）、下部（用牛膝）、膝下（用黃柏）、周身（用羌活）、順氣（用砂仁、青皮、木香、枳殼）、通竅（用牙皂）、破血（用桃仁、蘇木、乳香、木通）、活血（用紅花、茜根、三七、川芎）、補血（用生地、當歸、白芍、丹參）、接骨（用川斷、五加皮、骨碎補、杜仲）、婦人（用香附）。</p>
<p>大都男子，氣從左轉，傷上部者易治，傷下部者難治，以其陽氣上升也。女人血從右轉，傷下部者易治，傷上部者難治。以其陰血下降也。先以砂仁泡湯，和吉利散服之，再進順氣活血湯，復以砂糖花酒，下和傷丸五粒。</p>
<p>傷肩者，左邊則氣促面黃浮腫，右邊則氣虛面白血少。使患者低坐。一人抱住其身，將手拔直，用推拿法，令其筋舒，一手捏其肩，抵住骱頭，齊力拔出，然後彎曲其肘，骱內有響聲，乃復其舊位，用布條扣臂於項下。服行氣活血湯。一月完全。</p>
<p>傷背者，五臟皆繫於背，雖凶則死緩。先服吉利散，次以砂糖花酒，送和傷丸五粒。如骱骨脫出，腰硬痛極，用竹六根，扎為兩個三腳馬，排於兩頭，上橫一竹，繫麻繩圈兩個，使患者兩手攀圈，每足踏磚三塊。醫者將後腰拿住，各抽去磚一塊，令患者直身，又各去磚一塊，如是者三次，其足著地，則骨陷者能起，曲者能直。先敷定痛散，外貼皮紙，鋪以艾絨，次以杉木四根，寬一寸，厚五分，長短照患處為度，俱在側面鑽孔，用繩穿貫，裹於患上，加布紮緊，兩邊令端正。只可仰臥，如無氣者，使患者盤坐，揪其髮，伏我膝上，輕拍其背心，使氣從口出得甦。如胸前不直者，亦用竹架攀圈法。</p>
<p>傷胸者，胸為氣血往來之所，傷久必咳嗽，高起滿悶，面黑發熱，主四日死。先進疏風理氣湯，次以行氣活血湯。從前面碰打跌傷胸膛者重，從後面者輕。用手法按摩之。心坎上橫骨，第一節傷者一年死，第二節傷者二年死，第三節傷者三年死。</p>
<p>傷肝者，面紫眼赤發熱，主七日內死。先投疏風理氣湯，次以吉利散，後服琥珀丸。</p>
<p>傷心口者，面青氣少，呼吸痛甚，吐血身體難動，主七日內死。先進疏風理氣湯，次服和傷丸，時時飲百合湯。</p>
<p>傷食肚者，心下高腫，皮緊陣痛，眼閉，面與口鼻黑色，氣喘發熱，飲食不進，主七日死。先進疏風理氣湯，次以和傷丸。</p>
<p>傷腎者，兩耳立聾，額黑面浮白光，常如哭狀，腫如弓形，主半月死。先服疏風理氣湯，次以補腎活血湯，再投吉利散與琥珀丸。</p>
<p>傷大腸者，便後急澀，面赤氣阻，便後有紅者，傷重，主半月死。先進槐花散，次服吉利散，後以和傷丸。</p>
<p>傷小腸者，小便閉塞作痛，面腫氣喘，發熱口乾，口有酸水，主三日死。先以水酒各半，煎服疏風理氣湯，次以吉利散，後送琥珀丸。</p>
<p>傷膀胱者，小便腫脹澀痛，不時滴尿，發熱，主五日死。先下琥珀丸，次以行氣活血湯。</p>
<p>傷陰囊或陰戶者，血水從小便滴出，腫脹痛極，昏沉不醒，主一日死。先與琥珀丸，後進行氣活血湯。</p>
<p>胸與背皆傷者，發熱咳嗽，面白肉瘦，飲食少思，主半月死。先進理氣湯，後以和傷丸。</p>
<p>傷氣眼者，氣喘痛極，夜多盜汗，身瘦腫脹，不安食少，主一月死。先泡砂仁湯和吉利散服，次以酒煎補腎活血湯，後進和傷丸。</p>
<p>傷血海者，口常吐血，胸與背板硬作痛，或血妄行，主一月死。先進行氣活血湯，次以吉利散，後服藥酒而安。</p>
<p>傷兩肋者，氣喘大痛，睡如刀割，面白氣虛，主三日死。先以行氣活血湯，次進和傷丸。如筋骨斷者，敷定痛散，貼損傷膏，用布紮數轉，服接骨藥。兩肋非打傷自痛者，乃肝火有餘，當以清肝止痛湯。有清痰或食積流注兩肋作痛者，先以清肺止痛湯，次服吉利散。登高跌仆，血瘀兩肋作痛者，急進大黃湯，次投吉利散。醉飽房勞者，多元氣不足，肝木剋胃土，使胸脘連兩肋作痛，先投歸原養血湯，次以十全大補湯。有傷擦或時邪發熱，覺兩肋痛者，此肝膽二經受邪，治以小柴胡湯。左肋痛者，血瘀與氣滯也，先以行氣活血湯，次下琥珀丸。右肋痛者，痰與食積也，先以化痰消食方，次服活血止痛湯。</p>
<p>傷處焮紅高腫作痛者，乃瘀血為患，寒熱交作，日輕夜重，兼之腰痛。肥人多氣虛，瘦人多鬱怒。急下琥珀散，次以和傷丸，後進藥酒而安。</p>
<h2>接骨摸法</h2>
<p>用手細摸所傷之處，或骨斷、骨碎、骨歪、骨整、骨軟、骨硬，或筋強、筋柔、筋歪、筋正、筋斷、筋走、筋粗、筋翻，或為跌撲，或為閃錯，或為打撞，然後依法治之。</p>
<h2>接法</h2>
<p>接使已斷之骨合攏，復歸舊位，陷者復起，碎者復完，突者復平。或用手法，或用器具，分先後而兼用之。</p>
<h2>端法</h2>
<p>用兩手或用一手，擒住應端之骨，或從下往上端，或從外向內端，或直端，或斜端，骨離位者以手端之，送入其臼，不使歪斜，而骨縫方合，庶愈後無長短之患。</p>
<h2>提法</h2>
<p>提出陷下骨如舊，有用兩手提者，有用繩帛繫高處提者，有提後用器具輔之，不使仍陷者。倘重者輕提，則病不愈，輕者重提，反加新患。</p>
<h2>按摩法</h2>
<p>按者以手往下抑之，摩者徐徐揉摩之。因損傷皮膚筋肉，腫硬麻木，而骨未有折斷者。</p>
<h2>推拿法</h2>
<p>以手推之，使還舊位，有用兩手或一手捏定患處，緩緩以復其位。或因筋急難於轉搖，或筋縱難運動，或骨節稍有錯落不合縫者，當推拿以通經絡之氣血。</p>
<h2>接骨入骱（骨之小筍也）用手巧法</h2>
<p>凡人之頭無骱，亦無損折，只有跌打碎傷等症，若腦漿出者不治，骨青者難治，碎骨如粟米大者可治，過大者不治。接骨入骱者，兩手捏平其筋骨，復於舊位。或先拽之離而後合，或推之就而復位，或正其斜，或完其缺。且骨有截斷、碎斷、斜斷之分，骱有全脫、半脫之別，筋有弛縱、卷攣、翻轉、離合各門，在肉內者用手摸之自知。蓋傷有重輕，接拿有合宜、不合宜之法。故愈有遲有速，而得完全或遺殘廢者，總責乎手法也。然體質壯者易愈，元氣弱者難全，若手法再誤，萬難挽回。夫骨既斷必使合攏一處，復歸原臼。出血者敷止血散，使血不流，再敷金瘡藥。用杉木板綁縛撐抵斷處，方不移動矣。辨明骨有斷為兩截者，或折而陷下者，或碎而散亂者，或岔而旁突者，分其形勢接拿，使斷者復接，陷者復起，碎者復完，突者復平。有皮肉不破而骨斷者，動則轆轆有聲，或骨受傷未斷者，動則無聲，或碎骨在肉內者，動則淅淅之聲。後必潰爛流膿，待其爛脫離肉，箝去碎骨，摻生肌藥，外貼損傷膏，亦用綁縛，始可完全。</p>
<p>大凡治法，先煎代痛散熏洗，然後將斷骨拿直，令其相對，平正按摩，果然照舊不歪。敷定痛散，鋪蓋艾絨，綁以杉木板，加布條紮好，取其緊直，使骨縫無綻離走脫之患。過四五日放綁復看，如其走脫，仍依前法紮緊。百日內換綁二十餘次，內服接骨藥。</p>
<p>凡斷臂與斷膊，斷腿與斷　，治分上下，器具照形體變化。有筋全斷者，則縮於肉裡，無用巧能接之理。若斷而未全斷者，外敷續筋藥，內服壯筋養血藥。</p>
<p>跌打碰傷，頭顱猝死者，身雖僵直，口鼻尚有出入氣，心口尚溫跳動者，使患者盤坐，揪其髮，伏我膝上。傷處先敷定痛散，隨以火紙卷條點火，令煙燻其口鼻，通和臟腑血脈之氣，待口中出聲，以熱陳酒和灌定痛散，或炒蘿蔔子泡湯灌之。外用手摩其胸腋，並托其手腕，頻頻揉其兩手脈窠。被傷之筋脈強硬，得揉摩而心脈和運，命脈流通，即可回生。若傷重已死者，用白布纏其頭，以木棍長尺半，圓如錢大，輕輕拍其足心，再提其髮，令項正直，舒其經絡。如皮未破，骨碎膜穿，血向內流，聲啞不言，面青唇黑者，不治。或頂骨塌陷，七竅出血，身僵昏迷者不治。惟皮開肉綻，血流不止者，先止其血，服補氣養血藥，當戒欲避風。如染破傷風，牙關緊閉，角弓反張，即進疏風理氣湯，俟身不發熱，與補中益氣湯。</p>
<p>傷囟門肉腫皮未破者，昏沉不語，扶起正坐，以蔥汁和敷定痛散，次以粗紙蘸醋貼藥上，燒小熨斗烙紙上，內覺熱痛，口出聲為度。去藥貼損傷膏。如皮破血流不止，骨陷筋翻者不治。凡傷頭頂、兩旁稜骨、額骨正中、兩額角、眼眶骨、顴骨，均照囟門傷治法。</p>
<p>打傷眼珠落出者，先以銀針蘸井水，將收珠散點紅筋，次用青絹蘸溫湯挪進。即服還魂湯，再投明目生血飲。</p>
<p>鼻樑骨斷者，先捏正斷骨，摻以止血丹。如鼻已傷落下者，急趁血熱，蘸髮炭末黏貼原位，不可歪斜，加絹條紮緊，遲則血冷不能黏。服壯筋續骨丹。如骨未碎斷，只貼損傷膏，服吉利散。骨碎內膜破者，口鼻流血者不治。</p>
<p>砍跌打落耳朵，或上落下黏者，或下脫上連者，急拈正用封口金瘡藥。若全落下者，急蘸血餘末貼原位，將兩耳相對，次以竹片夾緊，加布條紮好。如耳門骨傷重而體素虧，昏沉者不治。</p>
<p>口唇豁開者，先摻麻藥，急以小箝箝牢油絲線穿合其縫，不可歪斜。摻金瘡藥，貼損傷膏，外以絹條在唇上扎向腦後縛定。服活血止痛散，常飲稀粥，不可言笑，及呷食物。如血已冷，先敷麻藥，以刀尖剮破，血出時急縱合，須手快為妙。仍服前藥。口含刀誤割其舌，將斷未落者，急用雞蛋殼內衣貯其舌，蜜調敷止血定痛散，頻頻添換。使患者仰臥，稀粥灌飲，不動其舌，則易愈。或戮傷上齶正中之孔，面腫色青，血流不止，痛連腦髓。若傷會厭，昏沉不語，痛連心膈。急研鉛粉、冰片吹患處以止其血，再用蟹黃、血竭煎湯，每日口漱三十次，內服定痛散。</p>
<p>下頦一骱脫下者，遂不便言語飲食，其骱如剪刀股樣。先以布包手大指入其口，餘指抵住下邊，輕輕捺下，用力向上一推，而進骱有響聲，齒能合者復位多。得於腎虛者，外加布條兜裹於項後，常進補腎養血湯，次進補腎丸。</p>
<p>頸項骨難於損折，有登高倒跌，損骨外出者，重者三時死。輕者捏平其骨，相對原筍。貼損傷膏，次以布條連肩背絡之，投砂仁泡湯煎吉利散。</p>
<p>缺盆外鎖子骨傷斷者，先拿胸骨，將肩頭向內合之，揉摩斷骨令其復位，加帶掛肩於項，敷定痛散，不可搖動，服接骨藥。</p>
<p>肋骨斷者，骨不能對，須捏骨平正，外貼損傷膏，內服壯筋續骨丹。</p>
<p>肩骱與膝骱相似，肩骱落下，手不能舉，將上一手擒住其肩下，一手拿住其手，輕輕轉動，使其筋舒。再令患者坐於低處，一人抱住其身，將手拔直，用推拿法。又兩手捏其肩，抵住其臂骨，將膝夾住其手，齊力推上。骱內有骱聲，乃復舊位，手自能舉動。如無響聲者，骱未能上，仍照前法而行。先以熟牛皮，長五寸、寬三寸，兩頭各開二孔，貫以棉繩，內貼損傷膏，加以棉花蓋之。又用棉裹如雞卵大，夾於夾窩內，復以牛皮夾緊肩之前後，加布纏好後，以扶手板，長二寸，寬四寸，兩頭穿繩，懸掛空中，令患者俯伏於上，不使其肩骨下垂，俟全愈方可撤板。若不依此法，後必遺殘患蘆節。服獨活桂枝湯。</p>
<p>臂骱落出者，以上一手抬住其灣，下一手拿住其脈踝，令其手伸直，拔下遂曲其上，後抬其灣，捏平湊合其攏，內有響聲，使其手曲轉，搭著肩膊，骱可合縫矣。貼損傷膏，多以布每頭釘帶四根，裹紮臂骨，復以竹簾照患處大小為度，圍緊布外，使骨縫無參差走脫之患，以引經藥煎湯和吉利散。</p>
<p>手掌處腕骨被跌撲打傷，骱骨脫出者，腕縫必開，以兩手先揉其腕，一手拿住其指，一手拿住其凹處，拔其手指，伸直手掌，曲起手骱，曲下一伸而上，骱內有響聲，掌可活動，已復舊位。但骱出不用綁。如骨斷者先貼損傷膏，加布紮緊。將闊板一片，撐住患裡；再以木板四片，長三寸，加布紮緊，俟愈方去板。煎桂枝湯和吉利散。</p>
<p>手指有三骱，中節脫出者，拔出捏正，拈其指伸出挺直，一推即上，能屈伸則愈。不可下水洗，以桂枝煎活血止痛飲。手指痛過於別處，若傷一指，痛必連心，中指尤甚。一染破傷風，外敷金瘡藥，內服疏風理氣湯。</p>
<p>被人咬傷手指者，先以童便淋洗，捏去牙根毒氣。用炙龜板灰末麻油和敷，又以紙蘸麻油點火燻之。如患處破傷風，進疏風理氣湯。若刀斧砍斫傷者難治。臀處肉厚，骨粗，骱脫比諸骱難於擒拿合攏（又名胯骨）。若骱脫臼者，則觸在股內，須用大力人四個幫扶，使患者側臥，一人抱住其身，一人擒住膝上，先將臂骱拔直，上手擒住其腰，下手捧住其腿灣，將膝曲轉向上，使膝近其腹，再令伸直，骱內有響聲，即歸舊臼。出左臀攀向右，向右拔直而上。出右臀攀向左，向左拔直而上。貼損傷膏，服生血補髓湯。</p>
<p>大腿骨骱脫者，一手擒住其膝，一手拿住其膀，上下拔直，將膝曲轉，抵住臀瓣，骱內有響聲，始為合攏。敷定痛散，服生血補髓藥。腿骨折兩段者，先煎寬筋散熏洗，令患者側臥於床，患足拿與無患足齊，貼損傷膏。用布二條，長五寸、寬二寸、裹膏藥上。外以紙包杉木板八片，長七寸。又用布三條，與木板和扎齊緊。先進活血止痛散，次投壯筋續骨丹。大小腿皮破骨斷者，拿骨平正，貼損傷膏。用杉木板六片，長二寸半，上骨斷板寬七分，下骨斷板寬五分，加布紮緊，取其擔力，不致歪走。此症痛極，先以止痛丹，後投壯筋續骨丹。</p>
<p>膝骱處油盞骨，在膝蓋之處，其骱脫出於上者，使患者仰臥，一人抬起足踝，若出於左，隨左而下；出於右，隨右而下。醫者緩緩雙手挾擒，上手拿住其膝，下手擒住其足，彎使骱對膝上，手擒膝下，手向上一抬則上。貼損傷膏，服壯筋續骨丹。膝蓋離位向外側者，則內筋腫脹。向內側者，則筋直起灣腫，看其骨如何斜錯，依法捏拿，復其原位，服補筋藥。膝蓋骨，名護膝骨，有傷為兩塊者，或三塊，將兩腳伸直，捏其骨平伏。用薄篾片照膝蓋骨之大小，做一篾圈，套於患上，次以布四條，扣於圈上，連膝灣紮緊。先貼損傷膏，服止痛接骨丹，不必換膏藥。受傷足放床上，不可下地，半月後，用軟棉放足灣處，逐日墊高，使灣曲如舊。常煮鴨食，又恐碎骨，未長好復行損傷，將馬桶墊與床一樣高，以大便不可下，水洗至全好。去篾圈如箍，月餘骨仍兩片者，一生跛足，不可治，服當歸湯。</p>
<p>當歸　乳香　沒藥　川斷　陳皮　五加皮　生地　牛膝　骨碎補　紅花　木瓜　如發熱，加柴胡、桔梗各一錢。發腫，加黃芩，水酒各半煎，空心服。</p>
<p>小腿有二骨，一大一小，斷一根者易治，斷兩根者難治。直挺者易治，分兩段者難治。將傷骨捏對平正，敷金瘡藥，貼損傷膏，不可水洗。用木板六片，長三寸五分，加布條紮好，二日一換。此症極痛，先服接骨丹，次以壯筋續骨丹。</p>
<p>腳踝骨易出易入，一手抬住其腳踝，一手拿住其腳踝，將踝拔直捏正，其骨復於舊位。左踝出手偏於左，右踝出手偏於右，腳指曲上，腳跟曲下，一伸而上，骱有響聲，活動如故。夾以木板，加布紮緊。二日後再看，如未平直，仍撥端正。貼損傷膏，服寬筋活血散。若行走過早，使胻骨斜出。向內歪者，則內踝突出腫大；向外歪者，則外踝突出腫大。須待氣血充足，方可行動。</p>
<p>足背之骨縫錯出，輕輕搓捏，令其骨合筋舒，貼損傷膏，服補筋藥。</p>
<p>腳指撇傷前半截，翻下斷者，或翻上斷，將左手捏住其足兩側，再以右手捏平斷足指，鑲接原位。貼損傷膏，以帶紮緊，不可下水洗，服壯筋續骨丹。</p>
<p>手足之筋多在指，指傷覺痛，則筋必促，煎寬筋散熏洗，輕輕揉捏，再行搖動伸舒。如骨與筋斷者，不可熏洗。</p>
<p>失枕有因臥者，有一時之誤者，使患者坐低處，先行揉摩，一手提起其頭，一手托住其下頦，緩緩轉動伸舒使直，服吉利散。</p>
<p>凡傷過重，大便不通者，用牙皂末蜜丸如青果大，插入肛門內即通。</p>
<p>戳傷內臟或大腸者，不治。傷口淺直者，易治。血出不止，服止血定痛散。傷口深斜者，待流血止，摻金瘡藥，服護風托裡散。</p>
<p>凡碰擦磕跌，並刀砍斧斫，肉開血流，或皮微破者，傷不過重，人每不甚介意。惟在春令，最易侵風。在頭為重，別處稍輕，漸見浮腫，速進玉真散，避風為要。若不急治，成破傷風，甚至青腫，牙關緊閉，神昏發狂，角弓反張，四肢抽搐，多致不救。</p>
<p>玉真散</p>
<p>天麻八分　羌活六分　防風　白附子　川芎　白芷各一錢煎服</p>
<p>刀斧砍傷硬處者，骨損先療骨。砍傷軟處者，肉損先治肉。如傷頭額者，敷金瘡藥，以避風為上，防身發寒熱。脈沉細者，易治；脈洪大者，難醫。</p>
<p>以刀刎喉，左手執刀者斜而深，右手執刀者直而淺。刎一刀者深而難治，刎兩刀者淺而易療。如喉管斷，有出入之氣，摻藥吸進必嗆咳，急以雞蛋內衣蓋管上，再摻藥則不嗆。如破食管，或破半邊，或全斷，急以油線縫合其口。若血不止，用滑石、五倍研末摻之，外封金瘡藥，貼膏藥。長五寸、闊三寸，加布條扎項，高枕仰臥，使項屈而不伸，刀口易合。三日後，以蔥湯洗去前藥，摻生肌散，貼膏藥，仍舊紮好。兩月餘完全，服護風散。如發寒熱進補中益氣湯，若氣管斷或稍穿破者，不治。</p>
<p>傷破肚皮，而腸拖出者，醫者先自剪去指甲，免碰傷其腸，將溫水和麻油，浴暖外出之腸，輕輕揉進。若未能進，用醋和冷水，勿令患者知，忽噴其面，其腸自收。以油線淺淺縫其口，太深則傷內肉，封金瘡藥，貼活雞皮，加布紮好，服通腸活血湯。內臟不傷，飲食如常者，不妨。腸突出膜外者不治。如腸未出，而膜已穿，血向內流者不治。桑根皮搓線尤妙。骨碎如粟米者，輕輕箝去其碎骨，封金瘡藥，服生血補髓丹。如骨脫臼，捏平其骨合筍，貼損傷膏，服壯筋續骨丹。</p>
<p>從高墜跌骨碎者，或骨脫骱者，以手輕輕捏骨與骱平伏，敷定痛散，外護金瘡藥，投疏風理氣湯，次以補中益氣湯。如頸項跌入腔內，尚活動，掉於左右，治以提法。頭低不起，治以正法。頭頂歪斜，治以整法。面仰頭不能低，或筋長骨錯，或筋聚筋強，治以推正接整法。能起坐行動者輕，昏迷不語，痛極硬腫者重。</p>
<p>登高墜斷肋骨者，以手拿骨平伏，貼損傷膏，加布紮好，服接骨散。如食飽墜傷腸斷者不治。</p>
<p>捏破陰囊，卵子拖出者，浴以溫湯，輕輕拈進，貼以活雞皮，先摻金瘡藥，投吉利散。卵子碎者不治。</p>
<p>捏傷陽物，小便不通者，急投琥珀丸。小便通者，進吉利散。踢傷肛門腫脹者，投通腸活血湯。大便不通者，以大黃湯。有紫血者，與吉利散。有鮮血者，進槐花散。火燒湯燙炮打各傷者，不能飲食者，火毒入內臟時，想飲冷水，急以清心去毒飲。能飲食者，火毒未入內；傷破皮肉者，外敷琥珀膏，投去毒散。</p>
<p>剁落耳鼻者，急趁血熱蘸發灰末貼於原位，不可歪斜，外加夾縛法。或斬斷手臂，或手指或腿膀，或足指，急將斷下者，趁血未冷，湊接齊整合攏，摻止血丹外，敷金瘡藥，服托裡止痛散。如血已冷，湊接不得黏合，遂成殘缺之體。</p>
<p>橋樑牆垣倒壓，折傷骨節，傷頭顱骨碎者，箝去碎骨收口，方無後患。防染破傷風，服護風托裡散，次以接骨散。傷兩太陽昏迷不醒，飲食不入，言語不出者，不治。腦漿出者不治。傷胸前背後，及五臟者，雖不言不食，殆氣悶於中，投吉利散。身發寒熱，以疏風理氣湯。傷兩邊軟肋者，飲食如故，服吉利散。傷腰子過重者不治。輕者貼損傷膏，服補腎和血湯。</p>
<p>踢傷小腹者，傷處作痛，小便閉塞，不能行步，三日可治。內有瘀血，以行氣活血湯。</p>
<p>孕婦小腹受足踢者不治。</p>
<p>受傷紫腫痛難忍者，以活血止痛湯，次服吉利散。腫而青紫或發寒熱，或二便閉，氣悶昏沉，坐臥不安，不進飲食，卵子不時上下，此瘀血在內。先以疏風理氣湯，次投琥珀丸。如紅腫陣陣作痛，氣喘發咳，欲笑溺澀，投活血止痛湯。</p>
<p>踢傷海底穴者，腫而紅紫，痛不可忍，貼損傷膏，服活血止痛湯，次以吉利散。腫而青黑者，身發寒熱，小便不通，氣悶腹痛，陰子或上或下，內有瘀血，貼損傷膏，以行氣活血湯，次進琥珀丸。肛門腫痛二便不通者，發熱食少，坐臥不安。服疏風順氣湯，次投琥珀丸。紅腫不消，陣陣作痛，氣喘發咳，或笑或哭，小便澀滯。先以活血止痛湯，次進吉利散，後服藥酒而愈。如初受傷昏迷不語者，口出唾涎，喉鼻喘息，面白胸腹氣動，脈沉細者可治。先吹牙皂末鼻中取嚏，次以砂仁泡湯，煎吉利散，再投活血止痛湯，貼損傷膏。</p>
<p>刀斧傷者為金瘡，淡黃色者易治，紫黑色者難治，忌咳嗽嘔噦，避風為妙。如風入傷口，則浮腫多涕淚，痰湧牙關緊閉，角弓反張，成破傷風者不治。急以壁喜窩香灰加麝香敷傷處，投疏風理氣湯。如犯怒氣瘡迸裂，犯欲瘡口腐臭，用乳香、沒藥、滴乳石、血竭為末敷之。</p>
<p>患者當避風寒，戒色忍氣，息怒散心，節飲食，忌食（雞、鵝、醋、蛋、牛羊肉、筍、面，煎炒發物）。</p>
<p>許真人曰：人受刀斧所傷，血出多者必渴，不可與水飲。如飲熱湯，則血沸，血沸出必死。</p>
<p>忌惱怒，二忌喜笑，三忌大言，四忌勞力，五忌妄想，六忌食羹粥，七忌飲酒，八忌酸鹹。前有別症而受傷在後者，兩兼而用藥。</p>
<p>孕婦當服安胎順氣藥。</p>
<p>受杖後者，腿必紫黑，甚者氣悶攻心而死，速服酒沖童便，外用熱豆腐敷之，其腐即紫，頻換豆腐，至色淡為度。或搗熱蔥熨之。或用大黃末童便和敷，內服化瘀藥。</p>
<p>受夾棍後者，急用熱童便一盆浸之。如童便冷，燒熱磚淬之則熱。浸至童便面起白油者方止。外搗肥皂和雞子清敷之，加布紮緊。或搗何首烏敷之，內服逐瘀定痛藥。</p>
<h2>應用諸方</h2>
<h3>止血定痛散</h3>
<p>生南星（二錢）　生大黃　降香末（三錢）　蒲黃炭（一錢五分）　血竭　煅龍骨（二錢）　黃連　兒茶（一錢五分）　綿花灰　陳石灰（三錢）　富者加牛黃（一錢）　犀角屑（一錢）　為末，加擂工至無聲，乾摻。</p>
<h3>封口金瘡藥</h3>
<p>（治破爛未收口者，能生肌肉。）</p>
<p>乳香　沒藥（各四錢）　木鱉仁　輕粉（二錢）　煅龍骨　血竭　白芨　老松香　虻蟲　白蘞（各一錢）　五倍子（二錢）　各藥曬研細末聽用，將熟豬油八兩、菜油八兩同熬，透入白蠟三錢化熔，再入藥末攪勻攤貼。</p>
<h3>損傷膏藥</h3>
<p>真自然銅（煅七次，一兩）　骨碎補　大黃　當歸（各一兩）　乳香　沒藥（六錢）　月石（一兩）　細辛　丁香（各五錢）　蘇木末（一兩）　川烏　草烏　生南星　茜根（各五錢）　靈仙　羌活　獨活　三稜　莪朮　川斷　良薑　官桂　吳萸　地鱉蟲　牙皂　落得打　劉寄奴　不留行　阿魏　接骨草（各八錢）　三七　麻黃　樟腦　蟾酥（各五錢）　蜈蚣（十條）　蛇衣（一條）　各藥曬脆，研細末聽用。再用麻油十斤、桃丹四斤煎熬成厚膏時，再入前藥末攪勻。用布攤好貼傷處。</p>
<h3>琥珀膏</h3>
<p>（生肌長肉神效。）</p>
<p>琥珀　生珠（各三錢）　血竭　象皮　兒茶　銅綠　發灰（各二錢）　為細末聽用，再用當歸一兩、生地二兩、熟豬油二兩、麻油四兩，同入鍋灼枯去渣，下黃蠟一兩，化熔後入藥末攪勻，臨症聽用。</p>
<h3>吉利散</h3>
<p>當歸　川芎　枳殼　陳皮　香附　草朴　木香　蘇木末　劉寄奴　落得打　三七　乳香　沒藥　萹蓄　等分為末，每溫酒下三錢。</p>
<h3>定痛散</h3>
<p>自然銅（煅七次）　三七　小羊血　虎骨　乳香　沒藥　紅花　川斷　當歸　川芎　蘇木末　陳皮　木香　生軍　落得打　劉寄奴　土狗　無名異　羌活　獨活　地鱉蟲　骨碎補　枳殼　紅花　靈仙　等分曬脆研末，用陳酒調敷患上，每以溫花酒下三錢。</p>
<h3>琥珀和傷丸</h3>
<p>（治遠年近日跌打損傷，並治金瘡。）</p>
<p>乳香　沒藥　自然銅　血竭（各一兩）　骨碎補（二兩）　生軍　川斷　劉寄奴（各一兩）　歸尾（二兩）　琥珀（三錢）　靈脂（一兩五錢）　三七　無名異　虎骨　杜仲（各一兩）　破故紙（二兩）　靈仙　熟地（一兩）　桂枝（六十）　羌活　獨活五錢　山羊血　白芍（一兩）　地鱉蟲（二兩）　山慈菇（一兩）　曬脆為末，用川白蜜砂糖和為丸，每丸重一錢五分，空心溫花酒下一丸。</p>
<h3>壯筋續骨丹</h3>
<p>當歸（二兩）　川芎　白芍（一兩）　炒熟地（四兩）　杜仲（一兩）　川斷　五加皮（一兩五錢）　骨碎補（三兩）　桂枝　三七（一兩）　黃耆（三兩）　虎骨（一兩）　破故紙　菟絲餅　黨參（二兩）　木瓜（一兩）　劉寄奴（二兩）　地鱉蟲（三兩）　曬脆為末，砂糖泡水泛丸，每溫花酒下四錢。</p>
<h3>麻藥</h3>
<p>蟾酥（一錢）　生半夏（三錢）　鬧羊花（六錢）　胡椒　川烏　草烏（各一錢五分）　蓽茇　麻黃（各一錢）　曬脆研末，陳酒下五釐，任刀割拿捏不知痛苦。欲解其性，服甘草湯立蘇。</p>
<h3>整骨麻藥</h3>
<p>川烏　草烏（各五錢）　蟾酥　胡椒（各一兩）　生半夏　生南星（各五錢）　曬脆為末，以燒酒和敷，任刀割接骨不知痛苦。</p>
<h3>生肌散</h3>
<p>（生肌長肉，又可止血。）</p>
<p>乳香　沒藥　煅花蕊石　煅龍骨　血竭　輕粉　烏梅炭　五倍炭（各二錢）　煅蛇含石（五錢）　為末，乳至無聲，干摻。</p>
<h3>代痛散</h3>
<p>（又名寬筋散）</p>
<p>當歸　紅花　劉寄奴　香附　五加皮　艾葉　紫稍花　川斷　伸筋草　乳香　沒藥　桂枝　鬧羊花　加生蔥十枝、樟木二兩，煎湯先熏後洗。</p>
<h3>藥酒方</h3>
<p>（治遠年近日跌打損傷。）當歸（二兩）　川芎（一兩）　熟地（三兩）　白芍（一兩五錢）　羌活（八錢）　杜仲（一兩）　獨活（五錢）　川斷（一兩）　紅花（五錢）　陳皮（一兩）　骨碎補（二兩）　淫羊藿（八錢）　木瓜　虎骨　五加皮　破故紙　杞子　三七　菟絲餅　落得打　海風藤（各一兩）　黑棗　胡桃肉（四兩）　陳酒十五斤入瓶中封好口，隔水煮一枝香，溫飲。</p>
<h3>蘇風理氣湯</h3>
<p>防風　荊芥　秦艽　枳殼（各一錢）　當歸（二錢）　陳皮（一錢）　砂仁（五分）　川芎（六分）　桔梗（一錢）　蘇木（二錢）</p>
<h3>蘇風理氣活血湯</h3>
<p>羌活（五分）　防風（一錢）　川芎（八分）　蘇梗　陳皮（一錢）　紅花（五分）　歸尾（二錢）　枳殼（一錢）　桃仁（二錢）　山羊血（一錢）</p>
<h3>順氣活血湯</h3>
<p>蘇梗　草朴　枳殼（各一錢）　砂仁（五分）　歸尾（二錢）　紅花（五分）　木香（四分）　炒赤芍（一錢）　桃仁（三錢）　蘇木末（二錢）　香附（一錢）　水、酒各半煎服。</p>
<h3>行氣活血湯</h3>
<p>鬱金（一錢）　香附（一錢五分）　木香（四錢）　蘇梗　青皮（一錢）　歸尾（二錢五分）　乳香（一錢）　元胡索（一錢五分）　茜根　澤蘭（一錢）　紅花（五分）　花酒沖服。</p>
<h3>蘇風順氣湯</h3>
<p>防風（一錢）　牛子（二錢）　砂仁（五分）　枳殼　草朴　陳皮　佩蘭　玫瑰花　桔梗（各一錢）　佛手（四分）</p>
<h3>補腎活血湯</h3>
<p>熟地（三錢）　杜仲　杞子（一錢）　破故紙　菟絲子（三錢）　歸尾沒藥　萸肉　獨活　淡蓯蓉（各一錢）　紅花（五分）</p>
<h3>槐花散</h3>
<p>槐花（四兩）　地榆（二兩）　銀花（一兩）　胡黃連（五錢）　曬脆為末，空心燈草湯下三錢。</p>
<h3>琥珀散</h3>
<p>琥珀末（一錢，沖服）　乳香　沒藥　澤蘭　赤芍（各一錢，炒）　桃仁（三錢）　木通（一錢）　獨活（八分）　生軍（二錢，後入）　芒硝（一錢，沖服）　香甘草（五分）　升麻（四分）　水、酒各半煎。</p>
<h3>活血湯</h3>
<p>歸尾（二錢五分）　茜根（一錢）　紅花（五分）　元胡索（一錢五分）　五靈脂（三錢）　乳香　血竭（一錢）　生地（三錢）　赤芍（一錢，炒）　香附（一錢五分）</p>
<h3>清肝止痛湯</h3>
<p>羚羊角（一錢，先煎）　生地（二錢）　丹皮（一錢五分）　山梔　乳香　沒藥　澤瀉　木通　赤芍（各一錢）　柴胡（六分）</p>
<h3>清肺止痛湯</h3>
<p>生地（二錢五分）　丹皮（一錢）　麥冬　元參（一錢五分）　馬兜鈴　乳香　枳殼　元胡索（各一錢）　蘇木末（二錢）　茅根（三錢）</p>
<h3>大黃湯</h3>
<p>歸尾（二錢）　枳殼（一錢）　桃仁（三錢）　木通（一錢）　甘草（五分）　大黃（二錢）　芒硝（一錢，沖服）</p>
<h3>歸原養血湯</h3>
<p>川芎（一錢）　當歸（二錢）　白芍（一錢）　熟地　丹參（三錢）　紅花（五分）　杞子　木瓜　五加皮　川斷（各一錢）　桂枝（三錢）　紅棗（三個）</p>
<h3>小柴胡湯</h3>
<p>柴胡（八分）　半夏　黃芩　丹皮　枳殼　白芍　西黨參（各一錢）</p>
<h3>活血止痛湯</h3>
<p>當歸（二錢）　川芎（六分）　乳香（一錢）　蘇木末（二錢）　紅花（五分）　沒藥（一錢）　地鱉蟲　紫荊藤（三錢）　三七（一錢）　赤芍（一錢，炒）　陳皮（一錢）　落得打（二錢）　水、酒各半煎。</p>
<h3>清心活氣湯</h3>
<p>（吐血後用。）</p>
<p>西洋參（一錢）　生地（二錢）　丹皮　麥冬　蘇梗　香附　枳殼　佩蘭（各一錢）　丹參　百合（二錢）　蓮子心（四分）</p>
<h3>補中益氣湯</h3>
<p>當歸　黨參　黃耆（二錢）　白朮（一錢）　甘草（四分）　陳皮（一錢）　柴胡（六分）　升麻（三分）　紅棗（三個）</p>
<h3>明目生血飲</h3>
<p>杭菊（二錢）　青葙子　決明子　夜明砂　丹參（各三錢）　丹皮　白芍（一錢）　生地　益母花　沙苑子　巨勝子　歸身（各二錢）</p>
<h3>活血止痛飲</h3>
<p>歸尾（二錢）　紅花（五分）　茜根　三七　山羊血　沒藥　乳香　木通（各一錢）　桃仁　劉寄奴（三錢）　川芎（五分）　琥珀（五分，沖服）</p>
<h3>補腎養血湯</h3>
<p>熟地（三錢）　杜仲（一錢）　杞子（一錢五分）　破故紙　菟絲餅（三錢）　當歸（二錢）　白芍（一錢）　丹參（三錢）　萸肉　淡蓯蓉（一錢）　茺蔚子（三錢）　紅花（五分）　核桃仁（四錢）</p>
<h3>退毒定痛散</h3>
<p>生地（二錢）　銀花（一錢）　連翹（二錢）　大貝母（一錢五分）　花粉（一錢）　當歸（三錢）　乳香　元胡索（一錢）　落得打（二錢）　沒藥（一錢）　不留行（二錢）　木通（一錢）</p>
<h3>生血補髓飲</h3>
<p>當歸（二錢）　熟地（三錢）　白芍（一錢）　丹參（三錢）　杞子　杜仲　淡蓯蓉（各一錢）　阿膠（一錢五分）　虎骨（一錢）　鹿角膠（燉化，沖服，一錢）　龜板（四錢）　魚線膠（三錢）　豬脊髓（一兩）</p>
<h3>止痛接骨散</h3>
<p>乳香　沒藥　三七　蓄（各一錢）　接骨草　五加皮　川斷（各一錢五分）　骨碎補　劉寄奴　地鱉蟲（各三錢）　蘇木末　落得打（二錢）</p>
<h3>護風托裡散</h3>
<p>防風　荊芥　白朮　靈仙　陳皮　香附（各一錢）　川芎（五分）　生耆　當歸　黨參（各二錢）　紅棗（二個）</p>
<h3>通腸活血湯</h3>
<p>當歸（二錢）　枳殼　木通　乳香　沒藥（各一錢）　紅花（五分）　大黃（一錢）　炙甘草（五分）　蘇木末（二錢）　桃仁（三錢）</p>
<h3>接骨散</h3>
<p>當歸（二錢）　乳香　白芍　川斷　五加皮　杜仲　虎骨（各一錢）　骨碎補　紫果藤　鹿筋　破故紙（各三錢）</p>
<h3>止痛托裡散</h3>
<p>乳香　沒藥　三七　蘇木末　白朮（各一錢）　紅花（五分）　歸尾　生耆　熟地（二錢）　琥珀末（五分，沖服）　肉桂（三分，後入）</p>
<h3>清心去毒散</h3>
<p>生地　連翹（二錢）　麥冬　丹皮　銀花　大貝母　元參（各一錢五分）　澤瀉　木通　黃芩（各一錢）　淡竹葉（十二張）</p>
<h3>補腎活血湯</h3>
<p>熟地（三錢）　杜仲　淡蓯蓉　杞子（各一錢）　破故紙（三錢）　菟絲餅（二錢）　紅花（五分）　白芍（一錢）　桂枝（四分）　川芎（一錢）　丹參（三錢）　蘇木末（二錢）　紅棗（二個）</p>
<h3>收珠散</h3>
<p>煅龍骨　血竭（各一錢）　兒茶　五倍子　烏梅　乳香　沒藥（各五分）　冰片（一分）　乳至無聲，以銀針蘸井水，黏藥點血筋上。</p>
<h3>還魂湯</h3>
<p>生地　穀精珠（三錢）　杭菊　桑白皮（二錢）　決明子　青葙子（三錢）　菟絲子（二錢）　沙苑子（三錢）　當歸（二錢）　丹參（三錢）　茺蔚子（三錢）　白芍（一錢）　黑芝麻（四錢）</p>
<h3>鐵扇散</h3>
<p>（止血如神）</p>
<p>煅龍骨　象皮　陳石灰　老松香　降香末　血竭　兒茶　白芨末　各等分為末，乳至無聲，摻傷口則血立止。以扇子搧患上，隨結痂而愈。</p>
