<header><h1>醫方證治匯編歌訣</h1></header>
<dl class="元資料" data-type="book">
<div><dt>作者</dt><dd>王泰林</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1644/1911">公元1644年至公元1911年</data></dd></div>
</dl>
<h2>通治方</h2>
<p>（雖云通治，亦當細切病情，不得籠統施用也。）</p>
<p>六味地黃（丸　錢仲陽因仲景腎氣丸，減去桂、附，以治小兒，今通治大小證。）平補劑，（六味不寒不熱，為平補足三陰之劑。）酸苦甘辛鹹淡比，（六味之名以此。曰「地黃」者，重補腎也。）地黃（八兩味苦）萸（山萸四兩味酸）藥（山藥四兩味甘）苓（茯苓三兩味淡）瀉（澤瀉三兩味鹹）丹，（丹皮三兩味辛）肝腎陰虧洵堪倚。（治肝腎陰虧火浮諸證）腰膝酸疼仲（杜仲）膝（牛膝）添，（名六味加杜仲牛膝丸）溲數去瀉（澤瀉）加益智。（名六味去澤瀉加益智丸，治小便頻數。）崔氏八味（丸）加附（子）桂（肉桂），陽虛益火消陰翳。（「益火之源，以消陰翳」，尺主，以制陽光」，磁（石）牡（蠣）柴胡寄除冬（麥冬）名為都氣丸。（二方均六味（丸）</p>
<p>原從腎氣（丸）裁，腎氣（丸）即是熱八味。《金匱》腎氣（丸）治轉胞，婦人轉胞系了戾」與「繚戾」同，胞中之氣不順也。）飲食如故不得眠，煩熱倚息溺不利。（《人雜病篇》云：「婦人病，飲食如故，煩熱不得臥，而反倚息者，此名轉胞，氣丸主之。」）又治消渴飲水多，飲一溲一病之諦。（《金匱要略‧消渴篇》云小便反多，以飲一斗，小便亦一斗，腎氣丸主之。」《素問‧氣厥論》云：消，肺消者飲一溲二，死不治。」此飲一溲一，故猶可救。喻嘉言《醫門趨則消，腎水不上騰則渴，舍腎氣丸安從治哉。」旭高按：消渴本為火便反多，知其腎中陽虛，邪水反勝，故用腎氣丸蒸動腎陽，以驅水邪。</p>
<p>氣即陰氣，少腹不仁即衝心之漸，用腎氣丸以逐陰邪也。）虛勞腰痛痹虛勞篇》云：「虛勞腰痛，少腹拘急，小便不利者，腎氣丸主之「腎氣丸專利小便，水去而陰不傷，扶陽而火不升，制方之妙方治天下之病，則又大失此方之義也。」）《濟生》腎氣（丸嚴用（前），（於《金匱》腎氣丸中加牛膝、車前。）陽虛蠱脹功堪詣土）喘滿痰鳴（水泛為痰）脈沉細。（陽衰水盛）或君附子或茯苓，言《醫門法律》曰：「按此方《濟生》以附子為君，薛新甫以茯苓子回陽，蒸動腎氣，其關始開，胃中積水始下，以陽主開故前，而水亦下。關閉即茯苓、車前用至無算，亦莫如之何矣苓乎？」）</p>
<p>七寶美髯（丹）</p>
<p>補精血，首烏（赤白各一斤，去皮切，黑豆拌蒸晒。）當歸（酒洗）茯（苓乳拌）牛（酒浸），菟（絲子酒浸）杞（子酒浸蒸）故紙（黑脂麻拌炒）蜜為丸，（各半斤。一方破故紙用黑地黃丸（治脾腎不足，房室虛損，形瘦無力，面色青黃。此補腎健脾之劑也。）術（蒼朮一兩六錢，炒黑。熟地一兩六錢，炒黑存性。）味（五味子八錢）薑，（淡乾薑炒，春七分夏五分，秋七分，冬一錢。）燥脾滋腎並臻長。（經言「脾寒則濕，腎熱則燥」，故治脾惡治腎惡燥劑。許學士云「用術則有礙於腎，用地則有礙於脾」，今以二者炒黑，乃去其氣，庶可兩擅其長。）上咳下利稱良劑，（治上咳下利，脈至細數者，頗有效。）脫真聖方。（汪　庵《醫方集解》引張潔古云：「此血虛久痔之聖藥。」徐靈胎《蘭台「此脫血脾寒之聖方也。」）</p>
<p>還少丹方出楊氏，脾腎虛寒功頗著。</p>
<p>地黃（二兩）山藥肉蓯蓉，仲（杜仲）膝（牛膝）杞（枸杞）萸（香）巴戟（天）五味子，楮實茯苓（各一兩）石菖蒲（五錢）。一加續斷苓易茯神）方名打老兒丸是。丹溪滋陰大補丸，還少丹中除去楮（實），或云此劑交心平調不偏倚。（汪　庵《醫方集解》曰：「此陰陽平補之劑。」）</p>
<p>虎潛丸治筋骨痿，（治腎陰不足，筋骨痿弱，不能步履，及骨蒸勞熱。）知（母）柏（黃柏）地黃膝三兩半）陳皮乾薑五錢。羊肉味精。）痿　多因臟熱起，潛陽壯水此方推。（《素問‧痿論》曰：「五臟因肺熱葉焦，發。」王晉三《古方選注》曰：「臟陰不藏，內熱生痿者，就本臟分理，以伏藏其陰。</p>
<p>按：此方治臟熱生痿，最為合度。蓋痿證皆屬於熱，經有明文，後人以溫補治痿，則然痿證又有屬痰濕風寒外邪者，此方又非所宜。）龍虎濟陰丹即此，惟加龍骨泄精骨固澀精竅）補益丸亦治痿弱，虎潛（方中）再加混沌皮，（即紫河車）苓（茯苓）術（術）薑（乾薑）甘（草）菟（絲子）五味（子），陰虛濕熱痿相宜。（按：補益丸丹溪所加者，陰虛濕三才丹用天（冬二兩）地（黃二兩）人，（人參一兩）能補三焦精氣神。封髓丹中砂（仁一兩半）</p>
<p>柏食辛（滋陰而不燥。喻嘉言《醫門法律》曰：「於三才丹中，加黃柏入腎滋陰，砂仁入脾行滯少變天冬、黃柏之苦，俾人參建立中氣，以伸參兩之權。」）</p>
<p>大造丸方吳球造，晉三加減尤臻奧，上滋金水下腎肝，潛陽固陰頗周到。</p>
<p>（王晉三《古方選未臻玄奧，余即參丹溪原方。夫是謂之大造一兩半。）肉蓯蓉，（（子一兩半）歸（身七錢）鎖（陽車搗。（河車一具，用米泔浸一夜，再用丹溪補天丸意同，膝、陳皮，冬加干冬、人參、熟地青出於藍，後來居人參固本（丸）</p>
<p>治虛勞，肺腎陰虧火熱　，二地（生地熟地）二冬（麥冬天冬）丸以蜜，（人參二余各四兩。）或加介屬或阿膠。（此方金水同治，尤借人參固其元氣，洵為肺腎陰虧，發良圖。每見葉氏案中，或加龜甲、牡蠣以潛陽，或加阿膠、甘菊以熄風，借治陰液陽上擾之證，甚有道理，並附及之。）</p>
<p>《道藏》天王補心丹</p>
<p>《其方有四，惟此《道藏》者通。）補心之用神自安，（補心者，補心而神之所用者，魂魄意智精志也。補其用而心能任物矣。）靜寧補魄味（五麥，（麥冬各一兩）流動補魂歸（當歸一兩）柏（子仁一兩）丹，（丹參五錢）參（人參茯（苓神五錢）調中補意餒，地（生地四兩）玄（參五錢）填下補精殘，遠（志肉五錢）桔（梗心血不足。</p>
<p>一例看。（心血方有菖蒲，通竅餐。（蜜丸，朱砂為孔聖枕中（丹）</p>
<p>治善忘，龍骨龜板遠（志）菖蒲。（各等分）鎮肝（龍骨）補腎（龜板）通心竅，（菖遠志）久服聰明記憶強。（借二物之陰陽，以補吾身之陰陽，假二物之靈氣，以助吾身之靈志通腎交心，菖蒲利竅除痰，則聰明開而記憶強矣。）</p>
<p>大補陰丸知（母鹽水炒四兩）柏（黃柏鹽水炒四兩）地，（熟地酒蒸六兩）敗龜板（六兩酥炙）與豬火也濟。（知柏苦寒，直折相火，暫時調濟之法。）腎肝虛呃用此丸，參朮湯吞崇胃氣。（朱</p>
<p>《丹溪心法》曰：「呃逆屬於肝腎之虛者，其氣必從臍下直沖，上出於口，而作聲也。</p>
<p>腎之氣，在下相凌，左腎屬水，不能自逆，而右腎為相火所寓，相火炎上，挾其沖氣上逆為呃，經言「逆氣而裡急，衝脈為病」也。用此丸直折相火，以滋化源，伏藏沖則呃自止。以參朮湯下之者，人之陰氣，依胃為養，胃土損傷，則木挾相火，直沖此土敗於相火之賊，當崇土以制龍雷之火也。旭高按：此丸治虛火呃逆甚為至寒呃，又大非所宜。）世謂丹溪善補陰，立法不無偏執弊，苦寒久服反傷陰，議。（丹溪謂「陽常有餘，陰常不足」，故立此丸。孰知苦寒久服，反傷陰氣諄訾議丹溪之偏，不為過也。）</p>
<p>通關丸（又名滋腎丸）著東垣氏，為治關陰因制此。（關陰者，不得小便也。）下焦熱壅腎膀虛口不渴而小便秘。（熱在下焦血分，故不渴而便秘。）陰火上衝為格陽，（陰火者，衝任相也。格陽者，吐逆也。）呃喘咽痛皆堪餌。足心如烙脛股疼，熱伏陰中亦足理。（葉天士用此搜陰中伏熱，甚為有見。）知（母酒炒一兩）柏（黃柏酒炒二兩）味濃大苦寒，寒因熱用桂（為治。（李東垣《蘭室秘藏》曰：「關則不得小便。」小便者膀胱所主，而肺為水之上源，若肺有伏熱，口渴而小便不通者，宜用氣薄淡滲之藥，瀉火而清肺，滋水之化源也。若熱在下焦血分，不渴而小便不通者，是塞其流也，須用氣味俱濃，陰中之陰藥治之。王善夫病小便不通，漸成中滿，腹堅如石，腿裂出水，夜不得眠，不能飲食。請余延醫。因思《素問》云：「無陽則陰無以生，無陰則陽無以化」也。又：「上為嘔噦」，內關外格之證悉具，死在旦夕矣。遂處此方與服，須臾前陰如刀刺火燒，溺如瀑泉，腫脹遂消。此證一在上焦氣分而渴，一在下焦血分而不渴，二者治各不同，不可不辨。」汪　庵曰：「若膀胱陽虛，陰無以化，又當用腎氣丸治之。」）</p>
<p>斑龍（丸）</p>
<p>鹿角膠（八兩）霜（鹿角霜八兩）柏，（柏子仁八兩）熟地（八兩）菟（絲子八兩）苓（茯苓兼補骨。（補骨脂四兩）搬運精髓填骨空，歸就腎膀通督脈。（凡入房竭精，耗散其真，俱去，雖溫之以氣，補之以味，不能復也。故以有情之品，專走督脈；復以少陰、太陽治其合，乃能搬運精髓，填於骨空，大會於督脈之囟會，而髓海充盈；使以茯苓，性功下降，用以接引諸藥，歸就少陰、太陽，達於督脈，上朝髓海，而成搬運封固之功囊原方無茯苓，（茯苓王晉三加入，其義頗通，當遵之。）澹寮方有陽起石，鹿茸附子歸（當歸）　（黃　）酸棗（仁）辰砂入。（亦名斑龍丸）</p>
<p>龜鹿二仙（膏）</p>
<p>治精極，（五勞之外，又有六極，謂氣極、血極、精極、筋極、骨極、肌極六羸少氣夢遺泄。（皆精氣兩虛）人參（一斤）枸杞（二斤）共熬膏，（先將鹿角十斤，龜斤，桑柴火熬膠，再將參杞膏和服。）氣血精神交補益。（李時珍《本草綱目》曰：「龜腹，能通任脈，故取其甲，以補心補腎補血以養陰也。鹿首常返向尾，能通督脈，以補命補精補氣以養陽也。」同用可以補神者，精氣足則神自旺也。）</p>
<p>青娥丸治虛腰痛（《素問‧脈要精微論》曰：「腰者腎之府，轉搖不能，腎將憊矣。」）故胡桃（二十兩去皮研）蒜（四兩）薑（四兩）仲。（杜仲一斤）虛寒喘嗽鄭相（國）方，腎虛寒，為喘為嗽。）除蒜薑仲（除去三味）加蜜送。（破故與胡桃同用，補養氣血，有水相生之妙。氣足則肺不虛寒，血足則腎不枯燥，久服利益甚多，不獨上療喘嗽，下強腰腳柏無知母，破故無胡桃，猶水母之無蝦也。」按：水母，海　也。）又有錢）胡桃（紫衣胡桃一兩，連皮、鬲。）連皮用。乳子痰喘一服效，（溧將危，凡五日不乳食，此方一服即愈，蓋以乳汁凝於膈間也。）食酸苦方選注》曰：「《日華子本草》云：「食酸齒　，細嚼胡桃即解病有多食梅子，斂痰飲於膈，酸寒之性，搏激於肺，令人苦咳聲啞，惟胡桃可解膈內之痰飲但潤二至（丸）女貞（子）</p>
<p>旱蓮草，強陰補腎烏須好。</p>
<p>扶桑丸（一名桑麻丸）即桑葉（一斤）麻，（黑脂麻四兩）澤血疏風顏不老。（煉蜜丸。</p>
<p>除風濕，資生丸取坤元義（《易》曰：「至哉坤元，萬物資生。」）四君（人參三兩，茯苓二兩，云兩。）扁（豆一兩半）藥（山藥二兩）芡（實一兩半）連（黃連四錢）苡，（薏苡仁一蔻（仁八錢）砂（仁一兩半）藿（香一兩）曲（神麯二兩）桔（梗一兩）楂（肉一兩半）陳，（陳皮氣阻或滑胎用兼消兼補外科牙漏（牙漏由胃中濕熱而成，加苦參服效。）幼科疳，（疳積多由脾虛積之。）易飢易飽俱堪使。（飢能使飽，飽能使飢，神妙難述。徐靈胎《蘭台規不論何因，為總治脾胃之藥，則失制方之義矣。藥味太雜，全無法度，姑存旭高按：三焦五臟生生之氣，全資脾胃而輸化。此方補脾胃而仍分理三焦，者頗宜，正未可輕譏之也。）</p>
<p>無比山藥（丸　孫思邈《千金要方》）攝腎氣，（此收攝腎氣之方，最為穩妥。）都氣丸中重五（五味子六兩，熟地、茯苓、山萸、澤瀉各三兩，山藥二兩。）減去丹皮（都氣丸去丹皮）</p>
<p>加石脂，（赤石脂三兩）蓯蓉（四兩）菟（絲子三兩）仲（杜仲三兩）膝（牛膝三兩）巴（戟肉三兩）匯駐顏健體響音聲，（諸藥煉蜜丸，服一錢，加至錢半，溫酒下。服後令人身健體潤，面光響為驗也。）久虛百損勞傷慰。（孫思邈《千金要方》云：「丈夫久虛百損，五勞七傷，頭目眩、支厥，或煩熱，或脾疼，腰　不隨，飲食不生肌肉，或少食而脹滿，體無膏澤，陽衰絕，陰氣不行，無比山藥丸主之。」）此藥通中入腦門，腦鼻酸疼慎勿畏。</p>
<p>羊腎（丸）</p>
<p>地（熟地）　（黃　）仲（杜仲）膝（牛膝）絲（菟絲），斛（石斛）斷山藥五加皮，沉香肉桂腎氣（此降腎勞也。）</p>
<p>元精丹專補腎血（諸品皆色黑，專補腎血。）首烏（同黑豆拌蒸九次一斤）血余（四兩）生熟地同煮八兩）破故（紙四兩）胡桃（肉二兩研膏）旱（蓮草熬膏四兩）女貞，（女貞子四兩）</p>
<p>脂兩。以藥其藏精益血潤腸（丸）</p>
<p>麻（仁）杏仁，（各三兩均搗膏）蓯蓉（一兩半）枳殼（二兩）地（熟地六兩搗爛）歸（為末，煉脾約丸之玉霜（丸《太平惠民和劑局方》）龍骨（一斤，水飛，用黑豆蒸一伏時，晒乾。）肉蓯蓉（二兩），牡蠣（三兩）磁（石）朱（砂）斛（石斛各二兩）鹿茸，（半兩浸酒中炙）牛膝（二兩）</p>
<p>菟絲（三兩）兼澤瀉（二兩），茴香（一兩）韭子（炒五兩）與天雄，（十兩，酒浸七日，掘一地坑，以炭燒赤，速去火，以醋二升沃於坑，候干，乘便投天雄在內，以盆合土擁之，經宿取出，去皮臍。）</p>
<p>澀精納氣壯陽功。（此腎損骨痿（劉完素《素問病機氣宜保命集》云：「腎損骨痿，不能起於床者，宜益精。」）金萆蓯蓉杜仲（等分）摶。煨腎丸（劉完素《素問病機氣宜保命集》云：「腎肝損及脾穀不化，宜益精緩中消穀。腰痛不起者，甚效。」）中加菟（絲子）膝（牛膝），防風白蒺（桂枝攢，蘆巴（胡蘆巴）故紙（破故紙）豬腰子，（煮熟，和藥搗丸）。脾損腎痿均可安。</p>
<p>叔微（普濟本事方》）杜仲續斷丸，羌（活）防（風）萆（　）薏（仁）仲（杜仲）膝（牛膝）斷（川斷），腰脊疼，肝腎風虛同踐地，腰脊疼痛，風羌活補髓（丸　孫思邈《千金要方》）牛（髓）羊髓，（各一升）酥（一升）及芎（川芎三兩）歸（當膽寒均克濟治虛勞。</p>
<p>蓯蓉鹿茸韭子丸（一名家韭子丸）地（熟地二兩）桂（心一兩）歸（當歸二兩）薑（乾薑一兩）仲（仲一兩）膝（牛膝二兩）摶，石斛（一兩）菟絲（子一兩半）巴戟肉（兩半），助陽固腎暖胞寒，白濁遺精妙，老幼遺尿一樣看。（此方治老人遺溺，及陽氣衰敗，白濁遺精。小兒遺尿寒，亦陽氣不足也。）</p>
<p>威喜（丸）</p>
<p>黃蠟（四兩溶化）白茯苓，（四兩，以豬苓四錢拌煮二十余沸，去豬苓，晒乾用，即蠟丸彈子大，空心細嚼，口生津咽下。）本治斫喪遺濁證。後人借此治痰火，久嗽肺虛頗得（抱朴子云：「茯苓千歲，上生小木，狀如蓮花，名威喜芝。」今以茯苓之年深質結者豬苓，導出前陰，黃蠟性味緩澀，有續絕補髓之功，專調斫喪之陽分，理潰亂之精，陽虛憊而為遺濁帶下者。若治肺虛痰火久嗽，茯苓不必結，豬苓亦可不用。）</p>
<p>松石劉子豬肚丸苦參（三兩）白朮（四兩）牡蠣（四兩　用豬肚一具洗淨，煮爛丸。）摶。瘦勞精者，（劉松石云：「不但治遺，即勞瘦者亦能肥也。」濃胃泄濕堅陰安。（此治肥人也，即《三因》黃連豬肚丸之義。蓋肥人嗜鮮美，飲醇醪，久之脾胃釀成濕熱夜為夢泄。治以水畜之肚，為水中之土，能濃胃泄水；以白朮健脾勝濕，截其苦參泄脾濕而堅腎陰；佐以牡蠣鹹寒勝熱，固澀止遺。又先於其濕之所往也，正，則雖有夢而不遺矣。夫遺滑變證雖多，不越乎有夢、無夢、濕熱三者之范可如庖丁之導　矣。瘦勞善食而瘦，亦因胃中濕熱，故能治之。）</p>
<p>固精丸治無夢遺（治無夢之滑精）鹿茸（一具）鹿角霜（分兩同茸）陽起，（陽起石五錢）茯苓（巴戟（肉五錢）肉蓯蓉（一兩），韭子（一兩）附子（炮五錢）五味子（五錢），青花龍骨（　）</p>
<p>不禁，隨觸隨泄，不必夢而遺也，與走陽不甚相遠。治之必須提陽固氣，乃澀無益也。並治陽痿。）</p>
<p>四君子湯（《太平惠民和劑局方》中和義，參（人參）術（白朮）茯苓（各二錢）甘草（一錢）</p>
<p>比。</p>
<p>虛衰百病生，（脾為中土，貫四臟而統六腑，脾虛則百病叢生。張璐曰：「病久不愈，脾、益腎兩途。」此要訣也。旭高按：久病虛羸，胸無痞滿者，宜補腎；胸有痞滿者脾，亦要訣也。許叔微曰「補脾不如補腎」，孫思邈曰「補腎不如補脾」，皆是也出要訣爾。）脈來細軟須當視。（脈來細軟者，脾氣虛也，宜此湯。若細數者，脾血歸脾湯。）益以夏（半夏）陳（陳皮）名六君（子湯），祛痰補氣陽虛餌。（二陳除痰，四補氣，脾弱陽虛有痰者宜之。）除夏（半夏）名為異功散，（錢乙《小兒藥證直訣》調理脾胃加香（木香）砂（仁）胃寒使。（名香砂六君子湯，治虛寒胃痛。）四君（加）酸棗生薑湯，（庵</p>
<p>《醫方集解》引胡洽方）振悸不眠服之美。（水停心下則悸，故加生薑行水；虛煩則不故加棗仁安神。）六君（加）薑汁竹瀝湯，（朱震亨《丹溪心法》）半身不遂痰厥主。（右不遂屬氣虛，宜此湯；左半身不遂屬血虛，宜四物湯。然亦不可拘泥。若陡然暴死，喉名痰厥證。又有氣厥中風中惡，與此相同，各有治法。）</p>
<p>參苓白朮（散）</p>
<p>扁豆陳（皮），山藥甘（草）蓮（心）砂（仁）薏仁，（諸味補脾利氣）桔梗上浮（戴藥上浮）兼保肺，（恐燥藥上僭）棗湯調服益脾神。（治脾胃者，補其虛，除其濕，行其滯，調其此方得之。）</p>
<p>十味人參（散）</p>
<p>用六君，（參、苓、朮、草、半夏、陳皮）。更加柴（胡）葛（根）芍（藥）黃芩。脾倦怠時潮熱，（治虛熱潮熱，身體倦怠。）補氣升陽復益陰。（六君子湯補氣除痰，柴、葛芩退熱，白芍益陰。）</p>
<p>七味白朮（散）</p>
<p>四君（子湯）全，（參、苓、朮、草。）藿香干葛木香添。補脾（四君之功）化濁（之功）</p>
<p>生津液，（參、朮、干葛皆能生津。）酒積（酒積嘔噦大效）脾虛瀉渴煎。（治脾虛泄效）</p>
<p>三白（湯）</p>
<p>虛煩渴瀉餌，（白朮、白芍、白茯苓，故名「三白」。）術（白朮）芍（白芍）茯苓甘草使。又有參（人參）胡（前胡）三白湯，內傷外感均堪倚。（為調理內傷外感之奇方）四順湯治脾虛冷，四君（子湯）除茯（苓）乾薑進。（加乾薑）腹中疼痛怕光明，脈沉無熱為陰證「如陰陽未辨，姑與服之。若陽厥便熱，陰證則無熱。」）</p>
<p>幼科又有六神散（治小兒表熱去後，又發熱者。）表熱去後續熱飲。足知四君（子湯）功用深熱咸堪任。（四順湯治虛寒，六神散治虛熱，皆從四君加減。）六神散即四君（子湯）</p>
<p>藥扁豆粳米訂。（四君加山藥、扁豆、粳米，生薑、大棗煎。）和其胃氣熱自除，醫家（陳無擇《三因極一病證方論》曰：「小兒熱止復熱，世醫到此，盡不能曉。</p>
<p>或再解表，或謂不治。此表裡俱虛，氣不歸元，而陽浮於外，所以再發熱，非六神散入粳米煎，和其胃氣，則收陽氣歸內而身涼矣。」方內粳米不可少。）</p>
<p>加銀（柴）胡芩（黃芩），銀白湯治續熱盛。（熱甚者，加銀柴胡、黃芩，名銀白健脾（丸）</p>
<p>參（人參）術（白朮）與陳皮，枳實山楂麥　（即麥芽）隨。曲糊作丸米飲下，消補兼行宜。（參、朮土炒各二兩，陳皮、麥芽炒各一兩，山楂一兩半，枳實麩炒三兩。）枳朮丸（李東垣《內外傷辨惑論》引張潔古方）亦消兼補，（白朮二兩，枳實麩炒一兩。）荷葉奇。（荷葉包陳米飯煨干為丸，引胃氣及少陽甲膽之氣上升。）但煎枳朮（丸）為湯飲，心下痞堅水飲施。（《金匱‧水氣篇》云：「心下堅，大如盤，邊如旋杯，水飲所作，枳枳實七枚，白朮二兩，煎湯溫服。腹中　，即當散也。）</p>
<p>補中益氣（湯　李東垣《內外傷辨惑論》）　（黃　蜜炙一錢）術（白朮土炒）陳，（陳皮留白）</p>
<p>升庵《醫又引參、甘草上行，充實腠理，使衛外為固。凡補脾胃之氣，多以升陽補氣名之者，此也。」）</p>
<p>傷功獨擅，（旭高按：飢飽勞役，內傷脾胃之氣，則眾體無以稟氣而皆病矣。其證身頭痛惡寒，有似外感，而懶言氣短，肢體困倦，脈洪大而虛，此可辨也。又外感發不休；內傷發熱，時熱時止。外感則鼻息氣粗，內傷則鼻息氣微。外感之頭痛惡寒傳裡方罷；內傷之頭痛惡寒，乍作乍止。詳見東垣《內外傷辨》，宜細閱之。）亦因。（汪　庵《醫方集解》引李士材曰：「虛人感冒，不任發散者，此方可以代散藥。）惡食懶言肢體倦，（皆脾虛證）畏寒發熱（陽虛則外寒，陰虛則內熱。）</p>
<p>氣不固故多汗。汪　庵《醫方集解》曰：「陽虛自汗，宜補中益氣東加麻黃根柴俱宜蜜水炒過，欲其引參、　至表，故又不可缺。」）心肝肺損俱堪治，（按：本方雖為勞倦傷脾之主劑，然心、肝、肺三經陽氣不舒亦可服，《者緩其中，損其肺者益其氣，損其心者調其營衛也。」惟不宜於腎，柯不宜升，陽虛於下者更不宜升也。」陸麗京曰：「倘人之兩尺虛微，衰微，若再一升提，則是大木將搖而拔其本也。」）瘧痢（經久不愈數，氣虛下陷。）脾虛陽陷妙無倫。全無寒熱還須忌，（旭高按：補中種者設，所以補傷寒之未及，非補虛方也。今人於外感中毫不敢則失東垣之遺意矣。雖曰補氣而非發汗，然實有不散而散之意，及脾氣下陷等證，則最所宜也。若全無表邪寒熱，而但中氣宜。雖升、柴能引清氣上升，然惟有邪者固可因升而散之，設氣乎！夫東垣之方，無論內傷外感，一概以升提中氣為主，想當可不審也。）若見痰喘勿誤遵。（上焦痰熱為喘為嘔者，忌服。）</p>
<p>術），補陰益氣（煎）張介賓。（去黃　、白朮，加山藥、熟地、生方八陣》。）陰虛外感真奇效，變化陳方法轉新。（張介賓曰氣不足，而虛邪外侵者，用此升散，無有不效。」）木香益氣湯（李東垣《脾胃論》）暢脾。</p>
<p>當歸補血（湯）</p>
<p>東垣著，黃　一兩歸（當歸）二錢。（吳鶴皋《醫方考》曰：「黃　多於當歸數血者，蓋有形之血不能自生，生於無形之氣故耳。經曰『陽生陰長』，是之謂也。</p>
<p>煩渴甚，脈大而虛宜此煎。（《衛生寶鑒》云：「男婦血虛發熱，面赤煩渴引飲脈來洪大而虛，重按則微者，當歸補血湯主之。」此補氣血之方也，誤服白虎四物（湯《太平惠民和劑局方》）地（生地）芍（白芍）與歸（當歸）芎（川芎），血家百病此方通。（此血病之主方）八珍（湯）合入四君子，（參、苓、朮、草。）氣血雙療功獨崇。（四君補氣，四物補血。）再加黃　（助陽固衛）與肉桂，（引火歸元）十全大補（湯）補方雄。（為補方之雄全（湯，張潔古方。）風入腸中成飧泄，脾虛血痢治相同。（徐彥純「玉機微義」曰：「此方治風入腸胃飧泄完穀。方名胃風，而實非治風之藥，補血和胃，使風自除。脾虛血痢而挾濕者，實可仗。」）</p>
<p>人參養營（湯）</p>
<p>即十全，（即十全大補湯除川芎，加五味、陳皮、遠志、薑、棗。）除卻川芎五聯，陳皮遠志加薑棗，心脾氣血補方先。（原方云治脾肺氣血兩虛。喻嘉言《醫門法方中諸品，為心脾二臟之藥，於補肺殊不甚切，方下所注肺虛，誤也。」）氣但投此劑悉能痊。（薛立齋云：「氣血兩虛，變現諸證，莫能名狀。勿論其諸證悉退。」）</p>
<p>歸脾湯（嚴用和《濟生方》）用術（白朮）參（人參）　（黃　，各二錢半）歸（當歸一錢）</p>
<p>草（甘錢半）煎加薑棗治之法。）怔忡健脾者，調四臟之過度，勞傷心脾填離者，所以必養心湯用草（甘草一錢）　（黃　蜜炙一兩）參，（人參二錢半）二茯（茯苓茯神）芎（川芎）歸（當再加酸棗（仁炒相同。一用白朮、大補元煎（張介賓《新方八陣》）為首尊，（補陣第一方也）人參熟地草（炙草）萸（肉）存，杞（但於助也左歸（飲）萸（肉）地（熟地）藥（山藥）苓（茯苓）叢，杞（子）草（炙草）齊成壯水功。</p>
<p>（此為壯水之草（炙草），更加龜鹿草，加菟絲子、牛膝、滋養營衛，漸精血自充矣。</p>
<p>上炎，宜用純陰之右歸（飲）附（子）桂（肉桂）兼山藥，杞子地黃炙草聯，杜仲山萸不可缺，益火之源效莫先。</p>
<p>（草（炙草）鹿（角）膠入，菟絲（子）當歸飲改丸。（於本方去甘草，加鹿角膠、菟絲子、當歸，名右歸丸。張介賓《新方八陣》曰：「真陽不足者，必神疲氣怯，或心跳不寧，或四體不收，或眼見邪祟，或陽衰無子等證，速宜益火之源，以培右腎之元陽，而神氣自強矣。」王旭高曰：左柏八味皆除其孰濟川（煎）歸（當歸）膝（牛膝）肉蓯蓉，澤瀉升麻枳殼從。</p>
<p>便結病虛難下奪，用通於補法堪宗。</p>
<p>〔凡病涉虛損，而大便秘結不通，難用硝、黃下奪，而勢又不得不通者，用此通之。甚妙二方、保元湯（魏桂岩《痘疹全書博愛心鑒》）裡參（人參二錢）　（黃　三錢）草，（甘草一錢）肉桂冬宋正秘方補心（丸）</p>
<p>治手振，（血虛有痰）參（人參五錢）茯（苓七錢）芎（川芎一兩）歸（當歸一兩半）</p>
<p>地錢）朱（砂五錢方有甘草。此心恍惚青州白丸（子《太平惠民和劑局方》）星（南星三兩）夏（半夏七兩）並，白附（子二兩）川烏（半俱用生，（各生研）晒露糊丸薑薄（荷）引，（四味宜水研取漿，澄粉晒露七日，元米粉糊丸，薑湯下；癱瘓，溫酒下；驚風，薄荷湯送下。）風痰癱瘓小兒驚。（此治一切風痰之要藥，宜預備之。）</p>
<p>《指迷》茯苓丸（茯苓二兩）半夏，（一兩生研澄粉）風（化）硝（二錢半）枳殼（五錢麩炒）薑湯下（薑汁丸，服三十丸，薑湯下。）中脘停痰肩臂疼，脈來沉細留心把。（治中脘有留痰伏飲或肩背酸痛，脈來沉細者是也，此丸主之。喻嘉言《醫門法律》曰：「痰藥方功效。」痰飲流入四肢，令人肩背酸痛，兩手罷軟，誤以為風，則非其治，宜薑黃各五分。輕者指迷茯苓丸，重者控涎丹。又有血虛臂痛，宜蠲痹四物湯控涎丹（陳言《三因極一病證方論》）治痰之本，痰涎變證悉能醫，走注麻痹牽引痛，胸背腰項或四肢。（人忽患胸背手足，腰項筋骨，牽引釣痛，走注不定，或肉中結核如瘰　，此痰涎隨氣升降為病，非風證也，宜控涎丹。）臟腑水濕大戟（去皮，水浸去綠色，晒。）泄，經隧水濕甘遂（去心）推，皮裡膜外消痰氣，芥子之功信甚奇。（各等分，薑湯下。李時珍《本草綱目》曰：「此乃治痰之本。痰之本，水也，濕也。得氣與火，則凝滯而為痰、為飲、為涕、為癖。大戟泄臟腑之水濕，甘遂行經隧之水濕，白芥子散皮裡膜外之痰氣，惟善用者，能收奇功也。」）</p>
<p>三子養親（湯韓　《醫通》）蘇（紫蘇子）芥（白芥子）菔（萊菔子），老人痰氣堪煎服。痰多盛暫消之，氣虛喘滿非宜逐。（李士材曰：「此方若氣虛者，非所宜也。」）導赤（散　錢仲陽《小兒藥證直訣》）生地與木通，草梢竹葉（等分）四般攻。口糜淋痛小腸火（此瀉心火從小腸中出也。）</p>
<p>加減思食丸苓（茯苓）草，（甘草各二錢半）麥芽（炒黃二兩）神麯（炒黃二兩）瓜（木瓜半兩）梅（巧。</p>
<p>補火丸方治冷勞，硫黃末（一斤）入豬腸熬。</p>
<p>（熬爛取出，蒸餅糊丸，服十丸。）金液丹治諸陰證，硫黃赤石脂和燒。（硫黃十兩研末，瓷盆盛水，和赤石脂封口。鹽泥固濟，　七日，取水臌脹功殊饒。（制法詳見王晉三《古方選注》，虛寒硝（石）硫（黃）半夏並石膏。（許學士《普濟本事方》治腎（丹）治霍亂，硫黃五靈（脂）玄精（石）硝（石），青皮橘皮醋丸暑啖食生冷，暑熱內伏，為霍亂吐瀉，此藥通利三焦，分理陰陽方出《和劑》，虛秘冷秘通治療。（治老人虛秘冷秘，甚驗。）靈砂（（水銀一斤，硫黃四兩，用鐵銚炒成砂子。）鎮墜痰涎所必邀。（治上盛藥最能鎮墜，升降陰陽。）黑錫（丹）硫黃結砂子，（黑錫與硫黃炒成砂子（黑錫鎮墜之功勝於靈砂）大黑錫丹加桂（肉桂）附（子），胡蘆巴與骨脂（補金鈴（子）肉（豆）蔻沉（香）茴（香）木（香），功倍原方信不囂。（其功較小黑錫丹降逆伏須用此，（（石）硫（黃）與石、硫黃、水銀、黑錫，皆稟陰陽精靈之氣而成不容言矣。）聊舉成方八九道，說與心頭切記牢玉屏風散黃　（炙）防（防風各一兩）表虛自汗真奇良。（治氣虛表弱，自汗不止者；風邪久（黃　）得防風功益大，能引真氣周身翔。（李東垣曰：「黃　得防風而相使也。」王晉三《古方選注》曰：「黃　性鈍，防風性利。鈍者受利者隨防風周衛於身，而固護表氣耳。」）中風（口噤）煎此熏床下，氣通作湯服，久風飧泄脾虛匡。（名白朮防風湯，治飧泄。）</p>
<p>柴胡四物（湯川芎、當歸、白芍、生地各一錢半，柴胡一錢。）參（人參）　（黃　）草，（甘草各錢。一方有半夏。）和衛調營達少陽。日久虛勞有寒熱，脈沉而數（沉數為熱在裡，陰尚未虧，故用此湯調和營衛，以散其熱；若脈細數，則當全用滋陰壯水矣。）最相當。（柴胡加入補藥，俱不相合，獨此為宜。柴胡疏通少陽，調和營衛，非專於散風也。）</p>
<p>當歸六黃（湯）</p>
<p>治汗出，（治陰虛有火，盜汗發熱。）　（黃　加倍）柏（黃柏）芩（黃芩）連（黃連）</p>
<p>生（地）熟地。（各等分）瀉火固表復滋陰，加麻黃根功更異。（李時珍《本草綱目》曰：「麻行周身肌表，故能引諸藥外至衛分而固腠理。」徐靈胎《蘭台軌范》曰：「凡止汗浮麥、大棗也。」）或云此藥大苦寒，胃弱氣虛在所忌。（李士材曰：「陰虛則而復此苦寒肅殺之劑，得無虛虛之警戒乎！惟火實氣強者宜之。不然，苦寒麥門冬湯（陳言《三因極》一病證方論》）治漏風，俗名頭汗為蒸籠。（不論冬夏，頭汗自出之「漏風」，俗名「蒸籠頭」也。因上焦傷風，開其腠理，上焦之氣，剽悍滑疾，遇開經氣失道，邪氣內著，故有是證。夫上焦之氣，肺氣治之。此方益胃中之津氣，以供是虛則補母之義，俾調得上焦之氣循經，則邪卻而汗止。）麥冬蘆（根）玉（竹）茹（竹茹薑（生薑）米，（陳粳米）前藥加入異功（散）中。（人參、茯苓、白朮、甘草、陳皮。）甘涼益通。</p>
<p>降逆和中止嘔。）</p>
<p>溫膽湯方即二陳（茯苓、甘草、半夏、陳皮。）竹茹枳實棗（大棗）薑（生薑）循。少陽膽熱移胃熱蒸痰是病因。嘔苦痰涎不得寐，滌痰泄熱以寧神。（二陳和胃滌痰，竹茹清上焦下焦之熱。治三焦而不及於膽者，以膽為生氣所從出，不得以苦寒直傷之也。</p>
<p>無過泄之戒辭，非以膽寒而溫之也。）傷寒病後多斯證，（虛煩嘔惡，口苦不眠多此證。）雜病煩驚悸亦遵。（皆痰熱擾亂心神）或益黃連或參（人參）棗（酸棗仁煩熱可加勻。（心虛神怯加人參、棗仁，名人參溫膽湯。煩熱甚者加黃連，名黃連溫君主出乎震，膽氣清寧神自馴。（旭高按：心為君主而出乎震，震位東方，在人甲木，生心丁火，是以膽氣怯者，心神必虛，膽氣壯者，心神多旺。然則心者，官，而實聽命於膽，故《素問‧五臟生成論》曰：「凡十一臟，皆取決於膽也逍遙散（《太平惠民和劑局方》）用當歸（酒拌）芍，（白芍酒炒）柴（胡）苓（茯苓）術（白朮土炒一兩）草（炙草五錢）煨薑薄。（加煨薑、薄荷煎。）散郁除蒸功最奇，調經八味丹（皮）梔（山著。（本方治肝家血虛火旺，頭痛目眩，頰赤口苦，倦怠煩渴，抑郁不樂，寒熱往來，及蒸潮熱。薛立齋加丹皮瀉血分鬱熱，山梔清氣分鬱火，名八味逍遙散，治婦人經水不調，弦大而虛，其理頗通。）郁雖有六思慮多，（六郁：氣、血、痰、火、濕、食也。夫郁為情之病，丹溪雖論六郁，然思慮怒致郁者多。）思慮傷脾肝作惡。（思慮則氣鬱結而傷脾，脾則肝木乘勝而為病。）此方疏達肝與脾，（此疏達肝脾之方）無傷正氣逍遙卻。（「逍遙」，文》與「消搖」通。此方消散其氣鬱，搖動其血鬱，卻無傷正氣，故名「逍遙」。）丹乾咳嗽，（朱丹溪曰：「乾咳嗽極為難治，此系火鬱之證，惟用逍遙散以發之，繼服可愈。」）養葵用治傷寒瘧。（趙養葵治傷外感多從郁證看，木鬱解而諸郁削。（趙小柴胡湯、四逆散，俱是此意，然總不蓋木喜風搖，寒即摧萎，溫即發生，五行相因，自然之理也。予以一方郁平繼以滋陰藥。（逍遙散，風以往往用逍遙散後，繼以六味丸收平胃散（《太平惠民和劑局方》）是蒼朮（米泔浸五斤）朴，（厚朴薑汁炒五十兩）陳皮（去白五兩）甘草（炙三十兩）薑棗煎。除濕散滿驅嵐瘴，（治濕淫於內，脾胃不能剋制，有積飲痞膈滿者，及山嵐瘴氣，不服水土等證。）調胃諸方從此擴。（凡濕淫脾胃之證，皆可從此方加或合二陳（名平陳湯，治痰。）或五苓，（名胃苓湯，治瀉。）硝（芒硝）黃（大黃）麥（芽）</p>
<p>曲（曲）均堪著。（加麥芽、神麯消食，加大黃、芒硝瀉積。）若合小柴（胡湯）名柴平（湯），煎薑棗能除瘧。又不換金正氣散，即是此方加夏（半夏）藿（香）。（治證同）對金飲子益桑（白）</p>
<p>皮，（平胃散一兩加桑白皮一兩，名對金飲子。）黃腫喘呼好斟酌。若將蒼朮易乾薑，嘔多胃醫無錯。朮能動嘔故除之，和胃飲從景岳索。（和胃飲，景岳新方也。凡嘔吐等證，多有氣虛者，一聞蒼朮之氣，亦能動嘔，故以乾薑代之。）</p>
<p>二陳湯（《太平惠民和劑局方》）用半夏（薑汁製二錢）陳，（陳皮去白各五兩）益以茯（苓三兩）</p>
<p>（甘草）加薑煎。利氣調中兼去濕，一切痰飲此為珍。（李士材曰：「二陳為治痰之妙劑，於上下左右，無所不宜，然止能治痰之標，不能治痰之本，痰本在脾、在腎，用者詳之。</p>
<p>或益芩（黃芩）連（黃連）或楂（山楂）曲（神麯），熱痰食積（痰）可加均。（熱痰加黃芩、黃連名二陳加芩連湯；食積痰加山楂、神麯，名二陳加楂曲湯。）燥痰渴飲貝（母）易（半）夏，（二陳去半夏加貝母湯　朱丹溪曰：「有痰而渴，宜去半夏，代以貝母。」吳鶴皋曰：「渴飲，易之；不能飲水，雖渴宜半夏也。」）經絡痰涎竹瀝臻。（痰在經絡四肢者，加竹瀝二陳加竹瀝湯。）氣鬱生痰砂（仁）附（香附）入，（加砂仁、香附，利氣暢郁，名二陳加砂仁香附湯。）風痰頭痛菊（花）芎（川芎）循。（加菊花、川芎，上行散風，名二陳加菊芎湯。）</p>
<p>氣虛不攝多（吐）涎沫，補瀉須加益智仁。（名二陳加益智仁湯　氣虛不能攝涎，多吐涎沫者加益智仁攝之；虛甚者，更加參、朮。）導痰湯內加星（膽星）枳（實），（加膽星以助半夏加枳實以成衝牆倒壁之功。）頑痰膠固力能馴。（頑痰，老痰也。）金水六君（煎　張景岳方歸（身）</p>
<p>地（熟地），陰虛挾濕（痰）嗽宜遵。（歸身、熟地補陰，二陳祛痰去濕。）除陳（皮）</p>
<p>消暑丸，醋製半夏妙絕倫。（半夏用醋製，能攝胃氣以散水。合茯苓、甘草，利濕和中是消暑在消其濕也。）</p>
<p>潤下丸即二腎散，鹽制陳皮甘草純。</p>
<p>（陳皮鹽水煮八兩，甘草二兩，蒸餅丸。名「潤下」者，鹽能潤下也。為末即名二腎散。</p>
<p>並治膈間痰飲。）散水和脾消暑（丸）好，（散水以和脾也）</p>
<p>以祛痰也。）</p>
