<header><h1>本草分經</h1></header>
<dl class="元資料" data-type="book">
<div><dt>作者</dt><dd>姚瀾</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1644/1911">公元1644年至公元1911年</data></dd></div>
</dl>
<h2>序</h2>
<p>考《漢書‧藝文志》，分醫經與經方而二之。而隋書經籍志則統以醫方。乃讀其論，則均有味乎諺所謂有疾弗治。適得中醫云云蓋誠見夫醫或失宜，熱以益熱，寒以增寒，轉傷於內，與其授權於庸醫，固不若聽命於造物，以不治治。然瞑眩瘳疾載在書，醫師率屬，十全為上，亦著於周官，安得廢醫，夫亦曰審之而已。《神農本草》，《漢志》未登，肇見之《隋書》，嗣而《唐書》新舊，而《宋史》悉錄之，即國朝《四庫全書》，采醫家言至九十七種，言本草者亦十余種。在神農初，藥分三品，共三百六十種。迨雷公桐君，增其族類，廣其主治，而書益著，而醫經資之達其用，而經方之名，因以立。所以由漢而隋，史氏遂統以醫方稱也。且夫醫書之存於今者，亦僅矣。夫《針經》、《素問》，古所謂《黃帝內經》也，次若</p>
<p>《難乃與針灸家所共援，以察榮衛部位臟腑脈法、經絡　穴。是史論醫經，所謂原人、血脈陰陽表裡，以起百病之本，死生之分，慎度所施。而後之人，有因以暢其說者，如《金匱要略》、《傷寒論》，及《病源候》，及三因五運六氣等論，皆醫經之遺也。余則各本草，乃史論經方，所謂本草木之寒溫，辨五苦六辛，致水火之齊，因氣感之宜，以通蔽解結。而後之人，有因以善制造者，如《千金》、《百一》、《和劑局方》，及《全生》、《衛生奇疾》等方，皆經方之類也。即至意見有偏，門戶各立，有若河間易州金華，或主瀉火，主滋陰，莫不各先研經圖後，依於本草而講修治。然則經圖及本草，其醫之始事歟。今諸醫經，既難率購，而《四庫》所錄諸本草，坊間亦少刊布。即所市有《本草備要》從新各編，又絕不及經圖，徒掇拾破碎，未易會通而酌其宜。山陰友人姚建霞茂才來省，其兄清如於靖安署，示予以本草分經一編。編中略采錄諸經脈圖，具列諸藥總目，再析列通行分行，不循經絡各類中，各以補和攻散寒熱，自為其類。不務詳核，而尚簡當，甚便檢閱。熟審之，依論為方，當不至益熱增寒，而疾可瘳，十全可幾。惜板毀於兵，無從復購。因為正其次序，復付手民公諸世，增名為《本草分經》審治。審之者誰？閱此者事也。編著者誰？實建霞同堂曾王父諱瀾號　云廣文先生也，而名以和尚，則以晚年寡發，故又冠以維摩。維摩詰？蓋深入法門，明了眾生，能斷眾生病者，想諸經圖其究之精矣。乃若本草，實醫之始事也，是編之著。</p>
<p>不過如藥王藥上王子，嘗世界草木金石，悉知苦酢咸淡甘辛等味，並諸和合，是冷是熱有毒無毒。如《　嚴經》所云，爾維摩學佛，服行無量功德，當不僅以是編。狎視之，維摩有知，其將亦點首乎。黃梅梅雨田。</p>
<h2>原敘</h2>
<p>本草之作，肇自神農，厥後代有傳書，至綱目而大備。然卷帙浩繁，艱於記誦。於是膚淺者，流率以藥性賦為宗旨，掛一漏百，貽害無窮。迨備要從新諸書行於世，而後本草之功用復著，顧其體例，則仍以草木蟲魚，分門而比類。讀者但識其性味主治，而於所入之經絡，每多忽之，此所以有誅伐無過之譏，而難於收針芥相投之效也。吾友山陰姚君，名瀾字　云，申韓高手也。由明經需次廣文，余筮仕之江，即延之賓館，論交垂三十年間。遇微病君為治之，則信手拈來，藥止數味，而效如桴鼓。詢以岐黃，曰：「吾非知醫，但知某藥入某經耳。」庚子之春，余攝篆越郡，得姚君所輯《本草分經》抄本。公余之暇，披覽一過。</p>
<p>蓋以經絡為綱，以藥品為目，俾閱者豁然於某味為某經之藥，不致亂投雜進，其有裨於醫術不淺哉。爰急為付梓，以廣其傳。姚吾素善病，中年須發盡脫，因自號維摩和尚，今已逾花甲，而精力不衰，殆即按經服藥之明效歟。</p>
<h2>原例（次序略經更定）</h2>
<p>一、編內先列內景經絡諸圖，以資考鏡，且使病患自覺何處為患，即可知為何經之病，宜用何經一、十二經次序：始於手太陰肺，次手陽明大腸，次足陽明胃，次足太陰脾，次手少陰心，次手太陽小腸，次足太陽膀胱，次足少陰腎，次手厥陰心包，次手少陽三焦，次足少陽膽，終於足厥陰肝。是編不依次開列者，亦因便於翻閱故也。</p>
<p>一、是編以經絡為綱，藥品為目。勢不能於一經之內匯草木蟲魚之全，故總目全載藥品，又於每一、凡一藥而兼入數經者，均於總目每味之下注明。至其性味功用，則止於第一經之一味內一、藥有不循經絡者，另列雜品一門。凡總目不下注某經，或通行者，皆雜品也。</p>
<p>凡一經匯一經之藥，從其同也。而其功用則各不同，故又分列補和攻散寒熱六者，使之亦從其同。庶令閱者，依類取用，較為便捷。</p>
<p>一、藥品多有一物數名者，若分載各味之下，則散而雜稽，茲將同名諸品，匯列一卷，以便一、藥性有畏惡反忌，讀本草者，不可不知。然古方多有兼用者，若泥於其性而不知變通，轉多窒滯。是當廣閱古方，以求其義，不必存膠柱之見也。故編內不備載畏惡反忌之文。</p>
<p>一、是編所載藥名，及其字體，概從時俗。如薏苡仁作米仁，惡實作牛蒡子，又　作薑，石不妨從俗，而在初學則便於查閱也。</p>
<p><a href="_files/pjj1.bmp">內景經絡圖</a></p>
<p><a href="_files/pjj2.bmp">周身圖</a></p>
<p><a href="_files/pjj3.bmp">手太陰肺經（左右共二十二穴）</a></p>
<p><a href="_files/pjj4.bmp">足太陰脾經（左右共四十二穴）</a></p>
<p><a href="_files/pjj5.bmp">手陽明大腸經（左右共四十穴）</a></p>
<p><a href="_files/pjj6.bmp">足陽明胃經（左右共九十穴）</a></p>
<p><a href="_files/pjj7.bmp">手少陽三焦經（左右共四十六穴）</a></p>
<p><a href="_files/pjj8.bmp">足少陽膽經（左右共八十六穴）</a></p>
<p><a href="_files/pjj9.bmp">手厥陰心包經（左右共十八穴）</a></p>
<p><a href="_files/pjj10.bmp">足厥陰肝經（左右共二十八穴）</a></p>
<p><a href="_files/pjj11.bmp">手太陽小腸經（左右共三十八穴）</a></p>
<p><a href="_files/pjj12.bmp">足太陽膀胱經（左右共一百二十六穴）</a></p>
<p><a href="_files/pjj13.bmp">手少陰心經（左右共十八穴）</a></p>
<p><a href="_files/pjj14.bmp">足少陰腎經（左右共五十四穴）</a></p>
<p><a href="_files/pjj15.bmp">奇經任脈（二十四穴）</a></p>
<p><a href="_files/pjj16.bmp">奇經督脈（二十八穴）</a></p>
<h3>通行經絡</h3>
<h4>（補）人參</h4>
<p>甘溫微苦，大補肺中元氣，其性主氣，凡臟腑之有氣者皆能補之。生陰血亦瀉虛火，凡服參不投者服山楂可解，一補氣一破氣也。按：老山真參近時絕少，惟行條參其性味與人參雖同而力極薄，出關東，不論大小，但須全糙白皮為上，半糙者次之，若皮色微黃雖糙難辨紅熟者多偽，不可用。修條力甚薄，而其性橫行手臂，指臂無力者服之有效。參須與修條相同，其力尤薄。參蘆能涌吐痰涎，虛者用之以代瓜蒂，然亦能補氣，未見其盡吐也。</p>
<h4>高麗參</h4>
<p>氣味略似人參，而性較溫。初服似有力，數日後便不覺矣。野者不可得，種者愈大愈佳。東洋參　野者皮白，狀類西洋參而色香味無異人參，性則微涼，近皆種者，形似人參而性溫，聞種時皆用硫黃故也。若以之代黨參，較為輕清，非可代人參也。</p>
<h4>黃精</h4>
<p>甘平，補氣血而潤安五臟，益脾胃潤心肺，填精髓助筋骨，除風濕。</p>
<h4>大棗</h4>
<p>甘溫，補中益氣，滋脾土潤心肺，調營衛通九竅，助十二經，和百藥，脾病患宜食之。加入補劑與薑並行，能發脾胃升騰之氣。風疾痰疾俱非所宜。紅棗功用相仿，而力稍遜。</p>
<p>南棗不入藥。生棗甘辛，多食生寒熱。</p>
<h4>面</h4>
<p>甘溫，補虛養氣，助五臟濃腸胃，北產陳麥良，新麥熱，南產壅氣助濕熱。</p>
<h4>鹿肉</h4>
<p>甘溫，補中強五臟，通脈益氣力。</p>
<h4>羊肉</h4>
<p>甘熱，屬火，補虛勞益氣力，開胃壯陽道，能發痼疾及瘡。羊　結成羊腹中者，治反胃。羊角明目殺蟲。生羊血治血暈，解一切毒。</p>
<h4>鱔魚</h4>
<p>甘大溫，補五臟，去風濕，能走經絡。</p>
<h4>淡菜</h4>
<p>甘咸溫，補五臟益陽事，治虛勞消　氣。</p>
<h4>人乳</h4>
<p>甘咸，純陰無定性，潤五臟補血液，清煩熱理噎膈，利腸。有孕之乳為忌乳，最有毒。</p>
<h4>人氣</h4>
<p>治下元虛冷，日令童男女以時隔衣進氣臍中，甚良。或身體骨節痹痛，令人更互呵熨，久久經絡通透。</p>
<h4>紫河車</h4>
<p>甘咸溫，大補氣血而補陰之功尤為極重，治一切虛勞損極，大有奇效，且根氣所鐘必達元海。病由膀胱虛者用之尤宜。清水洗至淨白，用鉛壺隔湯煮極爛，連汁入藥。或煮略熟文火焙乾用，有胎毒者傷人，須以銀器試之。</p>
<h4>（和）甘草</h4>
<p>味甘，通行十二經，解百藥毒，生用氣平，補脾胃、瀉心火、而生肺金；炙用氣溫，補三焦元氣而散表寒。入和劑則補益，入汗劑則解肌，入涼劑則瀉熱，入峻劑則緩急，入潤劑則養血，能協和諸藥，使之不爭。頭涌吐，消上部腫毒。梢達莖中。</p>
<h4>香附</h4>
<p>辛香微苦微甘，通行十二經八脈氣分，調一切，氣能引血藥至氣分而生血，解六郁利三焦消積調經，乃治標之品，損氣耗血。</p>
<h4>連翹</h4>
<p>見心和。</p>
<h4>合歡皮</h4>
<p>甘平，和血補陰，安五臟和心志，蓋心脾調和則五臟自安矣。</p>
<h4>蕪荑</h4>
<p>辛苦溫，散滿KT　濕，化食殺蟲，祛五臟、皮膚、肢節風濕，能療鱉瘕蟲痛。</p>
<h4>海桐皮</h4>
<p>苦平，入血分，祛風去濕殺蟲，能行經絡達病所，治牙蟲癬疥。</p>
<h4>乳香</h4>
<p>苦溫，辛香善竄，入心，通行十二經，調氣活血，去風舒筋，托裡護心，香徹瘡孔，能使毒瓦斯外出，消腫止痛生肌。</p>
<h4>沒藥</h4>
<p>苦平，入十二經，散結氣通瘀血，消腫定痛生肌。</p>
<h4>竹瀝</h4>
<p>甘苦寒滑，清痰降火，行經絡、四肢、皮裡、膜外之痰，凡痰因風熱燥火者宜之，薑汁為使。虛者與參同用，使人參固其經，竹瀝通其絡，則甘寒氣味相得益彰。</p>
<h4>荊瀝</h4>
<p>甘平，開經絡除風熱，化痰行氣血，為去風化痰之妙藥，用牡荊俗名黃荊，燒取瀝。</p>
<h4>廣皮</h4>
<p>見肺和。</p>
<h4>枳子</h4>
<p>甘平，止渴潤五臟，解酒毒。按：葛根、葛花解酒毒而發散不如枳　。</p>
<h4>菠菜</h4>
<p>甘溫而滑，利五臟通血脈，開胸膈，下氣調中，止渴潤燥，根尤良。</p>
<h4>薺菜</h4>
<p>甘溫，利五臟，益肝和中。根益胃明目，同葉燒灰治痢。</p>
<h4>白豆</h4>
<p>甘平，補五臟，暖腸胃，調中，助十二經脈，腎病宜食之。豆葉利五臟、下氣。豆腐甘鹹寒，清熱散血，和脾胃消脹滿，下大腸濁氣。</p>
<h4>酒</h4>
<p>大熱有毒，用為向導可以通行一身之表，引藥至極高之分，和血行氣，逐穢暖水臟，最能亂血動火致濕熱諸病，醇而無灰、陳者良。按：鍛石能解酒酸，造酒家多用之，而有灰之酒傷人。燒酒散寒破結，損人尤甚。</p>
<h4>靈砂</h4>
<p>甘溫，養神志安魂魄，通血脈調和五臟，治上盛下虛痰涎壅盛、吐逆、冷痛，殺精鬼，小兒驚吐服之最效，為鎮墜神丹也。硫黃合水銀煉成。</p>
<h4>百沸湯</h4>
<p>助陽氣，行經絡，半沸者飲之傷元氣作脹。</p>
<h4>鵜鶘油</h4>
<p>咸溫滑，透經絡，治聾痹、癰腫諸病，不入湯丸。</p>
<h4>蜂蜜</h4>
<p>甘滑，生性涼清，熱熟性溫，補中潤燥解毒，調營衛通三焦，安五臟通便秘，止諸痛和百藥，與甘草同功，滑腸。同蔥食害人，食蜜飽後食　令人暴亡。黃蠟甘淡微溫性澀，止痛生肌，續絕傷止瀉痢。</p>
<h4>（攻）大戟</h4>
<p>苦辛寒，專瀉臟腑水濕，逐血發汗，消癰通二便閉，瀉火逐痰，其汁青綠亦能瀉肝。陰寒善走，大損真氣。紫色者上，白者傷人，須去骨用，中其毒者惟菖蒲能解之。</p>
<h4>甘遂</h4>
<p>苦寒，瀉腎經及隧道水濕，直達水氣所結之處，以攻決為用，治大腹腫滿、痞積、痰迷，去水極神，損真極速，面煨用。</p>
<h4>商陸</h4>
<p>苦寒，沉陰下行，與大戟甘遂同功，療水腫、脹滿、蠱毒、惡瘡。</p>
<h4>芫花</h4>
<p>苦溫，療五臟水飲、痰癖、治瘴瘧，毒性至緊，虛者忌之，醋煮用。根療疥。</p>
<h4>防己</h4>
<p>大辛苦寒，入膀胱，去火邪，能行十二經，通腠理利九竅，瀉下焦血分濕熱，療風行水，降氣下痰。性險而健，惟濕熱壅遏及香港腳病凡下焦濕熱致二陰不通者用此治之。有二種，漢防己治水用，木防己治風用。</p>
<h4>鶴虱</h4>
<p>苦平，殺五臟蟲，治蛔痛。</p>
<h4>巴豆</h4>
<p>辛大熱大毒，峻下開竅宣滯，去臟腑沉寒積滯，治喉痹急症。生用急治，炒黑緩治，去油名巴豆霜，大黃、黃連、涼水、黑豆、綠豆汁能解其毒。</p>
<h4>蘇木</h4>
<p>甘鹹辛平，入三陰血分，行血去瘀，因宣表裡之風。</p>
<h4>枳實</h4>
<p>苦酸微寒，破氣行痰，消痞止喘，利胸膈寬腸胃。</p>
<h4>枳殼</h4>
<p>性味功用與枳實同，惟實則力猛而治下，其瀉痰有衝牆倒壁之功，殼則力緩而治上，能損胸中至高之氣，為異耳。</p>
<h4>角刺</h4>
<p>辛溫，搜風殺蟲，通竅潰癰，其鋒銳直達病所。</p>
<h4>檳榔</h4>
<p>苦辛溫，能墜諸藥下行，攻堅破脹消食，行痰下水散邪，殺蟲醒酒，瀉胸中至高之氣至於下極，凡氣虛下陷者宜慎用。</p>
<h4>輕粉</h4>
<p>辛冷燥毒，劫痰涎，消積殺蟲，善入經絡，不可輕服，今人用治楊梅毒瘡，能劫邪從牙齦出，然毒入經絡筋骨，血液耗亡多成痼疾，惟土茯苓能解其留毒。粉霜略同。</p>
<h4>虻蟲</h4>
<p>苦寒有毒，攻血，遍行經絡，色青入肝，極能墮胎。</p>
<h4>穿山甲</h4>
<p>鹹寒，性猛善竄，入肝胃，功專行散，能出入陰陽，貫穿經絡，入營分以破結邪直達病所。通經下乳，消腫潰癰，止痛排膿，和傷發痘，為風瘧瘡科要藥。</p>
<h4>蘄蛇</h4>
<p>甘咸溫，性竄，內走臟腑，外徹皮膚，透骨搜風，截驚定搐，治風濕、癱瘓、疥癩、皮骨尤毒，宜去淨。</p>
<h4>烏梢蛇</h4>
<p>功用與蘄蛇同，無毒而力淺，大者力更減。</p>
<h4>（散）威靈仙</h4>
<p>辛鹹溫屬木，宣疏五臟，通行十二經，行氣祛風破積，治風濕痰飲諸病性極快利，積　不痊者服之有效，然大走真氣耗血，用宜詳慎。</p>
<h4>防風</h4>
<p>見膀胱散。</p>
<h4>蒼耳子</h4>
<p>甘苦溫，發汗散風濕，上通腦頂，下行足膝，外達皮膚，治頭面諸疾、遍身瘙癢、去刺用。采根煎熬名萬應膏，功用略同。</p>
<h4>冰片</h4>
<p>辛香善走，體溫用涼，先入肺傳於心脾，而透骨通竅散鬱火，辟邪消風化濕，風病在骨髓者宜之，若在血脈肌肉，輒用冰麝反引風入骨，莫之能出。</p>
<h4>蔥白</h4>
<p>辛散平，發汗解肌，通上下陽氣而活血解毒，白冷青熱，取白用同蜜食殺人，青葉治水病足腫。</p>
<h4>白芥子</h4>
<p>見肺散。</p>
<h4>麝香</h4>
<p>辛溫香竄，開經絡通諸竅，內透骨髓外徹皮毛，搜風，治諸風、諸氣、諸血、果積、酒積，辟邪解毒殺蟲，風在肌肉者誤用之，反引風入骨，用當門子尤勝。</p>
<h4>桑蠶</h4>
<p>甘溫有毒，祛風而走竄經絡，其性與穿山甲相近，用以發痘大傷元氣。桑蟲矢功用略同。</p>
<h4>（寒）牛旁子</h4>
<p>辛苦寒滑，瀉熱散結，宣肺氣，清喉理嗽，利二便，行十二經，散諸腫、瘡毒、腰膝滯氣。根苦寒，治中風，貼反花瘡。</p>
<h4>青黛</h4>
<p>鹹寒，瀉肝，散五臟鬱火，解中下焦蓄蘊風熱，敷癰瘡。</p>
<h4>菜</h4>
<p>甘苦涼滑，利五臟通心膈，搗汁治時行壯熱，止熱毒痢。</p>
<h4>茭白</h4>
<p>甘冷而滑，利五臟，去煩熱。根名菰根，冷利甚於蘆根。</p>
<h4>白苣</h4>
<p>苦寒，利五臟通經脈，開胸膈滯氣，解熱毒利腸。</p>
<h4>萵苣</h4>
<p>苦冷，功同白苣，又能通乳汁，殺蟲蛇毒。子下乳汁，通小便。</p>
<h4>絲瓜</h4>
<p>甘冷，涼血解毒，除風化痰，通經絡行血脈，消浮腫發痘瘡滑腸下乳，用筋。</p>
<h4>木耳</h4>
<p>甘平，利五臟宣腸胃，治五痔、血症。地耳甘寒，明目。石耳甘平，明目益精。</p>
<h4>大麥</h4>
<p>甘咸微寒，補虛除熱，益氣調中，實五臟化穀食。大麥面平胃下氣，消積涼血。</p>
<h4>小粉</h4>
<p>甘涼，和五臟調經絡，醋熬消癰疽、湯火傷。</p>
<h4>綠豆</h4>
<p>甘寒，行十二經，清熱解毒，利水和脾，功在綠皮，去皮即壅氣，煮東加蜜或鹽冷凍飲料。粉撲痘瘡潰爛。</p>
<h4>元精石</h4>
<p>鹹寒而降，治上盛下虛，救陰助陽，有扶危拯逆之功。</p>
<h4>人中黃</h4>
<p>見胃寒。</p>
<h4>金汁</h4>
<p>見胃寒。</p>
<h4>（熱）蘄艾</h4>
<p>苦辛，生溫熟熱，純陽香燥，能回垂絕之元陽，通十二經，走三陰而尤為肝脾腎之藥，理氣血，逐寒濕，暖子宮，止血溫中，開鬱調經殺蛔，以之灸火能透諸經而除百病。</p>
<h4>附子</h4>
<p>辛甘，大熱純陽，其性浮多沉少，其用走而不守，通行十二經無所不至，能引補氣藥以復失散之元陽，引補血藥以滋不足之真陰，引發散藥開腠理以逐在表之風寒，引溫暖藥達下焦以祛在裡之寒濕，治督脈為病及一切沉寒痼冷之症。生用發散，熟用峻補，誤服禍不旋踵中其毒者黃連、犀角、甘草煎湯解之，或用澄清黃土水亦可。烏附尖吐風痰，治癲癇，其銳氣直達病所。側子大燥，發散四肢，充達皮毛，治手足風濕。</p>
<h4>花椒</h4>
<p>辛苦溫，散寒燥濕，溫中下氣，利五臟去老血，殺蟲。</p>
<h4>乾薑</h4>
<p>辛熱，燥脾濕，開五臟六腑，通四肢關節，宣諸絡脈，逐寒發表，溫經定嘔，消痰去滯，炒黃用。如與五味子同服，亦能利肺氣而治寒嗽。</p>
<h4>炮薑</h4>
<p>辛苦大熱，除胃冷而守中兼補心氣，祛臟腑沉寒錮冷，去惡生新，能回脈絕無陽，又引血藥入肝而生血退熱，引以黑附則入腎祛寒濕。</p>
<h4>大蒜</h4>
<p>辛熱，通五臟達諸竅，消食辟穢，去寒滯解暑氣，殺蛇蟲毒，氣味重濁，多食則昏目損神，搗敷治鼻衄不止、關格不通，亦能消水利便，如切片灼艾灸癰疽良，須用獨頭者，佳至百補俗說不足信也。</p>
<h3>手太陰肺</h3>
<h4>（補）人參</h4>
<p>見通行補。</p>
<h4>高麗參</h4>
<p>見通行補。</p>
<h4>珠參</h4>
<p>苦寒微甘，補氣降肺火，肺熱有火者宜之。</p>
<h4>土參</h4>
<p>甘微寒，性苦下降，補肺氣而能使清肅下行，凡有升無降之症宜之。</p>
<h4>洋參</h4>
<p>苦寒微甘，補肺降火，虛而有火者宜之。</p>
<h4>北沙參</h4>
<p>甘苦微寒，專補肺陰清肺火，金受火刑者宜之。南沙參功同，而力稍遜。</p>
<h4>黃精</h4>
<p>見通行補。</p>
<h4>玉竹</h4>
<p>甘平，補氣血而潤去風濕，潤心肺，用代參地，不寒不燥大有殊功。</p>
<h4>黃</h4>
<p>甘溫升浮，補肺氣溫三焦，壯脾胃實腠理，瀉陰火解肌熱，氣虛難汗者可發，表疏多汗者可止，生用瀉火，炙用補中，為內托瘡癰要藥，但滯胃爾。</p>
<h4>白芨</h4>
<p>苦辛平，性澀入肺，止吐血，去瘀生新，肺損者能復生之，治跌打湯火傷及瘡癰。</p>
<h4>白芍</h4>
<p>見肝補。</p>
<h4>冬蟲夏草</h4>
<p>甘平，補肺腎，止血化痰，治勞嗽。</p>
<h4>五味子</h4>
<p>性溫，五味俱備，酸鹹為多，斂肺補腎，益氣生津，澀精明目，強陰退熱，斂汗止嘔，寧嗽定喘，除渴止瀉，夏月宜常服之以瀉火而益金，北產者良。</p>
<h4>大棗</h4>
<p>見通行補。</p>
<h4>胡桃</h4>
<p>甘熱，通命門利三焦，潤腸胃溫肺補腎，潤燥養血，佐破故紙大補下焦，然能動風痰助腎火。皮性澀，若連皮用則斂肺固腎澀精。油者有毒，能殺蟲。殼外青皮壓油，烏須發。</p>
<h4>落花生</h4>
<p>辛甘香，潤肺補脾，和平可貴。</p>
<h4>白糖</h4>
<p>見脾補。</p>
<h4>山藥</h4>
<p>見脾補。</p>
<h4>米仁</h4>
<p>見胃補。</p>
<h4>粳米</h4>
<p>甘平，得天地中和之氣，平和五臟，補益氣血，入肺清熱利便，晚收者性涼，尤能清熱。北粳涼，南粳溫，新粳熱，陳粳涼，赤粳熱，白粳涼，新米動氣。米泔清熱涼血利小便，用第二次者。</p>
<h4>糯米</h4>
<p>見脾補。</p>
<h4>飴糖</h4>
<p>見脾補。</p>
<h4>磁石</h4>
<p>見腎補。</p>
<h4>燕窩</h4>
<p>甘淡，平大養肺陰，開胃氣，化痰止嗽，補而能清，一切病之由於肺虛不能清肅下行者，此皆治之。燕肉不可食，損人神氣。</p>
<h4>鴨</h4>
<p>甘平微咸，入肺腎血分，補陰除蒸，利水化虛痰，毛白嘴烏老者良。熱血解諸毒。蛋甘寒咸，除心膈熱。</p>
<h4>白鶴血</h4>
<p>咸平，益肺去風，補虛乏益氣力。</p>
<h4>阿膠</h4>
<p>甘平，清肺養肝，補陰滋腎，止血去瘀，除風化痰，潤燥定喘，利大小腸，治一切血病風病，大抵補血與液，為肺、大腸要藥，傷暑伏熱成痢者必用之，胃弱脾虛者酌用，化痰蛤粉炒，止血蒲黃炒。</p>
<h4>豬肺</h4>
<p>補肺治虛嗽。</p>
<h4>羊肺</h4>
<p>通肺氣止咳嗽，亦利小便。</p>
<h4>羊乳</h4>
<p>見大腸補。</p>
<h4>蛤蚧</h4>
<p>咸平，補肺潤腎，益精助陽，通淋定喘止嗽，氣虛血竭者宜之，其力在尾，毒在眼，去頭足酥炙用。</p>
<h4>（和）甘草</h4>
<p>見通行和。</p>
<h4>鬱金</h4>
<p>辛苦微甘，輕揚上行，入心包、心、肺，涼心熱，散肝鬱，破血下氣，治經水逆行、氣血諸痛，耗真陰。</p>
<h4>廣木香</h4>
<p>見三焦和。</p>
<h4>白豆蔻</h4>
<p>辛熱肺經本藥流行三焦溫暖脾胃散滯氣消酒積除寒燥濕化食寬膨。</p>
<h4>藿香</h4>
<p>見脾和</p>
<h4>甘菊花</h4>
<p>見肝和。</p>
<h4>延胡索</h4>
<p>見肝和。</p>
<h4>旋覆花</h4>
<p>辛苦鹹微溫，入肺、大腸，下氣行水，軟堅消痰痞，通血脈，除噫氣，絹包煎。根治風濕，葉治瘡毒，止血。</p>
<h4>砂仁</h4>
<p>見脾和。</p>
<h4>紫菀</h4>
<p>辛苦溫，性滑，潤肺下氣，化痰止渴，專治血痰及肺經虛熱，又能通利小腸。白者名女菀，紫入血分，白入氣分。</p>
<h4>款冬花</h4>
<p>辛溫，潤肺消痰理嗽，能使肺邪從腎順流而出，治逆氣咳血，主用皆辛溫，開豁卻不助火。</p>
<h4>白蒺藜</h4>
<p>見肝和。</p>
<h4>佛耳草</h4>
<p>微酸，大溫肺氣，止寒嗽，消痰，治寒熱泄瀉。</p>
<h4>百部</h4>
<p>甘苦微溫，能利肺氣而潤肺，溫肺治寒嗽，殺蟲虱，傷胃滑腸。</p>
<h4>白米飯草</h4>
<p>甘平，潤燥補肺，和中益胃，治吐血咳嗽，熬膏用。</p>
<h4>罌粟殼</h4>
<p>酸澀平，斂肺澀腸固腎，宜治骨病，酸收太緊，易兜積滯。御米甘寒，潤燥治反胃。鴉片酸澀溫，止瀉痢，澀精氣。</p>
<h4>松花</h4>
<p>甘溫，潤心肺，益氣止血，除風，善滲諸痘瘡、傷損、濕爛不痂。</p>
<h4>松子</h4>
<p>甘溫而香，潤肺燥，開胃，散水氣，除諸風，治大便虛秘。</p>
<h4>白檀香</h4>
<p>辛溫，利氣，調脾肺利胸膈，兼引胃氣上升。</p>
<h4>烏藥</h4>
<p>辛溫香竄，上入脾肺，下通膀胱腎，能疏胸腹邪逆之氣，凡病之屬氣者皆可治，順氣則風散，理氣則血調，故又治風療瘡及貓犬百病。</p>
<h4>訶子</h4>
<p>苦溫酸澀，泄氣消痰，斂肺澀腸，生用清金行氣，熟用溫胃固腸。</p>
<h4>茯苓</h4>
<p>見脾和。</p>
<h4>琥珀</h4>
<p>見肝和。</p>
<h4>杏仁</h4>
<p>辛苦甘溫，瀉肺降氣，行痰解肌，除風散寒，潤燥，並解肺郁，利胸膈氣逆，通大腸氣秘，治上焦風燥，又能殺蟲，消狗肉面粉積，去皮尖研用。如發散連皮尖研。雙仁者殺人。叭噠杏仁甘平性潤，止咳下氣，消心腹逆悶。甜杏仁不入藥。杏子酸熱，有小毒損人。</p>
<h4>烏梅</h4>
<p>酸澀而溫，入脾肺血分，澀腸斂肺，止血生津止渴，安蛔涌痰解毒。白梅酸澀咸平，功用略同，兼治痰厥、喉、痹、牙關緊閉，敷癰毒刀箭傷，多食則齒　，嚼胡桃肉即解。</p>
<h4>木瓜</h4>
<p>見肝和。</p>
<h4>廣皮</h4>
<p>辛苦溫，入脾肺氣分，能散能和，能燥能瀉，利氣調中，消痰快膈，宣通五臟，統治百病。入和中藥留白，入疏通藥去白，亦名橘紅，兼能除寒發表，廣產為勝名廣皮，陳者良名陳皮。化州陳皮消伐太峻，不宜輕用。橘肉生痰聚飲。</p>
<h4>佛手柑</h4>
<p>辛苦酸溫，入肺脾，理氣止嘔，健脾治心頭痰水氣痛，根葉同功。</p>
<h4>榧子</h4>
<p>甘澀平，殺蟲消積，多食引火入肺，使大腸受傷。</p>
<h4>白果</h4>
<p>甘苦澀，生食降濁痰殺蟲，熟食斂肺益氣，定哮喘、縮小便、止帶濁。壅氣發疳，小兒多食白果，吐涎沫不知人，急用白鯗頭煎湯，灌之可解。</p>
<h4>橄欖</h4>
<p>甘澀酸平，清肺開胃，下氣利咽喉，生津醒酒解毒，治魚骨哽。核主治與橄欖同。仁甘平潤燥。</p>
<h4>百合</h4>
<p>甘平，潤肺寧心，清熱止嗽，能斂肺氣，利二便，止涕淚。</p>
<h4>雲母</h4>
<p>甘平，入肺下氣，治瘧痢癰疽。</p>
<h4>白石英</h4>
<p>甘辛微溫，潤肺去燥，利小便，實大腸，治肺痿咳逆。</p>
<h4>食鹽</h4>
<p>見腎和。</p>
<h4>露水</h4>
<p>甘平，潤肺，解暑止消渴。</p>
<h4>僵蠶</h4>
<p>鹹辛平，氣味輕浮，入肺肝胃，去風化痰，散結行經能敬相火，治逆結之痰及風熱為病。蠶蛹治風退熱除蛔，療小兒疳疾，　犬咬者終身忌食。</p>
<h4>五倍子</h4>
<p>酸澀鹹寒，斂肺降火，生津化痰，止血斂汗，治泄痢下血，散熱毒，斂澀之功敏於龍骨、牡蠣。造釀作餅名百藥煎，功用相同，治上焦心肺，痰嗽熱溫諸病尤為相宜。</p>
<h4>（攻）牽牛子</h4>
<p>辛熱，屬火而善走入肺，瀉氣分濕熱，達右腎命門，走精隧，通下焦郁遏及大腸風秘氣秘，利大小便，逐水消痰，殺蟲治腫滿。有黑白二種，黑者力速名黑丑。</p>
<h4>葶藶</h4>
<p>辛苦大寒，性急力峻，下氣破結，行膀胱水，除肺中水氣　急，通經利便，有甜苦二種，甜者力稍緩。</p>
<h4>南星</h4>
<p>見肝攻。</p>
<h4>皂角</h4>
<p>辛鹹溫，入肺肝大腸，性極尖利，通竅搜風，泄熱涌痰，除濕去垢，破堅宣滯，散腫消毒，煎服取中　湯泡。</p>
<h4>青皮</h4>
<p>見肝攻。</p>
<h4>大腹皮</h4>
<p>見脾攻。</p>
<h4>（散）桔梗</h4>
<p>苦辛平，入肺經氣分兼入心胃，開提氣血，表散寒邪，清利頭目咽喉，開胸膈滯氣，能載諸藥上浮，引苦泄峻下之劑至於至高之分成功。</p>
<h4>防風</h4>
<p>見膀胱散。</p>
<h4>前胡</h4>
<p>見肝散。</p>
<h4>升麻</h4>
<p>見脾散。</p>
<h4>白芷</h4>
<p>辛溫氣濃，入肺胃大腸，通竅發表，除濕熱，散風熱，治頭面諸疾。</p>
<h4>香茹</h4>
<p>辛溫主肺，解表清暑利濕，散皮膚蒸熱，解心腹凝結，陰暑用之以發越陽氣，陽暑忌用，熱服作瀉。</p>
<h4>薄荷</h4>
<p>辛散，升浮體溫用涼發汗，能搜肝氣而抑肺盛，宣滯解鬱，散風熱，通關竅。</p>
<h4>蘇葉</h4>
<p>辛溫而香，入氣分兼入血分，利肺下氣，發表祛風，寬中利腸散寒和血。蘇子降氣消痰，開鬱溫中，潤心肺止喘嗽，力倍蘇葉。蘇梗順氣安胎，功力和緩。</p>
<h4>雞蘇</h4>
<p>辛烈微溫，清肺下氣，理血散熱。</p>
<h4>麻黃</h4>
<p>辛苦溫，肺家專藥，入膀胱兼走大腸心經，發汗解表，去營中寒邪，疏通氣血，惟冬月在表真有寒邪者宜之，否則不可用。去根節制用。根節止汗。</p>
<h4>水萍</h4>
<p>辛寒，入肺，發汗祛風，行水消腫，其發汗勝於麻黃，不可輕用。</p>
<h4>桂枝</h4>
<p>辛甘溫，入肺膀胱，溫經通脈，發汗解肌，調和營衛，使邪從汗出而汗自止，性能橫行手臂，平肝而動血。桂花辛溫，治牙痛，潤發。桂葉洗發去垢。</p>
<h4>冰片</h4>
<p>見通行散。</p>
<h4>辛夷</h4>
<p>辛溫，入肺胃氣分，能助胃中清陽上行通於頭腦，溫中解肌通竅，治九竅風熱之病，去外皮毛用。</p>
<h4>生薑</h4>
<p>見胃散。</p>
<h4>白芥子</h4>
<p>辛溫入肺，通行經絡，發汗散寒，溫中利氣豁痰，痰在脅下及皮裡膜外者非此不行，煎太熟則力減。芥菜子主治略同。芥菜辛熱而散，通肺開胃，利氣豁痰，久食發瘡昏目。</p>
<h4>淡豆豉</h4>
<p>苦寒，發汗解肌，泄肺除熱，下氣調中，炒熟又能止汗。</p>
<h4>（寒）薺</h4>
<p>甘淡微寒，利肺氣，解藥毒，亦治瘡毒。</p>
<h4>川貝母</h4>
<p>辛甘微寒，瀉心火散肺郁，入肺經氣分，潤心肺，化燥痰。象貝母味苦，去風痰。</p>
<p>土貝母大苦，外科治痰毒。</p>
<h4>黃芩</h4>
<p>見心寒。</p>
<h4>知母</h4>
<p>見腎寒。</p>
<h4>白前</h4>
<p>辛甘微寒，降氣下痰止嗽，治肺氣壅實。</p>
<h4>麥冬</h4>
<p>見胃寒。</p>
<h4>燈心</h4>
<p>見心寒。</p>
<h4>漏盧</h4>
<p>見胃寒。</p>
<h4>射干</h4>
<p>苦寒，瀉實火，因而散血消腫，能化心脾老血、肝肺積痰，解毒，治喉痹咽痛，虛者忌用。</p>
<h4>天冬</h4>
<p>甘苦大寒，入肺經氣分，益水之上源而下通腎，清金降火，潤燥滋陰，消痰止血，殺蟲，去腎家濕熱，治喘嗽骨蒸一切陰虛有火諸症。</p>
<h4>栝蔞</h4>
<p>見三焦寒。</p>
<h4>山豆根</h4>
<p>見心寒。</p>
<h4>馬兜鈴</h4>
<p>苦辛寒，清肺熱，降肺氣，兼清大腸經熱，亦能行水，湯劑用之多吐。根塗腫毒。</p>
<h4>牛旁子</h4>
<p>見通行寒。</p>
<h4>車前子</h4>
<p>見膀胱寒。</p>
<h4>通草</h4>
<p>氣寒味淡，入肺胃，引熱下行，而又能通氣上達，通竅利肺。</p>
<h4>馬勃</h4>
<p>辛平而散，清肺解熱，治喉痹咽痛，外用敷瘡最為穩妥。</p>
<h4>石葦</h4>
<p>見膀胱寒。</p>
<h4>桑皮</h4>
<p>甘辛寒，瀉肺火，散瘀血，下氣行水，止嗽清痰。</p>
<h4>梔子</h4>
<p>見心寒。</p>
<h4>地骨皮</h4>
<p>甘淡而寒，降肺中伏火，除肝腎虛火，治肝風頭痛，利腸，退骨蒸，走裡而又走表，善除內熱亦退外潮，凡風寒散而未盡者用之最宜。</p>
<h4>木芙蓉</h4>
<p>辛平性滑，清肺涼血散熱，止痛消腫排膿，治一切癰疽。</p>
<h4>竹茹</h4>
<p>見胃寒。</p>
<h4>枇杷葉</h4>
<p>苦平，清肺和胃，下氣而消痰降火，治肺蜜炙，治胃薑汁炙，刷去毛。蒸取汁名枇杷露，功用相同。</p>
<h4>柿</h4>
<p>生柿甘冷，潤肺清胃止嗽，干柿甘寒而澀，潤肺寧嗽澀腸消宿血。柿霜生津化痰，清上焦心肺之熱為尤宜。柿蒂苦溫，降氣止呃逆。</p>
<h4>梨</h4>
<p>甘寒微酸，涼心潤肺，利大小腸，降火消痰，清喉潤燥，兼有消風之妙，熟食滋陰。</p>
<h4>石羔</h4>
<p>見胃寒。</p>
<h4>滑石</h4>
<p>見膀胱寒。</p>
<h4>浮石</h4>
<p>鹹寒，軟堅潤下，入肺止嗽，通淋，化上焦老痰，能消結核。</p>
<h4>羚羊角</h4>
<p>見肝寒。</p>
<h4>石決明</h4>
<p>見肝寒。</p>
<h4>童便</h4>
<p>鹹寒，能引肺火下行從膀胱出，降火降血甚速，潤肺清瘀，雖穢臭敗胃，然較之過用寒涼之藥猶不若服此之為勝也。熱服或入薑汁或入韭汁。</p>
<h4>（熱）紅豆蔻</h4>
<p>見胃熱注。</p>
<h4>丁香</h4>
<p>見胃熱。</p>
<h4>川椒</h4>
<p>辛大熱，入肺脾命門，發汗散寒，暖胃燥濕，消食除脹，通血脈行肢節，補命門火，能下行導火歸元，安蛔最殺勞蟲。閉口者殺人，黃土能解其毒。微炒出汗去黃殼取紅用，亦名椒紅，中其毒者用涼水麻仁漿解之。又解閉口椒毒，用肉桂煎汁飲之或多飲冷水或食蒜或飲地漿水俱可。椒目苦辛，專行水道消水蠱。</p>
<h3>足太陰脾</h3>
<h4>（補）黨參</h4>
<p>甘平，補中益氣和脾胃，性味重濁，滯而不靈，止可調理常病，若遇重症斷難恃以為治，種類甚多，以真潞黨皮寬者為佳。</p>
<h4>黃</h4>
<p>見肺補。</p>
<h4>黃精</h4>
<p>見通行補。</p>
<h4>天生術</h4>
<p>甘苦溫，補脾和中燥濕，善補氣亦能生血，化胃經痰水，有火者宜生用。按：野術可代真參，而真野者極難得。種白朮健脾燥濕，止可調理脾胃常病。</p>
<h4>當歸</h4>
<p>見肝補。</p>
<h4>白芍</h4>
<p>見肝補。</p>
<h4>菟絲子</h4>
<p>見腎補。</p>
<h4>益智仁</h4>
<p>辛熱，本脾藥兼入心腎，溫燥脾胃，澀精固氣，補心氣命門之不足，又能開發郁結，使氣宣通，溫中進食，攝唾涎，縮小便。</p>
<h4>熟地</h4>
<p>見腎補。</p>
<h4>棗仁</h4>
<p>見心補。</p>
<h4>大棗</h4>
<p>見通行補。</p>
<h4>龍眼肉</h4>
<p>甘平而潤，補心脾安神，治一切思慮過度勞傷心脾及血不歸脾諸症。</p>
<h4>落花生</h4>
<p>見肺補。</p>
<h4>芡實</h4>
<p>甘平而澀，補脾固腎，助氣澀精，又能解暑熱。</p>
<h4>白糖</h4>
<p>甘溫，補脾緩肝，潤肺和中，消痰治嗽，多食助熱損齒生蟲。冰糖同。砂糖功用與白者相仿，和血則砂糖為優。</p>
<h4>甘薯</h4>
<p>甘平，益氣強腎陰健脾胃。</p>
<h4>山藥</h4>
<p>味甘性澀，補脾肺，清虛熱，化痰涎，固腸胃，澀精氣，兼能益腎強陰而助心氣。零余子甘溫，功用強於山藥。</p>
<h4>韭菜</h4>
<p>見腎補。</p>
<h4>糯米</h4>
<p>甘溫，補脾肺虛寒，收汗澀二便，性甚黏滯而難化。</p>
<h4>米</h4>
<p>甘溫，和脾養胃，益氣溫中除濕</p>
<h4>米仁</h4>
<p>見胃補。</p>
<h4>扁豆</h4>
<p>見胃補。</p>
<h4>飴糖</h4>
<p>甘溫，益氣補中，緩脾潤肺，化痰止嗽。</p>
<h4>鷺鷥</h4>
<p>咸平，益脾補氣治虛瘦。</p>
<h4>牛肉</h4>
<p>甘溫，屬土補脾，益氣安中止渴，老病自死者食之損人。白水牛喉治反胃腸結。</p>
<h4>豬肚</h4>
<p>入胃健脾。</p>
<h4>狗肉</h4>
<p>黃狗益脾，黑狗補腎，酸鹹溫，暖脾益胃而補腰腎，療虛寒助陽事，兩腎陰莖尤勝，孕婦食之令子啞。狗寶結成狗腹中者攻反胃理疔疽。屎中粟米起痘治噎。屎中骨治小兒驚癇。</p>
<h4>（和）甘草</h4>
<p>見通行和。</p>
<h4>蒼朮</h4>
<p>苦溫辛烈，燥胃強脾，發汗除濕，能升發胃中腸氣，止吐瀉逐痰水，辟惡氣解六郁，散風寒濕治痿。</p>
<h4>澤蘭</h4>
<p>苦甘辛香，微溫而性和緩，入肝脾血分而行血，獨入血海，攻擊稽留，通經破瘀，散郁舒脾。省頭草氣香味辛性涼，入氣分，調氣生血養營，利水除痰治消渴，經所謂蘭除陳氣者此也。馬蘭辛涼，功同澤蘭，入陽明血分。</p>
<h4>廣木香</h4>
<p>見三焦和。</p>
<h4>砂仁</h4>
<p>辛溫香燥，和胃醒脾，快氣調中，通行結滯，消食醒酒，治痞脹，散浮熱，得檀香、豆蔻入肺，得人參、益智入脾，得黃柏、茯苓入腎，得白石脂、赤石脂入大小腸，能潤腎燥，引諸藥歸宿丹田，腎虛氣不歸元用為向導最為穩妥。</p>
<h4>白豆蔻</h4>
<p>見肺和。</p>
<h4>藿香</h4>
<p>辛甘微溫，清和芳烈，入脾肺，快氣和中，開胃止嘔，去惡氣及上中二焦邪滯。</p>
<h4>草豆蔻</h4>
<p>辛溫香散，暖胃健脾，祛寒燥濕，辛燥犯血忌。</p>
<h4>延胡索</h4>
<p>見肝和。</p>
<h4>甘松</h4>
<p>甘溫芳香，理諸氣開脾郁，而善醒脾治惡氣。</p>
<h4>半夏</h4>
<p>見胃和。</p>
<h4>柏子仁</h4>
<p>見心和。</p>
<h4>白檀香</h4>
<p>見肺和。</p>
<h4>厚朴</h4>
<p>見胃和。</p>
<h4>烏藥</h4>
<p>見肺和。</p>
<h4>阿魏</h4>
<p>辛平，入脾胃，消肉積，去臭氣殺蟲，臭烈傷胃，西番木脂熬成，今以胡蒜白偽之。</p>
<h4>茯苓</h4>
<p>甘淡平，白者入氣分，益脾寧心滲濕，功專行水，能通心氣於腎，入肺瀉熱而下通膀胱。赤茯苓入心小腸，專利濕熱，余與白茯苓同。茯苓皮專行水。</p>
<h4>烏梅</h4>
<p>見肺和。</p>
<h4>廣皮</h4>
<p>見肺和。</p>
<h4>佛手柑</h4>
<p>見肺和。</p>
<h4>山楂</h4>
<p>酸甘微溫，健脾行氣，散瘀化痰，消肉積乳積，多食伐氣，小者入藥。核化食磨積，治疝催生。</p>
<h4>木瓜</h4>
<p>見肝和。</p>
<h4>荷葉</h4>
<p>苦平，裨助脾胃而升發陽氣，能散瘀血留好血。</p>
<h4>煨薑</h4>
<p>辛溫，和中止嘔，不散不燥，與大棗並用以行脾胃之津液而和營衛，最為平妥。</p>
<h4>麻仁</h4>
<p>甘平滑利，緩脾潤燥滑腸，治胃熱便難，去殼用。</p>
<h4>穀芽</h4>
<p>見胃和。</p>
<h4>蒸餅</h4>
<p>見胃和。</p>
<h4>建曲</h4>
<p>見胃和。</p>
<h4>甘爛水</h4>
<p>甘溫，水性本咸而重，若揚之至千萬遍，則輕而柔，故能益脾胃而不助腎氣。</p>
<h4>九香蟲</h4>
<p>咸溫，治膈脘滯氣，脾腎虧損，壯元陽。</p>
<h4>（攻）薑黃</h4>
<p>苦辛溫，性烈入脾肝，理血中之氣，專於破血散結通經，片子者能入手臂，治痹痛。</p>
<h4>草果</h4>
<p>辛熱，破氣除痰，消食化積，制太陰獨勝之寒，佐常山截瘧，煨熟用仁。</p>
<h4>南星</h4>
<p>見肝攻。</p>
<h4>大黃</h4>
<p>見胃攻。</p>
<h4>青皮</h4>
<p>見肝攻。</p>
<h4>大腹皮</h4>
<p>辛溫，泄肺和脾，下氣行水，寬胸通腸，酒洗淨，黑豆湯再洗，煨用。子辛溫澀，與檳榔同功，而力稍緩。</p>
<h4>麥芽</h4>
<p>甘溫，能助胃氣上行，健脾寬腸下氣，消食化積散結，祛痰善通乳，亦消腎氣，炒用。</p>
<h4>紅曲</h4>
<p>甘溫，治脾胃營血，破血活血，燥胃消食，陳者良。</p>
<h4>（散）升麻</h4>
<p>甘辛微苦，性升脾胃，引經藥，亦入陽明肺大腸經而表散風邪升散火鬱，能升陽氣於至陰之下，引甘溫之藥上行以補衛氣之散而實其表，兼緩帶脈之縮急，解藥毒殺精鬼。</p>
<p>綠升麻治下痢。</p>
<h4>前胡</h4>
<p>見肝散。</p>
<h4>防風</h4>
<p>見膀胱散。</p>
<h4>葛根</h4>
<p>見胃散。</p>
<h4>冰片</h4>
<p>見通行散。</p>
<h4>（寒）黃連</h4>
<p>見心寒。</p>
<h4>胡連</h4>
<p>見心寒。</p>
<h4>黃芩</h4>
<p>見心寒。</p>
<h4>白茅根</h4>
<p>甘寒，入心脾胃，涼血消瘀，除熱行水，引火下降。針能潰膿，酒蒸服，一針潰一孔。花止血。</p>
<h4>白蘚皮</h4>
<p>苦寒，性燥入脾胃兼入膀胱小腸，除濕熱行水道，治風痹瘡癬。</p>
<h4>茵陳</h4>
<p>見膀胱寒。</p>
<h4>射干</h4>
<p>見肺寒。</p>
<h4>木通</h4>
<p>見小腸寒。</p>
<h4>竹葉</h4>
<p>見心寒。</p>
<h4>甘蔗</h4>
<p>見胃寒。</p>
<h4>冬瓜</h4>
<p>甘寒，瀉熱益脾，利二便，消水腫，散熱毒。子補肝明目，凡藥中所用瓜子皆冬瓜子也。</p>
<h4>蚺蛇膽</h4>
<p>苦甘寒，涼血明目，療疳殺蟲，主肝脾之病，又能護心止痛。蚺蛇肉極腴美，主治略同。</p>
<h4>（熱）肉果</h4>
<p>辛溫氣香，暖胃理脾，澀大腸止虛瀉，面裹煨，去油用。</p>
<h4>紅豆蔻</h4>
<p>見胃熱注。</p>
<h4>蘄艾</h4>
<p>見通行熱。</p>
<h4>烏頭</h4>
<p>即附子之母，功用與附子相同，而力稍緩，其性輕疏，能溫脾，逐風治風疾者以此為宜。</p>
<h4>桂心</h4>
<p>辛甘大熱大燥，補陽入心脾血分，活血能引血化汗化膿，為內托瘡疽之用。</p>
<h4>吳茱萸</h4>
<p>見肝熱。</p>
<h4>川椒</h4>
<p>見肺熱。</p>
<h4>乾薑</h4>
<p>見通行熱。</p>
<h3>手陽明大腸</h3>
<h4>（補）栗</h4>
<p>見腎補。</p>
<h4>牛乳</h4>
<p>甘微寒，潤腸胃，補虛勞，解熱毒。乳酥力稍遜，宜於血熱枯燥之人。</p>
<h4>羊乳</h4>
<p>補肺腎，潤胃脘大腸之燥。</p>
<h4>豬腸</h4>
<p>入大腸治腸風血痔油利腸潤燥散風解毒殺蟲滑產。</p>
<h4>阿膠</h4>
<p>見肺補。</p>
<h4>（和）砂仁</h4>
<p>見脾和。</p>
<h4>連翹</h4>
<p>見心和。</p>
<h4>土茯苓</h4>
<p>甘淡平，去陽明濕熱，以利筋骨、利小便、止泄瀉，治楊梅瘡毒，誤服輕粉成疾者，服此能去輕粉之毒。</p>
<h4>旋覆花</h4>
<p>見肺和。</p>
<h4>榆白皮</h4>
<p>甘平滑利，入大小腸膀胱，利諸竅，滲濕熱，滑胎，下有形滯物，治嗽喘不眠。</p>
<h4>訶子</h4>
<p>見肺和。</p>
<h4>杏仁</h4>
<p>見肺和。</p>
<h4>薤白</h4>
<p>辛苦溫滑，泄下焦大腸氣滯，散血生肌，調中下氣，取白用。</p>
<h4>罌粟殼</h4>
<p>見肺和。</p>
<h4>赤石脂</h4>
<p>甘溫，酸澀體重，固大小腸，直入下焦陰分，而固下收濕止血，催生下胞衣，為久痢泄　要藥。</p>
<h4>禹餘糧</h4>
<p>甘平而澀胃大腸，血分重劑，固下治咳逆，下痢催生。</p>
<h4>龍骨</h4>
<p>見心和。</p>
<h4>（攻）大黃</h4>
<p>見胃攻。</p>
<h4>皂角</h4>
<p>見肺攻。</p>
<h4>雷丸</h4>
<p>苦寒，入胃大腸，功專消積殺蟲而能令人陰痿。</p>
<h4>桃仁</h4>
<p>見肝攻。</p>
<h4>元明粉</h4>
<p>辛甘咸冷，去胃中實熱，蕩腸中宿垢，潤燥破結，用代芒硝，性稍和緩。</p>
<h4>芒硝</h4>
<p>辛鹹苦大寒，峻下之品，潤燥軟堅，下泄除熱，能蕩滌三焦腸胃實熱，推陳致新，治陽強之病無堅不破無熱不除，又能消化金石，誤用伐下焦真陰。</p>
<h4>朴硝</h4>
<p>性味功用與芒硝同，而尤為酷澀性急，芒硝經煉故稍緩。</p>
<h4>（散）升麻</h4>
<p>見脾散。</p>
<h4>秦艽</h4>
<p>見肝散。</p>
<h4>白芷</h4>
<p>見肺散。</p>
<h4>麻黃</h4>
<p>見肺散。</p>
<h4>（寒）黃芩</h4>
<p>見心寒。</p>
<h4>白頭翁</h4>
<p>苦寒，入胃大腸血分，堅腎涼血瀉熱。</p>
<h4>漏盧</h4>
<p>見胃寒。</p>
<h4>鮮生地</h4>
<p>見腎寒。</p>
<h4>木通</h4>
<p>見小腸寒。</p>
<h4>山豆根</h4>
<p>見心寒。</p>
<h4>馬兜鈴</h4>
<p>見肺寒。</p>
<h4>薔薇根</h4>
<p>苦澀而冷，入胃大腸，除風熱、濕熱，殺蟲。子名營實，酸溫，主治略同。</p>
<h4>槐實</h4>
<p>即槐角，苦寒純陰，清肝膽，涼大腸，瀉風熱。槐花苦涼，瀉熱涼血，功同槐實，陳者良。</p>
<h4>川楝根</h4>
<p>見肝寒注。</p>
<h4>柿</h4>
<p>見肺寒。</p>
<h4>梨</h4>
<p>見肺寒。</p>
<h4>（熱）肉果</h4>
<p>見脾熱。</p>
<h4>蓽茇</h4>
<p>見胃熱。</p>
<h4>吳茱萸</h4>
<p>見肝熱。</p>
<h4>石硫黃</h4>
<p>酸毒大熱，補命門真火不足，而又能疏利大腸，暖精壯陽，殺蟲療瘡，救危之藥，服之多發背疽。土硫黃辛熱腥臭，止入瘡藥，不堪服食。</p>
<h3>足陽明胃</h3>
<h4>（補）黨參</h4>
<p>見脾補。</p>
<h4>黃精</h4>
<p>見通行補。</p>
<h4>黃</h4>
<p>見肺補。</p>
<h4>天生術</h4>
<p>見脾補。</p>
<h4>益智仁</h4>
<p>見脾補。</p>
<h4>甘薯</h4>
<p>見脾補。</p>
<h4>韭菜</h4>
<p>見腎補。</p>
<h4>米仁</h4>
<p>甘淡微寒，而力和緩，益胃健脾，滲濕行水，清肺熱，殺蛔。</p>
<h4>扁豆</h4>
<p>甘平中和，輕清緩補，調脾和胃，通利三焦，降濁升清除濕，能消脾胃之暑，專治中宮之病，炒則微溫，多食壅氣。葉治霍亂吐瀉。</p>
<h4>米</h4>
<p>見脾補。</p>
<h4>燕窩</h4>
<p>見肺補。</p>
<h4>野鴨</h4>
<p>甘涼，補中益氣，平胃消食，大益病患，治熱毒療瘡癤，能殺臟腹蟲。</p>
<h4>牛乳</h4>
<p>見大腸補。</p>
<h4>羊乳</h4>
<p>見大腸補。</p>
<h4>豬肚</h4>
<p>見脾補。</p>
<h4>（和）甘草</h4>
<p>見通行和。</p>
<h4>蒼朮</h4>
<p>見脾和。</p>
<h4>三七</h4>
<p>甘苦微溫，散瘀定痛，能損新血，治吐衄癰腫金瘡杖瘡，大抵陽明厥陰血分之藥。</p>
<h4>馬蘭</h4>
<p>見脾和注。</p>
<h4>砂仁</h4>
<p>見脾和。</p>
<h4>白豆蔻</h4>
<p>見肺和。</p>
<h4>草豆蔻</h4>
<p>見脾和。</p>
<h4>半夏</h4>
<p>辛溫，體滑性燥，和胃健脾，兼行膽經，發表開鬱，下氣止嘔，除濕痰利二便，能行水氣以潤腎，燥和胃氣而通陰陽，治一切脾濕之症，血家渴家汗家慎用，肺燥者不可誤服，須制用，亦有造曲者。</p>
<h4>土茯苓</h4>
<p>見大腸和。</p>
<h4>萆</h4>
<p>甘苦平，入肝胃，祛風去濕，以固下焦，堅筋骨，凡陽明濕熱流入下焦者，此能去濁釐清，有黃白二種，白者良，名粉萆　。</p>
<h4>菝</h4>
<p>主治與萆　、土茯苓略同，似系一類數種也。</p>
<h4>石斛</h4>
<p>甘淡微咸微寒，清胃中虛熱，逐皮膚邪熱，虛而有火者宜之，味苦者名木斛，服之損人。</p>
<h4>白米飯草</h4>
<p>見肺和。</p>
<h4>松子</h4>
<p>見肺和。</p>
<h4>厚朴</h4>
<p>苦辛溫，入脾胃，瀉實滿，散濕滿，平胃調中，消痰化食，破宿血，散風寒，殺臟蟲，治一切客寒犯胃濕氣侵脾之症。</p>
<h4>白檀香</h4>
<p>見肺和。</p>
<h4>阿魏</h4>
<p>見脾和。</p>
<h4>木瓜</h4>
<p>見肝和。</p>
<h4>荷葉</h4>
<p>見脾和。</p>
<h4>煨薑</h4>
<p>見脾和。</p>
<h4>小茴香</h4>
<p>辛平，理氣開胃，得鹽則入腎，亦治寒疝。八角茴香又名舶茴香，辛甘平，功用略同。</p>
<h4>麻仁</h4>
<p>見脾和。</p>
<h4>陳米</h4>
<p>甘淡平，養胃去濕熱，除煩渴利小便。</p>
<h4>米露</h4>
<p>用粳米舂極白，如蒸花露法蒸取汁，輕清善補，凡胃氣極弱不能進粥飲者用之最宜。</p>
<h4>穀芽</h4>
<p>甘溫而性不損元，健脾開胃，消食和中，下氣化積，為健脾溫中之聖藥，炒用。</p>
<h4>蒸餅</h4>
<p>甘平，和中養脾胃，消積滯，活血止汗，利三焦通水道，陳者良。</p>
<h4>建曲</h4>
<p>甘平，健脾暖胃，消食下氣，化滯調中，逐痰積破症瘕，除濕熱止瀉痢。</p>
<h4>面神麯</h4>
<p>辛甘溫，開胃行氣，調中化水穀，消積滯，治痰逆目痛。</p>
<h4>禹餘糧</h4>
<p>見大腸和。</p>
<h4>爐甘石</h4>
<p>甘溫，胃經藥，燥濕止血，消腫祛痰，金銀之苗也，金能勝木，故為木疾之要藥，制用。</p>
<h4>甘爛水</h4>
<p>見脾和。</p>
<h4>刺皮</h4>
<p>苦平，開胃氣治胃逆，涼血。肉甘平，理胃氣治反胃。脂滴耳聾。膽點痘後風眼。</p>
<h4>僵蠶</h4>
<p>見肺和。</p>
<h4>（攻）大黃</h4>
<p>大苦大寒，入脾胃肝心包大腸血分，其性沉而不浮，其用走而不守，用以蕩滌腸胃，下燥結而除瘀熱，能推陳致新，治一切實熱血中伏火，峻利猛烈，非六脈沉實者勿用，病在氣分而用之為誅伐無過。制熟稍緩，酒浸亦能上行除邪熱。</p>
<h4>王不留行</h4>
<p>見奇經攻。</p>
<h4>雷丸</h4>
<p>見大腸攻。</p>
<h4>甜瓜蒂</h4>
<p>苦寒，胃經吐藥，能吐風熱痰涎上膈宿食，亦治濕熱諸病。甜瓜性冷，解暑而損陽，凡瓜皆冷利，早青尤甚。</p>
<h4>麥芽</h4>
<p>見脾攻。</p>
<h4>紅曲</h4>
<p>見脾攻。</p>
<h4>元明粉</h4>
<p>見大腸攻。</p>
<h4>芒硝</h4>
<p>見大腸攻。</p>
<h4>朴硝</h4>
<p>見大腸攻。</p>
<h4>穿山甲</h4>
<p>見通行攻。</p>
<h4>（散）桔梗</h4>
<p>見肺散。</p>
<h4>升麻</h4>
<p>見脾散。</p>
<h4>秦艽</h4>
<p>見肝散。</p>
<h4>防風</h4>
<p>見膀胱散。</p>
<h4>白芷</h4>
<p>見肺散。</p>
<h4>葛根</h4>
<p>辛甘平，入胃兼入脾，能升胃氣上行入肺而生津止渴，發汗解肌，散火鬱，解酒毒藥毒，治清氣下陷泄瀉、傷寒瘧痢，太陽初病勿用，恐引邪入陽明也。升散太過上盛下虛者慎之。葛花解酒毒尤良。生葛汁大寒，解溫病大熱，治吐衄。</p>
<h4>辛夷</h4>
<p>見肺散。</p>
<h4>生薑</h4>
<p>辛溫，行陽分，宣肺氣，暢胃口，散寒發表，解鬱調中，開痰下食，能散逆氣，為嘔家聖藥，又能消水氣行血痹辟瘴氣。薑汁辛溫而潤，開痰尤良。薑皮辛涼，和脾行水。</p>
<h4>（寒）知母</h4>
<p>見腎寒。</p>
<h4>白茅根</h4>
<p>見脾寒。</p>
<h4>白頭翁</h4>
<p>見大腸寒。</p>
<h4>白蘚皮</h4>
<p>見脾寒。</p>
<h4>白薇</h4>
<p>見奇經寒。</p>
<h4>麥冬</h4>
<p>甘微苦微寒，潤肺清心，胃經正藥，瀉熱生津，化痰止嘔，治嗽行水。</p>
<h4>漏盧</h4>
<p>苦鹹寒，入胃大腸，通肺小腸，瀉熱解毒，通經下乳，殺蟲療瘡。</p>
<h4>茵陳</h4>
<p>見膀胱寒。</p>
<h4>大青</h4>
<p>苦鹹大寒，專解心胃熱毒，治傷寒時疾陽毒，取莖葉用。</p>
<h4>鮮生地</h4>
<p>見腎寒。</p>
<h4>蘆根</h4>
<p>甘寒，和胃降火止嘔，清上焦熱，用逆水者。蘆筍解魚蟹河豚毒。</p>
<h4>花粉</h4>
<p>酸甘微苦微寒，降火潤燥滑痰，生津解渴行水，治胃熱膀胱熱，療瘡毒，虛熱者宜之。</p>
<h4>通草</h4>
<p>見肺寒。</p>
<h4>薔薇根</h4>
<p>見大腸寒。</p>
<h4>梔子</h4>
<p>見心寒。</p>
<h4>竹茹</h4>
<p>甘微寒，開胃郁，清肺燥，涼血，除上焦煩熱，兼清肝火，涼胎氣。</p>
<h4>筍</h4>
<p>甘微寒，利膈下氣，化熱爽胃，消痰而能損元。</p>
<h4>枇杷葉</h4>
<p>見肺寒。</p>
<h4>石蓮子</h4>
<p>見心寒。</p>
<h4>甘蔗</h4>
<p>甘微寒，和中助脾，除熱潤燥消痰，能令胃氣下行，利二便。</p>
<h4>柿</h4>
<p>見肺寒。</p>
<h4>蒲公英</h4>
<p>苦甘寒，入腎陽明經，瀉熱化毒，專治乳癰疔毒，亦為通淋妙品。</p>
<h4>大豆黃卷</h4>
<p>甘平，除胃中積熱，消水病脹滿，破惡血，療濕痹。</p>
<h4>石羔</h4>
<p>甘辛淡降，體重氣輕，胃經大寒之藥，兼入肺三焦氣分，清熱降火，發汗解肌，緩脾止渴發斑疹，亦止中暑自汗，先煎。</p>
<h4>犀角</h4>
<p>苦酸鹹寒，清胃中大熱，涼心瀉肝，祛風利痰，解毒療血，治驚狂斑疹諸症，能消胎氣，角尖尤勝，磨汁用。</p>
<h4>蟾蜍</h4>
<p>辛涼微毒，入胃，退虛熱行濕氣，治蟲　癰疽療疳。蟾酥辛溫有毒，治疔毒諸疳，能爛人肌肉。</p>
<h4>人中黃</h4>
<p>甘寒入胃，大解五臟實熱，清痰火消食積，甘草經糞浸者或用皂莢。</p>
<h4>金汁</h4>
<p>與人中黃同而更勝。</p>
<h4>（熱）肉果</h4>
<p>見脾熱。</p>
<h4>蓽茇</h4>
<p>辛熱，除胃冷，祛痰散陽明浮熱，亦入大腸經，治瀉痢，散氣動火。</p>
<h4>良薑</h4>
<p>辛熱，暖胃散寒，下氣止痛。子溫肺醒脾，能散寒燥濕。</p>
<h4>白附子</h4>
<p>辛甘，大熱純陽，陽明經藥，能引藥勢上行，治面上百病，祛風痰痹濕，此藥無復真者。</p>
<h4>丁香</h4>
<p>辛溫純陽而燥，泄肺溫胃，大能療腎壯陽事，治胃冷嘔逆症，非虛寒勿用。</p>
<h4>炮薑</h4>
<p>見通行熱。</p>
<h4>大茴香</h4>
<p>見命門熱。</p>
<h4>鐘乳</h4>
<p>甘溫，胃經氣分藥，補陽利竅，其氣剽悍能令陽氣暴充，惟命門火衰者可暫用之。</p>
<h3>手少陽三焦</h3>
<h4>（補）炙甘草</h4>
<p>見通行和注。</p>
<h4>黃</h4>
<p>見肺補。</p>
<h4>蛇床子</h4>
<p>辛苦溫，強陽補腎，散寒祛風燥濕殺蟲，治男婦前陰諸疾及子臟虛寒瘡癬風濕之病，為腎命三焦氣分之藥。</p>
<h4>胡桃</h4>
<p>見肺補。</p>
<h4>扁豆</h4>
<p>見胃補。</p>
<h4>秋石</h4>
<p>見腎補。</p>
<h4>（和）廣木香</h4>
<p>辛苦溫，三焦氣分之藥，能升降諸氣，泄肺氣疏肝氣和脾氣，治衝脈為病及一切氣病心疼，香燥恐動火邪。</p>
<h4>香附</h4>
<p>見通行和。</p>
<h4>白豆蔻</h4>
<p>見肺和。</p>
<h4>藿香</h4>
<p>見脾和。</p>
<h4>連翹</h4>
<p>見心和。</p>
<h4>萆</h4>
<p>見胃和。</p>
<h4>杏仁</h4>
<p>見肺和。</p>
<h4>枇杷</h4>
<p>甘酸平，止渴利肺氣，治上焦熱，多食發痰熱傷脾。</p>
<h4>藕</h4>
<p>生用甘寒，涼血散瘀，治上焦痰，熱煮熟甘平補益。藕節澀平，止血消瘀解熱毒。</p>
<h4>薤白</h4>
<p>見大腸和。</p>
<h4>蒸餅</h4>
<p>見胃和。</p>
<h4>百藥煎</h4>
<p>見肺和注。</p>
<h4>（攻）牽牛子</h4>
<p>見肺攻。</p>
<h4>防己</h4>
<p>見通行攻。</p>
<h4>蜀黍</h4>
<p>即常山莖葉，常山辛苦寒，性猛烈，引吐行水，祛痰飲截瘧，蜀黍功用與常山同，而性輕揚，能散上焦之邪結。</p>
<h4>青皮</h4>
<p>見肝攻。</p>
<h4>芒硝</h4>
<p>見大腸攻。</p>
<h4>朴硝</h4>
<p>見大腸攻。</p>
<h4>蓬砂</h4>
<p>甘咸涼，除上焦胸膈痰熱，柔五金去垢膩，治喉痹口齒諸病。</p>
<h4>（散）防風</h4>
<p>見膀胱散。</p>
<h4>（寒）地榆</h4>
<p>苦酸微寒性澀，入下焦，除血熱而止血，炒黑用。梢行血。</p>
<h4>黃連</h4>
<p>見心寒。</p>
<h4>胡連</h4>
<p>見心寒。</p>
<h4>黃芩</h4>
<p>見心寒。</p>
<h4>知母</h4>
<p>見腎寒。</p>
<h4>龍膽草</h4>
<p>見肝寒。</p>
<h4>青黛</h4>
<p>見通行寒。</p>
<h4>蘆根</h4>
<p>見胃寒。</p>
<h4>栝蔞</h4>
<p>甘苦寒，潤肺清上焦之火，使熱痰下降，又能蕩滌胸中鬱熱垢膩，理嗽治痢，止渴止血滑腸。近多用仁名婁仁，雖取油潤，嫌濁膩爾。</p>
<h4>木通</h4>
<p>見小腸寒。</p>
<h4>梔子</h4>
<p>見心寒。</p>
<h4>竹茹</h4>
<p>見胃寒。</p>
<h4>竹葉</h4>
<p>見心寒。</p>
<h4>天精草</h4>
<p>苦甘涼，清上焦心肺之客熱。</p>
<h4>石花菜</h4>
<p>甘咸大寒而滑，去上焦浮熱，發下部虛寒。</p>
<h4>石羔</h4>
<p>見胃寒。</p>
<h4>滑石</h4>
<p>見膀胱寒。</p>
<h4>浮石</h4>
<p>見肺寒。</p>
<h3>足少陽膽</h3>
<h4>（補）棗仁</h4>
<p>甘潤，生用酸平，專補肝膽，炒熟酸溫而香，亦能醒脾，斂汗寧心，療膽虛不眠，肝膽有邪熱者勿用。</p>
<h4>（和）川芎</h4>
<p>辛溫升浮，入心包肝，為膽之引經，乃血中氣藥，升陽開鬱，潤肝燥補肝虛，上行頭目下行血海，和血行氣搜風，散瘀調經療瘡，治一切風木為病。</p>
<h4>青蒿</h4>
<p>見肝和。</p>
<h4>連翹</h4>
<p>見心和。</p>
<h4>半夏</h4>
<p>見胃和。</p>
<h4>郁李仁</h4>
<p>辛苦甘平性降，下氣行水，補血潤燥，得酒則入膽，去皮尖，治標之品，津液不足者慎用。</p>
<h4>膽礬</h4>
<p>酸澀辛寒，入膽經，性斂而能上行，吐風熱痰涎，斂咳逆而散風木相火，殺蟲。</p>
<h4>（攻）青皮</h4>
<p>見肝攻。</p>
<h4>（散）秦艽</h4>
<p>見肝散。</p>
<h4>前胡</h4>
<p>見肝散。</p>
<h4>柴胡</h4>
<p>苦微寒，膽經表藥，能升陽氣下陷，引清氣上行，而平少陽厥陰之邪熱，宣暢氣血，鮮郁調經，能發表最能和裡，亦治熱入血室，散十二經瘡疽，病在太陽者服之則引賊入門，病入陰經者服之則重虛其表，用宜詳慎。銀柴胡專治骨蒸勞熱、小兒五疳。</p>
<h4>（寒）苦參</h4>
<p>見腎寒。</p>
<h4>黃芩</h4>
<p>見心寒。</p>
<h4>龍膽草</h4>
<p>見肝寒。</p>
<h4>槐實</h4>
<p>見大腸寒。</p>
<h4>桑葉</h4>
<p>苦甘而涼，滋燥涼血，止血去風，清泄少陽之氣熱。</p>
<h4>豬膽汁</h4>
<p>見心寒。</p>
<h3>手厥陰心包</h3>
<h4>（補）丹參</h4>
<p>見心補。</p>
<h4>生地</h4>
<p>見腎補。</p>
<h4>（和）川芎</h4>
<p>見膽和。</p>
<h4>鬱金</h4>
<p>見肺和。</p>
<h4>延胡索</h4>
<p>見肝和。</p>
<h4>連翹</h4>
<p>見心和。</p>
<h4>益母草</h4>
<p>辛微苦微寒，入心包肝，消水行血，去瘀生新，解毒利二便，辛散滑利並不補益。</p>
<p>茺蔚子活血調經，明目行中有補，血滯血熱者宜之。</p>
<h4>蒲黃</h4>
<p>甘平，入心包肝經血分，生用性滑，行血消瘀，祛心腹膀胱之熱，療瘡，腫炒黑性澀止血。</p>
<h4>（攻）大黃</h4>
<p>見胃攻。</p>
<h4>茜草</h4>
<p>酸鹹溫，入心包肝，行血通滯，無瘀者慎用。</p>
<h4>紫花</h4>
<p>甘酸寒，入心包肝，破血去瘀，能去血中伏火，治血熱生風之症。</p>
<h4>（寒）紫草</h4>
<p>見肝寒。</p>
<h4>丹皮</h4>
<p>見肝寒。</p>
<h4>木通</h4>
<p>見小腸寒。</p>
<h4>川楝子</h4>
<p>見肝寒。</p>
<h4>敗醬</h4>
<p>即苦菜，苦鹹微寒，入心包腎，主暴熱火瘡疥痔，除癰腫結熱風痹，為治腸癰之上藥。</p>
<h4>代赭石</h4>
<p>見肝寒。</p>
<h4>（熱）破故紙</h4>
<p>見命門熱。</p>
<h3>足厥陰肝</h3>
<h4>（補）當歸</h4>
<p>辛甘苦溫，入心肝脾，治衝脈帶脈為病，為血中氣藥，血滯能通，血虛能補，血枯能潤，血亂能撫，使氣血各有所歸，散內寒補不足，去瘀生新，潤燥滑腸。治上用頭，治中用身，治下用尾，統治全用。辛氣太甚如熬膏則去其辛散之氣，專取潤補之力，虛弱畏辛氣者用之大妙。歸須力薄，其氣不升，且能宣絡，不似歸身之辛溫上升也。</p>
<h4>白芍</h4>
<p>苦酸微寒，入肝脾血分，為肺之行經藥，瀉肝火和血脈，收陰氣斂逆氣，緩中退熱，其收降之性又能入血海，治一切血病脾熱易飢。赤芍瀉肝火，散惡血利小腸。白補而斂，赤散而瀉，白益脾能於土中瀉木，赤散邪能行血中之滯。</p>
<h4>金毛狗脊</h4>
<p>苦甘溫，堅腎滋肝，益血養氣，能除風寒濕。</p>
<h4>淫羊藿</h4>
<p>見命門補。</p>
<h4>熟地</h4>
<p>見腎補。</p>
<h4>生地</h4>
<p>見腎補。</p>
<h4>枸杞子</h4>
<p>甘微溫，滋補肝腎而潤，生精助陽，去風明目，利大小腸。</p>
<h4>續斷</h4>
<p>苦辛微溫，補肝腎通血脈，理筋骨暖子宮，縮小便止遺泄，破瘀血治金瘡折跌，補而不滯，行而不泄。</p>
<h4>何首烏</h4>
<p>苦甘溫，補益肝腎，澀精氣養血，化虛痰烏須發，消癰腫療瘧痢，補陰而不滯不寒，強陽而不燥不熱，為調和氣血之聖藥，久服延年，制用。</p>
<h4>菟絲子</h4>
<p>見腎補。</p>
<h4>覆盆子</h4>
<p>甘酸溫而性固澀，補益肝腎，固精明目，起陽痿縮小便，強腎無燥熱之偏，固精無凝滯之害。葉絞汁治目弦蟲，除膚赤。</p>
<h4>棗仁</h4>
<p>見膽補。</p>
<h4>杜仲</h4>
<p>甘溫微辛，入肝經氣分，潤肝燥補肝虛又兼補腎，能使筋骨相著，補腰膝。</p>
<h4>萸肉</h4>
<p>見腎補。</p>
<h4>白糖</h4>
<p>見脾補。</p>
<h4>韭子</h4>
<p>見腎補。</p>
<h4>冬瓜子</h4>
<p>見脾寒注。</p>
<h4>胡麻</h4>
<p>甘平，補肝腎填精髓，潤五臟，涼血益血，療風解毒滑腸。按：胡麻有四棱六棱七八棱之別，因地土肥瘠而然，八棱者名巨勝子，舊說胡麻即脂麻脂俗作芝，而近時名家方論胡麻與黑芝麻往往並用，則明是二物矣芝。麻功用略同，皮肉俱黑，徽州產者良。麻油涼血生肌，滑胎療瘡。亞麻即壁虱胡麻，甘微溫，氣惡不堪食，治大風瘡癬。</p>
<h4>雞</h4>
<p>甘溫屬木，補虛溫中動風，煮汁性滑而濡。烏骨雞甘平，屬水能益肝腎退熱補虛，治肝腎血分之病。雄雞冠血治中惡驚忤，塗口眼歪斜用老者。雞蛋甘平，補益氣血，散熱止嗽。</p>
<p>痢哺雞蛋殼敷瘡毒。蛋內白皮治久咳結氣。雞屎白微寒，下氣消積，通利大小便，治蠱脹米症。</p>
<h4>牛筋</h4>
<p>補肝強筋，益氣力續絕傷。</p>
<h4>羊肝</h4>
<p>青色者補肝明目。膽苦寒，點目良。</p>
<h4>阿膠</h4>
<p>見肺補。</p>
<h4>桑螵蛸</h4>
<p>見腎補。</p>
<h4>鱉甲</h4>
<p>鹹寒屬陰，入肝補陰除熱，散結軟堅，治肝經血分之病，為瘧家要藥。鱉肉涼血補陰，治瘧痢，忌莧菜勿同食。</p>
<h4>吐鐵</h4>
<p>甘酸鹹寒，補肝腎益精髓。</p>
<h4>（和）三七</h4>
<p>見胃和。</p>
<h4>川芎</h4>
<p>見膽和。</p>
<h4>澤蘭</h4>
<p>見脾和。</p>
<h4>鬱金</h4>
<p>見肺和。</p>
<h4>廣木香</h4>
<p>見三焦和。</p>
<h4>延胡索</h4>
<p>辛苦溫，入肺脾心包肝，能行血中氣滯、氣中血滯，活血利氣，治諸痛，生用破血，酒炒調血。</p>
<h4>青蒿</h4>
<p>苦寒芬芳，入肝膽血分，除骨髓蒸熱陰分伏熱，清暑解穢明目，治鬼疰用子。</p>
<h4>玫瑰花</h4>
<p>氣味甘平，香而不散，肝病用之多效，蒸露尤佳。</p>
<h4>牛膝</h4>
<p>見腎和。</p>
<h4>甘菊花</h4>
<p>甘苦微寒，能益肺腎以制心火而平肝木，祛風除熱明目，散濕痹，花小味苦者名苦薏，非真菊也。</p>
<h4>益母草</h4>
<p>見心包和。</p>
<h4>萆</h4>
<p>見胃和。</p>
<h4>菝</h4>
<p>見胃和。</p>
<h4>鉤藤</h4>
<p>甘微苦微寒，除心熱，主肝風相火之病，風靜火息則驚癇眩暈斑疹諸症自平，祛風而不燥，中和之品，久煎則無力。</p>
<h4>蒲黃</h4>
<p>見心包和。</p>
<h4>白蒺藜</h4>
<p>辛苦溫，散肝風而瀉肺氣，勝濕涼血破血，炒熟去刺亦能補陰。</p>
<h4>夏枯草</h4>
<p>辛苦微寒，散肝經之鬱火，解內熱散結氣消癭，治目珠夜痛，久服傷胃。</p>
<h4>木蝴蝶</h4>
<p>治肝氣，諸書不載，近多用之，蓋取木喜疏散蝴蝶善動之意爾。</p>
<h4>柏子仁</h4>
<p>見心和。</p>
<h4>沉香</h4>
<p>見命門和。</p>
<h4>五加皮</h4>
<p>辛苦溫，順氣化痰，堅腎益精養肝，祛風勝濕，逐皮膚瘀血，療筋骨拘攣，有火者勿服。</p>
<h4>血竭</h4>
<p>見心和。</p>
<h4>琥珀</h4>
<p>甘平，入心肝血分，又能上行使肺氣下降而通膀胱，從鎮墜藥則安心神，從辛溫藥則破血生肌，從淡滲藥則利竅行水，亦治目疾。</p>
<h4>橘葉</h4>
<p>行肝氣，治癰散毒，絞汁飲。</p>
<h4>木瓜</h4>
<p>酸澀而溫，和脾理胃，斂肺伐肝，化食止渴，調營衛利筋骨，去濕熱消水脹，氣脫能收，氣滯能和，酸收太甚，多食病癃閉。</p>
<h4>薺菜</h4>
<p>見通行和。</p>
<h4>金</h4>
<p>見心和。</p>
<h4>銀</h4>
<p>見心和。</p>
<h4>鐵</h4>
<p>辛平，鎮心平肝，定驚療狂解毒。鐵屑、鐵精、鐵繡、鐵華大抵皆借金氣以平木墜下，無他義也。針砂消水腫，散癭瘤。</p>
<h4>銅綠</h4>
<p>酸平，吐風痰去風熱，止金瘡血，殺蟲療疳，損血，色青入肝，專主東方之病。</p>
<h4>紫石英</h4>
<p>見奇經和。</p>
<h4>青鹽</h4>
<p>見腎和。</p>
<h4>絳礬</h4>
<p>入血分，能伐肝木而燥脾濕。</p>
<h4>五靈脂</h4>
<p>甘溫純陰，氣味臊惡，入肝經血分，通利血脈，生用散血，炒用止血，除風殺蟲，化痰消積，治氣血諸痛一切血病。北地有鳥名號寒蟲，此其屎也。酒飛去砂石用。</p>
<h4>豬肝</h4>
<p>入肝，諸血藥中用之以為向導則可，若作膳常食有損無益。</p>
<h4>僵蠶</h4>
<p>見肺和。</p>
<h4>烏賊骨</h4>
<p>咸溫，入肝腎血分，通血脈祛寒濕，治血枯澀瀉痢。墨魚肉酸平，益氣通經。</p>
<h4>龍骨</h4>
<p>見心和。</p>
<h4>龍齒</h4>
<p>澀平，屬木主肝，鎮心安魂，治驚癇癲疾。</p>
<h4>發</h4>
<p>苦平，入肝腎兼能去心竅之血，補陰涼血消瘀，治諸血病及驚癇，皂角水洗　胎發尤良，能補衰涸。</p>
<h4>（攻）莪朮</h4>
<p>辛苦溫，主一切氣，能通肝經聚血，破血行氣，攻積通經。</p>
<h4>三棱</h4>
<p>苦平，力峻入肝經血分，破血中之氣，散一切血瘀氣結，消堅積。</p>
<h4>薑黃</h4>
<p>見脾攻。</p>
<h4>紅花</h4>
<p>辛甘苦溫，入肝經，破瘀活血，潤燥消腫，過用能使血行不止。胭脂活血解痘毒。絳緯略得紅花之力，可以養血而又借蠶絲以行經絡，虛而血滯者用之最宜。</p>
<h4>南星</h4>
<p>辛苦溫燥，入肝脾肺，治風散血，勝濕除風痰，性緊毒而不守，能攻積拔腫墮胎，得防風則不麻，制用。膽星用黃牛膽汁和，南星末入膽中風乾，功用同。</p>
<h4>大戟</h4>
<p>見通行攻。</p>
<h4>大黃</h4>
<p>見胃攻。</p>
<h4>茜草</h4>
<p>見心包攻。</p>
<h4>紫葳花</h4>
<p>見心包攻。</p>
<h4>皂角</h4>
<p>見肺攻。</p>
<h4>桃仁</h4>
<p>苦平微甘，緩肝氣泄血滯，通大腸血秘，治血燥經閉，熱入血室無瘀慎用，泡去皮尖，炒研。桃花苦平，專於攻決，下水除痰，消積聚利二便療瘋狂，千葉者勿用。桃葉苦平，殺蟲發汗。桃子辛酸甘熱微毒，多食有熱生癰癤有損無益。桃梟苦微溫，辟邪。</p>
<h4>青皮</h4>
<p>辛苦溫，沉降氣烈，入肝膽氣分，疏肝瀉肺，破積消痰，最能發汗，引諸藥至厥陰之分，兼入脾下飲食。</p>
<h4>雄黃</h4>
<p>辛溫，獨入厥陰氣分，搜肝氣散肝風，能化血為水，燥濕殺蟲解百毒。雌黃功用略同。薰黃最劣不堪用。</p>
<h4>礞石</h4>
<p>甘咸，重墜入肝，能平肝下氣，為治頑痰結癖之神藥，制用。</p>
<h4>花芷石</h4>
<p>酸澀平，專入肝經血分，能化瘀血為水，下死胎止金瘡出血。</p>
<h4>夜明砂</h4>
<p>辛寒，肝經血分藥，活血攻血，消積明目。</p>
<h4>虻蟲</h4>
<p>見通行攻。</p>
<h4>蜈蚣</h4>
<p>辛溫有毒，入肝，善走能散，去風殺蟲，治臍風驚癇蛇症。</p>
<h4>蠍</h4>
<p>甘辛有毒，屬木去風，治諸風眩掉一切厥陰風木之病，去足焙用。蠍梢蠍之尾也，功用相同其力尤緊。</p>
<h4>穿山甲</h4>
<p>見通行攻。</p>
<h4>（散）天麻</h4>
<p>辛溫，入肝經氣分，通血脈疏痰氣，治諸風掉眩，煨用。</p>
<h4>秦艽</h4>
<p>苦辛，祛濕散風活血，去腸胃濕熱，疏肝膽滯氣，治一切濕勝風淫之症。</p>
<h4>前胡</h4>
<p>辛甘苦寒，暢肺理脾，解膀胱肝經熱邪，性陰而降，功專下氣，氣下則火降而痰消，能除實熱，專治肝膽經風痰。</p>
<h4>柴胡</h4>
<p>見膽散。</p>
<h4>羌活</h4>
<p>見膀胱散。</p>
<h4>防風</h4>
<p>見膀胱散。</p>
<h4>荊芥</h4>
<p>辛苦溫，芳香升浮，入肝經氣分兼行血分，發汗散風濕，通利血脈，助脾消食，能散血中之風，清熱散瘀，破結解毒，為風病血病瘡家要藥，風在皮裡膜外者宜之。穗善升發，炒黑治血。</p>
<h4>薄荷</h4>
<p>見肺散。</p>
<h4>（寒）苦參</h4>
<p>見腎寒。</p>
<h4>黃連</h4>
<p>見心寒。</p>
<h4>胡連</h4>
<p>見心寒。</p>
<h4>龍膽草</h4>
<p>大苦大寒，沉陰下行，入肝膽而瀉火，兼入膀胱腎經，除下焦濕熱，酒浸亦能外行上行。</p>
<h4>紫草</h4>
<p>甘鹹寒性滑，入肝心包血分，涼血活血，通二便，或用茸取其初得陽氣以發痘瘡。</p>
<h4>丹皮</h4>
<p>辛苦微寒，入心腎心包肝，善瀉相火，功勝黃柏，和血涼血而生血去瘀，除熱退無汗之骨蒸。</p>
<h4>青黛</h4>
<p>見通行寒。</p>
<h4>射干</h4>
<p>見肺寒。</p>
<h4>車前子</h4>
<p>見膀胱寒。</p>
<h4>槐實</h4>
<p>見大腸寒。</p>
<h4>女貞子</h4>
<p>甘苦涼，益肝腎除火，純陰至靜，必陰虛有火者方可用。按：女貞冬青古作二種，實一物也。</p>
<h4>蘆薈</h4>
<p>大苦大寒，涼肝鎮心，功專清熱殺蟲，治驚癇濕癬，波斯國木脂也。</p>
<h4>密蒙花</h4>
<p>甘而微寒，潤肝燥，專治目疾。</p>
<h4>秦皮</h4>
<p>苦寒性澀，除肝熱，治風濕諸痹，止痢解天蛇毒。</p>
<h4>蕤仁</h4>
<p>甘微寒，消風清熱，和肝明目，破結痰除痞氣。</p>
<h4>川楝子</h4>
<p>苦寒，瀉肝火，導小腸膀胱之濕熱，因引心包相火下行，利小便治疝殺蟲，去核用，川產良。根大苦，逐蛔利大腸治瘡毒。</p>
<h4>地骨皮</h4>
<p>見肺寒。</p>
<h4>老鼠刺</h4>
<p>甘微苦涼，益肝腎止渴祛風。</p>
<h4>竹茹</h4>
<p>見胃寒。</p>
<h4>天竹黃</h4>
<p>見心寒。</p>
<h4>朱砂</h4>
<p>見心寒。</p>
<h4>代赭石</h4>
<p>苦寒，入肝與心包血分，除血熱養血鎮虛逆，制用。</p>
<h4>空青</h4>
<p>甘酸寒，益肝明目，利水，真者絕少。</p>
<h4>犀角</h4>
<p>見胃寒。</p>
<h4>牛黃</h4>
<p>甘涼，清心入肝，解熱利痰，涼驚通竅，治痰熱驚癇胎毒諸病，中風入臟者用以入骨追風，若中腑中經者用之反引風入骨，莫之能出。犀牛之黃稱犀黃，真者能透指甲，如非犀牛功力遠遜。</p>
<h4>羚羊角</h4>
<p>苦鹹寒，屬木入肝肺心，清肝祛風，瀉邪熱，散血下氣解毒。</p>
<h4>豬膽汁</h4>
<p>見心寒。</p>
<h4>熊膽</h4>
<p>見心寒。</p>
<h4>兔肝</h4>
<p>瀉肝熱明目。</p>
<h4>蚺蛇膽</h4>
<p>見脾寒。</p>
<h4>牡蠣</h4>
<p>咸微寒澀，體用皆陰，入肝腎血分，軟堅化痰，收脫斂汗，清熱補水，固腸利濕止渴。</p>
<h4>蛤粉</h4>
<p>與牡蠣同功。蛤蜊肉咸冷解酒。文蛤兼能除煩利小便。</p>
<h4>石決明</h4>
<p>咸涼，除肺肝風熱，治骨蒸療瘍疽，明目通淋。</p>
<h4>真珠</h4>
<p>見心寒。</p>
<h4>（熱）蘄艾</h4>
<p>見通行熱。</p>
<h4>肉桂</h4>
<p>辛甘，純陽大熱，入肝腎血分，補命門相火之不足，能抑肝風而扶脾土，引無根之火降而歸元，治痼冷沉寒，疏通血脈，發汗去營衛風寒。</p>
<h4>吳茱萸</h4>
<p>辛苦大熱，疏肝燥脾，溫中下氣除濕，去痰解鬱殺蟲，開腠理逐風寒，治衝脈為病氣逆裡急，性雖熱而能引熱下行，利大腸壅氣，下產後余血，湯泡去苦汁用。</p>
<h4>炮薑</h4>
<p>見通行熱。</p>
<h3>手太陽小腸</h3>
<h4>（補）生地</h4>
<p>見腎補。</p>
<h4>豬脬</h4>
<p>治疝氣遺溺。</p>
<h4>（和）砂仁</h4>
<p>見脾和。</p>
<h4>紫菀</h4>
<p>見肺和。</p>
<h4>榆白皮</h4>
<p>見大腸和。</p>
<h4>赤茯苓</h4>
<p>見脾和注。</p>
<h4>赤小豆</h4>
<p>見心和。</p>
<h4>赤石脂</h4>
<p>見大腸和。</p>
<h4>雞肫皮</h4>
<p>甘平性澀，能除熱消水穀，通小腸膀胱，治瀉痢崩帶食瘧諸病，男用雌女用雄。</p>
<h4>（寒）白蘚皮</h4>
<p>見脾寒。</p>
<h4>漏盧</h4>
<p>見胃寒。</p>
<h4>瞿麥</h4>
<p>苦寒而性善下，降心火利小腸，逐膀胱邪熱，破血利竅，決癰明目，通經治淋。</p>
<h4>燈心</h4>
<p>見心寒。</p>
<h4>鮮生地</h4>
<p>見腎寒。</p>
<h4>木通</h4>
<p>辛甘淡平，上通心包下通大小腸膀胱，降心火而因清肺熱，導諸濕熱由小便出，兼通大便，利九竅血脈關節，治上中下三焦火症及脾熱好眠。</p>
<h4>海金沙</h4>
<p>甘寒淡滲，專除小腸膀胱血分濕熱，治腫滿通淋。</p>
<h4>車前草</h4>
<p>見膀胱寒注。</p>
<h4>川楝子</h4>
<p>見肝寒。</p>
<h4>梨</h4>
<p>見肺寒。</p>
<h3>足太陽膀胱</h3>
<h4>（補）紫河車</h4>
<p>見通行補。</p>
<h4>（和）烏藥</h4>
<p>見肺和。</p>
<h4>榆白皮</h4>
<p>見大腸和。</p>
<h4>豬苓</h4>
<p>苦甘淡平，入膀胱腎，升而能降，利濕行水，與茯苓同而泄更甚，利竅發汗解濕熱。</p>
<h4>茯苓</h4>
<p>見脾和。</p>
<h4>琥珀</h4>
<p>見肝和。</p>
<h4>雞肫皮</h4>
<p>見小腸和。</p>
<h4>蠶繭</h4>
<p>甘溫，能瀉膀胱相火，引清氣上朝於口，止消渴，去蠶蛹用。</p>
<h4>（攻）葶藶</h4>
<p>見肺攻。</p>
<h4>防己</h4>
<p>見通行攻。</p>
<h4>（散）前胡</h4>
<p>見肝散。</p>
<h4>羌活</h4>
<p>辛苦性溫，氣雄入膀胱當游風，兼入肝腎氣分搜風勝濕，治督脈為病周身百節痛。</p>
<h4>防風</h4>
<p>辛甘微溫，搜肝瀉肺，散頭目滯氣經絡留濕，主上焦風邪、膀胱經症，又為脾胃引經去風勝濕之藥，同蔥白用能行周身。</p>
<h4>本</h4>
<p>辛溫雄壯，為膀胱經風藥，寒鬱本經頭痛連腦者必用之，治督脈為病脊強而厥，又能下行去寒濕。</p>
<h4>麻黃</h4>
<p>見肺散。</p>
<h4>桂枝</h4>
<p>見肺散。</p>
<h4>（寒）知母</h4>
<p>見腎寒。</p>
<h4>龍膽草</h4>
<p>見肝寒。</p>
<h4>白蘚皮</h4>
<p>見脾寒。</p>
<h4>瞿麥</h4>
<p>見小腸寒。</p>
<h4>茵陳</h4>
<p>苦寒，燥濕勝熱，入膀胱經發汗利水以泄脾胃之濕熱，治黃膽陽黃之君藥。</p>
<h4>花粉</h4>
<p>見胃寒。</p>
<h4>木通</h4>
<p>見小腸寒。</p>
<h4>澤瀉</h4>
<p>甘咸微寒，瀉膀胱及腎經火邪，利小便，功專利濕行水，治一切濕熱之病，濕熱除則清氣上行，故又止頭旋，能損目。</p>
<h4>海金沙</h4>
<p>見小腸寒。</p>
<h4>車前子</h4>
<p>甘寒，清肺肝風熱，滲膀胱濕熱，利水而固精竅。車前草甘寒，涼血去熱，通淋明目，能解肝與小腸之濕熱，須取葉用。</p>
<h4>地膚子</h4>
<p>甘苦寒，入膀胱除虛熱，利水通淋，治瘡疥。葉作湯浴，去皮膚風熱丹腫，洗目除雀盲。</p>
<h4>石葦</h4>
<p>苦甘微寒，清肺熱以滋化源，通膀胱而利水濕，善能通淋。瓦葦治淋亦佳。</p>
<h4>黃柏</h4>
<p>苦寒微辛，沉陰下降，瀉膀胱相火，為足太陽引經藥，除濕清熱退火而固腎，治癱痿骨蒸瀉痢諸瘡，尺脈有力者方可用，生用降實火，炒黑止崩帶，酒製治上，蜜製治中，鹽制治下。</p>
<h4>川楝子</h4>
<p>見肝寒。</p>
<h4>滑石</h4>
<p>淡寒滑，膀胱經本藥，亦入肺清其化源，而下走膀胱以利水，通六腑九竅精液，除上中下三焦濕熱，消暑降火蕩熱滲濕。</p>
<h3>手少陰心</h3>
<h4>（補）黃精</h4>
<p>見通行補。</p>
<h4>玉竹</h4>
<p>見肺補。</p>
<h4>丹參</h4>
<p>味苦氣降，入心與包絡，去瘀生新，調經補血，治血虛血瘀之症。</p>
<h4>當歸</h4>
<p>見肝補。</p>
<h4>益智仁</h4>
<p>見脾補。</p>
<h4>生地</h4>
<p>見腎補。</p>
<h4>棗仁</h4>
<p>見膽補。</p>
<h4>大棗</h4>
<p>見通行補。</p>
<h4>龍眼肉</h4>
<p>見脾補。</p>
<h4>蓮子</h4>
<p>甘平而澀，能交心腎，安君相火邪，澀精氣濃腸胃，兼治女人一切血病。蓮心苦寒，清心去熱。</p>
<h4>黑豆</h4>
<p>見腎補。</p>
<h4>豬心血</h4>
<p>以心歸心，以血導血，用作補心藥之向導，義蓋取此。</p>
<h4>龜板</h4>
<p>見腎補。</p>
<h4>（和）甘草</h4>
<p>見通行和。</p>
<h4>遠志</h4>
<p>苦辛溫，入心能通腎氣上達於心而交心腎，泄熱行氣散郁，利竅豁痰，兼治癰疽，去心用。</p>
<h4>鬱金</h4>
<p>見肺和。</p>
<h4>連翹</h4>
<p>苦微寒性升，入心、心包而瀉火，兼除三焦大腸膽經濕熱，能散諸經血凝氣聚，利水殺蟲，為十二經瘡家要藥，多服減食。</p>
<h4>甘菊花</h4>
<p>見肝和。</p>
<h4>鉤藤</h4>
<p>見肝和。</p>
<h4>石菖蒲</h4>
<p>辛苦溫香而散，開心孔利九竅，去濕除風，消痰積治驚癇，療熱閉胸膈，解毒殺蟲，多用獨用耗散氣血，或用米泔浸飯鍋內蒸，則臻於中和矣。犯鐵器令人吐逆。</p>
<h4>松花</h4>
<p>見肺和。</p>
<h4>柏子仁</h4>
<p>辛甘平，氣香性潤，透心脾滋肝腎，養血止汗除風濕，助脾藥中惟此不燥。</p>
<h4>合歡皮</h4>
<p>見通行和。</p>
<h4>乳香</h4>
<p>見通行和。</p>
<h4>血竭</h4>
<p>甘咸平性急，入心肝血分，散瘀生新，和血斂瘡。</p>
<h4>安息香</h4>
<p>辛香苦平，入心經，安神去祟，行血下氣，安息國名也。</p>
<h4>茯苓</h4>
<p>見脾和。</p>
<h4>赤茯苓</h4>
<p>見脾和注。</p>
<h4>茯神</h4>
<p>主治與茯苓同，而入心之用居多，安魂養神，療心虛驚悸。黃松節即茯神心木，療筋攣偏風心掣健忘。</p>
<h4>琥珀</h4>
<p>見肝和。</p>
<h4>蓮須</h4>
<p>見腎和。</p>
<h4>百合</h4>
<p>見肺和。</p>
<h4>小麥</h4>
<p>甘微寒，養心止血，除煩利溲。浮小麥咸涼，止汗涼心退熱。麩皮甘寒，與浮麥同性，醋拌蒸，熨滯氣痹痛。面筋甘涼，解熱和中。</p>
<h4>赤小豆</h4>
<p>甘酸平，色赤入心，性下行而通小腸，行水散血，清熱解毒敷瘡，通乳汁下胞胎，最滲精液不宜久服。相思子苦平，研服，能吐邪氣及蠱毒。</p>
<h4>金</h4>
<p>辛平有毒，鎮心肝安魂魄，治驚癇風熱之病。</p>
<h4>銀</h4>
<p>功用與金相同。</p>
<h4>食鹽</h4>
<p>見腎和。</p>
<h4>龍骨</h4>
<p>甘平澀，入心肝腎大腸，能斂浮越之正氣，澀腸益腎，安魂鎮驚，固精止汗，定喘解毒，皆澀以止脫之義。</p>
<h4>龍齒</h4>
<p>見肝和。</p>
<h4>發</h4>
<p>見肝和。</p>
<h4>（散）桔梗</h4>
<p>見肺散。</p>
<h4>細辛</h4>
<p>見腎散。</p>
<h4>麻黃</h4>
<p>見肺散。</p>
<h4>冰片</h4>
<p>見通行散。</p>
<h4>（寒）黃連</h4>
<p>大苦大寒，入心瀉火，鎮肝涼血，燥濕開鬱，能消心竅惡血，亦瀉脾火，酒炒治上焦火，薑汁炒治中焦火，鹽水炒治下焦火。</p>
<h4>胡連</h4>
<p>性味功用並似黃連，治小兒潮熱五疳，解吃煙毒。</p>
<h4>川貝母</h4>
<p>見肺寒。</p>
<h4>黃芩</h4>
<p>苦寒入心，勝熱折火之本，瀉中焦實火，除脾家濕熱，為中上二焦之藥，亦治邪在少陽往來寒熱，中空者名枯芩，佐梔子瀉肺火，中實者名條芩，瀉大腸火。</p>
<h4>白茅根</h4>
<p>見脾寒。</p>
<h4>丹皮</h4>
<p>見肝寒。</p>
<h4>麥冬</h4>
<p>見胃寒。</p>
<h4>瞿麥</h4>
<p>見小腸寒。</p>
<h4>燈心</h4>
<p>甘淡微寒，降心火，利小腸，清肺熱，通氣止血利水。</p>
<h4>大青</h4>
<p>見胃寒。</p>
<h4>鮮生地</h4>
<p>見腎寒。</p>
<h4>射干</h4>
<p>見肺寒。</p>
<h4>山豆根</h4>
<p>大苦大寒，瀉心火以保肺金，去肺大腸之風熱，消腫止痛，治喉齒瘡痔諸疾，解藥毒，療人馬急黃。</p>
<h4>梔子</h4>
<p>苦寒入心，瀉心肺之邪熱，使之下行由小便出，解三焦鬱火，最清胃脘之血，內熱用仁，表熱用皮。</p>
<h4>蘆薈</h4>
<p>見肝寒。</p>
<h4>竹葉</h4>
<p>辛淡甘寒，專涼心經亦清脾氣，清痰止渴，除上焦煩熱。</p>
<h4>天竹黃</h4>
<p>甘微寒，涼心去風熱，利竅豁痰鎮肝，功同竹瀝而性和緩，治中風驚癇，南海大竹內黃粉也。</p>
<h4>石蓮子</h4>
<p>苦寒，清心開胃去濕熱。</p>
<h4>梨</h4>
<p>見肺寒。</p>
<h4>黃丹</h4>
<p>鹹寒沉陰，內用鎮心安魂墜痰，消積殺蟲，外用解熱拔毒，去瘀長肉。鉛粉主治略同。</p>
<h4>朱砂</h4>
<p>甘涼，體陽性陰，心經血分藥，鎮心而瀉邪熱，定驚清肝，祛風解毒，治癲狂下死胎，多服令人呆悶，細研水飛，如火煉則有毒，服餌常殺人，或用原塊辰砂綿裹，入藥同煎最妙。</p>
<h4>犀角</h4>
<p>見胃寒。</p>
<h4>牛黃</h4>
<p>見肝寒。</p>
<h4>羚羊角</h4>
<p>見肝寒。</p>
<h4>豬膽汁</h4>
<p>苦寒入心，勝熱潤燥，瀉肝膽之火，兼能明目療疳，醋和灌穀道治大便不通。</p>
<h4>象牙</h4>
<p>甘涼，清心腎之火，療驚悸骨蒸痰熱瘡毒，銼屑煎服。</p>
<h4>熊膽</h4>
<p>苦寒，涼心平肝，明目殺蟲，治驚癇塗痔。</p>
<h4>繰絲湯</h4>
<p>抑心火，治消渴。</p>
<h4>真珠</h4>
<p>甘鹹寒，入心肝二經，鎮心安魂，瀉熱墜痰，拔毒生肌。</p>
<h4>（熱）桂心</h4>
<p>見脾熱。</p>
<h4>炮薑</h4>
<p>見通行熱。</p>
<h3>足少陰腎</h3>
<h4>（補）巴戟天</h4>
<p>甘辛微溫，入腎經血分，強陰益精，散風濕，去心用。</p>
<h4>金毛狗脊</h4>
<p>見肝補。</p>
<h4>肉蓯蓉</h4>
<p>甘酸鹹溫，入腎經血分，補命門相火，潤五臟益精血滑腸，功用與瑣陽相仿，草蓯蓉力稍劣。</p>
<h4>冬蟲夏草</h4>
<p>見肺補。</p>
<h4>熟地</h4>
<p>甘微溫，入足三陰經，滋腎補肝，封填骨髓，亦補脾陰，利血脈益真陰，除痰退熱止瀉，治一切肝腎陰虧虛損百病，為壯水之主藥，兼散劑亦能發汗，兼溫劑又能回陽。按：制熟地宜九蒸九晒，蓋多蒸則不滯，多晒則氣溫，水裡陽生之義也。若一蒸便用絕不見日，則與煎劑用生地何異。</p>
<h4>生地</h4>
<p>苦甘寒，沉陰下降，入心腎肝心包小腸，養陰退陽，涼血生血，治血虛內熱，能交心腎而益肝膽，兼能行水，佐歸身解火鬱。</p>
<h4>續斷</h4>
<p>見肝補。</p>
<h4>枸杞子</h4>
<p>見肝補。</p>
<h4>沙苑蒺藜</h4>
<p>苦溫，補腎強陰固精明目。</p>
<h4>何首烏</h4>
<p>見肝補。</p>
<h4>菟絲子</h4>
<p>甘辛溫，入肝脾腎，強陰益精，溫而不燥，補衛氣助筋脈，祛風進食，治精寒余瀝，腎經多火者勿用。</p>
<h4>五味子</h4>
<p>見肺補。</p>
<h4>覆盆子</h4>
<p>見肝補。</p>
<h4>桑葚</h4>
<p>甘酸溫，入腎補水，生津利水烏須。</p>
<h4>萸肉</h4>
<p>酸澀微溫，固精秘氣，補腎溫肝，強陰助陽，而通九竅兼能發汗，去核用。</p>
<h4>杜仲</h4>
<p>見肝補。</p>
<h4>芡實</h4>
<p>見脾補。</p>
<h4>蓮子</h4>
<p>見心補。</p>
<h4>栗</h4>
<p>咸溫，濃腸胃補腎氣，能解羊膻。</p>
<h4>甘薯</h4>
<p>見脾補。</p>
<h4>韭菜</h4>
<p>辛溫微酸，溫脾益胃助腎，補陽固精氣，暖腰膝，散瘀血，停痰，入血分而行氣解毒。韭汁：胃脘上口有積血妨礙飲食者，此能除之，每用少許，頻服久服甚效。</p>
<h4>韭子</h4>
<p>辛甘溫，補肝腎助命門暖腰膝。</p>
<h4>胡麻</h4>
<p>見肝補。</p>
<h4>黑豆</h4>
<p>甘寒，補腎鎮心明目，利水除熱，去風活血，解毒利大便。馬料豆尤補腎，料豆皮能止盜汗。</p>
<h4>豇豆</h4>
<p>甘咸平，補腎益氣，理中健胃，和五臟調營衛，生精髓解鼠莽毒，豆為腎穀，宜此當之。</p>
<h4>刀豆</h4>
<p>甘溫，下氣益腎歸元，溫中利腸胃止呃逆。</p>
<h4>磁石</h4>
<p>辛鹹沖和，能引肺氣入腎補腎，除熱去怯，通耳明目，制用漬酒良。</p>
<h4>烏骨雞</h4>
<p>見肝補注。</p>
<h4>鴨</h4>
<p>見肺補。</p>
<h4>雀</h4>
<p>甘溫，壯陽益精髓縮小便。雀卵酸溫，益精血，治男子陰痿女人血枯。</p>
<h4>禽石燕</h4>
<p>甘溫，壯陽益氣，補精髓縮小便，浸酒服佳。</p>
<h4>鹿角</h4>
<p>咸溫，熬膠煉霜，功專滋補，益腎強骨生精血，能通督脈，生用散熱行血辟邪，能逐陰中邪氣惡血，治夢與鬼交。麋角功用相仿而溫性差減，鹿筋治勞損續絕。鹿　鹿精也大補虛勞。</p>
<h4>牛髓</h4>
<p>補中填骨髓，煉用。</p>
<h4>羊乳</h4>
<p>見大腸補。</p>
<h4>羊腰子</h4>
<p>益精助陽。脛骨入腎而補骨，燒灰擦牙良。</p>
<h4>豬肉</h4>
<p>鹹寒，療腎氣虛竭，潤腸胃生精液，陽事弱者不宜食，能生濕痰招風熱，皮有毒頭肉尤甚。腦治頭風，損陽道。蹄通乳汁。懸蹄甲治痰喘瘡痔。尾血治痘瘡倒　。腰子咸冷而通腎，治腰痛耳聾。</p>
<h4>狗肉</h4>
<p>見脾補。</p>
<h4>海狗腎</h4>
<p>咸熱，固精壯陽，治陰痿精寒。</p>
<h4>桑螵蛸</h4>
<p>甘咸平，入肝腎命門，益精氣固腎，治虛損遺濁陰痿，通淋縮小便，用桑樹上者，若生非桑樹以桑皮佐之。</p>
<h4>魚鰾</h4>
<p>暖精種子。</p>
<h4>海馬</h4>
<p>甘溫，暖水臟壯陽道，治氣血痛，消瘕塊。</p>
<h4>海參</h4>
<p>甘溫，補腎益精，壯陽療痿。</p>
<h4>龜板</h4>
<p>鹹寒至陰，通心入腎，補陰清熱，治一切陰虛血弱之症，能通任脈，自死敗龜良，熬膠更勝。龜尿走竅透骨，染須發，治啞聾。</p>
<h4>蛤蚧</h4>
<p>見肺補。</p>
<h4>吐鐵</h4>
<p>見肝補。</p>
<h4>秋石</h4>
<p>咸平，滋腎水潤三焦，退骨蒸軟堅，為滋陰降火之藥，煎煉失宜，反生燥渴之患。</p>
<h4>（和）遠志</h4>
<p>見心和。</p>
<h4>砂仁</h4>
<p>見脾和。</p>
<h4>牛膝</h4>
<p>苦酸平，入肝腎，能引諸藥下行，散惡血，療心腹痛，治淋墮胎，出竹木刺，酒浸蒸則甘酸而溫，益肝腎強筋骨。</p>
<h4>甘菊花</h4>
<p>見肝和。</p>
<h4>猴薑</h4>
<p>苦溫，堅腎行血，治折傷骨痿，擦牙良。</p>
<h4>柏子仁</h4>
<p>見心和。</p>
<h4>金櫻子</h4>
<p>酸澀平，固精秘氣，治精滑，固腸，性澀而不利於氣，熬膏則甘，全失澀味矣。</p>
<h4>烏藥</h4>
<p>見肺和。</p>
<h4>五加皮</h4>
<p>見肝和。</p>
<h4>石楠葉</h4>
<p>辛苦平，散風堅腎，利筋骨皮毛，為祛風通利之藥。</p>
<h4>豬苓</h4>
<p>見膀胱和。</p>
<h4>橘核</h4>
<p>治疝痛、腰腎冷痛。</p>
<h4>蓮須</h4>
<p>甘平而澀，清心通腎，益血固精。</p>
<h4>小茴香</h4>
<p>見胃和。</p>
<h4>罌粟殼</h4>
<p>見肺和。</p>
<h4>鉛</h4>
<p>甘寒屬腎，墜痰解毒，安神明目，殺蟲而傷心胃。</p>
<h4>青鹽</h4>
<p>甘鹹寒，入肝腎助水臟，平血熱，散肝經風熱，功同食鹽而更勝。</p>
<h4>食鹽</h4>
<p>甘鹹辛寒，補心入腎，泄肺潤下，走血勝熱，潤燥軟堅，通大小便，堅筋骨涌吐醒酒，解毒殺蟲，多食傷肺損津血動腎氣辟精關。</p>
<h4>九香蟲</h4>
<p>見脾和。</p>
<h4>桑寄生</h4>
<p>苦甘，堅腎和血，舒筋絡散風濕。</p>
<h4>烏賊骨</h4>
<p>見肝和。</p>
<h4>龍骨</h4>
<p>見心和。</p>
<h4>發</h4>
<p>見肝和。</p>
<h4>（攻）甘遂</h4>
<p>見通行攻。</p>
<h4>（散）獨活</h4>
<p>辛苦微溫，氣緩入腎經氣分，善搜伏風兼能去濕，治頭痛目眩齒痛痙痹疝瘕諸症。</p>
<h4>羌活</h4>
<p>見膀胱散。</p>
<h4>細辛</h4>
<p>辛溫性烈，腎經本藥，心經引經藥，散風寒浮熱，溫經發汗，能行水氣以潤腎燥，專治少陰經頭痛，北產者良。</p>
<h4>（寒）元參</h4>
<p>苦鹹微寒純陰，入腎瀉無根浮游之火，凡相火上炎之症，用此壯水以制之。</p>
<h4>苦參</h4>
<p>大苦大寒，沉陰主腎，燥濕勝熱，養肝膽利九竅，祛風逐水，解毒殺蟲。</p>
<h4>龍膽草</h4>
<p>見肝寒。</p>
<h4>知母</h4>
<p>辛苦寒滑，入肺腎二經氣分，瀉膀胱邪熱下焦有餘之火，使相火不炎肺金清肅，兼瀉胃熱潤燥滋陰利二便，滑腸傷胃。</p>
<h4>丹皮</h4>
<p>見肝寒。</p>
<h4>蓄</h4>
<p>苦平，利小便去濕熱，通淋殺蟲。</p>
<h4>鮮生地</h4>
<p>苦微甘大寒，入心腎，瀉小腸丙火亦清胃大腸火，平諸血逆，治熱毒痢疾腸胃如焚、瘟疫痘症，諸大熱。</p>
<h4>天冬</h4>
<p>見肺寒。</p>
<h4>旱蓮草</h4>
<p>甘酸寒，補腎固齒，涼血止血。</p>
<h4>澤瀉</h4>
<p>見膀胱寒。</p>
<h4>黃柏</h4>
<p>見膀胱寒。</p>
<h4>女貞子</h4>
<p>見肝寒。</p>
<h4>地骨皮</h4>
<p>見肺寒。</p>
<h4>老鼠刺</h4>
<p>見肝寒。</p>
<h4>蒲公英</h4>
<p>見胃寒。</p>
<h4>敗醬</h4>
<p>見心包寒。</p>
<h4>豬膚</h4>
<p>古注性寒味甘，治咽痛。豬水畜也，其氣先入腎，解少陰客熱，膚者肌膚之義，宜用豬皮上黑膚也。按：儀禮注云膚豕肉也，惟　者有膚，　字本作　訓，為火熱又云火熟物也，　此則明是取豬肉火炙而用其皮上燒焦之膚皮矣乃有用，生豬皮者大謬。</p>
<h4>象牙</h4>
<p>見心寒。</p>
<h4>牡蠣</h4>
<p>見肝寒。</p>
<h4>蛤粉</h4>
<p>見肝寒。</p>
<h4>（熱）蘄艾</h4>
<p>見通行熱。</p>
<h4>丁香</h4>
<p>見胃熱。</p>
<h4>沒石子</h4>
<p>苦溫，入腎，澀精固氣，強陰助陽，烏須發。</p>
<h4>原蠶蛾</h4>
<p>氣熱，固精強陽，用雄者。</p>
<h3>命門</h3>
<h4>（補）淫羊藿</h4>
<p>辛香甘溫，入肝腎，補命門，益精氣堅筋骨，治絕陽不興絕陰不產。</p>
<h4>瑣陽</h4>
<p>甘溫補陰益精興陽，潤燥滑腸。</p>
<h4>肉蓯蓉</h4>
<p>見腎補。</p>
<h4>益智仁</h4>
<p>見脾補。</p>
<h4>蛇床子</h4>
<p>見三焦補。</p>
<h4>仙茅</h4>
<p>辛熱，助命火益陽道，明耳目補虛勞，暖筋骨，治失溺心腹冷，氣精寒者宜之，制用。</p>
<h4>胡桃</h4>
<p>見肺補。</p>
<h4>韭子</h4>
<p>見腎補。</p>
<h4>陽起石</h4>
<p>咸溫，補命門，治陰痿精乏子宮虛冷，真者難得。</p>
<h4>鹿茸</h4>
<p>甘咸溫，補右腎精氣，暖腎助陽，添精補髓健骨，治一切虛損，酥炙用。麋茸功用相仿，溫性差減。</p>
<h4>桑螵蛸</h4>
<p>見腎補。</p>
<h4>（和）沉香</h4>
<p>辛苦溫，入右腎命門，暖精助陽溫中，平肝下氣而墜痰涎，降而能升，故又理氣調中，陰虛者勿用，磨汁服。</p>
<h4>（攻）牽牛子</h4>
<p>見肺攻。</p>
<h4>（熱）破故紙</h4>
<p>辛苦大溫，入心包命門，補相火以通君火，暖丹田壯元陽，能納氣歸腎。</p>
<h4>附子</h4>
<p>見通行熱。</p>
<h4>天雄</h4>
<p>附子細長者為天雄，大燥回陽，補下焦腎命陽虛，逐風寒濕，為風家主藥，發汗久止陰汗。</p>
<h4>胡盧巴</h4>
<p>苦溫純陽，入命門暖丹田壯元陽，治腎臟虛冷，除寒濕。</p>
<h4>肉桂</h4>
<p>見肝熱。</p>
<h4>川椒</h4>
<p>見肺熱。</p>
<h4>大茴香</h4>
<p>辛溫，暖丹田補命門，開胃下食，調中止嘔，治寒疝。</p>
<h4>石硫黃</h4>
<p>見大腸熱。</p>
<h3>奇經八脈</h3>
<h4>（補）當歸</h4>
<p>見肝補。</p>
<h4>白芍</h4>
<p>見肝補。</p>
<h4>鹿角</h4>
<p>見腎補。</p>
<h4>牛髓</h4>
<p>見腎補。</p>
<h4>豬脊髓</h4>
<p>補虛勞益骨髓，治脊痛除蒸。</p>
<h4>龜板</h4>
<p>見腎補。</p>
<h4>（和）川芎</h4>
<p>見膽和。</p>
<h4>澤蘭</h4>
<p>見脾和。</p>
<h4>廣木香</h4>
<p>見三焦和。</p>
<h4>香附</h4>
<p>見通行和。</p>
<h4>紫石英</h4>
<p>甘辛溫，重鎮怯潤去枯，治心神不安肝血不足，走衝任二經，暖子宮療女子血海虛寒不孕，火　醋淬研末水飛。</p>
<h4>（攻）王不留行</h4>
<p>甘苦平，陽明衝任血分之藥，其性行而不住，通血脈除風利便，治金瘡癰疽，出竹木刺。</p>
<h4>桃仁</h4>
<p>見肝攻。</p>
<h4>（散）升麻</h4>
<p>見脾散。</p>
<h4>柴胡</h4>
<p>見膽散。</p>
<h4>羌活</h4>
<p>見膀胱散。</p>
<h4>本</h4>
<p>見膀胱散。</p>
<h4>（寒）白薇</h4>
<p>苦鹹寒，陽明衝任之藥，利陰氣清血熱調經。</p>
<h4>（熱）附子</h4>
<p>見通行熱。</p>
<h4>吳茱萸</h4>
<p>見肝熱。</p>
<h3>不循經絡雜品</h3>
<h4>（補）旋</h4>
<p>即旋花，甘辛溫，補勞損益精氣主續筋，凡筋斷者取旋　根搗汁，瀝入仍以渣敷之，日三易，須令斷筋相對，半月後即相續如故。蜀見奴逃走多刺筋，以此續之百不失一。</p>
<h4>南燭</h4>
<p>苦酸澀平，補陰止泄除睡。子酸甘平，補陰固精。</p>
<h4>榛子</h4>
<p>甘平，調中益氣，開胃實腸。</p>
<h4>南瓜</h4>
<p>甘溫，補中益氣，同羊肉食則壅氣。</p>
<h4>黍</h4>
<p>甘溫，益氣補中，多食作煩熱。</p>
<h4>稷</h4>
<p>甘平，益氣和中。</p>
<h4>粱</h4>
<p>甘，益氣和中，除煩利便，黃粱平，白粱青粱微涼。</p>
<h4>小米</h4>
<p>咸淡微寒，補虛損益丹田，開脾胃利小便。</p>
<h4>秫</h4>
<p>甘微寒，益陰，治肺瘧及食鵝鴨成症陰虛不眠。</p>
<h4>子</h4>
<p>甘澀，補中益氣濃腸胃。</p>
<h4>高粱</h4>
<p>甘溫而澀，溫中澀腸胃，黏者與粟米同功。</p>
<h4>玉蜀黍</h4>
<p>甘平，調中開胃。</p>
<h4>菰米</h4>
<p>甘冷，解熱調腸胃救荒。</p>
<h4>東牆子</h4>
<p>甘平，益氣堅筋骨。</p>
<h4>蓬草子</h4>
<p>酸澀平，作飯無異粳米，有黃蓬、青科、飛蓬三種。</p>
<h4>草米</h4>
<p>甘寒，去熱利腸胃，益氣力。</p>
<h4>草子</h4>
<p>甘平，補虛溫腸胃，止嘔逆。</p>
<h4>稗</h4>
<p>辛甘苦微寒，益氣宜脾。</p>
<h4>粥</h4>
<p>糯米、秫米、黍米甘溫益氣，治脾胃虛寒；粳米、　米、粟米、粱米甘平益氣，養脾胃利小便止煩渴。按：粥飲之化痰甚易，晨食行陽不致成痰，晚食行陰即易成痰也。</p>
<h4>蠶豆</h4>
<p>甘澀溫，補中益氣，澀精實腸。</p>
<h4>雉雞</h4>
<p>酸甘微寒，補中益氣止泄痢，治蟻　。</p>
<h4>油鴨</h4>
<p>甘平，補中益氣。</p>
<h4>斑鳩</h4>
<p>甘平，益氣明目治噎。</p>
<h4>牛皮膠</h4>
<p>甘平，補陰潤燥，治血症癰疽，通大便，虛熱人宜之。</p>
<h4>驢肉</h4>
<p>甘涼，補益氣血治勞損，驢溺羊寒殺蟲，治反胃噎膈，須熱飲。</p>
<h4>田雞</h4>
<p>甘寒，解熱毒，利水消腫，補虛損，產婦尤宜。</p>
<h4>鰱魚</h4>
<p>甘溫，溫中益氣發瘡。</p>
<h4>勒魚</h4>
<p>甘平，開胃暖中，作鯗尤良。</p>
<h4>石首魚</h4>
<p>甘平，開胃益氣。白鯗消宿食理腸胃，治下痢腹脹，炙食能消瓜成水。</p>
<h4>鰣魚</h4>
<p>甘平，補虛勞。</p>
<h4>鯧魚</h4>
<p>甘平，益氣力。</p>
<h4>鯽魚</h4>
<p>甘溫，諸魚屬火獨鯽魚屬土，和胃實腸行水。</p>
<h4>魚</h4>
<p>甘溫，調胃助脾利五臟，和芥食，能助肺氣去胃風。</p>
<h4>鯔魚</h4>
<p>甘平，開胃利五臟，與百藥無忌。</p>
<h4>草魚</h4>
<p>甘溫，暖胃和中發瘡。</p>
<h4>青魚</h4>
<p>甘平，益氣力，治香港腳腳弱。膽苦寒，瀉熱治目疾喉痹，療魚骨哽。</p>
<h4>鯉魚</h4>
<p>甘平，下水氣利小便。膽苦寒明目。骨療魚骨哽。</p>
<h4>烏魚</h4>
<p>甘寒，祛風下水利腸。膽苦甘，治喉痹。</p>
<h4>紙魚</h4>
<p>甘平，寬中健胃。</p>
<h4>泥鰍</h4>
<p>甘平，暖中益氣，醒酒收痔。</p>
<h4>鰻</h4>
<p>甘平，補虛損，去風殺蟲，治骨蒸勞瘵，海鰻同。</p>
<h4>蝦</h4>
<p>甘溫，托痘瘡壯陽道，吐風痰動風熱。</p>
<h4>海蝦</h4>
<p>甘咸平，祛風殺蟲。</p>
<h4>蟶</h4>
<p>甘咸平，補虛去煩熱，主冷痢。</p>
<h4>江珧桂</h4>
<p>甘咸微溫，下氣調中，利五臟消宿食。</p>
<h4>西施舌</h4>
<p>甘咸平，益精潤臟腑。</p>
<h4>（和）三柰</h4>
<p>辛溫，暖中辟惡，治寒濕蟲牙。</p>
<h4>路路通</h4>
<p>形似楊梅而較大，刺長尖銳，入火熏之幽香清烈，顧名思義宜為表散藥中之向導也，古書不載，近多用之。</p>
<h4>落得打</h4>
<p>甘平，行血止血，治跌打金瘡用根。</p>
<h4>奶酣草</h4>
<p>辛溫，芳香和中辟惡。</p>
<h4>木棉</h4>
<p>甘溫，治血崩金瘡，或棉或布燒灰用。花油即術棉子油，辛熱微毒，治瘡疥，損目。</p>
<h4>銀花</h4>
<p>甘平，除熱解毒，養血療風，治血痢瘡毒寬膨，性極中和，多用乃效。藤葉名忍冬，性同。</p>
<h4>管仲</h4>
<p>苦微寒，解邪熱之毒，去瘀軟堅殺蟲，浸水缸中日飲其水，能解時疫。</p>
<h4>玉簪</h4>
<p>辛甘寒，解一切毒，下骨哽，損齒極速。</p>
<h4>茵芋</h4>
<p>辛苦微溫，治風濕拘攣痹痛，炙用。</p>
<h4>莽草</h4>
<p>辛苦溫，去風濕，治頭風癰腫，制用。</p>
<h4>卷柏</h4>
<p>生用辛平，破血治淋結，炙用辛溫，止血治腸風。</p>
<h4>草</h4>
<p>苦辛，生用寒，熟用溫，長於去風濕治麻痹而能燥血並不補益，酒拌蒸晒九次。</p>
<h4>天仙藤</h4>
<p>苦溫，疏氣活血，治妊娠水腫。</p>
<h4>土連翹</h4>
<p>苦溫，治風寒濕痹撲損疼痛。</p>
<h4>月月紅</h4>
<p>甘溫，活血消腫。</p>
<h4>地錦</h4>
<p>辛平，通流血脈，散血止血。</p>
<h4>煙</h4>
<p>辛溫，行氣辟寒，治山嵐瘴霧，其氣入口不循常度，頃刻而周一身令人通快，然火氣熏灼耗血損年。煙筒中水解蛇毒。</p>
<h4>松香</h4>
<p>苦甘溫燥，祛風去濕化毒生肌，入蔥管內煮白用。松毛苦溫，治風濕諸瘡，生毛髮。</p>
<p>松節苦溫燥，治骨節間風濕，能燥血中之濕。</p>
<h4>紫檀香</h4>
<p>咸平，入血分，和血止血消腫毒。</p>
<h4>降香</h4>
<p>辛溫，辟惡止血，療金刃傷。</p>
<h4>楓香脂</h4>
<p>辛平，調氣血解毒，功與乳香相近。</p>
<h4>蘇合油</h4>
<p>甘溫，走竄通竅開鬱，辟一切不正之氣，殺精鬼。</p>
<h4>樟腦</h4>
<p>辛熱香竄，能於水中發火，通竅除濕殺蟲。</p>
<h4>桑枝</h4>
<p>苦平，祛風利水，治手足風寒濕痹。</p>
<h4>桑根</h4>
<p>治小兒驚癇及敷鵝口瘡大效，取東南行者，研汁用。</p>
<h4>楮實</h4>
<p>甘寒而利，消水軟堅療骨哽。皮甘平行水。葉甘涼，祛濕熱治痢。</p>
<h4>水楊</h4>
<p>苦平，行氣血，取枝葉煎洗治痘瘡漿滯不起。</p>
<h4>西河柳</h4>
<p>甘咸平，消　療風解毒，亦散痧疹熱毒。</p>
<h4>臭橘葉</h4>
<p>辛溫，解毒治下痢喉　。</p>
<h4>荔枝核</h4>
<p>甘澀溫，散滯氣辟寒濕，治胃脘痛，形肖睪丸故亦治　疝卵腫，　用。荔枝甘酸熱，止呃逆，多食發熱齦腫衄血。殼發痘瘡。</p>
<h4>石榴皮</h4>
<p>酸澀而溫澀腸止泄痢崩帶脫肛，殺蟲烏須，能戀膈成痰，積未盡者勿服。石榴治瀉痢，多食損肺壞齒。榴花千葉者治心熱吐血衄血。</p>
<h4>香團</h4>
<p>苦甘酸辛，下氣消食，快膈化痰，能去濁惡之氣，治飲酒人口氣，孕婦口淡不思食。</p>
<h4>花紅</h4>
<p>酸澀甘溫生津，治泄精水痢，多食發熱閉百脈。</p>
<h4>楊梅</h4>
<p>酸甘溫，去痰止嘔，消食生津，和利五臟，能滌腸胃除惡氣，燒灰服，斷下痢甚驗，多食發熱衄血。</p>
<h4>萱草</h4>
<p>甘微涼，去濕熱通小便，利胸膈明目。根利水氣，治淋濁吐衄。</p>
<h4>慈姑</h4>
<p>苦甘微寒，行血能下石淋，治百毒。</p>
<h4>胡荽</h4>
<p>辛溫香竄，辟一切不正之氣，發痘瘡療沙疹止頭痛，通小腹氣及心竅，消穀利腸。胡荽菜久食損精神，令人多忘，發腋臭。</p>
<h4>蘿卜</h4>
<p>辛甘平，生食升氣，熟食降氣，化痰消食散瘀，制面毒豆腐毒。菜辛苦溫，功用略同。</p>
<h4>胡蘿卜</h4>
<p>甘平，寬中下氣散滯。</p>
<h4>紫菜</h4>
<p>甘鹹寒，軟堅消癭瘤積塊，治熱氣煩塞咽喉。</p>
<h4>蓬蒿菜</h4>
<p>甘辛涼，和中消痰利腸胃。</p>
<h4>薺菜子</h4>
<p>甘平，去風熱明目。花治久痢辟蚊蛾。</p>
<h4>白菜</h4>
<p>甘平，利腸胃除煩，消食下氣和中。黃芽菜尤益人。</p>
<h4>油菜</h4>
<p>辛溫，散血消游風丹腫。子功用略同，治產難。油能殺蟲。</p>
<h4>黃花菜</h4>
<p>甘微苦微寒，通結氣利腸胃。</p>
<h4>龍須菜</h4>
<p>甘寒微咸，清熱消癭利小便。</p>
<h4>葫蘆</h4>
<p>甘平而滑，利水消腫脹。</p>
<h4>茄子</h4>
<p>甘寒而利，散血寬腸，動風發病，能傷女人子宮。茄根散血消腫。</p>
<h4>香芋</h4>
<p>甘辛寒，熟食濃腸胃止熱嗽，研水生服解藥毒。</p>
<h4>芋艿</h4>
<p>辛平滑，寬胃口通腸閉。</p>
<h4>炊單布</h4>
<p>菜名也，治墜馬及一切筋骨損，或謂是久用炊布者非。</p>
<h4>香蕈</h4>
<p>甘平，破血治風。松蕈治溲濁不禁。土菌甘寒，燒敷瘡疥。</p>
<h4>蘑茹</h4>
<p>甘寒，理氣化痰益腸胃。</p>
<h4>黃豆</h4>
<p>甘溫，寬中下氣，利大腸消水腫痘癰。豆油辛甘熱，塗瘡疥。</p>
<h4>豌豆</h4>
<p>甘平屬土，治吐逆泄痢腹脹。</p>
<h4>黎豆</h4>
<p>甘微苦溫，益氣溫中。</p>
<h4>蕎麥</h4>
<p>甘寒，降氣利腸，治腸胃沉積。</p>
<h4>野麥</h4>
<p>甘平，滑腸可救荒。</p>
<h4>麥</h4>
<p>甘微寒，補中除熱。</p>
<h4>米醋</h4>
<p>酸苦溫，散瘀除症，斂氣血消癰腫，而損胃。</p>
<h4>自然銅</h4>
<p>辛平，主折傷續筋骨散瘀，火　醋淬甘草水飛。</p>
<h4>古文錢</h4>
<p>辛平，治目中障瘀橫產五淋，亦可煮汁。</p>
<h4>密陀僧</h4>
<p>辛平，鎮驚劫痰，止血消積，殺蟲療腫毒滅瘢　，治瘡痔，出銀坑，今以傾銀爐底代之。</p>
<h4>白礬</h4>
<p>酸鹹寒，性澀而收，燥濕涌涎化痰，除風止血，通二便殺蟲，除痼熱在骨髓，生用解毒，多服損心肺傷骨。</p>
<h4>綠礬</h4>
<p>酸涼澀收，能燥濕消積化痰，利小便解毒殺蟲，主治略同白礬。</p>
<h4>煤炭</h4>
<p>甘辛溫，治氣血痛及痰癇瘡傷，中其毒者以冷水解之。</p>
<h4>無名異</h4>
<p>甘咸，和血生肌治瘡傷。</p>
<h4>石燕</h4>
<p>甘涼，利竅行濕熱，治淋帶目障。</p>
<h4>石蟹</h4>
<p>鹹寒，明目解金石藥毒。</p>
<h4>立春節雨水</h4>
<p>甘平，宜煎發散及補中益氣藥，又立春清明二節貯水亦名神水，浸造諸風脾胃虛損丹丸，久留不壞。</p>
<h4>小滿芒種白露三節雨水</h4>
<p>皆有毒，造藥釀酒易壞，飲之生脾胃疾。</p>
<h4>梅雨水</h4>
<p>洗瘡疥滅瘢痕，入醬易熟。</p>
<h4>端午午時雨水</h4>
<p>宜造瘧痢瘡瘍蟲蠱諸丹丸。</p>
<h4>神水</h4>
<p>端午午時有雨，急伐竹竿中必有水名為神水，甘寒清熱化痰定驚安神，治心腹積聚及蟲病。</p>
<h4>寒露冬至大寒小寒四節雨水</h4>
<p>宜浸造滋補藥及痰火積聚蟲毒丹丸。</p>
<h4>臘日雨水</h4>
<p>與寒露冬至大寒小寒雨水同。</p>
<h4>液雨水</h4>
<p>立冬後十日為入液，至小雪為出液，能殺百蟲，宜煎殺蟲消積之藥。</p>
<h4>霜</h4>
<p>甘寒，解酒熱敷痱瘡。</p>
<h4>臘雪水</h4>
<p>甘寒，治時行瘟疫傷寒火　，抹痱，春雪有蟲不用。</p>
<h4>冰</h4>
<p>甘寒，治傷寒陽毒昏迷，解燒酒毒。</p>
<h4>潦水</h4>
<p>甘平，宜煎調脾胃去濕熱之藥，降注雨水為潦，淫雨亦為潦。</p>
<h4>半天河</h4>
<p>竹籬頭及空樹穴中水也，甘微寒，治鬼邪蠱毒，洗瘡。</p>
<h4>東流水</h4>
<p>性順疾速，通膈下關，蕩滌邪穢。</p>
<h4>逆流水</h4>
<p>性逆而倒上，宣吐痰飲。</p>
<h4>井水</h4>
<p>甘涼，清熱助陰，平旦新汲者佳。</p>
<h4>醴泉</h4>
<p>甘平，治鬼氣邪穢及心腹痼疾。</p>
<h4>乳穴水</h4>
<p>近乳穴處流出之泉也，甘溫，久服肥健能食體潤不老。</p>
<h4>玉井水</h4>
<p>有玉山內之泉水也，甘平，久服體潤毛髮不白。</p>
<h4>溫泉</h4>
<p>辛熱微毒，患癬疥風癩楊梅瘡者飽食，入池久浴取汗。</p>
<h4>阿井水</h4>
<p>甘咸平，性趨下，清而且重，治瘀濁及逆上之痰，下膈止吐。</p>
<h4>泉水</h4>
<p>出山岩間者是也，甘平，治霍亂煩悶嘔吐，山有毒草惡石者不可用。</p>
<h4>海水</h4>
<p>咸微溫，有小毒，浴風癬吐，下宿食臚脹。</p>
<h4>地漿</h4>
<p>甘寒，陰中之陰，治熱毒中　，解諸毒。</p>
<h4>生熟湯</h4>
<p>調和陰陽治霍亂吐瀉。</p>
<h4>水</h4>
<p>即作黃　菜水也，酸鹹，吐痰飲宿食。</p>
<h4>桑柴火</h4>
<p>能助藥力凡一切補藥諸膏宜此火煎之。</p>
<h4>櫟炭火</h4>
<p>力緊宜　煉金石藥。</p>
<h4>炭火</h4>
<p>力慢宜烹煎炙焙百藥丸散。</p>
<h4>蘆火</h4>
<p>其力不強，不損藥力，宜煎一切滋補藥。</p>
<h4>竹火</h4>
<p>與蘆火同。</p>
<h4>燈火</h4>
<p>去風解毒通經，惟麻油蘇子油燃者可用，余皆損目亦不治病。</p>
<h4>燈花</h4>
<p>止血生肉，敷金瘡，治小兒夜啼。</p>
<h4>黃土</h4>
<p>甘平，治瀉痢熱毒兼解諸毒。</p>
<h4>東壁土</h4>
<p>甘溫，治瘟疫泄痢療瘡癬，東壁得，初日烘炙少火之氣壯，取真火所照之土，引真火發生之氣以補土勝濕，或用南壁土，取離火所照之氣，用西壁土取西方收斂之氣，皆借氣以補脾胃也。</p>
<h4>伏龍肝</h4>
<p>多年灶心黃土對釜穴下者是也，辛溫功專去濕，亦能調中止血消腫催生。</p>
<h4>釜臍墨</h4>
<p>辛溫，止血消積，治血病蠱毒傷寒陽毒，塗金瘡。</p>
<h4>百草霜</h4>
<p>灶突上煙煤也，辛溫，止血消積，治血病及傷寒陽毒口舌諸瘡。</p>
<h4>梁上塵</h4>
<p>辛苦微寒，止血消積，治噎膈中惡小兒軟瘡，燒令煙盡篩取末用。</p>
<h4>墨</h4>
<p>辛溫，止血生肌塗癰腫。</p>
<h4>鵝</h4>
<p>甘溫有毒，發瘡動風，火熏者尤甚。血治反胃噎膈。蛋甘溫補中益氣。</p>
<h4>鴿</h4>
<p>咸平，解藥毒，治瘡癬及人馬久患疥，白色者入藥。蛋解瘡毒痘毒。屎名左盤龍，治痞塊陰毒人馬瘡疥，野鴿者尤良。</p>
<h4>白丁香</h4>
<p>苦溫微毒，消積，治疝瘕、積脹、瘡疽、咽噤、齒目諸病。</p>
<h4>象皮</h4>
<p>治金瘡，長肌肉，外用。</p>
<h4>貓胞</h4>
<p>甘酸溫，治反胃吐食。肉治勞疰鼠　蠱毒。</p>
<h4>豬獾</h4>
<p>甘酸平，長肌肉，治勞熱水脹。</p>
<h4>狗獾</h4>
<p>甘酸平，補中益氣，小兒疳瘦者宜食之。</p>
<h4>獺肝</h4>
<p>甘咸溫，殺蟲治傳尸癆，療魚骨哽。肉甘鹹寒，治骨蒸血熱便秘，消陽氣。</p>
<h4>鼠矢</h4>
<p>甘微寒，治傷寒勞復陰易腹痛，兩頭尖者為雄鼠矢。膽明目治聾。肉治兒疳鼠　。</p>
<h4>白蠟</h4>
<p>甘溫，止血生肌，補虛續筋骨。</p>
<h4>原蠶砂</h4>
<p>二蠶矢也，辛甘溫，去風燥濕，治風濕諸病，炒熨患處亦良。</p>
<h4>壁錢</h4>
<p>即　子窠，治喉痹蟲牙痛及瘡口不斂。</p>
<h4>緋帛</h4>
<p>治惡瘡腫毒，作膏用又敷小兒臍未落時腫痛。五色帛治墮馬及一切筋骨損，拭盜汗。</p>
<h4>鱭魚</h4>
<p>甘溫無毒，發疥助火動痰。</p>
<h4>鱸魚</h4>
<p>甘平有小毒，和腸胃，治水氣發瘡腫，安胎。</p>
<h4>鱖魚</h4>
<p>甘平無毒，益氣力補虛，去腹內惡血小蟲，治腸風瀉血。</p>
<p>療水腫利小便，治口眼　斜，非佳品也，勿多食。</p>
<h4>黃顙魚</h4>
<p>甘平微毒，發瘡疥消水腫，利小便，反荊芥，害人。</p>
<h4>河豚魚</h4>
<p>甘溫有大毒，味雖美，修治失法常殺人。</p>
<h4>比目魚</h4>
<p>甘平無毒，補虛益氣力，多食動氣。</p>
<h4>金魚</h4>
<p>甘咸平，治久痢。</p>
<h4>海蛇</h4>
<p>咸平，治婦人積血小兒風疾。</p>
<h4>瓦楞子</h4>
<p>甘咸平，消痰破血癖。</p>
<h4>人骨</h4>
<p>治骨病　瘡，能接骨，取焚葉者，胎骨有毒服之傷生。</p>
<h4>臍帶</h4>
<p>止瘧，解胎毒，敷臍瘡。</p>
<h4>指甲</h4>
<p>性平，治難產去目中翳障，取孕婦指上者。</p>
<h4>口津唾</h4>
<p>甘咸平，辟邪明目消腫毒。</p>
<h4>月水</h4>
<p>咸熱而毒，解毒箭，治女勞復。月經衣熨金瘡血涌，燒服治虎野狼傷及箭鏃入腹。</p>
<h4>褲襠</h4>
<p>洗汁治女勞，復燒灰治陰陽易，男病用女，女病用男，取近陰處者。</p>
<h4>（攻）蕘花</h4>
<p>苦辛微寒，行水破積聚症瘕，蕩滌腸胃飲食痰飲，治傷寒溫瘧。</p>
<h4>敗蒲</h4>
<p>草名也，破血治霍亂惡瘡跌撲瘀血。</p>
<h4>藜蘆</h4>
<p>辛寒至苦，治蠱毒喉痹，殺蟲，入口即吐，風癇症用之服後吐不止者飲蔥湯即止，與酒同用殺人。</p>
<h4>茹</h4>
<p>辛寒，破血排膿，蝕惡肉殺疥蟲。</p>
<h4>常山</h4>
<p>辛苦寒性猛烈，能引吐行水祛痰飲截瘧，與甘草同用或生用，多用則吐，若酒浸炒透但用錢許，未見其盡吐也。</p>
<h4>馬鞭草</h4>
<p>苦微寒，破血消脹殺蟲，治症瘕疽毒。</p>
<h4>使君子</h4>
<p>甘溫，殺蟲治小兒疳積，多食傷脾食，後飲熱茶作瀉。</p>
<h4>天名精</h4>
<p>辛甘寒，破血吐痰，瀉熱解毒。根名杜牛膝，功用相同，洗痔良。</p>
<h4>劉寄奴</h4>
<p>苦溫，破血下脹除症，止金瘡血，多服令人吐利。</p>
<h4>續隨子</h4>
<p>辛溫，行水破血，解毒利腸，長於利水而攻擊猛鷙，虛者勿服，研去油用。</p>
<h4>鳳仙子</h4>
<p>微苦溫，軟堅透骨通竅，治產難骨哽，消積塊，最能損齒與玉簪根同。花甘溫而滑，活血消積治蛇傷。根葉苦甘辛，散血軟堅，治杖撲腫痛雞魚骨哽及誤吞銅錢。</p>
<h4>蓖麻子</h4>
<p>辛甘熱，能開通諸竅經絡，出有形滯物，利水氣拔毒，外用屢效，內服宜慎食，蓖麻一生不得食炒豆，犯之脹死。</p>
<h4>大楓子</h4>
<p>辛熱，治瘡疥殺蟲劫毒。</p>
<h4>杉木</h4>
<p>辛溫，洗毒瘡漆瘡，除心腹脹滿香港腳腫痛。</p>
<h4>柞木</h4>
<p>苦平下行，利竅催生，用舊鑿柄上卷轉者尤佳。</p>
<h4>肥皂</h4>
<p>辛溫，瀉熱毒除風濕，去垢膩療瘍毒。</p>
<h4>乾漆</h4>
<p>辛溫毒烈，功專行血殺蟲，破年深積滯瘀血，炒至煙盡用，得蟹則成水。</p>
<h4>八角金盤</h4>
<p>苦辛溫毒，其氣猛烈，療麻痹打撲瘀血。</p>
<h4>萊菔子</h4>
<p>辛溫破氣，生用能吐風痰散風寒，炒熟治喘嗽下痢消食止痛，其治痰有衝牆倒壁之功。</p>
<h4>銀朱</h4>
<p>辛溫燥烈，破積滯劫痰涎，兼療瘡疥殺蟲虱。</p>
<h4>水銀</h4>
<p>辛寒陰毒性滑，重直入肉，功專殺蟲解五金毒，墮胎絕孕，同棗肉人唾研則碎。</p>
<h4>鍛石</h4>
<p>辛溫毒烈，燥濕散血生肌，滅瘢疵殺瘡蟲，風化者良。古礦灰火毒已出，治頑瘡斂瘡口。</p>
<h4>砒石</h4>
<p>辛苦酸，大熱大毒，燥胸膈之痰，可作吐藥，殺蟲，出信州錫之苗也，煉者名砒霜尤烈。</p>
<h4>石</h4>
<p>辛大熱而毒，攻寒積，性氣與砒石相近。</p>
<h4>砂</h4>
<p>鹹苦辛熱，消食破瘀，熱毒之性能爛五金、化人心為血。</p>
<h4>硝石</h4>
<p>辛苦微咸，大熱毒烈，破積散堅。</p>
<h4>鹼</h4>
<p>辛苦澀溫，消食磨積去垢，除痰點痣疣發面。</p>
<h4>蟲</h4>
<p>鹹寒有毒，搜剔血積，接折傷治木舌通乳。</p>
<h4>螻蛄</h4>
<p>鹹寒，性急有毒，行水，腰以前甚澀，能止二便，腰以後甚利，能通二便。</p>
<h4>水蛭</h4>
<p>鹹苦平有毒，破血治惡血積聚及丹毒，可染須。</p>
<h4>斑蝥</h4>
<p>辛寒毒，專走下竅，逐敗物治石淋瘰　，潰肉墮胎下　犬毒，外用蝕死肌、敷瘡疥。</p>
<h4>蜂房</h4>
<p>甘平有毒，殺蟲，治癰疽驚癇牙痛。</p>
<h4>鼠婦</h4>
<p>酸溫微寒，治氣癃月閉血瘕寒熱，利水道墮胎。</p>
<h4>蠐螬</h4>
<p>咸微寒有毒，治血瘀、痹氣脅下堅滿、破折、金瘡，下乳療目疾，以背反行者真。</p>
<h4>蜣螂</h4>
<p>酸寒有毒，主癲癇腹脹寒熱奔豚，療瘡墮胎。</p>
<h4>蛇蛻</h4>
<p>甘咸而毒，性竄善去風，能殺蟲辟惡，皂莢水洗炙用。</p>
<h4>牙齒</h4>
<p>咸熱有毒，為痘瘡劫劑。</p>
<h4>（散）開金鎖</h4>
<p>苦平，祛風濕。</p>
<h4>穀精草</h4>
<p>辛溫輕浮，明目兼治頭風喉痹。</p>
<h4>木賊草</h4>
<p>甘苦平，治目疾，有升散火鬱風濕之功，去節能發汗，多服損肝。</p>
<h4>青箱子</h4>
<p>苦微寒，除風熱治目疾，瞳子散大者勿服。</p>
<h4>決明子</h4>
<p>甘苦鹹平，祛風熱治目疾，作枕能去頭風。</p>
<h4>蔓荊子</h4>
<p>苦辛平，升散搜風，通利九竅，治頭面風虛之症。</p>
<h4>蟬蛻</h4>
<p>甘寒輕清，散風熱發痘疹，退目翳，治皮膚瘡疹及小兒夜啼。蚱蟬去熱，治小兒驚癇夜啼，又能下胞胎。</p>
<h4>（寒）角蒿</h4>
<p>辛苦有小毒，治惡瘡有蟲及口齒瘡。</p>
<h4>蚤休</h4>
<p>苦微寒，專理癰疽，除蟲蛇毒兼治驚癇。</p>
<h4>大薊</h4>
<p>甘苦涼，破血退熱，治吐衄腸癰。小薊功用相同而力微。</p>
<h4>紫花地丁</h4>
<p>辛苦寒，瀉熱解毒治瘡疽。</p>
<h4>白蘞</h4>
<p>苦辛甘寒，除熱瀉火毒，散結氣治瘡疽，斂瘡方中多之。赤蘞功用同。</p>
<h4>元寶草</h4>
<p>辛寒補陰，治吐血衄血。</p>
<h4>金星草</h4>
<p>苦冷，瀉熱消腫毒，治癰疽並鮮丹石毒。</p>
<h4>雀梅葉</h4>
<p>酸寒，瀉熱解毒，能治乳癰便毒。</p>
<h4>木鱉子</h4>
<p>苦微甘，治瀉痢瘡毒，生肌除　，專入外科。番木鱉治喉痹消痞塊。</p>
<h4>萬年青</h4>
<p>甘苦寒，治咽喉急閉，搗汁入醋用。子可催生。</p>
<h4>雪裡青</h4>
<p>苦大寒，搗汁治咽喉急閉。</p>
<h4>淡竹葉</h4>
<p>甘淡寒，利小便除煩熱，有走無守，莖葉似竹非竹葉也。</p>
<h4>冬葵子</h4>
<p>甘寒淡滑，潤燥利二便，通營衛消水腫滑胎。根葉同功。蜀葵花寒潤滑利，治淋帶氣血燥。</p>
<h4>雞冠花</h4>
<p>甘涼，治痔漏下血痢疾崩帶。子治腸風，功用略同，苗治瘡痔及血病。</p>
<h4>山慈姑</h4>
<p>甘寒微辛，清熱散結解毒。</p>
<h4>景天</h4>
<p>苦酸寒，純陰之品，獨入離宮，專清熱毒療火丹游風。</p>
<h4>海苔</h4>
<p>鹹寒，軟堅消癭瘤結氣。</p>
<h4>海藻</h4>
<p>苦鹹寒，軟堅瀉熱，消癭瘤結核及痰水濕熱。</p>
<h4>海帶</h4>
<p>下水消癭功同海藻。</p>
<h4>昆布</h4>
<p>功同海藻，性雒而滑，治癭瘤噎膈頑痰積聚。</p>
<h4>側柏葉</h4>
<p>苦寒燥澀，最清血分濕熱，治一切血症、風濕、諸痹、歷節風痛。柏皮治火灼爛瘡，長毛髮。</p>
<h4>山茶花</h4>
<p>甘寒微辛，涼血，治吐衄，用紅者。</p>
<h4>胡桐淚</h4>
<p>苦鹹大寒，入骨瀉熱，軟堅殺蟲，治咽喉口齒諸病。</p>
<h4>棕櫚</h4>
<p>苦澀，泄熱收脫，燒黑能止遠年下血。</p>
<h4>梓白皮</h4>
<p>苦寒，除熱去三蟲治目疾。</p>
<h4>甘李根皮</h4>
<p>大寒，治心煩消渴氣逆奔豚。</p>
<h4>木槿</h4>
<p>苦涼，瀉熱活血潤燥，治蟲癬，作飲服令人得睡。</p>
<h4>紫參</h4>
<p>苦辛微寒，除腸胃大熱，利竅通二便益精，去心腹積聚腸中聚血，療瘡腫治痢。</p>
<h4>樗根皮</h4>
<p>苦寒，燥濕熱澀腸，入血分而澀血，兼去肺胃陳痰，治濕熱諸病有斷下之功。</p>
<h4>椿皮</h4>
<p>功用與樗以相仿而力稍遜，入丸散不入湯劑。</p>
<h4>烏皮</h4>
<p>苦涼，性沉而降，利水通腸瀉熱毒。</p>
<h4>西瓜</h4>
<p>甘寒，解暑清熱利便，多食傷脾助濕。</p>
<h4>菱</h4>
<p>甘寒，清暑安中，多食損陽氣令人腹脹，服暖薑酒即解。</p>
<h4>茶</h4>
<p>苦甘微寒，整肅上膈，下氣消食，去痰熱除煩渴，清頭目醒昏睡能清神解酒食油膩燒炙之毒，止痰厥頭痛，與薑同煎治痢，並能消暑。</p>
<h4>孩兒茶</h4>
<p>以茶末埋土後熬成者，苦澀微寒，清上膈熱，化痰生津，止血收濕塗瘡腫。</p>
<h4>荸薺</h4>
<p>甘寒而滑，消食攻積，除胸中實熱，能毀銅。</p>
<h4>水芹</h4>
<p>甘平，去伏熱風熱，利腸治崩帶黃病。</p>
<h4>旱芹</h4>
<p>甘寒，除煩熱散結，下瘀血止霍亂。</p>
<h4>莧菜</h4>
<p>甘冷，除熱通九竅利腸，滑胎治痢，忌與鱉同食。子祛肝風客熱，明目。</p>
<h4>馬齒莧</h4>
<p>酸寒，散血祛風，殺蟲利腸滑產，治瘡亦忌鱉。子明目。</p>
<h4>菜瓜</h4>
<p>甘寒，利腸胃去煩熱。</p>
<h4>黃瓜</h4>
<p>甘寒，清熱利水道。</p>
<h4>王瓜</h4>
<p>即土瓜根，苦寒，瀉熱利水，行血滑腸，治天行熱疾，主治略似栝蔞，惟實熱壅滯者宜用之。</p>
<h4>魚荊草</h4>
<p>辛微寒，瀉熱解毒，治瘡斷　疾。</p>
<h4>蔓菁子</h4>
<p>苦辛平，瀉熱利水明目，解毒敷瘡疽。根解酒毒塗熱毒。葉消食下氣。</p>
<h4>蕨</h4>
<p>甘寒滑，去暴熱利水，亦可澄粉食。</p>
<h4>海粉</h4>
<p>甘鹹寒，潤化堅頑熱諸痰，消癭瘤積塊，治煩熱養陰氣。</p>
<h4>醬</h4>
<p>咸冷利，解藥食湯火諸毒，宜用豆醬。</p>
<h4>凝水石</h4>
<p>辛鹹大寒，能治時氣熱盛。</p>
<h4>鵲</h4>
<p>甘寒，消結熱去風通淋，用雄者。</p>
<h4>馬肉</h4>
<p>辛苦冷，有毒不宜食。白馬溺辛寒，殺蟲消症。</p>
<h4>兔屎</h4>
<p>辛平，殺蟲明目解毒，治癆疳瘡痔。肉涼血解熱毒利腸。</p>
<h4>五穀蟲</h4>
<p>寒，治熱病毒痢，療疳。</p>
<h4>蝸牛</h4>
<p>鹹寒，清火解熱，治喉痹痔漏小兒驚癇，解蜈蚣毒。蜒蚰治瘡毒塗熱毒痔漏，解蜈蚣毒尤良。</p>
<h4>白頸蚯蚓</h4>
<p>鹹寒而性下行，瀉熱利水治大熱，療腎風香港腳。蚯蚓泥甘寒，瀉熱解毒，治久痢腫毒。</p>
<h4>蚌粉</h4>
<p>鹹寒，解熱燥濕，化痰消積，明目止痢止嘔。肉咸冷，功用相仿，兼治崩帶痔　。</p>
<h4>蜆粉</h4>
<p>與蚌粉同功。肉亦與蚌肉同。</p>
<h4>蜊殼</h4>
<p>咸大寒，洗鶴膝風，塗濕爛瘡。</p>
<h4>田螺</h4>
<p>甘大寒，利濕清熱，能引熱下行，通二便，治毒痢目赤痔瘡。</p>
<h4>螺螄</h4>
<p>甘寒，瀉熱利二便，明目下水。殼瀉濕熱，治痰飲積胃脘痛及瘡痔湯火傷，取泥中及牆上年久者。</p>
<h4>海螄</h4>
<p>鹹寒，瀉熱治瘰　結　寬胸。</p>
<h4>蟹</h4>
<p>鹹寒，散血除熱，通經續筋骨，傷血動風。蟹爪墮胎。</p>
<h4>人中白</h4>
<p>咸涼，降火散瘀，治勞熱瘡疳。</p>
<h4>（熱）草烏頭</h4>
<p>辛苦大熱，搜風勝濕，開頑痰治頑瘡，以毒攻毒頗勝川烏，然毒無所制，不可輕投，薑汁炒或豆腐煮。</p>
<h4>胡椒</h4>
<p>辛大熱，溫中快膈，下氣消痰解毒，治胃寒吐水齒痛，最能僭上。</p>
<h4>畢澄茄</h4>
<p>即胡椒之大者，乃一類二種也，主治略同。</p>
<h4>虎骨</h4>
<p>辛溫，屬金而制水，追風健骨，定痛辟邪，治頭風驚癇用頭骨，手足風用脛骨。肉酸平，益氣力止唾，辟精魅。肚治反胃。睛治小兒夜啼。瓜辟邪鬼。</p>
<h3>附余</h3>
<p>人參、丹參、沙參、苦參、元參、紫參、細辛、芍藥皆與藜蘆相反，大戟、芫花、甘遂、海藻皆與甘草相反，半夏、栝蔞、貝母、白蘞、白芨皆與烏頭相反，石決明反雲母，硫黃反芒硝，烏頭反犀角，水銀反砒霜，巴豆反牽牛，丁香反鬱金，芒硝反三棱，肉桂反石脂，藜蘆反酒黃，顙魚反荊芥，蔥韭與蜜俱相反，醋與蛤肉相反，牛乳與酸物、生魚相反，人參畏五靈脂，野狼毒畏密陀僧，　皮與桔梗、麥冬相惡。之類大抵相反則彼我交仇，不宜合用，非比相畏相惡尚可制伏也。</p>
<p>按：人參畏五靈脂，惡皂莢，反藜蘆，而東垣交　丸用人參、皂莢，是惡而不惡也。古方療月閉四物湯，加人參、五靈脂，是畏而不畏也。又治痰在胸膈，人參、藜蘆同用。而取其涌越，是激其怒性也。又甘草反大戟、芫花、甘遂、海藻，而胡洽治痰癖，十棗湯以芫花、大戟、甘遂煎棗湯入藥末加甘草。東垣治結核，甘草與海藻同用。丹溪治勞瘵，甘草與芫花同用。又黃　畏防風，而玉屏風散防風與黃　同用。牛黃惡龍骨，而龍骨得牛黃反良。非洞奧達權不能知也。</p>
<p>凡藥根升而梢降。</p>
<p>五味主用，苦泄甘緩，酸收咸軟，淡滲泄，辛散，辛甘發散為陽，酸苦涌泄為陰。</p>
<p>苦藥平升，微寒平亦升，甘辛藥平降，甘寒瀉火，苦寒瀉濕熱，苦甘寒瀉血熱。</p>
<p>味之薄者陰中之陽，酸苦鹹平是也；味之濃者陰中之陰，酸苦鹹寒是也；氣之濃者陽中之陽，辛甘溫熱是也；氣之薄者陽中之陰，辛甘淡平涼寒是也。</p>
<p>大毒治病十去其六，常毒治病十去其七，小毒治病十去其八，無毒治病十去其九，毋太過也</p>
<h2>同名附考</h2>
<h3>草類</h3>
<p><u>粉沙參</u></p>
<p>即土參，出江浙。</p>
<p><u>救窮草</u></p>
<p>即黃精似玉竹者，俗呼玉竹黃精，又一種似白芨，俗呼白芨黃精，又呼山生薑。</p>
<p><u>萎蕤</u></p>
<p>即玉竹。</p>
<p><u>野白朮</u></p>
<p>俗呼天生術。</p>
<p><u>定風草</u></p>
<p>即天麻莖，名赤箭。</p>
<p><u>甜桔梗</u></p>
<p>即薺　，一名空沙參，乃一類二種也。</p>
<p><u>仙靈脾</u></p>
<p>一名淫羊藿。</p>
<p><u>胡王使者</u></p>
<p>即羌活。</p>
<p><u>山漆</u></p>
<p>亦作三七，略似人參，俗呼參三七。</p>
<p><u>野丈人</u></p>
<p>即白頭翁，亦名胡王使者。</p>
<p><u>枯芩</u></p>
<p>黃芩之中空者，亦名片芩。</p>
<p><u>條芩</u></p>
<p>黃芩之中實者，亦名子芩。</p>
<p><u>鶴虱</u></p>
<p>即天名精子。</p>
<p><u>蘭草</u></p>
<p>亦名大澤蘭，俗呼省頭草、蘭澤草香草，蓋蘭草澤蘭一類二種也。</p>
<p><u>芎　</u></p>
<p>川產者佳，故稱川芎。</p>
<p><u>蓬莪朮</u></p>
<p>即莪朮，一名蓬朮，亦作蓬莪朮。</p>
<p><u>金盞銀台</u></p>
<p>即王不留行。</p>
<p><u>莎草根</u></p>
<p>即香附。</p>
<p><u>青木香</u></p>
<p>即廣木香。</p>
<p><u>縮砂密</u></p>
<p>即砂仁。</p>
<p><u>草果</u></p>
<p>亦名草豆蔻。</p>
<p><u>肉豆蔻</u></p>
<p>一名肉果。</p>
<p><u>蓽茇</u></p>
<p>茇一作撥</p>
<p><u>假蘇</u></p>
<p>即荊芥。</p>
<p><u>補骨脂</u></p>
<p>一名破故紙。</p>
<p><u>薄苛</u></p>
<p>一作薄荷。</p>
<p><u>龍腦薄荷</u></p>
<p>一名雞蘇，亦名水蘇。</p>
<p><u>紅豆蔻</u></p>
<p>即良薑子。</p>
<p><u>　草</u></p>
<p>一名白米飯草，亦名糯米飯草</p>
<p><u>紅藍花</u></p>
<p>即紅花。</p>
<p><u>扁竹</u></p>
<p>一名　蓄。</p>
<p><u>瞿麥</u></p>
<p>俗呼其花為洛陽花。</p>
<p><u>黃花果</u></p>
<p>即佛耳草，一名鼠曲草。</p>
<p><u>鱧腸</u></p>
<p>即旱蓮草，一名金陵草。</p>
<p><u>女菀</u></p>
<p>即紫菀之白者。</p>
<p><u>草決明</u></p>
<p>一名青葙子，野雞冠子也。</p>
<p><u>茺蔚</u></p>
<p>即益母草。</p>
<p><u>棉花</u></p>
<p>即木棉。</p>
<p><u>烏頭</u></p>
<p>即附子之母，附生者為附子，細長者為天雄，連生者為側子，尖名烏附尖。</p>
<p><u>烏喙</u></p>
<p>即草烏頭。</p>
<p><u>虎掌</u></p>
<p>即南星為末入牛膽，名膽星。</p>
<p><u>黑丑</u></p>
<p>即牽牛子之黑者。</p>
<p><u>大力子</u></p>
<p>即牛旁子，一名鼠黏子，又名惡實。</p>
<p><u>白鶴仙</u></p>
<p>即玉簪。</p>
<p><u>地松</u></p>
<p>即天名精，一名活鹿草，又名蝦蟆藍。</p>
<p><u>杜牛膝</u></p>
<p>即天名精根。</p>
<p><u>烏　</u></p>
<p>一名射干，又名烏扇。</p>
<p><u>貫眾</u></p>
<p>一作管仲。</p>
<p><u>千金子</u></p>
<p>即續隨子</p>
<p><u>重樓金線</u></p>
<p>一名蚤休。</p>
<p><u>生軍</u></p>
<p>即大黃之生用者，如制熟名制軍，大黃極寒，硫黃極熱，故並號將軍。</p>
<p><u>凌霄花</u></p>
<p>即紫葳花。</p>
<p><u>蜀黍</u></p>
<p>即常山莖葉。</p>
<p><u>急性子</u></p>
<p>即鳳仙子，其花亦名金鳳花。</p>
<p><u>野天門冬</u></p>
<p>即百部。</p>
<p><u>過山龍</u></p>
<p>即茜草。</p>
<p><u>忍冬藤</u></p>
<p>即銀花藤葉。</p>
<p><u>金銀花</u></p>
<p>亦呼銀花。</p>
<p><u>土青木香</u></p>
<p>即馬兜鈴根。</p>
<p><u>栝樓</u></p>
<p>俗作瓜蔞。</p>
<p><u>花粉</u></p>
<p>即瓜蔞根。</p>
<p><u>交藤</u></p>
<p>即何首烏赤者，外科稱為瘡帚。</p>
<p><u>木通</u></p>
<p>古稱通草。</p>
<p><u>通草</u></p>
<p>古稱通脫木。</p>
<p><u>番萊菔子</u></p>
<p>即胡盧巴。</p>
<p><u>骨碎補</u></p>
<p>即猴薑俗稱申薑。</p>
<p><u>旋花</u></p>
<p>即旋　，亦名鼓子花，其花不作瓣狀，如軍中所吹鼓子故名，千葉者似牡丹，俗呼纏枝牡丹。</p>
<p><u>金沸草</u></p>
<p>一名旋覆花。</p>
<p><u>木斛</u></p>
<p>即石斛之味苦者。</p>
<p><u>　苡</u></p>
<p>即車前子。</p>
<p><u>慎火草</u></p>
<p>一名景天，俗呼火焰草。</p>
<p><u>血見愁</u></p>
<p>一名地錦，俗稱血竭，又名醬瓣草。</p>
<p><u>蜀葵子</u></p>
<p>即冬葵子。</p>
<p><u>仙遺糧</u></p>
<p>即土茯苓，俗呼冷飯團。</p>
<p><u>卷耳</u></p>
<p>即蒼耳子，一名　耳，又名羊負來。</p>
<p><u>千年　</u></p>
<p>一名萬年青。</p>
<p><u>過冬青</u></p>
<p>一名雪裡青。</p>
<p><u>青木香藤</u></p>
<p>一名天仙藤。</p>
<p><u>鬧羊花子</u></p>
<p>一名土連翹。</p>
<p><u>金燈籠</u></p>
<p>即山慈姑，又名毛姑。</p>
<p><u>營實</u></p>
<p>即薔薇子。</p>
<p><u>月季花</u></p>
<p>一名月月紅。</p>
<p><u>鳳尾草</u></p>
<p>一名金星草，又名七星草。</p>
<p><u>相思草</u></p>
<p>即煙。</p>
<h3>木類</h3>
<p><u>瀝青</u></p>
<p>即松香，一名松脂。</p>
<p><u>木犀花</u></p>
<p>即桂花。</p>
<p><u>夜合</u></p>
<p>即合歡皮。</p>
<p><u>文武實</u></p>
<p>即桑葚。</p>
<p><u>冬青</u></p>
<p>女貞子與冬青古分二種，實一物也。</p>
<p><u>薰陸香</u></p>
<p>即乳香。</p>
<p><u>龍腦香</u></p>
<p>即冰片。</p>
<p><u>麒麟竭</u></p>
<p>即血竭。</p>
<p><u>白膠香</u></p>
<p>一名楓香脂。</p>
<p><u>雞舌香</u></p>
<p>即丁香之雌者，亦名母丁香，雄者名公丁香。</p>
<p><u>安息香</u></p>
<p>安息國名也。</p>
<p><u>紫金藤</u></p>
<p>即降香。</p>
<p><u>蘇合香</u></p>
<p>即蘇合油。</p>
<p><u>槐角</u></p>
<p>即槐實。</p>
<p><u>訶黎勒</u></p>
<p>即訶子。</p>
<p><u>剛子</u></p>
<p>即巴豆。</p>
<p><u>杉材</u></p>
<p>即杉木。</p>
<p><u>鑿子木</u></p>
<p>即柞木。</p>
<p><u>無食子</u></p>
<p>一名沒石子。</p>
<p><u>木筆花</u></p>
<p>即辛夷，一名迎春花。</p>
<p><u>皂莢</u></p>
<p>即皂角。</p>
<p><u>蘇方木</u></p>
<p>即蘇木。</p>
<p><u>天精草</u></p>
<p>即地骨皮之葉。</p>
<p><u>穀實</u></p>
<p>即楮實。</p>
<p><u>白　</u></p>
<p>即蕤仁。</p>
<p><u>貓兒刺</u></p>
<p>即老鼠刺，一名八角茶，又名狗骨。</p>
<p><u>南天燭</u></p>
<p>一名南燭，即楊桐也。</p>
<p><u>金鈴子</u></p>
<p>即川楝子。</p>
<p><u>赤檉柳</u></p>
<p>一名西河柳。</p>
<p><u>黃松節</u></p>
<p>即茯神心中木。</p>
<p><u>香椿根皮</u></p>
<p>即椿皮。</p>
<p><u>臭椿皮</u></p>
<p>即樗根皮。</p>
<p><u>臭橘葉</u></p>
<p>一作枸橘。</p>
<h3>果類</h3>
<p><u>益智</u></p>
<p>即龍眼肉俗名桂圓。</p>
<p><u>棠球子</u></p>
<p>即山楂。</p>
<p><u>橘皮</u></p>
<p>即廣皮橘之青者，名青皮廣皮，去白名橘紅，陳者名陳皮。</p>
<p><u>香欒</u></p>
<p>即香團柚之屬也，小者為蜜筒，大者為朱欒，最大者為香欒。</p>
<p><u>香椽</u></p>
<p>即佛手柑，古作枸椽。</p>
<p><u>銀杏</u></p>
<p>即白果。</p>
<p><u>雞頭子</u></p>
<p>一名芡實。</p>
<p><u>木蜜</u></p>
<p>即枳　子，俗名雞距子，亦名木餳。</p>
<p><u>藕實</u></p>
<p>即蓮子。</p>
<p><u>林檎</u></p>
<p>即花紅。</p>
<p><u>鹿蔥</u></p>
<p>即萱草，亦作諼草，又名宜男草，忘憂草。</p>
<p><u>瓜丁</u></p>
<p>即甜瓜蒂，一名苦丁香，甜瓜即俗呼熟瓜者是。</p>
<p><u>烏芋</u></p>
<p>即荸薺，亦名地栗。</p>
<p><u>芰實</u></p>
<p>即菱，亦名菱角。</p>
<p><u>大腹檳榔</u></p>
<p>即大腹皮子。</p>
<p><u>蜀椒</u></p>
<p>即川椒，去殼名椒紅。</p>
<p><u>秦椒</u></p>
<p>俗稱花椒。</p>
<p><u>畢澄茄</u></p>
<p>即胡椒之大者，乃一類二種也。</p>
<p><u>茶</u></p>
<p>古名茗，苦茶即臘茶。</p>
<h3>菜類</h3>
<p><u>薯蕷</u></p>
<p>即山藥結藤上者，名零余子。</p>
<p><u>山薯</u></p>
<p>即甘薯。</p>
<p><u>黑薑</u></p>
<p>即炮薑。</p>
<p><u>　子</u></p>
<p>即薤白。</p>
<p><u>葫</u></p>
<p>即大蒜。</p>
<p><u>　實</u></p>
<p>即薺菜子，亦名菥　子。</p>
<p><u>茼蒿</u></p>
<p>即蓬蒿菜。</p>
<p><u>　菜</u></p>
<p>即　菜。</p>
<p><u>菘菜</u></p>
<p>即白菜。</p>
<p><u>芸苔</u></p>
<p>即油菜。</p>
<p><u>紫英</u></p>
<p>即紫菜。</p>
<p><u>黃瓜菜</u></p>
<p>即黃花菜。</p>
<p><u>石發</u></p>
<p>一名龍須菜。</p>
<p><u>萵苣</u></p>
<p>即萵苣筍。</p>
<p><u>生菜</u></p>
<p>亦名白苣。</p>
<p><u>雞腳菜</u></p>
<p>即石花菜。</p>
<p><u>菰筍</u></p>
<p>即茭白，一名茭筍，亦名菰菜，根名菰根，實名雕胡米。</p>
<p><u>天羅</u></p>
<p>即絲瓜，一名蠻瓜。</p>
<p><u>白瓜</u></p>
<p>即冬瓜。</p>
<p><u>胡瓜</u></p>
<p>即黃瓜。</p>
<p><u>王瓜</u></p>
<p>即土瓜根，非黃瓜也。</p>
<p><u>諸葛菜</u></p>
<p>一名蔓菁子，即蕪菁。</p>
<p><u>越瓜</u></p>
<p>即菜瓜，亦名梢瓜。</p>
<p><u>蘿卜子</u></p>
<p>一作萊菔子。</p>
<p><u>匏瓜</u></p>
<p>即葫蘆，一作壺盧。</p>
<p><u>落蘇</u></p>
<p>即茄子。</p>
<p><u>蒔蘿</u></p>
<p>即小茴香。</p>
<p><u>舶茴香</u></p>
<p>即八角茴香。</p>
<p><u>　香</u></p>
<p>即大茴香。</p>
<p><u>地蕈</u></p>
<p>一名土菌。</p>
<p><u>蕺</u></p>
<p>一名魚腥草。</p>
<h3>穀類</h3>
<p><u>薏苡仁</u></p>
<p>即米仁。</p>
<p><u>火麻</u></p>
<p>即麻仁，一名黃麻。</p>
<p><u>巨勝子</u></p>
<p>胡麻之八棱者是也。</p>
<p><u>壁虱胡麻</u></p>
<p>一名亞麻。</p>
<p><u>小粉</u></p>
<p>小麥澄出粉也。</p>
<p><u>膠飴</u></p>
<p>即飴糖。</p>
<p><u>雀麥</u></p>
<p>即野麥。</p>
<p><u>稻</u></p>
<p>即黍米。</p>
<p><u>占米</u></p>
<p>即　米。</p>
<p><u>米瀋</u></p>
<p>即米泔。</p>
<p><u>黍</u></p>
<p>稷之不黏者為黍。</p>
<p><u>粟</u></p>
<p>即小米，粱之小者是也。</p>
<p><u>粱</u></p>
<p>粟之大者為粱。</p>
<p><u>自然谷</u></p>
<p>一名　草子，亦名禹餘糧。</p>
<p><u>守氣</u></p>
<p>一名　草米。</p>
<p><u>黃米</u></p>
<p>一名秫，即粟粱之黏者。</p>
<p><u>茭米</u></p>
<p>一名菰米。</p>
<p><u>蜀黍</u></p>
<p>即高粱，一名蘆　，俗名蜀秫，又名蘆粟。</p>
<p><u>玉高粱</u></p>
<p>一名玉蜀黍。</p>
<p><u>黑豆</u></p>
<p>小者名馬料豆。</p>
<p><u>龍瓜粟</u></p>
<p>一名　子，又名鴨爪粟。</p>
<p><u>飯豆</u></p>
<p>一名白豆。</p>
<p><u>赤小豆</u></p>
<p>緊小黯赤者入藥，稍大而鮮紅者不治病，米紅米黑者是相思子，亦名紅豆。</p>
<p><u>豆　</u></p>
<p>即大豆黃卷。</p>
<p><u>狸豆</u></p>
<p>一作黎豆。</p>
<p><u>苦酒</u></p>
<p>即米醋，古名醯。</p>
<p><u>御米殼</u></p>
<p>即罌粟殼，其花名麗春花。</p>
<p><u>阿芙蓉</u></p>
<p>即鴉片，一名阿罌，粟花之精液也。</p>
<h3>金石類</h3>
<p><u>銅青</u></p>
<p>即銅綠。</p>
<p><u>鐵落</u></p>
<p>即鐵屑　時砧上打落者是也，又如塵飛起者名鐵精鹽，醋浸出者名鐵華，器物生衣者名鐵鏽，作針家細末名針砂。</p>
<p><u>水粉</u></p>
<p>即鉛粉，亦名宮粉，又名胡粉、錫粉、定粉、瓦粉、白粉。</p>
<p><u>鉛丹</u></p>
<p>即黃丹，系黑鉛煉成。</p>
<p><u>吸鐵石</u></p>
<p>一名磁石。</p>
<p><u>海石</u></p>
<p>亦名浮石。</p>
<p><u>信石</u></p>
<p>即砒石，生者名砒黃，煉者名砒霜，錫苗也。</p>
<p><u>焰硝</u></p>
<p>一名硝石，亦名火硝。</p>
<p><u>寒水石</u></p>
<p>一名凝水石，鹽精結成。按：古方所用寒水石即凝水石，唐末諸方所用寨水石即石羔也。</p>
<p><u>花乳石</u></p>
<p>即花芷石。</p>
<p><u>箭鏃砂</u></p>
<p>即朱砂，亦名辰砂。</p>
<p><u>雄黃</u></p>
<p>生山之陽者名雄黃，生山之陰者名雌黃，劣者名薰黃。</p>
<p><u>芒硝朴硝</u></p>
<p>刮鹵煎煉在底者名為朴硝，即皮硝，在上者為芒硝，亦名盆硝，有牙者名馬牙硝，風化者名風化硝。</p>
<p><u>地龍骨</u></p>
<p>即古礦灰。</p>
<p><u>石炭</u></p>
<p>即煤炭。</p>
<p><u>石膽</u></p>
<p>即膽礬，產銅坑中，銅之精液也。</p>
<p><u>白礬</u></p>
<p>用火升者為礬精，再以醋化者為礬華。</p>
<p><u>青礬</u></p>
<p>一名綠礬，亦名皂礬，　赤者名絳礬。</p>
<p><u>戎鹽</u></p>
<p>一名青鹽。</p>
<p><u>鵝管</u></p>
<p>即鐘乳。</p>
<h3>水類</h3>
<p><u>霉雨水</u></p>
<p>即梅雨水。</p>
<p><u>藥雨水</u></p>
<p>即液雨水。</p>
<p><u>上池水</u></p>
<p>一名半天河。</p>
<p><u>井水</u></p>
<p>平旦新汲者名井華水。</p>
<p><u>甘泉</u></p>
<p>一名醴泉。</p>
<p><u>溫湯</u></p>
<p>即溫泉，廬山是硫磺泉，新安黃山是朱砂泉，長安驪山是　石泉，又出砒石處亦有溫泉。</p>
<p><u>土漿</u></p>
<p>即地漿，掘黃土地作坎深三尺，以新汲水沃入攪濁，少頃取清者用。</p>
<p><u>勞水</u></p>
<p>一名甘爛水，又名揚汛水，用流水二斗置大盆中，以杓高揭之千萬遍，有沸珠相逐乃取用。</p>
<p><u>太和湯</u></p>
<p>即百沸湯，一名麻沸湯。</p>
<p><u>陰陽水</u></p>
<p>即生熱湯，用新汲水、百沸湯對合和勻。</p>
<h3>土類</h3>
<p><u>百草霜</u></p>
<p>即灶突上煙煤。</p>
<p><u>釜煤</u></p>
<p>一名釜臍墨，亦名釜底墨。</p>
<p><u>烏龍尾</u></p>
<p>一名梁上塵，即倒掛塵。</p>
<h3>禽類</h3>
<p><u>燕蔬</u></p>
<p>即燕窩。</p>
<p><u>雞內金</u></p>
<p>即雞肫皮，一名　。</p>
<p><u>雞矢醴</u></p>
<p>即雞屎白，惟雄雞屎乃有白。</p>
<p><u>　</u></p>
<p>即鴨。</p>
<p><u>鳧</u></p>
<p>即野鴨。</p>
<p><u>鵓鴿</u></p>
<p>即鴿。</p>
<p><u>鴿屎</u></p>
<p>一名左盤龍。</p>
<p><u>雀</u></p>
<p>老而斑者為麻雀，小而黃口者為黃雀。</p>
<p><u>雀矢</u></p>
<p>一名白丁香。</p>
<p><u>土燕</u></p>
<p>一名禽石燕，似蝙蝠而口方，食石乳汁。</p>
<p><u>野雞</u></p>
<p>即雉雞。</p>
<p><u>　</u></p>
<p>一名油鴨，又名刁鴨。</p>
<p><u>　鵝油</u></p>
<p>一名鵜鶘油。</p>
<p><u>天鼠矢</u></p>
<p>一名夜明砂蝙蝠矢也砂皆蚊眼</p>
<h3>獸類</h3>
<p><u>當門子</u></p>
<p>即麝香。</p>
<p><u>牛黃</u></p>
<p>即犀牛之黃，稱犀黃，活牛吐黃時收得者為生黃，殺後角中得者名角黃，心中得者名心黃，肝膽中得者名肝膽黃，成塊成粒均不及生者，如非犀牛功力遠遜。</p>
<p><u>斑龍</u></p>
<p>鹿之別名。</p>
<p><u>黃明膠</u></p>
<p>即牛皮膠。</p>
<p><u>狗</u></p>
<p>道家以狗為地厭，雁為天厭，魚鳥為水厭，皆不宜食。</p>
<p><u>溫肭臍</u></p>
<p>即海狗腎。</p>
<p><u>　</u></p>
<p>即豬獾。</p>
<p><u>天狗</u></p>
<p>即狗獾。</p>
<p><u>刺　皮</u></p>
<p>古作匯，俗名刺血。</p>
<p><u>明月砂</u></p>
<p>即兔屎。</p>
<h3>蟲類</h3>
<p><u>蟬蛻</u></p>
<p>蛻俗作退。</p>
<p><u>蚊蟲</u></p>
<p>即虻蟲，名蜚蟲。</p>
<p><u>地鱉蟲</u></p>
<p>即　蟲。</p>
<p><u>馬蟥</u></p>
<p>一名水蛭。</p>
<p><u>癩蝦蟆</u></p>
<p>一名蟾蜍，眉間白汁名蟾酥。</p>
<p><u>桑蟲</u></p>
<p>即桑蟲，古名桑蠹，又名桑蠍。</p>
<p><u>斑蝥</u></p>
<p>一作斑貓，食芫花者為　，青春生；食葛花者為葛上亭，長夏生；食豆花者為斑蝥，秋生；至冬入地則為地膽，乃一物而四時變化者。</p>
<p><u>即蛆</u></p>
<p>即蜈蚣。</p>
<p><u>黑　蟲</u></p>
<p>一名九香蟲。</p>
<p><u>蛙</u></p>
<p>即田雞。</p>
<p><u>白蠟</u></p>
<p>蟲食冬青樹汁化為白脂，溶煮而成者，唐宋以前所用皆蜜白蠟，自元以來始用蟲白蠟。</p>
<p><u>蠍</u></p>
<p>全用謂之全蠍，尾名蠍稍。</p>
<p><u>文蛤</u></p>
<p>一名五倍子，蟲食鹽膚木汁遺種於桑間者，故功與鹽膚子葉相同，造釀作餅名百藥煎。</p>
<p><u>蝸牛</u></p>
<p>蜒蚰之負殼而行者，無殼名蜒蚰。</p>
<p><u>六一泥</u></p>
<p>一名蚯蚓泥，即蚯蚓屎也。</p>
<p><u>推丸</u></p>
<p>一名蜣螂，大者名胡蜣螂。</p>
<p><u>糞蛆</u></p>
<p>一名五穀蟲。</p>
<p><u>地雞</u></p>
<p>一名鼠婦，亦名濕生蟲，常著鼠背故又名鼠負。</p>
<p><u>　子窠</u></p>
<p>一名壁錢。</p>
<h3>魚類</h3>
<p><u>　魚</u></p>
<p>即鰱魚。</p>
<p><u>鯇魚</u></p>
<p>即草魚。</p>
<p><u>魴魚</u></p>
<p>即　魚。</p>
<p><u>鱧魚</u></p>
<p>一名烏魚，即七星魚，俗呼烏鱧魚。</p>
<p><u>江魚</u></p>
<p>一名石首魚，又名黃花魚。</p>
<p><u>海螵蛸</u></p>
<p>一名烏賊骨，亦作烏　骨，其魚亦名墨魚。</p>
<p><u>魷魚</u></p>
<p>即泥鰍。</p>
<p><u>刺參</u></p>
<p>一名海參。</p>
<p><u>箬魚</u></p>
<p>即比目魚。</p>
<p><u>薊花魚</u></p>
<p>本名鱖魚。</p>
<p><u>　殘魚</u></p>
<p>或謂即紙魚。</p>
<h3>鱗介類</h3>
<p><u>鯪鯉</u></p>
<p>一名穿山甲。</p>
<p><u>蛤蚧</u></p>
<p>雄為蛤雌為蚧。</p>
<p><u>魁蛤</u></p>
<p>一名瓦楞子，又名瓦屋子，俗呼蚶子。</p>
<p><u>車蛤</u></p>
<p>一名西施舌。</p>
<p><u>麥螺</u></p>
<p>即吐鐵，亦名梅螺。</p>
<p><u>　</u></p>
<p>即蜊殼，一名海鏡，一名海月，又名蠣鏡，俗呼明瓦。</p>
<p><u>蝸蠃</u></p>
<p>即螺螄。</p>
<p><u>文蛤</u></p>
<p>蛤蜊之屬，五倍子亦名文蛤，取其形似爾。</p>
<p><u>白花蛇</u></p>
<p>即蘄蛇。</p>
<h3>人類</h3>
<p><u>血余</u></p>
<p>即發。</p>
<p><u>人胞</u></p>
<p>一名紫河車，一名混肫皮，又混肫衣。</p>
<p><u>坎氣</u></p>
<p>即臍帶，一名命蒂。</p>
<p><u>紅鉛</u></p>
<p>即月水，亦名月經、月信，又名天癸。</p>
<p><u>糞清</u></p>
<p>一名金汁。</p>
<p><u>還元水</u></p>
<p>即童便，飲自己溺名回輪酒。</p>
<p><u>秋冰</u></p>
<p>秋石之再升者。</p>
<p><u>溺白　</u></p>
<p>即人中白。</p>
