<header><h1>絳雪園古方選註</h1></header>
<dl class="元資料" data-type="book">
<div><dt>作者</dt><dd>王子接</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1644/1911">公元1644年至公元1911年</data></dd></div>
<div><dt>底本</dt><dd>《欽定四庫全書·子部五·醫家類·絳雪園古方選註》（<a href="https://www.kanripo.org/text/KR3e0095/">掃描及文字化本</a>）</dd></div>
</dl>
<h2>魏序</h2>
<p>夫士君子立言，不有實學，焉能附於古聖賢之末；非有卓識，又安能窺夫古聖賢之心。</p>
<p>余嘗言可上契一百化生其要十年三者相之暇選注，又覺珠玉之在前矣，殆仲景之功臣，古昔聖賢之羽翼也。以之砭俗學而示來茲，流之一壺也。夫余髦矣，一官去守，匆匆北歸，不能更與王子把臂朝夕，疑義相晰，不然。書此為序，兼志別焉。</p>
<p><u>時雍正辛亥季春年家弟　鄉魏荔彤念庭氏題。</u></p>
<h2>自序</h2>
<p>嘗讀《周禮》，疾醫掌養萬民之疾病，以五味、五穀、五藥養其病，以五聲、五氣、五色視準乎其於</p>
<p>《脈尚軒岐著《靈》、《素》，伊芳尹巫咸作《湯液》，扁鵲解《八十一難》，皆醫中上聖，莫或儷至東漢張仲景著書一十六卷，其《傷寒論》申明六經治病，采擇祖方，化成百十三方、九十七法，處方則一成而不易，用法則萬變而不滯，上紹軒黃，下開來哲，猶馬遷之於子美之於詩，平原之於書，可謂兼先聖之長，其醫學之集大成者乎？厥後唐王冰始有注宋錢仲陽發議論，迨成無己有方解，吳鶴皋有方考，柯韻伯有《名醫方論》，國朝汪集眾說而成注，遞相祖述，輔翼前人，厥功偉矣。獨於方之有矩，法之有規，猶鮮有旁通之者。夫用藥之道，等於用兵，廢孫吳之法，而曰我善為陣、我善為戰，烏合之眾，足為節制之師也明矣。然車戰之制，房　用之而卒以致敗，則神明變化之用，終有未盡余不敏，竊選古方之合於三方四制十劑者，為之顯微闡幽，申明其方之中矩，法之中規柔有變，約制有道，治三焦則分大小之制，處銖兩則分多寡之數，其間辨五行之生化，時之溫嚴，審人事之陰陽虛實，與夫藥性之君臣佐使，無不調而劑焉，所謂運用之妙，一心，皆古人未發之蘊，而猶不敢參以臆說也。蓋醫之精義，皆具於書，顧世人習焉而耳，因厘為三卷。上卷獨明仲景一百一十三方、三百九十七法，中下二卷發明內科、女瘍科、幼科、眼科及各科之方，末附雜方藥性，名曰《古方選注》。雖不敢謂有當於立業，然古人之書本可以不朽，而余得疏通推闡於後，則質之古人，或不至以余言為繆戾於《周禮》疾醫之旨，殆亦有合也夫？遂書之以為序，雍正十年九月望後六日古吳王子三序並書，時年七十有五。</p>
<h2>絳雪園古方選注條目</h2>
<p>（仲景《傷寒論》辨六經為病，非辨風寒也，其方亦以上下表裡寒熱為治，非專治傷寒也。</p>
<p>或變，寒論桂枝湯，和劑祖方也。</p>
<p>白虎湯，寒劑祖方也。</p>
<p>四逆湯，溫劑祖方也。</p>
<p>麻黃湯，汗劑祖方也。</p>
<p>梔豉湯，吐劑祖方也。</p>
<p>承氣湯，下劑祖方也。</p>
<p>梔豉湯、瓜蒂散，宣可決壅也。</p>
<p>五苓散、十棗湯，通可行滯也。</p>
<p>附子湯、理中丸，補可扶弱也。</p>
<p>陷胸湯、承氣湯，抵當湯，泄可去閉也。</p>
<p>麻黃湯、葛根湯，輕可散實也。</p>
<p>龍骨牡蠣湯，重可鎮怯也。</p>
<p>石脂丸、桃花湯，澀可去脫也。</p>
<p>豬膽導、蜜煎導，滑可去著也。</p>
<p>麻黃連翹赤小豆湯，燥可去濕也。</p>
<p>黃連阿膠湯，潤可去枯也。</p>
<p>白虎湯，寒能勝熱也。</p>
<p>白通湯、四逆湯，熱可制寒也。</p>
<p>桂枝湯，解肌表之汗，是宣發形肉之陽氣也。</p>
<p>麻黃湯，發經絡之汗，是疏通血脈之陰氣也。</p>
<p>葛根湯，解肌肉之汗，是升提津液之清氣也。</p>
<p>大青龍湯，泄胸中之汗，清內擾之陽氣也。</p>
<p>小青龍湯，發心中之汗，滌內蓄之水氣也。</p>
<p>麻黃湯，邪傷營而不傷形者，竟發汗以散邪也。</p>
<p>桂枝湯，邪傷衛而已傷形者，服之　粥漬形以為汗也。</p>
<p>麻黃細辛湯，用附子升腎液以為汗也。</p>
<p>附子湯，用人參固腎液以止汗也。</p>
<p>柴胡湯，重用寒涼，陽經之邪不欲其太升也。</p>
<p>烏梅丸，重用辛熱，陰經之邪不欲其太收也。</p>
<p>麻黃湯，病從外之內者，仍治其外也。</p>
<p>梔豉湯，病從內之外者，仍調其內也。</p>
<p>桂枝湯，病雖入裡而表症仍在者，當先和其表也。</p>
<p>調胃承氣湯，症雖有表而裡症甚者，當先調其內也。</p>
<p>大柴胡湯、小柴胡湯，從半表半裡者，當和其內外也。</p>
<p>小柴胡湯，治輕邪在腠理。</p>
<p>大柴胡湯，治濁邪入募原。</p>
<p>桂枝湯，僅解太陽初感之邪。</p>
<p>柴胡湯，可調三陽半表之症。</p>
<p>麻黃附子湯，治邪從陽分注經之症。</p>
<p>附子湯，治邪從陰分內注於骨之症。</p>
<p>小青龍湯，治表熱裡寒。</p>
<p>大青龍湯，治表寒裡熱。</p>
<p>四逆散，解少陰裡熱。</p>
<p>當歸四逆湯，散厥陰表寒。</p>
<p>通脈四逆湯，救少陰亡陽。</p>
<p>茯苓四逆湯，救太陽亡陰。</p>
<p>白虎湯、承氣湯，存中焦之陰，以和胃氣。</p>
<p>白頭翁湯、四逆散，救下焦之陰，以清脾氣。</p>
<p>麻黃附子細辛湯、黃連阿膠湯、甘草湯、桔梗湯、豬膚湯、半夏湯、苦酒湯，治陽邪傷少陰桃花湯、豬苓湯，治陽邪傷少陰之陰。</p>
<p>附子湯、吳茱萸湯，治陰邪傷少陰之陽。</p>
<p>通脈四逆湯、茯苓四逆湯、乾薑四逆湯，治陰邪傷少陰之陰。</p>
<p>附子督麻黃，從少陰出太陽。</p>
<p>大承氣不設監制，從太陰入陽明。</p>
<p>麻黃湯，發營中熱汗。</p>
<p>瓜蒂散、梔豉湯，吐胸中寒飲。</p>
<p>瓜蒂散，吐上焦之重劑。</p>
<p>梔豉湯，吐中焦之輕劑。</p>
<p>十棗湯、大陷胸丸，治中焦之水，瀉之於內也。</p>
<p>桂枝去桂加茯苓朮，治下焦之水，引而竭之也。</p>
<p>小青龍湯，治動而逆上之水。</p>
<p>五苓散，治靜而不行之水。</p>
<p>十棗湯，治彌漫之水。</p>
<p>大陷胸，治痞滿之水。</p>
<p>真武湯，治沉著之水。</p>
<p>小青龍，治寒邪未解之水，故溫以汗之。</p>
<p>十棗湯，治陽邪未解之水，故引而竭之。</p>
<p>小青龍，入太陽治陽水，功兼外散。</p>
<p>真武湯，入少陰治陰水，功專下滲。</p>
<p>烏梅丸，治陰經厥利，故兼溫補。</p>
<p>白頭翁湯，治陽邪熱利，故專涼散。</p>
<p>十棗湯、五苓散，下太陽水道之邪。</p>
<p>大柴胡湯，下少陽氣分之邪。</p>
<p>三承氣湯，下陽明穀道之邪。</p>
<p>桂枝加大黃湯，下太陰轉陽明之邪。</p>
<p>桂枝加芍藥湯，和太陽轉太陰之邪。</p>
<p>柴胡東加芒硝，下少陰轉陽明之邪。</p>
<p>大柴胡湯，下少陽無形之邪。</p>
<p>柴胡東加芒硝，下少陽有形之邪。</p>
<p>桂枝加芍藥湯，下太陰無形之邪。</p>
<p>三物白散，下太陰有形之邪。</p>
<p>四逆散，下少陰無形之邪。</p>
<p>大、小承氣湯，下諸經有形之邪。</p>
<p>桂枝湯，太陽表劑，多從是東加減。</p>
<p>梔豉湯，陽明表劑，多從是東加減。</p>
<p>小青龍湯，義重半裡，故加減中麻黃可刪。</p>
<p>小柴胡湯，義重半表，故加減中柴胡必存。</p>
<p>桂枝湯，加附子，加大黃，是方外隨症可復。</p>
<p>青龍東加減，真武東加減，即於方內求義損益。</p>
<p>附子湯、吳茱萸湯，加人參從陽固陽。</p>
<p>白虎湯、瀉心湯，加人參從陰濟陰。</p>
<p>當歸四逆湯，不去芍藥，和肝陰也。</p>
<p>白頭翁湯，重用芩連，泄肝熱也。</p>
<p>烏梅丸，黃連一斤，黃柏六兩，重瀉肝熱也。</p>
<p>復脈湯，生地一斤，麥冬八兩，急救肝陰也。</p>
<p>柴胡湯，有加減法者，少陽有變動之用。</p>
<p>烏梅丸，無加減法者，厥陰為止靜之體。</p>
<p>桂枝湯，有疑似症；柴胡湯，亦有疑似症。</p>
<p>柴胡湯，有壞病；桂枝湯，亦有壞病。</p>
<p>桂枝湯症罷，桂枝不中與，隨症治之，仍不離桂枝。</p>
<p>柴胡湯不中與，設法救逆，仍不出柴胡。</p>
<p>桂枝一味，外邪未離營衛，六經皆可用。</p>
<p>柴胡一味，邪留腠理半表，三陽皆可用。</p>
<p>桂枝湯、麻黃湯，主治太陽營衛，亦可治陽明營衛之邪。</p>
<p>真武湯，主治少陰水氣，亦可治太陽汗後亡陽。</p>
<p>四逆湯，主治太陰下利清穀，亦可治太陽脈反沉者。</p>
<p>五苓散，主治太陽消穀水逆，亦可治陽明飲水多者。</p>
<p>豬苓湯，主治少陰下利，亦可治陽明小便不利。</p>
<p>抵當湯，主治太陽瘀血在裡，亦可治陽明蓄血。</p>
<p>瓜蒂散，主治陽明胸中痞硬，亦可治少陰溫溫欲吐。</p>
<p>大青龍湯，脈微汗出惡風者，不可與。</p>
<p>白虎湯，脈浮發熱無汗者，不可與。</p>
<p>瓜蒂散，諸亡血虛者，不可與。</p>
<p>梔子湯，病患舊微溏者，不可與。</p>
<p>豬苓湯，陽明病汗出多者，不可與。</p>
<p>承氣湯，表邪未解，熱不潮者，未可與。</p>
<p>建中湯，嘔家不可與。</p>
<p>桂枝湯，酒家、亡血虛家不可與。</p>
<h2>上卷</h2>
<h3>和劑</h3>
<h4>桂枝湯</h4>
<p>桂枝三兩（去皮）　芍藥三兩　甘草二兩（炙）　生薑三兩（切）　大棗十二枚（擘）</p>
<p>上五味，　咀〔法〕，以水七升，微火煮取三升，去滓〔法〕，適寒溫，服一升〔法〕。</p>
<p>服令周時觀之。服一劑盡，病症猶在者，更作服〔法〕。若汗不出者，乃服二、三劑〔法冷、黏滑、肉面、五辛、酒酪、臭惡等物。</p>
<p>桂枝湯，和方之祖，故列於首。《太陽篇》云，桂枝本為解肌，明非發汗也。桂枝甘草辛甘棗解足</p>
<h4>桂枝甘草湯</h4>
<p>桂枝四兩（去皮）　甘草二兩（炙）</p>
<p>上二味，以水三升，煮取一升，去滓〔法〕頓服〔法〕。</p>
<p>桂枝湯中采取二味成方，便另有精蘊，勿以平淡而忽之。桂枝復甘草，是辛從甘化，為陽中一裡</p>
<h4>芍藥甘草湯</h4>
<p>芍藥四兩　甘草四兩（炙）</p>
<p>上二味，　咀〔法〕，以水三升，煮取一升半，去滓〔法〕，分溫再服〔法〕。</p>
<p>此亦桂枝湯之變，偏於營分，純一不雜之方。</p>
<p>讀《傷寒論》反煩、更煩、心悸而煩，皆用芍芍，惟許弘《方議》、《聖惠方》是赤芍。今裡氣不草，酸甘化陰止煩。觀其去薑棗，恐生薑散表，大</p>
<h4>桂枝加桂湯</h4>
<p>桂枝五兩（去皮）　白芍三兩　甘草二兩（炙）　生薑一兩　大棗十二枚（擘）</p>
<p>上五味，以水七升，煮取三升，去滓〔法〕，溫服一升〔法〕。</p>
<p>桂枝湯，太陽經藥也。奔豚，腎邪上逆也。用太陽經藥治少陰病者，水邪上逆，由於外召寒數，四分</p>
<h4>桂枝加芍藥湯</h4>
<p>芍藥六兩　桂枝三兩（去皮）　甘草二兩　生薑三兩（切）　大棗十二枚（擘）</p>
<p>上五味，　咀〔法〕，以水七升，煮取三升，去滓〔法〕，溫服一升〔法〕。</p>
<p>桂枝加芍藥湯，此用陰和陽法也。其妙即以太陽之方，求治太陰之病，腹滿時痛，陰道虛也監桂留滯</p>
<h4>桂枝加芍藥生薑人參新加湯</h4>
<p>桂枝三兩（去皮）　芍藥四兩　生薑四兩（切）　甘草二兩（炙）　人參三兩　大棗十二枚（擘）</p>
<p>上六味，　咀四味〔法〕，以水一斗二升，煮取三升，去滓〔法〕，溫服一升〔法〕。</p>
<p>桂枝湯，調和營衛，一絲不亂，桂枝生薑和衛，芍藥大棗和營。今祖桂枝人參湯法，則偏於仍</p>
<h4>桂枝加葛根湯</h4>
<p>葛根四兩　桂枝二兩（去皮）　芍藥二兩　甘草二兩（炙）　生薑三兩（切）　大棗十二枚（擘）</p>
<p>上六味，以水一斗，先煮葛根減二升〔法〕，納諸藥，煮取三升，去滓〔法〕，溫服一升</p>
<p>〔桂枝加葛根湯，治邪從太陽來，才及陽明，即於方中加葛根，先於其所往，以伐陽明之邪。</p>
<p>又可</p>
<h4>桂枝加附子湯</h4>
<p>桂枝三兩（去皮）　芍藥三兩　甘草二兩（炙）　生薑三兩（切）　大棗十二枚（擘）　附子一枚（上六味，　咀〔法〕，以水七升，煮取三升，去滓〔法〕，溫服一升〔法〕。</p>
<p>桂枝加附子，治外亡陽而內脫液。熟附雖能補陽，終屬燥液，四肢難以屈伸，其為液燥，骨外</p>
<h4>桂枝去桂加茯苓白朮湯</h4>
<p>芍藥三兩　甘草二兩（炙）　生薑三兩（切）　大棗十二枚（擘）　茯苓三兩　白朮三兩上六味，　咀〔法〕，以水七升，煮取三升，去滓〔法〕，溫服一升〔法〕，小便利即愈。</p>
<p>苓朮芍甘，治太陽裡水法也。解肌或下，水邪不去，而反變症，是非解肌者矣，當去桂枝，甘</p>
<h4>桂枝去芍藥湯</h4>
<p>桂枝三兩（去皮）　甘草二兩（炙）　生薑三兩（切）　大棗十二枚（擘）</p>
<p>上四味，　咀〔法〕，以水七升，煮取三升，去滓〔法〕，溫服一升〔法〕。</p>
<p>芍藥專益陰氣。桂枝湯去芍藥者，誤下陽虛，濁陰必僭於中焦，故去芍藥之酸寒，存一片陽</p>
<h4>茯苓甘草湯</h4>
<p>茯苓二兩　桂枝二兩（去皮）　生薑二兩（切）　甘草一兩（炙）</p>
<p>上四味，以水四升，煮取二升，去滓〔法〕，分溫三服〔法〕。</p>
<p>茯苓甘草湯，治汗出不渴，其義行陽以統陰，而有調和營衛之妙。甘草佐茯苓，滲裡緩中並虞。</p>
<h4>茯苓桂枝甘草大棗湯</h4>
<p>茯苓八兩　桂枝四兩（去皮）　甘草二兩（炙）　大棗十五枚（擘）</p>
<p>上四味，以甘瀾水一斗〔法〕，先煮茯苓減二升〔法〕，納諸藥，煮取三升，去滓〔法〕，溫服一升〔法〕，日三服〔法〕。作甘瀾水〔法〕，取水二斗，置大盆內，以杓揚之，水上有珠子五六千顆相逐，取用之。</p>
<p>腎氣奔豚，治宜泄之制之。茯苓、桂枝通陽滲泄，保心氣以御水凌，甘草、大棗補脾土以制草湯</p>
<h4>苓桂朮甘湯</h4>
<p>茯苓四兩　桂枝三兩（去皮）　白朮三兩　甘草二兩（炙）</p>
<p>上四味，以水六升，煮取三升，去滓〔法〕，分溫三服〔法〕。</p>
<p>此太陽、太陰方也，膀胱氣鈍則水蓄，脾不行津液則飲聚。白朮、甘草和脾以運津液，茯苓</p>
<h4>小建中湯</h4>
<p>芍藥六兩　甘草三兩　桂枝三兩（去皮）　生薑二兩（切）　大棗十二枚（擘）　膠飴一升上六味，以水七升，煮取三升，去滓〔法〕，納膠飴更上微火消解〔法〕，溫服一升〔法〕</p>
<p>，日三服〔法〕。</p>
<p>建中者，建中氣也。名之曰小者，酸甘緩中，僅能建中焦營氣也。前桂枝湯是芍藥佐桂枝，膠飴柔陽</p>
<h4>桂枝去芍藥加蜀漆龍骨牡蠣救逆湯</h4>
<p>桂枝三兩（去皮）　甘草二兩（炙）　生薑三兩（切）　大棗十二枚（擘）　蜀漆三兩（洗去腥）</p>
<p>牡蠣五兩（熬）　龍骨四兩上為末〔法〕，以水一斗二升，先煮蜀漆減二升〔法〕，納諸藥，煮取三升，去滓〔法〕，火迫心經之陽，非酸收可安，故去芍藥，而用龍、牡鎮攝，藉桂枝、蜀漆疾趨陽位，以救卒從陽</p>
<h4>桂枝甘草龍骨牡蠣湯</h4>
<p>桂枝一兩（去皮）　甘草二兩　牡蠣二兩（熬）　龍骨二兩上四味，為末〔法〕，以水五升，煮取二升半，去滓〔法〕，溫服八合〔法〕，日三服〔法桂枝、甘草、龍骨、牡蠣，其義取重於龍、牡之固澀。仍標之曰桂甘者，蓋陰鈍之藥，不佐越之</p>
<h4>甘草湯</h4>
<p>甘草二兩上一味，以水三升，煮取一升半，去滓〔法〕，溫服七合〔法〕，日三服〔法〕。</p>
<p>一藥治病，是曰奇方。甘草為九土之精，生用則涼，故可伐腎泄熱。治咽痛者，功在緩腎急</p>
<h4>桔梗湯</h4>
<p>桔梗一兩　甘草二兩上二味，以水三升，煮取一升，去滓〔法〕，分溫再服〔法〕。</p>
<p>桔梗味苦辛，苦主於降，辛主於散，功專開提足少陰之熱邪，佐以甘草，載之於上，則能從舟載</p>
<h4>半夏散及湯</h4>
<p>半夏（洗）　桂枝（去皮）　甘草（炙）各等分上三味，各別搗篩已，合治之〔法〕，白飲和服方寸匕〔法〕，日三服〔法〕。若不能散服咽之〔法〕。</p>
<p>半夏散，咽痛能咽者，用散；不能咽者，用湯。少陰之邪，逆於經脈，不得由樞而出，用半夏治</p>
<h4>苦酒湯</h4>
<p>半夏（洗，破如棗核大）十四枚　雞子一枚（去黃，納上苦酒，著雞子殼中）</p>
<p>上二味，納半夏著苦酒中〔法〕，以雞子殼置刀環中，安火上，令三沸，去滓〔法〕，少少苦酒湯，治少陰水虧，不能上濟君火，而咽生瘡聲不出者。瘡者，疳也。半夏之辛滑，佐以劫涎斂瘡，即陰火沸騰，亦可因苦酒而降矣，故以名其湯。</p>
<h4>小柴胡湯</h4>
<p>柴胡八兩　黃芩三兩　人參三兩　大棗十二枚（擘）　甘草三兩　半夏八兩（洗）　生薑三兩（切）</p>
<p>上七味，以水一斗二升，煮取六升，去滓〔法〕，再煎，取三升〔法〕，溫服一升〔法〕，日三服〔法〕。</p>
<p>柴胡湯，不從表裡立方者，仲景曰：少陽病汗之則譫語，吐下則悸而驚，故不治表裡，而以清氣氣，自解治在</p>
<h4>柴胡桂枝湯</h4>
<p>柴胡四兩　黃芩一兩五錢　人參一兩五錢　半夏二合半（洗）　甘草二兩（炙）　桂枝一兩五錢上九味，以水七升，煮取三升，去滓〔法〕，溫服一升〔法〕。</p>
<p>桂枝湯重於解肌，柴胡湯重於和裡，仲景用此二方最多，可為表裡之權衡，隨機應用，無往桂枝參、</p>
<h4>柴胡桂枝乾薑湯</h4>
<p>柴胡八兩　桂枝二兩（去皮）　乾薑二兩　黃芩三兩　栝蔞根四兩　牡蠣二兩（熬）　甘草二兩（炙）</p>
<p>上七味，以水一斗二升，煮取六升，去滓〔法〕，再煮取三升〔法〕，溫服一升〔法〕。</p>
<p>初揭出三陽經藥以名湯者，病在太陽，稍涉厥陰，非但少陽不得轉樞外出，而陽明亦窒而不降結，皆從</p>
<h4>柴胡加龍骨牡蠣湯</h4>
<p>柴胡四兩　大黃二兩　人參一兩五錢　半夏二合（洗）　生薑一兩五錢（切）　大棗六枚龍骨錢茯苓上十二味，以水八升，煮取四升〔法〕，納大黃，切如棋子，更煮一二沸，去滓〔法〕，溫足經方治手經病者，參、苓、龍、牡、鉛丹，入足經而可轉行於手經者也。手少陰煩驚，從升少也之</p>
<h4>生薑瀉心湯</h4>
<p>生薑四兩（切）　乾薑一兩　半夏半升（洗）　黃芩三兩　黃連一兩　人參三兩　甘草三兩大上八味，以水一斗，煮取六升，去滓〔法〕，再煮取三升〔法〕；溫服一升〔法〕，日三服瀉心湯有五，總不離乎開結、導熱、益胃，然其或虛或實，有邪無邪，處方之變，則各有微干宰</p>
<h4>甘草瀉心湯</h4>
<p>甘草四兩　乾薑三兩　大棗十二枚（擘）　半夏半升（洗）　黃芩三兩　黃連一兩上六味，以水一斗，煮取六升，去滓〔法〕，再煮取三升〔法〕，溫服一升〔法〕，日三服甘草瀉心，非瀉結熱，因胃虛不能調劑上下，致水寒上逆，火熱不得下降，結為痞。故君以將已</p>
<h4>附子瀉心湯</h4>
<p>附子一枚（炮，去皮破，別煮取汁用）　黃芩一兩　黃連一兩　大黃二兩上四味，　咀三味〔法〕，以麻沸湯二升漬之，須臾絞去滓〔法〕，納附子汁〔法〕，分溫附子非瀉心之藥，見不得已而用寒涼瀉心，故以附子名其湯。蓋氣痞惡寒，陽氣外撤，此際再用氣</p>
<h4>半夏瀉心湯</h4>
<p>半夏半升（洗）　黃芩三兩　黃連一兩　人參三兩　甘草三兩（炙）　乾薑三兩　大棗十二枚（上七味，以水一斗，煮取六升，去滓〔法〕，再煮取三升〔法〕，溫服一升〔法〕，日三服方名半夏，非因嘔也。病發於陰，而反下之，因作痞。是少陰表證誤下之，寒反入裡，阻君半夏</p>
<h4>梔子乾薑湯</h4>
<p>梔子十四枚（擘）　乾薑二兩上二味，以水三升半，煮取一升半，去滓〔法〕，分二服，溫進一服〔法〕，得吐者止後服煩皆由熱，而寒證亦有煩，但微耳。乾薑和太陰在裡之傷陽，而表熱亦去，梔子清心中之微</p>
<h4>黃芩湯</h4>
<p>黃芩三兩　芍藥二兩　甘草二兩（炙）　大棗十二枚上四味，以水一斗，煮取三升，去滓〔法〕，溫服一升〔法〕，日再夜一服〔法〕。</p>
<p>黃芩湯，太少合病，自利，邪熱不從少陽之樞外出，反從樞內陷，故舍陽而治陰也。芍藥、</p>
<h4>黃芩加半夏生薑湯</h4>
<p>黃芩三兩　芍藥二兩　甘草二兩　大棗十二枚　半夏半升（洗）　生薑三兩上六味，以水一斗，煮取三升，去滓〔法〕，溫服一升〔法〕。</p>
<p>太少合病，獨治陽明者，熱邪入裡僭逆，當從樞轉出陽明。用甘草、大棗和太陰之陽，黃芩容著</p>
<h4>黃芩人參湯</h4>
<p>黃芩二兩　人參二兩　桂枝二兩（去皮）　乾薑一兩　半夏半升（洗）　大棗十二枚（擘）</p>
<p>上六味，以水七升，煮取二升，去滓〔法〕，分溫再服〔法〕。</p>
<p>黃芩人參湯，《傷寒論》中有方而無症。此太陽才入少陽，故仿小柴胡湯之和解，用桂枝之守中</p>
<h4>乾薑黃連黃芩人參湯</h4>
<p>乾薑三兩　黃連三兩　黃芩三兩　人參三兩上四味，以水六升，煮取二升，去滓〔法〕，分溫再服〔法〕。</p>
<p>厥陰寒格吐逆者，陰格於內，拒陽於外而為吐，用芩、連大苦，泄去陽熱，而以乾薑為之向轉，</p>
<h4>黃連湯</h4>
<p>黃連三兩　桂枝二兩（去皮）　甘草三兩（炙）　乾薑三兩　人參二兩　半夏半升　大棗十二枚上七味，以水一斗，煮取六升，去滓〔法〕，溫服一升〔法〕，日三夜二服〔法〕。</p>
<p>黃連湯，和劑也。即柴胡湯變法，以桂枝易柴胡，以黃連易黃芩，以乾薑易生薑。胸中熱欲專和從上</p>
<h4>黃連阿膠湯</h4>
<p>黃連四兩　黃芩一兩　芍藥一兩　阿膠三兩　雞子黃二枚上五味，以水五升，先煮三物，取二升，去滓〔法〕，納膠烊盡小冷〔法〕，納雞子黃攪令芩、連，瀉心也；阿膠、雞子黃養陰也；各舉一味以名其湯者，當相須為用也。少陰病煩，少陰者沉</p>
<h4>厚朴生薑半夏甘草人參湯</h4>
<p>厚朴八兩（去皮炙）　生薑八兩（切）　半夏半升（洗）　人參一兩　甘草二兩（炙）</p>
<p>上五味，以水一斗，煮取三升，去滓〔法〕，溫服一升〔法〕，日三服〔法〕。</p>
<p>太陰病，當腹滿，是傷中也，與吐下後邪氣入裡腹脹治法不同。厚朴寬脹下氣，生薑散滿升陰結</p>
<h4>旋覆代赭石湯</h4>
<p>旋覆花三兩　代赭石一兩　生薑五兩（切）　大棗十二枚（擘）　人參二兩　半夏半升（洗）</p>
<p>甘上七味，以水一斗，煮取六升，去滓〔法〕，再煮取三升〔法〕，溫服一升〔法〕，日三服旋覆代赭石湯，鎮陰宣陽方也，以之治噫。噫者，上焦病聲也。脾失升度，肺失降度，陰盛薑、中二</p>
<h4>赤石脂禹餘糧湯</h4>
<p>赤石脂一斤（碎）　禹餘糧一斤（碎）</p>
<p>上二味，以水六升，煮取二升，去滓〔法〕，日三服〔法〕。</p>
<p>仲景治下焦利，重用固澀者，是殆以陽明不闔，太陰獨開，下焦關閘盡撤耳。若以理中與之直其</p>
<h4>芍藥甘草附子湯</h4>
<p>芍藥三兩　甘草三兩　附子一枚（炮，去皮破八片）</p>
<p>上三味，以水五升，煮取一升五合，去滓〔法〕，分溫三服〔法〕。</p>
<p>芍藥甘草附子湯，太陽少陰方也。太陽致亡陽，本由少陰不內守，少陰表惡寒，實由太陽不散失</p>
<h4>炙甘草湯（一名復脈湯）</h4>
<p>甘草四兩（炙）　桂枝三兩（去皮）　人參二兩　麻子仁半升　生地一斤　阿膠二兩　麥門冬半上九味，以清酒七升，水八升〔法〕，先煮八味，取三升，去滓〔法〕，納膠烊消盡〔法〕</p>
<p>，溫服一升〔法〕，日三服〔法〕。</p>
<p>炙甘草湯，仲景治心悸，王燾治肺痿，孫思邈治虛勞，三者皆是津涸燥淫之證。《至真要大脾以之咸載引津液門戶相交</p>
<h4>當歸四逆湯</h4>
<p>當歸三兩　桂枝三兩　白芍三兩　細辛三兩　大棗二十五枚（擘）　甘草二兩（炙）　通草二兩上七味，　咀〔法〕，以水八升，煮取三升，去滓〔法〕，溫服一升〔法〕，日三服〔法〕</p>
<p>當歸四逆，不用薑附者，陰血虛微，恐重劫其陰也。且四逆雖寒，而不至於冷，亦惟有調和得行陰，之絡</p>
<h4>當歸四逆加吳茱萸生薑湯</h4>
<p>當歸三兩　桂枝三兩　芍藥三兩　細辛三兩　甘草二兩（炙）　木通二兩　大棗二十五枚（擘）</p>
<p>上九味，　咀〔法〕，以水四升，清酒四升〔法〕，煮取三升，去滓〔法〕，溫服一升〔法〕，日三服〔法〕。</p>
<p>厥陰四逆，證有屬絡虛不能貫於四末而為厥者，當用歸芍以和營血。若久有內寒者，無陽化發表</p>
<h4>烏梅丸</h4>
<p>烏梅三百個　人參六兩　當歸四兩　黃連一斤　黃柏六兩　桂枝六兩　乾薑十兩　蜀椒四兩上十味，各搗篩，合治之〔法〕，以苦酒浸烏梅一宿，去核，蒸之五升米下，飯熟搗成泥，日烏梅漬醋，益其酸，急瀉厥陰，不欲其緩也。桂、椒、辛、附、薑，重用辛熱，升達諸陽，生陽法矣至肝之</p>
<h4>燒散</h4>
<p>取婦人中　近隱處，剪燒灰〔法〕，以水和服方寸匕〔法〕，日三服〔法〕。小便即利，陰褲襠穿之日久者良。陰陽易本無客邪，惟病患愈後，蘊蓄之熱，乘虛襲人，溷逆三焦，仍取</p>
<h3>寒劑</h3>
<h4>白虎湯</h4>
<p>石膏一斤（碎，綿裹）　知母六兩　甘草二兩（炙）　粳米六合上四味，以水一斗，煮米熟湯成，去滓〔法〕，溫服一升〔法〕，日三服〔法〕。</p>
<p>白虎湯，治陽明經表裡俱熱，與調胃承氣湯為對峙，調胃承氣導陽明腑中熱邪，白虎泄陽明母性陽明自解</p>
<h4>白虎加人參湯</h4>
<p>石膏一斤（碎，綿裹）　知母六兩　甘草二兩（炙）　粳米六合　人參三兩上五味，以水一斗，煮米熟湯成，去滓〔法〕，溫服一升〔法〕，日三服〔法〕。</p>
<p>陽明熱病化燥，用白虎加人參者，何也？石膏辛寒，僅能散表熱，知母甘苦，僅能降裡熱，而</p>
<h4>竹葉石膏湯</h4>
<p>竹葉二把　石膏一斤　麥門冬一升（去心）　人參三兩　半夏半升（洗）　甘草二兩（炙）</p>
<p>粳米上七味，以水一斗，煮取六升，去滓〔法〕，納粳米，煮米熟湯成，去米〔法〕，溫服一升〔法〕，日三服〔法〕。</p>
<p>竹葉石膏湯，分走手足二經，而不悖於理者，以胃居中焦，分行津液於各臟，補胃瀉肺，有於</p>
<h4>葛根黃芩黃連湯</h4>
<p>葛根八兩　甘草二兩　黃芩三兩　黃連三兩上四味，以水八升，先煮葛根減二升〔法〕，納諸藥，煮取二升，去滓〔法〕，分溫再服</p>
<p>〔是方即瀉心湯之變，治表寒裡熱，其義重在芩連整肅裡熱，雖以葛根為君，再為先煎，無非定，</p>
<h4>梔子柏皮湯</h4>
<p>梔子十五個（擘）　甘草一兩（炙）　黃柏二兩上三味，以水四升，煮取一升半，去滓〔法〕，分溫再服〔法〕。</p>
<p>梔子、柏皮，表劑也。以寒勝熱，以苦燥濕，已得治黃之要矣，而乃緩以甘草者，黃必內合使則在表也。</p>
<h4>白頭翁湯</h4>
<p>白頭翁二兩　秦皮三兩　黃連三兩　黃柏皮三兩上四味，以水七升，煮取二升，去滓〔法〕，溫服一升〔法〕。</p>
<p>白頭翁湯，治厥陰熱利後重者，太、少二陰下利屬寒，惟厥陰下利主熱，以厥陰司相火也。</p>
<p>者皆乃於胡之如是</p>
<h4>文蛤散</h4>
<p>文蛤五兩上一味，為散〔法〕，以沸湯和一錢匕服〔法〕，湯用五合〔法〕。</p>
<p>蛤稟天一之剛氣而生，故能獨用建功，味鹹性燥，鹹寒足以勝熱，寒燥足以滲濕。大陷胸湯斯畢</p>
<h4>大黃黃連瀉心湯</h4>
<p>大黃二兩　黃連一兩上二味，以麻沸湯二升漬之，須臾絞去滓〔法〕，分溫再服〔法〕。</p>
<p>痞有不因下而成者，君火亢盛，不得下交於陰而為痞，按之虛者，非有形之痞，獨用苦寒，即寓傷正</p>
<h4>茵陳蒿湯</h4>
<p>茵陳蒿六兩　梔子十四枚（擘）　大黃二兩（去皮）</p>
<p>上三味，以水一斗，先煮茵陳減六升〔法〕，納二味，煮取三升，去滓〔法〕，分溫三服</p>
<p>〔茵陳散肌表之濕，得大黃則兼瀉中焦之鬱熱，山梔逐肉理之濕，得大黃則兼瀉上焦之鬱熱。</p>
<p>同義</p>
<h4>豬膚湯</h4>
<p>豬膚一斤（用白皮，去其內肥，刮令如紙薄）</p>
<p>上一味，以水一斗，煮取五升，去滓〔法〕，加白蜜一升，白粉五合，熬香和令相得〔法〕</p>
<p>，溫分六服〔法〕。</p>
<p>腎應彘，而肺主膚，腎液下泄，不能上蒸於肺，致絡燥而為咽痛者，又非甘草所能治矣，當循</p>
<h3>溫劑</h3>
<h4>四逆湯</h4>
<p>甘草二兩（炙）　乾薑一兩半　附子一枚（生用，去皮，切八片）</p>
<p>上三味，以水三升，煮取一升二合，去滓〔法〕，分溫再服〔法〕。強人可用大附子一枚，乾薑三兩。</p>
<p>四逆者，四肢逆冷，因證以名方也。凡三陰一陽證中，有厥者皆用之。故少陰用以救元海之者開故可緩制留中，而為外召陽氣之良法。</p>
<h4>通脈四逆湯</h4>
<p>甘草二兩（炙）　附子大者一枚（生用，去皮，破八片）　乾薑三兩（強人可用四兩）</p>
<p>上三味，以水三升，煮取一升二合，去滓〔法〕，分溫再服〔法〕。其脈即出者愈。後加減通脈四逆，少陰格陽，面赤陽越欲亡，急用乾薑、生附奪門而入，驅散陰霾，甘草監制薑附其脈太陰方之</p>
<h4>人參四逆湯</h4>
<p>人參一兩　甘草二兩（炙）　乾薑一兩五錢　附子一枚（生，去皮，切八片）</p>
<p>上四味，以水三升，煮取一升二合，去滓〔法〕，分溫再服〔法〕。</p>
<p>四逆加人參，治亡陰利止之方。蓋陰亡則陽氣亦與之俱去，故不當獨治其陰，而以乾薑、附</p>
<h4>茯苓四逆湯</h4>
<p>茯苓六兩　乾薑一兩五錢　附子一枚（生）　甘草二兩（炙）　人參一兩上五味，　咀〔法〕，以水五升，煮取一升二合，去滓〔法〕，分溫再服〔法〕。</p>
<p>茯苓四逆湯，即真武湯之變方。《太陽篇》中汗出煩躁，禁用大青龍，即以真武湯救之，何參逆</p>
<h4>通脈四逆加豬膽汁湯</h4>
<p>乾薑三兩（強人四兩）　甘草二兩（炙）　附子大者一枚（生用）　豬膽汁四合上三味，以水三升，煮取一升二合，去滓〔法〕，納豬膽汁〔法〕，分溫再服〔法〕。</p>
<p>四逆加膽汁，為陽虛陰甚從治之方，津液內竭，脈微欲絕，是亡陰亡陽。由於吐已下後，用膽</p>
<h4>白通湯</h4>
<p>蔥白四莖　乾薑一兩　附子一枚（生用，去皮臍，破八片）</p>
<p>上三味，以水三升，煮取一升，去滓〔法〕，分溫再服〔法〕。</p>
<p>白通者，薑、附性燥，腎之所苦，須藉蔥白之潤，以通於腎，故名。若夫《金匱》云，面赤之陽由胃</p>
<h4>白通加豬膽汁湯</h4>
<p>人尿五合　豬膽汁一合　蔥白四莖　乾薑一兩　附子一枚（生用，去皮，破八片）</p>
<p>以上三味，以水三升，煮取一升，去滓〔法〕，納膽汁、人尿，和令相得〔法〕，分溫再服白通湯，陽藥也。少陰下利，寒氣太甚，內為格拒，陽氣逆亂，當用監制之法。人尿之咸，陰，</p>
<h4>附子湯</h4>
<p>附子二枚（生用，去皮）　茯苓三兩　白芍三兩　人參二兩　白朮四兩上五味，以水八升，煮取三升，去滓〔法〕，溫服一升〔法〕，日三服〔法〕。</p>
<p>附子湯，少陰固本御邪之劑，功在倍用生、附，力肩少陰之重任，故以名方。其佐以太、厥開生君其</p>
<h4>朮附湯</h4>
<p>白朮四兩　附子三枚（炮，去皮，破八片）　甘草二兩（炙）　生薑二兩（切）　大棗十二枚（擘）</p>
<p>上五味，以水六升，煮取二升，去滓〔法〕，分溫三服〔法〕。初服其人覺身如痹，半日許使濕勝於風者，用朮附湯。以濕之中人也，太陰受之，白朮健脾去濕，熟附溫經去濕，佐以薑</p>
<h4>桂枝附子湯</h4>
<p>桂枝四兩（去皮）　熟附子三枚（炮，去皮臍，破八片）　甘草二兩（炙）　生薑三兩（切）　大棗上五味，以水六升，煮取二升，去滓〔法〕，分溫三服〔法〕。</p>
<p>桂枝附子湯，兩見篇中，一治亡陽，一治風濕。治風濕者，以風為天之陽邪，桂枝、甘草辛固心用之</p>
<h4>甘草附子湯</h4>
<p>甘草二兩（炙）　附子二枚（炮，去皮，破八片）　白朮二兩　桂枝四兩（去皮）</p>
<p>上四味，以水六升，煮取三升，去滓〔法〕，溫服一升〔法〕，日三服〔法〕。</p>
<p>甘草附子湯，兩表兩裡之偶方。風淫於表，濕流關節，陽衰陰勝，治宜兩顧。白朮、附子顧解也</p>
<h4>桂枝去芍藥加附子湯</h4>
<p>桂枝三兩（去皮）　甘草二兩（炙）　生薑三兩（切）　大棗十二枚（擘）　附子一枚（炮，去皮，上五味，　咀〔法〕，以水七升，煮取三升，去滓〔法〕，溫服一升〔法〕，惡寒止，停後桂枝湯去芍藥加附子者，下後微惡寒，顯然陽氣渙散於中下矣，當急救其陽，毋暇顧戀陰氣之策</p>
<h4>甘草乾薑湯</h4>
<p>甘草四兩（炙）　乾薑二兩上二味，　咀〔法〕，以水三升，煮取一升五合，去滓〔法〕，分溫再服〔法〕。</p>
<p>甘草乾薑湯，桂枝甘草湯，同為辛甘化陽，而有分頭異治之道；桂枝走表，治太陽表虛；干二為</p>
<h4>乾薑附子湯</h4>
<p>乾薑一兩　附子一枚（去皮）</p>
<p>上二味，以水三升，煮取一升〔法〕，頓服之〔法〕。</p>
<p>乾薑附子湯，救太陽壞病轉屬少陰者，由於下後復汗，一誤再誤，而亡其陽，致陰躁而見於勢力</p>
<h4>理中丸及湯</h4>
<p>人參三兩　甘草三兩（炙）　白朮三兩　乾薑三兩上四味，搗篩為末，蜜和丸，如雞子黃大〔法〕，以沸湯數合和一丸，研碎，溫服之〔法〕</p>
<p>，日三四服，夜二服〔法〕。腹中未熱，益至三四丸〔法〕，然不及湯。湯法：以四物依兩切〔法〕，用水八升，煮取三升，去滓〔法〕，溫服一升〔法〕，日三服〔法〕。加減法理中者，理中焦之氣，以交於陰陽也。上焦屬陽，下焦屬陰，而中焦則為陰陽相偶之處。</p>
<p>仲皆不及於湯，恐湯性易輸易化，無留戀之能，少致和之功耳。人參、甘草甘以和陰也，白朮、乾薑辛以和陽也。辛甘相輔以處中，則陰陽自然和順矣。</p>
<h4>桂枝人參湯</h4>
<p>桂枝四兩　甘草四兩（炙）　人參三兩　白朮三兩　乾薑三兩上五味，以水九升，煮四味，取四升，去滓〔法〕，納桂更煮，取三升，去滓〔法〕，溫服理中加人參，桂枝去芍藥，不曰理中，而曰桂枝人參者，言桂枝與理中，表裡分頭建功也。</p>
<p>後納</p>
<h4>吳茱萸湯</h4>
<p>吳茱萸一升（洗）　人參三兩　生薑六兩（切）　大棗十二枚（擘）</p>
<p>上四味，以水七升，煮取二升，去滓〔法〕，溫服七合〔法〕，日三服〔法〕。</p>
<p>吳茱萸湯，厥陰陽明藥也。厥陰為兩陰交盡，而一陽生氣實寓於中，故仲景治厥陰以護生氣故以則參</p>
<h4>真武湯</h4>
<p>茯苓三兩　芍藥三兩　生薑三兩（切）　白朮二兩　附子一枚（炮，去皮，破八片）</p>
<p>上五味，以水八升，煮取三升，去滓〔法〕，溫服七合〔法〕，日三服〔法〕，後加減。</p>
<p>朮、苓、芍、薑，脾胃藥也。太陽少陰，水臟也。用崇土法鎮攝兩經水邪，從氣化而出，故名真武。茯苓淡以勝白朮之苦，則苦從淡化，便能入腎勝濕；生薑辛以勝白芍之酸，則酸從辛化，便能入膀胱以攝陽。然命名雖因崇土，其出化之機，畢竟重在坎中無陽，假使腎關不利，不由膀胱氣化，焉能出諸小便，故從上不寧之水，全賴附子直走下焦以啟其陽，則少陰水邪必從陽部注於經而出矣，非但裡鎮少陰水泛，並可外御太陽亡陽。</p>
<h4>桃花湯</h4>
<p>赤石脂一斤（一半全用，一半篩末）　乾薑一兩　粳米一升上三味，以水七升，煮米令熟，去滓〔法〕，溫服七合〔法〕，納赤石脂末方寸匕，日三服〔法〕。若一服愈，余勿服。</p>
<p>桃花湯，非名其色也，腎臟陽虛用之，一若寒穀有陽和之致，故名。石脂入手陽明經，乾薑盡撤納石</p>
<h3>汗劑</h3>
<h4>麻黃湯</h4>
<p>麻黃三兩（去節）　杏仁七十粒（去皮尖）　桂枝二兩（去皮）　甘草一兩（炙）</p>
<p>上四味，以水九升，先煮麻黃減二升，去上沫〔法〕，納諸藥，煮取二升半，去滓〔法〕，溫服八合。覆取微似汗〔法〕，不須啜粥。余如桂枝法將息。</p>
<p>麻黃湯，破營方也。試觀立方大義，麻黃輕清入肺，杏仁重濁入心，仲景治太陽初病，必從內攘其大表，戢</p>
<h4>麻黃杏仁甘草石膏湯</h4>
<p>麻黃四兩　杏仁五十個（泡，去皮尖）　甘草二兩（炙）　石膏八兩（碎，綿裹）</p>
<p>上四味，以水七升，先煮麻黃減二升，去上沫〔法〕，納諸藥，煮取二升，去滓〔法〕，溫喘家作桂枝湯，加厚朴杏子，治寒喘也。今以麻黃石膏加杏子，治熱喘也。麻黃開毛竅，杏雖治法仍有營衛分途之義。</p>
<h4>麻黃附子甘草湯</h4>
<p>麻黃二兩（去節）　附子一枚（炮，去皮，切八片）　甘草二兩（炙）</p>
<p>上三味，以水七升，先煮麻黃一二沸，去上沫〔法〕，納諸藥，煮取三升，去滓〔法〕，溫少陰無裡症，欲發汗者，當以熟附固腎，不使麻黃深入腎經劫液為汗。更妙在甘草緩麻黃，</p>
<h4>麻黃附子細辛湯</h4>
<p>麻黃二兩（去節）　細辛二兩　附子一枚（炮，去皮，破八片）</p>
<p>上三味，以水一斗，先煮麻黃減二升，去上沫〔法〕，納諸藥，煮取三升，去滓〔法〕，溫服一升〔法〕，日三服〔法〕。</p>
<p>少陰得太陽之熱而病者，用麻黃發太陽之表汗，細辛散少陰之浮熱，相須為用。欲其引麻黃腎根</p>
<h4>麻黃升麻湯</h4>
<p>麻黃二兩半（去節）　升麻一兩一分　當歸一兩一分　知母十八銖　黃芩十八銖　葳蕤十八銖芍藥　乾薑桂枝各六銖上十四味，以水一斗，先煮麻黃一二沸，去上沫〔法〕，納諸藥，煮取三升，去滓〔法〕，分溫三服〔法〕。相去如炊三斗米頃，令盡〔法〕，汗出愈。</p>
<p>麻黃升麻湯，方中升散、寒潤、收緩、滲泄諸法具備，推其所重，在陰中升陽，故以麻黃升甘淡分熱陰氣</p>
<h4>麻黃連軺赤小豆湯</h4>
<p>麻黃二兩（去節）　連軺二兩（連軺，即連翹根。弘景曰：方藥不用，無人識者。蘇恭亦退入草二以上八味，以潦水一斗〔法〕，先煮麻黃再沸，去上沫〔法〕，納諸藥，煮取三升〔法〕，分溫三服〔法〕，半日服盡〔法〕。</p>
<p>麻黃連軺赤小豆湯，表裡分解法，或太陽之熱，或陽明之熱，內合太陰之濕，乃成瘀熱發黃白皮從小也。</p>
<h4>大青龍湯</h4>
<p>麻黃六兩（去節）　桂枝二兩（去皮）　甘草二兩（炙）　杏仁四十個（去皮尖）　生薑三兩（切）</p>
<p>上七味，以水九升，先煮麻黃減二升，去上沫〔法〕，納諸藥，煮取三升，去滓〔法〕，溫麻黃、桂枝、越脾互復成方，取名於龍者，辛熱之劑，復以石膏，變為辛涼，正如龍為陽體用石達下</p>
<p>《</p>
<h4>小青龍湯</h4>
<p>麻黃三兩（去節）　桂枝二兩（去皮）　芍藥三兩　乾薑三兩　細辛三兩　五味子半升　甘草三上八味，以水一斗，先煮麻黃減二升，去上沫〔法〕，納諸藥，煮取三升，去滓〔法〕，溫服一升〔法〕。</p>
<p>小青龍湯，治太陽表裡俱寒，方義迥異於大青龍之治裡熱也。蓋水寒上逆，即涉少陰，腎虛芍藥綱藥以斂</p>
<h4>桂枝麻黃各半湯</h4>
<p>桂枝一兩十六銖（去皮）　麻黃一兩（去節）　芍藥一兩　杏仁二十四粒（去皮尖）　甘草一兩（上七味，以水五升，先煮麻黃一二沸，去上沫〔法〕，納諸藥，煮取一升八合，去滓〔法〕</p>
<p>，溫服六合〔法〕。</p>
<p>桂枝、麻黃互復，注解者皆為兩解法，是以淺陋之見測仲聖之深心，良可慨也。曷不觀其法陰陽為小</p>
<h4>桂枝二麻黃一湯</h4>
<p>桂枝一兩十七銖（去皮）　芍藥一兩六銖　甘草一兩二銖（炙）　麻黃十六銖（去節）　杏仁十六上七味，以水五升，先煮麻黃一二沸，去上沫〔法〕，納諸藥，煮取二升，去滓〔法〕，溫桂枝銖兩多，麻黃銖數少，即啜粥助汗之變法。桂枝湯減用四分之二，麻黃湯減用四分之一第十之向</p>
<h4>桂枝二越脾一湯</h4>
<p>桂枝十八銖（去皮）　芍藥十八銖　甘草十八銖　生薑一兩二銖　大棗四枚（擘）　麻黃十八銖上七味，　咀〔法〕，以水五升，煮麻黃一二沸，去上沫〔法〕，納諸藥，煮取二升，去滓〔法〕，溫服一升〔法〕。本方當裁為越脾湯、桂枝湯合飲一升〔法〕，今合為一方，桂二越脾一。</p>
<p>桂枝二越脾一湯，治脈微無陽。無陽者，陽分亡津之謂，故於桂枝湯照原方用四分之二以和脈復</p>
<h4>葛根湯</h4>
<p>葛根四兩　麻黃三兩（去節）　桂枝二兩（去皮）　白芍二兩　甘草二兩（炙）　生薑三兩（切）</p>
<p>上七味，　咀〔法〕，以水一斗，先煮麻黃、葛根減二升，去沫〔法〕，納諸藥，煮取三升，去滓〔法〕，溫服一升〔法〕。覆取微似汗〔法〕，不須啜粥。余如桂枝法將息及禁忌葛根湯，即桂枝東加麻黃、倍葛根，以去營實，小變麻桂之法也。獨是葛根麻黃治營衛實，則者經</p>
<h4>葛根加半夏湯</h4>
<p>葛根四兩　麻黃三兩（去節，湯泡，去黃汁，焙乾）　桂枝二兩（去皮）　芍藥二兩　甘草二兩上八味，以水一斗，先煮葛根、麻黃減二升，去白沫〔法〕，納諸藥，煮取三升，去滓</p>
<p>〔法葛根湯，升劑也。半夏辛滑，芍藥收陰，降藥也。太陽、陽明兩經皆病，開闔失機，故以升奠安</p>
<h3>吐劑</h3>
<h4>梔子豉湯</h4>
<p>梔子十四枚（擘，生用）　香豉四合（綿裹）</p>
<p>上二味，以水四升，先煮梔子得二升半〔法〕，納豉，煮取一升半，去滓〔法〕，分為二服梔子豉湯為輕劑，以吐上焦虛熱者也。第梔子本非吐藥，以此二者生熟互用，涌泄同行，而既欲其宣，又欲其降，兩者氣爭於陽分，自必從宣而越於上矣。余以生升熟降為論，柯韻伯以梔子之性屈曲下行，淡豉腐氣上蒸而為吐，引證瓜蒂散之吐，亦在於豉汁。吾恐瓜蒂亦是上涌之品，吐由瓜蒂，非豉汁也。存之以俟君子教我。</p>
<h4>梔子甘草豉湯</h4>
<p>梔子十四枚（生用）　甘草二兩　香豉四合（綿裹）</p>
<p>上三味，以水四升，先煮梔子、甘草得二升半〔法〕，納豉，煮取一升半，去滓〔法〕，分梔子豉湯，吐胸中熱鬱之劑。加甘草一味，能治少氣，而諸家注釋皆謂益中，非理也。</p>
<p>蓋少之熱</p>
<h4>梔子生薑豉湯</h4>
<p>梔子十四枚（生用）　生薑五兩　香豉四合（綿裹）</p>
<p>上三味，以水四升，先煮梔子、生薑得二升半〔法〕，納豉，煮取一升半，去滓〔法〕，分梔子豉東加生薑，則又何說也？蓋梔豉為輕劑，以吐胸中之熱，若嘔則熱更在脾，窒於胃矣此章</p>
<h4>梔子厚朴湯</h4>
<p>梔子十四枚（生用）　厚朴四兩（薑炙）　枳實四兩（湯浸，去穰，炒）</p>
<p>上三味，以水三升半，煮取一升半，去滓〔法〕，分二服，溫進一服〔法〕。得吐，止後服梔子厚朴湯，下後遺熱心煩，起臥不安，腹滿，是三焦病矣，故以上涌下泄為治。凡用梔子</p>
<h4>瓜蒂散</h4>
<p>瓜蒂一分（熬黃）　赤小豆一分　香豉一合上三味，各別搗篩為散已，合治之，取一錢匕〔法〕。以香豉一合，用熱湯七合，煮作稀糜不可與瓜蒂散。（赤小豆，按本草用細粒赤豆，今人用半紅半黑者，恐非）</p>
<p>瓜蒂散乃酸苦涌泄重劑，以吐胸寒者，邪結於胸，不涉太陽表實，只以三物為散，煮作稀糜即能</p>
<h3>下劑</h3>
<h4>小承氣湯</h4>
<p>大黃四兩（去皮）　厚朴二兩（炙，去皮）　枳實三枚（炙）</p>
<p>以上三味，以水四升，煮取一升二合，去滓〔法〕，分溫二服〔法〕。初服湯當更衣，不爾承氣者，以下承上也，取法乎地，蓋地以受制為資生之道，故胃以酸苦為涌泄之機，若陽明辛氣</p>
<h4>大承氣湯</h4>
<p>芒硝三兩　大黃四兩（去皮，酒洗）　厚朴八兩（炙，去皮）　枳實五枚（炙）</p>
<p>上四味，以水一斗，先煮二物，取五升，去滓〔法〕，納大黃，煮取二升，去滓〔法〕，納芒硝入腎，破泄陰氣，用以承氣者，何也？當知奪陰者芒硝，而通陰者亦芒硝。蓋陽明燥結實制勝之法，以攻陽明，安能使下焦燥結急去，以存陰氣，故用假途滅虢之策，借芒硝直入下焦下</p>
<h4>調胃承氣湯</h4>
<p>大黃四兩（清酒浸）　甘草二兩（炙）　芒硝半升上三味，　咀〔法〕，以水三升，煮取一升，去滓〔法〕，納芒硝，更上火微煮令沸〔法〕</p>
<p>，少少溫服之。</p>
<p>調胃承氣者，以甘草緩大黃芒硝留中泄熱，故曰調胃，非惡硝、黃傷胃而用甘草也。泄盡胃芒硝</p>
<h4>桃仁承氣湯</h4>
<p>桃仁五十個（去皮尖）　桂枝二兩（去皮）　大黃四兩（去皮）　芒硝二兩　甘草二兩上五味，以水七升，煮取二升半，去滓〔法〕納芒硝，更上火微沸，下火先食〔法〕，溫服桃仁承氣，治太陽熱結解而血復結於少陽樞紐間者，必攻血通陰，乃得陰氣上承，大黃、芒熱</p>
<h4>小陷胸湯</h4>
<p>栝蔞實大者一枚　黃連一兩　半夏半升（洗）</p>
<p>上三味，以水六升，先煮栝蔞取三升，去滓〔法〕納諸藥，煮取二升，去滓〔法〕，分溫三服〔法〕。</p>
<p>結胸，按之始痛者，邪在脈絡也。故小陷胸止陷脈絡之邪，從無形之氣而散。</p>
<p>栝蔞生於蔓草趨少陰，陷脈故名小。</p>
<h4>大陷胸湯</h4>
<p>大黃六兩（去皮）　芒硝一升　甘遂一錢匕上三味，以水六升，先煮大黃取二升，去滓〔法〕納芒硝一二沸〔法〕，納甘遂末〔法〕，溫服一升〔法〕。得快利，止後服。</p>
<p>大陷胸湯，陷胸膈間與腸胃有形之垢並解，邪從心下至少腹硬滿而痛不可近，邪不在一經矣陷。</p>
<p>處，</p>
<h4>〔又〕大陷胸湯</h4>
<p>栝蔞實一枚（去皮）　甘遂四兩　桂枝四兩（去皮）　人參四兩　大棗十二枚（擘）</p>
<p>上五味，以水七升，煮取三升，去滓〔法〕，溫服一升〔法〕。胸中無堅，勿與之。</p>
<p>大陷胸湯有二方者，一陷中下二焦之邪，此陷上中二焦之邪也。栝蔞陷胸中之痰，甘遂陷經清化</p>
<h4>大陷胸丸</h4>
<p>葶藶半升（熬）　杏仁半升（去皮尖，熬黑）　大黃八兩（去皮）　芒硝半升上四味，搗篩大黃、葶藶二味〔法〕，納杏仁、芒硝合研如脂，和散取如彈丸一枚〔法〕，別搗甘遂末一錢匕，白蜜二合，水二升，煮取一升〔法〕，溫頓服之〔法〕。一宿乃下。如不下，更服〔法〕，取下為效。禁如藥法。</p>
<p>大陷胸丸，從高陷下，三焦並攻。結胸項強，邪據太陽之高位矣，故用葶藶、杏仁以陷上焦之。</p>
<p>水煮熱</p>
<h4>大柴胡湯</h4>
<p>柴胡八兩　黃芩三兩　半夏半升　生薑五兩（切）　大棗十二枚（擘）　芍藥三兩　枳實四枚（上八味，以水一斗二升，煮取六升，去滓再煎〔法〕，溫服一升〔法〕，日三服〔法〕。</p>
<p>一申大柴胡湯，下也。前章言少陽證不可下，而此復出下法者，以熱邪從少陽而來，結於陽明，加生二</p>
<h4>柴胡加芒硝湯</h4>
<p>柴胡二兩十六銖　黃芩一兩　人參一兩　甘草一兩（炙）　生薑一兩（切）　半夏五枚　大棗四上八味，以水四升，煮取二升，去滓〔法〕，分二服〔法〕。以解為瘥，不解，更作服。</p>
<p>芒硝治久熱胃閉，少陽熱已入胃而猶潮熱、脅滿者，則熱在胃而證未離少陽，治亦仍用柴胡，但加芒硝以滌胃熱，仍從少陽之樞外出，使其中外蕩滌無遺，乃為合法。錢塘張錫駒云：應以大柴胡加芒硝，其理亦通，姑志之。</p>
<h4>柴胡加大黃芒硝桑螵蛸湯</h4>
<p>柴胡二兩　黃芩十八銖　人參十八銖　甘草十八銖（炙）　生薑十八銖（切）　半夏五枚（洗）</p>
<p>上前七味，以水四升，煮取二升，去滓〔法〕，下芒硝大黃桑螵蛸，煮取一升半，去滓</p>
<p>〔法柴胡加桑螵蛸湯，此亦有方而無證。大都用柴胡湯，其邪必從少陽而來，熱及於陽明者，加芒硝。熱實於陽明者，加大黃。其邪入陽明，而後可議下。然裡虛之應下者，加芒硝當佐人參以安中，若加大黃，當佐桑螵蛸固陰續絕以安下，此少陽而有陽明症者，下之之方也。</p>
<h4>桂枝加大黃湯</h4>
<p>桂枝三兩　芍藥六兩　甘草二兩（炙）　生薑三兩（切）　大棗十二枚（擘）　大黃二兩（去皮）</p>
<p>上六味，　咀〔法〕，以水七升，煮取三升，去滓〔法〕，溫服一升。</p>
<p>大黃入於桂枝湯中，欲其破脾實而不傷陰也。大黃非治太陰之藥，脾實腹痛是腸中燥矢不去陰之雙解</p>
<h4>枳實梔子豉湯</h4>
<p>枳實三枚（炙）　梔子十四枚（擘）　香豉一升（綿裹）</p>
<p>上三味，以清漿水七升空煎，取四升〔法〕，納枳實、梔子，煮取二升〔法〕，納豉，更煮五六枚。</p>
<p>枳實梔子豉湯，微汗、微下方也。大都瘥復必虛實相兼，故汗之不欲其大汗，下之不欲其大梔、枳實</p>
<h4>四逆散</h4>
<p>柴胡十分　枳實十分（炙）　芍藥十分　甘草十分（炙）</p>
<p>上四味，各十分，搗篩〔法〕，白飲和服方寸匕〔法〕，日三服〔法〕。</p>
<p>四逆散，與四逆湯藥品皆異者，此四逆由於熱深而厥也。《素問‧厥論》云：陰氣虛則陽氣微熱芍藥此藥</p>
<h4>白散</h4>
<p>桔梗三分　貝母三分　巴豆一分（去皮心，熬黑，研如脂）</p>
<p>上三味，為末〔法〕，納巴豆，更於臼中杵之〔法〕，以白飲和服〔法〕。強人半錢匕，羸一杯〔法〕。身熱皮粟不解，欲引衣自覆者，若以水　之洗之，益令熱劫不得出。當汗而不汗則煩，假令汗出已，腹中痛，與芍藥三兩，如上法。</p>
<p>白散，結胸者亦可服。其義仍在，　水灌水，外寒實表，熱卻於內，故用桔梗、貝母開提破本</p>
<h4>麻仁丸</h4>
<p>麻子仁二升　杏仁一斤（去皮尖）　白芍八兩　大黃一斤（去皮）　厚朴一尺（炙去皮）</p>
<p>枳實八上六味，為末，煉蜜為丸梧子大〔法〕，飲服十丸〔法〕，日二服〔法〕。漸加，以利為度下法不曰承氣，而曰麻仁者，明指脾約為脾土過燥，胃液日亡，故以麻、杏潤脾燥，白芍安遂脾</p>
<h4>抵當湯</h4>
<p>水蛭三十個（熬）　虻蟲三十個（熬，去翅足）　桃仁三十個（去皮尖）　大黃三兩（去皮，酒浸）</p>
<p>上四味，為末〔法〕，以水五升，煮取三升，去滓〔法〕，溫服一升〔法〕。不下，再服</p>
<p>〔抵當者，至當也。蓄血者，死陰之屬，真氣營運而不入者也，故草木不能獨治其邪，務必以之血</p>
<h4>抵當丸</h4>
<p>水蛭二十個　虻蟲二十個（去翅足，熬）　桃仁二十五個　大黃三兩（去皮）</p>
<p>上四味，杵，分為四丸。以水一升煮一丸〔法〕，取七合服之〔法〕。　時當下血，若不下血蓄少腹中者，亦必以水蛭虻蟲攻之，乃為至當，總非桃仁承氣等足以動其血，故仲景云：</p>
<h4>五苓散</h4>
<p>豬苓十八銖（去皮）　茯苓十八銖　澤瀉一兩六銖　白朮十八銖　桂五錢（去皮）</p>
<p>上五味，為末〔法〕，以白飲和服方寸匕〔法〕，日三服〔法〕。多服暖水〔法〕，汗出愈苓，臣藥也。二苓相輔，則五者之中，可為君藥矣，故曰五苓。豬苓、澤瀉相須，藉澤瀉之咸以潤下，茯苓、白朮相須，藉白朮之燥以升精。脾精升則濕熱散，而小便利，即東垣欲降先升之理也。然欲小便利者，又難越膀胱一腑，故以肉桂熱因熱用，內通陽道，使太陽裡水引而竭之，當知是湯專治留著之水，滲於肌肉而為腫滿。若水腫與足太陰無涉者，又之方。</p>
<h4>豬苓湯</h4>
<p>豬苓一兩（去皮）　茯苓一兩　阿膠一兩　滑石一兩　澤瀉一兩上五味，以水四升，先煮四味，取二升，去滓〔法〕，納下阿膠烊消〔法〕，溫服七合〔法〕，日三服〔法〕。</p>
<p>五者皆利水藥，標其性之最利者名之，故曰豬苓湯，與五苓之用，其義天淵。五苓散治太陽是取阿膠即從利水中育陰，是滋養無形以行有形也，故仲景云：汗多胃燥，雖渴而裡無熱者，不可與也。</p>
<h4>十棗湯</h4>
<p>芫花（熬）　甘遂　大戟各等分　大棗十枚（擘）</p>
<p>上三味，等分，各別搗為散〔法〕，以水一升半，先煮大棗肥者十枚，取八合，去滓〔法〕</p>
<p>，納藥末，強人服一錢匕，羸人服半錢〔法〕，溫服之〔法〕，平旦服〔法〕。若下少病不除者，明日更服加半錢〔法〕，得快下利後，糜粥自養〔法〕。</p>
<p>攻飲湯劑，每以大棗緩甘遂、大戟之性者，欲其循行經隧，不欲其竟走腸胃也，故不名其方佐</p>
<h4>牡蠣澤瀉散</h4>
<p>牡蠣（熬）　澤瀉　海藻（洗去鹽）　蜀漆（洗去腥）　葶藶（熬）　商陸根（熬）　栝蔞根以上各等上七味，異搗，下篩為散〔法〕，更入臼中治之〔法〕，白飲和服方寸匕〔法〕。小便利，止後服〔法〕。日二服〔法〕。</p>
<p>牡蠣、澤瀉名其散者，治濕取重咸也。蓋逐水宜苦，消腫宜咸，牡蠣、澤瀉、海藻之咸，蜀之</p>
<h4>蜜煎導法（附）</h4>
<p>蜜七合上一味，納銅器中，微火煎如飴，勿令焦。俟可丸，捻作挺，如指許長二寸，當熱作令頭銳蜜煎外導者，胃無實邪，津液枯涸，氣道結澀，燥尿不下，乃用蜜煎導之。雖曰外潤魄門，</p>
<h4>豬膽導法（附）</h4>
<p>大豬膽一枚上瀉汁，和醋少許，以灌穀道中，如一食頃，當大便出。</p>
<p>豬膽導者，熱結於下，腸滿胃虛，承氣等湯恐重傷胃氣，乃用豬膽之寒，苦酒之酸，收引</p>
<h2>中卷</h2>
<h3>內科</h3>
<h4>秫米半夏湯</h4>
<p>秫米一升　半夏五合上以流水千裡以外者入升，揚之萬遍，取其清五升煮之，炊以葦薪，火沸置秫、半，徐炊令出則秫米半夏湯，非治奇經　絡方也。按《二十六難》曰：經有十二，絡有十五，余三絡，陽陽不環只用北地之膏粱茹粟也。甘酸入胃經血分。千裡水揚之萬遍，與甘瀾水同義，取其輕揚，不助陰邪，炊以葦薪，武火也，火沸入藥，仍徐炊令減，寓升降之法。升以半夏，從陽分通衛泄邪，降以秫米，入陰分通營補虛，陰陽通，臥立至，汗自出，故曰汗出則已矣。</p>
<h4>馬膏生桑桂酒方</h4>
<p>馬膏（　項上脂）　生桑灰（桑枝炒灰）　桂（用桂枝）　白酒以馬膏膏其急者，以白酒和桂以塗其緩者，以桑鉤鉤之，即以生桑灰置之坎中，高下以坐等</p>
<p>《靈樞》云：季春痹者，北地之真中風也。春三月陽氣清明，其風之中人也，不能深入，中故外用和陽潤燥塗熨之法。邪中左頰則口　於右，邪中右頰則口　於左。無邪者，筋急引頰移口，皮膚頑痹，故用馬膏甘辛柔緩以摩其急，潤其血脈，通其痹。中邪者，筋弛縱，緩不勝收，故用桂之辛熱，酒之活絡，急以塗其緩，和其營衛，通其血絡。以桑鉤鉤之，鉤其頰也。坎，頰間之坎陷也。即以生桑灰者，生者，活也，隨時采活桑枝炒灰，取其性銳力足，通節竅，祛風痹。高下以坐等者，以桑灰置之坎中，務使高下濃薄相等，然後以膏熨急頰，令桑性入絡，調勻馬膏舒筋潤痹。三拊者，輕手拊拍其三次也。飲以美酒，病在上者，酒以行之。啖美炙肉，助胃氣上升於絡也。若夫燔針劫刺，俟明者釋之。</p>
<h4>生鐵洛飲</h4>
<p>生鐵洛以清水浸一伏，研澄，飲水。按《甲乙經》鐵洛為飲，作為後飯。</p>
<p>生鐵洛，未經鍛煉，是爐冶間初槌生鐵，飛出如蛾者，治夏令之時邪。以夏氣在臟，所惡於大筋氣所故以花，能論》又云：奪其食則已，是穀氣又在禁例。或者以麥食為後飯，並可鎮肝，存之以俟君子。</p>
<h4>澤術麋銜散</h4>
<p>澤瀉十分　白朮十分　麋銜五分上合以三指撮為後飯。</p>
<p>澤術麋銜，岐伯治酒風，即《風論》曰：飲酒中風，則為漏風。其傷在脾胃，病身熱解惰，留肌在表以去</p>
<h4>藥熨法</h4>
<p>醇酒二十升　蜀椒一升　生乾薑一斤　桂心一斤凡四種，皆　咀，漬酒中，用綿絮一斤，細白布四丈，並納酒中，置酒馬矢　中，蓋封塗，渣與至於藥熨大人之寒痹。大人者，富貴之人也。寒痹者，時痛而皮膚不仁也。其血脈筋骨雖痹，而氣盡亦</p>
<h4>角發酒</h4>
<p>左角發（方一寸左之長發）</p>
<p>刺厥不已，以竹管吹其兩耳（陶隱居云：吹其左耳極三度，復吹其右耳三度）。再剃其左角之邪客於四臟一腑之絡，乃為尸厥者，以心腎為水火絡，肺脾為天地絡，胃為中土絡，此五絡五絡以通醒。</p>
<p>犀角腑之</p>
<h4>蘭草湯</h4>
<p>蘭草水煎服。</p>
<p>蘭草，《綱目》曰省頭草。朱震亨曰：花葉俱香，燥濕不變。《內經》：脾癉口甘。岐伯曰自味之</p>
<h4>四君子湯</h4>
<p>人參二錢　白朮二錢（炒）　茯苓二錢　炙甘草一錢　生薑三片　大棗二枚上水煎，溫服。</p>
<p>湯以君子名，功專健脾和胃，以受水穀之精氣，而輸布於四臟，一如君子有成人之德也。</p>
<p>入草廣</p>
<h4>十全大補湯</h4>
<p>人參二錢　白朮二錢（土炒）　茯苓二錢　炙甘草一錢　當歸三錢　川芎一錢　生地三錢白上水二鐘，煎八分，食遠服。</p>
<p>四君四物，加黃　、肉桂，是剛柔復法。蓋脾為柔臟，制以四君剛藥，恐過剛損柔，乃復黃是謂法天柔互</p>
<h4>歸脾湯</h4>
<p>人參二錢　白朮二錢（土炒）　茯神二錢　炙甘草五分　黃　二錢　當歸一錢　棗仁二錢（炒水二盞，煎七分，食遠服。</p>
<p>歸脾者，調四臟之神志魂魄，皆歸向於脾也。蓋五味入胃，必藉脾與胃行其津液，以轉輸於博濃者生中州腎，氣灌與遠湯用</p>
<h4>補中益氣湯</h4>
<p>人參三分（嗽者去之）　白朮三分（土炒）　黃　一錢（蜜炙）　當歸五分（酒焙）　柴胡二分或三上件藥　咀，都作一服，水二盞，煎至一盞，去滓，食遠稍熱服。</p>
<p>氣者，專言後天之氣，出於胃，即所謂清氣、衛氣、穀氣、營氣、運氣、生氣、陽氣、春升溫之以暢下而麻柴</p>
<h4>人參養營湯</h4>
<p>人參一錢　白朮一錢（土炒）　茯苓七分　廣皮一錢　甘草一錢（炙）　熟地七分　當歸一錢上水二鐘，加生薑三片，大棗二枚，煎八分，食遠溫服。</p>
<p>養營者，調養營氣循衛而行，不使其行之度數疾於衛也。故於十全大補湯中減川芎行血之品觀主</p>
<p>《古今錄驗》續命湯麻黃三錢（去節，泡，去沫，炒）　桂枝三錢　杏仁三十枚（去皮尖）　石膏二錢　甘草三錢（上九味，水煎溫服，當薄覆脊，憑幾坐，汗出則愈，不汗更服。無所禁，勿當風。</p>
<p>《古今錄驗》者，其方錄於竹簡，從古至漢，始刊於《金匱》附方中。續命者，有卻病延年命絲以治不宜熱，</p>
<h4>二陳湯</h4>
<p>半夏二錢（薑礬制）　陳皮一錢（去白）　茯苓一錢　甘草五分上水一鐘五分，加生薑一片，煎八分，溫服。</p>
<p>二陳湯，古之祖方也。汪　庵謂其專走脾胃二經，豁痰去濕。余細繹之，其功在利三焦之竅以前陳者陰，</p>
<h4>平胃散</h4>
<p>茅山蒼朮（去粗皮，米泔浸）五兩　紫厚朴（去皮，薑汁炒）三兩二錢　廣陳皮三兩二錢（去白）</p>
<p>上為細末，每服二錢，水一盞，薑三片，棗二枚，同煎七分，溫服。</p>
<p>胃為水土之臟，長生於申。水穀之入於胃也，分為三隧，其糟粕一隧下入小腸，傳於大腸，下焦發穀腸處</p>
<h4>栝蔞根桂枝湯</h4>
<p>栝蔞根三錢　桂枝一錢五分　芍藥二錢　甘草一錢五分　生薑三片　大棗二枚上六味，以水三升，煮取一升，去滓，溫服取微汗，汗不出，食頃食熱粥發之。（分兩遵喻</p>
<p>《金匱》諸篇，每多合論，其間或邪異而病在一經，或邪同而病在各經者，分證論治，悉相選又告耳。即如太陽痙濕病，非但發熱無汗惡寒，更加身體強KT　KT　，脈反沉遲，明是風濕混擾於太陽，陽氣為濕邪所滯，不得宣通，非寒邪之沉遲脈也。治以栝蔞根桂枝湯者，風則用桂枝湯成法，濕則君以栝蔞根，酸苦入陰，內走經絡，解天行時熱以降濕，合之桂枝和營衛而治痙，</p>
<h4>防己黃湯</h4>
<p>防己一兩　甘草半兩（炒）　白朮七錢半　黃　一兩一分（去蘆）</p>
<p>上銼麻豆大，每抄五錢匕，生薑四片，大棗一枚，水盞半，煎八分，去滓溫服，良久再服。喘者加麻黃半兩，胃中不和者加芍藥三分，氣上衝者加桂枝三分，下有陳寒者加細辛三分。</p>
<h4>防己茯苓湯</h4>
<p>防己三兩　黃　三兩　桂枝三兩　茯苓六兩　甘草二兩上五味，以水六升，煮取二升，分溫三服。</p>
<p>漢防己，太陽經入裡之藥，泄腠理，療風水，通治風濕、皮水二證。《金匱》汗出惡風者，蓋陽方其應桴，並識之。</p>
<h4>百合知母湯</h4>
<p>百合七枚（擘）　知母三兩（切）</p>
<p>上先以水洗百合，漬一宿，當白沫出，去其水，更以泉水二升，煎取一升，去滓。別以泉水</p>
<h4>滑石代赭湯</h4>
<p>百合七枚（擘）　滑石三兩（碎，綿裹）　代赭石如彈丸大一枚（碎，綿裹）</p>
<p>上先以水洗百合，漬一宿，當白沫出，去其水，更以泉水二升，煎取一升，去滓。別以泉水</p>
<h4>百合雞子湯</h4>
<p>百合七枚（擘）　雞子黃一枚上先以水洗百合，漬一宿，當白沫出，去其水，更以泉水二升，煎取一升，去滓，納雞子黃</p>
<h4>百合地黃湯</h4>
<p>百合七枚（擘）　生地黃汁一升上以水洗百合，漬一宿，當白沫出，去其水，更以泉水二升，煎取一升，去滓，納生地汁煎通章言百合病，百脈一宗，不但主於營衛，而手足六經悉能致其病，汗吐下皆非所宜。</p>
<p>本文各經六若僅屬厥陰、陽明二經為病，期以二十日愈。讀第四章未經汗吐下者，治以百合地黃湯，中病勿更服。大便如漆，熱邪已泄，再服恐變症也。論症以溺時頭痛為辨，蓋百脈之所重在少陰太陽，以太陽統六經之氣，其經上循巔頂，下通水道，氣化不行，乃下溺而上頭痛，少陰為生水之源，開闔澀乃溺而淅然。若誤汗傷太陽者，溺時頭痛，以知母救肺之陰，使膀胱水藏知有母氣，救肺即所以救膀胱，是陽病救陰之法也。誤下傷少陰者，溺時淅然，以滑石上通泄陰引伸諸方，總不外乎補陰補陽之理，舉此可以類推，學人宜自得之。</p>
<h4>升麻鱉甲湯</h4>
<p>升麻二兩　當歸二兩　蜀椒（炒去汗）一兩　甘草二兩　鱉甲手指大一片（炙）　雄黃半兩（研）</p>
<p>上六味，以水四升，煮取一升，頓服之，老小再服，取汗。（《金匱》原文，陰毒去蜀椒、升麻入陽明、太陰二經，升清逐穢，辟百邪，解百毒，統治溫厲陰陽二病。如陽毒為病，面走烈</p>
<p>《</p>
<h4>白虎加桂枝湯</h4>
<p>知母六兩　甘草二兩（炙）　石膏一斤　粳米二合　桂枝三兩上銼，每五錢，水一盞半，煎至八分，去滓，溫服。汗出愈。</p>
<p>《內經》論瘧，以先熱後寒，邪藏於骨髓者，為溫、癉二瘧。仲景以但熱不寒，邪藏於心者經》膏知瘧雖清降，</p>
<h4>蜀漆散</h4>
<p>蜀漆（洗去腥）　雲母（燒二日夜）　龍骨等分上三味，杵為散，未發前以漿水服半錢。溫瘧加蜀漆半分，臨發時服一錢匕。（按：漿水乃</p>
<p>《金匱》云牡瘧，《外台》曰牝瘧，皆言心經之瘧也。心為陰中之陽，邪氣結伏於心下，心而故鎮</p>
<h4>柴胡去半夏加栝蔞湯</h4>
<p>柴胡八兩　人參三兩　黃芩三兩　甘草三兩　栝蔞根四兩　生薑二兩　大棗十二枚上七味，以水一斗二升，煮取六升，去滓再煎，取三升，溫服一升，日二服。</p>
<p>正瘧，寒熱相間，邪發於少陽，與傷寒邪發於少陽者稍異。《內經》言：夏傷於大暑，秋傷久伏深且故乎</p>
<h4>柴胡桂薑湯</h4>
<p>柴胡半斤　桂枝三兩（去皮）　乾薑二兩　黃芩三兩　栝蔞根四兩　牡蠣三兩（熬）　甘草二兩上七味，以水一斗二升，煮取六升，去滓，再煎取三升，溫服一升，日三服。初服微煩，復夏月，暑邪先傷在內之伏陰，至秋復感涼風，更傷衛陽，其瘧寒多微有熱，顯然陰陽無爭，柴胡即用藥獨</p>
<h4>達原飲</h4>
<p>常山一錢　檳榔二錢　草果一錢　厚朴一錢　黃芩一錢五分　知母二錢　石菖蒲七分青皮上水二鐘，煎八分，露一宿，發後溫服。</p>
<p>瘧發間日者，《內經》言：邪氣內薄五臟，橫連募原（全元起本「募」作「膜」），其道遠，</p>
<p>《聖表，</p>
<p>《胃厚朴溫除腸胃之濁邪，黃芩、知母清理腸胃之熱邪，復以菖蒲透膜，青皮達下，甘草和中，而瘧自解。</p>
<h4>侯氏黑散</h4>
<p>菊花四十分　白朮十分　細辛三分　茯苓三分　左牡蠣三分　桔梗八分　防風十分　人參三上十四味，杵為散，酒服方寸匕，日三服。初服二十日，用溫酒調服。禁一切魚、肉、大蒜程云來云：《金匱》候氏黑散，系宋人較正附入唐人之方，因逸之，其辨論頗詳。而喻嘉言冷服誠藥多炒黑，不從氣而從味，取其苦澀以走於空竅耳。再讀方下云，初服二十日，用溫酒調，是不欲其遽填也；後服六十日，並禁熱食，則一任填空竅矣。夫填竅本之《內經》久塞其空，是謂良工之語，煞有來歷，余故選之。</p>
<h4>射干麻黃湯</h4>
<p>射干三兩　麻黃四兩　紫菀三兩　款冬花三兩　北細辛三兩　五味子半升　半夏半升生薑上九味，以水一斗二升，先煮麻黃兩沸，去上沫，納諸藥，煮取三升，分溫三服。</p>
<p>射干湯，以苦辛溫入肺者，為復方。喉中水雞聲者，痰氣出入而　咯也。由肺中冷，陽氣不之品瀉之肺經致，</p>
<h4>厚朴麻黃湯</h4>
<p>厚朴五兩　麻黃四兩　石膏（如雞子大）　杏仁半升　半夏半升　乾薑二兩　細辛二兩小麥上九味，以水一斗二升，先煮小麥熟，去滓，納諸藥，煮取三升，溫服一升，日三服。</p>
<p>厚朴麻黃湯，大、小青龍之變方也；咳而上氣作聲，脈浮者，是屬外邪鼓動下焦之水氣上逆，與桂枝、芍藥、甘草和營衛無涉，故加厚朴以降胃氣上逆，小麥以降心氣來乘，麻杏石膏仍從肺經泄熱存陰，細辛、半夏深入陰分，祛散水寒，乾薑、五味攝太陽而監制其逆，一舉而泄熱下氣、散邪固本之功皆備，則肺經清肅之令自行，何患咳逆上氣作聲有不寧謐者耶？</p>
<h4>麥門冬湯</h4>
<p>麥門冬七升　半夏一升　人參三兩　甘草二兩　粳米三合　大棗十二枚上六味，以水一斗二升，煮取六升，溫服一升，日三夜一服。</p>
<p>麥門冬湯，從胃生津救燥，治虛火上氣之方。《金匱》云：火逆上氣，咽喉不利，止逆下氣故病冷於棗上火</p>
<h4>葶藶大棗瀉肺湯</h4>
<p>葶藶（熬令黃色，搗，丸如彈子大）　大棗十二枚上先以水三升，煮棗取二升，去棗，納葶藶，煮取一升，頓服。</p>
<p>葶藶泄水下行，與甘相反，妙在大棗甘而泄中氣，故用其甘以載引葶藶上行，瀉肺用其泄，舟楫</p>
<h4>《千金》葦莖湯</h4>
<p>葦莖二斤　薏苡仁半斤　桃仁五十枚　瓜瓣半斤上四味，以水一斗，先煮葦莖得五升，去滓納諸藥，煮取二升，服一升。再服當吐如膿。</p>
<p>葦，蘆之大者；莖，干也。是方也，推作者之意，病在膈上，越之使吐也。蓋肺癰由於氣血混一，營衛不分，以二味涼其氣，二味行其血，釐清營衛之氣，因勢涌越，誠為先著。</p>
<p>其瓜瓣當用絲瓜者良。時珍曰：絲瓜經絡貫串，房隔聯屬，能通人脈絡臟腑，消腫化痰，治諸血病，與桃仁有相須之理。薏仁下氣，葦莖上升，一升一降，激而行其氣血，則肉之未敗者，不致成膿，癰之已潰者，能令吐出矣。今時用嫩葦根，性寒滌熱，冬瓜瓣性急趨下，合之二仁，變成潤下之方，借以治肺癰，其義頗善。</p>
<h4>賁豚湯</h4>
<p>甘草二兩　芎　二兩　當歸二兩　半夏四兩　黃芩二兩　生葛五兩　芍藥二兩　生薑四兩上九味，以水二斗，煮取五升，溫服一升，日三夜一服。</p>
<p>賁，與「憤」同，俗讀奔；豚，尾後竅；又，小豕也。病從腹中氣攻於上，一如江豕以臀憤退芎欲欲</p>
<h4>栝蔞薤白白酒湯</h4>
<p>栝蔞實一枚（搗）　薤白半斤　白酒七升上三味，同煮，取二升，分溫再服。</p>
<h4>栝蔞薤白半夏湯</h4>
<p>栝蔞實一枚（搗）　薤白三兩　半夏半斤　白酒一斗上四味，同煮，取四升，溫服一升，日三服。</p>
<h4>枳實薤白桂枝湯</h4>
<p>枳實四枚　厚朴四兩　薤白半斤　桂枝一兩　栝蔞實一枚（搗）</p>
<p>上五味，以水五升，先煮枳實、厚朴取二升，去滓，納諸藥，煮數沸，分溫三服。</p>
<p>胸痹三方，皆用栝蔞實、薤白，按其治法卻微分三焦。《內經》言：淫氣喘息，痹聚在肺。</p>
<p>喘息之氣和胃無足較</p>
<h4>附子粳米湯</h4>
<p>附子一枚（炮）　半夏半斤　甘草一兩　大棗十枚　粳米半升上五味，以水八升，煮米熟湯成，去滓，溫服一升，日三服。</p>
<p>附子粳米湯，溫胃通陽於腎之劑。本論云：腹中寒氣，雷鳴切痛，胸脅逆滿，嘔吐，是邪高也。治可溫經也。</p>
<h4>當歸生薑羊肉湯</h4>
<p>當歸三兩　生薑五兩　羊肉一斤上三味，以水八升，煮取三升，溫服七合，日三服。若寒多者，加生薑成一斤；痛多而嘔者寒疝為沉寒在下，由陰虛得之，陰虛則不得用辛熱燥烈之藥重劫其陰。故仲景另立一法，以入氣</p>
<h4>甘遂半夏湯</h4>
<p>甘遂大者三枚　半夏十二枚（以水一升，煮取半升，去滓）　芍藥五枚　甘草如指大一枚（一本作無）</p>
<p>上四味，以水二升，煮取半升，去滓，以蜜半升，和藥汁煎取八合，頓服之。</p>
<p>甘遂反甘草。反者，此欲下而彼欲上也。乃以白芍約之，白蜜潤之，則雖反而甘遂仍得下滲。《靈樞》有言：約方約囊是也。甘遂、半夏逐留飲彌漫於腸胃之間，雖利而續堅滿，苟非以甘草、白蜜與甘遂大相反者激而行之，焉能去其留著之根。相反為方，全賴芍藥酸可勝甘，</p>
<h4>小半夏湯</h4>
<p>半夏一升　生薑半斤上二味，以水七升，煮取一升半，分溫再服。</p>
<h4>小半夏加茯苓湯</h4>
<p>半夏一升　生薑半斤　茯苓三兩（一法四兩）</p>
<p>上三味，以水七升，煮取一升五合，分溫再服。</p>
<h4>《外台》茯苓飲</h4>
<p>茯苓　人參　白朮各三兩　枳實二兩　橘皮二兩半　生薑四兩上六味，水六升，煮取一升八合，分溫三服。如人行八九裡進之。</p>
<p>三者皆小制之方，從脾胃二經分痰飲立治法。蓋胃之支脈有飲，則胃逆為嘔而不渴，主之以漫於若</p>
<p>《外台》茯苓飲，取四君子有調元贊化之功，加枳實陳皮下氣消痰，專治脾經，功兼及胃。</p>
<p>後一方是痰飲兼治之法也。舉此三者，治痰飲可以類推。</p>
<h4>大半夏湯</h4>
<p>半夏二升（洗完用）　人參三兩　白蜜一升上三味，以水一斗二升，和蜜揚之二百四十遍，煮藥，取二升半，溫服一升，余分再服。</p>
<p>大半夏湯，通補胃腑之藥，以人參、白蜜之甘，濃於半夏之辛，則能兼補脾臟，故名其方曰者，參扶胃氣</p>
<h4>橘皮湯</h4>
<p>橘皮四兩　生薑半斤上二味，以水七升，煮取三升，溫服一升，下咽即愈。</p>
<h4>橘皮竹茹湯</h4>
<p>橘皮二斤　竹茹二升　大棗三十枚　生薑半斤　甘草五兩　人參一兩上六味，以水一斗，煮取三升，溫服一升，日三服。</p>
<p>橘皮湯治嘔噦，橘皮竹茹湯治噦逆。嘔者，張口有物有聲；噦者，撮口有聲無物。若嘔噦四止。</p>
<p>中虛謂病</p>
<h4>黃土湯</h4>
<p>甘草　白朮　附子（炮）　乾地黃　阿膠　黃芩各三兩　灶中黃土半斤上七味，以水八升，煮取三升，分溫二服。</p>
<h4>赤小豆當歸散</h4>
<p>赤小豆三升（浸令芽出，曝乾）　當歸十兩上二味，杵為散，漿水服方寸匕，日三服。</p>
<p>《金匱》云：下血，先血後便，此近血也，赤小豆當歸散主之。明指脾絡受傷，血滲腸間，血，以灶脾以</p>
<h4>蜘蛛散</h4>
<p>蜘蛛十四枚　桂半兩上二味，為散，取八分一匕，飲和服，日再服。蜜丸亦可。</p>
<p>蜘蛛性陰而厲，隱見莫測，可定幽暗之風，其功在殼，能泄下焦結氣。肉桂芳香入肝，專散滑為。</p>
<p>年</p>
<h4>生脈散</h4>
<p>人參五錢　麥門冬三錢　五味子三錢上水二鐘，煎八分，隨時服。</p>
<p>凡曰散者，留藥於胃，徐行其性也；脈者，主於心，而發原於肺；然脈中之氣，所賴以生者味收露降</p>
<h4>玉屏風散</h4>
<p>黃　一兩（炙）　防風一兩上為末，每服三錢，水一鐘，煎八分，隨時服亦可。</p>
<p>黃　畏防風。畏者，受彼之制也。然其氣皆柔，皆主乎表，故雖畏而仍可相使。不過黃性曰玉</p>
<h4>瀉白散</h4>
<p>桑白皮一錢　地骨皮一錢　甘草五分　白粳米百粒上為末，開水調服，水一鐘，煎八分，溫服亦可。</p>
<p>肺氣本辛，以辛瀉之，遂其欲也。遂其欲當謂之補，而仍云瀉者，有平肺之功焉。桑皮、甘氣逆氣粳</p>
<h4>益黃散</h4>
<p>人參一錢　黃　二錢　炙甘草五分　陳皮一錢（去白）　黃連少許　芍藥七分　生甘草五分上為細末，每服二錢，水一杯，煎五分，食遠服。</p>
<p>土色黃，脾胃應之，不直補土，而從土中瀉火、清金、制木，以遠客邪，故曰益黃。此東垣令肝中瀉言：熱淫於內，以酸收之。芍藥酸寒，能瀉肝而收肺陰，黃連甘草入心而瀉脾熱，金旺火衰，而肝風自熄，脾胃受益矣。東垣以之治小兒慢脾風，真神品也。</p>
<h4>導赤散</h4>
<p>生地　甘草梢　淡竹葉　木通　各等分上水二鐘，煎八分，溫服。</p>
<p>導，引也。小腸一名赤腸，為形臟四器之一，稟氣於三焦，故小腸失化，上為口糜，下為淋品，令氣</p>
<h4>漿水散</h4>
<p>桂枝五錢　乾薑五錢　熟附子五錢　炙甘草五錢　良薑一錢　半夏二錢上為細末，每服三五錢，先用土漿二盞，煎一盞，和渣服，甚者三四服，微者三服。</p>
<p>土漿水，功專去暑濕，解渴熱，故以名方。夏月暴瀉亡陽，汗多腹冷，氣少脈微，君以桂枝附，元神</p>
<h4>溫膽湯</h4>
<p>茯苓七錢　半夏一兩　廣皮一兩五錢　甘草四錢（炙）　竹茹一兩　枳實一兩每服四五錢，加生薑七片，大棗一枚，水一鐘五分，煎七分，食遠溫服。</p>
<p>溫膽湯，膈腑求治之方也。熱入足少陽之本，膽氣橫逆，移於胃而為嘔，苦不眠，乃治手少和中從出</p>
<h4>酸棗仁湯</h4>
<p>酸棗仁二升（炒黑，勿研）　甘草一兩　知母二兩　茯苓二兩　川芎二兩上五味，以水八升，先煮酸棗仁得六升，後納諸藥，煮取三升，分溫三服。</p>
<p>虛煩、胃不和、膽液不足，三者之不寐，是皆虛陽溷擾中宮，心火炎而神不定也，故用補母苓泄而寐矣</p>
<h4>溫脾湯</h4>
<p>乾薑二兩　肉桂心二兩　熟附子二兩　炙甘草二兩　枳實二兩　厚朴二兩　大黃四錢上　咀，用一兩，水二碗，煎六分，頓服。</p>
<p>脾寒泄瀉腹痛者，許叔微制溫脾湯，仿仲景溫下之法，以下腸胃之冷積。夫脾既寒矣，腸既通用芍藥大黃</p>
<h4>涼膈散</h4>
<p>薄荷五錢　連翹五錢　芒硝二錢五分　甘草一兩五錢　黃芩五錢　山梔五錢　大黃五錢上為粗末，每服五錢，水一碗半，煎一碗，去滓，入白蜜一匙，微煎溫服。</p>
<p>膈者，膜之橫蔽心下，周遭相著，遮隔濁氣，不使上熏心肺者也，不主十二經。凡傷寒蘊熱厥陰貫膈小歷絡下，胃而虛</p>
<h4>益元散</h4>
<p>桂林滑石六兩　甘草一兩上為粉，水飛，每服三錢，溫水下或新汲水下。</p>
<p>滲泄之劑，不損元氣，故名益元。分兩六一，取天一生水，地六成之，故又名天水。滑石味其下通而</p>
<h4>大順散</h4>
<p>甘草三兩　乾薑四兩　杏仁四兩（去皮尖）　肉桂四兩上先將甘草同白砂炒微黃，次入生乾薑同炒，令薑裂，又入杏仁同炒，令杏仁不作聲為度，大順散，《局方》祖仲景大青龍湯，以肉桂易桂枝，而變為裡法。治避暑於廣廈，餐生冷，快脾復皆</p>
<h4>冷香飲子</h4>
<p>附子（炮）一錢　陳皮一錢　炙甘草一錢五分　草果（同吳茱萸炒黃黑）　生薑十片水一鐘，煎滾即濾，井水頓冷服。</p>
<p>冷香飲子，治霍亂陰陽暌隔，煩躁脈伏者。草果、陳皮溫脾去濕定嘔，炙草、生薑奠安脾經</p>
<h4>清暑益氣湯</h4>
<p>人參五分　麥門冬二分　五味子九粒　黃　五分　甘草二分（炙）　茅山蒼朮一錢　白朮五分二分上　咀，都作一服，水二盞，煎一盞，去滓，大溫服。</p>
<p>清暑益氣湯，東垣治脾胃虛衰所生受病之方也。夏月襲涼飲冷，內傷脾胃，抑遏真陽，而外元氣分消俾柏飲食房勞，避暑而為暑所中者，當清解與補益兼施。</p>
<h4>桂苓甘露飲</h4>
<p>茯苓一兩　豬苓五錢　澤瀉一兩　甘草二兩　白朮五錢　肉桂五錢（去皮）　滑石四兩石膏上為末，每服三錢，溫湯調下，新水亦得，生薑湯尤良。</p>
<p>消暑在於消濕去熱，故用五苓去濕，三石解熱。濕熱既去，一若新秋甘露降而暑氣潛消矣。</p>
<p>又之為鹽之精，故能涼血滌熱，從小便而出。子和亦有桂苓甘露飲，本方加人參、木香，再加干葛、藿香，雖兼補虛散邪，然濕家忌汗，不若河間之專也。</p>
<h4>清脾飲</h4>
<p>柴胡一錢　黃芩一錢　廣皮八分　半夏一錢　甘草三分　白朮（炒）七分　厚朴一錢　青皮七上水一鐘，生薑一片，棗一枚，煎八分，熱減時服。忌生冷油膩。《濟生方》有草果一錢。</p>
<p>脾不曰健而曰清者，太陰受病，清少陽所勝之邪也。蓋少陽太陰為順乘之臟腑，太陰瘧寒熱胡湯草果</p>
<h4>生津甘露湯</h4>
<p>升麻五分　防風五分　羌活一錢　柴胡一錢　石膏一錢五分　黃芩一錢（酒炒）　黃一錢柏一錢五分　知母一錢（酒炒）　龍膽草一錢半（酒炒）　炙甘草一錢上　咀，都作一服，水二盞，酒一匙，煎一盞，熱食遠服。</p>
<p>消渴門中，生津甘露湯一名清涼飲子。東垣治心火亢甚，乘於脾胃，亦是至而不至乃為不及恐左氣膽用</p>
<h4>竹葉黃湯</h4>
<p>竹葉二錢（淡）　石膏（　）　麥門冬　人參　黃　甘草　半夏　生地　當歸　白芍　川芎上水二鐘，煎八分，食遠服。</p>
<p>四方互復，獨以竹葉、黃　標而出之者，明其方專治肺經熱消，非概治二陽結之消渴者也。</p>
<p>劑，復以火。</p>
<p>補</p>
<h4>清燥救肺湯</h4>
<p>經霜桑葉三錢（去筋）　杏仁七分（去皮尖，炒黃）　麥門冬一錢二分（去心）　石膏二錢五分水一碗，煎六分，食遠服。</p>
<p>燥曰清者，傷於天之燥氣，當清以化之，非比內傷血燥，宜於潤也。肺曰救者，燥從金，石膏之辛，麥門之甘，杏仁之苦，整肅肺經之氣，人參、甘草生津補土，培肺之母氣，桑葉入肺雖言論</p>
<h4>升陽益胃湯</h4>
<p>羌活五錢　防風五錢　柴胡二錢　獨活五錢　川黃連二錢　白芍五錢　黃　二兩　甘草一兩上　咀，每服三錢，生薑五片，棗二枚，水三盞，煎至一盞，去滓，溫服，早飯午飯之間。</p>
<p>升陽益胃湯，東垣治所生受病肺經之方也。蓋脾胃虛衰，肺先受病，金令不能清肅下行，則白健藉泄</p>
<h4>《外台》杏仁煎</h4>
<p>杏仁一斤（去皮尖，搗，熬作酪）　白蜜五合　酥油五合（以牛乳煎成者）　生薑汁三合上四味，以水三升，納杏仁酪煎攪可減半，納薑汁煎如稀糖，納酥蜜煎令如稠糖。每服一匙七小杏仁煎，潤劑也。治勞役表　，寒襲於肺，上氣乾咳，肺痿聲啞，群復滑潤之品，仍無腸泄同氣地黃</p>
<h4>調中散</h4>
<p>桂枝一兩五錢　生乾薑　五味子　人參　白朮　赤茯苓　炙甘草　當歸各一兩上為末，每服三錢，水一盞，煎八分，溫服去渣，夜再服。</p>
<p>一陽發病，少陰嗽泄，三焦不利，上咳下瀉，心火不寧，其動若掣，明是咳瀉，屬三焦不利守真佐以高出</p>
<h4>硝石礬石散</h4>
<p>硝石（芒硝之底，沉凝者準）　礬石（燒）等分上二味為散，以大麥粥汁和服方寸匕，日三服，病隨大小便去，小便正黃，大便正黑是候也硝石礬石散，悍劑也。女勞黑疸腹滿者，死證也。讀仲景原文，當急奪下焦之瘀血，庶可斡迨不於直除匱》另有酒疸之黑，乃是濕熱瘀而不行，營血腐憊之色，又非硝石散之所治矣。</p>
<h4>豬膏發煎</h4>
<p>豬膏半斤　亂髮（如雞子大，洗潔）三枚上二味，和膏中煎之，發消藥成，分再服，病從小便出。</p>
<p>《金匱》云：諸黃，豬膏發煎主之。時珍曰：釋者為膏。《禮‧內則》云：以水潤釋而煎之之實因使虛胃婦吹</p>
<h4>補肝湯</h4>
<p>桃仁三兩　桂心三兩　柏子仁三兩　山萸肉三兩　茯苓三兩　甘草一兩二錢　細辛八錢防上　咀，水九升，煮五升，去滓，分三服。</p>
<p>《舉痛論》厥痛計一十三條，只有二條為熱，余皆為寒。其寒熱厥氣犯胃而痛，惟肝藏為最以辛曰：肝邪胃，導之</p>
<h4>二妙散</h4>
<p>茅山蒼朮（生用）　川黃柏（炒焦）</p>
<p>上為末，搗生薑煎沸湯調服。即《集要方》二神湯各錢五分，水煎，空心服。</p>
<p>二妙散，偶方之小制也。蒼朮生用入陽明經，能發二陽之汗，黃柏炒黑入太陰經，能除至陰</p>
<h4>觀音應夢散</h4>
<p>人參三錢　紫衣胡桃肉一兩（連皮鬲）</p>
<p>上為末，每服三錢，水一盞，煎八分，食遠服。</p>
<p>《日華子本草》云：食酸齒　，細嚼胡桃即解。病有多食梅子，斂痰飲於膈，酸寒之性搏激散之氣授以此</p>
<h4>三生飲</h4>
<p>烏頭三錢　附子三錢　虎掌三錢　木香八分上水二鐘，煎一鐘，或溫服，或冷服。</p>
<p>三生者，一本而用其三，不炮不制，故名。即《肘後方》名三建湯者是也。《大明本草》云力泄直上直下，為斬關奪門之劑。苟非寒痰氣厥，昏不知人，證偏於實者，不可輕用。但後人方中，虎掌皆用南星，以南星亦名虎掌，乃相沿之誤，實非南星也。</p>
<h4>王荊公妙香散</h4>
<p>人參一兩　益智仁一兩　五花龍骨一兩　茯神五錢（去木）　茯苓五錢　遠志肉五錢（甘草制）</p>
<p>上為末，每服二錢，空心溫酒調服。水煎服亦可。《良方》加木香二錢五分，麝香一錢。</p>
<p>妙香散，治有夢之遺精，經言手、足少陰之厥，令人妄夢。《良方》加以木香、麝香，通其神明，使人不夢淫邪泮釋，自無精泄之患。其妙在於二香，而荊公之方，無此二味，亦名妙香，其意何居？抑或傳流日久而脫文耳。夫精之藏蓄在腎，統攝在脾，至疏泄之時，則惟聽命於心，故用茯苓、遠志通腎以泄邪火，人參、益智固脾以攝真精。茯神安神，朱砂定氣，龍骨秘精，三者皆安鎮心經之藥，炙甘草調和陰陽，則心有所主而精不搖矣。二香能清夢寐，</p>
<h4>金鈴子散</h4>
<p>川楝子（去核）一兩　延胡索一兩上為末，每服三錢，溫酒調服。水煎服亦可。</p>
<p>金鈴子散，一泄氣分之熱，一行血分之滯。《雷公炮炙論》云：心痛欲死，速覓延胡。</p>
<p>潔古去小方</p>
<h4>茯神湯</h4>
<p>茯神（去木）　羚羊角（鎊）　北沙參　棗仁（炒）　葳蕤　遠志肉（去心）　五味子各三兩龍骨上粗搗篩，每服三錢匕，水一盞，煎取七分，去滓溫服，不拘時候。</p>
<p>《聖濟總錄》列《素問》病機六十二證，每證各載數方，河間選其可因者，嘗錄於《宣明方張大氣張益陰以視腎精汨乎又言：肝氣當治而未能，乃為煎厥，詳在後論丸方中。</p>
<h4>赤茯苓湯</h4>
<p>赤茯苓（去皮）一兩　陳皮（去白）一兩　麥冬（去心）五錢　桔梗一兩　人參一兩　芍藥五錢上為末，每服三錢，水一盞，生薑五片，同煎至八分，去滓溫服，不計時候。</p>
<p>《生氣通天論》又曰：大怒則形氣絕，血鬱於上，使人薄厥。薄者，氣血相薄也。怒則氣上厥。</p>
<p>郁，行。</p>
<p>元素曰：檳榔之性下行，如鐵石之沉重，能墜諸藥至於下極，方義清肺之鬱而墜其逆，其厥</p>
<h4>大川芎丸</h4>
<p>川芎一斤　天麻四兩（用鄆州者）</p>
<p>上為末，煉蜜為丸，每兩作十丸，每服一丸，細嚼食後，茶酒下。</p>
<h4>秘方茶酒調散</h4>
<p>石膏（另為細末）　菊花　細辛（去苗）　香附子（去須）各等分上為末，每服二錢，溫茶酒調下，食後，每日三服。</p>
<p>新沐中風，則為首風。沐，濯發也。《經》言：頭面多汗惡風，當先風一日，頭痛不可以出女多用大辛痛，</p>
<h4>白朮散</h4>
<p>牡蠣（焙赤）二錢　白朮一兩一分　防風二兩五錢上為末，每服一錢，溫水調下，不計時。如惡風倍防風白朮，如汗多面腫倍牡蠣。</p>
<p>飲酒中風，則為漏風。漏，滲也。《經》言：食則汗出，甚則自汗，喘息惡風，口渴不能勞治皮鹹寒必為</p>
<h4>地黃飲子</h4>
<p>熟地八錢　熟附子一錢二分　官桂八分　石菖蒲一錢　遠志肉一錢（甘草制）　淡肉蓯蓉干一川石上為末，每服三錢，水一盞半，生薑五片，棗一枚，薄荷五分，同煎至八分，不計時候服。</p>
<p>飲，清水也。方名飲子者，言其煎有法也。喑啡之證，機竅不靈，升降失度，乃用一派重濁交陰白茯肺腎自解</p>
<h4>鱉甲湯</h4>
<p>鱉甲（去欄，醋炙）一兩　生地黃一兩　當歸一兩　白芍一兩　柴胡（去苗）一兩　官桂三分上為末，每服三錢，水一大盞，入生薑、木香五分，同煎至八分，去滓，空心溫服。</p>
<p>鱉甲湯，治伏梁。伏，匿藏也。梁，石絕水為梁，喻其郁氣阻於腹中也。張子和曰：伏梁，伯曰動亟奪子皮攻亦能破湯。</p>
<h4>白朮湯</h4>
<p>白朮一兩　厚朴（生薑汁炒）一兩　當歸（去苗）一兩　龍骨（　）一兩　艾葉（炒熟）</p>
<p>五錢上為末，每服三錢，水一盞，生薑三片，同煎至八分，去滓，空心溫服。</p>
<p>白朮湯治飧泄，食不化而出清穀，用溫固升清之法。《經》言：熱氣生清，清氣在下，則生義。</p>
<p>和，</p>
<h4>吳茱萸湯</h4>
<p>吳茱萸（湯淘，炒）二兩　官桂（去皮）二兩　乾薑（炮）二兩　蜀椒（出子，炒去汗）</p>
<p>五錢　陳皮上為末，每服三錢，水一大盞，生薑三片，同煎至八分，空心去滓，溫服。</p>
<p>吳茱萸湯，治濁氣上升而生　脹，用溫散降濁之法。《經》言：寒氣生濁，濁氣在上，則生中健輕，</p>
<h4>犀角湯</h4>
<p>犀角（鎊）五錢　升麻三錢　元參五錢　連翹五錢　射干一分（去毛）　麥門冬一兩（去心）</p>
<p>沉上為末，每服三錢，水一大盞，同煎至八分，食前，去滓溫服。</p>
<p>結陽者腫四肢，陽別於陰，雖非死病，亦危證也；本論云：所謂陽者，胃脘之陽也，別於陽以木</p>
<h4>地榆湯</h4>
<p>地榆四兩　甘草三兩（半生半炙）</p>
<p>上為末，每服五錢，水三盞，納縮砂仁七枚，每服可加，炒用亦可，煎至一半，去滓溫服。</p>
<p>結陰者，陰氣自結不和於陽也。結則下瘀血，若瘀血去盡，而再結再下，三結三下，斷續不之入之征</p>
<h4>《聖濟》大建中湯</h4>
<p>人參二兩　黃　三兩　當歸三兩　白芍二兩　炙甘草二兩　遠志（去心）三兩　龍骨二兩澤上為末，每服三錢，水一盞，生薑五片，煎至八分，去滓溫服，不計時候。</p>
<p>風邪從肺乘勝至脾，脾風傳腎，燥土之氣，腎之所惡，真精不守，乃冤熱腹痛而出白液，病矣。《聖濟方》治以人參、黃　、當歸、白芍、炙草柔脾之陽，以化燥氣，佐以遠志強志益腎，</p>
<h4>建中加減湯</h4>
<p>人參一兩　黃　四兩　當歸一兩　白芍四兩　炙甘草一兩　生地四兩　麥冬四兩　龍骨四兩上為末，每服三錢，水一盞半，生薑五片，棗一枚，餳少許，煎至一盞，去滓溫服。</p>
<p>腎風傳心，亦用建中法者，以心主營而出中焦，故病則筋脈相引搐搦，名曰螈。當此之時，更甚保護</p>
<h4>黃湯</h4>
<p>黃　二兩（薑汁炒）　人參二兩　五味子二兩　枸杞子一兩　熟地一兩　生乾薑一兩（新改）</p>
<p>上為末，每服三錢，水二盞，煎至一盞，去滓溫服，無時。原方有桑皮、麥冬，無乾薑、桂枝。</p>
<p>心移寒於肺，飲一溲二，謂之死陰，不治三日而死。《聖濟方》治之以黃　湯。余考其證與統歸於中用人肺二經陽，干</p>
<h4>麥冬飲子</h4>
<p>麥冬二兩（去心）　知母一兩　人參一兩　炙甘草一兩　生地一兩　茯神一兩　栝蔞實一兩上為末，每服五錢，水二盞，竹葉數片，同煎至一盞，去滓，食後溫服。</p>
<p>心移熱於肺，傳為膈消，是亦死陰也。雖不若移寒之三日而死，然熱久消渴，煩心短氣，津葛</p>
<h4>雞屎醴散</h4>
<p>大黃一錢　桃仁一錢　雞屎醴一錢上為末，每服一錢，水一盞，生薑三片，煎湯調下，食後臨臥服。（臘月干雞屎白半斤，袋醴，甜酒也。少曲多米，釀之一宿而成，僅有酒香者佳。水氣鼓脹，用雞屎白者，雞無前陰於脈一劑</p>
<h4>柴胡地骨皮湯</h4>
<p>柴胡（去苗）　地骨皮各一兩上為末，每服三錢，水一大盞，煎至八分，去滓，細含咽之，食後服。如有病患大便實者，膀胱移熱於小腸，膈腸不便，上為口糜者，手足太陽熱結也。胃之水穀不得轉輸於下，則令內開而行</p>
<h4>蠲痹湯</h4>
<p>黃　二錢五分　防風一錢二分（去蘆）　當歸二錢五分（酒洗）　羌活一錢二分　赤芍一錢二分上水二鐘，生薑五片，大棗二枚，煎一鐘，食前服。</p>
<p>蠲，去之疾速也。痹，濕病也，又言痛也。痹分三氣雜至，風勝為行痹，寒勝為痛痹，濕勝抑藥</p>
<h4>木香散</h4>
<p>木香一兩　良薑五錢　乾薑五錢　草豆蔻三兩　陳皮一兩　枳實五錢　川芎三兩　赤芍五上為末，每服二錢，水一盞，煎至七分，去滓溫服。</p>
<p>岐伯以心脈急為心疝，是寒傷營也。心不受邪，乃傳於小腸，而又不能為之散邪，故小腹有氣，分之有殊熱之</p>
<h4>柏子仁散</h4>
<p>柏子仁三兩　當歸五錢　防風三兩　細辛三兩　川芎三兩　枳殼三兩　白朮三兩　茯苓三兩上為末，每服三錢，水一盞半，生薑三片，棗二枚，同煎至八分，去滓溫服，不計時候。</p>
<p>柏子仁散治疹筋。疹者，初病即可得而診見也。《經》言：尺脈數甚，筋急而見，是人腹必虛，病也白朮標之</p>
<h4>益膽湯</h4>
<p>苦參一兩五錢　黃芩二兩（去朽）　官桂一兩　人參二兩　茯神一兩五錢　炙甘草二兩上為末，每服三錢，水一盞，煎至八分，去滓，隨時溫服。</p>
<p>益膽者，益膽汁也。《內經》膽疸治之以陽陵泉，針刺法也，前賢旁通其義，變易湯藥之治官甘苦疸已</p>
<h4>通腎湯</h4>
<p>菖蒲（銼）二兩　五加皮（銼）一兩　生乾地黃（焙）二兩　羚羊角二兩　赤芍藥二兩　甘草（炙上為末，每服三錢，水一盞半，煎七分，去滓溫服。</p>
<p>通腎湯，治解亦。解，舒緩也；亦者，疑也，不可必之辭。病有脊脈痛，少氣，安臥不欲言內滯通竅當</p>
<h4>豆蔻散</h4>
<p>肉豆蔻五個（面裹煨）　炙甘草三錢　厚朴五錢上為末，每服二錢，米飲一盞調下，食前，白湯亦得。</p>
<p>歲水不及，濕乃大行，長氣反用，民病濡泄。濡，潤也。楊子曰：泄，歇也。謂洞泄下水，陰之之。</p>
<p>可治</p>
<h4>越桃散</h4>
<p>大山梔子三錢　高良薑三錢上和勻，每服三錢，或米飲，或酒調下，痛立止。</p>
<p>越桃，山梔也，產於南陽山上者佳，故名。痢後小便利者，下焦有寒也，若腹中虛痛不可忍瀉其</p>
<h4>中滿分消湯</h4>
<p>川烏二分　柴胡二分　升麻三分　麻黃二分　乾薑二分　半夏三分　草果五分　益智三分茄二上銼如麻豆大，都作一服，水二大盞，煎至一盞，食前熱服。</p>
<p>分消者，上下分消其邪也，謂以辛熱散之，苦熱泄之，淡滲利之，使其陰陽自然分化，不必陽之薑、黃中，其氣中滿吸門</p>
<h4>五膈湯</h4>
<p>杏仁（去皮尖）　香豉（熬）　曲　乾薑　吳茱萸　蜀椒（炒去汗）各等分上六味，搗篩蜜丸，飲服七丸，日三服，忌冷。</p>
<p>膈病，非獨三陽結，猶有憂、氣、恚、食、寒之證。夫憂、氣二膈，結氣於胸，以杏仁、香之不驗，得以流傳。又有飲膈、熱膈，非結氣所致，茲不具贅。</p>
<h4>進退黃連湯</h4>
<p>川黃連（薑汁炒）一錢半　乾薑（炮）一錢五分　人參（人乳拌蒸）一錢五分　桂枝一錢半夏（上進法：用本方三味不制，水三茶鐘，煎減半，溫服。退法：桂枝不用，黃連減半，或加肉黃連湯，仲景治胃有邪，胸有熱，腹有寒，喻嘉言旁通其旨，加進退之法，以治關格，獨超則進黃連先通</p>
<h4>蒼朮石膏湯</h4>
<p>蒼朮五錢　石膏三錢　知母一錢五分　甘草一錢上銼細，和勻，都作一服，水二盞，煎一盞，溫服。</p>
<p>蒼朮石膏湯，太陰陽明經降劑，治濕淫者。《經》言：濕上甚為熱，仲景云：濕邪以寒戰而身知母佐石膏，剛柔相配，不傷臟腑之正氣，可謂詳審精密矣，雖與白虎湯相似，其義各有微妙。</p>
<h4>回陽返本湯</h4>
<p>熟附子（上）　乾薑（中）　甘草（下）　人參（中）　麥門冬（中）　五味子（下）　臘茶（中）</p>
<p>陳皮上用澄清土漿水一鐘，煎六分，臨服入白蜜五匙，隔冷水頓冷服，取汗為度。</p>
<p>節庵變易仲景之白通湯，而為回陽補虛之制。蔥白、乾薑、附子藉以通陽溫經，人參、麥冬心化大</p>
<h4>羊肉湯</h4>
<p>左牡蠣三錢　龍骨二錢　川桂枝一錢　大白芍一錢五分　熟附子一錢　當歸一錢五分生薑上都作一服，水二盞，煎八分，溫服不計時。</p>
<p>羊肉湯，救逆湯之復方也。韓　和曰：救逆不應，當復羊肉，為效甚速。蓋以陽盛於上而衰上失</p>
<h4>安胃湯（新制）</h4>
<p>川椒五分（炒去汗）　安吉烏梅一錢（去核）　川黃連一錢　人參三錢　枳實一錢五分　生淡干上為末，每服三錢，水一鐘，煎八分，溫服。</p>
<p>安胃者，毋使乘勝之氣犯胃也。倦不思食，無不由於脾胃為病，然揆其寒熱虛實，卻有盛衰之論行陽氣，</p>
<h4>犀角地黃湯（新改）</h4>
<p>暹羅犀角三錢　生地五錢　連翹三錢　生甘草五分（原方有丹皮、赤芍，無連翹、甘草。）</p>
<p>上水二鐘，武火煎八分，溫服，無時候。</p>
<p>《局方》犀角地黃湯，厥陰陽明藥也。溫熱入絡，舌絳煩熱，八九日不解，醫反治經，寒之</p>
<p>《本甘草</p>
<h4>治桃仁湯</h4>
<p>槐角子一兩（碎）　桃仁一兩（碎）　艾葉一兩　大棗十五枚上水煎服。</p>
<p>蟲蝕謂之　，三尸蟲最靈異，分處三焦，能上下接應，每藏於腸胃卑濕處，以蝕外來之五味味五五木能出復以</p>
<h4>鼠糞湯</h4>
<p>韭根一大把　鼠糞十四粒（兩頭尖者）</p>
<p>上二味，以水二升，煮取半升，去渣再煎三沸，溫服盡。必有黏汗出為效，未效再作服。</p>
<p>鼠糞韭根，皆厥陰藥也。陰易是婦人病溫後，毒移男子而病也。蓋婦人以肝為先天，冬不周以韭如</p>
<h4>香港腳雞鳴散</h4>
<p>紫蘇葉一兩　木瓜一兩　生薑（連皮）二兩　桔梗五錢　廣皮一兩　吳茱萸一兩　檳榔七個。</p>
<p>上為粗末，分作八服，每服隔宿用水三大碗，慢火煎至碗半，去滓，再用水二碗，煎滓取一小碗，去滓，兩次煎汁相和，安頓床頭，次早五更分二、三服，只是冷服，冬月略溫，服後</p>
<p>《經》以香港腳名厥，漢名緩風，宋齊後始名香港腳。按前賢論，皆由風寒暑濕乘虛襲於三陰經，宜急為重劑以治之。《外台》療香港腳，惟唐侍中方為最驗。至明，周文采《醫方選要》雞鳴散，藥品相同，惟多桔梗一味，取義於五更服，故曰雞鳴散。紫蘇色赤氣香，通行氣血，專散風毒，同生薑則去寒，同木瓜則收濕，佐以桔梗開上焦之氣，廣皮開中焦之氣，妙在吳茱萸泄降下逆，更妙在檳榔沉重性墜，諸藥直達下焦，開之散之，泄之收之，俾毒邪不得上壅入腹衝心，而成危候。雞鳴時服者，從陽注於陰也。服藥須冷者，從陰以解邪也。東垣分南北二方治法，各隨其所勝者而偏調之，證相宜者而倍用之，是亦發前人之未發，在圓機者，斟酌變通，斯為善矣。</p>
<h4>神效散</h4>
<p>白浮石　蛤粉　蟬蛻上為細末，用大鯽魚膽七個，調三錢服，不拘時，神效。</p>
<p>膈消，《聖濟總錄》治以麥冬飲子，河間因之。余再讀《本事方》用神效散，其識見之高遠復移熱於膈，熾若燎原，故渴而求救於水，飲如長鯨之吸川，雖補水降火無及也。妙在即以更輕浮能利成中</p>
<h3>內科丸方</h3>
<h4>腎氣丸</h4>
<p>熟地八兩　山萸肉四兩　山藥四兩　澤瀉三兩　丹皮三兩　白茯苓三兩　肉桂一兩　熟川附上為末，煉蜜為丸，梧子大，每服五七十丸，空心淡鹽湯送，或臨臥溫酒下，每服當以美膳腎氣丸者，納氣歸腎也。地黃、萸肉、山藥補足三陰經，澤瀉、丹皮、茯苓補足三陽經。</p>
<p>臟從分頭導納，絲絲不亂。獨取名腎氣者，雖曰乙癸同源，意尤重於腎也。</p>
<h4>六味地黃丸</h4>
<p>熟地八兩　山萸四兩（去核）　山藥四兩　澤瀉三兩　丹皮三兩　茯苓三兩上法制，共搗爛，烘燥入磨為末，煉蜜丸，桐子大，每服七八十丸，空心淡鹽湯下，冬用酒六味者，苦、酸、甘、咸、辛、淡也。《陰陽應象論》曰：精不足者，補之以味。五臟之精氣化氣，者補附</p>
<h4>扁鵲玉壺丸</h4>
<p>硫黃八兩上法制，服食具載注中。</p>
<p>玉壺，指人身而言。道書曰：金精滿鼎氣歸根，玉液盈壺神入室。玄壽先生曰：硫是礬之液今以凡硫黃八兩，配真麻油八兩，以硫打碎，入冷油內燉爐上，炭火宜微勿烈，以桑條徐調，候若再六中字配</p>
<h4>天王補心丹（其方有四，惟此《道藏》者通）</h4>
<p>人參五錢　當歸一兩　柏子仁一兩　丹參五錢　茯神五錢　棗仁一兩　天門冬一兩　麥門冬上法制為末，蜜丸彈子大，朱砂為衣，燈心湯服一丸；或噙化。</p>
<p>補心者，補心之用也。心藏神，而神之所用者，魂、魄、意、智、精與志也，補其用而心能心而以則精</p>
<h4>四神丸</h4>
<p>補骨脂四兩　肉豆蔻二兩　吳茱萸一兩　五味子三兩上為末，用大棗百枚，生薑八兩，切片同煮棗爛，去薑，取棗搗丸，每服二錢，臨臥鹽湯送四神者，四種之藥，治腎泄有神功也。補骨脂通癸水之真陽，肉豆蔻保戊土之真氣，俾戊癸相輔</p>
<h4>斑龍丸</h4>
<p>鹿角霜八兩　鹿角膠八兩　菟絲子八兩　補骨脂四兩　柏子仁八兩　熟地八兩　白茯苓四兩上將膠溶化，量入無灰酒，打糊為丸，每服六七十丸，淡鹽湯下。</p>
<p>《乾寧記》云：鹿與游龍相戲，必生異角，故得稱龍；鹿有紋故稱斑，用其角為方，故名斑以氣運精之血燥，而功士酣寮</p>
<h4>天真丸</h4>
<p>精羊肉七斤（去筋膜脂皮，批開，入後藥）　當歸十二兩（洗，去蘆）　鮮山藥十兩（去皮）</p>
<p>肉蓯蓉十兩（去甲，清水浸淡，晒乾）　天門冬（去心，焙乾）一斤上四味，共搗烘燥磨末，安羊肉內裹縛，用無灰酒四瓶，煮令酒盡，再入水二升煮，候羊肉糯米飯焙乾焙形不足者，補之以氣，精不足者，補之以味，養形補精以全神，故名天真。人參、黃　、白肺陰</p>
<h4>大造丸</h4>
<p>紫河車一具（用米泔水浸，逾時輕輕擺開，換水洗潔，淨白如楊妃色者佳，用竹器盛於長流汁入絹袋清水浸蓯蓉七淨）　生杜上法制為末，河車搗為丸，量加煉蜜，每服三錢，侵晨百滾湯送。</p>
<p>大造者，其功之大，有如再造，故名。括蒼吳球宗丹溪之旨，創立大造丸，世咸遵之。</p>
<p>第藥潛陰九，歸、肺，量宏</p>
<h4>固精丸</h4>
<p>鹿茸一具　鹿角霜（分兩同茸）　陽起石五錢　韭菜子一兩　淡肉蓯蓉一兩　五味子五錢茯上為細末，酒煮糊為丸，如梧子大，每服七十丸，空心鹽湯送下。</p>
<p>固精丸，治無夢之滑精。夫房勞過度，則精竭陽虛，陽虛則無氣以制其精，故寐則陽陷而精獨用去淫行陽而成</p>
<h4>葶藶丸</h4>
<p>葶藶（隔紙炒）　杏仁（麩炒，去皮尖）　桑根白皮（銼）　豬苓（去黑皮）　澤瀉　椒目以上各五錢上搗羅為末，煉蜜為丸，如桐子大，每服二十丸，蔥白湯下，病不知，加至三十丸。</p>
<p>《聖濟葶藶丸治涌水。涌或作涌。按《經》義，肺移寒於腎為涌水者，無形之邪移於肺之子也。</p>
<p>按郁下目之</p>
<h4>檳榔丸</h4>
<p>檳榔（銼）　大黃（銼炒）　枳殼（去瓤，麩炒）各二兩　桃仁（去皮尖，麩炒）　大麻仁（炒）</p>
<p>木香各一兩</p>
<p>《聖濟方》有青皮（湯浸，去白）一兩，蜜丸，每服十丸，溫酒下。</p>
<p>檳榔丸，與潤腸、通幽二方同義，和劑也。治小腸移熱於大腸之　瘕證。夫大腸為傳導之腑伏麻仁潤下大腸之熱，治在腑者，宣而通之，病在下者，因而奪之。河間減去青皮，勿雜肝膽之藥也。</p>
<h4>左金丸</h4>
<p>吳茱萸（去閉口，鹽水浸一伏）一兩　川黃連六兩（鹽水炒）</p>
<p>上為末，水法為丸，或粥糊丸，每服三十丸，開水送。</p>
<p>經脈循行，左升右降，藥用苦辛肅降，行於升道，故曰左金。吳茱萸入肝散氣，降下甚捷，其氣</p>
<h4>礞石滾痰丸</h4>
<p>青礞石一兩（以焰硝一兩同入瓦罐，鹽泥固濟，晒乾，火　石色如金為度，無金星者不用）</p>
<p>上為細末，水法為丸，每服三五十丸，量人強弱加減。</p>
<p>礞石性寒下降，陰也。焰硝性熱上升，陽也。用以同　，不特取焰硝有化石之能，並與礞石相及重，之熱</p>
<h4>威喜丸</h4>
<p>雲茯苓四兩（去皮，作匱以豬苓四錢半入內，煮二十余沸，日干，揀去豬苓，晒乾為度）</p>
<p>黃蠟四兩（溶化）</p>
<p>上即以蠟丸彈子大，空心細嚼，滿口生津，徐徐咽下，以小便清為度。忌米醋，尤忌怒氣勞</p>
<p>《抱朴子》云：茯苓千萬歲，其上生小木，狀似蓮花，名威喜芝。今以名方者，須擇雲茯苓有續痰火</p>
<h4>鱉甲煎丸</h4>
<p>鱉甲十一分（炙）　阿膠三分（炙）　蜣螂六分（熬）　蜂房四分（炙）　蟲五分（熬）</p>
<p>鼠婦三分威三分三分上二十三味為末，取鍛灶下灰一斗，清酒一斛五斗，浸灰候酒盡一半，著鱉甲於中，煮令泛鱉甲煎丸，都用異類靈動之物，若水陸，若飛潛，升者降者、走者伏者咸備焉。但恐諸蟲擾鱉甲血閉退熱其熱血。</p>
<p>截之攻補</p>
<h4>虎潛丸</h4>
<p>龜甲四兩（炙）　虎脛骨一兩（炙）　熟地三兩　當歸一兩五錢（酒洗）　白芍二兩（酒炒）</p>
<p>牛膝陽一兩五錢上為末，羯羊肉酒煮爛，搗丸，鹽湯下。冬加乾薑一兩。</p>
<p>虎，陰獸。潛，伏藏也。臟陰不藏，內熱生痿者，就本臟分理以伏藏其陰也。故用龜甲為君戀失知</p>
<h4>黑地黃丸</h4>
<p>白朮一兩六錢（炒黑）　熟地一兩六錢（炒黑）　五味子八錢（蒸熟）　生淡乾薑（清水浸淡）</p>
<p>春七上為末，棗肉為丸，每服百丸，清米飲湯送下。</p>
<p>地黃丸，名之以黑者，白朮、熟地皆須炒黑也。《經》言：脾寒則濕，腎熱則燥，故治脾惡乃後五</p>
<h4>來復丹</h4>
<p>太陰玄精石一兩　舶上硫黃一兩　橘紅二錢　硝石一兩（用硫黃為末，微火炒，結砂子大）</p>
<p>上為末，醋糊丸，豌豆大，每服三十丸，空心米飲下。</p>
<p>《易》言：一陽來復於下。在人則為少陽生氣所出之臟，病上盛下虛，則陽氣去，生氣竭，陰石膽</p>
<h4>至寶丹</h4>
<p>暹羅犀角（鎊）　朱砂（研，水飛，觀音面者佳）　雄黃（研，水飛）　琥珀（研）　玳瑁（鎊）</p>
<p>各一灰酒熬成上將犀玳為細末，入余藥研勻，將安息膏重湯煮，入諸藥搜和，分作百丸，蠟護，臨服剖用至寶丹，治心臟神昏，從表透裡之方也。犀角、牛黃、玳瑁、琥珀以有靈之品，內通心竅，李杲為聖陽，蠣救</p>
<h4>萬氏牛黃清心丸</h4>
<p>西牛黃二分五厘　鏡面朱砂一錢五分　生黃連五錢　黃芩三錢　山梔三錢　鬱金二錢上為末，蒸餅為糊丸，如黍大，每服七八丸。</p>
<p>喻嘉言《治中風門》云：熱阻關竅，湯劑中調入牛黃清心丸。但古有數方，其義各別，若治達表宜。</p>
<p>丸調</p>
<h4>蘇合香丸</h4>
<p>蘇合香（白者良，研）二兩　安息香（無灰酒煮，去砂）二兩　暹羅犀角（鎊，研）　龍腦冰片（研極細）</p>
<p>丁上十一味為末，逐一配勻，量加煉蜜和劑，分作五十丸。另以朱砂一兩，水飛為衣，蠟護，方蘇合香能通十二經絡、三百六十五竅，故君之以名其方，與安息香相須，能內通臟腑。</p>
<p>龍腦附入脾，不</p>
<h4>木香砂煎丸</h4>
<p>木香一分　砂（醋內化，濾淨炒）五錢　京三棱（生用）一分　巴豆（去膜，勿去油，研）</p>
<p>一分分肉桂（去上一十二味，將京三棱、巴豆、大黃三味各搗研為末，同置銀石器內，用醋一升，煎一兩沸每服牛羊小砂方出自唐宋，症癖痼疾，推之不移者，非此不化。木香專走三焦，　砂亦能化三焦之痼載砂桂通</p>
<h4>天真丹</h4>
<p>沉香一兩　琥珀一兩　巴戟天（酒浸，去心）一兩　葫蘆巴（炒香）一兩　茴香（鹽炒香，去鹽一兩牽牛上十味為細末，用元浸藥酒，打面糊為丸，如桐子大，每服五十丸至七八十丸，空心溫酒下天真丹，治下焦陽虛，臍腹痼冷，腿腫如斗，囊腫如升，肌肉堅硬，按之不　，是皆形氣不當破補去其積</p>
<h4>資生丸</h4>
<p>白扁豆一兩　山藥一兩五錢　人參三兩　白朮（土炒）三兩　蓮肉一兩　芡實一兩五錢橘紅三錢上為末，煉蜜丸，每丸二錢重，每服一丸，醉飽後二丸，細嚼，淡薑湯下。</p>
<p>《易》曰：至哉坤元，萬物資生。取以名方者，因三焦五臟生生之氣，全資脾胃而輸化也。</p>
<p>山豆蔻運上焦之氣而使之輸也，麥芽、苡仁、茯苓、澤瀉理下焦之氣而使之化也。三焦氣行，五臟氣充，而生氣勃然矣。</p>
<h4>伐木丸</h4>
<p>茅山蒼朮（米泔水浸二宿，去皮毛）二斤　黃酒面曲（造法另載本草）四兩同蒼朮炒赤色皂礬上法制為末，醋糊丸，梧子大。每服三四十丸，好酒、米湯任下，日二三服。</p>
<p>伐木丸出《張三豐仙傳方》。三豐云：此乃上清金蓬頭祖師所傳，治黃腫如土色，其效如神及。</p>
<p>安太陰，仙品也。李時珍云：以皂礬加入平胃散，胡桃、棗子為丸，又以皂礬、當歸、百草霜為劑，總不及此</p>
<h4>寧肺散</h4>
<p>御米囊（醋炒）一兩六錢　烏梅肉四錢上為末，每服二錢，沸湯點服。</p>
<p>寧，甸安也。嗽久則勞於肺，氣散不收，肺脹病劇者，始用以安肺。河間云：嗽久不已，諸也粟</p>
<h4>禹功散</h4>
<p>黑牽牛頭末（入磨一次，不復再磨）四兩　大茴香（炒）一兩上為細末，以生薑自然汁調一二錢，臨臥服。</p>
<p>禹功者，脾濕腫脹肉堅，攻之如神禹決水。牽牛苦熱，入脾瀉濕，欲其下走大腸，當以舶茴</p>
<h4>神香散</h4>
<p>丁香七粒　白豆蔻七粒上為末，清湯調下，如小腹痛者，加砂仁七粒。</p>
<p>神香散，景岳之新方也。以之治干霍亂痧脹腹痛，屬於寒濕凝滯脈絡者，殊有神功，與辰砂於脈氣逆以油之非另戒</p>
<h4>霹靂散</h4>
<p>雄黃五分　雌黃五分　人言四分　冰片五分　生山梔二十枚　牛黃五分　急性子一錢生綠先將綠豆冷水洗，去皮，同余藥各生晒乾為末。大人用七分，十五六歲者用四分，或粉面糕霹靂者，破泄陰霾也。是方治陽狂，殊為不合，若治痴癲，頗有批卻導　之妙。按《內經‧臟病熱，又必梔子牛黃必倒</p>
<h4>小金丹</h4>
<p>辰砂二兩　水摩雄黃一兩　葉子雌黃一兩　紫金（煉熟，金箔）五錢上藥同入合中，外固了埋地一尺，築地實，不用爐，不須藥制，用炭二十斤，　之七日終，大，小金丹為辟疫之方，全用金石者，取天地五行自然之氣也。辰砂生稟青陽，受氣於丙，有木土埋精氣然方</p>
<h4>獺肝丸</h4>
<p>獺肝一具（陰乾）</p>
<p>為末，水服二錢，日三服，以瘥為度。</p>
<p>獺肝丸，奇方也，葛稚川治尸疰鬼疰，仲景治冷勞皆取用之。按獺肝性溫，能驅陰邪而鎮肝邪與一月</p>
<h4>吐蠱散（新制）</h4>
<p>白礬　建茶　土常山　馬兜鈴根　雄黃　刺　皮灰　桑枝汁　蒜汁　雞翅下血（赤雄）</p>
<p>敗鼓上等分為末，每服五分，以吐為度。</p>
<p>按《周禮》有秋官庶民掌除毒蠱者，蠱之為害，由來久矣。其名有五：所謂蛇蠱、蜥蜴蠱、其毒於妄圖福國中吐蠱蜈蚣而敗，能令病患自言造蠱者之名，土常山出天台，性涼味甘如蜜，嶺南人呼為三百頭牛，馬兜鈴白建</p>
<h4>雪羹</h4>
<p>大荸薺四個　海蜇（漂去鍛石礬性）一兩上二味，水二鐘，煎八分服。</p>
<p>羹，食物之味調和也；雪，喻其淡而無奇，有清涼內沁之妙。荸薺味甘，海蜇味鹹，性皆寒</p>
<h4>煉真丸</h4>
<p>茅朮（去皮，米泔浸，麻油炒）三兩　茯苓三兩　黃柏三兩（童便、人乳、鹽水各制一兩）　澤瀉一兩　蛇床子一兩（酒炒）　淫羊藿（去刺，羊脂拌蒸）一兩　白蓮須（酒洗）一兩　五味子一兩沉香（另末，勿見火）一兩　人參三兩　鹿茸大者一對（酥炙）　大茴香（去子）一兩　鳳眼草一兩（即樗莢）　金鈴子（酒蒸，去皮核）三兩　大檳榔七兩（童便浸切）</p>
<p>上為末，用干山藥末為糊丸，空心鹽湯送四錢，臨臥溫酒再服二錢。</p>
<p>煉真者，煉本身之精氣神，不為陰邪所蔽，常使虛靈不昧，以復天真也。世有膏粱之人，再熱不滲羊，五味子收五臟之陰，功專攝金氣以生真水，二者兼固精氣神，以寓生生不息之機也。沉香入腎壯陽暖精，大茴香開上下之經氣，內接丹田，二者芳香走竄，諸藥雖具補瀉之功，借其芳香乃能內入也。人參升舉五臟之陽，鹿茸督率奇經之陽，二者宣發真陽以迎合精氣神也。</p>
<p>金鈴子泄氣分之熱，引相火下行，鳳眼草清血中之熱，使真陰內守，二者又為諸藥之向導也。</p>
<p>取其迅墜諸藥至於下極之功，且佐朮、苓、澤瀉、黃柏、金鈴等掃除清道，不致茸、茴、蛇、藿反助素蘊之濕熱，亦種玉之一則也。</p>
<h4>菟絲子丸（《濟生》）</h4>
<p>菟絲子（酒拌生用）二兩　鹿茸（酒炙）二兩　淡肉蓯蓉（酒拌）二兩　淡附子一兩（炮）</p>
<p>五味子上為末，酒糊丸，如梧子大，每服七十丸，空心鹽湯下。</p>
<p>小便失禁，古方多用固澀，或兼通太陽，究非尋源探本之治。蓋小便癃閉，則用附子等獨開諸陽丸稍類，</p>
<h4>豬肚丸</h4>
<p>牡蠣四兩（　，另研極細）　白色苦參三兩　白朮四兩　豬肚一具（洗潔，砂罐煮爛，石臼搗上藥同豬肚搗令極勻，如藥干，量增肚汁，丸如梧桐子大，每服五十丸，空心米飲送下，日劉松石豬肚丸，治肥貴人濕熱遺精之方也。即仲景黃連豬肚丸之義。蓋肥貴之人，嗜鮮美，胃泄固澀不越</p>
<h4>大補陰丸</h4>
<p>黃柏（鹽酒炒褐色）四兩　知母（酒炒）四兩　熟地（酒蒸）六兩　敗龜板（去衣牆，雄者，酥炙）</p>
<p>上為末，豬脊髓和蜜丸，每服七十丸，淡鹽湯下。治虛呃用參朮湯送下。</p>
<p>丹溪補陰立法，義專重於黃柏，主治腎虛勞熱，水虧火炎，以之治虛火呃逆，亦為至當。</p>
<p>《巨之上板胃</p>
<h4>通關丸（一名滋腎丸）</h4>
<p>黃柏（去皮，銼，酒洗，焙）　知母（銼，酒洗，焙乾）各一兩　肉桂五分上為細末，熟水為丸，每服一百丸，空心白湯下。頓兩足，令藥易下行。如小便利，前陰中東垣滋腎丸，原名通關丸。《難經》關格論云：關則不得小便。口不渴而小便不通，乃下焦氣，治以所主亦能陰中之亦</p>
<h4>大黃蟲丸</h4>
<p>大黃（蒸）十分　黃芩二兩　杏仁一升　桃仁一升　乾地黃十兩　乾漆一兩　虻蟲一升，水蛭上十二味，末之，煉蜜和丸，如小豆大，酒飲服五丸，日三服。</p>
<p>《金匱》血痹虛勞脈證九條，首條是汗出而風吹之，血凝於膚而為痹，然痹未至於干血，後五勞飲食於肺房勞喘息者，痹血本文之血者幾清性功，舒潤</p>
<h4>〔又〕大黃蟲丸</h4>
<p>蟲二十枚（去足）　桃仁二十粒　大黃三兩上三味末之，煉蜜和為丸，每以一丸，酒一升，煮一丸，取八合，頻服之。新血下如豚肝。</p>
<p>《金匱》云：產婦腹痛，內有干血著臍下，用三味為方。蓋因瘀積未久，榮衛經絡血亦未必固勞之用</p>
<h4>百勞丸</h4>
<p>當歸一錢　乳香一錢（去油）　沒藥一錢（去油）　虻蟲十四個　人參二錢　大黃四錢　水蛭十上為細末，煉蜜為丸，桐子大，都作一服，可百丸，五更用百勞水下，取惡物為度，服白粥百勞丸，許州陳大夫流傳，出自仲景方。治一切癆瘵積滯，未經藥壞證者。細繹是方，無非用百良治</p>
<h4>禹餘糧丸</h4>
<p>蛇含石（本草名蛇黃，大者三兩，以新鐵銚盛，入炭火中，燒蛇黃與銚子一般紅，用鉗取蛇如蒲黃子同二以上三物為主，其次量人虛實，入下項藥。（喻嘉言曰：治水多取轉，推此方三物，既非大羌活　川芎　京三棱（炮）　蓬莪朮　白豆蔻　白蒺藜　陳皮　青皮　木香　大茴香（炒）</p>
<p>牛上為末，入前藥拌勻，以湯浸神麯，捩去水，為糊和藥，再杵極勻。丸如桐子大，食前溫酒於小便禹餘糧丸用三物治肝脾胃之藥為主者，以水病莫不本之於三臟也；蛇黃得蛇性之走竄靈異，之氣青皮三占使之</p>
<h4>小溫中丸</h4>
<p>白朮二兩　茯苓一兩　陳皮一兩　半夏（湯泡，去皮臍）一兩　甘草三錢　神麯（炒）</p>
<p>一兩香一兩五錢上為末，醋水各一盞，打神麯糊為丸，如桐子大，每服七八十丸，白朮六錢，陳皮一錢，生七小溫中丸，太陰氣脹，土鬱奪之之法也。《經脈篇》曰：太陰虛則臌脹。又曰：脾氣實則腹熱矣西北於坤立下導去濕熱也。</p>
<p>甘枸杞子（揀紅潤者八兩，煮酒一杯，清水一杯和勻，以杞子浸三時，漉出，晒乾，分為四以青焙水制）</p>
<p>一兩五錢　茯苓九錢　女貞子（淘漂蒸至極黑，酒浸六時，布袋擦去皮）九錢目有赤脈者，加白蒺藜。</p>
<p>上為末，蜜丸，每服三錢，開水送下。</p>
<p>四神丸，奇方也。《本草》言：枸杞子味甘氣平，退虛熱，補精髓，治目昏云翳。按孫思邈神效服之者之刪去斟酌</p>
<h4>毓麟丸</h4>
<p>木棉子（取當年者，去殼，其仁白如糯米色者佳。每斤棉子用真秋石一兩六錢，和水溶化，入酒修合干，再法，研末，仍是大紅色者佳）八兩　線魚鰾（用黃麻切，炒炭，拌入，炒成珠）六兩　沙苑蒺藜六兩補骨脂（胡桃肉拌蒸，鹽酒同炒）二兩四錢　柏子仁（去油者）三兩二錢　當歸（酒洗，晒乾，焙）三兩二錢　生杜仲粉（去皮切片，另磨粉，篩去綿）三兩二錢　生牛膝（酒拌，晒乾）</p>
<p>三兩二錢　楮實子（酒浸十二時，蒸六時）二兩四錢　雲茯苓五兩　川萆　（酒浸晒）四兩　麥門冬（去心）四兩　五味子二兩四錢上法制，共搗爛，遠火焙乾，磨為末，用羊內外腎四件兩副，鹽酒拌，蒸爛搗膏，量加煉蜜婦皆去浮精氣神，命曰人。男女相媾，功在陰陽氣交，交則神合，合則化形，如露珠之一滴，升於丹方，有至熟地臟腑子仁膝通味攝上焦之熱，使熱藥不傷肺氣。丸以羊腎血肉有情之品，俾能留戀五內</p>
<h4>備急丸</h4>
<p>巴豆（去皮心膜，研如脂，出油，用霜）一兩　大黃一兩　生乾薑二兩上藥各須精新，先搗大黃乾薑為末，研巴豆綱中，合治一千杵，用為散，蜜和丸亦佳，密器未瘥備，先具以待用也；急，及也，謂臨事之迫也。《金匱》以備急丸救中惡客忤神昏口噤者，蕩監</p>
<h4>控涎丹</h4>
<p>白芥子　甘遂（去心）　大戟（去皮）各等分上為末，糊丸，每服五七丸至十丸，臨臥薑湯服。</p>
<p>控，引也；涎，讀作羨，湎涎也，水流貌，引三焦之水湎涎流出於水道也；白芥子色白入肺飲，甘當審</p>
<h4>玉真丸</h4>
<p>硫黃二兩　硝石（原方作一分，配硫四分之一也。《準繩》作一兩，即焰硝）　石膏（通赤上為細末，研勻，生薑汁糊丸，如梧子大，陰乾，每服二十丸，薑湯或米飲下，更灸關元穴玉真丸，治腎厥頭痛之聖藥也。頭以配天，三陰三陽、五臟六腑之氣皆會於此，故六淫七情少玉神如惟東璧能知之，乃曰硫黃與硝石同用，配合二氣，調燮陰陽，有升降水火之功，治冷熱緩急頭痛，旨哉言乎！</p>
<h4>紫金丹</h4>
<p>信白砒五分　豆豉膏二錢（用水略潤少時，以紙挹干，研膏）</p>
<p>上用膏子和砒同杵極勻，丸如麻子大，每服五丸至十丸，用臘茶清極冷吞下，臨臥服，以知信，白砒，有大毒，須　煉得法，庶不傷人。凡白砒一錢，用石膏一兩同研勻，貯熔銀罐中余威象，丸，</p>
<h4>驚氣丸</h4>
<p>白花蛇肉（去頭尾）一尺及骨五錢　干蠍一錢二分　白附子五錢　白僵蠶五錢　麻黃五錢天砂一錢上為末，入研腦、麝少許，同研極勻，煉蜜拌丸，如龍眼大，每服一粒，金銀花薄荷湯化下</p>
<p>《本事方》論云：驚憂積氣，心受風邪，發則牙關緊急，涎潮昏塞，醒則精神若痴，俗呼為氣，循明行以化氣沉</p>
<h4>麋茸丸</h4>
<p>麋茸一兩（治如鹿茸）　菟絲子一兩（生取末）　舶茴香五錢上為末，以羊腎四只，酒煮爛，去膜，研如泥，和丸如梧子大，陰乾如腎膏，少加酒糊丸少陰寒濕腰痛，不用薑、桂、朮、附，而用麋茸、羊腎，足征許學士之深心，善於護陽者也腎之府鋒陷陣粹之品陽良圖。</p>
<h4>薑桂湯（附）</h4>
<p>老生薑汁三錢（沖）　肉桂二錢四分（去皮）　人參三錢　當歸二錢四分　南棗三枚上水二鐘，煎八分，沖入薑汁，分三服，隨時服。</p>
<p>傷寒臟結證，舌上白苔滑者難治，戒之不可攻，而《舌鑒》論白苔十九證，皆用汗下辛熱之三因水復尋思鬱蒸之正</p>
<h2>下卷</h2>
<h3>女科</h3>
<h4>四物湯</h4>
<p>生地三兩　當歸三兩（酒洗）　芎　一兩五錢　芍藥二兩上　咀，每服四錢，水二盞，煎八分，去滓溫服。</p>
<p>四物湯，物、類也，四者相類，而仍各具一性，各建一功，並行不悖。芎歸入少陽主升，芍血</p>
<h4>逍遙散</h4>
<p>柴胡一錢　當歸一錢　白芍一錢　甘草五分　白朮一錢　茯苓一錢上水二鐘，加煨薑一片，薄荷五分，煎八分，食遠溫服。薛立齋加丹皮一錢，山梔炒黑一錢逍遙，《說文》與「消搖」通，《莊子‧逍遙游》注云：如陽動冰消，雖耗不竭其本，舟行志索苦用薄甚</p>
<h4>旋覆花湯</h4>
<p>旋覆花三兩　蔥十四莖　新絳尺許上三味，以水三升，煮取一升，頓服。</p>
<p>旋覆花湯，通劑也。治半產漏下，乃通因通用法。仲景云：婦人三十六病，千變萬端，無不胎氣攝之中，</p>
<h4>甘草小麥大棗湯</h4>
<p>甘草三兩　小麥一升　大棗一枚上三味，以水六升，煮取三升，溫分三服。</p>
<p>小麥，苦穀也。《經》言心病宜食麥者，以苦補之也。心系急則悲，甘草大棗甘以緩其急也</p>
<h4>定岩散</h4>
<p>鼠糞三錢（兩頭尖）　土楝實三錢（經霜有核者佳，不用川楝）　露蜂房三錢上　存性，各取淨末三錢，和勻，每服三錢，酒下，間兩日一服。</p>
<p>定，止也，潰岩服之，痛定而爛止也。　鼠糞性主走陰，專入厥陰血分，通經下乳。楝實用驅肝內膜</p>
<h4>安胎飲子</h4>
<p>建蓮子（去心）三錢　台州青苧三錢（洗去膠）　白糯米三錢上用水一鐘，煎五分，每日清晨服。自懷妊兩月服起，至六個月，無墮胎之虞。</p>
<p>小產，由於房勞傷損足三陰，腎傷則精氣不固，肝傷則血熱妄行，脾傷則胎元自墮。建蓮子能</p>
<h4>達生散</h4>
<p>人參一錢　白朮一錢（炒）　甘草二錢（炙）　廣皮一錢　當歸一錢　白芍一錢（酒炒）</p>
<p>大腹皮上水二鐘，煎八分，隨時服。</p>
<p>《葩經》注云：達，小羊也。羊子易生，無留難也。昔湖陽公主體肥難產，方士進瘦胎飲有白朮補</p>
<h4>《千金》神造湯</h4>
<p>蟹爪一升　生甘草二尺　阿膠三兩上煎藥作東向灶炊，以葦薪煮之，東流水一斗，煮至二升，濾去滓，入真阿膠令烊頓服，或神造者，制方之妙，一若神仙所作者也。蟹爪尖專下死胎，甘草奠安中氣，不使尸氣上乘，生氣生氣</p>
<h4>補脬飲</h4>
<p>生黃絲絹一尺（剪碎）　白丹皮根木　白芨各一錢上水一碗，煮至絹爛如餳，空心服，咽時不得作聲。</p>
<p>脬，婦之膀胱也。臨產為穩婆傷破，小水淋漓無度，觀其補法，有不可思議之妙。生絲造者外竅五臟門泌州大</p>
<h3>女科丸方</h3>
<h4>烏骨丸</h4>
<p>烏　魚骨四分　茹　一分上以雀卵為丸，如綠豆，以五丸為後飯，飲以鮑魚汁。</p>
<p>烏　骨丸，皆血肉之品。蓋血枯氣去，苟非有情之物，焉能留戀氣血，而使之生長。烏魚通經每也按《素問》用　茹，《農經》言有毒，蝕惡肉，排膿血。茹　無毒，亦能通經脈，治六極傷藥</p>
<h4>聚精丸（附內科方）</h4>
<p>黃魚鰾一斤（切碎，蛤粉炒）　沙苑蒺藜八兩（馬乳浸，隔湯蒸一炷香）</p>
<p>上為末，煉蜜丸，每服八十丸，白湯下。</p>
<p>震，一索而得長男，長男，盛陽也。震始於寅，在人屬少陽，初關精氣，動念在茲，有勇猛面長精全固精知巽</p>
<h4>加味香附丸</h4>
<p>金華香附一斤（四兩煮酒浸兩宿，搗碎焙乾，磨為末；四兩米醋浸，同上法；四兩童便浸，洗）</p>
<p>海螵蛸六兩（搗稍碎，炒）　當歸四兩（酒洗）　川芎三兩　白芍四兩（酒炒）　懷熟地八兩（搗膏，焙乾）</p>
<p>上為末，用浮小麥粉酒醋水打糊為丸，如綠豆大，每日早晚服兩次。忌食萊菔及牛肉生冷。</p>
<p>震，陽也，其動也厲；巽，陰也，其正也貞。巽陰從陽，非泛從也，陰不失柔順從容中正之者，內肝傷</p>
<h4>坎氣丹（附內科方）</h4>
<p>坎氣二十四條（男者良）　人乳粉二兩四錢　熟地八兩（砂仁一兩五錢陳煮酒八兩制久晒者良）</p>
<p>上法制烘燥，入磨為末，用酒釀四兩，白蜜四兩，同煉搗為丸，每服五錢，清米飲湯送。</p>
<p>坎，再索而得中男，在人為腎中之陽，陽險乎中，得子非易；若少陰男人，耳薄鼻尖，毛悴精寒者，尤難種子。《易》曰：有孚維心，亨行有尚，必得少女之心，有孚於夫，剛中得正，孕雖險亦可求而得男，承上文說言乎兌之義。《易》曰：勞乎坎者，腎雖為作強之官，陽熟地、</p>
<h4>斑龍丸（方見內科丸方中）</h4>
<p>艮，三索而得少男，得其所止之陽也。《象》曰：艮其限陽極於上，不能退聽於陰，索而不之候氣。</p>
<p>陽，子宮</p>
<h4>疏肝清胃丸</h4>
<p>夏枯草　蒲公英　金銀花　漏蘆　橘葉　甘菊　鼠糞　紫花地丁　貝母　連翹　白芷山上法制，等分為末，另用夏枯草煎膏為丸，每服五錢，開水送。</p>
<p>乳岩發於乳中，按《胃經循乳穴歌》云：乳中正在乳頭心，次有乳根出乳下；又《肝經循乳兩經淡無明，入陰連消痛實其用意遠矣。</p>
<h4>椿皮丸</h4>
<p>椿根白皮一兩五錢　白芍藥五錢　良薑（炒成灰）三錢　黃柏（炒成灰）二錢上為末，粥漿丸，每服三五十丸，空心米飲下。</p>
<p>椿皮丸，治瘦人帶下，熱勝於濕，又弱而不禁攻者，瘦人多血熱，故以椿皮苦澀入血，清熱陽，成不</p>
<h4>白蘞丸</h4>
<p>白蘞八兩　狗脊（KT　去毛）一兩　鹿茸（酒蒸焙）二兩上為細末，用艾煎醋汁打糯米糊丸，如梧子大，每服五十丸，空心溫酒送下。</p>
<p>室女衝、任虛寒，及嫁，房勞帶下，陰中腫痛，陽虛之體，而得火證，當以白蘞殺火消腫為本治</p>
<h4>固陽丸（新制）</h4>
<p>黃　（酒炒）三兩　當歸（酒淨）三兩　乾薑一兩六錢　赤石脂一兩二錢（泥罐中　赤，研水飛）</p>
<p>一兩二錢二錢肉上法制為末，酒糊丸，每服五十丸，溫酒下。</p>
<p>治帶諸方，燥濕清熱者居多。若夫久曠失志，心陽內耗而命門失守，或內勞無度，液脫陽離散之不白</p>
<h4>兔腦丸</h4>
<p>母丁香六粒　明乳香（去油）六分　麝香六厘上為細末，選八月臘月天醫日修合，臨時活劈兔腦為丸六粒，朱砂為衣，陰乾，蠟丸收藏。</p>
<p>老兔腦丸，四味單用，皆能催生，非特復用為方也。兔性善走，用其腦者，神在精髓也。</p>
<p>蓋孕通氣皆有其功必故並贅之。</p>
<h4>《千金》吉祥丸（應在斑龍丸後）</h4>
<p>天麻（煨）一兩　芎　一兩　桂心一兩　桃仁一百枚　牡丹皮一兩　桃花瓣一兩　柳絮一兩實子一上為末，蜜丸如豆大，每服五丸，空心苦酒下，日三服。</p>
<p>吉祥者，《詩》言吉夢熊羆，男子之祥也。婦人血積胞門，或寒凝子宮，致任脈不榮，積年品。</p>
<p>血海瘀，足以之品方</p>
<h4>回生丹</h4>
<p>大黑豆三升（用水浸取殼，用絹袋盛殼，同豆煮熟，去豆不用，將殼晒乾，其汁留用）　紅花斤（為末）</p>
<p>上將大黃末一斤，入淨鍋，下米醋三斤，文火熬之，以長木箸不住手攪之，成膏，再加醋熬成大黃膏，取入瓦盆盛之，大黃鍋焦亦鏟下，入後藥同磨：人參二兩　當歸一兩　川芎一兩（酒洗）　香附一兩（醋炒）　延胡索一兩（醋炒）　蒼朮一兩（米泔浸，炒）　蒲黃一兩（隔紙炒）　茯苓一兩　桃仁一兩（去皮尖油）　川牛膝五錢（酒洗）</p>
<p>甘草（炙）五錢　地榆五錢（酒洗）　川羌活五錢　廣橘紅五錢　白芍五錢（酒炒）　木瓜三錢青皮三錢（去穰炒）　白朮三錢（米泔浸，炒）　烏藥二兩半（去皮）　良薑四錢　木香四錢乳制就）</p>
<p>（酒浸蒸，搗上三十味，並前黑豆殼共晒乾為末，入石臼內，下大黃膏勻，再下煉熟蜜一斤，共搗千槌，二錢回生丹，催難產，破血暈，卻有神功。難產皆由氣滯不宣，血暈每多惡露瘀塞，下氣行血，制，胞衣牛膝通衛氣，因</p>
<h3>外科</h3>
<h4>薏苡附子敗醬散</h4>
<p>薏苡仁十分　敗醬五分　附子二分上三味，杵為末，取方寸匕，以水二升，煎減半，頓服，小便當下。</p>
<p>小腸癰，仲景詳言腹無積聚，昭然是氣結而成，奈諸家以方中附子為據，紛紛注釋是小腸寒之頭苡開胱之</p>
<h4>大黃牡丹湯</h4>
<p>大黃四兩　芒硝三合　丹皮　桃仁五十個　瓜子半升（當是甜瓜子）</p>
<p>上五味，以水六升，煮取一升，去滓，納芒硝，再煎沸，頓服之。有膿當下，如無膿，當下</p>
<p>《金匱》上章用附子，後人硬派小腸癰是寒結，此湯用大黃、芒硝，又妄派大腸癰是熱結，肺氣硝開下未也。</p>
<h4>排膿散</h4>
<p>枳實十六枚　芍藥六分　桔梗二分上三味，杵為散，取雞子黃一枚，以藥散與雞子黃相等，揉和令相得，飲和服之，日一服。</p>
<h4>排膿湯</h4>
<p>甘草二兩　桔梗三兩　生薑一兩　大棗十枚上四味，以水三升，煮取一升，溫服五合，日再服。</p>
<p>排，斥也。膿，血肉所化也。前方枳實、赤芍佐以桔梗，直從大腸泄氣破血，斥逐其膿。</p>
<p>後自</p>
<h4>茄蒂湯</h4>
<p>鮮茄蒂七個　鮮何首烏（量癤輕重等分）</p>
<p>水二鐘，煎八分，一服出膿，再服收口。</p>
<p>對口癤生於啞門空處，或由濕毒上壅，或由腎虛火熾，患者每多潰不收口，或爛延纏頸，甚何</p>
<h4>真人活命飲</h4>
<p>白芷一錢　防風七分　陳皮一錢五分　皂角刺五分　穿山甲三片（切，蛤粉炒）　土貝母一錢銀花三上酒水各半，煎數十沸，即服。</p>
<p>瘍科之方最繁，初無深義，難以類選，茲取其通用者繹之。如活命飲，行衛消腫，和營止痛之閉之壅遏乳香、沒首方。</p>
<h4>柴胡連翹湯</h4>
<p>柴胡五錢　連翹五錢　瞿麥穗六錢　黍黏子二錢　生地三錢　當歸一錢五分　黃芩五錢（炒）</p>
<p>上銼如麻豆大，每服五錢，水二大盞，煎至一盞，去渣，稍熱，食後服。</p>
<p>柴胡連翹湯，和劑也。馬刀挾癭，邪走手足少陽經而來，結於耳下，治以柴胡，散少陽之結和手硬，</p>
<h3>痘疹科</h3>
<p>按痘喜流通氣血，清涼攻毒，此常法也。若補益辛熱，處其變也。余所選痘科方，補益居多</p>
<h4>清涼攻毒散</h4>
<p>石膏三錢至一兩　黃連一錢至三錢　牛蒡子一錢五分　荊芥穗四分　青皮七分　細木通四分分即瀉黃散，毒重者加大黃。</p>
<p>上　咀，水二鐘，煎八分，去滓，溫服。</p>
<p>石膏味辛性寒，痘中每用兩許以及數兩，更有始終不徹用及數斤者，然必確系肺經火毒，壯火黑口空之地丁、丹皮涼血攻毒以行漿。服石膏之後，服瀉用之而反實，血滯用之而色紅活，氣伏用之而精神煥發，斯為至當。苟非氣分火毒，妄用大劑石膏，必有亡陽惡寒之禍。</p>
<h4>紫草承氣湯</h4>
<p>大黃四兩　厚朴二兩　枳實一兩　紫草一兩上　咀，為粗末，每服五錢，水半盞，煎二三分，溫服，以利為度。如未利，加芒硝一字。</p>
<p>紫草承氣湯，大黃功專蕩滌，為斬關奪門之將，痘科用之，蓋為毒滯脾經而設。痘從命門出紫而急急實，壅者重者</p>
<h4>保元湯</h4>
<p>人參二錢　黃　三錢　甘草一錢　肉桂（春夏二三分，秋冬六七分）</p>
<p>上　咀，水二鐘，煎六分，去滓，溫服。</p>
<p>元氣者，未生之前所固有之氣也。不用升降固澀疏泄，但維持調護之，故曰保元。魏桂岩分薄發血推不用恐以</p>
<h4>參歸鹿茸湯</h4>
<p>鹿茸（酒炙，去毛）三錢　人參一錢二分　綿黃　（蜜炙）一錢五分　當歸身（酒洗）</p>
<p>一錢五分上用水煎，去滓，入醇酒一杯，溫服。</p>
<p>鹿茸湯，提漿之方也；形呈乎氣，毒載乎血，痘漿之成，必賴氣足，乃能領血載毒而出，化暈草足。《金鏡錄》有言，頭面蒼蠟，見之切莫慌張，其斯之謂與？若未服是湯，周身痘色　白根無紅暈，而頭面之漿漸呈蠟黃者，此或毒重冰伏，即宜詳審，切勿輕用。蓋參、　、鹿茸亦可提毒於胸，以致氣高而殞，不可忽也。</p>
<h4>十一味木香散</h4>
<p>木香　丁香　桂心　訶子　人參　半夏　青皮　甘草　前胡　大腹皮　赤茯苓各等分每服五錢，薑三片，水一大鐘，煎六分，溫服。</p>
<p>木香散，手太陰陽明之方也。肺氣表虛，變為寒燥，毒陷泄瀉，裡虛表白，白必灰，灰必陷故君青藥不</p>
<h4>十二味異功散</h4>
<p>人參七分　白朮七分　官桂七分　附子五分　半夏五分　丁香七分　木香七分　當歸七分每服五錢，生薑三片，大棗二枚，水一大鐘，煎六分，溫服。</p>
<p>異功散，治脾腎裡虛之方也。脾不升漿，變為寒濕，裡虛泄瀉，毒因陷伏，頭雖溫，足乃冷和胃收戰溫脾</p>
<h4>雞鳴散</h4>
<p>牛蒡子（炒香研細，臨服加入雄雞血五匙，狀元紅少許，調勻，以炒荊芥三分，煎湯送）</p>
<p>雞屬巽風，其性應日而動，當其引頸長鳴，陽升於頂之候，剪取冠上之血，故曰雞鳴。</p>
<p>痘發頭面佐乍提血桑</p>
<h4>雞屎丸</h4>
<p>雞屎一堆（溏而有尖，白色者良）　六一散三匙　冰片少許（為衣）</p>
<p>上丸，如綠豆大，燈心湯送下。（按：岐伯治臌方，用醴去屎，今痘家用屎者，取濁陰也。</p>
<p>治痘用濁陰方甚多，如人中黃、人中白、童便、金汁，皆不足為異。至於人糞、牛糞、犬糞用起語，陰中衣，毒之</p>
<h3>〔附〕痧疹</h3>
<h4>防風解毒湯</h4>
<p>防風八分　荊芥八分　薄荷七分　牛蒡子（炒，研）一錢　石膏一錢　知母八分　連翹一錢上水一鐘，煎八分，不拘時服。</p>
<p>痧疹初發，以肺經藥主之，風溫雖分，逐年歲氣雜至，要皆輕清之邪；或從口鼻，或襲三焦防殼出</p>
<h4>竹葉石膏湯</h4>
<p>竹葉三十片　石膏五錢　西河柳葉五錢　牛蒡子（炒，研）一錢五分　荊芥穗一錢　蟬蛻一錢草一錢上水一鐘五分，煎八分，不拘時服。</p>
<p>痧疹熱邪壅於肺，逆傳於心胞絡，喘咳煩悶，躁亂狂越者，非西河柳不能解。仲淳間嘗獨用神秘表者結</p>
<h4>麻黃散</h4>
<p>麻黃（蜜酒拌炒）　升麻（酒炒）　人中黃　牛蒡（炒，研）　蟬蛻（去頭足）各等分上為末，每服三錢，水煎服。</p>
<p>嚴寒之時，風邪襲肺，玄竅為寒所閉，目微紅，淚汪汪，鼻塞喘嗽咽腫，此痧疹不得出也。</p>
<p>蒡蟬</p>
<h4>豬尾膏（痘科方）</h4>
<p>小公豬尾尖刺血，或半盞，或一盞，入生腦子少許，辰砂一錢，同研成膏，木香湯化下。</p>
<p>豬破受風變腳</p>
<h3>〔附〕幼科</h3>
<h4>抱龍丸</h4>
<p>琥珀五錢　辰砂三錢　雄黃七錢（香麻油煎十二時，再用水蘿卜汁煮）　膽星二兩一錢僵蠶文火上上法制，各為末，蒸餅為丸，金箔為衣，燈心薄荷湯送下。</p>
<p>抱，保也；龍者，肝臟也。肝臟受驚則魂升，搐搦不語，用以熄風化痰，鎮驚發音，保守肝鎮聲以祛風</p>
<h4>五疳保童丸</h4>
<p>大干蟾蜍一個（五月五日收，風乾，燒存性）　皂角（去皮弦，燒存性）一錢　海蛤粉（水飛）三上為末，陳神麯為稀糊，丸如粟米大，每服三四十丸，空心米飲下，日二服。</p>
<p>兒童面黃肌瘦，疳積腹膨，皆由寒痰食積，治以蟾蜍，其性靈異，穴土食蟲，主殺疳蟲，散頑熱按：錢仲陽如聖丸方，白蕪荑、川黃連、胡黃連各二兩五錢，使君子一兩，麝香五分，以干蟾蜍酒煮成膏，為丸，亦一法也。治肝脾疳熱，津液干涸，熱甚者宜之。</p>
<h3>眼科</h3>
<h4>洗肝散</h4>
<p>薄荷葉一錢　甘草五分　羌活一錢　防風一錢　當歸一錢　川芎五分　山梔仁（炒黑）</p>
<p>一錢上為末，每服二三錢，食遠沸湯調下。</p>
<p>天行時熱，目赤胞腫，怕日羞明。風則散表，熱則瀉裡，風熱相兼則用洗肝散表裡兼治之。薄荷、甘草清利上焦，開泄肝氣，以肝開竅於目也。羌活、防風升發太陽之氣，以太陽經有目赤矣。</p>
<h4>普濟消毒飲</h4>
<p>黃連　黃芩各五錢（俱酒炒）　白僵蠶一錢（炒）　連翹一錢　黑元參二錢　鼠黏子一錢柴胡上為末，半用沸湯調，時時服之，半用煉蜜為丸，噙化。</p>
<p>時行疫癘，目赤腫痛胞爛者屬濕熱；憎寒壯熱，頭面脹者屬風熱，此皆邪發於手三陰者也。</p>
<p>翹正毒下</p>
<h4>消障救睛散</h4>
<p>石蟹一錢五分（生研）　羚羊角一錢（鎊）　草決明一錢　連翹一錢五分　白蒺藜一錢　龍膽草水二鐘，煎八分，食遠服。</p>
<p>白睛　肉，狀若魚胞浮鰾，世人咸用外點鉤割，殊非正治。余因制消　湯方，功勝鉤割。</p>
<p>用熄肝風，散惡血，草決明療青盲，去白膜，連翹瀉客熱，散結氣，專泄大小　之熱，酒炒龍膽退濕熱之翳，白蒺藜散風破血，木賊防己療風勝濕，甘菊化風，茺蔚行血，諸藥皆入肝經，仍能上行於肺，用之屢驗，故敢質諸當世。</p>
<h4>磁朱丸</h4>
<p>磁石　朱砂　神麯先以磁石置巨火中　赤，醋淬七次，晒乾另研極細二兩，辰砂另研極細一兩，生陳神麯研極丸，瞳仁散大，孫思邈、倪微德、李東垣皆言心火乘肺，上入腦灼髓，以火性散溢，故瞳子散大精，</p>
<p>《火配</p>
<h3>〔附〕耳鼻科</h3>
<h4>桂星散</h4>
<p>辣桂　川芎　當歸　石菖蒲　細辛　木通　木香　白蒺藜（炒去刺）　麻黃（去節）　甘草（炙）</p>
<p>水二鐘，煎至一鐘，食後服。一方加全蠍（去毒）一錢。</p>
<h4>犀角飲子</h4>
<p>犀角（鎊）　木通　石菖蒲　甘菊花（去蒂）　玄參　赤芍　赤小豆（炒）各二錢　甘草（炙）</p>
<p>一錢水二鐘，煎至一鐘，不拘時服。</p>
<h4>益腎散</h4>
<p>磁石（制）　巴戟　川椒各一兩（去閉口者）　石菖蒲　沉香各五錢上為細末，每服二錢，用豬腎一只，細切，和以蔥白小鹽，並藥濕紙十層裹，煨令香熟，空合論桂星散，犀角飲子、益腎散三方，治風虛、風熱、腎氣厥三者，皆屬耳之暴聾，雖各有其之利從規玄寄閉塞不聰，此即《經》言地氣冒明也，由於腎經濁陰上逆，蒙蔽其陽，治以益腎散，辛熱發其陽，重墜鎮其逆。然亦不可久服。河間、潔古二老論曰：耳目不可以溫補也。喻嘉言曰：凡治年高腎氣逆上而耳不聰者，當以磁石鎮之，但性主下吸，不能制肝木之上吸，須佐以地黃、山藥等群陰之藥輔之，令陰氣自王於本宮，不上觸於陽竅，自然空曠無礙而能聽矣，是亦治腎虛耳聾之良圖也。至於精髓告竭，宗脈耗損者，即有填補之方，終難復聰，不復多贅。</p>
<h4>芷辛散</h4>
<p>白芷一兩　辛荑仁五錢　蒼耳仁（炒去皮）二錢半　薄荷葉五錢上為細末，每服一錢，蔥湯或茶清調服。</p>
<p>《準繩》芷辛散，專治鼻淵。《三因方》易名蒼耳散，又謂其統治鼻中之病。按《靈樞》云陰則能入裡托散鼻中之病矣。蒼耳仁善通頂腦，去鼻中惡肉死肌，薄荷葉氣味俱薄，能清至高之風熱。合而言之，風火在上，非辛散不能愈也。再按，《經》言：膽移熱於腦，則為鼻淵，是膽熱為病之本矣。余謂前方與黃芩、鮮生地、天麥冬同用，以清膽熱，亦治本之理歟？</p>
<h3>咽喉科（內附口齒）</h3>
<h4>玄參升麻湯</h4>
<p>玄參一錢　升麻八分　白僵蠶一錢　鼠黏子一錢　連翹一錢　防風五分　黃芩六分　川黃連上　咀，作一服，水二鐘，煎八分，稍熱噙漱，時時細咽之。仲淳治喉癬，有貝母、花粉、咽喉諸證，歷考湯方，皆辛散咸軟，去風痰，解熱毒，每用噙化咽津法，急於治標而緩於治陰，風之風蓋</p>
<h4>《聖濟》透關散</h4>
<p>雄黃　豬牙皂莢（去皮並子）　藜蘆（去皮用仁）各等分上三味，搗研為散，先含水一口，用藥一字許，吹入鼻中，即吐去水，少時涎出立愈。</p>
<p>《備纏喉風，喉者，氣之門戶也。上通肺氣，熱閉於喉，腫繞於外而頸大，或麻或癢，滴水不入生花之毒加去</p>
<h4>玉鑰匙</h4>
<p>馬牙硝一兩五錢　白僵蠶二錢五分　硼砂五錢　片腦一字上為末，以紙管吹五分入喉中，即愈。</p>
<p>鑰匙者，喻治咽喉功效之神也。自其風邪客於喉間，氣鬱為熱，壅遏而為咽痛；自其火邪生於肺胃，風毒結腫而為喉疼；自其腎虛於下，陽越於上而為咽痛；自其飲酒濕熱，脾胃濕熱上攻而為咽痛，所因之邪不同，至其乘肺則一也；用馬牙硝，為朴硝之精結於上，輕清而味鹹，熱淫於內，治以鹹寒，白僵蠶感清化之氣，以去風痰，硼砂味苦鹹，消上焦熱痰，清喉中腫痛，蘇頌贊硼砂為治咽喉之要藥。片腦大辛，入肺善走，散熱破結，是藥吹入喉中，火散風消，立時痛緩。惟云治標，未及其本，亦救急之良法。</p>
<h4>《聖濟》蜂房湯</h4>
<p>露蜂房（炒）　豬牙皂莢（炙去皮子）　川椒（去目並含口、炒）　北細辛（去苗）各等分　一方有蛇床子（炒）</p>
<p>上搗羅為散，每服一錢匕，水一盞煎沸，熱渫冷吐。</p>
<p>齒牙之病，不越乎風火濕　、腎虛二者之因。蜂房湯風火濕　蛀　之方也。蜂房、川椒去風渫漱含渫，</p>
<h4>東垣神功丸</h4>
<p>蘭香葉（俗名省頭草）　藿香葉　木香　以上各一錢　升麻二錢　縮砂仁五錢　生地（酒洗）三上為細末，湯浸蒸餅為丸，如綠豆大，每服一百丸，加至二百丸止，白湯下，食遠服。</p>
<p>神功丸，治濕　齦爛之方也。腎為胃關，膏粱酒色之人，腎虛則水道不利，酒肉太過，則濕脫，佐反之</p>
<h4>《良方》安腎丸</h4>
<p>桃仁（麩炒）　肉蓯蓉（酒浸，焙）　補骨脂（炒）　干山藥　川石斛　白蒺藜（炒，去刺）　川萆上為細末，煉蜜為丸，如桐子大，每服七十丸，空心用鹽湯送下。</p>
<p>《五味論》曰：齒為骨之所終，故齒痛有屬於腎者，腎虛則齒豁，精固則齒堅。至其為病，而上桃仁龍雷以安</p>
<h3>折傷科</h3>
<h4>接骨丹</h4>
<p>七氣罌口（古屋上廣漢前上層生瓶，年深者良，用純鋼銼生銼末，研之無聲，水飛）一錢古文錢（約五百年者良，火　，醋淬七次，研之無聲，如塵者佳）五分上和勻，每服七厘，先用甜瓜子仁（去殼，三錢）嚼爛，吐出拌藥，再服下，清酒過口。</p>
<h4>〔附錄〕烏古散（邵以正真人方）</h4>
<p>用路上、牆腳下、往來人便溺處久浸烏碎瓦一塊，洗潔，火　，米醋淬五次，黃色為度，刀罌，小口瓶也。七氣者，日月風雨露霜雪也。火土結成，堅剛性利，復借天之七氣，能透骨專腐因後</p>
<h4>裡東丸</h4>
<p>五靈脂（炒醬色為度）九兩五錢五分　番木鱉（用麻油在銅灼內煎滾，放在內約二沉二浮即好）</p>
<p>不干在火三兩文五銖錢（去尾上鉤）</p>
<p>二錢五分上酒糊為丸，朱砂為衣，蠟丸，永久不壞，每丸一錢五分重，好酒開送下，清晨服時須先略裡東丸，少陵僧所傳，細繹是方，都用血肉靈動之藥，蓋草木具無形之氣，不足以治形傷也腫則入陽更血心肌用以逐敗惡之血。六者去瘀生新，安神定痛，分兩次之者，治傷之條目也。草烏，外風襲入破傷之處，即為破傷風，用以祛經絡之風，從表而出。全蠍，外風襲入，內風必從，用以直攻破損之處，消散內風。二者非防微杜漸，亦折傷中所必有之證也。當歸補營血，用以去瘀生新。京墨灰，澀能固衛氣，用以生肌膚，合傷縫，二者各具收成之理。統論全方，雖非控經定證，然其調治折傷之法，井井有條。先退腫，後定痛，腐其壞肉，去其惡血，祛其風，活其血，俾經脈流通，則氣血條暢，脂膏流著於傷處，其骨自接。</p>
<h4>敗蒲煎</h4>
<p>敗蒲席（一握）三寸　久用炊單布一尺（燒灰）　緋帛如手大（燒灰）　亂髮如雞子大（燒灰）</p>
<p>大上七味，以童子小便，量多少煎，湯成納酒一大盞，次下大黃，去滓，分溫三服。先銼敗蒲</p>
<p>《金匱》敗蒲煎，治馬墜傷者。馳騁之時，陽鼓於上，卒然而墜，傷在於首，病頭脹頸粗，敗瘀傷逐</p>
<h3>金簇科</h3>
<h4>王不留行散</h4>
<p>王不留行十分（八月八日采）　蒴　細葉十分（七月七日采）　桑東南根白皮十分（三月三日采）</p>
<p>草十八上九味，桑根皮以上三味，燒灰存性，勿令灰過，各別杵篩，合治之為散，服方寸匕。</p>
<p>小瘡金刃傷處，封固不密，中於風則倉卒無汁，中於水則出青黃汁，風則發痙，水則濕爛成瘡。</p>
<p>王不留行疾行脈絡之血，灌溉周身，不使其湍激於傷處，桑根皮泄肌肉之風水，蒴　葉釋名燥刀生肌</p>
<h4>地榆絹煎</h4>
<p>地榆八兩（洗淨，搗為細末）　絹一疋（小薄者）</p>
<p>上用清水洗淨絹，糊以炭灰，淋清汁二斗，煮絹，候灰汁盡為度，絹已爛熟，擘得成片段，入心飯而絹能接腸補囊及一切臟腑傷殘者，得乎桑之力也。以桑受日出之生氣，又為箕星之精，故稱金八以桑線縫之，桑膏塗之，是亦取生氣也。</p>
