<header><h1>秘傳外科方</h1></header>
<dl class="元資料" data-type="book" hidden></dl>
<h2>總論十八條</h2>
<p>夫醫官用藥，如將帥之用兵。諺云：千軍易得，一將難求。決勝者，良將也；決效者，良醫自勝；雖有千萬無良醫，則藥不能自效。盡良將必得兵而用之，良醫必得藥而用之。良將之威，以能用奇兵而勝敵；良醫之功，以能用奇藥而愈疾。用兵用藥，當先求其良將良醫而用之。</p>
<p>苟非其人，則兵藥無成功矣。治身之不疾，當從其良醫之美論。</p>
<p>《聖惠方》經云：夫癰疽何以別之善。然五臟不調則致癰。久患消渴之證，亦多發癰疽之疾不通，而熱相搏，乃發為癰疽，故生大熱，甚則肉腐為膿。然不能陷肌膚於骨髓，骨髓不為焦。癰疽之生，有內有外；內則生於胸腹臟腑之間，外則生於膚肉肌骨之表。凡此二毒，發無定處，而有常名。夫癰之本者，始於血老不作汗，內陳不脫垢，蒸氣不能外達，留積遂成，熱所為也。</p>
<p>夫癰疽疔生膿水之成，非天降，非地出，蓋積之所成也。夫保全性命者，竭醫於無傷，防萌於、為疽，初覺小異，須懷大怖，時人輕之，誤死者眾。</p>
<p>夫癰疽初生，其狀至微，人多不以為然，宜速療。熱發於皮膚之間，是以浮腫根小，至大不虛有實，虛則補之，實則瀉之。有實熱者易療，虛寒邪熱者難療。腫起堅硬膿稠者為實，腫下軟慢膿稀者為虛。蓋病多為方法，而無次序，臨時倉惶，何能辨此疾之淺深，是以斃也。</p>
<p>夫療癰疽者，同夫暴蹶之疾，有是傷必為患。然而發癰疽有急治：發於喉舌頭面腦項之間，肩背比此傷生者不一也。</p>
<p>凡療斯疾，如救火拯溺，追奔逐賊之類也。若不速療，必為大禍矣。然癰疽所發有三等：腫；深瘡者，欲在濃處也。</p>
<p>夫癰疽腫，大按乃痛者膿深，小按便痛者膿淺。所按之處不復者無膿，必是水也；按之即復謂氣結為腫，久久而不消，後亦成癰疽、疔毒，此是寒氣所為也。留積經久，極陰生陽，寒化為熱，所以潰者也。此潰必成　。然而病有變證，疾有盛衰，明之於心，非偶能盡。醫者意也，隨時之議。</p>
<p>《聖惠》曰：癰疽、發背、疔瘡、乳癰、疽之癤，有五善七惡之證，不可不察也。煩躁而嗽疼也；肩項不便，四肢沉重，五惡也；不能進食飲，服藥嘔吐，食不知味，六惡也，聲嘶色脫，唇鼻青赤，面目、四肢浮腫，七惡也。痛息自寧，飲食知味，一善也，便利調勻，二善也；膿腫自消，色鮮不死，三善也；神采晶明，語聲清朗，四善也；體氣和平，五善也。若五善見二則瘥，七惡見四則危。然則病有原同七惡，皮緊急之如善；病有原同五善，皮緩虛而如惡。夫如是者，豈凡夫之所知哉。若五善並至，則善無以加也。若七惡並臻，則惡劇矣。</p>
<p>今載後證，並加俞募以詳明之。</p>
<p>募中腑隱隱而痛者，肺疽也；上肉微起者，肺癰也。巨闕隱隱而痛者，心疽也；上肉微起者，心癰也。期門隱隱而痛者，肝疽也；上肉微起者，肝癰也。章門隱隱而痛者，脾疽也；上肉微起者，脾癰也。中脘隱隱而痛者，胃疽也；上肉微起者，胃癰也。京門隱隱而痛丹田隱隱而痛者，三焦疽也；上肉微起者，三焦癰也。關元隱隱而痛者，小腸疽也；上肉微起者，小腸癰也。</p>
<p>上驗其人所募，依據此證，審定癰疽淺深者，病從何臟發，先曾食何乳石，又驗其氣虛實，參詳而療之。</p>
<p>《千金》曰：凡癰疽始發，或大癤或小癤，或大痛或小痛，宜善察之。見有小異，即須大驚復，乃可任意耳。若不緊固，新肉易傷，傷重又潰，再發則禍至矣。慎之，慎之。</p>
<p>凡癰疽初發，急服追疔奪命湯，即能內消。化毒消腫托裡散、秘傳內托千金散、十六味流氣毒藥點破，令膿即出。如出不盡，用藥煮吸筒拔出其膿毒水血，即便愈矣。</p>
<p>凡腫根腳廣一寸至三寸癤也，二寸至五寸癰也，五寸至一尺疽也，一尺至三尺名竟體，如豆痛藥，肉滿之後，用隔紙膏藥。</p>
<p>又經云：氣塞於經絡中，血氣俱澀不行，壅結為癰疽。不言熱氣所作，其後成癰，乃言陽氣成癰者可消。若按之都牽強者未有膿也，按之半軟者有膿也。又手按上下不熱者無膿，若熱甚者有膿。凡覺有膿，急當破之。無膿但氣腫，若有血，慎之慎之，不可針破也，以用千金拔毒膏點散住之。四圍堅、中軟者，此為有膿審也。一邊軟，亦可有膿。都堅者，此為惡核，或有氣也。都軟者，此為有血，血瘤也。當審堅軟虛實為要。若堅疽積久後，若更變熱，偏有軟處，當軟處切，不可針破也。軟疽者，溫暖裹衣置之耳，若針灸刺破，不可療也凡癰疽有膿，勿憂其皮濃也，宜急破之。如是骨癰者，皮色不變也，急服化毒消腫托裡散及入三四分深。如是出膿，不可當頭破之，須從下頭破者為順。膿出盡矣，則肉生，用生肌敷藥，次用膏藥愈矣。</p>
<p>又曰：發於頸者，名曰夭疽，其狀大而赤黑，不急速療則熱氣下入淵腋，前傷任脈，內熏肝肺，十余日死。《經》曰：項前頸名。</p>
<p>《衛濟寶書》：耳後一寸三分，至命之處，發之必死。故銳毒不治。銳毒者，銳其毒也，名曰發頤，乃熱氣上蒸，連額而口者，穿喉立死。</p>
<p>又發腦疽者，熱氣上攻於腦，出皮膚作頭，初發如黍米，四畔　赤腫硬，連於耳項，寒熱疼</p>
<p>《外台》：諸發於嗌中，名曰猛疽，不急治，則血為膿不瀉，塞咽喉而死；半日血化為膿者心煩者死，不可治之。又驗其氣虛實，參詳而療之也。又曰：發於胸者，名井疽，狀如豆大，三四日起，不早療，下入腹中，入腹不療，十日死。寒熱不去亦死矣。又曰；發於足指，名曰脫疽，其狀赤黑，無水者，死不療；不赤黑有水者，可療；療不衰，急斬去之，得活矣。不去，則亦死。</p>
<p>《聖惠》曰：瘡若膿水汁出不盡，而瘡口早合雖好，風毒未解，復發惡汁速出則變成矣。此言可謹而守之，慎之。（方具於後。）先急服追疔奪命湯立效。（方載後。）</p>
<h3>化毒消腫托裡散</h3>
<p>專治癰疽、發背、發乳、骨癰、疔瘡、腫毒，及一應諸般惡瘡癤，咽喉腫痛。</p>
<p>人參（無亦可）　赤茯苓　白朮（各六錢）　滑石　桔梗　金銀花（各二兩）　荊芥穗　山梔子（連翹　石膏　芒硝（加宿砂，不用此）</p>
<p>或加栝蔞、牡蠣、貝母、木香。疔瘡，加腳蓮、荷車。　疳，加車前子、木通、竹葉。</p>
<p>疼痛夏，薑汁製，用生薑同煎。</p>
<p>上為　咀，每服五錢重，水一碗，蔥白一根，煎熱服，汗出為度。服後若利三五行為妙。大病不過三五服，即內消，化毒盡矣。</p>
<h3>內托千金散</h3>
<p>專治癰疽、發背、腦疽、乳癰、諸惡瘡癤。</p>
<p>人參　當歸　黃　白芍　川芎　防風　官桂　桔梗　白芷　甘草　栝蔞　金銀花（各等分）</p>
<p>痛甚者加當歸、芍藥、乳香、沒藥。</p>
<p>上為　咀，每服七八錢重，水二大盞，煎至七分，入好酒半盞，去滓溫服。日進二三服之後酒服之，不成者自散，已成者即潰。</p>
<h3>秘傳十六味流氣飲</h3>
<p>（亦名內補散、前十味托裡散。）</p>
<p>人參（去蘆）　當歸（酒洗）　官桂（去皮）　川芎（去土）　防風（去蘆）　白芷　桔梗（去蘆）</p>
<p>黃（去蘆）　甘草（炙）　厚朴（去皮，薑製。各三錢）</p>
<p>加六味於後：南木香、白芍藥、大腹子、烏藥、枳殼、紫蘇各三錢。不退，加白茯苓、白朮瘡不穿，加皂角刺。咳嗽，加陳皮、半夏（湯洗七次。）杏仁。（薑五片煎。）大便秘，加大黃、枳殼。小便不利，加麥門冬、車前子、木通、燈草。</p>
<p>上前方專治癰疽、發背、乳癰、腳痛諸般惡瘡癤。毒未成速散，已成即潰，敗膿自出，惡肉自去。服此藥後，疼痛頓減，此當用之，非常有驗。</p>
<p>總為細末，每一服五六錢重，用酒調服。不飲酒者，木香湯下，米湯亦可。詳味此方，其所，尚以氣不和，多用氣藥為主；血不和，多以血藥為主。</p>
<p>上　咀，用水一盞半，蔥白一根，煎至七分，加酒一呷。病在上，食後服；病在下，空心服，立見神效。</p>
<h3>內塞散</h3>
<p>治諸惡瘡癤，熱退膿血不止，瘡肉虛證疼痛。可排膿定痛，生肌內補。</p>
<p>人參（去蘆）　當歸（去蘆，酒浸）　黃　（鹽湯浸）　芎　（洗去土）　茯苓（去皮）　防風（去蘆）</p>
<p>子（二兩）　厚朴（二兩）　赤小豆（五合，酒浸）　附子（二枚，去皮，煨）</p>
<p>煩渴，加五味子、茯苓、陳皮、白芍藥、熟地黃。</p>
<p>上　咀，水一盞半，生薑三片，煎至七分，入酒熱服。</p>
<h3>仙方解毒生肌定痛散</h3>
<p>專治癰疽、發背、乳癰、人面、外　、金刀、諸般惡瘡癤腫毒，並皆治之。</p>
<p>黃連（一兩重）　黃柏（四兩重）　木賊（一兩）　防風（一兩）　苦參（四兩重）</p>
<p>加羌活、獨活。</p>
<p>上　咀，大瓦瓶盛水，入前藥煎湯。以爐甘石十斤，用炭火　通紅，鉗出在藥湯內，不問幾盆蓋在地上，一晝夜收火毒，將起候干，研為極細末。此石十斤，用石膏二十斤，別研極細拌勻，和後藥用度。</p>
<p>赤石脂　，穀丹炒，此二味同前打和。</p>
<p>南木香　血竭　降真節　乳香　沒藥　白芷　黃連　黃柏　白蘞（各等分）　龍骨（　）</p>
<p>加朱砂、何首烏。有蟲，加輕粉、苦參、百藥煎、雄黃。水不干，加螵蛸去皮，無名異，蓼葉燒灰。</p>
<p>上各為細末，與前藥拌和用之，敷中間。</p>
<h3>洗藥</h3>
<p>用此藥煎湯，干淨洗之。</p>
<p>防風　白芷　赤芍　苦參　甘草節　荊芥　艾葉　金銀花　蒼耳　羌活　獨活　荷葉蒂當歸尾　牙皂　柏子　蜂房　蔥白　茶腳先熏後，待溫冷用。洗得干淨，以絹衣抹干後，用清油硬調前生肌定痛散敷之。如濕干摻，以絹帶緊縛三五轉。外　三日一換，不要打動，立有功效。如要爛去腐肉，取生蜈蚣一條，用竹筒盛油，放蜈蚣在內浸死，用火　為末，加些小在前敷藥內敷之。一晝夜，其痛不止，即洗去此藥，卻換前藥，便不痛矣，即生肌。</p>
<h3>化毒散血拔毒散</h3>
<p>四圍敷藥，化毒散血拔毒散　治一應諸惡瘡並腳疾。</p>
<p>赤芍　防風　白芷　內消　腳蓮　荷車　北細辛（各三兩重）　歸尾　僵蠶　蟬蛻　五加皮（二兩）</p>
<p>如敷不退，加此敷之，即能消散。</p>
<p>南星　何首烏　紫花地丁　五葉根　貝母　草烏　羌活　獨活　芙蓉葉（秋過者可用）</p>
<p>赤葛根　野椒根（去骨用皮）　倍加五加皮上總為細末，用生薑連滓及醋敷之。如要即散，急加大蒜同敷之，毒瓦斯即出，立效。</p>
<p>臟腑秘，加吃藥：大黃、枳殼、（去白炒。）火麻子。小腑秘，加木通、車前子、燈草、赤芍、赤茯苓。如涼冷，加蓽茇、良薑。</p>
<p>前方專治寒濕香港腳、發背、一應惡瘡癤、諸般腫毒，敷之即散，又能定痛。服此大能溫和化病在下，臨臥服。一二服後，腫盡消矣。</p>
<h3>鐵筒拔毒膏</h3>
<p>點破諸般瘡癤，初發點破便散。</p>
<p>好鍛石（不過火，皂角熏）　糯米（南星、當歸、赤芍同炒）　砂（如去疔頭，加此一味，余不用）　砂牯牛　斑蝥用後灰煎熱水濾汁，煎成調前藥用。</p>
<p>真鍛石　桑柴灰　芝麻灰　柳柴灰　皂角三四皮以前灰汁入於鍋內，用慢火熬之，待汁面上有白霜起方住火，以器貯之。可用調前藥，小小點之三五次，皮破毒瓦斯以出水，即止。</p>
<p>吸毒竹筒　治發背、癰疽、疔瘡、腫毒，用此拔出膿血惡水。</p>
<p>蒼朮　白蘞　烏　皮　厚朴　艾葉　好茶芽　白芨　白蒺藜（各等分）</p>
<p>法用苦竹筒三五七個，長一寸，一頭留節，削去其青，令如紙薄，隨大小用之。卻用前藥煮不然用手拔脫，更換別個竹筒，如此三五次，毒盡消之，即敷生肌藥，內滿後，用膏藥貼之即愈。</p>
<h3>仙方隔紙膏</h3>
<p>（亦名神應膏）</p>
<p>專治發背、癰疽、外　、下蛀，諸般惡毒瘡癤。</p>
<p>黃連　何首烏（去皮）　草烏（去皮）　當歸尾　白芷（各半兩重）　川烏（去皮，二錢半重）</p>
<p>後用：黃丹一兩重，（夏用二兩重。）乳香、沒藥半兩，血竭半兩。</p>
<p>總為　咀，用清油五兩，同藥一處入於銚子內，以文武火熬，待藥黑色，用布濾去滓，仍將勻略煎，滴在水中，成珠不散，卻用瓦碗盛之，沉在冷水中，浸一晝夜出火毒，用之神效。</p>
<h3>太一神應膏</h3>
<p>（又名金絲萬應膏、萬靈膏。）</p>
<p>專治發背、癰疽、杖瘡、惡毒瘡、傷損、心痛、香港腳、腰痛，無不效驗。</p>
<p>川烏（一錢）　草烏（半錢）　黃連（二錢）　黃柏（一錢）　赤芍（一錢）　白芍　玄胡索（一錢）　歸尾（一錢半）　良薑（半錢）　木鱉（半錢，去殼）　僵蠶（一錢，去絲）　亂髮（如雞子大，燒灰後入）　紫荊皮（半錢）　地龍（半錢）　石楠藤　穿山甲　白芷　川芎　牽牛　槐花　五倍子地骨皮　杏仁　花椒　茴香　茅香　玄參　蒼耳　桂皮　南星　栝蔞　苦參　蒼朮　五加皮（各半錢）　防風　熟地黃　密陀僧　丁香　內消　本（各一錢）　生地黃（二錢半）　何首烏　細辛（各一錢半重）　江子（二十五粒，去殼）　蓖麻子（二十五粒，去殼）　旱蓮草（半錢，即墨菜）　人參　百藥煎（各二錢半）　黃　羌活　甘草節　五靈脂　地蜈蚣根（各一錢重）　獨活（半錢）</p>
<p>上前藥為　咀，用清油一斤四兩重，浸一二宿，入銚內，文武火煎藥黑色，用布濾去滓。上文火，卻以後藥為末，次第入之。</p>
<p>南木香　安息香　琥珀（各二錢半）　云香（一錢重）　乳香　沒藥　血竭　香結（降香節亦可，焙為末）　黃丹（六兩重　夏月加二兩）</p>
<p>各入乳缽內，研為極細末。</p>
<p>一下藥油，次入黃丹，以桃柳槐枝，不住手攪之。二次下自然銅、白芨、桑白皮、白蘞、韶。傾在瓦碗內，放水中二三日，以出火毒，再以放地上三五日為妙，隨時攤用。如要打做金絲膏藥，卻以前藥，總為細末，卻用松香一斤通明者，入銚內溶化，用棕濾淨。外用清油四兩重熬熟，又入黃丹一兩同熬，滴水成珠，退出水中，用藥打成膏藥，以水浸之，一日一換，冬月三日一換。發背如黑，不疼痛者，即為陰也。</p>
<p>艾葉（一斤）　雄黃　硫黃（各半兩重）</p>
<p>上二味，同水煮艾半日後，溫敷之。再煮別艾，又換以敷十余遍。若疼痛則可瘳，必不死；如不疼痛，出黑血者，必死矣。</p>
<p>發背開不住：初發時，以開不住，即用此藥枯之。</p>
<p>白鹽梅、皂角二味，燒灰存性為細末，不發熱者，米醋調塗，四圍枯之，連換即不走開。若加薑汁同醋調尤妙。如發熱者，用茶清調塗，枯之立效。</p>
<p>治發背已潰未潰者，最有神效。</p>
<p>厚朴（二錢，薑製）　陳皮（去白）　甘草節（二錢炙）　蒼朮（五錢，米泔浸）</p>
<p>上入桑黃菰五錢重，同為細末。瘡已潰者，則干摻之；未潰者，清油調塗。</p>
<h3>內固清心散</h3>
<p>治惡瘡熱盛　痛，作渴煩躁。此藥解毒，神效。</p>
<p>辰砂　茯苓　人參　白豆蔻　雄黃　綠豆　朴硝　甘草　腦子　麝香　皂角（各等分）</p>
<p>總為細末，每服一錢，蜜湯調下。</p>
<h3>透膿散</h3>
<p>治諸般癰瘡，及貼骨癰。不破者不用針刀，一服不移時自透，累用有驗。蛾口繭（用出了蛾兒繭子）</p>
<p>上將繭兒燒作灰，用酒調服即透。切不可用兩三個繭兒燒服。若服一個，只一個瘡口；若兩三個，則瘡口多，慎勿輕忽。</p>
<p>癰發於背，廣一尺深可一尺，雖潰至骨，不穿膜不死。</p>
<p><a href="_files/pc-c1.bmp">發背</a></p>
<p>此證因飲食而感，其毒在脾肚之間，急宜用藥治脾肚中之毒，內外夾攻之。然脾易作臭，急敷解毒生肌定痛藥，四圍敷拔毒散，結果用生肌膏藥，必定見效。</p>
<p><a href="_files/pc-c2.bmp">蓮子發</a></p>
<p>此證發於右脾中，恐其毒奔入心，火大，要用吃藥散之，敷貼藥截住，不令攻心。如在通背敷散，就上可打火針三四針為妙。用前化毒消腫托裡散加南星、草烏、木鱉、貝母、大蒜、生薑、米醋調敷留口，二三日夜，即消盡矣。常常以醋潤濕。</p>
<p><a href="_files/pc-c3.bmp">蜂窠發</a></p>
<p>此證頭在上發，最不宜治，乃是反證，卻要仔細用藥，此名蜂窠發。全在吃藥托裡生肌，定痛散血，恐毒瓦斯攻心入膜，必難治療，因心火未散故也。</p>
<p><a href="_files/pc-c4.bmp">散走流注發</a></p>
<p>此俗諺鱉影之證。殊不知醫方即無此說。鱉證生子之說，背上不為鱉影之實，毒瓦斯乘風熱而然而息。此藥用之如用兵治之。流注於手腳腿者，必死無疑矣。</p>
<p><a href="_files/pc-c5.bmp">腎俞發</a></p>
<p>此證因受濕，並怒氣飲熱酒而得之，傷於內腎之間，流毒在腎俞，急宜用藥敷、吃，解散內有犯，決不可治，慎之慎之。</p>
<p><a href="_files/pc-c6.bmp">腎俞雙發及脾癰</a></p>
<p>此證下腎俞雙發，因飲熱酒行房事，怒氣受濕而得也。陽發於外可治；痰發、陰發傷於腎膜，膿稀者為虛，難以治之，必定死矣。</p>
<p>脾癰發於左膊之間，初發可用燈火點破，後服追疔湯，汗出即散。</p>
<p><a href="_files/pc-c7.bmp">右搭肩發</a></p>
<p>此證發於右搭肩骨上生者，以動之處，可治難安；串於左肩者，必難治也。用藥擦摻，依左搭肩方也。</p>
<p><a href="_files/pc-c8.bmp">左搭肩發</a></p>
<p>此證發於左搭肩骨上生者，以動之處，可治難安；串於右搭肩，必難治也。可用雞黃皮及絮焙乾為末，濕則干摻，干則用清油調搽之即愈。</p>
<p><a href="_files/pc-c9.bmp">對心發</a></p>
<p>此證乃對心發，因心火盛而熱氣會，生於此處，其毒愈壯盛走之，急用疏導心火之藥解之，然後以生肌藥愈矣。</p>
<p><a href="_files/pc-c10.bmp">蜂窠發</a></p>
<p>此證蜂窠發於胸乳之間，乃心火熱盛也。亦只用依前疏導心火之藥，亦可稍治之，遲則熱攻於心，必然而死矣。</p>
<p><a href="_files/pc-c11.bmp">頭後蜂窠發</a></p>
<p>此證發於頭後如是蜂窠者，急宜救之；若　赤、腫痛起者好療，發者必難治矣。宜用藥服敷急療之，若或流於兩肩者，決不可療也。</p>
<p><a href="_files/pc-c12.bmp">背發</a></p>
<p>此證兩頭小者，四邊散攻，乃是因飲食之所致也。而氣食相關合，因虛而成之，氣虛而散，所以開口而闊，急服內消藥，亦宜補陽也。</p>
<p><a href="_files/pc-c13.bmp">兩脅癰疽發</a></p>
<p>此證兩脅下成癰疽，因而氣虛，切不可服補陽之藥。蓋虛中而得，決不宜受熱劑，倘受熱劑，則虛熱愈盛，易於傷骨膜，切宜慎之。</p>
<p><a href="_files/pc-c14.bmp">兩邊發際發</a></p>
<p>此證於頸後兩邊左右鬢發邊發生者，急宜救之。如核發者，急宜取去病根；如腦心發者，熱水，頭中而出。血氣及痰發者，難治，主死矣。</p>
<p><a href="_files/pc-c15.bmp">腦後發</a></p>
<p>此證名夭疽，其狀大而紫黑色。若不急療，則熱入淵腋，前傷任脈，內熏肝肺，十余日死。急用前化毒消腫托裡散及內托千金散，生肌定痛等藥，取效矣。</p>
<p><a href="_files/pc-c16.bmp">耳後發</a></p>
<p>此證生於耳後一寸三分致命之處，發之必死，故銳毒不治。銳毒者，堅銳其毒，名曰發頤，乃熱上蒸，連頤而穿口者，必主穿喉死矣。用藥於後。</p>
<h3>破血散</h3>
<p>專治石癭、氣癭、筋癭、血癭等證，急服此藥，及後藥敷之。</p>
<p>海藻（洗）　龍膽　海蛤　通草　貝母（去心，各三錢）　昆布　礬石（枯）　松蘿（各三錢）</p>
<p>麥曲　半夏（各一錢）</p>
<p>總為細末，每服二錢，南酒溫調服之。忌一切毒物及甘草、雞、魚、五辛、生冷、果木等物，忌食方效。</p>
<h3>南星膏</h3>
<p>專治皮膚項面上生瘡瘤，大者如拳，小者如粟，或軟或硬，不疼不痛，宜用此藥，不可輒用者亦可。為末，醋調如膏。小點破，令氣透出，卻以藥膏攤於紙上，象瘤大小貼之，覺癢則不可以手動撥，則頻貼取效。若紙上藥干，又換濕的貼上為妙。</p>
<p><a href="_files/pc-c17.bmp">胸發</a></p>
<p>此證發於胸者，名曰井疽，狀如大豆，三四日起，若不早療，下入於腹，入腹不療，十日當死，急服內固清心散。（方見前。）若外發可治，內發傷膜，主死無疑矣。</p>
<p><a href="_files/pc-c18.bmp">九發</a></p>
<p>此證發為肺疽、心疽、肝疽、腎癰、脾疽、胃疽、大腸疽、三焦疽、小腸癰。上驗其人所募治；發於內傷膜者，流膿大便出者，必難治。參詳而療之。</p>
<p><a href="_files/pc-c19.bmp">婦人乳發</a></p>
<p>乳癰證，凡有兒者，名為外吹奶；有孕者，名為內吹奶。可以急治敷散，不然出膿，即用生肌定痛藥見效。</p>
<h3>吃藥即效散</h3>
<p>白芷　貝母（去心，各等分）</p>
<p>為細末，南酒調服。若無乳行者，加漏蘆煎酒調服即行。</p>
<p>治初發乳，及內外吹乳，敷藥用酵子一勺，以面五錢炒，擂爛酵子發面如蜂窠，發過上青色，加乳香、沒藥末立效。</p>
<p>乳癰、乳疽二證，在內結核不散，急服復元通氣散，以前敷藥及化毒拔毒敷藥、奪命湯，汗出為度。</p>
<h3>復元通氣散</h3>
<p>治發乳癰疽及一切腫痛。</p>
<p>木香　茴香　青皮　穿山甲（炙酥）　陳皮　白芷　甘草（各等）</p>
<p>加漏蘆、貝母去心、薑製。總為細末，南酒調服。若為　咀，水煎服之亦可。又方用：青皮　陳皮　甘草（生熟各一兩重）　穿山甲（炙）　栝蔞根（各五兩）　連翹　金銀花（各一兩）總為細末，熱酒調服。</p>
<p>凡患乳癆之證，不宜用針，恐針傷其房縫者死。但要識證，開口洪者，去奶房因傷而壞也，定痛散。用前吹乳方內敷藥四圍敷之。</p>
<p>翻花石榴，發乳者，此二證不可治之。三十二、三者，可治，四十之上者，宜早治，用藥吃、敷。如不生肌者，難治之，必死也。</p>
<p><a href="_files/pc-c20.bmp">人面瘡</a></p>
<p>此證皆是冤，可以作善事解之。須在真誠告解，然後方可用藥。吃藥用流氣飲。若久不可者</p>
<h3>苦參丸</h3>
<p>苦參（四兩重）　防風　荊芥　白芷　川烏（生，去皮）　赤芍　何首烏　川芎　獨活　梔子牙皂　蔓荊子　茯苓　山藥　蒺藜　草烏（炒）　黃　羌活　白附子（此四味名四生散，以上各一兩，內草烏只用三錢）</p>
<p>上為細末，水煮面糊為丸，如梧桐子大。每服三五十丸，日進二三服，空心南酒吞下。</p>
<p>如不飲酒者，以好茶代之。吞服，即補腎水。</p>
<p><a href="_files/pc-c21.bmp">外　瘡</a></p>
<p>此證久年不愈者，多是腎水虛敗下流。又有脾潰溢，可服苦參丸補腎水，用解毒生肌定痛散，後用隔紙膏藥。</p>
<h3>秘傳隔紙膏</h3>
<p>治年月深久，　瘡不愈者。</p>
<p>老松香　樟腦　穀丹（炒）　水龍骨（即舊舡鍛石）　輕粉不愈，加白芷、川芎、螵蛸。</p>
<p>總為細末，熔化松香，加少清油和之，以油紙隨瘡大小，糊袋盛藥夾之。用水洗淨其瘡，縛在瘡口上，二日定四日一換。若單用白芷、川芎、螵蛸三味煎水洗之立效。</p>
<p><a href="_files/pc-c22.bmp">肫疽血風瘡</a></p>
<p>此二證發者，一肫上生癰疽者，如近大小便處，難治也。生於實處即安。</p>
<p>若男子婦人，腳生血風瘡，難便可也。下流上手生瘡者，難治之也。</p>
<p><a href="_files/pc-c23.bmp">腳背瘡</a></p>
<p>此證得於消渴病，發於足指者，名曰脫疽。其狀赤黑者，死不療；不赤黑者，可療。如療不衰，急斬去之，得治。不去者，赤黑必死矣。</p>
<p>若初發可治，消渴服流氣飲、苦參丸、解毒生肌藥，可急療之。</p>
<p>上專治此發，用桐油及無名異，煎至一沸，入花椒一勺，看瘡大小，剪蓼葉在內同煎，浸一七後，單以此葉貼在瘡上即安。凡患手指發者，亦同前治療。</p>
<p><a href="_files/pc-c24.bmp">腎陰發</a></p>
<p>此證腎疽者，名懸癰。陰囊上腫而痛，乃膀胱腎經，感寒溫邪氣，偏腎於陰之經絡，至血氣復用內消散及生肌定痛散敷之，用膏藥貼，更服前秘傳流氣飲。下　HT　秘傳一味千金散，專治HT　立效。單用黑蜘蛛一個，過江者為妙，入在碗中，研爛鏇熱，南酒於碗中攪勻，通口服之，隨病左右側臥。如不退，再加一個即效。</p>
<p>敷藥：先用蔥白炒熱，以熨三四次後敷藥，用前化毒消腫藥，加用大蒜、木鱉、南星、草烏敷之。如破，用前生肌定痛藥。</p>
<p>HT　通藥：即過三五行。</p>
<p>牽牛　雄黃　川楝子　大黃　草節　枳殼　貝母　天花粉（各等分）</p>
<p>上為細末，空心南酒調服，出膿即散。</p>
<p>又方用：細辛　黃連　穿山甲　乳香　沒藥　連翹　歸尾　大黃　梔子　金銀花　牡蠣　車前防風　甘草　油胡桃上為　咀，用水煎熟。加南酒，五更溫服。</p>
<p>偏腎氣即效如神。先服五苓散加茵陳、燈草、木通、白朮、豬苓、澤瀉、赤苓、官桂、車前。</p>
<p>上為　咀，白水煎，空心溫服，即依後法灸之為妙。後用丸子藥，青木香丸一帖，斑蝥一大個，同丸子一處炒熱，去了斑蝥，熱南酒送下。如不退，再進一二服。</p>
<p>又方：用栗子樹根，南酒煎服。</p>
<p>下疳瘡搽藥：黃連、黃柏等分，先用豬膽二個，以汁浸二藥，濕則用瓦一片或磚於火上燒紅，放藥在上焙乾，加乳香、沒藥、朴硝、白礬（枯）、無名異、百藥煎、血竭、苦參。</p>
<p>上為細末，干則以清油調搽，濕則干摻之。如腫不退，用益元散加防風、荊芥、何首烏，煎水溫洗之即。</p>
<p>HT　下疳腫不消用：防風　荊芥　草節　牛膝（等分）</p>
<p>上煎湯，熏洗之，即消。</p>
<p>又蛀疳方密陀僧　黃連　黃柏　輕粉上為末摻之，以鹽、艾煎湯洗之。</p>
<p>HT　吃藥，用赤葛根、生薑一塊，同擂爛，鏇熱酒服之，汗出為度。滓用敷瘡上。</p>
<p>偏腎氣，以本人口為則，於臍上灸，偏在左灸右，在右灸左，然後服走馬茴香丸、茱萸內消丸各一帖，以生小酒加少鹽空心吞下。</p>
<h3>追疔奪命湯、飛龍奪命丹</h3>
<p>此二方　大有神效，活人多矣。　今不用重刊，睹者知之。</p>
<p>背瘡。</p>
<p>血見愁（一兩）　酸漿草（半兩）　當歸（二錢半）　乳香（一錢二分半）　沒藥（一錢二分半）</p>
<p>上焙乾為末，每服七錢重，熱酒調服。如有生藥，可用擂酒熱服。留滓，以敷瘡上為效腰疼，用黑豆炒熱，以絹或布包纏腰上，再以薑擂熱酒飲醉，汗出為度。如無汗，依前再作二三次見效。</p>
<p>杖瘡。</p>
<p>水粉（一兩重）　赤石脂（一錢生）　水銀（一分，先煞）</p>
<p>上三味，用麻油杵成膏，以傘紙敷之，貼上緊縛。如肉陷，可用此膏填滿，然後貼上立效。</p>
<p>痔瘡，亦可治惡癬。</p>
<p>信　甘草　白礬（生用）</p>
<p>各為末，用碗一只，先將信末微敷一層，甘草末一層，礬末一層，用火　之，再依前敷藥之三次，掃下為末，以冰水調敷瘡上，不免少疼，飲酒以醉為度，經宿其瘡自脫矣。</p>
<p>拔疔：諸疔不出者，用此以反。巴豆半粒去殼，磁石為末，用蔥涎同蜜為膏，以敷瘡上，其疔自出矣。</p>
<p>治諸腫毒，用生薑面東過梁落地者，就將於本地上，陽日畫○圈，陰日畫　圈一個，以薑醮開瘡口，其毒自出矣。</p>
<p>蛀疳瘡，輕粉、韶粉，打和摻之。</p>
<p>疥瘡，亦可治輕癬。</p>
<p>大楓子　黃連　甘草　油胡桃　榆皮　川椒　輕粉　白礬（半生半熟）　蛇床子　井泉石上為末，以油胡桃增減，同杵為膏如彈子大，用粗布包藥擦之，癢處揩之，痛處按之，藥到即效。</p>
<p>小兒乳癬，以粉草擦之，後用油調醬抹。</p>
<h2>疔瘡治法</h2>
<p>夫疔瘡之初生也，人多不覺。生於頭面手足肚脅腰腿間，亦無定處，一二日必作寒熱如瘧，是疔也。此瘡得患，各有所因，而其形狀亦各不同。</p>
<p>豬疔形圓而小，瘡口內有油（⊙）。羊疔形長色白（　）。牛疔形圓而小，瘡口內無油（○）</p>
<p>。狗特豬、牛、狗、羊、驢、馬之毒所致。宿水不潔，飲子亦生水疔。豆腐中有人汗，食之亦生豆腐疔。又有氣疔、鬼疔，形狀雖不一，然其治之之法則一也。</p>
<p>瘡色緩：第一日瘡頂　色小白，第二日色大白，第三日色微紫，第四日色真紫。瘡色急：第五日色微青，（小緊。）第六日色深青。（大緊。）第七日色黑。其狀有如魚臍，又如灸瘡之狀，乃最緊急之候也。</p>
<p>瘡證吉：有應。如生一疔之外，別處肉上再生一小瘡，即是有應，可用針挑破，護場。</p>
<p>瘡四處肉上無瘡，不護場，疔四圍無赤腫，內疔盛，渴欲飲水，飲食不進，頭眩眼花，護床不動，臥不起也，眼白，睛痴不轉，唇舌青，腹痛。甚者有內疔、五心腫、手足冷、氣粗、無脈</p>
<h3>桃紅散</h3>
<p>治諸疔瘡，雖有凶證迭見，六脈俱絕死者，此藥悉能主之。</p>
<p>蟾酥（少許）　信石（少許）　蟬蛻（三個，去足翅）　蜈蚣頭（一個）　斑蝥（三個，去足翅）國丹（五錢）　風化鍛石（一兩，沙鍋盛，瓦片蓋，炭火　二時久取出）</p>
<p>上各制，同研為末，令極細，指爪甲刮蔥白皮內涎調藥。先以禾葉針針破瘡口，可深半寸。</p>
<p>蓋瘡毒喜趨心，故下針亦隨毒瓦斯行也。出針後，瘡口有惡血，須令出盡，別將蟾酥一粒如麥粒大，入在瘡口中，用針送令深入，卻以前蔥涎所調藥敷瘡口，莫敷在好肉上，用冷水浸濕二三十重，貼在藥上，封固瘡上。如清早封固，至晚覺瘡口熱，即去紙，水洗去令淨，用玉紅散摻瘡口，瘡口必有數日　作疼痛，只用玉紅散摻瘡，仍日用蔥湯洗。然疔瘡之證雖危惡，但能用針破瘡口，入蟾酥在內，以桃紅散封固瘡後，即可保其回生也。至如瘡口作疼痛不可忍，可不必憂，此非疔毒為害，乃是蟾酥在　作腐爛疔毒，故爾痛也。可采芙蓉日也。若疔瘡初發之時，必發寒熱身疼，此乃毒瓦斯在表，當汗而解，自沸湯主之。老人、虛人、孕婦，不宜汗下，只用桃紅散拔其毒。</p>
<h3>自沸湯</h3>
<p>白礬（五錢）　青黛（三錢）　塚間貼背干鍛石（三錢）</p>
<p>上為細末，研至無聲為度，打和令勻。每服三錢，井花水半碗調，柳條攪千百下令勻，頓服之。濃衣蓋覆良久，用蔥豉湯入醋少許，極熱服，少助藥力，得汗而解。</p>
<p>若始不覺是疔瘡，不曾以前法出汗，過數日方覺，則寒熱體痛皆罷，毒瓦斯入裡矣。須用利藥使內中毒瓦斯下泄，雄黃丸主之。</p>
<h3>雄黃丸</h3>
<p>雄黃（五錢）　鬱金（五錢）　巴豆（半錢，去心殼略去油）</p>
<p>一方加信石一字許，不可多用，以清油煮半日取出，晒乾入藥。一方加斑蝥七個，去翅嘴，以糯米炒變色，去米用。又治瘰　。一方加玄明粉三錢，又治咽喉腫痛喉閉等證。</p>
<p>上各研為細末，面糊為丸如綠豆大。每服七丸，冷茶清吞下，取利為度，如不利再服。</p>
<h3>玉紅散</h3>
<p>寒水石（一兩，　）　輕粉（少許）　國丹（少許）</p>
<p>上件研為細末，摻瘡口上，日夜二洗二換。蓋蟾酥膏、桃紅散，皆為毒藥，故令瘡疼痛，，可用李世安一宗治法主之，功效尤速。</p>
<h2>李世安治疔法</h2>
<h3>當歸散</h3>
<p>當歸尾（二兩）　川芎　荊芥穗　干葛　烏藥　川獨活　赤芍藥　白芷　升麻（各一兩）</p>
<p>羌活　甘草　防風（去蘆）　枳殼（各半兩）　紅花　蘇木（各二錢半）</p>
<p>如瘡疼痛者，加乳香、沒藥、白芷各五錢。瘡熱不退，加　竹青、山梔仁各少許；大便閉，節各半兩；眼暈者，倍加川芎、白芷、荊芥、防風；渴而小便閉者，加滑石一兩。</p>
<p>上件　咀，每服五錢，燈草十數莖，烏豆十粒，水一鐘半，煎至八分。病在上食後服，病在脅之間，或在胸之下腫起，此乃毒瓦斯入裡所致，宜用霹靂火治之。若服當歸散，外證不解者，亦急用霹靂火發散。</p>
<p>霹靂火法　鵝卵石炭火　通赤，澱桶一只，先置竹椅一只於桶內。又用一杓置竹椅下，令病，衾覆蓋，別用一衾蓋病患頭上，只留口鼻在外，令遍身汗出，須要頭面皆有汗，病即出矣，此法絕妙。老人、虛人、孕婦不宜汗下，可針破瘡口，用海馬拔毒散點瘡，酒煎蒼耳服。至如毒入裡，用霹靂火時，病患不須入桶，止用一小水桶，依前法以杓盛　石在桶中，用醋淋沃，令病患側臥身，以腫處覆在桶上，四圍用衾被遮護，勿令氣泄，良久腫處出汗。如汗未透，可再加火力，再沃之，須令腫處汗透，卻不必遍身汗也。</p>
<p>若瘡在兩脅間，毒瓦斯欲奔心，乃危急之證也。可急於患處尖上，用艾炷灸三五狀，仍於灸穴松針截法，針斷紅絲路。如瘡於兩胯間毒瓦斯欲奔腎者，用松針於兩胯紅絲路盡處，針斷出血。如瘡生頭面上者，可於項間絲路盡出針斷出血，或各處紅絲路亦有不現者，亦可以意消詳，用松針針之。</p>
<p>凡用松針者，蓋因紅絲路不現，無可下手出，故用此法，於頷下、兩腋間、兩跨間虛軟處下手，針斷毒瓦斯，毋令攻心、攻腎而已。</p>
<p>松針法　取向北松枝上葉極硬者，頓齊作一束，扎令極緊，緩緩以意消詳，毒瓦斯所經行虛軟以溫酒調一二服與之服之，方下針。</p>
<p>若表證皆罷，毒瓦斯入裡者，用前雄黃丸主之。若手足厥冷，六脈俱絕者，此乃毒瓦斯已深，氣則脈自回矣。然後依法治之，萬無一失。</p>
<h3>海馬拔毒散</h3>
<p>治疔瘡大效，兼治諸般惡瘡發背。</p>
<p>海馬（一雙，炙）　穿山甲（黃土炒）　水銀　朱砂（各二錢）　雄黃（三錢）　輕粉（一錢）</p>
<p>腦子（少許）　麝香（少許）</p>
<p>上件除水銀外，各研為末，打合入水銀，再研至無星，針破瘡口，點藥入內，一日一點，有大神效。</p>
<p>夫內疔之證與外疔之證並同，亦發寒熱，頭痛體痛，但瘡形不現，過數日，胸背腹脅頭面手寒熱，雖未有腫起，但腹痛甚者，便須作內疔證，用後法治之，不可緩也。用蟾酥一粒，病勢重者，用二粒，置病患舌上噙化，化後良久，用井花水灌嗽；卻用雄黃丸七丸，冷茶清吞下，得臟腑利數行，其病應手而愈。</p>
<p>治內疔，蟾酥可於取時，用桑葉小錢大，入蟾酥，揉和得所，丸如念珠大，陰乾。</p>
<h2>李防御五痔方</h2>
<p>原痔者，貧富、男女皆有之。富者酒色財氣，貧者擔輕負重，飢露早行。皆心肝二血，喜則相。婦人因經後傷冷，月事傷風，余血在心，經血乃流入於大腸。小兒因利後或母腹中受熱也，治方於後。</p>
<h3>水澄膏</h3>
<p>護肉。</p>
<p>鬱金　白芨（各一兩。一方加黃連）</p>
<p>上二味為細末，候內痔登廁翻出在外，用溫湯洗淨，不須坐，即出廁，臥於床上，以用新用筆蘸溫水，塗於紙上，紙以護水澄膏，不令四散耳。才覺藥干，又以溫水潤之，後用枯藥好白礬（四兩）　生信石（二錢半）　朱砂（一錢，生研極細）</p>
<p>上各研為細末，先用砒在建盞中，次用白礬末蓋之，用火　令煙斷，其砒盡隨煙去，只借砒氣稀，用篦頭塗痔上周遍，一日三上。須用仔細看，痔頭顏色焦黑為妙；至夜有黃水出，切勿他疑，水盡為妙；至中夜上藥一遍，來日依然上藥三次，有小痛不妨。換藥時，以碗盛新水或溫湯，在痔邊用筆一管，輕洗刷痔上，去舊藥上新藥，仍用護藥。此藥只是借砒信，又有朱砂，少解砒毒，次用荊芥湯洗之。三兩日之後，黃水出將盡，卻於藥中增朱砂，減白礬，則藥邊緩矣，三兩日方可增減，漸漸取之。庶不驚人，全在用藥人，看痔頭轉色增減濃薄敷藥，方是活法。</p>
<h3>荊芥湯</h3>
<p>上用荊芥銼水三碗煎，常常煎下，如洗痔了，依舊傾入瓶內，火煨之，可用三五次。</p>
<h3>潤腸丸</h3>
<p>大黃（濕紙包煨、銼）　枳殼（去穰）　當歸（蜜煉）</p>
<p>上三味，等分為末，蜜丸。每服二十丸或三十丸，湯下，量臟腑虛實多寡服之。緣為已用枯藥後，痔頭將欲焦枯，糞門迫急，恐大便堅難下，所以預服此藥，令臟腑稀滑耳。</p>
<h3>龍石散</h3>
<p>龍骨（　，去火毒）　香白芷　好黃丹　軟石膏（　，去火毒）</p>
<p>上等分為極細末後，痔頭落盡，以此藥摻，收斂瘡口，倉卒要用耳。</p>
<h3>導赤散</h3>
<p>生地黃（二兩）　黃芩（三兩）</p>
<p>上銼。每服三錢，水一盞，煎至六七分，溫服。用藥之後，小便恐赤澀，即服之，加滑石、甘草、燈心。</p>
<h3>雙金散</h3>
<p>黃連　鬱金上二味，等分為末，用蜜水調敷痔頭上。虛人已用枯藥上，忽有些疼痛，用此其疼即止。一方，只用腦子末敷之亦可。</p>
<h3>內補散</h3>
<p>此藥調理氣血，排膿生肌後，痔瘡將欲收斂，即服此。所謂腸頭直後，瘡口安好，血氣中和，自然收入。</p>
<p>人參　黃　當歸（各二兩）　桔梗　芎　厚朴　官桂　防風　白芷　甘草（各一兩）</p>
<p>上十味各等分為細末，以木香湯並溫酒下，亦可日二三服。</p>
<h3>國老湯</h3>
<p>甘草煎湯。常常要煎下熏洗痔瘡。蓋甘草自是痔藥，又解砒毒。若瘡收斂，其癢異常，尤要此藥澆洗，溫熱隨意。</p>
<p>催痔　治痔雖硬，只是不脫，用此藥催自落。</p>
<p>百草霜（二錢）　白薑末（一錢）　川烏頭上為細末，以井水調稀，用筆點痔上，良久立脫。</p>
<p>熨法　凡醫痔，用枯痔藥後，急大小便間好肉疼如針刺，及痛上腎根，令人將衣物火上烘之，令熱熨痛處三五次，其痛即止。</p>
<p>蓋慮痔根毒水流污好肉生瘡，故用藥塗油單紙護肉周遍，不用連紙貼定可也。喚痔真磁石（一錢重，別研）　白礬（半錢，枯過）　白薑（一錢，別研）　草烏尖（三個，生用）</p>
<p>上為細末，卻以蔥涎調敷腸頭上，其乳出用枯藥。</p>
<p>又方用磁石（　，醋淬九次，研，水飛）　白礬（枯）　大草烏　穿山甲　硼砂上為末如前，出用洗藥。</p>
<p>二十四證痔歌　此疾，酒、色、氣、風、食五事過度。</p>
<p>痔證分三八，憑君子細看。莫教年日久，見者膽心寒。菱角看形怪，蓮花不可觀。穿腸並鼠痛若鑽。核桃與流氣，見者便心酸。栗子於中大，雞心在外安。珊瑚形可惡，那更脫肛難。</p>
<p>內痔紅不出，搭腸裹內盤。垂珠更難治，日久有雞冠。切莫輕刀火，令君性命殘。用工無半了，去病更除根。</p>
<p>用換藥用此治痔方：</p>
<h3>紅肉膏</h3>
<p>辰砂（一錢）　乳香（半錢，別研）　白礬（一兩）　黃丹（一錢）　巴豆（三個）　砒（半兩，用白礬鋪底火七分）</p>
<p>上為細末，每用二錢，斑蝥三個，香油一兩，同一處煎，斑蝥、巴豆赤為度。去二味，只用，已破用紙捻子任藥入瘡。</p>
<h3>洗痔金花散</h3>
<p>無名異（半錢）　黃柏（一兩）　黃連（半兩，生）　烏黑豆（半升）</p>
<p>上為末，溫洗了，用海蛤散敷之。</p>
<h3>龍骨海蛤散</h3>
<p>蕪荑（一兩）　龍骨（一錢）　海蛤（一錢，　）　密陀僧（半錢）</p>
<p>上為末，先摻，次用貼痔膏，日一次貼。</p>
<h3>乳香膏</h3>
<p>貼痔乳香膏。</p>
<p>茱萸　白芨　白蘞　黃連　黃柏　當歸（各等分）</p>
<p>上用香油四兩，入柳枝三尺四寸長同煎，柳枝黑為度，入前藥末同煎紫色，用絹濾去滓，再通血積藥，一日二次，方用換痔藥。</p>
<h3>當歸飲</h3>
<p>通血積。</p>
<p>黃連　火麻子　當歸（各半兩重）</p>
<p>上為末，用一錢嚼溫酒下，又將通真丸一粒，臨臥再服。</p>
<h3>通真煨薑丸</h3>
<p>良薑（炮）　柯子（炮）　肉桂（去皮）　木香　肉豆蔻　破故紙　茴香　葫蘆巴（各一錢）</p>
<p>末（一錢）</p>
<p>上研勻細，醋糊為丸，如梧桐子大。用一錢，以木瓜、生薑，共藥一處，濕紙裹煨，香熟溫酒下。</p>
<h3>下膈散</h3>
<p>治不思飲食。</p>
<p>苦參　蓬莪朮（炮）　荊芥穗（炒）　益智（各一兩，去皮）</p>
<p>上為末，每服一錢，水一盞，薑蜜同煎八分，入鹽虛心服之。</p>
<h3>洗腸犀角散</h3>
<p>骨碎補　穿山甲（二兩，蛤粉炒）　玄胡索（半兩，生）　甘草根上為細末，茶調半錢，空心服之。</p>
<h3>止痛麥煎散</h3>
<p>滑石（三錢）　鱉甲（半兩）　川烏（一兩，去皮、尖）　秦艽（半錢）　前胡（半兩）</p>
<p>上為末，每服二錢，小麥三十五粒，同煎至七分，通口服，不拘時，三四服見效。</p>
<h3>黑神黃散</h3>
<p>京墨　黃牛角（一只）　蛇蛻（一條，全）　檳榔（三個）　豬牙皂角（十個）　穿山甲　蔓荊子（各一兩）　黑狗脊（一兩，去毛）　黃荊子（半兩）　枳殼（一兩，去皮白）</p>
<p>上為末，以栝蔞五個去子，入藥在內，用新瓦瓶盛之。後用黃泥固濟，火　煙盡。末入沒藥、青木香各一錢，荊芥一兩。</p>
<p>上為末，同煎藥一處服二錢，胡桃酒下，日三服，茶亦可。</p>
<h3>宣風散</h3>
<p>巴豆（去油）　大黃（炮）　朴硝　枳殼　陳皮（去穰）</p>
<p>上各等分，每服二錢，水一盞，煎至七分，溫服。如服藥後，大便結澀，二三日可服。</p>
<h3>木通散</h3>
<p>人參（一錢）　斑蝥（炒，去殼、足、翅）　鶴虱　大黃　牡蠣（　）　枳殼（各等分）　蓽澄茄（半兩）　丁香（少許）</p>
<p>上為末，糯米糊為丸如梧桐子大。每服五丸，煎砂糖湯下。此藥恐不可用。</p>
<h3>收膿膏</h3>
<p>海金砂　乳香　白芨　雄黃（各等分）</p>
<p>上為末，入瘡口，次以乳香膏貼之。</p>
<h3>車前散</h3>
<p>食茱萸　車前子　雄黃　乳香　赤石脂　龍骨（各一錢，生用）</p>
<p>上為末，摻瘡口，以乳香膏壓之，一日二次。如瘡口乾，只用乳香膏貼；有清水出，用後藥注青膏。</p>
<h3>注青膏</h3>
<p>五倍子（三個，生）　玄胡索　白礬（各一分）</p>
<p>上為末，服少許。如清水出，以紙貼膏藥入瘡口內。</p>
<h3>金花散</h3>
<p>鬱金　甘草（炙）　白薑（炮）　槐花（各一兩，炒）</p>
<p>上為末，每服二錢，空心，陳米飲下。</p>
<h3>山甲散</h3>
<p>五倍子（生）　穿山甲（各一兩，炒存性）</p>
<p>上為末，瀉水者，服二錢，空心，陳米飲下。</p>
<h3>解腸散</h3>
<p>治臟毒瀉血，威靈仙（一分）　蕤生（一分）　貫眾（一兩）</p>
<p>上為末，每服二錢，麝香酒調服。</p>
<p>凡內痔用蔥涎膏，次用洗腸當歸丸，次用取血當歸散，次用取血黃連丸，次日上紅肉膏。凡塗綿子掩痔上，綿托帛縛，日二次上，重十日，輕八日。若有痔曰連腸，若惡滯、腰間疼者，用肉桂膏貼腰。煩疼以通心散逐日服，次下丁膈散、煨薑丸、枳殼散落洗，用海蛤散附之，乳香膏貼，退痔勻腸散，收腸貼頂散。</p>
<p>治痔久不瘥，變漏。不戒酒色。服藥餌治，則先用紙捻子細看大小淺深，即服通真丸、黃入瘡內，凡取爛肉，有血水出，方不進藥，須用收膿膏，三日後用藥洗，三日用龍骨海蛤散摻，以車前散摻口內，一日兩次。服藥至三服，至取深效後，有水出即效也。</p>
<h3>神驗治痔方</h3>
<p>信（半錢）　白礬（一兩）　朴硝（一兩）　沒藥（半錢）　乳香（半錢）　麝（少許）　綠礬（一兩）</p>
<p>上用鐵銅鍋，先以信在鍋底，以白礬覆之，又綠礬覆之，又用硝覆之後成水，投乳香末攪勻邊，一日三次，其痔自然焦落。</p>
<p>又以枳殼水浸去穰，每二片去皮，用巴豆一粒，在內綿縛入銀石器內，米醋高一指，煮干去豆，焙為末，醋糊丸。每服十丸，空心茶清下，或隨津下亦可。</p>
<p>腸風下血，平胃散加續斷煎服。又方加小麥四十九粒，去續斷。治痔上瘡，臘蓮蓬等分，鍋內慢火微煙熏之。又方用五倍子為末，服二錢，麝香酒下。</p>
<p>治痔白礬（四兩）　綠礬（一分）　朴硝（半兩）　信（半兩）</p>
<p>上礬硝作一處，以少半許入建盞內，以信成塊入中。以余藥塗上，以炭火約二斤許燒四圍下痔，可以白礬減半。如速效，可將津液調敷不疼。甘草湯調敷此藥，久留不損，且能不疼。</p>
<p>次用茅根湯熱洗，然後敷藥，日夜三五易。凡疼發必大腸秘結，服寬腸丸並通大便。不可燒煙熏，入腸，反為害。暑月加百草霜、黃丹調敷。如痔落了，肛門腫痛，用槐皮煎湯洗，用津洗，瓦上磨枳殼敷。如肛門不收，木賊、朴硝煎湯敷，各以一次二次即效。未落以前，黃皮薄荷煎湯唾調敷肛門，夏月用此尤佳。</p>
<p>洗藥　初用此洗之。木通、黃芩、黃柏、黑豆，熱煎即洗三次。</p>
<h2>跋</h2>
<p>夫醫通仙道，業擅專門，豈後學所易曉。苟不識證之所因，則必妄投其劑以誤人，可不謹乎師囑，曾編西平善觀李先生所授《外科集驗方》，已行於世；而此方乃吾師得於廬陵榮可蕭先生者，與前外科，別為一脈，弗及類刊。然其方，瘡之所發各有圖象，使人易於會解，可以對證用藥，不至於誤人，誠良方也。即得是本，焉敢緘藏，復以濟急仙方並用鋟刻，與有緣者共。倘若知機於有兆，防患於未形。究是方之精微，廣胸中之活法，豈曰無小補哉。因述得方得效之由於其末，以示信於觀者云。</p>
<p><u>時洪武二十八年乙亥歲孟冬淵然道者書。</u></p>
<h2>治諸雜證品</h2>
<p>救自縊死：自旦至暮，雖已冷，可活。心下微溫者，雖一日以上，可活。急抱起死者，使繩，一人急牽其發不放手，就用腳踏其兩肩；一人摩其胸及屈伸其手足，摩捋之如活，即以粥飲與之。此法救人無不活者。</p>
<p>救水溺死：先以刀斡開溺者口，橫放箸一只，令其牙銜之，使可出水，或覆瓮或立甑，以溺著肩上，以背相貼，倒駝之而行，令出其水盡。仍先打取壁土，一堵置地上，以死者仰臥其上臍、糞門內更迭吹之，令上下氣相通。又用半夏末少許，搐其鼻。如略活用清粥飲灌之。</p>
<p>又孫真人救溺死法：急解去死人衣帶，艾灸臍中即活。</p>
<p>救冬月墮水凍死：凡四肢冷，口不能言，只有微氣者，不可便以火灸。用布袋盛熱灰放在心頭，冷即換熱者，待眼開卻用溫酒或米飲灌之。</p>
<p>救伏暑死，不可使□□□即死，宜用溫湯常摩洗其心腹間，如路途急切，用路上熱土，置腹臍間，令人更尿其臍中，即活。</p>
<p>救暑渴死，用路上熱土，大蒜等分爛研，水調去滓，飲之即活。</p>
<p>救卒中風，不省人事，多因痰壅，用白礬二錢重生研末，生薑自然汁調，斡開口灌下，其涎或吐或化下便醒。</p>
<p>救卒中惡不省者，用韭菜研汁灌入鼻中。</p>
<p>救睡臥中不省死，用韭菜汁滴鼻中，冬月用韭和根搗汁灌之。</p>
<p>治從高墮下瘀血衝心欲死。</p>
<p>上豆豉一大盞，水兩碗，前三沸，去滓，服若便覺氣絕，不能言，取藥不及，擘開口以熱小便灌之。</p>
<p>凡壓死、縊死、溺死、魘死、產後暈絕。（此名五絕。）</p>
<p>上可用半夏一味為末，如豆大吹納鼻中，須臾即活。</p>
<h2>神醫華佗云</h2>
<p>十般危證，急如風雨，故選名方救之。</p>
<p>一危證：霍亂吐瀉，或因飲冷，或冒寒，或失飢，或大怒，或乘車船傷動胃氣，令人上吐下瀉不止，頭旋眼花，手足轉筋，四肢逆冷。方用：吳茱萸（半兩）　木瓜（半兩）　食鹽（半兩）</p>
<p>上同炒焦，先用瓦瓶水三升，煮令百沸，卻入煎，三味同煎二升以下服之。</p>
<p>一方：用枯白礬為末，每服一大錢，百沸湯點服。</p>
<p>又方：用鹽一撮，醋一盞，煎七分，溫服。或鹽梅咸酸等物，亦可煎服。</p>
<p>二危證：纏喉風，閉、腫、痛，手足厥冷，即時氣閉不通，用皂角三皮，挪水一盞，灌下立愈。</p>
<p>一方：皂角一皮，百草霜一錢，同研為末，冷水調，加清油數點灌之。</p>
<p>又方：升麻四兩銼碎，水四碗，煎一碗，灌之即愈。</p>
<p>三危證：吐血內損，或因酒色損傷心肺，血氣妄行，口鼻俱出。上用荊芥一握，燒灰置地上，出火毒，細研。每服三錢，陳米飲調下。</p>
<p>一方：百草霜研細。每服三錢，濃米飲調三服妙。</p>
<p>四危證：中砂毒，煩躁，心腹絞痛，頭旋欲吐不吐，面青黑，四肢冷。上用青藍一握，細研。以井花水調下一碗灌之。</p>
<p>一方：麻油二升灌下。</p>
<p>一方：地漿水濃服三碗。（即掘開黃土地，以水傾入，攪濁服之。）</p>
<p>五危證：尸厥奄然死去，不省人事，腹中氣走如雷鳴。上用生薑自然汁半盞，和酒一盞煎，令百沸並灌服之。仍灸丹田、百會、氣海穴。</p>
<p>六危證：中鬼氣，勿倒地，四肢冷，手握拳，鼻口出血。上用雄黃為末一錢許，煎桃葉湯調下。</p>
<p>一方：故汗衫衣或觸衣久染污者，男用女衣，女用男衣，燒灰。每服二錢，七沸湯調服。（觸衣，即內襯衣也。）</p>
<p>七危證：脫陽，小腹急痛，腎縮面黑，氣喘冷汗自出。上用連須蔥白三莖，砂盆中研爛，以酒五升煮取二升，作二服。仍用炒鹽，先熨臍下氣海穴處，勿令氣冷為佳。</p>
<p>八危證：鬼壓、鬼擊、房中被鬼打，作聲叫喚不省。上用灶心土槌碎為末。每服二錢，新汲水調下。更挑半指甲，吹入鼻中。又灸兩足大拇指聚毛中三七壯。</p>
<p>又方：用桃柳東生枝各三七寸，煎湯三盞，候溫灌服。</p>
<p>九危證：孕婦逆生。上用槐子七粒，研細，新汲順流水下。</p>
<p>又方：用烏蛇蛻一條，蟬蛻二七個，頭發一束共燒灰。溫酒調下三服，仰臥片時即生。</p>
<p>又方：用小絹針，就兒足心各刺三、五針，急用鹽塗刺處，即順行矣。</p>
<p>十危證：胎衣不下，惡血湊心迷悶，胎衣逆上。上用赤小豆一升炒過，水三升煮取二升，去豆取汁，溫服立下。</p>
<p>又法：以婦人自身手足指甲燒灰，酒調下一服。卻令有力婦人抱起，將竹筒於心上趕下為妙。</p>
<h2>又婦人產方</h2>
<p>凡婦人臨月腰腹痛時，未可便服催生符藥，亦不可便坐草，常宜行立，不可慌忙。如果在殼驗方於後：</p>
<h3>紫蘇飲</h3>
<p>治婦人胎前諸證。此藥能安、能催。安胎順氣，功效神異，難述。</p>
<p>紫蘇葉（一兩，火焙）　大腹皮（水洗，焙乾，生薑汁炒）　人參（半兩）　陳皮（半兩重，去上　咀，每服三錢，生薑三片，蔥白三寸，水煎，空心服。胎前七八月宜加枳殼半兩，米汁滴乳香一塊如小指頭大，濃磨水一合，蕩溫服。俟破水後，卻進催生藥。</p>
<p>催生方：上用柞生枝一握，長一尺，淨洗，甘草五寸，並銼碎，水七盞，沙瓶內紙密封之，死胎爛脹，經日不下者屢驗。</p>
<p>一方：百草霜、白芷等分，為末，童子小便和少醋打成膏，熱湯調下。</p>
<p>又方：木鑿頭盛斧處木須，燒灰存性為末，急流水調下。</p>
<p>產難湊心不下者。上用蛇皮燒灰，同麝香少許，研細溫酒調下立產。</p>
<p>胎衣不下：上用雞子清三個，去其黃，以酸醋一合和之，啜入口中即下。</p>
<p>一法：令產婦銜自己發尾於口中，令嘔噦，衣即下。</p>
<p>又方：蓖麻子十四粒，去殼研，塗兩腳心，衣即下，可洗去。如不去，則腸頭出。如此時就以此藥貼頂心，縮回其腸，多用此藥不妨。如腸入，則洗去，神效。</p>
<p>產後敗血上衝，發為血暈，頃刻死人，用陳艾煎湯，入蠟服之。</p>
<p>婦人血崩：上用黃芩為末，每服二錢。先用紅鐵秤錘置酒，候沸定，用酒調服。</p>
<p>一方：干蓮房燒灰存性，酒調每服二錢妙。</p>
<p>又方：好綿棕櫚、頭發共燒灰存性，用百草霜同研為末，無灰酒調服。</p>
<h3>濟陰丹</h3>
<p>治婦人萬病。</p>
<p>香附子　烏豆　乾薑　蒼朮上各四兩重，用黃子醋浸二七，蒼朮只浸一七，後切作片子，再浸一七，取出烏豆，再炒過空心溫酒或醋湯吞下，每服二三十丸，治證同《局方》。</p>
<h2>救解諸毒傷寒雜病一切等證</h2>
<p>解百毒及諸食應千毒。上用甘草二兩，生銼，水三盞煎減半，去滓停冷。每服半盞，細細飲之。未效，更服或吐無害。</p>
<p>一方：加大豆同煎尤驗。</p>
<p>解百毒及閩廣桃生金蠶蠱毒。上用甘草長七寸，四十九莖浸廁坑中四十九日，淨洗為末，蜜丸瓶收，遇中毒時口中嚼化即解。</p>
<p>解砒毒：上用早禾稈燒灰，新汲水淋汁，絹濾過，冷服一碗，毒下利即安。</p>
<p>一方：白扁豆末，新汲水調下。</p>
<p>又方：青黛、甘草、烏豆，煮水三碗服。又濃煎豆豉湯灌下。又用錫器粗石上磨水服，錫器磨水尤妙。單用楊梅皮，煎湯二、三碗服可。</p>
<p>解諸藥毒死。此證只有心間暖，不妨，乃是熱物犯之。上用防風一味擂，冷水與服。</p>
<p>一方：白扁豆花擂水。</p>
<p>又方：豆粉調水、米糖調水、生薑擂水服皆可。</p>
<p>解鼠莽毒：上用木藍根擂水數碗服。（即染青根。）</p>
<p>又方：烏　根，擂水服之安；鏡面草一味，擂自然汁小酒一盞許，清油對停攪勻，服之，即下毒物三五次，以肉粥補，不可遲。</p>
<p>解巴豆毒：煮黃連汁飲之。</p>
<p>解蒙汗毒：飲冷水即安。</p>
<p>解蟲毒：石菖蒲一味，焙乾為末，甘草煎湯下，病退為度。</p>
<p>仙傳解蠱毒咒：凡入蠱毒人家，方入先暗念咒三遍或七遍，云：父為蚯餾蟲，母為羅蛇女，眷屬七千人，吾盡識得汝。</p>
<p>上入門，先暗通蠱毒，萬福舉眼，從左手直上數，上數屋椽一遍，卻低頭，如有茶酒食物來有蟲物出來，卻將毛系之，方知本主。</p>
<p>又方垢膩散：上用白礬一塊，令病患咀之，如覺礬甜，即是蠱毒，乃用梳齒內垢膩，不拘多少，食之即吐，出惡物。</p>
<p>解附子、川烏、天雄毒：煮大小黑豆汁飲之。</p>
<p>解斑蝥毒：大小黑豆汁飲之。玉簪花根擂水亦能解諸毒。</p>
<p>解食野菌毒：掘開黃土地窟，以冷水傾攪令濁，少頃飲之，名曰地漿，可解上毒。</p>
<p>又方：用甘草節不拘多少，用麻油一盞，煎一次，勿令黑，冷服油即解。</p>
<p>解食河豚魚毒：倉卒無藥，急以清油多灌之，吐出毒物即愈。</p>
<h3>解毒散</h3>
<p>不以是何毒藥服之，蟲皆吐出神效。</p>
<p>上以白礬、石菖蒲等分為末，新汲水調下二錢，兩服見效。</p>
<h3>神仙解毒丸方</h3>
<p>青黛　自然銅　野慈菇（田內生者）　貫眾　川芎　塵粉　壁土　黃連　桃根（去皮用骨，焙七，又於流水中浸二七，晒乾別研。以上十三味各二兩重）　甘草節（一兩）</p>
<p>上研為末，訖用錫器磨水和藥，卻用糯米粉煮落湯　，搗和為丸。煮　時，以在水中浮為度，搗三千杵，每丸如彈子大，磨水服。</p>
<h3>神授太乙散</h3>
<p>治傷寒陰陽二證，不問陰陽兩感，表裡未分皆效。</p>
<p>川升麻　白芍藥　紫蘇葉　干葛　陳皮　川芎　青皮　甘草　香附子　白芷上等分為每服三錢，水一盞半，生薑三片，煎八分，連進二服。如頭痛，加連須、蔥白三莖；氣痞中滿，加枳殼。產婦、嬰兒、老人皆可服，神效。</p>
<p>治傷寒結胸。</p>
<p>大黃連（七寸）　巴豆（十四粒，去殼）</p>
<p>上研為末，津唾調餅子，置臍中，以艾炷灸其上，候熱透腹中方止，不拘壯數。灸了，即以溫湯浸手帕拭之，去毒。此法屢常救人。</p>
<p>治瘧。</p>
<p>好常山（七錢）　檳榔（三錢）</p>
<p>上為細末，用雞子清丸如梧桐子大。每服三十丸，溫酒或醋湯吞下。未發先夜一服，發日五更初又一服，必效。若久病，則多服取效。</p>
<p>一方：常山切片子，用雞子清攪勻，飯上蒸三次，去雞子清，以常山晒乾為末，搗飯為丸。臨臥、清早酒吞下二十丸，不吐不瀉即愈。</p>
<p>又方：青蒿、薄桂二味各為末，寒多多桂少蒿，用老生薑二兩重，連皮搗汁，和熱酒調服，以衣被蓋臥即愈。熱多多蒿少桂，亦依前法服，桂蒿三七分用。</p>
<p>又方：不問久年近日神效。</p>
<p>上用常山一兩重，瘦如雞骨者，銼碎，用好醋浸一宿，瓦器內煮干，銼為散。每服二錢重，水一盞，煎至半盞，去滓停冷，五更初服之，不吐不瀉神效。</p>
<p>又方：知母、貝母、常山、檳榔等分，銼碎，酒、水各一盞，煎至半盞，去滓，用綿蓋定，治赤白痢方：訶子六個煨熟，六個生用，去核取肉，焙乾為末。赤痢用生甘草煎湯調下，白痢用炙甘草煎湯下，只空心服之，甚者不過再進。</p>
<p>治痢丸子大半夏（二個）　巴豆（七粒，去殼）　百草霜（一錢）　京墨（一粒如半夏大）</p>
<p>上並碾為末，用黃蠟三錢重，清油少許，熔和為丸如綠豆大，每服七丸。紅痢甘草湯下，白治禁口痢：其證有冷有熱，有冷熱不調，皆須先發散表裡。如手心熱、目赤是熱，宜用敗毒重，候進飲食，然後隨證冷熱治之。</p>
<p>又方：用紅木槿花，不用蒂，陰乾為末，先用面煎餅兩個，以花末摻其上食之，食時先以湯灌開口為末。</p>
<p>又治熱痢，柴胡、黃芩等分，半酒半水煎七分，浸冷空心或早服。若血痢，多加黃芩。</p>
<p>又方：鹽梅除核一個，合好春茶末，用醋湯調服。</p>
<p>轉筋泄瀉，陳艾、木瓜二味，水煎入醋少許，鹽一捻服之。</p>
<p>一方：吳茱萸三錢重，同艾煎湯一碗半，分作三服，即效。又如藥不便，只用艾葉、生薑煨同煎，熱服。</p>
<p>攪腸沙證，發即腹痛難忍。但陰沙腹痛而手足冷，看其身上紅點，以燈草蘸油點火燒之。陽。</p>
<p>急用鹽一兩，熱湯調，灌入病患口中，鹽氣到腹即定。又將石沙炒令赤色，冷水淬之，良久澄清水，一二合服。</p>
<p>又方：陳樟木、陳皮、陳壁土各等分，水濃煎去滓，連進三四服即安。</p>
<p>治霍亂吐瀉，諸藥不納。</p>
<p>綠豆　胡椒（各四十九粒）</p>
<p>上二味，研碎，水煎服。如渴甚，研為細末，新汲井水調服，其效如神。</p>
<p>又霍亂洞瀉不止：上新艾一把，水二碗，煎一碗，頓服。若無新艾，舊艾葉濃煎湯服。</p>
<p>又方木瓜（一兩）　茱萸（半兩，湯泡七次）　茴香（二錢）　甘草（二錢）</p>
<p>上銼，每服四錢，水一盞半，薑三片，紫蘇十葉，煎，空心服。</p>
<p>治癰疽發背：初生灸法，累試有驗。</p>
<p>凡人初覺癰疽背發，已結未結，赤熱腫痛，先以濕紙覆其上，立視候其紙先干處，即是結疽，不痛者灸至痛時方住。最要早覺早灸為上。方發一二日者，十灸十愈；三四日者六七愈；五六日者三四愈；過七日則不可灸矣。若有十數頭，作一處生者，用大蒜研成膏作餅子鋪瘡頭上，聚艾燒之，亦能安也。若背上初發赤腫，內有一粒黃如粟米者，即用獨蒜切片，如前灸法治之，次日去痂，膿自潰已。</p>
<p>竹筒吸毒方：諸般惡瘡並治。苦竹長一二寸，用頭節妙，刮去青皮似紙薄為佳，其大小隨瘡斟酌。</p>
<p>應毒瘡，初發時用：白蒺藜　蒼朮　烏　皮　厚朴（各五錢重）</p>
<p>上四味，　咀，用水一銚，同前竹筒煎煮，以藥捋干為度。乘竹筒熱，以手按之於瘡上，頃之換熱者，如前法，其膿自吸入筒中而瘡愈矣。</p>
<h3>十宣散</h3>
<p>治癰疽。</p>
<p>凡癰疽，皆由氣血凝滯，風毒壅結。此藥發散風邪，流行氣血，排膿止痛，生肌長肉；未成方。熱酒一升，下藥五六錢，少頃頓減七分，數服後瘡潰膿出，半月瘡口遂合。又有婦人股間腫如碗，服此而安。又有腦發者，服藥醉飲，袞臥醒而病去。但選藥精妙，服藥貴多，服至瘡口合，更服，所以補前損、杜後患。不飲者，濃煎木香湯調下亦可。仍略用酒為佳，藥品於後：人參（用新羅者，去蘆，細銼，焙）　當歸（川中大如馬尾者，淨洗，銼，焙乾）　黃　（用綿川芎（好者，淨洗，切，焙乾）　防風（新香者，洗，切，焙）　厚朴（濃而紫者，去粗皮，薑汁淹一宿，炒焙）　甘草　桔梗（有心，味苦者，洗淨去蘆，切，焙）　白芷　桂（用卷薄者，去粗皮，不見火）</p>
<p>上十味，取淨極干，方秤人參、當歸、黃　各二兩，余七味各一兩，除桂外，一處為末，入桂令勻。每服三錢，加至五六錢。桂須多買，取淨末稱。凡信心精合多服必效。</p>
<h3>黃蠟丸</h3>
<p>治發背癰疽，諸般惡瘡皆效。有人遍身生瘡如蛇頭狀，服之亦效。</p>
<p>上白礬不拘多少，生用為末，每礬一兩重，用黃蠟七錢，重熔開出火，傾入礬末，和勻如梧不過十數服必效。如因服金石藥毒所致亦宜服此。又只吃白礬末一二十匙，以溫湯咽下亦效。</p>
<p>、防熱毒內攻，令人危困妙難盡述。</p>
<h3>柞木飲子</h3>
<p>治發背癰疽，已成未成，並宜服之。（藥簡而賤，便於救貧。）</p>
<p>干柞木葉（四兩重）　干荷葉心（蒂）　萱草根　甘草節　地榆（四味，各一兩重）</p>
<p>上銼為散，每服半兩，水二碗煎至半碗，分作二服服之。早晚常進，病愈為度。成膿者自潰，未成者自消。忌一切毒食。</p>
<p>又治癰疽，雞籠櫻葉研爛，入鹽少許，敷之。留出癰嘴立效。</p>
<p>治瘰　，不問已破未破，用烏雞子頂上開竅，攪青黃勻，卻以線系斑蝥一個，去頭、翅、足又方：不蛀皂角三十條，作一束，以棕櫚裹之，縛定，於廁坑內浸一月取出，於長流水內再蠍七個，研細拌勻。每服二錢，溫酒或湯飲，任調服之，不過二三兩重即安。</p>
<p>治疔瘡：凡疔瘡不破，則毒入腸胃不治。</p>
<p>上用蟬蛻一味為末，蜜水調半碗飲之，及用其末，津唾調塗瘡上，瘡口自潰。</p>
<p>一方：烏梅三四個，取肉打爛，以絹片緊縛在瘡上，卻將菊花及根苗擂酒飲之。不飲酒者用湯，次日晚拔去烏梅，自潰。</p>
<p>又方：生蜜與隔年蔥，一處研膏，先刺破，後上藥，用帛縛住，如人行五裡久，覺疔出後，以熱醋湯洗去。</p>
<p>治　瘡，血竭一味研末，敷瘡上，以干為度。</p>
<p>一方：穀丹、無名異，細研，清油調搽，濕則干敷其上。</p>
<p>又秘方：窯灶內黃土，累經燒過者，研細，入黃柏、赤石脂、黃丹、輕粉末拌勻，清油調，油絹盛藥，貼瘡上，外以布絹縛定。其瘡縱癢，不可以手開動，直至數十日後，瘡愈去之。</p>
<p>治疰瘡、疥瘡。</p>
<p>雄黃　硫黃　黃連　蛇床子　剪刀草（焙乾）</p>
<p>上等分為末，用巴豆七粒，麻油煎巴黑為度，去豆，候油冷，入好輕粉，用前藥末調塗之。</p>
<h3>合掌散</h3>
<p>治諸般疥癩瘡。</p>
<p>馬　鈴子（一兩半，生，為末）　白礬（二錢半）　硫黃（三錢，二味別研）</p>
<p>上以清油勻調，塗手上搓熱，呵之，以鼻嗅翕其氣，其瘡自安。</p>
<p>治惡瘡腫如梅李、小豆者。用：吳茱萸（一兩）　小蒜（二兩）</p>
<p>上研合，敷之日三換，以好為度。</p>
<p>治多年瘡口不干：冬瓜葉，焙，研末貼，累效。</p>
<p>治奶癰。</p>
<p>蛇蛻（一錢，燒灰）　甘草（半兩，炙為末）</p>
<p>溫酒調下。如已破，用前藥以生油塗。</p>
<p>一方：皂角燒灰，蚌粉，二味和勻，酒調服，仍用手揉散之。</p>
<p>一方：收五月五日粽箬燒灰，調酒服即散，累有效。</p>
<p>又方：馬鞭草，酒擂，炒如椎，碎，薑一塊，帶熱服一二碗，就以滓　患處。</p>
<p>治水衡瘡，梔子一個去穰，入白礬一塊，於內火中燒之，連殼礬為末，塗瘡上，仍先用水洗淨摻藥。</p>
<p>治疳瘡，爐甘石火　，醋淬為末，油調搽，加香茶孩兒泥尤妙。</p>
<p>一方：生銀杏捶碎搽。（亦可治陰虱。）</p>
<p>一方：黃柏、雞子清，和炒三五次，為末，清油調搽，濕則干摻。</p>
<p>又方：橄欖一個，全用，燒灰，油調搽。</p>
<p>治一切頭上瘡，熟煮雞子黃，炒令油出，以油將輕粉和勻敷之。</p>
<p>一方：平胃散一帖，入輕粉，清油調敷之。</p>
<p>治口瘡，甘草、白礬等分為末，噙化。又研吳茱萸，醋調塗腳心。</p>
<p>又方：五倍子為末摻之。</p>
<p>又方：治三焦有熱，口舌生瘡，疼痛不可忍者用。</p>
<p>上以朴硝、五味子、滑石、黃柏蜜炙、白礬枯、黃丹炒、寒水石　、玄胡索等分為末，摻瘡上，良久立愈。</p>
<p>治諸腫毒癰疽，已潰令愈，未潰令消。用：上用草烏一味為細末，井花水調塗。腫處留瘡頭勿塗，破者不可塗瘡口，或加芙蓉葉尤妙。</p>
<p>治腎風陰囊癢，手又白。上用豬尿胞，火炙令熟，空心吃，鹽酒咽。又用糯草，將皂角在草內燒煙熏之，十余遍即愈。吃藥可服清心蓮子飲。</p>
<p>治纏蛇丹，灶心土干研，清油調塗。</p>
<p>一方：糯米粉和鹽同嚼，唾患處。</p>
<p>一方：上繡鐵丁，磨水搽。</p>
<p>又方：馬蘭丹草擂，醋搽之即痊。</p>
<p>蛇頭指痛不可忍，臭不可聞。上用蜈蚣一條，焙乾為末，豬膽汁調搽。</p>
<p>又方：黑豆生用為末，卻將黃梔子殼一個，納豆末於內，籠縛在指頭上即安。</p>
<p>戀眉瘡，豬腿筒骨五根或七根，生打開取髓，入銅銚熔卻旋旋隨多少入白膠香末，攪勻成治咽喉，用川升麻一兩重，煎水一碗，口含一時許，卻吞下，三服愈。</p>
<p>又方：用白礬枯訖，置地上，少時出火毒，以口噙化妙。</p>
<p>治纏喉風，肥皂角一條，去子、細銼，用清水一大盞浸、研，絞取濃汁，入生麻一呷箸，攪勻頓服，以鵝毛頻攪咽中，吐涎為度，然後用解散風毒藥治之。</p>
<p>又方：白藥磨醋，噙，吐出毒涎妙。</p>
<p>治重舌，白礬生，穀丹飛過，五倍子為末，用蜜調塗舌上，少頃用水嗽之，再塗，以安為度。</p>
<p>又方：蒲黃少許，搽舌上即消。</p>
<p>治舌腫硬閉塞悶亂，百草霜、食鹽等分，井花水調塗舌上愈。</p>
<p>又治喉閉重舌，朴硝、白礬為末，摻入口中。又用好醋磨膽礬，噙，吐涎妙。</p>
<p>治反胃：反胃之疾，十有九死，非藥不效良，因輒強以食，或飲以羹湯，是速其吐。今得其炒香干啖之，一點湯水亦不與，三日後竟不復吐，飲食如初。治方用：上以甘蔗搗汁七升，生薑搗汁一升，打和，分作三服。</p>
<p>一方：棗子一個去核，裹全斑蝥一個，用文武火煨畢，去蝥用棗，空心服之，白湯送下。又取驢溺汁，每日服一盞妙。</p>
<p>治反胃九仙餅人參（二錢）　南木香（不見火，二錢）　甘草（一錢）　南星（薑汁洗七次，二錢重）　半夏（過，一兩）　厚朴（薑汁浸，炒干，五錢重）</p>
<p>上九味，各依等分制過為細末，候夜間晴時露過，以人參厚朴煎湯糊作餅子，小平錢大，慢嚼治反胃久藥不效，及小兒吐不止者。上用好硫黃半兩細研，入水銀二錢半同研無星。每服三錢，治消渴神效散白芍藥　甘草（炙）</p>
<p>上等分為粗散，每服三錢重，水一盞半，煎至八分，去滓服。不拘時，日三服，疾止則已。</p>
<p>治消渴神效丸密陀僧（二兩）　黃連（去須，一兩）</p>
<p>上為細末，蒸餅糊為丸，梧桐子大，濃煎繭皮，鹽湯或酒或茄根湯吞下，一日五丸，日增五丸，至三十丸止，不可多，渴止勿服。</p>
<p>昔旅店有客患此病，夜求水不得，酌釜中湯飲之而愈，旦往視之，乃繰繭湯也。又方：用雄牛穿鼻木燒灰存性，為末，酒調服，或銼碎煎湯服之，數服見效。</p>
<p>治小便不通，烏　木皮煎湯，調下五苓散立通。如無藥處，只以　皮煎湯亦可。</p>
<p>又方：荊芥九錢，大黃一錢，煎服妙。</p>
<p>治大便不通及老人風虛秘結。上用陳皂角燒灰存性，以碗蓋在地下一宿，空心酒下立通，或以蘿茯子擂，冷水下即通。</p>
<p>又方：大黃九錢重，荊芥一錢重，空心水煎服即效。</p>
<p>又治大小便不通經三五日者，用不蛀皂角燒灰，以米湯調下五錢即效。</p>
<p>治小便出血，以車前子根葉，多取淨洗，取汁頻服，可通五淋。</p>
<p>治沙石淋，痛不可忍。上九肋鱉甲一個，炙酥令脆，研為末，酒調服一匙，以效為度。</p>
<p>又方：土牛膝淨洗一握，水五盞煮至一盞，以滓以麝香、乳香少許，研細調服。</p>
<p>又方：黑豆一百二十粒，粉草豆寸銼，新水煎，乘熱入滑石末一錢，空心服。</p>
<p>上用平胃散，每服五錢重，加龍骨一錢同煎，空心服之，數服見效。</p>
<p>又方：白梅燒灰存性為末，入麝香少許，酒糊丸桐子大，熟水吞下五十丸。</p>
<p>治白濁、小便濁頻甚者。上用陳冬瓜仁炒為末，空心米飲調下五錢許，多服見效。</p>
<p>又方：白茯苓四兩，豬苓一兩，水一碗，煮至半，去豬苓，用茯苓，焙乾為末，熔蠟，丸彈子大。每服一丸，早晨細嚼，用燈心、棗子、麥門冬煎湯送下。或服萆　釐清飲。</p>
<p>治久患脾泄，生薑四兩，黃連一兩，二味銼碎，一同慢火炒令薑干脆，深赤色，去薑用黃連，為末。每服二錢，空心茶清調下，或服前黃蠟丸亦效。（見癰疽方。）</p>
<p>治水腫，黑豆煮去皮，焙乾為末，米飲調服，每服二錢重。</p>
<h3>推車丸</h3>
<p>治黃腫水腫。</p>
<p>白面（半斤）　明礬（二兩）　青礬（一兩）</p>
<p>上三味同炒令赤色，醋煮米糊為丸，棗湯下三十丸。</p>
<p>又黃腫方三棱（醋煮）　莪朮（醋煮，焙乾）　蒼朮（米泔浸，炒）　厚朴（薑汁炒）　陳皮（去白，各一兩重）　甘草（半兩）　青礬（二兩）</p>
<p>上前六味為末，後將青礬同占米粉和研作糊為丸。每服五六十丸，米湯吞下。忌豬母、雄雞、鵝、牛、羊等肉毒食。</p>
<p>秘方　治黃腫、水腫、酒黃、積痛，並皆治之。</p>
<p>青礬（半斤，米醋一大盞，和勻，瓦盆盛之，火上　自干為度）　平胃散　烏藥順氣散（各半兩重）</p>
<p>不忌口，可加鍋灰。</p>
<p>上為末，打和煮醋糊丸。每服大凡用九丸、十一丸者，多至二三十丸，空心南酒或薑鹽湯送下。</p>
<p>又秘方無名丸　治水腫病，心腹堅脹，遍身腫痛，咳嗽喘急，並治之。</p>
<p>赤茯苓　大戟　甘遂（各一兩，切，忌甘草）　芫花（半兩）　檳榔（半兩）　青皮（半兩）</p>
<p>黑牽牛（半兩）</p>
<p>上總為末，薄面糊為丸如梧子大。每服三十丸，隨病虛實，加減丸數用之。湯使如後：水腫，海藻、破故紙、白朮煎湯下；面腫，陳皮煎湯下；肚腫，升麻煎湯下；腰腫，葶藶子送下。如若大便來多不住，用冷水浸腳手便住。婦人胎前產後，切不可服此藥。並要五更空心服之。如腳膝腫，服藥後，當閣起兩足而臥，令水流至腳間，從大小便出，則腫自消，其日不可他服別藥，更忌甘草，並斷鹽半年，即不發矣。此藥不可多服，又不可日日服。如一次脾進食清利水道，腫自消矣。</p>
<p>治便紅，烏梅燒存性，不拘多少，醋煮米糊為丸，湯酒任下。</p>
<p>一方：黃連、柏葉焙，二味為末，空心酒調。</p>
<p>一方：荊芥穗、砂仁為末，每服三錢，糯米飲調下，日進三服。</p>
<p>又方：五倍子為末，鹽梅搗膏，丸梧子大，每服五十丸，酒湯任下。</p>
<p>又治瀉血，百藥煎不拘多少，半燒灰，半生用，研末軟飯丸，每三十丸米飲下。</p>
<p>治腸風痔漏等疾，白芷一味，以米泔浸一宿，取出切片，用火　地令熱，掃去灰，將紙放在地上，以白芷鋪上，翕干為末，每日酒調下。</p>
<p>一方：皂角去子及皮，蜜炙為末，米糊丸，米飲吞下。</p>
<p>一方：蒼耳葉或子，焙乾為末，蜜調服。</p>
<p>塗洗藥：朴硝、井花水調洗。如要塗，用蜜和雞蘇丸並朴硝調搽上。</p>
<p>一方：銅青、密陀僧各一錢，麝少許為末，津液和調搽之。</p>
<p>痔瘡突出，坐立不便，效速如神。韭菜淨洗，以沸湯煎，泡於瓦木器內熏之，通手沃洗最佳也。</p>
<p>一方：西瓜皮煮熟，聞香氣，以上法熏洗。</p>
<p>又法：生薑切薄片，放在痔上痛甚處，以熟艾作炷，於薑上灸三壯，黃水即出，自消。</p>
<p>若肛門上有二三個痔，三五日後，如前法逐一灸之，屢試甚效。</p>
<p>治脫肛，烏龍尾（即梁上塵）同鼠糞和之燒煙於桶內，令坐其上熏之，數遍即不脫矣。治咳嗽。</p>
<p>人參（去蘆）　防風（去蘆）　半夏（湯泡）　甘草　陳皮（去白，炒）　桔梗（去蘆，炒）　杏仁（去筋膜，炒干）　烏梅（每服半個）</p>
<p>上等分，　咀。每服三錢重，生薑五片，煎至七分，去滓。睡至一更盡，通口服。或並滓，或留滓，次夜服。</p>
<p>量證輕重，勞咳，加五味子；五心煩熱，加地骨皮；口乾，加人參、門冬；痰多，加南星，炮驚，加人參、遠志，去骨；倒頭不得，加苦葶藶；喘急、腰疼、腳膝無力，加木瓜、烏藥；手足麻痹，加烏藥、防己；感冷咳嗽，加乾薑、肉桂、細辛；失聲，加訶子、薄荷；發則咳嗽不已，別煎九寶飲，加童便水煎服；吐紅，加茅花、藕節；吐咳紅線，加蒲黃、茅花，燒灰入藥；咳粉紅者，加百合、五倍子、茅花，三件，同燒灰存性；飲食不進，加白芍藥、白朮、薑、棗同煎；暴咳紅者及五心發熱，別煎茯苓補心湯，加茅花、蒲黃煎；咽乾口燥，加人參、干葛；傷寒惡風、喘急咳嗽，別煎小青龍湯；四時感冒，金沸草散加桑白皮、粟殼；感風咳嗽頭痛，加川芎、白芷、薑、蔥煎；傷寒發熱咳嗽，去粟殼，加柴胡、黃芩；潮熱咳嗽者，參蘇飲徐徐煎服，孕婦只□□□散。</p>
<p>凡燒灰者，只入在盞內，傾藥同服。服此藥後平，老圓米飲空心下。</p>
<p>凡咳嗽，切忌生、冷、咸、酸、燒、煎、炙、炮、油、膩、酒、面、羊肉子、鴨、魚、腥、豆腐、房事。</p>
<h3>人參交龍散</h3>
<p>治諸嗽不愈者。</p>
<p>人參　阿膠（炒）　款冬花　粟殼（米炒）</p>
<p>上等分，每服三錢，烏梅一個煎，半夜服。</p>
<h3>二母散</h3>
<p>治喘急，倒頭不得，痰涎涌盛。</p>
<p>知母　貝母上二味為末，臨睡白湯溫調服。如喘急，加苦葶藶末；久咳不止，加兜苓末。如無，以粟殼代，去筋膜不制。</p>
<h3>黑龍丸</h3>
<p>化痰治嗽，不問老少遠年近日諸般咳嗽。</p>
<p>明礬（枯）　池礬（枯，各一兩）　南星（炮，二錢）百藥煎（二錢）　五倍子（一錢，米泔浸一宿）　豬牙皂（一錢，去皮弦）　烏梅肉（二錢，炒干）　半夏（炮，二錢）</p>
<p>上為末，面糊丸梧子大。每服三十丸。冷嗽淡薑湯臨睡下；熱嗽茶清睡時下。</p>
<h3>化痰丸</h3>
<p>明礬（枯，一錢）　南星（半生，半熟）　半夏（炮）</p>
<p>上為末，薑汁煮糊丸小梧子大。每二三十丸，食後薑湯下。</p>
<p>舊本一捻金知母（一兩）　貝母（一兩）　巴豆（一十粒，去油）</p>
<p>上研細，和前藥令勻。每服一字，用薑三片，兩面蘸藥，臥床上細嚼咽下，便睡即定，次日必利；小兒只用一半。</p>
<p>治失聲。</p>
<p>皂角（一挺，去皮子）　蘿卜（三個，切作片）</p>
<p>上水一碗，同煎至半碗以下，服之，不過三服，能語聲出。</p>
<p>治鼻衄，蘿卜自然汁半盞，酒半盞，和勻，湯內溫過服效。</p>
<p>又方：婦人發燒灰，香附子末，擂勻，同點湯服。</p>
<p>一方：梔子不拘多少，燒存性為末，搐入鼻中立安。</p>
<p>又方：鬱金末、白茅花，煎湯調服。又車輪上垢膩丸成塞孔中妙。</p>
<h3>如神丹</h3>
<p>治頭風，頭疼不可忍。</p>
<p>光明硫黃（一兩）　硝石（一兩）</p>
<p>上同研細，水丸如指頭大，空心茶嚼下。</p>
<p>又方三靈散治八般頭風。</p>
<p>草烏　細辛（等分）　黃丹（少許）</p>
<p>為極細末，搐入鼻中。</p>
<p>紫虛元君頭風丹大川烏（迭兩者，以河水煮一沸，去水，於淨處再煮。凡七次，　咀，次以鹽炒黃色為度）　遼細辛（四兩重，去蘆土，酒浸）　麝香（少許）　高細茶芽（半斤）</p>
<p>上為末，每服三錢，食後臨臥茶清調下。少時，更以熱湯催汗出，或鼻出涕為度。治心脾氣痛，桂心為末，白湯點服，酒調亦可。</p>
<p>一方：晚蠶砂不以多少，用滾湯泡濾過，取清水服之立止。</p>
<p>又方：玄胡索、胡椒，末，酒調服。</p>
<h3>神應散</h3>
<p>治小腸氣痛。</p>
<p>玄胡索　胡椒上為末，每服二錢，酒水各半盞煎服。</p>
<p>小腸膀胱腫KT　，香附子末，海藻湯調下。</p>
<p>又方四聖散　治疝氣，外腎腫脹。</p>
<p>茴香（炒）　穿山甲（炒）　全蠍（炒）　南木香上等分為末，酒調二錢。一服痛住，甚妙。</p>
<p>又方：燈龍草、連梗葉，摶一握許入罐內，又入槌碎生薑一塊大，及生酒同煎，空心熱服。</p>
<p>又方：五苓散去肉桂，加黑牽牛、桔梗、車前子，名蟠蔥散，數服妙。</p>
<p>又方：食茴香、乳香末、豬苓、桔梗、木通、甘草等分，加燈心一握，淡竹葉勻煎，多服取效。</p>
<p>治偏墜疝氣方，先服復元通氣，次五苓散，各三錢；去桂加黑牽牛、吳茱萸，湯泡，等分；如脹，加陳枳殼，麥夫略炒；痛甚，加八角茴香煎服。</p>
<p>治紫癜風，硫黃一兩，醋煮一日，海螵蛸三個，同研為末。浴後，以生薑蘸藥熟擦患處，須謹風少時，數度斷根。</p>
<p>又方：知母磨醋擦。</p>
<p>吐血咯血，側柏葉，瓦上焙乾為末，米飲調下三錢，三五服效。</p>
<p>一方：蓮葉焙乾為末，米飲調下二錢許。</p>
<p>又方：鍋底墨　過，研細，井花水調下。</p>
<p>骨鯁，乳香二錢，研細，水調，吞數口。</p>
<p>一方：沙糖噙化，細細咽之，其鯁自下。又苧根（即緝布者。）同所鯁骨之肉煎湯下。又宿砂仁、甘草，干嚼咽下；又朴硝咽之。若治魚骨，以魚骨置頭頂心即下。</p>
<p>又方：不問雞魚骨鯁，朴硝研細，對入雞蘇丸如彈子大，仰臥噙化三五丸，自然化去。</p>
<p>誤吞針，磁石一塊，呵之即出。又多食豬羊肥肉自瀉出。</p>
<p>小兒誤吞錢，用炭燒紅，急搗為末，煎湯呷之立效。</p>
<p>誤吞鐵石、骨刺不下，危急者，用王不留行、黃柏，去粗皮，等分為末，浸、蒸餅，丸如彈子大，青黛為衣，以線穿掛當風處。每服一丸，冷水化開灌下。</p>
<p>毒蛇傷，急飲好醋一二碗，令毒瓦斯不隨血走，或飲清油一二盞亦可。然後用藥或用頭繩扎定傷處兩頭，次用白芷為末，白水調下半兩許服之，頃刻咬處黃水出盡，腫消皮合。</p>
<p>一方：雄黃為末塗之，又用水調服亦可。</p>
<p>又方：白礬、雄黃、黃蠟，等分為末，成丸如指頭大。每遇著傷處，於香匙上溶熱，滴於瘡上，或以竹管桉上滴入，則毒不散尤妙。</p>
<p>治百蟲入耳，搗韭菜汁和醋灌耳中。又以火熨桃葉塞耳立出。又清油灌耳中即出。又割雄雞冠血滴入耳。</p>
<p>耳中血出，龍骨末吹入耳中，或白礬枯為末，入麝吹之即止。</p>
<p>耳中常潤濕及出膿或黃水者。</p>
<p>黃丹（一錢，炒）　赤芍藥（二錢半）　凌霄花（二錢半）</p>
<p>上總為末，吹入耳中。如不退加：白礬（一錢，枯）　胭脂（一字）　五倍子（二錢半，焙）　全蠍上為末，同吹入即干。</p>
<p>耳聾久不聞聲。</p>
<p>緊磁石（一豆大）　麝香（一字）　駝鶴油（竹筒收）</p>
<p>上用新綿裹了，塞於所患耳內，口中銜少生鐵，覺耳內風雨聲即愈。需作三五次方可。</p>
<p>惡蟲叮咬，大紙捻一個，麻油點燈照熏傷處，其毒盡入油煙內。</p>
<p>誤吞馬蝗蜞致腹痛者，用田泥為丸，以水吞下，其蟲必隨土瀉出也。</p>
<p>蜘蛛瘡，用羊乳敷其上，或用清油搽之即安。</p>
<p>顛狗咬，韭菜根搗汁多服。又桃白皮煎服或灸傷處三五壯。又真膽礬為末，貼瘡上立愈蜈蚣咬，嚼茱萸擦之。又雞糞塗。又生薑汁調蚌粉搽。又以力斫桑樹皮取汁塗立愈好。</p>
<p>又疼亦可用此熏極驗。</p>
<p>黃蜂蜇，以熱酒洗之立效，或用清油搽上。</p>
<p>虎傷，先吃清油一碗，次用油洗瘡口，又以干葛煎水洗，又沙糖水調塗，仍服沙糖水一兩碗。</p>
<p>蛇傷服藥。</p>
<p>細辛（五錢）　白芷（五錢）　雄黃（二錢半）</p>
<p>上為末，入麝香少許。每服二錢，溫酒調下。</p>
<p>又方：貝母為末，酒調冷服。能飲者，盡量飲之。須久，酒因傷處為流清水，候出水盡，卻以藥滓敷瘡上即愈矣。</p>
<p>湯火傷，水磨炭末塗，或磨土朱塗，或用真桐油塗，又用百葉搗爛敷痛處，黃蜀葵花葉搗敷。</p>
<p>凡湯火傷，急向火炙，雖痛強忍，一食頃即不痛。又不可以冷水、冷物拓之，熱氣不出必爛人肉，切宜保之。</p>
<p>刀斧傷，損血不止、痛難忍者，用蔥白鍋內炒熱，搗爛乘熱縛定，痛與血隨止。蔥冷再換，又方：鍋底墨，　研敷之。又白芨、石膏（炒，）同為末，摻瘡上，亦可收口。</p>
<p>又方：無名異末搽。</p>
<p>治閃拗手足疼痛，生薑爛搗，和面炒熱盒之，加蔥白炒。</p>
<p>物入眼中不出，清水磨好墨，點眼角即出。</p>
<p>耳出膿水，生白礬末吹入耳中，日三次立效。</p>
<p>針鐵竹木刺入肉不出者，干烏羊尿十數粒為末，水調後敷其上，痛即住，刺自出。</p>
<p>一方：嚼粟子黃敷之。</p>
<p>一方：竹木刺入肉，黑豆研爛，水調塗之。</p>
<p>又方：蓖麻子仁爛研，先以絹帛襯傷處，然後敷藥，時時看之。若見刺出即放之，恐藥緊弩出好肉。或加白梅肉，同研敷妙。</p>
<p>冬月手足皸裂，白芨末水調塞之。忌三五日不犯水。</p>
<p>治寒足跟凍爛，五月五日午時用薑蔥艾揩一時許，更不再發矣。</p>
<p>治牙痛，青蒿一握，水一碗煎至半碗，待溫漱之，疼即止。</p>
<p>一方：良薑、草烏，二件為末，揩齒有涎即吐，不可吞，吐涎畢，以鹽湯嗽口。</p>
<p>又方：蟲牙、風牙，吃藥有陰陽虛實服之。春，正氣散；夏，敗毒散加大黃、枳殼；秋冬，五積散、消風散。</p>
<p>去蟲積，檳榔一味為末，蜜水調下。令患者先日少吃飯，臨晚亦勿食，次早五更服之。</p>
<p>穿掌毒，新桑葉研爛包盒上，即愈。</p>
<p>小兒五心煩熱渴欲飲水者，煮黑豆與食安。</p>
<p>小兒慢驚昏沉時或搐掣，烏藥磨水，暖熱與服。</p>
<p>小兒急慢驚風，震靈丹二十粒，來復丹十粒，白丸子十粒，三味研勻，糯米糊丸如綠豆大。大者五丸，小者三丸。慢驚用北棗、陳皮煎湯吞下；急驚用生薑自然汁、百沸湯下。</p>
<p>小兒十種丹瘤。許學士云：此十種丹毒如三日不治，攻入腸胃則不可治也。宜逐一子細辨認，：從頭上紅腫痛，用赤小豆末，雞子清調塗。三、鬼火丹：從面起赤腫，用灶心土雞子消調塗。四、天火丹：從背起赤點，用桑白皮末，羊脂調塗。五、天灶丹：從兩臂赤腫黃色，用柳起黃腫，用檳榔為末，米醋調。　八、野火丹：從兩腳赤腫，用乳香末，羊脂調塗。　九、煙火丹：從兩腳有赤白點，用豬槽下土，麻油調搽。　十、胡漏丹：從陰上起黃腫，用屋漏處土，羊脂調搽。</p>
<p>小兒頭瘡、胎毒、諸風熱、惡瘡、痘瘡，用：黃柏　黃連　白芷　五倍子上四味等分研細末，用井花水調稀稠得所，塗開在碗內，覆架兩磚上，中空處灼艾煙熏蒸，以黑干為度；仍取下前藥，再研作末，清油調塗；如有蟲，則用煎油調搽。</p>
<p>又方：五倍子、白芷等分為末。有膿水干摻其上，其膿水即收；如干痂，以清油調塗。</p>
<p>小兒痘眼，以穀精草為末，以白柿或豬肝或餳糖點吃。</p>
<h3>生犀復明散</h3>
<p>治諸般眼疾。</p>
<p>赤芍藥（二兩）　黃芩（一兩）　木通（二兩）　桑白皮（二兩）　龍膽草（二兩）　防風（二兩）</p>
<p>羌活（二兩）　當歸尾（二兩）　大黃（八錢）　枳殼（去穰，六錢）</p>
<p>上　咀，每服五錢，水一盞半，新取桑白皮少許，同煎至八分，食後服。如目赤障濃者，加生蚌粉，痛腫者加生地黃效。</p>
<p>點眼藥：宣黃連洗淨銼碎，不拘多少，以瓦器水煎至半，濾去滓，用瓦盞盛在湯瓶上，蒸之過，毋令塵屑在內。</p>
<p>治暴赤爛眩眼。</p>
<p>黃連（五錢）　當歸尾（三錢）　朴硝（三錢）　板杏（二錢）　黃柏（二錢）　川續斷（一錢）</p>
<p>上銼碎，以盞子盛在湯瓶上，濃蒸乘熱蘸汁，點入眼內。</p>
<p>又法：治赤眼及昏痛，緊閉眼勿開，盛熱湯一器，以手掬沃之，湯冷即止，日頻沃即安，妙處在閉眼。</p>
<p>點障翳諸眼，朴硝十兩明淨者，湯泡，以筲箕盛好。紙濾過，將瓦碗盛，以炭火熬干，置地赤眼，用瓦瓶子煎薄荷、荊介、防風湯，乘熱氣熏之，仍以手沃洗。</p>
<h2>治風濕腰腳諸疾</h2>
<h3>換骨丹</h3>
<p>草烏六兩重，略去皮尖，研為末，用生豆腐二兩搗和成餅子，沸湯煮令浮，再沸取出，煮時最要斟酌。蓋煮過則藥力輕，煮不及則藥力又過重也。</p>
<p>又用米泔浸過蒼朮三兩焙乾，天麻一兩明淨者，全蠍半兩洗去土微炒，與草烏餅子同研為末，上覺麻痹即其效也。</p>
<h3>舒筋散</h3>
<p>治血脈凝滯，筋絡拘攣，肢節疼痛，行步艱難，活血化氣第一品也。</p>
<p>玄胡索　當歸　官桂上等分為末，每服二錢，空心溫酒調服。</p>
<h3>活絡丹</h3>
<p>治腰腳諸疾。</p>
<p>胡蘆巴（四兩重。二兩用海金沙四兩同炒，令二兩用巴豆四兩炒令赤色。海金沙者，即俗名偽。巴豆去殼，取完者用）　蒼耳草（四兩，焙乾。俗名野茄葉，本草名　耳）　左纏藤（四兩，連葉焙乾用）</p>
<p>上三味為末，以好生酒，煮面糊為丸如梧桐子大，用生酒吞下三四十丸。病在腰，半飢服；病在膝腳，空心服。</p>
<h3>治諸瘡</h3>
<p>膏藥方：清油一斤，將頭發二兩，煎至熔，卻隨意入甘草節、當歸尾、黃連、巴豆、蓖麻子沸；入乳香末一兩，用桃柳枝不住手攪，挑入水中滴成珠，不黏手則膏成矣。</p>
<p>又方：麻油五兩重，巴豆二十八粒，柳條二十八寸，以火煎候巴豆黑色，濾去滓，以穀丹二，瓦器盛之，候冷攤用。</p>
<h3>神授香蘇散</h3>
<p>治四時瘟疫方。諸云：昔城中大疫，有白發老人，教一富人家，合施城中病者，皆愈。</p>
<p>其後疫鬼問其富人家，富人遂以實告鬼，相顧曰：此老教三人矣。遂稽顙而退。</p>
<p>凡服此藥，戒食葷腥酒肉，無不應效。又前元時，江西吉安太和縣瘟疫大作，有醫者，視病：某醫人也。神曰：汝今醫病用何藥？答云：隨病冷熱輕重用藥治之。神曰：不然，只一類用香蘇散好。醫者歸，明日遂如其言，試之皆效。醫道大行，因獲福利，終身敬祀其神，並記於此。</p>
<p>香附子（炒，去毛）　紫蘇葉（各四兩）　陳皮（一兩）　甘草（炙，一兩）</p>
<p>上銼為粗末，每服三盞，水一盞，煎至七分，去滓，熱服，不拘時，日三服。</p>
<h3>仙方三補丸</h3>
<p>大補諸虛百損，不問老少，有疾皆效。</p>
<p>破故紙（二兩，隔紙炒令香熟）　白茯苓（一兩，去皮）</p>
<p>沒藥（一兩，用無灰酒浸）</p>
<p>上候酒浸沒藥如餳糖樣，用前藥二味為末，藥酒糊為丸如梧桐子大。每服二三十丸，空心熟水下。</p>
<p>仙方云：昔有人服此藥者，至老顏容不衰。蓋破故紙補腎，茯苓養心，沒藥養血，三者既壯，自然身安。</p>
<p>酒疸脾黃，木鱉子磨醋服之，一二盞必利，見功。</p>
<p>盜汗不止，五倍子末，以唾調，填滿臍中，以帕縛定，一宿即止。</p>
<p>治陰汗，綿黃　淨洗，橫切細，入銚中滴酒炒干脆為末，以豬心煮熟點吃之妙。</p>
<p>又方：蛇床子、石菖蒲等分為末，一日三兩次塗摻。</p>
<p>治痤痱，切斷黃瓜，擦痱子上安，或以棗葉煎湯浴之。</p>
<p>又方玉英粉真蚌粉（四兩）　滑石（一兩）　綠豆粉（二兩）</p>
<p>為末干擦。</p>
<p>治　嗄，蓖麻子隨多少，去粗殼，炒熟吃甜者，苦者吐出，多吃見效。</p>
<p>治舌忽脹退場門外，是蜈蚣毒，用雄雞冠割血，瓦盞盛浸舌就咽下，即縮。</p>
<p>治人恍惚見鬼發狂，平胃散加辰砂末，棗湯調服。</p>
<p>治諸寒風證如聖散，不問男女年久者皆效。</p>
<p>威靈仙（多）　防風　荊芥　防己　麻黃　杏仁　細辛　川芎　白芷（各等分）</p>
<p>上　咀，薑三片，用好酒煎熱服，待發時服，後用黃荊柴大者，以火炙取兩頭汗水，調蠟酒吞下金箔鎮心丸。忌發風諸毒食。</p>
<h2>治大風</h2>
<p>修然子《大風論》：夫大風者，所犯異證多端，或因嗜欲無度，勞傷血氣，或蓄太怒憂愁驚或手足破傷，引入風毒，或醉風豪雨寒水濕瘴侵入肌膚，當時感受，以至大風之患。病因，以流注經絡，傳於臟腑，發於四肢，內外熏蒸，而成泡癬。</p>
<p>夫病之源有三證五死：一種者水風，二種者傳變，三種者自不調攝；五死者，一曰皮死麻木舌翻，以至聲啞不能救治。一、風者，肺經受證，先落眉毛；二、風者，肝經受證，面起紫泡；三、風者，腎經受證，腳底先穿；四、風者，脾經受證，遍身如癬；五風者，心經受證，先損其目。</p>
<p>或有墳墓、居址、祖宗、父母、夫妻、家人等，遞相傳者，或在外不謹，糞坑、房室、床鋪忍，欲求治之，不可得濟，或一年半載而死者有之。</p>
<p>大凡感此疾者，宜早救療則易痊，可當詳審，區別治療，或差則毫厘千裡矣。奈明醫達士，，；欲求醫治，不別居靜室，斷酒戒色，滌慮洗心，皈告神醫，真誠告解。仍忌發風、動氣、葷腥、鹽醬、生冷之物勿食，切須耐性寬心，然後可服眾藥，隨意加減，修制丸散，依法服之，治無不痊。先用瀉惡血丸藥服餌，如膿潰爛，煎湯熏洗，旬日之內，皆是好肉。舊有瘡疾，漸消不發，耳鼻通氣，皮膚覺快，眉須再生，顏色悅澤，安和五臟，其功效豈能盡筆乎。方具如後：</p>
<h3>消風散</h3>
<p>（第一日服。）</p>
<p>香白芷（一兩）　全蠍（一兩，去尖）　人參（一兩）</p>
<p>上為末，每服二錢重。午間止吃粥，忌生薑、胡椒一切性熱之物，晚間不吃夜飯，次日空心溫酒調下，早飯放犀吃，身上微燥為妙。</p>
<h3>追風散</h3>
<p>（瀉血藥，第二日服。）</p>
<p>大黃（六兩）　川蟬肛（即鬱金，一兩八錢重，用小者妙）　皂角刺（一兩）</p>
<p>上為末，初服六錢或七錢，或五錢重，入大楓油二錢半重，淨朴硝少許，用好煮酒一碗，調，安放盤中，不得令患者先見藥；服藥了放碗，即用水盥嗽畢，以蜜煎過口，切不可臥，令矣。五十以下可治，精壯者十日內三服；謂如正月初一日服消風散，初二日服追風散，初三日服磨風丸，初四日又服清風散，初五日又服追風散，初六日又服磨風丸。瘦弱者十日內一服，稍痊，如壯健人十日內一服，服到兩月後二十日一服，切須記其日數。</p>
<h3>磨風丸</h3>
<p>（第三日服，日進兩服）</p>
<p>川當歸　羌活　獨活　川芎（小者）　明天麻　細辛　防風　荊芥　威靈仙　麻黃（去節）</p>
<p>何首烏　石京子　牛旁子　蝦蟆葉　蒼耳草　皺面草（即地松）</p>
<p>上十六味，各一兩重，晒乾為末，不可見火，好酒煮米糊為丸如梧桐子大。每服三十丸，食前食後皆可，日二服。</p>
<p>洗藥地骨皮　荊芥　苦參　細辛（各三兩重）</p>
<p>上銼碎和勻，每次用二兩，以河水煎熏洗，遍身出血為效。如洗，必用大浴桶或缸，內要湯寬浸通身，良久妙。</p>
<p>敷藥　治瘡大爛，遍身塗之。（第四日敷。）</p>
<p>黑狗脊（即杜仲，堅者，二兩重）　硫黃（六錢）　白礬（枯，二兩重）　蛇床子（四兩）　寒水石（二兩）　朴硝（少許敷之）</p>
<p>上為細末，用臘豬油或香油調敷妙。如瘡未爛不必敷，洗。</p>
