<header><h1>種福堂公選良方</h1></header>
<dl class="元資料" data-type="book">
<div><dt>作者</dt><dd><data value="葉桂">葉桂原著，華岫雲編</data></dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1644/1911">公元1644年至公元1911年</data></dd></div>
</dl>
<h2>序</h2>
<p>華與余家，世為姻婭。華君岫云精通岐黃術，常存利濟救人之心，孜孜不倦。向慕吳門葉天已遍其璋余青時</p>
<p><u>乾隆四十年冬小春月賜進士出身欽命四川按察使司按察司加三級凝台杜玉林撰</u></p>
<p><u>並書</u></p>
<h2>卷一‧溫熱論‧續醫案</h2>
<h3>溫熱論</h3>
<p>溫邪上受，（按：邪從口鼻而入，故曰上受。但春溫，冬時伏寒，藏於少陰，遇春時溫氣逆蓋傷寒之邪，留戀在表，然後化熱入裡。溫邪則熱變最速，未傳心胞，邪尚在肺。肺主氣，其合皮毛，故云在表。在表，初用辛涼輕劑，挾風則加入薄荷牛蒡之屬，挾濕加蘆根滑石之流，或透濕於熱外，或滲濕於熱下，不與熱相搏，勢必孤矣。不爾，風挾溫熱而燥生，清竅必干。謂水主之氣，不能上榮，兩陽相劫也。濕與溫合，蒸鬱而蒙蔽於上，清竅為之壅塞，濁邪害清也。其病有類傷寒，其驗之之法：傷寒多有變症，溫熱雖久，在一經不移，以此為辨。</p>
<p>前言辛涼散風，甘淡驅濕，若病仍不解，是漸欲入營也。營分受熱，則血液受劫，心神不安陷入平素如玉如可冀其戰汗透邪，法宜益胃，令水與汗並，熱達腠開，邪從汗出。解後胃氣空虛，當膚冷一晝此時宜令病者安舒靜臥，以養陽氣來復。旁人切勿驚徨，頻頻呼喚，擾其元神，使其煩躁。</p>
<p>但診其脈，若虛軟和緩，雖倦臥不語，汗出膚冷，卻非脫症。若脈急疾，躁擾不臥，膚冷汗出，便為氣脫之症矣。更有邪盛正虛，不能一戰而解，停一二日，再戰汗而愈者，不可不知。再論氣病有不傳血分而邪留三焦，亦如傷寒中少陽病也。彼則和解表裡之半，此則分消上下之勢，隨症變法，如近時杏朴苓等類，或如溫膽湯之走泄。因其仍在氣分，猶可望其戰汗之門戶，轉瘧之機括。大凡看法，衛之後方言氣，營之後方言血，在衛汗之可也。（按：辛涼開肺，便是汗劑，非如傷寒之用麻桂辛溫也。）到氣才可清氣。入營猶可透熱轉氣，如角玄參羚羊等物。入血就恐耗血、動血，直須涼血、散血，如生地丹皮阿膠赤芍等物。否則，前後不循緩急之法，慮其動手便錯，反至慌張矣。且吾吳濕邪害人最廣，如面色白者，須要顧其陽氣，濕勝則陽微也。法應清涼，然到十分之六七，即不可過於寒涼，恐成功反棄。</p>
<p>何以故耶？濕熱一去，陽亦衰微也。面色蒼者，須要顧其津液。清涼到十分之六七，往往熱減身寒者，不可就云虛寒而投補劑，恐爐煙雖熄，灰中有火也。須細察精詳，方少少與之，慎不可直率而往也。又有酒客裡濕素盛，外邪入裡，裡濕為合。在陽旺之軀，胃濕恆多；在陰盛之體，脾濕亦不少。然其化熱則一。熱病救陰則易，通陽最難。救陰不在血，而在津與汗；通陽不在溫，而在利小便。然較之雜症，則有不同也。</p>
<p>再論三焦不得從外解，必致成裡結。裡結於何？在陽明胃與腸也。亦須用下法，不可以氣血傷以泄或黃白相兼，或灰白不渴，慎不可亂投苦泄。其中有外邪未解裡先結者，或邪鬱未伸，或素屬中冷者，雖有脘中痞痛，宜從開泄，宣通氣滯，以達歸於肺，如近俗之杏蔻橘桔等，是輕苦微辛，具流動之品可耳。</p>
<p>再前云舌黃或濁，須要有地之黃。若光滑者，乃無形濕熱，中已虛象，大忌前法。其臍以上黃甚青皮錯雜再黃苔不甚濃而滑者，熱未傷津，猶可清熱透表。若雖薄而干者，邪雖去而津受傷也，苦重再論其熱傳營，舌色必絳。絳，深紅色也。初傳，絳色中兼黃白色，此氣分之邪未盡也，泄日類再色絳而舌中心干者，乃心胃火燔，劫爍津液，即黃連石膏亦可加入。若煩渴煩熱，舌心干熱，津虧再有熱傳營血，其人素有瘀傷宿血在胸膈中，挾熱而搏，其舌色必紫而暗，捫之濕，當加入之症似有清絳其有舌獨中心絳干者，此胃熱，心營受灼也，當於清胃方中，加入清心之品。否則延及於尖，為津干火盛也。舌尖絳獨干，此心火上炎，用導赤散瀉其腑。</p>
<p>再舌胎白濃而干燥者，此胃燥氣傷也，滋腎藥中加甘草，令甘守津還之意。舌白而薄者，外之則藥旋不郁再舌上白苔黏膩，吐出濁濃涎沫者，口必甜味也，為脾癉病，乃濕熱氣聚，與穀氣相搏，土挾濁穢鬱伏，當急急開泄；否則閉結中焦，不能從募原達出矣。</p>
<p>若舌無苔而有如煙煤隱隱者，不渴肢寒，知挾陰病。如口渴煩熱，平時胃燥舌也，不可攻之若舌黑而滑者，水來克火為陰症，當溫之。若見短縮，此腎氣竭也，為難治；欲救之，加人燥水竭，急以鹹苦下之。</p>
<p>舌淡紅無色者，或干而色不榮者，當是胃津傷而氣不化液也，當用炙甘草湯，不可用寒涼藥若舌白如粉而滑，四邊色紫絳者，溫疫病初入募原，未歸胃腑，急急透解，莫待傳陷而入為點斑病或心包熱也。點大而紫，胃中熱也。黑斑而光亮者，熱勝毒盛，雖屬不治，若其人氣血充者，或依法治之，尚可救；若黑而晦者，必死。若黑而隱隱，四旁赤色，火鬱內伏，大用清涼透發，間有轉紅成可救者。若夾斑帶疹，皆是邪之不一，各隨其部而泄。然斑屬血者恆多，疹屬氣者不少，斑疹皆是邪氣外露之象，發出宜神情清爽，為外解裡和之意；如斑疹出而昏者，正不勝邪，內陷為患，或胃津內涸之故。</p>
<p>再有一種白　，小粒如水晶色者，此濕熱傷肺，邪雖出而氣液枯也，必得甘藥補之。或未至氣液再溫熱之病，看舌之後，亦須驗齒。齒為腎之余，齦為胃之絡，熱邪不燥胃津，必耗腎液。</p>
<p>黃，者，齒若光燥如石者，胃熱甚也，若無汗惡寒，衛偏勝也，辛涼泄胃透汗為要。若如枯骨色者，為妥胃虛此非若齒垢如灰糕樣者，胃氣無權，津亡，濕濁用事，多死。而初病齒縫流清血，痛者，胃火沖玉女再婦人病溫，與男子同；但多胎前產後，以及經水適來適斷。大凡胎前病，古人皆以四物加護之胎元，其邪，而治，受邪，正傷寒為合治等。若挾寒加胃實，阻，側即陶此方</p>
<h3>續醫案</h3>
<p><u>曹</u></p>
<p>（四六）述去冬因惱怒時食濃味，遂致不飢，噯氣脘痹，食物不下。視舌上布苔如粉，不渴厚朴　草果仁　薑汁　蓽茇　生益智仁　廣皮白</p>
<p><u>又</u></p>
<p>前因陽結濁聚，舌苔白濃，不渴飲，用芳香辛溫得效。近日食物不慎，水穀氣凝，清陽再窒為嘔，舌苔猶未淨，便下白膩如凍，腑陽亦衰。</p>
<p>公丁香柄　蓽茇　茯苓　生益智仁　厚朴　生乾薑</p>
<p><u>胡</u></p>
<p>（二六）疾走作勞，身前脅腹閃氣上下串痛。交正月，寒戰氣衝，呼吸皆阻，腹脹，臍上橫塞，人參　茯苓　公丁香柄　川椒　烏梅肉　炒黃乾薑</p>
<p><u>潘</u></p>
<p>（四二）中年脈垂入尺澤，按之緩濡，腰椎酸痛，形體即欲傴僂，旬余大便必下血，此少壯</p>
<p><u>高</u></p>
<p>（七一）老年逆氣右升，脘阻妨食，涎沫上涌，此屬反胃。夫陽氣結閉，為無形之傷，前藥人參　生淡乾薑　炒黑附子　豬膽汁</p>
<p><u>沈</u></p>
<p>（十七）兀坐目注針黹，少陽氣火上升，陽明氣血因熱怫逆，遂有結癭瘰　之累。前醫不明干；生鱉甲　牡丹皮　川貝母　香附　穀芽　夏枯草花</p>
<p><u>楊</u></p>
<p>（二七）食入即飢，心空易驚，經水或歇或至，病起產後，逾年不復，自述多食生冷。</p>
<p>據理人參　茯神　炙草　黃精　龍骨　金箔</p>
<p><u>顧</u></p>
<p>腹痛，氣上下行動即緩，從腑陽治。</p>
<p>人參　生穀芽　茯苓　煨薑　新會皮　砂仁殼</p>
<p><u>李</u></p>
<p>（三八）哮喘久發，小溲頻利，此腎虛氣不收納，痰飲從氣而上。初病本屬外邪，然數年混用開小青龍湯去麻辛</p>
<p><u>唐</u></p>
<p>（三五）病是勞傷陽氣，陽衰不主流行，清濁升降不得自如，是為虛痞之結。內經謂勞者溫苓桂朮甘湯</p>
<p><u>賈</u></p>
<p>（二一）痰血頻發七八次，形寒妨食，無治痰嗽之理，急扶後天生氣，望其知味進穀。</p>
<p>戊己湯</p>
<p><u>錢</u></p>
<p>（十八）沖年陰精走泄，陽無依倚，血隨氣升，色紫成塊，此血出於肝絡，法當鎮補。</p>
<p>人參　炒黑棗仁　炒白芍　炙草　青花龍骨　金箔</p>
<p><u>姚</u></p>
<p>（二一）述四月患蛾喉痹，必系溫熱犯上，溫不盡解，留邪化熱，肺津劫爍，喉燥癢嗆，防綠豆殼　麥冬　生甘草　連翹　南花粉　金銀花　蔗漿半杯</p>
<p><u>又</u></p>
<p>浮熱上炎，精走泄於下，致陰液陽精不肯上供。望色萎瘦，納食不旺，攝陰恐妨胃口。</p>
<p>況初夏曾患喉症，大暑熱泄，陰難生復。先議水陸二仙丹，攝固精關。</p>
<p>人參　秋石　芡實　金櫻子膏丸</p>
<p><u>顧</u></p>
<p>（四三）操持無有不動心神，心陽上引，相火交升，燔灼營液，舌為心苗，遂起痱瘰。</p>
<p>病由然必天王補心丹</p>
<p><u>李</u></p>
<p>（四三）長夏時令溫熱，內阻氣分，宗內經濕淫於內，治以淡滲，佐以苦溫。</p>
<p>飛滑石　川通草　淡竹葉　杏仁　厚朴</p>
<p><u>茹</u></p>
<p>（三五）向來無病，因服地黃丸，反左脅腰中臍旁，氣攻作痛，間有遺精，目暗虛花，或起腎當歸　小茴　補骨脂　胡桃肉　茯苓　穿山甲　炒黃柏　青鹽</p>
<p><u>林</u></p>
<p>（十八）色蒼形瘦，稟質陰虛火亢，津液不充，喜冷凍飲料。夏季熱蒸，須培生氣、順天時以調麥冬　知母　川貝　地骨皮　丹皮　綠豆皮</p>
<p><u>項</u></p>
<p>（二八）心熱巔空，交寅卯帶下，向來陰不足，少陽陽動，中虛食減，靜養至秋涼，可望陰人參　柏子仁　丹參　天冬　茯苓　建蓮　龍骨　白薇</p>
<p><u>曹</u></p>
<p>（十四）笑則癇厥病發，晝少夜多。思二月起病，春木正旺，內應厥陰肝臟木火，乃陽極之醒蘆薈　青黛　龍膽草　川楝子　黑山梔　白芍　青皮　歸尾　豬膽汁</p>
<p><u>又</u></p>
<p>前方用純苦直清肝膽，初服即瀉，病久陰分已虛，議理陰和陽，入酸以約束之。</p>
<p>生雞子黃　阿膠　川連　黃柏　生白芍　米醋</p>
<p><u>徐</u></p>
<p>（二六）胃減，痰血頻發，上年誤服玄參山梔，致便溏瀉，此受苦滑寒涼之累。</p>
<p>人參建中湯</p>
<p><u>鄒</u></p>
<p>（五三）酒客食管窄隘，向有脘痛，今多食即反胃，氣阻日久，必致瘀凝。食物宜淡薄，以桃仁　蒲黃　降香末　蘇梗　香附　橘紅</p>
<p><u>程</u></p>
<p>（六三）形瘦肌削，稟質偏熱，夏秋病甚，是陰虧不耐暑熱發泄之氣耳。霜降收肅令行，浮可人參　萸肉　川石斛　磁石　淡秋石　胡桃肉　女貞子　旱蓮草</p>
<p><u>和</u></p>
<p>痰血，上午偏多，氣分熱熾。</p>
<p>金石斛　川貝母　桑葉　南花粉　大沙參　知母</p>
<p><u>單</u></p>
<p>（七歲）為母喪悲泣，淹淹不食，面黃唇淡，情志不適，生陽郁窒。內經謂思為心疾，郁必人參　茯苓　炙甘草　淮小麥　益智仁　石菖蒲</p>
<p><u>於</u></p>
<p>馳騎習武，百脈震動，動則絡逆為痛，血沸退場門。納食起居，無異平日，非虛損也。凡氣為血帥，氣順血自循經，不必因血用沉降重藥。</p>
<p>枇杷葉　炒蘇子　生苡仁　金石斛　炒桃仁　降香末</p>
<p><u>王</u></p>
<p>（四六）望五年歲，真陽已衰。納食逾二三日，反胃涌吐，仍有不化之形，痰涎濁水俱出，人參　半夏　茯苓　泡淡吳萸　生淡乾薑　夜另服半硫丸一錢五分</p>
<p><u>蔣</u></p>
<p>（三五）晨瀉數年，跗腫足冷。長夏土旺初交，知飢痞悶妨食。述兩三次半產不育，下焦耳人參　茯苓　益智仁　砂仁殼　炒扁豆　木瓜</p>
<p><u>又</u></p>
<p>連年半產不育，瘕泄，足跗浮腫。前用養胃和肝，非治本病，因暑濕傷而設。議固下焦之陰，益中宮之陽。</p>
<p>人參　禹糧石　紫石英　五味子　菟絲餅　砂仁　用蒸餅為丸</p>
<p><u>邢</u></p>
<p>暴怒傷肝，白帶下注，繼而間血。人身衝任督帶諸脈，皆麗身半已下。醫用上中二焦疲藥，焉能圖幸。自言月事來而漏帶息，初起必少腹腰痛，此內熱是血絡陰液損傷耳。性嗜酒酒力先入肝膽，急當禁止。議固脈以攝下。</p>
<p>炒枸杞　炒黑當歸　白薇　桑螵蛸殼　青花龍骨　生紫石英　煎藥送震靈丹</p>
<p><u>陸</u></p>
<p>（二一）腰冷，膝骨酸軟，淋濁，溺後莖中空痛。少年未婚，此是勉強勞傷精關。且臥床必菟絲子　復盆子　芡實　沙苑　家韭子　補骨脂　舶茴香　金櫻子　線魚膠丸</p>
<p><u>王</u></p>
<p>（二六）過用心思，營氣日漓，心悸眩暈，遺精，腰膝下部畏冷，陰陽造偏，心腎交損，議桑螵蛸　人參　茯神　青花龍骨　金箔　鎖陽　蜜丸</p>
<p><u>顏</u></p>
<p>病已半年，夜寐易醒，汗泄，自覺元海震動，腹鳴晨瀉。年歲望六，不僅經營煩勞傷陽腎真亦漸散越，仍議固下法。</p>
<p>人參　赤石脂　禹餘糧　五味子　泡淡乾薑</p>
<p><u>徐</u></p>
<p>（三九）月事將至，尻骨脊椎酸痛，此督脈循行之位，況經水之下，必由衝脈，產育頻多，鹿茸　人參　歸身　炒黑小茴　茯苓　川斛</p>
<p><u>唐</u></p>
<p>（二一）經來一日，偶食冷物，經水即止，遂痞悶不食，乳旁堅腫痛脹，此是肝氣鬱結。</p>
<p>蓋青橘葉　香附汁　漏蘆　蒲公英　厚朴　杏仁</p>
<p><u>徐</u></p>
<p>（二八）產後未經旬，長途驅馳以勞形神，歸值母喪，悲哀哭泣，傷及情志。述肉　易驚恐熟地炭　萸肉　龍骨　茯神　淮小麥　南棗肉</p>
<p><u>何</u></p>
<p>（三十）述無病時形瘦，病發時形充。古稱入水之物，無物不長。陰寒襲入右肢，肉筋惕川烏（一兩炮黑）　全蠍（一兩炙焦）　蜂房（五錢炙焦）　自然銅（五錢　）　麝香（五分）　炒熱</p>
<p><u>汪</u></p>
<p>肺熱膈消，熱灼迅速如火，臟真之陰日削。先議清肺，以平氣火，法當苦降以輕，咸補以重，繼此再商滋養血液。</p>
<p>枯黃芩（煎湯）　溶入阿膠（二錢）</p>
<p><u>孫</u></p>
<p>（三三）行走閃銼左腿肢，筋弛無力，亂藥雜投，五六年不愈，延及精血內損，不司束筋充虎潛去鎖陽，加蓯蓉，精羊肉膠丸。</p>
<p><u>施</u></p>
<p>（二六）陰寒已入陰股，道路深遠，湯藥過胃，其力已薄，邪錮仍在，議用許學士法。</p>
<p>蠲痛丹每服一錢二分</p>
<p><u>趙</u></p>
<p>納食不充肌膚，陽傷背痛，陰囊冰冷，經營作勞，勞則氣乏，經言勞者溫之，甘溫益氣以養之。</p>
<p>歸　建中湯</p>
<p><u>陳</u></p>
<p>（五五）操勞動怒，耳鳴巔脹，暈眩肢麻，內起火風，皆厥陽之化。中年以後，男子下元先熟地　玄武版　靈磁石　五味子　山萸肉　炒杞子　天冬　牛膝　青鹽</p>
<p><u>程</u></p>
<p>（二八）　梅逾期，病由情志郁傷。庸醫不究病因，朝暮更方，病延日久。內經謂二陽之載，考人參　白芍　川楝子　生淡乾薑　川連　烏梅　粗桂枝炒焦歸身</p>
<p><u>董</u></p>
<p>（二四）風溫濕上受，痹阻氣分，上則咳嗆不得臥息，下則溺少便溏。夫肺主一身之氣化，飛滑石　茯苓皮　白蔻仁　竹葉　厚朴　杏仁　蘆根</p>
<p><u>陳</u></p>
<p>（四二）煩勞，氣火多升少降，喉中梗阻，痰出噫氣。凡酒肉皆助熱，痰凝氣分，上焦痹塞枇杷葉　栝蔞皮　降香末　杜蘇子　黑梔皮　苡仁</p>
<p><u>宋</u></p>
<p>（二四）精壯年歲，面色萎浮，氣衝逆，必心悸眩暈，問足跗易冷，間有遺泄，此皆煩勞辦濃以熟地（四兩）　萸肉（二兩）　瑣陽（二兩炙）　茯神（四兩）　五味（一兩半）　龜甲心（二兩）　秋丸</p>
<p><u>夏</u></p>
<p>（三十）陰筋曰宗筋，肝主之，冷則筋縮，熱則弛長。少壯莖痿，起於長夏，天氣已熱，地此陽而爍筋致痿矣。法當苦以堅陰，燥以勝濕，介以潛陽，濕去熱清，自有愈期。</p>
<p>生虎骨　熟地　蒼朮　黃柏　茯苓　龜板　石決明　天冬</p>
<p><u>鐘</u></p>
<p>（四五）未及五旬，肉消食減，此未老已衰，身動喘急，足跗至晚必腫，皆是腎真不司收攝坎氣　人乳粉　五味子　胡桃肉蜜丸，人參湯送下。</p>
<p><u>王</u></p>
<p>（三三）煩勞曲運神思，形與神交傷，陽氣旋動，絡血何以寧靜。甘以緩熱，補以益虛，必人參　柏子霜　炒枸杞　焦歸身　桂圓肉　炙甘草　龍骨　茯神　金箔</p>
<p><u>單</u></p>
<p>因閃挫脅痛，久則嗆血，絡血氣熱內迫，新血瘀逆。</p>
<p>鮮生地　藕節　生桃仁　新絳</p>
<p><u>宋　</u></p>
<p>暑熱入營，舌絳煩渴，形脈皆不足，怕邪陷神昏。</p>
<p>犀角尖　南花粉　連翹心　益元散　淡竹葉　細葉菖蒲汁</p>
<p><u>程</u></p>
<p>（二五）男子思念未遂，陰火內燔，五液日奪，孤陽升騰，熏蒸上竅，已失交泰之義，此非解，藥餌細生地　清阿膠　豬脊筋　天冬　川石斛</p>
<p><u>薑</u></p>
<p>（二四）久患胸右有形，形瘦，畏風怕冷，臥則咳嗆痰沫。凡治痰飲，須辨飲食，食少已極苓桂朮甘湯</p>
<p><u>徐</u></p>
<p>狐疝氣墜。</p>
<p>鹿茸　大茴　當歸　沙苑　干蓯蓉　生薑　肉桂　羊肉丸</p>
<p><u>徐</u></p>
<p>（十七）經水未來，春末夏初痰血，形瘦耳鳴，食過如飢，飢不納食，肝陰不生，熱自內灼細生地　天冬　柏子仁　丹參　澤蘭　知母</p>
<p><u>曹</u></p>
<p>辛溫芳香，開氣舒郁，嘔出血餅，嘔吐頓減。蓋氣阻血凝，堵塞脘中升降之路而痛。自服藥以來，微微欲飲，而大便結燥，知不專於辛溫矣。</p>
<p>青蔥　桃仁　歸尾　麻仁　郁李仁　冬葵子</p>
<p><u>又</u></p>
<p>瘀盡，噯氣間嘔，此陳腐未掃，乃無形之聚，用辛芳涼滑治之。</p>
<p>鮮省頭草（五錢）滾水泡湯和入竹瀝（五錢）</p>
<p>分作三次服</p>
<p><u>孫</u></p>
<p>（二八）繞腰近臍，久痛若空，秋深屆冬，四肢不暖，此由幼年精未充旺早泄，既損難復，鹿茸　淡蓯蓉　巴戟　當歸　茯苓　虎膝骨　牛膝　大茴　羊肉膠丸</p>
<p><u>吳</u></p>
<p>（二四）精濁已久，行步無力，食冷口吐酸水，陽氣微弱，治在脾腎。</p>
<p>益智仁　家韭子　復盆子　葫蘆巴　遠志　小茴　菟絲子　金櫻膏丸</p>
<p><u>王</u></p>
<p>（四五）陽結於上，陰泄於下，晨泄多因腎虛，陰傷及陽，胃口自憊，舌畏辛辣，不受桂附人參　禹餘糧　赤石脂　五味子　砂仁末</p>
<p><u>周</u></p>
<p>（三七）精遺越日，陰火忽沖，神亂肉　筋惕，此陰不戀陽，以補虛鎮攝收斂。幸年壯胃口熟地　萸肉　五味　龍骨　湖蓮　茯神　遠志</p>
<p><u>邵</u></p>
<p>（六八）望七男子，下元必虛，操持縈思，陽墜入陰，精腐即化紫黑之色，宿者出竅，新復宜清細生地　清阿膠　黑　豆皮　赤芍　丹皮　童便一杯沖入</p>
<p><u>周</u></p>
<p>（五十）陽維脈循行外踝，遇勞形辦事，環跳跗骨酸麻而痛。丹溪云：麻為氣虛。蓋年力已布涵生精羊肉　虎脛骨　肉蓯蓉　枸杞子　沙苑　巴戟肉　牛膝　當歸　川石斛</p>
<p><u>翁</u></p>
<p>（四四）少腹有形，左脅　脹，內發必肌肉麻木，嘔吐痰沫不爽，此屬肝厥，由乎懷抱抑郁淡吳萸　川楝子　生香附　南山查　青橘葉　牡蠣</p>
<p><u>何</u></p>
<p>（二二）壯年脈芤少神，色痿肉瘦，食進不充形骸，不耐煩勞，乃內損也。節欲養精，安神河車　人參　熟地　五味　山藥　茯神　蓮肉　芡實</p>
<p><u>宋</u></p>
<p>（六十）吸受暑熱異氣，入表中之裡，為淋痛溺赤，形肥，素有痰濕，議通太陽。</p>
<p>桂枝　木豬苓　茯苓　萆　海金沙　寒水石</p>
<p><u>鄭</u></p>
<p>（五九）夏至陰生，忽然口　頰斜，耳竅無聞，此非外來之邪，皆由男子望六，下元已空，真陽熟地　磁石　龜板　丹皮　五味　天冬　枸杞　蓯蓉　菊花炭　川斛</p>
<p><u>方</u></p>
<p>（七七）高年宿疝不愈，入夏陰囊足跗脹大，乃陰臟之真漸竭，腑中陽氣不行，一派濁陰迷白通湯去蔥白</p>
<p><u>周</u></p>
<p>（五一）正視一物見二，睨視則否。凡積勞氣泄陽傷，當夏熱氣再大泄，雖曰肝竅開目，實桂圓肉　枸杞子　炙黑甘草　五味子　山萸肉　菊花炭</p>
<p><u>俞</u></p>
<p>（五一）久嗽失音，飲食仍進，自覺淹淹無力，此是內傷勞倦。夏月泄利，是暑濕氣感，不白芨　生黃　炙甘草　苡仁　黃精</p>
<p><u>周</u></p>
<p>（二一）蓐勞，下元先空，咳音不轉，必致嘔吐，是衝脈虛，氣逆上攻，熏蒸肺臟。延及不炒當歸　生白芍　炙草　南棗肉</p>
<p><u>吳</u></p>
<p>（五二）平昔飲酒，夏令再受地濕之感，內外濕邪傷陽，阻遏氣機流行，遂致一身盡腫，針八川烏　附子　生白朮　茯苓　木香　黑豆皮</p>
<p><u>曹</u></p>
<p>（三八）陰火喉痹。</p>
<p>滋腎丸</p>
<p><u>李</u></p>
<p>（四四）勞必疝墜，按之有聲而解，是虛而氣乘，非因寒也。閱所服之藥，半屬辛熱，不知熟地　茯神　炒遠志　線魚膠　柏子仁　五味子　紫胡　桃肉　沙苑子</p>
<p><u>管</u></p>
<p>（六七）少腹有形，六七年漸加腹滿，述臨暮納食，夜必腹鳴瘕泄，蓋老年坎陽日衰，坤土醫藥人參　菟絲子　葫蘆巴　茯苓　舶茴香　上肉桂　補骨脂　砂仁　金鈴子　肉果山藥糊搗丸</p>
<p><u>吳</u></p>
<p>（十七）脅中刺痛，血逆，心中漾漾隨嗽吐出，兼有嘔惡腹痛，此笄年情志郁勃，陽氣多升山楂　桃仁　柏子仁　丹皮　延胡　益母草</p>
<p><u>張</u></p>
<p>（二十）暑入心胞，煩熱多驚，舌苔黃而不渴。</p>
<p>連翹　犀角尖　益元散　大竹葉　石菖蒲　川貝</p>
<p><u>周</u></p>
<p>（二四）先開稟薄，壯盛精氣不足，形神勞動，陽乃浮越。精血皆有形，非旦夕可生，培養兩儀煎</p>
<p><u>孔</u></p>
<p>（四六）頭風傷目，是內起之風。屢投發散清涼，藥不對症，先傷胃口。仿內經辛苦急，食枸杞子　桂圓肉　茯苓　炒熟半夏</p>
<p><u>楊</u></p>
<p>（四一）肝風化熱犯胃，惡心痞悶，食入作脹，口渴，議養胃制肝。</p>
<p>人參　金石斛　烏梅肉　麥冬　新會皮</p>
<p><u>施</u></p>
<p>坐不得臥，胸滿氣喘，暑風濕氣漫處三焦，太陽膀胱不開，邪鬱生熱，氣痹生腫，先議開三焦氣分之窒。</p>
<p>杏仁　白蔻仁　滑石　寒水石　豬苓　廣皮　厚朴　茯苓皮</p>
<p><u>王</u></p>
<p>（六一）拮據勞形，操持勞神，男子向老，下元精血先虧，陽失交護，浮越上冒，致耳目清虎潛丸</p>
<p><u>李</u></p>
<p>（十九）肌柔色白，形氣不足，當知識年歲，龍雷突起無制，干嗆咳逆，情萌不遂，有夢遺三才東加蓮肉芡實茯神柏子仁</p>
<p><u>薑</u></p>
<p>（五八）痢已八月，久痢自必傷腎，下失收納。據述泄氣糞通稍爽，非寒膩固澀所宜，用景</p>
<p><u>唐</u></p>
<p>（二十）陽浮汗泄，衄血，皆下焦真陰不充。適值乘龍之喜，與病相悖。議填實下元之陰，熟地　萸肉　五味　女貞子　旱蓮草　茯神　秋石　黑殼建蓮　蜜丸</p>
<p><u>王</u></p>
<p>（三九）瘧邪流入肝絡，莖舉，寐中夢擾，熱逼筋骨，液傷酸痛，正虛邪伏，滋養不效。</p>
<p>生鱉甲　生地　胡黃連　丹皮　黑山梔　青黛</p>
<p><u>計</u></p>
<p>（四一）酒客內有濕熱，瘍膿初愈，精神未復，小暑泛潮，外濕與內濕並合，致傷脾胃之絡澀藥茵陳　茯苓皮　厚朴　廣皮　海金沙　雞肫皮　大腹皮　楂肉　砂仁殼</p>
<p><u>王</u></p>
<p>（二六）目患，其來甚驟。醫投風藥寒涼，漸起翳障眵肉，欲遺未泄，已見淋濁。陰虛弱質石蟹　苦丁茶　金石斛　桑白皮　飛滑石　干荷葉　夏枯草</p>
<p><u>顧</u></p>
<p>（十五）稟質聰慧，當此已有知識，勤讀夜坐，陽升則上熱下冷，真陰不能生旺，長夏變幻人參　煨葛根　廣皮　黃柏　生穀芽　澤瀉　茯苓　川連</p>
<p><u>胡</u></p>
<p>（三一）形質偉然，吸氣不入，是腎病。自言心緒少適，六七年久藥無效，近來納食不運，人參　茯苓　龍骨　小麥　炙草　金箔</p>
<p><u>顧</u></p>
<p>（四八）凡寒濕痹久則變熱，六氣客邪，悉從火化，邪客軀殼節骱，熱氣還蒸諸竅，膚腠癮羚羊角　犀角　僵蠶　粗桂枝　花粉　白蒺藜</p>
<p><u>錢</u></p>
<p>（五一）中年食入，涎沫上壅吐食，此屬反胃。姑以淡薄滋味，清肅上氣。平昔飲酒惡甜，鮮枇杷葉　杜蘇子　降香　橘紅　蘆根　苡仁</p>
<p><u>張</u></p>
<p>（二四）上年產後，至今夏經轉寒凜，遂結氣瘕，自少腹攻至胃脘，脘痛，氣結宜開，先用延胡　金鈴子　青蔥管　山楂　生香附　蓬莪朮</p>
<p><u>沈</u></p>
<p>（十一）平素飲食少用，已見脾胃不和。暑濕熱氣，從口鼻入，幕原受邪，邪氣蒸搏，口舌而脾飛滑石　大竹葉　杏仁　厚朴　廣皮白　茯苓皮　白蔻仁</p>
<p><u>方</u></p>
<p>（三二）正在壯年，交四月陽氣升舉，忽然跌仆無知，頭搖肢搐，越旬又發，問病因忿怒所辛香龍薈丸　每服二錢（四服）</p>
<p><u>陳</u></p>
<p>（六二）酒濕熱氣，氣先入膽，濕著胃系，痰聚氣窒，絡血瘀痹，痛在脘，忽映少腹，氣血土蔞皮　半夏　枳實　川連　生薑</p>
<p><u>周</u></p>
<p>（五五）陰虛質弱，風溫濕溫，皆邪在氣分，汗散傷液，邪入心營，神識昏昧，肢節微痙，飛滑石　鮮菖蒲根　茯苓皮　川通草　寒水石　廣皮煎藥化服牛黃丸</p>
<p><u>許</u></p>
<p>（四一）暑濕皆氣窒成瘧，初起舌白嘔吐，乃太陰脾病；誤用寒涼滋柔陰藥，助其濕邪，引邪入營，舌赤不喜飲水，何從氣分開其結，逐其濕，仿古腎治瘧務在通陽。</p>
<p>茯苓（一兩）　囫圇厚朴　草果仁　半夏　新會皮　高良薑沖入薑汁五分</p>
<p><u>蔣</u></p>
<p>上年久暖少寒，冬不藏固，花甲已外，腎真既虧，水不涵木，肝陽化風，勃然上泛，遂令眩暈。經云：下虛上實為厥，乃欲仆中之根萌也。此非外來六氣所感，由操持縈思，五志之陽劇升煩動，在裡營血脂液暗耗。診脈左尺空弦，望色浮紅光亮，欲便用力，汗泄　，偶爾立起，則足跗骨痿，色脈見症，顯明彰著。閱所服諸藥，未參內典聖訓。昔劉河間內經奧旨：凡上實下虛，耳鳴足痿，便溺竅阻等症，每以濁藥清投，名曰飲子，宗是議主治。</p>
<p>制熟地　肉蓯蓉　炒遠志　柏子仁　川斛　天冬　五味　淮牛膝</p>
<p><u>劉</u></p>
<p>（山西）泄瀉二年，食物不減，胃氣未損，脾陽已弱，水濕陰濁，不易輸運。必須慎口，勿生茅朮　生於朮　炒香菟絲子　茯苓</p>
<p><u>張</u></p>
<p>瀉血八年，腹左有形梗痛，液耗渴飲，肝風大震，腑氣開合失司，溲溺不利，未可遽投固澀。</p>
<p>茯苓　木瓜　炒白芍　炒烏梅　澤瀉　炙草</p>
<p><u>許</u></p>
<p>風濕熱爍於經脈，右肢牽掣，邪未驅盡，發為瘡疾有年，陽明脈空，遂致偏痿。</p>
<p>生黃　歸身　防風　丹皮　木防己　黃柏　銀花</p>
<p><u>沈</u></p>
<p>背寒鼓栗而後發熱，二便頗利，並不渴飲，入暮倚枕，氣自下衝，嗆咳不已，脈空大，按之不鼓，肌消神鑠，是煩勞抑郁傷陽。寒熱戌起丑衰，解時無汗，非外感表病顯然。溫養營分，立方參入奇脈，宗陽維為病苦寒熱之例。</p>
<p>川桂枝　鹿角霜　當歸　炙草　生薑　南棗</p>
<p><u>又</u></p>
<p>進通和營分兼走奇脈二劑，寒熱已止；而操持煩心，皆屬傷營耗氣，未免滋擾反復。經謂心營肺衛之虛，都是上損，立方不越益氣養營矣。</p>
<p>人參　茯苓　廣皮　炙草　炒白芍　當歸　棗仁　生薑</p>
<p><u>龐</u></p>
<p>久損精神不復，刻下土旺，立春大節，舌碎　腐，陽升陰不上承，食不知味，欲吐，下損及胃，最屬不宜。</p>
<p>人參　炒麥冬　紫衣胡桃肉　熟地　雞子黃　茯神</p>
<p><u>褚</u></p>
<p>氣鬱，肝不疏泄，神狂譫語，非是外感，乃七情之病，先進滌痰湯法。</p>
<p>川連　膽星　石菖蒲　半夏　鉤藤　山梔　遠志　橘紅</p>
<p><u>方</u></p>
<p>風溫上受，心營肺衛皆熱，氣不宣降則痞脹，熱熏膻中則神迷，此上焦客邪，想有酒食內因之濕，互相挾持，七八日未能清爽，以梔豉湯主之。</p>
<p>山梔　豆豉　杏仁　鬱金　蔞皮　鮮菖蒲</p>
<p><u>郭</u></p>
<p>（小姐）診脈左勁似數，右寸虛大，中下虛濡，面色　白，少寐消渴，納穀最少。經候不安。</p>
<p>人參　炙黑甘草　歸身　赤白製首烏　茺蔚子　酒炒白芍　桂圓肉　小黑　豆皮</p>
<p><u>潘</u></p>
<p>下血，純用苦寒，幸得補陽，救正陰陽造偏。浮腫咳喘，此藏聚失司。當春升發泄之候宜通補攝納，治其肝腎；若　朮呆補，恐助濁凝，有脹滿之變。</p>
<p>人參　五味　茯苓　車前　熟地炭　炒杞子　炒歸身　巴戟肉</p>
<p><u>袁</u></p>
<p>脈濡，面赤呃嘔吐自利，此太陰脾陽受傷，濁陰逆侮，高年不可純消，擬用理中法。</p>
<p>人參　炒黃乾薑　厚朴（薑汁炒）　炒半夏</p>
<p><u>又</u></p>
<p>中下陽微，嘔呃下利，溫中不應，恐延衰脫。夫陽宜通，陰宜守，此關閘不致潰散。春回寒穀，生氣有以把握，候王先生主議。</p>
<p>人參　附子　炮薑　炒粳米　赤石脂　生白芍</p>
<p><u>宋</u></p>
<p>（四七）脈濡澀，減食不運，脘中常痛，糞後血下如線。按經云：陰絡傷則血下溢。閱前方三於朮炭　枳實炭　鬱金　廣皮　炒焦桃仁　炒白芍　炙草　茯苓</p>
<p><u>褚</u></p>
<p>晨起未納飲食，吐痰致嘔減穀，胃陽傷也。由多進知柏所致，其苦寒胃先受傷矣。先用小半夏東加黍米。</p>
<p><u>席</u></p>
<p>積勞氣血凝遏，脘悶肋痹食減。治以宣通脈絡。</p>
<p>桃仁　當歸須　鬱金　柏子仁　小胡麻　桑葉　桑芽膏丸</p>
<p><u>施</u></p>
<p>（三五）忽然神迷，逾時自醒，病起一年，頻發漸近。今診脈細弱，必未實熱，此因憂慮，理痰午服　鮮菖蒲根　天南星　遠志　竹節附子　茯苓　薑汁　夜服白金丸</p>
<p><u>徐</u></p>
<p>（三四）聲音不宣，痰出鼻竅，上焦肺氣窒塞。經營著急，傷肺；酒熱熏蒸，亦主傷肺。</p>
<p>宜杷枇葉　薄荷葉　桑葉　杏仁　牛蒡子　甘草　午前服</p>
<p><u>徐</u></p>
<p>（二十）久病氣血膠結，絡中不和。攻補皆不去病，仿古五積治例，每以疏通緩逐為法，不雞內金　海浮石　蛤粉　歸須　桃仁　半夏　栝蔞實　枳實　山楂</p>
<p><u>呂</u></p>
<p>脈動如數，按之不鼓，便血自去秋大發，今春頻發不已，凡夜寐夢泄，便血隨至，平時身動，吸促如喘，氣衝咳嗆，心悸耳鳴，足肢痿弱，不耐步趨，種種見症，顯然肝腎真陰五液大傷，八脈無以攝固；陰既虧損，陽無有不傷，此滋補原得安受。嘗讀仲景少陰病治例，有填塞陽明一法，意謂脂液大去，關閘皆撤，而內風虛陽，得以掀旋內擾，屢投補陽，暗風隨至，聖人每以填塞其空，似與內經腑通為補之義相左；然關門不固，焉有平期。既驗之後再以血肉有情，另佐東垣升陽之法，安養調攝，自有成驗。先用方：禹糧石　赤石脂　人參　五味　萸肉　木瓜　蒸餅為丸李先知曰：下焦有病患難會，須用余糧赤石脂。以土屬外剛內柔，味酸質濃，能填陽明空漏以柔膃肭臍　鹿茸　家韭子　補骨脂　生菟絲子粉　赤白茯苓暮夜兼進東垣升陽法：人參　黃　熟術　廣皮　炙草　炒歸身　防風　羌活　獨活</p>
<p><u>吳</u></p>
<p>辛泄太過，肺胃津傷，咽喉干涸，出納氣阻。蓋肺為出氣之臟，姑進滋養上焦，以充化源。</p>
<p>生雞子白　玉竹　麥冬　甜杏仁　生甘草</p>
<p><u>嚴</u></p>
<p>填陰則陽和風熄，雖已獲效，春分後診左脈垂尺已減，右脈弦，恐夏熱氣泄，有減食神煩之慮。早上仍用前方，晚進戊己法，仿仲景肝病實脾之意。</p>
<p>人參　熟術　茯苓　炙草　廣皮　白芍</p>
<p><u>方</u></p>
<p>飢不欲食，氣衝咽嗌，頭眩，寒熱汗泄，皆肝陽升動太過；若加怒勞，恐有暴厥之慮。</p>
<p>川連　烏梅　人參　牡蠣　生白芍　炙草</p>
<p><u>包</u></p>
<p>熱灼，耳鼻諸竅皆癢，浮陽化風上擾，汗多不渴飲，此非氣分實火，鎮固不應，法當攝補。三才湯合參麥散主之。</p>
<p><u>葉</u></p>
<p>（四三）鬱怒致病，心胸映背痛甚，至氣阻咽喉，呼吸有音，吐涎沫，又不熱渴，由肝病蔓鮮枇杷葉　香豉　苦杏仁　鬱金　栝蔞皮　黑山梔</p>
<p><u>何</u></p>
<p>（三一）臍流穢水，咳嗽，腹痛欲瀉。詢知勞動太過，陽氣受傷。三年久恙，大忌清寒治嗽黃　建中湯去薑</p>
<p><u>陸</u></p>
<p>（五二）服腎氣湯得效，是下焦陽微，致神氣冒昧，吸不得入為喘。溫補收納，一定成法。</p>
<p>人參　熟附　茯苓　車前　紫衣胡桃肉</p>
<p><u>姚</u></p>
<p>脈左弦，肝風犯胃，水穀下咽即嘔，經月不愈，胃氣大虛，泄木必兼安胃。</p>
<p>人參　川連　黃柏　川楝子　川椒　桂皮　烏梅　生白芍</p>
<p><u>潘</u></p>
<p>眉心痛，心中熱，腰脊酸瘦，五心皆熱，自產後半載，形消食減，乃下焦陰液大耗，而肝風挾陽震動矣。病自內損，固當補益；然閱所服方藥，雖曰養陰，半投芎柴辛散，是昧於根蒂已虛，雜用升泄，恐咳喘躁厥至矣。</p>
<p>生地　阿膠　生白芍　麻仁　炙草　麥冬　羚羊角磨汁</p>
<p><u>伍</u></p>
<p>崩淋已久，少腹結瘕，液涸氣墜。辛甘溫潤之補，冀得宣通；勿謂崩症，徒以澀藥。</p>
<p>淡蓯蓉　杞子　柏子仁　郁李仁　冬葵子　歸身</p>
<p><u>任</u></p>
<p>（奶奶）風溫乃手太陰肺病，與傷寒足經不同，輕劑恰合治上；無如辛散消克，苦寒清火，氣已玉竹　霜桑葉　大沙參　生甘草　甜杏仁　甘蔗汁</p>
<p><u>方</u></p>
<p>脈形濡弱，形寒汗出，頻吐涎沫，三日來，寤不能寐，此胃中虛冷，陽氣困憊。法當溫中，佐以運通，宣導寒涼，斷勿輕投。</p>
<p>丁香皮　益智仁　半夏　茯苓　廣皮　煨薑</p>
<p><u>錢</u></p>
<p>腑陽不通，肝失疏泄，至腹痛便難，咽阻目赤。此酸苦泄熱以通陽竅，仿前賢龍薈遺意，陽和風化，腸垢始下。脈雖小安，而舌乾少寐，陽明胃汁未充，仍宣甘寒為主，以性躁肝急，脾胃易虧也。</p>
<p>生地　阿膠　麻仁　炒麥冬　生白芍　茯神</p>
<p><u>洪</u></p>
<p>勞心營耗，風火交熾，飲啖酒肉，濕熱內壅，絡虛脈實，肉腫如痹。當此小滿，陽氣大泄，一陰未復，致內風挾陽上巔，耳目孔竅不清，舌苔黃濃，並不大渴，雖與客熱不同，但口中酸濁吐痰，酒客不喜甘藥，議進滋腎丸。</p>
<p><u>王</u></p>
<p>風溫上腫，氣窒不飢，仍從上治。</p>
<p>活水蘆根　兜鈴　白蔻仁　杏仁　大豆黃卷　生苡仁　干蟾丸五丸</p>
<p><u>李</u></p>
<p>溫濕熱蒸傷脾胃，身熱泄瀉。</p>
<p>黃芩　生白芍　滑石　豬苓</p>
<p><u>俞</u></p>
<p>穢濁纏染，口鼻吸受時序雨潮之濕，亦屬不正異氣。此芳香開氣，淡滲利濕，一定成法白蔻仁　藿香根　嫩竹葉　杏仁　大豆黃卷　厚朴　滑石</p>
<p><u>廖</u></p>
<p>脈細，自痢瀉血，汗出淋漓，昏倦如寐，舌紫絳，不嗜湯飲，兩月來，悠悠頭痛，乃久積勞傷，入夏季發泄，陽氣冒巔之征。內傷誤認外感，頻投苦辛消導，大劫津液，少陰根底欲撤，陽從汗泄，陰從下泄，都屬陰陽樞紐失交之象，此皆見病治病，貽害不淺。讀長沙聖訓，脈細欲寐，列於少陰篇中，是攝固補法，庶可冀其散而復聚。若東垣　朮諸方，乃中焦脾胃之治，與下焦少陰無預也。</p>
<p>人參　禹糧石　赤石脂　五味子　木瓜　炙草此仲景桃花湯法，原治少陰下痢。但考諸本草，石脂余糧乃手足陽明固澀之品，非少陰本臟關，</p>
<p><u>薛</u></p>
<p>（奶奶）疝瘕痛在少腹左旁，病傷厥陰絡脈，宗仲景法。</p>
<p>當歸（三錢）　生精雄羊肉切片漂去血水　生薑（一錢）　炒黑小茴香（一錢）</p>
<p><u>徐</u></p>
<p>目黃脘悶，汗多嘔吐，濕勝，症屬脾瘧。</p>
<p>厚朴　炒半夏　草果　藿香根　白蔻仁</p>
<p><u>袁</u></p>
<p>頭旋目暗心悸，不渴不飢，勉強進食，二便自通，不致脹阻，病經臥床一月。東垣云：久病不知飢飽，不見皮枯毛瘁，乃痰飲為患。當陽氣上升時令，恐延痰厥。</p>
<p>炒焦熟半夏　枳實　高粱米　茯苓　薑汁</p>
<p><u>華</u></p>
<p>戊申三月廿一日起恙，至四月初一日診脈虛促，舌微腫，心悸，神恍惚，遂肌麻痹遺泄晝夜臥不成寐，腰以下痿軟，不勝坐立。此屬陰液素虧，值春夏之交，陽氣發泄，陰乏戀加以步趨嗔怒。都令五志中陽大動，誠如內經煩勞則張，精絕，辟積於夏，令人煎厥薄謂。蓋張指陽氣之弛張，精絕謂真陰之內奪，木失水涵，肝風大動，皆為厥之因也。法濃固陰，甘緩和陽，內風熄，可冀悸定安寐。倘執方書不寐投以溫膽湯，或畏虛亂補，明陰陽臟腑之先後矣。</p>
<p>人參（一錢半）　茯神（三錢）　真阿膠（二錢）　麥冬（一錢）　生牡蠣（三錢）　龍骨（三錢）　生</p>
<p><u>又</u></p>
<p>己酉歲正月初九日診，夢寐欲遺，丸方：人參（二兩）　熟地（四兩）　河車膠（一具）　五味（一兩半）　復盆子（一兩半）　菟絲子（一兩半</p>
<p><u>周</u></p>
<p>病小愈，即食腥滯黏膩之物，胃陽尚弱，穢濁痞結，中焦不運，陽氣不行，大便七八日不更衣，舌自涎涌，鼻覺氣穢，清濁混亂。所服之藥半系辛寒，不究陽傷，致纏綿逾月。先用來復丹，每服一百粒，薑湯送下。</p>
<p><u>汪</u></p>
<p>日前議味淡輕揚，少佐微辛，正合經言肺欲辛之旨；然發表之，辛則升；開泄之，辛則降。夫肺主一身之氣，清空之體義不受濁。前云穢瘴上入，肺位最高，受戕最先，因失治而漫延中下。內經色診謂從上病者治其上，斯源清流潔矣。</p>
<p>水蘆根　白通草　山茵陳　生苡仁　浙茯苓　桑皮　研入白蔻仁末　臥時服威喜丸二錢</p>
<p><u>又</u></p>
<p>濕阻經絡為痛，初在虛裡穴，漸延肋背附骨，日來背部發現濕症，微微紅色，此濕邪由氣及於血分。丸藥攻滯，僅走腸中，未能引經宣通。所用氣分肺藥，咳喘濁痰已緩。今經絡久痛，當以三因痹症參看。</p>
<p>制蒺藜　通草　木防己　炒焦半夏　生苡仁　浙茯苓　炒熟石膏</p>
<p><u>陳</u></p>
<p>大雨潮濕，下痢都是陰寒。服黃連陽傷　脹。繼雖用溫，又是守中。今二便不爽，脹必兼痛。腑為陽，陽宜通，通則濁陰不聚，痛脹自減。</p>
<p>大針砂丸每服一錢二分</p>
<p><u>金</u></p>
<p>（娘娘）少腹酸郁不和，據述因寒濕而起。緣產後精采不復，衝任已空，蹺維不攝，經言陽清人參　紫石英　炒歸身　鹿角霜　炒杞子　茯苓　接服斑龍丸加參。</p>
<p><u>舒</u></p>
<p>口鼻觸入臭穢濁氣，蒙閉心胞，遂心胸痛嘔瘀血，且欲昏閉，即方書中惡之症。蘇合香丸，能辟穢惡之邪。若誤認陰症，擅投桂附，則抱薪救火矣。</p>
<p>蘇合香丸二丸</p>
<p><u>張</u></p>
<p>（小姐）時時驚恐，不食不便，狀如神附，頭面肌浮，舌強唇腫，寤不能寐，夜多妄言，經</p>
<p><u>吳</u></p>
<p>厥陰頭痛，舌乾消渴，心下煩痛，無寐多躁，少腹脹滿，小溲滴瀝，時時痙搐，最怕厥竭。</p>
<p>阿膠　鮮生地　雞子黃　小黑　豆皮　煎半盞送滋腎丸二錢。</p>
<p><u>顧</u></p>
<p>幼稚哮喘，由外來風寒，必從肺治，因過食甘膩，必兼理胃，久發不已，病氣蔓延，不獨在肺胃間矣。故因勞致發，遇冷而發，乃衛陽已虛，煩動火升面赤，皆腎陰內怯，雖非色欲之損，然因病致虛也。須知病是有餘，體屬不足，不可徒用攻痰逐氣，取快一時。當未發之時，病機潛伏，只宜培土以運痰，土旺則肺氣充，壯水納氣以益腎，子氣充長，母氣自強，此為子母相生之治，守之日久，發作自緩。況宿病無急攻之法，或寓攻於補，或攻補互施。然寒暄飲食調攝，於此症尤當加慎。</p>
<p>早上服補納腎氣方：薑汁製熟地　生白芍　懷山藥　丹皮　雲苓　紫衣胡桃肉　咸秋石　澤瀉　蜜丸桐子大午後服健中運濕方：人參　熟半夏　新會皮　茯苓　枳實　地栗粉　金石斛　湯法丸</p>
<p><u>王</u></p>
<p>濕鬱熱蒸，必陽氣鼓運，濕邪乃解，是寒戰後身痛已緩，蓋濕從戰而氣舒，戰後陽氣通和，為身熱汗出耳。但脈濡神倦，余邪未盡，正氣已虛，有轉瘧之象。用大半夏湯，通補陽明。</p>
<p>人參　半夏　茯苓　薑汁</p>
<p><u>蘇</u></p>
<p>早食暮吐，大便不爽，病在中下，初因勞傷，胃痛痰瘀，有形之阻。</p>
<p>桃仁　半夏　韭汁　枳實</p>
<p><u>姚</u></p>
<p>老年伏氣溫邪，五十日不解，脘痞不飢，心中脅內獨熱，藥下咽則嘔，痰多呃逆，舌焦微渴，四末微冷。此胃傷已極，久乏穀氣，致津液不復，氣機郁悶。用藥須忌苦燥辛溫妨胃。</p>
<p>先議芳香輕清，兼以穀氣開醒上中。</p>
<p>香梗露　香櫞露　玫瑰露　銀花露　米漿</p>
<p><u>劉</u></p>
<p>瘕聚攻觸中脘，心痛映背，嘔吐涎沫。凡久病病必在絡，絡空必成脹滿。已經旦食苟安暮食痛嘔，其胃中清陽久失旋運之司，飲食尚助嘔脹，焉能承受湯藥，病退無期，頗為棘閱古方書，於久病有形，通劑是議。先擬通陽，改投小丸。</p>
<p>一味阿魏丸朱砂為衣，服五分。</p>
<p><u>張</u></p>
<p>形寒手足痛，肌肉漸腫，勞力行走，陽氣受傷，客邪內侵，營衛失和。仿局方痹在四肢汗出陽虛者，與黃　五物湯。</p>
<p>黃　桂枝　茯苓　炙草　當歸　煨薑　南棗</p>
<p><u>胡</u></p>
<p>胸臆不爽，食入內脹，糞後便血，病已二年。診脈左小澀，右微弦，食減形瘦，是內傷悒郁。初病在氣，久延血絡。而瘀腐色鮮，血液皆下，從怒勞血鬱治。</p>
<p>桃仁　杏仁　柏子仁　歸尾　紫菀　冬葵子</p>
<p><u>費</u></p>
<p>臍下有形攻觸，氣上則嘔吐，降下則失氣脹消，腹中必有濁滯阻塞。椒附難投，僅能開無形陰濁。老年陽衰，不可遽投攻下。用半硫丸一錢，俾腑陽流通，滯濁自去。</p>
<p><u>丁</u></p>
<p>脈右弦，脘痛映背，得嘔痛發，氣鳴痛緩。乃胃氣少降，寒暄七情皆令痛發，病屬肝胃議河間金鈴子散。</p>
<p>金鈴子　延胡　炒半夏　薑汁　茯苓　橘紅</p>
<p><u>杜</u></p>
<p>酒客胃中釀熱，嗔怒亦令肝陽犯胃，今納穀脘中微痛，乃陽逆失降。酒家忌用甘膩，辛苦清降，平肝和胃治之。</p>
<p>川連　吳萸　半夏　薑汁　茯苓　橘紅　竹瀝</p>
<p><u>王</u></p>
<p>清明穀雨，氣候已暖，所感溫邪，從口鼻吸受，自上及中為三焦病；羌防乃散足太陽風寒表邪。溫病篇云：誤用辛溫表散，即為重劫津液。今頭身痛，咽痛，心胸煩悶，視其舌，心灰黃，邊紫絳，渴飲不能下咽，斑疹隱隱，津涸，呼吸漸閉，所謂一逆尚引日再逆促命期矣。重症之尤，勿與目下時行客邪同視。</p>
<p>玄參　連翹　銀花　白金汁（沖）　大豆黃卷　飛滑石　象貝　川通草</p>
<p><u>錢</u></p>
<p>肝藏魂，因怒則諸陽皆動，所見病情，皆屬陽動化風而為厥，故凡屬厥症，都隸厥陰。</p>
<p>考內經治肝之法，不外辛以理用，酸以治體，甘以緩急。今肝陰素虧之體，驟加暴怒，病已浹旬，液涸陽亢，急急鎮固收攝，猶慮弗及。閱所服諸方，僅以泄肝為用，平肝為事，膚淺庸劣，一至於此。不知補法，都以子母相生同治，蓋壯水則木得滋榮，陰充則風陽自熄，醫不師古，尚敢稱虛道實耶。</p>
<p>生地　阿膠　麥冬　人參　金箔　生雞子黃</p>
<p><u>謝</u></p>
<p>瘧熱傷陰，心腹中熱，浮陽升降，鼻衄汗出，遺精便難。此因瘧加病，久臥氣機呆鈍，食入難消。然調脾胃之藥，皆氣勝助燥，施於液虧體質，於理有悖。</p>
<p>焦穀芽　生地炭　炒知母　製首烏　鱉甲　白芍服二劑後接服後方：穀露　人參　麥冬　鮮生地　北五味</p>
<p><u>汪</u></p>
<p>久遺溲溺，淋瀝三年，下焦常冷，脊膂腰髀疼楚如墜。此腎臟虛寒，但填精固澀多進不應，是督任三脈失司，黏膩澀藥，未能走入奇經，仿孫真人九法中采用。</p>
<p>鹿茸　補骨脂　家韭子　蛇床子　生菟絲子　復盆子　金櫻子　瑣陽　生杜仲　炙草茯苓</p>
<p><u>蔣</u></p>
<p>病已三載，仍然能寢能食，諒非臟腑虛損。自述冷氣或聚胸臆，或貫脅肋，水飲下咽，有聲，氣得下降，宛若病去。此必支脈結飲，久久阻遏氣隧流行，決非重墜攻逐以及溫補膩濁可治。蓋脈絡為病，非辛香何以開鬱，議宣通氣血方法。</p>
<p>降香　枇杷葉　鬱金　橘紅　蘇子　桔梗　苡仁　桑葉　淡薑渣</p>
<p><u>金</u></p>
<p>動氣兼有遺精已是下焦陰陽虛損。況久病欲進溫養，必須通攝，桂附氣雄而剛，非下損藥也。</p>
<p>淡蓯蓉　補骨脂　胡桃肉　生菟絲子　復盆子　家韭子　舶茴香　茯苓</p>
<p><u>安</u></p>
<p>脈小數色蒼，心痛引背，脅肋皆脹，早上牙宣齦血，夜寐常有遺泄。此形質本屬木火，加以性情動躁，風火內燃，營陰受劫，故痛能進食。歷來醫藥治痛，每用辛溫香竄，破泄真氣。不知熱勝液傷，適令助其躁熱，是經年未能痊期。議以柔劑，熄其風，緩其急，與體質病情，必有合　之機。</p>
<p>細生地　阿膠　牡蠣　玄參　丹參　白芍　小麥　南棗</p>
<p><u>季</u></p>
<p>秋瘧愈未復原，冬季連次感觸溫邪，老年平素有痰嗽本恙，溫風爍肺氣，劫胃汁，致痰多咳甚欲嘔，脈數，倏熱，右脅常痛，火色升於右頰。由胃津漸傷，肺不主降，而升騰莫制。古稱肺乃柔金，胃為陽土，已經百日纏綿，開提半屬苦辛，辛泄肺氣，苦再傷胃，致不思納食。議甘藥濡胃潤肺，胃汁自充，肺氣自降，土旺生金，古賢定法。</p>
<p>玉竹　麥冬　花粉　甜杏仁　橘紅　蔗漿</p>
<p><u>秦</u></p>
<p>老年腫脹，四肢俱冷，皆陽氣衰憊，濁陰僭踞。蓋脾陽主運，腎陽司納，今食入愈脹，二便不爽，中下之陽消乏，豈可小視此病。</p>
<p>炮黑附子　淡乾薑　生白朮　生厚朴　茯苓　澤瀉</p>
<p><u>尤</u></p>
<p>由肝氣升舉犯胃，胃逆不降，幽門不通，旁趨為脹，數月久延，氣分已入血分。</p>
<p>桃仁　郁李仁　降香　歸須　川楝　山梔</p>
<p><u>嚴</u></p>
<p>兩寸脈獨搏，不飢不食，上焦氣分之阻；時當仲夏，必有濕熱客氣內伏。</p>
<p>半夏曲　栝蔞皮　滑石　黃芩　通草　杏仁</p>
<h2>卷二‧公選良方</h2>
<h3>內外科</h3>
<h4>中風</h4>
<p>牛黃清心丸：此藥專治痰厥，昏暈不醒，口噤痰喘，及小兒驚風發搐，五癇等症極效。</p>
<p>膽星（一兩薑汁炒）　白附子（一兩煨）　鬱金（五錢）　川烏（一兩面包煨）　半夏（一兩，皮硝上五味共為細末，用臘月黃牛膽三個，取汁和藥，仍入膽內扎口，掛風檐下，至次年取膽內在一治暴仆痰涎壅塞：竹瀝一盞，薑汁五匙，調入白礬末一錢灌下。</p>
<p>治筋骨疼痛，如夾板狀，不可忍者：用騾子修下蹄爪甲，燒灰存性研末，或黃酒或湯調服立愈。</p>
<p>治癱瘓秘方：熟牛骨髓（一碗）　熟白蜜（一斤半濾過）　炒白面（一斤）　炮薑末（三兩）</p>
<p>上四味，和勻如彈丸大，每日三四丸，細嚼，黃酒下，大效。　又：威靈仙　蒼朮　牛膝　桂枝　木通（各一兩）</p>
<p>上為末，黃酒五斤，煮一炷香，早晚服。</p>
<p>治雞腳風：手足及指，拳攣如雞腳狀，疼痛不時發者，當從鬼眼灸之。</p>
<p>左右膝骨蓋下，兩邊各有小窩，共四穴，謂之鬼眼，各將蘄艾灸三壯即愈。愚謂以驅寒濕，</p>
<h4>補益</h4>
<p>奇想補心丸：柏子仁（二斤去油為末）　白朮（一斤炒）　生地（一斤焙）　紅棗肉（三斤蒸熟）</p>
<p>上煉蜜為丸，彈子大，每日三服，百日後百病消除。</p>
<p>棉子丸：烏須黑發，暖腎種子，陽虛人宜服此藥。</p>
<p>棉花子（十數斤，用滾水泡過，放蒲包內悶一炷香，取出晒裂殼口，取仁並去外皮，用淨仁夜，炒黃酒浸共為細末，蜜丸桐子大，每服二、三錢。</p>
<p>養元固本暖腰方：廣木香　真川椒　大茴（炒）　故紙　升麻（各一兩）　川附子（五錢）　蘄艾（半斤）</p>
<p>丁香（四先將艾搓軟，次以各藥為末和勻，用綾絹做暖腰，入藥密扎腰上，著肉者神效。</p>
<p>腰痛神方：雄豬腰子（一付，銅刀破開，去中間血膜及外邊油膩。）　青鹽（炒二錢）　大茴（一錢五分）</p>
<p>上為末，入腰子內，放瓷器中過一宿，明早用韭菜上下鋪蒸熟，用火酒洗去藥末，將腰子用又：杜仲　補骨脂　牛膝　香附（各三錢）　青鹽（一錢半）</p>
<p>將雄豬腰二對，竹刀剖開去筋絲，每個內外拌藥，用濕草紙包，灰火煨熟，去藥，酒下一醉治下部無力：雄豬肚（一個）　紅棗肉（半斤）　蓮肉（四兩）　苡仁（四兩）</p>
<p>將糯米半升，填入肚內，好酒一鐘，醬油少許，煮熟，每日切幾片，空心好酒下。</p>
<p>長春方：治腎虛精冷之症。</p>
<p>魚鰾（一斤蛤粉炒成珠極焦）　棉花子（一斤取仁去盡油酒蒸）　白蓮須（八兩）　金櫻子（一斤味子（四兩炒）</p>
<p>將鹿角五斤，鋸薄片，河水煮三晝夜，去角取汁熬膏，和藥末為丸，桐子大，每服三錢。</p>
<p>歸圓酒方：甘菊花（八兩）　杞子（一斤）　當歸（八兩）　龍眼肉（三斤）</p>
<p>上藥將火酒三斤，酒釀十斤，泡二十一用。</p>
<p>三仙酒方：燒酒一壇十斤，入龍眼肉十斤，桂花四兩，白糖八兩，將泥封固，愈久愈佳。</p>
<h4>癆</h4>
<p>治吐血癆症：桂圓（七個）　紅棗（十四個）　蓮子（二十一個）　小黑豆（四十九粒）</p>
<p>水二碗，煎一碗，空心早服，連果吃完為妙。</p>
<p>治虛癆咳嗽吐血，肺痿肺癰吐膿血垂危者，服之即愈。</p>
<p>用茭白細根，約三四兩搗碎，將真陳酒煮絞汁，每日服一二次，至一二十日即愈。</p>
<p>治咯血吐血，癆嗽久不止：雪梨六十只，取汁二十杯，生地茅根藕各取汁十杯，蘿卜麥冬各取汁五杯，將六汁煎煉，入治酒癆吐血：用雞距子一兩，水二鐘，煎一鐘，不拘時服，渣再煎服，服至數十日愈。</p>
<h4>盜汗</h4>
<p>治盜汗方：蓮子（七粒）　黑棗（七個）　浮麥（一合）　馬料豆（一合）</p>
<p>用水一大碗，煎八分，服三劑愈。</p>
<p>又：黃　馬料豆　二味煎服。半月愈。</p>
<p>又：五倍子去蛀末，炙干研末，男用女唾，女用男唾，調濃糊填臍中，外用舊膏藥貼之，勿令泄止汗方：黑豆（三錢）　浮麥（一錢）　烏梅（一個）</p>
<p>煎湯服</p>
<h4>咳嗽</h4>
<p>治痰嗽諸虛奇驗方：藕汁　梨汁　蘿卜汁　人乳　薑汁　白糖　沙糖　童便（各四兩）</p>
<p>將八味放瓷瓶內，用炭火熬煎，只剩一斤為止。每日空心白滾湯送下四錢，服完即愈。</p>
<p>如能治小兒吼嗽，並大人咳嗽屢驗方：款冬花（三錢）　晶糖（五錢）</p>
<p>將二味放茶壺內，泡湯當茶吃，自然漸愈。</p>
<p>治小兒天哮，一切風濕燥熱，咳嗽痰喘，兼治大人：海浮石（淨末四錢）　飛滑石（淨末四錢）　甜杏仁（淨末四錢）　薄荷（淨末四錢）</p>
<p>上為極細末，每服二錢，用百部煎湯下。</p>
<p>治痰火骨蒸，吐血不止之症，重者十服、八服即愈：人參　天冬　麥冬（二味去心各一錢五分）　茯苓（五分）　杏仁（二粒去皮尖）　紅棗（二枚去去心）</p>
<p>將前藥制碎，納梨內，仍以梨蓋蓋之，用綿紙封固，飯上蒸熟，日間吃其藥，臨臥吃此梨。</p>
<p>治痰火方：咳嗽吐痰，面鼻發紅者，一服即愈。</p>
<p>青黛（水飛極細晒乾再研用三四錢）　蛤粉（三錢）</p>
<p>二味煉蜜為丸，如指頭大，臨臥口噙三丸，其效如神。</p>
<p>治痰火神水方：一名玄霜。</p>
<p>黑鉛一斤，烊成一薄餅，中穿一洞，以繩系之，將好米醋半瓮，即以鉛餅懸掛瓮中，離醋約鉛餅下。</p>
<p>治痰火方：枇杷葉五十葉，去淨毛，水五十杯，煎至五六杯，再重湯燉至三四杯，每藥三茶匙，用蜜一治老人上氣喘急，嗽不得臥：生薑汁五兩，黑砂糖四兩，用水煎二十沸，時服半匙，漸漸咽之。</p>
<p>治喘：栝蔞一個，明礬棗大一塊，同燒存性研末，以熟蘿卜蘸食，藥盡病除。</p>
<h4>吐血</h4>
<p>治吐血不止：用碗盛清水，吐血在內：浮者，肺血也；沉者，肝血也；半浮半沉者，心血也。各隨所見，治吐血方：吐血者，偶吐一二日，或不時吐之。</p>
<p>側柏葉濃煎。和童便常服之。</p>
<p>又：用藕節為末，入炒蒲黃血余灰等分，調服之，奇效。</p>
<p>又：用雞子一個打開，和三七末一錢，藕汁一小杯，陳酒半小杯，隔湯燉熟食之，不過兩三枚自</p>
<h4>赤白濁</h4>
<p>治赤白濁，兼治夢遺，名將軍蛋：生大黃（三分）　生雞子（一個）</p>
<p>將雞子頂尖上，敲損一孔，入大黃末在內，紙糊煮熟，空心吃之，四五朝即愈，神奇秘方。</p>
<p>治色欲過度，精濁白濁，小水長而不痛者，並治婦人虛寒，淋帶崩漏等症：生龍骨（水飛）　生牡蠣（水飛）　生菟絲粉　生韭菜子粉上四味各等分，不見火研末，生干面冷水調漿為丸，每服一錢，或至三錢，晚上陳酒送下，治遺精白濁有濕熱者：生蠶砂研末，每兩加生黃柏末一錢，空心開水下三錢，六七服即愈。</p>
<p>治白濁：用頭生雞蛋五枚，開一小孔，每個入生白果肉二枚，飯上蒸熟，每日吃一個即愈。</p>
<p>治遺精滑失：白龍骨（研細一兩）　韭菜子（炒一合）</p>
<p>上為末，空心陳酒調服二錢。</p>
<p>小菟絲丸：治女癆疸，乃遺精白濁，崩中帶下諸症。</p>
<p>石蓮肉（二兩）　白茯苓（二兩蒸）　菟絲子（五兩酒浸研）</p>
<p>上為細末，山藥糊為丸。桐子大，每服五十丸，加至百丸，或溫酒，或鹽湯下，空心服；如治精氣虛，滑遺不禁：龍骨　蓮須　芡實　烏梅肉各等分為末，用山藥丸如小豆大，每服三十丸，空心米飲下。</p>
<p>治遺精方：文蛤研細末，以女兒津調貼臍內立止。</p>
<p>治一切淋閉白濁，因火結莖中澀痛：新鮮苡仁根搗爛，絞汁一碗，或滾酒或滾水沖入，空心服，二三次必效。</p>
<p>思仙丹：治陰虛火動夢遺神方。</p>
<p>蓮須（十兩）　石蓮肉（十兩去內青翳並外皮）　芡實（十兩去殼）</p>
<p>上為末，再以金櫻子三斤，去毛子，水淘淨，入大鍋內水煎，濾過再煎，加飴糖和勻前藥，</p>
<h4>蠱</h4>
<p>治五臌神方：蘿卜子（四兩用巴豆十六粒同炒）　牙皂（一兩五錢煨去弦）　沉香（五錢）　枳殼（四兩火酒煮上共為末，每服一錢，隨病輕重加減，雞鳴時熱酒送下，薑皮湯亦可，後服金匱腎氣丸調理治水臌腫胖：輕粉（二錢）　巴豆（四錢去油）　生硫黃（一錢）</p>
<p>上研末，做成餅，先以新棉一片鋪臍上，次以藥餅當臍按之，外以帛縛之，如人行五六裡自其治水臌方：陳芭蕉扇（去筋燒灰存性五分）　千金子（去油殼二分五厘）　滑石（二分）</p>
<p>共為細末，以腐皮包，滾水送下，十服全愈。</p>
<p>治水臌氣臌方：活黑魚一尾，重七八兩，去鱗甲，將肚剖開，去盡腸，入好黑礬五分，松蘿茶三錢，男子用從頭治氣臌方：將大蝦蟆一只，破開用大砂仁填滿腹中，黃泥封固，炭灰　紅，冷定去泥研末，陳皮湯調服治氣臌氣脹方：蘿卜子二兩搗研，以水濾汁，用砂仁一兩，浸一夜炒干，又浸又晒，凡七次，為末，每米湯治臌脹方：四五月將黃牛糞陰乾，微炒黃香為末，每服一兩，煎半時濾清服之，不過三服即愈。</p>
<p>解脹敷臍方：治一切臌脹肚飽發虛。</p>
<p>大田螺（一個）　雄黃（一錢）　甘遂末（一錢）　麝香（一分）</p>
<p>先將藥末同田螺搗如泥，以麝置臍，放藥臍上，以物覆之束好，待小便大通去之。重者用此治中滿臌脹：陳葫蘆一個，要三五年者佳。以糯米一斗，作酒待熟，用葫蘆瓢於炭火上炙熱，入酒浸之。</p>
<p>治臌脹方：雄豬肚子一個，入大蒜頭四兩，加小檳榔砂仁末三錢，木香二錢，砂鍋內河水煮熟，空心服又：取舊葫蘆一個，浸糞坑內一月，取起掛長流水中三日，炒黑為末，每兩加木香末二錢，每日治肝氣方：烏梅（二個）　鮮橘葉（三錢）　青鹽（二分）　真川椒（二錢）</p>
<p>上藥空心服。</p>
<h4>痞塊</h4>
<p>治痞塊方：不問男女左右，症瘕積聚瘧痞。收取水紅花（即水邊蓼）半老穗頭連葉帶子晒乾，不拘多少量兩，再治大人小兒痞積：將水紅花子為細末，以面和作一處，少加麝一厘，放痞上以熨斗烙之，數次即愈。</p>
<p>又：水紅花子熬膏，入麝少許，貼之亦效。</p>
<p>治痞塊：用水紅花新鮮者，同老蒜打爛，量入皮硝一二兩，捏成餅，比痞塊大一圍，放痞上用袱扎緊又：紅芥菜子（即豬血芥）　不拘多少，生薑汁浸一宿，大約芥子一酒杯，加麝香一錢，阿魏三錢又：名藥豬胞。</p>
<p>麝香（一錢）　阿魏（三錢）　水紅花子　大黃　歸尾　甘遂　急性子　甘草（各五錢）</p>
<p>上為細末，用豬水胞一個，量痞塊大小，用尿胞大小，裝入干燒酒半胞，將前藥末放入胞內治痞塊八反膏：鱉頭　莧菜　蔥　蜜　甘草　甘遂　芫花　海藻　阿魏　鱉甲　水紅花子上應為末者為末，應搗爛者搗爛，入末再搗，如和不勻，加燒酒調之，先以水調白面作圈，至治氣癖，在小腹上攻衝心痛：用穿山甲片土炒脆為末，砂糖調陳酒送下，每服三錢，止痛如神。如不能飲，糖水調亦可。</p>
<p>化癖膏：治塊如活鱉能行動，諸藥不效者。</p>
<p>每日空心，將靛花三四五匙，沖熱陳酒內，服至十日即不動，服一二月即消盡矣。外用敷之治大人小兒癖塊方：甘草　甘遂（各三錢）　砂（一錢）　木鱉子（四個去殼）　莧菜（三錢）　鱉肉（一兩）　蔥頭（上加蜜少許，搗成膏，以狗皮攤貼，如藥干用蔥蜜潤之，二次即消。</p>
<p>治癖塊方：腹中攻痛，面黃肌瘦者，愈有應驗。</p>
<p>真陳阿膠（一兩蛤粉炒松研細）　九制陳膽星（五錢人乳浸微火烘研）　川貝母（一兩去心）　麝以上五味，共為細末，用無蠟真地瀝青二兩，火熔開後，入前藥末在內攪和，每服用干腐衣，後服治傷寒結胸停食方：陳香糟（六兩）　生薑（四兩）　水菖蒲根（四兩）　鹽（二兩）</p>
<p>上炒熱為餅，敷胸前，以火熨之。內響即去，如口渴任吃茶水，待大便利下惡物即愈。</p>
<p>治腹內蟲痛方：烏梅（一個）　老薑（二片）　榧子（十粒）　花椒（十四粒）</p>
<p>上加黑糖少許煎服，蟲盡出矣。</p>
<h4>膈</h4>
<p>治膈食臌脹效方：五六月，用老生薑二三斤或四五斤，放在竹簍或麻布袋中，浸在糞缸內，七日取出洗淨，竹治一切痰膈食膈效方：黑砂糖（一斤）　連皮老生薑（一斤）</p>
<p>將二味共搗如泥，成膏入瓷罐內封固，埋干燥淨黃土地內，七日取出，每日和滾水服之。</p>
<p>繆仲淳秘傳膈噎膏：人乳　牛乳　蔗漿　梨汁　蘆根汁　龍眼　肉濃汁　薑汁　人參濃汁上七味俱等分，惟薑汁少許，隔湯熬成膏子，下煉蜜，徐徐頻服之，其效如仙丹，更須安心又：好陳酒（一斤）　米糖（十兩）　貝母（二錢）　砂仁（二錢）　廣木香（二錢）　廣陳皮（二錢）</p>
<p>上咀片入瓷瓶內，箬葉扎緊，上放米一撮，重湯煮，以米熟為度，每日清晨服一大杯，藥完又：糖坊內上好糖糟一斤，加水薑四兩，先將糟打爛，和薑再搗，做小餅晒乾，放瓷瓶內，置灶治噎食：生藕汁　生薑汁　雪梨汁　蘿卜汁　甘蔗汁　蜂蜜　白果汁　竹瀝上各一盞和勻，飯上蒸熟，任意食之。</p>
<p>治翻胃膈氣：此症必起於腸枯血燥，大便三四日一次，糞如馬栗，若如羊屎者不治，口常吐白沫者不治。</p>
<p>牛乳　羊乳　人乳　不拘分量，總宜常服，生血潤腸之妙藥。</p>
<p>又：青州柿餅五六枚，飯上蒸熟食之，不用湯水，常服即愈。</p>
<p>治噎膈氣不通方：用雞嗉燒研，入木香丁香沉香紅棗丸服。</p>
<p>治膈氣暫開關方：用荔枝一個去核，將蜒蚰一條，放在荔枝肉內，將冰片三四厘摻在蜒蚰上，即將荔枝肉裹好蜒蚰令病</p>
<h4>便閉</h4>
<p>五子丸：治老人大腸燥結等症。</p>
<p>火麻仁　紫蘇子　松子肉　杏仁（炒去皮尖）　芝麻（炒）</p>
<p>共研如泥，瓷器收貯，每服一丸彈子大，蜜水化下。</p>
<p>治大便不通：皮硝（三錢水化開）　香油（一盞）　皂角末（五分）</p>
<p>上三味入豬膽內，再用竹管，一頭入膽口內用線扎緊，一頭入穀道內，用力將豬膽一擠，其治大便燥結：用雞子白一二枚，生食即愈。</p>
<p>治老人大便艱澀方：熟地（三錢）　山藥（四分）　山萸肉（一錢）　茯苓（一錢）　丹皮（一錢）　澤瀉（一錢）　人乳（半先將六味煎湯去渣，後入人乳蜜煎一沸，空心溫服，一二劑愈。</p>
<p>治小便不通：獨囊大蒜（一個）　梔子（二十一個）　鹽（一匙）</p>
<p>共搗敷臍中，良久即通，若不通，敷陰囊上立愈。</p>
<p>治中暑，大小便不通：用田螺三枚搗爛，入青鹽三分，攤成膏，貼在臍下一寸即愈。</p>
<h4>風寒濕痹</h4>
<p>治太陽風寒頭痛及半邊頭痛：生薑三片。將桑皮紙包好，水濕，入灰火中煨熱，乘熱將印堂兩太陽各貼一片，以帶纏之，治半邊頭痛：因風寒而起者更效。</p>
<p>肉桂心（一分）　麝香（二厘）　人言（一厘）　北細辛（半分）　辛夷（半分）　胡椒（十粒）</p>
<p>共為末，用棗肉搗丸，如豌豆大一粒，放膏藥中心，貼準太陽穴內，一日見效。如壯年火盛又：白芷　細辛　石膏　乳香（去油）　沒藥（去油）</p>
<p>上等分為末。吹入鼻中。左痛吹右。右痛吹左。</p>
<p>又：此治暑天甚怕風，亦欲綿裹頭，極重之症。</p>
<p>用鵝兒不食草陰乾，將上好燒酒浸一宿，日間晒乾，晚間又浸，如此七次。若右邊痛，將此治箭風方：俗名鬼箭打，或頭項手足筋骨疼痛，半身不遂等疾，照方一服即愈，真仙方也。</p>
<p>山甲（一錢炒研）　白薇（二錢）　澤蘭（三錢）</p>
<p>照分量發酒煎服。</p>
<p>治一切麻木痹症，痛風歷節：虎骨木通煎湯，頻頻多吃即愈。</p>
<p>治痛風歷節，四肢疼痛：用醋磨硫黃敷之，或用蔥白杵爛炒熱燙之。</p>
<p>又：紅花　白芷　防風（各五錢）　威靈仙（三錢）</p>
<p>酒煎服取汗，三服全愈。</p>
<p>治香港腳足疾，腫痛拘攣：川牛膝　威靈仙各等分為末蜜丸，每服五十丸，空心服。</p>
<p>治痹方：真茅山蒼朮五斤，洗淨泥垢，先以米泔水浸三宿，用蜜酒浸一宿，去皮，用黑豆一層，拌蒼每治風寒濕痹藥酒方：川羌（一錢）　川桂枝（一錢）　歸身（一錢五分）　秦艽（一錢）　金毛狗脊（一錢五分）　虎骨蠶砂（二錢）　熟附子加桑枝三錢，生薑一大片，大棗二枚，陳酒二斤浸，煎服。</p>
<p>治濕氣初起法：嫩松枝　小松秧（不拘多少）</p>
<p>將二味入石臼內搗爛，傾入陳酒，絞取濃汁，燉熱隨量飲醉，醒時痛即止，多飲幾次更好。</p>
<p>七制松香膏：治濕氣第一神方。</p>
<p>松香（三斤。第一次薑汁煮，第二次蔥汁煮，第三次白鳳仙汁煮，第四次燒酒煮，第五次鬧桂乾薑　白芥子　蓖麻子（以上各四兩）　血余（八兩）</p>
<p>上八味，共入桐油，熬至藥枯發消，滴水成珠，濾去渣，入牛皮膏四兩烊化，用前制過松香九制松香膏：名九汁膏。</p>
<p>上好片松香（三斤，用清水煮烊，拉拔過傾去水，再換水煮，再拉拔換水，如此以十遍為度挨末另用桐油三斤浸藥，春五、夏三、秋七、冬十日，熬枯濾去渣再熬，先入廣膠四兩，俟溶化效。</p>
<p>見　膏：專治風寒濕氣，骨節疼痛，歷節痛風，痿痹麻木不仁，鶴膝風，偏頭風，漏肩風等活短頭發（晒乾二兩用壯年人剃下者）　大黃　靈仙　雄鼠糞（各一兩）　川烏　草烏　劉寄奴星生半上十八味，俱切碎。</p>
<p>樟冰（一兩）　甘松　山柰　花椒　豬牙皂　山甲（炙研）　蓽茇　沒藥（以上各三錢不必去油上十味，研極細末。</p>
<p>新鮮煙葉汁（一斤松香六兩收晒乾）　新鮮商陸根汁（一斤松香六兩收）　新鮮鬧羊花汁（半斤生薑汁（半（四兩松香二兩收用足秤，秤麻油二斤四兩，先將頭發入油熬半炷香，再將前藥入油熬至焦黃色，不可太枯，僧四成珠淨藥集寶療痹膏：川烏　草烏　南星　半夏　當歸　紅花　羌活　獨活　大黃　桃仁（各四錢）　山甲（一兩）</p>
<p>（一斤）　陀僧（二上收煎好，加乳香沒藥血竭胡椒樟冰細辛牙皂末各二錢，若加商陸根鳳仙鬧楊花鮮煙葉鮮蒜摩腰膏：治老人虛人腰痛，婦人帶下清水不臭者，虛寒者宜之。</p>
<p>附子　川烏　南星（各二錢半）　川椒　雄黃　樟腦　丁香（各一錢半）　乾薑（一錢）</p>
<p>麝香（上為末，蜜丸彈子大，用生薑自然汁，化開如糜，蘸手掌上烘熱，摩腰中痛處，即以暖帛扎摩風膏：治風毒攻注筋骨疼痛。</p>
<p>蓖麻子（淨肉研一兩）　川烏頭（生去皮五錢）　乳香（一錢半研）</p>
<p>上以豬油研成膏，烘熱塗患處，以手心摩之，覺熱如火效。</p>
<p>治寒濕氣方：真白芥子研爛，陳窨醋調攤濃雙皮紙上，做夾紙膏，以針密密刺孔，先將新棉花薄薄鋪一層膏不</p>
<h4>針灸</h4>
<p>雷火針：治風寒濕毒留住經絡，痛腫不散者。</p>
<p>蒼耳子肉（去油）　乳香　沒藥（各三錢）　羌活　川烏　穿山甲（土炒）　丁香　麝香茯苓上共研細末和勻，先將蘄艾揉綿，用紙二層，鋪於上捍薄，以藥末摻上，要極密，外用烏金三層又：蘄艾（一兩搓熟成絨）　辰砂（二錢）　乳香　沒藥　雄黃　桃樹皮　川烏　草烏　硫黃山甲上為細末，作針按穴針之。</p>
<p>三氣合痹針：乳香　沒藥　牙皂　羌活　獨活　川烏　草烏　白芷　細辛（各五分）　肉桂　蒼朮　雄黃百發神針：治偏正頭風，漏肩鶴膝，寒濕氣，半身不遂，手足癱瘓，痞塊腰痛，小腸疝氣，乳香　沒藥　生川附子　血竭　川烏　草烏　檀香末　降香末　大貝母　麝香（各三錢）　母清癖神火針：蜈蚣（一條）　木鱉　五靈脂　雄黃　乳香　沒藥　阿魏　三棱　蓬朮　甘草　皮硝（各一錢）</p>
<p>兩）作針。</p>
<p>陰症散毒針：乳香　沒藥　羌活　獨活　川烏　草烏　白芷　細辛　牙皂（各五分）　硫黃　山甲　大貝香硫餅：治寒濕氣。</p>
<p>麝香（二錢）　辰砂（四錢）　硼砂（二錢）　細辛（四錢以上俱為細末）　角刺（二錢）　川烏尖（上先用硫黃、角刺、川烏，入銅杓內，火上化開，再入前四味末攪勻，潑在干淨土地上，候以蒸法：治腿膝疼痛，風寒濕三氣，傷及足膝，名為足痹。</p>
<p>川椒（一把）　蔥（三大莖）　鹽（一把）　小麥麩面（四五升）</p>
<p>上用醋和，濕潤得所，炒令極熱，攤臥褥下，將所患腿腳就臥熏蒸，薄衣被蓋，得汗出勻遍熨寒濕痹痛麻木不仁妙方：川烏　草烏　蓽茇　甘松　山柰（各五錢）</p>
<p>上為末，炒熱布包熨痛處神效。</p>
<p>熨背法：治胸背疼痛而悶，因風寒濕而起者。</p>
<p>肉桂心　附子　羌活　烏頭　細辛　川椒（各一錢半）　川芎（一錢）</p>
<p>上共為細末，以帛包之，微火炙令暖，以熨背上，取瘥止。</p>
<h4>黃膽</h4>
<p>治疸神飲：將茵陳草煎濃湯，每日以多吃數次為妙，要忌暈腥魚肉，並忌鹽味，而淡食則能若札黃膽方：雄鯽魚（一個去頭骨止用背上肉兩塊）　胡椒（每歲一粒至十粒止研細）　麝香（三分）</p>
<p>上二味同舂爛，麝香另加，不必同舂，恐黏染臼上，將蛤蜊殼填滿，合於病患臍上，用絹縛</p>
<h4>河白</h4>
<p>治河白良方：將梔子黃同雞子白，飛面搗成餅，貼臍內。再以茵陳草、通草、甘草、燈草，煎湯服之，名</p>
<h4>中暑霍亂</h4>
<p>治中暑昏眩煩悶欲絕急救方：取田中干泥做一圈，堆在病患肚上，使少壯人撒尿於泥圈肚臍中，片時即得生矣。蘇後不可又：挖地深三尺，取新汲水，傾入坑內，攪濁飲數甌即愈。</p>
<p>治中暑法：用大蒜一握，同新黃土研爛，以新汲水和之，濾去渣，灌入即活。凡中暑傷暑，治傷暑霍亂神方：絲瓜葉（一片）　白霜梅肉（一枚並核中仁）</p>
<p>上同研極爛，將新汲水調服，入口立瘥，切不可即飲熱湯。</p>
<p>又：取扁豆葉搗汁一碗，飲之立愈。</p>
<p>治傷暑急暴霍亂吐瀉方：陳皮　藿香（各五錢）</p>
<p>上用土澄清水二杯，煎一杯，服之立愈。</p>
<p>急救霍亂吐瀉抽筋危症方：不問轉筋霍亂，令人偃臥，將膝下腕內，以手蘸溫水輕輕急拍，直待紫紅筋現起，用瓷鋒刺治干霍亂煎方：上不得吐，下不得瀉，身出冷汗，危在頃刻者。</p>
<p>食鹽（一兩）　薑（五錢切片）</p>
<p>同炒變色，以水一大碗煎服，吐出自愈，不可熱服，好後切不可遽吃飯食，俟餓極後，方可治干霍亂方：只一樣腹痛，絞痛不可忍者，切不可吃藥，並熱湯水，一吃即死。</p>
<p>將冷水一碗，調入食鹽二三錢吃下，吐則再吃，多吃多吐，則邪散而愈。</p>
<h4>消渴</h4>
<p>玉泉散：治消渴之神藥也。</p>
<p>白粉甘葛　天花粉　麥冬　生地　五味子　甘草　糯米上服一劑。</p>
<p>還津丸：生津止渴。</p>
<p>霜梅　烏梅（各二十五個俱去核）　蘇薄荷末（一兩）　冰片（一分五厘）　硼砂（一錢五分）</p>
<p>共研極細為丸，每含一丸，津液立至。</p>
<p>消渴潤燥方：白蜜　人乳　酥（各一斤）</p>
<p>上溶化一處，每日不拘時服。</p>
<p>消渴方：用繅絲湯飲之。</p>
<h4>瘟疫</h4>
<p>辟瘟丹方：此藥燒之，能令瘟疫不染，空房內燒之，可辟穢惡。</p>
<p>乳香　蒼朮　細辛　川芎　甘草　降香（各一兩）</p>
<p>再加檀香一兩亦可，共研細末，棗肉為丸，如芡實大。</p>
<p>神聖辟瘟丹：蒼朮（為君倍用）　羌活　獨活　白芷　香附　大黃　甘松　山柰　赤箭　雄黃（各等分）</p>
<p>上為末，面糊丸，如彈子大，黃丹為衣，晒乾焚之。</p>
<p>治大頭瘟方：頭面腮際，腫脹極大，寒熱交作，甚者崩裂出膿，不可敷藥，恐邪氣入內，以人中白（即馬桶底下尿垢也）　火　研末，每服二錢，白滾湯調服。</p>
<p>又：將好青黛末，白滾水調服二錢。</p>
<p>又：只用馬藍頭一把搗汁，將鵝毛搽上，一日五六次，熱氣頓出，親驗真神方也。</p>
<p>治抱頭火丹：即大頭瘟。</p>
<p>將扁柏葉搗爛，用雞子清調敷神效。</p>
<p>治鸕　瘟方：兩腮腫脹，憎寒惡熱者。</p>
<p>外用赤豆半升為末，水調敷：或用側柏葉搗爛敷之，內用薄荷濃湯熱服。</p>
<h4>痧</h4>
<p>治痧脹腹痛方：凡痧脹，夏日多患此症，面色紫赤，腹痛難忍，使飲熱湯便不可救，即溫湯亦忌。如遇此症食之沉香鬱金散：治痧氣寒凝，以及腹痛。</p>
<p>沉香　木香　鬱金（各一錢）　烏藥（三錢）　降香（二錢）　細辛（五錢）上忌見火，生研為細末痧藥方：名火龍丹。</p>
<p>牛黃（一錢）　麝香（二錢）　冰片（二錢）　朱砂（二兩研飛）　蓽茇（一錢）　真金箔（一百張）</p>
<p>各研極細，端午午時合。如痧脹腹痛，將此藥嗅鼻中，並放舌尖上，吃下亦可。</p>
<p>又：名蟾酥丸。</p>
<p>雄黃（三錢）　麝香（三分）　木香（一錢）　丁香（一錢以上俱不見火）　蒼朮（三錢）　蟾酥（一上共為末，火酒化蟾酥為丸，如粟米大，朱砂為衣，如難丸少加米飲，每用二三丸，放舌尖又：沉香（鎊研細）　母丁香　朱砂（水飛）　雄黃（以上各五錢）　廣木香（一兩）　麝香（三錢）　茅各稱準分量，將火酒上化下。</p>
<p>神妙痧藥方：北細辛（三兩）　荊芥（六錢）　降香末（二錢）　鬱金（一錢）　上共為末，每用一茶匙，放舌上白痧藥方：白胡椒（一兩）　牙皂（一錢）　火硝　檀香末　明礬　丁香　蟾酥（以上各三錢）　北細辛（二</p>
<h4>瘰</h4>
<p>內消瘰　痰毒方：未穿破者為痰核，已穿破者為瘰　，三五個連者為痰串。</p>
<p>用羊角數對，以威靈仙四兩，共入瓦罐內，加清水煮數沸，候角軟取出切薄片，用新瓦燒紅用如內消瘰　應驗方：土貝母　白芷（各五錢）</p>
<p>共為末。糖霜調陳酒下三錢，重者三服愈。</p>
<p>治痰核方：半夏末、川貝末各一分，用雞蛋大頭穿一孔，不破內膜，入藥在殼內膜外虛空處，如虛人，又：每雞子一個，入貝母末三匙，照上法蒸熟，夏枯草湯或銀花湯下。</p>
<p>取　核法：名提　丹。</p>
<p>水銀　硼砂　火硝　明礬　皂礬　食鹽（各一兩）　朱砂（二錢）用粗瓦盆放前藥，上合粗碗一豆大，朱再用。</p>
<p>治瘰　方：好胡桃一枚，劈做兩半，將一半挖去肉，以蟬蛻塞實，對合，用山泥包好，　存性，研細，治瘰　結核：九真藤（即何首烏藤）洗淨，日日生嚼，並取葉搗塗之。</p>
<p>蝙蝠散：治瘰　多年不瘥。</p>
<p>蝙蝠（一個）　貓頭（一個）</p>
<p>上同燒作灰，撒上黑豆，　其灰骨化碎，為細末，濕即干摻，干則油調敷，內服五香連翹湯治痰核瘰　方：用鼠糞揀兩頭尖者為雄，兩頭圓者為雌，揀開各晒乾研末，男用雌，女用雄封固枚而燕鼠膏：治瘰　痰核，癰疽發背腫毒。</p>
<p>全蠍（熱水浸透洗三次晒乾淨二兩）　白芷　黃連　黃柏　黃芩　當歸　山甲（各一兩）</p>
<p>生地用麻油一斤四兩，浸藥五日，熬焦黑色去渣，將淨油秤準，每油二兩，用飛淨黃丹一兩，收膏沒藥（三錢去油）　阿魏（三錢）　麝香（一錢）　血竭（二錢）　朝南燕窩泥（五錢）</p>
<p>雄黃（一錢）</p>
<p>以上各藥，為極細末，入膏內攪極勻，用時隔湯溶化攤貼，勿見火。</p>
<p>白升藥方：水銀　皂礬　火硝　白礬　炒熟鹽共研極細，照升三白頭法升之。</p>
<p>治瘰　敷藥方：瘡已破，膿正多，瘡正腫，用此敷之，呼膿退腫。</p>
<p>蚯蚓糞（韭菜地上者佳）　細芽茶（炒灰存性）　肥皂核（獨核者　存性）　蜣螂蟲（用泥包　存上各等分，共為細末，和生麻油調敷，每日清晨，用藥湯洗淨敷之，一日洗五六次，敷五六敷痰核瘰　方：生南星　生半夏（各三錢）　海藻　昆布（各二錢）　麝香　冰片（各二分）　紅花　牡蠣（各二上俱生研極細末，另以白芨兩許，切片煎膏，和前藥做成挺子，晒乾，用時磨敷。</p>
<p>又：生南星　生半夏　生大黃（各一兩）　大貝母　昆布　海藻　海浮石　銅綠　明礬（各五又：用鉛三兩，鐵器中熬久，當有腳如黑灰，取此灰和脂塗　上，或用醋調塗，以舊帛貼之，數大紅膏：治痰核瘰　，不分新久，未穿破者。</p>
<p>南星（二兩）　銀朱　血竭　消石　潮腦（各三錢）　輕粉　乳香（各二錢）　貓頭骨（一具　）</p>
<p>上共為末，陳醋熬稠，調藥敷核，三日一換，敷後縐皮，核不消者，另換紫霞膏貼之，其核痰核瘰　膏：治未穿破者，貼之即消。</p>
<p>貓頭骨牙爪一付（火　存性）　蜣螂蟲（炙）　磁石（醋　各五錢）　乳香　沒藥（各一錢去油）</p>
<p>麻子肉（五錢）</p>
<p>用麻油四兩，同上海貝麻三味，熬至滴水不散，濾去渣入乳沒再熬，將稠離火，乘滾入貓頭仍用梁上治痰核　瘡立消膏：五台頭草汁四五碗，煎至數十滾，用松香半斤，收干汁水，用麻油四兩，煎熬滴水成珠，松再五台頭草，收入瓶內作爛去渣，取汁亦妙。</p>
<p>瘰　收口藥方：龜版（　過埋地中四十九日如要緊埋七日亦可）　青果（陰於　）</p>
<p>上同研細末，收口神效。</p>
<h4>瘧</h4>
<p>治三日大瘧神妙方：用活大烏龜一個連殼，左右肩上，各攢一孔，近尾處亦攢一孔，以明雄黃九錢研細，每孔摻下，二三服即止。</p>
<p>又：用陳香櫞一個去頂皮，大者每只加透明雄黃三錢，中者二錢，小者一錢。雄黃須研細摻入香吃湯截瘧丹：斑蝥　巴豆肉　朱砂（各一錢）　麝香（二分）　雄黃（一錢五分）　蟾酥（五分）</p>
<p>上用黑棗二、三個，搗丸如綠豆大，貼眉心穴，一周時揭下，投長流水中。</p>
<p>又：只聞香氣，不必煎食，亦可愈瘧。</p>
<p>常山　草果　川烏　草烏　陳皮　甘草（各一錢）</p>
<p>上將絹袋盛貯，聞於鼻間即止。</p>
<p>貼臍截瘧丸：胡椒　雄精上二味等分研末，將飯研爛為丸，如桐子大，外以朱砂為衣，將一丸放在臍中，外以膏藥貼治諸瘧代參丸：白朮（一斤土蒸）　生薑（一斤搗出汁拌白朮渣晒乾）</p>
<p>上為末，將黑棗一斤，煮爛去皮核為丸。</p>
<p>治瘧方：虛寒瘧更效，孕婦忌貼。</p>
<p>桂心（一分）　麝香（三厘）　川椒（七粒）　雄黃（七厘）</p>
<p>共研極細末，納臍中，外以膏藥貼之。</p>
<p>治不論單雙瘧方：用大荸薺，將好燒酒自春浸至秋間，如瘧至不貪飲食，食則脹滿不下者，每日服荸薺兩個，</p>
<h4>泄瀉</h4>
<p>治老幼脾瀉久不愈神方：飯鍋粑（四兩淨末）　蓮肉（四兩去心淨末）　白糖（四兩）</p>
<p>上共和勻，每服三五匙，一日三次，食遠服。</p>
<p>止久瀉丸：治一切久瀉，諸藥無效，服此一服自愈。</p>
<p>黃丹（飛過）　枯礬　黃蠟（各一兩）　石榴皮（八錢炒）</p>
<p>將蠟熔化小銅杓內，再以丹礬二味細末投入，乘熱為丸如豆大，空心服五丸，紅痢清茶下，治白瀉不止神效方：干飯鍋粑（二兩）　松花（二兩炒）　臘肉骨頭（五錢烘脆）</p>
<p>共為末，砂糖調，不拘時服即止。</p>
<p>治脾泄方：陳火腿骨（　存性研末）　紅曲　松花上三味各等分，砂糖調，陳酒送下。</p>
<h4>痢</h4>
<p>治痢初起法：不問男婦室女妊娠小兒，皆能治之，無有不效。</p>
<p>白蘿卜二三斤，洗淨連皮，放石臼內搗碎，絞取濃汁。如十歲以內小兒，每日吃一飯碗，大又：水晶糖四兩，如赤痢用濃苦茶一杯，白痢用薑汁一杯，赤白兼痢用濃茶薑汁各半杯，將水晶治噤口痢：此系元氣虛極者。</p>
<p>人參（三錢）　石蓮肉（炒二錢）　黃連（二錢）　鮮荷葉（一片）　老黃米（一撮）</p>
<p>水二鐘，煎六分，入木香末三分，和勻服。積未淨者，加山楂二錢，檳榔枳殼各七分。</p>
<p>又：米粒不下，百藥不效者。</p>
<p>用五穀蟲焙乾為末，每服二三錢，米湯下。</p>
<p>又：不能飲食者。</p>
<p>用烏梅肉和蜒蝣搗爛成丸，含口內片時，即能飲食。烏梅渣不宜咽下。</p>
<p>又：蒼朮　甘草　陳皮　厚朴上各等分為粗末，用布包之，放在肚上，將熨斗盛火熨布上，逼藥氣入腹。病者覺腹中爽快治赤白痢並水瀉：車前子（炒）　紅曲（炒）　赤石脂　滑石上各等分為末，砂糖調，每服三錢，滾水送下，一二服即效。</p>
<p>治赤白痢：不論初起久痢俱可用。</p>
<p>柿餅一個，開一口，入白蠟三分在內，將紙包好扎住，以水濕透紙，放在灰火中煨熟食之，治赤痢：木耳灰　槐米灰　紅曲灰砂糖調，空心服。</p>
<p>治赤痢久不愈者：初起者，宜先服通利清濕熱之藥幾劑，然後用此方。</p>
<p>用新鮮紅菱連殼搗爛，絞自然汁一飯碗，露一宿，加白糖霜少許，隔湯燉略溫，清晨空心服香參丸：治痢極效，百發百中之藥也。</p>
<p>木香（四兩）　苦參（酒炒六兩）</p>
<p>上為末，將甘草一斤熬膏，丸桐子大，每服三錢，白痢薑湯下，紅痢甘草湯下，噤口痢砂仁治久痢如神：用刀豆莢，飯上蒸熟，洋糖蘸食，一二日即愈。</p>
<p>又：陳火腿骨（　存性四錢）　黃連（薑汁炒一錢）　砂糖（炒干四錢）　烏梅肉（五分）</p>
<p>上共為末，將烏梅煮爛搗丸，每服三四十丸，空心黃米湯下。</p>
<p>治久痢虛滑不禁：可以實腸，裡急後重腹痛者，不可服。</p>
<p>用臭椿樹皮根，切碎酒拌炒，為細末，用真阿膠，水化開和為丸，如桐子大，每服三五十丸治久痢：初起者不可服。</p>
<p>松花（三錢）　地榆（二錢）　干荷葉（二錢）　臭椿樹根皮（一兩取向東南者去外粗皮）</p>
<p>上為細末，白痢紅糖調，紅痢蜜調，紅白相兼蜜與糖調，加溫水少許，每服二錢，忌面食葷又：烏梅（四個　略存性）　白滑石（淘淨二錢）　臭椿樹根皮（一兩取在土者剝淨皮晒乾為末）上用陳米飯搗為丸，每服四五十丸，空心米湯下。</p>
<p>治痢方：不拘赤白泄瀉痢至八九年者，三四服即愈。</p>
<p>香薷（二十兩）　藿香（十兩）　蘇葉（七兩五錢）　木瓜（五兩）　檀香（二兩五錢）</p>
<p>木香（二兩）</p>
<p>上為末，蜜丸彈子大，約重二錢，每服一丸，白痢淡薑湯下，紅痢木香湯下，其余開水下。</p>
<p>治久瀉久痢方：陳石榴皮酸者焙乾，研細末，每服三錢，米飲湯下，患二三年或二三月，百方不效者，服之治休息久痢：但痢而後無重痛者。</p>
<p>用壯大豬小腸一條，不落水，將箸頂翻轉，出腸中油膩穢濁刮下，但將刮下之物，在瓦上炙若翻治赤白久痢：腹中不痛者。</p>
<p>桂圓（七個）　粟殼（七個）　荔枝（七個）　建蓮（七粒去心）</p>
<p>水二碗，煎八分，空心服，朝服可以一日，晚服可以一夜不痢，親驗良方。</p>
<p>治毒痢方：下膿血者是。</p>
<p>金銀花一兩，煎湯送香連丸三錢。</p>
<h4>脫肛</h4>
<p>潤腸散：治痢後脫肛。</p>
<p>鱉頭灰　五倍末　伏龍肝　生礬末　赤石脂　訶子肉（各五錢俱晒乾）</p>
<p>上為極細末，蔥湯洗淨，摻於腸頭上，頻頻換之，以愈為度。</p>
<p>治脫肛方：名倍礬煎。</p>
<p>五倍子（三錢）　白礬（少許）</p>
<p>上為末，水一碗，煎湯洗之立效。若婦人產後脫肛，五倍子末摻之。</p>
<p>縮肛散：鱉頭（一個　）　枯礬（三分）　五倍子（　三分）</p>
<p>共研極細摻之。</p>
<p>又：用爬牆草煎湯溫洗浸，肛隨浸隨縮上。此草地上生根，一路沿牆而上者，但有二種：一種葉</p>
<h4>痔漏</h4>
<p>縮痔秘方：內痔落下。</p>
<p>用大團魚頭一個，火　為末，搽痔上，即刻收進，親驗。</p>
<p>治外痔疼痛坐臥不得者：大田螺八九個，將針挑開靨蓋，入冰片白礬末少許在內，以螺尖埋土中，令其蓋仰上，經一熏洗痔方：五倍子（三四個）　皮硝（一撮）</p>
<p>水二碗煎濃，先熏後洗，一二次即愈，絕妙。</p>
<p>治痔漏丹方：名長明酒。</p>
<p>用積年舊琉璃燈，洗淨油膩，火　研細，以紅酒服四錢，不過七日，其管自去。</p>
<p>點痔方：銀朱（三錢）　大雄黑背蜒蚰（三條）</p>
<p>共搗爛用鹽泥封固作團，要留一孔，火升煙盡為度，取出用田螺水調搽即縮上。不用銀朱，又：蜒蚰（一條）　冰片（五厘）　膽礬（二厘）</p>
<p>和化蜒蚰水點之。</p>
<p>止痔下血方：蜒蚰（一條用鹽泥裹煨通紅去泥用）　硼砂　朱砂　雄黃　冰片共為極細末，入龍骨少許更妙。大便時乘其脫出，以細草紙盛藥少許，托之，使入大效。</p>
<p>治痔漏方：新象牙屑二斤為末，每早用熟雞子三個，將牙末和吃，或入稀粥內吃亦可，服盡一料自愈。</p>
<p>又：露蜂房（一大個每孔入鹽填滿　存性）　僵蠶（二錢）　蟬蛻　木香（各二錢）　象牙末豬胰油上共為細末，用黃占半斤溶化，將藥漸入搗勻為丸，如棗核大，每服一丸，空心好酒送下，簪花又：名蛭蟾丹。</p>
<p>螞蝗（十數條，將黃泥做成小管，如筆管大，入螞蝗在內，上以瓷黃泥塗護之，以鐵絲捆緊膽（看漏淺深，用飯粒為條，插入盡頭。久者五六條，近者二三條，其管化為膿水，用洗藥。</p>
<p>洗方：烏　樹根皮　枸杞根皮　槐花　五味子　水楊樹杆須　瓦花　黃柏　荔枝草　上煎湯一大十寶丹方：龍骨（八分）　象皮（七分）　琥珀（六分）　血竭（五分）　黃丹（五分）　冰片（四分）　珍珠（二分共為細末，收貯聽用。</p>
<p>痔漏退管方：象牙末（二兩）　人腳指甲（炙五錢）　牛骨腮（炙一兩）　豬腳格（炙一兩）　刺皮（鍋內蜜滾上為末，再將地榆槐角二味，入豬臟內，煮熟搗爛，共搗蜜丸，每服三錢，空心滾湯送下，又：白鴿糞一升，放罐內，以滾水沖入罐中，乘熱病患坐於罐口上熏之，其管自落，數日即收口又：用豬臟頭水煮爛，或鹽或醬油蘸吃，每日吃一個，吃至二三百個必愈。若脾胃畏油膩者，只又：金余（即人手指甲）　銀余（即人腳指甲二味不計分量均在黃沙內炒脆）　真血余（二兩）　血珀懸蹄殼（火　四毛黃沙內炒）　陳松蘿兩）　青黛（用水淘淨五錢）</p>
<p>以上十六味，如法　煉為細末，用黃犬大腸煮爛，加煉老白蜜為丸，如無犬腸以豬臟代之亦痔漏插藥方：百草霜　黃連（各二錢半）　冰片（五分）　麝香（二分）　蜣螂蟲　旱蓮草頭（五錢炒）　螞蝗（共為細末，丸如粟米大，入管口自進藥，三日後待管自化出，用長肉收功末藥。</p>
<p>收功末藥方：輕粉　乳香　麝香　韶粉　東丹　血竭共為末摻之。</p>
<p>又：雄大蜣螂，不拘多少，陰乾生研，加冰片少許，將綿紙捻作條，用白芨水蘸濕，晒乾待硬，一段治痔漏丸方：刺　皮（大者一張小者二張新瓦上炙脆為末）　象牙屑（一兩）　綠豆粉（一兩）　青黛（三錢）</p>
<p>上共為末，用陳四糙米煮爛飯，和藥打為丸，每服三錢，金銀花湯送下，一料不效，二料永治多年頑漏神驗方：用大腳魚一個，再取上好冰片三錢，鐘乳石五錢，俱研極細末，放入腳魚口內，放完將腳魚瓦內地上治漏疾秘方：香菜油一斤，以三十歲婦人血余二兩，入油內熬煎去渣，每日用油一鐘，煎雞子三枚，將象一、雪白</p>
<h4>腸風</h4>
<p>治腸風下血丸方：槐花（二兩一半炒一半晒為末）　柿餅（七個去蒂）　烏梅（十四個）</p>
<p>共打為丸，桐子大，每日空心滾湯送下即愈。</p>
<p>又末藥方：扁柏葉（一斤蜜浸一宿晒乾為末）　青州柿餅（一斤炭火　過為末）</p>
<p>上二味拌勻，每服五錢，空心陳酒送下，極重者五六服可除根。</p>
<p>治血痔腸風方：將龜肉煮爛，吃一碗，血即止，其效如神。</p>
<p>治腸風並痔漏：木耳一斤，煮成膏，再入豬肉三斤煮熟，食盡即愈，漏管自出。</p>
<p>治痔瘡下血方：棉子仁（四兩晒乾去油生研）　青州柿餅（十二兩蒸搗爛）　百草霜（四兩）　烏梅肉（四兩蒸爛）</p>
<p>共搗為丸，每服三錢，白滾湯下，或腐漿加青黛少許下更妙。</p>
<p>治腸風下血方：青州柿餅（三個火　）　地榆　槐米（各炒五錢）</p>
<p>共研末，分七服，空心開水調服，忌燒酒椒蒜芥。</p>
<p>又：當歸身（一兩）　懷生地（一兩，竹刀切片，烘脆。）　萸肉（一兩）　真阿膠（一兩，將石膏二衣，然後入入口甘而涼上逐味炒焦，要如墨色，又各要存性，共研為細末，和入柿霜拌勻，每日空心服藥末四錢，俟糞過極治腸風：臭椿樹根皮（四兩扎為一大把）　大茴香（一大粒）　木耳（四兩）</p>
<p>以雄豬肚子一個，將藥俱裝入肚內，扎好煮爛，去椿皮，但吃木耳肚子，連湯吃完，重者兩治腸風久不愈者：臭椿樹根皮　烏梅共煎，陳酒沖服即愈。</p>
<p>治腸風：青州柿餅一個，內放白蠟一錢，飯鍋上蒸熟食，數次愈。</p>
<p>治大便下膿血：即日夜數次，數年久病皆愈。</p>
<p>雄豬大臟一條洗淨，桂圓肉二兩，新鮮白扁豆花四兩，將二味同打爛，用白糯米拌和，裝入可，治大便下血：荸薺搗汁半鐘，將好酒半鐘沖入，空心溫服，三日即愈。</p>
<p>治大便下血用涼藥不效者：用歸脾東加槐花黃芩治之自愈。</p>
<p>治大便下血虛弱者：旱蓮草陰乾為末，以槐花煎湯調炒米粉糊丸桐子大，每日服五錢，以人參五分煎湯下，二服</p>
<h4>溺血</h4>
<p>治溺血：溺血者，不痛而小便出血也。痛者為血淋。</p>
<p>用頭發燒灰研末，每服三錢，空心滾酒調下。或用百草霜，酒調服。或用伏龍肝，白滾湯調初治男子莖中痛及婦人血結腹痛：取牛膝一大握，酒煮飲之立愈。</p>
<p>治小便下血用清利不效者：用補中益氣東加車前子治之自愈。</p>
<p>治小便下血立效：旱蓮草　車前子（各等分）</p>
<p>將二味搗自然汁，每日空心服一茶杯。</p>
<h2>卷三‧公選良方</h2>
<h3>疝氣</h3>
<p>治諸疝海上丹方：雄豬大腰子一對，不落水，去膜並血，切作片。以大茴香、小茴香各一兩，俱炒為粗末，同煮一方用生白酒三碗煮。</p>
<p>治響疝並小腸氣：木通　川楝（各一錢）　大茴（五分）　飛鹽（三分半）</p>
<p>上為末，水酒調服，頭服出汗，服七日痊愈，如少年加一倍，俱空心酒下。</p>
<p>治疝氣方：荔枝核（六兩）　橘核（打碎炒一兩）　小茴（炒六兩）　川楝子（一兩酒蒸）　蘿巴（酒拌炒一兩）</p>
<p>甲（土炒二兩）</p>
<p>上為末，每服一錢，升麻一分半，黃酒調下。</p>
<p>治濕疝陰丸作痛：蘄艾　紫蘇葉（烘）　川椒（炒熱各三兩）</p>
<p>上三味拌勻，乘熱絹袋盛夾囊下，勿泄氣。</p>
<p>治陰囊腎子腫大方：灶心土三升，砂鍋內炒熱，加川椒、小茴香末各一兩拌勻，將陰囊坐在上面，冷則再換，如治陰子腫大不消：頂大荔枝核十二三個，　灰存性，以火酒調如糊，吃下即消。若重者，再吃一服。</p>
<p>治疝氣偏墜：用肥薑切片鋪湊板上，上堆蘄艾一尖，點火燒之，候將完，即乘熱帶火連薑並艾搗極爛，將須</p>
<h3>心口胃脘痛</h3>
<p>治心頭痛欲死不可忍者：良薑　厚朴（薑汁炒）　靈脂上各等分為末，每服一錢，醋湯下即止。</p>
<p>治心痛方：實胃口痛也。若真心痛不治。</p>
<p>高良薑（酒洗七次焙研）　香附子（醋洗七次焙研）</p>
<p>上二味各記另收之。病因寒得者，薑末二錢，香附末一錢；病因怒起者，香附末二錢，良薑服，治心痛方：婦人服之甚效。</p>
<p>丹參（一兩）　檀香（一錢）　砂仁（一錢）</p>
<p>共煎八分，服之即愈。</p>
<p>治心口胃脘痛：用大黑棗去核，每個中間入胡椒七粒，仍將棗包好，炭火上　焦黑存性研末，每服三四分，治胃口痛方：手指甲，男痛用女右，女痛用男左，剪下於新瓦上炙脆存性為末，約四五分，入砂糖少許，治胃寒常發惡心嘔吐或痛：用老生薑半斤，去皮搗爛絞汁去渣，隔湯煮一二十沸，停火將上白洋糖半斤攪入，再煎一滾治胃寒嘔吐，兼治寒瘧：大黑棗七個去核，每個內入丁香一只，煮爛去丁香，將棗連湯空心服，七服見效。</p>
<p>治嘔吐不止：陳梅醬煎濃湯，如有火加竹茹，有寒加豆蔻，或砂仁，或煨薑。如無梅醬，以烏梅代之。</p>
<p>治嘔吐方：見食即嘔，或食罷即吐，初起者易治，此痰在胃口也。</p>
<p>生薑二兩打碎，陳皮五六錢切碎，泡湯一碗，慢慢逐口吃下自安。甚者竹瀝薑汁和勻，逐匙治感氣或飲食傷脾作痛方：橘皮一把煎濃汁一碗，打入鹽薑少許，吃下神效。</p>
<p>補脾養胃方：名陽春白雪糕。</p>
<p>茯苓　山藥（炒）　芡實　蓮肉（去心各四兩）　糯米　黃米（各半升具炒）　白糖（二兩）</p>
<p>先將藥米粉蒸熟，再入白糖，印作餅子晒乾，每日空心吃幾個，極有益。</p>
<p>治老人脾泄最宜：名玉露霜。</p>
<p>白朮（二兩炒）　陳皮（一兩五錢）　蓮肉（四兩去心）　苡仁（四兩炒）　糯米　綠豆陳米鍋焦共為末收貯，臨用時糖霜量加，將滾水調服二三兩。</p>
<p>治腫飲：燈草（一把先將水四碗煎至二碗）　蘿卜子（一兩微炒）　砂仁（二錢微炒）</p>
<p>將二味研末，傾入燈草湯內，略滾即盛入茶壺內，慢慢吃下。吃盡不見效，如前再煎一服。</p>
<h3>呃逆</h3>
<p>治呃逆欲死：半夏（五錢）　生薑（二錢五分）</p>
<p>水煎服即愈。</p>
<p>治病後呃逆不止：刀豆子燒存性，滾水調服二錢即止，神效。</p>
<p>治呃逆不止方：用荔枝七個，連皮燒灰存性為末，白湯調服立止。</p>
<h3>咳逆</h3>
<p>治咳逆方：明雄黃一錢，酒一杯，煎七分，急令患人嗅其熱氣即止。</p>
<p>又：好硫黃乳香各等分，以酒蒸，急令患人嗅之。</p>
<p>又：硫黃　乳香　艾（各三錢）</p>
<p>治食物醋心：用胡桃嚼爛。生薑湯下立止。</p>
<h3>耳</h3>
<p>治耳暴聾方：菊花　木通　石菖蒲擂爛酒服之。</p>
<p>治耳聾方：真北細辛研末，熔黃蠟為丸，如鼠糞大，以綿裹塞耳中，二三次即愈。</p>
<p>又：老鼠膽汁。滴入耳中。二三次即愈。</p>
<p>治耳內出膿方：胭脂　枯礬　釘鏽粉上各等分為末，吹之立效。</p>
<p>又：羊屎彈（燒灰一錢）　枯礬　輕粉（各五分）</p>
<p>上為末，用棉花卷淨耳內膿，將葦管吹入立效。</p>
<p>治耳中膿水不止方：龍骨　枯礬　干胭脂（要產山東濟寧府如銀朱樣紫色者，非綿胭脂，亦非油胭脂）　海螵蛸上為末，先以棉紙捻干，輕吹耳內。</p>
<p>治耳中腫痛並出膿血方：黃魚牙齒，瓦上炙存性為末，放土地上退火氣，研末，加冰片少許，菜油調，雞毛蘸入耳中又：用橄欖核燒灰存性，每核一枚，入冰片二厘，研極細末，吹入耳中即愈。</p>
<p>治耳中常出血方：五色龍骨，　研細末，吹入耳中即止。</p>
<p>治耳出臭膿方：龍骨（　）　五倍子（炒）　乳香　枯礬　血余炭上各等分為末，卷淨吹之。</p>
<p>治耳中膿水不干：石榴花瓣不拘多寡，炙脆研末，加些冰片再研，吹耳自愈。</p>
<p>治百蟲入耳方：如蟲入耳，不可驚動，在左耳，以手緊閉右耳，及兩鼻孔，努氣至左耳，蟲自出。右耳亦然。</p>
<h3>目</h3>
<p>烏羊肝丸：大能烏須黑發，聰耳明目。</p>
<p>黑羊肝（一具，竹刀切片，放瓷盆內，再以羊膽不拘多少塗晒乾，又塗又晒，將膽汁塗晒至二三百個為佳，少亦要在百個之外，以膽汁多為妙，晒時以紗罩罩，晒極干。）　當歸（酒浸盆子（炒）</p>
<p>四兩）</p>
<p>上藥不犯鐵器，制完共和一處，再用大熟地十二兩，酒煮一晝夜，取濃汁一碗，拌藥內煉，治虛眼方：凡虛人目無病，到點燈時候，即不見物，或羞明。只用羊肝煮食便效，不必服他治雀目方：日落不見物也。</p>
<p>石決明　夜明砂（各二錢）　豬肝　白羊肝（各一兩）</p>
<p>將肝二片，中間盛藥，麻線扎定，淘米泔水一碗，砂罐煮熟，臨臥服。</p>
<p>又：用羯羊肝一具，不見水，不犯鐵器，以竹刀切開，入穀精草細末，瓦罐內煮熟，不時服之屢治風火眼洗方：歸尾　膽礬　銅青（各一分）　防風　荊芥　赤芍　川連（各二分）　杏仁（十四粒去皮尖研）</p>
<p>上絹包煎洗。</p>
<p>治弦爛風赤眼洗方：文蛤　黃連（去淨毛）　防風　荊芥穗（各五錢）　苦參（四錢）　銅綠（五分）</p>
<p>上為極細末，以薄荷煎湯，丸彈子大，臨用以熱水化開，乘熱洗眼，每日三次神效。一方有治爛眼皮方：用掛金燈淨殼，每殼一個，摻入研細透明綠色膽礬末二厘，或用殼十個，或二十個裝套好，將棉治火眼熱障眼痛不可忍者：用黃連為末，人乳拌勻似糊樣，攤碗底上，用艾如雞蛋大一塊，放地上點著，以黃連碗復上即愈治眼中努肉方：用蛇蛻一條，將麻油三錢炒黃色不可焦黑，綠豆三合，炒砂糖一碗，水一碗，共煎七分，食治火眼方：用小兒糞中蛔蟲一條，用水洗淨掛陰處，下用瓷盆盛其滴下之水，入冰片五厘，再加人乳一治風火眼方：童便煎甘菊湯，頻頻洗之。</p>
<p>點眼神方：真川連　川大黃　黃芩　川羌活　甘菊花　龍膽草　薄荷　防風　荊芥　木賊　密蒙花（各以上諸藥，須揀淨，用水二大碗，熬煎濃汁成膏去渣一小鐘。將上好爐甘石三兩，放銀罐內汁入入兩又：冬天取淨臘雪，將大荸薺同雪水磨粉晒乾，加冰片少許，入鵝毛管中，點眼神效。</p>
<p>又：名磨光散。</p>
<p>野荸薺粉（洗淨去皮，石臼中搗爛，密絹絞汁，如做藕粉法，再用清井水飛，晒乾。）　爐甘豆腐每荸薺干粉一兩，配製過甘石五錢，珠末三錢，各將瓷瓶收貯，臨用漸漸配合，加入冰片少明目去翳秘方：錦紋大黃一兩，北細辛四兩，將二味用上高泉水一百二十兩，將藥入砂鍋煎至二十兩，以細燃和勻作錠。如多年的濃翳，每兩加水飛過蟬蛻末五分，須要去頭足，揉碎去泥沙，水洗晒乾為末，水飛三次用。又治飛絲入目，每兩加銀朱五分，研細末水飛晒乾用。如風寒等翳，每兩加青黛五分，研細水飛晒乾用。以上諸症，隨症加藥，入膏調勻點之，最良。用頭生小兒乳蘸點。取荸薺粉法：如取綠豆粉與藕粉同法，須水澄極細，晒乾再研極細，須忌鐵器。</p>
<p>又：野荸薺　豬胰各等分，搗和，用雞子殼半個，放藥在內，臨臥合印堂上，俟水流入目中，翳隨淚出，二十又：將新象牙物件，水磨點翳膜上即去。</p>
<p>又方：用新象牙磨屑，將生男乳浸透點之即退。</p>
<p>又方：刮孕婦大指甲末，乳調敷即愈。</p>
<p>又方：枸杞（三錢）　木賊（七根長寸許）　桂圓肉（七個）</p>
<p>煎湯服月余自效。</p>
<p>治遠年攀睛翳膜：名五蛻散。</p>
<p>人蛻（即指甲乳汁炒為末）　山甲（炒）　蟬蛻（洗淨炒）　龍蛻（即蛇殼炒）　鳳蛻（即雞子殼上為極細末，每用三厘，令患人含水一口，患左眼吹入右鼻，患右眼吹入左鼻，再以錫作眼治眼吹鼻散：穿山甲（五厘炒）　鵝兒不食草（七厘）　人金（即指甲一分半炒）　刺　皮（三分半炒）　蛇蛻（上為末，每用三厘，吹入鼻中，其翳即下。</p>
<p>開瞽復明方：生地　枸杞　甘菊（淨瓣）　穀精草（止用草不用葉）　木賊草（如無翳不必用）</p>
<p>上藥各四兩，用人乳拌浸一日晒，共九日，又用童便浸晒，共十八日。倘遇天陰下雨，即將治損目破睛方：用牛口涎，每日點兩次，須要避風，黑睛破者亦瘥。</p>
<h3>鼻</h3>
<p>治鼻淵腦漏方：用羊卵子一對，去膜切片，頂大者尤妙，醬油陳酒拌之，放瓷碗內隔湯煮熟，以陳酒送下，治鼻淵方：用老刀豆，文火焙乾為末，酒服三錢，重者不過三服即愈。</p>
<p>治鼻中時時流臭黃水，甚者腦亦時痛，名控腦砂，有蟲在腦中：用絲瓜藤近根處三五尺，燒存性為末，酒調服即愈。</p>
<p>治鼻痔方：霜梅（一個）　蓖麻仁（七粒）　生礬（少許）</p>
<p>上三味同打，將絲綿包裹，塞鼻內，一日夜即愈。</p>
<p>又方：輕粉（二錢）　杏仁（七粒去油）　白礬（五錢）</p>
<p>上為末，吹入即化為水。</p>
<p>治鼻內生疔方：爛黃雞糞　荔枝肉同打爛塗上即愈。</p>
<p>治鼻息方：七月七日，收甜瓜蒂陰乾，臨用一分研末，再用白礬少許，綿裹塞鼻。</p>
<p>又方：瓜蒂五分研末，麝香少許，含水口中，嗅味自落。</p>
<p>治鼻衄方：麥冬（五錢）　生地（五錢）</p>
<p>水煎服立止。</p>
<p>又方：綠豆粉（一兩）　細茶（二錢）</p>
<p>上為末，涼水調服。</p>
<p>又方：馬蘭草汁一杯，吃下立止。</p>
<p>又方：梔子（炒黑）　百草霜　龍骨（火　）　京墨　牡蠣（火　）　血余（　存性）</p>
<p>上為末。用茅花水蘸濕，蘸藥入鼻孔。如無茅花，將紙捻水，蘸藥入鼻孔即止。</p>
<p>又方：大蒜頭（一個搗爛）</p>
<p>左鼻衄，將蒜塗左足心；右鼻衄，塗右足心立止。一方左塗右，右塗左。</p>
<p>又方：用象牙屑吹入鼻中即愈。</p>
<p>又方：用生吳萸研末，津調塗足底心涌泉穴上；用山梔炒黑為末，吹鼻中效。</p>
<p>又方：胎發（燒灰）　烏梅（一個　）</p>
<p>共研吹鼻中立止。</p>
<p>治赤鼻方：枇杷葉（去毛一兩）　梔子仁（五錢）</p>
<p>上為末，每服二三錢，溫酒下，早服去右邊赤，晚服去左邊赤，再用後敷藥，忌食胡椒生薑敷藥方：木鱉子（去殼）　大楓子（去殼）　輕粉　硫黃共為末，不時以唾調擦。亦治面瘡風刺。</p>
<p>又方：用極臭鹽蛋一二十個，煮熟取黃煎油一小盞，和細辛末、白菊花末各二錢調勻，常擦患處。</p>
<h3>口</h3>
<p>神效吹口藥方：並治喉症。</p>
<p>薄荷葉　僵蠶　青黛　朴硝　白礬　火硝　川連　硼砂（各五錢）</p>
<p>上共為細末，臘月初一收雄豬膽八個，倒出膽汁，以小半和藥拌勻，復入膽殼，以線扎頭，用泥吹又方：兒茶（一錢）　人中白（八分銀罐內　）　滴乳石（八分銀罐內　）　冰片（五厘）　硼砂（六分）</p>
<p>（五分烘）　先將黃柏，冰片牛黃不用篩，即小兒又方：薄荷（六錢）　青黛（三錢）　黃柏（三錢）　人中白（四錢）　兒茶（四錢）　冰片（五分）　青果核又方：燈草灰（以青竹管填滿舂實燒過揀灰去竹炭可也）　大冰片　薄荷葉（晒乾）　石膏（各等分）</p>
<p>共為細末和勻，蘆管吹下。</p>
<p>治口瘡方：用陳白螺螄殼燒灰，加兒茶少許為末，吹患處一次即愈。諸疳悉治。</p>
<h3>舌</h3>
<p>治舌衄出血：用槐花末敷之即愈。</p>
<p>治舌腫方：用蒲黃末摻之即愈。若舌腫出外，或以冰片少許抹上，或以蓖麻油蘸紙作捻燒煙熏之，隨即治重舌方：將蒲黃為細末，敷五六次即愈。</p>
<h3>牙</h3>
<p>治火牙痛方：並治口舌生熱瘡腐爛。</p>
<p>七八月間，俟西瓜將完時，將瓜剖開去瓤，將瓜皮合竹籃內，掛露天，俟其日晒夜露。</p>
<p>經霜一治蟲牙痛方：名韭子湯。</p>
<p>用韭子一撮，將碗底盛之，復水中用火燒煙，外用小竹梗將下截劈，為四開，以紙糊如喇叭治牙痛方：名一笑散。</p>
<p>火硝（一錢）　冰片（一分）　明雄黃（一分）　元明粉（五分）</p>
<p>上共為細末，擦患處立愈。</p>
<p>治風火蟲牙痛方：真樟腦（一錢）　花椒（三錢）　薄荷葉（三錢）</p>
<p>先將薄荷花椒用水拌勻，放在瓷碗底內，後將潮腦研細蓋面，將碗合住，用紙封好碗口，以取牙方：雄活鯽魚（一尾約四五兩）　白砒（六錢）</p>
<p>將砒末入魚腹中，待其肉爛，去砒不用，只用淨魚骨，晒乾為細末，每用米粞大少許，放患治走馬牙疳方：用人龍在瓦上焙乾，研極細末，加青黛少許，冰片少許，研勻吹入即愈。</p>
<p>治牙根出血不止方：甚有成碗成斗。如線索牽泄而出者。</p>
<p>大黃二錢，切片生研，若人壯者，或五錢亦可，滾水調下。按此症乃胃中實熱，非降不可故</p>
<h3>咽喉</h3>
<p>治一切喉症屬火者：用鮮扁柏搗汁，加生白蜜調和，忌見火，以茶匙時時挑咽之，消腫退火神效。</p>
<p>治喉症屬時邪風火，痰潮壅閉，喘急危篤，發來迅速者：先深針委中穴中，出血自愈。其穴在膝蓋對後，大小腿交界縫中，並治纏喉風急症。</p>
<p>治一切痰火風喉症：用青脆梅子百枚，捉活蜒蝣一二百條，同放瓦罐中，每日將梅取出，晒後仍入罐中，明日再又方：霜梅（一個去核）　明雄黃（一錢）　膽礬（五分）</p>
<p>將二味入梅中，搗爛成膏，丸如綠豆大，瓷瓶收貯，每用一丸，放舌底下噙化，重者二三枚治喉嚨忽脹似喉鵝，不能飲食：用蓖麻子三四兩，杵去殼，搗爛，鋪夾在草紙內，將油壓在草紙中，去蓖麻屑不用，將草紙治急鎖喉風方：其症先一二日，胸膈氣緊，呼吸短促，忽然咽喉腫毒，手足厥冷，氣閉不通急用巴豆七粒，三粒生，四粒熟，生者去殼研，熟者去殼炒去油存性。將明雄黃五分，鬱金即愈又方：用生巴豆半粒，川貝母一粒，去心共研爛，燈心湯灌下即愈。</p>
<p>治纏喉風方：此症猝然脹起，痰涎壅甚，不速救即死。</p>
<p>急尋野牛膝根草一二斤許，此草隨處有之，掘取根打濃汁碗許，灌下即消。如腫痛不能咽入治喉風舌大如脬，即時不救即死：冰片（一分）　火硝（三分）　膽礬（二分）　青黛（二分）　僵蠶（五分）　硼砂（三分）</p>
<p>共為細末，吹之即愈。</p>
<p>治喉風方：用年久夜壺垢，瓦上炙，研細，吹之即愈。</p>
<p>治喉鵝方：人已氣絕，心頭微熱者，藥入口聽有聲能下，最無不活。</p>
<p>三九冬天，取老豬婆糞，放在屋上，日晒夜露，七八日取下，在炭火上　至煙盡為度，以水急救乳蛾方：用兩手從臂上抹至大拇指間，四五十下，以繩扎住，男左女右，大指甲旁，以針刺出血即止治乳蛾，並治喉內一切熱毒：硼砂（一錢）　膽礬（二錢）</p>
<p>共為細末，入青魚膽內，陰乾研細，加山豆根一錢，瓷器收貯，吹患處流涎即愈。</p>
<p>治喉蛾閉結不開：將土牛膝草搗汁，滴鼻孔中，吐去塞痰即愈。</p>
<p>治喉癬方：喉症惟此最遲，久則失音不可救。</p>
<p>西牛黃（一分）　真山羊血（二分）　川黃連（五分）　血珀（三分）　冰片（一分）　硼砂（一錢）</p>
<p>共為細末，每一茶匙藥，用一茶匙蜜調之，放舌尖上徐徐咽下，一日五次，兩月可愈。</p>
<p>此方喉症開關方：牙皂　巴豆共為末，米湯調刷紙上晒乾，作捻子點火，以煙熏鼻孔，立能開口，鼻流涕涎，專治十八種又方：巴豆四五十粒，夾草紙內壓出油，捻成油紙條，熏鼻並熏口內。</p>
<p>治咽喉失音方：人乳　白蜜　梨汁（各四兩）　香椿芽汁（四兩如無新鮮者用干香椿芽為末亦可）</p>
<p>上四味和勻，重湯煮熟，不拘時服。</p>
<h3>癰疽</h3>
<p>治肺癰丹方：用尿坑內鑿下坑KT　，名坑砂，以草鞋包好，浸長流水中，七日取出，炭火又方：大白梨（四只銅鍋煮爛搗汁）　上白蜜　上洋糖（各八兩）</p>
<p>同熬將好，下川貝母末四兩收之。</p>
<p>又方：用百年咸芥菜鹵，久窖地中者，服數匙立起。此鹵嘉興府城中大家多藏之。</p>
<p>又方：將魚腥草水煮，多吃即愈。</p>
<p>又方：將苡仁為末，糯米湯調下，或入粥內煮吃，或以水煎服，或將苡仁連根搗汁沖好酒服，總以治肺家吐臭痰，或吐如魚腥痰要藥：川通草　蘆根　苡仁　桔梗治腸癰，腹中　痛，煩躁不安，或脹滿不食，小便澀。婦人產後虛熱，多有此症。縱非癰，苡仁（三錢）　栝蔞仁（三錢）　牡丹皮（二錢）　桃仁（二錢）</p>
<p>上水二鐘，煎一鐘，不拘時服。</p>
<p>治腿癰方：未潰前服。</p>
<p>歸尾（一錢五分）　官桂（一錢）　真漢防己（一錢）　蠶砂（三錢）　川獨活（八分）</p>
<p>牛膝梢（三井水煎，食前服。</p>
<p>治陰疽癰發：艾葉（一斤）　硫黃　雄黃（各五錢）</p>
<p>以水同煮半日，搗爛候溫敷上，再煮再易，十余次，知疼者可生。</p>
<h3>疔</h3>
<p>治疔方：名飛龍奪命丹。</p>
<p>蟾酥（二錢干者酒化）　血竭（一錢）　乳香（二錢）　沒藥（二錢）　雄黃（三錢）　輕粉（五分）</p>
<p>個即蝸牛是也）　天龍（上為細末，先將海羊連殼研為泥，和前藥為丸如綠豆大，如丸不就，入酒打面糊為丸，每服酒三汗為二丸熱酒物。</p>
<p>蓋疔毒於頭面又方：名追毒丹，取黃去疔頭膿者。</p>
<p>蟾酥（一錢干用酒化）　蜈蚣（酒浸炙干黃）　砂（一錢）　雄黃（二錢）　輕粉（一錢）　白丁香上俱為細末，面調水為丸，如丸不就，用酒打面糊為丸，如麥大，兩頭尖，入於針破口內，去，針，妙，水澄膏方：將白芨末放在盞內，用水澄下去，用紙貼之。以此膏圍貼，則不傷好肉。</p>
<p>治面上生疔腫大：用活蝦蟆一只，將小刀劃開胸前，露出肝來，取下貼在疔上即愈。</p>
<p>治疔毒生唇上：在大腿彎中紫筋上，用銀針刺出血來即愈。此名委中穴。</p>
<p>治紅絲疔：手足間有黃泡，即起紅絲一條，走入心腹，令人悶亂不救，皆因大喜大怒，氣血急用針於紅線所到之處刺之，擠出惡血，再細嚼浮萍草根，敷之立愈。</p>
<p>拔疔方：荔枝肉（二個）　吸鐵石（一分）　雄黃（三分）</p>
<p>上共搗，分作三餅，分三次敷之，其疔自落。</p>
<p>又方：荔枝肉　蝦蟆肝　黃丹同搗敷之。</p>
<p>又方：荔枝肉（一二個）　蝸牛（三四個）</p>
<p>上和爛雞屎同搗爛，入升藥少許，刺破皮膚塗上，疔根自出。</p>
<p>又方：將銀簪腳刺破疔頭，用多年露天鐵鏽，或水中者更妙，研如飛面，將四五厘搽入刺孔內，外治疔方：用患者耳垢，齒垢，手足指甲屑和勻，如豆大，放茶匙內，燈火上炙，少頃取作丸兼可治紅絲治疔膏藥方：乳香（一粒）　麝香（米大一粒）　黃連末　連翹末　桃仁（二個去皮）</p>
<p>上同蝦蟆肝腸肺三味共一處，入乳缽內搗如泥，白皮紙一小方，攤膏藥貼患處，三四日連疔治疔方：用家園菊花搗爛，取汁一碗，服下即愈。無花，根葉搗汁亦可。有此方，諸方可廢。</p>
<h3>廣瘡結毒</h3>
<p>治廣瘡結毒神效方：川芎　當歸　金銀花　花粉　防風　生半夏（薑礬制）　川貝母（去心）　海螵蛸（去皮水飛）</p>
<p>用土茯苓一斤，米泔浸，竹刀去皮搗爛，不犯鐵器，放砂鍋內，用水四碗，將竹箸量定深淺一日入八八寶丹方：真犀黃（一錢）　血珀（二錢）　珍珠（二錢）　冰片（一錢）　滴乳（五錢）　飛面（八錢）　辰砂（又方：胡連　宣連　大川芎　牛膝（各二錢）　豬胰脂（一個）　皂莢子（七粒）</p>
<p>先將土茯苓一斤，以石捶碎，用水八碗煎至六碗，入前藥又煎至五碗，入胰脂再煎至四碗溫吃毒法煎散數治頭面結毒方：蘄艾（一兩）　川椒（八錢）　麻黃（去節三錢）　川芎（二錢）　白茯苓（二兩）　豬頭天靈蓋骨（上研極細末，蒸餅丸如綠豆大，飯後白湯下三錢，三四日瘡口乾燥不臭，是其驗也。服至瘡治楊梅瘡方：雄黃（一錢半）　輕粉（一錢）　杏仁（三十粒去皮）</p>
<p>上共為末，用雄豬膽汁調擦，此武定侯府中方也。</p>
<p>治楊梅結毒方：僵蠶　蟬蛻（各三個）　豬牙皂（三錢）　皂角子（七個研碎）　土茯苓（三錢）　生大黃（一錢半）</p>
<p>上將河水二大碗，酒一大碗，煎一碗，不拘二服三服，以瀉為度。若腸中一響欲瀉，可即往物。</p>
<p>治結毒敷藥秘方：真輕粉（二錢）　杏仁霜（二十粒去皮尖取霜）　番木鱉（火　存性三錢）　兒茶（三錢火　）　膽上共研極細末，用鵝膽或豬膽調敷，一日一換，數日痊愈。</p>
<p>治楊梅瘡點藥方：兒茶　杏仁霜（各一錢）　輕粉（五分）　冰片（三分）</p>
<p>上用鵝膽調點一次，過夜即脫靨。</p>
<p>治棉花瘡點藥方：凡棉花瘡毒及下疳，或初感，或毒盛，經久難愈。</p>
<p>速用新槐蕊，揀淨不必炒，每日早晚服，在食前用清酒吞下三錢許，服至二三日，則熱毒盡不能治服輕粉毒：名五寶湯。</p>
<p>紫草　金銀花　山慈菇（各一兩）　乳香　沒藥（各五錢）</p>
<p>用新汲水六碗，好陳酒五碗，煎六七碗空心溫服取汗，不可見風，一二服其毒即從大小便瀉搽藥方：輕粉（一錢）　乳香（六分）　沒藥（二分）　血竭（一分）　兒茶（一分）　大珍珠（三分）　紅羯子片（一分）　蟾骨（五分）</p>
<p>上十四味，共為細末，瓷器收貯，用時先將濃甘草湯洗患處，然後搽之。</p>
<p>又方：臘豬頭骨（捶碎）　土茯苓（舂碎）　金銀花（各一斤）</p>
<p>水煎服，藥畢即愈。</p>
<p>治楊梅結毒洗敷方：膿水淋漓，臭爛不可近者。</p>
<p>楓子肉（四兩）　輕粉（一錢）　蓖麻仁（二兩）　爐甘石（二錢）　杭粉（二兩）　花椒（五錢）</p>
<p>上共為細末，搗加麻油捶成膏，用油紙攤貼瘡上。其瘡先用花椒、甘草煎湯洗淨，三日一換治服霜粉，牙根腐爛，出血不止：管仲　黃連（各五錢）</p>
<p>上二味為末，水一鐘，煎四五沸，入冰片少許，攪勻漱口，每日一次，忌豬腥油膩一月。</p>
<h3>下疳</h3>
<p>治雞肫疳魚口下疳方：婦人陰戶臭爛，亦用此藥愈。</p>
<p>熟乳香　冰片　珍珠末　象牙末　兒茶（各三分）　搽面粉（一兩入傾銀罐內　紅鵝黃色）　牆上共研細末，瓷瓶收固。若要上藥。先用米泔水煎滾，入雄黃三錢於湯內，淋洗患處，然後治瀉燭疳：半邊溜爛是也。又名蠟燭疳，從內爛出者。</p>
<p>將人腳根上老皮，不拘多少，瓦上焙脆為末，黃柏末，用豬膽汁拌，晒乾再研，摻患處，烏治下疳方：土牆上白螺螄殼灰（一錢）　五倍子灰（二分）　燈草灰（五分）　甘草灰（五分）　黃柏灰（五分）</p>
<p>上為細末，先用皮硝湯洗，次用土茯苓湯洗，後將藥擦患處。</p>
<p>又方：大紅絨（一錢）　冰片（三分）　鐵鏽（一分）　鳳凰衣（五分　存性）　血竭（一錢）</p>
<p>上研極細，敷患處效。</p>
<p>又方：用白鵝一只，以白米養三日後，取鵝糞，以新瓦焙乾黃為末，每糞一錢，和丹砂一分，冰片用豬又方：窯底蜆殼（燒紅童便　七次）　橄欖核（燒灰）　冰片（五厘）　陳鴨蛋殼內衣共研末，疳濕干摻，疳干唾津調搽。</p>
<h3>中毒</h3>
<p>解百毒：粉甘草（生用二兩）　綠豆（一升）</p>
<p>水煎服，立效。</p>
<p>又方：凡覺腹中不快，即以生黃豆試之，入口不聞腥氣，此真中毒也。</p>
<p>急以升麻煎汁，連連飲之，將手探吐自愈。或嚼生礬一塊，覺甜而不澀者是毒，否則非也。</p>
<p>治服截瘧毒藥，身體發腫氣喘方：此症因藥內有常山砒信等毒，使瘧邪遏抑於內，藥毒攻於用生綠豆，或一升，或半升，連皮搗碎，滾湯泡出濃汁涼服，少頃肌膚間有聲，一日夜腫消解砒信毒：急用密陀僧一兩，或二兩，研細冷井水飛，徐徐灌下，或吐或瀉，則砒信裹在藥末內出矣，又方：白蠟三錢研末，調雞子清三五枚，入口即愈。</p>
<p>治信毒，並治銀匠爐中　子毒方：錫灰（一錢）　雞子（七個）</p>
<p>將二味攪勻，吃下即愈。按錫灰即白鐵消後，鍋內所遺渣垢也。再連鍋燒紅，即化成灰，研解食銀硝毒方：將黃泥水，服二三茶杯即愈。</p>
<p>解斑蝥毒方：中其毒者，必腹痛嘔吐，煩躁欲死。</p>
<p>急以生雞子清三四枚灌之，即時止痛而愈。</p>
<p>治誤服水銀方：在背陰處，掘地二三尺，取泥為丸，如梧子大，以冷井水一碗送下，腹中即瀉，水銀隨下矣解巴豆毒方：若中此毒，必口渴面赤，五心煩熱，泄痢不止。</p>
<p>用黃連煎湯服。</p>
<p>解鹽鹵毒方：將豆腐漿灌下，或肥皂水，皆能令嘔吐，切不可飲熱湯，飲活羊血尤妙。</p>
<p>解燒酒毒方：用鍋蓋上氣水一杯，灌下即醒。</p>
<p>解中白果毒方：小兒食之過多，飽脹欲死。</p>
<p>急用白鯗頭煎湯，頻頻灌之，少頃自定。</p>
<p>解食桐油嘔吐不止方：將干柿餅食之立解。</p>
<p>解　狗咬方：即不咬破亦有毒。</p>
<p>先用蓑衣草，扎住兩頭，以眾人熱小便洗，搦去血水。急取斑蝥七個，去頭翅足，酒洗，和酒清有或葷腥茄子治狗咬方：用木鱉子燒灰存性敷之。</p>
<p>解毒蛇咬方：明雄黃（五錢）　五靈脂（一兩）</p>
<p>共研細末，每服二錢，陳酒送下，即將此末用麻油調敷患處，隔一時再進一服立愈。亦有加又方：用香白芷為末，每服三錢，麥冬煎湯調服，其腥氣黃水，從瘡口出而愈。</p>
<p>解蜈蚣咬方：用舊毛竹箸，將圓頭寸許燒焦，取下研末，敷患處立愈。</p>
<p>又方：取蜒蚰塗上，其痛立止。</p>
<p>治　毛刺方：用甘草煎濃湯浸洗，砂糖搽之，糖霜亦可。</p>
<p>治誤吞針方：名吸針丸。</p>
<p>用透活磁石生研，將黃蠟和捻如針，涼水送下，裹針從大便出。</p>
<p>治誤食銅錢方：胡桃肉（四兩）　荸薺（一斤）</p>
<p>共搗汁和酒服，其錢即消，自大便而出。</p>
<h3>諸瘡</h3>
<p>治禿瘡方：白雞子油　松香　小兒頭發用香油煎油成膏，塗上即愈。</p>
<p>治一切禿瘡並陰陽頑癬：用不落水豬網油攤開，將松香研細，摻在網油上，卷如煤頭，在燈火上燒著，下用蚌殼，內治禿瘡方：先用黃齏汁洗之，醋湯亦可。</p>
<p>皂莢（七個廁內浸七日洗淨晒乾火　）　榆白皮（　）　枯礬　牛煙膠　輕粉　霜梅肉　銅青將醋浸調搽。</p>
<p>又方：白松香（四兩）　肉墩頭屑（三兩燒灰存性）　碎新青布（二兩燒灰存性）</p>
<p>將多年竹燈烙窩，放松香在內燒烊，連油滴出，以碗受之，將前三味調勻敷之，四五日後，治對口瘡神效方：用活鯽魚一尾，去腸鱗搗爛，加發垢四兩，白蜜少許攪勻，從瘡外圈入，裡面敷之極濃，留又方：名蟾蜜膏。</p>
<p>飛鹽（五分）　蔥白（三莖）　活蝦蟆（三個）　蜜（一兩）</p>
<p>共搗一處敷之。</p>
<p>又方：婦人頭上油垢（三錢）　黑背鯽魚（一個約一兩）　豬眼梢（一對）</p>
<p>上同搗爛敷之。</p>
<p>又方：將雄豬眼梢肉三錢，剁爛如泥，加滑石末□錢，和勻敷患處，頂上以膏藥蓋之，拔去僵肉，又方：鮮茄蒂（七個干者加倍）　鮮何首烏（一兩）</p>
<p>上用河水三碗，煎一碗，食遠服，一服出膿，兩服收口。</p>
<p>治　腮方：用陳鍛石不拘多少，炒七次，地土窨七次，醋調敷立愈。</p>
<p>又方：山梔末、飛面各等分，豬膽汁、好醋各半，薄調敷患處。</p>
<p>治拍蟹毒：即手大指食指間所生，俗名丫指。</p>
<p>用活蟹打爛塗之。</p>
<p>治指上疔瘡：名天蛇頭，又名雄公蛋。</p>
<p>用雞子一枚，頂上敲一小孔，先去其清放杯內，後去其黃，仍以清入殼。將蜈蚣一條灰，遠換又方：豬膽一個，入雄黃末一分，攪勻套指上，二三時即愈。</p>
<p>又方：雄黃細末，和蜒蚰搗爛敷之即愈。</p>
<p>又方：雄黃（七分）　白芷（三分）</p>
<p>共為末，入雄豬膽內，套指上立愈。</p>
<p>治坐板瘡方：生在臀上，俗名臀支瘡。</p>
<p>用八九月間的西瓜皮，刮薄存一粒米濃者，日中晒脆研細，瘡有膿則干摻，無膿將自己津涎治爛腿方：用白芷、黃蠟、飛丹片粉，各等分，蔥頭搗豬髓調敷，油紙扎住，七日一換，二次痊愈。</p>
<p>治腳面生瘡不收口：松香　枯礬　杉木灰（各一錢）</p>
<p>共為末，用麻油調塗，數次即愈。</p>
<p>治脫疽方：此症發於腳趾，漸上至膝，色黑，內痛不可忍，逐節脫落而死，亦有發於手者。</p>
<p>土蜂窠研細，醋調搽，應手而愈，真神方也。</p>
<p>治陰濕腳瘡久爛：銅青　膽礬（各五分）　飛丹（二錢）　密陀僧　輕粉　石膏（　各一錢）</p>
<p>上研末，臨臥時摻上，痛一夕即結痂，或有癢處，毒水不干，又摻上，癢極擦之。</p>
<p>治腳指縫爛：鮮鵝掌黃皮陰乾，燒灰存性為末，摻之極效。</p>
<p>又方：好黃丹一味，摻三五次即愈。</p>
<p>又方：陳松蘿茶末摻之。</p>
<p>治腳指縫濕爛癢方：用三白頭升藥底少許，和白糖霜打爛敷之。</p>
<p>治腳指頭上臭爛瘡方：俗名臭田螺。</p>
<p>青石屑（用市中多人踏者，又要潔淨者，須研極細。）　絲棉灰（少許）　冰片（少許）</p>
<p>三共和勻摻上，外以膏藥貼之即愈。</p>
<p>治行路足腫方：用草鞋浸尿缸內半日，以磚一塊，燒紅置鞋於上，將足踏之，令熱氣入足內，腫即消。</p>
<p>治　瘡方：陳鍛石　坑砂（　）　伏龍肝　百草霜（各一兩）</p>
<p>上共為末，先將蔥艾煎湯洗之，桐油調敷，將草紙扎緊。</p>
<p>又方：修船舊油灰（煨）　東丹　石膏（煨各等分）</p>
<p>上研極細，先將豆腐溫水洗淨患處，用麻油調藥敷之極濃，三日一洗一換，最無不愈。</p>
<p>又方：桐油　菜油　麻油（各五錢）　松香（制一兩）　飛丹（制三錢）　銅綠（二錢）　黃占白占（各先將三油熬數滾，後入松香黃白占，再熬數滾，後入飛丹銅綠細末收之，攤隔紙膏貼之。</p>
<p>一治　瘡久不收口方：杭州破黑傘紙燒灰　飛丹　輕粉（各一錢）　牛腳胎（　至周遭焦枯，以刀刮下，再再刮四味與豬油同搗極爛，做夾紙膏，以針刺孔，先以蔥椒飛鹽湯洗淨，拭乾貼之，生肌長肉，又方：用鮮桑白根皮一斤，生豬板油四兩，共搗作餅，將一餅貼之，每日換一餅，五六日後，換生燒蘄治濕爛　瘡，並一切頑瘡不收口者：麻油　地瀝青（各二兩五錢）　管仲（三錢）　象皮（五分切片）　血余（一大團）</p>
<p>同煎至發枯，去發再煎，滴水成珠，下炒飛丹五錢，方下後藥：朱砂　兒茶　輕粉　沒藥（共為末，攪勻離火候半冷，下黃蠟二錢五分，杭粉一兩五錢，如法熬成膏，攤貼患處，一日治　瘡久不愈者：秘傳夾紙膏。</p>
<p>老松香　樟腦　虢丹（炒）　水龍骨（即舊船底內油鍛石）</p>
<p>共為細末，溶化松香，以小青油和之，以油紙隨瘡大小作夾膏，洗淨瘡後貼之，二三日一換瘡白芷又方：麻油（九兩）　大活雄鯽魚（一個約斤許者）　大楓子肉（去油四兩）</p>
<p>同熬至魚焦枯濾去渣，將油再煎，滴水不散，將油稱見分量，每油一分，用飛炒過黃丹半分收口又方：名白玉膏。</p>
<p>乳香　沒藥　象皮　白蠟（各五錢）　輕粉（四錢）　密陀僧　鉛粉　黃蠟（各二兩）</p>
<p>以上除蠟，俱為極細末，先用真桐油一斤，放鍋內火上滾透，去沫油，先入密陀僧末攪勻，小煎又方：名紫脂膏。</p>
<p>好麻油（四兩）　淨花椒（三錢）　蔥頭（七大個連須七寸長）</p>
<p>三味同煎至蔥焦脆去渣，入白色松香五錢，黃占六錢，文火煎化，去上面浮出渣滓，煎至油去火椒湯十膏待後治濕毒　瘡方：爐甘石用童便制八九次，豬油調搽神效。</p>
<p>又方：伏龍肝　蚌殼灰（各一兩）　輕粉（一錢半）</p>
<p>或加蒼朮一錢，黃柏一錢，各炒焦為末，和勻用菜油調攤夾紙膏，將針刺孔扎瘡上，三日一治濕瘡方：取桑樹根上土中鮮白皮，去粗皮切細，同生豬油放石臼內打　，先用冷茶洗瘡拭乾，用此藥再換而痛諸藥以又方：疥瘡白泡亦治。</p>
<p>楓子肉（一兩）　蛇床子（炒）　煙膠（瓦上炒干）　黃柏末　自死龜板（炒灰各五錢）</p>
<p>黃丹（二上為細末，桐油調搽，上以油紙復扎，五日一換，三次即愈，地瀝青調藥更妙。一方無煙膠，又方：黃柏末　銀朱　飛丹（各五錢）　煨石膏　龜板（燒灰）　蚌殼灰（各一兩）　輕粉（二錢）　嫩松共為細末，菜油調作夾紙膏貼。</p>
<p>又方：名蔥連膏。</p>
<p>飛丹（二錢）　乳香　沒藥　黃連（各五分）　血竭（一錢）　冰片（一分）　松香（五錢）　蓖麻子共為末，將蔥頭打爛和勻，以菜油調做夾紙膏貼之。</p>
<p>治　濕瘡方。</p>
<p>黃丹　無名異（各五錢）　輕粉（一錢）　乳香　沒藥　樟水　水龍骨　百草霜（各一兩）</p>
<p>共為細末，桐油調夾紙膏貼之，前後翻換神效。或加血竭、血余兒茶、螵蛸、銀朱、銅綠等治一切瘡毒，隨貼隨愈，並治風濕、癰疽、癱瘓、鶴膝風等症俱神效：南星　川大黃　桃仁　羌活　半夏　草烏　川烏　紅花　獨活　當歸（各四錢）</p>
<p>用真麻油一斤，加生薑一兩，蔥白不拘多少，亂頭發一團，入藥內熬焦枯色，用絹濾去渣，黃末中去治熱毒濕瘡，遍體生瘡，痛而不癢，手足尤甚，黏著衣被，日夜不得眠者：用石菖蒲三斗為末，鋪席上臥五六日即愈。</p>
<p>治諸瘡弩肉，如蛇頭凸出寸許者：用烏梅肉　灰，摻上即愈。</p>
<p>治膿窩瘡：名雞黃煎。</p>
<p>煨石膏（三錢）　寒水石（二錢）　黃丹　硫黃（各一錢）</p>
<p>共研極細末，將雞子黃熬出油調敷。</p>
<p>又方：大黃（三錢半）　吳萸（去梗一錢半）</p>
<p>共研細末，菜油調搽即效。</p>
<p>治諸瘡摻藥方：熟石膏（一兩）　松香　白芷（各三錢）　樟腦（二錢）　輕粉（五分）　冰片（一分）</p>
<p>上為極細末，熬熟豬油調搽。治白泡瘡更效。</p>
<p>治天泡瘡方：黃柏末（一錢半）　輕粉（一錢）　雄黃（一錢）　青黛（二錢）　滑石（一錢）　寒水石（二錢火　）</p>
<p>上為細末，絲瓜葉打汁調搽立效。</p>
<p>又方：將綠豆裝入粗瓦瓶內。以毛竹筷一把塞緊瓶口，再用瓦盆一個，底下鑿一孔，將瓶倒插於盆點瘡又方：青黛　滑石各等分，馬蘭汁調敷。</p>
<p>又方：石膏　黃柏　青黛各等分為末，扁柏汁調敷。</p>
<p>治痱子方：將臘雪收藏瓶內封口，至端午日放黃瓜在瓶中浸之封好，遇有痱子敷上即愈。</p>
<p>治痱瘡癢痛方：滑石（五錢）　綠豆粉（四兩微炒）</p>
<p>上研細和勻，以棉撲之。一方有棗葉一兩。</p>
<p>治痤痱作癢，抓之又痛，難於坐臥者：名苦參湯。</p>
<p>用苦參四兩，大菖蒲二兩，河水五瓢，同煎數滾，添水二瓢，蓋片時，臨洗和入雄豬膽汁四治一切熱癤：用芙蓉葉菊花葉同煎水頻洗，或搗爛敷之甚效。</p>
<p>治凍瘡久不愈，年年發歇，先癢後痛，後即腫破出黃水，及出血不止者：名雉腦膏。</p>
<p>雄雉腦（一枚搗爛）　黃蠟　清油上三味，以文火熬成膏，去渣瓷器盛，用每日塗瘡上。一方用大蒜梗煎湯洗之。</p>
<p>又方：用白蘿卜打碎或切碎，內揀大者切二三寸一段，同用水煮一二十滾，不可太爛，亦不可太生治冬月手足開裂方：用清油五錢，文火煎沸，先入黃蠟一塊煎化，再入光粉、五倍子少許，熬令稠紫色為度。</p>
<p>先粉又方：名油胭脂。</p>
<p>用生豬板油去筋膜一兩，入鍋熬淨，再入黃占五錢，白占三錢，同化清，次入銀朱黃丹各五又方：用童子剃下頭發，洗淨令干，將一二兩放杓內熬烊，入羊油再同熬，令其無滓，去火俟冷如治湯火瘡方：當歸　生地（各一兩）　麻油（四兩）　黃占（一兩白者只用五錢）</p>
<p>上先將當歸、生地，入油煎枯去渣，將蠟溶化攪勻，候冷即成膏矣。用塗患處，將細紙蓋之剪去，又方：將豬毛　存性研末，加輕粉硼砂少許，麻油調和，敷之立效，且無斑痕。</p>
<p>又方：用雞子黃置銀石器中，熬出油，調胡粉敷之。</p>
<p>治湯泡方：將煮熟雞子黃，炒出油一杯，調生大黃末一兩搽之。</p>
<p>治火湯熱油傷方：用生雞子清，好陳酒沖和調敷，三次必愈。</p>
<p>治火燒爛神方：凡遇此症，切不可浸冷水中，熱毒內攻，必爛至骨。</p>
<p>用好陳酒一二十斤，傾入浴缸內，略燒溫，令患者坐酒中浸之，極重者不死。</p>
<p>治火燙傷方：急使一、二歲小兒，不拘男女，撒尿於室中結實淨土地上，少頃取地面上浮膩滑濕之土敷之治湯泡火燒方：此症切不可用冷水澆洗。</p>
<p>如藥不便，先飲童便一碗，或生蘿卜汁一碗，再將生大黃細末，或香油，或生桐油調敷。</p>
<p>如治初燙與潰爛方：名解毒行血膏。</p>
<p>當歸　劉寄奴　頭發（洗淨）　生地（各一兩）</p>
<p>將麻油六兩，銅鍋內煎至發化藥黑，濾去渣，下白占八錢，不住手攪勻，候藥稍溫，下生寒塗之治漆咬瘡方：木形人每患此症。</p>
<p>用杉木皮煎湯洗之，蟹殼湯洗亦可。</p>
<p>又方：將活蟹搗爛塗上即愈。</p>
<p>取瘡　中多骨方：用烏骨雞脛骨，實以砒石，鹽泥封固，　紅出火毒研末，飯丸粟米大，將白紙捻送入孔中，諸丹毒治蛇丹方：刺鱔魚尾血，同蜒蚰搗塗。</p>
<p>治火丹方：將蜒蚰搗爛，磨好京墨汁和塗之。</p>
<p>又方：柏葉　蚯蚓泥（韭菜地上者尤妙）　黃柏　大黃（各五錢）　赤小豆　輕粉（各三錢）</p>
<p>共研末，新汲水調搽。凡生火丹流火，切不可吃豬肉，吃則發腫不消。</p>
<p>又方：將冬青樹葉搗爛，和入雞子清，敷患處，以絹縛之，一周時即愈。</p>
<p>治流火方：鮮紫蘇　鮮鳳仙花將二味洗淨，連根葉搗爛，放木盆內，以滾水沖入，將腳架盆上，熏至可洗，以軟帛洗之立治流火毒方：大黃　山梔　黃柏　雄黃　南星上為末，將瓦花搗汁，調敷立效。</p>
<p>無名腫毒治無名腫毒未成：初起五天之內，照方一服即消。如毒旺者，接連三服，無不消盡，真神方用雞蛋一個，傾在碗內攪勻，入芒硝一錢，隔湯燉熟，用三白酒照量飲，食盡為度。</p>
<p>內托護心散：防毒瓦斯攻心。</p>
<p>真綠豆粉（一兩）　乳香（五錢）　燈心灰上共為末和勻，以生甘草一兩煎濃湯，調一錢，時時呷之。</p>
<p>治男婦小兒一切無名腫毒：將苦絲瓜連筋帶子，燒存性為末，每服三錢，白蜜湯送下，日二服，夜一服，則腫消毒散，治一切無名腫毒，魚口便毒，楊梅結毒等症即消：名二角消毒散。</p>
<p>雄羊角（二斤）　血余炭（一斤）　穿山甲（半斤）　角刺灰（一斤）</p>
<p>上四味，俱用文武火　灰存性，每服二錢或三錢，酒送下。</p>
<p>治一切無名腫毒，瘰　尤效：名四制鯪鯉丸。</p>
<p>歸尾（五錢）　大黃　荊芥　桔梗　乳香（炙）　沒藥（炙各二錢）　黃芩　連翹（各三錢）　防風牛皮膠（一兩土炒）</p>
<p>用金頭蜈蚣四條，去頭足分作四樣法制：一條用薑汁搽焙乾，一條用香油搽焙乾，一條用醋兩用藥共麝香治諸毒已成未膿之際，服此毒不內攻：名琥珀蠟礬丸。</p>
<p>白礬（一兩二錢）　黃蠟（一兩）　雄黃（一錢二分）　琥珀（一錢另研極細）　朱砂（一錢二分）</p>
<p>上四味，先研極細，另將蜜與蠟，銅杓內溶化，離火片時，候蠟四邊稍凝，方入上藥攪勻，丸，移毒方：凡毒在緊要處，移在閑處，庶不傷命。</p>
<p>用地龍裝在經霜絲瓜內，　枯焦連瓜為末，每瓜末三錢，入麝香二分，乳香、沒藥各五分，黃煎酒牛膝、靈仙治陰症諸毒膏：附子　肉桂　川烏　草烏　大戟　芫花　甘草　甘遂（各七錢）　一方加乾薑一兩四錢附子麻油二斤煎治陽症腫毒膏。</p>
<p>馬錢子（四兩）　大黃　生地（各二兩）　薄荷　玄參　黃柏　黃芩　梔子　血余（各一兩）　蝸上用麻油煎去渣，滑石研末收。</p>
<p>治諸惡瘡腫核，赤暈已成膿，不肯用針刺，以此藥代之。但用小針點破瘡頭，貼上膏藥，膿名萬寶代針膏。</p>
<p>蓬砂　血竭　輕粉（各一錢半）　金頭蜈蚣（一個）　蟾酥（五分）　雄黃（一錢）　冰片（少許）</p>
<p>上為細末，用蜜和為膏，看瘡有頭處，用小針挑破，以藥少許，放紙上封貼，次早其膿自出酒面加味太乙膏。</p>
<p>肉桂　白芷　當歸　玄參　赤芍　生地　大黃　土木鱉（各二兩）　上阿魏（二錢）　輕粉（四香（五錢）</p>
<p>將藥入油熬熟，濾過煉成膏，每油一斤，加丹六兩五錢，夏秋再加五錢。</p>
<p>治癰疽神應膏：真阿魏（三錢）　麝香（二錢）　朱砂（四錢）　雄黃　五靈脂　甘草（各一兩）　川烏草烏（各將新鮮鬧羊花十斤，揀去梗葉，打自然汁，入瓦器中煎成膏，如稠糖為度。將藥為細末，入封二層而方八仙膏：龍骨　赤石脂　兒茶　血竭　乳香　沒藥（各一錢）　輕粉（五分或一錢）　冰片（二分）</p>
<p>用麻油二兩，入當歸五錢，煎枯去渣，入龍石茶竭四味，再煎一二沸，次入乳沒，略煎勻，千捶膏：松香（鍋內溶化，傾入清水內片時，揉白取用，約一斤。）　蓖麻子（六兩淨）　地瀝青（二兩）</p>
<p>性）</p>
<p>捶膏之法：在光平青石上，先將松香一二兩，與蓖麻一二兩，鋪於石上，用鐵錘打碎，干則許，攤之蜜膏：治一切　瘡痰　廣瘡下疳久不收口者：松香（一斤四兩醋蔥汁煮過為末篩淨一斤）　黃占　白占（各一兩）　輕粉（一兩）　乳香沒藥人中白（　）</p>
<p>三兩）</p>
<p>上十八味，先用松香溶化，次下桐油，次下黃白二占，次下龍骨等藥，次下輕粉，次下象牙生肌收口膏：治諸瘡並下疳及輕粉毒。</p>
<p>乳香　沒藥（各去油）　兒茶　血竭　輕粉（各一錢）　寒水石　水龍骨（各　）　韶粉（各三錢）</p>
<p>將油先熬數沸下蠟，後下藥末，用槐枝攪勻攤膏。先以防風、荊芥、苦參、黃柏、黃連、連</p>
<h2>卷四‧公選良方</h2>
<h3>跌打損傷</h3>
<p>黎洞丹：治一切無名腫毒，昏困欲死，並跌打損傷，瘀血奔心，昏暈不醒等症。</p>
<p>牛黃　冰片（各二錢五分）　阿魏　雄黃（各一兩）　麝香（二錢五分）　生大黃　兒茶天竺黃沫，用子羊血拌上共為末，將藤黃化開為丸，如芡實大，若干少用白蜜，外用蠟皮封固，每服一丸，用無灰紫金酒：治一切風氣，跌打損傷，寒濕疝氣，移傷定痛，血滯氣凝。此酒善通經絡，沉久官桂　明乳香　沒藥　廣木香　羊躑躅　川羌（各五錢）　川芎　玄胡　紫荊皮　五加皮上為粗末，將好酒十斤，懸胎煮三炷香，分作十小瓶。</p>
<p>治跌打損傷，刀箭傷，軍中第一仙方：生狗頭一個（將肉刮淨，露天火　存性，為末。）　人指甲灰　血余灰（各一錢）　陳松香（五共研極細，摻傷處，斷骨即續，刀傷即愈。以四味等分，將酒內服亦可。</p>
<p>洗方：防風　荊芥　甘草共煎湯，無風處洗。</p>
<p>治箭鏃木器傷方：用艾綿攤成餅子，將火硝細末鋪上，再用大蜣螂搗成末，鋪火硝上，包在傷處，一日一夜即又方：用陳臘肉去皮，取紅活美好者，連肥切細，將新象牙末及人指甲末，拌臘肉內，剁合一處，治金傷箭鏃傷方：真降香（一兩）　五倍子（五錢）</p>
<p>共為末，摻患處，扎好即收口。加象皮一兩更妙。</p>
<p>治金瘡方：用瀝青不拘多少為末，加響銅屑和勻，摻立愈。</p>
<p>又方：陳鍛石　無毛小鼠　韭菜根共搗極爛作餅，貼在背陰牆上，待干用刀刮下，研細末敷之。</p>
<p>又方：並治筋骨斷。</p>
<p>生半夏　降香節　紅銅屑　五倍子（炒）</p>
<p>上各等分為末，摻上扎好。</p>
<p>又方：降香節　制白松香（各一兩）　血竭（一錢五分）　沒藥（五分）　文蛤（五錢炒）　共末摻扎。一又方：五倍子（炙）　黃丹　血竭　大貝母（各一錢）　赤石脂（四錢）　海螵蛸（二錢炙）　龍骨（二錢）</p>
<p>共為極細末摻之。</p>
<p>又方：用好雞骨炭，擲地有聲者，不拘多少，與好松香等分，搗成一塊，用老韭菜汁拌入陰乾，如又方：白蠟（一兩）　藤黃（三錢）</p>
<p>將麻油四兩煎數滾，後下二味再煎數滾，塗傷處立愈。此方止痛止血，並治打傷及湯火傷皆治刀斧傷：止血定痛生肌真降香（銼碎炒存性）　五倍子（微炒）　頭發灰上各等分，為末摻之，將干箬葉護住，以軟綿扎定，兩日一換敷。</p>
<p>立止血方：並治針灸疤肉發紅出血，及一切血管出血不止者。</p>
<p>用熱黃牛糞塗之即止。</p>
<p>立止血方：用舊綿絮。燒灰掩之。</p>
<p>集靈接骨膏：生地　當歸　大黃　寄奴　雄鼠屎（各二兩）　鬧羊花　紅花　上肉桂　川烏　草烏　大戟鱉蟲（各三上用麻油四十四兩，桐油二十四兩，煎丹收好，加乳香、沒藥、血竭、阿魏各一兩，加桃柳接骨丹：將糞窖內多年瓦片洗淨，醋　九次研末。每末一兩，加五加皮，男子發灰各五錢，勿用又方：古銅錢（五錢醋淬四十九次）　骨碎補（去毛焙三錢）　乳香　沒藥（各去油）　自然銅（醋　）</p>
<p>共為末，服一分，加栝蔞仁七個同研，放舌上，酒送下。頭一次，加麝香一厘。</p>
<p>又方：用母雞一只，要一斤重者，殺後連毛骨剁爛如泥，再將雞血和內再剁，敷於患處，用綢包緊透骨丹：治跌撲損傷，深入骨髓，或隱隱疼痛，或天陰則痛，或年遠四肢沉重無力，此藥主鬧羊花子（一兩，火酒浸炒三次，童便浸一次，焙乾）　乳香　沒藥（不去油）　真血竭（各三上為末，稱準和勻，再加麝香一分同研，瓷瓶收貯封固，每服三分，壯者五六分，不必用夜弱者桃花散：治跌損刀傷。狗咬爛腳等症。</p>
<p>年久風化鍛石（十升炒至桃花色存性）　錦紋大黃（一兩焙脆研末）</p>
<p>將真麻油調敷，當日敷更效。</p>
<p>加味鼠灰散：陳鍛石（六兩）　大黃（一兩）　童子發灰　乳香　沒藥　蒲黃（略炒各三錢）</p>
<p>上鍛石與大黃同炒，至鍛石紫色為度，研細，取未開眼小鼠，搗極爛和藥，又搗勻為餅，布治跌打損傷方：閃挫初時，即於無風處，將紙捻觸鼻內，用力打噴涕二三十，則氣升而止痛。再用胡桃肉搗又方：用韭菜打汁，與童便各半，和熱酒飲醉。或有折傷脫節，外用糟湯浸洗，忍痛揉上，用竹木又方：骨節跌損脫者，將生蟹一只，打極爛，用滾熱酒傾入，連飲數碗，即以蟹渣塗患處，半日間又方：地鱉蟲（酒炙十個）　地　干（焙乾十條）　自然銅（醋　二錢）　骨碎補（三錢）　乳香（五分）</p>
<p>上為末，加蘇木三錢，酒煎服。</p>
<p>又方：名七厘散。</p>
<p>當歸尾　紅花　桃仁　大黃（酒浸晒乾）　自然銅（醋　七次以上各一錢）</p>
<p>土鱉蟲（去頭足炙焦五錢）　黃麻根（燒灰存性）　血竭　乳香　沒藥　兒茶　朱砂　雄黃古上為末，每服大人一分二厘，小兒七厘，以陳酒送下，出汗為度。</p>
<p>和傷方：用遠年地坑中坑砂，其坑雖不必在露天，卻要透風，有日光照著者為妙。其砂取淌五個上，治青腫，不拘破不破，不用開刀，一夜復原不痛：名松肉蔥白膏。</p>
<p>將不精不肥鮮豬肉二斤去皮骨，加蔥白要一斤半，再加明松香三兩研極細末，以篩篩過，方不治周身打傷方：用大生蟹一只，小者兩三只，搗極爛，大熱酒沖服極醉，一夜即安。</p>
<p>治頭面跌撲青紫方：用生半夏末，醋調敷之神效。</p>
<p>治破傷風久不愈，手背強直，牙關緊閉者：南星（薑汁製一兩）　防風（一兩）　蟬蛻（五錢）</p>
<p>上為細末，每服三錢，滾黃酒一碗調服，再吃生蔥三四根，以被蒙頭出汗，汗盡為止，忌燒勝散臨杖預服方：自然銅（醋　七次）　當歸（酒洗打）　無名異（洗去浮土）　土鱉蟲　乳香　沒藥　地龍（去土上各等分為末，煉蜜丸，雞豆大，每服三丸，開水下。</p>
<p>治杖傷方：初杖時，甚者即服童便酒，紅花酒。傷處用熱酒浸揉洗，血淨或未淨，即用熱豆腐鋪上，其傷又方：用細白礦灰成塊者五錢，以泉水或井水，入灰於內化碎，攪數十下澄清。將麻油小半碗亦可末五立時又方：用毛竹節燒灰，重者五錢，輕者三錢，好熱酒送下，其痛立止。</p>
<p>治棒瘡神膏：用豬板油一斤熬去渣，再入黃蠟三兩同熬，滴水軟硬得中，再下乳香、沒藥去油，兒茶各一滿口神效打板膏：治死血鬱結，呃逆不食，並夾棍傷爛。</p>
<p>乳香　沒藥（各去油三兩）　輕粉　血竭（各三錢）　冰片（三分）　麝香（一分）　樟腦（二錢）</p>
<p>上為細末，將油蠟同化成膏，貼患處，晝夜流出惡水，即時蘇醒。</p>
<p>治夾打傷痛不可忍者：活鯽魚（一個約二三兩重者）　陳酒糟（一鐘）　銅末（五錢）　胡桃肉（四兩）　共搗敷患處。</p>
<p>預備夾棍方：並名小金蓮方。</p>
<p>乳香　沒藥（各去油一錢）　蓖麻仁（炒）　川烏　草烏（各五錢）</p>
<p>上共為末，將肥皂二十個，去弦及內外筋膜，同藥搗極爛，在夾棍先一日，做四餅，敷兩拐綿。</p>
<p>又方：肥皂（四五個）　地鱉蟲（二十個）　銅末（五錢）　陳糟（二兩）</p>
<p>共搗敷如前法。</p>
<p>治夾棍瘡方：初夾下將豬肉四兩，用胡椒照人一歲一粒，搗爛敷上扎好，不用洗，不可解動，一夜即愈。</p>
<p>又方：一出衙門，即用熱童便一盆，將足浸之。如便冷，燒紅磚二塊淬之即熱。直至童便面上，浮腳內服末藥方：人中白（　一兩）　自然銅（五錢）　乳香（去油二錢）　木耳（燒灰存性五錢）　牛膝（三錢）</p>
<p>共為末，再用牛膝三五錢，煎酒調服。</p>
<p>如無末藥可用：當歸　川芎　乳香　獨活　鱉虱　胡麻　毛薑　紅花　五加皮（各一錢）</p>
<p>將生白酒一壺煎數沸，隨量飲，避風寒，濃被蓋出汗即愈。如骨傷，加土鱉一枚。</p>
<p>治拶傷方。指上拶過有凹痕，用銀朱和酒磨濃，依痕圈之自復。</p>
<p>治自刎斷喉方：自刎者，乃迅速之症，須救在早，遲則額冷氣絕，必難救矣。</p>
<p>初刎時，氣未絕，身未冷，急用熱雞皮貼患處，安穩枕臥，或用絲線縫合刀口，摻上桃花散而不肉膏桃花散方：鍛石（半升）　大黃（一兩五錢切片）</p>
<p>二味同炒，至鍛石變紅色為度，去大黃，篩極細末，此藥並治一切刀瘡出血不止俱效。</p>
<p>余糧丸：治脫力勞傷。</p>
<p>皂礬（八兩用紅醋二茶杯　至通紅色放地上出火毒）　余糧石（四兩醋　七次）　砂仁（四錢薑漆（一兩炒到煙盡（一錢）　益母花（五錢）</p>
<p>上各為末，煮黑棗為丸，緩症朝服七分，夜服八分，重症每服一二錢，好酒下。此方不獨治年虛又方：禹糧石（四兩醋　）　皂礬（四兩浮麥　紅透）　生地（二兩醋炒）　熟地（二兩酒煮）</p>
<p>當歸（一兩）　陳香櫞（炒仁（炒）　白芷（炒）　川牛枳殼（各一兩）　草（酒拌晒）</p>
<p>上共為末，棗肉二斤，丸桐子大，朝服七分，暮服八分，陳酒送下。忌蕎麥諸豆面食魚腥萱</p>
<h3>圍藥</h3>
<p>將軍鐵箍散：治諸毒瘡紅腫突起，用藥四圍箍之，不令滋蔓走注毒瓦斯。</p>
<p>南星　大黃　蒼耳根　鹽霜白梅（各一兩）　白芨　白蘞　防風　川烏（各五錢）　草烏雄黃上為細末，先以蒼耳根霜梅搗爛拌藥，如干入醋調得勻，在瘡四圍用藥作鐵筆敷之，止留瘡芷、又方：白芨　白蘞　南星　半夏　劉寄奴（各四兩）　草烏　五倍子　石膏　大黃（各六兩）　芙蓉葉上共為末，毒硬者，綠豆粉和醋調敷，毒軟者，以蜜調敷，留頭出氣，外以紙貼之神效。</p>
<p>又方：五倍子（十兩焙黑）　鳳仙花子（三兩）　皂莢（三兩炙灰存性）　大黃　陳小粉（炒黑）　明礬（共為細末，醋調敷神效。一方：加芙蓉葉三兩。</p>
<p>圍藥方：無膿即消，有膿即潰。</p>
<p>五倍子（一兩）　白芷（六錢）　藤黃　百草霜（各三錢）　生半夏　生南星　白芨　陳小粉　飛共為末，紅醋調敷。</p>
<p>一筆消：治一切癰腫。</p>
<p>雄黃　膽礬　硼砂　藤黃　銅綠　皮硝　草烏（各一兩）　麝香（二錢）</p>
<p>上為細末，和蟾酥為條，如筆管大，金箔為衣，用時以醋磨濃，將新筆蘸藥塗四圍，連塗數神應圍藥：治氣血不和，壅遏為瘡，高腫赤痛者，又兼治痰鬱寒濕為瘡者。</p>
<p>用雄小活鯽魚七個，鮮山藥四兩，大蔥頭連須二十一個，共搗爛，再用千年陳鍛石半斤，生用治一切無名腫毒圍藥：藤黃（五錢）　五倍子（二兩）　白蜜　蔥頭（各一兩）</p>
<p>用米醋調圍患處，留頂勿敷。</p>
<p>應手散：金銀花　白芨　白蘞　川烏　草烏　芙蓉葉　南星　半夏　大黃　五倍子（炒黑）　陳小粉（酥（各五錢共研細末，臨用時加麝香一分，陽毒用醋調敷，陰毒燒酒調敷。如毒堅硬，加鮮山藥蔥白頭四蟲丹。治諸般疔瘡發背，一應惡瘡神效。</p>
<p>芙蓉葉　紫地丁（各一斤）　千金子（十兩去油殼）　桑蟲（二兩炙干）　活桑（一兩晒乾或炙干）</p>
<p>上用陰陽水四斤，煎至半斤去渣，再用紅蛄三兩，麝香三錢，雄黃一兩研，蜈蚣一兩研，燒入收篩立消腫毒方：名五色蟾酥墨。</p>
<p>雄黃　銀朱　膽礬　韶粉　藤黃　銅綠　硼砂（各一兩）　麝香（一錢）</p>
<p>上共為末，用蟾酥為條，如筆管大，陰乾，水磨塗患處立消。</p>
<p>治一切陰症，毒瘡惡癤初起，白色不甚腫，附骨極痛，敷藥提出陽分：生半夏　生山梔　生白芥子上各等分，飛面蔥汁白蜜調，圍頂上，留一小孔，干則以蔥蜜汁潤之，一日兩換，自然紅腫治陰症疽發：艾葉（一斤）　硫黃　雄黃（各五錢）</p>
<p>以水同煮半日，搗爛候溫敷上，再煮再易，十余次，知痛者可生。</p>
<p>治陰症敷藥方：山梔　苦杏仁（各二十一粒）　北細辛（二錢）　青殼鴨蛋清（一個）　白蘿卜（一小個）　飛面（上藥研末，共搗爛，寒天隔湯燉溫敷患處，每日一換，敷三次即消。</p>
<p>治陽症圍藥方：花粉　黃柏　薑黃　薄荷葉　人中白　大貝　五倍子　芙蓉葉（各三兩）　白芷　南星白芨上共為末敷患處。</p>
<p>拔毒異法：以極細鐵屑，將好醋煎二三沸，撈醋中鐵屑，鋪於患處，將上好活磁石一大塊，頻頻吸之，清涼救苦散。治一切天行時疫。頭面耳目鼻腮項頸紅腫痛。</p>
<p>芙蓉葉　桑葉　白芨　白蘞　車前　大黃　黃連　黃柏　白芷　雄黃　赤小豆　芒硝上各等分研末，蜜水調敷，頻頻掃之。</p>
<h3>提藥</h3>
<p>提藥方：治諸毒不起，敷之立起。</p>
<p>藤黃　雄黃（各三錢）　蟾酥　紅藥（各二錢）　冰片　麝香（各一錢）　蓖麻子肉（一兩）</p>
<p>先將蓖麻肉去皮，打如魚凍水，入諸藥打成膏，瓷罐收貯，勿令泄氣。按此方與砂藤散相較再大提藥方：圍敷初起對口發背惡疽，四五日即可消。</p>
<p>雄黃　藤黃　真當門子（各一錢）　朱砂（三分）　蓖麻子肉（三錢要不老不嫩）　紅升藥（一錢先將蓖麻子研如泥，後和各藥研爛，用象牙匣封藏，外用虎皮包好，則不泄氣。</p>
<p>黃提藥方：鬱金　雄黃　藤黃（各二錢）　牛黃　蟾酥　砂　麝香　冰片（各五分）　巴豆肉（八錢）　蓖上各研細搗磁，遇症放膏藥上少許貼之。治一切惡毒，未成可消，已成用之化腐，疔毒更妙白靈藥：爐甘石（一兩）　黃連（一錢）　黃柏　黃芩（各二錢）</p>
<p>將三黃煎濃汁，將甘石放在銀罐內，燒極紅收汁，約九次，以甘石酥為度，晒乾研細，加冰藥，紅升丹：名五靈升藥。</p>
<p>水銀　白礬（各五錢）　朱砂　雄黃（各二錢五分）　火硝（八錢）</p>
<p>上照升法升之。凡一切無名腫毒，如潰久內敗，四邊紫色黯色，將靈藥水調研稀，以雞毛掃插</p>
<h3>降藥</h3>
<p>白降丹：名夏冰對配丹。</p>
<p>水銀　淨火硝　白礬　皂礬　炒白鹽以上藥各九錢。煉法將前藥共研至不見水銀星，盛於新大傾銀罐內以微火熔化，火急則水銀藥吸鐵盆令出口，扇，盆灰貯待鐵盆如遇於毒少潤上升又方：水銀（一兩）　青鹽　皂礬（各二兩）　火硝（二兩半）　砂　雄黃　朱砂（各三錢）</p>
<p>白砒（五上共研勻，放陽城罐內，微火煨干，後降三炷香，候冷取藥。（不可放生人雞犬沖破）。</p>
<p>凡腫毒未成名件者。用醋調點患處頭上，看毒大小，如桐子大泡起，毒即消。若已成不肯穿者，亦用此丸，將膏藥貼頭上，半日即穿。</p>
<p>又方：水銀　火硝　生礬（各五分）　食鹽（二分）</p>
<p>上共研末，入傾銀罐內，放炭火上文火煎滾，滾至邊上先起焦黃色，候至滿面俱焦黃米色為內。</p>
<p>底上泥，簪腳比三代指頭倘硝依水分水銀尚太老，毒已穿</p>
<h3>代針點頭</h3>
<p>代針膏：治瘡瘍膿熟不潰。</p>
<p>乳香（二分）　白丁香　巴豆（炒焦）　鹼（各五分）</p>
<p>上為末，熱水調點瘡頭，干則常以鹼水潤之。</p>
<p>又方：桑木灰（七錢）　礦子灰（五錢）　蕎麥秸灰　茄科灰（各一兩）</p>
<p>上四味。放鍋內，水五碗，滾十數滾，用布袋濾去渣。將水從新用鐵杓熬至一小杯存用。</p>
<p>如般透骨丹：蟾酥　硼砂　輕粉　巴豆（各五錢）　蝸牛（二個）　麝香（一分）</p>
<p>先將藥研細，後入巴蝸再研，瓷瓶收貯，每用少許，乳汁化開，將瘡頭輕輕撥破，挑藥如米</p>
<h3>長肉收口</h3>
<p>生肌散：即名海龍粉。</p>
<p>龍骨　血竭　紅粉霜　乳香　沒藥　海螵蛸　赤石脂（各一分）　嫩石膏（二分）</p>
<p>上為細末，敷上極效。大凡諸生肌散內，要配紅粉霜。若要去腐肉，每生肌散一兩，配入粉又方：血竭　象皮　蚌殼灰　大貝母　龍骨（各一錢）　赤石脂　熟石膏（各二錢）　兒茶（八分）　乳收口摻藥：龍骨（一錢　熟）　濃象皮（二錢　）　熟石膏（五錢）　兒茶　輕粉　乳香　沒藥（二味去油）</p>
<p>上共為細末，摻上即愈。</p>
<p>又方：燈草灰　白螺螄殼　末　舊黑傘紙　灰　輕粉（各三分）　冰片珍珠（各五厘）　血竭（二分）</p>
<p>八寶丹：治腐肉已盡，新肉遲生，摻上立效。</p>
<p>乳香　沒藥（各去油）　血竭　輕粉（各二錢）　兒茶　龍骨　鉛粉（各一錢）　冰片（五分）</p>
<p>共為極細末，用筆管繃細紗篩瘡上。</p>
<p>潤肌散：治一切瘡癤結蓋後干痛，及冬月手足凍裂，並湯火傷。</p>
<p>當歸　生地（各五錢）　真麻油（四兩）　將藥入油內熬十數沸去渣，加黃蠟一兩，瓷瓶收貯。</p>
<h3>麻藥</h3>
<p>麻藥方：此系外科動刀針不痛之藥。</p>
<p>白芷　製半夏　川芎　木鱉（去殼依法泡制）　烏藥　牙皂　當歸　大茴香　紫荊皮（各二兩）</p>
<p>共為細末，每服一錢，好酒調下，麻木不知疼痛。若人昏沉，用鹽水飲之即解。</p>
<p>又方：名孫武散。</p>
<p>蓽茇　生半夏　南星　肉桂　乳香　沒藥　胡椒（各一錢）　川烏　三七　蟾酥　草烏（各二共為細末，入瓷瓶內，臨用敷之。</p>
<h3>瘤癭</h3>
<p>治血瘤方：用甘草煎膏，以筆塗四圍，一日上三次。又將芫花、大戟、甘遂，各等分為末，醋調，另以系瘤法：兼去鼠奶痔。</p>
<p>用芫花根洗淨，帶濕，不得犯鐵器，於木石器中搗取汁，用線一條浸半日或一宿，以線系瘤痔依消瘤方：用極細生鐵屑。醋拌放銅杓內　，干則再拌，如此三次，研極細，再用醋調敷，便覺患處不治眼皮生瘤方：用生雞蛋一個，頂上敲一小洞，入川貝母末三分，仍糊好，飯上蒸熟食之，每日吃三個，一月愈。</p>
<p>枯瘤散：灰莧菜（即藜藿晒乾燒灰半碗）　蕎麥（燒灰半碗）　風化鍛石（一碗）</p>
<p>三味和一處，淋汁三碗，慢火熬成霜，取下配後藥：番木鱉（三個搗去油）　巴豆（六十粒搗去油）　胡椒（十九粒擦去粗皮）　明雄（一錢）　人言（上共為末，入前藥和勻，以瓷瓶收貯，不可見風，以滴醋調勻，用新羊毛筆蘸藥點瘤當頭，如斂瘤膏：治癭瘤枯落後，用此搽貼生肌收口。</p>
<p>海螵蛸　血竭　輕粉　龍骨　象皮　乳香（各一錢）　雞蛋（五個煮熟用黃熬油一小鐘）</p>
<p>上各研細末，將蛋油調勻，用甘草湯洗淨患處，以雞毛掃敷，再將膏藥貼之。</p>
<p>治癭氣頸腫方：黃藥子一斤，酒十斤浸之，入瓶蒸透，常常飲之，勿絕酒氣，三五日漸消。常把鏡照，或以海帶丸：治癭氣久不消。</p>
<p>海帶　海藻　貝母　青皮　陳皮（各等分）</p>
<p>上共為末，蜜丸如彈子大，食後噙一丸。</p>
<h3>諸瘋</h3>
<p>治大麻瘋方：此症全身腫脹，頭發眉毛俱落，兩腳臭爛者。</p>
<p>將蝦蟆一只，用泥裹之，燒熟去泥，乘熱放瓷碗內，以滾黃酒沖入，上用小瓷碗蓋之，泡半治鵝掌瘋方：用白鴿糞為末，夜間先用生桐油塗患處，將鴿糞燒煙熏之。須用舊吊桶去底，罩火上，以手次即又方：用紫背浮萍不拘多少，晒乾，瓦上燒煙將患處熏之，到熱時，用扁柏搗汁塗之，極重又方：將　草一把，藏糟一小塊，煎湯洗手，將生桐油搽患處，用青松毛扎緊，炭火上燒煙熏手六又方：用大黃鱔一條，去腸與頭尾，切一寸一段，以香油一兩，入鍋內，將鱔魚豎起煎之，將枯，又方：並治一切手足瘋。</p>
<p>用香樟木打碎煎湯，每日早晚溫洗三次，洗半年必愈。</p>
<p>治鶴膝瘋方：此症初起，雖用火針及灸，及一切敷提之藥，皆不能效。必要使兩膝眼發泡，用老虎腳跡草，取其根打爛，入蜆殼內，合膝眼上扎好，待發泡挑穿出水，俟其結疤即能行葉俱亦又方：鬧羊花　蒼朮（各四兩）</p>
<p>將童便煎數滾洗患處。</p>
<p>又方：大肥皂（四個去核）　生薑　蔥（各四兩）　大附子（八錢）　硫黃（五錢）</p>
<p>將陳米醋一斤煮藥，搗如膏，加樟冰一兩共研，和敷患處止痛。</p>
<p>治白癜風方：硫黃　密陀僧　輕粉（各一錢）　麝香（五厘）</p>
<p>上共為細末，白水茄蒂蘸藥擦之，生薑片亦可，糟茄蒂更妙。</p>
<p>治腎囊風濕熱疙瘩作癢，搔之則痛：名蛇床子湯。</p>
<p>蛇床子　歸尾　靈仙　苦參（各五錢）</p>
<p>用水五碗煎數滾，入盆內先熏後洗，兩三次即愈。</p>
<p>治腎囊癢方：用蔥三十根，胡椒花椒各一兩，蛇床子末一兩，均作三服，煎湯洗之立愈。</p>
<p>治腎囊腫癢內有疥蟲：用好花椒烘脆研極細末，真地瀝青調塗，外以舊帛包之。</p>
<p>治腎囊瘋腎子腫大：一名繡球瘋。</p>
<p>將雞蛋煮熟，去白留黃炒出油，再用老杉木燒灰存性，調油搽之。</p>
<p>治腎子爛出方：用老杉木燒灰存性，蘇葉為末，各等分敷上，仍以蘇葉包之。</p>
<p>治腎子腫如水晶陰汗潮濕方：用灶心土三升研碎，砂鍋內炒極熱，加川椒、小茴香於上，將陰囊放在上面，冷即再炒，三治囊濕方：白枯礬（五錢）　蛇床子（二錢）　黃柏　大黃　石菖蒲（各一兩）</p>
<p>上為細末和勻，河水調敷，濕則干摻。或用六一散摻之亦效。</p>
<p>治男子陽痿囊濕、女人陰癢方：用蛇床子煎湯洗之立愈。</p>
<h3>癬疥</h3>
<p>治各種癬瘡方：用新鮮羊蹄葉不拘多少搗爛，加川椒白糖並食鹽少許，以布共包之，浸好陳醋內半日，取布治濕癬方：癬成濕瘡，浸淫轉甚，以至諸藥不效者。</p>
<p>用蘆薈二兩，炙甘草一兩，俱研極細末，先以溫漿水將癬洗淨敷之，立干便瘥，真神方也。</p>
<p>治癬方：用大露蜂房一個，不拘多少，以生礬填入孔內，用破罐盛之，仰口朝上，用炭火　令白礬化又方：火硝　鍛石　輕粉　硫黃　銀朱上各等分研細，用老薑汁、穀樹汁、大蒜汁、蜜汁、土大黃汁共和一鐘，將前藥入汁內，攪又方：名九熏丹。</p>
<p>用上好銅青二三兩研細，將上好燒酒拌之，須不干不濕，塗於粗工碗底內，翻轉合地上，以然後再研細，將燒酒拌做成錠子。用時以醋磨搽，每日三五次，三五日後，若覺干裂，以菜油少許潤之，七日可愈矣。</p>
<p>又方：生半夏（三粒）　明礬（一錢）　鳳仙花（二十朵梗葉亦可）　土大黃根（不拘多少）</p>
<p>上共搗爛，和醋少許，先以穿山甲刮碎患處，擦上即愈。</p>
<p>又方：銀朱　藤黃（各一錢）</p>
<p>將穀樹汁調搽，一二次即愈。</p>
<p>又方：川槿皮　海桐皮　尖檳　樟冰　苦參　黃柏　白芨（各二錢）　雷丸（一錢五分）　楓子杏仁用火酒浸七日，將穿山甲刮癬少碎，以酒搽之即愈。</p>
<p>又方：土槿皮（二兩）　苦參（一兩）　斑蝥（一錢去頭足尾炒黃）　土木鱉子肉（三錢）　尖檳榔　生礬用河水井水火酒各一碗，將前六味先浸一宿，至臨煎時入南星半夏，再添河水井水火酒各一又方：名五黃散。</p>
<p>雞腳大黃　硫黃　雄黃　薑黃　藤黃上各等分為細末，菜油調塗患處，七日勿洗浴全愈。</p>
<p>又方：硫黃（一兩研細）　蛇床子（一兩，略炒枯取起，乘熱摻入硫末，令其收入。）　生礬　枯礬上共為細末，以生豬板油去筋膜搗如泥，調和少許，先將患處刮碎，以手指染藥擦之。</p>
<p>藥不治癩疥瘡方：生礬　枯礬　水銀（各二錢）　雄黃（三錢）　尖檳榔（五錢忌見火）　蛇床子（五錢炒）　斑蝥（先將水銀放罐子內，即入青鉛二錢，俟青鉛與水銀烊成一塊取起。然後將檳榔研細，次將斑搽又方：蛇床子　苦參　蕪荑（各一兩）　雄黃（五錢）　枯礬（一兩二錢）　硫黃（五錢）　輕粉（二錢）</p>
<p>上各為細末，生豬油調擦。</p>
<h3>汗斑</h3>
<p>治汗斑方：白附子　硫黃　密陀僧（各一兩）</p>
<p>上俱為末，用生薑蘸搽，三五日即愈。</p>
<p>又方：密陀僧（五錢）　硫黃（一兩）</p>
<p>上研細末醋調，煨薑蘸搽患處，次日即焦，每日搽一次，七日內須忌洗浴，待其黑色退即愈治夏月汗斑如疹方：密陀僧（八錢）　雄黃（四錢）</p>
<p>上研極細，以薑蘸藥擦之。</p>
<p>治痱子方：綠豆粉（一兩）　滑石（五錢）　輕粉（二錢）</p>
<p>上為細末，以棉蘸藥撲於患處。</p>
<h3>雀斑</h3>
<p>治雀斑方：名艷容膏。</p>
<p>白芷　甘菊花（去梗各三錢）　白果（二十個）　紅棗（十五個）　珠兒粉（五錢）　豬胰（一個）</p>
<p>上將珠粉研細，余俱搗爛拌勻，外以蜜拌酒釀燉化，入前藥蒸過，每晚搽面，清晨洗去。</p>
<p>又方：名玉容散。</p>
<p>白僵蠶　白附子　白芷　三柰　硼砂（各三錢）　石膏　滑石（各五錢）　白丁香（一錢）　冰片上為細末，臨睡用少許，水和搽面，人乳調搽更妙。</p>
<p>治雀斑酒刺白屑瘋皮作癢：名玉肌散。</p>
<p>真綠豆粉（八面）　滑石（一兩）　白芷（一兩）　白附子（五錢）</p>
<p>上共為細末，每晚用數錢搽面。</p>
<p>治雀斑亦治瘡疤：將清水調鷹糞塗之自愈。</p>
<h3>疣痣</h3>
<p>點一切疣痣及息肉雞眼方：桑柴灰、風化鍛石各一斤，鮮威靈仙六兩煎濃汁，淋二灰取汁熬成稀膏，瓷器收貯，用點諸治痣方：用水調鍛石一盞，如稠粥樣，揀整糯米不破者，半插灰中，半出灰外，經一宿米色變如水晶</p>
<h3>兒科</h3>
<h4>初生</h4>
<p>治小兒初生下滿身無皮但是紅肉：用早稻米粉干撲，至生皮方止。或以伏龍肝雞子清調塗。</p>
<p>小兒初生，即服此藥，花痘稀疏，並不生瘡癤：大黃（一分）　甘草（一分）　朱砂（五厘另研末）</p>
<p>將上二味人乳浸，飯上燉一時去渣，加入朱砂調勻服之。</p>
<p>凡小兒初生，口　並牙根生白點，名馬牙不能食乳：急用針挑破出血，用好京墨薄荷湯磨，以手指蘸墨遍口　擦之，切勿令食乳，待睡方可。</p>
<h4>雪口</h4>
<p>小兒雪口：硼砂（七厘）　火硝（三厘）　冰片（五厘）　銅綠（一厘）</p>
<p>共研極細末，用新羊毛筆，蘸桐油潤筆，再蘸藥末，敷於口舌上，半日即愈，甚者敷二三次小兒初生數日內不吃乳：舊方用豬婆乳，然而難得。</p>
<p>今即用活蚌剖開，取水三四茶匙服之，即能吃乳矣，神妙。</p>
<h4>臍風</h4>
<p>小兒臍風：初生後七日，或臍口受風，令兒生病。令乳母每日午時前，看小兒上　牙根，但有如粟米白臍爛不干：用白羯子，即　子，燒灰敷上即愈。或用枯礬、龍骨　過為末敷上。</p>
<p>封臍散：斷臍帶後用。</p>
<p>龍骨（一錢　）　紅棉灰（一錢）　歸頭（一錢焙）</p>
<p>上為細末，用少許干摻臍內。</p>
<p>小兒無辜卒死：取蔥白納入下部及兩鼻孔中，氣通或嚏即活。</p>
<h4>稀痘</h4>
<p>稀痘丹：赤豆（小飯赤豆）　黑豆　綠豆　粉草（各一兩）</p>
<p>為細末，用竹筒刮去皮，兩頭留節，一頭鑿一孔，以藥末入筒中，用杉木砧塞緊，黃蠟封固錢和兒葷稀痘神方：（傳方之家已十三代未出天花矣。）</p>
<p>蓖麻子（三十六粒，去殼，揀白色者去衣用，黃色者不用。）　朱砂（一錢，須透紅劈砂，另將三味於乳缽內研爛如泥，每年端午日午時，用手指蘸藥，搽兒頭頂心、前心、後心、兩手任其</p>
<h4>痧痘</h4>
<p>梅花丸：治小兒痘疹，起死回生之藥。</p>
<p>臘月取梅花不拘多少。陰乾有一兩外用。</p>
<p>當歸（一錢五分）　茯苓（一錢）　升麻（五分）　竹茹（八分）　甘草（三分）</p>
<p>用水鐘半，煎至八分，溫熱時將梅花拌浸一日，取出晒乾研極細末。如小兒病，用雄雞一只刻見日聽宜多人牙散：人牙（一兩鹽泥固濟　存性）</p>
<p>研極細末，每服一枚，酒下。凡痘密如蠶種，皮毛一片，無異蠶跡者，死症也。法取人牙換痘丹：犀角（一兩）　梅蕊（一兩）　絲瓜灰（一兩）　雄黃（一錢）　朱砂（二錢）　滑石（一錢）　麝香（上為末，用麻黃膏丸如芡實大，每服一丸，酒漿化下。凡痘密如蠶種，皮毛一片者，服此毒紫金錠：治小兒一切危痘，各照湯引磨服神效。</p>
<p>辰砂（五錢）　陳膽星（五錢）　蟬蛻（三錢）　甘草（三錢）　麝香（一錢）　蛇含石（四兩）　一方方：加僵蠶（三錢）　白附共為極細末，飯搗丸，每錠重五分。</p>
<p>救逆痘：痘至七八日，或十日，灰陷倒塌，抓破無血，空殼無漿，目開不食，破損處如焦木老白雄雞冠血，愈多愈妙，白酒釀十匙，芫荽汁二十匙，三味攪和，隔湯燉，徐徐熱服。</p>
<p>少米神燈照法：治痘癢塌之極，火到癢除。</p>
<p>川椒　艾葉　紅棗　芫荽　茵陳　乳香　白芷梢　陳香櫞　安息香共為末，作紙捻熏照。</p>
<p>白螺散：治痘抓破。</p>
<p>白螺螄（不拘多少）　片腦（少許）</p>
<p>香油調搽患處即愈。</p>
<p>治痘後翻疤，膿水漬蔓延：赤石脂（一兩）　寒水石（一兩）　大貝母（七錢）</p>
<p>為末干摻。</p>
<p>象牙散：治痘後翻疤。</p>
<p>新象牙（三錢）　兒茶（一錢半）　僵蠶（二錢炒斷絲）　珍珠（三錢腐制）</p>
<p>共為極細末，用油胭脂調塗，毒水如注，漸漸收口。</p>
<p>痘瘡余毒、眼目膜障：用蛇蛻一具，洗淨焙燥，又用天花粉與蛇蛻各等分，以羊肝破開，入藥在內，麻皮縛定，再拔毒散：治痘後手足肩背痘毒癰腫。</p>
<p>韶粉（一兩）　大黃（五錢炒）　雄黃（三錢另研）　五倍子（一兩炒）　乳香（五錢另研）　沒藥（錢炒）　白芷（一兩焙）共為細末，蜜水調搽。</p>
<p>治痘毒方：用新鮮楝樹根皮，同綠豆搗爛，濃敷患處立愈。</p>
<p>齒病敷藥方：治小兒痘疹余毒，牙齦破爛出血，或成走馬牙疳者立效。並治大人牙爛，口舌人中白（一錢）　銅綠（三分）　麝香（一分）</p>
<p>共為細末，茶洗口牙淨後，用指頭蘸藥末敷上即愈。</p>
<p>天花開在眼中方：用新象牙磨水，滴入眼，其花即退。</p>
<p>痧症發不透：穿山甲（五分炙為末收起）</p>
<p>先以西河柳一兩，薄荷五分，水煎濾清，入白酒釀山甲末，調和熱服，暑月不用酒釀。</p>
<h4>驚癇</h4>
<p>探生散：治小兒急慢驚風，諸藥不治，以此定其死生。</p>
<p>雄黃（一錢）　沒藥（一錢）　乳香（五分）　麝香（二分半）</p>
<p>上為末，用少許吹鼻中，如眼淚鼻涕皆出者可治。</p>
<p>青礞石散：治小兒急慢驚風，潮涎壅塞，命在須臾，此藥入口即活。</p>
<p>青礞石一兩，入砂鍋內，同火硝一兩，用炭火　令通紅，以硝盡為度，候冷如金色，研為細治小兒急慢驚風：五月五日午時，取白頸蚯蚓，不拘多少，去泥，活搗爛，加辰砂等分，和勻為丸，如綠豆大跳小兒急驚風：急驚者，身熱面紅痰盛，忽然手足牽引，啼不出聲，目睛上視者是。</p>
<p>取活蚌一個，銀簪腳挑開，滴入薑汁，將蚌仰天片時，即有水出，用瓷杯受之，隔湯燉熱，小兒急驚風：石菖蒲搗爛，絞汁二三十匙，老薑汁數匙，和勻灌下即愈。</p>
<p>啞驚風：細葉菖蒲搗汁，和雪梨汁同飲。</p>
<p>小兒驚癇迷悶嚼舌仰目者：犀角尖（五分磨）</p>
<p>滾水沖服。</p>
<p>小兒五癇：甘遂末（一錢）</p>
<p>豬心一個，外以干面糊包，在灶火內煨熟，去甘遂末，連面食之。</p>
<p>秘傅抱龍丸：專治小兒著驚，嚇傷心肝二經，即唇青四肢搖動，起臥不安。蓋抱者保也，龍赤芍（一錢）　川貝母（一錢七分）　防風（五錢）　桔梗（三錢）　明天麻（一錢七分）　鉤藤（三竺黃（三錢）　茯神（二共為細末。煉蜜丸芡實大，朱砂為衣，每服一丸，滾湯下，有外邪薑湯下。</p>
<p>諸羊癲風：白礬（一兩）　雨茶（一兩）</p>
<p>共為細末，蜜和丸桐子大，每服五十丸，食遠陳茶送下，小兒二三十丸。</p>
<h4>疳瘡、疳積、諸瘡丹毒</h4>
<p>猴子疳：名二粉散。是症從肛門，或陰囊邊紅暈爛起，漸至皮膚，不結靨，或眼梢口旁亦紅遍身綠豆粉（一兩）　標朱（一兩）　冰片（一分或二三分亦可）　輕粉（一錢半）</p>
<p>上為極細末，將金汁調鵝毛蘸敷上。如無金汁，雪水亦可，或用燈心甘草湯亦可。一方：輕乳母煎藥方：小兒患猴疳，乳母亦宜服藥，量精神強弱，服分數不拘。</p>
<p>黃連　金銀花　連翹　甘草　赤芍　當歸　牛膝　桔梗　黑山梔　薄荷　木通上各等分，用新汲水煎，渣再煎，食遠服。</p>
<p>頭耳疳瘡：將明松香，用草紙卷之，浸菜油內半日取出，點火將淋下油，加飛丹、枯礬在內調勻，冷定頭面疳瘡：黃丹（三錢）　枯礬（一錢）　黃柏（三錢）　銅綠（三錢）　白芷（三錢）</p>
<p>共研細，菜油調搽，一二次必愈。</p>
<p>頭上疳瘡：明松香一兩，入蔥管內煮過，待冷干了，同飛丹一兩，　過頭發三錢，研細，菜油調搽。</p>
<p>又方：飛丹（五錢）　搽面宮粉（三錢）　明松香（一兩）</p>
<p>將蔥管數根，入松香在內，水煮數滾，去蔥晒乾研末，五倍子將銅杓焙黑，略有微煙取出研治面耳疳瘡下疳諸般惡症：樟腦（二兩）　銅青　輕粉　楓子肉（各一兩）　蛇床子（二兩）　雄黃　黃丹　寒水石硫黃（共為細末，豬油調搽。</p>
<p>痧痘後走馬牙疳：明礬（五分）　冰片（一分半）　白硼砂（二錢）　人中白（一錢　）　皮硝（一錢）　雄黃牛糞尖（共研細末，吹入患處立愈。</p>
<p>小兒痘後痧後牙疳方：雄黃牛糞尖。須用經霜者妙，瓦上炒成灰存性，每錢入冰片二分研細治小兒走馬牙疳方：用女人溺桶中白，以火　過，研末一錢，銅綠三分，麝香一分。</p>
<p>共為末，搽患處即愈。</p>
<p>小兒口疳：並治走馬牙疳。</p>
<p>冰片（一分五厘）　甘草（二分）　兒茶（二分）　龍骨（一分二厘）　黃柏（五厘）　薄荷（五分）</p>
<p>春夏用薄荷五分，兒茶二分；秋冬用薄荷三分五厘，兒茶一分五厘。腐爛者，方加龍骨。</p>
<p>走口疳吹藥：人中白（一兩）　黃柏末（一兩）　青黛（一錢）　枯礬（三錢）　冰片（少許）　文蛤（三錢）　紫甘共為細末，吹之立愈。</p>
<p>集仙固齒丹：五倍（三分）　龍骨（二分）　甘草（三分）　蔗皮灰（五分）　人中白（五分）　黃柏末（三分）　青黃牛糞尖（一個炙存性）</p>
<p>共為細末吹之。</p>
<p>治小兒口瘡，並治牙疳：人龍用尿洗淨，瓦上焙脆研細，和青黛少許，冰片少許，研勻搽之立愈。</p>
<p>珠薈散：治小兒五疳積發熱，牙疳並花後牙疳。</p>
<p>真蘆薈（五分）　龍腦　薄荷葉（五分）　珍珠（四分研至無聲）　真青黛（三分）　官硼砂（二分）</p>
<p>上為極細末，瓷瓶貯好，以蠟塞口，勿令泄氣，臨用吹患處。</p>
<p>治小兒疳疾：用蝦蟆一個，放在瓶內，將紙封口，過七日，再用洗淨糞中蛆，不拘多少，入瓶中，任蝦蟆治頭面疳瘡，及白泡濕毒等瘡，並治痘後翻疤，婦人蝕瘡神效。</p>
<p>五倍子（一兩去蛀屑微焙）　枯礬（二錢五分）　沒藥（二錢去油）　飛丹（五錢湯泡淡炒）　蛇床（二錢去油）</p>
<p>共為極細末，將老松香和熟豬油卷在青客布內，以火燃之，滴油於碗內，待冷將油調藥搽之消疳無價散：治小兒疳積，並治疳眼。</p>
<p>石決明（一兩半　過）　爐甘石（五錢童便　）　滑石（五錢）　雄黃（二錢）　朱砂　冰片（五分）　海螵蛸（五錢　去殼）</p>
<p>共為細末，量兒大小，三分或五六七分，用不落水雞肝，竹刀切片，上開下連，摻藥在內，雞肝藥：滑石（六錢水飛）　雄黃（二錢）　朱砂（三錢水飛忌見火）　冰片（三分）　石決明（一兩半　）</p>
<p>共為末，每雞肝一具，入藥末五分，陳酒米泔各半盞，飯上蒸熟食之，開瞽復明。</p>
<p>又方：每疳積夜眼方：名五色雞肝散。</p>
<p>石決明（一兩九孔者童便　）　爐甘石（六錢　）　赤石脂（五錢　）　朱砂（五錢水飛不見火）</p>
<p>各研極細末，每歲一分，用不落水雞肝一具，竹刀切開，摻藥在內，箬包扎，瓦罐內米泔煮治小兒夜盲，或疳積後目閉翳膜者：羯羊肝（一具）　穀精草（一握）</p>
<p>瓦罐內煮熟，不時食之甚效。</p>
<p>小兒咳嗽發喘，鼻扇肺脹：名百花礬。</p>
<p>透明白生礬（一錢研極細末）</p>
<p>用生白蜜三四錢調和，放舌上，徐徐吃下即愈。</p>
<p>治小兒痞塊：名三反膏。</p>
<p>生甘草　甘遂　莧菜（各三錢）　鱉肉（一兩）　砂（一錢）　木鱉子肉（四個去殼）</p>
<p>加蔥白七根，入蜜少許，搗成膏，攤狗皮上貼之，如藥略干，加蔥蜜潤下，用二次愈。</p>
<p>治蟲：朝吃榧子三四個，下午吃使君子三四個，其蟲即盡。但須兼服補脾胃藥，不然蟲盡則傷人，治小兒蟲積方：榧子二三斤，陸續吃完即愈。</p>
<p>蒜螺丹：治小兒水腫腹脹，小便不利。</p>
<p>大田螺（四個）　大蒜（五個）　車前（三錢）　麝香（少許）</p>
<p>上前三味同研，後加麝香再研為餅，每用一個貼臍中，將膏藥護之，水從小便出。</p>
<p>兌金丸：有黃黑二種，通治小兒百病，二種藥共十四兩。</p>
<p>白丑（黃者用。二兩，去殼，磨極細，頭末。）　大黃（二兩）　川連（三錢）　雄黃（二兩）　膽蟆（極大者，用至黃煙出為度黛（一兩）　石膏（一兩）　滑石（一兩）　胡連（三錢）　神麯（五錢）</p>
<p>上二種丸藥，俱用生研，水法丸如米粞之小，每歲各一丸，勻服，早晚各進一次。</p>
<p>陽春白雪糕：補養脾胃。</p>
<p>白茯苓（四兩）　山藥（四兩炒）　芡實（四兩）　蓮肉（四兩去心）　陳倉米（半升）</p>
<p>糯米（半升）</p>
<p>先將藥米粉蒸熟，再入白糖，印作餅子晒乾。</p>
<p>鍋焦丸：小兒常用健脾消食。</p>
<p>鍋焦（炒黃三斤）　神麯（四兩炒）　砂仁（二兩炒）　山楂（四兩蒸）　蓮肉（四兩去心）　雞肫皮共為細末，加白糖米粉和勻，焙作餅用。</p>
<p>肥兒丸：常用可免飲食傷脾之症。</p>
<p>山藥（二兩炒）　茯苓　白扁豆（炒）　五穀蟲（淘洗淨炒）　山楂（炒）　白芍（炒）</p>
<p>麥芽（炒）</p>
<p>兩）　生甘草（七錢）</p>
<p>蜜丸綠豆大，每服一錢。</p>
<p>小兒胎痰，獨生一個白色不紅者：南星　半夏　川烏　草烏俱生用等分研末，或蔥蜜，或雞鴨蛋清調敷，一切外症，色白者皆可用。</p>
<p>胎癩：名粉艾丹。</p>
<p>先用豬膽汁浴淨，再用宮粉調塗碗內晒乾，用艾熏至老黃色，取下為末，絹袋撲之。</p>
<p>小兒白禿癩瘡：名美首膏。</p>
<p>百草霜（一兩）　雄黃（一兩）　膽礬（六錢）　輕粉（一錢）　榆樹皮（三錢）</p>
<p>用鍛石窯內燒紅流結土渣四兩，共為細末，豬膽汁調，剃頭後搽之，神方也。</p>
<p>治白禿頭瘡方：俗稱臘梨頭。</p>
<p>用皂礬（一錢炒紅）　土楝樹子（三錢炒）　黃豆（五錢炒焦）　川椒（一錢炒出汗）</p>
<p>共研極細，以豆腐泔水洗之，待燥，用地瀝青調搽隨愈。</p>
<p>小兒頭上黃水瘡及禿痂神效，名香粉油：黃丹（一兩水飛）　無名異（一錢炒）　宮粉（一錢炒）　輕粉（三分炒）</p>
<p>片松香二兩為末，入蔥管內，用線扎定，水煮融化，去蔥候干，共為細末，香油調搽神效。</p>
<p>治黃水瘡：八寶丹。</p>
<p>螵蛸（一兩去骨）　赤石脂（一錢二分　）　文蛤（一錢二分炒焦）　白龍骨（八錢）　兒茶（一錢）</p>
<p>共為末，摻上神效。</p>
<p>治小兒黃水瘡：不論頭面遍身俱有，水流濕處即生。</p>
<p>用鉛粉不拘多少研細，井花水濃調糊干大碗內，將艾火煙熏復碗內粉，熏至綠色為度，取下治黃水瘡方：石膏（三錢　）　龍骨（三錢　）　片松香（三錢）　白礬（三錢　）</p>
<p>上藥共研細末，以雞蛋黃熬油，和前藥敷上。</p>
<p>治小兒體肥，耳後腋下陰間濕癢者：用海螵蛸研末，炒微黃敷之甚良。其次用宮粉敷之亦好。</p>
<p>治小兒　拱頭：銅綠（八錢）　杏仁（七十五粒去皮尖）　木鱉子（五個去殼）　乳香（五錢）　沒藥（五錢）　血竭共搗成千捶膏貼之。</p>
<p>治小兒　拱頭：名綠燕丹。</p>
<p>取多年地瀝青，入銅杓內熬滾去渣，再入銅綠生礬燕窩泥調勻搽。</p>
<p>又方：用死貓頭一個，在瓦上　焦黑存性研末，摻在加味太乙膏上，貼之即愈。</p>
<p>小兒鼻衄不能吃乳：鮮生地黃，搗爛取汁灌之即愈。</p>
<p>砭小兒丹法：小兒頭上生游丹欲砭者，必令臥在凳上，將腳跟一頭，用磚二塊墊起凳腳，以墜毒瓦斯於頭頂生矣赤游丹：青黛（二分）　雄黃（五厘）　蜒蚰（一條）</p>
<p>用瓦松一枝，同打爛絞汁敷。</p>
<p>又方：活蜒蚰　蔥頭　飛面雞子白調敷。一方：加白蜜少許。</p>
<p>小兒遺尿：用不落水雞　一具，雞腸一條，豬尿胞一個，各炙焦為細末，每服一錢，黃酒送下，女用</p>
<h3>婦科</h3>
<h4>經帶崩漏</h4>
<p>治干血勞奇方：過三年者不治。</p>
<p>用白鴿子一只，去肚腸淨，入血竭一年者一兩，二年者二兩，三年者三兩，用針線縫住，用治婦人女子帶下虛脫症極效方：芡實粉（二兩）　白茯苓（二兩）　赤石脂（一兩　）　牡蠣（一兩醋　）　禹餘糧（一兩）　牛角共為末，好醋一杯，拌和前藥晒乾，再搗末打糊為丸，每服二錢。</p>
<p>治婦人久積虛寒，小便白濁，並滑數不禁：用鹿角屑炒黃為末，每服二錢，溫酒空心下。</p>
<p>治婦人臟躁之症：好哭悲傷，顛狂罵人，如有鬼神。平時女人好哭，自己不知其故，服之最生甘草（三兩）　小麥（一升）　紅棗（十枚）</p>
<p>水六升，煮三升，分三次服即愈。</p>
<p>經閉：土鱉蟲（一兩炙存性）　上好血珀末（五錢）　麝香（三錢）</p>
<p>酒打和為丸，每服三分。</p>
<p>血淋：用發灰二兩，藕汁調服，痛脹甚者，三日即愈。</p>
<p>治血崩：大生地（一兩炒）　龍骨（四錢　研極細）　生牡蠣（四錢研極細）　石榴皮（三錢炒）</p>
<p>烏梅肉（錢炒）</p>
<p>上研極細末，用淮山藥五錢研末，醋水打糊為丸，分作七日服。內加人參三錢尤效，或用人血崩方：陳棕灰　百草霜　頭發灰（各一兩）</p>
<p>共為末，每服一錢，陳酒下。</p>
<p>治血崩不止：用陳棕、棉花子二味，燒灰存性，黃酒送下即止。</p>
<p>月水逆行、上退場門鼻：韭汁童便溫服。</p>
<p>小便血：鮮地骨皮洗淨，搗自然汁，無汁以水煎濃汁，每服一杯，加酒少許，食前溫服。能清心腎，治孕婦痢疾秘傳妙方：用雞蛋一個，破一孔，如指大，以銀簪腳攪勻，加入黃丹三錢五分，用紙封口，在飯鍋上蒸</p>
<h4>胎前</h4>
<p>安胎方：胎氣不安，或腹痛，或腰痛，或飲食不甘，俱宜服之，或五六個月常服數貼最妙，人參（五分虛者加倍）　白朮（一錢土炒）　陳皮（五分）　甘草（三分）　當歸（一錢）　川芎（八芩（一錢炒）</p>
<p>腹痛倍加白芍，腰痛加鹽水炒杜仲、川斷，內熱口渴去砂仁加麥冬，見紅加酒炒地榆、生地又方：歸身（一錢五分）　川芎（七分）　白芍（一錢炒）　熟地（一錢）　白朮（一錢五分）</p>
<p>條芩（一錢如或下血加蒲黃、阿膠，腹痛加香附、枳殼，如惡阻加竹茹去地黃。</p>
<p>治胎漏方：用炒熟蠶豆殼磨末，每服三四錢，加沙糖少許調服。</p>
<p>治死胎不下：皮硝二錢，壯者三錢，寒月加熟附子五分，酒半杯，童便一杯，煎二三沸溫服。</p>
<p>治胎衣不下：用牛膝三錢，葵子五錢，水煎服。</p>
<h4>產後</h4>
<p>產後腹脹閉結，膨悶氣結，坐臥不安：大麥芽炒為末，用一合，陳酒調。一方：每服三錢。</p>
<p>產後面紫：乃惡血上衝氣壅，故目不合。</p>
<p>山楂（一兩炒枯）</p>
<p>童便煎服。</p>
<p>產後面黑：乃惡血入肺，發喘欲死。</p>
<p>蘇木（一兩）</p>
<p>水三鐘煎至一鐘，調人參細末五錢服。</p>
<p>治產後惡露不盡發熱：用童子母雞一只，竹刀殺，干　去毛破肚，將陳酒洗淨，用益母草花一二兩，裝入雞肚內，調酒一產後血暈：韭菜切入有嘴瓶內，將醋三碗，煎滾入瓶內，將瓶嘴塞產婦鼻孔即醒。</p>
<p>產後陰翻：澤蘭葉煎濃湯熏洗即收。</p>
<h4>乳疾</h4>
<p>吹乳不通：雄豬前腳爪一個，鬼饅頭二個，並煮食之，一日即通，雖無子女人食之亦有乳。</p>
<p>治乳不通：絲瓜連子燒存性，酒下一二錢，被蓋取汗即通。</p>
<p>治乳岩方：此病先因乳中一粒大如豆，漸漸大如雞蛋，七八年後方破爛，一破則不可治矣，生蟹殼數十枚，放砂鍋內焙焦為末，每服二錢，好酒調下，須日日服，不可間斷。</p>
<p>青皮散：治乳癰初起。</p>
<p>青皮（去瓤）　山甲（炒）　白芷　甘草　土貝母（各八分）</p>
<p>為細末，溫酒調服。</p>
<p>乳癰乳痛敷方：活鯽魚（一個）　鮮山藥（一段如魚長者）</p>
<p>同搗爛敷上，以紙蓋之。</p>
<p>吹奶乳癰：南星　半夏　皂角（去皮弦子炒黃）　五倍子（去蟲窠炒黃）</p>
<p>各等分研極細末，醋調敷，一宿立效。</p>
<p>乳癰煎方：乳香（一錢）　沒藥（五分）　苡仁（二錢）　川芎（五分）　甘草（五分）　防風（一錢）　銀花（二木通（一錢）　香附（一錢）　貝水酒各半煎，食後服，四服必愈。</p>
<p>乳癰乳岩及外吹：螃蟹蒸熟取腳上指甲，砂鍋內微火炙脆研末一兩，配鹿角銼末二錢。如遇此症，用陳酒飲治乳癖：用蝦蟆一個去皮令淨，入半夏三錢，麝香半分，共搗爛為一大餅，敷患處，用帛縛之，約三乳癰奶癤：活螃蟹十余只，取腳爪尖，約七八錢，陰陽瓦炙黃研末，陳酒送下，出汗即愈。</p>
<p>治乳癰癖　敷藥：用野花椒葉晒乾為末，雞子清調敷立愈，癰尤效。</p>
<p>神效栝蔞散，治婦人乳疽奶勞。</p>
<p>黃栝蔞（子多者一個，去皮焙為細末，如急用只爛研。）　川當歸（洗去蘆焙切細半兩）</p>
<p>生甘上用無灰酒三升，同於銀石器中，慢火熬取一升清汁，分為三次，食後服。如有奶勞便服此乳內消乳　方：大貝母、白芷等分為末，每服二錢，白酒下。如有郁症，加白蒺藜。若有孕，忌用白芷。</p>
<p>治男婦乳　秘方無不立愈：鮮橘葉（多些）　夏枯草　香附（童便制）　青皮先將夏枯草切碎，用青皮香附晒乾，後將橘葉放石臼內打爛，同前藥拌勻，再晒極干，後方治乳瘰　：潰爛者方可服，神效。</p>
<p>雄鼠糞（三錢兩頭尖者便是）　土楝樹子（三錢經霜者佳川者不用）　露峰房（三錢）</p>
<p>俱　存性為末，分作三服，酒下，間兩日服。一服痛即止，膿盡收斂奇效。</p>
<p>治乳痛：極凶者不過四貼。</p>
<p>炒白芍（八分）　甘草（三分）　蘇梗（七分）　柴胡（七分）　炒黃芩（八分）　香附（一錢醋炒）</p>
<p>翹（八分）　栝蔞霜（八加橘葉三十片，水二鐘，煎八分，食遠服。無孕加青皮八分醋炒，有孕去青皮，加薑汁、炒海上乳毒奇方：當歸　漏蘆　穿山甲　獨活　乳香　沒藥　桔梗　青皮水酒煎服立消。</p>
<h4>雜症</h4>
<p>雄黃藜蘆散：治婦人陰中突出如蛇。或雞冠菌樣者。</p>
<p>雄黃（一錢）　冰片（二分）　輕粉（一錢）　鱉頭（　黃色一錢）　蔥管藜蘆（二錢研細如面）</p>
<p>俱為末，和勻再研，瓷罐收貯，先用芎歸湯煎洗，隨後搽藥，早晚二次，其患漸收。</p>
<p>芎歸湯：川芎　當歸　白芷　甘草　膽草各等分，每用五錢，煎湯洗患處搽藥。</p>
<p>婦人乳腫：不論內外吹，名必消散。</p>
<p>取五穀大楊樹上木耳菌，拭淨，瓦上炙焦存性為末，每服三錢，沙糖調陳酒送下即消。</p>
<p>婦人陰戶內生瘡癢痛難堪：用鮮豬肝切成條，於香油中微燙過，抹樟腦川椒末，插入戶內，引蛆蟲，候一時辰，取出再婦人陰戶內生瘡作癢：活蚌一個，剖開將有肉半個，手拿對陰戶一夜，次日又用一個全安。（蛤蚌亦不用甚大。）</p>
<p>婦人陰瘡如蟲咬癢痛者：生搗桃葉綿裹納之，一日三四易。</p>
<p>婦人交接傷陰，出血不止：五倍子研極細末摻之。</p>
<h3>附錄</h3>
<h4>急救諸方</h4>
<p>立消疔瘡外治神效方：松香（二十兩制法附後）　沒藥（三兩研極細末）　白蠟（二兩切為粗末）　銅綠（五兩研細過絹無聲為度）　明選吉日，淨室焚香齋戒虔誠修合，忌婦人雞犬及孝服人見。用桑柴火先將麻油入鍋煎滾，次七內神速之效，百發百中，疔瘡藥之至寶也。此方活人甚多，是當廣為傳揚。貼後忌食葷腥辛辣，沸湯大熱食生冷發物，面食豆腐茄子黃瓜酒。忌水洗，忌惱怒憂悶，大忌房事。</p>
<p>制松香法：用桑柴灰煎汁澄清，入松香煮爛，取出納冷水中。少時再納灰水中煮，以色白如玉為度。</p>
<p>取百草霜法：先須刮淨鍋底，專燒茅柴百草，取煙煤用。如以別種柴煙煤用入，則不驗。</p>
<p>戒鴉片煙癮方：潞黨參（一兩）　金櫻子（一兩）　粟殼（四錢）　萊菔子（一兩）　韭菜子（一兩）　半夏（一兩）</p>
<p>此方將各味煎好，濾去渣滓，和入陳酒內再煎一沸，置蓋缽中，勿令泄氣，於癮至之前，先煙急救誤食洋煙方：明雄二錢，雞蛋清一個，生桐油一兩，調勻河水灌服即吐，或吐有未盡，用硬雞毛或鴨毛蘸分明者，時肚急救難產良方：三麻四豆脫衣裳，合研細末加麝香；共成一餅貼交骨，須臾母子兩分張。</p>
<p>此方用蓖麻子三個巴豆四個均去皮，加麝香二分同研成餅，貼產門上交骨，其胎立下。</p>
<p>如月三日治傷方：晉人尚氣，每有事甚細微，一語不合，輒即斗毆，刃傷較他省為多，又不善於調治慎選照辦急十寶散冰片（一分二厘）　麝香（一分二厘）　辰砂（一錢二分）　乳香（去油一錢二分）　子紅花（四錢）</p>
<p>藥（一錢四分）</p>
<p>以上十味，共為細末，貯瓷瓶，黃蠟封口，勿令走氣。</p>
<p>一治跌打損傷皮肉青腫未破者，用陳醋調敷患處，腫消即愈。</p>
<p>一治刃傷並各器械傷皮破血出者，以藥末摻上包裹，不可見風，血止即愈。</p>
<p>一治內傷骨碎或骨已斷折，先將骨節湊準，用陳醋調藥末，濃敷患處，以紙裹，外加老棉緊如一治刃傷深重未致透膜者，先用桑皮線縫好，多摻藥末於上，以活雞皮急急貼護，如前骨損一遇跌打昏迷不省，急用少許，以陳醋沖服，自然醒轉，以便調治。</p>
<p>此方神奇，雖遇至重之傷，鮮有不起生者。</p>
<p>張蘭渚中丞頒發，天長縣署奉到後，即照方修合，用之屢效。因思此種良藥，不特牧民者可急救跌打損傷方：並治馬踢刀箭等傷白附子（十二兩研末）　白芷　天麻　生南星　防風　羌活（各一兩研末）</p>
<p>就破處敷上，傷重者，用黃酒浸服數錢，青腫者，水調敷上。</p>
<p>破傷風方：荊芥（五錢）　黃蠟（五錢）　魚鰾（五錢炒黃色）　艾葉（三片）</p>
<p>入無灰酒一碗，重湯煮一炷香，熱飲之，汗出立愈，惟百日內不可食雞肉。</p>
<p>解砒毒神效方：防風（一兩）</p>
<p>研細末，清水調服。</p>
<p>又方：石青研末，清水調服。</p>
<p>以上諸方，系百試百驗，真有起死回生之功，勿以尋常方藥視之。還望好善諸君，廣為傳播</p>
