<header><h1>傷寒論（宋本）</h1></header>
<dl class="元資料" data-type="book">
<div><dt>作者</dt><dd>張仲景</dd></div>
<div><dt>朝代</dt><dd>東漢</dd></div>
<div><dt>年份</dt><dd><data value="25/220">公元25年至公元220年</data></dd></div>
<div><dt>品質</dt><dd>90%</dd></div>
<div><dt>底本</dt><dd>出自《四部叢刊初編·註解傷寒論》（晉·王叔和編次，宋·林億校正，明·趙開美校刻，沈琳同校）（<a href="https://ctext.org/library.pl?if=gb&res=2640">浙江大學圖書館掃描本</a>、<a href="https://www.kanripo.org/edition/SBCK/KR3e0008/">文字版</a>）</dd></div>
</dl>
<h2>林億校序</h2>
<p>夫《傷寒論》，蓋祖述大聖人之意，諸家莫其倫擬。故晉皇甫謐序《甲乙針經》云：伊尹以元聖之才，撰用《神農本草》，以為湯液。漢張仲景論廣湯液，為數十卷，用之多驗。近世太醫令王叔和，撰次仲景遺論甚精，皆可施用。是仲景本伊尹之法，伊尹本神農之經，得不謂祖述大聖人之意乎？</p>
<p>張仲景《漢書》無傳。見《名醫錄》云：南陽人，名機，仲景乃其字也。舉孝廉，官至長沙太守，始受術於同郡張伯祖。時人言，識用精微過其師。所著論，其言精而奧，其法簡而詳，非淺聞寡見者所能及。自仲景於今八百餘年，惟王叔和能學之，其間如葛洪、陶<span class="校"><small class="雙行小字">弘</small></span>景、胡洽、徐之才、孫思邈輩，非不才也，但各自名家，而不能修明之。開寶中，節度使高繼沖，曾編錄進上。其文理舛錯，未嘗考正。歷代雖藏之書府，亦闕於讎校，是使治病之流，舉天下無或知者。國家詔儒臣校正醫書，臣奇續被其選。以為百病之急，無急於傷寒。今先校定張仲景《傷寒論》十卷，總二十二篇，證外合三百九十七法，除重複，定有一百一十二方，今請頒行。</p>
<p>　　　　太子右贊善大夫臣　　　　　高保衡<br>
　　　　尚書屯田員外郎臣　　　　　孫　奇<br>
　　　　尚書司封郎中秘閣校理臣　　林　億<br>
　　　　　　　　　　　　　　　　　　　等　謹上</p>
<h2>張仲景原序</h2>
<p>論曰：余每覽越人入虢之診，望齊侯之色，未嘗不慨然嘆其才秀也。怪當今居世之士，曾不留神醫藥，精究方術，上以療君親之疾，下以救貧賤之厄，中以保身長全，以養其生。但競逐榮勢，企踵權豪，孜孜汲汲，惟名利是務；崇飾其末，忽棄其本，華其外而悴其內。皮之不存，毛將安附焉？卒然遭邪風之氣，嬰非常之疾，患及禍至，而方震慄。降志屈節，欽望巫祝，告窮歸天，束手受敗。齎百年之壽命，持至貴之重器，委付凡醫，恣其所措。咄嗟嗚呼！厥身已斃，神明消滅，變為異物，幽潛重泉，徒為啼泣。痛夫！舉世昏迷，莫能覺悟，不惜其命，若是輕生，彼何榮勢之云哉？而進不能愛人知人，退不能愛身知已，遇災值禍，身居厄地；矇矇昧昧，蠢若游魂。哀乎！趨世之士，馳競浮華，不固根本，忘軀徇物，危若冰谷，至於是也！</p>
<p>余宗族素多，向餘二百。建安紀年以來，猶未十稔，其死亡者，三分有二，傷寒十居其七。感往昔之淪喪，傷橫夭之莫救，乃勤求古訓，博采眾方，撰用《素問》、《九卷》、《八十一難》、《陰陽大論》、《胎臚藥錄》，并平脈辨證，為《傷寒雜病論》合十六卷，雖未能盡愈諸病，庶可以見病知源，若能尋余所集，思過半矣。</p>
<p>夫天布五行，以運萬類；人稟五常，以有五臟。經絡府俞，陰陽會通；玄冥幽微，變化難極。自非才高識妙，豈能探其理致哉！上古有神農、黃帝、歧伯、伯高、雷公、少俞、少師、仲文，中世有長桑、扁鵲，漢有公乘陽慶及倉公。下此以往，未之聞也。</p>
<p>觀今之醫，不念思求經旨，以演其所知；各承家技，終始順舊。省疾問病，務在口給；相對斯須，便處湯藥。按寸不及尺，握手不及足；人迎、趺陽，三部不參；動數發息，不滿五十。短期未知決診，九候曾無彷彿。明堂闕庭，盡不見察，所謂窺管而已。夫能視死別生，實為難矣！</p>
<p>孔子云：生而知之者上，學則亞之。多聞博識，知之次也。余素尚方術，請事斯語。</p>
<h2>卷第一</h2>
<h3>辨脈法第一</h3>
<p>問曰：脈有陰陽者，何謂也？答曰：凡脈大、浮、數、動、滑，此名陽也；脈沉、濇、弱、弦、微，此名陰也，凡陰病見陽脈者生，陽病見陰脈者死。</p>
<p>問曰：脈有陽結陰結者，何以別之？答曰：其脈浮而數，能食，不大便者，此為實，名曰陽結也，期十七日當劇。其脈沉而遲，不能食，身體重，大便反鞕，名曰陰結也，期十四日當劇。</p>
<p>問曰：病有灑淅惡寒而復發熱者何？答曰：陰脈不足，陽往從之；陽脈不足，陰往乘之。曰：何謂陽不足？答曰：假令寸口脈微，名曰陽不足，陰氣上入陽中，則灑淅惡寒也。曰：何謂陰不足？答曰：假令尺脈弱，名曰陰不足，陽氣下陷入陰中，則發熱也。</p>
<p>陽脈浮<span class="校"><small class="雙行小字">一作微</small></span>陰脈弱者，則血虛。血虛則筋急也。</p>
<p>其脈沉者，榮氣微也。</p>
<p>其脈浮，而汗出如流珠者，衛氣衰也。</p>
<p>榮氣微者，加燒針，則血流不行，更發熱而躁煩也。</p>
<p>脈<span class="校"><small class="雙行小字">一云秋脈</small></span>藹藹，如車蓋者，名曰陽結也。</p>
<p>脈<span class="校"><small class="雙行小字">一云夏脈</small></span>纍纍，如循長竿者，名曰陰結也。</p>
<p>脈瞥瞥，如羹上肥者，陽氣微也。</p>
<p>脈縈縈，如蜘蛛絲者，陽氣<span class="校"><small class="雙行小字">一云陰氣</small></span>衰也。</p>
<p>脈綿綿，如瀉漆之絕者，亡其血也。</p>
<p>脈來緩，時一止復來者，名曰結。脈來數，時一止復來者，名曰促<span class="校"><small class="雙行小字">一作縱</small></span>。脈陽盛則促，陰盛則結，此皆病脈。</p>
<p>陰陽相搏，名曰動。陽動則汗出，陰動則發熱。形冷惡寒者，此三焦傷也。</p>
<p>若數脈見於關上，上下無頭尾，如豆大，厥厥動搖者，名曰動也。</p>
<p>陽脈浮大而濡，陰脈浮大而濡，陰脈與陽脈同等者，名曰緩也。</p>
<p>脈浮而緊者，名曰弦也。弦者狀如弓弦，按之不移也。脈緊者，如轉索無常也。</p>
<p>脈弦而大，弦則為減，大則為芤。減則為寒，芤則為虛。寒虛相搏，此名為革。婦人則半產、漏下，男子則亡血、失精。</p>
<p>問曰：病有戰而汗出，因得解者，何也？答曰：脈浮而緊，按之反芤，此為本虛，故當戰而汗出也。其人本虛，是以發戰。以脈浮，故當汗出而解也。</p>
<p>若脈浮而數，按之不芤，此人本不虛；若欲自解，但汗出耳。不發戰也。</p>
<p>問曰：病有不戰而汗出解者，何也？答曰：脈大而浮數，故知不戰，汗出而解也。</p>
<p>問曰：病有不戰不汗出而解者，何也？答曰：其脈自微，此以曾經發汗、若吐、若下、若亡血，以內無津液，此陰陽自和，必自愈，故不戰不汗出而解也。</p>
<p>問曰：傷寒三日，脈浮數而微，病人身涼和者，何也？答曰：此為欲解也，解以夜半。脈浮而解者，濈然汗出也；脈數而解者，必能食也；脈微而解者，必大汗出也。</p>
<p>問曰：脈病，欲知愈未愈者，何以別之？答曰：寸口、關上、尺中三處，大小、浮沉、遲數同等，雖有寒熱不解者，此脈陰陽為和平，雖劇當愈。</p>
<p>立夏得洪<span class="校"><small class="雙行小字">一作浮</small></span>大脈，是其本位。其人病身體苦疼重者，須發其汗。若明日身不疼不重者，不須發汗。若汗濈濈自出者，明日便解矣。何以言之？立夏得洪大脈，是其時脈，故使然也。四時倣此。</p>
<p>問曰：凡病欲知何時得，何時愈？答曰：假令夜半得病，明日日中愈；日中得病，夜半愈。何以言之？日中得病，夜半愈者，以陽得陰則解也；夜半得病，明日日中愈者，以陰得陽則解也。</p>
<p>寸口脈浮為在表，沉為在裏，數為在府，遲為在藏。假令脈遲，此為在藏也。</p>
<p>趺陽脈浮而濇，少陰脈如經也，其病在脾，法當下利。何以知之？若脈浮大者，氣實血虛也。今趺陽脈浮而濇，故知脾氣不足，胃氣虛也。以少陰脈弦而浮<span class="校"><small class="雙行小字">一作沉</small></span>，才見此為調脈，故稱如經也。若反滑而數者，故知當屎膿也。
寸口脈浮而緊，浮則為風，緊則為寒；風則傷衛，寒則傷榮。榮衛俱病，骨節煩疼，當發其汗也。</p>
<p>趺陽脈遲而緩，胃氣如經也。趺陽脈浮而數，浮則傷胃，數則動脾，此非本病，醫特下之所為也。榮衛內陷，其數先微，脈反但浮，其人必大便鞕，氣噫而除。何以言之？本以數脈動脾，其數先微，故知脾氣不治，大便鞕，氣噫而除。今脈反浮，其數改微，邪氣獨留，心中則饑，邪熱不殺穀，潮熱發渴，數脈當遲緩，脈因前後度數如法，病者則饑。數脈不時，則生惡瘡也。</p>
<p>師曰：病人脈微而濇者，此為醫所病也。大發其汗，又數大下之，其人亡血，病當惡寒，後乃發熱，無休止時，夏月盛熱，欲著複衣，冬月盛寒，欲裸其身。所以然者，陽微則惡寒，陰弱則發熱，此醫發其汗，令陽氣微，又大下之，令陰氣弱。五月之時，陽氣在表，胃中虛冷，以陽氣內微，不能勝冷，故欲著複衣；十一月之時，陽氣在裏，胃中煩熱，以陰氣內弱，不能勝熱，故欲裸其身。又陰脈遲濇，故知血亡也。</p>
<p>脈浮而大，心下反鞕，有熱屬藏者，攻之，不令發汗。屬府者，不令溲數。溲數則大便鞕，汗多則熱愈，汗少則便難，脈遲，尚未可攻。</p>
<p>脈浮而洪，身汗如油，喘而不休，水漿不下，體形不仁，乍靜乍亂，此為命絕也。又未知何藏先受其災，若汗出、髮潤、喘不休者，此為肺先絕也。陽反獨留，形體如煙熏，直視搖頭，此心絕也。唇吻反青，四肢漐習者，此為肝絕也。環口黧黑，柔汗發黃者，此為脾絕也。溲便遺失，狂言，目反直視者，此為腎絕也。</p>
<p>又未知何藏陰陽前絕，若陽氣前絕，陰氣後竭者，其人死，身色必青；陰氣前絕，陽氣後竭者，其人死，身色必赤，腋下溫，心下熱也。</p>
<p>寸口脈浮大，而醫反下之，此為大逆。浮則無血，大則為寒，寒氣相搏，則為腸鳴，醫乃不知，而反飲冷水，令汗大出，水得寒氣，冷必相搏，其人即䭇。趺陽脈浮，浮則為虛，浮虛相搏，故令氣䭇，言胃氣虛竭也，脈滑則為噦。此為醫咎，責虛取實，守空迫血。脈浮、鼻中燥者，必衄也。</p>
<p>諸脈浮數，當發熱，而灑淅惡寒，若有痛處，飲食如常者，畜積有膿也。脈浮而遲，面熱赤而戰惕者，六七日當汗出而解。反發熱者，差遲。遲為無陽，不能作汗，其身必癢也。</p>
<p>寸口脈陰陽俱緊者，法當清邪中於上焦，濁邪中於下焦。清邪中上，名曰潔也；濁邪中下，名曰渾也。陰中於邪，必內慄也，表氣微虛，裏氣不守，故使邪中於陰也。陽中於邪，必發熱、頭痛、項強、頸攣、腰痛、脛酸。所為陽中霧露之氣，故曰清邪中上，濁邪中下。陰氣為慄，足膝逆冷，便溺妄出，表氣微虛，裏氣微急，三焦相溷，內外不通。上焦怫鬱，藏氣相熏，口爛食斷也。中焦不治，胃氣上衝，脾氣不轉，胃中為濁，榮衛不通，血凝不流。若衛氣前通者，小便赤黃，與熱相搏，因熱作使，遊於經絡，出入藏府，熱氣所過，則為癰膿。若陰氣前通者，陽氣厥微，陰無所使，客氣內入，嚏而出之，聲嗢咽塞，寒厥相逐，為熱所擁，血凝自下，狀如豚肝。陰陽俱厥，脾氣孤弱，五液注下，下焦不闔，清便下重，令便數難，臍築湫痛，命將難全。</p>
<p>脈陰陽俱緊者，口中氣出，唇口乾燥，踡臥足冷，鼻中涕出，舌上胎滑，勿妄治也。到七日已來，其人微發熱，手足溫者，此為欲解；或到八日以上，反大發熱者，此為難治。設使惡寒者，必欲嘔也；腹內痛者，必欲利也。</p>
<p>脈陰陽俱緊，至於吐利，其脈獨不解，緊去人安，此為欲解。若脈遲至六七日，不欲食，此為晚發，水停故也，為未解；食自可者，為欲解。</p>
<p>病六七日，手足三部脈皆至，大煩而口噤不能言，其人躁擾者，必欲解也。若脈和，其人大煩，目重，瞼內際黃者，此為欲解也。</p>
<p>脈浮而數，浮為風，數為虛，風為熱，虛為寒，風虛相搏，則灑淅惡寒也。</p>
<p>脈浮而滑，浮為陽，滑為實，陽實相搏，其脈數疾，衛氣失度，浮滑之脈數疾，發熱汗出者，此為不治。</p>
<p>傷寒欬逆上氣，其脈散者死，謂其形損故也。</p>
<h3>平脈法第二</h3>
<p>問曰：脈有三部，陰陽相乘；榮衛血氣，在人體躬；呼吸出入，上下於中；因息遊布，津液流通；隨時動作，效象形容，春弦秋浮，冬沉夏洪；察色觀脈，大小不同；一時之間，變無經常；尺寸參差，或短或長；上下乖錯，或存或亡；病輒改易，進退低昂；心迷意惑，動失紀綱；願為具陳，令得分明。
師曰：子之所問，道之根源。脈有三部，尺寸及關；榮衛流行，不失衡銓；腎沉心洪，肺浮肝弦；此自經常，不失銖分；出入升降，漏刻周旋；水下二刻，一周循環；當復寸口，虛實見焉；變化相乘，陰陽相干；風則浮虛，寒則牢堅；沉潛水畜，支飲急弦；動則為痛，數則熱煩；設有不應，知變所緣；三部不同，病各異端；太過可怪，不及亦然；邪不空見，中必有奸；審察表裏，三焦別焉；知其所舍，消息診看；料度府藏，獨見若神。為子條記，傳與賢人。</p>
<p>師曰：呼吸者，脈之頭也。初持脈，來疾去遲，此出疾入遲，名曰內虛外實也。初持脈，來遲去疾，此出遲入疾，名曰內實外虛也。</p>
<p>問曰：上工望而知之，中工問而知之，下工脈而知之，願聞其說。師曰：病家人請云，病人若發熱，身體疼，病人自臥。師到，診其脈，沉而遲者，知其差也。何以知之？表有病者，脈當浮大，今脈反沉遲，故知愈也。</p>
<p>假令病人云，腹內卒痛，病人自坐。師到，脈之，浮而大者，知其差也。何以知之？若裏有病者，脈當沉而細，今脈浮大，故知愈也。</p>
<p>師曰：病家人來請云，病人發熱煩極。明日師到，病人向壁臥，此熱已去也。設令脈不和，處言已愈。設令向壁臥，聞師到，不驚起而盼視，若三言三止，脈之嚥唾者，此詐病也。設令脈自和，處言汝病大重，當須服吐下藥，針灸數十百處乃愈。</p>
<p>師持脈，病人欠者，無病也；脈之呻者，病也；言遲者，風也；搖頭言者，裏痛也；行遲者，表強也；坐而伏者，短氣也；坐而下一腳者，腰痛也；裏實護腹，如懷卵物者，心痛也。</p>
<p>師曰：伏氣之病，以意候之。今月之內，欲有伏氣，假令舊有伏氣，當須脈之。若脈微弱者，當喉中痛似傷，非喉痹也。病人云：實咽中痛。雖爾，今復欲下利。</p>
<p>問曰：人病恐怖者，其脈何狀？師曰：脈形如循絲，纍纍然，其面白脫色也。</p>
<p>問曰：人不飲，其脈何類？師曰：其脈自濇，唇口乾燥也。</p>
<p>問曰：人愧者，其脈何類？師曰：脈浮，而面色乍白乍赤。</p>
<p>問曰：經說脈有三菽、六菽重者，何謂也？師曰：脈者，人以指按之，如三菽之重者，肺氣也；如六菽之重者，心氣也；如九菽之重者，脾氣也；如十二菽之重者，肝氣也；按之至骨者，腎氣也。</p>
<p>假令下利，寸口、關上、尺中悉不見脈，然尺中時一小見，脈再舉頭者，腎氣也。若見損脈來至，為難治。</p>
<p>問曰：脈有相乘，有縱有橫，有逆有順，何也？師曰：水行乘火，金行乘木，名曰縱；火行乘水，木行乘金，名曰橫；水行乘金，火行乘木，名曰逆；金行乘水，木行乘火，名曰順也。</p>
<p>問曰：脈有殘賊，何謂也？師曰：脈有弦、緊、浮、滑、沉、濇，此六者名曰殘賊，能為諸脈作病也。</p>
<p>問曰：脈有災怪，何謂也？師曰：假令人病，脈得太陽，與形證相應，因為作湯。比還送湯如食頃，病人乃大吐，若下利，腹中痛。師曰：我前來不見此證，今乃變異，是名災怪。又問曰：何緣作此吐利？答曰：或有舊時服藥，今乃發作，故名災怪耳。</p>
<p>問曰：東方肝脈，其形何似？師曰：肝者木也，名厥陰，其脈微弦，濡弱而長，是肝脈也。肝病自得濡弱者，愈也。假令得純弦脈者，死。何以知之？以其脈如弦直，是肝藏傷，故知死也。</p>
<p>南方心脈，其形何似？師曰：心者火也，名少陰，其脈洪大而長，是心脈也。心病自得洪大者，愈也。假令脈來微去大，故名反，病在裏也；脈來頭小本大者，故名覆，病在表也。上微頭小者，則汗出；下微本大者，則為關格不通，不得尿，頭無汗者可治，有汗者死。</p>
<p>西方肺脈，其形何似？師曰：肺者金也，名大陰，其脈毛浮也，肺病自得此脈。若得緩遲者，皆愈；若得數者，則劇。何以知之？數者南方火，火剋西方金，法當癰腫，為難治也。</p>
<p>問曰：二月得毛浮脈，何以處言至秋當死？師曰：二月之時，脈當濡弱，反得毛浮者，故知至秋死。二月肝用事，肝脈屬木，應濡弱，反得毛浮者，是肺脈也。肺屬金，金來剋木，故知至秋死。他皆倣此。</p>
<p>師曰：脈肥人責浮，瘦人責沉。肥人當沉，今反浮；瘦人當浮，今反沉，故責之。</p>
<p>師曰：寸脈下不至關，為陽絕；尺脈上不至關，為陰絕。此皆不治，決死也。若計其餘命死生之期，期以月節剋之也。</p>
<p>師曰：脈病人不病，名曰行尸，以無王氣，卒眩僕不識人者，短命則死。人病脈不病，名曰內虛，以無穀神，雖困無苦。</p>
<p>問曰：翕奄沉，名曰滑，何謂也？沉為純陰，翕為正陽，陰陽和合，故令脈滑。關尺自平，陽明脈微沉，食飲自可。少陰脈微滑，滑者緊之浮名也，此為陰實，其人必股內汗出，陰下濕也。</p>
<p>問曰：曾為人所難，緊脈從何而來？師曰：假令亡汗、若吐，以肺裏寒，故令脈緊也。假令欬者，坐飲冷水，故令脈緊也。假令下利，以胃中虛冷，故令脈緊也。</p>
<p>寸口衛氣盛，名曰高；榮氣盛，名曰章；高章相搏，名曰綱。衛氣弱，名曰惵；榮氣弱，名曰卑；惵卑相搏，名曰損。衛氣和，名曰緩；榮氣和，名曰遲；遲緩相搏，名曰沉。</p>
<p>寸口脈緩而遲，緩則陽氣長，其色鮮，其顏光，其聲商，毛髮長；遲則陰氣盛，骨髓生，血滿，肌肉緊薄鮮鞕。陰陽相抱，榮衛俱行，剛柔相搏，名曰強也。</p>
<p>趺陽脈滑而緊，滑者胃氣實，緊者脾氣強。持實擊強，痛還自傷，以手把刃，坐作瘡也。</p>
<p>寸口脈浮而大，浮為虛，大為實。在尺為關，在寸為格。關則不得小便，格則吐逆。</p>
<p>趺陽脈伏而濇，伏則吐逆，水穀不化，濇則食不得入，名曰關格。</p>
<p>脈浮而大，浮為風虛，大為氣強；風氣相搏，必成癮疹，身體為癢，癢者名泄風，久久為痂癩。</p>
<p>寸口脈弱而遲，弱者衛氣微，遲者榮中寒。榮為血，血寒則發熱；衛為氣，氣微者心內饑，饑而虛滿不能食也。</p>
<p>趺陽脈大而緊者，當即下利，為難治。</p>
<p>寸口脈弱而緩，弱者陽氣不足，緩者胃氣有餘，噫而吞酸，食卒不下，氣填於膈上<span class="校"><small class="雙行小字">一作下</small></span>也。</p>
<p>趺陽脈緊而浮，浮為氣，緊為寒；浮為腹滿，緊為絞痛。浮緊相搏，腸鳴而轉，轉即氣動，隔氣乃下，少陰脈不出，其陰腫大而虛也。</p>
<p>寸口脈微而濇，微者衛氣不行，濇者榮氣不足。榮衛不能相將，三焦無所仰，身體痹不仁。榮氣不足，則煩疼，口難言；衛氣虛，則惡寒數欠。三焦不歸其部，上焦不歸者，噫而酢吞；中焦不歸者，不能消穀引食；下焦不歸者，則遺溲。</p>
<p>趺陽脈沉而數，沉為實，數消穀。緊者，病難治。</p>
<p>寸口脈微而濇，微者衛氣衰，濇者榮氣不足。衛氣衰，面色黃；榮氣不足，面色青。榮為根，衛為葉，榮衛俱微，則根葉枯槁，而寒慄、欬逆唾腥、吐涎沫也。</p>
<p>趺陽脈浮而芤，浮者衛氣衰，芤者榮氣傷。其身體瘦，肌肉甲錯，浮芤相搏，宗氣衰微，四屬斷絕。</p>
<p>寸口脈微而緩，微者衛氣疏，疏則其膚空；緩者胃氣實，實則穀消而水化也。穀入於胃，脈道乃行，而入於經，其血乃成。榮盛則其膚必疏，三焦絕經，名曰血崩。</p>
<p>趺陽脈微而緊，緊則為寒，微則為虛，微緊相搏，則為短氣。</p>
<p>少陰脈弱而濇，弱者微煩，濇者厥逆。</p>
<p>趺陽脈不出，脾不上下，身冷膚鞕。</p>
<p>少陰脈不至，腎氣微，少精血，奔氣促迫，上入胸隔，宗氣反聚，血結心下，陽氣退下，熱歸陰股，與陰相動，令身不仁，此為尸厥，當刺期門、巨闕。</p>
<p>寸口脈微，尺脈緊，其人虛損多汗，知陰常在，絕不見陽也。</p>
<p>寸口諸微亡陽，諸濡亡血，諸弱發熱，諸緊為寒。諸乘寒者，則為厥，鬱冒不仁，以胃無穀氣，脾濇不通，口急不能言，戰而慄也。</p>
<p>問曰：濡弱何以反適十一頭？師曰：五藏六府相乘，故令十一。</p>
<p>問曰：何以知乘府，何以知乘藏？師曰：諸陽浮數為乘府，諸陰遲濇為乘藏也。</p>
<h2>卷第二</h2>
<h3>傷寒例第三</h3>
<p>陰陽大論云：春氣溫和，夏氣暑熱，秋氣清涼，冬氣冷冽，此則四時正氣之序也。冬時嚴寒，萬類深藏，君子固密，則不傷於寒。觸冒之者，乃名傷寒耳。其傷於四時之氣，皆能為病。以傷寒為毒者，以其最成殺厲之氣也。中而即病者，名曰傷寒；不即病者，寒毒藏於肌膚，至春變為溫病，至夏變為暑病。暑病者，熱極重於溫也。是以辛苦之人，春夏多溫熱病，皆由冬時觸寒所致，非時行之氣也。凡時行者，春時應暖，而復大寒；夏時應大熱，而反大涼；秋時應涼，而反大熱；冬時應寒，而反大溫。此非其時而有其氣，是以一歲之中，長幼之病多相似者，此則時行之氣也。</p>
<p>夫欲候知四時正氣為病，及時行疫氣之法，皆當按斗曆占之。九月霜降節後，宜漸寒，向冬大寒，至正月雨水節後，宜解也。所以謂之雨水者，以冰雪解而為雨水故也。至驚蟄二月節後，氣漸和暖，向夏大熱，至秋便涼。</p>
<p>從霜降以後，至春分以前，凡有觸冒霜露，體中寒即病者，謂之傷寒也。其冬有非節之暖者，名曰冬溫。冬溫之毒，與傷寒大異。冬溫復有先後，更相重沓，亦有輕重，為治不同，證如後章。</p>
<p>從立春節後，其中無暴大寒，又不冰雪；而有人壯熱為病者，此屬春時陽氣，發於冬時伏寒，變為溫病。</p>
<p>從春分以後，至秋分節前，天有暴寒者，皆為時行寒疫也。三月四月，或有暴寒，其時陽氣尚弱，為寒所折，病熱猶輕；五月六月，陽氣已盛，為寒所折，病熱則重；七月八月，陽氣已衰，為寒所折，病熱亦微。其病與溫及暑病相似，但治有殊耳。</p>
<p>十五日得一氣，於四時之中，一時有六氣，四六名為二十四氣也。然氣候亦有應至而不至，或有未應至而至者，或有至而太過者，皆成病氣也。但天地動靜，陰陽鼓擊者，各正一氣耳。是以彼春之暖，為夏之暑；彼秋之忿，為冬之怒。</p>
<p>是故冬至之後，一陽爻升，一陰爻降也。夏至之後，一陽氣下，一陰氣上也。斯則冬夏二至，陰陽合也；春秋二分，陰陽離也。陰陽交易，人變病焉。此君子春夏養陽，秋冬養陰，順天地之剛柔也。小人觸冒，必嬰暴疹。須知毒烈之氣，留在何經，而發何病，詳而取之。</p>
<p>是以春傷於風，夏必飧泄；夏傷於暑，秋必病瘧；秋傷於濕，冬必欬嗽；冬傷於寒，春必病溫。此必然之道，可不審明之。</p>
<p>傷寒之病，逐日淺深，以施方治。今世人傷寒，或始不早治，或治不對病，或日數久淹，困乃告醫。醫人又不依次第而治之，則不中病。皆宜臨時消息制方，無不效也。今搜採仲景舊論，錄其證候、診脈、聲色，對病真方，有神驗者，擬防世急也。</p>
<p>又土地溫涼，高下不同；物性剛柔，餐居亦異。是黃帝興四方之問，岐伯舉四治之能，以訓後賢，開其未悟者。臨病之工，宜須兩審也。</p>
<p>凡傷於寒，則為病熱，熱雖甚，不死。若兩感於寒而病者，必死。</p>
<p>尺寸俱浮者，太陽受病也，當一二日發。以其脈上連風府，故頭項痛，腰脊強。
尺寸俱長者，陽明受病也，當二三日發。以其脈俠鼻，絡於目，故身熱、目疼、鼻乾、不得臥。
尺寸俱弦者，少陽受病也，當三四日發。以其脈循脅，絡於耳，故胸脅痛而耳聾。
此三經皆受病，未入於府者，可汗而已。</p>
<p>尺寸俱沉細者，太陰受病也，當四五日發。以其脈布胃中，絡於嗌，故腹滿而嗌乾。
尺寸俱沉者，少陰受病也，當五六日發。以其脈貫腎、絡於肺、繫舌本，故口燥舌乾而渴。
尺寸俱微緩者，厥陰受病也，當六七日發。以其脈循陰器、絡於肝，故煩滿而囊縮。
此三經皆受病，已入於府，可下而已。</p>
<p>若兩感於寒者，一日太陽受之，即與少陰俱病，則頭痛口乾、煩滿而渴；二日陽明受之，即與太陰俱病，則腹滿身熱、不欲食、譫語；三日少陽受之，即與厥陰俱病，則耳聾，囊縮而厥，水漿不入，不知人者，六日死。若三陰三陽、五藏六府皆受病，則榮衛不行，府藏不通，則死矣。</p>
<p>其不兩感於寒，更不傳經，不加異氣者，至七日太陽病衰，頭痛少愈也；八日陽明病衰，身熱少歇也；九日少陽病衰，耳聾微聞也；十日太陰病衰，腹減如故，則思飲食；十一日少陰病衰，渴止舌乾，已而嚏也；十二日厥陰病衰，囊縱，少腹微下，大氣皆去，病人精神爽慧也。</p>
<p>若過十三日以上不間，尺寸陷者，大危。</p>
<p>若更感異氣，變為他病者，當依舊壞證病而治之。</p>
<p>若脈陰陽俱盛，重感於寒者，變為溫瘧。</p>
<p>陽脈浮滑，陰脈濡弱者，更遇於風，變為風溫。</p>
<p>陽脈洪數，陰脈實大者，遇溫熱，變為溫毒，溫毒為病最重也。</p>
<p>陽脈濡弱，陰脈弦緊者，更遇溫氣，變為溫疫<span class="校"><small class="雙行小字">一本作瘧</small></span>。以此冬傷於寒，發為溫病，脈之變證，方治如說。</p>
<p>凡人有疾，不時即治，隱忍冀差，以成痼疾。小兒女子，益以滋甚。時氣不和，便當早言，尋其邪由，及在腠理，以時治之，罕有不愈者。患人忍之，數日乃說，邪氣入藏，則難可制，此為家有患，備慮之要。</p>
<p>凡作湯藥，不可避晨夜，覺病須臾，即宜便治，不等早晚，則易愈矣。若或差遲，病即傳變，雖欲除治，必難為力。服藥不如方法，縱意違師，不須治之。</p>
<p>凡傷寒之病，多從風寒得之。始表中風寒，入裏則不消矣。未有溫覆而當不消散者。不在證治，擬欲攻之，猶當先解表，乃可下之。若表已解，而內不消，非大滿，猶生寒熱，則病不除。若表已解，而內不消，大滿大實，堅有燥屎，自可除下之，雖四五日，不能為禍也。若不宜下，而便攻之，內虛熱入，協熱遂利，煩躁諸變，不可勝數，輕者困篤，重者必死矣。</p>
<p>夫陽盛陰虛，汗之則死，下之則愈；陽虛陰盛，汗之則愈，下之則死。夫如是，則神丹安可以誤發？甘遂何可以妄攻？虛盛之治，相背千里，吉凶之機，應若影響，豈容易哉！況桂枝下咽，陽盛則斃；承氣入胃，陰盛以亡，死生之要，在乎須臾，視身之盡，不暇計日。</p>
<p>此陰陽虛實之交錯，其候至微；發汗吐下之相反，其禍至速，而醫術淺狹，懵然不知病源，為治乃誤，使病者殞歿，自謂其分，至今冤魂塞于冥路，死屍盈於曠野，仁者鑒此，豈不痛歟！</p>
<p>凡兩感病俱作，治有先後，發表攻裏，本自不同，而執迷妄意者，乃云神丹、甘遂，合而飲之，且解其表，又除其裏，言巧似是，其理實違。夫智者之舉錯也，常審以慎；愚者之動作也，必果而速。安危之變，豈可詭哉！世上之士，但務彼翕習之榮，而莫見此傾危之敗，惟明者，居然能護其本，近取諸身，夫何遠之有焉。</p>
<p>凡發汗溫服湯藥，其方雖言日三服，若病劇不解，當促其間，可半日中盡三服。若與病相阻，即便有所覺，重病者，一日一夜，當晬時觀之，如服一劑，病證猶在，故當復作本湯服之。至有不肯汗出，服三劑乃解；若汗不出者，死病也。</p>
<p>凡得時氣病，至五六日，而渴欲飲水，飲不能多，不當與也，何者？以腹中熱尚少，不能消之，便更與人作病也。至七八日，大渴，欲飲水者，猶當依證與之，與之常令不足，勿極意也，言能飲一斗，與五升。若飲而腹滿，小便不利，若喘若噦，不可與之。忽然大汗出，是為自愈也。</p>
<p>凡得病，反能飲水，此為欲愈之病。其不曉病者，但聞病飲水自愈，小渴者，乃強與飲之，因成其禍，不可復數。</p>
<p>凡得病厥，脈動數，服湯藥更遲；脈浮大減小；初躁後靜，此皆愈證也。</p>
<p>凡治溫病，可刺五十九穴。又身之穴，三百六十有五，其三十九穴，灸之有害；七十九穴，刺之為災，並中髓也。</p>
<p>凡脈四損，三日死；平人四息，病人脈一至，名曰四損。
脈五損，一日死；平人五息，病人脈一至，名曰五損。
脈六損，一時死；平人六息，病人脈一至，名曰六損。</p>
<p>脈盛身寒，得之傷寒；脈虛身熱，得之傷暑。</p>
<p>脈陰陽俱盛，大汗出，不解者，死。</p>
<p>脈陰陽俱虛，熱不止者，死。</p>
<p>脈至乍疏乍數者，死。</p>
<p>脈至如轉索者，其日死。</p>
<p>譫言妄語，身微熱，脈浮大，手足溫者，生。逆冷，脈沉細者，不過一日，死矣。</p>
<p>此以前是傷寒熱病證候也。</p>
<h3>辨痙濕暍脈證第四</h3>
<p>傷寒所致太陽，痙、濕、暍三種，宜應別論，以為與傷寒相似，故此見之。</p>
<p>太陽病，發熱無汗，反惡寒者，名曰剛痙。</p>
<p>太陽病，發熱汗出，不惡寒者，名曰柔痙。</p>
<p>太陽病，發熱，脈沉而細者，名曰痙。</p>
<p>太陽病，發汗太多，因致痙。</p>
<p>病身熱足寒，頸項強急，惡寒，時頭熱面赤，目脈赤，獨頭面搖，卒口噤，背反張者，痙病也。</p>
<p>太陽病，關節疼痛而煩，脈沉而細<span class="校"><small class="雙行小字">一作緩</small></span>者，此名濕痹<span class="校"><small class="雙行小字">一云中濕</small></span>。濕痹之候，其人小便不利，大便反快，但當利其小便。</p>
<p>濕家之為病，一身盡疼，發熱，身色如似熏黃。</p>
<p>濕家，其人但頭汗出，背強，欲得被覆向火。若下之早則噦，胸滿，小便不利，舌上如胎者，以丹田有熱，胸中有寒，渴欲得水而不能飲，則口燥煩也。</p>
<p>濕家下之，額上汗出，微喘，小便利<span class="校"><small class="雙行小字">一云不利</small></span>者死。若下利不止者，亦死。</p>
<p>問曰：風濕相搏，一身盡疼痛，法當汗出而解，值天陰雨不止，醫云此可發汗，汗之病不愈者，何也？答曰：發其汗，汗大出者，但風氣去，濕氣在，是故不愈也。若治風濕者，發其汗，但微微似欲汗出者，風濕俱去也。</p>
<p>濕家病身上疼痛，發熱面黃而喘，頭痛鼻塞而煩，其脈大，自能飲食，腹中和無病，病在頭中寒濕，故鼻塞，內藥鼻中則愈。</p>
<p>病者一身盡疼，發熱，日晡所劇者，此名風濕。此病傷於汗出當風，或久傷取冷所致也。</p>
<p>太陽中熱者，暍是也，其人汗出惡寒，身熱而渴也。</p>
<p>太陽中暍者，身熱疼重，而脈微弱，此亦夏月傷冷水，水行皮中所致也。</p>
<p>太陽中暍者，發熱惡寒，身重而疼痛，其脈弦細芤遲，小便已，灑灑然毛聳，手足逆冷，小有勞，身即熱，口開，前板齒燥。若發汗，則惡寒甚；加溫針，則發熱甚；數下之，則淋甚。</p>
<h3>辨太陽病脈證並治上第五</h3>
<p><span class="編號">1.</span>太陽之為病，脈浮，頭項強痛而惡寒。</p>
<p><span class="編號">2.</span>太陽病，發熱，汗出，惡風，脈緩者，名為中風。</p>
<p><span class="編號">3.</span>太陽病，或已發熱，或未發熱，必惡寒，體痛，嘔逆，脈陰陽俱緊者，名為傷寒。</p>
<p><span class="編號">4.</span>傷寒一日，太陽受之，脈若靜者，為不傳。頗欲吐，若躁煩，脈數急者，為傳也。</p>
<p><span class="編號">5.</span>傷寒二三日，陽明、少陽證不見者，為不傳也。</p>
<p><span class="編號">6.</span>太陽病，發熱而渴，不惡寒者，為溫病。若發汗已，身灼熱者，名風溫。風溫為病，脈陰陽俱浮，自汗出，身重，多眠睡，鼻息必鼾，語言難出。若被下者，小便不利，直視失溲，若被火者，微發黃色，劇則如驚癇，時瘈瘲，若火熏之，一逆尚引日，再逆促命期。</p>
<p><span class="編號">7.</span>病有發熱惡寒者，發於陽也；無熱惡寒者，發於陰也。發於陽，七日愈；發於陰，六日愈。以陽數七，陰數六故也。</p>
<p><span class="編號">8.</span>太陽病，頭痛至七日以上自愈者，以行其經盡故也。若欲作再經者，針足陽明，使經不傳則愈。</p>
<p><span class="編號">9.</span>太陽病，欲解時，從巳至未上。</p>
<p><span class="編號">10.</span>風家，表解而不了了者，十二日愈。</p>
<p><span class="編號">11.</span>病人身大熱，反欲得衣者，熱在皮膚，寒在骨髓也；身大寒，反不欲近衣者，寒在皮膚，熱在骨髓也。</p>
<p><span class="編號">12.</span>太陽中風，陽浮而陰弱，陽浮者，熱自發，陰弱者，汗自出。嗇嗇惡寒，淅淅惡風，翕翕發熱，鼻鳴乾嘔者，桂枝湯主之。</p>
<span class="方">
<p><b>桂枝湯方</b></p>
<p>桂枝<small class="雙行小字">三兩，去皮</small>　芍藥<small class="雙行小字">三兩</small>　甘草<small class="雙行小字">二兩，炙</small>　生薑<small class="雙行小字">三兩，切</small>　大棗<small class="雙行小字">十二枚，擘</small></p>
<p>右五味，㕮咀三味，以水七升，微火煮取三升，去滓，適寒溫，服一升。服已須臾，歠熱稀粥一升餘，以助藥力。溫覆令一時許，遍身漐漐微似有汗者益佳，不可令如水流漓，病必不除。若一服汗出病差，停後服，不必盡劑。若不汗，更服依前法。又不汗，後服小促其間，半日許令三服盡。若病重者，一日一夜服，周時觀之，服一劑盡，病證猶在者，更作服，若不汗出，乃服至二、三劑。禁生冷、黏滑、肉麵、五辛、酒酪、臭惡等物。</p>
</span>
<p><span class="編號">13.</span>太陽病，頭痛，發熱，汗出，惡風，桂枝湯主之。</p>
<p><span class="編號">14.</span>太陽病，項背強几几，反汗出惡風者，桂枝加葛根湯主之。</p>
<span class="方">
<p><b>桂枝加葛根湯方</b></p>
<p>葛根<small class="雙行小字">四兩</small>　桂枝<small class="雙行小字">二兩，去皮</small>　芍藥<small class="雙行小字">二兩</small>　生薑<small class="雙行小字">三兩，切</small>　甘草<small class="雙行小字">二兩，炙</small>　大棗<small class="雙行小字">十二枚，擘</small>　麻黃<small class="雙行小字">三兩，去節</small></p>
<p>右七味，以水一斗，先煮麻黃、葛根，減二升，去上沫，內諸藥，煮取三升，去滓。溫服一升。覆取微似汗，不須啜粥，餘如桂枝法將息及禁忌。</p>
</span>
<p><span class="編號">15.</span>太陽病，下之後，其氣上衝者，可與桂枝湯，方用前法；若不上衝者，不得與之。</p>
<p><span class="編號">16.</span>太陽病三日，已發汗，若吐、若下、若溫針，仍不解者，此為壞病，桂枝不中與之也。觀其脈證，知犯何逆，隨證治之。桂枝本為解肌，若其人脈浮緊，發熱汗不出者，不可與之也。常須識此，勿令誤也。</p>
<p><span class="編號">17.</span>若酒客病，不可與桂枝湯，得之則嘔，以酒客不喜甘故也。</p>
<p><span class="編號">18.</span>喘家作，桂枝湯加厚朴、杏子佳。</p>
<p><span class="編號">19.</span>凡服桂枝湯吐者，其後必吐膿血也。</p>
<p><span class="編號">20.</span>太陽病，發汗，遂漏不止，其人惡風，小便難，四肢微急，難以屈伸者，桂枝加附子湯主之。</p>
<span class="方">
<p><b>桂枝加附子湯方</b></p>
<p>桂枝<small class="雙行小字">三兩，去皮</small>　芍藥<small class="雙行小字">三兩</small>　甘草<small class="雙行小字">三兩，炙</small>　生薑<small class="雙行小字">三兩，切</small>　大棗<small class="雙行小字">十二枚，擘</small>　附子<small class="雙行小字">一枚，炮，去皮，破八片</small></p>
<p>右六味，以水七升，煮取三升，去滓，溫服一升。本云<span class="校"><small class="雙行小字">《玉函經》作“本方”。</small></span>：桂枝湯，今加附子。將息如前法。</p>
</span>
<p><span class="編號">21.</span>太陽病，下之後，脈促胸滿者，桂枝去芍藥湯主之。</p>
<span class="方">
<p><b>桂枝去芍藥湯方</b></p>
<p>桂枝<small class="雙行小字">三兩，去皮</small>　甘草<small class="雙行小字">二兩，炙</small>　生薑<small class="雙行小字">三兩，切</small>　大棗<small class="雙行小字">十二枚，擘</small></p>
<p>右四味，以水七升，煮取三升，去滓，溫服一升。本云：桂枝湯，今去芍藥。將息如前法。</p>
</span>
<p><span class="編號">22.</span>若微寒者，桂枝去芍藥加附子湯主之。</p>
<span class="方">
<p><b>桂枝去芍藥加附子湯方</b></p>
<p>桂枝<small class="雙行小字">三兩，去皮</small>　甘草<small class="雙行小字">二兩，炙</small>　生薑<small class="雙行小字">三兩，切</small>　大棗<small class="雙行小字">十二枚，擘</small>　附子<small class="雙行小字">一枚，炮，去皮，破八片</small></p>
<p>右五味，以水七升，煮取三升，去滓，溫服一升。本云：桂枝湯，今去芍藥加附子。將息如前法。</p>
</span>
<p><span class="編號">23.</span>太陽病，得之八九日，如瘧狀，發熱惡寒，熱多寒少，其人不嘔，清便欲自可，一日二三度發。脈微緩者，為欲愈也；脈微而惡寒者，此陰陽俱虛，不可更發汗、更下、更吐也；面色反有熱色者，未欲解也，以其不能得小汗出，身必癢，宜桂枝麻黃各半湯。</p>
<span class="方">
<p><b>桂枝麻黃各半湯方</b></p>
<p>桂枝<small class="雙行小字">一兩十六銖，去皮</small>　芍藥　生薑<small class="雙行小字">切</small>　甘草<small class="雙行小字">炙</small>　麻黃<small class="雙行小字">去節，各一兩</small>　大棗<small class="雙行小字">四枚，擘</small>　杏仁<small class="雙行小字">二十四枚，湯浸，去皮尖及兩仁者</small></p>
<p>右七味，以水五升，先煮麻黃一二沸，去上沫，內諸藥，煮取一升八合，去滓，溫服六合。本云：桂枝湯三合，麻黃湯三合，併為六合，頓服。將息如上法。</p>
</span>
<p><span class="編號">24.</span>太陽病，初服桂枝湯，反煩不解者，先刺風池、風府，卻與桂枝湯則愈。</p>
<p><span class="編號">25.</span>服桂枝湯，大汗出，脈洪大者，與桂枝湯，如前法。若形似瘧，一日再發者，汗出必解，宜桂枝二麻黃一湯。</p>
<span class="方">
<p><b>桂枝二麻黃一湯方</b></p>
<p>桂枝<small class="雙行小字">一兩十七銖，去皮</small>　芍藥<small class="雙行小字">一兩六銖</small>　麻黃<small class="雙行小字">十六銖，去節</small>　生薑<small class="雙行小字">一兩六銖，切</small>　杏仁<small class="雙行小字">十六個，去皮尖</small>　甘草<small class="雙行小字">一兩二銖，炙</small>　大棗<small class="雙行小字">五枚，擘</small></p>
<p>右七味，以水五升，先煮麻黃一二沸，去上沫，內諸藥，煮取二升，去滓，溫服一升，日再服。本云：桂枝湯二分，麻黃湯一分，合為二升，分再服。今後合為一方。將息如前法。</p>
</span>
<p><span class="編號">26.</span>服桂枝湯，大汗出後，大煩渴不解，脈洪大者，白虎加人參湯主之。</p>
<span class="方">
<p><b>白虎加人參湯方</b></p>
<p>知母<small class="雙行小字">六兩</small>　石膏<small class="雙行小字">一斤，碎，綿裹</small>　甘草<small class="雙行小字">二兩，炙</small>　粳米<small class="雙行小字">六合</small>　人參<small class="雙行小字">三兩</small></p>
<p>右五味，以水一斗，煮米熟，湯成，去滓，溫服一升，日三服。</p>
</span>
<p><span class="編號">27.</span>太陽病，發熱惡寒，熱多寒少，脈微弱者，此無陽也，不可發汗，宜桂枝二越婢一湯。</p>
<span class="方">
<p><b>桂枝二越婢一湯方</b></p>
<p>桂枝<small class="雙行小字">去皮</small>　芍藥　麻黃　甘草<small class="雙行小字">炙，各十八銖</small>　大棗<small class="雙行小字">四枚，擘</small>　生薑<small class="雙行小字">一兩二銖，切</small>　石膏<small class="雙行小字">二十四銖，碎，綿裹</small></p>
<p>右七味，以水五升，煮麻黃一二沸，去上沫，內諸藥，煮取二升，去滓，溫服一升。本云：當裁為越婢湯、桂枝湯，合之飲一升，今合為一方，桂枝二分，越婢湯一分。</p>
</span>
<p><span class="編號">28.</span>服桂枝湯，或下之，仍頭項強痛，翕翕發熱，無汗，心下滿微痛，小便不利者，桂枝去桂加茯苓白朮湯主之。</p>
<span class="方">
<p><b>桂枝去桂加茯苓白朮湯方</b></p>
<p>芍藥<small class="雙行小字">三兩</small>　甘草<small class="雙行小字">二兩，炙</small>　生薑<small class="雙行小字">三兩，切</small>　白朮　茯苓<small class="雙行小字">各三兩</small>　大棗<small class="雙行小字">十二枚，擘</small></p>
<p>右六味，以水八升，煮取三升，去滓，溫服一升。小便利則愈。本云：桂枝湯，今去桂枝加茯苓、白朮。</p>
</span>
<p><span class="編號">29.</span>傷寒，脈浮，自汗出，小便數，心煩，微惡寒，腳攣急，反與桂枝欲攻其表，此誤也。得之便厥，咽中乾，煩躁吐逆者，作甘草乾薑湯與之，以復其陽。若厥愈足溫者，更作芍藥甘草湯與之，其腳即伸。若胃氣不和，譫語者，少與調胃承氣湯。若重發汗，復加燒針者，四逆湯主之。</p>
<span class="方">
<p><b>甘草乾薑湯方</b></p>
<p>甘草<small class="雙行小字">四兩，炙</small>　乾薑<small class="雙行小字">二兩</small></p>
<p>右二味，以水三升，煮取一升五合，去滓，分溫再服。</p>
</span>
<span class="方">
<p><b>芍藥甘草湯方</b></p>
<p>芍藥　甘草<small class="雙行小字">炙，各四兩</small></p>
<p>右二味，以水三升，煮取一升五合，去滓，分溫再服。</p>
</span>
<span class="方">
<p><b>調胃承氣湯方</b></p>
<p>甘草<small class="雙行小字">二兩，炙</small>　芒硝<small class="雙行小字">半升</small>　大黃<small class="雙行小字">四兩，清酒洗</small></p>
<p>右三味，以水三升，煮取一升，去滓，內芒硝，更上火微煮令沸，少少溫服之。</p>
</span>
<span class="方">
<p><b>四逆湯方</b></p>
<p>甘草<small class="雙行小字">二兩，炙</small>　乾薑<small class="雙行小字">一兩半</small>　附子<small class="雙行小字">一枚，生用，去皮，破八片</small></p>
<p>右三味，以水三升，煮取一升二合，去滓，分溫再服。強人可大附子一枚、乾薑三兩。</p>
</span>
<p><span class="編號">30.</span>問曰：證象陽旦，按法治之而增劇，厥逆，咽中乾，兩脛拘急而譫語。師曰：言夜半手足當溫，兩腳當伸。後如師言。何以知此？答曰：寸口脈浮而大，浮為風，大為虛，風則生微熱，虛則兩脛攣，病形象桂枝，因加附子參其間，增桂令汗出，附子溫經，亡陽故也。厥逆，咽中乾，煩躁，陽明內結，譫語煩亂，更飲甘草乾薑湯，夜半陽氣還，兩足當熱，脛尚微拘急，重與芍藥甘草湯，爾乃脛伸。以承氣湯微溏，則止其譫語，故知病可愈。</p>
<h2>卷第三</h2>
<h3>辨太陽病脈證並治中第六</h3>
<p><span class="編號">31.</span>太陽病，項背強几几，無汗惡風，葛根湯主之。</p>
<span class="方">
<p><b>葛根湯方</b></p>
<p>葛根<small class="雙行小字">四兩</small>　麻黃<small class="雙行小字">三兩，去節</small>　桂枝<small class="雙行小字">二兩，去皮</small>　生薑<small class="雙行小字">三兩，切</small>　甘草<small class="雙行小字">二兩，炙</small>　芍藥<small class="雙行小字">二兩</small>　大棗<small class="雙行小字">十二枚，擘</small></p>
<p>右七味，以水一斗，先煮麻黃、葛根，減二升，去白沫，內諸藥，煮取三升，去滓，溫服一升。覆取微似汗。餘如桂枝法將息及禁忌，諸湯皆仿此。</p>
</span>
<p><span class="編號">32.</span>太陽與陽明合病者，必自下利，葛根湯主之。</p>
<p><span class="編號">33.</span>太陽與陽明合病，不下利，但嘔者，葛根加半夏湯主之。</p>
<span class="方">
<p><b>葛根加半夏湯方</b></p>
<p>葛根<small class="雙行小字">四兩</small>　麻黃<small class="雙行小字">三兩，去節</small>　甘草<small class="雙行小字">二兩，炙</small>　芍藥<small class="雙行小字">二兩</small>　桂枝<small class="雙行小字">二兩，去皮</small>　生薑<small class="雙行小字">二兩，切</small>　半夏<small class="雙行小字">半升，洗</small>　大棗<small class="雙行小字">十二枚，擘</small></p>
<p>右八味，以水一斗，先煮葛根、麻黃，減二升，去白沫，內諸藥，煮取三升，去滓，溫服一升。覆取微似汗。</p>
</span>
<p><span class="編號">34.</span>太陽病，桂枝證，醫反下之，利遂不止。脈促者，表未解也。喘而汗出者，葛根黃芩黃連湯主之。</p>
<span class="方">
<p><b>葛根黃芩黃連湯方</b></p>
<p>葛根<small class="雙行小字">半斤</small>　甘草<small class="雙行小字">二兩，炙</small>　黃芩<small class="雙行小字">三兩</small>　黃連<small class="雙行小字">三兩</small></p>
<p>右四味，以水八升，先煮葛根，減二升，內諸藥，煮取二升，去滓，分溫再服。</p>
</span>
<p><span class="編號">35.</span>太陽病，頭痛，發熱，身疼，腰痛，骨節疼痛，惡風，無汗而喘者，麻黃湯主之。</p>
<span class="方">
<p><b>麻黃湯方</b></p>
<p>麻黃<small class="雙行小字">三兩，去節</small>　桂枝<small class="雙行小字">二兩，去皮</small>　甘草<small class="雙行小字">一兩，炙</small>　杏仁<small class="雙行小字">七十個，去皮尖</small></p>
<p>右四味，以水九升，先煮麻黃，減二升，去上沫，內諸藥，煮取二升半，去滓，溫服八合。覆取微似汗，不須啜粥。餘如桂枝法將息。</p>
</span>
<p><span class="編號">36.</span>太陽與陽明合病，喘而胸滿者，不可下，宜麻黃湯。</p>
<p><span class="編號">37.</span>太陽病，十日已去，脈浮細而嗜臥者，外已解也。設胸滿脇痛者，與小柴胡湯；脈但浮者，與麻黃湯。</p>
<p><span class="編號">38.</span>太陽中風，脈浮緊，發熱惡寒，身疼痛，不汗出而煩躁者，大青龍湯主之。若脈微弱，汗出惡風者，不可服之，服之則厥逆，筋惕肉瞤，此為逆也。</p>
<span class="方">
<p><b>大青龍湯方</b></p>
<p>麻黃<small class="雙行小字">六兩，去節</small>　桂枝<small class="雙行小字">二兩，去皮</small>　甘草<small class="雙行小字">二兩，炙</small>　杏仁<small class="雙行小字">四十枚，去皮尖</small>　生薑<small class="雙行小字">三兩，切</small>　大棗<small class="雙行小字">十枚，擘</small>　石膏<small class="雙行小字">如雞子大，碎</small></p>
<p>右七味，以水九升，先煮麻黃，減二升，去上沫，內諸藥，煮取三升，去滓，溫服一升，取微似汗。汗出多者，溫粉撲之。一服汗者，停後服。若復服，汗多亡陽，遂虛，惡風、煩躁、不得眠也。</p>
</span>
<p><span class="編號">39.</span>傷寒脈浮緩，身不疼，但重，乍有輕時，無少陰證者，大青龍湯發之。</p>
<p><span class="編號">40.</span>傷寒表不解，心下有水氣，乾嘔，發熱而欬，或渴，或利，或噎，或小便不利，少腹滿，或喘者，小青龍湯主之。</p>
<span class="方">
<p><b>小青龍湯方</b></p>
<p>麻黃<small class="雙行小字">去節</small>　芍藥　細辛　乾薑　甘草<small class="雙行小字">炙</small>　桂枝<small class="雙行小字">去皮，各三兩</small>　五味子<small class="雙行小字">半升</small>　半夏<small class="雙行小字">半升，洗</small></p>
<p>右八味，以水一斗，先煮麻黃，減二升，去上沫，內諸藥，煮取三升，去滓，溫服一升。</p>
<p>若渴，去半夏，加栝樓根三兩。若微利，去麻黃，加蕘花，如一雞子，熬令赤色。若噎者，去麻黃，加附子一枚，炮。若小便不利，少腹滿者，去麻黃，加茯苓四兩。若喘，去麻黃，加杏仁半升，去皮尖。且蕘花不治利，麻黃主喘，今此語反之，疑非仲景意。</p>
</span>
<p><span class="編號">41.</span>傷寒心下有水氣，欬而微喘，發熱不渴。服湯已，渴者，此寒去欲解也。小青龍湯主之。</p>
<p><span class="編號">42.</span>太陽病，外證未解，脈浮弱者，當以汗解，宜桂枝湯。</p>
<p><span class="編號">43.</span>太陽病，下之微喘者，表未解故也，桂枝加厚朴杏子湯主之。</p>
<span class="方">
<p><b>桂枝加厚朴杏子湯方</b></p>
<p>桂枝<small class="雙行小字">三兩，去皮</small>　甘草<small class="雙行小字">二兩，炙</small>　生薑<small class="雙行小字">三兩，切</small>　芍藥<small class="雙行小字">三兩</small>　大棗<small class="雙行小字">十二枚，擘</small>　厚朴<small class="雙行小字">二兩，炙，去皮</small>　杏仁<small class="雙行小字">五十枚，去皮尖</small></p>
<p>右七味，以水七升，微火煮取三升，去滓。溫服一升，覆取微似汗。</p>
</span>
<p><span class="編號">44.</span>太陽病，外證未解，不可下也，下之為逆。欲解外者，宜桂枝湯。</p>
<p><span class="編號">45.</span>太陽病，先發汗不解，而復下之，脈浮者不愈。浮為在外，而反下之，故令不愈。今脈浮，故在外，當須解外則愈，宜桂枝湯。</p>
<p><span class="編號">46.</span>太陽病，脈浮緊，無汗，發熱，身疼痛，八九日不解，表證仍在，此當發其汗。服藥已微除，其人發煩目瞑，劇者必衄，衄乃解。所以然者，陽氣重故也，麻黃湯主之。</p>
<p><span class="編號">47.</span>太陽病，脈浮緊，發熱，身無汗，自衄者愈。</p>
<p><span class="編號">48.</span>二陽併病，太陽初得病時，發其汗，汗先出不徹，因轉屬陽明，續自微汗出，不惡寒。若太陽病證不罷者，不可下，下之為逆，如此可小發汗。設面色緣緣正赤者，陽氣怫鬱在表，當解之，熏之。若發汗不徹，不足言，陽氣怫鬱不得越，當汗不汗，其人躁煩，不知痛處，乍在腹中，乍在四肢，按之不可得，其人短氣但坐，以汗出不徹故也。更發汗則愈，何以知汗出不徹？以脈濇故知也。</p>
<p><span class="編號">49.</span>脈浮數者，法當汗出而愈。若下之，身重心悸者，不可發汗，當自汗出乃解。所以然者，尺中脈微，此裏虛。須表裏實，津液自和，便自汗出愈。</p>
<p><span class="編號">50.</span>脈浮緊者，法當身疼痛，宜以汗解之，假令尺中遲者，不可發汗，何以知然？以榮氣不足，血少故也。</p>
<p><span class="編號">51.</span>脈浮者，病在表，可發汗，宜麻黃湯。</p>
<p><span class="編號">52.</span>脈浮而數者，可發汗，宜麻黃湯。</p>
<p><span class="編號">53.</span>病常自汗出者，此為榮氣和，榮氣和者，外不諧，以衛氣不共榮氣諧和故爾。以榮行脈中，衛行脈外，復發其汗，榮衛和則愈，宜桂枝湯。</p>
<p><span class="編號">54.</span>病人藏無他病，時發熱、自汗出而不愈者，此衛氣不和也。先其時發汗則愈，宜桂枝湯。</p>
<p><span class="編號">55.</span>傷寒脈浮緊，不發汗，因致衄者，麻黃湯主之。</p>
<p><span class="編號">56.</span>傷寒不大便六七日，頭痛有熱者，與承氣湯；其小便清者，知不在裏，仍在表也，當須發汗，若頭痛者，必衄，宜桂枝湯。</p>
<p><span class="編號">57.</span>傷寒發汗已解，半日許復煩，脈浮數者，可更發汗，宜桂枝湯。</p>
<p><span class="編號">58.</span>凡病，若發汗，若吐，若下，若亡血，亡津液，陰陽自和者，必自愈。</p>
<p><span class="編號">59.</span>大下之後，復發汗，小便不利者，亡津液故也。勿治之，得小便利，必自愈。</p>
<p><span class="編號">60.</span>下之後，復發汗，必振寒，脈微細。所以然者，以內外俱虛故也。</p>
<p><span class="編號">61.</span>下之後，復發汗，晝日煩躁不得眠，夜而安靜，不嘔不渴，無表證，脈沉微，身無大熱者，乾薑附子湯主之。</p>
<span class="方">
<p><b>乾薑附子湯方</b></p>
<p>乾薑<small class="雙行小字">一兩</small>　附子<small class="雙行小字">一枚，生用，去皮，切八片</small></p>
<p>右二味，以水三升，煮取一升，去滓，頓服。</p>
</span>
<p><span class="編號">62.</span>發汗後，身疼痛，脈沉遲者，桂枝加芍藥生薑各一兩，人參三兩新加湯主之。</p>
<span class="方">
<p><b>桂枝加芍藥生薑各一兩人參三兩新加湯方</b></p>
<p>桂枝<small class="雙行小字">三兩，去皮</small>　芍藥<small class="雙行小字">四兩</small>　甘草<small class="雙行小字">二兩，炙</small>　人參<small class="雙行小字">三兩</small>　大棗<small class="雙行小字">十二枚，擘</small>　生薑<small class="雙行小字">四兩</small></p>
<p>右六味，以水一斗二升，煮取三升，去滓，溫服一升。本云：桂枝湯，今加芍藥、生薑、人參。</p>
</span>
<p><span class="編號">63.</span>發汗後，不可更行桂枝湯，汗出而喘，無大熱者，可與麻黃杏仁甘草石膏湯。</p>
<span class="方">
<p><b>麻黃杏仁甘草石膏湯方</b></p>
<p>麻黃<small class="雙行小字">四兩，去節</small>　杏仁<small class="雙行小字">五十個，去皮尖</small>　甘草<small class="雙行小字">二兩，炙</small>　石膏<small class="雙行小字">半斤，碎、綿裹</small></p>
<p>右四味，以水七升，煮麻黃，減二升，去上沫，內諸藥，煮取二升，去滓，溫服一升。</p>
</span>
<p><span class="編號">64.</span>發汗過多，其人叉手自冒心，心下悸，欲得按者，桂枝甘草湯主之。</p>
<span class="方">
<p><b>桂枝甘草湯方</b></p>
<p>桂枝<small class="雙行小字">四兩，去皮</small>　甘草<small class="雙行小字">二兩，炙</small></p>
<p>右二味，以水三升，煮取一升，去滓，頓服。</p>
</span>
<p><span class="編號">65.</span>發汗後，其人臍下悸者，欲作奔豚，茯苓桂枝甘草大棗湯主之。</p>
<span class="方">
<p><b>茯苓桂枝甘草大棗湯方</b></p>
<p>茯苓<small class="雙行小字">半斤</small>　桂枝<small class="雙行小字">四兩，去皮</small>　甘草<small class="雙行小字">二兩，炙</small>　大棗<small class="雙行小字">十五枚，擘</small></p>
<p>右四味，以甘瀾水一斗，先煮茯苓，減二升，內諸藥，煮取三升，去滓，溫服一升，日三服。作甘瀾水法：取水二斗，置大盆內，以杓揚之，水上有珠子五六千顆相逐，取用之。</p>
</span>
<p><span class="編號">66.</span>發汗後，腹脹滿者，厚朴生薑半夏甘草人參湯主之。</p>
<span class="方">
<p><b>厚朴生薑半夏甘草人參湯方</b></p>
<p>厚朴<small class="雙行小字">半斤，炙，去皮</small>　生薑<small class="雙行小字">半斤，切</small>　半夏<small class="雙行小字">半升，洗</small>　甘草<small class="雙行小字">二兩，炙</small>　人參<small class="雙行小字">一兩</small></p>
<p>右五味，以水一斗，煮取三升，去滓，溫服一升，日三服。</p>
</span>
<p><span class="編號">67.</span>傷寒，若吐若下後，心下逆滿，氣上衝胸，起則頭眩，脈沉緊，發汗則動經，身為振振搖者，茯苓桂枝白朮甘草湯主之。</p>
<span class="方">
<p><b>茯苓桂枝白朮甘草湯方</b></p>
<p>茯苓<small class="雙行小字">四兩</small>　桂枝<small class="雙行小字">三兩，去皮</small>　白朮　甘草<small class="雙行小字">炙，各二兩</small></p>
<p>右四味，以水六升，煮取三升，去滓，分溫三服。</p>
</span>
<p><span class="編號">68.</span>發汗，病不解，反惡寒者，虛故也，芍藥甘草附子湯主之。</p>
<span class="方">
<p><b>芍藥甘草附子湯方</b></p>
<p>芍藥　甘草<small class="雙行小字">各三兩，炙</small>　附子<small class="雙行小字">一枚，炮，去皮，破八片</small></p>
<p>右三味，以水五升，煮取一升五合，去滓，分溫三服。</p>
</span>
<p><span class="編號">69.</span>發汗，若下之，病仍不解，煩躁者，茯苓四逆湯主之。</p>
<span class="方">
<p><b>茯苓四逆湯方</b></p>
<p>茯苓<small class="雙行小字">四兩</small>　人參<small class="雙行小字">一兩</small>　附子<small class="雙行小字">一枚，生用，去皮，破八片</small>　甘草<small class="雙行小字">二兩，炙</small>　乾薑<small class="雙行小字">一兩半</small></p>
<p>右五味，以水五升，煮取三升，去滓，溫服七合，日二服。</p>
</span>
<p><span class="編號">70.</span>發汗後惡寒者，虛故也。不惡寒但熱者，實也。當和胃氣，與調胃承氣湯。</p>
<p><span class="編號">71.</span>太陽病，發汗後，大汗出，胃中乾，煩躁不得眠，欲得飲水者，少少與飲之，令胃氣和則愈。若脈浮，小便不利，微熱消渴者，五苓散主之。</p>
<span class="方">
<p><b>五苓散方</b></p>
<p>豬苓<small class="雙行小字">十八銖，去皮</small>　澤瀉<small class="雙行小字">一兩六銖</small>　白朮<small class="雙行小字">十八銖</small>　茯苓<small class="雙行小字">十八銖</small>　桂枝<small class="雙行小字">半兩，去皮</small></p>
<p>右五味，搗爲散，以白飲和服方寸匕，日三服。多飲暖水，汗出愈。如法將息。</p>
</span>
<p><span class="編號">72.</span>發汗已，脈浮數，煩渴者，五苓散主之。</p>
<p><span class="編號">73.</span>傷寒汗出而渴者，五苓散主之；不渴者，茯苓甘草湯主之。</p>
<span class="方">
<p><b>茯苓甘草湯方</b></p>
<p>茯苓<small class="雙行小字">二兩</small>　桂枝<small class="雙行小字">二兩，去皮</small>　甘草<small class="雙行小字">一兩，炙</small>　生薑<small class="雙行小字">三兩，切</small></p>
<p>右四味，以水四升，煮取二升，去滓，分溫三服。</p>
</span>
<p><span class="編號">74.</span>中風發熱，六七日不解而煩，有表裏證，渴欲飲水，水入則吐者，名曰水逆，五苓散主之。</p>
<p><span class="編號">75.</span>未持脈時，病人手叉自冒心，師因教試令欬，而不欬者，此必兩耳聾無聞也。所以然者，以重發汗，虛，故如此。發汗後，飲水多，必喘；以水灌之，亦喘。</p>
<p><span class="編號">76.</span>發汗後，水藥不得入口，爲逆；若更發汗，必吐下不止。發汗吐下後，虛煩不得眠，若劇者，必反復顛倒，心中懊憹，梔子豉湯主之。若少氣者，梔子甘草豉湯主之；若嘔者，梔子生薑豉湯主之。</p>
<span class="方">
<p><b>梔子豉湯方</b></p>
<p>梔子<small class="雙行小字">十四個，擘</small>　香豉<small class="雙行小字">四合，綿裹</small></p>
<p>右二味，以水四升，先煮梔子得二升半，內豉，煮取一升半，去滓，分爲二服，溫進一服。得吐者，止後服。</p>
</span>
<span class="方">
<p><b>梔子甘草豉湯方</b></p>
<p>梔子<small class="雙行小字">十四個，擘</small>　甘草<small class="雙行小字">二兩，炙</small>　香豉<small class="雙行小字">四合，綿裹</small></p>
<p>右三味，以水四升，先煮梔子、甘草取二升半，內豉，煮取一升半，去滓，分二服，溫進一服。得吐者，止後服。</p>
</span>
<span class="方">
<p><b>梔子生薑豉湯方</b></p>
<p>梔子<small class="雙行小字">十四個，擘</small>　生薑<small class="雙行小字">五兩，切</small>　香豉<small class="雙行小字">四合，綿裹</small></p>
<p>右三味，以水四升，先煮梔子、生薑取二升半，內豉，煮取一升半，去滓，分二服，溫進一服。得吐者，止後服。</p>
</span>
<p><span class="編號">77.</span>發汗，若下之，而煩熱，胸中窒者，梔子豉湯主之。</p>
<p><span class="編號">78.</span>傷寒五六日，大下之後，身熱不去，心中結痛者，未欲解也，梔子豉湯主之。</p>
<p><span class="編號">79.</span>傷寒下後，心煩腹滿，臥起不安者，梔子厚朴湯主之。</p>
<span class="方">
<p><b>梔子厚朴湯方</b></p>
<p>梔子<small class="雙行小字">十四個，擘</small>　厚朴<small class="雙行小字">四兩，炙，去皮</small>　枳實<small class="雙行小字">四枚，水浸，炙令黃</small></p>
<p>右三味，以水三升半，煮取一升半，去滓，分二服，溫進一服。得吐者，止後服。</p>
</span>
<p><span class="編號">80.</span>傷寒，醫以丸藥大下之，身熱不去，微煩者，梔子乾薑湯主之。</p>
<span class="方">
<p><b>梔子乾薑湯方</b></p>
<p>梔子<small class="雙行小字">十四個，擘</small>　乾薑<small class="雙行小字">二兩</small></p>
<p>右二味，以水三升半，煮取一升半，去滓，分二服，溫進一服。得吐者，止後服。</p>
</span>
<p><span class="編號">81.</span>凡用梔子湯，病人舊微溏者，不可與服之。</p>
<p><span class="編號">82.</span>太陽病發汗，汗出不解，其人仍發熱，心下悸，頭眩，身瞤動，振振欲擗地者，真武湯主之。</p>
<span class="方">
<p><b>真武湯方</b></p>
<p>茯苓　芍藥　生薑<small class="雙行小字">切，各三兩</small>　白朮<small class="雙行小字">二兩</small>　附子<small class="雙行小字">一枚，炮，去皮，破八片</small></p>
<p>右五味，以水八升，煮取三升，去滓，溫服七合，日三服。</p>
</span>
<p><span class="編號">83.</span>咽喉乾燥者，不可發汗。</p>
<p><span class="編號">84.</span>淋家，不可發汗，發汗必便血。</p>
<p><span class="編號">85.</span>瘡家，雖身疼痛，不可發汗，汗出則痙。</p>
<p><span class="編號">86.</span>衄家，不可發汗，汗出必額上陷，脈急緊，直視不能眴，不得眠。</p>
<p><span class="編號">87.</span>亡血家，不可發汗，發汗則寒慄而振。</p>
<p><span class="編號">88.</span>汗家，重發汗，必恍惚心亂，小便已陰疼，與禹餘糧丸。</p>
<span class="方">
<p><b>禹餘糧方闕</b></p>
</span>
<p><span class="編號">89.</span>病人有寒，復發汗，胃中冷，必吐蚘。</p>
<p><span class="編號">90.</span>本發汗，而復下之，此為逆也；若先發汗，治不為逆。本先下之，而反汗之，為逆；若先下之，治不為逆。</p>
<p><span class="編號">91.</span>傷寒，醫下之，續得下利清穀不止，身疼痛者，急當救裏；後身疼痛，清便自調者，急當救表。救裏宜四逆湯，救表宜桂枝湯。</p>
<p><span class="編號">92.</span>病發熱，頭痛，脈反沉，若不差，身體疼痛，當救其裏，宜四逆湯。</p>
<p><span class="編號">93.</span>太陽病，先下而不愈，因復發汗，以此表裏俱虛，其人因致冒。冒家汗出自愈。所以然者，汗出表和故也。裏未和，然後復下之。</p>
<p><span class="編號">94.</span>太陽病未解，脈陰陽俱停，必先振慄汗出而解。但陽脈微者，先汗出而解；但陰脈微者，下之而解。若欲下之，宜調胃承氣湯。</p>
<p><span class="編號">95.</span>太陽病，發熱汗出者，此為榮弱衛強，故使汗出。欲救邪風者，宜桂枝湯。</p>
<p><span class="編號">96.</span>傷寒五六日，中風，往來寒熱，胸脇苦滿，嘿嘿不欲飲食，心煩喜嘔。或胸中煩而不嘔，或渴，或腹中痛，或脇下痞鞕，或心下悸、小便不利，或不渴、身有微熱，或欬者，小柴胡湯主之。</p>
<span class="方">
<p><b>小柴胡湯方</b></p>
<p>柴胡<small class="雙行小字">半斤</small>　黃芩<small class="雙行小字">三兩</small>　人參<small class="雙行小字">三兩</small>　半夏<small class="雙行小字">半升，洗</small>　甘草<small class="雙行小字">炙</small>　生薑<small class="雙行小字">切，各三兩</small>　大棗<small class="雙行小字">十二枚，擘</small></p>
<p>右七味，以水一斗二升，煮取六升，去滓，再煎取三升，溫服一升，日三服。若胸中煩而不嘔者，去半夏、人參，加栝蔞實一枚。若渴，去半夏，加人參合前成四兩半、栝蔞根四兩。若腹中痛者，去黃芩，加芍藥三兩。若脇下痞鞕，去大棗，加牡蠣四兩。若心下悸、小便不利者，去黃芩，加茯苓四兩。若不渴、外有微熱者，去人參，加桂枝三兩，溫服微汗愈。若咳者，去人參、大棗、生薑，加五味子半升、乾薑二兩。</p>
</span>
<p><span class="編號">97.</span>血弱氣盡，腠理開，邪氣因入，與正氣相搏，結於脇下，正邪分爭，往來寒熱，休作有時，嘿嘿不欲飲食，藏府相連，其痛必下，邪高痛下，故使嘔也，小柴胡湯主之。服柴胡湯已，渴者屬陽明，以法治之。</p>
<p><span class="編號">98.</span>得病六七日，脈遲浮弱，惡風寒，手足溫，醫二三下之，不能食而脇下滿痛，面目及身黃，頸項強，小便難者，與柴胡湯，後必下重。本渴飲水而嘔者，柴胡不中與也，食穀者噦。</p>
<p><span class="編號">99.</span>傷寒四五日，身熱，惡風，頸項強，脇下滿，手足溫而渴者，小柴胡湯主之。</p>
<p><span class="編號">100.</span>傷寒，陽脈濇，陰脈弦，法當腹中急痛，先與小建中湯，不差者，與小柴胡湯主之。</p>
<span class="方">
<p><b>小建中湯方</b></p>
<p>桂枝<small class="雙行小字">三兩，去皮</small>　甘草<small class="雙行小字">二兩，炙</small>　大棗<small class="雙行小字">二十枚，擘</small>　芍藥<small class="雙行小字">六兩</small>　生薑<small class="雙行小字">三兩，切</small>　膠飴<small class="雙行小字">一升</small></p>
<p>右六味，以水七升，煮取三升，去滓，內飴，更上微火消解，溫服一升，日三服。嘔家不可用建中湯，以甜故也。</p>
</span>
<p><span class="編號">101.</span>傷寒中風，有柴胡證，但見一證便是，不必悉具。凡柴胡湯病證而下之，若柴胡證不罷者，復與柴胡湯，必蒸蒸而振，卻復發熱汗出而解。</p>
<p><span class="編號">102.</span>傷寒二三日，心中悸而煩者，小建中湯主之。</p>
<p><span class="編號">103.</span>太陽病，過經十餘日，反二三下之。後四五日，柴胡證仍在者，先與小柴胡湯；嘔不止，心下急，鬱鬱微煩者，為未解也，與大柴胡湯下之則愈。</p>
<span class="方">
<p><b>大柴胡湯方</b></p>
<p>柴胡<small class="雙行小字">半斤</small>　黃芩<small class="雙行小字">三兩</small>　芍藥<small class="雙行小字">三兩</small>　半夏<small class="雙行小字">半升，洗</small>　生薑<small class="雙行小字">五兩，切</small>　枳實<small class="雙行小字">四枚，炙</small>　大棗<small class="雙行小字">十二枚，擘</small></p>
<p>右七味，以水一斗二升，煮取六升，去滓，再煎，溫服一升，日三服。一方加大黃二兩，若不加，恐不爲大柴胡湯。</p>
</span>
<p><span class="編號">104.</span>傷寒十三日不解，胸脇滿而嘔，日晡所發潮熱，已而微利。此本柴胡證，下之以不得利，今反利者，知醫以丸藥下之，此非其治也。潮熱者，實也。先宜服小柴胡湯以解外，後以柴胡加芒硝湯主之。</p>
<span class="方">
<p><b>柴胡加芒硝湯方</b></p>
<p>柴胡<small class="雙行小字">二兩十六銖</small>　黃芩<small class="雙行小字">一兩</small>　人參<small class="雙行小字">一兩</small>　甘草<small class="雙行小字">一兩，炙</small>　生薑<small class="雙行小字">一兩，切</small>　半夏<small class="雙行小字">二十銖，本云五枚，洗</small>　大棗<small class="雙行小字">四枚，擘</small>　芒硝<small class="雙行小字">二兩</small></p>
<p>右八味，以水四升，煮取二升，去滓，內芒硝，更煮微沸，分溫再服。不解，更作。</p>
</span>
<p><span class="編號">105.</span>傷寒十三日，過經，譫語者，以有熱也，當以湯下之。若小便利者，大便當鞕，而反下利，脈調和者，知醫以丸藥下之，非其治也。若自下利者，脈當微厥，今反和者，此為內實也，調胃承氣湯主之。</p>
<p><span class="編號">106.</span>太陽病不解，熱結膀胱，其人如狂，血自下，下者愈。其外不解者，尚未可攻，當先解其外。外解已，但少腹急結者，乃可攻之，宜桃核承氣湯。</p>
<span class="方">
<p><b>桃核承氣湯方</b></p>
<p>桃仁<small class="雙行小字">五十個，去皮尖</small>　大黃<small class="雙行小字">四兩</small>　桂枝<small class="雙行小字">二兩，去皮</small>　甘草<small class="雙行小字">二兩，炙</small>　芒硝<small class="雙行小字">二兩</small></p>
<p>右五味，以水七升，煮取二升半，去滓，內芒硝，更上火微沸，下火，先食溫服五合，日三服，當微利。</p>
</span>
<p><span class="編號">107.</span>傷寒八九日，下之，胸滿煩驚，小便不利，譫語，一身盡重，不可轉側者，柴胡加龍骨牡蠣湯主之。</p>
<span class="方">
<p><b>柴胡加龍骨牡蠣湯方</b></p>
<p>柴胡<small class="雙行小字">四兩</small>　龍骨　黃芩　生薑<small class="雙行小字">切</small>　鉛丹　人參　桂枝<small class="雙行小字">去皮</small>　茯苓<small class="雙行小字">各一兩半</small>　半夏<small class="雙行小字">二合半，洗</small>　大黃<small class="雙行小字">二兩</small>　牡蠣<small class="雙行小字">一兩半，熬</small>　大棗<small class="雙行小字">六枚，擘</small></p>
<p>右十二味，以水八升，煮取四升，內大黃，切如棋子，更煮一兩沸，去滓，溫服一升。本云：柴胡湯，今加龍骨等。</p>
</span>
<p><span class="編號">108.</span>傷寒，腹滿，譫語，寸口脈浮而緊，此肝乘脾也，名曰縱。刺期門。</p>
<p><span class="編號">109.</span>傷寒發熱，嗇嗇惡寒，大渴欲飲水，其腹必滿，自汗出，小便利，其病欲解，此肝乘肺也，名曰橫。刺期門。</p>
<p><span class="編號">110.</span>太陽病二日，反躁，凡熨其背而大汗出，大熱入胃，胃中水竭，躁煩，必發譫語。十餘日，振慄，自下利者，此為欲解也。故其汗從腰以下不得汗，欲小便不得，反嘔，欲失溲，足下惡風，大便鞕，小便當數而反不數及不多，大便已，頭卓然而痛，其人足心必熱，穀氣下流故也。</p>
<p><span class="編號">111.</span>太陽病中風，以火劫發汗，邪風被火熱，血氣流溢，失其常度。兩陽相熏灼，其身發黃。陽盛則欲衄，陰虛小便難。陰陽俱虛竭，身體則枯燥，但頭汗出，劑頸而還，腹滿，微喘，口乾咽爛，或不大便，久則譫語，甚者至噦，手足躁擾，捻衣摸床，小便利者，其人可治。</p>
<p><span class="編號">112.</span>傷寒，脈浮，醫以火迫劫之，亡陽，必驚狂，臥起不安者，桂枝去芍藥加蜀漆牡蠣龍骨救逆湯主之。</p>
<span class="方">
<p><b>桂枝去芍藥加蜀漆牡蠣龍骨救逆湯方</b></p>
<p>桂枝<small class="雙行小字">三兩，去皮</small>　甘草<small class="雙行小字">二兩，炙</small>　生薑<small class="雙行小字">三兩，切</small>　大棗<small class="雙行小字">十二枚，擘</small>　牡蠣<small class="雙行小字">五兩，熬</small>　蜀漆<small class="雙行小字">三兩，洗去腥</small>　龍骨<small class="雙行小字">四兩</small></p>
<p>右七味，以水一斗二升，先煮蜀漆減二升，內諸藥，煮取三升，去滓，溫服一升。本云：桂枝湯，今去芍藥，加蜀漆、牡蠣、龍骨。</p>
</span>
<p><span class="編號">113.</span>形作傷寒，其脈不弦緊而弱，弱者必渴，被火必譫語，弱者發熱脈浮，解之當汗出愈。</p>
<p><span class="編號">114.</span>太陽病，以火熏之，不得汗，其人必躁。到經不解，必清血，名爲火邪。</p>
<p><span class="編號">115.</span>脈浮，熱甚，而反灸之，此為實，實以虛治，因火而動，必咽燥，吐血。</p>
<p><span class="編號">116.</span>微數之脈，慎不可灸。因火為邪，則為煩逆，追虛逐實，血散脈中，火氣雖微，內攻有力，焦骨傷筋，血難復也。脈浮，宜以汗解。用火灸之，邪無從出，因火而盛，病從腰以下必重而痹，名火逆也。欲自解者，必當先煩，煩乃有汗而解。何以知之？脈浮，故知汗出解。</p>
<p><span class="編號">117.</span>燒針令其汗，針處被寒，核起而赤者，必發奔豚。氣從少腹上衝心者，灸其核上各一壯，與桂枝加桂湯，更加桂二兩也。</p>
<span class="方">
<p><b>桂枝加桂湯方</b></p>
<p>桂枝<small class="雙行小字">五兩，去皮</small>　芍藥<small class="雙行小字">三兩</small>　生薑<small class="雙行小字">三兩，切</small>　甘草<small class="雙行小字">二兩，炙</small>　大棗<small class="雙行小字">十二枚，擘</small></p>
<p>右五味，以水七升，煮取三升，去滓，溫服一升。本云：桂枝湯，今加桂滿五兩。所以加桂者，以泄奔豚氣也。</p>
</span>
<p><span class="編號">118.</span>火逆下之，因燒針煩躁者，桂枝甘草龍骨牡蠣湯主之。</p>
<span class="方">
<p><b>桂枝甘草龍骨牡蠣湯方</b></p>
<p>桂枝<small class="雙行小字">一兩，去皮</small>　甘草<small class="雙行小字">二兩，炙</small>　牡蠣<small class="雙行小字">二兩，熬</small>　龍骨<small class="雙行小字">二兩</small></p>
<p>右四味，以水五升，煮取二升半，去滓，溫服八合，日三服。</p>
</span>
<p><span class="編號">119.</span>太陽傷寒者，加溫針，必驚也。</p>
<p><span class="編號">120.</span>太陽病，當惡寒發熱，今自汗出，反不惡寒發熱，關上脈細數者，以醫吐之過也。一二日吐之者，腹中飢，口不能食；三四日吐之者，不喜糜粥，欲食冷食，朝食暮吐，以醫吐之所致也，此為小逆。</p>
<p><span class="編號">121.</span>太陽病吐之，但太陽病當惡寒，今反不惡寒，不欲近衣，此為吐之內煩也。</p>
<p><span class="編號">122.</span>病人脈數，數為熱，當消穀引食，而反吐者，此以發汗，令陽氣微，膈氣虛，脈乃數也。數為客熱，不能消穀，以胃中虛冷，故吐也。</p>
<p><span class="編號">123.</span>太陽病，過經十餘日，心下溫溫欲吐，而胸中痛，大便反溏，腹微滿，鬱鬱微煩，先此時自極吐下者，與調胃承氣湯。若不爾者，不可與。但欲嘔，胸中痛，微溏者，此非柴胡湯證，以嘔，故知極吐下也。調胃承氣湯。</p>
<p><span class="編號">124.</span>太陽病，六七日表證仍在，脈微而沉，反不結胸，其人發狂者，以熱在下焦，少腹當鞕滿，小便自利者，下血乃愈。所以然者，以太陽隨經，瘀熱在裏故也。抵當湯主之。</p>
<span class="方">
<p><b>抵當湯方</b></p>
<p>水蛭<small class="雙行小字">熬</small>　虻蟲<small class="雙行小字">各三十個，去翅足，熬</small>　桃仁<small class="雙行小字">二十個，去皮尖</small>　大黃<small class="雙行小字">三兩，酒洗</small></p>
<p>右四味，以水五升，煮取三升，去滓，溫服一升。不下，更服。</p>
</span>
<p><span class="編號">125.</span>太陽病，身黃，脈沉結，少腹鞕，小便不利者，為無血也。小便自利，其人如狂者，血證諦也，抵當湯主之。</p>
<p><span class="編號">126.</span>傷寒有熱，少腹滿，應小便不利，今反利者，為有血也，當下之，不可餘藥，宜抵當丸。</p>
<span class="方">
<p><b>抵當丸方</b></p>
<p>水蛭<small class="雙行小字">二十個，熬</small>　虻蟲<small class="雙行小字">二十個，去翅足，熬</small>　桃仁<small class="雙行小字">二十五個，去皮尖</small>　大黃<small class="雙行小字">三兩</small></p>
<p>右四味，搗分四丸，以水一升煮一丸，取七合服之。晬時當下血，若不下者，更服。</p>
</span>
<p><span class="編號">127.</span>太陽病，小便利者，以飲水多，必心下悸，小便少者，必苦裏急也。</p>
<h2>卷第四</h2>
<h3>辨太陽病脈證並治下第七</h3>
<p><span class="編號">128.</span>問曰：病有結胸，有藏結，其狀如何？按之痛，寸脈浮，關脈沉，名曰結胸也。</p>
<p><span class="編號">129.</span>何謂藏結？答曰：如結胸狀，飲食如故，時時下利，寸脈浮，關脈小細沉緊，名曰藏結。舌上白胎滑者，難治。</p>
<p><span class="編號">130.</span>藏結無陽證，不往來寒熱，其人反靜，舌上胎滑者，不可攻也。</p>
<p><span class="編號">131.</span>病發於陽，而反下之，熱入因作結胸；病發於陰，而反下之，因作痞也。所以成結胸者，以下之太早故也。結胸者，項亦強，如柔痙狀，下之則和，宜大陷胸丸。</p>
<span class="方">
<p><b>大陷胸丸方</b></p>
<p>大黃<small class="雙行小字">半斤</small>　葶藶子<small class="雙行小字">半升，熬</small>　芒硝<small class="雙行小字">半升</small>　杏仁<small class="雙行小字">半升，去皮尖，熬黑</small></p>
<p>右四味，搗篩二味，內杏仁、芒硝，合研如脂，和散，取如彈丸一枚；別搗甘遂末一錢匕，白蜜二合，水二升，煮取一升，溫，頓服之。一宿乃下。如不下，更服，取下為效。禁如藥法。</p>
</span>
<p><span class="編號">132.</span>結胸證，其脈浮大者，不可下，下之則死。</p>
<p><span class="編號">133.</span>結胸證悉具，煩躁者亦死。</p>
<p><span class="編號">134.</span>太陽病，脈浮而動數，浮則為風，數則為熱，動則為痛，數則為虛。頭痛發熱，微盜汗出，而反惡寒者，表未解也，醫反下之，動數變遲，膈內拒痛，胃中空虛，客氣動膈，短氣躁煩，心中懊憹，陽氣內陷，心下因鞕，則為結胸，大陷胸湯主之。若不結胸，但頭汗出，餘處無汗，劑頸而還，小便不利，身必發黃。</p>
<span class="方">
<p><b>大陷胸湯方</b></p>
<p>大黃<small class="雙行小字">六兩，去皮</small>　芒硝<small class="雙行小字">一升</small>　甘遂<small class="雙行小字">一錢匕</small></p>
<p>右三味，以水六升，先煮大黃，取二升，去滓，內芒硝，煮一兩沸，內甘遂末，溫服一升。得快利，止後服。</p>
</span>
<p><span class="編號">135.</span>傷寒六七日，結胸熱實，脈沉而緊，心下痛，按之石鞕者，大陷胸湯主之。</p>
<p><span class="編號">136.</span>傷寒十餘日，熱結在裏，復往來寒熱者，與大柴胡湯；但結胸，無大熱者，此為水結在胸脇也，但頭微汗出者，大陷胸湯主之。</p>
<p><span class="編號">137.</span>太陽病，重發汗而復下之，不大便五六日，舌上燥而渴，日晡所小有潮熱，從心下至少腹鞕滿而痛，不可近者，大陷胸湯主之。</p>
<p><span class="編號">138.</span>小結胸病，正在心下，按之則痛，脈浮滑者，小陷胸湯主之。</p>
<span class="方">
<p><b>小陷胸湯方</b></p>
<p>黃連<small class="雙行小字">一兩</small>　半夏<small class="雙行小字">半升，洗</small>　栝蔞實<small class="雙行小字">大者一枚</small></p>
<p>右三味，以水六升，先煮栝蔞，取三升，去滓，內諸藥，煮取二升，去滓，分溫三服。</p>
</span>
<p><span class="編號">139.</span>太陽病，二三日，不能臥，但欲起，心下必結，脈微弱者，此本有寒分也。反下之，若利止，必作結胸；未止者，四日復下之，此作協熱利也。</p>
<p><span class="編號">140.</span>太陽病，下之，其脈促，不結胸者，此為欲解也；脈浮者，必結胸；脈緊者，必咽痛；脈弦者，必兩脇拘急；脈細數者，頭痛未止；脈沉緊者，必欲嘔；脈沉滑者，協熱利；脈浮滑者，必下血。</p>
<p><span class="編號">141.</span>病在陽，應以汗解之，反以冷水潠之，若灌之，其熱被劫，不得去，彌更益煩，肉上粟起，意欲飲水，反不渴者，服文蛤散；若不差者，與五苓散。<span class="校"><small class="雙行小字">本條前段參別本加入。</small></span>寒實結胸，無熱證者，與三物小陷胸湯，白散亦可服<span class="校"><small class="雙行小字">考《金匱玉函經》、《千金翼方》均無“陷胸湯”及“亦可服”六字。</small></span>。</p>
<span class="方">
<p><b>文蛤散方</b></p>
<p>文蛤<small class="雙行小字">五兩</small></p>
<p>右一味，為散，以沸湯和一方寸匕服，湯用五合。<span class="校"><small class="雙行小字">本方參別本加入。</small></span></p>
</span>
<span class="方">
<p><b>三物白散方</b></p>
<p>桔梗<small class="雙行小字">三分</small>　巴豆<small class="雙行小字">一分，去皮心，熬黑，研如脂</small>　貝母<small class="雙行小字">三分</small></p>
<p>右三味，為散，內巴豆更於臼中杵之，以白飲和服。強人半錢匕，羸者減之。病在膈上必吐，在膈下必利。不利，進熱粥一杯；利過不止，進冷粥一杯。</p>
</span>
<p><span class="編號">142.</span>太陽與少陽并病，頭項強痛，或眩冒，時如結胸，心下痞鞕者，當刺大椎第一間、肺俞、肝俞，慎不可發汗，發汗則譫語、脈弦，五日譫語不止，當刺期門。</p>
<p><span class="編號">143.</span>婦人中風，發熱惡寒，經水適來，得之七八日，熱除而脈遲身涼，胸脇下滿，如結胸狀，譫語者，此為熱入血室也。當刺期門，隨其實而取之。</p>
<p><span class="編號">144.</span>婦人中風，七八日續得寒熱，發作有時，經水適斷者，此為熱入血室，其血必結，故使如瘧狀，發作有時，小柴胡湯主之。</p>
<p><span class="編號">145.</span>婦人傷寒，發熱，經水適來，晝日明了，暮則譫語，如見鬼狀，此為熱入血室，無犯胃氣及上二焦，必自愈。</p>
<p><span class="編號">146.</span>傷寒六七日，發熱，微惡寒，支節煩疼，微嘔，心下支結，外證未去者，柴胡桂枝湯主之。</p>
<span class="方">
<p><b>柴胡桂枝湯方</b></p>
<p>桂枝<small class="雙行小字">一兩半，去皮</small>　黃芩<small class="雙行小字">一兩半</small>　人參<small class="雙行小字">一兩半</small>　甘草<small class="雙行小字">一兩，炙</small>　半夏<small class="雙行小字">二合半，洗</small>　芍藥<small class="雙行小字">一兩半</small>　大棗<small class="雙行小字">六枚，擘</small>　生薑<small class="雙行小字">一兩半，切</small>　柴胡<small class="雙行小字">四兩</small></p>
<p>右九味，以水七升，煮取三升，去滓，溫服一升。<span class="校"><small class="雙行小字">某版下有「本云：人參湯，作如桂枝法，加半夏、柴胡、黃芩；復如柴胡法，今用人參，作半劑。」</small></span></p>
</span>
<p><span class="編號">147.</span>傷寒五六日，已發汗而復下之，胸脇滿微結，小便不利，渴而不嘔，但頭汗出，往來寒熱，心煩者，此為未解也，柴胡桂枝乾薑湯主之。</p>
<span class="方">
<p><b>柴胡桂枝乾薑湯方</b></p>
<p>柴胡<small class="雙行小字">半斤</small>　桂枝<small class="雙行小字">三兩，去皮</small>　乾薑<small class="雙行小字">二兩</small>　栝蔞根<small class="雙行小字">四兩</small>　黃芩<small class="雙行小字">三兩</small>　牡蠣<small class="雙行小字">二兩，熬</small>　甘草<small class="雙行小字">二兩，炙</small></p>
<p>右七味，以水一斗二升，煮取六升，去滓，再煎取三升，溫服一升，日三服。初服微煩，復服，汗出便愈。</p>
</span>
<p><span class="編號">148.</span>傷寒五六日，頭汗出，微惡寒，手足冷，心下滿，口不欲食，大便鞕，脈細者，此為陽微結，必有表，復有裏也。脈沉，亦在裏也。汗出，為陽微。假令純陰結，不得復有外證，悉入在裏，此為半在裏半在外也。脈雖沉緊，不得為少陰病。所以然者，陰不得有汗，今頭汗出，故知非少陰也。可與小柴胡湯，設不了了者，得屎而解。</p>
<p><span class="編號">149.</span>傷寒五六日，嘔而發熱者，柴胡湯證具，而以他藥下之，柴胡證仍在者，復與柴胡湯。此雖已下之，不為逆，必蒸蒸而振，卻發熱汗出而解。若心下滿而鞕痛者，此為結胸也，大陷胸湯主之。但滿而不痛者，此為痞，柴胡不中與之，宜半夏瀉心湯。</p>
<span class="方">
<p><b>半夏瀉心湯方</b></p>
<p>半夏<small class="雙行小字">半升，洗</small>　黃芩　乾薑　人參　甘草<small class="雙行小字">炙，各三兩</small>　黃連<small class="雙行小字">一兩</small>　大棗<small class="雙行小字">十二枚，擘</small></p>
<p>右七味，以水一斗，煮取六升，去滓，再煎取三升，溫服一升，日三服。</p>
</span>
<p><span class="編號">150.</span>太陽少陽并病，而反下之，成結胸，心下鞕，下利不止，水漿不下，其人心煩。</p>
<p><span class="編號">151.</span>脈浮而緊，而復下之，緊反入裏，則作痞，按之自濡，但氣痞耳。</p>
<p><span class="編號">152.</span>太陽中風，下利，嘔逆，表解者，乃可攻之。其人漐漐汗出，發作有時，頭痛，心下痞鞕滿，引脇下痛，乾嘔，短氣，汗出不惡寒者，此表解裏未和也，十棗湯主之。</p>
<span class="方">
<p><b>十棗湯方</b></p>
<p>芫花<small class="雙行小字">熬</small>　甘遂　大戟</p>
<p>右三味，等分，各別搗為散，以水一升半，先煮大棗肥者十枚，取八合，去滓，內藥末。強人服一錢匕，羸人服半錢。溫服之，平旦服。若下後病不除者，明日更服加半錢，得快下利後，糜粥自養。</p>
</span>
<p><span class="編號">153.</span>太陽病，醫發汗，遂發熱惡寒，因復下之，心下痞，表裏俱虛，陰陽氣并竭，無陽則陰獨，復加燒針，因胸煩。面色青黃，膚瞤者，難治。今色微黃，手足溫者，易愈。</p>
<p><span class="編號">154.</span>心下痞，按之濡，其脈關上浮者，大黃黃連瀉心湯主之。</p>
<span class="方">
<p><b>大黃黃連瀉心湯方</b></p>
<p>大黃<small class="雙行小字">二兩</small>　黃連<small class="雙行小字">一兩</small></p>
<p>右二味，以麻沸湯二升漬之，須臾，絞去滓，分溫再服。</p>
</span>
<p><span class="編號">155.</span>心下痞，而復惡寒汗出者，附子瀉心湯主之。</p>
<span class="方">
<p><b>附子瀉心湯方</b></p>
<p>大黃<small class="雙行小字">二兩</small>　黃連<small class="雙行小字">一兩</small>　黃芩<small class="雙行小字">一兩</small>　附子<small class="雙行小字">一枚，炮，去皮，破，別煮取汁</small></p>
<p>右四味，切三味，以麻沸湯二升漬之，須臾，絞去滓，內附子汁，分溫再服。</p>
</span>
<p><span class="編號">156.</span>本以下之，故心下痞，與瀉心湯，痞不解，其人渴而口燥，煩，小便不利者，五苓散主之。</p>
<p><span class="編號">157.</span>傷寒汗出，解之後，胃中不和，心下痞鞕，乾噫食臭，脇下有水氣，腹中雷鳴，下利者，生薑瀉心湯主之。</p>
<span class="方">
<p><b>生薑瀉心湯方</b></p>
<p>生薑<small class="雙行小字">四兩，切</small>　甘草<small class="雙行小字">三兩，炙</small>　人參<small class="雙行小字">三兩</small>　乾薑<small class="雙行小字">一兩</small>　黃芩<small class="雙行小字">三兩</small>　半夏<small class="雙行小字">半升，洗</small>　黃連<small class="雙行小字">一兩</small>　大棗<small class="雙行小字">十二枚，擘</small></p>
<p>右八味，以水一斗，煮取六升，去滓，再煎取三升，溫服一升，日三服。</p>
</span>
<p>附子瀉心湯，本云：加附子。半夏瀉心湯、甘草瀉心湯，同體別名耳。生薑瀉心湯，本云：理中人參黃茶湯，去桂枝朮，加黃連，並瀉肝法。</p>
<p><span class="編號">158.</span>傷寒中風，醫反下之，其人下利，日數十行，穀不化，腹中雷鳴，心下痞鞕而滿，乾嘔，心煩不得安。醫見心下痞，謂病不盡，復下之，其痞益甚，此非結熱，但以胃中虛，客氣上逆，故使鞕也，甘草瀉心湯主之。</p>
<span class="方">
<p><b>甘草瀉心湯方</b></p>
<p>甘草<small class="雙行小字">四兩，炙</small>　黃芩<small class="雙行小字">三兩</small>　半夏<small class="雙行小字">半升，洗</small>　大棗<small class="雙行小字">十二枚，擘</small>　黃連<small class="雙行小字">一兩</small>　乾薑<small class="雙行小字">三兩</small></p>
<p>右六味，以水一斗，煮取六升，去滓，再煎取三升，溫服一升，日三服。</p>
</span>
<p><span class="編號">159.</span>傷寒，服湯藥，下利不止，心下痞鞕。服瀉心湯已，復以他藥下之，利不止。醫以理中與之，利益甚。理中者，理中焦，此利在下焦，赤石脂禹餘糧湯主之。復不止者，當利其小便。</p>
<span class="方">
<p><b>赤石脂禹餘糧湯方</b></p>
<p>赤石脂<small class="雙行小字">一斤，碎</small>　太一禹餘糧<small class="雙行小字">一斤，碎</small></p>
<p>右二味，以水六升，煮取二升，去滓，分溫三服。</p>
</span>
<p><span class="編號">160.</span>傷寒吐下後，發汗，虛煩，脈甚微，八九日心下痞鞕，脇下痛，氣上衝咽喉，眩冒，經脈動惕者，久而成痿。</p>
<p><span class="編號">161.</span>傷寒發汗，若吐若下，解後，心下痞鞕，噫氣不除者，旋覆代赭湯主之。</p>
<span class="方">
<p><b>旋覆代赭湯方</b></p>
<p>旋覆花<small class="雙行小字">三兩</small>　人參<small class="雙行小字">二兩</small>　生薑<small class="雙行小字">五兩</small>　代赭<small class="雙行小字">一兩</small>　甘草<small class="雙行小字">三兩，炙</small>　半夏<small class="雙行小字">半升，洗</small>　大棗<small class="雙行小字">十二枚，擘</small></p>
<p>右七味，以水一斗，煮取六升，去滓，再煎取三升，溫服一升，日三服。</p>
</span>
<p><span class="編號">162.</span>下後，不可更行桂枝湯，若汗出而喘，無大熱者，可與麻黃杏仁甘草石膏湯。</p>
<p><span class="編號">163.</span>太陽病，外證未除，而數下之，遂協熱而利，利下不止，心下痞鞕，表裏不解者，桂枝人參湯主之。</p>
<span class="方">
<p><b>桂枝人參湯方</b></p>
<p>桂枝<small class="雙行小字">四兩，別切</small>　甘草<small class="雙行小字">四兩，炙</small>　白朮<small class="雙行小字">三兩</small>　人參<small class="雙行小字">三兩</small>　乾薑<small class="雙行小字">三兩</small></p>
<p>右五味，以水九升，先煮四味，取五升，內桂，更煮取三升，去滓，溫服一升，日再夜一服。</p>
</span>
<p><span class="編號">164.</span>傷寒大下後，復發汗，心下痞，惡寒者，表未解也。不可攻痞，當先解表，表解乃可攻痞。解表宜桂枝湯，攻痞宜大黃黃連瀉心湯。</p>
<p><span class="編號">165.</span>傷寒發熱，汗出不解，心中痞鞕，嘔吐而下利者，大柴胡湯主之。</p>
<p><span class="編號">166.</span>病如桂枝證，頭不痛，項不強，寸脈微浮，胸中痞鞕，氣上衝喉咽不得息者，此為胸有寒也，當吐之，宜瓜蒂散。</p>
<span class="方">
<p><b>瓜蒂散方</b></p>
<p>瓜蒂<small class="雙行小字">一分，熬黃</small>　赤小豆<small class="雙行小字">一分</small></p>
<p>右二味，各別搗篩，為散已，合治之，取一錢匕。以香豉一合，用熱湯七合，煮作稀糜，去滓。取汁合散，溫，頓服之。不吐者，少少加；得快吐，乃止。諸亡血、虛家，不可與瓜蒂散。</p>
</span>
<p><span class="編號">167.</span>病脇下素有痞，連在臍旁，痛引少腹，入陰筋者，此名藏結，死。</p>
<p><span class="編號">168.</span>傷寒若吐若下後，七八日不解，熱結在裏，表裏俱熱，時時惡風，大渴，舌上乾燥而煩，欲飲水數升者，白虎加人參湯主之。</p>
<p><span class="編號">169.</span>傷寒無大熱，口燥渴，心煩，背微惡寒者，白虎加人參湯主之。</p>
<p><span class="編號">170.</span>傷寒，脈浮，發熱無汗，其表不解，不可與白虎湯；渴欲飲水，無表證者，白虎加人參湯主之。</p>
<p><span class="編號">171.</span>太陽少陽并病，心下鞕，頸項強而眩者，當刺大椎、肺俞、肝俞，慎勿下之。</p>
<p><span class="編號">172.</span>太陽與少陽合病，自下利者，與黃芩湯；若嘔者，黃芩加半夏生薑湯主之。</p>
<span class="方">
<p><b>黃芩湯方</b></p>
<p>黃芩<small class="雙行小字">三兩</small>　芍藥<small class="雙行小字">二兩</small>　甘草<small class="雙行小字">二兩，炙</small>　大棗<small class="雙行小字">十二枚，擘</small></p>
<p>右四味，以水一斗，煮取三升，去滓，溫服一升，日再、夜一服。</p>
</span>
<span class="方">
<p><b>黃芩加半夏生薑湯方</b></p>
<p>黃芩<small class="雙行小字">三兩</small>　芍藥<small class="雙行小字">二兩</small>　甘草<small class="雙行小字">二兩，炙</small>　大棗<small class="雙行小字">十二枚，擘</small>　半夏<small class="雙行小字">半升，洗</small>　生薑<small class="雙行小字">一兩半，一方三兩，切</small></p>
<p>右六味，以水一斗，煮取三升，去滓，溫服一升，日再、夜一服。</p>
</span>
<p><span class="編號">173.</span>傷寒胸中有熱，胃中有邪氣，腹中痛，欲嘔吐者，黃連湯主之。</p>
<span class="方">
<p><b>黃連湯方</b></p>
<p>黃連<small class="雙行小字">三兩</small>　甘草<small class="雙行小字">三兩，炙</small>　乾薑<small class="雙行小字">三兩</small>　桂枝<small class="雙行小字">三兩，去皮</small>　人參<small class="雙行小字">二兩</small>　半夏<small class="雙行小字">半升，洗</small>　大棗<small class="雙行小字">十二枚，擘</small></p>
<p>右七味，以水一斗，煮取六升，去滓，溫服，晝三夜二。</p>
</span>
<p><span class="編號">174.</span>傷寒八九日，風濕相搏，身體疼煩，不能自轉側，不嘔不渴，脈浮虛而濇者，桂枝附子湯主之。若其人大便鞕，小便自利者，去桂加白朮湯主之。</p>
<span class="方">
<p><b>桂枝附子湯方</b></p>
<p>桂枝<small class="雙行小字">四兩，去皮</small>　附子<small class="雙行小字">三枚，炮，去皮，破</small>　生薑<small class="雙行小字">三兩，切</small>　甘草<small class="雙行小字">二兩，炙</small>　大棗<small class="雙行小字">十二枚，擘</small></p>
<p>右五味，以水六升，煮取二升，去滓，分溫三服。</p>
</span>
<span class="方">
<p><b>去桂加白朮湯方</b></p>
<p>附子<small class="雙行小字">三枚，炮，去皮，破</small>　白朮<small class="雙行小字">四兩</small>　生薑<small class="雙行小字">三兩，切</small>　甘草<small class="雙行小字">二兩，炙</small>　大棗<small class="雙行小字">十二枚，擘</small></p>
<p>右五味，以水六升，煮取兩升，去滓，分溫三服。初一服，其人身如痹，半日許復服之，三服都盡，其人如冒狀，勿怪。此以附子、朮並走皮內，逐水氣未得除，故使之耳，法當加桂四兩。此本一方二法：以大便鞕、小便自利，去桂也；以大便不鞕、小便不利，當加桂。附子三枚，恐多也。虛弱家及產婦，宜減服之。</p>
</span>
<p><span class="編號">175.</span>風濕相搏，骨節疼煩，掣痛不得屈伸，近之則痛劇，汗出短氣，小便不利，惡風不欲去衣，或身微腫者，甘草附子湯主之。</p>
<span class="方">
<p><b>甘草附子湯方</b></p>
<p>甘草<small class="雙行小字">二兩，炙</small>　附子<small class="雙行小字">二枚，炮，去皮，破</small>　白朮<small class="雙行小字">二兩</small>　桂枝<small class="雙行小字">四兩，去皮</small></p>
<p>右四味，以水六升，煮取三升，去滓，溫服一升，日三服。初取得微汗則解。能食汗止復煩者，將服五合，恐一升多者，宜服六七合為始。</p>
</span>
<p><span class="編號">176.</span>傷寒，脈浮滑，此以表有熱，裏有寒，白虎湯主之。</p>
<span class="方">
<p><b>白虎湯方</b></p>
<p>知母<small class="雙行小字">六兩</small>　石膏<small class="雙行小字">一斤，碎</small>　甘草<small class="雙行小字">二兩，炙</small>　粳米<small class="雙行小字">六合</small></p>
<p>右四味，以水一斗，煮米熟，湯成，去滓，溫服一升，日三服。</p>
</span>
<p><span class="編號">177.</span>傷寒，脈結代，心動悸，炙甘草湯主之。</p>
<span class="方">
<p><b>炙甘草湯方</b></p>
<p>甘草<small class="雙行小字">四兩，炙</small>　生薑<small class="雙行小字">三兩，切</small>　人參<small class="雙行小字">二兩</small>　生地黃<small class="雙行小字">一斤</small>　桂枝<small class="雙行小字">三兩，去皮</small>　阿膠<small class="雙行小字">二兩</small>　麥門冬<small class="雙行小字">半斤，去心</small>　麻仁<small class="雙行小字">半升</small>　大棗<small class="雙行小字">三十枚，擘</small></p>
<p>右九味，以清酒七升，水八升，先煮八味，取三升，去滓，內膠烊消盡，溫服一升，日三服。一名復脈湯。</p>
</span>
<p><span class="編號">178.</span>脈按之來緩，時一止復來者，名曰結。又脈來動而中止，更來小數，中有還者反動，名曰結，陰也。脈來動而中止，不能自還，因而復動者，名曰代，陰也。得此脈者，必難治。</p>
<h2>卷第五</h2>
<h3>辨陽明病脈證並治第八</h3>
<p><span class="編號">179.</span>問曰：病有太陽陽明，有正陽陽明，有少陽陽明，何謂也？答曰：太陽陽明者，脾約是也；正陽陽明者，胃家實是也；少陽陽明者，發汗利小便已，胃中燥煩實，大便難是也。</p>
<p><span class="編號">180.</span>陽明之為病，胃家實是也。</p>
<p><span class="編號">181.</span>問曰：何緣得陽明病？答曰：太陽病，若發汗，若下，若利小便，此亡津液，胃中乾燥，因轉屬陽明。不更衣，內實，大便難者，此名陽明也。</p>
<p><span class="編號">182.</span>問曰：陽明病外證云何？答曰：身熱，汗自出，不惡寒，反惡熱也。</p>
<p><span class="編號">183.</span>問曰：病有得之一日，不發熱而惡寒者，何也？答曰：雖得之一日，惡寒將自罷，即自汗出而惡熱也。</p>
<p><span class="編號">184.</span>問曰：惡寒何故自罷？答曰：陽明居中，主土也，萬物所歸，無所復傳，始雖惡寒，二日自止，此為陽明病也。</p>
<p><span class="編號">185.</span>本太陽，初得病時，發其汗，汗先出不徹，因轉屬陽明也。傷寒發熱，無汗，嘔不能食，而反汗出濈濈然者，是轉屬陽明也。</p>
<p><span class="編號">186.</span>傷寒三日，陽明脈大。</p>
<p><span class="編號">187.</span>傷寒脈浮而緩，手足自溫者，是為繫在太陰。太陰者，身當發黃，若小便自利者，不能發黃；至七八日，大便鞕者，為陽明病也。</p>
<p><span class="編號">188.</span>傷寒轉繫陽明者，其人濈然微汗出也。</p>
<p><span class="編號">189.</span>陽明中風，口苦咽乾，腹滿微喘，發熱惡寒，脈浮而緊。若下之，則腹滿，小便難也。</p>
<p><span class="編號">190.</span>陽明病，若能食，名中風；不能食，名中寒。</p>
<p><span class="編號">191.</span>陽明病，若中寒者，不能食，小便不利，手足濈然汗出，此欲作固瘕，必大便初鞕後溏。所以然者，以胃中冷，水穀不別故也。</p>
<p><span class="編號">192.</span>陽明病，初欲食，小便反不利，大便自調，其人骨節疼，翕翕如有熱狀，奄然發狂，濈然汗出而解者，此水不勝穀氣，與汗共并，脈緊則愈。</p>
<p><span class="編號">193.</span>陽明病，欲解時，從申至戌上。</p>
<p><span class="編號">194.</span>陽明病，不能食，攻其熱必噦，所以然者，胃中虛冷故也。以其人本虛，攻其熱必噦。</p>
<p><span class="編號">195.</span>陽明病，脈遲，食難用飽，飽則微煩頭眩，必小便難，此欲作穀癉，雖下之，腹滿如故，所以然者，脈遲故也。</p>
<p><span class="編號">196.</span>陽明病，法多汗，反無汗，其身如蟲行皮中狀者，此以久虛故也。</p>
<p><span class="編號">197.</span>陽明病，反無汗而小便利，二三日嘔而欬，手足厥者，必苦頭痛；若不欬，不嘔，手足不厥者，頭不痛。</p>
<p><span class="編號">198.</span>陽明病，但頭眩，不惡寒，故能食而欬，其人咽必痛；若不欬者，咽不痛。</p>
<p><span class="編號">199.</span>陽明病，無汗，小便不利，心中懊憹者，身必發黃。</p>
<p><span class="編號">200.</span>陽明病，被火，額上微汗出，而小便不利者，必發黃。</p>
<p><span class="編號">201.</span>陽明病，脈浮而緊者，必潮熱，發作有時，但浮者，必盜汗出。</p>
<p><span class="編號">202.</span>陽明病，口燥，但欲漱水，不欲嚥者，此必衄。</p>
<p><span class="編號">203.</span>陽明病，本自汗出，醫更重發汗，病已差，尚微煩不了了者，此必大便鞕故也。以亡津液，胃中乾燥，故令大便鞕。當問其小便日幾行。若本小便日三四行，今日再行，故知大便不久出。今為小便數少，以津液當還入胃中，故知不久必大便也。</p>
<p><span class="編號">204.</span>傷寒嘔多，雖有陽明證，不可攻之。</p>
<p><span class="編號">205.</span>陽明病，心下鞕滿者，不可攻之。攻之，利遂不止者死，利止者愈。</p>
<p><span class="編號">206.</span>陽明病，面合色赤，不可攻之，必發熱、色黃者，小便不利也。</p>
<p><span class="編號">207.</span>陽明病，不吐不下，心煩者，可與調胃承氣湯。</p>
<p><span class="編號">208.</span>陽明病，脈遲，雖汗出不惡寒者，其身必重，短氣，腹滿而喘，有潮熱者，此外欲解，可攻裏也。手足濈然汗出者，此大便已鞕也，大承氣湯主之；若汗多，微發熱惡寒者，外未解也，其熱不潮，未可與承氣湯；若腹大滿不通者，可與小承氣湯，微和胃氣，勿令致大泄下。</p>
<span class="方">
<p><b>大承氣湯方</b></p>
<p>大黃<small class="雙行小字">四兩，酒洗</small>　厚朴<small class="雙行小字">半斤，炙，去皮</small>　枳實<small class="雙行小字">五枚，炙</small>　芒硝<small class="雙行小字">三合</small></p>
<p>右四味，以水一斗，先煮二物，取五升，去滓，內大黃，更煮取二升，去滓，內芒硝，更上微火一兩沸，分溫再服。得下，餘勿服。</p>
</span>
<span class="方">
<p><b>小承氣湯方</b></p>
<p>大黃<small class="雙行小字">四兩，酒洗</small>　厚朴<small class="雙行小字">二兩，炙，去皮</small>　枳實<small class="雙行小字">三枚，大者，炙</small></p>
<p>右三味，以水四升，煮取一升二合，去滓，分溫二服。初服當更衣，不爾者盡飲之，若更衣者，勿服之。</p>
</span>
<p><span class="編號">209.</span>陽明病，潮熱，大便微鞕者，可與大承氣湯，不鞕者，不可與之。若不大便六七日，恐有燥屎，欲知之法，少與小承氣湯。湯入腹中，轉矢氣者，此有燥屎也，乃可攻之；若不轉矢氣者，此但初頭鞕，後必溏，不可攻之，攻之必脹滿不能食也。欲飲水者，與水則噦。其後發熱者，必大便復鞕而少也，以小承氣湯和之。不轉矢氣者，慎不可攻也。</p>
<p><span class="編號">210.</span>夫實則譫語，虛則鄭聲，鄭聲者，重語也。直視，譫語，喘滿者死，下利者亦死。</p>
<p><span class="編號">211.</span>發汗多，若重發汗者，亡其陽，譫語，脈短者死，脈自和者不死。</p>
<p><span class="編號">212.</span>傷寒若吐若下後，不解，不大便五六日，上至十餘日。日晡所發潮熱，不惡寒，獨語如見鬼狀。若劇者，發則不識人，循衣摸床，惕而不安，微喘直視。脈弦者生，濇者死。微者，但發熱譫語者，大承氣湯主之。若一服利，則止後服。</p>
<p><span class="編號">213.</span>陽明病，其人多汗，以津液外出，胃中燥，大便必鞕，鞕則譫語。小承氣湯主之。若一服譫語止者，更莫復服。</p>
<p><span class="編號">214.</span>陽明病，譫語，發潮熱，脈滑而疾者，小承氣湯主之。因與承氣湯一升，腹中轉氣者，更服一升；若不轉氣者，勿更與之。明日又不大便，脈反微濇者，裏虛也，為難治，不可更與承氣湯也。</p>
<p><span class="編號">215.</span>陽明病，譫語，有潮熱，反不能食者，胃中必有燥屎五六枚也。若能食者，但鞕耳。宜大承氣湯下之。</p>
<p><span class="編號">216.</span>陽明病，下血，譫語者，此為熱入血室。但頭汗出者，刺期門，隨其實而瀉之，濈然汗出則愈。</p>
<p><span class="編號">217.</span>汗出，譫語者，以有燥屎在胃中，此為風也。須下者，過經乃可下之。下之若早，語言必亂，以表虛裏實故也。下之愈，宜大承氣湯。</p>
<p><span class="編號">218.</span>傷寒四五日，脈沉而喘滿，沉為在裏，而反發其汗，津液越出，大便為難，表虛裏實，久則譫語。</p>
<p><span class="編號">219.</span>三陽合病，腹滿，身重，難以轉側，口不仁，面垢，譫語，遺尿。發汗則譫語，下之則額上生汗，手足厥冷。若自汗出者，白虎湯主之。</p>
<p><span class="編號">220.</span>二陽并病，太陽證罷，但發潮熱，手足漐漐汗出，大便難而譫語者，下之則愈，宜大承氣湯。</p>
<p><span class="編號">221.</span>陽明病，脈浮而緊，咽燥，口苦，腹滿而喘，發熱汗出，不惡寒，反惡熱，身重。若發汗則躁，心憒憒，反譫語，若加溫針，必怵惕，煩躁不得眠。若下之，則胃中空虛，客氣動膈，心中懊憹，舌上胎者，梔子豉湯主之。</p>
<p><span class="編號">222.</span>若渴欲飲水，口乾舌燥者，白虎加人參湯主之。</p>
<p><span class="編號">223.</span>若脈浮，發熱，渴欲飲水，小便不利者，豬苓湯主之。</p>
<span class="方">
<p><b>豬苓湯方</b></p>
<p>豬苓<small class="雙行小字">去皮</small>　茯苓　澤瀉　阿膠　滑石<small class="雙行小字">碎，各一兩</small></p>
<p>右五味，以水四升，先煮四味，取二升，去滓，內阿膠烊消，溫服七合，日三服。</p>
</span>
<p><span class="編號">224.</span>陽明病，汗出多而渴者，不可與豬苓湯，以汗多胃中燥，豬苓湯復利其小便故也。</p>
<p><span class="編號">225.</span>脈浮而遲，表熱裏寒，下利清穀者，四逆湯主之。</p>
<p><span class="編號">226.</span>若胃中虛冷，不能食者，飲水則噦。</p>
<p><span class="編號">227.</span>脈浮，發熱，口乾，鼻燥，能食者則衄。</p>
<p><span class="編號">228.</span>陽明病，下之，其外有熱，手足溫，不結胸，心中懊憹，飢不能食，但頭汗出者，梔子豉湯主之。</p>
<p><span class="編號">229.</span>陽明病，發潮熱，大便溏，小便自可，胸脇滿不去者，與小柴胡湯。</p>
<p><span class="編號">230.</span>陽明病，脇下鞕滿，不大便，而嘔，舌上白胎者，可與小柴胡湯。上焦得通，津液得下，胃氣因和，身濈然汗出而解。</p>
<p><span class="編號">231.</span>陽明中風，脈弦浮大而短氣，腹都滿，脇下及心痛，久按之氣不通，鼻乾，不得汗，嗜臥，一身及目悉黃，小便難，有潮熱，時時噦，耳前後腫。刺之小差，外不解，病過十日，脈續浮者，與小柴胡湯。</p>
<p><span class="編號">232.</span>脈但浮，無餘證者，與麻黃湯。若不尿，腹滿加噦者，不治。</p>
<p><span class="編號">233.</span>陽明病，自汗出，若發汗，小便自利者，此為津液內竭，雖鞕不可攻之，當須自欲大便，宜蜜煎導而通之，若土瓜根及大豬膽汁，皆可為導。</p>
<span class="方">
<p><b>蜜煎導方</b></p>
<p>食蜜<small class="雙行小字">七合</small></p>
<p>右一味。於銅器內，微火煎，當須凝如飴狀，攪之勿令焦著，欲可丸。並手捻作挺，令頭銳，大如指，長二寸許，當熱時急作，冷則鞕。以內穀道中，以手急抱，欲大便時乃去之。</p>
</span>
<span class="方">
<p><b>土瓜根方</b></p>
<p>已佚</p>
</span>
<span class="方">
<p><b>豬膽汁方</b></p>
<p>又大豬膽一枚，瀉汁，和少許法醋，以灌穀道內。如一食頃，當大便出宿食惡物，甚效。</p>
</span>
<p><span class="編號">234.</span>陽明病，脈遲，汗出多，微惡寒者，表未解也，可發汗，宜桂枝湯。</p>
<p><span class="編號">235.</span>陽明病，脈浮，無汗而喘者，發汗則愈，宜麻黃湯。</p>
<p><span class="編號">236.</span>陽明病，發熱汗出者，此為熱越，不能發黃也；但頭汗出，身無汗，劑頸而還，小便不利，渴引水漿者，此為瘀熱在裏，身必發黃，茵陳蒿湯主之。</p>
<span class="方">
<p><b>茵陳蒿湯方</b></p>
<p>茵陳蒿<small class="雙行小字">六兩</small>　梔子<small class="雙行小字">十四枚，擘</small>　大黃<small class="雙行小字">二兩，去皮</small></p>
<p>右三味，以水一斗二升，先煮茵陳，減六升，內二味，煮取三升，去滓，分三服。小便當利，尿如皂莢汁狀，色正赤，一宿腹減，黃從小便去也。</p>
</span>
<p><span class="編號">237.</span>陽明證，其人喜忘者，必有畜血。所以然者，本有久瘀血，故令喜忘，屎雖鞕，大便反易，其色必黑者，宜抵當湯下之。</p>
<p><span class="編號">238.</span>陽明病，下之，心中懊憹而煩，胃中有燥屎者，可攻。腹微滿，初頭鞕，後必溏，不可攻之。若有燥屎者，宜大承氣湯。</p>
<p><span class="編號">239.</span>病人不大便五六日，繞臍痛，煩躁，發作有時者，此有燥屎，故使不大便也。</p>
<p><span class="編號">240.</span>病人煩熱，汗出則解，又如瘧狀，日晡所發熱者，屬陽明也。脈實者，宜下之；脈浮虛者，宜發汗。下之，與大承氣湯；發汗，宜桂枝湯。</p>
<p><span class="編號">241.</span>大下後，六七日不大便，煩不解，腹滿痛者，此有燥屎也。所以然者，本有宿食故也，宜大承氣湯。</p>
<p><span class="編號">242.</span>病人小便不利，大便乍難乍易，時有微熱，喘冒不能臥者，有燥屎也。宜大承氣湯。</p>
<p><span class="編號">243.</span>食穀欲嘔，屬陽明也，吳茱萸湯主之；得湯反劇者，屬上焦也。</p>
<span class="方">
<p><b>吳茱萸湯方</b></p>
<p>吳茱萸<small class="雙行小字">一升，洗</small>　人參<small class="雙行小字">三兩</small>　生薑<small class="雙行小字">六兩，切</small>　大棗<small class="雙行小字">十二枚，擘</small></p>
<p>右四味，以水七升，煮取二升，去滓，溫服七合，日三服。</p>
</span>
<p><span class="編號">244.</span>太陽病，寸緩、關浮、尺弱，其人發熱汗出，復惡寒，不嘔，但心下痞者，此以醫下之也。如其不下者，病人不惡寒而渴者，此轉屬陽明也，小便數者，大便必鞕，不更衣十日，無所苦也。渴欲飲水，少少與之，但以法救之，渴者，宜五苓散。</p>
<p><span class="編號">245.</span>陽脈微而汗出少者，為自和也；汗出多者為太過，陽脈實。因發其汗，出多者，亦為太過，太過者，為陽絕於裏，亡津液，大便因鞕也。</p>
<p><span class="編號">246.</span>脈浮而芤，浮為陽，芤為陰，浮芤相搏，胃氣生熱，其陽則絕。</p>
<p><span class="編號">247.</span>趺陽脈浮而濇，浮則胃氣強，濇則小便數，浮濇相搏，大便則鞕，其脾為約，麻子仁丸主之。</p>
<span class="方">
<p><b>麻子仁丸方</b></p>
<p>麻子仁<small class="雙行小字">二升</small>　芍藥<small class="雙行小字">半斤</small>　枳實<small class="雙行小字">半斤，炙</small>　大黃<small class="雙行小字">一斤，去皮</small>　厚朴<small class="雙行小字">一尺，炙，去皮</small>　杏仁<small class="雙行小字">一升，去皮尖，熬，別作脂</small></p>
<p>右六味，蜜和丸，如梧桐子大，飲服十丸，日三服，漸加，以知為度。</p>
</span>
<p><span class="編號">248.</span>太陽病三日，發汗不解，蒸蒸發熱者，屬胃也，調胃承氣湯主之。</p>
<p><span class="編號">249.</span>傷寒吐後，腹脹滿者，與調胃承氣湯。</p>
<p><span class="編號">250.</span>太陽病，若吐、若下，若發汗後，微煩，小便數，大便因鞕者，與小承氣湯，和之愈。</p>
<p><span class="編號">251.</span>得病二三日，脈弱，無太陽柴胡證，煩躁，心下鞕，至四五日，雖能食，以小承氣湯少少與，微和之，令小安。至六日，與承氣湯一升。若不大便六七日，小便少者，雖不受食，但初頭鞕，後必溏，未定成鞕，攻之必溏，須小便利，屎定鞕，乃可攻之，宜大承氣湯。</p>
<p><span class="編號">252.</span>傷寒六七日，目中不了了，睛不和，無表裏證，大便難，身微熱者，此為實也。急下之，宜大承氣湯。</p>
<p><span class="編號">253.</span>陽明病，發熱，汗多者，急下之，宜大承氣湯。</p>
<p><span class="編號">254.</span>發汗不解，腹滿痛者，急下之，宜大承氣湯。</p>
<p><span class="編號">255.</span>腹滿不減，減不足言，當下之，宜大承氣湯。</p>
<p><span class="編號">256.</span>陽明少陽合病，必下利，其脈不負者，為順也。負者，失也。互相剋賊，名為負也。脈滑而數者，有宿食也。當下之，宜大承氣湯。</p>
<p><span class="編號">257.</span>病人無表裏證，發熱七八日，雖脈浮數者，可下之。假令已下，脈數不解，合熱則消穀善飢，至六七日，不大便者，有瘀血，宜抵當湯。</p>
<p><span class="編號">258.</span>若脈數不解，而下不止，必協熱便膿血也。</p>
<p><span class="編號">259.</span>傷寒發汗已，身目為黃，所以然者，以寒濕在裏不解故也，以為不可下也，於寒濕中求之。</p>
<p><span class="編號">260.</span>傷寒七八日，身黃如橘子色，小便不利，腹微滿者，茵陳蒿湯主之。</p>
<p><span class="編號">261.</span>傷寒，身黃，發熱，梔子柏皮湯主之。</p>
<span class="方">
<p><b>梔子柏皮湯方</b></p>
<p>肥梔子<small class="雙行小字">十五個，擘</small>　甘草<small class="雙行小字">一兩，炙</small>　黃柏<small class="雙行小字">二兩</small></p>
<p>右三味，以水四升，煮取一升半，去滓，分溫再服。</p>
</span>
<p><span class="編號">262.</span>傷寒瘀熱在裏，身必黃，麻黃連軺赤小豆湯主之。</p>
<span class="方">
<p><b>麻黃連軺赤小豆湯方</b></p>
<p>麻黃<small class="雙行小字">二兩，去節</small>　連軺<small class="雙行小字">二兩</small>　杏仁<small class="雙行小字">四十個，去皮尖</small>　赤小豆<small class="雙行小字">一升</small>　大棗<small class="雙行小字">十二枚，擘</small>　生梓白皮<small class="雙行小字">一升，切</small>　生薑<small class="雙行小字">二兩，切</small>　甘草<small class="雙行小字">二兩，炙</small></p>
<p>右八味，以潦水一斗，先煮麻黃，再沸，去上沫，內諸藥，煮取三升，去滓，分溫三服，半日服盡。</p>
</span>
<h3>辨少陽病脈證並治第九</h3>
<p><span class="編號">263.</span>少陽之為病，口苦，咽乾，目眩也。</p>
<p><span class="編號">264.</span>少陽中風，兩耳無所聞，目赤，胸中滿而煩者，不可吐下，吐下則悸而驚。</p>
<p><span class="編號">265.</span>傷寒，脈弦細，頭痛發熱者，屬少陽。少陽不可發汗，發汗則譫語，此屬胃，胃和則愈；胃不和，煩而悸。</p>
<p><span class="編號">266.</span>本太陽病不解，轉入少陽者，脇下鞕滿，乾嘔不能食，往來寒熱，尚未吐下，脈沉緊者，與小柴胡湯。</p>
<p><span class="編號">267.</span>若已吐、下、發汗、溫針，譫語，柴胡湯證罷，此為壞病，知犯何逆，以法治之。</p>
<p><span class="編號">268.</span>三陽合病，脈浮大，上關上，但欲眠睡，目合則汗。</p>
<p><span class="編號">269.</span>傷寒六七日，無大熱，其人躁煩者，此為陽去入陰故也。</p>
<p><span class="編號">270.</span>傷寒三日，三陽為盡，三陰當受邪，其人反能食而不嘔，此為三陰不受邪也。</p>
<p><span class="編號">271.</span>傷寒三日，少陽脈小者，欲已也。</p>
<p><span class="編號">272.</span>少陽病，欲解時，從寅至辰上。</p>
<h2>卷第六</h2>
<h3>辨太陰病脈證並治第十</h3>
<p><span class="編號">273.</span>太陰之為病，腹滿而吐，食不下，自利益甚，時腹自痛。若下之，必胸下結鞕。</p>
<p><span class="編號">274.</span>太陰中風，四肢煩疼，脈陽微陰濇而長者，為欲愈。</p>
<p><span class="編號">275.</span>太陰病，欲解時，從亥至丑上。</p>
<p><span class="編號">276.</span>太陰病，脈浮者，可發汗，宜桂枝湯。</p>
<p><span class="編號">277.</span>自利不渴者，屬太陰，以其臟有寒故也，當溫之，宜服四逆輩。</p>
<p><span class="編號">278.</span>傷寒脈浮而緩，手足自溫者，繫在太陰。太陰當發身黃，若小便自利者，不能發黃；至七八日，雖暴煩下利，日十餘行，必自止，以脾家實，腐穢當去故也。</p>
<p><span class="編號">279.</span>本太陽病，醫反下之，因爾腹滿時痛者，屬太陰也，桂枝加芍藥湯主之；大實痛者，桂枝加大黃湯主之。</p>
<span class="方">
<p><b>桂枝加芍藥湯方</b></p>
<p>桂枝<small class="雙行小字">三兩，去皮</small>　芍藥<small class="雙行小字">六兩</small>　甘草<small class="雙行小字">二兩，炙</small>　大棗<small class="雙行小字">十二枚，擘</small>　生薑<small class="雙行小字">三兩，切</small></p>
<p>右五味，以水七升，煮取三升，去滓，溫分三服。本云：桂枝湯，今加芍藥。</p>
</span>
<span class="方">
<p><b>桂枝加大黃湯方</b></p>
<p>桂枝<small class="雙行小字">三兩，去皮</small>　大黃<small class="雙行小字">二兩</small>　芍藥<small class="雙行小字">六兩</small>　生薑<small class="雙行小字">三兩，切</small>　甘草<small class="雙行小字">二兩，炙</small>　大棗<small class="雙行小字">十二枚，擘</small></p>
<p>右六味，以水七升，煮取三升，去滓，溫服一升，日三服。</p>
</span>
<p><span class="編號">280.</span>太陰為病，脈弱，其人續自便利，設當行大黃、芍藥者，宜減之，以其人胃氣弱，易動故也。</p>
<h3>辨少陰病脈證並治第十一</h3>
<p><span class="編號">281.</span>少陰之為病，脈微細，但欲寐也。</p>
<p><span class="編號">282.</span>少陰病，欲吐不吐，心煩，但欲寐，五六日自利而渴者，屬少陰也。虛故引水自救。若小便色白者，少陰病形悉具。小便白者，以下焦虛有寒，不能制水，故令色白也。</p>
<p><span class="編號">283.</span>病人脈陰陽俱緊，反汗出者，亡陽也，此屬少陰，法當咽痛而復吐利。</p>
<p><span class="編號">284.</span>少陰病，欬而下利，譫語者，被火氣劫故也。小便必難，以強責少陰汗也。</p>
<p><span class="編號">285.</span>少陰病，脈細沉數，病為在裏，不可發汗。</p>
<p><span class="編號">286.</span>少陰病，脈微，不可發汗，亡陽故也。陽已虛，尺脈弱濇者，復不可下之。</p>
<p><span class="編號">287.</span>少陰病，脈緊，至七八日，自下利，脈暴微，手足反溫，脈緊反去者，為欲解也，雖煩下利，必自愈。</p>
<p><span class="編號">288.</span>少陰病，下利，若利自止，惡寒而踡臥，手足溫者，可治。</p>
<p><span class="編號">289.</span>少陰病，惡寒而踡，時自煩，欲去衣被者，可治。</p>
<p><span class="編號">290.</span>少陰中風，脈陽微陰浮者，為欲愈。</p>
<p><span class="編號">291.</span>少陰病，欲解時，從子至寅上。</p>
<p><span class="編號">292.</span>少陰病，吐、利，手足不逆冷，反發熱者，不死；脈不至者，灸少陰七壯。</p>
<p><span class="編號">293.</span>少陰病，八九日，一身手足盡熱者，以熱在膀胱，必便血也。</p>
<p><span class="編號">294.</span>少陰病，但厥，無汗，而強發之，必動其血。未知從何道出，或從口鼻，或從目出者，是名下厥上竭，為難治。</p>
<p><span class="編號">295.</span>少陰病，惡寒，身踡而利，手足逆冷者，不治。</p>
<p><span class="編號">296.</span>少陰病，吐、利、躁煩，四逆者，死。</p>
<p><span class="編號">297.</span>少陰病，下利止而頭眩，時時自冒者，死。</p>
<p><span class="編號">298.</span>少陰病，四逆，惡寒而身踡，脈不至，不煩而躁者，死。</p>
<p><span class="編號">299.</span>少陰病，六七日，息高者，死。</p>
<p><span class="編號">300.</span>少陰病，脈微細沉，但欲臥，汗出不煩，自欲吐。至五六日，自利，復煩躁不得臥寐者，死。</p>
<p><span class="編號">301.</span>少陰病，始得之，反發熱，脈沉者，麻黃細辛附子湯主之。</p>
<span class="方">
<p><b>麻黃細辛附子湯方</b></p>
<p>麻黃<small class="雙行小字">二兩，去節</small>　細辛<small class="雙行小字">二兩</small>　附子<small class="雙行小字">一枚，炮，去皮，破八片</small></p>
<p>右三味，以水一斗，先煮麻黃，減二升，去上沫，內諸藥，煮取三升，去滓，溫服一升，日三服。</p>
</span>
<p><span class="編號">302.</span>少陰病，得之二三日，麻黃附子甘草湯微發汗，以二三日無證，故微發汗也。</p>
<span class="方">
<p><b>麻黃附子甘草湯方</b></p>
<p>麻黃<small class="雙行小字">二兩，去節</small>　甘草<small class="雙行小字">二兩，炙</small>　附子<small class="雙行小字">一枚，炮，去皮，破八片</small></p>
<p>右三味，以水七升，先煮麻黃一兩沸，去上沫，內諸藥，煮取三升，去滓，溫服一升，日三服。</p>
</span>
<p><span class="編號">303.</span>少陰病，得之二三日以上，心中煩，不得臥，黃連阿膠湯主之。</p>
<span class="方">
<p><b>黃連阿膠湯方</b></p>
<p>黃連<small class="雙行小字">四兩</small>　黃芩<small class="雙行小字">二兩</small>　芍藥<small class="雙行小字">二兩</small>　雞子黃<small class="雙行小字">二枚</small>　阿膠<small class="雙行小字">三兩</small><span class="註"><small class="雙行小字">一云三挺</small></span></p>
<p>右五味，以水六升，先煮三物，取二升，去滓，內膠烊盡，小冷，內雞子黃，攪令相得，溫服七合，日三服。</p>
</span>
<p><span class="編號">304.</span>少陰病，得之一二日，口中和，其背惡寒者，當灸之，附子湯主之。</p>
<span class="方">
<p><b>附子湯方</b></p>
<p>附子<small class="雙行小字">二枚，炮，去皮，破八片</small>　茯苓<small class="雙行小字">三兩</small>　人參<small class="雙行小字">二兩</small>　白朮<small class="雙行小字">四兩</small>　芍藥<small class="雙行小字">三兩</small></p>
<p>右五味，以水八升，煮取三升，去滓，溫服一升，日三服。</p>
</span>
<p><span class="編號">305.</span>少陰病，身體痛，手足寒，骨節痛，脈沉者，附子湯主之。</p>
<p><span class="編號">306.</span>少陰病，下利，便膿血者，桃花湯主之。</p>
<span class="方">
<p><b>桃花湯方</b></p>
<p>赤石脂<small class="雙行小字">一斤，一半全用，一半篩末</small>　乾薑<small class="雙行小字">一兩</small>　粳米<small class="雙行小字">一升</small></p>
<p>右三味，以水七升，煮米令熟，去滓，溫服七合，內赤石脂末方寸匕，日三服。若一服愈，餘勿服。</p>
</span>
<p><span class="編號">307.</span>少陰病，二三日至四五日，腹痛，小便不利，下利不止，便膿血者，桃花湯主之。</p>
<p><span class="編號">308.</span>少陰病，下利，便膿血者，可刺。</p>
<p><span class="編號">309.</span>少陰病，吐利，手足逆冷，煩躁欲死者，吳茱萸湯主之。</p>
<p><span class="編號">310.</span>少陰病，下利，咽痛，胸滿，心煩，豬膚湯主之。</p>
<span class="方">
<p><b>豬膚湯方</b></p>
<p>豬膚<small class="雙行小字">一斤</small></p>
<p>右一味，以水一斗，煮取五升，去滓，加白蜜一升、白粉五合，熬香，和令相得，溫分六服。</p>
</span>
<p><span class="編號">311.</span>少陰病，二三日，咽痛者，可與甘草湯；不差者，與桔梗湯。</p>
<span class="方">
<p><b>甘草湯方</b></p>
<p>甘草<small class="雙行小字">二兩</small></p>
<p>右一味，以水三升，煮取一升半，去滓，溫服七合，日二服。</p>
</span>
<span class="方">
<p><b>桔梗湯方</b></p>
<p>桔梗<small class="雙行小字">一兩</small>　甘草<small class="雙行小字">二兩</small></p>
<p>右二味，以水三升，煮取一升，去滓，溫分再服。</p>
</span>
<p><span class="編號">312.</span>少陰病，咽中傷，生瘡，不能語言，聲不出者，苦酒湯主之。</p>
<span class="方">
<p><b>苦酒湯方</b></p>
<p>半夏<small class="雙行小字">洗，破如棗核，十四枚</small>　雞子<small class="雙行小字">一枚，去黃，內上苦酒，著雞子殼中</small></p>
<p>右二味，內半夏苦酒中，以雞子殼置刀環中，安火上，令三沸，去滓，少少含咽之。不差，更作三劑。</p>
</span>
<p><span class="編號">313.</span>少陰病，咽中痛，半夏散及湯主之。</p>
<span class="方">
<p><b>半夏散及湯方</b></p>
<p>半夏<small class="雙行小字">洗</small>　桂枝<small class="雙行小字">去皮</small>　甘草<small class="雙行小字">炙</small></p>
<p>右三味，等分，各別搗篩已，合治之。白飲和，服方寸匕，日三服。若不能散服者，以水一升，煎七沸，內散兩方寸匕，更煮三沸，下火，令小冷，少少咽之。半夏有毒，不當散服。</p>
</span>
<p><span class="編號">314.</span>少陰病，下利，白通湯主之。</p>
<span class="方">
<p><b>白通湯方</b></p>
<p>蔥白<small class="雙行小字">四莖</small>　乾薑<small class="雙行小字">一兩</small>　附子<small class="雙行小字">一枚，生，去皮，破八片</small></p><p>右三味，以水三升，煮取一升，去滓，分溫再服。</p>
</span>
<p><span class="編號">315.</span>少陰病，下利，脈微者，與白通湯。利不止，厥逆無脈，乾嘔煩者，白通加豬膽汁湯主之。服湯，脈暴出者死，微續者生。</p>
<span class="方">
<p><b>白通加豬膽汁湯方</b></p>
<p>蔥白<small class="雙行小字">四莖</small>　乾薑<small class="雙行小字">一兩</small>　附子<small class="雙行小字">一枚，生，去皮，破八片</small>　人尿<small class="雙行小字">五合</small>　豬膽汁<small class="雙行小字">一合</small></p>
<p>右五味，以水三升，煮取一升，去滓，內膽汁、人尿，和令相得，分溫再服。若無膽，亦可用。</p>
</span>
<p><span class="編號">316.</span>少陰病，二三日不已，至四五日，腹痛，小便不利，四肢沉重疼痛，自下利者，此為有水氣。其人或欬，或小便利，或下利，或嘔者，真武湯主之。</p>
<span class="方">
<p><b>真武湯方（附加減法）</b></p>
<p>茯苓　芍藥　生薑<small class="雙行小字">切，各三兩</small>　白朮<small class="雙行小字">二兩</small>　附子<small class="雙行小字">一枚，炮，去皮，破八片</small></p>
<p>右五味，以水八升，煮取三升，去滓，溫服七合，日三服。若欬者，加五味子半升，細辛、乾薑各一兩；若小便利者，去茯苓；若下利者，去芍藥，加乾薑二兩；若嘔者，去附子，加生薑，足前為半斤。</p>
</span>
<p><span class="編號">317.</span>少陰病，下利清穀，裏寒外熱，手足厥逆，脈微欲絕，身反不惡寒。其人面色赤，或腹痛，或乾嘔，或咽痛，或利止脈不出者，通脈四逆湯主之。</p>
<span class="方">
<p><b>通脈四逆湯方</b></p>
<p>甘草<small class="雙行小字">二兩，炙</small>　附子<small class="雙行小字">大者一枚，生用，去皮，破八片</small>　乾薑<small class="雙行小字">三兩，強人可四兩</small></p>
<p>右三味，以水三升，煮取一升二合，去滓，分溫再服。其脈即出者愈。面色赤者，加蔥九莖；腹中痛者，去蔥，加芍藥二兩；嘔者，加生薑二兩；咽痛者，去芍藥，加桔梗一兩；利止、脈不出者，去桔梗，加人參二兩。病皆與方相應者，乃服之。</p>
</span>
<p><span class="編號">318.</span>少陰病，四逆，其人或欬，或悸，或小便不利，或腹中痛，或泄利下重者，四逆散主之。</p>
<span class="方">
<p><b>四逆散方</b></p>
<p>甘草<small class="雙行小字">炙</small>　枳實<small class="雙行小字">破，水漬，炙乾</small>　柴胡　芍藥</p>
<p>右四味，各十分，搗篩，白飲和，服方寸匕，日三服。欬者，加五味子、乾薑各五分，並主下利；悸者，加桂枝五分；小便不利者，加茯苓五分；腹中痛者，加附子一枚，炮令坼；泄利下重者，先以水五升，煮薤白三升，煮取三升，去滓，以散三方寸匕，內湯中，煮取一升半，分溫再服。</p>
</span>
<p><span class="編號">319.</span>少陰病，下利，六七日，欬而嘔渴，心煩不得眠者，豬苓湯主之。</p>
<p><span class="編號">320.</span>少陰病，得之二三日，口燥，咽乾者，急下之，宜大承氣湯。</p>
<p><span class="編號">321.</span>少陰病，自利清水，色純青，心下必痛，口乾燥者，可下之，宜大承氣湯。</p>
<p><span class="編號">322.</span>少陰病，六七日，腹脹，不大便者，急下之，宜大承氣湯。</p>
<p><span class="編號">323.</span>少陰病，脈沉者，急溫之，宜四逆湯。</p>
<p><span class="編號">324.</span>少陰病，飲食入口則吐，心中溫溫欲吐，復不能吐，始得之，手足寒，脈弦遲者，此胸中實，不可下也，當吐之。若膈上有寒飲，乾嘔者，不可吐也，當溫之，宜四逆湯。</p>
<p><span class="編號">325.</span>少陰病，下利，脈微濇，嘔而汗出，必數更衣，反少者，當溫其上，灸之。</p>
<h3>辨厥陰病脈證並治第十二</h3>
<p><span class="編號">326.</span>厥陰之為病，消渴，氣上撞心，心中疼熱，飢而不欲食，食則吐蚘。下之利不止。</p>
<p><span class="編號">327.</span>厥陰中風，脈微浮為欲愈，不浮為未愈。</p>
<p><span class="編號">328.</span>厥陰病，欲解時，從丑至卯上。</p>
<p><span class="編號">329.</span>厥陰病，渴欲飲水者，少少與之愈。</p>
<p><span class="編號">330.</span>諸四逆厥者，不可下之，虛家亦然。</p>
<p><span class="編號">331.</span>傷寒，先厥，後發熱而利者，必自止。見厥復利。</p>
<p><span class="編號">332.</span>傷寒，始發熱六日，厥反九日而利。凡厥利者，當不能食；今反能食者，恐為除中。食以索餅，不發熱者，知胃氣尚在，必愈。恐暴熱來出而復去也。後三日脈之，其熱續在者，期之旦日夜半愈。所以然者，本發熱六日，厥反九日，復發熱三日，并前六日，亦為九日，與厥相應，故期之旦日夜半愈。後三日脈之而脈數，其熱不罷者，此為熱氣有餘，必發癰膿也。</p>
<p><span class="編號">333.</span>傷寒脈遲，六七日，而反與黃芩湯徹其熱，脈遲為寒，今與黃芩湯復除其熱，腹中應冷，當不能食，今反能食，此名除中，必死。</p>
<p><span class="編號">334.</span>傷寒，先厥後發熱，下利必自止。而反汗出，咽中痛者，其喉為痹。發熱無汗，而利必自止；若不止，必便膿血。便膿血者，其喉不痹。</p>
<p><span class="編號">335.</span>傷寒，一二日至四五日厥者，必發熱，前熱者，後必厥。厥深者，熱亦深；厥微者，熱亦微。厥應下之，而反發汗者，必口傷爛赤。</p>
<p><span class="編號">336.</span>傷寒病，厥五日，熱亦五日。設六日，當復厥，不厥者自愈。厥終不過五日，以熱五日，故知自愈。</p>
<p><span class="編號">337.</span>凡厥者，陰陽氣不相順接，便為厥。厥者，手足逆冷者是也。</p>
<p><span class="編號">338.</span>傷寒，脈微而厥，至七八日，膚冷，其人躁無暫安時者，此為藏厥，非蚘厥也。蚘厥者，其人當吐蚘，令病者靜而復時煩者，此為藏寒。蚘上入其膈故煩，須臾復止，得食而嘔，又煩者，蚘聞食臭出，其人常自吐蚘。蚘厥者，烏梅丸主之。又主久利。</p>
<span class="方">
<p><b>烏梅丸方</b></p>
<p>烏梅<small class="雙行小字">三百枚</small>　細辛<small class="雙行小字">六兩</small>　乾薑<small class="雙行小字">十兩</small>　黃連<small class="雙行小字">十六兩</small>　附子<small class="雙行小字">六兩，炮，去皮</small>　當歸<small class="雙行小字">四兩</small>　黃檗<small class="雙行小字">六兩</small>　桂枝<small class="雙行小字">六兩，去皮</small>　人參<small class="雙行小字">六兩</small>　蜀椒<small class="雙行小字">四兩，出汗</small></p>
<p>右十味，異搗篩，合治之，以苦酒漬烏梅一宿，去核，蒸之五斗米下，飯熟搗成泥，和藥令相得，內臼中，與蜜，杵二千下，丸如梧桐子大。先食飲服十丸，日三服，稍加至二十九。禁生冷、滑物、臭食等。</p>
</span>
<p><span class="編號">339.</span>傷寒，熱少微厥，指頭寒，嘿嘿不欲食，煩躁。數日，小便利，色白者，此熱除也，欲得食，其病為愈。若厥而嘔，胸脇煩滿者，其後必便血。</p>
<p><span class="編號">340.</span>病者手足厥冷，言我不結胸，小腹滿，按之痛者，此冷結在膀胱關元也。</p>
<p><span class="編號">341.</span>傷寒發熱四日，厥反三日，復熱四日，厥少熱多者，其病當愈。四日至七日，熱不除者，必便膿血。</p>
<p><span class="編號">342.</span>傷寒，厥四日，熱反三日，復厥五日，其病為進。寒多熱少，陽氣退，故為進也。</p>
<p><span class="編號">343.</span>傷寒六七日，脈微，手足厥冷，煩躁，灸厥陰，厥不還者，死。</p>
<p><span class="編號">344.</span>傷寒發熱，下利，厥逆，躁不得臥者，死。</p>
<p><span class="編號">345.</span>傷寒發熱，下利至甚，厥不止者，死。</p>
<p><span class="編號">346.</span>傷寒六七日，不利，便發熱而利，其人汗出不止者，死。有陰無陽故也。</p>
<p><span class="編號">347.</span>傷寒五六日，不結胸，腹濡，脈虛復厥者，不可下，此亡血，下之死。</p>
<p><span class="編號">348.</span>發熱而厥，七日下利者，為難治。</p>
<p><span class="編號">349.</span>傷寒脈促，手足厥逆，可灸之。</p>
<p><span class="編號">350.</span>傷寒，脈滑而厥者，裏有熱，白虎湯主之。</p>
<p><span class="編號">351.</span>手足厥寒，脈細欲絕者，當歸四逆湯主之。</p>
<p><span class="編號">352.</span>若其人內有久寒者，宜當歸四逆加吳茱萸生薑湯。</p>
<span class="方">
<p><b>當歸四逆湯方</b></p>
<p>當歸<small class="雙行小字">三兩</small>　桂枝<small class="雙行小字">三兩，去皮</small>　芍藥<small class="雙行小字">三兩</small>　細辛<small class="雙行小字">三兩</small>　甘草<small class="雙行小字">二兩，炙</small>　通草<small class="雙行小字">二兩</small>　大棗<small class="雙行小字">二十五枚，擘，一法十二枚</small></p>
<p>右七味，以水八升。煮取三升，去滓，溫服一升，日三服。</p>
</span>
<span class="方">
<p><b>當歸四逆加吳茱萸生薑湯方</b></p>
<p>當歸<small class="雙行小字">三兩</small>　芍藥<small class="雙行小字">三兩</small>　甘草<small class="雙行小字">二兩，炙</small>　通草<small class="雙行小字">二兩</small>　大棗<small class="雙行小字">二十五枚，擘</small>　桂枝<small class="雙行小字">三兩，去皮</small>　細辛<small class="雙行小字">三兩</small>　生薑<small class="雙行小字">半斤，切</small>　吳茱萸<small class="雙行小字">二升</small></p>
<p>右九味，以水六升、清酒六升和，煮取五升，去滓，溫分五服。一方，水、酒各四升。</p>
</span>
<p><span class="編號">353.</span>大汗出，熱不去，內拘急，四肢疼，又下利厥逆而惡寒者，四逆湯主之。</p>
<p><span class="編號">354.</span>大汗，若大下利而厥冷者，四逆湯主之。</p>
<p><span class="編號">355.</span>病人手足厥冷，脈乍緊者，邪結在胸中，心下滿而煩，飢不能食者，病在胸中，當須吐之，宜瓜蒂散。</p>
<p><span class="編號">356.</span>傷寒，厥而心下悸，宜先治水，當服茯苓甘草湯，卻治其厥。不爾，水漬入胃，必作利也。</p>
<p><span class="編號">357.</span>傷寒六七日，大下後，寸脈沉而遲，手足厥逆，下部脈不至，喉咽不利，唾膿血，泄利不止者，為難治，麻黃升麻湯主之。</p>
<span class="方">
<p><b>麻黃升麻湯方</b></p>
<p>麻黃<small class="雙行小字">二兩半，去節</small>　升麻<small class="雙行小字">一兩一分</small>　當歸<small class="雙行小字">一兩一分</small>　知母<small class="雙行小字">十八株</small>　黃芩<small class="雙行小字">十八株</small>　萎蕤<small class="雙行小字">十八銖</small><span class="校"><small class="雙行小字">一作菖蒲</small></span>　芍藥<small class="雙行小字">六銖</small>　天門冬<small class="雙行小字">六銖，去心</small>　桂枝<small class="雙行小字">六銖，去皮</small>　茯苓<small class="雙行小字">六銖</small>　甘草<small class="雙行小字">六銖，炙</small>　石膏<small class="雙行小字">六銖，碎，綿裹</small>　白朮<small class="雙行小字">六銖</small>　乾薑<small class="雙行小字">六銖</small></p>
<p>右十四味，以水一斗，先煮麻黃一兩沸，去上沫，內諸藥，煮取三升，去滓，分溫三服。相去如炊三斗米頃，令盡，汗出愈。</p>
</span>
<p><span class="編號">358.</span>傷寒四五日，腹中痛，若轉氣下趣少腹者，此欲自利也。</p>
<p><span class="編號">359.</span>傷寒本自寒下，醫復吐下之，寒格，更逆吐下，若食入口即吐，乾薑黃芩黃連人參湯主之。</p>
<span class="方">
<p><b>乾薑黃芩黃連人參湯方</b></p>
<p>乾薑　黃芩　黃連　人參<small class="雙行小字">各三兩</small></p>
<p>右四味，以水六升，煮取二升，去滓，分溫再服。</p>
</span>
<p><span class="編號">360.</span>下利，有微熱而渴，脈弱者，今自愈。</p>
<p><span class="編號">361.</span>下利脈數，有微熱汗出，今自愈。設復緊，為未解。</p>
<p><span class="編號">362.</span>下利，手足厥冷，無脈者，灸之。不溫。若脈不還，反微喘者，死。少陰負趺陽者，為順也。</p>
<p><span class="編號">363.</span>下利，寸脈反浮數，尺中自濇者，必清膿血。</p>
<p><span class="編號">364.</span>下利清穀，不可攻表，汗出必脹滿。</p>
<p><span class="編號">365.</span>下利，脈沉弦者，下重也；脈大者，為未止；脈微弱數者，為欲自止，雖發熱，不死。</p>
<p><span class="編號">366.</span>下利，脈沉而遲，其人面少赤，身有微熱，下利清穀者，必鬱冒汗出而解。病人必微厥。所以然者，其面戴陽，下虛故也。</p>
<p><span class="編號">367.</span>下利，脈數而渴者，今自愈。設不差，必清膿血，以有熱故也。</p>
<p><span class="編號">368.</span>下利後脈絕，手足厥冷，晬時脈還，手足溫者生，脈不還者死。</p>
<p><span class="編號">369.</span>傷寒下利，日十餘行，脈反實者，死。</p>
<p><span class="編號">370.</span>下利清穀，裏寒外熱，汗出而厥者，通脈四逆湯主之。</p>
<p><span class="編號">371.</span>熱利下重者，白頭翁湯主之。</p>
<span class="方">
<p><b>白頭翁湯方</b></p>
<p>白頭翁<small class="雙行小字">二兩</small>　黃檗<small class="雙行小字">三兩</small>　黃連<small class="雙行小字">三兩</small>　秦皮<small class="雙行小字">三兩</small></p>
<p>右四味，以水七升，煮取二升，去滓，溫服一升。不愈，更服一升。</p>
</span>
<p><span class="編號">372.</span>下利腹脹滿，身體疼痛者，先溫其裏，乃攻其表。溫裏宜四逆湯，攻表宜桂枝湯。</p>
<p><span class="編號">373.</span>下利欲飲水者，以有熱故也，白頭翁湯主之。</p>
<p><span class="編號">374.</span>下利譫語者，有燥屎也，宜小承氣湯。</p>
<p><span class="編號">375.</span>下利後，更煩，按之心下濡者，為虛煩也，宜梔子豉湯。</p>
<p><span class="編號">376.</span>嘔家有癰膿者，不可治嘔，膿盡自愈。</p>
<p><span class="編號">377.</span>嘔而脈弱，小便復利，身有微熱，見厥者難治，四逆湯主之。</p>
<p><span class="編號">378.</span>乾嘔，吐涎沫，頭痛者，吳茱萸湯主之。</p>
<p><span class="編號">379.</span>嘔而發熱者，小柴胡湯主之。</p>
<p><span class="編號">380.</span>傷寒，大吐、大下之，極虛，復極汗者，其人外氣怫鬱，復與之水，以發其汗，因得噦。所以然者，胃中寒冷故也。</p>
<p><span class="編號">381.</span>傷寒，噦而腹滿，視其前後，知何部不利，利之即愈。</p>
<h2>卷第七</h2>
<h3>辨霍亂病脈證並治第十三</h3>
<p><span class="編號">382.</span>問曰：病有霍亂者何？答曰：嘔吐而利，此名霍亂。</p>
<p><span class="編號">383.</span>問曰：病發熱、頭痛、身疼、惡寒、吐利者，此屬何病？答曰：此名霍亂。霍亂自吐下，又利止，復更發熱也。</p>
<p><span class="編號">384.</span>傷寒，其脈微濇者，本是霍亂，今是傷寒，卻四五日，至陰經上，轉入陰必利；本嘔，下利者，不可治也。欲似大便，而反失氣，仍不利者，此屬陽明也，便必鞕，十三日愈。所以然者，經盡故也。下利後，當便鞕，鞕則能食者愈。今反不能食，到後經中，頗能食，復過一經能食，過之一日當愈；不愈者，不屬陽明也。</p>
<p><span class="編號">385.</span>惡寒脈微而復利，利止，亡血也，四逆加人參湯主之。</p>
<span class="方">
<p><b>四逆加人參湯方</b></p>
<p>甘草<small class="雙行小字">二兩，灸</small>　附子<small class="雙行小字">一枚，生，去皮，破八片</small>　乾薑<small class="雙行小字">一兩半</small>　人參<small class="雙行小字">一兩</small></p>
<p>右四味，以水三升，煮取一升二合，去滓，分溫再服。</p>
</span>
<p><span class="編號">386.</span>霍亂，頭痛，發熱，身疼痛，熱多欲飲水者，五苓散主之。寒多不用水者，理中丸主之。</p>
<span class="方">
<p><b>理中丸方</b></p>
<p>人參　乾薑　甘草<small class="雙行小字">炙</small>　白朮<small class="雙行小字">各三兩</small></p>
<p>右四味，搗篩，蜜和為丸，如雞子黃許大。以沸湯數合和一丸，研碎，溫服之，日三四、夜二服。腹中未熱，益至三四丸，然不及湯。湯法：以四物依兩數切，用水八升，煮取三升，去滓，溫服一升，日三服。若臍上築者，腎氣動也，去朮，加桂四兩；吐多者，去朮，加生薑三兩，下多者，還用朮；悸者，加茯苓二兩；渴欲得水者，加朮，足前成四兩半；腹中痛者，加人參，足前成四兩半；寒者，加乾薑，足前成四兩半；腹滿者，去朮，加附子一枚。服湯後，如食頃，飲熱粥一升許，微自溫，勿發揭衣被。</p>
</span>
<p><span class="編號">387.</span>吐利止而身痛不休者，當消息和解其外，宜桂枝湯小和之。</p>
<p><span class="編號">388.</span>吐利，汗出，發熱，惡寒，四肢拘急，手足厥冷者，四逆湯主之。</p>
<p><span class="編號">389.</span>既吐且利，小便復利而大汗出，下利清穀，內寒外熱，脈微欲絕者，四逆湯主之。</p>
<p><span class="編號">390.</span>吐已下斷，汗出而厥，四肢拘急不解，脈微欲絕者，通脈四逆加豬膽汁湯主之。</p>
<span class="方">
<p><b>通脈四逆加豬膽汁湯方</b></p>
<p>甘草<small class="雙行小字">二兩，炙</small>　乾薑<small class="雙行小字">三兩，強人可四兩</small>　附子<small class="雙行小字">大者一枚，生，去皮，破八片</small>　豬膽汁<small class="雙行小字">半合</small></p>
<p>右四味，用水三升，煮取一升二合，去滓，內豬膽汁，分溫再服，其脈即來。無豬膽，以羊膽代之。</p>
</span>
<p><span class="編號">391.</span>吐利，發汗，脈平，小煩者，以新虛不勝穀氣故也。</p>
<h3>辨陰陽易差後勞復病脈證並治第十四</h3>
<p><span class="編號">392.</span>傷寒陰陽易之為病，其人身體重，少氣，少腹裏急，或引陰中拘攣，熱上衝胸，頭重不欲舉，眼中生花，膝脛拘急者，燒褌散主之。</p>
<span class="方">
<p><b>燒褌散方</b></p>
<p>婦人中褌，近隱處，取燒作灰。</p>
<p>右一味，水服方寸匕。日三服。小便即利，陰頭微腫，此為愈矣。婦人病，取男子褌燒服。</p>
</span>
<p><span class="編號">393.</span>大病差後，勞復者，枳實梔子豉湯主之。</p>
<span class="方">
<p><b>枳實梔子豉湯方</b></p>
<p>枳實<small class="雙行小字">三枚，炙</small>　梔子<small class="雙行小字">十四個，擘</small>　香豉<small class="雙行小字">一升，綿裹</small></p>
<p>右三味，以清漿水七升，空煮取四升，內枳實、梔子，煮取二升，下豉，更煮五六沸，去滓，溫分再服。覆令微似汗。若有宿食者，內大黃如博棋子大五六枚，服之愈。</p>
</span>
<p><span class="編號">394.</span>傷寒差以後，更發熱，小柴胡湯主之。脈浮者，以汗解之；脈沉實者，以下解之。</p>
<p><span class="編號">395.</span>大病差後，從腰以下有水氣者，牡蠣澤瀉散主之。</p>
<span class="方">
<p><b>牡蠣澤瀉散方</b></p>
<p>牡蠣<small class="雙行小字">熬</small>　澤瀉　蜀漆<small class="雙行小字">暖水洗去腥</small>　葶藶子<small class="雙行小字">熬</small>　商陸根<small class="雙行小字">熬</small>　海藻<small class="雙行小字">洗去鹹</small>　栝蔞根<small class="雙行小字">各等分</small></p>
<p>右七味，異搗，下篩為散，更於臼中治之，白飲和，服方寸匕，日三服。小便利，止後服。</p>
</span>
<p><span class="編號">396.</span>大病差後，喜唾，久不了了，胸上有寒，當以丸藥溫之，宜理中丸。</p>
<p><span class="編號">397.</span>傷寒解後，虛羸少氣，氣逆欲吐，竹葉石膏湯主之。</p>
<span class="方">
<p><b>竹葉石膏湯方</b></p>
<p>竹葉<small class="雙行小字">二把</small>　石膏<small class="雙行小字">一斤</small>　半夏<small class="雙行小字">半斤，洗</small>　麥門冬<small class="雙行小字">一升，去心</small>　人參<small class="雙行小字">二兩</small>　甘草<small class="雙行小字">二兩，炙</small>　粳米<small class="雙行小字">半升</small></p>
<p>右七味，以水一斗，煮取六升，去滓，內粳米，煮米熟，湯成，去米，溫服一升，日三服。</p>
</span>
<p><span class="編號">398.</span>病人脈已解，而日暮微煩，以病新差，人強與穀，脾胃氣尚弱，不能消穀，故令微煩，損穀則愈。</p>
<h3>辨不可發汗病脈證並治第十五</h3>
<p>夫以為疾病至急，倉卒尋按，要者難得，故重集諸可與不可方治，比之三陰三陽篇中，此易見也。又時有不止是三陰三陽，出在諸可與不可中也。</p>
<p>脈濡而弱，弱反在關，濡反在巔，微反在上，濇反在下。微則陽氣不足，濇則無血。陽氣反微，中風汗出而反躁煩。濇則無血，厥而且寒。陽微發汗，躁不得眠。</p>
<p>動氣在右，不可發汗，發汗則衄而渴，心苦煩，飲即吐水。</p>
<p>動氣在左，不可發汗，發汗則頭眩，汗不止，筋惕肉瞤。</p>
<p>動氣在上，不可發汗，發汗則氣上衝，正在心端。</p>
<p>動氣在下，不可發汗，發汗則無汗，心中大煩，骨節苦疼，目運，惡寒，食則反吐，穀不得前。</p>
<p>咽中閉塞，不可發汗，發汗則吐，血氣欲絕，手足厥冷，欲得踡臥，不能自溫。</p>
<p>諸脈得數動微弱者，不可發汗，發汗則大便難，腹中乾，胃燥而煩，其形相象，根本異源。</p>
<p>脈微而弱，弱反在關，濡反在巔，弦反在上，微反在下。弦為陽運，微為陰寒。上實下虛，意欲得溫。微弦為虛，不可發汗，發汗則寒慄，不能自還。</p>
<p>欬者則劇，數吐涎沫，咽中必乾，小便不利，心中饑煩，晬時而發，其形似瘧，有寒無熱，虛而寒慄，欬而發汗，踡而苦滿，腹中復堅。</p>
<p>厥，脈緊，不可發汗，發汗則聲亂，咽嘶舌萎，聲不得前。</p>
<p>諸逆發汗，病微者難差，劇者言亂、目眩者死，命將難全。</p>
<p>欬而小便利，若失小便者，不可發汗，汗出則四肢厥逆冷。</p>
<p>傷寒頭痛，翕翕發熱，形象中風，常微汗出。自嘔者，下之益煩，心中懊憹如饑；發汗則致痙，身強，難以屈伸；熏之則發黃，不得小便；灸則發欬唾。</p>
<h3>辨可發汗脈證並治第十六</h3>
<p>大法，春夏宜發汗。</p>
<p>凡發汗，欲令手足俱周，時出以漐漐然，一時間許亦佳，不可令如水流漓。若病不解，當重發汗。汗多必亡陽，陽虛不得重發汗也。</p>
<p>凡服湯發汗，中病便止，不必盡劑。</p>
<p>凡云可發汗，無湯者，丸散亦可用。要以汗出為解，然不如湯，隨證良驗。</p>
<p>夫病脈浮大，問病者，言但便鞕爾，設利者，為大逆。鞕為實，汗出而解。何以故？脈浮，當以汗解。</p>
<p>下利後，身疼痛，清便自調者，急當救表，宜桂枝湯發汗。</p>
<h2>卷第八</h2>
<h3>辨發汗後病脈證並治第十七</h3>
<p>發汗多亡陽，譫語者，不可下，與柴胡桂枝湯。和其榮衛，以通津液，後自愈。</p>
<p>此一卷，第十七篇，凡三十一證，前有詳說。</p>
<h3>辨不可吐第十八</h3>
<p>合四證，已具太陽篇中。</p>
<h3>辨可吐第十九</h3>
<p>大法，春宜吐。</p>
<p>凡用吐湯，中病即止，不必盡劑也。</p>
<p>病胸上諸實，胸中鬱鬱而痛，不能食，欲使人按之，而反有涎唾，下利日十餘行，其脈反遲，寸口脈微滑，此可吐之，吐之利則止。</p>
<p>宿食在上脘者，當吐之。</p>
<p>病人手足厥冷，脈乍結，以客氣在胸中。心下滿而煩，欲食不能食者，病在胸中，當吐之。</p>
<h2>卷第九</h2>
<h3>辨不可下病脈證並治第二十</h3>
<p>脈濡而弱，弱反在關，濡反在巔，微反在上，濇反在下。微則陽氣不足，濇則無血。陽氣反微，中風、汗出而反躁煩；濇則無血，厥而且寒。陽微不可下，下之則心下痞鞕。</p>
<p>動氣在右，不可下。下之則津液內竭，咽燥、鼻乾、頭眩、心悸也。</p>
<p>動氣在左，不可下。下之則腹內拘急，食不下，動氣更劇。雖有身熱，臥則欲踡。</p>
<p>動氣在上，不可下。下之則掌握熱煩，身上浮冷，熱汗自泄，欲得水自灌。</p>
<p>動氣在下，不可下。下之則腹脹滿，卒起頭眩，食則下清穀，心下痞也。</p>
<p>咽中閉寒，不可下。下之則上輕下重，水漿不下，臥則欲踡，身急痛，下利日數十行。</p>
<p>諸外實者，不可下。下之則發微熱，亡脈厥者，當臍握熱。</p>
<p>諸虛者，不可下。下之則大渴，求水者易愈，惡水者劇。</p>
<p>脈濡而弱，弱反在關，濡反在巔，弦反在上，微反在下。弦為陽運，微為陰寒。上實下虛，意欲得溫。微弦為虛，虛者不可下也。</p>
<p>微則為欬，欬則吐涎，下之則欬止，而利因不休。利不休，則胸中如蟲齧，粥入則出，小便不利，兩脅拘急，喘息為難，頸背相引，臂則不仁，極寒，反汗出，身冷若冰，眼睛不慧，語言不休，而穀氣多入，此為除中，口雖欲言，舌不得前。</p>
<p>脈濡而弱，弱反在關，濡反在巔，浮反在上，數反在下。浮為陽虛，數為無血，浮為虛，數為熱。浮為虛，自汗出而惡寒；數為痛，振寒而慄。微弱在關，胸下為急，喘汗而不得呼吸，呼吸之中，痛在於脅，振寒相搏，形如瘧狀，醫反下之，故令脈數、發熱，狂走見鬼，心下為痞，小便淋瀝，小腹甚鞕，小便則尿血也。</p>
<p>脈濡而緊，濡則衛氣微，緊則榮中寒。陽微衛中風，發熱而惡寒；榮緊胃氣冷，微嘔心內煩。醫為有大熱，解肌而發汗，亡陽虛煩躁，心下苦痞堅。表裏俱虛竭，卒起而頭眩。客熱在皮膚，悵怏不得眠。不知胃氣冷，緊寒在關元。技巧無所施，汲水灌其身。客熱應時罷，慄慄而振寒。重被而覆之，汗出而冒巔。體惕而又振，小便為微難。寒氣因水發，清穀不容間。嘔變反腸出，顛倒不得安。手足為微逆，身冷而內煩。遲欲從後救，安可復追還。</p>
<p>脈浮而大，浮為氣實，大為血虛。血虛為無陰，孤陽獨下陰部者，小便當赤而難，胞中當虛，今反小便利而大汗出，法應衛家當微，今反更實，津液四射，榮竭血盡，乾煩而不得眠，血薄肉消，而成暴液。醫復以毒藥攻其胃，此為重虛，客陽去有期，必下如污埿而死。</p>
<p>脈數者，久數不止，止則邪結正氣不能復，正氣卻結於藏，故邪氣浮之，與皮毛相得。脈數者，不可下，下之則必煩，利不止。</p>
<p>脈浮大，應發汗，醫反下之，此為大逆。</p>
<p>嘔多，雖有陽明證，不可攻之。</p>
<p>太陽病，外證未解，不可下，下之為逆。</p>
<p>夫病陽多者熱，下之則鞕。</p>
<p>無陽陰強，大便鞕者，下之則必清穀腹滿。</p>
<p>傷寒發熱，頭痛，微汗出。發汗則不識人；熏之則喘，不得小便，心腹滿；下之則短氣，小便難，頭痛，背強；加溫針則衄。</p>
<p>傷寒，脈陰陽俱緊，惡寒發熱，則脈欲厥。厥者，脈初來大，漸漸小，更來漸漸大，是其候也。如此者惡寒，甚者翕翕汗出，喉中痛；熱多者，目赤脈多，睛不慧，醫復發之，咽中則傷；若復下之，則兩目閉，寒多者便清穀，熱多者便膿血；若熏之，則身發黃；若熨之，則咽燥。若小便利者，可救之；小便難者，為危殆。</p>
<p>傷寒發熱，口中勃勃氣出，頭痛目黃，衄不可制，貪水者必嘔，惡水者厥。若下之，咽中生瘡，假令手足溫者，必下重便膿血。頭痛目黃者，若下之，則兩目閉。貪水者，脈必厥，其聲嚶，咽喉塞；若發汗，則戰慄，陰陽俱虛。惡水者，若下之，則裏冷不嗜食，大便完穀出；若發汗，則口中傷，舌上白胎，煩躁，脈數實，不大便，六七日後必便血；若發汗，則小便自利也。</p>
<p>下利脈大者，虛也，以其強下之故也。設脈浮革，因爾腸鳴者，屬當歸四逆湯主之。</p>
<h3>辨可下病脈證並治第二十一</h3>
<p>大法，秋宜下。</p>
<p>凡服下藥，用湯勝丸，中病即止，不必盡劑也。</p>
<p>下利，三部脈皆平，按之心下鞕者，急下之，宜大承氣湯。</p>
<p>下利，脈遲而滑者，內實也。利未欲止，當下之，宜大承氣湯。</p>
<p>問曰：人病有宿食，何以別之？師曰：寸口脈浮而大，按之反濇，尺中亦微而濇，故知有宿食，當下之，宜大承氣湯。</p>
<p>下利，不欲食者，以有宿食故也，當宜下之，與大承氣湯。</p>
<p>下利差後，至其年月日復發者，以病不盡故也，當下之，宜大承氣湯。</p>
<p>下利，脈反滑，當有所去，下之乃愈，宜大承氣湯。</p>
<p>病腹中滿痛者，此為實也，當下之，宜大承氣湯。</p>
<p>傷寒後脈沉，沉者，內實也，下解之，宜大柴胡湯。</p>
<p>脈雙弦而遲者，必心下鞕。脈大而緊者，陽中有陰也，可以下之，宜大承氣湯。</p>
<h2>卷第十</h2>
<h3>辨發汗吐下後脈證並治第二十二</h3>
<p>此第十卷，第二十二篇，凡四十八證，前三陰三陽篇中，悉具載之。</p>
<p>此以下諸方，於隨卷本證下雖已有，緣止以加減言之，未甚明白，似於覽者檢閱未便，今復校勘，備列於後：</p>
<span class="方">
<p><b>桂枝加葛根湯主之方</b></p>
<p>葛根<small class="雙行小字">四兩</small>　芍藥<small class="雙行小字">二兩</small>　甘草<small class="雙行小字">二兩</small>　生薑<small class="雙行小字">三兩，切</small>　大棗<small class="雙行小字">十二枚，擘</small>　桂枝<small class="雙行小字">二兩，去皮</small>　麻黃<small class="雙行小字">三兩，去節</small></p>
<p>右七味，以水一斗，先煮麻黃、葛根，減二升，去上沫，內諸藥，煮取三升，去滓，溫服一升，覆取微似汗，不須啜粥，餘如桂枝法。</p>
</span>
<span class="方">
<p><b>桂枝加厚朴杏子湯方</b></p>
<p>於桂枝湯方內，加厚朴二兩，杏仁五十個，去皮尖，餘依前法。</p>
</span>
<span class="方">
<p><b>桂枝加附子湯方</b></p>
<p>於桂枝湯方內，加附子一枚，炮，去皮，破八片，餘依前法。朮附湯方，附於此方內，去桂枝，加白朮四兩，依前法。</p>
</span>
<span class="方">
<p><b>桂枝去芍藥湯方</b></p>
<p>於桂枝湯方內，去芍藥，餘依前法。</p>
</span>
<span class="方">
<p><b>桂枝去芍藥加附子湯方</b></p>
<p>於桂枝湯方內，去芍藥，加附子一枚，炮，去皮，破八片，餘依前法。</p>
</span>
<span class="方">
<p><b>桂枝麻黃各半湯方</b></p>
<p>桂枝<small class="雙行小字">一兩十六銖，去皮</small>　芍藥　生薑<small class="雙行小字">切</small>　甘草<small class="雙行小字">炙</small>　麻黃<small class="雙行小字">各一兩，去節</small>　大棗<small class="雙行小字">四枚，擘</small>　杏仁<small class="雙行小字">二十四個，湯浸，去皮尖及兩仁者</small></p>
<p>右七味，以水五升，先煮麻黃一二沸，去上沫，內諸藥，煮取一升八合，去滓，溫服六合。</p>
</span>
<span class="方">
<p><b>桂枝二麻黃一湯方</b></p>
<p>桂枝<small class="雙行小字">一兩十七銖，去皮</small>　芍藥<small class="雙行小字">一兩六銖</small>　麻黃<small class="雙行小字">十六銖，去節</small>　生薑<small class="雙行小字">一兩六銖，切</small>　杏仁<small class="雙行小字">十六個，去皮尖</small>　甘草<small class="雙行小字">一兩二銖，炙</small>　大棗<small class="雙行小字">五枚，擘</small></p>
<p>右七味，以水五升，先煮麻黃一二沸，去上沫，內諸藥，煮取二升，去滓，溫服一升，日再服。</p>
</span>
<span class="方">
<p><b>白虎加人參湯方</b></p>
<p>於白虎湯方內，加人參三兩，餘依白虎湯法。</p>
</span>
<span class="方">
<p><b>桂枝去桂加茯苓白朮湯方</b></p>
<p>於桂枝湯方內，去桂枝，加茯苓、白朮各三兩，餘依前法煎服。小便利則愈。</p>
</span>
<p>已上九方，病證並在第二卷內。</p>
<span class="方">
<p><b>葛根加半夏湯方</b></p>
<p>於葛根湯方內，加入半夏半升，餘依葛根湯法。</p>
</span>
<span class="方">
<p><b>桂枝加芍藥生薑人參新加湯方</b></p>
<p>於第二卷桂枝湯方內，更加芍藥、生薑各一兩，人參三兩，餘依桂枝湯法服。</p>
</span>
<span class="方">
<p><b>梔子甘草豉湯方</b></p>
<p>於梔子豉湯方內，加入甘草二兩，餘依前法。得吐，止後服。</p>
</span>
<span class="方">
<p><b>梔子生薑豉湯方</b></p>
<p>於梔子豉湯方內，加生薑五兩，餘依前法。得吐，止後服。</p>
</span>
<span class="方">
<p><b>柴胡加芒硝湯方</b></p>
<p>於小柴胡湯方內，加芒硝六兩，餘依前法。服不解，更服。</p>
</span>
<span class="方">
<p><b>桂枝加桂湯方</b></p>
<p>於第二卷桂枝湯方內，更加桂二兩，共五兩，餘依前法。</p>
</span>
<p>已上六方，病證並在第三卷內。</p>
<span class="方">
<p><b>柴胡桂枝湯方</b></p>
<p>桂枝<small class="雙行小字">去皮</small>　黃芩　人參<small class="雙行小字">各一兩半</small>　甘草<small class="雙行小字">一兩，炙</small>　半夏<small class="雙行小字">二合半</small>　芍藥<small class="雙行小字">一兩半</small>　大棗<small class="雙行小字">六枚，擘</small>　生薑<small class="雙行小字">一兩半，切</small>　柴胡<small class="雙行小字">四兩</small></p>
<p>右九味，以水七升，煮取三升，去滓，溫服。</p>
</span>
<span class="方">
<p><b>附子瀉心湯方</b></p>
<p>大黃<small class="雙行小字">二兩</small>　黃連　黃芩<small class="雙行小字">各一兩</small>　附子<small class="雙行小字">一枚，炮，去皮，破，別煮取汁</small></p>
<p>右四味，切三味，以麻沸湯二升漬之，須臾，絞去滓，內附子汁，分溫再服。</p>
</span>
<span class="方">
<p><b>生薑瀉心湯方</b></p>
<p>生薑<small class="雙行小字">四兩，切</small>　甘草<small class="雙行小字">三兩，炙</small>　人參<small class="雙行小字">三兩</small>　乾薑<small class="雙行小字">一兩</small>　黃芩<small class="雙行小字">三兩</small>　半夏<small class="雙行小字">半升，洗</small>　黃連<small class="雙行小字">一兩</small>　大棗<small class="雙行小字">十二枚</small></p>
<p>右八味，以水一斗，煮取六升，去滓，再煎，取三升，溫服一升，日三服。</p>
</span>
<span class="方">
<p><b>甘草瀉心湯方</b></p>
<p>甘草<small class="雙行小字">四兩</small>　黃芩<small class="雙行小字">三兩</small>　乾薑<small class="雙行小字">三兩</small>　半夏<small class="雙行小字">半升，洗</small>　黃連<small class="雙行小字">一兩</small>　大棗<small class="雙行小字">十二枚，擘</small></p>
<p>右六味，以水一斗，煮取六升，去滓，再煎取三升，溫服一升，日三服。</p>
</span>
<span class="方">
<p><b>黃芩加半夏生薑湯方</b></p>
<p>於黃芩湯方內，加半夏半升，生薑一兩半，餘依黃芩湯法服。</p>
</span>
<p>已上五方，病證並在第四卷內。</p>
<span class="方">
<p><b>桂枝加大黃湯方</b></p>
<p>桂枝<small class="雙行小字">三兩，去皮</small>　大黃<small class="雙行小字">一兩</small>　芍藥<small class="雙行小字">六兩</small>　生薑<small class="雙行小字">三兩，切</small>　甘草<small class="雙行小字">二兩，炙</small>　大棗<small class="雙行小字">十二枚，擘</small></p>
<p>右六味，以水七升，煮取三升，去滓，溫服一升，日三服。</p>
</span>
<span class="方">
<p><b>桂枝加芍藥湯方</b></p>
<p>於第二卷桂枝湯方內，更加芍藥三兩，隨前共六兩，餘依桂枝湯法。</p>
</span>
<span class="方">
<p><b>四逆加吳茱萸生薑湯方</b></p>
<p>當歸<small class="雙行小字">二兩</small>　芍藥<small class="雙行小字">三兩</small>　甘草<small class="雙行小字">二兩，炙</small>　通草<small class="雙行小字">二兩</small>　桂枝<small class="雙行小字">三兩，去皮</small>　細辛<small class="雙行小字">三兩</small>　生薑<small class="雙行小字">半斤，切</small>　大棗<small class="雙行小字">二十五枚，擘</small>　吳茱萸<small class="雙行小字">二升</small></p>
<p>右九味，以水六升，清酒六升，和煮，取五升，去滓，溫分五服。一方水酒各四升。</p>
</span>
<p>已上三方，病證並在第六卷內。</p>
<span class="方">
<p><b>四逆加人參湯方</b></p>
<p>於四逆湯方內，加人參一兩，餘依四逆湯法服。</p>
</span>
<span class="方">
<p><b>四逆加豬膽汁湯方</b></p>
<p>於四逆湯方內，加入豬膽汁半合，餘依前法服；如無豬膽，以羊膽代之。</p>
</span>
<p>已上二方，病證並在第七卷內。</p>
