<header><h1>溫熱逢源</h1></header>
<dl class="元資料" data-type="book">
<div><dt>作者</dt><dd>柳寶詒</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
</dl>
<h2>卷上</h2>
<h3>詳註靈樞素問伏氣化溫諸條</h3>
<p>靈樞論疾診尺篇曰，冬傷於寒，春生癉熱。</p>
<p>素問生氣通天論曰，冬傷於寒，春必病溫。</p>
<p>金匱真言論曰，藏於精者，春不病溫。</p>
<p>詒按冬令受寒隨時而發者為傷寒，鬱久而發者為溫病，就溫病，言亦有兩證。
有隨時感受之溫邪，如葉香巖吳鞠通所論是也，有伏氣內氣之溫邪，
即內經所論者是也，則冬傷於寒，正春月病溫之由，而冬不藏精，又冬時受寒之由也。
又按喻西昌尚論後篇，專論伏氣發溫之病，分為三例，以冬傷於寒，春必病溫為一例，
謂寒邪之伏於肌膚者，以冬不藏精，春必病溫為一例，謂寒邪之伏於骨髓者，
以冬不藏精，冬傷於寒為一例，謂內外均受邪如傷寒兩感之證，以此三例，鼎立三綱，
分途施治，恰與傷寒論之太陽病之風傷衛，寒傷營，風寒兩傷營衛之三例，前後相符，
此喻氏得意之筆也，蓋喻氏天才超越，筆立清卓，每有議論，無不力破餘地，
而有意為文，每每虛立門面，創議論以助我波瀾，在作文則為高手，
而說理則未必皆能精確矣，即如伏氣發溫之病，惟冬傷於寒故病溫，
惟冬不藏精故受寒，其所受之寒，無不伏於少陰，斷無伏於肌膚之理，
其腎氣未至大虛者，倘能鼓邪外達，則由少陰而達太陽，病勢淺而輕，
若腎虛不能托邪，則伏於藏而不得外出，病即深而重，同此邪，同此病，證有輕重，
而理原一貫，無三綱之可分也，喻氏論病，每每騁其才辯，而刻意求高，
抑或借作感慨而自抒胸臆，逞筆所之，不自覺其言之過當，學者須分別觀之。</p>
<p>又按王叔和編次傷寒論畈例云，中而即病者名傷寒，不即病者寒毒藏於肌膚，
至春變為溫病至夏變為暑病，暑病者熱極重於溫也，按叔和此論，大旨無甚刺謬，
喻氏肆意駁之，未免太過，惟寒毒藏於肌膚一語，於理欠圓，冬寒是時令之邪，
與疫癘不同，無所謂毒，於寒下加一毒字巳屬駭人，再寒邪之內伏者，
必因腎氣之虛而入，故其伏也每在少陰，若皮膚有衛氣流行之處，豈容外邪久伏，
況果在皮膚，則病發亦輕，何至深入藏腑，而有險惡之證耶。素問槷論篇曰，
今夫熱病者，皆傷寒之類也，又曰，凡病傷寒而成溫者，先夏至日者為病溫，
後夏至日者為病暑，暑當與汗出勿止。</p>
<p>詒按伏氣發溫，隨時而變，熱之輕者曰溫，熱之重曰暑夏至後曰小暑大暑，
冬至後曰小寒大寒，寒暑二字，相為對待，內經所稱暑與熱，本無分別，觀篇首云，
熱病者，皆傷寒之類也，其義可見，至仲景始以夏月暴感之熱邪，名曰暍病，
正以別於伏氣外發之熱病也，況伏氣隨時外發，亦必兼挾時令之邪，如春令兼風，
夏令兼暑，理所必至，是其所以異名者，固不第因乎熱之微甚矣。</p>
<p>又按經言凡病傷寒，是傷寒不必專在於冬時，即三時感寒，亦能鬱化為溫也，
其稱夏至後為病暑，則暑即溫之變名，尤不可指為另是一邪，而此獨分別言之者，
因伏氣發於夏至以後，其治病略有不同蓋溫病忌汗，恐其傷陰，若時交長夏，
則汗出必多，而邪氣亦隨汗而出，又未可以汗多而遽止之也。</p>
<p>靈樞邪氣藏府病形篇，岐伯曰，虛邪之中人也，洒淅動形，
正邪之中人也微先見於色，不知於身，若有苦無，若亡若存，有形無形，莫知其情。</p>
<p>素問八正神明論，岐伯曰，正邪者身形若用力，汗出腠理開，逢虛風，
其中人也微，故莫知其情，莫見其形。</p>
<p>詒按此兩節，言冬時寒邪，所以能久伏不覺之故，凡風從時令王方來者為正邪，
從沖後來者為虛邪，冬以寒為正邪，故中於人也令人不覺，近人有疑邪正不並立，
不能久伏不發者，曷不取此兩節經文，細意繹之。</p>
<p>靈樞論疾診尺篇，岐伯曰，尺膚熱甚，脈盛躁者病溫也，其脈盛而滑者，
病且出也，素問平人氣象論，岐伯曰，人一呼，脈三動，一吸脈三動而躁，尺熱曰病溫。</p>
<p>詒按尺膚發熱熱在陰也，尺熱而脈數且躁，中有溫邪也，更兼盛滑，
則熱邪巳動有外出之象矣，此言伏溫而發之脈證也。</p>
<p>靈樞熱病篇曰，熱病不知所痛，耳聾不能自收，口乾，陽熱甚，陰頗有寒者，
熱在骨髓，死不可治，又曰，熱病巳得汗，而脈尚躁盛，此陰脈之極也，死，
其得汗而脈靜者生，熱病脈尚躁盛而不得汗者，此陽脈之極也，死，脈盛躁，
得汗靜者生。詒按此節不知所痛二句，形容伏溫初發，神情呆鈍，其狀如繪，陽熱甚者，
甚熱邪飲浮於外者巳甚也，陰頗有寒者，其寒邪之伏於陰者，尚未外透也，
若此者其熱深在骨髓，故不可治。</p>
<p>又按巳得汗而脈尚躁，是熱甚而鬱於陰也，脈尚躁而不得汗，是熱甚而鬱於陽也，
邪鬱不解，陰陽之氣不能主持，故死。</p>
<p>素問熱論篇，黃帝問曰，今夫熱病者，皆傷寒之類也，或愈或死，
其死皆以六七日之間，其愈皆以十日以上者，何也，不知其解，願問其故，岐伯對曰，
巨陽者，諸陽之屬也，其脈連於風府，故為諸陽主氣也，人之傷於寒也，則為病熱，
熱雖甚不死，其兩感於寒而病，者必不免於死，帝曰，願聞其狀，岐伯曰，傷寒一日，
巨陽受之，故頭項痛，腰脊強，二日陽明受之，陽明主肉，其脈挾鼻絡於目，
故身熱目痛而鼻乾，不得臥也，三日少陽受之，少陽主膽，其脈循脅絡於耳，
故胸脅痛而耳聾，三陽經絡皆受其病，而未入於藏者，故可汗而巳，四日太陰受之，
太陰脈布胃中，絡於嗌，故腹痛而嗌乾，五日少陰受之，少陰脈貫腎，絡於肺，
繫舌本，故口燥舌乾而渴，六日厥陰受之，厥陰脈循陰器而絡於肝，故煩滿而囊縮，
三陰三陽五藏六府皆受病，營衛不行，五藏不通則死矣，其不兩感於寒者，
七日巨陽病衰，頭痛少愈，八日陽明病衰，身熱少愈，
九日少陽病衰耳聾微聞十日太陰病衰腹減如故，則思飲食，十一日少陰病衰，
渴止不滿，舌乾巳而嚏，十二日厥陰病衰，囊縱少腹微下，大氣皆去，病日巳矣，
帝曰，治之奈何，岐伯曰治之各通其藏脈，病日衰巳矣，其未滿三日者，可汗而巳，
其滿三日，可泄而巳。又帝曰，熱病巳愈，時有所遺者何也，岐伯曰，諸病遺者，
熱甚而強食之，故有所遺也，若此者皆病巳衰而熱有所藏因其榖氣相薄，兩熱相合，
故有所遺也，帝曰，治遺奈何，岐伯曰，視其虛實，調其逆從，可使必巳也，帝曰，
病熱少愈，食肉則復，多食則遺，此其禁也。又帝曰，其病兩感於寒者，
其脈應與其病形何如，岐伯曰，兩感於寒者，病一日則巨陽與少陰俱病，
則頭痛山乾而煩滿，二日則陽明與太陰俱病，則腹滿身熱，不欲食，譫言，
三日則少陽與厥陰俱病，則耳聾囊縮而厥水漿不入，不知人，六日死，帝曰五藏巳傷，
六府不通，營衛不行，如是之後，三日乃死，何也，岐伯曰，陽明者十二經脈之長也，
其血氣盛，故不知人，三日其氣乃盡，故死矣。</p>
<p>又凡病傷寒而成溫者，先夏至日者為病溫，
後夏至日者為病暑，暑當與汗皆出勿止。</p>
<p>詒按熱論謂人受寒邪，其為病必化熱，但隨時而發者為傷寒，其病自外而入，
內久伏而發者為溫病，其病自內而達外，此論除篇末傷寒成溫一節，論及溫病外，
其餘所論，都屬傷寒，惟所列六經形證，傷寒與溫病，初無二致，故備錄之，
以為臨證時，分經認病之則。</p>
<p>又按凡傷寒化熱，自表入裏，初起三日，在三陽經者可汗，後三日，
在三陰經者可泄，故不至於死，其兩感者，乃一藏一府一陰一陽，同時俱病，
來勢迅速，不及措手，勢必陰陽交絕，營衛不通，而不免於死矣，刺熱篇所論，
太陽之脈與厥陰脈爭見者，死期不過三日一假，即溫病中之兩感，
與此節可以互證。又按食肉則復一節，論病後食復，溫病亦與傷寒相同。</p>
<p>又按經言冬傷於寒春必病溫，是指冬邪春發者而言，此言凡病傷寒則無論冬夏，
凡有伏邪，均可發為溫病也故夏至前後，異其時而同其病，曰溫曰暑，
同其病而異其名也，又溫與暑病邪相同，而隨時異名，冬邪春發者，邪鬱化熱，
由裏達外，邪隨，汗去，多汗則傷陰，故汗多者當止之，若至夏令，
天時蒸熱先巳有汗，更有伏邪內動，汗泄愈多，
但其汗之出也邪機甫動而汗即淋漓若見汗多而遽止之，則邪機亦因之而窒矣，
故特分別言之，而禁其止也。</p>
<p>刺熱篇曰肝熱病者小便先黃，腹痛多臥身熱熱爭則狂言及驚，脅滿痛，手足躁，
不得安臥，庚辛甚，甲乙大汗，氣逆則庚辛日死刺足厥陰少陽，
其逆則頭痛員員脈引衝頭也。</p>
<p>詒按肝脈絡陰器，肝病不能疏泄則熱鬱而小便黃也腹痛多臥，肝病剋脾也熱爭者，
為熱甚而與正氣目爭也，狂言及驚犯及手經也脅痛，肝脈所過也，手足躁，
不得安臥，熱甚生風，風淫四末故煩攪不安也，庚辛剋木之日，故病甚甲乙木旺之日，
故汗出而愈，氣逆者謂病氣甚而不順其可愈之期也，更逢剋木之日故死厥陰少陽共刺，
病在藏必瀉其府，以求出路也逆則頭痛，病氣上升之故。〔參吳意，
庚辛日以下各藏仿此〕心熱病者先不樂，數日乃熱，熱爭則卒心痛，
煩悶善嘔頭痛面赤無汗，壬癸甚，丙丁大汗，氣逆則壬癸死，刺手少陰太陽。</p>
<p>詒按膻中為喜樂所出故心病先不樂而發熱，與正爭則心卒痛，心主火故煩，
心氣不舒故悶，嘔屬肝病，木火同氣，且邪在上多嘔也，頭痛，火升也；面赤，
火越也，汗為心液，熱甚則液乾，故無汗也。</p>
<p>章虛谷曰，人身生陽之氣，根於腎而發於肝，木生火，火生土，土生金，金生水，
水水又生木，生氣相傳，所以生生不息也邪伏血氣之中，亦隨生陽之氣而動，
動甚則病發，其發也隨氣所注而無定處，故難經言溫病之脈，行在諸經，
不知何經之動也，仲景所論或發於陰經或發於陽經正合難經之旨，
今觀內經按生氣之序，首列肝，次以心脾肺腎，
可見邪隨生氣而動不定中是有一定之理，足以印證難經仲景之言，
而軒岐越人仲景之一脈相承，更可見矣。</p>
<p>脾熱病者先頭重，頰痛，煩心，頻青欲嘔身熱熱爭則腰痛不可用俯仰，腹滿泄，
兩頜痛甲乙甚，戊己大汗，氣逆則甲乙死，
刺足太陰陽明。</p>
<p>詒按濕之中人也，首如裏，故脾病頭先重也，
頰為少陽所屬土木互為勝負土病則木病亦見也，顏青欲嘔頜痛，皆木病也，
脾脈注心煩，腰痛不可用俯仰是脾病及胃，不能束筋骨利關節也，腹滿泄，
脾經本病也。</p>
<p>肺熱病者先淅然厥起毫毛，惡風寒，舌上黃，身熱熱爭則喘欬，痛走胸膺背，
不得太息，頭痛不堪，汗出而寒，丙丁甚庚辛大汗，你逆則丙丁死，刺手太陰陽明，
出血如大豆立巳。</p>
<p>詒按肺主皮毛，故先惡風寒，肺氣不化，則濕熱蒸鬱，故舌苔黃，喘欬，
熱邪傷肺也，熱鬱肺，胸膺背走痛而不得太息也，頭痛者，天氣膹鬱，而熱上衝腦也，
熱蒸於內，則腠開汗出，熱暫泄而生寒也。</p>
<p>腎熱病者先腰痛胻痠，苦喝數飲，身熱，熱爭則項痛而強，貐寒且痠，足下熱，
不欲言，其熱則項痛員員澹澹然，戊己甚，壬癸大汗，氣逆則戊己死，
刺足少陰太陽。詒按腰為腎之府，又腎脈貫脊，會於督之長強穴，
又腎脈入跟中以上蕵腨內，太陽之脈，亦下貫腨內，腨即胻也，痠者熱爍液也，
腎主五液而惡燥，病熱則液傷而燥，故苦渴而飲水自救也，又太陽之脈，從巔入絡腦，
還出別下項，病甚而移之府，故項痛而強也，貐寒，熱極為寒也，腎脈從小指之下，
斜趨足心，病甚故足下熱也，不欲言，有不能明言之苦也，員員澹澹者，一身不能自主，
難以形容之狀。</p>
<p>又按內經敘列五藏熱病，惟肝腎兩節，多其逆一層，他藏無之，可見熱病傷陰，
惟肝腎為最要也。</p>
<p>肝熱病者，左頰先赤，心熱病者顏先赤，脾熱病者鼻先赤，肺熱病者右頰先赤，
腎熱病者頤先赤，病雖未發，見赤色者刺之名曰治未病。</p>
<p>章虛谷曰，此裀詳五藏熱邪未發，而必先見於色之可辨也，左頰顏鼻右頰頤，
是肝心脾肺腎五藏之氣，應於面之部位也，病雖未發，其色先見，可見，
邪本伏於氣血之中，隨氣血流行而不覺，良工望而知其邪動之處，乘其始動，
即刺而泄之，使邪勢殺而病自輕即難經所云隨其經之所在而取之者，
是為上工治未病也，而用藥之法，可以類推矣。</p>
<p>治諸熱病，以飲之寒水，乃刺之，必寒衣之，居之寒處，身寒而止。</p>
<p>章虛谷曰，以其久伏之邛，熱從內發故必先飲寒水，從裏逐熱，然後刺之，
從外而泄，再衣以寒，居處以寒，必身寒熱除而後止。</p>
<p>王夢隱曰，今人不讀內經，於溫熱暑疫諸病，一概治同傷寒，禁其涼飲，
厚其衣被，因而致重者不少，然飲冷亦須有節，過度則有停飲腫滿嘔利等患，
更有愈後手指足縫出水，速投米仁三兩，茯苓三兩，白朮一兩，車前子五錢，
桂心一錢，名驅濕保脫湯，連服十劑，可免腳趾脫落，此即諺所謂脫腳傷寒也，
亦不可不知，若飲冷雖多，而汗出亦多，必無後患。</p>
<p>詒按治熱以寒，一定之理，今人於溫病初發，見用涼解，而即言其遏邪者，
彼固未明此理也。</p>
<p>太陽之脈，色榮顴骨，熱病也，榮未交日今且得汗，待時而巳，與厥陰脈爭見者，
死期不過三日，其熱內連腎。</p>
<p>章虛谷曰，此言外感與伏邪互病之證也，與熱病篇之兩感，同中有異，
彼則內外同時受邪，內外俱病，故不免  於死，此則外感先發，
伏邪後發者可生苦同發則死期不過三日也，云，戈陽之脈者，謂邪受於太陽經脈，
即一日巨陽受之，頭項痛，腰脊強者是也，色榮顴骨者，謂鮮之赤色，見於顴也，
蓋顴者骨之左骨者腎所主，腎藏之伏邪巳動，故赤色循榮血而見於顴也，
榮未交今且得汗待時而巳者，太陽與少陰為表裏，太陽經脈外受之邪，
與少陰營中伏熱之邪尚未相交，且使得汗，先解外邪，所謂未滿三日可汗之是也，
其內伏之邪後發，待藏氣旺時可巳，如腎熱病，待壬癸日得大汗而巳也，
又如所云見赤色者刺之名治未病亦可也，倘與厥陰病證爭見，則腎肝皆有邪熱內發，
其勢必與太陽外邪連合而不可解，故比之兩感病，死期更速也，
蓋兩感病起於經必待胃氣盡，六日死此則熱邪內連腎藏，本元即絕，
故死期不過三日也。</p>
<p>少陽之脈色榮頰前，熱病也，榮未交日今且得汗，待時而巳，
與少陰脈爭見者死期不過二日。</p>
<p>章虛谷曰，上言肝熱病者，左頰先赤，肝為厥陰，膽為少陽，相表裏者也，
外邪受於少陽經脈，而肝藏伏熱之色，榮於頰前，若外內之邪尚未相交，
今且使其得汗以解外邪，其內發之熱，可待藏氣旺時而巳，若與少陰經病證爭見，
則肝連腎熱，而內外邪勢必交合難解死期不過三日也，大抵外內之邪，
發有先後而不交合，尚可解救，故緊要緊在榮未交一句，下文病名陰陽交，
亦即榮巳交之義也。經文止舉太陽少陽兩證，不及陽明太陰合病者，以陽明之府，
可用攻瀉之法，不至必死非同太陽少陰少陽厥陰其邪連合而無出路，則必死也。</p>
<p>評熱病篇云，帝曰，有病溫者，汗出輒復熱，而脈躁疾，不為汗衰，狂言不能食，
病名為何，岐伯曰，病名陰陽，交交者死也。</p>
<p>章虛谷曰，陰陽之氣，本相交合，今則邪勢瀰漫，外感陽分之邪，
與內發陰分之熱，混合不分，而本元正  氣絕矣，故曰交者死，非陰陽正氣之相交也，
下文明其所以然之理。</p>
<p>人之所以汗出者，皆生於榖，榖生於精，今邪氣交爭於骨內而得汗者，
是邪卻而精也勝也，精勝則當能食，而不復熱，復熱者邪氣也，汗出者精氣也，
今汗出而輒復熱，是邪勝也，不能食者，精無俾也，病而留者，其壽可立而傾也，
且夫熱論曰，汗出而脈尚躁盛者死，今脈不與汗相應，此不勝其病也，其死明矣，
狂言者失志也，失志者死，今見三死不見一生，雖愈必死也。</p>
<p>章虛谷曰，汗生於榖榖生於精者，謂由本元精氣，化水榖以生津液，發而為汗，
邪隨汗泄，則邪而精勝也，今汗出復熱而不能食，是邪勝而津無所藉也，
其病仍留連不去，則其壽可立待而傾矣，狂言失志一也，汗出復熱二也，
脈與汗不應三也，見三死證而不見一生證，雖似愈，必死也。</p>
<p>素問陽明脈解篇曰，足陽明之脈病，惡人與火，聞木音則惕然而驚，鐘鼓不為動，
聞木音而驚，何也，岐伯曰，陽明者胃脈也，胃者土也，故聞木音而驚者，
土惡木也，帝曰，其惡火何也，岐伯曰，陽明主肉，其脈血氣盛，邪客之則熱，
熱甚則惡火，帝曰，其惡人何也，岐伯曰陽明厥則喘而惋，惋則惡人帝曰，
或喘而死者，或喘而生者何也，岐伯曰，厥逆連藏則死，連經則生。</p>
<p>章虛谷曰，土畏木剋，故聞木音則驚也，熱甚則惡火，仲景所謂不惡寒反惡熱也，
邪結於胃而氣厥逆，則喘而惋，惋者懊憹而不欲見人也，邪熱內結，則氣阻而喘，
不能循經外達，則四肢厥逆，蓋四肢稟氣於脾胃也，邪內入則連藏故死，
外出則連經故生。</p>
<p>帝曰，病甚則葉衣而走，登高而歌，或至不食數日，踰垣上屋，所上之處，
皆非其素所能也，病反能者何也，岐伯曰，四肢者，諸陽之本也，陽盛則四肢實，
實則能登高也，帝曰，其葉衣而走者何也，岐伯曰，槷盛於身，故葉衣欲走也，
帝曰其妄言罵詈，不避親疏而歌者何也，岐伯曰，此陽盛則使人妄言罵詈，
不避親疏而不欲食，不欲食故妄走也。</p>
<p>章虛谷曰，四肢稟氣於脾胃，胃為藏府之海，而陽明行氣於三陽，
故四肢為諸陽之本也，邪盛於胃，氣實於四肢，則能登高也熱盛於身，故葉衣欲走也，
邪亂神明，故妄言罵詈，胃中邪實，不欲飲食，四肢多力，則妄走也，此大承氣之證，
其邪連經脈必滑大，下之可生，其邪連藏，脈必沉細，仲景云，陽病見陰脈者死，
則雖有下證，不可用下法矣。</p>
<p>王夢隱曰，溫病誤投熱藥補劑，亦有此候，經證亦有可用白虎湯者，沉細之脈，
亦有因熱邪閉塞使然，形證困實，下之可生，未可概以陰脈而斷其必死也，
凡熱邪壅遏脈多細耎遲濇，按證清解自形滑數，不比內傷病服涼藥，
而脈加數者為虛也。
熱論篇曰，帝曰，熱病巳愈，時有所遺者何也，岐伯曰，諸病遺者，
熱甚而強食之故有所遺也，若此者皆病巳衰而熱有所藏，因其榖氣相薄，兩熱相合，
故有所遺也，帝曰，治遺奈何，岐伯曰，視其；虛實，調其逆從，可使必巳也市曰，
病熱當何禁之岐伯曰，病熱少愈，食肉則復，多食則遺此其禁也。</p>
<p>詒按此言熱邪初愈餘熱留而未淨，得榖食助氣，則兩熱相合而復熾，
觀其食肉則復，多食則遺，故病後必須謹調口腹，衹可以清淡稀粥，漸為調養也。</p>
<p>素問玉板論要篇，岐伯曰，病溫虛甚死。</p>
<p>詒按經言藏於精者，春不病溫，則凡病溫者，其陰氣先虛可知，
使或虛而未至於甚，則養陰透邪治之，如法猶可挽回，若病溫者而至虛甚，
則熱邪內訌陰精先涸，一發燎原，不可治矣。</p>
<p>靈樞五禁篇，岐伯曰槷病脈靜，汗巳出脈盛躁，是一逆也。</p>
<p>詒按熱病汗出後而脈轉盛躁，此熱邪深伏於陰，至汗出而邪機漿動而外露，
則其伏邪必重，故曰逆也。</p>
<p>靈樞熱病篇曰，熱病三日而氣口靜，人迎躁者，取之諸陽五十九刺，
以瀉其熱而出其汗，實其陰以補其不足者。</p>
<p>吳鞠通曰，人迎躁，邪在上焦也，故取之諸陽以泄其邪，陽氣通則汗隨之，
陽盛則陰衰，瀉陽則陰得安其位，故曰實其陰，瀉陽之有餘，即所以補陰之不足，
故曰補其不足也，溫熱病未有不傷陰者，實其陰以補其不足，
此一句實治溫熱之吃緊大綱。身熱甚陰陽皆靜者，勿刺也，其可刺者急取之，
不汗出則泄，所謂勿刺者，有死徵也。</p>
<p>熱病七日八日，脈口動，喘而短者急刺之，汗且自出，淺刺手大指間，
熱病七日八日，脈微小，病者溲血，口中乾，一日半而死，脈代者一日死，
熱病巳得汗出，而脈尚躁，喘且復槷，勿刺膚，喘甚者死。</p>
<p>詒按熱甚而脈浮躁則可刺，當急取之，令其熱邪從汗泄而解，若脈陰陽俱靜，
是陽證見，陰脈，巳有死徵，故勿刺，脈口動喘而短者，熱壅於肺也，
刺手大指間肺之少商穴，俾肺之熱痺開而汗泄則解矣，熱邪灼爍血分則溲血，
陰液被爍則口乾，下焦陰傷巳甚，而脈又微小，則不惟陰涸，而陽亦傷矣，故主死，
巳得汗而脈尚躁，喘且復熱，是槷不為汗衰，而化源且絕矣，故死。</p>
<p>熱病不可刺者有九，一曰汗不出，大顴發赤，噦者死，二曰泄而腹滿甚者死，
三曰目不明熱不巳者死，四曰老人嬰兒，熱而腹滿者死，五曰汗不出，嘔下血者死，
六曰舌本爛，熱不巳者死，七曰欬而衄，汗不出，出而不至足者死，八曰髓熱者死，
九曰熱而痙者死，腰折瘈瘲齒噤齘也，凡此九者，不可刺也。</p>
<p>詒按顴赤而噦，腎陰巳竭而虛陽上脫之證，故死。汗泄而腹尚滿，
是陰下脫而邪不減，與熱不為汗衰者相似，故死，目不明，陰脫也，陰脫而仍熱，
故死，熱滿當泄，老人幼兒不任攻伐，則熱無出路，故死，熱蘊無汗，上逆則嘔，
迫則血溢，上下交征，陰液易涸，故為死候，舌本爛，乃腎火上結，
與胃熱熾而口糜者不同若既爛而熱仍不巳，亦為死候，汗不至足，
是肺氣不下行而化源將絕也，欬衄，乃邪閉於上，無汗則邪不外泄，
又兼化源將絕之徵，故曰死，髓熱如骨蒸之狀，邪熱深入於腎也，熱而痙，
致見腰折等證，是邪熱深入於肝也，肝腎為熱邪所爍，故死。</p>
<p>吳鞠通曰，此節歷敘熱病之死徵，以禁人之刺，大抵由於陰竭者為多，
然刺固不可，亦有可藥而愈者，蓋刺法能泄能通，開熱邪之閉結最速，至於益陰以存津，
則刺法之所短，湯藥之所長也。</p>
<h3>詳註難經伏氣發溫諸條。</h3>
<p>難經五十八難曰，傷寒有幾，其脈有變否，然傷寒有五，有中風，有傷寒，
有濕溫，有熱病，有溫病，其所苦各不同。</p>
<p>徐洄溪曰，傷寒者，統名也，下五者，傷寒之分證也。</p>
<p>詒按中風傷寒即仲景論中所列之證也，是感而即發者也，若寒邪鬱伏而發，
則因溫風而發者，名曰風溫，因暑熱而發者，名曰熱病，此即夏至後之暑病也，
因濕邪而發者，名曰濕，溫，雖隨時隨病，各異其名，而由於受寒則一，
故皆謂之傷寒。又按所苦不同，言五者之為病不同也，傷寒論云，太陽病，發熱而汗出，
惡風脈緩者，名曰中風，太陽病，或巳發熱或未發熱必惡寒體痛嘔逆，脈陰陽俱緊者，
名曰傷寒，太陽病關節疼痛而煩脈沉而細者此為濕痺太陽中熱者，暍是也，
其人汗出惡，寒，身熱而渴也，太陽病，發熱而渴，不惡寒者為溫病，此五條，
即論列五種病之所苦，各有見證之不同也，前二條是感寒而即病者，
後三條是寒伏於內，兼挾別氣而病者，仲景悉隸於傷寒論，中可見五證均因於寒，
即均可謂之傷寒也。</p>
<p>中風之脈，陽浮而淜，陰濡而弱傷寒之脈，陰陽俱盛而緊濇，濕溫之脈陽濡而弱，
陰小而急，熱病之脈陰陽俱浮，浮之而滑，沉之散濇，
溫病之脈行在諸經，不知何經之動也，客隨其經所在而取之。</p>
<p>詒按陰陽二字以脈言凡脈寸為陽尺為陰，右為陽，左為陰，浮為陽，沉為陰，
就此節論，當以尺寸分陰陽為是，風為陽邪，故陽脈浮滑，寒邪收引，故脈緊濇，
濕為陰邪而傷陽故陽濡而陰急，熱病為陽邪而傷陰故浮滑而沉濇，
熱病是溫邪之巳化熱而外出者，其未化熱之前名曰溫病，邪伏少陰，
隨氣而動流行於諸經或乘經氣之虛而發，或挾新感之邪氣而發其發也，或由三陽而出，
或由肺胃，最重者熱不外出，而內陷於手足厥陰，或腎氣虛不能托邪而燔結於少陰，
是溫邪之動，路徑多岐，隨處可發，初不能指定發於何經，即不能刻定見何脈象也。</p>
<p>又按伏溫之病，隨經可發，經訓昭垂，巳無疑義，乃張石頑謂溫邪之發，
必由少陽，陸九芝謂溫熱病必發於陽明，陳平伯則以肺胃為溫邪必犯之地，
吳又可又以募原為溫疫伏邪之所，諸家所論，雖亦各有所見但衹舉溫病之一端，
而不可以概溫病之全體至吳鞠通溫病條辨，橫分三焦，謂凡病溫者，
必始於上焦手太陰，是以時感溫風之證，指為伏氣發溫之病，彼此混而不分，
其背謬為尤甚，學者當即此節經文，悉心參究，確知溫病之發，隨經可動，
臨證時始有真知灼見，而不至有他岐之感也。</p>
<p>傷寒有汗出而愈，下之而死者，有汗出而死，下之而愈者，何也，然陽虛陰盛，
汗出而愈，下之即死，陽盛陰虛，汗出而死，下之而愈。</p>
<p>滑氏本義引外臺祕要，謂表病裏和為陽虛陰盛，邪在表，宜發汗，若反下之，
引邪入裏，誅伐無過，故死，裏病表和為陽盛陰虛，邪入裏，宜急下，若反汗之，
兼虛其表，故死，按傷寒例亦有陽盛陰虛汗之則死下之則愈陽虛陰盛，汗之則愈，
下之則死之文，諸家釋之不一其說，成無己註，則以陽邪乘虛入府，為陽盛陰虛，
邪乘表虛，客於營衛為陽虛陰盛外臺祕要及劉河間傷寒直格，俱以不病者為盛，
病者為虛，活人書以內外俱熱為陽盛陰虛，內外俱寒，為陽虛陰盛，惟王安道𣶮洄集，
則以寒邪在外，為陰盛可汗，熱邪內，熾，為陽盛可下，此說最為無弊，若不病為實，
病者為虛之說，與表病裏和，裏病表和之說相近，但虛貫二字，其義終未妥也。</p>
<p>詒按寒邪初受，未經化熱，衛陽被遏，則陽虛而陰盛，此即暴病之傷寒，
但用辛溫助陰，以發其汗，則邪解矣，若未曾入府化熱，而遽下之，
則裏氣傷而表邪陷，即死矣，若邪鬱久而化熱，陰液被爍，則陽盛而陰虛，
此即伏氣之溫病也，裏熱既盛，當急下以救陰則生，若再用辛溫，誤發其汗，
則陰愈爍而變證蜂起，是以受病之始，都屬寒邪，故仍以傷寒為提綱也，
此節兩層以傷寒溫病分貼作解，亦甚熨帖前所引諸家之論似總不能若是之直捷。</p>
<h3>詳註仲景伏氣化溫證治各條。</h3>
<p>傷寒論平脈法篇，師曰伏氣之病，以意候之，今月之內，欲有伏氣，
假令舊有伏氣，當須脈之，若脈微弱者，當喉中痛似傷，非喉痺也，病人云，實咽中痛，
雖爾今復欲下利。</p>
<p>詒按溫邪化熱內動，脈當數大，乃見微弱，是氣弱不能托邪，邪鬱不達之象，
熱不外達而循經上浮，則為喉痛，以少陰之脈循喉嚨也，傷寒少陰病，
本有下利咽痛之條，亦即此義，蓋以熱鬱既久，則陰液腐則，故不但咽痛，
而復欲下利也，又按此條可為溫邪內伏少陰之證。</p>
<p>章虛谷曰觀仲景標中風傷寒暑熱等病脈，與難經同，惟難經言溫病之脈，
行在諸經不知何經之動也，是言溫病初由伏邪，隨氣血流行在諸經中，及其發也，
不知從何經而動，其發無定處故無一定之脈可指也，今仲景又教人審脈，
以辨邪發之經，如脈微弱，即知其邪未離少陰，隨經上下，必當有咽痛下利等證，
正與難經互相發明也，上文邪出三陽，熱勢大盛，其脈浮大，上關上，則是脈隨證變，
證隨脈見，在初起本無定脈，故難經不標脈象也，由是觀之，其與外感之邪，
有定證定脈者，固迥不同矣。</p>
<p>少陰病，〔脈微細但欲寐也〕，二三日，咽痛者，可與甘草湯，不差者，
與桔梗湯。章虛谷曰，風寒外閉少陰而咽痛者，仲景用半夏散辛溫開泄之法矣，
此少陰伏熱內發，循經上灼而咽痛，雖不合用辛溫開泄，亦不可用涼藥，
以遏其外出之勢，故專用甘草緩甘之品導邪外達，且生用亦能瀉火，如不差，
則火鬱而不出也，加桔梗上通其氣，則痛自止矣，傷寒自表入裏，
故先太陽而後至少陰溫病自裏而出表，故先少陰而後出太陽也。</p>
<p>沈宗淦曰，伏氣為病皆自內而之外，不止春溫一證也，蓋四時之氣，
皆有伏久而發者，不可不知也。</p>
<p>少陰病，下利咽痛，胸滿心煩者，豬膚湯主之。</p>
<p>張路玉曰，病雖發於陰經，實為熱證，下利咽痛，胸滿心煩，其邪熱之充斥，
上下中間，巳無處不到，而又非寒下之法所宜，故立豬膚湯，以潤少陰之燥，
與用黑驢皮之意頗同，陽微者用附子溫經陰竭者用豬膚潤燥，同具散邪之意，
比而觀之思過半矣。少陰病，得之二三日以上，心中煩，不得臥，黃連阿膠湯主之。</p>
<p>周禹載曰，伏邪未發，津液先巳暗耗，今得之二三日以上，雖陰火不升，
未見咽痛等證，而心煩不得臥巳知陰液消耗，故以芩連清熱即以膠芍滋陰，
虛實兩治也。</p>
<p>詒按以上少陰病三條，均與傳經熱邪不合，其為伏邪所致無疑也。</p>
<p>少陰病下利六七日，欬而嘔，渴，心煩不得眠者，豬苓湯主之。</p>
<p>章虛谷曰下利六七日熱從下陷不得外透，故逆於肺則足而嘔，
乘心則煩渴不得眠以心肺皆通少陰之脈故也，主以豬芩湯利水而滋陰，
蓋滋陰則熱隨利去，利水則瀉止，而煩渴亦解矣。</p><p>少陰病，得之二三日，口燥咽乾者急下之，宜大承氣湯。</p>
<p>張路玉曰，伏氣之發於少陰，其勢最急，與傷寒之傳經熱證不同，得病纔二三日，
即口燥咽乾，延至五六日始下必枯槁難為矣，故宜急下，以救腎水之燔灼也，
按少陰急下三證，一屬傳經熱邪亢極，一屬熱邪轉屬胃府，一屬溫熱發於少陰，
皆刻不容緩之證，故當急救欲絕之腎水，與陽明急下三法，同源異派，
詒按此亦伏邪無疑，如係傳經熱邪，則從始病數起，決不止二三日，
如從傳至少陰數起，則不應二三日，始見口燥咽乾也。</p>
<p>太陽病，發熱而渴，不惡寒者，為溫病。</p>
<p>王道曰，溫病如此，則知熱病亦如此，是則不渴而惡寒者，非溫熱病矣，
溫熱病而有惡風惡寒之證者，重有風寒新中也。</p>
<p>沈堯封曰，此條雖不言脈，以後條參之，其尺部必浮也。</p>
<p>章虛谷曰溫病之發無定處，少陰之表為太陽，熱邪從裏出表，
即有發熱頭痛之太陽病也不惡寒，則非新感之邪可知，熱從內發故渴，
仲景恐人錯認為太陽傷寒傷風之證，故特標明，謂此是伏熱內發之溫病也，其少陰溫病，
反不標者，因伏氣條內，巳申明咽痛下利，為少陰初發之溫病矣。</p>
<p>王夢隱曰，汪謝城云，吳氏溫病條辨，上焦篇，首引傷寒論云，太陽病，但惡熱，
不惡寒而渴者，名曰溫病，桂枝湯主之今檢傷寒論卻未見此數語，
使此語真出仲景耶，亦當辨其簡誤，若係吳氏誤記尤不可不為之辨正，余謂非誤記也，
因喻氏嘗云，仲景治溫證，凡表藥皆用桂枝湯以示微發於不發之意，尤在涇讀書記云，
此喻氏之臆說，非仲景之舊章，鞠通自謂跳出傷寒圈子，而不知巳入嘉言套中，
又不甘為人下，遂肆改原文，捏為聖訓，而不自覺其誣聖誤世也。</p>
<p>若發汗巳，身灼熱者，名曰風溫，風溫為病，脈陰陽俱浮，自汗出，身重多眠睡，
鼻必鼾，語言難出，若被下者，小便不利，直視失溲，若被火者，微發黃色，
劇則如驚癇，時瘈瘲，若火熏之，一逆尚引日，再逆促命期。</p>
<p>章虛谷曰，太陽外感之邪，若發干巳，當熱退身涼矣，
今熱邪從少陰而發當清其熱而誤發其汗，反傷津氣而勵邪勢，
故身更灼熱因而勾起其肝風，鼓盪其溫邪，故曰風溫，其為病也，虛陽外浮，
熱邪漫溢，故脈陰陽俱浮，津液外泄，自汗不止，氣乏神昏，則身重多眠睡，
內風動而機竅窒，故鼻鼾而語言難出，其非外感凡邪可見矣，若被下者，
謂未經誤汗非為汗後又下也，若誤被火劫者，微則熱傷營氣，
而血瘀發黃，劇則熱甚風生，而驚癎瘈瘲也，蓋邪伏少陰，熱灼水枯，
咽乾口燥法當急下，此熱巳發出太陽，則少陰空虛，若下之傷陰，則小便不利，
而直視失溲，則氣亦脫矣，若未汗下而被火攻者，外火助內熱，熏蒸而發黃，
劇則火邪擾心如驚癎，肝風熾甚而瘈瘲，皆壞象也，
若止火熏之一逆尚可引日苟延若既汗又下而再逆之，更促其命期矣。</p>
<p>服桂枝湯，大汗出後，大煩渴不解，脈洪大者白虎加人參湯主之。</p>
<p>詒按桂枝湯治風邪傷，衛表病而裏和者，用之得當，則微汗而解，
此則溫邪自內而發，誤用桂枝，適以勵邪而耗液，故大汗大渴熱勢轉甚，主以白虎，
所以泄熱解煩，因陰液被劫，故加人參以救之也。</p>
<p>太陽與少陽合病，自下利者，與黃芩湯，若嘔者，黃芩加半夏生薑湯主之。</p>
<p>張路玉曰，黃芩湯溫病之主方，即桂枝湯以黃芩易桂枝而去生薑也，
蓋桂枝主在表風寒，黃芩主在裏風熱，其生薑辛散，非溫熱所宜，故去之。</p>
<p>周禹載曰明言太少二陽，何不用二經藥，則以非傷寒故也，
何以知其非傷寒以不惡寒而即熱，不得謂之傷寒也，何以云太少二陽，以或脅滿，
或頭痛，或口苦引飲皆二經證也，果係傷寒合病，應見表證，今不但無表，
且有下利裏證，如云傷寒協熱下利，必自傳經來，不若此之即利也，蓋溫邪內鬱巳久，
中氣不足者，豈能一時盡泄於外，其下走而作利，亦自然之勢也。</p>
<p>王夢隱曰，少陽膽木，挾火披猖，嘔是上沖，利由下迫，何必中虛始利，
飲聚而嘔乎，半夏生薑，專開飲結，如其熱熾，宜易連茹。</p>
<p>三陽合病，脈浮大，上關上，但欲眠睡，目合則汗。</p>
<p>周禹載曰，溫病至三陽合病，其邪熱溷實可知，故脈浮大也，意邪在少陰，
尺脈巳大，今由內達外，而浮大見於關上，故曰上關上也，然脈雖見於陽位，
而少陰之源未清，故欲眠仍見少陰證，而盜汗又少陽證也，太陽脈浮，陽明脈大，
而關上是少陽部位，故三陽合病。</p>
<p>詒按春溫所以異於熱病者，以目合則汗，不似熱病之大汗不止也。</p>
<p>湯素園曰，此條與發汗巳，身灼熱之風溫，初是一串，初起為此病，誤汗則為風溫。</p>
<p>按此條治法，繆仲淳擬用百合一兩，麥冬五錢，知母花粉白芍各二錢，鱉甲三錢，
炙甘草一錢，竹葉五十片。</p>
<p>金匱曰溫瘧者，其脈如平，身無寒但熱，骨節疼煩，時嘔，白虎加桂枝湯主之。</p>
<p>尤拙吾曰，此與內經論瘧文不同，內經論其因，此詳其脈與證也，
癉瘧溫瘧俱無寒，但熱俱嘔，而其因不同，癉瘧者肺素有熱，而外加感冒，
為表寒裏熱之證，綠陰氣內虛，不能與陽相爭，故不作寒也，溫瘧者，
邪氣內伏少陰，至春夏而發為伏氣外出之證，寒蓄久而變熱，故亦不作寒也，
脈如平者，病非外感，故脈如平時也，骨節疼煩時嘔者，熱從少陰而出，
舍於腎之所合，而上併於陽明也，白虎甘寒除熱，桂枝則因勢而利導之耳。</p>
<p>王夢隱曰，喻氏謂仲景論瘧，既云弦數者多熱，而復申一義曰，弦數者風發，
可見多熱不巳，必至耗液生風，木來侮土，傳其熱於胃，
此非可徒求之藥須以飲食消息，止其熾熱如梨汁蔗漿之類，以止渴生津，
正內經風淫於內，治以甘寒之旨也。傷寒論曰，陽明脈浮而緊，咽燥口苦，腹滿而喘，
發熱汗出，不惡寒反惡熱，身重，若發汗則燥，心憒憒，反譫語，若加燒鍼，
必怵惕煩躁不得眠，若下之，則胃中虛，客氣動膈，心下懊憹，舌上苔者，
梔子豉湯主之，若脈浮發，渴欲飲水，小便不利者，豬苓湯主之。</p>
<p>周禹載曰，浮緊傷寒脈也，何以為熱病，以其發於夏，不惡寒反惡熱也，
又何以獨言陽明，以夏時濕熱上蒸，邪從胃發，且腹滿而喘，種種皆陽明證也，
然咽燥口苦，非少陰證耶，不知陽明為從出之途，少陰其伏藏之地，故證或兼見也，
夫既陽明熱病曷又為脈反浮緊，正因浮甚有力，熱邪盛而致也，若不知者，
以辛熱汗之耗其津液，必至躁妄昏昧，火劫溫鍼，燥其陰血，必至驚擾無寐，
下之而傷其陰，必至胃虛邪陷，心中懊憹，此皆誤治所致，將何以救之乎，觀舌苔滑者，
則外邪尚在，以梔子解熱，香豉去邪，是為合法，若渴欲飲水，口乾舌燥，
知熱邪大傷津液，故以白虎湯解熱，加人參者，以益元氣也，
若緊脈去而浮在發熱飲水，小便不利，則其熱巳入膀胱，故以豬苓消熱除渴也，
傷寒之小便不利，結於氣分，熱病之小便不利，由於血分，邪鬱既深，耗液日久，
故必以阿膠補血，滑石袪熱，無取於白朮也。</p>
<p>沈堯封曰，未經誤治之時，本是白虎湯主治。</p>
<p>陽明病，汗出多而渴者，不可與豬苓湯，以汗多胃中燥，豬苓湯復利其小便故也，
周禹載曰，渴而小便不利，本當用豬苓湯，然汗多在所禁也，
此與傷寒入腑不合溲數同意，蓋邪出陽明，巳劫其津，汗出復多，更耗其液，
津液幾何，更可下奪耶，當以白虎加人參去其熱，則小便之不利者，津回而自利矣。</p>
<p>三陽合病，腹滿，身重難以轉側，口不仁而面垢，譫語遺溺，發汗則譫語，
下之則額上生汗，手足逆冷，苦自汗出者，白虎湯主之。
〔雄按發汗則譫語下似脫一甚字。〕章虛谷曰，此條邪熱更重，瀰漫三陽，
而致腹滿身重，難以轉側，口不仁者不知味也，由胃中濁壅熏蒸，故又面垢也，
熱甚神昏，則譫語遺溺，若未經誤治，而自汗出者，主以白虎湯。
〔雄按仲淳云宜加百合〕此倒裝文法，謂非誤發其汗之汗，故名自汗出。
〔雄按尤在涇云若目汗出句頂腹滿身重四句來〕。若誤發其汗而致譫語。
〔雄按白虎加人參湯或可救也〕或下之，額上生汗者，是絕汗也，手足逆冷，
陽氣將亡，即所謂再逆促命期也非白虎所可治也。</p>
<h3>附註仲景暴感暑熱證治各條</h3>
<p>詒按經云，凡病傷寒而成溫者，先夏至日者為病溫，後夏至日者為病暑，
據此則春之溫，夏之暑，均是伏氣所發而為病也惟春時另有風溫之邪，
暴感而病與伏氣所發者，名同而實異，夏時亦有暑熱之邪，暴感而病，
與伏氣所發者亦異，仲景恐與內經伏氣之暑相渾，故傷寒論中，名曰暍病，
而王叔和傷寒例，依難經傷寒有五而別之，謂冬時伏寒，至春變為溫病，
至夏變為熱病，後來諸書，遂以伏氣所發者，名為熱病而以暴感而病者，
仍名曰暑病以此暑病之名，既與伏邪之熱病相渾，又與仲景之暍病牽涉，
後人謂喝是陽邪，專指熱言，暑為陰邪，兼溼熱而言，殊不知寒往暑來，暑與寒，
顯相對待，古人曰暑曰喝曰熱，皆屬火氣為病，不兼溼也，若溼熱并至之病，
難經名曰溼溫，不名為暑，若謂暑必兼溼則當夏亢旱之年，暑熱偏盛，溼難必得，
況溼之可兼者最多，誠以溼無定位，分旺四時，風溼寒溼，無不可兼，
惟夏季之土為獨盛，故熱溼多於寒溼，然暑字從日，日為天氣溼字從土，土為地氣，
霄壤不同，雖可合而為病，究不可謂暑中原有溼也，愚誠恐相習沿誤，易於淆渾，
因將仲景書中，伏氣發為溫熱諸條，詳註於前，復將暴感暑熱，及溼溫各條，
分別附註於後，而另標之曰，暴感暑熱兼感溼溫，庶幾眉目清楚，讀者不至淆亂云。</p>
<p>太陽中熱者，暍是也，汗出惡寒，身熱而渴，白虎加人參湯主之。</p>
<p>周禹載曰，冬月寒能傷人，則名中寒，夏月熱亦能傷人，則名中熱，
此是外來之熱，故曰中，與伏寒發為熱病之熱不同，而同用白虎者，
則以所傷在氣則所主在金，所病在熱，金病則母子俱病，故與伏氣之在少陰，
發出而由陽明者無異，要皆並主一湯，不因冬月之伏，與夏月之中為二義也，
亦不因伏氣之渴，與今病之渴為稍異也，方主人參白虎者，石膏功專清肺，
退金中之火，是用為君，知毋亦能就肺中瀉火，滋水之源，人參生津液，
益所傷之氣而為臣，甘草粳米補土以滋金，以為佐也。</p>
<p>徐洄溪曰，凡汗出多之病，無不惡寒者，以其惡寒汗出，而誤認為寒，妄用熱劑，
則立危矣。</p>
<p>傷寒脈浮滑，此表有熱，裏有寒，白虎湯主之。</p>
<p>方中行曰，世本作表有熱，裏有寒，必係傳寫之誤，夫白虎本治熱病暑病之藥，
其性大寒，安得裏有寒者，可服之理，詳本文脈浮滑，不但不緊而且見滑，
乃陽氣甚而鬱蒸，此裏有熱也，裏熱甚，則格寒於外，多厥逆身涼，而為亢害之證，
此表有寒也，觀厥陰篇中，脈滑而厥者，裏有熱也，則知此表二字，為錯誤可知，
當上下更易之。詒按此節經文，理不可通，王三陽以寒字作邪字解，
魏念庭以裏字作經絡之裏解，沈堯封以寒字為暍字之誤，
王夢隱引徐亞枝說謂寒字當作痰字解，以上諸家，均係曲為之說，惟方氏之說，
以表裏二字互易於義略近。</p>
<p>傷寒脈滑而厥者，裏有熱也，白虎湯主之。</p>
<p>張路玉曰，滑陽脈也，故其厥為陽厥，裏熱鬱熾，所以其外反惡寒厥逆，
往往有唇面爪甲俱青者，故宜白虎以清裏而除熱也。</p>
<p>傷寒無大熱，口燥渴心煩，背微惡寒者，白虎加人參湯主之。</p>
<p>張兼善曰，白虎治煩渴燥熱之重劑，表證未罷者，不宜早用，此條背微惡寒，
後條時時惡風，皆表證也，特因其煩熱巳甚，非白虎不能退，故用之。</p>
<p>沈堯封曰，背惡寒是陽虛證，但此乃營衛氣血之陰陽，非腎命水火之陰陽，
此係燥渴心煩，暍熱內熾是白虎證，惟暍熱傷耗胃氣，致背微惡寒，
故加人參補其衛至若少陰病口中和，而背惡寒者，則衛陽俱虛，故人參與附子同用，
而兩補之也。</p>
<p>吳鶴臯曰，背微惡寒者，其惡寒不甚也，既見燥渴，則白虎加人參，用無疑義，
若惡寒而不燥渴者，則不可用也，按合下條參之必有汗乃可用也。</p>
<p>傷寒脈浮，發熱無汗，其表不解者，不可與白虎湯渴欲飲水，無表證者，
白虎加人參湯主之。</p>
<p>沈堯封曰，此承上節，言煩渴背惡寒，固當用白虎加參矣，但亦有中暍而外，
復傷風寒，亦能令惡寒發熱脈浮，更當於有汗無汗上，辨表證之解不解，
以定此方之可用否也。</p>
<p>傷寒病，若吐下後，七八日不解，熱結在裏，表裏俱熱，時時惡風，
大渴舌上乾燥而煩，欲飲水數升者，白虎加人參湯主之。</p>
<p>張路玉曰，此條表證比前較重，何以亦用白虎加參耶，蓋惟熱結在裏，
所以表熱不除，邪火內伏，所以惡風大渴，舌燥而煩，飲水不止，
如此安得不以生津解熱為急也。</p>
<p>沈亮辰曰，舌燥且乾，謂視之無液也，然則溫病之視審舌苔，
以察津液仲師巳逗其倪矣。</p>
<p>太陽中暍者，身熱疼重，而脈微弱，此以夏月傷冷水，水行皮中所致也，
一物瓜蒂湯主之。</p>
<p>皇甫士安曰，經云，脈盛身寒，得之傷寒，脈虛身熱，得之傷暑，
蓋寒傷形而不傷氣，故脈盛，熱傷你而不傷形，故脈虛，王夢隱按，所云身寒者，
雖發熱而仍惡寒，不似暑熱病之喜涼惡熱也。</p>
<p>朱奉議曰，夏日發熱惡寒頭痛身體肢節痛重，其脈洪盛者，熱病也，
夏月自汗惡寒，身熱而渴，其脈微弱者中暑也。</p>
<p>王夢隱按，此註之熱病乃夏至後所發之伏邪，內經亦謂之暑病，中暑者，
夏月外感之熱病，亦曰中暍，病有內外之殊，脈有洪微之別，是微弱本暍脈，
惟身重為溼候，後條雖亦身重而口開齒燥熱熾巳極，
似當急與甘寒救液矣。張路玉曰，此條是因熱傷冷之病，乃中暍之變證也，
喻氏謂無形之熱傷肺，則用瓜蒂湯救之，各有所主也。</p>
<p>太陽中暍者，發熱惡寒，身重而疼痛，其脈弦細芤遲，小便巳，洒洒然毛聳，
手足逆冷，小有勞，身即，熱口開，前皮齒燥，若發汗，則惡寒甚，加溫鍼則發熱甚，
數下之，則淋甚。</p>
<p>成聊攝曰，病有在表者，有在裏者，此則表裏俱病者也，發熱惡寒，身重疼痛者，
表中暍也，脈弦細芤遲者，中暑脈象虛也，小便巳洒酒然毛聳，手足逆冷者，
太陽經氣不足也小有勞身即熱者，謂勞動其陽，而暍即發也，口開，前皮齒燥者，
裏有熱也，內經云，因於暑汗，煩則喘暍，口開，謂喘暍也，喘暍不止，故前板齒燥，
若發汗以去表邪，則陽氣外虛，故惡寒甚，若以溫針助陽，則火熱內攻，
故發熱甚若下之以除裏熱，則內虛而膀胱燥，故淋甚。</p>
<p>王夢隱按即前齒燥一端，巳為熱熾津枯之候，雖身重惡寒，
豈可再投清暑益氣五苓藿香正氣等，辛溫燥烈以，重劫其陰乎東垣虛谷之言，
誤人不少。</p>
<p>又按觀汗火下三禁，則雖未立方，而甘涼徹熱存津之當用，巳不言而喻矣。</p>
<p>趙氏方氏擬用白虎加人參法，迨從三陰合法比例而出，似亦近理。</p>
<p>沈堯封曰，此條言精你素虧而中暍者。</p>
<h3>附註仲景兼感濕溫證治各條</h3>
<p>太陽病，關節疼痛而煩，脈沉而細者，此名濕痺，其候小便不，利大便反快，
但當利其小便。</p>
<p>沈堯封曰，傷寒既以頭痛胃實等項分六經，，即以汗字判風寒，渴字認燥熱，
小便不利認濕氣縱橫辯別，邪無遁形矣，學者當於此等處，著實留心。</p>
<p>濕家之為病，一身盡疼，發熱，身色如熏黃。</p>
<p>倪仲之曰，此濕家為病之總綱也，前條濕在關節而疼，故曰痺此則一身盡疼，
而表有熱，故成氏謂之在經熏黃與桶子黃，同是濕熱，
彼以熱勝者黃而明此以濕勝者黃而晦，宜茵陳五苓散，王海藏以熏黃為陰黃，
蓋既濕勝，則次傳寒中小便自利者有之。〔王夢隱按此由治病者但清其熱不治其濕所致。
〕宜朮附湯。</p>
<p>沈堯封曰，丹溪云，如造麴然，濕熱鬱久則發黃也。</p>
<p>王夢隱曰，濕熱發黃，名曰黃癉皆是暴病，故仲景以十八日為期，其餘所因甚多，
有榖疸酒疸，女勞疸，黃疸，黃汗，及冷汗便溏氣虛之陰黃，身面浮腫，睛白能餐，
勞倦之弱黃，神志不足，猝然恐嚇，膽氣外泄之驚黃肝木橫肆，脾胃傷殘，
土敗而黃色外越之痿黃，皆與暴病不同，不可概為之濕熱病。</p>
<p>濕家其人但頭汗出，背強欲得被覆向火，若下之早則噦，胸滿小便不利，
舌上如胎者，以丹田有熱，胸中有寒渴欲得水而不能飲則口燥煩也。</p>
<p>王夢隱曰，胸中有寒之寒字當作痰字解胸中有痰故舌上如胎其津液為痰所阻，
故口燥煩，而痰飲乃水之所凝結，故雖渴而不能飲也。</p>
<p>尤在涇曰，寒濕在表，陽氣不得外通而但上越，故頭汗背強，欲得被覆向火也，
是宜用溫藥以通陽不可用攻藥以逐濕，乃反下之，則陽更被抑，
而噦乃作矣或上焦之陽不布，而胸中滿，或下焦之陽不化，而小便不利，
隨所傷之上下而為病也，舌上如苔者，本非胃熱，而舌上津液燥聚如胎之狀，
實非胎也，蓋下後陽氣陷於下，而寒濕聚於上，於是丹田有熱，而渴於得水，
胸中有寒而復不能飲則口舌燥煩，而津液乃聚耳。</p>
<p>濕家下之，額上汗出，微喘，小便利者死，若下利不止者亦死。</p>
<p>尤在涇曰，濕病在表者宜汗，在裏者宜利小便，苟非濕熱蘊積成實，
未可遽用下法，額汗出微喘，陽巳離而上行小便利下利不止，陰復決而下走陰陽離決，
故死，一作小便不利者死，謂陽上浮而陰不下濟也，亦通。</p>
<p>王夢隱曰，張石頑云，由此推之，雖額汗微喘，若大小便不利，
則陰氣未脫而陽之根猶在也，雖大小便利，而無額汗微喘，則陽氣不越，
陰之根猶在也，陰陽不至離決，尚可隨其虛實而救之，至於下利不止，
雖無喘汗陽脫之候亦死，又小便反閉，而額上汗出者謂之關，經云，關格不通，
頭無汗者可活，有汗者死。</p>
<p>問曰，風濕相搏，一身盡疼痛，法當汗出而解，值天陰雨不止，醫云此可發汗，
汗之病不愈者何也答曰，發其汗，汗大出者但風氣去，濕氣在，是故不愈也，
若治風濕者，發其汗，但微微似欲汗出者，風濕俱去也。</p>
<p>汪謝城云，古人即表汗，亦有節度如此，奈何今人動發其汗，且逼令其多耶，
此與傷寒論，桂枝湯後註，可以互參。
濕家病身疼痛，發熱，面黃而喘，頭暈鼻塞而煩，其脈大，自能飲食，
腹中和無病，病在頭中寒濕，故鼻塞，內藥鼻中則愈。</p>
<p>章虛谷曰，此所謂霧露清邪，中於上也，三陽經脈，上頭而行於身之表，
頭中寒濕，則表氣不宣，故身疼發熱，肺開竅於鼻，而行氣於皮毛，邪從鼻入，
濕遏其陽而上蒸則面黃，氣閉則喘，氣壅則頭痛鼻塞而煩，皆肺氣窒塞，不得下降，
故脈反大，與濕中於下，而在陰之脈沉細者，迥不同也，肺通喉，胃通咽，邪在肺，
不在胃，故腹無病而自能飲食，頭中寒濕故鼻塞，當用辛禾苦泄之藥納鼻中，
如近世之痧藥。〔王夢隱用古法瓜蒂散嗅鼻出黃水〕。使肺氣通達，其濕邪化水，
從鼻中出則愈。</p>
<p>傷寒瘀熱在裏，身必發黃，麻黃連軺赤小豆湯主之。</p>
<p>章虛谷曰，表邪未解，濕熱內瘀則發黃，用麻黃解表，連軺赤豆利肺氣以清濕熱，
此以邪在經絡，故從表解之。</p>
<p>王夢隱曰，夏月濕熱發黃，表有風寒者，余用本方，以香薷易麻黃輒效。
〔楊素圍日香薷乃夏月之麻黃換得恰當。〕</p>
<p>傷寒身黃發熱者，梔子檗皮湯主之。</p>
<p>尤在涇曰，此熱瘀而未實之證，熱瘀故身黃，熱未實故發熱而腹不滿，
梔子撤熱於上，檗皮清熱於下，而中未實者，故用甘草以和之。</p>
<p>沈堯封曰，梔檗湯清熱利水，治濕熱之主方也，程扶生以麻黃小豆湯，為主方，
不知麻黃小豆乃發汗之方，惟外兼風寒者宜之，梔檗湯為利小便之方，
乃治濕熱之正法，觀論中但當利其小便句，則此理自明矣。</p>
<p>傷寒七八日，身黃如桶子色，小便不利，腹微滿者，茵陳蒿湯主之。</p>
<p>尤在涇曰，此熱結在裏之證也，黃如桶子色者，色黃而明為熱黃也，
若陰黃則色黃而晦矣，熱結在裏，則小便不利而腹滿，故宜茵陳湯，
以下熱通瘀為主也。</p>
<p>陽明病，發熱汗出，為熱越不能發黃也，但頭汗出，身無汗，劑頸而還，
小便不利，渴飲水漿者，此為瘀熱在裏，身必發黃，茵陳蒿湯主之。</p>
<p>尤在涇曰，熱越，熱隨汗而外越也，熱越則邪不蓄而散，安能發黃，若但頭汗出，
劑頸而還，則熱不外達，小便不利，則熱不下泄，而又渴飲水漿，
則熱之蓄於內者方熾，而濕之引於外者無巳，濕與熱合，瘀鬱不解，則必蒸發為黃矣，
茵陳蒿湯苦寒通泄，使病從小便出也。</p>
<p>陽明病，面合赤色，不可攻之，攻之必發熱色黃，
小便不利也。沈堯封曰，此寒邪外束之濕溫證也，麻黃小豆湯是其主方，除卻惡寒，
即是梔檗湯證，更加腹微滿，即是茵陳蒿證。</p>
<p>章虛谷曰，面赤者熱鬱在經也，當以汗解，若攻之，傷其府氣，則經熱反從內走，
與水榖之氣鬱蒸發黃，三焦閉塞，小便不利也。</p>
<p>陽明病，苶汗，小便不利，心中懊衄者，身必發黃。</p>
<p>章虛谷曰，此條雖未誤下，而無汗小便不利，其邪熱閉結而無出路，
與胃中水液鬱蒸，則必發黃矣。</p>
<p>陽明病被火，額上微汗出，小便不利者，必發黃。</p>
<p>喻嘉言曰，濕停熱鬱而誤火之，則熱邪愈熾，津液上奔，額有微汗，
而周身之汗與小便，均不可得矣，發黃之變，安能免乎。</p>
<h2>卷中</h2>
<h3>辨正周禹載溫熱暑疫各條</h3>
<p>凡病傷寒最重，溫熱尤烈，傷寒僅在一時，溫熱暑疫每發三季，為時既久，
病者益多，苟不明其源，則流不得而清也，不辨其類，則治不得其當也，夫溫熱暑疫，
皆熱證也，燎原之下，苟無清涼一滴，何以治之，人無今昔，性有異同，
某也神酣往聖，志切琳瑯，爰以一隙微明，靜中索照焉，夫上古聖人，首重色脈，
以營之巳變未變，定人生死片言巳畢。</p>
<p>詒按此指素問刺熱篇，太陽之脈色榮顴骨一節。</p>
<p>中古聖人，專論穀氣盛衰，定人生死，片言巳畢。</p>
<p>詒按此指素問評熱病篇，熱不汗為衰一節。</p>
<p>仲景，叔季聖人也，既立方論，復出不盡之藏緯，以膀胱之傷與絕，定人生死，
先後合符，了無賸義矣。</p>
<p>詒按此指傷寒論中，風溫為一節，有小便不利，直視失溲也等語。</p>
<p>乃仲景於傷寒論中，溫熱之法，森森具載，黃芩白虎等湯，是其治也，
學者苟能引伸此義，便可變法無窮，乃不能細察其理，反執以為治傷寒之法，
盍思本湯既無外解之功，又無內奪之力，聖人定法，果何取乎。</p>
<p>詒按得此提醒，自應頑石點頭。</p>
<p>自晉以來，疑鬼疑蜮，沿陋無巳，如崔行文之解溫，用白朮烏頭細辛桔梗四味，
更加附子，名老君神明散，更加螢火，名務成子螢火丸，熱藥相，投，以火濟火，
誰其辨諸。</p>
<p>詒按此必當時有寒疫流行，用此得效，因而相傳也。</p>
<p>如仲景書，謂太陽病發熱而渴，不惡寒者，為溫病，而朱肱活人書，謂發熱惡寒，
頭疼身痛為溫病，巳顯背聖訓矣，其所立五方，如葳蕤湯，知毋葛根湯，防巳湯，
栝蔞根湯，葛根龍膽湯，風火交熾，燔灼無休，復改聖散子仍用附子，
蘇東坡在黃州時，亦稱其效，豈知朱肱巳三易其方，用敗毒散而遠熱藥，
然厥功難減厥罪。</p>
<p>詒按敗毒散，是通治三時感冒之方，仍非溫熱病藥也。</p>
<p>吳氏謂傷寒壞病，更遇溫熱為溫病，潔古老人，傷寒名家也，其子雲岐，
以傷寒過經不解者為溫病，指叔和之文為仲景之言，趙嗣真謂仲景云，重感異氣，
變為溫病，汪機謂仲景云，遇溫氣為溫病，遇溫熱為溫毒，竟不顧聖經之載於方策者，
何嘗有此一語耶。</p>
<p>詒按諸家不明伏氣發溫之理，而以溫病為傷寒變證，故於溫熱源流，
愈說愈遠。巢氏病源遵崔文行解散法，一日用摩膏火灸，二日用鍼解散，三日復汗之，
四日用藜蘆丸、瓜蒂散吐之，五六日解未了了者復鍼之，七日熱巳入胃雞子湯下之，
遂使龐安常自撰微言，一以和解為主，奉為靈寶少移則蹶，巢龐二子，盲以引盲，
貽誤何極，李思訓亦宗和解，王海藏稱其當，宋全盛明哲莫踰，擬非其倫矣。</p>
<p>詒按以上皆傷寒治法，後人遵之以治溫熱貽誤不少。</p>
<p>丹溪長於溫熱，善用涼藥，溫熱遇之，自能解散，然非有真知灼見於其間也，
東垣不善外感長於內傷，乃從內經悟出冬溫春溫二義，嘉言極口歎頌，
而用藥則未能絲絲入扣也。</p>
<p>詒按丹溪東垣所論，不過一隙微明，於溫熱病之治法，仍未能從源頭悟澈也，
迨劉河間著傷寒直格，於熱病每多入理深談，然混在正傷寒中，在人眼光採擇，
不免金屑雜於泥沙者歟。</p>
<p>詒按溫熱治法，自仲景以後，無一人得其門徑至河間始有清泄邪熱之法，
與仲景黃芩白虎之治先後同符，惜其於疏邪化熱諸法，猶未能隨證變化，
曲盡病情也。至明季方中行著傷寒條辨，可謂直登仲景之堂，獨開生面，
惜其論溫熱亦分陰分陽，治兼寒熱，遂為嘉言所宗。</p>
<p>詒按喻嘉言尚論溫熱，有刻意求深之弊，詳論於後。</p>
<p>嗟乎病名溫熱，自需寒涼，乃千百年來，盈庭聚訟，先後支吾，陽春寡和於漢庭，
壎箎迭奏於晉室，良由來派不清復無體認不然，豈諸公各是名家，
乃甘悖聖矩如是耶。詒按以上論溫熱病。</p>
<p>若夫夏月暑證，即金匱中濕暍，氣蒸之病也，潔古東垣以動靜分陰陽，
動而得之為陽，用白虎，靜而得之為陰，用大順冷香諸劑，豈知夏月杲杲炎威，
有陽無陰，動靜不甚相遠，惟多食冰困冷物及恣意房幃，致傷太陰少陰者，
熱藥可以暫用，豈得視溫熱之味為通行之藥乎，明計部張鳳逵著治暑全書，深明理蘊，
精確不磨，雖有小疵，不掩大德，誠可振聾瞶於千古者也。</p>
<p>詒按以上論暑病，春時溫病，有伏氣暴感兩種之不同，夏月之熱病亦然，內經云，
凡病傷寒而成溫者，先夏至日者為病溫，後夏至日者為病暑，
則暑病即伏氣發於夏月之病名也，仲景恐與夏月暴感之病相混，故於暴感者，
另暍病之名，以別於伏氣所發之暑病亦既苦心而為分明矣，潔古輩，
徒以陰陽動靜齗齗致辨，而於伏氣一層，全未道及，舍本逐末，固無足論，
張鳳逵暢論暑病，獨開生面，而其所論，亦祇就暑病之暴感者言之，
誠以溫病中之伏氣暴治法迥殊，暑病釗無論暴感伏氣，均可以白虎為主方，治法相同，
則議論尤易混淆也。</p>
<p>至王叔和云，四時不正之氣，感則為疫，而大疫之沿門闔境，傳染相同者，
多在兵荒之後，尸濁穢氣，充斥道路，人在氣交，感之而病，氣無所異，人病亦同，
所以月令於孟春，掩骼埋胔，不敢或後者，聖王早慮及此耳，非徒澤及枯骨也，
後世治疫之法，未有定見，如嘉言上焦如霧，升逐解毒，中焦如樞，疏逐解毒，
下焦如瀆，決逐解毒，俟其營衛既通，乘勢追拔，勿使潛滋暗長於未盡之時，
此固不易之論，然求其反覆盡義，直窮變態者，舍吳又可之言，必無依傍也。</p>
<p>詒按以上論疫病，疫病有各種不同如素問所言，五運之氣偏勝，則鬱伏而為五疫，
此尋常之疫病也，其有兵荒之後，沿門闔戶，長幼相似，朝發夕死，醫藥不及，
此非常之疫病也，又可所論，似屬尋常之疫病，前人稱其所論，是五疫中之土疫，
斯為切當，其所論病情治法，變化百出，有前人所未經道及，
而與伏氣所發之溫熱病相合者甚多，故於下卷證治各條，每採取而論列之，
想又可當日，於伏氣疫氣兩證，未能分晰清楚，因誤指伏氣為疫病者，亦復不少，
故其書中論治，雖稱疫邪，而方治則每於伏氣相合也。</p>
<h3>辨正蔣問齊醫略伏邪篇</h3>
<p>詒按伏邪之名，從前未經道及，自蔣問齊著醫略十三篇，煌煌然著伏邪之名，
而伏溫二病，始照然大白於天下，惜乎其所撰伏邪篇，歷引內經仲景之文，既詳且備，
而羼入吳又可募原之論，謂伏邪即與溫疫同條共貫，殊不知溫疫之邪，從口鼻吸受，
所受者濕穢之邪，藏於募原，則發為寒熱，痞悶嘔噁等證，伏溫之邪，從經絡內襲，
所襲者風寒之邪，伏於少陰，發為寒熱身疼之候，病原見證，兩者截然不同，
蔣氏不能細加審別，而伏邪論中，每每將募原之說牽濊攙混，致學者轉有多岐之惑，
爰亟取蔣氏伏邪篇原文，為之逐條辨正，俾讀者豁目爽心，而於伏邪疫邪，
不至更相牽混，貽非好與前人辨難也，亦以病機所在，出入生死之間，
不容稍有假借耳。伏邪者，冬寒伏於募原之間，化熱傷陰，表裏分傳，多為熱證，
以始得病，溲即渾濁，或黃或赤為據。</p>
<p>原註蘭亭曰，小便及州都氣化，邪在表，無關於裏，何至變色渾濁，
顯是邪伏於中，化熱傷陰之明驗也。</p>
<p>貽按暑穢之邪，從口鼻吸受者，由肺胃而伏於募原，至秋令涼氣外束，
則發為伏暑，冬寒之邪，從皮毛襲入者，由太陽而伏於少陰，至春令溫氣外達，
則發為伏溫暑溫兩病，其病源見證，截然兩途，吳又可所論溫疫病源，都屬暑穢之邪，
蔣氏乃謂冬寒伏於募原，是將溫暑兩邪，混為一病，其認題既誤，
則立論自不能中的矣。其見證初起，即溲赤而渾，神煩少寐，或洒洒振寒，
蒸蒸發熱或但熱不寒，或汗出熱不退，或潮熱往來，或寒熱如瘧，或頭疼身痛，
或狂躁譫語，或渴或不渴，或反欲熱飲，或有汗或無汗，或汗不達下。</p>
<p>詒按伏寒化熱，由少陰而發，每有骨節煩疼，腰脊強痛之證，
以腎主骨髓腰脊又為太陽經所轄之地也，內熱上蒸則頭作痛，慎勿誤認為表證，
而強與發汗也，邪巳化熱而反欲熱飲者，中有痰濁瀰漫，得熱飲則開爽也，溫病得汗，
而熱不達於下，甚或足冷不溫，此由正虛而氣不流通，或因邪重而氣被鬱，
以後病必見重，務宜留心。</p>
<p>舌苔或白或黃，或  灰或黑，或淜或濇，或生芒刺，或反無苔，而色紫赤。</p>
<p>詒按邪濊於胃，則舌上生苔，又可所論邪由募原而發，故始則苔如積粉，
其邪化熱日漸加重，故苔亦由白而黃而灰而黑日漸增重也，若伏溫化熱，
由少陰而出間有不涉於胃者，則舌色如常，無論不見灰黑之苔，即白黃之苔亦不甚厚，
誠以熱在陰經其患不犯於胃，則胃中濁氣無由上騰，而結為苔也，
此亦溫暑兩證之分別處，學者當細心領會。</p>
<p>大便或祕或溏，或下利臭水，或如敗醬，或帶瘀血。</p>
<p>詒按伏溫熱養於裏，必以大便通達，為熱邪之出路，此與傷寒便溏為邪陷者，
其論相反，而其理則一也。</p>
<p>或遇濕土司令，釀成濕溫，則身痛異常，溲更渾濁，當與濕證門參治，
然濕從土化，土無成位濕無專證，但治伏邪為主，輔以溫通治濕之意可也。</p>
<p>詒按濕邪有外感時令之濕亦有內傷久伏之濕，身痛亦有不因乎濕者，
均當分別論治，至治法之或以濕邪為主，
或以伏溫為主當視濕邪溫邪之輕重其見證之緩急，方可著手，不容豫設成見也。</p>
<p>其解或戰汗自汗，躁汗狂汗發㿀發疹。</p>
<p>詒按表你之鬱，固由㿀疹戰汗而解，而欲求達表，必先裏氣暢行，則通腑一層，
正伏溫吃緊關頭，不可遺漏也。</p>
<p>其劇則或發痙或神昏如醉，或苔黑起刺，脣齒焦枯，或鼻煤舌裂，
或呃逆從少腹上衝，或搖頭肢體振掉，或氣急痰壅。</p>
<p>詒按所敘諸劇證，皆熱潰於陰，而燔及胃府，或濊於手足厥陰之候，當分別施治，
未可混列也。</p>
<p>其脈則忌緊澀細數，而喜和緩滑大。</p>
<p>詒按溫邪之脈，弦淜數大，此其常也，間有邪熱鬱遏，而脈見細數不暢者，
有正氣不充，而脈見細弱不數者，病必見重，醫者宜留意焉。</p>
<p>其治或先用吳氏達原飲加減，從乎中治，然後或汗或下，如見三陽表證，
則加羌葛柴胡之類，見三陰裏證，則加硝黃之類，或先汗而後下，或先下而後汗，
或汗而再汗，或下而再下，或但汗不下，或但不不汗，或養陰化邪，補瀉兼施，
毋為夾陰所惑，誤服桂附則死，當察其證脈，表裏虛實，老少強弱，風土寒暄，
膏粱藜藿，參合為治，善後則宜和胃養陰。</p>
<p>原註蘭亭曰夾陰二字，流俗相傳，本無足據，若因房室致病，男子為夾陰，
將女子為夾陽乎，真不值一笑也，病在三陰為陰證，小兒亦有之，與房室何與焉，
況陰證及正傷寒家事，伏邪疫邪，均無陰證，即或有之，
亦千百中之一耳。</p>
<p>詒按伏氣化溫，從陰而達，濧當助陰托邪，達原飲乃燥烈傷陰之品，
惟暑濕在募原，舌苔濁膩者宜之，若施於伏溫之病則助熱爍陰，豈堪嘗試，
蓋由蔣氏誤認又可所論之疫邪，謂即是伏溫，而置內經難經所論於不問。</p>
<p>再按吳氏所列治法，於表證多用溫燥劫陰之劑，與伏氣發溫，
先傷陰分之病甚不相宜，至所論裏證治法都與伏溫相合，可以取法少，
緣吳氏當日所見之證，仍屬伏氣居多，所論病情，亦多伏氣之候，祇以病源未澈，
識見不真，復有暑濕之邪夾雜而發者，淆亂其間，故論中每有病情確屬伏溫，
治法亦合，而立論皆以疫邪為名者，此則吳氏立說之鹵莽也。</p>
<p>汗不出，九味羌活湯，活人敗毒散，柴葛解肌湯，小柴胡湯，吳氏達原飲，
加三陽表藥，醫話柴胡白虎湯之類，下則大小承氣湯，調胃承氣湯，桃仁承氣湯，
大柴胡湯，柴胡加芒硝湯，涼膈散拔萃犀角地黃湯，吳氏達原飲，加大黃，
醫話中承氣湯，蔞貝二陳湯之類，養陰化邪，則犀角地黃湯，醫話柴胡生地湯之類，
補養兼施，則陶氏黃龍湯，醫話大黃人參湯，或半夏瀉心湯，或十味溫膽湯之類，
善後則醫話歸芍二陳湯，加榖芽神麴之類，此其大略，神而明之，存乎其人。</p>
<p>詒按所列諸方，粗淺雜湊，學者觀其大略，原不能舉以治病，
其汗劑所列九味羌活，及敗毒解肌等方，燥烈劫陰，於溫病尤非所宜，
學者勿為其所誤也。</p>
<p>黃帝內經靈樞邪氣臟腑病形篇曰，正邪之中人也微，先見於色，
不知於身若有若無，若亡若存，有形無形，莫知其情。</p>
<p>又五變篇曰，百病之始期也，必先生於風雨寒暑，循毫毛而入腠理，或復還，
或留止。</p>
<p>素問生氣通天論曰，冬傷於寒，春必病溫。</p>
<p>八正神明論曰，正邪者身形若用力，汗出腠理開，逢虛風，其中人也微，
故莫知其情，莫見其形。</p>
<p>熱論篇曰，今夫熱病者，皆傷寒之類也，此內經諸篇，分明以正邪內伏，
而後發為溫病也。</p>
<p>詒按以上內經各條，所論伏邪，亦既詳且盡矣，何蔣氏尚牽濊募原之說，
混而不分也。</p>
<p>六元正紀大論曰，司天之氣，氣溫草榮，民康之際，溫厲大作，遠近咸若，
此其先有伏邪可知。</p>
<p>難經溫病之脈，行在諸經不知何經之動此經中有伏邪可知，周禮四時皆有厲疫，
蓋邪伏之深，亦可期年而發。</p>
<p>呂覽禮記以非時之氣疫，即伏邪因感而發。</p>
<p>史記，齊中御府長信，冬時墮水濡衣，至春病熱，此伏邪化熱可證。</p>
<p>詒按呂覽一條，既以非時之氣為疫，而又為伏邪因感而發，
是將疫邪伏邪牽合為一，蔣氏之病根在是矣。</p>
<p>金匱要略，百合病必待日數足而後解，是亦伏邪之類。</p>
<p>傷寒論平脈篇，直以伏邪為病名。</p>
<p>傷寒例以寒毒藏於肌膚，春變為溫，夏變為暑，此以冬傷於寒，發為溫病，
本於經旨。</p>
<p>太陽篇，太陽病發熱而渴，不惡寒，為溫病，既不惡寒，邪非在畏，而渴屬內熱，
其為伏氣顯然。</p>
<p>陽明篇諸下證，與伏邪入胃之意同。</p>
<p>少陰篇之自利，心下痛，厥陰篇之厥深熱亦深，諸下證，亦與伏邪化熱傷陰之意同。</p>
<p>詒按傷寒既經化熱，以後其證治法，與伏溫大略相同，其不同者，
在即起自內達外之時，則恰與傷寒為對待耳。</p>
<p>太平御覽，載曹植說疫氣致病，愁被褐茹藿之子，荊室蓬戶之人，
若夫殿處鼎食之家，若是者鮮矣，此亦饑寒傷正，邪伏而後發也，巢元方，
以疫癘與時氣溫熱相類，蓋不知由於一氣所伏，而有多寡輕重之分耳。通鑑唐紀，
關中比歲饑饉，兵民率皆瘦黑，至麥始熟，市有醉人，當時以為嘉瑞人乍飽食，
死者五之一，此人飽食，非受風寒，蓋有伏邪內動也，劉河間宣明方，治疫癘，
不宜熱藥，解表而用白虎湯、涼膈散，明其有伏熱在內也。李東垣辯惑論，
載壬辰改元，京師戒嚴，受敵半月，解圍之後，都人之不病者萬無一二，
既病而死者接踵不絕，將近百萬，豈俱感風寒耶，蓋伏邪所致耳，丹溪心法附餘，
附傷寒直格心要論證治諸法，治伏邪甚善，當與吳氏溫疫論互閱。</p>
<p>丹溪心法，溫疫眾人一般，病者是治有三法，宜補宜散宜降，首用大黃黃芩，
先攻其裏，亦因其內有伏邪也，方約之謂溫熱之病，因外感內傷，觸動鬱火，
自內而發之於外也，此明言邪伏於中也，元史耶律楚材，用大黃治士卒病疫，
亦足見其邪之伏於裏也。</p>
<p>詒按以上各條所論，均係疫證，而蔣氏引之，每條牽入伏邪，
其實疫證中有專病疫者，有兼伏邪者，當隨證審治，若將兩證牽合立論，
則不特伏邪之證治不清，并疫證亦茫無依據矣。</p>
<p>王履𣶮洄集，溫病熱病，發於天令暄熱之時，怫熱自內而達之於外，又云，
世人治溫熱病，雖誤攻其裏亦無大害，誤發其表，變不可言，
足以明其熱之自內達外矣，張景岳以溫疫本即傷寒，多發於春夏，必待日數足，
然後得汗而解，此與金匱百合病之義同，皆有內伏之邪故也。吳又可溫疫論，
治伐邪最切，而反以冬傷於寒，春必病溫為非，是蓋不知寒乃冬月之正邪，
正邪之中人也微，先見於色，不知於身，若有若無，若亡若存，及身形若用力，
汗出腠理開，逢虛風，謂正邪可伏而後發也，由是觀之，伏邪所從來遠矣。</p>
<p>詒按𣶮洄集所論，確係伏氣所發，其論病情最為確當，蔣氏以伏邪與溫疫牽合，
巳屬誤認，張景岳乃為溫疫本即傷寒，則誤而又誤，其謂必日數足而後能解，
理亦不確，綠景岳於外感六淫病，其理路本未能清晰也，吳又可專論溫疫，
遂將當時所見之病，無論其為伏溫，為溫疫，一概謂之疫邪，不責己之分辨不清，
反疑內經冬傷於寒之語為不確其才識粗疏，橫肆武斷，亦未免不自量矣，
蔣氏既知所伏者為正邪，則所見高出於吳奼矣，何以篇中引用，仍以達原飲為主方，
前後自相矛盾，吾所不解。</p>
<p>然人之強弱不同，攻補有異，大法有三，攻邪為上策，扶正祛邪為中策，
養陰固守為下策，蓋邪伏於中，猶禍起蕭牆之內邪正交爭，勢不兩立，正氣無虧，
直攻其邪，邪退而正自復也，若正氣有虧，不任攻邪，權宜輔正，且戢且守，
勝負未可知也，若正氣大虧，不能敵邪，惟有養陰一法，悉力固守，冀其邪氛自解，
不巳危乎，是以正氣不虛，伏邪雖重，治得其宜可奏全捷，惟正虛可畏，
不知者反以攻邪為太峻，樂用平穩之方，致使邪氛日進，正氣日虧，正不勝邪，
則輕者重，重者危，卒至不起，乃引為天數，豈不謬哉。</p>
<p>詒按蔣氏此論，以攻邪為主，蓋以邪退則正自復去邪所以救陰也，
吳鞠通溫病條辨，則專以養陰為主，陰氣既充，則在表者，液足自能致汗，在裏者，
增水乃可行舟，陰旺則熱自解，養陰即以泄熱也，愚謂此兩法，亦當隨人而施，
如偏於陰虛者，則養陰以泄熱，吳氏之論為宜偏於邪重者，則泄熱以存陰，
蔣氏之法為合二者雖似相反，而實則相成也。</p>
<h3>辨正張石頑傷寒緒論溫熱各條</h3>
<p>詒按張路玉於正傷寒外，詳列四時外感，類傷寒各病，并采輯各家之說，
備著於篇，其論亦至悉伏，惟篇中於冬溫春溫溫疫等證，與溫熱病未能尋源溯流，
條分縷析，學者眩焉，茲錄其有關於溫熱病者若干條，為之詳加評論，
俾讀者不至為舊說所淆云。傷寒者，冬時嚴寒感冒殺厲之氣而病也，交霜降節後，
春分氣前，病發頭痛者，皆謂之正傷寒，其病有六經傳變，合病并病諸例，
其治法以仲景傷寒論為圭臬。</p>
<p>詒按正傷寒病，南方不多見，即間有之，亦鮮重證，凡外感病之重且險者，
皆溫熱病也。</p>
<p>若兩感於寒者，一日太陽與少陰合病，二日陽明與太陰俱病，
三日少陽與厥陰俱病，至水漿不入，不知人事者，六日死，然傷寒病兩感者亦少，
惟溫病熱病居多，以溫熱從少陰發太陽，即是兩感之證，
所以守真特立涼膈雙解白虎承氣等湯，以兩解其表裏之熱毒也。</p>
<p>詒按石頑每謂溫病亦必由少陽而發，初起以柴胡為主方，而此處又謂少陰出太陽，
可知其於溫病，未能明辨其原，故論治亦無確見也，且兩感證是外內合邪，
溫熱病是由內達外，其外面見證雖同，而病之來源各異，本不可同日而語也。</p>
<p>至冬令時，反有非節之暖，此屬春時陽氣發於冬時，未至而至，即為不正之氣，
人感之而病者，名曰冬溫，其證必心煩嘔逆咽痛，身熱頭疼，或欬嗽自汗，
或頭重面腫，但始咽痛，後必下利，以邪入少陰，其經上循喉，下入腹也，
治以陽旦湯加桔梗萎蕤。</p>
<p>詒按此外感風溫之邪，冬春間時有之，葉香嚴所謂溫邪上受，首先犯肺，
吳鞠通所用平涼輕劑，銀翹桑菊之類，恰與此等證相合，蓋此病必以清泄肺經為主也，
如傷及陰分，則地麥元參，可隨證加入，吳鞠通亦巳言之，其所主陽旦湯，
有桂枝之溫，必有惡寒頭項強痛之太陽證方合，如有此證則非溫邪傷肺之溫病，
而為伏寒內發之溫病矣，總由經脈末清故語多矛盾耳。</p>
<p>至春分節後，天令溫暖，有人壯熱為病者，乃溫病也，經云冬傷於寒，春必病溫，
仲景云，太陽病發熱而渴，不惡寒者為溫病，蓋以冬時伏氣，
隨時令溫熱之氣而發但所發之因不同，有感非時寒暴而發者，有饑飽勞役而發者，
有房室不慎而發者所感之客邪既殊，則發出之經絡亦異，所謂溫病之脈，行在諸經，
不知何經之動也，當隨甚經證而治之。</p>
<p>詒按此數行，說溫病源流俱徹，夫何間然。</p>
<p>凡溫病之發，必大渴煩擾，脅滿口若，不惡寒反惡熱，脈氣口反盛於人迎，
明係伏邪自內垟表，必先少陽經始，若因客寒而發者，宜小柴胡隨所見經證加減，
無客邪者，黃芩湯主之，病溫亦多傳變併合，未有不及少陽者，如太陽少陽合病，
黃芩湯，少陽陽明合，病承氣湯，三陽合病，柴胡湯，或雙解散加減，凡三陽表證，
煩熱口渴，俱宜黃芩湯之類，據此合病症治，則傳變并病，可例推矣。</p>
<p>詒按此節論溫病證治頗合，惟謂伏邪外達，必由少陽，則囿於舊說，不切病情，
且與上文溫邪行諸經，不知何經之動，前後亦自相刺謬矣。</p>
<p>凡治溫病熱病，無正發汗之理，蓋其邪自內達外，無表證明矣，
若果證顯非時暴寒，惡寒頭痛而脈緊者亦不可純用表藥，
宜梔豉湯或益元散加薄荷蔥豉重則涼膈散去硝黃，加蔥豉探吐取汗，最妙，
蓋此怫鬱之熱，乘春溫之氣而發，雖有非時暴寒，止宜辛平之劑發散。</p>
<p>詒按溫邪初起，用蔥豉取汗最穩，不必探吐也。</p>
<p>凡下之前後或將汗巳汗，或下後餘熱不止反大汗淋漓者，此實熱雖去，
而餘邪未盡可與小劑黃芩湯或解毒湯調之。</p>
<p>詒按若陰津不足之體，用清養胃陰之劑最妙。</p>
<p>若下後，渴雖減而饑欲得食者，此伏邪初散，陰火乘虛擾亂也，
凡溫熱病下後多此，慎勿便與粥飲，得食則復。</p>
<p>詒按近人不明此理，因此而致反覆者甚多。</p>
<p>凡溫病下後，熱不退，上證尚在者，可再三下之，以熱退為度。</p>
<p>詒按傷寒病糞多堅栗，下之宜猛而重，一下之後，可以連下者甚少，
溫熱病糞多粘黑如醬，下之宜緩而輕，下後停一二日，垢熱再聚，即當再下，
有下至三四次始清者，不得謂巳下者，不宜再下也。</p>
<p>若下後，熱不止，而脈濇咽痛，胸滿多汗，此熱傷血分也，
葶藶苦酒湯探吐之。詒按熱傷血分之證，當養血以化餘熱，
如生地元參銀花犀角洋參竹茹之類，乃合病情，若葶藶若酒之法，決不可投。</p>
<p>所謂交陽者，非陰寒交熱而為陽也，乃怫熱鬱蓄之於裏，鬱極乃發，
則交傳而出於表之陽分，是謂交陽，而後作汗也，或鬱而不能出表，是否極不泰，
即正氣衰殘，陰氣先絕，陽氣後竭而死矣。</p>
<p>夫欲汗而脈忽沉伏者，陽氣并入於裏故也，交陽而躁亂昏冒者，裏熱鬱極，
故神昏而躁擾也，凡戢汗而不快，或戰而不汗，此并之不甚，故雖戰而病不去也，
通宜三一承氣湯，或合黃連解毒湯下之，所以散怫熱而開鬱結也，凡戰汗時，
頻與熱薑湯，助其開發最佳，可免戰不快而無汗之患。</p>
<p>詒按薑性助熱，不如芧根為佳。</p>
<p>凡可下之症，或得下而汗即出者，或服藥而怫鬱頓開，先汗出而後利者，
或利性但隨汗泄，則氣和而愈竟不利者，亦有戰不快，交不通而死者，
或不戰而汗出者，或但戰無汗而愈者，世俗不知，乃以惡寒戰慄為陽虛陰勝，
因而誤治者多矣。</p>
<p>詒按凡此病情，疑似之際，死生反掌，切須用心。</p>
<p>凡溫病發於三陰，脈微足冷者多難治。</p>
<p>凡溫病大熱，脈反細小，手足逆冷者死證也。</p>
<p>凡溫病初起，大熱神昏譫語，熱甚脈小足冷，五六日而反躁急嘔吐昏沉，
舌本焦黑，或失血躁熱脈，大，或痙搐昏亂，或脈促結代沉小者皆死。</p>
<p>溫去病大熱，不得汗者死，得汗後而反熱，其脈躁盛者亦死也，凡溫熱誤汗之，
狂言不能食，其脈躁盛者，皆不可治也。</p>
<p>詒按此節匠列溫病不治之症，不外三種邪氣鬱伏不達者一也，
正虛不能托邪者二也，陰氣被爍涸者三也。</p>
<p>夏至後，炎暑司令，相火用事，有發熱身疼不惡寒，但惡熱而大渴者，為熱病，
傷寒例云，凡傷寒而成溫者先夏至日為病溫，後夏至日為病熱，蓋久伏之邪，
隨時令之暑熱而發也，以邪非外來，故但惡熱而不惡寒，熱自內發，
故口燥渴而引飲多，其邪既鬱為熱，不宜辛溫發汗不得復指為寒，
而仲景仍以傷寒目之者，謂其初受病時，皆寒氣鬱伏所致耳，世言仲景無溫去治法，
試觀太陽陽明篇中，黃芩白虎等湯，豈治傷寒可用之藥也，白虎為金神，非盛暑熱病，
內外熱極者不可用，氣虛人用之，往往成結胸者，甚至不救，故有立夏以前，
處暑以後，不可妄用白虎之戒，夫傷寒之不可用黃芩白虎，
猶溫病之不可用麻桂青龍也，即治溫熱，亦須無非時暴寒者方可用。</p>
<p>詒按此節申明黃芩白虎，仲景本為溫熱而設，非傷寒戶也，惟節末一轉，
又設為黃芩白虎之厲禁，於理未嘗不是，特嫌其於熱病正治法，未免喧賓奪主耳，
若溫病七八日，或十餘日，前邪未除，重感於寒忽然寒熱交作，
變為溫瘧方書以為壞證，按傷寒例云，脈陰陽俱盛重感於寒變為溫瘧，其證胸脅滿，
煩渴而嘔，微惡寒者，治以小柴胡去參半加括蔞根石膏無寒但熱，其脈如平，
骨節煩疼，時嘔者，用白虎湯加桂枝，慎不可辛溫發散，以助其瘧。</p>
<p>詒按前症煩渴微惡寒，宜白虎加桂枝後症但熱不寒，并不得加桂枝矣。</p>
<p>至內經所言先熱後寒之溫瘧，乃得之冬中於風，寒氣藏於骨髓之中，
至春陽氣大發，邪氣不能，出因遇大暑腦髓爍，肌肉消腠理發泄，或有所用力，，
邪氣與汗并出，此病藏於腎，其先從內出之於外也，如是者，陰虛而陽盛，
陽盛則熱矣，衰則氣復反入，反入則陽虛，陽虛則寒矣，故先熱而後寒，名曰溫瘧，
治宜人參白虎湯，或有客邪，則加桂枝，更以金匱腎氣丸去附子倍加桂枯作湯，
渴則飲之，蓋從腎出而大熱，則其內先巳如焚，故急以白虎退熱，迨瘧勢外衰，
復返於腎而陰精與之相持，乃為寒，設不知壯水之主，以救其陰十數發後，陰精竭矣，
此伏邪自發之溫病，與溫病後重感於寒所變之溫瘧，名同而實異，
然皆不越乎少陰一經，故詳辨之，以破此異同之惑。</p>
<p>詒按兩證來源稍異，而救陰撤熱其治法大致相同，
惟前證重感新寒當隨證參用疏邪之意，方為周密。</p>
<h3>辨正吳又可溫疫論各條</h3>
<p>詒按吳氏所論溫疫中後治法，大概與伏溫相合，故後來張石頑蔣問齊等治溫熱病，
每每引用，惟方藥粗悍宜於藜藿壯實之體而不宜於膏粱虛弱之人耳，所可議者，
開手即謂溫疫穢濁之邪，由口鼻吸受，藏於募原而發，將伏氣化溫之病，概行抹煞，
并疑內經冬傷於寒，春必病溫之語，為不足愿，試思募原之邪，專在氣分，
即使善於傳變，亦何至有先裏後表，但裏不表，裏而又裏，如後面所稱九傳之變證哉，
至所敘初起證情，以及舌苔脈象，大略是暑濰濁邪，蒙蔽中焦之證，與疫厲惡毒之邪，
沿門闔戶，如霍亂爛喉捻頸等險惡之證傳染不巳者，亦不相同然則又可所指之溫，
既未得伏溫之真諦，所論之疫又未得疫證之全體，似無足取矣，
然又可當明季兵荒洊至之時，確有是病，以此治病，確乎有效乃以其所閱歷者，
著為此論，雖不免有粗疏之弊，亦豈容一概屏棄，況篇中所論，應下失下，
及下後諸變證，曲折詳盡，多闡前人未發之祕，堪為臨證圭臬者，正復不少，爰採論中，
與伏溫相合者各條，附列於左，並分系於各篇之後而詳論之。</p>
<p>溫疫之邪，從口鼻而，入不在經絡，舍於伏膂之內，去表不遠，附近於胃，
乃表裏之分界，是即內經瘧論，所謂橫連募原是也，凡人李氣充滿，邪不易入，
適逢虧欠，因而乘之，感之淺者，待有所觸而發，感之深者，中而即病，
其始陽氣鬱伏，凜凜惡寒，甚則四肢厥逆，既而陽氣鬱發，中外皆熱，發即昏昏不爽，
壯熱自汗，此邪伏於募原，即使汗之，熱不能解，必俟伏邪巳潰，表氣漸行於內，
精元自內達表，此時表裏相通，大汗淋漓，邪從外解，此名戰汗，當即脈靜身涼而愈。</p>
<p>詒按從山鼻吸受者，必係暑濕穢濁之邪，其發也，必有痞悶嘔噁𩞄攪等，
募原達胃之見證，治之當用芳香開泄，如藿香正氣之類，此不在經絡，本非汗所能解，
若暴受風寒，邪在經絡者，其邪尚淺，一汗即解而不戰也，若大寒大熱，必戰而得汗，
乃能解熱者，其邪必深且重，迨鬱伏而發，邪正交爭則戰，正勝邪卻則汗，
此即屬伏溫見證，雖病情萬變，不可執一，伏溫之病，每有兼挾暑溼穢濁，
或暴感風寒夾雜而發者，然醫者必須逐層分別，認清來源，方可施叉，
吳氏於入手之初，敘述病情，不能分晰清楚，混稱之曰溫疫，致後人相沿遺誤，
不容不辨。</p>
<p>若伏邪未盡，必復發熱，其熱之久暫，視所感之輕重，要皆先寒後熱，至伏邪發出，
方顯變證。</p>
<p>詒按據此病機，合之下文表裏九傳，則所云伏邪，必非輕淺之邪，
如募原所伏之穢濁矣。</p>
<p>其證或從外解，或從內陷，更有表裏先後不同，有先表而後裏者，
有先裏而後表者，有佰表而不裏者，有但裏而不表者，有表而再表，有裏而再裏，
有表勝於裏者，有裏勝於表者，有表裏分傳者，此為九傳。</p>
<p>詒按所列九傳證情，變幻殊甚，然惟伏氣化溫，從少陰外達者，每每有之，
邪機僅在募原者，未必如是也。</p>
<p>疫邪初起脈不浮不沉而數，晝夜皆熱，日晡益甚，頭疼身痛，不可用辛熱藥汗之，
又未可下，宜用達原飲以透募原之邪為當，若見少陽陽明太陽證，
隨經加柴胡葛根羌活為引，以提其邪出陽分也。</p>
<p>詒按若係暑溼濁邪舌苔白膩者，用達原飲甚合，若伏溫從少陰外達者，
則達原飲一派辛燥，既不能從裏透邪，而耗氣劫津，非徒無益，而又害之伏，
學者當細心體認，勿誤用也。</p>
<p>邪之輕者，舌上白苔亦薄，脈亦不甚數，一二劑自解，如不得汗，
邪氣盤錯於募原也，只以本方主之，感之重者，舌上苔如積粉，
藥後不從外解而反內陷，舌根先黃漸至中央，此邪漸入胃也前方加大黃下之。</p>
<p>詒按以舌苔之厚薄，為病之輕重，是暑溼濁邪之的據，若伏溫則儘有邪機極重，
而舌苔如無病者，綠邪發於陰，未濊於胃故也，學者於此等處，細心分別，
則伏溫與疫邪異同之辨，自可瞭然矣。</p>
<p>若脈長而洪數，大汗多渴，此邪氣適離募原欲表不表白虎湯證也，如舌上純黃色，
兼見裏證，此邪巳入胃，承氣湯證也。</p>
<p>白虎承氣，均是治熱邪犯胃之重劑凡無形之邪熱，燔灼於胃者，用白虎，
有形之垢熱，結於胃府者，用承氣此一定不易之法，
乃以欲表不表則當以導之出表為要，不當以白虎專清裏熱矣。</p>
<p>疫邪為病，有從戰汗解者，有從自汗盜汗解者，有無汗竟全歸胃府者，
有自汗淋漓熱渴反甚，終得戰汗而解者，有胃氣壅遏，必下後始得戰汗而解者，
有汗解而裏和，越三四日復發熱者，有巳發黃，因下而復熱發斑者，
有竟從發斑而愈者有裏證偏重，雖有斑仍非下不愈者，此雖傳變不常，要皆意中事也。</p>
<p>詒按所列病情傳變，頗為詳悉，但如汗解後，越日復熱，發黃後，因下復熱，
發斑後，仍非下不愈，此等證情，伏溫每每有之，若邪伏募原之溼溫，未必爾也。</p>
<p>又有意外之變，如男子適逢使內，邪熱乘虛陷於下焦，氣道不通，以致小便淋濇，
少腹脹滿，至夜發熱，用導赤五苓輩，分毫不效，與大承氣一服，
小便如注而愈者。詒按此邪熱陷於肝腎之部，當從陰分，導泄其熱乃愈，導赤五苓，
固與證不合，即承氣得效，亦不過得大黃泄熱之力耳，其實方中之枳朴芒硝，
與證情亦不相合也。</p>
<p>又有女子經水適來適斷，以及失血崩帶，心痛疝氣，痰火喘哮等證，隨時挾發者，
此皆出於意外者也，大抵邪行如水，惟窪處受之，此喻最切要，至因新病而來舊病，
但治新病而舊病自巳也。</p>
<p>詒按因新病牽動舊病，治當以新病為主，此定理也，但其中亦須審察輕重緩急，
以定治法，未可執一論也。</p>
<p>然有大勞大慾，大病久病後發病者，此為四損，其正氣先虧，每致邪氣易陷，
多不可救。</p>
<p>詒按凡決溫熱病之生死，總以正氣之強弱衡之，病邪雖重，而正氣能支，
尚可不死，有病邪雖輕，而正氣不能支持，每每猝然蒙陷，不可不知。</p>
<p>吳又可曰，疫邪一二日，舌上苔如積粉，早服達原飲一劑，午後舌色變黃，
隨見胸膈滿痛，大渴煩擾，此伏邪巳潰，毒傳於裏也，前方加大黃下之，煩熱稍減，
傍晚後加躁煩發熱，通舌黑刺，鼻如煙煤，此邪毒最重，待瘀到胃，急接承氣湯，
抵暮大下，夜半熱退，次早黃刺如失，一日有此三變，數日之法，一日行之，因其毒甚，
故傳變亦速，投劑不得不，緊設用緩法，必無及矣。</p>
<p>詒按似此傳變迅速，疫邪穢毒極重者多有之，若尋常伏氣所發，
未必若是之重且速也。</p>
<p>又曰，邪入胃者，非承氣不愈，誤投白虎，既無破結之能，反抑邪毒，致脈不行，
反變細小，倘誤認陽證陰脈，復不敢下，逡巡死耳，當此急投小承氣，
庶可挽回。詒按必有大熱大渴，脈洪多汗，舌無厚濁苔，方為白虎的證，至脈變細小，
仍投承氣，亦須認清見證，若胃無垢熱，承氣豈可妄施。</p>
<p>又曰，疫邪初發，必在半表半裏，至於傳變，或表裏分傳，醫執成見，
必先解其表，此大謬也，嘗見用大劑麻黃，一毫無汗，轉加煩熱，蓋裏氣結滯，
陽氣不得宣達於表，即四肢未免微厥，安有津氣蒸蒸而外達乎，必用承氣通其府，
苟裏氣一通，不待發散，多有自汗而解者。</p>
<p>迨按所論雖屬疫邪，而溫熱病熱結於胃，津液不行而無汗者，其理與此正同。</p>
<h2>卷下</h2>
<h3>論溫病與傷寒病情不同治法各異</h3>
<p>冬月傷寒，邪由皮毛而入，從表入裏，初見三陽經證，如太陽病，
則頭項強痛而惡寒之類，三陽不解，漸次傳入三陰，其中有留於三陽，而不入三陰者，
有結於胃府，而不涉他經者，亦有不必假道三陽，而直中三陰者，凡此傷寒之症，
初起悉係寒邪見象，迨發作之後，漸次化熱內傳，始有熱象，故初起治法，
必以通陽祛寒為主，及化熱之後，始有泄熱之法，此傷寒病之大較也，若夫溫病，
乃冬時寒邪，伏於少陰，迨春夏陽氣內動，伏邪化而為熱，由少陰而外出，
如邪出太陽，亦見太陽經證。其頭項強痛等象，亦與傷寒同，但傷寒裏無鬱熱，
故惡寒不渴，溲清無內熱，溫邪則標見於外，而熱鬱於內，雖外有表證，而裏熱先盛，
口渴溲黃，尺膚熱，骨節疼，種種內熱之象，皆非傷寒所有，其見陽明少陽，
見證亦然，初起治法，即以清泄裏熱，導邪外達為主，與傷寒用藥，一溫一涼，
卻為對待，蓋感寒隨時即發，則為傷寒，其病由表而漸傳入裏，寒邪鬱久，化熱而發，
則為溫病，其病由裏而鬱蒸外達，傷寒初起，決無裏熱見證，溫邪初起，
無不見裏熱之證，此傷寒溫病，分證用藥之大關鍵，臨證時能從此推想，
自然頭頭是道矣。</p>
<h3>論伏氣發溫與暴感風溫病原不同治法各異</h3>
<p>冬時伏邪，鬱伏至春夏，陽氣內動，化熱外達，此伏氣所發之溫病也，內經云，
冬傷於寒春必病溫又云凡病傷寒而成溫者先夏至日為病溫，後夏至日為病暑，難經云，
傷寒有五，有溫病，有熱病，傷寒論云，太陽病，發熱而渴，不惡寒者為溫病，
凡此皆指伏邪所發之溫病言也，另有一種風溫之邪，當春夏間，感受溫風，邪鬱於肺，
欬嗽發熱，甚則發為痧疹，內經所謂風淫於內，治以辛涼，葉氏溫熱論，
所謂溫邪上受，首先犯肺者，皆指此一種暴感風溫而言也，伏氣由內而發，
治之者以清泄裏熱為主，其見證至繁且雜，須兼視六經形證，乃可隨機立法，暴感風溫，
其邪專在於肺，以辛涼清散為主，熱重者兼用甘寒清化，其病與伏溫病之表裏出入，
路徑各殊，其治法之輕重深淺，亦屬迥異，近人專宗葉氏，將伏氣發溫之病，
置而不講，每遇溫邪，無論暴感伏氣，概用葉氏辛涼輕淺之法，銀翹桑菊，隨手立方，
醫家病家，取其簡便，無不樂從，設有以伏氣之說進者，彼且視為異說，
茫然不知伏氣為何病，嗟乎，伏溫是外感中常有之病，南方尤多，非怪證也，
其病載在內經難經傷寒論諸書，非異說也，臨證者，竟至茫然莫辨，門逕全無，
醫事尚堪問哉。</p>
<h3>論伏邪外發須辨六經形證</h3>
<p>傷寒緒論曰，初發病時，頭項痛，腰脊強，惡寒，足太陽也，發熱面赤惡風，
手太陽也，目疼鼻乾，不得臥，足陽明也，蒸熱而渴，手陽明也，胸脅滿痛，口苦，
足少陽也，耳聾，及病寒熱往來，手少陽也，腹滿自利而吐，足太陰也，口乾，
津不到咽，手太陰也，脈沉細，口燥渴，足少陰也，舌乾不得臥，手少陰也，耳聾囊縮，
不知人事，足厥陰也，煩滿厥逆，手厥陰也，醫略曰，太陽之脈，上連風府，循腰脊，
故頭項痛，腰脊強，陽明之脈，挾鼻絡於目，故身熱，目疼鼻乾，不得臥，少陽之脈，
循脅，絡於耳，故胸脅痛而耳聾，太陰脈布胃中，絡於嗌，故腹滿而嗌乾，
少陰脈貫腎，絡於肺，繫舌本，故口燥舌乾而渴，厥陰脈循陰器，而絡於肝，
故煩滿而囊縮，凡外感病，無論暴感伏氣，或由外而入內，則由三陽而傳三陰，
或由內而達外，則由三陰而外出三陽，六經各有見證，即各有界限可憑，
治病者指其見證，即可知其病之淺深，問其前見何證，今見何證，即可知病之傳變，
傷寒如此，溫病何獨不然，素問熱病論，仲景傷寒論，均以此立法，聖人復起，
莫此易也，近賢葉氏，始有傷寒分六經，溫病分三焦之論，謂出河間，
其實溫熱病之法，至河間始詳，至溫病分三焦之論，河間並無此說，其書具在，
可覆按也，厥後吳鞠通著溫病條辨，遂專主三焦，廢六經而不論，殊不知人身經絡，
有內外淺深之別，而不欲使上下之截然不通也，其上焦篇提綱云，凡溫病者，
始於上焦，在手太陰，試觀溫邪初發者，其果悉見上焦肺經之見證乎，
即或見上焦之證，其果中下焦能絲毫無病乎，鞠通苟虛心診視，
應亦自知其說之不可通矣，況傷寒溫熱，為病不同，而六經之見證則同，用藥不同，
而六經之立法則同，治溫病者，烏可舍六經而不講者哉。</p>
<p>附錄醫悟</p>
<p>表證，發熱、惡寒、身痛、四肢拘急、喘。
太陽經證，頭痛、項脊強、脈浮、脈伏。
陽明經證，目痛、鼻乾、唇焦、漱水不欲嚥、尺寸俱長。
少陽經證，耳聾、胸滿、脅痛、目眩、口苦、胎滑、脈弦。
半表裏證，嘔吐、寒熱往來、頭汗、盜汗。
太陰經證，腹微滿、脈沉實、自利。
少陰經證，口燥咽乾而渴、咽痛、下利清水、目不明。
厥陰經證，少腹滿、囊縮、舌卷、厥逆、消渴。
太陽腑證，口渴、溺赤。
陽明腑證，潮熱、譫語、狂亂、不得眠、自汗、手足汗、便閉。</p>
<h3>論溫病初發脈象舌苔本無一定</h3>
<p>溫病之脈，前人謂右脈反大於左，此指邪熱之達於肺胃者言也，嘗有伏溫初發，
其邪熱鬱於少陰，或連及厥陰，而弦數之脈，遂見於左手關尺兩部者甚多，
更有邪機深伏，鬱湮不達，病象頗深，而脈象轉見細弱不鼓之象，逮托邪化熱，
脈始漸見浮硬，此由腎氣先虧，不能鼓邪外達，故脈象如此，其證必非輕淺，總之，
伏溫外發，必從經氣之虛處而出，初無一定路徑，所謂邪之所湊，其氣必虛也，
難經云，溫邪行在諸經，不知何經之動，此語空靈活潑，最合病情，蓋其行動，
初無一定之徑，外見無一定之證，故其脈亦無一定之脈，至舌苔之色，
必邪在胃中蒸鬱，其濁氣乃上熏而生苔，若邪伏陰經，不濊胃府，則雖邪熱巳劇，
仍不見有舌苔也，舌本為心脾營氣所結，故營分有熱，舌底必絳，心火亢盛，
舌尖必紅，然邪深伏下焦，而舌底不見紫絳者，間亦有之，迨邪熱鬱極而發，
脈之細弱者，忽變而浮大弦數，舌之淡白者，倏變而灰黑乾絳，則勢巳燎原，
不可嚮邇，至此而始圖挽救，恐熱邪熾盛，藏府枯爛，雖有焦頭爛額之客，
而巳無及矣，故視病者，必細察見證，再合之色脈，乃有把握，若徒執脈象舌苔，
而求病之寒熱淺深，則誤者多矣，詒閱歷多年，確知伏溫初起，凡病邪極深者，
脈與證較多不合，其故皆由邪氣深伏，不易表見於外，視病者為其所惑，必多誤治，
故特表而出之，庶學者知所審擇焉。</p>
<p>周禹載曰，溫病熱病之脈，或見浮緊者，乃重感不正之暴寒，寒邪束於外，
熱邪蘊於內，故其脈外則嫦急，內則洪盛也，又或不識脈形，但見弦脈，便呼為緊，
而妄治之，蓋脈之盛而有力者，每每兼弦，豈可錯認為緊，而斷以為寒乎，
夫溫病熱病之脈，多在肌肉之分，而不甚浮，且右手反盛於左手，誠由怫鬱在內故也，
其左手盛或浮者，必有重感風寒，否則非溫病熱病，自是非時暴寒耳。</p>
<h3>伏溫從少陰初發證治</h3>
<p>經曰，冬傷於寒，春必病溫，又曰，冬不藏精，春必病溫，分而言之，
則一言其邪之實，一言其正之虛，合而言之，則惟其冬不藏精，而腎氣先虛，
寒邪乃得而傷之，語勢雖若兩平，其義原歸一貫也，喻氏以冬傷於寒，與冬不藏精，
又以既不藏精，更傷於寒，分立三綱，各為證治，試思如果冬不藏精，別無受寒之事，
則其病為純虛，與溫病何濊，蓋喻奼祇顧作文之排場，而不自覺其言之不切於病情也，
原其邪之初受，蓋以腎氣先虛，故邪乃湊之，而伏於少陰，逮春時陽氣內動，
則寒邪化熱而出，其發也，有因陽氣內動而發者，亦有時邪外感引動而發者，
凡陽氣內動，寒邪化熱而發之證，外雖微有形寒，而裏熱熾甚，不惡風寒，骨節煩疼，
渴熱少汗。〔初起少汗至陽明即多汗矣〕用藥宜助陰氣，以托邪外達，勿任留戀，
其為時邪引動而發者，須辨其所挾何邪，或風溫，或暴寒，或暑熱，當於前法中，
參入疏解新邪之意。〔詳外挾新邪條內〕。再看其兼挾之邪，輕重如何，
輕者可以兼治，重者即當在初起時，著意先撤新邪，俟新邪既解，再治伏邪，
方不礙手，此須權其輕重緩急，以定其治法，不可豫設成見也，寒邪潛伏少陰，
寒必傷陽，腎陽既弱，則不能蒸化而鼓動之，每見有溫邪初發，而腎陽先餒，
因之邪機冰伏，欲達不達，長轉之間，邪即內陷，不可搗救，此最難著手之危證。
〔另詳邪鬱少陰條內〕。其或邪巳化熱，則邪熱燎原，最易灼傷陰液陰液一傷，
變證蜂起，故治伏溫病，當步步顧其陰液，當初起時，其外達之路，或出三陽，
或由肺胃，尚未有定程，其邪仍在少陰界內，
前人治溫病之法如千金用陽旦湯，則偏於太陽，陸九芝用葛根芩連湯，則偏於陽明，
張石頑用小柴胡陽，則偏於少陽，至喻嘉言之麻附細辛，則過於猛悍矣，
葉香岩之辛涼清解，則失之膚淺矣，愚意不若用黃芩湯加豆豉元參，為至當不易之法，
蓋黃芩湯為清泄裏熱之專劑，加以豆豉為黑豆所造，本入腎經，又蒸罨而成，
與伏邪之蒸鬱而發相同，且性味和平，無逼汗耗陰之弊，
故豆豉為宣發少陰伏邪的之對之藥，再加元參以補腎陰，
一面泄熱一面透邪，凡溫邪初起，邪熱未離少陰者，
其治法不外是矣至兼挾別項外感或兼內傷，或邪雖未脫少陰，而巳兼有三陽見證者，
均宜臨證參酌施治，固非可刻舟以求劍矣。</p>
<h3>伏溫由少陰外達三陽證治</h3>
<p>寒邪潛伏少陰，得陽氣鼓動而化熱，苟腎氣不至虛餒，則邪不能容而外達，
其最順者，邪不留戀於陰，而逕出於三陽，則見三陽經證，太陽則惡寒發熱，頭項疼，
腰脊強，治宜豉芩合陽旦湯，陽明則壯熱鼻乾，不得臥，治宜豉芩合葛根知毋等味，
少陽則寒熱往來，口苦脅痛，治宜芩豉合柴胡山梔等味，其邪初出三陽，或兼新感，
外有惡寒無汗等證，則桂葛柴胡，自當參用，若裏熱巳甚，則不宜桂枝壯熱，
汗多則不宜葛根，內風易動則不宜柴胡，此則又在臨時之化裁矣，難經曰，
溫邪行在諸經，不知何經之動也，故其發也，本無定處，大略乘經氣之虛，
或挾別邪而發，如太陽虛則發於太陽，陰氣虛則戀於陰分，其有溫邪化熱巳出三陽，
而未盡之邪，尚有伏於少陰而未化者。〔此腎氣不充宜兼溫托〕。即或全數化熱，
而其熱有半出於陽，半戀於陰者。此陰氣不足不能托邪當兼養陰。用藥總宜隨證化裁，
活潑潑地，方能應手取效也。</p>
<h3>伏溫熱結胃府證治</h3>
<p>扶溫化熱而達，其證由少陰而出三陽者，於法為順，惟無形之熱，可從經氣而達，
若中焦挾有形食積濁痰，則邪熱蘊蒸，每每乘機入胃，熱結於中，而為可攻之證，
蓋胃為五藏六府之海，位居中土，最善容納，邪熱入胃，則不復他傳，
故溫熱病熱結胃府，得攻下而解者，十居六七，前人如又可所論，雖名瘟疫，
其實亦係扶邪所列治法，用攻下者，十之七八，蓋傷寒重在誤下，溫病重在誤汗，
溫病早投攻下，不為大害，前賢本有此論，吳氏又確見病證之可下者多，故放膽言之，
而不自覺其言之偏重也，陸九芝謂溫病熱自內燔，其最重者，祇有陽明經府兩證，
經證用白虎湯，府證用承氣湯，有此兩法，無不可治之溫病矣，其意專重陽明，
若溫病決不涉及別經者，其言亦未免太偏，總之，溫病邪熱，蒸鬱入於陽明者居多，
熱在於經，猶屬無形之熱，其證煩渴多汗，狂譫脈洪，此白虎證也，若熱結於府，
則齒垢唇焦，晡熱，舌苔焦黃，神昏譫語，脈沉實，此承氣證也，祇要認證清楚，
確係熱在於胃，則白虎承氣，依法投之，可以取效反掌，切勿因疑生怯，
反致因循貽誤也。</p>
<p>前人用大黃下奪，有因泄熱而用者。〔如三黃瀉心〕。
有因解毒而用者〔如三黃解毒〕。有因疏瘀化痰而用者〔如大黃䗪蟲滾痰丸〕。
有因疏泄結氣而用者〔如大黃黃連瀉心〕。原不專為積滯而設，無如不明醫理者，
見方中有大黃一味，即謂之承氣，即謂之攻積，因而疑忌多端，當用不用，
坐此貽誤者多矣。</p>
<p>傷寒熱結胃府者，糞多黑而堅燥，溫病熱結於胃者，糞多醬色而溏。藜藿之子，
熱結者糞多栗燥，膏粱之人，多食油膩，即有熱灼，糞不即燥，往往有熱蘊日久，
糞如污泥，而仍不結為燥栗者，此不可不知也，有初起病時，便溏作瀉，迨兩三日後，
熱勢漸重，乃結於胃而便祕者，仍宜依法下之，又有熱勢巳重，渴飲頻多，
或用清泄之劑，因而便泄稀水，堅糞不行者，此熱結旁流也，古法用大承氣下之，
吳鞠通改為調胃承氣甚合。</p>
<p>熱結而成燥糞者，行一二次後，燥糞巳完，熱邪即盡若溏糞如煙膏黴醬者，
或一節燥一節溏者，此等證，其宿垢最不易清，即邪熱亦不易淨，
往往有停一二日再行，有行至五六次，多至十餘次者，須看其病情如何，以定下與否，
慎勿震於攻下之虛聲，遂謂巳下不可再下，因致留邪生變，而受養癰之實禍也。</p>
<p>光緒初年冬仲，徐君聲之，因欲服補劑，屬為定方，予診其脈，
兩尺浮數弦動而不靜，予謂據此脈證，當發冬溫，補劑且從緩進，因疏方，
黃芩湯加生地，囑其多服幾劑，當其時飲啖如常，並無疾苦，勉服三兩劑，即停不服，
迨十二月十七，忽振寒發熱，兩日後，漸覺神情昏糊困倦，熱勢蒸鬱不達，
神呆耳聾面垢，此少陰伏邪，化熱外達，其勢外巳入胃，而內發於陰者，
尚未離少陰之界，而并有竄入厥陰之勢，病情深重而急，予以至戚，誼無可諉，
不得不勉力圖之，先與梔豉黃芩二劑，繼進清心涼膈法兩劑，均無大效，而痙厥昏譫，
舌燥脣焦，病勢愈急，乃用調胃承氣加洋參生地犀角羚羊元參，養陰清泄之品，
兩劑之後，始得溏糞如黴醬者二遍，間進犀羚地芍豆豉梔丹芩元參，養陰熄熱，
清透少陰之劑，而熱仍不減，乃再與調胃承氣合增液法，又行垢糞一次，此後即以此法，
與養陰清泄之法相間迭用，自十二月二十三起，至正月初十通共服承氣八劑，
行宿垢溏黑者十餘次，裏熱始得漸鬆，神情亦漸清朗，用養陰之劑，調理兩月而痊，
按此證少陰伏邪本重，其化熱而發也，設熱邪全聚於胃，即使去壅極重，
猶可以下泄之藥，背城借一，以圖幸功，乃中焦之熱勢巳劇，而伏熱之潰陰分者，
又內熾於少厥兩陰之界，岌岌乎有蒙陷痙厥之險，不得巳用助陰托邪之法，
從陰分清化，使其漸次外透，其巳達於胃者，用緩下法，使之隨時下泄，戰守兼施，
隨機應變，如是者，將及兩旬，邪熱始得退清，假使攻下一兩次後，
即畏其虛而疑不能決，則其險有不堪設想者，然則焦頭爛額，得為今日之上客者，
幸也。</p>
<p>長媳徐氏，戊戌七月，患感冒挾肝氣發熱，脘痛嘔噁不納者，五六日，八月朔，
得大解頗暢，余謂大便一通，病可鬆也，不意至夜寒熱大作，噁心乾嘔，徹夜不止，
與左金平胃溫膽瀉心，均無寸效，至初五日，煩躁口渴，舌燥起刺，予以其質弱陰虧，
慮其不耐壯熱，急思乘早擊退，冀免淹纏，遂用涼膈合瀉心法，佐以洋參石斛等，
連進兩劑，得大解兩遍，嘔噁即止，而裏熱不減，間服養陰泄熱藥一二劑，大便仍行，
而舌苔灰熱轉厚，乃改用調胃承氣，合增液法，間日一進，每進一劑，即行一次，
糞色或黃或黑，或溏或結，又進三次，至十五日，方中大黃重至五錢，乃腹中大痛，
宿糞暢行，當時冷汗肢厥，幾乎氣脫不回，急進人參以扶正氣，始能漸定，
自此次暢行後，裏熱漸鬆，用藥總以養陰扶胃為主，每間三四日，大解不行，
即用人參湯送大黃丸藥一服，或瀉葉湯一盞，大便始行，而糞色仍黑紫如醬，
至九月初，乃能漸進米湯稀粥，然每至三五日大解不通，即覺胃熱熏鬱，須與清泄，
得大解始平，至九月十九日，服瀉葉湯後，忽然宿垢大行，得黑糞半桶之多，
然後積熱濁熱，始得一律肅清，不再有餘熱熏蒸矣，自初病至此，共用大黃三兩零，
元明粉一兩零，人參參鬚二三兩，洋參麥冬各十餘兩，鮮地石斛各一斤，
其犀羚珠粉等味，用數少者不計焉，此證因陰虛質弱之體患此大病，
米飲不沾唇者一月，而得全性命者，綠自病迄今，始終以扶正養陰為主，
故雖屢頻危殆，而卒獲保全，其積垢行至一月有餘而始淨，則初念亦不及料也，
然從此可知時病之餘熱不除，皆由積垢不清所致，斷不可顧慮其虛，轉致留邪生變也，
又此證最易惑者，其脈始終細弱，毫無實象，惟將見證細意審察，究屬體虛證實，
惟有用洋參鮮地石斛大黃，以養陰泄熱，為至當不易之治，碻守不移，
始得回一生於九死也，亦幸巳哉。</p>
<h3>伏溫上灼肺金發喘逆咯血欬膿證治</h3>
<p>伏邪在少陰，其由經氣而外出者，則達於三陽，其化熱而內壅者，則結於胃府，
此溫熱病之常也，少陰之系，上連於肺，邪熱由腎系而上逆於肺，則見肺病，
況溫邪化熱，火必剋金，則肺臟本為溫邪所當犯之地，其或熱壅於胃，上熏於鬲，
則熱邪由胃而炎及於肺，更為病勢所應有，近時煙草盛行，肺中津液，熏灼成痰，
阻窒肺隧，平日每多痰欬，更值溫熱上蒸，痰得熱而痰更膠粘，熱附痰而熱愈留戀，
其為欬為喘，意中事也，肺絡不通，則胸脅刺痛，熱鬱日甚，則痰穢如膿，或欬紅帶血，
無非熱灼金傷所致，此時苟伏邪巳一律外透，則治之者，祇須清泄肺胃，夫病在肺，
而何以治者必兼及胃，蓋肺中之熱，悉由胃府上熏，清肺而不先清胃，
則熱之來路不清，非釜底抽薪之道也，
古方如麻杏、甘石、越婢、青龍、清燥救肺等方，均用石膏，誠見及於此也，
輕則葦莖湯，鮮斛鮮沙參之類，必不可少，脅刺者兼和絡氣，欬紅者兼清血絡，
滋膩之藥，恐其勵痰，溫燥之品，恐其助熱，均為此症所忌，
又此症在初起時，醫者粗心不察，視為尋常外感，恣用發散，或見其痰多，妄用二陳，
或見其喘逆，作外感治，而用麻桂，作內傷治，而用生脈熟地，均屬背謬，
而耗液助熱生痰諸弊畢集矣，迨見病勢日增，始細心體認，改投清泄，
而肺金藏陰巳傷，不能遽復，即使邪熱得清，而內熱乾欬，綿延不愈，遂成上損，
終致不救者，往往有之，誰之咎哉。</p>
<h3>伏溫內燔營血發吐衄便紅等證治</h3>
<p>溫邪化熱外出，其熏於氣分者，為煩熱口渴等證，其燔灼於營分者，血為熱擾，
每每血由肺絡而溢出為欬血，由吐而出為吐血，上行清道為鼻衄齒衄，
下行濁竅為溲血便血，凡此皆血為熱邪所迫，不安其絡因而上溢下決，惟血既外奪，
則邪熱亦隨血而泄，病勢宜由此而減，乃為吉象，若血既外奪，而裏熱仍盛，
昏譫煩躁，仍不輕減，即屬重症，推其故，蓋有二焉，一則矣熱重而蒸鬱過深，
絡血雖溢，而裏熱之留伏尚多也，一則營陰虛而為燔灼所傷，陰血枯竭，
而不能托邪外出也，邪重者宜涼血泄邪，如犀地梔丹銀花連翹茅根側柏之類，
血虛者宜養血清熱，如地芍梔丹阿膠元參之類，總以涼陰泄熱為主腦，
血虛者兼以滋養，邪實者兼以清泄，必使血止，而熱亦因此而解，斯為順手耳，
此等症，每有急求止血，過用清涼，以致血雖止，而上則留瘀在絡，胸脅板痛，
下則留瘀在腸，垢痢瘀紫，甚或留瘀化熱，變為暮熱朝涼，欬痰帶血，
見種種陰損之候，昧者不察，誤認為虛，漫投補劑，遂遷延不愈，愈戀愈虛，
以致不救，可慨也夫。</p>
<p>凡瘀留在腸胃者，易於疏化，以其在康莊大道，不在細微曲折之處，
藥力易於疏通也，若瘀留於肺肝血絡之中，則絡道蠶叢，藥力既非一時可到，
而又不宜於猛劑攻消，祇有通絡化瘀泄熱之法，緩緩圖功，如曹仁伯清瘀熱湯之圣，
最為得竅，學者宜仿此用之。清瘀熱湯〔旋絳蔥葦枇〕。</p>
<h3>伏溫外竄血絡發斑疹喉痧等證</h3>
<p>伏溫化熱，燔灼血絡，因致絡血外溢，邪熱即隨血而泄，於病機猶為順象，
乃有邪熱鬱於血絡，不得外達，其在於肺，肺主皮毛則為疹，其在於胃，
胃主肌肉則為斑，有斑疹各發，不相交涉者，有斑疹兼發，不能分晰者，
總之以清營透邪，疏絡化斑為主，凡外面斑疹透齊，即神清熱解者為吉，若斑疹雖透，
而裏熱不解，則熱鬱巳甚，其勢必有變端，當隨其見證，弓心斟酌，又有一種爛喉丹痧，
此於伏溫之中，兼有時行疫毒，發熱一二日，頭面胸前，稍有痧疹見形，
而喉中巳糜爛矣，此證小兒居多，其病之急者，一二日即見壞證，如面色青晦，
痰塞音啞，氣急腹硬，種種惡候，轉瞬即來，見此者多致不救，此等急症，
初起即宜大劑清營解毒，庶可挽回萬一，若稍涉遲延，鞭長莫及矣。</p>
<p>鮮生地為此證清營泄熱必用之藥，欲兼疏散之意，重則用豆豉同打，
輕則用薄荷葉同打，均可，丹皮清血中伏熱，且味辛主散，炒黑用之最合，
銀花清營化毒，元參清咽滋水，均為此症必要之藥。</p>
<p>治肺疹初起，須兼透達者，於清營方中，用牛蒡蟬衣，以透發之，古方治斑毒，
用化斑湯。〔白虎合犀地之類〕。或玉女煎之類，然須煩熱多汗者，乃為合劑，
若熱不甚，汗不暢，遽投石膏，恐有邪機冰伏之弊，臨用時宜加斟酌，黃玉楸於此證，
用淫萍為表藥，頗有思路，可取用之。</p>
<p>塘市孫蘊之大令郎，聰穎異常，年甫十歲，十三經巳能背誦，且能舉其大意，
蘊翁視之，不啻掌上珠也，丁亥秋，專信邀診，余夜船赴之，至明晨抵塘市，
巳不及救矣，蘊翁曰，大兒巳死，次兒後一天起病，今巳兩天矣，病狀與大兒纖毫無異，
以大兒之死例之，則次兒至今夜五鼓時，亦將不救矣，姑為我視之，可尚挽救否，
余視之，面色青晦不語，惟煩躁陣作，發躁時將臂內搔挖，若不知痛楚者，挖破處，
血亦紫黯不流，舌質紫刺如楊梅喉間板黃不腐，余細審，乃疫毒閉於營中，
不能外達而毒攻心肺，故其死若是之速，此證屬陰毒陽毒之類，
在古書中雖無確當治法，而以意測之，欲圖挽回，必使疫毒有外泄之路，乃有生機，
遂令其用犀角磨汁，鮮生地大黃絞汁，再合元參丹皮銀花等，化毒泄熱之品，陸續灌之，
至黃昏得大便溏黑者兩次，灌至天明，盡藥兩茶盞，又得大便溏黑者兩次，余再視之，
神情較能靈動，舌上黃苔浮膩，喉間起，腐，仍用前法，加入金汁，合養陰之意，
如前灌之，一日夜服三四碗，大小便始暢，腹硬亦平，其上半如項項肩肘，
下部如腰脊髀關膝膕等處，凡肢節交接之處，從前有紫痕僵塊者，至此皆紅腫作膿，
不特咽喉潰爛，并肛門亦潰爛流膿，余力守養陰活血，泄熱化毒之方，兩旬以後，
咽喉及通身之潰爛，均得以此收功，惟大中仍有膿瘀雜下，余參用內癰治法，
又月餘始痊，是役也，余用犀地大黃，多進不撒，人皆駭之，不知此證之熱毒，
亦非尋常所有，設遲回審慎，兼顧其虛，無論如此重病，不能挽救於垂危，
即使當時就挽，而後半如此波濤，亦斷不能收全功於萬一也。</p>
<h3>伏溫化熱鬱於少陰不達於陽</h3>
<p>伏溫之邪，冬時之寒邪也，其傷人也本因腎氣之虛始得入而據之，
其乘春陽之氣而外達也，亦以腎氣暗動，始能鼓邪化熱而出，設其人腎陽虛餒，
則邪機冰伏，每有半化半伏，欲達不達之症，如外面熱象熾盛，或巳見昏譫痙厥之候，
而少陰之伏邪，尚有未經化熱，仍留滯於陰分者，忑時就熱象論，巳有熱擾厥陰之險，
清泄之藥不容緩，而內伏之邪，又以腎氣內餒，不能化達，設專用涼泄，則邪機滯，
設用溫化，又屬抱薪救火，展轉之間，內則陰液乾涸，外則邪熱蒙閉，遲之一二日，
即不可挽救矣，此等症情，在溫病中，為最險重之候，即使竭力挽回，亦屬冒險圖功，
治病者，必須豫為道破，庶免疑謗。此證邪伏少陰，喻氏仿仲景少陰病治例，
用麻黃附子細辛湯，及麻黃附子甘草兩方，以透邪，增入生地，以育陰扶正，
其用意頗為切當，惟溫邪既動，必有熱象外現，其甚者邪熱蒙陷，巳有痙厥之象，
此時麻附細辛，斷難遽進，然非此大力之藥，則少陰之沉寒，安能鼓動，
治當師其意而變其制，如用麻黃汁製豆豉，附子汁製生地，至涼肝熄風，治標之藥，
仍宜隨症參入，似此面面周到，庶可收功。</p>
<p>附案及門生金石如，戊戌三月初旬，患時感，初起惡寒發熱，服疏散藥一劑，
未得汗解，而熱勢轉淡，神情呆鈍，倦臥耳聾，時或煩躁足冷，
及膝指尖耳邊鼻準亦冷，兩便不利，腰俞板硬，不能轉側，脈遲細而弱，
嘔噁不能納水飲，惟嚼醬薑稍止，舌苔厚燥微灰，此由新感引動伏邪，而腎陽先餒，
不能托邪化熱，故邪機冰伏不出，其巳化之熱，內陷厥陰，欲作痙厥，證情極為險重，
趙生靜宜先往，用梔豉桂枝羚羊角，合左金法，小便得通，足溫嘔止，餘則證情如故，
邪仍不動，議用麻附合洋參生地等，扶正托邪，而余適至，遂令趕緊煎服，
兩進之後，尺脈始弦，而神情之呆鈍，腰脊之板痛仍爾也，擬用麻黃製豆豉，
附子製大生地，桂枝製白芍，合人參牛膝元參淡芩羚羊生牡蠣等味出入，三劑後，
以舌苔灰厚而乾，又加大黃，服後忽作寒慄戰汗，而腰脊頓鬆，隨得大解，而裏熱亦泄，
神情爽朗，調理一月而愈，此證就邪之深伏，而未化熱者論之，則祇宜溫托，大忌寒涼，
然痙厥神糊，舌苔灰燥，若再助其熱，勢必內陷厥陰，而為昏狂蒙閉之證，無可挽也，
就邪之巳動，而化熱者論之，則祇宜清泄，何堪溫燥，然脈情遲細，神呆形寒，
經府俱窒，若專用涼化，則少陰之邪伏不出，遷延數日，勢必內潰，而為厥脫之證，
其去生愈遠矣，再四籌審，決無偏師制勝之理，不得巳，取喻氏法以治其本，
合清泄法以治其，標一面托邪，一面化熱，幸賴少陰之氣，得扶助而伸，凡經邪府邪，
巳化未化之邪，乘腎氣之動，一齊外達，故戰汗一作，大便一行，而表裏諸病若失也。</p>
<p>黃材橋范養逵令郎，於戊戌夏間患三瘧，至八月初服截藥而止，至二十外，
忽然遺泄數次，遂發寒熱，如日作之瘧，先寒後熱，迨外熱巳甚，而下身骨節仍寒，
須再作寒慄一次，隨啜熱粥一碗，然後得汗而解，延至九月初，巳十餘發矣，
一日當啜粥助汗之時，忽然頭暈目暗，冷汗肢厥，如欲脫之狀，逾時始定，
此後遂臥床不起，惟胃納尚不大壞，纏綿不愈，予往診時，十月中矣，予謂從前三瘧，
是暑濕之邪，迨愈而復作，是引動少陰矣邪，乘少陽新病之虛而出，而腎陽先餒，
不能托邪，故寒慄日甚，而熱勢反不重也，此當用溫經托邪之法，用桂枝湯，
加人參當歸生地附子汁製牛膝，仍用柴胡豆豉黃芩等味出入，十餘劑，
中間迭見驚悸痙惕諸證，又加龍骨牡蠣羚羊角等味，隨證治之而愈，
此證當瘧疾再發之時，諸醫仍用暑濕門套方，服二三十劑，而病情毫無增減，
病者自言不起，每夜分輒有譫語，病家疑神疑鬼，醫家莫測其病原所在，
其故皆由近日醫家，不囿於吳又可募原之說，即泥於吳鞠通三焦之論，
而絕不知有少陰伏邪，隨經發病之理，故遇此等證，便覺毫無把握，輕者遷延致重，
重者無法挽救，近年所見不少矣，哀哉。</p>
<h3>伏溫化熱內陷手足厥陰發痙厥昏蒙等證</h3>
<p>伏溫由少陰而發，外出於三陽經證，內結於胃府，則見陽明府證，
其證雖深淺不一，但由陰出陽，於病機為順，均在可治之例，惟有矣邪巳動，
而熱象鬱滯，不達於三陽，亦不歸於胃府，而即竄入厥陰者，在手厥陰則神昏譫語，
煩躁不寐，甚則狂言無序，或蒙閉不語，在足厥陰則抽搐蒙痙，昏眩直視，
甚則循衣摸床，此等凶證，有兼見者，有獨見者，有府熱內結，邪氣充斥而潰入者，
有陰氣先虧，熱邪乘虛而陷入者，有挾痰涎而蒙閉者，有挾蓄血而如狂者，
凡遇此等重證，第一先為熱邪尋出路，如在經者，從斑汗解，在府者，從二便出是也，
至照顧正氣，轉在第二層，蓋氣竭則脫，陰涸則死，皆因熱邪燔劫而然，
用藥於祛邪中，參以扶正養陰，必使邪退，而正氣乃有立腳，如徒見證治證，
但以清心泄肝，化熱養津之劑，就題面敷衍，雖用藥並無大謬，而坐失事機，
詒至遷延生變，措手不及，誰之咎歟，今姑就手足厥陰見證各條，擬治法如左。</p>
<p>凡熱重昏譫，王夜增劇，舌底絳色，此熱灼於營也，以犀角地黃為主方，
煩躁不寐，口渴舌板，神情昏擾，熱鬱於上也，以涼膈散為主方，神志煩亂，小溲赤濇，
舌尖乾紅，熱劫心陰也，導赤各半湯為主方，面赤神煩，大渴多汗，熱燔陽明之經也，
白虎湯為主方，大便祕結，或熱結旁流，唇焦齒垢，舌刺焦黃者，熱結陽明之府也，
以三承氣為主方，又如熱蒸痰升，蒙閉，神明者，加用至寶紫雪昔蒲汁之類，
痙掣搐搦，汗風升擾者，加用羚羊角釣藤石決明之類，病證紛繁，治難縷述，
而媲以祛邪扶正兩意為提綱，祛邪之法，巳列於前，至扶正之法，在溫病以養陰為主，
以溫熱必傷陰液也，人參難得佳者，且病家無力者多豈能概用，惟西洋參甘涼養津，
施於溫熱傷陰者，最為合用，餘如生地滋腎陰，白芍養肝陰，石斛養胃陰，
沙參養肺陰，麥冬養心陰，如遇虛體，或久病陰傷者，無論發表攻裏劑中，
均可加入，其或熱巳竄入厥陰，而邪之藏於少陰者，熱氣尚伏而不揚，宜於清泄中，
仍兼疏托或熱巳內陷營陰，而邪之走於經者，表氣尚鬱而不達，宜於涼營中，
再參透表，其最重者，邪熱內燔，而外面反無熱象，甚至肢厥膚冷，脈濇數而不暢，
必得大劑泄熱透邪，乃使熱勢外揚，脈象轉見洪大，庶可免厥深閉脫之危也。</p>
<h3>伏溫挾溼內陷太陰發黃疸腫脹泄利等證</h3>
<p>溫邪挾濕，則為濕溫，其濕之輕者仍以溫邪為主，略參化濕可耳，其濕之重者，
與熱相合，熱勢雖熾，而有脘悶嘔水，舌膩不渴等證，初起宜參芳香宣化，
迨濕邪化燥，用蒼朮白虎湯，清熱燥濕，可以一劑而愈，若初起即與清滋，欲清其熱，
轉助其濕，而愈發纏綿，每有治不如法，遷延一兩月而病不退者，皆治之不得其法也，
然則此乃濕溫之在胃者，治之猶易，有一種濕熱蘊於太陰者，初起不見濕象，
但覺熱象蒸鬱不揚，脘悶口甜，而胃口無病，仍可納穀，舌上不見濁苔，
其濕熱深鬱於脾藏，漫無出路，或發黃或腹滿肢腫，或則泄，或便祕，或嘔噁，
或小水赤濇，甚則熱鬱日深，脾營受傷，則舌底絳色，或薄苔罩灰黃，而不甚燥，
種種見證，無非濕鬱化熱，何以燥之則增槷清之則肋濕，如此其百無一效也，
蓋藏病無出路，必借道於府，乃能外出，此病熱蘊巳久，脾中之熱漸欲外達於胃，
或胃中挾有痰積，熱即附之而熾，亦有便祕舌焦，燥渴煩譫等證，投以苦泄，
則胃熱下行，而病勢一鬆，然所泄者，胃府之標熱也，其脾藏中蘊遏之熱，仍未達也，
故病雖暫減，而閱日復熾，屢伏屢熾，久而正氣不支，遂成壞證，此等病，
治之最難得手，誠以此證，病勢不重於外，病家每每忽視，投劑不能速效，
病家勢必更醫，後來者見前醫無功，必且改弦更張，因之敦藥亂投，致成不救者，
吾見實多，治此者，必須將太陰之濕，與少陰之熱，孰經孰重，細細較量，
再看其濕熱所傷，或為脾氣，或為脾陰，其兼挾之病，或為痰積，或為瘀滯，
均宜細意分晰，方可用藥，至用藥之法，須得輕清靈三字俱全，
冀其緩緩疏化，切不可側滯一面，以致無益反害，吳鞠通溫病條辨，其原出於葉氏，
上中焦濕溫格條，頗有此理者，薛生白濕熱條辨亦多可取，試細繹之，
當有得心應手之妙也。</p>
<h3>伏溫陰陽淆亂見證錯雜</h3>
<p>伏溫由陰而出於陽，於病機為順，若病發於陰，而即潰於陰，不達於陽，
此於病機為逆，若是乎陰陽兩層，界限分明，如有淆亂者哉，凡病之陰陽淆亂者，
其故有二，一則由乎正虛，如陽虛者陰必湊之，則陰病可淆於陽矣，陰虛者陽必擾之，
則陽病可淆於陰矣，一則由乎藥誤，如病在陰而誤投陽藥，則陽氣為藥所傷，
而陰病淆於陽矣，病在陽而誤投陰藥，則陰氣為藥所傷，而陽病淆於陰矣，
至其見證錯雜，有即由於陰陽淆亂而雜者，有由他邪之兼挾而雜者，看此等證，
全要天分聰明，識見老到，方有把曜蓋此等證，變化最多，無一定路逕可循，臨病者，
須將正氣邪氣，表病裏病，新邪舊邪，孰本孰標，孰輕孰重，孰緩孰急，
一一衡量得宜，方可施治有當先顧本元，苟得正氣一旺，而邪自解散者，
有當急祛外邪，必得邪氣速退，而正乃不傷者，有症雖錯出，而發於一原，
祇須專治其本，而各症自退，所謂緩則治其本者，有證雖在標，而病機甚急，
必須先治標病。〔如小便不利之類〕。而本病從緩，所謂急則治其標者，有病勢蔓延，
欲治其根，而正氣不支，祇可先披其枝葉，而用漸衰漸勝之法者，有病情糾結，
必除其根，而各證自退，不得不攻其堅壘，而用擒賊擒王之計者，以上所謂錯雜，
猶不過表裏虛實，其用藥尚可一線相承，此外更有寒熱錯雜，如陰虛而挾寒飲，
陽虛而挾肝，治此則礙彼，治彼則礙此者，其用藥更難措手，此中奧妙，
有知之而不能言，言之而不能盡者，總宜於輕重緩急，權之極精，方可論治，
至選藥宜彼此照顧，尤必有手揮五弦，目送飛鴻之妙，乃為得法，否則失之毫釐，
謬以千里，其不誤人性命者鮮矣。</p>
<h3>伏溫外挾風寒暑溼各新邪為病</h3>
<p>伏溫之邪，由春夏溫邪之氣，蒸動而出，此其常也亦有當春夏之間，感冒風寒，
邪鬱營衛而為寒熱，因寒熱而引動伏氣，初起一二日，第見新感之象，意其一汗即解，
乃得汗後，表證略減，而裏熱轉甚，昧者眩其病狀，幾若無可把握，
不知此新邪引動伏邪之證，隨時皆有，治之者，須審其矣邪與新感，孰輕孰重，
若新感重者，先撤新邪，兼顧伏邪，伏邪重者，則專治伏邪，而新感自解，
蓋伏溫自內達外，苟由三陽而外解，則表分之新邪，自不能容留矣，內經云，
凡病傷寒而成溫者，先夏至日者為病溫，後夏至日者為病暑，此指伏邪乘暑令而發者，
尚非兼挾暑邪之病，其有兼挾暑熱之邪而發者，則必另有暑熱見證，其新病引動伏邪，
大致亦與兼挾風寒者相似，須審其輕重緩急，分清經界，方可著手也，
至兼挾濕邪之證，有外感之濕，有內伏之濕，矣氣既動，則熱篡內發，蒸動濕邪，
與矣溫之熱混合，為病最屬淹纏，治之者，須視其濕與熱，孰輕孰重，
須令其各有出路，勿使并合，則用藥易於著手，再濕邪有宜溫嬠者，如平胃之類，
有宜滲利者，如苓澤之類，有宜通泄者，如車前滑石之類有宜清化者，
如芩連梔柏之類，以上皆專治濕邪之法，若與濕熱并合，則為濕溫，見證最繁且雜，
其治法須隨機應變，初起有芳香化濕者，如胃芩正氣之屬，而通宣三焦者，
如二石淜石之屬，中焦熱重，有清泄陽明者，如蒼朮石膏之屬，有苦泄太陰者，
如茵陳芩連之屬，總之，須細察見證，如濕重者，自當治濕，若伏邪重者，
仍當以伏邪為主也。</p>
<h3>矣溫兼挾氣鬱痰飲食積瘀血以及胎產經帶諸宿病</h3>
<p>矣溫而兼挾外感者，則以新邪而引動伏氣為病，若伏溫而兼內傷者，
則因內傷而留滯，伏溫不得爽達，治之不得其法，每有因此淹纏，致成壞證者，
即如平時有氣鬱之病，則肝木不暢，絡氣鬱滯，溫邪竄入肝絡，
即有胸板脅刺欬逆等證，邪鬱不達，久而化火，即蒙冒厥陰，而有昏痙之變，
平日有痰飲內停者，抑遏溫邪，不得疏越，鬱之既久，外冒之痰濁，尚未蒸開，
內藏之津液，早巳乾涸，一旦熱勢猝發，如烈火燎原，不可措手者，亦往往有之，
中宮先有食滯，或因病而積，有熱邪所燔，阻結於胃，劫爍胃津，此可攻之證也，
須得大便通行，積去而熱邪乃隨之而解也，平時有瘀血在絡，或因病而有蓄血，
溫熱之邪與之糾結，熱附血而愈覺纏綿，血得熱而愈形膠固，或早涼暮熱，
或外涼內熱，或神呆不語，或妄見如狂，種種奇險之證，皆瘀熱所為，治之者，
必須導去瘀血，俾熱邪隨瘀而下，庶幾病勢可轉危為安也，有胎前犯溫病者，
熱邪燔灼，易於傷胎，治之者，除藍布冷泥護胎外，治法亦別無善法，
祇要眼明手快認清病機，迎頭清泄，勿令邪熱留滯傷胎，便為得法，
古法每於當用方中，加入四物，名曰護胎，如當用者，尚無大害，若不當用而用之，
則滋膩滯邪，非徒無益，而反害之矣，產後血舍空虛，百脈俱弛，焆此而溫病猝發，
最易陷入血絡，急則為痙狂等險候，緩則留戀血室，燔灼營陰，延為陰損之候，
治之者，須處處迴護陰血，一面撤邪，一面養血，勿令熱邪深陷，乃為得手，
至兼挾經帶為病，亦與胎產相似，不外虛則邪陷，實則瘀阻兩層，
治之者處處就此兩層著想，自然得法矣。</p>
<p>溫熱逢源終</p>
