<header><h1>一瓢醫案</h1></header>
<dl class="元資料" data-type="book">
<div><dt>作者</dt><dd><data value="薛雪">薛雪（薛生白），清·吳金壽子音篡</data></dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
</dl>
<p>骨小肉脆，定非松柏之姿。脈數經停，已現虛勞之候。先天既弱而水虧，壯火復熾而金燥。歲氣一週一損，豈容再損？秋風乍薦已傷，難免重傷。證具如前，藥惟補北，非敢說夢，聊以解嘲：</p>
<p>生地、沙參、地骨皮、麥冬、金石斛、生鱉甲。</p>
<p>蘇祿國貢使久咳不能臥案：辨八方之風，測五土之性，大率貴邦偏在中華之巽上，箕尾之前，翼軫之外，陽氣偏泄，即有風寒，易感易散。來此華夏，已屬三焦。況不得臥下，肺氣大傷，止宜潤降而已：</p>
<p>蜜炙枇杷葉、麥冬、川貝、甜杏仁、經霜桑葉、米仁。</p>
<p>《內經》謂：骨肉柔脆之人，其質本弱。然以脈症較之，其咳原屬手太陰得之。聞先一人補之，後一人瀉之，邪則從補而升，元則由瀉而虛，竟成廟兵出而岸兵入也。亦參末議，共博一笑：</p>
<p>北沙參、燕窩、桑葉、冰糖、川貝母、紫菀。</p>
<p>少腹有形隆起如阜，上至心下則厥逆。來疾去駛，雖大力人拒之不能卻。上則人身為之上竄，下則人身為之下墜，不能強掙。一翕一辟，一上一下，乃至人身上下如舂杵。口鼻兩陰之血，隨其上下溢出，群醫不能治。余思此症載在《難經》，特未曾縷晰示人耳。且云：「此物伏在臍旁上下則少楚，伏入臍中則少安。」可見臍旁兩穴，亦與此條相合，且弗揭明其義，一任群公思而得之可也：</p>
<p>用薄荷湯送下神秘丸。以病人自思此湯飲之，其物倏伏而不動，故亦用之。</p>
<p>素來擾虧根本，不特病者自嫌，即操醫師之術者，亦跋前疐後之時也。值風木適旺之令，病目且黃，已而遺精淋濁。少間，則又膝脛腫痛不能行。及來診時，脈象左弦數，右搏而長，面沉紫而時時作嘔。靜思其故，從前紛紛之病，同一邪也，均為三病，次第纏綿耳。由上而下，由下而至極下，因根本久撥之體，復蒸而上為胃病，是腎胃相關之故也。倘不稍為戢除一二，但取回陽返本，竊恐劍關苦拒，而陰平非復漢有也。謹擬一法，略效丹溪，未識何如：</p>
<p>羚羊角、木瓜、酒炒黃柏、伏龍肝、生米仁、橘紅、馬料豆。</p>
<p>鬁勞得愈，如麟毛兔角。或叩之瓊台丹扃間，求金光一葉，庶幾悅然：</p>
<p>小建中湯。</p>
<p>脈象右三部洪數弦急並現，左上數中緊。先患陽精不升，次及於陽絡不固。蓋至陰生陽，不屯失精為先天，至陽出陰，失蒙吐紅為後天。是有形始兆之後，復現先後天俱病。即察至真有餘之軀，亦不足以供其漸耗。今將投味厚入陰者乎？抑投味薄清陽者耶？竊恐山川草木，皆不足以還返金品。莫夫大藥金丹，周天火候耳。然又不可不以服食之方佐之，擬候尊師同訂，終慚布鼓。希諒之：</p>
<p>建蓮肉一斤（帶心撲如麻子大，飯上蒸、曬九次為末），麥冬肉一斤，嫩荷葉半斤，頂生地四兩，金櫻子半斤（去毛）。</p>
<p>以上四味熬膏，同蓮肉粉杵為丸幾，秋石湯送五錢。</p>
<p>抑鬱頓挫，侘傺無聊，心乃偏倚，十二官皆無主，則陰氣並於陽也。投以重鎮之劑：</p>
<p>生鐵落、鬱金、半夏、苦參、橘紅、茯苓。</p>
<p>陽極升而不入，陰鬱沉而不附，是以有晝無夜，離明當午而睡，水漸衰矣。治以交陰陽，引衛入營。毋云血家忌半夏也：</p>
<p>半夏、酸棗仁、生地、生甘草、糯米、茯苓、米仁、去油乳香。</p>
<p>暑熱時邪，病經二十日。諸法具備，何必問途於蹇足，既承觸暑相招，勉爾揮汗撰方：</p>
<p>川連、半夏、生甘草、淡芩、茯苓、生薑。</p>
<p>此症原屬胃乏沖和之氣而起。要之沖和之氣，即太和元氣。位天地，育萬物，無非此氣。少有不足，已非所宜，況大有所損乎？拙見宜謝絕一切，高養山齋，餌以藥石，廓然世外，庶幾霍然。若在操觚蓮幕，非所宜也。吾聞君子贈人以言，愛人以德，故瑣屑及此：</p>
<p>旋覆花、木瓜、生穀芽、炙草、代赭石、白芍、糯米汁。</p>
<p>病更節後，醫曆多人，朝張言熱，暮李論寒。臟腑各有受盛，運氣各有翕辟。渺爾一軀，遍嘗補瀉，不病亦病矣。宜守正持法，幸勿好大喜功：</p>
<p>當歸建中湯。</p>
<p>脈弦勁如循刀刃，全無沖和之氣。水氣太過，金令不及。從後來者，謂之賊克。苟非致太和之氣，以消乖戾，必至陰失潛藏，陽無所倚。履霜堅冰至，豈可不未雨而綢繆乎？老子云：「齒剛則折」，殆其是也。切囑切囑。此方存之，期於左券。</p>
<p>炙甘草、北沙參、料豆皮、冬桑葉、生白芍、麥冬肉。</p>
<p>中土以嵩高而定八方之位，是蜀在坤矣。毓斯境者，脈宜緩而流利。今洪搏太過，面黃氣重，幸在浙已久，若處故鄉，是脈象當血溢。即日回蜀，宜早服丸以滋之：</p>
<p>六味地黃丸。</p>
<p>清貴之脈，類多六陽，次則六陰，是皆純淳之象。今體稟六陽，是一徵也。息分九候，位分三部。雖一部之中，均察臟腑，而左部顯然者，心肝腎三臟。今寸來空大，是心不藏神也；關脈滑數，木無水養也；尺來浮大，水氣不衡也。火以木為體，木以水為母，先天一氣，由是通明。故知離中偶畫生陰，心氣日欲下交；坎中奇畫生陽，腎氣日欲上承。是即心腎一交也。丹訣云：「水火相交永不老」者，此也。無非尋常日用之間，心欲寧，肝欲和，腎欲實。庶無恍惚悸動以及肢末不利，而四體泰然矣。謹疏一方，先滋營衛，頤養之法，再圖疏呈：</p>
<p>人參、棗仁、遠志、當歸、炙草、熟地、茯神、元參、白芍、木香。</p>
<p>脈象較前稍和，兩手平均，俱就六陽本體，可蔔無外來之氣，惟營衛少虛耳。但觀簿書旁午，是心陰不得不養，腎陽不得不藏，以供日用之精神，以副臨民之至意。先配湯藥，帶往省中，日進一劑培補；隨配膏丸相繼。憲體精神，自當日臻康泰矣：</p>
<p>人參、棗仁、歸身、炙草、茯神、元參、白芍、杞子、熟胡桃、桂圓肉。</p>
<p>《內經》稱三陽結乃成膈者，單指太陽、陽明、少陽也。今從脈色較之，少陰與厥陰亦病。若以填補下焦為首務，固所當然，但胃關一部，從何飛渡？且有一團鬱火，挾木邪橫亢於中州，得熱為伍，愈肆倡狂。苦寒勢所不容，甘寒勢不容緩。倘令肺不生津，大腸不生液，津液愈虧，為病癒繁矣。且逆上者，肝邪也，水不生之耳；不納者，胃病也，肺氣不降耳。一身之中，津液真精，皆為切要。愚見專事於此，未識如何？先進五汁飲，次商投藥可也：</p>
<p>蘆根汁、甘蔗汁、茅根汁、鮮藕汁、水梨汁各一杯，生薑汁、沉香汁各一小匙。</p>
<p>診得脈象，惟有虛細無力，弦象俱退。手足顫振，此元氣虧弱之徵。前此投藥，俱無少效者，蓋為元氣不克載藥行令耳。今元氣一日不復，則病機一日不退。病機與元氣本不並峙，此長彼消，理之常也。據愚見，湯藥在乎其次，必以直走先天之品劑為膏丸，朝斯夕斯，久久自足。元氣元精，一朝而復，後天飲食，不強自強矣。因此症非暴感內傷，不必數更方，以苦陽明胃口。且經不云乎「適於胃者為補」。煎藥久服，適於胃者否耶？愚自吳中承給諫公之命，來斯一診色脈，固知不出此理。勉為鎮台留三日者，一則感鎮台下士之隆，一則為給諫公篤親之愛，而欲浙中諸醫，一批隙導窾，以報鎮台。今參脈症，毋事更張，直補先天可也。議呈煎膏丸三方。煎則暫用，膏則時時頻服，丸則清晨為定。俟填補二十日外，便有消息。尚當叩階復診如何？（方未見。）</p>
<p>尊體本陰虛，陽氣並邪獨發，熱廿余日不解。蓋陰液枯，不能作汗，邪亦不解也。連劑養陰之後，邪少松則大汗泄，是云行雨施，品物咸亨之候，何疑其脫耶？但弱體久病不解，元氣愈虧，此邪稍出，大汗作，亦屬接補關頭，不容少懈耳。心靜，則氣定而神住，切不可憂擾神氣，致陽氣上升。至囑至囑：</p>
<p>人參四錢，熟地一兩，抱木茯神二錢，天冬三錢，製首烏五錢，左顧牡蠣六錢。</p>
<p>脈空弦，腹中急痛，肝病也。治肝不應，治脾亦良法也：</p>
<p>粗桂枝一錢，沒藥五分，白芍二錢炒黃，甘草一錢炒黑，琥珀一錢，飴糖錢半。</p>
<p>骨小肉脆，本非松柏之質；補瀉溫涼雜投，豈是濟生之術？幸能食便實，秋令尚可扶持。然破（月困）脫肉，側眠經阻，醫者猶然夢夢，何也？僕老不談醫，聊書數語，並擬一方：</p>
<p>熟地、炙草、當歸、生左牡蠣。</p>
<p>十二經皆有咳，胃病安得不咳？況此土病於金臟，而腑亦病，於此而求其痛與瀉，一在於胃之上脘，一在於肺之腑，所以無從蹤跡也。仰屋圖維，必須分兵合剿。乃得擬一法，請諸道長。以此而益精之，或當芻蕘可采，為蝦力於行舟何如：</p>
<p>江西赤石脂六兩（緞），炒黑乾薑一兩。二味為末，黃米飯為丸。</p>
<p>人參一錢，炙黑甘草一錢，大棗五錢，飴糖五錢，桂木一錢，酒炒白芍二錢，煨熟生薑一錢。水煎一次，去渣，送服前桃花丸三錢。</p>
<p>病本濕溫，元氣不能載邪外出，有直犯中焦之勢矣。擬梔、豉上下分開之，薑、芩左右升降之，芳香之草橫解之，以冀廓清諸邪。未識得奏膚功否：</p>
<p>黑山梔、淡芩、川鬱金、生香附、炒香豉、生薑、鮮石菖蒲、生甘草。</p>
<p>病久緒紊，終不離乎厥陰一臟。今商佐金氣以暗制之，營滋氣以撫綏之，實太陰以堵禦之。亦子貢存魯，霸越滅吳之意：</p>
<p>羚羊角、人參、製首烏、清阿膠、麥冬、云茯神。</p>
<p>診得真氣久不周於四肢，又暴受暑邪類中，遺溺目瞑，脈弦數而上承魚際。肝風為足厥陰，暑風為手厥陰，手足兩經得病，瘖而不能言者不治。且移至近地涼處為病室，外解暑邪，內用對證之藥以救其逆：</p>
<p>羚羊角、竹茹、連翹仁、鮮桑枝、半夏、鮮石菖蒲根。</p>
<p>人生五十，一臟衰，況向六乎？所患聚訟者，皆主腎臟。蓋以所述，大旨在扼定脾此，則樞機得，而四運成矣：</p>
<p>獨朮膏，先用十斤可也。</p>
<p>真氣已漓，病何能愈？有愈之方者，其仙乎：</p>
<p>歸芍六君去甘草，鮮桑枝煎湯代水。</p>
<p>此太陰被濕氣薰蒸，無清肅之權，木無畏，右肩臂漸顯不仁之象。曲蘖傷生，而尚甘之，我不解也：</p>
<p>生米仁、鮮蘆核、生地、嫩桑枝、白歸身、赤芍。</p>
<p>人身之脈，胸走手，腹走足，八十丈周於一身。未有沉寒筋之損而不及於下者，先後異時，為患則一。非鮑姑之艾，文伯之針不能愈。內服八味湯可也：</p>
<p>桂附八味丸。</p>
<p>佞布之人多嗜，積鬱之人多火。久而久之，佛鬱之性，飆發波掀，若狂若魅。藥石既不能與，先與丹藥焚於室中，以辟易其狂悖可也：</p>
<p>如意丹七丸。</p>
<p>鬚眉自落，皮毛淖澤，脈來浮澀，此風也，非衰白也。三十六種，同出異名，非淺可之疾。夏月宜食香風蛇（即俗名黑風蛇也），與雞煮食之：</p>
<p>白歸身、白麻、赤芍、生地、早蓮草、僵蠶、銀花、茺蔚子、夏枯草。</p>
<p>頭痛，窅不見人為一忌；肝風，嘔吐膽汁為一忌。相與有年，知已惟此一人，豈宜坐視。務得挽回為妙，然國有數存焉者矣：</p>
<p>沮膽湯去枳實，加天麻、鉤藤、桑葉。</p>
<p>是證究屬肝風，則厥陰一經，未易制也。在古法：有鎮攝一法，有培土禦之一法。所以東垣有半夏天麻湯，而景岳又撰左歸以補其闕略。今二法皆不能純用之矣，擬出入一方備采：</p>
<p>人參、焦朮、茯苓、柏子仁、半夏、陳皮、熟地、白歸身、炙草、鱉甲。</p>
<p>久咳移邪犯胃，因咳而肺肅無權，故氣升逆。勿用瀉損肺氣之藥：</p>
<p>水梨去心帶皮搗爛，絲綿濾清，慢火熬成膏，收入磁瓶內，蠟封口。每日開水送五錢。</p>
<p>陽明脈實，氣急而喘，壯火食氣，消爍真陰。夏氣開張而劇，剝棗時坦境也。此刻不能他圖，姑與溫膽湯，少衰其熱，以保傷金。</p>
<p>溫膽湯。</p>
<p>體盛之人氣必弱，寒熱乍起，即現小便短數，頭項瞤動，舌乾齒燥，氣促，脈左弦右弱，渴不欲飲。皆元不勝邪之象。恐其乘津液之衰，遽而內陷，宜謹慎斟酌，緣此時正當燥令故耳：</p>
<p>天花粉、卷竹葉、厚橘紅、青蒿梗、麥冬、六一散。</p>
<p>脈數，五六日不更衣，舌黃唇焦。胃熱熾矣。況前服之藥，皆辛溫耗陰之品，今非寒涼不可。然宜小心保護為主，因熱邪深入陰中，而陽氣獨亢耳：</p>
<p>川黃連、枳實、瓜蔞、赤芍、生甘草、陳皮、杏仁、木通。</p>
<p>病之原，由食柿過多，得寒而起。於茲二十余年矣。要知柿為西方之木，其實稟秋金之氣而成，其與肺金同氣相求，可知其邪入肺，發為氣哮，久則腎水無本，虛而上泛為痰。胃為貯痰之器，所以降氣湯、六君子，由肺及胃，皆得小效。而不除要莒，與即墨不拔，齊地終非燕有，況脈象尚悍，當深入病所為是。擬仲景方法：</p>
<p>甜葶藶，苦葶藶、大棗。</p>
<p>嗽而失血，已逾三載，纏綿不已，色黯脈弦，嗽益甚，環口色黃。由於肝脾，及於腎，上藏為其所取，給而不能應矣。飲亦從而為患，逐之不得，滋之無功，遷延日損，莫可彌縫。當取其中以冀流布，庶幾近之。擬宗建中法，加以滌飲之品，俟陽明升而繼以大補太陰，然後漸入純陰之法，否則非治也：</p>
<p>小建中湯去薑，加茯苓、薑皮。</p>
<p>古人造字，兩火著力為勞，故為君相二火而說。溫補中州，以靜痰之源，補下焦以益水之源。但病勢已深，恐非一擊可破也：</p>
<p>熟地、枸杞子、元參、牛膝、茯苓、紫石英。</p>
<p>橫則為三坎，豎則為川水，中間一點真陽，水虧則露，為龍火，□為震，震下之陽，與之同源，升為雷火，所以雷為木屬，皆陰中之火也。純陰之藥，愈潑愈熾，一切草木，無能制之。當用一元丹，久服愈矣：</p>
<p>澹秋石五六觔（斤之異體字），紅棗漿為丸。早服五六錢，晚服二三錢，以陽秋石少許點湯送下。</p>
<p>脈弦數，尺獨大，咳而喉痛失音。乃數載失紅之後，其陰虧火炎，不言可喻矣。唯有至靜之品，引陽潛入陰中，庶近《內經》之旨。然須作靜攝工夫，使陰秘陽密，得坎離相交之力為妙：</p>
<p>熟地、海石粉（搗爛）、金石斛、北沙參、茯苓、麥門冬、生白芍、龜腹板、山藥。</p>
<p>形忽漸瘦，脈虛極，氣怯偶咳，目黑脈弦，忽忽不樂。補氣補血，人所知也，宜將陰獸，引入陰中，藥猶得力。早晚捕獺一頭，取肝陰乾，用鹿角膠，各於木器杵碎。早服鹿角膠末一錢，晚服獺肝末一錢，皆開水送下。此常用百日之法，今擬煎方先服：</p>
<p>人參、茯苓、菟絲餅、南棗、焦冬朮、炙草、枸杞子。</p>
<p>左關搏指急疾，右關弦大。無胃氣不歸元，充海無根。右關如是，當劇於春；左關如是，當折於秋。恐左關為應，勉擬古人乙癸同源之治：</p>
<p>大生地、女貞子、枸杞子、茯神、元參、懷山藥、紫石英。</p>
<p>此病起於費心勞碌，風寒不節，遂至咳嗽吐痰，久則內傷。內傷者，內中臟氣傷也，即古人所謂虛勞證，總不得愈。必須絕去費心勞碌之事，一毫凡念不起，助之以藥，或可延年：</p>
<p>麥冬、阿膠、桔梗、炙草、沙參、米仁、茯苓。</p>
<p>此痧勞也。由於太陰傷損，日傳至足少陰。脾氣少溏，則入下藏也。百無一治，速宜返棹，閉關靜養。方一首奉贈，日飲可也：</p>
<p>熟地、阿膠、百合、枸杞子。</p>
<p>花甲之人，兩尺獨大。二藏已衰之際，豈宜如此？急進已癸同源之法可矣：</p>
<p>熟地、女貞子、菟絲餅、茯苓、元參、早蓮草、枸杞子。蜜丸。</p>
<p>此真陰虧證，俗名百日勞也。稍有伏暑，所以寒熱愈甚。惜乎治之不早耳：</p>
<p>熟地、茜草、青篙、元參、滑石、丹皮。</p>
<p>坎中一畫，真陽孤飛於上，一交已午之月，神水金丹，亦奈之何：</p>
<p>老生薑、天冬、懷牛膝、甘草、川石斛、元參、女貞子。</p>
<p>稟性好食辛，醫書云：「多食辛，令暴卒。」今診得色脈形骸俱憊，不須暴卒，亦不長生。自宜持其病。令先服三生欲：</p>
<p>生地黃、赤茯苓、麥冬、粉甘草、生米仁、紅棗。</p>
<p>此一損證也。從上損之下者。一損肺，肺再傳心、傳肝，傳脾，傳至腎，則骨痿不能於床。斷不可再投理肺，以速其損。怕豬肚丸可服：</p>
<p>豬肚丸。</p>
<p>未過五旬，形脈色俱衰，叩之連喪三子。得不如是耶？況復傷其孫乎，此非藥餌所能者也：</p>
<p>川貝母、生地、茯苓、麥冬。</p>
<p>脈得數而且弦。此陰虧症也，並非外感。今以虛火升而頭痛，漸有金水兩傷之勢。靜攝乃得，藥餌其次也。熟地、女貞子、麥冬、龜板、元參、澹秋石。棗漿為丸，開水送下。</p>
<p>肺為水主，熱淫則融，融則水源竭矣。土為金毋，不承則金無生，金土金水三臟日澌，苟無玉液，神精安能返？既憊之有形，雖擬禁方，亦據古人之常談耳：</p>
<p>葦莖湯。</p>
<p>心陰虛則易汗，肺陰虛則多嗽，肝陰虛則火升，腎陰虛則發熱，脾陰虛則便塘。非一真陰乎，怯症之漸也。但知頭痛醫頭之為良醫，不知履霜堅冰至，君子其為憂危之心也：</p>
<p>炒白芍、小生地、麥冬、棗、桂枝末、炙甘草、青篙梗、雲苓。</p>
<p>診得脈細數而微，舌乾黃，下利，身焦燥而不潤。此為下多傷陰，熱邪因之而內陷，大可慮也。治法輕以清其邪，苦以泄其熱。未識應否：</p>
<p>川連、小生地、人中黃、淡豆豉、木通、金銀花。</p>
<p>飲食不和者，太陰虧也。葛稚川《肘後方》有一味治虛勞之法：少陰厥陰虧者，鹿角散；太陰虧者，神麯散。今用神麯散：</p>
<p>真陳六神麯研細炒香四兩。每食後，用開水調服二錢。</p>
<p>中焦為氣血津液朝會之所，今診得胃氣不能脈中流布，其亦元氣中餒也。酸以攝泄，辛以流動，惟甘以以培養，因增腫患而卻之。擬方備閱：</p>
<p>橘白、灼艾、醒頭草、麥冬、木瓜、五味子。</p>
<p>厥有十四。泄為一法，鎮為一法。曲直太過，不特侮土，並其上不畏金，鎮法恐其格不相入，因其勢而利導之，然後潤之滋之。鮮有不濟者：</p>
<p>羚羊角、金鈴肉、生甘草、淡吳萸、黑穭豆、生白芍、雲茯苓、川鬱金汁。</p>
<p>仲景書云：「瘧脈自弦」。一句開盡人天眼目。今三部九候之中，並無一毫弦象可見，與正氣相戰者，非比春之風、夏之暑、南方之瘴也。於此推之，思過半矣：</p>
<p>草果仁、炒厚樸、陳皮、白茯苓、製蒼朮，炙草。</p>
<p>脈愈按愈大，可知陰氣不足，瘧邪得以深入。漏蘆、鱉甲，補陰太過，非花甲勞心之體之所宜，汗泄過多，陽氣亦慮，胃間伏邪，水飲不入，種種皆所一不勝也，豈宜再從汗解耶？病者小心，醫者慎之：</p>
<p>人參、蔻仁、淡黃芩、生牡蠣、生地，陳皮、小青皮、生首烏、新穀、薑汁。</p>
<p>明系肝風上冒，左尺脈碎亂搏指，此乙癸同源，腎肝同病也。但少陰之脈，不至於巔，惟陰能至。以肝為重，腎次之：</p>
<p>羚羊角、生地、半夏、白芍、當歸身、陳皮、茯苓、菊花、女貞子。</p>
<p>此由金水不相承挹，故咳久不愈。切勿理肺，肺為嬌臟，愈理愈虛。證不可泛然滋陰。</p>
<p>北沙參、整玉竹、云茯神、川石斛、甜杏仁、生扁豆。</p>
<p>短氣失音，喉中時作水雞聲，右脈如革，面浮色痿，肺胃應之，心下痞硬。補瀉紛更，動無一效。甚於水令，劇中春候。擬進葦莖越婢成湯，進飲三劑：</p>
<p>石膏、桂枝木、白芍、杏仁、冬瓜子、生米仁。</p>
<p>本屬濕溫，化在三焦，充斥腠理。誤傷手太陰、足太陽之氣，必致漸入虛損一途，非病之過，治之過也。必移入高明靜虛之寶，治以百日之遙，庶幾得之。擬方開太陽，益太陰：</p>
<p>淡乾薑（同五味子搗爛）、茯苓、地骨皮、桑葉、生扁豆、生甘草。</p>
<p>弦動無情之脈，即名胃少。雖非《難經》所謂但弦無胃，而久病有此不宜。莫因失血而久進純陰之藥，陽氣抑而陰無所寸恃也。拙見且進甘溫：</p>
<p>建中湯加人參、炙綿耆、歸身。</p>
<p>病在奇經，治他經不應。要知血行清道，便知清氣不肅，所以鼻紅昏暈。二者皆出督脈，好異無用。以古法之法治之，自效。</p>
<p>生地、犀角、廣圓核、側柏葉。右蜜丸。早服五錢，晚服三錢，開水下。</p>
<p>暑者，熱中之陰邪也。心先受之，侵入胞絡。怠惰不語，神昏肢冷，為不治。今脈遲軟，漸有是機，四末漸冷，竟有內閉外脫之虞。急用通陽救逆之法，仿右大順散之義。未識何如：</p>
<p>桂枝、半夏、焦白芍、炙甘草。</p>
<p>右脈芤搏，耳聾，血下溢，寒熱不已。陰絡所傷，而厥陰不攝。當從至陰中宣出熱邪，是存陰第一義也：</p>
<p>青青、白知母、生白芍、炒黃柏、鱉甲、鮮荷葉。元米一合，泡湯為水。</p>
<p>右脈一息七至弦，右脈一息六至緊（原書即為兩個右脈：出自《浙江中醫雜誌》），咳而不得息。陰氣已弱，金水同受病。且議景嶽六君煎投之：</p>
<p>金水六君煎。</p>
<p>素有喘症，形氣怯弱，咽痛不腫，時咳。此新感風溫在肺，氣不下肅。尚宜清降：</p>
<p>桑葉、白沙參、塊茯苓、杏仁、川貝母、南棗肉。</p>
<p>稟質既薄，咳紅，極易傷陰。不可理肺，緣水出高原，肺主氣母，藉以生津補液，周環百脈故耳：</p>
<p>生地、清阿膠、枸杞子、料豆皮、麥冬、百合。</p>
<p>昨所同議之方。以兩關按之，脈弦。特借仲景旋覆代赭法，同四磨飲投之。旋渡有轉旋之功，代豬為鎮墜之品，鹹寒可降，酸可入肝；四磨則漸摩運化，使手太陰得行清肅之令，足厥陰無克侮之暴。今診得兩關弦象已減，面浮少退，是藥己應，而暴渴欲飲，則仍然如故。是則陽明之府，中垢不去，煎熬津液，下流一日不通，上流一日上泛。雖有補虛之策，孰敢泛投？且其虛脈虛象，顯然彰著，勢不容緩。前既借仲景之法，以退兩關之弦，此獨不可借仲景急去宿垢以存津液？然未可以子和霸法投之。擬以緩法，推陳致新，仍候昨日兩道長印可何如：</p>
<p>旋覆花、代赭石、人參，煎送沉香化氣丸二錢五分。</p>
<p>滋營養液膏：</p>
<p>女貞子、廣皮、干桑葉、熟地、旱蓮草、白芍、黑芝麻、枸杞子、鮮菊花、歸身、黑穭豆、玉竹、南燭葉、白茯神、沙蒺藜、炙草。</p>
<p>右前十四味，各四兩，後二味各二兩，天泉水、桑枝火熬成膏，收入真阿膠三兩，煉淨白蜜三兩，磁瓶貯好。每日卯時挑服五六錢，開水送下。</p>
<p>此方為林下服食之大藥，肝氣不和之妙品。貞、蓮二味，法二至以暗轉陰陽；佐桑麻，為調風氣應候，播植生機；助以杞、菊，為升降之春秋，亦承流以宣化，歸、芍辛酸，一通一泄，使無或滯之情，地黃、蒺藜，一填一養，不致肌虛之困；穭豆滋水息肝；南燭培元益氣；茯神、玉竹，為營衛報使，橘紅、甘草，為喉舌真司；阿膠濟水造成，激濁揚清之凜冽，蜂蜜一花釀就，和風甘雨之仁慈。服之不特調元卻老，且以見天地之生生有如是也。</p>
<p>心脾雙補丸：</p>
<p>人參、元參、五味子、遠志肉、麥冬、茯神、酸棗仁、柏子仁、於朮、川貝、生甘草、苦桔梗、丹參、生地、川黃連、金華香附、朱砂。</p>
<p>右為末，用桂圓肉熬膏代蜜，搗丸如彈子大。每晨嚼服一丸開水送下。</p>
<p>經云：「女子以心脾為立命之根。」凡心脾氣鬱，鬱則從火，久久不解，漸耗五陰。特制此方，有通有補，允與丹溪、立齋諸公相頡頏者。方義蓋取人參養心氣，麥冬益心津，生地、丹參益心陰，茯神、遠志安心神，五味、棗仁收心液，川連、甘草瀉心陽，桔梗利心氣，朱砂鎮心怯，白朮健脾陽，香附暢脾陰，川貝療脾鬱，特重其數，以對待心脾二臟，龍眼代蜜，大補心血，甘草和脾。丸如彈大，細嚼吞下，不致直趨下焦，其功倍著矣。名曰心脾雙補法。</p>
<p>治產後少腹結瘕：</p>
<p>人參、雲母粉、當歸、金鈴子、生地、吳茱萸，炒血芍，炒白川芎、乾漆、製香附、藕粉（生用）、老白韭根。</p>
<p>右為末，真神麯糊丸綠豆大。每日百丸，空心開水服下。</p>
