<header><h1>藥症忌宜</h1></header>
<dl class="元資料" data-type="book">
<div><dt>作者</dt><dd>陳三山</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1644/1911">公元1644年至公元1911年</data></dd></div>
</dl>
<h2>正文</h2>
<p><u>風症</u></p>
<p>　諸暴強直，支痛軟戾，裡急筋縮，皆屬於風。真中風猝僵仆，口噤不言，不省人事，如遺尿直視，口開手撒，汗出如珠，屬不治證。西北高寒之地有此，東南無之。</p>
<p>忌破氣，下，吐，苦寒，酸斂，諸藥俱錄後。</p>
<p>宜辛甘發散，峻補真氣。</p>
<p>桂枝　附子　甘草　獨活　羌活　天麻　麻黃　防風　芎　細辛　本　牛黃辛夷　白芷　蔓荊實　牡荊實　人參　黃有痰加竹瀝、南星、半夏、薑汁。</p>
<p><u>類中風</u></p>
<p>　口眼歪斜，語言謇澀，半身不遂，口噤不言，四肢不舉，痰涎壅盛，昏瞀不省人事。</p>
<p>忌汗，吐，下，大忌破氣，溫熱，苦寒，及一切治風濕辛燥發散，並開竅走真氣行血諸藥，慎勿犯之，犯之則輕必重，重必斃。</p>
<p>麝香　蘇合香　檀香　龍腦香　安息香余忌藥俱錄後。</p>
<p>宜滋補，陽虛者補氣，陰虛者補血，陰陽兩虛則氣血雙補，兼宜清熱降氣豁痰，及保脾胃。</p>
<p>天門冬（脾胃薄弱者勿多用）　麥門冬　荊瀝　蘇子　栝蔞根　枇杷葉　貝母　霞天膏橘紅　甘草　竹瀝　童便　梨汁　黃柏次益血於前藥中加胡麻仁　石斛　生地黃　牛膝　薯蕷　五味子　甘菊花　丹參　枸杞子　竹葉鱉甲　菟絲子　何首烏　木瓜　山茱萸　芍藥　遠志　白蒺藜　酸棗仁　青蒿　栝蔞仁　沙參　茯苓巴戟天　柏子仁　人參　車前子　茯神　羚羊角如便閉加肉蓯蓉、當歸，倍麻仁，兼氣虛加人參、黃　，有肺熱者，勿入人參。</p>
<p><u>感冒風寒</u></p>
<p>　俗名傷風，其症或頭疼身熱，輕者則兩鼻必塞，兼流清涕，必惡風寒，或聲重或聲啞，甚者痰壅氣喘咳嗽。</p>
<p>忌補氣，酸斂，閉氣，諸藥錄後。</p>
<p>宜發散，辛甘，溫。</p>
<p>芎　細辛　本　防風　甘草　荊芥　白芷　前胡　桔梗　紫蘇　薄荷　杏仁</p>
<p><u>傷風熱</u></p>
<p>忌同感冒風寒。</p>
<p>宜辛寒，甘寒，發散。</p>
<p>石膏　知母　甘草　竹葉　麥冬　前胡　桔梗　薄荷　葛根　桑白久而不愈者屬虛，陽虛者加人參、黃　，陰虛者加五味、地黃，倍麥冬、白芍。</p>
<p><u>寒症諸病</u></p>
<p>　上下所出水液，澄澈清冷，　瘕　疝堅痞，腹滿急痛，下利清白，食已不飢，吐利腥穢，屈伸不便，厥逆禁固，皆屬於寒。凡中寒必本於陽虛。</p>
<p>忌破氣，苦寒，下，苦寒，辛寒　諸藥錄後。</p>
<p>宜補氣，散寒，辛甘，溫熱，輕者解表，重者溫補。</p>
<p>桂枝　乾薑　麻黃　人參　附子　黃　傷寒冬月即病，宜從仲景法。</p>
<p><u>暑症諸病</u></p>
<p>　喘嘔暴注下迫，霍亂轉筋，身熱瞀郁，小便濁赤，皆屬於暑。</p>
<p>忌破氣，升，復忌下，濕潤，辛溫，辛燥，熱散，閉氣，熱，諸藥錄後。</p>
<p>宜清暑益氣，健脾，甘寒，苦溫，辛寒，酸寒，苦寒。</p>
<p>黃連　香薷　葛根　石膏　知母　甘草　人參　黃　白朮　扁豆　神麯　橘皮　茯苓木瓜　麥門　五味　白芍　白梅　烏梅大約用清暑益氣湯、香薷飲、生脈散。凡病暑之人，其氣必虛，暑傷氣，無氣以動，故當補氣為本。惟肺熱多火者，忌參、朮。</p>
<p><u>中暑</u></p>
<p>　猝昏暈，急以童便入即省。</p>
<p>忌宜俱同暑。</p>
<p>又方用絲瓜葉一片，白鹽梅肉一枚，並取核中仁，共研如泥，新汲水調灌立瘥，兼治中暑霍亂如神。</p>
<p><u>太陽病中　</u></p>
<p>忌同暑。</p>
<p>宜人參白虎湯。有肺病不能服參者，用竹葉石膏湯。脾胃作瀉者，水調六一散。</p>
<p><u>霍亂</u></p>
<p>　見胃虛條內。</p>
<p>忌宜俱同暑。</p>
<p><u>疰夏</u></p>
<p>　繇於脾胃薄弱，胃家有濕熱，及留飲所致。</p>
<p>忌同前。</p>
<p>宜益氣健脾，酸寒，苦寒，淡滲。</p>
<p>人參　半夏　白朮　橘皮　茯苓　扁豆　白芍　木瓜　澤瀉　兼服生脈散</p>
<p><u>濕症</u></p>
<p>　諸痙強直，積飲痞膈中滿，霍亂吐下，體重　腫，肉如泥，按之不起，皆屬於濕。經云：地之濕氣，感則害人。皮肉筋脈，故其病筋骨疼痛，腰重痛，不可轉側，身重四肢不利。濕在上，病嘔吐頭重胸滿。濕在中，腹脹中滿泄瀉。濕在下，足腔跗腫，腳氣瘡久不愈。</p>
<p>忌濕潤，甘，咸，諸藥錄後。</p>
<p>宜散，滲泄，燥，辛，苦。</p>
<p>木瓜　薏苡　蒼朮　石斛　萆　石菖蒲　茯苓佐以防風、葛根，寒濕加半夏、五加皮，風濕加獨活，濕熱加黃柏、車前子、木通，甚者漢防己。</p>
<p><u>香港腳</u></p>
<p>　繇於濕熱。</p>
<p>忌溫燥，濕熱，補氣，復忌破氣，升，諸藥錄後。</p>
<p>宜清熱，除濕，利小便，甘平，酸寒，苦寒，辛溫，淡滲。</p>
<p>黃柏　石斛　麥門冬　木瓜　茯苓　石菖蒲　木通　澤瀉　薏苡仁　萆　防己　車前子</p>
<p><u>燥症</u></p>
<p>　諸澀枯涸，干勁皴揭，皆屬於燥。角弓反張，筋攣急不舒，舌強不能言，二便閉澀，口渴口乾，舌苦，皮膚皴揭，毛髮脆折，津液不生，血枯胃槁，以致飲食不化，噎膈吐食。</p>
<p>忌升散，破氣，下，辛燥，大熱，溫，藥錄後。</p>
<p>宜潤，益血，辛，甘寒，酸寒，鹹寒，有熱症者，宜兼清熱。</p>
<p>當歸　地黃　麥門冬　人乳　牛乳　肉蓯蓉　酥　蜜　甘菊花　胡桃　麻仁　柏子仁　人參胡麻　天門冬　松實　蔗漿　五味子　白芍　棗仁　蘆根汁　梨汁　韭汁　童便　佐以薑汁</p>
<p><u>火症</u></p>
<p>　諸熱瞀　，暴喑冒昧，躁擾狂越，罵詈驚駭，　腫疼酸，氣逆上衝，禁栗如喪神守，嚏嘔瘡瘍，喉痹耳鳴及聾，嘔涌溢，食不下，目昧不明，暴注　，暴病暴死，皆屬於火。</p>
<p>忌補斂，升發，閉氣，辛燥，溫熱，諸藥錄後。</p>
<p>宜降折，下，鹹寒，苦寒，辛寒，甘寒。</p>
<p>大黃　童便　芒硝　黃芩　黃連　黃柏　連翹　石膏　山梔　玄參　甘草　知母　天冬麥冬　生地　藍汁虛者宜甘寒鹹寒以滋水，不宜用苦寒傷胃。</p>
<p><u>猝眩仆</u></p>
<p>　九竅流血，多不治。</p>
<p>忌同火。</p>
<p>宜童便、鹽湯、竹瀝、藍汁、梨汁、生犀角汁。</p>
<p><u>猝心痛</u></p>
<p>忌同火。</p>
<p>宜山梔　白芍藥　玄胡索　生甘草　鹽湯　蘇子</p>
<p><u>目暴赤腫痛甚</u></p>
<p>　見肝實條內。</p>
<p>忌宜俱同。</p>
<p><u>二便忽閉</u></p>
<p>　以利小便為先。</p>
<p>忌同火。</p>
<p>宜降潤，苦寒，甘寒，辛寒，利竅。</p>
<p>大黃　蘇子　生蜜　麻仁　桃仁　石膏　知母　天冬　麥冬　黃芩　山梔　滑石　澤瀉豬苓　車前　木通</p>
<p><u>頭面赤腫</u></p>
<p>忌同火。</p>
<p>宜清熱解毒，發散，苦寒，辛寒，甘寒，鹹寒。</p>
<p>甘菊花　鼠黏子　連翹　荊芥　薄荷　蟬蛻　大黃　玄參　石膏　知母　竹葉　童便　生甘草</p>
<p><u>忽大渴思冰水</u></p>
<p>忌同火。</p>
<p>宜潤，生津液，辛寒，甘寒，鹹寒。</p>
<p>石膏　知母　玄參　麥冬　竹葉　栝蔞根　梨汁　蔗漿　童便　涼水　冰　五味子</p>
<p><u>口乾舌苦</u></p>
<p>忌宜俱同火。</p>
<p><u>暴喑</u></p>
<p>忌同火。</p>
<p>宜降氣，發音聲，苦，苦寒，辛涼，鹹寒。</p>
<p>蘇子　枇杷葉　貝母　桔梗　百部　竹瀝　梨汁　天門冬　甘草　薄荷　玄參　童便　麥冬　桑白皮</p>
<p><u>暴注</u></p>
<p>忌同火。</p>
<p>宜利水，苦寒，酸寒。</p>
<p>茯苓　黃連　黃芩　白芍藥　生甘草　葛根　滑石　木通虛者加人參、白扁豆、蓮肉。</p>
<p><u>躁擾狂越，罵詈驚駭</u></p>
<p>忌同火。</p>
<p>宜清鎮，苦寒，辛寒，鹹寒。</p>
<p>丹砂　牛黃　黃連　黃芩　山梔　滑石　石膏　知母　童便大便閉者加大黃下之，不行加芒硝。</p>
<p><u>禁栗如喪神守</u></p>
<p>忌同火。</p>
<p>宜同躁擾狂越。</p>
<p>氣逆衝上。</p>
<p>忌同火。</p>
<p>宜降氣，酸斂，甘寒，苦寒，鹹寒。</p>
<p>蘇子　枇杷葉　橘紅　五味子　石斛　番降香　黃柏　山茱萸　牛膝　白芍藥　童便　桑白皮　麥冬</p>
<p><u>　瞀　</u></p>
<p>忌同火。</p>
<p>宜清熱和肝，酸寒，苦寒，辛寒，甘寒。</p>
<p>白芍藥　生甘草　竹葉　玄參　黃連　生地黃　甘菊花　麥門冬　知母　石膏以上忌宜為風寒暑濕燥火六淫外症，下乃陰陽五臟六腑裡虛實內症之忌宜也。</p>
<p><u>陽虛</u></p>
<p>　即真氣虛，其證惡寒，或發熱自汗，汗多亡陽，陽虛不發熱，單惡寒者居多。</p>
<p>忌破氣，降泄，利水，苦寒，又忌辛熱發散。</p>
<p>青皮　枳殼　厚朴　牽牛　檳榔（以上破氣）　大黃　石膏　山梔　知母　天冬　生地栝蔞（以上降泄）　澤瀉　木通　瞿麥　漢防己　海金沙　葶藶　豬苓　滑石（以上利水）</p>
<p>黃芩　黃連　黃柏　玄參　槐花（以上苦寒）　芍藥　烏梅　醋（以上酸）　麻黃　羌活　獨活　前胡防風　荊芥　吳茱萸（以上辛熱發散）宜補，甘，溫，熱。</p>
<p>人參　黃　二術　炙草　當歸　桂　淫羊藿　附子　仙茅　鹿茸　羊肉　補骨脂　巴戟天</p>
<p><u>陰虛</u></p>
<p>　即精血虛，其證為咳嗽多痰，吐血咯血嗽血，鼻衄齒衄，盜汗自汗，發熱寒熱潮熱，骨乏無力，不眠氣急，腰背痛。</p>
<p>忌補氣，復忌破氣，燥熱辛溫，又忌大寒大苦傷胃，並升提發散，利水。</p>
<p>人參　黃　二術（以上補氣）　南星　半夏　附子　官桂　桂枝　仙茅　鹿茸　乾薑　丁香　胡椒烏頭　火酒　吳萸　烏藥　生薑（以上燥熱辛溫）　山梔　黃芩　黃連　大黃　芒硝　玄明粉（以上大寒大苦傷胃）　麻黃　升麻　柴胡　羌活　獨活　本　川芎　防風（以上升提發熱）　破氣利水藥錄後。</p>
<p>宜生精補血，兼清虛熱，斂攝，酸寒，甘寒，甘平，鹹寒，略兼苦寒。</p>
<p>地黃　柏仁　人乳　沙苑蒺藜　枸杞子　牛膝　麋角膠　阿膠　酸棗仁　沙參　石斛　白芍藥　山茱萸　遠志　地骨皮　薯蕷　續斷　車前子　五味子　鱉甲　麥門冬　黃柏　知母　牡丹皮</p>
<p><u>表虛</u></p>
<p>　其證自汗惡風，洒淅寒，喜就溫暖，脈浮無力。</p>
<p>忌破氣，升發，辛熱。</p>
<p>麻黃　升麻　防風　柴胡　羌活　獨活　前胡　干葛　紫蘇　薄荷　白芷　生薑　荊芥（以上升發）</p>
<p>吳萸　桂枝（表虛而中寒者不忌）　乾薑（以上辛熱）　破氣藥見後。</p>
<p>宜補斂，益氣實表，甘，酸。</p>
<p>人參　黃　芍藥　甘草　桂枝（有熱者勿用）　五味子</p>
<p><u>裡虛</u></p>
<p>　其證洞泄，或完穀不化，心腹痛，按之即止，或腹脹，或傷寒，下後痞滿。</p>
<p>忌破氣，下，苦寒。</p>
<p>大黃　芒硝　玄明粉　牽牛（已上下）　黃芩　黃連　山梔　天門冬　防己　知母（上苦寒）　破氣藥錄後。</p>
<p>宜溫補，甘，佐以辛熱。</p>
<p>人參　朮　炙甘草　大棗　糯米　肉桂　附子（有熱者勿用）　乾薑</p>
<p><u>陽實</u></p>
<p>　即表邪熱盛，其證頭痛寒熱，遍身骨痛無力。</p>
<p>忌補斂，下，大熱。</p>
<p>黃　人參　二術　桂枝　芍藥　五味　醋　米面食　豬羊犬（以上補斂）　附子　胡椒乾薑　肉桂　蒜　吳茱萸（以上大熱）　下藥錄後。</p>
<p>宜辛寒發散，天寒略加辛熱辛溫佐之。</p>
<p>石膏　知母　葛根　麥冬　前胡　柴胡　黃芩　紫蘇　薄荷　升麻　防風　蔥白　荊芥　羌活麻黃（冬月可用春夏忌之）</p>
<p><u>陰實</u></p>
<p>　即裡實，外感證屬邪熱內結者，其證胸腹硬痛，手不可近，大便七八日不行，或挾熱下痢。</p>
<p>忌辛溫發散，補斂，藥見上。</p>
<p>宜下，苦寒，鹹寒，甘辛。</p>
<p>大黃　厚朴　枳實　滑石　山梔　黃芩　黃連　藍　茵陳　芒硝　桃仁</p>
<p><u>陽厥</u></p>
<p>　即熱厥，其證四肢厥逆，身熱面赤，唇燥大渴，口乾舌苦，目閉或不閉，小便赤澀短少，大便燥結，不省人事。</p>
<p>忌升發，補斂，燥熱辛溫，諸藥俱錄後。</p>
<p>宜下，清熱，甘寒，苦寒，鹹寒。</p>
<p>大黃　芒硝　石膏　黃芩　黃連　山梔　知母　童便如挾虛有痰者，宜麥門冬、竹瀝、蘆根汁、梨汁、牛黃、童便，如婦人熱入血室，因而厥者，藥中以童便為君，加赤芍藥、生地黃、牛膝、牡丹皮、桃仁，甚者大便結燥，加大黃、芒硝下之，通即止，勿盡劑。</p>
<p><u>陰厥</u></p>
<p>　即寒厥，其證四肢厥逆，身冷面青，蜷臥，手指爪青黯，腹痛大便溏，或完穀不化，小便自利，不渴，不省人事。</p>
<p>忌下，破氣，苦寒，鹹寒，酸寒。</p>
<p>食鹽　童便（以上鹹寒）　芍藥　醋（以上酸寒）下破氣苦寒藥錄後。</p>
<p>宜補氣，溫中，甘溫，辛熱。</p>
<p>人參　乾薑　附子　桂　吳茱萸</p>
<p><u>上盛下虛</u></p>
<p>　屬陽盛陰虛。</p>
<p>忌升散，下，助陽補氣，復忌破氣，燥熱辛。</p>
<p>宜降，益陰，甘寒，酸寒，佐以鹹寒，苦寒。</p>
<p>蘇子　生地　沙參　牛膝　枇杷葉　枸杞子　麥冬　天冬　白芍　玄參　山茱萸　五味子　黃柏　童便</p>
<p><u>心虛</u></p>
<p>　（八證）</p>
<p>忌升發，破氣，苦寒，辛燥，大熱，諸藥錄後。</p>
<p>宜補血，甘溫，酸斂，佐以鹹寒，鎮墜。</p>
<p>生地黃　龍眼肉　人參　石斛　丹參　茯神　炙甘草　酸棗仁　五味　柏仁　遠志　炒鹽</p>
<p><u>癲癇驚邪</u></p>
<p>　屬心氣虛，兼有熱痰。</p>
<p>忌同上。</p>
<p>宜清熱豁痰，合心虛加麥門冬　犀角　羚羊角　竹瀝　天竺黃　牛黃　膽星　貝母　琥珀　金箔</p>
<p><u>心煩不得眠</u></p>
<p>　屬心血虛有熱。</p>
<p>忌同上。</p>
<p>宜養陰血清熱，加白芍藥　玄參　黃連　淡竹葉　沙參</p>
<p><u>怔忡</u></p>
<p>　心澹澹動，盜汗屬心血虛，汗者心之液也。</p>
<p>忌同上。</p>
<p>宜補斂清熱，合心虛加當歸　黃　芍藥　黃芩　黃柏</p>
<p><u>伏梁</u></p>
<p>　屬心經氣血虛，以致邪留不去。</p>
<p>忌破血，汗，下。</p>
<p>三棱　蓬莪　薑黃　虻蟲　紅藍花　水蛭　桃仁（以上破血）　諸藥錄後。</p>
<p>宜活血，涼血，散熱通結，辛鹹。</p>
<p>當歸　乳香　五靈脂　沒藥　赤芍藥　鬱金　遠志　菖蒲　玄胡索　茯神　參用東垣伏梁丸治之。</p>
<p><u>肝虛</u></p>
<p>　（十證）</p>
<p>忌收斂，破氣，苦寒，下，諸藥錄後。</p>
<p>宜辛散，甘緩。</p>
<p>當歸　陳皮　生薑　地黃　甘菊　甘草　胡麻　穀精草　決明子　刺蒺藜因鬱而虛者加細辛、縮砂密、沉水香、川芎、香附。</p>
<p><u>轉筋</u></p>
<p>　屬血虛。</p>
<p>忌下，復忌升，燥熱，閉氣，苦寒，破氣。</p>
<p>二術　黃　銀杏　豬脂　羊肉　面（以上閉氣）</p>
<p>宜酸，辛，甘平。</p>
<p>木瓜　牛膝　當歸身　石斛　續斷　陳皮　芍藥　炙草　縮砂密</p>
<p><u>目昏目光短</u></p>
<p>　屬肝血虛，及腎水真陰不足。</p>
<p>忌破氣，升，燥熱，諸藥錄後。</p>
<p>宜補肝兼滋腎，甘溫益血，甘寒除熱。</p>
<p>甘枸杞　生地黃　甘菊花　沙苑蒺藜　穀精草　五味子　決明子　天門冬　麥門冬</p>
<p><u>目翳</u></p>
<p>　屬肝熱，兼腎水不足。</p>
<p>忌破氣，升，燥熱，苦寒，諸藥錄後。</p>
<p>宜補肝血，除熱，退翳。</p>
<p>甘菊花　生地黃　決明子　石決明　沙苑蒺藜　羚羊角　犀角　黃連　伏翼糞　木賊　穀精草密蒙花　人爪　蟬蛻　石蟹　真珠　琥珀</p>
<p><u>亡血過多</u></p>
<p>　角弓反張，或小腹連陰作痛，屬肝血虛有熱。</p>
<p>忌同肝血虛。</p>
<p>宜補血清熱，甘寒，甘溫，酸寒，鹹寒，辛潤。</p>
<p>當歸　生地黃　白芍藥　炙草　牛膝　麥冬　童便　牡丹皮　甘菊花有汗加人參、黃　、棗仁、五味子。</p>
<p><u>偏頭痛</u></p>
<p>　屬血虛，肝家有熱不急治，久之必損目。</p>
<p>忌同目昏。</p>
<p>宜養血，清虛熱，甘寒，酸寒，辛寒。</p>
<p>生地黃　天門冬　甘菊花　白芍藥　當歸　川芍　烏梅　炙甘草　土茯苓　金銀藤　黑豆有火實者加黃連（酒炒）　大黃（酒蒸）　芎　石膏　雨前茶。</p>
<p><u>目黑暗眩暈</u></p>
<p>　屬血虛，兼腎水真陰不足。</p>
<p>忌同上。</p>
<p>宜養血補肝，清熱，甘寒，甘平，酸寒，苦寒。</p>
<p>生地黃　枸杞子　甘菊花　五味子　白蒺藜　當歸　薯蕷　甘草　山茱萸　白芍藥　天門冬　黃柏</p>
<p><u>肥氣</u></p>
<p>　屬氣血兩虛，肝氣不和，逆氣與瘀血相並而成。</p>
<p>忌同上苦寒。</p>
<p>宜和肝散結氣，兼行氣血凝滯，甘溫，甘平。</p>
<p>川芎　當歸　沉香　乾薑　肉桂　橘皮　紅花　鬱金　玄胡索　赤芍藥　香附　山楂　紅曲　砂仁參用東垣肥氣丸治之。</p>
<p><u>脾虛</u></p>
<p>　（十二證）</p>
<p>忌下，降泄，破氣，苦寒，諸藥錄後。</p>
<p>宜甘溫，佐以辛香，酸平。</p>
<p>人參　大棗　黃　薯蕷　炙甘草　白茯苓　蓮肉　橘紅　薷香　木瓜　白扁豆　白豆蔻　白芍　棗仁</p>
<p><u>飲食勞倦傷脾</u></p>
<p>　發熱，或飲食不消化，補藥中加麥　、穀　。</p>
<p>忌破氣，消導克伐，苦寒，復忌燥。</p>
<p>草果　枳實　檳榔　蓬莪　三棱宜補中益氣，甘溫，升，酸。</p>
<p>人參　黃　朮　炙甘草　大棗　白芍藥　柴胡　升麻　石斛　麥門冬　橘紅　酸棗仁</p>
<p><u>停飲</u></p>
<p>　為恣飲湯水，或冷茶冷酒所致。</p>
<p>忌下，酸斂，濕潤，滯膩。</p>
<p>桃仁　郁李仁宜健脾利水，淡滲，兼辛散。</p>
<p>人參　白朮　半夏　茯苓　橘皮　澤瀉　豬苓　木通　桑白皮　旋覆花　紫蘇　白豆蔻</p>
<p><u>水腫</u></p>
<p>　屬脾氣虛。</p>
<p>忌破氣，下泄，濕潤，咸，苦寒。</p>
<p>食鹽　商陸（以上咸）　諸藥錄後。</p>
<p>宜補脾益氣，燥濕，利水，辛香，甘溫，佐以淡滲。</p>
<p>人參　二術　薏苡仁　橘皮　薯蕷　桑白皮　木瓜　茯苓　赤小豆　香薷　豬苓　縮砂密　澤瀉　薑皮</p>
<p><u>脾虛中滿</u></p>
<p>　屬脾氣虛，兼脾陰虛。</p>
<p>忌破氣，下，消導，利水，甘。</p>
<p>飴糖　大棗　蜜　甘草（以上甘）　諸藥錄後。</p>
<p>晝劇夜靜，屬脾氣虛，宜補氣健脾，甘溫，淡滲，佐以辛香。</p>
<p>人參　二術　白芍藥　茯苓　橘皮　桑白皮　薑皮　藿香　車前子　縮砂密　無熱證佐以桂。</p>
<p>夜劇晝靜，屬脾陰虛，宜補脾陰，兼制肝清熱，甘平，酸寒，淡滲。</p>
<p>酸棗仁　石斛　蓮肉　白芍藥　橘皮　白扁豆　五味子　蘇子　木瓜　桑白皮　茯苓　車前子</p>
<p><u>噎膈</u></p>
<p>　屬氣血兩虛，繇於血液衰少，而非痰氣壅逆所成。</p>
<p>忌破氣，升，復忌下，消導，燥，苦寒，辛熱。</p>
<p>宜降，清熱潤燥，甘溫甘平以益血，佐辛香順氣。</p>
<p>蘇子　橘紅　枇杷葉　人參　白芍藥酸棗仁　人乳　牛乳　蘆根汁　薑汁　龍眼肉　白豆蔻　蔗漿　梨汁　韭汁</p>
<p><u>脾泄</u></p>
<p>　屬氣虛。</p>
<p>忌破氣，下，消導，苦寒，諸藥錄後。</p>
<p>宜溫中補氣，升清，甘溫，甘平，佐以辛香。</p>
<p>人參　白朮　炙甘草　薯蕷　白扁豆　車前子　蓮肉　茯苓　白芍藥　升麻　肉豆蔻　縮砂密　柴胡橘皮　白萊菔　木香　丁香　藿香兼有濕及痰，經年不愈，糞色白者，須服丸制松脂。</p>
<p><u>健忘</u></p>
<p>　屬氣血兩虛。</p>
<p>忌升，燥熱，復忌苦寒，辛散，諸藥錄後。</p>
<p>宜益脾陰，兼補氣，酸斂，甘溫，甘寒，辛平，通竅。</p>
<p>酸棗仁　白芍藥　人參　黃　丹參　炙甘草　五味子　龍眼肉　茯神　遠志　柏子仁　麥門冬石菖蒲　茯苓</p>
<p><u>倦怠嗜臥</u></p>
<p>　屬脾氣不足。</p>
<p>忌破氣，消導，苦寒。</p>
<p>宜補氣，兼健脾，甘溫，辛香。</p>
<p>人參　白朮　炙甘草　黃　茯苓　白扁豆　薯蕷　穀　縮砂密　橘皮　藿香　白豆蔻</p>
<p><u>脾虛腹痛</u></p>
<p>　按之則止，屬血虛。</p>
<p>忌破氣，破血，香燥，苦寒，諸藥錄後。</p>
<p>宜益氣補血，甘溫，酸平。</p>
<p>酸棗仁　炙甘草　人參　大棗　石斛　龍眼肉　麥門冬　白芍藥</p>
<p><u>痞氣</u></p>
<p>　屬脾氣虛，及氣鬱所致。</p>
<p>忌破氣，下，濕潤，苦寒。</p>
<p>宜健脾，兼散結滯，甘溫，辛香。</p>
<p>人參　白芍　橘紅　縮砂密　藿香　穀　麥　紅曲　香附　吳茱萸　木香（參東垣痞氣丸治之）</p>
<p><u>肺虛</u></p>
<p>（七證）</p>
<p>忌補氣，升散，辛燥，溫熱，諸藥錄後。</p>
<p>宜清熱，降氣，酸斂，潤燥。</p>
<p>貝母　蘇子　沙參　百部　天門冬　麥門冬　百合　杏仁　蜜　梨　柿　枇杷葉　桑白　五味　五倍子無熱加人參。</p>
<p><u>　喘</u></p>
<p>　屬肺虛有熱，因而痰壅。</p>
<p>忌破氣，升，發散，收澀。</p>
<p>訶子　亞芙蓉　粟殼（以上收澀）　余錄後宜降氣，消痰，辛涼，甘寒，苦平。</p>
<p>枇杷葉　蘇子　貝母　竹瀝　桑根白　栝蔞根　款冬花　百部　百合　薄荷　天門冬　麥門冬　馬兜鈴沙參　前胡　白前　射干</p>
<p><u>咳嗽</u></p>
<p>　吐血痰並聲啞，屬肺熱甚。</p>
<p>忌升，破氣，復忌補氣，破血，辛燥，熱，收澀。</p>
<p>宜降氣清熱，潤肺生津液，涼血益血，甘寒，甘平，鹹寒，佐以苦寒。</p>
<p>生地黃　鬱金　蒲黃　柔根　白芨　阿膠　側柏葉　童便　知母</p>
<p><u>肺痿</u></p>
<p>　屬肺氣虛，有熱。</p>
<p>忌宜俱同肺虛。</p>
<p><u>龜胸</u></p>
<p>　屬肺熱有痰。</p>
<p>忌宜俱同　喘咳嗽。</p>
<p><u>息賁</u></p>
<p>　屬肺氣虛，痰熱壅結所致。</p>
<p>忌破氣，辛熱，補斂。</p>
<p>宜降氣，清熱開痰，佐以散結。</p>
<p>橘皮　白豆蔻　白芥子　旋覆花　射干　桔梗　桑白皮參用東垣息賁丸治之。</p>
<p><u>腎虛</u></p>
<p>　即腎水真陰不足。</p>
<p>忌升，破氣，利水，溫熱，辛燥，補命門相火。</p>
<p>仙茅　巴戟天　葫蘆巴　人參　補骨脂　鹿茸　人胞（以上補命門相火）　余藥錄後。</p>
<p>宜滋陰，潤，生精補血，除熱，甘寒，酸寒，苦寒，鹹寒。</p>
<p>地黃　牛膝　枸杞子　人乳　肉蓯蓉　柏子仁　胡麻　杜仲　山茱萸　續斷　天門冬　麥門冬　知母黃柏　五味子　鱉甲　菟絲子　車前子　丹參　童便　地骨皮　沙苑蒺藜　薯蕷</p>
<p><u>腎虛腰痛</u></p>
<p>　屬精氣虛。</p>
<p>忌破氣，燥熱。</p>
<p>宜同腎虛。</p>
<p><u>骨乏無力</u></p>
<p>　屬陰精不足，腎主骨故也。</p>
<p>忌宜俱同腎虛。</p>
<p><u>骨蒸潮熱</u></p>
<p>　屬精血虛極，以致陽無所附，火空上炎。</p>
<p>忌宜俱同腎虛。</p>
<p><u>傳尸癆</u></p>
<p>忌同腎虛。</p>
<p>宜除熱益陰，殺癆蟲，兼清鎮。</p>
<p>諸藥同腎虛，加　鬼臼　乾漆　漆葉　胡黃連　蘆薈　象膽　獺肝　安息香　丹砂　磁石　神水</p>
<p><u>五心煩熱</u></p>
<p>　屬真陰不足。</p>
<p>忌宜俱同腎虛。</p>
<p><u>夢遺泄精</u></p>
<p>　屬腎虛有火。</p>
<p>忌同腎虛。</p>
<p>宜滋陰，生精補血，除熱，酸斂，佐以澀精。</p>
<p>石斛　蓮花蕊　生甘草　龍骨　魚膠　蓮肉　牡蠣　縮砂密　覆盆子　遠志　韭子</p>
<p><u>小便短澀</u></p>
<p>　熱赤頻數，屬腎虛有火。</p>
<p>忌宜俱同腎虛。</p>
<p><u>溺有餘瀝</u></p>
<p>　屬氣虛。</p>
<p>忌同腎虛。</p>
<p>宜亦同腎虛，以五味子、黃柏、人參為君，加菟絲子、覆盆子為臣，益智為佐。</p>
<p>如覺平日肺家有熱，或咳嗽有火者，忌人參，用沙參。</p>
<p><u>溺血血淋</u></p>
<p>　屬腎虛，有火熱傷血分。</p>
<p>忌同腎虛。</p>
<p>宜同腎虛，加側柏葉　阿膠　茅根　韭白　乾地黃　戎鹽　蒲黃</p>
<p><u>傷精白濁</u></p>
<p>　屬房勞過度，以致精傷流出，似白濁證。</p>
<p>忌利小便，燥，辛熱。</p>
<p>宜同腎虛。</p>
<p><u>五淋</u></p>
<p>　屬腎虛，兼有濕熱。</p>
<p>忌同腎虛。</p>
<p>宜亦同，加清濕熱。</p>
<p>茯苓　黃柏　車前子　石斛　萆　薏苡仁</p>
<p><u>精塞水竅不通</u></p>
<p>　屬房欲不竟，或思欲不遂，或懼泄忍精，或老人氣不足以送精出竅。</p>
<p>忌破氣，下，利小便，燥熱。</p>
<p>宜行敗精，壯實人宜兼泄火，老人宜兼補氣血，外治用吮法。</p>
<p>牛膝　生地黃　當歸　桃仁　車前子　鹿角霜　紅花</p>
<p><u>齒浮</u></p>
<p>　真牙搖動，及下齦軟，或齒衄，屬腎虛有熱。</p>
<p>忌同腎虛，又忌當歸、芎　。</p>
<p>宜益陰，涼血，固腎，諸藥略同腎虛，應以地黃、黃柏、五味子為君，桑椹、牛膝、沙苑蒺藜、鹿茸、天門冬為臣，龍骨、牡蠣為使。</p>
<p><u>下消</u></p>
<p>　屬腎陰虛，火伏下焦。</p>
<p>忌同腎虛。</p>
<p>宜清熱，及峻補真氣，潤，酸斂，諸藥同腎虛，宜以黃柏、五味子、生地黃、天門冬、麥門冬、人參為君，石斛、牛膝、知母、人乳、童便為臣，地骨皮、青蒿、側柏為佐。</p>
<p><u>善恐</u></p>
<p>　屬腎氣虛，腎藏志故也。</p>
<p>忌破氣，苦寒，諸藥錄後。</p>
<p>宜補氣強志，辛平，甘溫，佐以辛香。</p>
<p>人參　遠志　茯苓　酸棗仁　柏子仁　沉水香　鹿茸　石斛</p>
<p><u>陰竅漏氣</u></p>
<p>　屬腎氣虛不固，腎主納氣，虛則不能納故也。</p>
<p>忌破氣，降，香燥，辛熱。</p>
<p>蘇子　鬱金　降香　橘皮　沉水香　通草（以上降）　白豆寇　木香　香附（以上香燥）　余藥錄後。</p>
<p>宜補真氣，酸斂，固澀。</p>
<p>人參　五味子　山茱萸　覆盆子　龍骨　牡蠣　遠志　枸杞子　益智子　金櫻子　沙苑蒺黎　蓮須參用腎虛條內諸藥。</p>
<p><u>疝</u></p>
<p>　屬腎虛，寒濕邪乘虛客之所致。丹溪謂與腎經絕無相干者，誤也。又有先因寒邪為病，後成濕熱者。藥宜分寒熱先後二途。</p>
<p>忌升，破氣，苦寒，濕潤，諸藥錄後。</p>
<p>宜補氣，通腎氣，除濕，又有陰虛有熱之人病此，兼宜除濕。</p>
<p>人參　黃　橘核　合歡子　荔枝核　牛膝　木瓜　杜仲　萆　川楝子　巴戟天虛寒而痛加桂、茴香、補骨脂、仙茅。</p>
<p>虛熱而痛加黃柏、車前子、濕盛者加朮。</p>
<p><u>奔豚</u></p>
<p>　屬腎虛，脾家濕邪下傳客腎所致。</p>
<p>忌同疝，兼忌燥。</p>
<p>宜補氣，健脾，辛溫，散結。</p>
<p>人參　薯蕷　桂　牛膝　山茱萸　蛇床子　茴香參用東垣奔豚丸治之。</p>
<p><u>命門虛</u></p>
<p>　即元陽真火不足。（四證）</p>
<p>忌下泄，破氣，發散，辛寒，苦寒，淡滲，燥，補腎水苦寒藥，諸藥錄後。</p>
<p>黃柏　知母　生地黃　天門冬（以上補腎水苦寒藥）</p>
<p>宜益真陰之氣，甘溫，咸溫，甘熱，酸斂。</p>
<p>人參　人胞　肉蓯蓉　菟絲子　枸杞子　五味　石棗　鹿茸　覆盆子　巴戟天　補骨脂　附子仙茅</p>
<p><u>陰痿</u></p>
<p>　屬命門火衰，下焦虛寒。</p>
<p>忌同命門虛。</p>
<p>宜同命門虛，加海狗腎　蛇床子　原蠶娥　牛膝　雀卵　狗陰莖</p>
<p><u>腎泄</u></p>
<p>　即五更及黎明泄瀉者是也，亦名大瀉泄，屬命門真火不足。</p>
<p>忌同命門虛。</p>
<p>宜益火，甘溫。</p>
<p>肉豆蔻　補骨脂　人參　薯蕷　蓮肉　砂仁　吳茱萸　五味子　木香</p>
<p><u>小腸虛遺尿</u></p>
<p>　屬小腸氣虛，兼腎不足。</p>
<p>忌破氣，辛散，燥熱。</p>
<p>宜補氣，甘溫，酸溫。</p>
<p>人參　黃　麥門冬　五味子　山茱萸遺尿宜固澀，加益智、龍骨、金櫻子、牡蠣。</p>
<p><u>膽虛</u></p>
<p>（二證）</p>
<p>忌汗，下，苦寒，破氣，燥，吐。</p>
<p>山梔　瓜蒂　藜蘆　鹽湯　常山（以上吐）余錄後宜甘溫，甘平，酸斂，佐以微辛。</p>
<p>穀精草　人參　當歸　決明子　甘草　木賊草　白芍藥　竹葉　竹茹　酸棗仁</p>
<p><u>病後不得眠</u></p>
<p>　易驚，屬膽氣虛。</p>
<p>忌破氣，升發，燥熱。</p>
<p>宜補膽氣，甘溫，辛溫，酸平。</p>
<p>酸棗仁　人參　甘草　竹葉　當歸　竹茹　白芍藥　橘皮</p>
<p><u>胃虛</u></p>
<p>（七證）</p>
<p>忌下，破氣，苦寒，燥熱，諸藥錄後。</p>
<p>宜益氣，甘平，甘淡，酸。</p>
<p>人參　白朮　扁豆　蓮肉　石斛　橘皮　茯苓　木瓜　芍藥兼寒加生薑、白豆寇、縮砂密，兼熱加竹茹、枇杷葉、麥門冬、蘆根汁、蔗漿。</p>
<p><u>胃弱不納食</u></p>
<p>　及不思飲食。</p>
<p>忌宜俱同胃虛，仍分寒熱治。</p>
<p><u>胃虛嘔吐</u></p>
<p>　宜分寒熱。</p>
<p>忌宜俱同胃虛。</p>
<p><u>霍亂轉筋</u></p>
<p>　屬胃虛，猝中邪惡氣及毒瓦斯，兼有停滯所致。（轉筋與肝經血虛不同。）</p>
<p>忌閉氣，滯膩，收斂，溫補，大熱。</p>
<p>宜調氣和中，辛散，消導。</p>
<p>繇於暑，必口渴或口乾，齒燥口苦，小水短赤。</p>
<p>白梅　滑石　石膏　甘草　橘皮　絲瓜葉　香薷　木瓜　石斛　童溺　食鹽　縮砂密　泥漿　厚朴白扁豆並葉繇於寒，則小水清白，不渴不熱。</p>
<p>縮砂密　丁香　橘皮　藿香甚者加吳茱萸、肉桂，外治用杉木、楠材煎湯浸洗。</p>
<p><u>絞腸痧</u></p>
<p>　屬胃氣虛，猝中天地邪惡穢污之氣。</p>
<p>忌溫補，斂，尤忌火酒、生薑、蒜，及穀氣米飲，熱湯入口即死。</p>
<p>宜通竅辟惡，辛散，鹹寒。</p>
<p>龍腦香　蘇合香　藿香　檀香　乳香　芒硝　童便煎藥亦宜冷服。</p>
<p><u>中惡</u></p>
<p>　腦中　痛，屬胃氣虛，惡氣客之所致。</p>
<p>忌同絞腸痧。</p>
<p>宜辟惡氣，通暢胃氣，辛散。</p>
<p>龍腦香　檀香　麝香（孕婦忌用）　牛黃　乳香　蘇合香　沉水香　丹砂　雄黃　鬼臼　藿香白豆蔻　石菖蒲　橘皮　木香　遠志　乾薑　桂</p>
<p><u>反胃</u></p>
<p>　屬氣虛，中酒屬胃弱。</p>
<p>忌破氣，升，苦寒，甘，燥熱，諸藥錄後。</p>
<p>宜補氣，降氣，和胃，清熱，酸斂以制肝。</p>
<p>枇杷葉　人參　蘇子　橘皮　木瓜　麥門冬　蘆根汁　竹茹　石斛　梅醬　蔗漿　白茯苓　白芍藥若因虛寒而得者，加生薑、朮、白豆蔻。</p>
<p><u>大腸虛</u></p>
<p>（四證）</p>
<p>忌破氣，下，燥熱，諸藥錄後。</p>
<p>宜補氣，潤燥，甘溫。</p>
<p>人參　黃　麥冬　五味　白芍　炙草</p>
<p><u>虛熱便閉不通</u></p>
<p>　屬血虛，津液不足。</p>
<p>忌破氣，下，燥熱，苦溫，損津液。</p>
<p>郁李仁（損津液）</p>
<p>宜生津液，潤燥，涼血，益血。</p>
<p>生地黃　五味　麥冬　天冬　芝麻　麻仁　肉蓯蓉　生蜜　當歸　蘆薈　炙草</p>
<p><u>虛熱滑泄不禁</u></p>
<p>　屬氣虛。</p>
<p>忌破氣，下，濕潤，苦寒。</p>
<p>宜補氣，升，甘溫，酸斂。</p>
<p>人參　黃　白朮　炙甘草　吳茱萸　肉豆蔻　蓮肉　升麻　木瓜　補骨脂　五味子　赤石脂</p>
<p><u>腸鳴脫肛</u></p>
<p>　屬氣虛，兼有濕熱。</p>
<p>忌同大腸虛。</p>
<p>宜補氣，升提，除濕熱。</p>
<p>人參　黃　炙草　白朮　蓮肉　白扁豆　升麻　干葛　柴胡　黃柏　防風　白芍藥　黃連　黃芩樗根白皮外用五倍子敷之。</p>
<p><u>膀胱虛</u></p>
<p>（三證）</p>
<p>忌破氣，燥，利小便。</p>
<p>宜補氣，酸斂。</p>
<p>人參　五味子　山茱萸　益智子　金櫻子</p>
<p><u>小便不禁</u></p>
<p>　屬氣血虛。</p>
<p>忌降下，濕潤，燥熱。</p>
<p>宜同膀胱虛，加牡蠣　龍骨　鹿茸　桑螵蛸　雞頻數不能少忍，加　麥門冬　五味子　山茱萸　天門冬　黃柏　柏子仁　鱉甲　牛膝　甘枸杞子</p>
<p><u>遺尿</u></p>
<p>　屬本經氣虛，見小腸虛條內。因膀胱虛，亦能致遺尿，故復列此。</p>
<p>忌宜俱見小腸虛。</p>
<p><u>膀胱虛</u></p>
<p>忌宜俱同疝。</p>
<p><u>三焦虛</u></p>
<p>（二證）</p>
<p>忌破氣，降，復忌升發，苦寒。</p>
<p>宜補中益氣，佐以辛溫。</p>
<p>人參　黃　白朮　益智子　沉香　五味子</p>
<p><u>短氣腹寒</u></p>
<p>　屬中氣虛。</p>
<p>忌宜俱同三焦。</p>
<p><u>心實</u></p>
<p>　即實火實熱。（五證）</p>
<p>忌補斂，升，熱，溫燥。</p>
<p>宜降火清熱，苦寒以折之，辛寒以散之，甘寒以緩之，鹹寒以潤之。</p>
<p>黃連　犀角　石膏　丹砂　牡丹皮　生甘草　滑石　竹葉　麥冬　童便便結燥，加芒硝、大黃，發狂亦如之。</p>
<p><u>譫語</u></p>
<p>　屬心家邪熱。舌破，屬心火。煩躁，屬心家邪熱，及心火內炎。（煩屬心，躁屬腎。）自笑，屬心家有熱邪。發狂，屬心家有邪熱甚。</p>
<p>以上忌宜俱同心實。</p>
<p><u>肝實</u></p>
<p>（五證）</p>
<p>忌補氣，升，酸斂，辛熱，辛溫，燥，諸藥錄後。</p>
<p>宜清熱降氣，苦寒，辛寒，甘寒，酸寒。</p>
<p>橘皮　青皮　蘇子　黃連　龍膽草　生甘草　黃芩　柴胡　竹葉　黃黛　赤芍藥</p>
<p><u>善怒</u></p>
<p>　怒則氣上逆，甚則嘔血及飧泄。</p>
<p>忌補，升，熱燥，閉氣，諸藥錄後。</p>
<p>宜降氣，清熱，甘寒，酸寒，鹹寒，佐以辛散。</p>
<p>蘇子　鬱金　青黛　麥冬　赤芍　生甘草　橘皮　蒲黃　當歸　砂仁　香附　生地黃　童便</p>
<p><u>善嘆息</u></p>
<p>　忽忽不樂，脅痛嘔血，屬肝氣逆，肝火盛，肝血虛。</p>
<p>忌宜俱同善怒。</p>
<p><u>發搐</u></p>
<p>　屬肝家邪熱，熱則生風，風主掉眩故也。</p>
<p>忌同善怒。</p>
<p>宜清熱，降氣，利小便，緩中。</p>
<p>黃連　芍藥　丹砂　童便　生地黃　羚羊角　蘇子　麥冬　竹葉　茯苓　生甘草　甘菊花　木通</p>
<p><u>目赤腫痛</u></p>
<p>　屬血熱。</p>
<p>忌同肝實善怒。</p>
<p>宜涼血清熱，甘寒，苦寒，酸寒。</p>
<p>生地黃　赤芍藥　穀精草　蜜蒙花　龍膽草　甘草　甘菊　荊芥　黃柏　大黃　連翹　黃連　玄參山梔　竹葉　空青　曾青　木通　童便　芒硝　蕤核急者宜以三棱針刺破眼眶腫處，捋出熱血立解，遲則血貫瞳人目損矣。</p>
<p><u>脾實</u></p>
<p>　即濕熱邪勝。（六證）</p>
<p>忌濕潤，收澀，滯膩，熱，咸，甘，諸藥錄後。</p>
<p>宜除濕清熱，利小便，辛散，風燥，苦寒。</p>
<p>術　山梔　豬苓　澤瀉　滑石　車前　茯苓　防風　干葛　黃連　枳實　白豆蔻</p>
<p><u>蟲脹</u></p>
<p>　繇於脾家，濕熱積滯或內傷，瘀血停積而成。</p>
<p>忌破氣，甘溫，燥熱。</p>
<p>宜除濕，清熱，利小便，消積。</p>
<p>車前子　木通　防己　豬苓　澤瀉　茯苓　鳥喙魚　葶藶　山楂　紅曲　三棱　蓬朮　桑白皮</p>
<p><u>易飢</u></p>
<p>　屬脾家邪火。</p>
<p>忌升，辛溫，大熱，香燥。</p>
<p>沉香　麝香　龍腦　豆蔻　藿香　縮砂密（以上香燥）</p>
<p>宜清火除熱，生津液，益脾陰，甘寒，苦寒，酸寒。</p>
<p>黃連　青黛　連翹　山梔　麥門冬　酸棗仁　芍藥　石膏　竹葉　石斛</p>
<p><u>中消</u></p>
<p>　口糜，口唇生瘡，屬脾家熱。</p>
<p>忌溫燥，熱。</p>
<p>宜甘寒，酸寒，苦寒，辛寒。</p>
<p>麥門冬　甘草　烏梅　黃連　黃柏　生地黃　白芍藥　玄參　連翹　干葛　石膏　龍膽草　栝蔞根　大青　竹葉</p>
<p><u>濕熱腹痛</u></p>
<p>　按之愈甚。</p>
<p>忌悶氣，酸斂。溫熱，燥。</p>
<p>宜利小便，兼升提，苦寒。</p>
<p>滑石　木通　黃連　黃芩　升麻　柴胡　葛根　防風　車前子不愈加熟大黃，即土鬱則奪之義也。</p>
<p><u>肺熱</u></p>
<p>（八證）</p>
<p>忌斂澀，補氣，升，燥熱，酸，咸。</p>
<p>宜降氣，潤，甘寒，苦寒，佐以辛散。</p>
<p>枇杷葉　蘇子　桑白皮　貝母　杏仁　白前　天門冬　前胡　車前子　知母　桑黃　石膏　栝蔞根黃芩</p>
<p><u>喘急</u></p>
<p>　屬肺有實熱，及肺氣上逆。</p>
<p>忌同肺實。</p>
<p>宜亦同，加　桔梗　甘草　栝蔞仁　玄參　青黛</p>
<p><u>聲重</u></p>
<p>　氣壅痰稠，屬肺熱。</p>
<p>忌宜俱同肺熱。</p>
<p><u>喉癬　肺脹　肺癰</u></p>
<p>　屬肺熱。</p>
<p>忌同肺實。</p>
<p>宜清熱，消痰，降火，解毒散結，甘寒，苦寒，辛寒。</p>
<p>桑白皮　桑黃　黃芩　栝蔞根　貝母　薏苡仁　虎耳草　蕺米　連翹　鼠黏子　甘草　敗醬草</p>
<p><u>吐膿血血痰，咳嗽嗽血</u></p>
<p>　屬肝家火實熱甚，此正邪氣勝則實之謂。</p>
<p>忌同肺實。</p>
<p>宜清熱降氣，涼血，豁痰。</p>
<p>枇杷葉　桑白皮　童便　蘇子　剪草　蒲黃　麥門冬　天門冬　百部　桑黃　百合　甘草生地黃　薏苡仁　貝母　白芨　桔梗　紫菀　白芍藥　款冬花</p>
<p><u>上消</u></p>
<p>　屬肺家實火，及上焦熱。</p>
<p>忌同肺實。</p>
<p>宜降氣，清熱，補肺，生津，甘寒，苦寒，酸寒，辛寒。</p>
<p>蘇子　桔梗　百部　百合　麥門冬　枇杷葉　黃芩　沙參　黃連　葛根　桑白皮　天門冬　知母玄參　石膏　甘草　栝蔞根　五味子　蘆根　冬瓜　人乳　白芍藥　竹葉腎無實，故無瀉法。</p>
<p><u>命門實</u></p>
<p>（二證）</p>
<p>忌補氣，溫，熱。</p>
<p>宜苦寒，甘寒，鹹寒。</p>
<p>天門冬　麥門冬　黃柏　知母　玄參　木通　牡丹皮　車前子　澤瀉</p>
<p><u>強陽不倒</u></p>
<p>　屬命門火實，孤陽無陰所致，此證多不治。</p>
<p>忌同命門實。</p>
<p>宜亦同，加五味、童便、生地黃。</p>
<p><u>水竅澀痛</u></p>
<p>　屬命門實火。</p>
<p>忌同命門實。</p>
<p>宜清熱，利竅，甘寒，苦寒，鹹寒，佐以淡滲。</p>
<p>車前子　黃柏　知母　黃芩　牛膝　生地黃　天門冬　甘草　童便　茯苓　木通　麥門冬</p>
<p><u>小腸實</u></p>
<p>（一證）</p>
<p>忌斂澀，補氣。</p>
<p>宜通利，淡滲，苦寒，甘寒，鹹寒。</p>
<p>車前子　茯苓　木通　黃柏　知母　生甘草　麥門冬　黃芩　黃連　牛膝　童溺　生地黃</p>
<p><u>小水不利及赤</u></p>
<p>　或澀痛尿血。</p>
<p>忌宜俱同小腸實。</p>
<p><u>膽實</u></p>
<p>（二證）</p>
<p>忌汗，吐，下。</p>
<p>宜和解，辛寒，甘寒，苦寒，辛溫。</p>
<p>柴胡　黃芩　半夏　生薑　甘草　龍膽草　橘皮</p>
<p><u>口苦耳聾脅痛</u></p>
<p>　往來寒熱。</p>
<p>忌同膽實。</p>
<p>宜用仲景小柴胡湯，隨所見兼證加減。</p>
<p><u>鼻淵</u></p>
<p>　屬膽移熱於腦。</p>
<p>忌辛溫，燥熱。</p>
<p>宜清熱，補腦，甘寒，甘平，佐以辛寒。</p>
<p>天門冬　沙參　薄荷　柴胡　辛夷　沙苑蒺藜　甘菊花　石棗　黃芩　玄參　知母　生地黃</p>
<p><u>胃實</u></p>
<p>（六證）</p>
<p>忌升，補斂，辛溫，燥熱，濕潤。</p>
<p>宜下，如邪未結，宜清熱發散，苦寒，辛寒，甘寒。</p>
<p>大黃　枳實　知母　石膏　葛根　竹葉　大青　小青　青黛　麥冬　甘草</p>
<p><u>譫語發狂</u></p>
<p>　發斑，棄衣而走，登高而歌，屬胃家邪熱實。</p>
<p>忌同胃實。</p>
<p>宜亦同。</p>
<p>如大便結者，加芒硝亟下之。發斑者，加鼠黏子、玄參、栝蔞根，多用石膏為君，便結亦加大黃下之。</p>
<p><u>嘈雜吞酸</u></p>
<p>　口臭口淡，數欲飲食，屬胃火。</p>
<p>忌同胃實。</p>
<p>宜清熱降火，苦寒，甘寒，辛寒。</p>
<p>黃連　青黛　連翹　麥冬　石斛　蘆根汁　竹葉　石膏</p>
<p><u>嘔吐</u></p>
<p>　屬胃火者，必面赤，小便短赤，或澀，大便多燥，口苦或干渴。</p>
<p>忌同胃實。</p>
<p>宜亦同，加　枇杷葉　竹茹　木瓜　蘆根　橘皮　通草　茯苓</p>
<p><u>大腸實</u></p>
<p>（四證）</p>
<p>忌補斂，燥熱。</p>
<p>宜潤下，苦寒，辛寒。</p>
<p>麻仁　桃仁　黃連　黃芩　槐花　生地黃　大黃　石膏　知母　枳殼</p>
<p><u>便硬閉</u></p>
<p>忌同大腸實。</p>
<p>宜亦同，加　芒硝　豬膽　檳榔　郁李仁　石蜜</p>
<p><u>臟毒腸風下血</u></p>
<p>　屬大腸濕熱。</p>
<p>忌下，燥熱。</p>
<p>宜清熱，涼血，兼升，甘寒，苦寒。</p>
<p>槐花　地榆　黃連　黃芩　生地黃　白芍藥　荊芥　防風　甘草　紅曲　側柏葉　白頭翁　蒲黃　雞子葛根</p>
<p><u>腸癰</u></p>
<p>　屬大腸實火。</p>
<p>忌同腸風下血。</p>
<p>宜下，苦寒，解寒。</p>
<p>大黃　白芷　白芨　白蘞　白藥子　忍冬藤　連翹　甘草　黃連　黃　生地黃　天明精　明礬　黃蠟生蜜（以上三味作丸）</p>
<p><u>膀胱實</u></p>
<p>（一證）</p>
<p>忌燥熱，收澀。</p>
<p>宜潤，淡滲。</p>
<p>知母　黃柏　木通　瞿麥　車前子　滑石　茯苓　豬苓　澤瀉</p>
<p><u>癃閉</u></p>
<p>　屬膀胱實熱。</p>
<p>忌破氣，發散，燥熱，如屬水液不足，兼忌利小便。</p>
<p>宜同膀胱實，佐以升提，升麻，柴胡。</p>
<p><u>三焦實</u></p>
<p>（三證）</p>
<p>忌補斂，升，燥熱。</p>
<p>宜降，清熱，調氣，甘寒，苦寒，鹹寒。</p>
<p>蘇子　麥冬　知母　黃柏　玄參　山梔　黃芩　黃連　童便</p>
<p><u>喉痹</u></p>
<p>　即纏喉風，屬少陽相火，少陰君火並熾，經曰：「一陰一陽結為喉痹。」一陰者。少陰君火也。一陽者，少陽相火也。忌同三焦實。</p>
<p>宜辛散，佐以苦寒，鹹寒，急則有針、吹、吐三法。</p>
<p>鼠黏子　射干　黃連　黃柏　山豆根　麥門冬　生犀角　知母　玄參　童便　山茨菇　苦桔梗續隨子　蘇子　貝母　甘草急治用膽礬、朴硝、牛黃，為末和勻，吹入喉中。又法用明礬三錢，巴豆七粒去殼，同礬　，礬枯去巴豆，即取礬為細末，吹入喉中，流出熱涎即寬。</p>
<p><u>頭面赤熱</u></p>
<p>　屬上焦火升。</p>
<p>忌同三焦實。</p>
<p>宜降，清熱，甘緩，佐以酸斂。</p>
<p>蘇子　天冬　麥冬　玄參　薄荷　枇杷葉　梨　柿　蔗　童便　五味　栝蔞根　芍藥</p>
<p><u>赤白游風</u></p>
<p>　屬血熱，熱則生風，故善游走，俗名火丹。小兒多患此，大人亦時有之。</p>
<p>忌同三焦實。</p>
<p>宜清熱，涼血，兼行血，辛寒，甘寒，苦寒，鹹寒。</p>
<p>黃連　黃柏　蒲黃　生地黃　生甘草　牡丹皮　連翹　玄參　牛膝　紅藍花　鼠黏子　赤芍藥藍汁　苧根　童便　牡丹皮宜兼外治，砭出熱血，及用漆姑草，慎火草，搗爛敷之，即易愈。</p>
<p><u>諸瘧</u></p>
<p>　熱多。</p>
<p>忌辛熱。</p>
<p>宜清熱。</p>
<p>貝母　石膏　橘紅　干葛　滑石　麥門冬　竹葉　牛膝　知母　黃芩　柴胡　何首烏　茯苓　烏梅牡蠣　鱉甲寒多。</p>
<p>忌苦寒。</p>
<p>宜辛溫。</p>
<p>桂枝　薑皮　白朮　蒼朮　草豆蔻　人參　黃　當歸　半夏　炙草　白豆蔻　橘紅汗多。</p>
<p>忌散。</p>
<p>宜補斂。</p>
<p>人參　白朮　黃　秋冬加桂枝無汗。</p>
<p>忌補斂。</p>
<p>宜疏散。</p>
<p>干葛　柴胡　石膏　羌活　薑皮　人參　蒼朮瘧母忌純補。</p>
<p>宜補中行滯。</p>
<p>鱉甲　射干　牡蠣　三棱　桂　縮砂密　橘皮　青皮　人參</p>
<p><u>諸痢</u></p>
<p>忌破，閉氣，收澀，燥，溫熱，鹹寒，滑膩。</p>
<p>宜清熱消積，開胃氣，升，利小便。</p>
<p>黃連　黃芩　白芍　紅曲　山楂　廣橘紅　升麻　葛根　滑石　蓮肉　甘草　白扁豆　烏梅如胃弱加人參三四錢，蓮子四十粒，橘紅二錢，升麻二錢。如腹痛，以黃連四錢，白芍三錢，炙草一錢五分，黃柏一錢，升麻七分煎服。如裡急，同上藥加當歸二錢。如後重甚，加檳榔一錢五分，枳殼一錢五分，木香汁七匙。如口渴去木香倍滑石。</p>
<p>如小便赤澀短少，或不利亦倍之。赤多倍烏梅、山楂、紅曲，白多加吳茱萸七分。惡心欲嘔，即噤口痢，多用人參、蓮肉、扁豆、白芍，以綠色升麻七分佐之。久痢不止，加肉豆蔻一錢，人參三錢，砂仁一錢五分，白茯苓二錢。</p>
<p><u>泄瀉</u></p>
<p>忌濕潤，破氣，下，苦寒，滑利。</p>
<p>宜安胃（補脾），升，利小便。</p>
<p>人參　茯苓　蓮肉　白朮　升麻　車前子　橘紅　藿香　木瓜　干葛　炙草　白萊菔　扁豆虛寒者，加肉豆、茯苓、補骨脂、吳茱萸。虛熱者，去白朮加川黃連，倍芍藥、蓮肉。</p>
<p>暑濕為病，則小水短赤或口渴，倍用薑黃連為君，佐以干葛、升麻。繇於感風寒者，二朮、吳茱萸、砂仁、陳皮、乾薑、紫蘇主之。若繇飲食停滯者，兼消導，山楂、麥芽、神麯、陳皮，肉豆蔻。</p>
<p><u>諸疸</u></p>
<p>忌破氣，閉氣，下，咸，滑利，滯膩，潤燥熱。有瘀血者，兼忌酸寒。</p>
<p>宜清熱，利水，除濕，養胃氣。有停滯者，宜消積滯。有瘀血者，宜行血。</p>
<p>茵陳蒿　黃連　苜蓿（酒疸非此不愈）　梔子　紫草　滑石　栝蔞根　秦艽　車前子　白鮮皮黃芩　茯苓　仙人對坐草　連錢草（一名蟹靨草，一名九裡香。取汁入薑汁少許，飲之良。）</p>
<p>虛者加人參，停滯者加紅曲、橘、穀、麥、柏、山楂，瘀血加琥珀、牡丹皮、紅曲、紅花，桃仁、玄胡索，蒲黃，五靈脂、韭。元氣壯實者，服前藥，瘀血不行，可加熟地黃，虛勿用。</p>
<p><u>痰繇於熱</u></p>
<p>忌燥，溫熱，補斂，升，諸藥錄後。</p>
<p>宜降，潤，清熱，苦寒，辛寒，佐以鹹寒。</p>
<p>蘇子　橘紅　黃芩　薄荷　枇杷葉　桑白皮　百部　桔梗　貝母　蛤粉　栝蔞根栝蔞仁　天冬　麥冬　竹瀝　童便膠固者，加霞天膏。</p>
<p><u>痰繇於風寒</u></p>
<p>忌補斂，酸，咸，濕潤，諸藥錄後。</p>
<p>宜降氣，辛散。</p>
<p>橘紅　蘇子　杏仁　天麻　前胡　桑白皮　半夏　南星　葛根　薄荷　白前　生薑汁</p>
<p><u>痰繇於濕</u></p>
<p>忌潤，咸，酸，滯膩，發散，諸藥錄後。</p>
<p>宜健脾，燥濕，辛散，佐以淡滲。</p>
<p>人參　二術　橘紅　半夏　茯苓　桑白皮　澤瀉</p>
<p><u>飲如涎而薄者</u></p>
<p>　或如涎而稠者，伏於胸中及脾胃間，或吐酸水苦水黃水綠水，或伏而不吐，上支心胸，胃脘作痛，不可忍，按之不得下，或發寒熱嘔吐不得飲食。</p>
<p>忌宜俱同脾虛證，內停飲條。</p>
<p><u>諸氣</u></p>
<p>　氣有餘即是火。</p>
<p>忌升，閉氣，酸斂，滯膩。</p>
<p>虛者宜降，補斂，調，溫，酸，辛，甘。</p>
<p>枇杷葉　蘇子　橘紅　甘蔗　麥門冬　蘆根汁　沉水香　白豆蔻　鬱金　甘草　童便　番降香五味子　芍藥因虛極而氣不得行者，加人參。</p>
<p>實者，宜破散，香燥，辛苦，辛寒。</p>
<p>枳殼　青皮　檳榔　厚朴　木香　縮砂密　沉香　香附　烏藥　降香　藿香</p>
<p><u>諸郁</u></p>
<p>忌酸斂，滯膩，補氣，閉氣，諸藥錄後。</p>
<p>屬情抱者，宜開發志意，調，散結，和中健脾。</p>
<p>遠志　貝母　鬱金　香附　石菖蒲　白豆蔻　蘇子　橘紅　木香　麥冬　蘇合香　縮砂密屬五臟者，木鬱達之，宜升，吐。</p>
<p>升麻　柴胡　川芎　瓜蒂　人參蘆火鬱發之，宜散。</p>
<p>升麻　葛根　柴胡　防風　羌活土鬱奪之，宜下。</p>
<p>檳榔　枳實　厚朴　大黃金鬱泄之，宜降。</p>
<p>桑白皮　赤小豆　橘紅　蘇子　豬苓　澤瀉　車前子　鳥喙魚　木通</p>
<p><u>關格</u></p>
<p>忌升，補斂，閉氣，酸，諸藥錄後。</p>
<p>宜降下，辛寒，辛溫。</p>
<p>白豆蔻　沉香　丁香　蘇子　橘紅　龍腦草　蘇合香　生薑　藿香　次用大黃　車前子　黃柏知母　滑石　木香　牛膝</p>
<p><u>噦症</u></p>
<p>　俗呼呃逆。</p>
<p>忌破氣，升，散。</p>
<p>宜補斂，甘溫，甘寒。</p>
<p>炙甘草　麥門冬　人參　黃　石斛　五味子　益智子　白芍藥傷寒失下而發者。</p>
<p>忌補斂，酸，燥熱，滯膩，諸藥錄後。</p>
<p>宜下大小承氣之類，便不硬閉，按之腹中和軟，未經汗吐者，宜辛寒解表，白虎湯之類。</p>
<p>氣逆衝上而發者。</p>
<p>忌升，補，諸藥錄後。</p>
<p>宜降氣，甘寒，鹹寒。</p>
<p>枇杷葉　蘆根汁　麥門冬　蘇子　橘紅　竹茹　童便因痰水停膈而發者。</p>
<p>忌升，潤，苦寒，甘寒，酸寒，諸藥錄後。</p>
<p>宜降氣，開痰，辛散。</p>
<p>桑白皮　蘇子　貝母　橘紅　半夏　旋覆花　白豆蔻　生薑</p>
<p><u>吐血咯血鼻衄齒衄耳衄舌上出血</u></p>
<p>忌升提，發散，下，破血，補氣，閉氣，破氣，溫熱，辛燥，復忌極苦寒傷胃，諸藥錄後。</p>
<p>宜降氣，清熱，涼血益陰，兼行血，鹹寒，酸寒，甘寒。</p>
<p>蘇子　天冬　麥冬　橘皮　枇杷葉　生地黃　降香　鬱金　沙參　牛膝　熟地黃　枸杞子　五味阿膠　鱉甲　青蒿　牡丹皮　犀角屑　芍藥　剪草　童便　茅根　白藥子　側柏葉　稷灰　藕節　當歸蒲黃　小薊</p>
<p><u>蓄血發熱</u></p>
<p>　積瘀不行。</p>
<p>忌破氣，復忌補氣，下，苦寒，辛燥，諸藥錄後，辛行血，辛溫，佐以鹹寒。</p>
<p>瘀血行後，宜補血益脾和肝。</p>
<p>紅藍花　桃花　鬱金　乳香　玄胡索　桂（有火勿用）　當歸尾　沒藥　蟲　蒲黃蘇方木　番降香　穿山甲　紅曲　韭汁　童便　五靈脂　麒麟竭　赤芍藥　桃梟甚者用大黃、花蕊石，瘀行則止，勿過劑。如元氣虛，脾胃素弱者，慎勿輕用大黃。</p>
<p>如瘀血行後宜。</p>
<p>生地黃　川續斷　當歸身　牛膝　大黃　芍藥　酸棗仁　龍眼肉　枸杞子　石棗　炙草</p>
<p><u>頭痛挾風寒者</u></p>
<p>忌補斂，諸藥錄後。</p>
<p>宜辛溫發散。</p>
<p>羌活　防風　細辛　蔓荊子　荊芥　薄荷　川芎　本　升麻　白芷　生薑　蔥白</p>
<p><u>頭痛挾邪熱者</u></p>
<p>忌同挾風寒。</p>
<p>宜辛寒，苦寒，解散。</p>
<p>石膏　薄荷　芽茶　黑豆　甘菊花　土茯苓　烏梅　黃芩（酒炒）</p>
<p>熱極目昏便燥者，加酒蒸大黃。</p>
<p><u>頭痛挾痰者</u></p>
<p>忌升，補斂，酸甘，滯膩，諸藥錄後。</p>
<p>宜豁痰降氣，辛燥。</p>
<p>蘇子　橘紅　朮　貝母　半夏　前胡　竹瀝　天麻</p>
<p><u>頭痛陰虛者</u></p>
<p>忌辛熱發散，諸藥錄後。</p>
<p>宜補血益陰，甘寒，酸寒。</p>
<p>生地黃　甘菊花　當歸　黃柏　天門冬　麥門冬　枸杞子　忍冬　烏梅　白芍　五味子</p>
<p><u>眉棱骨痛</u></p>
<p>忌宜俱同陰虛。</p>
<p><u>齒痛</u></p>
<p>忌升，補斂，燥熱，辛溫，諸藥錄後。</p>
<p>宜清熱涼血，苦寒，甘寒，辛寒，鹹寒。</p>
<p>竹葉　知母　黃連　黃芩　麥門冬　生地黃　黃柏　玄參　石膏　薄荷　赤芍藥　牡丹皮　蘇子甘草　童便上下齦，屬胃與大腸火。</p>
<p>宜熟地黃　石膏　黃芩　黃連　麥門冬　赤芍藥　青黛　細辛　甘草　薄荷　生地黃　枇杷葉　蘇子木通　西瓜皮灰真牙浮動及黑爛，屬腎虛有火，已見腎虛條內，忌宜俱同。</p>
<p><u>胃脘痛</u></p>
<p>　因火者。</p>
<p>忌補斂，燥熱，諸藥錄後。</p>
<p>宜降　苦寒，甘寒，鹹寒，辛寒。</p>
<p>蘇子　橘紅　黃連　山梔　麥門冬　炙甘草　石膏　知母　玄參　童便因寒者。</p>
<p>忌破氣，滯膩，苦寒，諸藥錄後。</p>
<p>宜辛溫發散。</p>
<p>草豆蔻　橘紅　益智　丁香　桂　白朮　白蔻　吳萸　厚朴　香附　乾薑　縮砂密　藿香因宿食者。</p>
<p>忌升，補斂，苦寒，諸藥錄後。</p>
<p>宜消導，兼降氣，因脾胃虛弱食停者消導。</p>
<p>加人參　山楂　草果　紅曲　草豆蔻　穀麥　枳實　檳榔　青皮　厚朴　朮　縮砂密　橘皮因瘀血者。</p>
<p>忌補氣，酸斂，諸藥錄後。</p>
<p>宜辛溫，苦溫以行血。</p>
<p>桃仁　紅曲　紅花　韭菜　玄胡索　山楂肉　鬱金　肉桂　三棱　童便　牡丹皮　赤芍藥　通草牛膝　琥珀因血虛者，按之則痛止。</p>
<p>忌破氣，復忌補氣，燥熱，辛溫。</p>
<p>宜潤，補斂，甘寒，甘溫。</p>
<p>石斛　麥門冬　炙甘草　酸棗仁　白芍藥　當歸　生地黃因蟲者。</p>
<p>忌補，升，發散，甘，諸藥錄後。</p>
<p>宜殺蟲，苦，酸。</p>
<p>苦楝根　使君子　薏苡仁根　錫灰　檳榔　鶴虱　雷丸　蕪荑　大黃　烏梅因惱怒者。</p>
<p>虛弱人忌破氣，壯實人忌補氣，總忌酸斂，升，諸藥錄後。</p>
<p>宜降氣，辛溫。</p>
<p>枇杷葉　白豆蔻　番降香　蘇子　木香　橘紅　縮砂密　玄胡索　五靈脂因痰飲者。</p>
<p>忌宜俱見痰飲證下。</p>
<p><u>腹痛因於寒</u></p>
<p>忌苦寒，下利，諸藥錄後。</p>
<p>宜溫中，辛散。</p>
<p>白朮　厚朴　吳茱萸　縮砂密　乾薑　桂　木香　橘皮　炙甘草因於熱，火在少腹則絞痛。</p>
<p>忌辛散，香燥，補斂，諸藥錄後。</p>
<p>宜甘，苦寒。</p>
<p>山梔仁　麥門冬　石斛　白芍藥　甘草　桔梗　黃芩　黃連　滑石　木通　戎鹽</p>
<p><u>諸痛不可按</u></p>
<p>　屬實。</p>
<p>忌補氣，大熱，諸藥錄後。</p>
<p>宜破散，疏利，苦寒。</p>
<p>枳實　青皮　蓬莪　檳榔　三棱　滑石　木通　大黃（有積滯宜用，無者勿用。）</p>
<p><u>諸痛可按</u></p>
<p>　屬虛。</p>
<p>忌破氣，破血，下利，發散，諸藥錄後。</p>
<p>宜補氣血，甘溫，酸斂。</p>
<p>人參　黃　生地黃　二術　當歸　炙草　白芍　薯蕷　棗仁　五味</p>
<p><u>痹</u></p>
<p>　拘攣而痛也。因風寒濕三者合而成，風氣勝者為行痹，寒氣勝者為痛痹，濕氣勝者為著痹。</p>
<p>忌下，收斂，酸寒，苦寒，鹹寒，諸藥錄後。</p>
<p>宜辛散，行氣，燥濕，甘寒，淡滲。</p>
<p>漆葉　續斷　黃　萆　甘菊花　車前子　甘草　防己　白朮　防風　桑寄生　蔓荊實　羌活　獨活牛膝　秦艽　白蘚皮　原蠶沙　木瓜　天麻　澤瀉　茯苓　威靈仙　海風藤　菖蒲　狗脊　杜仲　石斛　細辛松節　松葉</p>
<p><u>痿</u></p>
<p>　屬濕熱，經曰：治痿獨取陽明。</p>
<p>忌破氣，升，辛熱，發散。</p>
<p>宜大補氣血，清熱除濕，甘寒，甘溫，苦寒，酸寒。</p>
<p>人參　黃　二術　麥冬　炙甘草　生地黃　木瓜　石斛　薏苡　黃柏　白芍藥　車前子　茯苓木通　黃芩　川黃連</p>
<p><u>交腸</u></p>
<p>　其病大小便易位而出，或因大怒，或因醉飽，遂至臟氣乖亂，不循常道，法當宣吐以開提其氣，使HT　門清利，得司秘別職則愈矣。</p>
<p>忌破氣，燥熱，諸藥錄後。</p>
<p>宜升清降濁，兼補氣，淡滲。</p>
<p>升麻　柴胡　蘇子　降香　橘紅　人參　朮　茯苓　澤瀉　豬苓　木通　滑石　車前子</p>
<p><u>鬼疰尸疰飛尸客忤</u></p>
<p>　此系天地陰邪殺厲之氣，乘虛中人，或遍身青黯，或忽消瘦聲啞，面色青黃不定，或忽驚厥，目直視，手握拳，或遍身骨節疼痛非常。</p>
<p>忌破氣，復忌補氣，升，燥熱，酸斂，諸藥錄後。</p>
<p>宜辟惡氣，安神鎮心，辛香發散，金石鎮墜。</p>
<p>牛黃　丹砂　琥珀　乳香　蘇合香　天竺黃　檀香　木香　麝香　沉香　龍腦香　安息香　真珠　雄黃犀角　金銀箔　代赭石　虎骨　獺肝　遠志　生地黃　龍齒　天靈蓋　菖蒲</p>
<h3>諸病應忌藥總例</h3>
<p><u>補氣</u></p>
<p>　人參　黃　二術　人胞　紅鉛</p>
<p><u>溫補</u></p>
<p>　人胞　紅鉛　白膠　鹿茸　人參　巴戟天　黃　白朮　淫羊藿　肉蓯蓉　補骨脂　當歸狗陰莖　菟絲子　蛇床子</p>
<p><u>大熱</u></p>
<p>　附子　肉佳　仙茅　烏頭　陽起石　海狗腎　硫黃　羊肉　雀肉　天雄　葫蘆巴</p>
<p><u>破氣</u></p>
<p>　青皮　枳實　枳殼　檳榔　厚朴　牽牛</p>
<p><u>閉氣</u></p>
<p>　銀杏　二術　黃　米曲食　豬脂油</p>
<p><u>降氣</u></p>
<p>　蘇子　鬱金　橘紅　沉香　枇杷葉　降真香　烏藥</p>
<p><u>破血</u></p>
<p>　桃仁　紅花　乾漆　乳香　蘇方木　玄胡索　沒藥　薑黃　三棱　蓬莪　五靈脂　花蕊石水蛙　虻蟲　肉桂　穿山甲　麒麟竭　蟲</p>
<p><u>升提發散</u></p>
<p>　升麻　柴胡　川芎　紫蘇　麻黃　干葛　羌活　獨活　防風　白芷　生薑　細辛　荊芥前胡　本　蔥白　薄荷</p>
<p><u>辛溫辛熱發散</u></p>
<p>　乾薑　桂枝　麻黃　吳萸　細辛　羌活　獨活　防風　本　川芎　白芷　蔥白</p>
<p><u>吐</u></p>
<p>　瓜蒂　梔子　豉　人參蘆　皂莢　藜蘆　常山　蝦汁　鹽湯</p>
<p><u>下</u></p>
<p>　大黃　芒硝　巴豆　牽牛　枳實　玄明粉　厚朴</p>
<p><u>降泄</u></p>
<p>　山梔　知母　玄參　天冬</p>
<p><u>利水</u></p>
<p>　豬苓　澤瀉　木通　瞿麥　葶藶　海金沙　滑石　商陸　茯苓　蓄　琥珀　烏　根皮芫花　甘遂　大戟　車前　續隨子　漢防己　郁李仁</p>
<p><u>損津液</u></p>
<p>　郁李仁　白礬　紅礬　半夏</p>
<p><u>斂攝</u></p>
<p>　白芍　五味　醋　烏梅　白梅　酸棗仁</p>
<p><u>固澀</u></p>
<p>　龍骨　牡蠣　粟殼　益智　山茱萸　桑螵峭　肉果　蛇床子　阿芙蓉　金櫻子　原蠶娥　蓮須訶黎勒</p>
<p><u>消導</u></p>
<p>　山楂　麥芽　草果　檳榔　三棱　蓬莪　神麯　枳殼　枳實　綠礬　紅曲　橘紅　萊菔子　砂仁</p>
<p><u>開竅</u></p>
<p>　麝香　檀香　龍腦香　蘇合香　安息香</p>
<p><u>香燥</u></p>
<p>　沉香　麝香　豆蔻　龍腦香　縮砂密　藿香　香附　丁香　烏藥　木香</p>
<p><u>辛燥</u></p>
<p>　火酒　蒜　半夏　南星　二術</p>
<p><u>辛熱</u></p>
<p>　乾薑　胡椒　巴豆　吳萸　茴香　龍腦香</p>
<p><u>濕潤</u></p>
<p>　地黃　當歸　天冬　知母　肉蓯蓉　栝蔞仁　豬脂　麻仁</p>
<p><u>滯膩</u></p>
<p>　豬羊犬鵝肉　地黃　南面　油膩　炙爆</p>
<p><u>滑利</u></p>
<p>　榆皮　牛乳　柿　瓜　李　冬葵子　桃　梨　蜜　青菜　菜　酥　椿根白皮　茄子</p>
<p><u>發濕</u></p>
<p>　鱖魚　南面</p>
<p><u>苦寒傷胃</u></p>
<p>　山梔　黃柏　黃芩　黃連　大黃　苦參　玄參　知母　蘆薈</p>
<p><u>補命門相火</u></p>
<p>　鹿茸　附子　紅鉛　巴戟天　陽起石　白膠　人胞　肉桂　仙茅　淫羊藿　膃肭臍　補骨脂　狗陰莖　菟絲子　原蠶蛾</p>
<p><u>補腎水苦寒</u></p>
<p>　黃柏　玄參　知母　天門冬</p>
<p><u>酸寒</u></p>
<p>　牛膝　烏梅　芍藥</p>
<p><u>鹹寒</u></p>
<p>　童便　芒硝　玄參　秋石</p>
<p><u>生冷</u></p>
<p>　菱　梨　菜　李</p>
<p><u>甘</u></p>
<p>　甘草　飴糖　大棗　蜜</p>
<p><u>咸</u></p>
<p>　食鹽　商陸　鹼水　鹿茸　蛤蜊　蟶　蠣黃</p>
