<header><h1>易經</h1></header>
<dl class="元資料" data-type="book">
<div><dt>朝代</dt><dd><data value="西周">約西周</data></dd></div>
<div><dt>參本</dt><dd>《周易程傳註評》，黃忠天著。</dd></div>
<div><dt>品質</dt><dd>80%</dd></div>
</dl>
<p>簡介：
　　由伏羲制卦，文王繫辭，孔子作十翼。共六十四卦、三百八十四爻。易經的內容最早只是記載大自然、天文和氣象等的變化，古代帝王作為施政之用，百姓用為占卜事象。至孔子作傳，始為哲理的書，是儒家的重要典籍。亦稱為《羲經》、《周易》。（以上摘自教育部國語辭典）</p>
<h2>第一卦</h2>
<p>☰
☰　乾　乾為天　乾上　乾下</p>
<p><span class="校"><small class="雙行小字">卦辭：</small></span>乾：元、亨、利、貞。</p>
<p><span class="校"><small class="雙行小字">爻辭：</small></span>初九：潛龍，勿用。</p>
<p>九二：見龍再田，利見大人。</p>
<p>九三：君子終日乾乾，夕惕若，厲无咎。</p>
<p>九四：或躍在淵，无咎。</p>
<p>九五：飛龍在天，利見大人。</p>
<p>上九：亢龍有悔。</p>
<p>用九：見群龍无首，吉。</p>
<p>《彖》曰：大哉乾元！萬物資始，乃統天。雲行雨施，品物流形。大明終始，六位時成，時乘六龍以御天。乾道變化，各正性命，保合大和，乃利貞。首出庶物，萬國咸寧。</p>
<p>《象》曰：天行健，君子以自彊不息。</p>
<p>《象》曰：潛龍勿用，陽在下也；見龍在田，德施普也；終日乾乾，反復道也；或躍在淵，進无咎也；飛龍在天，大人造也；亢龍有悔，盈不可久也；用九，天德不可為首也。</p>
<p>《文言》曰：</p>
<p>元者，善之長也；亨者，嘉之會也；利者，義之和也；貞者，事之幹也。君子體仁足以長人，嘉會足以合禮，利物足以和義，貞固足以幹事。君子行此四德者，故曰：乾，元、亨、利、貞。</p>
<p>初九曰「潛龍勿用」，何謂也？子曰：「龍德而隱者也。不易乎世，不成乎名，遯世无悶，不見是而无悶。樂則行之，憂則違之，確乎其不可拔，潛龍也。」</p>
<p>九二曰「見龍在田，利見大人」何謂也？子曰：「龍德而正中者也。庸言之信，庸行之謹。閑邪存其誠，善世而不伐，德博而化。《易》曰：『見龍在田，利見大人。』君德也。」</p>
<p>九三曰「君子終日乾乾，夕惕若，厲无咎」何謂也？子曰：「君子進德修業。忠信，所以進德也；修辭立其誠，所以居業也。知至至之，可與幾也。知終終之，可與存義也。是故居上位而不驕，在下位而不憂。故乾乾因其時而惕，雖危无咎矣。」</p>
<p>九四曰「或躍在淵，无咎。」何謂也？子曰：「上下無常，非為邪也；進退无恒，非離群也。君子進德修業，欲及時也，故无咎。」</p>
<p>九五曰「飛龍在天，利見大人」，何謂也？子曰：「同聲相應，同氣相求；水流濕，火就燥，雲從龍，風從虎。聖人作而萬物覩。本乎天者親上，本乎地者親下，則各從其類也。」</p>
<p>上九曰「亢龍有悔」何謂也？子曰：「貴而无位，高而无民，賢人在下位而无輔，是以動而有悔也。」</p>
<p>「潛龍勿用」，下也。「見龍在田」，時舍也。終日乾乾，行事也；或躍在淵，自試也；飛龍在天，上治也；亢龍有悔，窮之災也。乾元用九，天下治也。</p>
<p>潛龍勿用，陽氣潛藏；見龍在田，天下文明。終日乾乾，與時偕行；或躍在淵，乾道乃革；飛龍在天，乃位乎天德；亢龍有悔，與時偕極；乾元用九，乃見天則。</p>
<p>乾元者，始而亨者也；利貞者，性情也。乾始，能以美利利天下，不言所利，大矣哉！大哉乾乎！剛健中正，純粹精也；六爻發揮，旁通情也；時乘六龍，以御天也。雲行雨施，天下平也。</p>
<p>君子以成德為行，日可見之行也。潛之為言也，隱而未見，行而未成，是以君子弗用也。</p>
<p>君子學以聚之，問以辯之，寬以居之，仁以行之。《易》曰：「見龍在田，利見大人。」君德也。</p>
<p>九三重剛而不中，上不在天，下不在田。故乾乾因其時而惕，雖危无咎矣。</p>
<p>九四重剛而不中，上不在天，下不在田，中不在人，故或之。或之者，疑之也，故无咎。</p>
<p>夫大人者，與天地合其德，與日月合其明，與四時合其序，與鬼神合其吉兇。先天而天弗違，後天而奉天時。天且弗違，而況於人乎？況於鬼神乎？</p>
<p>亢之為言也，知進而不知退，知存而不知亡，知得而不知喪。其唯聖人乎？知進退存亡而不失其正者，其唯聖人乎！</p>
<h2>第二卦</h2>
<p>☷
☷　坤　坤為地　坤上　坤下</p>
<p>坤：元、亨、利牝馬之貞。君子有攸往，先迷後得主，利。西南得朋，東北喪朋。安貞吉。</p>
<p>《彖》曰：至哉坤元，萬物資生，乃順承天。坤厚載物，德合无疆。含弘光大，品物咸亨。牝馬地類，行地无疆，柔順利貞。君子攸行，先迷失道，後順得常。西南得朋，乃與類行；東北喪朋，乃終有慶。安貞之吉，應地无疆。</p>
<p>《象》曰：地勢坤。君子以厚德載物。</p>
<p>初六：履霜，堅冰至。
《象》曰：履霜堅冰，陰始凝也；馴致其道，至堅冰也。</p>
<p>六二：直方大，不習無不利。
《象》曰：六二之動，直以方也；不習无不利，地道光也。</p>
<p>六三：含章可貞，或從王事，無成有終。
《象》曰：含章可貞，以時發也；或從王事，知光大也。</p>
<p>六四：括囊，无咎无譽。
《象》曰：括囊无咎，慎不害也。</p>
<p>六五：黃裳元吉。
《象》曰：黃裳元吉，文在中也。</p>
<p>上六：龍戰于野，其血玄黃。
《象》曰：龍戰于野，其道窮也。</p>
<p>用六：利永貞。
《象》曰：用六永貞，以大終也。</p>
<p>《文言》曰：坤至柔而動也剛，至靜而德方，後得主而有常，含萬物而化光。坤道其順乎！承天而時行。</p>
<p>積善之家，必有餘慶；積不善之家，必有餘殃。臣弒其君，子弒其父，非一朝一夕之故，其所由來者漸矣，由辯之不早辯也。《易》曰：「履霜，堅冰至。」蓋言順也。</p>
<p>直，其正也；方其義也。君子敬以直內，義以方外，敬義立而德不孤。直、方、大，不習无不利，則不疑其所行也。</p>
<p>陰雖有美，含之；以從王事，弗敢成也。地道也，妻道也，臣道也。地道無成而代有終也。</p>
<p>天地變化，草木蕃；天地閉，賢人隱。《易》曰：「括囊，无咎无譽」蓋言謹也。</p>
<p>君子黃中通理，正位居體。美在其中，而暢於四支，發於事業：美之至也！</p>
<p>陰疑於陽必戰，為其嫌於无陽也，故稱」焉。猶未離其類也，故稱血焉。夫玄黃者，天地之雜也，天玄而地黃。</p>
<h2>第三卦</h2>
<p>☵
☳　屯　水雷屯　坎上　震下</p>
<p>屯：元、亨、利、貞，勿用，有攸往，利建侯。</p>
<p>《彖》曰：屯，剛柔始交而難生，動乎險中，大亨貞。雷雨之動滿盈，天造草昧，宜建侯而不寧。</p>
<p>《象》曰：雲雷，屯。君子以經綸。</p>
<p>初九：磐桓，利居貞，利建侯。《象》曰：雖磐桓，志行正也。以貴下賤，大得民也。</p>
<p>六二：屯如邅如，乘馬班如。匪寇，婚媾。女子貞不字，十年乃字。《象》曰：六二之難，乘剛也；十年乃字，反常也。</p>
<p>六三：即鹿无虞，惟入于林中；君子幾，不如舍。往吝。《象》曰：即鹿无虞，以從禽也；君子舍之，往吝窮也。</p>
<p>六四：乘馬班如。求婚媾；往吉，无不利。《象》曰：求而往，明也。</p>
<p>九五：屯其膏。小，貞吉；大，貞凶。《象》曰：屯其膏，施未光也。</p>
<p>上六：乘馬班如，泣血漣如。《象》曰：泣血漣如，何可長也？</p>
<h2>第四卦</h2>
<p>☶
☵　蒙　山水蒙　艮上　坎下</p>
<p>亨。匪我求童蒙，童蒙求我。初筮告，再三瀆，瀆則不告。利貞。</p>
<p>《彖》曰：蒙，山下有險，險而止，蒙。蒙，亨，以亨行時中也；匪我求童蒙，童蒙求我，志應也；初筮告，以剛中也；再三瀆，瀆則不告，瀆蒙也。蒙以養正，聖功也。</p>
<p>《象》曰：山下出泉，蒙，君子以果行育德。</p>
<p>初六：發蒙，利用刑人，用說桎梏，以往吝。《象》曰：利用刑人，以正法也。</p>
<p>九二：包蒙，吉。納婦，吉；子克家。《象》曰：子克家，剛柔節也。</p>
<p>六三：勿用取女，見金夫，不有躬。无攸利。《象》曰：勿用取女，行不順也。</p>
<p>六四：困蒙，吝。《象》曰：困蒙之吝，獨遠實也。</p>
<p>六五：童蒙，吉。《象》曰：童蒙之吉，順以巽也。</p>
<p>上九：擊蒙，不利為寇，利禦寇。《象》曰：利用禦寇，上下順也。</p>
<h2>第五卦</h2>
<p>☵
☰　需　水天需　坎上　乾下</p>
<p>需：有孚，光亨，貞吉，利涉大川。</p>
<p>《彖》曰：需，須也，險在前也，剛健而不陷，其義不困窮矣。需，有孚，光亨，貞吉，位乎天位，以正中也。利涉大川，往有功也。</p>
<p>《象》曰：雲上於天，需；君子以飲食宴樂。</p>
<p>初九：需于郊，利用恒，无咎。《象》曰：需于郊，不犯難行也；利用恒无咎，未失常也。</p>
<p>九二：需于沙，小有言，終吉。《象》曰：需于沙，衍在中也；雖小有言，以終吉也。</p>
<p>九三：需于泥，致寇至。《象》曰：需于泥，災在外也；自我致寇，敬慎不敗也。</p>
<p>六四：需于血，出自穴。《象》曰：需于血，順以聽也。</p>
<p>九五：需于酒食，貞吉。《象》曰：酒食貞吉，以中正也。</p>
<p>上六：入于穴，有不速之客三人來，敬之，終吉。《象》曰：不速之客來，敬之終吉。雖不當位，未大失也。</p>
<h2>第六卦</h2>
<p>☰
☵　訟　天水訟　乾上　坎下</p>
<p>訟：有孚窒，惕，中吉；終兇。利見大人，不利涉大川。</p>
<p>《彖》曰：訟，上剛下險，險而健，訟。訟，有孚窒，惕，中吉，剛來而得中也；終兇，訟不可成也。利見大人，尚中正也。不利涉大川，入于淵也。</p>
<p>《象》曰：天與水違行，訟；君子以作事謀始。</p>
<p>初六：不永所事，小有言，終吉。《象》曰：不永所事，訟不可長也；雖小有言，其辯明也。</p>
<p>九二：不克訟，歸而逋，其邑人三百戶，无眚。《象》曰：不克訟，歸逋竄也；自下訟上，患至掇也。</p>
<p>六三：食舊德，貞厲，終吉。或從王事，无成。《象》曰：食舊德，從上吉也。</p>
<p>九四：不克訟，復即命，渝，安貞吉。《象》曰：復即命，渝，安貞不失也。</p>
<p>九五：訟，元吉。《象》曰：訟，元吉，以中正也。</p>
<p>上九：或錫之鞶帶，終朝三褫之。《象》曰：以訟受服，亦不足敬也。</p>
<h2>第七卦</h2>
<p>☷
☵　師　地水師　坤上　坎下</p>
<p>師：貞，丈人吉，无咎。</p>
<p>《彖》曰：師，眾也；貞，正也。能以眾正，可以王矣。剛中而應，行險而順，以此毒天下，而民從之，吉又何咎矣！</p>
<p>《象》曰：地中有水，師；君子以容民畜眾。</p>
<p>初六：師出以律，否臧凶。《象》曰：師出以律，失律凶也。</p>
<p>九二：在師中吉，无咎，王三錫命。《象》曰：在師中吉，承天寵也；王三錫命，懷萬邦也。</p>
<p>六三：師或輿尸，凶。《象》曰：師或輿尸，大无功也。</p>
<p>六四：師左次，无咎。《象》曰：左次無咎，未失常也。</p>
<p>六五：田有禽，利執言，无咎。長子帥師；弟子輿尸。貞凶。《象》曰：長子帥師，以中行也；弟子輿尸，使不當也。</p>
<p>上六：大君有命，開國承家，小人勿用。《象》曰：大君有命，以正功也；小人勿用，必亂邦也。</p>
<h2>第八卦</h2>
<p>☵
☷　比　水地比　坎上　坤下</p>
<p>比：吉。原筮，元永貞，无咎。不寧方來，後夫凶。</p>
<p>《彖》曰：比，吉也；比，輔也。下順從也。原筮，元永貞，无咎，以剛中也。不寧方來，上下應也。後夫凶，其道窮也。</p>
<p>《象》曰：地上有水，比；先王以建萬國，親諸侯。</p>
<p>初六：有孚，比之，无咎。有孚盈缶，終來有他吉。《象》曰：比之初六，有它吉也。</p>
<p>六二：比之自內，貞吉。《象》曰：比之自內，不自失也。</p>
<p>六三：比之匪人。《象》曰：比之匪人，不亦傷乎？</p>
<p>六四：外比之，貞吉。《象》曰：外比於賢，以從上也。</p>
<p>九五：顯比，玉用三驅，失前禽，邑人不誡，吉。《象》曰：顯比之吉，位正中也；舍逆取順，失前禽也，邑人不誡，上使中也。</p>
<p>上六：比之无首，凶。《象》曰：比之无首，无所終也。</p>
<h2>第九卦</h2>
<p>☴
☰　小畜　風天小畜　巽上　乾下</p>
<p>小畜：亨；密雲不雨，自我西郊。</p>
<p>《彖》曰：小畜，柔得位而上下應之，曰小畜。健而巽，剛中而志行，乃亨。密雲不雨，尚往也。自我西郊，施未行也。</p>
<p>《象》曰：風行天上，小畜；君子以懿文德。</p>
<p>初九：復自道，何其咎？吉。《象》曰：復自道，其義吉也。</p>
<p>九二：牽復，吉。《象》曰：牽復在中，亦不自失也。</p>
<p>九三：輿說輻，夫妻反目。《象》曰：夫妻反目，不能正室也。</p>
<p>六四：有孚，血去惕出，无咎。《象》曰：有孚惕出，上合志也。</p>
<p>九五：有孚攣如，富以其鄰。《象》曰：有孚攣如，不獨富也。</p>
<p>上九：既雨既處，尚德載；婦貞厲，月幾望；君子征凶。《象》曰：既雨既處，德積載也；君子征凶，有所疑也。</p>
<h2>第十卦</h2>
<p>☰
☱　履　天澤履　乾上　兌下</p>
<p>履：履虎尾，不咥人，亨。</p>
<p>《彖》曰：履，柔履剛也；說而應乎乾，是以履虎尾，不咥人，亨。剛中正，履帝位而不疚，光明也。</p>
<p>《象》曰：上天下澤，履；君子以辯上下，定民志。</p>
<p>初九：素履，往无咎。《象》曰：素履之往，獨行願也。</p>
<p>九二：履道坦坦，幽人貞吉。《象》曰：「幽人貞吉」，中不自亂也。</p>
<p>六三：眇能視，跛能履，履虎尾，咥，人凶，武人為于大君。《象》曰：眇能視，不足以有明也。跛能履，不足以與行也。咥人之凶，位不當也。武人為于大君，志剛也。</p>
<p>九四：履虎尾，愬愬，終吉。《象》曰：「愬愬終吉」，志行也。</p>
<p>九五：夬履，貞厲。《象》曰：「夬履貞厲」，位正當也。</p>
<p>上九：視履考祥，其旋元吉。《象》曰：元吉在上，大有慶也。</p>
<h2>第十一卦</h2>
<p>☷
☰　泰　天地泰　坤上　乾下</p>
<p>泰：小往大來，吉，亨。</p>
<p>《彖》曰：泰，小往大來，吉，亨。則是天地交而萬物通也，上下交而其志同也。內陽而外陰，內健而外順，內君子而外小人；君子道長，小人道消也。</p>
<p>《象》曰：天地交，泰；后以財成天地之道，輔相天地之宜，以左右民。</p>
<p>初九：拔茅茹，以其彙，征吉。《象》曰：拔茅征吉，志在外也。</p>
<p>九二：包荒，用馮河；不遐遺，朋亡。得尚于中行。《象》曰：包荒得尚于中行，以光大也。</p>
<p>九三：无平不陂，无往不復；艱貞，无咎；勿恤其孚，于食有福。《象》曰：无往不復，天地際也。</p>
<p>六四：翩翩，不富以其鄰，不戒以孚。《象》曰：翩翩不富，皆失實也。「不戒以孚」，中心願也。</p>
<p>六五：帝乙歸妹，以祉元吉。《象》曰：以祉元吉，中以行願也。</p>
<p>上六：城復于隍，勿用師，自邑告命，貞吝。《象》曰：城復于隍，其命亂也。</p>
<h2>第十二卦</h2>
<p>☰
☷　否　地天否　乾上　坤下</p>
<p>否：否之匪人，不利君子貞，大往小來。</p>
<p>《彖》曰：否之匪人，不利君子貞，大往小來。則是天地不交而萬物不通也，上下不交而天下无邦也。內陰而外陽，內柔而外剛，內小人而外君子。小人道長，君子道消也。</p>
<p>《象》曰：天地不交，否；君子以儉德辟難，不可榮以祿。</p>
<p>初六：拔茅茹，以其彙，貞吉，亨。《象》曰：拔茅貞吉，志在君也。</p>
<p>六二：包承。小人吉，大人否，亨。《象》曰：大人否，亨，不亂群也。</p>
<p>六三：包羞。《象》曰：包羞，位不當也。</p>
<p>九四：有命无咎，疇離祉。《象》曰：有命无咎，志行也。</p>
<p>九五：休否，大人吉；其亡其亡，繫于苞桑。《象》曰：大人之吉，位正當也。</p>
<p>上九：傾否，先否後喜。《象》曰：否終則傾，何可長也！</p>
<h2>第十三卦</h2>
<p>☰
☲　同人　天火同人　乾上　離下</p>
<p>同人：同人于野，亨，利涉大川，利君子貞。</p>
<p>《彖》曰：同人，柔得位得中而應乎乾，曰同人。同人曰：「同人于野，亨，利涉大川。」乾行也。文明以健，中正而應，君子正也。唯君子為能通天下之志。</p>
<p>《象》曰：天與火，同人；君子以類族辨物。</p>
<p>初九：同人于門，无咎。《象》曰：出門同人，又誰咎也！</p>
<p>六二：同人于宗，吝。《象》曰：同人于宗，吝道也。</p>
<p>九三：伏戎于莽，升其高陵，三歲不興。《象》曰：伏戎于莽，敵剛也；三歲不興，安行也。</p>
<p>九四：乘其墉，弗克攻，吉。《象》曰：乘其墉，義弗克也；其吉，則困而反則也。</p>
<p>九五：同人，先號咷而後笑，大師克相遇。《象》曰：同人之先，以中直也；大師相遇，言相克也。</p>
<p>上九：同人于郊，无悔。《象》曰：「同人于郊」，志未得也。</p>
<h2>第十四卦</h2>
<p>☲
☰　大有　火天大有　離上　乾下</p>
<p>大有：元亨。</p>
<p>《彖》曰：大有，柔得尊位大中，而上下應之，曰大有。其德剛健而文明，應乎天而時行，是以元亨。</p>
<p>《象》曰：火在天上，大有；君子以遏惡揚善，順天休命。</p>
<p>初九：无交害。匪咎，艱則无咎。《象》曰：大有初九，无交害也。</p>
<p>九二：大車以載，有攸往，无咎。《象》曰：大車以載，積中不敗也。</p>
<p>九三：公用亨于天子，小人弗克。《象》曰：公用亨于天子，小人害也。</p>
<p>九四：匪其彭，无咎。《象》曰：匪其彭无咎，明辯晢也。</p>
<p>六五：厥孚交如，威如吉。《象》曰：厥孚交如，信以發志也。威如之吉，易而无備也。</p>
<p>上九：自天佑之，吉无不利。《象》曰：大有上吉，自天佑也。</p>
<h2>第十五卦</h2>
<p>☷
☶　謙　地山謙　坤上　艮下</p>
<p>謙：亨，君子有終。</p>
<p>《彖》曰：謙，亨，天道下濟而光明，地道卑而上行。天道虧盈而益謙，地道變盈而流謙，鬼神害盈而福謙，人道惡盈而好謙。謙尊而光，卑而不可踰，君子之終也。</p>
<p>《象》曰：地中有山，謙；君子以裒多益寡，稱物平施。</p>
<p>初六：謙謙君子，用涉大川，吉。《象》曰：謙謙君子，卑以自牧也。</p>
<p>六二：鳴謙，貞吉。《象》曰：鳴謙貞吉，中心得也。</p>
<p>九三：勞謙，君子有終，吉。《象》曰：勞謙君子，萬民服也。</p>
<p>六四：无不利，撝謙。《象》曰：无不利，撝謙，不違則也。</p>
<p>六五：不富以其鄰，利用侵伐，无不利。《象》曰：利用侵伐，征不服也。</p>
<p>上六：鳴謙，利用行師，征邑國。《象》曰：鳴謙，志未得也；可用行師，征邑國也。</p>
<h2>第十六卦</h2>
<p>☳
☷　豫　雷地豫　震上　坤下</p>
<p>豫：利建侯行師。</p>
<p>《彖》曰：豫，剛應而志行，順以動，豫。豫順以動，故天地如之，而況建侯行師乎？天地以順動，故日月不過而四時不忒；聖人以順動，則刑罰清而民服。豫之時義大矣哉！</p>
<p>《象》曰：雷出地奮，豫；先王以作樂崇德，殷薦之上帝，以配祖考。</p>
<p>初六：鳴豫，凶。《象》曰：初六鳴豫，志窮凶也。</p>
<p>六二：介于石，不終日，貞吉。《象》曰：不終日貞吉，以中正也。</p>
<p>六三：盱豫，悔，遲，有悔。《象》曰：盱豫有悔，位不當也。</p>
<p>九四：由豫，大有得。勿疑，朋盍簪。《象》曰：由豫，大有得，志大行也。</p>
<p>六五：貞疾，恒不死。《象》曰：六五貞疾，乘剛也，恒不死，中未亡也。</p>
<p>上六：冥豫，成，有渝无咎。《象》曰：冥豫在上，何可長也？</p>
<h2>第十七卦</h2>
<p>☱
☳　隨　澤雷隨　兌上　震下</p>
<p>隨：元、亨、利、貞，无咎。</p>
<p>《彖》曰：隨，剛來而下柔，動而說，隨。大亨貞，无咎，而天下隨時。隨時之義大矣哉！</p>
<p>《象》曰：澤中有雷，隨；君子以嚮晦入宴息。</p>
<p>初九：官有渝，貞吉；出門交有功。《象》曰：官有渝，從正吉也。出門交有功，不失也。</p>
<p>六二：係小子，失丈夫。《象》曰：係小子，弗兼與也。</p>
<p>六三：係丈夫，失小子。隨有求得，利居貞。《象》曰：係丈夫，志舍下也。</p>
<p>九四：隨有獲，貞凶，有孚在道以明，何咎？《象》曰：隨有獲，其義凶也。「有孚在道」，明功也。</p>
<p>九五：孚于嘉，吉。《象》曰：孚于嘉吉，位正中也。</p>
<p>上六：拘係之，乃從維之。王用亨于西山。《象》曰：拘係之，上窮也。</p>
<h2>第十八卦</h2>
<p>☶
☴　蠱　山風蠱　艮上　巽下</p>
<p>蠱：元亨，利涉大川；先甲三日，後甲三日。</p>
<p>《彖》曰：蠱，剛上而柔下，巽而止，蠱。蠱，元亨，而天下治也。利涉大川，往有事也。先甲三日，後甲三日，終則有始，天行也。</p>
<p>《象》曰：山下有風，蠱；君子以振民育德。</p>
<p>初六：幹父之蠱，有子，考无咎。厲終吉。《象》曰：幹父之蠱，意承考也。</p>
<p>九二：幹母之蠱，不可貞。《象》曰：幹母之蠱，得中道也。</p>
<p>九三：幹父之蠱，小有悔，无大咎。《象》曰：幹父之蠱，終无咎也。</p>
<p>六四：裕父之蠱，往見吝。《象》曰：裕父之蠱，往未得也。</p>
<p>六五：幹父之蠱，用譽。《象》曰：幹父用譽，承以德也。</p>
<p>上九：不事王侯，高尚其事。《象》曰：不事王侯，志可則也。</p>
<h2>第十九卦</h2>
<p>☷
☱　臨　地澤臨　坤上　兌下</p>
<p>臨：元、亨、利、貞。至于八月有凶。</p>
<p>《彖》曰：臨，剛浸而長，說而順，剛中而應。大亨以正，天之道也；至于八月有凶，消不久也。</p>
<p>《象》曰：澤上有地，臨；君子以教思无窮，容保民无疆。</p>
<p>初九：咸臨，貞吉。《象》曰：咸臨，貞吉，志行正也。</p>
<p>九二：咸臨，吉，无不利。《象》曰：咸臨，吉，无不利，未順命也。</p>
<p>六三：甘臨，无攸利；既憂之，无咎。《象》曰：甘臨，位不當也；既憂之，咎不長也。</p>
<p>六四：至臨，无咎。《象》曰：至臨，无咎，位當也。</p>
<p>六五：知臨，大君之宜，吉。《象》曰：大君之宜，行中之謂也。</p>
<p>上六：敦臨，吉，无咎。《象》曰：敦臨之吉，志在內也。</p>
<h2>第二十卦</h2>
<p>☴
☷　觀　風地觀　巽上　坤下</p>
<p>觀：盥而不薦，有孚顒若。</p>
<p>《彖》曰：大觀在上，順而巽，中正以觀天下。觀，盥而不薦，有孚顒若，下觀而化也。觀天之神道，而四時不忒；聖人以神道設教，而天下服矣！</p>
<p>《象》曰：風行地上，觀；先王以省方觀民設教。</p>
<p>初六：童觀，小人无咎，君子吝。《象》曰：初六童觀，小人道也。</p>
<p>六二：闚觀，利女貞。《象》曰：闚觀，女貞，亦可醜也。</p>
<p>六三：觀我生，進退。《象》曰：觀我生，進退，未失道也。</p>
<p>六四：觀國之光，利用賓于王。《象》曰：觀國之光，尚賓也。</p>
<p>九五：觀我生，君子无咎。《象》曰：觀我生，觀民也。</p>
<p>上九：觀其生，君子无咎。《象》曰：觀其生，志未平也。</p>
<h2>第二十一卦</h2>
<p>☲
☳　噬嗑　火雷噬嗑　離上　震下</p>
<p>噬嗑：亨，利用獄。</p>
<p>《彖》曰：頤中有物，曰噬嗑，噬嗑而亨。剛柔分，動而明，雷電合而章。柔得中而上行，雖不當位，利用獄也。</p>
<p>《象》曰：雷電，噬嗑；先王以明罰勑法。</p>
<p>初九：屨校滅趾，无咎。《象》曰：屨校，滅趾，不行也。</p>
<p>六二：噬膚，滅鼻，无咎。《象》曰：噬膚，滅鼻，乘剛也。</p>
<p>六三：噬腊肉，遇毒，小吝，无咎。《象》曰：遇毒，位不當也。</p>
<p>九四：噬乾胏，得金矢，利艱貞，吉。《象》曰：利艱，貞吉，未光也。</p>
<p>六五：噬乾肉，得黃金，貞厲，无咎。《象》曰：貞厲，無咎，得當也。</p>
<p>上九：何校滅耳，兇。《象》曰：何校，滅耳，聰不明也。</p>
<h2>第二十二卦</h2>
<p>☶
☲　賁　山火賁　艮上　離下</p>
<p>賁：亨。小利有攸往。</p>
<p>《彖》曰：賁，亨，柔來而文剛，故亨；分剛上而文柔，故小利有攸住，天文也；文明以止，人文也。觀乎天文，以察時變；觀乎人文，以化成天下。</p>
<p>《象》曰：山下有火，賁；君子以明庶政，无敢折獄。</p>
<p>初九：賁其趾，舍車而徒。《象》曰：舍車而徒，義弗乘也。</p>
<p>六二：賁其須。《象》曰：賁其須，與上興也。</p>
<p>九三：賁如，濡如，永貞吉。《象》曰：永貞之吉，終莫之陵也。</p>
<p>六四：賁如，皤如，白馬翰如；匪寇，婚媾。《象》曰：六四當位，疑也；匪寇婚媾，終无尤也。</p>
<p>六五：賁于丘園，束帛戔戔，吝，終吉。《象》曰：六五之吉，有喜也。</p>
<p>上九：白賁无咎。《象》曰：白賁无咎，上得志也。</p>
<h2>第二十三卦</h2>
<p>☶
☷　剝　山地剝　艮上　坤下</p>
<p>剝：不利有攸往。</p>
<p>《彖》曰：剝，剝也，柔變剛也。不利有攸往，小人長也。順而止之，觀象也。君子尚消息盈虛，天行也。</p>
<p>《象》曰：山附於地，剝；上以厚下安宅。</p>
<p>初六：剝牀以足，蔑。貞凶。《象》曰：剝牀以足，以滅下也。</p>
<p>六二：剝牀以辨，蔑。貞凶。《象》曰：剝牀以辨，未有與也。</p>
<p>六三：剝之，无咎。《象》曰：剝之无咎，失上下也。</p>
<p>六四：剝牀以膚，兇。《象》曰：剝床以膚，切近災也。</p>
<p>六五：貫魚以宮人寵，无不利。《象》曰：以宮人寵，終无尤也。</p>
<p>上九：碩果不食。君子得輿，小人剝廬。《象》曰：君子得輿，民所載也；小人剝廬，終不可用也。</p>
<h2>第二十四卦</h2>
<p>☷
☳　復　地雷復　坤上　震下</p>
<p>復：亨。出入无疾，朋來无咎。反復其道，七日來復。利有攸往。</p>
<p>《彖》曰：復，亨，剛反，動而以順行，是以出入无疾，朋來无咎。反復其道，七日來復，天行也。利有攸往，剛長也。復，其見天地之心乎？</p>
<p>《象》曰：雷在地中，復；先王以至日閉關，商旅不行，後不省方。</p>
<p>初九：不遠復，无祗悔，元吉。《象》曰：不遠之復，以修身也。</p>
<p>六二：休復，吉。《象》曰：休復之吉，以下仁也。</p>
<p>六三：頻復，厲，无咎。《象》曰：頻復之厲，義无咎也。</p>
<p>六四：中行獨復。《象》曰：中行獨復，以從道也。</p>
<p>六五：敦復，无悔。《象》曰：敦復，无悔，中以自考也。</p>
<p>上六：迷復，凶；有災眚。用行師，終有大敗，以其國君凶。至于十年不克征。《象》曰：迷復之凶，反君道也。</p>
<h2>第二十五卦</h2>
<p>☰
☳　无妄　天雷无妄　乾上　震下</p>
<p>无妄：元、亨、利、貞。其匪正有眚。不利有攸往。</p>
<p>《彖》曰：无妄，剛自外來而為主於內。動而健，剛中而應。大亨以正，天之命也；其匪正有眚，不利有攸往，無妄之往，何之矣？天命不佑，行矣哉？</p>
<p>《象》曰：天下雷行，物與无妄；先王以茂對時，育萬物。</p>
<p>初九：无妄，往，吉。《象》曰：无妄之往，得志也。</p>
<p>六二：不耕穫，不菑畬，則利有攸往。《象》曰：不耕穫，未富也。</p>
<p>六三：无妄之災，或繫之牛，行人之得，邑人之災。《象》曰：行人得牛，邑人災也。</p>
<p>九四：可貞，无咎。《象》曰：可貞无咎，固有之也。</p>
<p>九五：无妄之疾，勿藥有喜。《象》曰：无妄之藥，不可試也。</p>
<p>上九：无妄，行有眚，无攸利。《象》曰：无妄之行，窮之災也。</p>
<h2>第二十六卦</h2>
<p>☶
☰　大畜　山天大畜　艮上　乾下</p>
<p>大畜：利貞，不家食吉，利涉大川。</p>
<p>利貞，不家食，吉。利涉大川。</p>
<p>《彖》曰：大畜，剛健篤實輝光，日新其德。剛上而尚賢。能止健，大正也。不家食吉，養賢也；利涉大川，應乎天也。</p>
<p>《象》曰：天在山中，大畜；君子以多識前言往行，以畜其德。</p>
<p>初九：有厲，利已。《象》曰：有厲利已，不犯災也。</p>
<p>九二：輿說輹。《象》曰：輿說輹，中无尤也。</p>
<p>九三：良馬逐，利艱貞。曰閑輿衛，利有攸往。《象》曰：利有攸往，上合志也。</p>
<p>六四：童牛之牿，元吉。《象》曰：六四元吉，有喜也。</p>
<p>六五：豶豕之牙，吉。《象》曰：六五之吉，有慶也。</p>
<p>上九：何天之衢，亨。《象》曰：何天之衢，道大行也。</p>
<h2>第二十七卦</h2>
<p>☶
☳　頤　山雷頤　艮上　震下</p>
<p>頤：貞吉。觀頤，自求口實。</p>
<p>《彖》曰：頤貞吉，養正則吉也。觀頤，觀其所養也；自求口實，觀其自養也。天地養萬物，聖人養賢以及萬民。頤之時大矣哉！</p>
<p>《象》曰：山下有雷，頤；君子以慎言語，節飲食。</p>
<p>初九：舍爾靈龜，觀我朵頤，凶。《象》曰：觀我朵頤，亦不足貴也。</p>
<p>六二：顛頤，拂經，于丘頤，征凶。《象》曰：六二征兇，行失類也。</p>
<p>六三：拂頤，貞凶，十年勿用，无攸利。《象》曰：十年勿用，道大悖也。</p>
<p>六四：顛頤，吉。虎視耽耽，其欲逐逐，無咎。《象》曰：顛頤之吉，上施光也。</p>
<p>六五：拂經，居貞吉，不可涉大川。《象》曰：居貞之吉，順以從上也。</p>
<p>上九：由頤，厲吉，利涉大川。《象》曰：由頤厲吉，大有慶也。</p>
<h2>第二十八卦</h2>
<p>☱
☴　大過　澤風大過　兌上　巽下</p>
<p>大過：棟橈，利有攸往，亨。</p>
<p>《彖》曰：大過，大者過也；棟撓，本末弱也。剛過而中，巽而說行，利有攸往，乃亨。大過之時大矣哉！</p>
<p>《象》曰：澤滅木，大過；君子以獨立不懼，遯世无悶。</p>
<p>初六：藉用白茅，无咎。《象》曰：藉用白茅，柔在下也。</p>
<p>九二：枯楊生稊，老夫得其女妻，無不利。《象》曰：老夫女妻，過以相與也。</p>
<p>九三：棟橈，凶。《象》曰：棟橈之凶，不可以有輔也。</p>
<p>九四：棟隆，吉；有它，吝。《象》曰：棟隆之吉，不撓乎下也。</p>
<p>九五：枯楊生華，老婦得其士夫，无咎无譽。《象》曰：枯楊生華，何可久也？老婦士夫，亦可醜也。</p>
<p>上六：過涉滅頂，凶，无咎。《象》曰：過涉之凶，不可咎也。</p>
<h2>第二十九卦</h2>
<p>☵
☵　坎　坎為水　坎上　坎下</p>
<p>坎：習坎，有孚，維心亨，行有尚。</p>
<p>《彖》曰：習坎，重險也。水流而不盈，行險而不失其信，維心亨，乃以剛中也。行有尚，往有功也。天險不可升也，地險山川丘陵也，王公設險以守其國。險之時用大矣哉！</p>
<p>《象》曰：水洊至，習坎；君子以常德行，習教事。</p>
<p>初六：習坎，入于坎窞，凶。《象》曰：習坎入坎，失道凶也。</p>
<p>九二：坎有險，求小得。《象》曰：求小得，未出中也。</p>
<p>六三：來之坎坎，險且枕，入于坎窞，勿用。《象》曰：來之坎坎，終无功也。</p>
<p>六四：樽酒，簋貳，用缶，納約自牖，終无咎。《象》曰：樽酒簋貳，剛柔際也。</p>
<p>九五：坎不盈，祇既平，无咎。《象》曰：坎不盈，中未大也。</p>
<p>上六：係用徽纆，寘于叢棘，三歲不得，凶。《象》曰：上六失道，凶三歲也。</p>
<h2>第三十卦</h2>
<p>☲
☲　離　離為火　離上　離下</p>
<p>離：利貞，亨。畜牝牛吉。</p>
<p>《彖》曰：離，麗也，日月麗乎天，百穀草木麗乎土。重明以麗乎正，乃化成天下。柔麗乎中正，故亨，是以畜牝牛吉也。</p>
<p>《象》曰：明兩作，離；大人以繼明照于四方。</p>
<p>初九：履錯然，敬之，无咎。《象》曰：履錯之敬，以辟咎也。</p>
<p>六二：黃離，元吉。《象》曰：黃離元吉，得中道也。</p>
<p>九三：日昃之離，不鼓缶而歌，則大耋之嗟，凶。《象》曰：日昃之離，何可久也？</p>
<p>九四：突如其來如，焚如，死如，棄如。《象》曰：突如其來如，无所容也。</p>
<p>六五：出涕沱若，戚嗟若，吉。《象》曰：六五之吉，離王公也。</p>
<p>上九：王用出征，有嘉折首，獲匪其醜，无咎。《象》曰：王用出征，以正邦也。</p>
<h2>第三十一卦</h2>
<p>☱
☶　咸　澤山咸　兌上　艮下</p>
<p>咸：亨，利貞。取女吉。</p>
<p>《彖》曰：咸，感也。柔上而剛下，二氣感應以相與，止而說，男下女，是以亨，利貞，取女吉也。天地感而萬物化生，聖人感人心而天下和平。觀其所感，而天地萬物之情可見矣！</p>
<p>《象》曰：山上有澤，咸；君子以虛受人。</p>
<p>初六：咸其拇。《象》曰：咸其拇，志在外也。</p>
<p>六二：咸其腓，凶；居吉。《象》曰：雖凶居吉，順不害也。</p>
<p>九三：咸其股，執其隨，往吝。《象》曰：「咸其股」，亦不處也；志在隨人，所執下也。</p>
<p>九四：貞吉，悔亡。憧憧往來，朋從爾思。《象》曰：貞吉，悔亡，未感害也；憧憧往來，未光大也。</p>
<p>九五：咸其脢，无悔。《象》曰：咸其脢，志末也。</p>
<p>上六：咸其輔頰舌。《象》曰：咸其輔頰舌，滕口說也。</p>
<h2>第三十二卦</h2>
<p>☳
☴　恆　雷風恆　震上　巽下</p>
<p>恆：亨，无咎，利貞。利有攸往。</p>
<p>《彖》曰：恒，久也。剛上而柔下，雷風相與，巽而動，剛柔皆應，恒。恒，亨，無咎，利貞，久於其道也。天地之道，恒久而不已也。利有攸往，終則有始也。日月得天而能久照，四時變化而能久成，聖人久於其道而天下化成。觀其所恒，而天地萬物之情可見矣！</p>
<p>《象》曰：雷風，恒；君子以立不易方。</p>
<p>初六：浚恒，貞凶；无攸利。《象》曰：浚恒之兇，始求深也。</p>
<p>九二：悔亡。《象》曰：九二悔亡，能久中也。</p>
<p>九三：不恒其德，或承之羞，貞吝。《象》曰：不恒其德，無所容也。</p>
<p>九四：田无禽。《象》曰：久非其位，安得禽也？</p>
<p>六五：恒其德，貞，婦人吉，夫子凶。《象》曰婦人貞吉，從一而終也；夫子制義，從婦凶也。</p>
<p>上六：振恒，凶。《象》曰：振恒在上，大无功也。</p>
<h2>第三十三卦</h2>
<p>☰
☶　遯　天山遯　乾上　艮下</p>
<p>遯：亨，小利貞。</p>
<p>《彖》曰：遯，亨，遯而亨也。剛當位而應，與時行也。小利貞，浸而長也。遯之時義大矣哉！</p>
<p>《象》曰：天下有山，遯；君子以遠小人，不惡而嚴。</p>
<p>初六：遯尾，厲，勿用有攸往。《象》曰：遯尾之厲，不往，何災也？</p>
<p>六二：執之用黃牛之革，莫之勝說。《象》曰：執用黃牛，固志也。</p>
<p>九三：係遯，有疾厲，畜臣妾吉。《象》曰：係遯之厲，有疾憊也；畜臣妾吉，不可大事也。</p>
<p>九四：好遯，君子吉，小人否。《象》曰：君子好遯，小人否也。</p>
<p>九五：嘉遯，貞吉。《象》曰：嘉遯；貞吉，以正志也。</p>
<p>上九：肥遯，无不利。《象》曰：肥遯，无不利，无所疑也。</p>
<h2>第三十四卦</h2>
<p>☳
☰　大壯　雷天大壯　震上　乾下</p>
<p>大壯：利貞。</p>
<p>《彖》曰：大壯，大者壯也。剛以動，故壯。大壯，利貞，大者正也。正大而天地之情可見矣！</p>
<p>《象》曰：雷在天上，大壯；君子以非禮弗履。</p>
<p>初九：壯于趾，征凶，有孚。《象》曰：壯于趾，其孚窮也。</p>
<p>九二：貞吉。《象》曰：九二貞吉，以中也。</p>
<p>九三：小人用壯，君子用罔，貞厲。羝羊觸藩，羸其角。《象》曰：小人用壯，君子罔也。</p>
<p>九四：貞吉，悔亡。藩決不羸，壯于大輿之輹。《象》曰：藩決不羸，尚往也。</p>
<p>六五：喪羊于易，无悔。《象》曰：喪羊于易，位不當也。</p>
<p>上六：羝羊觸藩，不能退，不能遂，无攸利，艱則吉。《象》曰：不能退不能遂，不詳也；艱則吉，咎不長也。</p>
<h2>第三十五卦</h2>
<p>☲
☷　晉　火地晉　離上　坤下</p>
<p>晉：康侯用錫馬蕃庶，晝日三接。</p>
<p>《彖》曰：晉，進也。明出地上，順而麗乎大明，柔進而上行。是以康侯用錫馬蕃庶，晝日三接也。</p>
<p>《象》曰：明出地上，晉；君子以自昭明德。</p>
<p>初六：晉如摧如，貞吉；罔孚，裕无咎。《象》曰：晉如摧如，獨行正也；裕无咎，未受命也。</p>
<p>六二：晉如愁如，貞吉，受茲介福于其王母。《象》曰：受茲介福，以中正也。</p>
<p>六三：眾允，悔亡。《象》曰：眾允之，志上，行也。</p>
<p>九四：晉如鼫鼠，貞厲。《象》曰：鼫鼠貞厲，位不當也。</p>
<p>六五：悔亡，失得勿恤，往吉，无不利。《象》曰：失得勿恤，往有慶也。</p>
<p>上九：晉其角，維用伐邑，厲吉，无咎，貞吝。《象》曰：維用伐邑，道未光也。</p>
<h2>第三十六卦</h2>
<p>☷
☲　明夷　地火明夷　坤上　離下</p>
<p>明夷：利艱貞。</p>
<p>《彖》曰：明入地中，明夷。內文明而外柔順，以蒙大難，文王以之。利艱貞，晦其明也。內難而能正其志，箕子以之。</p>
<p>《象》曰：明入地中，明夷；君子以莅眾，用晦而明。</p>
<p>初九：明夷于飛，垂其翼；君子于行，三日不食。有攸往，主人有言。《象》曰：君子于行，義不食也。</p>
<p>六二：明夷，夷于左股，用拯馬壯，吉。《象》曰：六二之吉，順以則也。</p>
<p>九三：明夷于南狩，得其大首；不可疾，貞。《象》曰：南狩之志，乃得大也。</p>
<p>六四：入于左腹，獲明夷之心，于出門庭。《象》曰：入于左腹，獲心意也。</p>
<p>六五：箕子之明夷，利貞。《象》曰：箕子之貞，明不可息也。</p>
<p>上六：不明晦，初登于天，後入于地。《象》曰：初登于天，照四國也；後入于地，失則也。</p>
<h2>第三十七卦</h2>
<p>☴
☲　家人　風火家人　巽上　離下</p>
<p>家人：利女貞。</p>
<p>《彖》曰：家人，女正位乎內，男正位乎外，男女正，天地之大義也。家人有嚴君焉，父母之謂也。父父、子子、兄兄、弟弟、夫夫、婦婦，而家道正；正家而天下定矣！</p>
<p>《象》曰：風自火出，家人；君子以言有物，而行有恒。</p>
<p>初九：閑有家，悔亡。《象》曰：閑有家，志未變也。</p>
<p>六二：无攸遂，在中饋，貞吉。《象》曰：六二之吉，順以巽也。</p>
<p>九三：家人嗃嗃，悔厲吉；婦子嘻嘻，終吝。《象》曰：家人嗃嗃，未失也；婦子嘻嘻，失家節也。</p>
<p>六四：富家，大吉。《象》曰：富家大吉，順在位也。</p>
<p>九五：王假有家，勿恤，吉。《象》曰：王假有家，交相愛也。</p>
<p>上九：有孚，威如，終吉。《象》曰：威如之吉，反身之謂也。</p>
<h2>第三十八卦</h2>
<p>☲
☱　睽　火澤睽　離上　兌下</p>
<p>睽：小事吉。</p>
<p>《彖》曰：睽，火動而上，澤動而下，二女同居，其志不同行。說而麗乎明，柔進而上行，得中而應乎剛，是以小事吉。天地睽而其事同也，男女睽而其志通也，萬物睽而其事類也。睽之時用大矣哉！</p>
<p>《象》曰：上火下澤，睽；君子以同而異。</p>
<p>初九：悔亡；喪馬勿逐自復；見惡人，无咎。《象》曰：見惡人，以辟咎也。</p>
<p>九二：遇主于巷，无咎。《象》曰：遇主于巷，未失道也。</p>
<p>六三：見輿曳，其牛掣，其人天且劓。无初有終。《象》曰：見輿曳，位不當也；无初有終，遇剛也。</p>
<p>九四：睽孤，遇元夫，交孚，厲无咎。《象》曰：交孚无咎，志行也。</p>
<p>六五：悔亡，厥宗噬膚，往何咎？《象》曰：厥宗噬膚，往有慶也。</p>
<p>上九：睽孤，見豕負塗，載鬼一車，先張之弧，後說之弧。匪寇，婚媾，往遇雨則吉。《象》曰：遇雨之吉，群疑亡也。</p>
<h2>第三十九卦</h2>
<p>☵
☶　蹇　水山蹇　坎上　艮下</p>
<p>蹇：利西南，不利東北。利見大人，貞吉。</p>
<p>《彖》曰：蹇，難也，險在前也。見險而能止，知矣哉！蹇利西南，往得中也；不利東北，其道窮也。利見大人，往有功也。當位貞吉，以正邦也。蹇之時用大矣哉！</p>
<p>《象》曰：山上有水，蹇；君子以反身修德。</p>
<p>初六：往蹇，來譽。《象》曰：往蹇來譽，宜待也。</p>
<p>六二：王臣蹇蹇，匪躬之故。《象》曰：王臣蹇蹇，終无尤也。</p>
<p>九三：往蹇，來反。《象》曰：往蹇，來反，內喜之也。</p>
<p>六四：往蹇，來連。《象》曰：往蹇，來連，當位實也。</p>
<p>九五：大蹇，朋來。《象》曰：大蹇，朋來，以中節也。</p>
<p>上六：往蹇，來碩，吉。利見大人。《象》曰：往蹇，來碩，志在內也；利見大人，以從貴也。</p>
<h2>第四十卦</h2>
<p>☳
☵　解　雷水解　震上　坎下</p>
<p>解：利西南。无所往，其來復吉；有攸往，夙吉。</p>
<p>《彖》曰：解，險以動，動而免乎險，解。解利西南，往得眾也。其來復吉，乃得中也。有攸往，夙吉，往有功也。天地解而雷雨作，雷雨作而百果草木皆甲坼，解之時大矣哉！</p>
<p>《象》曰：雷雨作，解；君子以赦過宥罪。</p>
<p>初六：无咎。《象》曰：剛柔之際，義无咎也。</p>
<p>九二：田獲三狐，得黃矢，貞吉。《象》曰：九二貞吉，得中道也。</p>
<p>六三：負且乘，致寇至，貞吝。《象》曰：負且乘，亦可醜也；自我致戎，又誰咎也？</p>
<p>九四：解而拇，朋至斯孚。《象》曰：解而拇，未當位也。</p>
<p>六五：君子維有解，吉，有孚于小人。《象》曰：君子有解，小人退也。</p>
<p>上六：公用射隼于高墉之上，獲之，无不利。《象》曰：公用射隼，以解悖也。</p>
<h2>第四十一卦</h2>
<p>☶
☱　損　山澤損　艮上　兌下</p>
<p>損：有孚，元吉，无咎，可貞，利有攸往。曷之用？二簋可用享。</p>
<p>《彖》曰：損，損下益上，其道上行。損而有孚，元吉，无咎，可貞，利有攸往。曷之用？二簋可用享。二簋應有時，損剛益柔有時。損益盈虛，與時偕行。</p>
<p>《象》曰：山下有澤，損；君子以懲忿窒欲。</p>
<p>初九：已事遄往，无咎，酌損之。《象》曰：已事遄往，尚合志也。</p>
<p>九二：利貞，征凶。弗損益之。《象》曰：九二利貞，中以為志也。</p>
<p>六三：三人行則損一人，一人行，則得其友。《象》曰：一人行，三則疑也。</p>
<p>六四：損其疾，使遄有喜，无咎。《象》曰：損其疾，亦可喜也。</p>
<p>六五：或益之十朋之龜，弗克違，元吉。《象》曰：六五元吉，自上佑也。</p>
<p>上九：弗損益之，无咎，貞吉。利有攸往，得臣无家。《象》曰：弗損益之，大得志也。</p>
<h2>第四十二卦</h2>
<p>☴
☳　益　風雷益　巽上　震下</p>
<p>益：利有攸往，利涉大川。</p>
<p>《彖》曰：益，損上益下，民說无疆；自上下下，其道大光。利有攸往，中正有慶。利涉大川，木道乃行。益動而巽，日進无疆。天施地生，其益无方。凡益之道，與時偕行。</p>
<p>《象》曰：風雷，益；君子以見善則遷，有過則改。</p>
<p>初九：利用為大作，元吉，无咎。《象》曰：元吉，无咎，下不厚事也。</p>
<p>六二：或益之十朋之龜，弗克違，永貞吉。王用享于帝，吉。《象》曰：或益之，自外來也。</p>
<p>六三：益之用凶事，无咎。有孚中行，告公用圭。《象》曰：益用兇事，固有之也。</p>
<p>六四：中行告公從，利用為依遷國。《象》曰：告公從，以益志也。</p>
<p>九五：有孚惠心，勿問元吉，有孚惠我德。《象》曰：有孚惠心，勿問之矣；惠我德，大得志也。</p>
<p>上九：莫益之，或擊之，立心勿恒，凶。《象》曰：莫益之，偏辭也；或擊之，自外來也。</p>
<h2>第四十三卦</h2>
<p>☱
☰　夬　澤天夬　兌上　乾下</p>
<p>夬：揚于王庭，孚號有厲，告自邑，不利即戎。利有攸往。</p>
<p>《彖》曰：夬，決也，剛決柔也；健而說，決而和。揚于王庭，柔乘五剛也，孚號有厲，其危乃光也；告自邑，不利即戎，所尚乃窮也；利有攸往，剛長乃終也。</p>
<p>《象》曰：澤上於天，夬；君子以施祿及下，居德則忌。</p>
<p>初九：壯于前趾，往不勝為咎。《象》曰：不勝而往，咎也。</p>
<p>九二：惕號，莫夜有戎，勿恤。《象》曰：有戎勿恤，得中道也。</p>
<p>九三：壯于頄，有凶。君子夬夬，獨行遇雨，若濡有慍，无咎。《象》曰：君子夬夬，終無咎也。</p>
<p>九四：臀无膚，其行次且。牽羊悔亡，聞言不信。《象》曰：其行次且，位不當也；聞言不信，聰不明也。</p>
<p>九五：莧陸夬夬，中行无咎。《象》曰：中行无咎，中未光也。</p>
<p>上六：无號，終有凶。《象》曰：无號之凶，終不可長也。</p>
<h2>第四十四卦</h2>
<p>☰
☴　姤　天風姤　乾上　巽下</p>
<p>姤：女壯，勿用取女。</p>
<p>《彖》曰：姤，遇也，柔遇剛也。勿用取女，不可與長也。天地相遇，品物咸章也；剛遇中正，天下大行也。姤之時義大矣哉！</p>
<p>《象》曰：天下有風，姤；后以施命誥四方。</p>
<p>初六：繫于金柅，貞吉。有攸往，見凶，羸豕孚蹢躅。《象》曰：繫于金柅，柔道牽也。</p>
<p>九二：包有魚，无咎，不利賓。《象》曰：包有魚，義不及賓也。</p>
<p>九三：臀无膚，其行次且，厲，無大咎。《象》曰：其行次且，行未牽也。</p>
<p>九四：包無魚，起凶。《象》曰：無魚之兇，遠民也。</p>
<p>九五：以杞包瓜，含章，有隕自天。《象》曰：九五含章，中正也；有隕自天，志不舍命也。</p>
<p>上九：姤其角，吝，无咎。《象》曰：姤其角，上窮吝也。</p>
<h2>第四十五卦</h2>
<p>☱
☷　萃　澤地萃　兌上　坤下</p>
<p>萃：亨。王假有廟，利見大人，亨，利貞。用大牲吉，利有攸往。</p>
<p>《彖》曰：萃，聚也；順以說，剛中而應，故聚也。王假有廟，致孝享也；利見大人亨，聚以正也，用大牲吉，利有攸往，順天命也。觀其所聚，而天地萬物之情可見矣！</p>
<p>《象》曰：澤上於地，萃；君子以除戎器，戒不虞。</p>
<p>初六：有孚不終，乃亂乃萃；若號，一握為笑，勿恤，往无咎。《象》曰：乃亂乃萃，其志亂也。</p>
<p>六二：引吉，无咎，孚乃利用禴。《象》曰：引吉，无咎，中未變也。</p>
<p>六三：萃如嗟如，无攸利，往无咎，小吝。《象》曰：往无咎，上巽也。</p>
<p>九四：大吉，无咎。《象》曰：大吉，无咎，位不當也。</p>
<p>九五：萃有位，无咎。匪孚；元永貞，悔亡。《象》曰：萃有位，志未光也。</p>
<p>上六：齎咨涕洟，无咎。《象》曰：齎咨涕洟，未安上也。</p>
<h2>第四十六卦</h2>
<p>☷
☴　升　地風升　坤上　巽下</p>
<p>升：元亨。用見大人，勿恤。南征吉。</p>
<p>《彖》曰：柔以時升，巽而順，剛中而應，是以大亨。用見大人，勿恤，有慶也。南征吉，志行也。</p>
<p>《象》曰：地中生木，升；君子以順德，積小以高大。</p>
<p>初六：允升，大吉。《象》曰：允升，大吉，上合志也。</p>
<p>九二：孚，乃利用禴，无咎。《象》曰：九二之孚，有喜也。</p>
<p>九三：升虛邑。《象》曰：升虛邑，无所疑也。</p>
<p>六四：王用亨于岐山，吉，无咎。《象》曰：王用亨于岐山，順事也。</p>
<p>六五：貞吉，升階。《象》曰：貞吉升階，大得志也。</p>
<p>上六：冥升，利于不息之貞。《象》曰：冥升在上，消不富也。</p>
<h2>第四十七卦</h2>
<p>☱
☵　困　澤水困　兌上　坎下</p>
<p>困：亨，貞，大人吉，无咎。有言不信。</p>
<p>《彖》曰：困，剛揜也。險以說，困而不失其所亨，其唯君子乎？貞，大人吉，以剛中也，有言不信，尚口乃窮也。</p>
<p>《象》曰：澤無水，困；君子以致命遂志。</p>
<p>初六：臀困于株木，入于幽谷，三歲不覿。《象》曰：入于幽谷，幽不明也。</p>
<p>九二：困于酒食，朱紱方來，利用享祀，征凶，无咎。《象》曰：困于酒食，中有慶也。</p>
<p>六三：困于石，據于蒺藜，入于其宮，不見其妻，凶。《象》曰：據于蒺藜，乘剛也；入于其宮不見其妻，不祥也。</p>
<p>九四：來徐徐，困于金車，吝，有終。《象》曰：來徐徐，志在下也；雖不當位，有與也。</p>
<p>九五：劓刖，困于赤紱，乃徐有說。利用祭祀。《象》曰：劓刖，志未得也；乃徐有說，以中直也；利用祭祀，受福也。</p>
<p>上六：困于葛藟，于臲卼，曰動悔，有悔。征吉。《象》曰：困于葛藟，未當也；動悔有悔，吉行也。</p>
<h2>第四十八卦</h2>
<p>☵
☴　井　水風井　坎上　巽下</p>
<p>井：改邑不改井，无喪无得，往來井井。汔至亦未繘井，羸其瓶，凶。</p>
<p>《彖》曰：巽乎水而上水，井，井養而不窮也。改邑不改井，乃以剛中也；汔至，亦未繘井，未有功也。羸其瓶，是以凶也。</p>
<p>《象》曰：木上有水，井；君子以勞民勸相。</p>
<p>初六：井泥不食，舊井无禽。《象》曰：井泥不食，下也；舊井无禽，時舍也。</p>
<p>九二：井穀射鮒，甕敝漏。《象》曰：井穀射鮒，无與也。</p>
<p>九三：井渫不食，為我心惻，可用汲，王明，並受其福。《象》曰：井渫不食，行惻也。求王明，受福也。</p>
<p>六四：井甃，无咎。《象》曰：井甃无咎，修井也。</p>
<p>九五：井洌，寒泉食。《象》曰：寒泉之食，中正也。</p>
<p>上六：井收，勿幕，有孚，元吉。《象》曰：元吉在上，大成也。</p>
<h2>第四十九卦</h2>
<p>☱
☲　革　澤火革　兌上　離下</p>
<p>革：巳日乃孚，元、亨、利、貞，悔亡。</p>
<p>《彖》曰：革，水火相息，二女同居，其志不相得，曰革。巳日乃孚，革而信之；文明以說，大亨以正，革而當，其悔乃亡。天地革而四時成，湯武革命，順乎天而應乎人。革之時大矣哉！</p>
<p>《象》曰：澤中有火，革；君子以治厤明時。</p>
<p>初九：鞏用黃牛之革。《象》曰：鞏用黃牛，不可以有為也。</p>
<p>六二：巳日乃革之，征吉，无咎。《象》曰：巳日革之，行有嘉也。</p>
<p>九三：征凶，貞厲。革言三就，有孚。《象》曰：革言三就，又何之矣！</p>
<p>九四：悔亡。有孚，改命吉。《象》曰：改命之吉，信志也。</p>
<p>九五：大人虎變，未占有孚。《象》曰：大人虎變，其文炳也。</p>
<p>上六：君子豹變，小人革面。征凶，居貞吉。《象》曰：君子豹變，其文蔚也；小人革面，順以從君也。</p>
<h2>第五十卦</h2>
<p>☲
☴　鼎　火風鼎　離上　巽下</p>
<p>鼎：元吉，亨。</p>
<p>《彖》曰：鼎，象也。以木巽火，亨飪也。聖人亨以享上帝，而大亨以養聖賢。巽而耳目聰明，柔進而上行，得中而應乎剛，是以元亨。</p>
<p>《象》曰：木上有火，鼎；君子以正位凝命。</p>
<p>初六：鼎顛趾，利出否。得妾以其子，无咎。《象》曰：鼎顛趾，未悖也；利出否，以從貴也。</p>
<p>九二：鼎有實，我仇有疾，不我能即，吉。《象》曰：鼎有實，慎所之也；我仇有疾，終无尤也。</p>
<p>九三：鼎耳革，其行塞；雉膏不食，方雨虧悔，終吉。《象》曰：鼎耳革，失其義也。</p>
<p>九四：鼎折足，覆公餗，其形渥，凶。《象》曰：覆公餗，信如何也！</p>
<p>六五：鼎黃耳、金鉉，利貞。《象》曰：鼎黃耳，中以為實也。</p>
<p>上九：鼎玉鉉，大吉，无不利。《象》曰：玉鉉在上，剛柔節也。</p>
<h2>第五十一卦</h2>
<p>☳
☳　震　震為雷　震上　震下</p>
<p>震：亨。震來虩虩，笑言啞啞；震驚百里，不喪匕鬯。</p>
<p>《彖》曰：震，亨。震來虩虩，恐致福也；笑言啞啞，後有則也。震驚百里，驚遠而懼邇也。出可以守宗廟社稷，以為祭主也。</p>
<p>《象》曰：洊雷，震；君子以恐懼修省。</p>
<p>初九：震來虩虩，後笑言啞啞，吉。《象》曰：震來虩虩，恐致福也；笑言啞啞，後有則也。</p>
<p>六二：震來厲，億喪貝，躋于九陵，勿逐，七日得。《象》曰：震來厲，乘剛也。</p>
<p>六三：震蘇蘇，震行无眚。《象》曰：震蘇蘇，位不當也。</p>
<p>九四：震遂泥。《象》曰：震遂泥，未光也。</p>
<p>六五：震往來厲，意无喪，有事。《象》曰：震往來厲，危行也；其事在中，大无喪也。</p>
<p>上六：震索索，視矍矍，征凶。震不于其躬，于其鄰，无咎，婚媾有言。《象》曰：震索索，中未得也；雖凶无咎，畏鄰戒也。</p>
<h2>第五十二卦</h2>
<p>☶
☶　艮　艮為山　艮上　艮下</p>
<p>艮：艮其背，不獲其身；行其庭，不見其人。无咎。</p>
<p>《彖》曰：艮，止也。時止則止，時行則行，動靜不失其時，其道光明。艮其止，止其所也。上下敵應，不相與也。是以不獲其身，行其庭不見其人，无咎也。</p>
<p>《象》曰：兼山，艮；君子以思不出其位。</p>
<p>初六：艮其趾，无咎，利永貞。《象》曰：艮其趾，未失正也。</p>
<p>六二：艮其腓，不拯其隨，其心不快。《象》曰：不拯其隨，未退聽也。</p>
<p>九三：艮其限，列其夤，厲薰心。《象》曰：艮其限，危薰心也。</p>
<p>六四：艮其身，无咎。《象》曰：艮其身，止諸躬也。</p>
<p>六五：艮其輔，言有序，悔亡。《象》曰：艮其輔，以中正也。</p>
<p>上九：敦艮，吉。《象》曰：敦艮之吉，以厚終也。</p>
<h2>第五十三卦</h2>
<p>☴
☶　漸　風山漸　巽上　艮下</p>
<p>漸：女歸吉，利貞。</p>
<p>《彖》曰：漸之進也，女歸吉也。進得位，往有功也。進以正，可以正邦也。其位，剛得中也。止而巽，動不窮也。</p>
<p>《象》曰：山上有木，漸；君子以居賢德善俗。</p>
<p>初六：鴻漸于干，小子厲，有言，无咎。《象》曰：小子之厲，義无咎也。</p>
<p>六二：鴻漸于磐，飲食衎衎，吉。《象》曰：飲食衎衎，不素飽也。</p>
<p>九三：鴻漸于陸，夫征不復，婦孕不育，凶。利禦寇。《象》曰：夫征不復，離群醜也；婦孕不育，失其道也。利用禦寇，順相保也。</p>
<p>六四：鴻漸于木，或得其桷，无咎。《象》曰：或得其桷，順以巽也。</p>
<p>九五：鴻漸于陵，婦三歲不孕，終莫之勝，吉。《象》曰：終莫之勝吉，得所願也。</p>
<p>上九：鴻漸于陸，其羽可用為儀，吉。《象》曰：其羽可用為儀吉，不可亂也。</p>
<h2>第五十四卦</h2>
<p>☳
☱　歸妹　雷澤歸妹　震上　兌下</p>
<p>歸妹：征凶，无攸利。</p>
<p>《彖》曰：歸妹，天地之大義也。天地不交而萬物不興；歸妹，人之終始也。說以動，所歸妹也。征凶，位不當也；无攸利，柔乘剛也。</p>
<p>《象》曰：澤上有雷，歸妹；君子以永終知敝。</p>
<p>初九：歸妹以娣，跛能履，征吉。《象》曰：歸妹以娣，以恒也；跛能履，吉，相承也。</p>
<p>九二：眇能視，利幽人之貞。《象》曰：利幽人之貞，未變常也。</p>
<p>六三：歸妹以須，反歸以娣。《象》曰：歸妹以須，未當也。</p>
<p>九四：歸妹愆期，遲歸有時。《象》曰：愆期之志，有待而行也。</p>
<p>六五：帝乙歸妹，其君之袂，不如其娣之袂良。月幾望，吉。《象》曰：帝乙歸妹，不如其娣之袂良也，其位在中，以貴行也。</p>
<p>上六：女承筐，无實，士刲羊，无血，无攸利。《象》曰：上六无實，承虛筐也。</p>
<h2>第五十五卦</h2>
<p>☳
☲　豐　雷火豐　震上　離下</p>
<p>豐：亨。王假之，勿憂，宜日中。</p>
<p>《彖》曰：豐，大也。明以動，故豐。王假之，尚大也。勿憂，宜日中，宜照天下也。日中則昃，月盈則食，天地盈虛，與時消息，而況於人乎？況於鬼神乎？</p>
<p>《象》曰：雷電皆至，豐；君子以折獄致刑。</p>
<p>初九：遇其配主，雖旬无咎，往有尚。《象》曰：雖旬无咎，過旬災也。</p>
<p>六二：豐其蔀，日中見斗，往得疑疾；有孚發若，吉。《象》曰：有孚發若，信以發志也。</p>
<p>九三：豐其沛，日中見沬，折其右肱，无咎。《象》曰：豐其沛，不可大事也；折其右肱，終不可用也。</p>
<p>九四：豐其蔀，日中見斗，遇其夷主，吉。《象》曰：豐其蔀，位不當也；日中見斗，幽不明也；遇其夷主，吉行也。</p>
<p>六五：來章，有慶譽，吉。《象》曰：六五之吉，有慶也。</p>
<p>上六：豐其屋，蔀其家，闚其戶，闃其无人，三歲不覿，凶。《象》曰：豐其屋，天際翔也。闚其戶，闃其无人，自藏也。</p>
<h2>第五十六卦</h2>
<p>☲
☶　旅　火山旅　離上　艮下</p>
<p>旅：小亨，旅貞吉。</p>
<p>《彖》曰：旅，小亨，柔得中乎外，而順乎剛，止而麗乎明，是以小亨，旅貞吉也。旅之時義大矣哉！</p>
<p>《象》曰：山上有火，旅；君子以明慎用刑而不留獄。</p>
<p>初六：旅瑣瑣，斯其所取災。《象》曰：旅瑣瑣，志窮災也。</p>
<p>六二：旅即次，懷其資，得童僕，貞。《象》曰：得童仆貞，終无尤也。</p>
<p>九三：旅焚其次，喪其童仆，貞厲。《象》曰：旅焚其次，亦以傷矣；以旅與下，其義喪也。</p>
<p>九四：旅于處，得其資斧，我心不快。《象》曰：旅于處，未得位也；得其資斧，心未快也。</p>
<p>六五：射雉，一矢亡，終以譽命。《象》曰：終以譽命，上逮也。</p>
<p>上九：鳥焚其巢，旅人先笑後號咷，喪牛于易，凶。《象》曰以旅在上，其義焚也；喪牛于易，終莫之聞也。</p>
<h2>第五十七卦</h2>
<p>☴
☴　巽　巽為風　巽上　巽下</p>
<p>巽：小亨。利有攸往，利見大人。</p>
<p>《彖》曰：重巽以申命，剛巽乎中正而志行。柔皆順乎剛，是以小亨，利有攸往，利見大人。</p>
<p>《象》曰：隨風，巽；君子以申命行事。</p>
<p>初六：進退，利武人之貞。《象》曰：進退，志疑也；利武人之貞，志治也。</p>
<p>九二：巽在牀下，用史巫紛若，吉，无咎。《象》曰：紛若之吉，得中也。</p>
<p>九三：頻巽，吝。《象》曰：頻巽之吝，志窮也。</p>
<p>六四：悔亡，田獲三品。《象》曰：田獲三品，有功也。</p>
<p>九五：貞吉，悔亡，无不利，无初有終，先庚三日，後庚三日，吉。《象》曰：九五之吉，位正中也。</p>
<p>上九：巽在牀下，喪其資斧，貞凶。《象》曰：巽在牀下，上窮也；喪其資斧，正乎凶也。</p>
<h2>第五十八卦</h2>
<p>☱
☱　兌　兌為澤　兌上　兌下</p>
<p>兌：亨，利貞。</p>
<p>《彖》曰：兌，說也。剛中而柔外，說以利貞，是以順乎天而應乎人。說以先民，民忘其勞；說以犯難，民忘其死。說之大，民勸矣哉！</p>
<p>《象》曰：麗澤，兌；君子以朋友講習。</p>
<p>初九：和兌，吉。《象》曰：和兌之吉，行未疑也。</p>
<p>九二：孚兌，吉，悔亡。《象》曰：孚兌之吉，信志也。</p>
<p>六三：來兌，凶。《象》曰：來兌之凶，位不當也。</p>
<p>九四：商兌未寧，介疾有喜。《象》曰：九四之喜，有慶也。</p>
<p>九五：孚于剝，有厲。《象》曰：孚于剝，位正當也。</p>
<p>上六：引兌。《象》曰：上六引兌，未光也。</p>
<h2>第五十九卦</h2>
<p>☴
☵　渙　風水渙　巽上　坎下</p>
<p>渙：亨。王假有廟，利涉大川，利貞。</p>
<p>《彖》曰：渙，亨。剛來而不窮，柔得位乎外而上同。王假有廟，王乃在中也。利涉大川，乘木有功也。</p>
<p>《象》曰：風行水上，渙；先王以享于帝立廟。</p>
<p>初六：用拯馬壯，吉。《象》曰：初六之吉，順也。</p>
<p>九二：渙奔其机，悔亡。《象》曰：渙奔其机，得願也。</p>
<p>六三：渙其躬，无悔。《象》曰：渙其躬，志在外也。</p>
<p>六四：渙其群，元吉。渙有丘，匪夷所思。《象》曰：渙其群元吉，光大也。</p>
<p>九五：渙汗其大號，渙王居，无咎。《象》曰：王居无咎，正位也。</p>
<p>上九：渙其血去逖出，无咎。《象》曰：渙其血，遠害也。</p>
<h2>第六十卦</h2>
<p>☵
☱　節　水澤節　坎上　兌下</p>
<p>節：亨。苦節不可貞。</p>
<p>《彖》曰：節，亨，剛柔分而剛得中。苦節不可貞，其道窮也。說以行險，當位以節，中正以通。天地節而四時成，節以制度，不傷財，不害民。</p>
<p>《象》曰：澤上有水，節；君子以制數度，議德行。</p>
<p>初九：不出戶庭，无咎。《象》曰：不出戶庭，知通塞也。</p>
<p>九二：不出門庭，凶。《象》曰：不出門庭凶，失時極也。</p>
<p>六三：不節若，則嗟若，无咎。《象》曰：不節之嗟，又誰咎也？</p>
<p>六四：安節，亨。《象》曰：安節之亨，承上道也。</p>
<p>九五：甘節，吉，往有尚。《象》曰：甘節之吉，居位中也。</p>
<p>上六：苦節，貞凶，悔亡。《象》曰：苦節貞凶，其道窮也。</p>
<h2>第六十一卦</h2>
<p>☴
☱　中孚　風澤中孚　巽上　兌下</p>
<p>中孚：豚魚吉。利涉大川，利貞。</p>
<p>《彖》曰：中孚，柔在內而剛得中。說而巽，孚乃化邦也。豚魚吉，信及豚魚也。利涉大川，乘木舟虛；也中孚以利貞，乃應乎天也。</p>
<p>《象》曰：澤上有風，中孚；君子以議獄緩死。</p>
<p>初九：虞吉，有它不燕。《象》曰：初九虞吉，志未變也。</p>
<p>九二：鶴鳴在陰，其子和之；我有好爵，吾與爾靡之。《象》曰：其子和之，中心願也。</p>
<p>六三：得敵，或鼓或罷，或泣或歌。《象》曰：或鼓或罷，位不當也。</p>
<p>六四：月幾望，馬匹亡，无咎。《象》曰：馬匹亡，絕類上也。</p>
<p>九五：有孚攣如，无咎。《象》曰：有孚攣如，位正當也。</p>
<p>上九：翰音登于天，貞凶。《象》曰：翰音登于天，何可長也？</p>
<h2>第六十二卦</h2>
<p>☳
☶　小過　雷山小過　震上　艮下</p>
<p>小過：亨，利貞。可小事，不可大事。飛鳥遺之音，不宜上，宜下，大吉。</p>
<p>《彖》曰：小過，小者過而亨也。過以利貞，與時行也。柔得中，是以小事吉也。剛失位而不中，是以不可大事也。有飛鳥之象焉：飛鳥遺之音，不宜上，宜下，大吉，上逆而下順也。</p>
<p>《象》曰：山上有雷，小過；君子以行過乎恭，喪過乎哀，用過乎儉。</p>
<p>初六：飛鳥以凶。《象》曰：飛鳥以凶，不可如何也。</p>
<p>六二：過其祖，遇其妣；不及其君，遇其臣，无咎。《象》曰：不及其君，臣不可過也。</p>
<p>九三：弗過防之，從或戕之，凶。《象》曰：從或戕之，凶如何也？</p>
<p>九四：无咎，弗過遇之；往厲必戒，勿用，永貞。《象》曰：弗過遇之，位不當也。往厲必戒，終不可長也。</p>
<p>六五：密雲不雨，自我西郊；公弋取彼在穴。《象》曰：密雲不雨，已上也。</p>
<p>上六：弗遇過之，飛鳥離之，凶，是謂災眚。《象》曰：弗遇過之，已亢也。</p>
<h2>第六十三卦</h2>
<p>☵
☲　既濟　水火既濟　坎上　離下</p>
<p>既濟：亨小，利貞。初吉終亂。</p>
<p>《彖》曰：既濟，亨，小者亨也，利貞，剛柔正而位當也。初吉，柔得中也。終止則亂，其道窮也。</p>
<p>《象》曰：水在火上，既濟；君子以思患而豫防之。</p>
<p>初九：曳其輪，濡其尾，无咎。《象》曰：曳其輪，義无咎也。</p>
<p>六二：婦喪其茀，勿逐，七日得。《象》曰：七日得，以中道也。</p>
<p>九三：高宗伐鬼方，三年克之，小人勿用。《象》曰：三年克之，憊也。</p>
<p>六四：繻有衣袽，終日戒。《象》曰：終日戒，有所疑也。</p>
<p>九五：東鄰殺牛，不如西鄰之禴祭，實受其福。《象》曰：東鄰殺牛，不如西鄰之時也；實受其福，吉大來也。</p>
<p>上六濡其首，厲。《象》曰：濡其，首厲，何可久也？</p>
<h2>第六十四卦</h2>
<p>☲
☵　未濟　火水未濟　離上　坎下</p>
<p>未濟：亨，小狐汔濟，濡其尾，无攸利。</p>
<p>《彖》曰：未濟亨，柔得中也。小狐汔濟，未出中也；濡其尾，无攸利，不續終也。雖不當位，剛柔應也。</p>
<p>《象》曰：火在水上，未濟；君子以慎辨物居方。</p>
<p>初六：濡其尾，吝。《象》曰：濡其尾，亦不知極也。</p>
<p>九二：曳其輪，貞吉。《象》曰：九二貞吉，中以行正也。</p>
<p>六三：未濟，征凶，利涉大川。《象》曰：未濟，征凶，位不當也。</p>
<p>九四：貞吉，悔亡；震用伐鬼方，三年有賞于大國。《象》曰：貞吉，悔亡，志行也。</p>
<p>六五：貞吉，无悔；君子之光，有孚，吉。《象》曰：君子之光，其暉吉也。</p>
<p>上九：有孚于飲酒，无咎；濡其首，有孚失是。《象》曰：飲酒濡首，亦不知節也。</p>
<h2>繫辭上傳</h2>
<h3>第一章</h3>
<p>天尊地卑，乾坤定矣。卑高以陳，貴賤位矣。動靜有常，剛柔斷矣。方以類聚，物以群分，吉兇生矣。在天成象，在地成形，變化見矣。是故剛柔相摩，八卦相盪。鼓之以雷霆，潤之以風雨，日月運行，一寒一暑。乾道成男，坤道成女。乾知大始，坤作成物。乾以易知，坤以簡能。易則易知，簡則易從。易知則有親，易從則有功。有親則可久，有功則可大。可久則賢人之德，可大則賢人之業。易簡而天下之理得矣。天下之理得而成位乎其中矣。</p>
<h3>第二章</h3>
<p>聖人設卦觀象，繫辭焉而明吉凶，剛柔相推而生變化。是故吉兇者，失得之象也。悔吝者，憂虞之象也。變化者，進退之象也。剛柔者，晝夜之象也。六爻之動，三極之道也。是故君子所居而安者，《易》之序也；所樂而玩者，爻之辭也。是故君子居則觀其象而玩其辭，動則觀其變而玩其占。是以自天佑之，吉无不利。</p>
<h3>第三章</h3>
<p>彖者，言乎象者也。爻者，言乎變者也。吉凶者，言乎其失得也。悔吝者，言乎其小疵也。无咎者，善補過也。是故列貴賤者存乎位，齊小大者存乎卦，辯吉凶者存乎辭，憂悔吝者存乎介，震无咎者存乎悔。是故卦有小大，辭有險易。辭也者，各指其所之。</p>
<h3>第四章</h3>
<p>《易》與天地準，故能彌綸天地之道。仰以觀於天文，俯以察於地理，是故知幽明之故。原始反終，故知死生之說。精氣為物，遊魂為變，是故知鬼神之情狀。與天地相似，故不違。知周乎萬物而道濟天下，故不過。旁行而不流，樂天知命，故不憂；安土敦乎仁，故能愛。範圍天地之化而不過，曲成萬物而不遺，通乎晝夜之道而知，故神无方而《易》无體。</p>
<h3>第五章</h3>
<p>一陰一陽之謂道，繼之者善也，成之者性也。仁者見之謂之仁，知者見之謂之知，百姓日用而不知，故君子之道鮮矣！顯諸仁，藏諸用，鼓萬物而不與聖人同憂。盛德大業至矣哉！富有之謂大業，日新之謂盛德。生生之謂易，成象之謂乾，效法之謂坤，極數知來之謂占，通變之謂事，陰陽不測之謂神。</p>
<h3>第六章</h3>
<p>夫《易》廣矣大矣！以言乎遠則不禦，以言乎邇則靜而正，以言乎天地之間則備矣。夫乾，其靜也專，其動也直，是以大生焉。夫坤，其靜也翕，其動也闢，是以廣生焉。廣大配天地，變通變四時，陰陽之義配日月，易簡之善配至德。</p>
<h3>第七章</h3>
<p>子曰：「《易》其至矣乎！夫易，聖人所以崇德而廣業也。知崇禮卑，崇效天，卑法地。天地設位而《易》行乎其中矣。成性存存，道義之門。」</p>
<h3>第八章</h3>
<p>聖人有以見天下之賾，而擬諸其形容，象其物宜，是故謂之象。</p>
<p>聖人有以見天下之動，而觀其會通，以行其典禮，繫辭焉以斷其吉兇，是故謂之爻。言天下之至賾而不可惡也，言天下之至動而不可亂也。擬之而後言，議之而後動，擬議以成其變化。「鳴鶴在陰，其子和之；我有好爵，吾與爾靡之。」子曰：「君子居其室，出其言善，則千里之外應之，況其邇者乎？居其室，出其言不善，則千里之外違之，況其邇者乎？言出乎身，加乎民；行發乎邇，見乎遠。言行，君子之樞機，樞機之發，榮辱之主也。言行，君子之所以動天地也，可不慎乎？」「同人，先號咷而後笑。」子曰：「君子之道，或出或處，或默或語。二人同心，其利斷金，同心之言，其臭如蘭。」「初六，藉用白茅，无咎。」子曰：「茍錯諸地而可矣，藉之用茅，何咎之有？慎之至也。夫茅之為物薄，而用可重也。慎斯術也以往，其无所失矣！」「勞謙，君子有終，吉。」子曰：「勞而不伐，有功而不德，厚之至也。語以其功下人者也。德言盛，禮言恭。謙也者，致恭以存其位者也。」「亢龍有悔。」子曰：「貴而無位，高而無民，賢人在下位而无輔，是以動而有悔也。」「不出戶庭，无咎。」子曰：「亂之所生也，則言語以為階。君不密則失臣，臣不密則失身，幾事不密則害成。是以君子慎密而不出也。」子曰：「作《易》者其知盜乎？《易》曰：『負且乘，致寇至。』負也者，小人之事也；乘也者，君子之器也。小人而乘君子之器，盜思奪之矣；上慢下暴，盜思伐之矣。慢藏誨盜，冶容誨淫。《易》曰：『負且乘，致寇至。』盜之招也。」</p>
<h3>第九章</h3>
<p>天一，地二，天三，地四，天五，地六，天七，地八，天九，地十。天數五，地數五，五位相得而各有合。天數二十有五，地數三十，凡天地之數，五十有五，此所以成變化而行鬼神也。</p>
<p>大衍之數五十，其用四十有九。分而為二以象兩，掛一以象三，扐揲之以四以象四時，歸奇於扐以象閏；五歲再閏，故再仂而後掛。天數五，地數五，五位相得，而各有合。天數二十有五，地數三十，凡天地之數五十有五，此所以成變化而行鬼神也。乾之策，二百一十有六；坤之策，百四十有四。凡三百有六十，當期之日。二篇之策，萬有一千五百二十，當萬物之數也。是故四營而成《易》，十有八變而成卦，八卦而小成。引而伸之，觸類而長之，天下之能事畢矣。顯道神德行，是故可與酬酢，可與佑神矣。子曰：「知變化之道者，其知神之所為乎？」</p>
<h3>第十章</h3>
<p>《易》有聖人之道四焉：以言者尚其辭，以動者尚其變，以制器者尚其象，以卜筮尚其占。是以君子將有為也，將有行也，問焉而以言，其受命也如響。无有遠近幽深，遂知來物。非天下之至精，其孰能與於此？參伍以變，錯綜其數，通其變，遂成天地之文；極其數，遂定天下之象。非天下之至變，其孰能與於此？《易》无思也，无為也，寂然不動，感而遂通天下之故。非天下之至神，其孰能與於此？夫《易》，聖人之所以極深而研幾也。唯深也，故能通天下之志；唯幾也，故能成天下之務；唯神也，故不疾而速，不行而至。子曰「《易》有聖人之道四焉」者，此之謂也。</p>
<h3>第十一章</h3>
<p>子曰：「夫《易》何為者也？夫《易》開物成務，冒天下之道，如斯而已者也。」
是故聖人以通天下之志，以定天下之業，以斷天下之疑。是故蓍之德圓而神，卦之德方以知，六爻之義易以貢。聖人以此洗心，退藏於密，吉凶與民同患。神以知來，知以藏往，其孰能與於此哉？古之聰明叡知、神武而不殺者夫！是以明於天之道，而察於民之故，是興神物以前民用。聖人以此齊戒，以神明其德夫！</p>
<p>是故闔戶謂之坤，闢戶謂之乾；一闔一闢謂之變，往來不窮謂之通；見乃謂之象，形乃謂之器；制而用之謂之法，利用出入、民咸用之謂之神。</p>
<p>是故《易》有太極，是生兩儀，兩儀生四象，四象生八卦，八卦定吉凶，吉凶生大業。是故法象莫大乎天地；變通莫大乎四時；縣象著明莫大乎日月；崇高莫大乎富貴；備物致用，立成器以為天下利，莫大乎聖人；探賾索隱，鉤深致遠，以定天下之吉凶，成天下之亹亹者，莫大乎蓍龜。</p>
<p>是故天生神物，聖人則之；天地變化，聖人效之；天垂象，見吉凶，聖人象之。河出圖，洛出書，聖人則之。《易》有四象，所以示也；繫辭焉，所以告也；定之以吉凶，所以斷也。</p>
<h3>第十二章</h3>
<p>《易》曰：「自天佑之，吉无不利。」子曰：「佑者，助也，天之所助者順也，人之所助者，信也，履信思乎順，又以尚賢也。是以『自天佑之，吉无不利』也。」子曰：「書不盡言，言不盡意。」然則聖人之意，其不可見乎？子曰：「聖人立象以盡意，設卦以盡情偽，繫辭焉以盡其言，變而通之以盡利，鼓之舞之以盡神。」</p>
<p>乾坤其《易》之緼邪？乾坤成列，而《易》立乎其中矣。乾坤毀，則无以見《易》，《易》不可見，則乾坤或幾乎息矣。是故形而上者謂之道，形而下者謂之器，化而裁之謂之變，推而行之謂之通，舉而錯之天下之民謂之事業。是故夫象，聖人有以見天下之賾，而擬諸其形容，象其物宜，是故謂之象。聖人有以見天下之動，而觀其會通，以行其典禮，繫辭焉以斷其吉凶，是故謂之爻。極天下之賾者存乎卦，鼓天下之動者存乎辭；化而裁之存乎變；推而行之存乎通；神而明之存乎其人；默而成之，不言而信，存乎德行。</p>
<h2>繫辭下傳</h2>
<h3>第一章</h3>
<p>八卦成列，象在其中矣；因而重之，爻在其中矣；剛柔相推，變在其中矣；繫辭焉而命之，動在其中矣。吉凶悔吝者，生乎動者也；剛柔者，立本者也；變通者，趣時者也。吉凶者，貞勝者也；天地之道，貞觀者也；日月之道，貞明者也；天下之動，貞夫一者也。夫乾，確然示人易矣；夫坤，隤然示人簡矣。爻也者，效此者也；象也者，像此者也。爻象動乎內，吉凶見乎外，功業見乎變，聖人之情見乎辭。天地之大德曰生，聖人之大寶曰位。何以守位？曰仁。何以聚人？曰財。理財正辭，禁民為非，曰義。</p>
<h3>第二章</h3>
<p>古者包犧氏之王天下也；仰則觀象於天，俯則觀法於地，觀鳥獸之文，與地之宜。近取諸身，遠取諸物，於是始作八卦，以通神明之德，以類萬物之情。作結繩而為罔罟，以佃以漁，蓋取諸離。包犧氏沒，神農氏作。斲木為耜，揉木為耒，耒耨之利以教天下，蓋取諸〈益〉。日中為市，致天下之民，聚天下之貨，交易而退，各得其所，蓋取諸〈噬嗑〉。神農氏沒，黃帝、堯、舜氏作。通其變，使民不倦；神而化之，使民宜之。《易》窮則變，變則通，通則久。是以「自天佑之，吉无不利」，黃帝、堯、舜垂衣裳而天下治，蓋取諸〈乾〉、〈坤〉。刳木為舟，剡木為楫，舟楫之利以濟不通；致遠以利天下，蓋取諸〈渙〉。服牛乘馬，引重致遠，以利天下，蓋取諸〈隨〉。重門擊柝，以待暴客，蓋取諸〈豫〉。斷木為杵，掘地為臼，臼杵之利，萬民以濟，蓋取諸〈小過〉。弦木為弧，剡木為矢，弧矢之利，以威天下，蓋取諸〈睽〉。上古穴居而野處，後世聖人易之以宮室；上棟下宇，以待風雨，蓋取諸〈大壯〉。古之葬者，厚衣之以薪，葬之中野，不封不樹，喪期无數，後世聖人易之以棺椁，蓋取諸〈大過〉。上古結繩而治，後世聖人易之以書契，百官以治，萬民以察，蓋取〈諸夬〉。</p>
<h3>第三章</h3>
<p>是故《易》者，象也，象也者，像也，彖者，材也，爻也者，效天下之動者也。是故吉凶生而悔吝著也。</p>
<h3>第四章</h3>
<p>陽卦多陰，陰卦多陽。其故何也？陽卦奇，陰卦耦。其德行何也？陽一君而二民，君子之道也；陰二君而一民，小人之道也。</p>
<h3>第五章</h3>
<p>《易》曰：「憧憧往來，朋從爾思。」子曰：「天下何思何慮？天下同歸而殊塗，一致而百慮，天下何思何慮？日往則月來，月往則日來，日月相推而明生焉。寒往則暑來，暑往則寒來，寒暑相推而歲成焉。往者屈也，來者信也，屈信相感而利生焉。尺蠖之屈，以求信也；龍蛇之蟄，以存身也。精義入神，以致用也；利用安身，以崇德也。過此以往，未之或知也。窮神知化，德之盛也。」</p>
<p>《易》曰：「困于石，據于蒺藜；入于其宮，不見其妻，凶。」子曰：「非所困而困焉，名必辱；非所據而據焉，身必危。既辱且危，死期將至，妻其可得見耶？」</p>
<p>《易》曰：「公用射隼于高墉之上，獲之，无不利。」子曰：「隼者，禽也；弓矢者，器也；射之者，人也。君子藏器於身，待時而動，何不利之有？動而不括，是以出而有獲，語成器而動者也。」</p>
<p>子曰：「小人不恥不仁，不畏不義，不見利不勸，不威不懲。小懲而大誡，此小人之福也。《易》曰：『履校滅趾，无咎。』此之謂也。」善不積不足以成名，惡不積不足以滅身。小人以小善為无益而弗為也，以小惡為无傷而弗去也，故惡積而不可揜，罪大而不可解。《易》曰：「何校滅耳，凶。」</p>
<p>子曰：「危者，安其位者也；亡者，保其存者也；亂者，有其治者也。是故君子安而不忘危，存而不忘亡，治而不忘亂，是以身安而國家可保也。《易》曰：『其亡其亡，繫于苞桑。』」</p>
<p>子曰：「德薄而位尊，知小而謀大，力小而任重，鮮不及矣。《易》曰：『鼎折足，覆公餗，其形渥，凶。』言不勝其任也。」</p>
<p>子曰：「知幾其神乎？君子上交不諂，下交不瀆，其知幾乎？幾者，動之微，吉之先見者也。君子見幾而作，不俟終日。《易》曰：『介于石，不終日，貞吉。』介如石焉，寧用終日？斷可識矣。君子知微知彰，知柔知剛，萬夫之望。」</p>
<p>子曰：「顏氏之子，其殆庶幾乎！有不善未嘗不知，知之未嘗復行也。《易》曰：『不遠復，無只悔，元吉。』」</p>
<p>天地絪緼，萬物化醇；男女構精，萬物化生。《易》曰：『三人行，則損一人；一人行，則得其友。』言致一也。</p>
<p>子曰：「君子安其身而後動，易其心而後語，定其交而後求，君子修此三者故全也。危以動，則民不與也；懼以語，則民不應也；无交而求，則民不與也。莫之與，則傷之者至矣。《易》曰：『莫益之，或擊之，立心勿恒，凶。』」</p>
<h3>第六章</h3>
<p>子曰：「〈乾〉、〈坤〉，其《易》之門邪？」〈乾〉，陽物也；〈坤〉，陰物也。陰陽合德而剛柔有體，以體天地之撰，以通神明之德。其稱名也，雜而不越，於稽其類，其衰世之意邪？夫《易》，彰往而察來，而微顯闡幽。開而當名辨物，正言斷辭則備矣。其稱名也小，其取類也大，其旨遠，其辭文，其言曲而中，其事肆而隱。因貳以濟民行，以明失得之報。</p>
<h3>第七章</h3>
<p>《易》之興也，其於中古乎？作《易》者，其有憂患乎？是故〈履〉，德之基也；〈謙〉，德之柄也；〈復〉，德之本也；〈恒〉，德之固也；〈損〉，德之修也；〈益〉，德之裕也；〈困〉，德之辨也；〈井〉，德之地也；〈巽〉，德之制也。〈履〉和而至；〈謙〉尊而光；〈復〉小而辨於物；〈恒〉雜而不厭；〈損〉先難而後易；〈益〉長裕而不設；〈困〉窮而通；〈井〉居其所而遷；〈巽〉稱而隱。〈履〉以和行，〈謙〉以制禮，〈復〉以自知，〈恒〉以一德，〈損〉以遠害，〈益〉以興利，〈困〉以寡怨，〈井〉以辯義，〈巽〉以行權。</p>
<h3>第八章</h3>
<p>《易》之為書也不可遠，為道也屢遷。變動不居，周流六虛，上下无常，剛柔相易，不可為典要，唯變所適。其出入以度，外內使知懼。又明於憂患與故，无有師保，如臨父母。初率其辭而揆其方，既有典常。茍非其人，道不虛行。</p>
<h3>第九章</h3>
<p>《易》之為書也，原始要終以為質也。六爻相雜，唯其時物也。其初難知，其上易知–本末也。初辭擬之，卒成之終。若夫雜物撰德，辯是與非，則非其中爻不備。噫！亦要存亡吉凶，則居可知矣。知者觀其彖辭，則思過半矣。二與四同功而異位，其善不同。二多譽，四多懼，近也。柔之為道，不利遠者，其要无咎，其用柔中也。三與五同功而異位-。三多凶，五多功，貴賤之等也。其柔危，其剛勝邪？</p>
<h3>第十章</h3>
<p>《易》之為書也，廣大悉備。有天道焉，有人道焉，有地道焉。兼三材而兩之，故六。六者，非它也，三材之道也。道有變動，故曰爻。爻有等，故曰物。物相雜，故曰文。文不當，故吉兇生焉。</p>
<h3>第十一章</h3>
<p>《易》之興也，其當殷之末世，周之盛德邪？當文王與紂之事邪？是故其辭危。危者使平，易者使傾，其道甚大。百物不廢，懼以終始，其要无咎。此之謂《易》之道也。</p>
<h3>第十二章</h3>
<p>夫乾，天下之至健也，德行恒易以知險；夫坤，天下之至順也，德行恒簡以知阻。能說諸心，能研諸侯之慮，定天下之吉凶，成天下之亹亹者。是故變化云為，吉事有祥；象事知器，占事知來；天地設位，聖人成能；人謀鬼謀，百姓與能。八卦以象告，爻彖以情言，剛柔雜居而吉凶可見矣。變動以利言，吉凶以情遷。是故愛惡相攻而吉凶生，遠近相取而悔吝生，情偽相感而利害生。凡《易》之情，近而不相得則兇，或害之，悔且吝。將叛者其辭慚，中心疑者其辭枝。吉人之辭寡，躁人之辭多。誣善之人其辭游，失其守者其辭屈。</p>
<h2>說卦傳</h2>
<h3>第一章</h3>
<p>昔者聖人之作《易》也，幽贊於神明而生蓍，參天兩地而倚數，觀變於陰陽而立卦，發揮於剛柔而生爻，和順於道德而理於義，窮理盡性以至於命也。</p>
<h3>第二章</h3>
<p>昔者聖人之作《易》也，將以順性命之理。是以立天之道曰陰與陽，立地之道曰柔與剛；立人之道曰仁與義。兼三才而兩之，故《易》六畫而成卦；分陰分陽，迭用柔剛，故《易》六位而成章。</p>
<h3>第三章</h3>
<p>天地定位，山澤通氣，雷風相薄，水火不相射，八卦相錯。數往者順，知來者逆，是故《易》逆數也。</p>
<h3>第四章</h3>
<p>雷以動之，風以散之，雨以潤之，日以烜之，艮以止之，兌以說之，乾以君之，坤以藏之。</p>
<h3>第五章</h3>
<p>帝出乎〈震〉，齊乎〈巽〉，相見乎離，致役乎〈坤〉，說言乎〈兌〉，戰乎〈乾〉，勞乎〈坎〉，成言乎〈艮〉。萬物出乎〈震〉，震東方也。齊乎〈巽〉，〈巽〉，東南也；齊也者，言萬物之絜齊也。〈離〉也者，明也，萬物皆相見，南方之卦也；聖人南面而聽天下，嚮明而治，蓋取諸此也。〈坤〉也者，地也，萬物皆致養焉，故曰致役乎〈坤〉。〈兌〉，正秋也，萬物之所說也，故曰說言乎〈兌〉。戰乎〈乾〉，〈乾〉，西北之卦也，言陰陽相薄也。〈坎〉者，水也，正北方之卦也；勞卦也，萬物之所歸也，故曰勞乎〈坎〉。〈艮〉，東北之卦也，萬物之所成終而所成始也，故曰成言乎〈艮〉。</p>
<h3>第六章</h3>
<p>神也者，妙萬物而為言者也。動萬物者莫疾乎雷，橈萬物者莫疾乎風，燥萬物者莫熯乎火，說萬物者莫說乎澤，潤萬物者莫潤乎水，終萬物始萬物者莫盛乎艮。故水火相逮，雷風不相悖，山澤通氣，然後能變化，既成萬物也。</p>
<h3>第七章</h3>
<p>〈乾〉，健也；〈坤〉，順也；〈震〉，動也；〈巽〉，入也；〈坎〉，陷也；〈離〉，麗也；〈艮〉，止也；〈兌〉，說也。</p>
<h3>第八章</h3>
<p>〈乾〉為馬，〈坤〉為牛，〈震〉為龍，〈巽〉為雞，〈坎〉為豕，〈離〉為雉，〈艮〉為狗，〈兌〉為羊。</p>
<h3>第九章</h3>
<p>〈乾〉為首，〈坤〉為腹，〈震〉為足，〈巽〉為股，〈坎〉為耳，〈離〉為目，〈艮〉為手，〈兌〉為口。</p>
<h3>第十章</h3>
<p>〈乾〉，天也，故稱乎父；〈坤〉，地也，故稱乎母。〈震〉一索而得男，故謂之長男；〈巽〉一索而得女，故謂之長女；〈坎〉再索而得男，故謂之中男；〈離〉再索而得女，故謂之中女；〈艮〉三索而得男，故謂之少男；兌三索而得女，故謂之少女。</p>
<h3>第十一章</h3>
<p>〈乾〉為天、為圜、為君、為父、為玉、為金、為寒、為冰、為大赤、為良馬、為老馬、為瘠馬、為駁馬、為木果。</p>
<p>〈坤〉為地，為母，為布，為釜，為吝嗇，為均，為子母牛，為大輿，為文，為眾，為柄，其於地也為黑。</p>
<p>〈震〉為雷，為龍，為玄黃，為旉，為大塗，為長子，為決躁，為蒼筤竹，為萑葦，其於馬也為善鳴，為馵足，為作足，為的顙，其於稼也為反生，其究為健，為蕃鮮。</p>
<p>〈巽〉為木，為風，為長女，為繩直，為工，為白，為長，為高，為進退，為不果，為臭，其於人也為寡髪，為廣顙，為多白眼，為近利市三倍，其究為躁卦。</p>
<p>〈坎〉為水，為溝瀆，為隱伏，為矯輮，為弓輪，其於人也為加憂，為心病，為耳痛，為血卦，為赤，其於馬也為美脊，為亟心，為下首，為薄蹄，為曳，其於輿也為多眚，為通，為月，為盜，其於木也為堅多心。</p>
<p>〈離〉為火，為日，為電，為中女，為甲胄，為戈兵，其於人也為大腹，為乾卦，為鱉，為蟹，為蠃，為蚌，為龜，其於木也為科上槁。</p>
<p>〈艮〉為山，為徑路，為小石，為門闕，為果蓏，為閽寺，為指，為狗，為鼠，為黔喙之屬，其於木也為堅多節。</p>
<p>〈兌〉為澤，為少女，為巫，為口舌，為毀折，為附決，其於地也為剛鹵，為妾，為羊。</p>
<h2>序卦傳</h2>
<p>有天地，然後萬物生焉。盈天地之間者唯萬物，故受之以〈屯〉；屯者，盈也；屯者，物之始生也。物生必蒙，故受之以〈蒙〉；蒙者，蒙也，物之穉也。物穉不可不養也，故受之以〈需〉；需者飲食之道也。飲食必有訟，故受之以〈訟〉。訟必有眾起，故受之以〈師〉。</p>
<p>師者，眾也；眾必有所比，故受之以〈比〉。比者，比也，比必有所畜，故受之以〈小畜〉。物畜然後有禮，故受之以〈履〉。履而泰然後安，故受之以〈泰〉。泰者，通也。物不可以終通，故受之以〈否〉。</p>
<p>物不可以終否，故受之以〈同人〉。與人同者，物必歸焉，故受之以〈大有〉。有大者，不可以盈，故受之以〈謙〉。有大而能謙必豫，故受之以〈豫〉。豫必有隨，故受之以〈隨〉。</p>
<p>以喜隨人者必有事，故受之以〈蠱〉。蠱者，事也。有事而後可大，故受之以〈臨〉。臨者，大也，物大然後可觀，故受之以〈觀〉。可觀而後有所合，故受之以〈噬嗑〉。嗑者，合也；物不可以茍合而已，故受之以〈賁〉。</p>
<p>賁者，飾也。致飾然後亨則盡矣，故受之以〈剝〉；剝者，剝也；物不可以終盡，剝窮上反下，故受之以〈復〉。復則不妄矣，故受之以无妄。有无妄然後可畜，故受之以〈大畜〉。物畜然後可養，故受之以〈頤〉。</p>
<p>頤者，養也。不養則不可動，故受之以〈大過〉。物不可以終過，故受之以〈坎〉。坎者，陷也。陷必有所麗，故受之以〈離〉；離者，麗也。</p>
<p>有天地然後有萬物，有萬物然後有男女，有男女然後有夫婦，有夫婦然後有父子，有父子然後有君臣，有君臣然後有上下，有上下然後禮義有所錯。</p>
<p>夫婦之道不可以不久也，故受之以〈恒〉。恒者，久也；物不可以久居其所，故受之以〈遯〉。遯者，退也；物不可以終遯，故受之以〈大壯〉。物不可以終壯，故受之以〈晉〉。晉者，進也。進必有所傷，故受之以〈明夷〉。夷者，傷也。傷於外者必反於家，故受之以〈家人〉。家道窮必乖，故受之以〈睽〉。睽者，乖也。乖必有難，故受之以〈蹇〉；蹇者，難也。物不可以終難，故受之以〈解〉；解者緩也。緩必有所失，故受之以〈損〉。損而不已必益，故受之以〈益〉。益而不已必決，故受之以〈夬〉。夬者，決也。決必有遇；故受之以〈姤〉；姤者，遇也。物相遇而後聚，故受之以〈萃〉。</p>
<p>萃者，聚也。聚而上者謂之升，故受之以〈升〉。升而不已必困，故受之以〈困〉。困乎上者必反下，故受之以〈井〉。井道不可不革，故受之以〈革〉。革物者莫若鼎，故受之以〈鼎〉。主器者莫若長子，故受之以〈震〉。</p>
<p>震者，動也。物不可以終動，止之，故受之以〈艮〉；艮者，止也。物不可以終止，故受之以〈漸〉；漸者，進也。進必有所歸，故受之以〈歸妹〉。得其所歸者必大，故受之以〈豐〉。豐者，大也；窮大者必失其居，故受之以〈旅〉。旅而无所容，故受之以〈巽〉。</p>
<p>巽者，入也；入而後說之，故受之以〈兌〉。兌者，說也；說而後散之，故受之以〈渙〉。渙者，離也。物不可以終離，故受之以〈節〉。節而信之，故受之以〈中孚〉。有其信者必行之，故受之以〈小過〉。有過物者必濟，故受之以〈既濟〉。物不可窮也，故受之以〈未濟〉終焉。</p>
<h2>雜卦傳</h2>
<p>〈乾〉剛〈坤〉柔，〈比〉樂〈師〉憂；〈臨〉〈觀〉之義，或與或求。〈屯〉見而不失其居，〈蒙〉雜而著。〈震〉，起也；〈艮〉，止也，〈損〉、〈益〉，盛衰之始也。〈大畜〉，時也，〈无妄〉，災也。〈萃〉聚而〈升〉不來也。〈謙〉輕而〈豫〉怠也。〈噬嗑〉食也，〈賁〉无色也。〈兌〉見而〈巽〉伏也。〈隨〉无故也，〈蠱〉則飭也。〈剝〉爛也，〈復〉反也。〈晉〉晝也，〈明夷〉誅也。〈井〉通而〈困〉相遇也。〈咸〉，速也，〈恒〉，久也。〈渙〉，離也，〈節〉，止也。〈解〉，緩也；〈蹇〉，難也。〈睽〉，外也，〈家人〉，內也；〈否〉〈泰〉，反其類也。〈大壯〉則止，〈遯〉則退也。〈大有〉，眾也，〈同人〉，親也。〈革〉，去故也，〈鼎〉，取新也。〈小過〉，過也；〈中孚〉信也。〈豐〉多故也，親寡〈旅〉也，〈離〉上而〈坎〉下也。〈小畜〉寡也，〈履〉不處也。〈需〉不進也，〈訟〉不親也。〈大過〉顛也，〈姤〉遇也，柔遇剛也。〈漸〉女歸待男行也。〈頤〉養正也，〈既濟〉定也。〈歸妹〉女之終，〈未濟〉男之窮也。〈夬〉決也，剛決柔也，君子道長，小人道憂也。</p>
