<header><h1>千金寶要</h1></header>
<dl class="元資料" data-type="book">
<div><dt>作者</dt><dd>孫思邈</dd></div>
<div><dt>朝代</dt><dd>唐</dd></div>
<div><dt>年份</dt><dd><data value="618/907">公元618年至公元907年</data></dd></div>
</dl>
<h2>自序</h2>
<p>孫真人《千金方》，一部三十卷，三百一十八門，門中各有論，論下各有方。論以論說人所以得病之由，君子小人皆宜熟知。方以治人之已病，而人有未嘗得見此集者，並藥有物多而難合者，貧下細民因此不獲治療，枉壞軀命者，可勝言哉。況一州一縣，幾家能有《千金方》？而有者亦難於日日示人。因此孫君之仁術仁心，格而不行處有之，鬱而不廣處有之。</p>
<p>孫《肘後》、《龍宮海上》，而下及當時之名公方論藥術，並自撰經試者。世皆知此書為醫經之寶，余亦概嘗閱諸家方書，內唯《千金》一集，號為完書，有源有証，有說有方，有古有今，有取有舍，關百聖而不慚，貫萬精而不忒，以儒書擬之，其醫師之集大成者歟。唐之盧照鄰謂：思邈高談正一，則古之蒙莊，深入不二，則今之摩詰。斯言得其深致矣。思久欲闡揚此書，以廣之海內，而在公牽迫，終不克遂。今休閑矣，遂取《千金方》中諸論，逐件條而出之以告人，使人知防之於未然之前。又將《千金方》中諸單方，逐件列而出之以示人，使人知治之於已病之後。其思家與知識家經用神驗者，亦附之其中，各別稱說，買巨石刊之，以廣其傳。以救急者為先，以稍可待者為次，以尋常大病為三，以尋常次病為四。孫君之書，以婦人小兒為首，以男子婦人雜病為後。思今皆依之，而特取諸病目前交急者為首。此思急於救人，推行孫君之妙法本意也。謹敢以《千金寶要》命篇，誓施萬本，長者仁人，當共斯善。</p>
<p><u>宣和六年四月初一日徽猷閣直學士通奉大夫致仕河陽郭思謹序</u></p>
<h2>刻《千金寶要》序</h2>
<p>《千金寶要》者，宋徽猷閣直學士郭思按唐孫真人先生所集《千金方》中纂要者也。宣和六年，思曾刻石於華州公署。我明正統八年，華州知州劉整重刻。景泰六年，知州楊勝賢以石刻冬月不便摹印，易刊木版。往年春余得之，喜其方之簡便，藥之近易，醫不煩而取效速，信有切於人之實用，乃珍如拱璧，不容自秘，已命壽之梓矣。竊惟《寶要》纂自真人《千金方》中，天下之游耀州真人洞者，歲無虛日，日無虛時，顧獨不立石於真人洞前，非所以廣其傳也，因刻於洞前云。</p>
<p><u>隆慶六年歲在壬申春三月上吉秦王守中識</u></p>
<p><u>郡人左重耀敬觀</u></p>
<h2>重刻《千金寶要》序</h2>
<p>《千金寶要》十七卷，附論及千金須知為十八卷。宋宣和時郭學士思，從孫征君思邈所撰《千金方》擇要刻石華州公署。自明正統景泰間俱有木石刻本，至隆慶六年，秦王守中複刊石耀州真人祠，四庫全書未及收錄。余游關中得其拓本藏笈中。按家征君生於後周，卒於唐永淳之代。葉夢得《避暑錄話》稱其作千金前方時已百余歲，後三十年作《千金翼》。段成式《酉陽雜俎》，則謂昆明池龍宮有仙方三千首，征君以救龍得之。因上帝不許妄傳，複著《千金方》三十卷。每卷入一方。《千金方》，本與《千金翼方》為二書，是以《舊唐書》本傳，止載《千金方》三十卷。晁公武陳振孫書目，則雲各三十卷。今俗本《千金翼方》九十三卷，不知何人更其次第。千金前方竟不可別，此宣和時擇要本，當從前方錄出者，龍宮仙方在其內，真世間秘異之書，不可不廣其傳，以公同志。書中謂今俗稱痘瘡，為小兒丹毒，又有反花瘡，元人《奇效良方》，始謂之痘疹，可証俗人謂此疾出於近代者非也。縊死人可救，落水人經一宿猶可活，倉卒間不知其方，書備其術，尤為濟人之仁術。世之從政者，不師蓋公獄市勿擾之言，惟株累鍛煉之是務。置一切積貯水利農田學校利益於人之事於不問，以致損傷元氣，感召災殃。誠不如尋覽方書，胸中常有活人之念，為善最樂，在此不在彼矣</p>
<p><u>嘉慶十二年七月三日賜進士及第授通奉大夫署山東布政使督糧道加四級陽</u></p>
<p><u>湖孫星衍撰於藩署之濟性堂</u></p>
<h2>卷之一</h2>
<h3>婦人第一</h3>
<p>妊娠難產，燒車　脂內酒中服。亦治腹中痛並咳嗽。</p>
<p>妊娠忽苦心腹痛，燒鹽令赤熱，三指撮，酒服之立產。</p>
<p>又方：吞槐子二七個。</p>
<p>又方：菟絲子或車前子末，以酒或米汁服方寸匕即生。</p>
<p>又方：水或酒服家中黑塵。</p>
<p>子死腹中及小難、橫生、倒生、難生者，半夏、白蘞各二兩，末之，服方寸匕。亦可加代赭、瞿麥各二兩佳。小難一服，橫生二服，倒生三服，子死四服。</p>
<p>又方：榆白皮細切，煮三升服之。</p>
<p>子死衣不出，上搶心者，急取蟻蛭土三升，熬之令熱，囊盛熨心良。</p>
<p>又方：末灶突中墨三指撮，水或酒服之。</p>
<p>乳無汁者，土瓜根末之，一服半錢匕，日三。</p>
<p>衣不出及橫生、逆生者，小麥、小豆煮濃汁飲立出。</p>
<p>產三日不出者，燒大刀環，以酒一盞沃之，頓服。</p>
<p>又方：燒藥杵令赤，內酒中飲之，救死不分娩者。</p>
<p>產乳暈絕者，制了半夏一兩，末之，丸如大豆，內鼻孔中愈。</p>
<p>又方：神曲末，水服方寸匕。</p>
<p>又方：含釅醋　面。</p>
<p>子死腹中，牛屎涂母腹上立出。</p>
<p>胎死腹中，服水銀三兩立出。</p>
<p>未足月而胎死者，以苦酒濃煮大豆，一服一升，死胎立出。</p>
<p>妊娠時疾子不下，灶中黃土，水或酒，或泔清，調涂臍方寸，干再上。</p>
<p>又方：酒服車轄脂。</p>
<p>又方：蔥白一把，水三升，煮熟食蔥令盡。亦安胎。胎死者即出。</p>
<p>妊娠中蠱，燒敗鼓皮，酒服方寸匕。</p>
<p>妊娠傷寒，蔥白十莖，生薑二兩，切，水三升，煮去半，服取汁。</p>
<p>產後血不盡，煩悶，搗生藕取汁，飲二升良。</p>
<p>產後腹脹痛者，煮黍粘根為飲，一服即愈。</p>
<p>五色帶下者，煮甑帶汁，服一杯良。</p>
<p>月水不斷，灸內踝下白肉際青脈上，隨年壯。</p>
<p>又方：服地黃酒良。或大豆酒亦佳。</p>
<p>月水不利及無子，灸四滿三十壯。穴在丹田兩邊，相去各一寸半。丹田在臍下二寸。</p>
<p>漏下積年困篤者，取鵲重巢，燒灰末之，服方寸匕，日三服。三十日愈。重巢者，連二年鵲產後月水往來多少不定，或不通、痛，小腹急，腰身重，白馬尿一升，服之良。</p>
<p>逆生、橫生者，灶下黃土三指撮，酒服立出。</p>
<h3>小兒第二</h3>
<p>凡小兒生下不啼者，取兒臍帶向身卻捋之，仍呵之百度。亦可以蔥白鞭之。</p>
<p>浴新生兒，以豬膽一個，汁入湯中，令兒無瘡疥。</p>
<p>小兒生，輒死者，便覷兒口中懸癰前上　有胞者，急以指摘取頭，決令潰去血。勿令血入咽小兒臍不合，燒蜂房灰末敷之。</p>
<p>小兒中風口噤，雀屎如麻子丸之，飲下即愈。</p>
<p>兒生三日內，朱蜜多則生陰癇。朱蜜三日內，通得用三豆許。朱蜜後與牛黃，亦三豆許，除兒百病。牛黃後可與米飲，研米作濃飲，如豆大與兒，三豆許止，日三。七日後方哺乳。</p>
<p>小兒解顱，熬蛇蛻皮末之，和豬頰車中髓敷頂上，日三四。</p>
<p>小兒肚皮卒然青黑，以酒和胡粉敷上。若不急治，須臾便死。</p>
<p>又方：灸臍左、右、上、下各半寸，並鳩尾骨下一寸。凡五處，各三壯。</p>
<p>小兒暴脹欲死，半夏隨多少微炮之為末，酒丸如粟米大，五丸，日三。</p>
<p>小兒丹毒，搗慎火草絞取汁涂之。</p>
<p>小兒赤游腫，若遍身，入心腹殺人。搗伏龍肝為末，以雞子白和敷之。干易之。</p>
<p>又方：白豆末，水和敷之。勿令干。</p>
<p>又身赤腫起者，熬米粉令黑，以唾和敷之。</p>
<p>小兒傷寒發黃，搗土瓜根汁三合服之。</p>
<p>又方：搗青麥汁服之。</p>
<p>又方：搗韭根汁，澄清，滴兒鼻中如大豆許，即出黃水，瘥。</p>
<p>小兒霍亂，研尿滓，乳上服之。</p>
<p>又方：牛涎灌口中一合。</p>
<p>小兒客忤，吞麝香大豆許，立愈。</p>
<p>又方：以母月衣覆兒上，大良。</p>
<p>又方：取牛鼻津服之。</p>
<p>又方：取牛口沫，敷乳頭飲之。</p>
<p>又方：取熱馬屎一丸，絞取汁飲兒，下便愈。亦治KT　啼面青腹強者。</p>
<p>小兒誤吞針，取磁石如棗核大，吞之或含之，其針立出。</p>
<p>誤吞鐵物等，艾蒿一把，挫，以水五升，煮一升半，服之即下。</p>
<p>誤吞發，亂發燒灰，酒服一錢。</p>
<p>吞錢，艾蒿五兩，以水五升，煮取一升，頓服之即下。</p>
<p>又方：末火炭，酒服方寸匕，水服亦得。</p>
<p>又方：服蜜二升即出。</p>
<p>吞金銀釵環，白糖二斤，一頓漸漸食之，多食益佳。</p>
<p>又方：吞水銀一兩，再服之。</p>
<p>吞環及指　，燒雁毛二七個，末服。鵝毛亦得。</p>
<p>吞環，暴韭令萎，蒸熟勿切，食一束即出。或生麥葉筋縷如韭法，皆可用，但力意多食自消。</p>
<p>吞銅鐵而哽，燒銅弩牙令赤，內酒中飲之立愈。</p>
<p>吞釘針及箭鏃等，但多食脂肪肉令飽，自裹出。</p>
<p>吞針，取懸針磁石末，飲服方寸匕即下。</p>
<p>小兒尿灶丹，初起兩股，入臍，陰頭皆赤者，水二升，桑皮切二升，煮取汁，浴之良。</p>
<p>又方：燒李根為灰，以田中流水和敷之良。</p>
<p>小兒朱田火丹，一日夜即成瘡，先從背漸遍身，如棗大，赤者，濃煮棘根洗之。已成瘡者，小兒野火丹，遍身皆赤者，用油涂之。</p>
<p>小兒茱萸丹，初起背，遍身如纈，一宿成瘡者，煮赤小豆，作末以敷之。</p>
<p>小兒廢灶火丹，初起足趺，正赤色者，以棗根煮汁，沐浴五六度自愈。</p>
<p>小兒風瘙隱疹，心迷悶，巴豆二兩，以水七升，煮取三升，故帛染汁拭之。大人加減用之。</p>
<p>又方：礬石二兩，末之；酒三升，漬令消。帛染拭病上。</p>
<p>又方：吳茱萸一升，酒五升，煮取一升半，帛染拭病上。</p>
<p>小兒隱疹入腹，體強舌乾，蕪菁子末，酒服方寸匕，日三。</p>
<p>又方：蠶砂二升，水二升，煮去渣洗之。</p>
<p>又方：鹽湯洗了，以蓼子　敷之。</p>
<p>又方：車前子作末敷之。</p>
<p>諸丹毒，渠中藻菜，細切熟搗，敷丹上，濃三分，干易之。</p>
<p>又方：芸薹菜，熟搗濃封之，隨手即消。如余熱氣未愈，但三日內封之，使醒，醒好瘥止。</p>
<p>五色油丹，縛母豬枕頭臥之良。</p>
<p>又方：牛屎涂之，干則易之。</p>
<p>赤流腫，搗火麻子，水和敷之。</p>
<p>又方：以羊脂煎了磨之。赤黑丹起遍身者殺人。</p>
<p>小兒瘡，初起　漿似火瘡，熟搗桃仁，以面脂和敷之。亦治遍身赤腫。</p>
<p>小兒身體頭面生瘡，榆白皮隨多少，曝令干，末之，醋和涂綿，以敷瘡上，虫自出。</p>
<p>小兒丹毒，馬齒莧一握，搗取汁飲之，以滓敷之。</p>
<p>又方：搗赤小豆五合，水和取汁，飲之一合良。滓涂五心。</p>
<p>又方：濃煮大豆汁涂之良。瘥亦無瘢痕。</p>
<p>又方：臘月豬脂和釜下土敷之，干則易之。</p>
<p>小兒五色丹，搗蒴　葉敷之。</p>
<p>又方：薤白一把，豉一升，以水三升，煮取二升，分三服。</p>
<p>又方：柏葉一升，麻子末一升，以水五升，煮三沸，百日兒每服三合。</p>
<p>又方：搗石榴汁服之。</p>
<p>又方：亂發灰、鹿角灰等分，三歲兒以水和服三錢匕，日二。</p>
<p>小兒赤白痢，單服生地黃汁一合。</p>
<p>小兒熱痢，煮木瓜葉飲之。</p>
<p>小兒冷痢，蓼菜搗汁，量大小飲之。一作芥菜。</p>
<p>又方：搗蒜，敷兩足下。</p>
<p>小兒暴痢，赤小豆末，酒和涂足下，日三。油和亦得。</p>
<p>小兒蠱毒痢，藍青汁一升二合，分為四服飲之。</p>
<p>小兒渴痢，搗木瓜汁飲之。</p>
<p>小兒頭不生發，楸葉搗汁敷之。</p>
<p>小兒　瘡，家中鍛石濃敷之。</p>
<p>小兒浸淫瘡，以灶下黃土，發灰等分末之，以豬脂和敷之。</p>
<p>小兒疥瘡，以臭酥和胡粉敷之。</p>
<p>小兒濕癬，煎馬尿洗。</p>
<p>小兒斑瘡入眼，浮萍陰乾為末，以生羊子肝半個，入盞內，以杖子刺碎，沒水半合，絞取肝小兒赤熱腫目，川大黃、白礬、朴硝等分為末，冷水調作掩子，貼目上。</p>
<p>小兒重舌，腫起舌下，以朴硝研水，敷咽喉外；其內用成塊者含，涎出乃平。</p>
<p>又方：地蜱虫和薄荷研汁，帛包，蘸舌下腫起重舌。</p>
<p>極証，用指去爪，先於舌下筋上擦至根，漸深深擦，如此三次。又用手蘸水，取項後燕窠小坑中筋自上趕下，至小窟深深擦入三次。小兒若飲乳勝前，則病去矣。</p>
<p>小兒禿瘡及惡瘡，以苦楝皮燒灰，以豬脂調敷。大人惡瘡亦可用。</p>
<p>小兒卵腫、偏墜，防風、牡丹皮等分為末，每服二錢匕，溫酒調服。鹽湯亦可。</p>
<p>小兒卒客忤，以灶中黃土、蚯蚓糞等分，研細，水調，涂兒頭上及五心良。</p>
<p>又方：米粉、鹽等分，炒變色，腹上摩之。</p>
<p>小兒頭瘡，經年不瘥者，取屋塵末，和油瓶下滓，以皂角湯洗，敷之。</p>
<p>小兒頭瘡，胡粉一兩，黃連二兩，末之，洗瘡去痂，拭乾敷之即瘥。再發再敷之。</p>
<p>禿瘡，葶藶子細末，先洗，敷之。</p>
<p>小兒惡瘡，熬豉令黃，末之，敷瘡上，不過三敷愈。</p>
<p>小兒手足及身腫者，以小便溫暖漬之即愈。</p>
<p>又方：巴豆五十枚，去心皮，以水三升，煮取一升，以綿內湯中，拭病上，隨手消。並治隱小兒脫肛，灸頂上旋毛中，三壯即入。</p>
<p>又方：灸尾翠骨，三壯。</p>
<p>又方：灸臍中，隨年壯。</p>
<p>小兒疳瘡，嚼麻子敷之，日六七度。</p>
<p>小兒濕瘡，濃煮地榆汁洗浴，日兩度。</p>
<p>小兒尿血，燒鵲巢灰，井花水服之。亦可治尿床。</p>
<p>小兒解顱，豬牙頰車髓，敷囟上差。</p>
<p>小兒風瘙隱疹，牛膝末，酒服方寸匕。漏瘡多年不瘥，搗末敷之。亦治骨疽、癲疾、瘰，小兒胎寒KT　啼，驚癇腹脹，不嗜食，大便青黃，並大人虛冷，或有實不可吐下者，馬齒礬一小兒五色丹，豬槽下爛泥敷之，干則易之，以愈為度。</p>
<p>又方：服黃龍湯二合，並敷瘡上。</p>
<p>小兒赤丹，芸薹葉汁，服三合，滓敷上。</p>
<p>小兒赤丹斑駁，唾和胡粉，從外向內敷之良。</p>
<p>又方：鍛鐵屎為末，以豬脂和服之。</p>
<p>又方：屋塵，以臘月豬脂和敷之。</p>
<p>小兒火丹，赤如朱走皮中，酢和豉研，敷之即愈。</p>
<p>又方：搗荏子敷之。</p>
<p>又方：豬屎，水和絞取汁，服少許。</p>
<p>小兒天火丹，赤如丹，大如手，遍身或痛或癢，生麻油涂之。</p>
<p>小兒骨火丹，其瘡見骨者，搗小蒜，濃封之，著足踝者是。</p>
<p>小兒殃火丹，每著兩脅及腋下者，伏龍肝末，和油敷之，干則易之。若入腹及陰，則以慎火小兒夜啼不已，醫所不治者，取野狼糞中骨，燒作灰末，水服如黍米大二枚，其啼即已。</p>
<p>又方：取馬骨燒灰，敷乳上，飲兒即止。</p>
<p>小兒吐痢，燒特豬屎，水解取汁，少少服之良。</p>
<p>小兒大小便不通，灸口兩吻，各一壯。</p>
<p>又方：搗白花胡葵子末，煮汁服之。</p>
<p>又方：雞屎白，服一錢匕。</p>
<p>又方：灸臍下一寸，三壯。又灸橫紋百壯。又灸口兩吻各一壯。</p>
<p>小兒溫瘧，鹿角末，先發時便服一錢匕。</p>
<p>又方：灸兩乳下一指，三壯。</p>
<p>小兒洞注下痢，蒺藜子二升，搗汁溫服，以瘥為度。</p>
<p>又方：木瓜搗汁飲之。</p>
<p>又方：炒倉米末，飲服之。</p>
<p>又方：酸石榴燒灰，服半錢匕，日三。</p>
<p>又方：炒豉令焦，水淋汁，服之神驗。冷則酒淋服。</p>
<p>小兒赤白滯下，薤白一把，豉一升，以水三升，煮取一升，分三服。</p>
<p>又方：柏葉一升，麻子末一升，以水五升，煮取三沸，百日兒每服三合。</p>
<p>又方：搗石榴汁服之。</p>
<p>又方：亂發灰、鹿角灰等分，三歲兒，以水和服三錢匕，日二。</p>
<h3>中毒第三</h3>
<p>凡卒死無脈，無他形候，牽牛臨鼻上二百息，牛舐必瘥。牛不肯舐，鹽汁涂面上即牛肯舐。</p>
<p>又方：牛馬屎絞取汁飲之。無新者，水和干者亦得。一法以人溺解之。</p>
<p>又方：炙熨斗，熨兩脅下。又治尸厥。</p>
<p>魘死，慎燈火，勿令手動，牽牛臨其鼻上即覺。</p>
<p>又方：搗韭汁，灌鼻孔中。劇者，灌兩耳。一云灌口中。</p>
<p>鬼魘不悟，末伏龍肝，吹鼻中。</p>
<p>又方：末皂角如大豆許，吹鼻中，嚏則氣通，起死人。亦治中惡。</p>
<p>又方：灸兩足大指叢毛中二七壯。亦救卒死，中惡。</p>
<p>中惡，蔥心黃刺鼻孔中，血出愈。一云入七八寸無苦，使目中血出差。一云男左女右。</p>
<p>又方：使人尿其面上愈。</p>
<p>中惡並蠱毒，冷水調伏龍肝如雞子大，服之必吐。</p>
<p>又方：溫二升豬肪，頓服之。</p>
<p>又方：車　脂如雞子大，酒服之。</p>
<p>又法：中惡，灸胃管五十壯愈。</p>
<p>卒忤，中惡也。鹽八合，以水三升，煮取一升半，分二服，得吐即愈。若小便不通，筆頭七枚，燒作灰，末，水調服即通。</p>
<p>又方：犢子屎半盞，酒三升，煮服之。亦治霍亂，一云治鬼擊。又雲大牛屎亦可用。</p>
<p>又方：書墨末之，水服一錢匕。</p>
<p>又法：卒忤死，灸手十指爪下，各三壯。又灸人中三壯，又灸肩井百壯，又灸間使七壯，又灸巨闕百壯。</p>
<p>卒中鬼擊及刃兵傷，血漏腹中，煩滿欲絕，雄黃粉酒服一刀圭，一日三服，血化為水。</p>
<p>鬼擊之狀，卒著人如刀刺，胸腹絞痛，或吐血，或口鼻血出，或下血，雞屎白如棗大，青花麻一把，以酒七升，煮取三升，熱服，須臾發汗。不汗，熨斗盛火，灸兩肋下熱，汗出愈。</p>
<p>又方：艾如雞子大三枚，以水五升，煮取二升，頓服。</p>
<p>又方：吹酢少許鼻中。</p>
<p>救自縊死，極須按定其心，勿截繩，徐徐抱解之。心下尚溫者，以氍毹覆口鼻，兩人吹其兩又方：僵臥，以物塞兩耳。竹筒內口中，使兩人痛吹之，塞口傍，勿令氣出，半日，死人即又方：搗皂角、細辛，屑如胡豆大，吹之兩鼻中。</p>
<p>又方：搗藍青汁灌之。</p>
<p>又方：刺雞冠血出，滴之口中即活。男雌女雄。</p>
<p>又方：雞血涂喉下。</p>
<p>又方：雞屎白如棗大，酒半盞和，灌口及鼻中佳。</p>
<p>又方：蔥葉吹皂角末兩鼻中，逆出更吹乃可。</p>
<p>又方：梁上塵如大豆，各內一小竹筒子中，四人各捉一個，同時吹兩耳兩鼻中即活。</p>
<p>又方：尿鼻口眼耳中，並捉頭發如筆管大一撮，制之立活。</p>
<p>又方：自縊死，灸四肢大節陷，大指本文名曰地神，各七壯。</p>
<p>熱　著，熱死者，取道上熱塵，以壅心上，若少冷即易，氣通即止。</p>
<p>又方：仰臥　人，熱土壅臍上，令人尿之，臍中溫即愈。</p>
<p>又方：可飲熱湯，亦可內少干薑、橘皮、甘草煮飲之，稍稍咽，勿使飽，但以熱土及熬灰土壅臍上佳。</p>
<p>又方：濃煮蓼，取汁三升，飲之即愈。如不愈，再飲。</p>
<p>又方：地黃汁一盞服之即愈。</p>
<p>又方：水半盞，和面一大抄服之。</p>
<p>又方：張死人口令通，以暖湯徐徐灌口中，小舉死人頭，令湯入腹，須臾即蘇。</p>
<p>又方：灌地漿一盞即愈。</p>
<p>又方：使人噓其心令暖，易人為之。</p>
<p>又方：抱狗子或雞，著心上熨之！又方：屋上南畔瓦，熱熨心，冷易之。</p>
<p>救落水死者，以灶中灰布地，令濃五寸，以甑側著灰上，令死人伏於甑上，使頭少垂下，抄鹽二方寸匕，內竹管中，吹下孔中，即當吐水。水下因去甑，下死人，著灰中壅身，使出鼻口即活。</p>
<p>又方：掘地作坑，熬數斛灰，內坑中，下死人覆灰，濕徹即易之，勿令大熱爆人，灰冷，更又方：取大甑傾之，死人伏其上，令死人口臨甑口，燃葦火二七把燒甑中，當死人心下令煙出，小入死人鼻口中，鼻口中水出盡則活。火盡則複益之，常以手候死人身及甑，勿令甚熱，當令火氣能使死人心下、足得暖。卒無甑者，於岸側削地如甑，空下如灶，燒令暖，以死人著上。亦可用車轂為之。勿令隱其腹，令死人低頭水得出，並炒灰數斛令暖以粉身。</p>
<p>濕更易溫者。</p>
<p>又方：但埋死人暖灰中，頭足俱沒，惟開七孔。</p>
<p>又方：倒懸死人，以好酒灌鼻中，又灌下部。又醋灌鼻亦得。</p>
<p>又方：綿裹皂角，內下部中，須臾水出。</p>
<p>又方：裹鍛石，內下部中，水出盡則活。</p>
<p>又方：熬沙覆死人面，上下有沙，但出鼻口耳，沙冷濕即易。</p>
<p>又方：倒懸解去衣，去臍中垢，極吹兩耳，起乃止。</p>
<p>又方：灶中灰二石，埋死人從頭至足，出七孔，即活。</p>
<p>又方：屈兩腳著生人兩肩上，死人背向生人背，即負持走行，吐出水便活。</p>
<p>又方：落水死，解死人衣，灸臍中。凡落水經一宿猶可活。</p>
<p>冬月落水，凍四肢直，口噤，有微氣者，以大器中熬灰使暖，盛以囊，薄其心上。冷即易。</p>
<p>心暖氣通，目得轉，口乃開，可溫尿粥，稍稍吞之即活。若不先溫其心，便持火灸身，冷氣卒中惡風，心悶煩毒欲死者，急灸足大趾下橫文，隨年壯即愈。</p>
<p>上件病，若筋急不能行者，內踝筋急，灸內踝上四十壯，外踝筋急，灸外踝上三十壯立愈。</p>
<p>卒中惡風，眼戴睛，灸目兩　後二七壯。</p>
<p>上件病，若不識人者，灸季肋頭七壯。</p>
<p>卒中惡，心痛，苦參三兩，　咀，以好酢一升，取八合。強人頓服，老小二服。</p>
<p>又方：桂心八兩，　咀，以水四升，煮取一升半，分作二服。</p>
<h3>飲食中毒第四</h3>
<p>凡諸食中毒，飲黃龍湯及犀角汁，無不治也。飲馬尿亦良。</p>
<p>又方：食百物中毒，掘地坑中著水，取以飲之。</p>
<p>又方：含貝子一枚，須臾吐食物瘥。又服生韭汁數升亦得。</p>
<p>中毒煩悶，苦參三兩，　咀，以酒二升半，煮一升，頓服之，取吐愈。</p>
<p>食六畜肉中毒，各取六畜干屎末，水服之佳。</p>
<p>食自死六畜肉毒，服黃柏末方寸匕，須臾複出。</p>
<p>又方：燒小豆一升，末，服三方寸匕。</p>
<p>又方：水服灶底黃土方寸匕。</p>
<p>食生肉中毒，掘地深三尺，取下土三升，以水五升，煮土五六沸，取上清飲一升立愈。</p>
<p>食牛肉中毒，野狼牙灰，水服方寸匕。一作豬牙。</p>
<p>又方：溫湯服豬脂良。</p>
<p>又方：水煮甘草汁飲之。</p>
<p>食馬肉，血洞下欲死，豉二百枚，杏仁二十枚，　咀，蒸之五升米下，飯熟搗之，再服令盡。</p>
<p>又方：蘆根汁飲，以浴即解。</p>
<p>食豬肉中毒，燒豬屎末服方寸匕。犬屎亦佳。</p>
<p>食百獸肝中毒，頓服豬脂一斤佳。</p>
<p>食陳肉毒，方同上。</p>
<p>食馬肝中毒，牝鼠屎二七枚，兩頭尖者是。以水研飲之，不瘥更作。</p>
<p>食野菜、馬肝肉、諸脯肉毒，取頭垢如棗核大吞之，可起死人。</p>
<p>又方：燒狗屎灰，水和絞取汁，飲之立愈。</p>
<p>又方：燒豬骨末之，水服方寸匕，日三。</p>
<p>茅屋漏水沾脯上有毒，搗韭汁服之良。大豆汁亦得。</p>
<p>肉閉在密器中者，名郁肉，有毒。燒狗屎末，水服方寸匕。凡生肉、熟肉皆不藏蓋，不泄氣脯在黍米中有毒。曲一兩，水一升，鹽兩撮，煮服之。</p>
<p>食中射罔脯毒，末貝子，水服如豆佳。不瘥又服。</p>
<p>食餅　中毒，方同上。</p>
<p>以肉作餅　，食多吐下，服犀角末方寸匕甚良。</p>
<p>食鵝鴨肉成病，胸滿面赤，不下食者，服秫米泔大良。</p>
<p>食中魚毒，煮橘皮湯，停極冷凍飲料之，其效甚大。</p>
<p>食中魚毒及中鱸魚毒，銼蘆根，舂取汁，多飲良。亦可取蘆葦茸汁飲之。</p>
<p>蟹毒，方同上。又，冬瓜汁服二升。亦可食冬瓜。</p>
<p>山中木菌毒，人屎汁服一升良。</p>
<p>食魚膾不消，燒魚鱗，水服方寸匕。</p>
<p>食諸鮑魚中毒，方同上。</p>
<p>食牛馬肉中毒，飲人乳汁良。</p>
<p>酒病，豉、蔥白各一升，以水四升，煮取二升，頓服之。</p>
<p>飲酒中毒，煮大豆三沸，飲汁三升。</p>
<p>又方：酒漬干　汁服之。</p>
<p>酒醉不醒，葛根汁一斗三升飲之，取醒止。又治大醉，連日煩毒不堪。</p>
<h2>卷之二</h2>
<h3>解百藥毒第五</h3>
<p>凡解百藥毒，甘草、薺　、大小豆汁、藍汁、藍實汁、藍根汁並解。</p>
<p>雄黃毒，防己解。</p>
<p>石毒，大豆汁解。</p>
<p>金銀毒，服水銀數兩即出。鴨屎解。水和雞屎汁、煮蔥汁並解。</p>
<p>鐵粉毒，磁石解。</p>
<p>防葵毒，葵根汁解。</p>
<p>桔梗毒，白粥解。</p>
<p>甘遂毒，大豆汁解。</p>
<p>芫花毒，防己、防風、甘草、桂汁並解。</p>
<p>大戟毒，菖蒲汁解。</p>
<p>蜀椒毒，葵子汁、桂汁、豉汁、人尿、冷水、土漿、蒜、雞毛燒吸煙及水調服解。</p>
<p>斑蝥、芫青毒，豬脂、大豆汁或鹽、藍汁、鹽湯煮豬骨並解。</p>
<p>馬刀毒，清水解。</p>
<p>杏仁毒，藍子汁解。</p>
<p>野芋毒，土漿、人糞汁解。</p>
<p>諸菌毒，掘地作坑，以水沃中，攪之令濁，澄清飲之。名地漿。解。</p>
<p>解鴆毒及一切毒，藥不止者，甘草、蜜，各四兩，粱米粉一升，以水五升煮甘草，取二升，解一切毒，母豬屎，水和服之。又水三升三合，和米粉飲之。</p>
<p>野葛毒，已死口噤者，取青竹去兩節，柱兩脅、臍上，內冷水注之，暖即易之。須臾口開，石藥毒，白鴨屎、人參汁並解。</p>
<p>食莨菪，悶亂如卒中風者，飲甘草汁、藍青汁即愈。</p>
<p>中鉤吻毒欲死者，薺　八兩，　咀，以水六升，煮取三升，冷如人體，服五合，日三夜二。</p>
<p>凡煮薺　惟濃佳。</p>
<p>又方：煮桂汁飲之。</p>
<p>又方：啖蔥涕。</p>
<p>諸毒，方同上。</p>
<p>中蠱：茜根、　荷根各三兩，　咀，以水四升，煮取二升，頓服。</p>
<p>又方：槲樹北陰白皮一大握，長五寸，水三升，煮取一升，空腹服，即吐虫出。</p>
<p>中蠱下血，方同上。</p>
<p>諸熱毒或蠱毒，口鼻血出，取人屎尖七枚，燒作火色，置水中研之，頓服即愈。亦解百毒，諸服藥過劑悶亂者，飲藍汁，水和胡粉、地漿、　荷汁，水和葛粉、粳米沉、干薑、黃連、飴糖、豉汁並解。</p>
<p>瘡中水毒，炭白灰、胡粉等分，脂調涂瘡孔上，水出則痛止。</p>
<p>瘡中水腫，方同上。</p>
<p>卒刺手足，中水毒，搗韭及藍青置上，以火灸，熱徹即愈。</p>
<p>破傷風腫，濃涂杏仁膏，燃麻燭遙灸之。</p>
<h3>蛇蠍毒等第六</h3>
<p>凡蛇毒，消蠟注瘡上。不瘥，更消注之。又以母豬耳中垢敷之。牛耳垢亦可。</p>
<p>蝮蛇毒，令婦人尿瘡上。</p>
<p>又方：令婦人騎度三過，又令坐上。</p>
<p>又方：末薑薄之，干則易。</p>
<p>又方：以射罔涂腫上，血出即愈。</p>
<p>又方：生麻、楮葉合搗，以水絞去滓，漬之。</p>
<p>眾蛇毒，干薑、雄黃等分，末，和射罔著竹筒中，有急用之。</p>
<p>又方：雄黃末敷瘡上，日一。</p>
<p>又方：用銅青敷瘡上。</p>
<p>又方：搗大蒜和胡粉敷之。</p>
<p>又方：雞屎二七枚，燒作灰，投酒服之。</p>
<p>又方：以面圍上，令童男尿其中，燒鐵令赤，投中。冷複燒著，二三度瘥。</p>
<p>又方：口嚼大豆葉涂之。</p>
<p>又方：豬脂和鹿角灰涂之。</p>
<p>又方：鹽四兩，水一斗，煮十沸。沸定以湯浸。冷易之。</p>
<p>又方：搗紫莧取汁，飲一升，以滓封瘡，以少水灌之。</p>
<p>又方：梳中垢如指大，長一寸，尿和敷之。</p>
<p>又方：炙梳，汗出熨之。</p>
<p>又方：取合口椒、胡荽苗等分，搗敷之，無不瘥。</p>
<p>又方：灸螫處三七壯。無艾，以火頭稱瘡孔大小熱之。</p>
<p>蛇嚙，人屎濃涂，帛裹即消。</p>
<p>睡中蛇入口，挽不出，以刀破蛇尾，內生椒三兩枚，裹著，須臾即出。</p>
<p>又方：艾灸蛇尾即出。</p>
<p>又方：以刀周匝割蛇尾，截令皮斷，仍將皮倒脫即出。</p>
<p>蛇入口並七孔者，割母豬尾頭，瀝血著口中即出。</p>
<p>又方：以患人手中指等截三歲大豬尾，以器盛血，傍蛇瀉血口中，拔出之。</p>
<p>卒為蛇繞不解，以熱湯淋之。</p>
<p>又方：令人尿之。</p>
<p>蛇蠍螫，服小蒜汁，滓敷上。</p>
<p>又方：熟搗葵，取汁服。</p>
<p>又方：取齒中殘飯敷之。</p>
<p>又方：豬脂封之。</p>
<p>又方：射罔封之。</p>
<p>又方：　砂和水涂上立愈。</p>
<p>又方：若著手足，冷水漬，水微暖則易之。著余處，冷水浸，故布　之，小暖則易。</p>
<p>又方：生烏頭末，唾和敷之。</p>
<p>射工毒不治，七日能殺人，鬼臼葉一把，內苦酒中漬之，熟搗絞汁，服一升，日三為妙。</p>
<p>又方：取生吳萸莖葉一握，斷去前後，握中熟搗，以水二升，煮取七合，頓服之立愈。</p>
<p>又方：取葫切貼瘡，灸七壯。</p>
<p>又方：赤莧菜搗，絞取汁，一服一升，日四五服。</p>
<p>又方：白雞屎取白頭者三枚，湯和涂中毒處。</p>
<p>已有瘡者，取芥子熟搗，苦酒和，濃涂瘡上，半日痛便止。</p>
<p>又方：取野狼牙葉，冬取根，搗之令熟，薄所中處。又飲汁四五合。</p>
<p>蚰蜒入耳，炒胡麻搗之，以葛袋盛，傾耳枕之即出。</p>
<p>又方：以牛酪灌之，滿耳即出，出當半消。若入腹中，空腹食好酪一二升，即化為黃水而出，不盡更服。於真人自雲手用神效。</p>
<p>水毒，凡山水有毒虫，人涉水，中人似射工而無物。其診法：初得之惡寒，微似頭痛，目眶痛，心中煩懊，四肢振　，腰背百節皆強，兩膝痛，或翕翕而熱，但欲睡，旦醒暮劇，手足逆冷至肘膝，一三日腹中生虫，食人下部，肛中有瘡，不痛不癢，令人不覺。不急治，過六七日下部出膿潰。虫上食人五臟，熱盛毒煩，下利不禁，八九日良醫不能治矣。不過二十日殺人。欲知是中水與非者，當作五六升湯，以小蒜五升，　咀，投湯中消息勿令大熱，去滓以浴之。是水毒，身體當發赤斑，無異者非也。</p>
<p>治中水毒，取梅若桃葉搗，絞取汁三升許，或干以少水絞取汁飲之。小兒不能飲，以汁敷乳又方：搗蒼耳汁，服一升。又以綿裹杖，沾汁導下部，日二過即瘥。</p>
<p>又方：蓼一把，搗，以酒和，絞取汁一升服之。不過三服。一作梨葉。</p>
<p>又方：藍一把，搗，水解以涂浴面目身體令遍。</p>
<p>又方：搗蛇莓根末，水飲之，並導下部。生者用汁。凡夏月行，常多　此藥屑入水，以方寸匕投水上流，無所畏。又辟射工。凡洗浴，以少許投水盆中，即無毒。</p>
<p>人忽中水毒，手足指冷，或至肘膝者，浮萍曝乾末之，酒服方寸匕。</p>
<p>八九月中刺手足，犯惡露腫殺人。生桑枝三枝，內　灰中，推引之令極熱，斫斷，正以頭柱瘡口上，熱盡即易之。盡三枝，則瘡自爛。仍取薤白搗，綿裹著熱灰中使極熱，去綿，取薤白薄瘡上，以布帛急裹之。若有腫者，便作之。用薤白第一佳。</p>
<p>竹木刺皮中不出，羊糞燥者，燒為灰，和豬脂涂刺。若不出，再涂。一云用干羊屎末。</p>
<p>又方：服王不留行即出。兼取根末貼之。</p>
<p>又方：煮山瞿麥汁飲之，日三，瘥止。</p>
<p>又方：用牛膝根莖生者，並搗以薄之即出。瘡雖合猶出。</p>
<p>又方：嚼白梅涂之。</p>
<p>又方：白茅根燒末，以膏和涂之。亦治瘡因風致腫。</p>
<p>又方：燒鹿角末，以水和涂之立出。久者不過一夕。</p>
<p>又方：頭垢敷之即出。</p>
<p>惡刺：苦瓠開口內兒尿，煮三兩沸，浸病上。</p>
<p>又方：濃煮大豆汁漬取瘥。</p>
<p>又方：莨菪根水煮浸之，冷複易。</p>
<h3>喉痹金瘡第七</h3>
<p>喉痹，桂心末如棗核大，綿裹著舌下即破。</p>
<p>又方：荊瀝稍稍咽之。</p>
<p>又方：只將囟上近頭心發直上方作力提之，其喉痹剝然一聲遂破，最奇。</p>
<p>墮落車馬及車輾木打，已死者，以死人安著，以手袖掩其口鼻眼上，一食頃活。眼開，與熱小便二升。</p>
<p>凡墮落傷損欲死，取淨土五升蒸之令溜，分半，以故布數重裹之，以熨病上，勿令大熱，恐破肉。冷則易之，取痛止則已。凡有損傷，以此法治之神效。已死不能言者亦活。三十年者亦瘥。</p>
<p>腕折骨損者，以大麻根葉搗汁，飲一升。無生麻，煮干麻汁服。</p>
<p>腕折四肢骨碎及筋傷蹉跌，生地黃不限多少，熟搗，用薄所損處。又雲爛搗熬之，以裹傷處，以竹編夾裹令遍，縛令急，勿令轉動，一日可十易，三日瘥。若血聚在折處，以刀子破去血。</p>
<p>四肢骨碎筋傷蹉跌，豉三升，水三升，漬取汁服之。</p>
<p>頭破腦出，中風口噤，大豆一斗，熬去腥，勿使太熟，搗末，熟蒸之，氣遍合甑，下盆中，以酒一斗淋之。溫服一升，覆取汗，敷杏仁膏於瘡上。</p>
<p>凡被打損，血悶搶心，氣絕不能言，可辟開口，尿其中，令下咽即醒。</p>
<p>卒中毒矢，搗藍汁一升飲之，並薄瘡上。若無藍，取青布漬，絞汁飲之，並淋瘡中。</p>
<p>又方：內鹽臍中灸之。</p>
<p>又方：煎地黃汁作丸服之，百日矢當出。</p>
<p>又方：煮蘆根汁，飲三升。</p>
<p>又方：多飲葛根汁。並治一切金瘡。</p>
<p>又方：末雄黃敷之，當沸汁出愈。</p>
<p>又方：末貝齒，服一錢匕大良。</p>
<p>又方：搗葛根汁飲之，葛白屑熬黃敷瘡，止血。</p>
<p>金瘡破腹，腸突出，欲令入，取人屎，干之以粉腸，即入矣。</p>
<p>又被傷，腸出不斷者，作大麥粥取汁，洗腸內之，常研米粥飲之，二十日稍稍作強糜，百日金瘡煩滿，赤小豆一升，以苦酒漬之，熬令燥複漬，滿三日令色黑，服方寸匕，日三。</p>
<p>箭鏃及諸刀刃在咽喉、胸膈諸隱處不出者，牡丹皮一分，白鹽二分（一方作白蘞）。二味治下篩，以酒服方寸匕，日三出。</p>
<p>又方：取栝蔞汁，涂箭瘡上即出。</p>
<p>又方：酒服瞿麥方寸匕，日三瘥。</p>
<p>卒為弓弩矢所中不出，或肉中有聚血，取婦人月經布，燒作灰屑，酒服之。</p>
<p>又方：白蘞、半夏等分，治下篩，酒服方寸匕，日三。淺瘡十日出，深瘡二十日出。</p>
<p>金瘡血出不止，煮桑根十沸，服一升即止。</p>
<p>又方：柳絮封之。</p>
<p>又方：搗車前汁敷之血即絕，連根用立效。</p>
<p>又方：飲人尿三升愈。</p>
<p>又方：以蜘蛛幕貼之。</p>
<p>金瘡腹中瘀血，大麻子三升，蔥白二七枚，使數人各搗令熟，用九升水煮取一升半，頓服之金瘡內漏，還自取瘡中血，著杯中，水和服。</p>
<p>又方：七月七日麻勃一兩，蒲黃六兩，酒服一錢匕，日五夜二。</p>
<p>又方：牡丹皮為散，水服三指撮，立尿出血。</p>
<p>金瘡苦痛，楊木白皮熬令燥，末之，服方寸匕，日三。又末敷瘡愈。</p>
<p>金瘡若刺瘡，痛不可忍，百治不瘥者，蔥一把，以水三升，煮數沸，漬洗瘡，止痛良。</p>
<p>傷墜車馬及諸物隱體肉斷者，以酢和面涂之。</p>
<p>筋骨傷初破時，以熱馬尿敷之無瘢。</p>
<p>又方：大豆二升，水五升，煮取二升，以醇酒六七升，合和豆汁服之。一日盡，如湯沃雪。用小豆亦佳。</p>
<p>落車墜馬及木崩血，腹滿短氣，大豆五升，以水一斗，煮取二升，去豆，一服令盡。劇者不金瘡，便以鍛石濃敷。無鍛石，只灰亦可，裹之止痛又速愈。若深，未宜速合者，內少滑石針灸瘡，血出不止，燒人屎灰敷之。</p>
<p>金瘡血出多，其人必渴，當忍之，啖燥食並肥脂之物以止渴。慎勿咸食。若多飲粥及漿，犯即血動溢出殺人。又忌嗔怒、大言笑、思想陰陽、行動作勞、多食酸咸、飲酒、熱羹、輩。瘡瘥後，猶須如此。出百日、半年，乃可複常也。</p>
<p>又方：燒干梅作炭，搗末敷之，一宿即瘥。亦治被打傷。</p>
<p>又方：磁石末敷之，止痛斷血。</p>
<p>又方：桑白汁涂，桑白皮裹，或鍛石封之妙。</p>
<p>又方：麻葉三升，以水三升，煮取二升半，為一服。</p>
<p>又方：飲麻子汁數升。亦治毒箭所傷。</p>
<p>又方：蚯蚓屎，以水服方寸匕，日三。</p>
<p>又方：杏仁、鍛石細末，豬脂和封。亦主犬馬金瘡。</p>
<p>又方：搗谷子敷之。</p>
<h3>瘡疽癰腫第八</h3>
<p>發背，亂發灰，酒服方寸匕。亦治瘭疽。</p>
<p>又方：飲鐵漿二升取利。</p>
<p>又方：三年醋滓，微火煎令稠，和牛脂敷上，日一易。</p>
<p>又方：豬脂敷上，日四五。亦治發乳。</p>
<p>又方：豬羊脂切作片，冷水浸貼上，暖則易之，五六十片瘥。初貼少許即寒，寒定好眠，甚妙。</p>
<p>又方：燒鹿角灰，醋和敷之，日四五。</p>
<p>瘭疽，手足肩背累累如赤豆，剝之汁出，蕪青子熬搗，帛裹，展轉敷上良。</p>
<p>又方：以麻子熬作末，摩其上良。</p>
<p>又方：酒和面敷之。</p>
<p>又方：剝去瘡痂，溫醋泔清洗之，以胡燕窠和百日男兒屎如膏敷之。</p>
<p>又方：亂發灰服方寸匕，日三。亦治發背。</p>
<p>又方：煮芸苔菜，取汁一升服之。並食干熟芸苔數頓，少與鹽漿。冬月用其子，水和服之。</p>
<p>又方：以豬膽敷之良。</p>
<p>又方：枸杞根、葵根葉煮汁，煎如糖，服之隨意。</p>
<p>又方：臘月糖晝夜浸之，數日乃愈。</p>
<p>疽潰後，鹽湯洗拭了，燒皂角灰粉之良。</p>
<p>又方：以牛耳中垢敷之良。</p>
<p>又方：以生麻油滓，綿裹帛瘡上，虫出。</p>
<p>又方：以沸湯灌瘡中三四遍。</p>
<p>疽似癰而小有異，今日去膿了，明日還滿，膿如小豆汁者，芸苔熟搗，濕布袋盛之，埋熱灰又方：皂角煎湯洗，拭乾，以柏皮末敷，勿令作痂。</p>
<p>一切腫毒，痛不可忍者，取蓖麻子搗，敷之即瘥。</p>
<p>惡毒腫，一宿可殺人者，茴香草搗取汁，飲一升，日三四服，滓敷腫上。冬中根亦可用。</p>
<p>起魚臍疔瘡，不大痛者殺人，以寒食餳敷之良。又硬者，燒灰涂貼即瘥。</p>
<p>又方：先以針刺瘡上，四畔作孔，搗白苣取汁，滴瘡孔內。</p>
<p>疔腫忌見麻勃，見即死者，以針刺四邊及中心，涂雄黃末立愈。一云涂黃土。</p>
<p>又方：鼠新坌土和小兒尿敷之。</p>
<p>又方：鐵衣末和人乳汁，敷之立可。</p>
<p>又方：小豆花為末，敷之瘥。</p>
<p>又方：人屎尖敷之立瘥。</p>
<p>又方：以四神丹一枚，當頭上安，經宿則根出矣。四神丹方在第十二卷中。</p>
<p>因瘡腫痛者，皆中水及中風寒所作，其腫入腹則殺人，溫桑灰汁漬之，冷複溫之，常令熱，治癰，芫花為末膠和如粥敷之。</p>
<p>瘡發心胸以下者，武都雄黃、松脂各三兩，和為塊，刀子刮為散，飲服方寸匕，日三。</p>
<p>不瘥更合。</p>
<p>石癰堅如石，不作膿者，生商陸根搗敷之，干則易之，取軟為度。又治濕漏諸癰癤。</p>
<p>又方：蜀桑根白皮陰乾搗末，炷膠，以酒和藥敷腫，即拔出根。</p>
<p>又方：醋和莨菪子末敷頭上，即拔出根。</p>
<p>又方：蛇脫皮貼之，經宿瘥。</p>
<p>又方：梁上塵、葵根莖灰等分，醋和敷之即瘥。</p>
<p>又方：櫟子一枚，以醋於青石上磨之，以涂腫上，干更涂。不過十度即愈。</p>
<p>又方：當上灸之百壯，石子當碎出。如不出，益壯乃佳。</p>
<p>癰腫痛，煩悶，生楸葉十重貼之，以帛包，令緩急得所，日二易，止痛兼消腫，蝕膿甚良，癰始覺腫令消，以莨菪末三指撮，水和服之，日三，神良。</p>
<p>已結膿使聚，栝蔞根末之，苦酒和敷上，燥則易。赤小豆亦佳。</p>
<p>癰腫，芥子末，湯和敷紙上貼之。</p>
<p>又方：白薑石末，蒜和搗敷上瘥。</p>
<p>又方：馬鞭草搗敷上，即頭出。</p>
<p>又方：灸兩足大拇趾奇中立瘥，仍隨病左右。</p>
<p>癤無頭者，吞葵子一枚，不得多服。</p>
<p>又方：燒葛蔓灰，封上自消。牛糞灰亦佳。</p>
<p>又方：鼠粘根葉貼之。</p>
<p>又方：水和雀糞敷之。</p>
<p>又方：生椒末、釜下土等分，醋和涂之。一法有曲末。</p>
<p>癰有膿令潰，雞羽三七枚，燒末服之即潰。</p>
<p>又方：人乳和面敷上，比曉膿血出並盡，不用近手。</p>
<p>又方：箔經繩燒灰末，臘月豬脂和敷下畔即潰。不須針灸。</p>
<p>膿潰後瘡不合，熟嚼大豆敷之。</p>
<p>又方：炒烏麻令黑，熟搗敷之。</p>
<p>又方：牛糞敷之，干則易。</p>
<p>又方：燒破蒲席灰，臘月豬脂和，內孔中。</p>
<p>癰久不差，馬齒葉搗汁，煎敷之。</p>
<p>癰癤潰後膿不斷，及諸物刺傷瘡不瘥者，石硫黃粉一兩，箸一片，捶頭碎，少濕，內硫黃中，以刺瘡孔，瘡差為度。</p>
<p>癰，肉中如眼，諸藥不效，犯疔瘡，蕪菁根、鐵生衣等分，和搗，以大針刺作孔，複削蕪菁根如針大，以前鐵生衣涂上刺孔中，又涂所搗者封上，仍以方寸匕緋帛涂貼之，有膿出易之，須臾拔根立瘥。忌油膩、生冷、醋滑、五辛、陳臭、粘食。</p>
<p>又方：刺瘡頭及四畔，令汁極出，搗生栗黃敷上，以面圍之。勿令黃出，從旦至午，根即拔又方：以面圍瘡如前法，以針亂刺瘡，銅器煮醋令沸，瀉面圍中，令容一盞，冷則易之，三又方：取蛇脫皮如雞子大，以水四升，煮三四沸，去滓，頓服立瘥。</p>
<p>又方：取蒼耳苗搗，取汁一二升飲之，滓敷上立瘥。</p>
<p>一方：灸掌後橫文後五指，男左女右，七壯。</p>
<p>癰，肉中如眼，諸藥不效，取附子削令如棋子，安腫上，以唾貼，以火灸之，令附子欲焦。</p>
<p>一切腫毒疼痛，取蓖麻子熟搗，敷之即瘥。</p>
<p>腳腫向上至腹即殺人者，赤小豆一斗，以水三斗，煮令爛，出豆，以汁浸腳至膝，每日一度瘥止。若已入腹，不須浸，但煮豆食之。忌鹽菜米面等。渴飲汁，瘥乃止。瘡久不瘥，瘥而複發，骨從孔出，名骨疽，以豬脂和楸葉搗封之。</p>
<p>又方：搗白楊葉敷之。</p>
<p>又方：蕪菁子搗敷之，帛裹，一日一易。</p>
<p>又方：穿地作坑，口小裡大，深三尺，取干雞屎二升，以艾及荊葉搗碎，和雞屎，令可燃火附骨疽，槲皮燒末，飲服方寸匕。</p>
<p>又方：灸間使後一寸，隨年壯立瘥。</p>
<p>一切疔腫，蒼耳根、莖、苗、子，但取一色，燒為灰，酢泔澱和如泥，涂上，干則易之，不又方：取鐵漿，每飲一升立瘥。</p>
<p>又方：面和臘月豬脂，封上立瘥。</p>
<p>又方：蒺藜子一升，燒灰，釅醋和，封上，經宿便瘥。或針破頭封上更佳。</p>
<p>又方：皂角子取仁作末敷之，五日內瘥。</p>
<p>又方：艾蒿一擔，燒作灰，於竹筒中淋取汁，以一二合和鍛石如面漿，以針刺瘡中至痛即點之，點三遍，其根自拔。</p>
<p>赤眼疔，熬白粉令黑，蜜和敷之良。</p>
<p>又方：以新坌鼠壤，水和涂之，熱則易之。</p>
<p>又方：搗馬牙齒末，臘月豬脂和敷之，可拔根出。亦燒灰用。</p>
<p>火燒瘡，慎不得以冷水洗，熱得冷更深入骨，壞人筋骨難瘥。初被火燒，急更向火灸，雖大又方：家中一女子火燒手，且浸浸至掌，急以酸酢升余浸之，出酢尚痛，時不痛止，不瘡不又方：末熬油麻和梔子仁涂之，惟濃為佳。</p>
<p>又方：已成瘡者，燒白糖灰粉之，即燥立瘥。</p>
<p>因瘡而腫痛劇者，數日死，或中風寒，或中水，或中狐尿刺，燒黍穰，若牛馬屎，若生桑條又方：熱蠟內瘡中，新瘡亦善。</p>
<p>又方：以鳧公英草、根、莖白汁涂之。惟多涂為佳，大神效。此草蜀中名耳瘢菜，關中名苟乳。（乳，奴狗切。）</p>
<p>腸癰，雄雞頂上毛並屎燒作末，空心酒服。</p>
<p>又方：截取檐頭尖少許，燒作灰，水和服。當作孔出膿血愈。</p>
<p>又方：瓜子三升末之，以水三升，煮取一升五合，分三服。</p>
<p>又方：死上塚上土作泥涂之。</p>
<p>內癰未作頭者，服雞屎即瘥。</p>
<p>又方：腸癰，屈兩肘，正灸肘頭銳骨各百壯，則下膿血即瘥。</p>
<p>婦人妒乳取葵莖灰末之，飲服方寸匕，日三即愈。一法為末，不為灰。</p>
<p>又一方：取研米槌二枚，炙令熱，以絮及故帛拓乳上，以捶更互熨之瘥止。</p>
<p>乳癰，以水罐盛酢泔清，燒石令熱，內中沸止，更燒如前，少熱，內乳漬之，冷更燒石內漬，不過三燒石即愈。</p>
<p>又一方：取蔥白搗敷之，並絞汁一升，頓服即愈。</p>
<p>又方：柳根削取上皮，搗令熟，熬令溫，盛練袋中熨乳上，干則易之，一宿即愈。</p>
<p>又方：鹿角治下篩，以豬脂上清汁服方寸匕，不過再服，亦可以醋漿水服。</p>
<h2>卷之三</h2>
<h3>霍亂吐瀉第九</h3>
<p>霍亂轉筋，蓼一把，去兩頭，以水二升，煮取一升，頓服之。一方作梨葉。</p>
<p>又方：燒故木梳灰末之，酒服一枚小者，永瘥。</p>
<p>又方：車彀中脂，涂足下瘥。</p>
<p>又方：作極咸鹽湯，於槽中暖漬之。</p>
<p>又方：以醋煮青布拓之，冷複易之。</p>
<p>轉筋不止，若男子，以手挽其陰牽之。女子，挽其乳近左右邊。</p>
<p>轉筋在兩臂及胸中者，灸手掌白肉際七壯，又灸膻中、中府、巨關、胃管、尺澤。並治筋拘，頭足皆愈。</p>
<p>霍亂引飲，飲輒乾嘔，生薑五兩，　咀，以水五升，煮取二升半，分二服。高良薑大佳。</p>
<p>中熱霍亂，暴利，心煩，脈數，欲得冷水者，新汲井水，頓服一升立愈。先患胃口冷者，勿霍亂吐下腹痛，以桃葉煎汁，服一升立止。冬用皮。</p>
<p>走哺轉筋，灸踵踝白肉際各三七壯。又灸小腹下橫骨中央隨年壯。</p>
<p>轉筋四厥，灸兩乳根黑白際各一壯。</p>
<p>轉筋，灸涌泉六七壯，在足心下當拇趾大筋上。又灸足大趾下約中一壯。</p>
<p>又方：轉筋不止，灸足踵聚筋上白肉際七壯立愈。</p>
<p>轉筋入腹，痛欲死，四人持手足，灸臍上一寸十四壯，自不動，勿複持之。又灸股裡大筋去霍亂轉筋，令病患合面正臥，伸兩手著身，以繩橫量兩肘尖頭，依繩下夾脊骨兩邊相去各一寸半，灸一百壯，無不瘥。</p>
<p>霍亂已死，有暖氣者，灸承筋。取繩量，圍足從趾至跟，匝捻取等折一半以度，令頭至跟踏地處別　上至度頭即是穴。灸七壯，起死人。又以鹽內臍中，灸二七壯。</p>
<p>霍亂洞下不止，艾一把，水三升，煮取一升，頓服之良。</p>
<p>又方：香茅一把，水四升，煮取一升，頓服之。青木香亦佳。</p>
<p>蠱毒，宿食不消，霍亂，極咸鹽湯三升，熱飲一升，刺口令吐宿食使盡，不吐更服，吐訖複飲，三吐乃住。此法大勝諸治，俗人以為田舍淺近法鄙而不用，守死而已。凡在此病，即須先用之。</p>
<p>又方：扁豆一升，香薷一升，以水六升，煮取二升，分服。單用亦得。</p>
<p>胞轉，小便不通，亂發急纏如兩拳大，燒末，醋四合，和二方寸匕，服之訖，即炒熟黑豆葉，蹲坐其上。</p>
<p>又方：阿膠三兩，水三升，煮取七合，頓服之。</p>
<p>又方：豉五合，以水三升，煮數沸，頓服之。</p>
<p>又方：麻子煮取汁，頓服之。</p>
<p>又方：連枷關燒灰，水服之。</p>
<p>又方：筆頭燒灰，水服之。</p>
<p>又方：灸玉泉七壯。穴在關元下一寸。大人從心下處取八寸是玉泉穴，小兒斟酌取之。</p>
<p>又法：灸第十五椎五十壯。</p>
<p>又法：灸臍下一寸，隨年壯。一日四寸。</p>
<p>吐逆，霍亂吐血，灸手心主五十壯。</p>
<p>吐血：生地黃肥者五升，搗，以酒一升，煮沸，三上三下，去滓，頓服之。</p>
<p>又方：服桂心末方寸匕，日夜可二十服。亦治下血。</p>
<p>忽吐血：熟艾三雞子許，水五升，煮取二升，頓服。</p>
<p>又方：燒亂發灰，水服方寸匕，日三。亦治舌上忽出血如簪孔者。亦治小便出血。</p>
<p>中蠱，下血日數十行，苦瓠一枚，以水二升，煮取一升，稍稍服之。當下蠱及吐蛤蟆蝌蚪</p>
<h3>虎犬馬傷第十</h3>
<p>（針折入肉附）</p>
<p>虎咬瘡，煮葛根令濃以洗之，十遍。飲汁及搗為散，以葛根汁服方寸匕，日五。甚者夜二。</p>
<p>又方：青布急卷為繩，止一物燒一頭，燃，內竹筒中，注瘡口熏之妙。</p>
<p>又方：煮鐵令濃，洗瘡。</p>
<p>又方：嚼栗子涂之良。</p>
<p>剝死馬骨傷人，毒攻欲死，便取馬腸中屎涂之大良。</p>
<p>又方：取其屎燒灰，服方寸匕。</p>
<p>狂犬咬人，毒有七日一發，百日內殺人者，每到七日，搗韭汁飲一二升，當終身禁食犬肉、蠶蛹，若犯則死不可救。瘡未愈之間，禁食生魚及諸肥膩冷食。但於飯下蒸魚及於肥器中食便發，不宜飲酒，過一年乃佳。</p>
<p>犬嚙人，搗地榆，絞汁涂瘡。無生者，取干者，以水煮汁飲之。亦可末之，服方寸匕，日又方：搗韭絞汁，飲一升，日三。瘡愈止。</p>
<p>又方：以豆醬清涂之，日三四。</p>
<p>又方：刮虎牙或骨，服方寸匕。</p>
<p>犬毒，燒虎骨敷瘡及熨。又微熬杏仁，搗、研，取汁服之良。又取燈盞殘油灌瘡口。</p>
<p>此皆又方：用韭根、故梳二枚，以水二升，煮取一升，頓服。</p>
<p>又方：桃東南枝白皮一握，水二升，煮取一升，分二服，吐出犬子。</p>
<p>又方：服莨菪子七枚，日一。</p>
<p>又方：梅子末，酒服。</p>
<p>犬所嚙，惡血未盡，灸上一百壯，以後當日灸一壯。若不血出，刺出其血，百日灸乃止。禁飲酒、豬、犬肉。</p>
<p>凡犬嚙人，以熱牛屎涂之佳。</p>
<p>針折入肉中，刮象牙末，水和聚著折針上即出。</p>
<p>又方：磁石吸鐵者，著上即出。</p>
<h3>舌耳心目等大小便第十一</h3>
<p>舌卒腫，滿口溢出，須臾不治殺人，急以指刮破舌兩邊，去汁即愈。</p>
<p>又方：取釜下墨，以酢濃敷舌上下，脫去更敷佳。</p>
<p>又方：半夏十二枚洗、熟，以酢一升，煮取八合，稍稍含嗽之吐出。加生薑一兩佳。</p>
<p>又方：滿口含糖酢少許時，熱通即止。</p>
<p>舌上出血如泉，燒鐵篦，熟烙孔中良。</p>
<p>舌強不語，礬石、桂心，等分為末，安舌下立瘥。</p>
<p>耳中有物不可出，以弓弦從一頭令散，敷好膠注耳中物上停之，令相著，徐徐引之。</p>
<p>耳聾干，耵聹不可出，三年酢灌之最良。綿塞之半日許，必有物出。</p>
<p>百虫入耳，末蜀椒一撮，以酢半升調灌耳中，行二十步即出。</p>
<p>又方：桃葉火熨，卷之□塞耳立出。</p>
<p>又方：車　脂敷耳孔，虫自出。《肘後》以療　耳膿血。</p>
<p>又方：以蔥涕灌耳中，虫即出。亦治耳聾。</p>
<p>齒齦間血出不止，生竹茹二兩，醋煮含之。</p>
<p>又方：溫童子小便半升，取三合含之，其血即止。</p>
<p>九孔出血，搗荊葉取汁，酒服二合。一即荊芥。</p>
<p>九種心痛，取當太歲上新生槐枝一握，去兩頭，　咀，以水三升，煮取一升，頓服。</p>
<p>又方：桃白皮煮汁，空腹以意服之。</p>
<p>婦人心痛，布裹鹽如彈丸，燒作灰，酒服。</p>
<p>又方：燒秤錘投酒中服佳。</p>
<p>又方：炒大豆投酒中服佳。</p>
<p>產後卒心痛，桂心三兩，酒三升，煮取二升，去滓，分三服，日三。</p>
<p>又腹中苦痛，生牛膝五兩，酒五升，煮取二升，去滓，分二服。若干牛膝根，即酒浸一宿方可煮。</p>
<p>奔豚氣，急作湯以浸兩手足，數數易之。</p>
<p>又方：灸章門百壯。一名長平，二穴在大橫外直臍肋端。</p>
<p>又方：灸氣海百壯。穴在臍下一寸半。</p>
<p>又方：灸關元百壯。在臍下三寸。</p>
<p>又方：灸中極五十壯。在臍下四寸。</p>
<p>又方：灸期門百壯。直乳下第二肋端傍一寸五分又方：灸四滿二七壯。穴夾丹田兩傍相去三寸，即心下八寸，臍下橫紋是也。</p>
<p>奔豚，腹中與腰痛，灸中府百壯。穴在兩乳上三肋間。</p>
<p>耳聾有膿不差，有虫，先以綿纏去耳中汁，以礬石末粉耳中，次以石鹽末粉其上，食久乃起，不過再度永瘥。</p>
<p>耳，桃仁熟搗，以故緋絹裹內耳中，日三易，以瘥為度。</p>
<p>治底耳，黃礬燒，綿裹內耳中，不過三日愈。或以葦管吹耳中。</p>
<p>治虫心痛，鶴虱末之，蜜和梧子大，服四十丸，日三，蜜湯下。加至五十丸。慎酒肉。</p>
<p>又方：鶴虱一兩末之，空腹溫酢一盞和服之，虫當吐出。</p>
<p>又方：服漆一合。</p>
<p>熱翳漫睛，以羊筋漱口熟嚼，夜臥，開目納之，即閉目睡，去膜，明日差。亦治瞇目。</p>
<p>眼暗，以銅器盛大酢三四升，煎七八日，覆器濕地，取銅青一合，以三月杏白仁一升，取汁，和銅青敷之，日不過三四度大良。</p>
<p>又方：含黃柏一爪甲許，使津置掌中拭目，訖，以水洗之，至百日眼明。此法乃可終身行之，永除眼疾神良。</p>
<p>雀目術：令雀目人至黃昏時看雀宿處，打令驚起，雀飛乃咒曰：紫公紫公，我還汝盲，汝還我明。如此日日暝三過作之，眼即明，曾試有驗。</p>
<p>大小便不通，葵子末一升，青竹葉一把，以水二升，煮五沸，頓服。</p>
<p>又方：葵子一升，榆皮一升，水五升，煮取二升，分三服。</p>
<p>又方：葵子一升，以水三升，煮取一升，去滓，納豬脂一升，空腹分二服。</p>
<p>又方：甑帶煮取汁，和蒲黃方寸匕，日三服。</p>
<p>又方：豬脂一升，以水二升，煮三沸，飲汁立通。</p>
<p>又方：灸臍下一寸三壯。</p>
<p>失欠頰車蹉，一人以手指牽其頤，以漸推之，則複入矣。推當疾出指，恐誤齒傷人指也。</p>
<p>又方：消蠟和水敷之。</p>
<p>目瞇不出，以蠶沙一粒吞之即出。</p>
<p>卒食物入鼻有入腦，羊脂如指大，內鼻中吸上，脂消則物隨脂下。</p>
<p>鼻中出血不止，搗楮葉汁，飲三升大良。</p>
<p>齒痛，蚯蚓糞，水和作稠泥團，以火燒之，令極赤如粉，以臘月豬脂和敷齦上，日三兩度又方：馬齒菜一把，嚼之即瘥。</p>
<p>齒根動欲落，生地黃綿裹著齒上，咋之及　咀，以汁漬齒根，日四五，並咽汁，十日大佳。</p>
<p>大便難，好膠三寸，蔥白一把，以水四升，煮取一升半，頓服之即下。</p>
<p>又方：葵子汁和乳汁等分，服之立出。</p>
<p>大便失禁，不拘老人小兒，灸兩腳大趾去甲一寸，三壯。又灸大趾奇間三壯。</p>
<p>小便不通，水四升，洗甑帶，取汁煮葵子，取二升半，分三服。</p>
<p>又方：胡燕糞、豉各一合，和搗丸如梧桐子大，服三丸，日三。</p>
<p>又方：發，去垢燒末，一升，葵子一升，以飲服方寸匕，日三。</p>
<p>又方：石槽塞灰土，井花水服之，日三。</p>
<p>又方：服車前子末方寸匕，日三，百日止。</p>
<p>卒不得小便，車前草一把，桑白皮半兩，　咀，以水三升，煎取一升，頓服之。</p>
<p>婦人卒不得小便者，杏仁二七枚，熬末服之立通。</p>
<p>又方：紫菀末，井花水服三指撮立通。血出，四五度服之。</p>
<p>大小便不利，葵子二升，硝石二兩，以水五升，煮取二升，分再服。</p>
<p>小便不利，大便數注，灸屈骨端五十壯。</p>
<p>胃反，食則吐，搗粟米作面，水和作丸如楮子大七枚，爛煮，內酢中，細細吞之，得下便已。面亦得用之。</p>
<p>胃反，食即吐出，上氣，蘆根、茅根各二兩，細切，以水四升，煮取二升，頓服之，得下又方：飲白馬尿即止。</p>
<p>又方：淘小芥子，曝乾為末，酒服方寸匕，日三。</p>
<p>又方：灸兩乳下各一寸，以瘥為度。</p>
<p>上氣，上酥一升，獨頭蒜五顆，先以酥煎蒜黃出之，生薑汁一合，共煎令熟，空腹溫服方寸匕。</p>
<p>上氣嘔吐，芥子二升末之，蜜丸。寅時以井花水服如梧子大七丸，日二。亦可作散。酒浸服香港腳入腹，困悶欲死，吳茱萸六升，木瓜兩個，切，以水一斗三升，煮取三升，分三服。</p>
<p>如卒噎，滿口著蜜食之即下。</p>
<p>又方：刮舂杵頭細糠含之即下。</p>
<p>又方：老牛涎棗核大，水中飲之，終身不複噎。</p>
<p>齲齒及虫痛，切白馬懸蹄如米許，以綿裹著痛處孔中，不過三度。</p>
<p>又方：家中法，以煮酒蠟少許，任在虫孔子中，以熱火箸烙之，令蠟融於孔立愈。</p>
<p>熱病後眼暗失明，以羊膽敷之，旦暮各一。</p>
<p>明目，令發不落，牛膽中漬槐子，陰乾百日，食後吞一枚，十日身輕，三十日白發再黑，百明目，小黑豆，每日空心吞二七枚。</p>
<p>又方：三月三日采蔓菁花，陰乾，治下篩，空心井花水服方寸匕。久服，可夜讀細書。</p>
<p>目赤及翳，烏賊骨、鉛丹，（大小等分，合研細。）和白蜜如泥，蒸之半食久，冷，著眼四，日一。</p>
<p>治三十年聾，故鐵三十斤，以水七斗浸三宿，取汁入曲，釀米七斗，如常造酒法，候熟，取磁石一斤研末，浸酒中，三日乃可飲，取醉。以綿裹磁石內耳中，好覆頭臥，酒醒去磁石即瘥。</p>
<p>耳聾鳴，汁出一二十年不瘥，礬石少許，以生菖蒲根汁和，點入耳中。</p>
<p>耳聾，巴豆十四個，成煉松脂半兩，合治丸如黍米大，綿裹，以簪頭著耳中，一日一易。</p>
<p>藥如硬，微火灸之，以汁出乃愈，妙。</p>
<p>又方：菖蒲、附子，等分，末之，以麻油和，以綿裹內耳中。</p>
<p>又方：芥子搗碎，以男兒乳和，綿裹內之。</p>
<p>又方：作一坑，可容二升許，著炭火其中。坑似窖形，以磚覆口上，磚上作一孔，可容一小指，磚孔上著地黃一升，以木盆覆之，以泥泥盆下勿泄，盆底上鑽一小孔，可容箸，其孔上著三重布，以耳孔當盆上熏，久若悶，去黃水，發裹鹽塞之，不過二三度，神效。</p>
<p>又方：酒三升，浸牡荊子二升，碎之，浸七日，去滓，任性服盡。三十年聾亦瘥。</p>
<p>又方：硫黃、雄黃，各等分，末之，綿裹內耳中，數日聞人語。</p>
<h3>中風大風水氣第十二</h3>
<p>大風半身不遂，蠶砂兩石，熟蒸作直袋三枚，各受七斗，熱盛一袋著患處，如冷，即取余袋，一依前法，數數易，百不禁，瘥止。須羊肚釀粳米、蔥白、薑、椒、豉等爛煮，熱吃，日百種風，灸腦後項大椎平處兩廂，量二寸三分，各灸百壯得瘥。須取病患指寸量。</p>
<p>卒病惡風欲死，灸第五椎，名曰藏輸，一百五十壯，三百壯便愈。</p>
<p>中風口僻眼急，諸藥不能瘥者，枳實上青刮取末，欲至心止，得茹五升，微火炒去濕氣，以酒一斗漬，微火暖令得藥味，隨性飲之大驗。治緩風、急風並佳。</p>
<p>中風口　，炒大豆三升令焦，以酒三升淋取汁，頓服之。口噤不開亦治。</p>
<p>又方：大皂角一兩，去皮、子，下篩，以三年大酢和。左　涂右，右　涂左。干更涂之。</p>
<p>卒氣短，搗韭汁，服一升立瘥。</p>
<p>大風疾，煉松脂投水中二十遍，蜜丸，服二兩。飢便服之，日三。鼻柱斷離者，二百日服之差。斷鹽及雜食、房室。</p>
<p>又方：天門冬，酒服百日愈。</p>
<p>大風，灸百會七百壯。</p>
<p>腎寒，灸腎　百壯。</p>
<p>中風口　，灸手交脈三壯。左灸右，右灸左。其炷如鼠屎，橫安之，兩頭下火。</p>
<p>風勞毒腫，疼痛攣急，桃仁一升，研如常法，以酒三升攪和，頓服之。濃衣蓋令汗，不過三劑。</p>
<p>猥退風，蓖麻脂一升，酒一斗，銅缽盛著酒中一日，煮之令熟服之。</p>
<p>失音，濃煮桂汁，服一升，覆取汗。亦可末桂著舌下，漸漸咽汁。</p>
<p>又方：濃煮大豆汁含亦佳。無豆用豉。</p>
<p>歷節風，松膏一升，酒三升，浸七日，服一合，日再，數劑愈。</p>
<p>冷氣氣短，蜀椒五兩，絹袋盛，以酒一斗，浸之二七日服之，任意多少。</p>
<p>卒上氣鳴急，便欲死者，搗韭汁，服一升良。</p>
<p>乏氣，枸杞葉、生薑，各二兩，　咀，以水三升，煮取一升，頓服。</p>
<p>心腹冷痛，熬鹽一斗熨。熬蠶砂，燒磚石蒸熨。取其裡溫暖止。蒸土亦大佳。</p>
<p>虛勞浮腫，灸太衝百壯，又灸腎　。</p>
<p>虛勞不得眠，酸棗、榆葉，等分末之，蜜丸如梧子大，每服十五丸，日再。</p>
<p>又方：干薑四兩末，湯和頓服。覆取汗愈。</p>
<p>一切虛羸，鹿骨一具碎，枸杞根切二斤。二味各以水一斗，別器各煎汁五升，去滓澄清，仍合一器，共煎取五升，日二。服盡，好將慎。皆用大斗。</p>
<p>補虛羸，九月十日取生濕枸杞子一斗，酒六升，煮五沸，出取研之，熟濾取汁，令其子極淨，暴子令干，搗末和前汁，微火煎，令可丸，酒服二方寸匕，日二。加至三方寸匕，亦可丸服五十丸。</p>
<p>腹脹滿，繞臍結痛，堅不能食，灸中守百壯。穴在臍上一寸，一名水分。</p>
<p>脹滿氣聚，寒冷，灸胃管百壯，三報。穴在鳩尾下三寸。</p>
<p>脹滿瘕聚，滯下冷疼，灸氣海百壯。穴在臍下一寸，忌不可針。</p>
<p>脹滿氣如水腫狀，小腹堅如石，灸膀胱募百壯。穴在中極，臍下四寸。</p>
<p>脹滿腎冷，瘕聚泄利，灸天樞百壯。穴在臍傍相對，橫去臍兩傍各二寸。</p>
<p>諸冷極，馬藺子九升，淨治去土，空腹服一合，日三，飲及酒下之。服訖須臾，以食壓之，取瘥乃止。</p>
<p>骨蒸，天靈蓋如梳大，炙令黃碎，以水五升，煮取二升，分三服。起死人神方。</p>
<p>又方：取人屎灰，以酒服方寸匕，日三。</p>
<p>走疰，燒車　令熱，暫入水，以濕布裹熨之。</p>
<p>三十年氣疰，豉心半升，生椒一合，以水二升，煮取半升，適寒溫，用竹筒縮取汁。令病咳嗽，胸脅支滿，多唾上氣，酒一升半，浸肥皂莢兩挺經宿，煮取半升，分三服，七日忌又方：薑汁一升半，沙糖五合，煎薑汁減半，內糖更煎服之。</p>
<p>又方：白糖五合，微　令消，內皂莢末方寸匕，合和相得，先食服如小豆二丸。</p>
<p>又方：服芥子七丸，以油酒下之。</p>
<p>上氣咳嗽，干薑末三兩，膠飴一斤，二味和令調，蒸五升米下，冷，以棗大含，稍稍咽之。</p>
<p>三十年嗽，百部根二十一斤，搗取汁，煎如飴，服方寸匕，日三。</p>
<p>又方：白蜜一斤生薑二斤取汁，二味，先將銅銚秤知斤兩，訖內蜜複秤知數，次內薑汁，又方：紫菀二兩，款冬花二兩，末之，食後以飲服方寸匕，日三，七日瘥。</p>
<p>久水腹大如鼓，烏豆一斗，熬令香，勿令大熟，去皮為細末，餳粥皆得服之。初服一合，稍豬、雞、魚、生冷、酢滑、房室，得食漿、粥、牛、羊、兔、鹿肉，此據大飢渴時食之，可忍，亦勿食也。此病難治，雖諸大藥丸散湯膏，當時雖瘥，過後複發，惟此散瘥後不發。終身服之，終身不發矣。其所禁食物，常須少啖，莫隨意咸物諸雜食等。</p>
<p>又方：葶藶末二寸匕，蒼耳子灰二寸匕，調和水服之，日二。</p>
<p>又方：椒目沉水者，取熬之，搗如膏，酒服方寸匕。</p>
<p>又方：水煮馬兜鈴服之。</p>
<p>水腫，利小便，葶藶四兩，生用，桂心一兩，末之，蜜丸，飲下梧子大七丸，日二，以知為度。</p>
<p>又方：牽牛子末之，水服方寸匕，日一利止。</p>
<p>又方：郁李仁末、面各一升，和作餅子七枚，燒熟，空腹熱食四枚，不知，更加一枚，加至七枚。</p>
<p>大水頭面遍身腫脹，苦瓠白穰實捻如大豆，以面裹煮一沸，空腹吞七枚，至午當出水一升毒不堪用。崔氏用子作餛飩服二七枚，若恐虛者，牛乳服之，如此隔日作服，漸加至三七枚，以小便利為度。小便若太多，即一二日停止。</p>
<p>水通身腫，煎豬椒枝葉如餳，空腹服一匕，日三。癢，以汁洗之。</p>
<p>又方：苦瓠膜二分，葶藶子五分，熬、搗為丸如小豆大，服五丸，日三。</p>
<p>又方：單服牛尿大良。凡病水無不瘥。服法先從少起，得下為度。</p>
<p>又方：大棗肉七枚苦瓠膜如棗核大，搗丸。一服三丸，如行十五裡久，又服三丸，水出更服一丸即止。</p>
<p>又方：煎人尿，令可丸如小豆大，日三服。</p>
<p>又方：葶藶、桃仁各等分，皆熬，合搗為丸服之，利小便。一日用杏仁。</p>
<p>又方：搗生葶藶子，酢和服，以小便數為度。</p>
<p>又方：燒薑石令赤，內黑牛尿中令熱，服一升，日一。</p>
<p>又方：灸足第二趾上一寸，隨年壯，又灸兩手大指縫頭七壯。</p>
<p>凡腫病須百日內外攻之，生商陸（一斤），豬脂（一斤，煎可得二升。）</p>
<p>右二味，和煎令黃，去滓以磨腫處。亦可服少許，並涂以紙覆之，燥輒敷之，不過三日瘥。</p>
<p>凡卒中風口　，以葦筒長五寸，以一頭刺耳孔中，四畔以面密塞之，勿令泄氣。一頭內大豆一顆，並艾燒之令燃，灸七壯，即瘥。患右灸左，患左灸右。耳病亦灸之。若不能語者，灸之。</p>
<p>破傷風腫，濃涂杏仁膏，燒麻燭遙灸之。</p>
<p>刺傷中風水，刮箭羽下漆涂之。</p>
<p>又方：服黑牛熱尿，一服二升，三服即止。</p>
<p>又方：煮韭熟拓之。</p>
<p>又方：蠟一兩，熱灸熨，薄裹其上，水出愈。</p>
<h2>卷之四</h2>
<h3>瘧痢症等第十三</h3>
<p>凡下痢熱，烏梅一升，黃連一斤，金色者。末之，蜜和如梧子大，二十丸，日三夜二。</p>
<p>積久三十年常下痢，赤松皮去上蒼皮，切一斗為散，面粥和一升，日三服，百日瘥。</p>
<p>下血，日夜百七八十行，黃連、黃柏各四兩，　咀，醇酢三升，煮取一升半，分再服。</p>
<p>赤白滯下，亂發雞子大，燒末水服，不過三。</p>
<p>下冷，臍下攪痛，赤石脂、干薑各十兩，丸如豌豆，服十丸，日三，加至二十丸。</p>
<p>卒下痢，黃連五兩，生薑一斤，　咀，以水五升，煮取一升，頓服。未止更服。</p>
<p>久冷白痢，日夜五六十行，大小腹痛不可忍，好曲末五升，微熬令香，溫清酒令熱，和曲末一升，空腹頓服。日三服。若至食時，搗蒜一升，令至熟，下薑、椒調和，如常食法。</p>
<p>惟須少與余食，至飢時仍準前食曲末酒。比至瘥，不過兩日。</p>
<p>久冷或痢或不痢，但患腰腹苦冷者，上等新蜀椒三升，用酢宿漬之，以曲三升，和椒一升，緊拌煮作粥，空腹頓服之。加蔥、豉、鹽，任性調和。不瘥更作，以瘥為限。不過三升椒瘧或間日，或夜發者，燒黑牛尾頭毛作灰，酒服方寸匕，日三。</p>
<p>又方：無問新久者，小便一升半蜜三匕，同煮三沸，頓服。每發日平旦時服，自至發勿食一切瘧，無問遠近，正仰臥，以線量乳間中屈，從乳向下灸度頭，隨年壯。男左女右。</p>
<p>五臟諸瘧，灸尺澤七壯。穴是肘約上動脈。</p>
<p>禳瘧法：未發前抱一大雄雞，時時驚動，令雞作大聲立瘥。</p>
<p>卒暴症，腹中有物，堅如石，痛如斫刺，晝夜啼呼。不治，百日必死。牛膝二斤，　咀，曝以酒一升浸之，密塞氣口，煎取半，服半升。一服便吐去宿食，神效。</p>
<p>又卒暴症，取商陸根，搗碎蒸之，以新布藉腹上，以藥鋪布上，以衣物覆藥上，冷複易之，凡所食不消，取其余類燒作末，酒服方寸匕，便吐去宿食即瘥。如食桃不消者，以時無桃，卒食不消，欲成瘕積者，煎艾汁如飴，取半升作一服，便利吐去宿食，神良。</p>
<p>又方：白艾五尺圍一束，薏苡根一大把，二味煎服。</p>
<p>食魚肉等成症結並諸毒瓦斯，狗屎五升燒末，綿裹之，以酒一斗浸再宿，濾取清，分十服，日雜中食，瘀實不消，心腹堅痛，以水三升，煮白鹽一升令消，分三服，自吐。亦治暴症。</p>
<p>患症結病及瓜病，似瓜形，日月形，或在臍左右，或在臍上下。若鱉在左右肋下，或當心如合子大，先針其足，以椒熨之。取一新大盆受一斗者，盆底鑽一百二十孔，孔上著椒三合，上著一重紙，紙上著冷灰一升，灰上著熱灰半升，上著剛炭火一斤，經一食頃，盆底熱徹，當病上初安氈一重，即安火盆。火盆大熱，以漸更加一重。若火更熱不可忍。加至三重暫歇。一口冷凍飲料，還上火消二分許即停。</p>
<p>經三日勿著，及至七日決得頓瘥。然後食美食自補。若小不瘥，作露宿丸服之，方在第十六卷中。</p>
<p>鱉症腹堅硬，腫起大如盆，眠臥不得，取藍一斤，搗，水三升，絞取汁，服一升，日二。</p>
<p>又方：蒴　根白皮一握，研取汁，水和服之。</p>
<p>食中得病為鱉症，在心下堅強，雞屎一升炒黃，取五合，以酒一升浸，半為末，以所浸酒服蛟龍病，開皇六年三月八日，有人食芹得之，其人病發似癲癇，面色青黃，因食寒食餳過多米症，常欲食米。若不得米，則胸中清水出。雞屎一升，白米五合，合炒令米焦，搗末，以</p>
<h3>頭風吐逆第十四</h3>
<p>凡食後吐酸水，干薑、茱萸各二兩，治篩，酒服方寸匕，日二。胃冷服之立驗。</p>
<p>嘔噦，蘆根切三升，以水一斗，煮取四升，分四服。</p>
<p>乾嘔吐逆涎沫出者，半夏、干薑等分，　咀，以漿水一升半，煮取七合，頓服之，日三。</p>
<p>乾嘔，酒浸馬屎一宿，取汁服之。</p>
<p>又方：灸心主，尺澤亦佳。</p>
<p>又方：灸乳下一寸，三十壯。</p>
<p>乾嘔不止，粥食湯藥皆吐不停，灸手間使三十壯。若四厥脈沉絕不至者，灸之便通。此起死人法。</p>
<p>治噦，煮豉三升，飲汁佳。</p>
<p>又方：空腹飲薑汁一升。</p>
<p>又方：濃煮蘆根汁飲之。</p>
<p>又方：灸承漿七壯。炷如麥大。又灸臍下四指七壯。</p>
<p>惡心，苦瓠穰並子一升，碎，以酒水三升，煮取一升，頓服。須臾吐下如蝦　衣三升。</p>
<p>又方：服小便百日佳。</p>
<p>又方：麻子一升，熬令香，熟搗，取酒三升，熟研，濾取一升飲盡，日二。服盡一石瘥。</p>
<p>一食飲輒吐，頓服生熟湯三升即止。</p>
<p>吐逆，食不住，灸胃管百壯，三報。</p>
<p>吐逆，飲食卻出，灸脾募百壯，三報。章門也。</p>
<p>咽痛，逆氣不能食，麻子一升，熬令黑，以酒一升，淋取汁，空心一服一升，漸至二升。</p>
<p>多汗好覆，勿觸風冷。此方兼理產婦及丈夫中風，如角弓反張，口噤不開。</p>
<p>治婦人氣，平旦服烏牛尿，日一止。</p>
<p>腰痛，以酒單服鹿茸與角方寸匕，日三。</p>
<p>腰　痛導引法：正東坐收手抱心，一人於前據躡其兩膝，一人後持其頭，徐牽令偃臥，頭腰痛針法：宜針決膝腰句畫中青赤絡脈出血，便瘥。</p>
<p>又方：灸腳跟上橫紋中白肉際十壯良。</p>
<p>又方：灸足巨陽七壯。巨陽在外踝下。</p>
<p>又方：灸腰目　七壯。在尻上約左右。</p>
<p>又方：灸八　及外踝上骨約中。</p>
<p>腰卒痛，灸窮骨上一寸七壯，左右各一寸七壯。</p>
<p>頭風，大豆三升，炒令無聲，先以一斗二升瓶盛清酒九升，乘豆熱，即傾酒中，密泥頭七日，溫服之。</p>
<p>又方：服荊瀝不限多少，取瘥止。</p>
<p>又方：搗蒴翟根一升，酒二升漬服，汗出止。</p>
<p>又方：末蔓荊子二升，酒一升，絹袋盛，浸七宿，溫服三合，日三。</p>
<p>又方：臘月烏雞屎一升，炒黃末之，絹袋盛。以酒三升浸，溫服任意，常令醺酣。</p>
<p>又方：七月七日麻勃三升，麻子一石末，相和蒸之，沸湯一石五斗三遍淋之，煮取一石，神曲二十斤，漬之令發，以黍米兩石五斗釀之，熟封三七日，服清一升，百日，身中澀皮入風，胸膈、五臟、骨髓伏風百病，悉去之。</p>
<p>頭風沐方：葶藶子煮，沐，不過三四度愈。</p>
<p>又方：蜀椒二升，以水煮，取汁沐發良。</p>
<p>白屑，以桑灰汁沐頭，去白屑神良。</p>
<p>白發還黑：烏麻九蒸九曝，末之，以棗肉丸，久服之佳。</p>
<p>又方：隴西白芷、旋複花、秦椒各一升，桂心一尺，治下篩，以井花水服方寸匕，日三。</p>
<p>三十日白發還黑，禁房室。</p>
<h2>卷之五</h2>
<h3>疫瘴渴淋第十五</h3>
<p>令瘟不相染人，汲水瓶上繩長七寸，盜著病患臥席下良。</p>
<p>又方：以繩度所住戶中壁，屈繩則斷之。</p>
<p>又方：桃木蠹屎末之，水服方寸匕。</p>
<p>又方：朮、豉等分，酒漬服之妙。</p>
<p>又方：正旦吞麻子、赤小豆各三七枚。又以二七枚投井中。</p>
<p>又方：新布袋盛大豆一升，內井中一宿，出，服七枚。</p>
<p>又方：松葉末之，酒服方寸匕，日三。</p>
<p>又方：常以七月七日合家向日，吞赤小豆二七枚。</p>
<p>又方：常以七月七日男吞大豆七枚，女吞小豆二七枚。</p>
<p>又方：正旦取東行桑根，大如指，長七寸，以丹涂之，持門戶上，又令帶之。</p>
<p>又方：常以月望日，細銼東引竹枝煮湯浴。</p>
<p>瘴氣，蒜五子，並皮碎之，豉一升，以三歲男兒尿二升，煮五六沸，去渣服之良。</p>
<p>又方：青竹茹二升，以水四升，煮取三升，分三服。汗不止者，白朮葉作飲方寸飲之。</p>
<p>盜汗，韭根四十九枚，水二升，煮一升，頓服。</p>
<p>又方：豉一升，以酒二升漬三日。若服不瘥，更合服，不過三劑。</p>
<p>消渴，甘草、干薑各二兩，　咀，水三升，煮取升半，去滓分二服。又法有大棗十二個。</p>
<p>渴利，生栝蔞根三十斤，切，以水一石，煮取一斗半，去滓，以牛脂五合，煎水盡，以溫酒食如雞子大，日三服。</p>
<p>渴，小便利複非淋，榆白皮二斤，切，以水一斗，煮取五升，一服三合，日三。</p>
<p>又方：小豆藿一把，搗取汁，頓服三升。</p>
<p>又方：薔薇根，水煎服之佳。</p>
<p>又方：三年重鵲巢燒末，以飲服之。</p>
<p>又方：桃膠如彈丸，含之咽津。</p>
<p>又方：蠟如雞子大，以酢一升，煮二沸，適寒溫，頓服之。</p>
<p>熱渴，頭痛壯熱，及婦人血氣上衝悶不堪者，茅根，切三升，搗取汁。渴即飲之令盡。</p>
<p>消渴病，百日以上者，不得灸刺。</p>
<p>消渴，干浮萍、栝蔞根等分末之，以人乳汁和丸如梧子，空腹飲服二十丸，日三。三年病者治渴，黃連一斤，生地黃一斤，（又雲十斤）。絞地黃取汁浸黃連，出，燥爆之，燥複內之，令汁盡干之，搗末，蜜丸如梧子。每服二十丸，日三，食前後無在。亦可為散，以酒服方寸大渴，深掘大栝蔞根，濃削皮至白處，以寸切，水浸一日夜易水，經五日，取出爛搗研之，以絹袋濾之，如出粉法干之，水服方寸匕，日三四。亦可粥、乳、酪中食之，不限多少，取又方：取七家井索近桶口結，燒作灰，井花水服之，不過三服瘥。</p>
<p>又方：取豉漬汁，任性多少飲之。</p>
<p>又方：濃煮竹根，取汁飲之，以瘥止。</p>
<p>又方：以青粱米，煮取汁飲之，以瘥止。</p>
<p>消中，日夜尿七八升者，鹿角炙令焦，以酒服五分匕，日三。漸加至方寸匕。</p>
<p>又方：漚麻汁，服一升佳。</p>
<p>又方：葵根如五升盆大兩束，（又雲五六斤。）以水五斗，煮取三斗，宿不食，平旦每服三升諸淋，細白砂三升，熬令極熱，以酒三升，淋取汁，服一合。</p>
<p>淋痛，蒲黃、滑石等分末之，酒服方寸匕，日三。</p>
<p>氣淋，船底胎如鴨子大，水三升，煮取二升，頓服。</p>
<p>又方：水三升，煮豉一升，一沸去滓，內鹽一合，頓服。亦可單煮豉汁服。</p>
<p>又方：水一斗，煮比輪錢三百文，取三升，溫服之。</p>
<p>又方：搗葵子末，湯服方寸匕。</p>
<p>又方：空心單茹蜀葵一滿口止。</p>
<p>又方：熬鹽熱熨小腹，冷複易。亦治小便血。</p>
<p>又方：臍中著鹽，灸三壯。</p>
<p>石淋，車前子二升，絹袋盛水九升，煮取三升，頓服之，石即出。先經宿不得食。</p>
<p>又方：取浮石使滿一手，治下篩，以水三升，酢一升，煮取二升，澄清服一升，不過三服石又方：桃膠棗許大，夏以三合冷水，冬以三合湯和一服，日三。當下石子，如豆卵，石盡止。亦治小便出血。</p>
<p>又方：灸水泉三十壯，足大敦是也。</p>
<p>膏淋，搗　草汁二升，酢二合，空心頓服之。當尿小豆汁也。又濃煮汁飲，亦治淋瀝。</p>
<p>熱淋，葵根一升，冬用子，夏用苗，切，大棗二七個，以水三升，煮取一升二合，分二服。熱加黃芩一兩，出難加滑石末二兩，血者加茜根三兩，痛者加芍藥二兩。加藥，水亦加之。</p>
<p>又方：白茅根切，四斤，以水一斗五升，煮取五升。服一升，日三夜二。</p>
<p>又方；常煮冬葵根飲之。</p>
<p>血淋，生大麻根十個，以水五升，煮取二升，頓服之。亦治小便出血。</p>
<p>又方：大豆葉一把，水四升，煮二升，頓服之。</p>
<p>又方：葵子一升，水三升，煮取汁，日三服。亦治虛勞尿血。</p>
<p>又方：灸丹田隨年壯。又灸伏留五十壯，又雲隨年壯。</p>
<p>五淋，灸懸泉十四壯。穴在內踝前一寸斜行脈上，是中封之別名。</p>
<p>又方：灸大敦三十壯。</p>
<p>卒淋，灸外踝尖七壯。</p>
<p>小便血，胡麻三升，搗細末，以東流水二升，漬一宿，平旦絞去滓，煮兩沸，頓服之。</p>
<p>小便出血，龍骨細末之，溫水服方寸匕，日五六服。一云酒服。</p>
<p>又方：搗荊葉取汁，酒服二合。</p>
<p>又方：酒三升，煮蜀當歸四兩，取一升，頓服。</p>
<p>又方：煮車前根、葉、子，多飲之佳。</p>
<p>又方：刮滑石末，水和敷，繞小腹，仍繞陰際佳。又治小便不通。</p>
<p>又方：酒服亂發灰。一云水服。</p>
<p>又方：酒服葵莖灰方寸匕，日三。</p>
<h3>頭面手足瘰瘡漏第十六</h3>
<p>凡口吻瘡，以經年葵根欲爛者燒作灰，熱敷之佳。</p>
<p>燕吻瘡，白楊枯枝，鐵上燒取　，及熱敷之佳。</p>
<p>唇上瘡，經年不瘥，八月藍取汁，洗，三日瘥。</p>
<p>諸瘡因風致腫，燒白芋灰，溫湯調之，敷上濃三分，干即易，不過五度瘥。</p>
<p>又方：櫟根皮三十斤，銼，水三斛，煮令熱，下鹽一把，令的的然熱以浸瘡，當出膿血，日反花瘡並積年諸瘡，取牛蒡根（一云牛蒡根）。熟搗，和臘月豬脂封上瘥止。</p>
<p>又方：馬齒菜搗封瘥止。</p>
<p>惡露瘡，搗薤菜敷瘡口，以大艾炷灸藥上，令熱氣入內即瘥。</p>
<p>惡瘡，燒扁竹灰和楮白汁涂之。</p>
<p>又方：羊屎、麻根燒煙斷，膏和封。有汁乾敷。</p>
<p>惡瘡似火爛，白馬屎曝乾，以河水調煮十沸，絞取汁洗之。</p>
<p>身瘡頭瘡，菖蒲末敷上，日三夜二。</p>
<p>惡瘡十年不差似癩，蛇蛻皮一枚燒末之，豬脂調敷，醋調亦得。</p>
<p>又方：苦瓠一枚，　咀，煮取汁洗瘡口，日三。又煎以涂癬甚良。皆先以泔洗，三日瘥。</p>
<p>又方：鹽湯洗，搗地黃葉貼之。</p>
<p>又方：燒　豬屎敷之。</p>
<p>又方：燒莨菪子末敷之。</p>
<p>諸瘡久不瘥，並六畜瘡，棗膏三升，水三斗，煮取一斗半，數洗取愈。</p>
<p>代指甘草二兩，　咀，水五升，煮取一升半，漬之。若無，用芒硝代之。</p>
<p>又方：以唾調白　砂，搜面作碗子盛唾，著　砂如棗大，以爪指著中，一日瘥。</p>
<p>又方：以毛雜黃土作泥，泥指上，令濃五分，內　灰中煨令熱可忍，泥干易，數度瘥。</p>
<p>又方：刺指熱飯中，二七遍愈。</p>
<p>又方：以麻沸湯漬之即愈。</p>
<p>又方：單煮地榆湯漬之，半日瘥。</p>
<p>又方：先刮去膿血，炙魚　皮令溫，以纏裹周匝，痛止便愈。</p>
<p>又方：蜀椒四合，水一升，煮三沸，以漬之。</p>
<p>又方：取萎黃蔥葉，煮湯漬之。</p>
<p>指痛欲脫，豬脂和鹽，煮令消，熱內其中，食久住。《千金翼》作和干薑。</p>
<p>手足指掣痛，醬清和蜜，溫涂之。</p>
<p>又方：灸指端七壯。</p>
<p>手足指逆臚，此緣廁上搔頭，還坐廁上，以指倒捋二七下即瘥。</p>
<p>凍指，馬屎三升，以水煮令沸，漬半日愈。</p>
<p>人腳冬夏常拆裂，雞屎一升，水二升，煮數沸，停小冷，漬半日瘥。亦用馬糞。</p>
<p>又方：羊膠膠干，故帛貼上。</p>
<p>九漏，成煉松脂末之，填瘡孔令滿，日三四度，七日瘥。</p>
<p>又方：馬齒莧陰乾，臘月燭燼等分，末之，以臘月豬脂調。先以暖泔清洗瘡，拭乾敷之，日又方：干牛屎、干人屎，搗，先幕綿於瘡上，綿上著屎，虫聞屎香出。若癢，即舉綿去之，又方：苦瓠四枚大如盞者，各穿一孔如指大，置湯中煮十數沸，取一竹筒長一尺，內一頭瓠又方：煮鹽花，以面擁病上，內鹽花面匡中，濃二寸，其下以桑葉三重，藉鹽候冷熱得所可又方：槲北陰白皮三十斤，銼之，以水一石，煮取一斗，去滓，煎如糖，又取都廁上雌雄鼠糞各十四枚，燒令汁盡，末內煎中，溫酒一升投煎中，合攪之。羸人五合，服之當有虫出。</p>
<p>漏作瘡孔，末露蜂房、臘月豬脂調敷孔上。</p>
<p>瘡因風致腫，櫟木根皮一斤，濃煮，入鹽一把漬之。</p>
<p>灸瘡不瘥者，每日於上別灸六七壯自瘥。</p>
<p>灸瘡中風冷腫痛，但向火灸之。瘡得熱則瘡快，至痛止，日六七灸愈。</p>
<p>諸漏，霜下瓠花曝乾，末敷之。</p>
<p>又方：搗土瓜根薄之，燥則易，不限時節。</p>
<p>又方：故布裹鹽如彈丸，燒令赤，末，酒服。</p>
<p>又方：服白馬屎汁一升。</p>
<p>又方：正月雄狐屎陰乾，末之，水調敷。</p>
<p>又方：鹽面和燒灰敷之。</p>
<p>又方：水研杏仁服之。</p>
<p>又方：豬脂一升，酒五合，煎沸，頓服之。</p>
<p>漏下，槐子燒末，酒服方寸匕，日三立瘥。</p>
<p>一切冷　，燒人吐出蛔虫為末，先以甘草湯洗瘡，後著灰，無不瘥者，慎口味。</p>
<p>鼠漏瘡差複發，以不經水豬脂，　咀生地黃，內脂中，令足相淹，和煎六七沸，桑灰汁洗瘡，去惡汁，以此膏敷，日一易。</p>
<p>鼠漏腫核未成膿，以柏葉著腫上，熬鹽著葉上熨之，令熱氣下即消。</p>
<p>螻蛄　，槲葉灰，先以泔清煮槲葉，取汁洗，拭乾，以灰內瘡中。</p>
<p>蜂　，癢漸大者，熬鹽熨之三宿四日，不瘥，至百日成　，其狀如四五寸石，廣三寸，中生蜂作孔，乃有數百，以石硫黃隨多少，燃燭燒令汁出，著瘡孔中，須臾間見蜂數十，惟蜂盡瘥。</p>
<p>又方：人屎、蛇脫灰、臘月豬膏調敷之。</p>
<p>又方：蜂窠灰，臘月豬脂調敷孔中。</p>
<p>瘰　，雄雞屎灰臘月豬脂調封之。</p>
<p>蜣螂　，牛屎灰和臘月豬脂敷之。</p>
<p>又方：蜣螂所推丸，末敷之。</p>
<p>又方：干牛屎末敷，癢則撥卻，更濃封瘥止。</p>
<p>又方：熱牛屎涂之，數數易，應有蜣螂出。</p>
<p>蚯蚓　，蚯蚓屎、雞屎末之，用社豬下頷髓和敷之。</p>
<p>蠍　五六孔相通者，搗茅根汁著孔中。</p>
<p>蛇　，蛇脫皮灰，臘月豬脂和封之。</p>
<p>顛當　，搗土瓜根敷至瘥。慎口味。</p>
<p>雀　，取母豬屎灰和臘月豬脂敷瘡，虫出如雀形。</p>
<p>膿　，桃花末和豬脂封之佳。</p>
<p>石　兩頭出，令人寒熱，搗槐子和井花水封之。</p>
<p>灸漏法，葶藶子二合，豉一升，搗令極熱，作餅如大錢，濃二分許，取一枚當瘡孔上。</p>
<p>作大艾炷如小指大，灸餅上，三炷一易。三餅九炷，隔三日複一灸之。如是頭瘡不可灸，葶藶氣又方：七月七日日未出時取麻花，五月五日取艾，等分，合搗作炷，用灸瘡上百壯。亦灸瘰九漏，灸肩井二百壯。</p>
<p>又方：灸鳩尾骨下宛宛中七十壯。</p>
<p>又方：繞四畔灸瘥。</p>
<p>諸惡漏中冷息肉，灸足內踝上三壯，二年六壯。</p>
<p>瘰　，白僵蠶治下篩，服五分匕，日三，十日瘥。</p>
<p>又方：故鞋氈替燒末五匕，和酒一升，平旦向日服之，行須臾吐鼠，三朝服。</p>
<p>又方：野狼屎末敷之。</p>
<p>又方：五月五日取一切種種雜草，煮汁洗。</p>
<p>一切瘰　及觸處，但有肉結凝似作　及癰癤者，以獨頭蒜截兩頭留心，大作艾炷，隨蒜大小貼　子上灸之。勿令上破肉，但取熱而已，七壯一易，日日灸之，取消止。</p>
<p>，灸兩胯裡患　處宛宛中，日一壯，七日止，神驗。</p>
<p>又方：灸五裡、人迎各三十壯。</p>
<p>又方：灸背兩邊腋下後紋上，隨年壯。</p>
<p>又方：灸耳後發際直脈上七壯。</p>
<p>去面　，成煉松脂為末，溫酒服三合，日三服，盡三升，無不瘥。</p>
<p>又方：白附子末，酒和敷之即落。</p>
<p>香港腳腫已入　小腹脹，小便澀少，取烏特牛尿一升，一服，日二。取消乃止。又雲羸瘦人二分尿，一分牛乳，合煮乳結服。</p>
<p>口中瘡久不瘥，入胸中，並生瘡三年以上不瘥者，濃煎薔薇根汁含之，又稍稍咽之，日三夜又方：角蒿灰敷之，一宿知，二宿瘥。有汁吐，不得咽也。</p>
<p>癬，搗刺薊汁服之。又服地黃汁佳。又燒蛇蛻一具酒服。又服驢尿良。又搗莨菪根，蜜和敷之。（一無根字。）</p>
<p>又方：熱拓煎餅，不限多少，日一，遍薄之良。</p>
<p>又方：醋煎艾涂之。又搗羊蹄根和乳涂之。</p>
<p>癭，昆布二兩洗，切如指大，酢漬含咽，汁盡愈。</p>
<p>又方：海藻一斤，（又雲三兩）。小麥面一升，以三年酢一升，面末曝乾，往反酢盡，搗為散，酒服方寸匕，日三。忌努力。</p>
<p>癭，上氣短氣，灸肺　百壯。</p>
<p>癭，上氣胸滿，灸雲門五十壯。</p>
<p>肉瘤勿治，治則殺人。又雲不得針灸。</p>
<p>陰　，取楊柳枝腳趾大，長三尺，二十枚，水煮令極熱，以故布及氈掩腫處，取熱柳枝更互柱之，如此取瘥。</p>
<p>浸淫瘡，以煎餅乘熱拓之。亦治濕癬。</p>
<p>又方：豬牙車骨年久者，椎破燒令脂出，熱涂之。</p>
<p>又方：取苦楝皮或枝，燒作灰敷。干者，豬膏涂。並治小兒禿瘡，諸惡瘡。</p>
<p>瘡：酢一升，溫令沸，以生薤一把內酢中，封瘡上瘥止。</p>
<p>又方：炒臘月糟薄之。</p>
<p>又方：燒故履系末敷之。</p>
<p>又方：燒松根，取脂涂之。</p>
<p>燥　瘡，酢和灰涂之，又熱牛屎涂之。</p>
<p>疥瘡，癢不可堪，羊蹄根淨去上，細切，熟熬，以酢和熟搗，淨洗瘡，敷上一時間，以冷又方：灸足大趾奇間二七壯。灸大趾頭亦佳。</p>
<p>白癜，平旦以手掉取韭頭露涂之，極效。</p>
<h3>痔第十七</h3>
<p>痔，以蒲黃水服方寸匕，日三良。又取桑耳作羹，空腹飽食之，三日食佳。</p>
<p>痔下血及新產漏下，好礬石一兩　附子一兩，末之，白蜜丸如梧子大，酒服二丸，日三。</p>
<p>稍五痔十年者，涂熊膽，取瘥止。一切方皆不及此神良。</p>
<p>又方：七月七日多采槐子，熟搗取汁，內銅器中，重綿密蓋，著宅中高門上曝之二十日以上，煎成如鼠屎大，內谷道中，日三。亦主　及百種瘡。</p>
<p>又方：痔下血及新產漏下，常食　竹葉及煮羹粥大佳。</p>
<p>又方：虎頭、犀角，末之，如雞子大，和不經水豬脂大如雞子，涂瘡上取瘥。</p>
<p>五痔，取槐根煮，洗之。</p>
<p>又方：取桃根煮，洗之。</p>
<p>痔出膿血，有虫，傍生孔竅，槐白皮一擔，銼，內釜中煮，令味極出，置大盆中，適寒溫，久冷，五痔便血，灸脊中百壯。</p>
<p>五痔，便血失屎，灸回氣百壯。穴在脊窮骨上。</p>
<p>肛出，女萎一斤，以器中燒，坐上熏之，即時入。</p>
<p>脫肛，蒲黃二兩，以豬脂和，敷肛上，內之二三愈。</p>
<p>腸隨肛出者，生栝蔞根取粉，以豬脂為膏，溫涂，隨手抑按，自得縮入。</p>
<p>冷痢脫肛，枳實一枚，石上磨令滑澤，鑽安柄，蜜涂炙令暖，熨之，冷更易之，取縮入止又方：鐵精粉內上按令入即愈。</p>
<p>又方：生鐵三斤，以水一斗，煮取五升，出鐵，以汁洗，日再。</p>
<p>因寒冷脫肛，灸臍中，隨年壯。又灸橫骨百壯。</p>
<p>又方：灸龜尾七壯。即後窮骨是也。</p>
<h2>卷之六</h2>
<p>《千金》論曰：上醫醫未病之病，中醫醫欲病之病，下醫醫已病之病。思以謂知病於未病之前者，此上智之所能也。知病於欲病之初者，此中智之所及也。若夫已病而求醫，則常情同然，不必論其智不智也。孫氏曰：聖人設教，欲家家自學，人人自曉。尊親有疾，不能療之者，非忠孝也。斯言可謂切至矣。</p>
<p>氣不調，百病自生。眾病積聚，皆起於虛。又曰：虛生百病。藥石有相欺者，入人腹中，遂相門爭，力甚刀劍。言不知性氣者，不可服也。凡服食藥餌，須量自己性理所宜，不可見彼得力我便服之。</p>
<p>人患瘡痍未瘳，不得合陰陽。</p>
<p>婦人妊娠，食羊肝，令子多厄。食山羊肉，令子多病。食驢肉，延月。食兔、犬肉，令子無音聲並缺唇。食騾肉，產難。食雞子及干鯉魚，令子多瘡。食椹並鴨子，令子倒出。食雀肉並豆醬，令子面多　黑子。食雀肉飲酒，令子心淫情亂，不畏廉恥。食鱉，令子短項。</p>
<p>食冰醬，絕胎。多經大驚者，生子患癲。向非常地大小便，必半產殺人。穢污、死喪家人來看視產婦，則難產傷兒。不依產圖，令子母多妨。產乳若在反支月者，浣濯水以器盛，出此忌月方覆之。產婦人眾看則難產，臨產憂悒則難產。兒已生，不得自視穢污。便利干懸廁之上，成十二痼疾。產後百日內勿行房。大忌上廁，只室中上盆佳。暑月產臥，忌取涼。百日忌服轉瀉藥。月經不去，大忌合陰陽，生十二疾。臥濕冷地，大忌合陰陽，生十二疾。大忌以冷水洗浴，合陰陽生十二疾。</p>
<p>小兒初生，不以綿裹指拭口中青泥惡血，則入腹生百病。初生舉之遲則中寒。臍帶隔衣咬斷之，不得以刀子截。臍帶留至足趺，短則中寒下痢。斷臍後浴者，水入臍令兒腹痛。臍帶中多有虫，不去之，則入腹成疾。臍留六寸，長則傷肌，短則傷臟。臍不以時截及　汁不盡，則寒生臍風。兒生，男以父、女以母故衣裹之，過濃傷皮膚，害血脈，發雜瘡而黃。新生兒衣暖太濃，令筋骨緩弱。解脫兒臍及換衣，如冬月須閉戶生火。三日，朱蜜食多則脾胃冷，腹脹，喜陰癇，氣急變噤而乖。臍帶瘡未愈，數洗浴，令兒患陰頹。兒太飽則吐及風中臍。夏不去熱乳，令兒嘔逆；冬不去寒乳，令兒咳痢。母新房以乳兒，令兒羸瘦，交脛不能行。母有熱以乳兒，令變黃，不能食。母怒以乳兒，令喜驚，發氣疝，又令上氣癲狂。母新吐下以乳兒，令兒虛羸。母醉以乳兒，令兒身熱腹滿。乳兒當極　，散其熱氣，勿令奔出。</p>
<p>乳兒不得用宿乳。母欲寐，則不得乳兒，恐失飢飽及填兒口鼻也。</p>
<p>浴兒水不冷熱得所，則令兒驚，亦致五臟病。兒冬不可久浴，久浴則傷寒；夏不可久浴，久浴則傷熱。數浴背冷則發癇。小兒不浴，又令兒毛落。</p>
<p>風癇者，衣暖至汗出，卻外風入腹為病因。驚癇者，驚怖大啼，多為病因。先不哺乳，吐而變熱者為食癇。</p>
<p>新生無病，懼不可逆針灸。</p>
<p>衣甚薄，則乳食不消，大便醋臭，此欲為癖也，乳哺食即作疾。</p>
<p>新生一歲兒，外人來氣息忤之，則為客忤病。雖是家人，或別房異戶從外還者，不避之為客忤。雖是乳母及父母從外來，亦能令兒為客忤。一應親戚及外來人，有衣服經履鬼神粗惡暴氣或牛馬之氣，並能令兒為客忤。一應人執作喘息及乳母乳氣未定者，並能為客忤。乳母遇醉及房勞喘後，乳兒最劇，能殺兒。凡諸乘馬行，得馬汗氣息，未盥洗易衣裝而便向兒邊者，令兒中馬客忤。一歲兒勿見馬來及聞馬鳴驚，能令小兒作客忤。兒衣布帛綿中及履中不得有頭發。白衣不得用青帶，青衣不得用白帶，皆能為客忤。凡非常人及諸物從外來，亦驚小兒致病，欲防之法，當將兒避之。若不避者，當燒牛屎，令常有煙氣置戶前則善。</p>
<p>秋初夏末，晨夕暴冷，不避之，多患壯熱下痢。小兒解著傷風，亦作傷寒病。尋常晚夜及陰雨夜，小兒衣物不得在露地，有釣星鬼禽，喜落毛羽於人中庭，置兒衣中，便令兒作癇病，必死，七八月尤忌。兒生未能行，而母再有娠，使兒飲此乳，作　病。小兒飲食過度，不知自止，作疾。小兒夏月積冷，洗浴過度，及乳母亦將冷水洗浴，以冷乳飲兒，兒壯熱，忽值豪雨涼，即令兒病痢等。夏月暴寒，小兒不避之，入胃則暴病。中客忤，心腹脹滿刺痛，口人失明之本，有十六件事：生食五辛，接熱飲食，熱食面食，飲酒不已，房室無節，極目遠視，數看日月，夜視星火，夜讀細書，月下看書，抄寫多年，雕鏤細作，博奕不休，久處煙火，泣淚過多，刺頭出血過多。又由馳騁田獵，冒涉風霜，迎風追獸，日夜不息之所致也。地因寒暑風濕，皆作蒸氣，人足履之，謂之風毒，名為香港腳。婦人產後尤宜慎此。四時之中，不得久立、久坐濕冷之地，令人作香港腳病。酒醉汗出，脫衣靴襪，當風取涼，皆成腳氣。患香港腳人忌大怒，忌房室，忌牛羊肉、蒜、蕺菜、菘菜、蔓菁、瓠子、酒、面、酥油、乳糜、豬、雞、鵝、鴨，不得犯之。一方用鯉魚外，魚亦忌。又忌生果酸酢之食。宜食生牛乳與生栗子，及粳、粱、粟、米、醬、豉、蔥、韭、薤、椒、薑、橘皮。</p>
<p>病有三患：一患覺之晚，二患驕狠恣傲，三患狐疑不決。犯之多枉傷性命。故曰：法為信者施，不為疑者設。</p>
<p>欲臨近亡人，宜將少金牙散涂鼻孔、耳門，及視疾者亦然。亦宜帶絳囊一方寸匕，男左女右。</p>
<p>新食畢取風者，令人患胃風。因醉取風者，令人患漏風。新沐浴畢取風者，令人首風。</p>
<p>新房室畢取風者，令人患內風。尊貴人骨弱肌膚盛，因疲勞汗出，偃臥不時動搖，被微風所及，得血痹疾。凡常之日，忽然暴熱，頓取涼快意，生病亦然，暴寒亦然。</p>
<p>冬時嚴寒，最宜周密，若觸冒之者，為傷寒。四時之氣，皆能為病，其傷寒尤重，以其殺厲時行之氣，犯之多病。所謂時行之氣者，春時應暖而反大寒，夏時應熱而反大冷，秋時應涼而反大熱，冬時應寒而反大溫。</p>
<p>凡熱病、大病新瘥之後，食豬肉及羊血、肥魚、油膩等物，必大下痢，醫所不能治。</p>
<p>食餅餌、粢黍、飴脯、　炙、棗栗諸果物，脯修及堅實難消之物，胃氣尚虛弱，不能消化，必更結熱，下之則大痢難禁，不下之必死。下之複危，皆難治也，不可不慎。但得食糜粥，寧少食令飢勿飽，不得他有所食。引日轉久，可漸食羊肉、白糜，若羹汁、雉、兔、鹿肉。</p>
<p>不可食豬、狗肉。當靜臥，勿早起梳頭洗面。非但不可體勞，雖言語亦不得多，亦不得生心用意煩勞。凡上氣事並令人勞複，女勞當舌吐數寸而死。凡瘥未滿百日，氣力未平複而以房室者，略無不死。未滿五日，食一切肉面，病更發，大困。食生魚　，下痢必不止。食生菜，令人顏色終身不平複。病新汗解，飲冷水者，損心胞，令人虛，補不複。食生棗及羊肉者，必膈上作熱蒸。食犬羊等肉者，骨中蒸熱。食魚肉與瓜、生菜，令人身熱。食　者，病發必大困。早起勞多及美飲食過多，致發欲死。</p>
<p>谷疸者，由失飢大食，胃氣衝熏所致。酒疸者，由大醉當風入水所致。女勞疸者，由大勞大熱而交接畢入水所致。黃膽，有人以竹筒使人極吹病患鼻中者，無不死，大慎之。</p>
<p>夏傷暑，至秋作　瘧。冬中於風，寒氣藏於骨髓中，至暑有所用力，腠理開，又中邪氣，能交接損，令人卵縮筋攣。</p>
<p>食生物，令虫卵生。入腹者，成虫蛇及魚鱉。</p>
<p>勞倦或飲食過常，作吐血。</p>
<p>服藥吐利後，常須閉口少語，於無風處溫床暖食將息。</p>
<p>凡人執作汗出當風，因以房室過度，醉飲飽滿行事，令心氣逼迫，短氣脈悸，得風癲病。</p>
<p>熱沐發而濕結之腦，汗未止，得濕癲病。</p>
<p>因大驚及當風從高墜下，致喜悲善恐怖，如有鬼物患。</p>
<p>有所擊仆，若醉飽入房，汗出當風，則必傷脾。</p>
<p>凡患痢服止藥，初服痢須轉劇，愚人不解，便不服其藥，此誤也。但服不過，再三服之。</p>
<p>痢大熟爛為佳。亦不得傷飽。</p>
<p>凡疳，鹽、醬、酢、酥、油、棗皆忌，惟白飯、豉、苜蓿、苦苣、蕪菁不在禁限。</p>
<p>凡日月蝕時忌食飲，腹中生　虫，及房室生子不具足，必患月蝕瘡。日月蝕不得與兒乳，（飲酒當風入肺，膽氣妄泄，即令人目青氣喘。酒客勞倦當風，喜怒氣舍於肺，面目黃腫，起七氣者，寒氣，熱氣，怒氣，恚氣，喜氣，憂氣，愁氣。此七種氣積聚，堅大如杯，若拌在心腹中，疾痛不能飲食，時來時去，每發欲死，如有禍祟。</p>
<p>尸疰鬼疰者，即五尸之中尸疰也。又挾諸鬼邪為害者也。其大略令人寒熱、淋瀝、沉沉嘿嘿不的知其所苦，而無處不惡。累年積月，漸就頓滯，以至於死。死後複注易傍人，乃至滅門。覺如此候，宜急療之。</p>
<p>人有九虫，其虫凶惡，人之極患也。常以白筵草沐浴佳。根葉皆可用，既是香草，又尸虫所惡也。</p>
<p>凡服補藥及治諸病，皆須先去諸虫，並痰飲宿　，醒醒除盡。不爾，必不得藥力。</p>
<p>脾勞熱，有虫在脾中，令人好嘔。肺勞熱，生虫在肺。腎勞熱，四肢腫急，有虫曰蟯虫，如人得傷寒及天行熱病，腹中有熱，及人食少腸胃空虛，若齒斷無色，舌上盡白甚者，唇裡有瘡。四肢沉重，忽忽喜眠，當數看其上唇，內有瘡唾血，唇內如粟瘡者，心內懊　痛悶者，此有三虫在上，蝕其五臟。下唇內生瘡者，其人喜眠，此虫在下，蝕其下部，人不能知，可熱病蛄毒，令人喜寐，不知痛處而面赤如醉，下利膿血，當數視其人下部大小之孔，稷稷然赤，則是　虫也，劇能殺人。</p>
<p>若有所用力舉重，若入房過度，汗出如浴水，則傷腎。人因身勞汗出，衣裡冷濕，久而得腎著之病，身體重，腰以下如帶五千錢，腰中冷如水。又其人本來不吃，忽然謇吃而好嗔恚，反常性，此腎之傷也。取寒眠地臥，冷濕地氣所傷，則腰痛。墜墮傷腰則腰痛，房室後用則肝傷善夢，心傷善忘，脾傷善飲，肺傷善痿，腎傷善唾，骨傷善飢，肺傷善嗽。</p>
<p>遠思強慮傷人，憂恚悲哀傷人，喜樂過度傷人，忿怒不解傷人，汲汲所愿傷人，戚戚所患傷五勞七傷，有小腹急痛，膀胱虛滿，手足逆冷，食飲苦吐，酸痰嘔逆，泄下少氣，目眩耳聾，口焦，小便自利者。</p>
<p>虛損少氣，腹脹，內急拘引，少腹至冷，不得屈伸，不能飲食，寒熱頭痛，手足逆冷，大小便難，或腹下痢，口乾，夢中泄精，或時吐逆恍惚，面色枯瘁，又複微腫，百節酸疼者。</p>
<p>五勞七傷，虛羸不足，面色黧黑，手足疼痛，久立腰疼，起則目眩，腹中懸急而有絕傷外引四肢者。</p>
<p>虛勞寒　，飲在脅下，決決有聲，飲已如從一邊下，決決然也。有頭並沖皮起引兩乳，內痛五勞七傷，小腹急，臍下膨亨，兩脅脹滿，腰脊相引，鼻口乾燥，目暗　，憒憒不樂，胸中氣急逆，不下飲食，莖中策痛，小便黃赤，尿有餘瀝，夢與鬼神交通去精，驚恐虛乏者。</p>
<p>凡男女有因積勞損，或大病後不複，常苦四體沉滯，骨肉酸疼，吸吸少氣，行動喘　；或少腹拘急，腰背強痛，心中虛悸，咽乾唇燥，面體少色；或飲食無味，陰陽廢弱，悲憂慘戚，多臥少起者。</p>
<p>有大勞虛劣，寒熱嘔逆，下焦虛熱，小便赤痛，客熱上熏，頭痛目疼，骨肉痛，口乾者。</p>
<p>有虛勞不足，四肢煩疼，不欲食，食則脹，汗出者。</p>
<p>有虛勞少氣，胸心淡冷，時時驚惕，心中悸動，手腳逆冷，體常自汗，腸鳴風濕者。</p>
<p>有虛勞損羸乏，咳逆短氣，四肢煩疼，腰背引痛，耳鳴，面黧黑，骨間熱，小便赤黃，心悸有大虛不足，小便數，噓吸焦　引飲，膀胱滿急者。</p>
<p>有左脅氣衝，膈上滿，頭上有風如虫行，手足頑痹，鼻塞，腳轉筋，兩目時腫痛者。</p>
<p>有虛損短氣，咽喉凝唾不出，如膠塞咽喉者。</p>
<p>有五勞六絕，其心傷者，令人善驚，妄怒無常者。</p>
<p>有五勞六絕，其脾傷者，令人腹滿喜噫，食竟欲臥，面目痿黃者。</p>
<p>有五勞六絕，其肺傷者，令人少精，腰背疼，四肢厥逆者。</p>
<p>有五勞六絕，其肝傷者，令人少血面黑者。</p>
<p>有五勞六絕，其腎傷者，有積聚，少腹腰背滿痹，咳唾，小便難者。</p>
<p>六絕之為病，皆起於大勞脈虛，外受風邪，內受寒熱，令人手足疼痛，膝以下冷者。</p>
<p>有五勞六絕，腹中雷鳴，時時泄痢者。</p>
<p>有五勞六絕，或閉或痢，面目腫，心下憒憒不欲語，憎聞人聲者。</p>
<p>有五勞七傷，八風十二痹，無有冬夏，悲憂憔悴者，凡是病皆須服之者。</p>
<p>有虛勞百損者。</p>
<p>有五勞六極七傷虛損者。</p>
<p>男子女人虛損傷絕，頭目眩，骨節煩痛，飲食微少，羸瘦百病者。</p>
<p>有虛勞，腎氣不足，腰痛陰寒，小便數，囊冷濕，尿有餘瀝，精自出，陰痿不起，忽忽悲喜者。</p>
<p>有五勞七傷六極，強力行事舉重，重病後骨髓未滿而行房室，所食不消，胃氣不平者。</p>
<p>有五勞七傷，每事不如意者。</p>
<p>有陰下濕癢汗出或生瘡，莖中痛者。</p>
<p>有溺血者。</p>
<p>有膀胱冷，咳唾有血，喉鳴喘息者。</p>
<p>有膀胱、腎冷，坐起欲倒，目　，氣不足，骨痿者。</p>
<p>有膀胱寒，小便數，漏精稠濃如白米泔者。</p>
<p>有胞屈僻，津液不通者。</p>
<p>有尿白濁者。</p>
<p>有胞轉者。</p>
<p>有上焦熱，腹滿而不欲食，或食先吐而後下，肘攣痛者。</p>
<p>有上焦飲食下胃，汗出，面背身中皆發熱者。</p>
<p>有上焦冷，下痢，腹內不安，食好注下者。</p>
<p>有上焦閉塞，乾嘔，嘔而不出，熱少冷多，好吐白沫青涎，吞酸者。</p>
<p>有中焦實熱閉塞，上下不通，隔絕關格，不吐不下，腹滿澎澎，喘急者。</p>
<p>有中焦熱，水谷下痢者。</p>
<p>有中焦寒，洞泄下痢，或因霍亂後瀉黃白無度，腹中虛痛者。</p>
<p>有下焦熱，大小便不通者。</p>
<p>有下焦熱，或下痢膿血，煩悶恍惚者。</p>
<p>有下焦熱毒，痢魚腦，雜痢赤白，臍下小腹絞痛不可忍，欲痢不出者。</p>
<p>有膀胱、三焦津液不下，大小腸中寒熱，赤白泄痢及腰脊痛，小便不利及婦人帶下者。</p>
<p>有下焦虛寒，津液不止，短氣欲絕者。</p>
<p>有下焦虛寒損，或見血後便轉，此為近血，或利或不利。</p>
<p>有下焦虛寒損，或先便轉後見血，此為遠血，或利或不利，好因勞冷而發者。</p>
<p>有三焦虛損，或上下發，泄、吐、唾血，皆從三焦起，或熱損發，或因酒發者。</p>
<p>有手足厥冷，脈絕者。</p>
<p>有下焦虛寒損，腹中瘀血，令人喜忘，不欲聞人語，胸中噎塞而短氣者。</p>
<p>有吐下汗出而小便複利，或下利清谷，裡寒外熱，脈微欲絕，或發熱惡寒者。</p>
<p>凡霍亂，務在溫和將息，若冷則遍體轉筋。此病定一日不食為佳，仍須三日少少吃粥，三日已後可依常食息，七日勿雜食為佳，所以養脾氣也。</p>
<p>有霍亂吐下，脹滿，食不消，心腹痛者。</p>
<p>有霍亂吐利止，而身體痛不休者。</p>
<p>有霍亂轉筋，血冷汗出，嘔　者。</p>
<p>有霍亂吐利已斷，汗出而厥，四肢拘急不解，脈微欲絕者。</p>
<p>有霍亂已服理中、四順，熱不解者。</p>
<p>有婦人霍亂嘔逆，吐涎沫者，慎不可下。</p>
<p>有年老霍亂羸劣，冷氣惡心，食飲不化，心腹虛滿，拘急短氣，嘔逆，四肢厥冷，心煩氣悶有毒冷霍亂，吐利煩嘔，轉筋肉冷，汗出，手足指腫，喘息唾死絕，語音不出者。</p>
<p>有霍亂蠱毒，宿食不消，積冷，心腹煩滿，鬼氣者。</p>
<p>有霍亂洞下不止者。</p>
<p>有霍亂引飲，飲輒乾嘔者。</p>
<p>有先服石人，因霍亂吐下服諸熱藥，吐下得止，因即變虛，心煩，手足熱，口乾燥，欲得水，嘔逆迷悶，脈急數者。</p>
<p>有時行熱病後，毒未盡，因霍亂吐下仍發熱，心胸欲裂者。</p>
<p>有霍亂，皆因飲食，非關鬼神。因飽食肫膾，複餐乳酪，海陸百品，無所不啖，眠臥冷席，多飲寒漿，胃中諸食結而不消所致。思謂：此說止為貴者言，若貧下，此証亦以瓜、李、生霍亂人忌與米飲，胃中得米，即吐不止，但與厚朴葛根飲。若冬瓜葉飲，但沾漬咽喉而不可多與。若服湯時隨服吐者，候吐定乃止。診脈絕不通，以桂合葛根為飲。吐下心煩，內熱汗不出，不轉筋，脈急數者，可犀角合葛根為飲。吐下不止，發熱心煩欲飲水，可少飲米粉汁為佳。若不止，可與葛根薺　飲服之。</p>
<p>婦人霍亂嘔吐者。</p>
<p>霍亂四逆，吐少嘔多者。</p>
<p>霍亂久，將遠行預備者。</p>
<p>霍亂永不發丸者。</p>
<p>中熱，霍亂暴利，心煩，脈數，欲得冷水者。</p>
<p>陰陽二氣，擁而反戾，陽氣欲升，陰氣欲降，陰陽乖隔，變成吐利，頭痛如破，百節如解，人生放恣者眾，盛壯之時，不自慎惜，快情縱欲，極意房中，稍至年長，腎氣虛竭，百病滋生。時服石散，真氣既盡，石氣孤立，惟有虛耗，唇口乾焦，精液自泄。或小便赤黃，大便干實。所食之物，皆化作小便，此皆由房室不節之所致也。</p>
<p>熱結中焦則為堅。下焦熱，則為溺血，令人淋閉不通。</p>
<p>氣淋之為病，溺難，澀，常有餘瀝。石淋之為病，莖中痛，溺不得出。膏淋之為病，尿似膏，自出。勞淋之為病，勞倦即發，痛引氣衝下。熱淋之為病，熱即發，甚則尿血。</p>
<p>下焦結熱，小便赤黃不利，數起出少，莖痛或血出。溫病後余熱及霍亂後當風，取熱，過度飲酒、房勞，及行步冒熱，冷凍飲料逐熱，熱結下焦作淋，及散石熱動關格，小腹堅，胞脹如斗。諸有此淋，悉治之立驗。</p>
<p>錄忌如下：喪孝、產乳、音樂、一切魚、一切肉、喧戲、房室、酢滑、生冷、蒜、粘食、米豆、油膩。</p>
<p>上並忌，不得食及不得用心。其不禁者，並具本方之下。再發，若不爾，若雖瘥複發，複發不可治。</p>
<p>婦人產後，飲水不即消，三焦決漏，小便不利，仍相結漸漸生聚，遂流諸經絡故也。</p>
<p>凡水病，忌腹上出水，出水者一月死，大忌之。</p>
<p>水有十種，不可治者有五：第一，唇黑，傷肝；第二，缺盆平，傷心；第三，臍出，傷脾；人氣急積久不瘥成水病者。</p>
<p>有患水腫，腹大四肢細，腹堅如石，小勞苦足脛腫，小飲食便氣急，此終身疾。不瘥，服丹酒客有虛熱，當風飲泠水，腹腫，陰複脹滿者。</p>
<p>水病有通身洪腫者，流腫者，百藥治不瘥而欲死者。</p>
<p>有大腫，眼合不欲開，短氣欲絕者。</p>
<p>男子女人新久腫，得暴風入腹者。婦人新產上廁，風入臟，腹中如馬鞭者。噓吸短氣咳嗽者。</p>
<h3>耆婆萬病丸</h3>
<p>牛黃　麝香　犀角（一方雲一銖，今各一分）　桑白皮　茯苓　干薑　桂心　當歸　芎芍藥　甘遂　黃芩　蜀椒　細辛　桔梗　巴豆　前胡　紫菀　蒲黃　葶藶　防風（各一分）</p>
<p>蜈蚣（三節）　石蜥蜴　人參（一寸）　朱砂　雄黃　黃連　大戟　芫花　禹余糧　芫青（七枚）</p>
<p>上三十一味，並令精細，牛黃、麝香、犀角、朱砂、雄黃、禹余糧、巴豆別研，余者合搗，三至熱豬韭、骨汁作羹粥　，食之三四頓大良，亦不得全飽。產婦勿服。吐利以後常須閉口少語，於無風處溫床暖室將息。若旅行卒暴無飲，以小水送之為佳。若一歲以下小兒有疾者，令乳母服兩小豆，亦以吐利為度，近病及卒病皆用。多積久疾病即少服，常取微溏利為度。崔氏無黃芩、桑白皮、桔梗、防風，為二十七味。</p>
<p>萬病丸治症開錄如下：卒病欲死。　蠱毒吐血，腹痛如刺。　卒中惡口噤。　五疰鬼刺客忤。　貓鬼。　瘧病未發前一日。　諸有痰飲。　患冷癖。　宿食不消。　症瘕積聚。　拘急，心腹脹滿，心痛。</p>
<p>上氣喘逆，胸滿不得臥。　傷寒時行。　大痢。　疳濕。　水病。　頭痛惡寒。　小便不通。　大便不通。</p>
<p>耳之）。</p>
<p>瘡。　痔瘡。冷瘡積年不瘥者。　癬瘡。　惡刺。　蝮蛇螫。　蠍螫。　蜂螫。　婦人諸疾，胎衣不下。　小兒客忤。　小兒驚癇。　小兒乳不消，心腹脹滿。</p>
<h3>仙人玉壺丸</h3>
<p>雄黃　藜蘆　丹砂　礬石（一作礬石）　巴豆　八角附子（各二兩）</p>
<p>上六味，先搗巴豆三千杵，次內礬石，又搗三千杵，次內藜蘆三千杵，次內附子三千杵，次輒治五百杵。內少蜜，恐藥飛揚。治藥用王相吉日良時，童子齋戒為良。天晴明日，無雲霧，白晝藥成，封密器中，勿泄氣，著清潔處。大人服丸如小豆。欲下病者，宿勿食，平旦服二丸。不知者，以粥飲發之令下。下不止，飲冷水以止之。病在膈上吐，膈下利，或但噫氣即已。若欲漸除，及將服消病者，如麻子大三丸。卒中惡欲死不知人，以酒若湯和二丸，強開口灌喉中。鬼疰病百種不可名，漿水服二丸，日再。</p>
<p>玉壺丸治症開錄如下：男女與鬼交通，歌哭無常。　腹中若有虫，欲鑽脅出，狀急痛，一止一作。　憂恚氣結在胸心，若連噫及咳，胸中刺痛。　心腹切痛及心中熱。　飲、痰飲。　諸疝。　卒上氣，氣但出不入，並逆氣衝喉，胃中暴積聚。　症結堅痞。　積寒熱痞。　食肉不消，腹堅脹。　腹中三虫。　下痢重者。　卒關格，不得大小便，欲死。　瘧已發、未發。　卒霍亂，心腹痛，煩滿吐下，手足逆冷。　寒熱往來。　傷寒敕澀，時氣熱病。　淋漓疲瘦，百節酸疼。　頭卒風腫。</p>
<p>癰疽痤癤，瘰　及欲作　。　鼠　。　中水毒。　齒痛。　耳聾膿血汁出及卒聾。　風目赤或癢，視物漠漠淚出，爛　。　中蠱毒，吐血，腹內如刺。　中蛇蝮諸毒，　犬所咋，狂馬所咋。　婦人產後余疾，及月水不通，往來不時。　婦人胸中苦滯氣，氣息不利，小腹堅急，繞臍絞痛。小兒百病，驚癇、痞塞及有熱。　小兒大腹及中熱惡毒，食物不化，結成積聚。　小兒寒熱，頭痛、身熱及吐　。　小兒羸瘦丁奚不能食，食不化。　欲問人孝，省人病（先服之及系頭上）。　頭上系玉壺丸辟百鬼。　獨宿山澤、塚墓、廟社、叢林之中，燒一丸，百鬼走去。</p>
<p>以蠟和一丸如彈丸，著絳囊系臂，男左女右，山精鬼魅皆畏之。</p>
<h3>千金須知</h3>
<p>中慢驚為陰癇。</p>
<p>緩縱為痱。</p>
<p>淋為癃。</p>
<p>黃為癉。</p>
<p>強直為　。</p>
<p>喘嗽為咳逆。</p>
<p>膈氣為膏肓。</p>
<p>熱死為　。</p>
<p>怔忡為悸。</p>
<p>利為滯下。</p>
<p>臟毒為痢之蠱毒。</p>
<p>腸風為腸滯下血。</p>
<p>咳逆為噦逆。</p>
<p>服金石藥為服石。</p>
<p>度者，量也。</p>
<p>漬者，浸也。</p>
<p>和者，調也。</p>
<p>敷者，涂也。</p>
<p>暴者，晒也。</p>
<p>咀者，秤畢細切也。</p>
<p>三兩者，今之一兩。</p>
<p>三升者，今之一升。</p>
<p>方寸匕者，正方一寸，散子以不落為度。</p>
<p>錢匕者，五銖銅錢上全抄也。</p>
<p>錢五匕者，今五銖錢邊五字者，以抄之令不落為度。</p>
<p>半錢匕者，一錢抄取一邊。</p>
<p>梧桐子大者，以二大豆準之。</p>
<p>刀圭者，如梧桐子大。</p>
<p>一撮者，四刀圭。</p>
<p>如彈丸，如雞子者，十梧桐子準之。</p>
<p>一升者，取平升為正。</p>
<p>一把者，二兩。</p>
<p>草一束者，三兩。</p>
<p>桂一尺者，削去皮半兩。</p>
<p>甘草一尺者，二兩。</p>
<p>蜜一斤者，有七合。</p>
<p>豬膏一斤者，二升二合。</p>
<p>半夏一升者，洗畢五兩。</p>
<p>椒一升者，三兩。</p>
<p>吳茱萸一升者，五兩。</p>
<p>菟絲子一升者，九兩。</p>
<p>子一升者，四兩。</p>
<p>蛇床子一升者，三兩半。</p>
<p>地膚子一升者，四兩。</p>
<p>巴豆以枚計者，去皮心，二分淮豆六枚。</p>
<p>附子、烏頭以枚計者，去皮，半兩淮二枚。</p>
<p>枳實以枚計者，去穰，二分淮二枚。</p>
<p>棗三枚淮一兩。</p>
<p>生薑一累半兩。</p>
