<header><h1>三家醫案合刻</h1></header>
<dl class="元資料" data-type="book">
<div><dt>作者</dt><dd>吳金壽</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1831">公元1831年</data></dd></div>
</dl>
<h2>陸序</h2>
<p>三家醫案者，葉天士布衣，薛生白徵君、繆宜亭進士之所作也。青囊一肩，紫書三卷，壺公待用無遺；牛溲馬勃，收藏不棄。盛以竹節，量以刀圭。赤箭　於云根，紅鹽拂於灶上。明珠恥其價，金鏡慚其形。杏林之樹，以董奉而益珍；橘井之泉，非蘇耽其誰鑿。游刃恢乎，奏刀　然，無枝經肯綮之憂，得批卻導　之要。今雖扁盧已杳，和緩云遙，郭玉之針靡傳，淳意之經失授，而問秘書於金匱，鼠跡猶存，抄禁方於龍宮，蠹蝕未盡，儻不搜之石室，鐫以玉版，則桃膠莫問，金漿遂漓，安能喚三折之肱，起一肱之土，續已斷之琴弦，補久亡之笙詩乎。此鶯湖吳子音先生，所以有合刻之選也。先生以民胞為懷，婆心救世，赤餅胸納，青芝手采，五行精理，六氣辨淫，心源接俞跗之傳意，學探允宗之妙，歲活人以萬計，日捫心無一疵。固已嚴州道上，爭頌桐君。成都市中，惟尋韓伯矣。乃當夫春雨初過，藥苗微香，花拂帘垂，茗熟爐沸，茶煙裊於帳後，硯云起於池中。簟滑甌甘，窗疏幾淨。爰翻玉軸，細檢牙簽。考陰陽之和，按升沉之度，攻必腠理，位必君臣，總思邈之《千金》，資葛洪之萬卷，莫不明折蟲翼，細察蚊睫，著解顱理腦之效，顯滌胃湔腸之能，洵可以壽諸棗梨，觀其草木焉。今天秘術不宣者，庸醫之窄量也；著書行世者，良醫之苦心也。設或篋藏內典，枕貯《靈樞》，竊巫彭之制，而號為己能，抱岐伯之書，而矜為獨得，則春風已歇，蘭草孤芳，抱朴虛傳，簡文空勸。竟沒飛仙之跡，難言妙道之公，乃先生則玉字親編，金針暗度，潛消　，廣被太和，其心可不謂美哉!其利於是乎溥矣。長春少有痼疾，長習微　，藥性粗諳，方書漸熟，命含毫而撰序，遂濡筆而成章。嗟拙陋之無文，恐揄揚之未善，神君活我，醫者原存割股之心，賢士知余，狂夫難療看花之癖。</p>
<p><u>道光辛卯九月既望愚侄烏程陸長春瓣香氏謹撰</u></p>
<h2>姚序</h2>
<p>余奉命視學江左，按臨蘇屬，蘇屬人文淵藪，校士之暇，留心博訪。震澤吳生金壽，以</p>
<p>《三家醫案》，請序於余。三家者，葉天士、薛生曰、繆宜亭三先生也。三先生皆吳中往哲，素聞其治病之神，如磁引針，如鼓應桴。今閱其方案，靈機活潑，議論精醇，誠非學有根源，不克臻此超詣。然非吳生拾遺補缺，匯萃成編，則當日斟今酌古，殊途同歸之理，何由觀其會通?余故心折三先生而並以此多吳生也。吳生博學好古，詩善六法，兼通醫理，為吳郡張容庭入室弟子。容庭者，繼三家而起者也，生於醫固無俟於余言，而余竊有一言為生進者，蓋醫之道，下流為藝，上通於儒。軒岐以來，《內經》、《素問》尚矣。而後賢輩出，代有成書，要其旨，虛實以質異，情性以因感，風氣以變生。所謂窮陰陽升降之微，悉運會轉移之故。五行盡其變，五土異其宜，實足與天地權生息之機，為國家培太平之本，醫之學不亦大哉!余望吳生能近守師承，遠宗前哲，功深養到，實至名歸。有以傳三先生之書，必有以傳三先生之學，則此集其　矢焉耳。故於請序也，書以勖之，並囑其持云容庭，其不以使者之言為河漢否。</p>
<p><u>道光紀元歲次辛巳十月既望，賜進士及第誥授光祿大夫南書房行走戶部左侍郎提督匯蘇　</u></p>
<p>全省學政加三級歸安姚文田撰</p>
<p><u>　</u></p>
<h2>例言</h2>
<p>三家醫案，藏篋有年，校刊醫效秘傳竣事，同人以兩書如豐城寶物，必合延津，慫恿合刻。緣重為補訂，命門人凌又新，侄右　校正，以應同人之命。並略系例言如左。</p>
<p>醫案與醫書，似同實異。書則示人以規矩，故宜分門別類，使後學有一定之準繩；案則因症用方有一方之運用，不致泥古不化，以佐書之不逮。既無定體，奚煩類別，故隨選隨錄之。況案中病情雜見者頗多，本難條分縷析也。</p>
<p>葉氏方案，散播人間者不少，然所存俱當時門診為多，余搜羅二十余年，不下八九百案禊湖毛氏、邱氏本，皆系及門匯存赴診之案。案中議論超邁，立法精到，尤足啟迪後人，故采取獨多於他本。</p>
<p>薛案，余所得郡中朱氏抄存本外，散見者落落晨星。如定武蘭亭不少概見，惟余同裡蓮溪有手抄本，較朱本多十分之四，亟為登入。然終恨存方不多，倘同志君子另有藏本，尚希郵寄補刊，以廣其傳，幸甚。</p>
<p>繆案，乃業師張友樵先生手錄。繆氏專於調補，善用異類有情之品，療治虛勞雜症，頭頭是道，實補前哲所未發。故合纂行世。</p>
<p>是書所錄，僅三家之寸鱗片爪耳。而回春妙手，已見一斑，誠即此觸類而引伸之，於斯道未必無小補云。</p>
<p>續刊書五各，西洋利西泰人身說概，鹽官裴一中言醫，平湖陸秋山瘟疫新編，暨拙著語冰漫錄，閱歷知非，俱已匯稿嗣出。</p>
<p><u>道光辛卯秋八月望日笠澤吳金壽子音氏識</u></p>
<h2>卷一</h2>
<p>粵東地卑多濕，陽氣多泄。宦游十載，恰已五旬。中年二氣，不及壯盛堅固，眩暈汗出，乃陽不潛藏，變化內風，擾動虛靈所致。內經藏象謂腎為根本，左右有二。蓋一陰一陽，互相交紐，水中有火，為生生化育，惟藏畜不露，斯永年無病。而肝為腎子，母氣既衰，水不生木熱起脊背，直至巔頂，清之補之，無效，未究藏陰內乏，陽氣獨升之旨。古人以腎藏內寓真陽，非溫不納；肝臟內寄相火，非清不寧。用藥之法，填實精氣以固其下，佐咸味以達之，兼氣重以鎮之，介類以潛之，酸味以收之，夏入滋清以涼肝。引之導之，浮陽內風，勿令鼓熟地　北五味子　萸肉　磁石　青鹽　瑣陽　龜板　茯神　湘蓮　天門冬豬脊筋搗爛，和蜜丸，熱酒送。</p>
<p>經漏百日，淋帶不止，是衝任督帶奇經諸脈不能固攝，病在下焦，脈左關沉微而緩，右部虛益氣，僅升脾營，焉得藥到病所?滋陰堵塞沉膩與胃衰少穀相背，考古崩漏不止，先用局方震靈丹，直達衝任以固之，繼用人參湯續其生氣，得效，再為進商。</p>
<h3>震靈丹</h3>
<p>診脈百至，數促而芤，勞損數年不復，寒熱，大汗泄越。將及半載，臥枕嗽甚，起坐少穀食大減，大便不實，由下焦損傷衝脈之氣震動，諸脈皆逆。醫投清熱理肺，降氣消痰，益令胃氣戕害。昔越人有下損過脾不治之訓，此寒熱汗出，二氣不交所致。秋半之氣不應，天氣肅降乖離，已見一斑。生陽不發，入冬可慮，急固散越之陽，望其寒熱汗出，稍緩再商。</p>
<p>救逆湯去白朮，加人參。</p>
<p>稚年純陽體質，熱症最多。病偏右胸高，呼氣不利，肺氣不能清肅，熱鬱內蒸，逆傳膻中。</p>
<p>經天君震動，狀若癇症。夫肺主衛，心主營，二氣循環於肺胃脈中，苟營衛失和，越日觸遇乃發。翁仲仁謂扶肚抬胸，為肺熱壅塞。然不及周歲，未受穀食涵養，臟腑柔薄，一切苦寒沉降及膩滯陰藥，俱在禁例。且肺位最高，逆行心胞絡間，仍從上治，抱持勿臥，令上氣下行為順，可使營衛兩和。</p>
<p>薄荷　桑葉　米仁　茯苓　鬱金　淡竹葉　鮮石菖蒲再診西瓜翠衣　鮮枇杷葉　通草　茯苓　生米仁　淡竹葉三診　宿熱未平，秋金燥令亦從天降，致上氣不能全順。症見咳嗽燥逆，議清氣分之熱大沙參　麥冬　花粉　生甘草　桑葉　燈心四診　視面部清竅未能爽適，顯然肺熱未能全解。議進甘寒，仿喻嘉言清燥意。</p>
<p>桑葉　麥冬　梨肉　川貝母　銀花　生甘草五診　伏暑上壅，得宣通而降，頭頭胸次已平，但乳食不能少運，便溏日有數次，思肺降之熱，必移於府。考古幼稚泄瀉，每以四苓為主方，不越分利和中之意。</p>
<p>四苓加廣皮、木瓜、生穀芽據述產育頻多，產後兩年，經水至今未來，此為病根，已屬下元陰虧。長夏初患泄瀉，必天雨地濕，潮霧穢濁氣，由口鼻吸受，原非發散消攻可去。只因體質甚薄，致穢濁蔓延，充在三焦，上則咳痰不飢，下則二便澀少，非表有風寒，故無寒熱見症。然氣分壅塞，津化濁痰，入夜渴飲，胃汁消乏，求助於水，是本虛標實之病。夫肺位最高，與大腸相表裡，清肅不行，小便不利矣。</p>
<p>蘆根　米仁　通草　茯苓　桑葉　西瓜　翠衣沖入白蔻末。</p>
<p>再診　前議虛不受補，皆因夏令伏邪著於氣分。夫肺氣一身之氣，既因氣阻清肅不行，諸經不能流暢，三焦悉被其蒙。前言攻邪不效，蓋客邪由吸而受，與風寒感冒不同，乃氤氳虛空，聚則為殃耳。故取淡滲無味氣薄之品，僅通其上，勿動中下，俾虛無傷，伏氣可去，稍佐辛香，非燥也，仿辟穢之義。</p>
<p>經霜桑葉　鮮枇杷葉　茯苓　蔻仁　米仁　蘆根脈小右弦，呼吸不利，喉中有聲，入夜神迷昏倦，少腹微脹，二便不爽，自言筋骨如針刺，身重難以轉側，右環跳筋，縱不能伸屈。此皆暴寒內入，周行上下，陽氣痹塞，且頻年交冬痰嗽，天暖自安，老年腎真衰乏，少藏納之司，水液化痰上泛，寒中少陰，則太陽膀胱之氣，無以上承，而流通宣化，開合失度，樞機悉阻，濁氣升痰飲逆，最忌喘急神昏。若用發散墜降，恐致傷陽劫陰。議進仲景小青龍法，乃太陽表中之裡，通營衛不耗其陽，開痰飲不泄其氣，仍有收肺逆通膀胱之義。</p>
<h3>小青龍湯</h3>
<p>驚目外觸，恐自內起。內經論驚必傷肝，恐則傷腎。丹溪謂上升之氣，多從肝出，謂厥陽暴升莫制，則氣塞於上，陰不上承，即天地不能交泰，而為痞塞。至於夢擾筋縮，乃精氣不能護神，神無所依，用藥當鎮其怯，益其虛，漸引道以致二氣之交合。是為醫之能事。</p>
<h3>妙香散</h3>
<p>尾閭尻骨先痛，繼以溲溺淋閉，兼有瘀血。夫督脈部位，隸於太陽脈絡，氣墜頻溺，點滴不爽，分利清熱愈痛。古賢每以軟劑溫藥，升任督之氣。按經旨以治病，諒無誤矣。</p>
<p>鹿茸　當歸頭　淡蓯蓉　巴戟　枸杞　沙蒺藜脘下脹及少腹，疏肝平胃，不應腎氣，加辛香又不應，食物仍進，二便仍利。病既非停著有形之滯，自屬陽微氣結，議與通陽潤劑。</p>
<p>阿魏　麝香丸服。</p>
<p>新產不滿百日，天暑汗出氣泄，加以澡浴湯蒸，更助開發，陽浮左升，陰弱莫制，遂喉癢咳逆，牽連左脅及氣街背部皆痛。蓋產後肝血未充，腎液未足，奇經諸脈，悉皆怯弱。陰虧陽熾，血不能榮養筋脈，法當味濃質靜，流護至陰之藏，兼溫養奇經。</p>
<h3>仿仲聖阿膠雞子黃湯</h3>
<p>阿膠　生地　雞子黃　白芍　豆皮　石決明再診　考足厥陰肝經，過胃貫膈上，循喉嚨，因肝陰少藏陽氣，有升無降，每交暮夜，咳甚如噦。戌亥乃肝陰旺時，肝陽擾胃，則陽明脈衰，四肢倦怠，面色青晦，陽化內風，掀越鼓動，為肌浮偏腫，心無液養，似嘈非嘈，似痛非痛，熱釀涎沫，吐出復聚。余不以咳嗽為治，急於流護至陰靜，制風陽內鼓，夜分更以胃藥助之。</p>
<p>午服雞子黃　白芍　枸杞子　阿膠　甘草　炙草暮服人參　南棗　秋石據述久有胃痛，當年因痛吐蛔，服資生丸，消補相投，用八味丸，溫潤不合。憑脈論症，向時隨發隨愈，今病發一月，痛止不納，口味酸濁，假寐未久，忽躁熱頭汗淋漓，口不渴飲。凡肝病必犯胃府，且攻滌寒熱等藥，必先入胃以分，布藥不對，病更傷胃氣。胃司九竅，清濁既亂於中，焉有下行為順之理。上下不宣，狀如關格，但關格乃陰枯陽結，聖賢尤以為難。今是胃傷困乏，清陽不司旋運，斯為異歧，不必以寒之不應而投熱。但主傷在無形，必圖清氣宣通，則為善治程法。《金匱》大半夏湯。</p>
<h3>大半夏湯</h3>
<p>診脈左數微弦，寸尺關虛數。閱五年前病原，左脅映背脹痛，不能臥席，曾吐瘀血，凝塊紫人身之吐出水沫，合乎經旨肝病吐涎沫矣。肝木必犯胃土，納穀最少，而肢軟少力，非嗽藥可以愈病。此皆肝陽逆乘，實系肝陰不足。仲聖云：見肝之病，先理脾胃，俾土濃不為木克。原有生金功能，據述凡食雞子，病必加劇，則知呆滯凝澀之藥，皆與病體未合。</p>
<p>北沙參　生扁豆　麥冬　玉竹　桑葉　生甘草　蔗漿病已十余日，身尚躁熱，舌苔黏膩，神呆目定，脈剛而數，煩躁囈語。此暑濕久伏，與時氣蛔厥上冒。然內經有濕位之下，燥氣乘之，是以從之濕轉為燥。若無濕痰之潮氣上蒸，舌苔早已燥刺矣。今先滋液以潔烈焰之燔。</p>
<p>鮮生地　麥冬　烏梅　蔗漿　銀花露　羚羊角　蚌水再診　面垢舌白，渴飲，氣短如喘，自利，是穢濁氣入口鼻，與水穀之氣互相混擾，濕氣阻窒，氤氳內蒸，三焦皆受。胸背肢節有晦黯斑紋，穢與氣血膠固，心終為邪熏灼，神昏囈語，手石菖蒲汁　白蔻仁　犀尖　小青皮　連翹心　金銀花　六一散　金汁　至寶丹三診　邪陷復利，傷及厥陰。症見氣上撞心，飢不能食，乾嘔腹痛，全是肝病見端。為至陰之藏，相火內寄，仲聖治法，不用純剛之劑，以肝為剛藏也。令正交土旺之時，水火為仇，五日內未為穩當，宜慎之。</p>
<p>人參　淡吳萸　當歸　白芍　秦皮　炒烏梅脈沉而微，沉為裡寒，微為無陽，舌白似粉，瀉起口渴，身體臥著，其痛甚厲。交夏陰氣在內，凡陰邪盤踞，必以陽藥通之歸、地列於四物湯。護持血液，雖佐熱劑，反與陰邪樹幟。當以純剛藥，直走濁陰凝結之處調攝，非片言可盡也。</p>
<p>川附子　黑川烏　吳茱萸　乾薑　豬膽汁再診　陰寒盤踞少腹，非純陽剛劑，直入堅冰之地，陰凝不解。此如亞夫之師，從天而降也。醫易腎氣湯，陰多陽少，立見病加，反至不食，藥不對症。仿通脈四逆湯法。</p>
<p>附子、乾薑、豬膽汁五旬有四，陽氣日薄，陽明脈絡空乏，不能束筋骨，以流利機關，肩痛肢麻，頭目如蒙動痿弱無力。此下虛上實，絡熱內風沸起。當入夏，陽升為甚，滲濕利痰，必不應病。議清犀角　鮮生地　元參　連翹　桑葉　丹皮　天麻　鉤藤下體痿　，先有遺泄，濕瘍，頻進滲利，陰陽更傷，雖有參、　、朮養脾肺以益氣，未能救下。即如長冷陽微，飯後吐食，乃胃陽頓衰，應乎衛外失職。但下焦之病，都屬精血受傷，兩投溫通柔劑，以腎惡燥，久病宜通任督。通攝兼施，亦與古賢四斤健步諸法互參。至於胃藥必須另用。夫胃府主乎氣，氣得下行為順，東垣有升陽益胃之條，似乎相悖。然芩、連非苦降之氣乎。凡吐後一二日，停止下焦血分，藥即用扶陽理胃。二日俾中下兩固，經旨謂陽明之脈，束筋骨以流利機關，本病即有合矣。</p>
<p>鹿茸　歸身　柏子霜　茯苓　蓯蓉　巴戟　補骨脂　川石斛　牛膝　枸杞子吐後間服大半夏湯，加乾薑、薑汁。</p>
<p>再診長夏濕熱，經脈流行氣鈍，兼以下元絡脈已虛，痿弱不耐步趨，常似酸楚。大便或溏，都屬肝腎為病，然益下必佐宣通脈絡，乃正治之法。恐夏季後濕熱還擾，預為防理。</p>
<p>鹿角霜　生茅朮　茯苓　蓯蓉　歸身　熟地　桑椹子　巴戟　遠志　茴香　酒蒸金　毛</p>
<h3>水熬膏</h3>
<p>三診　痿　在下，肝腎居多，但素飲必有濕熱，熱瘀濕滯，氣血不行，筋縮，肌肉不仁質重著不移，無非濕邪之深沉也。若論陽虛不該大發瘡痍，但病久非可速攻，莫計效遲，細生地　歸身　黃柏　萆　蓯蓉　川斛　牛膝　蒺藜四診　寢食如常，脈沉而緩，獨兩腿內外肉脫麻木，年逾五旬，陽脈漸衰，蹺維不為用事，非三氣雜感也。溫通以佐脈絡之流暢，仿古聖四斤金剛之屬。</p>
<p>蓯蓉　牛膝　茯苓　萆　木瓜　枸杞子　蒺藜　金毛狗脊膏丸經云：煩勞則張，精絕，辟積於夏，令人煎厥。夫勞動陽氣弛張，則精氣不充，留戀其陽，益腎，使肝膽相火不致暴起，宣風靜熄，不為暈厥。然必薄味靜養為穩。</p>
<p>細生地　連翹　知母　元參　生白芍　竹葉腎厥，由腰脊而升，發時手足逆冷，口吐涎沫，喉如刀刺。蓋足少陰經脈，上循喉嚨，挾舌本，陰濁自下犯上，必循經而至。仿許學士　椒附湯，通陽以泄濁陰為主。</p>
<p>炮附子　淡乾薑　葫蘆巴　川椒　半夏　茯苓</p>
<h3>薑汁泛丸</h3>
<p>臍上心下熱熾，咽喉間陳腐氣遂神昏撲厥。經時汗出而醒，口涌血沫，乃膻中熱壅，以致心竅受蒙。若非芳香清透，不能宣通絡中瘀痹。</p>
<p>犀角　茯神　天竺黃　麝香　丹參　菖蒲　鬱金　冰片各生研末，赤豆皮煎湯泛丸，竹葉湯送。</p>
<p>暑由上受，先入肺絡，日期漸多，氣分熱邪，逆傳入營，遂逼入心胞絡中，神迷欲躁，舌音短縮，手足牽引，乃暑熱流陷，勢將發痙。熱閉在裡，肢體反不發熱，熱邪內閉外脫，豈非至犀尖　鮮生地　元參　銀花　石菖蒲化至寶丹向來久咳傷肺，更值雨潮感邪，但熱不寒，是為癉瘧。仲聖云：消爍肌肉，當以飲食消息之。在乎救胃以涵肺，醫知是理否。</p>
<p>竹葉　麥冬　連翹　甘草　梨皮　青蔗汁瘧得汗不解，近來竟夜汗出，且胸痞不飢，形瘦脈大便秘，顯然陰虛體質。瘧邪爍液，致清陽痞結脘中。議以柔劑，存陰卻邪。</p>
<p>竹卷心　辰砂益元散　生地　麥冬　知母脾經瘧邪，必由四末擾中，仲景論太陰經九條，深戒攻下。謂脾為孤藏，體陰而用陽，喜暖而惡寒，不飢痞脹，噯氣，陽傷則運動無權，滯濁彌漫矣。昔賢制方，陽傷取藥之氣，陰傷取藥之味，奈何不究病之陰陽，不分藥之氣味，便窒則攻下，痞悶則開泄。藥不對病，脾胃受傷，數年沉痼，如脾胃論莫詳於東垣，苟能玩讀，焉有此等混治?炒半夏　淡吳萸　生益智　蓽茇　乾薑　茯苓苦辛過服，大瀉心陽，心虛熱收於裡，三瘧之來，心神迷惑，久延恐成痼症。考諸《金匱》、仲景每以蜀漆散為牡瘧治法。</p>
<p>雲母石　蜀漆　生龍骨為末，開水調服二錢。</p>
<p>下焦精虧，瘧邪遂入少陰，當其發作從背起，乃太陽與少陰表裡相應也。陰邪得汗不解，托邪固是，但氣易泄，薑、附純剛，又恐劫陰矣。</p>
<p>人參　鹿茸　桂枝　細辛　杞子炭　歸身炭　生薑脈微而遲，色衰萎黃。凡陽氣不足，久利久瀉，窮必傷腎。今浮腫漸起，目下是水失火而敗。若非暖下，徒見泄瀉有紅，為脾胃濕熱，必至中滿敗壞。</p>
<p>熟地炭　淡附子　茯苓　車前子　生茅朮　乾薑脈左弦右浮澀，始由脘痛貫脅，繼則腹大高凸，納食減少，二便艱澀不爽，此乃有年操縈慮太甚。肝木拂鬱，脾土自困，清濁混淆，脹勢乃成。蓋藏真日漓，府陽不運。考古治脹名家，以通陽為務，若滋陰柔藥，微加桂、附，凝陰　濁，豈是良法。議用局方禹餘糧丸，暖其水藏，攻其穢濁。俟其小效，兼進通陽剛補，是為虛症內傷脹滿治法。至於攻瀉動奪，都為有形而設，與氣傷之病不同也。</p>
<h3>禹餘糧丸</h3>
<p>脈緩弱，脘中痛脹，嘔涌清涎，是脾胃陽微。得之積勞，午後病甚，陽不用事也。大凡脾陽宜通則運，溫補極是。而守中乃膩滯，皆非通府，勿佐用之。</p>
<p>人參　半夏　淡乾薑　生益智　茯苓　生薑汁大便不通，間服半硫丸五分。</p>
<p>痔血久下，肌肉萎黃，乃血脫氣餒，漸加喘促浮腫，再延腹脹，二便不通。此症藏陰有寒，府陽有熱。詳於《金匱》穀疸篇中，極難調治。</p>
<p>人參　白朮　茯苓　智仁　菟絲　木瓜　廣皮經營不遂，情懷拂鬱，少火化為壯火，風木挾陽上巔，眩暈不寐，是陽不入陰，非陰虛症也。如果純虛，豈有由春及秋，仍能納食驅馳。今忽然中脘噎阻，由藥傷胃口，致胃陽上逆使然。溫膽東加減之。</p>
<p>陳皮　茯苓　丹皮　梔皮　半夏　枳實　桑葉　竹茹濕溫長夏最多，濕熱鬱蒸之氣，由口鼻而入，上焦先病，漸布中下，河間所謂三焦病也與風寒食積迥異。仲景云：濕家不可發汗，汗之則痙。濕本陰邪，其中人也則傷陽，汗則陽易泄越，而邪留不解。濕蒸熱鬱，發現為黃，熏蒸氣墜之間，正如罨曲之比。斯時病全在氣分，連翹赤小豆湯可以奏效。今經一月，邪彌三焦，自耳前後左腫及右，癰瘍大發。夫癰者壅也，不惟氣滯，血亦阻塞，蒸而為膿，穀食不思，陡然肉消殆盡，胃氣索然矣。商治之法，補則助壅，清則垂脫，前輩成法，一無可遵，因思濕熱穢濁結於頭面清竅，議輕可去實之法，選芳香氣味，使胃無所苦，或者壅遏得宜，少進漿粥，便是進步。經云：從上病者治其上。《靈樞》云：上焦如霧，非輕揚芳香之氣，何以開之?青菊葉　荷葉邊　金銀花　象貝母　綠豆皮　馬兜鈴　連翹　射干煎好，露一宿，臨服加金汁一小杯。</p>
<p>身腴，體質適值過勞，陽氣受傷，嘔吐食物，身熱而無頭痛。已非外感風寒。間日煩躁渴飲，唇焦舌黑。是內伏熱氣。由募原以流布三焦，亦如瘧邪之分爭營衛者然。然積勞既久，伏邪客病，脈來小緩，按之不鼓，可為征驗。且兩便頗通，略能納穀，焉有停聚積滯?仲景以單熱無寒之症，不出方藥，但以飲食消息之。後賢參擬甘寒滋養胃陰，其熱自解。</p>
<p>竹葉　花粉　麥冬　連翹　生地　杏仁　蔗漿寅卯少陽內動，絡中血溢，寒熱嘔逆，驟然泄瀉，不能左臥。蓋陽木必犯陰土，膽汁無藏，少寐多寤，土藏被克，食減無味。宜補土疏木。</p>
<p>人參　山藥　炙草　白朮　扁豆　丹皮虛損泄瀉，用異功理中，乃補脾胃以煦其陽氣方法。無如失血遺精，金水久虧，陰乏上承，咽痛失音，而瀉仍不已。長夏吸受暑濕之氣，與身中浮越之氣，互為鬱蒸，遂起疳蝕。氣阻則妨食，是勞損為本，而雜以暑濕，純補決不應病，與輕淡氣薄之劑，先清上焦，後議補益。</p>
<p>蘆根　馬兜鈴　通草　米仁　滑石　西瓜翠衣瘦人陰虛，熱邪易入於陰，病後遺精，皆陰弱不主固攝也。泄瀉在夏秋間，是暑濕內侵，其者。近代名賢，訛傳陰症，傷人比比。總之遺泄陰虧，與利後陰傷，均非剛劑所宜，當擬柔剛以人參　山藥　川斛　芡實　茯苓　生地炭七年沉痼，心惕熱迷，切牙嚼舌，陰火失守，陽乃鴟張。前方理厥陰陽明，以和陽主治，繼方以咸味純陰，填水源以生木。病究竟未能卻，自述每每遺泄，其病隨發。春夏兩時三合。精遺則腎液少，操勞則膽汁虧，欲望春陽不動，安可得耶?熟地　肉蓯蓉　五味子　龍骨　茯苓　左牡蠣　石菖蒲　遠志　川斛　山萸肉脈弦數右大，舌絳色，面微浮，咳嘔上逆，心中熱，腹中氣撐，臥側著右，暮夜內外皆熱。自五月起病，百日不曉飢飽，病因憂愁嗔怒而起。諸氣交逆。少火化為壯火，煩熱不熄　，液皆涸，內風煽動，亦屬陽化。見症肝病，十之八九。秋金主候，木尚不和，日潮加劇，病屬郁勞，難以久延。議鹹苦清養厥陰之陰以和陽。</p>
<p>阿膠　川連　生地　糯米　白芍，雞子黃再診，脈百至，右弦數，左細數。寒熱無汗，渴飲嘔逆，病中咯血，經水反多。邪熱入迫血妄行。平日奇經多病，已屬內虛，故邪乘虛陷，竟屬厥陰之熱熾以犯陽明。故為嘔為悶，不食，目胞紫暗羞明，咽中窒塞頭痛。四厥陰熱邪通胃貫膈，上及面目諸竅，先寒後熱，飢不能食，消渴，氣上衝心，嘔噦。仲景皆例厥陰篇中，此伏邪在至陰之中，必熬至枯涸而後已。表之則傷陽，攻之則劫陰，惟咸味直走陰分，參入苦寒，以清伏熱。清邪之中，仍護陰氣，俾邪退一分，便存得一分之陰，望其少蘇。</p>
<p>阿膠　雞子黃　生地　白芍　黃連　黃柏右脈平和，左寸關弦動甚銳，面色帶赤，體質清　，得木火之形，稟多動之性，加以操持煩慮，五志之陽，無有不熾，宜乎寤多寐少，內風不熄，眩暈自生。經云：陽氣下入陰中，陰滿乃得寐。謀慮不決，則火動陰傷，肝陽獨行，乏陰和協而魂不藏，則寐不安。總以益陰和陽為主治，議加味補心丹，兼和肝陽。</p>
<p>人參　生地　元參　桔梗　川連　茯神　天冬　丹參　棗仁　遠志　羚羊角　琥珀　麥冬白芍　柏仁　石菖蒲煉蜜丸五日前脹滿已在脘間，兼中下寒冷不暖，議參、附、川烏驅陰寒之氣凝結，非補虛方也。十主通陽極妙。若得陽氣通調，何患水濕不去。</p>
<p>人參　熟川附子　大茴香　生淡乾薑　茯苓　川楝子　川椒和入童便杯許。</p>
<p>脈弦數，腹膨便泄，目自淚出，經來身體掣痛，今秋冬兩月不至。據說兩年患病，醫藥不效干血偏滯，非徒補可以治病。議厥陰陽明同治，酸苦泄熱為先，和補胃氣為佐。</p>
<p>吳茱萸　川連　胡連　川楝子　烏梅　人參　白芍　延胡索　雲苓　香附　南棗益母草膏同烏梅肉搗丸。</p>
<p>痰飲乃濁陰所化，阻遏陽氣，不入於陰，陰蹺空，夜不熟寐，《靈樞經》用半夏秫米湯，謂通陽交陰，飲邪不聚，天王補心丹一派寒涼陰藥，與濁陰樹幟。中年必以護陽為要，即《金匱》所云必以溫藥和之也。</p>
<p>半夏　秫術　茯苓少年面色青黃，脈小無神，自幼頻有嘔吐之症，明是飲食寒暄不調，以致中氣不足，咳嗽非外感，不宜疏泄，小建中湯主之。</p>
<h3>小建中湯</h3>
<p>氣鬱單脹，中空無物，臥則氣塞，濁飲上衝，漸有不得安臥之象。問其起病之由，多是惱怒，上咳氣逆欲喘，脘中蘊熱，咳出膿血。病根固在肝脾，今已傳及肺部。丹溪曰：養金制木。脾無賊邪之害，滋水制火，肺得清化之權，目下至要務在順氣。胸中開爽，寢食不廢，便可從容論治。不然春分節近，更屬難調矣。先用宣通上焦法。</p>
<p>紫菀　杏仁　蔞皮　鬱金　厚朴　大腹皮　桑皮　茯苓皮　黑山梔兩劑後，早服腎氣丸，晚服四君子湯。</p>
<p>陰氣先傷，陽氣獨發，但熱無寒，是為癉瘧。舌乾渴飲，咳嗽，暑邪尚在肺胃。如飢不嗜食，乃熱邪不殺穀也。先用玉女煎，存陰消暑和肺胃。</p>
<p>玉女煎再診原方去牛膝，加竹卷心。</p>
<p>任脈、督脈，分行乎身之前後，自覺熱蒸，不夢自遺，皆奇經虛也。辛濕藥頗效。六味加五味子不應，方藥僅僅達下，未能約束奇經，議用聚精固攝之法。</p>
<p>桑螵蛸　龜板　芡實　沙蒺藜　線魚膠　胡連　龍骨　金櫻子　覆盆子產後陰虛陽實，熱易拂鬱，近日客邪，乃冬應寒而反溫，凡羌活辛溫，柴胡擾動肝血，皆屬禁忌。謂陽明未復，再動衝陽耳。惡露變成腥水，亦是熱犯肝陰之極，液不養筋，內風必動，致面腫身痛，消渴嘔逆，自利暮熱汗多，全是肝胃受病。諸厥皆隸厥陰，嘔不能食，厥陰之治以鎮逆，佐以酸苦，泄熱調經。</p>
<p>牡蠣　烏梅　黃芩　茯芩皮　川連　鬱金　秦皮　炒山楂經以腎司二便，若腎無藏液，下竅氣不運化，腸中即不能通水液之燥。水火吸消為多，議知桂化肝風以制木，是為穩當方法。</p>
<p>黃柏　知母　龜甲　肉蓯蓉　人中白　肉桂蜜丸望色痿黃少膏澤，按脈弦促而芤，納穀不旺，病已數年，每春夏陽升氣泄，偶加煩冗，情志不適，血必溢出上竅，中氣非少壯陰火相同。夫心主血，脾統血，肝藏血。藏陰內虛，陽動乃溢，常服歸脾湯，去　、朮、木香，加白芍，以和肝脾之陰，所謂王道養正善藥，不計驟人參　茯神　炙草　歸身　白芍　棗仁　遠志　桂圓肉背痛得按摩愈痛，吐涎沫，短氣腹滿，小腹堅，小便不通，大便自利，下體麻木，不得移動，不食不寐，煩則汗出，病機多端。無縷治成法。思冷濁竊踞。陽微不行，為痞塞之象。</p>
<p>二氣既乖，豈可忽略。引仲景少陰例，急進通陽為要。議用白通加人尿豬膽汁湯。</p>
<p>去須蔥白　生淡乾薑　生炮附子上藥用水一盞，煎至四分，濾清，加人尿一小杯，豬膽汁一枚，頻頻調和，勿令其沉於藥底。</p>
<p>再診　濁陰蔽塞，舍通陽再無別法。服白通加人尿豬膽汁湯，脈不微續，仍三五參差。</p>
<p>尚非穩保，議用四逆通脈方。</p>
<p>人參　淡乾薑　人尿　炮附子　豬膽汁三診　症象稍減，但少腹濁陰尚踞，胃氣不蘇，猶慮反復。</p>
<p>人參　生淡乾薑　炮附子　茯苓　澤瀉四診　誤用攻表傷陽，致陰邪濁氣結閉於下，少腹堅痛，二便阻澀，濁上干，逆則嘔。</p>
<p>非溫熱佐以鹹苦寒，何以直達下焦。</p>
<p>炮附子　淡乾薑　人尿　豬膽汁　蔥白頭凡瘧久邪結，必成瘧母，其邪深客於陰絡，道路深遠，肌膚無汗，能食不運，便溺通調。病不在腑，從腹下升逆，貫及兩脅腰中，推及八脈中，病理固有之。然立方無據捉摸，憶讀仲景轉旋下焦痹阻，例以通陽。</p>
<h3>苓薑朮桂湯</h3>
<p>精未充而先泄，異日必有難狀之疾，此南齊褚尚書之言。夫精氣所以護神，既受損傷，神形衰怯，數年不得充旺，議雙補脾腎，略用通絡，舍此竟無別法。</p>
<p>黑地黃丸。痛發時用阿魏丸。</p>
<p>宿症脘脹，似乎氣滯，從小產後失調，病起三年不愈。病傷日虛，不思納穀，經候如常，及立夏小滿，經候不來，食下即吐，湯飲下咽，脘中脹痹，腹滿臍突，大便旬余始解。始而畏寒，今漸怕熱，嘔吐，先出有形之物，繼以痰涎白沫，味必酸濁。參諸經旨，全是足厥陰肝經受病，陽化內風，乘犯陽明胃土，胃不主乎順趨達腸，遂成反胃之症。治宜理肝木以安土。但氣逆沸騰，陽藥不能下膈，勢必隨涌，議分治方法於下。</p>
<p>左金丸鹽水煮，蒸餅和丸。</p>
<p>左金平肝，苦辛氣味，尤慮下行未速，加鹽味令其下行，宗《內經》本草鹹苦之味入陰厥，陽濁氣退避，胃乏中流砥柱，熱勢風陽再逆。議坐鎮中宮木火，庶不乘土。服左金丸逾二時，繼用針頭、代赭石、化州橘紅，飯和丸，煎大半夏湯，加薑汁送下。</p>
<p>再診　昔人云：吐中有散，謂多嘔多吐，諸氣升騰而散。《內經》以陽明經脈主束筋骨，以利機關。今為厥陰風木久侵，中虛困窮，清空潰散，致濁蒙蟠聚，不徒胸腹脹滿，腰痹肌膜，亦令浮腫。左金瀉肝止嘔吐，謂肝家郁勃上衝，大苦寒降其逆，大辛熱泄其氣。丹溪制方之義，以相火內寄於肝膽，上升之氣，皆從肝出。氣有餘便是火。此非有餘，因數日不食，陽明胃土傷疲已極，中無砥柱，木橫濁攻。歷考治脹諸賢，河間分消三焦，戴人必攻六腑，此皆有餘治法。今乃虛症，若呆鈍補陽，適助其脹。議通陽明兼泄厥陰法。</p>
<p>人參　川楝子　延胡索　麻仁　茯苓　茺蔚子時刻精遺，少腹脹滿，皆腎不收納。咽喉微干，火升及面，由陰不上承，虛陽浮越。上年用純陰靜藥即瀉，下損及中，今當固下。</p>
<p>熟地　山藥　茯苓　北五味　人參　芡實　湘蓮人乳粉同河車、金櫻二膏為丸。</p>
<p>眼胞上下脾腎之脈，循行倦於開閣太陰脾脈已鈍，甘補多用為宜。</p>
<p>蒸於朮　枸杞子　桂圓肉　歸身　黃　炙草脈弦右大，弦則為飲，大則胃陽已虛。緣操持縈思，積勞陽傷，致不飢不食，勉納食物，嗔怒，兼以夜臥不安，多寤少寐，恍惚中心懊　，忽爾腹鳴氣震，四肢筋骱，痿弱無力，起病時晨必寒痙，足跗微冷。按是脈症有年，陽虛為本，而痰飲氣逆，因虛而聚。夫虛則生寒，實則生熱。寢食不安，將及半載，已交四之氣中，長夏濕土乘侮脾胃，慮及肌腫腹脹，故周身束筋利機，陽明胃脈是積。閱醫藥氣血淆混，寒熱互投，不以陰陽偏著調理，宜乎不應。議通補理胃陽為主，疏肝為輔，氣宣陽蘇，何慮痰濁之蒙昧。以茯苓飲法減術，合薛氏星附六君子意。</p>
<p>人參　茯苓　香附　蘇梗　白附　半夏　薑汁　陳皮舌白不大渴，寒戰復熱，神躁欲昏，心胸飽悶更甚。瘧系客邪，先由四末以及中宮，咳痰嘔逆，是邪干肺胃，體虛邪聚，閉塞不通。故神昏煩悶，鬱蒸汗泄，得以漸解，營衛之邪未清，寒熱蔓延無已。此和補未必中款，按經設法為宜。</p>
<p>白蔻仁　黃芩　半夏　竹葉　薏苡仁　薑汁治目疾無非辛散寒苦，遂致精滑淋濁。夫陽虛則生外寒，陰虛則生內熱。精氣皆虧，神志孤獨，夢魂紛擾，驚惕恐懼，而無以自主。法當固攝腎關，養心寧神，鎮怯理虛，漸次夜視反聽，十分調護，方可治療。</p>
<h3>桑螵蛸散</h3>
<p>舌色白晦，脈得右大，來去不整，左部小促，耳聾，身熱不寐，語言謇澀，非是少陽傷寒，良由小產。陰氣不復，惕氣上冒，恐有牽搐暴厥之憂，勿以輕淺視之。</p>
<p>生地　阿膠　丹皮　麥冬　白芍　蔗漿再診前方去白芍，加元參、羚羊角。</p>
<p>遺由精竅，淋由溺竅。異出同門，最宜分別。久遺不愈，是精關不攝為虛，但點滴痛癢，少腹，膀胱撐滿，遂致堅滿耳。五苓散主治。</p>
<h3>五苓散</h3>
<p>秋暑失血，初春再發，脈右大能納食。金匱云：男子脈大為勞，極虛亦為勞。要知脈大為勞，是煩勞傷氣，脈虛為勞，是情欲致損，安靜一年可愈。</p>
<p>黃　北沙參　南棗　白芨　炙草　薏苡仁咳嗽從肺治者，以外邪必由皮毛而入，內合乎肺。然六氣皆令火化散之，未解清之潤之即愈。若內因之嗽，由別經干連及肺，當明其因，徒治肺無益。夫腎為先天，坎中真陽，內藏而主，封蟄奇經，得司其間，衝陽由前直起。且少陰脈循喉嚨，挾舌本，陰乏上承，陽獨自灼，故陰上陽下則壽，反則死。八味丸陰中之陽，似乎有理，然肉消形瘦，桂、附仍屬剛燥，宜以青鹽引入下元，斯為合法。</p>
<p>鹿角膠　鹿角霜　熟地　菟餅　白茯苓　青鹽　補骨脂　柏子仁住居臨海，風瘴癘氣，侵入腦髓骨骱，氣血不和，壅遏內蒸，頭面清陽痹阻，久則邪正混處其間，草木不能見效，當以蟲蟻疏通逐邪。</p>
<p>蜣螂　蜂房　川芎　威靈仙火酒飛面為丸。</p>
<p>由夏季目黃神倦，漸至中焦脹滿，延至霜降，上吐瘀血，下便污濁。按脈弱細不調，視色神采不振，兼以呼吸帶喘，素有寒疾氣逆，其宿飲之畜，已非一日，當夏三月脾胃主令，天氣熱，地氣升，人身氣泄，加以飢飽勞役，而遂減食脹滿，是皆病於中綿延上下矣。夫六府以通以宣通為法，而有陰陽之殊，後之攻劫宣通如神佑舟車禹功等方，值此久病淹淹，何敢輕試?議以專通三焦之陽氣，驅其錮蔽之濁陰，溫補兼進，若不陽氣漸蘇，難以擬投。引用忡景去須蔥白(四枚)　乾薑(切片，鹽水泡二十余次，去辣味，三錢)　豬膽汁(十匙)　淡附子(去皮臍，再用包火煨，一錢)再診　脈神如昨，胸滿脹更急，不思納食，鼻尖冷甚，熱汗出，自吐瘀便垢，至今神衰。古人謂上下交征，當理其中，但陽微濁僭，格拒不通，理中守劑，不能理煩治劇，此護陽通陽，仍參苦寒，俾濁陰泄得一分，其陽復得一分，安穀之理在焉，不及縷述。</p>
<p>前方去蔥白，加人參三錢。</p>
<p>前用生津養陰，已得咳停熱退，可以漸入佳境，不虞發熱較甚，三晝夜不減，口渴不飢。蓋體弱肌疏，邪易侵襲，郁遏不宣，蒸燎如焚，質系金虛火旺。今遇炎威酷烈，相火風煽，暑熱外侵，交相爍液，必致煎熬枯涸，欲進苦寒，奈虛火不堪直折，且慮徒傷胃氣，議用海藏神術法，上解三陽，下安太陰。</p>
<p>白朮　梨汁　防風　麥冬　甘草酒客淋濁，必系濕熱之邪，著於氣分，故五苓八正，俱用通利。病數年不愈，必由情欲致傷敗精血阻於內竅，溺與精異路同門。莖中因精腐阻居多，必通敗精，一定之理。</p>
<p>杜牛膝一兩五錢。搗汁沖入麝香三分。</p>
<p>痰飲留伏而發最詳。《金匱》、《玉函》、仲景，必分內外。以內飲治腎，外飲治脾。</p>
<p>更出都氣丸，加坎　、胡桃。</p>
<p>經來漸遲，色淡而少，當期必暮夜，腹痛　脹，腰髀酸楚，經絡牽掣少舒，脈數，右小左大溢，用藥須擇入奇經者為宜。血海固陽明隸屬奇經肝腎為多，議兩和氣血宣通奇脈方。</p>
<p>當歸　茺蔚子　生香附　小茴香　焦麥芽　大黑豆皮調入西琥珀末一錢。</p>
<p>面腫氣喘，咳嗆不止，音漸啞，酒客久蓄之濕熱，必上熏及肺，為腫為喘，聲音閉塞。按《內經》濕淫於內，治以淡滲，佐以苦溫。</p>
<p>蘆根　薏苡仁　滑石　赤苓　杏仁　厚朴寒入厥陰之脈，結為氣疝，痛則脹升氣消，絕無蹤跡。老年下元已虧，不可破氣攻疝，尿管痛或阻溺，溫養下元，佐以通竅。</p>
<p>鹿茸　麝香　韭菜子　蛇床子　茴香　歸身　青鹽　覆盆子肝腎精血交虧，陽氣不肯潛伏，陽升面赤戴陽，陽墜精關不固，時令冬失潛藏，陽生陽動病加，靜處山林，勿預家務。迎夏至一陰來復，必有好音，倘然卻藥，心境操持，與身病無益水制熟地　瑣陽　元武板　茯苓　線魚膠　遠志炭宿瘕在脅下，亦與肥氣相類，自述因嗔怒，蓋肝之積也。久郁氣血不通，肝藏內寄相火，時當夏令泛潮苦雨，脾胃受濕，自必困倦，肝木橫克脾土，脹勢百滿，所受濕邪，漫無出路，蒸於腸胃，黏膿積滯，利不肯爽。中焦不和，寤不得逸，症屬難治，且議分消。</p>
<p>白朮　厚朴　茯苓　豬苓　茵陳　通草胎孕而患瘧，古人先保胎，佐以治病。茲診齒燥舌白，嘔悶自利，乃夏令伏邪，至深秋而發，非柴、枳之屬可止。嘔吐黑水，腹痛，胎氣不動，邪陷入裡，蒸迫臟腑，是大危之象。</p>
<p>黃芩　黃連　黃柏　秦皮　川貝母再診　寒少熱多，即先後厥之謂。熱甚胎攻衝心痛，蓋胎在沖，瘧邪從四末漸歸胃，衝陽明胃脈管轄，上嘔青黑涎沫，胎受邪迫，上攻衝心，總是邪熱無由發泄，內陷不已，勢必墜胎。且協熱自利，外邪從裡而出，有不死不休之戒。方書保胎必固陰益氣，今熱熾壅塞，人參膠地反為熱邪樹幟，前以純苦氣寒急取，固上焦陽明胃、厥陰肝兩治，今則用酸苦辛泄兩經之熱邪，外以井泥護胎。</p>
<p>川連　草決明　烏梅肉　石蓮肉　黃芩　白芍　炒川椒三診　苦辛酸清，泄陽明厥陰邪熱，兼外護胎法，病減十之二。視苔色芒刺，舌心干板，而心中痛不已，此皆熱邪內迫，陽津陰液告窮。兩日前慮其陷伏閉寒，今又怕其昏痙，最難調治。夫護胎存陰，清邪去邪，俱不可少。</p>
<p>阿膠　鮮生地　川連　雞子黃　知母雨淋衝陽受傷，熱水洗浴，迫其冷濕深入，與水穀之氣互蒸，而肌肉發黃，陳無擇云：穀疸生穀芽　半夏　廣皮白　柴胡　黃芩　川連　人參　枳實　薑汁經云：謀慮在肝，決斷在膽，操持思慮，五志陽氣，有升無降，肝脈循環，繞乎陰器，氣逆拂亂，不可疏泄之權，似疝如淋病象。其實內系肝臟，但治淋、治疝，不越子和辛香流氣，即從丹溪分消泄熱。今形脈已衰當以虛論，肝病三法，曰辛，曰酸、曰甘緩。經云：食酸令人癃，小便不爽，大忌酸味。</p>
<p>當歸　茴香　穿山甲　枸杞子　沙蒺藜凡當臍動氣，臍腹結瘕，肌肉濡動，眩暈羞明。昔賢都主下焦精血之損，二氣不得攝納，則變亂火風，如混蒙之象，泄氣溫燥攻病，是虛其虛也。溫養有情之屬為宜。</p>
<p>紫河車　肉蓯蓉　當歸　青鹽　茯芩　胡桃　黃柏　小茴香　柏子仁　紫石英暑風入肺為癉瘧，金匱為陽氣獨發。嘉言云：體中陰液素虛，所伏熱氣，日久混入血分，陰虛陽冒，上焦清氣皆蒙，胃陽失和，不納易痞，究竟伏邪未去。凡苦辛疏泄，皆屬禁例。夫上實下虛，有客邪留著，鎮降不應，仿徐之才輕可去實之例，分別氣血，以宣之，以逐之。</p>
<p>犀角　連翹　元參　通草　竹葉　荷葉十年前小產血崩，損傷未復，家政操持，形神俱不能清靜，上年交秋，帶下淋濁，不特脂液告竭，奇經與諸絡亦無血存留。氣衝犯胃，脘膈刺痛，脅肋高突，更兼下焦寒冷，腰圍如帶拘束，兩足麻木，踐地痿軟，二便窒塞不爽。五液枯涸，至陽不交陰，見痛用沉香大謬。</p>
<p>凡血液枯槁，大忌香燥，姑以血肉參和人參。若春和溫煦，草木藉以滋生。</p>
<p>人參　甘枸杞　歸身　肉蓯蓉　小茴香　沙蒺藜　黑芝麻　羊內腎診脈尺垂，據述沖氣上衝，肝脈必搏大無偏，視面色赤亮，肌肉瘦削，乃腎精肝血內耗，陰不和陽，致衝任不主把持，固攝壯水，正謂助陰抑陽。然久損不復，當與味濃質靜，或血肉有情，填實精隧。考古海藏與可久輩，咸遵是制。內損精血，務宜絕欲靜養，使其加餐壯胃，所謂精生於穀也。且肝腎久傷，累及八脈，陰傷漸干及陽，豈一法網羅者。</p>
<p>閨中室女，忽然神志時惑，遂月事不來，正《內經》謂二陽之病發心脾也。蓋氣逆血菀，經緯紊亂，日加郁痹，焉得聰明。清曠情懷，致病草木藥餌，都屬無情，所以不易奏功。議以上清心竅以通神，下調奇脈以通經。</p>
<p>琥珀末(五錢)　丹參(一兩)鮮石菖蒲搗汁法丸，辰砂為衣。</p>
<p>回生丹為小丸，早服一錢。另以大黑豆一兩，炒赤，置竹籃蓋內，以無灰酒淋熱豆，取天癸從未至，肉瘦色悴，咳嗆著枕更甚，暮夜內外皆熱，天明汗出勢減，痰或黏或稀，咽中總不爽利，此先天最薄，真陰不旺，弗勤針指，務要安閑怡悅，俾經來熱除。不然，俗云干血勞。</p>
<p>復脈湯去薑、桂。</p>
<p>男子結疝，在《內經》則曰衝任為病。子和統論疏肝，今疝未愈，臍右復高突硬起，乃由疝漸至瘕聚腸覃之屬。夫腸覃者，寒氣客於大腸，與胃氣相搏，大腸與肺表裡，傳送肺氣，寒則氣凝不行，清氣散而濁氣結為瘕。遷延日久，如懷胎妊，按之堅，推之移，氣病而血不病穿山甲　椒目　桂枝　川楝子　小茴香　茯苓　麝香　白芥子冒暑遠行，熱氣由口鼻吸入，先犯上中，分走營衛，故為寒熱瘧疾。當淡泊飲食滋味，清疏胃氣，投劑或以涼解芳香，或以甘寒生津，皆可療治。奈何發散不效。復肆行滋補，致肺氣壅閉，胃中凝滯，自上及下，一身氣機不通，變成腫脹，矯其非而欲與攻逐。無如病久形消，又慮正氣之垂寂，不得已用保和丸，緩疏中焦，漸漸升降得宣，六腑轉達，腑氣先通，經脈之氣無有不通者矣。</p>
<h3>保和丸</h3>
<p>女科肝病為多，產後必病及八脈，即如少腹瘕聚，沖氣攻心，必嘔吐。逆上則喉間閉寒水半年不來，越日常有寒熱。凡下焦多屬血病，症屬氣聚，瘕為血痹。病在衝脈，陰維陽維混混施治，焉得入奇經。</p>
<p>延胡索　川楝子　蓬朮　桃仁　生鱉甲　地鱉蟲　麝香　楂炭脈緩按之濡弱，穀少不食，濃味運化最遲。飲食不適，即欲痛瀉，膚腠麻木，骨軟筋痛。且遇暴風驟冷，體中更覺不安，上年腸紅，入夏方愈，種種脈症，是氣弱陽微，脾胃少於運化，濕鬱生痰，致氣機不能靈動，法當健陽佐運，即治痰驅濕之本。</p>
<p>人參　於朮　茯苓　半夏　陳皮　益智仁　木瓜　天麻　生薑　大棗女子四十九天癸當止，謂陽明脈衰，衝脈力怯，不能招集諸絡之血，聚於血海，按月經行。</p>
<p>此向老皆然。今秋熱致傷，客邪不重，已見帶淋，肌麻血阻，內傷之勢已露。況所患甚於腰腹，是必臟陰內損，及於八脈，有形之血既去，無形之氣掀旋，諸竅百骸，攻迫肆症，即身中之陽氣獨行，不得真陰眷戀耳。熟地、五味，滋收固不甚謬，然不入奇經，法當介用潛陽。咸味下引，酸味內收，或佐微苦微潤。蓋肝惡剛喜涼，腎惡燥喜暖，古人之制然矣。</p>
<p>鹽水炒阿膠　茯苓　山萸肉炭　鹽水炒鱉甲　知母　女貞子　鹽水炒旱蓮草　天冬　鹽水炒黃柏幼稚驚癇，古人有陽癇之分，據述自幼至今，不論寒暑，寐必汗泄，乃藏真不固，陽不內依，致內風灼筋牽強，冒竅神迷。且時時神餒恐懼，治在肝腎，用包舉大氣，內安肝腎。</p>
<p>熟地　石菖蒲　龍骨　五味子　遠地　茯苓　瑣陽　黃柏　萸肉紫河車膏丸。</p>
<p>驚則動肝，肝氣上逆，憂則傷肺，肺氣失降，升降失司，中焦不運，氣聚成形，風擾鳴泄。</p>
<p>仲景論上升吐蛔，下墜狐惑，都從胃虛起見，風木相侮，陽土日困，食減便溏有諸。由驚憂偏逆致病，因病失治，延虛最難奏效。用藥不過生化剋制之理，培其受侮，平其沖擾，補陽明以宣府，泄厥陰以平逆，如是而已。至於拔病根，在乎居恆頤養，當醫藥外求之。</p>
<p>人參　乾薑　川椒　川楝子　茯苓　桂枝　白芍　烏梅產育頗多，衝任先傷，其咳嗽失血，嘔吐涎沫，都是下元不攝，沖氣上逆所致。況晨刻必瀉納下元散失之真，固之攝之，尤慮弗及。若見血見嗽，用滋清沉降，非內熱肺咳，奚益於病。徒使遷延胃敗。遂至廢食，豈不危哉?鹽水炒補骨脂　石殼蓮肉　熟地炭　炒黃山藥　覆盆子　五味子　芡實再診前方服二劑瀉止，今去補骨脂、覆盆子，加青花龍骨。</p>
<p>三診　自前方固攝之後，五六日精神頗覺向安，但寒在四肢背部，熱在心前腹中，即《內經》陽虛外寒，陰虛內熱之旨。然產後氣虛，必自陰分傷及陽位。張景岳云：氣因精而虛者，當補精以化氣。況產後八脈空虛，填補方中，必佐以收拾奇經之散亡也。</p>
<p>熟地炭　龍骨　湘蓮　紫石英　五味子　人參　芡實　茯神丸方砂仁拌炒熟地　芡實　桑螵蛸　五味子　紫河車　茯苓　人參　遠志　沙苑蒺藜山藥漿丸。</p>
<p>診脈右弦左濡，久痔注血，致納食不易運化，此脾營先傷，胃陽繼困，府氣不能宣暢，大便不爽，溫補未能通調，府氣疏滯，更損脾胃生陽東垣每以治土，必先達木，不宜過投燥劑。</p>
<p>仿古治中湯法，佐以疏肝解鬱。</p>
<p>人參　青皮　陳皮　木瓜　黑槐米　益智仁　楂肉　茯苓　黑地榆水泛丸。</p>
<p>診脈百至，左小澀結，右部弦大，綠高年中焦，清陽已微，濁陰漸阻，致脘中窒塞日盛不能納，下焦陰液枯槁，腸中氣痹，溺少便澀。虞花溪云：噎膈反胃，陰枯陽結為多，衰老之象，最難調理。誠情志偏勝無形之傷也。若夫痰氣瘀血積聚，亦有是病，有形有象，即易為力矣。惟無形致傷，以有形之藥餌施治，鮮有奏效。當以陰陽二氣推求，在上為陽，在下為陰，通則流通，守則呆鈍。古人成法，宜遵其言，居恆頤養，不在藥餌中矣。議宣通之味以翼小效。</p>
<p>大半夏東加枳實、薑汁、川連。</p>
<p>脈右弦左濡，秋涼宿飲上泛，咳嗆入夜，著枕欲寐，氣衝胃脘，心悸震動，必欲起坐。</p>
<p>仲景陽滌飲，與世俗僅以肺藥疏降迥異，用小青龍減麻辛法。</p>
<p>桂枝　五味子　乾薑　茯苓　白芍　炙草　半夏丸方八味去附。加沉香。</p>
<p>頻因小產，奇脈不固，經來甚多，經過帶下，早震大便溏滑，納穀日少，時覺心悸震動，始養血滋膩，即脘悶不思納穀，此皆自下焦損傷，漸及中焦，致脾胃不能轉運。近日擬用王荊公妙香散，宣通補中，仍兼顧下，雖似相投，然於調和經帶，其力未專，再議兩去分治，中鹿角霜　淡骨脂　青鹽　炒黑小茴香　紫石英　禹餘糧　當歸　茯苓用雄羊腎蒸熟搗丸，人參湯下。</p>
<p>男子血淋成塊，尿出痛。醫治一年妄效。夫淋屬肝經，鬱火濕熱皆有是病，患少壯情欲勉強，必致敗精凝竅，精腐變於，理固有諸。用虎杖散法，服五六日痛減血少，晨溺尚有血絲，此隨竅中有未盡之敗濁，宜通不宜澀。</p>
<p>人中白　琥珀　沉香　白牽牛　川柏韭菜汁丸。</p>
<p>產育致虛，病情多歧，不能縷分。思產後八脈皆空，損傷非在一臟一腑，所以諸恙並起，稍涉情志不適，藥餌便少功效。沉痼宿恙，驟難奏功，閱病原，再診脈，知內因虛損，小效病復，實由於此。姑擬邇日再急，在腹脹洞泄，脅腹　痛，冀得少緩一二，為進商之步。</p>
<p>人參　鹿茸　茯苓　舶茴香　紫石英　補骨脂另用禹餘糧、赤石脂等分，糯米煮糊為丸，煎前方送廿丸。</p>
<p>香港腳古稱南地，多因濕熱，醫用苦辛宣通開氣，滲濕久進，病未祛除，而血液反耗。心熱氣衝，目黃嘔涎，煩躁頭痛昏厥，四肢筋縱掣痙，大便艱澀。顯然肝血衰涸，內風掀越，此風乃陽氣之化，非外來八風，同例而治。分經辨治，病在肝藏，擾動胃絡，由氣分濕熱延中，血中枯燥，靜攝小安，焦煩必甚。蓋內傷情懷，草木難解，斯為沉痼。</p>
<p>石決明　豆皮　天冬　生地　茺蔚子　阿膠丸方生地　白芍　天冬　桂圓肉　丹參　杞子　阿膠　麥冬　知母　茺蔚子　豆皮烏骨雞煮爛杵丸。</p>
<p>暑屬陰邪，一種濕溫穢濁之氣，膠結於三焦，故苔灰邊白，氣喘脘結，周身痛難轉側，小溲窒澀而痛。老年情氣已衰，恐有內閉外脫之變。</p>
<p>鮮石菖蒲　厚朴　茯苓皮　橘紅　白蔻仁　杏仁另服蘇合香丸。</p>
<p>病久反覆，精氣損傷，遂成虛怯。據說臍下閃閃升觸，逆乾咳嗽，兼痰多咽痹，明明元海無問醫便投草木湯液，恐難久持。</p>
<p>鮮紫河車膠　秋石拌人參　云茯神鹽水炒紫衣胡桃肉。</p>
<p>經云：脾氣散精，上輸於肺，地氣上升也，肺主治節，通調水道，下輸膀胱，天氣下降也。</p>
<p>和暢，至晨夕嘈雜，食少無味，下脘如納粗物，病久胃汁枯，四肢無力，顯然脾病。右脅少腹作痛，升降有聲，寅卯病進，午後病退，是清陽之氣閉結。若仍勤勞家政，深秋關格是慮香附　延胡索　黑山梔　歸身　柏子霜　桂圓肉諸動屬陽，煩勞則損氣。肝司藏血，拂鬱則血菀於上，午後則氣並於血。升降混淆為厥，脈來浮數，退而細澀，面黃唇白，熱勢稍輕，神昏如故，胸膈隱痛，必非停滯，諒有瘀聚所致。目　舌縮，為腎水竭絕之征，螈　不止，乃肝虛風動之象，病名暴厥。趙養葵所謂薄厥煎厥之類，開心竅不應，勉以蒲黃散去瘀舒郁，續進滋養，天一之水，以翼風寧火熄。</p>
<h3>蒲黃散</h3>
<p>情志郁勃，氣逆多升，絡血上冒，連次小產，衝任已怯，心嘈震悸，目珠痛，頭脹，肝膽厥天冬、石決明。經來後期兩旬，牙宣吐血，防其倒經，議養肝陰，兼通衝脈。</p>
<p>生地　天冬　枸杞子　牛膝　茯苓　白芍　阿膠　桂圓肉　丹參　茯神烏骨雞煮爛為丸。</p>
<p>煩勞氣泄，陽升巔頂，瞳神必脹，容色奪，目眶變，呼吸似乎下陷，若熱氣升，舌本必麻，即痰氣阻咽。天暖風和必逸，乃血氣因勞致虛。有藉乎天氣之煦涵，《內經》云：勞者溫之。取味甘氣平，以補其陰陽血氣。然痰氣宿恙，勿以膩濁為準。</p>
<p>人參　白朮　當歸　枸杞子　茯苓　甘草　白芍　天麻　嫩鉤藤　菊花炭桂圓汁丸，午後服三錢。另早服虎潛丸四錢。</p>
<p>質瘦脈弱，交夏天暖真氣發泄，心熱口渴，頭痛脅疼，食下如噎，右耳氣閉，少聰，語言北沙參　天冬　麥冬　麻仁　杏仁　桑葉　蜜水炒橘紅川石斛煮汁泛丸。</p>
<p>筋脹膚疼，發作有年，左脅有形，不痛為瘕，肝氣久郁血虛，生熱生風，不受辛熱之藥，以肝木內寄相火，只宜和血熄風，柔筋緩痛。</p>
<p>生首烏　歸須　胡麻　丹皮　黑山梔　桑葉　嫩鉤藤丸方桑寄生　阿膠　鉤藤　丹皮　大生地　當歸　天冬　白芍　黑芝麻　柏子仁煉蜜丸。</p>
<p>情懷挹郁，肝氣不舒，患乳生癰膿潰，血液大耗，氣蒸上逆咳嗽，左脅內痛，不能轉側。蓋肝絡少血內養，左右升降不利，清潤治嗽無益。</p>
<p>炒桃仁　當歸　茯神　丹皮　阿膠　柏子仁時令溫邪內迫，經水不應期至，淋淋不斷，二便不通，唇舌俱白，不喜冷凍飲料，神呆恍惚，言屬危脫之象。擬用仲景救逆法，以扼其危。</p>
<p>人參　龍骨　制附子　炙草　桂枝　牡蠣　蜀漆　南棗肉經停兩月，恰值嗔怒，陽氣升降失和，血隨氣行衝任，脈絡不固，遂為崩漏。且血凝成，非血熱宜涼，從來血脫，必須益氣，但衝任奇經在下焦，又非東垣歸、　、升、柴升舉諸法所宜。須固攝奇脈之藥，乃能按經循絡耳。</p>
<p>人參　茯苓　烏　骨　鮑魚　茜草震靈丹沖服。</p>
<p>再診　昨擬震靈丹通攝，鹹苦入陰，加人參見效。但頭痛身熱，是血大去，陰氣不主內守，陽孤失偶泛越。景岳云：陽因陰而離散，宜從陰以收散亡之陽。兩儀煎加龜甲、秋石主之，人參　熟地　茯神　龜板　紫石英　桑螵蛸　當歸酒客中虛聚濕，口鼻吸受穢濁不正之氣，初病頭脹胸痞，身痛微汗，不解穢濕，在募原內蒸奈不分氣血，從熱消導，清熱攻下，邪混血分成斑，冒入膻中，神昏譫妄，內閉臟腑，外象肢冷大汗，勢已危篤，仍以病根源穢邪，逼迫心胞絡，論神氣少清，翼其回生。</p>
<p>至寶丹四分，金汁一杯，石菖蒲汁一匙，研細和勻，燉溫服。</p>
<h2>卷二</h2>
<p>咳失音，脈右部向內極微而澀，水竭金枯之象。姑變法治之。</p>
<p>炒熟地　麥冬　川貝　敗叫子　海參　梨汁　紫菀　蟬衣加雞子清一個，囫圇煎。</p>
<p>另方　豬肺一個煮爛，俟臥後將醒，不可開口說話，取肺及桐城秋石少許，食之即睡。</p>
<p>失血咳嗽盜汗，從陰虛治。</p>
<p>黃　北沙參　炒棗仁　麥冬　北小麥　生牡蠣　南棗胃寒不能食。</p>
<p>河車一具，重湯煮，收入菟絲餅末四兩，焙燥為末。</p>
<p>鹿角膠(四兩)　蛤蚧(一對)　制附子(一兩)　補骨脂(二兩)　制白朮(斤半)　南棗(半煎膏丸。</p>
<p>腹滿發黃，惡寒舌白，多食即脹。</p>
<p>陳香櫞挖去蓋，入砂仁二錢，仍用蓋合上，用水和東壁土　，存性取出，去泥研末，即將東壁土一撮，煎湯送下一錢，用糠火煨。</p>
<p>牙齦腫痛，左尺弦搏之象稍緩，水中之火漸戢。</p>
<p>大補陰丸加犀角　藕汁　生牡蠣　人中白　骨碎補　丹皮(炒炭)　蘆根敷藥石膏　廉珠　人中白　金絲草灰　土貝　青黛　生赤小豆研末。</p>
<p>酒濕侵絡。肩　酸麻，留著不去，肺受其傷，痰中亦帶血矣。絡脈既傷，鬱而成熱，清補不可廢也。</p>
<p>細生地　地骨皮　料豆衣　白扁豆　絲瓜筋　炒黑新絳　米仁　柿餅灰氣急脈數久咳，內熱盜汗，用虛損法。</p>
<p>生精羊肉(一兩，煎湯去油)　黃　(蜜水炙)　土炒當歸　炙鱉甲　制白朮　北沙參　淡天冬　懷山藥鼓舞胃氣。</p>
<p>炒松黃鱔　參條　炒香焦術　梨汁　白荷花露　南棗　大麥仁丸方黃鱔(六兩)　淡菜(六兩)　五味(一兩)　黨參(二兩)　蓮肉(二兩)　山藥(二兩)　麥冬(二兩)　玉竹(二兩)　米仁(二兩)　梨膏(四兩)為末，黃精二兩，南棗二兩，去皮核，同梨膏搗丸。</p>
<p>服藥後，血止而口中之熱亦去，亦稍見效矣。而食不加增，膿亦未除。詢其所得之證，則自齒中出血之日始，則非一日矣。使投六七劑，而即掃除痼疾，恐扁倉亦謝不敏也。今姑用王良詭遇之法以試之何如。</p>
<p>炒熟地　龜板　骨碎補　黃柏　生牡蠣　人中白　旱蓮草　夏枯草　犀角　蘆根　野菊根紅曲　黃鱔　蒸白朮　楂炭　小赤豆郁結傷肝，肝火上侵肺絡，故痰中見血。治從肺肝兩經清理。</p>
<p>阿膠　白芨末　雞子清　白棉紙灰　炒黑側柏　料豆衣　炒柿餅氣下陷，肛門似墜，下鮮血，用補中升陽法。</p>
<p>四君子東加升麻　柴胡　砂仁　木香　鯽魚末(用礬五分入腹中，縫好，泥塗，煨存性)血症屢發，於滋養中寓堵截法。</p>
<p>炒熟地　麥冬　北沙參　川斛　女貞子　料豆衣　茜草　側柏　白芨　牡蠣　藕節灰汗泄太過，津傷口燥，究竟邪未得清，咳猶未除。夫邪在手經，本非重症，止宜以輕劑調之足矣。</p>
<p>枇杷葉　南沙參　杏仁　川貝母　霍石斛　南花粉　玉竹　水梨皮真陰虧損，火炎為患，用滋降方。</p>
<p>熟地　河車　龜板　石決明　川斛　犀角　廉珠　黃柏　人中白　蓮須　淡天冬　丹皮炭黑山梔　金櫻子　芡實　夏枯草煎膏和丸。</p>
<p>耳內流膿，昔人謂之腎疳，用六味丸加味治。今用其法，兼清少陽。</p>
<p>六味丸加桑螵蛸　黃甘菊　山梔　石決明　桑葉　黃柏(鹽水炒)豬脊髓、芡實、粥為丸。</p>
<p>診脈左澀滯，右弦滑，飲邪為患。肝鬱不舒，若以燥藥治水則陰陽，以滋藥養肝則飲滯，皆非策也。議用加減當歸四逆，以養肝而利水，健脾運痰。</p>
<p>蒸於朮　霞天曲　酸棗仁　茯神木　半夏　橘紅　石決明　辰砂　砂仁　沉香淡菜膠丸。</p>
<p>痰喘而見血燥，藥難於進矣，變法治之。</p>
<p>淡菜　霞天曲　青鹽陳皮　川貝　生蛤殼　蛤蚧藕粉和丸。</p>
<p>脈小微數，真陰不足，今既見血，旋覆咳嗽，久爍肺金，不能無慮。溫燥不可進，姑從金水二藏治之。</p>
<p>炒熟地　麥冬　料豆衣　北沙參　霍石斛　山藥　藕丸方鰻鯉丸加獺肝　人中白　熟地　川貝　全鱉　側柏葉　女貞子(旱蓮草汁蒸晒)用十大功勞六斤，淡菜八兩，紅棗四兩，煎膏丸。</p>
<p>診脈，右部虛軟無力，左足內踝腫漸大，此足三陰經脈所行之處，藏真虧損何疑。議用峻補方。</p>
<p>六味丸加河車　杜仲　菟絲子　川續斷　五味子　麥冬　牛筋　鹿筋　黃柏用黃牛骨髓、羊骨髓、豬脊髓、精羊肉煎湯。入淡菜同熬膏丸。</p>
<p>休息痢已久，但其為痢也，與尋常之痢有異。其始先下濁水，後則下燥糞，所謂濁水燥糞，皆微帶紅色，水與糞各行，全不混入。故其燥愈甚，而水竟獨行其事也。夫渣滓之下，由於大腸，先從小腸而下，小腸屬火府為丙，大腸屬津液，屬金為燥，火性急速，故水速於下。</p>
<p>金性燥，故糞結且硬也。治宜益脾陰以潤大腸之燥，並緩火性，使勿速下，庶與病機有裨。</p>
<p>生甘草　紅曲　料豆衣　鴨血　茯苓　琥珀屑豬大腸煮爛和丸，夜服威喜丸。</p>
<p>脈左弦，右關上半主胃，亦見弦象，合之於左部，則血之下也。因乎肝火，而胃脘之病，亦因之而起。治在肝胃。</p>
<p>生白芍　炙草　沉香汁　藕節灰　蘇梗汁　金柑皮　荊芥炭　楂炭　炒黑石耳子　炒黑荷蒂脈右尺舉按少力，左關弦，肝火易動，動則主疏泄，精泄不固，有自來矣。右尺主腎中之陽制於朮　菟絲餅　麥冬　川斛　遠志炭　沙蒺藜　杜仲　巴戟肉　黃甘菊　丹皮炭　米久咳鼻衄，內熱口渴。</p>
<p>炒熟地　麥冬　料豆衣　丹皮　犀角　花粉　青蒿子　淡菜　山藥　蓮肉藕汁和丸。</p>
<p>夢泄先傷其陰，故足跟腫痛，更兼下痢口渴，是真陰再竭矣。據述微惡寒，仲聖以此屬少陰病，則從厥少治，又何疑?燒黑鹿角霜　生菟絲子　炒黑骨碎補　炒松牛筋　金毛狗脊　沒石子　木瓜據述，吐血在二月至六月方止，血止發熱，如火後漸止。今又發熱，推測病情，尚是伏暑，失血後，邪乘虛入營分，久而復發，竟有熱入血室之意。仲聖陽明篇原有此條，正可援其例鮮地骨皮　桑根白皮　青蒿汁　水梨汁　蟬衣　蘆根　生甘草加三甲煎。</p>
<p>瘧已四月，傳入三陰，纏綿不已，用搜絡法。</p>
<p>三甲煎加蒸於朮　黨參　青蒿　歸身　牡蠣　炙草　薑　棗足冷肢麻，面有風塊，又惡風脈沉細。前方滯而少通，宜與當歸四逆湯。</p>
<p>本方去棗加附子　生薑三瘧四載，寒輕熱重，嘔逆腰痛。此腰痛瘧系少陰也。宜治少陰兼理少陽。</p>
<p>鹿角霜　杜仲　續斷　半夏　生鱉甲　生薑衝脈為病，治宜鎮逆。</p>
<p>炒熟地　紫石英　坎　鹿角膠　杞子　金鈴子　肉桂　小茴香　生杜仲粉　菟餅　沉香屑木火旺令，肝木乘陽氣之浮，直沖清道，血遂上溢，脈左部弦急，宜從肝治。</p>
<p>炒熟地　生左牡蠣　沙參　料豆衣　側柏葉　山藥　鴨肝經閉半年，腹腫未消，脾虛，肝乘中焦，營氣失職，經何由而至。今又客邪侵肺，咳嗽間作，宜兼理之。</p>
<p>當歸　白薇　丹參　丹皮　川貝　桔梗　楂炭　生麥芽食隨痰出，噎時頗痛，用鎮降方。</p>
<p>靈磁石　代赭石　海浮石　月石研細。</p>
<p>旋覆花　夜合花　枇杷葉　蜜煎成調入前藥末。</p>
<p>復診。</p>
<p>雞穀袋　戌腹糧(漂炒)　月石加油和蜜調服。</p>
<p>疝氣時作痛脹。</p>
<p>六味丸加柴胡梢　獨活　肉桂　吳茱萸脈數，肌肉消爍，痰咯不和，有虛損之象，先進清補之劑。</p>
<p>北沙參　淡菜　甜杏仁　川貝　白扁豆　青鹽陳皮　水梨汁心腎不交，無寐，陰不制陽，陽強易動，與坎離交媾法。</p>
<p>熟地　龜板　牡蠣　建蓮肉　酸棗仁　茯神　遠志　黃柏痰哮有年。</p>
<p>六味加杏仁霜　川貝　橘紅　蛤蚧素患精虛遺泄，今春始發潮熱，半夜方止。初則捫之而熱，後則熱及骨髓矣。此系腎虛，復感冬寒，以感輕，故發亦不甚耳。</p>
<p>炒熟地　桂枝　生牡蠣　龍骨　茯神　白芍　煨薑　炙草　淮小麥　南棗肉左脅掣痛，筋脈不舒，絡虛氣攻所致。</p>
<p>旋覆花東加當歸　蘇梗汁　沉香汁額上脹，鼻息不通，牙關頰車開闔不利。此乃足陽明交會之地，據述喉腫之後起。宜從陽明治，而開闔不利，是挾風使然。</p>
<p>葛根　犀角　生地　丹皮　杏仁　桔梗　連翹　山梔　白芷　蒼耳食之吐，因於不運，非盡由肝也。姑與消補方。</p>
<p>焦術　枳實皮　木香汁　砂仁　雞內金　炒歸身　沉香汁　紅曲　陳皮　茯苓　炒芝麻食不足，則氣滯而支，兩脅脹斯作矣。議兩調之。</p>
<p>旋覆花東加雞穀袋(末)　沉香(末)　紅曲(末)　麥芽(末)　焦滯　橘絡　藕粉(研)　楂炭湯泛丸。</p>
<p>交夏至後腹脹，一陰生而肝邪為患也。當與當歸四逆湯。</p>
<p>本方加杞子炭　小茴香　去棗額顙著寒則嚏，清涕隨流，咳甚，五心灼熱。此衛陽虛而肝火熾也。仿東垣法應之。</p>
<p>生　防風　桂枝　炙草　石決明　細生地　小川連　元參　川石斛　南花粉　地骨皮　丹皮　蘇梗汁陰寒凝聚成瘕，上攻為痛，右脈虛軟，即真陽式微之征，非辛溫通陽弗效也。</p>
<p>淡附子　吳茱萸　歸身炭　炮薑　大茴香　法半夏　炙草　茯苓素有飲邪，陽不交陰，故目不瞑。</p>
<p>法半夏　秫米　生術　茯苓　棗仁寒熱脅痛，腹結瘕形，肝脾同治。</p>
<p>六味加柴胡梢　蒸於朮　炙鱉甲　楂炭　白芍濕勝則腫，如何服五味，腫而熱痛，奈何以鹿膠助熱。</p>
<p>大豆卷　海桐皮　川萆　宣木瓜　川通草　白麻骨　米仁　茯神脘中常痛，病起於勞倦傷中，用建中法極合，當即以此加減。</p>
<p>桂枝　當歸　肉桂　橘餅　炙草　煨薑　南棗手足指癢，肝乘脾虛而風動，以脾主四肢故也。</p>
<p>於朮　茯苓　半夏　橘紅　石決明　丹皮　川斛　料豆衣　木瓜　甘菊　桑葉氣升嘔逆，此屬下焦根本不固，急宜填補。</p>
<p>貞元飲加紫石英　肉桂　杞子　炒焦菟餅　淡吳萸　牛膝腸中攻動則痛，下痢更甚，明系肝邪為患。曾服補中益氣升陽之劑而反劇，則升之無益可知矣。宜從風動飧泄一條，比例治之。</p>
<p>制白朮　炒黑秦皮　炒焦菟絲餅　蘄艾葉　牡蠣　炒黑骨碎補陽虛挾濕，左足時木。治宜養陰通陽，佐以疏肝活絡，可收全功。</p>
<p>貞元飲加制附子　肉桂　杞子　白芍　鹿筋　新絳　生於朮　茯苓　遠志炭　橘紅　沉香汁痢漸減，口乾夜熱。</p>
<p>鮮荷葉　生菟絲　炒枯砂糖　鮮稻葉　黃蠟　懷山藥先用炒枯熟地四錢，泡湯煎藥，俟藥冷，蠟浮水面去之，再溫服。</p>
<p>足筋不舒，為濕邪所阻。以致絡脈壅滯。今發瘡。即是濕邪疏泄處。</p>
<p>熟地　阿膠　桑葉　黑芝麻　當歸　真血余　石決明　甘菊　木瓜　絲瓜絡　新絳　牛筋人乳粉　牛酥　白麻骨用豬脊髓、阿膠烊化和丸。</p>
<p>食入窒塞且響，少腹微痛，切脈肝部不和，用溫通厥陰治。</p>
<p>九香蟲　戌腹糧　楂炭　炒紅曲　蘇梗　炒穀芽　沉香　炒麥芽生山藥煮漿和丸，飯後服二錢。</p>
<p>喉癢痛未愈，下體有漏，時夢泄。</p>
<p>炒熟地　麥冬　線膠　黃明膠　地骨皮　人中白　山藥　湘蓮鱉一個，泥塗　存性研末，生雞子清和丸。</p>
<p>每至新涼，陽微飲逆，氣喘不得臥，宜攝陰通陽。</p>
<p>附桂八味加蛤蚧　杏仁　橘紅煉蜜丸。</p>
<p>脾腎虛損，肝陽擾動，調停二者之間，治肝為要。</p>
<p>生地　龜板　知母　黃柏　白朮　雄豬肚　牡蠣　川連　苦參吐血後，痰時帶紅，是肺病。姑整肅手經，再議填補，用仲醇法。</p>
<p>生地　地骨皮　枇杷葉　川斛　川貝　巴杏　扁豆　桑葉　梨汁由不得汗，腫從面起，其為風水顯然。水不得泄，由肺氣鬱遏，不得外達，並不得下行而為小便，故遂直走腸間而便溏，所謂不得橫，遍轉為豎窮，正合盧氏之說也。不從此參究病情，再以寒滑之品，欲從前陰驅之，罔顧其利，斯亦左矣。</p>
<p>桂枝　白朮　羌活　防風　川芎　獨活　桔梗　薑皮　椒目　赤豆脈左關弦，全是肝火為患，仿喻氏清燥救肺法。</p>
<p>枇杷葉　桑葉　生地　丹皮　霍斛　料豆衣　地骨皮　青蔗汁心中嘈雜如飢，此肝火上炎所致。</p>
<p>炒熟地　淡天冬　川連　牡蠣　料豆衣　淮小麥　炙草　南棗肉診脈三五不調，短而微數，按之不鼓，真陽式微，氣不下潛，虛裡振動，宜於溫補中佐以鎮攝。</p>
<p>熟地　杞子　萸肉　杜仲　紫石英　河車　坎　鹿角膠　菟絲餅　鹿茸　棗仁　茯神山藥　建蓮　遠志　補骨脂肝邪偶有所觸則發，遇寒遇郁，或飢飽不時，尤易擾動，見於兩脅肝部也。口涌甜水，脾滯也，木乘土，用建中法。</p>
<p>桂枝木　當歸　橘餅皮　煨薑　炙草　香附　橘絡　南棗先天稟賦不充，故填補未能，即應南翁輔以益胃運脾之法，先後天同治，亦周密矣。當仍其方，略為增損，以消息之。</p>
<p>人參　菟絲子　煨砂仁　於朮　陳皮　鍋巴山藥漿和丸。</p>
<p>筋脈攣急，治宜養營。</p>
<p>熟地　阿膠　當歸　人乳　木瓜　牛膝炭丸方全當歸(一斤，料豆衣制)　牛筋(八兩)　牛膝(二兩)　木瓜(二兩)　桂圓肉(十二斤)馬匝(四兩)　牛乳(六斤)桂元膏丸。</p>
<p>目干則澀，目潤則開。其開闔之機，即少陰之樞也。開闔不利，其水虧乎。</p>
<p>熟地　生地　玉竹　霍斛　石決明　明月砂　桑葉　黑芝麻面目浮腫，不及股足，三瘧未除，宜運脾胃之陽，兼益命門真火，以祛寒濕，斯不治瘧桂枝木　生白朮　茯苓　法半夏　淡附子　生薑太陽氣化不行，亦因天一之源不足，徒用滲泄無功。</p>
<p>炒熟地　西黨參　麥冬　丹皮　棗仁　山藥　茯苓　澤瀉食物易噎，噎則喜嘔。昔張雞峰謂之神思間病，宜以怡情適志為主。</p>
<p>蘇梗汁　雞穀袋　橘紅　橄核汁　牛囀草　茯苓食噎有痰。</p>
<p>枇杷葉不拘多少，拭去毛，煎膏加白蜜梨汁同收。</p>
<p>右脈細而急，細屬木體之虛，急則肝火之動也。鼻衄氣逆則嚏甚，是其明征。</p>
<p>六味加靈磁、犀角、血余、川柏、牡蠣、人中白，藕汁拌，晒乾，阿膠、龜膠丸。</p>
<p>飲食少思，大便溏泄，夜臥，口燥殊甚，腎陰既虧，脾陽復陷，治法極不易。</p>
<p>西黨參　百蒸於朮　麥冬　北五味　葛根　桔梗　茯神　炙草用熟地二錢，泡湯煎藥。</p>
<p>三瘧已止，而薄暮猶甚惡寒，此邪尚未盡也。宜和營衛。</p>
<p>桂枝木　當歸　炙草　蟬衣薑棗煎。</p>
<p>夜不得寐。</p>
<p>濟生歸脾東加川連　龍齒　辰砂各血後，左乳傍脹，噯氣始寬，是左升太過，右降無權，肝絡阻塞，氣為之痹也。</p>
<p>旋覆花東加炒枯熟地　阿膠　牡蠣　枇杷葉治目之法，不惟陰精宜補，而陽光尤為最要，不可偏，偏則畸重畸輕矣。用瑞竹堂四神久咳音嘶，痰中帶紅，脈右數。</p>
<p>淡人中白　廉珠生雞子清丸。</p>
<p>目光，猶陽火也，其在天為日月。日為陽精，月為陰精，目皆應之。故目之病，不盡得之陰虧，亦有得之陽弱。如寒水翳膜，與雲霧陰霾何異?今診脈遲澀，陽虛可知，陰藥不可用，須變法治之。</p>
<p>炒熟地　枸杞子　肉桂　生菟絲　白蒺藜　甘菊炭　明月砂　鳳凰衣　穀精　羊肝用介類潛陽，而以參　苓　朮建中，治法密矣。而風邪尚未寂靜，脈弦數，閃爍無定，究竟陽動而陰不能制，仍用前方增損，以消息病機。</p>
<p>炒熟地　西黨參　制於朮　黃　龜板　靈磁石　牡蠣　石決明　淡菜　人中白　白芍丹皮　夏枯草　懷牛膝　川柏脈弦為肝木月余之象，未免侵克脾胃，胃腑以通為補，且肝主疏泄，議兩和之。</p>
<p>生益智仁　半夏曲　沉香　陳皮　長須　穀芽　金柑皮　砂仁　茯苓氣脹上噯，下泄始寬，兼有痰飲嗆逆，議達郁疏肝，佐以滌飲。</p>
<p>川貝　青鹽　半夏　橘紅研末，用梨汁浸晒乾丸。</p>
<p>胃脘作痛，腸風下血，悉屬痰飲為患，故嘔出始快。其下血亦濕傷脾絡所致。</p>
<p>熟地　金鈴子　炒黑防風　法半夏　茅朮　沉香汁　炒黑木耳　茯苓心陽過耗，肝膽之火，翕然從之，以致神氣浮越不寐，汗多。治宜收攝心陰，以寂神志朱砂拌茯神　棗仁　牡蠣　五味　炙黑　甘草　淮小麥　麥冬　南棗瘧發時作時止，亦無定期，歷秋冬而不愈，邪已深伏三陰，必得搜剔經絡，以發伏祛邪，庶可漸瘳。</p>
<p>六味三甲加當歸　白芍　牡蠣　蟲三瘧既久，項酸腰似折，督脈憊矣。宜治少陰。</p>
<p>鹿角尖　生菟絲　當歸　焦術　補骨脂　杜仲脈微澀，三五不調，此由先天稟賦不充，故當壯盛之年，而腎陽衰憊，水乘上泛，飲邪充斥，宜崔氏八味，加味以祛飲。</p>
<p>崔氏八味丸加蛤蚧　胡桃肉瘧久不止，邪擾營分，汗多，用建中法，佐以升陽祛邪之品。</p>
<p>黃　五物東加鹿角霜　炙鱉甲　當歸　小茴香　橘餅左關弦急，酸水上衝，脘中不爽，悉是木鬱土中，陽微滯運，議與宣通之法。</p>
<p>冬蟲夏草　玫瑰花　於朮　砂仁　黑沉香汁　神麯　半曲　陳皮　金柑皮瘧後失調，耳鳴氣喘，是勞倦傷中，宜用歸脾加味。</p>
<p>濟生歸脾加半夏　茯苓　丹皮　桑葉脈數而細，喘急咽乾，此屬金枯水虧之象。</p>
<p>炒熟地　淡天冬　女貞子　北沙參　烏飯子　淮山藥　坎　地骨皮　十大功勞又　人中白　廉珠研細，開水調服。</p>
<p>瘧發，腹中猶脹，肝邪未平。</p>
<p>歸　建中東加鹿角霜　焦白朮　小茴香　橘餅當臍有瘕，不可攻也，食入不運，宜以宣通為主，但不可礙肝。</p>
<p>炒松黃鱔　小茴香　砂仁　紅曲　廣木香汁　新會皮　茯苓　麥芽三瘧變為間日，伏邪有轉出之機。</p>
<p>黃　五物湯去白芍加西黨參　當歸　鱉甲　桑蟲　焦術脈數，咳嗽不止，帶血，濕熱下注，成漏，便溏泄，所賴胃氣尚強耳。壯水清金，固屬至要，但不得有礙脾陽，以資生之本在是也。</p>
<p>北沙參　鮮地骨皮　料豆衣　米仁　烏飯子　生蛤蜊殼　淡菜　扁豆　梨汁缺盆右痛，肺絡受傷，宜清補兼施。</p>
<p>生地　阿膠　沙參　麥冬　牡蠣　川斛　蘇梗　栝蔞藤　側柏葉　藕節灰　川貝　白芨用梨汁拌藥三次，柿餅搗丸。</p>
<p>炳類偏枯，由夢泄太過，得之陰精既傷，筋脈亦失所養，治宜填補固攝，以滋榮溉之源炒熟地　枸杞子　龍骨　金櫻子　干河車　當歸　牡蠣　白蓮蕊　魚膠　牛筋診脈按之不鼓，陽虛濕聚，舌白腹滿，溲少臍平，急與通陽泄濕。</p>
<p>桂枝木　淡乾薑　舶上茴香　淡附子　茯苓　炒米仁食噎嘔逆痰多。</p>
<p>旋覆花　陳膽星　乾薑　淡附子　代赭石　法半夏　杏仁　檳榔再診。</p>
<p>原方去檳榔，加瓦罐末一分。</p>
<p>三瘧後，寒熱屢發，持重則心悸，宜和營衛。</p>
<p>桂枝東加當歸　鱉甲　淮小麥　茯神血虛故便燥，氣虛故脫肛，須兩治之。</p>
<p>補中益氣加桔梗　細生地　北五味　芝麻　靈磁石三瘧頭痛心悸，病在厥陰。</p>
<p>桂枝東加石決明　當歸　茯神　龍齒　淮小麥香港腳行痹，左右更代而痛，宜溫通方。</p>
<p>桂枝　獨活　秦艽　貝齒　晚蠶砂　茯苓　防風　附子　木瓜　萆　海桐皮　米仁氣升不降，胸中熱而辣痛，痰色黑，此肝腎病也，非滋降不可。</p>
<p>炒熟地　當歸　沉香汁　法半夏　紫石英　炙草　茯苓　橘紅瘧後，日輕日重相間，此名子母瘧。嘔惡，邪在少陽居多，體虛難用小柴胡，仿其意為之。</p>
<p>鮮荷葉邊　法半夏　橘紅　草果仁　茯苓塊　生薑脾弱，不能散津上輸，故咽乾口渴，用東垣法。</p>
<p>葛根　麥冬　於朮　升麻　生甘草　陳皮　人參　五味　川連　桔梗　炙草　澤瀉　穀芽復診　加木香、楂肉。</p>
<p>痛在右脅，是肝木鬱而不宣，以逍遙法。</p>
<p>當歸　柴胡梢　旋覆花　青蔥　白芍　茯苓　新絳　沉香汁　穀芽　蘇梗汁　炙草診脈短而澀，短為氣弱，澀為營虛，陰不戀陽，陽動而升，為心疼心痛，先宜清火育陰，徐議峻補。</p>
<p>熟地　天冬　石斛　石決明　磁石　牡蠣　丹皮　黃菊炭陽虛，寒濕襲入厥少二陰，下注成疝，治宜溫通。</p>
<p>細辛　附子　杞子　葫蘆巴　小茴香　吳萸　肉桂　歸身　穿山甲　干地龍　獨活　茯苓　韭根瘰　之生，膽汁不足也，而木火因之上升，失血、咳嗽、驚溏，所謂上傳及肺，末傳寒中也。滋則礙脾，燥則礙肺，兼顧方穩。</p>
<p>人參　霞天曲　蓮肉　穀芽　淡菜　沙參　米仁　藕喉痛原屬少陰，今痛止而猶腫，左關弦滑，陰虛有火，並挾熱痰，須滋其化源，佐以清熱之品。</p>
<p>熟地　山藥　茯苓　澤瀉　琥珀　廉珠　辰砂　燈心　人中白　石決明阿膠二兩化丸。</p>
<p>此非伏暑症也。暑既兼濕，無陽以化，則少陰之樞不轉，而太陽之開反闔矣。但熱居濕下，溫通又非所宜，宗河間法。</p>
<p>河間桂苓甘露飲胃脘痛，右關弱而不鼓，中陽式微，故肝邪乘之，用建中法。</p>
<p>當歸　炙草　香附　煨薑　官桂　炒大茴　橘餅　南棗久咳痰穢，膿血交作，並非肺癰，此褚氏所謂難名之疾也。病涉少陰而陰火甚熾，以飲豬膚　蛤殼　海參　川貝母　米仁根　梨汁陰虛挾濕，風陽易動，故痹症時發，濕邪宜去，卻不可燥。以燥藥易致劫陰也。</p>
<p>生地　杜仲　料豆衣　茯苓　炒黑防風　木瓜　麻骨　澤瀉　木防己　萆　桐皮　五加皮　黑芝麻　炒獨活　桑葉　鴨血　鮮山藥藤為末，牛乳拌晒二次，薏苡仁一斤，霍斛四兩，煎濃汁丸。</p>
<p>肝脈弦搏，火有餘也。痰中帶紅，以前曾墜馬跌傷，瘀血留絡所致。當於育陰中，佐行瘀之品。</p>
<p>炒熟地　參三七　楂炭　麥冬　阿膠　白花百合　藕節汁　柿餅病濕挾風，身發紅瘰，服搜風之劑，外燥裡濕。外燥，故風愈烈，內濕，故水益聚。膚裂水潰，始覺微癢，豈非濕泄而衛氣得行之據乎?此症以治濕為本，而禁風燥之品。</p>
<p>干首烏　桑葉　石決明　川斛　生術　黑芝麻　細生地　梨汁胃脘痛發，必寒熱得汗則解，厥陰病從少陰而泄也。平素陰虛內熱，卻不可用滋補，從交感朱雀兩方出入以消息之。</p>
<p>朱砂　香附　人乳拌茯苓　蓮蕊人乳藕汁泛丸診脈小而弱，經阻四月，脈不見滑象，未可即以妊斷，但體質素虛之人，往往脈形有不見滑利者，以氣血不充故也。治法不妨為子莫執中之說，則於本體有益無損，可無畸重畸輕之弊蘇梗汁　陳皮　金柑皮　藕　歸身　砂仁　炒鍋巴經不至者，兩月有餘，此營不足也，惟氣能生血，法當大補。</p>
<p>制於朮　白芍　茯神　熟地炭　歸身炭　遠志炭　楂炭　沙參　炒黑棗仁　湘蓮　炙草淮麥氣衝則噫，氣病自下焦來也。姑用鎮逆法。</p>
<p>炒熟地　山藥　茯苓　紫石英　萸肉　丹皮　澤瀉　五味子　杞子炭紋銀一件。</p>
<p>氣從脅下，上升走絡，其至於巔，則為頭痛，壯陰和陽，佐以鎮攝，自是一定之法。</p>
<p>炒熟地　淡菜　石決明　天冬　西參　蛤殼　牡蠣　川石斛病在少陽之絡，宜滋養而佐宣通之品。</p>
<p>歸身　枸杞子　續斷　陳酒　新絳　人乳　木瓜右臂酸楚，痹而不行也，宜調營分。</p>
<p>桂枝　紅花　川斷(酒炒)　當歸　仙鶴草(雞右翅血拌炙)　絡石補脾而兼補其先天之不足處則可，若云益命門之火，則沖氣無陽虛之理，正可不必也。</p>
<p>制於朮　橘紅　神麯　楂炭　雞內金　法半夏　砂仁　川連　茯苓　全牛膏　紫河車丸眩暈，用王氏妙香散。</p>
<p>焦於朮　棗仁炭　龍骨　遠志炭　茯神　生智仁　茯苓　炙草　藕診得右關，其來頗疾，此肝邪擾中之象。脈形不長，是肝木之郁，左關弦長，幸其全局，猶在左部。若並於右胃，必病矣。</p>
<p>炒熟地　石決明　天冬　西黨參　阿膠　生牡蠣　川石斛　淡菜　豬項骨用木瓜一錢，煎湯和入鴨血，瓦上炙黃，煎湯去油代水。</p>
<p>腎水上泛，連肺液而上出，故一咳而連咳不已。昔立齋云：氣虛有痰，用腎氣丸補而逐之。其自注云：腎氣丸，即今之六味也，今仿此意為之。</p>
<p>六味加麥冬　豬內腎　五味　蓮須尾閭骨痛，即以異類有情者補之。</p>
<p>豬尾骨　歸身　木瓜　新絳脈象已和，惟小便時莖中痛，連及上。若小便長，則不病也。此是陰中有火，病在小腸丙火。宜以養營合導赤，用東垣法。</p>
<p>熟地　炙　白芍　炙草　生草梢　於朮　歸身　陳皮　茯苓　小木通加淡竹葉。</p>
<p>痛止而經事猶行，應止不止，衝脈不攝，宜兼調之。</p>
<p>炒熟地　杞子炭　牛角腮　螵蛸黑　蛤粉炒阿膠　杜仲　白薇　丹皮炭左關獨弦，春脈如弦，或以將交春令使然。但弦而帶急，是屬肝陰不足，凡心悸腰痛，悉由此。</p>
<p>細生地　棗仁炭　川石斛　石決明　辰砂　茯神　杜仲經行速而為日多，沖不攝也。寒熱發而腹中痛，營氣虛也。病關八脈，陽惟督脈波任皆及也。法以調奇經為主，使河津漸充流於經脈，病可漸愈矣。</p>
<p>熟地炭　羊尾骨(炙)　艾炭　阿膠　杞子炭　沙蒺藜　杜仲　炙螵蛸　絲吐灰　白薇下多，陰氣大虧，近兼渴飲溺少，三消有二，身仍微熱，乃因嬰幼，陰常不足，適當溽暑鬱蒸，熱傷津液，最虞肉削。</p>
<p>參須　麥冬　五味　鮮蓮子　炙草　炒山藥的系溫邪，壅閉肺絡，咳喘氣粗，聲音不揚，甚則抬肩鼻煽，舌白不渴，裡熱不盛可知。是以苦泄淡滲，效而不效者，必佐辛宣通泄達邪，冀望奏續焉。</p>
<p>紫菀　川貝母　竹葉　蘆根　杏仁　鬱金　連翹　蔻仁再診。</p>
<p>桑葉　鬱金　連翹　通草　杏仁　竹葉　蘆根　川貝　蔻仁疝本肝腎為病，又挾濕熱下注，以致睪丸腫癢。昔子和分導濕熱，丹溪利氣辛芳，以二者兼治之。</p>
<p>萆　白蘚皮　茯苓　米仁　通草　生草梢肝陰素虧，伏邪內發，始先不寐，繼則往來，腹中絆痛，泛惡乾咳，寒熱得汗，熱未退盡，脈左弦，右澀數，治以和陽益陰，少佐清熱。</p>
<p>桑葉　葳蕤　料豆衣　茯神　丹皮　巴杏仁　炒白芍　橘紅痹痛雖緩，營液頗燥，氣機上阻，此屬肝胃營艱於宣布，余邪猶羈留腸腑，未盡化也。</p>
<p>歸身　廣皮　赤苓　金毛狗脊　柏子仁　油松節　萆　生麥芽　枳殼暑病槁熱下利，昏狂譫語，至旬日而陡然口喑目閉，手足顫掉，是邪熱內陷心胞，肝陰告絕矣。危險何辭。原翁芳香開絡，亦背城借一計，佐以清滋熄風，以冀弋獲。</p>
<p>鮮蓮子　羚羊角　川貝　麥冬　鉤藤　稻葉化至寶丹一粒。</p>
<p>病情如昨，勢不可援，勉擬以冀萬一。</p>
<p>淡芩　黑山梔　甘草　元明粉　連翹　薄荷　大黃今日病情更幻，用藥更難，議從手經開達。</p>
<p>枇杷葉　杏仁　荷梗　青蒿梗　桑白皮　桔梗　佛手　連翹　川貝　鬱金前病，暑去濕存，今又濕復招暑，煩熱一候，神煩寐少，脈數右大，舌紅口乾，陽明不和，濕轉化熱矣。</p>
<p>大竹葉　法半夏　甘草　麥冬　生石膏　粳米仿仲聖復病法。</p>
<p>淡豆豉　黑山梔　枳實更衣後，勢猶不退，表未解也。舌紅苔黃，小溲短赤，裡熱亦不清泄。議從三焦分泄。</p>
<p>大竹葉　豆卷　杏仁　連翹　大麥芽　桑皮　赤苓　滑石氣痹化熱，機竅不宣，專開上焦，使其氣化熱泄。</p>
<p>黃芩　山梔　桔梗　枇杷葉　紫菀　淡豆豉　枳殼議旋降辛開，宣氣熱以通絡。</p>
<p>旋覆花　黑山梔　枇杷葉　青蔥　鉤藤　新絳　生麥芽　紫香附寒熱咳嗽，外感新涼，經水適至，止而復來，邪熱內傷營分，雖有肝氣內著為痛，仍宜宣手太陰，使痹郁得開為要。</p>
<p>淡芩　黑山梔　枇杷葉　青蔥　枳殼　炒豆豉　杏仁　新絳脈弦帶數，偶吸暑濁，致身熱不解，而宿病肝氣隨發，腹中塊壘，痛劇，嗆咳心嘈，皆屬木火升擾。姑以宣降開達，佐以輕苦和陽。</p>
<p>枇杷葉　黑山梔　金石斛　桑葉　杏仁　炒豆豉　生麥芽　半曲</p>
<h2>卷三</h2>
<p>骨小肉脆，定非松柏之姿，脈數經停，已現虛勞之候，先天既弱而水虧，壯火復識而金燥，歲氣一周一損，豈容再損。秋風乍荐已傷，難免重傷，證具如前。藥惟補北，非敢說夢，聊以解嘲。</p>
<p>生地　沙參　地骨皮　麥冬　金石斛　生鱉甲蘇祿國貢使契　丹，副使阿石丹，久咳不能臥案。</p>
<p>辨八方之風，測五土之性，大率貴邦，偏在中華之巽上，箕尾之前，翼軫之外，陽氣偏泄，即有風寒，易感易散，來此華夏，已屬三焦。況不得臥下，肺氣大傷，止宜潤降而已。</p>
<p>蜜炙枇杷葉　麥門冬　川貝母　甜杏仁　經霜桑葉　米仁</p>
<p>《內經》謂：骨肉柔脆之人，其質本弱，然以脈症較之，其咳原屬手太陰得之，聞先一人補北沙參　燕窩　桑葉　冰溏　川貝母　紫菀少腹有形隆起如阜，上至心下則厥逆，來疾去駛，雖大力人拒之不能卻，上則人身為之上竄血，隨其上下溢出，群醫不能治。余思此症載在《難經》，特未曾縷晰示人耳。且云：此物伏在臍旁上下則少楚，伏入臍中則少安。可見臍旁兩穴，亦與此條相合。且弗揭明其義，一任群公思而得之可也。</p>
<p>用薄荷湯送下神秘丸，以病患自思此湯飲之，其物條伏而不動，故亦用之。素來擾虧根不特病者自嫌，即操醫師之術者，亦跋前　後之時也。值風木適旺之令，病目且黃，已而遺精淋濁，少間，則又膝脛腫痛不能行，及來診時，脈象左弦數，右搏而長，面沉紫而時時作嘔，靜思其故，從前紛紛之病，同一邪也，均為三病，次第纏綿耳。由上而下，由下而至極下，因根本久撥之體，復蒸而上為胃病，是腎胃相關之故也。倘不稍為戢除一二，但取回陽返本，竊恐劍關苦拒，而陰平非復漢有也。謹擬一法，略效丹溪，未識何如。</p>
<p>羚羊角　木瓜　酒炒黃柏　伏龍肝　生米仁　橘紅　馬料豆勞得愈，如麟毛兔角，或叩之瓊台丹扃間，求金光一葉，庶幾脫然。</p>
<h3>小建中湯</h3>
<p>脈象右三部，洪數弦急並現，左上數中緊，先患陽精不升，次及於陽絡不固。蓋至陰生陽，真有餘之軀，亦不足以供其漸耗。今將投味濃入陰者乎，抑投味薄清陽者耶?竊恐山川草木，皆不足以還返金品，莫妙夫大藥金丹，周天火候耳。然又不可不以服食之方佐之，擬候尊師同訂，終慚布鼓，希諒之。</p>
<p>建蓮肉(一斤，帶心撲如麻子大飯上蒸晒九次為末)　麥冬肉(一斤)　嫩荷葉(半斤)　頂生地(四兩)　金櫻子(去毛，半斤)以前四味熬膏，同蓮肉粉杵為丸，秋石湯送五錢。</p>
<p>抑郁頓挫，　HT　無聊心乃偏倚，十二官皆無主，則陰氣並於陽也，投以重鎮之劑。</p>
<p>生鐵落　鬱金　半夏　苦參　橘紅　塊苓陽極升而不入陰，郁沉而不附，是以有晝無夜，離明當午而睡，水漸衰矣。治以交陰陽，引衛入營，毋云血家忌半夏也。</p>
<p>半夏　酸棗仁　生地　生甘草　糯米　茯苓　米仁　去油乳香暑熱時邪，病經二十日，諸法具備，何必問途於蹇足。既承觸暑相招，勉爾揮汗撰方。</p>
<p>川連　半夏　生甘草　淡芩　茯苓　生薑此症原屬胃乏沖和之氣而起，要之，沖和之氣即太和元氣，位天地，育萬物，無非此氣，少幾霍然。若在操觚蓮幕。非所宜也。吾聞君子贈人以言，愛人以德，故瑣屑及此。</p>
<p>旋覆花　木瓜　生穀芽　炙草　代赭石　白芍　糯米汁病更節後，醫歷多人，朝張言熱，暮李論寒，臟腑各有受盛，運氣各有翕辟，眇爾一軀，遍嘗補瀉，不病亦病矣。宜守正持法，幸勿好大喜功。</p>
<h3>當歸建中湯</h3>
<p>脈弦勁如循刀刃，全無沖和之氣，木氣太過，金令不及，從後來者，謂之賊克，苟非致太和之氣，以消乖戾，必至陰失潛藏，陽無所倚，履霜堅冰至，豈可不未雨而綢繆乎!老子云：齒剛則折，殆其是也。切囑切囑。此方存之於左券。</p>
<p>炙甘草　北沙參　料豆皮　冬桑葉　生白芍　麥冬肉中土以嵩高而定八方之位，是蜀在坤矣。毓斯境者，脈宜緩而流利，今洪搏太過，面黃氣重，幸在浙已久，若處故鄉，是脈象當血溢，即日回蜀，宜早服丸以滋之。</p>
<h3>六味地黃丸</h3>
<p>清貴之脈，類多六陽，次則六陰，是皆純淳之象，今體稟六陽，是一征也。息分九候，位分三部，雖一部之中，均察臟腑，而左部顯然者，心肝腎三臟，今寸來空大，是心不藏神也。</p>
<p>關脈滑數，木無水養也。尺來浮大，水氣不衡也。火以木為體，木以水為母，先天一氣，由是通明，故知離中耦畫生陰，心氣日欲下交，坎中奇畫生陽，腎氣日欲上承，是即心腎一交也。丹訣云：水火交永不老者，此也。無非尋常日用之間，心欲寧，肝欲和，腎欲實，庶無恍惚悸動，以及肢末不利。而四體泰然矣。謹疏一方，先滋營衛，頤養之法，再圖疏呈。</p>
<p>人參　棗仁　遠志　當歸　炙草　熟地　茯神　元參　白芍　木香脈象較前稍和，兩手平均，俱就六陽本體，可卜無外來之氣，惟營衛少虛耳。但觀簿書旁午，是心陰不得不養，腎陽不得不藏，以供日用之精神，以副臨民之至意。先配湯藥，帶往省中，日進一劑培補，隨配膏丸相繼，憲體精神，自當日臻康泰矣。</p>
<p>人參　棗仁　歸身　炙草　茯神　元參　白芍　杞子　熟地　胡桃　桂圓肉</p>
<p>《內經》稱三陽結乃成膈者，單指太陽陽明少陽也。今從脈色較之，少陰與厥陰亦病。</p>
<p>若以填補下焦為首務，固所當然，但胃關一部，從何飛渡，且有一團鬱火，挾木邪橫亢於中州，得熱為伍，愈肆猖狂，若寒勢所不容，甘寒勢不容緩，倘令肺不生津，大腸不生液，津液愈虧，為病愈繁矣。且逆上者，肝邪也，水不生之耳。不納者，胃病也，肺氣不降耳。一身之中，津液真精，皆為切要。愚見專事於此，未識如何，先進五汁飲，次商投藥可也。</p>
<p>蘆根汁　甘蔗汁　茅根汁　鮮藕汁　水梨汁(各一杯)　生薑汁　沉香汁(各一小匙)診得脈象，惟有虛細無力，弦象俱退，手足顫振，此元氣虧弱之征。前此投藥，俱無少效者，蓋為元氣不克載藥行令耳。今無氣一日不復，則病機一日不退，病機與元氣本不並峙，此長彼消，理之常也。據愚見湯藥在乎其次，必以直走先天之品劑為膏丸，朝斯夕斯，久久自足，元氣元精，一朝而復，後天飲食，不強自強矣。因此症非暴感內傷，不必數數更方，以苦陽明胃口，且經不云乎。適於胃者為補，煎藥久服，適於胃者否耶。愚自吳中承給諫公之命，來斯一診色脈，固知不出此理，勉為鎮台留三日者，一則感鎮台下士之隆，一則為給諫公篤親之愛，而欲浙中諸醫。一批卻導　，以報鎮台，今參脈症，毋事更張，直補先天可也。議呈煎膏丸三方，煎則暫用，膏則時時頻服，丸則清晨為定，俟填補二十日外，便有消息，尚當叩階復診何如。</p>
<p>方未見尊體本陰虛，陽氣並邪獨發，熱二十余日不解，蓋陰液枯，不能作汗，邪亦不解也。連劑養陰之後，邪少松，則大汗泄，是云行雨施，品物咸享之候，何疑其脫耶?但弱體久病不解，元氣愈虧，此邪稍出，大汗作，亦屬接補關頭，不容少懈耳。心靜則氣定而神住，切不可憂擾神氣，致陽上升，至囑至囑。</p>
<p>人參(四錢)　熟地(一兩)　抱木茯神(二錢)　天冬(三錢)　製首烏(五錢)　左顧牡蠣(六錢)脈空弦，腹中急痛，肝病也。治肝不應，治脾亦良法也。</p>
<p>粗桂枝(一錢)　沒藥(五分)　白芍(二錢炒黃)　甘草(一錢炒黑)　琥珀(一錢)　飴糖(錢半)骨小肉脆，本非松柏之質，補瀉溫涼雜投，豈是濟生之術。幸能食便實，秋令尚可扶持，然破　脫肉，側眠經阻，醫者猶然夢夢何也。仆老不談醫，聊書數語，並擬一方。</p>
<p>熟地　炙草　當歸　生左牡蠣十二經皆有咳，胃病安得不咳?況此土病於金臟，而腑亦病，於此而求其痛與瀉，一在於胃之上脘，一在於肺之腑，所以無從蹤跡也。仰屋圖維，必須分兵合剿，乃得擬一法，請諸道長，以此而益精之，或芻蕘可采，為蝦力於行舟何如。</p>
<p>江西赤石脂(六兩，　)　炒黑乾薑(一兩)二味為末，黃米飯為丸。</p>
<p>人參(一錢)　炙黑甘草(一錢)　大棗(五錢)　飴糖(五錢)　桂木(一錢)　酒炒白芍(二錢)　煨熟生薑(一錢)水煎一次，去渣，送前桃花丸三錢。</p>
<p>病本濕溫，元氣不能載邪外出，有直犯中焦之勢矣。擬以梔、豉上下分開之，薑、芩左右升降之，芳香之草橫解之，以冀廓清諸邪，未識得奏膚功否。</p>
<p>黑山梔　淡芩　川鬱金　生香附　炒香豉　生薑　鮮石菖蒲　生甘草病久緒紊，終不離乎厥陰一臟。今商佐金氣以暗制之，滋營氣以撫綏之，實太陰以堵御之，亦子貢存魯，霸越滅吳之意。</p>
<p>羚羊角　人參　製首烏　清阿膠　麥冬　云茯神診得真氣久不周於四肢，又暴受暑邪類中，遺溺目瞑，脈弦數而上承魚際，肝風為足厥陰，用對證之藥以救其逆。</p>
<p>羚羊角　竹茹　連翹仁　鮮桑枝　半夏　鮮石菖蒲根人生五十一臟哀，況向六乎?所患聚訟者，皆主腎臟。蓋以所述，大旨在扼定脾臟，則樞機得而四運成矣。</p>
<p>獨術膏先用十斤可也。</p>
<p>真氣已漓，病何能愈，有愈之方者，其仙乎?歸芍六君去甘草，鮮桑枝煎湯代水。</p>
<p>此太陰被濕氣熏蒸，無清肅之權。木無畏，右肩臂漸顯不仁之象，曲　傷生而尚甘之，我不解也。</p>
<p>生米仁　鮮蘆根　生地　嫩桑枝　白歸身　赤芍人身之脈，胸走手，腹走足，八十丈周於一身，未有沉寒傷筋之損而不及於下者。先後異時，為患則一，非鮑姑之艾、文伯之針不能愈。內服八味湯可也。</p>
<h3>桂附八味丸</h3>
<p>佞布之人多嗜，積郁之人多火，久而久之，怫鬱之性，　發波掀，若狂若魅，藥石既不能與，先與丹藥焚於室中，以辟易其狂悖可也。</p>
<p>如意丹七丸須眉自落，皮毛淖澤，脈來浮澀，此風也，非衰白也。三十六種，同出異名，非淺可之疾，夏月宜食香風蛇，即俗名黑風蛇也，與雞煮食之。</p>
<p>白歸身　白麻　赤芍　生地　旱蓮草　僵蠶　銀花　茺蔚子　夏枯花頭痛，　不見人為一忌。肝風，嘔吐膽汁為一忌。相與有年，知己惟此一人，豈宜坐視!條得挽回為妙，然固有數存焉者矣。</p>
<p>溫膽湯去枳實，加天麻、鉤藤、桑葉。</p>
<p>是證究屬肝風，則厥陰一經，未易制也。在古法，有鎮攝一法，有培土御之一法，所以東垣人參　焦術　茯苓　柏子仁　半夏　陳皮　熟地　白歸身　炙草　鱉甲久咳移邪犯胃，因咳而肺肅無權，故氣升逆，勿用瀉損肺氣之藥。</p>
<p>水梨去心帶皮搗爛，絲綿濾清，慢火熬成膏，收入瓷缸內，蠟封口，每日開水送五錢。</p>
<p>陽明脈實，氣急而喘，壯火食氣，消爍真陰，夏氣開張而劇，剝棗時坦境也。此刻不能他圖，姑與溫膽湯，少衰其熱，以保傷金。</p>
<h3>溫膽湯</h3>
<p>體盛之人氣必弱，寒熱乍起，即現小便短數，頭項　動，舌乾齒燥，氣促，脈左弦右弱，渴天花粉　卷竹葉　濃橘紅　青蒿梗　麥冬　六一散脈數，五六日不更衣，舌黃唇焦，胃熱熾矣。況前服之藥，皆辛溫耗陰之品，今非寒涼不可，然宜小心保護為主，因熱邪深入陰中，而陽氣獨亢故耳。</p>
<p>川黃連　枳實　栝蔞　赤芍　生甘草　陳皮　杏仁　木通病之原，由食柿過多，得寒而起，於茲二十余年矣。要知柿為西方之木，其實稟秋金之氣而成，其與肺金為同氣相求，可知其邪入肺，發為氣哮，久則腎水無本，虛而上泛為痰。胃為貯痰之器，所以降氣湯、六君子，由肺及胃，皆得小效，而不除要莒，與即墨不拔，齊地終非燕有，況脈象尚悍，當深入病所為是。擬仲景方法。</p>
<p>甜葶藶　苦葶藶　大棗嗽而失血，已逾三載，纏綿不已，色黯脈弦，嗽益甚，環口色黃，由於肝脾，及於腎，上藏為其所取，給而不能應矣。飲亦從而為患，逐之不得，滋之無功，遷延日損，莫可彌縫，當取其中以冀流布，庶幾近之。擬宗建中法，加以滌飲之品，俟陽明升而繼以大補太陰，然後漸入純陰之法，否則非治也。</p>
<p>小建中湯去薑。加茯苓、薑皮。</p>
<p>古人造字，兩火著力為勞，故為君相二火而說。溫補中州，以靜痰之源，補下焦以益水之源。但病勢已深，恐非一擊可破也。</p>
<p>熟地　枸杞子　元參　牛膝　茯苓　紫石英橫則為　坎，豎則為串水，中間一點真陽，水虧則露，為龍火。KT　為震，震下之陽，與之同源當用一元丹，久服愈矣。</p>
<p>澹秋石五六斤，紅棗漿為丸，早服五六錢，晚服二三錢，以陽秋石少許點湯送下。</p>
<p>脈弦數，尺獨大，咳而喉痛失音，乃數載失紅之後，其陰虧火炎，不言可喻矣。唯有至靜之品，引陽潛入陰中，庶近內經之旨。然須作靜攝工夫，使陰秘陽密，得坎離相交之力為妙。</p>
<p>熟地(海石粉搗爛)　金石斛　北沙參　茯苓　麥門冬　生白芍　龜腹板　山藥形忽漸瘦，脈虛極，氣怯偶咳，目黑微眩，忽忽不樂，補氣補血，人所知也。宜將陰獸，引入陰中，藥猶得力。早晚捕獺一頭，取肝陰乾用鹿角膠，各於木器杵碎，早服鹿角膠末一錢，晚服獺肝末一錢，皆開水送下。此常用百日之法，今擬煎方先服。</p>
<p>人參　茯苓　菟絲餅　南棗　焦冬術炙　枸杞子左關搏指急疾，右關弦大，無胃氣不歸元，充海無根，右關如是，當劇於春，右關如是，當折於秋。恐左關為應，勉擬古人乙癸同源之治。</p>
<p>大生地　女貞子　枸杞子　茯神　元參　杯山藥　紫石英此病起於費心勞碌，風寒不切，遂致咳嗽吐痰，久則內傷。內傷者，內中之藏氣傷也，即古人所謂虛勞證總不得愈，必須絕去費心勞碌之事，一毫凡念不起，助之以藥，或可延年。</p>
<p>麥冬　阿膠　桔梗　炙草　沙參　米仁　茯苓此痧勞也，由於太陰傷損，日傳至足少陰，脾氣少溏，則入下藏也，百無一治，速宜返棹。閉關靜養，方一首奉贈，日飲可也。</p>
<p>熟地　阿膠　百合　枸杞子花甲之人，兩尺獨大，二臟已衰之際，豈宜如此!急進乙癸同源之法可矣。</p>
<p>熟地　女貞子　菟絲餅　茯苓　元參　旱蓮草　枸杞子蜜丸此真陰虧證，俗名百日勞也。稍有伏暑，所以寒熱愈甚，惜乎治之不早爾。</p>
<p>熟地　茜草　青蒿　元參　滑石　丹皮坎中一畫，真陽孤飛於上，一交巳午之月，神水金丹，亦奈之何。</p>
<p>老生薑　天冬　懷牛膝　甘草　川石斛　元參　女貞子稟性好食辛，醫書云：多食辛，令暴卒。今診得色脈，形骸俱憊，不須暴卒，亦不長生。自宜持其病，今先服三生飲。</p>
<p>生地黃　赤茯苓　麥冬　粉甘草　生米仁　紅棗此一損證也，從上損之下者，一損肺，肺再傳心，傳肝，傳脾，脾損便溏，傳至腎，則骨痿不能於床，斷不可再投理肺藥，以速其提，惟豬肚丸可服。</p>
<h3>豬肚丸</h3>
<p>未過五旬，形脈色俱衰，叩之連喪三子，得不如是耶，況復傷其孫乎!此非藥餌所能療川貝母　生地　茯苓　麥冬脈得數而且弦，此陰虧症也，並非外感。今以虛火升而頭痛，漸有金水兩傷之勢，靜攝乃得，藥餌其次也。</p>
<p>熟地　女貞子　麥冬　龜板　元參　澹秋石棗漿為丸，開水送下。</p>
<p>肺為水主，熱淫則融，融則水源竭矣。土為金母，不承則金無生。土金水三藏日澌，苟無玉液，神精安能返?既憊之有形，雖擬禁方，亦據古人之常談耳。</p>
<h3>葦莖湯</h3>
<p>心陰虛則易汗，肺陰虛則多嗽，肝陰虛則火升，腎陰虛則發熱，脾陽虛則便溏，非一真陰乎，怯症之漸也。但知頭痛醫頭之為良醫，不知履霜堅冰至，君子其為憂危之心也。</p>
<p>炒白芍　小生地　麥冬　棗　桂枝木　炙甘草　青蒿梗　雲苓診得脈細數而微，舌乾黃，下利，身焦燥而不潤，此為下多傷陰，熱邪因之而內陷，大可慮也。治法輕以清其邪，苦以泄其熱，未識應否。</p>
<p>川連　小生地　人中黃　淡豆豉　木通　金銀花飲食不和者，太陰虧也。葛稚川肘後方，有一味治虛勞之法，少陰厥陰虧者，鹿角散。</p>
<p>太陰虧者，神麯散。今用神麯散。</p>
<p>真陳六神麯研細炒香四兩，每食後，用開水調服二錢。</p>
<p>中焦為氣血津液朝會之所，今診得胃氣不能脈中流布，其亦元氣中餒也。酸以攝泄，辛以流動，惟甘以培養，因增腫患而卻之。擬方備閱。</p>
<p>橘白　灼艾　醒頭草　麥冬　木瓜　五味子厥有十四，泄為一法，鎮為一法。蓋因曲直太過，不特下侮土，並其上不畏金，鎮法恐其格不相入，宜因其勢而利導之，然後潤之滋之，鮮有不濟者。</p>
<p>羚羊角　金鈴肉　生甘草　淡吳萸　黑　豆　生白芍　雲茯苓　川鬱金汁仲景書云：瘧脈自弦一句，開盡人天眼目，今三部九候之中，並無一毫弦象可見。與正氣相戰者，非比春之風夏之暑，南方之瘴也，於此推之，思過半矣。</p>
<p>草果仁　炒厚朴　陳皮　白茯苓　製蒼朮　炙草脈愈按愈大，可知陰氣不足，瘧邪得以深入，漏蘆、鱉甲補陰太過，非花甲勞心之體所宜。</p>
<p>人參　蔻仁　淡黃芩　生牡蠣　生地　陳皮　小青皮　生首烏　新穀　薑汁明系肝風上冒，右尺脈碎亂搏指，此乙癸同源，腎肝同病也。但少陰之脈，不至於巔，惟厥陰能至，以肝為重，腎次之。</p>
<p>羚羊角　生地　半夏　白芍　當歸身　陳皮　茯苓　菊花　女貞子此由金水不相承挹，故咳久不愈，切勿理肺，肺為嬌藏，愈理愈虛，證不可泛然滋陰。</p>
<p>北沙參　整玉竹　云茯神　川石斛　甜杏仁　生扁豆短氣失音，喉中時作水雞聲，右脈如革，面浮色痿，肺胃應之，心下痞硬，補瀉紛更，動無一效，甚於水冷，劇於春候。擬進葦莖越婢成湯，進飲三劑。</p>
<p>石膏　桂枝木　白芍　杏仁　冬瓜子　生米仁木屬濕溫。犯在三焦，先斥腠理，誤傷手太陰足太陽之氣，必致漸入虛損一途，非病之過，治之過也。必移入高明靜虛之室，治以百日之遙，庶幾得之。擬言開太陽，益太陰。</p>
<p>淡乾薑(同五味子搗爛)　茯苓　地骨皮　桑葉　生扁豆　生甘草弦動無情之脈，即名胃少，雖非難經所謂但弦無胃，而久病有此不宜，莫因失血而久進純陰之藥，陽氣抑而陰無所恃也。拙見且進甘溫。</p>
<p>建中東加人參、炙綿　、歸身。</p>
<p>病在奇經，治他經不應，要知血行清道，便知清氣不肅，所以鼻紅昏暈二者皆出督脈，好異無用，以古法之法治之自效。</p>
<p>生地　犀角　廣圓核　側柏葉上蜜丸，早服五錢，晚服三錢，開水下。</p>
<p>暑者，熱中之陰邪也，心先受之，侵入胞絡，怠惰不語，神昏肢冷，為不治。今脈遲軟，漸有是機，四末漸冷，竟有內閉外脫之虞。急用通陽救逆之法，仿右大順散之義，未識何如。</p>
<p>桂枝　半夏　焦白芍　炙甘草右脈芤搏，耳聾，血下溢，寒熱不已，陰絡所傷，而厥陰不攝，當從至陰中宣出熱邪，是存陰第一義也。</p>
<p>青蒿　白知母　生白芍　炒黃柏　鱉甲　鮮荷葉元米一合，泡湯為水。</p>
<p>右脈一息七重弦，左脈一息六至緊，咳而不得息，陰氣已弱，金水同受病，且議景岳六君煎投之。</p>
<h3>金水六君煎</h3>
<p>素有喘症，形氣怯弱，咽痛不腫，時咳，此新感風溫在肺，氣不下肅，尚宜清降。</p>
<p>桑葉　白沙參　塊茯苓　杏仁　川貝母　南棗肉稟質既薄，咳紅，極易傷陰，不可理肺，緣水出高源，肺主氣母，借以生津補液，周環生地　清阿膠　枸杞子　料豆皮　麥冬　百合昨所同議之方，以兩關按之，脈弦，特借仲景旋覆代赭法，同四磨飲投之。旋覆有轉旋，代赭為鎮墜之品，鹹寒可降，酸可入肝。四磨則漸摩運化，使手太陰得行清肅之令，足厥陰無克侮之暴。今診得兩關弦象已減，面浮少退，是藥已應，而暴渴欲飲，則仍然如故。是則陽明之腑，中垢不去，煎熬津液，下流一日不通，上流一日上泛，雖有補虛之策，孰敢泛投?且其虛脈虛象，顯然彰著，勢不容緩。前既借仲景之法，以退兩關之弦，此獨不可借仲景急去宿垢以存津液。然未可以子和霸法投之，擬以緩法，推陳致新，仍候昨日兩道長印可旋覆花　代赭石　人參煎送沉香化氣丸二錢五分。</p>
<h3>滋營養液膏</h3>
<p>女貞子　廣皮　干桑葉　熟地　旱蓮草　白芍　黑芝麻　枸杞子　鮮菊花　歸身　黑豆玉竹　南燭葉　白茯神　沙蒺藜　炙草上前十四味各四兩，後二味各二兩，天泉水。桑枝火熬成膏，收入真阿膠三兩，煉淨白蜜三兩，瓷缸貯好，每日卯時挑服五六錢，開水送下。</p>
<p>此方為林下服食之大藥，肝氣不和之妙品。貞、蓮二味，法二至以暗轉陰陽，佐以桑、調風氣應候，播植生機，助以杞、菊，為升降之春秋，亦承流以宣化。歸、芍辛酸，一通一泄，使無壅滯之情。地黃、蒺藜，一填一養，不致肌虛之困，　豆滋水息肝，南燭培元益氣，茯神、玉竹為營衛報使，橘紅、甘草為喉舌真司，阿膠濟水造成，激濁揚清之凜冽，蜂蜜百花釀就和風甘雨之仁慈。服之不特調元卻老，且以見天地之生生有如是也。</p>
<h3>心脾雙補丸</h3>
<p>人參　元參　五味子　遠志肉　麥冬　茯神　酸棗仁　柏子仁　於朮　川貝　生甘草苦桔梗　丹參　生地　川黃連　金蘋香附　朱砂上為末，用桂圓肉熬膏代蜜，搗丸如彈子大，每晨嚼服一丸，開水送下。</p>
<p>經云：女子以心脾為立命之根，凡心脾氣鬱，郁則從火。久久不解，漸耗五陰。特制此方，有通有補，允與丹溪、立齋諸公相頡頏者，方義蓋取人參養心，麥冬益心津，生地、丹參、元參益心陰，茯神、柏子、遠志安心神，五味、棗仁收心液，川連、甘草瀉心陽，桔梗利心氣，朱砂鎮心怯，白朮健脾陽，香附暢脾陰，川貝療脾郁，特重其數，以對待心脾二臟，龍眼代蜜，大補心血，甘草和脾。丸如彈大，細嚼吞下，不致直趨下焦，其功倍著矣，名曰心人參　雲母粉　當歸　金鈴子　生地　吳茱萸　炒白芍　妙白川芎　乾漆　製香附　藕粉(生用)　老白韭根上為末，真神麯糊丸綠豆大，每日百丸，空心開水服下。</p>
<h2>附刊書札</h2>
<h3>其一</h3>
<p>自親雅范，若飲醇醪，別來時憶清芬，不啻東野云龍之感，緬想足下遠溯靈蘭。近搜雜著，特開生民之壽域，實為濟世之慈航。弟於斯道交情頗廣，未嘗有究心如足下者，欽佩之至，茲於夢琴仁弟處接奉朵云，極承綺注，垂愛殷拳，深銘五內，並荷惠及瑤章，過獎太甚，益覺汗顏。鄙人自愧才疏，碌碌奔走，三十年來，愁長鬢絲，皮寬腰帶，身如蕉而破碎，肘生柳以支離，燕影萍蹤，依然故我，不免為時光所笑人也。拙著《瘟疫》一書，成於倉猝，筆墨荒蕪，豈堪行世，因承不棄，故敢布鼓於雷門，倘足下必欲付之梓人，務求深加斧政，去其瑕疵，集中尚有紕繆及字畫未真處，另呈裁正。承錄校刻姓氏，得叨附驥，不勝欣幸，夢</p>
<h3>其二</h3>
<p>執別逾歲，　繒曠鬲，離逖之感，驅役魂夢，朗月照膽，清風吹懷，欽響靡　，伏維足下業兄言而嘆息，足下尋墜緒之茫茫，獨旁搜而遠紹，作中流之砥柱，回既倒之狂瀾，是以觸處生春，頌聲遍地，所謂無一夫不被其澤者也。昨承托致秋山尺素，領悉靈蘭秘冊，盡付剞劂，活人壽世，流澤何窮。恕輩指南有針，實堪領教，惟蒙以校刻之中，叨廁賤名，慚恧實甚，拳拳盛心，何以克當，感謝奚似。倘刷印後，乞早賜讀是幸。景星慶云，先睹為快。</p>
<h2>跋</h2>
<p>銘奉吾師命，校訂《三家醫案》一書。師於是書，幾經歲月，隨在搜羅，輯往哲之良方，備臨時之寶鑒，案取揣摩，方留繩墨，斟今不致泥古，酌古即可通今。於以公諸同好，不吝青囊，授之吾徒，遙傳丹灶，此濟世之盛心，指迷之寶筏也。師近日又取徐靈胎所批《臨證指南》，重為刪訂，因華氏所刻，門類雖分，精粗交雜，爰復掃除繁蕪，務歸的當，庶使妙義顯呈，金針暗度，繼往開來，未始非吾師茲選啟其端也。今於醫案告成，附識數語，以續請</p>
<p><u>道光壬辰夏四月門人凌銘志於暖翠樓</u></p>
