<header><h1>奇方類編</h1></header>
<dl class="元資料" data-type="book">
<div><dt>作者</dt><dd>吳世昌</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1644/1911">公元1644年至公元1911年</data></dd></div>
</dl>
<h2>奇方類編序</h2>
<p>戊戌春杪，予貿書於齋中，得晤東海徐成霞先生，遂得晉謁鹺使者鄂公，並晤竟陵王帶存，錢塘梁帝培先生。咸不以予為鄙陋而忽之，然予亦不敢以市井習俗為諸前輩所共棄。初夏，江夏吳半千先生攜有手錄《奇方類編》一書。自頭至足，男婦小兒，內外諸證，以及六畜昆蟲，無不備列，以為行笈之善本。鄂公見而喜之曰：嘻！古之人不為良相，則為良醫。</p>
<p>然良醫豈易言哉！豈若方書之廣行於世得救人之普哉！合付諸梓以公天下，先生首宜焉。於是付之剞劂氏而登之梨棗，不日月而告成，刷印如千，以流通焉。然公任滿矣，復命迅速。</p>
<p>遂召予而言曰：是書之刻也，專以濟人為主，我以此板帶入京都，何能刷印行世，是猶秘而勿刻也。合授諸子，子當體我刻是書之心，久而行之。予曰：謹聞命。嗟乎！鄂公長白人也，以濟人之心而濟於吾桑梓間，予何敢不仰體利濟之心以公諸天下耶！至若藥性之寒熱溫平，歷方之可否去取，予非善醫者，不能罔為加減參訂。惟期獲是書者參而行之則幸矣。</p>
<p><u>康熙五十八年歲在己亥初夏</u></p>
<p><u>錢塘孫元龍雨田甫書於淵藻堂　</u></p>
<h2>卷上</h2>
<h3>頭面門</h3>
<h4>清空膏</h4>
<p>治諸般頭疼（惟血虛頭疼不治，如血虛頭疼，當用知柏地黃湯）。</p>
<p>川芎五錢　柴胡七錢　黃連（酒炒）一兩　防風一兩　羌活一兩　炙甘草一兩五錢　黃芩（酒炒）三兩上為末。每服二錢，入茶少許調膏，臨臥服，白湯下。</p>
<h4>都良丸</h4>
<p>治一切頭風疼痛。</p>
<p>香白芷不拘多少，蜜為丸，桐子大。每服一丸，荊芥湯下，連進三丸即愈。</p>
<h4>頭疼奇方</h4>
<p>全當歸（整的）五錢　川芎五錢水煎服。</p>
<h4>又治頭疼</h4>
<p>川芎一錢　茶葉一錢水煎服。</p>
<h4>偏頭疼方</h4>
<p>新蘿卜自然汁，加冰片少許，調勻。昂頭灌鼻孔，左疼灌左，右疼灌右，少時即</p>
<p><u>又方</u></p>
<p>細辛（去葉）一錢　雄黃三分研末。左疼吹左鼻，右疼吹右鼻，即愈。</p>
<h4>治年老人氣血虛頭疼方</h4>
<p>生地黃（酒炒）三錢　白茯苓一錢　山萸一錢　山藥（炒）一錢五分　丹皮一錢五分　澤瀉一錢　知母一錢　黃柏（酒炒黑）一錢水煎服。</p>
<h4>治頭上白禿</h4>
<p>用生鵝油塗在頭上，將舊鞋底洗淨，烤熱楂之。搽盡白皮，一連數次，不可淨</p>
<p><u>又方</u></p>
<p>用大鱔魚搗爛，敷之即愈。</p>
<h4>治禿頭</h4>
<p>用大紅棗一個去核，填砒霜入內，令滿扎緊，炭火燒焦存性。先用米泔水洗淨，後取霜研末塗之。</p>
<p><u>又方</u></p>
<p>用生黃豆炒黃為末，香油調楂，數次即愈。</p>
<h4>川芎茶調散</h4>
<p>治傷風，頭目暈痛，鼻塞聲重。</p>
<h4>薄荷八兩</h4>
<p>川芎四兩　羌活二兩　生草二兩　細辛一兩　防風一兩五錢　荊芥四兩共為細末。每服二錢，食遠，茶調下。</p>
<h4>半夏白朮天麻湯</h4>
<p>治頭目眩暈，惡心，煩悶，氣促，上喘，精神顛倒，欲吐，目不敢開，如在風云中，頭疼如裂，身重如山。</p>
<p>黃柏二分　乾薑三分　澤瀉五分　白茯苓五分　黃　五分　人參五分　蒼朮五分　神麯（土炒）一錢　白朮（土炒）一錢　麥芽（炒）一錢　天麻一錢　半夏（炒）一錢　陳皮一錢水煎服。</p>
<h4>治抓破面上皮</h4>
<p>自然生薑汁調輕粉末，敷之無疤。</p>
<p><u>又方</u></p>
<p>夜含蘿卜一片在口，醒即易之，收諸毒瓦斯。</p>
<h4>治兩腮紅腫</h4>
<p>百合一斤　山芝麻根（去皮）一錢　貝母一錢　玄明粉一錢　銀朱七分加白面調敷即愈。</p>
<p><u>又方</u></p>
<p>赤小豆末敷之，立愈。</p>
<h4>治腮</h4>
<p>青靛花敷之，立愈。</p>
<h4>治下頦落方</h4>
<p>烏梅，含一枚即止。</p>
<h4>治久患頭疼年久不愈者</h4>
<p>用川連一兩，好黃酒三碗，煮一碗服之即愈。</p>
<h4>太陽疼</h4>
<p>生薑三片，皮紙包，水濕入火灰煨熟，以兩片貼太陽，一片貼印堂中，以帶縛之立</p>
<h4>頭昏</h4>
<p>每早用茯神四、五錢，將腐皮四、五張，小罐煮之服。</p>
<p>頭痛發汗不出　細辛二錢　生薑二錢　核桃肉五個　蔥白五根同搗爛水煎服，出汗愈。</p>
<h4>頭痛</h4>
<p>本一個　牙皂一個共為末。絹卷燒煙附鼻孔聞之，效。</p>
<h3>須發門</h3>
<h4>烏發方</h4>
<p>用好墨一塊填在鳳仙花粗梗內，外用麻扎緊，俟霜後取出，磨墨拔白，點之自黑。</p>
<p><u>又方</u></p>
<p>母丁香、古墨各等分，好醋和成錠子，以薑汁磨少許，用新筆，拔去白者，點之即黑</p>
<h4>治婦人禿髮</h4>
<p>川椒一兩酒浸，每日擦之自長。</p>
<p><u>又方</u></p>
<p>嫩棗樹皮一把，砍一尺許，滿插瓷淨瓶內，勿令到底，上面以火燃之，下面流出汁水，先以溫水洗頭，後將棗汁刷禿處，即生發。</p>
<h4>發白返黑方</h4>
<p>赤石脂一兩　真川椒（去椒目及閉口者）一兩（炒出汗）　辰砂一兩（水飛）　白茯神一兩（人乳蒸七次）　乳香一兩（炒去油）　黑膠棗（去皮核，煮熟）</p>
<p>為丸，桐子大。每日空心溫黃酒下三十丸。</p>
<h4>烏須黑發藥酒方</h4>
<p>當歸　枸杞　生地　人參　蓮花蕊各四兩　五加皮二兩　黑豆一千二百粒　桑椹子四兩槐角子一兩　何首烏（黑豆蒸九次，晒乾）四兩　沒石子一對　旱蓮草三兩共入絹袋內縫住，用上好五加皮酒三十斤共入壇內，封固三七日，將酒榨出，其藥晒乾為末</p>
<h4>一秤金</h4>
<p>烏須黑發，滋益非常。</p>
<p>熟地二兩　枸杞二兩　蓮須二兩　槐角子（酒浸），二兩　南薄荷三兩，（一半入藥，一半為衣）　沒石子一兩　人參五錢　木香五錢為末，煉蜜為丸，彈子大。每日服三丸。</p>
<h3>耳目門</h3>
<h4>洗眼方</h4>
<p>治諸般火風時眼。</p>
<p>明礬三錢（為末）　銅綠三錢（為末）　白果三十個　烏梅肉三十個　杏仁三十個先將白果、烏梅、杏仁搗爛，後入礬、綠二味，和勻為丸，如芡實大。用紗袋包裹，以線扎之，投入滾水，泡出綠水，以青布洗眼。</p>
<h4>治眼目暴腫，痛不可忍</h4>
<p>服一二劑即止，再服清火之藥　當歸一錢　川芎八分　生地一錢　赤芍一錢　羌活一錢防風一錢　薄荷七分　白芷八分　生大黃二錢水煎服，名洗肝散。</p>
<h4>治痘風眼</h4>
<p>川連一錢　地骨皮一錢　白礬一錢　銅青五分　鮮槐條五節　川椒七粒　用水一大碗，煎滾取起，少冷又煎，如此三次。去渣入瓷罐收貯，埋土內七日，取出用雞翎掃眼角，忌風十四日。</p>
<h4>治迎風流淚，並眼目昏花神效</h4>
<p>用霜後桑葉，煎水洗眼，自愈。</p>
<h4>洗眼復明</h4>
<p>桑皮一兩　燒灰水一盅，煎八分去渣，洗至一年如童子。</p>
<h4>治目中肉並瞳仁障蔽</h4>
<p>用白丁香不拘多少，以初胎男子之乳調，點即愈（點少許不可多）。</p>
<h4>明目方</h4>
<p>山蒺藜一斤（搗，去皮刺，漫火炒去火氣）　青鹽二兩每用五錢煮湯服之，久而有益。</p>
<h4>點時眼方</h4>
<p>蜂蜜　熊膽　人乳　青魚膽各等分入銅勺熬成膏，加片腦少許，入瓷器收貯，點眼極效。</p>
<h4>治兩眼夜不見物</h4>
<p>羯羊肝一付，不見水，不沾鐵器，以竹刀切開，入穀精草、細米，瓦罐內煮熟，不時服之屢驗（黑羊者更效）。</p>
<h4>還童散</h4>
<p>治眼目昏暗，翳膜遮睛。</p>
<p>蜜蒙花一斤（蜜水拌蒸三次）　木賊四兩（去節微炒）　川芎活八兩（蜜水拌蒸）　白蒺藜四兩（共為細末。每服二錢清茶下。</p>
<h4>治耳內流膿腫痛</h4>
<p>番木鱉一個，磨水滴耳內，即愈。</p>
<h4>治耳出膿水</h4>
<p>海螵蛸（末）一錢　枯礬一錢　麝香一分　干胭脂五分共為末。吹耳內即效。</p>
<h4>治耳閉方</h4>
<p>細辛　石菖蒲　木通各一分　麝一厘共為末。綿裹塞耳中即愈。</p>
<h4>夜光丸</h4>
<p>養血滋腎，久服明目。</p>
<p>當歸　生地　牛膝　枳殼（炒）　菟絲餅　熟地　枸杞子　菊花　地骨皮　遠志肉各等份生熟地用酒浸，搗膏，丸桐子大。每服五、六十丸，食遠白滾湯下。</p>
<h4>還睛丸</h4>
<p>治男女風熱上攻，眼目腫痛，怕日羞明，隱澀難開，瘀肉侵睛或患暴腫疼不可忍。</p>
<p>川芎　白蒺藜　密蒙花　菟絲子　白朮（土炒）　木賊　羌活　熟地　甘草各等分蜜丸，桐子大。空心酒下。</p>
<h4>明目益胃還睛丸</h4>
<p>治中年兩目昏花，視物淚下如雨，皆由腎虛不足，少年酒色過傷，病目者當歸四兩（酒炒）　天冬二兩　麥冬二兩　白芍二兩（醋炒）　山藥二兩（炒）　川杜仲一兩（酒炒）　川牛膝二兩（酒炒）　百部二兩　川黃柏二兩（鹽水炒）　知母四兩（鹽水炒）　陳皮一兩　甘菊花二兩　黃　二兩（酒炒）</p>
<p>蜜丸，桐子大。早晚白湯服二錢。</p>
<h4>眼藥膏</h4>
<p>治目中翳障。</p>
<p>蘇仁四兩，去殼取仁。以紙夾壓去油，淨，入眼不疼為度，只存五錢配後藥。</p>
<p>熊膽五分　珍珠三分（豆腐內煮過，研極細，無聲為度）　乳香（去油）三分　沒藥（去油）三分五厘　冰片一錢用蒸熟蜜八錢和勻，研在一處收貯，點眼。</p>
<h4>治小兒耳內出膿水久疼不止</h4>
<p>枯礬一錢　龍骨一錢　黃丹二錢　海螵蛸二錢　麝二厘　干胭脂七分（燒存性）</p>
<p>共為末。將綿拭乾膿水，再吹入此藥。</p>
<h4>治火眼方</h4>
<p>用生薑切片，四圍貼皮上立效。</p>
<h4>耳聾開竅奇方</h4>
<p>活鯉魚一尾，不拘大小，劈腦髓，碗盛飯上蒸出油來，將茶匙挑滴入耳內，數次自然竅開，後服補藥收功。</p>
<p>故紙一斤　黑芝麻一斤　火酒二斤　童便一斤上四味同煮干為度，取出晒乾，再將黑芝麻共炒香，取故紙為末。不用芝麻，以老米醋打糊為丸，綠豆大。每服二錢，用杜仲（炒去絲）、知母煎湯送下，服一半見效，功不可述。</p>
<h4>烏子肝丸</h4>
<p>能烏須、黑發，聰耳明目，顏如童子。</p>
<p>用黑羊肝一付，竹刀切片，擺瓷盆內，外用羊膽汁塗於肝上，晒乾又塗，塗了又晒，約塗二、三百膽汁為佳，即少亦須塗百個，晒極干。再用：當歸四兩　生地六兩（蒸熟）　白芍（酒炒）四兩　川芎四兩　何首烏四兩（九蒸）　盆子四兩（炒）　旱蓮草四兩（酒蒸）山萸四兩（酒蒸）　白茯苓四兩　生地四兩（酒洗）少壯血余灰四兩上諸藥不可犯鐵器，共搗為末。再用大熟地十二兩，酒煮爛，搗入前藥，煉蜜為丸，桐子大</p>
<h4>眼藥奇方</h4>
<p>海螵蛸（河水煮七次，內外極淡外度）白硼砂二錢　爐甘石（傾銀罐內　紅碎，入童便內七次）用三錢　冰片三片　龍膽草二兩（水洗淨入瓷壺內，水五盅煮至二盅，濾過再熬，成膏如蜜）</p>
<p>以膽草膏並前藥研勻，搓如線香樣，外以官粉為衣，貯於鵝翎管內，用時以骨角簪沾藥點之。</p>
<h4>明目枸杞丸</h4>
<p>枸杞一斤（以酒潤作四分）　一分小茴（炒）　一分芝麻（炒）　一分川椒（炒）　一分枸杞（獨炒）　加熟地一兩（搗爛）　白朮一兩（土炒）　甘草一兩　白菊二兩共研末，煉蜜為丸，梧子大。空心每服五、七十丸，鹽湯送下。</p>
<h4>清肝明目散</h4>
<p>歸身一錢　枳殼　菊花　丹皮　白芍　防風　薄荷葉各八分　川芎　生地　白蒺藜各一錢柴胡六分　荊芥穗六分　燈心三十根食遠水煎服。</p>
<h4>目云障不見</h4>
<p>（因憂起者多）　羌活　川芎　蜜蒙花　穀精草　木賊　杜仲　青鹽　菟絲子　草決明各一兩　人參四錢各切成片，用黑羊肝膽入砂鍋內，加好酒三壺煮干，再加三壺，煮三炷香，去藥不用，只留肝膽，銅刀切片，新瓦焙乾，研末煉蜜為丸，如梧子大。每服三錢，空心滾水下。</p>
<h4>雀盲眼</h4>
<p>黑羊肝一具，切碎，入砂鍋內干炒，隨將目於氣上蒸，看肝熟隨吃隨蒸，必欲將肝吃完，隔日復明（羊要黑毛烏肉者佳）。</p>
<h4>洗爛眼邊</h4>
<p>爐甘石五分　黃連五分　銅綠三分共捶碎，清水泡露一宿，頻洗三日愈。</p>
<h4>開瞽復明</h4>
<p>雞苦膽一個，入蜜半匙，以線扎住，入豬膽內，吊檐下通風不見日處，二十一日去豬膽，留雞膽。先用人乳點患處潤之，少刻用骨簪沾雞肝點上，遍身透涼，流淚出汗，出二次即明。</p>
<p>禁茶百日，以霜降後桑葉煎湯代茶。</p>
<h4>點眼翳</h4>
<p>白鹽頭一塊，晨早放燈上　至午後，研細末。燈草浸濕黏鹽點於翳上，三、五日其翳自下。</p>
<h4>痘風眼即迎風洒淚不論年久可治</h4>
<p>枯礬　皂礬各一錢　花椒五分清晨用滾水沖於碗內，上用綿紙隔著，將銅錢一個壓於紙上，待自來清水，每日早、午、晚</p>
<h4>天絲入眼</h4>
<p>取桑樹漿點之，立效。</p>
<h4>兔毛入眼</h4>
<p>白礬，拳大一塊，水洗去塵，以舌　礬良久，其毛從舌根上出。</p>
<h4>眼目不明</h4>
<p>黃連　桑葉　生薑三味同煎湯洗之，日久自效。</p>
<h4>諸物入眼中</h4>
<p>用淨水磨京墨，以飯箸頭點入目中，即出。</p>
<h4>諸絲入眼</h4>
<p>用筆新的潤開，於眼內攪之。</p>
<h4>初起痘翳</h4>
<p>用白水牛虱子，取血點翳上即愈。</p>
<h4>痘風眼</h4>
<p>蛔蟲揉爛取汁，搽眼邊上，其效如神，永不再發，如無蛔蟲，即蛆亦可。</p>
<h4>耳內腫毒出膿血</h4>
<p>枯礬末入麝少許，吹入耳內，一日四次，或綿裹塞耳內。</p>
<h4>耳常鳴</h4>
<p>生地黃切斷，紙包火煨，塞耳數易。</p>
<h4>蟲入耳</h4>
<p>將薑搽貓鼻，其尿自出，滴入耳內，蟲即出。或用芝麻枕之亦出。</p>
<h4>諸般耳聾</h4>
<p>真細辛為末，熔黃醋為丸，如鼠糞大，綿裹一丸塞耳內，二次即愈。</p>
<h4>螞蟻入耳</h4>
<p>用精豬肉一塊，炙香放耳邊引出。或用穿山甲炒，研末調水灌之。</p>
<h4>蜈蚣入耳</h4>
<p>將雞肉炒香，放耳邊引出。或以薑汁灌之。</p>
<h4>蜒蚰蟲入耳</h4>
<p>將羊乳滴入耳內，即化為水。</p>
<h4>耳內外生瘡</h4>
<p>五倍子炒，研為細末，水調塗之。</p>
<h4>眼目昏花</h4>
<p>白菊花一升　紅椒（去目）六兩共研末。地黃汁為丸，如梧子大。臥時服五十丸，清茶下。</p>
<h4>眼藥制爐甘石法</h4>
<p>用上好爐甘石一斤，打碎，如綠豆大，入銅鍋內，將童便淹二指深，以桑柴火煮，口嘗有咸味方止，選出四兩不升號龍砂作法。又將九兩入罐內封固，用桑柴火升半炷香，冷定，取出成粉聽用。</p>
<h4>五烹做法</h4>
<p>用前升過甘石粉四兩，研為末，號五烹作法聽用。</p>
<h4>虎液法</h4>
<p>（前甘石粉五兩，用後藥制）　荊芥　薄荷　紫蘇　防風　羌活　連翹　蘄艾　蒼耳子槐角　赤勺　黃連　千裡光　豬膽　榮木　木　冬桑葉　牛蒡子　茺蔚子每味三錢，入銅鍋內熬汁，去渣澄清，又將藥渣熬水待冷，飛虎液甘石煮干，又入生薑汁三錢，焙千號虎液作法聽用。又將前選出四兩龍沙，用千裡光、蠶砂、桑柴灰各二升，以童便燒滾潤濕，用皮紙托著，又以童便燒滾滴汁二、三碗，入甘石在汁內，以罐封固，煮大半炷香，冷取出號真正龍砂聽用。</p>
<h4>封眼藥法</h4>
<p>龍砂七分（為君）　虎液三分　五烹二分　冰片一分二厘共合一處研細，無聲點一切云翳赤障。</p>
<h4>又對眼藥法</h4>
<p>前制就虎液一兩　龍砂一兩共合一處聽用。</p>
<p>荊芥　薄荷　玄參　防風　白朮　蘇仁　白芍　梔子　連翹　干葛　檳榔　旋覆花　千裡光　黃芩　柴胡　升麻　地黃　木賊　細辛　車前子　枸杞　白芷　蟬蛻　桑白皮　夏枯草草決明　天花粉　龍膽草　白菊花　石決明　白蒺藜　香附子　青箱子　密蒙花　天麻（火煨去皮）　鵝不食　蔓荊子　穀精草　當歸　黃連　黃柏　白豆蔻共四十二味切片入銅鍋，水浸三日，熬汁去渣。煮前虎液龍砂，口嘗有苦味方止，號鳳翎聽用。</p>
<h4>對開瞽藥方</h4>
<p>鳳翎一錢　龍砂二錢　虎液一分　珍珠三分　血珀二分　冰片一分二厘　赤共研無聲，瓷罐收貯。任點　多年瞽目、一切濃翳等眼。</p>
<h4>又對眼藥方</h4>
<p>朱砂一分　龍砂二分　五烹二分　冰片六厘共研無聲，瓷罐收貯。點一切風火赤障或癢、疼痛，奇效。</p>
<h3>口鼻門</h3>
<h4>治口瘡</h4>
<p>硼砂一錢　兒茶一錢　薄荷一錢　青黛二錢　冰片五分為末搽之，立愈。</p>
<h4>舌上出血</h4>
<p>用黃薷煎湯服。</p>
<h4>舌忽脹大</h4>
<p>用雄雞冠血浸舌，咽下即消。</p>
<h4>舌腫</h4>
<p>用蒲黃摻之。</p>
<h4>治舌腫神方</h4>
<p>此症卒然舌腫，咽喉閉塞，即時氣絕至危之症。</p>
<p>用皂礬不拘多少，以新瓦火　變色紅，放地上令冷，研細。將病患用鐵鉗拗開牙關，以藥搽其舌，即活。</p>
<h4>治口臭</h4>
<p>兒茶四兩　桂花　硼砂　南薄荷葉各五錢甘草熬膏作餅噙化。</p>
<p>生黃柏蜜炒，研末塗之，神效。</p>
<h4>治鼻淵</h4>
<p>陳香圓　木香　扁柏　砂仁　川芎各等分，水煎服。</p>
<h4>治腦漏鼻涕臭</h4>
<p>百草霜研細，空心冷水調服一錢。三、五服即效。</p>
<h4>治一切口舌生瘡</h4>
<p>黃柏（生）八分　黃連（生）五分　兒茶一分為末搽之。</p>
<h4>鼻中肉墜</h4>
<p>用藕節有毛處一節，燒存性為末，吹患處。</p>
<h4>鼻漏</h4>
<p>鼻孔中長出一塊。</p>
<p>辛夷（去毛）四兩　桑白皮四兩　梔子一兩　枳實二兩　桔梗二兩　白芷二兩共為末。每服二錢，淡蘿卜湯送下。</p>
<h4>鼻血</h4>
<p>用青苔放性命當上頂之，立止，永不再發。</p>
<h4>紅鼻糟鼻</h4>
<p>硫黃四兩，燒酒三斤煮，逐漸添，待干，將口涎在手心化開，搽鼻上。</p>
<h4>鼻中生瘡</h4>
<p>杏仁（去皮尖）研如膏，以人乳調塗之。</p>
<h4>鼻流黃臭水</h4>
<p>絲瓜藤近根三、五尺，燒存性，酒調服。</p>
<h4>鼻疳</h4>
<p>（爛通其孔者）　用鹿角一兩（銼碎焙焦）　白礬一兩（　過）　頭發五錢（燈上燒過）</p>
<p>共研為末。先用椒水洗淨疳孔，然後搽之。如不收口，可用瓦松燒存性，為末搽之。</p>
<h4>鼻中臭氣</h4>
<p>赤芍　黃芩　本　生地　黃連　石菖蒲　遠志（去骨）各八分　甘草三分（水浸清水煎服。</p>
<h4>口瘡</h4>
<p>乾薑　黃連銼末泡水噙之。</p>
<h4>口疳並喉癬喉癰</h4>
<p>橄欖核（燒存性）三錢　鳳蛻（即小雞殼）三錢（燒存性）　兒茶三錢每一錢加冰片三分，搽患處，效。</p>
<h4>赴宴散</h4>
<p>治口瘡。並三焦實熱，口舌糜爛，痛不可忍。</p>
<p>黃連　黃柏　黃芩　梔子（炒黑）　細辛　乾薑各等分為末。先用米泔水漱淨口後，搽藥，吐咽不拘。</p>
<h4>大笑脫腮</h4>
<p>烏梅搗碎為餅，塞滿牙盡頭處，張口流涎，隨手掇上。</p>
<h4>舌腫硬</h4>
<p>百草霜、海鹽各等分，為末。並花水調服。</p>
<p><u>又方</u></p>
<p>蒲黃為末，頻搽上。又以黃連煎水服，瀉心火。</p>
<h4>舌忽腫退場門外</h4>
<p>（是蜈蚣毒）　用雄雞血一小杯浸之，即縮入。</p>
<h4>舌無故出血</h4>
<p>以槐花末搽之，立效。</p>
<h4>舌腫塞喉</h4>
<p>用朴硝、白礬為末，搽舌上立消。</p>
<h4>舌忽出難入</h4>
<p>大麻子為末，入紙條內燒煙熏之，鼻孔有涎流出，愈。</p>
<h3>牙齒門</h3>
<h4>玉帶膏</h4>
<p>治牙疼。</p>
<p>龍骨五錢　用梔子仁（生）三錢　黃柏五錢（生）　黃芩五錢（生）</p>
<p>銅鍋內熬汁，煮龍骨，至干取出為末。再用鉛粉五錢，麝三分，並龍骨末共研細末，貯碗內。加黃蠟一兩，坐滾湯中頓化拌勻，用連四紙鋪火爐蓋上，將藥刷在紙上剪成碎條，臥時貼在牙上，次早取出，有黑色可驗。</p>
<h4>牙疼方</h4>
<p>石羔八錢　荊芥一錢　防風一錢　丹皮一錢　生地二錢　青皮六分　生地五分如上正四門牙疼：加黃連（炒）八錢　麥冬二錢如下正四門牙疼：加知母一錢　黃柏（炒）一錢如上兩邊牙疼：加白芷八分　川芎一錢二分如下兩邊牙疼：加白朮八分　白芍一錢二分上左邊牙疼：加羌活一錢　膽草一錢二分下左邊牙疼：加柴胡一錢　黑山梔仁一錢上右邊牙疼：加熟大黃一錢　枳殼（炒）一錢下右邊牙疼：加黃芩（炒）一錢　桔梗一錢服三劑即愈</p>
<h4>擦牙散</h4>
<p>用川大黃　成灰，研細末擦牙，永不牙疼（早晚擦）。</p>
<p>用杉木皮煎湯漱之，即愈。</p>
<p><u>又方</u></p>
<p>用海螵蛸為末，搽患處亦愈。</p>
<h4>治牙疳</h4>
<p>川椒（去目炒出汗）一錢五分　銅青一錢　硼砂一錢共為細末，搽患處立愈。</p>
<p><u>又方</u></p>
<p>青黛　黃柏　枯礬　五倍子（炒）</p>
<p>各等分為末（先用米泔水漱過，以藥搽之即愈）。</p>
<p><u>又方</u></p>
<p>大紅棗去核填人中白滿，綿纏，火內燒焦為末，入麝二厘，搽之立愈。</p>
<h4>治走馬牙疳</h4>
<p>人龍瓦上焙乾，研極細加青黛、冰片各少許，共研勻吹入即愈。</p>
<p><u>又方</u></p>
<p>用人中白乳　三次為末，入冰片少許吹之。</p>
<p><u>又方</u></p>
<p>人中白（　紅）二兩　兒茶一兩　黃柏　南薄荷　真青黛各六錢　冰片五分研極細。先用溫湯漱洗，吹藥患上，每六、七次。</p>
<p>內服　銀柴胡　蘆薈（炒）　川連　牛蒡子　玄參　桔梗　薄荷　羚羊角以上各五分，水二盅煎一盅服。</p>
<h4>神仙生牙丹</h4>
<p>鼠骨四兩（人乳浸一日，陰乾為末）　柏子仁（去油）八兩　枸杞子八兩　少壯血余（皂莢水洗淨，入罐　成灰）八兩　山茱萸八兩（酒蒸）　遠志四兩（甘草水泡，去骨）　石菖蒲四兩　鹿角霜八兩　靈砂四兩（人乳煮過）</p>
<p>共為細末。鹿角膠為丸，桐子大。每日子時酒下百丸，如神。</p>
<h4>牙落重生方</h4>
<p>公老鼠一個，剝去皮埋地下，數日肉爛，收骨焙乾。</p>
<p>又用：白芷三錢　川芎　地骨皮　桑皮　川椒　蒲公英　旱蓮草　青鹽　川槿皮各三錢麝一錢共為末。每日搽牙，其牙自生。（又方：以香附一兩，易麝一錢）</p>
<h4>蟲牙</h4>
<p>川蒼耳三十個　川椒三十粒　小黑豆三十粒上臘陳醋一碗，煎至半碗，常溫常漱即止。</p>
<h4>諸牙疼</h4>
<p>桑根內皮　槐根內皮　柳根內皮　榆根內皮　楮根內皮（俗名垢樹）　椒根內皮　苦楝子根內皮各三錢，搗爛，煎水一碗，溫噙三次。</p>
<h4>牙疼腮腫</h4>
<p>朝腦尖四分　傾銀火硝一錢共為末，搽患處。</p>
<h4>牙根血出</h4>
<p>（名牙瀉）　草決明煎水，噙之即止。</p>
<h4>牙關出血如一線</h4>
<p>槐花略炒為末，以指頭蘸末搽牙關，以止為度。</p>
<h4>牙齦爛穿唇破頰並口瘡</h4>
<p>胡黃連五分　膽礬五厘　兒茶五厘為末搽牙。</p>
<h4>多年牙折</h4>
<p>鼠脊骨研末，日日揩之生出。</p>
<h4>牙搖動</h4>
<p>生地三兩　白蒺藜二兩（炒去刺）　香附四兩（炒）　青鹽一兩五錢　沒實子大者四個破故紙二兩（炒）</p>
<p>共為末。早晨搽牙，津液咽下，自然固齒烏須。</p>
<h4>固齒明目散</h4>
<p>槐枝葉、柳枝葉，不拘多少，切碎水浸三日，熬出濃汁，去葉渣，入青鹽二兩，白鹽二兩同汁熬干，研末搽牙漱口，葉出洗眼。</p>
<h3>咽喉門</h3>
<h4>赤玉散</h4>
<p>治咽喉腫痛，單雙乳蛾。</p>
<p>冰片二分　硼砂五分　朱砂三分　兒茶一錢　赤石脂七分　寒水石二錢　珍珠三分龍骨一錢　枯礬三分共為末。入瓷器收貯，將竹管吹少許於痛處，一日二次即愈。</p>
<h4>咽喉作痛</h4>
<p>用吳茱萸為末，醋調塗足心即愈。</p>
<h4>急救乳蛾</h4>
<p>男左女右，大指甲縫中用針刺，血出以解乳蛾之毒。以兩手從臂上緊抹至大拇指間，四、五十下，以繩扎住，刺破出惡血即愈。</p>
<p><u>又方</u></p>
<p>將頭頂心發上用薑搽紅即愈。</p>
<h4>立救單蛾乳蛾方</h4>
<p>冰片二分　生石膏二分　青黛一分為末吹之。</p>
<h4>通關散</h4>
<p>治乳蛾並喉內一切熱毒。</p>
<h4>硼砂一錢</h4>
<p>膽礬二錢共為末，入青魚膽內陰乾，研極細，加山豆根一錢，瓷器收貯，吹患處，流涎即愈。</p>
<h4>急鎖喉風頃刻不救</h4>
<p>其症先一、二日腦膈氣緊，呼吸短促，忽然咽喉腫毒，手足俱冷，氣閉不通，急用巴豆七粒，三生四熟，生者去殼研，熟者去殼炒，去油存性。明雄黃研末，鬱金一個研，每用半茶匙，清茶調下。如口噤咽塞，用小竹筒吹藥入喉中，須臾吐利即愈。</p>
<p><u>又方</u></p>
<p>用威靈仙洗淨，搗汁口噙之，少刻愈。</p>
<h4>治咽喉腫痛</h4>
<p>山豆根噙在口中，咽津自愈。</p>
<p><u>又方</u></p>
<p>用鹽酸梅肉一兩，硼砂一兩，和搗為丸，如龍眼大。口中噙之，化自愈。</p>
<h4>魚骨鯁喉</h4>
<p>大蒜一瓣切去大頭，鯁右塞左鼻，鯁左塞右鼻，即下。</p>
<p><u>又方</u></p>
<p>用生山藥去皮，嚼爛，滿口咽下即愈。</p>
<h4>喉蛾驗方</h4>
<p>用壁上蜘蛛結的白幔兒七個，箸子夾住燒灰存性，加冰片一厘，研末，以竹管吹</p>
<h4>吹喉散</h4>
<p>冰片二分　僵蠶五厘　硼砂二錢五分　牙硝七錢五分共為末，用葦管吹喉內患處。</p>
<h4>治啞喉奇方</h4>
<p>硼砂一兩　玄明粉二錢　膽星二錢　百藥煎三個　柯子肉二錢　冰片三分共研末。外用大烏梅肉一兩，搗如泥丸，龍眼核大。每用一丸噙化。</p>
<h4>治風喉</h4>
<p>番木鱉同冰片二分，研末吹入喉內即好。</p>
<h4>治雙單乳蛾仙方</h4>
<p>用黃瓜一根，去一頭並去瓤，用火硝一兩，生白礬一兩，為末，裝入瓜內，懸風檐下，待干出白霜，刮下收入瓷瓶，吹之。</p>
<h4>喉蛾</h4>
<p>紅褐一片（不拘新舊）燒存性，為末，將箸壓舌，用竹筒吹入喉中，咳嗽即愈。久則咳嗽帶血，先備金銀花，略加桔梗煎湯，合白酒少許多服之。又多飲連皮綠豆湯，全愈。</p>
<p><u>又方</u></p>
<p>將雄雞肫內皮陰乾，焙末，吹入喉中效。</p>
<p><u>又方</u></p>
<p>將花椒樹、蠶繭燒存性，為末，以箸壓舌吹入喉中立效。</p>
<h4>纏喉風</h4>
<p>其症先兩日氣緊胸膈，出氣短促，驀然喉腫，手足厥冷，氣閉不通，頃刻不治。</p>
<p>巴豆七粒（三粒生，四粒炒存性）　雄黃（皂子大，淨明者佳）　鬱金一個三味為末。每服半匙，茶調細呷。如口噤咽塞，將小竹管吹入喉中，須臾吐利即醒；如無前藥，用升麻四兩，研細，水四碗煎一碗服；如無升麻，用皂角三、四個搗爛，煎水一盞灌服，或吐或不吐，必效。</p>
<h4>喉中腫塞</h4>
<p>將鹽燒紅為末，溫水調，以雞翎塗患處，即消。不必刺破，恐傷人。</p>
<h3>心胃門</h3>
<h4>沉香至珍丸</h4>
<p>治九種心痛。一切胃疼，兩脅脹滿。</p>
<p>真沉香二錢　丁香二錢　木香二錢　青皮（醋炒）五錢　黃連五錢　陳皮五錢　莪朮（煨）五錢上為末，面糊為丸，黍米大。每用十丸，薑湯下。</p>
<h4>治胃疼方</h4>
<p>廣木香二錢三分　乳香一錢三分　雄黃二錢二分　明礬四分共為細末。每服五錢，黃酒送下。</p>
<p><u>又方</u></p>
<p>用淡豆豉五錢，煎湯半茶盅，服之立愈。</p>
<h4>治胃脘大疼方</h4>
<p>大梔子七個或九個，炒焦。用水二盅煎八分，加生薑自然汁二、三分，服之立愈。</p>
<p><u>又方</u></p>
<p>黑棗三枚，去核，填明礬令滿，炭火燒枯存性，研末酒下，被蓋暖，片時即效。</p>
<p><u>又方</u></p>
<p>用古銅錢燒紅，淬入陳醋中，令微熱服之，自效。</p>
<h4>治胃氣冷疼方</h4>
<p>用白砂糖五錢熬水，熱服，加生薑一片。</p>
<h4>治心疼方</h4>
<p>將飯粒黏白礬為丸，每服三分即愈。</p>
<p><u>又方</u></p>
<p>真麻油一盅，煎滾，沖入燒酒一小杯，乘熱飲之即愈。</p>
<h4>男女心瘋</h4>
<p>白礬三錢　鬱金七錢共為末，面糊丸，桐子大。每服三錢，白湯送下。</p>
<h4>胃氣疼</h4>
<p>沉香　木香　五靈脂　乳香　使君子肉　陳皮　茯苓各等分　甘草少許共為細末。每服一錢，滾酒送下即止。</p>
<h4>大小男女一切心氣疼</h4>
<p>馬兜鈴一個，燈上燒，存性為末，溫酒調服立效。</p>
<h4>冷氣搶心，一發即死，及久患心腹痛</h4>
<p>絕根蓬莪朮二兩（醋煮）　木香一兩（煨）</p>
<p>共為末。每服五分，淡醋湯下，發時服。</p>
<h4>胃脘血氣疼</h4>
<p>紅花一大撮，水二盅，煎一盅服。</p>
<h4>延胡散</h4>
<p>治冷氣心疼及疝氣腹痛。</p>
<p>延胡索　胡椒等分為末。每服二錢，食前溫酒調服。</p>
<h4>神效散</h4>
<p>治心疼作酸，又治水停心作聲如雷，口眼歪斜，不省人事。</p>
<p>膽礬一分為末，溫黃酒送下，以吐盡痰為度。</p>
<h4>心如刀刺</h4>
<p>（口吐清水有蟲）　生艾杵汁一大碗，先半日勿吃晚飯，次日五鼓先嚼燒肉於口內，切勿吞下，候口中水入肚，蟲聞香則頭朝上矣。良久飲艾汁，立時打下蟲出。</p>
<h4>夜間痛者蛔蟲也</h4>
<p>苦楝子內白皮切碎二斤，水十碗煎折一、二分，濾去渣，放砂鍋內漫火熬成膏，每日五更時溫酒調下一錢，以蟲下為度。</p>
<h4>口渴心熱</h4>
<p>天花粉水煎，當茶服。</p>
<h4>惡心煩躁</h4>
<p>真綠豆粉一兩　乳香五錢　辰砂一錢五分　俱研極細，每服一匙，甘草湯下。</p>
<h3>噎膈門</h3>
<h4>治噎方</h4>
<p>白馬尿一斤　地骨皮一斤　白蜜一斤　羊糞四十九粒以上用水七升，滾數滾，濾去渣，再熬至一碗為度，每服一盅。忌馬齒莧、蒸鍋水。</p>
<p><u>又方</u></p>
<p>用貓胞衣，以新瓦炭火焙焦為末。每服二分，酒下，五、六次即愈。服後睡時，須口含竹筒，恐傷齒。</p>
<h4>治噎食</h4>
<p>用五穀蟲，以麻布包好，水內洗淨，炒黃色。加木香、沉香共研為末，燒酒調和服之。</p>
<p><u>又方</u></p>
<p>生薑汁　韭菜汁　童便各一盅，同放大碗內入鍋中水煮數沸，候冷取出，露一宿重煎，溫服。日日如是，以愈為止</p>
<h4>治噎膈食不下痞塞不通</h4>
<p>白蜜一兩，滾湯調服。</p>
<h4>治噎食開關方</h4>
<p>白硼砂一錢五分　青黛一錢　好沉香二錢三味研細末聽用。</p>
<p>再用白馬尿一斤　白蘿卜一斤（取汁）　生薑半斤（取汁）</p>
<p>共入銅鍋內熬成膏，每服用膏三匙，加前藥末一分，酒下。一日三服，可以開關（如系翻胃，以黑驢尿一斤易馬尿）。</p>
<h4>韭汁飲</h4>
<p>治血噎。或因跌撲，或因大怒血積胸膈所致。</p>
<p>生韭汁一盅　無灰酒一盅共一處煮熟，候溫服之。</p>
<h4>治翻胃</h4>
<p>用白蘿卜一個，剜空。入壯年人糞在內，以竹簽簽住炭火，煨至粉紅色研末，不拘茶酒、飯食，拌入少許頻服。</p>
<p><u>又方</u></p>
<p>以柿餅放干，飯上蒸食，不用水，亦勿以他物雜之，十日即愈。</p>
<h4>治噎膈酒方</h4>
<p>荸薺四兩（搗末）　厚朴一兩（薑炒）　陳皮一兩　白蔻仁一兩（炒）　白糖四兩　橘餅一兩　水糖四兩　蜜二兩用白酒漿三斤，燒酒三斤入壇，泡藥十余日，早、中、晚飲。</p>
<h4>三神膏</h4>
<p>治一切痰膈、食膈，神效。</p>
<p>用黑沙糖一斤　連皮生薑一斤二味共搗如泥成膏，入瓷罐固封，埋干燥地下一七，每日調滾湯下。</p>
<h4>翻胃嘔吐</h4>
<p>白礬半生半熟，不拘多少，冷水調服。</p>
<p><u>又方</u></p>
<p>生薑三斤，鐵絲穿串，入糞缸內，四十九日取起，長流水擺淨，晒乾為末，陳米面打糊，丸如梧子大。滾水每服二、三丸。</p>
<h3>痰嗽門</h3>
<h4>咳嗽歌</h4>
<p>咳嗽聲聲不斷頭，此方原是老君留。鶯粟半斤同醋炒，杏仁四兩炒休休。二兩五味微微炒，一兩明礬不可丟。每服一錢白湯下，教君一夜更無憂。</p>
<h4>咳嗽吐血男女可用</h4>
<p>三兩蘇油四兩蜜，三兩生薑自然汁。明礬訶子各五錢，文武煎來黑如漆。不論臨睡並起早，遠年咳嗽無蹤跡。</p>
<h4>久嗽氣急</h4>
<p>知母一錢（去皮毛切片隔紙炒）　杏仁（薑汁泡，去皮尖，焙）五錢水盅半煎一盅，食遠服。次以蘿卜子、杏仁等分為末，米面糊為丸，梧子大。每服五十丸，薑湯下，絕病根。</p>
<h4>久嗽痰火</h4>
<p>生薑一兩　雪梨四兩共搗汁去渣，加蜜四兩，共煎一滾，入瓷瓶內封固，不拘時服。治肺痿聲啞，氣急哮喘久嗽，名曰薑汁雪梨百花膏。無病可服，能滋陰降火。忌蘿卜。</p>
<h4>痰迷心竅</h4>
<p>貝母　沉香　甘草　辰砂　生地　枯礬　膽南星　半夏　木香　當歸　白朮　大黃各七八九分麝香少許，水酒煎服。先服五七劑，後以本方為丸，每服一、二十丸，白酒下。</p>
<h4>言語不出</h4>
<p>真蘇子二兩　訶子三兩　山楂三十個　百草霜三兩共為末。每服二錢，熱酒調下。</p>
<h4>久咳言語不出</h4>
<p>訶子一兩（去核）　杏仁一兩（去皮尖）　通草二錢共銼。每服四錢，煨薑五片水煎，食遠服。</p>
<h4>一切咳痰</h4>
<p>蘿卜切下一蓋，挖空心，用蜜灌滿，自早晒至晚，露一宿，次早用原蓋蓋上，飯上蒸熟，滾水空心常服。</p>
<h4>化痰丸</h4>
<p>陳皮　半夏　茯苓　川芎　蒼朮　砂仁　梔子（炒黑）　製香附各一錢　甘草　山楂各三分　白朮四分薑引，水煎，食遠服。</p>
<h4>老人久咳不能臥</h4>
<p>豬板油　蜂蜜　米糖各四兩熬成膏，時時噙化一匙妙。</p>
<h4>痰暈火動</h4>
<p>生薑自然汁半小杯，好糖二匙，入鹽少許，滾湯衝下。</p>
<h4>中痰</h4>
<p>明礬末，打陰陽水灌之，再服再吐，妙。或用明礬煎水，入蜜少許服，不吐飲熱湯催之，能治頭疼痰癖。</p>
<h4>竹瀝導痰丸</h4>
<p>治一切痰飽，胸膈痞塞，脾虛不運，咳嗽吐痰，咽喉不利。</p>
<p>橘紅一斤　枳殼（炒）八兩　黃芩（炒）八兩　半夏曲（薑炒）四兩　生甘草四兩　白茯苓四兩　白芥子（炒）四兩　神麯（炒）四兩　川貝母四兩　花粉五兩以上共為末，以竹瀝一大碗為丸，桐子大。食遠白湯下百丸。</p>
<h4>清氣化痰丸</h4>
<p>能降火順氣清痰，可以常服。利膈寬胸，痰火自不積聚。</p>
<p>橘紅一兩　枳殼（炒）八兩　黃芩（酒炒）八兩　半夏曲（薑炒）八兩　赤茯苓八兩　生甘草五錢　梔仁（炒）八兩　桔梗五兩　滑石八兩　花粉八兩　連翹五兩　南薄荷葉四兩　荊芥穗五兩　當歸身（酒洗）八兩以上共為細末，白水滴丸，桐子大。食遠白湯下百丸。</p>
<h4>沉香滾痰丸</h4>
<p>治一切怪症，痰火顛狂，胡言亂語，稱鬼說神，氣喘咳嗽，唾痰稠黏，頭眩耳響，煩躁欲狂，大便不通，喉干口苦，皆有神效。</p>
<p>黃芩（酒炒）一斤　大黃（炙）一斤　沉香一兩二錢　礞石三兩（火硝同　如金色）</p>
<p>清水為丸，綠豆大。每服一錢，臨臥服，次早當下痰。如無痰，夜再服。</p>
<h4>寧嗽瓊玉散</h4>
<p>治一切久嗽，諸藥罔效。</p>
<p>訶子肉一兩（煨去核）　白桔梗一兩　百藥煎五錢　五倍子一兩（炒）　粟殼五錢（水泡去筋）　生甘草五錢　烏梅肉五錢（焙）</p>
<p>共為末。蜜湯調一錢，臨臥服。</p>
<p>治久嗽聲啞奇方青蒿不拘多少，童便煮服最妙。</p>
<h4>太平丸</h4>
<p>治勞症咳嗽喘急，久成肺痿肺癰，並皆噙化。</p>
<p>天冬　麥冬　知母　貝母　冬花　杏仁（炒）各二兩　當歸　生地　熟地　黃連（炒）　京墨桔梗　薄荷各一兩　白蜜四兩　麝少許以上共為細末，和勻。用銀石器先下白蜜煉熟，後下諸末攪勻，再上火入麝少熬一、二沸，丸如彈子大。每日服三丸，噙化。</p>
<h3>脾胃門</h3>
<h4>資生丸</h4>
<p>此藥專能益元氣，保和脾胃，王道之藥也。</p>
<p>人參三兩　白蔻（炒）三錢五分　蓮肉（去心）一兩　川連（炒）三錢五分　桔梗（炒）</p>
<p>五錢　神麯（炒）二兩　薏苡仁（炒）三兩　芡實三兩五錢　橘紅二兩　藿香五錢　白朮（土炒）三兩　山藥（炒）一兩五錢　麥芽（炒）一兩五錢　山楂二兩　白茯苓一兩五錢　炙甘草一兩五錢　白扁豆（炒）一兩　澤瀉（炒）三錢五分煉蜜為丸，桐子大。每服三錢，不拘飢飽皆可服。</p>
<h4>參苓白朮散</h4>
<p>專治久瀉，脾胃大虛，或病後虛弱，用此一料，可復元氣。</p>
<p>人參二兩　白朮五兩（蒸）　蓮肉四兩（去心）　白桔梗一兩　山藥（炒）四兩　薏苡仁（炒）四兩　芡實四兩　白茯苓四兩　炙甘草二兩　砂仁二兩（炒）　白扁豆四兩（炒）</p>
<p>以上共為細末，每服二錢。以水為丸，亦可久留。</p>
<h4>保和丸</h4>
<p>調脾寬胸，消痰進食，大人小兒俱宜常服。</p>
<p>白朮（去梗）一斤（蒸）　廣皮八兩　厚朴（薑炒）八兩　蒼朮（炒）八兩　炙甘草六兩山楂肉六米湯丸，綠豆大。食遠服一、二錢。</p>
<h4>沉香化滯丸</h4>
<p>專治脾胃不和，過食生冷油膩，停滯不化，胸膈飽悶，腹腋疼痛，一切氣塊。</p>
<p>沉香五錢　莪朮（醋炒）三兩　香附（炒）一兩　陳皮一兩　木香二兩　砂仁二兩（炒）</p>
<p>藿香二兩　麥芽（炒）二兩　神麯（炒）二兩　炙草二兩以上細末，酒糊丸，梧子大。每空心服五十丸，滾水下。</p>
<h4>理氣健脾丸</h4>
<p>專治脾胃虛弱，不思飲食，嘔吐泄瀉，胸痞腹脹，噎膈，並虛勞咳嗽，腹疼等症，無病之人服之，百病消除。</p>
<p>白朮（炒）六兩　白茯苓三兩　陳皮三兩　製半夏三兩二錢　神麯（炒）二兩五錢　當歸身（酒洗）六兩　黃連（薑炒）二兩　枳實（炒）一兩五錢　桔梗（炒）二兩五錢　香附二兩（童便炒）　木香五錢　炙甘草二兩　山楂一兩八錢荷葉煮粥為丸，梧子大。每食遠服一、二錢，白湯下。</p>
<h4>四神消積丸</h4>
<p>治一切酒積、食積、痰積、氣積。</p>
<p>枳實（炒）二兩　三棱（炒）一兩　莪朮（炒）二兩　山楂二兩　神麯（炒）一兩　陳皮三兩　青皮二兩（醋炒）　檳榔二兩　木香一兩　川厚朴二兩（薑汁炒）　麥芽（炒）二兩半夏曲（薑炒）二兩　香附米二兩（炒）　白芥子（炒）一兩　砂仁（炒）一兩　吳萸（湯泡，去苦味）一兩萊菔子湯滴丸，梧子大。每食遠服百丸，白湯送下。</p>
<h4>治腹內蟲方</h4>
<p>烏梅一個　老薑三片　榧子七個　花椒十四粒黑糖少許煎服，蟲盡出矣。</p>
<h4>中和丸</h4>
<p>專治久病懨懨，不能飲食，臟腑或秘或溏，胃虛所致。常服能理氣消疾除濕。</p>
<p>厚朴（薑汁炒）一兩　白朮（土炒）一兩二錢　半夏（薑炒）一兩　陳皮八錢　檳榔四錢五分　炙薑汁浸，蒸餅為丸，桐子大。每服七十丸，食遠白湯下。</p>
<h4>歸脾湯</h4>
<p>專治思慮過甚，健忘怔忡，氣短自汗，煩躁不寐。</p>
<p>人參一錢　木香四分　白茯神二錢　黃　（炙）一錢　遠志（去骨甘草水泡）四分　歸身一錢　（酒洗）　龍眼肉十個　棗仁（炒）一錢　白朮（土炒）一錢　炙甘草四分薑棗為引煎服。</p>
<h3>血症門</h3>
<h4>治吐血不止</h4>
<p>當歸二錢　川芎一錢五分　官桂三錢水煎服，立效。</p>
<p><u>又方</u></p>
<p>生地　側柏葉　蘄艾葉　荷葉（艾荷二葉以新者為佳）</p>
<p>各等分，搗丸如雞子大。每將一丸水三盞煎一盞，去渣不拘時服。</p>
<p><u>又方</u></p>
<p>鹿血一碗飲之，不可坐定，速速行走四、五裡即愈。</p>
<p>血止後，用韭菜連根搗汁一盅，童便一盅，煮滾數次，露一宿，次早溫服，十日可復元氣（童便以食乳者佳）。</p>
<h4>治暴吐血方</h4>
<p>真廣皮五錢　生粉草五錢共為細末，每用一錢五分燒酒調服，立止。</p>
<h4>治痰嗽帶血方</h4>
<p>用大柿餅飯上蒸熟，批開，入真青黛一錢，臨臥服一枚，常服愈止。</p>
<h4>治鼻血</h4>
<p>用獨蒜切開，貼手腳心即止。右鼻貼左，左鼻貼右。</p>
<p><u>又方</u></p>
<p>用頭發燒灰研末，吹入鼻內，外用一錢，清水吞之。</p>
<h4>治男子血淋不止</h4>
<p>陳枳殼（炒）　海金沙　滑石各二錢　黃連　瞿麥　冬青子各一兩　生草五錢　王不留行一兩共分七劑，燈心引煎，空心服。</p>
<p><u>又方</u></p>
<p>取馬鞭草不拘多少，以水洗淨，入石臼內搗爛，取自然汁半盞，對生酒一盅，頓熱溫服，立效。三服全愈。</p>
<p><u>又方</u></p>
<p>浮小麥加童便炒為末，砂糖煎水調服。</p>
<p>又男子頭發燒灰存性，調服。</p>
<p><u>又方</u></p>
<p>川牛膝　兩煎湯，早晚服，亦效。</p>
<p><u>又方</u></p>
<p>用生大黃末三錢，將雞蛋穴一頭，去黃白盡，入大黃末填內封固，用炭灰煨熟，取出藥末，研細，溫水調下。</p>
<h4>治鼻衄血</h4>
<p>犀角一錢　生地　丹皮　白芍　蒲黃（炒）　梔子仁（炒）　黃　各一錢　黃芩一錢水煎服。</p>
<h4>治大便下血</h4>
<p>當歸　川芎　白芍　生地　槐花各一錢井黃連（炒）　黃　黃芩（炒）　梔子仁（炒）</p>
<p>各五分水煎，空心服。</p>
<h4>加味槐角丸</h4>
<p>治腸風臟毒，下血不止。</p>
<p>槐角　生地　當歸　黃　各二兩　黃連　枳殼（炒）　秦艽　防風　連翹　地榆　升麻條芩蜜丸，桐子大。每服五十丸，漸加至百丸而止，空心溫酒下。</p>
<h4>芎歸丸</h4>
<p>亦治下血不止。</p>
<p>川芎　當歸　黃　神麯（炒）　地榆　槐花各五錢　阿膠（炒）　發灰　荊芥　木賊各二錢蜜丸，桐子大。每服五十丸，空心酒下。</p>
<h4>臟連丸</h4>
<p>治大人、小兒便血日久，多食易飢並赤痢、臟毒等症。用宣州大黃連不拘多少，去毛洗淨，為末如面，用雄豬大腸一截，將黃連末入內，兩頭扎定，入鍋煮熟，以爛為度取出，入石臼內杵丸，桐子大。早晚服三十丸，白湯下。</p>
<h4>治腸胃燥結大便不通</h4>
<p>麻仁五錢（另研）　大黃一斤（蒸焙）　枳實八兩（炒）　厚朴八兩（薑炒）　杏仁五兩五錢（泡去苦水皮尖，炒）</p>
<p>蜜丸，桐子大。每臥服二十丸，白湯下。</p>
<h4>治大便不通</h4>
<p>生大黃六錢　荊芥三錢　皮硝三錢為末，冷水調下。如小便不通，加荊芥三錢，大黃六錢。</p>
<h4>治男女大小便不通危在頃刻</h4>
<p>田螺十個　蔥白七根　麝五分　輕粉共搗成泥，敷臍上，以熨斗烙之，立救一命。</p>
<h4>治損傷血流不止並吐血不止</h4>
<p>旱三七三錢酒煎服。以渣嚼爛，敷傷處。</p>
<h4>血臟毒</h4>
<p>黃連三錢　槐子三錢為末，水調服。</p>
<h4>大腸下血，血多心虛，四肢無力，面色痿黃</h4>
<p>用滋陰臟連丸生地　熟地　山藥各四兩　丹皮　澤瀉　白茯苓（去皮）　黃連（酒炒）　槐花（人乳拌干）　山茱萸（去核酒蒸）　川大黃（酒蒸九次）各三兩共末。入雄豬大腸內，兩頭扎定，糯米三升，水酒浸透濾干，將藥腸同米甑內蒸一炷香，搗藥腸為丸，梧子大。每服八十丸，空心鹽湯下。</p>
<h4>解毒湯</h4>
<p>治臟下血。</p>
<p>黃連　黃芩　黃柏　梔子　連翹　槐花各一錢五分　細辛　甘草各四分水煎，空心服。</p>
<h4>腸風下血</h4>
<p>木耳、青菜、豬大臟共煮常食。或大腸一條，入木耳在內，煮食。</p>
<h4>腸風下血糞前糞後</h4>
<p>黃連　當歸各一錢　苦參　荊芥各二錢水煎，食遠服。</p>
<h4>下血不止</h4>
<p>豬臟一條，洗淨，以槐花炒，為末，入大腸內扎兩頭，加醋入砂鍋煮爛，為丸，梧子大。</p>
<p>每服三十丸，溫酒送下。</p>
<h4>治白濁</h4>
<p>鴨蛋一個，頂開一孔，入生大黃末五分，銀簪攪勻，蒸熟，空心黃酒服。</p>
<h4>血淋疾</h4>
<p>雞蛋一個，頂開一孔，以熟大黃末三錢入蛋內，銀簪攪勻，蒸熟，黃酒下。</p>
<h4>血淋沙淋</h4>
<p>車前草搗汁一大碗，空心頓服。</p>
<h4>淋疾</h4>
<p>芝麻一把　核桃一個　石上馬牙莧共搗爛，滾生酒沖服。</p>
<h4>淋症</h4>
<p>防風　荊芥　麻黃　三棱　烏藥　木通　滑石　車前　瞿麥　梔子　赤芍　甘草各等分薑皮、燈心十根為引，水二盅，煎一盅，早、晚服。</p>
<h4>夢遺</h4>
<p>五味子不拘多少，為末，以陳米面醋糊為丸，梧子大。每服三十丸，空心淡鹽湯下。</p>
<p>或以雄黃一點，塞馬口，不遺。</p>
<h4>白龍湯</h4>
<p>治男子失精，女子夢交，盜汗等症。</p>
<p>白芍（酒炒）　龍骨（　）　牡蠣（　）　桂枝各三錢　炙甘草三分棗三枚為引，水煎服。</p>
<h4>夢遺食減</h4>
<p>白色苦參四兩，白朮四兩，牡蠣粉四兩，共為末，用牙豬肚一具洗淨，砂鍋煮爛，石臼搗和藥。如干，則入前煮肚汁，為丸，小豆大。每四十丸，日三服，米湯下。</p>
<h4>吐血驗方良方</h4>
<p>初起用茯苓補心湯、參蘇飲合四物湯去人參、地黃，服後胸次寬舒，方服補劑。</p>
<p>病在陽分：補中益氣、歸脾，二方酌用。病在陰分：六味湯（五十外加附桂），大造丸。</p>
<h4>吐血不止</h4>
<p>用薏苡仁一兩（炒煮）　柴胡五錢（炒黑）</p>
<p>水煎，一服即止。</p>
<h4>鼻衄三黃補血湯</h4>
<p>熟地二錢　生地黃三錢　當歸　柴胡各一錢五分　白芍藥　川芎各二錢　牡丹皮　黃各一錢上為粗末，每服五錢，水煎五、六沸，去渣，食前溫服。若兩手脈芤者（兩頭則有，中間全</p>
<h4>犀角地黃湯</h4>
<p>犀角（如無犀角，以升麻代之）五錢　芍藥二錢　生地黃二錢　牡丹皮五錢水煎服。</p>
<h4>下血赤小豆當歸散</h4>
<p>赤小豆五兩（水浸令芽出曝乾）　當歸一兩　上為細末，漿水服。</p>
<h4>黃土散</h4>
<p>熟地黃　甘草　白朮　附子（炮）　阿膠　黃芩各三兩　灶中黃土半升上用水八升，煮取三升，作二分溫服。</p>
<h3>鼓脹水腫門</h3>
<h4>治鼓脹方</h4>
<p>五月五日取大蝦蟆一個，入朱砂七錢於其腹內，懸至次日，以黃泥裹之，火　存性，每早服五厘，白水下。</p>
<p><u>又方</u></p>
<p>苦丁香，即甜瓜蒂，乘未熟時，以手摘之晒乾，五錢，為末。白湯調下。</p>
<p><u>又方</u></p>
<p>用年久舊鼓皮中間一塊，燒存性，好醋送下。</p>
<h4>又仙方</h4>
<p>將水蘿卜一枚，周遭鑽七孔，入巴豆七粒，入土種之，待其結子，取子又種。待蘿卜成，仍鑽七孔入巴豆七粒，再種，如此三次；至第四次將開花時，連根拔起陰乾。遇鼓脹者，取一枚捶碎，煎湯服之。重者二枚，立愈，真仙方也。</p>
<h4>治五鼓神方</h4>
<p>萊菔子四兩（用巴豆十六粒同炒）　牙皂一兩五錢（煨去核）　沉香五錢　枳殼（炒）</p>
<p>四兩（燒酒煮切片）　大黃一兩（酒炒）　琥珀一兩共為細末。每服一錢，雞叫時熱酒送下，薑皮湯亦可。後服金匱腎氣丸調理收功。</p>
<h4>治水鼓方</h4>
<p>用烏魚一尾，去臟，入大蒜於內，一歲一粒，用濕紙封固，再用黃泥封好，火煨透紅為度，取出食之，屁下即愈。</p>
<h4>治水腫方</h4>
<p>腫在腹為水鼓，腫在四肢、頭面為水腫，分別治之。</p>
<p>用雄豬肚一個洗淨，入蝦蟆一個，胡椒一歲一粒，加砂仁少許，以酒煮熟，去蝦蟆、胡椒，只將肚酒徐徐服盡，其腫自消。</p>
<p><u>又方</u></p>
<p>用薏苡仁三錢炒黃，研末，鹽湯下。</p>
<h4>治黃膽</h4>
<p>用皂礬少許，紅棗肉四兩，同搗為丸，綠豆大。每日早、晚服二丸，舌底噙化。</p>
<p><u>又方</u></p>
<p>用茵陳蒿作菜，或蒸麥飯，或作羹，日日食之，三、五日愈。</p>
<h4>黃病神丹</h4>
<p>皂礬八兩　面一斤（和作餅，入火煨焦為度）　蒼朮（米泔浸）　厚朴（去皮薑汁炒）</p>
<p>陳皮　甘草以上四味各六兩　川椒（去閉口並椒目）十兩共為末。用好棗肉去皮核三斤，煮熟，核桃去皮核三斤，同搗成膏丸，梧子大。每服八十丸，酒下。初服覺香，病愈，則聞臭矣。</p>
<h4>治黃胖腫方</h4>
<p>砂仁一兩　川椒（去椒目閉口者）一兩　針砂三兩大麥不拘多少，炒磨面。大黑棗一斤，蒸熟去核皮，搗爛，共前藥末面搗為丸。如不成丸，將前面打糊為丸，每服二錢，好酒下，早晚進一服。</p>
<h4>到水方</h4>
<p>苦葶藶三兩，搗如泥加漢防己末四兩取綠頭鴨就藥臼中宰血，並截鴨頭入藥，再搗五千下，丸桐子大。每空心滾水服三十丸，輕者五丸。</p>
<h4>治氣蠱</h4>
<p>五穀蟲洗淨，炒黃色為末，用黃米飯為丸，白滾水下，立效。</p>
<h4>金匱腎氣丸</h4>
<p>治水腫脹鼓，服行氣藥不效，病反增劇，及四肢逆冷，脾腎虛也，急服此藥能治脾腎虛，腰重腳腫，小便不利，肚腹脹滿，四肢面目浮腫喘急。</p>
<p>白茯苓三錢　牛膝一兩　肉桂一兩　澤瀉一兩　車前子一兩　山茱萸一兩　丹皮一兩熟附子五錢　山藥（炒）一兩　熟地四兩（泡搗膏）</p>
<p>共為細末。用地黃膏、蜜為丸，如桐子大。每服二、三錢不等。</p>
<h3>痢瀉門</h3>
<h4>治瀉痢</h4>
<p>細茶二錢　核桃仁五個　生薑三錢　紅糖三錢水二碗，煎八分服。</p>
<h4>治久痢噤口痢</h4>
<p>人參一錢五分　川連三錢（吳萸湯炒）</p>
<p>為末，水調服。</p>
<h4>胃苓湯治痢如神</h4>
<p>蒼朮一錢（炒）　厚朴一錢（炒）　陳皮一錢　豬苓一錢　澤瀉一錢　白朮二錢（土炒）　白茯苓一錢五分　白芍一錢五分　肉桂三分　炙草三分生薑為引，煎服。有熱加炒連一錢；有寒加炮薑一錢；有瀉加滑石一錢；食積加山楂、神麯各一錢。</p>
<h4>治一切痢初起</h4>
<p>當歸一錢五分　白芍（酒炒）一錢五分　川連（炒）一錢　木香八分　枳殼（炒）</p>
<p>一錢　檳榔一錢　大黃二錢　滑石三錢　蒼朮（炒）二錢　炙草五分　黃芩（炒）一錢五分生薑為引，水煎服。</p>
<h4>香參丸</h4>
<p>治紅、白痢極效。</p>
<p>木香四兩　苦參六兩（酒炒）</p>
<p>以甘草一斤熬膏，丸藥桐子大，每服二錢。白痢薑湯下；紅痢茶下。</p>
<h4>四神治痢丸</h4>
<p>治一切痢疾初起，腹痛後重。</p>
<p>川連八兩（吳萸同炒）　木香二兩　檳榔二兩　川大黃（蒸）二兩　吳萸一兩（泡湯炒連）</p>
<p>以上為細末，醋糊為丸，桐子大，空心服百丸。</p>
<h4>加味香連丸</h4>
<p>治痢如神。</p>
<p>川連（薑汁炒）四兩　吳萸（水泡去苦味醋水炒）五分　白蔻仁（炒）三錢　木香二兩以烏梅肉四兩，水泡搗爛，和藥為丸，桐子大。每服百丸，空心白湯下。</p>
<h4>駐車丸</h4>
<p>治一切久痢紅白不止，口乾發熱，飲食無味。</p>
<p>川連三兩（酒炒）　當歸三兩（酒洗）　烏梅肉一兩五錢　真阿膠一兩五錢（蛤粉炒珠）</p>
<p>炮薑一兩五錢以神麯打糊為丸，桐子大。每服百丸，空心白湯下。</p>
<h4>單治久痢</h4>
<p>一切久痢諸藥不效，服此立效。　黃丹一兩（飛過）　枯礬二兩以銅勺熔黃蠟一兩，入丹礬末，乘熱為丸，如豆大。每服二丸，空心白湯下。</p>
<h4>治瘟疫噤口痢水米不下食入即吐</h4>
<p>柴胡　前胡　羌活　獨活　枳殼（炒）　桔梗　白茯苓　川芎各一錢　生草五分　白芍（酒炒）一錢五分　川連一錢（酒炒）</p>
<p>以陳倉米三錢為引煎服。如白痢加連肉三錢（不去心）；如疫痢噤口，發熱合境，皆然服之，神效。</p>
<h4>治水瀉</h4>
<p>如夏天瓜果食多，以致泄瀉不休，漳州好橘餅一個切片，入茶盅內潑服。</p>
<h4>治痢仙方</h4>
<p>荸薺十數斤，浸火酒內，晒過三伏天，服數枚，即愈。</p>
<p><u>又方</u></p>
<p>用茜草一握煎水，浸兩足底，即愈。</p>
<p><u>又方</u></p>
<p>用梧桐葉三、四斤煎水洗足，自愈。</p>
<h4>治噤口痢</h4>
<p>石蓬子肉（去青心一兩）　木香三錢同研末。每服二錢，米湯送下調服。</p>
<h4>脾瀉丹</h4>
<p>治久瀉，每早溏瀉一、二次，此系脾虛。用此補脾養胃，而瀉即止。</p>
<p>白朮（土炒）二兩　白茯苓二兩　小茴香（炒）一兩　肉蔻一兩（煨）　故紙（炒）二兩木香五錢生薑煮紅棗肉，搗藥為丸，桐子大。空心服三錢，白湯送下。</p>
<h4>白虎丹</h4>
<p>治水瀉痢疾。</p>
<p>五月五日午時，以生白礬一兩，枯白礬一兩，共為末，用艾葉熬湯打面糊二兩和丸，雄黃</p>
<h4>交感丹</h4>
<p>治婦人久瀉。</p>
<p>香附子一斤（水浸三日晒乾炒）　白茯神四兩（去皮木）</p>
<p>煉蜜丸，彈子大。空心服一丸，白湯下。</p>
<h4>飲酒過傷成病骨立不能食但飲酒即瀉方</h4>
<p>嫩鹿茸（酥炙透旋炙旋削）一兩　肉蓯蓉（酒洗去鱗共末，陳粟米飯為丸，桐子大。每服五十丸，米湯下，立效。</p>
<h4>五更時溏瀉一二次經年不治名為腎瀉</h4>
<p>五味子二兩　吳萸（湯泡）五錢同炒為末，每旦陳倉米湯服二錢，神效。</p>
<h4>治老人脾虛五更泄瀉</h4>
<p>老黃米（炒）三合　蓮肉二兩（去心）　澤瀉（炒）五錢　豬苓五錢　白朮（土炒）二錢　木香一錢五分　白砂糖一兩　乾薑二錢（濕紙包煨熱）</p>
<p>共為細末，每服三錢，空心白湯下，其效如神。</p>
<h4>痢疾二妙丸</h4>
<p>並治瘧。</p>
<p>生半夏一斤　好燒酒一斤泡透陰乾為末，老米飯濃汁為丸，綠豆大，朱砂為衣，每服六十丸。赤痢清茶下，白痢薑湯下，如瘧白湯下。</p>
<h4>痢疾便方</h4>
<p>陳茶（赤痢七錢，白痢三錢）　連皮生薑（赤痢三錢，白痢七錢）　砂仁一錢五分核桃仁一錢五分水碗半，煎七分，空心服。如紅白痢，茶薑各五錢。</p>
<h4>泄瀉脾弱</h4>
<p>山藥切片炒，研末入粥內食之。</p>
<h4>痢後脫肛</h4>
<p>五倍子末三錢，白礬一塊。</p>
<p>水煎洗。</p>
<p><u>又方</u></p>
<p>經霜浮萍草，新瓦焙乾為末，熱鞋底上熨之。</p>
<p><u>又方</u></p>
<p>五倍子炒黃，為末，放熱鞋底上熨之。</p>
<h4>陰症</h4>
<p>麝香二分，納臍內以布蓋上，將錫壺盛熱水熨之。</p>
<h4>陽脫</h4>
<p>因吐瀉後四肢虛冷，元氣不足，不省人事或傷寒初痊誤行房事，小腹緊痛，外腎抽縮，面黑氣喘，身出冷汗連根蔥七根切碎研爛，以好酒三碗煎至一碗，分作三服灌之。</p>
<h3>瘧疾門</h3>
<h4>治瘧屢效方</h4>
<p>瘧者，膈上停痰也。外受風寒，內停飲食所致。</p>
<p>青皮（醋炒）　陳皮　薑皮　白朮（土炒）　柴胡　桔梗　製半夏各二錢水二碗煎六分，另用南山楂二兩，水二碗煎四分，和在一處，露一宿，次早溫服。</p>
<p><u>又方</u></p>
<p>不拘老少一服即愈。</p>
<p>苦參一味為末，用好醋打面糊丸，桐子大。臨發之日早晨，桃枝七寸，柳枝七寸，泡水一茶</p>
<p><u>又方</u></p>
<p>臨來時用白糖四兩，燒酒半斤，燙最滾盡量飲之，即愈。</p>
<h4>治久瘧方</h4>
<p>用蕎麥、細面不拘多少，取活鱉刺血，丸之，陰乾。未發之先預服三錢，白滾水下</p>
<p><u>又方</u></p>
<p>用大棗二個，去皮核，斑蝥二個，焙乾，同研勻，以熱豬油調，捏成餅，指頭大，貼在印堂，一宿即愈。</p>
<p><u>又方</u></p>
<p>久瘧方可用。</p>
<p>常山一錢五分　檳榔一錢　丁香七分　烏梅一個上藥同炒熱，沖酒一盅半入藥內，候滾三滾取起，露一宿，次早溫服。</p>
<h4>治三日一次瘧疾方</h4>
<p>生薑二兩　細茶二兩　山楂二兩　柴胡二兩用酒、河、井水各一大碗，煎一碗，露一宿，次早溫服，立愈。</p>
<h4>治瘧初來</h4>
<p>南蒼朮（米泔水泡去皮，炒黃）二兩　厚朴（薑汁炒）二兩　陳皮二兩　生甘草一兩藿香一兩　製半夏一兩蔥、薑自然汁糊丸，桐子大，每服三錢。</p>
<h4>又治瘧仙方</h4>
<p>用草從左中指頂尖處量至中指根處為止捏斷，即用此草從根量至掌，再從掌量至腕為度，用墨點記，用核桃半個，盛獨蒜研爛敷於墨點處，以綿扎上一個時辰即去之，立</p>
<h4>治小兒瘟瘧方</h4>
<p>用雞燉黃皮　灰存性，乳和服之（男雄女雌）。</p>
<p><u>又方</u></p>
<p>生鹿角　灰存性，先發之時服一錢。</p>
<h4>治久瘧腹中結塊名曰瘧母</h4>
<p>鱉甲（醋炙透二錢）　白朮（土炒）一錢　炙甘草五分　黃　（蜜炒）一錢　白芍（酒炒）一錢　川芎一錢水煎服。</p>
<h3>風癱門</h3>
<h4>定風丸</h4>
<p>治半身不遂，日夜骨痛。酒方在後。</p>
<p>川烏　附子　草烏各三兩（俱用生薑煮過）　川椒二兩共研末，酒糊為丸，如綠豆大。每服九丸，每日早、午、晚服三次，空心酒送下。一料可治數人。</p>
<h4>藥酒方</h4>
<p>生地　熟地　枸杞　木通　牛膝　川芎　薏苡仁　當歸　金銀花各二兩　五加皮　蒼朮各一兩　川烏　草烏各五錢　甘草　黃柏各五錢　松節四兩以上好酒十六斤，煮三炷香，埋土內退火氣，早、中、晚三服之。</p>
<h4>治癱瘓中風</h4>
<p>五靈脂四兩　草烏一兩火炮過，去胡皮，共為末。核桃仁三兩，去油，合一處醋糊為丸，如梧子大。晚服白酒送下，取微汗禁風，初服一錢，次服一錢五分，又次服二錢五分，又次服三錢，止。再服如前起。</p>
<h4>骨痛不拘何處並腰疼</h4>
<p>五加皮三錢　胡椒七粒　鼠屎（頭尖者，三粒；頭圓者，四粒）</p>
<p>薑三片，用好燒酒一斤煮一炷香，食飽略後，盡量飲，取微汗。輕者一次，重者二、三次</p>
<h4>偏正頭風</h4>
<p>細辛、白芷等分為末，熱痛水調，風痛酒漿調。筆塗痛處，立效。</p>
<h4>遠近偏正頭風</h4>
<p>川芎　白芷各三錢共為末，用黃牛腦子一個切片，同藥末入瓦器內，加白酒頓熟，乘熱和酒食之，盡量一醉，睡醒如失。</p>
<h4>中風中痰不省人事</h4>
<p>香油一杯　生薑汁半盞灌下，痰去立愈。</p>
<h4>中風口噤遍身冷不知人事</h4>
<p>獨活四兩好酒一斤，煎至半斤服。</p>
<h4>肩背筋骨痛</h4>
<p>槐花子　核桃仁　細茶葉　芝麻每樣或五錢或一兩，共為一處，用瓦罐盛入水六、七碗，熬折一半，熱服神效。</p>
<h4>中風肢體難伸</h4>
<p>羌活　獨活　升麻　柴胡　秦歸　防風各等分，為末。每服五分，酒調下。</p>
<h4>半身不遂仙方</h4>
<p>牛膝三兩藏鴨肚內，重湯煮，除牛膝，食鴨肉，每日常服。</p>
<h4>歷節風痛</h4>
<p>獨活　羌活　松節各等分，將酒煮一炷香，每日空心服一杯。</p>
<h4>中風身直不得屈伸及復</h4>
<p>槐皮（黃白者）一兩（切細）</p>
<p>酒二盞，煎一盞，稍稍服之。</p>
<h4>風瘙癮疹心下迷悶</h4>
<p>巴豆五十粒（去皮）</p>
<p>水七盅煮二盅，以帛染拭之隨手愈。</p>
<h4>歷節諸風痛不止</h4>
<p>沒藥一錢　虎脛骨二錢為末。酒調服，立效。</p>
<h4>風痛癱瘓手足拽口眼斜，言語謇澀步履不正</h4>
<p>川烏（去皮臍）　五靈脂（去沙石）</p>
<p>各二兩為末。入龍腦、麝香各二分，滴水為丸，如彈子大。每一丸以生薑汁研化，暖酒調服，一日二服，五、七日便覺手抬足移，可以舉動，漸愈。</p>
<h4>諸凡癱瘓</h4>
<p>五月五日、六月六日、九月九日采　草去根，入甑內，層層用酒同蜜水洗之，九蒸九晒，研為末，煉蜜為丸，如皂角子大。每服一、二丸，米湯送下。</p>
<h4>年久癱瘓</h4>
<p>槐枝　桃枝　柳枝　椿枝　楮枝（即垢樹）　茄枝　蘄艾合煎。水三桶，大盆浸洗，如冷又添熱水，以被蓋出汗避風，未愈，再洗幾次，神效。</p>
<h4>牛黃清心丸</h4>
<p>專治中風中痰，昏暈不醒，口噤痰喘及小兒驚風，發搐五癇等症。</p>
<p>膽星一兩（薑汁炒）　白附子一兩（煨）　鬱金五錢　半夏一兩（皮硝湯泡五次；皂角湯泡五次上五味為粗末，臘月黃牛膽三個取汁，和藥仍入膽內，扎口掛風檐下，次年可用，取膽內藥一兩四錢，加渡過芒硝、辰砂、硼硝各一錢，冰片、麝香各一分，研極細末和在一處，稀糊為丸，芡實大，金箔為衣，薑湯下。</p>
<h4>牛黃丸</h4>
<p>專治中風不語，半身不遂，語言謇澀，涎痰壅盛，卒然昏倒，牙關緊閉，怔忡健忘，眩冒煩悶及小兒驚風、發搐等症。</p>
<p>羚羊角一兩　白茯苓一兩二錢五分　防風一兩五錢　阿膠一兩七錢五分（炒成珠）　京牛黃一兩二錢　犀角二兩　鎊龍腦一兩　白芍一兩五錢　炙草五錢　麥冬一兩五錢　黃芩一兩五錢　大棗肉一百個（蒸去核）　神麯二兩五錢（炒）　白蘞七錢五分　肉桂一兩七錢五分人參一兩五錢　川芎一兩二錢　炮乾薑二錢五分　白朮（去梗土炒）一兩五錢　麝香一兩金箔一千二百張（一半為衣）　柴胡一兩二錢五分　真蒲黃二兩五錢（炒）　當歸一兩五錢　杏仁（去皮尖，炒）二兩　桔梗一兩二錢五分　山藥一兩（炒）　大黃豆卷一兩七錢五分共為細末，蜜丸重一錢，黃蠟為殼。</p>
<h4>蘇合丸</h4>
<p>專治男、婦中風中氣，口眼歪斜，不省人事或卒暴心疼，鬼魅惡氣，小兒驚癇，大人狐狸等症。</p>
<p>沉香　木香　丁香　白檀　安息香（酒蒸膏）　麝香　香附米　白朮（土炒）　訶子肉　蓽茇以上諸藥共為極細末。入腦、麝、安息、蘇合約拌勻，蜜丸重一錢，黃蠟為殼。</p>
<h4>搜風順氣丸</h4>
<p>專治下冷上熱，腰腳疼痛，四肢無力，多睡少食，日漸瘦弱，惡瘡下注，口苦無味，憎寒毛竦，積年症瘕氣塊，丈夫陽氣斷絕，婦人久無子嗣，常患寒瘧，嘔吐瀉痢，腸胃積熱以致脅間痞悶，大便燥結，小便赤澀，腸風痔漏，肢節麻木不仁，步履艱難，語言謇澀，不問男婦並皆治之。</p>
<p>熟大黃五兩（九蒸）　火麻仁（炒去殼）二兩　郁李仁二兩　枳殼（炒）二兩　山藥（炒）</p>
<p>二兩　獨活一兩　山茱萸肉（酒蒸）二兩　檳榔二兩　菟絲子二兩（酒煮）　車前子（炒）</p>
<p>二兩五錢　牛膝三兩（酒浸）</p>
<p>共為末，蜜丸，梧子大。每服八十丸，茶酒白湯皆可下。</p>
<h4>健步虎潛丸</h4>
<p>專治中風。左癱右瘓，手足不能轉動，舌強語澀。</p>
<p>黃　（鹽水炒）一兩五錢　人參一兩　白朮（土炒）二兩　白茯神二兩　當歸一兩五錢（酒洗）　白芍（酒炒）二兩　生地（酒洗）二兩　熟地二兩　枸杞子一兩五錢　五味子五錢虎脛骨（炙）二兩　龜板（炙）一兩五錢　牛膝（酒炒）二兩　杜仲（鹽水炒）二兩　麥冬二兩　故紙（鹽水炒）一兩五錢　黃柏（鹽水炒）三兩　知母（鹽水炒）二兩　遠志一兩（甘草水泡）　石菖蒲二兩　棗仁（炒黑）一兩　沉香五錢　木香一兩　薏苡仁（炒）一兩　羌活（酒浸）一兩　獨活（酒洗）一兩　防風（酒洗）一兩大川附子童便浸三、四日，浸透面包煨熟，去皮臍，竹刀切四片，以甘草、防風同煮熟，晒</p>
<h4>健步丸</h4>
<p>專治膝下無力，屈伸不得，腰背、腿、腳沉重，行動艱難。</p>
<p>防風一兩　羌活五錢　柴胡五錢　滑石五錢　炙草五錢　栝蔞根五錢　澤瀉二錢　苦參一錢　川烏一錢（煨）肉桂五分用酒糊為丸，桐子大。每服七十丸，蔥白湯下。</p>
<h4>虎骨丸</h4>
<p>專治風毒走注，疼痛不定，少得睡臥。</p>
<p>蒼耳子（炒）五錢　五加皮一兩　骨碎補三兩　天麻一兩　自然銅（醋淬細研）　防風三兩　肉桂三兩　龜板（炙）二兩　沒藥（去油）三兩（另研）　赤芍三兩　當歸三兩　虎骨三兩（炙）　血蠍二錢（另研）　白附子三兩　檳榔一兩　羌活一兩　牛膝一兩以上共為細末，研極勻，蒸餅為丸，桐子大。每服二錢，白湯下，不拘時服。</p>
<h4>鶴膝風</h4>
<p>番木鱉四兩（酒泡蒸去皮，用麻油四兩熬枯，浮起為度。再用陳壁土炒干研細，只用二兩）大楓子肉二兩（燈草同水煮過研細去油，只用一兩）　大西附子二兩（大者童便煮過去皮臍切片焙乾研細，用一兩）穿山甲（洗淨土炒研細）一兩以上四味共五兩，和勻貯收瓷瓶中，患者每服七分，空心酒下，極醉出汗，七服除根。</p>
<h4>史國公藥酒方</h4>
<p>專治左癱右瘓，口眼歪斜，四肢麻痹，筋骨疼痛。又治三十六種風，二十四般氣，無不立愈。</p>
<p>防風一兩　秦艽四兩　萆　（酥炙）一兩　羌活二兩　牛膝二兩　虎脛骨（炙）二兩　鱉甲一兩　當歸三兩　晚蠶砂（炒）二兩　蒼耳子四兩　甘枸杞五兩　油松節二兩　茄根八兩白朮二兩　杜仲三兩（薑炒）　白花蛇四兩上用燒酒二十斤，糯米酒十五斤，生絹盛藥入壇內，煮三炷香，隨量飲。</p>
<h4>五加皮酒方</h4>
<p>治腳膝疼痛，並手足疼。</p>
<p>五加皮八兩　杜仲三兩（炒）　當歸三兩　生地三兩　地骨皮二兩　牛膝三兩火酒五十斤，壇內煮過。</p>
<h3>疝氣門</h3>
<h4>治疝氣偏墜</h4>
<p>大茴香五錢　蘿卜子五錢共炒為末，加朱砂一錢八分作九服，每早鹽湯下一服，九日即愈。</p>
<h4>腎囊風</h4>
<p>雞蛋炒出油，搽之自效。</p>
<h4>治疝氣偏墜小腸氣痛</h4>
<p>荔枝核（炒）　龍眼核（炒）　小茴香（炒）</p>
<p>各等分，共為細末。每空心服一錢，用升麻一錢煮水，酒送下，神效。</p>
<h4>小腸疝氣及陰間溫癢成瘡</h4>
<p>吳茱萸一斤，分四分；酒、醋、鹽、童便各浸一分，晒乾；南澤瀉二兩，共為細末，酒醋糊丸，桐子大，每服五十丸，鹽湯下。</p>
<h4>治疝氣外腎腫大</h4>
<p>小茴香（炒）　山甲（炒）　全蠍（炒）　木香（各等分）</p>
<p>共為末，每服二錢酒下。</p>
<h4>治疝氣囊腫</h4>
<p>用田間青蛙皮貼之自愈。</p>
<h4>治疝氣神方</h4>
<p>山楂肉一兩　枳實（炒）二兩　山梔子（炒）一兩　小茴香（炒）二兩　柴胡二兩　丹皮二兩　桃仁（去皮尖）二兩　八角茴香（炒）二兩上共為細末，酒糊丸，桐子大。每日空心服六十丸。</p>
<p><u>又方</u></p>
<p>將兩腳第二指對縛一處，用箸頂大艾炷，從第二腳指頂上合縫處灸之，立愈。</p>
<h2>卷下</h2>
<h3>傷暑門</h3>
<h4>十味香薷飲</h4>
<p>治一切暑熱、腹痛、霍亂、轉筋、心煩、神昏、頭重、身體困倦。</p>
<p>香薷一錢　白扁豆（炒）二錢　人參一錢　陳皮一錢　白朮（土炒）一錢　厚朴（薑炒）</p>
<p>一錢　木瓜一錢　白茯苓一錢　炙草五分　黃　（蜜炒）二錢水煎服。</p>
<h4>六和湯</h4>
<p>治霍亂轉筋，嘔吐泄瀉。</p>
<p>人參一錢　白扁豆（炒）一錢　杏仁（炒）一錢　赤茯苓一錢　木瓜一錢　製半夏一錢　藿香一錢　厚朴（薑汁炒）一錢　香茹一錢　炙草五分薑一片為引，水煎服。</p>
<h4>梅蘇丸</h4>
<p>止渴生津，途中備之最妙。</p>
<p>烏梅肉二兩（水浸搗爛）　葛粉六錢　白檀一錢　蘇葉三錢　炒鹽一錢　白糖一斤搗和為丸，加蜜少許，如芡實大。遇暑甚含一丸，口噙化。</p>
<h4>藿香正氣散</h4>
<p>專治中暑、中風，頭痛身熱，霍亂吐瀉，腹痛等症。</p>
<p>藿香二錢　蘇葉一錢　陳皮一錢　厚朴（薑炒）一錢　製半夏一錢　白朮（土炒）一錢　白茯苓一錢　桔梗一錢　大腹皮一錢　白芷一錢　生草四分薑三片為引，水二碗煎八分，溫服。有熱加黃連（炒）一錢；有寒加炮薑一錢；轉筋加木瓜一錢；冒暑風加香茹、白扁豆各一錢；時氣寒熱加柴胡、葛根；渴瀉加五苓散；霍亂加黃連香茹飲；大便不利加枳殼炒；腹疼加木香。</p>
<h4>益元散</h4>
<p>治一切暑痰。</p>
<p>白滑石（水飛）六兩　生粉草一兩　朱砂三錢共細末，不拘冷熱可服。</p>
<h4>胃苓丸</h4>
<p>治暑泄不服水土。</p>
<p>蒼朮（炒）一兩　豬苓一兩　陳皮一兩　厚朴（薑汁炒）一兩　白朮（土炒）二兩　白茯苓二兩節　肉桂五分　澤瀉一兩　人參五錢　黃連（炒）一兩　白芍（炒）一兩　炙甘草五分蜜丸，梧子大。每服一錢，白水下。</p>
<h4>生脈散</h4>
<p>生津止渴，預防暑氣。</p>
<p>人參一錢　麥冬三錢　五味子十粒水煎服。</p>
<h4>上清丸</h4>
<p>清頭目三陽之火，治風熱上攻，發渴喉疼，口痛牙血。</p>
<p>玄參八兩　南薄荷葉五兩　荊芥穗五兩　苦桔梗一兩　生甘草八兩　歸尾五兩　熟大黃一兩　陳皮八兩　片苓（酒炒）八兩　枳殼（炒）八兩　川芎四兩水為丸，桐子大。每服一錢，溫湯下。</p>
<h4>三黃丸</h4>
<p>治三焦實火，口舌咽喉腫痛，或熱痢腹疼等症。</p>
<p>黃芩　黃連　黃柏（各炒等分）</p>
<p>水為丸，梧子大。每服八十丸，溫湯下。</p>
<h4>神芎丸</h4>
<p>治一切上焦積熱，風痰壅滯，頭目赤腫，咽喉不利，大小便閉。亦能消酒食諸滯。</p>
<p>黑丑四兩　滑石四兩　生大黃二兩　生黃芩二兩　黃連五錢　川芎五錢　薄荷五錢水為丸，桐子大。每服五十丸，溫湯下。</p>
<h4>參歸益元湯</h4>
<p>治炎天頭暈眼花，腿酸腳軟，食少心煩，口苦舌乾，精神困倦，胸膈不利，形如虛瘠，脈數無力。</p>
<p>人參五分　歸身一錢　白芍（酒炒）一錢　白茯苓一錢　麥冬一錢五分　五味子十個　陳皮八分　黃柏（酒炒褐色）八分　知母（酒炒）一錢　熟地一錢　炙甘草三分加食米一撮，烏梅一個為引，水煎服。</p>
<h4>中暑仆地</h4>
<p>大蒜一大把、道上熱黃土摻和研爛，以新汲水和之，去渣，挖開齒灌之。</p>
<h4>盛夏時有大熱症，頭大如斗，身熱如火者</h4>
<p>黃芩一兩，煎汁一茶盅，微溫一氣吃盡。立愈</p>
<h3>傷寒門</h3>
<h4>觀音救苦丹</h4>
<p>專治感冒風寒，頭疼身熱，口渴目脹，筋骨酸疼，兼治一切風寒瘟疫。出外遠行之要藥也。</p>
<p>蘇葉四兩　羌活四兩　川芎二兩　甘草一兩　黃芩（酒炒）二兩　防風二兩　白芷二兩生地共為細末，薑汁打糊為丸，彈子大。每丸重三錢，蔥湯下。</p>
<h4>金不換正氣丸</h4>
<p>專治山嵐瘴氣，不服水土，兼治四時感冒，發熱惡寒，身體沉重，潮熱往來，咳嗽吐痰，嘔噦惡心等症。</p>
<p>蒼朮（炒）二兩　陳皮二兩　藿香一兩　製半夏一兩　生甘草一兩　厚朴（炒）　薑二兩薑、蔥汁打糊為丸，桐子小。每服二、三錢。</p>
<h4>敗毒湯</h4>
<p>治一切感冒發熱、惡寒等症。瘧疾初起。</p>
<p>前胡　柴胡　獨活　羌活　枳殼　桔梗　白茯苓　川芎各一錢　薄荷三分生薑三片為引，水煎服。</p>
<h4>除瘟救苦丹</h4>
<p>專治一切瘟疫，口渴喉腫，發熱無汗，頭疼身痛清解要藥也。</p>
<p>天麻一兩一錢　麻黃（去節）一兩二錢　乾薑一兩二錢　芽茶一兩二錢　綠豆粉一兩二錢　生甘草八錢　朱砂（水飛）八錢　明雄黃（水飛）八錢　生大黃二兩蜜丸，彈子大。重二錢，每服一丸。</p>
<h4>太乙救苦散</h4>
<p>治一切瘟疫無汗，頭疼身熱，口渴心煩等症。</p>
<p>火硝三錢　雄精（水飛）三錢　麝香五分同研極細末，入瓷罐收貯。男左女右，點大眼角內，登時出汗而愈。</p>
<h4>人馬平安散</h4>
<p>專治傷暑霍亂，吐瀉轉筋，水瀉痢疾，心腹疼痛，瘧疾反胃，腰痛時眼，俱用骨簪點大眼角內。頭疼鼻痣吹鼻內；咽喉腫痛吹入喉內；牙疼夾於醬瓜內咬在痛處。一切蟲蚊蠍蟄，瘡毒瘍癢，水和塗之。馬、騾、驢上下中三結，揭鞍風，傷水傷熱，不食水草，起臥骨眼，獐牙等症。用手指蘸藥點大眼角內，立效。</p>
<p>用上好雄黃二兩為末，火硝飛成朱，揀白者一兩，共和一處，研為細末，收貯瓷瓶聽用。</p>
<h4>二聖救苦丹</h4>
<p>專治時行瘟疫，惡心吐酸，身體疼痛，發熱。</p>
<p>熟大黃四兩　牙皂二兩（去皮弦）</p>
<p>共為細末，稀糊為丸，綠豆大。每服五、七十丸，冷綠豆湯下，大汗為效。</p>
<h4>避瘟丹</h4>
<p>燒之瘟疫不能傳染。</p>
<p>乳香一兩　蒼朮一兩　細辛一兩　甘松一兩　川芎一兩　真降香一兩為末，棗肉為丸，如芡實大燒之。</p>
<h4>諸葛行軍散</h4>
<p>專治一切感冒風寒。</p>
<p>綠豆粉　麻黃（去節）　乾薑　陳皮（各不拘多少）</p>
<p>共為細末，涼水服三錢。</p>
<h4>治瘟疫方</h4>
<p>烏梅七個　蜜七錢水二碗煎湯服之，立愈。</p>
<h4>預防瘟疫方</h4>
<p>大管仲二枚，放水缸內，加白礬少許，日逐飲之不染。</p>
<h4>治大頭瘟</h4>
<p>用福建靛花三錢，燒酒一盅，雞蛋清一個，攪勻吃下，神效。</p>
<h4>犀角清毒飲</h4>
<p>治一切瘟疫發熱，舌上生苔，腮項腫痛濕熱之症。</p>
<p>牛蒡子（炒）　荊芥　生甘草　黃芩　犀角鎊各一錢　防風六分燈心二十根為引，水二碗，煎八分服。</p>
<h4>早起避穢丹</h4>
<p>凡人早起或冷暖不時，或食油膩，或聞穢氣，多有嘔吐、腹痛、泄瀉等症。</p>
<p>並治感冒風邪，寒暑瘧疾。</p>
<p>蒼朮（米泔水泡，去皮，炒黃）　於白朮（炒）　廣皮　厚朴（薑炒）各三兩　生甘草白蒺藜煉蜜為丸，龍眼大。每服一丸，白滾湯送下。</p>
<h4>干霍亂，腸痛出汗，吐瀉不出，危在旦夕</h4>
<p>食鹽一兩，生薑五錢切片，同炒色變，以水一碗</p>
<p><u>又方</u></p>
<p>用艾綿鋪臍上，外用棉花作圈，將食鹽炒熱，以布包放臍上，用大碗蓋定圈子，令勿泄氣。熱氣入肚，即愈。</p>
<h4>治干霍亂腹痛</h4>
<p>食鹽一兩　牙皂一錢煎水服，即吐而愈。</p>
<h4>治絞腸痧</h4>
<p>明礬滾水調勻，服二、三錢即效。</p>
<p><u>又方</u></p>
<p>以苧麻繩蘸熱水，先刮頭項，次刮兩臂及手足曲彎處。務刮起紅紫泡為妙。</p>
<p><u>又方</u></p>
<p>鹽一把，置切菜刀下燒紅，淬入水中，乘熱飲水，吐出而愈。</p>
<h4>治傷寒等症</h4>
<p>蒼朮二錢　甘草一錢　防風五分　蔥白一莖　鹽少許水一盞，煎五分，熱服。出汗為效。</p>
<h4>感冒發散湯</h4>
<p>防風一錢　紫蘇一錢二分　干葛一錢四分　前胡一錢　桔梗一錢　蒼朮八分　羌活八分陳皮三分　川芎三分　白芷三分　香附一錢　赤芍六分　細辛二分　甘草二分薑三片，水煎，熱服取汗。如感重無汗，再服一劑，表症自除。如汗後身熱內煩病患，在內用清解湯主之。並治大小便閉，身熱口渴等症。</p>
<h4>清解湯</h4>
<p>葛根二錢　柴胡　前胡各一錢　赤芍　枳殼各五分　麥冬（去心）九分　知母七分　茱萸澤瀉各八分　薄荷三分　甘草二分用薑三片，燈心七根為引。如汗多加桂枝水煎，服二劑，身涼便利自愈。如內熱甚，加黃芩七分，花粉九分，水二盅，煎一盅服。</p>
<h4>傷寒舌生芒刺，黑苔，水克火也，用劫法</h4>
<p>以新汲水浸青布洗其舌，以薑片刮舌自退。</p>
<h4>四治湯</h4>
<p>白砂糖五錢傷寒用生薑湯調服；傷食用山楂湯調服；傷熱用新汲水調服；婦人血崩用百草霜湯調服。</p>
<h4>治盜汗方</h4>
<p>蓮子七個　黑棗七個　浮麥一合　馬料豆二合水一碗，煎八分，服三劑全愈。</p>
<p>紫蘇二兩　香附四兩（童便、醋、鹽水、酒四制）　蒼朮二兩（土炒）　麥冬一兩（去心）　木香一兩（忌火）　白扁豆二兩（炒黃色）　雄黃五錢（研末）　薄荷二兩　管仲八兩（洗淨上藥共為細末，用薑一斤搗汁，拌入藥內，再用煉蜜為丸，朱砂飛淨為衣，每丸重三錢。</p>
<p>此丹專治一切時症傷寒，四時瘟疫，瘧痢等症。患者照依後開湯引化下，無不神效。惟要藥料選佳，修合虔潔見功尤驗。一時症傷寒山楂、薄荷湯下；一瘧疾柴胡陳皮湯下；一痢疾赤者當歸湯下，白者淡薑湯下。忌生冷魚腥、煎炒油膩。小兒孕婦只服半丸。</p>
<h3>痔漏門</h3>
<h4>洗痔瘡初起</h4>
<p>蔥白十根　尾松一兩　馬齒莧一兩　皮硝一兩　五倍子（去蟲）一兩　槐花一兩絹袋盛藥煮水，每日熏洗七、八次即愈，良方也。</p>
<h4>內消痔漏丸</h4>
<p>愈後服香砂養胃丸一料。</p>
<p>川連（酒炒）　槐花（炒）　冬青子（炒）各四兩共為末。入豬大腸內，扎緊兩頭，煮熟搗如泥入後藥再搗成丸。</p>
<p>雄黃（水飛）一兩　朴硝一兩　青黛五錢　白蠟一兩將白蠟熔化，青黛和勻取起，冷定再碾為末，合前藥搗勻。如稍硬，加醋糊為丸，桐子大，</p>
<h4>消痔脫管奇方</h4>
<p>瑁一個（皮紙濕包，燒灰存性）　血余炭一兩　牛角腮一只（燒灰存性）　豬懸蹄二十個（燒灰存性）　苦參二兩　木耳一兩　石菖蒲一兩　枯礬一兩　槐角子五錢　地榆五錢　胡麻仁五錢　舊棕（燒灰存性）一兩　防風五錢　雷丸五錢　漏蘆五錢　蕪荑五錢　麝上共為細末，蜜丸桐子大。每服一錢，日三服，白滾水送下。</p>
<h4>治漏</h4>
<p>象牙屑二斤，為末。每早用熟雞子三個，同屑末吃或入稀粥內吃。服完二斤即愈。</p>
<h4>治痔漏方</h4>
<p>烏梅肉一斤　白朮（土炒）四兩搗成膏為丸，桐子大。每服三錢，白湯下。</p>
<p><u>又方</u></p>
<p>皂礬枯為末二錢，飯黏為丸。晒乾分作十服，十日空心服完即愈。</p>
<h3>損傷門</h3>
<h4>治渾身打傷</h4>
<p>大生蟹一個（即無大者，以二、三小者代），搗爛，大熱酒沖服，極醉，一夜即</p>
<h4>接骨方</h4>
<p>古銅錢五錢（醋淬四十九次）　骨碎補（去毛，焙）三錢　乳香（去油）三錢　沒藥（去油）三錢　自然銅二錢　血蠍二錢　土鱉三錢　生半夏一錢五分（炒土鱉）</p>
<p>共為末，每服一分。服時以栝蔞仁七個，同研，放舌上，酒送下。頭一服，須入麝香一厘。</p>
<p><u>又方</u></p>
<p>用多年酒，缸底下土鱉不拘幾個，焙乾研末。五銖錢醋淬七次，為末各等分，每服，一分好酒送下，取汗效。</p>
<p>杖瘡　生大黃一兩　朝腦五錢共末。蜜調敷之立止疼。</p>
<h4>治跌打損傷青腫</h4>
<p>生豆腐切片貼之，數次即愈。</p>
<p><u>又方</u></p>
<p>用生梔子末、白面，以水調敷之，拔出青毒。</p>
<h4>藥酒方</h4>
<p>紫荊皮　丹皮　五加皮　鬱金　烏藥各一兩　官桂五錢　川芎一兩　胡索一兩　木香五錢羊躅躑（去油）五錢　乳香（去油）五錢　羌活五錢用火酒十斤，絹袋盛藥入酒煮三炷香，分作十小瓶常飲。</p>
<h4>萬應膏</h4>
<p>治筋骨疼痛，跌打損傷，風寒所侵，瀉痢腫毒諸症。</p>
<p>川烏　草烏　生大黃各六錢　當歸　赤芍　白芷　連翹　白芨　白蘞　烏藥　官桂　木鱉仁用真香油二斤，浸藥三日，熬枯藥，濾去渣，每淨油一斤，炒黃丹八兩，同熬，以滴水成珠為度。再下去油乳香、沒藥各四錢，攪勻，又下麝香一錢，攪勻。</p>
<h4>八厘散</h4>
<p>治跌打損傷，瘀血攻心將死之症，灌藥即蘇。</p>
<p>土鱉（去頭足生）　半夏一個同焙乾一錢　乳香（去油）一錢　沒藥（去油）一錢　自然銅（　）　血竭　歸尾骨碎補（焙，去尾）　硼砂　以上各一錢共研細末，瓷罐收貯，每用八厘好酒送下。</p>
<h4>夾棍神方</h4>
<p>用肥皂子、水浸透去外黑皮，用裡白肉並仁，搗如泥。如明日用事，今晚用此敷之，上至腳　一節，下至腳底板心，並指甲內，處處敷勻，不可有一毫空隙處，以油紙包。外用裹腳纏足，其藥與皮肉一樣，顏色不變，用事時，一些不礙，毫無干涉。出來時，以黃豆漿溫溫洗之。其豆漿須預先一日，將豆泡爛磨漿候著用。神哉！神哉！</p>
<h4>英雄丸</h4>
<p>杖時用打不疼乳香（去油）　沒藥（去油）　密陀僧（　）　自然銅（醋淬二次）　地龍（焙）　木鱉子（去殼）　川椒（炒）</p>
<p>各等分，蜜丸彈子大。每用一丸，酒服。</p>
<h4>仙傳膏</h4>
<p>打板重傷，死血鬱結，呃逆不食，並夾傷內爛，貼之可以起死回生。</p>
<p>乳香一錢五分（去油）　沒藥（如上）　輕粉三錢　血竭三錢　冰片三分　麝香一分　樟腦二錢　黃蠟一兩　豬板油一兩二錢以上七味藥，共研極細後，將蠟油同化，調藥成膏貼患處。晝夜流水，即時蘇醒。</p>
<h3>瘡毒門</h3>
<h4>透頂神功散</h4>
<p>治初起楊梅瘡，七、八日即愈。未出者或半月或一月。手足心、背已發瘡者，三、四日干淨，永無後患，神效之方。</p>
<p>茄鹿茸（蜜炙）一錢　川貝母四錢　知母四錢　白芷四錢　穿山甲（炒成珠）一錢　僵蠶三錢（炒，去嘴）　麝香（研末，並下二味，臨吃入藥）　乳香（去油）一錢　沒藥（去油）一錢先用錦紋川大黃五錢，同前六味煎熟，再加五錢，滾三滾，共用酒二大碗，煎一碗，去渣，</p>
<h4>治發背有回生之功</h4>
<p>金銀藤五、六兩，入酒內煎服。渣敷瘡上，四、五服立效。</p>
<h4>梅花點舌丹</h4>
<p>治一切疔毒及一切惡瘡初起，天行瘟毒，咽喉等腫痛諸症。輕者二粒，重者四粒。先用無根水送下，次以一粒噙於舌下化之。</p>
<p>乳香（去油）三錢　珍珠八分　沒藥（去油）二錢　京牛黃二錢　朱砂二錢　熊膽六分　硼砂二錢　苦葶藶二錢　片腦一錢　血竭二錢　沉香一兩　麝香六分　雄黃二錢　蟾酥二錢人乳拌共為細末，用人參汁丸，如黍米大，金箔為衣。</p>
<h4>治大麻風</h4>
<p>用明淨松香不拘多少，化去渣，取河水，用淨鍋，將松香煮化，不住手攪。視水色如米泔，嘗味極苦，即傾入冷水內，將松香乘熱扯拔，冷定堅硬，另換清水再煮，再拔。如前法制，不論數十次，只以松香體松潔白如玉，所煮之水不苦為度，陰乾為末，羅極細，二斤聽用。每日止食白粥，量投藥末和勻，食之。不可多嚼，日進數此，不可更吃干飯，只以菜干、筍干過口。一切油、鹽、醬、醋、葷、腥、酒果、糖面等，概禁勿食。渴時，只飲白滾水，每日服三、四錢，以漸而加，不可太驟。服後，大便下毒物。服完一料自愈。</p>
<p><u>又方</u></p>
<p>用大蝦蟆一個，重半斤者，酒煮爛，去蝦蟆，飲酒醉出汗，連食三個立效。</p>
<h4>治年久膿水瘡並血風瘡</h4>
<p>用如意草陰乾為末，微炒。雞子清調搽，神效。</p>
<h4>治鎖口瘡</h4>
<p>用木耳焙黃為末，香油調搽，其瘡即紅。</p>
<h4>治諸毒不收口</h4>
<p>生鉛三分，敲成薄片，煎如香茶樣，分三服。每日用鉛一分，拌核桃肉細嚼，好酒送下，三日服完。大便出毒物即收口而愈。</p>
<h4>生肌太乙膏</h4>
<p>治一切已破瘡毒。生肌、長肉、止疼、化毒，一日一換。</p>
<p>真麻油一斤　當歸二兩　生地二兩　生草一兩以油煎三藥，枯濾去渣，滴水不散。然後每油一兩下炒過黃丹五錢，慢火熬成膏，取起。</p>
<p>再又用公黃牛蹄，洗淨火　存性，研細末調服五錢，次日四錢，重者服三次即愈。</p>
<h4>治瘤方</h4>
<p>生薑汁一碗，牛皮膠四兩，蔥白汁一碗，砂鍋內熬成膏，去火，入麝香五分貼之，三日一換。</p>
<h4>治猴子</h4>
<p>蒲公英自然汁，頻點之，自落。</p>
<h4>治發背對口潰爛不收口方</h4>
<p>制紅粉四錢　乳香二錢（去油）　沒藥二錢（去油）　兒茶二錢　珍共為細末。先用溫水洗瘡，棉花拭淨，將藥摻上，用竹紙蘸濕貼上。一日一洗，神效。</p>
<h4>制紅粉法</h4>
<p>水銀一兩，煙硝一兩，枯礬一兩，共末。與水銀拌勻，入鐵盆內，用新粗白瓷碗覆定，鹽泥封固，晒乾，以大石一塊壓上，文武火燒。先文後武，燒三炷香。燒時常看，泥干有縫，即以濕泥補之，候冷升碗上為紅粉。</p>
<h4>鐵箍散</h4>
<p>治一切腫毒初起，圍之即散。</p>
<p>芙蓉葉（陰乾）五錢　薑黃五錢　白芨五錢　五倍子（炒，去蟲）五錢　白蘞五錢　生大黃一兩共研末，米醋熱調，稀糊圍之，止留中間一孔。</p>
<h4>治癬妙方</h4>
<p>用雞蛋一個，開一小孔，去白存黃，入硫黃末三錢，川椒末三錢，將濕紙封固火灰內煨熟為末。先以麻線將癬刮破，以皮樹漿或羊蹄根汁調藥末，搽上效。</p>
<p><u>又方</u></p>
<p>皂礬不拘多少，炒極干為末。豬油調敷，妙不可言。</p>
<p><u>又方</u></p>
<p>多年竹燈掛一個，火上燒出汁，如膠者為妙。另將五倍子去蟲，炒研為末，一味和一處，用陳醋火上溫熱和勻，搽之甚效如神。</p>
<h4>又治癬方</h4>
<p>癬生臉上，如錢大。抓之有白屑者，用綠豆捶碎，以紙蒙碗口，針刺多孔，以碎豆鋪紙上，炭一塊燒豆。豆灼盡，紙將焦，去豆揭紙。碗中有水，取搽三、五次即愈。</p>
<h4>治鵝掌癬</h4>
<p>手掌及指上層剝皮，血肉外露，用豆腐沫熱洗，效。</p>
<p><u>又方</u></p>
<p>生桐油搽患處，燒松毛煙熏之，立效。</p>
<h4>多年頑癬</h4>
<p>硫黃一兩　硝一錢　砒一錢先將硫黃入銀碗內化開，再入硝、砒末攪勻，傾入土內埋一七。遠年、近年頑癬搽三、五次，神效。</p>
<h4>已驗過癬方</h4>
<p>牛舌草根三錢　蚯蚓糞三錢　雷公藤五分　大楓子肉一錢五分　防風一錢五分　山槿皮三錢共末，陳醋調搽，愈。</p>
<h4>牛皮癬方</h4>
<p>以桃樹根同膽礬搗爛，敷之神效。</p>
<h4>治各種癬瘡方</h4>
<p>用新鮮羊蹄葉，不拘多少，搗爛加川椒、白糖，並食鹽少許，以布包之，浸好陳醋內半日，取布包搽癬。三日即愈。</p>
<h4>內消瘰丸</h4>
<p>夏枯草八兩　玄參五兩　青鹽五兩　海藻　海粉　貝母　花粉　白蘞　連翹（去心）　桔梗當歸　生地　枳殼　熟大黃　薄荷葉　硝石　生草各一兩酒糊丸，桐子大，臨臥服。</p>
<h4>治瘰痰核方</h4>
<p>用貓一只煮熟，數次食完，即消。</p>
<p><u>又方</u></p>
<p>老松香八兩　薑麻子仁一碗捶煉至熟，加乳香、沒藥各一兩，銅綠五錢，捶勻，以狗皮攤上，貼之立效。</p>
<h4>治瘰不論已破未破</h4>
<p>蓖麻子仁四十九粒　瀝青一兩　苦杏仁十三粒（去皮尖）</p>
<p>共搗千下，自然成膏，攤貼患處，神效。</p>
<p><u>又方</u></p>
<p>用如意草焙乾為末，雞子清調搽，愈。</p>
<h4>治疔瘡神效方</h4>
<p>雄黃四錢　生川大黃三錢　巴豆三錢（去油）</p>
<p>三味搗為末，取飛羅面、陳醋打糊為丸，如鳳仙子大。疔重者用二十三丸；輕者用二十一丸；再輕用十九丸。放在舌上，熱水送下，嘔瀉而愈。忌發物。</p>
<p><u>又方</u></p>
<p>用方用蛔蟲洗淨，瓦上焙乾，研末調塗，即愈。</p>
<p><u>又方</u></p>
<p>朱砂　真　砂　白礬（飛過）　食鹽（瓦上焙，去鹽性）</p>
<p>各等分為末，研勻，用瓷器盛貯，遇瘡刺出血敷藥。</p>
<h4>多年瘡</h4>
<p>大蒜瓣子燒灰，麻油調搽。</p>
<p><u>又方</u></p>
<p>柿葉燒灰存性，同川椒末搽患處，即愈。</p>
<h4>治蠍蜇蜈蚣咬方</h4>
<p>五月五日，用水膠一兩，乳香一兩，水煎化勻，攤紙上，剪作小條，每用少許，水濕貼之，立止疼。</p>
<h4>治漆瘡</h4>
<p>用杉木皮煎水洗之，效。</p>
<p><u>又方</u></p>
<p>蟹殼煎湯洗之亦效。</p>
<h4>金黃如意散</h4>
<p>治一切瘡毒、跌仆損傷、火丹天　、肌膚赤腫、乳癰丹毒癬瘡。</p>
<p>花粉一斤　川黃柏八兩　川大黃八兩　僵蠶八兩　白芷八兩　厚朴三兩二錢　陳皮三兩二錢　生甘草三兩二錢　蒼朮三兩二錢　大南星三兩二錢共為細末收貯，勿令泄氣，凡用以清茶同蜜少許敷之。</p>
<h4>治下疳瘡</h4>
<p>先用益母草煎水溫洗，次以川黃柏末、胡燕窠內土，研細等分，敷之。</p>
<p><u>又方</u></p>
<p>青靛花五分（缸花更妙）　珍珠一錢（入豆腐內煮，研極細）　真輕粉一兩共研千遍，細如飛面，收貯瓷罐，搽患處即愈。如腐爛疼痛，用甘草水洗之淨，將豬脊髓調搽。</p>
<p><u>又方</u></p>
<p>嫩兒茶為末，米泔水洗淨，敷之亦效。</p>
<h4>白玉膏</h4>
<p>治一切瘡疳瘡。</p>
<p>白芷　甘松　蘆甘石（　）　乳香（去油）　山柰　歸尾　樟腦　五靈脂　細辛各五錢　沒藥（去油）　象皮　白蠟各三錢　松香　冰片　麝香各一錢　鉛粉十三兩先將麻油二斤，熬至煙起，離火入白蠟、松香又熬。不住手攪，看有大泡，入鉛粉陸續下，滾即取起，稍停入火。如此數次，見有菊花紋小泡，便入前諸藥，滾仍取起，至滴水成珠，入冰、麝攪勻，待凝定傾水二、三盞，入罐收貯。</p>
<h4>大歸湯</h4>
<p>治一切火毒初起者立消。已潰者收功萬靈，萬效仙方也。</p>
<p>大全當歸（重一兩三、四錢者，用八錢二分）　生黃　五錢　金銀花五錢　生甘草一錢八分用酒二碗煎八分，溫服。上部加川芎一錢；下部加牛膝一錢；中部加桔梗一錢。</p>
<h4>治大小人兒身上膿窠瘡流水</h4>
<p><u>黃水搔癢不止，延蔓無已</u></p>
<p>官粉一兩（炒黑）　冰片三分共研為末敷之。</p>
<h4>治凍瘡</h4>
<p>鴿子糞煎湯洗之，立效。</p>
<p>又冬瓜皮、茄根煎水洗，亦愈。</p>
<p>又蟹殼燒枯研末，菜油調搽更妙。</p>
<h4>唇上生疔毒</h4>
<p>細看腿彎中紫黑筋，用長針刺破，血出即愈。</p>
<h4>萬靈奪命丹</h4>
<p>治一切疔毒入腹，煩悶惡心。兼治癰疽發背、惡瘡，神效。</p>
<p>朱砂（水飛）五錢　膽礬五錢　血蠍一兩　銅綠一兩　雄黃二兩　枯礬二兩　輕粉五錢蟾共為細末，面糊丸，芡實大，每服一丸。令病患先嚼蔥白三寸，吐在手心，將藥放在裡面，熱湯吞下，有汗即愈。</p>
<h4>生肌紅玉丹</h4>
<p>治一切瘡不收口。</p>
<p>黃丹（炒）二錢　白龍骨（　）二錢　石膏（　）三錢共為末摻之。</p>
<h4>治一切疥癩</h4>
<p>大楓子肉二兩　枯礬二兩　輕粉一兩　地瀝青一兩熔化和勻，搽之立效。</p>
<h4>治遍身疥癩</h4>
<p>雄黃　生礬　川椒　硫黃各等分為細末，用雞蛋黃炒油，調搽。</p>
<h4>治人馬疥癩</h4>
<p>鴿子糞炒枯，研末，醋調敷之。</p>
<h4>治干濕癰，並膿窠瘡、黃水瘡作癢作痛者</h4>
<p>大楓子肉二兩　枯礬四兩　樟腦三錢　蛇蛻（燒，存性）五分　露蜂房（燒，存性）五分共為末，入地瀝青四兩，水銀五錢，同研成膏搽之。</p>
<h4>水澄膏</h4>
<p>治一切無名腫毒。</p>
<p>白芨一味，不拘多少，搗為細末，溫水攪之，澄清去水，綿紙攤貼。</p>
<h4>治陰莖溫癢</h4>
<p>白梁粉三錢　石菖蒲三錢為末撲之。</p>
<h4>治惡腫一宿可殺人者</h4>
<p>茴香草搗汁，飲一升。一日三、四次，以渣敷腫上，起死回生方也。</p>
<h4>頭瘡收口方</h4>
<p>兒茶一錢　白龍骨（　）一錢　輕粉五分　滑石五分　冰片五厘共為末，以清茶洗瘡，敷之即愈。</p>
<h4>治項後生疙疽</h4>
<p><u>肉色不變，不問大小，年深月久不愈</u></p>
<p>生山藥（去皮）一塊　蓖麻子仁十個研勻，攤帛上貼之如神。</p>
<h4>治發背敷藥方</h4>
<p>車前草　草　巴山虎草　金銀花各等分多年陳米粉為糊調敷之。</p>
<h4>一掃光</h4>
<p>治疥瘡及婦人陰蝕瘡，諸般惡毒，神效。</p>
<p>蛇床子　苦參　蕪荑各一兩　雄黃　川椒　大楓子肉　硫黃各五錢　枯礬一兩二錢　輕粉二兩　樟腦二兩共為細末，豬油調搽。</p>
<h4>治便毒方</h4>
<p>生大黃　全蠍（去頭足，炒去毒）穿山甲各三錢水煎服。外用千年鍛石，入明礬一把，鹽少許，米湯調敷即消。一方加白芷四錢，大黃六錢。</p>
<h4>治坐板瘡方</h4>
<p>朱砂雄黃各一錢　輕粉　枯礬　黃柏各五錢共為末，先用川椒煎水洗，後敷藥末，神效。</p>
<h4>毒蛇咬方</h4>
<p>細辛　白芷各二錢　雄黃一錢　麝香少許共為末，好酒服一錢。</p>
<h4>犬咬方</h4>
<p>蚯蚓泥和鹽研敷之。</p>
<h4>治手指頭大蛇瘡</h4>
<p>生鴨蛋二個　蜈蚣一條焙乾為末，分一半入蛋內，套在指上，候熱，再換一個。</p>
<h4>治無名腫毒</h4>
<p>蔥白七根，蜂蜜一兩，同搗敷之，神效。</p>
<h4>至寶丹</h4>
<p>治一切癰疽，腫毒，對口背疽，乳癰結毒危難諸症。</p>
<p>川烏二錢　草烏二錢（同川烏酒浸，剝去皮，面包煨熱，取淨肉用）　穿山甲二錢（炒）</p>
<p>膽礬二錢　乳香（去油）三錢　沒藥（去油）三錢蟬蛻（去頭足）三錢全蠍（鍛石水洗，去頭足尾，瓦上焙乾）三錢　熊膽三錢　銅綠（水飛）三錢　荊芥穗（去肉）三錢　僵蠶三錢血竭三錢　雄黃三錢　牙皂（去皮酥炙）二錢　信二錢（用豆腐一塊，濃二寸，中挖一孔，納信於孔中，以豆腐蓋信，酒煮三個時辰）　蜈蚣大者五條（酒蒸去頭足，瓦焙小者用）</p>
<p>麝香七分　朱砂上藥以天醫吉日研為細末，面打糊為丸，重四分一粒，以黃蠟為殼。臨用時，蔥頭三寸，薑三片，用黃酒煎一小盅，將藥化開送下，隨量飲醉，蓋被出汗，二、三服即愈。</p>
<h4>消風散</h4>
<p>治痱子。風濕浸淫血脈，致生瘡疥。大人、小兒風熱癮疹遍身，雲片斑點乍有乍無當歸　生地　防風　蟬蛻　知母　苦參　胡麻　荊芥　牛蒡子　蒼朮（炒）　石膏（　）</p>
<p>各一錢水二盅，煎八分，食遠服。</p>
<h4>治痱子方</h4>
<p>石膏研末，和綠豆粉撲之。</p>
<h4>蟾酥丸</h4>
<p>治一切疔瘡發背，腦疽乳癰，附骨等疽，諸惡症歹瘡，成麻木不痛，或嘔吐心慌，或心神昏憒，急服此藥。不起發者即發；不痛者即痛；昏憒者即蘇；嘔吐者即解；未成者即消；已成者即潰，真有回生之功，乃惡症中之至寶也。</p>
<p>蟾酥三錢　輕粉五分　枯礬　寒水石（　）　銅綠　乳香（去油）　沒藥（去油）　膽礬麝香　以上各一錢　蝸牛五個朱砂三錢以上各為細末，稱準。於端午日午時在淨室中，先將蝸牛研爛，再同蟾酥和勻，方入群藥搗極勻，丸如綠豆大。每服三丸，先用蔥白五寸，患者自嚼爛吐手中（男左女右）包藥在內，用無灰熱酒送下，蓋被出汗立效。</p>
<h4>鉛粉散</h4>
<p>治腳上冷疔。初起紫泡，疼痛徹骨，漸腐爛，深孔紫黑血水腥穢，日久不愈，用黑鉛四者，以鐵杓熔化，傾水再化，再傾。如此百遍，以鉛盡為度，去水澄下者三錢　松脂一錢　黃丹（水飛炒）五分　輕粉五分　麝香一分共研為末，先用蔥煎水洗淨，麻油調塗，瘡口油紙蓋之。</p>
<h4>治膿窠瘡</h4>
<p>硫黃一錢　雄黃一錢　胡椒八分共研細，香油調搽。</p>
<h4>疳瘡</h4>
<p>牆上白螺殼去土淨，火　研細末五分　輕粉五分　官粉三分　冰片一分和勻。先用米泔水洗淨，摻上立愈。</p>
<p><u>又方</u></p>
<p>以羊須燒灰存性，敷之亦妙。</p>
<h4>治腎囊風</h4>
<p>（一名繡球風）　老杉木燒灰存性研末，再用雞蛋煮熟去白存黃，炒出油，調杉木末搽之。</p>
<p><u>又方</u></p>
<p>用荷葉加吳茱萸煎水洗之。</p>
<h4>治陰囊腎子腫大</h4>
<p>灶心土三升，研細炒熱，加川椒、茴香各一兩，以布袋盛之，將陰囊坐在上面，冷則再換，三次即愈。</p>
<p><u>又方</u></p>
<p>用棉花子仁一兩，煎湯常洗之，自愈。</p>
<h4>治腎子爛出</h4>
<p>老杉木燒灰存性，蘇葉各等分為末敷上，仍以蘇葉包之。</p>
<h4>治脫肛</h4>
<p>五倍子八個　川椒二十粒　蔥二根米泔水煎洗。</p>
<h4>治羊須瘡方</h4>
<p>小紅棗燒灰存性，清油調敷。</p>
<h4>治通身風癢</h4>
<p>苦參一兩　生甘草一兩　皮硝五錢煎水洗之。</p>
<h4>治陰頭生瘡</h4>
<p>白蜜調生甘草末塗之。</p>
<h4>治瘡癤久不收口</h4>
<p>白朮、槿花　過存性為末，摻上神效。</p>
<h4>治腳上生瘡亂孔如蜂窩</h4>
<p>如意草搗爛敷之。或用干如意草為末，雞子清調敷亦妙。</p>
<p>人咬傷　生栗子嚼細，敷之良。</p>
<p>治一切癰疽瘡斂者，用鱉甲燒灰存性摻之，神效。</p>
<h4>頭上軟癤</h4>
<p>大芋頭搗爛，敷之即愈。</p>
<h4>百應神膏</h4>
<p>治一切瘡毒，隨貼隨愈。並治風癱鶴膝。</p>
<p>南星　川大黃　桃仁　羌活　半夏　草烏川烏　紅花　獨活　當歸以上各四錢用真麻油一斤，每藥一斤加生薑一兩，蔥白十根，頭發一團，同入藥內，熬枯焦色，濾渣。再用廣松香一斤，入濾清油內又熬，至　桃花起，先入陀僧末二兩，又徐徐加入硫黃末半斤。投此二味，須慢慢洒入，不可太多、太驟，以滴水成珠為度。將此膏藥傾入水中去火毒。</p>
<h4>治頭上癭瘤方</h4>
<p>不疼不痛，俱是痰結。</p>
<p>川黃柏（細末）一兩　海藻（細末）一兩二味和勻收貯。每用五分，放手心上，以舌舔之。一日三、五次即消。</p>
<h4>治流火方</h4>
<p>兩腳紅腫放亮，其熱如火。</p>
<p>馬前子一個，用粗碗底磨水，以雞翎掃遍。少頃，又磨，又掃，一日三、五次，其疼即止。三日後全消。</p>
<h4>治腳面生瘡不收口</h4>
<p>松香一錢　枯礬一錢　杉木灰一錢各等分為末，用真麻油調敷，數次即愈。</p>
<h4>治痞外消</h4>
<p>黃牙魚一尾，米泔水洗淨，韭菜二十根，蔥頭七個，同搗爛，入鍋內。乘熱以絹袋包敷患處，內有響聲即愈。</p>
<h4>又內消散</h4>
<p>雄雞肫內皮四個，陰乾，新瓦焙存性。砂仁四錢，神麯二錢，共為末，作六服，淡鹽湯下。如全消，常服健脾丸。尚未全愈，成老痞，再用：糯米一升（炒黃），砂仁四兩（炒），神麯二兩（炒）。</p>
<p>共為末。每服五錢，用陳皮三錢，煎湯下，早晚二次。忌豬肉，惟鯽魚妙。</p>
<h4>治痞膏藥</h4>
<p>蔥白汁四兩　薑汁四兩　水膠八兩好黃酒二盅，同水熬成珠，攤狗皮上貼痞處，待痞化，去藥。</p>
<h4>痞氣成黽</h4>
<p>錫四兩　牙豬精肉一斤同緩緩干炒，待錫氣入肉內為度。不用鹽，將真麥燒酒咽肉，或未成大害減錫二兩，如前法制食之。</p>
<h4>痞塊氣塊</h4>
<p>阿魏二錢　乳香　沒藥　礞石　雷丸　檳榔　枳實　赤茯苓各三錢　常山　漆渣各三錢晚蠶砂五錢　水紅花三錢　老雞肫皮七個（五個亦可）。</p>
<p>上俱為末，神麯打糊為丸，梧子大。每服三十丸，黃酒送下。三、五日可化。</p>
<h4>治疔瘡諸毒方</h4>
<p>苦參　玄參　青木香　槐花　連翹　龍膽草　柴胡各二錢　生地三錢在頭加川芎；在手加金銀花；在後加桔梗；在上部加杜仲；在下部加牛膝。用黃酒一碗，水一碗，煎六分，溫服。復渣，仍照前煎六分，露一夜，服。</p>
<h4>治騾馬驢鼠瘡</h4>
<p>將馬捆倒，以蹄尖往上，鋸，見血為止。不要見水。</p>
<h4>治破瘰方</h4>
<p>將先破之處，面糊作餅貼上。用小砂壺二個，燒酒煎滾，去酒，以熱壺口復於面糊上熏瘡。如拔火壺一樣，壺冷又易一壺。如此將毒瓦斯拔盡即愈。熏後用豬膽熬成膏</p>
<h4>治痞塊方</h4>
<p>用膏藥貼痞塊處，將面糊作圈，圍膏藥上。將皮硝四兩，麝香二分，共為細末，置圈內。</p>
<p>將燒酒十兩，盛瓶內煎滾摩之，硝運化復干為度。若小孩不用瓶，以豬尿脬盛硝、麝、酒，扎緊。以絹捆在肉上貼患處摩之，以酒干為度。</p>
<h4>治黃病方</h4>
<p>用面糊作圈圍肚臍，將黃蠟化開，薄薄塗紙上，卷作筒，安面圈內，向臍上，以火燒紙筒，筒盡再易一筒，以黃拔盡為度。不便令風入臍以膏藥貼上。如黃未拔盡，用數十筒燒，以筒內黃拔盡為止，即愈。</p>
<h4>千金不易膏藥</h4>
<p>專治一切腫毒瘰　。</p>
<p>魚一個，重一斤，即二個無妨。每斤用香油一斤煎魚，已枯撈去魚，入黃丹六兩熬成膏，</p>
<h4>膏藥方</h4>
<p>治一切寒涼腰氣，筋骨流痰等症。</p>
<p>香油一斤　野大黃根半斤煎枯去渣後，入黃丹六兩，熬成膏，攤貼之，效。</p>
<p><u>又方</u></p>
<p>香油一斤　黃丹六兩　黃蠟　白礬　新剃頭發（熱水淨去油膩燒存性）各三錢　乳香沒藥各三錢共入油內熬去渣成膏，百病可貼。</p>
<p><u>又方</u></p>
<p>貼風濕骨疼。</p>
<p>獨蒜四兩　大椒四兩　生薑四兩　生蔥四兩　蛇蛻一條（全者佳）　香油一斤以上共入油內熬出汁，濾渣後入黃丹六兩，熬成膏攤貼之。</p>
<h4>風濕諸般疼痛膏藥</h4>
<p>玄參　苦參各四兩　黃柏三兩　荊芥二錢五分　鬱金二錢防己三錢　川烏　草烏各四錢大黃　生薑各三錢　香油三斤將群藥入油內浸三日，鐵鍋熬，入鱉甲一個，以驗火色。以鱉甲黑枯為度，濾去渣，下黃丹一斤半，以水飛過炒干，文武火煮，滴水成珠，下乳香、沒藥各三錢，麝香一分，攪勻，將瓷磁瓶盛之，埋土內一七，去火氣攤貼。</p>
<h3>急治門</h3>
<h4>清涼散</h4>
<p>專治湯泡火燒，敷之止疼立愈。</p>
<p>大麥，淨砂鍋內炒至漆黑為度。取出以紙鋪地上，出火氣，研細末。爛者，干搽末；破者，</p>
<p><u>又方</u></p>
<p>用水中大蚌四、五枚，置瓷盆中，候口開，入片、麝二、三分於內，即化為水。以雞翎將水四面掃上，再以蚌殼燒灰研末，入片、麝少許，敷之立效。</p>
<p><u>又方</u></p>
<p>用人糞，瓦上焙枯黑研末，香油調塗亦效。</p>
<h4>回陽丸</h4>
<p>專治陰症肚疼，立刻見效。</p>
<p>明礬　火硝　胡椒各一錢　真黃丹八分共為細末，陳醋為丸，男左女右握在手心，以帛縛之出汗而愈。</p>
<p><u>又方</u></p>
<p>用黑豆炒熟，乘熱研爛，以熱黃酒潑上，一飲而盡，神效之方也。</p>
<p><u>又方</u></p>
<p>將本人腳後跟啃出血津，即愈。</p>
<h4>治陰症回生膏</h4>
<p>枯礬　本　乾薑各五錢連須蔥數莖，搗爛，敷臍上，熱磚烙之。</p>
<h4>又治湯泡火燒方</h4>
<p>切不可用涼水澆洗。如一時藥不便，先飲童便一碗，或生蘿卜汁一碗，再將生大黃末或香油、或桐油調敷。如爛見肌肉者，用山野人家百草霜二錢，輕粉一錢五分，研末，香油調敷，內服清涼散。</p>
<h4>治金刃傷</h4>
<p>用好雞骨炭，擲地有聲者，同好松香各等分搗成一塊，用老韭菜汁拌濕、陰乾。如此搗拌三、四次，為細末，收貯，每遇金瘡敷之，立愈。切不可飲冷水，食稀粥，只食干飯。</p>
<h4>附子理中丸</h4>
<p>（去附子，名理中丸）　治五臟中寒，口禁失語，大吐大瀉之後，四肢皆冷，元氣不接，不省人事。</p>
<p>大附子（面煨，去皮臍）二錢　白朮（土炒）二錢　乾薑（炒）二錢　人參二錢棗二枚為引，水煎服。</p>
<h4>魚骨鯁喉不下</h4>
<p>用象牙磨末，水服之即下。</p>
<p>諸般魚骨鯁及竹木刺入喉中　水一碗，用濃墨筆寫癸，水化為龍，行六字在上，一氣飲。</p>
<p>若不下，再服一次，未有不下者。</p>
<h4>諸般骨鯁</h4>
<p>玉簪花為末。如無花，取根汁，將醋調汁灌下，不可黏牙。</p>
<h4>吞針鯁喉不下</h4>
<p>黑沙糖和泥為丸吞下，泥裹針，自出於大便中。</p>
<p><u>又方</u></p>
<p>蠶豆煮熟同韭菜食之，亦從大便中出。</p>
<h4>魚骨鯁</h4>
<p>將魚刺一根，暗插在他頭上，勿說破，自下。</p>
<p><u>又方</u></p>
<p>寫一龍字，在喉嚨上；寫一龍字在涼水碗，呷之即下。</p>
<h4>雞骨鯁</h4>
<p>香油煎滾，溫服立下。</p>
<h4>豬骨鯁</h4>
<p>象牙刮末，浮於新汲水上吸之。</p>
<h4>竹木刺入肉中</h4>
<p>鹿骨燒存性為末，水調敷之。雖日久，不過一夜即出。</p>
<p><u>又方</u></p>
<p>羊屎燒，為末，和豬油敷之。或以牛膝草嚼爛敷之亦妙。</p>
<h4>木屑嗆喉</h4>
<p>鐵斧磨水灌之即愈。</p>
<h4>吞金銀銅鐵不化</h4>
<p>砂仁煎濃湯，渴服自出。</p>
<p><u>又方</u></p>
<p>白丁香三錢煎湯，服之立下。</p>
<h4>誤食輕粉筋骨疼痛</h4>
<p>川椒去目，每日清晨吞之，任意不拘多少，白湯下。</p>
<h4>誤食水蛭</h4>
<p>（即螞蝗）　泥土為丸，香油為衣，每服二、三百丸。空心溫酒送下，隨出。</p>
<h4>誤食田螺卡喉將死者</h4>
<p>將鴨一只，以水灌之。少時，將鴨倒懸，令吐涎與病患服之，即化。</p>
<h4>針折在肉內</h4>
<p>鼠腦塗之即出。</p>
<h4>誤食桐油</h4>
<p>多飲滾酒即解。</p>
<h4>中砒霜毒</h4>
<p>醬調水服。若在胸中作楚，急用膽礬研水灌之，或用真菜油灌之立解。或用稻草燒灰，以新汲水淋汁一碗，冷服立解。</p>
<h4>中菌毒</h4>
<p>將淨地下挖深二尺許，入新汲水於內，攪三百下，待澄清飲之，立解。</p>
<h4>中諸藥毒</h4>
<p>玉簪花根擂水吞之，勿黏牙。又用生薑汁立解。</p>
<p><u>又方</u></p>
<p>五倍子二兩，研末，黃酒送下。若毒在上，則吐；在下即瀉。</p>
<h4>中巴豆毒</h4>
<p>煎黃連汁服之，即解。</p>
<h4>中六畜肉毒</h4>
<p>水煎牆上黃土二錢飲之，即解。</p>
<h4>中馬肉毒</h4>
<p>將蘆根搗汁一碗，飲。並煎湯浴體，愈。</p>
<h4>中豬肉毒</h4>
<p>豬牙燒為末一錢，水送下。</p>
<h4>中鴨肉毒</h4>
<p>豬糞燒為末，每一錢水送下。</p>
<h4>中鱉毒</h4>
<p>食鱉肉誤食莧菜，成鱉腹脹，速飲白馬尿一碗，即化。</p>
<h4>蛇毒並蟲毒</h4>
<p>以蒼耳草嫩葉杵汁灌之，仍將葉敷傷口。毒入腸者，以兩刀相磨，取磨下之汁服。又或用益母草煎服。</p>
<p><u>又方</u></p>
<p>馬桑皮和鹽杵爛敷傷口。兼治蜈蚣毒。</p>
<p><u>又方</u></p>
<p>以生薑、半夏搗爛敷。即以二味煎酒服。</p>
<h4>祛蜈蚣法</h4>
<p>凡人家多蜈蚣，以頭發常燒煙或床下，或廚房聞之，入土三尺。</p>
<h4>被毒傷跌倒不起將死者</h4>
<p>香白芷搗爛為末，麥冬去心，好酒煎服，良久有黃水自傷口出。候水盡，腫消皮合，仍將藥渣搗爛敷之。又扁豆葉搗爛敷。</p>
<h4>蛇咬</h4>
<p>菜刀燒紅，將生白礬少許放刀尖上，化水滴患處即愈。</p>
<h4>睡著蛇拔口中拔之不出</h4>
<p>先以快錐刺定蛇尾，即將刀剖尾，以川椒數顆入內纏定，自然退出</p>
<h4>雄靈散</h4>
<p>治毒蛇所傷，昏悶欲死者。</p>
<h4>雄黃五錢</h4>
<p>五靈脂一兩共為末，每服二錢，好酒調服。渣仍敷患處，良久再進一服即愈。</p>
<h4>水蛇刺傷</h4>
<p>莧菜根順擂滾酒泡，以碗蓋之，熱飲取汗為度，渣仍敷患處。</p>
<h4>瘋狗傷人</h4>
<p>川黃連三錢　番木鱉三個　虎脛骨三錢　甘草一錢以麻油四兩，將前藥煎汁取渣，又生酒內煎過，先吃油，後將藥渣酒飲醉，取汗。忌鵝、狗、羊肉七日，余不禁。</p>
<p><u>又方</u></p>
<p>斑蝥七個，去頭足，入糯米同炒，研為末，溫酒送下，無人處方服，瀉在便桶內，有沫似狗形為驗。如無形，宜服六、七次。愈後，將黃連一兩水煎服，解毒。忌葷、酒百日。</p>
<p>凡遇此傷，先將刺破患處用艾汁洗，又服此藥，無不效矣。否則腹中聞犬聲，不救。</p>
<h4>狗咬</h4>
<p>甘草、杏仁以口嚼爛敷之。又以鼠屎搗爛敷之，即止痛。</p>
<h4>虎傷</h4>
<p>多服生薑汁，並用淋洗傷口，又以白礬末敷之，即止痛。</p>
<h4>馬咬及跌傷</h4>
<p>艾火炙傷處，以馬糞及人糞燒存性，豬油調搽。</p>
<h4>貓咬</h4>
<p>薄荷搗汁塗上。</p>
<h4>鼠咬</h4>
<p>貓毛燒灰，加麝香少許，以唾津潤敷。</p>
<h4>毒蜂蜇人將死者</h4>
<p>蜂房焙為末，豬油調敷。又隨身藥將陽物垢手掏擦患處，並治蜈蚣等狗咬</p>
<p><u>又方</u></p>
<p>蜂將蜇時，就地畫一玉字，口念金木水火，上句一字一畫於初一橫金字起，念到臨了土字一點下止。即於點下之土捻起，就傷處敷之即效。</p>
<h4>蜈蚣咬</h4>
<p>將咬時就地畫一馬字，口念子丑寅卯辰巳午未申酉戌亥之句。一字一畫於初一畫念「子」字起，念到臨了「亥」字一點下止。亦於點下之土捻起，就患處塗之立愈。又用草紙燒煙熏之；又用獨蒜頭搗爛敷咬處，或燒頸發煙熏之。</p>
<h4>急救自縊</h4>
<p>輕輕解下，不可割斷繩索，亦不可令其仰臥。以頭扶正，將手足慢慢屈彎，將糞門用力頂住，不令泄氣，以一人用手揪住頭發，將頭扯直，再用二人將葦筒吹兩耳，不住手按摩胸前，雖氣絕時久，多吹多摩亦可救活。</p>
<h4>急救凍死或落水凍死</h4>
<p>但胸前微熱，急脫去濕衣包之，不可令近火，須用布袋盛炒熱爐灰，放心口擦摩。如冷，又換熱灰，待開眼，以溫酒薑湯灌之。</p>
<h4>卒然中惡仆地不語</h4>
<p>皂莢末少許，吹入鼻內即醒。</p>
<h4>治暴死</h4>
<p>燒炭一爐，以陳醋頻澆火上，令鼻聞之即活，或韭菜汁灌鼻亦可。</p>
<h4>熱死</h4>
<p>切禁冷水近身，用草繩一條盤臍，以三、四人溺尿臍中，不然以熱水澆臍亦可。醒後亦不可飲涼水。</p>
<h4>治破傷風</h4>
<p>用糞堆內蠐螬蟲一、二個（舊草房上亦多），將蟲脊背捉住捏之，口吐黃水抹於瘡口，覺麻，身上汗出即愈。如病勢危急，滴黃水於熱酒內飲之，取汗立效。</p>
<h4>治羊顛風</h4>
<p>肥皂子去外黑殼，取仁焙熟研末。每服五分，空心白湯下，不可斷間。</p>
<h4>解河豚魚毒</h4>
<p>橄欖、蘆根、糞水皆效。或香油一碗灌之，吐出即愈。</p>
<h4>解鹽鹵毒</h4>
<p>以豆腐漿灌之。</p>
<h4>解燒酒毒</h4>
<p>鍋蓋上氣流水半盞，灌下即醒。</p>
<h4>解中蟲毒</h4>
<p>預以炙甘草一寸嚼汁咽之，然後飲食。若中蟲即吐，仍以炙甘草四兩，薑四兩，水六碗，煎二碗，日三服。</p>
<h4>中蚯蚓毒，形如大麻風須眉皆落</h4>
<p>用鍛石泡熱水，候涼洗患處，浸之良久愈。</p>
<h4>急救溺水死者</h4>
<p>以本人橫復臥於黃牛背上，放箸一根於口中，使水可出，又以老薑擦牙即活</p>
<h4>解中藥箭毒</h4>
<p>雄黃末敷之，沸汗出愈。</p>
<h4>驚死</h4>
<p>以醇酒灌之活。</p>
<h4>忽然九竅出血</h4>
<p>用大薊一把，絞汁。以好酒半盞調和頓服。如無鮮者，干者為末，服三錢亦妙。</p>
<h4>臥忽不醒</h4>
<p>切忌火照。但痛咬其腳大拇指甲際，而唾其面則醒。如不醒，以韭菜汁灌之鼻中，即活。</p>
<h4>鬼壓鬼打</h4>
<p>如人初到客舍及無人冷房，睡著覺鬼物壓打，其人呃呃有聲，呼之不醒，不救必死。其法用雄黃、牛寅各一錢，朱砂三分，研末和勻，以一錢燒於床下，一錢溫酒調灌之。</p>
<h4>解中魚毒</h4>
<p>冬瓜搗汁飲之。</p>
<h4>解蟹毒</h4>
<p>紫蘇汁飲之。</p>
<h4>毒蛇咬</h4>
<p>細辛　白芷各五錢　雄黃五分為末，每服二錢，好酒調服。</p>
<h4>蛔咬心疼面青吐沫</h4>
<p>蛔（音：為），人腹中長蟲。　蓄十斤，銼細；水一石，煮一斗，去渣，煎如飴。隔宿，勿飲食，空心服一升，蟲即下。《海上歌》云：心頭急痛不能當，我有仙人海上方。　蓄醋煎通心咽，管教時刻便安康。</p>
<h4>嘈雜</h4>
<p>先食豬肉一片後，以砂糖水調鉛灰四錢，五更服。昔許學士有此病，用此方，下蟲二條。長二尺五寸，有斑紋，為寸白蟲也。</p>
<p><u>又方</u></p>
<p>豬肉一塊，鍛石拌一夜，次日去灰燒肉，將飛過鹽少許，食之效。</p>
<h4>治喉內骨鯁法</h4>
<p>以淨器盛新汲水一盞，面朝東默念云：「謹請太上東流水急，急如南萬火帝律令敕」。一氣念七遍，即吹一口氣於水中。如此七次，令患者飲此水，立解。</p>
<h3>保養門</h3>
<h4>長君長命丹</h4>
<p>白茯苓　粉甘草各四兩　川椒　乾薑各二兩共為末。白面六斤，真麻油二斤（煉泛花淨），蜜一斤（煉花泛淨）。入前藥，面拌搗為丸，彈子大。初服一日三丸，三日九丸。後一日一丸，飲涼水三口，一日不飢不渴，如要食，吃核</p>
<h4>長生保命丹</h4>
<p>（此藥能轉老還童，一切疾病都皆除，服百日能記萬言）</p>
<h4>牛膝肉</h4>
<p>枸杞子　地骨皮　遠志肉（俱用酒浸）　石菖薄　生地黃各二兩　干菊花一兩共為末，煉蜜為丸，梧子大。每服五、六丸，溫酒送下。</p>
<h4>延壽固本丹</h4>
<p>益智仁一兩　遠志　五味子　蛇床子各五錢　肉蓯蓉一兩（酒洗去殼）　木香一兩　蓮蕊三錢　菟絲子一兩（酒洗）　沉香一兩共研末，煉蜜為丸，桐子大。空心每服三錢，鹽湯送下。</p>
<h4>烏豆方</h4>
<p>熟地二兩　杜仲一兩　青鹽半斤　巴戟肉三兩　菟絲子三兩　枸杞子二兩　山茱萸肉二兩金櫻子三兩（去毛）　五味子一兩　小茴香一兩　破故紙一兩（鹽水炒）　黃　一兩甘草三錢　黎椒五錢共為末，以絹袋盛之，縫固。黑豆五升，水量入，文武火煮透，取起晒乾，再煮，以藥淡為</p>
<h4>十精丸</h4>
<p>枸杞（天之精）　熟地（地之精）　干菊花（日月之精）　山藥（土之精）　川椒（火之精）肉蓯蓉（木之精）　菟絲子（水之精）　天門冬（金之精）　柏子仁（千年老翁之精）</p>
<p>白茯苓（千以上各等分為末，煉蜜為丸，如梧子大。每服四、五十丸。滾水，茶酒俱可下，功難盡述。</p>
<h4>延壽固精丸</h4>
<p>菟絲子　肉蓯蓉　熟地　蛇床子　川牛膝（去心，俱酒浸一宿）　柏子仁　桂心（去骨）</p>
<p>北五味子　遠志（去心）　青鹽以上各一兩，為細末，煉蜜為丸，桐子大。每空心溫酒服三十丸。</p>
<h3>補益門</h3>
<h4>太乙種子丸</h4>
<p>專治陽痿不起，精少無子，服之保養一月，自效。</p>
<h4>魚鰾（炒成珠）四兩</h4>
<p>真桑螵蛸四兩（炒黃）　韭子（炒）二兩　蓮須二兩　熟地二兩（焙）　杜仲二兩（薑炒）　牛膝二兩（酒浸）　枸杞子二兩　沙蒺藜（炒）二兩　人參二兩　菟絲子二兩（酒煮）</p>
<p>天冬二兩　龜板二兩（炙）　鹿茸二兩（炙）　破故紙二兩（酒浸炒）　肉蓯蓉二兩（酒洗，去鱗甲）　白茯苓二兩　遠志肉（去骨，甘草水泡）二兩　當歸二兩（酒洗）　青鹽（泡）</p>
<p>五錢蜜丸，梧子大。空心服二錢，白湯下。</p>
<h4>敷陽固精丸</h4>
<p>專治陽痿，虛憊不固不舉，心腎不交。</p>
<p>人參二兩　黃　（酒炒）二兩　官桂二兩　熟附子一個　川芎一兩　杜仲一兩（薑炒）　山藥（炒）四兩　破故紙（炒）四兩　小茴香（炒）四兩　菟絲子八兩（酒煮）　巴戟二兩（去心，酒浸）　鎖陽二兩（酒煮）</p>
<p>蜜丸，桐子大。每服三錢，滾湯空心下。</p>
<h4>烏須種子丸</h4>
<p>黑豆五升（砂鍋內黃酒煮熟，晒乾）　破故紙一斤（鹽水炒）　枸杞子一斤（酒洗）菟絲子一斤（酒煮透）　川椒（去閉口目者）八兩（先洗淨，地一塊用炭火燒紅，用水潑濕，將椒在地上以瓷盆蓋之，一宿取用）</p>
<p>共為末，酒糊為丸，梧子大。每服三錢，白滾湯空心下。</p>
<h4>加味虎潛丸</h4>
<p>專治腎水不足，筋骨痿弱，不能步履。</p>
<p>當歸二兩五錢（酒炒）　白芍（酒炒）二兩　人參二兩　黃　（蜜炙）二兩　山藥（炒）</p>
<p>四兩　白茯苓二兩　黃柏（酒炒黑）二兩　牛膝二兩　熟地四兩　鎖陽（酒洗）四兩　杜仲（去皮，鹽炒）二兩　菟絲子（酒煮）二兩　虎脛骨（酥炙）二兩　龜板二兩　破故紙（鹽炒）二兩　知母一兩五錢共為末，以豬脊髓為丸，梧子大，每服三錢，白湯空心下。</p>
<h4>十子丸</h4>
<p>烏須種子。</p>
<p>槐角子（同何首烏蒸七次，去烏子）三兩　復盆子　枸杞子　桑椹子冬青子　波石子　五味子（以上六子用酒洗過，用馬料豆蒸晒五次）各用三兩　菟絲子（酒煮）三兩　蛇床子（酒洗，蒸晒五次）三兩以上共為細末，以金櫻子熬膏，和成丸。每服三錢，好酒下。</p>
<h4>天王補心丹</h4>
<p>養心神，益智慧，補精血，安睡臥，久服通神。</p>
<p>人參一兩　丹參一兩（酒洗）　玄參一兩　生地二兩（酒洗）　歸身二兩（酒洗）　天冬二兩（去心）　白茯神二兩　遠志（去骨，甘草水泡）一兩　麥冬二兩（去心）　生草一兩柏子仁（去油）一兩　棗仁（去殼，炒黑）一兩　桔梗一兩　五味子五錢　百部五錢　石菖蒲五錢　杜仲（薑蜜丸。每丸重二錢，辰砂為衣，臨臥服一丸。</p>
<h4>補氣湯</h4>
<p>凡勞倦辛苦之後服一劑，免生內傷之症。</p>
<p>黃　三錢（蜜炒）　人參一錢五分　白朮（土炒）一錢五分　廣皮一錢　麥冬二錢（去心）　生甘水煎服。</p>
<h4>長生不老丹</h4>
<p>滋陰健脾，補氣養血，須暢三焦，培補五臟，烏須發，固齒牙，其功不能盡述青鹽三兩（用水五碗煎至三碗，澄清聽用）　黑豆一升（肥者，聽用）　何首烏五斤（米泔水泡，銅刀刮去皮，將黑豆並青鹽水對酒各一半，同煮何首烏，干，去筋）　白茯苓　赤茯苓各八兩　歸身八兩（酒洗）　白扁豆（薑汁浸，酒、水各半煮干）八兩　芡實（去殼炒）</p>
<p>八兩　薏米仁（炒）八兩　天冬八兩（去心）　麥冬八兩（去心）　知母八兩（酒炒）　枸杞八兩（酒炒）　菟絲子八兩（酒煮）　蓮肉（去心）八兩　牛膝（酒浸）八兩　冬青子（酒浸）八兩　黑芝麻（酒拌炒）八兩　復盆子（酒蒸）一兩　川巴戟（酒浸）八兩　人參（量加）</p>
<p>以上共為細末，煉蜜為丸，如梧子大，每服二、三錢，白滾湯空心下。</p>
<h4>養老丸</h4>
<p>熟地八兩　巴戟四兩　山萸四兩　北五味一兩　薏苡仁三兩（炒）　芡實四兩　車前子一兩（炒）　牛膝三兩（酒炒）　山藥四兩（炒）</p>
<p>蜜丸，梧子大。每服三錢，空心滾水下。</p>
<h4>金櫻子膏</h4>
<p>活血駐顏，添精補髓，久服耐寒身輕。</p>
<p>金櫻子去刺及子，以水淘淨，入砂鍋內水煎，不得絕火。水煎干一半，濾過仍煎，似稀餳收</p>
<h4>白沙丹</h4>
<p>和補筋脈，起陰發陽，破滯氣，化五積，益精神，安臟腑，除心氣，去盜汗，烏須發，去風疾，五勞七傷，左癱右瘓，並皆治之。</p>
<p>八角茴香二兩（炒黃）　川烏二兩（火泡炒）　南蒼朮二兩（米泔水浸）　熟地三兩（蒸，不用酒）</p>
<p>上為細末，酒糊丸，梧子大，每服三十九丸，空心酒下。</p>
<h4>八聖丹</h4>
<p>種子治百病。</p>
<p>沙蒺藜八兩　川續斷四兩（酒洗）　復盆子四兩（酒洗去蒂）　干枸杞四兩　山萸（去核，酒洗）</p>
<p>蒸餅，酒打為丸，梧子大。每空心服三錢，白滾湯下。</p>
<h4>回陽丹</h4>
<p>沉香　木香　鹿茸　大茴　小茴（鹽水炒）　青皮　梔子（去殼炒）　補骨脂　木通地熟地　肉蓯蓉　地龍（洗淨土，炒干）　石菖蒲各一兩　胡巴二兩（生熟各半）　大海馬一對（酥炙）　人參（可有無）</p>
<p>共為細末，酒糊為丸，梧子大。每服一錢，早晚二服，二七見效。</p>
<h4>起痿陽</h4>
<p>硫黃四兩研末，水調為糊。以石燕三兩，燒紅，頻投糊內，以酥為度。外用柏子仁三錢　枸杞五錢　人參三錢共為細末，面糊為丸，綠豆大。每服四十丸，淡鹽湯下。</p>
<p><u>又方</u></p>
<p>雞蛋頂開一孔，去黃白，淨。入人參切片填滿，綿紙封固蛋孔，同二十一個有雄雞蛋，伏至期該出諸蛋俱干者，人參食之也。將參取出為末，淨瓷瓶封固，每晚酒下三分。</p>
<h4>種子並治陽痿</h4>
<p>人參二錢　枸杞五錢煎水酒二斤，作幾次飲之，每飲酒，用豬腰子以刀劃縱橫紋，將故紙五錢為末，入腰子紋內</p>
<h4>安神丸</h4>
<p>治神短煩躁不安，夜臥不寧，驚悸怔忡，恍惚健忘。</p>
<p>川連八兩（薑炒）　歸身三兩　生地三兩　生草一兩　玄參四兩（酒洗）　棗仁二兩（炒黑）　白茯神四兩　遠志肉二兩（甘草水泡）　琥珀一兩　犀角一兩　辰砂一兩（為衣）</p>
<p>蓮子、燈心煎湯為丸，梧子大。每服一錢，空心白滾水送下。</p>
<h4>斑龍百補丸</h4>
<p>固本保元，復天真壯陽氣，益五臟、助精神，強筋骨，美顏色，延壽算，久鹿角霜八兩　鹿角膠四兩（炒）　白茯苓四兩　山藥四兩（炒）　人參四兩　牛膝四兩（酒浸）　杜仲三兩（鹽水炒）　枸杞四兩　黃　四兩（蜜炙）　五味子二兩（炒）　當歸三兩（酒洗）　生地四兩（酒浸）　芡實四兩　知母（鹽炒）四兩　黃柏四兩（鹽炒）</p>
<p>蜜丸，桐子大。每服三錢，白湯空心下。</p>
<h4>豬肚丸</h4>
<p>固精養血，瘦者肥胖其益無窮，其理莫測。</p>
<p>白朮（飯上蒸，炒）八兩　苦參六兩（酒浸，晒七次）牡蠣八兩（　透水飛）</p>
<p>用大豬肚二個，洗淨，煮爛，搗如泥，和藥為丸，桐子大。每日服三次，每服三錢。</p>
<h4>黑豆丸</h4>
<p>專能延年補腎，強筋健步，功效非常。</p>
<p>菟絲子（酒炙）一斤　沙蒺藜（青鹽水炒）一斤　甘枸杞（酒浸）一斤　破故紙（同胡桃肉炒）一斤　牛膝（酒浸）一斤　杜仲（去粗皮，鹽水炒）一斤　歸身（酒洗）一斤　魚鰾（炒成珠）八兩　川椒（去目閉口者，炒出汗）八兩　青鹽（洗去泥）八兩　人參（量加）</p>
<p>黑豆一斗，圓大者，用黃酒十斤，煮熟晒乾，共為細末，白蜜十二斤，煉熟為丸，桐子大。每服三錢，空心白湯下。</p>
<h4>棉花仁丸</h4>
<p>烏發暖腎，種子良藥。</p>
<p>棉花子十數斤，用滾水泡過，盛人蒲包內悶，炷香取出，一晒裂開去殼取仁，並去外皮，用淨仁三斤，去盡油，用火酒三斤，泡一夜收起，蒸一炷香，晒乾為末。外用故紙一斤（鹽水泡一夜，炒干）　川杜仲一斤（去外粗皮，黃酒泡一夜，壓干，薑汁炒去絲）　枸杞子一斤（黃酒浸蒸，晒乾）　菟絲子一斤（酒煮，去絲為度）</p>
<p>共末蜜丸，桐子大。每服三錢。</p>
<h4>治腰痛方</h4>
<p>杜仲（去皮，薑炒去絲）六錢　川萆　（酒炒）六錢　川續斷六錢共為末，每用四錢，取豬腰二個，勿下水，竹刀切開，將藥填入，以線縛定，用草紙七層水</p>
<h4>治小便頻酒</h4>
<p>破故紙（鹽水炒）二兩　白茯苓一兩共末。沒藥五錢，用黃酒浸之，煮化，和藥末為丸，桐子大。每服三十丸，空心白湯下。</p>
<h4>補天大造丸</h4>
<p>治諸虛百損，五勞七傷，第一奇方。</p>
<p>紫河車一個（要頭生男胎，用米泔水洗淨，再入長流水洗，以砂鍋內碗盛蒸爛，石臼內杵爛入藥）　鹿茸（炙）二兩　虎脛骨（炙）二兩　大龜板（炙）二兩　生地（酒炒，蒸一日，杵爛，八兩入藥）　山藥四兩（炒）　丹皮三兩　澤瀉三兩　白茯苓三兩　山萸肉四兩　天冬三兩　麥冬三兩　五味子三兩　枸杞子四兩　當歸四兩　菟絲子三兩　破故紙（酒炒）二兩牛膝三兩　杜仲（酒炒）三兩　肉蓯蓉三兩（酒浸去鱗甲）</p>
<p>煉蜜為丸，桐子大。每服百丸，空心溫酒下，即鹽湯亦可下。</p>
<h4>瓮頭春酒</h4>
<p>專能壯陽種子，填精補髓，人年四十以後用之。女子宮冷、白帶等症並可用。</p>
<p>頭紅花一斤　羊藿一斤（去毛邊）　白芍二兩（酒炒）　羯羊油一斤（炒羊藿極黑）　杜仲一兩（童便浸一宿，炒）　蒼朮（炒）四兩　天冬一兩　肉蓯蓉一兩（去鱗甲）　牛膝四兩五加皮四兩白茯苓四兩　砂仁五錢（炒）　故紙一兩（炒）　人參一兩　大附子五錢（制）　白　仁（炒）五錢　歸身二兩五錢　川椒五錢（焙去汗去目）　丁香五錢　木香五錢沉香五錢　枸杞三兩　白朮（炒）四兩　甘草五錢　地骨皮一兩（蜜水炒）　熟地三兩　干菊一兩　生地二兩上藥共為末，好糯米四斗，淘淨，再浸一日夜，去漿澄清，如蒸酒法，糯米為糜，取出候冷，用原淘米漿二十斤，入鍋溫之，加蔥白一斤，滾數沸，去蔥白候冷，和入糜內。然後拌上細曲末四斤，粗曲末二斤。又將前藥和入糜內拌勻，又將羊藿、紅花二味各入絹袋，先置瓮底，方將此糜入瓮，按置實，落上面，用火酒十斤蓋了。春秋三日，夏一日，冬五日。</p>
<p>後又加火酒八十斤，仍將瓮口封固，至二七日開缸，木扒打過三、四百下，再加圓眼肉二斤，紅棗五斤，又煮糯米飯三升，候冷，投入瓮內，又從瓮底打起二百下，再過二七日，榨出清酒，入壇封口，煮三炷香，埋三日。秋冬不必煮。第二次又用糯米二斗煮飯，拌曲末二斤，火酒五十斤，入在糟內封固。過五日打扒，又封。過五日打扒，再過五日上榨。</p>
<h4>仙靈酒</h4>
<p>專能壯陽固精，健筋骨，補精髓，廣嗣延年。中年以後血氣不足者，宜服。並治下元痼冷，腰膝無力，陽道不舉，夢泄遺精。</p>
<p>羊藿（去毛邊）四兩（羯羊油炒黑）　金櫻子一斤（去子）　牛膝一兩　歸身二兩　川芎一兩　巴戟一兩　菟絲子二兩　小茴香（炒）一兩　故紙（炒）二兩　官桂一兩　杜仲一兩（薑炒）　沉用好火酒二十斤，絹袋盛藥，懸膽煮三炷香，放土內埋三日，八十小瓶以泥封口。</p>
<h4>神仙酒方</h4>
<p>久服大有補益。</p>
<p>川烏（燒存性）　草烏（燒存性）　當歸　薄荷葉　淡竹葉　生甘草　良薑　陳皮以上俱一錢二分用干燒酒十斤，甜酒五斤，紅砂糖二十兩。先以水醋將紅糖調勻、去渣，入酒內，方以絹袋</p>
<h4>毓麟酒方</h4>
<p>專能固精種子，溫補腎經之藥也。</p>
<p>桑椹　枸杞子　山萸肉　以上各三兩　故紙（炒）四兩　牛膝　菟絲子　韭子　楮實子各三兩肉蓯蓉　復盆子各四兩　蛇床子一兩　蓮須二兩　巴戟三兩　山藥一兩（炒）　木香一兩以上共為粗末，麻布袋盛之，用火酒四十斤，煮三炷香去火氣。</p>
<h4>多子酒方</h4>
<p>甘枸杞一斤　桂圓肉一斤　核桃肉一斤　白米糖一斤共入絹袋內扎口，入壇內，用好燒酒十五斤，糯米酒十斤封口，窨三七日取出，每日服三次</p>
<h4>歸元酒</h4>
<p>甘菊花八兩　甘枸杞一斤　當歸八兩　龍眼肉三斤火酒三十斤，南酒二十斤，泡二十一日飲之。</p>
<h4>補心酒方</h4>
<p>麥冬（去心）二兩　柏子仁（去油）一兩　白茯神一兩　當歸身一兩　龍眼肉一兩　生地一兩五錢盛絹袋，入無灰酒十斤，壇內浸七日用。連壇煮亦可。</p>
<h4>延齡酒</h4>
<p>枸杞子八兩　龍眼肉四兩　當歸二兩　白朮（炒）一兩　大黑豆半升以絹袋盛之，浸無灰酒十五斤，七日用之。</p>
<h4>養元湯</h4>
<p>補虛、益腎種子，神效。</p>
<p>當歸　川芎　白芍（炒）　炙甘草　熟地　杜仲（炒，去絲）各一錢　枸杞一錢八分　杏仁一錢五分　白茯苓一錢五分　金櫻子一錢五分（去刺）　羊藿（酥炒去邊）一錢　石斛一錢四分　牛膝一錢八分。</p>
<p>水三盅。煎一盅。空心服。晚復渣連服，十劑為妙。如衰弱者，加山萸、肉蓯蓉各一錢。</p>
<h4>怡神酒</h4>
<p>燒酒一壇　糯米糖二斤　綠豆二升　木香二錢（為末）</p>
<p>久浸飲為妙。</p>
<h4>萬壽藥酒</h4>
<p>紅棗二斤　石菖蒲一兩　川鬱金一兩　全當歸二兩　五加皮　陳皮　茯神　牛膝　麥冬各一兩　紅花五錢用燒酒二十四斤，絹袋盛藥入壇內，煮一炷香，入土數日，退火取飲。</p>
<h4>三仙延壽酒</h4>
<p>上好堆花燒酒一壇，入圓眼肉一斤，桂花四兩，白糖八兩，封固經年，愈久愈妙，飲不可過多。</p>
<h3>婦人門</h3>
<h4>七製香附丸</h4>
<p>治婦人一切經脈不調之症。</p>
<p>香附米十四兩（分作七分，酒、醋、鹽、童便）　小茴香二兩　益智仁二兩　萊菔子二兩凡浸，春秋三日，夏一日，冬七日，同入砂鍋內，用艾葉四兩，無灰酒隨煮隨添，以黑色為製香附七兩　歸身四兩（酒洗）　熟地四兩（薑汁焙）　生地四兩（薑汁焙）　白芍四兩（酒炒）　撫芎三兩　人參一兩　白朮（土炒）二兩　白茯苓二兩　棗仁二兩（炒）　炙甘草九錢　天冬二兩九錢　益母草四兩　條芩（酒炒）二兩五錢　砂仁（炒）一兩五錢　阿膠二兩（炒）　陳皮二兩　山茱萸（酒蒸）二兩　胡索一兩五錢（醋炒）</p>
<p>共為細末，神麯四兩，酒煮神麯糊丸，桐子大。每日空心服百丸。</p>
<h4>兔腦丸</h4>
<p>治難產。男左女右，手內握出。</p>
<p>母丁香一兩　麝香二錢　乳香（微去油）一兩共為細末，用臘八日兔腦搗爛，丸藥如芡實大。以黃蠟為皮，臨產服一丸。溫開水下，不可</p>
<h4>治血崩仙方</h4>
<p>益母草一兩　歸身八錢　知母五錢　川芎三錢　旱三七三錢　陳棕灰三錢用生酒二盅，煎一盅，食前服。</p>
<h4>烏金丸</h4>
<p>治產後諸症。</p>
<p>百草霜（山野人家者好）　血竭一兩　胡索一兩（醋炒）　血余炭一兩　歸身一兩　肉桂一兩　赤芍一兩　鯉魚鱗（　）一兩　松炳墨一兩（　，陳醋淬）</p>
<p>以上共為細末，酒糊為丸，每丸重二錢，黃蠟為殼。</p>
<h4>產寶丸</h4>
<p>大黃一斤（晒乾為末）　蘇木三兩（劈細，河水五碗煎汁三碗，去渣存汁）　紅花三兩（略炒黃色，用好短水白酒五碗煎汁三碗，去渣存汁）　黑豆三升（煮熟取汁三碗，並取豆皮將大黃末入醋五宮碗，攪勻，文武火熬成膏。次下豆汁、蘇木汁、紅花汁、漸漸加下，時時當歸（酒洗，蒸，晒乾）　川芎（蒸晒）　香附（醋炒）　熟地（晒乾）　玄胡（生用）</p>
<p>蒼朮（米泔水浸炒）　蒲黃（微炒）　赤茯苓（蒸晒）　白茯苓（蒸晒）　桃仁（去皮尖油，晒乾）以上各一兩　三棱（醋炒）　牛膝（酒浸，蒸，晒乾）　地榆（去梢，蒸，晒乾）　甘草（生用）　五靈脂（醋炒）　羌活（蒸，晒乾）　陳皮（生用）　廣木香　赤芍（炒）　山茱萸（去核，炒）　人參（炒）　以上各五錢　木瓜（酒浸，晒乾）　青皮（生用）　白朮（土炒）　以上各三錢　乳香（炙）　沒藥（炙）各二錢　良薑（生用）四錢　烏藥二錢五分（蒸，晒乾）　飯鍋粑九兩（焦黃者佳。取鍋底下手掌大一塊，一月前每日取之。回生丹用此一味）</p>
<p>上藥同黑豆皮俱為末，投入大黃膏內搗千余下，為丸。如圓眼大，帶濕重二錢四分。如干難為丸，加酒少許，再搗，以成丸為度，晒乾，如陰天以火烘乾，新瓷器收貯。忌鐵器。</p>
<p>每服一丸，照症用引。</p>
<p>一臨產艱難，服之易產；一調和經絡，諸症不生；一產後惡露不盡，再服一丸。以上俱溫酒下，如不善酒，以滾水對酒加童便少許尤妙；一或變生異症，或胎死腹中單所不載者，俱以童便、黃酒各半，連服二丸，立效；一產後包衣不下，及逆生難產，甚至經日不下，腹中脹滿，心胸悶痛者，炒鹽湯下；一臨產前後，臍腹作痛，寒熱往來如瘧狀痢疾者，溫米湯下，一產後大小便不通，煩躁口苦者，濃煎薄荷湯下；一產後瀉血，大棗湯下；一產後崩疾，糯米湯下；一產後赤白帶下，煎阿膠艾葉湯下；一產後咳嗽不止，五味子五粒，蘇葉三片煎酒下；一產後頭疼、身熱、有汗，為傷風，桂枝三分，薑蔥煎湯下；一產後頭疼、身熱、無汗，為傷寒，麻黃二分，薑、蔥煎湯下。如症輕者，每丸作二服。忌鐵器、生冷、面食。</p>
<h4>婦人良方</h4>
<p>凡人諸病好醫，惟孕婦生產安危在旦夕之間，余采得達生湯、生化湯，一在懷孕至八、九月之後，連服數帖，及產如羊子之易；一在臨產之後，未食之，先連服一、二帖，無昏痛之患。藥資無幾，如法制備，一覓便得。</p>
<h4>達生湯</h4>
<p>未產時服。</p>
<p>當歸二錢五分（酒洗）　川芎六分　益母草一錢（忌鐵器）　車前子五分（炒，研末）　甘草三分（炙）　冬葵子一錢（炒研末）　白朮一錢（米泔水浸炒）　大腹皮（滾水洗數次）</p>
<p>四分　牛膝六分（酒浸一宿）　枳殼五分（　炒）　木香三分（另磨）　生薑一片水煎，食遠服。如腹痛，加白芷五分，沉香五分。</p>
<h4>生化湯</h4>
<p>產後服。</p>
<p>當歸八錢（酒洗）　川芎四分　乾薑五分（炙黑存性）　桃仁十粒（去皮尖，打碎）　甘草五分（水二盅，加米酒六、七匙，煎一盅，生後連服二、三帖。或作倦作痛，俱宜服之，勿加減，慎之。</p>
<h4>產後小腸不收</h4>
<p>蓖麻仁搗貼丹田，即收，去藥。</p>
<h4>橫生倒產</h4>
<p>人參末　乳香末各一錢　丹砂末五分攪勻，入雞蛋白一枚，生薑自然汁三匙，攪冷服。</p>
<h4>催生方</h4>
<p>非緊急勿用，必臨盆難產服此立下。</p>
<p>益母草六錢　當歸五錢　川芎四錢　朴硝三錢以上作一服。水二碗，不用封口煎一碗，候大溫，令一氣飲，少傾即產。或子死腹中亦可下，有起死回生之妙。</p>
<h4>產後舌出不收</h4>
<p>以朱砂服之，仍暗投盆、盎作墜地狀，驚之自收。</p>
<h4>子死腹中</h4>
<p>黑豆三升，醋煮濃汁，頓服自出。</p>
<h4>婦人胎煩</h4>
<p>真鴉片一錢　魚膠一錢　麝香五分共為丸，如彈子大，用桂花煎湯，一飲即下。</p>
<h4>孕婦胎動</h4>
<p>朱砂一錢，和雞蛋白三枚攪勻，頓服。胎死即出，未死即安。</p>
<h4>治干血癆</h4>
<p>大木耳（水泡脹，去蒂，晒乾，炒為細末）　核桃仁（去皮，搗為泥）各一錢黃酒煮服，過半炷香時渾身汗出，是其驗也。</p>
<h4>秘驗帶下丸</h4>
<p>治婦人白帶下。</p>
<p>芡實粉二兩　白茯苓二兩　青石脂（　）　牡蠣（　，醋淬）　禹餘糧（　）各一兩千年鍛石風化八錢，好醋一盞，拌和前藥，晒乾，再搗為丸，桐子大。每服三錢，滾白湯下</p>
<h4>益母丸</h4>
<p>治胎前產後百病。</p>
<p>益母草一斤　川芎一兩　赤芍一兩　歸身一兩　木香一兩煉蜜丸，彈子大。每丸三錢重。</p>
<h4>治婦人白帶虛脫之症</h4>
<p>用牛角腮以火炙黃，將刀刮下，再炙再刮，研為細末。用面糊丸，桐子大。每服二錢，白滾湯下。</p>
<h4>治婦人子宮冷久不生育及臍腹疼痛</h4>
<p>蘄艾三錢　蘇葉三錢黃酒煎服。</p>
<h4>治產後血暈</h4>
<p>提起頭發，定不可放倒。以紅炭投陳醋內，對鼻熏之，候蘇另用：當歸一兩　川芎五錢　荊芥穗（炒黑）二錢水煎服。</p>
<p>治婦人產後百病。臨產時預煎一劑，候兒一產即與母服，以免月內諸疾。</p>
<p>當歸六錢　川芎三錢　炮薑五錢　桃仁七粒　炙甘草三分水煎，加酒一、二匙服。</p>
<h4>治乳癰</h4>
<p>用鴨腳草（又名鳳尾草）搗爛，入無灰酒煎數滾，盡量飲。破者以渣敷之，自通。</p>
<h4>治乳頭腫痛</h4>
<p>鹿角尖燒灰存性，研末，酒調服二錢，外用蔥白搗爛敷之。</p>
<h4>治乳癌</h4>
<p>先因乳中一核如豆，漸漸大如雞子。七、八年後方破，破則不治矣。先乘未破服後方：用生蟹殼，砂鍋焙焦為末，每以酒下二錢。日日服之，不可間斷，消盡為止。</p>
<h4>治乳汁不通</h4>
<p>栝蔞一個（打碎）　歸身一錢　穿山甲（炒）一錢　沒藥一錢（去油，研）　乳香一錢（去油，研）　甘草節一錢酒水各一盅，煎服。</p>
<h4>治產後渾身麻木手足拘彎</h4>
<p>當歸一錢　白芍（炒）一錢　白茯苓一錢　柴胡八分　丹皮八分鉤藤一錢　山梔仁（炒）</p>
<p>香附一錢（炒）　炙甘草五分　全蠍三分　煨薑三分水煎溫服，不用引。</p>
<h4>治產後譫語發狂</h4>
<p>炙黃　一錢　白朮（土炒）一錢　歸身一錢　白茯苓一錢　遠志五分　人參八分　木香三分　龍眼肉二錢　炙草五分　棗仁（炒）一錢　制南星一錢　製半夏一錢　陳皮一錢　生薑三片　大棗三個水煎，外入童便一盅服。</p>
<h4>治產後肚腹疼泄瀉</h4>
<p>白朮（土炒）一錢　人參一錢　白茯苓　炙甘草三分　陳皮八分　製半夏一錢　炮薑二錢白芍（酒炒）一錢　香附（鹽炒）一錢　砂仁（炒）一錢水煎，空心服。</p>
<h4>黑神散</h4>
<p>治產後諸疾。</p>
<p>全當歸一兩　熟地一兩　肉桂一兩　炙甘草一兩　沉香五錢　棕灰五錢　沒藥五錢（去油）　生蒲黃五錢　乳香三錢（去油）　赤芍一兩　血竭五錢　炮薑五錢酒糊為丸，每丸重二錢，空心酒服。</p>
<h4>紅花當歸散</h4>
<p>治婦人月經不至，腰腿疼痛。</p>
<p>紅花　當歸　肉桂　牛膝　赤芍各一兩　紫葳　蘇木各二兩以上共研細末，酒服二錢。</p>
<h4>治婦人經水欲來作痛者</h4>
<p>當歸（醋炒）　胡索（醋炒）　紅花　沒藥（去油）</p>
<p>以上各等分為末，每服二錢。</p>
<h4>治婦人赤白帶下</h4>
<p>乾薑（炒）五錢　白芍（酒炒）二錢共末，每服二錢，空心酒下。</p>
<h4>催生佛手散</h4>
<p>全歸一兩　川芎五錢水煎服，立產。</p>
<h4>治胞衣不下</h4>
<p>用鍛石一盆，以滾水潑之，近產婦熏之，立下。</p>
<h4>治死胎橫生不下</h4>
<p>皮硝二錢（壯者三錢），寒月加熟附子五分，酒半盞，童便半盞煎三滾，溫</p>
<h4>治小產</h4>
<p>絲綿一兩，燒灰存性，熱酒沖服。月內陸續食完，永不再墜。</p>
<h4>治胎不安肚痛</h4>
<p>當歸一兩　川芎五錢　砂仁二錢（炒）</p>
<p>水煎服。</p>
<h4>滋陰地黃丸</h4>
<p>治婦人經水不調，虛勞吐血、衄血、便血，發熱咳嗽、虛汗，痰喘心慌一切虛山藥（炒）二兩　山萸（酒蒸）二兩　白茯苓一兩五錢　丹皮一兩五錢　澤瀉一兩五錢　天冬一兩　麥冬一兩　生地（酒浸）二兩　知母（酒炒）二兩　貝母二兩　當歸二兩　白芍（酒炒）一兩　香附（童便炒）二兩煉蜜為丸，桐子大。每服百丸，空心滾白湯下。</p>
<h4>艾附暖宮丸</h4>
<p>治赤白帶下虛寒之症。</p>
<p>香附六兩（醋煮）　艾葉三兩（酒煮）　當歸三兩（酒浸）　川芎二兩　白芍二兩（酒炒）　續斷一兩五錢　生地一兩（酒蒸）　黃　三兩（蜜炒）　吳萸（泡去苦味）二兩　官桂五錢以上共為細末，醋糊為丸，桐子大。每服五十丸，空心白湯下。</p>
<h4>調經酒</h4>
<p>治月水不調，腹內疼痛，症瘕成塊。</p>
<p>當歸　川芎　吳萸（泡去苦味）各四兩　白芍（炒）　白茯苓　陳皮　胡索　丹皮各三兩熟地六兩　香附米（醋炒）六兩　小茴香（鹽炒）　砂仁各二兩火酒三十斤，南酒二十斤同蒸。</p>
<h4>治婦人臟燥好悲傷顛狂罵人如有鬼神</h4>
<p>（女人好哭，即已亦不知其故，服之最效）　生甘草三兩　小麥一升　紅棗十枚水六升煎三升，分三次服，神效。</p>
<h4>治婦人陰癢生瘡</h4>
<p>蛇床子三錢　杏仁（炒、研）五分　白礬五錢煎水洗之。</p>
<p><u>又方</u></p>
<p>蛇床子一兩　花椒三錢　白礬三錢煎水洗之。</p>
<p><u>又方</u></p>
<p>蛇床子一兩　艾葉五錢　五倍子五錢　明礬五錢　杏仁五錢　川連二錢煎水洗之，即愈。</p>
<h4>治婦人乳癰</h4>
<p>大瓜蔞（搗碎）二個　當歸　甘草各五錢　沒藥（去油）　乳香（去油）各一錢酒、水各一碗，煎八分服之。</p>
<h4>治血崩</h4>
<p>甜杏仁上黃皮燒灰存性，研末。每服三錢。空心酒下。</p>
<h4>廣嗣丸</h4>
<p>男子服，暖精補腎。</p>
<p>菟絲子（酒煮吐絲為度，晒乾）五斤　楮實子（酒煮，晒乾）一斤　赤何首烏三斤（重者一個，米泔水浸，竹刀切片，九蒸九晒，同黑豆蒸）　干枸杞三斤（酒蒸晒）　白茯苓一斤（要整的一共為細末，煉蜜為丸，桐子大。每服三錢，空心白湯下，忌食烏魚、龜、鱉等物。</p>
<h4>毓清丸</h4>
<p>女服，順氣生血，易孕神效。</p>
<p>陳皮四兩（分作四分，乳酒、甘草、水、艾汁各浸一宿，晒乾）　山茱萸（去核，酒蒸晒乾）二兩　胡索（炒）二兩　地黃四兩（分作二分，酒、薑汁各浸極透，晒乾）　香附米八兩（分作四分，童便、酒、醋、鹽水各浸一分，浸五日，晒乾，炒）　當歸　四兩（分作二分。一分酒浸，炒；一分人參三錢煎汁浸，晒乾）　條芩二兩（酒蒸，炒）　雞腿白朮四兩（米泔浸，切片，黃土炒）　復盆子（炒）一兩　砂仁（去殼，炒）一兩　川芎（酒炒）</p>
<p>三兩共為末，用山藥糊為丸，桐子大。每早服五十丸，晚服六十丸，白湯下。</p>
<h4>治干血癆仙方</h4>
<p>過三年者不治。</p>
<p>用白鴿子一只，去肝腸，淨，入血竭。病一年者一兩；二年者二兩；三年者三兩，以針縫住</p>
<h4>妊娠浮腫</h4>
<p>羌活、蘿卜子同炒香，只取羌活為末，每服二錢，溫酒下。一日一服，二日二服，三日三服效。</p>
<h4>婦人陰癢三蟲作祟</h4>
<p>大黃一兩（微炒）　黃芩一兩　黃　一兩（炙）　赤芍　玄參　丹參　山萸肉　蛇床子各五錢共為末，每服二錢，食遠溫酒調下。</p>
<p><u>又方</u></p>
<p>豬肝切圓一大條，以花椒、蔥拌豬油煎肝，待冷，納入陰中，少頃，取出再換一條，其蟲附肝俱出。</p>
<h4>婦人陰中腫痛</h4>
<p>艾葉五兩　防風三兩　大戟一兩水煎，熱洗，避風冷。又以鯽魚膽搽入，妙。</p>
<h4>生門出黃臭水甚痛</h4>
<p>將綿繭二、三錢燒存性為末，酒調鴨毛搽上，其毒自出。</p>
<h4>又生門硬如石撞</h4>
<p>青魚膽七個（鯽魚亦可），用綿絲二、三錢燒存性為末，同膽調鴨毛搽上即</p>
<h4>婦人兒枕骨瘡及血崩</h4>
<p>鱉甲燒存性為末，酒服。</p>
<h4>婦人茄病</h4>
<p>硫黃五分海螵蛸二錢共為末，鴨蛋清調搽。</p>
<h4>婦人月內患眼</h4>
<p>黃連為末，水調搽足心。又以薑汁調白礬末搽足心。</p>
<h4>月內眼痛</h4>
<p>天南星四分　大黃六分以醋調。左眼疼塗右足心；右眼疼塗左足心。以口中有藥氣為妙。</p>
<h4>安胎散</h4>
<p>砂仁連殼一兩　川續斷一兩　白朮二兩（土炒）　黃芩二兩共為末，水調下。倘見血，益母湯下；若腹痛，加白芍粉、甘草同煎服。</p>
<h3>小兒門</h3>
<h4>香橘餅</h4>
<p>治大人、小兒一切傷食等症。</p>
<p>木香　橘紅　麥芽（炒）　砂仁（炒）　三棱（醋炒）　莪朮（醋炒）　青皮（醋炒）　厚朴（薑汁炒）</p>
<p>以上各等分為細末，水為丸，綠豆大，每服一錢。</p>
<h4>鍋焦丸</h4>
<p>小兒常服，妙不可言。</p>
<p>鍋焦（炒黃）三斤　神麯（炒）四兩　砂仁（炒）二兩　山楂四兩（蒸）　蓮肉（去心）</p>
<p>四兩　雞肫皮一兩（炒）</p>
<p>共為細末，加白糖、米粉和勻，焙，作餅食之。</p>
<h4>消疳丸</h4>
<p>治小兒肚大筋青，身熱肉瘦，牙疳口臭等症。</p>
<p>山楂四兩　陳皮一兩　枳實一兩（炒）　胡連一兩　青黛五錢　蘆薈（　）五錢　人參五錢　使君子（肉煨）一兩　青皮（炒）五錢　莪朮（醋炒）五錢　蕪荑六錢　神麯（炒）</p>
<p>以蒸餅搗為丸，龍眼核大，每服一丸。</p>
<h4>肥兒丸</h4>
<p>常服可免停食傷脾之症山藥（炒）二兩　白茯苓　白扁豆（炒）　五穀蟲（炒）　山楂（炒）　白芍（炒）　麥芽（炒）神麯（炒）　當歸各一兩五錢　白朮（土炒）　陳皮　使君子（肉，煨）各一兩　生甘草七錢　胡連（煉蜜為丸，綠豆大。每服一錢，白湯下。</p>
<p>消疳、化積、清熱，平疳補脾，進食殺蟲。</p>
<p>人參三錢五分　白朮（土炒）三錢　白茯苓三錢　黃連（薑汁炒）三錢五分　胡連五錢　神麯（炒）三錢五分　麥芽（炒）三錢五分　使君子四錢（煨）　山楂二錢五分　炙甘草三錢　蘆薈（　）二錢五分黃米粉糊丸，粟米大。每服八分。</p>
<h4>八珍丸</h4>
<p>治小兒熱痰、聲啞、心神不寧、急驚等症。</p>
<p>犀角　羚羊角　朱砂　白茯苓　膽星（炒）　以上各七錢　硼砂　鉤藤鉤　琥珀各五錢冰片共為細末，棗肉搗丸，芡實大。金箔為衣，薄荷湯下。</p>
<h4>十全抱龍丸</h4>
<p>治小兒一切驚風潮熱，心神不寧，咳嗽痰喘，每服一丸。</p>
<p>天竺黃一兩　辰砂一兩　琥珀七錢　膽星（薑炒）一兩　枳殼（炒）一兩　生甘草一兩　白茯神一兩　山藥（炒）二兩　白硼砂一兩　沉香五錢　雄黃五錢蒸餅為丸，芡實大。金箔為衣，陰乾收貯，薄荷湯下。</p>
<h4>大清膏</h4>
<p>治小兒急慢驚風，咳嗽喘急，胸腸扇動。</p>
<p>全蠍（去毒）五分　朱砂（另研）二分五厘　青黛（另研）一錢　天麻一錢　天竺黃一分五厘　白共末，蜜調為膏，貯瓷器內，以蠟封口。大兒服一分；小兒服半分，薄荷湯下。如吐瀉慢驚者，先服大青膏，次服益黃湯，立效。</p>
<h4>益黃湯</h4>
<p>陳皮一錢　丁香二分　青皮五分　訶子五分　炙甘草五分水煎服。</p>
<h4>治小兒浸淫瘡</h4>
<p>用胡燕窠內土研水敷之，立愈。</p>
<h4>治小兒走馬牙疳方</h4>
<p>用女溺桶中白，以火　過，研末，每一錢加綠銅二分，麝香一分，共為</p>
<h4>治小兒牙疳</h4>
<p>黃連一兩　硼砂一錢　膽礬一錢　冰片五厘共為細末搽之。</p>
<h4>治小兒口瘡舌瘡</h4>
<p>用桑皮中白汁敷之立愈。</p>
<h4>馬蘭膏治痞積</h4>
<p>采馬蘭根十數斤，燒淨水一大鍋，熬五炷香，去根。再熬至四、五碗，入銅鍋，再熬至半碗，退火入阿魏三錢，麝香一錢，攪勻為度，以瓷器收貯，量疾大小攤貼，聽其自落。</p>
<h4>小兒白禿方</h4>
<p>用鱔魚一條，搗爛敷之甚效。</p>
<p><u>又方</u></p>
<p>坐熊油塗之，亦效。</p>
<h4>朵角消毒飲</h4>
<p>小兒丹毒遍身游走，風熱煩躁，昏聵。</p>
<p>牛蒡子（炒）　荊芥　防風　黃芩各一錢　犀角五錢　生甘草五分水煎服，外用精牛肉切片貼之。干則另換。</p>
<h4>治小兒夜啼</h4>
<p>用燈花五個，研末搽乳頭，令吮之。</p>
<p>治小兒撮口臍風紫蘇　前胡　僵蠶（炒）各五錢水煎去渣，候溫，以棉花蘸藥滴兒口中，頻頻滴，以口開為度，開後切勿令其吮乳蓋。</p>
<p>此症乃吮乳太多所致，非但臍風也，故小兒月內吃乳倍常，皆不能育。</p>
<p><u>又方</u></p>
<p>用父母指甲三分，炙灰，以乳調下即好。用好燒酒對臍吮之亦妙。</p>
<h4>五福化毒丹</h4>
<p>治小兒蘊積熱毒，頭面生瘡，牙根出血，咽喉腫痛。</p>
<p>犀角五錢　桔梗一兩　赤茯苓五錢　牛蒡子（炒）五錢　生地五錢　生甘草三錢　朴硝三錢　連翹六錢　玄參六錢　青黛二錢煉蜜為丸，龍眼大。每服一丸，薄荷湯下。</p>
<h4>治小兒吐瀉不止</h4>
<p>硫黃一錢　滑石一錢共研細末，米湯下。</p>
<h4>小兒乳癬</h4>
<p>小兒初生症類疥癬起於手足，次遍腹背，纏綿不已。先用滌垢湯以洗之，後用換形散以搽之。</p>
<h4>滌垢湯</h4>
<p>用僵蠶不拘多少，去嘴研末，煎湯浴之。或一日一次，或二日一次，毒必發出，然後搽之。</p>
<h4>換形散</h4>
<p>青黛　黃柏　枯礬　雄黃　百藥煎　硫黃各等分研末。濕則干搽，干則香油調搽，以愈為度。</p>
<p><u>又方</u></p>
<p>用如意草搗塗之，亦愈。</p>
<h4>治小兒痘中黑疔</h4>
<p>先將疔挑破出紫血，用蒲公英膏塗之。</p>
<h4>小兒渾身風癢</h4>
<p>生黃　防風　荊芥　苦參　蟬蛻　白蒺藜　制何首烏　僵蠶　當歸　生地　赤芍川芎各等分水煎服。</p>
<h4>小兒痞塊</h4>
<p>生甘草三錢　甘遂三錢　砂一錢　大鱉子肉四個　莧菜三錢　鱉肉一兩　蔥白七根入蜜少許，搗成膏，以狗皮一塊貼之。二次即消愈。</p>
<h4>小兒頭上黃水瘡及禿痂</h4>
<p>松香二兩為末入蔥，管內，用線扎定，水煎融去蔥，候干。外：黃丹（水飛）一兩　無名異一錢（炒）　官粉一錢（炒）　輕粉三分（炒）</p>
<p>共為末，香油調搽神效。</p>
<h4>治小兒頭上熱癤</h4>
<p>用發面一塊，調稀貼癤上，中留一孔神效。</p>
<h4>小兒疳疾</h4>
<p>立秋後，大蝦蟆一個，去頭、足及腸，以清油塗之，瓦上焙乾食之。</p>
<h4>治痘後余毒</h4>
<p>馬齒莧（搗汁）一碗　石蜜五錢　豬脂三錢　生綠豆末五錢　赤小豆末五錢以莧菜汁和藥，淨鍋熬成膏塗之。</p>
<h4>治小兒肥瘡</h4>
<p>海螵蛸為末，炒微黃敷之。</p>
<h4>稀痘丹</h4>
<p>朱砂一錢　麝香五厘　蓖麻子仁三十六粒，（去殼壓去油）</p>
<p>共研，成膏。五月五日塗小兒頂門、前後心、手足彎，象棋子大，任其自落。</p>
<h4>預解痘毒方</h4>
<p>麻黃　羌活　防風　升麻　黃柏（酒炒）　生地各五分　川芎　本　干葛　蒼朮（炒）</p>
<p>黃芩（酒炒）　生金柴胡各二分　紅花　細辛　白朮（土炒）　陳皮各一分　歸身　生甘草　黃連各三分　連翹一分　吳萸（炮）一分凡遇立春、立夏、立秋、立冬之日，將此藥煎一服，露一宿，次早溫服。如服過一年，即可</p>
<h4>治小兒外腎赤腫</h4>
<p>用老杉木燒灰存性，入官粉，以清油調搽。亦治大人繡球風。</p>
<p><u>又方</u></p>
<p>蛇床子歸尾　威靈仙　苦參各一錢　煎水洗。</p>
<h4>治小兒初生大小便不通</h4>
<p>令婦人以熱水漱口，吸小兒前後心及臍下數次。</p>
<h4>治小兒疳疾</h4>
<p>用蝦蟆一個，放在瓶內過七日，再用洗淨糞中蛆，不拘多少入瓶中，任蝦蟆食之。用炭火蝦蟆，稍存性為末，蜜丸食之。</p>
<h4>仙傳救急驚方</h4>
<p>並治大人痰厥中風。</p>
<p>用生石膏研末，十兩，辰砂末五錢，拌勻。大人服三錢，小兒一歲至三歲者一錢；四歲至七歲者一錢五分；八歲至十二歲者二錢；十三歲至十六歲者二錢五分。生蜜調下，一服即安。</p>
<h4>治小兒口瘡並治牙疳</h4>
<p>人龍用尿洗淨，瓦上焙脆研細末，和青黛、冰片少許，研勻搽之立愈</p>
<h4>一捻金</h4>
<p>治小兒痰嗽喘急，胸高氣緊。俗名馬脾風，不急治則斃。</p>
<p>川大黃　檳榔　黑丑（頭末）　白丑（頭末）　人參各等份，共為細末，每服一匙，蜜水調下。</p>
<h4>治小兒大便不通食積腹脹肚硬青筋</h4>
<p>檳榔　白丑（頭末炒，半生熟）三錢　黑丑（頭末，制，數如上）　川大黃三錢（酒炒）</p>
<p>木香五分共為細末。每服一分，白湯下。</p>
<h4>太和丸</h4>
<p>治小兒內傷乳食，嘔吐腹脹，外感風寒，頭痛發熱。</p>
<p>紫蘇葉　廣皮　香附（酒浸炒）　羌活　蒼朮（炒）　川芎　枳殼（炒）　山楂　神麯（炒）　麥芽蜜丸，芡實大。每服一丸。</p>
<h4>小兒身起白泡方</h4>
<p>如小兒背上起白泡，累如珠綴，一、二日即破，膿水外流，癢甚，一處方好，一處又起，用如意草搗爛敷之，以長巾縛定，一夜而安。</p>
<h4>治痞膏方</h4>
<p>用蔥白汁四兩，薑汁四兩，水膠八錢，上黃酒二盅同熬，滴水成珠，攤狗皮上，貼患處，待痞化盡去膏。</p>
<p><u>又方</u></p>
<p>用水紅花子，以清水熬膏，加麝香少許，攤在布上貼之。</p>
<h4>治疹子發不出</h4>
<p><u>頭臉腫脹，氣喘命在須臾者，此法治之最效</u></p>
<p>大蔥頭連須搗爛，放在大銅盆內，上用木架架之，再用大被單罩蓋停當，大人抱定小兒睡在上面，然後將滾水沖入蔥盆內，熱氣蒸熏，候稍溫即抱出，切不可露一絲之風，直待汗干，即全愈矣。</p>
<h4>治小兒肺火，夜間咳喘久不止者薏苡仁一合</h4>
<p>山藥三錢　竹葉三十片　梨二片水二大碗煎八分，作茶吃。每日數次即愈。</p>
<p><u>又方</u></p>
<p>名瀉白散桑白皮一錢五分　地骨皮一錢五分　生甘草五分　如口乾加花粉一錢　淡竹葉　粳米百粒水二盅，煎六分服。</p>
<h4>法制蛋</h4>
<p>小兒免出痘。</p>
<p>雞蛋七個，入童便桶內浸七日，每日空心食一個。每年於臘月二十四浸起，正月初一日食起，服至初七。即鄰家有出痘者不侵，即侵必輕。</p>
<h4>痘發七日，將出忽倒，面色黑，唇口冰冷，危症也</h4>
<p>用狗蠅七枚擂細，好酒少許調服即發。</p>
<p>冬天蠅在狗再中。</p>
<h4>痘後余毒上攻，遂成內障，目不辨人</h4>
<p>蛇蛻一具（洗淨焙燥）　天花粉（即栝蔞根）</p>
<p>各等分為細末，以羊子肝破開入藥在內，麻縛定，用米泔水煮熟，切食之。</p>
<h4>疳疾方</h4>
<p>專治小兒頭細腹大，肚有青筋名。</p>
<p>用鵝頸一個，頭皮肉不用，牛黃三丸，白茯苓三錢，乳浸，干五穀蟲五兩，砂仁五錢，雞菌皮五十個，甘草三錢，附子三錢，人參三錢（如體弱方用）</p>
<p>以上俱用陰陽瓦焙乾，存性為末。每服用雞肝一個，將竹刀劃開，入藥一分，用碟盛住，置飯甑蒸熟服。</p>
<h3>雜治門</h3>
<h4>飲酒不醉方</h4>
<p>南薄荷五錢　干葛一兩　桂花三錢　白梅五錢研末為丸，龍眼大，含一枚於舌下化酒。</p>
<h4>解酒方</h4>
<p>用白鹽搽牙數次，以水嗽之即醒。</p>
<h4>治狐臭方</h4>
<p>蜘蛛一個　絲蚶殼大者一個將蜘蛛放入殼內，陰陽瓦焙乾為末，將紗袋盛之，扎成乳頭樣，先用甘草湯洗淨拭乾，將藥</p>
<h4>腋臭</h4>
<p>自己小便洗一次，米泔水洗一次，自然薑汁每日搽十次，一月之內可以斷根。</p>
<h4>汗斑方</h4>
<p>老生薑一塊，挖空入陀僧五分，人言（少許）在內，黃泥封固，火　存性，取薑擦之</p>
<p><u>又方</u></p>
<p>芋頭葉上露，不拘多少，以碗盛。將手重擦數次，破皮愈。</p>
<p><u>又方</u></p>
<p>以溺壺垢和生薑汁，抓破搽三次愈。</p>
<h4>雀斑方</h4>
<p>白丁香（即麻雀糞，要直立者）一兩　丁香五錢　白果二十粒　白芷五錢　胰子一個共為末，加酥合油一錢，搗胰子為丸，每日洗面效。</p>
<h4>點痣</h4>
<p>皮硝　膽礬　五倍子各五錢煎濃湯，筆蘸點自落。</p>
<p><u>又方</u></p>
<p>贅瘤、息肉、腳上雞眼皆治桑白皮灰一升　風化鍛石一升用鮮鐵腳、威靈仙量著煎濃湯淋二灰，取汁再熬作稠膏，瓷罐貯之，點患處。</p>
<h4>雞眼</h4>
<p>荸薺一個　蕎面一錢搗貼一晝夜除根。</p>
<h4>玉肌散</h4>
<p>治一切風濕、雀斑、酒刺、白屑風、皮膚作癢。</p>
<p>綠豆粉半斤　滑石一兩　白芷一兩　白附子五錢共為末。每日數匙，早晚洗患處。</p>
<h4>玉容丸</h4>
<p>治男、婦雀斑酒刺，皮膚粗糙，並用此洗。</p>
<p>甘松　山柰　細辛　白芷　白芨　白蘞　防風　荊芥　僵蠶　山梔　本　天麻　羌活獨活　陀僧　枯礬　檀香　川椒　菊花各一錢　紅棗肉七個以上共為細末，用肥皂去核一斤，捶作丸。秋冬加生蜜五錢，早晚洗之。</p>
<h4>上好香茶餅</h4>
<p>檀香一兩　訶子皮一兩　兒茶一兩　硼砂一兩　沉香一錢　南薄荷葉一兩　甘松一兩烏梅肉五錢　冰片少許共為末，甘草一斤，熬膏為丸。</p>
<h4>衣香方</h4>
<p>零零香五錢　甘松五錢　白檀五錢　木香一錢　麝香一分　冰片一分共為細末，袋裝，置衣箱內。</p>
<h4>留宿火法</h4>
<p>胡桃一個，燒半紅，用熱灰埋之，二、五日可不滅。</p>
<h4>耐點燭法</h4>
<p>黃蠟一斤　松香一斤　槐花一斤（為末）　浮石四兩（為末）</p>
<p>同一處熔化，用燈心燒燭，一晝夜止點一寸。</p>
<h4>養容方</h4>
<p>白菊花一兩　梨汁半碗　白果一兩　白蜜一兩　人乳半盅　白酒釀半蠱先將白菊花、梨汁以好酒煎濃汁，再將白果搗爛，並蜜乳研在一處，臥時搽面上，次早洗之，顏如童子。</p>
<h4>避五方兵賊盜方</h4>
<p>螢火蟲一兩　鬼箭羽一兩　蒺藜一兩　雄黃二兩　雌黃二兩　羚羊角（存性）一兩五錢　礬石（火燒）二兩　鐵錘柄入鐵處燒焦一兩五錢以上俱為末，以丹雄雞冠、雞子黃各一付和搗千下，加杏仁。作三角絳囊盛五丸，帶左臂上，從軍系腰中，居家掛戶上，能避盜賊。</p>
<h4>出箭頭</h4>
<p>蜣螂三個，搗爛入巴豆四粒，再搗如泥，敷傷處。先定痛，後作癢至骨，少刻簇出，以生肌散貼之。</p>
<h4>生肌散</h4>
<p>乳香　沒藥各一錢　血竭　兒茶各五分　龍骨五分　象皮少許　珍珠一錢　飛過熟石膏一兩共為末。</p>
<h4>治刀口瘡</h4>
<p>大五倍子、降真香各等分為末。敷傷處，止血結甲，不怕下水。</p>
<h4>面上忽生紅、黑丹，如疥子狀</h4>
<p><u>不急治，至遍身，必死</u></p>
<p>將鹿角燒為末，以豬油調搽。</p>
<h4>腮</h4>
<p>赤小豆為末，或水或醋調敷。</p>
<h4>口眼斜</h4>
<p>將蓖麻子研爛，右歪塗左邊，左歪塗右邊，一經復正，即速去之。</p>
<p><u>又方</u></p>
<p>用皂角末，塗法如前。以醋炒鍛石為末，仍以醋調，塗法如前。</p>
<h4>牛馬易壯方</h4>
<p>牛骨六兩（燒灰）　糖糟三斤　麥芽三斤　黃豆三升共為末。每次用一兩，入料內，藥完必壯。</p>
<h4>豬易肥方</h4>
<p>管仲、何首烏各一兩，麥芽、黃豆各一升共為末。加鹽一兩，拌勻。每日以四兩食之，則肥矣。</p>
<h4>澤及昆蟲</h4>
<p>夏夜，欲張燈於院內，揀青草一根，長三寸左手持草向燈焰上旋轉，誦真言曰：護身草護身草，超度眾生離煩惱。一氣七遍，以草橫擔於燈上，其蟲蛾不棲油中矣。</p>
<h4>喂馬添膘法</h4>
<p>用管仲一個，煮豆喂之。</p>
<h4>治馬騾鼠瘡</h4>
<p>用大蒜五個，研爛。同香油半斤灌之。</p>
<h4>治馬鼠瘡</h4>
<p>將尾揪起，內有青筋，用針刺破出血。再將嘴唇掀起，內有青筋，割破出血，即愈。</p>
<p><u>又方</u></p>
<p>將瘡四邊烙破，中間搽麝香，即愈。</p>
<h4>治馬騾骨眼起臥</h4>
<p>明雄黃二錢，黃丹四錢（水飛），枯礬一錢，火硝六分。</p>
<p>共為細末。點大眼角。</p>
<h4>治馬鼻濕方</h4>
<p>川貝母四錢　朱砂四錢　發灰六錢　麝香末三分　生蜜二兩　雞子清三個水和，灌入鼻內。</p>
<h4>治馬騾打破脊梁</h4>
<p>雞蛋十數個，去黃留清，將男子頭發填滿，用紙糊之，外用黃泥包裹炭灰，煨紅取出，研末，搽上即愈。</p>
<p><u>又方</u></p>
<p>麻油半盅，新汲井水半盅，用銀器打千余下如米湯，搽之愈。</p>
<p><u>又方</u></p>
<p>真銀朱一錢五分　枯礬二錢五分　五倍子一個（焙焦去穢）</p>
<p>共為細末。將瘡洗淨，用火酒噴之，敷上此藥，任背鞍行走。</p>
<p><u>又方</u></p>
<p>訶子五錢　銀朱五錢共為細末，搽患處。</p>
<p><u>又方</u></p>
<p>白礬　五倍子　黃丹各五錢為細末，搽患處。</p>
<h4>治馬癩方</h4>
<p>硫黃　大黃　巴豆（去油）　塌灰各等分研為細末。將蘇子油熬滾，方下前藥即取起，候冷，用穿山甲刮破塗之。</p>
<h4>治馬起臥肚痛</h4>
<p>用火藥半茶盅，燒酒一大盅，調和灌之。</p>
<h4>治馬三結</h4>
<p>發灰三錢　白礬三錢　胡椒（前結用九粒，中結用十八粒，後結用二十一粒）</p>
<p>水二碗，煎一碗，溫灌之。</p>
<h4>治馬鞍壓瘡方</h4>
<p>乳香（去油）三錢　沒藥（去油）三錢　血竭三錢　兒茶三錢　龍骨（　過）三錢象皮（炒成珠）三錢　黃丹二兩（炒）　冰片一分共細末，搽患處。</p>
<p>治牛瘟豬瘟　生大黃五錢　朴硝五錢煎水，竹筒灌之。</p>
<p><u>又方</u></p>
<p>管仲三兩　豬牙皂三兩用水五碗，煎二碗，加朴硝三兩，化開灌之。</p>
<h4>治雞瘟</h4>
<p>用巴豆仁捶碎，拌米與食好。</p>
<h4>治狗癩</h4>
<p>用硫黃研末，拌飯喂之。每次二、三錢。</p>
<h4>治羊兒瘋奇方</h4>
<p>明天麻六兩（用水酒浸脹，將皮紙濕包裹二層，入炭火燒熟，切細晒乾）　南星一斤（將地挖二尺深，一坑將炭火燒坑，以火紅為度，用水酒十壺，取炭出，入酒於坑內，以南星入內，將土掩上，對晝夜方起。另用酒洗泥淨，切細晒乾）　半夏十兩（切片，用濃薑汁拌二、三次，晒乾）</p>
<p>將前藥三味共研細末，用半夏曲四兩擂細，用水兩碗打糊為丸。每日早服二錢，晚服一錢。</p>
<p>忌豬、牛、雞、鵝、羊、馬等肉。用食半月之後，有頭疼，用老鴨一只食之，即愈。</p>
<h3>附錄經驗秘方</h3>
<h4>誤吞金驗方</h4>
<p>紅棗煮爛，不時食之，金從大便自出。</p>
<h4>流火驗方</h4>
<p>用煤炭研細末，醋調敷患處，立愈。</p>
<h4>絕瘧神方</h4>
<p>當歸一錢　茯苓一錢　廣皮一錢　甘草五分上藥用好燒酒浸一宿，臨發時去渣溫服。量大者，前藥倍之，三日瘧亦驗，但必多服幾次。</p>
<h4>吐血方</h4>
<p>真三七一錢　陳茶一錢同煎服。二、三次即止。</p>
<h4>牙疼方</h4>
<p>用新鮮地骨皮（即枸杞子根，不拘多少）洗淨，削嫩皮，石器搗碎，用河水半碗，井水半碗，浸片時。以碗蓋浸，將水含漱，口熱即吐出，易之數次立效。</p>
<h4>坐板瘡並陰囊發癢</h4>
<p>用陳荷葉煎湯，加白礬洗一、二次，無不立愈。</p>
<h4>積年爛腿方</h4>
<p>用新鮮蘿卜陰乾一、二日，其皮可剝，用皮貼上，干則再換。貼幾次即愈。</p>
<h4>黃膽神方</h4>
<p>用頭番莧菜（未經割過者）陰乾，遇病用砂鍋煮湯，大碗不時服。若遇無莧菜時，即用莧菜種梗子亦驗。</p>
<h4>小兒肥瘡</h4>
<p>用大黑棗七枚，去核放在新瓦上焙炙，令枯研末。用生清油或麻油調，搽數次神</p>
<h4>中暑</h4>
<p>（即中　也，或肚痛難忍，或行人倒臥在地）　以藕搗汁，灌下即蘇。</p>
<h4>飛絲入目驗方</h4>
<p>用地上泥土少許，納目中，片時即出。</p>
<h4>鼻紅驗方</h4>
<p>馬蘭頭，即《本草》馬蘭草也，走肺經。搓熟塞鼻孔即止。</p>
<h4>赤眼驗方</h4>
<p>兩目紅腫者，是用田中潔淨揉泥搓丸。欽匾貼兩眼皮，一夜兩丸，無不立效。若睡熟候醒方換。</p>
<h4>瘡毒初起方</h4>
<p>用青蓮花瓣，將吐沫舐濕，貼上即消。已潰者貼之即收口。</p>
<h4>痔瘡驗方</h4>
<p>用向東槐條，砂罐煎湯。以皮硝兩許入湯，先熏後洗，熏時用衣服圍住，勿令熱</p>
<h4>腸紅方</h4>
<p>用棉花核、槐花米，各炒黑，等分，再用烏梅水、陳酒跌丸。每日用烏梅水送下，每服三錢即止。</p>
<p><u>又方</u></p>
<p>以木耳四兩，洗潔淨，入豬大腸煮爛。以此下飯，吃完即愈。</p>
<h4>小便不通方</h4>
<p>用松蘿茶簍內箬葉煎湯一大碗，服下即通。</p>
<h4>明目方</h4>
<p>雞蛋三十枚，刺蒺藜四兩，淘淨微炒，去刺，用砂罐清水煮一晝夜，若水干加水煮。每年冬季清晨用三、四枚或二、三枚同蒺藜湯下，久服不間斷，目不昏花。老年可不用眼鏡作蠅頭字。</p>
<h2>奇疾方</h2>
<h3>奇疾方序</h3>
<p>予不知醫而好抄方書，曾集古方之易簡者、內外科各成帙，將以付剞劂，舍弟遂曰：執方以行藥，是膠柱而鼓琵也。人有強弱虛實之別，非診脈無由辨證。古方非不精微，而用違其道，將毋誤人。予遂不果。一日於義河渡頭，見婦人睛垂於外者，心甚憫之。問之醫，皆芒然莫對。已而閱《本草綱目》，見夏子益《奇疾方》有此症，則其婦死已久。慨然嘆息，使早得此方，以授其婦，安知其不可活。於是采錄奇疾怪症，或見之書，或聞之客談，悉登之。其得之本草者為多，本草非僻書，而諸方散見於各藥之下，卷帙浩繁，無從搜尋，故摘出以便人查考。尚有得異疾而醫束手者，與其坐而待斃，毋寧以此試之，此予抄輯本意也。</p>
<p>世有明醫，自當以診脈審證為定論矣。</p>
<p><u>著壅閹茂且月既望柘皋漁史王遠識</u></p>
<h3>心漏異疾</h3>
<p>胸前有孔，常出血水，謂之心漏。用附子（炮去皮臍）、鹿茸（去毛，酥炙微黃）、鹽花三味，等分為末，棗子為丸。每服三十丸，空心酒下。</p>
<p>（集驗秘方　此方又治腰痛）</p>
<h3>血余怪病</h3>
<p>手十指節斷壞，惟有筋連，無節，肉蟲出如燈心，長數寸，遍身綠毛卷，名曰：血余。</p>
<p>以茯苓、胡黃連煎湯飲之愈。（夏子益奇疾方）</p>
<h3>血潰怪病</h3>
<p>凡人目中白珠渾黑，而物如常。毛髮堅直如鐵條，能飲食而不語，如醉，名曰：血潰。</p>
<p>以五靈脂為末，湯服二錢，即愈。（夏子益奇疾方）</p>
<h3>血壅怪病</h3>
<p>人遍身忽然肉出如錐，既癢且痛，不能飲食，名：血壅。不速治必漬膿血。以赤皮蔥燒灰淋洗，飲豉湯數盞，自安。（夏子益奇疾方）</p>
<h3>肉壞怪病</h3>
<p>凡口鼻出腥臭水，以碗盛之，狀如蝦魚走躍，捉之即化為水，此肉壞也。但多食雞饌（當是白雄雞）即愈。（夏子益奇方）</p>
<h3>熱毒怪症</h3>
<p>目赤鼻脹，大喘，渾身出斑，毛髮如鐵，乃因中熱毒瓦斯結於下焦。用滑石、白礬各一兩，為末，作一服。水三碗煎減半，不住飲之，服盡即安。（夏子益奇疾方）</p>
<h3>截腸怪病</h3>
<p>大腸頭出寸余，痛苦難堪，干則自落，落後又出，名為：截腸病。若腸盡即不治。但初覺截時，用器盛脂、麻油坐浸之，飲大麻子汁數升自愈。（夏子益奇疾方）</p>
<h3>虱出怪病</h3>
<p>臨臥渾身虱出，約至五升，隨之血肉俱壞。每宿漸多，痛癢不可言狀。惟吃水臥床，晝夜號哭，舌尖出血不止，身齒俱黑，唇動鼻開，但飲鹽醋湯十日數即安。（夏子益奇</p>
<h3>瘧後怪病</h3>
<p>口鼻中氣出盤旋不散，凝如黑蓋色。過十日漸至肩與相連，堅如金石，無由飲食。煎澤瀉湯，日飲三盞，連服五日愈。（夏子益奇疾方）</p>
<h3>臍蟲怪病</h3>
<p>腹中如鐵石，臍中水出，旋變作蟲行繞身匝，癢難忍，撥掃不盡。用蒼朮濃煎湯浴之，仍以蒼朮入麝香少許調服。（夏子益奇疾方）</p>
<h3>離魂異疾</h3>
<p>有人臥則覺身外有身，一樣無別，但不語。蓋人臥則魂歸於肝，此由肝虛邪襲魂不歸舍，名曰：離魂。用人參、龍齒、赤茯苓各一錢，水一盞，煎半盞，調飛過朱砂一錢，睡時服。</p>
<p>一夜一服，三夜後，真者氣爽；假者自化矣。又云：自覺本形作兩人並行、並臥，不獨臥時見矣。治法無龍齒，止三味濃煎，日飲，亦不止睡時服。（夏子益奇疾方）</p>
<h3>肉錐怪病</h3>
<p>有人手足忽長倒生肉，刺如錐，痛不可忍者，但食葵菜即愈。（夏子益奇疾方）</p>
<h3>飛奔怪病</h3>
<p>人忽遍身皮底混混如波浪，身癢不可忍，抓之血出，不能解，謂之氣奔。以苦杖、人參、青鹽、細辛各一兩，作一服。水煎，細飲盡愈。（苦杖，一名虎杖；一名斑杖；一名酸杖。</p>
<p>莖似紅蓼，葉圓似杏，枝黃似柳，花狀似菊，色似桃花。一種斑杖似　頭者，與此草同名，異物不可誤）　（夏子益奇疾方）</p>
<h3>寒熱怪病</h3>
<p>寒熱不止，數日四肢如石擊之似鐘磬聲，日漸瘦。用茱萸、木香等分，煎湯飲之愈。（夏子益奇疾方）</p>
<h3>脈溢怪病</h3>
<p>有人毛竅節次血出不止，皮脹如鼓，須臾目、鼻、口被氣脹合，此名：脈溢。生薑自然汁和水各半盞，服即安。（夏子益奇疾方）</p>
<h3>咽喉怪證</h3>
<p>咽喉生瘡，層層如疊，不痛。日久有竅出臭氣，廢飲食。用臭橘葉煎湯，連服必愈。（臭橘，《綱目》名枸橘，似是種為潘籬之狗橙）　（夏子益奇疾方）</p>
<h3>肉人怪病</h3>
<p>項生瘡五色，如櫻桃狀，破則自項分裂，連皮剝脫至足，名曰：肉人。常飲牛乳自消。</p>
<p>（夏子益奇疾方）</p>
<h3>脫陽危症</h3>
<p>凡人大吐大泄之後，四肢厥冷，不省人事，或與女子交後小腹腎痛，外腎搐縮，冷汗出，厥逆，須臾不救。先以蔥白炒熱熨臍，後以蔥白三、七莖搗爛，用酒煮灌之，即回。（華佗救卒病方）</p>
<h3>米瘕嗜米</h3>
<p>有人好啞米，久則成瘕，不得米則吐出清水，得米即止。米不消化，久亦斃人。用白米三合，雞屎一升，同炒焦為末，水一升，頓服。少時，吐出，症如研米汁，或白沫淡水，乃愈。（孫真人千金方）</p>
<h3>發症飲油</h3>
<p>有飲油五升以來方快者，不爾則病，此是發入於胃，氣血裹之化為蟲也。雄黃半兩為末，水調服之，蟲自出。（夏子益奇疾方）</p>
<p><u>又方</u></p>
<p>病發症者欲得飲油。用油一升，入香、澤煎之，盛置病患頭邊，令氣入口鼻，勿與飲之。</p>
<p>疲極眠睡，蟲當從口出，急以鍛石粉手捉取抽盡，即是發也。初出如不流水中濃菜形。又云：治胸喉間覺有症蟲上下，嘗聞蔥豉食者，此乃發症蟲也。二日不食，開口而臥，以油煎蔥豉令香置口邊，蟲當出，以物引去之，必愈。（外台秘要）</p>
<h3>發症腰痛</h3>
<p>宋‧劉明帝宮人腰痛牽心，發則氣絕。徐文伯診之曰：發症也。以油灌之，吐物如發，引之長三尺，頭已成蛇，能動搖。懸之滴盡，惟一發耳。（南史）</p>
<h3>睛垂至鼻</h3>
<p>人睛忽垂至鼻，如黑角塞，痛不可忍。或時時大便血出痛苦，名曰：肝脹。用羌活煎汁服數盞，自愈。（夏子益奇疾方）</p>
<h3>腸頭挺出</h3>
<p>秋冬持胡荽子，醋煮熨之，甚效。（胡荽即原荽也）　（孟詵食療本草）</p>
<h3>大腸蟲出</h3>
<p>不斷，斷之復生，行坐不得，鶴虱末水調半兩服，自愈。（鶴虱，似是狐狸臊子。忌酒肉）　（怪疾奇方）</p>
<h3>口內肉球</h3>
<p>有根如線五寸余，如釵股吐之，乃能食物，捻之則痛徹心。麝香一錢，研水服之，三日自消。（夏子益奇疾方）</p>
<h3>食鴨成瘕</h3>
<p>宋元　中有人食鴨成症瘕，醫以秫米研粉調水服之。須臾煩躁，吐出一鴨雛而瘥按《千金方》治食鴨肉成病，胸滿亦不能食。以秫米湯下盞飲之（秫，乃粟之黏者，今所謂糯粟也）。</p>
<h3>腹中鱉瘕</h3>
<p>平時嗜酒，血入於酒則為酒鱉；平時多氣血，凝於氣則為氣鱉；虛勞、錮冷、敗血雜痰，則為血鱉；搖頭掉尾如蟲行之，上侵人咽，下蝕人肛，或附脅背，或隱胸腹，大則如鱉，小或如錢。治法惟用蕪荑炒，煎服之。兼用暖胃、益血、理中之類，乃可殺之。若徒事雷丸、錫灰之類，無益也。（仁齋直指方）</p>
<h3>眉毛動搖</h3>
<p>目不能交睫，喚之不應，但能食。用蒜三兩杵汁，調酒飲即愈。（夏子益奇疾方）</p>
<h3>頭風畏冷</h3>
<p>一人頭風畏冷，首裹重綿三十年不愈。以蕎麥粉二升，水調作二餅，更互合頭上，微汗即愈。（李樓怪證奇方）　（按此方先裝溪伯治族祖經驗）</p>
<h3>舌上血出</h3>
<p>如針孔者，淡豆豉三升煮沸，服一升，日三服。（葛氏方）</p>
<p>又　血出如箸孔者，巴豆一枚，亂髮、雞子火燒研，酒服。（聖惠方）</p>
<h3>傷寒舌出</h3>
<p>過寸者，梅花片腦半分為末，摻之，隨手即愈。</p>
<h3>舌出不能入</h3>
<p>蓖麻油醮紙作燃燒，煙熏之即收。（集驗秘方）</p>
<h3>重舌涎出</h3>
<p>水漿不入太陰。玄精石二兩，牛黃、朱砂、龍腦一分為末，以鐵針舌上去血，鹽湯漱口，摻末咽津，神效。（聖惠方）</p>
<h3>卒然舌腫</h3>
<p>咽喉閉塞，即時氣絕至危之症。用皂礬不拘多少，以新瓦火　，變色紅，放地上令冷，研細，將病患用鐵鉗拗開牙關，以藥搽其舌即活。</p>
<h3>忽然九竅流血</h3>
<p>大薊一把，絞汁，將好酒半錢調和頓服。如無新者，即用干者為末，服三錢</p>
<h3>陰毒腹痛</h3>
<p>厥逆，唇青卵縮，六脈欲絕者，用蔥一束，去根及青，留白二寸，烘熱安臍上，以熨斗火熨之，蔥壞則易。良久，熱氣透入，手足溫，有汗即瘥。乃服四逆湯，若熨而手足不溫不可治。（朱肱南陽活人方）</p>
<h3>吃飯直出</h3>
<p>梔子二十個，微炒去皮，水煎服。（李樓怪證奇方）</p>
<h3>下部蟲</h3>
<p>病患齒無色，舌上白，喜睡，憒憒不知痛癢處，或下痢，乃下部生蟲食肛也。桃仁十五枚，苦酒二升，鹽一合，煮六合服之愈。（肘後方）</p>
<h3>脅破腸出</h3>
<p>急以油抹入，煎人參、枸杞汁淋之。內吃羊腎粥，十日愈。（危氏得效方）</p>
<h3>鼻中毛出</h3>
<p>晝夜可長一、二尺，漸漸粗圓如繩，痛不可忍，摘去復生，此因食豬羊血過多所致。用生乳香、　砂各一兩為末，飯丸，梧子大。每空心、臨臥各服十丸，水下，自然退落。（夏子益奇疾方）</p>
<h3>玉莖強中</h3>
<p>精滑無歇，時時如針刺，捏之則脆，此名腎漏。用破故紙、韭子各一兩為末。每用三錢，水二盞煎六分，日三服，愈則止。（經驗方）</p>
<h3>筋肉化蟲</h3>
<p>有蟲如蟹走於皮下，作聲如小兒啼，為筋肉之化。用雄黃、雷丸各一兩，為末，摻豬肉上，吃盡自安。（夏子益奇疾方）</p>
<h3>應聲蟲病</h3>
<p>腹中有物作聲，隨人語言，名應聲蟲病。板蘭汁一盞，分五服效。</p>
<h3>陰腫如斗</h3>
<p>人所不能治者，生蔓菁根搗封之。（集療方）</p>
<h3>飛絲纏陰</h3>
<p>腫痛欲斷，以威靈仙搗汁浸洗。一人病此得效。（李樓怪證方）</p>
<h3>灸瘡飛蝶</h3>
<p>因艾灸火瘡痂退落，瘡內鮮肉片子飛如蝶狀，騰空飛去，痛不可言，是血肉俱熱怪病也。</p>
<p>用朴硝、大黃各半兩為末，水調下，微利即愈。（張果醫說）</p>
<h3>灸瘡血出</h3>
<p>一人灸火至五壯，血出不止如尿，手冷欲絕。以酒炒黃芩二錢，為末，酒服即止。（李樓怪證方）</p>
<h3>破傷風方</h3>
<p>剪他人指甲，不拘甲之長短，十指俱剪下，於新瓦上焙存性，用細乳缽研成面。先令病人臥床加被，以指甲面沖熱酒，盅許服之，即復被取微汗。酒量大者服二盅亦可。不可見風，晚服為宜。（朱宜川談）</p>
<h3>貓眼睛瘡</h3>
<p>身、面上瘡似貓兒眼，有光采，無膿血，但痛癢，不常飲食減少，名曰：寒瘡。多食雞（烏雄雞）、魚、蔥、蒜自愈。（夏子益奇疾方）</p>
<h3>惡肉毒瘡</h3>
<p>一女年十四，腕軟處生物如黃豆大，半在肉中，紅紫色，痛甚，諸藥不效。一方士以水銀四兩，白紙一張，揉熟蘸銀搽之，三日自落而愈。（李樓怪證方）</p>
<p>遠按：陳藏器云：人患瘡疥，多以水銀塗之。性滑重，直入肉，宜謹之，頭瘡更不可用，恐入筋絡，必緩筋骨，百藥不能治也，砒亦不可輕用，附識於此，使人知。非萬不得已，不得輕用。</p>
<h3>豌豆斑瘡</h3>
<p>比歲有病天行，發斑瘡，頭面及身，須臾周匝，狀如火燒，瘡皆戴白漿，隨決隨生，不治，數日必死。瘥後瘢點，彌歲方滅，此惡毒之氣所為。云：晉‧元帝時，此病自西北流起，名虜瘡。以蜜煎升麻，時時食之。並以水煮升麻，綿沾拭洗之。（葛洪肘後方）</p>
<p><u>又方</u></p>
<p>取好蜜，通摩瘡上，以蜜煎升麻數數拭之。</p>
<h3>天行斑瘡</h3>
<p>須臾，遍身皆戴白漿，此惡毒瓦斯也。唐高宗永徽四年，此瘡自西域東流於海內。但煮葵菜葉，以蒜　啖之則止。（唐王燾外台秘要）</p>
<h3>渾身燎泡</h3>
<p>如棠梨狀，每個出水有石，一按如指甲大，其泡復生。抽盡肌肉即不可治。用荊三棱、蓬莪朮各五兩為末，分三服，酒調連進愈。（危氏得效方）</p>
<h3>惡毒</h3>
<p>肉中忽生一　子，大如豆粟，或如梅李，或赤、或黑、或白、或青，其　有核，核有根，應心能爛筋骨；毒入臟腑即殺人。但飲葵根汁，可折其熱毒。（姚僧坦集驗方）</p>
<p>按《本草‧酸模條下》云：宜灸　上百壯，以酸模葉薄其四面，以防其長。然後內服葵根汁</p>
<h3>指頭腫毒</h3>
<p>痛甚者，烏梅肉和魚　搗封之妙。（李樓奇方）</p>
<h3>足釘怪疾</h3>
<p>兩足心凸腫，上生黑豆，瘡硬如釘，脛骨生碎，孔髓流出，身發寒顫，惟思飲酒，此是肝腎冷熱相吞。用炮川烏頭敷之，內服韭子湯效。（夏子益奇疾方）</p>
<h3>腋下瘤癭</h3>
<p>一老嫗右腋下生一瘤，漸長至尺許，其狀如長瓠子，久而潰爛。一方士以長柄茶壺爐燒存性，研末搽之。水出消盡而愈。（李瀕湖集簡方）</p>
<h3>頭瘡生蛆</h3>
<p>頭皮內時有蛆出，以刀切破，擠絲瓜葉汁搽之，蛆出盡絕根。（小山怪證方）</p>
<h3>腦漏流膿</h3>
<p>破瓢、白雞冠花、白螺螄殼各燒存性，等分。血竭、麝香各五分為末，以好酒洒濕，熟艾連藥揉成餅貼在頂門上，以熨斗熨之，以愈為度。（孫氏集效方）</p>
<h3>腦崩流汁</h3>
<p>鼻中時時流臭黃水，腦痛，名：控腦砂。有蟲食腦中也。用絲瓜藤近根三、五尺燒存性，每服一錢，溫酒下，以愈為度。（醫學正傳）</p>
<h3>魚臍疔瘡</h3>
<p>絲瓜葉、連須蔥白、韭菜，等分。同入石缽內研爛取汁，以熱酒和服，以渣貼腋下。病在左手貼左腋；在右手貼右腋。在左足貼左胯；右足貼右胯。在中貼心臍。用帛縛住，候肉下紅線皆白，則散矣。如有潮熱，亦用此法。卻令人抱住，恐其顫倒則難救也。（危方）</p>
<h3>金瘡腸出</h3>
<p>用小麥五升，水九升，煮取四升，綿濾取汁，待極冷，令病患臥席上含汁　之，腸漸入，其背，並勿令病患知。及多人見、旁人語，即腸不入也，乃抬席四角，輕搖使腸自入。十日中，但略食美物，慎勿驚動，即殺人。（劉涓子鬼遺方）</p>
<h3>反花惡瘡</h3>
<p>肉出如飯粒，根深膿潰。柳枝葉三斤，水五升，煎汁七升，熬如餳，日三塗之。</p>
<p><u>又方</u></p>
<p>雞腸草研汁拂之，或為末，豬脂調搽極效。（醫林正宗）</p>
<h3>血痣潰出</h3>
<p>一人舊有一痣，偶抓破，血出如線，七日不止，欲死。或用五靈脂末搽上，即止也。（楊拱醫方選要）</p>
<h3>火珠瘡</h3>
<p>其瘡如珠，始於發中，相染不已，亦有傷命者。用生蘿卜搗爛，將滴醋浸，敷患處愈。</p>
<p>（集驗秘方）</p>
<h3>發背欲死</h3>
<p>冬瓜截去頭，合瘡上，瓜爛截去，更合之。瓜未盡，瘡已小斂矣，乃用膏貼之。（肘後方）</p>
<h3>浸淫惡瘡</h3>
<p>有汁，多發於心，不早治，周身則殺人。熬秫米（糯粟也），令黃黑，杵末敷之。（肘後方）</p>
<h3>金絲瘡</h3>
<p>形如繩線，巨細不一，上下至心即死。治法：於瘡頭截住，刺出血後，嚼浮萍塗之愈。</p>
<p>（集驗秘方）</p>
<h3>陰陽易病</h3>
<p>傷寒後婦人得病，雖瘥，不可與男合。為病拘急，手足拳，腹痛欲死，丈夫名「陰易」；婦人名「陽易」，速宜汗之即愈。滿四日不可治也。用乾薑四兩為末，每用半兩，白湯調服，復被。出汗後，手足伸，即愈。（傷寒類要方）</p>
<h3>女人異疾</h3>
<p>女人月事退出，皆作禽獸之形，欲來傷人。先將綿塞陰戶，乃頓服沒藥末一兩，白湯調下即愈。（危氏得效方）</p>
<h3>產後肉線</h3>
<p>一婦產時用力，產後垂出肉線長三、四尺，觸之痛引心腹，欲絕。一道人令買老薑，連皮三斤搗爛，入麻油二斤，拌勻炒干，先以熟絹五尺折作方結，令人輕輕盛起肉線，使之屈曲，作三團納入產戶，乃以絹袋盛薑就近熏之，冷則更易。熏一日夜縮入大半，二日盡。人云：此乃魏夫人秘傳方。但不可使線斷，斷則不可治矣。</p>
<h3>溺油異疾</h3>
<p>廣陵有田婦患泄瀉，下惡如油。鄰童以紙捻蘸，然與油無異，醫不能療。孫滋九先生聞而往視，令買「補中益氣湯」十劑，「天生補心丹」四兩，以煎劑下丸，服訖而愈。</p>
<p>眾醫問之，曰：人驚恐則氣下，大腸脹損所致，此婦必受驚後得此疾也，問之果力作於場，見幼子匍匐赴火，驚而急救得免，遂得此疾。此方書所末載。</p>
<p>孫先生名蘭，維揚前諸生，精天文、算法、字學。所著有《象緯隅說》、《地輿隅說》、《人紀隅說》、《醫方隅說》、《唐二賢詩隅說》。止《輿地》已梓，余藏於家。（友兄趙幼</p>
<h3>產後乳懸</h3>
<p>婦人兩乳忽長細小，如腸垂過小肚，痛不可忍，危亡須臾，名曰：乳懸。將芎、歸各一斤，以半斤銼，於瓦石器內用水濃煎，不拘多少，頻服。仍以一斤半銼塊，於病患桌下燒煙，令將口鼻吸煙。用盡未愈，再作一料。仍以蓖麻子一粒貼其頂心。</p>
<h3>產後舌出不收</h3>
<p>丹砂敷之，暗擲盆盎作墜地聲，驚之即自收。（集驗方）</p>
<h3>婦人血厥</h3>
<p>人平居無疾苦，忽如死人，身不動搖，目閉口噤，或微知人，眩冒出汗過多，血少陽氣獨上塞不行，故身如死。氣過血遠，陰陽復通，故移時方寤。婦人尤多宜服白薇湯。</p>
<p>用白薇、當歸各一兩，人參半兩，甘草一錢五分。每服五錢。水二盞煎一盞，溫服。（本事</p>
<h3>小兒卒死</h3>
<p>無故者取蔥白納入下部，及兩鼻孔中，氣通或嚏即活。（陳氏經驗方）</p>
<h3>初生無皮</h3>
<p>色赤，但有紅筋，乃受胎未足也。用早白米粉撲之，肌膚自生。（聖濟方）</p>
<h3>痘爛生蛆</h3>
<p>嫩柳葉鋪席上臥之，盡出而愈。（李樓奇方）</p>
<h3>臥忽不寤</h3>
<p>忽以火照之，但痛嚙拇指甲際，而唾其面則活，取韭搗汁吹入鼻中，冬月則用韭根。（肘後方）</p>
<h3>卒中惡死</h3>
<p>或先病，或平居寢臥奄忽而死，皆是中惡。急取蔥心黃刺入鼻孔中，男左女右，入七、八寸，鼻目血出即蘇。</p>
<p><u>又方</u></p>
<p>用薤汁灌入鼻中便省。</p>
<p><u>又方</u></p>
<p>用蔥刺入耳中五寸，以鼻中血出即活也。如無血出，即不可活矣。此相傳扁鵲秘方。</p>
<p>（崔氏纂要）</p>
<h3>鬼擊身青</h3>
<p>作痛，用金銀花一兩，水煎飲之。（李樓怪證奇方）</p>
<h3>蛇瘕面光</h3>
<p>人頭面上有光，他人手近之如火熾者，此中蟲也。用蒜汁半兩和酒服之。當吐出如蛇狀即安。（危氏得效方）</p>
<p>南史李道念病已五年，丞相褚澄診之曰：不冷不熱，當是食白瀹雞子過多也。取蒜一升煮食，吐出一物，涎裹。視之，乃雞雛，翅足俱全。澄曰：未盡也。更吐之，凡十二枚而愈。</p>
<p>後</p>
<h3>水毒中人</h3>
<p>一名中溪；一名中濕；一名木病，似射工而無物。初得惡寒，頭目微疼，旦醒暮劇，手足厥冷。三日則生蟲，食不下，癢不痛，過六、七日蟲食五臟，注下不禁。以小蒜三升，煮微熱（太熱則無力）以浴身。若身發赤斑者勿以他病治之也。（肘後方）</p>
<h3>金蠶蠱毒</h3>
<p>吮白礬味甘，嚼黑豆不腥者，即是中蠱也。酸石滑根皮煎濃汁服。即吐出活蟲，無不愈者。（丹溪摘玄方）</p>
<h3>解河豚毒</h3>
<p>一時倉卒無藥，急以清麻油多灌取，吐出毒物即愈。（衛生易簡方）　（解蠱毒同）</p>
<h3>小蝦蟆毒</h3>
<p>小蝦蟆有毒，食之令人小便秘澀，臍下悶痛有至死者，以生豉一合，投新汲水半盞浸濃汁頓服之即愈。（茆亭客話）</p>
<h3>中蚯蚓毒</h3>
<p>形如大麻風，須眉皆落者，用鍛石泡熱水，候涼洗患處，浸之良久愈。</p>
<h3>木痴成瘡</h3>
<p>南方多雨，有物曰木痴。大概類鼻涕積陰而生於古木之上，聞人氣閃閃而動。人過其下，有墜於人體間者即成瘡，久則遍其肌體，以朱砂、麝香塗之愈。（集驗方）</p>
<h3>神鬼箭</h3>
<p>炒山梔、炒面桃頭七個，杵餅貼。次日作七丸，投炭火中燒響即愈。（集驗方）</p>
<h3>木蛇叮</h3>
<p>蟲蛇之毒種於竹木器皿上染之，即為木蛇叮。發寒熱，疼痛不已者，易治；麻木硬腫，防其毒種於內症。　山慈菇一錢五分　當歸　芍藥　貝母　黃芩各一錢五分　川芎八分　連翹黃連（生）　枳殼各一錢　柴胡七分　羌活五分　桂枝二分　加燈草、竹葉各三分　水煎。如痛楚發熱不退，嘔惡痰盛，舌乾胃閉，大小便不通，加山梔半錢　玄明粉　金銀花各二錢　紫花地丁三錢　玄參　威靈仙　麻仁各一錢　木通七分　桃仁去皮尖，五粒，去羌、桂、歸、芍、慈、殼，外加紫金錠井花水磨塗。（集驗方）</p>
<h3>驚死</h3>
<p>以醇酒灌之活。</p>
<h3>誤吞釵環</h3>
<p>取薤白暴萎煮熟，切食一大束，釵即隨出。（葛洪方）</p>
<h3>陽毒發狂</h3>
<p>陽毒、溫毒，熱極發狂、發斑，大渴倍常者，用小麥奴、梁上塵、釜底煤、灶突　同黃芩、麻黃、硝黃等分為末，蜜丸，彈子大，名「黑奴丸」。水化服一丸，汗出或微利即愈。（麥奴乃麥穗將熟時，上有黑霉者也）（朱肱南陽活人書）</p>
<h3>疫癘發腫</h3>
<p>大黑豆二合，炒熟，炙甘草一錢，水一盞煎汁，時時飲之。夸堅志云：靖康二年，春，京師大疫，有異人書此方於壁間，用之立效。</p>
<h3>身如蟲行</h3>
<p>大豆水漬絞漿，旦旦洗之。或加少面沐發亦良。（千金方）</p>
<p><u>又方</u></p>
<p>風熱也，用鹽一斗，水一石，煎湯浴之三、四次。亦療一切風氣。（外台秘要）</p>
<h3>痘中有疔</h3>
<p>或紫黑而大，或黑壞而臭，或中有黑線，此症十死八、九。用碗豆四十九粒，燒存性，頭發灰三分，真珠十四粒，炒，研為末，以油胭脂同杵成膏。先以簪挑疔破，咂去惡血，以少許點之，即時變紅活色，名四聖丹。（牛御史秘傳方）</p>
<h3>異疽似癰</h3>
<p>而小有異膿，如小豆汁，今日去，明日滿。用芸苔搗熟，布袋盛於熱灰中煨熱，更互熨之，不過三、二度。無葉用干者。芸苔即今油菜也。（千金方）</p>
<h3>手足瘭疽</h3>
<p>此疽喜著手足、肩背，累累如赤豆剝之，汁出。用芸苔葉煮汁，服一升，並食干熟菜數頓，少與鹽醬。冬月用子研水服。（千金方）</p>
<h3>天火熱瘡</h3>
<p>初起似痱，漸如水泡，似火燒。瘡赤色，急速能殺人。芸苔葉搗汁，調大黃、芒硝、生鐵衣，等分塗之。（近效方）</p>
<h3>小兒赤游</h3>
<p>行於上下至心即死。菘菜搗敷之，即止。菘菜即白菜。（張傑子母秘錄）</p>
<h3>骨疽不愈</h3>
<p>愈而復發，骨從孔中出者，蕪菁子搗敷之，用帛裹定，日一易之。（千金方）</p>
<h3>煙熏欲死</h3>
<p>有人逃難入石窟中，賊以煙薰之，垂死。摸得蘿卜菜一束，嚼汁咽下，蘇。（延</p>
<h3>尸疰鬼疰</h3>
<p>乃五尸之一，又挾鬼邪為祟，其病變動有三十六種至九十九種。大略使人寒熱淋漓，沉沉默默不知所苦，而無處不惡，累年積月，以至於死，死後復傳旁人。急以桃仁五十枚，研泥水，煮取四升，服之取吐。吐不盡，三四日再吐。（肘後方）</p>
<h3>頭腦鳴響</h3>
<p>狀如蟲蛀，名大白蟻。以茶子為末，吹入鼻中取效。（楊拱醫方摘要）</p>
<h3>病笑不休</h3>
<p>滄鹽　赤，研，入河水煎沸啜之。探吐熱痰數升，即愈。《素問》曰：神有餘，笑不休。</p>
<p>神，心火也。火得風則煙，笑之象也。一婦病此半年，張之和用此方愈。（儒門事</p>
<h3>甲疽延爛</h3>
<p>《崔氏方》治甲疽，或因割甲傷肌，或因甲長侵肉遂成瘡腫，黃水浸淫相染，五指俱爛，漸上腳趺，泡漿四邊起，如火燒瘡，日夜怪憎醫不能療。綠礬石五兩，燒盡研末，色如黃丹，收之。每以鹽湯洗拭，用末濃敷之，軟帛暖裹，當日即汁斷瘡干。每日一遍，鹽湯洗濯。有膿處使淨敷，其痂干處不須近。但有急痛處塗酥少許，令潤，五日即脫。上痂起依前洗敷，十日痂漸剝盡，軟處或更生白膿泡，即擦破敷之，自然瘥也。張侍郎病此，臥經六十日，京醫並處方無效，得此方如神。（王燾外台秘要）</p>
<h3>眼睛突出</h3>
<p>一、二寸者，以新汲水灌漬睛中，數易之，自入。（梅師方）</p>
<h3>舌卒腫大</h3>
<p>如豬脬狀滿口，不治殺人。釜底煤和酒塗之。（千金方）</p>
<h3>傷寒壞症</h3>
<p>凡傷寒時疫，不問陰陽；老少妊婦，誤服藥餌，困重垂死，沉伏不省人事，七日以後皆可服之，百不失一，此名奪命散，又名復脈湯。用人參一兩，水二盅，緊火煎一盅，以井水浸冷服之。少頃，鼻梁有汗出，脈復立瘥。（百一選方）</p>
<h3>驚後瞳斜</h3>
<p>小兒驚後，瞳仁不正者，參、膠、糯米炒成珠，各一錢，水一盞，煎七分，溫服。日再服，愈乃止，效。（直指方）</p>
<h3>牙齒日長</h3>
<p>漸至難食，名髓溢病。白朮煎湯，漱服，取效即愈。（張銳雞峰備急良方）</p>
<h3>食生米病</h3>
<p>因食生熟物留滯腸胃，遂至生蟲，久則好食生米，否則終日不樂，至憔悴萎黃，不思飲食，以害其生。用蒼朮，米泔水浸一夜，銼；焙為末，蒸餅丸，梧子大。每服五十丸，食前米飲下，日三服。《惠民局》趙尹首以此方治一娼，兩旬而愈。蓋生米留滯腸胃受濕，則穀不磨而成此疾。蒼朮能去濕暖胃消穀也。（楊氏家藏經驗方）</p>
<h3>火黃身熱</h3>
<p>午後卻涼（身有赤豆或黑點者，不治），宜烙手足心、背心、百會、下廉。內服紫草湯：紫草、吳藍一兩，木香、黃連一兩，水煎服。（三十六黃方）</p>
<h3>白黃色枯</h3>
<p>舌縮恍然，若語亂者死。當歸、白朮二兩，水煎，入生　汁、蜜和服。（三十六</p>
<h3>蛇傷垂死</h3>
<p>有人被蛇傷即昏死，一臂如股。少頃，遍身皮脹，黃黑色。一道人以新汲水調香白芷末一斤，濯之，覺腸中　然，黃水自口出，腥穢逼人，良久消縮如故，云：以麥門冬湯調尤妙，仍以末搽之。又一僧為蛇傷，一腳潰爛，百藥不愈。一游僧以新水數洗淨，腐敗見白筋，挹干。以白芷末入膽礬、麝香少許摻之，惡水涌出，日日始此，一月平復。（洪邁</p>
<h3>物傷睛突</h3>
<p>輕者，臉胞腫痛；重者，目睛突出。但目系未斷者即納入，急搗生地黃，綿裹敷之，仍以避風膏藥護其四邊。（聖濟總錄）</p>
<p>九江有夫毆其婦，致雙晴突出。適有兵過其門，令勿動，取手巾水濕盛睛，旋轉使其系不亂，然後納入，即以濕巾裹住，令三日勿開。其婦性急，閉二日遂解巾，眼好如故，但遇風寒常發痛。云解早之故也。（吳誠有談）</p>
<h3>蟲食心痛</h3>
<p>一切心痛，無閑新久。以生地黃一味，隨人所食多少，搗絞取汁，搜面作　或冷淘食。</p>
<p>良久通利，出蟲長一尺許，頭發壁宮後，不復痛。冷淘勿著鹽。（崔元亮海上方）</p>
<p>妒精下疳　莖爛一、二寸者皆可取效。大訶子燒灰，入麝香少許，先以米泔水洗後搽之，或</p>
<h3>火赫毒瘡</h3>
<p>此患急防毒瓦斯入心腹。枸杞葉搗汁服，立瘥。（千金方）</p>
<h3>嚙虱成症</h3>
<p>山野人好嚙虱，入腹生長為虱症。用敗梳、梳篦各一枚，各破作兩分，以一分燒研，一分用水五升煮取一升服，即下出愈。（於金丹）</p>
<h3>癌瘡如眼</h3>
<p>上高下深，顆顆壘垂如瞽眼，其中帶青，頭上各露一舌，毒孔透裡者是也。用生井蛙皮燒存性為末，蜜水調之。（直指方）</p>
<p>有人腰間生一毒癰，紅腫未破皮，痛不可忍，俯躬而行。一人取新殺牡豬什切片，如瘡大貼上，外以布纏定一對，晝其病良已，肝色變黑，臭不可近，棄之地，犬不食。下有小指大一點尚硬，乃肝小未貼滿所致，竟亦無他。（張在五談）</p>
