<header><h1>萬氏秘傳外科心法</h1></header>
<dl class="元資料" data-type="book" hidden></dl>
<h2>贈萬密齋先生醫書序</h2>
<p>余蒞羅三年，未嘗得一日讀書，自覺面目語言為古人憎。間有一二問業者持帖括進，非不欣然接之，牒訴倥傯，去復不能志也，況復有餘力及醫藥諸書哉！丙申秋謁防憲於蘄陽，中州趙公曰：「知子邑有密齋乎？人云古矣，厥書可傳也。」余愧無以應。歸而詢諸邑紳先生，嘖嘖稱：「密齋萬生歧黃名手，噪聞於隆萬年間，今其書恐弗全也。」余乃益愧。夫古人宰一邑，一邑之名山大川，奇人傑士，無不夙具胸中，收諸藥籠；今瑰琦如許，曾不曉其姓字，寧不愧得人之義，又何以為地方解此嘲哉。乃取其書，進其孫達而詢之，始知萬生名全，別字密齋，邑廩生，以不得志於八股，棄而就青囊之業。業輒精屢效，以其效者志諸編文，成數十卷，先為樵川太守李公付梓，一時紙貴三湘。因兵燹後，板毀無存，其孫達僅存一帖，置牆壁中，賴以免。凡官滋土者無不知此書，無不購此書，然繕寫告艱，又進其孫達而謀之，搜括錙銖，益以清俸，募梓人，凡八閱月卒工，得書一十有八卷。</p>
<p>展而思之：夫醫者意也。意之所致，醫者不知其為工，而方已傳於後；然則世之所為醫書，皆方之積也。今之醫者，皆欲有醫之名。欲有醫之名，而不得不求乎書，其勢然也。然欲有醫之名，而不善讀醫之書，無益於醫而究咎於書。是書之靈不能益於醫，而醫之名乃能變化其書也。醫而名矣，何難於著書。然世所號一代名手，類就習之所近，業之所傳，頓欲竦一世之人而以名予之，今讀其書何如哉！萬生之為醫，似其為學，非惟不使人知，而究不敢以名醫自處者，此其所以能為醫也，此其所以能為書而可傳也。余讀而服之，詳其著書之意，寧使醫至而名不我追，毋使名至而醫追之者也。吾輩治一邑不能有濟於世，則以有有濟於世者為幸。念今之人，猶有君子其人，廣傳其書者乎？以快吾心，而矢吾力，翻而刻之可也。</p>
<p><u>康熙五年丙午</u></p>
<p><u>通家弟知羅田縣事直隸呂鳴和拜撰</u></p>
<h2>敘</h2>
<p>事有出於仁人孝子者，雖千萬年猶赫也。嘗觀昔之亮采奮庸，以及秉鐸宣教、彼多功德福人著作，於昭要皆救濟為懷焉，矧外此而攝生保命，又古皇所必欲傳哉。然則仁人之言之赫赫者，斯世之幸，而孝子之不欲秘惜之者，又萬世之幸矣。吾羅密齋萬氏全書，久重海內。後藏板以書林火失，而邑中所存之書，又以明季荒殘失，懷青囊者，未嘗不嘆恨也。幸五世孫萬通之獲秘藏於千百泥磚，蓋魯壁之經，天直不欲絕此道於後祀焉者。邑人士當方悅李師棠蔭之暇，僉請付梓公世，而慮工浩難成，余與通友謀曰：通之有小兒《片玉痘疹》，乃家世所秘傳，而全書未經載者，曷先刊以為全書之藉，通之欣然，乃出屬誦友考訂授梓，逾半載而始就，嗣後全書漸次刊行。然是小兒一書，圖歌方症，探妙鉤玄，詢盧扁之精微，肯堂之未及闡悉者。如許奇珍，寧不寶世。父母斯人，斷不忍有一夫不獲之事。余意後來全書一出，將民無疵癘，而物無夭扎，嬉嬉於於，俱游於堯天舜日中矣。誰謂醫之書非采庸教鐸之功德哉，誰謂萬氏之書不成於仁人孝子之闡揚哉。企傳全璧，以志不朽云。</p>
<p><u>時順治之甲午歲季夏穀旦邑人召藜劉一炅書題</u></p>
<h2>敘萬氏幼科源流</h2>
<p>粵自先祖杏城翁，豫章人，以幼科鳴，第一世，蚤卒。先考菊軒翁，孤，繼其志而述之。成化庚子客一羅，娶先妣陳氏，生不肖，乃家焉，其術大行，遠近聞而誦之萬氏小兒科云，為貳世。羅有世儒張玉泉、胡柳溪，講明律歷史綱之學，翁知全可孝，命從游於夫子之門而學焉，頗得其傳。翁卒矣，顧其幼科之不鳴不行也。前無作者，雖美弗彰；後無述者，雖盛弗傳，不肖之責也。故予暇日，自求家世相傳之緒，散失者集之，缺略者補之，繁蕪者刪這，錯誤者訂之。書成，名育嬰家秘，以遺子孫，為三世。異乎有子十人，未有能而行之者。其書已流傳於荊、襄、閩、洛、吳、越之間，莫不日此萬氏家傳小兒科也，余切念之。治病者法也，主治者意也。擇法而不精，徒法也；語意而不詳，徒意也。法愈煩而意無補於世。吾不明，後世君子必有明之者。不與諸子，恐其不能明，不能行，萬氏之澤，未及肆世而斬矣；極閘人者，苟能如尹公他得瘐公之斯而教之，則授受得人。夫子之道不墜，若陳相雖周孔之道，亦失其傳也，諸賢　之哉。</p>
<h2>卷之一</h2>
<h3>總論大法</h3>
<p>內經曰：「諸痛癢瘡，皆屬於心」。又曰：「營氣不從，逆於肉理，乃生癰腫」。又曰：「高粱之變，足生大疔」。又曰：「汗出偏沮，使人偏枯，汗出見濕，乃生痤　」。又曰：「開闔不得，寒氣從之，乃生大僂」。</p>
<p>地之濕氣盛則寒，皮肉筋脈，即此數者而窮之，則知臟腑結病之枝葉。內無鬱熱蘊蓄於中，外無濕熱侵害於內，則氣血和平，肌肉輕快，癰從何來，疽從何生！凡治癰疽，先辨虛實陰陽。經云：「諸痛為實，諸癢為虛，諸癰為陽，諸疽為陰」。又當辨是癰是疽，是疔是發背，然後用藥施治，庶不差謬。熱發於肌肉之上，微腫根小，不過一二寸者為癤；熱發於臟腑之間，腫高根闊，大四五寸余者為癰；五臟熱毒流於骨髓，附骨而生者為疽；酒食過度，濃味適口，心志不遂，鬱熱不伸，專生膊內處，小孔如蜂窠，皆是發也。若疔毒，乃五臟積熱，六腑受傷，或沖冒禽獸之毒，剝受牛羊之穢，始生黍米大，不知謹護而觸犯之，輕者必重，重者必死。用香油調雄黃末服之，以攻其毒，不然立見其敗矣。夫癰毒發背之生，有五善七惡，不可不辨。動靜自寧，飲食知味一善也；大小便均調，二善也；神氣清，語聲明，三善也；膿潰腫散，色鮮不臭，四善也；身體最和平，起居如一，五善也。五善俱見則善，無以加矣。若眼白睛黑，兩目緊小，唇青瘡黑，一惡也；脛膊難轉，四肢沉重，眼閉、口張、耳聾，二惡也；不飲食，不納藥，或不知味，痛極渴甚，三惡也；痰喘氣急，面色青黑，目閉口開，四惡也；時出冷汗，恍惚嗜臥，語言顛倒，五惡也；煩躁咳嗽，腹中利瀉，小便混濁，六惡也；腫高痛甚，膿水腥臭，七惡也。七惡俱全，則不可治。五善見三則吉，七惡見四則危。凡治癰毒，初宜解毒拔毒，既潰，宜排膿定痛，如未潰時，不可服熱藥，既潰時，不可服涼藥。如初作者，先須托裡，既潰者，必要排膿，此治癰疽等瘡之大法也。又須看其時令，診其脈理，辨其虛實，決其輕重，量其病勢，斟酌用之，庶不夭折。如毒始作，無論癰疽發背等症，先須以千金托裡散，服三四劑，固定臟腑，千金內托散亦可。然後除熱以涼膈散，托裡以敗毒散，定痛以乳香湯，憎寒壯熱以小柴胡湯，嘔吐不納以人參養胃湯，飲食不克以參朱養胃湯，聲嘶以麥冬清音湯，大便秘以大柴胡湯，發渴飲水以黃　湯，穢濁觸犯以連翹三香湯，腹痛以甘草芍藥湯，煩躁以黃連清熱湯，好眠以益氣清身湯，虛弱以人參黃　湯，氣喘而咳以木香順氣湯，痛甚以清肌快膚湯，恍惚恐懼以鎮驚散，日久不作膿者以妙濟散，膿潰而腫不消者以真人活命飲，清瀉不止者以真人養臟湯，出虛汗不止者以黃　固真湯，徹膿以萬靈膏，收口以生肌散。以上病症，無過於此。如遇危惡之症，即當灸竹馬穴數十壯，實有起死回生之功。又有生於內者為癰，曰腦癰，曰腸癰，曰肺癰，曰胞癰。此症與前症不同，醫者認驗真實，然後下手，不可妄用湯散，以惹毒禍，為害不小，慎之慎之。</p>
<p>方訣俱載圖形卷中，甚勿輕視。凡毒於未潰之先，而有前數項之症，即從各症湯內，加連翹、梔子、牛子、二花、皂角刺之類。既潰之後，而有前數項之症，於各症湯內，加人參、黃　、二花、連翹、梔子，春多用防風、白芷、柴胡、川芎；夏多用黃連、梔子、連翹、麥冬；秋多用黃芩、蒼朮、連翹、梔子；冬多用人參、白朮、連翹、甘草。癰疽發背之治，大概如此。</p>
<p>又傷寒之症，有汗而未汗者，和而未和者，汗滯皮膚，毒阻骨髓，以致發為癰症，因氣血逆而不和，當解毒清熱，以千金消毒飲，不可用膏藥貼，開其毒，若見危殆，危如前症相同，即以前法治之。又有疔毒種類不同，其害則一，惟滿三十六種疔毒耳，先當以拔毒散用之，或以鐵箍散圍之，內服敗毒散、雄黃散之類，若有變症，亦同前治。</p>
<p>又有痰核、癭瘤並馬刀瘡之類，皆是濕熱生痰，痰甚生火，火甚生風，風甚生熱，熱甚極而病作矣。宜清痰降火之劑，宣熱拔毒之方，初覺以艾灸之，切勿妄行爛割。甚矣，醫之難言也。若非窮通性理，辨識陰陽，博覽詩書，曷能底造真方。見今傳外科者，多是鄉巷之徒，不通文理之人，瘍科未曾目見，瘡脈未曾耳聞，藥品不知性味，湯散未辨君臣，略知數件草之藥，對人稱言通曉，以夸其效，希圖苟利，病家吝財，誠信此等，付性命於庸人之手，良可嘆哉！諺云：「窮無達士，將金贈病」。有庸人說藥方，此所宜深戒也。</p>
<p>先賢曰：「諸經惟有少陰、厥陰二經生癰疽，少陽、陽明生瘰癘」。庸人豈達二經之竅，蓋由此經多氣少血故也。</p>
<p>凡診外科脈，如未潰之先，宜洪大拍指，按之有力，舉之健浮。既潰之後，按之宜沉健，舉之宜輕浮，此易收功之脈也。若未潰之先，脈來沉緩，不疾不數；既潰之後，脈來健實，或大或洪，此難收功之脈也。若前後俱得微弱之脈，此危症也，經年月日，難獲全功。須當養氣血，健脾胃，如參、　、歸、朮之類。若遲延不治，瘡毒變而入腹，既發飽滿、喘氣、腫脹、呻吟，瘡形平沒，此危症也。當速以千金托裡散，表而出之，或立馬回生散，迎而奪之，間或可治。不然，立見其禍也。</p>
<p>凡治癰腫，須看有膿無膿，當看正處偏處，以手按之，熱則有膿，不熱無膿，以紙浸濕貼之，干處是正膿點，然後持針開之，勿嫌口爛，以針口大而膿易盡也。</p>
<p>凡治癰癤，深處深針，淺處淺針，何謂淺？蓋症生於臍腹處，若深針，恐傷內膜，慎之。症生於濃肉之處，宜深針之，以瀉其毒，不可不知。吾見今之針發背者，專行勾割，去其筋膜敗肉，更加痛苦，此豈仁人之術哉！只宜用藥調治，自有愈時。切勿聽此毒手，自取危篤。見如此者，誤人甚多，恐後治人有失，故纂成瘍科方脈，以補目之未見，耳之未聞，況癰疽之生，皆由內蘊鬱熱，外感風濕，腫高碩者為癰，隱伏於骨者為疽，三背而作者為發，始生如黍米大，憎寒壯熱，由漸而起，勿勾洗，宜用艾灸，多效。不然，先須內攻，攻裡之後，宣熱解毒，定痛排膿，生肌斂口，此正道也。絕房事，一切牛馬穢氣不可觸，觸之非輕。常常聞香，痛是可分，如若不然，痛楚難禁。</p>
<p>昧人不知，付之神鬼，求神禮佛，有何福生。智者察之不合，惟修合諸藥，窮究醫書，藥乃百草根苗，醫為九流魁首。重醫者，視瘍科為聖訓，慳財者，視此道為兒戲。凡我子孫，及家後醫，細心診察，寒熱虛實，修合藥品，辨別君臣，庶不差謬，學人須當自操。</p>
<h3>附方</h3>
<p><u>十三味千金內托散</u></p>
<p>桔根、當歸、川芎（酒炒）、厚朴（薑汁炒）、黃　（蜜炙）、官桂（去皮）、白芷、甘草、干葛、柴胡、羌活、連翹、防風。薑棗引。</p>
<p>空心服。</p>
<p><u>十一味千金托裡散</u></p>
<p>乳香、沒藥、甘草、荊芥、羌活、獨活、連翹、柴胡、黃　、二花、綠豆粉。薑引。</p>
<p>空心服。</p>
<p>此二方，凡癰疽發背，宜先服三四劑為妙。</p>
<p><u>十二味涼膈散</u></p>
<p>解熱之劑。</p>
<p>柴胡、連翹、生地（酒洗）、黃連、薄荷、黃柏、甘草、梔仁、麥冬、羌活、黃芩、桔根。</p>
<p>空心服。</p>
<p><u>十三味敗毒散</u></p>
<p>拔毒之劑。</p>
<p>人參、甘草、川芎、枳殼、茯苓、前胡、羌活、二花、獨活、柴胡、連翹、白芍、當歸。</p>
<p>空心服。</p>
<p><u>十一味內托散</u></p>
<p>排膿之劑。</p>
<p>人參、黃　（蜜炙）、當歸（酒洗）、官桂（去皮）、川芎、防風、厚朴（薑汁炒）、桔根、二花、白芷、連翹。</p>
<p>空心服。</p>
<p><u>十二味乳香湯</u></p>
<p>定痛之劑。</p>
<p>乳香、沒藥、荊芥、黃　（蜜炙）、牛子、當歸、川芎、防風、白芷、羌活、黃柏、二花。雀茶引。</p>
<p>空心服。</p>
<p><u>五味小柴胡湯</u></p>
<p>五味隨症加減，治虛熱之劑。</p>
<p>人參、半夏、黃芩、甘草、柴胡。薑棗引。</p>
<p>空心服。</p>
<p><u>六味大柴胡湯</u></p>
<p>治大便秘結之劑。</p>
<p>柴胡、大黃、半夏、黃芩、赤芍、枳殼。薑棗引。</p>
<p><u>三味黃　六一湯</u></p>
<p>解穢治渴之劑。</p>
<p>黃　（蜜炙）一兩，天花粉（大渴多用，小渴少用），甘草二兩。</p>
<p>水煎，溫服。</p>
<p><u>十二味三香連翹湯</u></p>
<p>解穢之劑。</p>
<p>連翹、白芷、二花、防風、白芍、當歸、生地、乳香、木香、柴胡、升麻、雄黃。薑引。</p>
<p>空心服。</p>
<p><u>九味人參養胃湯</u></p>
<p>治嘔吐不納食。</p>
<p>人參、白朮、甘草（蜜炒）、茯苓、陳皮、山楂、神麯、麥芽、厚朴（薑汁炒）、藿香（加）。</p>
<p><u>七味參砂養胃湯</u></p>
<p>治飲食不化。</p>
<p>砂仁、人參、香附、陳皮、白芍、甘草、山楂、淡竹葉（三十片為引）。</p>
<p>空心服。</p>
<p><u>三味白芍甘草湯</u></p>
<p>治腹中疼痛。</p>
<p>白芍（煨）、羌活、甘草（生熟各半）。薑棗引。</p>
<p>空心服。</p>
<p><u>五味麥冬養音湯</u></p>
<p>治聲音嘶啞。</p>
<p>黃連（酒炒）、麥冬、梔子（童便炒）、訶子（去殼，麥面煨）、薏苡仁、淡竹葉（三十片為引）。</p>
<p>空心服。</p>
<p><u>三味黃連清熱湯</u></p>
<p>治嗜睡。</p>
<p>黃連、梔子、麥冬（去心）、竹葉、燈心引。</p>
<p>空心服。</p>
<p><u>六味益氣清身湯</u></p>
<p>治好睡。</p>
<p>白連子、人參、白朮、益智仁（去殼）、黃　、薏苡仁。</p>
<p>空心服。</p>
<p><u>五味人參黃　湯</u></p>
<p>治虛弱。</p>
<p>人參、黃　（蜜炙）、當歸、白朮、連翹。</p>
<p>空心服，用雞蛋二枚咽。</p>
<p><u>十二味清肌快膈湯</u></p>
<p>治痛甚。</p>
<p>羌活、荊芥、連翹、黃柏（酒炒）、生地（酒洗）、白芷、麥冬（去心）、乳香、沒藥、薏苡仁、當歸（酒洗）、二花（酒炒）。竹葉為引。</p>
<p><u>十五味妙濟散</u></p>
<p>治日久不生膿。</p>
<p>黃　（蜜炙）、人參、桔根、當歸、白朮、連翹、防風、陳皮、貝母、白芷、二花、乳香、沒藥、甘草、皂角刺。</p>
<p>不時溫服。</p>
<p><u>七味鎮驚散</u></p>
<p>治恍惚恐懼。</p>
<p>人參、白朮、黃　、當歸、朱砂、茯神、麥冬（去心）。</p>
<p>水煎，溫服。</p>
<p><u>十味真人養臟湯</u></p>
<p>治痢清瀉不止。</p>
<p>粟殼（水泡去筋）、人參、訶子、當歸、肉蔻、白朮、肉桂（去皮）、木香、白芍、乾薑。</p>
<p>水煎，空心服。</p>
<p><u>十四味木香順氣散</u></p>
<p>治氣喘咳嗽。</p>
<p>木香、厚朴、青皮（炒）、甘草、蘇葉、陳皮、檳榔、腹皮（酒洗）、赤茯苓、白芷、苦參、連翹、貝母、天花粉。</p>
<p>水煎溫服。</p>
<p><u>七味黃　固真湯</u></p>
<p>治虛汗自出。</p>
<p>人參、炙黃　、甘草、白朮、防風、連翹、牡礪（火　）。薑棗引。</p>
<p>空心服。</p>
<p><u>太乙萬靈膏</u></p>
<p>九十六味秘傳。</p>
<p>治一切外症，無論大小男婦，癰疽發背，七十二種癰癤，三十六樣疔毒，並諸般無名腫毒，及痰核瘰癘，內損骨節，外傷皮肉，手足麻木不仁，走注疼痛，俱貼之，大有神效也。</p>
<p>大蜂房一個，石菖蒲五錢，青木香一兩，蜈蚣三條，敗龜板（自死）四、五個，何首烏一兩，穿山甲三兩，烏梢蛇蛻三條，過山龍一把（或以鬼見愁代），蛇床子五錢，蒼朮禾一把，蠶蛻（酒洗）一錢，皂角刺五錢，大風子一兩（去殼），香附子五錢（制），蟬蛻二兩，半邊蓮一把（或以佛孔草代），天花粉一兩，龍膽草二兩，女人頭發二兩，蒲公英二兩，木鱉子一兩（去殼），地骨皮一兩，槐花二兩，忍冬藤二兩，鼠黏子五錢，蓖麻子一百粒（去殼），槐角二兩，青蒿一把，細辛五錢，升麻一兩，赤芍五錢，黑丑一兩，艾葉一把，白芷二兩，花椒五錢，甘草二兩，柴胡五錢，防風五錢，玄參一兩，雀茶五錢，大戟二兩，白蘞一兩，南星（生）一兩，白芨一兩，桔根二兩，草烏（生）一兩，羌活一兩，獨活一兩，黃　五錢，川烏（生）一兩，昆布五錢，肉桂五錢，漏蘆五錢，巴豆（去殼）五錢，荊芥五錢，斑蝥一百個，連翹五錢，黃柏一兩，黃連一兩，槐葉一把。上藥為片，取槐、桃、柳枝各七根，香油五斤，春浸五日，夏、秋三日，冬七日，入鍋煎，以煙盡為度，用皮紙濾過，再入鍋以文武火煎，槐枝不住手攪，下黃丹十兩，密陀僧（研末）一兩五錢，以滴水成珠為度，入後藥：麝香二錢，乳香、沒藥各二兩（二味以筍衣盛著炙干為末），海螵蛸一兩，雄黃一兩，朱砂一兩，血蠍五錢，兒茶二兩，青魚膽（四斤重，要臘月的）一個，珍珠五錢，琥珀五錢，牛黃五錢，白芷一兩，山奈一兩，甘松一兩樟腦一兩，赤石脂一兩，白石脂一兩，龍骨（　）一兩，枯礬五錢，檳榔（末）五錢，輕粉二錢，水銀五錢，龍泉粉（磨刀石漿泥）一兩，雞內金（炮）五錢，猩紅五錢，金箔五十片，百草霜五錢，熊膽一錢。</p>
<p>各味用盂　擂細入煎膏內，攪勻，瓷器內收貯，埋土內七日，取出任意聽用。</p>
<p><u>十八味生肌散</u></p>
<p>治一切癰腫，大小無名腫毒，膿出不干，用此敷之，敗肉自脫，新肉自生。</p>
<p>雞內金十個，龍泉粉五錢，熊膽二錢，雄黃一兩，朱砂五錢，沒藥一兩，海螵蛸一兩，乳香一兩，兒茶一兩，血蠍五錢，牛黃二錢，龍骨（　）五錢，麝香一錢，珍珠一錢，赤石脂（　）一兩，白石脂（　）一兩，蛤粉五錢，白芨一兩，金箔四十片。</p>
<p>共研極細末。用陳茶洗淨患處後敷藥七日，平復神效。</p>
<p><u>十五味羌活勝濕飲</u></p>
<p>解流注之毒。</p>
<p>白芷、荊芥、獨活、蒼朮、黃柏、升麻、連翹、甘草、羌活、黃　、桔根、白芍、當歸、防風、桂枝。薑引。</p>
<p>水煎空心服。</p>
<p><u>十五味千金消毒飲</u></p>
<p>治傷寒流注之熱。</p>
<p>柴胡、前胡、連翹、黃連、川芎、枳殼、茯苓、人參、甘草、炙黃　、黃柏、肉桂、防風、白芷、二花。</p>
<p>薑棗引。</p>
<p>空心服。</p>
<p><u>四味拔疔散</u></p>
<p>此藥拔疔毒。</p>
<p>雄黃一錢，朱砂一錢。</p>
<p>二味研末，以羌活、黃連煎湯調服。</p>
<p><u>四味鐵箍散</u></p>
<p>雄黃一錢，朱砂一錢，牛黃一錢，麝香一錢。</p>
<p>共研細末，疔初起，用七醋磨好墨調搽，潰後用水磨墨調之，圈疔四圍。</p>
<p><u>十一味雄黃敗毒散</u></p>
<p>治疔毒。</p>
<p>雄黃、人參、羌活、黃　（蜜炙）、甘草、連翹、黃連、蓮肉、朱砂、柴胡、黃柏（酒洗）。燈心引。</p>
<p>空心服。</p>
<p><u>十六味加減托裡散</u></p>
<p>治諸痛入腹。</p>
<p>羌活、獨活、人參、柴胡、黃　、連翹、白朮、甘草、桔根、白芍、肉桂、黃連、白芷、荊芥、二花、杏仁。</p>
<p>薑棗引。</p>
<p>空心服。</p>
<p><u>十六味立馬回生散</u></p>
<p>治諸毒入腹。</p>
<p>綠豆粉、二花（酒炒）、人參、甘草、當歸（酒洗）、雄黃、朱砂、黃　（蜜炙）、荊芥、連翹、桂枝、白芍、桔根、川芎、白芷、防風。薑棗引。</p>
<p>空心服。</p>
<p><u>神仙去毒一掃丹</u></p>
<p>雄黃二錢，朱砂三錢，牛黃二錢，麝香八分。</p>
<p>共研末，豬膽調勻，濃敷毒上，以桐油浸紙燃火，近毒處熏照之，須令熱氣透毒，其毒自散，痛自止。能治大小一切癰腫，發背瘡癤，並無名腫毒，赤紫丹瘤，纏喉風。初起散之，已潰掃之。藥品少而功效靈，真仙方也。</p>
<p><u>神仙敷毒失笑餅</u></p>
<p>黃泥一大團，連根蔥一大把，蜂蜜一鐘，雄黃一錢。</p>
<p>共為末，搗成泥餅，敷毒上，如干即換之，能治男女一切癰疔腫毒。初起用此敷貼，消腫退熱，神效。</p>
<p><u>神仙拔毒忍冬花酒</u></p>
<p>忍冬花一把，蒲公英一把，雄黃一錢，乳香一錢，沒藥一錢。</p>
<p>以好酒一瓶，煮藥十余沸，再入白蜜四兩，蔥七根，又煮三、四沸，去蔥，盡量飲醉被蓋臥睡，出汗為度，治男女一切癰腫，初起服此立效。以上三方真秘傳，須珍重之。</p>
<h2>卷之二</h2>
<h3>背圖形八症（一）</h3>
<p><a href="_files/p04-a57a1.bmp">背圖形八症</a></p>
<p><u>　1．　腦發　2．　腮　3．上背發（在天柱下）　4．中背發（正對前心）</u></p>
<p><u>5．下背發（正對臍）　6．腰背發　7．暗發（騎馬癰）　8．赤腮癰（即　腮）</u></p>
<h4>腦發</h4>
<p>腦發生於巔頂，由督脈太陽經所生也，乃陰陽不和，氣熱上壅，積聚不散，故成此毒。若不速治，頂裂髓枯，不可救也。先用敗毒流氣飲，次以內托流氣飲，後用白芷散，外用敷方。</p>
<p><u>八味敗毒流氣飲</u></p>
<p>蘇葉、桔根、枳殼（麩炒）、甘草、防風、人參、羌活、白芍。水煎。</p>
<p>食後服。</p>
<p><u>十五味內托流氣飲</u></p>
<p>人參、木香、炙黃　、炙甘草、厚朴（薑汁炒）、蘇葉、肉桂（去皮）、枳殼、桔根、檳榔、烏藥、當歸、白芷、川芎、防風。</p>
<p>空心服。</p>
<p><u>六味白芷散</u></p>
<p>白芷、　本、升麻、黃連、忍冬藤、龍膽草。</p>
<p>空心服。</p>
<p><u>六味外用敷方</u></p>
<p>龍膽草、忍冬藤、白芷、牛黃、雄黃、地骨皮。</p>
<p>以上各等分，洗淨，酒浸透，搗極細，敷毒處四圍，神效。</p>
<h4>腮</h4>
<p>腮毒生於牙根耳庭之前後，通於肝腎，由少陽、陽明經所生也，亦名赤腮癰，乃氣血不行壅滯頰腮，宜用清肝流氣飲一、二劑，後用托裡飲，外用萬靈膏。如初起時覺癢，用艾灸六、七壯，並頰車肩井穴內各灸三壯，甚效。</p>
<p><u>清肝流氣飲</u></p>
<p>桔根、枳殼、白茯苓、柴胡、羌活、甘草、石膏、防風、厚朴、烏藥、官桂、木香、薑棗引。</p>
<p>食後服。</p>
<p><u>托裡飲</u></p>
<p>人參、當歸、黃　（蜜炙）、川芎、赤芍、甘草、防風、厚朴、烏藥（去皮）、官桂、木香。薑棗引。</p>
<p>食後服。</p>
<p><u>六味敷方</u></p>
<p>青蒿（春夏取苗，秋冬取根）、二花、雄黃。生蔥、黃泥、蜂蜜。</p>
<p>各等分，搗細成餅，側臥貼之，若初起用之，即愈。</p>
<h4>上背發</h4>
<p>上背發生於百勞骨下三、四節之間，由督脈、太陽經所生也。受病在胸身，經生肺肝，乃心經鬱熱，後因怒氣傷肝，熱鬱不伸，乃生背發。內經曰：「營氣不從，逆於肉裡」，至生癰疽。先宜敗毒流氣飲一、二劑，次用護心托裡飲。如危甚，用神效忍冬湯，外須用敷藥，待膿盡用生肌散。初起如黃豆大時，宜用海馬崩毒法，次用四圍灸法，如輕可減半矣。此症大忌房事、穢氣、香味等項。</p>
<p><u>十味敗毒流氣飲</u></p>
<p>人參、桔根、枳殼（麩炒）、甘草、防風、荊芥（少許）、柴胡、川芎、白芷、白芍。薑棗引。</p>
<p>空心服。</p>
<p><u>十味護心托裡飲</u></p>
<p>黃連、梔子、連翹、羌活、桔根、白芷、連子、干葛、升麻、防風。薑引。</p>
<p>空心服。</p>
<p><u>十四味流氣飲</u></p>
<p>黃連、羌活、柴胡、木香、陳皮、紫蘇、當歸、生地、川芎、甘草、烏藥、檳榔、官桂、連翹。</p>
<p>空心服。</p>
<p><u>十二味神效忍冬湯</u></p>
<p>忍冬藤、龍膽草、　本、羌活、炙黃　、柴胡、黃連（酒炒）、甘草節、川芎、荊芥、白芷、防風。潰後加人參。</p>
<p>水煎溫服。</p>
<p><u>十味敷方</u></p>
<p>忍冬藤、龍膽草、仙人掌、山龍甲（即松樹根上綠衣）、地龍鱗（即地龍皮刺）、雄黃、地骨皮、連翹、白芷、火炭草。</p>
<p>將酒糟搗碎，敷瘡上四圍，即止痛，待痛止膿盡上生肌散，可也。</p>
<p><u>海馬崩毒法</u></p>
<p>以熱水從肘後先洗起，至手六經起端處止，日行數十次，內服前方以瀉其毒，洗至指甲尖，亦不可住手，看瘡勢穰方可住手，蓋手三陽俱系督脈所屬，洗手至穰時，勢從根本而泄，毒從根本而消，甚勿輕視。此方治發背、搭手、對口俱效，必要初起時為之。</p>
<p><u>二味神仙一醉失笑散</u></p>
<p>蒲公英、忍冬藤各二錢。</p>
<p>以好酒煮熱，盡量飲之醉，仍以生蔥一根，灌蜜入內要滿，以灰火煨熱壓酒，以被蓋睡取汗，汗出而愈。並治上中下三背發及三手搭，並乳發，立效。</p>
<p>鐵箍散亦可用。</p>
<h4>中背發</h4>
<p>中背發生於背中心，是因血壅出而不能歸肝，心志不遂，鬱熱不泄，氣血積聚而成毒。初起宜瘡口四圍多著艾灸，勿使長益。內服忍冬東加失笑散，鐵箍散皆可用，多服人參敗毒散三、四劑，次用五香連翹湯六、七劑，再用排膿散，敷上生肌散自愈，切勿妄行鉤割，慎之慎之。</p>
<p><u>人參敗毒散</u></p>
<p>人參、桔根、甘草、川芎、白茯苓、枳殼、前胡、羌活、獨活、柴胡。</p>
<p>空心服。</p>
<p><u>又方</u></p>
<p>上中下三發背既潰，周遭以面條圍住，將槐皮一大塊，鑽多眼鋪於面條上，又將艾鋪於槐皮上蒸之。癢則蒸痛，痛則蒸癢而止。後以苦茶洗淨，又將輕粉三分，牙豬骨髓杵膏敷之，生肉神效，一日一易。</p>
<p><u>十一味五香連翹湯</u></p>
<p>木香、藿香、乳香、沉香、香附、羌活、獨活、桑寄、升麻、木通、連翹。</p>
<p>空心服。</p>
<p><u>十味排膿內補散</u></p>
<p>癰疽發背潰後，皆宜服之。</p>
<p>人參、黃　、當歸、川芎、白芷、肉桂（夏天少用）、防風、甘草、厚朴、桔根。</p>
<p>空心服。</p>
<p><u>十一味神仙綠豆粉湯</u></p>
<p>解熱定痛之劑。</p>
<p>綠豆粉、乳香、沒藥、桔根、荊芥、羌活、赤芍、木通、連翹、二花、厚朴、甘草。</p>
<p>空心服。</p>
<p><u>十一味敷方</u></p>
<p>忍冬藤、龍膽草、鳳尾草、燈心草、血見愁、地骨皮、牡丹皮、青蒿、胡蓮、雄黃、白芷。</p>
<p>共為細末，用酒糟搗爛敷患處四圍，止痛。</p>
<h4>下背發</h4>
<p>下背發生於兩腎眼中間，系督脈太陽經所司也。受在心經而五臟之毒，因肝積熱於脾，又飲食爆炙，貪色過多，以致水枯土耗，故生斯毒。治宜先補腎調脾，先用補腎地黃湯三、四劑，後用敗毒流氣飲相兼而服，後用排膿生肌自愈，切勿割，慎之。</p>
<p><u>八味補腎地黃湯</u></p>
<p>山藥、山萸、熟地、鹿茸、牛膝、丹皮、茯苓、澤瀉。</p>
<p>空心服。可治腰腎發。</p>
<p><u>十六味敗毒流氣飲</u></p>
<p>紫蘇、桔根、枳殼、防風、柴胡、甘草、川芎、白芷、白芍、當歸（酒洗）、羌活、茯苓、烏藥、陳皮、連翹、二花（酒洗）。</p>
<p>空心服。</p>
<p><u>十六味內托流氣飲</u></p>
<p>黃　（蜜炙）、生地（酒洗）、白芷、川芎、赤芍、赤茯、肉桂（少用）、防風、甘草、烏藥、人參、枳殼、桔根、木香、連翹、二花。薑棗引。</p>
<p>空心服。</p>
<p><u>五味敷方</u></p>
<p>忍冬藤（酒洗）、生地、地骨皮、丹皮、雄黃。</p>
<p>將好酒浸透，搗爛敷患處。</p>
<h4>腰背發</h4>
<p>腰背發生於兩腎眼之處，由腎、膀胱之所司也。乃三陽之毒，促人大命，內損元氣，外感濕熱，先用補腎地黃湯三、四劑，後用敗毒流氣飲（此二方見前），再用三香內托飲，定痛消毒飲，綠豆粉飲。</p>
<p><u>十九味三香內托飲</u></p>
<p>人參、木香、甘草、厚朴、紫蘇、桔根、枳殼、黃　（蜜炙）、藿香、肉桂、烏藥、當歸、白芍、白芷、川芎、防風、乳香、升麻、干葛。</p>
<p>空心服。</p>
<p><u>十八味定痛消毒飲</u></p>
<p>人參、當歸（酒洗）、川芎、白芍、白芷、枳殼（麩炒）、茯苓、半夏（青油炒）、柴胡、甘草、防風、羌活、升麻、厚朴（薑汁炒）、二花、干葛、連翹、川楝子。</p>
<p>空心服。</p>
<p><u>八味綠豆粉湯</u></p>
<p>二花（酒洗）、豆粉、蒲公英（酒洗）、荊芥穗、乳香、沒藥、升麻、栝萎根、皮。</p>
<p>空心服。</p>
<p><u>五味敷方</u></p>
<p>地龍甲、山龍甲、忍冬花、龍膽草、雄黃。</p>
<p>以上諸藥各等分，捶細末，以豬膽同酒調勻敷之。</p>
<p><u>又方</u></p>
<p>以地龍甲一味，炒焦存性，研末酒調敷之。</p>
<p><u>又方</u></p>
<p>用剪刀菜捶生酒糟敷患處，干即換之。</p>
<h4>暗發（騎馬癰）</h4>
<p>暗發（騎馬癰）生於糞門之前，陰囊之後，乃手足三陽三陰表裡之所屬也。因腎經蘊熱流於大小腸間，熱血積而成毒，若緩治即成漏瘡，大小便從此而出。先服補腎地黃湯二、三劑（方見前），後服敗毒流氣飲、內托追毒飲，再用排膿生肌自愈。</p>
<p><u>十三味敗毒流氣飲</u></p>
<p>人參、桔根、枳殼、甘草、防風、柴胡、川芎、羌活、白芷、白芍、蘇葉、連翹、二花。薑引。</p>
<p>空心服。</p>
<p><u>十四味內托追毒飲</u></p>
<p>川芎、人參、黃　（蜜炙）、甘草、厚朴（薑汁炒）、桔根、枳殼（麩炒）、當歸、白芷、防風、檳榔、白芍、木香。皂角刺引。</p>
<p>空心服。</p>
<p><u>九味神效車前飲</u></p>
<p>車前子、甘草節、赤芍、檳榔、木通、防風、二花、豬苓、蘇葉。</p>
<p>空心服。</p>
<p><u>四味敷方</u></p>
<p>螵蛸、兒茶、牛黃、雄黃。</p>
<p>同生蔥搗爛，敷上，神效。</p>
<h2>卷之三</h2>
<h3>背圖形八症（二）</h3>
<p><a href="_files/p04-a57a2.bmp">背圖形八症</a></p>
<p><u>1．對口　2．上搭手（脊骨第三節旁開1寸半肺俞穴）　3．中搭手（脊骨第四節</u></p>
<p><u>旁開二寸膏育穴）　4．下搭手（脊骨第十四節旁2寸盲門穴）　5．囊發　6．蛇頭疔　</u></p>
<p><u>7．天蛇頭毒　8．膝發</u></p>
<h4>對口</h4>
<p>對口瘡生於橫山骨下，百勞骨上，正對口生是也。其痛不可當，上連腦頂，下徹心肝，乃手足三陽三陰之所司也，治之不善必死。因思慮過多，鬱熱不伸，炙爆多傷，故生斯毒。始生宜海馬崩毒法，並灸肘尖穴、神闕穴各十余壯，甚效。用祛毒一掃丹（方見前），後服三香內托飲（方見前），定痛拔毒飲，內須排膿定痛，外須收口生肌。先宜服益腎制火湯，不然脛項筋脫，腎水耗散，心肝熱熾而斃。</p>
<p><u>十三味益腎制火湯</u></p>
<p>黃柏（鹽炒）、連翹、知母（鹽炒）、地黃、甘草、白芍、肉桂（去皮）、當歸、黃連、川芎、人參、黃　、白朮。</p>
<p>空心服。</p>
<p><u>十三味定痛拔毒飲</u></p>
<p>羌活、牛膝、黃　、白芍、甘草、乳香、柴胡、香附、前胡、蘇葉、黃芩、枳殼、二花。</p>
<p>空心服。</p>
<p><u>五味敷方</u></p>
<p>忍冬藤、龍膽草、百草霜、上京墨、地骨皮。</p>
<p>酒搗敷之。</p>
<h4>正背發</h4>
<p>正背發生於當心中，不上不下，不左不右，正對心脾，比諸毒尤甚，與對口相同，乃通身經絡所屬也。不宜勾割，治與諸發背同。</p>
<h4>上搭手</h4>
<p>上搭手生於匙骨之下，去背溝一指是也，乃手足太陰太陽之所屬也。去肺膈不遠，不可勾割。由下元枯竭，上焦積熱，宜滋陰降火。三香內托飲（方見前），加黃柏、知母、連翹、二花。定痛拔毒飲（方見前），加黃柏、知母、梔子、二花、牛子、連翹、花粉、黃芩、湘蓮而服，排膿定痛而愈。</p>
<p><u>八味白芷散</u></p>
<p>連翹、白芷、乳香、黃柏、升麻、沒藥、羌活、二花。竹葉引。</p>
<p>空心服。</p>
<p><u>九味敷方</u></p>
<p>生地、牛膝、二花、仙人掌、半邊蓮、龍膽草、清涼膏、雄黃、連須子。</p>
<p>以酒糟共搗，敷患處。</p>
<h4>中搭手</h4>
<p>中搭手生於背中心，離三指之間，亦手足三陰三陽之所屬也。離臟腑亦近，不可用刀針。因腎不足而心有鬱熱，故生斯毒。宜順氣開鬱，清熱追毒。先服三香連翹湯，次服定痛清氣湯，然後排膿生肌。</p>
<p><u>九味三香連翹湯</u></p>
<p>香附（酒炒）、木香、乳香、羌活、連翹、牛子、二花、當歸、白芍。</p>
<p>空心服。</p>
<p><u>十六味定痛清氣湯</u></p>
<p>人參、黃　、白朮（土炒）、連翹、生地、當歸、木香、乳香、沒藥、桔根、白芷、川芎、麥冬、羌活、二花、皂角刺。</p>
<p>空心服。</p>
<p><u>生肌妙方</u></p>
<p>豬骨髓、輕粉（一分）。</p>
<p>用青布　定，捶膏貼之，神效。</p>
<p><u>五味敷方</u></p>
<p>生地、忍冬、膽草、黃柏、雄黃。</p>
<p>以酒糟搗爛，敷之。</p>
<h4>囊發</h4>
<p>囊發，發於陰囊之上，乃足厥陰之所屬也。其病亦酷，因心勝陰虧，濕氣下流，故生斯毒，用青荷葉包之，或紫蘇葉洗淨去毛包之。若無，以油單紙，將兒茶水煮過包之。亦可內服十三味流氣敗毒飲，外上敷藥。</p>
<p><u>十三味流氣敗毒飲</u></p>
<p>澤瀉、川芎、赤芍、蘇葉、甘草、麥冬、香附、白朮、茯苓、青皮、防風、柴胡、羌活。</p>
<p>空心服。</p>
<p><u>三味敷方</u></p>
<p>海螵蛸、兒茶、蛤粉。</p>
<p>共為末，干敷，或生肌散亦可。</p>
<p><u>二味敷方</u></p>
<p>干荷葉、干蘇葉。</p>
<p>焙乾，等分為末，酒調濃塗肉上亦可，外以油紙包之效。</p>
<h4>蛇頭疔</h4>
<p>蛇頭疔生於大指之上，三、四指亦生，因五臟熱邪蘊積，故外發於六經起指之端，宜瀉六經熱毒，須服連翹泄毒湯，外用敷藥。初覺以獨腳蓮煎水洗之可消，既潰不用。</p>
<p><u>十三味連翹瀉毒湯</u></p>
<p>連翹、青黛、木香、羌活、桂枝、黃連、麥冬、甘草、五味子、薄荷、白芷、防風、紫蘇。</p>
<p>空心服。</p>
<p><u>敷藥</u></p>
<p>敷藥用豬膽調雄黃搽。</p>
<p>蛇頭瘡作痛連心，日夜呻吟不得寧。</p>
<p>豬膽雄黃筒指上，痛苦熬煎自覺輕。</p>
<h4>天蛇頭毒</h4>
<p>天蛇頭毒生於中指頭，乃心經積熱，邪毒攻指，初覺以芋禾煎水洗五、六次之間，用芋頭禾竿焙乾研末搽。內服十一味托裡流氣飲。</p>
<p><u>十一味托裡流氣飲</u></p>
<p>人參、肉桂（去皮，少用）、白芷、當歸、連翹、黃　、防風、川芎、白芍、厚朴、木香。</p>
<p><u>一味敷方</u></p>
<p>久雨後，籬笆下糞草上所生小菰，其色似水紅，形似古竹簪，連根焙乾為末，無論已潰未潰，如瘡口乾，用麻油調搽，濕用干末敷上神效。</p>
<h4>膝發</h4>
<p>膝發生於兩膝之上，乃足少陽經所屬也。似乎人面瘡有窠穴，又有口眼，甚是可畏。由心肝壅熱下流胯膝，故生斯毒。宜用拔毒流氣飲，後用排膿生肌，若經七、八年不愈者，由此跛足，為喪身，其禍不淺矣。</p>
<p><u>十九味拔毒流氣飲</u></p>
<p>黃柏（鹽炒）、防己、川膝（酒炒）、木瓜、紫蘇、木香、白朮、二花、黃連、麥冬、前胡、檳榔、牛子、大腹皮、甘草、赤芍、首烏、川烏（制）、地骨皮。</p>
<p>空心服。</p>
<p><u>十一味防風牛膝湯</u></p>
<p>川膝、木瓜、檳榔、木香、乳香、防風、黃連、甘草、花粉、白朮、人參。</p>
<p>空心服。此方洗瘡尤效。</p>
<p><u>二味敷方</u></p>
<p>將貝母為末，檳榔磨水調搽，以萬靈膏、生肌散敷之，效。</p>
<p><u>外方</u></p>
<p>治鶴膝風。</p>
<p>糯米煮飯，酒並曲三味共搗，敷痛處，三日即愈。</p>
<p><u>又對口瘡方</u></p>
<p>用剪刀菜捶生酒糟敷之，干了再換，即愈。</p>
<h2>卷之四</h2>
<h3>面圖形十二症（一）</h3>
<p><a href="_files/p04-a57a3.bmp">面圖形十二症</a></p>
<p><u>1．鬢發　2．眉發　3．耳發　4．頤發　5．須發　6．肩發　7．乳發　8．胸發　</u></p>
<p><u>9．手背發　10．小便毒（便發，生於陰頭之上）　11．腳背發　12．腳跟發</u></p>
<h4>鬢發</h4>
<p>鬢發生於兩額之間，小兒婦人多有之，男子生此者，多不救，乃手足少陽、太陰之所司也。因心肝積熱，頭額受風，故生此毒，宜泄二經之熱，以十一味柴胡升麻湯。</p>
<p><u>十一味柴胡升麻湯</u></p>
<p>本、羌活、升麻、干葛、防風、黃連、赤芍、生地、麥冬、當歸、蒲公英（酒洗二次）。</p>
<p>空心服。</p>
<p><u>八味神方白芷散</u></p>
<p>白芷、升麻、二花、桔根、川芎、連翹、黃連、羌活。</p>
<p>食後服。</p>
<p><u>七味敷方</u></p>
<p>雄黃、兒茶、螵蛸、乳香、沒藥、麝香、牛黃。</p>
<p>共為末，以酒調敷。</p>
<h4>眉發</h4>
<p>眉發生於兩眉之間，燥爛如人眼目，甚可畏也。小兒生此立死，大人生此者，十全二、三，乃手足少陽經所受也。宜用海馬崩毒法，不然，膿血浸兩眼，目先壞，宜用後二藥相兼服後，排膿生肌常服之。</p>
<p><u>九味清心蓮子飲</u></p>
<p>黃　、甘草、蓮子、車前仁、茯苓、麥冬（去心）、人參、黃芩、地骨皮。</p>
<p>食後服。</p>
<p><u>十二味羌活敗毒散</u></p>
<p>人參、黃　、羌活、獨活、連翹、干葛、升麻、川芎、地骨皮、白芷、丹皮、二花。</p>
<p>食後服。</p>
<p><u>八味敷方</u></p>
<p>牛黃、雄黃、朱砂、血蠍、兒茶、乳香、沒藥、螵蛸。</p>
<p>共為末，以酒調搽之。</p>
<h4>耳發</h4>
<p>耳發生於耳門邊，乃心腎濕熱所生。其病有三：曰簟耳，曰痔耳，曰濕耳。俱先用清肝流氣飲，後用定痛降火飲，若簟耳、痔耳，用針刺破，以清涼膏貼之，生肌散敷之。</p>
<p><u>十四味清肝流氣飲</u></p>
<p>枳殼、桔根、黃芩、柴胡、羌活、赤芍、防風、川芎、荊芥、白芷、升麻、連翹、甘草、前胡。</p>
<p>食後服。</p>
<p><u>十三味定痛降火飲</u></p>
<p>柴胡、前胡、紫蘇、防風、厚朴、陳皮、甘草、半夏、川芎、白芷、當歸、羌活、升麻。蔥引。</p>
<p>食後服。</p>
<p><u>九味清涼膏</u></p>
<p>黃連、大黃、黃芩、鬱金、朴硝、玉簪花、獨腳連、天花粉、白芨。</p>
<p>共為末，雞蛋清調搽。</p>
<h4>頤發</h4>
<p>頤發，生於兩顴骨之下一寸，乃手足太陽陽明經所屬也，因脾肺積熱，故生斯毒，若不早治，定成漏腮。初起時用雀茶煎湯洗之。隨服升麻解毒湯，十二味追毒散，外敷生肌散愈。</p>
<p><u>九味升麻解毒湯</u></p>
<p>升麻、干葛、防風、甘草、白芍、羌活、川芎、玄參、白芷。</p>
<p>食遠服。</p>
<p><u>十二味追毒散</u></p>
<p>連翹、白芷、防風、羌活、升麻、黃連（酒炒）、荊芥、二花、當歸、黃　、人參、黃芩。</p>
<p>食後服。</p>
<p><u>三味敷方</u></p>
<p>雄黃、白芷、螵蛸。</p>
<p>共為末，敷之。</p>
<h4>須發</h4>
<p>須發生於頤下地角處，乃手足太陽太陰經之所屬也。因飲食太過，蓄熱上升，始生如黍米大，由漸燥爛痛癢不一，經年不愈。以抱風藤一大把，煎水熏之，勿透熱氣衝臉，內服升麻解毒湯及追毒散（見上），外用敷藥可愈。</p>
<p><u>四味敷方</u></p>
<p>石膏、螵蛸、雄黃、枯礬。</p>
<p>共為末敷之。</p>
<h4>肩發</h4>
<p>肩發生於兩肩背之上，乃手足三陽三陰經之所屬也。因風濕熱積而成毒，或挑擔人，多生此疾。宜服內托流氣飲，外用清涼膏及生肌散並敷方。</p>
<p><u>十四味內托流氣飲</u></p>
<p>炙黃　、生地、白芷、川芎、赤芍、防風、甘草、人參、玄參、黃連、桔根、連翹、二花、羌活。</p>
<p>食後服。</p>
<p><u>六味敷方</u></p>
<p>半邊蓮、皂角刺、木鱉子、仙人掌、雄黃、大楓子。</p>
<p>共為末，敷之。外可用清涼膏及生肌散（方見上）。</p>
<h4>乳發</h4>
<p>乳發生於兩乳之上，乃厥陰、陽明經所屬也。有內吹外吹之別，惟婦人多生此病，因二經風熱壅塞，血氣凝滯而生。內吹者，因胎中小兒氣吹，故生此病。初起覺以艾葉灸並火罐燎之效。外吹初覺捏發乳出，亦可消。若內吹至產後自愈。若外吹不治，必致穿胸走脅而斃矣。先服一醉忍冬花酒（方見前），隨服十六味敗毒流氣飲、定痛乳香湯，外用萬靈膏、生肌散敷之。</p>
<p><u>十六味敗毒流氣飲</u></p>
<p>蘇葉、桔根、枳殼、甘草、防風、柴胡、前胡、連翹、川芎、羌活、升麻、白芷、當歸、黃　、二花、皂角刺。</p>
<p>食遠服。</p>
<p><u>十三味定痛乳香湯</u></p>
<p>人參、黃　、當歸（酒洗）、川芎、茯苓、甘草、烏藥、香附、赤芍、乳香、沒藥、二花、連翹。</p>
<p>食遠服。</p>
<p><u>九味敷方</u></p>
<p>乳香、沒藥、熊膽、兒茶、螵蛸、寸香、龍泉粉、百草霜、綠豆粉。</p>
<p>共為末，酒調敷之。</p>
<p><u>又方</u></p>
<p>生酒糟搗蒲公英渣敷之，其酒盡量飲之，至醉效。貼以萬靈膏，收以生肌散（方見上）。</p>
<h4>胸發</h4>
<p>胸發生於正胸之中，上離結喉三寸，離心窩不遠，乃手足六經交會相關之所。此症酷促人命，在三、四日間，若不速治，骨裂皮開，甚可畏也。先宜拔毒、定痛，勿使定花、開花可也。定痛以火紙卷乳香、沒藥末於中，外以青布包紙條，以油醮條，燃火於痛毒上熏之。若痛要照至不痛，此神效也。內服祛毒鎮心飲，勿使開花，若開花，神仙不治也，慎之！慎之！</p>
<p><u>十一味祛毒鎮心飲</u></p>
<p>朱砂、麥冬、黃連、二花、青木香、乳香、當歸（酒洗）、生地、蓮米（去心）、茯苓、連翹。薑引。豬心一個，水四碗，煎一碗。</p>
<p>空心服。</p>
<p><u>十二味清熱潛心湯</u></p>
<p>麥冬、干葛、升麻、朱砂、乳香、黃連、當歸、川芎、桔根、柴胡、黃　（蜜炙）、連米（去心）。煎法同前。</p>
<p>空心服。</p>
<h4>手背發</h4>
<p>手背發生於兩手之上，筋骨之間，乃手六經之所屬也。由心肝積熱，流於手背而生，始覺宜鐵箍散外敷，後以定痛流氣飲，並內托流氣飲。外用萬靈膏、生肌散（方見上），可收全功。此症初起，如黍米大，後酷，可不懼哉。</p>
<p><u>十四味定痛流氣飲</u></p>
<p>人參、炙　、川芎、茯苓、甘草、烏藥、當歸、枳殼、白芷、乳香、防風、羌活、白芍、連翹。</p>
<p>食遠服。</p>
<p><u>十五味內托流氣飲</u></p>
<p>羌活、升麻、人參、黃　、烏藥、當歸、川芎、甘草、防風、官桂、白芷、厚朴、木香、連翹、二花。</p>
<p>食遠服。</p>
<p><u>六味白芥子散</u></p>
<p>白芥子、官桂、羌活、黃連、二花、天花粉。</p>
<p>具用水酒炒，水煎。食遠服。</p>
<p><u>三味敷方</u></p>
<p>地骨皮、絲瓜子、二花。</p>
<p>以酒和搗細敷上。</p>
<p><u>三味敷方</u></p>
<p>鬼見愁、地骨皮、膽草。</p>
<p>以酒和搗爛敷上。</p>
<p><u>又方</u></p>
<p>用抱風藤（又名抓山虎）一大把，入瓦罐內煎水，以罐口對準瘡口熏之。如水冷又煎又熏，日熏七、八次。</p>
<p>如痛將罐口移遠些，不痛移近些。不過三、四日後膿干、腫消、止痛、平復就好，此方神效。</p>
<p>此三方發背俱可通用，甚效。</p>
<h4>小便毒（便發）</h4>
<p>小便毒，生於陰頭之上，乃人身腎脈之總司也。又名便發。因酒色過度，極熱流於下焦，或惹婦人陰蝕而生，或行經時交合而生，受禍雖不同，其害則一，神方難醫。初起之時，用紫花地丁、麝香三四分，生薑一片，煎水一碗，空心服之神效。如小便脛腫痛，宜服木香流氣飲、檳榔追毒飲。如燥爛亦宜敷貼，不然膿血塞竅，脹腫難禁矣。</p>
<p><u>十六味木香流氣飲</u></p>
<p>木香、木通、紫蘇、荊芥、半夏、豬苓、澤瀉、連翹、白朮、赤芍、黃連、車前、穿甲、黃柏、茯苓、　蓄。</p>
<p>燈草為引。</p>
<p>空心服。</p>
<p><u>九味檳榔追毒飲</u></p>
<p>檳榔、牛膝、木通、草節、豬苓、連翹、生地、黃柏、二花。燈心引。</p>
<p>空心服。</p>
<p><u>五味敷方</u></p>
<p>牛膝草（冬時取根）、通草、車前仁、二花膽草。</p>
<p>共用酒浸，搗爛敷之。</p>
<p><u>七味敷方</u></p>
<p>雄黃、血蠍、螵蛸、兒茶、枯礬、黃連、乳香。</p>
<p>共研細末，用黃蠟、白蠟熬溶，攤油紙上包裹前藥末，貼陰頭上甚效。</p>
<p><u>試效方</u></p>
<p>水粉、四六片、兒茶、虎耳草汁調搽。一方加松香，一方加青黛，一方加石膏。</p>
<h4>腳背發</h4>
<p>腳背發，生於腳背之上，筋骨之間，乃足少陰所屬也。比手發尤甚，因濕熱相搏，血滯而成。或赤腳沾惹蛇毒蟲毒，或撞破皮而成，或染穢物觸犯而成者。始覺宜鐵箍散（方見前），次用後藥，再用萬靈膏徹膿，生肌散收口。</p>
<p><u>八味墜毒沉香飲</u></p>
<p>沉香、木香、牛膝、檳榔、膽草、生地、木瓜、二花。</p>
<p>空心服。</p>
<p><u>十味三香木瓜飲</u></p>
<p>木香、乳香、沉香、木瓜、防己、檳榔、黃連、二花、骨皮、丹皮。</p>
<p>空心服。</p>
<h4>腳跟發</h4>
<p>腳跟發，生於腳跟之上，由汗腳涉水，或遠行傷筋，或濕熱流注而成，初起，勿視容易，始生多癢，多將艾灸，十余日自愈。不然，則膿血淋漓，經年不斂。以萬靈膏貼之，以生肌散敷之，如癢，以椒茶朴硝湯洗之，內服六味五味子湯可愈。</p>
<p><u>六味五味子湯</u></p>
<p>牛膝、防己、檳榔、赤芍、牛子、五味。</p>
<p>空心服。</p>
<p><u>四味敷方</u></p>
<p>乳香、沒藥、螵蛸、石膏。</p>
<p>共為細末，用黃白蠟溶化入藥末HT　餅，包貼患處。</p>
<h2>卷之五</h2>
<h3>面圖形十二症（二）</h3>
<p><a href="_files/p04-a57a4.bmp">面圖形十二症</a></p>
<p><u>1．　頂癰　2．赤面疔　3．肩疽　4．螻蛄上串　5．螻蛄中串　6．螻蛄下串　7．乳根癰生乳下　</u></p>
<p><u>8．肚腹癰　9．腎氣游毒　10．痔漏　11．鞋帶癰　12．足心癰</u></p>
<h4>頂癰</h4>
<p>頂癰，生於顛頂之上，乃人身經絡之總司也。其病在心，六腑不調，濕熱聚之而成毒。宜升麻敗毒飲、羌活勝濕湯，外用敷藥，徹盡膿水，然後生肌可愈。</p>
<p><u>十味升麻散毒飲</u></p>
<p>本、白芷、連翹、桔根、川芎、防風、當歸、二花、升麻、白芍。</p>
<p>食遠服。</p>
<p><u>十味羌活勝濕湯</u></p>
<p>蒼朮（制）、連翹、黃柏、獨活、防風、白芷、細辛、當歸、黃連、牛子。以上俱用酒炒。</p>
<p>食遠服。</p>
<p><u>十味敷方</u></p>
<p>青木香、白芷、二花、膽草、大黃、生地、當歸、青蒿、白芨、黃連。</p>
<p>酒和搗爛敷之。</p>
<h4>赤面疔</h4>
<p>赤面疔，生於人面上，乃脾經積熱上炎，初生如黍米大，略癢，切勿抓破，若犯之，其害甚大。始用鐵箍散，後用追毒飲、崩毒飲。若腫起，內只服藥，使膿熟自穿，以生肌散敷之。</p>
<p><u>十二味追毒飲</u></p>
<p>羌活、白芷、升麻、黃連、雄黃、乳香、沒藥、柴胡、甘草、防風、川芎、桔根。</p>
<p>食遠服。</p>
<p><u>十一味崩毒飲</u></p>
<p>雄黃、乳香、沒藥、兒茶、朱砂、牛黃、全蠍、白礬、木香、白芷、甘草。薑引。</p>
<p>若病勢大，加大黃、穿山甲煎成膏，日服六、七次，疔自拔而毒自消，大有神效，勿輕視此方也。</p>
<h4>肩疽</h4>
<p>肩疽生於兩肩之上，乃肺脾積熱上衝肩井。始生時，人多不識，但肩井中酸痛六、七日方現形。若不治，六、七月不得痊愈，甚至肩井燥爛而危矣。初覺時，以艾火灸之，內服海馬崩毒流氣飲，外用敷藥，膿盡上生肌散。</p>
<p><u>十味海馬崩毒飲</u></p>
<p>朱砂、雄黃、乳香、沒藥、白礬、穿甲、白芷、大黃、連翹、木香。</p>
<p>食遠服。</p>
<p><u>十一味流氣飲</u></p>
<p>木香、桔根、蘇葉、烏藥、白芷、川芎、二花、青皮、赤芍、柴胡、骨皮。</p>
<p>食後服。</p>
<p><u>四味敷方</u></p>
<p>白果肉、貝母、雄黃、大棗。</p>
<p>共搗爛，敷之。</p>
<h4>螻蛄串</h4>
<p>螻蛄串者，蟲多也。其形如蜻蜓，頭短尾長，善迎風走水。患見疾，不破不已，如潰破，若不斷其膿水，自肩井貫串至肘臂之上，貫而串，串而三焉。若下一、二寸為中串，再下一、二寸為下串，因不斷膿，以至貫串。</p>
<p>秘方用斷爛散，以燈火斷之。又以艾灸肩井穴，並肘尖、曲池各五七壯。內服湯藥，外用膏藥並生肌散，調治月余而愈。不然恐成廢人。此疾因五臟六腑，蓄受濕熱，故外傷皮膚而成也。</p>
<p><u>十五味加味流氣飲</u></p>
<p>木香、甘草、升麻、干葛、枳殼、蘇葉、桔根、烏藥、白芍、白芷、川芎、防風、厚朴、羌活、二花。</p>
<p>食遠服。</p>
<p><u>十二味加味三香湯</u></p>
<p>乳香、沒藥、茴香、人參、黃　、當歸、白芍、甘草、防風、桔根、連翹、川芎。</p>
<p>食遠服。</p>
<p><u>十六味加味定痛湯</u></p>
<p>人參、黃　、木香、甘草、黃連、桔根、當歸、赤芍、白芷、川芎、防風、乳香、羌活、獨活、茯苓、香附。</p>
<p>食遠服。</p>
<p><u>十二味敷方</u></p>
<p>大棗、白果肉、荔枝肉、雄黃、龍眼肉、朱砂、螵蛸、枯礬、乳香、沒藥、二花、兒茶。</p>
<p>以酒搗如泥，敷之。</p>
<p><u>九味斷爛散</u></p>
<p>枯礬、膽礬、寸香、雄黃、乳香、沒藥、兒茶、石膏、螵蛸。</p>
<p>共為末，磨京墨調勻，敷搽四圍，即愈。</p>
<p><u>七味敷方</u></p>
<p>膽草、乳香、沒藥、熊膽、黃連、牛膝、二花。</p>
<p>共搗細末，用檳榔磨好酒調，敷毒四圍而愈。</p>
<h4>乳根癰</h4>
<p>乳根癰，生於兩乳之下，乃厥陰陽明經之所司也。因氣壅血滯，濕氣蘊蓄而生，宜海馬崩毒飲，一醉忍冬湯（二方見前），敗毒定痛飲，初覺以艾灸，外用膏藥生肌散可愈。敷方與前乳發內吹同。</p>
<p><u>十二味敗毒定痛飲</u></p>
<p>羌活、獨活、防風、白朮、荊芥、白芍、升麻、干葛、二花、連翹、黃　、蒲公英。</p>
<p>食遠服。</p>
<h4>肚腹癰</h4>
<p>肚腹癰，生於肚臍之側，乃太陰脾經所司也。因脾有熱，心火太盛，初起根腳如盤，寒熱發戰，宜用艾灸，可使重變輕也。宜內服外敷後藥，後上生肌散，切勿勾割。</p>
<p><u>二十一味內托流氣飲</u></p>
<p>人參、黃　、白朮、木香、川朴、甘草、干葛、柴胡、蘇葉、黃連、桔梗、枳殼、肉桂、檳榔、當歸、白芍、白芷、川芎、防風、二花、牛子。</p>
<p>空心服。</p>
<p><u>七味敷方</u></p>
<p>龍膽草、乳香、沒藥、熊膽、黃連、牛膝、二花。</p>
<p>共研細末，用檳榔磨水，好酒調藥，敷毒四圍，即愈。</p>
<h4>腎氣游毒</h4>
<p>腎氣游毒，生於大胯之側，陰頭盡處之地，乃足少陰經之所司也。男或由行房而為風熱所傷，女由行經而為風熱所搏。初覺宜神仙敷毒失笑餅（方見前），如痛，起用定痛流氣飲、檳榔墜毒丸，外用萬靈膏，徹盡膿水，可愈。</p>
<p><u>十三味定痛流氣飲</u></p>
<p>木香、紫蘇、桔根、枳殼、厚朴、連翹、檳榔、香附、木瓜、防風、牛膝、大腹皮、二花。</p>
<p>空心服。</p>
<p><u>五味檳榔墜毒丸</u></p>
<p>枳殼（麩炒）一兩，大黃（半生半熟）一兩半，木瓜一兩，防風五錢，檳榔一兩。</p>
<p>共為末，煉蜜為丸，如黃豆大每用五、六十丸，長流水送下，服六、七次為度，其毒可盡。</p>
<p><u>又方</u></p>
<p>仙人掌、土牛膝。</p>
<p>以酒捶細，敷之。</p>
<h4>痔漏</h4>
<p>痔漏，生於肛門之邊，乃下焦之所司也。好酒色之人，多有之。因火氣下流腸胃蓄熱。其名有七，治法則一，曰牝、曰牡、曰雞冠、曰羊奶、曰通腸、曰翻花、曰脈痔。惟有通腸、翻花難療。治外痔之法，始生用艾隔蒜灸三、四壯，去蒜貼肉灸三、四壯，可不勞而愈。或用過天絲結斷痔頭，然後用敷藥。又須用黃連四物湯、　皮丸、涼血地黃湯、葛根湯。治內痔之法，宜涼血、解毒、升提其墜氣，可愈。若漏痔或因附骨之症，或因痔窟之開，而不與生肌長肉，直至內潰，膿血淋漓。宜蠟礬針，以納其穴，服上湯丸，以拔其毒。仍貼萬靈膏，徹盡膿血，再上生肌散可愈。至若通腸翻花，須內消加敷方。上方均可服而愈。</p>
<p><u>五味黃連四物湯</u></p>
<p>當歸（酒洗）一錢，黃連七分，川芎、白芍、生地各二錢。</p>
<p>空心服。</p>
<p><u>二味　皮丸</u></p>
<p>皮（酒浸過焙乾）四兩，槐角（經霜者焙乾）一斤。</p>
<p>將此二味為末和勻，蜜為丸，如梧桐子大，淡酒空心送下每早百丸。</p>
<p><u>外洗蒸法</u></p>
<p>黎擊子（即算盤子）十股，桑白皮一股。</p>
<p>煎水蒸洗，不過三、四次而愈矣。</p>
<p><u>五味槐角丸</u></p>
<p>槐角（制）半斤，槐花（制）半斤，檳榔四個，　皮（酒浸焙乾）一兩，黃芩二兩。</p>
<p>俱為細末，煉蜜為丸，如梧桐子大，或酒或水送下。</p>
<p><u>十味涼血地黃湯</u></p>
<p>生地、赤芍、丹皮、槐角、紅花、枳殼、梔子、黃柏、連翹、黃連。</p>
<p>空心服。</p>
<p><u>二味結痔法</u></p>
<p>用過天絲與蠶絲合成，纏痔頭上六、七轉，上貼不濃不薄蒜一片，著艾灸於蒜上三壯，後上生肌散，可愈。</p>
<p><u>二味蠟礬針</u></p>
<p>用黃蠟溶化枯礬末少許，搓成長條，納入漏竅中，膿血盡，上生肌散。</p>
<p><u>二味洗痔湯</u></p>
<p>用馬齒莧煎水洗之，又以白花菜煎水洗之。</p>
<h4>鞋帶癰</h4>
<p>鞋帶癰，生於腳脛彎之上，龍骨之下，乃濕氣流積於此而生。宜內服檳榔定痛飲，外貼萬靈膏，膿盡，上生肌散，可愈。</p>
<p><u>五味檳榔定痛飲</u></p>
<p>檳榔、木瓜、牛膝、乳香、黃柏。</p>
<p>空心服。</p>
<h4>腳心癰</h4>
<p>腳心癰生於腳掌心中涌泉穴，乃至陰所生也。因伏熱於內，濕熱下流，或遠行履濕地，或沾惹毒瓦斯，或被物所傷而生。初覺宜艾灸，內服牛膝湯，外貼萬靈膏，膿盡上生肌散，不然恐成漏腳，即是神仙，不能治矣。</p>
<p><u>八味牛膝湯</u></p>
<p>王瓜根、土茯苓、牛膝、黃柏、蒼朮、羌活、黃連、當歸。燈心引。</p>
<p>空心服。</p>
<p><u>六味敷方</u></p>
<p>車前子、燈心草、地骨皮、二花、龍膽草、通草。</p>
<p>以酒糟捶爛，敷之。</p>
<h2>卷之六</h2>
<h3>側圖形十一症</h3>
<p><a href="_files/p04-a57a5.bmp">側圖形十一症</a></p>
<p><u>1．　眉風毒　2．耳門癰　3．耳根癰　4．核癰　5．中肩發　6．大腰帶　7．內肘毒　</u></p>
<p><u>8．外肘毒　9．內　10．外　11．丫指毒（生於大指丫內）</u></p>
<h4>眉風毒</h4>
<p>眉風毒生於兩眉之間，乃脾肺濕熱，沖聚於眉峰也。內服敗毒流氣飲，外貼萬靈膏，若破，上生肌散，宜用燈火甚妙。</p>
<p><u>十三味敗毒流氣飲</u></p>
<p>羌活、獨活、桔梗、紫蘇、川芎、當歸、白芷、防風、升麻、柴胡、黃連、黃芩、白芍。</p>
<p>食遠服。</p>
<h4>耳門癰</h4>
<p>耳門癰生於兩耳之門邊，乃肝腎蘊熱上炎耳門而生。宜內服清肝滋腎飲，外貼萬靈膏，又上生肌散。若初起時，用神仙祛毒一掃丹、敷毒失笑餅（方見前）。</p>
<p><u>十一味清肝滋腎飲</u></p>
<p>柴胡、升麻、黃柏、青皮、羌活、獨活、白芷、地骨皮、荊芥、桔根、黃　。</p>
<p>食遠服。</p>
<h4>耳根癰</h4>
<p>耳根癰生於耳根下牙根上，乃少陽陽明火甚而然。宜瀉二經之火，用清肝消毒飲。初起用神仙敷毒失笑餅，更灸頰車、肩井穴各三壯。</p>
<p><u>十三味清肝消毒飲</u></p>
<p>柴胡、升麻、前胡、防風、玄參、桔根、黃連、白芷、石膏、川芎、黃柏、生地、羌活。</p>
<p>食遠服。</p>
<h4>核癰</h4>
<p>核癰生於地角之下，由心肺積熱。初起赤腫如盤，多著艾灸可消，內服解毒黃連湯，外用敷藥，若潰，用萬靈膏、生肌散。不然，恐成漏核之患矣。</p>
<p><u>九味解毒黃連湯</u></p>
<p>升麻、羌活、桔梗、甘草、黃連、梔子、黃柏、連翹、黃芩。</p>
<p>食後服。</p>
<p><u>六味敷方</u></p>
<p>忍冬草、燈心草、地骨皮、過山龍、遠志肉、車前子。</p>
<p>共搗爛，用青布包　之。</p>
<h4>中肩發</h4>
<p>中肩發生於肩膀之中，近肘後玉池之地，乃心肝積熱而成也。內服托裡流氣飲，外用神仙失笑餅。若潰後，用萬靈膏。</p>
<p><u>七味托裡流氣飲</u></p>
<p>羌活、白芷、桔根、黃連、肉桂、柴胡、黃芩。</p>
<p>食後服。</p>
<h4>大腰帶</h4>
<p>大腰帶生於肚膀骨下，離奶五寸有餘。初起如桃，漸漸赤腫，因濕熱所傷心肝脾三經，當速解毒，不然漸漸沿腰如索纏轉，後破，痛苦難當也，名曰龍癬瘡。用敗毒流氣飲、千金救苦飲、消毒飲治之後，以萬靈膏生肌收功。</p>
<p><u>十四味敗毒流氣飲</u></p>
<p>紫蘇、川芎、當歸、人參、黃　、甘草、羌活、獨活、荊芥、桔根、黃連、白芷、防風、連翹。</p>
<p>食遠服。</p>
<p><u>二味短毒截腰法</u></p>
<p>白芨一兩，明雄一兩。</p>
<p>共為末，雞蛋白調搽。</p>
<p><u>十一味千金救苦飲</u></p>
<p>羌活、白芍、蒼朮（米泔水浸）、連翹、黃連、桔根、乳香、沒藥、木香、白芷、升麻。</p>
<p>食遠服。</p>
<p><u>三味消毒飲</u></p>
<p>石榴根皮、棠梨根皮、地骨皮。</p>
<p>共煎水洗。</p>
<h4>內肘毒</h4>
<p>內肘毒生於肘後內側，乃六經熱血凝滯而生。初起內服木香敗毒飲，外上清消毒散敷之，若腫潰，以萬靈膏貼之，可愈。</p>
<p>外肘生於肘後外側，與內肘毒治同。</p>
<p><u>十味木香敗毒飲</u></p>
<p>木香、膽草、二花、當歸、地骨皮、川芎、桔根、荊芥、羌活、甘草。</p>
<p>食遠服。</p>
<p><u>七味上清消毒飲</u></p>
<p>（即敷方）</p>
<p>龍泉粉、雄黃、大黃、黃連、黃柏、黃芩、白芨。</p>
<p>共研末，雞蛋清調搽。</p>
<h4>內</h4>
<p>內　生於兩足　骨內，由濕熱而生，或撞破皮膚潰爛而成。痛癢不一。宜用炒鹽和椒茶煎水洗之，次用桐油紙燃火熏之，後用黃蠟一兩，麻油五錢，枯礬五分，共入鍋內煎溶，以油紙攤膏貼之，待膿盡，上生肌散。</p>
<p><u>二味敷方</u></p>
<p>螵蛸一兩，枯礬五分。</p>
<p>共為末，以椒茶鹽水洗淨敷之。</p>
<p><u>又方</u></p>
<p>雄黃、豬膽。</p>
<p>以桐油調搽之，亦效。</p>
<h4>外</h4>
<p>外　生於正　骨上，洗法同前方。不論內外經年不愈，以成頑瘡粉毒者有之，以致腳瘡。血虛又加涉水之勞，洗淋過度，此血脈污濁凝滯不能行而瘡痛，或遇夜痛甚，營血行於陰也。患者必節口味，雞能生風，魚能助火，豬肉屬陽，亦助火也，須戒慎之。治法宜托裡流氣飲和血為主。止痛用澤蘭葉敷之，甚效。</p>
<p><u>十八味托裡流氣飲</u></p>
<p>蒼朮、靈仙、梔子、紅花、連翹、木瓜、乳香、沒藥、川柏、牛膝、杏仁、赤芍、當歸、川芎、生地、防風、羌活、皂角刺。量大小虛實各等分。生薑引。</p>
<p>水煎，空心服。服後以三白膏貼之。</p>
<p><u>三白膏</u></p>
<p>白蠟一錢，輕粉一錢，　豬油三兩。</p>
<p>捶爛以油紙攤膏貼之。未貼三白膏之先，用陳泥　（即點燭陳泥座），捶細以水和之，攤薄餅轉傳患處，用燈草二根為水路，取陳艾燃二支灸泥餅上，要灸得痛至癢，癢至痛方住，再上三白膏。</p>
<p><u>五寶丹</u></p>
<p>鐘乳（火　）三錢，冰片二分，琥珀三錢五分，珍珠二分，朱砂二分，灰面三錢。</p>
<p>六味共為末，分作十二股，外用土茯苓六斤，每半斤捶細煎濃湯，將前藥每夜配一服置掌中吮之，以土苓湯咽之，次日將湯作茶，忌鹽十二日，並一切發物。</p>
<p><u>又方</u></p>
<p>瘡初起，用青布包乳香、沒藥、螵蛸、艾葉在內卷成筒，或桐油或麻油浸透，於瘡上四圍照而熏之，痛要熏癢，癢要熏痛，仍以雄黃、豬膽搽。用澤蘭煎湯洗亦好。</p>
<p><u>又方</u></p>
<p>無論內外二　俱效，將黏穀草包陳艾熏過數次後，用蔥、椒、炒鹽、五加皮煎水洗瘡，再將松節燒炭研灰，麻油調敷，以傘紙包，將針刺幾眼貼肉，如干以油調潤之。</p>
<p><u>又方</u></p>
<p>以百草霜一味空心入口，嚼成泥敷之。</p>
<p><u>四味敷方</u></p>
<p>用靴皮，不拘多少，火　存性為末，加乳香、沒藥、檳榔、血蠍。共為末，後以椒茶鹽煎水，洗淨展開，用麻油搽瘡一遍，再用藥末敷之。</p>
<p><u>又方</u></p>
<p>黃柏一兩，以豬膽汁搽，黃柏灸之，灸干，又搽又灸，以透為度，研末入冰片一分，調勻，再將椒茶、鹽湯洗淨拭乾，四圍搽之，恐生內大急。</p>
<p><u>又方</u></p>
<p>黃蠟七錢，清油四兩，鳳凰衣（出雞蛋殼）、婦人發，以文武火　成膏，滴水成珠時，速下百草霜一兩，人中白一兩，攤隔紙膏貼之。</p>
<h4>丫指毒</h4>
<p>丫指毒生於大指丫內，由濕熱蘊蓄而成也。始覺腫硬，即以艾灸之，立愈。不然，以豬膽調雄黃搽之，亦效。</p>
<p>若腫甚而潰者，以六味敷毒散敷之。</p>
<p><u>六味敷毒散</u></p>
<p>雄黃、螵蛸、龍泉粉、白芨、乳香、大黃。</p>
<p>共為末，或酒或雞子清調敷。效。</p>
<h2>卷之七</h2>
<h3>側圖形十二症</h3>
<p><a href="_files/p04-a57a6.bmp">側圖形十二症</a></p>
<p><u>1．結喉風癰　2．鬢疽　3．赤面疔　4．頭癰　5．挑針　6．瘰　7．馬刀瘡　</u></p>
<p><u>8．上脅癰　9．下脅癰　10．腿游毒　11．臀癰　12．指丫刺（指風刺）</u></p>
<h4>結喉風癰</h4>
<p>結喉風癰，生於結喉之間，號曰海門第一關。其毒最危，由心肝脾肺腎火熱上炎，毒瓦斯攻喉。若喉癰外症，宜服內托流氣飲，外貼萬靈膏、生肌散，切勿用針自取危篤。如喉風內症，必畏寒，或腫或不腫，必痰涎壅塞痛甚，或湯水略下，即以三棱針於少商穴刺出血，瀉其毒，即服甘桔湯。如病勢重，即服化毒湯，或研末吹之。如惡寒腰痛發熱，名喉閉傷寒，宜發散，用內托流氣飲（方見前），或宜下甘桔湯。</p>
<p><u>甘桔湯</u></p>
<p>人參、桔根、甘草、射干、升麻、牛子、荊芥穗、山豆根。</p>
<p>俱以滾水泡，百步峰為引。治內。</p>
<p><u>十味化毒湯</u></p>
<p>桔根五錢，薄荷葉二錢，荊芥三錢半，甘草二錢，山豆根二錢半，牙皂二錢，硼砂二錢，芒硝三錢，辰砂二錢，雄黃二錢。</p>
<p>共研細末，或吹喉，或湯服。治內。</p>
<p><u>十五味洗毒散</u></p>
<p>桃仁（去皮尖為末）、雄黃、穿甲（炒焦）、枳殼（麩炒）、玄參（酒磨）、檳榔（酒磨）、桔梗、紅花（酒炒）、赤芍（生用）、木香（水磨）、甘草（生用）、澤瀉（略炒）、丹皮。皂角刺為引。</p>
<p>若下，加大黃四錢，再煎一、二沸服之。內外俱用。</p>
<p><u>七味吹鼻散</u></p>
<p>專治急喉風。</p>
<p>小牙皂三分，明雄六分，全蠍梢（焙乾）六個，藜蘆一錢半，牙硝一兩，麝香一分，生礬三分。</p>
<p>共為細末，吹入鼻中，吐出痰涎，自愈。</p>
<p><u>又方</u></p>
<p>用水榨刺蟲（名雀不踏），或三五個焙乾青魚膽（臘月取之），酒米為末用三分，冰片五厘，麝香三厘。</p>
<p>速取吹喉中，立效。此治急喉風之神效也。</p>
<p><u>外方</u></p>
<p>治諸骨哽喉方。用玉簪花根搗汁，以筆管灌入喉中，甚效。</p>
<p><u>又方</u></p>
<p>用金鳳仙花根（即紅鳳仙也）搗汁，合醋煮數沸，用有嘴瓶盛之，仰臥而灌之，其骨即出。</p>
<p><u>又方</u></p>
<p>用威靈仙根搗汁，和醋煮之，吞法同前。</p>
<p>上二花根不可沾牙。</p>
<p><u>又方</u></p>
<p>紅砒三分，糯米為丸，銅綠為衣，薑湯送下，即時吐出。</p>
<p><u>又方</u></p>
<p>喉中被骨刺傷，已生血泡，甚至日刻漸長，緊塞喉中，外不能進，內不能出，宜速用牙皂三分，膽礬半分，上片五厘，麝香五厘，為極細末，吹入喉中二、三次，即泡破血出而愈。</p>
<p><u>又方</u></p>
<p>凡小兒誤吞穀麥芒刺者，急取鵝口涎吞之，甚效。取涎，將鵝倒掛的口涎取用。</p>
<p>以上諸方，無論大人、小兒皆可用。</p>
<h4>鬢疽</h4>
<p>鬢疽生於兩鬢之中，由脾肺心肝積熱而生也。內服敗毒清氣飲，外用敷藥，膿盡用生肌散，可愈。</p>
<p><u>十四味敗毒清氣飲</u></p>
<p>紫蘇、桔梗、枳殼、當歸、甘草、白芍、白芷、川芎、柴胡、羌活、前胡、連翹、升麻、干葛。</p>
<p>空心服。</p>
<p><u>五味敷方</u></p>
<p>白芨、龍泉粉、青木香、乳香、雄黃。</p>
<p>以酒調，捶細敷之。</p>
<h4>赤面疔</h4>
<p>赤面疔生於正面之上，浮腫而紅，乃心肝血熱、氣壅上衝然也。宜先服十一味升麻敗毒湯，後服敗毒消氣飲（方見上）。外敷八味一掃涼敷方、萬靈膏、生肌散可愈。</p>
<p><u>十一味升麻敗毒湯</u></p>
<p>升麻、白芷、干葛、白芍、甘草、桂枝、連翹、當歸、羌活、桔根、荊芥。</p>
<p>食後服。</p>
<p><u>八味一掃涼敷方</u></p>
<p>熊膽、兒茶、乳香、沒藥、生地、片腦、雄黃。</p>
<p>共為末，以黃連、黃柏煎井水調敷患處，可消。</p>
<h4>頭癰</h4>
<p>頭癰即正後發也，生於後頸之上，由五臟積熱而生，初覺用神仙祛毒一掃丹、失笑餅選用。內服後方，外用萬靈膏，膿盡上生肌散。可愈。</p>
<p><u>十八味敗毒流氣飲</u></p>
<p>人參、黃　、官桂、當歸、甘草、川朴、紫蘇、桔根、枳殼、檳榔、烏藥、防風、白芷、川芎、二花、白芍、柴胡、連翹。</p>
<p>食後服。</p>
<h4>挑針</h4>
<p>挑針生於兩眼上下胞，由肝脾積熱而生，初起以冷水拍後頸背膊百遍，有紅筋自泡起，用布針刺破，則腫消矣。</p>
<h4>瘰</h4>
<p>瘰　生於耳後及項間，一名九子癰，一名老鼠　，其實皆瘰　也。多起於少陽經。蓋少陽多氣少血故也。由嗜欲太甚，酒味太濃，思想太勞，志愿不遂，思　於外，內蘊七情，中傷六欲，或傳染，或誤治，種種不同，為痰則一。男子見此，潮熱頻生，女人見此，經水不調，漸成不治之症。如初見耳後項下，或三四個，或似連珠。即如初起，核上以艾灸之，每核各八、九壯，或十余壯，更於肩井、肺俞、風池、缺盆等穴，各灸三、五壯，真有起死回生之妙矣。後服消痰降火之藥，可不勞而收全功也。每見人頻用爛藥，甚至勾割，自取喪亡，可不惜哉。患此者，必要清心養性，淡味節食，可保終始也。治此症者，當各盡心，庶不夭折矣。以萬靈膏，清肌消毒，長肉生肌，是為聖藥。既潰，徹盡膿，長肉消毒，是為神方，此二者對症之藥也，必不可少。</p>
<p><u>十八味消痰和氣飲</u></p>
<p>陳皮（去白）、半夏（薑汁炒）、茯苓、玄參、桔根、荊芥、升麻（去黑皮）、白芷、紫蘇（酒洗）、黃芩（酒浸）、黃柏（酒炒）、昆布、川芎、當歸、木香、防風、花粉、甘草。</p>
<p>食後，仰臥服。</p>
<p><u>二十二味開鬱清痰丸</u></p>
<p>香附（醋炒）、陳皮（去白）、半夏（酒炒）、川芎、甘草、蒼朮（酒炒）、羌活、桔根、黃連、海石、黃芩、全歸、玄參、白芷、石膏、連翹、枳實、貝母、青黛、花粉、昆布、海藻（酒洗）。</p>
<p>以上研細末，煉蜜為丸，如梧子大，或薑湯或茴香湯送下，每早空心服，六、七十丸可愈。</p>
<p><u>十一味清肝流氣飲</u></p>
<p>紫蘇、防風、桔根、枳殼（麩炒）、甘草、厚朴（薑汁炒）、前胡、川芎、當歸、羌活、萊菔子。</p>
<p>水煎，不拘時服。</p>
<p><u>十三味消風和氣飲</u></p>
<p>紫蘇、桔根、枳殼、甘草、烏藥、香附、茯苓、半夏、厚朴、青皮、羌活、柴胡、赤芍。薑棗引。</p>
<p>空心服。</p>
<p><u>十八味救苦化痰湯</u></p>
<p>黃　（蜜炙）、人參、甘草、連翹、丹皮、當歸、生地、白芍、紫蘇、羌活、防風、昆布、三棱、桔根、玄參、升麻、龍膽草、天花粉。薑引。</p>
<p>食後服，仰臥片時。</p>
<p><u>二十二味敷方</u></p>
<p>乳香、沒藥、血竭、螵蛸、兒茶、熊膽、麝香、雄黃、朱砂、牛黃、白芷、赤石脂、礞石、穿甲、云丹粉、百草霜、龍骨、虎骨、豬頭骨、狗頭骨、雞頭骨（其骨俱用火　）、青魚膽。</p>
<p>共為細末，無論已破未破，俱敷上，外用萬靈膏蓋之。</p>
<h4>馬刀瘡</h4>
<p>馬刀瘡生於缺盆之外，自胸而至脅，蓋由痰核瘰　之時，治不如法，以至潮熱頻作，血氣精神減少，腫起大潰，以致膿血毒瓦斯下流，而發此症。何謂馬刀？蓋馬者，行甚速也，刀者，利器也，行疾而器利無將豈能善敵哉。</p>
<p>必須先服奔毒飲，外著艾灸肩井、肺俞、膻中、風池、中腕、百勞、曲池等穴，各五、六壯，宜用前瘰　症內諸方皆可服。若馬刀未破，其面小即從核上灸之，外貼萬靈膏，並敷藥調理自愈。如稍遲延，雖神丹不可治也。</p>
<p><u>二十四味奔毒飲</u></p>
<p>花粉、牛子、生地、當歸、昆布、柴胡、青皮、桑白皮、黃柏、桔根、川芎、人參、黃　、白朮、乳香、沒藥、雄黃、羌活、麥冬、干葛、升麻、黃連、朱砂、陳皮。</p>
<p>食遠服。</p>
<p><u>十七味瘰　時方</u></p>
<p>海藻、海帶、昆布（以上各二錢，但以醋浸洗、焙乾火　），連翹（去隔）、陳皮、桔根、石膏、黃芩、牡蠣（火　）各二錢，荊芥、柴胡、防風、黃柏、苦參、黃連（薑汁炒）各一錢，木通、夏枯草各四錢。</p>
<p>此藥要用十劑。空心服，忌生冷發物。</p>
<p><u>外一方</u></p>
<p>用蒼朮三斤，蔥斤半，俱切片熬膏，以青布攤膏貼之效，一日三換。</p>
<p><u>四味敷方</u></p>
<p>蓖麻子（去殼、油）一兩，松香（嫩者）五錢，乳香、血竭各一錢，搗成膏敷貼之。已破後，即用此方。</p>
<p><u>十味瘰　藥酒方</u></p>
<p>二花四兩，萱草根四兩，益母草四兩，紫花地丁四兩，玄參、甘草、大黃、石菖蒲各五錢，鵝不食草、歸尾各四錢。</p>
<p>用好酒十壺，煮三炷香埋土中三日，取出，不拘時服。已潰未潰，服之俱效。</p>
<p><u>十七味痰核腫痛方</u></p>
<p>連翹、歸尾、白芷各二錢，防風六分、干葛四分、枳殼三分，花粉七分、陳皮六分、貝母五分，茯苓四分，苦參三分，二花二錢，炙草三分，桔根六分，黃芩三分，蘇梗三分，夏枯草二錢。</p>
<p>以上藥味，俱不可加減，用水碗半煎一碗，再用野菊花根煎水酒共三鐘，對前藥，每日早中晚食後服。此方神效，救人多矣。</p>
<h4>上脅癰</h4>
<p>上脅癰，生於脅下二、三寸遠，乃肝經風熱壅甚，故生此毒。宜清肝流氣飲，如潰萬靈膏貼之，上生肌散，自然平安。</p>
<p><u>十九味羌活定痛飲</u></p>
<p>羌活、獨活、玄參、升麻、白芷、乳香、沒藥、防風、紫蘇、桔根、柴胡、麥冬、甘草、黃　、人參、白朮、連翹、二花。薑棗引。</p>
<p>食遠服。</p>
<h4>下脅癰</h4>
<p>下脅癰生於兩脅下，與臍相對是也。由肝腎二經濕熱壅甚而生。治法湯藥與上脅同。</p>
<h4>腿游毒</h4>
<p>腿游毒，生於大腿之中，乃腎與小腸之所司也。由邪聚於經絡，熱氣傷於皮膚，血凝此處而生。始覺用一掃丹、失笑餅可消（方見上），遲則服後藥，潰後用萬靈膏徹膿，再上生肌散可愈。</p>
<p><u>十三味紫蘇流氣飲</u></p>
<p>紫蘇、川朴、甘草、香附、檳榔、木瓜、腹皮、川芎、二花、枳殼、烏藥、牛膝、骨皮。</p>
<p><u>十一味托裡流氣飲</u></p>
<p>紫蘇、枳殼、桔根、羌活、獨活、大黃、甘草、腹皮、烏藥、香附、連翹。</p>
<p>空心服。</p>
<h4>臀癰</h4>
<p>臀癰生於臀突之上，上近腰腎，下近大腿。由濕熱相侵，氣血凝滯而生，形大如盤，上腫其腰，下腫其胯，此為陰中之陽，因血結而氣不通矣。宜宣熱拔毒，大補氣血之劑，濃脾胃，滋補根本，如此則膿易作，而熱易宣。</p>
<p>宜拔毒羌活飲、宣熱連翹湯。不然經年月難愈。滋補之後，膿血既成，以長針開之，針孔內以芫花根插之，外用萬靈膏貼之，內服人參敗毒散，俟膿盡而自平矣，勿圖速效，聽信下工之言，以草藥敷之，血得寒涼凝聚不行，以致數年之苦，良可畏矣。</p>
<p><u>十九味拔毒羌活飲</u></p>
<p>羌活、獨活、連翹、白芷、桔根、紫蘇、枳殼、檳榔、大腹皮、柴胡、前胡、白芍、當歸、鬱金、乳香、沒藥、丹皮、穿甲。皂刺引。</p>
<p>空心服。</p>
<p><u>二十三味宣熱連翹湯</u></p>
<p>連翹、紫蘇、甘草、黃連、人參、黃芩、黃　、川芎、當歸、生地、梔子、柴胡、枳殼、香附、赤芍、鬱金、地骨皮、白朮、二花、牛子、茯苓、川朴、花粉。</p>
<p>水煎，空心服。</p>
<h4>指丫刺</h4>
<p>指丫刺，生於足指上，因濕熱侵指而成，其症痛癢不一，用下藥敷之。</p>
<p><u>九味敷方</u></p>
<p>金鳳草（子亦可）、膽草、蘇葉、骨皮、雄黃、乳香、沒藥、忍冬草、車前子。</p>
<p>以酒糟搗敷之。</p>
<p><u>六味敷方</u></p>
<p>龍泉粉、白芨、骨皮、石榴皮、螵蛸、丹皮。</p>
<p>共搗爛，以酒調敷。血盡再上生肌散，可愈。</p>
<h2>卷之八</h2>
<h3>面圖形十五症</h3>
<p><a href="_files/p04-a57a7.bmp">面圖形十五症</a></p>
<p><u>1．上眼丹　2．下眼丹　3．白面疔　4．須毒　5．乳癰　6．夾脅　7．心腹肚癰　8．肚便癰（在　</u></p>
<p>小腹之側）　9．手心毒　10．手腕毒　11．便毒（即魚口在馬胯眼內）　12．鯉魚便毒（在內胯之側）　13．鶴膝風　14．膝腿毒　15．腳拐毒（在踝骨之上）</p>
<p><u>　</u></p>
<h4>上、下眼丹</h4>
<p>上眼丹生於眼胞之上，下丹生於眼胞之下，赤腫而痛癢不一，若不治，恐成膿流壞眼目，乃心肝積熱，毒瓦斯上衝，血壅而成也。宜鹽炒菊花隔紙熨之，或鹽炒隔紙貼之，內服清肝流氣飲、清心黃連丸治之。</p>
<p><u>十六味清肝流氣飲</u></p>
<p>羌活、防風、茯苓、甘草、柴胡、川芎、當歸、青皮、荊芥、紫蘇、蔓荊子、赤芍、麥冬、連翹、蒙花、石膏。</p>
<p>食後服頭湯，二湯洗丹。</p>
<p><u>七味清心黃連丸</u></p>
<p>甘草、黃連、防風、連翹、羌活、細辛、菊花。</p>
<p>各等分為末，煉蜜為丸，如梧子大，每服五十粒，空心服，茶湯送下。</p>
<h4>白面疔</h4>
<p>白面疔生於兩頤之間，正面之上，由寒積久生風，風生熱，熱生氣，上衝於面，而生斯毒。先宜鐵箍散（方見前）後用追毒托裡飲或狗寶丸更妙。</p>
<p><u>十八味追毒托裡飲</u></p>
<p>紫蘇、桔梗、枳殼、甘草、防風、柴胡、川芎、羌活、白芷、白芍、連翹、當歸、犀角、乳香、沒藥、黃連、二花、雄黃。薑棗引。</p>
<p>空心服。</p>
<p><u>四味狗寶丸</u></p>
<p>蟾酥一錢，片腦一錢，狗寶二錢，乳香二錢。</p>
<p>共為末，酒糊為丸，如梧子大，每服一粒蔥三根和藥咽之，以熱送下，汗出為度。</p>
<h4>須毒</h4>
<p>須毒生於上唇有須之處，乃脾肺有熱，毒瓦斯結聚而生。初宜用鐵箍散，潰用生肌散。內服清肝流氣飲（方見眼丹）。</p>
<h4>乳癰</h4>
<p>乳癰生於正乳之上，乃厥陰陽明經之所屬也。初起必癢，用艾灸十余壯可消。若成大毒，法同乳吹。何謂乳癖，蓋硬而不痛，如頑石之類，經三、四月而成。</p>
<h4>挾脅</h4>
<p>挾脅生於兩脅之下，乃肝經積熱，氣血不行而生。初覺用一掃丹、失笑餅，若內消稍遲，則不可也，只用清肝流氣飲（方俱見前）。外用敷藥。</p>
<p><u>三味敷方</u></p>
<p>過山龍、山芋頭、山藥。</p>
<p>酒搗爛，青布包之。</p>
<h4>心腹肚癰</h4>
<p>心腹肚癰生於正肚之側，去臍一掌，乃心脾經，風熱愈甚，氣血壅聚而生，宜三香追毒飲、清心追毒湯，潰後用萬靈膏，膿盡則用生肌散。</p>
<p><u>十九味三香追毒飲</u></p>
<p>羌活、連翹、甘草、花粉、紫蘇、白芷、防風、二花、肉桂、黃　、茯苓、乳香、木香、沉香、芍藥、鬱金、生地、枳殼、前胡。</p>
<p>食後服。</p>
<p><u>十四味清心黃連湯</u></p>
<p>黃連、麥冬、肉桂、香附、白芷、桔梗、枳殼、連翹、當歸、川芎、紫蘇、羌活、黃柏、忍冬草。</p>
<p>食後服。</p>
<h4>肚便癰</h4>
<p>肚便癰生於小腹之側，乃肝腎二經之所司也。緣飲酒貪色，腎水不足，相火內動，鬱熱不伸，下流小腹，故壅結而成也。初起，用神仙失笑餅，潰後，用萬靈膏，膿盡，上生肌散，內多服清熱追毒飲，滋腎消毒湯。</p>
<p><u>十五味清熱追毒飲</u></p>
<p>羌活、干葛、黃芩、白芍、當歸、赤芍、花粉、生地、連翹、紫蘇、黃柏、知母、甘草、二花、車前草。</p>
<p>空心服。</p>
<p><u>二十味滋腎消毒飲</u></p>
<p>人參、黃　、當歸、柴胡、青皮、前胡、黃柏、知母、黃連、梔子、連翹、骨皮、腹皮、五味子、二花、干葛、生地、白芍、枳殼、陳皮。</p>
<p>空心服。</p>
<h4>手心毒</h4>
<p>手心毒生於兩手掌心，乃厥陰心經之所司也。治之不善，去死不遠，蓋由心經燥甚，血熱妄行，肝風鼓舞，毒長四肢，加以憂思，酒色過度，遂使毒流骨髓，侵入勞宮。治宜定痛消毒飲、內托流氣飲、千金追毒飲，乳香反魂湯。外敷以萬靈膏，後用生肌散收功，不然見筋骨斷而斃矣。</p>
<p><u>十三味定痛消毒飲</u></p>
<p>紫蘇、白芍藥、川芎、甘草、桔根、烏藥、白芷、防風、羌活、獨活、茯苓、連翹、桂枝。薑棗引。</p>
<p>食後服。</p>
<p><u>十八味內托流氣飲</u></p>
<p>人參、木香、當歸、川芎、黃　、芍藥、防風、甘草、厚朴、枳殼、桔根、白芨、烏藥、連翹、黃芩、檳榔、紫蘇、腹皮。薑棗引。</p>
<p>食遠服。</p>
<p><u>八味千金追毒飲</u></p>
<p>人參、黃　、桂枝、干葛、連翹、黃連、升麻、二花。每劑重二、三兩。</p>
<p>食後服。</p>
<p><u>十五味乳香返魂湯</u></p>
<p>乳香、雄黃、干葛、首烏、當歸、木通、赤芍、白芷、茴香、沒藥、甘草、枳殼、木香、黃　、二花。薑棗引。</p>
<p>食後服。</p>
<p><u>六味敷方</u></p>
<p>龍泉粉、白芷、螵蛸、石脂、熊膽、麝香。</p>
<p>用皮樹汁煎藥成膏，調勻，以油紙攤膏貼之。</p>
<h4>手腕毒</h4>
<p>手腕毒生於掌後交骨之間，蓋由心生熱，肝生風，風熱壅甚，血氣燔灼，又兼喜怒憂恐，感積於心，而生此毒。當用定痛消毒飲、內托流氣飲，若毒貫透手心、手腕者，此心毒流於骨髓，乃危症也。急以三香托裡飲救之，或乳香返魂湯（方見前）。外貼萬靈膏，後上生肌散。若痛甚，以乳香散熏之。</p>
<p><u>十八味三香托裡散</u></p>
<p>乳香、木香、大黃、人參、黃　、甘草、紫蘇、桂枝、干葛、烏藥、當歸、桔根、防風、花粉、白芍、二花、升麻、玄參。</p>
<p>食後服。</p>
<p><u>十四味乳香散</u></p>
<p>乳香、沒藥、雄黃、二花、川芎、蒲公英、草烏、木鱉、艾葉、桃葉、白芷、青蒿葉、何首烏、麝香（少許）。</p>
<p>上藥搗爛成團，用瓦器盛著燒煙熏之，或煎水洗亦可。</p>
<h4>便毒</h4>
<p>便毒即魚口，生於馬胯眼內，男婦皆有之，乃厥陰肝經之所司也。因酒色過度，或坐臥濕地，或濕熱浸透而生此毒。魚口者，開而不合也。治之不善，經年不愈，始以一掃丹、失笑餅，內服木香消毒飲，可內消而愈。如遲追以人參敗毒飲，黃解毒湯。既潰，用萬靈膏、生肌散，忌行動不易合口。此毒有公母之分：公者，小而長易治；母者，圍而大難治。公則無子，母則有三、四子，先生母毒，子別列於外，以艾灸三、四壯，其子即隱，次第服藥，除其後患矣。</p>
<p><u>二十二味木瓜消毒飲</u></p>
<p>木瓜、乳香、枳殼、紫蘇、白芷、檳榔、防風、木香、腹皮、川膝、肉桂、連翹、甘草、防己、黃　、川芎、當歸、白芍、二花、小茴、羌活、柴胡。</p>
<p>空心服。</p>
<p><u>二十味人參敗毒散</u></p>
<p>人參、甘草、川芎、茯苓、枳殼、前胡、羌活、獨活、柴胡、木瓜、干葛、防己、牛膝、檳榔、腹皮、黃連、黃柏、豬苓、麥冬、梔子。</p>
<p>空心服。</p>
<h4>鯉魚便毒</h4>
<p>鯉魚便毒即魚口也，生於兩胯之側。陰頭盡處，乃腎與膀胱之所司也，蓋由濕熱透於膀胱，酒色過度，傷於脾腎，治如便毒。初起用黃柏二兩，蒼朮一兩，此二味以豬膽汁搗敷之。</p>
<h4>鶴膝風</h4>
<p>鶴膝風生於膝頭之上，由腎肝積熱傷筋，或坐臥濕地，或熱足過水，或為風熱所傷而生。初起如拳，久如盤樣，治之若緩，遂成漏膝。初起以艾灸之，或著敷藥，內服木瓜消毒飲，紫蘇流氣飲，外貼萬靈膏可愈。不然，恐成跛足矣。</p>
<p><u>二十二味木瓜消毒酒</u></p>
<p>木瓜、檳榔、牛膝、防風、川烏、甘草、烏藥、肉桂、蒼朮、黃柏、羌活、赤芍、木香、當歸、川芎、紫蘇、二花、白芷、連翹、骨皮、加皮、腹皮。</p>
<p>以絹袋盛之，懸酒壇煮三、四日之後，一七之內，如常飲之，以肉食壓之，忌鵝羊雞魚鮮物。</p>
<p><u>十七味紫蘇流氣飲</u></p>
<p>紫蘇、川朴、甘草、烏藥、檳榔、枳殼、川烏、防風、白芍、牛膝、腹皮、木瓜、黃柏、木香、蒼朮、草烏、二花。薑引。</p>
<p>水煎，空心服。</p>
<p><u>十六味敷方</u></p>
<p>牛膝、車前、二花、益母、大腹皮、龍膽草、燈心草、地骨皮、五加皮、牡丹皮、生薑皮、南星、當歸頭、香附、川烏、通草。</p>
<p>諸藥先搗爛，用好酒做成餅，濃鋪紙上貼之。</p>
<h4>膝腿毒</h4>
<p>膝腿毒生於下側去膝不遠，亦由濕熱所傷，血聚成毒，治同鶴膝風。若緩，則成漏膝矣。</p>
<h4>腳拐毒</h4>
<p>腳拐毒生於腳筋骨之上，因濕侵骨，風傷皮，或因刑挾棒所傷，或因物傷，經久不愈，亦成此毒。宜貼萬靈膏，徹盡膿血，再以椒茶鹽湯洗可愈。</p>
<h2>卷之九</h2>
<h3>瘤症總論（瘤症圖形十一症）</h3>
<p><a href="_files/p04-a57a8.bmp">瘤症圖形十一症</a></p>
<p><u>1．粉瘤（可治）　2．中粉瘤（不可治）　3．筋瘤（不可治）　4．肩瘤（不可治）　5．肘瘤（可治）　</u></p>
<p><u>6．脅瘤（不可治）　7．乳瘤（可治）　8．發瘤（可治）　9．腰瘤（可治）　10．腿瘤（可治）　11．拐瘤</u></p>
<p><u>（可治）</u></p>
<h4>瘤症總論</h4>
<p>或問曰，子云：外症分門類治，其立意勤矣，用心仁矣。古之外症，又有所謂瘤者，不知從何而起，從何而成，未嘗有痛癢苦楚，無寒熱膿血之災，突然而生，如有物伏於其中，大便於人者，是何而然也？答曰：瘤者，流而積，積而聚，聚而成也。乃人身之滯氣，濁血結聚而成也。如李如桃，而形狀不同，如瓜如瓠，而名色不一。</p>
<p>古稱有六：曰骨瘤，曰脂瘤，曰膿瘤，曰血瘤，曰筋瘤，曰石瘤，以其瘤之中有此物，故指其實而名之也。今原圖形一十三症，證其所生之處而言之也，其瘤中所伏之物，亦不過六者之聚而已。或又曰：子云，是矣，治之亦有方乎？答曰：百病皆自內發於外，古人治病用膏藥以攻內，針灸以攻外，皆祛也。今瘤之所生，由滯氣濁血所成，豈無藥以祛之？內服湯藥，外貼膏藥，內外交攻，表裡並治，瘤可愈矣。切不可妄用針刀勾割，恐膿血崩潰，多致夭亡。慎之！慎之！</p>
<p><u>十七味大流氣飲</u></p>
<p>治諸般瘤症，無論頭面胸背手足，通用皆效。</p>
<p>人參、黃　、當歸、川芎、肉桂、厚朴、白芷、甘草、桔梗、防風、烏藥、檳榔、白芍、枳殼、木香、紫蘇、青皮。薑棗引。</p>
<p>瘤在上食後服，在下食前服。</p>
<p><u>七味昆布散</u></p>
<p>海藻、昆布（俱用酒）、海石（飛過）、海粉、白芷、青黛、浮麥，加海馬。</p>
<p>共為末，掌上咽之，或蜜丸如杏核大，食後以酒咽一丸。</p>
<p><u>二味白芷膏</u></p>
<p>鍛石（如銅錢大）一塊，糯米十四粒。</p>
<p>二味俱用鹽水化開，入辰砂末，澄片時用此點之。</p>
<p><u>四味梅花片散</u></p>
<p>片腦、血蠍、黃丹、寒水石。</p>
<p>共為末，搽於瘤上。</p>
<p><u>十二味龍珠膏</u></p>
<p>此膏治諸瘤頗效，宜量勢而用，若眼上、喉下、乳下，宜斟酌之。</p>
<p>龍芽草三兩，棘棗根五錢，海藻五錢，蘇木五錢。共為末，水二十碗，煎至十碗，去渣。又用桑柴灰二碗，面灰一碗，蒼耳子草灰二碗，用草紙放羅底上，用前藥水煎熱，淋取灰汁十碗，澄清入鍋內，微火熬成膏，用巴豆霜、白丁香、寸香、輕粉攪勻，瓷器收貯，每取敷瘤，去舊藥敷新藥，如此敷數次，其瘤自潰，用萬靈膏徹盡膿水，上生肌散而愈。</p>
<p><u>治癭瘤方</u></p>
<p>即氣頸也。</p>
<p>昆布、海藻、海帶、海馬（米泔水浸漲）各二兩，穿甲（土炒）、石燕（醋煮七次）、黃藥（燒淨土焙乾）</p>
<p>各二錢。</p>
<p>共為末，蜜（少加面）為丸，如黃豆大，每服五至十丸，以木香磨水吞之。</p>
<p><u>又方</u></p>
<p>螵蛸、昆布、海金砂、冬花、木香、水晶石、海帶、夏枯草各五錢，海馬一個，石燕一兩。</p>
<p>共為末，再用黃藥引，酒送下。</p>
<p><u>又方</u></p>
<p>海藻一兩，昆布一兩，海馬三個，石膏三錢，螵蛸一錢八分，木香三錢，陳皮三錢，黃藥子二兩。</p>
<p>共研末，黃藥湯送下，忌生冷鹽。</p>
<p><u>又方</u></p>
<p>昆布、螵蛸、海帶各四兩，黃藥二兩，小茴五錢，小草五錢，木香三錢。</p>
<p>共為末，飯後連送下三茶匙。</p>
<p><u>又方</u></p>
<p>昆布半斤，用米泔水洗海藻一斤，醋製海馬一對，醋　石燕一對，火燒向醋中　之，自然榨細，海螵蛸三錢，夏枯草子一兩（即紫背天衢子是也）醋炒，一人只用五錢。研末，酒送下。</p>
<h2>卷之十</h2>
<h3>小兒圖形九症</h3>
<p><a href="_files/p04-a57a9.bmp">小兒圖形九症</a></p>
<p><u>1．肥瘡　2．軟癤　3．癩頭瘡　4．月蝕　5．牙（核）疳　6．夾腮　7．耳疳　8．赤游風　9．白游風　</u></p>
<h4>肥瘡</h4>
<p>肥瘡多生於小兒頭上，用糯米、蒼朮等分炒成炭，研末油調搽。</p>
<p>肥瘡最是小兒生，糯米蒼朮各等分。</p>
<p>共炒成炭來研末，油調敷上最安寧。</p>
<h4>軟癤</h4>
<p>軟癤生於小兒頭上，用茶湯洗淨膿血，以酒曲研調雞子清搽。</p>
<p>小兒軟癤甚堪憐，酒曲研調雞蛋清。</p>
<p>茶湯洗盡來敷上，不消三次自然寧。</p>
<h4>癩頭瘡</h4>
<p>癩頭瘡，用羊屎燒灰，天雁油敷，先以竹潦水洗之，展干。</p>
<p>小兒癩頭莫胡求，羊屎燒灰天雁油。</p>
<p>竹潦水中去洗淨，展干發上敷先瘳。</p>
<h4>月蝕瘡</h4>
<p>月蝕瘡即走馬牙疳也，內用涼膈散，外用搽藥。</p>
<p><u>涼膈散</u></p>
<p>黃連、黃芩、梔子、連翹、甘草、桔根、薄荷。若火甚，加大黃、芒硝，竹葉。燈心引。</p>
<p>水煎，食後服。</p>
<p><u>搽藥方</u></p>
<p>乳香二錢，沒藥二錢，兒茶、血蠍、螵蛸各一錢，枯礬五分，石脂七分，蚊蛤三分，地虱婆五分，麝香五厘，紅鶴片不拘多少，羊馬棒（即刺公頭開紅花是也）、人中白不拘多少，上片五厘，百草霜五分。</p>
<p>共研細末，搽之。</p>
<p><u>外方</u></p>
<p>地骨皮（去皮）、枯礬（焙乾）。</p>
<p>為末，搽之。</p>
<h4>牙（核）疳</h4>
<p>牙疳生於牙根上，涎流疼痛，用陳便桶木，枯礬（研爛）、核灰、雄黃調搽，即時消。</p>
<h4>夾腮</h4>
<p>夾腮生於耳根，用雄黃、生蒜、黃泥，捶成餅敷毒上。</p>
<p>夾腮生於耳根起，雄黃生蒜及黃泥。</p>
<p>捶來成餅敷毒上，三朝之後痛全移。</p>
<h4>核疳</h4>
<p>核疳流水地角潰爛，用雄黃、枯礬、明粉、螵蛸、乳香、蛤粉、青魚膽敷之。</p>
<p>核疳流水地角爛，雄黃枯礬並螵蛸。</p>
<p>乳香蛤粉青魚膽，叫君閑散兩頭歡。</p>
<h4>赤游風</h4>
<p>赤游風手上生黑點，極痛極癢，用生薑、陳艾、槐葉煎湯洗之。</p>
<p>赤游手上生黑點，痛癢時時口叫難。</p>
<p>生薑槐葉煎湯洗，又加陳艾病即痊。</p>
<h2>卷之十一</h2>
<h3>面圖形六症</h3>
<p><a href="_files/p04-a57a10.bmp">面圖形六症</a></p>
<p><u>1．上疳瘡　2．重舌　3．纏喉風　4．泥鰍毒　5．臍上瘡　6．下疳瘡</u></p>
<h4>上疳瘡</h4>
<p>上疳生於口內牙根之上，內爛涎水長流，此是心脾積熱，治用黃連（切片研）、白礬（飛過）、人言（棗子包燒煙盡）。共為末，搽之最妙。</p>
<p>牙疳生於口內，牙根肉爛如螬，流涎水滴苦難熬，此是心脾熱勞。黃連切片重研，白礬飛過輕敲，棗子包信火中燒，共末搽之最妙。</p>
<h4>重舌</h4>
<p>重舌是舌下生舌，由心中積熱。治用防風、荊芥、黃連、玄參、麻黃、升麻（細研）、白芷、羌活、僵蠶、鬱金各等分，和合水同煎。</p>
<p>食後常將吞咽。</p>
<p>重舌心中積熱，舌下生舌難言，防風荊芥及黃連，玄參升麻細研，白芷羌活同伴，僵蠶鬱金相摻，等分和合水同煎，食後常將吞咽。</p>
<p>重舌重起病如何，膽礬兒茶合約科。</p>
<p>雄黃熊膽青魚膽，針完吹上笑呵呵。</p>
<p>一共用多立綱紀，油塵一吐是奇方。</p>
<p>不然毒入心宮裡，須防頃刻命消亡。</p>
<h4>纏喉風</h4>
<p>纏喉風生於喉蛾之下，或左而纏右，或右而纏左，此心肺熱毒上攻，其毒最酷，醫非神手，十不救一也。凡看此症，纏不過結喉者，十可治五、六；若纏過喉者，十可治一、二，亦是醫之妙手，方能如此也。凡始覺以艾灸兩肩井、兩曲池、兩三裡穴，可使上下分其毒，又以三棱針刺兩少商穴，血出亦泄其毒，切不可頭上用火灸。若錯行火攻，十不救一，此症號死裡逃生，再脫一骨胎也。宜服拔毒羌活飲、解毒升麻湯，外少用敷藥，使內外兩拔其毒，可內消而愈矣。如若外潰，亦有可生之路，潰後用萬靈膏長肉生肌，如毒頭在口內，亦無妨也，常以椒鹽茴香湯漱口，以解穢氣，膿盡始安。</p>
<p><u>十四味托毒羌活飲</u></p>
<p>羌活、獨活、升麻、干葛、連翹、桔根、荊芥、玄參、黃　、黃連、白芍、當歸、紫蘇、白芷。薑棗引。</p>
<p>食後服。</p>
<p><u>二十二味解毒升麻湯</u></p>
<p>升麻、人參、川芎、前胡、枳殼、羌活、白芷、二花、連翹、防風、桂枝、干葛、白芍、甘草、黃　、紫蘇、蔓荊、桔根、玄參、當歸、荊芥、黃連。薑棗引。</p>
<p>食後服。</p>
<p><u>十四味敷方</u></p>
<p>白芷、白芨、生地、骨皮、丹皮、加皮、腹皮、忍冬、車前、益母、牛膝、公英、牙皂、青木香。</p>
<p>以上俱用酒洗，用酒搗敷。</p>
<p><u>九味吹喉散</u></p>
<p>熊膽、雄黃、乳香、木香、麝香、朱砂、兒茶、螵蛸、青魚膽。</p>
<p>以上共為末吹之，勿睡，輕輕咽之。</p>
<h4>泥鰍毒</h4>
<p>泥鰍毒，生於指中，初起宜用艾灸，將豬油調雄黃搽之。</p>
<h4>臍上瘡</h4>
<p>臍上生瘡常出水，螵蛸礬末及雄黃。</p>
<p>蛤粉和合赤石脂，干搽三日是神方。</p>
<h4>下疳瘡</h4>
<p>下疳瘡生於陰頭之上，乃濕熱相侵而然也。有貪色而生，有淫婦占精而生，與穢婦行房而生。初若無事，既潰，痛不可忍，用花椒、陳茶、艾葉、桃、柳、槐葉，共煎水洗之，外用兒茶、黃柏、雄黃、螵蛸、輕粉、蛤粉、枯礬，共為末搽之。</p>
<p><u>又十三味方</u></p>
<p>黃連、木通、豬苓、赤芍、檳榔、白朮、車前、甘草、忍冬、川芎、紫蘇、厚朴、連翹。</p>
<p>空心服。忌房事一月。</p>
<h2>卷之十二</h2>
<h3>婦人四症</h3>
<p><a href="_files/p04-a57a11.bmp">婦人四症</a></p>
<p><u>1．血風瘡　2．陰蝕　3．乳發　4．頭風</u></p>
<h4>頭風症</h4>
<p>頭風症惟婦人最多，蓋由產後敗血過甚而傷風受冷，或月水來多而受濕感寒，血氣虛弱，風寒來頂，致頭松弛而畏冷怕風，腦如空筒而髓枯血干，炎天裹包怕寒目如瞑，脹酸痛不止。宜人參四物湯、黃　補虛湯、防風勝濕湯，更灸風池穴、巔頂穴可愈。</p>
<p><u>十一味人參四物湯</u></p>
<p>人參、當歸、熟地、白朮、川芎、甘草、細辛、升麻、白芷、紅花、白芍。薑棗引。</p>
<p>食後服。</p>
<p><u>十七味黃　補虛湯</u></p>
<p>黃　、白朮、人參、甘草、茯苓、羌活、熟地、蒼朮、黃芩、紅花、　本、川芎、白芷、桔根、荊芥、菊花、防風。薑棗引。</p>
<p>食後服。</p>
<p><u>十九味防風勝濕湯</u></p>
<p>防風、紅花、當歸、黃柏、蒼朮、肉桂、干葛、升麻、羌活、細辛、白芷、黃　、甘草、白朮、熟地、白芍、川芎、石膏、人參。薑棗引。為丸亦可。</p>
<p>食後服。</p>
<p><u>婦人頭疼方</u></p>
<p>婦人頭疼，心中潮熱，飲食減少，服此方神效。</p>
<p>川芎一錢，當歸（酒洗）一錢、白芍八分，生地一錢，熟地二錢，丹皮三錢，陳皮二錢，雲苓一錢，寸冬（去心）一錢，香附（炒）一錢，元胡一錢，甘草六分，伏毛（鹽水炒）一錢，川膝二錢，骨皮一錢。</p>
<h4>血風瘡</h4>
<p>血風瘡生於兩頤後之間，痛癢不一，膿水常流，蓋由產後受風而然也。內宜防風勝濕湯（方見上），外用螵硝散可愈，萬靈膏亦可。</p>
<p><u>五味螵蛸散（敷方）</u></p>
<p>石脂、兒茶、血竭、枯礬、螵蛸。</p>
<p>共研末，敷毒上。</p>
<p><u>隔紙膏</u></p>
<p>黃丹、黃蠟五錢，白蠟、陀參、水粉各五錢，以桐油一鐘，清油一鐘，將前藥加頭發入油內熬成膏，用傘紙刺眼先貼皮肉上，又將藥膏貼之，甚效。</p>
<h4>陰蝕</h4>
<p>陰蝕生於陰戶之內，人門之中，一癢則酸麻徹骨，一痛則痛苦酸心，皆由產後保護不慎，以致風寒內逼，或月經調治失宜，遂延濕熱中生，或產日未滿而交合，或月經未住而行房，或惹男子疳毒，內生熱症，種種不一。</p>
<p>宜清熱流氣飲、川楝祛毒湯服之，雞肝散插之，草麻湯洗之，艾煙熏之，外此而不知求醫，則子宮散而陰戶亦脫，逐致不起者多矣。</p>
<p><u>十八味清熱流氣飲</u></p>
<p>紫蘇、牛膝、木通、豬苓、黃柏、知母、車前子、二花、牛子、連翹、赤芍、羌活、蛇床子、甘草、當歸、木鱉、紅花、生地。燈草引。</p>
<p>空心服。</p>
<p><u>十七味川楝祛毒湯</u></p>
<p>川楝子、車前子、蛇床子、栝蔞子、白芷、木通、大腹皮、地骨皮、五加皮、紫蘇、黃柏、當歸、羌活、連翹、麥冬、紅花、葵花。</p>
<p>空心服。</p>
<p><u>九味雞肝散</u></p>
<p>臭蕪荑、蛇床子、硫黃、朝腦、花椒、枯礬、雄黃、螵蛸、黃連。</p>
<p>共為末，取新雞肝搽上藥末，乘癢時插入陰戶之中，亦可愈。</p>
<p><u>十味草麻湯</u></p>
<p>蓖麻子、柏葉、槐葉、柳葉、桃葉、白芨、白芷、升麻、防風、麝香。</p>
<p>煎水入盆中熏洗，不然晒乾為末，燃著入穢桶內，令坐其上，勿通氣燃熏，一、七個時辰方住。</p>
<h4>乳發</h4>
<p>乳發之毒丹，乳發未潰不能穿頭，疼痛難忍。將新鮮天南星一個，只用一半，以酒糟和搗敷一晝夜，去其腐肉，然後用肥肉煮熱切片，貼之生肌，甚效。</p>
<p><u>乳發消毒飲方</u></p>
<p>麥冬二錢，茅根三錢，齊頭蒿一把。</p>
<p>水煎服。</p>
<h4>附雜症便方</h4>
<p><u>風火雜眼神方</u></p>
<p>蘇木、歸尾、羌活各五錢，黃連、朱砂、銅綠、膽礬、玄明粉各三錢。</p>
<p>此八味不可加減，共為細末，以細青布包裹幾重，入碗內，放在微火之中，將水浸出汁來，連洗三次，神效。</p>
<p><u>治腳汗方</u></p>
<p>白附子煮爛，加皮硝再煎滾，溢洗二、三次，神效。</p>
<p><u>治大麻風方</u></p>
<p>初起時用桐子白，火上燒存性，放鋤頭板上熬成膏，以紙攤膏貼患處。</p>
<p><u>又方</u></p>
<p>通天丹內加蘄蛇在內，名通天散，用苦參十余斤，不沾鐵銅器，挖時仔細，如恐沾鋤頭處用檀木捶，向石楞上除去黏鐵苦參，用蕨碓舂細，糯米泔水浸七日，一日一換，用柳木甑蒸過晒乾，缸片焙焦磨粉用之，每一料用苦參粉一斤，加枳殼三錢，天仙子三錢（炒時有香為度），煉密用熟蕎麥粉入內糊丸，白水下，再用烏梢蛇去頭尾皮刺，以　豬肉伴和為丸服之。</p>
<p><u>又方</u></p>
<p>用賴蝦蟆一個，入鴨肉煮熟去蟆食肉，汁洗遍身，吃後用青布衫穿著，蟲盡沾於布衫上效。</p>
<p><u>又方</u></p>
<p>生薑、蔥各四兩，陳屋瓦草一斤，黑羊屎三斗，煎水洗取汗禁風。</p>
<p><u>哽疾方</u></p>
<p>用活壁虎一只，放在碗內，用鐘子蓋定，將好燒酒燒熱沖入碗內，壁虎不用，服酒出汗效。</p>
<p><u>蛾子方</u></p>
<p>用喜蛛子窠，將瓦焙乾為末，吹效。</p>
<p><u>軟癤方</u></p>
<p>小兒軟癤甚堪憐，將針挑破用燒鹽。</p>
<p>打細塊如綠豆大，入在癤內自愈全。</p>
<p><u>貼腫毒方</u></p>
<p>用梧桐葉，將白水煮三炷香火，俟葉冷貼患處，甚效。</p>
<p><u>紅汗並及蛾子方</u></p>
<p>用杖藜磨水吞之，效。</p>
<p><u>鵝掌風方</u></p>
<p>鵝掌風由於陽明經火熱血燥，初起紫斑白點，久則皮膚枯濃破裂不已，二礬湯熏洗即效。此方輕則不宜越重起效，白礬加皂礬四兩，兒茶五錢，側柏葉半斤，用水十碗，煎數沸候用，先以桐油調搽患處，將油紙點著，以煙焰向患處熏之。片時方將前藥湯乘滾貯桶內，手架上以布蓋手於湯氣上熏之，勿令泄氣，待微溫傾入盆內洗之良久，一次可愈。七日忌下湯水，永不再發。</p>
<p><u>又方</u></p>
<p>川烏、草烏、何首烏、天花粉、赤芍、防風、荊芥、蒼朮、地丁各一錢，艾葉四兩，銼碎水煎熏，熏後洗，立效。</p>
<p><u>又方</u></p>
<p>核桃殼鮮者更佳，鵓鴿屎等分煎水，頻洗立效。</p>
<p><u>又方</u></p>
<p>白豌豆一升，入練子同煎水，早午晚洗，每日七次痊愈。</p>
<p><u>又方</u></p>
<p>用黑鉛不拘多少，打成片，熬一柱香時，入綠豆一碗，再煮爛去渣，以水乘熱洗數次，立效，或搽亦可。</p>
<p><u>乳島（蛾）方</u></p>
<p>用巴豆一粒，研爛，用竹紙為捻，又以香油潤透燃灼吹滅，噙於口內，煙往喉即愈矣。</p>
<p><u>又方</u></p>
<p>用白鮮皮入口內嚼爛，手搓之，立效。</p>
<p><u>心氣痛方</u></p>
<p>豬牙皂（飛過火　存性）、甘松五錢，北細辛五分。俱為末，加真元寸三分，研細入瓷缸內收貯。凡男婦氣痛，每用三分。如寒氣痛，以火酒調服。如陽性氣痛，以熱水調服。水泄之人勿用。</p>
<p><u>胃氣痛方</u></p>
<p>用栝蔞子一個內的仁，炒熟，以仁煎酒，連服六、七日，神效。</p>
<p><u>又胃氣痛重者方</u></p>
<p>砂仁、木香、五靈脂各一兩，廣皮九分，丁香一錢。俱不見火為末，每服三分半，滾酒水下，不可多服。</p>
<p><u>湯泡火燒方</u></p>
<p>雞蛋七個，煮熟留黃，其白與患者吃，用麻油煎黃為膏，黃似果炭，去黃不用，其油搽上愈。</p>
<p><u>又方</u></p>
<p>用大黃為末，以雞蛋清調搽，神效。</p>
<p><u>裙褊瘡方</u></p>
<p>鳳凰衣二錢，黃柏二錢，亂髮二錢，人乳一鐘，麻油一碗熬，隔紙膏貼之。</p>
<p><u>又方</u></p>
<p>陀參五錢，黃柏五錢，青礬二錢五分。共為末，麻油調敷效。</p>
<p><u>又方</u></p>
<p>團魚殼（　存性）五錢，入冰片二分，麻油調搽，如濕干敷效。</p>
<p><u>又方</u></p>
<p>白松香一兩，灌紅一兩，生熟石膏各五錢，枯礬一錢，共研細末，桐油調，青布攤膏貼之。先用松枝、蔥根、花椒煎水洗淨，後貼此藥。</p>
<p><u>又方</u></p>
<p>川松香末一兩，苦參末調搽之，效。</p>
<p><u>血風瘡癬方</u></p>
<p>百合、百草霜，捶膏貼之。</p>
<p><u>木香檳榔保和丸</u></p>
<p>最能和脾胃，除飽脹，避穢氣，可常用，妙。大小男婦宜服之。在廣東、廣西者必當吃之。</p>
<p>公檳榔、木香、半夏、杏仁、郁李仁（去殼）、陳皮（去白）、連翹各二兩，神麯四兩，大腹皮（酒洗）四兩。</p>
<p>俱為細末，煎水攪米糊為丸，如梧子大，每用二錢，滾水下。</p>
<p><u>牙痛方</u></p>
<p>蔥五根，黑黃豆一撮，艾焙熟三錢，煎水噙愈。</p>
<p><u>下疳楊梅瘡一慨具效方</u></p>
<p>防風、荊芥、梔子、連翹、桔根、生地、歸尾、蟬蛻（七個）、黃芩、土茯苓（五錢）、天花粉、槐花各五錢，川連五分，大黃三錢。薑引。</p>
<p>水二碗，煎至一碗。</p>
<p>食飽服，忌生冷發物。</p>
<p><u>腫毒托裡方</u></p>
<p>歸尾、梔子、連翹、川柏各二錢，二花三錢，桔根一錢，皂刺二錢，乳香五錢，甘草三錢，黃　、赤芍、牡蠣各二錢。</p>
<p>水煎服。</p>
<p>按上下分飲，或食前後服。</p>
<p><u>再托裡方</u></p>
<p>羌活連翹枳殼，烏藥甘草麻黃，茯苓地丁最高強，漏蘆當歸為上。</p>
<p>哪管發背癰疽，不論惡毒疔瘡，一貼汗透便安康，勝似黃金萬兩。</p>
<p><u>接骨方</u></p>
<p>楊樹根四兩，包術根四兩，花椒樹根四兩，地骨皮四兩，望腫消根四兩。</p>
<p>上藥共搗爛為餅，餅上量加糯米飯一碗，飯上又加酒酹一丸。碎糝飯上酒酹上，又用地虱婆七個，捶碎放酒酹上，然後將酹這一面貼在患處，外用布緊緊卷好，俟至將一對晝時，便須作急解去，恐久則皮上起泡也，此後便愈。</p>
<p><u>腫毒並流痰方（此方作末藥先服）</u></p>
<p>沉香一錢五分，木香五分，檳榔五分，沒藥七分五厘，乳香六分五厘，大黃二錢五分，穿甲一個半，二花五分，皂刺一個半。</p>
<p>（如瘡未潰頭，用此藥則去其尖）。共為細末，生酒化服。</p>
<p><u>次服藥方</u></p>
<p>厚朴、歸尾、荊芥、羌活、防風、青藤、赤芍、草烏、前胡、柴胡、陳皮、白芷、蒺藜、麻黃、甘草。</p>
<p>以上俱要三七錢，惟麝香只用三、二分。用黑豆一歲一粒為引；病在頭加茯苓引；病在右加柴胡引；病在左加前胡引；病在足加牛膝、麝香引；在腰加杜仲引。要用生酒煎服出汗。</p>
<p><u>治漏管方</u></p>
<p>用九齒鱉甲一個燒灰，以玉簪花根末調點上。又用藥線取管，白砒二錢，薄荷三錢，入瓦罐內炭火燒紅，候煙盡加明礬末六錢（　枯），上加乳香、沒藥各一錢，亦候煙盡，共取起打碎，如綠豆大。復用川烏、草烏、何首烏、南星、半夏、防風各三錢，煎汁煮前所　之藥，候汁乾取起，加雄黃一錢，冰片、麝香各二分，共為末，面糊，藥線入漏孔內，每日三換，上七次其管自出。</p>
<p><u>治小兒脫肛方</u></p>
<p>黃連、生地各二分，木通、連翹、梔子、薄荷各三分，甘草一分，石膏一兩，防風五分。燈心引。</p>
<p><u>治半身不遂方</u></p>
<p>地骨皮、五加皮、羌活、故紙、黃芩、防風、牛膝、枸杞、杜仲、川芎、青皮。</p>
<p>以上各味，各二錢五分。南星、靈仙、木瓜、蒼朮、歸尾、　本、細辛、花粉、苡仁各一錢五分，穿甲（炮灸）一錢七分，甘草節一錢五分，白朮二錢，茯苓一錢，川芎一錢，乳香五錢，沒藥五錢。上藥用生酒一斗，煮三炷香，隨量飲，發汗一次。發汗平地量病患長短，將桑柴燒地，上又用干草鋪好，上施褥子，病患先盡量飲藥酒，後以棉被蒙頭睡於其上發汗，俟汗發後不放露頭，俟汗干後，方可起來。發汗只用一次，如二次飲酒，則不可發汗矣。</p>
