<header><h1>廣溫疫論</h1></header>
<dl class="元資料" data-type="book">
<div><dt>作者</dt><dd>戴天章</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
</dl>
<h2>廣瘟疫論卷之一</h2>
<h3>一辨氣</h3>
<p>風寒，氣從外收斂入內，病無臭氣觸人，間有作臭氣者，必待數日轉陽明府症之時，
亦只作腐氣，不作屍氣，瘟疫，氣從中蒸達於外，病即有臭氣觸人，輕則盈於床帳，
重則蒸然一室，且專作屍氣，不作腐氣，以人身藏府氣血津液，得生氣則香，
得敗氣則臭，瘟疫，敗氣也，人受之，自藏府蒸出於肌表，氣血津液，逢蒸而敗，
因敗而溢，溢出有盛衰，充塞有遠近也，五行原各有臭氣，木臊，金腥，心焦，脾香，
腎腐，以臭得其正，皆可指而名之，若瘟疫，乃天地之雜氣，非臊，非腥，非焦，
非腐，其觸人不可名狀，非鼻觀精者，不能辨之，試察廁間糞氣，與凶地屍氣，
自判然矣，辨之既明，治之毋惑，知為瘟疫而非傷寒，則凡於頭痛發熱諸表症，
不得誤用辛溫發散，於諸裏症，當清，當下者，亦不得遲回瞻顧矣。</p>
<h3>二辨色</h3>
<p>風寒，主收斂，斂則急，面色多繃急而光潔，瘟疫，主蒸散，散則緩，
面色多鬆緩而垢晦，人受蒸氣，則津液於面，頭目之間多垢滯，或如油膩，或如煙熏，
望之可憎者，皆瘟疫之色也，一見此色，雖頭痛發熱，不宜輕用辛熱發散，一見舌黃，
煩渴諸裏症，即宜攻下，不可拘於下不厭遲之說。</p>
<h3>三辨舌</h3>
<p>風寒在表，舌多無胎，即有白胎，亦薄而滑，漸傳入裏，方由白而黃，
由黃而燥，由燥而黑，瘟疫一見頭痛發熱，舌上即有白胎，且厚而不滑，或色兼淡黃，
或粗如積粉，若傳經入胃，則兼二三色，又有白胎即燥，與至黑不燥者，
大抵疫邪入胃，舌胎頗類風寒，以兼濕之故而不作燥耳，惟在表時舌胎白厚，異於傷寒，
能辨於在表時，不用辛溫發散，入裏時而用清涼攻下，斯得矣。</p>
<h3>四辨神</h3>
<p>風寒之邪傷人，令人心知所苦而神自清，如頭痛作寒熱之類，皆自知之，至傳裏入胃，
始神昏讝語，緣風寒為天地正氣，人氣與之乖忤而後成邪，故其氣不昏人神情也，
瘟疫初起，令人神情異常而不知所苦，大概煩躁者居多，或如癡如醉，擾亂驚悸，
及問其何所苦，則不自知，即間有神清而能自主者，亦多夢寐不安，閉目即有所見，
有所見即讝妄之根，緣瘟疫為天地邪氣，中人人病，中物物傷，故其氣專昏人神情也。</p>
<h3>五辨脈</h3>
<p>瘟疫之脈，傳變後與風寒頗同，初起時與風寒迥別，風寒從友毛而入，一二日脈多浮，
或兼緊，兼緩，兼洪而皆浮，迨傳入裏，始不見浮脈，其至數亦清楚而不模糊，
瘟疫從中道而變，自裏出表，一二日脈多沉，迨自裏出表，脈始不沉，
乃不浮不沉而數，或兼弦，兼大而皆不浮，其至數則模糊而不清楚，其初起脈沉遲，
勿作陰寒斷，沉者，邪在裏也，遲者，邪在陰分也，脈象同於陰寒，而氣色，舌胎，
神情，依前諸法辨之，自不同於陰寒，或數而無力，亦勿作虛視，緣熱蒸氣散，
脈不能鼓指，但當解熱，不宜補氣，受病之因有不同，故同脈而異斷也。</p>
<h3>辨時行疫癘與風寒異氣</h3>
<p>風主疏泄，寒主凝泣，二氣雖有不同，然皆冷而不熱，其中人也鬱而不宣，
方其初受在表，均宜溫散，麻黃湯，桂枝湯，芎蘇，十神，神朮等方，皆散寒之劑，
非解熱之劑，時行之氣，屬濕溫二氣合成，熱而不冷，其中人也，立蒸而腐敗，
方其初傳在表，即宜涼解，大青龍湯，六神通解散，九味羌活湯，葳蕤湯，大羌活湯，
人參敗毒散，皆解熱之劑，非散寒之劑也，以解熱之劑治風寒，輕則寒中嘔利，
重則厥逆亡陽，以散寒之劑治瘟疫，輕則衄渴讝妄，重則枯竭亡陰，
此氣之不可不辨也。</p>
<h3>辨時行疫癘與風寒異受</h3>
<p>風寒從表入裏，自皮毛而肌肉，而筋脈，而胸膈，而腸胃，一層漸深一層，
不能越此而入彼，故汗不厭早，下不厭遲為和，為解，淺深毫不可紊，以其氣皆屬冷，
一層收斂入一層，必待寒化為熱，邪斂入內，方可攻下涼解，否則邪未入裏，
預用攻利涼解，虛其裏氣，反引表邪內陷，而成結胸痞利諸險證也，時症從口鼻而入，
先中中焦，後變九傳，其傳自裏出表，雖出表，而裏未必全無邪留，經過之半表，
未必全無邪干，故下不厭早，汗不厭遲，為和，為解，淺深必不可拘，
以其氣皆屬熱，熱能作蒸，不必鬱變，而此蒸即帶彼熱，當其未出表時，強欲溫表，
在始則引毒熱成燎原之勢，為斑衄狂喘諸凶，在末則傷真陰，為枯槁沉昏厥逆諸危也。</p>
<h3>辨傳經</h3>
<p>溫疫傳經，與風寒不同，風寒從表入裏，故必從太陽而陽明，而少陽，而入胃，
若溫疫則邪從中道而出表入裏，惟視人何經本氣之強弱為傳變，故吳又可曰，
疫邪有先表後裏者，有先裏後表者，有但表不裏者，有但裏不表者，有表勝於裏者，
有裏勝於表者，〔二句，吳又可本，作有表裏偏勝者一句〕，有表而再表者，
有裏而再裏者，有表裏分傳者，此為九傳，愚按所謂表者，發熱，惡寒，頭痛，頭弦，
項強，背痛，腰疼，腿膝足脛酸痛，自汗，無汗，及頭腫，面腫，耳目赤腫，項腫，
發斑，發疹皆是，所謂裏者，渴，嘔，胸滿，腹痛，腹痛，脅滿，脅痛，
大便不通，大便泄瀉，小便黃赤濇痛，及煩躁，讝妄，沉昏，舌燥，舌卷，舌強，
口咽赤爛皆是，在風寒從表入裏，裏症必待漸次閉鬱而成，故見表症，不必兼見裏症，
且入裏之後，表多自解，故見裏證之後，不必復見表證，若溫疫本從中道而出表，
故見表症時，未有不兼一二裏症者，且未有不兼見一二半表裏之少陽證者，
仲景所云，陽明少陽合病，必自下利，三陽合病，脈浮大，上關上，但欲眠睡，
目合則汗，三陽合病，腹滿身重，難以轉側，口不仁而面垢，讝語遺尿，皆指瘟疫言，
非指風寒言也，且瘟疫屬蒸氣，出表入裏，原自不常，有入裏下之，
而餘邪不盡仍可出表者，嘗見讝妄沉昏之後，病愈數日，復見頭疼發熱，復從汗解者，
此所謂表而再表，風寒必無是也，更有下證全具，用承氣湯後，裏氣通而表亦達，
頭痛發熱得汗而解，移時復見舌黑胸滿，腹痛讝妄，仍待大下而後愈者，
此所謂裏而再裏，風寒必無是也，若夫表裏分傳之症，風寒十無一二，疫症十有六七，
但據傳經之專雜以辨之，一經專見一經證者多風寒，一經雜見二三經證者多疫症，
日久漸轉屬者多風寒，一日驟傳一二經，或二三經者多疫症，則雖病有變態，
而風寒不混於疫症，疫症不混於風寒，施治自無訛誤矣。</p>
<p>至若辨氣，辨色，辨舌，辨神，俱己清楚，而投之以治疫之藥復有不效者，
則以時疫有獨發，有兼夾他症之故，是以辨時疫，異於他症矣，至挾他症者，
則此人時疫與彼人時疫，又有不同，尤當細辨，其兼症凡五種，夾症凡十種，
詳列於後。</p>
<h3>兼寒</h3>
<p>其一，有兼寒者，初起一二日，頭痛，發熱，身痛，惡寒，諸表症悉與時疫同，
而以脈辨則不同，時疫多軟散而不浮，兼寒則多浮數，浮弦，浮大，甚至有浮緊者，
再以症辨，亦微有不同，時疫多汗，兼寒則無汗，為異，亦異於單受寒者，單受寒，
無煩躁，口苦，口臭症，時疫兼寒，必有煩躁，口苦，口臭證也，一遇此等，
更當辨其受寒與時疫孰輕孰重，疫重寒輕者煩躁症多，無汗惡寒症少，則當以敗毒散，
加知母，石膏，或達原飲，加羌，防，柴，葛，或六神通解散尤捷，
寒重疫輕者惡寒無汗症必甚，煩躁必輕，則只用敗毒散，其寒束於外，無汗惡寒既甚，
疫鬱於內，煩躁更甚者，冬月大青龍湯可借用，餘月九味羌活湯最為的當，
此症若治寒遺疫，必有斑，黃，狂，衄之變，治疫遺寒，復有厥逆，嘔利，
胸腹痞滿之憂，馴至沉因者不少，不可不知，然此皆為初起一二日言也，
若日久則邪疫勃發，表寒不能自存，而變為熱，則惟以治疫之法治之而已。</p>
<h3>兼風</h3>
<p>其一，有兼風者，初起一二日，表症與時疫悉同，惟鼻塞，鼻鳴，嚏噴，咳嗽，
與時疫略異，脈亦多浮，而與時疫之不浮不沉而數者微異，治法不大相遠，
即於時疫諸方中加荊防，咳加前胡，杏仁，蘇子而已，大抵時疫兼寒，能令病勢增重，
兼風，反令病勢易解，以寒主凝泣，則疫邪內鬱，鬱一分，病勢增痼一分，
風主游揚，則疫邪外疏，疏一分，病勢解散一分。</p>
<h3>兼暑</h3>
<p>時疫兼寒，兼風，四時皆有，至若兼暑一症，惟長夏有之，初起一二日，
與時疫無異，只胸滿嘔利為異，而脈則兼弦，細，芤，遲，不似時疫不浮不沉而數，
治法於時疫諸方中，微減發表之味，如用羌即不用獨，用柴即不用前，蓋時疫多汗，
暑症更多汗，兩邪逼出表汗，則表必虛，故發表之味，不可重複也，
寒潤之藥尤宜減，清熱之味亦宜減，以邪從表出，鬱熱必輕，過用清涼，
恐致寒中而增嘔脹泄利，況表氣太泄，裏氣必虛，易犯厥脫之症，故清涼寒潤，
不可太多也，最宜加用分利燥脾之品，木通為上，滑石次之，豬苓，赤茯，
澤瀉又次之，蓋分利則暑與疫皆從清道而出，邪有去路，正不必徒以寒涼逆折取效也，
間有表見身痛，宜用香薷，裏見腹滿，宜用蒼朮者，再時疫兼暑，則病勢反緩，
以疫中溫氣屬亢陽，暑為陽中之陰，陽得陰則解，雖不能盡解，然得一分陰氣，
則和一分亢陽，每見時疫兼暑，其讝妄舌燥諸證反緩者，職此故也。</p>
<h3>兼瘧</h3>
<p>時疫有似瘧，有轉瘧，有兼瘧之不同，用藥亦有微異，似瘧者，寒熱往來，
或一日二三次，或一次而時無定也，時疫初起多有之，轉瘧者，</p>
<h3>時疫讝</h3>
<p>妄煩渴大劇之後，已經大汗大下，仍有餘邪不解，復作寒熱，轉成瘧象也，
時疫末路多有之，兼瘧之症，乃寒暑時疫合病也，其症寒熱有常期，瘧症全具，
但熱多寒少，且多燥渴擾亂，熱勢迅速，神情昏憒，穢氣觸人為異，秋令多有之，
時疫所以似瘧者，因邪氣盤錯於募原，欲出表而不能透達，欲陷裏而未得空隙，
故見半表半裏之少陽症也，治法宜達原飲加柴胡為主，時疫所以轉瘧者，
因汗下後邪氣已衰，正氣來復，邪正相爭，故在先陽氣獨亢，有熱無寒者，
今則以陰液漸回，而寒熱相爭矣，在先邪氣秉綱，晝夜燥熱無休止時者，
今則邪氣漸退，正氣漸復，而寒熱發作有時矣，治法以養正為主，祛邪佐之，小柴胡湯，
炙甘草湯，柴胡四物湯，參胡三白湯，量餘邪之盛衰，視陰陽之盈虧，酌而用之，
至若兼瘧之症，最為難治，吳又可曰，瘧疾二三發，或七八發後，忽然晝夜煩熱，
發渴，不惡寒，舌上胎刺，心腹痞滿，飲食不進，下症漸具，此時疫症見，
瘧疾症隱也，以疫症方藥治之則生，瘧家方藥治之則劇，治之如法，脈靜身涼，每日，
或間日，寒熱復作有常期者，時疫解而瘧邪未盡也，仍以瘧法治之，愚按時疫與瘧病，
不甚相遠，疫乃濕溫二氣合病，瘧乃風寒暑濕四氣合病，其邪氣之雜而不純相類，
瘧邪橫連募原，時疫亦發於募原，其受邪之處相類，但時疫之溫氣，發則為亢陽，
故宜下宜清之症多，瘧之暑氣，停則為鬱滯，故宜宣利之症多耳，所以時疫初起，
方用達原飲，與瘧之主方用清脾飲，藥品亦多相類，至其傳變，則緩急輕重，
迥乎不同也，善悟者於此處細參，思過半矣。</p>
<h3>兼痢</h3>
<p>時疫本多自利症，表症初起，即每日解數次稀臭水者是也，詳見後自利條下，
有春夏之交，得時疫即兼下利紅白而裏急後重者，名為疫痢，初起慎不可從痢治，
蓋痢屬裏證，今兼疫邪之發熱頭痛，為表裹俱病，先用治疫之法解其表，
表解而裏自和，其痢多有不治自愈者，若用治痢之法先清其裏，裏氣虛而表邪陷，
輕者增其煩躁沉困，重者遂至嘔逆昏憒而危矣，所以古人於疫痢初起專主倉廩湯，
其方乃人參敗毒散，一意解表，但加陳倉米以和中養脾胃，俟表證解後，裏熱症具，
方可議清議下，不但香連，芍藥，承氣之類宜緩，即淡滲分利之劑，
亦宜緩投於表症未解之先也，若太陽症不見，而微見少陽，陽明症者，
則柴葛五苓散不妨借用，痢症夾表，不可清裏，不特時疫兼症為然，
凡一切痢症微兼身熱，即宜慎用苦寒淡滲，用之若早，必增嘔逆，此歷驗不爽者，
疫症兼利，其熱勢反多緩，亦由痢為暑氣，陽中之陰，能和亢陽，且鬱蒸之熱，
有所疏泄故也，若疫毒太甚，驟發即下純紅，純紫惡血，或兼見舌煩讝妄諸惡症者，
黃連，大黃，又在急用，不可拘此論矣。以上五條，其辨明所以為瘟疫兼症，
固已不憚逐類詳審，然總以前所備具氣，色，舌，神，脈五辨為主，五者之中，
必有一二確據，方於疫門求治，否則各按各門施治可也，若混以時疫治之，為害甚矣。</p>
<h3>夾痰水</h3>
<p>飲入於胃，經蒸變而稠濁者為痰，未經蒸變而清稀者為水，痰與水，一物也，
痰能作熱，水能作冷，時疫屬熱症，故夾痰者，更增其熱，脈症治法，無甚參差，
但於治疫藥中加瓜蔞，貝母，甚則加牛黃，夾水者，脈症往往相悖，治法則有不同，
不可不細辨也，時疫之脈必數，而夾水在胸膈，其脈多緩，甚則遲弦，
此脈夾水之辨也，時疫之舌，一經傳裏，即轉黃，轉燥，轉黑，若有水在胸膈，
則煩躁讝妄沉昏諸症備具，而舌色白潤，間有轉黃黑者，亦必仍有白胎，或滿舌黃黑，
半邊夾一二條白色，或舌尖舌本俱黃，中夾一段白色，此舌夾水之辨也，時疫胸滿，
心下硬痛，手不可按，一有水在胸膈，心下雖滿痛，按之則軟，略加揉按，
則漉漉有聲，此症夾水之辨也，時疫見夾水脈症，雖有表，不宜純用辛涼發散，
純用辛涼，則表必不解，而轉見沉困，有裏症，不可遽用苦寒，早用苦寒，
必轉加昏憒，此水氣鬱遏熱邪，陽氣受困，宜於發表清裏藥中，
加辛燥利氣利水之品以祛水氣，迨水氣去，鬱遏發，然後議攻議涼，則無不效者矣，
燥濕則半夏，蒼朮，利水則木通，苓，澤，利氣則萊菔，草果，木香，甚至有須用大戟，
芫花者，在時疫雖屬熱邪，往往有投三承氣，黃芩，白虎而不效，偶用溫暖藥收功者，
遂相訟清熱之非，不知熱邪乃其本氣，夾雜乃其間氣也。</p>
<h3>夾食</h3>
<p>時疫夾食者最多，而有食填膈上，食人腸胃之不同，入腸胃則為陽明諸熱症，
治法備於三承氣湯，惟食填胸膈，往往有脈沉手足冷者，誤認三陰，投以溫劑，
亦無一毫熱渴發見，但煩躁倍增，甚則一二日即死，蓋胸中乃陰陽升降之路，食填之，
則氣閉，氣閉，則熱鬱於下，而無所疏泄，誤溫則熱愈鬱，熱鬱於內，
故外無發熱症，熱鬱於下，故上無口渴症，疫熱以出表為輕，人裏為重，在淺為輕，
入深為重，此症一溫，則逼邪入裏入深，以致速死而無熱症也，如氣，色，神，舌，
脈，辨得為疫症矣，而遇脈沉手足冷，即當細詢其胸膈，若痞塞悶滿，即是夾食，
再辨其舌胎白厚而微兼淡黃，益為食填膈上之明驗，於治疫藥中加枳，桔，青皮，
萊菔，麴蘗，甚則用吐法以宣之，使膈開而陽氣宣達，然後熱症自見，當解表，
當清  裏自無誤治矣。</p>
<h3>夾鬱</h3>
<p>時疫夾氣齴者，初起疫症悉同，而多脈沉，手足冷，嘔逆胸滿，頗類夾食，
但夾食為有物，為實邪，舌胎厚白而微黃，胸膈滿痛不可按，而亦不移，夾氣為無物，
為虛邪，舌胎白薄，胸膈滿痛串動而可按，宜先宣通其鬱，然後解表消裏，
自無不效，若不舒鬱而徒發表，則裏氣不能外達而難於徹汗，遽用清下，則上氣不宣，
多致痞逆，惟於解表藥中，加蘇梗，木香，大腹皮，香附等類，以宣其氣，
則表易解，於清裏藥中，加川貝母以舒其鬱，則裏易和，貝母為舒鬱要藥，但力性緩，
必用至五錢，一兩，方能奏效。</p>
<h3>夾血</h3>
<p>時疫傳裏之後，畜血最多，治從攻裏，茲不具論，惟本有內傷停瘀，復感時疫，
於初起一二日，疫之表症悉具，而脈或芤或濇，頗類陽症陰脈，
但須細詢其胸腹脅肋四肢，有痛不可按而濡者，即為畜血確驗，其芤濇，
非陽症見陰脈，乃表症見裏脈也，治法必兼消瘀，紅花，桃仁，歸尾，赤芍，
元胡之類，量加一二味，表邪方易解，濇芤之脈方易起，若誤認芤濇為陰脈而投溫劑，
輕者變劇，重者危矣。</p>
<h3>夾脾虛</h3>
<p>時疫較之風寒，本為難治，以風寒傳變有次序，時疫傳變無常經，風寒表邪，
一發即散，時疫散而復集，且往往復之再三，風寒傳裏症，一攻即和，
時疫攻而復合，有下之一二十次者，此時疫之難治也，而脾虛者更為難治，
蓋時疫必得汗下而後解，脾虛者，表不能作汗，裏不任攻下，或得汗矣，而氣隨汗脫，
得下矣，而氣從下脫，治此等症，汗勿強汗，發表必兼養正，人參敗毒散是也，
下勿輕下，攻裏必兼固氣生津液，黃龍湯是也，其外症無大分別，惟脈不任尋按，
然邪有進退，當其邪進方張之時，脈亦有尋按有力者，不可泥也，
必合氣色神情脈證以細參，如面色痿黃，神情倦怠，氣息微促，及心悸耳鳴，
皆脾虛中氣不振之象，更須通體合參，如通體皆見有餘實象，而獨見一二虛象，
則虛象反為吃緊，通體見虛象，而獨見一二實證，則實證又為吃緊，總須權衡標本，
凡證之屬表，屬上焦，屬六腑者，皆為標，證之屬裏，屬中焦，下焦，屬五臟，
皆為本，若實症居標，虛證居本，則虛證為重，虛證居標，實證居本，則實證為重，
到此虛實關頭，必著意參詳，庶幾無失。</p>
<h3>夾腎虛</h3>
<p>時疫夾脾虛者，為難治矣，夾腎虛者，更難，時疫屬熱症，腎氣虛則手足冷，
時疫屬實邪，腎氣虛則眩暈驚悸，腰膝痿軟，腎虛之中，又有陰虛，陽虛之分，
時疫必待汗、下、清而後解，陽虛者，一經汗、下、清，則脫絕之症隨見，陰虛者，
一經汗下，則枯竭之症隨見，必須時時諦察，凡在表時，見腰痛異常，小便頻數，
膝脛冷軟，其人平日非有淋濁陽痿，即係遺洩好內，須詢明，于通表藥中加人參，
白芍，陽虛兼杜仲，陰虛兼知母，以照顧腎氣，免後來意外之變，若入裏當下，
必以陶氏黃龍湯為主，當清，必以人參白虎湯為主，或屢清屢下而熱更甚，
舌上燥而無胎，或有黑胎，愈清而愈長，或有燥胎，愈下而愈燥，此皆腎虛之證，
察其陽明，無實邪可據，當從腎虛治以六味地黃湯，易生地，加知柏，
王太僕所謂寒之不寒，責以無水，壯水之主，以制陽光者，此也，或仍不應，
則合生脈散以滋水之上源，或用四物湯流通經絡，似此熱勢燎原，非杯水所能救，
必大作湯液，藥味必以兩計，湯液必以斗計，乃有濟耳，見幾早，十救二三，
涸竭已見，十難救一，或更兼脾胃敗症，如嘔呃噦利之類，湯藥不下，百難救一矣。</p>
<h3>夾亡血</h3>
<p>疫症亡血有三，其一，未病之先，素亡血而陰虛，一受疫則邪熱乘虛煎熬，
亡陰最易，解表清裏，用藥必步步照顧榮血，如九味羌活湯之用生地，
人參敗毒散之用人參是也，其二，當受病之時，忽然吐衄，女子崩漏，甚至血暈昏厥，
勢甚危急，亦疫症常有也，病家但知血之可駭，往往不知受疫，醫家亦忽其客邪，
惟汲汲于止血，清涼滋補，多至危殆，不知血由疫逼，惟當治疫，疫邪解而血自止，
此症不遽見於疫在表時，而見於發熱數日之後，人猶易知，
惟疫鬱於陰經而暴見此症者，難識，以其症外無頭痛發熱之可據耳，
但見微惡寒而大作嘔，急當視其氣，色，神，脈，舌胎，若舌有白胎，氣色有一二疫象，
即是疫毒無疑，以達原飲為主，嘔加藿香，脹加青皮，但治疫毒，血症自已，
若脫血太甚，而氣欲絕者，加人參以固中氣，俟疫症傳變歸經，然後按經治之，
此疫症兼血之最危者，其三，疫邪大張之後，煩熱躁渴之餘，而見亡血證，
則又瘟疫常態，詳後血症各條。</p>
<h3>夾疝</h3>
<p>疫邪夾疝，其腎囊少腹引痛，全是疝症，當照辨氣，色，神，脈，舌胎法辨之，
有疫邪，不必治疝，但治疫而疝自消，若依常治疝沬，用吳萸，桂，附，茴香諸燥品，
輕者變為囊癰，重者呃逆噦厥沉昏而莫救矣。</p>
<h3>夾心胃痛</h3>
<p>時疫有兼心胃痛者，於其痛時，察其氣，色，神，脈，舌胎，若有一於時疫，
但治時疫，雖平時因寒而發，此則惟治其熱，蓋以疫邪客於募原，傳於太陰，
而發心胃痛之痼疾，於達原飲中加木香，蒼朮，以開通鬱疫，使其透發於表，
而痛自已，若誤認平常心胃痛，用桂，附，薑，萸，必致危殆，</p>
<h3>夾哮喘</h3>
<p>哮喘，乃肺家素有痰火，一受疫邪，其濕熱之氣，從其類而入肺，發其哮喘，
遇此當察其氣，色，神，脈，舌胎，有疫但治疫，其哮喘自除，于治疫藥中加貝母，
瓜蔞，淡豉，桑皮，疫邪哮喘並解，法更精密。</p>
<p>以上諸條，凡言兼者，疫邪兼他邪，二邪自外入者也，凡言夾者，疫邪夾內病，
內外夾發者也，二邪兼發，以疫為重，他邪為輕，故略兼治他邪而病即解，
二邪夾發，如夾水，食，血，氣，痰，等實邪，則以夾邪為先，疫邪為後，
蓋清其夾邪，而疫毒始得透達，透達方能傳變，傳變方能解利也，如夾脾虛，腎虛，
亡血諸虛症，則以治邪為主，養正為輔，蓋疫邪最易傷正，故不可養正遺邪也，
如夾疝，哮，心胃痛諸舊病，則但治疫邪，舊病自已，蓋舊病乃新邪，
所迫而發也。疫邪見症，千變萬化，然總不出表裏二者，但表證中有裏邪，
裏症中有表邪，則又不可不細察也，故列證分表裏以盡其常，又細辨以盡其變，
使人一目了然，胸有定見，稍救橫夭於萬一耳。</p>
<h2>廣瘟疫論卷之二</h2>
<p>表症</p>
<h3>發熱</h3>
<p>時疫發熱，與風寒雜症同，其發熱時，氣，色，神，脈，舌胎則不同，
辨得為時疫發熱，又當知有淺深表裏之異，不辨無以施治，發熱表症居多，
亦有裏症發熱，半表半裏發熱，餘邪不盡復出於表發熱，邪退正虛發熱，而表症發熱，
脈不浮不沉而數，寸大於關尺，熱在皮膚，捫之烙手，久按反輕，必兼頭痛，項強，
腰痛，脛酸，或頭面，身體，皮膚，有紅腫瘍痛，諸症不必全現，有一於此，
便是表症發熱，九昧羌活湯，人參敗毒散，六神通解散選用，冬月嚴寒，及惡寒甚者，
大青龍湯，葳蕤湯，越婢湯，陽旦湯可借用，全不惡寒者，白虎湯，黃芩湯可加減用，
裏症發熱，脈或滑，或沉數，或洪滑，關尺盛於寸，熱必在肌肉筋骨，初捫熱輕，
久按熱甚，必兼煩渴，胸腹滿，大便或不通，或自利，或便血及膿，小便黃赤，
或讝妄狂昏，諸症雖不必全現，必兼二三症，方是裏症發熱，梔子豉湯，黃連解毒湯，
小陷胸湯，三承氣湯，導赤瀉心湯，豬苓湯，天水散選用，半表半裏發熱，脈多弦，
胸脅滿，或熱或止，或口苦咽乾，目眩耳聾，或目赤，或喜嶇心煩，或兼見表裹症，
達原飲，柴葛解肌湯，小柴胡湯選用，時疫初熱時，用藥最要清楚，此處頭緒不差，
後傳變多危，救援亦易，不然，難於收拾矣，凡見發熱，即常辨其氣，色，神，脈，
舌胎，為風寒，為時疫，係時疫，又當辨在表在裹，在半表半裹，然時疫見症，
純表純裏者少，表裏夾雜者多，表裏夾雜，吳氏達原飲為主，表症多，加羌活，
裹症多，加大黃，半表半裹症多，加柴胡，葛根，淡豉，或表裹症均見，則諸藥全用，
即三消飲，取效最多，誠時疫主劑，至已愈數日而復發熱者，乃募原伏有不盡之邪，
復出於表，當察其證之表裹多寡，以前法治之，大抵愈後復發，則裏熱多而表熱少，
雖有當用表藥之症，不過葛根，柴胡，淡豉而已，無更用羌活之理，
若愈後另受風寒，發熱無汗，舌上無胎者，不在此例，時疫愈後，
復熱無汗，重用葛根五錢最妙，以其性涼，而解肌發汗，既不礙無汗之表，
又不礙煩熱之裹，更有平素虛損，或老人，或大病後復染時疾，屢經汗下清解，
其熱轉甚，或全無表裏實證，或六脈豁豁然空，或較初起洪滑更甚，
或用表藥而身痛更甚，或屢用清熱藥而煩躁沉昏更甚，或屢用下藥而舌燥更甚，
此皆邪退止虛之發熱也，王太僕所謂大虛有盛候，反瀉含冤也，此時須略去證狀，
而消息陰陽虛實，陰虛，則熱渴枯竭之症多，責在腎，宜六昧地黃湯，兼氣虛，
合生脈散，須大作湯液，晝夜頻進，效始捷，陽虛，則嘔利悸眩之症多，責在脾，
宜六君子湯，兼陰虛，歸脾湯，參胡三白散，清燥湯選用，若遇此等症，仍用汗，下，
涼解，宣伐，斷無生理矣，又發熱之為表為裏，為半表半裏，為復為虛，
症狀明顯有據者，自易施治，若脈症夾雜模糊，難於分辨者，須以舌胎為據，
初起舌胎薄白，或無胎而潤，屬在表，白胎而厚，或兼微黃，或中黃邊白，中黃尖白，
或二三色，屬在半表半裏，黃胎，醬色胎，黑胎屬裏，舌胎燥，則不論何色，
皆屬裏症，屢經汗下後，舌胎潤而發熱者，屬陽虛，無胎而燥者，屬陰虛，
發熱之表裏虛實，依此辨之，思過半矣，惟虛證發熱，有似實症，即舌胎亦難憑據，
又當從病之來路探討，若屢經汗，下，宜伐而熱愈甚者，從虛治無疑，
或雖經汗下而熱漸減，藥有效，則仍屬餘邪未盡，不可遽補，致邪熱復壅，夭人年壽，
似此虛實關頭，不可不細心體認也。</p>
<p>以上辨表裏虛實諸法，雖指發熱時言，然類而推之，凡症皆可依此為辨，
惟在學者之善悟耳。</p>
<h3>惡寒</h3>
<p>時疫惡寒，與風寒暑濕諸症不同，諸症惡寒無時而勢不甚，
時疫惡寒有時而勢甚，惡寒之後，必見發熱，熱時自熱，而不覺寒，寒時自寒，
而不覺熱，非若諸症惡寒發熱之相兼也，時疫惡寒，傳裏之後少，在表之時多，
而辨氣，色，神，脈，舌胎，與發熱同，但有淺深虛實之異，邪淺而在表者，
惡寒之時少於發熱，治法方藥同於發熱，解表為主，邪在半表半裏者，
寒熱往來如瘧狀，治法方藥亦同發熱，邪深入裏，失於攻下，而熱深厥深，
反欲擁被向火，惡寒而不發熱，或熱亦微，甚則四肢反厥，此雖惡寒，實非寒也，
乃陽氣為邪所鬱而不通，以通鬱為主，達原飲，大柴胡湯，三承氣湯選用，
使裹氣通而鬱陽發，反大熱而煩渴也，此證在惡寒時，最難辨其為熱，須於九竅察之，
如目大小眥赤，鼻孔乾，唇紅，舌胎黃黑燥，耳鳴或聾，小便黃赤濇痛，大便燥結，
或稀黃極臭，或鮮血，或心下至少腹有痛不可按處，此皆熱深陽鬱之象，
大抵周身皆見冷症，一二處獨見熱症，反當以熱症為主，反此亦然，
乃辨寒熱真假之機要也，余所見時疫，不下數千，裏症惡寒者，百中一二，
即四肢厥逆，爪甲青紫，詢其所苦，亦不惡寒，此可得其慨矣，至若本係時疫熱症，
因其人平素虛損衰老，及大病之後，用攻伐寒涼太過，至汗出不止，嘔利俱作，
四肢微厥，六脈細濡而惡寒，為陽虛，乃攻伐太過所致，當以參，耆，苓，朮為主，
寸囗脈微者，佐以升，柴，尺脈微者，佐以桂，附，須知雖屬陽虛，卻從熱症來，
而陰必虧，桂，附亦不可過用，當佐以護陰藥為妙，如白芍，麥冬，五味之類，
此症溫補略緩，及溫補不到，必死，或過用溫補，陽雖回而陰竭，亦死，
此處不可不斟酌至當，又有宣伐太過而成虛症之惡寒，寒涼太早而成實症之惡寒，
以疫邪方伏於募原，未經傳變之時，胸膈必多痰滯，有見其煩躁而遽用知，膏，芩，
連者，有因其作渴而遽用生地，麥冬者，有病者自認火症而恣啖冷水西瓜梨薺太早者，
皆能抑鬱陽氣，壅閉邪熱，熱遏於中下二焦，冷物停痰滯於上焦，每每見惡寒症，
遇此惟以宣導痰滯為主，痰滯通，則惡寒自止，不可過溫，致下焦瘀熱，
畜血斑黃呃逆而死，不可清涼，致胸腹痞悶而危，宜用草果，厚朴，檳榔，木香，
半夏，蒼朮，萊菔，苓，澤，導痰開滯逐水，痰滯水去，則惡寒止而熱症見，
隨其傳變，以施涼解攻利之劑，乃有效也，此法特救藥誤，非治正病耳，
總之風寒以惡寒為重，時疫以惡寒為輕，多有初起惡寒，一二日不治，
邪氣傳變而惡寒自己者，與其誤治，毋甯俟之，若誤認惡寒為真寒，用辛溫之藥發散，
未有不增其病勢者也。</p>
<h3>寒熱往來</h3>
<p>寒熱往來，與發熱惡寒異，發熱惡寒，一時兼至，寒熱往來，寒已方熱，
熱已方寒，亦與瘧不同，瘧發有時，寒熱長短有定，此則寒熱無時，長短無定，
雖不同於瘧，而邪俱在少陽半表半裏之間，在傳變之初，是由輕入重，始則寒熱往來，
繼則熱多寒少，再則但熱不寒，至晝夜壯熱，讝妄煩渴畢現，在傳變之後，
是由重出輕，晝夜壯熱，漸減而為發熱，有時而止，又減而為寒熱往來，
又減而為戰汗，至脈靜身涼而愈，夾疫邪，自裏出表者輕，日表入裏者重，
初起寒熱往來，是自表入裏，犯及少陽，裹氣與邪相爭拒，繼則邪深入裏，
表裏併而為熱，晝夜壯熱，而勢日重，既傳變之後，而寒熱往來，是邪氣向衰，
正氣來復，自裏出表，經過少陽，前之晝夜壯熱邪氣秉綱者，
至此正氣漸和而寒熱有時矣，前之邪陽獨盛亢極無陰作純熱者，
至此則陰氣來復而寒熱相爭矣，前之邪併表裹而熱渴日加者，
至此則裹氣逐出表邪而作戰汗矣，治法於未傳變之先，欲由表入裏時，但透達其邪，
使易傳化為主，達原飲是也，於傳變之後，欲自裏出表時，以和解為主，
小柴胡湯是也，於屢經汗下之餘，脈或虛微濡弱結代，心或悸動，神或委倦，
形或羸弱過甚，當養陰益氣，助正卻邪為主，參胡三白湯，炙甘草湯，清燥養榮湯，
補中益氣湯是也。</p>
<h3>頭痛</h3>
<p>時疫頭痛，與風寒不同，風寒是寒束於上部，中下無邪上逆，頭雖甚痛，
而不昏悶，時疫是熱蒸於上部，中焦邪犯上焦，頭不甚痛而昏悶，
所謂卓然而痛者是也，驗得氣，色，神，脈，舌胎為時疫頭痛，而又有表裏之分，
初起頭痛，腦後，巔頂，目珠略甚，舌胎白而發熱者，太陽頭痛，以羌活，川芎為主，
淡豉，酒芩，知母，生地為輔，額顱脹痛，目痛鼻孔乾，舌胎白而微黃，煩熱而渴者，
陽明頭痛也，葛根為主，淡豉，石膏為輔，兩額角痛，眉稜骨痛，寒熱往來，
口苦咽乾，舌胎中黃邊白，或中段黃尖上白，少陽頭痛也，柴胡，荊芥，川芎為主，
酒芩，石膏為輔，頭痛而三陽症悉具者，吳氏三消飲為主，時疫頭痛，
專見一經症者少，雜見二三經症者多，此方尤為多效，頭痛甚者，加淡豉，荊，防，
消其頭目，頭痛，舌胎黃，心下滿，蒸蒸發熱者，陽明裏症也，三黃石膏湯，
小承氣湯，大柴胡湯，防風通聖散選用，舌胎黃，或半截或傍邊有小塊白，胸滿而嘔，
頭痛兼眩者，痰厥頭痛也，前胡為主，半夏，萊菔子，枳，橘，山查，麥芽為輔，
兼煩熱者，加大黃，枳實，汗下清解後，頭痛心悸，四物湯去川芎，加丹皮，知母，
黃柏，或歸脾湯，逍遙散並加生地，棗仁，凡頭痛見症混雜，難分表裏者，
總以舌胎辨之。</p>
<h3>頭眩</h3>
<p>時疫頭眩有三，其一，風熱頭眩，乃時疫本病，寸日脈多浮而尺熱，荊，防，
芎，薄，天麻為主，黃芩為輔，煩渴加石膏，其一，夾水頭眩，乃時疫兼症，
脈沉而弦滑，兼嘔胸脅滿悸動，前胡為主，半夏，茯苓，枳，橘，膽星，萊菔，
蘇子為輔，然必視時疫大勢，屬表屬裏，於應用本方中加此數味可也，其一，虛症頭胘，
乃時疫變症，多見於汗下清解後，或素有怯證者，如上虛，寸口脈不及關尺，多汗，
少氣不足以息，心悸，參，耆為主，中虛，關脈不及寸尺，多從嘔利太過而來，
不思食，苓、朮為主，下虛，尺脈不及寸關，腰膝痿厥，二便清滑，六味地黃為主，
三虛皆可加天麻，或虛證已見，仍夾有邪疫燥熱，則不妨兼用清熱之品，
或補後脈氣稍實，再為清解亦可，大抵時疫頭胘，多屬熱，少屬虛，治須斟酌，
若傷寒亡陽頭胘，又當遵仲景法治之。</p>
<h3>頭脹</h3>
<p>時疫頭脹者，乃胃熱上蒸也，下之則愈，兼表者，防風通聖散，大柴胡湯，
吳氏三消飲，無表症者，三承氣湯選用，病虛脹，與頭眩參看。</p>
<h3>頭重</h3>
<p>時疫頭重者，溼熱上雍也，與清涼解表藥中加蒼，或利水藥，病後虛重，
亦與頭眩參看，又有表裏無病，病在頭中者，其目必黃，當遵仲景法，
用瓜蒂散搐鼻出黃水 即愈。</p>
<h3>目脹</h3>
<p>時疫目珠脹者，陽明經病也，兼表症，葛根蔥白湯加石膏，若胸滿舌有黃胎，
宿食也，蓋食壅陽明，其脈不下行而上逆，故目珠脹，宜平胃散加山查，麥芽，
枳殼，消導之則愈，至屢經清解而目珠脹痛不愈者，當消息其肝臟，
以養陰滋血和肝之法治之，如再不愈，則當進而滋腎，乃乙癸同源之治也。</p>
<h3>項強痠</h3>
<p>時疫初起，項強痠，兼發熱，乃邪越於太陽經也，羌活為主，
狂躁正盛而項強者，熱壅其經脈也，石膏，黃芩為主，屢經汗下，發熱已退而復項強者，
血燥而經無養也，四物六味為主，外此若傷寒發痙之項強，亡陽漏風之項強，
則又有仲景之法在。</p>
<h3>背痛痠</h3>
<p>時疫初起，背痛兼發熱者，邪浮於太陽也，羌活為主，背痛而脹，兼胸脅脹者，
邪客募原也，草果、厚朴、檳榔、萊菔子，大腹皮為主，屢經汗下後，發熱已退，
背痛不止者，經脈血亡也，六味生脈，四物為主，
又有平素勞倦內傷而背痛在膏肓二穴者，
當於東垣內傷諸論察之。</p>
<h3>腰痛痠</h3>
<p>時疫初起，腰痛兼發熱者，太陽受病也，獨活為主，兼脹者，氣滯也，加檳榔，
兼重者，夾濕也，加蒼朮，牽引少腹及兩脅者，氣滯血瘀也，
加青皮、烏藥、赤芍、元胡，兼理氣血，疏通腎肝，此皆初起實症治法，
又有即夾腎虛陰傷者，腰痛獨甚於周身，兼痠痿無力，若尺脈無力，後來傳變必危，
當於初起在表時，加人參、知母、生地預顧其陰，則危殆差減，若徒用伐邪之品，
邪之深入者未必去，而陰液大傷，則沉昏舌黑直視失尿諸症見，陰傷氣脫，
則厥逆症見，蓋腰乃腎府，為先天根本，腰痛則腎虛，不可不察，要知此時疫初起，
腰痛尚有虛實之分，若汗下後而見腰痛，其為腎虛，不待言矣，宜六味，四物，
不可疏通。</p>
<h3>膝痛痠</h3>
<p>時疫初起，膝痛發熱者，邪在太陽經也，獨活、檳榔、牛膝為主，兼軟者，
濕甚也，蒼朮為主，然此特太陽之一症，初起以解表邪大勢為先，膝痛專藥，
一二味而已，若經汗下，表邪大勢已解，則當察其邪氣之有無，正氣之虛實專治下部，
不然，恐致殘廢，倘餘邪不盡，留於下部，則仍有熱症，如骨蒸、小便黃赤，
以黃柏、苡仁清濕熱，檳榔、木通通壅滯，筋攣，則秦艽、木瓜，筋緩，
則蒼朮、防己，紅腫，則赤芍、丹皮、續斷、芎、歸，若無餘邪，見心悸，二便頻數，
尺脈虛小，則當以補腎為急，六味加牛膝、枸杞、知、蘗，滋益陰精。</p>
<h3>脛腿痛痠</h3>
<p>時疫初起，脛痛痠者，太陽經脈之鬱也，獨活為主，兼攣者，治在筋，
加秦艽、木瓜，兼腫者，治在肉，加木通，赤芍，檳榔，兼軟者，屬濕溫，
俗名軟腳瘟，往往一二日即死，宜白虎加蒼朮湯，或蒼朮，黃柏，此與膝痛頗同，
未經汗下，則解表之大勢加一二味脛痛耑藥，表症已解，惟留此症，當專治之，
若屢經汗下而見虛症，亦以補腎為主。</p>
<h3>足痛</h3>
<p>時疫初起足痛，有因素有腳氣痼疾者，但治時疫，於解表藥中微加檳榔，木通，
若已汗下，表裏俱平而足痛不愈，則消息其腎家虛實，同膝脛痛法治之。</p>
<h3>肩臂痛痠</h3>
<p>時疫初起，肩臂痛痠者，手太陽經脈受邪也，解表，則痛自已，
經汗下後而肩臂痛者，有經隧阻滯，血脈空虛之故，經隧阻滯者，脈多有力，
證多熱渴，以清熱活血為主，黃芩、赤芍、歸尾、紅花之類，血脈空虛者，證多痿困，
脈多虛濇，養血益氣為主，四物合參，耆之類。</p>
<h3>腕痛</h3>
<p>時疫初起腕痛者，乃風淫末疾也，初起，解表，汗下後，益氣養血，與肩臂痛同治。</p>
<h3>周身骨節痠痛</h3>
<p>項背腰膝脛足肩臂諸痛，已列於前，則周身之痠痛備入，茲復列周身骨節痠痛者，
以痛在一處，邪有專注，痛若周身，邪有分布也，專注之邪，須通其凝泣，分布之邪，
須解其縛束，故治周身痠痛，疏表其大法也，而痠與痛亦有別，痠輕而淺，痛重而深，
痠痛與拘攣又有別，痠痛與重加常，拘攣屈伸不利，痠痛病在營衛，拘攣病在筋骨，
合痠痛拘攣，又有上下淺深前後之不同，在身半以上，為末疾，淺而易解，
在身半以下，為本病，深而難袪，合上下之痠痛拘攣，在未經汗下與已經汗下者，
又有別，未經汗下，屬邪盛，宜宣伐，已經汗下，屬正虛，宜調補，
明乎此，則痠痛在周身，在一處，按症施治，無不當矣，解表諸方，人參敗毒散，
九味羌活湯，六神通解散，大羌活湯。</p>
<h3>身重</h3>
<p>時疫初起，發熱身重者，濕勝於熱也，蒼朮為主，二三日或四五日，傳變之後，
汗出更熱而身重者，熱壅其經脈也，白虎湯為主，傳裏，表無熱，而舌燥便秘，
腹痛拒按，而身重者，內結而氣不達於表也，三承氣為主，屢經汗下，表熱已退，
身重不可移動，脈虛散而無根，舌上無胎，二便自通者，陰陽兩亡，經脈枯竭也，
審其陰陽偏勝而治之，偏於亡陰，多燥症，六味合四物為主，偏於亡陽，多脾虛症，
六君合生脈為主，陰陽俱竭，生脈合六味為主。</p>
<h3>自汗</h3>
<p>時疫自內蒸出於表，初起作寒熱時，多自汗，甚至淋漓不止，不可以表虛論，
兼頭痛身痛，仍以解表為主，羌，獨，柴，葛之類，兼煩渴，直清陽明之熱為主，
白虎之類，有熱有結，破結為主，陷胸，三承氣之類，若屢經汗下，邪已全退，
脈虛而舌無胎，二便清利如常，內外無熱症，方可從虛斂汗，蓋以時疫得汗，
為邪有出路，而宜斂汗者，恆少也。</p>
<h3>盜汗</h3>
<p>時疫初起盜汗者，邪在半表半裏也，胸脅痞悶，達原飲，無痞悶，小柴胡湯，
汗下後，大熱已退，有盜汗者，餘邪不盡也，小承氣，小陷胸，吳氏承氣，
養榮湯諸方，清其伏匿餘邪，盜汗自止。</p>
<h3>戰汗</h3>
<p>時疫不論初起傳變末後，俱以戰汗為佳兆，以戰則邪正相爭，汗則正逐邪出，
然有透與不透之分，凡透者，汗必淋漓，汗後身涼，口不渴，舌胎淨，二便清，
胸腹脅無阻滯結痛，始為全解之戰汗，否則餘邪未淨而復熱，則有再作戰汗而解者，
有戰汗須三四次而後解者，有戰汗一次不能再戰，待屢下而退者，有不能再作戰汗，
再加沉困而死者，總視其本氣之強弱何如耳，凡戰汗之時，不可服藥，
補則戰止而汗不透，留邪為患，汗下則太過而成虛脫，應聽戰汗透徹，再觀脈症施治，
當戰時，或多與熱湯飲之，助其作汗，戰汗之時，脈多停止，勿訝，待戰汗之後，
脈自見也，大抵戰汗之脈，以浮為佳，邪出於表也，虛散微濡應有變，
煎獨參湯以待之，防其脫也，貧者米飲聊代之，然必察其戰後係邪淨而氣欲脫方可用，
凡戰汗後，神靜者吉，昏躁者危，氣細者吉，氣粗而短者危，舌痿不能言者死，
目眶陷者死，目轉運者死，戴眼反折者死，形體不仁，水漿不下者死，戰汗雖為佳兆，
亦有吉凶，得戰汗固由治得其宜，邪退正復而致，然不可強也，嘗見服大發汗藥，
毫不得汗，而飲冷水得汗者，又有用下藥得戰汗者，涼血活血得戰汗者，
生津益氣得戰汗者，種種不一，當知戰汗乃陰陽交和，表裏通達，自然而然，
非可強致也。</p>
<h3>狂汗</h3>
<p>時疫臨解，有忽手舞足蹈，跳床投禢，而後作汗者，最為駭人，
然須驗其是否作汗，作汗之脈浮而緩，浮為邪還於表，緩則胃氣自和，待汗透自愈，
脈若浮洪，浮數，浮滑，浮散，雖有汗，亦為發狂，非作汗也。</p>
<h3>頭腫</h3>
<p>時疫頭腫，乃風熱壅於上部，太陽之經脈，鬱滯巔頂，俗名大頭傷寒，
常視表裏輕重，加輕清疏風之品以散其腫，荊，防，薄荷，蟬退，川芎，蔓荊，
菊花之類，如發熱舌胎白，表重於裏也，合表藥用九味羌活湯，人參敗毒散是也，
如煩渴舌胎黃者，裏重於表也，合裏藥用三消飲，涼膈散，大柴胡湯，
調胃承氣湯是也，古有用三稜針刺出惡血，法亦可用，至發癰膿者，不在此例。</p>
<h3>面腫</h3>
<p>時疫面腫，風熱溢於上部，陽明之經脈被鬱也，赤腫者方是，治以白芷，防風，
葛根，石膏，散其風熱，視表裏之輕重，合頭腫條內諸方加減用之，若黃腫，
乃水氣也，當從水腫治之。</p>
<h3>頸項腫</h3>
<p>時疫頸項腫，乃陽明風熱，俗名捻頭瘟，又名蝦蟆瘟，
當按頭腫條內表裏諸方加葛根，桔梗，牛蒡，防風，玄參，癰膿發頤，不在此例。</p>
<h3>耳旁腫</h3>
<p>時疫耳旁腫，乃少陽風熱，俗名黃耳傷寒，小柴胡湯加荊，防，芎，芍，元參，
亦   當與頭腫參看。</p>
<h3>胸紅腫</h3>
<p>時疫胸前一片紅腫，粟起似麻疹，風熱也，俗名赤膈傷寒，
亦於頭而諸條表裹方中加荊，防，連翹，赤勺，牛旁，土貝。</p>
<h3>周身紅腫</h3>
<p>時疫周身紅腫，風熱流於皮膚也，用羌，獨，升，柴，葛，芷，
疏其皮膚之毛竅，石膏，黃芩，梔子，連翹，清其肌肉之熱，赤芍，歸尾，紅花，生地，
活其毒熱之瘀，兼裏症與頭腫諸條參治。</p>
<p>以上頭腫諸條，列之表症者，以初起言之，若見於病後，曾經汗下者，
為餘邪不盡，治法則小異，大約見於初起，表邪盛實，用表散之藥為主，
清裏之藥為輔，見於病後，裏邪留溢，用清裏之藥為主，表散之藥為輔，以此為權衡，
思過半矣。</p>
<h3>發黃</h3>
<p>時疫發黃有四，一宿食，二畜水，三畜血，四鬱熱，當疫症初轉在表時，
胸膈痞悶，目珠黃，面鼻正中黃，宿食壅於胃脘也，於表藥中加山查，神麯，麥芽，
萊菔子，傳裏時，小便不利，腹滿而響，面目身俱黃，畜水也，四苓散加梔子，
茵陳，胸腹有軟痛處，小便自利，大便黑而發黃者，畜血也，桃仁承氣湯，
熱在下焦，大小便俱不利而發黃者，鬱熱也，茵陳蒿湯，凡發黃必以二便為辨，
二便調，屬上焦，小便不利，屬水，小便自利而大便黑潤，屬血，大小便俱不利，
屬熱鬱，乃胃熱移於膀胱，不必利其小便，但當通其大便，是以茵陳湯有專功也，
發黃當辨其色，上焦宿食發黃，只在面目，不及周身，畜水發黃，周於身，
兼微黑而黯淡，瘀血發黃，亦兼微黑而潤澤，鬱熱發黃，兼赤而鮮明，
此即以黃辨黃之法也。</p>
<h3>發疹</h3>
<p>時疫發疹，熱邪從皮毛出也，與汗同機，以疏散清熱為主，然與他症發疹不同，
他症或無裹熱，此則未有不裏熱者，雖以疏散為要，而見煩渴舌胎黃，
則硝黃仍須兼用，表症發疹，疹散而病即愈，此則有屢發而病不衰者，他病發疹，
不過一二日為期，此則為期不定，治法不視表邪解否為用藥之準則，
不可以疹之一症為據也。</p>
<h3>發斑</h3>
<p>時疫發斑，邪熱出於經脈也，雖不及戰汗，亦有外解之機，治以涼血清熱為主，
白虎化斑湯，吳氏舉斑湯，犀角地黃湯選用，此亦與他症發斑有異，他症發斑，
斑消則愈，此總不以斑之消否為輕重，而惟以裏症為主，每每斑出，而讝妄如故，
或斑出數日已消，而沉昏如故，必待裏熱全清，二便清利而後愈，故治斑藥味，
可為輔，不可為主，發斑發疹，熱皆在經而不在胃，凡遇煩躁而不渴，日赤而舌白，
即是將發斑疹之候，預以清涼解表透毒之藥治之，使邪易山易淨。以上時疫表症，
皆關乎裏，不似他症，表裏兩不相關，故前列各條皆冠以時疫二字，
以明非他病之見症，不可以治他病之法治之，亦不可以此法治他病，總憑氣，色，神，
脈，舌胎辨之，百不失一，是五者為辨時疫之大綱，實亦辨時疫之細目也。</p>
<h2>廣瘟疫論卷之三</h2>
<p>裏症</p>
<h3>煩躁</h3>
<p>煩乃心煩，情思不定，神不安而形如故，躁則形擾，揚手擲足，
形不寧而神復亂，煩輕而躁重也，在他證有謂煩屬心躁屬腎者，煩屬陽躁屬陰者，
在時疫總屬鬱熱，熱淺在上，則見煩躁之形，熱深在下，則漸近昏沉而不煩躁，
是時疫初起，可即煩躁之輕重，辨病勢傳變之輕重，不煩躁則非時疫，設氣，色，神，
脈，舌胎有時疫確據，亦屬但表不裏之輕症，凡初起憎寒發熱而煩躁者，
邪在半表半裏，三消飲，九味羌活湯，六神通解散選用，隆冬寒甚，汗難出者大青龍湯，
葳蕤湯可借用，舌胎已黃，渴而喜飲，身熱汗出而煩躁者，邪入於胃也，白虎，黃芩，
三承氣，小陷胸，三黃瀉心，涼膈散選用，舌胎已黑，煩躁漸近沉昏者，邪入心包也，
犀角地黃湯加羚羊角，黃連解毒湯選用，屢經汗下清涼，表裏俱無阻滯而煩躁者，
陰液傷也，生脈散，六味地黃湯，吳氏諸養榮湯選用，或用清解清利滋潤諸法不應，
而煩躁加甚者，當細驗舌胎，色黃黑胎中夾一塊白潤，是為夾水，或平素胸有痰飲，
或未病之先曾飲冷物，或初煩躁時過飲冷水恣啖涼物，或用清涼太早，
皆能停飲於胸隔胃脘之間，寒飲拂鬱，其疫熱外不能達表，內不能傳胃，故煩躁轉甚，
驗舌之後更細按胸脅，滿痛而軟，漉漉有聲，再細察其脈，右寸關或弦緊或緩，
皆停水確據，當以蒼朮，半夏，萊菔，厚朴，先消其水氣，然後治其煩躁，無不應者，
不論舌胎有無黃黑，但煩躁而兼小便不利者，雖無水氣在胸脅，而少腹略有滿痛處，
即當以導赤瀉心湯，四苓湯，豬苓湯，益元散利其小便，
所謂心邪不從心瀉而從小腸瀉也。</p>
<h3>嘔</h3>
<p>吳又可曰，時疫有始終能食者，邪不傳胃也，慎勿絕其飲食，此不嘔者也，
愚嘗見時疫初起，末發熱時，表症未見，有先作嘔數日者，此疫邪先犯太陰，
當辨其口氣，無臭氣而不粘者，屬太陰寒症，有臭氣粘厚者，屬大陰疫症，
此為先裹而後表，不可遽用清涼閉遏邪氣，致使不能透達傳化，雖四肢有時厥逆，
脈有時沉伏，亦不可用溫熱，致增嘔症，甚有舌紫，沉昏者，惟當宣其胃氣，
藿香正氣散最宜，若已發熱而嘔者，吳氏達原飲加半夏，若三陽表症，加羌活，葛根，
柴胡，若嘔而煩渴，身熱而不見寒者，邪在陽明也，白虎湯，黃芩湯，並加半夏，
若嘔而舌黃，胸中有滿痛處，橘皮半夏湯，加枳實，山查，麥芽，川貝，貝母力緩，
用至五錢或一兩乃能舒鬱散結，若嘔而舌黃，心下臍上有滿痛拒按者，大柴胡湯，
若嘔而舌黃或黑，少腹有滿痛拒按，當視其前後何部不利，大便不利，調胃承氣湯，
小便不利，四苓加木通，或益元散，利之則愈，寒熱已解，二便通利，
胸腹無滯而嘔不止者，餘熱在胃也，竹葉石膏湯，屢經清下，倦怠異常，四肢漸冷者，
乃清下太過而中寒也，理中湯，甚至加附子，然此為治藥之法，非治疫之法也，
宜詳察之。</p>
<h3>欬</h3>
<p>欬者，疫邪夾他邪干肺也，有初起在表，夾風邪干肺者，脈兼浮，欬多痰沫，
必兼鼻鳴自汗，灑淅惡寒，於透表諸方中加前胡，桔梗，蘇子，杏仁，淡豉，
有夾水干肺者，不論表裹，脈必兼緩，欬必多清痰，兼舌白心悸胸滿，或嘔或吞酸，
於表裏藥中加桑皮，半夏，茯苓，川貝母，萊菔子，有疫熱傳裹，燥火熏肺者，
脈必數，欬必無痰，有痰亦難出而咽痛，於裏藥中加花粉，黃芩，川貝，蔞仁，
有病後陰傷肺燥者，脈必濇，欬必無力，舌必赤而無胎，吳氏清燥養榮湯加麥冬，
玄參，知母，貝母，有屢經汗下，或平素陰虛腎氣上逆者，欬必兼上氣，顴必時赤，
足膝必清痿，脈必散，六味加枸杞，五味，牛膝，疫邪兼欬者少，即有之，
亦非大有關係之症，宜以病之表裹大勢為主，
加治欬藥於本方療之。</p>
<h3>渴</h3>
<p>渴乃熱象，時疫為熱症而有不渴者，蓋初起濕熱相兼為蒸氣，熱未勝濕，
則鬱悶心煩而不渴，熱已大盛，在經而不在胃，則煩躁身熱而不渴，在下而不在上，
則便結而不渴，在血分不在氣分，則沉昏而不渴，疫邪初起在陰發者，
胸腹滿嘔而不渴，此外無有不渴者矣，初起在表，發熱頭痛舌白而渴，
脈必不浮不沉而數，六神通解散加石膏，葛根，或九味羌活湯加石膏，葛根，
半表牛裏，口苦咽乾目脹而渴，脈必數，小柴胡湯加花粉，知母，或亦加石膏，
或達原飲加石膏，葛根，邪已入胃作渴，身熱自汗，舌現黃胎，或醬色，或黑燥，
當察其胸脅少腹，按之無痛處而渴者，為有熱無結，脈必洪，宜白虎湯，按之有痛處，
為有熱有結，痛在心下，脈必滑大，關上尤甚，小陷胸湯，在臍上及當臍，
關中脈必滑大，小承氣湯，在臍下，尺中脈必滑大，調胃承氣湯，心下至少腹俱痛，
寸關尺必皆滑大，大承氣湯，痛在左脅不可按，左關脈必弦，或濇，或芤，
桃仁承氣湯，痛在右脅不可按，右關脈必弦，或滑，或遲，十棗湯，渴而小便不利，
少腹不可按，尺脈必數，四苓湯，豬苓湯，六一散，汗下後，身熱已除而渴不止，
餘邪未盡也，宜將前所用藥再作小劑以利之，屢經汗下，渴而舌上無胎，胸腹無滿痛，
心悸而煩，脈虛細，或浮芤，或濇，亡陰也，六味合生脈為主，渴與煩躁同機，
而渴輕於躁，渴有喜飲不喜飲，而又有喜熱飲冷飲之分，在他症不喜飲及喜熱飲，
則為真寒假熱，在時疫喜熱飲，多發斑疹，不喜飲者，熱在血分，若真寒假熱，
百不一見也，時疫初起，以渴為機括，渴甚則熱甚，渴微則熱微，在末路，
尤以渴為有餘邪，不渴為無餘邪也。</p>
<h3>口苦</h3>
<p>熱邪在中上二焦則口苦，非特時疫而然，即感風寒口苦，亦屬少陽熱症，
如時疫當惡寒發熱表症正盛時，苦見口苦，即於發表藥中倍加清熱之品，輕則黃芩，
重則知母，再重則石膏，不但三陽表症如此，即三陰裹症，手足冷，惡寒，嘔利，
胸腹滿，不渴，證狀似乎純冷無熱，而一兼口苦，即當於溫燥藥中加利熱之品，
如用半夏，蒼朮，草果，厚朴，必加木通，苓，澤，甚至加知母，黃芩，
本吳氏達原之義，口苦為熱症的據，每遇症狀模糊，寒熱莫辨，必借此以決之，
至舌胎黃黑乾燥，煩躁熱渴閉結，又清下之不可或緩者矣。</p>
<h3>口甘</h3>
<p>口苦口甘，同為熱證，苦為燥熱，在上中二焦，多渴，屬三陽，甘為濕熱，
在中下二焦，多不渴，屬三陰，蓋脾胃屬土，稼穡作甘，土邪下涉腎位，水土相蒸，
甘味上溢於口，多兼嘔吐，人每誤認胃寒而用溫中之劑，不知濕熱在於下焦，
土能剋水，溫燥太過，腎水告竭，總不見熱渴諸症，惟目不見物，漸至昏沉而死，
口甘一症，在諸症初起，猶可用溫燥開導之品，而亦不宜過劑，在時疫必以清熱為主，
消痰為輔，或胸中停飲太甚，亦不過加蒼朮，半夏而已，如二陳去甘草加薑汁炒山梔，
薑汁炒黃連，竹茹，黃芩等類，為口甘要藥，烏梅更妙，酸能勝甘，蓋五行剋制，
自然之理也，或四苓散加山梔亦得，然必以時疫之大勢，為用藥之權衡，斯可矣。</p>
<h3>唇燥</h3>
<p>唇燥者，陽明熱也，時疫見此，當辨其色，深赤為大熱，宜清下，淡白為亡津液，
宜滋潤，色如常，為津液不流通，熱在經脈，宜葛根。</p>
<h3>齒燥</h3>
<p>時疫齒燥有三，輕淺者為陽明經熱，前板齒燥，身熱目疼，鼻乾不得臥，
此將發斑疹及衄血之先兆，葛根為主，黃芩，知母，石膏為輔，重者為胃府燥熱，
通口皆燥，甚則黑如煤炭，三承氣，三黃石膏選用，重者為陰火煎熬，亡血太甚，
腎水涸竭，當峻補其陰，知母，黃柏，生地，元參，天冬，麥冬，丹皮，每味兩許，
大作湯液，加童便，金汁，晝夜兼進，若藥輕治緩，
則不及矣。</p>
<h3>鼻孔乾</h3>
<p>時疫鼻孔乾有四，風熱，則鼻鳴，荊防，葛根，薄荷為主，陽明經熱，則煩躁，
葛根，石膏為主，胃熱府症，則大渴舌黃，三黃石膏為主，亡津液，肺燥，麥冬，
生地，五味為主，大抵風熱經熱者十之五六，府熱亡液者十之二三，
非謂熱深而鼻孔反不乾也，以煩渴大熱症見，則不覺鼻孔之乾與否耳。</p>
<h3>耳聾</h3>
<p>耳聾者少陽邪熱夾痰上壅也，時疫耳聾者多，蓋邪之傳變，出表入裏，
必干少陽，又時疫屬熱，熱主上升，挾痰涎濁氣，上壅隧道，故耳聾也，
治法以疫邪大勢為主，見於初起傳表時，於表藥中加荊，防，川芎，見於入裹時，
於裏藥中加黃芩，知母，屢汗汗下，耳聾不愈，不可急治，養陰調胃為主，
須待粥食如常，二便調勻，始由漸而愈也。</p>
<h3>鼻如煙煤</h3>
<p>時疫鼻如煙煤者，邪熱爍肺也，由鼻孔乾而來，急當清下，少緩則肺胃枯絕矣，
三承氣合白虎，或三黃石膏加青黛，或小陷胸加犀角，或犀角大青湯，視其兼症，
擇   而用之。</p>
<h3>鼻扎扇張</h3>
<p>鼻孔扇張有三，一痰壅於肺，氣出入有聲，喘欬胸滿，不渴，宜瓜簍，貝母，
桑皮，蘇子瀉肺，肺氣通自愈，一鬱熱於肺，氣出入多熱，有微表束其鬱熱，
古人獨主越婢湯，蓋散其外束，清其內鬱也，用於時疫中，以葛根易麻黃，
或葛根黃芩黃連湯亦可，一腎氣虛而上逆，氣出人皆微，多死，此證必得之屢經汗下，
或兼多汗，心悸耳聾，急宜大劑六味合生脈散，加牛膝，枸杞，或可百救一二。</p>
<h3>咽乾</h3>
<p>咽乾者邪熱淫於膈上也，在傷寒為少陽熱證，時疫亦然，宜黃芩，
甚則佐以花粉，
知母。</p>
<h3>咽痛</h3>
<p>時疫咽痛，為熱淫於肺，當視其咽中有結無結，無結者微紅，以桔梗，花粉，
黃芩，元參治之，有結者紅腫，當加牛蒡，恭芍，消其腫，結甚則起紫泡白泡，
是為乳蛾，必以針刺去惡血，再服清熱之藥方妙，時疫中常有急喉風，
急喉痺二險症，旦發夕死，不可不察也，急喉風咽痛而喘，乃痰邪夾熱上壅於肺，
古方用膽礬吐其痰涎惡血，或皂角膏吐之，治之稍緩，則氣閉而死，
急喉痺即乳蛾速長，閉塞喉嚨，亦以刺去惡血為主，甚或用刀大開其膿血，
此雖見於時疫中，必其人平素貪厚味，多怒鬱，肝火妄動，有以致之也。</p>
<h3>舌燥</h3>
<p>舌乃心苗，腎竅通其本，脾脈絡其下，時疫舌燥，由火炎土燥，中宮堵截，
腎水不能上交心火，須察其胎之有無，與色之深淺施治，白胎而燥，疫邪在表，
痰已結於膈上，吳氏達原飲加石膏，川貝，蔞仁，大黃，此吳氏名白沙胎，
熱極不變黃色，下之即黃，不可緩也，黃色而燥，疫邪傳胃，小承氣，小陷胸，
大柴胡選用，醬色胎而燥，疫邪入胃，深及中下二焦，調胃承氣湯，黑胎而燥，
疫邪入胃至深，傷及下焦，大承氣湯，燥成塊裂，或生芒刺，熱更甚也，
大承氣倍其分兩，大黃須兩許方妙，各燥胎，下之漸減，不即盡淨，為藥已中病，
力未到耳，當再下之，有下至三五次十餘次而後愈者，若屢下而燥胎愈長，不可更下，
當察其腹中，若揉按作晌者，痰水結於中焦，脾胃受困，津液不能上潮，改用平胃，
二陳溫燥之劑即愈，又腎陰竭涸，愈下愈亡其陰，燥胎不回，目無神，耳聾，心悸，
腰痿，再下必死，宜六味地黃湯合出脈散，至無胎而煩，須辨其色，正赤或深紫，
熱歸心包，血分熱極，石膏，知母，黃連，犀角，羚羊角，牛黃為主，鮮紅亡陰，
二冬，生地，元參，知母，阿膠，人參為主，大抵舌無胎，則胃無物，可清潤，
不可攻下。</p>
<h3>舌強︵附舌痿︶</h3>
<p>時疫舌本強硬，為熱而兼痰，宜清下無疑，須加消痰之藥，兼白胎者，
隔間未經煎熬，其痰尚濕，佐以半夏，大柴胡湯是也，兼黃胎者，已經煎熬，
其痰漸燥，佐臥川貝，枯蔞，小陷胸湯是也，兼黑胎者，熱極，痰亦為火，
佐以牛黃方效，若無痰，舌色正赤，深紫裂燥而強者，熱毒蘊於心包也，
三黃石膏湯加犀角，牛黃，急清其熱，舌強雖與舌燥相類，而燥屬胃主熱，
強屬心主痰，又舌痿軟而枯小，與舌強硬而不縮有異，乃虛脫已極，大補及滋潤，
或百救一二，若屢經汗下消熱消痰而舌強者，又當與舌痿同治。</p>
<h3>舌卷短</h3>
<p>時疫之舌，一見黃胎，便當下，失下，則由黃而變醬色，變燥，變黑，
變生芒刺，再失下，則變卷，變短，為下證至急之際，宜大下屢下方和，緩則不救。</p>
<h3>胸滿痛</h3>
<p>時疫胸滿而不痛者，為邪未結，為無形之氣，稀薄之痰，痛而不滿者，
為病在經絡，有虛有實，有虛實相兼，滿而痛者，為邪已結，須分痰食血以施治，
屬無形之氣者按之不痛，時疫初起，邪在募原，多有此症，宜達原飲加枳，桔，木香，
大腹皮以開豁之，屬稀薄之痰者，時疫二三日，邪在半表半裏，多有此症，
宜達原飲加半夏，萊菔子，或小柴胡湯加萊服子，病在經絡，痛而不滿者，初起屬實，
於解表藥中加延胡，烏藥，舒其經絡之氣血，病久屢經汗下多虛，
於養氣血藥中倍當歸，更有虛中夾實者，於解表清裏藥中加乳香，沒藥最妙，
滿而痛不可按，邪已結矣，痰結者，牽引串痛，兼嘔，小陷胸湯，大柴胡湯，
或二方合用，甚則大陷胸湯，大陷胸圓，食結者，硬痛成塊不可按，多在心下，
宜平胃散加枳實，蘇子，萊菔子，白芥子，亦有在膈上者，為危症，當吐之，宜瓜蒂散，
此二者，不可便下，須待其轉動，方可下之，蓋結在上焦，屬氣分，下之太急，
則氣逆嘔吐，外用按揉之法為妙，血結者不可按，按之軟，脈芤濇弦，
宜於解表清裏藥中加桃仁，紅花，三七，歸尾，甚則桃仁承氣湯，時疫多實多熱，
至胸膈滿痛，又屬實邪，非虛症，惟是屢經攻下，胸痛更甚者，乃脾腎兩虛，
下氣上逆，宜溫理脾胃，以建中鎮安之，甚則導火歸元，納氣歸腎皆可，然不多見，
須消息斟酌，不可輕試。</p>
<h3>脅滿痛</h3>
<p>脅滿痛與胸滿痛同，而微有不同者，胸滿痛有宿食為病，胸滿痛無宿食為病，
乃亦有因宿食在胸，而滿痛及脅者，時疫脅滿痛，是痰氣血三者為病，
其中亦有滿而不痛，痛而不滿，滿痛並作之分，其滿而不痛者，募原之邪，未經傳變，
宜達原飲，兼寒熱往來者，大柴胡湯，痛而不滿者，邪分布於少陽之經，宜小柴胡湯，
滿痛並作者，當分左右，左屬血，小柴胡去人參加延胡，歸尾，紅花，桃仁，
甚者加莪朮，三稜，三七，五靈脂，右屬痰與氣，痰則大柴胡湯倍半夏，加牡礪，
萊菔子，甚則白芥子，甘遂，大戟，莞花，氣則加青皮，萊菔子，木香，大腹皮，
痰與氣痛，皆無常所，而有聚散，痰散，仍有所苦，氣散，則無所苦，
若屢經汗下清利而脅痛更甚者，虛證也，氣虛必嘔利，養氣為主，血虛必煩熱，
養血為主，此亦十中一二，脅痛與胸腹痛不同，胸腹譬之衝衢，塞不能久，
脅則譬之僻巷，塞則難開，用藥須明此意，時疫脅痛，雖有痰氣血之殊，而總不離乎熱，
黃芩是為主藥，若別有熱者，黃連，山梔，又所必需，他病脅痛，有寒有熱，
不在此例。</p>
<h3>腹滿痛</h3>
<p>時疫腹滿痛屬宿食，為邪熱所結者十之七八，屬氣血痰水者十之二三，
蓋腹為胃典小腸之正界，非胸脅少腹之地可比，腹滿而不痛者，屬邪在氣分，
屬水穀散漫而未燥結，氣分脈多沉或弦，水穀脈滑，氣分通腹皆滿，水穀滿有分界，
氣分者，厚朴，大腹皮，青皮，陳皮，枳桔為主，水穀者，半夏，山查，麥芽，神麵，
萊菔子，枳實為主，時疫為熱症，腹滿亦當清熱，兼以順氣消食可也，若舌多黃胎，
雖滿而不痛，為邪已傳胃，宜小承氣湯下之，痛而不滿者，屬邪在血分，
屬水穀燥結諸病，他病或有屬冷者，時疫總屬熱症，痛不可按而無硬處者，
於清裏方中加赤芍，不可按而有硬處者，調胃承氣湯，滿痛兼作，為痞滿在氣，
燥實在血，大實大熱之症，大承氣湯，諸病腹滿痛，或兼自利，當責之虛冷，
時疫自利，屬熱結旁流，下之則止，不可疑為虛冷，若滿痛而喜燥喜溫，
或惡寒手足冷，清利之益甚，或右關遲緊，此非本病，乃因煩渴飲冷太過，
或用清涼太過，太早之所致，又當以溫燥為主，不可執一，然此亦治藥弊，
非治本病也。</p>
<h3>少腹滿痛</h3>
<p>時疫少腹滿痛，為邪熱結於下焦，下焦乃大腸膀胱及厥陰分界，與中焦異，
亦有滿而不痛，痛而不滿，滿痛兼作之不同，初起滿而不痛者，濕勝氣滯也，檳榔，
厚朴，蒼朮為要藥，痛而不滿者，手不可近，熱傷厥陰血分也，黃芩以清熱，
赤芍，歸尾以活血，柴胡以升厥陰之氣，若牽引陰器及兩胯夾縫者，加秦艽即愈，
滿痛兼作者，不論初起末後，當視其前後，在前小水不利，畜水也，四苓，豬苓，
益元等方選用，在後大便不利，有燥矢也，三承氣選用，小便利而大便色黑者，
畜血也，抵當湯，桃仁承氣湯選用，以大小便之通塞為辨，固矣，亦當細察其滿痛，
如有硬塊不可按者，屬燥矢，滿痛如鼓，不可按而卻無塊者，屬溺畜脬中，
滿痛拒按而軟者，屬畜血，以此辨之了然矣，外有時疫末路，滿而不痛，痛而不滿，
喜溫喜按者，為虛證，當細詢來路，若屢經清下太過，當消息溫補以培養陰陽，
不可執時疫為實邪熱證而不變通也，然此亦十中一見耳。</p>
<p>右滿痛諸症，乃時疫裏症之大端，總屬熱邪內陷，在風寒暑濕諸門，
則寒熱虛實俱有，在時疫已經傳變，見於煩渴燥熱既顯之後，其為熱症易辨，
若見於未經傳變之先，乃疫毒鬱而未發，多不渴，多不發熱，甚有手足反厥冷者，
依風寒治則當溫，依時疫治則當清，毫釐千里，反掌生死，當於氣，色，神，脈，
舌胎五者，細察而 詳辨之。</p>
<h3>自利</h3>
<p>時疫自利皆熱症也，其所利之物，與內虛內冷者自別，冷利之色淡白，
熱利之色正黃，甚有深黃醬色者，冷利稀薄，熱利稠粘，虛冷利，散而不臭，
熱利臭而多沫，虛冷易出，熱症努圊，冷利緩，熱利暴注下迫而裏急，
此辨時疫熱利與諸冷利之大概也，時疫初起，有手足厥冷，惡寒，嘔吐，腹痛自利者，
全似太陰寒症，辨其為疫，只在口中穢氣作黏，舌上白胎粗厚，小便黃，神情煩躁，
即可知其非寒中太陰，是時疫發於太陰也，煩躁輕，則藿香正氣散，煩躁甚，
則用達原飲，一二服後，即見三陽熱症矣，此時若用溫中藥，轉見四肢厥冷，
手足青紫而死，不可不細察也，時疫初起，頭疼發熱而自利，九味羌活湯，
傳變太陽少陽合病，身熱口苦，咽乾目眩而自利者，黃芩湯，兼嘔加半夏，傳裏，
舌黃讝妄而自利者，按其心下至少腹有硬痛處，與大承氣湯，無硬痛處，小承氣，
小陷胸，大柴胡選用，此在下其熱，不必以結為主，故雖無硬痛，亦主大黃，
時疫也利而小便不利，腹滿而無硬塊，時作腸鳴者，熱在小腸膀胱而畜水也，四苓散，
豬苓湯，益元散選用，時疫自利，受補者少，至屢經清下，無表裏證，
自利漸至清穀而脈微細者，則六君子湯，補中益氣湯，理中湯，又所當酌用也。</p>
<h3>便血</h3>
<p>時疫便血，熱邪深入也，先當辨其血色，鮮紅者清熱為主，黃芩湯，
三黃石膏湯，犀角地黃湯，血色紫黯成塊下者，逐瘀為主，桃仁承氣湯，抵當湯，
須按腹脅有痛處，用之為確，時疫便血，散晦夾涎水者，脾胃虛而臟府傷也，歸脾，
補中，八珍可借用，並加烏梅，時疫便血之後，多亡陰症，神昏耳聾，舌無胎而燥，
身痛不可轉側之類皆是，生脈，六味加阿膠，峻補其陰，然多不救也。</p>
<h3>便膿血</h3>
<p>時疫便膿血，與便血有燥濕之分，便血屬燥熱，涼潤為主，便膿血屬濕熱，
清熱兼分利為主，時疫初起，頭痛發熱便膿血者，即古所謂疫痢是也，不必治膿血，
但解其表，表解則便數自減，決不可早施清裏攻下之藥，即分利清涼，亦所當慎，
蓋邪方在表，清裏邪則內陷深入，後極難治，且時疫一見便膿血，
則煩渴之熱勢反緩，蓋熱隨利減也，所以苦寒之品，不可浪用，惟以倉廩湯為主，
詳見夾痢條下，時疫傳變，至半表半裹便膿血者，柴葛解肌湯加苓，澤，木通，黃芩，
時疫傳變入裏，煩渴讝妄悉具而便膿血者，黃芩湯，葛根芩連湯選用，
兼裏急後重腹中拒按者，加檳榔，大黃，時疫屢經攻下而便膿血滑利者，
當以養中調氣養血為主，清熱為佐，老人虛人，亦倣此例。</p>
<h3>大便閉</h3>
<p>時疫屬濕熱，大便閉者少，間有閉者，乃平素胃陽強盛，多躁氣也，
夫本來陽盛，復受時疫，則濕熱皆變為燥熱，雖兼表症未得汗，可下，
以時疫與傷寒不同，傷寒邪從表入，有表證未得汗，必不可攻裏，時疫邪從內發，
雖有表證，每每發表而不得汗，必待裏氣通，而後表始得汗，所以時疫大便一閉，
即有表證，亦當下之，不可逡巡也，若初起未經表散，則當用三消飲，下之為當，
有表證，尚可下，則煩渴讝妄，舌胎黃黑燥裂卷短，胸腹硬痛諸症備見，
更當分別輕重下之無疑，又有大便閉而屢下不通者，則必有夾邪，當審之，有夾水者，
水在腸中，則不下而自利，水在胃脘以上，則脈多弦多緩，往往上嘔而不下利，且舌白，
而心下按之作響，雖用承氣，不能下行，故下之不通，當先用半夏，茯苓，
蒼朮消其水，而後下之，亦有可用大陷胸湯者，必胸上痛而手不可近，方能藥興邪敵，
有夾氣者，氣滯於胸膈之間，主上逆而不下降，胸腹串痛而脈沉，當先以蘇子，
萊服子，木香，檳榔，順其氣而後下之，有氣虛而屢下不通者，屬老人虛人，
其脈必兼無力，其色必悴，其肌肉必緩，其神必散，若下症全具，當與大承氣加人參，
一服而宿垢頓下，或陶氏黃龍湯，或麻仁丸參湯下，酌以裏症之多寡用之，
有血虛而屢下不通者，屬婦人產後，癱疽潰後，或平素陰虛，及亡血，其脈必兼濇，
四物，六味，生脈，及吳氏諸養榮方，麻仁丸選用，仍須蜜煎豬膽汁導之，大凡時疫，
大便一閉，即當下之，然須詢其有無所苦，若無所苦，下尚可緩，有所苦而下之不通，
又須察有無夾邪及虛也，當下者十之五，可緩者十之三，夾邪者十之一耳，時疫如此，
他病則不然，古語云，傷寒下不厭遲，時疫下不厭早，誠哉斯言也。</p>
<h3>小便不利</h3>
<p>時疫初起在表時，頭痛發熱小便不利者，熱入膀恍也，益元散主之，四苓散，
豬苓湯皆可用，東垣云，小便不利而渴者，熱在上焦，法當淡滲，
小便不利而不渴者，熱在下焦，法當苦寒，此可為據，時疫傳裏，大便閉而小便不利者，
當先通大便，大便通，小便自利，此惟時疫為然，他病則否，時疫屢經汗下，
小便不利者，陰竭也，為難治，知母，黃柏，生地，麥冬之類治之，或生脈六味皆可，
然每至少腹如豉而不救也，凡小便不利，日久下關不通，必反於上，往往有嘔吐呃逆，
涓滴不能下咽，至湯藥不進者，當用敷臍法，大田螺一枚搗爛，入麝香三釐，敷臍上，
帛束之即通，一見點滴，即受湯藥，古法有用蔥熨，及井底泥敷少腹者，俱可參用，
但不宜於陰竭之虛人耳。</p>
<h3>小便黃赤黑</h3>
<p>時疫未傳變時，小便多如常，熱一傳入裏則黃，熱甚則赤，熱入血分，
畜血則黑，小便可驗裏熱之有無深淺多寡，但不可以作專症，疫邪在表，小便黃，
即於解表中加清涼藥，邪入裏小便黃赤，雖手足厥冷，亦當攻裏逐熱，疫邪已退，
表裏俱和，小便黃赤未退，仍當清利餘邪，惟小便黑者，當逐瘀清熱為主，
犀角地黃湯加大黃等類，有屢經汗下，清涼太過，表裏俱無熱邪，
而滑瀉腹痛小便黃赤者，當理脾升陽為主，亦治藥，非治病也。</p>
<h3>小便多</h3>
<p>時疫為濕熱，小便多者甚少，傳裏之後，或有小便多者，乃胃土變為燥熱也，
急下之，屢經下後小便多者，氣虛也，益氣升陽為主，亦有腎虛而小便多者，
六味地黃湯加五味子，大抵未下之先小便多者，屬燥熱，小便必微黃，必煩熱，
渴而喜飲，既下之後小便多者，屬虛，氣虛則不喜飲，而寸脈不及尺，浮不及沉，
陰虛則喜飲，而尺脈不及寸，沉不及浮，失治日久，則變消渴，時疫小便多者如此，
若夫風寒小便多，則屬陽虛，不在此例。</p>
<h3>遺尿</h3>
<p>時疫初起遺尿者，多屬三陽合病，蓋邪人於陽，則陽實而陰虛，熱盛於表，
裏為之不守，又神昏於上不自知其下部之出入，故遺尿也，合之腹滿身重，
口不仁而面垢讝語，仲景獨主白虎湯，此症不可下，以邪方全盛，在表在經，
下之則表邪內陷，故額上生汗，手足逆冷，尤不可汗，以邪本屬熱，汗之則愈增其熱，
故心憒憒，反作讝語，惟以白虎湯清其浮越之熱，若別兼燥結鞕痛者，
可於本湯內加大黃下之。</p>
<h3>囊縮</h3>
<p>時疫囊縮乃熱入於厥陰也，有結有熱則下，有熱無結則清，熱退而囊自縱矣，
陰症囊縮，與時疫頗相類，以陰症囊縮，必身冷厥逆脈沉，時疫囊縮，
亦身冷厥逆脈沉也，然一寒一熱，自有不同，陰症囊縮，陰莖痿縮，或全縮入腹，
有加婦人，時疫熱厥囊縮，陰莖如常，再以兼症辨之，陰症囊縮小便清，少腹牽引痛，
痛而不滿，喜溫按，多自利，神清不煩，時疫囊縮小便赤，少腹滿而硬痛拒按，大便秘，
煩而 神昏。</p>
<h3>多言</h3>
<p>時疫多言者，讝語之漸也，疫熱蒸心之所致，治同讝語。</p>
<h3>讝語</h3>
<p>讝語者熱蒸心也，時疫一見讝語，即當清熱，然有經熱蒸心而讝語者，
邪在三陽，表症多有之，脈浮大，頭痛發熱舌白者是，吳氏三消飲最當，
六神通解散，九味羌活湯，防風通聖散，白虎湯，梔子豉湯皆可選用，
有膈熱蒸心而讝語者，脈洪身熱，汗出不惡寒反惡熱，胸中無結者是，白虎湯，
黃芩湯選用，有痰涎搏結，其熱聚於中上二焦而讝語者，脈弦滑，
胸痛及心下痛拒按者是，小陷胸湯，大柴胡湯選用，有胃熱蒸心而讝語者，脈滑實大，
舌黃，及黑，及燥，及芒刺，腹滿拒按者是，三承氣湯選用，輕者只用平胃散加山查，
麥芽，蘿蔔子即效，有熱入血分而畜血，血熱蒸心而讝語者，脈沉結或濇，
心下至少腹凡有痛處拒按而軟者是，犀角地黃湯，桃仁承氣湯，抵當湯選用，
有熱入小腸膀胱，畜水之熱上蒸心而讝語者，脈浮數，少腹滿，小便不利者是，
四苓散，豬苓湯，益元散選用，以上皆實症讝語也，至若屢經汗下清利，二便已清利，
胸腹無阻滯，六脈虛散結代微弱而讝語者，陰陽兩虛，神無所倚也，虛在上焦，
必心悸神倦，生脈散加棗仁，天王補心丹，虛在中焦，必面色痿黃，四肢倦怠，
歸脾湯，虛在下焦，必耳聾目直視，六味地黃湯加遠志，五味，龍骨，茯神。</p>
<h3>狂</h3>
<p>時疫發狂者，讝語之甚者也，亦疫熱蒸心之所致，治同讝語。</p>
<h3>善忘</h3>
<p>時疫善忘者，畜血之所致也，畜血在上焦，其脈芤，胸前及心下必痛，
必拒按而軟，犀角地黃湯主之，畜血在中焦，其脈或芤，或弦，或濇，兩協及臍上，
必有痛處拒按而軟，桃仁承氣湯主之，畜血在下焦，其脈必沉結，
臍下必有痛處拒按而軟，抵當湯主之，善忘雖為畜血主症，然必驗之大小便，屎雖鞕，
大便反易，其色必黑，小便自利，方為畜血之的證，否則，
仍當參之多言讝狂諸法治之。</p>
<h3>沉昏</h3>
<p>時疫沉昏，熱入至深，極險症也，蓋熱初蒸及心之經，則心神不安，多夢囈，
醒時自清，蒸心之經漸深，則心神漸煩，多言，所言皆日用當行之事，無糊塗語，
蒸及心包，則精神間有昏處，多言間有糊塗語，猶清白語居多，迨蒸心包漸深，
則心神昏處居多，言多妄見妄聞，甚至疑鬼疑神，非人所見聞者，猶省人事也，
至熱直入心臟，則沉昏全不省人事矣，此熱入淺深之次第，見證輕重之辨也，
所以多言讝語，熱之浮淺者，梔，芩，知，膏可解，發狂，熱之深結者，硝，黃可解，
至沉昏，熱之至深者，非犀角，黃連，羚羊角，牛黃莫能解也，沉昏雖係熱深，
更有夾痰氣，夾胃結，夾血結之分，胸滿舌白，係夾痰氣，當加川貝，瓜蔞，半夏，
萊服子於犀，連諸藥中，舌黃及燥黑，腹滿硬痛者，當加犀，連於三承氣湯中，
痛而軟者畜血，加桃仁，丹皮，赤芍於犀，連藥中，治沉昏之大法備矣，以上皆實症，
更有虛症，亦所當知，屢經汗下清利之後，表裏無熱，胸腹無阻，二便自利，
而神情由倦而漸昏，由昏而漸沉，乃大虛之危症，大劑生脈散加桂，附，耆，朮，
苓，芍，急救其陰傷，亦不逮矣。</p>
<h3>循衣摸床撮空</h3>
<p>時疫循衣摸床撮空者，熱盛神昏而四肢實也，當察其舌，舌胎白或無胎，
有熱無結也，犀角，黃連，石膏為主，舌有燥胎，或黃黑燥裂芒刺，有熱有結也，
大黃，芒硝為主，屢經汗下後，胸脅仍有拒痛者，邪未盡也，仍宜清利，無拒痛者，
陰虛而陽亢也，生地，麥冬，棗仁，茯神安神為主。</p>
<h3>多睡</h3>
<p>時疫初起多睡，兼身重者，熱邪阻滯其經脈也，有汗，白虎湯，無汗，
或加麻黃，屢經汗下後，表裏熱愈甚，二便俱利而身痛多睡者，陰傷也，四物，六味，
生脈三方合用，大劑養陰方效，失治即危，服此數劑，身痛已和，
表裏熱退而仍多睡者，於三方中加生棗仁即愈，若夫平素脾虛多睡，多痰嗜睡者，
一受疫症必更嗜睡，當   於時疫藥中參之以理脾消痰之品。</p>
<h3>身冷</h3>
<p>諸病身冷，皆屬陰症，在峙疫多屬熱症，須從氣，色，神，脈，
舌胎中辨其端倪，果係時疫，則當分初中末以治之，不可紊也，時疫初起，
往往有身冷自利，腹痛作嘔，全似陰症者，若舌有厚白胎，身有穢氣，心煩多汗，
面色油垢，小便黃短數，有一二證現，便是疫邪直入太陰，先裏後表，非真陰寒症，
兼嘔利，藿香正氣散，四苓散，無嘔利，達原飲，服一二劑後，即發勢矣，
時疫傳變發熱之後，讝妄沉昏，舌燥，腹滿，便秘，而身冷者，先表後裏症，三承氣，
大柴胡選用，無結症者，白虎湯，時疫末路，屢經汗下，表裏無邪，胸腹無滯，
二便自和而身冷者，當以脈為主，脈虛細不振者，用藥太過而成脫症也，急宜溫補，
少緩即死，生脈散加耆，朮，苓，芍，平捕陰陽，冷甚者加熟附子，時疫身冷一症，
最難下手，初起時，若寒熱不辨，且勿妄投湯劑，當少待之，多則一二日，少則半日，
多有自行傳變，即發熱煩渴者，此時則易於用藥，若已經發熱傳變之後，變為身冷，
則自有口燥舌乾，不得臥諸症在，此時藥不可緩，緩則熱深厥深，雖下後厥回，
往往亡陰而死，身冷與惡寒不同，而病機頗同，當與惡寒條參看。</p>
<h3>呃逆</h3>
<p>時疫呃逆與傷寒不同，傷寒呃逆，虛實寒熱俱有，時疫呃逆惟熱結下焦而已，
凡見呃逆，即當下之，下之不止，按其臍腹有硬痛拒按處，仍當下之，
有下至十數次方止者，總之逐盡結熱，腸胃通達，其呃自止，慎不可用丁香柿蒂湯，
治呃而遺結熱，致成危證也。</p>
<h3>吐蚘</h3>
<p>傷寒吐蚘，多寒熱錯雜，時疫吐蚘，則有熱無寒，治此症之當汗，當清，當下，
一以傳變之大勢為主，惟加烏梅，黃連以安之，慎勿用烏梅圓中諸辛熱藥，
致成危篤 也。</p>
<h2>廣瘟疫論卷之四</h2>
<h3>汗法</h3>
<p>時疫貴解其邪熱，而邪熱必有著落，方著落在肌表時，非汗則邪無出路，
故汗法為治時疫之一大法也，但風寒汗不厭早，時疫汗不厭遲，風寒發汗，
必兼辛溫辛熱以宣陽，時疫發汗，必兼辛涼辛寒以救陰，風寒發汗，治表不犯裏，
時疫發汗，治表必通裏，其不同有如此，故方疫邪傳變出表時，輕者，
亦可得表藥而汗散，若重者，雖大劑麻黃，羌，葛，亦無汗也，以伏邪發而未盡之故，
亦有不用表藥，而自汗淋漓，邪終不解者，蓋此汗緣裏熱鬱蒸而出，乃邪汗，
非正汗也，必待伏邪盡發，表裏全徹，然後或戰汗，或狂汗而解，
所謂汗不厭遲者此也，幸涼發汗，則人參敗毒散，荊防敗毒散之類是，辛寒發汗，
則大青龍，九味羌活，大羌活之類是，發表兼通裏，則吳氏三消飲，六神通解散，
防風通聖散之類是，更有不求汗而自汗解者，如裏熱閉甚，用大承氣以通其裏，
一不已而再，再不已而三，直待裏邪逐盡，表裏自和，多有戰汗而解，
此不求汗而自汗解者一，反如裏熱燥甚，病者思得涼水，久而不得，忽得痛飲，
飲盞落枕而汗大出，汗出即解，此不求汗而自汗解者二，又如平素氣虛，
屢用汗藥不得汗，後加人參於諸解表藥中，覆杯立汗，此不求汗而自汗解者三，
又如陰虛及奪血，枯竭之極，用表藥全然無汗，用大滋陰潤燥生津藥數劑，
而汗出如水，此不求汗而自汗解者四，總之疫邪汗法，不專在乎升表，而甘乎通其鬱閉，
和其陰陽，鬱閉在表，辛涼辛寒以通之，鬱閉在裏，苦寒攻利以通之，
陽亢者飲水以濟其陰，陰竭者滋潤以回其燥，氣滯者開導，血凝者消瘀，
必察其表裏無一毫阻滯，乃汗法之萬全，此時疫汗法，理不同於風寒，謹撮諸汗症，
詳列於左。</p>
<p>發熱、惡寒、無汗、頭項痛、背痛、腰痛、肩臂痛、膝脛痛、周身肢節痛</p>
<h3>下法</h3>
<p>時疫下法，與傷寒不同，傷寒下不厭遲，時疫下不厭早，傷寒在下其燥結，
時疫在下其鬱熱，傷寒裏症當下，必待表症全罷，時疫不論表邪罷與不罷，
但兼哀症即下，傷寒上焦有邪不可下，必待結在中下二焦方可下，
時疫上焦有邪亦可下，若必待結至中下二焦始下，則有下之不通而死者，
傷寒一下即已，仲景承氣諸方，多不過三劑，時疫用下藥，至少三劑，
多則有一二十劑者，時疫下法有六，結邪在胸上，貝母下之，貝母本非下藥，
用至兩許即解，結邪在胸及心下，小陷胸下之，結邪在胸脅連心下，大柴胡湯下之，
結邪在臍上，小承氣湯下之，結邪在當臍及臍下，調胃承氣湯下之，痞，滿，燥，
實三焦俱結，大承氣湯下之，此外又有本質素虛，或老人，久病，或屢汗屢下後，
下證雖具而不任峻攻者，則麻仁丸，蜜煎導法，豬膽導法為妙，下法之輕重緩急，
總以見證為主，詳列於後。</p>
<h4>急下證</h4>
<p>舌乾、舌卷、舌短、舌生芒刺、舌黑、齒燥、鼻如煙煤、胸腹滿痛、狂、沉昏、
發熱汗多、身冷、呃逆</p>
<h4>當下證</h4>
<p>舌黃、讝語、善忘、多言、協熱利、頭脹痛、煩躁</p>
<h4>緩下證</h4>
<p>舌淡黃胎、微渴、大便閉、小便黃赤、潮熱、齒燥</p>
<p>以上諸症，緩下者不下，則必漸重而為當下症，當下者緩下，
則必加重而為急下症，急下者失下，則後雖下之，多不通，而致結熱自下逆上，
脹滿直至心下，又逆上透過膈膜有至胸滿如石，咽喉鋸響，目直視反白，或睛盲，
瞳散，耳聾，九竅不通，雖有神丹，莫之能救矣，外更有畜血畜水諸證下法，
前已散見諸條，茲再詳列 以便翻閱。</p>
<h4>畜水證</h4>
<p>小便不利、大便微利</p>
<h4>畜血證</h4>
<p>小便自利、大便黑、他若畜水畜血，在胸脅不當下者，此不贅。</p>
<h3>清法</h3>
<p>時疫為熱證，未有不當清者也，其在表宜汗，使熱從汗洩，汗法，亦清法也，
在裏宜下，使熱從下洩，下法，亦清法也，若在表已得汗而熱不退，
在裏已下而熱不解，或本來有熱無結，則惟以寒涼直折，以精其熱而已，
故清法可濟汗下之不逮，三者之用，可合而亦可分，時疫當清者十之六七，
則清法不可不細講也，凡清熱之要，在視熱邪之淺深，熱之淺者在營衛，以石膏，
黃芩為主，柴胡，葛根為輔，熱之深者在胸膈，花粉，知母，蔞仁，梔子，豆豉為主，
熱在腸胃者，當用下法，不用清法，或下而兼清亦可，熱入心包者，黃連，犀角，
羚羊角為主，熱直入心臟，則難救矣，用牛黃猶可十中救一，須用至錢許，少則無濟，
非若小兒驚風諸方，每用分許，即可有效，當清諸症，謹列於左。</p>
<h4>熱在營衛證</h4>
<p>身熱汗自出、不惡寒反惡熱、身重、頭面項紅腫、周身紅腫、斑疹、鼻孔乾、唇燥、
煩躁、遺尿、舌胎白</p>
<h4>熱在胸膈證</h4>
<p>身熱反減、渴、嘔、欬、咽乾、讝語、多言、胸前紅腫、舌胎厚白</p>
<h4>熱在腸胃證</h4>
<p>便血、便膿血、餘悉見下證條中</p>
<h4>熱在小包及心證</h4>
<p>狂、沉昏、多睡、舌黑</p>
<h3>和法</h3>
<p>寒熱並用之謂和，補瀉合劑之謂和，表裏雙解之謂和，平其亢厲之謂和，
所謂寒熱並用者，因時疫之熱，夾有他邪之寒，故用此法以和之也，
凡方中有黃連與生薑同用，黃芩與半夏同用，石膏與蒼朮同用，
知母與草果同用者皆是，所謂補瀉合用者，因時疫之邪氣實，人之正氣虛，
故用此法以和之，凡方中有參，耆，歸，芍與硝，黃，枳，朴同用者是，
所謂表裏雙解者，因疫邪既有表症，復有裏症，故用此法以和之，凡方中有麻，葛，
羌，防，柴，前，與硝，黃，梔，芩，苓，澤，枳，朴合用者是，所謂平其亢厲者，
因時疫之大勢已去，而餘邪未解，故用此法以和之，或用下法而小其劑料，緩其時日，
或用清法而變其湯劑，易為丸散者皆是，凡此和法，雖名為和，實寓有汗下清補之意，
疫邪尤有宜和者，凡熱不清，用清涼藥不效，即當下其熱之所附麗，蓋無所附麗之熱，
為虛而無形之氣，如盛夏炎蒸，遇風雨即解，故人身之熱，氣清即退，有所附麗之熱，
為實而有物，加洪爐柴炭，雖沃以水，尤有沸騰之憂，必撤去柴炭而熱始退，
凡熱之所附麗，非痰即滯，非滯即血，徑清其熱，不去其物，未能有效，
必視其附麗何物，於清熱諸方加入何藥，效始能捷，此和法，之精微神變者也，
宜和之症，詳列於左。</p>
<p>寒熱往來、盜汗、口苦、咽乾、頭眩、舌強、渴胸脅滿、耳聾、小便黃、嘔吐、
下利而心下痛、口乾舌強而惡寒、大小便閉而寒熱、痞滿而悸、二便自利而舌胎、
形體瘦損而舌胎、凡此表裏虛實寒熱相兼者，不可枚舉，引此數端，可以類推，
其有似和而實非和證者，詳後辨似條。</p>
<h3>補法</h3>
<p>時疫本不當補，而有屢經汗下清解不退者，必待補而愈，此為病藥所傷，
當消息其所傷，在陰在陽，以施補陰補陽之法，疫邪為熱症，傷陰者多，
然亦有用藥太過而傷陽者，則補陰補陽，又當酌其輕重，不可偏廢，
凡已經汗下清和而煩熱加甚者，當補陰以濟陽，所謂寒之不寒，責其無水者是，六味，
四物，生脈，養榮諸方酌用，當其汗下清和，熱退而昏倦痞利不止者當補陽，
所謂養正以卻邪者是，四君，異功，生脈，六君，理中，建中，附子等方酌用，
諸症詳後。</p>
<h4>當補陰證</h4>
<p>舌乾無胎、舌黑無胎、耳聾、目直視、目不明、服清涼藥渴不止、服清涼藥煩熱加甚、
服攻下藥舌胎愈長、服攻下藥舌胎芒刺燥裂愈甚、服清涼藥身熱愈甚、身體枯瘦、
用利水藥小便愈不通、腰膝痿軟、周身骨節痛不可移動、多睡</p>
<h4>當補陽證</h4>
<p>多冷汗、汗出身冷經日不回、小便清而多、大便利清豰、嘔吐用清熱開導藥愈甚、
自利用清下藥愈甚、痞滿，外此，更有四損，四不足，三復症，當補詳見後。</p>
<h3>四損</h3>
<p>大勞，大慾，大病，久病後為四損，氣血兩虛，陰陽並竭，復受疫邪，
正虛則邪入愈深，邪深則傳化難出，汗下傷正而正脫，補助鬱邪而邪錮，多不可治，
然補瀉兼施，間有愈者，有補瀉合用之法，有先補後瀉之法，有先瀉後補之法，
凡人參敗毒散，人參白虎湯，黃龍湯，竹葉石膏湯，皆補瀉合用之法也，先用補劑，
後施汗下，先補後瀉之法也，先用汗下，後施補劑，先瀉後補之法也，當詢病之來路，
斟酌施治，尤當審現在之症，若純見實證，亦不可以疑似之見誤人，
大凡周身俱見大實大熱之症，而一二處微見虛象，則吃緊照顧其虛，周身俱見虛象，
而一二處獨見實症，則吃緊斡旋其實，此治病之權衡也，若夫汗之而表症愈增，
如頭痛身痛更甚之類。清下而裏症愈增，如煩渴痞滿更甚之類，則大虛有盛候也，
急宜補之毋疑，既辨其症，尤當細辨其脈，凡遇脈之浮候盛大者，
須謹察其沉候有無力處，六部脈皆盛者，須謹察其一部有獨無力處，
果得其一部一候之真無力，便可略其諸部諸候之假有餘，從而施治，有獨見若神之妙，
夫既詢得其來路之大概，又察得其輕重之確憑，再加之脈理精詳，則燭照無遺矣，
其損證之狀甚多，當參後四不足條看。</p>
<h3>四不足</h3>
<p>四損由人事，四不足由天稟，四損在暫時，四不足在平素，
然四不足亦有由四損而來者，不可以四損之外便無不足，四不足者，氣血陰陽也，
氣不足者，少氣不足以息，語言難出也，感邪雖重，反不成脹滿痞塞，凡遇此症，
縱宜宣伐，必以養氣為主，血不足者，面色痿黃唇口刮白也，感邪雖重，
面目反無陽色，縱宜攻利，必以養血為主，陽不足者，或四肢厥逆，或肌體惡寒，
恆多泄瀉，至夜益甚，或口鼻冷氣，受邪雖重，反無發熱胎刺燥渴，凡遇此等症，
縱欲攻利清熱，必先之以溫補，待其虛回，實症全見，然後以治實之法治之，陰不足者，
自然五液枯乾，肌膚甲錯，感邪雖重，應汗無汗，應厥不厥，遇此等症，縱宜攻利，
必先之以養陰，待其氣化津回，邪多不治自退，設有未退，酌用清利，攻利若早，
其病益甚，以上四不足，合前條四損，總不可正治其邪，必以養正為要，先服養正藥，
待其實症悉見，方可攻邪，若服攻邪藥，虛症復見，仍當調補其虛，養正以和邪，
袪邪以安正，互相加減，迭為進退，直待邪盡去而正不傷，方為善治。</p>
<h3>三復</h3>
<p>三復者，勞復，食復，自復也，勞復者，大病後因勞碌而復也，不必大費氣力，
即梳洗沐浴亦能致復，復則復熱，諸證復起，惟脈不沉實為辨，輕者靜養自愈，
重者必大補以調其營衛，和其臟府，待其表裏融和方愈，誤用攻下清涼，必致不救，
安神養血湯主之，若因飲食過多而復者，舌胎必復黃，輕則損穀自愈，重則消導始愈，
若故自復者，乃伏邪未盡也，當問從前所見何證，服何藥而解，
今仍用前藥以滌其餘邪則愈，時疫復症，有復至再三者，屢復之後，
必兼四損四不足症，宜參前 條加減進退之法治之。</p>
<h3>辨似</h3>
<p>凡病皆以虛實寒熱四字為大綱，時疫何獨不然，但虛實寒熱之真者易辨，
似者難辨，前所列時疫表裏諸證，皆實邪熱邪，而實熱中亦有虛寒，四損四不足，
皆虛邪寒邪，而虛寒中亦有實熱，余於逐條下已細辨之矣，然有實症似虛，虛症似實，
熱症似寒，寒症似熱，尤不可不細辨，故復通論而詳述之，所謂實症似虛者，
即以表症論之，頭痛發熱邪在表也，其脈當浮，證當無汗，而反自汗，脈無力，
用發表藥而身反疼痛，則似虛矣，故人惑於多自汗而誤用桂枝湯者有之，
惑於脈無力而引仲景太陽篇，發熱惡寒脈微弱為無陽，而誤用建中湯者有之，
惑於身疼痛，而引仲景若不瘥身體疼痛當溫其裏，誤用四逆湯者有之，不知此等症，
在時疫中，皆在表實症之似虛者也，其自汗者疫熱自裏蒸出於表，非表虛也，
其脈無力者，熱主散漫，散漫則脈軟，非比寒主收斂而脈緊也，身體反疼者，
伏邪自裏而漸出於表，非比陽虛不任發表也，此表症之實症似虛者也，
又以半表半裏論之，寒熱往來胸脅滿，邪在半表半襄也，其脈當弦，其口當渴，
而有脈反沉口不渴者，則似寒矣，故人惑於脈沉，而以胸脅滿為太陰，口不渴為內寒，
而誤用理中者有之，不知此症，在時疫中，皆半表半裏熱症之似寒者也，其脈沉者，
邪伏在募原而未出表，故脈不浮，非陽虛也，其不渴者，邪未傳變，未入胃府，
故不能消水，非內寒也，此半表半裏之似寒者也，又以裏症論之，口燥咽乾不得臥，
邪在裏也，其脈當滑，其身當熱，其便當結，〔按滑當作洪，經云，滑者，陰氣有餘也，
主痰飲宿食吐逆諸症，洪為氣血燔灼之候，主煩，主咽乾，表裏俱熱，二便濇，
傷寒陽明經病〕，而脈反沉微濇弱，身反四逆厥冷，大便自利，則全似虛冷矣，
人惑於脈之沉微弱濇而用參，耆者有之，惑於厥逆而用桂，附者有之，
惑於自利而用參，朮，乾薑者有之，不知此等症，在時疫皆裏熱之似寒也，
裏實之似虛也，其脈沉微弱濇者，乃邪熱結於腸胃，氣不達於營衛也，其身反厥冷者，
邪熱結於裏，結於下，氣不達於外，通於上也，其自利者，乃熱結旁流也，
此裏證之實證似虛，熱症似寒者也，總之，時疫為熱因，與風寒之寒因大異，
故脈症雖有似虛似寒之時，而一辨其為時疫，則屬邪自外至，邪氣盛則實，
大都反見虛寒假象，明眼人不當為所惑也，所謂虛證似實者，即以表證論之，
頭痛發熱身疼痛，自汗脈浮大，邪在表也，而屢用表散清涼藥，不惟不減，
其症轉甚者，非藥力之不到，乃正氣不能傳藥力達表，陰液不能隨陽氣作汗也，
此邪在表時，虛症以之似實者也，氣虛者，加參，耆於表藥即汗，
陰竭者加潤劑於表藥即汗，若不知其氣血之兩虧而宣表不已，勢心暴厥而成脫症矣，
更以半表半裏論之，胸脅痛，耳聾，嘔吐，如瘧狀，脈弦，邪在半表半裏也，
而屢用和解消導藥，不惟不減，其症更加者，非藥力之不到，乃中焦脾胃傷而氣不運，
肝木傷而火燥逆也，此疫邪在半表半裏時，虛症之似實也，
必合四君、六君於和解藥中，合四物於清解藥中，始能戰汗而解，若更消導清解不已，
必至胃氣絕而死，更以裏症論之，舌胎黃黑裂燥芒刺，胸脅臍硬痛，大小便閉，
六脈數大，邪在裏也，而屢用攻利藥，或總不得利，或利後更甚，非藥力之不峻，
乃正氣不能傳送腸胃，血液不能滋潤腸胃也，氣虛者助氣以資傳送，
血枯者養陰以藉濡滑，氣行津化，方得通利，此疫邪傳裏時，虛證之似實者也，
若不知其虧竭而恣意攻利，必沉昏痿頓而死，總之，藥不中病，則傷正氣，傷其下，
則正氣浮越而上逆，傷其中，則正氣解散而外張，脈症雖有似實似熱之時，
而一詢其來路，若治之太過，則屬氣從內奪，正氣奪則虛，明眼人不當為所惑也，
夫一證而虛實互異，用藥稍訛而生死攸分，將以何者為辨症之把柄乎，曰，
以開卷所列氣，色，神，脈，舌胎，辨其是疫與非疫，以曾經誤，治與未經誤治，
辨其時疫之為實為虛，則得其大綱，更細玩前所列各症，條分縷析之詳，則得其細目，
則似是而非之症斷不能惑矣，余於前各條下，每症已細辨其虛實，
而此復重言以通論之者，正以前散且於諸條，恐讀者略過，
故復總論以提撕其為吃緊處也，至若寒症似熱，則傷寒諸症有之，時疫絕無，
故不論及云。</p>
<p>遺症〔屬病後不表裏症〕</p>
<h3>發腫</h3>
<p>時疫大勢已平，寒熱已解，而面目肢體浮腫，有食滯中宮，水停心下，
氣復未歸三種，當分別以施治，食滯中宮者，乃病後脾胃大虛，不能消穀，
病者胃中枯燥，偏欲多食，食停心下臍上，則水不得上輸於肺，
肺亦不能通水道下輸膀胱，故溢於肢體而為浮腫，
其症以心下臍上有硬處按之則痛為異，小便或利或不利，當用平胃散加枳實，山查，
麥芽，萊菔子，青皮，神麯為主，硬處消，則腫自愈，或加苓，澤，兼利水亦可，
水停心下者，乃脾虛不能消水也，與食滯異者，心腹無硬痛，小便不利也，用苓，澤，
車，前，木通之類利其小便而愈，氣復未歸者，吳又可所謂病後氣復血未復，
氣無所歸，故作腫也，不可治腫，調其飲食，節其勞役，靜養自愈，
其異於停水食滯者，水停，身重小便不利，氣腫，身輕小便自利，食滯，腹中有結，
氣腫，腹中自和也。</p>
<h3>發頤</h3>
<p>時疫愈後有發頤者，乃餘熱留於營血也，速以解毒清熱活血疏散為主，
誤則成膿不出，而牙關不開，咽喉不利，多不能食而死，毒內陷而復舌燥神昏亦死，
出膿後氣虛血脫亦死，故宜早治也，古方以普濟消毒飲為主，發在耳後，以柴胡，
川芎為君，在項下，以葛根為君，在項後或巔頂，加羌防，此症不可輕補於未潰之先，
補早必成膿，尤不可純用寒涼於將發之際，恐閉遏而毒不得發，故必兼疏散為要，
外治，以蔥水時時浴之。</p>
<h3>發瘡</h3>
<p>時疫愈後發瘡者極多，餘熱淫於肌肉也，多服清涼養氣血藥自愈。</p>
<h3>發痿</h3>
<p>時疫愈後四肢不能動移者，熱傷筋脈也，吳氏諸養榮湯酌用，輕者粥食調理，自愈。</p>
<h3>索澤</h3>
<p>時疫愈後，身體枯瘦，皮膚甲錯者，熱傷其陰也，養陰為主，吳氏諸養榮湯酌用，
亦有粥食調理自回者。</p>
<h3>發蒸</h3>
<p>時疫愈後，有發骨蒸如勞瘵者，乃餘熱留於陰分也，不可以其羸瘦而遽用虛損門治法，
必察其六府，有結邪，則仍攻其邪為主，次察其經絡，有壅瘀，則仍通其壅瘀為主，
次察其氣道，有痰涎，則仍利其痰涎為主，數者俱無，然後以清熱為主，
或無邪而陰傷，方可純用養陰之藥，或分別其餘邪之輕重，虧損之多少，
而兼用養陰清熱藥進退加減以和之，更妙，</p>
<h3>婦人</h3>
<p>婦人時疫，悉與男子同，惟當經期，則治法略異，以其關乎血室也，
凡遇感疫值經期者，治法必兼少陽，以少陽與厥陰為表裏，厥陰為血室，血室一動，
邪必乘虛而犯之，須分別經水適來受疫而遽止，或經水適來受疫而自行，
與經水適斷而受疫，辨此三者則虛實自見，凡經水適來而受疫氣遽止者，必有瘀血，
要再察其脅腰少腹有牽引作痛拒按者，必以清熱消瘀為主，小柴胡加赤芍，延胡，
桃仁，歸尾，丹皮，凡經水適來而受疫氣，疫病雖發而經水照常自行者，
不必治其經血，但治其疫邪，而病自愈，蓋病本未犯血室，故經血自行如常也，
仲景所謂勿犯胃氣及上二焦必自愈者，正指此，非謂總不用藥也，
凡經水適斷而受邪者，經行已盡，則血海空虛，邪必乘虛而陷入血海，
若見腰協及少腹滿痛者，大柴胡湯加桃仁，赤芍，逐其血室之邪始愈，凡婦人受疫，
但見晝日明了，至夜讝語，即當詢其經期，以防熱入血室之漸。</p>
<h3>妊娠</h3>
<p>妊娠感時疫，須治之於早，則熱不深入而傷胎，當汗當清之症，
當速治固不待言，當下之症，尤不可遲，若因妊娠忌下傷胎之說，因循略遲，
則胎受熱蒸而反易墮，一見裏症，速下其熱，其胎反安然無事，蓋有病則病受之，
內經所謂有故無殞者，乃歷驗不誣者也，妊娠受疫，當下失下，至於舌黑腰痛，
少腹下墜至急，則其胎多死腹中，自欲墮矣，此時下亦墮，不下亦墮，然下之胎墮，
母猶可救十中二三，不下則母無生理，胎亦不能獨存，同一墮胎，而此善於彼，
當明言於病家，而後施治下藥，雖三承氣皆可用，惟芒硝當慎，以其專主傷胎，
非大實大熱大燥，不可試也。</p>
<h3>小兒</h3>
<p>小兒受時疫，悉與大人同，而時見驚搐，類於驚風，誤治多死，用大人治疫清解諸法，
減小劑料以治之則愈，小兒不能言，遇當下症，既不知其讝妄，復難驗其舌胎，
則當驗其唇，唇赤而燥，即是下症，此幼科之要訣也。</p>
<h2>廣瘟疫論卷之末</h2>
<p><b>諸方</b>
大青龍湯
麻黃、桂枝、杏仁、石膏、甘草（炙）、加薑棗煎
六神通解散（槌法有川芎羌活細辛）
麻黃（一錢）、甘草（一錢）、黃苓（二錢）、蒼朮（二錢）、石膏（一錢五分）、
滑石（一錢五分）、豆豉（十粒），加蔥薑煎</p>
<p>九味羌活湯
羌活（一錢五分）、防風（一錢五分）、細辛（五分）、蒼朮（一錢五分）、白芷（一錢）、
川芎（一錢）、黃苓（一錢）、生地（一錢）、甘草（一錢）、加生薑蔥白煎</p>
<p>萎蕤湯（一方有乾葛無菊花）
萎蕤（二錢五分）、麻黃（五分）、白薇（五分）、青木香（五分）、羌活（五分）、
杏仁（五分）、川芎（五分）、甘草（五分）、石膏（一錢五分）、菊花（一錢五分），
白水煎</p>
<p>大羌活湯
羌活、防風、細辛、蒼朮、白朮、川芎、黃芩、生地、甘草、防己、知母、獨活、
黃連，白水煎</p>
<p>人參敗毒散
人參、茯苓、甘草、枳殼、桔梗、柴胡、前胡、羌活、獨活、川芎、薄荷，
加生薑煎</p>
<p>吳氏達原飲
檳榔（二錢）、厚朴（一錢）、草果仁（五分）、知母（一錢）、黃芩（一錢）、
芍藥（一錢）、甘草（五分），白水煎</p>
<p>小柴胡湯
柴胡、黃芩、人參、半夏、甘草，加生薑大棗煎</p>
<p>炙甘草湯
人參、甘草（炙）、桂枝、阿膠（蛤粉炒）、麥冬、生地、大麻仁，
加生薑大棗水酒各半煎</p>
<p>柴胡四物湯
柴胡、半夏、人參、黃芩、甘草、當歸、川芎、白芍、生地，加薑棗煎</p>
<p>參胡三白湯
人參（一錢五分）、白芍（一錢五分）、柴胡（二錢）、白芍（一錢五分），
白水煎。若脈微弱，口渴心煩，加麥冬，五味子，若煩，口苦，心下痞，加黃連，
枳實，若不眠，加竹茹。</p>
<p>清脾飲
青皮、柴胡、厚朴、黃芩、半夏、甘草、茯苓、白朮、草果，加生薑煎</p>
<p>大承氣湯
大黃（四錢酒洗）、芒硝（二錢）、厚朴（二錢）、枳實（一錢），白水煎</p>
<p>小承氣湯
大黃（四錢）、厚朴（一錢）、枳實（一錢），白水煎</p>
<p>調胃承氣湯
大黃（三錢酒浸）、芒硝（二錢）、甘草（一錢），白水煎</p>
<p>人參白虎湯
石膏、知母、甘草、人參、加粳米煎</p>
<p>黃龍湯
大黃（三錢）、芒硝（二錢）、厚朴（一錢五分）、枳實（一錢）、甘草（一錢）、
人參（一錢五分）、當歸（二錢），加生薑五片大棗一枚煎</p>
<p>六味地黃湯
熟地、山藥、山萸肉、茯苓、丹皮、澤瀉，新汲井水煎</p>
<p>生脈散
人參、麥冬、五味子，白水煎</p>
<p>四物湯
川芎、當歸、白芍、熟地，新汲井水煎</p>
<p>越婢湯
麻黃、石膏、甘草，加生薑大棗煎</p>
<p>陽旦湯
桂枝、芍藥、甘草、黃芩，加生薑大棗煎</p>
<p>黃芩湯
黃芩、芍藥、甘草，加大棘煎</p>
<p>梔子豉湯
梔子、香豉，先煮梔子後入和豉白水煎</p>
<p>黃連解毒湯
黃連、黃柏、黃芩、梔子（等分），白水煎</p>
<p>小陷胸湯
黃連、半夏、栝蔞實，先煎栝蔞實後入二味白水煎</p>
<p>導赤瀉心湯
黃連（酒洗）、黃芩（酒洗）、山梔（薑汁炒黑）、滑石（飛）、知母（鹽水拌）、
犀角（鎊）、甘草（生）、麥冬（心去）、人參、茯苓（各一錢），
加燈心   生薑大棗煎</p>
<p>豬苓湯
豬苓、茯苓、澤瀉、阿膠、滑石（各一兩），白水煎</p>
<p>天水散（加硃砂名益元散）
滑石（六錢）、甘草（一錢），研細末井水或燈心湯調</p>
<p>柴葛解肌湯（槌法加石膏一錢）
柴胡、葛根、甘草、黃芩、芍藥、羌活、白芷、桔梗，加薑棘煎</p>
<p>吳氏三消飲
檳榔、厚朴、草果、知母、黃芩、芍藥、甘草、羌活、葛根、柴胡、大黃，
加薑棗煎</p>
<p>六君子湯
人參、白朮、茯苓、炙草、陳皮、半夏，加薑棗煎</p>
<p>歸脾湯（一方無白芍）
人參、白朮、黃耆、茯神、棗仁、遠志、木香、當歸、白芍、炙甘草，
加桂圓肉薑棗煎</p>
<p>清燥湯
蒼朮（一錢炒）、白朮（五分炒）、黃耆（一錢五分）、人參（三分）、茯苓（三
分）、黃連（一分炒）、黃柏（二分酒炒）、甘草（二分）、陳皮（五分）、豬苓
（二分）、澤瀉（五分）、升麻（三分）、柴胡（一分）、五味子（九粒）、
神麯（二分炒）、麥冬（二分）、當歸（二分酒洗）、生地黃（二分），白水煎</p>
<p>大柴胡湯
柴胡（二錢）、大黃（一錢）、枳實（一錢）、黃芩（一錢）、半夏（一錢）、
白芍（一錢），加生薑三錢大棗一錢煎</p>
<p>吳氏清燥養榮湯
知母、天花粉、當歸身、白芍、甘草、生地（汁）、陳皮，加燈心煎</p>
<p>補中益氣湯
人參、白朮（炒）、黃耆（蜜炙）、炙草、陳皮、當歸、升麻（蜜炙）、柴胡（炒），
加薑棗煎</p>
<p>三黃石膏湯
黃柏、黃芩、黃連、梔子、豆豉、麻黃、石膏，加生薑大棗煎</p>
<p>防風通聖散（又名雙解散）
防風、大黃、當歸、芍藥、芒硝、荊芥、麻黃、梔子、連翹、甘草、桔梗、石膏、
滑石、薄荷、黃芩、白朮、川芎，加生薑蔥白煎</p>
<p>逍遙散
柴胡、當歸、白芍、白朮、茯苓、甘草、薄荷，加煨薑煎</p>
<p>瓜蒂散
甜瓜蒂（炒黃）、赤小豆，共為末，熟水或齋水調，量虛實服，或用（口畜）鼻</p>
<p>葛根蔥白湯
葛根、芍藥、知母、川芎，加蔥白生薑煎</p>
<p>平胃散
蒼朮、厚朴、陳皮、甘草，加薑棗煎</p>
<p>吳氏承氣養榮湯
知母、當歸、芍藥、生地黃、大黃、枳實、厚朴，加薑煎</p>
<p>涼膈散
芒硝、大黃（酒浸）、山梔、連翹、黃芩（酒炒）、甘草、薄荷，加竹葉蜜煎</p>
<p>四苓散（吳氏有陳皮無白朮亦名四苓散）
茯苓、豬苓、澤瀉、白朮，白水煎</p>
<p>桃仁承氣湯
大黃、芒硝、甘草、桃仁、桂枝，白水煎</p>
<p>茵陳蒿湯
茵陳、大黃、梔子，白水煎</p>
<p>吳氏舉斑湯
白芍（一錢）、當歸（一錢）、升麻（五分）、白芷（七分）、柴胡（七分）、
穿山甲（二錢炙黃），加薑煎</p>
<p>犀角地黃湯
犀角、生地、丹皮、芍藥，白水煎</p>
<p>三黃瀉心湯（湯液論有黃芩保命集有甘草）
大黃、川黃連，以麻沸湯漬之，須臾，絞去滓，溫服。</p>
<p>藿香正氣散
大腹皮、紫蘇、藿香、甘草、桔梗、陳皮、茯苓、蒼朮、厚朴、半夏麯、白芷加薑棗</p>
<p>橘皮半夏湯
陳皮、半夏，加生薑煎</p>
<p>竹葉石膏湯
人參、半夏、麥冬、甘草、竹葉、石膏、加粳米生，薑煎</p>
<p>大半夏湯
半夏、人參、白蜜，以水和藥蜜揚之二百四十遍，再煎。</p>
<p>理中湯
人參、白朮、炒乾薑、炙甘草，白水煎</p>
<p>十棗湯
芫花（熬）、甘遂、大戟（等分），大棗十枚煮煬，內藥末，強人服一錢匕，
虛人   服半錢匕。</p>
<p>二陳湯
陳皮、半夏、茯芩、甘草</p>
<p>白虎湯
石膏、知母、甘草、加粳米</p>
<p>白虎加蒼朮湯
即白虎湯加蒼朮</p>
<p>白虎舉斑湯
石膏、知母、甘草、人參、白水煎</p>
<p>大陷胸湯
大黃（二兩）、芒硝（一升）、甘遂（一錢為末）、先煮大黃，去滓，內芒硝，
煮一二沸，內甘遂末，溫服。</p>
<p>大陷胸丸
大黃（八兩）、芒硝、葶藶（炒）、杏仁（去皮尖各半升），合研，取彈大一丸，
別搗甘遂末一錢，白蜜二合，煮服。</p>
<p>抵當湯
水蛭（三十條豬脂熬黑）、虻蟲（三十條去頭足翅）、桃仁（三十粒去皮尖研）、
大黃（四兩酒浸），白水煎</p>
<p>八珍湯
人參、茯苓、當歸、熟地、白朮、甘草、白芍、川芎、加薑棗煎</p>
<p>葛根芩連湯
葛根、黃連、黃芩、甘草、白水煎</p>
<p>麻仁丸
麻仁（二升）、芍藥（斤半）、大黃（一斤酒浸）、枳實（一斤）、
厚朴（一尺去皮）、杏仁（一升去皮尖熬別作脂），煉蜜丸</p>
<p>天王補心丹（一方有石菖蒲四錢無五味子一方有甘草）
生地（四兩酒洗）、人參（五錢）、元參（五錢炒）、茯神（五錢）、桔梗（五
錢）、遠志（五錢去心炒）、棗仁（一兩炒）、五味子（一兩炒）、
天冬（一兩去   心炒）、麥冬（一兩去心炒）、當歸（一兩酒洗）、
柏子仁（一兩炒去油）、蜜丸，硃砂為衣，燈心湯下。</p>
<p>荊防敗毒散
荊芥、防風、柴胡、羌活、獨活、前胡、川芎、枳瞉、人參、甘草、桔梗、茯苓
（等分）、加薄荷葉煎</p>
<p>倉廩湯
人參、茯苓、甘草、前胡、柴胡、羌活、獨活、桔梗、枳瞉、川芎、
加陳倉米生薑煎</p>
<p>四君湯
人參、白朮、茯苓、炙甘草、加薑棗煎</p>
<p>異功散
人參、白朮、茯苓、炙甘草、陳皮、加薑棗煎</p>
<p>附子湯
附子、白朮、白茯苓、白芍、人參、白水煎</p>
<p>吳氏安神養血湯
茯神、棗仁、當歸、遠志、杏梗、芍藥、地黃、陳皮、甘草、加龍眼肉煎</p>
<p>建中湯（此小建中湯）
桂枝、芍藥、甘草、加生薑大棗餳糖煎</p>
<p>普濟消毒飲
黃芩、黃連、人參、橘紅、元參、生甘草、桔梗、柴胡、薄荷、連翹、鼠黏子、
板藍根、馬屁勃、白殭蠶</p>
<p>吳氏柴胡養榮湯
柴胡、黃芩、陳皮、甘草、花粉、當歸、白芍、生地、知母、加生薑大棗煎</p>
<p>吳氏柴胡清燥湯
柴胡、黃芩、陳皮、甘草、花粉、知母、加生薑大棗煎</p>
<p>吳氏人參養榮湯
人參、麥冬、遼五味、地黃、歸身、白芍、知母、陳皮、甘草、白水煎</p>
<p>吳氏參附養榮湯
當歸（一錢）、白芍（一錢）、生地（三錢）、人參（一錢）、附子（七分炮）、
炒乾薑（一錢）、白水煎</p>
<p>犀角大青湯
犀角（上）、大青（中）、玄參（中）、甘草（下）、升麻（中）、黃連（中）、
黃芩（中）、黃柏（中）、山梔（中）、水二鍾煎一鍾</p>
<p>柴葛五苓散
柴胡、葛根、茯苓、澤瀉、豬苓、白朮、桂枝</p>
