<header><h1>西池集</h1></header>
<dl class="元資料" data-type="book" hidden></dl>
<h2>序</h2>
<p>蓋聞乾健統天，坤順得主，資生之道，含二氣以　，交泰之和，統三才而埏埴。德言工貌，坤道云全。淑慎溫柔，閫儀斯著。至於夙鐘靈氣，生具慧姿，錦織回文，猶受連波之憎。艷埋青塚，空歸月夜之魂。其它露鬢云鬟，沉迷苦海；啼香恕粉，填入火坑；五漏形骸，本是前生業障。三因不悟，又增今世冤愆。其間修短窮通，不能枚舉；妍嗤愚智，何可勝言。總因世乏坤傳，致使人難超劫。是以奏請：太上敕命群真，闡心性於詩篇，寄棒喝於轉語。既知寂靜，恐墮頑空，更有真傳，教渠下手。</p>
<p>言言玉液，無非修身立命之功；字字金針，盡是縛虎牽龍之訣。果能誠心鍛煉。眼前即是玄州；依法修持，鼎內便凝絳雪。與世牽纏世網，戀茲一息繁華。何如斬斷情關，占卻萬年道域。西池有路，度楫在茲，聊綴卮言，用申木鐸。</p>
<p><u>重陽子謹序</u></p>
<h2>詠性功十八首</h2>
<p>月正圓時映水明，乾坤大地總瑩瑩。</p>
<p>片雁斜過潭有影，移時明月映波清。</p>
<p>回春子曰：巧機適合，寶相團圓，月照寒潭，光芒四射。惟清乃　，惟　乃照。寂照圓通，覺靈自現。</p>
<p>西來妙義，至大至圓，活潑玄微，東海珠還。咦，四海湯湯水接天，水天深處自逢源。</p>
<p>海蟾子曰：喜得同人注性詩，明心見性道成時，劉痴來與龍華會，醉向　潭捉月遲。</p>
<p>靈陽子曰：此夕欣逢巧節，　清要在斯時，月光皎潔印深也，真個天星倒置。不著離奇色相，豈因空境空之，一靈透出已前珠，魚目應知不是。</p>
<p>長春子曰：心性非一物，性在心中見，水月兩　清，波光自不染。</p>
<p>靈台深廣似　江，源遠應知流自長。</p>
<p>任爾毒龍爭戲擾，豈如溝血污泥揚。</p>
<p>回春子曰：清光如鑒，不須鍛煉，一著揩磨，毒龍便現。咦，沒得說，西來妙義，支履仍歸。</p>
<p>磨不磷兮涅不緇，寵何可羨辱何辭。</p>
<p>靜中現個團圓月，始信斯人不是痴。</p>
<p>回春子曰：當頭一棒，領者去會，會者顛頭，融通寂滅。</p>
<p>惡莫憎兮善莫夸，堅持吾性漫憑他。</p>
<p>地雷震動真如現，一任遨游上海查。</p>
<p>回春子曰：如何佛法，乾天一橛，霹靂一聲，不怕打殺。</p>
<p>濃云密雨霧淒淒，遮卻本來菩薩面。</p>
<p>不是清風淨掃除，蟾光怎得團圓現。</p>
<p>回春子曰：蒲團片響，剎那一刻，翻個斤斗，菩薩出現。</p>
<p>性似　潭水，心如大地平。</p>
<p>草萊生即劃，風過碧波清。</p>
<p>回春子曰：性不離心，心空無物，草生用劃，下乘之法。</p>
<p>靈明一點本清虛，云去云來月自如。</p>
<p>應事還同光暫晦，魄生依舊現明珠。</p>
<p>回春子曰：不曉參禪，那知拜佛。一拳打破，五指不撒。</p>
<p>心如野鳥最難馴，才出籠時便要擒。</p>
<p>莫使隨風任南北，本來野狼藉陷深坑。</p>
<p>回春子曰：分明一個月，指早是個月，日月光天德，山河壯帝都。咄，誰識！一點靈明一點金，隨風揚去　沉沉。</p>
<p>分明有個菩提種，性亂神昏何處尋。</p>
<p>回春子曰：穿衣吃飯，不知飽暖，心去性空，火中蓮現。</p>
<p>愁苗情種兩都捐，外若春風內鐵堅。</p>
<p>順死逆生同一理，但於動靜卻非然。</p>
<p>回春子曰：荊棘中不妨著腳，深潭內也易翻身。怕只怕清風明月，坐對青山。</p>
<p>人生碌碌似浮萍，業海風波何日停。</p>
<p>要識本來真面目，勤從月下叩真人。</p>
<p>回春子曰：一盂一缽，到處為家，撞著老參，舉杖便打。</p>
<p>渾淪元氣原無象，庚甲之間覺有形。</p>
<p>莫道有無難自辯，須明求已勝求人。</p>
<p>回春子曰：摩尼一粒，沙界難敵，龍女獻來，此際得識。咦，一個孩兒兩個娘，四門親家，不得疏失了也。</p>
<p>外濁須知內本清，龍頭虎尾按時生。</p>
<p>若將凡聖和為一，白雪黃芽自長成。</p>
<p>回春子曰：如何是道，要撒胞溺，吃飯穿衣，全不分曉。</p>
<p>大道先須養性靈，靈光悟徹易歸根。</p>
<p>總然精氣神皆足，黑暗如何解煉烹。</p>
<p>回春子曰：東南西北及中州，黑黑塵蒙易白頭。咄，說話的顛倒了。難不難，一翻斤斗。</p>
<p>易非易，掙起雙眸。</p>
<p>緘口凝神只內觀，法身常現一毫端。</p>
<p>靜中攝得靈明寶，直置中宮便是丹。</p>
<p>回春子曰：得了手，閉了口。若還不去承當，竹篦何堪打走。咄咄咄，再來不值半文錢，請到方丈後去休。</p>
<p>長空清回原無染，云去云來只自忙。</p>
<p>鼓動巽風旋上下，性光明寶總歸囊。</p>
<p>回春子曰：一口布袋，包藏無礙，混混沌沌放不出來。</p>
<p>明暗休將世務分，閑來覓得己前身。</p>
<p>惺惺不得炎涼態，生死全拋得至真。</p>
<p>回春子曰：九天之上，九泉之下，少林拳棒，上下齊打。打得開通，任放縱馬。</p>
<p>騰騰烈焰青龍舞，渺渺清波白虎蹲。</p>
<p>虎尾龍頭絛索系，擒歸神室合真源。</p>
<p>回春子曰：久別家鄉，道阻且長，從今得返，方知父母妻子各各安好。咦，千年華表依然，一任桑田變海。</p>
<h2>跋</h2>
<p>《易》曰：「至哉坤元，萬物資生。」所謂「順承乎乾」者，非耶，然世之女子，明坤道而合坤德者鮮矣。或痴頑結習，或奢悍成風，種種沉迷，不堪悉數。即有一二有志之輩，欲逃生死，究之性命不明，每見巫嫗　姑，學些口頭禪語，前果後因，便為大道在是，而盲修瞎煉，自誤誤人！吁，此皆坤修真訣失傳之故也。</p>
<p>今《西池集》出，泄千古不傳之秘，具大慈悲，開方便門。愿普天下女子，敬信修持，窮研極究。</p>
<p>其中字字有功，句句有訣，莫輕輕放過。尚有楮墨難傳之處，全在誠心辦道，自遇真人指點。總以收心養氣為下手初功，心不收，則性根昧。氣不養，則命蒂失。性命雙修，坤道乃全。讀是集者，幸勿坐失機緣，以負作者一片度世婆心也。</p>
<p><u>靈陽子　敬跋</u></p>
