<header><h1>衛濟寶書</h1></header>
<dl class="元資料" data-type="book">
<div><dt>作者</dt><dd>東軒居士</dd></div>
<div><dt>朝代</dt><dd>宋</dd></div>
<div><dt>年份</dt><dd><data value="960/1279">公元960年至公元1279年</data></dd></div>
<div><dt>底本</dt><dd>《欽定四庫全書·子部五·醫家類·衛濟寶書》（<a href="https://www.kanripo.org/text/KR3e0035/">掃描及文字化本</a>）</dd></div>
</dl>
<h2>原序</h2>
<p>予仲父乾道庚寅歲六月，苦背瘡，其發甚微，欲以蒜餅炷艾，猶未下也。一日，醫者令飲大黃朴硝，則隱然矣。先以滓覆其上，越夕視之已寸余，遂急去藥，令外科調治。旬日盈尺，勢猶未已也。梅根編戶文居禮工此，醫活人不以數計。召而醫之，服藥熏貼十日而瘡斂，二十日而生肉。璉一日至汪氏妻家，得所傳背方一帙，默契居禮所用藥，其服者乃卷尾逼毒散，敷者乃黃真君妙貼散，熏藥用雌雄黃等，皆是卷中一二方。如卷首十一論入門式試法，川藥法、針灸法、藥仙芝翁指授散、老翁神杖散、玉女飛花散、趙侯須散、六化丹等，皆居禮未嘗耳聆而目見者。後以此集示居禮，會互用之，其病不兩月平復。嗚呼。疾之勢大矣，藥之功亦大矣，特患人不能得此而善用之。今居禮以卷之一二方而愈人疾若是，況得集大全者，則活人豈有極。即名曰「衛家濟世寶書」，不亦宜乎？予不敢私於家，謹以此授居禮，仍傳好事者，姑序其始末云。</p>
<p><u>董　序。</u></p>
<h2>自序</h2>
<p>予家藏癰疽方論二十二篇，共為一帙，其方論精微，圖證悉具。隨病施效，可以傳之無窮。而為衛家濟世之寶，故記之曰「家傳衛濟寶書」。凡采百家之說，會十經之旨，以自得之妙，條陳篇目，使傳者易明而易行。其中答問指授之文，傳之不老山高先生；玉女飛花散得之洞靈辛隱士；老翁神杖散乃深溪吳道士之散；趙侯須一宗實清河衲僧所傳；而犀角丸雖萬全本載，實因文宮先生之所得。食膏蹄湯來自《千金方》，瘡潰之後，非此不可散，稱十奇黃山奇效之藥；乳癰軟癤，三溪老人所珍；針法師於石龍法師灸訣，休寧道人見教。憑文注解，片言只字皆不妄發，行之十有二年，救人莫知其數，方知微奧。息心澄意穎悟之後，可以奉行，庶幾不誤後人，其為陰德亦不淺矣。</p>
<p><u>東軒居士序</u></p>
<h2>卷上</h2>
<h3>論治</h3>
<p>先生問師曰：癰疽之異，何重何輕。視外得內，據形知死生，以何別之。師曰：皮膚之深，肌肉之淺，浮虛以廣，或蔓延三四，游走旁注，此則癰也。曰：治之何先。曰：成者之，盛者疾之，攻內後外，三日成功。（此言癰成而有膿者，當針以泄之。熱毒盛者，針以出之。）曰：癰之治即聞矣，疽可得聞乎。師曰：甚哉。五臟銳毒而為疽，熱蘊乎五臟而聚，逆乎諸陽而欲越，會丹府燥，榮衛大盛而作結乎。此根於裡，十之已七，毒諸外，三見其一。小形堅本，銳若纖足，欲觸搖，畏痛心腦骨。寒熱以乘陽之證悉具，來者速泄陽會，敗者急救其裡（泄會言灸，救裡言藥。）巧工如經，先時具全，未越未透，妙在揭指。（針也，出皮膚曰越。）</p>
<p>問曰：病有至甚而生，至微而死，病證唯辨，死生何從決乎。</p>
<p>答曰：發背透膜者死不治（此言肝　以上。）未潰內陷，面青唇黑，便污者死。（此言臟見瘀血。）潰喉者不治。陰入腹者不治。入囊者死。鬢深及寸者不治（謂如及寸針者。）左頤後一寸三分毒銳者不治，無此者生，流注雖多，療之必愈。</p>
<p>問曰：針灸之法不一，何者為工。</p>
<p>答曰：針固妙法，不得其旨，禍若反掌。灸亦要道，熱病必亡（謂如九毒心火俱盛，而劫之以火，於瘡上而灸之則立死）。</p>
<p>問曰：癰疽之病，有取乎脈否。</p>
<p>答曰：聖人周知治病若合符節，非脈而何。脈之，周身安則至常衰盛遲數於此，以決生死。病甚反遲，逆也。病痿猶數，未瘥也。遲冷數熱，了然不匿。洪數緊盛，乃病之脈。病今隆結，雖盛不畏；及濡而沉，死在七月；綿微不治。病在上焦，寸不能應，浮於皮膚者，為癰為順；入於肌肉者，為疽為逆。病在下焦，寸反攻盛，尺不能應，遲數順逆尤存乎消息。浮滑而透寸，沉實而滑堅，此金石脈也。厥陰陽明數而實，食毒也。堅牢，癰結太陰，遇厥陰弦榮，少專經所主，以九部稱之。</p>
<p>問曰：五善七惡可得聞乎。</p>
<p>答曰：飲食如常，一善也；實熱而大小便澀，二善也；內外病相應，三善也；肌肉好惡分明，四善也；用藥如所料，五善也。發渴而喘，精明眼角向鼻，大小便反滑，一惡也；氣綿綿而脈濡，與病相反，二惡也；目中不了了，精明內陷，三惡也；未潰肉黑以陷，四惡也；已潰青黑，腐筋骨黑，五惡也；發痰，六惡也；嘔吐，七惡也。</p>
<p>夫人稟五行之氣而生者，金木水火土是也。故分發四季有陰陽寒暑之位，順之則風調而氣和，逆之則風亂而氣悖，百病所以生也。雖人能知其理，奈緣四時之氣或有乘失，故表竅不勻，三焦壅塞，血澀肌表，致有五發癰疽之患也。發者，五臟六腑不和之所生。蓋五臟主裡氣，生經絡而沉；六腑主表氣，生經絡而浮。若喜怒不常，飲食不節，陰陽不調，冷熱相干，於是臟氣虛，則腠理開疏。腠理開疏，則寒邪客熱於經絡之間。寒氣既折，則榮衛稽留於脈。且榮者血也，衛者氣也，血榮得寒則澀不行，衛氣從之，與寒邪相搏，故壅遏不通；氣者陽也，陽氣蘊積則生熱，熱則血澀，寒熱不散，故積聚為癰疽。疽之狀，氣內攻，皮濃強實，痹而生寒，寒久發熱，寒熱蓄積，故傷肉而不壞肌，肌壞則化為膿血。夫癰患屬表，骨髓不枯，易為醫治。疽患屬裡，傷骨壞筋，則難調理。</p>
<p>經曰：一寸二寸為癰，以上至一尺來許者為疽。其五發各有五色，起因瘭癌疽痼之四發，各有顏色，惟小者為癰，所治頗為易耳。凡人才覺發作結聚，發作寒熱或不寒只熱之狀，疼痛腫赤，瘢痕闊硬；若過五寸以來者，或在頭背，或在肢節，或不見形狀者，便宜下大車螯散；如只三寸二寸瘢痕者，只下小車螯散。如癰已破既不可用大小車螯散。今畫出五發形象顏色，圖之於後。</p>
<p>正發論。正發者，脈洪盛，頭痛發寒熱，大便結，小便赤，痛徹骨筋，眼睛疼痛，如陽證傷寒。但苦痛有形，腫赤不可近手，腫赤　長，上有如煙漿沸潑者，如粟米之白者，皆毒心火三者所並而然也。當下大黃、犀角、生地黃汁、絲瓜汁之藥與正藥並行之，仍相度用針灸，乘其未膿而攻之，得宣以不潰而愈，此上工也。渴者，無畏；大小便結赤，渴而喘，無畏；大小便滑者，逆。善惡前論。</p>
<h4>癰疽五發</h4>
<p><u>一曰癌</u></p>
<p><a href="_files/pk-k1.bmp">癌圖</a></p>
<p>癌疾初發，卻無頭緒，只是肉熱痛。過一七或二七，忽然紫赤微腫，漸不疼痛，迤邐軟熟紫赤色，只是不破。宜下大車螯散取之，然後服排膿敗毒托裡內補等散。破後用麝香膏貼之。五積丸散疏風和氣，次服余藥（方見後）。</p>
<p><u>二曰瘭</u></p>
<p>（布昭切）</p>
<p><a href="_files/pk-k2.bmp">瘭圖</a></p>
<p>瘭者，始初聚結，尖腫，根腳赤白色，高處帶紅赤，腫實疼痛，憎寒壯熱，口乾渴，百節疼痛，困倦沉重。飲食者，未破者，即下大車螯散。如先破，下小車螯散。然後服輕肌活膿內托等藥，次洗點破等藥，加服小車螯散。膿毒不決即服二三，取活膿血。</p>
<p><u>三曰疽</u></p>
<p><a href="_files/pk-k3.bmp">疽圖</a></p>
<p>疽初起如麻豆子大，癢痛，抓破如小瘡。後漸結瘢痕作　。以次皮破竅穴漸如蜂房，多有膿毒不出，結痛，憎寒多熱，滿悶無力，頭目昏眩，百節拘急，睡臥不得，或有吐逆，日加煩痛，瘡如火燒，更不可服大車螯散，只服小車螯散與解關輕肌活體等散，止疼痛，退寒熱，解昏眩，仍勤用洗貼，去爛肉與膿毒（方見後）。</p>
<p><u>四曰痼</u></p>
<p><a href="_files/pk-k4.bmp">痼圖</a></p>
<p>痼發者，形狀三兩個，或手背不日消退自破，苦無膿血毒汁意以為安愈。忽因消渴，腎所攻，及至春冬，再在背膊或腎　上生一個二個。疼痛赤腫、腰疼筋緊拘急，吃多物常飢燥，小便赤，大便澀，三五日一通，或破，下小車螯散。未破，下大車螯散。逐日下內消內解散（方見後）。</p>
<p><u>五曰癰</u></p>
<p><a href="_files/pk-k5.bmp">癰圖</a></p>
<p>癰初起，突如蒸餅，又如魚形，一頭大或多頭小，或橫在背膊，或在脅肋間，及二三寸許，堅實赤腫，時發熱疼痛。如未破，服大車螯散。已破，服小車螯散。次用內解內消等藥與治痼法治之。</p>
<p>問曰：古今之用藥制度與夫金石之變，草木之反，虛實之蒸，食毒之發，愿盡言之。</p>
<p>答曰：古之治病，隨證施設，如箭中的，故應手而愈。妙體存乎心，模體行以意。今人之體，古方書無有加減，禍福相半。古稱單方療病為效最切，擇以佐使斯為治病。癰疽之疾如山源之水，一夕暴漲，非決其要會支之大渠，使殺其勢，則橫潦為災。猛烈之疾以猛烈之藥，此所謂以毒攻毒也。金丹之性，真水不勝，客火上炎。草木之反，熱毒蘊結。五金八石，各從其類。朱砂下砒，硝石化伏（伏謂伏火丹也。）犀角、大黃，攻治無畏。仙芝無虛實證此外則針灸佐之（謂如仙芝方，它方非針灸佐之不可）。《千金方》惟五香連翹散、豬蹄湯、金犀角丸有準。《鬼遺方》世稱奇妙，究其所以，除木占斯散未聞可以施手，而敗醬占斯，世皆莫識，遂為文具蘇梗、忍冬不能救急，綠豆、乳香可治金石，舉此顯顯數者，以別是非，爾後不可概舉。然倉卒之間，醫者紛紛莫知適從，上下畢備，乃可成事，應入門看候，便須以醋調藥。未潰者當心點之如棋子大，良久視其痛與不痛。不知痛者加一點，不痛良久又加一點，至滿上而不痛及痛如昔者，為入肉，為不應藥（以上論仙芝，無他法，只以本方用之）。已潰者　子試之，及數與未及數者，決輕重，應點隨手而痛者妙。食頃者四分，又食七分（此言尋常痛，今點愈痛，昔日痛今不痛，皆應上法）。消息在臨時之妙，須定意商量，於此時決死生也。即應病服藥，初進二錢，如五裡進三錢，如五裡進四錢，如早至晚六錢。</p>
<p>止如此兩者，亦言以毒攻毒也（此言仙芝，余藥依本法）。當日進藥三服後，即用藥敷之圍瘡面所闊腫處，以防其它，注視其東西四向。除以上法塗圍外，於其頭上用藥一點，此妙不傳試法論瘡已潰，須用好濃紙作一合索　子捻入，看分數，如背上自肝　以上，試直入無偏斜，及一寸三分者為將通，十全三四，過此不治。雖過數而精神強者，須以竹膜一片可敷瘡口。密者，先擇一淨明室中，以水濕瘡口四旁。然後敷竹膜，在靜看其動，似氣之拽拽則已通矣。非風非扇而與呼吸相應，十死不治。無此者可療，余法載前論。一應背潰皆以此法試至妙，如無大竹膜可糊合為之。</p>
<p>腐肉色青黑缺牙不附骨者，用煉刀竹刀割之，或已腐而肌肉薄者，不可割，當下食，惡肉膏。先熏後用，應潰後無死證，可下手，不然不治（證見前論）。</p>
<p>長肉之法，須惡肉盡乃可下，下而看淫，淫生而有紅黃者，紅黃者吉；淫生而無肉意青黑者凶。未下前先用藥湯洗，洗後復用蔥少鹽多湯洗之，微干乃可用。忌一切厭穢婦人孝子見之，下後仍不許他人揭看。大凡無淫肉不生，淫上有一層淫，淫如黃綿在肉之上也。</p>
<p>有膿者，脈洪數而緊，痛如刀錐雞啄，按之似欲隨手，當先以取膿針潰之。潰之而脈愈證退，不加針灸，唯平補而愈。當用十奇散之類。潰而證不退加針灸法。又有肉裡癰一證，在好肉之裡有膿當決之，否則成附骨。決而以油捻子塞之，良久乃出，可以盡毒。應行肉裡，針須量其人平日飲量，以酒調藥，乘其服藥酒後而決之。然背無此證，濃肉有之。腸癰在膚準此。</p>
<p>打針法用馬銜鐵於甲子日，一日煉打陽針一枚如韭葉，長三寸六分；丁酉日打陰針一枚，長二寸四分；驚蟄日打雷鋒針一枚，長二寸四分；又打取膿針一枚，如韭葉，長三寸六分；打煉刀一枚，小釣一個。上用桑白皮，紫藤香煮一周時，以紫藤香末藏之。陽針，針獨疽。陰針，針癰。雷鋒針，針怪形。非怪形者，必須辨認仔細，乃可針。或以尾為頭，誤人不淺；中脊膊貼，大痛不止。先後失序，療之難愈。假如只一個瘡而四面無頭，其頭在中，仍不許於中點之，大逆，只於四旁濃塗，依常法。假如一個至數個，須察其至甚、先甚後輕、先輕後甚。法當先其輕者，後其甚者。反此者即與本方，服藥不能應，雖不害其命，而留之日久。病形雖多，針敷則一，收外攻內，侯其聚合。內毒盛者，急攻其內；外毒盛者，速瀉其熱。日夜收攻，庶幾無失。</p>
<p>騎竹馬量灸法：發背腦疽、腸癰、下部癰、乳癰、喉癰、牙癰、手足一切癰疽、或胸腹不測丹癰、緊硬之屬。先令病患以肘憑幾豎臂腕，要直，用篾一條，自臂腕中曲處橫紋，男左女右，貼肉量起，直至中指尖盡處截斷為準，不量指爪。卻用竹杠一條，使病患脫衣騎定，令身直。前後用兩人杠起，令腳不著地。又令一人左右扶定，勿令僵仆。卻將前所量臂腕篾，從竹杠坐處尾閭穴直貼脊骨，量至篾盡處為準，用墨點定。此穴是取中，非灸穴也。卻用稻杆子量病患中指中節，相去兩橫紋為準，男左女右剪斷，將稻杆準子從篾點定處，兩邊各橫量一寸，準子盡處取兩穴各五壯或七壯，不可多灸。不問癰生何處，並用此法灸之，無不愈也。此二穴心脈所起，凡癰皆心火留滯而生，灸此二穴則心火即時流通，不三日而愈，可以起死救危，有非常之功也。屢試而屢驗矣。《素問》云：諸痛癢瘡皆屬於心。又云：榮氣不和，逆於肉理，則生癰腫。榮氣者，血也。心能行血，血即滯則脈不行，故逆於肉理，則生癰腫。灸此二穴，心火調暢，血脈自流通，愈於服藥多矣。</p>
<h4>第一法</h4>
<p>先從男左女右臂腕中曲處橫紋起，用薄篾一條量至中指齊肉盡處，不量指爪為準，剪斷</p>
<h4>第二法</h4>
<p>男以左手，女以右手，先將中指用薄篾量取中間一節兩橫紋，斷為同身一寸，為準子。</p>
<h4>第三法</h4>
<p>先令病患脫去上下衣服，以大竹杠一條跨定，令兩人徐徐杠起，足要離地五寸許，兩旁以兩人扶定，勿令動搖不穩，卻以第一圖準子貼定竹杠，從尾閭起貼脊，量至準子盡處，以墨點定記之，非灸穴也。此是取中穴止處。卻以第二圖取同身寸準，取兩寸平折，自中穴量之，以中分取傍各一寸，方是灸穴。</p>
<p>治癰疽發背癤毒一切惡瘡，並婦人乳癰。灸法以麻皮一條，從手臂大曲橫紋中度起，牽至中指第二節橫紋處為定，引而倍之截斷，遂將此準從結喉處按定，雙引兩頭，垂於背脊直下，取準頭盡處點定，此是定高下也。又以小竹篾一條比大拇指上節一寸為準，卻將此準就於背中點定處，旁去一寸，點一穴灸五壯或七壯。若已破，灸後三二日間瘡口合，再就前穴又引一寸，點一穴五壯或七壯十壯。凡此點穴亦皆男左女右灸，不可絲毫失也。此灸法活人甚多，立有神效，故鋟本附於寶書之中，以救疾苦，不可忽之。</p>
<p><a href="_files/pk-k6.bmp">圖</a></p>
<p>凡點穴用灸，須端坐以兩手垂於膝上，頭不可俯仰動搖，庶不失穴道，切宜記之。</p>
<p>灸法曰：諸陽熱而為癰疽，故灸手左右曲池，手七裡肩峰骨後縫，足風市，足腿骨上縫骨，足三裡炷如麥粒，各三壯，立此止痛也。</p>
<p>又灸一切惡瘡並喉閉發背等，每用細索或帶子，以病者右手大指第二指，拈直臂量，當心看索之多少，平折作兩半，自病者喉以索只搭過，至背上，看至近處，兩頭各更加一寸，夾脊骨為穴灸，各灸三壯立效（趙唐卿傳）。</p>
<h2>卷下</h2>
<h3>方法</h3>
<h4>正藥指授散</h4>
<p>此藥本無名，因先生遇老人於山，自云姓徐，指而授之，乃號徐仙芝方散，皆以為名。</p>
<p>按仙芝圓者為陽，方者為陰，陰陽對生，面青，背紫黑色，根盤如蜈蚣，四葉對芳，五月而花，有花無實，凌冬不凋，叢秀異於它草，生深山大澤於水石之間。采以五月五日，采訖擇根令齊，便於急水中擺去沙土，掛於微帶風日處，不可大把疊束，恐爛不佳，而氣味無力，方圓各收一處，不可相雜，即干，臨時用方圓兩根，各作一包，無令差誤。每用磨子磨之，不得近鐵，取極細為度。忌僧尼婦人孝子雞犬一切厭穢見之。揀天德月德天醫，或七月七日吉日合之，依此法則其驗如神。尋常疏縱不依此法，則功效便遲矣。即尊奉此藥，不可不虔。為制造殺毒定瘡，即以為散，用釅醋調之。根敷其頭，圓者敷其右，方者敷其左，一個時辰當住。大痛若不住，加一服，又不住可加後藥：仙芝根葉（共一兩半）　梓寄生（半兩）　夜明砂（一兩）</p>
<p>上依前法濃調敷之，風毒盛極加趙侯須（一兩，本草名敗醬）　絲瓜（半兩，生者佳，冬，可預霜前收，臨時末之以敷。生者則細切，石臼中杵，絞汁，以一盞當一兩，不用醋調，只用汁調。更佳。此物亦有陰陽，長瘦為陽，短肥為陰，可偶用之）如煙漿沸潑風毒火丹，者可加夜明砂（通前半兩）、真牛黃（一字）、犀角（水磨半錢，不然細末之）依前法，不用醋調，以絲瓜汁，犀角磨水調敷。</p>
<h4>服食仙翁指授散</h4>
<p>仙芝（四兩，方圓根莖枝葉對用，制如前法）　絲瓜（一兩）　夜明砂（一分）</p>
<p>上每用三大錢，溫酒調下。病在上者，先食後服。凡毒盛者，加趙候須（一兩），犀角末錢），每用三錢酒調下。飲酒悶者木通湯下，如煙漿者加牛黃（一錢），赤茯苓（半錢），用酒</p>
<h4>老翁神杖散</h4>
<p>梓寄生（一兩）　夜明砂（一兩）</p>
<p>上為細末，每用二錢，溫酒調下。催服依仙芝式。敷藥如前，以醋調之，絲瓜汁尤佳。</p>
<p>梓寄生，即梓樹上老寄生藤。自地下量起，與人額齊，以下者不用，以上者取七尺。如無，只取三尺六寸，每條皆如此。若一藤一枝者，不取。一藤二枝者，可取。擇二吉日采，無令人多見。采歸，以利瓷片輕手刮去外黃皮，再刮去中間白肉，內心不用。瓦上微火焙乾，磨子磨之，五月五日尤佳。</p>
<h4>玉女飛花散</h4>
<p>蜀桑根（取大者）</p>
<p>上即芫花根，不用木，五月五日采。水中輕輕洗去土，燒淡醋令沸，以花根於醋中一走過，覺色變白如寄生法。當日采，當日刮，令極細。每服一字，溫酒一大盞。放藥於盞。</p>
<p>良久，面上花飛，服下。催服如入門式，敷以絲瓜汁，醋調亦可。</p>
<h4>趙侯須散</h4>
<p>趙侯須（即敗醬草，干者四兩）　苦辣回根（七寸）　甘草節（三寸）　乳香（一錢）　穿山荷根（即蒲桃藤根，七寸）</p>
<p>上生搗為粗末，干者為細末，共為一劑，分三服。每服用好酒三升，半煎至七分去滓服，敷用酒，調依上法。</p>
<h4>六化丹</h4>
<p>即犀角丸易名，以神貴其藥而為俗子所珍，因其能化風、化熱、化毒、化結、化積、化膿為水，故曰六也。</p>
<p>犀角（生者，一兩）　黃芩（一兩）　大黃（一兩）　巴豆（半兩，去心除油）　升麻（一兩）</p>
<p>當歸（一兩）　梔子（一兩）　白蘞（一兩）　甘草（一兩，炙）　天南星（一兩）　黃　（一兩半）</p>
<p>防風（去蘆，一兩）</p>
<p>上為細末，以早潮順流新汲水丸如梧桐子大。每服五丸，不拘時候，隨證量人大小用之</p>
<h4>十奇散</h4>
<p>本法稱此藥無情，全不類治癰疽者。然古聖神工所制，殆不可測，不拘老幼，已潰未潰服一二服，立效。據考證，今收入平補藥中，庶幾中的。</p>
<p>人參（一兩，去蘆）　當歸（一兩，去蘆）　黃　（一兩）　川芎（半兩）　白芷（半兩）　桔梗（半兩，用苦者，不可用甜者）　甘草（半兩，炙）　桂（半兩，薄者去皮取心）　厚朴（半兩去皮，薑汁炙）　防風（半兩）</p>
<p>上為細末，每服二錢，溫酒調下，催服如前法，本法加至六錢止。</p>
<h4>逼毒散</h4>
<p>當歸（一兩）　枳殼（一兩，去瓤炒）　甘草（一兩，炙）　白芷（一兩）　貝母（三兩，去心上為細末，每服二錢，酒水各半盞，煎至六分，日四五服。</p>
<h4>黃真君妙貼散</h4>
<p>硫黃（好者，不計多少）</p>
<p>上用蕎麥面為窩子，包黃在內，於熱火中兩邊　，令黃黑取去，入乳香半兩細研，用井花水調，以熟絹剪如所腫樣貼之，留竅，日兩易。</p>
<h4>托裡地脈散</h4>
<p>當歸　地蜈蚣　赤芍藥　甘草（各一兩）</p>
<p>上為細末，每服二錢，溫酒調下。</p>
<h4>黃芩散</h4>
<p>洗瘡腫爛處，化惡血膿汁，活血調榮衛。</p>
<p>黃芩（二兩）　秦皮（真者）　莽草　細辛　白芷　川芎　黃連（各半兩）　羌活（一兩半）</p>
<p>上為粗末，每用一兩半，以豬蹄煮熟，去蹄入前藥，煎數沸，通手以綿惹洗癌瘡，直至藥冷為度。洗後使麝香膏貼。春冬一日一洗，夏秋一日兩洗。</p>
<h4>秦皮散</h4>
<p>破與未破宜先洗，以此藥消逐惡肉膿水。</p>
<p>秦皮（三兩）　莽草（二兩）　細辛　苦參（各一兩半）　黃芩　當歸（各一兩）</p>
<p>上為粗末，每洗時用豬蹄湯和藥一兩同煎二十沸，去滓。通手以綿惹洗，以五枝煎貼之</p>
<h4>芎黃散</h4>
<p>洗疽瘡化毒，散膿汁，生肌肉，止疼痛。</p>
<p>川芎　大黃　黃芩　何首烏（各五錢）　當歸　黃連　香白芷（各三錢半）</p>
<p>上為細末搗爛，每用豬蹄湯煎藥數沸，去滓。以綿惹洗之，藥冷止。</p>
<h4>豬蹄湯</h4>
<p>豬蹄（一只，治如食法）　黃　（三兩）　黃連（三錢）　芍藥（三兩）　黃芩（二兩）　野狼牙根（二兩）　薔薇根（二兩）</p>
<p>上以水三斗煮豬蹄令熟，澄取二斗六升，或一斗六升下諸藥，煎取一斗去滓，分三服洗</p>
<h4>槐白皮湯</h4>
<p>槐白皮（一兩）　桑白皮　紫藤香（即降真香）　防風（各半兩）</p>
<p>上　咀，水三升，煎至升半，代豬蹄湯洗。</p>
<h4>熏藥</h4>
<p>雄黃（好者一兩）　雌黃（一兩）　蚌粉（三兩）</p>
<p>上為細末，用闊口瓶入米醋一升，不蛀皂角一挺，藥末五錢，同煎至沸，以氣熏瘡，冷欲盡，再燒半挺炭投醋中，取氣熏之，直至炭淬醋盡為度，日一用。</p>
<h4>活血散</h4>
<p>治膿出不快，肢體悶痛，寒熱無時，口苦舌乾，不思飲食。</p>
<p>金星草（五葉）　川芎　羌活（各一分）　人參（半兩）　甘草（三分）</p>
<p>上為末，每服二錢，溫下，日三服。如大腫赤疼痛，用麥門冬五錢搗爛熱調令清，以鵝毛刷在瘭腫瘢上。</p>
<h4>輕肌丸</h4>
<p>止疼化毒除膿，寒熱煩躁，腳手無力，四肢倦，虛渴，氣乏不勻。</p>
<p>慈姑（一兩）　何首烏　甘草（炙，各三分）　獨行（一兩，去皮）　地黃（半兩）　蝦啾唧（上為末，每服二錢，水一盞，薄荷七葉煎至八分溫酒下。</p>
<h4>大車螯散</h4>
<p>車螯（一個，黃泥田濟通紅　，去泥置地上，去火氣）　大戟（淨洗）　芫花（醋炒）　漏蘆甘草（炙）　檳榔（各半兩）　甘菊（去梗葉，其梗一名傅延年）　大黃（三分）　膩粉（一分）</p>
<p>上各為末，每服二錢。車螯末二錢，膩粉一錢拌和，於更初用栝蔞酒下。如人行五裡即下惡毒膿血二三行，不用止自住。凡後生，只一服，老少加減。</p>
<h4>小車螯散</h4>
<p>車螯（二分）　輕粉（二錢）　甘草（一分）　栝蔞（一個）</p>
<p>上各為末和勻，每服二大錢，五更初煎，栝蔞酒調下。</p>
<h4>內托散</h4>
<p>大止疼痛，如未破，即點破有膿。</p>
<p>川烏（一兩，炮）　茯苓（三分）　苦杖（半兩）　獨活　白芷　甘草（炙，各一兩）</p>
<p>上為末，每服二錢，酒調下，日三服。</p>
<h4>解關散</h4>
<p>治疽毒頭痛，寒熱心煩悶躁，肌困無力，去惡毒膿血。</p>
<p>麻黃（三分，去節）　大黃（三分）　肉桂（半分）　甘草（半兩，炙）　訶子（五個，去核）</p>
<p>枳殼　木通（各一兩）　木瓜（一個）</p>
<p>上為末，每服二錢，水一盞，薑三片，蔥白三寸連須，煎至八分，通日服，片時自然汗出，再進數服，痛熱即減。</p>
<h4>金花散</h4>
<p>順氣補內去邪毒，治疽皮燥痛，快膿止疼。</p>
<p>蒲黃（一兩）　赤芍藥（二分）　地骨皮　蔓荊子（各半兩）　石菖蒲（一分）　甘草（三分）</p>
<p>上為末，每服二錢，溫酒下，薄荷湯亦可。</p>
<h4>排膿散</h4>
<p>去疼膿，逐惡血，化腫毒，退寒熱。</p>
<p>防風（一兩，洗）　仙靈脾（即淫羊藿）　甘草（炙，各半兩）　川芎（半兩）　白芷（三分）</p>
<p>人參（一兩半）　細辛（一兩半）</p>
<p>上為末，每服二錢，溫酒調下，如不飲，糯米湯下，不拘時候。</p>
<h4>五積勻氣丸</h4>
<p>治五發風毒，逐余毒惡氣，行血脈。</p>
<p>杏仁（八十一粒，去皮尖）　巴豆（八十一粒，去皮，研）　木香（一分）　黑附子（一分）</p>
<p>當歸（一分）　小坯（半兩，即蘇木）</p>
<p>上為末和勻，用糯米煮飯為丸，如綠豆大，每服五丸，臨臥薄荷湯或薑湯吞下，量虛實</p>
<h4>敗毒散</h4>
<p>已破宜服，逐惡毒流清，去毒濁。</p>
<p>麻黃（一兩一分，去節）　白朮　蒼朮　荊芥（各一兩）　甘草（三分，炙）　大黃（半兩）</p>
<p>薄荷（生花者一分）　黃芩（半兩）</p>
<p>上為末，每服二錢，水一盞，蔥白三寸，煎至八分，不拘時候。</p>
<h4>托裡散</h4>
<p>止疼托裡固濟臟腑。</p>
<p>山蜈蚣（二兩）　當歸（二分）　地黃（去土）　甘草（炙）　厚朴（炙）　白朮　白芷　川芎（各半兩）　川烏（三分，炒）　黑豆（一合）　麻黃（三分，去節）</p>
<p>上為末，每服一錢，溫酒調下，如不飲酒，水一盞，薑三片，薄荷五葉，同煎至八分，日連進三五服。</p>
<h4>內補散</h4>
<p>已破而膿汁出，多瘡壞爛，肌肉未生，宜服此方。</p>
<p>附子（一兩，炮）　粉草（三分，炙）　茯苓（半兩）　陳皮（半兩，去白）　白薑（一分）</p>
<p>人參（三分）　麻黃（半兩）　官桂（一錢）</p>
<p>上為末，每服一錢，蔥白三寸，棗一個，煎七分服。</p>
<h4>內消散</h4>
<p>已破去膿積瘀血，止痛退寒熱，進飲食，活百脈。</p>
<p>紅內消（二兩）　何首烏　玄參　苦參　蔓荊子　威靈仙（各半兩）</p>
<p>上為細末，每服二錢，溫酒調下，熱水亦可，不拘時。</p>
<h4>活膿散</h4>
<p>治瘡毒熱痛燥，肢節疼痛，食減少無味。</p>
<p>天麻（一兩，酒浸）　穿山甲（三分，醋炙）　萆　（半兩）　羌活（一分）　甘草（三分）</p>
<p>上為末每服二錢，酒調下，不拘時。</p>
<h4>五參丸</h4>
<p>治疽瘡經延日月，傳成冷疽毒，宜服此藥。</p>
<p>丹參　人參　苦參　玄參　沙參　蔓荊子　何首烏　紫菀　威靈仙　木香（各三分）　乳香（一分）</p>
<p>上為末，煉蜜為丸，如梧桐子大，空心用麝香酒下三十丸或四十丸。</p>
<h4>內消丸</h4>
<p>解利風毒，氣癰，痼發之，毒作痛煩。</p>
<p>黑附子（半兩，炮）　川烏（炮，去皮尖）　草烏（水煮去皮）　干蠍　僵蠶（各一分）　雄黃（半兩，研）</p>
<p>上為末，煉蜜丸如綠豆大，每服二丸，薄荷酒嚼下。大段發急者，只作散子，每服一錢，薄荷酒調下。</p>
<h4>內消活關輕竅散</h4>
<p>可同內解散同服，更將疽發中金花散同煎服。如欲洗，以用芎黃散洗，後用百花膏貼。</p>
<p>如漸覺消退，未十分好，更服瘭中內托散，固濟丸，再用瘭內秦皮散洗之，碧油五枝煎膏藥貼之，不然使癌發內作。檳榔散亦得。</p>
<p>附子（半兩，炮）　川烏（半兩，炮，去皮尖）　草烏（一兩半，如前法）　麻黃（去節）　沉香（一分）　蒼朮（三分）　防風（半兩，炙）　萆　（一分）　杜仲（半兩，炙）</p>
<p>上為末，每服二錢，水一盞，薑三片，棗一個，煎七分，通口服。</p>
<h4>生肉膏</h4>
<p>凡瘡即愈，肉漸滿，可將收口，且用收口藥微摻一層，乃用生肉膏蓋五日後，去膏，用正收藥仍蓋以油單，忌傷風也。</p>
<p>檳榔（半兩）　生地黃（二兩）　辛夷（二兩）　薤白（五兩）　獨活　當歸　大黃　白芷　川芎黃芩　芍藥　續斷（各一兩）</p>
<p>上以臘月豬脂為煎。</p>
<h4>麝香膏</h4>
<p>長肉，逐敗血，合瘡口。</p>
<p>黑附子（半兩，生）　肉豆蔻（五個，去皮）　陳皮（半兩，去白）　皂角（三莢肥者）　檳榔（四個）　羌活（一分）　黃連　白芷　當歸（各半兩）　白薑　大黃　縮砂（各一兩）</p>
<p>上細搗微爛，麻油一斤於鐺內同煎。又慢火煎至一半，藥焦黑為度，去滓，再入淨鐺煎，滾，入黃丹，篩過者五兩，又入油煎干一半許，以淨瓷缽盛之，放地下出火一日。</p>
<h4>桃紅散</h4>
<p>治瘡口未合，爛臭瘀肉未去，時水出，以此摻之。</p>
<p>黃丹（一兩，隔紙炒）　硫黃（三分）　茱萸（三分）　輕粉（四錢）</p>
<p>上為細末，用麻油調和再干之，洗瘡拭摻之。</p>
<h4>白檳榔散</h4>
<p>收瘡口長肉。</p>
<p>檳榔（炒）　白芨　黃柏（去粗皮）　木香（各半兩）</p>
<p>上為末，輕粉二錢和勻，如瘡干，即以臘月豬脂調藥敷之，濕則干糝。</p>
<h4>紅雪散</h4>
<p>斂瘡口長肉。</p>
<p>黃柏　黃連（各一兩半）　黃丹（三分，隔紙炒）　輕粉（二錢）</p>
<p>上為末，凡經十余次洗後，其爛肉瘀膿不盡，方用止。</p>
<h4>生肌藥</h4>
<p>凡癰疽已潰，多有瘀肉壞在四旁，遂令瘡深寢至斷筋蝕骨。法須去瘀肉，用速急生肉煎，庶幾不令傷風，日久不愈。去瘀肉法：淡醋一碗入鹽一字，以雞羽輕輕拂瘀肉處，少頃，用竹片夾縛作一摘，鑷子摘去瘀肉，以藥摻之。</p>
<p>川烏（一分，炮）　訶子（三個，去核）　紫藤香（一分）　生硫黃　食茱萸（各半兩）　龍骨白蘞（各一錢）</p>
<p>上為細末干摻，卻用生肉膏浮虛蓋之，勿令相著，其肉立生。如瘡干，恐痛，或干已痛，則用茱萸四十至五十粒，清油一燈盞，煎取茱萸焦調敷佳。</p>
<h4>捍骨散</h4>
<p>安愈後宜用之。</p>
<p>牡丹皮（一兩）　柴胡（三分）　赤芍藥　茯苓　白芍藥　當歸（各半兩）　甘草上為末，每服一錢半，水一盞，薑三片，棗一個，同煎至八分，通口服，一日三服，不</p>
<h3>乳癰</h3>
<p>凡乳癰易萌，皆由氣逆，寒熱相乘，榮衛縫結，乳汁不行而生癰。四十以下，治之多愈；四十以上十愈四五。未成者吸其乳，非乳者下。其已成者，如癰法治之。在乳房而不善治，腐漏者三年而死。中乳房者不救（此句言針）。</p>
<p><a href="_files/pk-k7.bmp">針乳癰圖</a></p>
<h4>乳癰方</h4>
<p>萱草根上搗爛酒浸服，滓敷。</p>
<p><u>又方</u></p>
<p>苣霜葉上不計多少，取陰乾為末，如急用則焙乾之，以井花水調塗，不若取絲瓜汁調最妙。此藥貼塗發背、一切癰癤，與玉女飛花散為表裡。</p>
<p>牛角（切成片）　蚌粉（三錢匕）　糯米（安角上同於炭火上　成灰，取七錢匕）</p>
<p>上作五服，嚼乳香酒下，乳香入在內尤佳。</p>
<h4>導經散子</h4>
<p>皂角灰　蛤粉上為細末，半錢或一字，溫酒調下。急以手揉乳，敷以天南星末，用水調上，未效加木別子以醋調塗，次服栝蔞散。</p>
<h4>栝蔞散</h4>
<p>栝蔞（一兩）　乳香（一錢）</p>
<p>上為細末，每服一錢，溫酒調下。如有乳者急以紙五寸闊一片，用火燒於三寸許置瓶中，火欲過未過，便以瓶口掩乳，以手扶定。其乳吸在瓶中，覺颼颼乳在瓶，則便取去，急洗以藥。若本無乳，依癰法治，危亦林《得效方》云熱者加石膏末少許。</p>
<h3>軟癤</h3>
<p>問曰：軟癤之稱何由有此。</p>
<p>答曰：大人毒存而為漏，小兒毒存而為軟癤，逼其毒而已矣。</p>
<h4>止痛水銀膏</h4>
<p>尋常小可瘡癤，無膿而痛，不可忍，諸藥所不能止者，用此立效。</p>
<p>水銀（一分，要好者）　寒水石（一兩）　巴豆（二十七粒，火炮過）　朱砂（半兩，要好）</p>
<p>硫黃　犀角　白蘞（各半兩）　海螵蛸　黃丹（　，各二兩）</p>
<p>上先以津液調和水銀如泥後，和諸藥末，用米飲丸如兩梧桐大，取新汲井水研藥一丸，當瘡心點之。如水透內則住，不然加之，以知為度。服金石人，用砂糖為丸，去海螵硝加朴硝半兩井花水頓進五粒便下，然須識證者可使，否則虛實失宜矣。</p>
<h4>軟癤方</h4>
<p>宜用淡豉餅。</p>
<p>薤白　淡豉（各等分）</p>
<p>上二味共舂作餅掩之，留瘡口泄氣。</p>
<p><u>又方</u></p>
<p>槐樹木上自起皮　青皮灰　伏出兒雞子殼（瓦上燒）　輕粉上為細末調塗之。</p>
<p><u>又方</u></p>
<p>銀鍋子為細末調塗之極妙，雞子白調亦可。</p>
<h4>治清疔</h4>
<p>穀精草（要淨者）　蟬殼（各一兩）　蒼朮（五兩）</p>
<p>上為末，每服一錢，水調服，食前仍以針刺疔出水，用桑柴灰汁洗之立效。</p>
<h2>後序</h2>
<p>文禮不才，蒙賢太守招致求醫，會新安王太監論及背證，文禮歷舉諸家治法，因投其機。遂令編類校正，集成一書，名曰「衛濟寶書」。後之覽者勿誚愚為僭可也。徐文禮識。</p>
