<header><h1>竹泉生女科集要</h1></header>
<dl class="元資料" data-type="book" hidden></dl>
<h2>序</h2>
<p>男女同是人也，飲食衣服同，工作起居同，其之致病，外感內傷，呻吟床褥，呼號病苦，則無不同，又何必有女科之別耶？而不知何以不同者，完全在於生殖機關。蓋女子有天賦之生殖能力，繁殖子孫，惟女子是賴，男子不能也。故女子之生殖構造，與男子異，此乃其病之伙於男子之一大原因也。若夫調經、種子、胎前、產後、帶下等症，皆女子所獨有之病，男子則無有也。女科之別，不亦宜哉！今彭子鑒於古說之未盡善，古書之太繁雜，故特有《女科集要》之作，求敘於余。閱讀一過，覺其書簡當不枝，說理透辟，知造福於女界者，厥功不讓傅青主，故樂而為之序。</p>
<p><u>中華民國二十年九月一日武進張贊臣識於上海醫界春秋社</u></p>
<p>治婦人之病較男子為難，婦人性多執拗，有幽隱之疾不肯直言，且胎前產後與月經諸患亦較男子為多，先賢所以有寧治十男子，莫治一婦人之嘆也。對於婦科書籍，古人著者頗多，各有所長，要其最詳而備者為《濟陰綱目》，最約而賅者為《醫宗金鑒》，此外善本未曾閱及。茲有友人攜《竹泉生女科集要》一書，求序於余，翻閱一過，雖非獨創之作，要其擷精采華有條不紊，非三折肱能手，無此識力，誠足為後學津梁也。爰記數語以歸之。</p>
<p><u>民國二十年八月中旬寧海嚴蒼山序於滬江家庭醫藥顧問社</u></p>
<h2>自敘</h2>
<p>竹泉生曰：余習醫術，頗有心得，用集諸前輩名賢之說，略分門戶，纂為是書。而余一己之私意為多也。非敢曰命世，亦不敢自秘。為獨得之奇。信吾言者，吾亦愿就正焉，其莫以為然，則吾將啟吾後人耳。</p>
<h2>天癸確論</h2>
<p>竹泉生曰：女科之難治，與夫造化之妙道，皆在天癸。世莫知其故，是以雖有能為帶下醫者，但守成法，弗克變通。</p>
<p>其理《經》無明文，昔賢論說難多，然皆未確。余好深思，頗有心得，愿揭著之。（〔批〕《女科集要》自注：補論、余義，皆列之上層，以醒閱者之目。）</p>
<p>今夫人身，一小天地也。天一生水，水之數一，人身亦只一水可知也。地二生火，火之數二，人身亦有二火可知也。</p>
<p>人身之一水何在，腎為體而膀胱為用也。水生於腎，藏貯變化，則在膀胱。《經》曰：膀胱者，州都之官，津液藏焉，氣化則能出矣。</p>
<p>人身之二火何在，心為君火，命門為相火也。命門者，右腎也。昔賢多疑是說，不知睪丸雖二，當交媾泄精時，惟右丸勃然上掌少腹，發精而鼓注之，於此可驗，其為命火之標也。</p>
<p>人所以生，以水火之交也。水交於君火，入心而成血，以灌溉百骸，交於命火，入腎而成精。精者，水之源而命火之根也。是二者，皆養身之本，人無是不生，故曰：人未有不水火相交而生者。</p>
<p>然此皆以一水而分交於二火者也。童男當五六歲，或八九歲時，見美好女子，其心知好之矣。然及其昵偎而相摟抱也，其陽物安然而不動，是君火動而相火靜也。吾以是知其君相火未嘗相謀也。無故而為之摩弄之，則其物亦能躍然而挺起，然其心不知何以故也。是相火動而君火靜也。吾以是更知其君相火不相謀也。此之謂一水分交於於二火耳。</p>
<p>逮夫男子十六，女子十四，則君相二火相會，入於胞宮，而合交於一水矣。二火合交於一水，於是乎始成天癸，君欲取是水以為血，故水從君火之化而為血之色；相又欲取是水以為精，故水又從相火之化而為精之質。然既不成精，又不成血，君舍之，相亦舍之，則是人身之廢材，而不足以有養身之益矣，故及其盈也而泄之。故曰：二火合交於一水，是成天癸。</p>
<p>當斯時也，君相二火，合於一水，生生之氣，循環而發，化育之意，油然而興，心有愛慕，則相火亦隨之而動矣。</p>
<p>相火勃不自遏，則雖無所懷念，亦且至無端而生遐想，則是相火掣動君火也。明乎此者，不獨有益於醫理，慎獨誠意之功，可以思過半矣。</p>
<p>然而男子之亦有天癸，何以不外見也？男子秉陽道而生，本乎天，天行健，健則不息，而陽道以氣勝，故其天癸隨化為精也，雖亦設之天癸，其色不赤。女子秉陰道而生，本乎地，地濃重而不變，而陰道以血勝，故其天癸既成赤色，不能復返其本。至於女子外泄，而男子獨否者，交媾之道。男子無所取，女子有所茹，是亦退者進之益者損之之義也。</p>
<p>觀夫新婚士女，男必少瘦，婦必加肥，亦可以明其道矣。</p>
<p>二火合交於一水，有天地交泰，水火既濟之義。於道又為兩儀返本，重混一而成太極之象。故袁了凡曰：斯時也，順而施之則成胎，逆而取之則成丹，蓋此意也。然左道邪術，君子弗言也。</p>
<p>欲動情勝，不自製之害也。故能澄水制火者，可造道入德。而黃老之道，亦生於是矣。</p>
<p>嘗聞者有武弁，嬖一男外家，廿年，遂以月行經如婦人，事雖無考，然亦理之所固有也。不勝客陽反為所制，積久而消，化為純陰，故竟為外家婦之道矣。質之變遷，氣之移易，亦理之常，附是論之。</p>
<h3>調經</h3>
<p>竹泉生曰：婦人經水不調，則百病叢生，雖使治之得法，亦難奏效。故凡婦女之經水不調者，除外感時氣急病而外，其余不論何病，總宜審其寒熱虛實，而先為之調經，經調，則余病略一清解調理，即可愈矣。故婦科以調經為第一要義也。（〔批〕外感時氣急病，不可少緩須臾，故又當作別論也。余病亦可於調經中兼經中兼治之。第一、二條皆正病正治，以下皆變局也。）</p>
<h4>經水先期第一</h4>
<p>經水先期，而色紫且多，此乃腎中水火皆太旺，蓋有餘之病也。然壯年之婦，水則正水，而火則邪火也。邪火不可任其有餘，而正水不可使之不足，故治之但少清其熱，勿泄其水。</p>
<p><u>傅青主先生清經散</u></p>
<p>丹皮　白芍（酒炒）　地骨皮　大熟地　青蒿　黃柏（鹽水炒）　白茯苓此方茯苓、芍藥，皆經產所忌，以其服之，恆致崩淋滯濁之患也，宜於經淨後服之。其多汗者，去丹皮。骨蒸者，以生地黃代熟地。腎元不固者，加金櫻子、山萸肉。（〔批〕書中名方，不過以大意備一格而三元生。人不同，氣質、七情、兼證，又人人殊，供奉勞逸亦各不同，諸藥未必盡宜，故於輕重皆略而不載。惟有一病而必須用者，則於方論中詳議之。）</p>
<h4>經水先期第二</h4>
<p>經水先期，其色紫而甚少，或至成塊者，此乃熱傷陰分，火有餘而水不足也。水不足，則火為浮陽，不宜泄，泄之則命火衰矣。故治之以　補真水而勿伐真陽。（〔批〕此證瘦瘠之婦居多，性多輕躁，藥宜柔潤。）</p>
<p><u>傅氏兩地湯</u></p>
<p>（即青主先生，以下簡稱傅氏）</p>
<p>生地黃（酒炒）　地骨皮　元參　白芍藥（酒炒）　麥冬肉　阿膠此方甚妥。蓋水涸者必骨蒸，是方能兼顧之。夫陰虛而火旺者，其肝陽必逆而多郁，加石決明以鎮逆，加象貝母以舒郁。無諸證者，勿犯上、中二焦。（〔批〕諸證即指下文「上、中二焦」而言。）</p>
<h4>經水先期第三</h4>
<p>經水先期，其色淡而甚多，屬之濕傷氣也。淡而多，水之象，先期氣傷而不攝血也。（〔批〕此證肥胖之婦較多，性多濃重。）大法以六君子東加黑薑、茯苓、膠艾治之。（〔批〕六君子湯原有茯苓，而云加者，倍之也。後皆同。患此者多屬氣。）</p>
<p>炙黨參　甘草　半夏　阿膠珠（蛤粉炒）　制白朮　茯苓　陳皮　黑薑　蘄艾葉此方補氣滲濕，兼溫血海。茯苓與術草並用，功在中州，不伐腎。（〔批〕質重滯靜默者濕重，當用茆赤術。茯苓不伐腎者，定如此用法，則經產可不忌也。喻此者甚少，故附是而論之耳。）</p>
<h4>經水先期第四</h4>
<p>經水先期，其色淡而甚少，或至有塊者，屬之血分，寒凝而氣虛也。淡少者，寒象，故凝為塊，然宜後期，或至瘀閉。今反超前，以是知氣虛而不攝血也，大法以歸脾湯去棗仁加吳萸、薑、艾治之。</p>
<p>炙黨參　制白朮　當歸　甘草　淡吳萸　艾葉　生薑　炙黃　遠志筒　茯苓　木香　龍眼肉　黑薑</p>
<h4>經水再至第五</h4>
<p>經水一月再行，初謂偶然先期也，既則屢屢若是，此乃崩中之漸也，及早治之，則易為力。其人體不甚瘠，脈浮大，口不渴，倦憊無力，大便時秘時且　溏，此乃氣虛而血不歸經也。（〔批〕循至此種使人預為之防也。前六句自為一小段。</p>
<p>總論以下分出氣虛、血熱兩種治法。）法宜大補其氣，及其任脈，佐以引血歸經之味。</p>
<p>吉林人參（另燉）　炙黃　炒當歸　黑薑炭　炒淮山藥　於白朮（土炒）　細撫芎　黑芥穗　貫眾炭　炒芡實子（〔批〕力不足者用真潞黨參一二兩代之，下元不固者加山萸肉。）</p>
<h4>經水再至第六</h4>
<p>其人體瘠，性躁，善怒，善煩，脈浮數，口渴，潮熱骨蒸，便秘，溲赤，時或氣逆，此乃大爍血室，沖氣上逆也。</p>
<p>火盛者氣亦必虛，《經》所謂：「壯火食氣」，是也。故治之之道，必壯水之主，以制陽光。而尤宜輔以助氣澀精之味也。</p>
<p>與加味傅氏兩地湯。</p>
<p>大生地　元參　麥冬肉　粉丹皮　女貞子　貫眾炭　生白芍　地骨皮　阿膠　金櫻子　炒淮藥　木耳炭　生潞黨白朮（制）</p>
<p>（〔批〕以上兩種治法與崩證無異。然未成崩者，服藥少而易效，已成崩者服藥多而功遲也。）</p>
<h4>經水後期第一</h4>
<p>經水後期，色紫而少，甚或有塊者，此屬腎虧水涸，肝鬱生火也。以其少，故知腎虛；以其紫，故知有火；以其後期，或有塊，故知肝鬱。其人必多煩怒，體瘦，脈數，按之濡澀，舌深絳，而便難也。治法以傅氏兩地湯，加象貝母、竹茹、青蒿之屬。</p>
<p>大生地　元參　麥冬肉　象貝母　白歸身　石決明　生白芍　阿膠　地骨皮　炒竹茹　炙青蒿</p>
<h4>經水後期第二</h4>
<p>經水後期，色紫而多，氣滯也。但利其氣，勿壯水而泄火。（〔批〕此證火乃鬱火，非實火也。氣本滯，若又壯水泄火，必致寒凝瘀秘之憂。）</p>
<p>制白朮　陳皮　延胡索　杭芍炭　象貝母　白茯苓　木香　炒當歸　杭甘菊　炙龜版</p>
<h4>經水後期第三</h4>
<p>（〔批〕惟此條為後期正病正治，上二條皆變局也。）</p>
<p>經水後期，色淡而少，甚或有塊者，氣血虛寒也。但溫補而通之。</p>
<p>炒當歸　川芎　炙黨參　炙甘草　懷牛膝　制白朮　薑炭　淡吳萸　蘄艾葉　大熟地</p>
<h4>經水後期第四</h4>
<p>（〔批〕此條亦屬正病正治之例。）</p>
<p>經水後期，色淡而多，或夾白膩黃涎，濕盛而脾氣滯也。宜扶脾並溫子宮。</p>
<p>制白朮　白茯苓　陳皮　炙當歸　木通　益智仁　製蒼朮　法半夏　川芎　淡吳萸　薑炭　黑芥穗</p>
<h4>經水兩月一至第五</h4>
<p>經水落後，至兩月始一行，或有塊下，此下元寒極，將有瘀秘成瘕之虛。宜溫血海，兼補命火，其人必兩足常冷，脈沉遲而便泄。</p>
<p>益智仁　肉桂（炙）　當歸　川芎　小茴香　淡附片　艾葉　制白朮　陳皮　桃仁泥</p>
<h4>經水兩月一至第六</h4>
<p>(〔批〕此亦後期之大變局，正如前先期之為崩兆也。凡遇後期即宜防是何為？未雨綢繆之計，則用力少而成功多矣。)經水兩月始一行，且極少，只三數點滴而止，其色或淡，或正紅，或紫。其人微有寒熱，或竟無之，或渴，或不渴，身無麻木苦楚，少腹亦無塊，或有之而系宿塊，脈或浮大，或細澀濡弱，但少少發落，膚似漸不澤，面色舌本不甚榮者，是乃血脈將枯之兆也。急與歸脾東加鹿茸、阿膠補救之，逮其已枯則難為力矣。</p>
<p>炙黃　真人參　鹿茸　制白朮　炒當歸　炙草　遠志筒　龍眼肉　白茯苓　阿膠　炒棗仁　麥冬肉　木香　生薑下元寒極者，加淡附子、肉桂。虛陽外越者，加胡桃肉。自汗，加龍骨、浮小麥。盜汗，加生牡蠣數分研，麻黃根。</p>
<p>骨蒸加地骨皮、生地黃。渴甚，加麥冬肉、川石斛。　溏，加益智仁、粟殼。中州濕盛而悶者，加六神麯、陳皮、蔻仁。</p>
<p>肝陽上逆者，加石決明、白芍、象貝母、黑山梔。咳者，加南沙參、甜杏泥。見有兼證，酌加之，弗能備述，總以不犯耗血破氣之味為宜也。</p>
<h4>經水或先或後忽多忽少或來或斷時痛時止第一</h4>
<p>婦女經水，有前後無定期，多少不一，或來或斷，時痛時止者甚至寒熱往來，頗似勞瘵，此皆肝氣鬱結不舒之故也。</p>
<p>治之無定法，大抵宜於溫通者多，宜於清涼者亦有之，然其始必先舒肝。肝者，一水之子，而二火之母也，又主疏泄之權。是故肝氣不舒，則既濟之化有乖，而疏泄之令不時矣，法宗逍遙渴意。</p>
<p>炒當歸　白茯苓　川芎　象貝母　炒桅子　大生地　炙甘草　白芍　制白朮　細青皮　甘杞子　石決明　山藥　炒竹茹　黑芥穗服此數劑後，肝氣已和，再按證施治之。</p>
<h4>經水不調第二</h4>
<p>經水前後多少有無不一如上條者，統謂之不調。夫經水者，實生於脾胃水穀之精。《經》曰：土大過則敦阜。敦阜者，濃且高也。陳修園曰：既高而又濃，則令除去。宜用平胃散，加大黃、白芍、枳實、桃仁之類。</p>
<p>增減陳修園先生加味平胃散製蒼朮　廣陳皮　全當歸　生白芍　桃仁泥　製厚朴　炒枳實　川芎　懷牛膝（炒）</p>
<p>平胃散原有枳實，不必再加重，恐其太耗氣也。大便不結，且非下血，不必加大黃。若加大黃，是合桃仁承氣也。</p>
<p>雖無芒硝、桂枝、甘草，其意已備，是必施之實體而有實證者尚可耳。</p>
<p>（〔批〕膏粱之體，秉氣薄弱者，此方宜輕用，寧多服二三劑耳，勿太驟也。壯實者不忌。）</p>
<h4>經水不調第三</h4>
<p>經水不調，其因於土氣太過者少，而因於土氣不及者多。《經》曰：土不及則卑監。卑監者，下而陷也。陳修園曰：既下且陷，則令培補，宜六君子湯，加歸芎柴芍。</p>
<p><u>陳修園先生加味六君子湯</u></p>
<p>黨參　甘草　陳皮　當歸　柴胡　白朮　茯苓　半夏　川芎　白芍此方大旨不易，更審血室之寒熱，加味溫涼之。陳氏調經，又有統治方，以四物東加香附、茯神、炙甘草為主。陰勝而寒者，加乾薑、桂、附、吳萸、桃仁、紅花之類。陽勝而熱者，加知、柏、芩、連、續斷、麥冬之屬。此雖至淺至淡之方，亦可常用，正不必於平常之病，而務求為立異以眩俗也。陳氏又謂仲景溫經湯，可以統治經閉，經多，崩漏不止，久不受胎，女科經水各證。此乃譽聖太過，無殊誣聖。血海熱者，豈宜吳萸、生薑。血液虛者，豈宜半夏、桂枝、丹皮。故吾直以為誣聖也。聖人首重正名，仲景立方亦若是矣。方曰溫經，首用吳萸，其溫通下元之意可知矣。通如修園，不免此謬，醫道之難可畏哉！</p>
<h4>經水不調第四</h4>
<p>婦女經水有反常者，當期不下，上為吐衄，或是耳目中出，是為倒經逆行，雖曰秉氣自異，終系病也，治法在後。</p>
<p>余如三月一行者，為居經；一年一行者，為避年；終身不行而受胎者，為暗經；其不受胎者，為白身；有受孕後月月行者，是為胎盛，俗曰垢胎；又有受胎數月，大下經血，而胎無恙者，是為漏胎。此數種者，皆由秉氣之偏，而非疾病，蓋以異為常者也。失其所以為常，則曰不調，亦按前法斟酌治之，勿震其平日之異，而誤以為病也。</p>
<h4>附節傅氏助仙湯方論第五</h4>
<p>婦人有天生仙骨，經水必一季而一行，然以嗜欲損天，則為病無異常人也，不可不立一療救之方以輔之，方名助仙丹。</p>
<p>白茯苓　陳皮　菟絲子　杜仲（炒黑）　制白朮　山藥　酒白芍　甘草</p>
<h4>經水逆行第一</h4>
<p>衝任二脈氣鬱生熱，是成逆經倒行之病。其在母腹秉氣偏僻者，竟以為常，或因病而致，雖無大損，而不能成胎，故皆當一律作病論也。大法以降衝任二脈之氣逆，而平其火為第一義。</p>
<p>嫩白薇　敗龜版　大生地　丹參　粉丹皮　南沙參　寶珠花　阿膠珠　象貝　生白芍　鮮石斛　大麥冬　生薑汁童便寶珠花即山茶花也。本當用鬱金，以少真者，故以山茶花代之，宜研末沖服。吐衄多痰者，加沙參、竺黃；肝陽逆甚，加決明；胃氣逆甚作嘔，加大黃、炒枳實炭。</p>
<h4>經水前每先逆行第二</h4>
<p>婦人有經水前一二日，每腹痛而吐血者。此由於肝氣之逆，與上條屬火極盛者，又有異焉。法宜補腎而兼平肝。</p>
<p>傅氏順經東加貝母、決明、牛膝、茜草。</p>
<p>大熟地　粉丹皮　白茯苓　生白芍　象貝母　茜草　白歸身　北條參　黑芥穗　石決明　懷牛膝壯年之婦，經水偶逆，因而吐血，往往有之，若誤作勞瘵治，輒成勞瘵也。慎之，戒之。</p>
<h4>經水橫行旁流大腸第三</h4>
<p>婦女有經前一二日，大便先下血者，此橫行旁流所致也。經水先是循衝脈而上逆，幸沖氣不甚逆，因而橫行脂膜入於大腸，亦血海有熱，所以經水越涌也。但清血海，勿犯腸胃。</p>
<p>大生地　粉丹皮　白歸身　淡黃芩　淡生薑　白茯苓　炒白芍　黑芥穗　懷牛膝</p>
<h4>經前腹痛第一</h4>
<p>婦人有每月必先腹痛數日，而後經水始行者，其色多紫黑而成塊。此腎虛火熾而肝鬱所致也。溷水為火所煎熬，成紫黑之塊，肝鬱失疏泄之令，故滯而作痛也。痛甚者，至於輾轉呼號，俗謂之痛經。傅氏兩地東加味治之。</p>
<p>酒炒生地　地骨皮　元參　丹參　石決明　夏枯草　酒炒白芍　麥冬肉　阿膠　象貝　細青皮</p>
<h4>經後少腹痛第二</h4>
<p>每經水淨後，少腹作痛，非塊非寒，乃水虧木旺，肝陽橫也。與傅氏調肝東加熟地、女貞子。</p>
<p><u>傅氏調肝湯</u></p>
<p>炒淮藥　阿膠珠　巴戟天（鹽水浸）　酒白芍　女貞子　山萸肉（蒸）　甘草　全當歸（酒洗）　大熟地此方調經後皆宜，不獨治少腹作痛一證而已也。</p>
<h4>經前臍下痛泄淡黑水第三</h4>
<p>每經前三五日，臍下作痛，狀如刀刺，或有寒熱，下黑水如黑豆汁，此濕所致也。經水欲出，逼之外泄，相爭而痛也。寒氣凝著，故如刀刺。其人必兩足常冷，腰以下重，傅氏有溫臍化濕湯。</p>
<p>制白朮　炒山藥　炒扁豆　建蓮子（蓮心用）　白茯苓　巴戟肉　白果（搗）</p>
<p>經前十日，服四五劑，擬加淡吳萸，蘄艾葉，二味為佐。</p>
<h4>經前泄水第四</h4>
<p>婦人有泄水三日，而後行經者，脾虛也。脾虛不運，故津液不化為精而化為水；脾虛不攝，故經水將下，而脾濕先為之泄注。治宜健脾補氣，與六君子湯。　溏者，加肉果主之；有食加神麯。</p>
<p>炙潞黨　炙甘草　廣陳皮　制於朮　白茯苓　法半夏竹泉生曰：余纂《女科集要》一書，首以調經，調經之類凡五，共二十有四條，其義備矣。世之求為女科者，其毋忘第一要義，則庶幾乎。苗有未達，參審於調血門，則必有得矣。</p>
<h4>經水先期第一（補）</h4>
<p>補曰：經水先期色紫且多，倘兼咽燥眩冒，腰痛，筋酸，無力，脈象浮大，大便結者，即為血不歸經，隨天癸而外溢，當作失血論，治法詳後調血門中。</p>
<h2>帶證總論</h2>
<p>竹泉生曰：前賢論婦人帶下一證，惟有明之末年，陽曲傅山青主氏言之最詳而精。余節其論，大伸己意，以弁帶證之首。</p>
<p>帶證皆屬濕，獨以帶名者，為其傷犯帶脈，將成大害，有坤爻初六履霜之警也。夫濕者，不過六淫之一，何至張大其事，抑若是哉？不知濕而成帶，絕非常濕之可比。其邪生於脾，由脾之脂膜，走竄衝任二脈，下貫帶脈，而注於胞宮，於是乎淋漓外泄，稠黏腥臭，是所謂帶下之證也。</p>
<p>其為病也，初無大苦，不過穢惡自嫌而已。然胞宮上系於心，下系於腎，為二火一水會盟行成之地，濕濁之邪，久久蹯踞，阻礙三經既濟之功化，是已有害於經水矣。</p>
<p>且督脈為天，任脈為地，天地泰交，故生百物。而帶脈周繞約束，有如四維之輔二極也，其保胞宮，有如四瀆之衛華夏也。於是衝脈象人聲乎其中，而成三才，此所謂人身一小天地也。今濕邪往來於帶脈，阻礙交泰之功化，而傷天地之和。督脈主生精，任脈主生血，二脈受傷，則精血之源不裕，此豈非帶證之所害乎，期不亦履霜而知為堅冰至乎！雖然，及早為之謀，則一變為復，再變為臨，三變為泰，春氣勃然而生矣，是亦齊至魯，魯至道之意云。</p>
<h3>治帶</h3>
<p>竹泉生曰：帶之為病，初無大苦，馴其極大害經水，且至有害於精與血，前論詳矣。顧世人習見其目前不為大苦，恆易之，及其積久，傷損衝任而阻礙經水。既及精血而臟腑大困，然後謀為補救之方，不已遲哉，故列治帶之條目，為女科第二義。</p>
<h4>白帶第一</h4>
<p>婦人病帶，十常八九，帶色之白，十中亦居八九焉，何也？濕傷氣，固其正色也。病此者，胃雖強而能食，脾必不運，而肝木亦先期疏泄之職司也。肥胖者，用傅氏完帶湯，或以六君子東加味治之。</p>
<p><u>傅氏完帶湯</u></p>
<p>制白朮　炙黨參　製蒼朮　陳皮　黑芥穗　炒山藥　酒白芍　車前子　甘草　柴胡</p>
<p><u>加味六君子湯</u></p>
<p>炙黨參　茯苓　陳皮　制茆術　貫眾炭　淡吳萸　制白朮　生草　半夏　大木通　黑薑炭　澤瀉</p>
<h4>白帶第二</h4>
<p>瘦弱之婦，腎虛火旺，亦有患白帶者，治之不可太燥。</p>
<p>焦冬術　炒白芍　綿茵陳　阿膠珠　貫眾炭　石葦　炒淮藥　黑梔子　白茯苓　木耳炭　車前子</p>
<h4>白帶第三</h4>
<p>（〔批〕前條乃不足之證，而未不可遽補。此條則有餘之候，而又不可竟瀉之也。臨證者總宜細心體會。）</p>
<p>更有壯年之婦，飲食照常，兩便如故，而患白帶者，是則由於水不能盡化為經，乃溢而為濕也。治之之道，勿泄有餘之腎水，但補不足之命火，交其心腎，使化為有用之精血也，是為得之。</p>
<p>益智仁　遠志肉　黑薑　貫眾炭　丹皮　補骨脂　炒當歸　艾葉　車前子　澤瀉（或與桂附八味丸亦可）</p>
<h4>白帶自臍中溢出第四</h4>
<p>嘗診一少婦，臍中出水，白膩臭穢，余直斷之曰：是帶證也。必素患白帶證，問之信夫。臍之為竅不過少泄中焦之濁氣，故其垢臭穢濕可知也。夜睡露臍，能受外寒而腹作痛瀉，然未聞有浴於池而水入乎臍為病者，則是臍之為竅，無形之氣可以出入，有形之物不能出入也。今白帶乃自臍溢出何哉？蓋嘗深思之，其故有二，初生之時，斷臍帶未善，感寒熱之邪，因而不固，一也。然其竅雖不固，亦非他竅可以大開之比，況濕濁之水，又非山溪江河急湍之比，盡可舒徐曲折，順下而流，今乃急不及待，橫溢而出者，是衝任胞宮之火熾氣逆所逼迫而使之者也，二也。治之先降衝任逆氣，壯水而制火，佐以利導之品，所謂先期所急而後期所緩也，名曰導橫湯。（〔批〕倘無帶證僅患臍中出水，治法亦同。愈後急宜服後方以補帶脈之虛。）</p>
<p>嫩白薇　大生地　炒白芍　白茯苓　貫眾炭　生草　鮮石斛　大丹參　粉丹皮　鹽澤瀉　木耳炭　木通外敷去濕填竅之藥，名曰封臍散。</p>
<p>醋　牡蠣（研）　白及末　側柏葉（燒灰）　共為末和勻敷之。</p>
<p>待其帶愈，經水亦調，無他病，乃服後方以補臍，名曰固臍飲。（〔批〕亦可作丸，但龍骨、牡蠣、龜版須煎濃汁代水為丸，而龍骨當加余兩倍。）</p>
<p>土炒白朮　炙當參　白歸身　醋　龜版　生草　醋　牡蠣　龍骨　醋白芍　阿膠珠　木耳炭此方雖名固臍，其實則大補帶脈，以帶脈周遭束腰而通於臍，臍竅不固，帶脈必虛，病且百出，何以受胎，故宜多服，若常常飲茶湯然，以是而名之曰固臍飲也。</p>
<h4>青帶第一</h4>
<p>肝家濕熱成帶下者，其色青綠。肝性喜潤而惡濕，故有濕則性違，違則郁，郁則逆，逆則上，肝氣欲上而濕欲下，兩相牽掣而停貯於中焦脂膜之間。然無形之氣，不勝有質之濕，是以郁之既久，卒走帶脈而下胞宮。郁淺熱少者色青；郁久熱盛者色綠。治之統與傅氏加減逍遙散。</p>
<p><u>傅氏青帶下加減逍遙散</u></p>
<p>（〔批〕此方極妙。病不及血分，故減去當歸。白朮能助肝鬱，故亦去之。）</p>
<p>白茯苓　生草　綿茵陳　陳皮　酒白芍　柴胡　黑山梔</p>
<h4>青帶第二</h4>
<p>肝素無病不郁，疏泄如常，寒濕入之，乘其氣化而為淡青色，得之未久者，治宜溫化。</p>
<p>淡吳萸　炒白芍　炒麥芽　貫眾炭　細青皮　白茯苓　韭子（研）　澤瀉</p>
<h4>青帶第三</h4>
<p>婦人素患白帶，有時偶帶青綠色者，此乃屬脾濕，脾之運化，賴膽汁之助，膽郁生熱，其汁溢出，濕挾之而下，故為是證，乃偶然之事也。以六君子湯，加疏解膽郁之品治之，佐以止帶之味，其上中焦有熱者，酌清上中二焦，弗備贅也。</p>
<p>炙黨參　白茯苓　陳皮　青蒿子　貫眾炭　木通　制白朮　生甘草　半夏　炒竹茹　木耳炭　澤瀉</p>
<h4>黃帶第一</h4>
<p>黃帶者，任脈之濕熱也，督脈象干為天，而督率萬物，故曰督，厥色白。任脈象坤為地，而任載萬物，故曰任，厥色黃，此任脈之氣化所以化濕為黃帶也。任脈上走唇齒，下達胞宮，水液往來其間，而不能容留，今以胞宮有熱阻其水液，化而為濕，積多下注，色如黃丹濃汁。傅青主曰：法宜以山藥、芡實補任脈即以利水，加白果為引，以黃柏清腎火，則庶幾矣，方曰易黃湯。</p>
<p><u>傅氏易黃湯</u></p>
<p>炒山藥　黃柏（鹽水炒）　車前子（酒炒）　炒芡實　白果（打碎）</p>
<h4>黃帶第二</h4>
<p>帶證亦有正黃色者，其色著物，滌之不去，此脾濕為黃膽也。其小溲亦必正黃，著物亦必如染，此但當作黃治，稍顧任帶脈。</p>
<p>制莪朮　白茯苓　法半夏　製厚朴　生梔子　山藥（炒）　制白朮　赤茯苓　綿茵陳　福澤瀉　薑黃連　貫眾（炒）</p>
<p>龜版　廣陳皮　甘草梢</p>
<h4>黑帶第一</h4>
<p>黑帶之為病，腹痛，小便時如刀刺，陰戶腫，其面必發紅，久則黃瘦，反能食，大渴引飲，此胃腑、三焦、命門、膀胱之火，合而熬煎，所以致此病也。然其來也，非一朝一夕之故，而及其成也，亦斷無延長之道。苟其早為之所，又何至成此危候哉。</p>
<p><u>傅氏利火湯</u></p>
<p>大黃　石膏　制白朮　肥知母　車前子（酒炒）　黃連　炒梔子　白茯苓　劉寄奴　王不留行</p>
<h4>黑帶第二</h4>
<p>前條危候，治逆則水血皆溷，無延長之道也。亦有下元虛寒者，濕在腎經，走於帶脈，由陰道出，其色淡黑，寒水之本象也。其人必面白，不渴，或卻食，兩足常冷，腰以下如坐水中，尺脈緊，或沉遲，急溫下元。</p>
<p>炮附子　小茴香　益智仁　獨活　貫眾炭　蘄艾葉　淡吳萸　白茯苓　桂枝　薑炭</p>
<h4>赤帶第一</h4>
<p>婦人憂思傷脾，脾滯生濕，積而為水，惱怒傷肝，肝鬱生火，血不歸經，於是乎水與血合，走帶脈，入胞宮，淋瀝下泄，非經行，非血崩，無大苦楚，是為赤帶。傅青主曰：此證火重濕輕，但宜補血以制火，不宜利濕，倘利其濕，則引火下行，轉難遽效云。原方錄下：醋白芍　酒炒當歸　黃柏　阿膠珠　酒炒香附　粉丹皮　酒炒生地　牛膝　小黑豆　紅棗</p>
<h4>赤帶第二</h4>
<p>其人肥胖，下元有寒，赤帶色淡，是水勝於火，濕多而血少也。治法正與前相反。</p>
<p>炙黨參　白茯苓　生草　法半夏　炙當歸　車前子（炒）　制白朮　制赤術　陳皮　黑芥穗　生薏仁　貫眾炭　酒白芍　焦梔子下元寒甚者，加吳萸、艾葉、炮薑。</p>
<p>竹泉生曰：帶下一證，傅青主言之最詳，然亦只言五色各一條，但舉其正而示入。余更歷言其變，五種，凡十三條帶下之義，亦少備矣。雖使天地之氣，將來更有變遷，然其理弗外是也。</p>
<h2>調血精義</h2>
<p>竹泉生曰：調經調血，用藥不甚異，然要其指歸，血與經水，固有大不同者矣。故吾於女科，又有調血之說。</p>
<p>今夫經水，有血之色，兼精之質，兩無所歸，遂成廢物，無益於身，故常令泄，不過藉之以會合君相，因得調和太衝脈而已。</p>
<p>至於血則不然，內而五臟六腑，外而肌肉皮毛，四肢九竅百骸，莫不資之以為潤，得之以為榮也。使其不養心，則怔忡矣。不養肝，則厥逆矣。不養皮毛，則甲錯而焦落矣。不養筋絡，則麻木而拘擎矣。此豈可與經水之廢物無益身體者，同日而語哉！苟通其故，則知治經水有通而無補，治血苟非瘀結，亦不宜輕易而破耗也。是故經之欲補者，非亡血，即血枯也。</p>
<p>血之宜破者，非經閉，即血瘀也。</p>
<p>雖然，血之為益固不小，而其為害亦甚大，先賢有言曰：無瘀不成勞，傳尸勞瘵，其蟲通靈，瘀為之也。故治血，雖不可輕於破，亦不得偏於補，是以謂之調血。</p>
<p>且夫欲知調血之精義者，必先明血脈所行之道路，五臟皆有系，除系之外，臟腑皆有脂膜，互相連屬，其形如纊縷，如絲網。《經》所謂：心脈絡小腸，上肺，出腋。心包脈下膈，歷三焦，出腋。肝脈過陰器、小腹、絡膽、挾胃上過目系，會督脈於顛頂。脾脈絡胃，挾咽，連舌本。肺脈循胃脘，出腋。腎脈貫脊，絡膀胱，上循咽挾舌；肢者絡於心。小腸脈絡心，下膈繞胃。三焦脈布膻中，絡心包，下膈。膽脈循脅裡，絡於肝。胃脈環唇、循喉、下膈、絡脾，下挾臍。大腸脈穿膈，絡肺。膀胱脈挾脊入腰，絡腎。出於髀外，此即脂膜，與三焦油膜皆相連屬，由三焦油膜而生無數脂膜，分走於筋骨肌肉關節，而偏乎周身，血管即在其中，自臟腑入三焦，而外達於遍體，枝干交錯，絡繹不絕，血走管中，隨氣而動，是為動脈也，故曰脈絡，又曰隧道，而統謂之血脈，亦謂之血絡。明乎此，是故知調血之道，總以充足無虧而周流不息為大宗旨者也。</p>
<p>經水血脈，大有異矣。然治之頗同，何也？蓋精也、血也、經水也，皆腎中天一之水所化者也。其所以化精化血化經水，皆賴君相二火之力，故水火虛，則精血經水三者皆虛，彼固同父異母，異流同源者也，故治之同者竟無異，治之異者竟不同。</p>
<h3>調血上</h3>
<p>竹泉生曰：血脈不調，小則常抱血病諸證，大則竟成勞瘵，男子且然，婦女尤甚，為其以肝為先天，而陰道以血為本也。然則調血之義，可不慎重也哉。故余論次女科書，經帶之後，列調血一門。</p>
<h4>血瘀第一</h4>
<p>婦人經水不行，少腹有塊，或大或小，或痛或否，亦多有經水時行無阻礙者，此乃血積胞宮也。非經水能為塊也。</p>
<p>經水中有塊者，亦屬瘀血，然亦有挾痰飲敗精而成塊者，虛寒人少腹有瘀塊，治宜溫痛，有鬱熱者，加龜版、丹皮、白芍之屬。</p>
<p>黨參　當歸　黑薑　炙鱉甲　淡吳萸　莪朮　芎　艾葉　荸薺粉　桃仁泥</p>
<h4>血瘀第二</h4>
<p>少腹無塊，小溲時刺痛不可忍，水自利者，為血結精竅，或在血管，男子亦有患之，治之勿利水。</p>
<p>當歸尾　桃仁　黑芥穗　淡蓯蓉　生草梢　藕節　鹽黃柏</p>
<h4>血瘀第三</h4>
<p>風血相搏，瘀阻關節，掣痛若廢，是為歷節，祛風行瘀為主。</p>
<p>鹿銜草　威靈仙　茜草　虎骨　宣木瓜　荊芥穗　酒當歸　蕪荑　川芎　酒白芍</p>
<h4>血瘀第四</h4>
<p>陽氣虛泄，寒著肌表，血脈瘀滯，遍體麻木不仁，是為血痹。富貴尊榮而逸豫者，多有患之。其人骨弱體豐，脈微澀，尺中或關上小緊，失治則脈隧不暢，浸為勞瘵。故仲景《金匱》合虛勞論之，而主以黃　桂枝五物湯，誠不易之聖方也。（〔批〕因是聖方並未加減，故著分量，然皆三分之一。按：桂、　、芍原均作三兩，今合七錢五分；生薑原作六兩，今合一兩五錢；大棗原作十二枚。）</p>
<p><u>《金匱》黃　桂枝五物湯</u></p>
<p>黃　（二錢五）　白芍（二錢五）　桂枝（二錢五）　生薑（五錢）　大棗（四個）</p>
<p>竹泉生曰：聖人之制方，盡美矣，又盡善也。黃　助氣，大棗滋脾陰而助血，桂芍雖云分調營衛，然皆長於行血，生薑重用者，所以溫經而散寒，辛通而速行，全資其力也。</p>
<h4>血瘀脈證第五</h4>
<p>仲景曰：病患胸滿，唇痿，舌青，口燥，但欲漱水，不欲咽，無寒熱，脈微大來遲，腹不滿，其人言我滿，為有瘀血，此乃因寒而瘀，瘀未甚也。仲景未立方治，但宜通，不拘一方，故略之，擬備大法。</p>
<p>當歸　桂枝　乾薑　艾葉　川芎　白芍　阿膠　芥穗</p>
<h4>血瘀脈證第六</h4>
<p>仲景曰：病者如有熱狀、煩滿、口乾燥而渴，其脈反無熱，此為陰伏，是瘀血也，當下之。吾為之解曰：不發熱，知非外感，血瘀不養心，故煩。滯衝任胃脈之氣，故滿。以其干燥而渴，故知所瘀之地在衝任，胃氣因之而生火上炎也。</p>
<p>脈無洪數之象，故知是瘀久氣鬱，熱伏陰分也。下之不出方，因事制宜也。竊謂煩甚而胸中痞痛者，與瀉心東加歸、芎、生薑、白芍治之。</p>
<p><u>瀉心東加味</u></p>
<p>大黃（酒炒）　淡黃芩　酒白芍　生薑　黃連（薑汁炒）　炒當歸　細撫芎腹滿甚，痛而拒按者，與桃仁承氣湯。</p>
<p><u>仲景桃仁承氣湯</u></p>
<p>桃仁　大黃　芒硝　桂枝其煩滿渴飲殺是者，擬備大法。</p>
<p>嫩白薇　川芎　黃柏炭　寶珠花（研沖）　大丹參　牛膝　川貝　淡薑汁（沖）</p>
<h4>血瘀經閉第七</h4>
<p>（〔批〕大抵血瘀屬實，為有餘之證，脈必沉緊滑數。血枯屬虛為不足之證，脈必散大浮芤，識此辨之可無誤矣。）</p>
<p>婦人、室女，因血氣瘀滯而經閉者，其脈反見滑數，數則為有熱，滑則為有餘，雖未見吐衄諸證，然屬之經脈逆轉，治宜降逆通瘀。陳氏曰：經脈逆轉者，宜《金匱》麥門冬湯，加牛膝、茜草之類。</p>
<p><u>《金匱》麥門冬湯</u></p>
<p>麥門冬　人參　粳米　炙甘草　半夏　大棗通瘀行經之品，隨時因其虛實而加之。瘀多者，減去參，逆甚而氣滿者，並去甘草；渴甚舌光剝者，重加白蜜以滋腎陰。</p>
<h4>血瘀歷久成血枯第八</h4>
<p>婦人有因瘀血結滯脈隧，歷久成血枯證而為勞瘵者。其始或經行不利，甚至刺痛，因而經水斷者有之，或經水先斷，小水自利，但溲時，或溲後血管作痛，如淋痛者有之，其脈不見虛大濡澀，而反得滑數之象。如是者居多，醫者誤治，但與利水泄火之劑，延久則一水二火皆絕，是速其死也。此證，先天秉氣濃，未嘗治逆者，與仲景大黃　蟲丸。</p>
<p><u>仲景大黃　蟲丸</u></p>
<p>大黃（一錢）　黃芩（二錢）　甘草（一錢）　桃仁（三錢）　蟲（二錢）　水蛭（三根）　虻蟲（一錢）　蠐螬（二錢）　乾漆（一錢）　杏仁（三錢）　地黃（二錢）　白芍（二錢）</p>
<p>蜜丸酒服。竹泉生曰：服之宜在空心食前。唐容川方論曰：此丸治干血癆，舊血不去，則新血斷不能生干血癆，人皆知其極虛，而不知其補虛，止是助其病也。必去其干血，而後新血得生，乃望回春，干血與尋常瘀血不同，瘀血尚可以氣行之，干血與氣相隔，故用嚙血諸蟲以蝕之。</p>
<p>其先天不足，或已治逆者，服大黃　蟲丸後，隔一時許，接服新制龜鹿補血膠。</p>
<p>鹿茸　當歸　炙當參　遠志肉　川芎　桂圓肉　龜膠　阿膠　制白朮　炒棗仁　炙草　大棗肉　木香　茯苓　血余膏大麥冬　白蜜　生薑另用交趾肉桂，去粗皮研末攪入，開水化服。</p>
<p>其水不涸，而陽虛甚，但倦臥不喜言語者，急扶二火，補脾氣，俟其神少振，仍按上法治。</p>
<p>制附子　野山參　北五味　遠志筒　川石斛　交趾桂　制於朮　麥冬肉　龍眼肉</p>
<h4>血瘀隨枯第九</h4>
<p>血瘀成　瘕，旋即經閉，因而枯涸，此乃血將枯而先瘀，非以瘀而枯也。但問經水未斷之前，所下無若秫米、綠豆大瘀塊者，即以純虛論，何也。瘀塊皆小於綠豆，下之時極痛，此乃脈隧之瘀，結於血管，以妨新血之生，最為大害，雖其人極虛，亦宜亟破之。今無是證，雖曾有瘀塊，現有　瘕，皆置勿論，但補其枯，血液既生，瘀者自化，即不然，緩以治之，弗為害也。若先攻之，於人無益，虛者反加損矣。故治之但以歸脾湯，如鹿茸、阿膠、麥冬，如「調經門」</p>
<p>中經水兩月一至第六條法。倘肝鬱而逆者，參服逍遙散，去白朮、柴胡，加貝母、竹茹、石決明之屬。</p>
<h4>血枯屬之經閉第一</h4>
<p>（〔批〕上條名為血瘀，實是血枯。此條名為血枯，實系經閉。總見參伍錯綜，精辨施治不可疏忽。下條亦同。蓋經閉一候實不易辨，往往誤治致死，故一再言之，而列於血枯一門之首。）</p>
<p>婦人方壯強，經水斷，無寒熱，歷年不愈，人疑為血枯，非也。腎水不足，而心脾之氣不舒也。滋水源，辭氣鬱，佐以調血，備大法。</p>
<p>大熟地　白歸身　鹽杜仲　貝母　山藥　牛膝　女貞子　山萸肉　細撫芎　白芍　木香　芥穗其人尺脈旺，精氣足者，但交其心腎，相火太旺者，加黃柏炭。</p>
<p>遠志筒　茯神　首烏藤　酒白芍　炒棗仁　貝母　細撫芎</p>
<h4>血枯屬之經閉第二</h4>
<p>喻嘉言曰：室女某，經閉年余，發熱，食少，肌削，多汗，汗出如蒸籠氣水，醫謂屬血枯，與補劑，血益涸，此經血內閉，化汗外泄也。設無汗而血不流，則筋骨皮毛皆干萎而死矣。宜極苦之藥，斂血入內，下通衝脈，則熱退經行，而汗自止也。與龍薈丸，日三服。</p>
<p><u>龍薈丸</u></p>
<p>（一名當歸蘆薈丸）</p>
<p>當歸（一兩）　膽草（一兩）　梔子（一兩）　蘆薈（五錢）　青黛（五錢）　麝香（五分）</p>
<p>黃柏（一錢）　黃芩（一兩）　黃連（一兩）　大黃（五錢）　木香（二錢五分）</p>
<p>酒丸，童便下，月余經血略至，汗熱稍輕，減之日一服。又一月，經血大至，諸病皆瘳。（按：每服不言多寡，酌用可也。）</p>
<h4>血枯第三</h4>
<p>婦女經水斷，與通經藥不效，反泄瀉便血，投四神、六君、八味之屬，瀉益甚，食少，骨瘦如柴，此血枯而不歸經也。然其血未涸，陽氣不脫，易治。加減黃土湯君鹿茸以治之。</p>
<p>鹿茸（生用）　熟地　阿膠　赤石脂　白歸身（炒）　白朮（土炒）　甘草　黃芩　麥冬肉　黑芥穗（〔批〕血枯血崩之證，氣不脫者易治，脫氣者危，故此下再三致意焉。）</p>
<p>其血未涸，氣先脫，嗆咳喘促者危。先服獨參湯或黃　湯，少定，與加減六君子湯，君鹿茸治之。</p>
<p>生鹿茸　制白朮　茯苓　北五味　麥冬肉　阿膠　野山參　炙甘草　陳皮　山萸肉　赤石脂　芥穗（炒）</p>
<p>前方偏於補血藥，此方則補斂精氣者居多，用意各殊也。人參如無真者，以綿黃　代之。</p>
<h4>血枯第四</h4>
<p>陳修園曰：《內經》云：二陽之病發心脾，有不得隱曲，女子不月，其傳為風消，其傳為息奔者，死不治。馬元台注云：二陽足陽明胃也，為倉廩之官，主納水穀。乃不能納受者，何也？此由心脾所發耳，正以有不得隱曲，郁之於心，故不能生血養脾，脾亦以傷於思慮，而失其運化之司，胃亦由是不納水穀，而血脈遂枯，經水逐絕矣。（〔批〕此處略參己意。）余擬用歸脾湯，重加生鹿茸、連心麥冬，服二十余劑可愈。郁甚者，加芍藥、柴胡。（〔批〕陳氏以一病一法分為二方，余合之。歸脾湯已見前，故不列。）</p>
<h4>血枯傳為風消第五</h4>
<p>風消，火盛爍肌，其消瘦有如風行之速也，宜急救胃陰，歸脾東加生地黃、地骨皮、鮮石斛、白芍、蔗漿、麥冬、白蜜之屬。</p>
<h4>血枯傳為息奔第六</h4>
<p>息奔，喘息上奔，氣將脫也。（〔批〕其氣將脫，必先八九至之脈，余曾親見之）。陳氏謂為胃氣上逆，與麥冬湯，大謬。《經》曰：不治。無己為擬救元湯野山參　山萸肉　製首烏　黑降香（磨沖）　胡桃肉（連皮用）　龍骨　北五味　紫蘇子　靈磁石（先煎去黑水）</p>
<p>服之氣稍平者，不死。息既平，改服鹿茸麥冬歸脾湯。加龍骨、五味。（〔批〕此方斂補元氣納歸於腎，服之息平，氣尚能歸元也。然此證能生者百中一耳，不過數日而已，先天不足者，一二日即死。</p>
<h4>血枯第七</h4>
<p>室女血海干枯，甚於婦人，多死者。冬日，與假借當歸生薑羊肉湯，余以當歸補血東加味治之，或與歸脾湯，加鹿茸、麥冬。</p>
<p><u>假借當歸生薑羊肉湯</u></p>
<p>（〔批〕此方用藥輕重意與原方不同，故著明之。）</p>
<p>當歸身（五兩炒）　乾薑（三兩）　炙甘草（四錢）　羊肉（一斤）</p>
<p>《金匱》當歸生薑羊肉湯，治產後瘀痛，是但行氣血寒滯，而稍兼補意也，意不相同，故曰假借。原方當歸三兩，生薑五兩，今倒之，且增炙甘草者，意重在補血也。生薑易用乾薑，取其守而不走之義，此為無力者設也。倘然冬日，則未宜。</p>
<p><u>當歸補血湯</u></p>
<p>黃　（一兩）　當歸（五錢）</p>
<p>陳氏曰：加麥冬、白芍各五錢，炙甘草二錢。虛極者，加附子一錢，以助之。按血枯之證，補血不易，況室女乎！自非血肉之品不可，仍宜加鹿茸三錢，或鹿角膠、龜膠各三錢。</p>
<h4>血枯第八</h4>
<p>陳修園曰：女室經閉，肝脈弦上寸口魚際，非藥所能治，急與婿配則愈。或與加味逍遙散。若體常怯寒，食少腹脹，佐以六君子湯，加乾薑之類。歸脾湯、八珍湯，可以出入互用。</p>
<h2>氣化次序說</h2>
<p>竹泉生曰：人身氣化，有先後，有輕重，不明其道，無以為治，此吾所以又有氣化次序之說也。</p>
<p>夫腎水之於人，初無大益，真陰薰蒸之，肺出其治節，膀胱通其氣化，遂成元氣，故氣之為物也，根於腎命胞宮，通乎心肺脾胃三焦之間耳。行於唇齒則為津，達乎皮毛則為汗，而百骸由是皆有生生之氣，故為溫和者也。元氣既足，乃鼓激有餘之水，使與相火交而成精，精充滿，則循督脈上行而為腦，填乎骨中則為髓，於是乎骨強而能立矣。</p>
<p>又鼓激有餘之水，使與君火交而成血，血充滿，則循衝任旁達遍敷，灌溉脈隧、肌肉、筋絡，於是乎筋榮而能運動矣。</p>
<p>精屬陽而本乎天之氣，體動而用靜，故腦髓安居而不遷。血屬陰而本乎地之氣，體靜而用動，故脈隧營運而不息，而統乎精血陰陽者，則氣也。故精曰精氣，血曰血氣。</p>
<p>知此，則其先後輕重之治可得矣，是故經水枯者，補其血，血虧者補其精，精脫者，補其氣，經曰：虛則補其母是也。</p>
<p>是書言血而不言精，何也？蓋補氣解鬱，填精益水，散見於各證，而女子屬陰，以血為本，故其病多見於血，其精病惟濁證一種而已，古人以濁為帶，非也。帶下不自覺，非能致死，濁下則自覺之，不止者死，元氣亡也。故附志於末，以擬於失血。</p>
<h3>調血下</h3>
<p>竹泉生曰：以上所論，血瘀血枯，或虛或實，宜補宜攻，皆兩相對照。此卷所列雖四種，然皆失血之候，治之宜補澀而稍帶通行。惟閃跌一證，則似崩而非崩，故宜清瘀、實此卷中之賓也。五帶雖另為一卷，其義實附與調經，調血一門，與調經之道相表裡發明，故其義直接調經。而下卷所論血證，又此卷之附也。至於此卷之末，附濁證一條，則前說言之矣。</p>
<h4>血崩始見經多第一</h4>
<p>（〔批〕血崩第一條即從經水而來，見得經血兩者雖不相同，實有唇齒相依之義。）</p>
<p>經水過多，或至再行，此血不歸經，隨天癸而外溢也。其人必鬱冒咽燥，腰痛疲倦，便難，脈見散大浮數，按前，「調經門」經水再至兩法治之。</p>
<h4>血崩屬之氣虛第二</h4>
<p>血崩證有純因氣虛者，其血正紅，或塊結續下，其脈芤，息促，其體不瘠，面色白（〔批〕失血家津液暴涸面色多蒼，今乃面白，故知其亡陽氣虛也。）平時便秘，時復　溏，甚或完穀不化，四末常冷，治之專責脾陽，補命火，引血歸經。</p>
<p>人參　制白朮　炒當歸　川芎　芥穗炭　貫眾炭　炙　益智仁　龍骨　附片　山萸肉　薑炭</p>
<h4>血崩屬之陰虛第三</h4>
<p>血崩證，兩目黑暗，昏冒仆地，不省人事者。用獨參湯沖貫眾炭末灌之，蘇少定，氣不逆，舌不深紫，此陰虛也。</p>
<p>雖有浮火，勿泄之。</p>
<p>大熟地　制白朮　人參　當歸　麥冬肉　薑炭　大生地　生黃　甘草　元參　貫眾炭　萸肉</p>
<h4>血崩屬之實熱第四</h4>
<p>婦人每行人道，必下血甚多，此血海太熱也。蓋衝脈麗於陽明，下通血海，血海太熱，其血本當循衝脈而上，為吐衄嘔血，今以下關不固，火勢乘血之順下。（〔批〕血乃水質，其性順下。）破虛攻瑕而外泄，所以崩也。且壯火食氣，元氣衰耗而不能攝血，即使慎於房幃而血不歸經，久必為吐衄血厥之病，擬備大法：（〔批〕此證不至於氣脫，故不用　、朮。五味、甘草，非以補氣，酸甘化陰之意也。）</p>
<p>嫩白薇　大生地　地骨皮　元參　生黨參　金櫻子　黃柏炭　麥冬肉　醋白芍　丹參　北條參　龍骨　木耳炭芥穗炭　北五味　甘草服前藥數劑，尺脈靜，宜與補氣血之品，佐以和血。蓋失血家氣必虛，衝任脈傷，又服涼劑，恐凝結也，然必戒客止百日。（〔批〕前方救急，此方善後。不補氣，無以生血，不補血無以養火，勢必發作也，更兼和血，其義大備矣。）</p>
<p>生潞黨　生草　全當歸　炒準藥　甘杞子　阿膠珠　焦冬術　茯苓　大熟地　鹽杜仲　炙龜版　炒白芍　延胡索蒲黃（沖）　麥冬肉　芥穗炭渴甚者，去朮加花粉、石斛。五心熱者，去熟地，加竹心，三十劑。</p>
<h4>血崩由於經沖血管第五</h4>
<p>（〔批〕傅青主原文稍加修節。逾曰：此與上條證相似，然血海熱甚者，胃液必耗而渴，尺脈必洪數，此證無是。但血管有夙精，當隱隱作痛也。倘血管不痛，則非問其失無從臆斷，甚至閉塞者，服行經藥，血管當大痛，下秫米、綠豆大瘀塊，如上卷「血瘀」第九條所論也。亦當於此加重黃柏服之。）</p>
<p>婦人每交合，則血流不止，雖未若血崩之甚，而歷久不愈，氣血耗傷，恐致血枯之憂。此證由於犯經交合，精沖血管，經水欲出，精逆射之，則相裹而滯於血管。交接之際，淫氣感召，舊精欲出而未能，而經血反觸動而出矣。方用引精止血湯。竹泉生曰：此傅氏原論，余稍加節而飾之，其義精絕。蓋精血相裹，著於血管，即當閉塞不通，而成血瘀為枯之證，今獨幸其精少也。</p>
<p><u>傅氏引精止血湯</u></p>
<p>潞黨參（五錢）　白茯苓（三錢去皮）　芥穗（三錢）　萸肉（五錢）　制白朮　（一兩）　大熟地（一兩）　黑薑（一錢）　黃柏（五分）　酒炒車前子（三錢）</p>
<p>方論，四劑愈，十劑則血管之傷痊。方用參朮補氣，地萸補精，精氣足則血管流通，又用茯苓、車前以利竅；用黃柏直入血管以去夙精；用芥穗以去敗血；黑薑以止血管之口，調停曲折，畢盡其其妙，故能治陳　也。雖必慎欲三月，始後無虞。此方絲絲入扣，確不可易。</p>
<h4>血崩屬之房勞第六</h4>
<p>（〔批〕此證難於置問，即於素無崩證，知為房勞。先崩而後產，知非胎滑也。此余心得。）</p>
<p>婦人素無崩中證，孕三月，忽先血崩，其胎隨墮，此由氣弱房勞，精泄過多所致也。法當大補精氣，佐以補血，錄傅氏方如下：炙潞黨　大熟地　杜仲炭　當歸　制白朮　白茯苓　山萸肉　甘草此溫補之方也。倘胎下後，尚有瘀塊：無熱者，加川芎、桃仁泥；有熱者，加龜版、丹皮；無瘀五心熱，骨蒸者，以生地代熟地，以金櫻子代山萸，加地骨皮；肝陽上逆，兩脅刺痛者，加白芍、決明、延胡索。</p>
<h4>血崩由於房勞或氣衝血室所致第七</h4>
<p>婦人逾七七經絕之年，貪歡浪戰，血室大開，以致崩決；或孀婦腎不納氣，氣衝血室，皆致崩證，其治法亦同。（〔批〕</p>
<p>五六十歲，經忽復行，亦崩之漸，此方主之，或加黑芥穗引血歸經皆宜之。）</p>
<p>酒當歸　山萸肉　炙黨參　杭芍炭　五味子　三七末（沖）　生黃　大熟地　炒準藥　貫眾炭　冬桑葉　生草</p>
<h4>血崩由於肝鬱第八</h4>
<p>血崩證，善惱怒煩恨，咽燥脅痛，乾嘔吞酸，或口苦，筋絡掣痛，此肝氣鬱結而急，血不歸經也。法宜平肝解鬱為主。</p>
<p>醋炒白芍　土炒白朮　白歸身　貝母　地骨皮　酒炒生地　四製香附　三七末　甘草　黑梔子　芥穗（炒黑）　石決明（搗）　貫眾炭</p>
<h4>產後血崩第九</h4>
<p>產後血大下，色鮮紅，腹雖痛，然喜按，當以崩治，先與加參生化湯，去桃仁。</p>
<p>人參　當歸　川芎　炙草　炮薑繼與大補氣血兼佐和血之劑，即以上第四條第二方酌用之。（〔批〕黨參用炙者，去龜版、蒲黃、白芍，加黃　治之。）</p>
<h4>產後血崩第十</h4>
<p>臨產前交合房勞，產後半月不慎房幃，或中氣素虛，不能攝血，皆致崩證，且汗多息短形脫脈絕，此危候也。死者十常八九，急與獨參湯，氣復者可治。</p>
<p>遼人參　當歸　熟地　炒準藥　蒸萸肉　制白朮　黃　附子　生棗仁　炙甘草</p>
<h4>血崩由於閃跌第十一</h4>
<p>婦人跌墜閃挫，惡血下注，狀如血崩。然腹痛拒按，久則面黃形槁，治當消瘀，傅氏用逐瘀止血湯。</p>
<p><u>傅氏逐瘀止血湯</u></p>
<p>酒炒生地　大黃　歸尾　醋炙龜版　炒桃仁泥　赤芍　丹皮　炒枳殼凡跌打損傷致唾血嘔血者，皆宜照此法治之。嘔血者，血聚於胃，宜加川朴。此證始有塊痛，其後塊消痛去者，下血赤而不紫，是因閃跌而血不歸經也，當作崩治。或本欲崩下，因少有閃跌，震動暴注，亦作崩論。其別在血色塊痛也。</p>
<h4>妊娠崩漏第十二</h4>
<p>妊娠無腹痛胎動證，時時下血，是為胎漏，以血熱而氣不攝也。苟非氣虛不攝，必郁久而大崩矣。錄傅氏原方如下潞黨參　酒炒生地炭　杭芍炭　甘草　川斷肉　酒炒黃芩炭　益母草</p>
<h4>溲血</h4>
<p>婦人溺血，時血清澈（〔批〕時或清澈無血，故知非但屬肝熱也。其人善煩怒懊　，燥渴，脈濡數，與龍膽瀉肝湯。</p>
<p>不效。當以失血論，補而和之，引使歸經。</p>
<p>膽草　梔子　生地　芥穗（炒黑）　木香　木通　澤瀉　當歸　白芍（醋炒）　炙草</p>
<h4>瀉血</h4>
<p>婦人經水素以時下，經前後數日，忽瀉血甚多，色鮮紅，此亦血不歸經，乃崩類也。（〔批〕此屬失血，與經水橫行旁流大腸者不同。經水旁流習以為常，人不大憊也。）瀉後人必憊甚，或至氣短，擬備大法。</p>
<p>炙當歸　川芎　甘草　赤石脂　粟殼　生潞黨　白芍　芥穗　地榆炭　紅曲氣促者，另服遼人參；肝逆，加　牡蠣；腹痛，加延胡索。</p>
<h4>嘔血</h4>
<p>婦人經水以時下，（〔批〕月事時下，知非倒經，降逆清熱，雖相同，而一則宜兼行瘀，一則補虛，為迥不同耳。）忽嘔血，或至沖涌而出，目黑神憊，此肝急沖氣逆，血不歸經，當以失血論，擬備大法。</p>
<p>嫩白薇　甘草　川石斛　麥冬肉　阿膠　炒當歸頭　大生地　白芍　北沙參　鹿角膠　淮藥　芥穗炭服三四劑後，去白薇、歸頭，加黨參，白朮，茯神，接服十劑。</p>
<h4>附：白濁證</h4>
<p>婦人經帶，皆由衝任帶三脈血管而下，方下之時，苟無瘀阻，初不自覺。至於濁證則與男子遺精無異，由精竅出，多自覺之。但欲以情白醫者而不可為言，故莫能辨之也。余幼時，聞戚黨有患是者，經水不閉，醫以帶下治之，弗效，兩三月遂死。蓋帶無死患，矧月事通乎。然病者不可自言，何以辨之？曰：心誠求之，雖不中，不遠矣。但問將出時自覺之，無他病而常常鬱冒，脈浮芤，則可以確知為濁而非帶證矣。此虛寒精滑也，有浮火勿問。</p>
<p>黨參　熟地　益智仁　菟絲子　黃　萸肉　骨碎補　女貞子</p>
