<header><h1>藥徵</h1></header>
<dl class="元資料" data-type="book">
<div><dt>年份</dt><dd><data value="2010/2">公元2010年至公元2年</data></dd></div>
</dl>
<h2>自序</h2>
<p>書曰：若藥弗瞑眩，厥疾弗瘳。《周官》曰：醫師掌醫之政令，聚毒藥，共醫事。由是觀之，藥毒也，而病毒也，藥毒而攻病毒，所以瞑眩者也。而考本草，有毒者有焉，無毒者有焉，為養者有之，不養者有之。於是人大惑焉，世遠人泯經毀，雖欲正之，末由也已，今之所賴也，天地人耳。夫有天地，則有萬物焉，有萬物，則有毒之能也，有人則病與不而有焉，是古今之所同也。從其所同，而正其所異也，孰乎不可正哉！扁鵲之法，以試其方也，藥之瞑眩，厥疾乃瘳，若其養與不養邪，本草之云，終無其驗焉。故從事於扁鵲之法，以試其方，四十年於茲，以量之多少，知其所主治也。視病所在，知其所旁治也。參互而考之，以知其征，於是始之所惑也，粲然明矣。凡攻疾之具，則藥皆毒，而疾醫之司也。養精之備，則辨有毒無毒，而食醫之職也。食者常也，疾者變也，吾黨之小子，常之與變，不可混而為一矣。而本草也，混而一之，乃所以不可取也。不可取乎，則其方也。規矩準繩，是故扁鵲之法，以試其方之功，而審其藥之所主治也。次舉其考之征，以實其所主治也。次之以方之無征者，參互而考次之，以古今誤其藥功者，引古馴而辨之，次舉其品物，以辨真偽，名曰</p>
<p>《藥征》也。猶之一物也，異其用，則異其功，是以養其生者，隨其所好惡；攻其疾者，不避其所好惡。故食醫之道，主養其精也。故撰有毒無毒，而隨其所好惡也。疾醫之道，主攻其疾也。故藥皆毒而不避其所好惡也，而為醫者不辨之，混而為一，疾醫之道，所以絕也。</p>
<p>夫古今不異者，天地人也。古今異者，論之說也。以其不異，以正其異，不異則不異，異則異也。譬如人君用人，率材則功，達材則無功矣。一物無異功，用異則功異，用養生乎？用攻疾乎？養生隨其所好惡，攻疾不避其所好惡，不知其法，焉得其正？其法既已建，而後以其不異，以正其異，不異則不異，異則異。《詩》曰：伐柯，伐柯，其則不遠，是之謂也。</p>
<p>蓋今之為醫之論藥也，以陰陽五行，疾醫之論藥也，唯在其功耳。故不異則不異，異則異。</p>
<p>然則治疾如之何，匪攻不克；養生如之何，匪性不得。吾黨之小子，勿眩於論之說，以失其功實云爾。</p>
<p><u>明和八年中秋之月日本藝陽吉益為則題</u></p>
<h2>卷上</h2>
<h3>石膏</h3>
<p>主治煩渴也，旁治譫語、煩躁、身熱。</p>
<p>考　證白虎湯證曰：譫語遺尿。</p>
<p>白虎加人參湯證曰：大煩渴。</p>
<p>白虎加桂枝湯證曰：身無寒、但熱。</p>
<p>以上三方，石膏皆一斤。</p>
<p>越婢湯證曰：不渴、續自汗出、無大熱。（不渴，非全不渴之謂。無大熱，非全無大熱之謂也，說在外傳中）。</p>
<p>麻黃杏仁甘草石膏湯，證不具也。（說在《類聚方》）</p>
<p>以上二方，石膏皆半斤。</p>
<p>大青龍湯證曰：煩躁。</p>
<p>木防己湯，證不具也（說在《類聚方》）</p>
<p>以上二方，石膏皆雞子大也。為則按，雞子大，即半斤也，木防己湯，石膏或為三枚，或為十二枚，其分量難得而知焉。今從旁例，以為雞子大也。</p>
<p>上歷觀此諸方，石膏主治煩渴也明矣。凡病煩躁者，身熱者，譫語者，及發狂者，齒痛者，頭痛者，咽痛者，其有煩渴之證也，得石膏而其效核焉。</p>
<p>互　考</p>
<p>《傷寒論》曰：傷寒脈浮、發熱無汗，其表不解者，不可與白虎湯。渴欲飲水，無表證者，白虎加人參湯主之。為則按，上云不可與白虎湯，下云白虎加人參湯主之。上下恐有錯誤也。於是考諸《千金方》，揭《傷寒論》之全文。而白虎東加人參湯，作白虎湯是也。今從之。</p>
<p>《傷寒論》中，白虎湯之證不具也，《千金方》舉其證也備矣，今從之。</p>
<p>辨　誤</p>
<p>《名醫別錄》言：石膏性大寒，自後醫者怖之，遂至於置而不用焉。仲景氏舉白虎湯之證曰：無大熱。越婢湯之證亦云。而二方主用石膏。然則仲景氏之用藥，不以其性之寒熱也可以見已。余也篤信而好古，於是乎為渴家而無熱者，投以石膏之劑，病已而未見其害也。</p>
<p>方炎暑之時，有患大渴引飲而渴不止者，則使其服石膏末，煩渴頓止。而不復見其害也。石膏之治渴而不足怖也，斯可以知已。</p>
<p>陶弘景曰：石膏發汗，是不稽之說。而不可以為公論。仲景氏無斯言，意者陶氏用石膏，而在下則下。於是乎有非吐劑而吐，非下劑而下，非汗劑而汗者，是變而非常也。何法之為？譬有盜於梁上，室人交索之。出於右，則順而難逃。逾於左，則逆而易逃。然則雖逆乎？從其易也，毒亦然。仲景曰：與柴胡湯，必蒸蒸而振，卻發熱汗出而解。陶氏所謂石膏發汗，蓋亦此類也已。陶氏不知，而以為發汗之劑。不亦過乎？後世以石膏為峻藥，而怖之太甚，是不學之過也。仲景氏之用石膏，其量每多於他藥；半斤至一斤，此蓋以其氣味之薄故也。</p>
<p>余嘗治青山候臣蜂大夫之病。其證平素毒著脊上七椎至十一椎，痛不可忍，發則胸膈煩悶而渴，甚則冒而不省人事，有年數矣。一日大發，眾醫以為大虛，為作獨參湯，貼二錢，日三服；六日未知也。醫皆以為必死。於是家人召余診之。脈絕如死狀，但診其胸，微覺有煩悶狀，乃作石膏黃連甘草湯與之。一劑之重三十五錢，以水一盞六分，煮取六分，頓服，自昏至曉，令三劑盡，通計一百有五錢，及曉，其證猶夢而頓覺。次日余辭而歸京師，病客曰：一旦訣別，吾則不堪。請與君行，朝夕於左右，遂俱歸京師。為用石膏如故，居七八十許日而告瘳。石膏之非峻藥而不可怖也，可以見焉爾。</p>
<p>品　考石膏　本邦處處出焉。加州、奧州最多。而有硬軟二種。軟者上品也。《別錄》曰：細理白澤者良。雷　曰：其色瑩淨如水精。李時珍曰：白者潔淨細文，短密如束針。為則曰：采石藥之道，下底為佳，以其久而能化也。采石膏於其上頭者，狀如米糕。於其下底者，瑩淨如水精，此其上品也。用之之法，唯打碎之已。近世火　用之，此以其性為寒故也。臆測之為也，余則不取焉。大凡制藥之法，制而倍毒則制之。去毒則不，是毒外無能也。諸藥之下，其當制者，詳其制也，不制者不，下皆效之。</p>
<h3>滑石</h3>
<p>主治小便不利也，旁治渴也。</p>
<p>考　證豬苓湯證曰：渴欲飲水、小便不利。</p>
<p>以上一方滑石一兩。</p>
<p>上此一方，斯可見滑石所主治也。滑石白魚散證曰：小便不利。蒲灰散證曰：小便不利。</p>
<p>余未試二方，是以不取征焉。</p>
<p>互　考余嘗治淋家，痛不可忍而渴者，用滑石礬甘散，其痛立息。屢試屢效，不可不知也。</p>
<p>品　考滑石和、漢共有焉，處處山谷多出之也。軟滑而白者，入藥有效。宗　曰：滑石今之畫石，因其軟滑，可寫畫也。時珍曰：其質滑膩，故以名之。</p>
<h3>芒硝</h3>
<p>主軟堅也。故能治心下痞堅、心下石硬、小腹急結、結胸、燥屎大便硬。而旁治宿食腹滿、小腹腫痞之等諸般難解之毒也。</p>
<p>考　證大陷胸湯證曰：心下痛、按之石硬。</p>
<p>以上一方，芒硝一升，分量可疑。故從《千金方》大陷胸丸。作大黃八兩、芒硝五兩。</p>
<p>大陷胸丸證曰：結胸，項亦強。</p>
<p>以上一方。芒硝半斤、分量亦可疑，故從《千金方》作五兩。</p>
<p>調胃承氣湯證曰：腹脹滿。又曰：大便不通。又曰：不吐不下心煩。</p>
<p>以上一方。芒硝半斤、分量亦可疑。今考《千金方》、《外台秘要》，此方無有焉。故姑從桃核承氣湯，以定芒硝分量。</p>
<p>柴胡加芒硝湯證，不審備也。（說在互考中）</p>
<p>以上一方，芒硝六兩。</p>
<p>大承氣湯證曰：燥屎。又曰：大便硬。又曰：腹滿。又曰：宿食。</p>
<p>大黃牡丹湯證曰：小腹腫痞。</p>
<p>木防己去石膏加茯苓芒硝湯證曰：心下痞堅云云。復與不愈者。</p>
<p>以上三方，芒硝皆三合。</p>
<p>大黃硝石湯證曰：腹滿。</p>
<p>以上一方。硝石四兩。</p>
<p>橘皮大黃朴硝湯證曰：　食之在心胸間不化、吐復不出。</p>
<p>桃核承氣湯證曰：少腹急結。</p>
<p>以上二方，朴硝、芒硝皆二兩。</p>
<p>硝礬散證曰：腹脹。</p>
<p>以上一方，硝石等分。</p>
<p>上歷觀此數方，芒硝主治堅塊明矣，有軟堅之功也。故旁治宿食腹滿，少腹腫痞之等諸般難解者也。</p>
<p>互　考柴胡加芒硝湯，是小柴胡湯而加芒硝者也。而小柴胡湯主治胸脅苦滿，不能治其塊，所以加品　考硝石　和、漢無別；朴硝、芒硝、硝石，本是一物，而各以形狀名之也，其能無異，而芒硝之功勝矣，故余家用之。</p>
<h3>甘草</h3>
<p>考　證芍藥甘草湯證曰：腳攣急。</p>
<p>甘草乾薑湯證曰：厥，咽中干，煩躁。</p>
<p>甘草瀉心湯證曰：心煩不得安。</p>
<p>甘薑甘草湯證曰：咽燥而渴。</p>
<p>桂枝人參湯證曰：利下不止。</p>
<p>以上五方，甘草皆四兩。</p>
<p>芍藥甘草附子湯證，不具也，（說在互考中）</p>
<p>甘麥大棗湯證曰：藏躁喜悲傷欲哭。</p>
<p>以上二方，甘草皆三兩。</p>
<p>甘草湯證曰：咽痛者。</p>
<p>桔梗湯證，不具也。（說在互考中）</p>
<p>桂枝甘草湯證曰：叉手自冒心。</p>
<p>桂枝甘草龍骨牡蠣湯證曰：煩躁。</p>
<p>四逆湯證曰：四肢拘急厥逆。</p>
<p>甘草粉蜜湯證曰：令人吐涎、心痛發作有時，毒藥不止。</p>
<p>以上六方，甘草皆二兩。</p>
<p>上八方，甘草二兩三兩，而亦四兩之例。</p>
<p>苓桂甘棗湯證曰：臍下悸。</p>
<p>苓桂五味甘草湯證曰：氣從小腹上衝胸咽。</p>
<p>小建中湯證曰：裡急。</p>
<p>半夏瀉心湯證曰：心下痞。</p>
<p>小柴胡湯證曰：心煩。又云：胸中煩。</p>
<p>小青龍湯證曰：咳逆倚息。</p>
<p>黃連湯證曰：腹中痛。</p>
<p>人參湯證曰：逆搶心。</p>
<p>旋覆花代赭石湯證曰：心下痞硬、噫氣不除。</p>
<p>烏頭湯證曰：疼痛不可屈伸。又云：拘急不得轉側。</p>
<p>以上十方，甘草皆三兩。</p>
<p>排膿湯證。闕。（說在桔梗部）</p>
<p>謂胃承氣湯證曰：不吐、不下、心煩。</p>
<p>桃核承氣湯證曰：其人如狂。又云：少腹急結。</p>
<p>桂枝加桂湯證曰：奔豚，氣從少腹上衝心。</p>
<p>桂枝去芍藥加蜀漆龍骨牡蠣湯證曰：驚狂、起臥不安。</p>
<p>以上五方，甘草皆二兩。</p>
<p>上歷觀此諸方。無論急迫，其他曰痛、曰厥、曰煩、曰悸、曰咳、曰上逆、曰驚狂、曰悲傷、曰痞硬、曰利下，皆甘草所主。而有所急迫者也，仲景用甘草也；其急迫劇者，則用甘草亦多。不劇者，則用甘草亦少。由是觀之，甘草之治急迫也明矣。古語曰：病者苦急，急食甘以緩之。其斯甘草之謂乎？仲景用甘草之方甚多，然其所用者，不巡前證，故不枚舉焉。</p>
<p>凡征多而證明者，不枚舉其征，下皆效之。</p>
<p>互　考甘草湯證曰：咽痛者，可與甘草湯。不差者，與桔梗湯。凡其急迫而痛者，甘草治之。</p>
<p>其有膿者，桔梗治之。今以其急迫而痛，故與甘草湯。而其不差者，已有膿也。故與桔梗湯，據芍藥甘草附子湯，其證不具也。為則按其章曰：發汗病不解，反惡寒。是惡寒者，附子主之。而芍藥、甘草，則無主證也。故此章之義，以芍藥甘草湯。腳攣急者，而隨此惡寒，則此證始備矣。為則按：調胃承氣湯、桃核承氣湯，俱有甘草。而大小承氣湯、厚朴三物湯，皆無甘草也。</p>
<p>湯證曰：或如狂、或少腹急結，是雖有結實。然狂與急結，此皆為急迫，故用甘草也。大小承氣湯、厚朴三物湯、大黃黃連瀉心湯，俱解其結毒耳。故無甘草也，學人詳諸。</p>
<p>辨　誤陶弘景曰：此草最為眾藥之主。孫思邈曰：解百藥之毒。甄權曰：諸藥中，甘草為君，治七十二種金石毒，解一千二百般草木毒，調和眾藥有功。嗚呼？此說一出，而天下無復知甘草之本功，不亦悲哉？若從三子之說，則諸凡解毒，唯須此一味而足矣！今必不能，然則其說之非也可以知已。夫欲知諸藥本功，則就長沙方中，推歷其有無多少。與其去加，引之於其證。則其本功，可得而知也。而長沙方中，無甘草者居半，不可謖眾藥之主也，亦可以見已。古語曰：攻病以毒藥，藥皆毒，毒即能。若解其毒，何功之有？不思之甚矣。學人察諸。夫陶弘景、孫思邈者，醫家之俊傑，博治之君子也。故後世尊奉之至矣。而謂甘草眾藥之主，謂解百藥之毒，豈得無征乎？考之長沙方中，半夏瀉心湯本甘草三兩，而甘草瀉心湯更加一兩，是足前為四兩，而誤藥後用之，陶、孫蓋卒爾見之，謂為解藥毒也。嗚呼？夫人之過也，各於其黨。故觀二子之過，斯知尊信仲景之至矣。向使陶、孫知仲景誤藥後，所以用甘草，與不必改其過何也？陶、孫誠俊傑也，俊傑何為文其過乎？由是觀之，陶、孫實不知甘草之本功也，亦後世之不幸哉！東垣李氏曰：生用則補脾胃不足，而大瀉心火；炙之則補三焦元氣，而散表寒。是仲景所不言也。五藏浮說，戰國以降，今欲為疾醫乎？則不可言五藏也。五藏浮說，戰國以降，不可從也。</p>
<p>品　考甘草　華產上品，本邦所產者，不堪用也。余家唯銼用之也。</p>
<h3>黃</h3>
<p>主治肌表之水也。故能治黃汗、盜汗、皮水。又旁治身體腫或不仁者。</p>
<p>考　證芍桂枝苦酒湯證曰：身體腫、發熱汗出而渴。又云：汗沾衣、色正黃加　汁；防己黃湯證曰：身重、汗出惡風。</p>
<p>以上二方，黃　皆五兩。</p>
<p>防己茯苓湯證曰：四肢腫，水氣在皮膚中。</p>
<p>黃　桂枝五物湯證曰：身體不仁。</p>
<p>以上二方，黃　皆三兩。</p>
<p>桂枝加黃　湯證曰：身常暮盜汗出者。又云：從腰以上必汗出、下無汗、腰　弛痛、如有物在皮中狀。</p>
<p>以上一方，黃　二兩。</p>
<p>黃　建中湯證，不具也。</p>
<p>以上一方，黃　一兩半。</p>
<p>上歷觀此諸方，黃　主治肌表之水也。故能治黃汗、盜汗、皮水。又能治身體腫或不仁者，是腫與不仁，亦皆肌表之水也。</p>
<p>互　考芍桂枝苦酒湯、桂枝加黃　湯，同治黃汗也。而　芍桂枝苦酒湯證曰：汗沾衣，是汗甚多也。桂枝加黃　湯證曰：腰以上必汗出、下無汗，是汗少也。以此考之，汗之多少，即用黃　多少，則其功的然可知矣。</p>
<p>防己黃　湯、防己茯苓湯。同治肌膚水腫也。而黃　有多少。防己黃　湯證曰：身重汗出。防己茯苓湯證曰：水氣在皮膚中，此隨水氣多少，而黃　亦有多少。則黃　治肌表之水明矣。故　芍桂枝苦酒湯、桂枝加黃　湯，隨汗之多少，而用黃　亦有多少也。</p>
<p>黃　桂枝五物湯證曰：身體不仁。為則按：仲景之治不仁，雖隨其所在，處方不同。而歷觀其藥，皆是治水也。然則不仁，是水病也。故小腹不仁、小便不利者，用八味丸以利小便，則不仁自治。是不仁者，水也。學人思諸。</p>
<p>防己黃　湯，《金匱要略》載其分量與《外台秘要》異。為則夷考其得失，《外台秘要》古，而《金匱要略》不古矣。故今從其古者也。</p>
<p>辨　誤余嘗讀本草載黃　之功。陶弘景曰：補丈夫虛損、五勞羸瘦、益氣。甄權曰：主虛喘，腎衰耳聾，內補。嘉謨曰：人參補中，黃　實表也。余亦嘗讀《金匱要略》，審仲景之處方，皆以黃　治皮膚水氣，未嘗言補虛實表也。為則嘗聞之，周分置醫，職四焉：曰食醫、曰疾醫、曰瘍醫、曰獸醫。夫張仲景者，蓋古疾醫之流也。夫陶弘景尊信仙方之人也。故仲景動言疾病，而弘景動論養氣，談延命，未嘗論疾病。後世之喜醫方者，皆眩其俊傑，而不知其有害於疾醫也。彼所尊信而我尊信之，滔滔者天下皆是也。豈不亦悲哉？夫逐奔獸者，不見大山。嗜欲在外，則聰明所蔽。故其見物同，而用物之異。仲景主疾病者也，弘景主延命者也；仲景以黃　治水氣，弘景以之補虛。夫藥者，毒也。毒藥何補之為，是以不補而為補，以不補而為補，是其聰明為延命之欲所蔽也。古語曰：邪氣盛則實，精氣奪則虛。夫古所謂虛實者，以其常而言之也。昔者常無者，今則有之，則是實也。昔者常有者，今則無之，則是虛也。邪者，常無者也；精者，常有者也。故古所謂實者，病也。而虛者，精也。因病而虛，則毒藥以解其病毒而復其故也。非病而虛，則非毒藥之所治也，以穀肉養之。故曰攻病以毒藥，養精以穀肉果菜。今試論之。天寒肌膚粟起，當此時服黃　而不已也。以衣衾則已，以衣衾而不已也，啜粥而已，無他。是非病而精虛也。若乃手足拘急惡寒，是與衣衾而不已也，啜粥而不已也，與毒藥而已也。無他，是邪實也。嗚呼？仲景氏哉？信而有征，此孔子所以非法言不敢道也，甄權、嘉謨不言疾醫之法言也，抑亦弘景禍之矣。言必以仙方，必以陰陽，此　功之所以不著也。</p>
<p>品　考黃　漢土、朝鮮、本邦皆產也。漢土出綿上者，以為上品，其他皆下品也。其出朝鮮、本邦者，亦皆下品也。今華舶之所載而來者，多是下品，不可不擇也。凡黃　之品，柔軟、肉中白色，潤澤味甘，是為上品也，銼用。</p>
<h3>人參</h3>
<p>主治心下痞堅、痞硬、支結也。旁治不食嘔吐、喜唾、心痛、腹痛、煩悸。</p>
<p>考　證木防己湯證曰：心下痞堅。</p>
<p>以上一方，人參四兩。</p>
<p>人參湯證曰：心中痞；又曰：喜唾、久不了了。</p>
<p>桂枝人參湯證曰：心下痞硬。</p>
<p>半夏瀉心湯證曰：嘔而腸鳴、心下痞。</p>
<p>生薑瀉心湯證曰：心下痞硬、干噫食臭。</p>
<p>甘草瀉心湯證曰：心下痞硬而滿、乾嘔、心煩；又曰：不欲飲食、惡聞食臭。</p>
<p>小柴胡湯證曰：默默不欲飲食、心煩、喜嘔。又云：胸中煩。又云：心下悸。又云腹中痛。</p>
<p>大半夏湯證曰：嘔而心下痞硬。</p>
<p>茯苓飲證曰：氣滿、不能食。</p>
<p>乾薑黃連黃芩人參湯證曰：食入口即吐。</p>
<p>桂沉加芍藥生薑人參新加湯證，不具也。（說在互考中）</p>
<p>六物黃芩湯證曰：乾嘔。</p>
<p>白虎加人參湯證，不具也。（說在互考中）</p>
<p>生薑甘草湯證曰：咳唾涎沫不止。</p>
<p>以上十四方，人參皆三兩。</p>
<p>柴胡桂枝湯證曰：心下支結。</p>
<p>乾薑人參半夏丸證曰：嘔吐不止。</p>
<p>四逆加人參湯證，不具也。（說在互考中）</p>
<p>以上三方，其用人參者，或一兩半，或一兩，而亦三兩之例。</p>
<p>附子湯證，不具也。（說在互考中）</p>
<p>黃連湯證曰：腹中痛、欲嘔吐。</p>
<p>旋覆花代赭石湯證曰；心下痞硬、噫氣不除。</p>
<p>大建中湯證曰：心胸中大寒痛、嘔不能飲食。</p>
<p>以上四方，人參皆二兩。</p>
<p>上歷觀此諸方，人參主治心下結實之病也。故能治心下痞堅、痞硬、支結。而旁治不食、嘔為則按：人參、黃連、茯苓三味，其功大同而小異也。人參治心下痞硬而悸也，黃連治心中煩而悸也，茯苓治肉　筋惕而悸也，不可不知矣。</p>
<p>互　考木防己湯條曰：心下痞堅，愈復發者，去石膏、加茯苓芒硝湯主之；是人參芒硝，分治心下痞硬之與痞堅也。於是乎可見古人用藥不苟也。蓋其初，心下痞堅猶緩，謂之痞硬亦可，故投以人參也。復發不愈，而痞之堅必矣，故投以芒硝也。半夏瀉心湯，脫硬字也。甘草瀉心湯，此方中倍甘草。生薑瀉心湯，加生薑之湯也。而共云治心下痞硬，則此方脫硬字也明矣。吳茱萸湯、茯苓飲、乾薑黃連黃芩人參湯、六物黃芩湯、生薑甘草湯，皆人參三兩。而云治咳唾涎沫、嘔吐下利，不云治心下痞硬。於是綜考仲景治咳唾涎沫，嘔吐下利方中，其無人參者，有居八九。今依人參之本例，用此五湯施之於心下痞硬，而咳唾涎沫嘔吐下利者，其桂枝加芍藥生薑人參新加湯，其證不具也。其云：發汗後身疼痛，是桂枝湯證也；然則芍藥、生薑、人參之證，闕也。說在《類聚方》。</p>
<p>白虎加人參湯四條之下，俱是無有人參之證。蓋張仲景之用人參三兩，必有心下痞硬之證。</p>
<p>半夏丸，依本治之例，試推其功。心下有結實之毒，而嘔吐不止者實是。主之大抵與大半夏湯之所主治也大同小異，而有緩急之別。</p>
<p>四逆加人參湯，其證不具也。惡寒脈微而復利，是四逆湯之所主；而不見人參之證也。</p>
<p>此方雖加人參僅一兩，無見證，則何以加之？是脫心下之病證也明矣。附子湯證不具也。此方之與真武湯，獨差一味。而其於方意也，大有逕庭。附子湯，朮、附君藥，而主身體疼痛，或小便不利，或心下痞硬者。真武湯，茯苓、芍藥君藥，而主肉　筋惕，拘攣嘔逆，四肢沉重疼痛者。</p>
<p>旋覆花代赭石湯，其用人參二兩，而有心下痞硬之證，此小半夏東加減之方也。二兩疑當作三兩也。</p>
<p>辨　誤甄權曰：參補虛。誤矣，此言一出，流毒千載。昔者張仲景之用參也，防己湯莫多焉。</p>
<p>其證曰：支飲喘滿、心下痞堅、面色黧黑。未嘗見言補虛者也。又曰：虛者即愈，實者三日復發。復與而不愈者，去石膏、加茯苓芒硝湯主之。此其所由誤者乎？則有大不然。蓋漢以降，字詁不古者多矣，則難其解。古語曰：有為實也，無為虛也，故用防己湯。而心下痞堅已，虛而無者，則即愈也，雖則即愈也，心下痞堅，猶實而有者，三日復發，復與防己湯而不愈者，非特痞硬，即是堅也，非參之所主，而芒硝主之，故參如故，而加芒硝、茯苓。由是觀之，不可謂參補虛也。孫思邈曰：無參，則以茯苓代之，此說雖誤，然參不補虛，而治心下疾也，亦足以征耳。蓋參補虛之說，　於甄權。滔滔者天下皆是，本草終引廣雅五行，記是參之名義，而豈參之實乎，學人詳諸。余讀本草，至參養元氣，未嘗不發書而漢也。曰：嗚呼，可悲哉，人之惑也。所謂元氣者，天地根元之一氣也，動為陽，靜為陰，陰陽妙合，斯生萬物，命其主宰，曰造化之神也。而人也者，非造化之神也，故人生於人，而神不能生人，況於元氣乎？夫人之元氣也，免身之初，所資以生，醫家所謂先天之氣也。養之以穀肉果菜，所謂後天之氣也。雖然，元氣之說，聖人不言，故經典不載焉。戰國以降，始有斯言。冠子曰：天地成於元氣。董仲舒《春秋繁露》曰：王正則元氣和順。揚雄解嘲曰：大氣含元氣。孔安國《虞書注》曰：昊天謂元氣廣大。《漢書‧律歷志》曰：大極元氣，函為一。班固《東都賦》曰：降煙　，調元氣。此數者，皆言天地之元氣，而非人之元氣也。《素問》曰：天之大氣舉之，言系地於中而不墜也。又曰：三焦者，原氣之別使。言皮膚毫毛之末，溫緩之氣也。此猶可言也。然論說之言也，於疾醫何益之有？又曰：養精以穀肉果菜，是古之道也，未聞以草根木皮，而養人之元氣，蓋其說出於道家，道家所雅言延命長壽，故立無氣以為極也。秦漢以降，道家降盛，而陰陽五行元氣之說，蔓延不可芟，醫道湮晦，職此之由，豈可不歡哉！夫醫術人事也，元氣天事也，故仲景不言矣。養精以穀肉果菜，而人參養元氣，未嘗有言之。由此觀之，其言養元氣者，後世之說也，不可從矣。</p>
<p>東垣李氏曰：張仲景云：病患汗後，身熱亡血、脈沉遲者，下利身涼、脈微血虛者，並加人參也。古人之治血脫者，益氣也。血不自生，須生陽氣。蓋陽氣生，則陰長而血乃旺也。</p>
<p>今歷考《傷寒論》中曰：利止亡血也，四逆加人參湯主之，李氏其據此言乎？然而加人參僅僅一兩也。四逆加人參湯，更加茯苓，此為茯苓四逆湯，而不舉血證，則人參之非為亡血也，可以見已。且也仲景治吐血、衄血、產後亡血，方中無有人參，則益足證也，李氏之說妄哉！自後苟有血脫者，則不審其證，概用人參，亦益妄哉！或問曰：吾子言仲景用人參治心下痞硬，而大黃黃連瀉心湯之屬，無有人參，豈亦有說乎？曰：有之。何子讀書之粗也？大黃黃連瀉心湯曰：心下痞，按之濡。其於人參，則諸方皆曰心下痞硬。硬濡二字，斯可以見其異矣。</p>
<p>品　考人參　出上黨者，古為上品，朝鮮次之。今也，上黨不出，而朝鮮亦少也。其有自朝鮮來者，味甘，非其真性。故試諸仲景所謂心下痞硬，而無效也，不可用矣。源順和名抄云人參，此言久末乃伊芳。蓋本邦之俗，謂熊膽為久末乃伊芳，而亦號人參，則以其味名也。由是觀之，本邦古昔所用者，其味苦也亦明矣。今試取朝鮮之苗，而樹藝諸本邦者，其味亦苦也。</p>
<p>然則其苦也者，是人參之正味。而桐君雷公之所同試也，乃今余取產於本邦諸國者用之，大有效於心下痞硬。其產於本邦諸國者，五葉三　，其於形狀也，亦與所產於朝鮮同矣。產於本邦諸國者，於和州金峰者最良。去土氣而銼用，謹勿殺苦也。</p>
<h3>桔梗</h3>
<p>主治濁唾腫膿也，旁治咽喉痛。</p>
<p>考　證排膿湯，證闕。</p>
<p>桔梗白散證曰：出濁唾腥臭、久久吐膿。</p>
<p>桔梗湯證曰：出濁唾腥臭、久久吐膿。</p>
<p>排膿散，證闕。</p>
<p>以上四方，其用桔梗者，或三兩、或一兩、或三分、或二分。</p>
<p>上四方者，皆仲景之方也，而排膿湯，以桔梗為君藥也，不載其證。今乃歷觀其用桔梗諸方，或肺癰、或濁唾腥臭、或吐膿也。而以桔梗為君藥者，名為排膿，則其排膿也明矣。</p>
<p>互　考排膿湯之證雖闕，而桔梗湯觀之，則其主治明矣。桔梗湯證曰：出濁唾腥臭，久久吐膿。</p>
<p>仲景曰：咽痛者，可與甘草湯，不差者，與桔梗湯也；是乃甘草者，緩其毒之急迫也。而濁唾吐膿，非甘草之所主，故其不差者，乃加桔梗也。由是觀之，腫痛急迫，則桔梗湯；濁唾吐膿多，則排膿湯。</p>
<p>辨　誤排膿湯及散，載在《金匱》腸癰部。桔梗湯及白散，亦有肺癰之言。蓋腸癰肺癰之論，自古而紛如也。無有明辨，欲極之而不能也。人之體中，不可見也。故謂無肺癰腸癰者妄也，謂有肺癰腸癰者亦妄也。凡吐下臭膿者，其病在胸也，而為肺癰。其病在腹也，而為腸癰，其亦可也。治之之法，不為名所拘，而隨其證，是為仲景也。</p>
<p>品　考桔梗　處處出焉。藥鋪所鬻者，淅而白潔，脫其氣味也，不可不擇焉。唯去其土泥，而不殺</p>
<h3>術</h3>
<p>主利水也。故能治小便自利、不利、旁治身煩疼、痰飲、失精眩冒、下利、喜唾。</p>
<p>考　證天雄散，證闕（說在互考中）</p>
<p>以上一方，朮八兩。</p>
<p>桂子附子去枝加朮湯證曰：小便自利。</p>
<p>麻黃加朮湯證曰：身煩疼。</p>
<p>越婢加朮湯證曰：一身面目黃腫、其脈沉、小便不利。</p>
<p>附子湯，證不具也。（說在互考中）</p>
<p>以上四方，朮皆四兩。</p>
<p>桂枝去桂加苓朮湯證曰：小便不利。</p>
<p>人參湯證曰：喜唾。</p>
<p>桂枝人參湯證曰：利下不止。</p>
<p>茯苓澤瀉湯，證不具也。（說在《類聚方》）</p>
<p>茯苓飲證曰：心胸中有停痰宿水、自吐出水。</p>
<p>以上五方，朮皆三兩。</p>
<p>甘草附子湯證曰：小便不利。</p>
<p>真武湯證曰：小便不利、四肢沉重疼痛、自下利。</p>
<p>苓薑朮甘湯證曰：小便自利。</p>
<p>苓桂朮甘湯證曰：小便自利。</p>
<p>苓桂朮甘湯證曰：心下有痰飲，又云頭眩。</p>
<p>澤瀉湯證曰：其人苦冒眩。</p>
<p>枳朮湯，證不具也，說在互考中。</p>
<p>茯苓戎鹽湯證曰：小便不利。</p>
<p>以上七方，朮皆二兩。</p>
<p>五苓散證曰：小便不利。</p>
<p>以上一方，朮十八銖，而三兩之例。</p>
<p>上歷觀此諸方，無論小便之變。其他曰飲、曰痰、曰身煩疼、曰喜唾、曰冒眩、亦皆水病也。凡小便不利而兼若證者，用術而小便通，則諸證乃治。由是觀之，朮之利水也明矣。</p>
<p>互　考天雄散。《金匱要略》載在桂枝加龍骨牡蠣湯條後，而不載其證。而李時珍作《本草綱目》曰：此仲景治男子失精之方也。然則舊有此證，而今或脫也。男子失精、女子夢交，桂枝龍骨牡蠣湯主之。下當云：天雄散亦主之。以余觀之，時珍之見，而豈以朮、附為治失精夢交乎？此則觀於本草，可以知耳。夫失精夢交，水氣之變也，故以術為主藥也。</p>
<p>《金匱要略》白朮附子湯，即《傷寒論中》桂枝附子去桂加朮湯，而分量減其半也。蓋術別蒼白，非古也。故今稱方名，從《傷寒論》焉。《外台秘要》朮附湯，亦同方。而分量非古也，皆不可從焉！附子湯證，不具也。此方之於真武湯，倍加朮、附，以參代薑者也。而真武湯證，有小便不枳朮湯、桂薑棗草黃辛附湯，二方《金匱要略》所載。同其因與證，而不可別焉；今審其方劑，桂薑棗草黃辛附湯，其方合桂枝去芍藥，及麻黃、附子、細辛也。而桂枝去芍藥湯，主為則按：所謂少陰病者，惡寒甚者也，故用附子。附子主惡寒也。依二湯之證推之，心下堅大而惡寒，發熱上逆者，桂薑棗草黃辛附湯主之。朮主利水也，是以心下堅大而小便不利者，枳朮湯主之。夫秦張之治疾也，從其證而不取因矣。因者，想像也，以冥冥決事，秦張所不取也，故其能治疾也。在方中其證矣，斯不知其方意，則未能中其證也。其知其方意，在知藥能也，能知藥能，而後始可與言方已。</p>
<p>辨　誤</p>
<p>《本事方》許叔微曰：微患飲　三十年，後左下有聲、脅痛、食減、嘈雜、飲酒半杯即止，十數日必嘔酸水數升，暑月止右邊有汗，左邊絕無。自揣必有　囊，如水之有科臼，不盈科不行。但清者可行，而濁者停滯，無路以決之，故積至五六日必嘔而去。脾土惡濕，而水則流濕，莫若燥脾以去濕，崇土以填科臼，乃悉屏諸藥，只以蒼朮麻油大棗丸，服三月而疾除。自此常服，不嘔不痛，胸膈寬利，飲啖如故。為則按：仲景用術治水，而不云去濕補脾也；許氏則以術為去濕補脾，而不云其治水。何其妄哉？許氏之病水變，故得術能治也。</p>
<p>人云許氏能治其濕痰，余戲之曰：非許自能治其病，而術能治許病也。何則？許氏之所說，以不可見為見，而以不可知為知也。空理惟依，古人則不然，有水聲吐水，則為水治之。是可知而知之，可見而見之實事。惟為此謂知見之道也，故有許氏之病者，用朮、附以逐其水，其效如神。嗚呼！仲景之為方也，信而有征。由是觀之，許之病已也，非許之功，而術之功也。</p>
<p>品　考術　宗　曰：古方及《本經》，止單言術，而未別蒼白也。陶隱居言有兩種，而後人往往貴白朮而賤蒼朮也。為則曰：華產兩種，其利水也，蒼勝於白，故余取蒼朮也。本邦所出，其</p>
<h3>白頭翁</h3>
<p>考　證白頭翁湯證曰：熱利下重。又曰：下利欲飲水。</p>
<p>白頭翁加甘草阿膠湯證曰：下利。</p>
<p>以上二方，白頭翁皆三兩。</p>
<p>夫仲景用白頭翁者，特治熱利，而他無所見矣。為則按：若熱利渴而心悸，則用白頭翁湯也，加之血證，及急迫之證，則可用加甘草阿膠湯也。</p>
<p>品　考白頭翁　和、漢無別。</p>
<h2>卷中</h2>
<h3>黃連</h3>
<p>主治心中煩悸也。旁治心下痞、吐下、腹中痛。</p>
<p>考　證黃連阿膠湯證曰：心中煩、不得臥。</p>
<p>以上一方，黃連四兩。</p>
<p>黃連湯證曰：胸中有熱、腹中痛、欲嘔吐。</p>
<p>乾薑黃連黃芩人參湯證曰：吐下。</p>
<p>葛根黃連黃芩湯證曰：利遂不吐。</p>
<p>白頭翁湯證曰：下利欲飲水。</p>
<p>以上四方，黃連皆三兩。</p>
<p>大黃黃連瀉心湯證曰：心下痞、按之濡。</p>
<p>瀉心湯證曰：心氣不足。</p>
<p>附子瀉心湯證曰：心下痞。</p>
<p>以上三方，黃連皆一兩，而亦三兩之例。</p>
<p>上歷觀此諸方，黃連治心中煩悸也明矣。故心中煩悸而痞者、吐者、利者、腹痛者，用此皆治也。此外用黃連一兩方多，其比余藥分量差少，但舉心胸之微疾，不足取而征焉！故不枚舉也。</p>
<p>互　考張仲景用黃連。其證與人參、茯苓，大同而小異。說在人參部。</p>
<p>黃連阿膠湯證曰：心中煩。此方黃連為君，而有心中煩之證，斯可以見其主治矣。瀉心湯證曰：心氣不足，而吐血衄血者，瀉心湯主之。既云不足，又云瀉心，此後世論說之所由起也；然《千金方》不足作不定，斯仲景之古也。而不定者，煩悸之謂也。凡病心中煩悸、心下痞、按之濡者，用此湯皆治也。由是觀之，所謂不定者，煩悸之謂也。</p>
<p>辨　誤夫萬物生於天也，故天命之謂性。性唯一也，其能亦唯一也，謂之良能。然其有多能者，性之所枝而岐也，非性之本也，謂之蠃能。人之眩蠃能，而謂性多能者多矣。余嘗讀本草，舉其主治甚多。夫主治也者，性之能也。一物一性，豈有此多能哉！今近取譬於人之多能乎？夫人之性也，有任焉者，有清焉者，有和焉者，有直焉者，雖聖人不可移易也；而有多能焉，有無能焉，多能非求於天性之外而成焉，無能非求於天性之中而無焉。人其性而用之，則多能也，是善於用其性者也，非由天性而多能也，故天性任焉者，用而多能，則盡其性之任而已。任之外，無有其能也。清則清，和則和，直則直，從性之一而貫之，不可移易也。亦有學而修之，以成其多能者，若天性然，然非去性而然，亦與性成者也。此所以論於人之道，而非所以論於草根木皮也。夫善於用人性之能者若彼，而況於草根木皮乎？性之外，無有多能，而一草何多能之有？夫黃連之苦，治心煩也，是性之為能也，張仲景用焉，而治心下痞嘔吐，下利之證也，是性之所枝而岐也，故無心煩之狀者，試之無效。如心煩者，其應如響。仲景治心下痞，嘔吐下利，其方用黃連者甚多，斯亦可以征也。由是觀之，黃連主治心煩也，本草之謬也明矣。黃連之能多乎哉，不多也。</p>
<p>品　考黃連　處處出焉，出於本邦越中者，為上品，世所謂加賀黃連是也。貪利之賈，成以鬱金色之，不可不擇也，銼用。</p>
<h3>黃芩</h3>
<p>治心下痞也，旁治胸脅滿、嘔吐、下利也。</p>
<p>考　證黃芩湯證曰：自下利。</p>
<p>六物黃芩湯，證不具也。（說在互考中）</p>
<p>乾薑黃連黃芩人參湯證曰：吐下。</p>
<p>小柴胡湯證曰：胸脅苦滿。</p>
<p>大柴胡湯證曰：心下痞硬、嘔吐而下利。</p>
<p>柴胡薑桂湯證曰：胸脅滿、微結、心煩。</p>
<p>葛根黃連黃芩湯證曰：利遂不止。</p>
<p>半夏瀉心湯證曰：嘔而腸鳴、心下痞。</p>
<p>以上八方，黃芩皆三兩。</p>
<p>柴胡桂枝湯證曰：微嘔、心下支結。</p>
<p>瀉心湯證曰：心下痞。</p>
<p>附子瀉心湯證曰：心下痞。</p>
<p>以上三方，黃芩或一兩，或一兩半，而亦三兩之例。</p>
<p>上歷觀此諸方，黃芩主治心下之病也。若嘔吐者，若下利者，有心下痞之證也，則得黃芩即治矣。其無此證者，終無效焉。無他，治心下痞也。</p>
<p>互　考六經之言，則後人所攙入焉，故不取焉。以他例推之，心下痞、腹強急而下利者，此湯主之。</p>
<p>為則每對若證，即用此湯，其應如響，學人審諸。</p>
<p>六物黃芩湯，其證不具也。此方半夏瀉心湯，而去黃連、甘草加桂枝者也。張仲景用人參、黃芩也，於心下痞而硬者也。然則心下痞硬乾嘔下利者，此湯主之。其無此證，則終無效也。學人審諸。</p>
<p>辨　誤世醫篤信本草。以芩、連為寒藥，其畏之也如虎野狼焉，不思之甚矣。夫本草論藥之寒熱溫涼，終不一定。彼以為溫，則是以為熱；甲以為寒，則乙以為涼。果孰是而孰非乎？蓋醫者之於用藥也，譬猶武夫用兵，武夫而畏兵，不可以為武夫也。醫亦然，毒藥各有其能，各主一病，苟有其證者而不用之，則終不治也。所以不畏焉，此而畏之，則何以醫為也？張仲景用黃芩也，治心下痞而已，無有他能。故心下痞，而嘔吐下利，則用之即治矣。世醫不深察，妄以為嘔吐下利之主藥，可悲也夫！品　考黃芩　處處出焉。出漢土者，此為上品也；出朝鮮者次之。出本邦者，下品也。銼用。</p>
<h3>柴胡</h3>
<p>主治胸脅苦滿也。旁治寒熱往來、腹中痛、脅下痞硬。</p>
<p>考　證小柴胡湯證曰：胸脅苦滿、往來寒熱。又云：腹中痛。又云：脅下痞硬。</p>
<p>柴胡加芒硝湯證曰：胸脅滿。</p>
<p>柴胡去半夏加栝蔞湯，證不具也。（說在互考中）</p>
<p>柴胡薑桂湯證曰：胸脅滿、微結。又云：往來寒熱。</p>
<p>大柴胡湯證曰：心下急、郁郁微煩。又曰：往來寒熱。又曰：心下滿痛。</p>
<p>以上五方，柴胡皆八兩。</p>
<p>柴胡桂枝湯證曰：心下支結。</p>
<p>以上一方，柴胡四兩而八兩之例。</p>
<p>上歷觀此諸方，柴胡主治胸脅苦滿也。其他治往來寒熱、或腹中痛、或嘔吐、或小便不利，此一方之所主治。而非一味之所主治也。為則按：《傷寒論》中，寒熱、腹痛、嘔吐、小便不利，而不用柴胡者多矣。胸脅苦滿而有前證，則柴胡主焉。此可以見柴胡之所主治也。</p>
<p>互　考柴胡去半夏加栝蔞湯，其證不具也。以渴，故代半夏以栝蔞也。今試諸世所謂瘧疾，胸脅苦滿而渴者，甚有效焉。其無有胸脅苦滿證，則終不知也。然則胸脅苦滿證，其脫也明矣。</p>
<p>辨　誤</p>
<p>《本草綱目》柴胡部中，往往以往來寒熱為其主治也。夫世所謂瘧疾，其寒熱往來也劇矣；而有用柴胡而治也者，亦有不治也者。於是質之仲景氏之書，其用柴胡也，無不有胸脅苦滿之證。今乃施諸胸脅苦滿而寒熱往來者，其應猶響之於聲。非直瘧也，百疾皆然。無胸脅苦滿證者，則用之無效焉。然則柴胡之所主治，不在彼而在此。</p>
<p>品　考柴胡　處處出焉。本草以產於銀州銀縣者為上品也。本邦藥鋪所鬻者有二品。曰鐮倉柴胡，曰河原柴胡也。蓋河原柴胡者，非柴胡之種也，不可用焉。鐮倉柴胡者尤佳，去須及頭，以粗布指拂拭之，銼而用焉。雷　、陳子承，稱柴胡香氣甚矣。而本邦之產，比諸產漢土者，形狀則同，氣味則薄，因稽諸說。嫩則香美也，老則不也。張元素曰：氣味俱清，故今用鐮倉柴胡也。</p>
<h3>貝母</h3>
<p>主治胸膈郁結、痰飲也。</p>
<p>考　證桔梗白散證曰：時出濁唾腥臭，久久吐膿。</p>
<p>以上一方，貝母三分。</p>
<p>仲景氏用貝母也，特此一方已然。考之本草，古人用貝母，主治郁結痰飲，旁治咳嗽、乳汁不下也。乃與仲景氏治濁唾腥臭，其歸一也已。其功於桔梗，大同而小異也。</p>
<p>品　考貝母　用自漢土來者也，銼用焉。今本邦間亦出焉，不異於漢土產也。</p>
<h3>細辛</h3>
<p>主治宿飲停水也。故治水氣在心下而咳滿、或上逆、或脅痛。</p>
<p>考　證小青湯證曰：心下有水氣、乾嘔、發熱而咳。</p>
<p>苓甘五味薑辛湯證曰：咳、胸滿。</p>
<p>以上二方，細辛皆三兩。</p>
<p>麻黃附子細辛湯，證不具也。（說在互考中）</p>
<p>大黃附子湯證曰：脅下偏痛。</p>
<p>桂薑草棗黃辛附湯證曰：心下堅大如盤、邊如旋杯。</p>
<p>以上三方，細辛皆二兩。</p>
<p>上歷觀此諸方。其咳者，上逆者，胸滿者，脅痛者，心下堅大者，胸脅心下宿飲停水而所致也，用細辛則水飲去，而其證已。可以見其所主治也。</p>
<p>互　考麻黃附子細辛湯條，特云少陰病反發熱，而不舉余證。為則按：六經也者，是後人之攙入，而非仲景之古也。所謂少陰病者，蜷臥、小便清利也。蜷臥者，惡寒甚也。惡寒者，水病也；仲景氏之治惡寒也，其用附子者居多。又其言曰：朮、附並走皮中逐水氣也。由是觀之，惡寒之為水氣也明矣。其喘而惡寒，有痰飲之變者，此方主之。桂薑草棗黃辛附湯證，不具也。說在術條下，故不復贅焉。</p>
<p>辨　誤今之為醫者，其用藥也，瞑眩則栗，遽轉其方，何無特操之甚也。書曰：若藥弗瞑眩，厥疾弗瘳。余每讀書到於此，未嘗不廢書抵掌而歡。聖哲之言，信而有征也。仲景之為方也，亦有征矣！請舉其一二。苓甘五味薑辛夏湯條曰：咳滿即止，而更復渴、衝氣復發者，以細辛乾薑也。而仍用細辛乾薑，此非審知此毒，而治此疾者，孰能之為？嗚呼！仲景哉！朮附湯條曰：其人如冒狀，勿怪。即是術附並走皮中逐水氣，未得除故耳，此亦瞑眩之謂也。夫欲為仲景氏者，其要在知藥之瞑眩，而疾乃瘳焉。而後就其方法，審其藥功而已。為則從事於此，審試諸藥，本草所謂大毒者，其不徹疾也，不瞑眩。所謂無毒者，亦中肯綮也，必瞑眩。瞑，眩也，疾斯瘳也；余未見藥弗瞑眩，而疾之為瘳者也。嗚呼！聖哲之言，信而有征哉！學人思諸。</p>
<p>品　考細辛　本邦稱云：真細辛者，即是也，洗去塵土，銼而用之，藥鋪間以杜衡充細辛也。</p>
<p>不可不辨矣。</p>
<h3>當歸芎</h3>
<p>仲景之方中，用當歸、芎　者，其所主治，不可的知也。今不敢鑿從成方而用焉，是闕如之義也。</p>
<p>辨　誤本草以當歸、芎　治血，為產後要藥。為則按：仲景氏治血方中，無此二藥者多。而治他證之方中，亦有此二藥。如奔豚湯、當歸羊肉湯、酸棗仁湯類是也。由是觀之，不可概為治血之藥也。</p>
<p>品　考當歸　江州伊芳　山所產。其味辛、同漢土所產。而和州所產味甘，此以糞土培養之者也，不可用矣。孫思邈曰：無當歸，以芎　代之。今試嘗和州當歸，其味大不似芎　也。伊芳　當歸則似焉，故用之也。</p>
<p>芎　出本邦豐後州者上品也。</p>
<h3>芍藥</h3>
<p>主治結實而拘攣也。旁治腹痛頭痛、身體不仁、疼痛腹滿、咳逆下利腫膿。</p>
<p>考　證桂枝加芍藥湯證曰：腹滿時痛。</p>
<p>小建中湯證曰：腹中急痛。</p>
<p>桂枝加大黃湯證曰：大實痛。</p>
<p>以上三方，芍藥皆六兩。</p>
<p>枳實芍藥散證曰：腹痛煩滿。</p>
<p>排膿散，證闕。（說在類聚方）</p>
<p>以上二方，芍藥一方等分，一方六分。</p>
<p>芍藥甘草湯證曰：腳攣急。</p>
<p>桂枝加芍藥生薑人參新加湯證曰：身疼痛。</p>
<p>芎歸膠艾湯證曰：腹中痛。</p>
<p>以上三方，芍藥皆四兩。</p>
<p>芍藥甘草附子湯，證不具也。（說在互考中）</p>
<p>以上一方，芍藥三兩，而亦四兩之例。</p>
<p>小青龍湯證曰：咳逆。</p>
<p>大柴胡湯證曰：心下滿痛。又曰：嘔吐而下利。</p>
<p>附子湯證曰：身體痛。</p>
<p>真武湯證曰：腹痛。又云：沉重疼痛、自下利。又云：咳。</p>
<p>桂枝湯證曰：頭痛。又曰：身疼痛。</p>
<p>烏頭湯證曰：歷節不可屈伸疼痛。又曰：拘急。</p>
<p>黃　桂枝五物湯證曰；身體不仁。</p>
<p>以上七方，芍藥皆三兩。</p>
<p>黃芩湯證曰：自下利。</p>
<p>柴胡桂枝湯證曰：肢節煩疼。</p>
<p>以上二方，用芍藥，或二兩，或一兩半。而亦三兩之例。</p>
<p>上歷觀此諸方，曰腹痛、曰頭痛、曰腹滿、曰咳逆、曰下利、曰排膿、曰四肢疼痛、曰攣急、曰身體不仁，壹是皆結實而所致也。其所謂痛者，拘急也。若夫桂枝加芍藥湯、小建中湯、桂枝加大黃湯，皆以芍藥為主藥，而其證如此。由是觀之，主治結實而拘攣也明矣。</p>
<p>互　考小建中湯，《傷寒論》不備其證。是以世醫不獲方意，以為補劑，故其所施也，竟無效焉？為則按：此方出自芍藥甘草湯，故主治諸病腹拘急而痛者也，學人正焉。芍藥甘草附子湯，其條特舉惡寒之證，此附子之所主也，而脫芍藥、甘草之所主治也。其用甘草者，治毒急迫也。其用芍藥者，治拘攣也。然則拘攣急迫而惡寒者，此湯主之。</p>
<p>真武湯、附子湯，特有生薑、人參之異。而所主治，則頗異也。真武湯，苓芍為主。而附子辨　誤朱震亨曰：產後不可用芍藥，以其酸寒伐生發之氣也。李時珍曰：白芍藥益脾，能於土中瀉木，產後肝血已虛，不可更瀉，故禁之。夫酸寒之藥，蓋不少矣。何獨避芍藥之為？世醫雷同其說，不思之甚矣。諸藥皆毒，毒而治毒，毒而不用毒，何治之有？《金匱要略》曰：產後腹痛，枳實芍藥散主之。《千金方》曰：產後虛羸、腹中刺痛、當歸建中湯主之。此皆芍藥主藥，而用之於產後也。且也張仲景芍藥甘草湯、芍藥甘草附子湯、桂枝加芍藥湯，皆以芍藥為主，而於血證無毫關涉焉，特治結實而拘攣已。若乃酸寒伐生發之氣，及瀉木之說，此鑿空之論，而非疾醫之用也。</p>
<p>品　考芍藥　其種有二：曰木芍藥也，曰草芍藥也。木芍藥是其真也，花容綽約，亦可愛也，余取之矣；服食家言，白花勝赤花，嘗試其功，赤白惟均也。服食家之說，不可從矣。草芍藥，世所謂宇多芍藥也，不可用矣。</p>
<h3>牡丹皮</h3>
<p>仲景之方中，桂枝茯苓丸、八味丸、大黃牡丹皮湯，以上三方，雖有牡丹皮，而不以為主藥也。如此之類，皆從其全方之主治而用之，如征姑闕焉，以俟之後君子也。</p>
<p>品　考牡丹皮　和、漢同。</p>
<h3>茵陳蒿</h3>
<p>主治發黃也。</p>
<p>考　證茵陳五苓散證曰：黃膽。</p>
<p>茵陳蒿湯證曰：心胸不安、久久發黃。</p>
<p>以上二方茵陳蒿，一方六兩，一方十分。</p>
<p>上觀此二方，茵陳蒿治發黃也明矣。</p>
<p>互　考或問曰：發黃之證，治之之方，其不用茵陳蒿者，間亦有之，如何？答曰：發黃、小便不利、或渴無余證者，茵陳五苓散主之。發黃、大便不通者，茵陳蒿湯主之。若乃一身盡黃、腹脹、大便必黑、時溏者，硝礬散主之。發黃、心中懊　，柏子大黃豉湯。發黃、腹滿、小便不利，大黃硝石湯。發黃、頭痛惡風自汗出，桂枝加黃　湯。發黃嘔逆，小半夏湯主之。</p>
<p>發黃、胸脅苦滿，小柴胡湯主之。發黃、腹中拘急，小建中湯主之。此皆隨證而異方也；仲景氏之於茵陳蒿，特用之於發黃，無他病者而已。</p>
<p>辨　誤世之醫者，論黃膽為濕熱，其以黃為土色也。無益於治，此不可從矣。</p>
<p>品　考</p>
<h3>艾</h3>
<p>仲景之方中，芎歸膠艾湯用艾，而非君藥也。是以其所主治也，不可得而知矣。芎歸膠艾湯，主治漏下下血也，今從其成方而用之。</p>
<p>辨　誤</p>
<p>《名醫別錄》曰：艾可以灸百病。後人不審其證之可灸與否，一概行之，故罹其害也，蓋不鮮矣。醫者見之，以為不候寒熱之過也，不審可否，則固已失之矣。論寒熱，亦未為得也。灸者所以解結毒也，若夫毒著脊上，藥之不知，下之不及，就其所著而灸之，其毒轉而走腹，而後藥之為達也。臨其可灸之證也，我不終問其寒熱，而未有逢其害焉。有灸而發熱，是毒動也，世醫以為灸誤，非也。余於若證，灸而不止，其毒之散也，其熱亦止，此即所謂瞑眩而瘳者也。凡艾之為用也，灸之與煎，其施雖異，而以其一物也。偶爾言及焉，灸家言，禁穴頗多，余家不言之，一從《靈樞》，以結毒為　也。大凡灸不止一日，乃至五日七日，以多日為有效矣。一日暴之，十日寒之，我未見其能治者也。</p>
<p>品　考艾　處處出焉。所賣者，雜它物可正焉。</p>
<h3>麻黃</h3>
<p>主治喘咳、水氣也。旁治惡風、惡寒、無汗、身疼骨節痛、一身黃腫。</p>
<p>考　證麻黃湯證曰：身疼腰痛、骨節疼痛、惡風無汗而喘。</p>
<p>甘草麻黃湯證曰：裡水。</p>
<p>麻黃醇酒湯證曰：黃膽。</p>
<p>以上三方，麻黃四兩，或三兩，而為君藥。</p>
<p>大青龍湯證曰：惡寒、身疼痛、不汗出而煩躁。</p>
<p>越婢湯證曰：惡風、一身悉腫。</p>
<p>越婢加朮湯證曰：一身面目黃腫。</p>
<p>越婢加半夏湯證曰：其人喘、目如脫狀。</p>
<p>以上四方，麻黃皆六兩。</p>
<p>麻黃杏仁甘草石膏湯證曰：汗出而喘。</p>
<p>牡蠣湯，證不具也。（說在互考中）</p>
<p>以上二方，麻黃皆四兩。</p>
<p>葛根湯證曰：無汗惡風。</p>
<p>小青龍湯證曰：心下有水氣、咳而微喘。</p>
<p>烏頭湯證曰：歷節疼痛。</p>
<p>以上三方，麻黃皆三兩。</p>
<p>麻黃附子甘草湯，證不具也。（說在互考中）</p>
<p>麻黃附子細辛湯，證不具也。（說在互考中）</p>
<p>以上二方，麻黃二兩。</p>
<p>上歷觀此數方。麻黃主治喘咳、水氣也明矣；故其證而惡風惡寒、無汗身疼、骨節痛、一身黃腫者，用麻黃皆治也。</p>
<p>互　考甘草麻黃湯、麻黃醇酒湯。唯云裡水黃膽，而不審其證。為則按：黃家兼有喘咳。惡寒骨節痛之證者，麻黃之所主治也。</p>
<p>牡蠣湯，此甘草麻黃湯而加牡蠣蜀漆方也；牡蠣治動氣，蜀漆主逐水，然則世所謂瘧疾，動麻黃附子甘草湯、麻黃附子細辛湯二方，其條所謂少陰病者，惡寒甚也，而有無汗之證，故用麻黃也。</p>
<p>辨　誤甚矣世醫之怖麻黃也。其言曰：吾聞之麻黃能發汗，多服之則漉漉汗出不止，是以不敢用焉。惡是何言也？譬怯者之於妖怪，足未嘗踏其境，而言某地真出妖怪也。為則嘗試麻黃之效，可用之證而用之，汗則出焉。雖當夏月而無漉漉不止之患，仲景氏言服麻黃後，覆取微似汗，宜哉，學人勿以耳食而飽矣。</p>
<p>品　考麻黃　本邦之產未聞，而亦有形狀相似者，是木賊而非麻黃也。朱震亨、李時珍言其與麻黃同功，則學人試可乃已。甄權曰：根節止汗，試之無效也，不可從矣。仲景氏曰：先煮麻黃去上沫，今漢舶所載而來者，煮之無上沫，共諸藥煮之而可也。</p>
<h3>地黃</h3>
<p>主治血證及水病也。</p>
<p>考　證八味丸證曰：小腹不仁。又曰：小便不利。</p>
<p>以上一方，地黃八兩。</p>
<p>芎歸膠艾湯證曰：漏下。又曰：下血。</p>
<p>以上一方，地黃六兩。</p>
<p>三物黃芩湯證曰：在草蓐自發露、得風、四肢苦煩熱。</p>
<p>以上一方，地黃四兩。</p>
<p>上歷觀此三方，主治血及水、而不及其他也。</p>
<p>互　考芎歸膠艾湯、三物黃芩湯、八味丸，皆以地黃為君藥。而二方言血證，一方言小便不利。</p>
<p>膠艾湯方中，除地黃之外，有阿膠、當歸、芎　，均是治血藥也。三物黃芩湯，去地黃，則其余無治血藥品也。由是觀之，古人用地黃，並治血證水病也，核焉，且也施治之法不別血之與水亦明矣。</p>
<p>辨　誤夫水之與血，其素同類也。亦唯赤則謂之血，白則謂之水耳。余嘗讀《內經》曰：汗者，血之余也。問曰：血之余，而汗白者何也？答曰：肺者，主皮毛也，肺色白也，故汗白也。</p>
<p>此本於陰陽五行，而有害於疾醫之道也。疾醫之道，殊乎亡也？職斯之由，可悲也哉！夫汗之白也，血之赤也。其所以然，不可得而知也。刃之所觸，其創雖淺，血必出也。暑熱之酷，衣被之濃，汗必出也。壹是皆歷皮毛而出者，或為汗、或為血、故以不可知為不可知，置而不論，唯其毒所在而致治焉，斯疾醫之道也。後世之醫者，以八味丸為補腎劑，何其妄也？張仲景曰：香港腳上入，少腹不仁者，八味丸主之；又曰：小便不利者；又曰：轉胞病，利小便則愈；又曰：短氣有微飲，當從小便去之。壹是皆以利小便為其功。書云：學於古訓乃有獲。嗚呼！學於古訓，斯有獲藥功矣。</p>
<p>品　考地黃　本邦處處出焉。其出和州者最多，而與出漢土者無異也，充實為佳。藏器曰：《本經》不言生干蒸干。《別錄》云：生地黃者，乃新掘鮮者是也；李時珍曰：熟地黃，乃後人復蒸晒者，諸家本草，皆謂乾地黃為熟地黃。而今本邦藥鋪，以乾地黃為生地黃，非也。干者，燥干之謂，如乾薑是也。生者，新鮮之名，如生薑是也。故古人言生地黃，則必言汁，言之順也，豈有干而有汁者哉？仲景氏之所用，生干二品而已。其熟云者，後世之為也，不可用矣。</p>
<h3>葶藶</h3>
<p>主治水病也，旁治肺癰結胸。</p>
<p>考　證葶藶大棗湯證曰：肺癰、胸滿脹、一身面目浮腫。</p>
<p>以上一方，葶藶搗丸如彈丸大。</p>
<p>大陷胸丸證曰：結胸。</p>
<p>以上一方，葶藶半升。</p>
<p>己椒藶黃丸證曰：腸間有水氣。</p>
<p>以上一方，葶藶一兩。</p>
<p>大陷胸丸，則水利而疾愈，然則葶藶之治水也明矣。</p>
<p>互　考或問曰：葶藶大棗湯、桔梗湯、桔梗白散，同治肺癰，而異其方，何也？為則答曰：用桔梗之證，濁唾腥臭，久久吐膿者也。用葶藶之證，浮腫清涕，咳逆喘鳴者也。故因其見證而處方，不為病名所絆，斯為得也。</p>
<p>《淮南子》曰：葶藶愈脹。為則按：脹是水病也。</p>
<p>品　考葶藶　有甜苦二種。而甜者不中用焉，本邦未出苦葶藶也。或曰：關以東間有之。</p>
<h3>大黃</h3>
<p>主通利結毒也，故能治胸滿、腹滿、腹痛。及便閉、小便不利，旁治發黃、瘀血、腫膿。</p>
<p>考　證大陷胸湯證曰：從心下至少腹、硬滿而痛。</p>
<p>以上一方，大黃六兩。</p>
<p>小承氣湯證曰：腹微滿、大便不通。</p>
<p>厚朴三物湯證曰：痛而閉者。</p>
<p>大黃甘遂湯證曰：少腹滿、如敦狀、小便微難。</p>
<p>大承氣湯證曰：腹滿痛者。</p>
<p>大黃硝石湯證曰：黃膽、腹滿、小便不利。</p>
<p>桃核承氣湯證曰：少腹急結。</p>
<p>大黃牡丹湯證曰：少腹腫痞。</p>
<p>大黃甘草湯，證不具也。</p>
<p>調胃承氣湯證曰：腹脹滿。又曰：大便不通。</p>
<p>以上九方，大黃皆四兩。</p>
<p>大黃附子湯證曰：脅下偏痛。</p>
<p>抵當湯證曰：少腹硬滿。</p>
<p>大黃黃連瀉心湯證曰：心下痞、按之濡。</p>
<p>桂枝加大黃湯證曰：大實痛。</p>
<p>以上四方，大黃或三兩、或二兩、一兩。而亦四兩之例。</p>
<p>上歷觀此諸方。張仲景氏用大黃者，特以利毒而已。故各陪其主藥，而不單用焉。合厚朴、枳實，則治胸腹滿。合黃連，則治心下痞。合甘遂、阿膠，則治水與血。合水蛭、虻蟲、桃仁，則治瘀血。合黃柏、梔子，則治發黃。合甘草，則治急迫。合芒硝，則治堅塊也。學者審諸，仲景方中用大黃者，不止於茲，而以其用之之征，顯然著明於茲，故不復游贅也。</p>
<p>辨　誤世醫之畏大黃也，不啻如蛇蠍。其言曰：凡用大黃者，雖病則治乎損內而死。切問而無其人，此承本草之訛而吠聲者也，非耶！仲景氏用下劑，其亦多矣。可見大黃，攻毒之干莫也。今也畏其利，而用鉛刀，宜哉不能斷沉　也。雖大下之後，仲景氏未嘗補也，亦可以見損內之說妄矣。凡藥劑之投，拔病之未及以斷其根，則病毒之動，而未能爽快，仍貫其劑也。</p>
<p>毒去而後爽快，雖千萬人亦同。世醫素畏下劑，故遽見其毒未去也，以為元氣虛損，豈不亦妄哉？品　考大黃　漢土產，有兩品，黃色而潤實者為良，所謂錦紋大黃也，本邦近者有稱漢種大黃者也</p>
<h3>大戟</h3>
<p>主利水也，旁治掣痛咳煩。</p>
<p>考　證十棗湯證曰：引脅下痛。又曰：咳煩。</p>
<p>互　考淮南子曰：大戟去水。</p>
<p>品　考大戟　漢產有兩品，綿大戟為良也，本邦之產，其效較劣。</p>
<h3>甘遂</h3>
<p>主利水也，旁治掣痛咳煩、短氣、小便難、心下滿。</p>
<p>考　證十棗湯證曰：引胸下痛、乾嘔、短氣。又曰：咳煩。</p>
<p>大黃甘遂湯證曰：小便微難。</p>
<p>甘遂半夏湯證曰：雖利、心下續堅滿。</p>
<p>大陷胸湯證曰：短氣躁煩。又曰：心下滿而硬痛。</p>
<p>以上四方，其用甘遂，或三枚，或二兩，或一錢也。</p>
<p>為則按：芫花、大戟、甘遂，同是利水，而甘遂之效最勝矣。</p>
<p>品　考甘遂　漢產為勝，本邦所產，其效較劣。</p>
<h3>附子</h3>
<p>主逐水也；故能治惡寒、身體四肢及骨節疼痛，或沉重，或不仁，或厥冷，而旁治腹痛、失精、下利。</p>
<p>考　證大烏頭煎證曰：繞臍痛，若發，則自出汗、手足厥冷。</p>
<p>烏頭湯證曰：歷節疼痛、不可屈伸。</p>
<p>烏頭桂枝湯證曰：腹中痛、逆冷、手足不仁。</p>
<p>以上三方，烏頭皆五枚而為君藥也。</p>
<p>桂枝附子湯證曰：身體疼痛、不能自轉側。</p>
<p>桂枝附子去桂加朮湯證曰：前證而小便不利。</p>
<p>大黃附子湯證曰：脅下偏痛。</p>
<p>天雄散，證闕。（說在術部）</p>
<p>以上四方，附子皆三枚。</p>
<p>桂枝甘草附子湯證曰：疼煩不得伸屈。</p>
<p>附子湯證曰：背惡寒。又曰：身體痛、手足寒、骨節痛。</p>
<p>以上二方，附子皆二枚。</p>
<p>四逆湯證曰：下利清穀不止、身疼痛。又曰：手足厥冷。</p>
<p>真武湯證曰：腹痛。又曰：四肢沉重、疼痛自下利。</p>
<p>桂枝加附子湯證曰：四肢微急、難以伸屈。</p>
<p>桂枝去芍藥加附子湯證曰：惡寒。</p>
<p>附子粳米湯證曰：切痛。</p>
<p>麻黃附子甘草湯，證不具也。（說在麻黃部）</p>
<p>麻黃附子細辛湯，證不具也。（說在細辛部）</p>
<p>附子瀉心湯證曰：惡寒。</p>
<p>桂薑草棗黃辛附湯，證不具也。（說在術部）</p>
<p>以上九方，附子皆一枚。</p>
<p>上歷觀此諸方，其證一是皆水病也。桂枝附子去桂加朮湯條曰：一服覺身痹；半日許再服，三服都盡，其人如冒狀，勿怪；即是術附並走皮中逐水氣，未得除故耳。烏頭桂枝湯條曰：初服二合，不知，即服三合，又不知，復加至五合。其知者，如醉狀。得吐者，為中病也。此二者，言附子逐水瞑眩之狀也。凡附子中病，則無不瞑眩。甚者脈絕色變，如死人狀。</p>
<p>頃互　考凡附子、大戟、甘遂之類，同逐水氣。而其用之也，隨毒所在。附子主水氣，而骨節及身體桂枝加附子湯，附子一枚。桂枝附子湯，附子三枚。四肢微急、難以屈伸者，用附子一枚。身體疼煩、不能自轉側者，用附子三枚。隨其痛劇，易附子亦有多少。則附子之功，可得而知也。</p>
<p>《本草綱目》曰：天雄散，治失精。其說曰：暖水臟益精，誤矣。仲景以天雄逐水耳。</p>
<p>精也辨　誤</p>
<p>《本草綱目》曰：附子性大熱。又云：大溫。夫味之辛酸苦甘咸，食而可知也。性之寒熱溫涼，嘗而不可知也。以不可知也為知，一測諸臆，其說紛紛，吾孰適從。夫仲景用附子以逐水為主，而不拘熱之有無也。若麻黃附子細辛湯、大黃附子湯，其證豈得謂之無熱乎？學人察諸。</p>
<p>孔子曰：名不正，則言不順。有是哉？今所謂中風者，非古所謂中風也。仲景氏曰：頭痛發熱、惡風有汗者，名曰中風。今所謂中風，則肢體不遂者而其說　於《金匱要略》及《千金效也，而設一論。更建曰：類中風。蓋類也者，類似也。而《金匱》、《千金》之所謂中風，豈類《傷寒論》之所謂中風乎？不類也，宜其不得其治也。為則朝夕苦思，參考仲景氏之方，今所謂中風者，身體疼痛不仁，而往往附子之證也，今舉一二而征焉。烏頭桂枝湯證曰：手足不仁、身疼痛也。去桂加朮湯證曰：身體疼煩、不能自轉側。桂枝加附子湯證曰：四肢微急、難以屈伸。今有此證而用此方，無一不中。中則瞑眩，疾乃瘳。吾故曰：今所謂中風者，非古所謂中風。而仲景氏用附子劑者也，不可不知矣。</p>
<p>品　考附子　今用本邦之烏頭也。出於奧州南部津輕松前者，是為上品。今漢客來鬻者，鹽藏而非自然之物也，其功能不與古人所論同也。李時珍曰：及一兩者難得，但得半兩以上者皆良。今漢客來鬻者，大及二兩，小不下半兩。本邦之烏頭，與時珍所說，其輕重只同；而其效與古人之所用，亦只同也。於是乎吾不用彼而用此也。《博物志》曰：烏頭、附子、天雄，一物也。《廣雅》曰：奚毒附子也。一年為側子，二年為烏喙，三年為附子，四年為烏頭，五年為天雄。為則按：其效皆同，而後世辨別之不可從矣。銼用。</p>
<h3>半夏</h3>
<p>主治痰飲嘔吐也。旁治心痛、逆滿、咽中痛、咳悸、腹中雷鳴。</p>
<p>考　證大半夏湯證曰：嘔吐。</p>
<p>以上一方，半夏二升。</p>
<p>小半夏湯證曰：嘔吐、穀不得下。</p>
<p>小半夏加茯苓湯證曰：嘔吐。又云：眩悸。</p>
<p>半夏厚朴湯證曰：咽中如有炙臠。</p>
<p>以上三方，半夏皆一升。</p>
<p>半夏瀉心湯證曰：嘔而腸鳴。</p>
<p>生薑瀉心湯證曰：脅下有水氣、腹中雷嗚。</p>
<p>甘草瀉心湯證曰：腹中雷鳴。又云：乾嘔。</p>
<p>小柴胡湯證曰：嘔。又云：咳。又云：心下悸。</p>
<p>大柴胡湯證曰：嘔不止。</p>
<p>小青龍湯證曰：心下有水氣、乾嘔、發熱而咳。又曰：吐涎沫。</p>
<p>葛根加半夏湯證曰：嘔。</p>
<p>黃芩加半夏生薑湯證曰：乾嘔。</p>
<p>越婢加半夏湯證曰：咳。</p>
<p>苓甘薑味辛夏湯證曰：嘔。</p>
<p>栝蔞薤白半夏湯證曰：心痛。</p>
<p>黃連湯證曰：欲嘔吐。</p>
<p>附子粳米湯證曰：腹中雷鳴。又云：逆滿嘔吐。</p>
<p>小陷胸湯證曰：結胸病，正在心下，按之則痛。</p>
<p>以上十四方，半夏皆半升。</p>
<p>半夏苦酒湯證曰：咽中傷生瘡。</p>
<p>甘遂半夏湯證曰：心下續堅滿。</p>
<p>以上二方，半夏十四枚，或十二枚，近半升。</p>
<p>半夏散證曰：咽中痛。</p>
<p>半夏乾薑散證曰：乾嘔吐逆、吐涎沫。</p>
<p>半夏麻黃丸證曰：心下悸。</p>
<p>以上三方，半夏諸藥等分。</p>
<p>上歷觀此諸方，半夏主治痰飲嘔吐也明矣；其余諸證，嘔而有痰者，一是皆半夏治焉。</p>
<p>互　考嘔者，生薑主之。嘔而有痰者，半夏主之。</p>
<p>小半夏湯、五苓散，其所治大同而小異。小半夏湯治嘔吐有痰飲者，五苓散治嘔吐而小便不利也。</p>
<p>大半夏湯證，其載《金匱要略》者，蓋非古也。今從《外台秘要》之文。</p>
<p>辨　誤余嘗讀《本草綱目》半夏條曰：孕婦忌半夏，為其燥津液也；不思之甚矣。古語有之曰：有不得用其藥。悲夫！夫妊娠者，人為而天賦也，故仲景氏無有養胎之藥。娩身之後亦然。故方其有疾而藥也，不建禁忌。故妊娠嘔吐不止者，仲景氏用乾薑人參半夏丸。余亦嘗治孕婦留飲掣痛者，與十棗湯數劑，及期而娩，母子不害也。古語所謂有故無損者，誠然誠然，孕婦忌半夏，徒虛語耳。</p>
<p>品　考半夏　和、漢無別。銼用焉。世醫薑汁掣之。此因本草入毒草部。而恐畏其毒，遂殺其能者</p>
<h3>芫花</h3>
<p>主逐水也。旁治咳掣痛。</p>
<p>考　證十棗湯證曰：引脅下痛。又曰：咳。</p>
<p>張仲景氏用芫花，莫過於十棗湯也。為則試服芫花一味，必大瀉水。則其逐水也明矣。</p>
<p>辨　誤本草芫花條。慎微曰：《三國志》云：魏初平中，有青牛先生常服芫花，年百余歲，常如五六十。時珍曰：芫花乃下品毒物，豈堪久服，此方外迂怪之言，不足信也。為則曰：方外迂怪之說，固無論於疾醫之道也。下品毒物，豈堪久服，時珍過矣！時珍過矣！有病毒而毒藥以攻之，豈不堪久服邪？學人勿眩焉。</p>
<p>品　考芫花　漢產為良。本邦亦出焉。本邦所產，今之所鬻者，頗多偽也，不可不正矣。本邦俗稱志計武志，是真芫花也。</p>
<h3>五味子</h3>
<p>主治咳而冒者也。</p>
<p>考　證小青龍湯證曰：咳。</p>
<p>苓桂五味甘草湯證曰：時復冒。</p>
<p>以上二方，五味子皆半升。</p>
<p>上觀此二方。則五味子所主治也，咳而冒者明矣。</p>
<p>互　考五味子、澤瀉，皆主治冒者，而有其別。五味子治咳而冒者，澤瀉治眩而冒者也。</p>
<p>辨　誤余嘗讀本草，有五味子收肺補腎之言，是非疾醫之言也。原其為說，由五臟生克而來也。</p>
<p>夫品　考五味子　朝鮮之產，是為上品，漢次之。本邦之產，其品稍劣，銼用。</p>
<h3>栝蔞實</h3>
<p>主治胸痹也，旁治痰飲。</p>
<p>考　證小陷胸湯證曰：結胸。</p>
<p>栝蔞薤白白酒湯證曰：胸痹、喘息咳唾。</p>
<p>栝蔞薤白半夏湯證曰：胸痹、不得臥。</p>
<p>枳實薤白桂枝湯證曰：胸痹。</p>
<p>以上四方，栝蔞實皆一枚。</p>
<p>上歷觀諸方。其治胸痹及痰飲也明矣；所謂胸痹者，胸膈痞塞是也。</p>
<p>互　考枳實薤白桂枝湯條曰：胸痹云云。枳實薤白桂枝湯主之，人參湯亦主之。《金匱要略》，往喘息咳唾，則枳實薤白桂枝湯主之。胸痹而心下痞硬，則人參湯主之。此所以不可相代也，學人思諸。</p>
<p>品　考栝蔞實　頌曰：其形有正圓者，有銳而長者，功用皆同。今用世所謂玉章者，李時珍曰：栝</p>
<h3>葛根</h3>
<p>主治項背強也。旁治喘而汗出。</p>
<p>考　證葛根黃連黃芩湯證曰：喘而汗出。（說在互考中）</p>
<p>以上一方，葛根半斤。</p>
<p>葛根湯證曰：項背強。</p>
<p>葛根加半夏湯，證不具也。（說在互考中）</p>
<p>桂枝加葛根湯證曰：項背強。</p>
<p>以上三方，葛根皆四兩。</p>
<p>為則曰：葛根主治項背強急也。葛根湯及桂枝加葛根湯，皆足以征焉。</p>
<p>互　考葛根黃連黃芩湯，其用葛根最多，而無項背強急之證，蓋闕文也。施諸下利喘而汗出者，終葛根加半夏湯條曰：太陽與陽明合病，此須疾醫之言也，不取焉。葛根湯證而嘔者，此方即主之也。</p>
<p>品　考葛根　和、漢無異種。藥鋪所謂生干者，是為良也。銼用。</p>
<h3>防己</h3>
<p>主治水也。</p>
<p>考　證木防己湯證曰：支飲。</p>
<p>防己茯苓湯證曰：四肢腫。</p>
<p>防己黃　湯證曰：身重。又曰：腫及陰。</p>
<p>以上三方，防己皆四兩。</p>
<p>己椒藶黃丸證曰：腸間有水氣。</p>
<p>以上一方，防己一兩。</p>
<p>上歷觀此諸方，其治水也明矣，未見施諸他證者也。</p>
<p>互　考木防己湯，人參為君，故治心下痞堅而有水者。防己茯苓湯，茯苓為君，故治四肢聶聶動而水腫者。防己黃　湯，黃　為君，故治身重汗出而水腫者。仲景氏用防己，未見以為君藥者也，而其治水也的然明矣。</p>
<p>品　考防己　有漢木二種。余家用所謂漢防己者也。為則按：木防己，出漢中者，謂之漢防己，譬如漢術遼五味子也。後世岐而二之，其莖謂之木防己，可謂誤矣。余試用所謂木防己者，終無寸效。而所謂漢防己者，能治水也，於是斷乎用之。陶弘景曰：大而青白色虛軟者好，墨點木強者不佳。李當之曰：其莖如葛蔓延，其根外白內黃，如桔梗，內有黑紋，如車輻解者良。頌曰：漢中出者，破之文作車輻解，黃實而香，莖梗甚嫩、苗葉小類牽牛。折其莖，一頭吹之，氣從中貫，如木通然。它處者青白虛軟，又有腥氣，皮皺，上有丁足子，名木防己。蘇恭曰：木防己，不任用也。</p>
<h2>卷下</h2>
<h3>香豉</h3>
<p>主治心中懊　也。旁治心中結痛及心中滿而煩也。</p>
<p>考　證枳實梔子豉湯，證不具也。（說在互考中）</p>
<p>梔子大黃豉湯證曰：心中懊　。</p>
<p>以上二方，香豉皆一升。</p>
<p>梔子豉湯證曰：心中懊　。又曰：胸中窒。又曰：心中結痛。</p>
<p>梔子甘草豉湯，證不具也。（說在互考中）</p>
<p>梔子生薑豉湯，證不具也。（說在互考中）</p>
<p>以上三方，香豉皆四合。</p>
<p>瓜蒂散證曰：心中滿而煩。</p>
<p>以上一方，香豉一合。</p>
<p>上歷觀此諸方，其主治心中懊　也明矣。</p>
<p>互　考枳實梔子豉湯條，無心中懊　證。為則按：梔子大黃豉湯，此枳實梔子豉湯而加大黃者，而其條有心中懊　之證；心中懊　，固非大黃所主治也。然則枳實梔子豉湯條，其脫心中懊之證也明矣。梔子甘草豉湯、梔子生薑豉湯，是梔子豉東加味之方也。故每章之首。冠以若字焉。心中懊　而少氣者，梔子甘草豉湯。心中懊　而嘔者，梔子生薑豉湯，斯可以知已。</p>
<p>辨　誤梔子豉湯方後，皆有一服得吐止後服七字，世醫遂誤以為吐劑，不稽之甚。為則試之，特治心中懊　耳，未嘗必吐也。且心中懊　而嘔者，本方加用生薑其非為吐劑也，亦可以見矣。《傷寒論集注》曰：舊本有一服得吐止後服七字，此因瓜蒂散中有香豉，而誤傳於此也。</p>
<p>今品　考香豉　李時珍曰：造淡豉法，用黑大豆二三斗，六月中淘淨，水浸一宿，瀝干，蒸熟，取出攤席上，候微溫，蒿覆；每三日一看，候黃衣上遍，不可大過，取晒簸淨，以水拌之，干濕得所，以汁出指間為準。安罐中，築實，桑葉蓋濃三寸，密封泥，於日中晒七日，取出，曝</p>
<h3>澤瀉</h3>
<p>主治小便不利冒眩也。旁治渴。</p>
<p>考　證澤瀉湯證曰：心下有支飲、其人苦冒眩。</p>
<p>五苓散證曰：小便不利、微熱消渴。</p>
<p>以上二方，以澤瀉為君藥。澤瀉湯，澤瀉五兩，五苓散一兩六銖半。</p>
<p>茯苓澤瀉湯證曰：吐而渴欲飲水。</p>
<p>以上一方，澤瀉四兩。</p>
<p>八味丸證曰：小便不利。又曰：消渴、小便反多。</p>
<p>以上一方，澤瀉三兩。</p>
<p>豬苓湯證曰：渴欲飲水、小便不利。</p>
<p>以上一方，澤瀉一兩。</p>
<p>牡蠣澤瀉散證曰：從腰以下有水氣。</p>
<p>以上一方，用澤瀉與余藥等分。茯苓澤瀉湯以下四方，以澤瀉為佐藥也。</p>
<p>上歷觀此諸方，澤瀉所主治也，不辨而明矣。</p>
<p>互　考澤瀉、五味子，同治冒而有其別也。說見於五味子部中。</p>
<p>辨　誤陶弘景曰：澤瀉久服則無子。陳日華曰：澤瀉催生，令人有子。李時珍辨之，其論詳於</p>
<p>《本草綱目》。夫懷孕，婦人之常也，而有病不孕，故其無病而孕者，豈其藥之所能得失乎？三子不知此義，可謂謬矣。余嘗治一婦人，年三十有餘，病而無子，有年於茲。諸醫無如之何，余為診之。胸膈煩躁、上逆而渴，甚則如狂，乃與石膏黃連甘草湯，並以滾痰丸服之。</p>
<p>周歲，諸證盡愈。其父大喜，以語前醫。前醫曰：治病則可，而不仁也。曰：何謂也？曰多服石膏，無子也，是絕婦道也。非不仁而何？其父愕然，招余詰之。余答曰：醫者掌疾病者也。而孕也者，人為而天賦，醫焉知其有無哉？且彼人之言，子何不察焉？彼人療之十有三年，而不能治之，彼豈豫知其來者乎？其父曰：然。居頃之，其婦人始孕也。彌月而娩，毋子無品　考澤瀉　本邦仙台所出者，是為良也。銼用。</p>
<h3>薏苡仁</h3>
<p>主治乳腫也。</p>
<p>考　證薏苡附子散，證不具也。</p>
<p>以上一方，薏苡仁十五兩。</p>
<p>薏苡附子敗醬散證曰：腹皮急、按之濡、如腫狀。</p>
<p>以上一方，薏苡仁十分。</p>
<p>麻黃杏仁薏苡甘草湯，證不具也。</p>
<p>以上一方，薏苡仁半兩。</p>
<p>互　考薏苡附子散，證不具也，而薏苡附子敗醬散，言如腫狀，則主治浮腫明矣；麻黃杏仁薏苡甘草湯，亦就麻黃杏仁甘草石膏湯，而去石膏加薏苡，則用之於咳喘浮腫可也。</p>
<p>品　考薏苡仁　和、漢無別，田野水邊，處處多有焉，本交趾之種，馬援載還也，本邦有二，其殼濃，無芽，以為念經數珠，不中用藥也。有芽尖而殼薄，即意苡也，俗傳其種弘法師之所將來也，因號弘法麥。</p>
<h3>薤白</h3>
<p>主治心胸痛而喘息咳唾也，旁治背痛、心中痞。</p>
<p>考　證栝蔞薤白白酒湯證曰：喘息、咳唾、胸背痛。</p>
<p>枳實薤白桂枝湯證曰：胸痹、心中痞。</p>
<p>以上二方，薤白皆半升。</p>
<p>栝蔞薤白半夏湯證曰：心痛徹背。</p>
<p>以上一方，薤白三兩。</p>
<p>上歷觀此三方，薤白所主治也，不辨而明矣。</p>
<p>品　考薤白　有赤白二種，白者為良。李時珍曰：薤葉狀似韭，韭葉中實而扁，有劍脊，薤葉中空，似細蔥葉而有棱，氣亦如蔥，二月開細花，紫白色，根如小蒜，一本數顆，相依而生；五</p>
<h3>乾薑</h3>
<p>主治結滯水毒也。旁治嘔吐嗽、下利厥冷、煩躁腹痛、胸痛腰痛。</p>
<p>考　證大建中湯證曰：心胸中大寒、痛嘔不能飲食。</p>
<p>苓薑朮甘湯證曰：身體重、腰中冷。又云：腰以下冷痛。</p>
<p>半夏乾薑散證曰：乾嘔吐逆、吐涎沫。</p>
<p>以上三方，乾薑或四兩，或諸藥等分。</p>
<p>人參湯證曰：喜唾。又曰：心中痞。</p>
<p>通脈四逆湯證曰：下利清穀。又曰：手足厥逆。又云：乾嘔。</p>
<p>小青龍湯證曰：心下有水氣、乾嘔。又云：咳。</p>
<p>半夏瀉心湯證曰：嘔而腸鳴。</p>
<p>柴胡薑桂湯證曰：胸脅滿。又云：心煩。</p>
<p>黃連湯證曰：腹中痛欲嘔吐。</p>
<p>苓甘五味薑辛湯證曰：咳胸滿。</p>
<p>乾薑黃連黃芩人參湯證曰：吐下。</p>
<p>六物黃芩湯證曰：乾嘔下利。</p>
<p>以上九方，乾薑皆三兩。</p>
<p>梔子乾薑湯證曰：微煩。</p>
<p>甘草乾薑湯證曰：厥，咽中干、煩躁吐逆。</p>
<p>乾薑附子湯證曰：煩躁、不得眠。</p>
<p>以上三方，乾薑二兩、一兩，而四兩之例。</p>
<p>四逆湯證曰：下利清穀。又曰：手足厥冷。</p>
<p>以上一方，乾薑一兩半，而三兩之例。</p>
<p>桃花湯證曰：下利。</p>
<p>乾薑人參半夏丸證曰：嘔吐不止。</p>
<p>以上二方，乾薑一兩，而三兩之例。</p>
<p>上歷觀此諸方，其嘔吐者，咳者、痛者、下利者之等，壹是皆水毒之結滯者也。</p>
<p>互　考孫思邈曰：無生薑，則以乾薑代之。以余觀之，仲景氏用生薑、乾薑，其所主治，大同而小異；生薑主嘔吐，乾薑主水毒之結滯者也，不可混矣。</p>
<p>辨　誤本草以乾薑為大熱，於是世醫皆謂四逆湯方中，薑、附熱藥也，故能溫厥冷，非也。按厥冷者，毒之急迫也，故甘草以為君，而薑、附以為佐，其用薑、附者，以逐水毒也。何熱之有？京師二條路白山街，有嘉兵衛者，號近江鋪，其男年始十有三，一朝而下利，及至日午，無知其行數，於是神氣困冒，醫為獨參湯與之。及至日晡所，手足厥冷，醫大懼，用薑、附益多，而厥冷益甚，諸醫皆以為不治。余為診之，百體無溫、手足擗地、煩躁而叫號、如有腹痛之狀、當臍有動、手不可近。余乃謂曰：是毒也！藥可以治焉。知其死生，則我不知之也；雖然，今治亦死，不治亦死，等死，死治可乎？親戚許諾。乃與大承氣湯，（一帖之重十二錢）一服。不知，復與，厥冷則變為熱、三服而神色反正，下利減半。服十日所，諸證盡退。由是觀之醫之於事知此藥，解此毒耳。毒之解也，厥冷者溫，大熱者涼。若以厥冷復常為熱藥，則大黃、芒硝，亦為熱藥乎？藥物之寒熱溫涼不可論，斯可以知已。</p>
<p>品　考乾薑　本邦之產有二品，曰干生薑、曰三河乾薑。所謂干生薑者，余家用之。所謂三河乾薑者，余家不用之。</p>
<h3>杏仁</h3>
<p>主治胸間停水也。故治喘咳，而旁治短氣結胸、心痛、形體浮腫。</p>
<p>考　證麻黃湯證曰：無汗而喘。</p>
<p>以上一方，杏仁七十個。</p>
<p>苓甘薑味辛夏仁湯證曰：形腫者，加杏仁。</p>
<p>以上一方，杏仁半斤。</p>
<p>茯苓杏仁甘草湯證曰：胸中氣塞短氣。</p>
<p>麻黃杏仁甘草石膏湯證曰：喘。</p>
<p>桂枝加厚朴杏子湯證曰：喘。</p>
<p>以上三方，杏仁皆五十個。</p>
<p>大青龍湯證曰：咳喘。</p>
<p>麻黃杏仁薏苡甘草湯，證不具也。（說在《類聚方》）</p>
<p>以上二方，杏仁四十個，二兩而五十個之例。</p>
<p>大陷胸丸證曰：結胸者，項亦強。</p>
<p>走馬湯證曰：心痛。</p>
<p>以上二方，杏仁諸藥等分。</p>
<p>上歷觀此諸方，杏仁主治胸間停水也明矣。</p>
<p>互　考杏仁、麻黃，同治喘，而有其別。胸滿，不用麻黃。身疼，不用杏仁。其二物等用者，以有胸滿身疼二證也。《金匱要略》曰：胸痹云云，茯苓杏仁甘草湯主之，橘枳薑湯亦主之。</p>
<p>為則按：胸痹短氣、筋惕肉　、心下悸者，茯苓杏仁甘草湯主之。胸痹嘔吐呃逆者，橘皮枳實生薑湯主之。二方治一證，非古之道也。栝蔞實條，既辨明之，今不贅於茲也。</p>
<p>品　考杏仁　和、漢無異品也。制之之法，去皮不去尖。</p>
<h3>大棗</h3>
<p>主治攣引強急也。旁治咳嗽、奔豚、煩躁、身疼、脅痛、腹中痛。</p>
<p>考　證十棗湯證曰：引脅下痛。又曰：咳煩、胸中痛。</p>
<p>葶藶大棗湯證曰：咳逆上氣、喘鳴迫塞。又曰：不得息。</p>
<p>以上二方，以大棗為君藥，一則十枚，一則十二枚。</p>
<p>苓桂甘棗湯證曰：欲作奔豚。</p>
<p>越婢湯，證不具也。（說在《類聚方》）</p>
<p>生薑甘草湯，證不具也。（說在互考中）</p>
<p>以上三方，大棗皆十五枚。</p>
<p>甘麥大棗湯證曰：臟躁、喜悲傷。</p>
<p>以上一方，大棗十枚。</p>
<p>小柴胡湯證曰：頸項強。又云：脅痛。</p>
<p>小建中湯證曰：急痛。</p>
<p>大青龍湯證曰：身疼痛、汗不出而煩躁。</p>
<p>黃連湯證曰：腹中痛。</p>
<p>葛根湯證曰：項背強。</p>
<p>黃芩湯，證不具也。（說在《類聚方》）</p>
<p>桂枝加黃　湯證曰：身疼重、煩躁。</p>
<p>吳茱萸湯證曰：煩躁。</p>
<p>以上八方，大棗皆十二枚。</p>
<p>上歷試此諸方。皆其所舉諸證，而有攣引強急之狀者，用大棗則治矣，不則無效也。且也十棗湯，大棗為君藥，而有引痛證，斯可以為征已。</p>
<p>互　考甘麥大棗湯條，有喜悲傷證，此毒之逼迫也，故用大棗以治攣引強急，用甘草、小麥以緩迫急也。</p>
<p>苓桂甘棗湯條，有奔豚證，此其毒動而上衝，有攣引強急之狀者，故用大棗也；生薑甘草湯證曰：咳唾涎沫不止。為則按：若之人患，胸中有攣引強急之狀，故用大棗居多也。</p>
<p>為則按：仲景氏用大棗、甘草、芍藥，其證候大同而小異，要在自得焉耳。</p>
<p>辨　誤大棗養脾胃之說，非古也，不取焉。古人云：攻病以毒藥，養精以穀肉果菜。夫攻之與養，所主不同，一物而二義。如曾晰之於羊棗，好而食之是養也。如十棗湯，用大棗，惡而不避，是攻也。無他嗜好之品，而充食用，則為養也。而充藥物，則為攻也。十棗湯，大棗為君，而治攣引強急，豈以為養哉？品　考大棗　漢種者為良。其品核小而肉濃也，不去核而銼用之。</p>
<h3>橘皮</h3>
<p>主治呃逆也。旁治胸痹停痰。</p>
<p>考　證橘皮竹茹湯證曰：噦逆。（噦者呃之謂也）</p>
<p>以上一方，橘皮二斤。</p>
<p>橘皮枳實生薑湯證曰：胸痹。（說在杏仁部中）</p>
<p>以上一方，橘皮一斤。</p>
<p>橘皮湯證曰：噦。</p>
<p>以上一方，橘皮四兩。</p>
<p>茯苓飲證曰：心胸中有停痰。</p>
<p>以上一方，橘皮二兩半。</p>
<p>上歷觀此諸方，主治呃逆也明。胸痹者，停痰者，其有呃逆之證，則橘皮所能治也。</p>
<p>品　考橘皮　近世間以柑子代橘皮，非也，可選用焉。真橘樹者，余觀之於和州春日祠前，於遠州見附驛也。</p>
<h3>吳茱萸</h3>
<p>主治嘔而胸滿也。</p>
<p>考　證吳茱萸湯證曰：嘔而胸滿。</p>
<p>以上一方，吳茱萸一斤。</p>
<p>品　考吳茱萸　無贗物。</p>
<h3>瓜蒂</h3>
<p>主治胸中有毒，欲吐而不吐也。</p>
<p>考　證瓜蒂散證曰：胸中痞硬、氣上衝咽喉、不得息者。</p>
<p>又曰：心中滿而煩、飢而不能食者，病在胸中。</p>
<p>以上一方，瓜蒂一分。</p>
<p>品　考瓜蒂　宗　、時珍，以為甜瓜蒂。試之，無寸效也。又有一種，名柿瓜。其種殊少，而其形如柿。又有一種，如柿瓜而皮上有毛者，其始皆太苦，而不可食也。及熟，則尤甜美，其蒂甚苦，有效可用。三才圖會，所謂青瓜也，本邦越前之產，是為良也。</p>
<h3>桂枝</h3>
<p>主治沖逆也，旁治奔豚頭痛、發熱惡風、汗出身痛。</p>
<p>考　證桂枝加桂湯證曰：氣自少腹上衝心。</p>
<p>以上一方，桂枝五兩。</p>
<p>桂枝甘草湯證曰：其人叉手自冒心、心下悸、欲得按。</p>
<p>桂枝甘草附子湯，證不具也。（說在互考中）</p>
<p>苓桂甘棗湯證曰：欲作奔豚。</p>
<p>苓桂五味甘草湯證曰：氣從少腹、上衝胸咽。</p>
<p>桂枝附子湯，證不具也。（說在互考中）</p>
<p>以上五方，桂枝皆四兩。</p>
<p>桂枝湯證曰：上衝。又曰：頭痛發熱、汗出惡風。</p>
<p>苓桂朮甘湯證曰：氣上衝胸。</p>
<p>以上二方，桂枝皆三兩。</p>
<p>上歷觀此諸方，桂枝主治沖逆也明矣。頭痛發熱之輩，其所旁治也。仲景之治疾，用桂枝者，居十之七八，今不枚舉焉。</p>
<p>互　考桂枝甘草湯證曰：其人叉手自冒心。為則按：叉手冒心者，以悸而上衝故也；桂枝甘草附子湯條，無上衝證。為則按：此方桂枝甘草湯，而加附子者也。桂枝甘草湯條，有上衝證。</p>
<p>然桂枝附子湯，用桂枝多於桂枝加附子湯，而無上衝證，蓋闕文也。桂枝加附子湯條，猶有桂枝之證，況於此湯，而可無桂枝之證乎？辨　誤范大成桂海志云：凡木葉心皆一縱理，獨桂有兩道如圭形，故字從之。陸佃《埤雅》云：桂猶圭也，宣導百藥，為之先聘通使，如執圭之使也。為則按：制字之說，范為得之，蓋以其所見而言之也。陸則失矣，蓋以臆測之，而強作之說也。不可從矣！</p>
<p>《傷寒論》曰：桂枝本為解肌，非仲景氏之意也。不取，此蓋注誤入本文者也。</p>
<p>宗　曰：漢張仲景，以桂枝湯治傷寒表虛。是不善讀《傷寒論》之過也。《傷寒論》中間說表裡虛實，非疾醫之言也，蓋後人所攙入也。凡仲景之用桂枝，以治上衝也。桂枝湯條曰：上衝者，可與桂枝湯，若不上衝者，不可與之。桂枝加桂湯條曰：氣從少腹上衝心。又按去桂加朮湯條曰：小便自利。由是觀之，上衝則用桂，下降則否，斯可以見已。且虛實之說，仲景所言，不失古訓，而後人所攙入，則不合古訓。宗　不善讀書，而妄為之說，過矣！品　考桂枝　氣味辛辣者，為上品也。李杲以氣味濃薄分桂枝、肉桂。遂構上行下行之說，是臆測也，不可從矣。桂枝也，肉桂也，桂心也，一物而三名也。桂心之說，陳藏器、李時珍得之。</p>
<h3>厚朴</h3>
<p>主治胸腹脹滿也。旁治腹痛。</p>
<p>考　證大承氣湯證曰：腹脹滿。又曰：腹中滿痛。</p>
<p>厚朴三物湯證曰：痛而閉。</p>
<p>厚朴七物湯證曰：腹滿。</p>
<p>厚朴生薑甘草半夏人參湯證曰：腹脹滿。</p>
<p>以上四方，厚朴皆半斤。</p>
<p>枳實薤白桂枝湯證曰：胸滿。</p>
<p>梔子厚朴湯證曰：腹滿。</p>
<p>以上二方，厚朴皆四兩。</p>
<p>半夏厚朴湯證曰：咽中如有炙臠。</p>
<p>以上一方，厚朴三兩。</p>
<p>小承氣湯證曰：腹大滿不通。</p>
<p>以上一方，厚朴二兩。</p>
<p>上歷觀此諸方，厚朴主治脹滿也明矣。</p>
<p>互　考厚朴三物湯條，無腹滿證。此湯即大承氣湯，而無芒硝者也。然則有腹滿證，也可知己。</p>
<p>其辨　誤張元素曰：厚朴雖除腹脹，若虛弱人，宜斟酌用之，誤則脫人之元氣也。為則曰：是無稽之言也。古語曰：攻病以毒藥，方疾之漸也，元氣為其所抑遏，醫以毒藥攻之，毒盡而氣旺，何怖之有？請舉其征。大承氣湯，厚朴為君，而有此湯之證者，多有不能食、神氣不旺者，於是施以此湯，則毒除也。毒除能食，能食氣旺，往往而然也。厚朴脫人之元氣，徒虛語耳！品　考厚朴　漢產為良。本邦所產，非真厚朴也，不堪用矣。或云本邦之產，有二種，其一則冬月葉不落，是與漢土所產同，比睿山有之。</p>
<h3>枳實</h3>
<p>主治結實之毒也。旁治胸滿胸痹、腹滿腹痛。</p>
<p>考　證枳實湯證曰：心下堅大如盤。</p>
<p>以上一方，枳實七枚。</p>
<p>枳實芍藥散證曰：腹痛煩滿。</p>
<p>以上一方，枳實諸藥等分。</p>
<p>桂枝枳實生薑湯證曰：心懸痛。</p>
<p>大承氣湯證曰：腹脹滿。</p>
<p>厚朴三物湯證曰：痛而閉。</p>
<p>厚朴七物湯證曰：腹滿。</p>
<p>梔子大黃豉湯證曰：熱痛。</p>
<p>以上五方，枳實皆五枚。</p>
<p>大柴胡湯證曰：心下急、郁郁微煩。</p>
<p>枳實薤白桂枝湯證曰：胸滿。</p>
<p>梔子厚朴湯證曰：心煩腹滿。</p>
<p>以上三方，枳實皆四枚。</p>
<p>小承氣湯證曰：腹大滿不通。</p>
<p>枳實梔子豉湯，證不具也。（說在互考中）</p>
<p>橘皮枳實生薑湯證曰：胸痹。</p>
<p>以上三方，枳實皆三枚。</p>
<p>上歷觀此諸方，枳實主治結實之毒也明矣。</p>
<p>互　考仲景氏用承氣湯也，大實大滿，結毒在腹，則大承氣湯，其用枳實也五枚；唯腹滿不通，則枳實梔子豉湯，其證不具也。為則按：梔子香豉，主治心中懊　。而更加枳實，則其有胸滿之證明矣。</p>
<p>品　考枳實　本邦所產稱枳實者，不堪用也。漢土之產，亦多贗也，不可不擇焉。《本草綱目》諸家，岐枳實、枳殼而為之說，非古也。吾則從仲景氏也。</p>
<h3>梔子</h3>
<p>主治心煩也，旁治發黃。</p>
<p>考　證大黃硝石湯證曰：黃膽。</p>
<p>梔子柏皮湯證曰：身黃。</p>
<p>以上二方，梔子皆十五枚。</p>
<p>梔子豉湯證曰：煩。</p>
<p>梔子甘草豉湯，證不具也。（說在香豉部中）</p>
<p>梔子生薑豉湯，證不具也。（說在香豉部中）</p>
<p>枳實梔子豉湯，證不具也。（說在枳實部中）</p>
<p>梔子厚朴湯證曰：心煩。</p>
<p>梔子乾薑湯證曰：微煩。</p>
<p>茵陳蒿湯證曰：心胸不安、久久發黃。</p>
<p>以上七方，梔子皆十四枚。</p>
<p>梔子大黃豉湯證曰：黃膽。</p>
<p>以上一方，梔子十二枚。</p>
<p>上歷觀此諸方，梔子主治心煩也明矣。發黃者，其所旁治也，故無心煩之證者而用之，則未見其效矣。</p>
<p>互　考梔子大黃豉湯，梔子十二枚。為則按：當作十四枚，是梔子劑之通例也。</p>
<p>為則按：香豉，以心中懊　為主，梔子則主心煩也。</p>
<p>辨　誤本草諸說，動輒以五色配五臟。其說曰：梔子色赤，味苦入心而治煩。又曰：梔子治發黃，黃是土色，胃主土，故治胃中熱氣。學人取其然者，而莫眩其所以然者，斯為可矣。</p>
<p>品　考梔子　處處出焉。銼用。</p>
<h3>酸棗仁</h3>
<p>主治胸膈煩躁、不能眠也。</p>
<p>考　證酸棗仁湯證曰：虛煩，不得眠。</p>
<p>（為則按：虛煩當作煩躁。）</p>
<p>以上一方，酸棗仁二升。</p>
<p>辨　誤時珍曰：熟用不得眠，生用好眠，誤矣！眠與不眠，非生熟之所為也。乃胸膈煩躁，或眠或不眠者，服酸棗仁，則皆復常矣。然則酸棗仁之所主，非主眠與不眠也。而歷代諸醫，以此立論誤也，以不知人道也。夫人道者，人之所能為也。非人之所能為者，非人道也。學聖人之道，然後始知之。蓋眠者寤者，造化之主也，而非人之為也。而煩躁者，毒之為而人之造也，酸棗能治之。故胸膈煩躁、或寤而少寐、或寐而少寤，予不問酸棗之生熟，用而治之，則煩躁罷而寤寐復故。嗚呼悲哉！聖人之世遠人亡。歷代之學人，其解聖經，往往以天事混之於人事，故其論可聞，而行不可知也。人而不人，醫而不醫，吾黨小子慎之！勿混造化與人事矣。</p>
<p>品　考酸棗仁　和、漢共有焉。漢產為良也。</p>
<h3>茯苓</h3>
<p>主治悸及肉　、筋惕也。旁治小便不利、頭眩煩躁。</p>
<p>考　證苓桂甘棗湯證曰：臍下悸。</p>
<p>茯苓戎鹽湯，證不具也。（說在互考中）</p>
<p>茯苓澤瀉湯，證不具也。（說在互考中）</p>
<p>以上三方，茯苓皆半斤。</p>
<p>防己茯苓湯證曰：四肢聶聶動。</p>
<p>茯苓四逆湯證曰：煩躁。</p>
<p>以上二方，茯苓皆六兩。</p>
<p>茯苓杏仁甘草湯，證不具也。（說在互考中）</p>
<p>以上一方，茯苓三兩，而亦六兩之例。</p>
<p>苓桂朮甘湯證曰：身為振振搖。又云：頭眩。</p>
<p>苓桂五味甘草湯證曰：小便難。</p>
<p>苓薑朮甘湯，證不具也。（說在互考中）</p>
<p>木防己去石膏加茯苓芒硝湯，證不具也。（說同上）</p>
<p>小半夏加茯苓湯證曰：眩悸。</p>
<p>半夏厚朴湯，證不具也。（說在互考中）</p>
<p>以上六方，茯苓皆四兩，此外苓桂劑頗多，今不枚舉焉。</p>
<p>茯苓甘草湯證曰：心下悸。</p>
<p>以上一方，茯苓二兩，而亦四兩之例。</p>
<p>茯苓飲，證不具也。（說在互考中）</p>
<p>栝蔞瞿麻丸證曰：小便不利。</p>
<p>葵子茯苓散證曰：頭眩。</p>
<p>真武湯證曰：心下悸、頭眩、身　動。</p>
<p>附子湯，證不具也。（說在互考中）</p>
<p>桂枝去桂加茯術湯證曰：小便不利。</p>
<p>以上方六，茯苓皆三兩。</p>
<p>五苓散證曰：臍下有悸、吐涎沫而癲眩。</p>
<p>以上一方，茯苓十八銖。</p>
<p>豬苓湯證曰：小便不利、心煩。</p>
<p>桂枝茯苓丸證曰：胎動。（說在互考中）</p>
<p>以上二方，茯苓諸藥等分。</p>
<p>上歷觀此諸方。曰心下悸、曰臍下悸、曰四肢聶聶動、曰身　動、曰頭眩、曰煩躁，一是皆悸之類也。小便不利而悸者，用茯苓則治。其無悸證者而用之，則未見其效。然則悸者，茯互　考茯苓戎鹽湯、茯苓澤瀉湯，各用茯苓半斤，以為主藥，而不舉茯苓之證。苓桂甘棗湯，亦用茯苓半斤，而有臍下悸之證。其他用茯苓為主藥者，各有悸眩　動之證。況於二方多用茯苓，而可無若證乎？其證脫也必矣。</p>
<p>茯苓杏仁甘草湯方，是苓桂朮甘湯去桂術加杏仁者也，然則其脫茯苓之證也明矣。</p>
<p>茯薑朮甘湯，有身為振振搖證，此非桂之主證，而苓之所能治也，然則苓薑朮甘湯條，脫此證也明矣。</p>
<p>木防己去石膏加茯苓芒硝湯方，是防己茯苓湯，以黃　、甘草代人參、芒硝者。而防己茯苓湯，有四肢聶聶動之證，是非黃　、甘草之主證，而茯苓之所主治也。由是觀之，此湯脫四肢　動之證也明矣。</p>
<p>半夏厚朴湯，是小半夏加茯苓湯，更加厚朴、蘇葉者也。然則其脫眩悸之證也明矣。</p>
<p>茯苓甘草湯方，是苓桂朮甘湯，去朮加薑者也。可以前例而推之。</p>
<p>茯苓飲，以苓為主，而不舉其證，以他例推之。心悸下而痞硬、小便不利、自吐宿水者，此附子湯方，是真武湯去薑加參者也；真武湯條，有心下悸、頭眩、身　動之證，然則此湯之條，脫若證也明矣。</p>
<p>桂枝茯苓丸證曰：胎動在臍上。為則按：蓋所謂奔豚也，而不可臆測焉。以旁例推之，上衝人參茯苓黃連，其功大同而小異，說在人參部中。</p>
<p>品　考茯苓　和、漢無異也。陶弘景曰：仙方止雲茯苓，而無茯神。為療既同，用之應無嫌。</p>
<p>斯言得之，赤白補瀉之說，此臆之所斷也，不可從矣。</p>
<h3>豬苓</h3>
<p>考　證豬苓湯證曰：渴欲飲水、小便不利。</p>
<p>豬苓散證曰：思水者。</p>
<p>以上二方，豬苓諸藥等分。</p>
<p>五苓散證曰：小便不利、微熱消渴。</p>
<p>以上一方，豬苓十八銖。</p>
<p>上歷觀此三方，豬苓所主治渴而小便不利也明矣。</p>
<p>品　考豬苓　和、漢共有焉，漢產實者為良也。</p>
<h3>水蛭</h3>
<p>主治血證也。</p>
<p>考　證抵當湯證曰：少腹硬滿云云。又曰：經水不利下。</p>
<p>抵當丸證曰：少腹滿，應小便不利。今反利者，為有血也。</p>
<p>以上二方，水蛭或三十個、或二十個。</p>
<p>上觀此二方，則水蛭之所主治也明矣。為則按：診血證也，其法有三焉。一曰少腹硬滿，而小便利者，此為有血，而不利者，為無血也；二曰病患不腹滿，而言腹滿也；三曰病患喜妄，屎雖硬，大便反易，其色必黑，此為有血也。仲景氏診血證之法，不外於茲矣。</p>
<p>品　考水蛭　蘇恭曰：有水蛭、草蛭。大者長尺許，並能咂牛馬人血。今俗多取水中小者，用之大效。</p>
<h3>龍骨</h3>
<p>主治臍下動也。旁治煩驚失精。</p>
<p>考　證桂枝去芍藥加蜀漆龍骨牡蠣湯證曰：驚狂、起臥不安。</p>
<p>以上一方，龍骨四兩。</p>
<p>桂枝加龍骨牡蠣湯證曰：失精、少腹弦急。</p>
<p>天雄散，證闕。（說在術部中）</p>
<p>蜀漆散，證不具也。（說在互考中）</p>
<p>以上三方，龍骨三兩，或諸藥等分。</p>
<p>柴胡加龍骨牡蠣湯證曰：煩驚。</p>
<p>以上一方，龍骨一兩。（說在外傳中）</p>
<p>桂枝甘草龍骨牡蠣湯證曰：煩躁。</p>
<p>以上一方，龍骨二兩，而亦四兩之例。</p>
<p>上歷觀此諸方，龍骨所治驚狂煩躁失精也。無容疑者，為則每值有其證者，輒用之而間有無效者，於是乎中心疑之。居數歲，始得焉。其人臍下有動而驚狂、或失精、或煩躁者，用龍骨劑，則是影響。其無臍下動者而用之，則未見其效。由是觀之，龍骨之所主治者，臍下之動也。而驚狂失精煩躁，其所旁治也。學人審諸。</p>
<p>互　考蜀漆散條，所謂瘧者，是寒熱發作有時也；而其有臍下動者，此散所主治也；無臍下動者，而用之，則未見其效。</p>
<p>辨　誤龍骨之說，或曰斃也，或曰石也，諸說終無有一定也。為則按：譬如人物乎，父精母血，相因為體，人人而所知也。雖然，果然之與，不孰究論之龍骨亦然。究論何益之有？至如其效用，則此可論也可擇也，不可不知也。</p>
<p>品　考龍骨　以能化者為上品也。有半骨半石之狀者，是未化也。取龍骨法，如取石膏法也。</p>
<p>打碎用之。</p>
<h3>牡蠣</h3>
<p>主治胸腹之動也，旁治驚狂煩躁。</p>
<p>考　證桂枝去芍藥加蜀漆龍骨牡蠣湯證曰：驚狂、起臥不安。</p>
<p>以上一方，牡蠣五兩。</p>
<p>牡蠣湯，證不具也。（說在互考中）</p>
<p>以上一方，牡蠣四兩。</p>
<p>牡蠣澤瀉散，證不具也。（說在互考中）</p>
<p>以上一方，牡蠣諸藥等分。</p>
<p>柴胡薑桂湯證曰：微煩。</p>
<p>以上一方，牡蠣三兩。</p>
<p>以上一方，牡蠣二兩，而亦四兩之例。</p>
<p>柴胡加龍骨牡蠣湯證曰：煩驚。</p>
<p>以上一方，牡蠣一兩半。（說在外傳中）</p>
<p>上歷觀此諸方，牡蠣所治驚狂煩躁，似與龍骨無復差別。為則從事於此也久之，始知牡蠣治胸腹之動矣，學人亦審諸。</p>
<p>互　考牡蠣黃連龍骨同治煩躁，而各有所主治也。膻中黃連所主也，臍下龍骨所主也，而部位不定、胸腹煩躁者，牡蠣所主也。</p>
<p>牡蠣湯條曰：瘧。牡蠣澤瀉散條曰：有水氣。其所舉之證，蓋不具也。以他例推之。喘急息迫，而胸中有動者，牡蠣湯主之也。身體水腫、腹中有動、渴而小便不利者，牡蠣澤瀉散主之也。學人審諸。</p>
<p>品　考牡蠣　殼之陳久者為良也。余家今用出於藝州者也。坊間所鬻者，不堪用也。</p>
<h2>跋</h2>
<p>蓋古書之貴於世，以施諸今而有征也。其古雖並於詩書，言之與實背馳，則不足貴矣。</p>
<p>本草之書，傳於世也雖邈焉。鑿說之甚，辨折以胸臆，引據以神仙，其言巧而似。於是其理達而遠乎實，游斷諜諜，不異趙括之論兵也。先考東洞翁，於是作《藥征》，考校效驗，訂繩謬誤，揣權宜，精異同。雖頗窮經旨，未嘗有如本草說多能者。然循其運用之變，奏異功則殆如天出，而俏性多能，是方之功，而非一物之能也。夫陽燧取火於日，方諸取露於月，而浮云蓋其光，則水火忽不可致也。而終日握陽燧不得溫手，終夜舐方諸不能止渴。方諸陽燧，雖致水火，責之以其能而不獲者，非自然之能也。自然之能出乎天，而不假他力，法用之功成之可以據，載籍雖古，豈足尊信哉？行考之於《藥征》也，主治頗詳明，不道陰陽，不拘五行，以顯然之證。征於長沙之法，推功之實，審事之狀，闡眾之所未發，以燭乎冥行之徒。誠扁鵲之遺范也。其書之已成，受業者奉之，屢請刊行。翁喟然歡曰：過矣！刊行何急？世所刊之書，後欲廢者，往往有之，皆卒然之過也。藥論者，醫之大本，究其精良，終身之業也。今刊未校之書，傳乎不朽，為人戮笑，寧蠹滅於櫝中，終不許焉。翁卒暨於今十有二年，遂命剞劂之師，利行之於世矣。</p>
<p><u>天明甲辰之冬十一月朔男猷謹題</u></p>
