<header><h1>凌門傳授銅人指穴</h1></header>
<dl class="元資料" data-type="book">
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1644/1911">公元1644-1911年（清·康熙前）</data></dd></div>
<div><dt>作者</dt><dd>不詳</dd></div>
</dl>
<h2>百症歌</h2>
<p>百症俞穴再三用心總會連於玉枕頭風療以金門懸顱頷厭之中偏頭痛止強間豐隆之際頭疼原夫面腫虛浮須伏水溝前項耳聾氣閉全憑聽會翳風面上蟲行有驗迎香可取耳中蟬　有聲聽會堪攻目眩兮支正飛揚目黃兮陽綱膽俞攀睛攻少澤肝俞之所淚出刺臨泣頭維之處目中漠漠即尋攢竹三間眼覓KT　KT　急取養老天柱觀其雀目汗氣睛明行間而細推審他項強傷寒溫溜期門而主治廉泉中衝舌下腫疼堪取天府合谷鼻中吐血宜追耳門絲竹空治牙疼而頃刻頰車地倉穴止口　於片時喉痛兮液門魚際去療轉筋兮金門丘墟來醫俠谿陽谷頷腫口噤並治少商曲澤血虛口渴同施通天去鼻內無之若復溜祛苦干口燥之悲啞門關衝舌緩不語而要緊天突間使失音囁嚅而休遲太衝瀉唇吻以速愈承漿泄牙疼而即移項強多惡風束骨相連於天柱熱病汗不出大都更接於經渠且如兩KT　頑麻少海就傍於三裡半身不遂陽陵遠達於曲池建裡內關掃盡胸中之苦悶聽會脾俞祛殘心下之悲淒久知脅肋疼痛氣戶華蓋有靈腹內腸鳴下脘陷谷能除胸脅肢滿何療章門不用細推膈疼飲蓄難禁　中臣闕便針胸滿更加噎塞中府意舍所行胸膈停留瘀血腎俞巨　宜征胸滿項強神藏璇璣已試皆連腰痛白環委中魯經脊強兮水道筋縮目眩兮顴　大迎　病非顱囟而不治愈臍風須然谷而易醒委陽天池腋腫針而速散後谿環跳腿疼刺而即輕夢魘不寧厲兌相諧於隱白發狂奔走上脘同起於神門驚悸怔忡取陽交解谿勿誤反張悲哭仗天沖大橫須精癲疾必身柱本神之令發熱仗少衝曲池之津歲熱時行陶道復求中俞理風癇常發神道須還心俞寧溫寒溫熱下　定厥寒厥熱涌泉清寒栗惡寒二間疏通陰　暗煩心嘔吐幽門開徹玉堂明行間涌泉主消渴之腎竭陰陵水分去水腫之臍盈癆瘵傳尸趨魄戶膏肓之路中邪霍亂尋陰谷三裡之程治疸消黃諧後谿勞宮而看倦言嗜臥往通天大鐘而明咳嗽連聲肺俞須明天突穴小便赤澀兌端獨泄太陽經刺長強與承山善主腸風新下血針三陰與氣海專司白濁久遺精且如肓俞橫骨泄五淋之久積陰　後谿治盜汗之長生脾虛穀以不消脾俞膀胱俞覓胃冷食而難化魂門胃俞堪求鼻痔必取齦交癭氣須求浮白大敦照海患寒症而善蠲五裡臂　主瘭瘡而能心至陰屋翳療遍身癢疾之疼多肩　陽谿消隱疹風斑之熱極抑又論婦人經事改常自有地機血海女子少氣漏血不無交信合陽帶下產崩衝門氣衝宜審月潮違限天樞水泉細詳肩井乳癰而極效商丘痔漏而最良脫肛趨百會尾翠之所無子搜陰交石關之鄉中脘主乎積痢外丘收乎大腸寒瘧兮商陽太谿驗　癖兮衝門血海強夫醫乃入之司非志士而莫為針乃理之玄征須人之指教必先究其病源而後攻其穴道隨手見功應針取效知玄理之玄始達妙中之妙此篇不盡略舉其要</p>
<h2>玉龍賦</h2>
<p>夫參博以為要轉簡而舍煩總玉龍以成賦信金針以獲安原夫率暴中風頂門百會香港腳連延裡交頭風鼻淵上星可用耳聾腮腫聽會偏高攢竹頭維治目疼頭痛乳根　府療嗽氣痰哮風市陰市驅腿腳之乏力陰陵陽陵除腿腫之難熬二白醫痔漏間使剿瘧疾大敦去疝氣膏肓補虛勞天井治瘰癮疹神門治呆痴笑跳咳嗽風痰太淵列缺宜刺　羸喘促璇璣氣海當知期門大敦治堅　疝氣勞宮太陵療心悶瘡痍心悸虛煩刺三裡時疫　瘧尋後谿絕骨三裡陰交香港腳宜灸睛明太陽魚尾目症憑茲老者尿多命門腎俞而著艾婦人乳腫少澤與太陽之可推身柱蠲嗽能除膂痛至陰卻疸善治神疲長強與承山灸痔最妙豐隆並肺俞痰嗽稱奇風門主傷胃寒邪之嗽天樞理感患脾泄之危風池絕骨而療乎樞倭人中曲池可治其委傴期門刺傷寒未解經不再傳鳩尾針癇顛已發慎其妄施陰交水分三裡蠱脹宜刺商丘解谿丘墟腳痛堪追尺澤理筋急之不幸脘骨療手足之難移肩脊痛於五樞兼於背縫肋攣痛兮尺澤合與曲池風濕搏於兩肩、　可療壅熱盛乎三焦關衝最宜手臂紅腫中渚液門要辨脾虛黃膽腕骨中腕何疑傷寒無汗攻復溜宜瀉傷寒有汗取合谷當隨欲調飽滿之氣逆三裡可勝要起六脈之沉匿復溜稱神照海支溝通大便之秘內庭臨泣理小腹之脂天突膻中醫喘嗽地倉頰車療口　迎香攻鼻窒為最肩井治臂痛如拿二間治牙疼中魁理番胃而即瘥百勞止虛汗通裡療心驚而不瘥大小骨空治眼爛能止冷淚左右太陽醫目痛善治血醫心俞腎俞治腰腎虛乏之夢遺人中委中治腰脊痛閃之難制太谿昆侖申脈最療足腫之　涌泉關元豐隆為治尸勞之例印堂治其驚搐神庭理乎頭風大陵人中頻泄口氣全際帶脈關元多灸腎敗堪攻腿腳重疼針髖骨膝眼行步艱禁刺三裡中封太衝取內關與照海醫腹疾之塊搐迎香與鼻內消眼熱之紅肚痛秘結太陵合外關與支溝腿風濕痛居　兼環跳與委中上脘中脘治久種之心疼赤帶白帶求中極之異同又若心虛熱壅少衝明於濟奪目昏血溢肝俞辨其虛實當心傳之玄要究手法之疾徐或值唑閃疼痛之不足此為難擬定穴之可祛輯管見以便瀆幸高明而無哂諸</p>
<h2>靈光賦</h2>
<p>黃帝岐伯針法決依他經裡分明說三陰三陽十二經更有兩經分八脈靈光典注極幽深偏正頭疼瀉列缺睛明治眼　肉攀耳聾氣痞聽會間兩鼻HT　衄針禾　鼻窒不聞迎香間治氣上壅足三裡天突宛中治喘痰心疼手顫針少海少澤應除心下寒兩足拘攣覓陰市五般腰痛委中安脾俞不動泄丘墟復溜治腫如仙醫犢鼻治療風邪痰住喘腳痛在仆（昆侖愈後頭痛）參求承山筋轉並久痔足掌下去尋涌泉此法千金莫妄傳此穴多治婦人疾男蠱女孕兩痛痊百會（鳩尾治）痢疾大小腸俞大小便氣海血海療五淋中脘下脘治腹堅傷寒過經期門穴氣刺兩乳求太淵大敦二穴主偏墜水溝間使治邪顛吐血定喘補尺澤地倉補止兩流涎勞宮醫得身勞倦水腫水分久即安五指不申中渚取頰車可針牙齒愈陰蹺陽蹺兩踝邊香港腳四穴先尋取陰陽陵泉亦主之陰蹺陽蹺與三裡諸穴一般治香港腳在腰玄機宜正取膏肓豈止治百病灸在玄切病須愈針灸一穴數病除學人尤宜加仔細悟得明師流注法頭目有病針四肢針有補瀉明呼吸穴應五形順四時悟得人身中造化此歌依舊縣筌蹄</p>
<h2>攔江賦</h2>
<p>擔截之中法數何有擔有截起沉　我今作此攔江賦何用三車五軸歌先將八法為定例流注之中分次第心胸之病內關擔臍下公孫用法擔頭部須逢尋列缺痰涎壅塞及咽乾噤口喉風針照海三棱出血刻時安眼目之症諸疾苦更用臨泣使針擔後谿專治督脈病癲狂此法治還輕申脈能除寒與熱頭風偏正及心驚耳鳴鼻衄胸中滿好用金針此穴尋但遇癢麻虛即補如逢疼痛瀉而迎更有傷寒真妙訣三陰須要朝陽經無汗更將合谷補復溜穴瀉好用針倘若汗多流不絕合谷補收效如神四日太陽宜細辨公孫照海一般行再用內關施截法七日期門可用針但治傷寒皆用瀉要知素問坦然明流注之中八造化常將水火土金平春夏井榮宜刺淺秋冬經合更宜深天地四時同此數三才常用記心胸天地人部次第入仍調各部一般勻夫弱婦強亦有克婦弱夫強亦有刑皆在本經擔與截瀉南補北亦須分經絡明時知造化不得師傳枉用心不遇至人應不授天寶豈可付非人按定氣血病患呼重搓數十把針扶戰提搖起向上使氣自流行病自無</p>
<h2>席弘賦</h2>
<p>凡欲行針須審穴要明補瀉迎隨訣胸背左右不相同呼吸陰陽男女別氣刺兩乳求太淵未應之時瀉列缺列缺頭疼及偏正重瀉太淵無不應耳聾氣痞聽會針迎香穴瀉效如神誰知天突治喉風虛喘須尋三裡中手連肩脊痛難忍合谷針時要太衝曲池兩手不如意合谷下針宜仔細心疼手顫少海間若要除根陰市安但患傷寒兩耳聾金門聽會疾如風五般肘痛尋尺澤太淵針後卻收功手足上下針三裡食癖氣塊憑此取鳩尾能治五般癇若下涌泉人不死胃中有積刺璇璣三裡功多人不知陰陵泉治心胸滿刺到承山飲食思大杼若連長強尋小腸氣痛即行針委中專治腰間痛腳膝腫時尋至陰氣滯腰疼不能立橫骨大都宜救急氣海專能治五淋更針三裡隨呼吸期門穴主傷寒患六日過經尤未汗但向乳根二肋間又治婦人生產難耳內蟬鳴腰欲折膝下明存三裡穴若能補瀉五會間切莫向人容易說睛明治眼未效時合谷光明安可缺人中治顛功最高十三鬼穴不須饒水鐘水分兼氣海皮內隨針氣自消冷嗽先宜補合谷卻須針泄三陰交牙疼腰痛並喉痹二間陽谿疾怎　更有三間腎俞妙善治肩背浮風勞若針肩井須三裡不測之時氣未調最是陽陵泉一穴膝間疼痛用針燒委中腰痛腳攣急取得其經血自調腳痛膝腫針三裡懸鐘二陵三陰交更向太衝須引氣指頭麻木自輕飄轉筋目眩針魚腹承山昆侖立便消肚疼須是公孫妙內關相應必然瘳冷風冷痹疾難愈環跳腰間針與燒風府風池尋得到傷寒百病一時消陽明二日尋風府嘔吐還須上脘高婦人心痛心隆穴男子　癖三裡高小便不禁關元好大便閉塞大敦燒脘骨腿痛三裡瀉復溜氣滯便離腰從來風府最難針　用工夫度淺深倘若膀胱氣未散更宜三裡穴中尋若是七疝小腹痛照海陰交曲泉針又不應時求氣海關元同瀉效如神小腸氣撮痛連臍速瀉陰交莫在遲良久涌泉針取氣此中玄妙少人知小兒脫肛患多時先灸百會次鳩尾久患傷寒肩背痛但針中渚得其宜肩上痛連臍不休手中三裡便須求下針麻重即須瀉得氣之時不用留腰連胯痛急必大便於三裡攻其隘下針一瀉三補之氣上攻噎只管在噎不住時氣海灸定瀉一時立便瘥補自卯南轉針高瀉從卯北莫辭勞逼針瀉氣令須吸右補隨呼氣自調左右捻針尋子午抽針行氣自迢迢用針補瀉分明說更用搜尋本與標咽喉是急先百會太衝氣海及陰交學者潛心須讀熟席弘治病最名高</p>
<h2>八法八穴歌‧西江月</h2>
<p>九種心疼涎悶結胸翻胃難停酒食積聚胃腸鳴水食氣疾膈病臍痛腹疼兼血脹腸風瘧疾心疼胎衣不下血迷心瀉瀉公孫立應中滿心胸痞脹腸鳴水瀉脫肛食難下膈酒來傷積塊堅橫脅搶奶女血痛心疼結胸裡急難當傷寒不解結胸堂瘧疾內關獨當手足中風不舉痛麻發熱拘攣頭風痛腫頂腮連眼腫赤疼頭於齒疼耳聾咽腫浮風瘙癢筋牽腿疼脅脹肋肢偏臨泣針時有驗肢節腫痛臂冷四肢不遂頭風背胯內外骨筋攻頭頂眉棱　痛手足熱麻盜汗破傷眼腫睛紅傷寒自汗表烘烘獨會外關為重手足急攣戰掉中風不語癇癲頭疼眼腫淚連連腿膝背腰痛遍項強傷寒不解牙齒腮腫紅咽手麻足破又傷牽盜汗後谿先砭腰背項疼腿腫思風自汗頭疼頭眩赤目痛眉棱手足麻攣臂冷吹乳耳聾鼻衄癇顛肢節煩憎遍身腫滿汗頭淋申脈先針有驗痔瘧便腫瀉利吐紅溺血咳痰牙疼喉腫小便難心胸股疼飲噎產後發強不語腰疼血疾臍寒列缺乳癰多散死胎不下膈中寒喉塞小便淋瀝膀胱氣痛腸鳴食黃酒積腹臍疼嘔泄胃番便緊難產昏迷積塊腸風下血常頻膈中決氣、痰侵照海有功議定　清江引青囊秘訣傳與爾恁君休浪費聲聲皆聖言句句咸神議不是妙人休潰與不是妙人休潰與</p>
<h2>十四經步穴歌</h2>
<p>太陰肺兮出中府云門之下一寸許云門氣戶旁二寸人迎之下二骨數天府腋下三寸求俠白肘上五後散脈學少商大指內側尋此穴若針疾減愈手陽明經屬大腸　食指內側起商陽　本節前取二間定本節後取三間強　岐骨陷中尋合谷　陽谿脘中上側詳　腕後三寸定偏歷　五寸之中溫溜當下廉上廉各一寸　上廉此下一寸方　屈肘曲中曲池得　池下二寸三裡場　肘　大骨外廉陷五裡肘下三寸量　臂　下一寸取　肩　肩端兩骨當　巨骨肩端人骨內　天鼎缺盆之上藏扶突曲頰下一寸　禾　五分水溝旁　鼻孔兩旁各五分　左右二穴皆迎香胃之經兮足陽明　頭維本神五寸尋　下關耳前動脈是　頰車耳下八分針　承泣目下七分四白一寸不可深　巨　孔旁八分定　地倉夾吻四分迎　大迎曲頰前二寸　人迎結旁大脈真水突在頸大筋下　直至氣舍上人迎　氣舍迎下夾天突　缺盆橫骨陷中親　氣戶俞府旁二寸至乳六寸又四分　庫房屋翳膺窗近　乳中正對乳中心　次有乳根出乳下　各一寸下不相侵穴夾幽門一寸五　是穴不容依法數　其下承滿至梁門　關門太乙從頭舉　節次續排滑肉門各各一寸為君數　天樞正在夾臍旁　外陵樞下一寸當　二寸大巨五水道　歸來七寸以尋將氣衝曲骨旁三寸　來下鼠上脈中央　髀關兔後六寸分　伏兔市上三寸強　陰市膝上三寸許梁丘二寸得其場　膝臏　下尋犢鼻　膝眼二穴分兩旁　膝下三寸求三裡　裡下三寸上廉地條口上廉下一寸　下廉條下一寸系　豐隆下廉外一寸　上踝八寸分明記　解谿衝陽後寸半衝陽陷上二寸系　陷谷內庭後寸半　內庭次指外間是　厲兌大指次指端　去爪如韭胃所起拇指內側隱白位　大都節後陷中起　太白核骨下陷中　公孫節後一寸止　商丘有穴屬經金踝下微前陷中是　內踝三寸三陰交　漏谷六寸有次第　膝下五寸為地機　陰陵內側膝輔際血海分明膝臏上　內廉肉際二寸地　箕門血海上六寸　筋間動脈須詳諦　衝門五寸大橫下三寸三分尋府舍　腹結橫下寸三分　大橫夾臍非比假　腹哀寸半去日月　直與食竇相連並食竇天溪及胞鄉　周榮各一寸六者　大包淵液下三寸　出九筋間當記也少陰心起極泉中　腋下筋間脈入胸　青靈肘節上三寸　少海肘內節後容　靈道掌後一寸半手小指端為少澤　前谷外側節前索　節後陷中尋後谿　腕骨陷前看外側　脘中骨下陽谷討天宗骨下有陷中　秉風　後舉有空　曲垣肩中曲胛裡　外俞胛後一寸從　肩中二寸大杼旁天窗頰下動脈詳　天容耳下曲頰後　顴　面頰銳揣詳　聽耳宮端大如菽　此一為經手太陽足太陽兮膀胱經　目　內角始睛明　眉頭陷中攢竹名　曲差二穴神庭伴　五處挨排夾上星承光五處後寸半　通天絡卻一停勻　玉枕橫夾於腦戶　尺寸當準銅人經　天柱夾頂後發際大筋外廉陷中是　夾脊相去寸五分　第一大杼二風門　肺俞三椎厥陰四　心　五椎之下論督膈俞相梯級　第六第七次第立　第八椎下穴無有　肝俞數椎當第九　十椎膽俞脾十一十二椎下胃俞取　三焦腎俞氣海俞　十三十四十五究　大腸關元俞安量　十六十七椎兩旁十八椎下小腸俞　十九椎下尋膀胱　中膂內俞椎二十　白環二十一椎當　上　下　中與下一空二空夾腰胯　並同夾脊四個　載在千金君勿訝　會陽陰尾兩旁分　尺寸須看督脈云第二椎下外附分　夾脊相去古法論　先從脊後量三寸　不是灸狹能傷筋　魄戶三椎膏肓四四五三分分明是　第五椎下索神堂　第六　外可睹　膈關第七魂門九　陽綱意舍十十一胃倉肓門屈指彈　椎看十二與十三　志室次之為十四　胞肓十九合參詳　秩邊二十椎下詳承扶臀陰紋中央　殷門承扶六寸直　浮　一寸上委陽　委陽卻與殷門並　中外廉兩筋鄉委中膝　約紋裡　此下三寸尋合陽　承筋　腸中央是　承山　下分肉旁　飛揚外踝上七寸附陽踝上三寸量　金門正在外踝下　昆侖踝後跟骨中　仆參跟骨下陷是　申脈分明踝下容京骨外側大骨下　束骨本節後陷中　通谷本節前陷取　至陰小指外側逢腎經起處有其所　涌泉屈足卷指取　然谷踝前大骨下　踝後跟上太谿府　溪下五分尋大鐘水泉溪下一寸許　照海踝下陰蹺生　踝上二寸復溜名　溜前筋骨取交信　亦曰踝上二寸行築賓六寸　分處　陰谷膝下著骨輔　橫骨有陷如仰月　大赫氣穴四滿據　中注肓俞正夾臍六穴五寸各一數　商曲後關上陰都　通谷幽門一寸居　幽門半寸夾巨闕　步廊神封過靈墟神藏　中入　府　各一寸六不差殊　欲知俞府幾何分　璇璣之旁各二寸　厥陰心包何處得乳後一寸天池索　天泉腋下二寸求　曲澤內紋尋動脈　門去腕五寸通　間使腕後三寸逢內關去腕才二寸　大陵掌後兩筋中　勞宮掌中屈指取　中指之末取中衝三焦名指外關衝　小次指間名液門　中渚次指本節後　陽池表腕上陷存　腕上二寸外關絡四續骨外並三陽　天井肘上一寸側　肘上二寸清冷淵　消濼臂外肘分索　會肩頭三寸中肩肩端　上通　天　盆上毖骨際　天牖旁頸後天容　翳風耳後尖骨陷　脈耳後雞足逢顱囟耳後青絡脈　角孫耳角間有空　絲竹眉頭陷中看　禾耳前兌發同　耳門耳殊當耳缺此穴禁針分明說少陽童　起目外　耳前陷中尋聽會　上關耳前開口空　頷厭腦空上廉揣　懸顱正在曲角端懸厘腦空下廉看　曲鬢偃耳正尖上　率谷曲鬢半寸安　本神耳上入發際　四分平橫向前是曲差之旁各一寸　陽白眉上一寸記　臨泣有穴當兩目　直入發際五分屬　目窗正宮各一寸承靈正後寸五錄　天沖耳上二寸居　浮白發際一寸符　竅陰枕下動有空　脘骨耳後四分通腦空正夾玉枕骨　風池後發際陷中　肩井大骨前寸半　淵液脈下三寸按　輟筋平前卻一寸日月京門二寸半　直下五分細求之　京門監骨腰間看　帶脈季脅寸八分　五樞帶下三寸間維道五寸三分得　居　八寸三分尋　脅堂腋下看二肋　環跳脾樞宛宛論　兩手著腿風市謀膝上五寸中瀆搜　陽關陽陵上三寸　陽陵膝下一寸求　陽交外踝針七寸　踝上七寸尋外丘光明除踝上五寸　陽輔踝上四寸收　懸鐘三寸看絕骨　丘墟踝前陷中出　臨泣寸半後俠谿五會一寸久早卒　俠谿小次岐骨間　竅陰足小次指端　大敦拇指看毛聚　行門逢尖動脈處節後有絡亙五位　太衝之脈堪承據　中封正在內踝前　蠡溝踝上五寸注　中都正在復溜宮陰陵膝尖兩折中　膝關犢鼻下二寸　曲泉紋頭兩筋逢　陰包四寸膝臏上　內廉筋間索其當五裡氣衝四寸半　直下三寸陰股內　羊矢兩裡三分下　陰廉膝下橫紋胯　羊矢氣衝旁一寸分明有穴君可問　章門臍上二寸量　橫取八寸開兩旁　期門乳旁各一寸　直下二寸兩肋詳會陰正在兩陰間　曲骨臍下毛際安　中極臍下四寸取　三寸關元二石門　氣海臍下一寸交臍下一寸論　分明臍內號神闕　水分一寸復上列　下腕建裡中上腕　各各一寸為君說　巨闕上腕上寸半　鳩尾蔽骨五分按　中庭膻中寸六分　膻中兩乳中間看　玉堂紫宮及華蓋　相去各寸六分算　華蓋機下一寸量　璇璣突下一寸當　天突結下宛宛取　廉泉頷下骨尖旁　承漿頤前唇棱下　任脈之部宜審詳督脈齦交唇縫鄉　兌端正在舌中央　水溝鼻下溝內索　素　宜向鼻端詳　頭形北高面南下上至前頂一寸半　寸半百會居中央　神聰百會四面取　各開一寸風癇主　後項強間腦戶三相去各是一寸五　後發五分定啞門　門上五分是風府　上有大椎下尾胝　分為二十有一椎古來自有拆量法　靈樞凜凜不可欺　九寸八分分之七　二之七節如是椎　大椎第一節上是第二節下陶道知　身柱第三椎節下　神道第五無足疑　靈台第六至陽七　筋縮第九之下思脊中懸樞命門穴　十一十三十四節　陽關鎮住十六椎　二十一下腰俞窺　其下長強伏地取此穴針之去痔根</p>
<h2>十四經周身歌</h2>
<p>手中太陰肺經先　中府云門天府寒　俠白尺澤孔最便　列缺經渠太淵泉　魚際少商十一穴寄與醫人仔細看手中陽明大腸經　商陽二門三門明　合谷陽谿偏歷遍　溫溜下廉上廉清　三裡曲池肘五裡臂　肩　遇　巨骨天鼎扶突來　禾　迎香從此住　足中陽明是胃經　頭維下關頰車奔承泣四白巨　順　地倉大迎人迎吞　水突氣舍缺盆接　氣戶庫房屋翳論　膺窗乳中乳根近不容承滿梁門分　關門太乙滑肉門　天樞外陳大巨陳　水道歸來氣衝接　髀關伏兔陰市詢梁丘犢鼻三裡近　上巨虛兮條口因　下巨虛兮豐隆位　解谿衝陽陷谷親　內庭厲兌胃經盡穴名次取湊成文足中太陰脾經篇　隱白大都太白仙　公孫商丘三陰交　漏谷地機陰陵泉　血海期門衝門近府舍腹結大橫連　腹哀食竇天溪去　胸鄉周榮大包全　手中少陰起心經　極泉青靈少海通靈道通裡殷　往　神門少府少衝終　手中太陽小腸經　少澤前谷後谿迎　腕骨陽谷養老穴支正少海肩真靈　俞天宗穴之正　秉風曲垣穴之聽　肩外俞與肩中俞　天窗天容顴　稱聽宮過了腸經完　三十八穴銅人定手中太陽膀胱經　睛明攢竹曲差行　五處承光通天近　絡卻玉枕天柱逢　大杼風門肺俞是膀胱俞中膂內俞　白環俞與上　俞　次　中　與下　會陽附分魄門高　膏肓神堂　承膈關魂門陽岡迎　意舍胃倉肓門接　志室胞肓秩邊清　承扶殷門浮　去　委陽委中合陽明承筋承山飛揚急　附陽金門昆侖輕　仆參申脈京骨動　束骨通谷至陰平　足中少陰腎中起涌泉然谷太谿理　大鐘照海水泉流　復溜交信築賓喜　陰谷橫骨大赫光　氣穴四滿中注長肓俞商曲石關遠　陰都通谷幽門涼　步廊神封靈虛堂　神藏域中俞府鄉手中厥陰心胞經　天池天泉曲澤停　門間使內關往　太陵勞宮中衝平　手中少陽是三焦關衝液門中渚朝　陽池外關支溝引　會宗三陽絡四瀆　天井清冷淵消濼　會肩　天　各天牖翳風　脈連　顱囟攢竹空自度　角孫禾　耳門中　四十六穴都無錯足中少陽膽經最　童子　兮多聽會　客主人兮頷厭端　懸顱懸厘曲鬢　率谷天沖浮白伴竅陰腕骨本神歡　陽白臨泣目窗管　正營承靈腦空瞞　風池肩井輟筋間　日月京門帶脈安五樞維道兼居　環跳風市中瀆閑　陽關陽陵泉陽交　外丘光明陽附討　懸鐘丘墟地五會俠谿竅陰膽經了　足中厥陰肝經是　大敦行間太衝始　中封蠡溝中都傳　膝關曲泉陰包絡五裡陰廉至羊矢　章門直到期門止任脈陰海循腹胸　會陰曲骨中極從　關元石門氣海穴　復交神闕水分宮　下腕建裡中腕上脘巨闕鳩尾逢　中庭膻中玉堂去　紫宮華蓋璇璣通　天突廉泉承漿動　二十四穴任脈終督脈陽綱行背中　齦交兌端水溝中　素　神庭上星位　囟會前頂百會崇　後頂強間腦戶風府啞門大椎通　陶道身柱神道大　靈台至陽筋縮空　脊中懸樞命門穴　陽關腰俞長強終</p>
<h2>十二經脈歌</h2>
<p>手太陰肺中焦主　下絡大腸出賁門　上膈屬肺沿肺系　系橫出腋　中行　肘臂寸口上魚際大指內側爪甲根　支絡還沿腕內出　接次指屬陽明經　此經多氣而少血　是動則病喘咳發肺脹臌臌缺盆痛　兩手交瞀為臂厥　所生病者為氣咳　喘渴煩心胸滿結　臂之外前廉痛小便頻數掌中熱　氣虛肩皆痛而寒　氣盛亦疼風汗出　欠伸少氣不足息　遺失無度溺色赤陽明之脈手大腸　次指內側起商陽　循指上廉出合谷　兩筋岐骨循臂　八肘外廉循　外肩端前廉柱骨旁　從肩下入缺盆內　絡肺下膈屬大腸　支從缺盆直上頸　斜貫頰前下齒當環出人中交左右　上俠鼻孔注迎香　此經氣盛血亦盛　是動頸腫並齒痛　所生病者為鼻衄目黃口乾喉痹生　大指次指難為用　肩前　外痛相仍　氣有餘兮脈熱　虛則寒　病偏增胃足陽明交鼻起　下循鼻外下入齒　環出俠口繞仍漿　頤後大迎頰車裡　耳前發際至額顱支下人迎缺盆底　下膈入胃絡脾宮　直者缺盆下乳內　一支幽門循腹裡　下行直合氣衝中遂由髀關抵膝臏　HT　中指內關同　一支下膝注三裡　別出中指外關通　一支別走足跗指大指之端經盡矣　此經多氣復多血　是動欠伸面顏黑　淒淒惡寒畏見人　忽聞木聲心驚惕登高而歌棄衣走　甚則腹脹仍賁響　凡此諸疾皆　厥　所生病者為狂瘧　濕溫汗出鼻流血口唇裂又喉痹　膝臏疼痛腹脹結　氣膺伏兔　外廉　足跗中指俱痛徹　有餘消穀溺色黃不是身前寒振栗　胃房脹滿食不消　氣盛身前皆有熱太陰脾起足大指　上循內側白肉際　核骨之後內踝前　上　循　脛膝裡　股肉前廉入腹中屬脾絡胃與膈通　俠喉連舌散舌下　支絡從胃注心宮　此經氣盛而血衰　是動其病氣所為食下即吐胃腕痛　更兼身體痛難移　腹脹善噫舌本強　所生病者舌無痛　體重不食亦如之煩心心下仍急痛　泄水溏瘕寒瘧隨　不臥強立股膝腫　疸發身黃大指痿手少陰經起心中　下膈直與小腸通　支者還從肺系走　直上咽喉系目瞳　直者上肺出腋下　後肘內少海從　臂內後廉抵掌中　銳骨之端注少衝　多氣少血屬此經　是動心疲痛難忍渴欲飲水咽乾燥　所生脅痛目如金　脅臂之內後廉痛　掌中有熱向經尋手太陽經小腸脈　小指之端起少澤　循乎外廉出踝中　循臂骨出肘內側　上循　外出後廉直過肩解繞肩甲　交肩下入缺盆內　向液絡心循咽嗌　下膈抵胃屬小腸　一支缺盆貫頸頰至目銳　卻入耳　復沿耳前仍上頰　抵鼻外至目內　斜絡與顴別絡接　此經少氣還多血是動則病痛咽嗌　頷下腫兮不可顧　肩如拔兮　如折　所生病主肩　痛　耳聾目黃腫腮頰肘臂之外後廉痛　部分猶當細分別足經太陽膀胱脈　目內皆上起額尖　支者巔上至耳角　直者從巔腦後懸　絡腦環出別下項仍循肩膊夾脊邊　抵腰膂腎膀胱內　一支下與溲陰連　貫臀斜入委中穴　一支膊內左右別大脾夾脊過脾樞　臂內後廉　中合　下貫　內外踝後　京骨之下指外側　此經血多氣又少是動頭疼不可當　項如拔兮腰似折　髀強痛徹脊中央　如結兮　如裂　是為踝厥筋乃傷所生瘧痔小指廢　頭囟頂痛目色黃　腰尻　腳疼連背　淚流鼻衄及顛狂　足經腎脈屬少陰小指斜趨涌泉心　然谷之下內踝後　別入跟中　內侵　出　內廉上股內　貫脊屬腎膀胱臨直者屬腎貫肝膈　入肺循喉舌本尋　支者從肺絡心內　仍至胸中部分深　此經多氣而少血是動病機不欲食　喘嗽吐血喉中鳴　坐而欲起面如垢　目視KT　KT　氣不足　心懸如飢常惕惕所生病者為舌乾　口熱咽痛氣賁逼　股內後廉並脊疼　心腸煩痛疽而癖　痿厥嗜臥體怠惰足下熱痛皆腎厥手厥陰心主起胸　屬包下膈三焦宮　支者循胸出脅下　脅下連腋三寸同　仍上抵腋循內太陰少陰兩經中　指透中衝支者別　小指次指絡相通　包絡少氣原多血　是動則病手中熱肘臂攣急腋下腫　甚則胞脅支滿結　心中淡淡或大動　善哭目黃面赤色　所生病者為煩心心痛掌熱病之則　手經少陽三焦脈　起自小指次指濡　兩指岐骨手腕表　上出臂外兩骨間肘後　外循肩上　少陽之後交別傳　下入缺盆膻中分　散絡心包鬲裡穿　支者膻中缺盆上上項耳後耳角旋　屈下注頤仍注頰　一支出耳入耳前　去從上關交曲頰　至目內　乃盡焉三焦少氣還多血　是動耳鳴喉腫痹　所生病者汗自出　耳後痛兼目銳　肩　肘臂盡皆疼小指次指亦如廢　足脈少陽膽之經　始從兩目銳　生　抵頭循角下耳後　腦空風池次第行手少陽前至肩上　交少陽右上缺盆　支者耳後貫耳內　出走耳前銳　循　一支銳　大迎下合手少陽底項根　下加頰車缺盆合　入胸貫鬲絡肝經　屬膽仍從脅裡過　下入氣衝毛際榮橫入髀厭環跳內　直者缺盆下腋膺　過季脅下髀厭內　出膝外廉是陽陵　外輔絕骨踝前過足跗小指次指分　一支別從大指去　三毛之際接肝經　膽經多氣而少血　是動口苦善太息心脅疼痛難轉移　面塵足熱體無澤　所生頭痛連銳　缺盆腫痛並兩腋　馬刀挾癭生兩旁汗出振寒咳瘧疾　胸脅髀膝至　骨　絕骨踝痛及諸節　厥陰足脈肝所終　大指之端毛際叢足跗上廉太衝分　踝前一寸入中封　上踝交出太陰後　循　內廉陰股兌　環繞陰氣抵小腹夾胃屬肝絡膽逢　上貫鬲裡布胸肋　頰喉項顙目系同　脈上巔會腎脈出　支者還生目系中下絡頰裡環唇內　支者便從膈肺通　此經血多氣少焉　是動腰疼俯仰難　男疝女人小腹腫面塵脫色及咽乾　所生病者為胸滿　嘔吐動泄小便難　或時遺溺並狐疝　臨症還須仔細看</p>
<h2>十五絡脈歌</h2>
<p>人身絡脈十有五　我今逐一從頭數　手太陰絡為列缺　手少陰絡為通裡　手厥陰絡為內關手太陽絡支正是　手陽明絡偏歷當　手少陽絡外關位　足太陽絡號飛揚　足陽明絡豐隆系足少陽絡是光明　足太陰絡公孫寄　足少陰絡為大鐘　足厥陰絡蠡溝配　陽督之絡稱長強陰任之絡號屏醫　脾之大絡大包是　十五絡穴君須記</p>
<h2>千金十一穴歌</h2>
<p>三裡內庭穴肚腹中妙訣曲池與合谷頭疼痛可徹腰背痛相連委中昆侖穴胞項如有痛後谿並列缺環跳與陽陵膝前兼腋脅可補即留久當瀉即疏泄三百六十名十一千金穴</p>
<h2>孫思邈十三鬼穴歌</h2>
<p>百邪顛狂所為病針有十三穴須認凡針之體先鬼宮次針鬼信無不應一一從頭逐一求男從左起女從右一針人中鬼宮停左邊下針右出針第二手大指甲下名鬼信刺三分深三針足大指甲下名曰鬼壘入二分四針掌後太陵穴八寸五分名鬼心五針申脈名鬼路火針三下七　第六卻尋大杼上入發一寸名鬼枕七刺耳垂下五分名曰鬼狀針要溫八針承漿名鬼市從左出右君須記九針間使鬼路上十針上星名鬼堂十一陰下縫三壯女玉門頭名鬼藏十二曲池為鬼哭火針仍要七　十三舌頭當舌中此穴須名是鬼封手足兩邊相對刺若逢孤穴只單通此是先師真妙訣猖狂惡鬼走無蹤</p>
<h2>長葉君天星秘訣歌</h2>
<p>天星秘訣少人知此法專分前後施若是胃中停宿食後尋三裡起璇璣脾病血氣先合谷後刺三陰交莫遲如中鬼邪先間使手臂攣痹取肩　腳若轉筋並眼花先針仍山次內踝香港腳酸疼肩井先次尋三裡陽陵泉如使小腸連臍痛先次陰陵後涌泉耳鳴腰痛先五會次針耳門三裡內小腸氣痛先長強後針大敦不要忙足緩難行先絕骨次尋條口及衝陽牙疼頭痛兼喉痹先刺二間後三裡胸膈痞滿先陰交針到承山飲食喜肚腹浮腫脹膨膨先針水分泄建裡傷寒過經不出汗期門通裡先後看寒瘧面腫及腸鳴先取合谷後內庭冷風濕痹針何處先取環跳次陽陵指痛攣急少商好依法施之無不靈</p>
<h2>馬丹陽天星十二穴歌</h2>
<p>三裡足膝下三寸兩筋間能除心腹痛善治胃中寒腸鳴並聚積中滿腳筋疼傷寒羸瘦弱氣蠱治諸般人過三旬後針灸眼重觀取穴舉足取去病不為難內庭足指內胃腕屬陽明善療四肢厥喜靜惡聞聲耳內鳴喉痛數欠及牙疼瘧疾不思食針後便曲池曲肘裡曲骨陷中求能治肘中痛偏風半不收喉閉促欲死發熱更無休遍身風迄運針後即合谷在虎口兩指岐骨間頭疼並面腫瘧疾熱還寒體熱身出汗目暗視朧　牙疼並鼻衄口噤更難言針入看深淺令人病自安委中曲　裡動脈正中央腰重不能舉沉沉腳脊梁風癇及筋轉熱病不能當膝頭難伸屈針入即承山在魚腹　腸分內間善理腰疼痛痔疾大便難香港腳足下腫兩足盡寒酸瘧亂轉筋急穴中刺太衝足大指節後二寸中動脈知生死能醫驚癇風咽喉並心脹兩足不能行七疝偏墜腫眼目似云朦兼能療腰痛針下有神功昆侖足外踝後跟微脈尋膊重腰脊痛陽踝更連陰頭疼脊背急暴喘滿中心踏地行不得須尋此環跳在足痹側臥不足舒上足屈乃得針能廢HT　軀冷風並冷痹身體似繩拘腿重喘痛甚此穴最陽陵泉膝下外廉一寸中膝腫並麻木起坐　腰背重面腫胸脅滿冷痹與偏風努力坐不得起臥似衰翁針入五分後神功實不同。</p>
<p>通裡腕骨後掌後一寸中欲言說不出懊惱及怔忡實則四肢重頭腮面頰紅平聲仍欠數喉閉氣難通虛則不能食暴喑面無容金針微微刺方信有神功列缺腕側上監指手交叉專療偏頭患偏風肘木麻痰涎頻壅上口噤不開牙若能明此理應手疾</p>
<h2>秋夫療鬼十三穴歌</h2>
<p>人中神庭風府始舌縫承漿夾車班少商太陵間使連乳中陽陵泉有據隱白行間不可瘥十三穴</p>
<h2>回陽九針歌</h2>
<p>啞門勞宮三陵交涌泉太谿中腕接環跳三裡合谷並此是回陽九針穴</p>
<h2>奇門經八脈歌</h2>
<p>督脈起自下極俞並於脊裡上風府過腦額鼻入齦交為陽脈海多綱要任脈起於中極淺上腹循喉承漿裡陰脈之海任所為衝脈出胞至胸止從腹會咽絡口唇女人成經為血室脈並少陰之腎經與任督本於陰會三脈並起而異行　陽蹺起足之跟裡循外踝上入風池　陰蹺內踝循喉嗌本足陰陽脈別支　諸陰交起陰維穴發足少陰築賓　諸陽會起陽維脈太陽之　金門是　帶脈周回季脅間會於維道足少陽所謂奇經之八脈維系諸經乃順常</p>
<h2>八脈交會八穴歌</h2>
<p>公孫衝脈會心胸內關陰維下總同臨泣膽經連帶脈陽維目銳外關逢後谿督內連背頸申脈陽蹺絡亦通列缺肺任行脈系陰蹺照海鬲喉嚨</p>
<h2>八穴相所合歌</h2>
<p>公孫偏與內關合列缺能消照海　臨泣外關分主客後谿申脈止相和左針右病知高下以意通經廣按摩補瀉迎隨分逆順五形八法是真科</p>
<h2>十二經本一脈歌</h2>
<p>中焦肺起脈之宗出手大指之端沖大腸即起手次指上行環口交鼻裡胃經原又下鼻交出足大指之端毛脾脈就起指端上注於心中少陰向心經中之入掌循手內端出小指行小腸從手小指起上斜絡肝目內　膀胱經從目內生至足小指外側行腎脈動於小指下起注胸中過腹胯心胞出處又連胸循手小指次指中三焦起次指側環走耳前目銳息膽家接生目　旁走足大指三毛上足肝就起三毛際注入肺中循不已</p>
<h2>十二經穴起止歌</h2>
<p>手肺少商中府起大腸商陽迎香二足胃厲兌頭維三脾部隱白大包四膀胱睛明至陰間腎經涌泉俞府位心包中衝天池隨三焦關衝耳門繼膽家竅陰童子　厥肝大敦期門已手心少衝極泉來小腸少澤聽宮去</p>
<h2>八會穴歌</h2>
<p>府會中腕藏章門筋會陽陵髓絕骨骨會大杼風膻中血會膈俞太淵脈</p>
<h2>七募穴歌</h2>
<p>肝募期門脾章門腎募京門心巨闕天樞關元大小腸膽募當記在日月</p>
<h2>四總穴歌</h2>
<p>肚腹三裡澀　腰背委中求　頭項尋列缺　面口合谷收</p>
<h2>十二經納天干歌</h2>
<p>甲膽乙肝丙小腸丁心戊胃己脾鄉庚屬大腸辛屬肺壬屬膀胱癸腎臟三焦亦向壬中寄包絡同歸入癸方</p>
<h2>十二經納地支晝夜流注歌</h2>
<p>肺寅大卯胃辰經脾巳心午小未中申旁酉屬心包戌亥三子膽丑肝通</p>
<h2>血忌歌</h2>
<p>行針須要明血忌正丑三寅二之未四甲五卯六酉宮七辰八戌九居巳十亥十一日午當臘子更口逢目閉</p>
<h2>年尻神歌</h2>
<p>一踝二牙　三頭乳口間四肩尾尻骨五背面耳難六在手膊上七當腰項前八須防膝肋九肘腳HT　連</p>
<h2>月尻神歌</h2>
<p>一足鼻柱手小指二踝發際外踝位三股牙齒足及肝四腰胃腕陽明手五口遍身足陽明六掌胸前又在胸七內踝連氣衝膝八腕股內及陰中九尻在足膝脛後十背內踝足跗中</p>
<h2>十二經原穴歌</h2>
<p>甲出丘墟乙太衝丙居腕骨是原中丁出神門原內過戊胃衝陽氣可通己出太白庚合谷辛原本出太淵同壬歸京骨期中過癸出太谿原穴逢三焦壬是陽池穴包絡太陵癸又重</p>
<h2>腳不過膝手不過肘</h2>
<p>陽日陽時氣在前血在後兮脈在邊陰日陰時血在前氣在後兮脈在原陽日陽時針左轉先取陽經府病看陰日陰時針右轉行屬陰經臟腑痊</p>
<h2>榮衛所生歌</h2>
<p>上焦如霧中焦露穀入於經胃脈分氣血周流行上下陰陽宗氣此中明</p>
<h2>行針指要歌</h2>
<p>或針風須向風門氣海中或針水水分夾臍臍邊取或針結針著大腸泄水穴或針勞須向風門及肓膏或針虛氣海丹田委中奇或針氣膻中一穴分明記或針嗽肺俞風門須用灸或針痰先針中腕三裡間或針吐中腕氣海膻中補翻胃吐食一般針針中有妙人知少</p>
<h2>禁針穴歌</h2>
<p>禁針穴道要先明腦戶總會及神庭絡卻玉枕角孫穴顱囟承泣隨承靈神道靈台膻中忌水分神闕並會陰橫骨氣衝手五裡箕門承筋並青靈更加臂上三陽絡二十二穴不可針孕婦不宜針合谷三陽交內亦通論石門針灸應須忌女子終身無妊娠外有云門鳩尾列缺主客人莫深肩井深時人悶倒三裡急補人還平</p>
<h2>禁灸穴歌</h2>
<p>禁灸穴道四十五承光啞門及風府天柱素　臨泣上睛明攢竹迎香數禾　顴　絲竹空頭維下關並脊中肩貞心俞白環俞天牖人迎共乳中周榮淵腋並鳩尾腹哀少商魚際位經渠天府及中衝陽關陽池地五會隱白漏谷陰陵泉條口犢鼻兼陰市伏兔髀關委中穴殷門申脈承扶忌</p>
<h2>六十六穴流注歌</h2>
<p>少商魚際與太淵經渠尺澤肺相連商陽二三間合谷陽谿曲池大腸原厲兌內庭陷谷胃衝陽解谿三裡隨隱白大都太白脾商丘陰陵泉要知少衝少府屬於心神門靈道少海尋少澤前谷後谿腕陽谷小海小腸經至陰通谷來京骨昆侖委中足膀胱涌泉然谷太谿穴復溜陰谷腎之詳中衝勞宮心包絡太陵間使曲澤傳關衝液門並中渚陽池支溝天井原竅陰俠谿臨泣膽丘墟陽輔陽陵泉大敦行間大衝看中封曲泉屬於肝</p>
<h2>子午流注逐日按時定穴歌</h2>
<p>甲時竅陰前陷谷丘墟陽陵溪委中續巳合隱白魚際連太谿中衝少海屬乙時大敦少府始太白經渠陰谷止庚合商陽與通谷臨泣合陽谷三裡丙時少澤內庭三腕骨昆侖陽陵泉辛穀少商然谷穴太衝靈道陰陵泉丁時少衝大都先太淵復溜並曲泉壬合至陰俠後谿京骨解谿曲池邊戌時厲兌二束骨衝陽、輔小海入癸合涌泉行間濱神門商丘兼尺澤陽干關衝液門靜中渚陽池支溝井陰乾中衝勞宮前太陵間使曲澤並</p>
<h2>雜病十一穴歌</h2>
<p>攢竹絲竹主頭疼偏正皆宜向此針更去大都除瀉動風池刺入三分深曲池合谷先針瀉永與除病不侵　頭風頭痛與牙疼合谷三間兩穴尋更向大都　針眼痛太淵穴內用針行牙疼三分針呂細依前指要更分明更推大都左之右交互相迎仔細行　聽會兼之與聽宮七分針瀉耳中聾耳門人瀉三分許更加七壯灸聽宮大腸經內將針瀉曲池合谷七分中醫者若是明此理針下之時就見功肩背並及肩膊疼曲池合谷七分深未愈尺澤加一寸更於三間次第行各入七分與穴內少風二府念心經咽喉之下至於臍胃腕之中百病危心氣痛時胸結梗傷寒嘔噦悶涎隨列缺下針三分許三分針瀉到風池手足三間並三裡中衝再刺五分依汗出頻來刺腕骨五分針瀉要君知　魚際經渠並通裡一分針瀉汗淋漓足指三間及三裡大指各刺五分宜人汗至時通變體有人明此是良醫　四肢無力中邪風眼澀難開百病攻精神昏倦多不語風池合谷用針通兩手三間隨後瀉三裡兼之與太衝各入五分於穴內迎隨得法有神功　風池手足指諸間右瘓偏風左曰癱各刺五分隨後泄更灸七壯便身安三裡陰交行氣瀉一寸三分量病看每穴又加三七壯自然癱瘓即時安　瘧疾將針刺曲池經渠合谷共相宜五分針刺於二穴瘧病纏身便得離未愈更加三間刺五分深刺莫憂疑更兼氣痛增寒熱間使行針莫用遲　腿胯腰疼痞氣攻髖骨穴內七分容更針風市兼三裡一寸三分補瀉同又法陰交泄一寸行間仍刺五分中剛柔進退隨呼吸去病除　捻指功　肘膝疼時刺曲池進針一寸是相宜左病針右右針左依此三分瀉氣奇膝痛三分針犢鼻三裡陰交要七次但能仔細尋其理除病之功在片時</p>
<h2>補瀉雪心歌</h2>
<p>行針補瀉分寒熱瀉寒補熱須分別捻指向外瀉之方捻指向內補之訣瀉左須將大指前瀉後大指當後拽補左大指向前搓補右大指往下拽如何補瀉有兩般蓋是經絡兩邊發補瀉又要識迎隨隨則為補迎為瀉古人補瀉左右分今人乃為男女別男女經脈一般生晝夜循環無暫歇兩手陽經上走頭陰經胞走手指輒兩足陽經頭走足陰經足走腹中結隨則針頭隨經行迎則針頭迎經奪更有補瀉定呼吸吸瀉呼補真奇絕補則呼出卻入針要知針用三飛法氣至出針吸氣入疾而一退急捫穴瀉則吸出方入針要知血氣通身達氣至出針呼氣出徐而三退穴開捺此訣出在梓桑君我今授汝心已雪正是補瀉玄中玄莫向人前容易說</p>
<h2>周身血氣歌</h2>
<p>人身血氣無暫息動靜周流在呼吸呼行三寸吸亦然一息定行六寸脈二百七十息數來脈行六十丈二尺積此周身一度過補瀉分明知滑澀試問一時吸幾何千一百二甘五的脈行六十七丈五四度周身尚余刻更將余刻為君明四十五息二丈七晝夜循環息幾何一萬三千兼五百脈行八百一十丈度行五百周身畢此是平人血氣歌遲寒數熱難同則</p>
<h2>生成歌</h2>
<p>天一生水地六成地二生火天七成天三生木地八成地四生金天九成天五生土地十成　此何圖五形生成之數一三五七九者奇也屬之天二四六八十者偶也屬之地一二三四五六七八九十者數何以能生出五形未蓋自天地開辟之後落下便有水此天一地六所生成也如父母生子頭生男女第行曰一故曰一六也第二胎生男女第行曰二是二七生火余皆如此曰生成生此如父之資始曰成始如母之胎育也</p>
<p>假令甲日膽為井竅陰始起戌上頭丙子小腸前谷住寅時陷谷胃經游本原過唇丘墟穴陽谿辰上大腸流委中壬午膀胱注甲申三焦關衝求　乙日肝家原出井酉時初起大敦行丁亥心經流少府己丑脾經太白生辛卯肺行經渠上癸己陰谷腎之經要知血納包絡處己未流注中衝迎　丙日小腸何處起丙申位上少澤當戊戌內庭流胃胱庚子三間注大腸子上腕骨原過處昆侖寅上屬膀胱膽家甲辰陰陵位丙午三焦氣納鄉　丁日心家出井中丁未之時過少衝己酉大都脾上位肺行辛亥太淵從癸丑腎居復溜位曲泉卯乙注肝宮丁己流於包絡上厥陰心主起中衝　戊日胃井卻如何戊午先從廉兌過庚申二間是膀胱束骨戌無瘥取過為原衝陽位甲子膽經陽輔HT　丙寅小海小腸合三焦氣納戊辰多　己日脾家井要知隱白己己起根基辛未肺經注魚際癸酉腎經是太谿肝經己亥中封穴丑時少海在心移己亥心包定無異陰陽消息要躊躇　庚日大腸向井求商陽辰土起為頭壬午膀胱流通看甲申臨泣膽中游若問其原是合谷丙戌陽谷小腸流戊子三裡胃為合寅時三焦更未休辛日肺井何處輪少商辛卯最分明癸己腎經然谷穴乙未肝藏太衝臨丁酉心是窗道上陽陵泉亥是脾經辛丑之時屬包絡逐穴流注要思尋　壬屬膀胱井何看壬寅生井注至陰辰上俠谿行膽位小腸丙午後谿端京骨穴中原所過解谿申上胃相連庚戌大腸曲池合壬子三焦非前原　癸日腎井何方是涌泉癸亥起為頭　乙丑肝家行間內神門丁卯在心收己己商丘脾過處辛未尺澤肺家求酉時血納心包絡始信陰陽不暫留六十六穴妙難求十二經中仔細搜井榮俞經合五位木火土金水注流遂經子母相生過晝夜循環無盡頭十經氣血皆出為井入為合各注井榮俞經合無休已二曰脈有十二經又曰何只言十經其余二經不言者何答曰其二經者三焦是陽氣之父心包絡是陰血之母此二經蓋重水系五行所攜主受納十經血氣養育故只言十經陰陽二脈逐曰各注井榮俞經合各五時辰畢則歸其本此二經亦各注井榮俞經合五穴方知十二經之遍行也</p>
<h2>標幽賦</h2>
<p>拯救之法妙用者針　言劫病之功莫妙於針刺　察歲時於天道　夫人身有十二經三百六十節以應一歲十二月三百六十日歲者素問云必先歲氣兼代天和是謂至治時者四時也經六四時者所以分春夏秋冬之氣所在以調之也天道者經云天氣溫和則經水安靜天寒地凍則經水凝滯天暑地熱則經水沸溢卒風暴熱則經水沸而HT　起又天溫日明則人血淖液而衛氣浮故血易泄氣易行天寒日陰則人血凝滯而衛氣沉月始生則氣血始精衛氣始行月廓滿則氣血實肌肉堅月廓空則肌肉減經絡虛衛氣去形獨居是以因天時而調氣血也　定形氣於予心　此言用針者當識歲時之氣候察天道之寒溫月廓之盈虧以定患人形之肥瘦氣之虛實於我心實則瀉之虛則補之以平調為期斯則形氣已得予心而所謂順天之道也　春夏瘦而刺淺秋冬肥而刺深　內經云病有浮沉刺有深淺各正其理兼過其道過之則內傷不及則外壅壅則邪從之深淺不得及為大賊內傷五臟後生大病故曰春病在毫毛腠理夏病在皮膚故春夏之氣在外人之氣亦輕浮肌肉瘦薄血氣未盛凡刺者應當淺取之秋病在肌肉冬病在筋骨故秋冬之氣收藏在內人氣亦藏肥肉肥濃血氣充滿凡刺者故當深取之不窮經絡陰陽多逢刺禁經有十二經絡有十五絡陰陽者天之陰陽平旦至日中天之陽陽中之陽也曰中至黃昏天之陽陽中之陰也合夜至雞鳴天之陰陰中之陰也雞鳴至平旦天之陰陰中之陽也人之陰陽則外為陽內為陰身之陰陽則背為陽腹為陰手足皆以赤白際分之言臟腑之陰陽則臟為陰府為陽是以春夏之病在陽秋冬之病在陰皆視其所在與施針後也　既論臟腑虛實須向經尋　臟居乎內經絡行乎外其臟腑之虛實既定乃取其經而治之虛則補其母實則泄其子如心病虛則補肝木實則泄脾土又本經亦有子母如心之虛取少海以補之實則取少府泄之又如太陽肺屬金病實則泄本經之合水尺澤水是子虛則補本經之俞土太淵上是母故曰須向經尋諸經皆然並不離五形相生之理也　原夫起自中焦水初下漏太陰為始至厥陰而方終穴出云門抵期門而最後　此言平人氣血氣脈行於十二經為周身除任督之外計三百九十三穴一日一夜有百刻分於十二時每一時有八刻二分每一刻計六十分一時共計五百分起至中焦者蓋中焦在胃中腕當臍上四寸不上不下之分五臟皆稟於胃胃者五臟之本故五臟氣不能自致於手太陰肺經必因胃氣乃致於手太陰肺經經云穀入於胃播氣於肺故脈假胃氣自寅時起沿中焦上注於肺初行一時呼吸氣計一千一百二十五息血行計六十七丈五尺至卯時注大腸經呼吸氣計二千二百五十息血行一百三十五丈至辰時注於胃經呼吸氣計三千三百七十五息血行二百二丈五尺己時注於脾經呼吸氣計四千五百息血行二百七十丈午時注於心經呼吸氣計五千六百二十五息血行三百三十七丈五尺未時注小腸經呼吸氣計六千七百五十息血行四百五文申時注於膀胱經呼吸氣計七千八百七十五息酉時注於腎經呼吸氣計九千息血行五百四十丈戌時注於心包絡呼吸氣計一萬一百二十五息血行六百七丈五尺亥時注於三焦經呼吸氣計一萬一千二百五十息血行六百七十五丈子時注於膽經呼吸氣計一萬二千三百七十五息血行七百四十二丈五尺丑時注於肝經呼吸氣計一萬三千五百息血行八百一十丈故曰太陰為始至厥陰而方終矣手太陰肺經自寅時起從中府穴出注於手陽明經歷胃脾心小腸膀胱中焦胃腕致於腎心包絡三焦膽至厥陰肝經而終此蓋引其經之傳注而言則云門而如其經傳注從第其穴則自期門而止所謂穴出云門抵期而最後也　正經十二別絡走三百余支凡人手足三陰三陽之脈各為正經其經之別走者為絡蓋三百六十五支而絡三百六十五穴故曰正經十二別絡走三百余支也。</p>
<h2>銅人指要賦</h2>
<p>行針之士要辨沉浮脈明虛實針別淺深經脈絡脈之別巨刺繆刺之分經絡閉塞須用砭針疏導臟腑寒溫必明淺深補瀉經氣之正自有常數漏水百刻五十度周經絡流注各應其時先脈訣病次穴蠲左手掐穴右手置針刺榮無傷衛刺衛無傷榮氣悍則針小而入淺氣澀則針大而入深氣滑出疾氣澀出遲深則欲澀淺則欲疾候其氣至必辨於針徐而疾者實實而遲者虛虛則實之滿則泄之宛陳則除之邪勝則虛之刺虛者須其實刺實者須其虛經氣已至慎守勿失謹守其法勿更變也賊邪新客未有定處推之則前引之則至其來不可逢其往不可追損其有餘補其不足先去血脈而後調之無問其病以平為期若有若無若得若失五臟已定九候已　診脈病明行針疾愈眾脈不見眾凶不聞外內相得無以形先可玩往來乃施於人手動若務針耀而勻伏如橫弩起若發機見其烏烏見其稷稷從見具飛不知其誰靜意是義觀適之變是謂冥冥莫知其形如臨深淵手如握虎如待所貴不知日暮其氣已至適而自護五虛勿近五實不遠捫而循之切而散之推而接之彈而弩之爪而下之通而取之陰募在腹陽俞在背臟病取原府病取合臟病腑募治腑病臟募治出入導氣補泄同精善行水者不能注冰善穿地者不能鑿凍權衡以平氣口成寸以決死生飲食入胃游溢精氣上輸於脾脾氣散精上歸於肺通調水道下輸膀胱食氣入胃散精於肝淫氣於筋食氣入胃濁氣歸心淫精於肺五勞五痹九氣七情六淫六腑九竅九州四氣三因傷風傷寒雜病奇病婦人小兒盛則瀉之虛則補之不實不虛以經取之</p>
<h2>手太陰肺經之圖</h2>
<p>（凡十一穴左右云門共二十二穴）</p>
<p><a href="_files/p06-d14a1.bmp">手太陰肺經之圖</a></p>
<p>太陰肺兮出中府云門之下一寸許云門氣戶旁二寸人迎之下二骨數天府腋下三寸求俠白肘上五寸主尺澤肘中約紋論孔最脘中七寸取列缺腕側寸有半經渠寸口陷中取太淵掌後橫紋頭魚際節後散脈奉少商大指內側尋此穴若針疾減愈手太陰肺中焦生下絡大腸出賁門上膈屬肺從肺系系橫出腋　中行肘臂寸口上魚際大指內側爪瞀為臂厥所生病者為氣喘咳渴煩心胸滿結　臂之外前廉痛小便頻數掌中熱氣虛肩背痛而寒氣盛亦疼風汗出火神少氣不足息遺失無度溺色赤</p>
<h2>手陽明大腸經之圖</h2>
<p>（凡二十穴左右共四十）</p>
<p><a href="_files/p06-d14a2.bmp">手陽明大腸經之圖</a></p>
<p>手陽明經屬大腸食指內側起商陽本節前取二間定本節後取三間強岐骨陷中尋合谷陽谿腕中上側詳腕後三寸定偏歷五寸之中溫溜當下廉上廉各一寸上廉此下一寸方屈肘曲中曲池得池下二寸三裡場肘　大骨外廉陷五裡肘上三寸量臂　下一寸取肩　肩端兩骨當巨骨肩端叉骨內天鼎缺盆之上藏扶突曲頰下一寸禾　五分水溝旁鼻孔兩旁各五分左右二穴皆迎香陽明之脈手大腸次指內側起商陽循指上廉出合谷兩筋岐骨循臂　入肘外廉循　外肩端前廉柱骨旁從肩下入缺盆內絡肺下膈屬大腸支沿缺盆直上頸斜貫頰前下齒當環出人中交左右上俠鼻孔注迎香此經氣盛血亦盛是動頸　並齒痛所生病者為鼻衄目黃口乾喉痹生大指次指難為用肩前外痛相仍氣有餘兮脈熱腫虛則寒栗病偏增</p>
<h2>足陽明胃經之圖</h2>
<p>（凡四十五穴左右共九十）</p>
<p><a href="_files/p06-d14a3.bmp">足陽明胃經之圖</a></p>
<p>胃之經兮足陽明頭維本神寸五尋下關耳前動脈是頰車耳下八分針承泣目下七分取四白一寸不舍上人迎氣舍迎下夾天突缺盆橫骨陷中親氣口俞府旁二寸至乳六寸又四分庫房屋翳膺窗近乳中正對乳中心次有乳根出乳下各一寸無不相侵穴夾幽門一寸五是穴不容依法數其下承滿至梁門關門太乙從頸峰節次續排滑囟門各各一十為君數天樞正在夾臍旁外陵樞下一寸當二寸大巨五水道歸來七寸以尋將氣衝曲骨旁二寸來下鼎上腋中央髀關兔後六寸分伏兔市上三寸強陰市膝上三寸許梁丘二寸得其場膝臏　下尋犢鼻膝眼二災分兩旁膝下三寸求三裡、下三寸上廉地條系陷谷內庭後寸半內庭次指外間是厲兌大指次指端去爪如韭胃所起胃是陽明交鼻起下循鼻外下入齒環出俠口繞承漿　後大迎頰車裡耳前發際至額　支下人迎缺盆底下膈入胃絡脾宮五者缺盆下乳內一交幽門循腹裡下行直令氣衝中遂由髀關抵膝臏　HT　中指內關同一支下膝注三裡別出中指外關通一支別走足跗指大指之端經盡矣此經多氣復多血是動欠伸面顏黑淒淒惡寒畏見人忽聞木聲心驚惕登高而歌棄衣走甚則腹脹仍賁響凡此諸疾皆　厥所生病者為狂瘧濕溫汗出鼻流血口　唇裂又喉痹膝臏疼痛腹脹結氣膺伏兔　外廉足跗中指俱痛徹有餘消穀溺色黃不足身前寒振栗胃房脹滿食不消氣盛身前皆有熱</p>
<h2>足太陰脾經之圖</h2>
<p>（凡二十一穴左右共四十二穴）</p>
<p><a href="_files/p06-d14a4.bmp">足太陰脾經之圖</a></p>
<p>拇指內側隱白位大都節後陷中趙太白核骨下陷中公孫節後一寸止商丘有穴屬經金踝下微前陷際二十地箕門血海上六寸筋間動脈須詳諦衝門五寸大橫下三寸三分尋府舍腹結橫下寸三分大橫夾臍非此假腹哀寸半去日月直與食竇相連並食竇天溪及胸鄉周榮各一寸六者大包淵液下三寸出九筋間當記也太陰脾起足大指上循內側白肉際核骨之後內踝前上　循　脛膝裡股內前廉入腹中屬脾絡胃與膈通俠喉連舌散舌下支絡從胃經心宮此經氣盛而血衰是動其病氣所為食下即吐胃脘痛更兼身體痛難移腹脹善噫舌本強所生病者舌亦痛體重不食亦如之煩心、下仍急痛泄水溏瘕寒瘧隨不臥強立股膝腫膽發</p>
<h2>手少陰心經之圖</h2>
<p>（凡九穴左右共十八穴）</p>
<p><a href="_files/p06-d14a5.bmp">手少陰心經之圖</a></p>
<p>少陰心起極泉中腋下筋間脈入胸青靈肘節上三寸少海肘內節後容靈道掌後一寸半通裡腕後一寸同陰　五分取動脈神門掌後兌沖隆少府節後勞宮直小指內側取少衝手少陰經起心中下膈直與小腸通支者還從肺系走直上咽喉系目瞳直者上肺出夜下　後肘內少海從臂內後廉抵掌中銳骨之端注少衝多氣少血屬此經是動心疲痛難忍渴欲飲水咽乾燥所生脅痛目如金脅臂之內後廉痛掌中有熱向經尋</p>
<h2>手太陽小腸經之圖</h2>
<p>（凡一十九穴左右共三十八穴）</p>
<p><a href="_files/p06-d14a6.bmp">手太陽小腸經之圖</a></p>
<p>手小指端為少澤前谷外側節前索節後陷中尋後谿腕骨陷前看外側脘中骨下陽谷討腕上一寸名後舉有空曲垣肩中曲脾裡外俞脾後一寸從肩中二寸大杼旁天窗頰下動脈詳天容耳下曲頰後顴面頰銳端詳聽宮耳端大如菽此一為經手太陽手太陽經小腸脈小指之端起少澤循手外廉出踝中循臂骨出肘內側上循　外出後廉直過肩解繞肩甲交肩下入缺盆內向腋絡心循咽嗌下膈低胃屬小腸一支缺盆貫頸頰至目銳　卻入耳復從耳前仍上頰抵鼻外至目內　斜絡於顴別絡接此經少氣還多血是動則病痛咽嗌頷下腫兮不可顧肩如拔兮　如折所生病生肩　痛耳聾目黃腫腮頰肘之外後廉痛部分猶當細分別</p>
<h2>足太陽膀胱經圖</h2>
<p>(凡六十三穴左右共百一十六穴)</p>
<p><a href="_files/p06-d14a7.bmp">足太陽膀胱經圖</a></p>
<p>足太陽兮膀胱經目　內角始睛明眉頭陷中攢竹名曲差二穴神庭伴五處挨排夾上星承光五處後去寸五分第一大杼二風門肺俞三椎厥門四心　五椎之下論督　膈俞相梯級第六第七次第立第八椎下穴無有肝俞數椎當第九十椎脾俞脾十一十三椎下胃俞取三焦腎俞氣海俞十三十四十五究大腸關元俞安量十六十七椎兩旁十八椎下小腸俞十九椎下尋膀胱中膂內俞椎二十白環二十一椎當上　次　中與下一空二空夾腰胯並同夾脊四個　載在千金君勿訝會陽陰尾兩旁分尺寸須看督脈云第二椎下外附分夾脊相去上法論先從脊後量三寸不是灸狹能傷筋魄戶三椎膏肓四四五三分分明是第五椎下索神堂第六　外可睹膈關第七魂門九陽綱意舍十十一胃倉肓門屈指彈唯看寸二與十三志室次之為十四胞肓十九合參詳秩邊二十椎下詳承扶臀陰紋中央殷門筋腸中央是承山　下分內旁飛揚外踝上七寸附陽踝上三寸量金門正在外踝下昆侖踝後跟骨中仆參跟骨下陷是申脈分明踝下容京骨外側大骨下束骨本節後陷中通谷本節前陷取至陰小指外側逢足經太陽膀胱脈目內　上起額尖支者巔上至耳角直者從巔腦後懸絡腦環出別下項仍循肩膊夾脊邊抵腰膂腎膀胱內一支下與後陽連賁臀斜入委中穴一支膊內左右別貫脾夾脊過脾樞臂內後廉　中合下貫　內外踝後京骨之下指外側此經血多氣猶少是動頭疼不可當項如拔兮腰似折髀強痛徹脊中央　如結兮　如裂是為踝厥筋乃傷所生瘧痔小指廢頭囟頂痛目色黃腰尻　腳疼連背淚流鼻衄及顛狂</p>
<h2>足少陰腎經之圖</h2>
<p>（凡二十七穴左右共五十四穴）</p>
<p><a href="_files/p06-d14a8.bmp">足少陰腎經之圖</a></p>
<p>腎經起處有其所涌泉屈足卷指取然谷踝前大骨下踝後跟上大溪府溪下五分尋大鐘水泉溪下一寸許照海踝下陰蹺生踝上二寸復溜名溜前筋骨取交信赤白踝上二寸行築賓六寸　分處陰谷膝下著骨輔橫骨有陷如仰月大赫氣穴四滿據中注肓俞正夾臍六穴五寸各一數商曲後關上陰都通谷幽門一寸居幽門半寸夾巨闕步廊神封過靈墟神藏域中入　府各一寸六不差殊欲知俞府幾何分璇璣之旁各二寸足經腎脈屬少陰小指斜趨涌泉心然谷之下內踝後別入跟中　內侵出　內廉上股內貫脊屬腎膀胱臨直者屬腎貫肝鬲入肺循喉舌本尋支者從肺絡心內仍至胸中部分深此經多氣而少血是病飢不欲少食喘嗽吐血喉中鳴坐而欲起面如垢目視KT　KT　氣不足心懸如飢常惕惕所生病者為舌乾口熱咽痛氣賁逼股內後廉並脊疼心腸煩痛疸而僻痿厥嗜臥體怠惰足下熱痛皆腎厥</p>
<h2>手厥陰心包經之圖</h2>
<p>（凡九穴左右共十六穴）</p>
<p><a href="_files/p06-d14a9.bmp">手厥陰心包經之圖</a></p>
<p>厥陰心包何處得乳後一寸天池索天泉腋下二寸求曲澤內紋尋動脈　門去腕五寸通問使腕後三寸逢內關去腕才二寸大陵掌後兩筋中勞宮掌內屈指取中指之末取中衝手厥陰心主起胸屬包下膈三焦宮支者循胸出脅下下連腋三寸同仍上抵腋循　內太陰少陰兩經中指透中衝支者別小指次指絡相通包絡少氣原多血是動則病手心熱肘臂攣急腋下腫甚則胸脅支滿經心中淡淡或六動善哭目黃面赤色所生病者為煩心心痛掌熱病之則</p>
<h2>手少陽三焦經之圖</h2>
<p>（凡二十三穴左右共四十六穴）</p>
<p><a href="_files/p06-d14a10.bmp">手少陽三焦經之圖</a></p>
<p>三焦名指外關衝小次指間名液門中渚次指本節後陽池表腕上陷存腕上二寸外關絡支溝腕上三寸約會宗腕後三寸空須詳一寸毋令錯肘前五寸臂大脈外廉陷中三陽絡四續骨外並三陽天井肘上一寸側肘上二寸清冷淵消濼臂外肘分索　會肩頭三寸中肩　肩端　上通天　盆上毖骨際天牖旁頸後天容翳風耳後尖骨陷　脈耳後雞足逢顱囟耳後青絡脈角孫耳角開有空系竹肩頭陷中看禾　耳前兌發同耳門耳殊當耳缺此穴禁針分明說手經少陽三焦脈起自小指次指端兩指岐骨手腕表上出臂外兩骨間肘後　外循肩上少陽之後交耳入耳前卻從上關交曲頰至目內　乃盡焉三焦少氣還多血是動耳鳴喉腫痹所生病者汗自出耳後痛廉目銳　肩　肘臂盡皆疼小指次指亦如廢</p>
<h2>足少陽膽經之圖</h2>
<p>（凡四十四穴左右共八十八穴）</p>
<p><a href="_files/p06-d14a11.bmp">足少陽膽經之圖</a></p>
<p>少陽童　起目外耳前陷中尋聽會上關耳前開口空頷厭腦空上廉揣懸顱正在曲角端懸厘腦空下廉看曲鬢偃耳正尖上率谷曲鬢半寸安本神耳上入發際四分平橫向前是曲差之旁各一寸陽白眉上一寸記臨泣有穴當兩目直入發際五分屬目窗正營各一寸承靈正後寸五錄天沖耳上二寸居浮白發際一寸符竅陰枕下動有空腕骨耳後四分通腦空正夾玉枕骨風池後發際陷中肩井大骨前寸半淵液脈下三寸按輟筋平前卻一寸日月京門二寸半直下五分細求之京門監骨腰間看蒂脈季脅寸八分五樞帶下三寸間維道五寸三分得居　八寸三分尋脅堂腋下看二肋環跳脾樞宛、論兩手著腿風市謀膝上五寸中瀆搜陽關陽陵上三寸陽陵膝下一寸求陽交外踝斜七寸踝上七寸尋外丘光明際踝上五寸陽輔上四寸收懸鐘三寸看絕骨丘墟踝前陷中出臨泣寸半後俠谿五會一寸灸早卒俠谿少次岐骨間竅陽足小次指端</p>
<h2>足厥陰肝經之圖</h2>
<p>（凡十三穴左右共二十六穴）</p>
<p><a href="_files/p06-d14a12.bmp">足厥陰肝經之圖</a></p>
<p>大敦拇指看毛聚行間逢尖動脈處節後有絡亙五位大衝之脈堪承據中封正在內踝前蠡溝踝上五寸注中都正在復溜宮陰陵膝尖兩折中膝關犢鼻下二寸曲泉紋頭兩筋逢相包四寸膝臏上內廉筋間索其當五裡氣衝四寸半直下三寸除股內羊矢兩裡三分下陽廉膝上橫紋胯羊矢氣衝旁一寸分明有穴君可問章門臍上二寸量橫取八寸開兩旁期門乳旁各一寸直下二寸兩肋詳厥陰足脈肝所絡大指之端毛際叢足跗上廉大衝分踝前一寸入中封上踝交出太陰後循　內廉相股充環繞陰器抵小腹夾胃屬肝絡膽逢上貫鬲裡布脅肋頰喉頂顙目系同脈上巔會督脈出支者還生目系中下絡頰裡環唇內支者便從膈肺通此經血多氣少焉是動腰疼俯仰難男疝女人小腹腫面塵脫色及咽乾所生病者為胸滿嘔吐動泄小便難或時遺溺並狐疝臨症還須仔細看</p>
<h2>督脈陽經之圖</h2>
<p>（凡中行單穴計二十七穴）</p>
<p><a href="_files/p06-d14a13.bmp">督脈陽經之圖</a></p>
<p>督脈齦交唇縫鄉兌端正在唇中央水溝鼻下溝內索素　宜向鼻端詳頭形北高面南下先以前後發際量分為一尺有一寸發上五分神庭當庭上五分上星位囟會星上一寸強上至前頂一寸半半百會居中央神聰百會四面取各開一寸風癇主後頂強間腦戶三相去各是一寸五後發五分定啞門門上五分是風府上有大椎下尾胝分為一十有一椎古來自有拆量法靈樞凜凜不可欺九寸八分分之七二之七節如是椎大椎第一節上是第二節下陶道知身柱第三椎節下神道第五無足疑靈台第六至陽七筋縮第九之下思脊中懸樞命門穴十一十三十四節陽關鎮住十六椎二十一下腰俞窺其下長強伏地取此穴針之去痔根</p>
<h2>任脈之圖</h2>
<p><a href="_files/p06-d14a14.bmp">任脈之圖</a></p>
<p>會陰正在兩陰間曲骨臍下毛際安中極臍下四寸取三寸關元二石門氣海臍下一寸半復交臍下一寸論分明臍內　HT　神關水分一寸復上列下脘建裡中上脘各各一寸為君說巨闕上脘上寸半鳩尾蔽骨五分按中庭膻中寸六分膻中兩乳中間看正堂紫宮及華蓋相去各寸六分美華蓋璣下一寸量璇璣突下一寸當天突結下究究取廉泉頷下骨尖旁承漿頤前唇棱下任脈之部宜審詳</p>
<h2>天星穴法之形圖</h2>
<p><a href="_files/p06-d14a15.bmp">天星穴法之形圖</a></p>
<p><a href="_files/p06-d14a16.bmp">圖</a></p>
<h2>秋夫療鬼十三針之格</h2>
<p><a href="_files/p06-d14a17.bmp">秋夫療鬼十三針之格圖</a></p>
<p>人中神庭風府始舌縫承漿頰車班少商大陵間使連乳中陽陵泉有據隱白行間不可瘥十三穴是秋夫置人中一穴名鬼宮　少商二穴名鬼室　隱白二穴名鬼節　太陵一穴名鬼心　行間二穴名鬼路　風府一穴名鬼腕　頰車二穴名鬼關　承漿一穴名鬼門　間使二穴名鬼臂　神庭一穴名鬼光乳中一穴名鬼位　陽陵一穴名鬼腿舌縫一穴名鬼身(舌縫六者舌縫中間出紫血身重舌腫難言心經邪熱　出為妙)凡人有鬼病者須先針人中次第下針十二穴男先取左女先取右治病如神</p>
<h2>回陽九針圖</h2>
<p><a href="_files/p06-d14a18.bmp">回陽九針圖</a></p>
<h2>回陽九針穴</h2>
<p>啞門勞宮三陰交　涌泉太谿中脘接　環跳三裡合谷並　此是回陽九針穴</p>
<h2>八脈之形圖</h2>
<p><a href="_files/p06-d14a19.bmp">八脈之形圖</a></p>
<p>公孫衝脈胃心胸內關陰維下總同臨泣膽經連帶脈陽維目銳外關逢後谿督脈內　頸申脈陽蹺絡亦通則缺肺任行脈系陰蹺照海嗝喉嚨脈起自下極俞並於脊裡上風府過腦額鼻入齦交為陽脈海多綱要任脈起於中極底上腹循喉承漿裡陽脈之海任所為衝脈出包循脊中從腹會陰絡口唇女人成經為血室脈並少陰之腎經與任督本接陽會三脈並起而異行陽蹺起足之跟裡循外踝上入風池陰蹺內踝循喉嗌本足陰陽脈別支諸陽交起陽維脈發足少陽築賓　諸陽會起陽維脈太陽之　金門是帶脈周回季脅間會於維道是少陽所謂奇經之八脈維立諸經乃順常</p>
<h2>子膽</h2>
<p><a href="_files/p06-d14a20.bmp">子膽圖</a></p>
<h2>丑肝</h2>
<p><a href="_files/p06-d14a21.bmp">丑肝圖</a></p>
<h2>寅肺</h2>
<p><a href="_files/p06-d14a22.bmp">寅肺圖</a></p>
<h2>卯大腸</h2>
<p><a href="_files/p06-d14a23.bmp">卯大腸圖</a></p>
<h2>辰胃</h2>
<p><a href="_files/p06-d14a24.bmp">辰胃圖</a></p>
<h2>己脾</h2>
<p><a href="_files/p06-d14a25.bmp">己脾圖</a></p>
<h2>午心</h2>
<p><a href="_files/p06-d14a26.bmp">午心圖</a></p>
<h2>未小腸</h2>
<p><a href="_files/p06-d14a27.bmp">未小腸圖</a></p>
<h2>申膀胱</h2>
<p><a href="_files/p06-d14a28.bmp">申膀胱圖</a></p>
<h2>酉腎</h2>
<p><a href="_files/p06-d14a29.bmp">酉腎圖</a></p>
<h2>戌心包絡</h2>
<p><a href="_files/p06-d14a30.bmp">戌心包絡圖</a></p>
<h2>亥三焦</h2>
<p><a href="_files/p06-d14a31.bmp">亥三焦圖</a></p>
<h2>五臟正面之圖</h2>
<p><a href="_files/p06-d14a32.bmp">五臟正面之圖</a></p>
<h2>五臟背面之圖</h2>
<p><a href="_files/p06-d14a33.bmp">五臟背面之圖</a></p>
<h2>精溺之分圖</h2>
<p><a href="_files/p06-d14a34.bmp">精溺之分圖</a></p>
<h2>命門大小腸膀胱論</h2>
<p>臟各有一腎獨有兩者何也然左為腎右為命門水火也亦猶北方之蟲有龜陰物有蛇陽物所謂陽生於午火是臟之命門者原氣之所系也男子以藏精女子以系胞其氣與腎通凡手少陰心經絡小腸手太陽小腸之經屬小腸手太陽肺之經絡大腸手陽明大腸之經屬大腸足少陰腎之經絡膀胱足太陽膀胱之經屬膀胱其大小腸之系則自膈之下與脊膂連心腎膀胱系脂膜筋絡散布包裡然各分脈理罹絡大小腸與膀胱其細脈之中氣血津液流走之通也</p>
<p><a href="_files/p06-d14a35.bmp">圖</a></p>
<h2>闌門水穀分別論</h2>
<p>扁鵲曰大腸小腸會處為闌門言闌約水穀從其泌別也其水穀自小腸承受於闌門以分別也其水則內分別清濁也</p>
<h2>氣海膈膜之圖</h2>
<p><a href="_files/p06-d14a36.bmp">氣海膈膜之圖</a></p>
<h2>氣海膈膜論</h2>
<p>黃帝云膻中者臣使之官喜樂出焉膻中在兩乳間為氣之海也以氣布陰陽氣和志達則喜樂由生又云膈膜之上中有父母膈膜之上氣海居焉氣者生之原乃命之主故氣海為人之父母膈膜謂心肺之中也其膈膜自心肺之下與脊脅腹用回相著遮蔽如幕不漏濁氣上董於心肺也</p>
<h2>肺膜論</h2>
<p><a href="_files/p06-d14a37.bmp">肺膜圖</a></p>
<p><u>胃為賁門飲倉下咽貴向聚干咽也太倉者亦胃也</u></p>
<p><u>肺以下右側可見心系　干脊髓下通於胃</u></p>
<p>黃帝書云七節之旁中有小心小心語真心神靈之宮室外不可針刺以今之所經藏象梭之其心之系有二一則上與肺相連一則自心入於肺兩大葉之一曲折向後並脊膂細絡相連貫通脊髓而於腎系相通其下則於下文第七圖中開具矣其系從肺而大葉第向後附脊處正當七節之之矣故曰七節之</p>
<h2>心系之圖</h2>
<p><a href="_files/p06-d14a38.bmp">心系之圖</a></p>
<h2>心系詢</h2>
<p>五臟通於心心通五臟系心之系與五臟之系相連輸其氣血滲灌骨髓故五臟有病先於於心其系上系於肺其別者自肺兩葉之中向後通髓脊著腎自腎之於膀胱膜絡並行而之於溲溺處也肺之一系者上通喉嚨其中與心系相通脾之系者自膈正中徹近左脅居胃之上並胃脘相連貫膈與心肺相通膈膜相綴也肝之系也自膈下著右脅肋上貫膈入肺中與膈膜相連也腎之系者貼脊膂脂膜中兩腎腎腎相通而下其上則與心肺系通為一也</p>
