<dl class="元資料" data-type="book">
<div><dt>出處</dt><dd>針灸大成</dd></div>
<div><dt>品質</dt><dd>90%</dd></div>
</dl>
<header><h1>勝玉歌</h1></header>
<p>勝玉歌兮不虛言，此是楊家真秘傳，或針或灸依法治，補瀉迎隨隨手捻。<br>
頭痛暈眩百會好，心疼脾痛上脘先，後谿鳩尾及神明，治療五癇立便痊。<br>
脾痛要針肩井穴。耳閉聽會莫遲延，胃冷下脘卻為良，眼痛須覓清冷淵，<br>
霍亂心痛吐痰涎，巨闕著艾便安然，脾痛背病中諸瀉，頭風眼痛上星專，<br>
頭項強急承漿保，牙顋痛緊大迎全，行間可治膝腫病，尺澤能醫筋拘牽，<br>
若人行步苦艱難，中封太衝針便痊，腳背痛時商丘刺，瘰癧少海天井邊。<br>
腹疼閉結支溝穴，頷腫咽喉少商前，脾心痛急尋公孫，委中驅療腳風纏。<br>
瀉卻人中及頰車，治療中風口吐沫，五瘧寒多熱更多，間使大杼真妙穴。<br>
經年或變勞怯者，痞滿臍旁章門決，噎氣吞酸食不投，膻中七壯除膈熱。<br>
目內紅腫苦皺眉，絲竹攢竹亦可醫，若是痰涎並咳嗽，治卻須當灸肺俞。<br>
更有天突與筋縮，小兒吼閉自然疏，兩手酸痛難執物，曲池合谷並肩顒。<br>
臂痛背痛針三里，頭痛頭風灸風池，腸鳴大便時泄瀉，臍旁二寸灸天樞。<br>
諸般氣症從何治，氣海針之灸亦宜，小腸氣痛歸來治，腰痛中空穴更奇。<br>
腿股轉痠難移步，妙穴說與後人知，環跳風市及陰市，瀉卻全針病自除。<br>
熱瘡膁內年年發，血海尋來可治之，兩膝無端腫如斗，膝眼三里艾當施。<br>
兩股轉筋承山剌，腳氣復溜不須疑，踝跟骨痛灸崑崙。更有絕骨與丘墟。<br>
灸罷大敦除疝氣，陰交針入下胎衣，遺精白濁心俞治，心熱口臭大陵驅。<br>
腹脹水分多得力，黃疸至陽便能離，肝血盛兮肝俞瀉，痔疾腸風長強欺。<br>
腎敗腰疼小便頻，督脈兩旁腎俞治，六十六穴施應驗，故成歌訣顯針奇。</p>
