<dl class="元資料" data-type="book">
<div><dt>出處</dt><dd><data value="針灸聚英">《針灸大成》引《針灸聚英》</data></dd></div>
<div><dt>品質</dt><dd>95%</dd></div>
</dl>
<header><h1>百證賦</h1></header>
<p>百證俞穴，再三用心。<br>
顖會連於玉枕，頭風療以金針。<br>
懸顱、頷厭之中，偏頭痛止；強間、豐隆之際，頭痛難禁。</p>
<p>原夫面腫虛浮，須仗水溝、前頂；耳聾氣閉，全憑聽會、翳風。<br>
面上蟲行有驗，迎香可取；耳中蟬噪有聲，聽會堪取。<br>
目眩兮，支正、飛揚；目黃兮，陽綱、膽俞。<br>
攀睛攻少澤、肝俞之所，淚出刺臨泣、頭維之處。<br>
目中漠漠，即尋攢竹、三間；目覺𥉂𥉂，急取養老、天柱。<br>
觀其雀目肝氣，睛明、行間而細推；審他項強傷寒，溫溜、期門而主之。<br>
廉泉、中衝，舌下腫疼堪取；天府、合谷，鼻中衄血宜追。<br>
耳門、絲竹空，住牙疼於頃刻；頰車、地倉穴，正口喎於片時。<br>
喉痛兮，液門、魚際去療，轉筋兮，金門、丘墟來醫。<br>
陽谷、俠谿，頷腫口噤並治；少商、曲澤，血虛口渴同施。<br>
通天去鼻內無聞之苦，復溜祛舌乾口燥之悲。<br>
啞門、關衝，舌緩不語而要緊；天鼎、間使，失音囁嚅而休遲。<br>
太衝瀉唇喎以速愈，承漿瀉牙疼而即移。<br>
項強多惡風，束骨相連於天柱；熱病汗不出，大都更接於經渠。</p>
<p>且如兩臂頑麻，少海就傍於三里；半身不遂，陽陵遠達於曲池。<br>
建里、內關，掃盡胸中之苦悶；聽宮、脾俞，祛殘心下之悲悽。<br>
久知脇肋疼痛，氣戶、華蓋有靈；腹內腸鳴，下脘、陷谷能平。<br>
胸脇支滿何療，章門、不容細尋。膈疼飲蓄難禁，膻中、巨闕便針。<br>
胸滿更加噎塞，中府、意舍所行；胸膈停留瘀血，腎俞、巨髎宜徵。<br>
胸滿項強，神藏、璇璣已試；背連腰痛，白環、委中曾經。</p>
<p>脊強兮，水道、筋縮；目眩兮，顴髎、大迎。<br>
痙病非顱息而不愈，臍風須然谷而易醒。<br>
委陽、天池，腋腫針而速散；後谿、環跳，腿疼刺而即輕。</p>
<p>夢魘不寧，厲兌相諧於隱白；發狂奔走，上脘同起於神門。<br>
驚悸怔忡，取陽交、解谿勿誤；反張悲哭，仗天衝、大橫須精。<br>
癲疾必身柱、本神之令，發熱仗少衝、曲池之津。<br>
歲熱時行，陶道復求肺俞理；風癇常發，神道還須心俞寧。</p>
<p>濕寒濕熱下髎定，厥寒厥熱湧泉清。<br>
寒慄惡寒，二間疏通陰郄暗；煩心嘔吐，幽門開徹玉堂明。<br>
行間、湧泉，主消渴之腎渴；陰陵、水分，去水腫之臍盈。<br>
癆瘵傳尸，趨魄戶、膏肓之路；中邪霍亂，尋陰谷、三里之程。<br>
治疸消黃，諧後谿、勞宮而看；倦言嗜臥，往通里、大鍾而明。<br>
咳嗽連聲，肺俞須迎天突穴。小便赤澀，兌端獨瀉太陽經。<br>
刺長強於承山，善主腸風新下血，針三陰於氣海，專司白濁久遺精。<br>
且如肓俞、橫骨，瀉五淋之久積；陰郄、後谿，治盜汗之多出。<br>
脾虛穀以不消，脾俞、膀胱俞覓；胃冷食而難化，魂門、胃俞堪責。</p>
<p>鼻痔必取齦交，癭氣須求浮白。<br>
大敦、照海，患寒疝而善蠲；五里、臂臑，生癧瘡而能治。<br>
至陰、屋翳，療癢疾之疼多；肩髃、陽谿，消癮風之熱極。</p>
<p>抑又論婦人經事改常，自有地機、血海；女子少氣漏血，不無交信、合陽。<br>
帶下產崩，衝門、氣衝宜審；月潮違限，天樞、水泉細詳。<br>
肩井乳癰而極效，商丘痔瘤而最良。<br>
脫肛趨百會、尾骶之所，無子搜陰交、石關之鄉。<br>
中脘主乎積痢，外丘收乎大腸。<br>
寒瘧兮商陽、太谿驗，痃癖兮衝門、血海強。</p>
<p>夫醫乃人之司命，非志士而莫為；針乃理之淵微，須至人之指教。<br>
先究其病源，後攻其穴道，隨手見功，應針取效。<br>
方知玄理之玄，始達妙中之妙。<br>
此篇不盡，略舉其要。</p>
