<header><h1>續醫說</h1></header>
<dl class="元資料" data-type="book">
<div><dt>作者</dt><dd>俞弁</dd></div>
<div><dt>朝代</dt><dd>明</dd></div>
<div><dt>年份</dt><dd><data value="1545">公元1545年</data></dd></div>
</dl>
<h2>序</h2>
<p>御寇有言醫者理也理者意也何稽乎理言治意言識得理與意料理於未見曰醫超然望聞者無幾也降則不理不治不識不明斯二者不言不詳以故聖人尚乎辭說者謂經始於軒岐緩鵲輩識其意者也仲景下代有名士有方有論有原有辯有法耿耿與繁星並麗而不磨者聖人以道仁天下起危而養安斯已矣而又立言以臣扶百代其為慮不廣且勤哉神而明之在人子容氏有意焉久矣苦心探賾學以聚之問以辯之精思以強勉之董生曰勉強學問則聞見博知益精然會博而歸約則君子貴乎詳說也是書述古法今事積有歲月得理與意者纂載不遺子容之用心亦勤矣病其繁也故略節取之以講於家塾有就有道意蓋以人之司命不敢肆然而輕耳考其言有先經以始事有後經以終義則系之以經曰示無專也有以脈而辯症有以症而辯劑的之已見者則系之以余曰示無私也得之前烈參之時賢者則系之曰某人曰示無掩焉蓋得於意則見於言本始以清其源推委以別其流酌中隨時以明其宜以通其變而參伍設置尚其權也有論而無方神其用也祖乎帝繼其志也征諸今尚時也文以足志達其意也削屢而成什要諸理而止也博而要辯而精簡而核跡其所到真可究之施行者矣殆與醫案醫原則從起者吾諒其惑焉子容姓俞名弁以翁約齋號故自附曰守約云</p>
<p><u>嘉靖甲午卿貢進士白海吳恩序　</u></p>
<h2>敘</h2>
<p>太史公作史記傳淳於公備書其所奏治病死生驗者主名病狀診候方藥具悉不遺夫史必關天下之故而書紀傳所略者亦眾矣而何獨詳於一藝焉嗟乎人之所病病疾多醫之所病病道少苟有明效大驗章章若是而可不大而傳之乎蓋將以析同異極變化決嫌疑定可治求合先聖之道以立度量於萬世軒岐尹鵲之空言由是不誣其所開豈小小哉余友俞子容氏好數喜書其身所取效者無慮數十既皆表而籍之乃益取近世名人文集雜紀有裨於醫者及耳目所睹記得失論而附焉名曰續醫說來求余為序余以自漢以遠良工數人代有作者論針砭則祖素難言本草則宗湯液說脈法則推叔和述方論則稱仲景塗轍雖殊要皆有利於物然學人視為術數小道致遠恐泥縉紳先生不道焉而倉公獨賴史遷之文至今交於學士大夫之口是知為術雖精取效雖多診籍雖詳非文無以傳也今子容所纂其大者既有以拾四子之遺探三聖之奧析同異極變化決嫌疑定可治而尤不專專於一方一論之微每於先正鉅偽之言有取焉可以知其志之所尚矣視夫醫案脈旨歌括圖說之流果何如哉其傳蓋可必矣</p>
<p><u>嘉靖丁酉春三月既望</u></p>
<p><u>賜進士出身承德即禮部儀制清臾司主事管理制敕長洌陸師道書</u></p>
<p>齊梁之人有言曰不明醫術者不得稱為孝子此過論也宋儒謂治病委之庸醫比之不慈不孝事親者不可不知醫斯言旨哉昔之名醫若甄權許智藏李明之朱彥修咸以母病習醫研精覃思遂究奧妙蓋君子之存心無所不用其至也弁雖不敏癖於論醫或聞師友講談之余或披閱諸史百家之文凡有會於心者輒手抄以備遺忘積久成FS　為十卷名曰續醫說云匪敢與古人頡頑將來好事者共之</p>
<p><u>壬午七月望日敘</u></p>
<h2>卷一</h2>
<h3>原醫</h3>
<h4>至人隱醫</h4>
<p>醫之為道由來尚矣原百病之起愈本乎黃帝辯百藥之味性本乎神農湯液則本乎伊芳尹此三聖人者拯黎元之疾苦替天地之生育其有功於萬世大矣萬世之下深於此道者是亦聖人之徒也賈誼曰古之至人不居朝廷必隱於醫卜孰謂方伎之士豈無豪傑者哉</p>
<h4>國朝醫學</h4>
<p>今世之業醫者挾伎以診療者則有之矣求其從師以講習者何鮮也我太祖內設大醫院外設府州縣醫學醫而以學為名蓋欲聚其人以教學既成功而試之然後授以一方衛生之任由是進之以為國醫其嘉惠天下生民也至矣某嘗考成周所以謂之醫師國朝所以立為醫學之故精擇使判以上官聚天下習醫者俾其教之養之讀軒岐之書研張孫之技試之通而後授之職因其長而專其業稽其事以制其祿則天下之人皆無夭閼之患而躋仁壽之域矣是亦王者仁政之一端也(大學衍義補)</p>
<h4>古之良醫</h4>
<p>物理論曰夫醫者非仁愛不可托也非聰明理達不可任也非廉潔淳良不可信也是以古之用醫必選名姓之後其德能仁恕博愛其智能宣暢曲解能知天地神祗之次能明性命吉凶之數處虛實之分定逆順之節原疾FS　之輕重而量藥劑之多少貫微達幽不失細小如此乃謂良醫豈區區俗學人能之哉(初學記)</p>
<h4>醫儒同道</h4>
<p>金華戴叔能曰醫以活人為務與吾儒道最切近自唐書列之技藝而吾儒不屑為之世之習醫者不過誦一家之成說守一定之方以幸其病之偶中不復深探遠索上求聖賢之意以明夫陰陽造化之會歸又不能博極群書采擇眾議以資論治之權變甚者至於屏棄古方附會臆見展轉以相迷而其為患不少矣是豈聖賢慈惠生民之本意哉(九靈山房集)</p>
<h4>醫不三世</h4>
<p>宋景濂云古之醫師必通於三世之書所謂三世者一曰針灸二曰神農本草三曰素問脈經脈經所以察證本草所以辯藥針灸所以祛疾非是三者不足以言醫故記禮者有云醫不三世不服其藥而傳經者乃以父子相承為三世何其惑歟噫古之豪傑自振者不能悉舉若李東垣朱丹溪滑伯仁輩皆非世傳而精造醫術屢起危殆著書立言為後學楷范初不聞其父子相傳也是知醫在讀書而不在於三世明矣</p>
<h4>醫貴權變</h4>
<p>王忠文公(　)云李明之弟子多在中州獨劉守真之學傳之荊山浮圖師師至江南傳之　中人羅知悌而南方之醫皆宗之矣及國朝天下之言醫者非劉氏之學弗道也劉李之法雖攻補不同會而通之隨症而用之不行其存乎近時吾吳中稱良醫師則以能持東垣者謂之王持張劉者謂之伯噫堯舜以揖讓湯武以干戈苟合道濟世何必曰同余嘗病世之專於攻伐者邪氣未退而真氣先滿然矣專於補養者或致氣道壅塞為禍不少正氣未復而邪氣愈熾矣古人有云藥貴合宜法當應變泥其常者人參反以殺人通其變者烏頭可以活命孫真人所謂隨時增損物無定方真知言哉</p>
<h4>視時盛衰</h4>
<p>葛震父云為醫當視時之盛衰劉守真張子和輩值金人強盛民悍氣剛故多用宣泄之法及其衰也兵革之余飢饉相仍民勞志苦故張潔古李東垣輩多加補益之功至若宋之季年醫者大抵務守護元氣而不識攻伐之機能養病而不能治病其失在於不知通變也王好古云大定間醫者用防風通聖散盛行於世而多效何哉雖市井之徒口腹備衣服全心志樂而形不苦是以多效而少失或遇擾攘之世飢饉之年HT　鹽糟糠猶不能充況加以值天地肅殺之運豈可一例用涼藥如承平之時豐稔之歲哉殊不知張仲景用桂枝於當漢之末韓祗和則戒用桂枝於當宋之隆此亦因時而用藥者也</p>
<h4>輕自製方</h4>
<p>東垣丹溪之書大行於世今之醫者見其不用古方率皆效顰輒自製方治病藥性不明處方無法鹵莽亂投反致變症多端遂難識治若非平日熟讀本草深究內經而輕自製方者鮮不誤人也(王汝言續醫論)</p>
<h3>醫書</h3>
<h4>痘疹全書</h4>
<p>痘疹自漢以前方書不載至拓拔魏時始有方藥自唐迄宋有董汲錢乙挺然獨出著方立論羽翼聖經最為有功近時慈溪趙繼宗著小兒痘疹全書板行於世余始讀其序竊謂繼錢乙之後者一人及讀至終篇詳加考究與序大異其書總出六十二方其間喜用紫草蟬殼大力子露蜂房四味如是者凡四十六方抑何其偏戾如此耶若小兒氣實有風邪熱毒者用之可也設使氣虛血虛表裡不實大便自利灰白色頂陷切牙寒戰等症其可輕用之乎按胡大卿痘疹方論云紫草雖是瘡疹家聖藥然性寒利大腸若大便結者可用又云蟬殼八日之後忌用鼠黏子即大力子有虛寒者禁之按本草圖經云露蜂房味苦鹹氣平有毒主驚癇蠱毒腸痔腫毒風牙等症並不及小兒痘疹趙氏每方用之此用藥之一誤也小兒柔脆弱質前哲用藥恆少劑不過三四錢趙氏動輒用一兩六七錢此用藥之二誤也或內虛泄瀉或頭溫足冷或煩渴或腹脹或氣喘或寒戰切牙此表裡俱虛也趙氏則日不可便謂之裡虛乃傷食傷冷所致既曰傷食傷冷泄瀉主治仍用鼠黏子紫草此用藥之三誤也甚至癢塌內虛作瀉氣促者復投寒涼之劑此用藥之四誤也趙氏既云寒戰切牙脾胃受冷鼠黏子紫草苦參更不忍舍殊不知寒冷太過脾胃清純之氣寧無損乎經曰五臟皆稟氣於胃胃者五臟之本胃氣一虛其死可立而待楊仁齋有云諸熱不可驟去宜輕解之蓋痘瘡無熱則不能起發比之種豆值天時暄暖則易生古人用藥審度寒暄推詳運氣苟熱一偏之見其誤人也必矣余豈好辯哉亦幼吾幼之意云爾</p>
<h4>格致余論</h4>
<p>丹溪醫之聖者也其為格致余論一書超邁今古奚容輕議然沉潛反覆竊有可疑者焉論中左大順男右大順女之說丹溪獨指氣血之陰陽反遺脈位之陰陽乃以醫人之左右手立論有戾經旨可疑者一也醇酒宜冷凍飲料之論吾見世人飲熱酒者亦無恙飲冷酒者雖盛暑亦致病焉可疑者二也至如倒倉一法且丹溪自云得之西域異人近世余目擊土夫數人信行此法死者相繼可疑者三也噫西域之人殊方異域風氣不同稟賦亦異此法豈可行於東南柔弱之人乎門人誤錄於勞瘵吐血門中為禍甚大且勞瘵咳血真陰虧損臟腑脾胃虛弱津液枯竭不宜吐瀉昔徐文伯治范云之疾有取汗之戒尚促天年況吐下之法施於勞損之人可乎或以是罪余輕議前人者余應之曰孫真人千金方有房中補益法丹溪辯之曰苟無聖賢之心神仙之骨未易為也又曰若以房中為補殺人多矣丹溪能為孫公之忠臣余顧不能為丹溪之忠臣乎語曰不以人廢言使丹溪復生其殆不廢余言矣</p>
<h4>和劑局方</h4>
<p>或問曰和劑局方丹溪發揮辯之詳矣戴原禮乃丹溪高弟今觀其所著症治要訣方論皆祖局方何也余曰局方亦何負於人哉前後活人不知其幾丹溪但辯其用藥者誤耳非方之罪也血虛症不宜用香燥之劑痿痹症不可混作風治亦何嘗屏棄之乎今人遂以局方例不可用或者有宜北不宜南之說殊不知內經治寒以熱治熱以寒微者逆之甚者從之權變得宜消息以為治安可限以南北之分而無寒熱之異哉原禮蓋得丹溪之心法者其有取於局方非苟然也</p>
<h4>蘇沈良方</h4>
<p>蘇沈良方十卷前有永嘉道士林靈素序余家有宋刻本竊意靈素在二公文集中或雜記或筆談等書抄出匯成一編附托二公之盛名以行其方耳李東垣謂蘇沈良方猶唐家類詩何也蓋言不能詩者之集詩猶不知方者之集方也一詩之不善止不過費紙而已不致誤人一方之不善則其禍有不可勝言者矣噫後之集方書者尚慎之哉</p>
<h4>中藏經辯</h4>
<p>中藏經八卷相傳華元化撰按唐書藝文志有吳普集元化藥方別無中藏之名普廣陵人親授業於元化之門以術藝知名今集中諸論非普不能作靈洞道士鄧處中自序元化外孫因吊寢室得此書於夢中余竊疑其妄誕論後附方意者皆鄧生增入之耳如地黃煎丸內有山藥古方名薯蕷為避宋英宗諱故易名山藥燒肝散內有白朮蒼朮本草及占方書止云術不分蒼白二種牢牙地黃散細注云此方見僧文瑩湘山野錄文瑩宋僧三者可證其出於鄧生之手覽者當自知之</p>
<h4>十藥神書</h4>
<p>葛可久十藥神書其方治勞損吐血頗有功效但疑太平丸後跋語云此方利人甚眾所得貺不可勝紀未嘗妄傳非人余漸老恐致泯失由是編次與子孫濟人無窮之利云觀此等語知其非葛氏之書矣可久豪傑士也雖醫術亦所不屑為之豈區區言利者哉姑蘇志有可久傳稱其著書有醫學啟蒙經絡十二論而不載十藥神書非其所著也明矣</p>
<h4>明醫雜著</h4>
<p>凡人血病則當用血藥若氣虛血弱又當從氣虛以人參補之陽旺則能生陰血也東垣曰血脫益氣古聖人之良法補胃氣以助生發之氣故曰陽生陰長用諸甘劑為之先務舉世皆以篇補氣殊不知甘能生血此陽生陰長之理也故先理胃氣人之身內以穀氣為寶近時醫者多執王汝言明醫雜著云陰虛誤服甘溫之劑則病日增服之過多則死由是一切脾胃飲食勞倦之症認為陰虛惟用四物東加苦寒之藥吾恐地黃當歸多能戀膈反傷胃氣所謂精氣血氣何由而生血未見生而穀氣先有所損矣昔一士人形肥而色白因見明醫雜著所載補陰丸服之數年形瘦短氣蜀醫韓天爵用辛熱劑決去其滯余而燥其重陰然後和平無恙此則未達方書而輕率自誤可不戒哉</p>
<h4>儒醫精要</h4>
<p>夫人之一身陰常不足而陽常有餘故丹溪諄諄勉人養陰以配陽實非欲補陰以勝陽也余近見趙繼宗儒醫精要一書駁丹溪專欲補陰以並陽是謂逆陰陽之常經決無補陰之理二辯王叔和命門屬火之誤三辯張仲景傷寒無汗吐下法四辯張潔古無中暑中熱之分五辯中風無火氣濕三者之論六辯十二經之脈差繆趙公偏執己見妄立邪說以欺人乘悖經旨得罪於名教多矣噫仲景叔和醫之聖也百世之師也繼宗何人而敢輕議如此多見其不知量也</p>
<h4>牛黃清心丸</h4>
<p>和劑局方皆名醫所集可謂精矣其間差舛者亦有乏且如牛黃清心丸一方用藥二十九味藥性寒熱交錯殊不可曉昔見老醫云此方止是黃芩麝香龍腦羚羊角牛黃犀角雄黃蒲黃金箔九味而已自干山藥以後二十一味乃局方補虛門中山芋丸當時不知何故誤作一方以上載周密癸辛雜志余始得此說甚未以為然及考諸方書果信二方之合而為一也志之以俟博洽者訂焉</p>
<h4>內外傷辯</h4>
<p>李東垣內外傷辯先欲理脾胃極本之論也未免藥傷於雜前輩謂其如韓信之用兵多多益善蓋諱之也朱彥修醫推於儒其識見頗高於雜病傷寒之旨恐非其長　國朝名家作手帷戴原禮趙良仁二人之外落莫無聞也近代王汝言似窺庭戶得前人之糟粕或者謂其議論名浮於實要之成功則難矣哉(石門劉桂醫論)</p>
<h2>卷二</h2>
<h3>古今名醫</h3>
<h4>盛啟東</h4>
<p>盛御醫啟東永樂中東宮妃張氏十月經不通眾醫以為胎而脹一日　上謂曰東妃有病往視之東宮以　上命醫也導之惟謹既診出復曰使上病狀早若何晚若何一如見妃聞之曰朝廷有此醫者不早令視我何也出而疏方皆破血之劑東宮視之大怒曰好御醫早晚當誕皇孫乃為此方何也遂不用數日病益急乃復診之曰再後三日臣不敢用藥矣仍疏前方乃鎖之禁中家人惶怖或曰死矣或曰將籍沒家矣既三日紅棍前呼賞賜盛甚蓋妃服藥下血數斗疾遂平矣既而上亦賜之曰非謝醫乃壓驚也(王文恪公筆記)</p>
<h4>孫景祥</h4>
<p>長沙李文正公(東陽)自言三十九歲時患脾病其症能食而不能化因節不多食漸節漸寡幾至廢食氣漸　形日就憊醫咸謂瘵也以藥補之病愈劇歲將暮醫曰吾伎且窮矣若春木旺則脾土必傷重吾父聞之甚憂會有老醫孫景祥來視曰及春而解因怪問之孫曰病在心火故得木而解彼謂脾病者不揣其本故也子得非有憂郁之患乎曰嘻是也蓋是時有喪妻亡弟悲愴交集積久成病非惟醫不能識而自亦忘之矣於是盡去舊藥悉聽孫說三日而一藥藥不過四五劑及春來瘥因自嘆曰醫不能識病而欲拯人之危難矣哉又嘆曰世之徇名遺實以軀命托之庸人之手亦豈少矣哉向不此醫之值而徒托諸所謂名醫不當補而補至於羸憊而莫知悟也因錄以自戒(麓堂文集)</p>
<h4>盛文紀</h4>
<p>盛文紀以醫名吳中有謝訓導病頭疼發熱惡寒初作外感治或以風治見熱則退熱痛則止疼或又以氣虛治由是病轉劇人事不省飲食已絕家人意其必死謝曰吾病惟盛文紀不曾視脈命其子延至盛乃診視曰君幾誤死法當先去其滯遂用二陳東加大黃六七錢令守者曰急煎俾服至夜分左眼若動肝氣乃舒大泄則有可生之機矣至夜半時覺腹中有聲左眼果開遺穢物斗許中有堅硬如卵之狀以竹刀剖視之即痰裹面食也既而氣舒結散津液流通即索食矣眾醫問故盛曰謝君北人也久居於吳飲酒食面皆能助濕濕能傷脾脾土一虧百病交作有是病服是藥更何疑焉眾醫咸服</p>
<h4>劉宗序</h4>
<p>葑門仰同知(璇)喜看方書凡遇家人有病輒自料理其姊六月間勞倦中暑自用六和湯香薷飲之類反加虛火上升面赤身熱後邀劉宗序診視六脈疾數三部豁大而無力劉曰此病先因中氣不足內傷瓜果生物致內虛發熱非六和香薷所能治療況夏月伏陰在內重寒相合此為陰盛隔陽之症急用補中益氣東加附子三錢煨乾薑一錢同煎置冰中浸冷服之其夜得熟寐至天明微汗而愈仰拜謝曰伏陰之說已領教矣但不解以藥冰之何也劉曰此即內經熱因寒用寒因熱用之義何難之有仰大嘆服</p>
<h4>史載之</h4>
<p>宋蔡元長苦大便秘國醫用藥俱不能通利蓋元長不肯服大黃故也時史載之未知名往謁之閽者齟齬久之乃得見既而診脈史欲出奇曰請求二十文錢元長問何為曰欲市紫菀耳史遂以紫菀末之而進須臾大便遂通元長驚異詢其故曰大腸肺之傳送今之秘結無他以肺氣濁耳紫菀能清肺氣是以通也自此醫名大著元長深敬服之(施彥執比窗灸　)</p>
<h4>王時勉</h4>
<p>常熟徐氏病中氣不足延王時勉治脈曰此症宜補劑當用參　譬如築基造基不可以時日計其成緒須服藥百裹乃可望愈一至於十病不少減更謀一醫病勢增劇復請於王王脈之曰爾信道不焉又更別藥以致增劇徐莫諱乃曰曾服利氣之劑王曰必如吾言則生否則非吾所能也從之果及期而愈余嘗見格致余論載浦江鄭君仲夏患痢丹溪煎人參膏與服至五斤而痢止十斤而病安今人輕身重財不顧體之強弱病之淺深亟於求效況謀利嗜賄之徒動輒便施剛峻劫劑至於輕病變重重病至危往往有之古人有言曰不死於病而死於醫可不慎歟</p>
<h4>張養正</h4>
<p>元杜清碧學道武夷至婺源病腦疽自治不愈朱丹溪往視之曰何不服防風通聖散清碧曰已服數四矣丹溪曰蓋以酒製之清碧乃悟服不盡劑而愈自此心服丹溪弘治乙丑歲吾蘇儒學聞教諭恭遘羸疾吳醫治之率用三白湯無奇效一日謁張養正求治亦用三白湯家人曰前醫用之多矣養正正色曰子勿嘵嘵吾用湯使不同遂投熟附二三片煎俾服之即瘥</p>
<h4>黃師文</h4>
<p>宋人施彥執北窗灸　載黃師文治一婦人臥病垂三年狀若勞瘵名醫皆以虛損治不瘥師文往視之曰此病食陰物時或遭大驚也問之其婦方自省悟曰曩者食水團時忽人報其夫墜水由此一驚病延至今不能愈師文以青木香丸兼以利藥一帖與之須臾下一塊抉之乃痰包一水團耳蓋當時被驚怏怏在下而不自覺也其後安康無恙近時小兒醫陳日新形體　羸常日病熱至暮尤甚醫以陰虛治或以勞瘵治荏苒半載病勢轉危日新謂其父曰欲得大黃通利大腸為之一快雖死無憾其父齟齬久之姑從其請遂以導痰湯入硝黃劑煎服自辰至申下結糞一塊如核桃許抉開視之乃上元看燈時所食粉餌也因痰裹在外不能消化由是致熱日漸銷鑠耳向使日新不自知藥性則久為泉下人矣誰謂劉張之法無補於世哉</p>
<h4>蔣仲賓</h4>
<p>蔣仲賓江陰人精於醫後來吳中人未知奇有老兵行泣道上問之曰吾子為鬼魅所憑醫莫能治今垂絕矣仲賓往視之其子方裸體瞠目大詬且歐人人不可近仲賓即令其家取大蚯蚓數十條搗爛投水中去泥以水遙示病者病者見水遽起持飲未盡帖然安臥更與藥瀉之而愈由是名著吳下(王止仲半軒文集)</p>
<h4>王光庵</h4>
<p>金華戴原禮學於朱彥修既盡其術來吳中為木客吳人以病謁者每制一方率銀若干耳仲光時為儒未知醫也慕而謁焉因咨學醫之道原禮曰熟讀素問耳仲光歸而習之三年原禮復來見仲光談論大駭以為不如恐壞其技於是登堂拜母以定交時仲光雖得紙上語未能用藥原禮有彥修醫案十卷秘不肯授仲光仲光私窺之知其藏處俟其出也徑取之歸原禮還而失醫案悔甚嘆曰惜哉吾不能終為此惠也於是仲光之醫名吳下(楊南峰蘇談)</p>
<h4>蔣用文</h4>
<p>淮南蔣用文儒而醫老益精練由戴原禮荐入為御醫永樂中升院判極蒙寵異仁宗特加院使賜謚恭毅　國朝太醫院官賜謚唯公一人而已吾鄉沈以潛宣德間征人為醫士未甚知名會院判蔣用文病上遣中使問之曰卿既死誰可代者用文書以潛名進即擢為御醫進對稱旨　上謂用文能知人以潛為不負所舉矣觀此則知前輩忠濃之風互相推荐有如是夫</p>
<h4>張彥明</h4>
<p>曾德顯云人有恆心踐履端謹始可與言醫道矣凡有請召不以晝夜寒暑遠近親疏富貴貧賤聞命即赴視彼之疾舉切吾身藥必用真財無過望推誠拯救勿憚其勞冥冥之中自有神佑如臨安張彥明為醫未嘗計利應有求藥期於必效一日城中火災周遭　盡煙焰中獨存其居厥後子孫榮顯以此見天道好還信不誣矣(活幼心書)</p>
<h3>濃德</h3>
<h4>錢朱謙德</h4>
<p>昔錢乙在宋神宗時治皇子儀國公病螈　國醫莫能治乙進黃土湯遂愈神宗問曰黃土湯何以愈斯疾乙對曰以土勝水木得其平則風自止且諸醫所治垂愈已小臣適當其愈耳神宗悅其對嘗賚甚濃余近見丹溪先生誨子十說其一云同道中切宜謙和不可傲慢於人年尊者恭敬之有學人師事之倘有醫類但當義讓不可攘奪致怨招謗經云禮之用和為貴噫觀二公之謙德足以為後學之楷范</p>
<h4>王李義讓</h4>
<p>李某文江人醫名甚著家業饒裕崇仁縣有富民病篤邀李醫治之約病愈當以錢五百千為謝李療拯旬日不瘥李告歸病家以其不效聊贈二百千酬之而去復延臨川王醫李詢王所之以富民之疾委曲相告王曰君既不能治吾亦徒往耳李曰不然吾得其脈甚精處藥甚當奈何主人病不愈者蓋吾之運蹇不勝享其錢物耳余藥尚在吾往視之其疾必愈王素敬李診脈用藥一如其說惟易湯使而已越三日富人病痊合家大喜酬以五千緡王歸郡即往詣李以所得分贈其半李堅辭不受乃曰愈病得酬物君之功也於吾何有二人相讓逾時人咸嘆服吁與世之毀謗同道妒賢嫉能者有間矣(擇從錄)</p>
<h4>張陳二醫</h4>
<p>吾鄉張御醫致和為人治疾有召即往往則必為之盡力一日有老媼拜於途泣而告曰外家有子病濱於死貧無藥資公能恤之乎致和忻然往視其脈授以藥又封裹數服囑之曰旬日後啟之及愈後啟其封乃楮帛也媼往問之致和曰若子之疾積憂所致耳今雖愈安知不以貧苦而復作也吾為此計欲慰爾子之心俾爾衰年有所倚賴耳母子感泣拜謝而去近時陳聘夫征先君至友也博通諸家醫書融會精徹處方制劑率與眾異每應人之求不擇貧富嘗有一婦人產後得奇疾邀陳療治愿以首飾三十金致謝陳許諾及病瘥其夫置酒攜所約之物至陳曰前所以相諾者欲取信於君之夫婦也首飾乃婦人所愛吾安忍取之邪固隙之而去噫世之乘危射利之徒聞二公之行其顙得無有　乎</p>
<h2>卷三</h2>
<h3>辯惑</h3>
<h4>論弦脈</h4>
<p>四明張世賢醫學百問云弦之一脈在仲景則以為陰在叔和則以為陽吾蘇盧丹穀謂世賢議論牾其說不歸於一定決無為陽之說丹穀據脈經弦為陰三字辟之余竊疑焉按六經病篇曰尺寸俱弦者少陽受病按此以弦為陽也切詳仲景以弦為陰而又為陽者何謂也許叔微曰夫仲景之意以弦脈為陰者兼合乎眾脈而言且浮大者陽也兼之以動滑數之類安得不為陽沉細者陰也兼之以澀弱弦微之類安得不為陰也又少陰病篇曰手足寒脈弦遲者陰也蓋此亦兼遲而言之乃為陰症宜矣若夫沉微而弦沉伏而弦沉澀而弦沉細而弦皆為陰症之脈也蓋少陽之脈弦者按仲景之意以一脈而言之也然少陽之氣通於春春脈弦者以應春陽時令之脈也豈得不為陽也如浮大而弦洪長而弦浮滑而弦浮數而弦者皆為陽也夫仲景以弦脈分陰陽二用之理其義微也王叔和以弦脈為陽而不言弦為陰者是以獨指一脈而為雜病也故仲景之脈不可與雜病同日而語也丹穀駁之太過例以脈訣為高陽生之贗本不足取信亦難矣哉</p>
<h4>三焦有形狀</h4>
<p>王叔和言三焦無狀空有名千載之下議論不一至宋陳無擇之通達尚惑徐遁之荒唐且曰三焦有脂膜如掌大正與膀胱相對有二白脈自中出夾春而上貫於腦何其謬也按內經六節藏象論曰膽胃大腸小腸膀胱三焦者倉廩之本營之居也能化糟粕轉味而出者也五臟別論曰夫胃大腸小腸膀胱三焦此五者天氣之所生也其氣象天故瀉而不藏此受五臟濁氣名曰轉化之腑由是觀之聖人且以三焦為有形狀矣又按蔡西山脈經其間有論三焦一篇後引禮運記曰上焦若竅中焦若編下焦若瀆然未曾發明其義新安孫景思氏因推其義而解之曰上焦若竅竅者竅漏之義可以通達之物必是胃之上脘經曰上焦在胃之上口主納而不出是也中焦若編編者編絡之義如有物編包之象胃之外有脂如網包羅在胃之上以其能磨化飲食故脈訣云膏凝散半斤者此也必是脾之大絡此為中焦經曰主腐熟水穀是也下焦若瀆瀆者溝瀆之義可以決瀆可以傳道乃是小腸之下曰闌門泌別水穀自此而釐清濁之所此為下焦經曰在膀胱上口主瀉而不藏又曰主出而不內又曰下焦為傳化之府又曰三焦曰水穀之道路氣之所終始也蓋水穀之所入水自上而中自中而下至於糟粕轉輸傳道而下一無底滯如此尤可表其為有形明矣所謂形者非謂臟腑外別生一物不過指其所而為形耳或曰經之本文乃中焦若漚今改作編字於理未安愚謂蔡西山據理運記而言又按白虎通性情篇漚亦作編二說安得俱誤恐漚與編殆相似而訛之耳</p>
<h4>沖為血海</h4>
<p>甲乙經曰丈夫以右為命門左為腎女子以左為命門右為腎無求子曰男子得陰以生先生右腎女子得陽以長先生左腎是以女右手命門為子宮左手腎為血海二說不同何也張潔古云婦人皆左為腎右為命門男子主藏精者氣海也女子主系胞者血海也所主者異受病則一也此說當為定論靈樞經曰沖為血海任主胞絡血海者衝脈也</p>
<h4>胃家濕熱</h4>
<p>近世方書惟戴元禮症治要訣議論切當有益後學但其間有云諸血藥中半夏陳皮自不可少余竊疑之半夏性燥功能去濕健脾古人發渴者尤且禁用恐其性燥損耗血分耳惟氣症發渴者不在此例當時元禮必因好酒之人胃氣濕熱而致吐血者用之則宜若云諸血藥中自不可少恐非元禮之言或門人誤記之耳</p>
<h4>轉矢氣</h4>
<p>張長沙用大承氣湯必轉失氣則可服此失字之義其意何也曰仲景云傷寒潮熱大便六七日不行先服小承氣湯若腹中轉失氣此有燥糞方服大承氣湯蓋轉失氣是下焦泄氣俗云去屁也考之篇韻屎矢通用竊恐傳寫之誤矢為失耳宜從轉矢氣為是且文理頗順若以失字則於義為難訓矣(醫學全書)</p>
<h4>心胞絡</h4>
<p>越人以手心主之經謂之心胞絡且人之心為君主之官不受邪氣凌犯其所以致病者心包絡也故經曰真心不受邪者此也或謂心包絡乃胸中之脂膜或又謂之裹心之肉皆非也乃裹心之黃脂膜包於心外似脂非脂似肉非肉外則有細筋膜如系與心肺相連者此則是心包絡也余謂諸獸之內景大概亦與人相同觀其心形亦略可見矣(孫景思醫論)</p>
<h4>食掛</h4>
<p>朱思古眉州人年三十歲時得疾不能食聞葷腥即嘔惟用大鐺旋煮湯沃淡飯數數食之醫莫能治史載之曰俗輩不讀醫經而妄欲療人之疾可嘆可駭君之疾正在素問經中名曰食掛凡人之肺六葉舒張而蓋下覆於脾子母氣和則進食一或有戾則肺不能舒脾之為敝故不嗜食遂授之一方以清氣潤肺為治服之三日病者鼻聞肉味覺香取啖之甚美此事宋人載於傳記余考之岐黃書皆無食掛之說或記者假托耳或史公妄言以欺世惑人歟二者皆未可知也</p>
<h4>社日受胎</h4>
<p>今人指須眉發如雪而肌肉純白者以為社日受胎故男曰社公女曰社婆此說非也按徐巽胎育產化論云受胎之時母之經水正行榮血泛溢是以成胎則肌肉色白褚氏遺書所謂血先肌膚則身白者是也或又問曰毛髮皆白目視KT　KT　者何也經曰毛髮者血之余又云肝受血而能視今值水月方行血耗肝虛毛髮失所潤目睛失所養故也此理曉然足以破愚者之惑(席上輔談)</p>
<h4>通則不痛</h4>
<p>王荊公解痛字云宜通而塞則為痛今醫人凡痛須用通利臟腑故曰諸痛為實痛隨利減世俗以利為下也假令痛在表者實也痛在裡者實也痛在血氣者亦實也故在表者汗之則愈在裡者下之則愈在血氣者散之行之則愈豈可以利為下乎宜作通字訓則可故經曰通則不痛痛則不通此之謂也</p>
<h4>抑陽扶陰</h4>
<p>空同子曰夏月陽氣發散在外伏陰在內謂絲絲未絕之陰潛伏待時夏至為　如冬至之復也驗之井泉則陰之伏亦九淵之底而病暑者以大順散治之薑桂大熱意為過飲冰水瓜果者設非謂伏陰而用之也正丹溪所謂陰字有虛之義若作陰冷看其誤甚矣經云春夏養陽秋冬養陰王太仆注春食溫夏食寒所以抑陽扶陰之義也</p>
<h4>聖散子方</h4>
<p>聖散子方因東坡先生作序由是天下神之宋末辛未年永嘉瘟疫服此方被害者不可勝紀余閱葉石林避暑錄云宣和閑此藥盛行於京師太學生信之尤篤殺人無數醫頓廢之昔坡翁謫居黃州時其地瀕江多卑濕而黃之居人所感者或因中濕而病或因雨水浸淫而得所以服此藥而多效是以通行於世遺禍於無窮也弘治癸丑年吳中疫癘大作吳邑令孫磐令醫人修合聖散子遍施街衢並以其方刊行病者服之十無一生率皆狂躁昏瞀而卒噫孫公之意本以活人殊不知聖散子方中有附子良薑吳茱萸豆蔻麻黃藿香等劑皆性味燥熱反助火邪不死何待若不辯陰陽二症一概施治殺人利於刀劍有能廣此說以告人人亦仁者之一端也</p>
<h4>祝由科</h4>
<p>外台秘要載祝由一科丹溪謂之移精變氣祝說病由而已可治小病若內有虛邪外有實邪當用正大之法然符水惟膈上熱痰一呷涼水胃熱得之豈不清快亦可取效若內傷涉虛之人及冬天嚴寒之時符水下咽胃氣受傷反致害者多矣予考之文獻志云祝由南方神也或以祝訓斷謂但斷絕其受病之由二說兩存之未知孰是</p>
<h4>從乎中治</h4>
<p>王好古此事難知云從乎中治中治者少陽也又云寒熱俱傷必當從乎中治中治者溫之也一書兩出而各異余切有疑焉後閱東垣先生醫學發明云此中字蓋欲醫人臨病消息酌中用藥耳是中庸所謂君子而時中之義也此說明白</p>
<h4>草廬論運氣</h4>
<p>世之言運氣者率以每歲大寒節為今年六之氣所終來年一之氣所始其終始之交隔越一氣不相接續余嘗疑於是後見楊子建通神論乃知其論已先於余余請以先天後天卦以明之夫風木冬春之交北東之維艮震也君火春夏之交東南之維震巽也相火正夏之時正南方之離也濕土夏秋之交南西之維坤兌也燥金秋冬之交西北之維兌乾也寒水正冬之時正北之方坎也此主氣之定布者也地初正氣子中而丑中震也地後間氣丑中而卯中離也天前間氣卯中而巳中兌也天中正氣巳中而未中乾巽也天後間氣未中而酉中坎也地前間氣酉中而亥中艮也地終正氣亥中而子中坤也此客氣之加臨者也主氣土居二火之後客氣土行二火之間終艮始艮後天卦位也始震終坤先天卦序也世以歲氣起大寒者似協後天終艮始艮之義然而非也子建以歲氣起冬至者KT　契先天始震終坤之義子午歲之冬至起燥金而生丑中之寒水丑未歲之冬至起寒水而生丑中之風木寅申歲起風木卯酉歲起君火辰成歲起濕土巳亥歲起相火皆肇端於子半六氣相生循環不窮豈歲歲間斷於傳承之際哉然則終始乎艮者可以分主氣之所居位而非可以論客氣所行之序也(草廬文集)</p>
<h4>解內經義</h4>
<p>內經云天明則日月不明近見虞天民解云君火太過熱令早行火為離明之象故曰明淫觀其所釋終不了然偶閱醫壘元戎云天明則日月不明邪害空竅天所以藏德者為其欲隱大明故大明見則小明滅故大明之德不可不藏天若自明則日月之明隱矣所論者何言人之真氣亦不可大泄露當清淨法道以保天真苟離於道則虛邪入於空竅風熱之害人則九竅閉塞霧露之為病則掩翳精明取類者在天則日月不光在人則兩目隱耀也</p>
<h4>褚氏轉語</h4>
<p>褚氏遺書其論男女之脈與叔和大異不知有所據否如本氣篇中有一轉語云心以役氣肺以通氣脾以養氣腎以泄氣惟肝不用愚謂肝非無用也素問云肝者將軍之官謀慮出焉四臟皆與氣相關不以肝而節度謀用焉則必至於太過不及之患矣黃庭內經云肝臟膽腑最為緊切如變化設施斷謀遠慮其功有過於四臟者但以心主血肝藏血者收藏之義大抵血隨氣行不以氣而制馭之則血妄行若言肝與氣不相關則不可也</p>
<h4>肝常有餘</h4>
<p>近時醫者多執前人肝常有餘腎常不足之說往往舉手便用平肝之劑按聖濟經云原四時之所化始於木究十二之所養始於肝女子受娠一月是厥陰肝經養之肝者乃春陽發動之始萬物生長之源故戒怒養陽使先天之氣相生於無窮所以肝主色氣和則體澤氣傷則枯槁故養肝戒忿是攝生之切要也不可專泥前說</p>
<h4>飲食入肝</h4>
<p>症治要訣傷食門有云人之飲食下咽而入肝由肝而入脾由脾而入胃因食所傷肝食不理故痰涎壅塞如中風狀有半身不遂者肝主筋故也治以風藥則誤矣余謂此論甚正但云食下咽而先入肝次入脾再次入胃之語未免有疑按存中筆談云凡人之有咽有喉二者而已咽則納飲食喉則通氣咽則下入胃脘次入胃又次入腸又次入大小腸喉則下通五臟出入息五臟之氣呼吸正如冶家之鼓　人之飲食藥餌但自咽入腸胃何嘗能至五臟凡人之肌骨五臟腸胃雖各別其入腸之物英精之氣味皆能洞達但滓穢即入大小腸矣凡所謂某物入肝某物入腎之類以氣味到彼爾物質豈能至彼哉余因未諳前說而書此以證之或原禮別有一說也</p>
<h2>卷四</h2>
<h3>格言</h3>
<h4>異法方宜</h4>
<p>近時醫者偏執己見或好用熱藥或好用涼藥然素問有異法方宜論抑何嘗偏執邪古之良醫必量人之虛實察病之陰陽而後投以湯劑或補或瀉各隨其症若的是陽虛失血治以乾薑附子諸虛百損補以人參黃　痰熱壅嗽清以芩連大便結熱利以硝黃其法豈盡廢乎許叔微有云形有寒邪雖嬰孩亦可服金液臟有熱毒雖老羸亦可服大黃至哉通變之說也</p>
<h4>正治反治</h4>
<p>病有正治有反治然正治之法人皆知之反治者從順病氣之法也假如治熱症不可純用寒涼佐以辛溫之藥為之向導治寒症不可純用溫熱佐以辛涼之藥為之向導否則病拒藥而　格不入其病反縱反縱則痛發尤甚丹溪治疝用山梔除濕熱佐以烏頭散寒鬱古方以蜜煎附子蔥白散加大黃之屬即經所謂用寒遠寒用熱遠熱之意云</p>
<h4>權變處治</h4>
<p>昔聞老醫云治北方之疾宜以攻伐外邪為先治南方之疾宜以保養內氣為本蓋北方風氣渾濃稟賦雄壯兼之飲食倍常居室儉素殊少戕賊元氣之患一有疾病輒以苦寒疏利之其病如脫而快意通神矣若夫東南之人體質柔脆腠理不密而飲食色欲之過侈與西北之人迥異概以苦寒之劑攻之不幾於操刃而殺人乎余因其言而推展之曰北人稟氣固濃安能人人皆實南人稟氣雖薄安能人人皆虛學人當以權變處治因其虛實而藥之斯無一偏之弊矣</p>
<h4>治病六難</h4>
<p>嘉禾周伯器(鼎)云惟貴勢人之病難治者有三群醫爭欲售所能攻補雜施一難也遇下不以禮自重者不苟往所往者非所重二難也唯唯取悅孰得盡禁其欲三難也余亦有三難以補周之未備朝病暮藥速欲求效四難也獵涉方書有病自治五難也不信服藥惟仗鬼神六難也</p>
<h4>元氣為本</h4>
<p>脾土上應於天亦屬濕化所以水穀津液不行即停聚而為痰飲也夫人之病痰火者十之八九老人不宜速降其火虛人不宜盡去其痰攻之大甚則病轉劇而致危殆須以固元氣為本凡病推類而治之亦思過半矣(空同子)</p>
<h4>處方貴簡</h4>
<p>醫者識脈方能識病病與藥對古人惟用一藥治之氣純而功愈速今之人不識病源不辯脈理品數多每至十五六味攻補雜施弗能專力故治病難為功也韓天爵醫通云處方正不必多品但看仲景方何等簡任丹溪謂東垣用藥如韓信用兵多多益善者蓋諱之也</p>
<h4>心腹內虛</h4>
<p>夏文靖公云夫人之癰疽伏於身未潰則憂不測已潰則可緩治宜進和平之劑加之資補俟血氣調和而自愈若不小忍而惟毒之是攻侵淫不已心腹內虛恐患復生於他處不可不慮此雖文靖借喻國政之言深得病情故表出之</p>
<h4>形症脈病</h4>
<p>醫乃人之司命不可妄意為之須心中曉然指下明白以形症脈以脈究病按指當有法而指無大遽病必有源而病必詳推然後察人之虛實視時之寒燠體之肥瘠以至風土異宜如西北之地山廣土濃其俗所食黍麥粱肉故其稟差壯而多風痹之疾東南之地土薄水深其俗所食粳稻魚蝦故其稟受差弱而多脾胃之疾苟能察此用藥則庶乎可以言醫矣</p>
<h4>附子單服有毒</h4>
<p>吳球諸證辯云處州地阜嵐氣濕熱每行辛涼之藥多效金華連境相隔百余裡民俗有病動輒便施附子薑桂以為常事地之相近尚且不同況南北之地相去千裡者乎余嘗聞台州村落愚民有病單服附子是以患喉症死者多矣陳無擇三因論有云附子不宜單服須佐以人參甘草生薑方可以制其毒經云六分分來一分寒故熱病多而寒病少也醫者用薑桂烏附　燥之藥不審寒熱虛實歲運遷移猶如抱薪救火為害滋甚可不慎乎</p>
<h4>學貴知要</h4>
<p>世醫治病不先理脾胃及養血安神是不明標本之理也凡人病脾虛發熱痰氣壅塞不審虛實寒熱動輒牛黃清心丸一概施治殊不知藥性稍涼胃氣受傷失其本矣惟宜溫養其胃使其飲食少進而後攻其他疾是之謂標本之理也前輩有云學貴知要不在貪多用貴適時不專泥古正此謂歟</p>
<h4>脾胃屬土</h4>
<p>經云脾為黃婆胃為金翁主養五臟六腑若脾胃堅固則津液通行氣血流轉使表裡沖和一身康健若脾胃一虛何病不起蓋脾胃屬土萬物資生李空同曰五行木金水火四氣不納邪邪入則壞惟土納汗汗變則化化則神是故貫四時而獨功也在人脾為土游溢精液輸灌肺腎肝心不然百物食之腥葷臭味穢雜於胃中何以發神明而行變化莊子曰神奇則臭腐臭腐復為神奇蓋言土也</p>
<h4>真元根本</h4>
<p>五勞者五臟之勞皆因動作勉強用力過度曰勞索矩新書云受氣貪欲則為勞夫人身之真元根本氣血精液是也世之勞瘵之症最為難治蓋因人之壯年恣意酒色以致耗散真元不生津液遂至嘔吐血痰骨蒸體熱腎虛精憊面白頰紅白濁遺精及痰涎咳嗽謂之火乘金候重則半年而死輕則一年必危俗醫不究其源苦以大寒大熱之藥妄投亂進殊不知大寒則氣愈虛大熱則血愈竭是以世之犯此疾者多不能免於死由醫之不得其人也良可憫哉</p>
<h4>用藥有權</h4>
<p>震澤王文恪公云今世醫者率祖李明之朱彥修其處劑不出參朮之類所謂醫之王道也信知本者矣然病出於變非參朮輩所能效者則藥亦不得不變可變而不知變則坐以待亡變而失之毫厘則反促其死均之為不可也故曰可與立未可與權藥而能權可謂妙矣明之彥修未嘗廢權也世醫師其常而不師其變非用權之難乎(震澤文集)</p>
<h4>寒熱折衷</h4>
<p>東嘉項昕氏云堅痛為熱本指瘡瘍而言經曰諸痛腫癢瘡瘍皆屬心火蓋心主熱化故痛屬熱即不以寒言至於急痛因寒故舉痛論諸痛為寒之說經曰寒淫於內以辛熱散之佐以苦寒張長沙以辛熱之劑散其錯亂風寒之氣良以此耳凡所臨症固當察脈之陰陽驗人之虛實不可專以為有熱而無寒亦不可專以為有寒而無熱斯能盡折衷之道也</p>
<h3>妄治</h3>
<h4>劉文泰</h4>
<p>弘治末年　孝宗皇帝之崩病熱也院判劉文泰誤以熱劑進　上服之渴甚索水飲文泰執不可內侍有進西瓜者　上啖之僅能出言召大臣劉健等受顧命於是文泰下獄然僅謫廣西戍而死昔後周姚僧坦名醫也帝因發熱欲服大黃藥僧坦曰大黃乃快藥耳至尊年高不宜輕用帝不從服之遂至不起及明帝有疾諸醫皆謂至尊至貴不可輕脫宜用乎藥僧坦曰脈洪而實必有宿食不用大黃必無差理帝從之果下宿食乃愈醫者當先明強弱虛實又察脈之沉浮非大黃之罪醫者之誤也</p>
<h4>劉觀妄對</h4>
<p>太醫院院判劉公(觀)常侍　太宗左右大暑中　上方束一帶乃片腦合成者問觀曰此帶何如觀對曰片腦性寒傷腎惟有香耳　上遽命解去按本草雲片腦性大辛善走故能散熱今劉謂之性寒何也丹溪云龍腦屬火諸香皆屬陽豈有至香之物而反寒乎噫劉觀漫言蓋不學無術之過歟</p>
<h4>醫僧庸妄</h4>
<p>陳汝中嘗病脾胃鬱火之症求治於盛用美盛診其脈曰如此治可生如彼治可以死如此治可以少生如彼治可以速死既而治之汝中遲其效或以浮屠善醫荐者汝中惑其說遂求治飲其藥嘔血一升遂死噫醫以用藥藥以攻疾疾不能去而反以致死則何以醫藥為哉彼浮屠者乃庸妄人也目不知醫經口不辯藥性指不察脈候人之虛實病之新久一切置之不問而惟藥攻擊之其殺人蓋亦多矣予咎汝中之不善擇醫而致速死書此以為世輕服藥者之戒</p>
<h4>妊婦藥誤</h4>
<p>昆山周知縣(景星)家一婦病腹中塊痛有產科專門者診之為氣積投以流氣破積之劑令人以湯餅軸戛之不效後得一醫診之乃曰此胎氣也用四物湯安之而愈後果生一男又南京戶部主事韓文亮妻病腹中作痛按之若有物在臍之左右適　中一名醫至京請診視之云是　瘕服三棱蓬朮之劑以其不效乃止旬余腹漸覺大至數月生二男噫此皆有命而然可不慎哉(菽園雜記)</p>
<h4>無病服藥</h4>
<p>浙人柯敬仲陳云嶠　從化三人自恃稟氣強盛預防癰疽之患皆好服防風通聖散每日須進一服以為快其後三人不及中壽之年無病暴亡噫豈非好服涼藥太過銷爍元氣急無所救者歟欲求益生反致殞命嗟夫張潔古有云無病服藥乃無事生事可不戒哉(楊太史山居新話)</p>
<h4>木鱉子有毒</h4>
<p>木鱉子不可服與豬肉相反犯之立死余嘗見劉績霏雪錄載一富人生二子皆鐘愛之恣其食啖遂成痞塊其父得一方用木鱉子煮豬肉同食之其幼子當夜死明日長子死近見山塘吳氏子年二十余患便毒清晨服木鱉子藥至午飽啖豬肉須臾叫噪而死是以益信劉之所記不妄云</p>
<h4>世醫好奇</h4>
<p>老人痰氣及小兒慢驚脾風欲絕之時虛痰上攻咽喉引氣粗大脈來浮數是謂陰盛格陽或誤認為陽氣已復又有喉中痰響如鋸一二日間但閉目不開此虛極之故醫者不識覆燈將滅之證反行下痰之藥往往痰隨氣下氣隨痰絕醫者慎之頃歲吳士黃得之妻病羸疾絕食骨立延世醫治遂用豬尾膏療之藥才入咽立斃余見顱囟方書豬尾膏主治痘瘡血　旬日後不結膿窠痂　心火炎燥氣喘妄言如見鬼物者用之今乃以治氣血久虛之人致其速死觀此醫其可以世論耶書此以警好奇者</p>
<h3>藥戒</h3>
<h4>礬石有毒</h4>
<p>余讀淮南子曰人食礬石而死蠶食之而不飢魚食巴豆而死鼠食之而肥類不可必推也昔見宋人記洪文安公亦信庸醫誤服礬石丸竟至精液皆竭七竅流血而死淮南子之言亦有征矣</p>
<h4>寒食散猛毒</h4>
<p>魏晉間人喜服寒食散即五石散是也孫真人載於千金方中而皇甫謐因試其藥遂為廢人隆冬裸袒食冰當暑畏熱悲恚欲自殺噫服此散者不聞有利於人其為害甚多余讀晉史載裴秀服此散遂致暴死裴秀不足較若皇甫謐諳藥性著醫書而亦誤服何哉故顏之推深戒子孫不可輕服古方乃援引皇甫謐殷仲堪為戒者此也(石林避暑錄話)</p>
<h4>戒服松脂</h4>
<p>顏之推嘗戒兒輩有曰凡欲餌藥必須精審不可輕妄近有王愛州在鄴曾服松脂不得其法服之腸塞而死為藥所誤者甚多汝曹不可不深戒也余嘗見東坡志林備載服松脂法稱此方有牢牙駐顏烏須之功惜坡翁未深考焉</p>
<h2>卷五</h2>
<h3>養生雜言</h3>
<h4>不處大室</h4>
<p>室大則多陰台高則多陽多陰則　多陽則痿此陰陽不適之患也是故先王不處大室不為高台味不眾珍衣不　熱　熱則脈塞脈塞則氣不達味眾珍則胃克胃克則中大鞔大鞔則氣不達以此求長生其可得乎(呂氏春秋)</p>
<h4>七十懸車</h4>
<p>禮年七十懸車懸車者以年薄虞淵如日之仄體氣就損神候方落不可復勞形驅於風塵役方寸於外物矣(陶隱居真誥)</p>
<h4>形神福全</h4>
<p>導筋骨則形全剪情欲則神全靖言語則福全(亢倉子)</p>
<h4>養蔬養果</h4>
<p>灌園所以養蔬也驅禽所以養果也養生之士豈不如養蔬養果之人乎較其理之輕重何如哉(耄智余書)</p>
<h4>保養為本</h4>
<p>天地以生成為德有生所甚重者身也身以安樂所可致者以保養為本世之人必本其本則本必固本既固疾病何由而生夭橫何由而至此攝生之道無逮於此(養生雜抄)</p>
<h4>四養</h4>
<p>養耳力者常飽養目力者常瞑養臂指者常屈信養股趾者常步履(褚氏遺書)</p>
<h4>修昆侖</h4>
<p>發宜多梳齒宜數叩液宜常咽氣宜精煉手宜在面此五者所謂子欲不死修昆侖耳(黃庭內經)</p>
<h4>五難</h4>
<p>養生有五難名利不滅此一難也喜怒不除此二難也聲色不去此三難也滋味不絕此四難也神慮精散此五難也五者必存雖心希難老口誦至言咀嚼英華呼吸太陽不能不夭其年也五者無干胸中則信順日深玄德日全不祈喜而自福不求壽而自延此養生大理之所歸也(嵇康養生論)</p>
<h4>明目化痰</h4>
<p>食後以小紙捻打噴嚏數次氣通則目自明痰自化(瑣碎錄)</p>
<h4>存泥丸</h4>
<p>早起東向坐以兩手相摩令熱以手摩額上至頂上滿二九止名曰存泥丸(太平御覽)</p>
<h4>菊花枕</h4>
<p>菊花枕久之令人腦冷以決明子置之枕中最能明目(瑣碎錄)</p>
<h4>叩齒得壽</h4>
<p>夜行常琢齒琢齒亦無正限數也煞鬼邪鬼常畏琢齒聲是故不得犯人也若兼之嗽液祝說亦善昔鮑助者都不學道亦不知法術年四十余忽得面風氣口目不正氣入口而兩齒上下恆相切叩甚有聲響如此晝夜不止得壽年一百十七歲(真誥)</p>
<h4>陰陽失和</h4>
<p>凡人飲食恣意膏粱陰陽失和最為百病之本致使七情內損六氣外侵所以共成其害如此惟當勤於藥術療理豈得倚仗於神明乎所謂鬼道顯醫道微可慨也夫(真誥)</p>
<h4>公度知道</h4>
<p>柳公度年八十余步履輕健或求其術曰吾無他術但未嘗以元氣佐喜怒氣海常溫耳蓋知道之士怒不見於色而暴悍之夫動輒忿戾其所傷多矣攝生者宜以此為戒</p>
<h4>奉養倒置</h4>
<p>進士劉遁遇異人曰世人奉養往往倒置早漱口不若將臥而漱去齒間所積牙亦堅固(云笈七簽)</p>
<h4>移心法</h4>
<p>張畋苦　疾既瘳謁九河公公曰子於病中曾會移心法否畋對曰未也公曰人能於病中移其心如對君父慎之靜之不藥而愈(張畋語錄)</p>
<h4>生子不備</h4>
<p>雷電交合之子必病癲狂故曰有不戒其容止者生子不備也(玄女中房經)</p>
<h4>腸胃虛薄</h4>
<p>尊年之人不可頓飽但頻頻與食使脾胃易化穀氣長存若頓令飽食則多傷滿老人腸胃虛薄不能消納故成疾患為人子者深宜體悉此養老之大要也(奉親養老書)</p>
<h4>思邈論養性</h4>
<p>凡人飽暖安樂縱情恣意以致夭折者多矣使辛苦憂畏拂亂心志能謹畏無意外事可以永年孫思邈論養性以憂畏為本其言反復切甚正此謂也(倚覺粗雜記)</p>
<h4>養生小勞</h4>
<p>善養生者形要小勞無至大疲故水流則清滯則濁矣養生之人欲其血脈運動如水之流坐不欲至倦行不欲至勞頻行不已然宜稍緩即是小勞之術也嵇康有云流水不腐戶樞不蠹謂其運動而然耳養生者識之</p>
<h3>湯名</h3>
<h4>越脾湯</h4>
<p>金匱要略水氣門越婢一湯成無己注云脾治水穀為卑臟其職若婢故名越婢楊善注云脾裨也在胃之下裨助胃氣生化水穀二說皆非余閱趙良仁金匱衍義方論云越婢之一湯婢當作脾然甘者是土之本味所以脾氣不和和以甘熱胃氣不清清以甘寒故以石膏麻黃甘草行其津液所以發越脾氣以散皮膚間風水越脾之名蓋有自云</p>
<h4>三建湯</h4>
<p>三建湯所用附子天雄川烏而莫曉其命名之義比見一老醫云川烏建上頭目虛風者主之附子建中脾胃虛寒者主之天雄建下腰腎虛憊者主之故名之曰三建湯是也(癸心雜志)</p>
<h4>承氣湯</h4>
<p>凡人胃氣為濕熱所傷必瀉其土實而元氣乃得上下同流此承氣之所由名也</p>
<h4>瀉心湯</h4>
<p>或曰吐血衄血之症乃心氣不足所致仲景治法不用補心湯而反用瀉心湯何也余曰若心氣獨不足則不止吐衄也此乃邪熱因不足而客之則虛火妄動故有吐衄之症得大黃之寒以苦泄其熱以苦補其心則火亦有制而無妄動之害一舉而兩得之矣豈莫學所能知哉</p>
<h4>達生散</h4>
<p>古人湯散命名必有取義如催生方名為達(音脫)生散何也羊初生曰達羊子易生無留難也故取其易生而無產難之義詩經生民篇云誕彌厥月先生如達是也</p>
<h2>卷六</h2>
<h3>傷寒</h3>
<h4>傳經失次</h4>
<p>戴原禮辯傷寒論中所謂傳經一日太陽二日陽明三日少陽豈有第二日病在裡而第三日又在半表半裡者何也以五行生克論之陽主生則水生木太陽膀胱陽水合傳之少陽膽木兼太陽在表少陽表裡之間陽明在裡自外漸入於內次第正當陽明居少陽之次此說實前人之所未發陶節庵傷寒瑣言未之及何耶</p>
<h4>退陰回陽</h4>
<p>近世患陰症傷寒往往疑似參瘥初便不敢用附子直待陰極陽竭而用之則為遲矣大抵治法有是病而投是藥豈可狐疑而誤治也哉且夾陰傷寒先因欲事伏陰於內卻又著寒內外皆陰陰氣獨盛則陽氣以衰故脈沉而足冷也必須急用人參健脈以益元氣為主佐以附子溫腎經散寒邪以退陰而回陽也若舍此二味不用將何以救之哉近見一人病陰症傷寒先因感寒濕既而發熱不食數日後不省人事語多錯亂神思昏迷面青齒露人謂其必死張致和診之兩手脈沉細先以小柴胡湯與之急以四君子東加炮附子數片煎成藥置盆中以水制其熱性少時令溫與服其脈漸回神思亦爽更用他藥調理而愈</p>
<h4>仲賓治傷寒</h4>
<p>一人病傷寒期月體兢兢而振齒相擊不能成語醫環視束手仲賓後至診之曰急取羊肉來群醫曰傷寒大忌羊肉仲賓曰諸君無嘵嘵以羊肉斤許熟之取中大臠別用水煮良久取汁一升與病患服須臾戰止汗大出而愈(王止仲文集)</p>
<h4>秀州醫僧</h4>
<p>平江張省　病傷寒眼赤舌縮唇口破裂氣喘失音大便自利勢甚危篤諸醫皆欲先止其瀉適有秀州醫僧寶鑒者過蘇張延視診脈乃投以茵陳五苓散白虎湯而愈諸醫問故僧曰仲景云五臟實者死今大腸通更止之死可立待五苓以導其小便白虎以導其邪氣此則醫家之通曉也何難之有(云麓漫抄)</p>
<h4>傷寒壞症</h4>
<p>世謂傷寒汗吐下三法差謬名曰壞症昔張致和用獨參湯救治一人垂死手足俱冷氣息將絕口張不能言致和以人參一兩去蘆加附子一錢於石銚內煎至一碗以新汲水浸之若冰冷一服而盡少頃病患汗從鼻粱尖上涓涓如水此其驗也蓋鼻粱上應脾若鼻端有汗者可救以土在身中周遍故也近陸同婦產後患疫症二十余日氣虛脈弱即同壞症亦以此湯治之遂愈孫真人云人參湯須得長流水煎服若用井水則不驗蓋長流水取其性之通達耳</p>
<h3>頭痛頭風</h3>
<h4>頭痛治驗</h4>
<p>世俗嘗言頭無寒疼腹無熱痛此不經之說也黃帝問曰病頭痛以數歲不已此何說岐伯對曰當有所犯大寒內至骨髓髓者以腦為主腦逆故令頭痛齒亦痛也余昔治楊氏婦年五十余病頭痛歷歲侵久或治以風或治以痰皆不效余脈之左寸沉遲而芤曰此氣血兩虛也用當歸二兩附子三錢一服減半二服其病如失更不復發用藥對症不啻影響有如是乎一婦人偏頭痛久不愈醫用大承氣湯即瘳何也蓋陽明燥金勝乘肝氣鬱氣鬱則血壅血壅則上下不通故燥結以承氣湯疏通之則氣血流行而肝氣通矣傷寒治例云少陽偏頭痛多便閉宜下之此為新病者設若久病元氣不足者更作處治</p>
<h3>膈噎諸氣</h3>
<h4>氣主生化</h4>
<p>天地之氣萬物之祖也是故氣化則物生氣變則物易氣盛則物壯氣弱則物衰氣正則物和氣亂則物病氣絕則物死是故先天而天弗違後天而奉天時在乎善養之而無暴云耳內經云百病皆生於氣良有以哉</p>
<h4>形小氣大</h4>
<p>俗儒謂形實氣虛虛如何載得實殊不知形小氣大形亦是氣之所凝結者也氣雖運乎形之外而實未嘗不行乎形之中若非氣之至健則形雖實豈能以自立哉氣在天地則該乎萬物而言在人身則該乎一體而論夫人之一身所以能運動奔走者莫非氣之所載及其此氣一絕則形即仆矣是氣之健非形之健也虛能載實此之謂也(理學類編)</p>
<h4>七氣湯</h4>
<p>諸氣成疾有若同門失歡惟和而已若用峻劑下之則元氣受傷變症百出矣余嘗治周時中內傷七情腹中有塊堅牢如杯或上或下小腹絞痛氣奔息急七日不食別無他症此名奔氣古人雖有奔氣湯與脈不對只宜加減七氣湯大劑與服至夜半稍定明旦又進一服氣平如故若不論其虛實概以耗氣破堅之劑投之則元氣愈傷而氣喘愈急矣所謂差之毫厘失以千裡也</p>
<h4>貓胎治噎</h4>
<p>貓生子胎衣陰乾　存性酒調服之治膈噎病極有效嘗聞貓生下子後即食胎衣若欲取之必候其生時急令人取可得若稍遲則落其口矣(菽園雜記)</p>
<h3>喘嗽痰火</h3>
<h4>附子治嗽</h4>
<p>吾鄉沈方伯良臣患痰嗽晝夜不能安寢屢易醫或曰風曰火曰熱曰氣曰濕湯藥雜投形羸食減幾至危殆其子懇求治於張致和張脈之乃曰脈沉而濡濕痰生寒復用寒涼脾家所苦宜用理中東加附子其夜遂得貼枕徐進調理之劑果安或曰痰症用附子何也殊不知痰多者戴原禮常用附子療治之出症治要訣</p>
<h4>積痰類祟</h4>
<p>昔劉子正妻病氣厥笑哭不常人以為鬼祟所憑後遇儒醫倪惟德胗其左右手曰脈俱沉胃脘必有所積有所積必作疼遂以二陳湯導之吐痰升許病果愈</p>
<h4>單方愈嗽</h4>
<p>仇山村少時嘗苦嗽疾百藥不瘳有越州學錄者教其取桑條向南嫩者不拘多寡毋條約寸許用二十一枝納於沙石鍋中用水五碗煎至一碗遇渴飲之服一月而愈(仇遠稗史)</p>
<h4>火有虛實</h4>
<p>盤溪周訓導舜卿年五十時患痰火之症外貌雖　稟氣則濃性不喜飲請朱醫視脈孟浪指為虛火用補中益氣東加參朮各五錢病者服藥逾時反致氣喘上升喘息幾不能活復延錢中立視之曰此實火也宜瀉不宜補痰氣得補火邪愈熾豈不危殆先用二陳湯探吐出痰碗許其夜安寢平明仍用二陳去半夏加朴硝大黃下結糞無數其熱始退更用調理藥旬日始安吁不識病機妄施補瀉鮮不敗事者矣(e)麻油化痰蘇合香丸古方多以酒調服是以往往服者不能奏功若以人參湯佐之其功倍於常也凡中風不省人事牙關緊急者用此丸旋加麝香一二分以真麻油調灌之無不吐痰而蘇者蓋麻油最能化痰試滴痰上須臾痰化為水若口開脈絕者不救</p>
<h3>泄瀉痢疾</h3>
<h4>理脾安腎</h4>
<p>凡病患湯飲入胃就覺至臍下便欲小便由精氣不輸於脾不歸於肺則心火上攻使口燥咽乾是陰氣太甚也飯後隨即大便乃脾腎之疾夫脾腎交濟所以有水穀之分脾氣雖強而腎氣不足故飲食下咽而大腑為之飧泄也治法宜理脾安腎蓋脾腎之氣交通則水穀自然克化此所謂妙合而凝者也(仁齋直指方)</p>
<h4>痢疾治驗</h4>
<p>一人大醉飲水與冷茶無數後病便血甚鮮先以吳茱萸丸翌日又與平胃五苓散各半三大服血止復變白痢又與神應丸四服白痢乃止安和如故或問曰何不用寒涼解毒所用者溫熱之劑醫曰君用寒涼藥其疾大變難療寒毒內傷復用涼藥非其治也況血為寒所凝侵入大腸間而滯下作痛得溫乃行所以用溫熱其血自止經曰治病必求其本此之謂也(醫壘元戎)</p>
<h4>脾胃傷冷</h4>
<p>吾邑陸炳文本富家子年三十歲時七月間患血痢日夜百余度肚腹　痛醫悉用芩連阿膠粟殼之劑皆不效其病反劇家人驚怖邀老醫劉宗序脈之曰脾胃受傷苦用寒涼病安得愈投以四君子東加乾薑附子其夕病減半旬日而愈或問其故劉曰病者夏月食冰水瓜果太多致令脾家傷冷血不行於四肢八脈滲入腸胃間而下吾所用附子乾薑補中有發散其所傷冷毒故得愈也王汝言雜著有云芩連芍藥為痢疾必用之豈其然乎</p>
<h4>食蟹致痢</h4>
<p>宋孝宗嘗患痢眾醫不效德壽憂之過青宮偶見小藥肆遣使問之能治痢否對曰專科遂宜之至請得病之由語以食胡蟹多故致此疾遂令診脈曰此冷痢也遂進一方用蓮藕一味不拘多寡取新采者為佳細搗汁以熱酒調服搗時用金杵臼酒調數次而愈德壽大喜就以金杵臼賜之仍命醫以官至今呼為金杵臼嚴防御家可謂不世之遇(仇遠稗史)</p>
<h4>澀劑禁用</h4>
<p>仲景治痢法可下者十法可溫者五法謂之下者率用承氣東加減謂之溫者率用薑附湯何嘗以巴豆粟殼之劑乎俗醫見自利而渴煩躁不眠手足微冷者皆用苦劑攻之殊不知陰盛發燥欲坐井中故前哲用吳茱萸湯甚者用四逆湯經曰陽虛陰乘之謂也丹溪用吳茱萸湯治霍亂吐瀉轉筋者亦此意也近時醫人不審痢之赤白病之新久驟用罌粟殼石榴皮之類以為秘方其功但施於久痢洞泄者則宜若初起者用之閉塞積滯變生別症以致經年累月謂之體息痢者是也世俗但知澀劑之能塞不知通劑之能塞也後之學人貴在變通不可執一而治</p>
<h4>冷酒致痢</h4>
<p>參政陸公(容)嘗於客座聞一醫者云酒不宜冷凍飲料陸頗訝之謂其未知丹溪之論而云然耳二三年後秋間陸公偶得痢疾延此醫治之云公得非多飲涼酒乎陸以實告遵信丹溪之言暑天常飲冷醇酒醫云丹溪但知熱酒之為害而不知冷酒之害尤甚也服藥數帖而止余閱儒門事親云張戴人治一人病危熱戴人往視之其人曰我別無病三年前當隆暑時出村野有以煮酒饋余者適村落無湯器冷凍飲料數升便覺左脅下悶漸作痛結硬如石至今不化針灸磨藥殊無寸效戴人診其兩手脈俱沉實而有力先以獨聖散吐之一涌二三升氣味如酒其痛即止後服和脾安胃之劑而愈始知冷酒之致病也如此</p>
<h4>血痢治驗</h4>
<p>王一山年六十余因多食蟹蓄毒在臟秋患大便膿血日夜三四十度醫率用止血之劑不效延至半載氣血漸弱飲食漸減肌肉漸瘦服熱藥則腹愈痛血愈下服涼藥則瀉注諸醫技窮束手待盡而已所親邀余治之遂用人參一兩椿白皮五錢甘草一錢五分一服減半二服漸可三服膿血頓止大便見糞矣後加調理半月顏貌腴澤精神倍強飲食如故脈息平和矣</p>
<h3>瘧疾</h3>
<h4>瘧禁劫藥</h4>
<p>瘧之為疾寒熱並作謂之瘧二日一發謂之　經年累月謂之　內經問答詳盡今人未嘗深究但持無痰不成瘧之說傳習砒黃豆粉為丸衣以朱砂謂之瘧丹或以常山一味為君名為瘧藥不問虛實概行施治或偶與痰瘧相投暫得取效若脾虛氣弱之人瘧不因痰而或七情所致者投之大作嘔吐精源髓海倒流逆動病勢轉增為禍不淺婦人所畏者吐耳尤難遽投當詳其病源有暑風濕痰食老瘧之不同若貧賤之人其身雖苦其志則安雖用砒石朱砂有毒之藥以熱攻熱亦能取效至於富貴之人往往役心大甚加之奉養過濃內火與外火俱動以熱攻熱變為吐血瀉血瘡瘍嘔吐之症豈可以一概而治之哉</p>
<h4>附子愈瘧</h4>
<p>嶺南一大商病瘧胸中痞悶煩躁昏不知人愿得涼藥清利上膈其症上熱下寒脈沉而微以生薑附子作湯浸冷俾服逾時蘇醒自言胸膈疏爽然不知實用附子也若庸工見其胸中痞悶投以涼藥下之十無一生然此法惟山嵐瘴氣所致下體虛冷之人宜施若暑瘧痰瘧則別處治可也</p>
<h2>卷七</h2>
<h3>仙方</h3>
<h4>純陽仙方</h4>
<p>吳中王省　遇仙丹治風淫末疾而四肢為四末也脾主四肢風邪客於肝則淫脾脾為肝克故疾在末若風寒濕痹而氣滯不行或麻木作痛手足不仁此為有餘之症法當行氣勝濕服此丹有功若痿痹之症得之血虛所致認作有餘而治去生不遠或有問余曰此方純陽真人所授何西北之人服者多效東南之人服者幾危其理殆不可曉余曰西北水深土濃稟氣盛是以烏附薑桂之劑可以勝之脾惡濕得燥則愈南方稟氣弱木動火明陽氣易升投之為害甚矣故曰天有四時寒暑迭用地有五方高下隨宜此之謂歟</p>
<h4>張景芳遇仙</h4>
<p>成化丁酉年七月間欽天監張台官景芳領朝命往陝西秦邸興平王治HT　張至半途偶獲腹脹之症醫莫能療寓居臥龍寺待盡而已抵夜見　眉一叟忽過訪自云能治此疾張延診視兩手脈即口授一方以杏仁陳皮海螵蛸等分為細末佐以　樹葉槐樹葉桃樹枝各七件翌日正午時汲水五桶煎三四沸至星止時再煎一沸患者就浴令壯人以手湯中按摩臍之上下百數少時轉矢氣病即退矣張領教一如其法黎明此老復至病去十之七八矣酬以禮物纖毫不受是夕腫脹平復此老更不復見矣或謂張景芳遇仙云(客座新聞)</p>
<h4>醫者得道</h4>
<p>昔有貴人病而天方不雨更十數醫皆莫效最後一人至脈已則以指計甲子曰某夕天必再竟出不言治疾之方貴人疑之曰豈謂吾疾不可為耶何言雨而不及藥我也及是夕果雨貴人喜起而行乎庭達旦疾若脫去明日此醫來謁貴人喜且問曰前日視脈而言雨今得雨而果瘳何也醫對曰君侯之疾以憂得之然私計君侯忠且仁所憂者民耳以旱為憂以雨為瘳理固然也何待藥而愈也若是醫者可謂得其道矣方書之所具成說之所有夫人皆能用也求之於言語之外而得其所不言之意非奇士其孰能之(遜志齋文集)</p>
<h3>神針</h3>
<h4>女膝穴</h4>
<p>劉漢卿郎中患牙槽風久之頷穿膿血淋漓醫皆不效在維楊時有丘經歷妙於針術與漢卿針委中及女膝穴是夕膿血即止旬日後頷骨蛻去別生新者完美如昔又張師道亦患此症復用此法針之亦愈委中穴在腿　中女膝穴在足後跟考諸針經無此穴惜乎後人未之知其神且驗也(癸辛雜志)</p>
<h4>可久針肉龜</h4>
<p>一人患腹疼延葛可久視脈謂其家曰腹有肉龜視熟寐吾針之勿令患者知知則龜藏矣患者問故家人誑曰醫云寒氣凝結多飲醇酒自散矣患者喜引觴劇飲沉酣而臥家人亟報葛以針刺其患處病者驚悟俾以藥餌須臾有物下儼如龜形厥首有穴蓋針所中也病遂愈(黃日升蓬窗類記)</p>
<h4>讀易悟治法</h4>
<p>江西醫士黃子濃為術精詣其治往往出人意表有富翁病泄瀉彌年禮致子濃診療浹旬莫效子濃曰予未得其說求歸一日讀易至乾卦天行健朱子有曰天之氣運轉不息故合得地在中間如人弄碗珠只運動不住故在空中不墜少有息則墜矣因悟向者富翁之病乃氣不能舉為下脫也又作字持水滴吸水初以大指按滴上竅則水滿筒放其按則水下溜無余乃豁然悟曰吾可治翁症矣即治裝往翁家驚喜至即為治艾灸百會穴未三四十壯泄瀉止矣(朱石文集)</p>
<h4>香港腳灸風市</h4>
<p>蔡元長篇開封尹據案忽覺蟲自足心行至腰間落筆暈倒久之方蘇吏曰此疾非俞山人不能療遂召之俞曰真香港腳也灸風市一艾而去明日又覺蟲自足至風市便止又明日疾如初俞曰是疾非千艾不治一艾力盡故疾復作遂灸數百壯而愈一人足痹灸以風市肩隅曲池三裡尋亦愈(洪氏經驗方)</p>
<h3>奇疾</h3>
<h4>視正為斜</h4>
<p>淮安陳吉老儒醫也有富翁子忽病視正物皆以為斜凡幾案書冊之類排設整齊必更移令斜自以為正以至書寫尺牘莫不皆然父母甚憂之更歷數醫皆不諳其疾或以吉老告遂攜子往求治既診脈後令其父先歸留其子設樂開宴酬勸無算至醉乃罷扶病者坐轎中使人升之高下其手常令傾側展轉久之方令登榻而臥達旦酒醒遣之歸家前日斜視之物皆理正之父母躍然而喜且問治之之方吉老云令嗣無他疾醉中嘗閃倒肝之一葉搭於肺上不能下故視正物為斜今復飲之醉則肺脹展轉之間肝亦垂下矣藥亦安能治之哉富翁濃為之酬(云麓漫抄)</p>
<h4>視物倒植</h4>
<p>元末四明有呂復別號滄洲翁深於醫道臨川道士蕭云泉眼中視物皆倒植請治於復復問其因蕭曰某嘗大醉盡吐所飲酒熟睡至天明遂得此病復切其脈左關浮促即告之曰嘗傷酒大吐時上焦反覆致倒其膽腑故視物皆倒植此(不內外因)而致內傷者也法當復吐以正其膽遂以藜蘆瓜蒂為粗末用水煎之使乎且頓服以吐為度吐畢視物如常(九靈山房集)</p>
<h4>鄒妻發瘕</h4>
<p>張子和十形三療云戴人治王宰妻病胸膈不利戴人用痰藥一涌而出雪白蟲一條長五六寸有口鼻牙齒走於涎中病者忿而斷之中有白發一莖余按永徽中僧病噎者腹中破一物其狀如魚即所謂生瘕也嘉靖初長洲鄒表妻患小腹下左生一塊形如梅李久之吐出始則腐潰若米粞之狀中則若蜆肉之狀以指捻開則有長發數條在其內名醫竟不能治遂至不起余嘗見蛇發等瘕往往戴於方書或偶因食物相感假血而成理或有之不可指為妄誕也</p>
<h3>食忌</h3>
<h4>河豚有毒</h4>
<p>弘治巳未春鄰居一人食河豚子而斃與之同食者急飲穢汁雖無恙然猶數日始安嘗聞此魚有不可食者三赤目蒼點燕尾余若烹庖得法可食能發痼疾肝不熟食之令人麻子不熟食之令人脹食其眼則酸唯江陰人好食子必埋之於地中經二三宿取出煮竟日以紅曲同煮焉觀其色通紅則可食否則食之必死誤中其毒者用橄欖蘆根汁解之調地漿亦能解</p>
<h4>斑魚微毒</h4>
<p>劉文潔妻有妊產期將近偶食斑魚入夜四肢厥冷胸滿腹脹氣塞痰上喘息不定須臾叫躁而死噫斑魚長不滿三寸然其形狀亦類河豚有娠者宜禁食本草云河豚無毒然則斑魚其毒若是況河豚乎本草之言吾亦未深信也</p>
<h4>酒製馬毒</h4>
<p>席上輔談云凡驢馬之自斃者其肉食之皆能殺人而肝尤甚醫書云馬火畜也有肝而無膽五臟不足故食其肝者死史記云秦穆公亡馬野人得而食之者三百余人吏欲法之繆公曰君子不以畜產害人吾聞食馬肉者不飲酒傷人乃皆賜酒而赦之近見葛生食馬肉致病極重醫教以煮酒入鹽飲之而愈然則酒可以解馬毒也又周密癸辛雜志云馬肝至毒人欲食之者以芍藥根同煮之則無毒矣或誤食之用芍藥濃煮汁飲之可制其毒矣</p>
<h4>豬腦柔物</h4>
<p>昔一人好食豬羊腦期年手足柔弱不能行遂成癱瘓按內則云豚去腦魚去乙鱉去丑鄭氏云是皆不利於人也左傳云晉侯夢楚子伏巳而鹽其腦子犯曰吉吾且柔之矣杜預注云腦所以柔物今人熟皮必用豬腦欲其柔也乃知內則與左傳之言信不誣矣(席上輔談)</p>
<h4>蔥蜜相反</h4>
<p>仲景金匱要略云蔥與蜜不可同食食之令人心疼正德間嘉興王姓者因遠歸以魚　饋送其姻家偶因荐觴食者咸死或謂其　之有毒故也竊意　與蜜安得殺人造　者其中必有蔥蓋蔥與蜜同食能殺人耳古人云蜜罐不可盛　食之致死豈欺我哉</p>
<h4>風藥忌芋</h4>
<p>服風藥禁食芋不惟無效亦甚相反楊誠齋語此嘗見人立至於死(立吊航紀談)</p>
<h2>卷八</h2>
<h3>白濁</h3>
<h4>濁本脾胃</h4>
<p>小便白濁方雖多而效者甚少由治之不得其本也夫小便水類也靜則清撓則濁今之醫防其撓者必養其心求其靜者必安其腎殊不知五行之常水無土則不制不蓄其本在脾胃其標在膀胱脾胃土也撓之必動烏得不濁今夫撓脾胃者莫不因飲食生冷肥甜油膩所傷理脾胃者莫不先去傷滯後調其飢飽是固然也孩提之童僧尼之輩治各不同未可以是專其說蓋撓其動者乃所以撓其神也五臟有七神惟脾以意以智為神事之不如意者撓其意謀慮之關乎智者撓其智意智俱傷水源之撓其源不清其流必不清矣故經曰飲入於胃游溢精氣上輸於脾脾氣散精上歸於肺通調水道下輸膀胱稟化乃為溲矣則知小便白濁其源在脾胃其標在膀胱若濁而沉腐者為精敗而浮脂為腎虛法宜補腎昔有人患白濁服玄兔丹不愈後服附子八味丸即瘳醫者不可不知</p>
<h4>酒蒸黃連丸</h4>
<p>南安太守松江張汝弼曾患滑疾白濁久服補腎藥皆弗克效一日遇一道人俾服酒蒸黃連丸其疾頓瘳其法以宣黃連一斤去須煮酒浸一宿置甑上累蒸至黑取出曝乾為細末蜜丸桐子大日午臨臥酒吞三十丸臟毒下血者亦治</p>
<h4>冬瓜治淋</h4>
<p>游宦紀聞云程沙隨苦血淋之疾百藥無效偶閱本草因見白冬瓜治五淋於是日煮食之至七日而愈按日用本草云冬瓜性走而急久病及陰虛之人忌食之霜降後方可食不然令人成番胃病肥人食之令人瘦今人往往指以為補非也瓜子曝乾為末治白濁白帶單用多服酒下為良</p>
<h4>精滑引氣</h4>
<p>木瀆吳姓者病精滑百藥勿療或授以一術但以脅腹縮尾閭閉光瞑目頭若石壓之狀即引氣自背後直入泥丸而後咽歸丹田不計遍數行住坐臥皆為之仍教服保真丸行之半年顏色悅澤病不復作此術亦可療頭風(席上輔談)</p>
<h4>早枯零</h4>
<p>牛順頭草一名早枯零生西山黃堰嶺諸處收之作HT　可治夢遣之症屢試神效(東原　余錄)</p>
<h4>脫陽遺精</h4>
<p>永樂戊子夏郁文質遘遺精之疾形體羸弱兼以痰喘交作日夕不能休息遍召他醫治之轉劇後迎盛啟東視之曰此陽脫也急治則生緩之則死非大料重劑則不能瘳於是用附子天雄佐以參苓白朮日加數服夜則減半自秋及冬所服附子約百余只余藥不計厥疾乃瘥(盛氏家乘)</p>
<h3>諸血</h3>
<h4>血症分寒熱</h4>
<p>諸血之症醫者便認為熱而以苦寒攻之至死不悟殊不知苦瀉土土脾胃也脾胃一身之本今火既為病而瀉其土火固未嘗除而土先巳病矣土病則胃虛胃虛則營氣不能滋榮百脈元氣不循天度氣隨陰化而無聲肌寒至此則難治矣按褚氏遺書云諸血服寒涼者百無一生飲溲溺者十無一死楊仁齋直指方云吐血須煎乾薑甘草作湯與服或四物理中湯亦可如此無不愈者若服此生地犀角藕節之類則難救矣如遇相火用事之時血多妄行切禁止澀宜清表攻裡其血自止若先用止澀之劑去生便遠凡男子婦人血症散者或色鮮紅者屬熱或成塊者或色瘀者屬寒不可拘於血得熱而淖溢之說古云水寒成冰血寒成塊玄珠經十劑條內有云氣溫則血滑氣寒則血凝雖然亦有中寒氣虛陰陽不相守者血乃妄行經所謂陽虛陰必走者是也法當用辛溫之藥加官桂乾薑中溫則血自歸經矣吐衄瀉皆有此症當切脈以明之慎不可例用涼藥夭折人命</p>
<h4>援古證今</h4>
<p>林回甫病小便下血醫人用八正散與服服後不勝其苦小腹前陰痛益甚一醫俾服四君子湯遂稍瘥後服菟絲子山藥丸氣血漸充實其病始愈吾鄉張太守綱病臟毒下血十余載久服涼劑無寸效後服小菟絲子丸藥盡而痊亦一驗也故錄前說為症</p>
<h4>平胃散治便血</h4>
<p>用輝患大便下血百藥俱嘗暫止而復作因循十五年不愈或教以服人參平胃散逐日進一服至月余而十五年之病瘳矣噫廣求博訪徒費前勞道在邇而求諸遠其斯之謂歟(清波雜志)</p>
<h4>輪回酒</h4>
<p>輪回酒人尿也有火病者時飲一甌以酒滌口久服有效跌撲傷損胸次脹悶者尤宜用之婦人分娩後即以和酒煎服無產後諸病南京吏侍張公綸嘗在錦衣獄六七年不通藥餌胸膈不利眼痛頭疼發熱輒飲此物無不見效又沈王府長史王庭任國子學正時病大便下血勢頗危殆一日昏憒中聞有人云服藥誤矣吃小水好庭信之飲小水一碗頓蘇逐日飲之病勢漸愈(菽園雜記)</p>
<h4>盛暑鼻衄</h4>
<p>李嗣立癰疽方載趙季修赴龍泉知縣單騎速行時值盛暑未幾患鼻衄日出血升許嗣立教服藕汁地黃膏方趙云某往年因赴銓曹聽選省前急走數回心緒不寧感熱驟得鼻衄之症尋叩臨安一名醫服藥遂痊謝以五萬錢臨別時醫再三囑云恐後時疾作萬勿輕信醫者服生地黃藕汁之藥冰冷脾胃無復可生者半月易醫無效李乃就此方隱其藥味俾趙服之三日疾愈趙問曰藥如是靈驗得非與臨安醫者之藥相同乎李笑曰即前所獻之方也趙嘆曰前醫設為譎謀幾誤性命微君調治吾其鬼矣余謂古之至人惟以濟人利物今之醫人往往妒賢嫉能率用詭道以要濃賄毀訾名方自壞心術此皆含靈之巨賊名教之罪人也</p>
<h3>水腫</h3>
<h4>水腫治驗</h4>
<p>象山縣村民有患水腫者咸以為鬼祟訊之卜者卜者授以此方良效用田螺大蒜車前草和研為膏作大餅覆於臍上水從便旋而出數日頓愈(仇遠稗史)</p>
<h4>澤醫識鑒</h4>
<p>休寧汪某客游維陽嘉靖年間患腹脹百藥無效反加胃嘔食減　羸所親以名醫荐汪延視脈毀訾前醫用藥之誤因舉諸腹脹大皆屬於熱之說按脈而治數日腹愈脹食愈減名醫慚恧辭去汪之子即揭手榜於市云能治此疾者愿以百金謝頃有一澤醫詣汪寓自言能治躬煎藥餌以進汪服之便覺爽快熟寐逾時溲溺滿器腫脹漸消食知其味矣眾皆喜訊何藥神驗如此澤醫曰吾不識脈理但以詳問病源以意臆度之耳汪富商也酒色過度夏天多食冰浸瓜果取涼太過脾氣受寒故以此症他醫復用寒涼重傷胃氣是失其本矣安能去病吾以丁香木香官桂健脾和胃肺氣下行由是病除無他術也汪遂如約酬之而去澤醫識鑒亦過人遠矣</p>
<h4>蜘蛛治蠱</h4>
<p>一人病氣蠱四肢不浮惟腹脹大戴原禮所謂蜘蛛病是也俗醫進以泄水之劑病轉劇時值炎暑或以清暑益氣湯治之當煎藥時偶墮蜘蛛一枚腐熟其中童子懼責潛去蜘蛛尋以藥進病患鼻聞藥香一啜而盡須臾腹中作聲反覆不能安枕家人疑藥之誤用而然也既而溲溺斗許腹脹如削康健復平日矣按本草云蜘蛛氣寒有毒主治小兒丁奚腹大燒熟啖之未聞其功能治氣蠱也</p>
<h3>蟲類</h3>
<h4>濕熱生蟲</h4>
<p>陽夏戚宗陽家素業醫任江陰訓科有儒生之父患腹脹求其診視乃曰脈洪而大濕熱生蟲之象況飲食如常非水腫蠱脹之症以石榴皮椿樹各東行根加檳榔三味各五錢用長流水煎空心頓服之少頃腹作大痛瀉下長蟲一丈許遂愈(客座新聞)</p>
<h4>獺爪治肺蟲</h4>
<p>本事方云肺蟲如蠶能殺人居肺葉之內蝕人肺系故成瘵疾由是咳嗽咯血聲嘶藥所不到治之為難道藏經中載諸蟲頭皆向下唯自初一至初五以前蟲頭向上故用藥多取效者此也又姚寬西溪叢話云五臟蟲皆上行唯有肺蟲下行最難治用獺爪為末調藥於初四初六日治之此日肺蟲上行也二說小異姑兩存之以備參考</p>
<h4>蚰蜒入耳</h4>
<p>北方有蟲名蚰蜒狀類蜈蚣而細甚好入人耳往往食人腦髓髓盡人死一人書臥蚰蜒忽入其耳初無所苦久之覺腦痛疑其食腦甚苦之莫能為計也一日將午飯就案而睡適有雞肉一盤在傍夢中忽噴嚏覺有物出鼻中視之乃蚰蜒在雞肉上自此腦痛不復作(菽園雜記)</p>
<h4>又</h4>
<p>蚰蜒入耳用貓兒屎灌在耳中立出取貓屎用生薑擦貓牙即得之(張子和十形三療方)</p>
<p>蟲之類能入耳者不獨蚰蜒凡蟲皆然有人患腦痛為蟲所食或教以桃葉枕一夕蟲自鼻出形如鷹嘴人莫能識其名(陳正敏遁齋閑覽)</p>
<h4>蟯蟲至微</h4>
<p>木火屬春夏濕土屬季夏水從土化故多蟲又云蟯蟲至微形如菜蟲居腸胃中多則為痔極則為癩(儒門事親)</p>
<h4>誑治蟲</h4>
<p>唐時京城醫人吳元禎治一婦人從夫南中還曾誤食一蟲常疑之由是致疾頻治不減請吳醫治之吳揣知其所患乃請主人姨奶中謹密者一人預戒之曰今以藥探吐但以盆盂盛之當吐之時但言有一小蝦蟆走去然切不可令病患知之是誑　也其奶仆如約此疾頓除(北夢瑣言)</p>
<h4>雞卵制蜈蚣</h4>
<p>金莊一農夫夏天晝臥於地熟寐之間蜈蚣入其口既寤覺喉仲介介如梗狀咯不能出咽不能下痛癢不定甚為苦楚一醫用雞卵劈破入酒調勻頓服仍以大黃為末和香油飲之頃刻瀉出蜈蚣尚活動不死蓋蜈蚣被雞卵拘攣其足不能舒動以利藥下之故從大便而出雞性好食蜈蚣亦取相制之意耳(菽園雜記)</p>
<h2>卷九</h2>
<h3>眼齒耳鼻</h3>
<h4>卯酉相克</h4>
<p>凡人損目者命多是卯酉相克蓋卯酉者日月之門戶所為光明也卯為子所刑擊酉乃自刑必有目疾驗之多應(周密癸辛雜志)</p>
<h4>燒酒療目腫</h4>
<p>眼暴痛熱腫飲涼劑而疼飲燒酒而愈者何也且人病淺質濃內經治法亦許用劫以熱攻熱氣行熱散正合此義若久病涉虛體弱之人法當正治如用劫法愈劫愈劇則不可也</p>
<h4>叩齒三百下</h4>
<p>顏氏家訓曰吾嘗患齒搖動欲落飲食熱冷皆苦疼痛一日偶閱抱朴子見篇中有牢齒之法早朝叩齒三百下甚佳行之數日即平復</p>
<h4>耳痛傷腎</h4>
<p>昔王萬裡時患耳痛魏文靖公勸以服青鹽鹿茸煎雄附為劑且言此藥非謂君虛損服之曷不觀易之坎為耳痛坎水藏在腎開竅於耳而水在志為恐恐則傷腎故為耳痛氣陽運動常顯血陰流行常幽血在形如水在天地間故坎為血卦是經中已著病症矣竟餌之而良愈(楊升庵丹鉛續錄)</p>
<h4>鼻淵分寒熱</h4>
<p>古方鼻淵即今之腦漏是也當分明寒熱一症若涕臭者屬熱宜用辛涼之藥散之若涕清不臭覺腥氣者屬虛寒用溫和之藥補之二者不可不詳審也昔一士人患此症脈疾而數余知其有內熱遂以黃魚腦(即石首魚頭中二塊是也)取二三十枚　過存性為末先以一二分吹入鼻中以五分酒下不數服全愈更不復發</p>
<h3>骨鯁</h3>
<h4>巧術治鯁</h4>
<p>一富家子弟被雞骨鯁所苦百方不能治家人驚惶忽有一叟至自云我有巧術但行手法取之不勞藥餌也富翁許濃謝遂出千緡叟謂之曰速取新綿白糖二物將綿裹糖如梅大令其子咽下入喉間留綿一半千外時時以手牽掣俾喉中作癢忽然痰涎壅出其骨黏於綿上矣富翁大喜如約酬之而去</p>
<h4>萼根殺人</h4>
<p>近見常熟瞿御史祥其弟可十七八歲讀書能文偶為魚骨鯁其喉一人授以白萼花根搗汁令服約進一盞許明日咽喉腐爛不食而死噫孔子不嘗未達之藥今瞿生付性命於庸夫之手悲矣</p>
<h3>癰疽瘡瘍痔漏</h3>
<h4>癰疽治驗</h4>
<p>吾鄉周評事觀患背癰瘡口久不合召瘍醫徐廷禮療治恆以托裡十宣二散與服不效徐謂周曰更請盛用美來共事料理則可否則吾技窮矣既而盛至按脈用藥率與徐類但多加人參五錢附子稍行功耳服後兩足俱暖自下而上謂其子曰今日之藥何神哉頓覺精神爽快服之旬日而瘡口平復國初吾吳中老醫多見其用附子往往治病如庖丁解牛恆中肯綮近之醫者擯棄而不用吾不知是否何如耶</p>
<h4>苦處療痔</h4>
<p>內經曰因而飽食筋脈橫解腸　為痔皆為脾胃濕熱之氣下迫大腸遂致此疾有經年累月不痊者索矩新書云醉飽行房太勞則為痔漏尤難治療其方固多而效者鮮吾鄉陸大參文量在宣府時患痔疾甚為所苦久不能愈太監弓勝秘傳此方用苦FS　菜或鮮或干煮湯沸熟爛為度和湯置新桶中坐熏之湯溫即操苦FS　頻洗湯冷即止日洗數次至明日果效他方不及也遽一作苣一名苦遮菜徽人以此當蔬性苦寒無毒其色赤如蕎麥冬不凋月令所謂苦菜秀者是也北方甚南方亦有之</p>
<h4>痔漏下血</h4>
<p>春秋傳曰土濃水深居之不疾言其高燥也予往年守郡江表地氣卑濕得痔漏下血之疾垂二十年不愈未嘗有經日不發景德中從駕幸洛陽前年從祀汾陰往還皆無恙今年退臥　陰濱嵩之麓井深數丈而絕甘美此疾遂已(楊文公談苑)</p>
<h4>臟腑秘滯</h4>
<p>山谷與曹使君書云賢郎癰腫亦是天氣亢　故有熱者先得之若臟腑秘滯可用犀角丸服之得大便流利則癰自衰殺若頭痛　熱宜消風散蓋膿結不潰耳如此治無不瘥犀角丸方用甘草炙一兩生大黃一兩朴硝一兩先制甘草大黃為細末研朴硝相和煉蜜丸如梧桐子大初可二十丸漸加三十丸溫熟水空心服(刀筆)</p>
<h4>楸葉膏</h4>
<p>一人患發背腸胃可窺百藥不瘥一醫者教用楸葉膏敷其外又用雲母膏作小丸子服盡四兩不累日雲母透出膚外與楸葉膏相黏看瘡口遂平功亦奇矣其方立秋日太陽未升之時采取楸葉熬為膏敷瘡瘍一切惡瘡腫毒立愈謂之楸葉膏云(葛常之韻語陽秋)</p>
<h4>還元水</h4>
<p>還元水者臘月以空壇不拘大小細布緘其口引之以索浸大糞廁中日久糞水滲入其壇內取出埋土中二三年化為清水略無穢氣凡癰疽毒瘡初發時取一碗飲之其毒即散此法甚良俗名金汁者是也小兒初生飲半盞能解胎毒及出痘疹稀少是其功也(菽園雜記)</p>
<h4>治汗斑</h4>
<p>樹汗調輕粉用生薑切平蘸藥擦之汗斑自退(戴章甫僱纓雜錄)</p>
<h4>治金瘡</h4>
<p>昔有人肩髀中創血如涌出醫用原蠶蛾炒為細末敷之血立止一云用真降香　存性為末貼之尤妙(俞文豹吹劍續錄)</p>
<h4>又方</h4>
<p>余近得一金瘡方大有神效功在三日長肌肉以黃牛膽　存性為細末敷之此實一奇方也</p>
<h4>砒毒傷人</h4>
<p>一富人暮年得一子鐘愛之痘瘡後頭發小瘡求藥於瘍醫以藥敷之其頭癢不可忍爬搔其血以頭觸柱至夕而斃噫殊不知其藥有砒見血則害人矣可不畏哉</p>
<h4>婦人種子妙訣</h4>
<p>褚氏遺書云男女之合二情交暢陰血先至陽精後沖血開裹精精入為骨而男形成矣陽精先入陰血後參精開裹血血入居本而女形成矣昔俞石澗席上腐談記澄江郭伯英試行此法連得六女伯英憮然曰吾為褚氏所誤矣按王明清揮塵錄云凡婦人受胎皆以經絕一日三日五日夜半後生氣之時夫婦交會者主生男經絕後二日四日六日交會者主生女六日之後皆不成孕此言庶幾近理若褚氏所謂陰血陽精先後定男女者吾未之信也或問曰貴公子侍外家滿前得子反少漁郎一夫一婦得子反多何也蓋寡欲乃有子多欲則無子譬調一杯羹鹽恰好有味若鹽少則無味也士大夫欲得子法宜清心寡欲此種子之妙訣也</p>
<h4>成胎禁欲</h4>
<p>婦人有娠男子即不宜與接若不忌主半產或產難蓋女與男接欲動情勝亦必有所輸泄而子宮又固而致半產嘗聞牛馬之類受胎後牡者近身則蹄之謂之護胎所以無半產者人惟多欲而不知忌故往往有之按演山活幼口議云凡成胎之後父母若不禁欲甚為不可又有臨產行淫其子頭戴白被而出此病夭之端也不可不戒</p>
<h4>新產禁補</h4>
<p>南濠陳鰲妻新產四五日患腹痛惡寒發熱醫曰此原氣大虛正合丹溪云產後當大補氣血遂用人參大劑入口痛劇面黑發喘而死殊不知丹溪以產後當以大補氣血為主治雖有雜症以末治之今陳氏之妻因瘀血未盡而惡寒發熱不先去其惡血驟施大補是失丹溪主末二字之意矣主末者即標本之謂也</p>
<h4>荊芥療蓐風</h4>
<p>余治一婦人新產後七日為將息失宜腠理不密偶因風寒所侵身熱頭痛兩眼反視手足螈　名曰蓐風用荊芥穗一味新瓦上焙乾為細末豆淋酒調下二錢其疾即愈古人珍秘此方隱FS　其名故曰舉卿古拜散蓋用韻之切語舉卿為荊故拜為芥曾公談錄謂之再生丹亦神之也</p>
<h4>血悶</h4>
<p>仇遠稗史載奉化陸嚴以醫術行於時新昌徐氏婦病產後暴死但胸膈微熱陸診之曰此血悶也用紅花數十斤以大鍋煮之候湯沸以木桶盛湯將藉病者寢其上熏之湯氣微復進之有頃婦人指動半日遂蘇此法亦許胤宗治王太後病中風不能言之余意去</p>
<h4>膽衡</h4>
<p>錢仲陽以顱囟著名其治一產婦因事大恐而病病雖愈目張不得閉人皆不能曉以問於錢錢曰病名膽衡煮郁李仁酒飲之使醉則愈所以然者目系內連肝膽恐則氣結膽衡不下郁李仁可去結隨酒入膽結去膽下目則能閉矣如言而效昔人稱錢仲陽醫如李靖用兵度越縱舍卒與法會觀此信然</p>
<h4>婦人性執</h4>
<p>婦人性偏執任氣況多嗜欲易為七情所傷或經水二三月不行一身百病胸膈咽塞嘔吐惡心全不喜食或吐酸水痰涎或一塊如卵築築心下而疼或腹中有塊或左或右動則作痛時發哄熱四肢無力惟喜食果子雜物此是有孕當以脈參之宜安胎理氣消痰為主不可專恃攻擊通經等劑所謂孕婦做得百般病者此也</p>
<h4>吐血行經</h4>
<p>一婦寡居郁結成疾經事不行體熱如炙忽吐血若泉涌或用止血藥不效余以茆花根搗汁濃磨沉香服至五錢許日以釅醋貯瓶內火上炙熱氣熏兩鼻孔血始得降下吐血不復作經事乃行</p>
<h3>小兒</h3>
<h4>乳哺得法</h4>
<p>初生嬰兒乳哺得法乳者奶也哺者食也乳後不得與食哺後不得與乳小兒脾胃怯弱乳食相並難以克化幼則成嘔周歲以上而成乳癖結於腹中作疼故也大則成癖小則成積疳氣自此始也(隱微方)</p>
<h4>指甲破</h4>
<p>嬰兒每日頻就無風處看上　並兩頰內有白　婦膜起者速以指甲刮破若更生再去之更看舌下恐生重舌皆由兒生胎中母吃炙爆肥膩飲酒服熱藥所致(產乳慶育集)</p>
<h4>小兒臍風</h4>
<p>小兒初生不啼不乳蓋因剪臍帶之時為風所入自臍以上循咽喉攻至下　牙齦當中有小水泡如黃粟一粒疼不可忍故不啼不乳但以指甲破之出黃膿一點而愈後以此法教人活數兒矣(席上輔談)</p>
<h4>掬水殺火邪</h4>
<p>宣德間院使錢公瑛一日治寧陽侯孫始生九月患驚悸數啼哭而汗百方莫效瑛最後視疾乃命坐兒於地使掬水為戲驚啼頓止人問之曰時當季春兒豐衣重帷不離懷抱其熱鬱在內安能發泄耶使之近水則火邪殺得土氣則臟氣平矣故不藥而愈</p>
<h4>開元錢治驚</h4>
<p>周必大二老堂雜志云開元錢最治小兒急驚以水磨服少許神效余意小兒心受熱而發驚肝生風而發搐蓋木邪侮土用金制木之義耳似亦有理</p>
<h4>誤吞線錘</h4>
<p>近有稚子戲以線錘置口中誤吞之有胡僧啖以餳糖半斤即於穀道中隨穢而下僧云凡誤吞五金者皆可啖也(近峰聞略)</p>
<h4>韭可墜金</h4>
<p>鄰人馮湘生兒數月偶遺金網巾圈於案上兒誤吞之哀泣不已湘求救於醫醫適出湘伺於門坐立不定或詢其子何疾驚徨如是湘以前事告或教以急買韭數莖熟而不斷與蠶豆同咽之不過二次其圈從大便出矣此法方書所不載故表之(劉浣北壕紀言)</p>
<h4>用藥差少</h4>
<p>孫真人云小兒不涉霜雪乃不病傷寒大人往往有之然天行時疾之氣小兒其亦得之故多患斑疹者是也治其時行節氣即與大人同法惟用藥劑差少藥性差涼耳丹溪亦云大抵治小兒藥與大人同但劑料少耳近時吳中名醫某治大人用小劑某治小兒用大劑皆不得其中均有太過不及之病何也假如病大而湯劑小則邪氣未盡而藥力已乏矣猶一杯之水救一輿薪之火竟不能滅是謂不及病小而湯劑大則邪氣已盡而藥力有餘反傷正氣猶火炎昆崗玉石俱焚莫之能止是謂太過二者皆粗工所為後學不可以為法</p>
<h4>痘瘡虛實</h4>
<p>痘瘡屬虛寒者直可延至十數日後方死屬毒瓦斯盛轉紫色者不過七八日蓋痘是胎毒自內出外一二三日方出齊毒瓦斯尚在內至六日則當盡發於表七八九日成膿而結痂矣若毒瓦斯盛不能盡出過六日毒反內入臟腑必須在六日以前毒瓦斯該出之時急服涼血解毒之藥以祛出之六日以後醫雖妙手亦無及矣故其死最速若虛弱毒瓦斯少者只是氣血不足不能貫膿成就故綿延日久而後死此虛實輕重之分也又云痘瘡多者是毒瓦斯多當先解毒然多則恐氣血周貫不足故隨後亦宜兼補藥以助成膿血(薛立齋家居醫錄)</p>
<h4>摩脊法</h4>
<p>小兒初見發熱痘瘡未出之時預先用芝麻油蘸手研熟按兒背摩數遍能令輕者不出重者雖出稀少此亦古人按摩之法蓋所以散寒水逆流之毒背為太陽膀胱經也正與東垣論相合須令謹慎婦人按之恐手重則傷小兒肌膚也又一小兒驚風發搐兩眼反視藥至口即吐出余遂用竹茹燈芯銼碎磨成粗末入生薑自然汁少許和以芝麻油調勻按摩小兒自額上起直至背心兩手足心數十遍仍以薄荷煎湯漸漸與之飲逾時驚搐遂平熱退而愈</p>
<h2>卷十</h2>
<h3>藥性</h3>
<h4>雞矩子</h4>
<p>丹溪藥按或問一書門人趙良仁編集余見其發熱論中用雞矩子治中酒人發熱初不解雞矩子為何物蘇沈良方云雞矩子俗謂之癩漢指頭嚼之如牛乳亦欠明白後閱僧　寧物類相感志云枳枸一名枝枸子俗訛為雞矩子又名木蜜味甘平無毒樹形似白楊其子著枝端如小指長數寸屈曲相連啖之如餳美八九月熟以此木作屋柱令一室之酒味皆淡薄其功能解酒毒療消渴之聖藥古人單方治酒積甚良江南謂之白石樹詩所謂南山有枸是也</p>
<h4>蓬</h4>
<p>蓬　覆盆子本草舊注曰覆盆蓬　一物異各今注曰蓬　覆盆之苗覆盆蓬　之子則全誤矣衍義又謂軟紅可愛則又指蓬　為覆盆矣按雲南張侍郎南園漫錄云蓬　初則淺紅熟則深紫味甘酸而淡其芒長蔓生條而長甚刺大而稀雖枯敗而枝梗不敗覆盆子初則黃熟則赤黃味甘酸而深其芒微樹生枝而不甚高刺細而密枝葉四時如一張公博物之士據所見以症本草舊注之誤其功多矣古人有云誤注本草非細故也余特詳之</p>
<h4>益母草</h4>
<p>益母草一名野天麻一名茺蔚子主治婦人胎前產後一切諸疾四五月開紅紫花者宜入藥白花者不用其狀類夏枯草丹溪本草云夏枯無臭味益母有臭味明是兩種俱生於春但夏枯草不生子交夏至則枯蓋稟純陽之氣得陰則枯故曰夏枯草益母後枯而結黑子采藥者宜明白收用庶不誤人外台秘要雖云名書以益母草謂夏枯草其亦謬矣</p>
<h4>長松</h4>
<p>朱少章曲洧舊聞云齊州釋普明寓五台山晚得風疾眉發俱脫手足腐爛哀號苦楚人不忍聞忽遇異人教服長松僧不能識復告之曰長松生古松下取其根餌之皮色如薺　長三五寸味微苦類人參清香可愛僧采服之不旬日毛髮俱生顏貌如故惜乎今之有風疾者未之服也按本草陳藏器云長松味甘溫無毒主風血冷氣宿疾溫中去風此草似松但葉上有脂產關內山谷中近韓　醫通云長松產於太行西北諸山似獨活而香三說未知孰是</p>
<h4>當歸</h4>
<p>當歸血中主藥也通肝經頭身稍分三治全用則活血若氣血昏迷者服之即定能使氣血各有所歸也故名之曰當歸其功用但從人參黃　則能補血從大黃牽牛則能破血從官桂附子茱萸則熱從大黃芒硝則寒此非無定性也奪於群眾之勢而不得不然耳譬如生薑人皆指以為熱殊不知薑備五色存皮則溫去皮則熱又如半夏之性能為君子能為小人者也近之醫者或治男婦血病往往禁用當歸書此以破其惑</p>
<h4>苦草</h4>
<p>吳中習俗相傳產婦惡血不盡單服苦草一味以為聖藥殊不知白芍藥丹溪禁用以其酸寒恐伐生氣故耳況苦草之至寒者乎有信服者他日必生心腹之疾或白帶血崩漏下之症經年不痊戕賊元氣竟不知遺害於後也初產之婦氣血俱虛大宜溫熱之劑豈可輕用寒涼重伐其發生之氣也經曰無伐化無違時必養必和待其來復此之謂也余嘗考諸本草及諸方書皆不載不知吾吳中始於何人而傳襲之誤如此莫之能革產家切宜知此</p>
<h4>何首烏</h4>
<p>何首烏本名交藤因何首烏服而得名何首烏者順州南河縣人祖能嗣本名田兒生而閹弱年五十八無妻子一日醉臥野中見田中藤兩本異生苗蔓相交久而解解合三四田兒心異之掘根持問鄉人無能識者遂曝乾搗末酒服七日而思人道百日而舊疾皆愈十年而生數男後改名能嗣又與子庭服皆壽百六十歲首烏服藥亦年百三十歲唐元和七年僧文象遇茆山老人遂傳其事李翱因著方錄云(甘泉蕞殘錄)</p>
<h4>附子</h4>
<p>楊天惠附子記云附子之品有七種本同而未異其種之化者為烏頭附烏頭而旁生者為附子又左右附而偶生者為鬲子又附而長者為天雄又附而大者為天佳又附而上出者為側子又附而散生者為漏藍皆脈絡連貫如子附母而附子以貴故獨專稱附子之形以蹲坐正節角少為上有節多鼠乳者次之若漏藍側子園人棄之不取又云春采為烏頭冬采為附子此言大謬又云八角者良其角多者為側子矣不亦謬乎(趙與時賓退錄)</p>
<h4>金釵石斛</h4>
<p>姚寬西溪叢話云石斛出始興六安山傍石上或生櫟樹上者謂之木斛虛長不堪入藥用精好如金色者佳凡用洗去土酒浸焙乾石斛有補脾清肺之功遺精白濁虛煩之要藥也</p>
<h4>黃柏知母</h4>
<p>黃柏知母世人謂其補腎非也特以腎家火旺兩尺脈盛者用其瀉火則腎亦堅固而無夢遺之患豈誠有補腎之功哉故腎家無穴而兩尺微弱或右尺獨旺者皆不宜用黃柏知母能降十二經之火內經所謂強腎之陰熱之猶可者正以其瀉腎之火則腎令方行而熱亦不作矣但凡腎家有熱兩尺脈旺而成諸疾或眼疼或喉痹之類皆宜用之脾胃論云黃柏知母不可久服恐陰氣為害故也東垣豈欺我哉</p>
<h4>香附子</h4>
<p>香附子主氣分之病香能竄苦能降推陳致新故諸書皆云益氣而俗有耗氣之訛女科之聖藥皆非也治本病略炒兼血以酒煮痰以薑汁虛以童便浸實以鹽水煮積以醋浸水煮然其性勇毅發暢可解婦人郁結多怒之偏氣行則無疾矣衍義補遺曰引至氣分而生血此陽生陰長之義也此說恐礙蓋香附主氣味主血果何以生血乎此又不可不辯</p>
<h4>青薑</h4>
<p>青薑順氣化痰化癖復於氣血功侔造化雖十兩半夏南星只不得青薑一兩余考本草俱不載後閱江少虞皇朝類苑云嶺南青薑根下如合捧其附旁而生者狀如薑往往如大芋南人取其中者干之名為青薑北人則呼為蓬莪朮韻書亦無術字名之為術土人病瀉痢者用青薑磨酒服之多愈蓋取其有和氣之功耳王碩易簡方云蓬莪朮功能破　消癖其性猛烈不宜常服然今之所用者乃紅蒲根耳性雖相近而功力實不同真者如廣蓬朮之狀青黃黑色者為佳如無真青薑以老薑黃代之可也</p>
<h4>鎖陽</h4>
<p>韃靼野地有野馬與蛟龍合所遺精於地遇春則勃然如筍出地中大者如貓兒頭筍上豐下儉其形不典亦有鱗甲筋脈故其名曰鎖陽即所謂肉蓯蓉之類或謂韃婦之淫者亦從而好合之其物得陰氣則怒而長土人收之以剝去皮毛洗滌令淨日干之為其藥力百倍於肉蓯蓉其價百倍於常品也(周密癸辛續集)</p>
<h4>肉蓯蓉</h4>
<p>瑣陽代肉蓯蓉用味甘氣平煮粥可食補陰氣大便虛而燥者可用蓋肉蓯蓉難得真者多是金蓮根以鹽淹而為之北方有草蓯蓉名曰列當稍性味鹹實難倚仗此說得之於羅大無先生(丹溪本草)</p>
<h4>馬檳榔</h4>
<p>馬檳榔出自雲南元江軍民府形如松子一名馬金囊又名馬金南味如白豆蔻嚼之多飲冷水則無傷蓋熱物也按丹溪本草云治妊婦產難將坐蓐時以此藥去殼新汲水下二枚須臾兒生下兩手各握一粒而出余嘗考雲南志云馬檳榔下宿水得解諸毒細嚼可以塗惡瘡但油者不堪用肥白者為佳</p>
<h4>馬蓮花</h4>
<p>北方田野人患胸腹脹者取馬蓮花子擊碎涼水下即泄數行而愈此法可備途中倉卒無藥者之一助云(水東日記)</p>
<h4>麋茸鹿茸</h4>
<p>麋茸補陽鹿茸補陰按月令仲夏日鹿角解仲冬日麋角解鹿以夏至隕角而應陰麋以冬至隕角而應陽故知二者陰陽之性不同也</p>
<h4>菟絲子</h4>
<p>山谷與王子均書云承示尊體多不快亦是血氣未定時失調護耳某二十四五時正如此因服菟絲子遂健啖耐勞此方久服不令人上壅服三兩月其啖物如湯沃雪半歲則太肥壯矣若覺氣壅則少少服麻仁丸某嘗傳此法與京西李大夫服不輒啜物作勞如少年人也服菟絲子法菟絲子不拘多少用水淘淨研為細末焙乾用好酒一升浸三日許日中晒乾時時翻令瀝盡酒薄攤曝乾貯瓷器中每日空心抄一匙溫酒吞下則飲食大進(山谷刀筆)</p>
<h4>香蛇</h4>
<p>白花蛇出蘄州者佳黃州者次之其尾有佛指甲者為真雖死而兩目光彩用之治風疾甚驗(張文潛明道雜志)</p>
<p>白花蛇出蘄州者佳黃州者次之其尾有佛指甲者為真雖死而兩目光彩用之治風疾甚驗(張文潛明道雜志)</p>
<h4>澤蘭葉</h4>
<p>澤蘭產於吳中開白花葉似火麻其根名為地筍能解斑蝥毒婦人胎前產後一切諸病之聖藥(蘇州志)</p>
<h4>胡麻</h4>
<p>胡麻主腸中虛羸補五內益氣力長肌肉填髓腦堅筋骨去虛熱久服明目輕身不老延年一名巨勝四棱為胡麻八棱為巨勝陶弘景云八穀之中唯此為良又云味甘在米豆部此正是烏麻也今時所用巨勝莖莢雖小類麻而葉子大極味苦其性甚冷夫味苦不可入米穀性冷不可為補益其葉又與麻不同陰晦日則低日烈則起此當別是一物非巨勝胡麻也俗醫但用不辯其非正當用烏油麻味甘而葉有四棱者為胡麻八棱者曰巨勝正合本經不當用苦而冷者也</p>
<h4>仙茅</h4>
<p>洪州西山有諶母觀母乃許旌陽授道之師也觀有母所種仙茅與今山野中所產不相遠但采以作湯則香味差別耳若少年者飲之至於口鼻皆出血其性極熱也此說出吳曾能改齋漫錄</p>
<h4>五加皮</h4>
<p>五加皮性微寒無毒其樹身干皆有刺葉如楸俗呼為刺楸在在有之春采芽可食味辛而微苦食之極能益壽古人以此釀酒本草云主治風痹四肢攣急補中益精堅筋骨強志意能消皮膚間瘀血又云寧得一把五加不用金玉滿車此藥有益於人故珍重如此</p>
<h4>海蟄</h4>
<p>北戶錄云水母一名蚱又名石鏡南人治而食之性熱偏療河魚之疾物類相感志云蠟一名樗蒲魚大者如床小者如斗無腸胃無眼目以蝦為目蝦動蠟行故曰水母按本草云味鹹無毒主生氣及療婦人勞損血積帶下小兒風疾丹毒然則味鹹性寒矣北戶錄乃云性熱誤也吳人名為海蟄云</p>
<h4>石龍芮</h4>
<p>石龍芮俗名貓跡草葉毛而尖取葉揉臂上成泡謂之天灸治久瘧不愈</p>
<h4>稀草</h4>
<p>稀　草俗呼火　草春生苗葉似芥而狹長莖高二三尺秋初有花如菊秋末結實頗似鶴虱夏采葉晒乾用單服甚益元氣治風疾甚良</p>
<h4>苦蒿草</h4>
<p>山東有一人家共爨五百余口二百余年不染瘟疫瘴氣其家每歲以三伏日清晨采取苦蒿頭一束陰乾冬至日搗羅為細末至除夜用蜜調和從少至老每人服一匕終身不染一切毒病此亦古人屠蘇之法余聞此說於杭州士人俞冕云</p>
<h4>番藥</h4>
<p>西域回紇部　思干城產藥十余種皆中國所無療疾甚效曰阿只兒狀如苦參治馬鼠瘡婦人損胎及打撲內傷用豆許咽之自消曰阿息兒狀如地骨皮治婦人產後胞衣不下又治金瘡膿不出嚼碎敷瘡上即出曰奴哥撒兒形似桔梗治金瘡及腸與筋斷者嚼碎敷之自續回紇有蟲如蛛毒中人則煩渴飲水立死惟過醉葡萄酒一吐則解(馬氏日鈔)</p>
<h4>押不蘆</h4>
<p>回回國之西產一物極毒全似人形如人參之狀其名謂之押不蘆生於地中深數尺取之者若傷其皮則毒瓦斯著人必死取之之法先開大坑令四傍可容人然後輕手以皮條絡之系皮條於大犬之足既而用杖打犬犬奔逸則此物拔起犬感其氣即斃然後別埋他土中經歲取出曝乾別用藥以制之若以少許磨酒飲之人即遍身麻痹而死雖加之刀斧亦不知也三日後別以少藥投之即活昔華佗治病若針藥所不能療者乃先以酒服麻沸散既醉無所覺因割破腹背湔腸滌胃恐即此藥也(志雅堂雜抄)</p>
<h4>胡蔓草</h4>
<p>胡蔓草一名斷腸草其葉如茶其花黃而小有大毒廣西愚民有爭斗者服之百竅流血人無復生急取雞抱卵(即哺退雞子)劈破以清油調和灌入其口須臾吐盡惡物而蘇少緩不可敕矣宦游者不可不知</p>
<h4>玉蝴蝶</h4>
<p>雲南臨安之南產靈草於河底(地名)狀似蝴蝶土人名之為玉蝴蝶凡仕宦閩廣者以此草綴於衣領中可以預知蠱毒領中颯颯作聲其家具膳斷不可食矣無毒則寂然無聲以是為驗此草雖土人亦罕得之劉紹卿宦游此地得藏於家</p>
<h4>天靈蓋</h4>
<p>人頂骨謂之天靈蓋神農本經不載惟後世醫家好奇者為之殊非仁人之心也近一男子患楊梅瘡結毒遍體歲久不痊傳海上人方用天靈蓋密令家人往寺院停柩中取之既而攜歸病者倉忙發狂自言曰我商人某也喪於吳未能殯葬汝何損壞骸骨我當置汝不祥也明日有報應其家恐懼不已復送頂骨原歸舊所仍祭牲醴而獲安噫世稱孫真人有大功於世以其千金翼中用虻蟲水蛭之類君子謂其損害物命尚且不忍況天靈蓋乎仁者宜不用也</p>
<h4>萆</h4>
<p>外台秘要云建武中軍伍往南陽擊虜所得惡瘡呼為虜瘡劇者數日而死或有得瘥其瘡瘢紫黯色彌年方滅此惡毒之氣所致也弘治末年民間患惡瘡自廣東人始吳人不識呼為廣瘡又以其形似謂之楊梅瘡若病患血虛者服輕粉重劑致生結毒鼻爛足穿遂成痼疾終身不愈近醫家以萆　鮮肥者四五兩為君佐以風藥隨上下加減服者多效按本草元命苞云萆　味甘平無毒主腰背骨節疼痛治風濕痔不仁療癱瘓軟風治惡瘡久不愈生真定山谷今荊蜀有之凡有二種無刺虛軟為勝有刺白實次之一名仙遺糧一名土茯苓俗謂之冷飯團是也</p>
<h4>王瓜</h4>
<p>王瓜生苦菜秀非今作菜之瓜其實小而有毛者北人呼為赤包兒能治膈噎病者是也一云馬剝兒一名馬雹兒(式齋文集)</p>
<h4>魚腥草</h4>
<p>魚腥草本草圖經不之載古人用以療痔疾殊驗其狀三角一邊青一邊紅山中多有之然其葉若荇菜多生於佛殿陰處以指捻之其臭與魚腥相似故名患者取一握煎湯熏洗仍以生草　其痔不日而愈(瑣碎錄)</p>
<h2>書續醫說後</h2>
<p>今之郡國絕寡赫然高醫者何哉夫亦由守習先術者安無變裁縱任胸臆者肆為施療苛疾庶且刻之功授劑需銖錙之財邦靡禁條十全道廢況夫醫者聖智之長神明之事也古以康物今以豐家古以名世今以糊口無怪乎倉扁之寥寥也俞弁少窮素難博研群典測古酌今表奇征謬筆為醫說續集非知醫之深者不能與此噫若子容者可以光於青囊之學矣嘉靖庚寅五月五岳山人黃省曾撰吾吳中故多醫自項老成淪謝此道蓋KT　妄一男子挾數十品藥輒自詭知醫實未嘗讀素難一字徒漫讕射利以人生死為戲耳悲夫俞君此編授據該博而立論能發前人之秘在今日曰絕無而僅有非耶君好讀書自稗官小說無所不窺手自筆錄至數百千卷君子謂其深於醫也蓋稽古之力多矣丁酉秋日小疾新愈漫讀一過為書其後石帆山人陸粲謹志</p>
<p><u>萬治元年戊戌仲冬穀旦</u></p>
