<header><h1>小兒藥證直訣</h1></header>
<dl class="元資料" data-type="book">
<div><dt>作者</dt><dd>錢乙</dd></div>
<div><dt>朝代</dt><dd>宋</dd></div>
</dl>
<h2>卷上脉證治法</h2>
<p>一、小兒脉法</p>
<p>脈亂不治，氣不和弦急，傷食沉緩，虛驚促急，風浮，冷沉細。</p>
<p>（箋正）小兒在三歲以內，脈極難辨，故古人以食指三關脈紋為據，本節為風關，
中節為氣關，指頭末節為命關，自虎口直上，在指內側上廉，
其脈紋僅見於風關一節，為病最輕；若透至第二節氣關，為病較重，
若直透至第三節命關，則病必危重，多不可治。視指紋法，須以醫者左手，
輕持兒掌，捺定期食指，而以右手大拇指頭第一節內側上廉側面，
輕輕自兒指端向虎口推之，以察其紋之色澤形相，不可以指面正中之羅紋推其指紋，
昔人謂羅紋有火，恐惹動兒熱，亦不可自其虎口向指頭推去，小兒血氣未定，
向上一推，可使其紋暴長，直透關節。若辨紋之色，則紫色主內熱，紅者主身熱，
青者為驚，肝木動也，白者為疳，脾土傷也，若見黑色，即屬不治，
紋以隱隱不露者為佳，顯明深色，病勢必重，間有彎曲之狀，亦當以色澤辨之，
通行書中繪成種種圖象，備盡奇形怪狀，多是臆說，殊不不足據，此雖仲陽所未詳，
然大略如此，差可取證，亦治幼者不可不知之法。至三歲以上，即當兼察其脉，
小兒臂短，寸關尺三部不能容醫人三指，則以一指按定關部，而即以此指左右展轉，
以兼察其尺寸兩部，浮沉遲數，大小長短。形勢主病，亦與大人無甚區別，
但軀幹短小，呼吸促而脉至亦速，大率平人之一呼一吸，脉以七至或八至為平，
古必謂八至為平，十至為數，則稍為言之太過。仲陽此節辨脉，
當亦指三歲以上言之。</p>
<p>脉亂者是正氣已散，故脉無定狀，大人得之，亦不可治，何論小兒氣急則脉弦急，
食傷則氣滯，故脉沉且緩，驚則氣浮，故脉為之促急。促即促數之促，
不必依脉經及傷寒論辨脉篇，定為數中之一止，仲景傷寒論促脉四條，
本無歇止之意，故炙甘草湯一條，以結與代對舉，一言其歇止之無定，
一言其歇止之有定，並不以促與結對舉，可知仲師本旨未嘗以促為止。
此高陽生之脉訣較勝於脉經者，風是外感，於脉當浮，冷為裏寒，脉必沉細，
雖寥寥數言，於寒熱虛實各證，固已得其大略，此外仲陽所未言者，
皆當以大人脉理，推測求之可也。</p>
<p>二、變蒸</p>
<p>小兒在母腹中，乃生骨氣，五藏六府，成而未全。自出生之後，及長骨脉，
五藏六府之神智也，變者，易也，又生變蒸者，自內而長，自下而上，又身熱，
故以生之日後三十二日一變，變每畢，即情性有異於前，何者，長生府藏智意故也，
何謂三十二日長骨添精神，人有三百六十五骨，除手足中四十五碎骨外，
有三百二十數，自生下骨，一日十段而上之，十日百段，三十二日，計三百二十段，
為一遍，亦曰一蒸，骨之餘氣，自腦分入齦中，作三十二齒，
而齒牙有不及三十二數者，由變不足其常也，或二十八日即至長二十八齒，
已下倣此，但不過三十二之數也，凡一周遍，乃發虛熱諸病，如是十周，
則小蒸畢也，計三百二十日，生骨氣乃全而未壯也，故初三十二日一變，生腎生志，
六十四日再變，生膀胱，其發耳與䯌冷，腎與膀胱俱主於水，水數一，故先變生之，
九十六日三變，生心喜，一百二十八曰四變，生小腸，其發汗出而微驚，心為火，
火數二，一百六十日五變，生肝哭，一百九十二日六變，生膽，其發目不開而赤。
肝主木，木數三，二百二十四日七變，生肺聲，二百五十六日八變，生大腸，
其發膚熱而汗，或不汗，肺屬金，金數四，二百八十八日九變，生脾智，
三百二十日十變，生胃，其發不食，腸痛而吐乳，脾與胃皆屬土，土數五，
故第五次之變蒸應之，變蒸至此使全矣。此後乃齒生，能言，知喜怒，故云使全也，
太倉云，氣入四肢，長碎骨，於十變後六十四日，長其經脉，手足受血，
故手能持物，足能行立也。</p>
<p>經云變且蒸，謂蒸畢而足一歲之日也，師曰，不汗而熱者，發其汗，大吐者，微下，
不可餘治，是以小兒須變蒸蛻齒者，如花之易苗。所謂不及三十二齒，由變之不及，
齒當與變蒸相合也，年狀而視齒方明。</p>
<p>（箋正）變蒸之說，由來舊矣，外臺引崔氏：小兒生三十二日一變，六十四日再變，
兼蒸，九十六日三變，二百五十六日八變，又蒸，二百八十八日九變，
三百二十日十變，又蒸，此小變蒸畢也；後六十四日又蒸，
（千金作大蒸）蒸後六十四日又一大蒸，蒸後百二十八日又一大蒸，
此大小蒸都畢也，凡五百七十六日乃成人。所以變蒸者，皆是榮其血脉，改其五藏，
（壽頤按，改字可疑，蓋是滋長之意。）故一變畢，輒覺情態忽有異也，
其變蒸之候，令身熱脉亂汗出，目睛不明，微似欲驚，不乳哺，
上唇頭小白泡起如珠子，耳冷，尻亦冷，此其診也。單變小微，兼蒸小劇，
先期四五日便發，發後亦四五日歇。凡蒸平者，五日而衰，遠至七日九日而衰。</p>
<p>當變蒸之時，慎不可療及灸刺，但和視之，若良久熱不已，可微與紫丸，熱歇便止；</p>
<p>若於變蒸中加以天行溫病，或非變蒸而得天行者，其診皆相似，唯耳及尻通熱，
口上無白泡耳，當先服黑散以發其汗，熱當歇，便就差，若猶不都除，
乃與紫丸下之。（紫丸黑散方附後）巢氏病源謂小兒變蒸者，以長血氣也。
變者生氣，蒸者體熱。變蒸有輕重，其輕者，體熱而微驚，耳冷髖亦冷，
上唇頭白泡起，微汗出；其重者，體壯熱而脉亂，或汗或不汗，不欲食，食輒吐哯。</p>
<p>變蒸之時，目白睛微赤，黑睛微白，變蒸之時，不欲驚動，弗令傍邊多人，
變蒸或早或晚，依時如法者少也。（餘與外台相近，千金方即言之尤詳，
然大旨俱同，玆不備錄，以省繁冗）頤案小兒變蒸發熱，誠不可謂之病，
蓋藏府筋骨漸以發育滋長，斯氣血運行之機，有時而生變化。大率體質孱弱者，
變蒸之候較盛，氣粗身熱，食減汗多，或吐乳，或則渴飲，諸恙多具，</p>
<p>此不當誤認外感，妄投發散，靜以俟之，一二日自然恢復原狀；若體旺者，
則未必皆然，或一日半日，稍稍不甚活潑，其最健全者。且絕無此等狀態。</p>
<p>古人計日而算，太覺呆板，萬不可泥。凡經此一度度蒸之後，聲音笑貌。舉止靈敏，
皆進一步，其為氣血增長，信而有徵，是以世俗共謂之長意智。仲陽此節，
頗有語病，如謂兒在母腹，五歲六府成而未全，已非真理，又謂自下而上，
第一次生腎膀胱，第二次生心小腸，則竟似達生之初，藏府原未完全，得無可駭，
又謂水數一，火數二，木數三，金數四，土數五，則拘泥五行，執而不化，惟是宋、
金、元、明之世，譚醫之士，大都如此，固不必專責之仲陽一人。
崔氏所謂榮其血脉，巢氏所謂以長血氣二語，最握其要，
仲陽謂長骨脉五藏六府之神智，渾而言之，頗得圓相。病原謂變蒸之時，或早或晚，
依時如法者少，蓋人之體質，萬有不齊，其理如是。凡論生理病理，
古籍中多以日計者，固亦略示以標準之意，而為之解者。</p>
<p>必僂指而數，作算博士，則呆讀古書，未免可哂。</p>
<p>附錄紫丸方。
外臺引崔氏（外臺秘要三十五卷）</p>
<p>代赭赤石脂（各一兩）、巴豆（三十枚去心皮煎）、
杏仁（五十枚去皮尖熬）</p>
<p>右四味，擣代赭等二味為末，巴豆杏仁別擣如膏。又內二味，合擣三千杵，自相合，
若硬，入少蜜更擣，密器中盛封之。三十日兒，服如麻子一丸，與少乳汁，令下喉，
食頃後與少乳，勿令多，至日中當小下，熱除，若未全除，明日更與一丸。</p>
<p>百日兒服如小豆一丸，以此準量增減也。小兒夏月多熱，喜令發疹，二三十日，
輒一服甚佳。此丸無所不治，代赭須真者，若不真，以左顧牡蠣代之，忌豬肉蘆筍。</p>
<p>壽頤按巴豆入藥，古人皆曰熬，蓋其毒在油，熬黑以去其毒也。</p>
<p>近世則研細，紙包壓淨油用之，尤佳，此是後人製法之巧於古人者。</p>
<p>附錄黑散方。
外臺引崔氏（外臺秘要三十五卷）</p>
<p>麻黃（一分去節）、大黃（一分）、
杏仁（二分去皮尖熬令變色）</p>
<p>右三味，先擣麻黃大黃為散，杏仁別擣如脂，乃細細內散又擣，令調和訖，
內密器中。一月兒服如小豆大一枚，以乳汁和服之，抱令得汗，汗出，溫粉粉之，
勿使見風。百日兒，服如棗核，以兒大小量之為度。</p>
<p>（箋正）此二方皆是古法，所服甚少，故不為害。然溫病發熱，
究非發表一法所可無投不利，此讀古書者，不可拘守成法者也。</p>
<p>三、五藏所生</p>
<p>心主驚，實則叫哭發熱，飲水而搖，（聚珍本作搐）虛則臥而悸動不不安。</p>
<p>（箋正）兒之驚搐，多由稚陰未充，火升氣升，肝陽化風上炎，
是即西學之所謂血沖腦神經病，故猝然而作，知覺運動頓失常度。</p>
<p>古人不知有腦神經之功用，恆謂知覺運動皆以心為之主，遂以驚為心病。</p>
<p>壽頤則謂心陽太亢，氣火上升，亦與西學血沖腦經之理，同條共貫，所言病情病因，
無甚歧異，但彼此立說，各道其道耳。叫哭發熱，渴飲抽搐，是為火氣有餘之實症，
治宜瀉火清心，并須鎮攝肝腸，以抑上升之氣火，則腦神經功用可復。</p>
<p>若心液虛而臥寐中悸怯不安，則宜養液甯神者也。</p>
<p>肝主風，實則目直大叫，呵欠項急頓悶，虛則咬牙多欠，氣熱則外生氣，
溫則內生氣。</p>
<p>（箋正）肝藏合德於木，性情剛果，最易橫逆。肝陽既動，則火盛生風，
是為氣火太盛，內生之風，幼科急驚，陡然而發，皆屬肝病。目直大叫，
亦即氣血上沖，而腦神經受其刺激，故目定直視，不能旋轉，呵欠亦氣逆不下，
升多降少之徵。項急即痙直，亦腦神經病，不可以仲景痙病之例，認作太陽。
頓悶者，即猝然悶絕，人事不知之狀，皆西學之所謂腦經病也。咬牙者，
睡夢中齒牙軋軋作聲，有因於胃火太盛者，亦有因於脾胃虛寒者。火盛屬實，
慮其猝有急驚之變，脾寒屬虛，慮其將作慢驚。下文心熱條中，有咬牙一症，
即是實熱，而此以為肝虛，豈不自矛自盾。氣熱則外生氣以下十一字，文義費解，
蓋展轉傳寫，必有譌誤。</p>
<p>此當闕疑，不可再為塗附。</p>
<p>脾主因，實則困睡，身熱飲水，虛則吐瀉生風。</p>
<p>（箋正）困者，蓋言倦怠嗜臥之意。然脾主困三字，措辭殊覺不順。</p>
<p>然今之蘇浙間俗語，謂睡眠曰困，乃字書所無之義。仲陽先世，系出吳越，
或當時已有此諺，所謂實則因困睡，確與吳越俗語相合。蓋脾熱則清陽不司布濩，
故懶倦而多眠，身熱飲水，皆熱徵也。又脾為溼困者，亦多眠睡，若脾虛且寒，
則上吐下瀉，不司健運之職矣。脾虛而肝得乘之，侮其所不勝，則亦生風，
即是慢驚，亦曰慢脾風，此非急投溫補脾腎不可者也。</p>
<p>肺主喘，實則悶亂喘促。有飲水者，有不飲水者，虛則哽氣，長出氣。</p>
<p>（箋正）肺主氣之出納，肺和則呼吸調和，肺病則氣之出納必病，故肺病主喘。</p>
<p>肺實者，氣必閉室而不調，則為悶亂而喘氣急促。飲水者，肺家有熱。不飲水者，
肺有水飲，故皆為實證。虛則氣哽者，氣不及而抑塞，失其故常也。長出氣者，
蓋以多呼少吸者言之，肺虛何疑。</p>
<p>腎主虛，無實也，惟瘡疹腎實，則變黑陷。</p>
<p>（箋正）腎主先天之真陰，其長成極遲，稚齡無慾念，腎陰未足可知，
故兒科無腎實之病。古人之所謂瘡疹，即長痘瘡，痘瘡何以有腎實之症，
則亦以相火之太熾，露而不藏使然。然腎火上炎，即是腎陰不濟，雖曰火盛為實，
卻是陰液涸枯，故痘為之焦黑而癟陷，見機及早，急急大劑養水，救焚沃焦，
或可挽回一二，稍遲必無及矣。</p>
<p>更當利虛實證，假如肺病又見肝證，咬牙多呵欠者易治，肝虛不能勝肺故也。</p>
<p>若目直，大叫哭，項急頓悶者難治，蓋肺久病則虛冷。肝強實而反勝肺也，
視病之新久虛實，虛則補母，實則瀉子。</p>
<p>（箋正）此則以五藏虛實，互相克賊者言之。一藏有病，而此藏所勝者，
尚無盛旺之實症，則不致反受其侮，此藏尚可支持，否則不勝我者，氣燄既張，
亦挾其銳厲而來陵我，其何以堪，然此特泛言其理耳。見症治症，不可一概而論，
虛則補母，實則瀉子二語，雖曰古之恆言，其實不可泥死於古人句下。</p>
<p>四、五藏病</p>
<p>肝病，哭叫目直，呵欠頓悶項急。心病，多叫哭驚悸，手足動搖，發熱飲水。</p>
<p>脾病，困睡泄瀉，不思飲食。肺病，悶亂哽氣，長出氣，氣短喘息。腎病，無精光，
畏明，體骨重。</p>
<p>（箋正）此條五藏為病，多上文所已言者。蓋閻氏所得仲陽之書，
原非一本以其大同小異而并存之，閻序自有明文，此蓋其重複之未削者耳。</p>
<p>惟腎病一條，上文所無，畏明無精光，則以瞳神言之，目有真水，即屬腎陰，
是以腎藏為病，而目乃羞明，且無精彩，是為虛證，正與上文腎無實症，互為發明，
體重骨重，則可與仲景少陰篇參看，是為少陰虛寒見證。</p>
<p>五、肝外感生風</p>
<p>呵欠頓悶，口中氣熱，當發散，大青膏主之。若能食，飲水不止，當大黃圓微下之，
餘不可下。</p>
<p>（箋正）此條標目，既曰外感生風，則是為外風而言，然肝能生風，
皆是內熱上盛所致，此內因之病，必不可誤認外感，此乃仲陽千慮之一失。</p>
<p>呵欠者，氣火上升，即肝陽為病之氣粗息高。頓悶者，猝然悶絕，
且是氣血上沖而腦神經受病，外感之風，奚容有此，且外感為病，
亦胡可專屬之肝藏。大青膏方見於後方下云，治小兒熱盛生風，欲為驚搐，
其非外感之風，甚是明白，且藥用天麻青黛硃砂竹黃等，皆非發散之品，
則此條所謂外感當發散，而主以此方云云，竟是認病一誤，認藥再誤，大有可疑，
再證以大黃丸微下之一層，惟其內熱生風，故可微下以泄實熱，若日外感，
又安有感邪可下之理。蓋仲陽此書，原屬當時輾轉傳抄之本，實非仲陽所手定，
是以全帙中可疑之點不少，凡屬疑竇，皆當是正，方不致貽誤後人，反為仲陽之累。</p>
<p>六、肝熱</p>
<p>手尋衣領，及亂捻物，瀉青圓主之，壯熱飲水喘悶，瀉白散主之。</p>
<p>（箋正）尋衣領及亂捻諸物，皆肝陽肆擾，而舉動失其常度，是肝有內熱，
而驚將作矣，故宜瀉青，然此證之手握諸物，必皆堅固有力，故知為實熱，
可投是藥。若神虛無主之循衣摸床，則無力而緩緩循摸，其神情狀態，大是不同，
不可誤認。喘悶而壯熱飲水，則肺之鬱熱可知，故用瀉白，
然此條壯熱飲水以下十一字，明屬肺熱之症治，何以并入於肝熱條中，
以此知仲陽是書，為傳寫者錯亂，固已多矣。</p>
<p>七、肺熱</p>
<p>手搯眉目鼻面，甘桔湯主之。</p>
<p>（箋正）肺氣通於鼻，故眉目之中心及鼻面之正部，皆屬於肺。</p>
<p>惟肺熱上薰，則眉目鼻面之間，皆鬱結而不能舒適，或為烘熱，小兒雖不能言，
自知以手搯之，則肺熱外露之明證，故用甘桔，所以宣泄肺金之鬱氣也。</p>
<p>桔梗是苦泄開通之藥，非升浮發散品，此不可誤信張潔古諸藥舟楫，
載藥上浮之妄說者。</p>
<p>八、肺盛復有風冷</p>
<p>胸滿短氣，氣急喘嗽上氣，當先散肺，後發散風冷。散肺瀉白散，大青膏主之，
肺不傷寒，則不胸滿。</p>
<p>（箋正）胸滿短氣，氣急喘嗽上氣，皆肺有實邪，當先散肺，是也。</p>
<p>然所謂散肺者，即發散風冷，以開泄肺家閉塞之氣，當用麻防蘇杏荊蒡桑蒺，
紫菀兜鈴之類，必無寒涼遏抑之理。本條以散肺與發散風冷，分作兩層治法，
已是可疑，且散肺胡可概用瀉白，須知地骨桑皮寒降之藥，止可以瀉肺藏之鬱熱，
必不能散肺塞之窒塞，此症此藥，正是背道而馳，如其誤與遏塞，
適以閉其風冷於內，變證且不可勝言，安得謂是發散。仲陽之明，必無此謬，
即大青膏亦豈對症之藥，此條決非錢氏原文，後之學者，不可誤信，
且末句又謂肺不傷寒，則不胸滿，又豈有傷寒胸滿，
而可以瀉白散之寒涼抑降重其窒塞者，讀者必須具此慧眼庶不為無稽之言所誤。</p>
<p>九、肺虛熱</p>
<p>唇深紅色，治之散肺。虛熱，少服瀉白散。</p>
<p>（箋正）脾主囗唇，唇色深紅，當屬脾胃實熱。何故以為肺之虛熱，如果肺虛有熱，
則當甘平補肺，用沙參百合之類，且熱既屬虛，何以云散，而所以散虛熱者，
又是瀉白散一方。上條則甪以散肺之風冷，此又用以散熱，
安有一方而可兼治冷熱之理，種種疑竇，錢仲陽何竟如此。</p>
<p>若口脾為肺母，脾熱瀉子，正合古人實則瀉子之法，然終不可謂是肺虛熱也。</p>
<p>一十、
肺藏怯</p>
<p>唇白色，當補肺，阿膠散主之。若悶亂氣粗，喘促哽氣者，難治肺虛損故也。</p>
<p>（箋正）口唇屬脾，脾之與肺，子母相生，故肺氣虛怯，則唇色㿠白無華，
是為子虛及母。錢氏製阿膠散，專補肺陰，而用兜鈴牛蒡，開宣肺氣，俾不壅塞，
是其立法之靈通活潑處，與呆笨蠻補者不同。錢謂悶亂氣粗，喘促哽氣者難治，
蓋肺為嬌藏，稚齡生長未充，實證閉塞，已非易治，況復虛而喘硬，自當難療。
凡兒病喘促，多不可救，臨證以來，歷歷不爽，仲陽早為指示，
知錢氏於此科之所見博矣。</p>
<p>脾肺病久，則虛而唇白。脾者，肺之母也，母子皆虛，不能相營。故名曰怯。</p>
<p>肺主唇白，白而澤者吉，白如桔骨者死。</p>
<p>（箋正）肺虛而唇無華色，固也，然既屬怯症。必非吉兆。此條末三句，
反似唇白是肺家應有之色，蓋泥於肺金色白，遂以白為正色，
而不悟唇色之必不當㿠白，此豈是明醫之言，且謂白而澤者吉，更非生理之真，
仲陽明哲，何竟若是，宜為刪之。</p>
<p>一一、心熱</p>
<p>觀其睡，口中氣溫，或合面睡，及上竄咬牙，皆心熱也，導赤散主之。</p>
<p>心氣熱，則心胸亦熱，欲言不能，而有就冷之意，故合面臥。</p>
<p>（箋正）睡中囗氣甚熱，當為胃火有餘之徵，上竄，蓋指目之上視而言，
則內熱火升，氣血上湧，行將有沖激腦經，驚搐之變矣。咬牙多實熱之症，
亦肝火及脾胃鬱熱使然，仲陽概以為心熱，似尚不甚貼切，惟導赤散清火泄熱，
導之下降，以治諸症，固無不可。心胸有熱，合面而睡，所以就冷，其理頗確，
然數月之孩，不能自動也，以此為辨症之法，似不甚妥，下條亦蹈此弊。</p>
<p>一二、心實</p>
<p>心氣實則氣上下行澀，合臥則氧不能通，故喜仰臥，則氣得上下通也，瀉心湯主之。</p>
<p>一三、腎虛</p>
<p>兒本虛怯，由胎氣不成，則神不足。目中白睛多，其顱即解，面色㿠白，此皆難養，
縱長不過八八之數。若恣色慾多，不及四旬而亡。或有因病而致腎虛者，非也，
又腎氣不足，則下竄，蓋骨重，惟欲墜於下而縮身也。腎水陰也，腎虛則畏明，
皆宜補腎，地黃圓主之。</p>
<p>（箋正）白睛多而瞳神小，腎虛固也。解顱是大虛症，確皆先天不足，即投大補，
亦恐無及，謂為難養，誰曰不然，然謂不過八八，不及四旬，則大不可解，
若以年齡而言，八八已逾周甲，豈猶與下殤等視。</p>
<p>若曰此是日數，則恣色慾多，明指成人而言，似此立論，大覺駭人，下竄骨重，
亦頗費解。地黃圓補腎，向來每謂此是仲陽心法，然壽頤竊謂必非大補之藥，
說已見沈氏女科輯要所引本方方解之拙論，況此條乃先天極虛之候，是丸有何力量，
而苓澤丹皮清熱滲利，於此證尤為不合，木條文義，甚多不順，
恐仲陽不當顢頇至於此極。</p>
<p>附解顱症治驗庚申秋季，有以解顱症來校就診者，兒纔二歲，頂巔之大，
逾於七八齡童。䪿門寬陷，闊如兩指，面唇慘白，毫無華色，頭不能舉，聲嘶而直，
不類兒啼，氣營兩憊，一望可知，茍非病本於有生之先，何以致此；
詢之則父逾大衍，母亦幾及七七矣，似此根六竭蹶，縱有神丹，
何能煉媧皇五色之石，以補到鴻濛末闢之天。壽頤辭不能治，而乃母痛極欲號，
則半百之齡，膝下固止此呱呱在抱耳，無已。</p>
<p>令以鹿茸血片研末，每日飼以三四厘，外用古方封䪿法，乾姜細辛肉桂為末，
熱陳酒調敷䪿門，亦聊勝於無藥應付，以免重傷二老之心，乃後月餘，是兒復來，
居然面色有華，笑啼活潑，項能舉，顱稍歛，乃授以大補真陰，稍參溫煦為煎劑，
仍令口服鹿茸末二厘，雖此孩日久，有無變幻，仍難預料，然就當時言之，
不可謂非藥力之扶持者也。</p>
<p>一四、面上證</p>
<p>左䪿為肝，右顋為肺，額上為心，鼻為脾，頦為腎，赤者熱也，隨證治之。</p>
<p>（箋正）此以上下左右中之部位，分屬五藏，為察色辨症之一法，然有時可據，
亦有時不可據，是當以其餘之見症，合而參觀，不可拘泥不化，頦與頷同，
又唇口屬脾，亦最有驗。</p>
<p>一五、目內證</p>
<p>赤者心熱，導赤散主之。</p>
<p>（箋正）目赤有外感之風熱，有內鬱之肝火，小兒初生數朝以至三五月，最多此候。
則胎中蘊熱，非三黃湯不可。仲陽但謂之心熱，但未免拘泥五藏五色之說，
但導赤散清火以通小便，使熱有所泄，尚無太蔽，特未免失之太泛耳。</p>
<p>淡紅者心虛熱，生犀散主之。</p>
<p>（箋正）目紅而色淡不甚，固是虛熱，然治虛火者，無大塞直遏之理，
法當養陰益液以涵藏之。生犀散方，藥用犀角地骨，皆清實熱之藥，以治此症，
殊未穩愜。</p>
<p>青者肝熱，瀉青圓主之，淺淡者補之。</p>
<p>（箋正）色青誠是肝家本色，藏氣內動何色應於外，肝家橫逆，氣燄方張，故宜瀉，
然目色青者，未必皆實熱，青者肝熱四字，已不甚妥，且瀉青圓藥用羌防川芎，
升泄太過，更與肝氣橫逆之症不合，此是木氣之太過，非外受之風邪，風藥升散，
反以益張其燄，用者不可不知更改。若青而淺淡，是為肝虛而本色外浮，補肝固宜，
但須峻養肝腎真陰，必選溫柔滋潤之藥。</p>
<p>黃者脾熱，瀉黃散主之。</p>
<p>（箋正）目黃是脾胃蘊濕積熱之徵，法當理濕清熱而通利小水。</p>
<p>瀉黃散防風為君，古人蓋謂風行地上，則燥勝而濕除，然濕熱為病，
而概以風燥之藥助其鼓動，必有流弊，此必不可盡信古書者也。</p>
<p>無精光者腎虛，地黃圓主之。</p>
<p>（箋正）目無精光，腎虛著矣，然補腎總宜味厚填陰，而六味丸中有滲泄傷津之藥，
豈可竟謂是補腎上將。</p>
<p>一六、肝病勝肺</p>
<p>肝病秋見，（一日作晡）強勝肺，肺怯不能勝肝，當補脾肺治肝，益脾者。</p>
<p>母令子實故也。補脾益黃散，治肝瀉青圓主之。</p>
<p>（箋正）肝病而發作於秋令，肺金當旺之時，旺者不旺，而所不勝者反來相侮，
肺虛甚矣，故當補肺，兼以扶脾，所以顧肺之母，庶幾母蔭及子。</p>
<p>一七、肺病勝肝</p>
<p>肺病春見，一作早晨肺勝肝，當補腎肝治肺臟，肝怯者受病也，補肝腎地黃圓，
治肺瀉白散主之。</p>
<p>（箋正）肺病而發作於春令，肝木當旺之時，旺者不旺，而所勝者來相剋賊，
肝虛何疑，故當補肝，且補腎以益肝之母，惟肝腎同法，本是乙癸同源，養毓真陰，
以填根本，正不必泛言母子相生，反成空套。</p>
<p>且補養肝腎之陰，必須峻與滋填，如廣筆記之集靈膏魏玉璜之一貫煎類，
始有效力可言。錢氏是書，祇用六味丸，則丹皮苓澤，苦寒滲泄，藥味不純，
豈可概認是大補之品，而乃授庸俗以簡陋之習，
且開立齋養葵輩囫圇吞棗不辨真味之陋，濫觴之源，未始非仲陽千慮一失之弊也。</p>
<p>一八、肝有風</p>
<p>目連劄，不搐，得心熱則搐。治肝瀉青圓，治心導赤散主之。</p>
<p>（箋正）劄、閃動也。此肝陽化風上陵，故目為之閃動，目閃抽搐，實皆腦神經病。
（詳後）</p>
<p>一九、肝有熱</p>
<p>目直視，不搐，得心熱則擋。治肝瀉青圓，治心導赤散主之。</p>
<p>（箋正）直視亦腦神經病，
（詳後）</p>
<p>二十、
肝有風甚</p>
<p>身反折強直，不搐。心不受熱也，當補腎治肝，補腎地黃圓，治肝瀉青圓主之。</p>
<p>凡病或新或久，皆引肝風，風動而上於頭目，目屬肝，風入於目，上下左右如風吹。
不輕不重，兒不能任，故目連劄也，若熱入於目，牽其筋脉，兩眥俱緊，不能轉視，
故目直也。若得心熱則搐，以其子母俱有實熱，風火相搏故也。</p>
<p>治肝瀉青圓，治心導赤散主之。</p>
<p>（箋正）眼胞閃動，手足抽搐，目定直視，及反折強直等症，小兒病此，
世俗無不知是驚風。喻嘉言欲以熱痰風驚四字定名，謂因熱生痰，
困痰熱而生風動驚。勘定病源，已視近世俗書高出倍蓗，究乏幼科驚搐，
即是大人之內風類中，西國學者謂之血沖腦經，而素問調經論篇，早有血之與氣。</p>
<p>并走於上，則為大厥，厥則暴死，氣復反則生，不反則死一節，良由內熱既熾，
氣火上揚，沖激入腦，震動腦之神經，遂令知覺運動頓失功用，無非陰虛於下，
陽浮於上之病，在小兒之所以最多此病者，正以稚陰未充，其陽偏盛，氣火上煽，
激亂神經，尤為易易。中國醫學，素未知有腦之神經主宰此身之知覺運動，
但見其目閃支掣，無端暴作，因謂風性善動，遂以風名，其實氣火俱盛，本是肝陽，
肝動生風，於理亦未始說不過去，但不知此之實在病情，尚係於腦神經之作用，
則於肝動生風一層，亦復相隔一間。惟治此病者，茍能用平肝降火，息風潛攝之藥，
使其氣血鎮定，不復上揚，則腦經不受震撼，而諸恙即可平復，
此即素問之所謂氣反則生者，病情藥理，亦皆符合。則喻氏熱痰風驚四字，
雖未確合神經之原理，然於臨證治療，必能桴應，亦可謂已參上乘之禪。
惟此病之發，或為手足抽搐，或為角弓反張，或則目定囗呆，牙關緊閉，
或則目閃唇動驚惕頻仍，種種情形，隨人各異，則以腦神經分布全體，耳目口舌，
肩背四支，興凡此身之一切運動知覺，無一非腦神經為之主宰。而氣血上沖，
震撼之勢，輕重不同，即腦經之病，隨時各別，沖激其何部之神經，
則一部分之功用頓失，所以或則知覺全泯，或則運動不仁，或為抽掣，或為強直，
各有各病，無一雷同。茍能鎮攝潛陽，降其上逆，則風自息而樹自靜，凡百病狀，
無不浪定波平，頃刻相應。此神經感覺，本極迅速，倏然而動者，自可倏然而甯，
能從根本著想，大處落墨，方是擒賊擒王手段，正不必分條辨症，支支節節而為之，
反致游騎無歸，百難一效，所以古今之論類中者，非不費盡心機，各抒偉論，
而縱有千方，卒無一驗者，皆未識神經為病，有以致之。</p>
<p>幼科驚風，共知難治，弊亦坐此，仲陽當時，固未知有所謂神經者。此條肝風肝熱，
欲以目動目定與抽搐之症，分屬心肝兩藏，實是理想，不足為據，存而不論可也，
即瀉心導赤六味地黃等方，皆未免有籠統不切之弊，此古人之學，大輅椎輪，
不適於今人之用者，亦不當求全責備於仲陽一人也。</p>
<p>二一、驚癇發搐</p>
<p>男發搐，目左視無聲，右視有聲。女發搐，目右視無聲，左視有聲，相勝故也，
更有發時證。</p>
<p>（箋正）抽搐是腦神經病，左視右視，無聲有聲，皆神經受激刺而然，
本無一定之理，仲陽以男女分左右視而定其有聲無聲，在當時或據閱歷而言。</p>
<p>然所謂相勝者，所勝何在，其理難明，何以徵信。考是書中卷醫案第一條，
言之非不詳盡，然謂男為陽而本發左，女為陰而本發右云云，試問何者為本，
仍不可曉。又謂金來刑木，二藏相戰，故有聲。然則無聲者，為二藏之不相戰耶。
要之腦經感觸，或左或右，隨感而應，附會五行生剋，大是可嗤，
此誠吾國醫學之一大蔽也。</p>
<p>二二、早晨發搐</p>
<p>因潮熱，寅卯辰時身體壯熱，目上視，手足動搖，口內生熱涎項頸急，此肝旺，
當補腎治肝也。補腎地黃圓，治肝瀉青圓主之。</p>
<p>（箋正）此下四節，以發搐之時刻，分屬肝心肺腎，以寅卯屬木，已午屬火，
申酉屬金，戌亥屬水而言，雖有是理，然不可泥，且未免穿鑿附會之弊。
惟就四條見症言之，前二條皆實火證，是為急驚，治宜清熱泄火，後二條多虛寒證，
近於慢驚，治當溫補脾腎。仲陽所主數方，尚嫌泛而不切，且前二條皆痰熱實證，
六味地黃，更不相宜，此是心肝二藏，氣火有餘，何可漫引本藏氣虛補母及子之例。</p>
<p>二三、日午發搐</p>
<p>因潮熱，巳午未時發搐，心神驚悸目上視，白睛赤色，牙關緊，口內涎，手足動搖，
此心旺也。當補肝治心，治心導赤散涼驚圓，補肝地黃圓主之。</p>
<p>二四、日晚發搐</p>
<p>因潮熱，申酉戌時不甚搐而喘，曰微斜視，身體似熱，睡露睛，手足冷。</p>
<p>大便淡黃水，是肺旺，當補脾治心肝。補脾益黃散，治肝瀉青圓，治心導赤散主之。</p>
<p>（箋正）此以申酉戌三時發搐，附會肺旺為病，而所述見證，多屬虛寒，
以無肝火實熱，故不甚搐，以其倦怠無神。故目微斜視。曰：身體似熱者，
雖似發熱，而熱亦不壯。睡中露睛者，脾腎兩虛，無固攝之權也。</p>
<p>手足冷者，真寒外露，行且發厥也。大便淡黃稀水，脾腎陽衰之泄利也，種種虛象，
謂當補脾，而用益黃散之溫濇，是也。然與肺旺何涉，虛則補母，古有明訓，
又豈有肺旺而補其母之理。疑當作肺虛，蓋傳寫之誤，然瀉青導赤，
皆非此條諸症所宜。孰謂仲陽而能為此顢頇之語，蓋是書之為妄人竄改者，
固已不少矣。</p>
<p>二五、夜間發搐</p>
<p>因潮熱，亥子丑時不甚搐，而臥不穩，身體溫壯，目睛緊，斜視，喉中有痰，
大便銀褐色，乳食不消，多睡，不納津液，當補脾治心。補脾益黃散，治心導赤散，
涼驚圓主之。</p>
<p>（箋正）此條見證，亦是虛塞慢驚，故宜溫補之以益黃散。</p>
<p>然宜於益黃者必不宜於導赤散，涼驚圓，此何可牛驥同皁，涇渭不分者乎？</p>
<p>又不納津液四字，亦不可解。</p>
<p>二六、傷風後發搐</p>
<p>傷風後得之，口中氣出熱，呵欠頓悶，手足動搖，當發散，大青膏主之。</p>
<p>小兒生本怯者，多此病也。</p>
<p>（箋正）小兒稚陰未充，傷風身熱，頗有引動氣火上升，發為驚搐者，
此是傷風後之變證，非外風之能令抽搐。治法亦必以清熱息風為主，若誤認外風，
再投升散，抱薪救火，為禍益烈。發散二字，大謬不然，
且大青膏天麻青黛竹黃等藥，亦非發散之方，惟中有白附烏蛇，性不純粹，
與證亦不甚合。錢謂小兒生本怯者多此病，可見外感而致發搐，本是元陰薄弱，
不勝氣火燔灼，致有上沖激腦之變，如其真陰不虛，自能涵陽者，必不致此，
則病情源委，仲陽固知之甚明，又豈有虛症而可投發散者耶。</p>
<p>二七、傷食後發搐</p>
<p>傷食後得之，身體溫，多唾多睡，或吐不思食而食而發序搐，當先定搐，搐退，
白餅子下之，後服安神圓。</p>
<p>（箋正）傷食而為發搐，亦由壅滯不通，氣上不下，乃有此變，是宜先去其滯，
則地道一通，氣火自平，而腦神經可復。錢謂當先定搐，搐退而後可下，
又不言定搐當用何法，未免先後倒置，須知既因食積而後致搐，
則食不去即搐不可定，白餅子雖是猛劑，然本為實症而設，所服無多，亦不為峻。</p>
<p>二八、百日內發搐</p>
<p>真者不過兩三次必死，假者發頻不為重，真者內生驚癎，假者外傷風冷。</p>
<p>蓋血氣未實，不能勝任，乃發搐也。欲知假者，口中氣出熱也，治之可發散，
大青膏主之，及用塗䪿浴體法。</p>
<p>（箋正）小兒驚搐，病理皆同，本不隨年齒長幼為區別，
而仲陽必以百日內發搐特立一條者，良由陰陽俱稚，腦力極薄，一經震撼，
多不可支，其症較劇，其治較難，試觀甫生一二月之嬰孩，患此者必多不起，
其故可思。</p>
<p>錢謂血氣未實，不能勝任，固已一言說盡，勘透真情。</p>
<p>仲陽乃以外傷風冷並論，有此疑是疑非穿鑿不切之說，要之驚搐一症，
必無發散可愈之事，而塗䪿浴體二方，亦末可妄試。</p>
<p>二九、急驚</p>
<p>因聞大聲或大驚而發搐，發過則如故，此無陰也，當下之，利驚圓主之。</p>
<p>（箋正）急驚抽搐，其原因於肝火陡動，氣血上沖，良由氣火俱盛，是以病發極暴，
大聲大驚，尚是借端。錢謂無陰，蓋言其孤陽偏旺之意。</p>
<p>在當時未知有神經為病，而能識是有陽無陰，正與素問所謂氣上不下，血之與氣，
并走於上，則為大厥諸條，彼此符合，可知至理自在人間，識見有真，
說理固自不謬。錢謂當下，原是下行為順，使其氣火不沖，而驚搐可已，
碻為治此證之不二法門。當下二字，學者不可粗心略過，須知順氣降火，
開痰潛陽等藥，無一非下字正義，亦不專指利驚圓中之牽牛一味，若必謂大黃芒硝，
牽牛巴霜，方是下劑，則笨伯矣。</p>
<p>小兒急驚者，本因熱生於心，身熱面赤引飲，口中氣熱，大小便黃赤，劇則搐也。</p>
<p>蓋熱甚則風生，風屬肝，此陽盛陰虛也，故利驚圓主之，以除其痰熱，
不可與巴豆及溫藥大下之，恐蓄虛熱不消也。小兒熱痰客於心胃，因聞聲非常，
則動而驚搐矣。若熱極，雖不因聞聲及驚，亦</p>
<p>自發搐。</p>
<p>（箋正）古人皆未知腦之神經，故仲陽止謂急驚熱生於心，要之氣火升騰，
病情病理，章章可據，仲陽固亦明知之，急驚兼證，未有不現陽升之狀，熱盛風生，
上激入腦，其勢迅疾。陽盛陰虛四字，懸之國門，必不能增損一字，
其證之多有痰涎蟠踞者，正以氣火俱盛，挾其胸中固有之濁涎，隨而上湧，
須知痰是有形，而無形之氣火，尤為猛厲，一經攻下，則無形之氣，有形之痰，
頃刻下墜，無不捷效之理，惟是陽證，故諄諄以溫下為大戒。
仲陽又謂熱極則不聞大聲，不受驚恐，而亦自搐，正惟氣火陡動，倏爾升騰，
並無假乎外來之感觸，頗能說明神經所以受激之理，認證極真，說理極碻，
真不愧兒科聖手。</p>
<p>三十、
慢驚</p>
<p>因病後，或吐瀉，脾胃虛損，遍身冷，口鼻氣出亦冷。手足時瘈瘲，昏睡，睡露睛，
此無陽也，栝蔞湯主之。</p>
<p>（箋正）急驚純是實熱。慢驚純是虛寒。良由脾腎陰陽兩衰，脫絕於下，
而濁陰之氣，亦復上升，沖激及腦，而為抽搐，但其氣已微，縱能激動，亦是無力，
故抽掣搐搦之勢，必緩緩震動，毫不暴烈，此慢驚所以命名之義。錢謂因於病後，
或吐瀉之後，脾腎陰陽，皆已憊極，故慢驚兼證，無一不露虛塞疲憊之形。
所謂無陽者，實是陰陽兩竭之候，故此證治法，非大溫大補，不能回黍谷之春，
不僅溫煦溫和，可以有效，此惟乾隆末年武進莊在田之福幼編，論證極精，
用藥最當。仲陽所主之栝蔞圓，則所謂大輅椎輪，古之模型，不適今人之用。
或謂慢驚既亦是氣血之上沖腦經，則尚屬浮陽，何以見症純陰，而無一毫陽燄氣象，
且既屬氣血上升，何以投之溫劑而亦能桴應，壽頤謂此是脾腎真陽已竭，
陰寒之氣上沖于腦，雖亦是神經為之震動，而彼為陽熱上乘，此是陰氣上激，
見證顯然，確有可據。</p>
<p>病情實是天淵，而所以上沖擾腦之理則一，故知覺運動，亦能陡然失其常度，
或為抽搐瘈瘲，或為角弓反張。慢驚見證，頗似與急驚無別，
但以牽掣形態之急遽怠緩，有力無力為辨，而其他見證，及色澤脉舌，
更是絕然不同。凡大人之內風類中，閉者多屬實熱，脫者多屬虛寒，而其昏瞀無知，
不遂不仁等症，固皆無異，其理亦復如是。拙著中風斠詮，已詳言之矣。</p>
<p>凡急慢驚，陰陽異症，切宜辨而治之。急驚合涼瀉，慢驚合溫補，世間俗方，
多不分別，誤小兒甚多。又小兒傷於風冷，病吐瀉，醫謂脾虛，以溫補之，不已，
復以涼藥治之，又不巳，謂之本傷風，醫亂攻之。因脾氣即虛，內不能散，
外不能解，至十餘日，其證多睡露睛。身溫，風在脾胃，故大便不聚而為瀉，
當去脾間風，風退則利止，宣風散主之，後用使君子圓補其胃，
亦有諸吐利久不差者，脾虛生風而成慢驚。（箋正）急驚慢驚，一虛一實，
一熱一寒，相去天淵。</p>
<p>今巿肆通行幼科丸子，其巿招輒曰治急慢驚風，則二症必無一可治，誤人最厲。</p>
<p>觀仲陽辨症，何等明白，而已有俗方不別之論，可知巿廛惡習，由來甚久，
固不自近日始矣。小兒傷於風冷以下云云，是述當時俗醫誤治，
以致變為慢驚之病因，但風在脾胃，大便為瀉一說，尚是古人理想，風乃外淫，
如果深入府藏，必無獨在一府一藏之理，究竟此之牽掣抽搐，並非風動，
況乎露睛泄瀉，脾陽傷矣。宣風散中有檳榔牽牛，胡可重虛其虛，
此宜為仲陽糾正者，不可如塗塗附。總之既有多睡露睛，大使泄瀉等證，
無不以溫補脾腎為急。</p>
<p>三一、五癎</p>
<p>凡治五唌癎，皆隨藏治之。每藏各有一獸，並五色圓治其病也。</p>
<p>（箋正）癎即是癲，素問謂之顛疾。以氣上不下，聚於頂顛，沖激腦經而然。
古人命名，洞矚病理，本極精當，字亦作瘨。玉篇；瘨（音ㄉ一ㄢ），狂也。又癎，
小兒瘨病，千金引徐嗣伯風眩論，謂：痰熱相感而動風，風火相亂則悶瞀，
故謂之風眩。大人口癲，小兒則為癎，其實則一云云。</p>
<p>巢氏病源亦日：十歲已上為癲，十歲已下為癎。是顛癎顛狂之病，六朝以前，
未嘗不知病在於腦。千金方有紫石散，治大人風引，小兒驚癎瘈瘲，日數十發，
醫所不療者，藥用龍骨、牡蠣、滑石、石膏、寒水石、赤白石脂、紫石英，
重以鎮之，定其氣血之上升，其法最古。外臺則作崔氏紫石湯，
（此方即今本金匱附方之風引湯，龍牡之外，用石藥六物，以治氣上不下，
極是對症，惟方中有乾薑、桂枝二味，甚不可解。）</p>
<p>徐嗣伯亦謂此方治癲癎，萬無不愈，可知近賢張伯龍以潛陽鎮逆之法，治內風類中，
本有師承，惜乎宋金以降，不復知癲癎即頂巔之巔，遂有五癎五獸，分屬五藏之說。
觀病源五癲，尚不以五藏立論，外臺癲癎門中，亦無此說。</p>
<p>則錢氏所謂五藏各有一獸云云，鄙俗之見，猶出唐人以後，但治以五色圓為主，
硃砂、鉛汞、雄黃、真珠為丸，又以金銀湯下藥，一派鎮墜，下氣壓痰，
頗合顛疾之義。</p>
<p>千金療風癲方，亦用龍骨、龍齒、鐵精；古今錄驗治五癲，有鐵精散、雄黃丸，
無不同符合撰。（二方皆見外臺，其雄黃丸方，為鉛丹、真珠、雄黃、水銀、雌黃、
丹砂，即是錢氏此書之五色圓，惟鉛丹與鉛為異，然外臺於鉛丹下注熬成屑三字，
則鉛丹本不須熬而後成屑者，可知外臺丹字，原屬衍文，且於雌黃之下注云，
一本無，則其方實與錢氏並無小異。）合而觀之，知癲為腦神經病，灼然無疑，
又何必強以五臟五獸，妄為分別，且治法既同，尤可見分藏論症。更屬穿鑿附會，
可鄙可嗤，本無實在理由可說者也。</p>
<p>犬癎，反折上竄，犬叫，肝也。</p>
<p>羊癎，目瞪吐舌，羊叫，心也。</p>
<p>牛癎，目直視，腹滿，牛叫，脾也。</p>
<p>雞癎，驚跳反折手縱，雞叫，肺也。</p>
<p>豬癎，如尸，吐沫，豬叫，腎也。</p>
<p>五癎重者死，病後甚者亦死。</p>
<p>三二、瘡疹候</p>
<p>面燥顋赤。目胞亦赤。呵欠頓悶，乍涼乍熱。欬嗽噴嚏手足梢冷。</p>
<p>夜臥驚悸。多睡。並瘡疹證。此天行之病也。惟用溫涼藥治之。</p>
<p>可妄下及妄攻發。受風冷。</p>
<p>（箋正）瘡即今之所謂痘。疹即今之所謂痳，吾吳謂之痧子，甬人謂之瘄子。
此以天行之厲氣而言，風溫外襲，肺胃首當其衝。欬嗽噴嚏是肺病。</p>
<p>面燥顋赤是胃熱。呵欠亦肺胃病。目赤是肝脾熱。手足梢冷者，指尖冷也。</p>
<p>驚悸是心肝熱。多睡是脾熱。所謂用溫涼藥治之者，蓋有虛寒症，止宜溫養；
有實熱症，止宜清涼，不可投大辛熱太苦寒之劑，極於一偏也。</p>
<p>妄下則處其裏，每致內陷，妄發則虛其表，愈增毒燄，故仲陽懸為厲禁。</p>
<p>不可受風冷者，痘疹皆以發泄為主，宜透達不宜遏抑，若風冷外束，發泄不透，
變症蜂起，多致不治。三者之害，皆極危險，示以禁約，不獨醫者必當守此規矩，
凡為父母者，亦不可不知。</p>
<p>五藏各有一證，肝藏水疱，肺藏瞭疱，心藏斑，脾藏疹，歸腎變黑。</p>
<p>（箋正）此分五藏，其證不甚可解，即其名亦頗庸俗，蓋當時俗見，妄為分析，
其義殊不可言。而近年種牛痘法，盛行於時，最為簡便，且無流弊。</p>
<p>舊法種痘，幾為廣陵散，是以壽頤治醫三十年，痘證極少經驗，不敢謬加評隲，
姑付闕疑，以俟能者。歸腎變黑，則腎水涸而相火熾，有焦枯癟陷之危，
是宜大劑沃焦救焚，養水以滋陰液。</p>
<p>惟斑疹病後或發癎，餘瘡難發癎矣。木勝脾，木歸心故也，若涼驚用涼驚圓，
溫驚用粉紅圓。</p>
<p>（箋正）痘後陰傷，虛火上擾，癎之與驚，亦所時有。錢謂惟斑疹後發癎，
亦所難詳，木勝脾，木歸心云云，此附五行，未免可鄙。而涼驚丸、粉紅丸，
皆是清涼之劑，何以分治涼驚溫驚二症，尤所不解，蓋傳寫者或有訛誤矣。</p>
<p>小兒在胎十月，食五藏血穢，生下則其毒當出，故瘡疹之狀，皆五藏之液。</p>
<p>肝主淚，肺主涕，心主血，脾為裹血，其瘡出有五名，肝為水疱，以淚出如水，
其色青小，肺為膿疱，以涕稠濁，色白而大，心為斑，心主血，色赤而小，
次於水疱，脾為疹，小次斑瘡，其主裹血，故赤色黃淺也。涕淚出多，
故膿疱水疱皆大，血營於內，所出不多，故斑疹皆小也，病疱者，涕淚俱少，
譬胞中容水，水出則瘦故也。</p>
<p>（箋正）小兒在胎十月，食五藏血穢，此庸愚之見，太覺可嗤。</p>
<p>抑知兒未誕生，本無需食，何論其穢與不穢。五藏分證，尤不碻當，
且辭句又皆不甚了了，本無研究可言，是當存而不論。</p>
<p>始發潮熱，三日以上，熱運入皮膚，即發瘡疹，而不甚多者，熱留膚腠之間故也。</p>
<p>潮熱隨藏出，如早食潮熱不已，為水疱之類也。</p>
<p>（箋正）此節文義，亦不條暢，存而不論可也。</p>
<p>痘疹始出之時，五藏證見，惟腎無候，但見平證耳，䯌涼耳涼是也。</p>
<p>䯌耳俱屬於腎，其居北方，主冷也，若瘡黑陷而耳䯌反熱者，為逆也。</p>
<p>若用百祥圓牛李膏各三服，不愈者，死病也。</p>
<p>（箋正）痘發之先，身必獲熱。耳涼䯌涼，是腎不受熱之徵，庶為順候，
若痘瘡黑陷，而耳䯌皆熱，則腎藏熱熾，相火燔灼，故主以百祥丸之大戟一味，
瀉腎家相火實熱。</p>
<p>凡瘡疹若出，辨視輕重，若一發便出盡者，必重也。瘡夾疹者，半輕半重也。</p>
<p>出稀者輕，外黑裏赤者，微重也。外白裹黑者，大重也。瘡端裹黑點如針孔者，
勢劇也。青乾紫陷，昏睡，汗出不止，煩躁熱渴，腹脹啼喘，大小便不通者，困也。</p>
<p>凡瘡疹當乳母慎口，不可令飢，及受風冷，必歸腎而變黑，難治也。</p>
<p>（箋正）痘證發熱，而見點極速，多屬極危極險之候，良由毒燄太盛，故發之暴，
無不周身密佈，泄盡真元，卒於不治。內外微紅者，火燄尚微，故為輕證。
外黑內赤者，外雖熱熾，而根本之血液尚充，故為重症中之較輕症。外白內黑，
則根本之血液已變，甯非危候。若黑點有如針孔，是為焦陷，毒勢甚盛，
而血液不繼，不能外達，凶險何如，青乾紫、陷昏睡以至二便不通等證，
無非毒有餘而陰津不足，無以化漿透達，盡是危侯。</p>
<p>此條辨證，雖止寥寥數言，而虛實夷險，已為指示南針，樹之正鵠，中道而立，
能者從之，因端循緒，學者其亦可以舉隅三反矣。外受風冷，何以必歸腎變黑，
蓋痘瘡本是胎中所鬱之熱毒，必以透泄為順，閉塞為逆，如痘將發而外有風冷束之，
則皮毛之氣，窒塞不通，痘毒又何從透達，勢必愈遏而毒燄愈熾，所以變黑難治。
下條所謂盛寒歸腎變黑者，亦即此理。</p>
<p>有大熱者，當利小便，有小熱者，宜解毒。若黑紫乾陷者，百祥圓下之，不黑者，
慎勿下，更看時月輕重，大抵瘡疹屬陽，出則為順，故春夏病為順，秋冬病為逆，
冬月腎旺，又盛寒，病多歸腎變黑。又當辨春膿疱，夏黑陷，秋斑子，冬疹子，
亦不順也，雖重病，猶十活四五，黑者無問何時，十難救一，其候或寒戰噤牙，
或身黃腫紫，宜急以百祥圓下之，復惡寒不巳，身冷出汗，耳䯌反熱者，死病也。
何以然，腎氣大旺，脾虛不能制故也，下後身熱氣溫，欲飲水者可治，以脾土勝腎，
寒去而溫熱也，治之宜解毒，不可妄下。</p>
<p>妄下則內虛，多歸於腎，若能食而痂頭焦起，或未黑而喘實者，可下之。身熱煩渴，
腹滿而喘，大小便澀，面赤悶亂，大吐，此當利小便，不差者，宣風散下之。
若五七日痂不焦，是內發熱，熱氣蒸於皮中，故瘡不得焦痂也，宜宣風散導之，
用生犀磨汁解之，使熱不生，必著痂矣。</p>
<p>（箋正）大熱在裏，法宜泄導，仲陽惟恐誤下裹虛，致令內陷，故最謹慎，
但內熱而謂當利小便，則殊不然，淡滲利水，津液益耗，反以增其熱壅，
此仲陽之誤會，未可盲從。瘡疹屬陽，總以開宣透發為順，春夏氣升，易於開泄，
秋冬氣降，易於凝閉，是以春夏為順，秋冬為逆。</p>
<p>其身冷而耳䯌反熱者，正以腠理不開，而腎肝熱壅，故多危候。</p>
<p>錢謂腎旺而脾虛不能制。甚非真旨，須知耳䯌發熱，乃是腎家相火之旺，火既偏旺，
真水受灼，腎陰已承其弊，而乃反謂之脾不能制，拘拘於五藏五行，
慣談生剋而不顧症情之實在，仲陽蓋亦未能免俗矣。</p>
<p>瘡疹由內相勝也，惟斑疹能作搐，疹為脾所生，脾虛而肝旺乘之，木來勝土，
熱氣相擊，動於心神，心喜為熱，神氣不安，因搐成癎。斑子為心所生，心生熱，
熱則生風，風屬於肝，二藏相搏，風火相爭，故發搐也。治之當瀉心肝補其母，
栝蔞湯主之，（箋正）抽搐是神經為病。然謂其生熱生風，風火相爭，
於理亦尚不謬，此雖附會五行勝負，子母相生，但不可拘泥不化，要知古人之學，
大率如此，尚不足為仲陽病也。</p>
<p>瘡黑而忽瀉便膿血，并痂皮者順，水穀不消者逆，何以然，且瘡黑屬腎，脾氣本強，
或舊服補脾藥，脾氣得實，腎雖用事，脾可制之。今瘡入腹為膿血，及連痂皮得出，
走脾強腎退，即病出而安也，米穀及瀉乳不化者，是脾虛不能制腎，故自洩也，
此必難治。</p>
<p>（箋正）此之瘡黑，以腎藏實熱。而痘為之紫黑，是大實症，本當下之。</p>
<p>非黑陷不可治之黑，故得瀉便膿血，熱有所瀉，轉逆為順，痘自結痂，
若泄瀉而水穀不消，是其脾腎本虛，則痘瘡之黑，非實熱之黑，而為虛陷之黑，
所以大府不實，完穀不化，已是絕症，故謂之逆。</p>
<p>本文所謂脾實制腎云云，附會五行生剋，卻非此中真理，又謂瘡入腹為膿血，
已極可笑，又連痂皮得出句，更不可解，豈傳寫有訛誤，或妄人有竄入耶。</p>
<p>米穀乳食不化，本屬脾腎兩憊之候，豈獨脾虛，而謂不能制腎，亦覺所見太淺，
仲陽或不至此。</p>
<p>三三、傷風</p>
<p>昏睡，口中氣熱，呵欠頓悶，當發散，與大青膏解。不散，有下證當下，
大黃圓主之。大飲水不止而善食者，可微下，餘不可下也。</p>
<p>（箋正）此言外感發熱之症治，病見外因，疏而散之，本無不可，但錢氏大青膏方，
卻無疏散之藥，大不可解，豈方末有薄荷水化服一句，已足盡發散之力耶。
若言今人治法，則用桑葉牛蒡，蒺藜象貝，荊芥薄荷等足矣。</p>
<p>又言大飲水不止而善食者，可微下，餘不可下，正以稚齡藏府未充，不見內實確症，
不宜輕用下藥，可見仲陽立法之慎。</p>
<p>三四、傷風手足冷</p>
<p>脾藏怯也，當和脾，後發散，和脾益黃散，發散大青膏主之。</p>
<p>（箋正）傷風本當身熱，而反手足冷，是真陽之氣不充。宜用補脾者，脾主四支，
四末獨冷，則脾氣虛餒可知，然此非發散之症，而大青膏又非發散，真不可解。</p>
<p>三五、傷風自利</p>
<p>脾藏虛怯也，當補脾，益黃散，發散，大青膏主之。未差，調中圓主之，有下證，
大黃圓下之，下後服溫驚圓。</p>
<p>（箋正）傷風原是外感，不當大便自利，若見利下，非脾土虛寒而何。</p>
<p>錢氏益黃散，中有丁香訶子，本為溫濇之法，是脾虛滑利之主劑。</p>
<p>調中即仲景之理中，溫補脾藏，祝益黃散之不用參朮者，固是進一步治法，
又謂有下症者用下法，則既自利矣，中氣必虛，何以復有可下之症，
殊與上文不能自貫。近人論溫病，有熱結旁流一侯，雖下清水，而腸有燥屎，
不能自下，當用下法，小兒傷風，說不到有此一症，則仲陽之意，
決非熱結旁流可知，且溫驚圓中有膽星、竹黃、龍腦，亦非下後必用之法，
大青膏總是文不對題，而有下症以後十四字，又必大有錯誤，必不能與上文聯屬，
並作一條。</p>
<p>三六、傷風腹脹</p>
<p>脾藏虛也，當補脾，必不喘，後發散，仍補脾也。去脹，塌氣圓主之，發散，
大青膏主之。（箋正）小兒腹脹，最多食滯不化。疳積腹膨，未必皆是虛寒，
凡脹之虛實寒熱，當以所見症狀辨之，不能只言腹脹二字，籠統論治，
乃謂盡屬脾虛，必當補脾，殊覺未確。塌氣圓胡椒為君，可以治虛寒，若是疳積，
則屬實熱，萬不可用。此條辨症，大是顢頇，當非仲陽手筆。</p>
<p>三七、傷風兼藏</p>
<p>兼心則驚悸。</p>
<p>（箋正）鬱熱太盛，氣上沖腦，擾其神經，則為驚悸，僅與清心，
必無效果兼肺則悶亂。喘息哽氣。長出氣嗽。</p>
<p>（箋正）風邪外感，肺必首當其衝。以肺司呼吸，風寒風熱，皆是囗鼻吸入之氣，
故必先受其病，且肺主皮毛，外感在表，皮毛受感，亦內通於肺，故傷風多見肺病。</p>
<p>此雖不獨小兒為然，但小兒生長未充，肺尤嬌弱，故感邪更為易易。</p>
<p>兼腎則畏明。</p>
<p>（箋正）此腎氣不足之症，說已見前。</p>
<p>各隨補母，藏虛見故也。</p>
<p>（箋正）仲陽意中，蓋謂上之三條，皆是藏虛見症，宜隨症以補其母氣，
壽頤則謂驚悸補肝，已不甚妥，若肺病一條，多是實症，更不可補脾，惟畏明一條，
確是腎虛，然宜補腎陰，若曰補腎母之肺，其能免隔鞾搔痒之譏乎。</p>
<p>此書每拘泥子母相生，虛則補母，實則瀉子之通套話頭，陳陳相因未免食古不化。</p>
<p>三八、傷風下後餘熱</p>
<p>以藥下之太過，胃中虛熱，飲水無力也。當生胃中津液，多服白朮散。</p>
<p>（箋正）既下之後，胃津傷矣。雖有餘熱，亦是虛熱，不宜過投涼劑。</p>
<p>錢氏七味白朮散，扶脾胃而生津液，合芳香之氣以振動之，最是平補中州之良劑，
小兒陰陽俱弱，以此安和中氣，而鼓舞其清陽，居中而馭四旁，大有六轡在手，
一塵不驚之態，此仲陽方之上乘禪也。</p>
<p>三九、傷寒瘡疹同異</p>
<p>傷寒男體重面黃，女面赤喘急，憎寒。各口中氣熱，呵欠頓悶，項急也。</p>
<p>瘡疹則顋赤燥，多噴嚏，悸動昏倦，四支冷也，傷寒當發散之。治瘡疹。
行溫千之功。</p>
<p>有大熱者解毒。餘見前說。</p>
<p>（箋正）傷塞發熱，痘疹亦發熱，外形相似，故特辨其同異，以為臨證之正鵠。
傷塞之熱，自表而入，故面色純赤，是為陽明經熱之證。痘疹之熱，自裏而出，
故兩顴獨赤，是為腎家內熱之徵。傷寒是寒邪外束，故肺氣閉塞而喘急，
痘疹是胎熱外泄，故肺氣衝動而噴嚏。</p>
<p>即此已可辨明外因內因之大綱，則發熱同，而所以發熱之原，大有不同，
庶幾涇渭皎然，可無混淆誤治之蔽。但所謂傷寒男則面黃，女則面赤，殊不甚確，
其理亦所未詳，不可強解，又所謂行溫平之功一句，亦不了了，疑有誤字。</p>
<p>四十、
初生三日內吐瀉壯熱</p>
<p>不思乳食，大便乳食不消，或白色，是傷食，當下之，後和胃，下用白餅子，
和胃用益黃散主之。</p>
<p>（箋正）不食而大便乳食不消，且便色白，明是中虛無消化之權，雖是傷食，
必不宜於下法，且初生三日之內，胎中之熱力熾，大便恆黑穢稠黏，吾鄉習慣，
必用清熱通府藥汁，少少飼之，使黑糞解盡，見黃色為度，
不當有大便色白之虛寒症，況乎初生之始，飲乳無多，何遽傷食，未免大有可疑。
壽頤意三日之內，胎熱未泄，下之以解其胎毒，本是正理，既下而即顧其脾胃，
不令大傷，於法亦合，恐上半節或有傳譌，當付闕疑。</p>
<p>四一、初生三日以上至十日吐瀉身溫涼</p>
<p>不可乳食，大便青白色，乳食不消，此上實下虛也。更有兼見證，肺睡露睛，喘氣，
心驚悸，飲水，脾困倦，饒睡，肝呵欠，頓悶，腎不語，畏明，當瀉見兒兼，
補脾益黃散主之，此二證多病於秋夏也。</p>
<p>（箋正）既生三日以上至十日，而上吐下瀉，其身或溫或涼，所瀉之色，或青或白，
乳不能消，脾胃虛寒，無以司化物之功，補脾宜也。若更兼五藏虛證，
似更當兼補其所見之虛，不能僅以益黃一方作為統治。則末段或尚有闕文，
且當瀉見兒兼藏六字，亦不可解，蓋是書之脫佚訛誤，亦已多矣。</p>
<p>四二、初生下吐</p>
<p>初生下拭掠兒口中穢惡不盡，嚥入喉中，故吐。木瓜圓主之，凡初生，
急須拭掠口中令淨，若啼聲一發則嚥下，多生諸病。</p>
<p>（箋正）兒在胞中，先天蘊熱，故囗中所含者穢垢，初生之時啼聲未出。</p>
<p>拭而去之，弗令入腹，必少胎毒諸症。木瓜圓周本無之，澂之據聚珍本附入，
木瓜之瓜字，周刻本作苽，乃說文之所謂彤胡，非此物，茲從武英殿聚珍版本。</p>
<p>四三、傷風吐瀉身溫</p>
<p>乍涼乍熱，睡多氣粗，大便黃白色，嘔吐，乳食不消，時咳嗽，更有五藏兼見證，
當煎入藏君臣藥，化大青膏，後服益黃散。</p>
<p>如先曾下，或無下證，慎不可下也，此乃脾肺受寒，不能入食也。</p>
<p>（箋正）外傷風寒，而大便黃白，吐乳不消，脾胃虛塞可知，故宜益黃散。</p>
<p>既已上吐下瀉，必無更下之理，仲陽諄諄以慎不可下為戒，
蓋恐誤認傷食</p>
<p>而更授消克也。</p>
<p>四四、傷風吐瀉身熱</p>
<p>多睡，能食乳，飲水不止，吐痰，大便黃水，此為胃虛熱渴吐瀉也。</p>
<p>當生胃中津液，以止其渴，止後用發散藥，止渴多服白朮散，發散大青膏主之。</p>
<p>（箋正）熱甚而渴，津液耗矣，況吐瀉之後，脾胃必傷，嗜臥亦脾陽不振，
七味白朮散最合。</p>
<p>四五、傷風吐瀉身涼</p>
<p>吐沫，瀉青白色，悶亂不渴，哽氣，長出氣，睡露睛，此傷風荏苒輕怯因成吐瀉，
當補脾，後發散，補脾益黃散，發散大青膏主之，此二證多病於春冬也。</p>
<p>（箋正）身涼不熱，上則吐沫，下則泄利青白，純是虛寒見症，況有不渴氣哽，
睡則露睛之虛證可據耶。補脾是矣，大青膏終不可解。</p>
<p>四六、風溫潮熱壯熱相似</p>
<p>潮熱者，時間發熱，過時即退，來日依時發熱，此欲發驚也。</p>
<p>壯熱者，一向熱而不已，甚至發驚癎也。風熱者，身熱而口中氣熱，有風證，
溫壯者，但溫而不熱也。</p>
<p>（箋正）稚齡真陰未充，其陽偏旺，熱甚則氣火升浮於上，故多發驚癎，
末一句無謂。</p>
<p>四七、腎怯失音相似</p>
<p>病吐瀉及大病後，雖有聲而不能言，又能嚥藥，此非失音，
為腎怯不能上接於陽故也。當補腎，地黃圓主之，失音乃猝病耳。</p>
<p>（箋正）此脾腎大虛而不能言，乃正氣之餒，非音瘖之不能出聲，故宜補腎，
然是大虛證，河間地黃飲子，庶幾近之。仲陽止有六味，終未免病重藥輕，
至趙養葵而直以六味統治百病，不可謂非此集之開其先路。</p>
<p>四八、黃相症</p>
<p>身皮目皆黃者，黃病也。身痛，髆背強，大小便澀，一身盡黃，面目指爪皆黃，
小便如屋塵色，看物皆黃，渴者難治，此黃疸也。</p>
<p>二證多病於大病後，別有一證，不因病後，身微黃者，胃熱也，大人亦同。
又有面黃腹大，食土，渴者，脾疳也。又有自生而身黃者，胎疸也。古書云，
諸疸皆熱，色深黃者是也，若淡黃兼白者，胃怯，胃不和也。</p>
<p>（箋正）此以黃病黃疸，分為二候，亦未嘗分得明白。渴者難治，以黃是濕熱，
濕滯脾胃，下當渴飲，且治黃，必利小便，而後濕有所泄，如其渴飲，，
則不能再為利水，以重傷其液，故曰難治。然黃病多起於暴，是為實熱，
而乃曰多起於大病後，則指虛黃而言。然非凡病黃者，皆是虛證，
豈仲陽專以脾虛氣陷，面色萎黃者言之耶。然萎黃之黃，與濕熱之黃，一虛一實，
證治絕不相同，此豈可渾渾言之，本節殊未了了。其胃熱一層，
則即濕熱黃疸之實證，脹大之疳，則正虛而邪實也。其淡黃兼白一層，
則即萎黃之虛證，此節諸黃，或虛或實，各各有別，仲陽之言，太嫌含混，
未為盡善。</p>
<p>四九、夏秋吐瀉</p>
<p>五月十五日已後吐瀉，身壯熱，此熱也，小兒藏府十分中九分熱也，或因傷熱乳食，
吐乳不消，瀉深黃色，玉露散主之。</p>
<p>六月十五日已後吐瀉，身溫似熱，藏府六分熱四分冷也，吐嘔乳食不消，瀉黃白色，
似渴，或食乳，或不食乳，食前少服益黃散，食後多服玉露散。</p>
<p>七月七日已後吐瀉，身溫涼，三分熱七分冷也，不能食乳，多似睡悶亂，哽氣，
長出氣，睡露睛，唇白多噦，欲大便，不渴，食前多服真黃散，食後少服玉露散。</p>
<p>八月十五日已後吐瀉，身冷，無陽也，不能食乳，乾噦。瀉青褐水，當補脾，
益黃散主之，不可下也。</p>
<p>（箋正）此四節，據時令以定吐瀉之或寒或熱，太嫌呆板，不可為訓，
凡病皆當以見症分別寒熱虛實，斷無執時節以論治之理，而所謂幾分熱幾分冷，
尤其膠柱鼓瑟，必非確論。</p>
<p>五十、
吐乳</p>
<p>吐乳瀉黃，傷熱乳也。吐乳瀉青，傷冷乳也，皆當下。</p>
<p>（箋正）瀉黃或有實熱症，青瀉則有虛有實，是當以其餘之見症，分別論治，
概謂當下，必不盡然，傷熱傷冷之分，亦嫌鑿足適履。</p>
<p>五一、虛羸</p>
<p>脾胃不和，不能食乳，致肌瘦，亦因大病，或吐瀉後胖胃尚弱，不能傳化穀氣也。
有冷者，時時下利，唇口青白，有熱者，溫壯身熱，肌肉微黃，此冷熱虛羸也。
冷者木香圓主之，夏月不可服，如有證則少服之，熱者胡黃連圓主之，冬月不可服，
如有證則少服之。</p>
<p>（箋正）虛寒虛熱，分證甚明，而歸源於脾胃為病，實是確論。</p>
<p>但木香圓胡黃連圓二方，皆治疳積腹大，非虛羸主藥，豈仲陽意中之所謂虛羸，
專以疳樍一證言之耶。則此節殊未說明，且木香圓亦非能治冷症，更不可解，
此恐傳抄失真，讀者不可不辨真味，</p>
<p>五二、欬嗽</p>
<p>夫嗽者，肺微寒感，八九月間，肺氣大旺，病嗽者，其病必實，非久病也。</p>
<p>其證面赤痰盛身熱，法當以葶藶圓下之，若久者，不可下也。十一月十二月嗽者，
乃傷風嗽也，風從背脊第三椎肺俞穴入也，當以麻黃湯汗之。有熱證，面赤飲水，
涎熱，咽喉不利者，宜兼甘桔湯治之。若五七月間，其證身熱痰盛唾粘者，
以褊銀圓下之。有肺盛者，欬而後喘，面腫欲飲水，有不飲水者，其身即熱，
以瀉白散瀉之。若傷風欬嗽五七日，無熱證而但嗽者，亦葶藶圓下之後用化痰藥。
有肺虛者，欬而哽氣，時時長出氣，喉中有聲，此久病也，以阿膠散補之。痰盛者，
先實脾，後以褊銀圓微下之，涎退即補肺，補肺如上法，有嗽而吐水，或青綠水者，
以百祥圓下之，有嗽而吐痰涎乳食者，以白餅子下之，有嗽而咯膿血者，乃肺熱，
食後服甘桔湯，久嗽者，肺亡津液，阿膠散補之，欬而痰實，不甚喘而面赤，
時飲水者，可褊銀圓下之，治嗽大法，盛即下之，久即補之，更量虛實，以意增損。</p>
<p>（箋正）欬嗽一症，病因最多，必謂隨時令為遷移，殊是不確。</p>
<p>然論肺實證，謂面赤痰盛身熱，又謂非久病，則敘述見症，確切無疑，故宜葶藶圓，
冬月傷風之欬，肺氣必閉，故宜麻黃開肺氣而發皮毛。其餘分別虛實，所主藥方，
頗為簡當，但甘桔湯主治咽喉不利，尚是拘泥古方，須知痰窒忌甘，
則桔梗雖能泄降，猶嫌力簿，此必以開泄壅塞為第一義。</p>
<p>所謂肺盛欬喘面腫，即肺實閉塞，氣壅使然，宜量度風寒風熱，分別用藥。</p>
<p>瀉白散只可以治熱壅，如是寒飲肺閉，誤與桑皮地骨，沉降遏抑，
則落井下石之禍也。今之俗醫，類多此誤，且不獨桑皮不可妄用，
即桑葉亦稟秋冬降氣，寒邪作欬，亦當知戒，況其面目沙腫。肺氣極閉者乎。</p>
<p>喉中痰聲，大有實證，豈可不辨，概用阿膠。</p>
<p>五三、諸疳</p>
<p>疳在內，目腫腹脹，利色無常，或沫青白，漸瘦弱，此冷證也。</p>
<p>（箋正）小兒之疳，即大人之虛勞，五藏虛證，皆謂之疳，故有五疳之稱。</p>
<p>然惟脾胃病最多，則幼孩嗜食，往往過度，能容而不能化，馴致腹脹如蛛，
消瘦骨立，多由父母溺愛，唯求其能食之禍。此節以虛寒言之，脹而利下，
色青或白，或止有白沫，純是脾陽失司之候，治宜理中，甚者必加附子，
而輔以消積行氣之藥，庶為近之。</p>
<p>疳在外，鼻下赤爛，目燥，鼻頭上有瘡，不著痂，漸遶耳生瘡。治鼻瘡爛，蘭香散，
諸瘡，白粉散主之。</p>
<p>（箋正）此則疳之發於外者，良由肺胃熱熾，故瘡發於鼻頭、鼻下。</p>
<p>其遶耳生瘡者，多在耳後摺縫間，後世謂之璇耳瘡，屬少陽經之熱，痛痒流水，
最為難愈，宜內清少陽之火，外敷止痒收濕之藥，此雖外症，然皆由諸經蘊熱而生。
蘭香散白粉散，俱用輕粉，止痒殺蟲，誠是外科之佳方，然精於瘍科者，
則別有靈驗藥粉，拙編瘍科綱要下卷，可參觀也。</p>
<p>肝疳，白膜遮睛，當補肝，地黃圓主之。</p>
<p>（箋正）此肝腎陰虛，而虛火上炎，內服藥物，固宜滋養肝腎真陰，
而兼之以化瘀退翳，且須外用消翳點藥，但病已頑痼，極不易效，
而乃以六味地黃作為通用品，則竟同於趙養葵之譾陋，孰謂仲陽而至於此。</p>
<p>心疳，面黃頰赤，身壯熱，當補心，安神圓主之。</p>
<p>（箋正）此火盛之症，故謂之心病。安神圓清潤泄火，導熱下行，雖曰補心，
實是瀉熱之劑。</p>
<p>脾疳，體黃腹大，食泥土，當補脾，益黃散主之。</p>
<p>（箋正）腹大而嗜食泥土，是為癖積，且有蟲也。法當扶脾健運，消積殺蟲，
益黃散溫中行氣，不可謂此症主劑。今西藥有山道年，專攻蟲積，為效頗捷。</p>
<p>（市肆中盛行疳積糖，即山道年和糖所製。）國產藥品則使君子雷丸鶴蝨等物，
殺蟲皆驗，而仲景之烏梅丸、苦辛合劑，真良法也。</p>
<p>腎疳，極瘦，身有瘡疥，當補腎，地黃圓主之。</p>
<p>（箋正）此節太嫌浮泛。</p>
<p>筋疳，瀉血而瘦，當補肝，地黃圓主之。</p>
<p>（箋正）筋屬肝，故曰當補肝。然瀉血之病源，殊不一致，自當求其病因而治之，
六味地黃胡可統治各種瀉血之症。</p>
<p>肺疳，氣喘，口鼻生瘡，當補脾肺，益黃散主之。</p>
<p>（箋正）此肺熱之症。氣喘固亦有肺火閉塞之一候，囗鼻生瘡，法宜清泄肺胃，
益黃散乃溫運脾虛之藥，治此症甚非所宜，此蓋狃於脾為肺母，以為補土生金之計，
何竟不顧病情之虛實寒熱耶。</p>
<p>骨疳，喜臥冷地，當補腎，地黃圓主之。</p>
<p>（箋正）此骨蒸內熱之候，故喜冷地，補腎是也。然必滋填肝腎真陰，大劑頻投，
或可有效，六味地黃，泛而不切，何能勝此重任。</p>
<p>諸疳皆依本藏補其母，及與治疳藥，冷則木香圓，熱則胡黃連圓主之。</p>
<p>（箋正）五藏分主五疳，雖是有理，然其實已不免於附會，若謂各依本藏補其母，
浮泛膚淺，空套話頭，奚能取效。胡黃連丸雖可治實熱症，
而木香圓中有檳榔千金子，又豈可以治寒症，仲陽號為兒科聖手，不當渾渾至此</p>
<p>疳皆脾胃病，亡津液之所作也，因大病或吐瀉後，以藥吐下，致脾胃虛弱，亡津液，
且小兒病疳，皆愚醫之所壞病。假如潮熱，是一藏虛，一藏貫，而內發虛熱也，
法當補母而瀉本藏則愈，假令日中發潮熱，是心虛熱也。肝為心母，則宜先補肝，
肝實而後瀉心，心得母氣，則內平而潮熱愈也，醫見潮熱，妄謂其實，
乃以大黃牙硝輩諸冷藥利之，利既多矣，不能禁約，而津液內亡，即成疳也。</p>
<p>又有病癖，其疾發作，寒熱飲水，脅下有形硬痛，治癖之法，當漸消磨，
醫反以巴豆硇砂輩下之，小兒易虛易實，下之既過，胃中津液耗損，漸令疳瘦。</p>
<p>（箋正）此謂疳皆脾胃之病，由傷津液而來最是真諦。蓋五疳形證，雖似分途，
而其致病之源，止有兩道：一為食物太雜，不能消化，積滯多而生內熱，
則形日癯而腹日漲；一為攻伐太過，脾陰日傷，津液耗而生內熱，
則氣不運而腹自膨。雖一虛一實，其原不同，而在腹脹肉脫之時，則實者亦虛，
其症乃同歸於一致，豈非皆由脾胃而來。</p>
<p>仲陽雖止言誤下而不及傷食一層，究竟傷食成疳，亦是陰竭陽亢，津液耗傷之候，
仲陽此論，探源頭於星宿之海，提綱挈領，較之上文以五藏筋骨分條，
憑見證而不詳病源者，大有涇渭之別。或謂：誤下多利，脾腎虛塞，
當為慢驚之虛證，不當為腹膨之實證。壽頤則謂：誤下之變，亦有兩端，
過下而亡其脾腎之陽，則陰霾上陵，汩沒太空，是為虛塞之慢驚；
過下而亡其脾胃之陰，則孤陽獨亢，消爍津血，是為虛熱之疳積。故治疳者，
雖不可不化其積滯，而養胃存津，尤為必要，惟所論潮熱，泛言一藏虛一藏實，
當補母而瀉本藏云云，則又是空泛之套話矣。</p>
<p>又有病傷寒，五六日間有下證，以冷藥下之太過，致脾胃津液少，
即使引飲不止而生熱也。熱氣內耗，肌肉外消，他邪相干，證變諸端，因亦成疳。</p>
<p>又有吐瀉久病，或醫妄下之，其虛益甚，津液燥損，亦能成疳。</p>
<p>（箋正）此二節申言誤下所以成疳之故。蓋其初縱有當下之症，而攻伐太過，
陰虛血燥，脾胃無健運之權，即是所以成疳之實在病理。</p>
<p>又有肥疳，即脾疳也，身瘦黃，皮乾而有瘡疥，其候不一，種種異端，今略舉綱紀，
目澀或生白膜，唇赤，身黃乾或黑，喜臥冷地，或食泥土，身有瘡疥，
瀉青白黃沫水，利色變易，腹滿，身耳鼻皆有瘡，髮鬢作穗，頭大項細，極瘦，
飲水，皆其證也。</p>
<p>（箋正）此節言肥疳，似以實症立論。然至於瀉出青白黃洙，已是虛候，
蓋疳積已成，終是脾腎皆虛，下節肥熟冷瘦之名，不過以初病久病，稍為區別，
非初病果皆大實證也。</p>
<p>大抵疳病當辨冷熱肥瘦，其初病者為肥熱疳，久病者為瘦冷疳，冷者木香圓，
熱者黃連圓主之。冷熱之疳，尤宜如聖圓，故小兒之藏府柔弱，不可痛擊，
大下必亡津液而成疳。凡有可下，量大小虛實而下之，則不至為疳也。
初病津液少者，當生胃中津液，白朮散主之，惟多則妙，餘見下。</p>
<p>（箋正）此節特出白朮散一方，養胃生津液，鼓舞中州清陽之氣，
而不升提以搖動腎肝。脾胃家之良方，當在東垣之上，多服為佳，
明人繆仲淳之資生丸子，實即脫胎於此。</p>
<p>五四、胃氣不和</p>
<p>面㿠白，無精光，口中氣冷，不思食，吐水，當補脾，益黃散主之。</p>
<p>（箋正）此亦脾胃虛寒之症，益黃散是也。異功散六君子，理中皆可服。</p>
<p>五五、胃冷虛</p>
<p>面㿠白，色弱，腹痛不思食，當補脾，益黃散主之。若下利者，調中圓主之。</p>
<p>（箋正）此比上條多腹痛一症，已宜溫中，況更利下乎？錢氏之調中圓，即理中也。</p>
<p>五六、積痛</p>
<p>口中氣溫，面黃白，目無精光，或白睛多，及多睡畏食，或大便酸臭者，當磨積，
宜消積圓，甚者當白餅子下之，後和胃。</p>
<p>（箋正）此是食積，因滯生熱，腹膨腹痛，囗氣溫者，胃中蘊熱之證。</p>
<p>面黃白者，脾氣不運，色無華采也。脾乏健運，則大氣不司旋轉，故為倦怠嗜臥，
傷食故必惡食，積滯不去，故大便酸臭，此皆傷食大實之確證，故宜攻下。
仲陽此書，固時時以妄攻誤下為禁約者，惟恐稚齡質薄，剝削元陰，然果是實症，
亦必無養癰貽害之理，此條敘證，何等明白，果能從此明辨篤行，慎思審問，
亦安有虛虛實實之慮。</p>
<p>五七、蟲痛（虛實腹痛附）</p>
<p>面㿠白，心腹痛，口中沫及清水出。發痛有時，安蟲散主之，小兒本怯者多此病。</p>
<p>（箋正）積滯之痛，痛在腸胃，故止有腹痛，無心痛。蟲則時上時下，
可以上膈而入胃之上脘，故有時腹痛，有時心囗亦痛。口有白沫及清水者，
皆蛕上逆行，故涎沫隨之而時時泛溢，此皆蟲動之確證。不殺其蟲，則痛何由定，
安蟲散固是殺蟲主劑，而方名曰安不曰殺者，古人心理，每謂蟲是腹中恆有之物，
似乎伏則不能為害，惟動則為病，故宜安而不必殺，此是古人理想之謬，
所當為之糾正者也。</p>
<p>積痛食痛虛痛，大同小異，惟蟲痛者，當口淡而沫自出，治之隨其證。</p>
<p>（箋正）此又言蟲痛與其他食積中虛諸痛之不同處。惟以有沫無沫為辨，
此是辨症之要訣，後人又有以囗內上腭有白點，及上下唇內牙齦等處生白點者，
為有蟲之證。壽頤常驗之於三十年閱歷，則有點者果皆有蟲，
而有蟲者則未必皆有點，知上腭唇內之有點者，其病較深，此又仲陽後之新發明者，
亦可為博聞強識之一助也。</p>
<p>五八、蟲與癎相似</p>
<p>小兒本怯，故胃虛冷，則蟲動而心痛，與癎略相似，但目不斜手不搐也，
安蟲散主之。</p>
<p>（箋正）蟲動則痛，痛則小兒無不大叫者，不動則不痛而兒亦安，忽作忽止，
而是兒之時動時靜，反覆無常，正與癎症之猝暴發作，狂叫無端者，同此一轍，
故曰相似。惟蟲必因腸胃濕熱而生，仲陽反謂之胃虛冷，殊不甚確，但吐蛕之症，
固亦有因於胃氣虛寒者，則蟲生已久，脾胃之運化無權，馴致中陽不振，體倦乏力，
面色萎黃，無氣以動。烏梅圓為治蛕第一良方，辛溫助陽，確是為虛冷者立法。
是吐蛕病中之一種，非凡是蟲病，皆屬虛冷，奈何仲陽舉其一而遺其一，
學者必須隨證辨別，審定病源，不可執此一端，食古不化。</p>
<p>五九、氣不和</p>
<p>口頻撮，當調氣，益黃散主之。</p>
<p>（箋正）脾主唇囗，脾氣虛塞則唇緊，故囗為之撮。此節氣字，以脾氣而言，
藥主益黃，其旨可見，非泛泛然氣血之氣也。</p>
<p>六十、
食不消</p>
<p>脾胃冷，故不能消化，當補脾，益黃散主之。</p>
<p>（箋正）此脾胃陽虛，不能化物，必有泄瀉完穀之症，故宜益黃散。</p>
<p>六一、腹中有癖</p>
<p>不食但飲乳是也，當漸用白餅子下之。</p>
<p>（箋正）此節辨症，太嫌渾漠。</p>
<p>小兒病癖，由乳食不消，伏在腹中，乍涼乍熱，飲水或喘嗽，與潮熱相類，不早治，
必成疳。以其有癖，則令兒不食，致脾胃虛而熱發，故引飲，水過多，即蕩滌腸胃，
亡失津液，脾胃不能傳化水穀，其脉沉細，益不食，脾胃虛衰，四肢不舉，
諸邪遂生，鮮不瘦而成疳矣，餘見疳門。</p>
<p>（箋正）癖即積也，古字當作辟，本是借用襞積之義，後人乃製癖字為病名。
惟有食積，不能消化，故身有熱而肌肉消癯，即是疳症。</p>
<p>按辟積二字，素問屢見，可知古人止用辟字，後漢書張衡傳注，襞積，衣襵也，
朱駿聲說文通訓定聲，謂蹙布帛之廣而摺疊之，蘇俗所謂打襉，此借辟作襞，
乃有積義。</p>
<p>六二、虛實腹脹（腫附）</p>
<p>腹脹由脾胃虛氣攻作也，實者未悶亂滿喘，可下之，用紫霜圓白餅子，
不喘者不可下，若誤下，則脾氣虛上，附肺而行，肺與脾子母皆虛，
肺主目胞腮之類，脾主四肢，母氣虛甚，即目胞腮腫也。色黃者，屬脾也，
治之用塌氣圓漸消之，未愈，漸加圓數，不可以丁香木香橘皮豆蔻大溫散藥治之，
何以然，脾虛氣未出，腹脹而不喘，可以散藥治之，使上下分消其氣則愈也。
若虛氣己出，附肺而行，即脾胃內弱，每生虛氣，入於四肢面目矣，小兒易為虛實，
脾虛不受寒溫，服寒則生冷，服溫則生熱，當識此，勿誤也，胃久虛熱，多生疸病，
或引飲不止，脾虛不勝腎，隨肺之氣，上行於四肢。若水狀，腎氣浸浮於肺，
即大喘也，此當服塌氣圓，病愈後，面未紅者，虛衰未復故也。</p>
<p>治腹脹者，譬如行兵，戰寇於林，寇未出林，以兵攻之，必可獲寇，若出林，
不可急攻，攻必有失，當以意漸收之，即順也。</p>
<p>（箋正）此節言脹腫僅在腹。屬於脾家一藏為病，尚是實症，可用攻下，
亦可用行氣疏散之藥，運行氣滯，專治其脹，若至四支面目俱腫，則已由脾及肺。</p>
<p>土不生金，不復可投溫燥疏散之法，蓋初病在脾，止是大氣窒滯不行，授以疏通，
則滯者行而脹自已，迨至肢體面目浮腫，則病情四竄，本已散之四方，
而仍用香燥泄氣，寧不使散者益散，助桀為虐，故謂之虛。似此分虛實二症，
雖似創解，卻有至理，次節以寇在林中為喻，其初賊聚林中，可以兜剿，
繼而蔓延四散，則不可政，取譬亦頗切當，而歸束於收攝一法，則本屬大氣渙散，
自當主以攝納。古謂白芍萸肉，能收肝脾腎三藏渙漫之陰氣者，正是仲陽不言之秘，
最是治虛脹之不二法門，惟開手謂喘者為實，不喘為虛，則殊不盡然，
蓋脹而兼喘一症，已自有虛實兩途，病情可辨。其脾氣壅塞，上陵及肺，
因而為喘者，則是實症，可以開泄決壅，以導其滯，亦有腎虛不納，氣逆衝肺，
因而為喘者，亦是虛證，法當鎮墜攝納，以定其衝，是虛證中固有氣短喘息者在，
仲陽此論，得毋尚有誤會。</p>
<p>治虛腹脹，先服塌氣圓，不愈，腹中有食積結糞，小便黃，時微喘。脉伏而實，
時飲水，能食者，可下之，蓋脾初虛而後結有積，所治宜先補脾，後下之，
下後又補脾，即愈也，補肺恐生虛喘。</p>
<p>（箋正）此又言腹脹一證，亦有先虛而後實者。蓋本以氣虛不運，而為䐜脹，
繼則漸有積食，而虛者亦成實證，此必先顧其虛，以培根本，繼導其滯，以治病標，
迨至實滯既通，而復固護本元，以為善後久長之計，斯為本末兼到，
至當不易之良圖。</p>
<p>六三、喜汗</p>
<p>厚衣臥而額汗出也，止汗散主之。</p>
<p>（箋正）此陽盛之汗。六陽會於頭面，其氣上行，故汗止在額。</p>
<p>止汗散惟蒲灰一味，取共生長澤中，清芬之氣可以泄熱，而燒灰服之。
欲其引熱下泄，壽頤謂此是實火上炎為病，亦可用當歸六黃湯，苦塞泄降，
借黃耆走表之力，使苦藥達於表分，而陽自潛則汗自止，與陰虛內熱，
疏泄太過之汗出大異，不可不明辨而慎思之。</p>
<p>六四、盜汗</p>
<p>睡而自汗出，肌肉虛也，止汗散主之，遍身汗，香瓜圓主之。</p>
<p>（箋正）盜汗未必皆是虛證，陽熱太旺者亦有之。止汗散、香瓜圓，
皆非治虛火之藥，而本條乃謂之肌肉虛，則與所用之藥不能鍼對矣。此條尚有語病。</p>
<p>六五、夜啼</p>
<p>脾藏冷而痛也，當與溫中藥，及以法禳之，花火膏主之。</p>
<p>（箋正）小兒夜不成寐而多啼哭，陰虛內熱者居多。花火膏用一味燈花，
是專以清泄降熱為義。而仲陽乃謂冷痛，已不盡然，又謂以法禳解，
則古人神道設教之意，又非醫者分內之事，以此定為治病大法，能不令通人齒冷。</p>
<p>六六、驚啼</p>
<p>邪熱乘心也，當安心，安神圓主之。</p>
<p>（箋正）此是稚陰未充，虛陽上乘，膽氣餒怯之證，宜清火泄降，鎮定寧神，
或參滋陰潛陽，柔肝膽而攝納之，此即驚癎之初步，如病進一層，
則腦神經即承其弊矣。</p>
<p>六七、弄舌</p>
<p>脾藏微熱，令舌絡微緊，時時舒舌，治之勿用冷藥及下之，當少與瀉黃散漸服之，
亦或飲水，醫疑為熱，必冷藥下之者，非也。飲水者，脾胃虛，津液少也。</p>
<p>又加面黃肌瘦，五心煩熱，即為疳瘦，宜胡黃連圓輩，大病未已弄舌者，凶。</p>
<p>（箋正）舌乃心之苗。弄舌者，以心火太亢，故時時伸舌於外，以宣其氣，
治宜用清心之藥。仲陽謂是脾熱者，以足太陰之脈，連舌本，散舌下故也。
方用瀉黃、梔子、石羔，皆清宣泄火之品，未嘗不可，但防風必非所宜，
治當以化痰順降為主，誠不宜過於寒涼者。</p>
<p>六八、丹瘤</p>
<p>熱毒氣客於腠理。搏於血氣。發於外。皮上赤如丹。當以白玉散塗之。</p>
<p>（箋正）此是發⿸疒丹。皮色紅暈，如朵朵赤霞，有色無形，望之鮮紅，捫之無迹，
熱在肌腠，止須清血，為效甚捷。惟初生幼孩，血熱壅滯發丹，則捫之有痕，
如雞冠花朵，皮膚板滯，而能遊走，蘇俗謂之遊丹，初則發於股上臀間，
亦有上延腹背者，民間治法，或以針挑刺，去其毒血，亦能自已，甚者血色紫黑，
不泄不可，延竄及胸，即為不治，死者亦夥，壽頤用芭蕉（即甘蔗）根，
搗汁塗其紅暈，亦能消散；內服凊熱通府之藥，大便暢解，其病自已，症屬熱壅，
即此可徵；錢用白玉散外塗，亦是塞涼清熱之法。惟謂是丹瘤，則瘤之一字，
殊不可解，或傳寫有訛誤耶。</p>
<p>壽頤聞之朱閬仙師曰：小兒遊丹，多因初生之時，吳俗即時洗濯，而兒在母腹，
何等溫暖，乍出母懷，即入水浴，水氣逼其肌膚之熱，壅遏不行，乃生此患，
故宜針刺出血，以決其壅。師門家法，墮地幼孩，皆不入浴，須過三朝然後洗濯，
可免此患。壽頤生孩四五，用俗例洗濯，亦皆患此，但不甚重，
用芭蕉根汁調清涼敷藥，皆能桴應，惟第三女生於臘月，天氣極冷，乃不入浴，
而竟無此恙，則師說亦自可徵，附誌於此，以助博聞。</p>
<p>六九、解顱</p>
<p>年大而䪿不合，腎氣不成也，長必少笑，更有目白睛多，㿠白色瘦者，多愁少喜也，
餘見腎虛。</p>
<p>（箋正）解顱豈僅䪿門不合，甚者且左右弛解。二三歲幼孩，頭大如八九歲時，
面㿠形瘦，啼笑無神，且頸項軟弱，頭不能舉，幼小得此，最不易育。
仲陽只謂少笑多愁，蓋以最輕之症而言，故止云䪿不台，殊未說到解顱之重證，
前有腎虛一條，立論亦未允當。</p>
<p>七十、
太陽虛汗</p>
<p>上至頭，下至項，不過胸也，不須治之。</p>
<p>（箋正）但頭汗出，是陽壅於上，陽明症有之，而謂是太陽症，甚不可解。</p>
<p>七一、胃怯汗</p>
<p>上至項，下至臍，此胃虛，當補胃，益黃散主之。</p>
<p>（箋正）胸前有汗，亦陽明熱盛之徵，謂屬胃病尚無不可，何以謂是胃家虛怯，
亦不可解。</p>
<p>七二、胃啼</p>
<p>小兒筋骨血脉未成，多哭者，至小所有也。</p>
<p>（箋正）此節甚不可解，而末句更不成句，必有訛誤。</p>
<p>七三、胎肥</p>
<p>生下肌肉厚，遍身血色紅，滿月以後，漸漸肌瘦，目白睛粉紅色，五心熱大便難，
時時生涎，浴體法主之。</p>
<p>七四、胎怯</p>
<p>生下面色無精光，肌肉薄，大便白水，身無血色，時時哽氣，多噦，目無精彩，
當浴體法主之。</p>
<p>七五、胎熱</p>
<p>生下有血氣，時叫哭，身壯熱，如淡茶色，目赤，小便赤黃，糞稠急食乳，
浴體法主之，更別父母肥瘦，肥不可生瘦，瘦不可生肥也。</p>
<p>（箋正）此三節皆不可解，且情狀不同，而止用一浴體法，尤為莫明其妙，
存而不論可也。</p>
<p>七六、急欲乳不能食</p>
<p>因客風熱入兒臍，流入心脾經，即舌厚唇燥，口不能乘乳，當涼心脾。</p>
<p>（箋正）既曰風熱，則法當疏風，而止曰涼心脾，似亦不合，據所述舌厚唇燥，
是脾胃痰熱內鬱，當以開泄清化為是，只知有涼，更不穩妥。</p>
<p>七七、龜胸龜背</p>
<p>肺熱脹滿，攻於胸鬲，即成龜胸，又乳母多食五辛，亦成，兒生下，客風入脊，
逐於骨髓，即成龜背，治之以龜尿點節骨，取尿之法，當蓮葉安龜在上，
後用鏡照之，自尿出，以物盛之。</p>
<p>（箋正）此是小兒先天本薄，陰虛內熱，骨節柔脆，而為痰熱所乘，骨乃為之脹大，
茍能治其病源，保其不再脹大，已是第一良醫，必無可以縮小全愈之理。
前人因其形似，名曰龜胸、龜背，又曰雞胸，本極可鄙，而龜尿點骨，
更是無可奈何之妄想，必不能有何效驗，此附會之尤，是當亟與刪薙。</p>
<p>七八、腫病</p>
<p>腎熱傳於膀胱，膀胱熱盛，逆於脾胃，脾胃虛而不能制腎。水反剋腎，脾隨水行，
脾主四肢，故流走而身面皆腫也。若大喘者重也，何以然，腎大盛而剋退脾土，
上勝心火，心又勝肺，肺為心剋，故喘。或問曰，心刑肺，肺本見虛，今何喘實，
曰，此有二，一者肺大喘，此五藏逆，二者腎水氣上行，傍浸於肺，故令大喘，
此皆難治。</p>
<p>（箋正）腫病屬熱者輕，濕熱不化，流入經隧，清熱理濕，其病易治。</p>
<p>惟脾腎兩虛，清陽無權，而寒水泛溢者，其病為重。仲陽謂水反剋土，脾隨水行者，
即是寒水泛濫，懷山襄陵之候，惟開首僅腎傳熱於膀胱云云，一似止有熱症，
而不及虛寒水溢一症，殊嫌漏略。其謂腫而大喘者重，則腎水上溢，水氣射肺，
而致喘逆，地加於天，豈非極重之候，仲陽必謂上勝心火，心又勝肺，輾轉迂曲，
塗附五行生剋，最是腐氣可厭，且非病理之真末又謂腎水上行，傍浸於肺，
何等直爽。</p>
<p>七九、五藏相勝輕重</p>
<p>肝藏病見秋，木旺，肝強勝肺也，宜補肺瀉肝。輕者肝病退，重者唇白而死。</p>
<p>肺病見春，金旺，肺勝肝，當瀉肺，輕者肺病退，重者目淡青，必發驚，更有赤者，
當搐，為肝怯，當目淡青色也，心病見冬，火旺。</p>
<p>心強勝腎，當補腎治心，輕者病退，重者下竄不語，腎虛怯也。</p>
<p>腎病見夏，水勝火，腎勝心也，當治腎。輕者病退，重者悸動常搐也。脾病見四旁，
皆倣此治之，順者易治，逆者難治，脾怯當面目赤黃，五藏相反，隨證治之。</p>
<p>（箋正）此節以五行生剋推測，最是浮泛，要之凡有病症，須得見症論治，
空言生剋，最是下乘，究竟自唐以前，尚未有此惡習，而宋代實開其端。</p>
<p>八十、
雜病</p>
<p>壽頤按：此篇所錄各證，未免叢雜，且有不甚可解及言之不詳者，蓋隨筆雜記，
本無深意，或閻氏據所見各本中零星瑣句，彙之一處，以便讀者，就中碎金殘璧，
自有可存，爰以管見所及，稍為疏通而證明之，其有不知，姑從蓋闕，
後條不治諸症仿此。</p>
<p>目赤兼青者，欲發搐。</p>
<p>（箋正）目有青色，肝氣橫而本藏之色已見，如其再進一步，愈肆其橫，
則必致氣血上沖，故知其欲發搐。仲陽之時，雖尚未有神經之發明，然病情病理，
明眼者自能窺見於將然未然之時，可知仲陽閱歷功夫，固是甚深，所謂見多識廣，
料事無不中也。</p>
<p>目直而青，身反折強直者，生驚。</p>
<p>（箋正）目直，身反折強直，腦神經已受病矣。此即驚癎證中之一種，
惟其驚癎已作，故目直視而身痙直，或且如角弓之反張。</p>
<p>咬牙甚者，發驚。</p>
<p>（箋正）咬牙是肝火已動而脾受其侮，亦氣血沖腦，神經擾亂之一端，故曰發驚。</p>
<p>口中吐沫水者，後必蟲痛。</p>
<p>（箋正）蛕動作痛而後口有白沫，此不可謂因吐沫而後生蟲。</p>
<p>昏睡善嚏，悸者，將發瘡疹。吐瀉昏睡露睛者，胃虛熱。</p>
<p>（箋正）既吐且瀉，脾胃傷矣。睡而露睛，皆脾腎陽虛之候，將有慢脾風之變矣。</p>
<p>豈僅虛熱。</p>
<p>吐瀉昏睡不露睛者，胃實熱。</p>
<p>（箋正）上吐下瀉，未嘗無內實之證。仲陽以露睛不露睛為虛實之辨，認症極精，
然所吐所瀉之或為清澈，或為臭穢及面目之有神無神，亦自大有分別，
學者茍能於其餘之見證辨之，更必有可據者在。</p>
<p>吐瀉乳不化，傷食也，下之。</p>
<p>（箋正）實熱而食不能化，以致上吐下瀉，仍是乳食，
此即大人之邪熱不能殺榖一症。然脾胃虛寒之吐瀉，亦最多食不消化者，
此何可概作傷食。一例下之。蓋此症之虛實，當以神色脈症為辨，如此渾言，
太嫌無別此當非仲陽手筆。</p>
<p>吐沫及痰，或曰綠水，皆胃虛冷。</p>
<p>（箋正）吐嘔稿痰白沫，胃寒無疑。此痰字當作寒飲解，即清澈之白沫，
非稠厚之濃痰。蓋痰字古祇作淡，本指淡薄之白沫而言，即仲景書中之所謂水飲。</p>
<p>近人以清澈者為飲，屬寒。濃黏者為痰，屬熟。或且以痰字從炎，遂指為火病，
則皆晚近之分別，唐以上無是也。</p>
<p>吐稠涎及血，皆肺熱，久則虛。</p>
<p>（箋正）此所謂稠涎，則近人之所謂稠厚濃痰也。是固熱症，若吐血，
則亦氣火上升之病為多，錢謂肺熱，誠是。但治咯血吐血，必以清泄順降為先，
甚者且必化瘀，不可僅用寒涼清肺之藥。</p>
<p>瀉黃紅赤黑皆熱，赤亦毒。</p>
<p>（箋正）大便雖瀉，而所瀉者皆黃紅赤黑，非清澈淡白，屬熱何疑。所謂毒者，
即是熱甚。</p>
<p>瀉青白，穀不化，胃冷。</p>
<p>（箋正）便溏色青，多是虛寒，若淡白而完榖不化，中寒甚矣。此宜理中，
甚則附子。</p>
<p>身熱不飲水者，熱在外，身熱飲水者，熱在內。</p>
<p>（箋正）身熱不渴，熱在表而未內傳，至渴能引飲，則由表入裏矣。</p>
<p>此表熱裏熱之確有可辨者。</p>
<p>口噤不止則失音，遲聲亦同，長大不行，行則腳細，齒久不生，生則不固，
髮久不生，生則不黑。</p>
<p>（箋正）以上四節，殊未了了，存而不論可耳。</p>
<p>血虛怯，為冷所乘，則唇青。</p>
<p>（箋正）唇青者，多是脾胃虛寒。以上下唇皆足陽明胃之經絡所過，
而脾胃相為表裏也。</p>
<p>尿深黃色，久則尿血。</p>
<p>（箋正）尿色深黃，膀胱之熱甚矣。日久則瘀熱益熾，故當尿血。</p>
<p>小便不通，久則脹滿，當利小便。</p>
<p>（箋正）小水不通，即為脹滿，何待其久，且溲便之變，其因不同，利小便之法，
豈僅一端，而乃模模糊糊，如此立論，仲陽決不若是之混沌。</p>
<p>洗浴拭臍不乾，風入作瘡，令兒撮口，甚者是脾虛。</p>
<p>（箋正）此是臍風，初生數朝之孩，多有此症，其候極危，
豈得以脾虛二字混混言之。風入作瘡，瘡字似有誤，此症惟燋火最佳，
見夏氏幼科鐵鏡有十三燋法，極效。此條言之太略，豈仲陽所見之證，與今不同耶。</p>
<p>當參觀夏氏鐵鏡。</p>
<p>吐涎痰，熱者下之，吐涎痰，冷者溫之。先發膿疱，後發斑子者逆，先發膿脉，
後發疹子者順。先發水脉，後發疹子者逆，先發膿脉，後發水脉多者順，少者逆。</p>
<p>先水脉後，斑子多者逆，少者順，先疹子後斑子者順。</p>
<p>（箋正）此即前瘡疹條中所謂五藏各有一證也，其順逆部以五行生剋言之，
必不可泥。</p>
<p>凡瘡疹只出一般者善。</p>
<p>（箋正）錢謂：五藏瘡疹，各有一證，只出一般，是僅有一藏之證，故以為善，
欲其純粹，不欲其雜廁也。</p>
<p>胎實，面紅，目黑睛多者，多喜笑，胎怯，面黃，目黑睛少，白睛多者，多哭。</p>
<p>（箋正）胎實胎怯，即先天之虛實。先天強壯，必多喜笑。先天薄弱，必多啼哭，
此是確乎不易之至理。黑睛是腎陰所注，瞳神大小，可識真衣之盛衰，
是即子輿氏之所謂莫良於眸子矣。</p>
<p>凡病先虛，或下之，合下者，先實其母，然後下之，假令肺虛而痰實，此可下，
先當益脾，後方瀉肺也。</p>
<p>（箋正）先補其母，而後可瀉，蓋以稚齡弱質，惟恐耗傷正氣故耳。
然究是老生常談，必不可泥。</p>
<p>大喜後，食乳食多，或驚癎，大哭後，食乳食多，或吐瀉。</p>
<p>（箋正）此二條，其義未詳。</p>
<p>心痛吐水者，蟲痛。</p>
<p>（箋正）蟲積作痛，多吐白沬。胃虛寒痛，則吐清水，二者病情，確有分別，
然應用之藥，烏梅丸、左金丸，酸苦甘辛，混合並投，其效若一十</p>
<p>吐水不心痛者，胃冷。</p>
<p>（箋正）但吐清水而脘不痛，固是脾胃虛寒，肝氣來侮之症；然且吐且痛者，
症情亦大略相似，治用辛溫，亦未嘗不合符節。</p>
<p>病重，面有五色不常，不澤者死。</p>
<p>（箋正）病重而面色不澤，既黯且晦，且甚至變化無常，其死宜矣。</p>
<p>呵欠面赤者風熱。</p>
<p>（箋正）風為陽邪，故面為之赤。</p>
<p>呵欠面青者驚風。</p>
<p>（箋正）青乃肝臟本色，肝氣橫逆，上見於面，木動生風，當為驚癎。</p>
<p>呵欠面黃者脾虛驚。</p>
<p>（箋正）面色萎黃，脾虛之本色露矣。如此而發驚動風，即慢脾之虛風也。</p>
<p>呵欠多睡者內熱。</p>
<p>（箋正）熱傷氣，故為倦怠嗜臥。</p>
<p>呵欠氣熱者傷風。</p>
<p>（箋正）此風束於表，肺胃鬱熱。</p>
<p>熱證疏利或解化後，無虛證，弗溫補，熱必隨生。</p>
<p>（箋正）凡熱病善後之法，元陰已傷，餘燄未熄，止宜清養。弗遽膩補，
何論溫之一字，若不知此義，而以為大病甫起，非補不可，每有餘熱復熾之變，
況在幼孩，陰本未充，陽尤易動者乎。仲陽此論，實從經驗閱歷而來，
所謂三折肱者是也。</p>
<p>八一、不治症</p>
<p>目赤脉貫瞳人。</p>
<p>䪿腫及陷。</p>
<p>（箋正）幼孩䪿門未合，腫者腦熱太盛，陷者腦髓已竭，故皆不治。</p>
<p>鼻乾黑。</p>
<p>（箋正）此肺氣已絕之徵，所謂鼻黑如煙煤者是也。</p>
<p>魚口氣息。</p>
<p>吐蟲不定。</p>
<p>（箋正）此蟲病之極劇者。所謂不定，吐蟲極多而無所底止，其人腸胃津液，
已為蟲蝕淨盡，尚何有可生之理？明人治案中，有此一條，可參。</p>
<p>瀉不定，精神好。大渴不止，止之又渴。</p>
<p>（箋正）此胃液已竭，故渴不可止。</p>
<p>吹鼻不噴。</p>
<p>（箋正）鼻不噴嚏，肺已絕矣。</p>
<p>病重，口乾不睡。</p>
<p>時氣，唇上有黑點。</p>
<p>頰深赤，如塗胭脂。</p>
<p>（箋正）此真陰竭於下，而浮陽泛於上也。</p>
<p>鼻開張，喘急不定。</p>
<p>（箋正）此皆肺絕，自不可治。</p>
<h2>卷中記嘗所治病二十三證</h2>
<p>一、李寺丞子三歲病搐</p>
<p>李寺丕子三歲，病搐，自卯至已，數醫不治，後召錢氏視之，搐目右視，大叫哭。</p>
<p>李曰，何以搐右，錢曰，逆也。李曰，何以逆，曰，男為陽而本發左，
女為陰而本發右，若男目左視，發搐時無聲，右視有聲，女發時右視無聲，
左視有聲，所以然者，左肝右肺，肝木肺金，男目右視，肺勝肝也，金來刑木，
二藏相戰，故有聲也。治之瀉其強而補其弱，心實者亦當瀉之，肺虛不可瀉，
肺虛之候，悶亂哽氣，長出氣，此病男反女，故男易治於女也。假使女發搐，
目左視，肺之勝肝，又病在秋，即肺兼旺位，肝不能任，故哭叫，當大瀉其肺，
找後治心續肝，所以俱言目反直視，乃肝主目也。凡搐者，風熱相搏于內，風屬肝，
故引見之于目也，錢用瀉肺湯瀉之，二日不悶亂，當知肺病退，
後下地黃圓補腎三服，後用瀉青圓、涼驚圓各二服。凡用瀉心肝藥，五日方愈，
不妄治也。</p>
<p>又言肺虛不可瀉者何也，曰，設令男目右視，木反剋金，肝旺勝肺，而但瀉肝，
若更病在春夏，金氣極虛，故當補其肺，慎勿瀉也。</p>
<p>（箋正）男左視無聲，右視有聲，女右視無聲，左視有聲，仲陽書中，
每以此為必然之事，當是屢經閱歷，實有所驗。而後有此確鑿之論，
然觀其所持之理，則曰男本發左，女本發右，蓋以左升右降，左陽右陰言之，
似乎男以左為主，女以右為主，雖至今俗諺，婦孺皆知有男左女右四字，
實則生理之真，誰能說明其所以當左當右之原理，則此說已覺不可證實；</p>
<p>而謂男目右視，為肺勝肝，女目左視，為肺勝肝，則其理又安在？又謂金來刑木，
二藏相戰，故有聲。則假令反之者為木來刑金，豈二藏不相戰而無聲耶。</p>
<p>究竟發搐之實在病情，無非肝火上陵，氣血上沖，震動神精，以致知覺運動，
陡改其常，近今之新發明，固已鑿鑿有據，則古人理想空談，本是嚮壁虛搆，
所以扞格難通，不必再辨。錢氏此案，上半節自當存而不論，其下半節謂肺勝肝，
而病在秋，即肺當旺位，肝不能任，治當瀉肺，其理尚屬醇正，然又謂治心續肝，
則不可解。蓋謂後治肝火，更清心火之意，觀下文用瀉青、涼驚二丸可知。</p>
<p>究竟續肝二字，必不可通，宋金元明醫書，多此語病，文字之疏，不可為古人諱；</p>
<p>又謂所以俱言目反直視一句，亦未條暢，又謂凡搐者，風熱相搏於內，誠是確論，
然不能知震腦神經之原理，而以風屬肝，引之見於目，強為附會。所投方藥，
先瀉其當旺之熱，後以六味顧其水源，更投瀉青、涼驚以清餘燄，
皆是實熱驚搐平妥治法。末段謂設令男目右視，木反剋金，其右字必是左字之訛，
否則與上文右視肺勝肝一層，自相矛盾矣。</p>
<p>二、廣親王宅八使急搐</p>
<p>廣親宅七太尉方七歲，潮熱數日欲愈，錢謂其父二大王曰，七使潮熱方安，
八使預防驚搐，王怒曰，但使七使愈，勿言八使病，錢曰，八使過來日午間，
即無苦也。次日午前，果作急搐，召錢治之，三日而愈，蓋預見目直視而顋赤，
必肝心俱熱，更坐石机子，乃欲冷，此熱甚也。肌膚素肥盛，脉又急促，故必驚搐，
所以言日時者，自寅至午，皆心肝所用事時，治之瀉心肝補腎，自安矣。</p>
<p>（箋正）見其目直視而顋赤，謂為肝心俱熱，似也。要之目既直視，則氣火上升，
己是沖激腦經之侯，驚而且搐，自在意中，貝其坐石上而知其喜冷亦是旁證之一助；
然又日脉急促，則固亦切其脉而知之，不僅以望色為能事矣。此脉之促，
當以寸部短促數急為義，是與心肝陽盛，氣火上沖，發為驚搐之症，最相符合，
不必從叔和脉經，作數中一止解。</p>
<p>三、李司戶孫百日發搐</p>
<p>李司戶孫病，生百日，發搐三五次，請眾醫治，作天釣或作胎驚癎，皆無應者，
後錢用大青膏如小豆許，作一服發之。復與塗䪿法封之，及浴法，三曰而愈，
何以然，嬰兒初生，肌骨嫩怯，被風傷之，子不能任，，故發搐，頻發者輕也，
何者，客風在內，每遇不任即搐，搐稀者是內藏發病，不可救也，搐頻者宜散風冷，
故用大青膏，不可多服，蓋兒至小，易虛易實，多即生熱，止一服而已，更當封浴，
無不效者。</p>
<p>（箋正）幼孩驚搐，總是稚陰本薄，孤陽上浮，激動腦經為病。</p>
<p>錢謂客風在內，以裏病認作外感，實是根本之差，且謂大青膏是發散之藥，
試考本書下卷本方，何一物是散風之藥？聚珍本附錄引閻氏集保生信效方，
且有大青一味，合之方中天麻青黛蝎尾竹黃，清涼泄降，退熱化痰，
明是為內熱生風，挾痰上湧而設，製方本意，一望可知，而錢氏竟能認作疎散外風，
自盾自矛，更不可解。壽頤竊謂是書集於閻氏之手，本自搜輯而來，或者仲陽原文，
未必如是。又謂搐頻者宜散風冷，故用大青膏，以寒涼降泄之方，而謂發散風冷，
更是北轍南轅，尤其可怪。至謂搐頻者病輕，搐稀者反是病重，不可救，粗心讀之，
幾不可解，要知搐搦頻仍者，是即急驚，病屬實熱，尚為易治，若搐稀則是慢驚，
病屬正虛，所以雖抽搐而不能有力。百日之嬰，本根已撥，錢謂是內藏發病不可救，
其理固有可得而言者，然仲陽則尚不能說明其所以然之故，蓋閱歷經驗得之，
而實未悟徹病理之真相也。</p>
<p>四、王氏子吐瀉慢驚</p>
<p>東都王氏子吐瀉，諸醫藥下之，至虛，變慢驚，其候睡露睛，手足瘈瘲而身冷，
錢曰，此慢驚也，與栝簍湯，其子胃氣實，即開目而身溫。王疑其子不大小便，
令諸醫以藥利之，醫留八正散等數服，不利而身復冷，令錢氏利小便，錢曰，
不當利小便，利之必身冷，王曰，巳身冷矣，因抱出，錢曰，不能食而胃中虛，
若利大小便即死，久即脾胃俱虛，當身冷而閉目，幸胎氣實而難衰也。</p>
<p>錢用益黃散、使君子圓四服，令微飲食，至日午，果能飲食，所以然者，
謂利大小使，脾胃虛寒，當補脾，不可別攻也。後及不語，諸醫作失音治之，錢曰，
既失音，開目而能飲食，又牙不緊而口不緊也，諸醫不能曉，錢以地黃圓補腎，
所以然者，用清藥利小便，致脾腎俱虛，今脾已實，腎虛，故補腎必安，
治之半月而能言，一月而痊也。</p>
<p>（箋正）慢驚乃脾腎虛寒之病，睡中露睛，瘈瘲身冷，皆是確證，病者必肌膚㿠白，
唇舌無華，近賢治之，必用溫補，以保元湯為不易之規範；</p>
<p>乃錢則用栝蔞湯，藥止蔞根、蚤休二物，皆是清涼，且謂此藥能令胃氣實，
即開目而身溫，殊與藥理相反，觀後文以八正散誤傷津液，溲不利而身復冷，
則此兒確是虛寒之質，又何以服蔞根、蚤休而得效，此中疑竇，妄不可聽。</p>
<p>惟謂脾胃虛寒者，當補脾不當利大小便，又謂失音是腎虛，以既開目而能飲食，
又牙關不緊，明非急驚實熱症之舌本強可比，則與此症之虛寒者針對，是可法世。</p>
<p>五、杜氏子五歲病嗽死證</p>
<p>東都藥舖杜氏，有子五歲，自十一月病嗽，至三月未止，始得嗽而吐痰，
乃外風寒蓄入肺經，今肺病嗽而吐痰，風在肺中故也，宜以麻黃輩發散，
後用涼藥壓之即愈，時醫以鐵粉圓、半夏圓、褊銀圓諸法下之。其肺即虛而嗽甚，
至春三月間尚未愈，召錢氏視之，其候面青而光，嗽而喘促哽氣，又時長出氣，
錢曰，疾困十已八九，所以然者，面青而光，肝氣旺也，春三月者，肝之位也，
肺衰之時也，嗽者肺之病，肺之病自十一月至三月，久即虛痿，又曾下之，
脾肺子母也，復為肝所勝，此為逆也，故嗽而喘促哽氣，長出氣也。錢急與瀉青圓，
瀉後與阿膠散實肺，次日面青而不光，錢又補肺，而嗽如前，錢又瀉肝，瀉肝未已，
又加肺虛，唇白如練，錢曰，此病必死，不可治也，何者，肝大旺而肺虛熱，
肺病不得其時，而肝勝之，今三瀉肝而肝病不退，三補肺而肺證猶虛，此不久生，
故言死也。此證病於秋者，十救三四，春夏者，十難救一，果大喘而死。</p>
<p>（箋正）肺為嬌藏，況在稚齡，初是感邪，止宜輕疏宣展肺壅，治之甚易，
錢謂先用發散，後以涼藥壓之，蓋指清肅肺家之品，以復金令右降之常，
非謂大苦大寒之涼藥也。醫用鐵粉褊銀，何嘗非涼壓之藥，然不知疏泄新感，
而乃金石重墜，鎮壓太過，已非稚子所能堪，何況巴豆猛攻，徒傷脾腎，賊邪不去，
而根本已搖。傷風不醒使成癆，誠非微風之果能殺人，固無一非醫家用藥不當，
階之厲也，迨至面青而光，喘促哽氣，勞已成矣。</p>
<p>錢謂肝旺，豈真肝氣有餘之旺，亦是真氣已竭，陰不涵陽，遂令怒木陡升，
一發而不可遏耳。竊恐瀉青之法，亦未盡善，且錢氏之阿膠散中，尚有牛蒡杏仁，
亦非純粹補肺之藥，豈唇白如練者，果能一一符合。仲陽用藥，
尚未免囫圇吞吐之弊，末謂此證在秋，十救三四，春夏十難救一，
拘泥四時五行消長之說，亦止以常理言之，若此證面青唇白，喘嗽哽氣，
已到勞損末傳，縱在秋時，亦難挽救，仲陽亦未免徒託空言之蔽。
自唐以上醫家者言，本無此子母生剋，如塗塗附之空泛套話，
而獨盛於金元之諸大醫家，然仲陽此書，已開其例，終是瑕點。</p>
<p>六、轉運使李公孫八歲風寒喘嗽</p>
<p>京東轉運使李公，有孫八歲，病嗽而胸滿短氣，醫者言肺經有熱，用竹葉湯、
牛黃膏各二服治之，三日加喘，錢曰，此肺氣不足，復有寒邪，即使喘滿，
當補肺脾，勿服涼藥。李曰，醫已用竹葉湯、牛黃膏，錢曰，何治也，醫曰，
退熱退涎，錢曰，何熱所作，曰，肺經熱而生嗽，嗽久不除生涎，錢曰，
本虛而風寒所作，何熱也，若作肺熱，何不治其肺而反調心，蓋竹葉湯、牛黃膏，
治心藥也，醫有漸色，錢治愈。</p>
<p>（箋正）未出治病之藥，頗似缺典，然案中明言風寒所作，則治療大法，
固亦可想而知。</p>
<p>七、張氏孫九歲病肺熱</p>
<p>東都張氏孫九歲，病肺熱，他醫以犀珠龍麝生牛黃治之，一月不愈，其證嗽喘悶亂，
飲水不止，全不能食。錢氏用使君子圓、益黃散，張曰，本有熱，何以又用溫藥，
他醫用涼藥攻之，一月尚無效，錢曰，涼藥久則寒，不能食，小兒虛不能食，
當補脾，候飲食如故，即瀉肺經，病必愈矣，服補脾藥二日，其子欲飲食，
錢以瀉白散瀉其肺，遂愈，張曰，何以不虛，錢曰，先實其脾，然後瀉肺，
故不虛也。</p>
<p>（箋正）此症飲水不止，肺胃明有蘊熱，其不能食者，且有積滯在內，
所以一派寒涼無效，仲陽先用使今君子丸，其旨在此，更以益黃散相助為理，
則滯氣已行，而脾胃振動，飲食既進，則肺得母氣，而後可瀉，是為節制之師。</p>
<p>八、瘡疹</p>
<p>睦親宮十太尉病瘡疹，眾醫治之，王曰，疹未出，屬何藏腑。一醫言胃大熱，</p>
<p>一醫言傷寒不退，一醫言在母腹中有毒，錢氏曰，若言胃熱，何以乍涼乍熱，
若言母腹中有毒，發屬何藏也。醫曰，在脾胃，錢曰，既在脾胃，何以驚悸，
醫無對，錢曰，夫胎在腹中，月至六七，則已成形，食母穢液，入兒五藏，
食至十月，滿胃脘中，至生之時，口有不潔，產母以手拭淨，則無疾病，
俗以黃連汁壓之，云下臍糞及涎穢也，此亦母之不潔餘氣，入兒藏中，
本先因微寒入而成，瘡疹未出，五藏皆見病症，內一藏受穢多者，乃出瘡疹，
初欲病時，先呵欠頓悶驚悸，乍寒乍熱，手足冷痺，面顋燥赤，欬嗽時嚏，
此五藏證具也，呵欠頓悶，肝也，時發驚悸，心也，乍涼乍熱，手足冷，脾也，
面目顋頰赤，嗽嚏，肺也。惟腎無候，以在腑下，不能食穢故也。凡瘡疹乃五藏毒，
若出歸一證，則肝水疱，肺膿疱，心斑，脾疹，惟腎不食毒穢而無諸證，
瘡黑者屬腎，由不慎風冷而不飽，內虛也，又用抱龍圓服愈，其利無他候，
故未發出則見五藏證，已出則歸一藏也。</p>
<p>（箋正）古之所謂瘡疹，即今之所謂痘，是先天蘊毒，固無疑義。</p>
<p>但謂兒在母腹食母穢液，止是古人理想，生理之真，殊不如是，兒初生時，
含不潔之物，先宜拭去，一有啼聲，則已下嚥，此穢入腹，必有胎毒。</p>
<p>後段論五藏見證，說己見前，抱龍圓句，用一又字，文字不自呼應，乃至於此。</p>
<p>九、驚搐</p>
<p>四大王宮五太尉，因墜鞦韆，發驚搐，醫以發熱藥治之，不愈，錢氏曰，本急驚，
後生大熱，當先退其熱，以大黃圓、玉露散、惺惺圓，加以牛黃龍麝解之，不愈，
至三日，肌膚上熱，錢曰，更二日不愈，必發斑瘡，蓋熱不能出也，
他醫初用藥發散，發散入表，表熱即斑生，本初驚時，當用利驚藥下之，今發散，
乃逆也，後二日，果斑出，以必勝膏治之，七日愈。</p>
<p>（箋正）因墜而驚，因驚而搐，是震動心神，心火炎上，氣血沖腦之病。</p>
<p>錢謂初驚時當以利驚藥下之者，下之即所以泄其火，降其氣，則炎上之勢定，
而腦神經即安，雖當時血沖腦之說，尚未發明，而仲陽意中，病情藥理，
卻已暗相符合。蓋一病止有一理，即用藥亦是止有一路，古今中外，無不一以貫之，
見理已真，自能同歸正鵠。兒科聖手，不為虛譽，本條只言當以利驚藥下之，
未詳方藥，考下卷有利驚圓方，中有牽牛，即是下藥，仲陽之意，當即指此。</p>
<p>蓋急驚本是實熱，急下不嫌其峻，一鼓蕩平，豈不省事，而俗醫誤認外感，
妄投發散，則散之適以助其發揚，那不愈張烈燄？錢用大黃圓，仍是下泄退熱。
玉露散、惺惺圓，則清鎮抑降，皆治實熱生驚正法，但惺惺圓已有腦麝牛黃，
而錢又謂加以牛黃腦麝解之，則芳香走竄，恐嫌泄散，所以熱不能退，結聚於表，
而發痘瘡，（錢之所謂斑瘡，以痘之屬於心藏者言之，前卷及上條，自有明史，
此症發於心火，故謂之斑，非俗世所謂胃熱之發斑）此是誤投表藥，逼熱達表所致。</p>
<p>近人凡治時病發熱，無不一例解表，荊防柴葛，接踵以投，囗說防其發疹發斑，
（此是肺熱達表之疹，胃熱達表之斑，與仲陽此書之所謂斑疹大異）而其熱不已，
數日後成斑成疹，無不應手以出，病家方贊揚醫者有先見之明，
而不知皆其表藥有以造成之。茍於下手之初，兼能泄化肺胃痰濕，去其憑據之巢穴，
斑疹將何自而來？故善治時病者，當無發疹發斑之事，正與此案之發表成痘，
同一機杼。至痘已發，而仲陽仍以必勝膏之治實熱倒靨黑陷者為治，
則此兒始終皆是大實大熱，讀者弗以案語之不詳，而誤認凡是痘瘡，
竟恃此以操必勝之券也。又必勝膏即牛李膏，方見下卷，但牛李不知是何種李子耳。</p>
<p>一十、
瘡疹</p>
<p>睦親宅一大王病瘡疹，始用一李醫，又召錢氏，錢留抱龍圓三服，李以藥下之，
共疹稠密，錢見大驚曰，若非轉下，則為逆病，王言李已用藥下之，錢曰，
瘡疹始出，未有他證，不可下也。但當用平和藥，頻與乳食，不受風冷可也，
如瘡疹三日不出，或出不快，即微發之，微發不出即加藥，不出即大發之，
如大發後不多，及脉平無證者，即瘡本稀，不可更發也。有大熱者，當利小便，
小熱者，當解毒，若出快，勿發勿下，故止用抱龍圓治之，瘡痂若起，能食者，
大黃圓下一二行，即止，今先下，一日瘡疹未能出盡，而稠密甚，則難治，此誤也。
縱得安，其病有三，一者疥，二者癰，三者目赤，李不能治，經三日黑陷，
復召錢氏，曰，幸不發寒，而病未困也，遂用百祥圓治之，以牛李膏為助，若黑者，
歸腎也。腎王勝脾，土不剋本，故脾虛寒戰則難治，所用百祥圓者，以瀉膀胱之腑，
腑若不實，藏自不盛也，何以不瀉腎，曰，腎主虛，不受瀉，若二服不效，
即加寒而死。</p>
<p>（箋正）以誤下而痘反稠密，當是中氣驟虛，而熱毒盡歸於表，繹錢氏若非轉下，
則為逆病二句，可悟痘初出時，不當下而妄下者，自然必有此稠密之侯，
仍是熱盛之實證，不能以下後而遂認為虛，故三日後之黑陷，錢仍以百祥圓、
牛李膏為治，明是熱盛之倒靨黑陷治法。</p>
<p>其謂脾虛寒戰難治者，則指脾腎虛寒之黑陷而言，根本已竭，復何所恃。
錢謂腎旺勝脾</p>
<p>土不剋水，殊屬費解，斷不可泥。前段論痘初出時，未有大實見症，必不可下，
又謂出不快則發，出快者不發不下，皆是痘家至理名言，一語勝人千百。</p>
<p>一一、驚搐</p>
<p>皇都徐氏子三歲，病潮熱，每日西則發搐，身微熱而目微斜，反露睛，四肢冷而喘，
大便微黃，錢與李醫同治，錢問李曰，病何搐也，李曰，有風，何身熱微溫，曰，
四肢所作，何目斜露睛，曰，指則目斜，何肢冷，曰，冷厥必內熱，曰，何喘，曰，
搐之甚也，曰，何以治之。曰，嚏驚圓鼻中灌之，必搐止，錢又問曰，既謂風病，
溫壯搐引，目斜露睛，內熱肢冷，及搐甚而喘，併以何藥治之，李曰，皆此藥也，
錢曰，不然，搐者肝實也，故令指，日西身微熱者，肺潮用事，肺主身溫且熱者，
為肺虛，所以目微針，露睛者，肝肺相勝也，肢冷者，脾虛也，肺若虛甚，
用益黃散、阿膠散，得脾虛證退，後以瀉青圓、導赤散、涼驚圓治之，後九日平愈。</p>
<p>（箋正）潮熱發搐，實熱為多，茍是急驚，必須清泄，以定肺陽，
則腦神經不受震激，而抽搐斯定，乃此兒僅是微熱，已非實症。睡中露晴，
不足之態亦顯，四支又冷，皆與虛寒之慢脾風相近。則氣喘亦非實熱之壅塞，
大便微黃，則必淡黃不結可知，脾肺兩虛，肝風暗煽，雖非大虛大寒之慢脾風，
而症非實火，卻已彰明較著。李醫所說，純是浮辭，固不必說，然錢謂肝實，
亦非大實大熱可比。日西身熱，謂當肺氣用事之時，洵然，然僅止微熱，
則肺金不旺，又是顯然。錢之所謂肺虛者以比，故不用瀉白，而用益黃以助脾，
阿膠以助肺，必須脾氣來復，而後稍稍清涼，以退其熱，用藥大有斟酌，
但阿膠散中有牛蒡、杏仁，對於此症不足之喘，尚未細膩熨貼，
此現成丸散之未能盡美盡善處，然病情藥理，固已銖兩相稱，實非心粗氣浮者，
所可幾及，此驚搐症之介於虛實間者，可備學者量病用藥之治。</p>
<p>一二、脾虛發熱</p>
<p>朱監簿子五歲，夜發熱，曉即如故，眾醫有作傷寒者，有作熱治者，
以涼藥解之不愈，其候多涎而喜睡，他醫以鐵粉圓下涎，其病益甚，至五日，
大引飲，錢氏曰，不可下之，乃取白朮散末一兩煎汁三升，使任其意取足服。
朱生曰，飲多不作瀉否，錢曰，無生水不能作瀉，縱瀉不足怪也，但不可下耳，
朱生曰，先治何病，錢曰，止渴治痰，退熱清裏，皆此藥也，至晚服盡，錢看之曰，
更可服三升，又煎白朮散三升，服盡得稍愈，第三日又服白朮散三升，
其子不渴無涎，又投阿膠散二服而愈。</p>
<p>（箋正）夜熱朝涼，已非實症，先投涼藥，亦足損其真陽，喜睡多涎，脾氣困矣。
而復妄與鎮墜，中氣受戕，脾胃重蒙其害，大渴引飲，津液欲竭，七味白朮，
健脾升清，芀香醒胃，全從中土著手，所謂培中央以灌溉四旁者，
最是幼科和平培補之妙藥，而用於誤藥損傷脾陽之後，尤其巧合分寸；</p>
<p>不用散而用湯飲大劑以灌溉者，一則土氣重傷，藥末渣滓，多投之恐不易消化，
少與之則病重藥輕，不如濃煎頻沃為佳，一則本在引飲之時，迎其機而導之，
尤易投其所好，看似一個板方，輕微淡遠，何能起病，實是苦心斟酌，滲淡經營，
用法之靈，選方之當，推為聖手，吾無間然。</p>
<p>一三、發熱</p>
<p>朱監簿子三歲，忽發熱，醫曰，此心熱，顋赤而唇紅，煩躁引飲，遂用牛黃圓三服，
以一物瀉心湯下之，來日不愈，反加無力不能食，又便利黃沫，錢曰，
心經虛而有留熱在內，必被涼藥下之，致此虛勞之病也。錢先用白朮散，生胃中津，
後以生犀散治之。朱曰，大便黃沫如何，曰，胃氣正，即瀉自止，此虛熱也，朱白，
醫用瀉心湯何如，錢曰，瀉心湯者，黃連性寒，多服則利，能寒脾胃也，坐久，
眾醫至，曰實熱，錢曰虛熱，若實熱，何以瀉心湯下之不安，而又加面黃頰赤，
五心煩躁，不食而引飲，醫曰，既虛熱，何大便黃沫，錢笑曰，便黃沫者，
服瀉心湯多故也，錢後與胡黃連圓治愈。</p>
<p>（箋正）此證當初顋赤唇紅，煩躁引飲，醫謂心熱，本非大虛症，特牛黃黃連，
寒泄太過，傷其脾陽，以致利下黃沫，此必淡黃之稀沫，
即牽牛竹黃等清泄逾量之弊。錢投七味白朮，運脾止利，進食生津，止以救藥誤，
迨利止，而仍以生犀散之清心涼血為治，其非真虛之侯亦可知。</p>
<p>然方有葛根，能升清氣，不患其涼藥傷中，選藥極是精細，後以胡黃連圓繼之，
則錢之所謂虛熱者，必非本然之大虛證，讀者煩於言外得之。</p>
<p>一四、自汗</p>
<p>張氏三子病，歲大者汗徧身，次者上至頂，下至胸，小者但額有汗，
眾醫以麥煎散治之，不效。錢曰，大者與香瓜圓，次者與益黃散，小者與名膏湯，
各五日而愈。</p>
<p>（箋正）三子之汗同，而所以汗之狀各不同，則自有虛實寒熱之別，
豈有一例同治之理。仲陽分證投藥，則大者是實火，次者是中虛，症情當可恍然。</p>
<p>石膏湯，本書無此方名，則一味之石膏，所以治陽明熱之但頭汗出者也。</p>
<p>一五、伏熱吐瀉</p>
<p>廣親宅四大王宮五太尉，病吐瀉不止，水穀不化，眾醫用補藥，言用薑汁調服之，
六月中服溫藥，一日益加喘，吐不定。錢曰，當用涼藥治之，所以然者，
謂傷熱在內也，用石膏湯三服併服之，眾醫皆言吐瀉多而米穀不化，當補脾，
何以用涼藥，王信眾醫，又用丁香散三服，錢後至，曰，不可服此，
三日外必腹滿身熱，飲水吐逆。三日外一如所言，所以然者，謂六月熱甚，
伏入腹中，而令引飲，熱傷脾胃，即大吐瀉，他醫又行溫藥，即上焦亦熱，
故喘而引飲，三日當死，眾醫不能治，復召錢至宮中，見有熱證，以白虎湯三服，
更以白餅子下之，一日減藥二分，二日三日又與白虎湯二服，四日用石膏湯一服，
旋合麥門冬黃苓腦子牛黃天竺黃茯苓，以朱砂為衣，與五圓，竹葉湯化下，
熱退而安。</p>
<p>（箋正）胃熱而吐瀉完榖，古人本有邪熱不殺榖之一說，然必有其他見證可據，
固不得僅以六月炎天，而謂必無寒症，仲陽此案，敘症太不明白，
然用藥如是而竟得效，則症情固可想而知。</p>
<p>一六、虛體吐瀉壯熱</p>
<p>馮承務子五歲，吐瀉壯熱，不思食，錢曰，目中黑睛少而白睛多，面色㿠白，
神怯也，黑睛少，腎虛也，黑睛屬水，本怯而虛，故多病也。縱長成，必肌膚不壯，
不耐寒暑，易虛易實，脾胃亦怯，更不可縱酒慾，若不保養，不過壯年。
面上常無精神光澤者，如婦人之失血也，今吐利不食壯熱者，傷食也，不可下，
下之虛，入肺則嗽，入心則驚，入脾則瀉，入腎則益虛，此但以消積圓磨之，
為微有食也。如傷食甚，則可下，不下則成癖也，實食在內，乃可下之畢，
補脾必愈，隨其虛實，無不效者。</p>
<p>（箋正）此先天不足之體質，議論句句中肯。</p>
<p>一七、吐瀉</p>
<p>廣親宮七太尉七歲，吐瀉，是時七月，其證全不食而昏睡，睡覺而悶亂哽氣，乾噦，
大便或有或無，不渴，眾醫作驚治之，疑睡故也。錢曰先補脾，後退熱，
與使君子圓補脾，退熱名膏湯，次日又以水銀硫黃二物下之，生薑水調下一字，
錢曰，凡吐瀉，五月內九分下而一分補，八月內十分補而無一分下，此者是脾虛瀉，
醫妄治之。至於虛損，下之即死，當即補脾。若以使君子圓即緩，</p>
<p>錢又留溫胃益脾藥止之。醫者李生曰，何食而噦，錢曰，脾虛而不能食，
津少即呃逆，曰，何瀉青褐水，曰，腸胃至虛，冷極故也，錢治而愈。</p>
<p>（箋正）此症先有吐瀉，本是胃熱實症，止以誤服涼驚之劑，而脾氣重困，
胃液更傷，所以悶亂哽氣呃逆，然胃熱尚盛，且腸中尚有積滯未行，
觀仲陽三層用藥，症情顯然，但既是脾氣不運，胃津不充，錢氏家法，
當用七味白朮散為佳，而此條乃選用使君子圓。不授七味者，以白朮散中有葛根，
升動胃氣，宜於清氣下陷之症。而胃家濁氣上升者，即是禁劑，此兒本吐，
又且呃逆，故不可投。仲陽選方，何等細密，惟論吐瀉症之當補當下，
以時令月節為準，則拘泥之說，必不可聽。末後又用溫胃益脾，
似與前此之石膏湯不符，然前時胃家尚有蘊熱，自應清胃，厥後硫汞下之，
積滯已去，脾胃乃虛，則自宜溫養，此始傳末傳，病情變化，隨症擇藥，
一定不易之理，而溫胃益脾四字，用之於吐瀉後呃逆之證，尤為切當之至。</p>
<p>一八、瀉後脾肺虛</p>
<p>黃承務子二歲，病瀉，眾醫止之，十餘日，其證便青白，乳物不消，身涼，
加哽氣昏睡，醫謂病困篤。錢氏先以益脾散三服，補肺散三服，三日，
身溫而不哽氣，後以白餅子微下之，與益脾散二服，利止，何以然，利本脾，
虛傷食，初不與大下，安揞置十日，上實下虛，脾氣弱，引肺亦虛，補脾肺，
病退即溫，不哽氣是也，有所傷食，仍下之也，何不先下後補，曰，便青為下藏冷，
先下必大虛，先實脾肺，下之則不虛，而後更補之也。</p>
<p>（箋正）此症初起，本是傷乳不消，因而作瀉，誤投止濇，則消化之機更滯，
遂以增病，且令脾傷及肺，子母俱困，幾為慢脾重症，仲陽先補脾肺，
以救目前之急，待脾陽既振，而更導其滯，又復補中以善其後，隨機應變，
相體裁衣，秩序井然，有條不紊，若非六轡在手，那得一塵不驚。</p>
<p>（措於陷切，音近厭，拋也。
）</p>
<p>一九、瘡疹</p>
<p>睦親宮中十大王瘡疹，云瘡疹始終出，未有他證，不可下。但當用平和藥，
頻與乳食，不受風冷可也。如瘡疹三日不出，或出不快，即微發之，
如瘡發後不多出，即加藥，加藥不出，即大發之，如發後不多，及脉平無證，
即瘡本稀，不可更發也。有大熱者，當利小便，小熱者，當解毒，若不快，
勿發勿下攻，止用抱龍圓治之，瘡疹若起，能食者，大黃圓下一二行，即止。
有大熱者，當利小便，有小熱者，宜解毒，若黑紫乾陷者，百祥圓下之，不黑者甚，
勿下，身熱煩躁，腹滿而喘，大小便濇，面赤悶亂，大吐，此當利小便，不瘥者，
宣風散下之也。若五七日痂不焦，是內發熱氣，蒸於皮中，故瘡不得焦痂也，
宜宣風散導之，用生犀角磨汁解之，使熱不生，必著痂矣。</p>
<p>（箋正）此論痘瘡治法，和平中正，最是仲陽危微精一之心傳。脉平無證，
言其脉平和，而無變證。</p>
<p>二十、
蟲痛</p>
<p>辛氏女子五歲，病蟲痛，諸醫以巴豆乾漆頷砂之屬治之不效，至五日外，
多哭而俛仰，睡臥不安，自按心腹，時大叫，面無正色，或青或黃，或白或黑，
目無光而慢，唇白吐沫，至六日，胸高而臥轉不安，召錢至，錢詳視之，
產蕪荑散三服，見目不除青色，大驚曰，此病大困，若更加瀉，則為逆矣，至次日，
辛見錢曰，夜來三更果瀉，錢於瀉盆中看如藥汁，以杖攪之，見有丸藥，錢曰，
此子肌厚，當氣實，今證反虛，不可治也。辛曰，何以然，錢曰，脾虛胃冷則蟲動，
而今反目青，此肝乘脾，又更加瀉，知其氣極虛也，而丸藥隨糞下，即脾胃已脫，
兼形病不相應，故知死病，後五日昏篤，七日而死。</p>
<p>（箋正）此是猛藥大攻之壞症，而仲陽不歸咎於前醫，忠厚待人，於此可見。</p>
<p>二一、病嗽咯血</p>
<p>段齋郎子四歲，病嗽，身熱吐痰，數日而咯血，前醫以桔梗湯及防己圓治之不愈，
涎上攻，吐喘不上，請錢氏，下褊銀圓一大服，復以補肺湯，補肺散治之。</p>
<p>或問段氏子咯血肺虛，何以下之，錢曰，肺雖咯血，有熱故也。久則虛痿，
今涎上潮而吐，當下其涎，若不吐涎，則不甚便，蓋吐涎能虛，又生驚也。
痰實上攻，亦能發搐，故依法只宜先下痰，而後補脾肺，必涎止而吐愈，為順治也，
若先補其肺，為逆耳，此所謂識病之輕重先後為治也。</p>
<p>（箋正）咯血未必皆是虛證，正以熱痰上湧，降令不行，咳嗽頻仍，震破絡脉，
那不血隨痰咯，而或間止知為肺虛，可見以耳為目，亦是古今通病。</p>
<p>仲陽所謂痰實上攻，亦能發搐，其症最多，即今之所謂急驚是也。</p>
<p>仲陽識得上攻二字，可與今之西學家血沖腦經一層，彼此參證矣，
則不甚便一句費解，必有訛誤。</p>
<p>二二、誤下太過</p>
<p>鄭人齊郎中者，家好收藥散施，其子忽藏熱，齊自取青金膏，三服并一服餌之，
服畢，至三更，瀉五行，其子困睡，齊言子睡多驚，又與青金膏一服，又瀉三行，
加口乾身熱，齊言尚有微熱未盡，又與青金膏，其妻曰，用藥十餘行未安，
莫生他病否，召錢氏，至日，已成虛羸，先用煎白朮散，時時服之，後服香瓜圓，
十三日愈。（箋正）此兒藏熱，本是實熱，青金膏（亦作青金丹）苦寒泄熱，
自是不謬，但下行太多。未免不當，仲陽投以白朮散者，其旨在此，
迨脾胃清陽氣振，而仍用香瓜圓之苦寒泄熱收功，則症情可知。</p>
<p>二三、傷食</p>
<p>曹宣德子三歲，面黃，時發寒熱，不欲食，而飲水及乳，眾醫以為潮熱，用牛黃圓、
麝香圓不愈，及以止渴乾葛散服之，反吐，錢曰，當下白餅子，後補脾，
乃以消積圓磨之，此乃癖也，後果愈，何以故，不食但飲水者，食伏於管內不能消，
致令發寒，服止渴藥吐者，以藥衝故也，下之即愈。</p>
<p>（箋正）本是食積，以脾胃無消化之力，而萎黃寒熱，故退熱之藥不應，
且一服乾葛，胃氣上升，激而為吐，病情藥性，豈不桴鼓捷應。</p>
<p>仲陽所謂藥衝者，正以葛之升清，激動胃氣，沖擾而作吐耳，管內即脘也。</p>
<h2>卷下</h2>
<p>諸方</p>
<p>（大青膏）治小兒熱盛生風，欲為驚搐，血氣未實，不能勝邪，故發搐也，
大小便依度，口中氣熱，當發之。</p>
<p>天麻（末一錢）、白附子（末生一錢五分）、青黛（研一錢）、蝎尾（去毒生末）、
烏蛇梢肉（酒浸焙乾取末各一錢）、硃砂（研）、天竺黃（研）。</p>
<p>右同再研細，生蜜和成膏，每服半皂子大至一皂子大，月中兒粳米大，
同牛黃膏溫荷水化一處服之，五歲以上，同甘露散服之。</p>
<p>周學海按，聚珍本蝎尾蛇梢肉各五分，有麘香研，同硃砂竺黃各一字匕，
方末附錄云，閻氏集保生信效力內小兒諸方，言皆得於汝人錢氏，
其間大青膏無天麻，有大青生研一分，其餘藥味分料和製，與此皆同，
其方下證治云，治小兒傷風，其候伸欠頓悶，口中氣熱，惡風脉浮，比此為詳，
只用薄荷湯下。</p>
<p>（箋正）方以天麻青黛，平肝息風，硃砂竺黃，鎮墜痰熱。</p>
<p>方下所謂治熱盛生風，欲為驚搐者，本以肝陽內熱，化風上旋，生驚發搐而言，
與素問血菀於上，則為大厥之旨吻合，亦即西學家之所謂血沖腦經，
此小兒之驚風一證，正與大人類中，同符合轍。本無外風，何所謂邪，
是方中用白附子，欲以鎮攝上壅之痰，亦非為外邪而設，而方下乃有正不勝邪一語，
已覺言之不正，且方中并無發散風邪一味，而方下乃謂當發，更是名不符實。</p>
<p>然第一二卷中亦每指大青膏為發散主藥，豈非藥性不符，恐仲陽不致若是之謬，
蓋書成於閻氏之手，幾經傳抄已失廬山真面矣。按方名大青，而方無是藥，
據聚珍本引閻氏所集之保生信效力，則是方本有大青生研一分，
始恍然於方名之有自，初不以方中之青黛得名，則所以清內熱而非散外風，
更覺顯然可據，然彼之方下證治，亦稱治小兒傷風，惡風脉浮，又似發表之主劑，
亦與此本發字同弊，此皆非製方者之本旨，蓋古醫書之為淺入妄改者最多，
而世人且不知其誤，此醫書之所以最不易讀歟。</p>
<p>又按白附子雖可鎮墜痰涎，然辛燥剛烈，可以治寒痰之上涌，而因熱生風，
發為驚搐，則是肝膽陽升太過，此物剛燥劫津，必不可用，天麻定風最佳，
蝎尾達痰頗捷。烏蛇梢肉，據近世醫書，似當作烏梢蛇肉，然開寶本草止稱烏蛇，
寇宗奭謂烏蛇梢尾細長，能穿小銅錢一百文者佳，似此物力用，以梢尾為上，
聚珍本亦作蛇梢肉，其他古書，則皆作烏蛇，至李氏綱目，始有烏梢蛇之名，
而後人因之，此蛇蜼曰無毒，然蛇牲善動，其能治風者，
是指癘風麻風之濕熱蘊毒在血分而言，蛇本濕熱毒氣之所鍾，而節節靈通，
故善入經絡，借同氣以驅除惡毒，非類中風驚風等之內熱動風者可比，
古人用此藥於此病方中，得無誤會。古用青黛，是藍澱之精華，清解熱毒，
最是良品，今則純為渣滓，質極粗劣，燥而不清，已不可用。</p>
<p>（涼驚圓）治驚疳。</p>
<p>草龍膽、防風、青黛（各三錢）、鉤藤（二錢）、黃連（五錢）牛黃、麝香、
龍腦（各一字）、麵糊圓粟米大。每服三、五圓，金銀花湯下。</p>
<p>（箋正）方名涼驚，藥多平肝清熱，正以病為內熱生風，惟清降乃能使內風自息，
則方中防風一味，必不可用，且此症是氣火升騰，宜靜而不宜動，腦麝芳香太猛，
最能耗散正氣，亦不可使，此理古人未知，而在今時，則血沖腦經，病源亦既大白，
凡屬芳香升散，必須一例避之。</p>
<p>古方中每有一字三字之名，極少有人為之說明者，頤謂古人抄藥，
恆用銅錢以代藥匕，有所謂一錢十半匕者，即以銅錢抄藥，滿之為一錢，
半之為半錢，非近時十分為一錢，五分為半錢之權衡也。蓋唐以後一文大錢，
必有四字，其所謂一字三字者，則即以一錢抄藥，用其四分之一，即為一字，
用其四分之三即為三字。凡醫書中亦有所謂一字匕者，其義可知，下一方粉紅圓，
龍腦用半字，又即一錢七中八分之一矣。</p>
<p>（粉紅圓）（又名溫驚圓）</p>
<p>天南星臘月釀牛膽中百日，陰乾取末四兩，別研，無釀者只剉炒熟用，
硃砂一錢五分研，天竺黃一兩研，龍腦半字別研，坯子胭脂一錢研。</p>
<p>（乃染胭脂）</p>
<p>右用牛膽汁和圓雞頭大，每服一圓，小者半圓，沙糖溫水化下。</p>
<p>（箋正）此亦治熱痰上涌，生風生驚之方，既用膽星為君，復以牛膽汁和丸，
製方之意，昭然大白。乃方下則曰一名溫驚圓，一似與前方之涼驚圓，相為對待者，
殊不可解，須知此方清熱力量，不在前方之下，而龍聰減半，又無麝香，
則視前方較為平和，而無流弊，通治熱痰，效力必在前方之上。方後所謂雞頭大，
即如芡實之大也，本草經上品雞頭實，即此。</p>
<p>說文亦日：芡，雞頭也。鄭注周禮籩人，及方言廣雅，淮南子說山訓，
皆有雞頭之文，知芡名雞頭，由來最古，今吾鄉俗語，婦人孺子，皆知有雞頭，
幾不知有芡實，芡實之大，約如大豆之三四倍，不可誤認作翰音之頭者也。</p>
<p>（瀉青圓）治肝熱搐搦。脉洪實。</p>
<p>當歸（去蘆頭切焙秤）、龍腦（焙秤）、川芎、山梔子仁、川大黃（濕紙裹煨）、
羌活、防風（去蘆頭切焙秤）</p>
<p>右件等分為末，煉蜜和圓雞頭大，每服半圓至一圓，煎竹葉湯同沙糖溫水化下。</p>
<p>周學海按，聚珍本方後附錄云，王海藏痘疹改誤云，東垣先生治斑後風熱毒，
翳膜氣暈遮睛，以此劑瀉之大效，初覺易治。</p>
<p>（考異）此方本是仲陽自製，而諸書引用極多。龍腦皆作龍膽草，
惟周刻此本獨作龍腦，按龍腦大寒，惟唐本草日微寒，潔古且以其辛香，
而謂為性熱，然史稱文信國為元兵所執，吞腦子不死，說者謂腦子藥名，其性大寒，
多食殺人，即是此物，可知古人皆知龍腦是大寒之藥，清肝之力，勝於龍膽，
藥雖異而理可通，但此是樹脂熬煉而成，已是精華，氣味皆厚，
與其他草木之質不同，故入藥分兩，無不輕用，即仲陽此書諸方，凡用龍腦，
比較他藥，不過十分之一，獨此方與諸藥等分，似非量藥正軌，但此是丸子，
每服僅僅芡實大之半丸至一丸，藥共七物，則龍腦雖與諸藥同一分量，
似所服尚不為太多，若本是龍膽草，則七味俱是草木，且服小小之一丸半丸，
似覺病重藥輕，恐不中病，則周澄之此本獨作龍腦，當非誤字，特此物不當焙耳。
四庫館編輯之聚珍本未見，然據周刻是書體例，凡宋本與聚珍本有異者，
皆於方後注明，但此方無注，似聚跈本亦是龍腦，坊間別有薛立齋醫案，
其中亦載此書，則已為薛氏重編，未可為據。</p>
<p>又他書引是方，多有作彈子大，每服一丸者，雖同是一丸，而丸之大小，何止倍蓰，
則各本固皆用龍膽草者，疑其所服太少，而改用大丸，以求與病情相合，
蓋亦非仲陽意矣。</p>
<p>（箋正）此方專為肝膽實火而設，方名瀉青，自當以泄熱降火為主。</p>
<p>龍腦梔子大黃，當為君藥，而芎歸羌防，溫升太過，寧非煽其燄而助其威，
蓋古人誤認內動之肝風，作為外來邪風，皆有非散不可之意，終是晉唐相承之大誤，
此必不可隨波逐流，沿訛襲謬者。而汪訒庵之醫方集解，且謂羌活氣雄，防風善散，
川芎上行頭目，能搜肝風而散肝火，所以從其性而升之於上，直是教猱升木，
火上添油手段，訒庵何不學至此。</p>
<p>（地黃圓）治腎怯失音。䪿開不合。神不足。目中白晴多。面色㿠白等方。</p>
<p>熟地黃（八錢）、山萸肉、乾山藥（各四錢）、澤瀉、牡丹皮、
白茯苓（去皮各三錢）</p>
<p>右為末，煉蜜圓如梧子大，空心溫水化下三圓。</p>
<p>（箋正）此今之所謂六味丸也，方從仲景八味腎氣來，仲陽意中，謂小兒陽氣甚盛，
因去桂附而創設此圓，以為幼科補腎專藥。自薛立齋濫用成方，而景岳養葵之流，
推波功瀾，世人遂以此為滋陰補腎必需之品。</p>
<p>抑知仲師八味，全為腎氣不充，不能鼓舞真陽，而小水不利者設法，
故以桂附溫煦腎陽，地黃滋養陰液，萸肉收攝耗散，而即以丹皮泄導濕熱，
茯苓澤潟，滲利膀胱，其用山藥者，實脾以堤水也，立方大旨，
無一味不從利水著想。方名腎氣，所重者在一氣字，故桂附極輕，不過借其和煦，
吹噓腎中真陽，便溺道得以暢遂。今西醫學說，謂兩腎各有輸尿之管，直通膀胱，
其說雖為古時醫界所未言，而用藥之理，利水必先治腎，實與彼中解剖所見，
兩兩合符，此中古醫學真傳，非魏晉以下所可及者。</p>
<p>讀八味丸主治各條，多有小便不利之語，可見古人立方，何嘗有填補腎陰腎陽作用，
仲陽減去桂附，而欲以治腎虛，則丹澤茯苓，滲泄傷津，已大失腎氣丸之本旨，
而方下所謂失音、䪿開、神不足，面㿠白云云，又皆陰陽兩憊之大症，溫補滋填，
猶虞不濟，豈丹澤茯苓，所可有效，是仲陽立方之初，已不無誤會，
宜乎立齋養葵之徒，依樣葫蘆，尤其藥不中病，而今之時醫，
猶有認作滋填補益之良方者，雖皆中薛趙輩之毒，蓋亦末始非仲陽有以誤之。</p>
<p>（瀉白散）（又名瀉肺散）治小兒肺盛，氣急喘嗽。</p>
<p>地骨皮、桑白皮（炒各一錢）、
甘草（炙一錢）</p>
<p>右剉散，入粳米一撮，水二小盞，煎七分，食前服。</p>
<p>周學海按，聚珍本甘草作半兩。</p>
<p>（箋正）此為肺火鬱結，窒塞不降，上氣喘急者之良方。桑白地骨，情泄鬱熱，
潤肺之燥，以復其順降之常，惟內熱上擾，燥渴舌絳者為宜，若外感塞邪，
抑遏肺氣，鼻塞流涕，啖嗽不爽，法宜疏泄外風，開展肺閉者，誤用是方，
清涼抑降，則更增其壅矣。</p>
<p>（阿膠散）（又名補肺散）治小兒肺虛，氣粗喘促。</p>
<p>阿膠（一兩五錢麩炒）、黍粘子（炒香）、甘草（炙各二錢五分）、
馬兜鈴（五錢焙）、杏仁（七箇去皮尖炒）、糯米（一兩炒）</p>
<p>右為末，每服一二錢，水一盞，煎至六分，食後溫服。</p>
<p>（箋正）方以補肺為主。所謂氣粗喘促者，是燥熱窒塞，肅降不行，故以甘米阿膠，
滋潤清燥為君，而稍用杏仁兜鈴，泄壅降氣。黍粘子即大力子，泄風開肺，
而沉重下降，又導熱下行，皆為痰熱壅遏，氣不下降而設，雖日肺虛，而氣粗喘促，
虛中有實，故用藥如此，且分量自有斟酌，乃淺者不察，或日既欲其補，
則杏仁非宜。或則止知方名之補，而隨手寫來，牛蒡杏鈴，漫無法度，
皆仲陽之罪人矣。諸書引用是方，各藥輕重，多無軌範，甚至改作湯飲，
而阿膠只用數分，杏仁仍是七粒，更有加入黃耆者，補氣升舉，正與立方之意相反。</p>
<p>（導赤散）治小兒心熱，視其睡，囗中氣溫，或合面睡，及上竄咬牙，皆心熱也，
心氣熱，則心胸亦熱，欲言不能，而有就冷之意，故合面睡。</p>
<p>生地黃甘草梢木通各等分，同為末，每服三錢，水一盞，入竹葉同煎至五分，
食後溫服，一本不用甘草，用黃芩。</p>
<p>（箋正）方以泄導小水為主，雖曰清心，必小溲黃赤短濇者可用，一本有黃芩，
則清肺熱，所以宣通水道之上源也。</p>
<p>（益黃散）（又名補脾散）治脾胃虛弱。及治脾疳。腹大身瘦。</p>
<p>陳皮（去白一兩）、丁香（二錢一方用木香）、訶子（炮去核）、
青皮（去白）甘草（炙各五錢）</p>
<p>右為末，三歲兒一錢半，水半盞，煎三分，食前服。</p>
<p>（箋正）方是溫中行氣，脾土虛寒，大便滑泄者宜之，雖名益黃，
實非補益脾胃之專藥。</p>
<p>（瀉黃散）（又名瀉脾散）治脾熱弄舌。</p>
<p>藿香葉（七錢）、山梔子仁（一錢）、石膏（五錢）、甘草（三兩）、
防風（四兩去蘆切焙）</p>
<p>右剉，同蜜酒微炒香，為細末，每服一錢至二錢。水一盞，煎至五分，溫服清汁，
無時。</p>
<p>周學海按：聚珍本山梔仁一兩，甘草三兩，云一作三分，方後有附論石膏文云：
南方以寒水石為石膏，以石膏為寒水石，正與京師相反，乃大誤也，
蓋石膏潔白堅硬，如牆壁，而寒水石則軟爛，以手可碎，外雖青黑，中有細文，
方書中寒水石則火煅用之，石膏則堅硬，不可入火，如白虎湯用石膏，
則能解肌破痰、治頭痛，若用寒水石則誤矣。又有一等，堅白全類石膏而方，
敲之亦皆成方者，名方解石也，可代石膏用之，南人有不信此說者。</p>
<p>孝忠嘗相與同就京師大藥肆中，買石膏寒水石方解石三種，又同詣惠民和劑局，
及訪諸國醫詢之，皆合此說，乃信，季忠頃編保生信效力，已為辨論，
恐小兒尤不可誤，故復見於此。</p>
<p>（箋正）方為脾胃蘊熱而設，山梔石膏，是其主宰，佐以藿香，芳香快脾，
所以振動其氣機。甘草大甘，已非實熱者必用之藥，而防風實不可解，又且獨重，
其義云何，是恐有誤，乃望文生義者，且曰取其升陽，又曰以散伏火，
須知病是火熱，安有升散以煽其燄之理。汪訒庵書，最是誤人，且諸藥分量，
各本皆異，輕重太下相稱，蓋沿誤久矣。</p>
<p>聚珍本附論石膏與寒水石之辨，兩兩相誤，李氏本草綱目石膏條下之說詳矣。</p>
<p>後方玉露散下亦誤，後人更有所謂瀉黃飲者，云治風熱在於脾經，口唇熱裂，
藥則防風之外，更有白芷升麻，燥烈溫火，大可駭咤，則即因錢氏是方有防風，
而更進一層，東坡所謂李斯而荀卿而尤甚者也。閻氏謂石膏不可入火，則今之時醫，
常用煅石膏者，其謬何如？近賢惟陸九芝王孟英知之，學者亟宜猛省。</p>
<p>（白朮散）治脾胃久虛。嘔吐泄瀉。頻作不止。精液苦竭。煩渴躁。</p>
<p>但欲飲水。乳食不進。羸瘦困劣。因而失治。變成驚癎。不論陰陽虛實並宜服。</p>
<p>人參（二錢五分）、白茯苓（五錢）、白朮（五錢炒）、藿香葉（五錢）、
木香（二錢）、甘草（一錢）、葛根（五錢渴者加至一兩）</p>
<p>右㕮咀。每服三錢。水煎。熱甚發渴。去木香。周學海，聚珍本葛根二兩，
餘並一兩。</p>
<p>（箋正）此方為健脾養胃主藥。運化既失其司，而復津液耗竭，虛熱內熾，
引水自救，雖是上吐下瀉，而不能用理中及益黃散者，爰立是方，以與虛寒瀉利，
對面分峙，四看補土，即借茯苓以分清小水，而氣化不行，不能不用氣藥，
然香燥太甚者，又非所宜，則以木藿二香芬芳振動之，而不失於燥烈。
葛根升清止瀉，又能解渴，一舉兩得，但嘔多者終宜避之，此在臨症時，
自應隨宜斟酌，古人非不準吾曹活變也，其配合分量，又皆極有分寸，
但方下不論陰陽虛實一句，終是不妥。此方止為陰液虛者立法，果是陰寒而虛，
即為理中湯方確證，若曰實病，則參朮又非所宜矣。</p>
<p>（塗䪿法）麝香（一字）、薄荷葉（半字）、蝎尾（去毒為末半錢一作半字）、
蜈蚣末、牛黃末、青黛末（各一字）</p>
<p>右同研。用熟棗肉劑為膏，新綿上塗勻，貼䪿上，四方可出一指許，火上炙。
手頻熨。</p>
<p>百日內外小兒可用此。</p>
<p>（浴體法）治胎肥、胎熱、胎怯。</p>
<p>天麻末（二錢）、全蝎（去毒為末）、硃砂（各五錢）、烏蛇肉（酒浸焙乾）、
白礬（各二錢）、麝香（一錢）、青黛（三錢）</p>
<p>右同研勻，每用三錢，水三盌，桃枝一握，葉五七枚，同煎至十沸，溫熱浴之，
勿浴背。</p>
<p>（甘桔湯）治小兒肺熱，手搯眉目鼻面。</p>
<p>桔梗二兩，甘草一兩為粗末，每服二錢，水一盞，煎至七分，去滓，食後溫服，
加荊芥防風名如聖湯，熱甚加羌活黃芩升麻。</p>
<p>（箋正）方為肺熱而設，然桔梗止能開泄通氣，不能清熱，蓋肺受外感，氣窒不宣，
最多變症，桔梗善於疏通，理氣開結，用為先導，則肺不閉而熱可解。
方下所謂手搯眉目鼻面，是氣閉於上，絡脉壅滯，無可奈何之狀，歷歷如繪，
則桔梗開泄，海藏所謂味厚氣輕者，其用如是，非即以甘桔之微溫者清肺熱也。
潔古老人嘗謂桔梗上行，可為諸藥之舟楫，蓋即從開肺一層著想，遂有此偏見之語，
要之此物疏通，不僅上行，亦能下達，</p>
<p>本草經稱其治胸脅痛，及腹滿腸鳴，明是徹上徹下，豈其專治上焦之藥，
而潔古有舟楫之譬，甚謂其載藥上浮，藥中有此一味，即專走上焦，不能下行，
大非本經真旨，輾轉傳訛，失之遠矣。方後加荊芥防風，則惟風寒襲肺，
閉塞已甚者，可以暫投，已非方下肺熱之治法，又謂熱甚者加羌活黃芩升麻，
則黃芩固能清肺，而羌活升麻，溫升已甚，殊非熱甚所宜。</p>
<p>（安神圓）治面黃頰赤，身壯熱，補心，一治心虛肝熱，神思恍惚。</p>
<p>馬牙硝、白茯苓、麥門冬、乾山藥、甘草、寒水石（研各五錢）、龍腦（一字研）、
硃砂（一兩研）</p>
<p>右末之，煉蜜為圓，雞頭大，每服半圓，沙糖水化下無時。</p>
<p>（箋正）熱甚則氣火升浮，神魂不守，方以清熱泄火，重墜鎮怯，故名安神。
然牙硝龍腦，寒涼已甚，可治實火，不能療虛，方下所謂治壯熱肝熱是也，
復云補心治心虛，未免言之太過，又面黃二字，亦是可疑。</p>
<p>（當歸湯）治小兒夜啼者，藏寒而腹痛也，面青手冷，不吮乳者是也，當歸、
白芍藥、人參、桔梗、陳皮（各一分）、甘草（炙半分）</p>
<p>右為細末，水煎半錢，時時少與服，又有熱痛，亦啼叫不止，夜發，面赤唇焦，
小便黃赤，與三黃圓，人參湯下。</p>
<p>（箋正）夜啼有實熱，亦有正氣虛餒，而睡眠不安者，是方蓋為正虛而設，
養陰和血，而以芍藥收攝耗散之氣，選藥之旨可見，然與方下藏寒腹痛，
面青手冷諸症，無一針對者，蓋已大非製方之真矣。若是實火不得眠，
則方後三黃一法，尚是對症。</p>
<p>（瀉心湯）治小兒心氣實，則氣上下行澀，合臥則氣不得通，故喜仰臥，
則氣上下通。</p>
<p>黃連一兩，去鬚為末，每服五分，臨臥取溫水化下。</p>
<p>（箋正）黃連瀉心，必有實熱見症而後台符，方下但以仰臥為據，殊不盡然。</p>
<p>（生犀散）治目淡紅，心虛熱。</p>
<p>生犀（二錢剉末）、地骨皮（自採佳）、乾葛、赤芍藥、柴胡根（剉各一兩）、
甘草（炙五分）</p>
<p>右為粗末，每服一二錢，水一盞，煎至七分，溫服，食後。</p>
<p>（箋正）方以生犀角為名，且有地骨，清心退熱，其力最專，方下乃謂治虛熱，
未妥。</p>
<p>（白餅子）（又名玉餅子）治壯熱。</p>
<p>滑石末（一錢）、半夏末（一錢）、南星末（一錢）、輕粉（五錢）、
巴豆（二十四個去皮膜用水一升煮乾研細）</p>
<p>右三味搗羅為末，入巴豆粉，吹入輕粉，又研勻，郤入餘者藥末，加法令勻，
糯米粉圓茹菉豆大，量小兒虛實用藥，三歲以下，每服三圓至五圓，空心紫蘇湯下，
忌熱物，若三五歲兒壯實者，加至二十圓，以利為度，周澄之按，
聚珍本巴豆甘四粒，餘並二錢。</p>
<p>（箋正）此治實熱痰積，藥極猛烈，蓋以小兒服藥，必不能多，而病是大實，
非攻堅猛將，無以收搗穴犁庭之績，不得不偏師陷陣，直搗中堅，庶幾一鼓盪平，
不留餘孽，則所服無幾，事半功倍，此是製藥之妙用，非妄學張子和者，
所可同日而語。</p>
<p>（利驚圓）治小兒急驚風。</p>
<p>青黛、輕粉（各一錢）、牽牛末（五錢）、
天竺黃（二錢）</p>
<p>右為末，白麵糊圓，如小豆大二十圓，薄荷湯下，一法煉蜜為丸，如芡實大一粒，
化下。</p>
<p>（箋正）此亦劫痰清熱之利器，雖較上方稍為和平，亦必實熱實痰，治為對症。</p>
<p>（栝蔞湯）治慢驚。</p>
<p>周澄之按，本草綱目引此，云治慢驚帶有陽證者，白甘遂即蚤休也，栝蔞根二錢，
白甘遂一錢，用慢火炒焦黃色，研勻，每服一字，煎麝香薄荷湯調下，無時，
凡藥性雖冷，炒焦用之乃溫也。</p>
<p>（箋正）慢驚是虛寒重症，法當溫補，理中保元，是其專藥，而此方二味，
皆涼潤青熱之品，已是可疑，且末子煎湯，又止用一字，
再以麝香之氣烈開泄者作引，實是藥不對病，方後又謂炒焦用之，冷藥亦為溫劑，
則殊不然，須知草木之質，炒為焦枯，氣味俱失，而可謂其化冷作溫，
愚者亦知其不確，恐非製方本意，瀕湖引此，謂治慢驚發搐，蓋有陽證，
蓋明知此病此藥，必無倖中之理，乃加以陽症二字，為仲陽解嘲，未免騎牆兩可，
反以誤人，不可不辨。</p>
<p>（五色圓）治五癎。</p>
<p>硃砂（五錢研）、水銀、雄黃（一兩研）、鉛（三兩同水銀熬）、
真珠（一兩研）</p>
<p>右煉蜜圓如麻子大，每服三四圓，金銀薄荷湯下，周澄之按，聚珍本金銀下有花字，
金銀能鎮心肝，安魂魄，正治驚癎，今人多以金銀器煎湯下藥，斯乃古義，
花字衍也，前涼驚圓方下亦有花字，並衍。</p>
<p>（箋正）癎症是痰升氣升，沖激腦神經而失知覺運動之病，所以時發時止，
即素問所謂氣血交并於上，則為大厥，厥則暴死之一端，是方重鎮，兼以清火滌痰，
製方精義，最合素問真旨。周謂聚珍本作金銀花，衍花字，是也。
頤嘗考許叔微本事方，亦有金銀薄荷湯下藥一條，一本則無荷字，乃知金銀薄者，
即今之金箔銀箔也，古止作薄，荷字亦是衍文，此必淺入不識古字古義而妄增者。</p>
<p>（調中圓）</p>
<p>人參（去蘆）、白朮、乾薑（炮各三兩）、
甘草（炙減半）</p>
<p>右為細末，圓如菉豆大，每服半圓至二三十圓，食前溫水送下。</p>
<p>（箋正）此即理中，方下無主治者，蓋以熟在人口，所治何症，盡人能知，
無須更說耳。</p>
<p>（塌氣圓）治虛脹，如腹大者，加蘿蔔子，名褐圓子。</p>
<p>胡椒一兩，蝎尾去毒五錢，為細末，麵圓粟米大，每服五七圓至一二十圓，
陳米飲下，無時，一方有木香一錢。</p>
<p>（箋正）此為脾腎陽虛而設，然既脹滿，則行氣之藥，必不可無，方後木香，
乃必需之品。</p>
<p>（木香圓）治小兒疳瘦腹大。</p>
<p>木香、青黛（另研）、檳榔、荳蔻（去皮各一分）、麝香（另研一錢五分）、
續隨子（去皮一兩）、蝦蟆（三箇燒存性）</p>
<p>（箋正）疳瘦腹大，必有積滯，積不去則脹不已，故以千金子為君，
而以木香蔻仁之健運者輔之。蝦蟆善能鼓氣，故消腹滿，但麝香芳烈，
多用反以傷氣，全力分量，不過二兩餘，宜減麝五分之四十</p>
<p>唐以前權衡不以錢計，二十四銖為兩，六銖為一分，四分即一兩，二分即半兩，
此方前四味各一分，即各六銖，為四分之一兩，非今人十分為一錢之分，
否則前四味太少，而麝反十五倍之，必非製方之旨。</p>
<p>（胡黃連圓）治肥熱疳。</p>
<p>川黃連、胡黃連（各五錢）、
硃砂（一錢另研）</p>
<p>右以上二物為細末，入硃砂末，都填入豬膽內，用淡漿水煮，
以杖於銚子上用線釣之，勿著底，候壹炊久，取出，研入蘆薈麔香各一分，
飯和圓如麻子大，每服五七圓至二三十圓，米飲下，食後，一方用蝦蟆半兩，不燒。</p>
<p>（箋正）疳積多由鬱熱，是方大苦大寒，非實熱者不可概投，
且疳症未有腹不堅大者，蝦蟆乃是要藥，但乾者分量甚輕，方後半兩似太多，
當減之，以入丸散，若不炙鬆，不能研細，但不可太焦耳。</p>
<p>（蘭香散）治疳氣鼻下赤爛。</p>
<p>蘭香葉（菜名）（燒灰二錢）、銅青（五分）、輕粉（二字）、為細末，令勻，
看瘡大小，乾貼之。</p>
<p>（箋正）此肺胃蘊熱，鼻孔蝕瘡之外治藥。蘭香，即佩蘭之一種，
然瘍科中清熱止癢之末子藥，均可通用，不必拘守此一方也。</p>
<p>（白粉散）治諸疳瘡。</p>
<p>海螵蛸三分，白芨三分，輕粉一分，共為末，先用漿水洗，拭乾貼。</p>
<p>（箋正）此亦外治藥末，輕粉拔黃，鰂骨白芨，黏膩長肌，方簡而切，頗可法也。</p>
<p>（清積圓）治大便酸臭。</p>
<p>丁香（九箇）、縮砂仁（二十箇）、烏梅肉（三箇）、
巴豆（二箇去皮油心膜）</p>
<p>右為細末，麵糊圓黍米大，三歲已上三五圓，已下三二圓，溫水下，無時。</p>
<p>（箋正）大便酸臭，積滯已甚，非攻堅蕩積，無以推陳致新，此為大便色白，
陽虛不能消化者立法，故宜溫下，又恐巴霜太猛，乃以烏梅為之調劑，
縮砂仁以助氣機之運行，藥味不多，而慮周藻密，確是佳方。</p>
<p>（安蟲散）治小兒蟲痛。</p>
<p>胡粉（炒黃）、檳榔、川楝子（去皮核）、鶴蝨（炒各二兩）、白礬（鐵器熬）、
雄黃、巴豆霜（各一分）、乾漆（炒煙盡二分）</p>
<p>右為細末，每服一字，大者半錢，溫米飲調下，痛時服。</p>
<p>周澄之按，聚珍本無乾漆雄黃巴豆霜。</p>
<p>（箋正）彙集殺蟲攻積之藥，其力甚峻，但胡粉乾漆，太不馴良，宜去之。</p>
<p>古人治蛕曰安，而不敢說一殺字，蓋誤認無病之人，亦當有蛕，但馴伏而不擾動耳，
然非其族類，殺之惟恐不速，安之何居。</p>
<p>（紫霜圓）治消積聚。</p>
<p>代赭石（煅醋淬七次）、赤石脂（各一錢）、杏仁（五十粒去皮尖）、
巴豆（三十粒去皮膜心出油）</p>
<p>右先將巴霜入乳內，細研如膏，卻入代赭石脂末研勻，
以湯浸蒸餅</p>
<p>為圓，如粟米大，一歲服五圓，米湯飲下，一二百日內兒三圓，乳汁下，
更宜量其虛實加減，微利為度，此藥兼治驚痰諸證，雖下不致虛人，周澄之按，
聚珍本無赤石脂。</p>
<p>（箋正）此方巴霜較多，攻泄有餘，而無氣分斡旋之藥以導其先路，突將無前，
太嫌直驟，以消積聚，赤石脂雖重墜而質黏，蓋欲以緩巴霜之峻，
聚珍本據永樂大典，反少此一物，尤其滑泄猛烈，惟所服無多，果是實積，
亦急則治標之一法。方後謂治驚痰，則實熱生痰，氣火上壅，沖激腦經，
驚搐瘈瘲之症，以此滌痰鎮墜，尤其相宜。</p>
<p>（止汗散）治六陽虛汗，上至頂，不過胸也，不須治之，喜汗，厚衣臥而額汗出也，
止汗散止之。</p>
<p>右用故蒲扇灰，如無扇，只將故蒲燒灰研細，每服一二錢，溫酒調下，無時。</p>
<p>（箋正）汗多總是火盛，疏泄無度，蒲生水中，性本清芬，能制炎熱，
敗扇經搖動之餘，取其得空氣較多，能生涼風以除火氣耳，此亦古人埋想，
惟用酒送，則反以助其振動，殊非止汗之旨，方下文義，不甚明了，疑有譌誤。</p>
<p>（香瓜圓）治遍身汗出。</p>
<p>大黃瓜（黃色者一箇去穰）、川大黃（濕紙裹煨至紙焦）、胡黃連、柴胡（去蘆）、
鱉甲（醋炙黃）、蘆薈、青皮、黃柏</p>
<p>右除黃瓜外，同為細末，將黃瓜劃去頭，填入諸藥，置滿卻蓋口，用杖子插定，
慢火內煨熟，麵糊圓如菉豆大，每服三二圓，食後冷漿水或新水下，
大者五七圓至十圓。周澄之按，聚珍本更有黃連，又云各等分。</p>
<p>（箋正）以三黃而合蘆薈，苦寒至矣。製法頗奇，似亦無謂，所服僅菉豆之三二丸，
五七丸，至十丸而止，則陰寒偏盛，不可過也。</p>
<p>方中無分量，蓋有脫落，當從聚珍本補之。</p>
<p>（花火膏）治夜啼。燈花一顆，塗乳上，令兒吮之。</p>
<p>（箋正）陰分火熾，則臥不安而夜多啼。燈花是姻煤所結，清心火而泄陰分之熱，
頗能有效，但須以香油點燈結花乃佳，半歲以內，尤有捷驗。</p>
<p>（白玉散）治熱毒氣，客於腠理，搏於血氣，發於外，皮上赤如丹，是方用之。</p>
<p>白土二錢五分，（又云滑石）寒水石五錢，為末，用米醋或新水調塗，
（箋正）方解已詳上卷丹瘤條下。</p>
<p>（牛黃膏）治驚熱。</p>
<p>雄黃（小棗大用獨莖螺蔔根水并醋共大盞煮盡）、甘草末、甜硝（各三錢）、
硃砂（半錢匕）、龍腦（一錢匕）、寒水石（研細五錢匕）</p>
<p>右同研勻，蜜和為劑，食後薄荷湯溫化下，半皂子大。周澄之按，聚珍本無硃砂，
有鬱金末菉豆粉，分量亦別，雄黃甘草甜硝各一分，寒水石一兩，鬱金腦子各一錢，
菉豆粉半兩。</p>
<p>（箋正）寒涼鎮重，以治氣火俱盛，血沖腦經之熱痰風驚，恰如其分。</p>
<p>龍腦芳香，雖能耗氣，然清涼則能下降，此與麝香之走散，性情微有區別，
單用龍腦，尚不為害，但分量宜輕，可減三分之二，聚珍本有鬱金，亦開結抑降，
其用相近。菉豆粉清熱上品，自可為使。甜硝之名，殊不經見，考玄明粉製法，
以甘草同煮，說者謂以甘解其寒凝太甚，則所謂甜硝，殆即此物。</p>
<p>（牛黃圓）治小兒疳積。</p>
<p>雄黃（研水飛）、方竺黃（各二錢）、
牽牛（末一錢）</p>
<p>右同再研，麵糊為圓，粟米大，每服三圓至五圓，食後薄荷湯下，兼治疳消積，
常服尤佳，大者加圓數。</p>
<p>（箋正）此亦滌飲攻痰之法。竺黃清熱，故曰治疳；牽牛蕩滌，故曰消積，
所服無多，尚不為峻，但必非常服之品，方後常服尤佳一句，胡可為訓。</p>
<p>（玉露散）（又名甘露散）治傷熱、吐瀉、黃瘦。</p>
<p>寒水石（軟而微青黑中有細紋者是）、石膏（堅白而牆壁手不可折者是好各半兩）、
甘草（生一錢）</p>
<p>右同為細末，每服一字，或半錢一錢，食後溫湯調下。</p>
<p>（箋正）方為內熱而設，實即白虎湯之意，但二石下所稱形質，適是兩誤。</p>
<p>李瀕湖謂閻孝忠以寒水石為石膏，以石膏為寒水石，今之石膏，雖堅硬，
而小塊可以手折，非其他石藥之大堅者可比，蓋此物本不甚堅，而能黏手，
故有膏名，古有所謂軟石膏者即此。又別有硬石膏，則即今之寒水石也。
前瀉黃散後，列有聚珍本所附閻氏石膏說，亦是誤認，詳本草綱目石膏條中。</p>
<p>（百祥圓）（一名南陽圓）治瘡疹倒靨黑陷。</p>
<p>用紅芽大戟，不以多少，陰乾，漿水軟去骨，日中曝乾，復內汁中，煮汁盡，
焙乾為末，水圓如粟米大。每服一二十圓，研赤脂麻湯下，吐利止，無時。</p>
<p>（箋正）此為熱甚液乾而設，非可治血虛不足之倒靨，曰治黑陷，指焦枯者而言也。</p>
<p>（牛李膏）（一名必勝膏）治同前方。</p>
<p>牛李子杵汁，石器內密封，每服皂子大，煎杏膠湯化下。</p>
<p>（箋正）牛李即李子之一種，考李子氣味雖曰微溫，然名醫別錄明言其去痼熱，
則大寒可知。錢氏以治痘之黑陷，且名以必勝，清血解毒之功最巨。若非大熱，
何可輕投。</p>
<p>（宣風散）治小兒慢驚。</p>
<p>檳榔（兩箇）、陳皮、甘草（各半兩）、
牽牛（四兩半生半熟）</p>
<p>右為細末，三二歲兒蜜湯調下五分，已上一錢，食前服。</p>
<p>（箋正）慢驚總是脾腎兩虛，縱有寒痰壅滯，皆宜溫不宜清，可補不可下，
是方檳榔牽牛，皆是峻藥，豈可誤治虛症，上卷慢驚條中，所謂風在脾胃，
故大便不聚而為瀉，當去脾間風，風退則利止，故主以此方，竊謂脾虛生風，
豈是外風深入，拙著中風斠詮，曾論及有陰寒之氣上沖一證，即為小兒慢驚，
及大人之並無肝火而猝然昏厥者言之，而古人竟認作外風入脾。欲取攻盪以宣此風，
豈不犯虛虛之戒。</p>
<p>（麝香圓）治小兒慢驚疳等病。</p>
<p>草龍膽、胡黃連（各半兩）、木香、蟬殼（去劍為末乾秤）、蘆薈（去砂秤）、
熊膽、青黛（各一錢）、輕粉、腦、麝、牛黃（各一錢別研）、瓜蒂</p>
<p>（二十一箇為末）</p>
<p>右豬膽圓如桐子及菉豆大，驚疳，藏府或秘或瀉，
清米飲或溫水下小圓五七粒至一二十粒，疳眼，褚肝湯下，疳渴，燖豬湯下亦得，
褚肉湯下亦得，驚風發搐，眼上，薄荷湯化下一圓，更水研一圓滴鼻中，
牙疳瘡口瘡，研貼，蟲痛，苦楝子或白蕪荑湯送下，百日內小兒，大小便不通，
水研封臍中，蟲候加乾漆好麘香各少許，并入生油一兩點，溫水化下，
大凡病急則研碎，緩則浸化，小兒虛極，慢驚者勿服，尤治急驚痰熱。周澄之按，
聚珍本分腦麝為龍腦麝香二味，無青黛輕粉蘆薈熊膽四味。</p>
<p>（箋正）方中一派大苦大寒，止可以治肝膽實火，而方下乃曰治小兒慢驚，
乍見之大是可駭，迨細釋方後分證加引，則皆是熱症，本無一條虛寒雜廁其間，
方末且申明之曰，小兒虛極，慢驚者弗服，尤治急驚痰熱，則製方之旨，
豈不明白了解，乃知下慢字，必是傳寫之誤，且以驚疳等病四字為句，如多一慢字，
即不成句，此必出於淺入妄加，以前一方治慢驚而誤衍之，不可不正。乾漆大毒，
觀於人之生漆瘡者，偶聞其氣，即已周身起瘰發腫，甚至頂大如斗，其厲何如？</p>
<p>豈幼孩柔脆腸胃所能勝任，雖曰殺蟲，胡可浪用，不解本草經何以列於上品，
且日無毒，又謂久服輕身耐老，則古書之不可盡信明矣。又按驚風之痙厥抽掣，
皆是腦神經病，而運動為之驟變，素問謂之氣血并走於上，則為暴厥，
治必鎮攝火燄，降氣開痰，宜靜而不宜動。腦麝芳香最烈，適足以助氣火之上揚，
非徒無益，且必有大害，是方腦麝尤重，更不可以治驚搐，惟疳積腹大，
氣滯不行者，可少用之，以利流通，然亦宜減三之二為充。</p>
<p>（大惺惺圓）治驚疳百病及諸壞病，不可具述。</p>
<p>辰砂（研）、青礞石、金牙石（各一錢半）、雄黃（一錢）、蟾灰（二錢）、
龍腦（各一字別研）、麝香（半錢別研）、蛇黃（三錢醋淬五次）</p>
<p>右研勻細，水蒸餅為圓，硃砂為衣，如菉豆大，百日兒每服一圓，一歲兒二圓，
薄荷溫湯化下，食後。</p>
<p>（箋正）此方與上方大旨相似，故主治各症亦同，但苦寒較減，
而攻痰消積之力較專，痰熱而兼積滯者宜之，若治熱痰風驚，則必去腦麝。</p>
<p>（小惺惺圓）解毒，治急驚風癇潮熱，及諸疾虛煩，藥毒上攻，躁渴。</p>
<p>臘月取東行母豬糞（燒灰成性）、辰砂（水研飛）、腦、麝（各二錢）、
牛黃（一錢各別研）、蛇黃（西山者燒未醋淬三次水研飛乾用半兩）</p>
<p>右以東流水作麵糊圓桐子大，硃砂為衣，每服二圓，鑰匙研破，溫水化下，
小兒纔生，便宜服一圓，除胎中百疾，食後。</p>
<p>周澄之按，聚珍本腦麝分為二物，云豬糞辰砂各半兩，龍腦麝香各二錢。</p>
<p>（箋正）豬糞穢濁，取其下行，能泄火而解熱毒，以治急驚，亦是清降，
故能定氣血之上沖，但腦麝必不可用，而此力更重，聚珍本雖稍輕，
亦尚非配藥之法，方後以鑰匙研藥，蓋取其能開通之意，然未免孩子氣，
試問於藥性上，安能有用？蓋此書屢經傳寫，豈特非仲陽之舊，抑恐矢閻氏之真矣！</p>
<p>但謂小兒初生，宜服一丸，則可以泄導先天蘊熱，方法頗佳。</p>
<p>（銀砂圓）治涎盛膈熟，實痰嗽，驚風積潮熟。</p>
<p>水銀（結砂子三皂子大）、辰砂（研二錢）、蝎尾（去毒為末）、硼砂、
粉霜（各研）、輕粉、郁李仁（去皮焙稱為末）白牽牛、鐵粉、好臘茶（各三錢）</p>
<p>右同為細末，熬梨汁為膏，圓如菉豆大，龍腦水化下一圓至三圓，亦名梨汁餅子，
及治大人風涎，並食後。周澄之按，棸珍本好臘茶作好蠟，恐誤，
又蝎尾硼砂郁李仁粉霜牽牛輕粉作各一錢，鐵粉好蠟作各三錢。</p>
<p>（箋正）幼科驚癇，無非熱盛生風，氣火挾痰，上激沖腦為病，抽搐瘈瘲，
痙厥戴眼，無一非腦神經受其震激，而失功用。喻嘉言謂驚風之名，當作熱痰風驚，
則明白了解，其論極是。在古人雖未嘗知有神經之病，然多用金石重墜之藥，
以治其氣火之升騰，則降逆鎮定，恰與氣血上沖之原理相合，故能桴應。
是方汞鐵粉霜，鎮墜極重，而又以蝎尾月石，牽牛李仁，消導下行，蕩滌積熱，
最是峻劑，茍非大實，未可輕投，但水銀必與黑鉛同化，乃能結砂，此方無黑鉛，
必有脫誤，然即使結砂，苟其煉不得法，則汞性善變，流弊不小，終宜慎之。</p>
<p>（蛇黃園）治驚癇，因震駭恐怖，叫號恍惚是也。</p>
<p>蛇黃（真者三箇火煅醋淬）、鬱金（七分一處為末）、
麝香（一字）</p>
<p>右為末，飯圓桐子大，每服一二圓，煎金銀磨刀水化下。</p>
<p>（箋正）此亦開痰降逆之法。用磨刀水送藥者，取鐵之重墜耳。</p>
<p>（三聖圓）化痰涎，寬膈，消乳癖，化驚風食癇諸疳，小兒一歲以內，常服極妙。</p>
<p>（小青圓）青黛（一錢）、牽牛（末三錢）、膩粉（一錢）、並研勻麵糊圓黍米大。</p>
<p>（小紅圓）天南星（末一兩生）、硃砂（半兩研）、巴豆（一錢取霜）、
並研勻薑汁麵糊圓黍米大。</p>
<p>（小黃圓）半夏（生末一分）、巴豆霜（一字）、黃柏末（一字）、
並研勻薑汁麵糊圓黍米大。已上百日者各一圓，一歲者各二圓，隨乳下。</p>
<p>周澄之按，聚珍本小青圓作青黛一分，牽牛末三分，膩粉二錢，小紅圓巴豆作二錢，
小黃圓黃柏作半錢。</p>
<p>（箋正）三方皆攻痰實之法，而兩用巴霜，俱是峻劑，但丸子極小，所服又少，
所以可用。</p>
<p>（鐵枌圓）治涎盛潮搐吐逆。</p>
<p>水銀砂子、輕粉（各二分）、硃砂、鐵粉（各一分）、
天南星（炮製去皮臍取末一分）</p>
<p>右同研，水銀星盡為度，薑汁麵糊圓粟米大，煎生薑湯下十圓至十五圓，二三十圓、
無時。</p>
<p>（箋正）此與前之銀砂圓，大同小異，故方下主治亦同。</p>
<p>（銀液圓）治驚熱膈實，嘔吐上盛，涎熱。</p>
<p>水銀半兩，天南星二錢炮，白附子一錢炮，共為末，用石腦油為膏，每服一皂子大，
薄荷湯下。</p>
<p>周澄之按，聚珍本有龍腦半錢，輕粉一錢，蝎尾廿一枚炙去毒，右同研勻，
石腦油丸如菉豆大，每服二三丸，乳香湯下，大者稍加，無時。</p>
<p>（箋正）此方水銀生用，尤其可怪，石腦油更奇，考瀕湖綱目所引諸說，
即是今之煤油，故嘉祐本草亦言有毒，雖曰墜痰通絡，實屬好奇太過，斷不可行。</p>
<p>（鎮心圓）治小兒驚癎心熱。</p>
<p>硃砂、龍齒、牛黃（各一錢）、鐵粉、琥珀、人參、茯苓、防風（各二錢）、
全蝎（七箇焙）右末，煉蜜圓如桐子大，每服一圓，薄荷湯下。</p>
<p>（箋正）此亦重墜清熱，鎮攝氣血之劑，能使氣火不升，則腦不受激，驚搐自已，
止方之意甚佳，而不用巴霜牽牛之峻，且無水銀輕粉巴霜之毒，尤其純粹無疵，
但尚是實熱實痰，人參殊可不必，全蝎亦是毒蟲，古用蝎尾，取其下行達痰，
故曰定風，此用其全，不如蝎尾之妥。惟驚癎之風，皆自內生，必非外感風邪，
斷不可混同施治。方中又有防風，溫散外風，正與熱盛風生，病凊相反，非徒無益，
而又害之，此古人之大誤。</p>
<p>（金箔圓）治急驚涎盛。</p>
<p>金箔（二十片）、天南星（剉炒）、白附子（炮）、防風（去蘆鬚焙）、
半夏（湯浸七次切焙乾稱各半兩）、雄黃、辰砂（各一分）、生犀末、牛黃、腦、
麝（各半分以上六物研）</p>
<p>右為細末，薑汁麵糊圓麻子大，每服三五圓至一二十圓，人參湯下，如治慢驚，
去龍腦，服無時。</p>
<p>周澄之按，聚珍本作牛黃龍腦麝香各半錢，雄黃辰砂各二分，餘同。</p>
<p>（箋正）此亦清熱開痰之法。星夏白附，皆為痰壅而設，但腦麝大香，
反以激動氣血，必不可用，防風亦大誤。方後謂治慢驚則去龍腦，蓋以冰片大寒，
非虛寒所宜，然方中生犀，獨非涼藥耶。</p>
<p>（辰砂圓）治驚風涎盛潮作，及胃熱吐逆不止，辰砂（別研）、
水銀砂子（各一分）、天麻、牛黃（五分）、腦、麝（別研五分）生犀末、白僵、
蠶（酒炒）、蟬殼（去足）、乾蝎（去毒炒）、麻黃（去節）、
天南星（湯浸七次切焙乾秤各一分）</p>
<p>右同為末，再研勻，熟蜜圓如菉豆大，硃砂為衣，每一二圓或五七圓，食後服之，
薄荷湯送下。周澄之按，聚珍本天麻一分，龍腦麝香牛黃各五錢，餘同。</p>
<p>（箋正）方與上方大同小異，天麻厚重，可息內風，治眩暈肝陽極效，非泄散外風，
此症頗合。僵蠶亦能定風，惟麻黃不可用，亦續命湯之貽誤也。</p>
<p>方中各藥皆是一分，而牛黃腦麝獨各五分，牛黃清熱化痰，重任猶有可說。
腦麝大香大開，無論何方，斷無五倍於他藥之理。</p>
<p>聚珍本作他藥一分，而龍腦麝香牛黃各五錢，則所謂一分者，當即古人之六銖，
為四分兩之一，然腦麝尚倍於他藥，亦無此法，如謂一分是宋時之一分，
則腦麝將五十倍於他藥，更為可怪，讀者須當觀其大旨，不可呆死於字句之間。</p>
<p>（剪刀股圓）治一切驚風，久經宣利虛而生驚者。</p>
<p>硃砂、天竺黃（各研）、白僵蠶（去頭足炒）、蝎（去毒炒）、
乾蟾（去四足并腸洗炙焦黃為末）、蟬殼（去劍）、五靈脂（去黃者為末各一分）、
牛黃、龍腦（并研各一字）、麝香（研五分）、蛇黃（五錢燒亦醋淬三五次水研飛）</p>
<p>右藥末共二兩四錢，東流水煮白麵糊圓桐子大，每服一圓，剪刀環頭研，
食後薄荷湯化下，如治慢驚，即去龍腦。</p>
<p>（箋正）此亦清熱化痰息風之意。方後謂治慢驚，即去龍腦，亦如上金箔圓之例，
但牛黃竺黃，豈非涼藥，亦與上方同弊。剪刀股即蝎之別名，以蝎尾勾曲，
有似於剪刀之股，此丸所以有此名者，其旨可見，乃方後則謂剪刀環頭研藥，
此淺者不知剪刀股之取義，而妄為是說以附會之，古嘗有刀圭量藥，
未聞有刀環研藥者，而剪刀又不得稱環，是一句之間，錯之又錯，
此必非製方者之原文，尤其確然可知；又方後云，右藥末共二兩四錢，按方中諸藥，
前七味云各一分，牛黃、龍腦，則云各一字，而麝香則云五分，蛇黃則曰五錢，
計其稱為分者凡十二，又五錢及二字，初不知其何以能合為二兩四錢，
如以宋人十分為一錢之分計之，則十二分止有一錢二分，若以唐前一兩為四分計之，
則十二分已有三兩，相去皆遠，必不能合，且前七味各一分，而麝香則五倍之，
又必無此配藥之法；壽頤以意逆之，則前七味之一分，是用唐以前古法，計七分，
為一兩七錢半，而麝香之五分，則是宋時之所謂半錢耳，再合以蛇黃五錢，牛黃、
龍腦各一字，乃與二兩四錢之數，約略相近，然同此分字，而忽用古法，忽從時俗，
一方之中，如是錯雜，豈不可怪。既知此方中分字有兩樣用法，
則此上辰砂圓方諸藥一分，明是古秤四分為兩之分，而牛黃、腦麝之五分，
又是宋時十分為錢之分，蓋腦麝二物，合之僅得半錢，分之則各得四分錢之一，
是即所謂一字，分量配合，頗覺相宜，聚珍本改之為五錢者，
正苦不知本書中有此奇怪方法耳。然平心論之，如此量藥，總屬可笑，醫書難讀，
初不料一至於此，卷中諸方分量，極多不相稱者，如欲仿製，皆當以意參酌之。</p>
<p>（麝蟾圓）治驚涎潮搐。</p>
<p>大乾蟾（秤二錢燒另研）、鐵粉（三錢）、硃砂、青礞石末、雄黃末、
蛇黃（燒取末各二錢匕）、龍腦（一字）、麝香（一錢匕）</p>
<p>右件研勻，水浸蒸餅為圓，如桐子大，硃砂為衣，薄荷水下半圓至一圓，無時。
周澄之按，聚珍本鐵粉作輕粉。</p>
<p>（軟金丹）治驚熱，痰盛壅嗽，膈實。</p>
<p>天竺黃、輕粉（各二兩）、青黛（一錢）、黑牽牛（取頭末）、
半夏（用生薑三錢同搗成麴焙乾再為細末各三分）</p>
<p>右同研勻，熟蜜為膏，薄荷水化下，半皂子大至一皂子大，量兒度多少用之，食後。
周澄之按，聚珍本竺黃輕粉各半兩，一作二兩，青黛作一分，餘同。</p>
<p>（箋正）此二方與諸方，大同小異，重疊複累，大是可厭。</p>
<p>（桃枝圓）疎取積熱及結胸，又名桃符。</p>
<p>巴豆霜、川大黃、黃柏（末各一錢一字）、輕粉、
硇砂（各五分）</p>
<p>右為細末，麵糊圓粟米大，煎桃枝湯下，一歲兒五七圓，五七歲二三十圓，
桃符湯下亦得，未晬兒三二圓，臨臥。周澄之按，聚珍本黃柏下云，各一分一字。</p>
<p>（箋正）巴霜輕粉，已嫌太峻，更有硇砂，尤為猛烈，然今市肆中久無真硇，
此方亦不必言矣。</p>
<p>（蟬花散）治驚風夜啼，咬牙咳嗽，及療咽喉壅痛。</p>
<p>蟬花（和殼）、白僵蠶（直者酒炒熟）、甘草（炙各一分）、
延胡索（半分）</p>
<p>右為末，一歲一字，四五半錢，蟬殼湯下，食後。</p>
<p>（箋正）此清熱以定內風之輕劑。清而能降，選藥靈動，蜩蟬臨風振翼，
得清肅之氣，而其蛻又乍出土時即已蛻去，得土氣寒涼已久，所以能治小兒內熱。
小兒睡中咬牙，戛戛有聲，皆痰熱之症，方尚嫌輕，可加開痰泄化之物。</p>
<p>（鉤藤飲子）治吐利，脾胃虛風慢驚。</p>
<p>鉤藤（三分）、蟬殼、防風（去蘆頭切）、人參（去蘆頭切）、麻黃（去節秤）、
天麻、白僵蠶（炒黃）、蝎尾（去毒炒各半兩）、甘草（炙）、川芎（各一分）、
麝香（一分別研入）</p>
<p>右同為細末，每服二錢，水一盞，煎至六分，溫服，量多少與之，
寒多加附子末半錢，無時。周澄之按，聚珍本麝香一錢，按上稱三分一分，
分字皆讀去聲，今宜改作錢字，麝香一分，分字如字讀，乃合，方後加附手末半錢，
加於二錢劑中也。</p>
<p>（箋正）吐利虛風而為慢驚，故用人參，然此虛風，豈外來之寒風耶，
而乃有防風麻黃，最不可解，即川芎麝香，皆不可用。此方中分字，又當作兩樣看，
是為本書中之創例，然不古不今，亦古亦今，混作一氣，究竟非著作家體制。
古醫書之分字，作去聲讀，近人多有言之者，然未見所本。</p>
<p>（抱龍圓）治傷風瘟疫，身熱昏睡，氣粗，風熱痰塞壅嗽，驚風潮搐，及蠱毒中暑，
沐浴後並可服，壯實小兒宜時與服之。天竺黃（一兩）、雄黃（水飛一錢）、辰砂、
麝香（各別研半兩）、
天南星（四兩臘月釀牛膽中陰乾百日如無只將生者去皮臍剉炒乾用）</p>
<p>右為細末，煮甘草水和圓皂子大，溫水化下服之，百日小兒，每圓分作三四服，
五錢一二圓，大人三五圓，亦治室女白帶，伏暑用鹽少許，嚼一二圓，新水送下，
臘月中雪水煮甘草和藥，尤佳，一法用漿水或新水，浸天南星三日，候透軟，
煮三五沸，取出，乘軟切去皮，只取白軟者，薄切焙乾，炒黃色，取末八兩，
以甘草二兩半，拍破，用水二碗浸一宿，慢火煮至半碗，去滓，旋旋酒入天南星末，
慢研之，令甘草水盡，入餘藥。（箋正）是方膽星竹黃，不過為痰熱而設，
然方下主治不少，皆為實熱痰壅言之，以小兒傷風寒溫熱，每多痰熱窒塞，
故可通治。</p>
<p>方下瘟疫，即今之所謂溫病，然麝香開泄太重，此方太多，宜大減之，
又謂壯實小兒可以時服，則言之太過。方後謂亦治室女白帶，則帶下每多濕熟凝滯，
停積胞中所致，此能滌濕清熱，所以可治。臘雪合藥，清溫甚佳，方後慢火之熳，
百本字從火旁，字書無此形，徑為改之。天南星不可生用，即如方後甘草製法，
亦不妥，南星之毒，甚於半夏十倍，壽頤嘗以肆中之所謂製南星者，入口試之，
戟喉甚厲，此非用臘月牛膽製透久陳者不可。</p>
<p>（豆卷散）治小兒慢驚，多用性太溫及熱藥治之，有驚未退而別生熱症者，
有病愈而致熱症者，有反為急驚者甚多，當問病者幾日，因何得之，曾以何藥療之，
可用解毒之藥，無不效，宜此方。</p>
<p>大豆黃卷（水浸黑豆生芽是也晒乾）、貫眾、板藍根、
甘草炙（各一兩）</p>
<p>右四物同為細末，每服半錢至一錢，水煎，去滓服，甚者三錢，又治吐蟲，服無時。</p>
<p>（箋正）此為慢驚過服溫藥而設，故以藍根貫眾解毒為主，方下言之甚詳，
非治慢驚。</p>
<p>（龍腦散）治急慢驚風。</p>
<p>大黃（蒸）、甘草、半夏（湯洗薄切用薑汁浸一宿焙乾炒）、金星石、禹餘糧、
不灰木、青蛤粉、銀星石、寒水石</p>
<p>右各等分，同為細末，入龍腦一字，再研勻，新水調一字至五分，量兒大小與之，
通解諸毒，本舊方也，仲陽添入甘松三兩枝，藿香葉末一錢，金芽石一分，
減大黃一半，治藥毒吐血，神妙。</p>
<p>（箋正）重用石藥，惟急驚實症可用。方下乃有一慢字，豈不大誤，
方後并謂治藥毒吐血，則熱藥太過之症，立方之旨，更為明了，此方下慢字，
明是淺入妄加者。方後云，一字至五分，可知五分即半錢，
而一字即半錢中之又一半矣。</p>
<p>（虛風方）（回生散）治小兒吐瀉，或誤服冷藥，脾虛生風，因成慢驚，
大天南星一箇，重八九錢已上者良，上用地坑子一個，深三寸許，
用炭火五觔燒通赤，入好酒半盞在內，然後入天南星，卻用炭火三兩條，蓋卻坑子，
候南星微裂，取出刺碎，再炒勻熟，不可稍生，候冷為細末，每服五分或一字，
量兒大小，濃煎生薑防風湯，食前調下，無時。（箋正）南星止能消導熱痰，
必非補虛之物，方名既曰虛風，又謂脾虛生風而成慢驚，豈有一味南星可治之理，
再以生薑防風湯調藥，又是泄散外風之法，牛頭不對馬嘴，豈果仲陽為之耶。</p>
<p>（虛風又方）（梓樸散）。</p>
<p>半夏一錢，湯洗七次，薑汁浸半日，晒乾，梓州厚朴一兩，細剉，
上件米泔三升同浸一百刻，水盡為度，如百刻未盡，加火熬乾，去厚朴，
只將半夏研為細末，每服半字一字，薄荷湯調下，無時。</p>
<p>（箋正）方名又是虛風，藥則半夏厚朴，又是薄荷湯下，籠統浮泛已極，
恐未必果是仲陽手定。</p>
<p>（褊銀圓）治風涎膈實上熱，及乳食不消，腹脹喘粗。</p>
<p>巴豆（去皮油心膜研細）、水銀（各半兩）、黑鉛（二錢半水銀結砂子）、
麝香（五分另研）、好墨（八錢研）</p>
<p>右將巴豆末并墨再研勻，和入砂子麝香，陳米粥和圓如菉豆大，捏褊，一歲一圓，
二三歲二三圓，五歲以上五六圓，煎薄荷湯放冷送下，不得化破，更量虛實增減，
並食後。</p>
<p>（箋正）重墜痰涎，而引之下泄，好在所服不多，又是渾侖吞下，果是實痰，
尚為可用。今京師有萬應錠者，為幼科實熱實痰普通之藥，頗有捷驗，
方中重用佳墨，即本之仲陽是方。</p>
<p>（又牛黃膏）治熱及傷風疳熱。</p>
<p>雄黃研、甘草末、川甜硝（各一分）、寒水石（生飛研一兩）、腦子（一錢）、
菉豆粉（半兩）</p>
<p>右研勻，煉蜜和成膏，薄荷水化下，半皂子大，食後。</p>
<p>周澄之按，聚珍本寒水石作一分，一作一兩，有鬱金末一錢，此與前牛黃膏小異，
聚珍本作生黃膏。</p>
<p>（箋正）此重墜清熱，開泄痰閉之法，已陳陳相因，數見不鮮矣。</p>
<p>（五福化毒丹）治瘡疹餘毒，上攻囗齒躁煩亦咽乾，口舌生瘡，及治蘊熱積毒，
驚惕狂躁。</p>
<p>生熟地黃（焙稱各五兩）、元參、天門冬（去心）、麥門冬（去心焙秤各三兩）、
甘草（炙）、甜硝（各二兩）、青黛（一兩半）</p>
<p>右上六（原誤八字）味為細末，後研入硝黛，煉蜜為圓如雞頭大，每服半圓或一圓，
食後水化下。</p>
<p>（箋正）此痘後陰虛，毒火上乘，津液已耗者之治法，故用滋潤養液為主。</p>
<p>方下謂治蘊熱積毒，必熱盛液耗者為宜，若痰涎未化，不可妄投。</p>
<p>（羌活膏）治脾胃虛，肝氣熱盛生風，或取轉過，或吐瀉後，為慢驚，亦治傷寒。</p>
<p>羌活（去蘆頭）、川芎、人參（去蘆頭）、赤茯苓（去皮）、白附子（炮各半兩）、
天麻（一兩）、白僵、蠶（酒浸炒黃）、乾蝎（去毒炒）、
白花蛇（酒浸取肉焙乾各一分）、川附子（炮去皮臍）、防風（去蘆頭焙）、麻黃</p>
<p>（去節各三錢）、荳蔻肉、雞舌香（即母丁香）、藿香葉、木香（各二錢）、
輕粉</p>
<p>（一錢）、珍珠、麝香、牛黃（各一錢）、龍腦（半字）、雄黃、
辰砂（各一分已上七味各別研入）</p>
<p>右同為細末，熟蜜和劑，旋圓大豆大，每服一二圓，食前，薄荷湯或麥冬湯溫化下，
實熱驚急勿服，性溫故也，服無時。周澄之按，聚珍本白花蛇下云各一兩，
木香上有沉香一味，後附辨雞舌香文云，古今論雞舌香，同異紛紛，或以為番棗核，
或以為母丁香，互相排抵，竟無定說，孝忠以為最為易辨，所以久無定說者，
惑於其名耳，古人名藥，多以其形似者名之，如烏頭狗脊鶴虱之類是，
番棗核母丁香，本是二物，皆以形似雞舌，故名適同，凡藥同名異實，
如金櫻地錦之類，不足怪也。如雞舌二類，各有主療，番棗核者得於乳香中，
治傷折藥多用之，母丁香即丁香之老者，極芳烈，古人含雞舌香，乃此類也。
今治氣溫中藥多用之，所謂最易辨者如此。</p>
<p>（箋正）是方龐雜太甚，方下主治，又復自矛自盾，怪不可言。</p>
<p>既曰脾胃虛，則人參補益脾胃是也，而又曰肝氣熱盛生風，則附子丁香，又將何為？</p>
<p>若曰治吐瀉後之慢驚，則方中藿香、木香，丁香參附，固為對證，然慢脾之風，
豈是外感風寒，可以表散。方中麻防芎活，寧非虛寒慢驚之鴆毒，而腦麝、牛黃，
辛涼開竅，直以速其危耳。觀方後實熱弗服一層，知方下熱盛生風一句，
蓋言本是熱盛，而已用寒涼太過之變症，故主溫補，然珠黃輕粉又非虛症所宜，
不可囫圇昋棗，此等方藥，不足存也。</p>
<p>（郁李仁圓）治襁褓小兒大小便不通，驚熱痰實，欲得溏動者。</p>
<p>郁李仁（去皮）、川大黃（去粗皮取實者剉酒浸半日控乾炒為末各一兩）、
滑石（半兩研細）</p>
<p>右先將郁李仁研成膏，和大黃滑石，圓如黍米大，量大小與之，以乳汁或薄荷湯下。</p>
<p>（箋正）此方專為實熱閉塞者，通府之用，若曰治痰，尚難有效。</p>
<p>（犀角圓）治風熱痰實，面赤，大小便秘澀，三焦邪熱，府藏蘊毒，疎導極穩方。</p>
<p>生犀角末（一分）、人參（去蘆切頭）、枳實（去瓤炙）、檳榔（各半兩）、
黃連（一兩）、大黃</p>
<p>（二兩酒浸切片以巴豆去皮一百個貼在大黃上紙裹飯上蒸三吹切炒令黃焦去巴豆不用</p>
<p>右為細末，煉蜜和圓如麻子大，每服一二十圓，臨臥熟水下，未動加圓，亦治大人，
孕婦不損。（箋正）此治實熱實痰，雙管齊下，其力甚峻，但丸子既小，
巴豆又但取其氣，不用其質，猶為峻劑中之輕劑，蓋痰熱實結，僅用軍梹，
必非少數可以有功，乃借巴豆極厲之氣，作為嚮導，方能衝鋒陷陣，直搗中堅，
製方自有深意。惟方後竟謂孕婦不損，則雖有人參，亦未可深信。</p>
<p>（異功散）溫中和氣，治吐瀉，不思乳食，凡小兒虛冷病，先與數服，以助其氣。</p>
<p>人參（切去頂）、茯苓（去皮）、白朮、陳皮（剉）、
甘草（各等分）</p>
<p>右為細末，每服二錢，水一盞，生薑五片，棗兩個，同煎至七分，食前溫，
量多少與之。</p>
<p>（箋正）此補脾而能流動不滯，陳皮一味，果有異功，以視局方四君子，
未免呆笨不靈者，洵是放一異彩，仲陽靈敏，即此可見一斑。</p>
<p>（藿香散）治脾胃虛有熱，面赤，嘔吐涎嗽，及轉過度者。</p>
<p>麥門冬（去心焙）、半夏麴、甘草（炙各半兩）、
藿香葉（一兩）</p>
<p>右為末，每服五分至一錢，水一盞半，煎七分，食前溫服，周澄之按，
聚珍本有石膏半兩。</p>
<p>（箋正）此治胃虛有熱之吐，故以甘麥養胃陰，較之七味白朮散，
治脾胃虛寒便瀉者，正是兩相對照。彼以泄利則氣陷，故用乾葛升清。</p>
<p>此以嘔吐則氣逆，故用半夏泄降，而皆用藿香芬芳，藉以振動中州氣滯，
又是殊途同歸，可謂五雀六燕，銖兩悉稱。仲陽選藥，真無間然，
然若痰上壅而為嘔吐，則麥甘又在禁例，此則善學古人者，自當知所變通也。</p>
<p>（如聖圓）治冷熱疳瀉。</p>
<p>胡黃連、白蕪荑（去扇炒）、川黃連（各二兩）、使岩子（一兩去殼秤）、
麝香（別研五分）、乾蝦蟆（五枚剉酒熬膏）</p>
<p>右為末，用膏圓如麻子大，每服人參湯下，二三歲者五七國，以上者十圓至十五圓，
無時。</p>
<p>（箋正）方用二連，可治疳熱，必不可治寒冷。乾蟾為疳積腹膨主藥，大有奇功。</p>
<p>（白附子香連圓）治腸胃氣虛，暴傷乳哺，冷熱相難，瀉痢赤白，裏急後重，
腹痛扭撮，晝夜頻併，乳食減少。黃連木香各一分，白附子二大個，共為末，
粟米飯圓菉豆大，或黍米大，每服十圓至二三十圓，食前清米飲下，日夜各四五服。
（箋正）此治滯下之主藥。證是冷熱相雜，積滯不行，故藥亦寒溫並用，
而以木香宣通氣分，滯下之方藥最多，然用意皆不過如此，今人每以炮薑黃連同進，
再加氣分之藥，治腹痛積滯者極效，亦此旨也。</p>
<p>（豆蔻香連圓）治泄瀉，不拘寒熱赤白，陰陽不調，腹痛，腸鳴切痛，可用如聖。</p>
<p>黃連炒三分，肉豆蔻南木香各一分，為細末，粟米飯圓米粒大，
米飲湯下十圓至二三十圓，日夜各四五服，食前。</p>
<p>（箋正）此以香連清熱調氣，而佐以肉果溫澀，可治暑熱泄瀉之腸鳴腹痛，
不可治濕熱瘀積之滯下後重。方下赤白二字，惟瀉下者有之，其症必裏急不爽，
可通而不可澀，誤投固澀，無不淹久變重，此須分別治之，不可混也。</p>
<p>（小香連圓）治冷熱腹痛，水榖利，滑腸方。</p>
<p>木香訶子肉各一分，黃連半兩炒，為細末，飯和圓菉豆大，米飲下十圓至三五十圓，
頻服之，食前。（箋正）訶子亦澀滑止瀉之法，與上方肉果香連，同工異曲，
惟腸滑水泄者宜之。</p>
<p>（二聖圓）治小兒藏府或好或瀉，久不愈，羸瘦成疳。川連去鬚，黃柏去粗皮，
各一兩，為細末，將藥末入豬膽內，湯煮熟，圓如菉豆大，每服二三十圓，米飲下，
量兒大小加減，頻服無時。</p>
<p>（箋正）小兒疳瀉，多是裏熱，故主以連柏之情，然在久病羸瘦，亦宜量之，
非可一概施也。</p>
<p>（沒石子圓）治泄瀉白濁，及疳痢滑腸腹痛者方。</p>
<p>木香、黃連（各一分一作各二錢半）、沒石子（一個）、豆蔻仁（二個）、
訶子肉（三個）</p>
<p>右為細末，飯和圓麻子大，米飲下，量兒大小加減，食前。</p>
<p>（箋正）此亦泄瀉之治法。方下所謂疳痢，即古人所謂利下自利之利，
本以滑利取義，今世俗以滯下之裏急後重欲下不爽者，名為痢疾，
實是不識古義之過，名不正則言不順，必分別觀之，不可混誤。木香黃連各一分，
原是古人四分為一兩之分，可見此是古之成方，然古之一兩，止合宋時之三錢有零，
則古之一分，止合宋後之一錢而不足，此方中謂一分一作二錢半，非是。</p>
<p>（當歸散）治變蒸，有寒無熱。</p>
<p>當歸（二錢）、木香、官桂、甘草（炙）、
人參（各一錢）</p>
<p>右㕮咀，每服二錢，水七分盞，薑三片，棗一枚去核，同煎服。</p>
<p>（箋正）變蒸而僅僅有寒無熱，此兒之元氣不足可知，故製是方，
興參耆甘桂之保元湯同意，皆是小兒元陽素虛之聖藥。</p>
<p>（白圓）治小兒脾氣虛困，泄瀉瘦弱，冷疳洞利，及因吐瀉或久病後，
成慢</p>
<p>驚，身冷瘈瘲。</p>
<p>天麻（生半兩）、白僵蠶（炮）、白附子（生）、乾蝎（去毒）、
天南星（剉湯浸七次焙各一分）</p>
<p>右同為末，湯浸寒食麵和圓加菉豆大，圓了，仍與寒食麵內養七日，取出，
每服五七圓至三二十圓，空心煎生薑米飲，漸加圓數，多與服，（箋正）脾虛泄瀉，
慢驚身冷，皆無陽之症，故宜白附子。驚風瘈瘲，無論急慢，皆是內動之風，
天麻僵蠶，以定內風，而方中不雜一味表散疏泄，觀此，
可知前列羌活膏方云治脾胃慢驚，而藥乃有羌防麻黃者，豈非大謬。</p>
<p>方下日冷疳洞利，其為洞泄滑利甚明，又可知上出沒石子圓。方下有疳痢二字，
亦指滑利泄瀉，則宋人痢字，尚不與滯下相混，而今人概稱滯下為痢疾者，
此誤又在宋後。此條治脾虛泄溈，及吐瀉久病，而為慢驚，身冷瘈瘲，其症甚重，
非溫補不可，方藥太嫌輕薄，必不足恃，宜用保元湯及附子理中。</p>
<p>（豆蔻散）治吐瀉煩渴。腹脹小便少。</p>
<p>豆蔻、丁香（各半分）、舶上硫黃（一分）、
桂府用滑石（三分）</p>
<p>右為細末，每服一字至半錢，米飲下，無時。</p>
<p>（箋正）此是脾腎寒濕，自宜溫藥，然硫黃極滑，治瀉非所宜，且吐潟煩渴，
津液耗矣！滑石分利小水，亦治實熱，不治虛塞，不足法也。</p>
<p>（溫中圓）治小兒胃寒瀉白，腹瀉腸鳴，吐酸水，不思食，及霍亂吐瀉。</p>
<p>人參（切去頂焙）、甘草（剉焙）、
白朮（各一兩為末）</p>
<p>右姜汁麯和圓菉豆大，米軟下一二十圓，無時。</p>
<p>（箋正）此脾胃虛寒，故用藥如此，然瀉出色白，寒症昭著，何不即與理中，
豈以吐酸為有熱故耶！要之胃無火而不能消化，亦必作酸，此酸是胃液中自然之味，
不可皆認是火。</p>
<p>（胡黃連麝香圓）治疳氣羸瘦，白蟲作方。</p>
<p>胡黃連、白蕪荑（去扇各一兩）、木香、黃連（各半兩）、辰砂（另研一分）、
麝香（剉研一錢）</p>
<p>右為細末，麵糊圓菉豆大，米飲下五七圓至十圓，三五歲巳上者，可十五圓二十圓，
無時。</p>
<p>（箋正）疳積腹膨，多是食停鬱熱而生諸蟲，治宜清熱消導而兼殺蟲，
然此方尚嫌輕薄，必不足恃，既有下列大胡黃連圓大蘆薈圓兩方，則此可刪。</p>
<p>（大胡黃連圓）治一切驚疳，腹脹蟲動，好吃泥土生米，不思飲食，多睡，
藏府或秘或瀉，肌膚黃瘦，毛焦髮黃，飲水，五心煩熱，能殺蟲消疳，進飲食，
治瘡癬，常服不瀉痢方。</p>
<p>胡黃連、黃連、苦楝子（各一兩）、白蕪荑（去扇半兩秋初三分）、蘆薈（另研）、
乾蟾頭（燒存性另研各一分）、麝香（一錢另研）、青黛（一兩半另研）</p>
<p>右先將前四味為細末，豬膽汁和為劑，每一胡桃大，入巴豆仁一枚置其中，
用油單一重裹之，蒸熟去巴豆，用米一升許，蒸米熟為度，入後四味為圓，如難圓，
少入麵糊，圓麻子大，每服十圓十五圓，清米飲下，食後臨臥，日進三兩服。</p>
<p>（箋正）此方清熱為主，而兼殺蟲消積者，然苦寒有餘，而消積殺蟲，尚嫌不及。
方下敘述各症，蟲積已深，尚宜加味，其麝香亦覺太多，又青黛入藥，古人所用，
當是藍靛能之精華，而今則是濁滓，殊不相宜，蟾頭疑是蟾腹之誤。</p>
<p>（榆仁圓）治疳熱瘦悴有蟲，久服充肥。</p>
<p>榆仁去皮，黃連去頭各一兩，為細末，用豬膽七個破開，取汁，與二藥同和，
入碗內，甑上蒸九日，每日一次，候日數足，研麝香五分，湯浸一宿，
蒸餅同和成劑，圓如菉豆大，每服五七圓至一二十圓米飲下，無時。</p>
<p>（箋正）此方亦覺無謂，既有上下兩方，何必多此複疊重累，大同小異為耶。</p>
<p>（大蘆薈圓）治疳殺蟲，和胃止瀉。</p>
<p>蘆薈（研）、木香、青橘皮、胡黃連、黃連、白蕪荑（去扇秤）、
雷丸（破開白者佳赤者殺人勿用）、鶴虱（微炒各半兩）、麝香（二錢另研）</p>
<p>右為細末，粟米飲圓菉豆大，米飲下二十圓，無時。</p>
<p>（箋正）此方殺蟲清熱，雙管齊下，尚嫌消積之力不足，可加乾蟾雞內金等，
又使君子肉，除蟲甚效，且無峻厲太過，剋剝元陰之弊，威而不猛，
可為疳蟲必用之品。西藥有山道年精一種，亦有奇功，是可采也，麝香亦太多，
減半用之可也。</p>
<p>（龍骨散）治疳口瘡，走馬疳。</p>
<p>砒霜、蟾酥（各一字）、粉霜（五分）、龍骨（一錢）、定粉（一錢五分）、
龍腦（半字）又先研砒粉極細，次入龍骨再研，次入定粉等同研，每用少許傅之。</p>
<p>（箋正）牙疳而名曰走馬，其症之急可知，頃刻蔓延，腐爛極速，穿唇潰腮，
即不可救，此胃中一團毒火，非大清胃熱，或急下不可，外治藥單方，
則砒棗散可用，一味信石，打小塊如棗核許，以大紅棗去核，每核嵌入信石一塊，
入炭火煅炭，俟煙盡取出，（此煙即是砒霜，人須避之。）加梅花冰片十分之三，
同研細，摻之頗效，砒固毒物，然此法製過，信石本質，已是無多，故不為害，
錢仲陽此方，分量頗有斟酌，亦可用飛淨人中白，摻之佳，另以白馬乳內服，
亦可以馬乳洗腐處，治之及早，尚可十全五六，飛淨人中白，亦可調人馬乳中服。</p>
<p>壽頤近得一簡便單方，用藤黃（即畫家所用之物，以空心如筆管者為佳，名筆管黃。
）</p>
<p>研細，摻腐肉上極效，已實驗過。</p>
<p>（橘連圓）治疳瘦，久服消食和氣，長肌肉。</p>
<p>陳橘皮一兩，黃連一兩五錢，去鬚，米泔浸一日，為細末，研入麝香五分，
用豬膽七個，分藥入在膽內，漿水煮，侯臨熟，以針微刺破，以熟為度，取出，
以粟米粥和圓菉豆大，每服十圓至二三十圓，米飲下，量兒大小與之，無時。</p>
<p>（箋正）此清火之專劑，輕症可用，緩緩圖功。</p>
<p>（龍粉圓）治疳渴。</p>
<p>草龍膽、定粉、烏梅肉（焙秤）、
黃連（各二分）</p>
<p>右為細末，煉蜜圓如麻子大，米飲下一二十圓，無時。</p>
<p>（箋正）清熱生津，意亦可法，定粉即是鉛粉，質重有毒，內服殊非所宜，可去之。</p>
<p>（香銀圓）治吐。</p>
<p>丁香、乾葛（各一兩）、半夏（湯浸七次切焙）、
水銀（各半兩）</p>
<p>右上三味同為細末，將水銀與藥同研勻，生薑汁圓如麻子大，每服一二圓至五七圓，
煎金銀湯下，無時。</p>
<p>（箋正）吐有虛實寒熱，治各不同，是方丁香、乾葛，已嫌龐雜，
而以生汞入丸之子，流弊滋多，何可為訓。</p>
<p>（金華散）治乾濕瘡癬。</p>
<p>黃丹（煅一兩）、輕粉（一錢）、黃柏、黃連（各半兩）、
麝香（少許）</p>
<p>右為末，先洗，次乾摻之，如乾癬瘡，用臘月豬脂和傅，如無，用麻油亦可，
加黃芩大黃。</p>
<p>（箋正）此皮膚病之外治藥，能燥濕殺蟲，諸痒瘡流水者宜之。</p>
<p>（安蟲圓）治上中二焦虛，或胃寒蟲動及痛，又名苦楝圓方。</p>
<p>乾漆（三分炒煙盡）、雄黃、
巴豆霜（各一錢）</p>
<p>右為細末，麵糊圓黍米大，量兒大小與服，取東行石榴根煎湯下，
痛者煎苦楝根湯下，或蕪荑湯下五七圓至三二十圓，發時服。</p>
<p>（箋正）蟲非腹中應有之物，有之則除惡務盡，乾漆、巴霜，殺蟲峻烈，方藥極厲，
而乃以安蟲名，然用藥如是，仍是殺之，安於何有？惟乾漆大毒，必不可嘗，
宜以使君子之類易之，苦楝根蕪荑皆殺蟲捷藥，不嫌其猛，惟脾胃虛者，
必須補脾以善其後。</p>
<p>（蕪荑散）治胃寒蟲痛。</p>
<p>白蕪荑去扁秤，乾漆炒，各等分，為細末，每服一字，或五分一錶，米飲調下，
發時服。右方杜壬養生必用方同，杜亦治胃寒蟲上。</p>
<p>（箋正）此亦殺蟲之方，乾漆必有以易之，乃佳。</p>
<p>（膽礬圓）治疳消癖，進食止瀉，和胃遣蟲。</p>
<p>膽礬真者一錢，為粗末，綠礬真者二兩，大棗十四個，去核，好醋一升，
已上四物同煎熬，令棗爛，和後藥，使君子二兩去殼，枳實去穰炒，三兩，
黃連訶黎勒去核，各一兩，並為粗末，巴豆二七枚，去皮破之，已上五物，
同炒令黑，約三分乾，入後藥。夜明砂一兩，蝦蟆灰存性一兩，苦楝根皮末半兩，
已上三物再同炒，候乾，同前四物杵羅為末，卻同前膏和，入臼中杵千下，如未成，
更旋入熟棗肉，亦不可多，恐服之難化，太稠即入溫水，可圓即圓如菉豆大，
每服二三十圓，米飲溫水下，不拘時。</p>
<p>（箋正）膽礬、皂礬，殺虛消癖之力皆猛，再加巴霜下積，藥力甚峻，
故以大棗和之，此除蟲積之主方，有此則上二方亦無所用矣！但峻攻之後，
必宜培補，而平居飲食，又必慎之又慎，蟲積易成疳，慈幼者其知之。</p>
<p>（真珠圓）取小兒虛中，一切積聚驚涎，宿食乳癖治大小便澀滯，療腹脹行滯氣。</p>
<p>木香、白丁香（真者）、丁香、輕粉（各五分）、
巴豆仁（十四個水浸一宿研極膩）、白滑石（末二錢）</p>
<p>右為末，同研勻，濕紙裹燒，粟米飯圓麻子大，一歲一圓，八九歲已上至十五歲，
服八圓，炮皂子煎湯放冷下，挾風熱難動者，先服涼藥一服，乳癖者減圓數，
隔日臨臥一服。（箋正）是方以行氣攻痰為法，與殺蟲消積諸方相輔而行，
巴豆不去油，終嫌太毒，還是用霜，稍為和緩，服法甚佳，不可多也，但藥味如是，
而方名乃曰真珠，最不可解。</p>
<p>（消堅圓）消乳癖，及下交奶，又治痰熱膈實，取積。</p>
<p>頷砂末、巴豆霜、輕粉（各一錢）、水銀砂子（兩皂子大）、細墨（少許）、
黃明膠（末五錢）</p>
<p>右同研勻，入麵糊圓如麻子大，倒流水下，一歲一圓，食後。</p>
<p>（箋正）是方亦為消癖而設。頷砂無真者，汞亦不妥，是書中消導之方已多，
此不可用，而方下交嬭二字，當為宋時人之俗語。不知何解。</p>
<p>（百部圓）治肺寒壅嗽，微有痰。</p>
<p>百部（三兩炒）、麻黃（去節）、
杏仁（四十個去皮尖微炒煮三五沸）</p>
<p>右為末，煉蜜圓如芡實大，熱水化下，加松子仁肉五十粒，糖圓之，含化大妙。</p>
<p>（箋正）此為肺受外寒，痰飲咳嗽之方。麻杏開肺，疏泄感邪，百部溫潤，
降逆定嗽，選藥頗佳，是方麻黃不言分量，必有誤，但此是湯劑而作丸子，
雖用熱水化下，效力恐亦不靈，頤謂以丸子打碎，煎湯為妙。</p>
<p>（紫草散）發斑疹。</p>
<p>鉤藤鉤子紫草茸，各等分，為細末，每服一字，或五分一錢，溫酒調下，無時。</p>
<p>（箋正）仲陽之所謂斑疹，即痘瘡及瘄子。鉤藤開泄，紫草清血解毒，以酒調服，
助其透泄，能發能情，不卑不亢，是助正達邪穩妥之法。</p>
<p>（秦艽散）治潮熱減食蒸瘦方。</p>
<p>秦艽（去蘆頭切焙）、甘草（炙各一兩）、
乾薄荷（半兩勿焙）</p>
<p>右為粗末，每服一二錢，水一中盞，煎至八分，食後溫服。</p>
<p>（箋正）此變蒸發熱和平中正之藥。變蒸本非大病，惟既發熱減食不可無以治之，
故立是方。秦艽通絡和血，薄荷凊泄散熱，藥性沖和，不傷正氣，
仲陽真善於逢迎世故者。</p>
<p>（地骨皮散）治虛熱潮作，亦治傷寒壯熱及餘熱方。</p>
<p>地骨皮（自採佳）、知母、銀州柴胡（去蘆）、甘草（炙）、
半夏（湯洗十次切焙）、人參（切去頂焙）、赤茯苓（各等分）</p>
<p>右為細末，每服二錢，薑五片，水一盞，煎至八分，食後溫服，量大小加減。</p>
<p>（箋正）此以退熱為主，而兼養正，虛熱固宜，病後陰虛餘熱亦佳，若日傷寒壯熱，
似嫌太泛，然小兒陰陽俱薄，雖是傷寒，亦非大病。以生薑作引，正是發散妙法，
固未嘗不可通用也。</p>
<p>（人參生犀散）解小兒時氣，寒壅欬嗽，痰逆喘滿，心忪驚悸，藏府或秘或泄，
調胃進食，又主一切風熟，服尋常涼藥，即瀉而減食者。</p>
<p>人參（切去蘆三錢）、前胡（去蘆七錢）、甘草（炙黃二錢）、桔梗、
杏仁（去皮尖略曝乾為末稱各五錢）</p>
<p>右將前四味為末，後入杏仁，再粗羅羅過，每服二錢，水一盞，煎至八分，
去滓溫服，食後。</p>
<p>（箋正）此方選藥五味，是治風寒輕感，咳嗽有痰，疏泄感邪，降逆止嗽之法，
與前百部圓可以相輔而行。方下所謂時氣寒嗽，痰逆喘滿，及一切風熱，皆是正治，
惟既有寒邪而兼痰嗽，人參似非所宜，然稚陰本薄，扶正祛邪，亦是古人恆法，
但方名生犀，而藥中無犀，更以所治諸症參之，亦萬無用生犀之理，
此則不可索解者矣。</p>
<p>（三黃圓）治諸熱。</p>
<p>黃芩（半兩去心）、大黃（去皮濕紙裹煨）、
黃連（去鬚各一錢）</p>
<p>右同為細末，麵糊圓菉豆大或麻子大，每服五七圓或十五圓，二十圓，
食後米飲送下。</p>
<p>（箋正）方為實熱而設。蓋小兒稚陰末充，陽易偏旺，熱結之症甚多，此方清泄，
其力雖峻，而所服無多，用之得當，亦不嫌大黃之蕩滌。吾鄉習慣，小兒初生，
必以此三物蒸取濃汁，三散內日飼二三茶匙，以大便黑糞轉黃為止，可免胎毒，
頗有經驗，威而不猛，洵是良法。</p>
<p>（天南星散）治䪿開不合，鼻塞不通方。</p>
<p>天南星大者，微炮去皮，為細末，淡醋調塗緋帛上，貼䪿上，火炙，手頻熨之。</p>
<p>（箋正）解顱乃先天氣血俱虛，真陽亦衰，治宜溫補，保元湯或可有效，外用敷藥，
只可參用溫煦，壽頤有治驗，已錄上卷。天南星大毒，乃作外敷末藥，
豈是幼孩柔脆肌膚所能勝任，況其為䪿解不合者乎，果用此法，必有大害。</p>
<p>（黃耆散）治虛熱盜汗。</p>
<p>煅牡蠣黃耆生地黃各等分，共為末，煎服無時。</p>
<p>（箋正）養陰涵陽，兼以實表，方雖三物，立法已備，但牡蠣可以滋陰，
亦以涵歛浮陽，生用較為有力，是有自然粉質，其性頗黏，已含澀歛功用，
煅之則大失其真，此類惡俗，金元以後，多承其弊，而源實自宋人開之。</p>
<p>（虎杖散）治實熟盜汗。</p>
<p>右用虎杖剉，水煎服，量多少與之，無時。</p>
<p>（箋正）既口實熱，自宜清熱為主，此是單方體裁，未必可恃。</p>
<p>（捻頭散）治小便不通方。</p>
<p>延胡索川苦楝各等分，同為細末，每服五分或一錢，捻頭湯調下，量多少與之，
如無捻頭湯，即湯中滴油數點，食前。</p>
<p>（箋正）延胡苦楝，皆以泄降見長。捻頭者，古時寒具之別名，然寒具乃乾糗之類，
古雖其可利大小便，其實粉麵所製，以油煎之，亦非真能利二便者，
此當以病理求之。</p>
<p>虛實寒熱，萬有不齊，決非一個呆方，可以概治者也。</p>
<p>（羊肝散）治瘡疹入眼成翳。</p>
<p>右用蟬蛻末，水煎羊子肝湯調服二三錢，凡痘瘡纔欲著痂，即用酥或面油不住潤之，
可揭即揭去，若不潤及遲揭，瘡硬即隱成瘢痕。</p>
<p>（箋正）羊肝明目退翳，古皆稱之。此雖為痘瘡目翳而設，然即非痘瘡，
凡眼赤翳膜，皆可用之。方後謂痘痂可揭，殊為不妥。</p>
<p>（嬋蛻散）治斑瘡入眼，半年已內者，一月取效。</p>
<p>蟬蛻（去土末取一兩）、
豬懸蹄甲（二兩罐子內鹽泥固濟燒存性）</p>
<p>右二味研，入羚羊角末一分拌勻，每服一字，百日外兒五分，三歲以上一錢，
溫水或新水調下，日三四，夜一二，食後服，一年以外難治。</p>
<p>（箋正）此方雖專為痘瘡入目而設，然羚羊角清肝上將，凡肝火盛，目赤腫痛，
星翳胬肉重症，羚角蟬蛻，皆是必需之品，惟羚角難研，須水磨濃汁，方可有效。</p>
<p>（烏藥散）乳母冷熱不和，及心腹時痛，或水瀉，或乳不好。</p>
<p>天台烏藥、香附子（破用白者）、高良薑、
赤芍藥</p>
<p>右各等分為末，每服一錢，水一盞同煎六分，溫服，如心腹疼痛，入酒煎，
水瀉米飲調下，無時。</p>
<p>（箋正）腹痛泄瀉，中寒氣滯為多。溫中行氣，固痛瀉之良方，入酒同煎，
亦無非溫而行之</p>
<p>（二氣散）治冷熱驚吐反胃，一切吐利，諸治不效者。</p>
<p>硫黃半兩研，水銀二錢半研，不見星，如黑煤色為度，每服一字至五分，
生薑水調下，或同炒結砂為圓。</p>
<p>（箋正）此為真陽無權，陰寒上逆之主藥，然生汞入藥，究嫌不妥，
宜以二物同炒結砂，即古方之靈砂丹也，許叔微本事方黑錫丹最佳。</p>
<p>（葶藶圓）治乳食衛肺，咳嗽面赤痰喘。</p>
<p>甜葶藶（隔紙炒）、黑牽牛（炒）、漢防己、
杏仁（炒去皮尖各一錢）</p>
<p>右為末，入杏仁泥，取蒸陳棗肉和搗，為圓加麻子大，每服五圓至七圓，
生薑湯送下。</p>
<p>（箋正）肺有停飲，氣閉痰喘面赤者，肺有鬱熱之徵，是宜瀉肺滌飲，棗肉搗丸，
亦良法也。</p>
<p>（麻黃湯）治傷風發熱無汗，咳嗽喘急。</p>
<p>麻黃（去節三錢水煮去沫灑出晒乾）、肉桂（二錢）、甘草（炙一錢）、
杏仁（七個去皮尖麩炒黃研膏）每服一錢，水煎服，以汗出為度，自汗者不宜服。</p>
<p>（箋正）寒邪襲肺，閉塞不通，喘嗽氣急，非此方不能捷效。</p>
<p>若肺鬱有熱則去桂而加石膏，又即仲師之麻杏甘石湯也。</p>
<p>（生犀磨汁）治瘡疹不快。吐血衄血。</p>
<p>生犀磨汁。周澄之按，聚珍本有生犀散，云消毒氣，解內熱，用生犀磨濃汁，
微溫飲一茶腳許，乳食後，更量大小加減之，與此方同而治異。</p>
<p>（箋正）此熱甚而痘不能透，火燄上湧，致為血溢，故助清心泄熱為主。</p>
<p>聚珍本謂消毒氣，固亦指痘疹熱毒言之，其意可通。</p>
<p>（大黃圓）治諸熱。</p>
<p>大黃黃芩各一兩，共為末，煉蜜圓如菉豆大，每服五圓至十圓，溫蜜水下，
量兒加減。</p>
<p>（箋正）前已有三黃圓，則此亦重複。</p>
<p>（使君子圓）治藏府虛滑，及疳瘦下利，腹脅脹滿，不思乳食，常服安蟲胃，
消疳肥肌。</p>
<p>厚朴（去粗皮薑汁塗焙）、甘草（炙）、訶子肉（半生半煨）、
青黛（各半兩如是兼驚及帶熱瀉入此味如只變疳不調不用此味）、
陳皮（去白一分）、使君子（去殼一兩麵裹煨熟去麵不用）</p>
<p>右為末，煉蜜圓如小雞頭大，每服一圓，米飲化下，百日已上一歲已下服半圓，
乳汁化下。</p>
<p>（箋正）此亦消積清熱殺蟲之法，與前大胡連、大蘆薈、膽礬圓諸方，互為用，
而是方較為和平，輕症宜此，而熱盛者，尚非此丸所能勝任，如小雞頭，
蓋指芡實之較小者。</p>
<p>（青金丹）疎風利痰。</p>
<p>蘆薈、牙硝、青黛（各一錢）、使君子（三枚）、硼砂、輕粉（各五分）、
蝎梢（十四個）右末，磨香墨拌圓麻子大，每三圓，薄荷湯下。</p>
<p>（箋正）此方為清熱滌痰而設，熱痰實積宜之。方下所謂疏風者，
古以蝎梢為風藥也，然蝎僅用尾，實是泄導下行，非能</p>
<h4>泄外風者。</h4>
<p>（燒青圓）治乳癖。</p>
<p>輕粉、粉霜、頷砂（各一錢）、白麵（二錢）、玄精石（一分）、白丁香（一字）、
定粉（一錢）、龍腦（十字）</p>
<p>右同一處研令極細，滴水和為一餅，以文武火燒熟，勿焦，再為末，研如粉麵，
滴水和圓如黃米，每服七圓，漿水化下，三歲以下服五圓，量兒大小加減服之，
此古方也。</p>
<p>（箋正）此亦消積法。頷不可用，前已言之，且本書此類方藥，亦已甚多，
可不全備，而此方龍腦分量更重，尤其不妥，且十字之分量，古書未見，蓋亦有誤。</p>
<p>（敗毒散）治傷風瘟疫風濕，頭目昏暗，四肢作痛，憎寒壯熱，項強晴疼。</p>
<p>或惡寒咳嗽，鼻塞聲重。</p>
<p>柴胡（洗去蘆）、前胡、川芎、枳殼、羌活、獨活、茯苓、桔梗（炒）、
人參（各一兩）、甘草（半兩）</p>
<p>右為末，每服二錢，入生薑薄荷煎，加地骨皮天麻，或㕮咀，加蟬蛻防風，
治驚熱可加芍藥乾葛黃芩，無汗加麻黃。</p>
<p>（箋正）此風寒外感之通冶方，所謂人參敗毒散者是也，方藥未免太泛，
然每一煎劑，僅用二錢，固亦可備家庭不時之需。方後謂治驚熱，則內熱生風，
必非表藥所能妄試，毫厘千里，不可不別。周澄之按，聚珍本方末，
無加地骨皮以下，有云，此古方也。錢氏加甜葶歷半兩，薄荷葉半兩，名羌活散，
蓋閻氏注也。</p>
<p>附方</p>
<p>周澄之按：聚珍本較此本少涼驚圓、（名同方異）粉紅圓、阿膠散、塗䪿法、
浴體法、甘桔湯、利驚圓、消積圓、花火膏、百祥圓、牛李膏、宣風散、蛇黃圓、
鎮心丸、（名同方異）抱龍圓、五福化毒丹、當歸散、安蟲圓、蕪荑散、
人參生犀散、羊肝散、葶藶圓、生犀磨汁、使君子圓、青金丹、
（名同方異）燒青圓，共二十六方，而別有木瓜圓、青金丹、生犀散、
（與生犀磨汁、方同治異）龍腦膏、梔鼓飲子、白虎湯、大黃圓、
（名同方異）鎮心圓、鉤藤膏、魏香散、涼驚圓、獨活飲子、三黃散、人參散、
檳榔散、黃散、（名同方異）地骨皮散、（名同方異）蘭香散、傅齒立效散、
蚵皮圓，共二十方，其間龍腦膏、梔豉飲子、白虎湯、鉤藤膏、魏香散五方，
已見閻氏書中，餘十五方未知何出，附錄於此，以備習是業者，有所採焉。</p>
<p>（木瓜圓）止吐。</p>
<p>木瓜末、麝香、膩粉、木香末、
檳榔末各一字</p>
<p>右同研，麵糊丸如小黃米大，每服一二丸，甘草水下，無時服。</p>
<p>（箋正）此方能降氣宣通，故可止吐。</p>
<p>（青金丹）</p>
<p>青黛（研）、雄黃（飛研）、胡黃連（各半兩）、白附子（炮刮二錢）、
水銀（一錢與膩粉同研）、膩粉（水銀同研）、熊膽（用溫水化入蘆薈研）、
蟾酥（研入各一分）、麝香（半分）、龍腦（研）、硃砂（飛研）、
鉛霜（研各一字）</p>
<p>右為細末令勻，用熬過豬膽汁浸蒸餅和丸加黃米大，退驚治風，化蟲殺疳，除百病，
進乳食，治一切驚風天釣，目睛上視，手足搐搦，狀候多端，用藥一丸，溫水化，
滴鼻中，令嚏噴三五次，更用薄荷湯下二丸，即愈，如久患五疳腹脹，
頭大四肢瘦小，好喫泥土，不思乳食，愛咬指甲，時撏眉毛，頭髮稀疎，肚上青筋，
及又患瀉痢，並用米飲下二丸，如鼻下赤爛，齒疳蟲并瘡等，用乳汁研二丸，
塗在患處，疳眼雀目，白羊肝一枚，以竹刀子批開，入藥二丸在內，以麻縷纏定，
用淘米泔煮熟，空腹食之，仍令乳母常忌魚腥大蒜雞鴨豬肉等，
此藥若隔三二日一服，永無百病，不染橫夭之疾，此古方也，錢氏獨麝香比此加倍。</p>
<p>（箋正）此方苦寒清熱，重墜鎮怯，故治內熱疳積，天釣內風。</p>
<p>然腦麝芳香，開竅甚迅，治血沖腦經者，必不相宜，而水銀膩粉，生研入藥，
亦必不妥。天釣原是俗名，實即古之所謂痙直，後世謂之角弓反張，乃名之為釣，
何其可鄙可嗤，一至於此。</p>
<p>（生犀散）消毒氣，解內熱。</p>
<p>生犀，凡盛物者，皆經蒸煮，不堪用，須生者為佳，上一物，不拘多少，
于澀器物中，用新水磨濃汁，微溫，飲一茶腳許，乳食後，更量大，加減之。</p>
<p>（箋正）此與前生犀磨汁方，主治雖異，而病理藥理，可以會通，彼治血熱之吐衄，
并及痘瘡不快，亦以裏熱薰灼，血液不能宣通，而致焦枯黑陷者言之，
此云解熱消毒，亦無非治熱毒耳。犀角極堅，煮汁剉屑，皆不得力，
必水磨乃可有功，此方用法極妙，況在今日，價重兼金，尤非磨汁不可。</p>
<p>（大黃圓）治風熱裏實，囗中氣熱，大小便閉赤，飲水不止，有下證者宜服之。</p>
<p>大黃（一兩酒洗過米蒸熱切片暴乾）、川芎（一兩剉）、甘草（一分剉炙）、
黑牽牛（半兩半生熟炒）</p>
<p>右為細末，稀糊和丸如麻子大，二歲每服十丸，溫蜜水下，乳後服，以溏利為度，
未利，加丸數再服，量大小虛實用之。</p>
<p>（箋正）是方大黃黑丑，攻滌極峻，而以川芎之升，甘草之緩，相輔而行，
是亦調濟之法。</p>
<p>（鎮心圓）涼心經，治驚熱痰盛。</p>
<p>甜硝（白者）、人參（切去蘆末）、甘草（炙取末）、寒水石（燒各一兩）、
乾山藥（白者）、白茯苓（各二兩）、硃砂（一兩）、龍腦、
麝香（各一錢三味并研碎）</p>
<p>右為末，熟蜜丸雞頭大，如要紅，入坯子胭脂二錢，即染胭脂是也，
溫水化下半丸至一二丸，食後。</p>
<p>（箋正）方亦重鎮清熱化痰之法，通補相濟，威而不猛，用意固佳，
但腦麝分量雖輕，終與內熱生驚之症，不甚針對。</p>
<p>（涼驚圓）</p>
<p>硼砂（研）、粉霜（研）、郁李仁（去皮焙乾為末）、鐵粉（研）、
白牽牛末（各一錢）、好臘茶（三錢）</p>
<p>右同為細末，熬梨為膏，丸菉豆大，龍腦水化下一丸至三丸，亦名梨汁餅子，
及治大人風涎，並食後服，一本無白牽牛末。</p>
<p>（箋正）方與前涼驚圓藥物大異，而鎮墜滌痰，泄降通府，使痰熱並化，地道既通，
庶幾氣不復升，驚搐俱定，以治痰熱內滯，生風生驚等證，固自恰合，
而是方并無腦麝，不犯芳香以耗泄真氣，尤其妥愜。</p>
<p>（獨活飲子）治賢疳臭候良方。</p>
<p>天麻、木香、獨活、防風（各一錢）、
麝香（少許研細末和入）</p>
<p>右每服一錢匕，小者半錢，麥門冬熟水調下。</p>
<p>（箋正）此牙疳初起之方也。牙疳古稱腎疳，蓋謂腎陰未充，胃火乃熾。</p>
<p>是方合以下共五方，所謂腎疳五候，由淺及深，此治初發之時，口氣穢臭，
尚未齦腫，故謂之臭息候，方有獨活防風者，製方之意，蓋謂風熱入胃，
故用藥如此，然此症實由胃中毒火蘊結不宣，上蒸齒齦，其病最暴，甚者不三五日，
即已穿腮落齒，腐鼻缺唇，慘不可治。燎原之禍，非大劑涼解，直決西江之水，
不能稍殺其炎上之威，斷非風藥所可妄試，宜鮮生地石斛、鮮大青（皆搗汁）、
真金汁等頻灌，庶可挽救三四十而馬乳外洗內服，尤有奇功。大便不行者，
更必承氣湯先通地道，釜底抽薪，亟不可緩。</p>
<p>（三黃散）治腎疳崩砂候良方。</p>
<p>牛黃大黃生地黃木香青黛各等分為末，每服一錢匕，熟水調服。</p>
<p>（箋正）此治齒齦已腫已腐之方。藥用大黃，固為釜底抽薪之計。</p>
<p>生地黃即今之鮮生地，古用乾地，止稱地黃，不加生字，凡曰生地者，皆鮮生地也。</p>
<p>（人參散）治腎疳潰槽良方。</p>
<p>肉豆蔻（炮）、胡黃連、人參、杏仁（炒）、
甘草（炙各等分為末）</p>
<p>右每服一錢匕，小者半錢，溫熟水調服。</p>
<p>（箋正）潰槽者，蓋腐爛已甚，潰至齒桹，其症已亟，故用胡連之大苦大寒，
然此是一團毒火，頃刻燎原，必不當用參之補，而肉蔻溫濇，更非所宜。</p>
<p>（檳榔散）治腎疳宣露候良方。</p>
<p>木香、檳榔、人參、黃連、甘草（炙各等分為末）每服一錢，小者半錢，熟水調服。</p>
<p>（箋正）宣露者，齒齦盡腐，露出牙根，其候更凶，檳榔泄降，黃連清火，
猶為近似，人參甘草，太覺無謂。</p>
<p>（黃耆散）治腎疳腐根候良方。</p>
<p>黃耆（蜜炙）、牛黃、人參、天麻、蠍（去毒）、杏仁（炒）、白茯苓、川當歸、
生地黃（冼）、熟乾地黃（洗各等分為末）</p>
<p>右每服小者半匕，煎天門冬熟水調服，麥門冬赤得。</p>
<p>（箋正）牙疳而至腐根，已鄰於穿腮落齒，焚身之禍，亟於眉睫，大劑沃焦，
猶虞不及，何反以生耆二地等滋補從事，甚不可解。此上五方，雖自謂良方，
而揆之病情藥性，殊不相稱，必無桴應之理，存而不論可也。此後三方，亦同此弊，
皆不可恃。</p>
<p>（地骨皮散）治腎疳齦齶牙齒肉爛臭，鮮血常出良方。</p>
<p>生乾地黃（半兩）、真地骨皮、細辛（各一分）、
五倍子（炒令焦二錢）</p>
<p>右為末，每用少許傅之，頻與功效多，不妨。議曰，本經所載疳證有五，
謂五藏所受，故得其名，今述腎疳一藏，有五證候者，最為要急，不可同常，
此疾具陳有五種候，傳迅疾可畏，乃知走馬之號不誣，初發之時，兒孩囗臭，
上干胃口，氣息臭鬱，漸進損筋，齦肉生瘡，或腫或爛，其齒焦黑，
又進從牙槽內發作瘡疱，破潰膿爛，又進熱逼入脉，常血出，其熱注，牙齦腐壞，
槽寬齒脫，六七歲孩，落盡不復更生，豈可治療，今以妙方，宜速與，
隨其傳變而理，不待疾作而後藥也。</p>
<p>（箋正）牙疳而至齦齶腐臭，鮮血自流，症情何等危急，此非大劑寒涼不可者，
是方雖以地骨為主，而反有細辛之辛升，五倍之濇歛，皆與是病相反，
古人製方之意，真不可曉，方後數行，文義頗多未順，
可以知製此方者之學問識力矣。</p>
<p>（蘭香散）治小兒走馬疳，牙齒潰爛，以至崩砂出血齒落者。</p>
<p>輕粉蘭香末各一錢，密陀僧半兩，醋淬為末，共研如粉，傅齒及齦上，立效。議曰，
嬰孩受病，證候多疳，良由氣鬱三焦，疳分五藏，內有腎經常虛得疳名之曰急，
以走馬為喻，治療頗難，此等證初作口氣，名曰臭息，次第齒黑，名曰崩砂，
盛則齦爛，名曰潰槽，又盛血出，名曰宣露，重則齒自脫落，名曰腐根，其根既腐，
何由理之，嗟乎，豪家育子，餔以甘肥腎堂受之虛熱，或因母在難月，恣食厚味，
令兒所招，俱非偶然而作，今將秘方述於後。</p>
<p>（箋正）此亦病重藥輕，必無小效，方後數行，文義尤其不堪，前亦有蘭散。</p>
<p>（傅齒立效散）</p>
<p>鴨嘴膽礬一錢匕，煅紅研，麝香少許，共研勻，每以少許，
傅牙齒齦上又一方用蟾酥一錢，加麝香和勻，傅之。議曰，血之流行者榮也，
氣之循環者衛也，變蒸足後，飲食之間，深恐傷於榮衛而作眾疾，其或氣傷於毒，
血傷於熱，熱毒攻之，虛藏所受，何藏為虛，蓋小兒腎之一藏常主虛，
不可令受熱毒，攻及腎藏，傷乎筋骨惟齒受骨之餘氣，故先作疾，名曰走馬，
非徐徐而作，所宜服藥，甘露飲、地黃膏、化毒丹、消毒散，其外證，
以前件立效散及麝酥膏傅之，切與食熱毒之物，此疳不同常證，醫宜深究，
保全為上，若用常方，難於癒。</p>
<p>（箋正）膽礬燥濕殺蟲，以敷牙疳，或可以治尋常輕症，若是走馬急病，
必非此等方藥所能應手。方後一節，文辭殊未條達，持論亦極膚淺。</p>
<p>（蚵皮丸）治小兒五疳八痢，乳食不節，塞溫調適乖違，毛髮焦黃，皮膚枯悴，
腳細肚大，顱解胸陷，漸覺尫羸時發寒熱，盜汗咳嗽，腦後核起，腹內塊生，
小便泔濁，膿痢澱青，損眉咬指，喫土甘酸，吐食不化，煩渴併頻，心神昏瞀，
鼻赤唇燥，小蟲既出，蛔蟲咬心，疳眼雀目，名曰丁奚，此藥效驗如神。</p>
<p>蚵蚾（酒浸去骨焙）、白蕪荑（去皮）、黃連（去鬚）、胡黃連（各一兩半）、
青黛（半兩為衣）、右件研為細末，豬膽汁麵和丸如粟米大，每服三十丸，
用飯飲吞下，食後臨臥，日進三服。</p>
<p>（箋正）蚵皮亦作蚵蚾，瀕湖音可皮，蟾蜍之別名，李謂其皮壘砢也，按集韻，蚾，
讀補火切，音播。蟾蜍辛涼，解毒殺蟲，乃兒科疳熱蟲積最要靈藥，
是方合以二連蕪荑，尤為疳熱蟲積通用良方。</p>
