<header><h1>風勞臌膈四大證治</h1></header>
<div class="元資料" data-type="book" hidden></div>
<h2>天敘薑公傳</h2>
<p>公諱禮，字天敘，姓薑氏，其先浙紹人也。父玉田公，始居江陰之華墅，生公，遂世為江陰人。公好讀書，善醫術，常立功過格，日記得失，終身不怠。每遇貧者施診，往來徒步，出囊中藥治之，不取值，以故邑中賢士大夫樂與締交。蓋非徒重其術，並重其德焉。華墅在邑東五十裡，龍砂兩山屏障於後，泰清一水襟帶於前，其山川之秀，代產良醫，迄今大江南北延醫者，都於華墅，而華墅之中又獨推薑氏，蓋自公一人開之也。韓子云：「莫為之前，雖美弗彰；莫為之後，雖善勿繼。」吾於薑氏亦云。公於岐黃外，旁及玄功。所善有瞿道人者，發不櫛，足不履，寒暑一衲，行止無定。迨卒之歲，謂道人曰：「三月之望，吾將逝矣，汝當來。」及期，瞿不至。諭諸子曰：「須之三日，道人必來。」是日命沐浴更衣坐，道人果至。時不能言，但手書「諷經」二字，瞿諾之，即奄然逝。記曰：「至誠之道，可以前知」。公可謂至誠者矣。</p>
<p>論曰：古云：「醫不三世，不服其藥。」謂醫者當讀三世之書也。余讀薑公所著四大證全書，理精詞約，非數十年之學力，焉能得心應手，活人無算乎？宜其子孫食報於無窮。小道云乎哉！</p>
<p><u>嘉慶元年（西元一七九六年）歲次丙辰孟春之吉長壽孔廣居拜撰</u></p>
<h2>曹家達序</h2>
<p>鄉先正薑天敘先生，肆力於醫，慨念漢醫放失，斐然興著述之志。綜其生平所著，有四大證論若干卷，書中所論風癆臌膈，旁征博引，參以己意，至為詳審。曩者予於同鄉仲佩紳所設九如堂藥肆遇仲之外舅陳某，出以相示，因得窺其全豹。厥後中醫學會刊布雜志，門人王一仁見而悅之，因逐期刊布雜志中，易其名曰風癆臌膈論，從其實也。厥後其裔孫文駿，寓書中醫學會，略謂家藏舊本不知何緣遺失在外，冀得原稿，以保存先世手澤。薑氏固多賢子孫哉！然當時以刊布未完，欲歸趙而不果。嗣因薑君達夫之請，向中醫學會取原稿，而下卷業已遺失。幸一仁所刊雜志，並來書刊入卷尾，略無訛脫。一仁信有功於薑氏矣。今者達夫擬用單行本行世，索序於予，爰為略舉顛末，弁簡端以歸之。</p>
<p><u>庚午年八月邑後學曹家達謹序</u></p>
<h2>瞿簡莊序</h2>
<p>嗚呼，吾華市北鎮向以醫名世，至今衰墜不振者久矣！余髫年授庭訓，即從事於〔內經〕、</p>
<p>〔難經〕、〔金匱玉函〕諸書，訓以知之者為知，行之者為行，寧使知之而未能行，莫使行之而未能知。不為垂垂衰老，僅得略窺其皮毛，何曾咀拾其精髓。吾友蘇墅橋吳乃良先生曰：「薑體乾與葉天士同時行醫，體乾游蘇適居天士比鄰（凡有就葉診棄之者輒為之治），一日見墜淚咨嗟者曰：『勢將奈何？』急詢其故，知天士斷其木葉落時定難飛渡。體乾即為之診曰：『病固急矣，勉為處方。』不特璧其診資，並助以藥資，囑服十劑，果驗。天士聞而駭曰：『是誰能挽回斡旋歟？』因知我華市有薑體乾公之醫道。天士先生特來華市謁薑公，並謙曰：『昔日有眼不識泰山，今特來請出山。』體乾下榻曰：『余處窮鄉，貧病者多，不能出。』乃款留而去。」繇是知學無底止，而醫學更無底止。體乾之風，類都如此。而其乃祖天敘先生之醫學弘博，有非時下所能望其項背者。今其裔孫正從持天敘所著風勞臌膈四大證論稿囑為校正。據曹孝廉家達得之於仲九如望，曹公詳序之。正從深恐先人之心血手澤湮沒，他日付棗梨。吾知薑氏將來有繼興者焉。</p>
<h2>承淡安序</h2>
<p>醫學之在於我國，皆曰：「今不如古」。實則指庸人而言者，庸者皆不學無術之人也。</p>
<p>使其學而窮究古今之病源，精審古今之方略，其病之在標在本，病之或傳或變，方之宜補宜瀉，不執不拘，則可如古人云：「三年蓄艾，能治之於未病之先，」與夫「一七回生，能治之於已病之後。」故曰：讀書而不能醫者有之，決未有不讀書而能醫者也。</p>
<p>風癆臌膈，症之大者也。諺云：「風癆臌膈，實病難醫。」實病，乃邪實正虛之謂。經云：「清靜則肉腠閉拒，雖有大風苛毒，弗之能害。」不獨四大證如是，何病不然耶！要之，能詳察病源，精審其證，方以制宜，四大證有何畏哉！吾故鄉薑公天敘特著（風勞臌膈論），以闡明古聖先哲立論制方之精微。蓋聞薑公者，好讀書，善醫術，常立功過格，日記得失，終身不怠，探析性命之微，雅抱　KT　之痛，而以好學不倦之旨，　人以博施濟眾之術。</p>
<p>讀其論中，類多闡揚經旨，如中風一症，其力主非外風所中，抉奧發微，分疏清晰。如對虛癆一症，其旨當從〔難經〕治法，融合越人之脈法於仲景辨證之中。論治虛損，本於（難經）及丹溪、子和諸家學說，理精辭約。非數十年之學力，曷克臻此哉！再讀其臌脹釋義與治膈之方，都有獨特之見地。又附雜病論治，有非四證所能限者，博引各家學說，參以己意，極為詳確。其諄諄告誡後學之心，如大海明燈。</p>
<p>淡安與鄉先輩天敘公後裔文駿君，忝為葭莩之誼，據其敘述，薑氏家藏著作本豐，輾轉遷徙，又遭兵燹，盡付劫灰。久耳四大證全書之名，以是未獲卒讀為憾！茲蒙惠我中醫雜志所載風勞臌膈論全篇，得以拜讀全書。值此發揚祖國醫學文化遺產，一則提供海內同道之參考，一則對薑公畢生心血之巨著，庶不致湮沒而不彰，爰為之序。</p>
<p><u>時在西元一九五六年六月上浣承淡安謹序</u></p>
<h2>薑文駿序</h2>
<p>今夏檢校舊帙，將祖傳醫書數百冊，特為之分篋珍藏，免與諸書間雜也。中有一小冊，偶爾披閱，見書首有四大證全書，江陰薑禮天敘氏輯，孫健、曾孫大鏞參訂字樣，並有邑諸名宿傳題。閱竟不勝驚喜，以為吾先祖著作，至今日而始發現焉。惜僅存十數頁，末由窺見全豹，亦憾事也。猶憶余童年時，嘗聞先祖詠仙公云：「吾家祖遺醫書，不下數百種，著作滿室，富有五車。同治初，太平軍解放江城時，潰軍土匪竄擾，焚毀殆盡，然燼余尚存數千冊。伯祖蘊山、蔭喬兩公，所得約有千余冊。庚申春，故宅毀於火，煌煌巨制，從此都付諸劫灰。」嗚呼，先人累世之心血，歷年愈久愈湮沒而不彰矣！即今所存四大證全書，亦屬殘缺不完。詢諸伯叔，早稔原本失蹤無考。惋惜久之。詎今秋吾友陶君南鵬，肄業上海醫專學校，惠贈校出中醫雜志一冊，內載有薑天敘著風癆臌膈論。卒讀是篇，尚待續未竟。因念吾先祖之姓名奚為而在此耶？得毋姓名有同耶？繼而思余因業商，不明醫學，今日所見之風癆臌膈，莫非即所存之四大證全書。然乎否乎？即將舊稿悉心校對，果然一字不易，乃知此論實為先祖所著無疑也。於是昔日所黯然神傷者，今頓欣然色喜矣。</p>
<p>夫天敘公，龍砂薑氏二世祖也，生於順治十一年，好讀書，善醫術，立功過格，日記得失，終身不怠，旁及玄功，名噪大江南北，年七十有一而歿。邑志載有〔仁壽鏡〕、〔本草搜根〕行世，今已軼。家乘中只有〔四大證全書〕名目。此外，邑志家乘所未載，而為鄉賢藏匿者，則〔證治匯理〕一書是也，計抄本念余冊，今悉藏張少泉先生家。疇昔家伯省軒，因掌教於南通醫專校，曾親謁張公，云已什襲珍藏矣。他日如能合浦珠還，自當刊行以垂諸久遠。</p>
<p><u>一九二五年秋九月十一世孫文駿敬識</u></p>
<h2>中風</h2>
<p>中風一症，有卒仆，有暴喑，有不遂，有歪僻，有四肢不舉，有神昏冒寐，有痰涎壅盛，有語言蹇澀，有外風襲入者，有本氣自病者。及乎外有六經形證，內見二便閉塞，其病各異，其名不同，而為治之法亦非一也。</p>
<p>〔靈樞經〕云：虛邪偏客於身半，其入系內居營衛。營衛稍衰，真氣去，邪氣獨留，發為偏枯。其邪氣淺者脈偏痛。又云：偏枯，身偏不用而痛，言不變，志不亂，病在分腠之間，巨針取之，益其不足，損其有餘，乃可復也。痱之為病也，身無痛者，四肢不收，志亂不甚；其言微，知可治；甚則不能言，不可治也。仲景〔金匱〕云：夫風之為病，當半身不遂，或但臂不遂者，此為痹，脈微而數，中風使然。又云：寸口脈浮而緊，緊則為寒，浮則為虛，虛寒相搏，邪在皮膚……　僻不遂。是則〔內經〕、〔金匱〕所論中風，皆主虛邪立說。而後代劉河間則主火為訓，李東垣則主氣為訓，朱丹溪則主濕為訓。然則三子者各出心裁，亦指證中之所有而言之也。至近代諸家，則分真中、類中，強引中氣、中暑、中濕、諸卒仆暴死之證，渾同立論。而中風一證，共欲明之，而實晦之矣。蓋中風之邪，其有無夾雜風火氣濕之來，豈可劃然分耶？但當以何有何無，孰淺孰深，以求確然之治，斯為當矣。</p>
<p>夫八風之邪，皆名虛邪，人身營衛經絡素盛者，無從入之。入之者，因其虛而襲之耳。</p>
<p>〔內經〕以為身之虛而逢天之虛，兩虛相感，其氣至骨，入則傷五臟。是則中風之來，無不本之陽虛者矣。喻嘉言氏論中風曰：陽虛邪害空竅為本，而風從外入者，必挾身中所有之邪，或氣或痰或火而為之標。以風邪之中人，未有不因陽氣不固而入之者也；中風之為疾，未有不因火因氣因痰而勾引深入者也。因虛卒仆，不挾外邪者則有之。若但云客邪而本不虛者，則未之有也。</p>
<p>中風之邪，從外而來，以漸深入。〔金匱〕云：邪在於絡，肌膚不仁。中絡邪氣入衛，猶在絡脈之外，故但肌膚不仁。其曰：邪在於經，即重不勝。中經則於營脈之中，內而骨，外而肉，皆失其所養，則軀殼為之重著，然猶在軀殼之間。至入腑入臟，則離軀殼而入內，邪中深矣。中腑，即不識人。然中腑必歸於胃，以胃為六腑之總司也。風入胃中，胃熱必盛，蒸其津液，結為痰涎，壅塞隧道。胃之支脈絡心者才有壅塞，即堵神氣出入之竅，故不識人也。中臟，舌即難言。諸臟受邪至盛，必逆入於心而亂神明。神明無主，則舌難言。其臟氣素虛而陽氣不治者，卒然倒仆矣此論外中邪以漸深入。東垣亦分中腑、中臟、中血脈之治。中腑者，其病在表，多著四肢。中臟者，其病在裡，多滯九竅。中血脈者，外無六經之證，內無二便之閉，但口眼　斜，半身不遂。中腑外見六經形證，用續命東加減治之（小續命湯治中風不省人事，漸覺半身不遂，口眼歪斜，手足戰掉，語言謇澀，肢體麻痹，精神昏亂，頭目眩昏，痰火並多，筋脈拘急，不能屈伸，骨節煩痛，不得轉側，諸風服之皆驗。</p>
<p>防風　桂心　黃芩　杏仁（去皮尖炒）　芍藥　甘草　川芎　麻黃（去節）　人參（各一錢半）　防己（二錢）　大附子（炮，七分）　上藥作二帖，水一盞半，薑五片，棗一枚，煎八分服。</p>
<p>中臟內見二便閉塞，則用三化湯通利之三化湯治中風外有六經之形證，先以加減續命湯主之，內有便溺之阻隔，此方主之。大黃　枳實　羌活各等分　每服一兩，水煎服。然解表攻裡之法，必體壯證實者設也。夫風為陽邪，善走空竅。若誤攻其表，重開洞門，出而復入，其變愈大。</p>
<p>而攻裡尤甚。以中臟之候，多因平素積虛，其邪易入，臟真不守，若誤下之，立致危亡，不可不慎也。惟在胃腑一證，內實便閉者，間有可下。然不過解其煩熱，實非大下也。然中臟有緩急二候。中腑日久，熱勢深極，傳入臟者，此屬可下。必使風與熱俱去，填其空竅，則風不再生。若開其瘀壅，必反增風熱，何以下為哉？其卒虛身中急證，下藥入口，其人即不蘇矣。可不辨歟！風中五臟，其來有自。臟氣先傷，後乃中之。火、熱、氣、濕、痰、虛，六賊勾引深入，一旦猝倒無知，偏身牽引，四末不用，但得不死，亦成癱瘓。察其形證，何臟先傷，調之使平。肺中於風，多汗，惡風，時咳，晝瘥暮甚，口燥而喘，身運而重，冒而腫脹。肝中於風，多汗，惡風，善悲，色蒼，嗌干，善怒，頭目　而脅痛，行常傴，令人嗜甘。心中於風，當分二候。若翕翕發熱，不能食，心中飢，食即嘔吐，此外因也。其曰心傷者勞倦，即頭面赤而下重，心中痛而自煩發熱，當臍跳，其脈弦，此內因也。脾中於風，多汗，惡風，身休怠惰，四肢不欲動，色薄微黃，不嗜食，翕翕發熱，形如醉人，腹中煩重，皮目而短氣。腎中於風，多汗，惡風，面龐然加腫，脊痛不能正立，隱曲不利，其色　。此五臟之見證也。審其何臟之證多見，按其脈，察其色，毋草草也。</p>
<p>中風外證，錯見不一。風火相煽，多上高巔。風濕相搏，多流四末，手足麻木。但屬氣虛，關節腫痹，濕痰流滯。</p>
<p>喻嘉言云：中風之脈，各有所兼。兼則益造其偏。然必顯呈於脈。蓋新風挾舊邪，或外感，或內傷，其脈隨之忽變。兼寒則脈浮緊，兼風則脈浮緩，兼熱則脈浮數，兼痰則脈浮滑，兼氣則脈沉澀，兼火則脈盛大，兼陽虛則脈微，亦大而空，兼陰虛則脈數，亦細如絲，陰陽兩虛，則微數或微細。虛滑為頭中痛，遲緩為營衛衰。大抵陽浮而數，陰濡而弱。浮滑、沉滑、微虛、散數，皆為中風。然虛浮遲緩，正氣不足，尚可補救；急大數疾，邪不受制，必死無疑。若大數未死，急疾猶得不死，經言風氣之病，似七診而非，故有不死。可見大數為風氣必有之脈，亦未可定為死脈耳。</p>
<p>天敘云：按中風一證，醫書冠之篇首，其證大矣。歷觀古今名家所論不一，遂令中風一證茫無著落，以至後代諸君分為真偽兩途，其意中風必因外中於風，方名真中；其猝仆偏枯，非因外風，雖至種種諸證，皆為類中。及予考之〔內經〕、〔金匱〕諸篇，其論偏枯、猝仆諸證，未嘗專主於風立說。及予每驗中風之人，於未中之先，必有先征，或十指麻痹，或肌肉蠕動，或語言謇澀，或肢體不遂，或平時脈滑大不和，弦緊無根，諸多隱微見於一二年前，人多不覺，直至一時觸發，忽焉倒仆。其若果為外中風邪，何以預為若是也？且每見中風之人，必中年以後，或肥盛之軀。豈外風之來，必中年肥盛者方感之耶？若此，則中風之證非特外風所中也明矣。經曰：仆擊偏枯，肥貴人則膏粱之疾也。又曰：三陰三陽發為偏枯痿易。又曰：虛邪偏於身中，其入深內居營衛。營衛稍衰，則真氣去，邪氣獨留，發為偏枯云云。其曰膏粱之疾，其曰三陰三陽，其曰虛邪，其曰真氣去，邪氣獨留，明指是證非獨外中於風。是以仲景先師中風論云：寸口脈浮而緊，緊則為寒，浮則為虛，虛寒相搏，邪在皮膚。浮者血虛，絡脈空虛，賊邪不瀉，或左或右，邪氣反緩，正氣即急，正氣引邪，　僻不遂。其若果為外中於風，何其反云浮者血虛？絡脈空虛，正氣引邪，　僻不遂等語，則其明指此風為虛風之候，其不專主於外風立論也。東垣、河間、丹溪，三君所論似殊，及細詳之，而東垣先生則引經曰：陽之氣，以天地之疾風名之。原夫人身中之氣，以天地間之風喻之，蓋天地間之風，其平治之時未見其形，變現之時迷塞宇宙。而人身中之氣亦然，其變其害皆由陽氣不治，氣即為邪。經云：天明則日月不明。邪害空竅，陽氣閉塞，地氣冒明。虛風內發之證一如天地間之疾風豪雨，迅不及掩。故以風之一字命名，意可見也。所以病中風者，每於未中之先，必有先征。河間主火，東垣主氣，丹溪論痰，皆各有卓見。其所論皆中風門中所必有之事，其中氣、中暑、中寒、中惡、食厥、痰厥，其暴病暴死，有相類乎中風，然皆自是別證，與三子所論之證有何干涉耶？不得強引中風合論，亦不得以類中名之。嘉言氏曰：河間主火為訓，是火召風入，火為本，風為標矣。丹溪主痰為訓，是痰召風入，痰為本，風為標矣。然人之一身每多兼三者而有之，曷不曰陽虛邪害空竅為本，而風從外入者，必挾身中所有之邪，或火或氣或痰而為之標耶？當於風火痰氣之間審其何有何無，虛實輕重之際孰緩孰急，辨其分寸可也，而為之施治，斯為上策矣。若但於風之一字起見立說，其不敗者幾希！生生子曰：人之一身，經絡貫串為之脈。脈者，血之隧道也。血隨氣行，周流不停。筋者，周布四肢百節，聯絡而束縛之。此屬肝木，得血以養之，則和柔而不拘急。脈皆起於手足指端，故十二經皆以手足而名，筋則無處無之。皮毛者屬肺，主外，而易於感冒。人身之血內行於脈絡，外充於皮毛，滲透肌肉，滋養筋骨，故百體和平，運動無礙。若氣滯則血滯，氣逆則血逆，得熱則血瘀濁，得寒則血凝泣，衰耗則順行不周，滲透不遍，而外邪易侵矣。津液者，血之余，行乎外，流通一身，如天之清露。若血濁氣滯，則凝聚而為痰。痰乃津液之變，遍身上下無處不到。津液生於脾胃，水穀所成，濁則為痰，故痰生於脾土也。是以古人論中風、偏枯、麻木等證，以血虛、瘀血、痰飲為言，是論其致病之源。至其得病，則必有所感觸。或因風，或因寒，或因濕，或因酒，或因七情，或勞役、房勞汗出，因感風寒濕氣，遂成此病。此血病痰病為本，而外邪為標，其邪中於皮毛肌肉，則不知痛癢，麻木不仁，如有物一重貼於其上，或如蟲游行，或洒洒寒栗，遇熱則或癢，遇陰雨則沉重酸痛。</p>
<p>其邪入於血脈經絡，則手足指掌肩背腰膝重硬不遂，難於屈伸舉動，或走注疼痛。此上諸證皆外自皮毛，以至筋骨之病。凡脈所經所絡筋所會所，血氣津液所行之處，皆邪氣鬱滯，正氣不得流通而致。然治者當以養血除風順氣化痰為主，不必強度某病屬某經某臟而雜治之也。</p>
<p>卒仆，謂卒然僵仆而不省人事也。〔內經〕名之　。凡中氣、中暑、食厥、痰厥，皆致猝然僵仆。然與中風之候，自是相殊。而中風卒倒，喉多痰聲，脈多沉伏，或脈隨氣奔，指下洪盛者。中風之證，有少須自蘇者，有中而不蘇即死者，有蘇而終變不治者，無不本之陽虛。若陽氣未至十分脫絕者，尚可救援。若真陽離絕，雖有良法無益也。若因而挾外邪，或痰或火沖犯清陽，閉塞竅道，亦致倒仆。但得真氣漸復，亦可自蘇。倉卒之際，先辨其陽中、陰中。中於陰者，面色或青或白或黑，痰喘昏亂，眩冒多汗，甚者手足厥冷。中於陽者，面赤唇紅，牙關緊咬，上視強直，掉眩煩渴。大率陰中重而陽中輕。又必先辨其閉證、脫證。若牙關緊咬，兩手握固，即是閉證，法宜開關通竅，急宜用通關散，牙皂、細辛、生半夏，為細末搐鼻，有嚏可治，無嚏難治。口噤不開，宜抉，或以破根散南星（五分）　冰片（少許）以中指點末，擦牙根一法急用白礬（半兩）　鹽花（一分）細研，揩牙根，更以半錢綿裹安牙盡頭，或用烏梅肉擦牙，隨用薑汁、竹瀝、麻油化蘇合香丸，或用三生飲生南星（一兩）　川附子（五錢）　生川烏（五錢）　木香（二錢五分）　加薑（十片）　煎好灌下。</p>
<p>挾虛者加人參兩許。如熱阻關竅，痰盛昏迷者，用牛黃清心丸，煎滌痰湯南星（薑汁炒）</p>
<p>半夏（各二錢）　枳實（一錢）　茯苓（錢半）　橘紅（錢半）　菖蒲（八分）　人參　竹茹（各七分）　甘草（五分）化下，以上為閉證者設。若口開（心絕），手撒（脾絕。閉證則口噤咬，兩拳握固，與口開者異），眼合（肝絕），遺尿（腎絕），聲如鼾睡（肺絕），此名脫證。若五不全見者，速宜大劑參附煎濃汁頻灌，及灸臍下，雖曰不治，亦有得生者（中風脫證極虛，不救者多，即用參附，亦不過或冀什一。若不預為病家道明，竟投參劑，設使不救，多致招謗）。若不分閉、脫，妄投蘇合、牛黃，不救（按腦麝、牛黃，乃辛香竄散之品，惟中藏閉證，暫借開竅。設邪在血脈，反誤投之，引邪深入，如油入面，莫之能出。至脫絕之證誤投之，是速其死也）。（心法）云：氣虛卒倒，用參、　補之。肥白人多濕，少用烏頭、附子行經；瘦人陰虛火熱，用四物東加竹瀝、牛膝、芩、柏，有痰加痰藥（按肥白人多濕，用烏、附行經，然肥白人不特多濕，抑多陽虛，附子在所必用也）。痰涎壅甚者，宜用吐法，稀涎散（半夏大者，十四枚　牙皂一個，炙）　入薑汁煎服。不能咽者，徐徐灌之（此法之輕者）。其有涎多難散，又非小吐不可，則用明礬、牙皂等分為末，白湯調服吐之（此吐劑之輕者）；重者用藜蘆半錢為末，加麝香少許，齏汁調灌。若口噤昏迷者，灌入鼻內吐之。虛者不可吐。其或風多涎少，人事不昏者，則用蝦半斤，入醬、蔥、薑等物，水煮，先吃蝦，次飲汁，後以鵝翎探引吐之。痰涎壅甚，用橘紅一斤，逆流水五碗，煎至一二碗，傾服白湯導吐之，吐痰之聖藥也。太白散用陳鍛石水飛，每服三錢，水一碗煎湯溫服，下痰如神。氣欲絕，心頭上溫者，喉中微響皆效，二陳湯、星香散，加竹瀝、薑汁。虛者六君子湯同星香散。脈沉伏無熱者，三生飲加全蠍一個。養正丹可以墜下痰涎。若痰熱甚者，加石膏、麥冬於二陳之內。牛黃清心丸乃治中藏痰熱昏冒之藥也（以上治痰諸法）。王宇泰曰：卒仆偏枯之症，未有不因正氣不周而病。故黃　為必用之君藥，防風為必用之臣藥。黃　助真氣者也，防風載黃　助真氣以周於身者也，亦有治風之功焉。許胤宗治皇太後中風口噤，煎二藥熏之而愈（其法用黃　八十斤，防風若干，煎湯成鍋，使其氣周滿一室，如熏如霧，氣退自醒），況服之乎。多怒，加羚羊角；渴，加干葛汁、秦艽；口噤亦加秦艽；恍惚錯語，加茯神、遠志；不得睡，加酸棗仁；不能言，加竹瀝、荊瀝、梨汁、陳醬汁、生葛汁、人乳汁；內熱，加梨汁、人乳、生地黃汁；痰多，加竹瀝、荊瀝，少佐薑汁。余每治此證，用諸汁以收奇功，為行經絡滲分肉，捷於湯散故也（此治氣虛肥白者之法）。繆仲純曰：東南之地，素多濕熱之氣，質多柔脆，往往多熱多痰，真陰既虧，內熱彌甚，煎熬津液，凝結為痰，壅塞氣道，不得通利。熱甚生風，亦致猝然僵仆，或不省人事，或語言謇澀，小便短赤，此其驗也。至所用之藥，初清熱，則天門冬、麥門冬、甘菊花、白芍藥、白茯苓、栝蔞根、童便；順氣則紫蘇子、枇杷葉、橘紅、鬱金；開痰則貝母、白芥子、竹瀝、荊瀝、栝蔞仁；次治本益陰，則天冬、甘菊、生地、當歸、白芍、枸杞、麥冬、五味、牛膝、人乳、白膠香、黃柏、白蒺藜之屬；補陽則人參、黃、鹿茸、大棗。（按仲純此論，本於河間、丹溪。至其所用之藥，惟重甘寒，一遵〔內經〕</p>
<p>熱淫所勝治以甘寒之旨。陰虛多熱之證，則當從此選用也。）</p>
<p>不語　華元化云：心脾中風，則舌強不語。蓋脾脈絡胃俠咽，連舌本，散舌下。心之別脈系舌本。二臟受風，則舌本強硬而不語也，資壽解語湯防風　羚羊角　棗仁　炙草　天麻附子（炮）　官桂　羌活　竹瀝　薑汁。心經熱者，兼涼膈散清心。心經蘊熱，舌謇不語，用轉舌膏（即涼膈散加菖蒲、遠志，等分為末，蜜丸，彈子大，朱砂為衣，薄荷湯下）。若痰迷心竅，舌強不語，當滌痰為先（見卒仆門）。然此證最急，此藥似緩，當先調化牛黃清心丸。審其屬虛者，此方調下二丹丸二丹丸治風邪健忘，養神定志，和血肉，定心神，外華腠理，得睡。丹參　熟地　天冬（各一兩五錢）　朱砂　人參　菖蒲　遠志（各五錢）　茯神　麥冬甘草各一兩　共研細末，蜜丸，桐子大，每服五十丸至一百丸，庶足以開痰通竅也（再入竹瀝、薑汁更驗）。若風涎壅塞，舌本難轉，語不正者，正舌散蠍蛸（去毒，十四個）　茯苓（一兩）</p>
<p>共為細末，食前溫酒下。有腎氣厥不至舌下，舌喑不能言（舌喑者，乃舌本喑弱，不得言，與舌本難者相反）。王宇泰曰：〔素問〕云太陰所謂入中謂喑者，陽盛已衰，故為喑也。內奪而厥，則為喑痱，此腎虛也。少陰不至者，厥也。夫腎者藏精，主下焦地道之生育，故衝任二脈系焉。二脈與少陰腎之大絡同出腎下，起於胞中，其衝脈因稱胞脈。絡為十二經脈之海，遂名海焉。衝脈之上行者，滲諸陽，灌諸精；下行者，滲三陽，灌諸絡，而溫肌肉，別絡結於跗。因腎虛而腎絡與胞絡內絕，不通於上則喑。腎脈不上循喉嚨挾舌本，則不能言。二絡不通於下，則痱厥矣。如是者，以地黃飲子主之熟地　戟肉　山茱萸　蓯蓉石斛　五味　炮附子　麥冬　白茯苓　菖蒲　遠志肉　官桂（各等分）　薄荷葉（七片）　薑（五片）　棗（一枚）。按腎氣厥不至舌下，乃真臟之氣不榮於舌耳。至其濁陰之氣，必橫格於喉舌之間。</p>
<p>吞咯維艱，昏迷特甚。又非不有之證可以緩調。方中所用附、桂、巴、蓯。原為驅逐濁陰而設，用方者不可執己見而輕去之也。若肝腎虛而涎潮壅塞不語，當用三因白散子生附子滑石（各五錢）　半夏（七錢半）為末，每服二錢，水煎，加薑七片，蜜半匙，空心服。失音不語，訶子湯訶子（四個）　桔梗（一兩）　甘草（一寸）三味俱半生半炒，為末，每服五錢，童便一杯煎服。中風不語，龜尿少許，點舌上神效（取龜尿法。置龜新荷葉上，用豬棕鼻內刺之，即出）。</p>
<p>半身不遂，即偏枯之證。左為癱，右為瘓。經云：男子發左，女子發右。大率仆擊偏枯證每相連而至。為治之初，亦先順氣，次辨風火痰虛，何有何無，要當以養正為本，而兼以治標之藥。若筋骨疼痛，舉動不便，多則痰火風氣流注經絡，又當先以通經活絡之味，然後治本可也。喻嘉言曰：〔內經〕云偏枯者不一，曰汗出偏沮，使人偏枯；曰陽盛陰不足；曰胃脈大小不一；曰心脈小堅結；曰腎水虛。〔靈樞〕亦敘偏枯於熱病篇中。皆不言風，皆不言虛，皆不言其本於何邪。豈非以七情飢飽房室，凡能虛其臟氣，致營衛經脈痹而不通者，皆可言邪耶？然偏枯病陽盛陰不足者有之，而陽氣虛衰、痹而不通者亦有之，不可不知也。王宇泰云：〔內經〕論偏枯皆主心與胃二臟。蓋心是天真神機開發之本，胃乃穀氣充大真氣之標，標本相得，則胸膈間之膻中所留宗氣盈溢，分布四臟三焦，上中下外，無不周遍。若標本相失，則不能致其氣於氣海，而宗氣散矣。故分布不周於經脈則偏枯，不周於五臟則喑。即此言之，可為諸言偏枯者綱領也。治療之方，黃　為君，人參、當歸、白芍為臣，防風、桂枝、鉤藤、竹瀝、薑汁、韭汁、葛汁、梨汁、乳汁之屬為之佐使。苟用烏、附、羌活之屬以涸營而耗衛，如此死者，醫殺之也。丹溪云：大率多痰，在左屬血虛與死血，在右屬氣虛與痰。然亦不可執也。蓋人之偏枯，如樹木之一邊津液不蔭注，則枯槁而葉脫。故治偏枯者，但當補養血氣，急灌其未枯者，使已枯者可通氣而復榮。昔人之用勻順散，白朮二錢　天麻五分　白芷　沉香　青皮　人參各五分　烏藥錢半　甘草五分　紫蘇　木瓜各一錢　薑三片煎服　亦是取其和勻氣血，無偏無忤之意。然後進以滋養之藥，如和榮湯（白朮　川芎各錢半　南星　半夏　芍藥　茯苓　天麻各一錢　當歸　生熟地　牛膝　棗仁黃芩　橘紅各八分　防風　官桂各六分　紅花　甘草各四分　黃柏二分，入竹瀝，薑汁服）</p>
<p>有補血活血之功，不致於滯，有健脾燥濕消痰之能，不致於燥，又清熱運動疏風，開經絡，通腠理，王道之劑，多服可以見功。周慎齋云：雖有左右之分，治只一法，俱宜十全大撲湯，加羌活，三四帖後，在左用氣中之血藥，在右用血中之氣藥。大便閉，雖十日半月不妨，慎無輕導。如便閉，血藥多於氣藥，便泄，氣藥多於血藥。慎齋方治半身不遂，甘菊　歸身　石斛　首烏（各一兩五錢）　牛膝麥冬（各二兩五錢）　蒺藜　貝母　蘇子　黃　橘紅　甘草（各四錢）　天冬（一兩）　白芍（一兩八錢）　地黃（三兩）　作十劑，煎服。虎脛骨酒治偏枯不遂，石斛　石楠葉　防風炙　虎脛骨　當歸　茵陳葉杜仲　牛膝　巴戟　川斷　川芎　金毛狗脊（各一兩）　酒（一斗）　浸十日服。虎骨散治半身不遂，肌肉干瘦（當歸　赤芍　續斷　白芍　本　虎骨　烏蛇肉　共為細末，每服二錢，食後溫酒調下。）史國公浸酒方治風癱不能行功　防風　萆　當歸　敗龜板　鱉甲　虎骨川牛膝　枸杞　秦艽　晚蠶砂　油松節　羌活　白茄根　蒼耳子　酒浸，蜜封七日。開飲，不可面向壇口。每服一小杯，一日飲二次。以上三方，皆用酒者，取其導引流通之意。而河間換骨丹及續命丹皆用腦麝，以癱瘓之證，因虛而風濕痰火搏結於筋脈之間疼痛者，借此以開通閉結。然過於竄散，其在陰虛之體，若誤投之，禍不旋踵。其風濕搏結者，舒筋安散治左癱右瘓、拘急走注疼痛　木瓜（五兩）　萆　五靈脂　牛膝（酒浸）　續斷　僵蠶（炒）　松節白芍　烏藥　天麻　威靈仙　黃　當歸　防風　虎骨（酒炙各一兩）　好酒（一斗），浸藥十四日，扎壇口。然後取藥，焙為末，浸酒下，每服二錢。若風入筋骨，而拘急攣拳，或麻木疼痛，鐵彈丸治癱瘓筋攣，麻木疼痛（乳香　沒藥各一兩　川烏（炮去皮臍一兩五錢）　五靈脂（酒浸淘去沙石晒乾四兩）　麝香（一錢）　滴水丸，彈子大，每服一丸，臨臥薄荷酒磨服。按偏枯癱瘓諸證，有淺深輕重之別，即經所云其入深內居營衛，其邪氣淺者脈偏痛。以此推之，其痛者反輕，不痛者為重也。言不變，志不亂者，為輕；甚則不能言者，不可治也。故其用藥，有顧本以兼標者，有治標不重本者，因證以詳治也。其方中有用參、　為主者，重於虛者也；有用烏、附、羌、防為主者，取其流通經絡，蓋痰火風濕瘀滯，若非先以雄健之品為之響導，莫能開也。用酒漬酒下者亦是此意，不可因見用風藥奏功，認為外風，肆行無忌而傷人也，智者思之。</p>
<p>近代繆仲純取用白蒺藜、菊花、首烏、黃　、二冬、漆葉、牛膝、地黃、鱉甲、竹瀝，一派甘寒之味，雖無近效，而陰虛內熱之人，誠可恃也，不可因其平淡而忽之。</p>
<p>王宇泰治藏位宇氣虛痰多，脾虛有濕，晚年半身不遂人參（一斤）　半夏曲（二斤薑汁竹瀝拌炒）　白朮（半斤）　牛膝（一斤）　天冬（一斤）　用長流水煎膏，再入鹿角膠虎骨膠　霞天膠（各一斤）　河間梨膠（二斤）　各制膏，和勻，重湯煮一日夜，出火毒。每空心臨臥取半杯，以竹瀝、梨汁、人乳、桑瀝各一杯，和勻，重湯燉熱服之，便效。外治法用蠶砂二石，分作三袋，蒸熱著患處，冷再易，以瘥為度。內用羊脂，入粳米、蔥白、薑、椒，煮熟，日食一具，十日止，效。桑枝法用桑枝一升，炒香，以水三大升煎取二升，一日服盡。〔圖經〕云：桑枝溫平，不涼不熱，可以常服，療中風體癢干燥，香港腳風氣、四肢拘攣、上氣眼暈、肺氣咳嗽，消食，利小便，久服輕身，聰耳明目，令人顏色光澤，兼療口乾。〔仙經〕云：一切仙藥不得桑煎不服。河間治何子常病兩臂痛，諸藥不效，依此作數劑，臂痛即愈。</p>
<p>口　目斜（有中經中絡之別），綱目云：目斜屬足三陽經（足太陽起於目之上，足陽明起於目之下，足少陽起於目銳　），口　屬手足陽明（手足陽明經環於口之上下），風邪入之，則引頰移口而為　僻也。治法亦當先用順氣之劑（勻氣散見前），次用清陽湯（黃歸身　升麻　葛根　炙草　紅花　酒柏　桂枝　蘇木　生甘草　酒煎，服後以火熨摩急處）</p>
<p>或秦艽升麻湯升麻　葛根　炙草　芍藥　人參（各五錢）　秦艽　白芷　防風　桂枝（各三錢）　每服一兩，加蓮須、蔥白，煎取汁服。若內因痰火虛風，當消痰清火清風，仲純法最妙（如菊花沙參　栝蔞根　貝母　天麥冬　天麻　蘇子　橘紅　白芍　元參　秦艽　連翹是也）。</p>
<p>戴復庵云：口眼　斜，先燒皂莢煙熏之，以逐去外邪，次用乳香煙熏之，以順其血脈。口眼斜，固主於陽明，而有筋脈之分。經云：足之陽明，手之太陽，筋急則口目為僻，此為胃之筋病也。又云：足陽明之脈，挾口環唇，所生病者，口　唇斜，此胃之絡脈病也。故筋急斜，藥之可愈，脈急　斜，非灸勿痊（目斜灸承泣，口　灸地漿，如未效，於人迎、頰車灸之。頰車在頰齒交處）。又法：以筆管五寸，插入耳內，外以面塞四圍，勿使透風，頭以艾灸七七，右　灸左，左　灸右。一法：耳垂下用麥粒大艾灸之，灸壯同法。外治法：用酒煮桂枝汁一升，以故布浸　面上，左　右，右　左。一方：用槿樹花搗爛敷之，或酒煎服，若無花用子，無子用殼，俱效。又方：用鱔魚血加麝香塗之，以絲絨絆即效。</p>
<p>四肢不舉，皆屬脾土，然有虛實之分。若膏粱太過，積熱內蘊者，為脾土實熱，宜瀉以開其瘀（三化湯之類）。食少體羸，怠惰嗜臥者，脾土虛衰，宜補以健其運，加味六君子湯（即六君子東加竹瀝半小杯、麥冬三錢）。身體疼痛，鐵彈丸（見前）。若手足流注疼痛，麻痹不仁，難以屈伸者，苡仁湯苡仁（三錢）　當歸　芍藥（各一錢二分）　麻黃（五分）　官桂（五分）　蒼朮（米泔水浸、銼炒錢半）　甘草（八分）　生薑（七分）。</p>
<p>小便不利，潔古云：中風不利，不可以藥利之。既已自汗，則津液外亡，小便自少。若利之，使營衛枯竭，無以制火，煩熱愈甚。當自熱退汗止，小便自行也。不因津液枯竭者，用三因白散子，加木通、燈心、茅根，煎。</p>
<p>遺尿，濃煎參　湯，少加益智子頻啜之。</p>
<h2>虛勞</h2>
<p>虛是氣血不足，損是五臟虧損，勞是火炎於上。勞瘵者，既虛且損，復竭其力，而動於火以成其勞也。虛而未勞，但名不足；虛而且勞，其成瘵成蒸無不至矣。</p>
<p>虛有因病致虛者，調之可復，補之可足，易為力也。而因病致損者，一或失調，即成不足。損而且勞，瘵病繼之。夫勞有五臟之勞，若曲運神機，則心勞，而為虛汗怔忡；縱情恣欲，則腎虛，而為骨蒸夢泄；形冷悲哀，則肺勞，而為咳嗽痰喘；恣睢善怒，則肝勞，而為痛痹筋攣；動作傷形，思慮傷意，則脾勞，而為少食多痰，形羸神倦。故勞者，必因於虛，虛極必至於勞。</p>
<p>喻嘉言曰：虛勞之症，〔金匱〕敘於血痹之下，可見勞則必勞其精血也。營血傷則內熱起，五心常熱，目中生火見花，耳內蛙聒蟬鳴，口舌糜爛，不知五味，鼻孔干燥，呼吸不利，乃至飲食不為肌膚，怠惰嗜臥，骨軟足酸。營行日遲，衛行日疾，營血為衛氣所逼，不能內守而脫出於外，或吐或衄，或出二陰之竅。血出既多，火熱迸入，逼迫煎熬，漫無休止，營血有立盡而已，不死何待耶？更有勞至之極，而血痹不行者，血不脫於外，而但蓄於內。蓄之日久，周身血走之隧道悉痹不流，惟就干涸，致鮮滑澤，肌膚甲錯，面無榮潤。於是氣之所過，血不為動，徒蒸為熱，或日晡，或子午，始必干熱，俟蒸氣散，微汗而解。熱蒸不已，瘵病成焉，不死又何待耶？亦有始因脫血，後遂血痹者，血虛血少，艱於流布，發熱致痹，尤易易也。〔內經〕凡有虛病，不及於勞。獨仲景先師發明虛勞脈症，其法其方，後人多不能用，是未深究其旨也。以後諸賢方法雜出，千蹊萬徑，何反十無一全。為工者當師仲景乎？抑師後人乎？抑寧任其自愈乎？不明本末，苦寒雜投，因藥而死者十之七八。無寧待其自愈乎？藥之不愈，歸咎於無藥。非無藥也，是醫之無師也。無師之智，其不殺人者幾希！越人分主陰虛陽虛兩端，誠虛門中之一大炬也。蓋陽虛者，氣虛也，脾病也。土為萬物之母，而人之資以為生者也。凡人飢飽勞役及大病失調，皆能傷脾胃。脾胃一傷，五臟皆失滋養，原氣虛反陷入於陰，化而為火，以致發熱咳嗽，與陰虛勞瘵之症是似不同。當用東垣法，一以扶陽為主。忌用滋陰寒涼之品，恐反陷其陽也。此即虛損之症是也。若陰虛者，血虛也，腎病也。腎為天一之元，而人資之以為始者也。凡人勞心好色，傷其精血，以致水虧火旺，火亢則爍肺消陰，為咳為蒸，與陽氣不足之症兩相各別。當壯水養陰為主。忌用辛溫燥熱之品，恐反損其陰也。此即勞瘵之症也。然陽虛之極者陰亦虛，終以陽虛為本。陰虛之極者陽亦虛，終以陰虛為本。又陰陽兩虛之症，又當較量於彼此之間，須陰陽兩無虧損。至陰陽兩虛之極者，先天之原陰亦虛，命門之真火衰敗，則又當以溫補命門回陽固本為主，而補火一著又不可不講也。</p>
<p>大抵勞症之初，多始於心腎不交。然五臟呈皆有勞，心腎為多。心主血，腎主精，精竭血燥，心腎虛矣。腎氣虛則水走於下，心氣欠則火炎於上，水火不交，則虛勞之症成矣。火炎上則為痰，為嗽，為煩熱，為口乾，為咯血，為上氣，為嘔吐，為盜汗，為耳鳴目眩，為夢中驚悸；水走下則為腰痛，為腳弱，為泄瀉，為赤白濁，為遺精夢泄，為小便滑數，為皮毛焦枯；皆虛勞變症，生於心腎者也。故當補心養腎，以交水火。水火交則五臟之陰不傷，而虛勞之症愈矣。</p>
<p>治勞三本，辨東垣、丹溪、立齋論　綺石公曰：肺為五臟之天，脾為百骸之母，水為萬物之源，治肺治脾治腎，治勞之道畢矣。夫東垣一生，千言萬語，止透發得一篇脾胃論，便為四大家之首。丹溪一生，千言萬語，止明滋陰補腎一著，便為治勞之宗。以至薛立齋究明補火一著，謂太陽一照，陰火自彌。斯三先生者，皆振古之高人，能回一時之習尚，辟歧黃之心傳者。然皆主於一偏，而不獲全體之用。如清任和三聖，各造其極，而終非孔子大成之集也。是以脾胃之論，出於東垣者無弊。若後人執東垣以治虛勞者，未免以燥劑補土，有拂於整肅肺金滋陰之說。出自丹溪者，業已有弊。若後人執丹溪以治虛勞者，蓋全以苦寒降火，濡冷保肺，有礙於中州之土化。至於陰常不足，陽常有餘，此實一偏之見，難為古人諱者。</p>
<p>而後人沿習成風，偏重苦寒，凡遇虛火虛熱，陰虛陽亢之症，動輒以黃柏補腎，知母清金，未能補腎家之真水，而反制腎家之真火。夫腎者坎象也，一陽陷於二陰之間。此二陰者真水也，一陽者真火也，真水次第而生肝木，肝木又上生心火，真火次第而上生脾士，脾士又上生肺金。故人生之本，從下而起，如天地之法象，如羲皇之畫卦。故腎之為臟，合水火二氣以為用，為五臟六腑之根源。真水不可滅也，真火獨可熄乎？然救此者，又執立齋補火之說，著左歸右歸丸，皆不離乎桂、附，而罔顧其人之有鬱火，無鬱火，有鬱熱，無鬱熱，更罔顧其人曾經傷肺，不曾傷肺。夫虛火可補，理則宜然，如古方補中益氣，參、　、朮、草之甘溫以除大熱，而終不聞以辛熱之劑抱薪救火者也。惟綺石先生執兩端以用中，合三部以平調，其清金保肺，無礙中州之土，此其用丹溪法而不死於丹溪也。其曰培土調中，不損至高之氣，此其用東垣法而不死於東垣也。其曰金行清化，不覺水自流長，乃合金水於一致也。其曰三臟既治，何慮木火乘時，乃統五臟以同歸也。但主脾、主腎，在先賢頗多發明，而清金保肺一著，尚未有透發其精微者，故先生於肺論治獨詳。此治勞之三本，不可不重也（出虛勞秘旨）。</p>
<p>趙養葵相火龍雷論曰：火有人火，有相火。人火者，燎原之火也．，相火者，龍火也，雷火也；得濕則KT　，遇水則燔，不知其性，而以水折之，以濕攻之，適足以光燭天，物窮方止矣。知其性者，以火逐之，焰灼自消，災光撲滅。古書瀉火之法，意蓋如此。今夫率以黃柏治相火，殊不知此相火者，寄於肝腎之間，此乃水中之火，龍雷之火也。若用黃柏苦寒之藥，又有水滅濕伏，龍雷之火愈發矣。龍雷之火，當濃陰驟雨之時，火焰愈熾，或燒毀房屋，或擊碎木石，其勢誠不可抗。惟太陽一照，火自消滅，此得水則熾，得火則滅之一驗也。又龍雷至五六月而啟發，九十月而歸藏，蓋冬時陽氣在下，尤雷就其火氣而居於下；夏時陰氣在下，龍雷不能安其身而出於上。明於此義，故惟八味丸，桂附與相火同氣，直入腎中，據其窟宅而招之。同氣相求（此即水就濕、火就燥之意），安得不引之歸源耶？人非此火不能有生。世人皆曰降火，余獨以地黃滋養水中之火。世人皆曰滅火，而余獨以桂附溫補天真之火。千載不明之論，余獨發明之。陰虛發熱論曰：世間發熱，類傷寒者數種，治各不同，此論外感者也。今人一見發熱，皆作傷寒，率用汗藥以發其表。汗後不解，又用表藥以涼其肌。虛症若是，豈不殆哉？自東垣出，而發內傷補中益氣之論，此用氣藥以補氣之不足者也。至於勞心好色，內傷真陰，真陰既傷，則陽無所附，故亦發熱。其人必面赤躁煩，口渴引飲，骨痛，脈數而大，或尺脈數而無力者是也。惟丹溪發明補陰之說，以四物東加黃柏、知母，此用血藥以補血之不足者也。世襲相因，屢用不效，何耶？蓋因陰字認得不真，誤以血為陰耳。當作腎中之真陰即先天也。〔內經〕曰：諸寒之而熱者，取之陰；諸熱之而寒者，取之陽；所謂求其屬也。王太仆先生注曰：大寒而盛，熱之不熱，是無火也。大熱而盛，寒之不寒，是無水也。又云：倏忽往來，時發時止，是無火也。晝見夜伏，夜見晝止，時節而動，是無水也。當求其屬而主之，無火者宜益火之源，以消陰翳；無水者宜壯水之主，以制陽光；必須六味、八味二丸，出入增減，以補真陰，屢用屢效。若泥知、柏苦寒之說，必致損傷脾陰，而斃者不可勝舉。大抵病熱作渴，飲食便閉，此屬實熱，人皆知之。或惡寒發熱，引衣蜷臥，四肢厥冷，大便清利，其屬真寒，人亦易知。至於煩擾狂越，不欲近衣，欲坐臥泥水井中，此屬假熱之症。其甚者，煩極發躁，渴飲不絕，舌如芒刺，兩唇燥裂，面赤如塗朱，色如嬌嫩，身如焚燎，足心如烙，吐痰如涌，喘急，大便閉結，小便淋瀝，三部脈洪大而無倫。當是時也，惟宜加減八味丸料一斤，內肉桂一兩，以水頓煎五六碗，冰冷與飲，諸症自退。翌日必惡寒脈脫，是無火也，當補其陽，急以八味丸料煎服自愈。此症與脈俱變其常，而不以常法治之者也。若產後及大失血後，陰虛血暴傷，必大發熱，亦名陰虛發熱。此陰字正是血氣之陰，若以涼藥正治立斃，即四物湯亦不可用，急宜用獨參湯，或當歸補血湯，使無形生出有形來，此陽生陰長之妙也。蓋陰虛發熱，面必赤色，無根之火，載於上也。若是陽虛，火入於內，面必不赤。其口渴者，腎水干枯，引水自救也。但口雖渴而舌必滑，脈雖數而尺必無力，甚者尺雖洪大，按之必不鼓，此為辨耳。雖然，若其人曾服過涼藥，脈亦有力而鼓指矣。蓋服涼藥而脈反加數者，火鬱也。宜升宜補，切忌寒涼，犯之必死。臨症之工更宜詳辨。（出趙氏醫貫）</p>
<p>虛火伏火論　諸火可補火，諸熱不可補火；又諸臟有虛火可補火，肺臟有伏火不可補火，此先哲未發之旨也。何謂諸火可補火？火者，虛火也（假象也），謂動於氣而未著於形。其見於症也，易升易降，倏有倏無。其發也，盡有燎原之勢，或面赤頰紅，或眩暈厥冒，種種不同，而皆可以溫潤補腎之劑，以取其浮越而引歸於性根命蒂之中也。何謂諸熱不可補火？熱者，實熱也（其雲實熱者，為其熱著於形，無變遷升降，故雲實熱。非實熱之火，可寒可降。可汗可下之熱，此非實熱也）；謂其先動於氣，久而漸著於形，如燒熱之物相似。其見於症也，有定時，有定處，無升降，無變遷。其夜間準熱，日間不熱者，為夜熱。其內裡恆熱，而皮膚未熱者，為內熱。其蒸熱之深，如在骨髓蒸出，而徹於皮膚者，為骨蒸勞熱。此種種蒸熱，有清法，無溫法。若以有定之實熱同無定之虛火混一而治，喪無日矣。何謂諸臟有虛火可補火，肺臟有伏火不可補火？蓋肺之與四臟，又有差別，如肝腎龍雷之火可引而伏，脾胃寒格之火可補而越，心家虛動之火可補而定，惟肺金伏熱之火不可補之。蓋五行生克，惟金畏火，惟火爍金，故清肅之臟所畏惟火，此以臟質而言之也。肺居膈上，其氣清，其位高。若火上衝，則治節失令，而痰滯氣塞，咳嗽交加。故至高之部所畏惟火，此以部位言之也。若偶然浮越之火，亦不犯此禁。獨是伏熱之火，出於陰虛陽亢，火乘金位，謂之賊邪；以其火在肺葉之下，故名伏火；以其火只星星，便能使金令　格，故名逆。凡若此症，痰必膠固，吸短呼長，脈必細而數。細為血虛，數為火勝，此在少年勞症之根（虛勞脈至細數則不可治，此云勞症之根，是約言也），斷宜清法，無用溫理。若以肺家伏火同四臟之火混一同治，害不容言矣。（出綺石公虛勞秘旨）</p>
<p>虛勞之症，乃火病也。若不先明諸火之源，臨症時從何下手耶？故余不厭碎煩，匯合諸賢之說，可為治勞之一助云爾。</p>
<p>精氣奪則虛論　人稟沖和之氣，而生身有三：曰元精、元神、元氣者，本身中之真精、真氣、真脈也。夫精乃五臟之真，非營血之比（五臟皆主藏精，而腎不過為都會關司之所，今人言精，專主腎治，是不知五臟藏精之說），故曰天癸。氣乃五臟之大經，為靜靜之主，故曰神機。脈乃真委和之一氣。經乃言有三，曰：命之本，氣神形之道。其機運升降，皆隨之而動，因血而營，精氣資始，相生不失，以養一身，為人之司命，形質之體用也。至若精不足，則氣失資化；氣不足，則血失所營；血不足，則氣無所附；天真散亂，則精神氣無稟命矣。是以相生長養之道，精化氣，氣生神，皆稟乎身之臟腑之真也。夫氣血從乎營衛，營衛又宗乎經隧。營衛者神精氣之化，為先天清濁之始；經隧者，胃之穀水之化；此經隧不能不生營衛，營衛不能不散而養筋脈，筋脈不能不順而資天真，為養生涵容，造化形質，理之然也。凡人之視聽言動壯壽，此皆理之常也。疾病盲　，關格夭折，此皆理之失也。故有精神氣血不足則病，真神散亂則死者，皆由平日攝養之過與不及，動止之過逾常度也。經曰：出入廢則神機化滅，升降息則氣立孤危。然房勞甚，則精血竭，而神無所依，氣無所附，則忽至暴絕也。竊常究先哲經義，濟生微旨，益氣之補肺，補精之滋腎，皆資其化源也。蓋人精血本常不足，加之數奪其精，真元失化，則營氣乃虛，虛則衛亦不固，精亦滑脫（所謂精氣神，乃人身三寶，相資而不相離者也）。腎氣竭，而精微不能與胃上升（腎者，先天之原氣也；胃者，後天之穀氣也；二陰升，則所謂陰精舉，其人壽也；二氣陷，則所謂陽精降，其人夭也），故病多頭重或痛，氣弱而食少，元氣下陷，脈即微弱外欲絕而虛洪，或見損脈，此實元精不足之所致，非有外邪之病也。（此三元之理，人身所關最重，為醫者不可不講，其在虛勞門，尤為先務也。）</p>
<p>還丹秘要論　夫還丹者，乃返本還元之道。人稟父母精血而生，初為赤子時，元精、元氣、元神，無不純全，及其年漸長成，蓋因眼耳口鼻門所誘，一靈真性，被色香聲味所觸，習染深固，以致日復日，歲復歲，元精化為交感，元氣化為呼吸，元神化為思慮，此三元分泄，難復天真。故先聖垂言立教，載於丹經，蓋示人以修補之法，精損則以精補，氣損則以氣補，神損則以神補，是為返本還元之道以復之。且復者，何也？以全精為深根（全精之道，人皆以為絕欲，固是。若此念不絕，雖外不走精，精亦隨神散，是絕而未絕也），以全氣為固蒂（東垣曰：省言語以養氣，此養之小者也，其能調息歸根，此養之大者也），以全神為妙合（全神之道大矣。若心不外馳，無思少慮，此全之小者也。若能還神還氣，返氣還精，此全之大者也），能全此三者，實為身中真藥物也。然則身系乎精，心系乎氣，意系乎神，返此三者而逆行，還此三者而復真也。三全合真，乃曰還丹也。</p>
<p>虛勞一症最大，為治最難。生生子有治勞三大愆，病者、醫者，不可不講也。病家欲求速效，不久任師，屢更屢試。殊不知虛者精氣奪也，須多服補藥，非假以歲月不能見功。病者厭其效遲，更師調理，故屢換而屢試之後，師窺前方之不效，疑非此症，又更方治，詎思其藥力之未到也。由是脾胃轉傷，遂至不救，猶恨天下無良法也。此一愆也，乃愆之小者也。自丹溪倡陽有餘，陰不足，及相火易動之論，而名醫雜著和之，統旨大旨又和之。故今人才見虛弱發熱，一委之陰虛火動，開場便用滋陰降火。不分陰虛陽虛，脾胃勇怯，一概用黃柏、知母、生熟地、天麥冬、牛膝、五味、童便之類。胃強而陰血乍虧者，間或無虞，胃弱氣虛而無實熱者，服此純苦寒劑，其火愈熾，甚至啞心胸滿，咳嗽痰沫，泄瀉聲啞而斃。</p>
<p>哀哉！叩其師，則曰書以陰虛火動著其症，吾以滋陰應其病；病之不起，天也。而屢試屢死，師家病家，終莫能醒其服藥之誤，而一歸之天。吁，天何冤耶！丹溪倡陽有餘，陰不足之論，蓋為當時局方溫補之藥害人，故著此以救一時之弊。至於按病投劑，陰虛則補陰，陽虛則補陽，曷嘗固執，又曷嘗堤防流害一至於此。據經云：火鬱則發之，又云：輕者可降，重者從其性而升之。蓋火之性上炎，以輕揚之劑鼓之，則易散也。若不察，一以降火為言（虛勞之症，是因虛而火病也。治火者，治其標也。火盛而症不大虛者，先治其火，補虛佐之。虛極而至火炎者，但當治本，本足而火自退，此自然之理也。今人不知虛火何物，惟以滋陰降火為治，豈不殆哉！），將以逆其性而使之愈熾矣。故曰甘溫去大熱，是也。按東垣書只有升陽散火湯、火鬱湯（東垣二方是治火鬱發之之劑，陰虛火炎者，未為確當）二方，並無滋陰降火之法。豈賢如東垣，尚未明此滋陰降火之法歟！緣脾胃喜溫而惡寒，形寒飲冷則傷肺，體雖虛弱，膚腠不密，易致風邪，由是咳嗽潮熱。故以輕揚之劑投之，其熱頓釋。熱退則以補劑收功。時醫於此理動輒藉口，則曰丹溪諸公云云，人身之虛，皆陰虛也，故任前藥而不疑。不思滋陰降火之藥，皆斂肺助濕滯痰損脾者，風邪火熱皆莫能散，愈投愈咳，愈進愈熱也。此藥吳浙間罹其毒，蓋王節齋、吳菱山、何大英皆浙產，益易見信故耳。</p>
<p>此其二愆也，乃愆之大者也。膏粱之家，濃味相兢，內多積聚。丹溪曰：蒸蒸發熱，積病最多，嗜欲者中心實怯，故每迎師用藥，喜補而憚攻。抑不知積之不去，熱之不去也，多補則重閉其氣，是資其邪而益其病也。初起未久，胃氣尚強，急當推之，而後議補，則無反顧之憂。若無機會，遷延日遠，莫能為計，欲補則無成功，欲攻則胃氣已壞，畏首畏尾，待死而已。此其三愆也，乃愆之中者也。予壯歲患此症，莫能瘳。幸遇至人，指示軒歧要領，病之禁忌，恬淡內觀，三年乃起，以此深悟此三大愆。不敢自秘，謹將慎密授受法治吐露篇末，以惠蒼生。不識同志者，宜少其故轍否耶？生生子治勞三大愆，可謂詳悉醫藥之誤。然此乃醫之過也。至病者不知調攝，往往自誤，雖有良劑，亦莫能救。昔者治一友，呈以調病十則，令貼座右，依法行之，果全愈。</p>
<p>仲景，醫門聖也。其治虛勞，大意謂精生於穀，穀入少而不生其血，血自不能化精。</p>
<p>〔內經〕於精不足者，必補之以味。味者，五穀之味也（穀粟果菜，皆天賦自然沖和之味，故以食人，補陰之功非醯醬烹飪偏濃之味出於人為者），補以味而節其勞，則積貯漸富，大命不傾。設以雞口之入，為牛後之出，欲其不成虛勞，寧可得乎？夫男子平人，但知縱欲勞精，孰知陰精日損，飲食無味，轉勞轉虛，轉虛轉勞，脈從內變，血不外華，精液衰而口渴，小便少，甚則目瞑衄血，陰精不交自走，盜汗淋漓，身體振搖，心驚膽怯者，比比然也。故血不化精，則血痹矣。血痹則新血不生，並素有之血亦瘀積不行。血瘀則營虛。營虛則發熱。熱久則蒸其所瘀之血，化而為蟲，遂成傳尸勞瘵，不可為矣。以仲景先師諄諄致戒，無非為營衛之道，納穀為寶，居常調營衛以安其穀；壽命之本，積精以自剛，居常節嗜欲以生其精。至病之甫成，脈才見端，惟恃復脈建中為主治。夫建中復脈，皆稼穡作甘之良藥，一遵精不足者補之以味之旨也。豈有泉之竭矣，不云建中之理哉！後人補腎諸方，千蹊萬徑，以治虛勞，何反十無一全？豈非依樣葫蘆，徒資話柄耶！及其血痹不行，仲聖並驅其舊，生其新，幾希於勞瘵將成未成之際，誠有一無二之聖法。第牽常者不能用耳。試觀童子臟腑柔脆，才有寒熱，易於結癖成疳，待其血痹不行，氣蒸發熱，則不可為。女子干血經閉，發熱不止，勞瘵之候更多，待其熱勢成，縱有良法，治之無及。倘能服膺於仲景幾先之哲，吃力於男子童子女子瘵病將成未成之間，其活人之功，皆是起白骨而予生全，為彼蒼所眷注矣。</p>
<p>凡治虛損之病，當從〔難經〕治法，損其肺者，益其氣（四君子東加黃　、麥冬、五味、山藥之類）；損其心者，調其營衛（八味東加枸杞、棗仁、石斛、柏子仁）；損其脾者，調其飲食，適其寒溫（四君子湯、補中益氣湯、建中湯、參朮膏之類）；損其肝者，緩其中（四物湯，倍白勺、甘草、枸杞、山萸）；損其腎者，益其精（熟地、牛膝、人參、五味、菟絲子、蓯蓉之類）；此治損之法也。今人樂看方書，不過是明醫雜著，（諸症辨疑）、（活人指掌）等小書，識見淺近，易於觀覽。宋元以前諸大家之旨，有至老未嘗觸目者。間有涉獵丹溪治陰虛之法，固未嘗純棄人參。節齋則畏之如虎。汪石山治病用參　論及營衛論云：丹溪論陽有餘而陰不足者，乃對待之言，是大概之論，陰虛乃營中之陰氣虛，非特言腎虛也（此論宜深思，熟以記之）。此言發前人所未發，深有功於丹溪者。近代諸公所云陰虛，非精即血，故用藥惟養血滋陰。殊不知滋陰養血之品，非苦寒即濕滯，蓋苦寒傷脾，濕滯害氣，凡人一身，只陰陽二氣，若陰氣生發，陰氣皆化而為血，用之反害陽氣，陽氣陷下，反化而為火矣，此理之不可不明也。</p>
<p>凡治虛勞，當先察其病從何起，次則辨其陽虛陰虛，更當審其病重何臟。大凡虛勞之症，以脾腎兩臟為兩大綱。蓋腎為先天之根，脾為後天之本也。然治脾之藥，多礙於腎；治腎之藥，多礙於脾；善用者必使治脾之藥無礙於腎，治腎之藥無礙於脾，斯為上著。如表裡兩法，虛勞門中在所不用，亦有不得不用者，蓋人正氣虛，則易感邪，風寒暑濕之來，反滋病勢，客邪不盡，難於就補。又如血痹不行，仲景聖法急驅其瘀，以生其新，不觀顧其虛，惟重逐其邪以存正。又如丹溪所云虛勞之熱，積病最多，始則可用子和法及倒蒼法，如荊蓬煎丸，皆虛勞門中必用之品。夫業醫者，膽欲大而心欲小，毅然獨斷於中，病所當瀉，則須瀉之，幸毋曰虛弱者何敢弄險。經云：有故無殞，亦無殞也。設務姑息，而一惟調補，此猶南宋和議之說，豈知邪正不兩立，王業不偏安，然不伐賊，王業亦亡。坐而待亡，孰與伐之。古人以醫譬國，豈徒語哉！虛勞脈法　越人始論損脈，其曰脈來軟者為虛，緩者為虛，遲者為虛，芤為中虛，脈來細而微者血氣俱虛，脈小者氣血俱少，脈沉小遲者脫氣。仲景更其名曰虛勞。虛勞之脈，更兼浮大，其曰平人脈大為勞，極虛亦為勞，又謂浮者為裡虛。勞之為病，其脈浮大，手足煩，春夏劇，秋冬瘥，男子浮弱而澀，為無子；脈得諸芤動微緊，男子失精，女子夢交，脈極虛芤，為清穀亡血失精，脈微弱而細微者，善盜汗。而總其義曰，脈弦而大。弦則為減，大則為芤，芤則為虛，虛寒相搏，此名為革，婦人則半產漏下，男子則亡血失精（脈大弦緊，外象有餘，其實中藏不足，不專泥遲緩微弱一端以驗脈也）。凡虛損脈，數為胃氣不足，若脈數至八九至，此真元虛極，多不治。經云：數則元氣虛，數則脾氣虛，數則有熱而屬虛（大凡脈大而數，按之有力者，胃氣未傷，可任滋陰清火之藥。若數而無力，元氣已虛，滋陰苦寒之藥概不得用。若豁然大而數之脈，此陽中陰虛，一切滋陰之藥用之決不效。</p>
<p>虛症脈見數，病已入深。若數大有力而和，為病三分；虛弱而數，病已六分；細數緊數，多不治）。若數脈轉弱者，胃氣生發之兆。短數則無胃氣。細數緊數，俱非吉兆。弱則無火，細則無水，數則無陽（數為陰火，陽為真氣，陰火旺則陽氣虛，是壯火食氣也）。細數則氣血兩虛，骨蒸勞瘵之病已成矣。左尺脈虛弱或細數，是腎經真陰不足，用六味丸；若洪而有力，六味中加肉桂以引火歸元。右尺脈遲軟或沉細，是命門真火不足也，用八味丸；若洪而有力，可暫用知母等。兩尺脈微弱，是陰陽俱不足也，用十全大補湯。兩尺脈浮，肺氣先絕（金不生水也）。左尺脈弱，右尺脈大，病名虛損，調理非二三年不可。右尺脈浮而有力，為邪脈，後必泄瀉喘促而亡。凡豁大脈久病，按下尚有渾渾一條者，此陰陽未離，尤可治也。若無一條，間在兩邊，此陰陽已離，決不治。此脈常主作瀉，蓋夫陽虛不能固下，而陰與陽不相合，故下不禁而作瀉也。凡久病脈，浮中沉俱和緩，體倦者決死。其面色光潤，此精神皆發於外，決難療矣。</p>
<p>虛損久病，俱是傷脾，則肺先受之。肺病則不能管束一身。脾病則四肢不能為用。謹養胃氣，以胃為萬物生化之源。人但知脾胃喜燥，而不知脾陰不足，相火亢拒，再以燥藥投之，是反助其火也。但當甘溫之藥，滋生元氣，四君保元，或參苓白朮散。火起不必治火，有痰不必治痰，久病以火為主，火為養命之源，病急宜緩治，攻則離散，不可不知！凡虛損咳嗽吐血，宜保元湯，加炒黑乾薑、五味子。服十數劑，諸症俱減，忽瀉兩三次，此吉兆也，乃脾氣醒而濕熱動；六脈平和，忽見咳嗽，亦吉兆也，乃肺氣舒而濕痰開豁也；仍守前方，諸症自愈。內傷虛損，皆火兆也，而水在下（水火不交），故發咳嗽而喘，此皆滋陰降火所致也。初用桂制芍藥、吳萸少許，及甘草、人參、五味、半夏、故紙、杜仲，一溫則火不行，水上升，如或作瀉，則陽下行，而胃中所積宿食水穀行矣。凡虛損肺，脈大，氣喘，下部脈弦細弱，此皆陽上越而不降，內寒外熱，上熱下寒之症，用人參（一錢）　桂制白芍（一錢）　乾薑（三分）　半夏（一錢）　五味子（十五粒）　甘草（生炙各三分）　溫中內收陽氣降下。</p>
<p>溫肺湯（白芍，桂汁拌炒）　枳殼（五分）　甘草（五分）　引陽氣上升　大棗　半夏（各一錢）</p>
<p>黑薑（五分）　肉桂（五分）　五味（九粒）　煎服，發喘加麻黃金浮水升也。細辛、肉桂、五味子，皆所以溫腎。腎水溫暖，則氣上行，氣即水中之金，是金浮也，所謂寒從地起也。上行之氣熏蒸於肺，停而為津液者，復化而為水，是水下也，所以水從天降也。木者火之母也，木浮則火在上而腎氣浮，寒沉則水在下而腎氣溫。其有咳嗽面赤，六脈數，懶言語，怕人鬧，此皆腎氣不足，治以補脾生肺滋腎之藥五六帖，而數脈不減，此真元虛而邪火爍也，亦用前法，以藥煎去頭煎，服第二三煎，不十劑而數脈退去。那時虛火一退，中氣便寒，用六君子加乾薑、肉桂，服五六帖，脾氣營運，痰氣亦行，或流於肝腎部分，腰以下痛，須外以炒鹽熨之，內服二陳東加桃仁、玄胡、苡仁二帖，大腸見痰血而痛止，以後服宜補脾。虛勞久病，泄瀉不止，其症多危，慎齋方（陳臘肉骨灰　銅心鍋焦（各三錢）　炒松花（一分）　為末，糊丸，人參湯下，此妙方也，用之活人多矣。</p>
<p>以上論虛損諸法，本於慎齋者多，其意專在益氣扶脾養陰，與治勞瘵之法實有不同。蓋虛勞實似勞之症也，若不辨明脈症，概以寒涼滋陰之品治之，死者多矣。其可不究心於此篇乎！節齋云：凡人二十前後，色欲過度，或勞心竭力，以致傷其精血，必生陰虛火動之病，睡中盜汗，午後發熱咳嗽，倦怠無力，飲食少進（亦有火旺主消，飲食倍常者），甚則痰涎帶血絡吐出血，或咳血，或吐衄血（或有因虛火亢而動血者，亦有因血虛而生火者），身熱，脈沉數，肌肉消瘦，此名勞瘵（此與虛損元氣不足者兩各不同），最重難治，輕者必用藥數十帖，重者期以歲年。然必須病者愛命，堅心定志，絕房色，息妄想，戒惱怒，節飲食，以自培其根，否則雖有良藥，亦無用也。此病治之於早則易，若到肌肉消瘦，沉困著床，沉伏細數，則難為矣。（此節齋之說也，其本於丹溪。但其所云火病大忌服人參，則其所用之藥，以四物、二冬、知母，皆苦傷脾之品，今人多宗而用之，其禍獨盛，故不錄。症以色欲過度，勞心勞力，傷其精血，以致陰虛火動。其火之動，由於精血之不足也。精血不足，方用滋陰降火，補血填精以治之，固矣。殊不知精血既傷，真陰不足，但知補其精血之標，而不知真陰為精之本也。苟知真陰為精血之本，而不知脾為至陰，精血賴之以生，滋陰降火，害其脾陰，自戕其生生之本也。語云：識其標，只治本，治千人，無一損。虛勞為極虛之症，知其虛而不補，是舍本求末也，何怪其敗乎！〔金匱〕云：五勞虛極羸瘦，腹滿，不能飲食。食傷、憂傷、勞傷、飲傷、房室傷、飢傷、經絡營衛氣傷（此即七傷也。後人又有陰寒陰痿、裡急、精速精少、陰下濕、精滑、小便苦數、臨事不舉，七傷之名。然五勞既分主，豈五臟七傷而獨主腎之一臟之理？當以〔金匱〕為法也，）內有干血，肌膚甲錯（甲錯者，肌膚如鱗甲錯出也），兩目黯黑，緩中補虛，大黃　蟲丸主之大黃（十分，蒸）　黃芩（三兩）　甘草（三兩）　桃仁（一升）　杏仁（一升）　白芍（四兩）　乾薑（十兩）　乾漆（一兩）　虻蟲（一升）　水蛭（百枚）</p>
<p>蠐螬（一升）　蟲（半升）　共研細末，煉蜜丸如豆大，酒飲服五丸。按虛勞發熱，未有不由瘀血者。而瘀血若無內傷，則營衛營運不失其次，瘀從何起？是必飲食起居過時失節，營衛凝滯，先成內傷，然後隨其氣所阻之處，血為瘀積。瘀積之久，牢不可拔，新生之血不得周灌，與日俱積，其人尚有生理乎？仲景施活人手眼，以潤劑潤其血之干，以蠕動啖血之物行死血，名之緩中補虛，豈非以行血去瘀為安中上著也？然此特世俗所稱干血勞之良劑也，血結在內，手足脈相失者宜之（手足相失者，如寸口脈浮，趺陽脈沉，寸口脈大，趺陽脈小，此謂相失），兼入瓊玉膏（滋以血液）潤補之藥，同用尤妙。又細參其症，肌膚甲錯，面目黯黑，及羸瘦不能食（必有是三症，兼手足脈相失，其中必有瘀血，方敢下之。審之不當，又不可概用也，慎之），全是營血瘀積胃中而發，現於肌膚面目。所以五臟失中州之灌溉而虛極也，此與五臟之本病不同，故可用其方，而導去其胃之血以內穀而流通營衛耳。許州陳大夫傳仲景百勞丸云：治一切勞瘵積滯，不經藥壞者宜服當歸　乳香　沒藥（各一錢）　虻蟲（十四個）　人參（二錢）　大黃（四錢）　水蛭（十四個）　桃仁（十四粒）為末，蜜丸如桐子大，每作一服至百丸，五更用百勞水過服，下惡物為度，服白粥十日。百勞水即甘瀾水，以杓揚千遍。前方大黃　蟲丸，仲景虛勞門中首重此方，以虛勞發熱，由於瘀血者多，此為虛中實症，先師罔顧其虛而急用此方，驅瘀生新，真聖法也。後人皆畏而不敢用，待死無救，痛哉！殊不知虛勞發熱干血之症甚多，與其束手而待斃，莫如取用以求生。聖法煌煌，豈虛語哉！但用此法者，必須詳明脈症，審其果有干血，用之又何慮乎？若非干血症，此法又不可亂用也。〔金匱〕於虛勞不足之證，取用小建中湯虛勞裡急、悸衄、腹中痛、夢失精、四肢酸疼、手足煩熱、咽乾口燥，小建中湯主之。桂枝　炙草（各三兩）　飴糖（一升）　大棗（十二枚）　芍藥（六兩）　生薑（一斤）、黃　建中湯（虛勞裡急諸不足，黃　建中湯主之，即於小建中湯內加黃　一兩五錢），重用甘草，一遵〔內經〕精不足者，補之以味之旨。蓋虛勞病而至亡血失精，消耗精液，枯槁四出，難為力矣。此時若再以苦寒之味，傷其中氣，有死而已。惟用稼穡作甘之味，急建其中，俾飲食增，精液旺，以至充血生精，而復其真陰之不足，非聖法而何（若藥味過食甘，嘔家忌之。</p>
<p>若服之漸覺氣阻氣滯者，更當增入橘皮、砂仁以行之也）。（千金翼）取〔金匱〕炙甘草湯炙甘草湯一名復脈湯。虛勞不足，汗出而悶，脈急，悸，行動如常，不出百日。危急者十一日死。炙草（四兩）　桂枝　生薑（各三兩）　麥冬（半升）　麻仁（半升）　人參　阿膠（各二兩）　大棗（三十枚）</p>
<p>生地黃（一斤酒七升），以治虛勞。此方治傷寒脈結代，心悸動，邪少虛多之症，今虛勞門中並用此法，亦於建中湯推展其意。原虛勞之體，多有表熱夾陰虛者，所以其症汗出而悶（傷寒汗出而熱解，虛勞汗出而反悶，所以傷寒宜汗，虛症不可汗也），表之固非，但滋陰亦非。此方用地黃、門冬、人參、阿膠大隊養陰之藥，加以薑、棗、桂枝和其營衛，服之有汗，而脈出熱解。但虛勞之人，胃中津液素虛，非傷寒暴病邪少虛多之比，桂枝分兩太多，服之津液每隨熱勢外越，難以復收，多有淋漓沾濡一晝夜者。透出此關，急以本方去桂枝、生薑二味，三倍加入人參，隨繼其後，庶幾津液復生，乃致營衛盛而諸虛盡復，豈不快哉。</p>
<p>丹溪論勞瘵主乎陰虛者，蓋自子至巳屬陽，自午至亥屬陰，陰虛則熱在午後子前。寤屬陽，寐屬陰，陰虛則汗從寐自盜出也。升屬陽，降屬陰，陰虛則氣不降，而痰涎上逆，連綿不絕也。脈浮屬陽，沉屬陰，陰虛則浮之洪大，沉之空虛也。此皆陰虛之證，用四物東加黃柏、知母主之。然用之多不效者，何哉？蓋陰既虛矣，火必上炎，而當歸、川芎皆氣辛，味大溫，非滋陰降火之藥。又川芎上竄，尤非虛炎短乏者所宜。地黃泥膈，非胃熱食少痰多者所宜。黃柏、知母苦辛大寒，雖曰滋陰，其實燥而損血，雖曰降火，其實苦先入心，久而增氣，反能助火，至其敗胃，所不待言；不若用苡仁、百合、天麥冬、桑白皮、地骨皮、丹皮、枇杷葉、五味子、棗仁之屬，佐以生地黃汁、藕汁、人乳汁、童便等；如咳嗽則多用桑白皮、枇杷葉；有痰加貝母；有血多用苡仁、百合、阿膠；熱甚則多用地骨；食少則多用苡仁米至七八錢；而麥冬常為之主，以保肺金而滋生化之源，往往應手而效。蓋諸藥皆稟燥降水之氣，氣之薄者為陽中之陰，氣薄則發泄，辛甘淡平寒涼是也，以施於陰火動之證，又當溽暑伊芳郁之時，而商　一動，炎敲如失矣（火氣稍平，又當用甘溫以復其本），與治暑熱用白虎湯同意。然彼是外感，外感為有餘，故用寒沉藏之藥，而後能補其偏；此是內傷，內傷為不足，但用燥收降之劑，而已得其平矣；此藥之權衡也。</p>
<p>虛勞之疾，百脈空虛，非黏膩填之，不能實也。精血枯涸，非滋濕之物濡之，不能潤也。宜用人參、黃　、地黃、二冬、枸杞、五味之屬，各煎膏，另用青蒿，以童便熬膏，及地黃汁、藕汁、乳汁、薄荷汁，隔湯煉過，酌定多少，並麋鹿膠、霞天膏，合成和勻，每日用一匙，滾湯化服。如欲行瘀血，加入醋煮大黃、元明粉、桃仁、韭汁之屬（瘀血乍流於胃，周身之血尚未痹者，可加用之，免致枯涸之患）。欲止血，加入京墨之屬。欲行痰，加入竹瀝之屬。欲降火，加入童便之屬。</p>
<p>凡虛勞之症，大抵心下引脅俱瘀。蓋滯血不消，新血無以養之，尤宜月膏滋加韭汁桃仁泥。</p>
<p>呼吸少氣，懶言語，無力動作，目無精光，面色　白，氣血兼虛，用麥冬　人參（各三錢）</p>
<p>陳皮　炙草　桔梗（各五錢）　五味子（二十一粒）　為極細末，水浸油餅為丸，如雞子豆大，每服一丸細嚼，津液咽下，名精氣丸。</p>
<p>氣虛生脈散（人參　麥冬，五味子，補肺即所以補氣，肺為諸氣之本也），不用白朮（白朮性燥，恐傷陰也）。血虛則三才丸（人參　天冬　地黃，補腎即所以補血，腎為諸血之源也），不言四物（四物濕滯，恐礙脾也）。以上諸勞諸方，首選大黃　蟲丸，重在逐瘀血。瘀血不去，新血不生，是驅邪以存正也。次用建中諸法，俾建立中氣。蓋中氣足，五臟得滋，是陽生而陰長也。再用苡仁之屬以治肺虛，是金清而化行也。後用地黃膏滋之屬，以補腎氣，乃壯水以生陰也，較之四物知柏之屬為佳也。</p>
<p>陳藏器諸虛用藥凡例；虛而多夢紛紜，加龍骨。虛勞頭痛發熱，加枸杞、葳蕤。虛而欲吐，加人參。虛而不安，亦加人參。虛而多熱，加地黃、牡蠣、地膚子、甘草。虛而冷，加當歸，川芎、乾薑。虛而損，加鐘乳、蒺藜、蓯蓉、巴戟。虛而大熱，加黃芩、天冬。虛而多忘，加茯神、遠志。虛而口乾，加麥冬、知母。虛而吸吸，加胡麻、覆盆子、柏子仁。虛而多氣，兼微咳，加五味子、大棗。虛而驚悸，加龍齒、沙參、紫石英、小草。若冷，則用紫石英、小草。若客熱，則用沙參、龍齒。不冷不熱皆用之。虛而身強，腰中不利，加磁石、杜仲。虛而多冷，加桂心、吳萸、附子、烏頭。虛而勞，小便赤，加黃芩。虛而客熱，加地骨皮、黃　。虛而有痰，加生薑、半夏、枳實。虛而小便利，加桑螵蛸、龍骨、雞　。</p>
<p>虛而小便不利，加茯苓、澤瀉。髓竭不足，加地黃、當歸。肺氣不足，加二冬、五味子。心氣不足，加人參、茯苓、菖蒲。肝氣不足，加天麻、川芎。脾氣不足，加白芍、白朮、益智。腎氣不足，加熟地、遠志、丹皮。膽氣不足，加酸棗仁，地榆。神昏不足，加朱砂、預知子、茯神。</p>
<p>虛勞之症，皆見發熱，而虛損之熱，多發於外，輕手按之即得，或潮熱，或往來寒熱，熱有定時，不比骨蒸之熱，熱在於裡，皮膚不為大熱，按之筋骨之分，則熱愈甚，熱無定時，或至下午則更熱而煩，兩顴赤色，此勞瘵之熱深與虛勞之熱異也。虛勞發熱，治法俱全，骨蒸之熱，治法有國中末之層次。大凡蒸未久，血未痹，脈不至弦澀數、細數，其病尚淺，治之可用輕揚清肌諸藥，或逍遙散（白朮　茯苓　白芍　當歸　柴胡　炙草　薄荷　生薑）、茯苓補心湯（四物湯合參蘇飲）、人參柴胡散（茯苓　白朮　柴胡　半夏曲　赤芍　當歸　人參甘草　干葛）、秦艽鱉甲散（鱉甲　柴胡　地骨皮　知母　秦艽　當歸）。若蒸已日久，營血已虧，脈來見數，食少形羸，治之已難，即當用建中、復脈、六味諸方。若飲食未減者，或用草還丹（青蒿一斗五升　童便三斗　文武火熬，約童便減二斗，去蒿再熬至一斗，入豬膽七枚，再熬數沸，用甘草末收和為丸，如桐子大，每服五十丸），參以清肌諸味，加鱉甲、秦艽、丹皮、地骨皮、知母、薄荷、銀柴胡；或五蒸湯（茯苓　甘草　竹葉　地黃　干葛　知母　黃芩　石膏　粳米　水三盞，小麥二合，煎至二盞，去麥，納諸藥，煎至一盞服）；如葛可久保真湯，補虛清熱，皆可選用。若骨蒸日久，血痹不行，當用祛血法，大黃　蟲丸。若食少形羸，此法不可用矣，惟宜平調氣血，或冀什一。至若凝血化蟲，食人精血，昔人雖有獺肝殺蟲諸法，亦惟脾氣未敗，形體尚充，脈雖數而中有胃氣，亦必病患耐煩堅心，或入山林，或居靜室，清心戒欲，專意保養，庶幾可望。否則雖有良法，亦何用哉！骨蒸由氣血虛不能化血，血干則火自沸騰，肉如針刺，骨熱煩疼，或五心俱熱，或兩肋如火，或子午相應，或晝微惡寒，夜發大熱。雖腎經所主，傳變不常，蒸上則見喘嗽痰血、唇焦舌黑、耳鳴目眩等症，蒸下則見夢遺淋濁、泄瀉、腰疼、腳痛等症，蒸中則見腹脅脹痛、四肢倦怠等症。</p>
<p>傳尸由血虛不能化精；血不化情，則血痹矣；血痹則新血不生，並素有之血亦瘀積不行；血瘀則營虛；營虛則岌熱；熱久則蒸其所瘀之血，化而為蟲，遂成傳尸瘵病，窮凶極厲，竭人之精氣，養蟲之神氣。人死則蟲亦死，其游魂之不死者，傳親切之一脈，附入血隧，似有如無，以後蟲日榮長，人日凋瘁，經三傳而蟲為靈，非符藥所能制矣。蘇游論曰：傳尸之候，先從腎起，初受之，兩脛酸疼，腰背拘急，行立腳弱，飲食減少，兩耳颼颼直似風聲，夜臥遺泄，陰汗痿弱，腎既受訖，次傳於心，心初受之，夜臥心驚，或恐悸心懸，氣吸欲盡，夢見先亡，有時盜汗，飲食無味，口內生瘡，心氣煩熱，惟欲眠臥，朝輕夕重，兩頰口唇悉皆赤紋如胭脂，有時手足五心煩熱。心既受已，次傳於肺，肺初受之，咳嗽上氣，喘臥益盛，鼻干口燥，不聞香臭，如或忽聞，惟覺朽腐，有時惡心欲吐，肌膚枯燥，時或疼痛，或似蟲行，干皮細起，狀如麩皮。肺既受已，次傳於肝，肝初受之，兩目　，面無血色，嘗欲顰眉，視不能遠，日常干澀，又常赤痛，或復睛黃，常欲合眠，及時睡臥不著。肝既受已，次傳於脾，脾初受之，兩脅虛脹，食不消化，及時瀉利，水穀生蟲，有時肚痛，腹脹雷鳴，唇口乾燥，或生瘡腫，毛髮干聳，無有光潤，或時上氣，撐肩喘息，利赤黑汁，見此症者，不可治也。</p>
<p>傳尸，男子自腎傳心、肺、肝、脾，女子自心傳肺、肝、脾、腎，五臟復傳六腑而死矣。有始終只傳一經者，有專著心腎二經而不傳者，大要以脈症為驗。</p>
<p>抱拙子曰：勞瘵之症，有骨蒸、　、伏連、尸疰、勞疰、蟲疰、毒疰、熱疰、冷疰、食疰、鬼疰。若骨髓熱者，為骨蒸；半臥半起，為　；五臟內傳，為伏連。諸疰者，即今之傳尸也。蓋疰者，注也；自上注下，與前人相似，故曰疰。其變多種，大概令人寒熱，沉沉默默，不的知其所苦，無處不患。世之人聞其名則神驚而志恐，一抱其病，謂之必死無生，往往淹延，竟至不救，傷哉！此病四方之民皆有之。然東南之民，患者接踵，有傳染而殞絕子孫者。西北方患者甚少，是何故耶？蓋西北之地，土濃水深，居民食面啖肉，不嗜湯飲，居稟實，臟腑固；東南之地，土薄水淺，居民食米啖魚，多嗜湯飲，居稟弱，臟腑滑；所稟既殊，血氣亦異，方土之所致也。凡人一身之間，三尸九蟲，均有至矣（前云血泣化蟲，此云三尸九蟲，其說不同何也！蓋血瘀熱蒸化而為蟲者實有之，而三尸九蟲因人之虛而為患者亦必然之事，治者但當察其蟲之果否而治，不必究其蟲之何起何滅也），人呼則呼，人吸則吸；北人肌肉濃，膚腠密，有以滋養，隱而不動；南人肌肉薄，膚腠疏，無以滋養，動而不隱，不隱則害人。始而呼吸血氣，血氣既少，呼吸真氣，真氣既衰，其蟲亦困，將隨人殞。獨肺蟲一種，則稟殺厲之氣，已成靈物，人將氣絕，飛遁而出（患傳尸勞而死者，氣絕死時果有蟲自鼻飛出，知者預用綿裹其面，而親戚諸人亦不得空腹近之，體虛者自當愛護及遠避之，為先著也），變化不測，一著虛衰之人，則至於死，所以為之傳尸瘵瘵。古方雖有狸骨、獺肝、天靈蓋等方，用之未嘗見效。惟在辨症分明（辨之之法，須用的乳香熏病患之手，乃仰手以掌心復其上，熏良久，手背上出毛長寸許，白而黃者可治，紅者稍難，青黑者即死。若熏久無毛長者，即非此症。又法，燒安息香令煙入病患口，吸之，咳嗽不止者，乃傳尸也；不嗽者，非傳尸也），若血氣未敗，精神未散，脈不弦數之時，早用崔氏灸四花穴法（崔氏四花穴，六代傳尸：第一代蟲傷心，宜灸心俞穴，並上下如四花樣；第二代灸肺俞四穴如前；第三代灸肝俞四穴如前；第四代灸厥陰四穴如前；第五代灸腎俞四穴如前；第六代灸三焦俞四穴如前）及藥症相對，必有所濟。若以為難治之症而即棄之，非仁術也，其可乎哉！瘵病最易傳染，人能保護元氣，節勞斷欲，蟲不可得而傳也。惟縱情恣欲，精血內耗，邪乘虛入，以致傳染，或婦病思男，男病思女，一覿其面，隨即染傷，不可不知也。治療瘵之法，固本為先，驅蟲為次，安息、阿魏、蘇合、沉香、冰、麝、犀角、雄精，皆有驅邪伐惡之靈，更須以天靈蓋助之。蓋尸氣淹纏，得枯骨導之，使鬼飛越，於是乎瘥。外則虎牙、狸骨、水獺、穿山、全蠍、蜈蚣，皆猛厲之品，可以奪尸蟲之魂。要之先以芎、歸、血余散之於根本之地。尸疰二症，惟調養如法，用藥得宜，果有生全者。始治先於癸亥日二更六神皆聚之時，灸腰眼穴七壯，然後用藥，倘不能待，先用藥亦可。疰病即似勞症，但兩足無力，行則酸疲是也。其治法六脈洪數，六八物湯；脾肺不足，補中益氣；睡不穩，歸脾湯；不思食，六君子湯；隨症類推。但煎劑中須加入忍冬葉三錢同煎，本草以其葉能治尸疰也，煎膏亦可。（灸腰眼穴，治令病者解去下衣，舉手向上，略轉後些，則腰部兩旁自有微陷可見，是名鬼眼穴，即俗人所謂腰眼穴也。正身直立，用黑點記，然後上床合面而臥，用艾炷灸七壯，或十一壯尤好，其蟲必於吐瀉中而出，燒毀遠棄之，可免傳染，此比四花等穴尤易見效）〔金匱〕治冷勞鬼疰一門相染，附肘後獺肝散一方（獺肝一具，炙干，末之，水服方寸匕，日三服），乃殺蟲之良劑也。然此但能殺蟲，未可逐瘀。仲景另出手眼，制緩中補虛，大黃　蟲丸一方。又援陳大夫百勞丸一方加入人參，只作一服，以取頓快。蓋於此時而用力方圖，十全其五也。迨至束手無策，而取用獺肝以去其蟲，蟲去其人可獨存乎？然蟲亦不可不去也，臟氣未敗，尚或望其可生也。</p>
<p>羅氏紫河車丸，云治傳尸勞，三月必效，其余勞症只消數服。紫河車丸：河車一具（用米泔水浸一宿，洗淨焙乾）　鱉甲（酥炙）　桔梗　胡連　白芍　大黃　龍膽草　敗皮鼓心（醋炙）</p>
<p>黃藥子　貝母　知母（各二錢半）　芒硝　犀角　莪朮（各一錢五分）　辰砂（二錢）　蜜丸，辰砂為衣，空心酒溫服四十丸。）</p>
<p>陳無擇治勞蟲法：桃枝　柳枝　桑枝　梅枝　石榴枝各七莖（長四寸）　青松一小握　用童便一升半蔥白七莖（去頭葉）煎及一半，去渣，另真安息香　阿魏（各一分）　煎一鐘，濾去渣，調辰砂（半錢）</p>
<p>檳榔（一分）　麝香（一分）　分作二服調下，五更初一服，五更三點後一服，至巳時後取下，蟲色紅者可治，青者不可治。見有所下，即進稀粥飲，溫暖將息，忌粉面、生冷、毒物。合時須擇良日，不得令貓犬、孝服、豕兔、婦人見之。</p>
<p>凡治傳尸，一月之中，上旬十日蟲頭向上，用藥治之易為力，中旬下旬蟲頭向下，雖治無功。經云：六十日治，十得七八；八十日治，十得三四。過此以往，焉保生全。集方外還丹，生生子曰：余游方之外，殆五十有年所矣，至人難遇，大藥煉難。抱朴子曰：不得已金丹。若服草木之藥，及修小術，可以延年遲死，但不得仙也。顧人之難得者生。釋曰：生死事大，無常迅速。凡為道者，常患於晚，不患於早也。余故采仙經要語，以示人之攝養須當及時，藥餌須早修制。不可盡委之天命，蓋人定亦可勝天也。仙經云：養身以不傷為本。傷之一字包括甚廣，非獨五味七情過多為傷，如才所不逮而困思之為傷，力所不勝而強舉之為傷，汲汲所欲為之為傷，久談言笑之為傷，寢息失時之為傷，沉醉嘔吐之為傷，飲食即臥之為傷，跳走喘乏之為傷，勉強色欲之為傷。凡言傷者，亦不便覺也，久則損壽耳。是以養生之家，唾不及遠，行不疾步，耳不極聽，目不極視，坐不致久，臥不及疲，先寒而衣，先熱而解，不欲極飢而食，食不過飽，不欲極渴而飲，飲不過多。凡食多則結積聚，飲多則成痰癖。不欲甚勞甚逸，不欲起晚，不欲汗流，不欲多睡，不欲多啖生冷，不欲飲酒當風，不欲數數沐浴，冬不及寒，夏不窮涼，不露臥心下，不眠中見肩。大寒、大熱、大霧、大風，皆不欲冒之。故善攝生者，臥起有四時之早晚，興居有至和之常制，調利筋骨有偃仰之方，杜疾閉邪有吞吐之術，流行營衛有補瀉之法，節宣勞逸有與奪之要。忍怒以全陰氣，抑欲以養陽氣，然後再服草木以救虧缺，後金丹以定無窮，長生之理盡於此矣。</p>
<p>虛勞一症，有從吐血而成者多矣。吐血之症，未必致成勞也，蓋因治之不妥，以致變勞，或用寒涼以敗其胃，或用止澀以固其流，血痹不行，內熱從起，然亦有因虛損內熱，逼其血而外脫者。大凡勞症，未見血者尚輕，已見血者為重。〔金匱〕敘勞症於血痹下，蓋以此也。凡吐血之源，七情六淫，皆足吐血；陰虛陽虛，皆能起火；血症之來，皆從火逆。然火有實火有虛火，最當詳審，或折或散，或止或行，隨症變通，幸毋膠執。入手一差，始終無救，可不慎歟！吐血之症，初起時多用大黃下之，此指體實症實，或瘀血逆行，或實火炎上，非大黃之苦寒折之下行，不足以止其滔天之勢。蓋血以下行為順，上出為逆，亦因曲而為直之法也。</p>
<p>苟涉虛而或病久者，其可妄下之乎！下後即當謹慎，浚其源而導其流，氣血兩相依附，何虛損之有哉？此以攻為補之一策也。</p>
<p>吐血之因，雖有六淫七情之不同，然其要當辨虛實新久。失血之症，有吐、咯、咳、衄之各異，其臟有心、腎、肝、脾。失血之初，雖云屬火者多，不知來時屬火，至後屬虛。寒涼能治實火。若血後火起，虛乎實乎？失血之久，雖云屬虛者多，要知始雖屬陰虛，久則氣虛。滋陰能滋陰血。若血虛氣脫，宜乎否乎？古人血脫益氣，參　仍為要劑。今治血虛，專執四物。失血為症最多，治之不得其法，則生殺反掌。虛勞為症最大，醫而不知其要，是猶入井投石。胸中無見，必然蒙朧，人之死也，醫乎天乎？六淫：六淫之邪，從外來，屬實者多。七情：七情之傷於五內，屬虛者多。虛實：虛則宜補，當辨虛中有實；實則當瀉，須知實裡藏虛。新久：新而暴者宜行宜清，久而緩者宜止宜補。吐：吐血嘔血出於胃，吐血成碗成盆也。咯：咯血唾血出於腎，血如紅縷，在痰中吐出隨咯而出也。咳：咳血嗽血出於肺，或夾痰而咳者，或嗽血而無痰。衄：衄血亦出於肺，但血及行清道，乃行經之血，走而不守，隨氣而行，火氣急，隨經犯清道而出於鼻也。心：統攝於心。腎：施泄於腎。肝：歸藏於肝。脾：生長於脾。</p>
<p>吐血有煎厥、搏厥之分。煎厥者，從陰虛火動，煎灼既久，血絡漸傷，旋至吐血，其勢雖緩，其病已深。搏厥者，多挾肝火，經云：火怒則形氣絕而血苑於上，使人搏厥。搏即雷風相搏之搏。心熱為火，肝熱為風，風火相搏，厥逆上衝。風來如潮涌之勢，渤渤　若有聲，其血直沖而出，其勢甚急。故治煎厥，當養陰清火為主，新起未虛，或兼降火消痰。</p>
<p>搏厥勢急，其暴起而體實者，宜直折之，如大黃、桃仁、赤芍、丹皮之屬。若病久體虛，血來暴出不止，又當止之，如十灰散（大薊　小薊　柏葉　荷葉　茅根　茜根　大黃　山梔丹皮　棕櫚炭　上藥燒灰存性，研細，紙包碗蓋地上一夕。用時先以白藕打碎絞汁，或蘿卜汁亦可，磨京墨半碗調灰五錢）、花蕊石散（花蕊石燒過存性，研末，用童便一盞，煎醋調末三錢，極甚者五錢，食後服。如男子病，則和酒一半；婦人病，則和酒醋一半，同調藥，其瘀血化為黃水。服此藥後其人必解，其病體卻用後藥而補之。花蕊散治氣虛血凝瘀積壅聚，胸膈作痛，宜用重劑）。若內損吐血，出如涌泉，口鼻皆流，不急止之立死，方用側柏葉散側柏葉（蒸焙一兩五錢）　荊芥穗（燒灰）　人參（各一兩）　入飛羅面（一錢）　新汲水調如稀糊，不拘時啜服。若有形之血，不能速生，無形之氣，所宜急固，無形能生有形也。若不察其虛實，誤以寒涼止血之品，有死而已。</p>
<p>繆仲純治血三法云：宜行血，不宜止血；宜補肝，不宜伐肝；宜降氣，不宜降火。其用之藥，專用白芍、炙甘草和肝，枇杷、麥門冬、薄荷葉、橘紅、貝母清肺，苡米、山藥、蓮子養脾，韭汁、番降香、真蘇子下氣，青蒿、鱉甲、銀柴胡、丹皮、地骨皮清熱，酸棗仁、茯神養心，山茱萸、枸杞子補腎。然陰無驟補之法，非多服不效。此正治陰虛火炎煎厥吐血之法也。（仲純所用諸藥，甘淡平和，不寒不滯，即地黃亦不收用，以地黃雖能止血，然濕滯之品，非痰多食少者所宜，而芎、歸辛竄，仍失血家所忌。其法可師，允為虛勞失血之良法也。）</p>
<p>慎齋云：血症屬火者多。五臟六腑皆有血症，然來時是火，至後屬虛，一概寒涼，胃氣漸虛，生發之氣漸衰。血以氣為主，血無氣養，血不歸經，脾肺虧損，而咳嗽喘促泄瀉，理必然也。血熱動火，滋陰可宜。血虛起火，若用滋陰降火，復損其氣，立盡而已。聖人立法，血脫益氣，謂升舉其陽，而血必然下降。倘氣不上升，血必不復下。可見氣有生血之妙，血無益氣之功，旨哉斯言！吐血症候，多有傷風日久，未經解散，內郁其熱。火鬱宜發之，茯苓補心湯（見前）最好。凡心氣不足，虛火上炎，或咳嗽日久而見血，或傷寒表裡不清，漸傳而至心氣耗，不能統血，與夫失血之後發熱不止，並服此方，服之立效。</p>
<p>虛勞吐血之症，多起於咳嗽。咳嗽之血，肺病也。有肺病而用止血治肺之藥多不效者，何也？蓋以但知治肺而不治腎也。人身腎脈入肺，循喉嚨，挾舌本，其支者從肺出絡心，注胸中，故二臟相連，病則俱病。腎中有火有水，水干火燃，陰火刑金，故咳。水挾相火而上化為痰，入於肺。肺為清虛之腑，一物不容，故咳嗽中有痰唾帶血而出者，腎水挾相火炎上之血也。豈可以咳嗽獨歸之肺耶？褚氏遺書津液篇云：天地定位，水火乎中，人肖天地，亦一水焉，在上為痰，在下為水，伏皮為血，從毛竅中出為汗。可見痰也、血也、水也，本一物也，血之帶痰而出者，乃腎水夾相火炎上也。又云：服寒涼者，百不一生；飲溲溺者，百不一死。童便一味，可謂治血之要藥。然但暴發之際，用之以為降火消瘀之急劑則可，若多服亦能損胃。惟六味地黃一方獨補腎水，惟不寒涼，不損脾胃（若食少面黃，大便泄瀉者，又非所宜）。久服則水升火降，又須用人參救肺補胃藥，使金能生水，滋其化源也（六味加黑薑、北五味，能止失血、潮熱，納氣歸腎）。若內傷勞倦，漸成虛損，脾肺受傷，咳嗽紅痰，寒熱似瘧，食少自汗，脈洪而豁，當從脾肺調治，慎齋法中最詳。若作陰虛火動治之，必致危殆。</p>
<p>凡治血之症，前後調理，須按三經用藥。心主血，脾統血，肝藏血，歸脾湯一法，三經之方也。遠志、棗仁補肝以生心火。茯苓補心以生脾血。參、　、甘草補脾，以調肺氣。木香者，香先入脾。總欲使血歸於脾，故曰歸，有鬱怒傷肝，思慮傷脾者尤宜。火旺者，加山梔、丹皮。火衰者，加丹皮、肉桂。再當參以八味丸，以培先天之根，治無余法矣（余治法另詳吐血門）。虛勞門中諸本其發熱、咳嗽二症，亦另立法。蓋虛勞之症，無有不兼發熱、咳嗽者，以上諸法無不兼之也，故不必再立治法。而夢遺、怔忡、自汗、盜汗，皆虛勞必有之症，當於本症參之。</p>
<h3>附五臟虛損治法</h3>
<p>凡治心虛勞者，恍惚憂煩，少顏色，或驚悸多汗，人參養營湯、歸神丹大歸神丹：人參當歸　棗仁　白茯苓　遠志（薑汁炒各一兩）　龍齒（五錢）　琥珀（五錢）　金銀箔（各二十張）　酒煮稀糊，丸如小豆大，每服二十丸，日用麥門冬湯下，夜用酸棗仁湯下、養心丸之類；虛而煩熱而渴者，十全大補湯；心懸如大飢之狀者，平補鎮心丸主之。（柏子養心丸寧心保神，益血固精，祛煩熱，除驚悸，聰明不忘）。枸杞　柏子仁（搗、用紙略去油）　生地（酒洗，蒸晒五次）　茯神麥冬　元參（各二兩）　當歸（三兩）　石菖蒲　甘草（各五錢）　為末，除柏子仁、生地黃搗如泥，余藥和入蜜丸，睡時每服五十丸，白湯下。平補鎮心丸治心血不足，時或怔忡，夜多亂夢，如墮岸穀。常服安腎，益營衛。人參　龍齒（各二兩半）　茯苓　茯神　麥冬　五味（各一兩二錢五分）　車前子遠志　天冬　山藥（薑汁炒）　熟地（酒蒸各一兩半）　朱砂（一兩五錢為衣）　棗仁（炒三錢）</p>
<p>煉蜜丸。每服八九十丸，早晚米飲湯下，或溫酒下。</p>
<p>肺虛呼吸少氣，哄然喘乏，咳嗽嗌干，宜以紫菀散（人參　紫菀　茯神　知母　五味子桔梗　阿膠　貝母　甘草）調其氣。若短氣少氣不足以息者，四君子湯。氣促氣短，上焦虛而熱者，加生脈散。虛而寒者，加十全大補湯。表虛不任風寒者，黃　建中湯。皮膚干燥，日漸黑瘦，宜麥門冬飲人參　枸杞　茯神　甘草　五味子　麥冬各五錢　加薑水煎服之。咽喉干者亦同。津液不足而咳者，四君子加五味、桔梗。</p>
<p>脾虛者，面黃肌瘦，吐利清冷，腹脹腸鳴，四肢無力，飲食少進，宜益黃散（丁香四錢不見火）　陳皮（去白二兩）　青皮（去白）　訶子（泡去核）　甘草（各一兩）　每服（一兩五錢），水煎服，量大小加減，或參苓白朮散，加木香、藿香、香附子。食後便臥，精神短少，補中益氣東加砂仁。手足酸軟，行步欹側，四君子湯、黃　湯。手足顫振，筋　肉惕似風，十全大補湯。</p>
<p>手足厥軟，不耐勞役，一有動作，多汗困熱，十全大補湯。臟腑不調，中氣不運，病久不能食，理中丸少加附子。肝虛目眩，筋攣面青，恐懼如人將捕之狀，宜六味地黃丸加牛膝、肉桂、人參、川芎、木瓜主之。</p>
<p>眠昏少精神，無比山藥丸（治諸虛百損，五勞七傷，肌體清瘦，膚槁脈弱）。赤石脂　茯苓澤瀉　山萸　牛膝（酒浸）　巴戟（去心，各一兩）　山藥　杜仲（炒去絲）　菟絲子　熟地（各三兩）　蓯蓉（酒浸焙）　五味（三兩）　為末，蜜丸，每服五十丸。目中溜火，視物昏花，寢汗憎風，行步不正，臥而多驚，補益腎肝丸柴胡　羌活　生地黃（炒）　苦參　防己炒各五分　泡附子　肉桂（各一錢）　當歸（二錢）　共研細末，雞豆大，每服五十丸，溫水送下。視物不明，筋弱陽痿，陰下濕癢，八味地黃丸。</p>
<p>腎虛者，背脊腰膝及陰內痛，耳鳴精滑，小便頻數，宜八味地黃丸去附子，加鹿茸、五味、山藥，以生其精。若腰背肩胛頭痛，不任房事，十全大補湯。腰胯腿膝無力，牛膝丸。</p>
<p>腰膝酸軟，下元虛冷，八味地黃丸。腳弱腰酸，無比山藥丸。腎冷精虛，陽事不舉，還少丹、離珠丹、金鎖正元丸、三才封髓丹選用。夢遺白濁，巴戟丸。小便如泔，寒精自出，小菟絲子丸。小便頻數而遺，十全大補東加益智。</p>
<p>離珠丹：治下焦陽氣虛弱，臍下冷痛，足　寒。杜仲（炒去絲，三兩）　萆　（二兩）　訶子（炮，五個）</p>
<p>龍骨（一兩）　破故紙　巴戟（酒浸去心，各三兩）　胡桃（一百個，去皮）　朱砂（另研，一兩半）</p>
<p>縮砂仁（五錢）　共研末，酒為丸，朱砂為衣，每服三十丸，空心溫鹽湯送下。　金鎖正元丹：五倍子（八兩）</p>
<p>補骨脂（酒浸炒，十兩）　肉蓯蓉（洗）　巴戟（去心）　葫蘆巴（炒，各一斤）　蓯蓉（六兩）　龍骨（二兩）</p>
<p>朱砂（三兩，另研）　上藥入研藥令勻，酒糊丸，每服二十丸，空心鹽湯送下。　三才封髓丸：降心火，益腎水。</p>
<p>麥冬　熟地（各五錢）　黃柏（炒，三兩）　炙草（七錢半）　砂仁（一兩半）　為細末，糊丸，每服五十丸，用蓯蓉五錢作片，酒浸一宿，次日煎三五沸，去渣，空心服。　巴戟丸：五味子　巴戟（去心）　蓯蓉　人參　熟地白朮　菟絲子　覆盆子　益智（炒）　補骨脂（去毛）　茴香（各一兩）　白龍骨（二錢半）　牡蠣（　，二錢）</p>
<p>上藥煉蜜丸，每服五十丸，空心鹽湯下。小菟絲子丸：治腎氣虛損，目眩耳鳴，四肢倦怠，夜夢遺精；又治心腹脹滿，腳膝痿緩，小便滑數，股內濕癢，水道澀痛，小便出血，時有遺瀝，並宜服之。菟絲子（酒浸，五兩）　石蓮子肉（二兩）　白茯苓（一兩）　山藥（二兩七錢半，打糊）　上味山藥糊丸，每服五十丸，空心鹽湯下，腳無力木瓜湯下。</p>
<h3>虛勞門要用方</h3>
<p>〔金匱〕桂枝龍骨牡蠣湯：桂枝　白芍　龍骨　牡蠣　生薑（各三兩）　大棗（十二枚）　甘草（二兩）</p>
<p>本文云：失精家少腹弦急，陰頭寒，目眩發落，脈極虛芤遲，為清穀亡血失精；脈得諸芤動微緊，男子失精，女子夢交。</p>
<p>十全大補湯：人參　白芍　茯苓　肉桂　川芎　黃　白朮　甘草　當歸　熟地　為粗末，每服二三錢，生薑三片，棗二枚。此方治虛勞不足，方中肉桂未可為君，審其腎虛腰腹痛者少用肉桂。若營衛之虛，須少用桂枝調之，取為佐使可也。</p>
<p>人參養營湯：白芍（一錢）　人參（一錢蜜炙）　黃　（一錢）　炙草（一錢）　五味子（炒杵七分半）　遠志（去心十一分）　當歸（一錢）　陳皮（一錢）　桂心（一錢）　白朮（一錢）　熟地（七分半）　茯苓（七分半）　薑（一片）　棗（一枚）　此方補養心脾，而生營血，於婦人科亦宜。</p>
<p>十四味建中湯：當歸（酒浸焙）白芍　白朮　麥冬　炙草　肉蓯蓉（酒浸）　人參　川芎肉桂　附子（泡）　黃　製半夏　熟地（酒浸焙）　茯苓（等分）　生薑（三片）　棗（一枚）　每服三錢，空心服。此方大補脾腎，虛勞門中要方也。但桂、附同用，腎中陽虛宜之。</p>
<p>樂令建中湯：前胡　細辛（淨）　黃　（蜜塗炙）　人參　桂心　桔皮（去白）　當歸　白芍茯苓　麥冬　炙草　半夏（各一兩）　每服四錢　薑四片　棗一枚　此方治虛勞發熱，以建其營中之血。方中有前胡、麥冬，意在退熱，亦一法也，留之。</p>
<p>附湯：（蜜炙）黃　炮附子（等分）　每服四錢，加生薑煎。治氣虛陽弱，虛汗不止，肢體倦怠。</p>
<p>參附湯：人參（半兩）　炮附子（去皮臍，一兩）　分作三服，加生薑煎。治真陽不足，上氣短急，自汗盜汗，氣短頭暈。</p>
<p>以上二方治陽之法，蓋陰虛之極者陽亦虛，又當以陽為急也。陽虛欲脫，又龍雷之火無制，非此方莫能治也。</p>
<p>保和湯：二母　二冬　冬花（各三錢）　花粉　苡仁　杏仁（炒各二錢）　炙草　紫菀　五味兜鈴　百合　桔梗（各一錢）　阿膠　生地　當歸　紫蘇　薄荷（各五分）　生薑（三片）　水煎，飴糖一匙，日三服。此方治虛勞肺燥成痿，服之大補。</p>
<p>瓊玉膏：人參（二十六兩，淨為末）　白茯苓（二十四兩，為末）　生地黃（十六斤，搗取汁）　蜜（六斤）　上汁入銀石器內，以油紙包口外，仍以箬轉縛緊，重陽內懸胎煮之，文武火不住三晝夜，入井中浸一日，去火毒，又煮一日出陰毒，取出，空心服，酒或白湯調下。</p>
<p>八味丸：即六味丸加肉桂、熟附子各一兩。此補腎之主方也。腎兼水火，腎水真陰不足，六味丸。腎中真陽不足，八味丸。此定方也。方中去附子，加五味，名都氣丸，能治腎水真陰不足，虛火上炎，咳嗽喘急，面赤足冷，上熱下寒諸症。</p>
<p>丹溪大補丸：黃柏（炒褐色）　知母（酒炒，各三兩）　熟地（酒蒸）　敗龜板（酥炙，各六兩）　共為末，豬脊髓和蜜為丸，梧子大，每服七十丸，空心淡湯送下。</p>
<p>補陰丸：黃柏（半斤鹽酒炒）　知母（酒浸炒）　熟地（各三兩）　敗龜板（酒浸炙，四兩）　白芍　陳皮牛膝（各二兩）　瑣陽　當歸（各一兩五錢）　虎骨（一兩，酒浸酥炙）　共為末，酒煮羊肉丸，桐子大，每次服五六十丸，空心鹽湯下，冬加薑半兩。</p>
<p>虛勞之症，陰虛者十常八九，丹溪著陽有餘陰不足之論，而定二方，與東垣補中益氣湯旗鼓相對。氣下陷而不能升則用東垣，火上升而不能降則用丹溪，二老人入理深微，各造其極，無容議也。而丹溪之法，用多不效者，何哉？深推其故，而立法者無過，用法者不得法中之奧，過端四出。蓋陽常不足，陰常有餘，二語未嘗細心分辨耳。夫陽之有餘，得十之七；陰之不足，得十之三；此所謂真有餘真不足也。陽常有餘，一切補陰之藥宜用之而無恐，多用之亦無害，是則補陰在所必需矣。若陰之不足者十存其三，而陽之有餘者十存四五，亦名有餘，而實真不足也。補陰寒涼之品，尚敢恣用乎？不知此義而恣用之，豈非不慮其後，轉成陰盛陽虛、清穀盜汗等症？究竟陰基已壞，即欲更補其氣，其如味之不能載何？故再致叮嚀，俾用昔人法，如持衡在手，較量於輕重之間，可矣。</p>
<p>天真丸：精羊肉（七斤去筋膜脂皮，批開，入下藥末）　肉蓯蓉（十兩）　當歸（十二兩，淨洗）</p>
<p>山藥（濕者去皮，十兩）　天門冬（去心焙乾，一斤）　上四味為末，安羊肉內，縛裹，用無灰酒四瓶，煮令酒盡，再入水二升煮，候肉糜爛，再入黃　末（五兩）　人參末（三兩）　白朮末（二兩）</p>
<p>熟糯米焙乾作餅，將前後藥末和丸，如梧子大，一日二次，服三百丸，溫酒下。如難丸，用蒸餅五七枚，焙乾，入臼中杵千下，丸之。</p>
<h2>水腫臌脹</h2>
<p>許學士云：臍腹四肢悉腫者為水，但腹脹四肢不甚腫為蠱，即腫脹也。然脹亦有頭面手足盡腫者。大抵先頭足腫，後腹大者，水也；先腹大，後四肢腫者，脹也。水腫，經云：三陰結謂之水。三陰者，手太陰肺、足太陰脾、足少陰腎也。夫胃為水穀之海，水病無不本之於胃。經乃屬之脾肺腎者，何也？足太陰脾足以轉輸水精於上；手太陰肺足以通調水道於下，海不揚波矣。惟脾肺二臟之氣，結而不行，後乃胃中之水日蓄，浸灌表裡，無所不到也。是則脾肺之氣，可不伸耶？然其權尤重於腎。腎者，胃之關也。腎司開闔，腎氣從陽則開，陽太盛則關門太開，水宜下而為消。腎氣從陰則闔，陰太盛則關門常闔，水不通而為腫矣。經又以腎本肺標，相輸俱受為言。然則水病以脾肺腎為三網矣。〔金匱〕分五水之名。</p>
<p>五水者分風水、皮水、正水、石水、黃汗也。風水者脈自浮，外證骨節疼痛、惡風，若脈浮、身重、汗出、惡風者，防己黃　湯主之（防己　黃　白朮　甘草　薑　棗）。風水惡風一身悉腫，脈浮不渴，無大熱者（無大熱者其兼發熱可知），越婢湯主之（麻黃　石膏甘草　薑　棗）。惡風者加附子。皮水，其脈亦浮，外證跗腫，按之沒指，不惡風，其腹如鼓，不渴，當發其汗（渴而下利，小便數者，不可發汗，恐亡其津液也，故云不渴當發其汗）。皮水為病，四肢腫，水氣在皮膚中，四肢聶聶動者，防己茯苓湯主之防己（二兩）　黃（三兩）　桂枝（二兩）　茯苓（二兩）　甘草（二兩）。厥而皮水者，蒲灰散主之蒲灰（半分）</p>
<p>滑石（三分）　二味杵為散，日三服。又云：水之為病，其脈沉者屬少陰，浮者為風，無水；虛脹者為氣水，發其汗即已。脈沉者宜麻黃附子湯（麻黃　甘草　附子）。浮者宜杏子湯（杏子湯闕，尤在涇云：恐是麻黃杏仁甘草石膏湯）。石水，其脈自沉，外證腹滿不喘（經云：肝腎並沉為石水。其水積胞中，堅滿如石。不上大腹，在厥陰部分，即少腹疝瘕之類是也。不知者每治他病，誤動其氣，上為嘔吐而致死也。按風水、皮水，脈皆浮，風水自汗惡風，皮水不惡風。正水、石水，其脈皆沉；正水自喘，石水不喘；又當一身悉腫，四肢腫，跗踵，腹滿；細微辨之）。黃汗之水如黃柏汁，其脈沉遲，發熱，胸滿，四肢頭面腫，久不愈，必致癰膿，　芍桂酒湯主之黃　（五兩）　芍藥　桂枝（各三兩）　苦酒（一升），桂枝加黃　湯亦主之（黃汗一症，脈陰症陽，後世名之痹水是也，再當參黃痹門）。裡水者，一身面目黃腫，其脈沉，小便不利，故令病水。假如小便自利，此亡津液，故令渴。越婢加朮湯主之（即越婢東加白朮）。心水者，其身重而少氣，不得臥，煩而躁，其人陰腫（嘉言曰：水在心之部，則郁心火明灼之化）。肝水者，其腹大，不能自轉側，脅下腹痛，時時津液凝生，小便續通（水在肝之部，則郁肝木發生之機）。肺水者，其身腫，小便難，時時鴨溏（水在肺之部，則孤陽竭於外，其魄獨居）。脾水者，其腹大，四肢苦重，津液不生，但苦少氣，小便難（水在脾之部，則陰竭於內而穀精不布）。腎水者，其腹大臍腫，腰痛不得溺，陰下濕，如牛鼻上汗，其足逆冷，面反瘦，大便反堅（水在腎之部，不但諸陽退伏，即從陽陰亦退伏，孤陽獨居於下，而隔絕也）。諸病水者，渴而下利，小便數者，不可發汗。又云：諸有水者，腰以下腫，當利小便；腰以上腫，當發汗乃愈（以上仲景治水諸法：皆以脈病為本，量輕重虛實而施治；如黃　、白朮、乃實脾溫衛以行其水也；麻、桂、石膏，和其營衛之偏以行其水也；附子、細辛，溫經扶陽以行其水也；較之後人，宜攻其水，何啻天壤）。丹溪云：因脾虛不能制水，水溢妄行，當以參、朮補脾，氣得實則自能健運，自能升降；運動之樞轉，則水自行，非五芩之行水也（按：丹溪治水諸法，專以補為主，實王道也。若水氣淫溢，滔天洶涌者，必欲行水來掩土之法，殆矣。仲景諸方，行水以救土，其功為何如耶）。腫病不一，或偏腫，或四肢腫，或頭面腳腫，皆為水氣。然有陽水、陰水之分，或風虛、風濕之異，不可不辨也。遍身水腫煩渴，小便赤澀，大便多閉，此屬陽水，導水茯苓湯（赤茯苓　麥冬　澤瀉白朮　桑皮　紫蘇　檳榔　木瓜　大腹皮　陳皮　砂仁　木香　燈心　重者可用藥五兩，再加麥冬至二兩五錢，用水一斗，煎至一大碗）；重則疏鑿飲子利之，以通為度。亦有煩渴，而大便已利者，此不可更利，宜五茯苓散，加木通、腹皮之類。遍身腫，不煩渴，大便自調，或溏泄，小便雖少而不赤澀，此屬陰水，宜實脾飲（厚朴　白朮　木瓜　大腹皮茯苓　附子　木香　炮薑　草果　甘草　薑　棗）。小便多少如常，有時赤，有時不赤，至晚則凝赤，卻無澀滯者，亦屬陰也，不可遞補，木香流氣飲（見底門），繼進復元丹（按：復元丹較實脾飲更多桂心、吳萸芋、川椒、茴香，當裁酌用）。若大便不溏，氣急脹滿，宜四磨飲，下黑錫丹（按：陰水者，少陰腎中真陽衰，北方之水不能封蟄收藏而泛濫無制耳。倘腎氣不溫，滅頂之凶，實脾飲實土以提水總屬第二義，復元丹補脾溫腎兼行，較之稍勝。然不用茯苓，仍用厚朴、檳榔，終落時套）。四肢腫謂之肢腫，宜五皮飲（大腹皮　赤茯苓皮生薑皮　陳皮　桑白皮各錢半　按五皮飲，今人以為通治水腫之法，蓋能宣行脾肺之氣兼利水耳），加薑黃木瓜。面獨腫，蘇子降氣湯；兼氣急者，尤宜加磨沉香汁。有一身之間，惟面與兩腳浮腫，早則面甚，暮則腳甚，此風濕也，當辨別陰陽，辨其大小便之利否，用除濕湯，五皮飲或蘇子降氣湯選用。面目手足俱腫，導滯通經湯木香　白朮　桑皮　陳皮（各五錢）　茯苓（一兩）。感濕而腫者，其身雖腫，而自腰至腳又重，腿脹滿尤甚於身，氣或急，或不急，便或溏，或不溏，宜通利小便為佳，胃苓東加木瓜、防己、腹皮（再當詳寒濕熱分治）。</p>
<p>因氣而腫者，其脈沉伏，或腹脹喘急，氣分香蘇飲桑皮　陳皮　茯苓　香附（各一錢）　蘇葉（錢半）　桔梗　枳實（各五分）　草果（錢半）。飲食所傷而腫，或胸滿，或噯氣，宜消導寬中湯（白朮枳實　厚朴　陳皮　製半夏　楂肉　神麯　麥芽　萊菔子　薑）。不服水土而腫者，胃苓湯加味五皮飲（即五皮飲加五加皮、木瓜、防己）。有患生干瘡，用藥太早，致遍身腫，宜消風敗毒散（即人參敗毒散加防風、荊芥），再當分其熱勝、濕勝、脾虛、血虛，施治。肺經有濕，遍身腫脹者，續隨子丸〔人參　防己　赤茯苓　檳榔　續隨子　海金沙（各五錢）　葶藶子（二兩）〕　棗肉丸。以上數條為有餘之症。大約病後浮腫，此系脾虛，宜加味六君子湯白朮（三錢）　人參　黃　（各錢半）　茯苓（三錢）　陳皮　半夏曲　白芍　木瓜　炙草　大腹皮　薑　棗。</p>
<p>有脾肺氣虛，不能通調水道者，補中益氣湯補脾肺，六味丸補腎（挾陽虛惡寒脈沉細者加附子）。有心火克肺金，不能生腎水，以至小便不利而成水症者，用人參平肺散以治肺，滋腎丸以滋小便。若腎經陰虧，虛火爍肺金而小便不生者，用六味地黃丸以補腎水，用補中益氣湯以培脾土。脾肺之氣交通，則水穀自化。二經既虛，漸成水脹。又誤用行經分利之藥，以致小便不利，喘急痰盛，以成蠱症，宜加味腎氣丸主之。以上數條為不足之症（不足者，正氣不足也。有餘者，邪氣有餘也。邪之所湊，其氣必虛，故以不足之法治有餘則可，以有餘之法治不足則不可）。慎齋云：凡腫脹之症，先從腳下腫者，濕熱在下，宜先溫補脾肺五六劑，次以補中益氣湯和之，後以五苓散利之。先從身上腫者，濕熱在上，宜先利其濕熱一二劑，口渴加紫蘇，次用補脾胃藥。大抵脈浮而無力，當汗，用五積散；脈沉而無力，當用四君子和中丸。海藏水氣問難云：身半以下腫者，當利小便；身半以上腫者，當發汗。如肌肉之外，皮膚之裡，自手至足，一身皆腫，當作何治？答曰：亦宜汗之也，與身半以上同法（嘉言曰：水腫有當發汗散邪者，不效，兼實其衛，致水隨汗浸淫皮腠，不復順趨水道，其害最大），疏鑿飲子（治通身水腫，喘呼氣急，煩躁口渴，二便不通，服熱藥不得。澤瀉　商陸根赤豆　羌活　大腹皮　椒目　木通　秦艽　茯苓皮　檳榔各一錢）。秘方石葦散，利小便甚捷石葦（醋炒二錢）　楊樹簟（炒七錢）　鬱金酒（二錢）　木香（三錢）　蝸牛（燒灰五分）　麝香（五厘）　一方用石葦、木香（二味為末），白湯下（一錢二分）。蒼戟丸治水腫，行水燥脾大戟（二兩）　蒼朮（二兩）</p>
<p>沉香（五錢）　陳米糊丸，酒下二錢。一法用陳大麥卡復煎為末，每服二錢，酒下。一方用大戟二兩、打碎蒼朮四兩，米泔水浸，切片同一處入罐內，加水煮三炷香，取出去大戟，將術晒乾，又浸又晒。無藥為度，則以蒼朮一味為丸，或研末，酒送下，忌鹽、醋、甜物百日方可。以上五方皆劫劑也，非濕熱痞甚、痰涎阻氣及壯熱者，不可輕用。嗚呼！世俗之醫，因病急求一時之效，以破氣去水為功，不知過一二日則病復至而不可救藥矣！萬不得已，亦當以參、朮補氣之藥以補其後。至舟車神佑諸法，一概不選用，庸俗以至欲求近功以殺人也。</p>
<p>薷術丸治風水、氣水、暴水，通身腫脹，服至溲利為效。用香茹一斤，水一斗，煮爛，取汁，漫火熬成膏，加白朮末八兩，為丸如桐子大，每服一二十丸，日五服，夜二服，沉香琥珀丸（治一切水腫急難，小便不通。琥珀　杏仁　紫蘇　赤苓　澤瀉（各一錢）　葶藶　郁李仁沉香（各錢半）　陳皮　防己（各七錢）　共為末，麝香為衣，每服二十五丸，加至五十丸，人參湯送下，量病患虛實加減，烏鯉湯治水氣四肢浮腫。烏鯉魚（一尾）　赤小豆　桑白皮　白朮　陳皮（各一錢）　蔥白（五根）　用水同煮，先吃蔥，後飲藥，以上三方，雖專以利水為上，較上諸方相去天壤，故選錄之。調營散治瘀血留滯，血化為水，四肢浮腫，皮肉赤紋，名曰血分蓬朮川芎　當歸　前胡　白芷　檳榔　赤芍　桑皮　瞿麥　大腹皮　赤苓　葶藶（各一錢）　大黃（錢半）</p>
<p>細辛　官桂　炙草（各五分）　薑（三片）　棗（三枚）。按瘀血化水，血赤縷外現，不去其水，勢必不瘀之血亦同感化矣。此方只作一服，原不欲多用。倘服後不減，未可再服。且再用活血補氣之藥調三五日，徐進此藥。虛甚者，必參、附合用，得大力主持其間驅逐之，始能建功也。診目窠微腫如臥蠶之狀曰水，足脛腫曰水，頸腫喘急曰水，脈得諸沉，當責有水，身體腫重，水病脈出者死（按：少陰腎水本沉，忽轉沉之烏有而反外出者，則主死也。如風水、皮水等症，脈之浮大且洪者，豈亦主死耶）。陽水兼陽症，脈必沉數。陰水兼陰症，脈必沉遲。水病脈得洪者可治，微細者不可治（又云：浮大輕者生，沉細虛小者死。又云：實者生，虛者死）。唇黑則傷肝（又云：人面黑者，肝絕也），缺盆平則傷心（又云：兩手無脈，心絕也），臍出則傷脾，足心平則傷腎（又云：足腫如瓜者，腎絕也），背平則傷肺（又云：兩眉　起，肺絕也），凡此五傷，必不可治。從四肢歸入腹者，大便溏泄者，男從腳上起，女從面上起，皆不治。慎齋云：以手按之，隨手即起者，水也；頃時而起者，氣也；成窠不起者，濕也。臌脹一名蠱脹，即單腹脹也。（六元經紀論）云：脾乃陰中之太陰，同濕土之化，脾濕則臌滿食不化。天為陽為熱，主運化也；地為陰為濕，主長養也：無陽則陰不能生化，故云臟寒生滿病。（調經篇）云：因飲食勞倦傷脾胃，始受熱中，未傳寒中，皆由脾胃之氣虛弱，不能運化精微，而致水穀聚而成脹滿。經云：腹滿　脹支膈　脅，下厥上冒，過在足太陰陽明，乃寒濕鬱遏也。（脈經）云：胃中寒，則脹滿。又云：諸脹腹大，皆屬於熱者，何哉？此乃病機總辨。假令外傷風寒，有餘之邪自表轉裡，寒變為熱，而作胃熱腹滿，仲景以大承氣湯治之。亦有膏粱之人，濕熱鬱於內，而成脹滿者，此熱脹之謂也。大抵寒脹多而熱脹少，治者宜詳辨之。</p>
<p>〔靈樞〕脹論，謂五臟六腑各有脹，其脹皆在臟腑之外，排臟腑而郭胸脅脹皮膚。胸脅者，臟腑之郭也，各有界畔，各有形象，營氣循脈，衛氣逆為脈脹，衛氣並脈循分為膚脹。</p>
<p>脾脹者，善噦，四肢煩冤，臥不安，體重不能勝衣。胃脹者，胃脘痛，鼻聞焦臭，妨於食，大便難。肺脹者，虛滿而喘咳。大腸脹者，腸鳴而痛濯濯，冬日重感於寒，則餐泄不化。腎脹者，腹滿引背，央央然腰背痛。膀胱脹者，少腹滿而氣癃。肝脹者，脅下滿而痛引少腹。膽脹者，脅下痛脹，口中苦，善太息。三焦脹者，氣滿於皮膚中，輕輕然不堅。心脹者，煩心短氣，臥不安。小腸脹者，少腹　脹，引腰而痛。夫諸脹者，皆因厥氣在下，營衛留止，寒氣逆上，真邪相攻，兩氣相搏，乃合而為脹也。故凡治是病，必會通聖經諸條之旨，然後能識臟腑之部，分形症邪氣之所自來；縱腹脹滿，卒難究竟者，亦必有脹甚之部，與病先起處，即可知屬何臟腑之氣受邪而不行者為先為後，及何中焦氣交之分，於是轉運不前，氣分壅聚，通腹脹滿也。如脾胃受邪，便先是胃脘心下痞氣漸積，為通腹脹滿也。腹屬陰也，屬脾胃者飲食少納，屬他臟腑者則飲食如常（由他臟腑而病及脾胃者，則飲食亦少也），此亦可驗。又須分其表裡淺深，脹在皮膚筋絡之間者，飲食如常；其在腸胃肓臟之間，則飲食減少；其氣壅塞於五臟，則氣促結而病乃危矣。是故病在表者易治，入腑者難治，入臟者不治。更要審其虛實寒熱，其臟腑之氣本盛，被邪填塞不行者為實；其氣本不足，因邪可壅者為虛。實者祛之，虛者補之，寒者熱之，熱者寒之，結者散之，留者行之。邪從外入內而盛於中者，先治其外，而後調其內；陰從下逆上而盛於中者，先抑之，而後調其中；陽從上降下而盛於中者，先舉之，而後調其中；使陰陽各歸其部。故〔內經〕治法謂平治權衡，去菀陳，開鬼門，潔淨府，宣布五陽，巨氣乃平，此之謂也（節錄王宇泰〔證治淮繩〕）。東垣云：濕熱病為脹，右關脈洪緩，而沉弦脈於上，是風濕熱三脈合為病也，是脾胃之令不行。</p>
<p>陰火亢盛，乘於脾胃，則左遷而陽道不行，是六腑之氣已絕於外。火盛能令兩實風氣外絕。</p>
<p>風氣外絕者，蓋穀氣入胃，清氣營氣不行，便是風氣也。經云：虛則乘其所勝。土不勝者，肝之邪也，是脾土不足，水火大勝也。經云：濁陰出下竅，濁陰走五臟，濁陰歸六腑，此平康不病之常也，反此則為脹也。陰陽應象論云：清氣在下，則生飧泄，濁氣在上，則生　脹。此陰陽相反作病之逆從也。又云：飲食不節，起居不時者，陰受之則入五臟，入五臟則　滿閉塞。調經篇云：下脘不通，則胃氣熱，熱氣熏胸中，故內熱。下脘者，幽門也。幽門不通，上衝吸氣，沖其吸入之氣，不得下歸於肝腎，為陰火動而相拒，致隔咽不通，濁陰之氣不得下降，而大便干燥不行，胃之濕與客陰之火俱在其中，則腹脹作矣。治在幽門，使幽門通利，泄其陰火，潤其燥血，則　滿腹脹自去。經云：中滿者瀉之於內，是也按：東垣、丹溪二公所論，皆是濕熱為病，與寒生滿病者不可同日而語矣。故治法皆云瀉之於內也。脹而大便燥結，脈沉之洪緩，浮之弦者，宜沉香交泰丸沉香　橘紅　白朮（各三錢）　厚朴（五錢）　吳芋　枳實　青皮　木香　茯苓　澤瀉（各二錢）　大黃（一兩）　酒炒，湯浸蒸餅丸，桐子大，每服五十丸，加至七八十丸，溫湯下，微利為度。按：中滿者瀉之於內，謂脾胃有病，當上下分消其濕。下焦如瀆，氣血自然分化，不待泄滓穢。如或大實大滿，大小便不通，從權以寒熱藥下之。或傷酒面之物，膏粱之人，或食即便臥，使濕熱之氣不得施化，致令腹中脹滿，此脹亦是熱脹，分消丸主之。中滿分消丸治熱臌脹、氣脹，有寒者不可服黃芩（一兩二錢）　黃連（五錢）　薑黃　白朮　人參　炙草　豬苓（各一錢）　茯苓　乾薑　砂仁（各二錢）</p>
<p>製半夏　枳實（各五錢）　厚朴（一兩）　知母（四錢）　澤瀉　陳皮（各二錢）　湯浸蒸餅丸，桐子大，每服百丸，熱湯下。中滿分消湯治中滿寒脹寒疝，大小便不通，陰燥，四肢厥逆，足不收，食入反出，下虛中滿，中寒，心下痞黃　吳萸　厚朴　草果　黃柏各五分　益智仁　半夏茯苓　木香　升麻（各三分）　人參　青皮　當歸　黃連　澤瀉　生薑　麻黃　柴胡　乾薑川烏　蓽澄茄。按東垣此方，云治寒脹，而反用黃連、黃柏者，取其瀉陰火而制其衛氣也。其書症云大小便不通等證云云，故用藥如是。苟脾胃氣虛，寒濕為邪，大便溏泄，小便自利者，其用藥必不如是。用者細審之。</p>
<p>中滿腹脹者，內有積聚，堅硬如石，其形如盤，令人不能坐臥，大小便澀滯，上氣喘促，面色萎黃，通身虛腫，廣術潰堅湯主之廣術　黃連　柴胡　生草　神麯　澤瀉　陳皮吳萸　青皮　升麻　黃芩　草蔻　厚朴　益智（各五分）　半夏　葛根（各七分）。木香順氣湯治勞役飲食失節，加之憂思氣結，心腹脹滿，旦食不能暮食，兩脅刺痛，診其脈弦而細，至夜濁陰之氣不降，　滿尤甚。大抵陽主運化，飲食勞倦，損傷脾胃，陽氣不能運化，精微聚而不散，故為脹滿。經云：留者行之，結者散之。以柴胡、升麻之苦辛，行少陽、陽明二經，發散清氣，營運陽化，為君；以生薑、半夏、草蔻、益智之甘辛大熱，消散中寒，為臣；以厚朴、木香、蒼朮、青皮辛苦大溫，通順滯氣；以當歸、人參甘溫，調和營衛，滋養中氣。濁陰不降，宜以苦味，吳茱萸苦熱泄之也。氣之薄者，為陽中之陰，茯苓、甘草、澤瀉咸平氣薄，引濁陰之氣自上而下，故為佐；氣味相合，使清濁升降，各安其位也。丹溪云：脾主坤靜之性，而有乾健之運，故能使心肺之陽降，肝腎之陰升，而成天地之交泰，是為平人也。今也七情內傷，六淫外感，飲食失節，房勞無度，致脾土之陰受傷，轉運之權失職，胃雖受穀，不能運化，故陽升陰降，而成不交之痞；清濁相混，隧道壅塞而為濕；濕熱相生，遂至脹滿。經云臌脹是也。以其外雖堅滿，中空無物，有似於鼓。以其膠固難治，又名曰蠱。若蟲浸蝕而有蠱之義，專宜補其脾，又須養金以制木，使脾胃無賊邪之害；滋水以制火，使肺得清化之權（此治濕熱之法）；卻咸味，斷妄想，無有不安者。醫者不察病情，病者苦於脹滿，喜行利藥，而求通快，不知寬得一日半日，其脹愈覺甚，而病邪愈甚矣，真陽傷矣。（按：〔內經〕胃中虛冷，或以旦食不能暮食，由至陰居中，五陽不布然也。今丹溪乃云濕熱相生，則固無害寒者歟？曰：此則有其一端耳。至其大法，當詳之全經，是皆大意。至養金制木，滋水制火之說，其害未免執偏。夫制火固可保金，獨不慮其害土乎？惟屬熱者宜之。苟涉陽虛者，為害最大。不可不辨也。）</p>
<p>生生子曰：脹滿之疾，穀食不消，小便不利，腹皮脹急而光，內空空然如鼓，是矣。俗知謂之蠱脹，不察其致者，有由也。〔內經〕曰：脹取三陽。三陽者，足太陽寒水膀胱經也。</p>
<p>〔靈樞〕曰：下焦溢而為水。〔靈蘭秘典〕曰：膀胱者，州都之官，津液藏焉，氣化則能出矣。</p>
<p>歷考三書可也。小便之不利，由下焦之原氣虛寒，以致濕氣壅遏皮裡臟外之間，不得發越，勢必腫滿。是腫滿之疾，起於下元虛寒也。若非溫下元，則小便何能獨利？且夫人之胃如釜甑然，釜底火旺，則熱氣熏蒸，甑物易熟。若徒有水而無火，則無氣上升，物何由熟？即此可以例觀矣。故治脹滿，先宜溫補下元，使火氣盛而濕氣蒸發，胃中溫暖，穀食易化，則滿可寬矣。夫清氣既升，濁氣自降，濁氣降則為小便也。小便利，則脹豈有不消者乎？經謂地氣上為云，天氣下為雨。惟此氣流行，所為云為雨。今之醫者，一遇此疾，曰〔內經〕有言，諸濕腫滿，皆屬於脾土，土虛則濕停，濕停則滲透肌膚，遍身腫滿，不可不通利也。輒用利小便及補中之劑，如五苓散、胃苓湯，加木通、車前子、大腹皮、滑石之類，在法未為乖謬。然服之愈多而小便愈少，腫脹愈急，何哉？不溫補下元，而徒以通利之藥施之。果若此，豈惟不效，而下元益虛，真氣益弱，死期且至，安望其有瘳乎？余嘗究心（靈）、（素），參匯（易）</p>
<p>理，憬然有得於中，且試之病者，隨試輒效，筆之於冊，以公我同志。附：壯元湯，治下焦虛寒，中滿腫脹，小溲不利，上氣喘急，陰囊兩腿皆腫，或面浮氣也。人參　白朮（各二錢）　茯苓破故紙（各二錢）　桂心　大附子　乾薑　砂仁（各五分）　陳皮（七分）　水煎，食遠服。有痰加半夏一錢喉中痰聲咳嗽，加桑白皮一錢。腳跗面腫，加苡仁四錢。中氣不轉運，不知飢，加厚朴木香。氣鬱不舒，加沉香　烏藥（臨服磨入）。氣虛息短，加人參至五錢　大附子至錢半。汗多者加桂枝　白芍（酒炒）各八分。若夏月喘乏無力，或汗多者，加麥冬（一錢）　五味子（十一粒）。夜夢不安者，加遠志（一錢）。兩脅氣硬，面浮，加白芥子　紫蘇各五分。如身重不能轉功，加茅朮一錢。</p>
<p>濕盛加桑白皮　赤小豆。</p>
<p>嘉言曰：脹病與水病非兩病也。水氣積而不行，必至於極脹。脹病不外水裹氣結血凝，而以治水諸法施之，百無一愈者，失於師承無人耳。仲景謂水病氣分心下堅，大如盤，邊如旋盤，水飲所作。然此脹病豈無血分心下堅大如盤者乎？多血少氣，豈無左脅堅大如盤者乎？多氣少血，豈無右脅大如盤者乎？故大病之人，凡有　瘕積塊、痞塊，即是脹病之根，日積月累，腹大如箕，腹大如瓮，是名單腹，不是水氣散於皮膚四肢也。仲景所謂石水者指此也。胸中空曠，氣食尚可從旁轆轉腹中大小腸膀胱逼處。雖未立法，然而比類推其法不啻詳矣。仲景於氣分心下堅大加盤，兩出其方：一方治陰氣結於心下，用桂枝去芍藥加麻黃附子細辛湯；一方治陽氣結於心下，用枳朮湯。夫胸陽位，尚分陰氣、陽氣，而異其治。況腹中至陰之處，可不從陰獨治之乎？陰氣包裹陰血。陰氣不散，陰血且不露，可驅其血乎？舍雄入九軍，單刀取勝之附子，更待何藥可散其陰氣，破其堅壘乎？推之兩脅皆然。但分氣血陰結之凝甚而水亦從其類也。（按：嘉言之論臌脹，專主水裹氣結血凝，凡有　瘕積塊，即是脹病之機，可謂發明〔內經〕者矣。其曰陰氣包裹陰血，此誠發前人所未發。然與朱李二公之論，若有相悖，何耶？二公所論，專言五臟賊克，本氣自病，即濕熱為邪，亦從本元中來，故曰空中無物，有似於鼓，即今之氣虛中滿是也。嘉言所論，乃屬有形為病，其曰陰氣包裹陰血，而陰氣雖屬無形，而陰血又屬有形矣。故其為治，各自不同，即其病形亦必自異，其在智者臨症細辨之。）</p>
<p>〔醫貫〕氣虛中滿論曰：中滿者，證與臌脹水腫無異，何故屬之氣虛，請得明言之否？曰：氣虛，腎中之火氣虛也。中滿者，中空似鼓，虛滿，非實滿也。大略皆脾腎兩虛所致。</p>
<p>海藏曰：夫水氣者，乃胃土不能制腎水之逆，而上行轉入於肺，故令人腫。治者惟知泄水而不知益胃，故多下之，強令水出。不依天度流轉，故胃愈虛，食不知味，則發而不能制也。莫若行其所無事，則為上計。何今之人，不知此等高論，舉手便以為水腫用〔內經〕去菀陳，開鬼門、沽淨府之法治之，如舟車丸、禹功散之類。若真知其為水濕之氣，客於中焦，侵於皮膚，皮膚中取水晶之光亮，手按之隨按隨起者，以前藥一服而退。（今俗人所謂黃病，又有曰何白脹者，即此是也。）</p>
<p>若久病、大病後，或傷寒、瘧痢後，女人產後，小兒痘後，與夫原氣素弱者，概以前法施之，脾氣愈泄，愈不可復救。故治腫者，先以脾土為主，須以補中益氣湯或六君子湯溫補之，俾脾土旺則能散精於肺，通調水道，下輸膀胱，水精四布，五經並行矣。或者疑為喘脹水滿，而又加純補之劑，恐益脹滿，必補藥中加行氣利水之品方妙。此說似得病情，終非大方家體。蓋肺氣既虛，不可復行其氣；腎水已衰，不可復利其水；純補之劑，初時服下，似覺不快，過時藥力得行，漸有條理矣。至於補腎以治腫，其說難明。蓋禹之治水，行其所無事也，若一事疏鑿，則失之矣。治腎水者，牽牛、大戟，粗工之小知，正禹之所惡也。間有用五苓五皮者，以為中正，亦轉利轉虛，腎氣愈衰，而愈不能推送矣。故須用補腎。經曰：腎開竅於二陰，腎氣化則二陰通，二陰閉則胃腹脹，故曰腎者胃之關，關門不利，故聚水而從其類也。又曰：腎主下焦。三焦者決瀆之官，水道出焉，必待三焦之火化，始能出也。其三焦之經，在上者布膻中，散絡心包；在下者出於委陽，上絡膀胱；上佐天道之施化，下佐地道之發生，與手厥陰為表裡，以應諸經之使者也。是故腎虛者，下焦之火虛也。</p>
<p>宣明五氣篇云：下焦溢而為水，以瀉注之所氣窒而不利，則溢而為水者也。經曰：三焦病者，腹氣滿，小腹尤堅，不得小便，溢則水留而為脹。惟張仲景制金匱腎氣丸，補而不滯，通而不泄，誠治腫之神方，薛立齋屢試效驗，詳載醫案。余依其醫案試之甚驗，故詳著焉，世有患此，幸無棄置也。腎氣丸：白茯苓（三兩）　附子（五錢）　牛膝（一兩）　肉桂（一兩）　澤瀉（一兩）</p>
<p>車前子（一兩）　山藥（一兩）　山萸肉（一兩）　丹皮（二兩）　熟地（四兩）</p>
<p>又有一等純是陰虛者，其症腹大臍腫腰痛，兩足先腫，小水短澀，喘嗽有痰不得臥，甚至頭面皆腫，或面赤口渴，但其人飲食知味，大便反燥。醫見形腫氣喘，水症標本之疾，雜用利水之劑而益甚。殊不知陰虛三焦火旺，與衝脈之屬火者同道而上，由是水從火溢，上積於肺而嗽，甚則為喘呼，不得臥散，聚於陰絡，而為跗腫，隨五臟之虛者入而聚之，為五臟之脹，皆相火泛濫其水而生病也，以六味地黃加表冬、五味大劑服之（予曾用之未效，加牛膝、車前應驗），親試有驗，故錄。又有一等火鬱者，口苦，脅痛，惡寒，目黃，面黃，嘔酸等症，須用逍遙散舒其郁，繼以六味丸滋其陰，而禁用分利（此症最難治，當參丹溪諸法，蓋病形未見，人皆忽之，及形已見，則臟腑已敗矣，故難治也）。周慎齋云：臌脹者，因其中空無物，皮急如鼓，脹則排臟腑郭胸脅形皮膚也。經云：夫脹者，皆在於臟腑之外脹皮膚。然脹有氣腫、水腫、食積、停痰，陽陰腫之不同。然七情氣滯食積死血，悉能為腫。</p>
<p>治必詳審，更分虛實。虛脹時滿時減，按之虛軟不痛；實脹常滿不減，按之堅硬而痛。積滯腹中，有挾血虛，朝寬暮急；氣虛，朝急暮寬；氣血俱虛，朝暮見急而不痛。初起因食積痰氣暴腫，或大滿大實，氣滯痞悶，飲食又減，脈浮洪大者，非疏利不可，後方宜調養。</p>
<p>十材云：陰陽虛實，不可不辨。大抵陽症必熱，熱者多實；陰症必寒，寒者多虛。先脹於內，而後腫於外者為實；先腫於外，後脹於內者為虛。小便黃，大便秘結為實；小便清白，大便溏泄為虛。滑數有力為實，弦浮凝細為虛。色紅氣粗為實，色悴氣短為虛。（實者腹中常脹，外堅內痛，按之下陷，法當疏利。虛者時脹時減，氣虛流滯，按之則濡，法當溫藥和之。）</p>
<p>凡諸實症，六淫外客，或飲食內傷，陽邪急速，其至必暴，每成於數日之間。若是虛症，情志多勞，或酒色過度，日積月累，其來有漸，每成於經月之後。然治實頗易，理虛恆難。虛人氣脹者，脾虛不能運氣也；虛人水腫者，土虛不能制水也。水雖制於脾土，實則統於腎，腎本水臟，而元陽寓焉。命門火衰，既不能自製陰水，又不能溫養脾土，則陰不從陽，而精化為水，故水腫之證，多屬火衰也。其余諸證，察其實者，宜清陽明，反掌收功。</p>
<p>苟涉虛者，溫補脾腎，漸次康復。其有不大熱者，亦不大虛者，先以清利見功，繼以補中調攝。又有標實而本虛者，極為危險。在病有臌脹與蠱脹之殊，臌脹中空無物，腹皮臌急，每屬於氣也；蠱脹者中空有物，形充大，非蟲即血也。女科有氣分、血分之殊，氣分者，心胸堅大，而病發於上，先病水脹，而後經斷；血分者，血結胞門，而發病於下，先因經斷，而後水脹。在治法有理肺、理脾之殊，先喘而後脹者，治在肺；先脹而後喘者，治在脾。（凡脹病至極必喘，喘至極必脹，以二症每相因而成也。）以上諸法，此其大略也。（此水腫臌脹並論。）</p>
<p>腫脹有五。一曰脹滿，謂中脘上脹悶漸漸而起，乃陽明經清濁壅滯，宜分氣飲分氣飲治中脘以上脹滿妨悶。茯苓（一錢）　梔子（一錢）　紫蘇（八分）　白朮（五錢）　枳殼（一錢炒）　蔻仁（研一錢）</p>
<p>木通（七分）　大腹皮（八分）　青皮（六分）　木香（四分）　食遠服，加薑水煎。二曰臌脹，獨肚腹團團而脹大也，此乃火克金也，脈來實大，而腸燥急，宜黃連厚朴東加減黃連厚朴湯治單腹脹而便堅，脈實大洪數者，乃心脾二經積熱，剋制金水，而肺胃清氣不升，而失下潤之化也。</p>
<p>黃連（酒炒一錢）　楂肉　連翹　陳皮　山梔（各一錢）　柴胡（五分）　厚朴（一錢）　六一散（二錢半）　薑水煎，二更時熱服，〔醫貫〕此病用六味地黃加五味大劑服之。此症絕是陰虛，或兼腰痛，小溲短澀，喘咳有痰，不得臥，甚則頭面皆腫，或面赤口渴，但其人知味，大便反燥，皆相火泛濫其水而生病也，治當養陰，不可燥劑。三曰云云，見會理。風寒暑濕脹，藿香正氣散。七情脹，五膈寬中散。飲食所傷，脾胃虛弱，以致水穀聚而不化，此寒濕鬱遏而脹，香砂調中湯藿香（五錢）　砂仁（五錢）　蒼朮（一錢）　厚朴　陳皮　半夏　青皮　茯苓　枳實（各一錢）　甘草（三分）　生薑。大怒而脹，分心氣飲蘇梗　青皮　芍藥　大腹皮　陳皮（各一錢）　官桂（六分）</p>
<p>赤茯苓　桑白皮　燈心　生薑。憂思過度而脹，紫蘇子湯　蘇子　大腹皮　草果　半夏　厚朴木香　陳皮　木通　白朮　枳實　人參（五分）　甘草（三分）　薑（五片）　食遠服。濕熱內盛，心腹脹滿，小便不利，大便滑泄，及水腫，大橘皮湯橘皮　厚朴（各錢半）　豬苓　澤瀉　白朮（各二錢二分）　蒼朮　藿香　檳榔　赤苓　陳皮　製半夏　山楂　茯苓　木香　滑石　薑（三片）。</p>
<p>失飢傷飽，痞悶吞酸，早食不能暮食，名穀脹，大忌香散（三棱　蓬朮　青皮　半夏曲陳皮　藿香　桔梗　枳殼　香附　益智仁各錢半　甘草　薑　棗）。雞矢醴治心腹脹滿，旦食不能暮食，其脈沉實散，病名穀脹（用羯雞矢白半升炒　以好酒一斗，煎至一半，每服一盞，五更溫服）。脾土受濕，不能制水，水漬於腸胃，溢於皮膚，漉漉有聲，怔忡喘息，名水脹，大半夏湯（半夏　陳皮　茯苓　桔梗　檳榔　甘草　生薑）。有因積聚相攻，或疼，或脹者，初用七氣消聚飲香附（醋炒錢半）　青皮（醋炒）　蓬朮（醋炒）　三棱（醋炒）　枳殼（麩炒）　木香砂仁（各一錢）　厚朴　陳皮（各一錢二分）　甘草（四分）　薑。日久脾胃虛弱而脹者，參朮健脾湯（人參茯苓　陳皮　半夏　薑　砂仁　厚朴　白朮　炙草），少佐酒導藥。脹是脾虛不能運化，或肝木為濕熱蘊滯者，小溫中丸陳皮　半夏　茯苓　神麯（各一兩）　香附　針砂（醋炒各一兩五錢）　苦參　川連（各五錢）　甘草（三錢）　用醋水各半，打糊為丸，每服七八十丸，白朮（六錢）　陳皮（一錢）　薑（一片）　煎湯下，虛者人參湯下。食啖生冷，過飲寒漿，有傷脾胃，遂成脹滿，有妨飲食，甚則腹中痛，強中湯人參　青皮　丁香（各二錢）　白朮（五錢）　附子　草果　炮薑（各一錢）</p>
<p>厚朴　炙草　嘔加半夏　加生薑　紅棗，煎服。煩躁漱水，迷妄驚狂，痛悶喘惡，虛汗厥逆，小便多（一云赤），大便血（一云黑），名血脹，人參苓歸湯人參　辣桂　靈脂（炒各二錢半）</p>
<p>烏藥　蓬朮　木香　砂仁　炙草（各五錢）　川芎　當歸　半夏（各七錢半）　薑　棗。婦人經脈不利，血化為水，流走四肢，悉能腫滿，名血分，或皮上見青紫筋，小溲反利，脈芤澀，用人參丸人參　當歸　大黃（蒸）　桂心　瞿麥　赤芍　白茯苓（各五錢）　葶藶（一錢）　蜜丸如梧子大，每服十五丸，加至三十丸，米飲湯送下。以上治標邪，為脹初起，壯實者宜之。</p>
<p>勞倦所傷，脾胃不能運化而脹者，補中益氣湯（氣不運者，加厚朴以運氣。腹中奔悶者，此非脹滿，乃散而不收，用白芍藥以收之。收散之劑，生死所系，最宜細審之）。病久脾虛中滿，或服通利藥過多，或瘧痢後因虛致脹者，大宜補胃，用參苓白朮散為君，蒼朮、乾薑、肉桂、砂仁、吳萸以運化，佐以神麯、蘿卜子（蘿卜子非氣虛者所宜）以消臌；傳化少，加青皮以制肝；氣鬱，加沉香；氣下陷，加升麻、柴胡；小便不利，加車前子、澤瀉；虛者，加熟附或香參散，一切疏氣散堅滲泄之藥，如厚朴、腹皮、車、瀉、曲、柏、楂，在所禁也，此治虛脹之大法。和中丸治臌神效，屬虛寒所宜，濕熱甚者不可服。（周慎齋方：乾薑四兩切片分四分：一分用人參一兩煎湯，拌炒汁盡，一分用青皮煎汁拌炒，一分用紫蘇煎湯拌炒，一分用陳皮煎湯拌炒，各炒焦，要炒黑。肉桂二兩一分，用益智仁三錢煎湯拌炒，一分用小茴香二錢同煎，一分用破故紙同煎。吳萸一兩一分，用苡仁一兩煎湯炒，一分用鹽三錢同浸炒。共為末，蘇葉煎湯，打神麯糊丸，隨症輕重，作湯送下，虛者人參湯下。此方能上通下達，安胃和中。倘胸膈飽悶，服之恐血上行，加蘇梗，血自下達。虛加人參。惡心加半夏。</p>
<p>隨症加減，無不神驗。但為末，名和中散。補中湯入和中散，再加蘇梗、杏仁，誠上通下達之妙劑也。）禹餘糧丸為治臌脹之要藥，昔人用之屢效。但藥味峻猛，必以補氣血之藥助之，庶可奏功。若脈見凝數，症挾虛熱者，不可概用。導氣丸取諸峻藥同炒，用其氣而不用其質，消堅破結，亦能斬關而入，元氣未甚虛者方可用之，病久憊甚者不可妄用也。蝦蟆豬肚丸治單腹脹，用蝦蟆一只去腸肚，以胡椒一錢入口內，豬肚包縫，煮爛，湯半碗，去蝦蟆，收豬肚搗爛為丸，每用湯一杯送下丸藥。一法用人參固元氣，不見水葫蘆，同煎服，氣即消。佐金平肝健脾丸治黃膽脹氣脹水腫。黃連　吳萸（制，各一兩）　皂礬（八兩）　三品研勻，以草紙包緊，米醋浸透，入炭火中，上以炭火多加　過一夜，次日拔火炭，好好取起，已化朱色，如未變色，再如前法，然後研末聽用。加木香（五錢）　山梔（炒，一兩）　蒼朮（二兩）</p>
<p>扁豆（五錢）　草果（三錢）　檳榔（五錢）　人參（五錢）　莪朮（一兩）　厚朴（一兩）　川芎（七錢）　山楂（一兩）　甘草（二錢）　陳皮（一兩）　香附（一兩）　用紅棗飯上蒸熟，去皮核，加元米少許，和前藥丸如桐子大，晒乾，每服三四十丸，食遠米湯下。此丸不特水氣疸三種可治，凡黃胖脾胃不健皆可治。如左脅有塊或是瘀血，加乾漆　桃仁（研，各一兩）　丸服。蒜肚丸治單腹脹，用豬肚一個，大蒜頭十個，砂仁一兩，入肚中以線縫好，煮至肚爛為度，服之泄氣即愈，亦治腸覃。</p>
<p>蠱脹單方：田螺水漂，加香油一盞於水內，其涎自出，取其涎，晒乾為末，每服不過三分，酒調服下，其水自小便而下，其氣自大便而出，身腫再補脾胃。小調經散治婦人血分症，先經斷，而後四肢腫滿，小便不利者，血瘀水道，以通經為主白芷（五錢）　官桂　沒藥　甘草（各三錢）　赤芍　細辛　當歸　元胡（各二錢）　琥珀（一錢）　另研麝香（一分）　共研為細末，每服二錢，陳酒下，其效如神。腸覃寒氣客於腸外，與衛氣相搏，氣不得榮，因有所系癖而內著，惡氣乃起，　肉乃生。其始生也，大如雞卵，稍以益大，至其成，如懷子之狀，久者離歲，按之則堅，推之則移，月事以時下，此其候也，　露丸、木香通氣散主之。（　露丸：三棱　莪朮二味各一兩）　煎。用酒浸入巴豆三十粒，同炒深黃色，去巴豆不用，乾漆（炒煙盡），川烏（炮各一錢）　硼砂（四兩另研）　輕粉（一錢另研）</p>
<p>茴香（鹽水炒）　青皮　雄黃（另研）　穿山甲（炒各一錢）　麝香（另研五分）　薑汁煮糊，丸如梧子大，每服二十丸至三十丸止，薑湯過，酒亦可，空心服。木香通氣散：木香戎（鹽炒）　三棱（炮各五錢）　厚朴（薑製一兩）　枳實（麩炒）　炙草（各三分）　乾漆（炮）　莪朮（各二錢）　共為末，每服三錢，薑湯送下。石瘕生於胞中，寒氣客於子門，子門閉塞，氣不得通，惡血當瀉不瀉，　以留止，日以益大，狀加懷子，月事不以時下，皆生於女子，可導而下（此即〔難經〕所謂八瘕之類），服見　丸炮附子（四錢）　鬼箭羽　紫石英（各三錢）　澤瀉　肉桂　元明粉　木香（各二錢）　檳榔（二錢半）　血竭（錢半另研）　水蛭（炒煙盡一錢）　三棱（五錢）　大黃（二錢）　二味用酒同浸一宿，焙桃仁三十粒，共浸藥酒中數日，然後打糊丸，每服三十丸，淡醋湯下，食前服，和血通經湯亦可服當歸　三棱（各五錢）　廣術　炮木香　肉桂（各三錢）　紅花　貫仲　蘇木（各二錢）　血竭（另研一錢）</p>
<p>共為細末，和勻，每服三錢，熱酒調下，食前服。診脈盛而緊大堅以澀遲而滑佳。唇偏舉者脾偏頃。脾偏頃者則脹滿。關上脈虛則內脹。脹脈浮大洪實者易治，沉細凝弱者難治。腹脹身熱脈大，是逆也，如是者不過十日而死矣（脹或兼身熱，或如瘧狀，皆不可治，累驗，此指正虛本病而言）。腹脹大，四末清，脫形，泄甚，是逆也，如是者不及一時而死矣。腹脹大，便血，其脈大，時絕，是逆也。</p>
<p>治腫脹方：王達官傳來。防風　沉香　鬱金　白蔻仁　麥芽　白芥子　製半夏　淮牛膝　烏藥豬赤苓　萆　前胡　橘皮　杏仁　萊菔子　木通　澤瀉　厚朴　枳實　香附　蘇子　神麯桑白皮　楂炭　薑皮　大腹皮　以上分兩，隨病制宜，另用紫蘇（一兩）　赤苓皮（一兩）　荊芥（一兩）</p>
<p>通草（一兩）　冬瓜皮（一兩）　煎湯，並有服五六劑愈者，有服十余劑愈者，有服二十余劑而愈者。</p>
<p>復元丹：治脾腎俱虛，發為水腫。附子（炒，一兩）　白朮（炒焦）　肉桂　吳萸　川椒茴香　木香　厚朴　澤瀉　肉果（煨，各五錢）　茯苓（一兩五錢）　共為末，陳米飲糊丸，桐子大，每服五七十丸，紫蘇湯或砂糖湯下。</p>
<p>除濕湯：半夏曲　厚朴　蒼朮（各二兩）　藿香葉　陳皮　茯苓（各一兩）　炙草（七錢）　白朮（一兩）</p>
<p>每服四錢，薑七片，棗三枚。</p>
<p>人參平肺散：桑白皮（二錢，炒）　知母　炙草　茯苓　人參　地骨皮　天冬（各一錢）　青皮（六分）</p>
<p>陳皮　五味（二十粒）　生薑滋腎丸：即益陰腎氣丸。熟地（三兩，酒煎）　生地（四兩，酒製）　丹皮　當歸尾　五味子山藥　山萸　柴胡（各五錢）　茯苓　澤瀉（各二錢五分）　共為末，蜜丸，辰砂為衣，每服五七十丸，空心淡鹽湯下。</p>
<p>加味腎氣丸：熟地　山萸　茯苓　丹皮　山藥　澤瀉（各三兩）　肉桂　附子（各二兩）　車前子牛膝　白朮（炒）　茴香（炒，各二兩）</p>
<p>五積散：白芷　炙草　茯苓　半夏　當歸　川芎　肉桂　白芍　枳殼　麻黃　陳皮　桔梗厚朴　乾薑　蒼朮　薑（三片）　蔥白（三根）</p>
<p>臌脹一名蠱脹。臌者，鼓也，中空無物，有似於鼓，故以名之。若蠱乃三蟲食血之象，以其膠固難通，亦有蟲血錮結而為蠱者，大法要分虛實寒熱新久氣血之不同。</p>
<p>導滯通幽湯：治幽門不通，上衝吸門，噎塞不開，氣不得下，大便難。脾胃初受熱中，多有此症。治在幽門，以辛潤之。歸身　升麻梢　桃仁泥　炙草（各一錢）　紅花（少許）　生熟地（各五分）煎，調檳榔末五分服。</p>
<p>潤腸丸：治胃中伏火，大便秘澀，或干燥不通，全不思食。乃風結血閉，皆令閉塞，須潤燥、和血、疏風，則自然通矣。羌活　當歸梢　大黃（煨，各五錢）　麻仁（另研）　桃仁（另研）　共為末，蜜丸，每服三五十丸，空心白湯下。</p>
<p>聖濟方：治三焦咳嗽，腹滿不欲食，氣不順。仙靈脾　覆盆子（一兩）　五味子（一兩，炒）</p>
<p>為末，蜜丸，桐子大，每服二十丸，薑茶湯下。</p>
<p>香參散：治脾虛脹滿。人參（一兩）　沉香（二錢半）　茯苓　桔紅（各五錢）　附子（一錢一分）　新瓦上焙，為細末，每服五錢，水煎服。</p>
<p>鼓脹方：大蝦蟆（一只）　新瓦兩片相合，鐵線纏定，內外鹽泥固濟，慢火　，存性，為末，溫酒調服三五錢。</p>
<p>鼓脹神方：兒龍草根　野川芎（野芹菜根葉）　白馬蘭　車前草　四味連根葉，等分，打汁，大酒沖，晚服，服至八日有效。</p>
<p>治腫脹丸方：真蒼朮（一兩）　厚朴（八錢）　陳皮（八錢）　山楂（二兩）　皂礬（二兩，　白色）</p>
<p>香附（八錢）　棗肉丸，白湯下，忌鹽永，百日方可。</p>
<h2>嘔吐</h2>
<p>嘔吐噦皆屬於胃。胃者，總司也。嘔吐皆有聲有物，但物出為吐，漸出為嘔，有聲無物為乾嘔，但聲如乾嘔怯弱濁惡而長者為噦。嘔輕而噦重也。又嘔主陽明，吐主太陽，噦主少陽，三者有氣分多少之分焉（陽明多氣多血，故嘔屬之。太陽多血少氣，故吐屬之。少陽多氣少血，故噦屬之）。丹溪云：河間謂火氣炎上，特一端耳。有胃中有熱，膈上有痰者，有痰隔中焦，食不得下者，有寒氣鬱於胃口者，有食滯心肺之分，新食不得下而嘔者，有七情郁結，為關格者，有風邪入胃者，有胃虛久嘔，而不得納穀者，但火與痰作嘔吐者為多。治法：胃中有熱，膈上有痰者，惡心悶痞，嘈雜煩熱，嘔酸吐痰，二陳加薑炒黃連、山梔、竹茹、薑汁。火炎上者，暴吐喜冷，惡熱面赤，煩渴氣逆，脈洪而數，二陳加薑炒黃連、山梔、枇杷葉、竹茹、檳榔、蘆根；不止，宜利小便；不效，用養正丹。〔金匱〕方：嘔而發熱者，小柴胡湯主之。潔古用小柴胡東加青黛，以薑汁打糊為丸，名青鎮丸，治嘔吐，蓋本諸此。嘔吐心痛，宜作火治；嘈雜，心膈痛而嘔，屬火，宜四聖散（白朮　川連　陳皮　甘草）。</p>
<p>胃熱而吐，聞穀氣即嘔，藥下亦嘔，或傷寒未解，胸中有熱，關脈洪者，是也，並用蘆根汁。〔金匱〕方：嘔吐而病在膈上，後思水，急與之，思水者，豬苓散主之（豬茯苓　白朮等分杵為散，飲後方寸匕）。嘔而胸滿煩渴，煮枇杷葉汁主之。渴欲飲水，水入則吐者，名曰水逆，五苓散。痰涎阻膈者，嘔則食與痰並出，惡心眩暈，二陳加白芥子、枳實、竹瀝、薑汁；不止，煎送滾痰丸。中脘伏痰，遇冷即發，謂之冷癇，服新法半夏湯砂仁　神麯　桔紅丁香　草果　白豆蔻（各半兩）　大半夏（四兩）　洗七次，切二片，用白礬末一兩　沸湯浸一晝夜，洗去礬末，俟干，一片切作二片，薑汁一晝夜隔湯燉焙為末，薑汁拌捏成餅，炙黃，再加甘草二兩五錢，生薑炙為末，每服二錢，生薑自然汁調成膠，入炒鹽湯，旦服，或撾脾湯麻油（四兩）　良薑（十五兩）　茴香（七兩五錢）　甘草（十一兩七錢）　炒鹽（一斤）　同炒為末，每服一錢，白湯煎服。有痰飲，粥、藥到咽即吐，人皆謂其反胃，非也，此乃痰氣結在胸膈之間，先宜薑蘇湯下靈砂湯。〔金匱〕方：諸嘔吐，穀不得下者，小半夏湯主之。又云：嘔家本渴，渴者為欲解也。今反不渴，心下有支飲故也，小半夏湯主之。又云：卒嘔吐，心下痞，膈間有水腫悸者，小半夏加茯苓湯主之。寒嘔吐，則喜熱惡寒，四肢清冷，脈弱小而滑，因胃虛，傷寒飲食，或傷寒汗下過多，胃中虛冷所致。食久反出，食物不消，當以剛劑溫之，二陳東加丁香十粒，或理中加枳實五分，或丁香吳萸湯，藿香安胃湯藿香　丁香　人參（各二錢）　桔紅（五錢）</p>
<p>共為末，每服二錢，薑三片，煎，連渣服；不效，則溫中湯（即理中東加丁香）；甚則附子理中湯，並須冷服，蓋冷與冷則相入，庶不吐出（羅謙甫云：諸藥不效者，紅豆丸神效。</p>
<p>曾有人用附子理中湯、四逆湯，加丁香，到口即吐，後去乾薑、人參、附子，加丁木香煎熟，更磨入沉香，立定。蓋虛寒痰氣凝結，丁、附純溫，佐以沉香、木香　則通，乾薑、白朮則汲耳）。脾土虛寒，水來侮土，以致嘔逆，六君子東加澤瀉、乾薑、丁香。食嘔吐，或痛或飽，宜和中、消導、順氣為主，卒不可下。食滯胸膈，胸腹痞悶，惡食吞酸，嘔吐酸黃水並宿食，平胃散加曲、柏、半夏、枳實、生薑、砂仁、木香，或磨入沉香汁。氣嘔吐，胸滿膈脹，不食常飽，食已暴吐，其治當降氣和中，二陳加枳實、木香、檳榔之屬。氣逆而嘔，覺金氣自下逆上，蘇子降氣湯；不效，用靈砂丹。氣滯者，胸膈不利，心腹刺痛，木香調氣散（木香　丁香　砂仁　藿香　白蔻　陳皮　半夏　枳殼　甘草　薑）。氣鬱，胃口結聚痰涎，嘔吐者，胸膈痞悶，不思飲食，加味七氣湯（木香　厚朴　半夏　青皮　蒼朮　枳殼　陳皮茯苓　甘草）加山梔、沉香。風邪乘胃，嘔吐，飲食不得進，吐而多汗，脈弦，葛根湯加前胡、陳皮、半夏、生薑。風痰乘於脾胃者，半夏　南星各一兩　檳榔　雄黃各三錢　薑汁浸炊餅丸。胃虛，久病嘔吐，聞穀氣、藥氣即嘔者，先用元米炒黃，濃煎汁，入鹽薑，徐徐熱服，以養胃氣，間參、朮、炮薑，飯丸服，俟吐少止，用參朮養胃湯（人參　白朮　茯苓甘草　桔紅　半夏　藿香　砂仁　神麯　陳皮　脾胃虛寒，加丁香　吳萸　豆蔻）。若脈弱，小便復利，身微熱而手足厥冷，此虛寒之極，加附子。清晨作吐者，胃氣空虛，腎水被肝木吊動也白朮（五分）　吳萸（半分）　川連（三分）　養胃降火，使氣得下通。有食即吐者，亦是氣虛，非補命門相火，何以得效。吐而不出聲者，屬虛，宜溫不宜寒，此名反胃（凡嘔吐朝食暮吐，暮食朝吐，天明吐出，或食未發時，而隨變痰涎出者，並入反胃門）。痞滿短氣而嘔，調中益氣湯黃　（一錢）　人參　蒼朮　甘草（各五錢）　柴胡　升麻　桔皮　如腹中氣不得運轉，更加到各三分，木香一分或二分。血虛，氣不歸源而吐，十全大補東加陳皮、半夏、藿香。先因大便不通，後嘔吐，水漿不入者，此地道不通，氣逆厥上，即幽門不通，上衝吸門之義。老人、虛人多有此症。宜用生地、當歸、桃仁、紅花以和血，涼血，潤血，微加硝黃，以通其閉，或導法；大便去，氣得下，嘔自止。若大便不閉者，禁用。蟲嘔吐得食則嘔，靜而復煩，吐中有痰，烏梅丸。吐蛔乃胃中虛冷，宜理中東加川椒、檳榔，吞烏梅丸。</p>
<p>有熱，加黃連。王宇泰云：嘔吐別無他症，諸藥不效者，乃蛔在胸膈作嘔，宜於治嘔藥中，加川椒十粒。嘔吐清水屬濕，吳萸一分，一味蒼朮丸。惡心嘔吐清水，乃屬胃寒，用白蔻仁研末，食遠酒下，或濃煎藿香湯下。嘔吐清綠水，肝木乘脾也，六君子東加青皮、肉桂。</p>
<p>〔金匱〕方：心胸中有停痰宿水，自吐出後，心胸間虛，氣滿不能食，茯苓飲主之。乾嘔噦，手足厥者，桔皮湯。卒乾嘔，不息，取甘蔗汁溫服半升，日三服，或入薑汁。</p>
<p>乾嘔吐涎沫，手足厥者，半夏乾薑湯。周慎齋云：乾薑炒為末，鹽湯調服，治乾嘔甚效。</p>
<p>理會云：乾嘔因熱氣與痰搏結於胃，熱氣上衝，心下痞結，故有此症，用二味加薑汁炒芩連、竹茹、枳實、生薑。乾嘔吐涎沫，頭痛，吳茱萸湯。嘔而胸滿，吳茱萸湯。嘔而腸鳴，心下痞者，半夏瀉心湯。嘔而大小便不通，氣逆不續，嘔逆不禁，名曰走哺，下焦實熱故也，人參湯主之人參　黃芩　知母　玉竹　茯苓（各三錢）　蘆根　竹茹　梔子　陳皮（各五錢）</p>
<p>石膏（一兩　）　每服四錢，水煎服。食入即先嘔而後下體背皆熱，肘臂牽痛，其氣不續，膈間最悶，名曰滿氣。此因上焦傷風，開金腠理，經氣先道，邪氣著內，麥門冬湯主之麥冬蘆根　竹茹　白朮（各五兩）　炙草　茯苓（各二兩）　人參　陳皮　玉竹（各二兩）　每服四錢，薑一片，陳米一撮，研末服。惡心乾嘔，欲吐不吐，心下映漾，如畏船，宜大半夏湯，或小半夏湯，茯苓湯，理中湯，治中湯，皆可用。</p>
<p>似嘔不嘔，似噦不噦，心中憒憒無奈者，生薑湯。舊有風症，見風則眼澀眼黑，胸中有痰，惡心，兀兀欲吐，遇風覺皮肉緊，手足難舉動，重如石，遇暖隨減，柴胡半夏湯主之半夏（二錢）　蒼朮　神麯　生薑　柴胡　本　升麻（各五分）　茯苓（七分）　為末服。丹溪云：吞酸，〔素問〕明以為熱，東垣又以為寒，何也？曰：吐酸與吞酸不同，吐酸似吐出酸水如醋，平時津液隨上升之氣鬱而成積，鬱積至久，濕中生熱，故從木化，遂作酸味，非熱而何。其有鬱積至久，不能自涌而出，伏於肺胃之間，咯不得出，咽不得下。肌表得風寒，則內熱愈郁，而酸味刺心，肌表溫暖，腠理開發，或得香熱湯丸，津液得行，亦暫解，然非寒而何。〔素問〕言熱者，言其本也。東垣言寒者，言其末也。予嘗治此症，用黃連、吳萸各制炒，隨時令迭為五使，蒼朮、茯苓為輔，湯浸蒸餅，為小丸吞之，仍令以蠣食疏果自養，則病易安。按吞酸一症，〔素問〕、東垣、丹溪三說不同，何也？曰：此症有虛有實。〔內經〕言熱者，指病形而言也。如穀食勿熱不酸，非熱而何？東垣言寒者，指病本而言也。蓋脾胃虛寒，不能化濕，濕鬱為熱，因以作酸，非寒而何？故用丁香以溫胃，人參以養胃。去其虛寒，食物自然克化，而不至留滯作酸矣。汪山石云：吐酸苦水，由脾虛不能運濕，濕鬱為熱，故水作苦酸也，宜用辛熱之藥。濕逢熱則燥，郁迂辛則開，濕去郁開，酸苦自除矣。丹溪言寒鬱為熱者，兼標本而言也。以飲食入胃，未及運化，或食冷物，或受風寒，濕熱被郁，因而作酸，故用平胃加山梔、黃連，以治其本熱；吳萸、蒼朮，以散其標寒；寒散熱除，酸自止矣。是知屬熱屬冷，皆病機之所必有者，審其脾氣虛寒，飲食不能輸化，濁氣不能下降而作酸者，用加減安胃湯（人參　藿香　丁香　吳萸　白朮　半夏　砂仁　陳皮　炮薑）。偶爾作酸，嘈雜便閉，食易化，此濕熱鬱遏也，用加減清胃湯黃連　吳萸炒　黃芩（薑汁炒）　陳皮　蒼朮山梔　厚朴　赤苓　生薑。中脘有飲則　，有宿食則酸，故常噯腐氣逆，咽酸水，亦有每晨吐清酸水數口，日間無事，亦有胸膈間常如酸折，皆飲食傷於中脘所致，生料平胃散加神麯、麥芽各一錢，有熱，用醋丸吳萸（煮晒）　陳皮（去白）　黃芩（炒各五錢）　蒼朮（七錢五分）　黃連（陳壁土炒一兩）　神麯糊丸。膈間停飲，積久必吐酸水，神術丸蒼朮（米泔浸）　生芝麻（用水二盞，研細，取漿一斤）　大棗（煮爛，去皮核，十五枚）　以蒼朮焙乾為末，然後以芝麻漿及棗肉為丸，每服五十丸，初服覺燥，用山梔湯下。酒癖停飲吐酸水，用乾薑丸乾薑　枳殼　橘紅　葛根　前胡（各五錢）　白朮　半夏曲（各一兩）　吳萸（炒）　甘草（各錢半）。風痰眩冒，惡食吐酸水，半夏、南星、白附子為末，滴水，丸桐子大，以生面為衣，陰乾，每服十丸至二十丸，薑湯下。參萸湯可治吞酸，亦可治自利六一散（六兩）　吳萸（二兩）　煮。一方去吳萸，加乾薑。診兩寸洪數者，濕熱；右關沉微者，虛寒；氣口緊盛者，宿食。嘔苦，是膽液泄，胃氣逆也。陽明在泉，燥淫所勝，病喜嘔。嘔有苦，又陽明之勝。嘔苦，治以苦溫辛溫，是運氣。嘔苦，屬燥也。吐而瀉，用胃苓湯；以瀉為主，海藏云：上吐下瀉不止，當渴而反不渴，脈細微而弱者，理中湯主之。丹溪云：泄瀉或嘔吐，生薑湯調六一散。</p>
<p>潔古云：有痰而泄利不止，甚則嘔而至於吐下，而不能食，由風痰羈絆脾胃之間，水煮金花丸主之半夏　南星　寒水石（各一兩）　燒存性　天麻（五錢）　雄黃（錢半）　白面（四兩）　共為末，丸如桐子大，每服百丸。先煎漿水沸，沸藥煮浮為度，漉出，薑湯下，食前服。仲景云：嘔家有癰膿，不可治嘔，膿盡自愈。仁齋以地黃湯主之生地（洗焙）　川芎（各一兩）　半夏　炙草（各七錢五分）　南星（湯洗七次）　白芍　白芷　茯苓　桔梗　前胡　知母　人參（各五錢）　薑（三片）　烏梅（八分）　每服三錢。吐食，乃上焦氣熱沖逆，食已暴吐，脈浮而泄，宜先降氣和中，以桔梗湯桔梗　白朮（各一兩五錢）　半夏曲（二兩）　桔紅　枳實　茯苓　厚朴（一兩）　每服一兩調木香散（木香　檳榔　為末，二錢），隔夜空腹服。中焦吐食，由食積與寒氣相格，故吐而疼，宜紫沉丸砂仁　半夏曲　烏梅　丁香　檳榔（各五錢）　沉香　杏仁　白朮　木香（各一錢）　陳皮（五錢）　白蔻仁　巴霜（各五錢）　另研，共為末，入巴霜，醋糊為丸，丸為黍米大，每服五十丸，食後薑湯下，愈即止。凡吐，諸藥不效，蘇梗煎湯，磨檳榔、沉香、枳殼服之，即效。王宇泰云：嘔吐，諸藥不效，當借鎮重之品，以墜其氣，用薑蘇湯下靈砂丹水銀（一兩）　硫黃（五錢）</p>
<p>新銚炒成珠，入水，火鼎鍛煉為末，元米為丸，麻子大，水下四五十丸，每至百丸。俟吐止，隨症調治。慎齋方：沉香、烏藥為末，薑三片，淡鹽點嚼，去渣，津液咽下，極效。又法：加人參，甘草末減半，薑鹽點藥末擦牙，津液咽下。旋覆代赭石湯能止氣逆、痰飲、作嘔不止，亦鎮重之義，用之甚效。古方通以生薑、半夏為正劑，獨東垣云：生薑治嘔，但治表實氣壅。若胃虛穀氣不行，惟當補胃，推揚穀氣而已，故服小半夏湯；不愈，服大半夏湯半夏（五錢）　人參（三錢）　白蜜（二錢）　水二碗，和蜜揚之二百四十遍，煮八時，溫服。診寸口脈數，其人則吐，陽浮而數亦吐。脈浮而洪為熱，浮而熱為積，沉而遲為寒，細為虛，關前沉伏或沉滑為痰為冷，關脈浮大為風在胃中。陽緊陰數，難治，寬緩者可治。上部有脈，下部無脈，其人當吐，不吐者死。嘔吐大痛，色如青菜葉汁者，必死。凡嘔，渾身作脹者死，大便閉者不治，無脈者不治。昔人曾用丁、沉、藿香等溫中順氣而愈者。喻嘉言云：倪慶云病膈氣十四日，粒米不入咽，始吐清水，次吐綠水，次吐臭水，呼吸將絕。余診之曰：盡一晝夜，先服理中湯六劑。來朝轉方，一劑安全。渠家曰：病已至此，安能服藥六劑？余曰：但得此等甘溫入口，必喜而再服。曰：憑有抄方，何不即投，必先與理中？余曰：〔金匱〕云：病後噫氣不除者，旋覆代赭石湯主之。吾於此病分別用之者，有二道：一者以黑水為胃底之水，臭水為腸中之水，此水且出，則胃中之津液久已不存，不敢用半夏以燥其胃之液；一以將絕之氣，止存一線，以代赭墜之，恐其立斷，必先以理中分理陰陽，俾氣易於降下，然後代赭得以奏績。及檢仲景方，見方中止用煨薑，而不用乾薑，又謂乾薑比半夏更燥，而不敢用。余曰：尊人所噫者，下焦之氣也；所嘔者，腸中之水也；陰乘陽位，加以食久不食，諸多蛔蟲必居上膈間，非乾薑之辣則蛔蟲不下轉，而上氣亦必不下轉，妙處正在此。進藥後，果再索藥。三劑後，病者能言，云內氣稍接。但恐太急，俟天明再服。次早中醫交阻，渠家並後三劑不肯服矣。余持前藥一盞勉令服之，曰：吾於眾醫前立地轉方，但用旋覆花一味煎湯，調代赭石末與之二茶匙。才入口，病者曰：好藥，吾氣已轉入丹田矣。病者以十四日衣不解帶，目不交睫，憊甚，因圖脫衣安寢，冷氣一觸復嘔，與前藥立止：思粥，令食半盞，渠飢竟食二盞，少須又食六盞，復嘔，與前藥立止。又因動怒，以物擊婢，復嘔，與前藥立止。以後不嘔，但困倦之極，服補藥二十劑，丸藥一斤，息二月，始能遠出。方悔從前少服理中二劑耳。</p>
<p>紅豆丸治諸嘔逆膈氣、反胃吐食。丁香　胡椒　砂仁　紅豆各二十粒　共為末，薑汁糊丸，皂角子大，每服一丸，以棗一枚去核，填藥，面裹，煨熟，去面，細嚼，白湯下，空心服，日三服。</p>
<h2>噎膈反胃</h2>
<p>氣留噎嗌，噎塞窒礙，食物不得順利，曰噎。氣結胸膈，填塞隔絕，食物不得下通，曰膈。反胃者，因其隔絕不得下行，故復反出於胃也。丹溪云：噎膈生於血干。血，陰也。陽主靜，內外兩靜，則臟腑之火不起，金水二氣有所養，陰血自生，胃腸津液傳化合宜，何噎之有？惟血液俱耗，胃脘干槁，其槁在上，近咽之下，水飲可行，食物難入，名之曰噎。其槁在下，與胃為近，食雖可入，良久復出，名之曰膈，亦曰反胃。二者皆由陰中伏火而作。蓋陽與陰不能施化，陰之失位，而陽伏其中，傳化失職而反上行也。子和云：三陽結為之膈。</p>
<p>三陽者，大、小腸、膀胱也。小腸熱結，則血脈燥；大腸熱結，則便不通；膀胱熱結，則津液涸；三陽既結，則前後閉澀；下既不通，氣必反而上逆，所以飲食不下，縱下而復出也，此陰火不下行而上逆也。張雞峰云：噎膈是神思間病，惟內觀自養，薄滋味，忌香燥，戒鬱怒，可獲全安。若氣血兩虛，口吐涎沫，糞如羊屎，六脈緊澀，皆不治也。劉宗濃云：噎膈之症，皆由氣聚成積，自積成痰，痰積之久，血液俱病，以其為病在咽在膈，故立噎膈之名。嚴氏主化痰順氣，夫氣之不下，痰之不化，必有為病之因。苟不知其本，而專用香燥之藥治其標，痰氣何由而自下乎？理會云：噎膈多由暮年之人，其屬血干也明甚。蓋血結則無以制火，火盛則津液脂膏因火成痰，水穀道路因火干槁，故痰火窒塞胸膈而成噎膈也。其中年之人，偶有噎膈，則多屬憂思鬱怒所致。夫鬱怒則氣滯，憂思則氣結，痰因氣聚而生，氣因痰礙而愈結，故為噎膈反胃也。用藥之時，切勿執滯。血虛者，以滋養為主；氣鬱者，以理氣為先；痰涎上阻，宜用酸苦涌泄，因而治下，藥勢易行；如燥結久閉，宜用蜜導通幽，因而潤養，則關扃自透。若郁既久，則壅塞堅頑，不用開結軟堅之藥，遽用補養，吾恐痰因補而愈多，氣因補而愈窒矣。竊見世人治噎膈，非用香燥之劑，即用牛羊之酪。豈知香燥能助火耗血，酥酪是滯氣生痰，求其病愈，不亦難乎？按〔內經〕云：三陽結謂之膈。張雞峰以為神思間病，法當內觀靜養，所言深中病情。大抵氣血虧損後因悲思憂恚，則脾胃受傷，血液漸耗，氣機阻礙，郁氣生痰，痰則塞而不通，氣則上而不下，妨礙道路，飲食難進，噎膈所由成也。脾胃虛損，營運失職，不能腐熟五穀，變化精微，朝食暮吐，暮食朝吐，食雖入胃，復反而出，反胃所由成也。東垣云：諸塞咽喉之間，令諸經不行，則口開目瞪，氣悶欲絕，當先用辛甘氣味俱揚之藥（益智仁　草蔻　參　歸　升麻之類），引胃氣以治其本，加開塞之藥（木香　青皮　陳皮　麥芽），以治其標也。若寒助陰邪，於正藥內加吳茱萸大熱大苦辛之味，以瀉陰寒之氣．暑月陽盛，則於正藥中加青皮、陳皮、益智、黃柏，散暑氣，泄陰火之上逆，或以消痞丸合滋腎丸，或更加黃連，每服七八十丸，空心約宿食消盡服之，待少時，以美食壓之，不令胃中停留也。按噎塞之症，塞者，陰也，血也；噎者，陽也，氣也；二者皆由陰中伏火而作也。東垣用藥，先用辛甘氣味俱揚之藥，升發其胃氣，以為滋生之本，繼以滋腎丸純陰之藥，以瀉陰中之火，制其沖氣之上逆，庶表裡相通，陰陽各得其正，此治噎塞之大法也。至痰凝氣結，血瘀津枯，皆能致噎，其治法又當察證憑脈，其治法又非東垣一言所能盡也。噎膈生於血干，滋養為主，歸、地、門冬煎膏，入韭汁、乳汁、童便、蘆根汁、桃仁泥；兼氣虛者，參、　、四君；憂恚氣結者，兼開鬱理氣，大忌香燥之藥，犯之必死。大便閉塞，多用桃仁、麻仁；氣壯者，加元明粉。噎塞不通，有形滓質之物不能下咽。若吐沫不已者，此氣血大虛，法在不治。若脈形未敗者，惟宜大補氣血，參、　、歸、朮仍加陳皮、桃仁、牛乳、白蜜、薑汁，或煎成膏，緩緩調之，可救什中之一。脈細而弱，或沉而澀者，此氣虛挾寒，理中東加人乳、薑汁、白蜜。痰多加半夏。中氣虛而不任用血藥者，一方用生薑汁　白蜜　牛膝各五兩　人參　百合（為末各二兩）　放銅鍋內，慢火煎如膏，不拘時候含一匙津咽，或人參湯調下一茶匙。食物下咽，屈曲自膈而下，哽澀而痛，多是瘀血，用前歸地諸汁膠內加桃仁、童便、韭汁、鬱金末、降香末調補之，後以抵當丸如芥子大，服二三錢，服後仰臥，細細嚼之。有實積者，可暫用厚朴丸，亦可用昆布丸。</p>
<p>張孟端夫人形肥體盛，憂怒之余，得食輒噎，胸中隱隱痛。士材診之曰：脈緊而滑，痰在上脘，用二陳加半夏、竹瀝、薑汁，服四劑不效。或疑半夏性燥。曰：濕痰滿中，非此不治。</p>
<p>改用大半夏湯四帖，胸痛乃止。服二十劑而安。若痰不盛，形不肥者，不可與也。氣滯胸痞，胃寒噎塞，脈沉遲澀，津血不枯者，用香砂寬中湯木香（磨）　白朮　陳皮　香附　白豆蔻砂仁　青皮　檳榔　半夏曲　茯苓　厚朴　甘草　薑　加蜜少許煎服。七情郁結，胸背引痛，脈沉而澀，四磨飲加黃連、山梔、川貝、香附、蘇子。郁結傷脾，歸脾東加枳、桔。</p>
<p>痰飲阻滯，脈結澀者，利膈豁痰湯（桔紅　半夏　枳實　桔梗　栝蔞　黃連　梔子　香附細茶　檳榔　沉香　石膏　白芥子　初服二三帖加麻黃、蘇葉煎）。濕痰瘀塞，胸口作痛，形肥脈滑，大半夏湯。噎病喉中如有肉抉，食不下，用昆布二兩洗去鹽水，小麥二合，水三大盞，煎，俟麥爛熟，去渣，每服不拘時，吃一小盞，仍取昆布不住口含兩三片咽津，極效。昆布丸治五噎咽喉妨塞，食飲不下昆布（洗去鹽水）　天麥冬（焙）　訶利勒（去核各一兩五錢）　木通　大黃（微炒）　朴硝　郁李仁（浸去皮微炒）　桂心　百合（各一兩）　羚羊角（屑）　杏仁（麩炒）　蘇子　射干（各一兩五錢）　柴胡　陳皮　檳榔（各二錢五分）　蜜丸桐子大，每服三十丸，不拘時，熱酒送下，夜飲後棉裹彈子大一丸噙化。按此方治痰熱壅結妨礙噎塞甚效。若脾虛血干者，又非所宜也。治卒噎，用杵頭糠，手中布裹，時時拭牙，或煎湯呷下，或蜜丸含咽津亦得。一方：杵頭糠　人參（末）　石蓮肉（末）　柿霜　元明粉（等分）　舐吃。治噎散結化痰湯，治氣留咽嗌，有如梅核，俗名梅核氣，亦噎膈之漸也薑製黃連　山梔　香附（童便浸）</p>
<p>川貝　川芎　半夏　桔紅　蘇葉　青黛　枳殼　鳳尾草　白蔻仁　生薑　嘔者，加枇杷葉。一婦患咽喉噎塞如梅核，時時噯氣，足冷如冰，用前方十劑，罔效，熟思之，乃陰火也，三陰至項而還，陰虛火炎，故咽塞、噯氣、足冷、耳聾。用滋陰清膈飲數劑，諸症皆退黃柏（鹽水炒）　黃連（薑汁炒）　黃芩　梔子　當歸　白芍　生地　甘草　入童便　竹瀝薑汁　按此方治陰火上衝，食不得入，脈洪數者，方可用之，否則有傷脾敗胃之虞。以上諸方，治噎症之大法也。咽喉閉塞，胸膈膨滿，似屬氣滯，暫宜香砂調中湯。有因火逆上衝，食不得下，其脈洪大有力或數者，滋陰清膈為主，兼降火理氣，枇杷葉、蘆根汁、竹茹、黃連、山梔等。少年屬陰虛者，仍用四物，門冬、童便、牛羊乳，或滋陰清膈飲。有胃之下脘不通者，三陽閉結，上衝吸門，食不得下，當滋養其下，慎勿用香燥之品。中焦吐者，皆從瘀積，有陰陽之分，其症或先吐後痛，法當去積和中，分氣血痰積而施治之。慎齋云：膈氣有氣膈、血膈、痰膈。治膈先當開關。氣膈開關，小茴香、烏藥、檳榔。血膈開關，當歸、烏藥、枳殼、檳榔、沉香、桃仁、紅花。痰膈開關，半夏、附子。關開者可治，宜理脾溫肺，用補中益氣湯，加附子、煮烏梅。痰飲阻滯胸膈，食復反出，脈來結澀，或緊而滑者，用二陳湯入竹瀝、薑汁，或小半夏湯。痰多，食飲才下便痰涎裹住，不得下者，以萊菔控去痰涎，或滌痰丸半夏曲　枯礬　皂角（炙，刮去皮結子）　元明粉　茯苓　枳殼（各等分）</p>
<p>霞天膏（和丸）。痰血在胸膈間，阻礙氣道或膈或脘，必痛，痛連於背，脈來有力或結澀，然得之憂怒，忿郁之人多有此症，以代抵當丸作芥子大，朮三錢，去枕仰臥，細細嚼之，下惡物。凡大怒血鬱於上，積在胸膈，礙氣升降，津液聚為痰飲，二陳加白芥子、香附、韭汁、桃仁、五靈脂。大便燥結，閉久不通，屬血熱者，止可清熱，小著湯丸累累加之，關扃自透。滋血潤腸湯當歸（酒洗三錢）　白芍　生地（各錢半）　紅花（酒洗）　桃仁　大黃　枳殼（各一錢）　韭汁（半杯），人參利膈丸木香　檳榔（各七錢五分）　人參　當歸（酒洗）　藿香　甘草枳實（麩炒黃各一兩）　大黃（酒煎）　厚朴（薑製各三兩）　水泛丸，每服三十五丸，食後服，按上二方，皆用大黃，一治血閉，一治氣閉，用者詳之。通利之藥不可多用，恐反耗其血液，而便愈結，當滋養其血，而便自行。糞如羊屎者，大腸枯結不治，乃陽陷於陰分，陽陷則陰絕，當用補中，兼升舉之法。良方秦川翦紅丸治膈氣成反胃，由瘀血成病者，及能下蟲效雄黃（另研）　木香（各五錢）　檳榔　三棱　蓬朮（並煨）　貫仲　乾漆（炒煙盡）　陳皮（各一兩）</p>
<p>大黃（一兩五錢）　面糊丸，桐子大，每服五十丸，食前米飲下。（本事方）芫花丸，治結聚停飲，痰水生蟲，酒癖為患，成反胃者芫花（醋炒）　牛膝（各一兩）　野狼牙根　桔梗（炒黃）　藜蘆檳榔（各五錢）　巴豆（炒十粒）　醋糊丸，如赤豆大，每服二三丸至五七丸止，食前薑湯下。</p>
<p>（巢氏病源）論酒瘕云：飲酒多而食穀少，積久漸瘦，其症常欲思酒，不得酒則吐，多睡，復不能食，是胃中有蟲使然，名為酒瘕，此藥治之，須禁酒方易治（以上諸法　治反胃由於痰血蟲積者）。中氣虛弱，不能運轉，噎塞反胃者，補氣運脾人參（二錢）　白朮（二錢）　桔紅　茯苓（各錢半蜜炙）　黃　（一錢）　砂仁（八分）　炙草（四分）　有痰加半夏　薑　棗，理中加附子亦可選用）。</p>
<p>李絳療反胃嘔吐無常，粥飲入口即吐，困倦無力垂死者，用人參三兩擘破，水一大升，煮取四合，熱服。膈症隨吃隨吐，或吃未幾，隨交痰涎出者，此火在胃中，而丹田真火不足也，故紙、茴香、萸實、人參、烏藥、沉香。有因脾胃陽火內衰，其脈沉而遲者，以辛香之品溫其中氣，丁香透膈湯白朮（二兩）　香附　人參　砂仁（各一兩）　丁香　麥芽　木香　肉白蔻　青皮（各五錢）　沉香　厚朴　藿香　陳皮（各七錢五分）　炙草（一兩五錢）　半夏　神麯　草蔻（各二錢五分）</p>
<p>每服四錢，或穀神嘉禾散茯苓　砂仁　苡仁　人參　枇杷葉（各一兩）　桑皮　白朮　檳榔白蔻　青皮　穀芽　五味（各五錢）　沉香　杜仲（各七錢）　桔紅　丁香　藿香　隨風子　石斛　半夏大腹子　木香（各七錢五分）　炙草（一兩五錢）　神麯（二錢五分）　每服三錢，水一盞，加薑、棗。此方和脾胃，寬胸膈，順氣消痰，進飲食，為噎膈之要方也，仍佐以益陰之藥為佳。旋覆代赭湯，嘉言每用以治膈氣，嘔吐不止，水穀不得下咽，絕粒不入，甚至嘔吐清綠黑臭之水，用以鎮墜其氣，則能進食，屢建奇功。中氣虛極，不能任其重墜者，先用理中之劑，以安中氣，後進此藥。下焦吐者，皆從於寒，其症朝食暮吐，暮食朝吐。王太仆云：食不得入，是有火也；食入反出，是無火也。此下焦火衰，釜底無薪，不能腐熟五穀，所出完穀不化，脈來遲微，或虛火，當用補火之藥，令火土相生。慎齋治反胃，朝食暮吐，暮食朝吐，或早晨吃粥，至次早吐而突出，若無阻之者，胃氣大虛，宜二陳東加丁香、檳榔、枳殼，溫而降之；不用檳榔，用黃連五厘、吳萸三厘同炒，加生薑，同煎服二錢，後方可用參。嘔而不出聲者，宜溫不宜寒。若胃之下脘閉結，不能傳送大腸，大便不通，食久復出，當微利之，人參利膈丸；利後，惟在調理中氣，兼以滋陰一方。治膈通關，用大黃薑炙為末五錢，沉香末三錢，用人參煎濃湯，浸於飯上，續咽之，仍加竹瀝、薑汁等尤佳，亦透關扃之善法也。</p>
<p>秘方：治膈氣，用生薑蒲包浸陽糞坑內四十九日，取出炙干為末，每服三錢，加歸身五錢，桃衣三錢，枳殼三錢，煎服。此方得之一友傳來，云試之屢驗。金匙散：用生薑蒲包裹，三月三日浸糞坑中，至六月六日取起，晒乾，蜣螂取活者，以線懸當風處，二味等分，白滾湯送下一錢，三四服，其關自開，然後依證調理可也。一方將上制薑末三錢，制枳殼末七錢，和勻，不論噎膈痰氣食積，俱用火酒下，心腹痛，白酒下，一錢二分。開關散：枳殼去穰，入皮硝、巴豆於中，合定，以線縛之，煮熟，去硝、豆，為末，火酒下五分，壯實者一錢。</p>
<p>一方：枳殼照上制後，再用桔梗、烏藥、蒼朮、檳榔、半夏、青皮、山楂、香附各等分，煎濃汁，以枳殼片浸透晒乾，再晒以汁完為度，每服一斤，藥味各七錢，用水十碗，煎五碗。</p>
<p>又方：梨一枚，去子，入五靈脂末一兩，濕紙包裹，火中煨熟，去五靈脂，為細末，木香、沉香、陳皮各三錢，附子、烏藥各二錢，牛黃五分，入開關散三錢，蜜丸，圓眼大，火酒化下一丸。仙螺膠：治膈症，取大田螺四十九枚，洗淨，再以清水養去泥士，倒覆盆內，一宿，次將淨川連二兩，切片，煎濃汁熬膏一小杯，然後將螺仰置盆內，日中晒乾，候靨開，挑入連膠一匙，過一夕，螺化為汁，取螺汁，再用柏葉汁、韭根汁、人乳、牛乳、羊乳、豬乳各一杯，煉蜜一兩，入真金一塊，砂銚熬成膏，瓷器收藏，每服一二匙，酒下。膈氣神方：冬青子　柏子仁　白芥子　蘇子　卜子　百合苗　川貝花（清明收）　桑寄生（各二錢）　沉香（二錢）</p>
<p>蘇合油（四分）　奇南香（一錢）　淡竹葉（二錢）　淘米泔二鐘，煉蜜四兩，先用米泔加前藥煎熟，後入蜜，煎一滾，放屋上露一宿，每日清晨滾水下七匙，睡時再一匙。（按噎膈反胃三症，潔古分上中下三焦異治，蓋噎膈之吐，即潔古之上焦吐；反胃之吐，即潔古之下焦吐也；其名雖異，然其要總不離乎陰虛陽虛之二途。陰者，血也，津也；陰虛則津血內枯，陽火獨亢，火性炎上，故為膈為噎；治之當滋血養陰，以治其本；清火潤下，以治其標。陽者，氣也，火也；陽虛則中氣不充，健運失職；火衰則無以腐熟五穀，故雖入而復出，其為反胃，為朝食暮吐，暮食朝吐也；治之當補火健運，以治其本；消痰順氣，以治其標。此治噎膈之大法。至於劫奪之劑，又安用耶？殊不知噎膈之本雖虛，而痰火氣血日久凝滯，瘀塞道路，膠固不通，以致食物難入，或雖入而復出；於此時也，若不先以劫奪之藥開其固結，而滋補之味又安能透其關扃耶？但關開食進之後，即當繼以補益之劑，續進飲食，病自愈矣。竟致以此等為膈氣之專方，吾未見其不敗也。又按劫奪之劑，有用大黃、黃連，有用炙薑、枳殼，或寒或熱，其治各異，臨症時，又當參其可否，慎勿以症合法也。）諸汁為治膈必用之藥，臨時隨宜選用。霞天膏導痰消瘀最妙，不傷中氣，不動臟腑，為大醫者，當備應用。大抵噎膈之證，多有結痰瘀血相停，若不去之，病必不除。然結散之後，惟在謹慎緩調，戒口絕欲，千日把持，庶可全愈。否則愈而復發，中氣既傷，難可再劫，死者多矣。噎膈既愈之後，不可便與粥飲及諸雜物，每用人參五錢、陳皮二錢，作湯細啜，以扶胃氣。旬日半月間，方可小試陳倉米飲，漸進糜粥，進之早者，多致不救。年高病患元氣敗壞，手足寒冷，糞如羊屎沫大出者，皆不治。不守禁忌，若怒若郁者，皆不治。診脈：緊而滑者，吐逆；小弱而澀者，胃反；沉緩而無力，或大而弱，為氣虛；數而無力，澀小，為血虛；數而有力，為熱，結為痰飲，為虛；滑為痰；寸關脈沉是氣；寸關脈沉或伏或大，是痰。反胃之脈，沉細散亂，不成條達，沉浮則有，中按則無，必死不治。更參面色，不致黃白，亦不致純白，皆惡候也。</p>
<p>五噎丸：治胸中久寒，嘔逆妨食，結氣不消。乾薑　蜀椒　吳萸　桂心　細辛（各一兩）</p>
<p>人參　白朮（各二兩）　廣皮　茯苓（各一兩五錢）　附子（一枚，炮）　為末，煉蜜九，桐子大，酒服十五丸，日三服，漸加至三十丸乃止。</p>
<p>五膈丸　治飲食不得下，手足冷，上氣喘急。麥冬（三兩）　甘草（二兩）　蜀椒　遠志　桂心細辛　乾薑（各一兩）　附子（一枚）　人參（二兩）　為末，煉蜜丸，彈子大，先食含一丸，細細嚼之，胸中喉中當熱，藥丸稍盡，再含一丸，日三次，夜二次，七日可愈。</p>
<p>五膈、五噎二丸，固用參、附、椒、辛、薑、桂之屬，一以肝氣上逆，胃氣不下而嘔，故宜萸、橘以疏肝降逆，苓、朮以健胃通津；以腎氣之不蒸，肺胃枯槁而不納，故用冬、草以滋肺和胃，遠志以補火生土。又嘔噎而藥食可進者，頻與小丸調之；膈食而飲不納者，用大丸咽之；其立法之詳若此。</p>
<p>附後方：治食後喜嘔。鹿角（燒末，二兩）　人參（一兩）　為末，薑湯服方寸匕，日三次。</p>
<p>藿香安胃散：治脾胃虛弱，飲食不進，嘔吐不腐。藿香　橘紅（各五錢）　丁香（一錢）　人參（一兩）　為散，每服二錢，薑三片，煎湯，食前和服。</p>
<p>膈氣方：元精石（紙包，火煨，醋淬為末）　人中白（燒紅）　五穀蟲（　末，各等分）　每服三錢，燒酒送下，吃後，自進飲食。</p>
<h2>雜病</h2>
<h3>霍亂</h3>
<p>霍亂者，心腹卒痛，嘔吐下利，或憎寒壯熱，頭目眩暈，甚則轉筋入腹者，難治。丹溪云：內有所積，外有所感，致成吐瀉，用二陳東加減，作吐以提其氣。此非鬼神，皆屬飲食，乃陽不升，陰不降，乖陽而成。切莫與穀食，惟米飲一呷入口，必死。必待吐瀉二三時，直至餓甚，方可與稀粥食之。脈多伏或絕。凡或吐瀉不徹，還用吐以提其氣，或用樟木煎湯，吐亦可。三因吐法，用極咸鹽湯三升，熱飲一升，探吐，令宿食尿，不吐更服，吐後隨症調理。此疾多生夏秋之交，皆由伏暑而然。病之將作，必先腹中　痛。吐瀉之後，甚則轉筋，此兼風也；手足厥冷，氣少唇青，此兼寒也；身熱煩渴，氣粗口燥，此兼暑也；四肢重著，骨筋煩疼，此兼濕也；當詳別三因以調之。張戴人則以風濕　三氣而為邪，斷言最當。夏月中暑，霍亂吐瀉，心腹撮痛，大渴煩躁，四肢逆冷，汗自出，兩足轉筋，宜香茹飲厚朴　黃連（各二兩）　香茹（四兩）　甘草（五錢）　每服四錢，澄冷服之，桂苓白朮湯桂枝　人參白朮　茯苓（各五錢）　澤瀉　寒水石　石膏（各一兩）　滑石（二兩）　一方有木香　藿香　葛根（各五錢為末，每服三錢，白湯下）。傷暑霍亂，用絲瓜葉一片，霜梅肉一個並核中仁，同研極爛，新汲水調服，入口立瘥。取扁豆葉搗汁一碗，飲之立愈。牆陰掘地約二尺許，入新汲水攪之澄清，名曰地漿水，用一杯調服之，蓋取地漿者，取其至陰之氣，能解陽盛暑熱之邪也。戴人云：人於夏日，多食瓜果之物，或飲冷乘風，以致食留不化，因食成痞，隔絕上下，遂成霍亂，六和湯倍藿香煎熟，調蘇合香丸。濕霍亂除濕湯半夏曲（三錢）　厚朴　蒼朮（各二兩）　藿香　陳皮　茯苓（各一兩）　炙草　生白朮（一兩）　每服四錢，薑七片，棗一枚。訶子散訶子（去核炮）　炙草　厚朴　炮薑　神麯　草果　良薑（炒）　茯苓　麥芽（炒）　陳皮（各等分）　為末，每服二錢，候發不可忍時，用水煎入鹽少許。七情郁結，五臟六腑互相刑克，陰陽不和，吐利交作，七氣湯（吳萸　木瓜　食鹽各五錢　同炒令焦，先用瓷瓶安排盛水三升，煮令百沸，入煎藥，煎至二升，傾一杯，冷熱隨病患服）。四肢厥冷，亦用此湯。霍亂多寒，肉冷脈絕，宜通脈四逆湯。霍亂用藿香正氣散加減，氣盛者，加木香；痞塞者，調蘇合丸；暑濕相搏，煩渴悶亂者，合香茹飲，名二香散藿香　陳皮　白朮　厚朴　茯苓　半夏　蘇葉桔梗　白芷　香茹　黃連　扁豆（各一錢）　大腹皮　甘草（各五分）　薑（五片）　蔥白（三根）。吐而不瀉，心腹　痛，頻欲登圊，苦於不通，本方加枳殼一錢。傷寒霍亂，多在陽明胃經，以胃為水穀之海，主中焦之氣，腐熟水穀；若中焦氣滯，或因寒飲，或因飲水，或感濕氣，冷熱不調，水火相干，陰陽相搏，上下相離，營衛不能相維，故暴成吐瀉；有從標而得之者，有從本而得之者，有從標本而得之者，六經之變，治各不同，察其脈色，知犯何經，隨症標本，各施其治。如頭痛發熱，邪自風寒而來。中焦為熱相半之分。邪高者，居陽分，則為熱，熱多飲水者，五苓散以散之。如邪稍下者，居陰分，則為寒，寒多不飲水者，理中湯以溫之。</p>
<p>如吐利後有表症者，解之汗出。厥者溫之（解法仍別有寒無汗，分風寒施治）。吐利不止，元氣耗散，病勢危篤，或水粒不入，或口渴喜冷，或惡寒戰掉，手足逆冷，或發熱煩躁，欲去衣被，此蓋內虛陰盛，卻不可以其喜冷雖去衣被為熱也，宜理中湯，甚則加附子；不效，則四逆湯，並用十分冷服。伏暑之症，脈多伏絕，最宜明辨。霍亂並諸吐瀉已愈，而力性精神未復者，十補散（即十全大補湯）。</p>
<p>轉筋，陳氏云：轉筋者，以陽明養宗筋，屬胃與大腸，令暴吐下，津液頓亡，外傷四氣，內傷七情，飲食甜膩，攻閉諸脈，宗筋失養，必致攣急，甚則舌卷囊縮者，難治也，木瓜煮汁飲之。（千金）云：轉筋不止，男子則以手挽其陰，女子則以手牽其乳近兩邊，此好法也。霍亂煩渴，以增損縮脾飲草果　烏梅　甘草　砂仁（各四兩）　干葛（二兩）　每服五錢，生薑五片同煎，以水浸，冷沖服之）主之，能解伏熱，消暑毒。霍亂之後，服熱藥太多，煩躁作渴，尤宜服之。霍亂之後，煩渴飲水，宜茯苓澤瀉湯茯苓（八兩）　澤瀉（四兩）　炙草　桂心（各二兩）　白朮（三兩）　每服四錢，薑三片。一方用小麥五兩。霍亂已愈，煩熱多渴，小便不利，宜麥門冬湯麥冬　茯苓　人參　橘皮　白朮（各錢半）　小麥　炙草（各一錢）　薑（三片）　烏梅（少許）。霍亂後，惡心懶食，口乾多渴，宜白朮散（白朮　茯苓　人參　藿香（各五錢）　葛根（一兩）</p>
<p>木香（二錢五分）　炙草（一兩五錢）　每服四錢，白湯下，如煩渴，加滑石二錢。霍亂後，利不止，冷汗出，腹脅脹，宜烏梅散烏梅（三錢）　黃連（三錢）　當歸　附子　熟艾（各七錢五分）　阿膠（三錢）　肉蔻赤石脂（各一兩）　炙草（五錢）　米飲調服二錢。霍亂後，下利無度，腹中　痛，黃連丸　黃連黃柏　厚朴（各七錢五分）　當歸　炮薑　木香　地榆（各五錢）　阿膠（三錢）　蜜丸，粥飲下二十丸）。霍亂後，下利見血，宜止血湯當歸　桂心　川斷（各三兩）　生地　炮薑　阿膠　蒲黃炙草（各二兩）　每服三錢，赤石脂湯赤石脂（四兩）　升麻　白朮（各一兩五錢）　烏梅　乾薑（各一兩）</p>
<p>陳倉米　梔子仁（各五錢）　每服三錢。干霍亂，忽然心腹脹滿攪痛，雖吐不吐，雖瀉不瀉，躁亂憒憒無奈，俗名絞腸痧是也。此因脾土鬱極而不得發，以致火熱內撓，陰陽不交，表裡不得相通，不急治，即死。但治不可過於攻，過則脾氣虛；不可過於熱，過則內火愈燥；不可過於寒，過則火必與捍格；須反佐以治。古方有用薑鹽飲，調以童便，非獨以降陰之不通，陰既不通，其血亦不行，兼用行血藥也。此誠良法，可為處方者比類矣。丹溪用吐以提其氣，最是良法也。</p>
<p>治絞腸痧，手足厥冷，腹痛不可忍者，以手醮溫水，於病者膝灣脘內撲打有紫黑點處，以針刺其惡血，即愈；或於胸背手足額項刮之，亦愈。</p>
<p>霍亂，其脈洪大者，易治；脈凝囊縮舌卷者，不治。霍亂之脈多代。霍亂之後，陽氣已脫，或遺尿不知，或氣少不語，或膠汗如珠，或大躁欲入水，或四肢不收，皆不可治。</p>
<h3>關格</h3>
<p>格則吐逆，關則不便。格者，陽盛之極，格拒於外，入者不得納；關者，陰盛之極，閉塞其內，出者不得泄；乃陰陽各造其偏，兩不相維之症也。〔素問〕謂人迎一盛，病在少陽；二盛，病在太陽；三盛，病在陽明；四盛以上為格陽。寸口一盛，病在厥陰；二盛，病在少陰；三盛，病在太陰；四盛以上為關陰。人迎與寸口俱盛，四倍以上為關格。關格之脈羸，不能極於天地之精氣，則死矣。〔靈樞〕復云：邪在腑，則陽脈不和。陽脈不和，則氣留之。氣留之，則陽氣盛矣。陽氣太盛，則陰脈不利。陰脈不利，則血留之。血留之，則陰氣盛矣。陰氣太盛，則陽氣勿能榮也，故曰關。陽氣太盛，則陰氣勿能榮也，故曰格。陰陽俱盛，不得相榮，故曰關格。關格者，不得盡期而死矣。仲景云：寸口脈浮而大，浮為虛，大為實，在尺為關，在寸為格，關則不時小便，格則吐逆。此以寸口關尺脈中察其或浮或大，定其陽虛陽實，陰虛陰實，以施治療，其義精矣。不爾，關則定為陰實，格則定為陽實，抑何從得其精細耶？又云；心脈洪大而長，是心之本脈也；上凝頭小者則汗出，下凝本大者則關格不通，不得尿；頭無汗者可治，有汗者死。此則深明關格之源，由於五志厥陽。厥陽之火鬱於心包之內，其心脈上凝，見頭小，亦陽虛之驗；下凝，見本大，更陽實之征；頭無汗者可治；有汗則心之液外亡，自焚而死矣。又謂趺陽脈伏而澀，伏則吐逆，水穀不化，澀則食不得入，名曰關格。診趺陽足脈，辨胃氣之有無，水穀入而不化，胃氣之所存可知矣。澀則並其食亦不得入，胃氣所存，更可知矣。營衛之行遲，水穀之入少，中樞不運，下關上格，豈待言哉！仲景立此三法，大概在顧慮其虛。蓋關格之病，精氣絕竭，形體毀阻，離絕菀結憂恐喜怒，五臟空虛，血氣離守，厥陽之火獨行，上合心神，同處於方寸之間，存亡之機間不容發，不可不辨也。關格之症，上下格絕，治之惟宜調其營衛，不偏陰偏陽，一味沖和無忤，聽胃氣之自為敷布，由一九而二八三七四六，乃始得協於平也。豈一蹴所能幾耶？故不問其關於何而開，格於何而通，一惟求之，於握樞而運以漸透，於上下俟其趺陽脈不伏不澀，營氣前通，乃加意於營，衛氣前通，乃加意於衛，因其勢而利導之，庶不與藥　格耳。</p>
<p>夫死裡求生之法，須得死裡求生之人，嗒然如喪，先熄其五志交煽之火；治吐逆之格，由中而漸透於上，治不溲之關，由中而漸透於下；治格而且關，由中而漸透於上下；乃盡義也。</p>
<p>庸俗之輩，不知此中導竅之妙，但知止嘔，利小便，亟治其標，伎窮力盡，無益反損，不為其敗者鮮矣！關格一症，推云岐子所立九方，奈其徹宗霸術，不識病本。嘉言氏擬用仲景傷寒門中黃連湯一方為之進退黃連（薑汁炒）　人參（人乳拌）　炮薑　桂枝（一錢）　半夏（五錢）　大棗（二枚）　進法俱用不制，退法不用桂枝，黃連減半，或加肉桂五分，如上逐味制熟，但空心朝服崔氏八味丸三錢半，飢時煎服，一聽胃氣之上下敷布，不問上熱下寒，下熱上寒，皆可治也。方中人參、甘草、半夏、大棗，助胃氣以握樞而運，加桂枝、黃連，以通達其上下，兼炮薑之辣，以開利其中。其於格，則吐逆、胸背窒塞、食不得入、入亦復出之症者，能開之。至於五志厥陽之火上行，桂枝又不可用矣，恐其以火濟火也，復立資液救焚湯，以治五志厥陽之火生地（絞汁二錢）　麥冬（取汁二錢）　人參（錢半人乳拌蒸）　炙草（一錢）　阿膠（一錢）　胡麻仁（炒研一錢）　柏子仁（七分）　五味（四分）　紫石英（一錢）　寒水石（一錢）　滑石（一錢）　三味俱敲碎為末，生犀汁（三分）　生薑汁（二匙）　上藥除四汁及阿膠，共入，用泉水四茶杯，暖火煎至一杯半，去渣，入四汁及阿膠，再上火略煎，至膠烊化，調牛黃細末五匣，內中分二三次熱服，空朝先服崔氏八味丸三錢。其關則不得小便，桂枝亦在所不取。但胃之關門已閉，少陰主闔，少陰之氣不上，胃之關必不開也，是則腎氣丸於小便不通之關證亦在所必用。腎氣上交於胃，則關門開，而溺溲自通；交於心，則厥陽之火隨之下伏。進退一方，次第如此。至於病變無方，生心化裁，如智者臨症活法可也。</p>
<h3>呃逆</h3>
<p>〔靈樞經〕云：穀入於胃，胃氣上注於肺。今有故寒氣與新穀氣俱還入於胃，新故相亂，真邪相攻，氣並相逆，復出於胃，故為噦。補手太陰，瀉足少陰。</p>
<p>〔傷寒論〕皆在陽明症中謂濕家下之太早則噦。而陽明病不能食，攻其熱必噦，皆因下後，胃氣虛而噦者也。至有邪熱內蘊，氣不能通，有漸熱時時噦者，與小柴胡湯和解之。噦而腹滿，視其前後，知何部不利，利之則愈。此皆不治之症。至如病極譫語，甚者而噦，又不尿，腹滿加噦者，皆不治。大抵噦聲頻密相連者為實，可治；如半時噦一聲者為虛，難治，死在旦夕。劉宗濃云：呃逆有虛，有實，有火，有痰，有水氣，不可專作寒論。蓋傷寒發汗，吐下之後，與瀉利日久，及大病後，婦人產後，有此症者，皆脾胃氣血大虛之故也。</p>
<p>如平人食入太速而氣噎，或飲水喜笑錯喉而氣嗆，或痰水停膈心中，或暴怒氣逆痰厥，或傷寒熱病失下，而有此者，則皆屬實也。夫水性潤下，火性炎上，今其氣自下而上，非火而何？東垣謂是陰火上衝，而吸之氣不得入胃，脈反逆，由陰伏陽而作。大抵治法，虛則補之。虛中須分寒熱，如因汗吐下後，誤服寒涼過多，當以溫補之。如脾胃虛火逆上，當以平補之。</p>
<p>挾實者，涼而補之。若夫實者，如傷寒失下，地道不通，因而呃逆，當以寒下之。如痰飲停蓄，或暴怒氣逆痰厥，此等必形氣俱實，別帶惡候，當隨其邪之所在，涌之、泄之、清之、利之也。吐利後，胃虛寒者，理中東加丁香柿蒂散（病後胃中虛寒者，呃逆至八九聲相連，收氣不回者，難治。人參　茯苓　陳皮　半夏　良薑（炒）　丁香　柿蒂（各一兩）　生薑（一兩五錢）</p>
<p>甘草（五錢）水煎服，合蘇合香丸尤妙。一方：枳殼　良薑　丁香　柿蒂　水煎服），甚者加附子。胃虛熱者，橘皮竹茹湯（陳皮　竹茹　大棗　甘草　生薑　人參）。陰虛，木挾相火，直沖清道而上者，當補陰而抑木火上逆之勢。大腸燥結，脈沉數者，調胃承氣湯主之。</p>
<p>污血亦能作噦。丹溪治超越陳氏，因飽後奔走數裡患噦，但食物，則連噦百余聲，半日不止，飲酒與湯則不作，至晚發熱，脈澀數，以血入氣中故也，治之用桃仁承氣東加紅花煎服，下污血數次，即再用木香和中丸加丁香服之，漸愈（按：此非審症精確者不可妄用）。</p>
<p>噦而心下堅痞，眩悸者，膈間有痰水，所謂虛不禁吐者，二陳湯導痰飲加薑汁、竹瀝。水寒相搏者，小青龍湯；寒甚，加附子尖亦妙。（本事方）用枳殼五分，木香二錢五分，研細，每服一錢，白湯下。孫兆方用陳皮二兩，去白，水煎，通口服，或枳殼一兩，此皆破氣之劑，氣逆宜之。陳皮竹茹湯，氣逆而虛者宜之。無病偶然致呃，此緣氣逆而生，重者或經一二日，宜小半夏茯苓湯，加枳實，或煎半夏湯，泡蘿卜子，研取汁，調木香調氣散白蔻仁　丁香檀香　木香（各二兩）　藿香葉　炙草（各八兩）　砂仁（四兩）　每服二錢，入鹽少許，乘熱服。胃中寒甚，或呃逆不已，或服嘔吐輕劑不能取效，宜丁香煮散治胃反、嘔吐、呃逆、泄瀉。</p>
<p>丁香（三十七粒）　生薑（切片）　蓮肉（二十七粒）　黃秫（米半合）　水一碗半，煮熟，去薑，啜粥及附子粳米湯，增川椒、丁香二三十粒。治呃逆，於關元灸七壯，立愈。〔靈樞〕雜病篇末云：噦，以草刺鼻取嚏，嚏而已；無息而疾迎之，立已；大驚之，亦可已。</p>
<p>大補陰丸：降陰火，益腎水。黃柏（鹽炒）　知母（酒炒，各四兩）　熟地（酒洗、焙）</p>
<p>龜板（炙，各六兩）　豬脊髓加煉蜜丸桐子大，每服十丸，空心薑鹽湯下。</p>
<p>大補丸：治腎經火燥，下焦濕熱。黃柏（酒炒褐色）為末，水丸，隨症用藥送下。</p>
<p>宣明桂苓白朮散：消痰，止呃逆，散痞塞，開堅結痛悶，進飲食，和臟腑。官桂　乾薑（各二錢）　茯苓　半夏（各一兩）　白朮　橘紅　澤瀉（各五錢）　共為末，面糊丸，小豆大，薑湯下，日三服。一方：加黃連五錢，黃柏二兩，水丸，效尤速。</p>
<p>皂莢半夏丸：治呃逆欲死。半夏（一兩）　皂莢（去皮、炙酥，八錢）　為末，蜜丸桐子大，每服三丸，棗湯吞下，日三夜一。</p>
<p>羌活散：治呃逆。羌活　附子（炮）　茴香（各五錢）　木香　良薑（炮，一錢）　為末，每服二錢，水一盞，鹽一撮，煎服。</p>
<p>良方：丁香　白蔻仁（各五分）　伏龍肝（一兩）　為末，煎桃仁吳萸湯，每服一錢，調送下。</p>
<h3>噫氣</h3>
<p>噫氣，即今所謂噯氣是也。〔內經〕論噫，專主心脾二經立論。（準繩）云：噫者，是火土之氣鬱而不得發，故噫。王注：噫為心之義，象火炎上，隨咽焰出，如膈閉痰間，中氣不得伸而噫者，亦土氣內郁也。仲景云：痞而噫，旋覆代赭湯主之。心下蓄結痞悶，或多作噫敗卵氣，枳殼散主之枳殼　白朮（各五錢）　香附（一兩）　檳榔（二錢）　共為細末，每服二錢，米飲調下，日三服。丹溪云：胃中有實火，膈上有調痰，故成噫，用二陳東加香附、梔子、黃連、蘇子、前胡、青黛，或煎或丸服之。</p>
<h3>雜</h3>
<p>雜者，似飢而甚，有懊　不自安之意，有胃熱火動其痰者，有熱鬱滯為濕熱者，有氣鬱氣滯者，亦有瘀血所致者，昏眩　雜，乃火動其痰也，二陳加薑汁炒芩、連、石膏。噫氣吞酸，乃食鬱為熱也，平胃散加枳、桔。因思慮傷而　雜者，茯苓補心湯。元氣、胃氣、脾氣不足而　雜者，六君子倍山藥；如以火治之，必變吞酸中滿之症。三聖丸治　雜神效（白朮四兩　黃連　橘紅各一兩　神麯打糊為丸）。當歸補神湯亦治血虛　雜（八珍東加麥冬山梔　陳皮　烏梅　辰砂　元米）。（準繩云）：心下　雜，導飲丸最妙吳萸（三錢）　茯苓（一兩）</p>
<p>黃連（五錢）　茅朮（一兩）　獨活（七錢）　為細末，神麯糊丸。（元珠）云：有濕熱鬱滯，不欲食者，宜三補丸（黃芩　黃連　黃柏　蒸餅糊丸，服，加茅朮，倍香附）。</p>
<h3>咳嗽</h3>
<p>傷風暴咳，鼻塞身重，涕唾稠黏，數語未竟而咳，寧嗽化痰湯枳殼　桔梗　茯苓（各一錢）　紫蘇（七分）　半夏　陳皮　前胡　干葛（各一錢）　麻黃　杏仁　桑皮（各一錢）　甘草（四分）　薑（三片）</p>
<p>春夏去麻黃、桑皮，加人參，名參蘇飲，治時行咳嗽）。如惡寒自汗，發熱，脈浮者，宜桂枝東加防風、杏仁、前胡、細辛。感寒咳嗽，惡寒發熱，鼻流清涕，其脈浮緊者，金沸草散旋覆花　麻黃（各七分）　荊芥穗（一錢）　前胡（七分）　甘草　半夏　赤芍（各五分）　薑（三片）　棗合寧嗽湯，參酌用之。冬日風寒外感，形氣病氣俱實者，宜華蓋散（麻黃　蘇子　杏仁　桑皮茯苓　橘紅　甘草）。風寒鬱熱於肺，夜咳者，宜三拗東加知母。風入肺久咳者，鵝管石、雄黃、鬱金、款冬花，為末，和勻，置薑片上，仍以薑片入茶壺中，以蓋蓋之，留嘴出煙，吸煙入喉中。（凡人易於感冒，治當解表之中，兼實肺氣。又肺有火，則腠理不密，風邪易入，治宜解表清肺火；如數行解表，重亡津液，為變甚大。故凡肺受邪，不能轉輸，小便短少，皮膚漸腫，咳嗽日增者，宜六君子湯，以補脾肺，六味丸以滋腎水。）易簡杏仁湯，不問外感風寒，內傷生冷，及虛勞咯血，痰飲停積，皆治之（人參　半夏　茯苓　細辛　乾薑甘草　桂枝　五味　白芍　杏仁）。按形寒飲冷則傷肺，此內外合邪也，此方兼而治之。本方去人參、杏仁，加麻黃，即小青龍湯，能治久年痰飲，喘嗽氣急，亦治冬日咳而發寒熱者。濟生橘蘇飲，治傷風咳嗽，身熱有汗，惡風，脈浮數，有熱，服杏子湯（橘紅　蘇葉杏仁　五味　白朮　半夏　桑皮　川貝　甘草）。暑熱夏月，喘急而嗽，面赤潮熱，其脈浮洪大者，黃連解毒湯（黃連　黃芩　黃柏　梔子）加麥冬、花粉、桔梗、桑皮。咳而身熱，自汗，口乾，便赤，脈虛而洪者，白虎湯，兼天水五苓之屬。身熱而煩，氣高而喘，心下痞悶，四肢困倦，精神短少者，生脈散，或清暑益氣湯（黃　人參　蒼朮　陳皮　神麯　白朮澤瀉　炙草　黃柏　葛根　青皮　當歸　五味子　麥冬）。火嗽者，有聲、痰少、面赤是也，加減瀉白散（桑皮　陳皮　地骨皮　知母　青皮　桔梗　淡芩）。如咽喉干痛，鼻出熱氣，咳喘上壅，甚則風嘶咯血，其痰咳而難出者，色黃且濃，此火熱乘肺也，清肺化痰湯（山梔　淡芩　知貝母　麥冬　桑皮　桔梗　茯苓　橘紅　栝蔞仁　甘草），或加黃連。</p>
<p>衍義治一婦人患肺熱咳，身如炙，肌瘦，將成癆，以枇杷葉　木通　款冬　紫菀　杏仁　桑皮等分大黃減半　蜜丸，櫻桃大，食後夜服，各噙化一丸。慎齋治一婦惱怒後，身熱咳嗽，吐血，痰臭，氣難聞，胸膈飽悶，背脹，此火鬱，宜發之（紫菀　葛根　桔梗　前胡枳殼　半夏　杏仁　五味　白芍　甘草　薏仁　薑），一服即愈。上半日多嗽，胃中有火，川貝、石膏降胃火。午後嗽者，屬陰虛，四物加知母之屬，或六味地黃湯亦妙。黃昏嗽者，火氣浮於肺，不宜正用涼藥，宜五味、五倍，斂而降之。五更嗽，此胃中有食積，至此時火氣流入肺，知母、地骨皮降肺火。濕傷之咳，身重，脈濡細，痰稠，自汗，二陳、二術之屬。</p>
<p>如喘滿、浮腫，宜款氣丸青陳皮　檳榔　木香　杏仁　當歸　廣術　馬兜鈴　葶藶（各三錢）</p>
<p>人參（五錢）　防己（五錢）　牽牛（一兩五錢）　薑汁丸，每服二十丸。濕咳多因乘熱入水，或冒雨露，或浴後不解濕衣，致身體重痛而咳，宜白朮酒炒白朮（一兩），酒三杯，不拘時頻服；不能飲酒，以水代之。燥傷肺之咳，痰黏氣逆，血腥，杏仁蘿卜子丸（二味粥丸，白湯下五十丸），或清金潤燥，天門冬丸治肺臟蘊熱，咳嗽，痰吐稠黏。天門冬（一兩五錢）　百合　前胡貝母　半夏　桔梗　桑白皮　防己　茯苓　紫菀　生地黃　杏仁（各七錢五分）　共為末，蜜和，打二三百杵，丸如桐子大，每服二十丸，不拘時服，生薑下，日三服。又方：去防己、前胡、桑皮、茯苓，如麥冬、人參、肉桂、阿膠、陳皮、甘草各三兩，元米粉、黃臘一兩，成粥，更入蜜，再熬，和勻，丸加櫻桃大，每服一丸，用生薑細嚼下，治肺經內外合邪，咳嗽語聲不出，咽喉妨礙，狀加梅核，噎塞不通，噎食，皆可服。又方：單用天冬十兩、生地三斤，取汁為膠，麥冬膠八兩為丸，如桐子大，每服五十丸，逍遙散下。逍遙散須加人參、甘草，治婦人嗽喘，手足煩熱，骨蒸寢汗，口乾引飲，面目浮腫。鳳髓湯為潤肺之要藥牛髓（一斤），白蜜（半斤），杏仁（四兩），山藥（四兩），胡桃（四兩），先將髓蜜砂鍋熬烊，去渣，盛瓷瓶內，將杏仁等三味入瓶，以紙密封瓶口，重湯煮一日夜，取出冷定，每晨白湯化三匙下。如面目浮腫，蜜酥煎白蜜（一升），杏仁（三升），牛酥（一升），將杏仁於瓷盆內用水研取汁五升，淨銅鍋內勿令油膩，先加三升汁於鍋內，日三次，以溫酒調一匙，米飲白湯皆可。此方兼治虛損，去風燥，光皮膚。按肺金之燥，由咳最多，然其所因，又非一定，或因汗下太多而津越於外，或因瀉利太久而陰亡於下，或營血衰少，不養於經，或精髓耗極，不充於骨，乃致肺金日就干燥，咳無止息；此時急生其津，急養其血，補其精水，猶可為也；如不加察，籠統，殆矣。膈上支飲，最為咳嗽根底。蓋膈上為陽氣所治，心肺所居，支飲橫處其中，動肺則咳逆倚息，不得臥，小青龍湯主之。（按小青龍湯，治支飲之要藥，然須防其沖氣上逆。蓋腎氣素虛之人，衝任之火易於逆上。此火上逆，無咳且增煩咳，況久咳乎？此方仍恐動其沖氣，復用桂苓五味甘草湯，服湯沖氣即低，而反更咳胸滿者，水在腸間不散，再變前方，去桂，加乾薑、細辛可也。）蘆吸散治冷哮寒嗽，喘促痰清，但肺熱禁用款冬花　川貝　肉桂　炙草（各三錢）　鵝管石（　二錢）　鵝管石即鐘乳石之最精者，為末，以蘆管吸少許，噙化咽之，日三五次。此即宣明焚香透膈散之變法，彼用雄黃、佛手，此用桂心、川貝、甘草；彼取無形之氣以散肺中之伏寒，此用有形之散以搜肺絡之伏飲；藥雖相類，而用法原殊，總取款冬、鐘乳之溫肺利竅也。（本事）鱉甲丸，治虛咳嗽，耳鳴眼花五味子（二十四兩）　鱉甲　地骨皮（各三十兩）　蜜丸，空心食前鹽湯下四錢，婦人醋湯下。葶藶散，治咳嗽，面目浮腫，不得安臥，涕吐稠黏甜葶藶（隔紙炒）　郁李仁　桑皮（各一兩）　紫菀　檳榔　旋覆花　木通（各七錢）</p>
<p>大腹皮（三錢五分）　每服三錢，薑半分，煎服。機要款氣丸，治咳久痰喘，肺氣浮腫（無廣術，有澤瀉，每服二十丸，白湯下）。天門冬丸，治咯血吐血，能潤肺止咳天門冬（一兩）</p>
<p>杏仁（七錢）　茯苓（七錢）　阿膠（五錢）　蜜丸彈子大，日夜噙化三五丸。久嗽，乃積痰留肺脘，黏滯如膠，氣不升降，或挾濕與酒而作蜂房，僵蠶（炒）　香附（童便浸）　海蛤粉　栝蔞仁　杏仁竹瀝　薑汁　神麯（各等分）　蜜調，噙化下。</p>
<h3>夢遺</h3>
<p>按夢遺之症，其因有四：有用心過度，心氣空虛，不能攝腎而遺者；有淫欲邪思動其君火，以致相火不寧，搏激真水而遺者；有色欲過度，下元虛憊，滑泄不禁而遺者；有年壯氣盛，久無色欲，精氣溢而遺出者。為證不同，治法亦異。用心過度者，當安其神，宜遠志、棗仁、茯神、龍齒、山藥、蓮肉、歸身、人參、丹參、麥冬之屬，培補心氣，或苓朮　菟絲子丸之類固之。淫欲邪思者，當清其心，宜妙香散、遠志丸、天王補心丹，生地、麥冬、川連、黃柏之屬，在所必用。色欲過度者，當固其真，宜六味丸，加鹿茸、牡蠣、蓯蓉、菟絲子、五味子、龍骨。茯苓菟絲丸治脾腎虛損，不能收攝，以致夢遺精滑困倦等症。白茯苓白朮（米泔浸）　蓮肉（各四兩）　五味子（酒煎，二兩）　山藥（二兩）　杜仲（酒煎三兩）</p>
<p>炙草（七錢）　菟絲子（十一兩，用潔水淘淨，入陳酒浸一日，文火煮爛極，打為餅，焙乾為末）</p>
<p>上藥用山藥末以陳酒煮糊，丸如桐子大，空心滾白湯服一百余丸（如氣虛神倦，不能收攝者，加人參三四兩尤妙）。辰砂妙香散治心脾不足，恍惚不睡，盜汗，遺泄，衄血，溺血。炙草　桔梗　山藥遠志（甘草湯泡去骨）　茯苓神（各一兩）　黃　（蜜炙）　人參（各二兩）　木香（二錢半）　辰砂（三錢）</p>
<p>麝香（一錢）　上十一味，為散，每服二錢，不拘時，溫酒調服。（秘旨）無木香，有砂仁三錢。（本方）</p>
<p>去黃　、桔梗、山藥。王荊公妙香散，安神閉精，定心氣。龍骨　益智　人參（各一兩）　茯苓神　遠志（各七錢）　朱砂　炙草（各七錢）　為末，每服二錢，空心溫酒調服。遠志丸：茯苓神　人參　龍齒（各二兩）</p>
<p>遠志　石菖蒲（各一兩）</p>
<p>蜜丸，桐子大，以辰砂為衣，每服七十丸，空心熱湯下，又空心熱薑湯下。天王補心丹：寧心保神，蓋血固精，壯力強志，令人不忘，除怔忡，定驚悸，清三焦，化痰涎，去煩熱，療咽乾，養心神。人參　當歸（酒浸）　五味　麥冬　柏子仁　酸棗仁（各一兩）　白茯苓（一兩）</p>
<p>天冬（一兩）　丹元參　桔梗（各七錢）　遠志（七錢）　生地（四兩）　黃連（二兩）　酒炒，為末，蜜丸，桐子大，辰砂為衣，每服二三十丸，臨臥時，燈草、竹葉煎湯下。一方：多石菖蒲、熟地黃、杜仲、百部、茯神、甘草六味。</p>
<h3>小便癃閉</h3>
<p>小便癃閉，當辨虛實、新久、氣血異治，大抵屬熱者多。丹溪六法，有熱，有濕，有氣結於下，宜清，宜燥，宜升，有隔二、隔三之治。其滋陰，瀉膀胱，此正治也；清肺生水，此隔二之治；燥脾健胃，此隔三之治。又分氣虛血實，痰氣閉塞，皆宜吐之，以提其氣，氣升則水自降，蓋氣承載其水者也，皆用本證藥，先服後吐，如氣虛用參、朮、升麻之類。東垣云：小便不通，皆邪熱為病，分在氣與血而治之，以渴與不渴而辨之；如渴而不利者，乃熱在上焦氣分；不渴而至小便不利，熱在下焦血分也。熱在上焦，當用淡味滲泄之藥而清其化源，如茯苓、車前、琥珀、燈心之類是也。熱閉下焦，當滋其陰，滋腎丸之類是也。經云；三焦者，決瀆之官，水道出焉。膀胱者，州都之官，津液藏焉。氣化則能出矣。蓋上焦者，肺也，主行營衛，通調水道，下輸膀胱。中焦者，脾也，〔內經〕云：脾病則九竅不通，小便不利。下焦屬腎，腎與膀胱相表裡也。由是言之，三焦所傷之邪不一，氣之變化無窮，故當隨處治邪行水，求其氣化，亦無窮也。大要在乎陰與陽無相偏負，然後氣得以化。若方盛衰論曰：至陰虛，天氣絕，至陽盛，地氣不足。夫腎肝在下，地道也；心肺在上，天道也；脾胃居中，氣交之分，其在上之陽不交於陰，則在下之陰無以為化，而水道其能出乎？啟元子無陽陰無以生，無陰則陽無以化。東垣之用滋腎丸，存陰之藥，是滋其陰以化其陽之義也。香參散治脾虛脹滿。人參（一兩）　沉香（二錢五分）　新瓦上焙，為細末，每服四錢，水煎服。（滋腎丸：知母　黃柏　肉桂　又名通關丸。）</p>
