<header><h1>溫疫論</h1></header>
<dl class="元資料" data-type="book">
<div><dt>作者</dt><dd>吳有性</dd></div>
<div><dt>朝代</dt><dd>明</dd></div>
</dl>
<h2>瘟疫論卷上</h2>
<h3>原病</h3>
<p>病疫之由，昔以為非其時有其氣，春應溫而反大寒，夏應熱而反大涼，
秋應涼而反大熱，冬應寒而反大溫，得非時之氣，長幼之病相似，以為疫，
余論則不然，夫寒熱溫涼，乃四時之常，因風雨陰晴，稍為損益，假令秋熱必多晴，
春寒因多雨較之，亦天地之常事，未必多疫也，傷寒與中暑，感天地之常氣，
疫者感天地之厲氣，在歲有多寡，在方隅有厚薄，在四時有盛衰，此氣之來，
無論老少強弱，觸之者即病，邪自口鼻而入，所客內不在藏府，外不在經絡，
舍於矣脊之內，去表不遠，附近於胃，乃表裏之分界，是為半表半裏，
即鍼經所謂橫連膜原是也，胃為十二經之海，偶齋云，手足各三陰三陽，為十二經也。</p>
<p>十二經皆都會於胃，故胃氣能敷布於十二經中，而榮養百骸，毫髮之間，靡所不貫，
凡邪在經為表，在胃為裏，今邪在膜原者，正當經胃交關之所，故為半表半裏，
其熱淫之氣，浮越於某經，即能顯某經之證，如浮越於太陽，則有頭項痛，腰痛如折，
如浮越於陽明，則有目痛，眉稜骨痛，鼻乾，如浮越於少陽，則有脅痛，耳聾，寒熱，
嘔而舌苦，大概觀之，邪越太陽居多，陽明次之，少陽又其次也，邪之所著，有天受，
有傳染，所感雖殊，其病則一，凡人口鼻之氣，通乎天氣，本氣充滿，邪不易入，
本氣適逢虧欠，呼吸之氣，亦自不及，外邪因而乘之，昔有三人冒霧早行，空腹者死，
飲酒者病，飽食者不病，疫邪所著，又何異耶，若其年氣來厲，不論強弱，觸之即病，
則又不拘於此矣，其感之深者，中而即發，感之淺者，邪不勝正，未能頓發，
或遇飢飽勞碌，憂思氣怒，正氣被傷，邪氣張溢，榮衛運行之機，乃為之阻，
吾身之陽氣，因而屈曲，故為病熱，其始也格陽於內，不及於表，故先凜凜惡寒，
甚則四肢厥逆，陽氣漸積，鬱極而通，故厥回而中外皆熱，至是但熱而不惡寒者，
因其陽氣之週也，此際或有汗，或反無汗者，在乎邪結之輕重也，即使有汗，
乃肌表之汗，若外感在經之邪，一汗而解，今邪在半表半裏，表雖有汗，徒損真氣，
邪氣深伏，何能得解，必俟其伏邪巳潰，表氣潛行於內，乃作大戰，精氣自內，
由膜原以達表，振戰止而後熱，此時表裏相通，故大汗淋漓，衣被濕透，邪從汗解，
此名戰汗，當即脈靜身涼，神清氣爽，霍然而愈，然有自汗而解者，但出表為順，
即不藥亦自愈也，伏邪未潰，所有之汗，止得衛氣暫通，熱雖暫減，逾時復熱，
午後潮熱者至是鬱甚，陽氣與時消息也，自後加熱而不惡寒者，陽氣之積也，
其惡寒或微或甚，因其人之陽氣盛衰也，其發熱或短或長，或晝夜純熱，或黎明稍減，
因其感邪之輕重也，疫與瘧彷彿，但瘧不傳胃，惟疫乃傳胃，
始則皆先凜凜惡寒，既而發熱，又非若傷寒發熱而兼惡寒也，至於伏邪動作，
方有變證，其變或從內陷，從外解者順，從內陷者逆，更有表裏先後不同，
有先表而後裏者，有先裏而後表者，有但表而不裏者，有但裏而不表者，
有表裏偏勝者，有表裏分傳者，有表而再表者，有裏而再裏者，從外解者，或發斑，
或戰汗狂汗自汗盜汗，從內陷者，胸膈痞悶，心下脹滿，或腹中痛，或燥結便祕，
或熱結旁流，或脅熱下痢，或嘔吐、惡心、譫語、舌黃、舌黑、胎刺等證，
因證而知變，因變而知治，此言其大略，詳見脈證治法諸條。</p>
<p>偶齋云，傷寒感冒，邪從外入，謂之中經，瘟疫邪發膜原，由內而出，謂之浮越，
傷寒瘟疫，只傳足三陰三陽，不到手三陰三陽故不言手經而言足經，
足太陽乃膀胱經也，與腎為表裏，而腎為足少陰也，足陽明乃胃經也，與脾為表裏，
而脾為足太陰也，足少陽乃膽經也，與肝為表裏，而肝為足厥陰也。</p>
<h3>瘟疫初起</h3>
<p>瘟疫初起，先憎寒而後發熱，日後但熱而無憎寒也，初起之二三日，
其脈不浮不沉而數，晝夜發熱，日晡益甚，頭疼身痛，其時邪在伏脊之前，腸胃之後，
雖有頭疼身痛，此邪熱浮越於經，不可認為傷寒表證，〔輒用麻黃桂枝之類，
強發其汗，〕此邪不在經，汗之徒傷表氣，熱亦不減，又不可下，此邛不在裏，
下之徒傷胃氣，其渴愈甚，宜達原飲。</p>
<p>達原飲
檳榔〔二錢〕、厚朴〔一錢〕、草果仁〔五分〕、知毋〔一錢〕、芍藥〔一錢〕、
黃芩〔一錢〕、甘草〔五分〕，
右用水一鍾前八分午後溫服。</p>
<p>按檳榔能消能磨，除伏邪，為疏利之藥，又除嶺南瘴氣，厚朴破戾氣所結，
草果辛烈氣雄，除伏邪盤錯，三味協力，直達其巢穴，使邪氣潰敗，速離膜原，
是以為達原也，熱傷津液，加知毋以滋陰，熱傷榮氣，加白芍以和血，
黃芩清燥熱之餘，甘草為和中之用，以後四味，不過調和之劑，如渴與飲，
非拔病之藥也。凡疫邪遊溢諸經，當隨經引用，以助升泄，如脅痛耳聾，
寒熱嘔而口苦，此邪熱溢於少陽經也，〔本方加柴胡一錢〕，如腰背項痛，
此邪熱溢於太陽經也，〔本方加羌活一錢〕，如目痛，眉稜骨痛，眼眶痛，鼻乾不眠，
此邪熱溢於陽明也，〔本方加乾葛一錢〕，證有遲速輕重不等，藥有多寡緩急之分，
務在臨時料理，酌定分兩，大略而巳，不可執滯，間有感之輕者，舌上白胎亦薄，
熱亦不甚，而無數脈，其不傳裏者，二三劑自解，稍重者必從汗解，如不能汗，
乃邪氣盤錯於膜原，內外隔絕，表氣不能通於內，裏氣不能達於外，不可強汗，
病家見加發散之藥，便欲求汗，誤用衣被壅罨，或將湯火熨蒸，甚非法也，
然表裏隔絕，此時無遊溢之邪在經，三陽加法不必用，宜照本方可也，感之重者，
舌上胎如積粉，滿布無隙，服湯後不從汗解，而從內陷者，舌根先黃，漸至中央，
邪漸入胃，此三消飲證，若脈長洪而數，大汗多渴，此邪氣適離膜原，欲表未表，
此白虎湯證，如舌上純純黃色，兼見裏證，為邪巳入胃，此又承氣湯證也，
有兩三即潰而離膜原者，有半月十數日不傳者，有初得之四五日，淹淹攝攝，
五六日後，陡然勢張者，凡元氣勝者，毒易傳化，元氣薄者，邪不易化，即不易傳，
設遇他病久虧，適又微疫，能感不能化，安望其傳，不傳則邪不，邪不去則病不瘳，
延纏日久，愈沉愈伏，多致不起，時師誤認怯證，日進參耆，愈壅愈固，不死不休也。
偶齋云，少陽膽經行身之側，為半表半裏，柴胡乃本經之藥，太陽膀胱經行身之背，
為表，羌活乃本經之藥，陽明胃經行身之面前，為裏，葛根乃本經之藥。</p>
<h3>傳變不常</h3>
<p>疫邪為病，有從戰汗而解者，有從自汗盜汗狂汗而解者，有無汗竟傳入胃者，
有自汗淋漓，熱渴反甚，終得戰汗方解者，有胃氣壅鬱，必因下，乃得戰汗而解者，
有表以汗解，裏有餘邪，不因他故，越三五日前證復發者，有發黃因下而愈者，
有發黃因下而斑出者，有竟從發斑而愈者，有裏證急，雖有斑，非下不愈者，
此則傳變不常，亦為常變也，有局外之變者，男子適逢淫欲，或向來下元空虛，
邪熱乘虛陷於下焦，氣道不施，以致小便閉塞，小腹脹滿，每至夜即發熱，
與導赤散五苓五皮之類，分毫不效，得大承氣一服，小便如注而愈者，或裏有他病，
一隅之虧，邪乘宿昔所損而傳者，如失血崩帶，經水適來適斷，心痛疝氣，痰火喘急，
凡此皆非常變，大抵邪行如水，惟注者受之，傳變不常，皆因人而使，
蓋因疫而發舊病，治法無論某經某病，但治其疫，而舊病自愈。</p>
<p>偶齋云，戰汗身體顫抖而汗出也，自汗無故自然汗出也，盜汗熟睡而汗出也，
狂汗其人發狂，走跳叫罵，狂巳，忽然汗出安臥也。</p>
<h3>急證急攻</h3>
<p>瘟疫發熱一二日，舌上白胎如積粉，早服達原飲一劑，午前舌變黃色，
隨現胸膈滿痛，大渴煩躁，此伏邪即潰，邪毒傳胃也，前方加大黃下之，煩渴少減，
熱去六七，午後復加煩燥發熱，通舌變黑生刺，鼻如煙煤，此邪毒最重，復瘀到胃，
急投大承氣湯，傍晚大下，至夜半熱退，次早鼻黑胎刺如失，此一日之間，而有三變，
數日之法，一日行之，因其毒甚，傳變亦速，用藥不得不緊，設此證不服藥，
或投緩劑，羈遲二三日必死，設不死，服藥亦無及矣，
嘗見瘟疫二三日即斃者乃其類也。</p>
<p>偶齋云，一日之病，而有三變，此疫毒之最重者，若以緩劑治之，而能望其生者幾希。</p>
<h3>表裏分傳</h3>
<p>瘟疫舌上白胎者，邪在膜原也，舌根漸黃至中央，乃邪漸入胃，設有三陽現證，
用達原飲，三陽加法，因有裏證，復加大黃，名三消飲，三消者，
消內消外消不內不外也，此治疫之全劑，以毒邪表裏分傳，膜原尚有餘結者宜之。</p>
<p>三消飲</p>
<p>檳榔、草果、厚朴、白芍、甘草、知母、黃芩、大黃、葛根、羌活、柴胡，
薑棗煎湯服。</p>
<h3>熱邪散漫</h3>
<p>瘟疫脈長洪而數，大渴復大汗，通身發熱，宜白虎湯。</p>
<p>白虎湯
石膏〔一兩〕、知母〔五錢〕、甘草〔一錢〕、炒米〔一撮〕，加薑煎服。</p>
<p>按白虎湯，辛涼發散之劑，清肅肌表氣分藥也，蓋毒邪巳潰，中結漸開，
邪氣方離膜原，尚未出表，然內外之氣巳通，故多有脈長洪而數，白虎辛涼解散，
服之或戰汗，或自汗而，解，若瘟疫初起脈雖數未至洪大其時邪氣盤踞於膜原，
宜達原飲，誤用白虎既無破結之能，但求清熱，是猶揚湯止沸耳，若邪巳入胃，
非承氣不愈，誤用白虎，既無逐邪之能，徒以剛悍而伐胃氣，反抑邪毒，致脈不行，
因而細小，又認陽證得陰脈，妄言不治，醫見脈微欲絕，益不敢議下，日惟雜進寒涼，
以為穩當，愈投愈危，至死無悔，當此急投承氣，緩緩下之，六脈自復。</p>
<p>偶齋云，日惟雜進寒涼，以為穩當，比比皆然，更有老手，診得脈虛，即用溫補，
前以誤用寒涼，而致脈微，後以脈微，輒用溫補，試問若輩舉世皆然，今為是書說破，
良當悔悟矣。</p>
<h3>內壅不汗</h3>
<p>邪發於半表半裏，一定之法也，至於傳變，或出表，或入裏，或表裏分傳，
醫見有表復有裏，乃引經論，先解其表，乃攻其裏，此大謬也，嘗見大劑麻黃連進，
一毫無汗，轉見煩躁者何耶，蓋發汗之理，自內由中以達表，今裏氣結滯，
陽氣不能敷布於外，即四肢未免厥逆，又安能氣液蒸蒸以達表，譬如縛足之鳥，
反欲飛升，其可得乎，蓋鳥之將飛，其身必伏，先縱足而後揚翅，方得升舉，
此與戰汗之義同，又如水注，閉其後竅，則前竅不能涓滴，與發汗之義同，
凡見表裏分傳之證，務宜承氣，先通，其裏，裏氣一通不待發散，多有自能汗解。</p>
<p>偶齋云，裏氣通，自能汗出而解也。</p>
<h3>下後脈浮</h3>
<p>裏證下後，脈浮而微數身微熱，神氣或不爽，此邪熱浮於肌表，裏無壅滯也，
雖無汗，宜白虎湯，邪從汗解，若夫下後或數下後，脈空浮而數，按之豁然如無，
宜白虎湯，加人參，覆盃則汗解，下後脈浮而數，原當汗解，遷延五六日，脈證不改，
仍不得汗者，以其人或自利經久，或表有他病先虧，或本病日久下遲，或反覆數下，
以致週身血液枯涸，故不得汗，白虎辛涼，除肌表散漫之熱邪，
加人參以助週身之血液，於是經絡潤澤，元氣鼓舞，腠理開發，故得汗解。</p>
<h3>下後脈復沉</h3>
<p>裏證脈沉而數，下後脈浮者，當得汗解，今不得汗，後二三日，脈復沈者，
膜原餘邪復瘀到胃也，宜更下之，更下後，脈再浮者，仍當汗解，宜白虎湯。</p>
<h3>邪氣復聚</h3>
<p>裏證下後，脈不浮，煩渴減，身熱退，越四五日，復發熱者，此非關飲食勞復，
乃膜原尚有餘邪隱匿，因而復發，此必然之理，不知者每每歸咎於病人，誤也，
宜再下之即愈，但當少與慎勿過劑，以邪氣微也。</p>
<h3>下後身反熱</h3>
<p>應下之證，下後當脈掙身涼，今反發熱者，此內結開，正氣通，鬱陽暴伸也，
即如爐中伏火，撥開雖焰，不久自息，此與下後脈反數義同，若瘟疫將發，
原當日漸加熱，胃本無邪，誤用承氣，更加發熱，實非承氣使然，乃邪氣方張，
分內之熱也，但嫌下早之誤，徒傷胃氣耳，日後傳胃，再當下之，又有藥煩者，
與此懸絕，詳載本條。</p>
<h3>下後脈反數</h3>
<p>應下失下，口燥舌乾而渴，身反熱減，四肢時厥，欲得近火擁被，此陽氣伏也，
既下厥回，去爐減被，脈大而加數，舌上生津，不思水飲，此裏邪去，鬱陽暴伸也，
宜柴胡清燥湯，去花粉知毋，加葛根，隨其性而升泄之，此證類近白虎，但熱渴既除，
又非白虎 所宜也。</p>
<h3>因證數攻</h3>
<p>瘟疫下後，二三日或一二日，舌上復生胎刺，邪未盡也，再下之，胎刺雖未去，
巳無鋒芒而軟，然熱渴未除，更下之，熱渴減，胎刺脫，日後更復熱，又生胎刺，
更宜下之，余里周困之者，患疫月餘，胎刺凡三換，計服大黃二十兩，始得熱不復作，
其餘脈證方退，所以凡下不以數計，有是證則投是藥，醫家見理不透，經歷未到，
中道生疑，往往遇此證，反致擔閣，但其中有間日一下者，有應連下三四日者，
有應連下二日間一日者，其間寬緩之施，有應用柴胡清燥湯者，有應用犀角地黃湯者，
至投承氣，某日應多與，某日應少與，如其不能得法，亦足以誤事，此非可以言傳，
貴乎臨時斟酌。</p>
<p>偶齋云，病家以症加重而咎醫，醫家未經深識，輒換湯頭，由此而誤者實繁，
故醫治別病要活法，治瘟疫認定表裏，依法二三劑，病雖不解，其症仍在者，
不妨再服，自然著 效矣。</p>
<p>朱海疇者，年四十五歲患疫，得下症，四肢不舉，身臥如塑，目閉口張，舌上胎刺，
問其所苦，不能答，因問其子，兩三日所服何藥云進承氣湯三劑，
每劑投大黃兩餘不效，更無他策，惟待日而巳，但不忍坐視，更祈診視，
余診得脈尚有神，下證悉具，藥所不到也，先投大一兩五錢，目有時而少動，
再投舌刺無芒，口漸開能言，三劑舌胎少去，神思稍爽，四日服柴胡清燥湯，
五日復生芒刺煩熱，又加再下之，七日又投承氣養榮湯，熱少退，八日仍用大承氣，
肢體自能少動，計半月，共服大黃十二兩而愈，又數日始進糜粥，調理兩月平復，
凡治千人，所遇此等，不過二三人而巳，姑存案以備參酌。</p>
<h3>病愈結存</h3>
<p>瘟疫下後，脈證俱平，腹中有塊，按之則痛，自覺有所阻而微悶，
或時有升降之氣往來不利，常作蛙聲，此邪氣巳盡，其宿結尚未除也，此不可攻，
攻之徒損元氣，氣虛益不能傳送，終無補於治結，須飲食漸進，胃氣稍復，津液流通，
自能潤下也，嘗遇病愈後，食粥累月，結塊方下，堅黑如石。</p>
<h3>下隔</h3>
<p>瘟疫愈後，脈證俱，平，，大便二三旬不行，時時作嘔，飲食不進，雖少與湯水，
嘔吐愈加，此為下隔，蓋下既不通，必返於上，誤認翻胃，〔與以牛黃狗寶〕，
誤作寒氣，〔與以丁香二陳之類〕，誤也，宜調胃承氣熱服，頃得宿結，
及溏糞粘膠惡物，臭不可當者，嘔吐立止，所謂欲求南風，須開北牖是也，
嘔止慎勿驟補，若與參耆，下焦須閉，嘔吐仍作也，此與病愈結存彷彿，
彼則妙在往來蛙聲一證，故不嘔而能食，可見毫釐之差，遂有千里之異，
按二者大便俱閉，脈靜身涼，一安一危者，在乎氣通氣塞之間而巳矣。</p>
<h3>注意逐邪勿拘結糞</h3>
<p>瘟疫可下者，約三十餘證，不必悉具，但見舌黃，心腹痞滿，便於達原飲，
加大黃下之，蓋邪在膜原者，巳有行動之機，欲離未離之際，得大黃促之而下，
實為開門祛賊之法，即使未愈，邪亦不能久羈，二三日後，餘邪入胃，
仍用小承氣徹其餘毒，大凡客邪貴乎早治，乘人氣血未亂，肌肉未消，津液未耗，
病人不至危殆，投劑不至掣肘，愈後亦易平復，欲為萬全之策者，不過知邪之所在，
早拔去病根為要耳，但要諒人虛實，度邪之輕重，察病之緩急，揣邪氣離膜原之多寡，
然後藥不空投，投藥無太過不及之弊，是以仲景自大柴胡以下，立三承氣，多與少與，
自有輕重之殊，勿拘於下不嫌遲之說。應下之證，見下無結糞，以為下之早，
或以為不應下之證，誤投下藥，殊不知承氣本為逐邪而設，非專為結糞而設也，
必俟其糞結，血液為熱所搏，變證迭起，是猶養虎遺患，醫之咎也，況多有溏糞失下，
但蒸作極臭如敗醬，或如藕泥，臨死不結者，但得穢惡一去，邪毒從此而消，
脈證從此而退，豈徒孜孜糞結而後行哉，假如經枯血燥之人，或老人血液衰少，
多生燥結，或病後血氣未復，亦多燥結，在經所謂不更衣十日無所苦，有何妨害，
是知燥結不致損人，邪毒之為殞命也，要知因邪致熱，熱致燥，燥致結，
非燥結而致邪熱也，但有病久失下，燥結為之壅閉，瘀邪鬱熱，益難得泄，結糞一行，
氣通而邪熱乃泄，此又前後之不同，總之邪為本，熱為標，結糞又其標也，
能早去其邪，安有燥結耶。</p>
<p>偶齋云，切要之言。</p>
<p>假令滯下，本無結糞，初起質實，頻數窘急者，宜芍藥湯，加大黃下之，
此豈亦因結糞而然耶，乃為逐邪而設也，或曰，得毋為積滯而設與，余曰非也，
邪氣客於下焦，氣血壅滯，結而為積，若去積以為治，巳成之積方去，未成之積復生，
須用大黃逐去其邪，是乃斷其生積之原，榮衛流通，其積不治而自愈矣，更有虛痢，
又非此論，或問脈證相同，其糞有結有不結何也，曰原其人病至大便當即不行，
續得蘊熱，益難得出，蒸而為結也，一者其人平素大便不實，雖胃家熱甚，
但蒸作極臭，狀如粘膠，至死不結應下之證，設引經論初硬後必溏不可攻之句，
誠為千古之弊。
偶齋云，滯下即痢疾也。</p>
<p>大承氣湯
大黃〔五錢〕、厚朴〔一錢〕、枳實〔一錢〕、芒硝〔一錢〕，水薑煎服，弱人減半，
邪微者客復減半。</p>
<p>偶齋云，凡書所云攻之下之利之，皆承氣也，大承氣湯，痞滿燥實四症全治，
大黃去實，芒硝去燥，枳實去痞，厚樸去滿。</p>
<p>小承氣湯
大黃〔五錢〕、厚朴〔一錢〕、枳實〔一錢〕，
水薑煎服。</p>
<p>偶齋云，小承氣湯，治痞滿實而不燥。</p>
<p>調胃承氣湯
大黃〔五錢〕、芒硝〔二錢三分〕、甘草〔一錢〕，
水薑煎服。</p>
<p>偶齋云，調胃承氣湯，治燥實而不痞滿。</p>
<p>按三承氣湯，功用彷彿，去邪傳裏，但上焦痞滿者，宜小承氣湯，中有堅結者，
加芒硝，軟堅而潤燥，病久失下，雖無結糞，然多粘膩極臭惡物，得芒硝助大黃，
有蕩滌之能，設無痞滿，惟有宿結，而有瘀熱者，調胃承氣宜之，三承氣，
功效俱在大黃，餘皆治標之品也，不耐藥湯者，或嘔或畏，當為細末，蜜丸湯下。</p>
<p>偶齋云，大黃作丸，從權也，總不若湯藥蕩滌之速。</p>
<h3>蓄血</h3>
<p>大小便蓄血便血，不論傷寒時疫，蓋因失下，邪熱久羈，無由以泄，血為熱搏，
留於經絡，則為紫血，溢於腸胃，瘀為黑血，便色如漆，大便反易者，
因結糞得血而潤下，結糞雖行，真元巳敗，多至危殆，其有喜妄如狂者，
此胃熱波及於血分，血乃心之屬，血中留火，延蔓心家，宜其有是證矣，仍從胃治。</p>
<p>偶齋云，仍從胃治者，謂須下也。</p>
<p>發黃一證，胃實失下，表裏壅閉，鬱而為黃，熱更不泄，搏血為瘀，凡熱經氣不鬱，
不致發黃，熱不干血分，不致蓄血，同受其邪，故發黃而兼蓄血，非蓄血而致發黃也，
偶齋云，發黃者，面黃眼白黃，甚則一身皆黃，黃而明亮者輕，黃而黑暗者重，
蓄血者，熱邪干於血分，瘀留而不行也。</p>
<p>但蓄血一行，熱隨血泄，黃隨泄減，嘗見發黃者，原無瘀血，有瘀血者，原不發黃，
所以發黃，當咎在經鬱熱，若專治瘀血，誤也。胃移熱於下焦仔分，小便不利，
熱結膀胱也，移熱於下焦血分，膀胱蓄血也，小腹硬滿，疑其小便不利，
今小便自利者，責之蓄血也，小便不利，亦有蓄血者，非小便自利，方為蓄血也。
胃實失下，至夜發熱者，熱留血分，更加失下，必致瘀血，初則晝夜發熱，日晡益甚，
既投承氣，晝日熱減，至夜獨熱者，瘀血未行也，宜桃仁承氣湯，服湯後熱除為愈，
或熱時前後縮短，再服再短，蓄血盡而熱亦盡，大勢巳去，亡血過多，餘焰尚存者，
宜犀角地黃湯調之，至夜發熱，亦有癉瘧，有熱入血室，皆非蓄血，並未可下，宜審。</p>
<p>偶齋云，癉瘧者，但熱而不寒之瘧疾也，血室者，婦人藏經之所，未行經之前，
血室滿，邪熱不能入，巳行經之後，其室空虛，熱邪乘虛而入，其證儼如瘧狀，
當用小柴胡湯調之，不可當瘧治。</p>
<p>桃仁承氣湯方</p>
<p>大黃、芒硝、桃仁、當歸、芍藥、丹皮，照常煎服。</p>
<p>犀角地黃湯方</p>
<p>地黃〔一兩〕、白芍〔二錢〕、丹皮〔二錢〕、犀角〔二錢鎊碎〕，
右先將地黃溫水潤透，銅刀切作片，石臼內搗爛，再加水調糊，絞汁聽用，
其滓入藥同煎，藥成去滓，入前汁合服。按傷寒太陽病不解，從經傳腑，熱結膀胱，
其人如狂，血自下者愈，血結不行者，宜抵當湯，今瘟疫初無表證，而惟胃實，
故腸胃蓄血多，膀胱蓄血少，然抵當湯行瘀逐蓄之最者，無分前後二便，並可取用，
蓋蓄血結甚者，在桃仁力所不及，宜抵當湯，非大毒猛厲之劑，不足以抵當，故名之，
然抵當證所遇亦少，存此以備萬一之用。</p>
<p>抵當湯方
大黃〔五錢〕、虻〔二十枚炙乾研碎〕、桃仁〔五錢研如泥〕、水蛭
〔炙乾為末五分〕，照常煎服。</p>
<p>發黃疸
疫邪傳裏，遺熱下焦，小便不利，邪無輸泄，經氣鬱滯，其傳為疸，身目如金者，
陳湯。宜陳湯。</p>
<p>茵陳〔二錢〕、山梔〔一錢〕、大黃〔五錢〕，
水薑煎服。</p>
<p>按茵陳為治疸退黃之專藥，今以病症較之，黃因小便不利，故用山梔，
除小腸屈曲之火，瘀熱既除，小便自利，當以發黃為標，小便不利為本，
及論小便不利，病原不在膀胱，乃係胃家移熱，又當以小便不利為標，胃實為本，
是以大黃為專功，山梔次之，茵陳又其次也，設去大黃而服山梔茵陳，是忘本治標，
鮮有效矣，或用茵陳五芩，不惟不能退黃，小便間亦難利。</p>
<p>舊論發黃，有從濕熱，有從陰寒者，是亦妄生枝節，學者未免有多岐之感矣，
夫傷寒時疫，既巳傳裏，皆熱病也，熯萬物者，莫過於火，是知大熱之際，燥必隨之，
又何暇生寒生濕，辟若冰炭，豈容並處耶，既無其證，焉有其方，智者所不信，
古方有三承氣證，便於三承氣，加茵陳山梔，當隨證施治，
方為盡善。</p>
<h3>邪在胸膈</h3>
<p>瘟疫胸膈滿悶，心煩喜嘔，欲吐不吐，雖吐而不得大吐，腹不滿，欲飲不能飲，
欲食不能食，此疫邪留於胸膈，宜瓜蒂散吐之。
偶齋云，此種用西洋法吐之亦可。</p>
<p>瓜蒂散
甜瓜蒂〔一錢〕、赤小豆〔三錢研碎〕、生山梔仁〔二錢〕。
右用水二鍾，煎一鍾，後入赤豆，煎至八分，先服四分，一時後不吐，再服盡，
吐之未盡，煩滿尚存者，再煎服，如無瓜蒂，
以淡豆豉二錢代用。</p>
<h3>辨明傷寒時疫</h3>
<p>或曰，子言傷寒與時疫，有霄壤之隔，今用三承氣，及桃仁承氣、抵當、茵陳諸湯，
皆傷寒方也，既用其方，必同其症，子何言之異也，曰，夫傷寒必有感冒之因，
或單衣風露，或強力入水，或臨風脫衣，或當簷出浴，常覺肌肉栗起，既而四肢拘急，
惡風惡寒，然後頭疼身痛，發熱惡寒，脈浮而數，脈緊無汗為傷寒，脈緩有汗為傷風，
若時疫初起，原無感冒之因，忽覺凜凜，以後但熱而不惡寒，然亦有所觸，因而發者，
或飢飽勞碌，或焦思氣鬱，皆能觸動其邪，是促其發也，不因所觸，無故自發者居多，
促而發者，十中之一二耳，且傷寒投劑，一汗而解，時疫發散，雖汗不解，
傷寒不傳染於人，時疫能傳染於人，傷寒之邪，自毫竅而入，時疫之邪，自口鼻入，
傷寒感而即發，時疫感久後發，傷寒汗解在前，時疫汗解在後，傷寒投劑，可使立汗，
時疫汗解，伏其內潰，汗出自然，不可以期，傷寒解以發汗，時疫解以戰汗，
傷寒發斑病篤，時疫發斑病衰，傷寒感邪在經，以經傳經，時疫感邪在內，內溢於經，
經不自傳，傷寒感發甚暴，時疫多有淹纏二三日，或漸加重，或淹纏五六日，
忽然加重，傷寒初起，以發表為先，時疫初起，以疏利為主，種種不同，其所同者，
傷寒時疫，皆能傳胃，至是同歸於一，故用承氣湯輩，導邪而出，要之傷寒時疫，
始異而終同也。夫傷寒之邪，自肌膚而逕傳裏，如浮雲之過太虛，原無根蒂，
惟其傳法，始終有進而無退，故下後皆能脫然而愈，若時疫之邪，始則匿於膜原，
根深蒂固，發時與榮衛交併，客邪經由之處，榮衛未有不被其所傷者，因其傷，
故名曰潰，然不潰則不能傳，不傳邪不能出，邪不出而疾不瘳。時疫下後，
多有未能頓解者何耶，蓋疫邪每有表裏分傳者，因有一半向外傳，邪留於肌肉，
一半向內傳，邪留於胃家，邪留於胃，故裏氣結滯，裏氣結，表氣因而不通，
於是肌肉之邪，不能即達於肌表，下後裏氣一通，表氣亦順，向者鬱於肌肉之邪，
方能盡發於肌表，或斑或汗，然後脫然而愈，傷寒下後，無有此法，雖曰終同，
及細較之，而終又有 不同者。</p>
<p>或曰，傷寒感天地之正氣，時疫感天地之戾氣，氣既不同，俱用承氣，
又何藥之相同也，曰風寒疫邪，與吾身之真氣，勢不兩立，一有所著，氣壅火積，
氣也火也邪也，三者混一，與之俱化，失其本然之面目，至是均謂之邪矣，
但是以驅逐為功，何論邪之同異也。假如初得傷寒為陰邪，主閉藏而無汗，
傷風為陽邪，主開發而多汗，始有桂枝麻\麻黃之分，原其感而未化也，傳至少陽，
並用柴胡，傳至胃家，並用承氣，至是亦無復有風寒之分矣，推而廣之，
是知疫邪傳胃，治法無異也。</p>
<h3>發斑戰汗合論</h3>
<p>凡疫邪留於氣分，解以戰汗，留於血分，解以發斑，氣屬陽而輕清，血屬陰而重濁，
是以邪在氣分，則易疏透，邪在血分，恆多膠滯，故陽主速，而陰主遲，
所以從戰汗者，可使頓解，從發斑者，當圖漸愈。</p>
<h3>戰汗〔此條與邪氣復聚同例〕</h3>
<p>疫邪先傳表，後傳裏，忽得戰汗，經氣輸泄，當即脈靜身涼，煩渴頓除，三五日後，
陽氣漸積，不待飲食勞碌，或有反復者，蓋表邪巳解，裏邪未去，纔覺發熱，
下之即解，疫邪表裏分傳，裏氣壅閉，非不不可，下之未盡，日後復熱，當復下復汗。
瘟疫下後，煩渴減，腹滿去，或思食而知味，裏氣和也，身熱未除，脈近浮，
此邪氣拂鬱於經，表未解也，當得汗解，如未得汗，以柴胡清燥湯和之，復不得汗者，
從漸解也，不可苛求其汗。應下失下，氣消血耗，既下欲作戰汗，但戰而不汗者危，
以中氣虧微，但能降陷，不能升發也，次日當期復戰，厥回汗出者生，厥不回，
汗不出者死，以正氣脫，不勝其邪也，戰而厥回無汗者，真陽尚在，表氣枯涸也，
可使漸愈，凡戰而不汗，忽痓者必死，痓者身如尸，牙關緊，目上視。凡戰不可擾動，
但可溫覆，擾動則戰而中止，次日當期復戰。戰汗後，復下後，越二三日，
反腹痛不止者，欲作滯下也，無論巳見積，未見積宜芍藥湯。</p>
<p>偶齋云，厥者，手足冷也，凡戰必凜之惡寒，而手足厥冷，及戰巳而手足溫者，
謂之厥回。</p>
<p>芍藥湯方
白芍藥〔一錢〕、當歸〔一錢〕、檳榔〔二錢〕、厚朴〔一錢〕、甘草〔七分〕，
水薑煎服，裏急後重加大黃三錢，紅積倍芍藥，白積倍檳榔，煎服。</p>
<h3>自汗</h3>
<p>自汗者，不因發散，自然汗出也，伏邪中潰，氣通得汗，邪欲去也，若脈長洪而數，
身熱大渴，宜白虎湯，得戰汗方解，裏證下後，續得自汗，雖二三日不止，
甚則四五日汙不止，身微熱，熱熱甚則汗甚，熱微汗亦微，此屬實，乃表有留邪也，
邪盡汗止，汗不止者，宜柴胡湯以佐之，表解則汗止，設有三陽經證，
當用三陽隨經加減，法與協熱下利投承氣同義，表裏雖殊，其理則一，
若誤認為表虛自汗，輒用黃耆實表，及止汗之劑，則誤矣，有表證時當盛暑，
多作自汗，宜下之，白虎證自汗詳見前，若面無神色，唇口刮白，表裏無陽證，
喜熱飲，稍冷則畏，脈微欲絕，忽得自汗，淡而無味者為虛脫，夜發則晝死，
晝發則夜亡，急當峻補，補不及者死，大病愈後數日，每飲食及驚動即汗，
此表裏虛怯，宜人參養榮湯，倍黃耆。</p>
<p>偶齋云，三陽病仍是太陽腰脊疼痛，項強痛，加羌活，陽明目眥痛，眉稜骨痛，
目脹鼻乾，加葛根，少陽往來寒熱而嘔，胸脅痛，耳聾，加柴胡。</p>
<p>偶齋云，協熱下痢，謂邪熱協同腸胃之熱，迫入大腸作痢，當投承氣湯，承者順也，
順而去之，熱邪去，痢自止也。</p>
<h3>盜汗</h3>
<p>裏證下後，續得盜汗者，表有微邪也，若邪甚，竟作自汗，伏邪中潰，則作戰汗矣，
凡人目張則衛氣行於陽，目瞑則衛氣行於陰，行陽謂升發於表，行陰謂斂降於內，
行於陰不能衛護其表，毫竅空疏，微邪乘間而出，邪盡而盜汗自止，設不止者，
宜柴胡湯以佐之。</p>
<p>時疫愈後，脈靜身涼，數日後反得盜汗，及自汗者，
此屬表虛宜黃耆湯。</p>
<p>柴胡湯
柴胡〔二錢〕、黃芩〔一錢〕、陳皮〔一錢〕、甘草〔一錢〕、生薑〔一錢〕、大棗
〔一枚〕，古方用人參、半夏，今表實，故不用人參，無嘔吐，
不加半夏。</p>
<p>偶齋云，有人參、半夏，無陳皮，即小紫胡湯。</p>
<p>黃耆湯
黃耆〔三錢〕、五味子〔三分〕、當歸〔一錢〕、白朮〔一錢〕、甘草〔五分〕，
照常煎服，如汗未止，加麻黃淨根一錢五分，無有不止者，然屬實者常多，
屬虛者常少，邪氣盛為實，正氣奪為虛，虛實之分，在乎有熱無熱，有熱為實，
無熱為虛，若顛倒誤用，未免實實虛虛之弊，臨證當慎。</p>
<p>偶齋云，麻黃能發汗，麻黃根能止汗。</p>
<h3>狂汗</h3>
<p>狂汗者，伏邪中潰，欲作汗解，因其人稟賦肥盛，陽氣衝擊，不能頓開，
故忽然坐臥不安，且狂且躁，少頃，大汗淋漓，狂躁頓止，脈靜身涼，霍然而愈。</p>
<h3>發斑</h3>
<p>邪留血分，裏氣壅閉，非下不斑，斑出為毒邪外解，下後斑漸出，更不可大下，
設有下證，少與承氣緩緩下之，若復大下，中氣不振，斑毒內陷則危，宜托裏舉斑。</p>
<h3>托裏舉斑湯</h3>
<p>白芍藥、當歸〔各一錢〕、升麻〔五分〕、白芷〔七分〕、柴胡〔七分〕、川山甲
〔二錢炙黃為粗末〕，水薑煎服，下後斑漸出，復大下，斑毒復隱，反加循衣摸床，
撮空理線，脈漸微者危，本方加人參一錢，補不及者死，若未下而先發斑者，
設有下證，少與承氣，須從緩下。</p>
<h3>數下亡陰</h3>
<p>下證以邪未盡，不得巳而數下之，間有兩目加澀，舌反枯乾，津不到咽，唇口燥裂，
緣其人所稟陽臟，素多火而陰虧者，今重亡津液，宜清燥養榮湯，設熱渴未除，
裏證仍在，宜承氣養榮湯。</p>
<h3>解後宜養陰忌投參朮</h3>
<p>夫疫乃熱病也，邪氣內鬱，陽氣不得宣布，積陽為火，陰氣每為熱搏，暴解之後，
餘焰尚在，陰血未復，大忌參耆白朮，得之反肋其壅鬱，餘邪留伏，不惟目下淹纏，
日後變生異證，或周身痛痺，或四肢攣急，或流火姞痰，或遍身瘡瘍，或兩腿鑽痛，
或勞嗽湧痰，或氣毒流注，或痰核穿漏，皆驟補之為害也，若有陰枯血燥者，
宜清燥養榮湯，若素多痰，及少年平時肥盛者，投之恐有泥膈之弊，亦宜斟酌，
大抵時疫愈後，調理之劑，投之不當，莫如靜養，節飲食為第一。</p>
<p>清燥養榮湯
知母、天花粉、當歸身、白芍、地黃汁、陳皮、甘草，加燈芯煎服，表有餘熱，
宜柴胡 養榮湯。</p>
<p>柴胡養榮湯
柴胡、黃芩、陳皮、甘草、當歸、白芍、生地、知母、天花粉，薑棗煎服，
裏證未盡，宜承氣養榮湯。</p>
<p>承氣養榮湯
知母、當歸、芍藥、生地、大黃、枳實、厚朴，水薑煎服，痰涎湧甚，胸膈不清者，
宜瓜貝養榮湯。</p>
<p>瓜貝養榮湯
知母、花粉、貝母、瓜蔞實、橘紅、白芍、當歸、紫蘇子，水薑煎服。</p>
<h3>用參宜忌有前利後害之不同</h3>
<p>凡人參所忌者裏證耳，邪在表及半表半裏者，投之不妨，表有客邪者，
古方如參蘇飲\小柴胡湯、敗毒散是也，半表半裏者，如久瘧扶虛，用補中益氣，
不但無礙，而且得效，即使暴瘧，邪氣正盛，投之不當，亦不至脹為無裏證也，
夫裏證者，不特傷寒瘟疫傳胃，至如雜證，氣鬱、血鬱、火鬱、濕鬱、痰鬱、
食鬱之類，皆為裏證，投之即脹者，蓋以實填實也。
今瘟疫下後，適有暫時之通，即投人參，因而不脹，醫者輒言以為用參之後，
雖不見佳處，然不為禍，便為是福乃恣意投之，不知胃家喜通惡塞，下後雖通，
餘邪尚在，再四服之，則助邪填實，前證復起，禍害隨至矣，間有失下，
以致氣血虛耗者，有因邪盛數下，及大下而挾虛者，遂投人參，當覺精神爽慧，
醫者病者皆以為得意，明後日再三投之，即加變證，蓋方下之後，乘其胃家空闊，
虛則沾其補，而未見害，弗思餘邪未盡，任意投之，漸加壅閉，邪火復熾，
愈投而變證愈增矣，良由下後邪纋虛急，是以補正之效顯，而助邪之害隱也，
前後利害之不同者，有如此。</p>
<h3>下後間服緩劑</h3>
<p>下後或數下，膜原尚有餘邪，未盡傳胃，邪與衛氣併，以熱不能頓除，當寬緩兩日，
俟餘邪聚胃，再下之，宜柴胡清燥湯，緩劑調理。</p>
<p>柴胡清燥湯
柴胡、黃芩、陳皮、甘草、花枌、知母，薑棗煎服。</p>
<h3>下後反痞</h3>
<p>疫邪留於心胸，令人痞滿，下之痞應去，今反痞者，虛也，以其人或因他病先虧，
或因新產後氣血兩虛，或稟賦嬌怯，因而益虛，失其健運，邪氣留止，故令痞滿，
今愈下而痞愈甚，苦更用行氣破氣之劑，轉成壞證，宜參附養榮湯。</p>
<p>參附養榮湯
當歸〔一錢〕、白芍〔一錢〕、生地〔三錢〕、人參〔一錢〕、附子〔炮七分〕、
乾薑〔炒一錢〕。照常煎服，果如前證，一服痞如失，倘有下證，下後脈實痞未除者，
再下之，此有虛實之分，一則有下證，下後痞即減者為實，一則表雖微熱，脈不甚數，
口不渴，下後痞反甚者為虛，若潮熱口渴，脈數而痞者，投之禍不施踵。</p>
<h3>下後反嘔</h3>
<p>疫邪留於心胸，胃口熱甚，皆令嘔不止，下之嘔當去，今反嘔者，此屬胃氣虛寒，
少進粥飲，便欲吞酸者，宜半夏藿香湯，一服嘔立止，榖食漸加。</p>
<p>半夏藿香湯
半夏〔一錢五分〕、真藿香〔一錢〕、乾薑〔炒一錢〕、白茯苓〔一錢〕、廣陳皮
〔一錢〕、白朮〔炒一錢〕、甘草〔五分〕，水薑煎服，有前後一證，首尾內變者，
其患疫時，心下脹滿，口渴發熱而嘔，此應下之證也，下之諸證，減去六七，
嘔亦減半，再下之，脹除熱退渴止，向則數日不眠，今則少寐，嘔獨轉甚，此疫巳去，
而諸證除，胃續寒而嘔甚，與半夏藿香湯，一劑而嘔即止。</p>
<h3>奪液無汗</h3>
<p>瘟疫下後脈沉，下證未除，再下之，下後脈浮者，法當汗解，三五日不得汗者，
其人預亡津液也，時疫得下證，日久失下，日逐下利純臭水，晝夜十數行，
乃致口燥唇乾，舌裂如斷，醫者誤按仲景協熱下利法，因與葛根黃連黃芩湯，
服之轉劇，邀予診視，乃熱結傍流，急與大承氣一服，去宿糞甚多，色如敗醬，
狀如枯膠，臭惡異常，是晚利頓止，次日服清燥湯一劑，脈尚沉，再下之，脈始浮，
證減去，肌表僅存微熱，此應汗解，雖不得汗，然裏邪先，盡，中氣和平，
所以飲食漸進，半月後忽作戰汗，表邪方解，蓋因下利日久，表裏枯燥之極，
飲食半月，津液漸回，方可得汗，所謂積流而渠自通也，可見脈浮身熱，非汗不解，
血燥津枯，非液不汗，昔人以奪血無汗，今以奪液無汗，血液雖殊，枯燥則一也。</p>
<p>偶齋云，至言。</p>
<h3>補瀉兼施</h3>
<p>證本應下，耽閣失治，或為纋藥羈遲，火毒壅閉，耗氣搏血，精神迨盡，邪火獨存，
以致循衣摸床，撮空理線，筋惕肉瞤，支體振戰，目中不了了，皆緣應下失下之咎，
邪熱一毫未除，元神將脫，補之則邪毒愈甚，攻之則幾微之氣不勝其攻，攻不可，
補不可，補瀉不及，兩無生理，不得巳，勉用陶氏黃龍湯，此證下亦死，不下亦死，
與其坐以待斃，莫如含藥而亡，或有回生於萬一者。</p>
<p>偶齋云，應下失下，比比皆然。</p>
<p>黃龍湯方
大黃、厚朴、枳實、芒硝、人參、地黃、當歸，照常煎服。</p>
<p>按前證實為庸醫耽閣，及今投劑，補瀉不及，然大虛不補，虛何由以回，大實不瀉，
邪何由以去，勉用參地以回虛，承氣以逐實，此補瀉兼施之法也，或遇此證，
純用承氣，下證稍減，神思稍甦，續得支體振戰，怔仲驚悸，心內如人將補之狀，
四汥反厥，眩暈鬱冒，項背強直，併前循衣、摸床、撮空等證，此皆大虛之候，
將危之證也，急用人參養榮湯，虛候少回，速可屏去，蓋傷寒瘟疫，俱係客邪，
為火熱燥證，人參固為益元氣之神品，偏於益陽，有助火固邪之弊，當此又非良品也，
不得巳而用之。</p>
<p>人參養榮湯
人參〔八分〕、麥門冬〔七分〕、遼五味〔一錢〕、地黃〔五分〕、當歸〔八分〕、
白芍藥〔一錢五分〕、知母〔七分〕、陳皮〔六分〕、甘草〔五分〕，照常煎服。</p>
<p>如人方肉食而病適來，以致停積在胃，用大小承氣連下，惟是臭水稀糞而巳，
於承氣湯中，但加人參一味服之，雖三四十日所停之完穀及完肉，於是方下，
蓋承氣藉人參之力，鼓舞胃氣，宿物始動也。</p>
<p>偶齋云，人參能助下藥成功。</p>
<h3>藥煩</h3>
<p>應下失下，真氣虧微，及投承氣下咽，少頃額上汗出，髮根燥癢，邪火上炎，
手足厥冷，甚則振戰心煩，坐臥不安，如狂之狀，此中氣素虧，不能勝藥，名為藥煩，
凡治此證，急投薑湯即巳，藥中多加生薑煎服，則無此狀矣，更宜勻兩次服，
以防嘔吐不納，三 次服亦不妨。</p>
<h3>停藥</h3>
<p>服承氣腹中不行，或次日方行，或半日仍吐原藥，此因病久失下，中氣大虧，
不能運藥，名為停藥，乃天元幾絕，大凶之兆也，宜生薑以和藥性，
或加人參以助胃氣，又有邪實，病重劑輕，亦令不行，當審。</p>
<h3>虛煩似狂</h3>
<p>時疫坐臥不安，手足不定，臥未穩，則起坐，纔著坐，即亂走，纔抽身，又欲臥，
無有寧刻，或循衣摸床，撮空撚指，師至纔診脈，將手縮去，六脈不甚顯，尺脈不至，
此平時斲喪，根源虧損，因不勝其邪，元氣不能主持，故煩躁不寧，固非狂證，
其危有甚於狂也，法當大補，然有急下者，或下後厥回，尺脈至，煩躁少定，
此因邪氣少退，正氣暫復，微陽少伸也，不二時邪氣復聚，前證復起，勿以前下得效，
今再下之，下之速死急宜峻補，補不及者死，此證表裏無大熱，下證不備者，
庶幾可生，譬如城郭空虛，雖殘寇而能直入，戰不可，守不可，其危可知。</p>
<h3>神昏譫語</h3>
<p>應下稽遲，血竭氣耗，內熱煩渴譫語，諸下證具，而數下之，渴熱並減，下證悉去，
五六日後，譫語不止者，不可以為實，此邪氣去，元神未復，宜清燥養榮湯，
加神砂一錢，鄭聲譫語，態度無二，但有虛實之分，不應另立名色。</p>
<p>偶齋云，譫語屬陽，鄭聲屬陰，譫語屬實，鄭聲屬虛，譫語狂忘無次序，
鄭聲如老人言事，說巳又說，作鄭重意也。</p>
<h3>奪氣不語</h3>
<p>時疫下後，氣血俱虛，神思不清，惟向裏床睡，似寐非寤，呼之不應，此正氣奪，
與其服藥不當，莫如靜守虛回，而神思自清，語言漸朗，若攻之，脈必反數，
四肢漸厥，此虛虛之禍，危在旦夕，凡見此證，表裏無大熱者，宜人參養榮湯補之，
能食者自然虛回，而前證自除，設不食者，正氣愈奪，虛證轉加，法當峻補。</p>
<h3>老少異治</h3>
<p>三春旱草，得雨即榮，殘臘枯枝，雖灌弗澤，凡年高之人，最忌剝削，設投承氣，
以一當十，設用參朮，十不抵一，蓋老年榮衛枯濇，幾微之元氣，易耗而難復也，
不比少年氣血，生機甚捷，其勢浡然，但得邪氣一除，正氣隨復，所以老年慎瀉，
少年慎補，何況誤用耶，萬有年高稟厚，年少賦薄者，又當從灌，勿以常論。</p>
<h3>妄投破氣藥論</h3>
<p>瘟疫心下脹滿，邪在裏也，若純用青皮、枳實、檳榔、諸香燥破氣之品，冀其寬脹，
此大謬也，不知內壅氣閉，原有主客之分，假令根於七情鬱怒，肝氣上升，飲食過度，
胃氣填實，本無外來邪毒客氣相干，止不自身之氣壅滯，投木香、砂仁、豆蔻、
枳殼之類，上升者即降，氣閉者即通，無不立效，今疫毒之氣傳於胸胃，
以致升降之氣不利，因而脹滿，實為客邪累及木氣，但得客氣一除，本氣自然升降，
脹滿立消，若專用破氣之劑，但能破正氣，毒邪何自而泄，脹滿何由而消，
治法非用小承氣弗愈，既而腸胃燥結，下既不通，中氣鬱滯，上焦之氣，不能下降，
因而充積，即膜原或有未盡之邪，亦無前進之路，於是表裏上中下三焦皆阻，
故為痞滿燥實之證，得大承氣一行，所謂一竅通，諸竅皆通，大關通而百關盡通也，
向所鬱於腸胃之邪，由此而下，腸胃既舒，膜原設有所傳不盡之餘邪，方能到胃，
乘勢而下也，譬若河道阻塞，前舟既行，餘舟連尾而下矣，至是邪結並去，脹滿頓除，
皆藉大黃之力，大黃本非破氣藥，以其潤而最降，故能逐邪拔毒，破結導滯，
加以枳朴者，不可無佐使云爾，若純用破氣之品，津液愈耗，熱結愈固，
滯氣無門而出，疫毒無路而泄，乃望其寬胸利膈，惑之甚矣。</p>
<p>偶齋云，見痞滿不敢用大黃，只用化痞消脹剋氣之藥為穩當，時流莫不皆然，
殊不知疫邪不去，徒損真氣，殺人尤速耳。</p>
<h3>妄投補劑藥論</h3>
<p>有邪不除，淹纏日久，必至尪羸，庸醫望之，輒用補，劑殊不知無邪不病，
邪去而正氣得通，何患乎虛之不復也，今投補劑，邪氣益固，正氣日鬱，轉鬱轉熱，
轉熱轉瘦，轉瘦轉補，輚補轉鬱，循環不巳，乃至骨立而斃，猶言服參幾許，
補之不及，天數也，病家止誤一人，醫者終身不悟，不知殺人無算。</p>
<p>偶齋云，讀至此處，凡有仁心者，當著眼猛醒，悟昔之非，而補過於將來，
則庶幾乎可也。</p>
<h3>妄投寒涼藥論</h3>
<p>疫邪結於膜原，與衛氣併，因而晝夜發熱，五更稍減，日晡益甚，此與癉瘧相類，
癉瘧熱短，過時如失，明日至期復熱，今瘟疫熱長，十二時中，首尾相接，寅卯之間，
乃其熱之首尾也，即二時餘焰不清，似乎日夜發熱，且其始也，邪結膜原，氣併為熱，
胃本無病，誤用寒涼，妄伐生氣，此其誤者一，及邪傳胃，煩渴口燥，舌乾胎刺，
氣噴如火，心腹痞滿，午後潮熱，此應下之證，若用大劑芩、連、梔、柏，專務清熱，
竟不知熱不能自成其熱，皆由邪在胃家，阻礙正氣，鬱而不通，火亦留止，積火成熱，
但知火與熱，不知因邪而為火熱，智者必投承氣，逐去其邪，氣行火泄，而熱自巳，
若概用寒涼，何異揚湯止沸，每見今醫，好用黃連解毒湯、黃連瀉心湯，蓋本素問，
熱淫所勝，治以寒涼，以為聖人之言，必不我欺，況熱病用寒藥，最是捷徑，
又何疑乎，每遇熱甚，反指大黃能泄而損元氣，黃連消熱，且不傷元氣，
更無下泄之患，且得病家無有疑慮，守此以為良法，由是凡遇熱證大劑與之，
二三錢不巳，增至四五錢，熱又不巳，晝夜連進，其病轉劇，至此技窮力竭，
反謂事理當然，又見有等日久，腹皮貼背，乃調胃承氣證也，況無痞滿，
益不敢議承氣，唯類聚寒涼，專務清熱，又思寒涼之取者，莫如黃連，因而再倍之，
日近危篤，有邪不除，耽誤至死，猶言服黃連至幾兩，熱不能清，非藥之不到，
或言不治之證，或言病者之，數也，他日凡遇此證，每每如是，雖父母妻子，
不過以此法毒之，蓋不知黃連苦而性滯，寒而氣燥，與大黃均為寒藥，大黃走而不守，
黃連守而不走，一燥一潤，一通一塞，相去甚遠，且疫邪首尾以通行為治，若用黃連，
反招閉塞之害，邪毒何由以泄，病根何由以拔，既不知病原，烏能以愈疾耶。</p>
<p>偶齋云，能用溫補者為高手，見熱者用寒涼，又時流之得一也。</p>
<p>偶齋云，智者必投承氣，投承氣不即愈，或中有未盡，仍須再下，或內雖通，
而邪未達表，不得不解，而身仍熱，病家見病未退，或旁人指摘，以為病者本弱，
不當用大黃峻利欴劑，必致別延時師，設中無見識，又惑於眾人之疑謗，
因而改用他劑，遷延至死，病家不悟其由，反歸咎於前師，如此代人受過，
蓋真無可如何也，凡遇此等，宜百方解喻，使之決然無疑，然後用藥，若避嫌遠引，
袖手旁觀，以待其斃，豈良醫之用心哉。</p>
<p>問曰，間有進黃連而得效者何也，曰，其人正氣素勝，又因所受之邪本微，
此不藥自愈之證，醫者誤投溫補，轉補轉鬱，轉鬱轉熱，此以三分各熱，
轉加七分本熱也，客熱者，因客邪所鬱，正分之熱也，此非黃連可愈，本熱者，
因誤投溫補，正氣轉鬱，反致熱極，故續加煩渴不眠，譫語等證，此非正分之熱，
乃庸醫添造分外之熱也，因投黃連，於是煩渴不眠，譫語等證頓去要之，
黃連佰可清去七分無邪本熱，又因熱減而正氣即回，所存三分有邪客熱氣行即巳，
醫者不解，遂以為黃連得效，他日藉此概治客熱，則無效矣，又以昔效而今不效，
疑其病原本重，非藥之不到也，執迷不悟，所害更不可勝計矣。問曰，
間有未經溫補之誤，進黃連而疾愈者何也，曰凡元氣勝病為易治，病勝元氣為難治，
元氣勝病者，雖誤治未必皆死，病勝元氣者，稍誤未有不死者，此因其人元氣素勝，
所感之初本微，是其氣有餘，足以勝病也，雖少與黃連，不能抑鬱正氣，
此為小逆，以正氣猶勝，而疾辛愈也，醫者不解，竊自邀功，他日設遇邪氣勝者，
非導邪不能瘳其疾，誤投黃連，反招閉塞之害，未有不危者。</p>
<h3>大便</h3>
<p>結熱傍流，協熱下利，大便閉姞，大腸膠閉，總之邪在裏，其證不同者，
在乎通塞之間耳。</p>
<p>協熱下利者，其人大便素不調，邪氣忽乘於胃，便作煩渴，一如平時泄瀉稀糞，
而色不敗，甚則色但焦黃而巳，此火邪傳裏，不能稽留於胃，至午後潮熱，便作泄瀉，
子後熱退，泄瀉亦減，次日不作潮熱，利亦止為病愈，潮熱未除，利不止者，
宜小承氣湯，以撤其餘邪，而利自止。</p>
<p>利止二三日後，午後忽加煩渴，潮熱下泄，仍如前證，此伏邪未盡，復傳到胃也，
治法 同前。</p>
<p>偶齋云，同前者，仍須用承氣也。</p>
<p>大便；祕結者，疫邪傳裏，內熱壅鬱，宿糞不行，蒸而為結，漸至黑硬，
下之結糞一行，瘀熱自除，諸證悉去。熱結傍流者，以胃家實，內熱壅閉，
先大便祕結，續得下利純臭水，全然無糞，日三四度，或十數度，宜大承氣湯，
得轡糞而利立止，服湯不得結糞，仍下利純臭水，并所進湯藥，因大腸邪勝，
失其傳送之職，知邪猶在也，病必不減，宜更下之。</p>
<p>偶齋云，往往見所進湯藥即出者，仍結糞於中，而挾熱傍流，糞中結一行，
所進湯藥，皆得送而獲益矣。</p>
<p>大腸膠閉者，其人平素大便不實設遇疫邪傳裏佰蒸作極臭，狀如粘膠，至死不結，
但愈蒸愈閉，以致胃氣不能下行，疫毒無路而出，不下即死，但得粘膠一去，
下證自除，霍 然而愈。</p>
<p>瘟疫愈後，三五日，或數日，反腹痛裏急者，非前病原也，此下焦別有伏邪所發，
欲作滯下也，發於氣分，則為白積，發於血分，則為紅積，氣血俱病，紅白相兼，
邪盡利止，未止者，宜芍藥湯。〔方見前。〕</p>
<p>愈後，大便數日不行，別無他證，此是三陰不足，以致大腸虛燥，此不可攻，
飲食漸加，津液流通，自能潤下也，覺穀道秀悶，宜作蜜箭導，
甚則宜六成湯。</p>
<p>病愈後，脈遲細而弱，每至黎明，或夜半後，便作泄瀉，此命門真陽不足，
宜七成湯，亦有雜證屬實者，宜大黃丸下之立愈。</p>
<p>六成湯方
當歸〔一錢五分〕、白芍藥〔一錢〕、地黃〔五錢〕、天門冬〔一錢〕、肉蓯蓉
〔三錢〕、麥門冬〔一錢〕，照常煎服，日後更燥者，宜六味丸，少減澤瀉。</p>
<p>七成湯方
破故紙〔炒香搥碎三錢〕、熟附子〔一錢〕、遼五味〔八分〕、白茯苓〔一錢〕、
人參〔一錢〕、甘草〔炙五分〕，照常煎服，愈後更發者，宜八味丸，倍加附子。</p>
<h3>小便</h3>
<p>熱到膀胱，小便赤色，邪到膀胱，干於氣分，小便膠濇，干於血分，溺血蓄血，
留邪欲出，小便急數，膀胱不約，小便自遺，膀胱熱結，小便閉塞。</p>
<p>熱到膀胱者，其邪在胃，胃熱灼於下焦，在膀胱但有熱而無邪，惟令小便赤色而巳，
其治在胃。</p>
<p>邪到膀胱者，乃疫邪分布下焦，膀胱實有之邪，不止於熱也，從胃來者治在胃，
兼治膀胱，若純治膀胱，胃邪乘勢擁入膀胱，非其治也，若腸胃無邪，獨小便急數，
或白膏如馬遺，其治在膀胱，宜豬苓湯。</p>
<p>豬苓湯方，邪干氣分者宜之。
豬苓〔一錢〕、澤瀉〔一錢〕、滑石〔五分〕、甘草〔八分〕、木通〔一錢〕、車前
〔二錢〕，燈心煎服。桃仁湯方，邪干血分者宜之。</p>
<p>桃仁〔三錢研如泥〕、丹皮〔一錢〕、當歸〔一錢〕、赤芍〔一錢〕、阿膠〔二錢〕
\滑石〔五錢〕，照常煎服，小腹痛，按之硬痛，小便自調，有蓄血也，加大黃三錢，
甚則抵當湯，藥分三等，隨其病之輕重而施治。</p>
<h3>前後虛實</h3>
<p>病有先虛後實者，宜先補而後瀉，有先實後虛者，宜先瀉而後補，假令先虛後實者，
或因他病先虧，或因年高血弱，或因先有勞倦之極，或因新產亡血過多，
或舊有吐血及崩漏之證，時疫將發，即觸動舊疾，或吐血，或崩漏，以致亡血過多，
然後疫氣漸漸加重，巳上並宜先補而後瀉，瀉者謂疏導之劑，併承氣下藥，
概而言之也，凡遇先虛後實者，此萬不得巳而投補劑一二貼，後虛證少退，便宜治疫，
若補劑連進，必助疫邪，禍害隨至。假令先實而後虛者，疫邪應下失下，
向液為熱搏盡，原邪尚在，宜急下之，邪退六七，急宜補之，虛回五六，慎勿再補，
多服則前邪復起，下後必竟加添虛證者方補，若以意揣度其虛，不加虛證，誤用補劑，
貽害不淺。</p>
<h3>脈厥</h3>
<p>瘟疫得裏證，神色不敗，言動自如，別無怪證，忽然六脈如絲，微細而軟，
甚至於無，或兩手俱無，或一手先伏，察其人不應有此脈，今有此脈者，
皆緣應下失下，內結壅閉，榮氣逆於內，不能達於四支，此脈厥也，亦多有過用黃連、
石膏諸寒之劑，強遏其熱，致邪愈結，脈愈不行，醫見脈微欲絕，以為陽證得陰脈，
為不治，委而棄之，以此誤人甚眾若用人參生脈散等劑，禍不旋踵，宜承氣緩緩下之，
六脈自復。</p>
<h3>脈證不應</h3>
<p>表證脈不浮者，可汗而解，以邪氣微，不能牽引正氣，故脈不應，裏證脈不沉者，
可下而解，以邪氣微，不能抑鬱正氣，故脈不應，陽證見陰脈有可生者，神色不敗，
言動自如，乃稟賦脈也，再問烎日無此脈，乃脈厥也，下後脈實，亦有病愈者，
但得證減，後有實脈，乃天年脈也，夫脈不可一途而取，須以神氣形色病證相參，
以決安危為善。</p>
<p>張崑源，正年六旬，得滯下，後重窘急，日三四十度，脈常歇止，諸醫以為雀啄脈，
必死之候，咸不用藥延予診視，其脈參伍不調，或二動一止，或三動一止而復來，
此沚脈也，年高血弱，下利濃血六脈短澀，固非所能任，詢其飲食不減，形色不變，
聲音烈烈，言語如常，非危證也，遂用芍藥湯，加大黃三錢，大下純膿成塊者兩碗許，
自覺舒快，脈氣漸續，而利亦止，數年後，又得傷風咳嗽，痰涎湧甚，診之又得前脈，
與杏桔湯二劑，嗽止脈調，乃見其效，凡病善作此脈，大抵治病務以形色脈證參考，
庶不失其大體，方可定其吉凶也。</p>
<h3>體厥</h3>
<p>陽證脈陰，身冷如冰，為體厥。</p>
<p>施納聲，賣卜頗行，年四旬，稟賦肥甚，六月患時疫，口燥舌乾，胎刺如鋒，
不時太息，咽喉腫痛，心腹脹滿，按之痛甚，渴思冰水，日晡益甚，小便赤澀，
得涓滴則痛甚，此下證悉備，但通身肌表如冰，指甲表黑，六脈如絲，尋之則有，
稍按則無，醫者不究裏證熱極，但引陶氏全生集，以為陰證，但手足厥逆，
若冷過乎肘膝，便是陰證，今巳通身冰冷，比之冷過肘膝更甚，疑其為陰證一心，
且陶氏以脈分陰陽二證，全在有力無力中分，今巳脈微欲絕，按之如無，
比之無力更甚，疑其為陰證二也，陰證而得陰脈之至，有何說焉，以內諸陽竟置不問，
遂定附子理中湯，未服，延予至，以脈相參，表裏互較，此陽證之最者，下證悉具，
但嫌下之晚耳，蓋因內熱之極，氣道壅閉，乃至脈微欲絕，此脈厥心，
陽鬱則四肢厥逆，況素稟肥盛，尤易壅閉，今亢陽巳極，以至通身冰冷，此體厥也，
六脈如無者，群龍無首之象，證亦危矣，急投大承氣湯，囑其緩緩下之，脈至厥回，
便得生矣，其妻聞一曰陰證，一曰陽證，天地懸隔，疑而不服，更請一醫，指言陰毒，
須灸丹田，其兄疊延三醫續至，皆言陰證，妻乃惶惑，病者自言，何不卜之神明，
遂卜得從陰則吉，從陽則凶，惑於醫之議陰證者居多，乃進附子湯，下咽如火，
煩燥頓加，乃嘆曰，吾巳矣，藥之所誤也，言未巳，更加躑躅，逾時乃卒，嗟乎，
向以卜謀生，終以卜謀死，誤人還自誤，可為醫巫之鑒。</p>
<p>偶齋云，假熱假寒，但察小便，如色赤而涓滴不通，或數短而痛，屬熱，須治在胃，
在胃者，謂當下也，如清長無所苦，屬寒。</p>
<p>偶齋云，史記扁鵲倉公傳云，信巫不醫者，一不治，今人每每信巫卜而不訪明醫，
病猶可治，遷延至不可治者，惑於卜耳。</p>
<h3>乘除</h3>
<p>病有純虛純實，非補即瀉，何有乘除，設遇既虛且實者，補瀉間用，當詳孰先孰後，
從少從多，可緩可急，隨其證而調之。</p>
<p>吳江沈青來正少寡，素多鬱怒，而有吐血，證，歲二三發，吐後即巳，無有他證，
蓋不以為事也，三月間病，並非舊證，但小發熱，頭疼身痛，不惡寒而微渴，
惡寒不渴者，感冒風寒，今不惡寒微渴者疫也，至第二日，舊證大發，吐血勝常，
更加眩暈，手振煩躁，種種虛狀，飲食不進，且熱漸加重，醫者病者，但見吐血，
以為舊證復發，不知其為疫也，故以發熱認為陰虛，頭疼身痛認為血虛，
不察未吐血前一日，巳有前證，非吐血後所加之證也，諸醫議補，問余可否，余曰，
失血補虛，權宜則可，蓋吐血者，內有結血，正血不能歸經，所以吐也，結血牢固，
岩能止乎，能去其結，於中無阻，血自歸經，方冀不發，若吐後專補，補則血滿，
既滿不歸，血從上溢也，設用寒冷，尤誤投補劑者，只顧目前之虛，用參暫效，
不能拔去病根，日後又發也，況又兼疫，今非昔比，今因疫而發，血脫為虛，
邪在為實，是中有實，若投補劑，始則以實填虛，沾其補益，既而以實填實，
災害立至，於是暫用人參二錢，以耆苓歸芍佐之，兩劑後，虛證咸退，熱減六七，
醫者病者，皆謂用參得效，均欲速進，余禁之不止，乃恣意續進，便覺心胸煩悶，
腹中不各，若有積氣，求噦不得，此氣不時上升，便欲作嘔，心下難過，遍體不舒，
終夜不寐，喜按摩搥擊，此皆外加有餘之變證也，所以然者，止有三分之疫，
只應三分之熱，適有七分之虛，經絡枯澀，陽氣因陷，故有十分之熱，分而言之，
其間是三分實熱，七分虛熱也，向則本氣空虛，不與邪搏，故無有餘之證，
但虛不任邪，惟懊憹鬱冒，眩暈而巳，今投補劑，是以虛證一去，熱減去七，
所餘三分之熱者，實熱也，乃是病邪所致，斷非人參可除者，今再服之，反助疫邪，
邪正相搏，故加有餘之變證，因少與承氣，微利之而愈，按此病設不用利藥，
宜靜養數日亦愈，以其人大便一二日一解，則知胃氣通行，邪氣在內，日從胃氣下，
趨，故自愈，間有大便自調而不愈者，內有灣糞，隱曲不行，下之得宿糞極臭者，
病始愈，設邛未去，恣意投參，病乃益固，日久不除，醫見形體漸瘦，便指為怯證，
愈補愈危，死者多矣要之，真怯證，世間從來罕有，今患怯證者，皆是人參造成，
近代參價若金，服者不便，是以此證不死於貧家，多死於 富室也。</p>
<p>偶齋云，人參戰專補氣，果氣分虛弱之人，服之固宜，然亦不可太過，況更有說焉，
不可不區別也，有人平日本當服參，而一時病症有異，不可以服參者，有舊病當服參，
而新病不可以服參者，有前病以參而愈，而後病不可以服參者，至於風寒暑溼燥火，
六氣感而致病者，斷斷不可以服參，苦進之以參藥，猶與之以砒毒也，
奈何世人不察斯義，一遇病症，即云虛怯，不分盛衰，不辨久暴，一概投之以參，
投之不效，則一倍之，再倍之，而且什伯倍之，一人倡之，眾人和之，醫者病者，
操論既同，不思變計，服參至多，使病固結而不可解救，雖遇盧扁，亦無如何，
此皆人參之故也，故今之病，亦往往多死於富貴中，力能服參之家，
而貧窮不能服參者，反不致死，豈非明驗歟，而今席豐履厚之富家為尤甚，
大抵以人參為不死之靈丹，而所延之醫，又以用參為獨得之祕訣，方不加參，
藥無主宰，參不重用，病者驚惶，且當無病之時，亦以人參為必需，朝服暮食，
淫於臟腑，暗受其毒，而因以致病，及至性命呼吸之際，用之反不見效，誤服之咎，
可不懼哉。</p>
<h2>瘟疫論卷下</h2>
<h3>雜氣論</h3>
<p>日月星辰，天之有象可睹，水火土石，地之有形可求，昆蟲草木，動植之物可見，
寒熱溫涼，四時之氣往來可覺，至於山嵐瘴氣，嶺南毒霧，咸得地之濁氣，猶或可察，
而惟天地之雜氣，種種不一，亦猶天之有日月星辰，地之有水火土石，氣交之中，
有昆蟲草木之不一也，草木有野葛巴豆，星辰有羅計熒惑，昆蟲有毒蛇、猛獸，
土石有雄硫磠信，萬物各有善惡不等，是知雜氣之毒，亦有優劣也，然氣無形可求，
無象可見，況無聲，復無臭，何能得睹得聞，人惡得而知其氣，
又惡得而知其氣之不一也，是氣也，其來無時，其著無力，眾人有觸之者，
各隨其氣而為諸病焉，其為病也，或時眾人發頤，或時眾人頭面浮腫，
俗名為大頭瘟是也，或時眾人咽痛，或時聲啞，俗名為蝦蟆瘟是也，或時眾人瘧利，
或為痺氣，或為痘瘡，或為斑疹，或為瘡疥疔瘇，或時眾人目赤腫痛，
或時眾人嘔血暴亡，俗名為瓜瓤瘟、探頭瘟是也，或時眾人癭⿸疒圡，俗名為疙瘩瘟是也，
為病種種，難以枚舉，大約病偏於一方，沿門合戶，眾人相同者，皆時行之氣，
即雜氣為病也，為病種種，是知氣之不一也，蓋當時適有某氣，專入某臟腑某經絡，
專發為某病，故眾人之病相同，是知氣之不一，非關臟腑經絡或為之證也，
夫病不可以年歲四時為拘，蓋非五運六氣所印定者，是知氣之所至無時也，
或發於城市，或發於村落，他處截然無有，是知氣之所著無方也，疫氣者，
亦雜氣中之一，但有甚於他氣，故為病頗重，因名之厲氣，雖有多寡不同，
然無歲不有，至於瓜瓤瘟疙瘩瘟，緩者朝發夕死，急者頃刻而亡，此在諸疫之最重者，
幸而幾百年來罕有之證，不可以常疫並論也，至於發頤、咽痛、目赤、斑疹之類，
其時村落中，偶有一二人所患者，雖不與眾人等，然考其症，甚合某年某處，
眾人所患之病，纖悉相同，治法無異，此即當年之雜氣，但目今所鍾不厚，
所患者希少耳，此又不可以眾人無有，斷為非雜氣也，況雜氣為病最多，
而舉世皆誤認為六氣，假如誤認為風者，如大麻風、鶴膝風、痛風、歷節風、
老人中風\腸風、厲風、癎風之類，概用風藥，未常一效，實非風也，皆雜氣為病耳，
至又誤認為火者，如疔瘡發背，癰疽瘇毒，氣毒流注，流火丹毒，與夫發斑痘疹之類，
以為諸痛瘡瘍，皆屬心火，投芩連梔柏，未嘗一效，實非火也，亦雜氣之所為耳，
至於誤認為暑者，如霍亂吐瀉，瘧痢暴注，腹痛絞腸痧之類，皆誤認為暑，
因作暑證治之，未嘗一效，與暑何與焉，至於一切雜證，無因而生者，並皆雜氣所成，
從古未聞者何耶，蓋因諸氣來而不知，感而不覺，惟向風寒暑濕所見之氣求之，
是令無聲無臭，不睹不聞之氣，推察既錯認病原，未免誤投他藥，大易所謂或繫之牛，
行人之得，邑人之災也，劉河間作原病式，蓋視五運六氣，百病皆原於風、寒、暑、
濕、燥、火，謂無出此六氣為病，而不知雜氣為病，更多於六氣為病者百倍，
良以六氣有限，現在可測，雜氣無窮，茫然不可測也，專務六氣，不言雜氣，
焉能包括干下之病歟。</p>
<h3>論氣盛衰</h3>
<p>其年疫氣盛行，所患皆重，最能傳染，即童輩皆知為疫，至於微疫反覺無有，
蓋毒氣鍾 厚也。</p>
<p>其年疫氣衰少，閭里所患者，不過幾人，且不能傳染，時師皆以傷寒為名，
不知者固不言疫，知者亦不便言疫，然則何以知其為疫，蓋脈證與盛行之年所患之證，
纖悉相同，至於用藥取效，毫無差別，是以知瘟疫四時皆有，常年不斷，
但有多寡輕重耳。</p>
<p>疫氣不行之年，微疫轉有，眾人皆以感冒為名，實不知為疫也，設有發散之劑，
雖不合病原，然亦無大害疫自愈，實非藥也，即不藥亦自愈，至有稍重者，誤投發散，
其害尚淺，若誤用補劑及寒涼，反成痼疾，不可不辨。</p>
<h3>論氣所傷不同</h3>
<p>所謂雜氣者，雖曰天地之氣，實由方土之氣也，蓋其氣從地而起，有是氣則有是病，
譬如所言天地生萬物，然亦由方土之產也，彼植物藉雨露而滋生，動物藉飲食而頤養，
必先有是氣，然後有是物，推而廣之，有無限之氣，因有無限之物也，但二五之精，
未免生剋制化，是以萬物各有宜忌，宜者益而忌者損，損者制也，故萬物各有所制，
如貓制鼠，如鼠制象之類，既知以物制物，即知以氣制物矣，以氣制物者，
蟹得霧則死，棗得霧則枯之類，此有形之氣，動植之物，皆為所制也，至於無形之氣，
偏中於動物者，如牛瘟、羊瘟、雞瘟、鴨瘟，豈但人疫而巳哉，然牛病而羊不病，
雞病而鴨不病，人病而禽獸不病，究其所傷不同，因其氣各異也，知其氣各異，
故謂之雜氣，夫物者氣之化也，氣者物之變也，氣即是物，物即是氣，知氣可以制物，
則知物之可以制氣矣，夫物之可以制氣者，藥物也，如蜒蚰解蜈蚣之毒，
貓肉治鼠瘻之潰，此受物氣之為病，是以物之氣制物之氣，猶或可測，
至於受無形雜氣為病，莫知何物之能制矣，惟其不知何物之能制，
故勉用汗吐下三法以決之，嗟乎，即三法且不能盡善，況乃知物乎，能知以物制氣，
一病只有一藥，藥到病巳，不煩君臣佐使，品味加減之勞矣。</p>
<h3>蚘厥</h3>
<p>疫邪傳裏，胃熱如沸，蚘動不安，下既不通，必反於上，蚘因嘔出，此常事也，
但治其胃，蚘厥自愈，每見醫家，妄引經論，以為臟寒蚘上入膈，其人當吐蚘，
又云胃中冷必吐蚘之句，便用烏梅圓，或理中安蚘湯，方中乃細辛、附子、乾薑、
桂枝、川椒，皆辛熱之品，投之如火上添油，殊不知疫證，表裏上下皆熱，
始終從無寒證者，不思現前事理，徒記紙上文辭，以為依經傍註，坦然用之無疑，
因此誤人甚眾。</p>
<h3>呃逆</h3>
<p>胃氣逆，則為呃逆吳中稱為冷呃，以冷為名，遂指為胃寒，不知寒熱皆令呃逆，
且不以本證相參，專執俗語為寒，遂投丁、茱、薑桂，誤人不少，吾願執辭害義者，
臨證猛省。治法各從其本證而消息之，如見白虎證，則投白虎，見承氣證，則投承氣，
膈間痰閉，則宜導痰，如果胃寒，丁香柿蒂散宜之，然不若四逆湯，功效殊捷，要之，
但治本證，呃自止，其，可以類推矣。</p>
<h3>似表非表似裏非裏</h3>
<p>時疫初起，邪氣盤踞於中，表裏阻隔，裏氣滯而為閟，表氣滯為頭疼身痛，
因見頭疼身痛，往往誤認為傷寒表證，因用麻黃、桂枝、香蘇、葛根、敗毒、九味、
羌活之類，此皆發散之劑，強求其汗，妄耗津液，經氣先虛，邪氣不損，依然發熱也，
更有邪氣傳裏，表氣不能通於內，必壅於外，每至午後潮熱，熱甚則頭脹痛，
熱退則巳，此豈表實者耶，以上似表，誤為表證，妄投升散之劑，原邪愈實，
火氣上升，頭疼轉甚，須下之，裏氣一通，經氣降而頭疼立止，若果感冒頭疼，
無時不痛，為可辨也，且有別證相參，不可一途而取。若汗若下後，脈靜身涼，
渾身支節反加痛甚，一如被杖，一如墜傷，少動則痛苦號呼，此經氣虛，榮衛行澀也，
三四日內，經氣漸回，其痛漸止，雖不藥必自愈，設妄引經論，以為風濕相搏，
一身盡痛，不可轉側，遂投疏風勝濕之劑，身痛反劇，以此誤人其眾。</p>
<p>傷寒傳胃，即便潮熱譫語，下之無辭，今時疫初起，便作潮熱，熱甚亦能譫語，
誤認為裏證，妄用承氣，是為誅伐無辜，不知伏邪附近於胃，邪未入腑，亦能潮熱，
午後熱其，亦能譫語，不待胃實而後能也，假令常瘧熱甚，亦作譫語，癉瘧不惡寒，
但作潮熱，此豈胃實者耶，以上似裏，誤投承氣，裏氣先虛，及邪陷胃，
轉見胸腹脹滿，煩渴益甚，病家見勢危篤，以致更醫，醫見下藥病甚，
乃指大黃為砒毒，或投瀉心，或投柴胡\枳、桔，留邪在胃，變證日增，神脫氣盡而死，
向則不應下而反下之，今則應下而反失下，蓋因表裏不明，用藥前後失序之誤。</p>
<h3>論食</h3>
<p>時疫有首尾皆能食者，此邪不傳胃，切不可絕其飲食，但不宜過食耳。有愈後數日，
微渴微熱，不思食者，此微邪在胃，正氣衰弱，強與之即為食復。有下後一日便思食，
食之有味，當與之，先與米飲一小杯，加至茶甌，漸進稀粥，不可盡意，饑則再與，
如忽加吞酸，反覺無味，乃胃氣傷也，當停穀一日，胃氣復，復思食也，仍如漸進法。
有愈後十數日，脈靜身涼，表裏俱和，但不思食者，此中氣不甦，當與粥飲迎之，
得穀後即思食，覺饑久而不思食者，一法以人參一錢，煎湯與之，以喚胃氣，
忽覺思食，餘勿服。</p>
<h3>論飲</h3>
<p>煩渴思飲，酌量與之，若飲食過多，自覺水停心下，名停飲，宜四苓散最效。
如大渴，思飲冰水及冷飲，無論四時，皆可量與，蓋內熱之極，得冷飲相救甚宜，
能飲一升，止與半升，寧使少頃再飲，至於梨汁、蔗漿、西瓜，皆可備不時之需，
如不欲飲冷，當易白滾湯與之，乃至不思飲，則知胃和矣。</p>
<p>四苓湯
白茯苓〔一錢〕、瀉澤〔一錢五分〕、豬苓〔一錢五分〕、陳皮〔一錢〕。</p>
<p>取長流水煎服，古方有五苓散，用桂枝者，以太陽中風表證未罷，併入膀胱，
用四苓以利小便，加桂枝以解表邪，為雙解散，即如少陽併於胃，
以大柴胡通表裏而治之，今人但見小便不利，便用桂枝，何異聾者之聽宮商，
胃本無病，故加白朮以健中，今不用白朮者，疫邪傳胃而渴，白朮性壅，
恐以實填實也，加陳皮者，和中利氣也。</p>
<h3>損復</h3>
<p>邪之傷人也，始而傷氣，繼而傷血，繼而傷肉，繼而傷筋，繼而傷骨，邪毒既退，
始而復氣，繼而復血，繼而復肉，繼而復筋，繼而復骨，以柔脆者易損，亦易復也。
天傾西北，地陷東南，故男先傷右，女先傷左，及其復也，男先復左，女先復右，
以素虧者易損，以素實者易復也。</p>
<p>嚴洪甫正年三十，時疫後，脈證俱平，飲食漸進，忽然肢體浮腫，別無所苦，
此即氣復也，蓋大病後血未盛，氣暴復，血乃氣之依歸，氣無所依，故為浮腫，
嗣後飲食漸加，浮腫漸消，若誤投行氣利水藥，則謬矣。</p>
<p>張德甫年二十，患禁口痢，晝夜無度，肢體僅存皮骨，痢雖減，毫不進穀，
投人參一錢，煎湯入口，不一時身忽浮腫，如吹氣毬之速，自後飲食漸進，浮腫漸消，
腫間巳有肌 肉矣。</p>
<p>若大病後，三焦受傷，不能通調水道，下輸膀胱肢體浮腫，此水氣也，與氣復懸絕，
宜金匱腎氣丸，及腎氣煎，若誤用行氣利水藥必劇，凡水氣足冷，肢體常重，
氣復足不冷，肢體常輕為異。</p>
<p>俞桂玉正年四十，時疫後，四肢脫力，竟若癱瘓，數日後右手始能動，
又三日左手方動，又俞桂崗子室，所患皆然。</p>
<h3>標本</h3>
<p>諸竅，乃人身之戶牖也，邪自竅而入，未有不由竅而出，經曰，未入於腑者，
可汗而巳，巳入於腑者，可下而巳，麻徵君復增汗吐下三法，總是導引其邪，
打從門戶而出，可為治法之大綱，舍此皆治標云爾，今時疫首尾一於為熱，
獨不言清熱者，是知因邪而發熱，但能治其邪，不治其熱，而熱自巳，夫邪之與熱，
猶形影相依，形亡而影未有獨存者，若以黃連解毒湯、黃連瀉心湯，純乎類聚寒涼，
專務清熱，既無汗吐下之能，焉能使從邪竅而出，是忘其本，徒治其標，
何異於小兒捕影。</p>
<h3>行邪伏邪之別</h3>
<p>凡邪所客，有行邪，有伏邪，故治法有難有易，取效有遲有速，假令行邪者，
如正傷寒，始自太陽，或傳陽明，或傳少陽，或自三陽入胃，如行人經由某地，
本無根蒂，因其浮游之勢，病形雖重，若果在經，一汗而解，若果傳胃，一下而愈，
藥到便能獲效，先伏而後行者，所謂瘟疫之邪，伏於膜原，如鳥栖巢，如獸藏穴，
營衛所不關，藥石所不及，至其發也，邪毒漸張，內侵於腑，外淫於經，營衛受傷，
諸證漸顯，然後可得而治之，方其浸淫之際，邪毒尚在膜原，此時但可疏利，
使伏邪易出，邪毒既離膜原，乃觀其變，或出表，或入裏然後可導邪而出，邪盡方愈，
初發之時，毒勢漸張，莫之能禦，其時不惟不能即瘳其疾，而病證日惟加重，
病家見證反增，即欲更醫，醫家不解，亦自驚駭，竟不知先時感受，邪甚則病甚，
邪微則病微，病之輕重，非關於醫，人之生死，全賴藥石，故諺有云，傷寒莫治頭，
勞怯莫治尾，若果正傷寒，初受於肌表，不過在經之浮邪，一汗即解，何難治之有，
此言蓋指瘟疫而設也，所以疫邪方張之際，勢不可遏，但使邪毒速離膜原，便是治法，
全在後段工夫，識得表裏虛實，更詳輕重緩急，投劑不致差謬，如是可以萬舉萬全，
即使感受之最重丈，按法治之，必無殞命之理，若夫久病枯極，酒色耗竭，耆耄風燭，
此等巳是天真幾絕，更加瘟疫，自是難支，又不可同年 而語。</p>
<h3>應下諸證</h3>
<p>舌白胎，漸變黃胎。</p>
<p>邪在膜原，舌上白胎，邪在胃家，舌上黃胎，胎老變為沉香色也，白胎未可下，
黃胎宜下。</p>
<p>舌黑胎。
邪毒在胃，熏騰於上，而生黑胎，有黃胎老而變焦色者，有津液潤澤者，作軟黑胎，
舌上乾燥者，作硬黑胎，下後二三日，黑皮自脫。又有一種，舌俱黑而無胎，此經氣，
非下證也，妊娠多見此，陰證亦有此，並非下證。下後裏證去，舌尚黑者，
胎皮未脫也，不可再下，務在有下證，方可下，舌上無胎，況無下證，
誤下舌反見離離黑色者危，急當補之。</p>
<p>舌芒刺。
熱傷津液，此疫毒之最重者，急當下。老人微疫，無下證，舌上乾燥，易生胎刺，
用生脈散，生津潤燥，芒刺自失。</p>
<p>舌裂。
日久失下，血液枯極，多有此證，又，熱結旁流，日久不治，在下則津液消亡，
在上則邪火毒熾，亦有此證，急下之，裂自滿。</p>
<p>舌短，舌硬，舌卷。
皆邪氣勝，真氣虧，急下之，邪毒去，真氣回，舌自舒。</p>
<p>白砂胎。
舌上白胎，乾硬如砂皮，一名水晶胎，乃自白胎之時，津液乾燥，邪雖入胃，
不能變黃，宜急下之。若白胎潤澤者，邪在膜原也，邪微胎亦微，邪氣盛，胎如積粉，
滿布其舌，未可下，久而胎色不變，別有下證，服三消飲，次早舌即變黃。</p>
<p>唇燥裂，唇焦色，唇口皮起，口臭，鼻孔如煙煤。</p>
<p>胃家熱，多有此證，固當下，如口皮起，仍用別證互較，鼻孔煤黑，疫毒在胃，
下之無辭。</p>
<p>口燥渴。
更有下證者，宜下之，下後邪去胃和，渴自減，若服花粉門冬知毋，冀其生津止渴，
殊謬。</p>
<p>若大汗，脈長洪而渴，未可下，宜白虎湯，汗更出，身涼渴止。</p>
<p>目赤，咽乾，氣噴如火，小便赤黑，涓滴作痛，小便極臭，揚手擲足，脈沉而數。</p>
<p>皆為內熱之極，下之無辭。</p>
<p>潮熱，譫語。
邪在胃，有此證宜下，然又有不可下者，詳載似裏非裏條下，又熱入血室條下，
又神虛譫語條下。</p>
<p>善太息。
胃家實，呼吸不利，胸膈痞悶，每欲引氣下行故然。</p>
<p>心下滿，心下高起如塊，心下痛，腹脹滿，腹痛，按之愈痛，心下脹痛。</p>
<p>以上皆胃家邪實，內結氣閉，宜下之，氣通則巳。</p>
<p>頭脹痛。
胃家實，氣不下降，下之，頭痛立止，若初起頭痛，別無下證，未可下小便閉。</p>
<p>大便不通，氣結不舒，大便行，小便立解，誤服行氣利水藥，無益。</p>
<p>大便閉，轉屎氣極臭。</p>
<p>更有下證，下之無辭，有血液枯竭者，無表裏證，為虛燥，宜蜜煎導及膽導。</p>
<p>大腸膠閉。
其人平素大便不實，設遇疫邪傳裏，但蒸作極臭，狀如粘膠，至死不結，
但愈蒸愈黏，愈黏愈閉，以致胃氣不能下行，疫毒無路而出，不下即死，
但得黏膠一去，下證自除，霍然而愈。</p>
<p>協熱下利，熱結旁流。</p>
<p>並宜下，詳見大便條下。</p>
<p>四逆，脈厥，體厥。</p>
<p>並屬氣，陽氣鬱內，不能四布於外，胃家實也，宜下之，下後反見此證者，為虛脫，
宜補之。</p>
<p>發狂。
胃家實，陽氣盛也，宜下之，有虛煩似，狂，有因欲汗作狂，並詳見本條忌下。</p>
<h3>應補諸證</h3>
<p>向謂傷寒無補法者，蓋傷寒時疫，均是客邪，然傷於寒者不過風寒，乃天地之正氣，
尚嫌其填實而不可補，今感疫氣者，乃天地之毒氣，補之則壅裏其毒，邪火愈熾，
是以誤補之為害，尤甚於傷寒，此言其常也，及言其變，則又有應補者，或日久失下，
形神幾脫，或久病先虧，或先受大勞，或老人枯竭，或當補瀉兼施，
或既行而增虛證者，宜急峻補。〔虛證散在諸篇此不再贅〕。補之虛證稍退，
切忌再補。〔詳見前虛後實〕。補後虛證不退，反加變證者危，下後虛證不見，
乃臆度其虛，輒用補劑，法所大忌，凡用補劑，本日不見佳處，即非應補，
蓋人參為益元氣之極品，開胃氣之神丹，下咽之後，其效立見，若用參之後，
元氣不回，胃氣不轉者，勿謂人參之功不捷，蓋因投之不當耳，急宜另作主張，
若恣意投之，必加變而更投之者死。</p>
<h3>論陰證世間罕有</h3>
<p>傷寒陰陽二證，方書皆以對待言之，凡論陽證，即繼以陰證，讀者以為陰陽二證，
世間均有之病，所以臨診之際，先將陰陽二證在於胸次，往來躊躕，最易牽入誤端，
甚有不辨脈證，但窺其人多蓄少艾，或適在妓家，或房事後得病，或病適至行房，
醫問及此，便疑為陰證，殊不知病之將至，雖僧尼寡婦，室女童男，曠夫閹宧，
病勢不可遏，於房慾何與焉，即使多蓄少艾，頻宿娼妓，房事後適病，病適至行房，
此際偶值病邪，發於膜原，氣擁火鬱，未免發熱，到底終是陽證，與陰證何與焉，
況又不知陰證，實乃世間罕有之病，而陽證似陰者，何日無之，究其所以然者，
蓋不論傷寒瘟疫，傳人胃家，陽氣內鬱，不能外布，即便四逆，所謂陽厥是也，又曰，
厥微熱亦微，厥深熱亦深，其厥深者，甚至冷過肘膝，脈沉而微劇，則通身冰冷，
脈微欲絕，雖有輕重之分，總之為陽厥，因其觸目皆是，苟不得其要領，
於是誤認者良多，況且瘟疫，每類傷寒，又不得要領，最為混淆，夫瘟疫熱病也，
從無感寒，陰自何來一也，治瘟疫數百人，纔遇一正傷寒，二也，及治正傷寒數百人，
纔遇一真陰證，三也，前後統論，苟非歷治萬人，烏能一見陰證，
豈非世間罕有之病耶，驗今傷寒科盛行之醫，歷數年間，或偶得遇一真陰證者有之，
奈之何纔見傷寒，便疑陰證，況多瘟疫，又非傷寒者乎。</p>
<h3>論陽證似陰</h3>
<p>凡陽厥手足厥冷，或冷過肘膝，甚至手足指甲皆青黑，劇則遍身冰冷如石，
血凝青紫成片，或六脈無力，或脈微欲絕，以上脈證，悉見純陰，猶以為陽證何也，
蓋審內證，氣噴如火，齦爛口臭，煩渴譫語，口燥舌乾，舌胎黃黑，或生芒刺，
心腹痞滿，小腹疼痛，小便赤澀，涓滴作痛，非大便燥結，即大腸膠閉，非協熱下利，
即熱結膀胱，以上內三焦悉見陽證，所以為陽厥也，粗工不察內多下證，
但見表證脈體純陰，誤投溫劑，禍不旋踵。凡陽證似陰者，瘟疫與傷寒適有之，
其有陰證似陽者，此係正傷寒家事，在瘟疫無有此證，故不附載，詳見傷寒實錄，
瘟疫陽證似陰者，始必由膜原以漸傳裏，先幾日發熱，以後四逆，傷寒陽證似陰者，
始必由陽經發熱，脈浮而數，邪氣自外漸次傳裏，裏氣壅閉，脈氣方沉，
乃至四肢厥逆，蓋非一日矣，其真陰者，始則惡寒而不發熱，其脈沉細，當即四逆，
急投附子回陽，二三日失治即死。捷要辨法，凡陽證似陰，外寒而內必熱，
故小便血赤，凡陰證似陽者，格陽之證也，上熱下寒，故小便清白，
但以小便赤白為據，以此推之，萬不失一。</p>
<h3>舍病治藥</h3>
<p>嘗遇微疫，醫者誤進白虎湯數劑，續得四肢厥逆，病勢轉劇，更醫，謬指為陰證，
投附子湯病愈，此非治病，實治藥也，雖誤認病原，藥則偶中，醫者之庸，
病者之福也，蓋病本不藥自愈之證，因連進白虎，寒涼慓悍，抑遏胃氣，
以致四肢厥逆，疫邪強伏故病增劇，今投溫劑，胃氣通行，微邪流散，故愈，
若果直中無陽，陰證誤投白虎，一劑立斃，豈容數耶。</p>
<h3>舍藥治病</h3>
<p>一人感疫，發熱煩渴，思飲冰水，醫者以為凡病，須忌生冷，禁止甚嚴，
病者苦索勿與，遂至兩目火迸，咽喉焦燥，不時煙焰上騰，晝夜不寐，目中見鬼無數，
病劇苦甚，自謂但得冷飲一滴下咽，雖死無恨，於是乘隙，匍匐竊取井水一盆，
置之椀旁，飲一盃，目頓清亮，二盃鬼物潛消，三盃咽喉聲出，四盃筋骨舒暢，
飲至六盃，不知盞落枕旁，竟爾熟睡，俄而大汗如雨，衣被濕透，脫然而愈，
蓋因其人瘦而多火，素稟陽藏始則加之以熱，經絡枯燥，既而邪氣傳表，
不能作正汗而解，誤投升散，則病轉劇，今得冷飲，表裏和潤，所謂除弊，便是興利，
自然汗解宜矣，更有因食因痰因寒劑，因虛陷，致疾不愈者，皆當舍病求弊，
以此類推，可以應變於無窮矣。</p>
<h3>論輕疫誤治每成痼疾</h3>
<p>凡客邪皆有輕重之分，惟疫邪感受輕者人所不識，往往誤治而成痼疾，
假令患痢晝夜無度，水穀不進，人皆知其危痢也，其有感之輕者，晝夜惟行四五度，
飲食如常，起居如故，人亦知其輕痢，未常誤以他病治之者，憑有積滯耳，至如瘟疫，
感之重者，身熱如火，頭疼身痛，胸腹脹滿，胎刺譫語，斑黃狂躁，人皆知其危疫恘，
其有感之淺者，微有頭疼身痛，午後稍有潮熱，飲食不其減，但食後或覺脹滿，
或覺惡心，脈微數，如是之疫，最易誤認，即醫家素以傷寒瘟疫為大病，
今因證候不顯，多有不覺其為疫也，且人感疫之際，來而不覺，既感不知，最無病據，
又因所感之氣甚薄，發時又現證不甚，雖有頭疼身痛，而飲食不絕，力可徒步，
又烏得而知其疫也，病人無處追求，每每妄訴病原，醫家不善審察，未免隨情錯認，
有如病前適遇小勞，病人不過以此道其根由，醫家不辨是非，便引東垣勞倦傷脾，
元氣下陷，乃執甘溫除大熱之句，隨用補中益氣湯，壅補其邪，轉壅轉熱，轉熱轉瘦，
轉瘦轉補，多至危殆。或有婦人患此，適逢產後，醫家便認為陰虛發熱，血虛身痛，
遂投四物湯及地黃丸，滯其邪，遷延日久，病邪益固，邀遍女科，無出滋陰養血，
屢投不效，復更涼血通瘀，不知原邪仍在，積熱自是不除，日漸尪羸，終成癈痿。
凡人未免七情勞鬱，醫者不知為疫，乃引丹溪五火相煽之說，或指為心火上炎，
或指為肝火衝擊，遂乃類聚寒涼，冀其直折，而反凝住其邪，徒傷胃氣，疫邪不去，
瘀熱何清，延至骨立而斃。或向有宿病淹纏，適逢微疫，未免身痛發熱，
醫家病家同認為原病加重，仍用前藥加減，有妨於疫，病益加重，至死不覺者，
如是種種，難以盡述，聊舉一二，從是推而廣之，可以應變於無窮矣。</p>
<h3>肢體浮腫</h3>
<p>時疫潮熱而渴，舌黃身痛，心下滿悶，腹時痛脈數，此應下之證也，
外有通身及面目浮腫，喘急不巳，小便不利，此疫兼水腫，因三焦壅閉，水道不行也，
但治在疫，水腫自巳，宜小承氣湯，向有單腹脹而後疫者，及先年曾患水腫，
因疫而發者，但治在疫，腹脹水腫自愈，病人通身浮腫，下體益甚，臍凸，
陰囊及陰莖腫大色白，小便不利，此水腫也，繼又身大熱，午後益甚，煩渴，
心下滿悶喘急，大便不調，此又加疫也，因下之，下後脹不除，反加腹滿，
宜承氣加甘遂二分，弱人量減，蓋先腫脹續得時疫，此水腫兼疫，大水在表，
微疫在裏也，故併治之，時疫愈後數日，先自足浮腫，小便不利，腫漸至心腹而喘，
此水氣也，宜治在水，時疫愈後數日，先自足浮腫，小便如常，雖至通身浮腫而不喘，
別無所苦，此氣復也，蓋血乃氣之依歸，夫氣先血而生，無所歸依，故暫浮腫，
但靜養節飲食，不藥自愈，時疫身賦羸弱，言不足以聽，氣不足以息，得下證，
少與承氣，下證稍減，更與之，眩暈欲死，蓋不勝其攻也，絕穀期日，
稍補則心腹滿悶，攻不可，補不可，守之則元氣不鼓，餘邪沉匿膜原，日惟水飲而巳，
以後心腹忽加腫滿煩冤者，向來沉匿之邪，方悉分傳於表裏也，宜承氣養榮湯，
一服病巳，設表腫未除，宜微汗之自愈，時疫得裏證失下，以致面目浮腫，
及肢體微腫，小便自利，此表裏氣滯，非兼水腫也，宜承氣下之，裏氣一疏，
表氣一順，浮腫頓除，或見絕穀期月，指為脾虛發腫，誤補必劇，妊娠更多此證，
治法同前，皆得子母俱安，但當少與，慎毋過劑。〔共七法。〕</p>
<h3>服寒劑反熱</h3>
<p>陽氣通行，滋養百骸，陽氣壅閉，鬱而為熱，且夫人身之火，無處不有，無時不在，
但喜通達耳，不論藏府經絡，表裏上下，血分氣分，一有所阻，即便發熱，
是知百病發熱，皆由於壅鬱，然火鬱而又根於氣，氣嘗靈而火不靈，火不能自運，
賴氣為之運，所以氣升火亦升，氣降火亦降，氣行火亦行，氣若阻滯，則火屈曲，
惟是屈曲，熱斯發矣，是氣為火之舟楫也，今疫邪透出於膜原，氣為之阻，時疫到胃，
是求伸而未能遽進也，今投寒劑，抑遏胃氣，氣益不伸，火更屈曲，所以反熱也，
往往服芩連知柏之類，病人自覺反熱，其間偶有靈變者，但言我非黃連證，
亦不知其何故也，竊謂醫家每以寒涼清去，熱不能清，尚信弗疑，服之反熱，
全然不悟，雖至白首，終不究心，悲夫。</p>
<h3>知一</h3>
<p>邪之著人如飲酒，然凡人醉酒，脈必洪而數，氣高身熱，面目俱赤，乃其常也，
及言其變，各有不同，有醉後妄言妄動，醒後全然不知者，有雖沉醉，
而神思終不亂者，醉後應面赤而反刮白者，應委弱而反剛強者，
應壯熱而反惡寒戰慄者，有易醉而易醒者，有難醉而難醒者，有發呵欠及啑噴者，
有頭眩眼花，柔頭痛者，因其氣血虛實之不同，藏腑稟賦之各異更兼過飲少飲之別，
考其情狀，各自不同，至論醉酒一也，及醒，一切諸 諸態如失。</p>
<p>凡人受邪，始則晝夜發熱，日晡益甚，頭疼身痛，舌上白胎，漸加煩渴，
乃眾人之常也，及言其變，各自丕同者，或嘔或吐，或咽喉乾燥，或痰涎湧甚，
或純乎發熱，或發熱而兼凜凜，或先凜凜而後發熱，或先一日惡寒而後發熱，
以後即純乎發熱，或先惡寒而後發熱，以後漸漸寒少而熱多，以至純熱者，
或晝夜發熱者，或午後潮熱，餘時熱稍緩者，有從外解者，或戰汗，或狂汗，
自汗盜汗，或發斑，有潛消者，有從內傳者，或胸膈痞悶，或心腹脹滿，或心痛腹痛，
或胸脅痛，或大便不通，或前後癃閉，或挾熱下利，或熱結旁流，有黃胎黑胎者，
有口燥舌裂者，有舌生妾刺，舌色紫赤者，有鼻孔如煙煤之黑者，有發黃及蓄血、
吐血、衄血，大小便血，汗血、嗽血、齒衄者，有發頤疙瘩瘡者，有首尾能食者，
有絕穀一兩月者，有無故最善反復者，有愈後漸加飲食如舊者，
有愈後飲食勝常二三倍者，有愈後退爪脫髮者，至論惡證，口禁不能張，
昏迷不識人，足屈不能伸，唇口不住牽動，手足不住振戰，直視上視，圓眸目瞑，
口張聲啞舌強，遺尿遺糞，項強發痙，手足俱痙，筋愓肉瞤，循衣摸床，
撮空理線等證，種種不同，因其氣血虛實之不同，臟腑稟賦之有異，
更兼感重感輕之別，考其證候，各自不同，至論受邪一也，及邪盡，一切諸證如失，
所謂知其一，萬事畢，知其要者，一言而終，不知其要者，流散無窮，此之謂也，
以上止舉一氣，因人而變，至有歲氣稍有不同者，有其年眾人皆從自汗而解者，
更有其年眾人皆從戰汗而解者，此又因氣而變餘證，大同小異，皆疫氣也，
至又雜氣為病，一氣自成一病，每病各又因人而變，統而言之，其變不可勝言矣，
醫者能通其變，方為盡善。</p>
<h3>四損不可正治</h3>
<p>凡人大勞大慾，及大病久病後，氣血兩虛，陰陽並竭，名為四損，當此之際，
忽又加疫，邪氣雖輕，並為難治，以正氣先虧，邪氣自陷，故諺有云，
傷寒偏死下虛人，正謂此 也。若正氣不勝者，氣不足以息，言不足以聽，
或欲言而不能，感邪雖重，反無脹滿痞塞之證，誤用承氣，不劇即死，以正氣愈損，
邪氣愈伏也。</p>
<p>若真血不足者，面色萎黃，唇口純白，或因吐血崩漏，或因產後亡血過多，
或因腸風藏毒所致，感邪雖重，面目反無陽色，誤用承氣速死，以榮血愈消，
邪氣益加沉匿也。</p>
<p>若真陽不足者，或四肢厥逆，或下利完穀，肌體惡寒，恆多泄瀉，至夜益甚，
或口鼻冷氣，感邪雖重，反無發熱燥渴胎刺等證，誤用承氣，陽氣愈消，陰凝不化，
邪氣留而不行，輕則漸加委頓，重則下咽立斃。</p>
<p>若真陰不足者，自然五液乾枯，肌膚甲錯，感邪雖重，應汗無汗，應厥不厥，
誤用承氣，病益加重，以津液枯涸，邪氣澀滯，無能輪泄也，凡遇此等，
不可以常法正治，當從其損而調之，調之不愈者，稍以常法治之，治之不及者，
損之至也，是故一損二損，輕者或可挽回，重者治之無益，乃至三損四損，
雖盧扁亦無所施矣，更以老少參之，少年遇損，或可調治，老年遇損，多見治之不及，
良以枯魄獨存，化源巳絕，不復滋生矣。</p>
<h3>勞復食復自復</h3>
<p>疫邪巳退，脈證俱平，但元氣未復，或因梳洗沐浴，或因多言妄動遂至發熱，
前證復起，惟脈不沉實為辨，此名勞復，蓋氣為火之舟楫，今則真氣方長，勞而復折，
真氣既虧，火亦不前，如人欲濟，舟楫巳壞，其可渡乎，是火也，某經氣陷，
則火隨陷於某經，陷於經絡，則為表熱，陷於臟腑，則為裏熱，虛甚熱甚，虛微熱微，
治法輕則靜養可復，重則大補氣血，候真氣一回，血脈融和，表裏通暢，所陷之火，
隨氣輸泄，自然熱退而前證自除矣，若誤用承氣，及寒涼剝削之劑，變證蜂起，
卒至殞命，宜服安神養血湯。若因飲食所傷者，或吞酸作噯，或心胸滿悶，而加熱者，
此名食復，輕則損穀自愈，重 則消導方痊。</p>
<p>若無故自復者，以伏邪未盡，此名自復，當問前得某證，所發亦某證，少與前藥，
以徹其餘邪，自然獲愈。</p>
<p>安神養血湯
茯神、棗仁〔炒〕、當歸、遠志、芍藥、地黃、陳皮、甘草，加圓眼肉，水煎服。</p>
<h3>感冒兼疫</h3>
<p>疫邪伏而未發，因感冒風寒，觸動疫邪，相繼而發也，既有感冒之因由，
復有風寒之脈證，先投發散，一汗而解，一二日續得頭疼身痛，潮熱煩渴，不惡寒，
此風寒去，疫邪發也，以疫法治之。</p>
<h3>瘧疫兼證</h3>
<p>瘧疾二三發，或七八發後，忽然晝夜發熱而渴，不惡寒，舌生胎刺，心腹痞滿，飲食不進，下證漸具，此瘟疫著，瘧疾隱也，以疫法治之。瘟疫晝夜純熱，心腹痞滿，飲食不進，下後脈靜身涼，或間日，或每日，時惡寒，而後發熱如期者，此瘟疫解，瘧邪未盡也，以瘧法治之。</p>
<h3>瘟瘧</h3>
<p>凡瘧者，寒熱如期而發，餘時脈靜身涼，此常瘧也，以瘧法治之，設傳胃者，
必現裏證，名為瘟瘧，以疫法治者生以，瘧法治者死，裏證者，為下證也，
下後裏證除，寒熱獨刈楮，是瘟疫減，瘧證在也，瘧邪未去者宜疏，
邪去而瘧勢在者宜截，勢在而挾虛者宜補，疏以清脾飲，截以不二飲，補以四君子，
方見瘧門，仍恐雜亂，此不附載。</p>
<h3>疫痢兼證</h3>
<p>下痢膿血，更加發熱而渴，心腹痞滿，嘔而不食，此疫痢兼證，最為危急，夫疫者胃，
家事也，疫邪傳胃，下常八九，既傳入胃，必從下解，蓋疫邪不能自，
出必藉大腸之氣傳送而下，疫方得愈，至痢者，大腸內事也，大腸即病，
失其傳送之職，故正糞不行，純乎下痢膿血而已，所以向來穀食，停積在胃，
直須大腸邪氣將退，胃氣通行，正糞自此而下，今大腸失職，正糞尚自不行，
又何能為胃載毒而出，毒既不前羈留在胃，最能敗壞真氣，在胃一日，有一日之害，
一時有一時之害，耗氣血，神脫氣盡而死，凡遇疫痢兼證者，在痢尤為喫緊，
疫痢俱急者，宜檳芍順氣湯，誠為一舉兩得。
檳芍順氣湯  專治下痢頻數，裏急後重，兼舌胎黃，得疫之裏證者。
檳榔  芍藥  枳實  厚朴  大黃  生薑煎服。</p>
<h3>婦人時疫</h3>
<p>婦人傷寒時疫，與男子無二，惟經水適斷適來。及崩漏產後，與男子稍有不同，
夫經水之來，乃諸經血滿，歸注於血室，下泄為月水，血室者，一名血海，
即衝任脈也，為諸經之總任，經水適來，疫邪不入於胃，乘勢入於血室，
故夜發熱譫語，蓋衛氣晝行於陽，不與陰爭，故晝則明了，夜行於陰，與邪相摶，
故夜發熱譫語，至夜止發熱而不譫語者，亦為熱入血室，因有輕重之分，
不必拘於譫語也，經曰無犯胃氣，及上二焦，必自愈，胸膈併胃無邪，
勿以譫語為胃實，而妄攻之，但熱隨血上，故自愈，若有如結胸狀者，血因邪結也，
當刺期門，以通其結活人以柴胡湯治之，不若刺者功捷。
經水適斷，血室空虛，其邪，乘虛傳入，邪勝正虧，經氣不振，不能鼓散其邪為難治，
且不從血泄，邪氣何由即解，與適來之義，有血虛血實之分，宜柴胡養榮湯，
新產後亡血過多，衝任空虛，與夫素善崩漏，經氣久虛，皆能受邪，與經水適斷同法。</p>
<h3>小兒時疫</h3>
<p>凡小兒感冒風寒瘧痢等證知，人所易知，一染時疫，人所難窺，所以耽誤者良多，
何也，蓋由幼科專於痘疹吐瀉驚疳，併諸雜證，在傷寒時疫甚略之一也，
古人稱幼科為啞科，蓋不能盡罄所苦以告師，師又安能悉乎問切之義，
所以但知其身熱，不知其頭疼身痛也，但佑不思乳食，胸膨脹，疑其內傷乳食，
安知其疫邪傳胃也，但見嘔吐惡心，口渴下利以小兒吐瀉為常事，
又安知其挾熱下利也，執此何暇致思為時疫二也，小兒神氣嬌怯，筋骨柔脆，
一染時疫，延捱失治，即便兩目上弔，不時驚搐，肢體發痙，十指鉤曲，
甚則角弓反張，必延幼科，正合渠平日學習見聞之證，是多誤認為慢驚風，
遂投抱龍丸，安神丸，竭盡驚風之劑，轉治轉劇，因兒不啼不語，
不將顖門眉心亂灸，艾火雖微，內攻甚急，兩陽相摶，如火加油如爐添炭，
死者不可勝計，深為痛憫，今凡遇疫毒流行，大人可染，小兒豈獨不可染耶，
但所受之邪則一，因其氣血筋骨柔脆，故所現之證為異耳，務宜求邪以治，
故用藥與大人彷彿，凡五六歲以上者，藥當減半，二三歲往來者，四分之一可也，
又腸胃柔脆，少有差誤，為禍更速臨證尤宜加慎。</p>
<p>偶齋云，閱至此，真說盡幼科伎倆不勝擊節浩歎。</p>
<p>小兒太極丸
天竺黃（五錢）膽星（五錢）大黃（三錢）麝香（三分）冰片（三分）
殭蠶（三錢）
共為細未端午日午時修合，糯米飯杵為丸，如芡實大，硃砂為衣，
凡遇疫證薑湯化下一丸，神效。</p>
<h3>妊娠時疫</h3>
<p>孕婦時疫，設應用三承氣湯，須隨證施治。切不可過慮，慎毋感於參朮安胎之說，
病家見用承氣，先自驚疑，或更左右嘈雜，必玫醫家掣肘，為子毋大不祥，
若應下之證，反用補劑，邪火壅鬱，熱毒愈熾，胎愈不安，邪氣摶血，胞胎何賴，
是以古人有懸鐘之喻，梁腐而鐘未有不落者，唯用承氣，逐去其邪，火毒消散，
炎熇頓為清涼，氣回而胎自固，當此證候，反見大黃為安胎之聖，藥歷治歷當，
子母俱安，若腹痛如錐，腰痛如折，此將墮欲之候，服亦無及矣，雖投承氣，
但可愈疾而全母，昧者以為胎墮，必反咎於醫也。
或詰余曰孕婦而投承氣設邪未逐，先損其胎，當如之何，余日，結糞瘀熱，
腸胃聞事也，胎附於脊，腸胃之外，予宮內事也，藥先到胃，
瘀熱纔通胎氣便得舒養是以興利除害於頃刻間，何慮之有，但毒藥治病，病去七八，
餘邪自愈，慎勿過劑耳，凡妊娠時疫，有四損者，不可正治，
當從其損而調之產後同法，非其損而調之，產後同法，非其損而誤補，必死。
（四損詳見前應補諸證條後）</p>
<h3>主客交</h3>
<p>凡人向有他病尪贏，或久瘧，或內傷瘀血，或吐血，便血咳血，男子遺精白濁，
精氣枯涸，女人崩漏帶下，血枯經閉之類，以致肌肉消爍，邪火獨存故脈近於數也，
此際稍或疫氣，醫家病家見其穀食暴絕，更加胸膈痞悶，身疼發熱，徹夜不寐，
指為原病加重，誤以絕穀為脾虛，以不寐為神虛，遂投參，朮，歸，地，茯，神，
棗仁之類，愈進愈危，知者稍以疫法治之，發熱減半，或時得睡，穀食稍進，
但數脈不去，肢體時疼，胸脇錐痛，過期不，醫以雜藥頻試補之，則邪火愈熾，
瀉之則損脾壞胃，滋之則膠邪愈固，攻之則徒汗益虛，疏之則精氣愈耗，
守之則日削近死，蓋但佑其伏邪已潰，裏分傳，裏證雖除不佑正氣衰微，
不能揗出表邪，留而不去，因與血脈合而為一結為痼疾也，肢體時疼者，
邪與榮氣摶也，脈數身熱不去者，邪火並鬱也，脇下錐痛者，火邪結於膜膈也，
過期不愈者，凡疫邪交卸，近在一七，遠在二七，甚至三七，過此不愈者，因非治，
不為壞證，即為痼疾也，夫痼疾者，所謂客邪膠固於血脈，主客交渾，最難得解，
且愈久益固，治法當乘其大肉未消，真元未敗，急用三甲散，多有得生者，
更附加減法，隨其素而調之。</p>
<p>三甲散
鱉甲  龜甲（並用酥炙黃為末各一錢或用醋炙代之）川山甲（土炒黃為末五分）
蟬退（洗淨炙乾五分）殭蠶（白硬者切斷生用五分）
牡蠣（煆為末五分咽燥者酌用）
⿸庶䖵蟲（三個乾者擘碎鮮者搗爛和酒少許取汁入湯藥同服其渣入諸藥同煎）
白芍藥（酒炒七分）</p>
<p>當歸〔五分〕、甘草〔三分〕，水二鍾，煎八分，濾清溫服。若素有老瘧，
或癉瘧者，加牛膝一錢，何首烏一錢，胃弱欲作瀉者，宜用九蒸九曬。若素有鬱痰者，
加貝毋一錢，老痰者，加括蔞霜五分，善嘔者勿用，若咽乾作癢者，
加花粉知毋各五分，若素有燥嗽者，加杏仁搗爛一錢五分，若素有內傷瘀血者，
倍䗪蟲，如無䗪蟲，以乾漆炒煙盡，為末五分，及桃仁搗爛一錢代之，服後病減六七，
餘勿服，當盡調理法。</p>
<h3>調理法</h3>
<p>凡人胃氣強盛，可飢可飽，若久病之後，胃氣薄弱，最難調理，蓋胃體如灶，
胃氣如火，穀食如薪，合水穀之精微，升散為血脈者如焰，其糟粕下轉為糞者如燼，
是以灶大，則薪多火盛，薪斷而餘焰猶存，雖薪後續，而火亦然，若些小鐺鍋，
止宜薪數莖，稍多則壅滅，稍斷則火絕，死灰而求復燃，不亦難乎，若夫大病之後，
客邪新去，胃口方開，幾微之氣，所以多與早與遲與，皆不可也，宜先與粥佽，
次糊飲，次糜粥，次稀飯，尤當循序漸進，毋先其時毋後其時，當設爐火，
晝夜勿令斷絕，以備不時之用，思穀即與，稍緩則胃飢如剡，再緩則胃氣傷，
反不思食矣，既不思食，若照前與之，雖食而弗化，弗化則傷之又傷，不為食復者，
當如初進法，若更多與，及黏硬之物，胃氣壅甚，必脹滿難支，若氣絕穀存，
乃致反覆顛倒，形神俱脫而死矣。</p>
<h3>統論疫有九傳治法</h3>
<p>夫疫之傳有九，然亦不出乎表裏之間而山矣，所謂九傳者，病人各得其一，
非謂一病而有九傳也，蓋瘟疫之來，邪自口鼻而入，感於膜原，伏而未發者，
不知不覺，巳發之後，漸加發熱，脈洪而數此眾人相同，宜達原飲疏之，
繼而邪氣一離膜原，察其傳變，眾人不同者，以其表裏各異耳，有但表而不裏者，
有但裏而不表者，有表而再表者，有裏而再裏者，有表裏分傳者，
有表裏分傳而再分傳者，有表勝於裏者，有裏勝於表者，有先表而後裏者，
有先裏而後表者，識此九傳，其去病一也，醫者不知九傳之法，不知邪之所在，
如盲者之不任杖，聾者之聽宮商，無音可求，無路可適，未免當汗不汗，當下不下，
或顛倒誤用，或尋枝摘葉，但治其證，不治其邪，同歸於誤一也。</p>
<p>所言但表而不裏者，其證頭疼身痛，發熱而復凜凜，內無胸滿腹脹等證，穀食不絕，
不煩不渴，此邪氣之傳，由肌表而出，或自斑消，或從汗解，斑者，有斑疹、桃花斑、
紫雲斑，汗者，有自汗、盜汗、狂汗、戰汗之異，此病氣之使然，不必較論，
但求得斑得汗為憊疾耳，凡自外傳者為順，勿藥亦能自愈，間有汗出不徹而熱不退者，
宜白虎湯，斑出不透而熱不退者，宜舉斑湯，有斑汗並行而愈者，若斑出不透，
汗出不徹而熱不除者，宜白虎合舉斑湯。</p>
<p>間有表而再表丈，所發未盡，膜原尚有隱伏之邪，或二三日後，四五日後，
依前發熱，脈洪而數，及其解也，斑者仍斑，汗者仍汗而愈，未愈者，仍如前法治之，
然亦稀有，至於三表者，更稀有也。</p>
<p>若但裏而不表者，外無頭疼身痛，向後亦無三斑四汗，惟胸膈痞悶，欲吐不吐，
雖得少吐而不快，此邪傳裏之上者，宜瓜蒂散吐之，邪從吐減，邪盡病巳，
邪傳裏之中下者，心腹脹滿，不嘔不吐，或燥結便閉，或熱結旁流，或協熱下利，
或大腸膠閉，並宜承氣輩，導去其邪，邪減病減，邪盡病巳，上中下皆病者，不可吐，
吐之為逆，但宜承氣導之，則在上之邪順流而下，嘔吐立止，脹滿漸除。</p>
<p>有裏而再裏者，愈後二三日，或四五日，依前之證復發，在上者仍吐之，
在下者仍下之，再裏者常事，甚至三裏者亦有也，雖有上中下之分，皆為裏證。</p>
<p>若表裏分傳者，始則邪氣伏於，膜原，膜原者，即半表半裏也，此傳法以邪氣平分，
半入於裏，則現裏證，半出於表，則現表證，此疫家之常事，然表裏俱病，內外壅閉，
既不得汗，而復不得下，此不可汗，強求其汗，必不可得，宜承氣先通其裏，
裏邪先去，邪去則裏氣通，中氣方能達表，血者鬱於肌肉之邪，乘勢盡發於肌表矣，
或斑或汗，蓋隨其性而升泄之也，諸證悉去，既無表裏證，而熱不退者，
膜原尚有巳發之邪未盡也，宜三消飲調之。</p>
<p>若表裏分傳而再分傳者，照前表裏得病，宜三消飲，復下復汗，如前而愈，
此亦常事，至於三發者，亦偶有之。</p>
<p>若表勝於裏者，膜原伏邪發時，傳表之邪多，傳裏之邪少，何以知之，
表證多而裏證少，當治其表，裏證兼之，若裏證多而表證少者，但治其裏，表證自愈。</p>
<p>若先表而後裏者，始則但有表證，而無裏證，宜達原飲，有經證者，當用三陽加法，
經證不顯，但發熱者，不用加法，繼而脈洪大而數，自汗而渴，邪離膜原，
未能出表耳，宜白虎湯，辛涼解散邪從汗解，脈靜身涼而愈，愈後二三日後，
或四五日後，依前發熱，亙達原飲，至後反加胸滿腹脹，不思穀食，煩渴，
舌生胎刺等證，加大黃微利之，久而不去，在上者宜瓜蒂散吐之，在中下者，
宜承氣湯導之。</p>
<p>若先裏而後表丈，始則發熱，漸如裏證，下之裏證除，二三日內復發去，
反加頭疼身痛脈浮者，宜白虎湯，若下後熱減不甚，三四日後，精神不慧，脈浮者，
宜白虎湯汗之，服湯復不得汗者，因津液枯竭也，加人參，覆杯則汗解，
此近表裏分傳之證，不在此例。若大下後，大汗後，表裏之證悉去，繼而一身盡痛，
身如被杖，甚則不可轉側，脈遲細者，此汗出太過，陽氣不周，骨寒而痛，非表證也，
此不必治，二三日內，陽氣自回，身痛自愈。</p>
<p>凡疫邪再表再裏，或再表裏分傳者，醫家不解，反責病家不善調理，以致反復，
病家不解，每責醫家用藥有誤，致病復起，彼此歸咎，胥失之矣，
殊不知病勢之所當然，蓋氣性如此，一者不可為二，二者不可為一，
絕非醫家病家之過也，但得病者，尚賴精神完固，雖再三反復，隨復隨治，隨治隨愈。</p>
<p>間有延挨失治，或治之不得其法，日久不除，精神耗竭，嗣後更醫投藥，
但將現在之邪拔去，因而得效，殊不知膜原尚有伏邪在，一二日內，前證復起，
反加循衣摸床，神思昏憒，目中不了了等證，且脈氣漸萎，大凶之兆也，譬如行人，
日間趲行，未晚投宿，何等從容，今則日間遶道，日暮途長，急無及矣，
病家不咎於前醫擔誤日時，反咎於後醫既生之而後殺之，良可歎也，當此之際，
攻之則元氣幾微，是求速死，補之則邪火愈熾，精氣愈爍，守之則正不勝邪，
必無生理，三路俱亡，雖有慮扁之技，亦無所施矣。</p>
<h3>集補諸瘟方治</h3>
<h4>大頭瘟</h4>
<p>大頭瘟者，其濕熱傷高巔，必多汗氣蒸，初憎寒壯熱，體重頭面腫甚，目不能開，
上喘咽喉不利，舌乾口燥，不速治，干死八九，宜普濟消毒散，如大便硬，
加酒蒸大黃一二錢，緩緩服，作丸噙化尤妙，若額面焮赤腫脈數者屬陽明，
本方加石膏，內實加大黃，若發於耳上下前後，并額角傍紅腫者，此少陽也，
本方加柴胡、花粉，便實亦加大黃，若發於頭腦項下，并耳後赤腫，此太陽也，
荊防敗毒散加芩連，甚者砭鍼刺之。</p>
<p>普濟消毒散
川連、黃芩〔酒炒〕、人參、黑參、生甘草、桔梗、連翹、牛蒡子〔炒研〕、升麻、
白芷、馬勃〔各一錢〕、殭蠶〔七分炒〕、藍根〔如無以青黛代之〕、柴胡。右為末，
半用水煎去渣，食後徐服，半用蜜丸，噙化就臥，以令藥性上行也。</p>
<h4>捻頸瘟</h4>
<p>捻頸瘟者，喉痺失音，頸大腹脹，如蝦蟆者是也，宜荊防敗毒散。</p>
<p>荊防敗毒散
羌活、獨活、前胡、柴胡、人參、甘草〔人中黃更妙〕、枳殼、桔梗、茯苓、川芎、
牛蒡子〔炒研〕、薄荷、荊芥、防風，右諸藥各一錢，惟防風加五分，水煎緩服，
加金汁一樣尤效。</p>
<h4>瓜瓤瘟</h4>
<p>瓜瓤瘟者，胸高脅起，嘔血如汁者是也，宜生犀飲。</p>
<p>生犀飲
犀角〔二錢鎊〕、蒼朮〔泔浸麻油炒〕、川連〔各一錢〕、黃土〔五錢〕、細茶葉
〔一大撮〕、金汁〔半盞〕，水煎去渣，入金汁攪和，日三夜二服。
虛加鹽水炒人參，大便結加大黃，渴加括蔞根，表熱去蒼朮、黃土，加桂枝川連，
便膿血去蒼朮，倍黃土，加黃柏，便滑以人中黃代金汁。</p>
<h4>楊梅瘟</h4>
<p>楊梅瘟者，遍身紫塊，忽然發出黴瘡者是也，清熱解毒湯下人中黃丸，并刺塊出血。</p>
<p>人中黃丸
大黃〔三兩尿浸〕、人中黃〔如無坑垢代之〕、蒼朮〔麻油炒〕、桔梗、滑石
〔各二兩〕、人參、川連〔酒洗〕、防風〔五錢〕、香附〔薑汁拌勿炒一兩五錢〕</p>
<p>神麯丸，氣虛四君子湯送，血虛四物湯送，痰甚二陳湯送，熱甚童便送，
通用清熱解毒湯送，二三服。</p>
<p>清熱解毒湯
川連〔酒洗〕、黃芩〔酒洗〕、白芍〔酒洗〕、生地、人參〔各三錢〕、石膏
〔雞子大碎〕、羌活、知母〔各二錢〕、生甘草〔一錢五分〕、升麻、葛根〔各一錢〕、
生薑〔切二錢〕，右水一斗，煮取五升，每服一升，日三夜二服。</p>
<h4>疙瘩瘟</h4>
<p>疙瘩瘟者，發塊如瘤，遍身流走，旦發夕死者是也，急以三稜鍼刺入委中三分出血，
及服人中黃散。</p>
<p>辰砂、雄黃〔要透明者各一錢五分〕、人中黃〔一兩〕，右為末，薄荷桔梗下二錢，
日三夜二服。</p>
<h4>絞腸瘟</h4>
<p>絞腸瘟者，腸嗚乾嘔，腹痛水泄不通者是也，先以鹽湯探吐之，宜雙解散。</p>
<p>雙解散
防風、炒梔仁、連翹、黃芩、薄荷、當歸、川芎、芒硝、大黃、白芍藥、白朮〔炒〕
\石膏、滑石、麻黃、桔梗、荊芥、甘草，蔥薑豉引。</p>
<h4>軟腳瘟</h4>
<p>軟腳瘟者，便清泄白，足腫難移者也，即濕溫之傳染，宜蒼朮白虎湯。
〔即白虎湯加入蒼朮〕</p>
<h4>附採名方及辟瘟諸法</h4>
<p>三妙散，治嵐瘴溪毒中人，昏迷狂躁，或聲啞不能言。
人參、枳殼〔各一錢〕、柴胡、黃芩、半夏〔各錢半〕、甘草〔一錢〕、赤茯苓
〔三錢〕、大黃〔四錢〕，右加生薑五片煎，溫服，此症乃敗血毒涎乘脾也。</p>
<p>黃連犀角湯，治狐惑。
犀角〔三錢磨汁〕、黃連〔二錢〕、烏梅〔四個〕、木香〔三分磨汁〕，水煎，
連梅八分，入犀香二汁，和勻服。</p>
<p>黑膏，治疫毒發斑嘔逆。
生地黃〔二兩六錢〕、好淡豆豉〔二兩六錢〕、豬膏〔十兩〕，合煎，令三分減一，
絞去渣，取濃汁如膏，入明雄黃豆大，麝香末少許，和勻，分三服。</p>
<p>犀角消毒湯，治毒氣發斑痛痒。
牛蒡子〔炒〕、防風〔各二錢〕、荊芥〔一錢〕、甘草〔八分〕、犀角〔磨汁〕，
每服三錢，水煎，入犀角汁服。</p>
<p>消毒丸，治時疫疙瘩惡症。
大黃、牡蠣〔煆〕、殭蠶〔炒各一兩〕，右為末，蜜丸彈子大，新汲水化下一丸。</p>
<p>雄黃丸，治疫不相傳染。
明雄黃〔一兩研〕、赤小豆〔炒熟〕、丹參、鬼箭羽〔各二兩〕，共為細末，</p>
<p>煉蜜丸，如梧子大，每日空心，以溫水下五丸，雖同床共屋，亦不相染。</p>
<p>逐瘟丹，治疫氣流行，一鄉人多發熱，內熱煩燥，嘔渴昏憒等症。
川連〔戊癸年為君倍加〕、黃柏〔丙辛年為君倍加〕、甘草梢〔甲巳年倍加〕、山梔
〔丁壬年倍加〕、黃芩〔乙庚年倍加〕、香附、蘇葉〔俱以等分為則〕、大黃〔三倍〕
，右七味生用，於冬至日為末，將大黃煎滾湯，去粗片，搗藥末為丸，如彈子大，
水飛，丹砂、雄黃為衣，每一丸，取泉水浸化服，急則用煎劑，但須冷服，
一方加藿香、檳榔。</p>
<p>二黃丸，治大頭時疫。
川連〔酒炒〕、黃芩〔酒炒〕、生甘草〔各等分〕，每服五錢，水盞半，煎八分，
梢溫 徐徐呷之。</p>
<p>黃連瀉心湯
川連、生地、知母〔各一錢五分〕、生甘草〔五分〕，水盞半，煎八分溫服。</p>
<p>香蘇散
紫蘇、香附〔醋製各二兩〕、陳皮〔一兩〕、甘草〔五分〕，共為細末，每服三錢，
水煎溫服。</p>
<p>辟穢散
川芎、藿香、藜蘆〔各三錢〕、牡丹皮、玄胡〔各二錢〕、硃砂〔水飛一錢〕、雄黃
〔水飛〕、白芷、牙皂〔各四錢〕，共為極細末，每早晚或看病出房，先噙水口中，
吸些須入兩鼻取嚏，出清涕為佳，再減去皂角，以為小丸，亦可噙嚼，牲畜受瘟者，
以末吹入兩鼻即愈。</p>
<p>一、凡遇天行時氣，須遲出早入，房中常燒蒼朮，鼻孔脣咇塗雄黃末，口中嚼大蒜，
最良。</p>
<p>一、斷疫法，不相傳染，密以艾灸病人床四角各一壯，勿令人知。</p>
<p>一、天行時疫傳染，凡患疫之家，將病人衣服，於甑上蒸過，則一家不染，
若親戚鄉里有患疫，欲去看問，先將麻油抹鼻孔，任進候出，又將紙撚於鼻內，
取噴嚏三五個，則 不染。</p>
<p>一、入病疫家行動，宜從容從客位而入，男子病，穢氣出口鼻，女子病，穢氣出陰門，
相對立時，必先識其血向背。</p>
<p>一、聞鄰里沾疫，宜用貫仲置水缸內浸，用此水造飲食，亦能瘟不染。</p>
<h3>王恆齊先生瘟病論</h3>
<p>南俗好鬼，每病則不藥而推於鬼，於是有青詞黃表之焚，功曹雜晝錢馬之供，
靡費財穀，壇壝廟社，了無虛日，故巫之教張於醫，醫亦率畏鬼而推於巫，
所不知治及不能治者，則皆以為有鬼焉，以至於財益窮，病益深，人命益賤，
甘心駢死，束手莫救，嗚呼，可憐哉，可憐哉，而於瘟病尤甚，今夫春暖秋涼，
冬寒夏暑，天地之正氣也，空瑩朗徹，浮煙不升，不曀不霾，寒熱不極，
正氣之清者也，人居其中，飲食作息，體臟便順，自然無病，及夫愆陽伏陰，
淒風苦雨，凜冽凝閉，炎日灼膚，霜雹霹靂，搏殺迅厲，而病作焉，體單病重，
體強病輕，輕傷其皮肉經脈，而重則中其臟腑，凡四時一切不正之氣，倉卒感觸，
皆由以生病，而何但瘟乎，顧世俗之以為有鬼者，謂實有瘟神以主之也，
於是有鬼大鬼小，鬼長短之形，有紅綠彩藍彩衣之袍異，有執械執兵之雄，
有窗入\戶入、天門入、閾縫入、明入、晦入之據，入我床下，動摸官骸，索我食用，
病者曰寐見，和者曰寤見，病者曰見影，和者曰見形，一倡眾隨，牢不可破，
吾雖能正之，將誰能聽之哉，夫五瘟使者，道家創為是說，不可信也，使其可信，
則有命在天，又豈巫祝之所能禱免耶，春咳嗽者，一方咳嗽，秋瘧痢者，一方瘧痢，
瘧痢有鬼，咳嗽亦有鬼耶，難之者曰，醫書有疫厲之條，庸非鬼歟，曰，疫厲者，
甚其形容，以警其治療也，言病之如有鬼，非鬼之作病也，曹植論疫氣，謂陰陽失位，
寒暑錯時，而愚民以疫為鬼，懸符壓之，亦可笑也，者曰瘟非有鬼，
何以病皆人人相似也，曰，惟人人相似，故知非鬼也，人之於人也，有賢否愛憎，
則鬼之乘人，亦當有賢否愛憎，胡之乎此，而男女長幼之同一病耶，
且之乎此則專乎此，鬼無形無聲，瞬息千里，胡懷與安而不肯去耶，即真有瘟神，
如張居仁所奏史文業、趙公明之流，代天宣化，行瘟佈毒，亦當有喜惡之擇矣，
乃磨刮惡人，而善人亦罹甚網，胡天不庸之獨刻於此一方民耶，至吾俗則又不曰瘟病，
而曰嵐病，土音變遷，嵐讀去聲，則又因訛嵐為爛，謂鬼夕虐害，蔓延流衍，
如物壤爛，故被者特酷，不知嵐山氣也，山本天地之氣，晴霞而山氣清明，
雨露而山氣滋潤，霧障而山氣穢濕，向陽則氣燠，向陰則氣慘，西北高氣燥黃，
東南下則氣霉濡，氣之所蒸，從口鼻而入，人人如一體固者卻之，
故夫暗相漬而乍相病者，皆山氣之不祥者也諺曰，粘親不粘鄰，鄰近而知音，
不敢來問，故不能粘，親則有慶弔休戚之關誼，詎獲辭，撫其床第，執其手，近口鼻，
問病因，而氣巳傳之伏，庸醫不明，或以治療就傳染，亦輒驚怖咎於鬼，
而巫始起而耑其責，迨巫又或就傳染，則計窮無復之伏，仇藥哀巫，卒殞其軀，
屍棋連茵，棺壙相接，雖有孝子愛妻，割辭喪送，事之悖謬，無過於此矣，
夫瘩天時也，嵐地氣也，天時地氣，交薄各攻，故曰時氣，此理甚明，
而世顧率以為鬼物，嗚呼，鬼未嘗尋人，而人乃自誣以誣鬼耶，若其治法，載在醫書，
不更贅。</p>
<h2>瘟疫論補遺</h2>
<h3>正名</h3>
<p>傷寒論曰，發熱而渴，不惡寒者，為溫病，後人省＠加＠為瘟，即溫也，
如病證之證，後人省文作証，嗣後省言加＠為症，又如滯下，古人為下利膿血，
蓋以瀉為下利，後人加＠為痢，要之，古無瘟痢症三字，蓋後人之自為變易耳，
不可因易其文，以溫瘟為兩病，各指受病之原，乃指冬之伏寒，至春至夏，發為溫熱，
又以非時之氣為瘟疫，果爾，又當異證異脈，不然臨治之際，何以知受病之不同也，
設使脈病不同，病原各異，又當另立方論治法，然則脈證治法，又何立哉，枝節愈繁，
而正意愈亂，學者未免有多歧之惑，夫溫者熱之始，熱者溫之終，溫熱首尾一體，
故又為熱病，即溫病也，又名疫者，以其延門合戶，如徭役之役，眾人均等之謂也，
今省文作殳，加＠為疫，又為時疫時氣者，因其感時行戾氣所發也，因其惡厲，
又為之疫厲，終於得汗而解，故燕冀名為汗病，此名又有風溫、濕溫，
即溫病夾外感之兼證，名各不同，究其病則一，然近世稱疫者眾，書以溫疫名者，
弗遺其言也，後以傷寒例，及諸家所議，凡有關於溫疫，其中多有誤者，
恐致惑於來學，悉采以正焉。</p>
<h3>傷寒例正誤</h3>
<p>陰陽大論云，春氣溫和，夏氣暑熱，秋氣清涼，冬氣冷洌，此則四時正氣之序也，
冬時嚴寒，萬類深藏，君子固密，則不傷於寒，觸冒之者，乃名傷寒耳，
其傷於四時之氣，皆能為病，以傷寒為毒者，以其最成殺厲之氣也，中而即病者，
名曰傷寒，不即病者，寒毒藏於肌膚，至春變為溫病，至夏變為暑病，暑病者，
熱極重於溫也。</p>
<p>成註內經曰，先夏至為溫病，後夏至為暑病，溫暑之病，本於傷寒而得之。</p>
<p>按十二經絡，與夫奇經八脈，無非營衛氣血，週布一身，而營養百骸，
是以天真元氣，無往不在，不在則麻木不仁，造化之機，無刻不運，不運則顛倒仆絕，
然風寒暑濕之邪，與吾身之營衛，勢不兩立，一有所中，疾苦作矣，苟或不除，
不危即斃，上文所言，冬時嚴寒所傷，中而即病者為傷寒，不即病者，至春變為溫病，
至夏變為暑病，然風寒所傷，輕則感冒，重則傷寒，即感冒一證，風寒所傷之甚輕者，
尚爾頭疼身痛，四肢拘急，鼻塞聲重，痰嗽喘急，惡寒發熱，當即為病，不能容隱，
今冬時嚴寒所傷，非細事也，反能藏伏過時而發耶，更問何等中而即病，
何等中而不即病，何中等中而即病者，頭痛如破，身痛如杖，惡寒項強，發熱如炙，
或喘或嘔，甚則發痙，六脈疾數，躁煩不寧，至後傳變，不可勝言，倉卒失治，
乃致傷身，何等中而不即病者，感則一毫不覺，既而延至春夏，當其巳中之後，
未發之前，飲食起居如常，神色聲氣纖毫不異，其巳發之證，勢不減於傷寒，
況風寒所傷，未有不由肌表而入，所傷皆營衛，所感均係風寒，一者何其懞懵，
藏而不知，一者何其靈異，感而即發，同源而異流，天壤之隔，豈無說耶，既無其說，
則知溫熱之原，非傷寒所中矣，且言寒毒藏於肌膚之間，肌為表，膚為皮之淺者，
其間一毫一竅，無非營衛經行所攝之地，即感冒些小風寒，尚不能稽留，當即為病，
何況受嚴寒殺厲之氣，且感於皮膚最淺之處，反能容隱者耶，以此推之，必無是事矣，
凡治客邪，大法要在表裏分明，所謂未入於府者，邪在經也，可汗而巳，既入於府者，
邪在裏也，可下而巳，果係寒毒藏於肌膚，雖過時而發，邪氣猶然在表，
治法不無發散，邪從汗解，後世治溫熱病者，若執肌膚在表之邪，一投發散，
是非徒無益，而又害之矣。</p>
<p>凡病先有病因，方有病證，假令傷寒中暑，各以病邪而立名，若言熱證，尚可糢糊，
若以暑病為名，乃是香薷飲之證，彼此其可相混，凡客病感邪之重者則病甚，
其熱亦甚，感邪之輕者則病輕，其熱亦微甚，存乎感邪之輕重也，二三月及八九月，
其時亦有病重，大熱不止，失治而死者，五六月亦有病輕熱微，不藥而愈者，
凡溫病四皆有，但仲夏感者多，春秋次之，冬時九次之，但可以時令分病之多寡，
不可以時令分熱之輕重也。</p>
<p>是以辛苦之人，春夏多溫熱證者，皆因冬時觸寒所致，非時行之氣也，凡時行者，
春時應煖而反大寒，夏時應熱而反大涼，秋時應涼而反大熱，冬時應寒而反大溫，
此非其時有其氣，是以一歲之中，長幼之病，多相似者，此作時行之氣也，
然氣候亦有應至而不至，或有至而太過者，或未應至而至者，皆成病氣也。</p>
<p>春溫夏熱，秋涼冬寒，乃四時之常，因風雨陰晴，稍為損益，假令春應煖而反多寒，
其時必多雨，秋應涼而熱不去者，此際必多晴，夫陰晴旱潦之不測，
寒暑損益安可以為拘，此天地四時之常事，未必為疫，夫疫者，感天地之戾氣也，
戾氣者，非寒非暑，非煖非涼，亦非四時交錯之氣，乃天地別有一種戾氣，多見於兵，
荒之歲，間歲亦有之，但不甚耳，上文所言，長幼之病，多相似者，此則為時行之氣，
雖不言疫，疫之意寓是矣，殊不知四時之氣，雖損益於其間，及其所感之病，
終不離其本源，假令正二月應煖，偶因風雨交集，天氣不能溫熱，而多春寒，
所感之病，輕則為感冒，重則為傷寒，鳱從感冒傷寒法治之，但春寒之氣，
終不若冬時嚴寒殺厲之氣為重，投劑不無有輕重之分，此即應至而不至，
至而不去二事也，又如八九月適多風雨，偶有暴寒之氣先至，所感之病，
大約與春寒彷彿，深秋之寒，終不若冬時殺厲之氣為重，此即未應至而至，
即冬時嚴寒倍常，是為至而太過，所感亦不過即病之傷寒耳，假令夏時多風雨，
炎威少息，為至而不及，時多亢旱，爍石流金，為至而太過，太過則病甚，
不及則病微，至於傷暑一也，其病與四時正氣之序何異耶，治法無出於香薷飲而巳。</p>
<p>其冬時有非節之煖，名曰冬溫。</p>
<p>此即未應至而至也，按冬傷於寒，至春變為溫病，今又以冬時非節之暖為冬溫，
一感於冬寒，一感於冬溫，一病兩名，寒溫懸絕，然則脈證治法，又何似耶，
夫四氣乃二氣之離合也，二氣即一氣之升降也，升極則降，降極則升，升降之極，
為陰陽離，離則氣亢，氣亢則致病，亢氣者，冬之大寒，夏之大暑也，將升不升，
將降不降，為陰陽合，合則氣和，氣和則不致氣，和氣者，即春之溫暖，秋之清涼也，
是以陰極而陽氣來和為溫暖，陽極而陰氣來和為清涼，斯有既濟之道焉，
若夫春寒秋熱，為冬夏之偏氣，倘有觸冒之者，因以為疾，若夏涼冬煖，
轉得春秋之和氣，豈有因其和而反玫疾者，所以但見傷寒中暑，
未嘗見傷溫和而中清涼也，溫暖清涼，未必為病，又烏可以言疫。</p>
<p>從春分以後至秋分節，天有暴寒者，此皆時行寒疫也，三月四月或有暴寒，
其時陽氣尚弱，為寒所折，病熱亦微，其病與溫及暑病相似，但有殊耳。</p>
<p>按四時皆有暴寒，但冬時感嚴寒殺厲之氣，名傷寒，為病最重，其餘三時寒微，
為病亦微，又以三時較之，盛夏偶有些小風寒，所感之病更微矣，此則感寒之重，
病亦重，而熱亦重，感寒之輕，病亦輕，是重於冬，而略於三時，至夏而又略之，
此必然之理也，上文所言三四月陽氣尚弱，為寒所折，病熱亦輕，五六月，
以其其時陽氣巳盛，為寒所折，病熱為重，七八月，其時陽氣巳衰，為寒所折，
病勢亦微，此則反是，夏時感寒為重，冬時感寒為輕，前後矛盾，於理大違，
又春夏秋三時，偶為暴寒所著，與冬時感冒相同，治法無二，但可名感冒，
不當另立寒疫之名，若又以疫為名，殊類畫蛇添足。</p>
<h3>諸家溫疫正誤</h3>
<p>雲岐子，傷寒汗下不愈，過經其病尚在，而不除者，亦為溫疫病也，如太陽證汗下，
過經不愈，診得尺寸俱浮者，太陽溫病也，如身熱目痛不眠，汗下，過經不愈，
診得尺寸俱長者，陽明溫病也，如胸脅脹滿汗下，過經不愈，診得尺寸俱弦者，
少陽溫病也，如腹滿咽乾，診得尺寸俱沉細，過經不愈者，太陰溫病也，
如口燥舌乾而渴，診得尺寸俱沉細，過經不愈者，少陰溫病也，如煩滿囊縮，
診得尺寸俱微緩，過經不愈者厥陰溫病也，是故隨其經而取之，隨其經而治之，
如發斑，乃溫毒也。</p>
<p>按傷寒敘，一日太陽，二日陽明，三日少陽，四日太陰，五日少陰，六日厥陰，
為傳經盡，七日後，傳太陽為過經，雲岐子所言，傷寒過經不愈者，便指為溫病，
竟不知傷寒溫病自是兩途，未有始傷寒，而過經變為溫病者，若果溫病，自內達外，
何有傳經，若能傳經，即是傷寒，而非溫病明矣。</p>
<p>汪云，愚謂溫與熱有輕重之分，故仲景云，若遇溫氣，則為溫病
〔此叔和之言非仲景本論〕，更遇溫熱氣，即為溫毒，熱比溫尤重故也，但冬傷於寒，
至春而發，不感異氣，名曰溫病，此病之稍輕者也，溫病未巳，更遇溫氣，變為溫病，
此病之稍重者也，傷寒例，以再遇溫氣，名曰溫疫，又有不因冬傷於寒，
至春而病溫者，此特感春溫之氣，可名春溫，如冬之傷寒，秋之傷濕，夏之中暑，
相同也。〔按陰陽大論四時正氣之序春溫夏暑秋涼冬寒，
今特感春溫之氣可名春溫若感秋涼之氣可名秋涼病矣春溫可以為溫病，
秋涼獨不可為涼病乎以涼病似覺難言，勉以濕證搪塞既知秋涼病有礙反而思之，
則知春溫病殊為謬妄矣〕。以此觀之，是春之溫病，有三種不同，有冬傷於寒，
至春變為溫病者，有溫病未巳，再遇溫氣而為溫病者，有重感溫氣，相雜而為溫病者，
有不因冬傷於寒，不因更遇溫氣，只於春時感春溫之氣而病者，若此三者，
皆可名為溫病，不必各立名色，只要知其病原之不同也。</p>
<p>凡病各有病因，如傷寒自覺觸冒風寒，如傷食自覺飲食過度，各有所責，至於溫病，
乃伏邪所發，多有安居靜養，別無他故，倏焉而病，詢其所以然之故，無處尋思，
況求感受之際，且自不覺，故立論者，或言冬時非節之暖，或言春之溫氣，
或言傷寒過經不解，或言冬時伏寒，至春夏乃發。
〔按冬傷於寒春必溫病出自素問此漢人所撰晉時王叔和又以述傷寒例蓋順文之誤〕。
或指冬不藏精，春必溫病。〔此亦漢人所撰但言斲喪致病不言因邪致病〕。
又見冬時之溫病，與春夏之溫疫，脈證相同，治法無異，據云，冬時即病為傷寒，
今溫病亦發於冬時，思之至此，不能無疑，乃覺前人所論難憑，務求其所以然之故，
既不可言傷寒，又不可言伏寒，因以冬時非節之暖，牽合而為病原，不思嚴寒酷暑，
因其鋒利，人所易犯，故為病最重，至於溫暖，乃天地中和之氣，萬物得之而發育，
氣血得之而融和，當其肅殺之令，權施善政，未有因其仁政而反蒙其害者，切嘗較之，
冬時未嘗溫煖，亦有溫病，或遇隆冬，暫時溫煖，雖有溫病，感溫之由，亦無確據，
既不過猜疑之說，烏足以為定論，或言感三春當令之溫氣為溫病，夫春時自應溫暖，
責之尤其無謂，或言溫病後，或溫氣而為溫病，正如頭上安頭，或言傷寒汗下，
過經不愈者為溫病，則又指鹿為馬，活人又以夏應暑，而以寒氣折之，
責邪在心為夏溫，秋應涼而大熱折之，責邪在肺為秋溫，轉屬支離，
陶氏又以秋感溫氣而為秋溫，明是雜證，敘溫者絡繹，議論者各別，言愈繁雜，
而本源愈失，使學者反增亡羊之感，與醫道何 補。活人書云，夏月發熱，惡寒頭疼，
身體肢節痛重，其脈洪盛者，熱也，冬傷於寒，因暑氣栭發為熱病，治熱病與傷寒同，
有汗宜桂枝湯，無汗宜麻黃湯，如煩躁宜大青龍湯，然夏月藥性須帶涼，不可太溫，
桂枝、麻黃、大青龍，須用加減，夏至前，桂枝加黃芩，夏至後，桂枝麻黃大青龍、
加知母、石膏，或加升麻，蓋桂枝、麻黃性熱，地暖處非西北之比，夏月服之，
必有發黃出斑之失，熱病三日外，與前湯不瘥，脈勢仍數，邪氣猶在經絡，
未入藏府者，桂枝石膏湯主之，此方夏至後可代桂枝證，若加麻黃，
可代麻黃青龍湯證也，若三日至夏，為晚發傷寒，梔子升麻湯，亦暫用之。
〔王宇泰述萬曆癸卯，李氏一婿應舉南下時方盛暑，傷寒一太學生新讀仲景書，
自謂知醫投以桂枝湯入腹即斃，大抵麻黃桂枝二湯，隆冬正傷寒之藥，
施之於溫病不可況於熱病乎。〕</p>
<p>按活人書，以溫熱病用桂枝麻黃，雖加涼藥，終未免發散之誤，不危幸矣，
豈止三日外，與前湯不瘥，脈勢仍數而巳哉，至此尚然不悟為半裏之證，
且言邪氣猶在經絡，仍用桂枝石膏湯，至死無悔，王宇泰非之甚當，
是以不用麻黃桂枝，賢於活人書遠矣，究竟不識溫熱之源，是以不知用藥耳。</p>
<p>春溫，活人書曰，春應溫而清氣折之，責邪在肝，或身熱頭疼，目眩嘔吐，
長幼率相似，升麻葛根湯、解肌湯、四時通用敗毒散。陶氏曰，交春後至夏至前，
不惡寒而渴者為溫病，用辛涼之藥微解肌，不可大發汗，急證現者，
用寒涼之藥急攻之，不可誤汗誤下，當須識此，表證不與正傷寒同法，裏證治法同。</p>
<p>夏溫，活人書曰，夏應暑而寒氣折之，責邪在心，或身熱頭疼，腹滿自利，
長幼率相似，理中湯、射干湯、半夏桂枝湯。陶氏曰，交夏至有頭疼發熱，
不惡寒而渴，此名溫病，愈加熱者，為熱病，止用辛涼之藥解肌，不宜大汗，
裏證見者，急攻下，表證不與正傷寒同法，裏證治法同。</p>
<p>秋溫，活人書曰，秋應涼而大熱折之，責邪在肺，濕熱相搏，民病咳嗽，金沸草散、
白虎加蒼朮湯，病癉發黃，茵陳五芩散。陶氏曰，交秋至霜降前，有頭疼發熱，
不惡寒，身體痛，小便短者，名濕病，亦用辛涼之藥，加疏利以解肌，亦不宜汗，
裏證見者，宜攻下，表證不與正傷寒同法。</p>
<p>冬溫，活人書曰，冬應寒而反大溫折之，責邪在腎，宜萎蕤湯。丹溪曰，冬溫為病，
非其時有其氣者，冬時嚴寒，君子當閉藏，而反發泄於外，專用補藥，
帶表藥。</p>
<p>按西北高厚之地，風高氣燥，溫證希有，南方卑濕之地，裀遇久雨淋樆，
時有感濕者，天地或時久雨，或時亢旱蓋，非時令所拘，故傷濕之證，隨時有之，
不待交秋而後能也，推節庵之意，以至春為溫病，至夏為熱病，至秋似不可復言溫熱，
然至秋冬又未免溫病，只得勉以濕證抵搪，且濕為雜證，更不可借此混淆，
惟其不知溫病四時皆有，故說到冬時，遂付之不言，王宇泰氏，因見陶氏不言，
乃引丹溪述非其時，有其氣，以補冬溫之缺，然則冬時交錯之氣，又不可以為冬溫也，
俗人但言四時之溫，蓋不知溫之源，故春責清氣，夏責寒氣，秋責熱氣，冬責溫氣，
殊不知清溫寒熱，總非溫病之源，復以四時專令之藏而受傷，不但膠柱鼓瑟，
且又罪及無辜矣。</p>
<h3>附辨舌法</h3>
<p>偶齋云，驗舌之法，再四申明，幾於舌敝唇穿，其如時流之不察何，茲更不憚煩，
而再為之辨證，凡溫疫症，其舌胎先白，儼如傅粉，邪淤到胃，始見黃色，當下失下，
然後見黑，其胎必厚，或生芒刺，或焦或硬，審知熱邪之淺深，津液之枯潤，
對症施治，無不驗，凡病舌上皆有浮薄黃胎，或如腐乳皮，治沉香色，蓋緣有病之人，
飲食少進，氣熏蒸，舌必黃色，終不似瘟疫症，先白後黃，或中黃而傍仍白色，
或中黑而邊有黃胎厚刺，并診其脈，不沉不浮，中按獨數也，若但見舌上黃色薄胎，
便指為疫症，輒用承氣、三消等湯下之，傷人元氣，輕則致重，重則致死，草菅人命，
充塞冥途，予故諄諄奉勸，凡欲業此者，必須先讀仲景、河間、東垣、丹溪諸家，
及王氏之證治準繩，喻氏之醫門法律，用工既久，更得是書，然後知傷寒瘟疫之異，
內傷外感之由，無不得心應手，近時業此道者，並未留心諸家，忽得是書，
亦不察脈辨症但見舌上黃胎，不論是否，輒用三消、承氣等劑下之，投藥不應，
以為按法施治，而病不瘳，反疑是書之有未盡也，徒看是書，不能知是書之旨，
總由平日未得參考諸家之故耳，今春予署中一手藝人，患惡寒發熱，身痛嘔惡，
延醫治之，用枳、朴、山查等剋氣之味，又以導赤、柴胡等劑治之，反劇，又更一醫，
見其舌上黃色，而身仍痛，即用三消飲二劑，病者日夜呻吟痛苦，煩而不寐，
見胸前微有紅點，便指發𤺋，遂欲作𤺋治療，適明者至而診視之，乃感風寒所致，
與九味羌活湯，一劑而外症悉解，惟胸膈痞悶，不思飲食，乃從前外感未解，
誤用下藥及剋氣之劑故也，如有人參，用之即愈，如無人參，靜養數日，元氣復，
則思飲食矣，果三五日之後，即思飲食而愈，又予孫年甫十四，今春因冒風寒，
舌亦黃胎予與參蘇飲，三數劑而愈，其餘不可枚舉，可見凡病皆有黃胎，
若不細為分別，認症不明，殺人如反掌，予故於卷末詳書，以示戒云爾。</p>
<p>瘟疫論終</p>
