<header><h1>女科撮要</h1></header>
<dl class="元資料" data-type="book">
<div><dt>作者</dt><dd>薛立齋</dd></div>
<div><dt>朝代</dt><dd>明</dd></div>
<div><dt>年份</dt><dd><data value="1368/1644">公元1368年至公元1644年</data></dd></div>
</dl>
<h2>前序</h2>
<p>余聞軒岐事業遐哉邈矣，其言說流布至今未盡泯也。然傳者或效或否，豈其書不可盡信耶，是信乎人焉耳。語曰醫不通儒，不可以言醫，其以是歟。太醫院使薛君立齋雅近於儒，其以醫名世也固宜。君嘗以日所施活者，述其病原，詳其脈候，著其方，驗有所得，輒錄之積匯成帙，標曰：《家居醫錄》。他日呈於大司馬中丞約　翁，翁覽而善之，授余以鋟諸梓、且命申其說。余曰：嘻!是仁者之心哉，或曰何謂也?夫醫，朮也，而心術觀焉。世之醫者，得一方輒以自秘，取一效即以自多，人病在身而渠病在心，且弗之藥是尚可以言醫，薛君以名醫致身，不自秘而以示人，將欲致人人於名醫。中丞翁撫綏畿輔，振衰剔弊，既登斯民仁壽之域，復布其醫書，欲壽斯民於無窮，茲非仁者之事哉。是宜梓之，以訓於世，觀者毋徒執其方而求得其心焉，則是錄也，其可傳矣。</p>
<p><u>嘉靖戊申春正月吉劍江存所范慶書</u></p>
<h2>卷上</h2>
<h3>經候不調</h3>
<p>經曰：飲食入胃，游溢精氣，上輸於脾，脾氣散精，上歸於肺，通調水道，下輸膀胱，水經四布，五經並行。故心脾平和，則經候如常。苟或七情，內傷六淫，外侵飲食失節，起居失宜，脾胃虛損，則月經不調矣。若先期而至者，有因脾經血燥，有因脾經鬱滯，有因肝經怒火，有因血分有熱，有因勞役火動；其過期而至者，有因脾經血虛，有因肝經血少，有因氣虛血弱。主治之法，脾經血燥者，加味逍遙散；脾經鬱滯者，歸脾湯；肝經怒火者，加味小柴胡湯；血分有熱者，加味四物湯；勞役火動者，補中益氣湯；脾經血虛者，人參養榮湯；肝經血少者，六味地黃丸；氣虛血弱者，八珍湯。蓋血生於脾土，故云脾統血。凡血病當用苦甘之劑，以助其陽氣而生陰血，俱屬不足。大凡肝脾血燥，四物為主；肝脾血弱，補中益氣為主；肝脾郁結，歸脾湯為主；肝經怒火，加味逍遙為主。</p>
<p><u>治驗</u></p>
<p>（肝經怒火風熱等症附）</p>
<p>一婦人內熱作渴，飲食少思，腹內近左初如雞卵，漸大四寸許，經水三月一至，肢體消瘦，齒頰似瘡，脈洪數而虛，左關尤甚，此肝脾郁結之症，外貼阿魏膏，午前用補中益氣湯，午後以加味歸脾湯。兩月許，肝火少退，脾土少健，仍與前湯送六味地黃丸，午後又用逍遙散送歸脾丸。又月余，日用蘆薈丸二服，空心以逍遙散下，日晡以歸脾湯下，喜其謹疾，調理年余而愈。</p>
<p>一婦人腹內一塊，不時上攻，或痛作聲，吞酸痞悶，月經不調，小便不利，二年余矣。面色青黃相兼，余作肝脾氣滯，以六君子加芎、歸、柴胡、炒連、木香、吳茱各少許二劑，卻與歸脾湯下蘆薈丸。三月余，肝脾和而諸症退，又與調中益氣加茯苓、丹皮，中氣健而經自調一婦人發熱口乾，月經不調，兩腿無力，服祛風滲濕之劑，腿痛體倦，二膝浮腫，經事不通，余作肝脾腎三經血虛火燥症，名鶴膝風，用六味、八味二丸兼服，兩月形體漸健，飲食漸進，膝腫漸消，不半載而痊。前症若脾腎虛寒，腿足軟痛，或足膝枯細，用八味丸。若飲食過多，腿足或臀內酸脹，或浮腫作痛，用補中益氣加茯苓、半夏主之。</p>
<p>一婦人性沉靜，勤於女工，善怒，小腹內結一塊，或作痛，或痞悶，月經不調，恪服伐肝之劑，內熱寒熱，胸膈不利，飲食不甘，形體日瘦，牙齦蝕爛，此脾土不能生肺金，肺金不能生腎水，腎水不能生肝木，當滋化源，用補中益氣、六味地黃，至仲春而愈。</p>
<p>松江太守何恭人，性善怒，腹聚一塊，年余，形體骨立，倏熱往來，　蝕透腮，或泥春旺木克土，仍行伐肝，時季冬，肝脈洪數，按之弦緊，余脈微弱。余曰：洪數弦緊，肝經真氣虛而邪氣實也，自保不及，何能克土?況面色青中隱白，乃腎水不足，肝木虧損，肺金剋制，惟慮至春木不能發生耳。勉用壯脾胃滋腎水之劑，肝脈悉退。後大怒，耳內出血，肝脈仍大，按之如無，煩躁作渴，此無根之火，以前藥加肉桂二劑，肝脈仍斂，熱渴頓退。復因大怒，以致飲食不進，果卒於季冬辛巳日。此木衰弱而金刑克，信夫。</p>
<p>一婦人經候過期，發熱倦怠，或用四物、黃連之類，反兩月一度，且少而成塊，又用峻藥通之，兩目如帛所蔽。余曰：脾為諸陰之首，目為血脈之宗，此脾傷五臟，皆為失所，不能歸於目矣。遂用補中益氣、濟生歸脾二湯，專主脾胃，年余尋愈。</p>
<p>一婦人兩眉棱痛，後及太陽，面青喜怒，余作膽經風熱，用選奇湯合逍遙散，加山梔、天麻、黃　、半夏、黃芩而愈。此症失治，多致傷目，或兩耳出膿，則危矣。</p>
<p>一婦人耳鳴內熱，經行不調，肢體倦怠，飲食無味，余以為肝脾虛熱，用四君加柴胡、山梔一婦人素勤苦，冬初患咳嗽發熱，久而吐血盜汗，經水兩三月一至，遍身作痛，或用化痰降火，口噤筋攣，謂余曰：何也?余曰：此血虛而藥益損耳。遂用加減八味丸及補中益氣加麥門、五味、山藥治之，年余而痊。</p>
<p>一婦人耳內或耳後項側作痛，寒熱口苦，月經不調，余以為肝火氣滯而血凝，用小柴胡加山梔、川芎、丹皮治之，諸症悉退。</p>
<p>一婦人年四十，素性急，先因飲食難化，月經不調，服理氣化痰藥，反肚腹膨脹，大便泄瀉；又加烏藥、蓬朮，肚腹腫脹，小便不利；加豬苓、澤瀉，痰喘氣急，手足厥冷，頭面肢體腫脹，指按成窟，脈沉細，右寸為甚。余曰：此脾肺之氣虛寒，不能通調水道，下輸膀胱，滲泄之令不行，生化之氣不運。即東垣所云：水飲留積，若土之在雨中，則為泥矣，得和風暖日，水濕去而陽化自然，萬物生長。喜其脈相應，遂與金匱加減腎氣丸料服之，小便即通，數劑腫脹消半，四肢漸溫，自能轉側，又與六君加木香、肉桂、炮薑，治之痊愈。後不戒七情飲食，即為泄瀉，仍用前藥，加附子五分而安。</p>
<p>一婦人飲食每用碗許，稍加非大便不實，必吞酸噯腐，或以為胃火，用二陳、黃連、枳實，加內熱作嘔。余曰：此未傳寒中，故噯氣吞酸，脹滿痞悶。不信，仍作火治虛症，並至月經不止，始信。余以六君加炮薑、木香數劑，元氣漸復，飲食漸進。又以補中益氣加炮薑、木香、茯苓、半夏，數劑痊愈。後因飲食勞倦，兼之怒氣，飲食頓少，元氣頓怯，用前藥更加發熱，誠似實火，脈洪大，按之而虛，兩尺如無，此命門火衰，用補中益氣加薑、桂及八味丸，兼服兩月余，諸症悉愈。此症若因中氣虛弱者，用人參理中湯或六君子加木香、炮薑，不應，用左金丸，或越鞠丸，虛寒者，加附子，或附子理中湯，無有不愈。</p>
<p>一婦人素有頭暈，不時而作，月經遲而少，余以為中氣虛，不能上升而頭暈，不能下化而經少，用補中益氣湯而愈。後因勞而仆，月經如涌，此勞傷火動，用前東加五味子一劑，服之即愈。前症雖云亡血過多，氣無所附，實因脾氣虧損耳。</p>
<p>一婦人年四十，勞則足跟熱痛，余以為陰血虛極，急用聖愈湯而痊。後遍身搔癢，誤服風藥，發熱抽搐，肝脈洪數，此乃肝家血虛火盛而生風，以天竺、膽星為丸，用四物、麥門、五味、芩、連、炙草、山梔、柴胡，煎送而愈。</p>
<p>一婦人兩足發熱，日晡益甚，小便自遺，或時不利，余以為肝熱陰挺，不能約制，午前用白朮、茯苓、丹皮、澤瀉各五分，干山藥、山茱、麥門各一錢，熟地四錢，酒炒黑黃柏七分，知母五分，不數劑而諸症悉愈。若用分利之劑，愈損真陰，必致不起。</p>
<p>一婦人月事未期而至，發熱自汗，服清熱止汗之劑，反作渴頭痛，手掉身麻，此因肝經風熱，用柴胡、炒芩連、炒山梔、歸、芍、生地、丹皮各一錢，參、　、苓、朮各一錢五分，川芎七分，甘草五分，二劑其汗全止，更以補中益氣而愈。凡發熱久者，陽氣亦自病，須調補之。</p>
<p>一婦人經行後，勞役失調，忽然昏憒，面赤吐痰，此元氣虛火妄動，急飲童便，神思漸爽，更用參、　各五錢，芎、歸各三錢，玄參、柴胡、山梔、炙草各一錢一劑，又用逍遙散加五味、麥門稍定。但體倦面黃，此脾土真虛之色也，又以十全大補加五味、麥門，治之而愈。</p>
<p>若投以發散之劑，禍在反掌，慎之。</p>
<p>西賓錢思習子室年三十，尚無嗣，月經淋瀝無期，夫婦異處者幾年矣，思習欲為娶外家，以謀諸余。余曰：此鬱怒傷肝，脾虛火動，而血不歸經，乃肝不能藏，脾不能攝也，當清肝火，補脾氣。遂與加味歸脾、逍遙二藥四劑，送至其家，仍告其姑曰：服此病自愈，而當受胎，外家可無娶也。果病愈，次年生子。</p>
<p>一婦人多怒，經行或數日，或半月即止，三年後淋瀝無期，肌體倦瘦，口乾內熱，盜汗如洗，日晡熱甚，余用參、　、歸、朮、茯神、遠志、棗仁、麥門、五味、丹皮、龍眼肉、炙草、柴胡、升麻，治之獲痊。此症先因怒動肝火，血熱妄行，後乃脾氣下陷，不能攝血歸源，故用前藥。若胃熱亡津液，而經不行，宜清胃。若心火亢甚者，宜清心。若服燥藥過多者，宜養血。若病久氣血衰，宜健脾胃。</p>
<p>一婦人年五十，內熱晡熱，經水兩三月一來，此血虛而有熱。用逍遙散加山茱治之而愈。若兼有痰作渴，或小便不調，或頭暈白帶，宜用腎氣丸。</p>
<p>一婦人氣血素虛，經行不調，飲食少思，日晡熱甚，用十全大補加山茱、山藥、丹皮、麥門、五味而愈。次年秋患寒熱，或用清脾飲，而元氣愈弱，余仍以前藥而愈。</p>
<p>一婦人生七胎矣，月經不調，兩足發熱，年余而身亦熱，勞則足酸痛。又年許，唇腫裂痛。</p>
<p>又半年，唇裂見血，形體瘦倦，飲食無味，月水不通，唇下腫如黑棗。或用通經丸等藥而死。</p>
<p>一婦人善怒，經不調，唇腫裂，服消毒藥，唇脹出血，年余矣。余曰：當培養脾胃，以滋化源。不信，仍服前藥及追蝕，狀如翻花瘤而死。</p>
<p>一膏粱之婦，產後月經不調，唇裂內熱，每　作，服寒涼之劑。後不時出水，余用加味清胃散而愈。後值春令，兼怒，唇口腫脹，寒熱作嘔，痰甚少食，用小柴胡加山梔、茯苓、桔梗，諸症頓愈，但內熱仍作，乃以加味逍遙散，調理而安。</p>
<p>一婦人性善怒，產後唇腫內熱，用清熱敗毒，唇口腫脹，日晡熱甚，月水不調；用降火化痰，食少作嘔，大便不實，唇出血水；用理氣消導，胸膈痞滿，頭目不清，唇腫經閉；用清胃行血，肢體倦怠，發熱煩躁，涎水涌出，欲用通經之劑。余曰：病本七情，肝脾虧損，數行攻伐，元氣益虛故耳，法當補陰益陽。遂以加味歸脾湯、加味逍遙散、補中益氣湯，如法調治，元氣漸復，唇瘡亦愈。後因怒，寒熱耳痛，胸膈脹悶，唇　腫甚，此是怒動肝火而血傷，遂用四物合小柴胡加山梔頓愈。後又怒，脅乳作脹，肚腹作痛，嘔吐酸涎，飲食不入，小水不利，此是怒動肝木克脾土，乃用補脾氣、養脾血而愈。又因勞役怒氣，飲食失時，發熱喘渴，體倦不食，去血如崩，唇腫熾甚，此是肝經有火，脾經氣虛，遂用補中益氣加炒黑山梔、芍藥、丹皮而愈。此症每見，但治其瘡，不固其本，而死者多矣。</p>
<h3>經漏不止</h3>
<p>經云：陰虛陽搏，謂之崩。又云：陽絡傷血外溢，陰絡傷血內溢。又云：脾統血，肝藏血。</p>
<p>其為患因脾胃虛損，不能攝血歸源；或因肝經有火，血得熱而下行；或因肝經有風，血得風而妄行；或因怒動肝火，血熱而沸騰；或因脾經郁結，血傷而不歸經；或因悲哀太過，胞絡傷而下崩。治療之法，脾胃虛弱者，六君子東加當歸、川芎、柴胡；脾胃虛陷者，補中益氣東加酒炒芍藥、山梔；肝經血熱者，四物東加柴胡、山梔、苓、朮；肝經怒火者，小柴胡湯加山梔、芍藥、丹皮；脾經鬱火者，歸脾東加山梔、柴胡、丹皮；哀傷胞絡者，四君子東加柴胡、升麻、山梔。故東垣、丹溪諸先生云：凡下血症，須用四君子以收功。斯言厥有旨哉。若大吐血後，毋以脈診，當急用獨參湯救之。其發熱潮熱，咳嗽脈數，乃是元氣虛弱，假熱之脈也，尤當用人參之類。此等症候，無不由脾胃先損而患，故脈洪大，察其中有胃氣受補可救。設用寒涼之藥，復傷脾胃生氣，使血反不歸源也。</p>
<p><u>治驗</u></p>
<p>（吐血等症附）</p>
<p>一婦人年將七十，素有肝脾之症，每作則飲食不進，或胸膈不利，或中脘作痛，或大便作瀉，或小便不利，余用逍遙散加山梔、茯神、遠志、木香而愈。後憂女孀居，不時吐紫血，每作先倦怠煩熱，以前藥加炒黑黃連三分，吳茱二分，頓愈。後因怒，吐赤血甚多，躁渴垂死，此血脫也，法當補氣，乃用人參一兩，苓、朮、當歸各三錢，陳皮、炮黑乾薑各二錢，炙草、木香各一錢，一劑頓止。信藥有回生之功，不可委於天命也。</p>
<p>一婦人年六十有四，久鬱怒，頭痛寒熱，春間乳內時痛，服流氣飲之類益甚，不時有血如經行。又大驚恐，飲食不進，夜寐不寧，乳腫及兩脅　痛如炙，午後色赤，余以為肝脾鬱火血燥，先以逍遙散加酒炒黑龍膽一錢、山梔一錢五分，二劑腫痛頓退，又二劑而全消。再用歸脾加炒梔、貝母，諸症悉愈。</p>
<p>一婦人久患血崩，肢體消瘦，飲食到口但聞腥臊，口出津液，強食少許，腹中作脹，此血枯之症，肺肝脾胃虧損之患，用八珍湯、烏賊魚骨圓，兼服兩月而經行，百余劑而康寧如舊矣。</p>
<p>一婦人性躁急，瘰　後吐血發熱，兩脅脹痛，日晡為甚，余以為怒氣傷肝，氣血俱虛，遂朝用逍遙散倍加炒黑山梔、黃柏、貝母、桔梗、麥門、五味，夕以歸脾湯送地黃丸，諸症並愈。</p>
<p>一婦人素勤苦，因喪子飲食少思，忽吐血甚多而自止，此後每勞則吐數口，瘵症已具，形體甚倦，午前以補中益氣，午後以歸脾湯送地黃丸而愈。</p>
<p>一女子素郁結，胸滿食少，吐血面赤，用地黃丸及歸脾加山梔、貝母、芍藥而愈。</p>
<p>一婦人面黃或赤，時覺腰間或臍下作痛，四肢困倦，煩熱不安，其經若行，先發寒熱，兩肋如束，其血如崩，此脾胃虧損，元氣下陷，與相火濕熱所致，用補中益氣加防風、芍藥、炒黑黃柏，間以歸脾湯，調補化源，血自歸經矣。</p>
<p>一婦人因怒崩血，久不已，面青黃而或赤，此肝木制脾土，而血虛也，用小柴胡合四物，以清肝火生肝血，又用歸脾、補中二湯，以益脾氣生肝血而瘥。此症若因肝經有風熱，而血不寧者，用防風一味為丸，以兼症之藥煎送；或肝經火動而血不寧者，用條芩炒為丸，以兼症之藥煎送，無有不效。</p>
<p>一婦人性急，每怒非太陽、耳、項、喉、齒、胸、乳作痛，則胸滿吞酸，吐瀉少食，經行不止。此皆肝火之症，肝自病則外症見，土受克則內症作。若自病見，用四物加白朮、茯苓、柴胡、炒梔、炒龍膽；若內症作，用四君加柴胡、芍藥、神麯、吳茱、炒過黃連，諸症漸愈。惟月經不止，是血分有熱，脾氣尚虛，以逍遙散倍用白朮、茯苓、陳皮，又以補中益氣加酒炒芍藥，兼服而調。</p>
<p>乾內錢氏，年五十歲，辛丑患崩，諸藥罔效，壬寅八月，身熱肢痛，頭暈涕出，吐痰少食，眾作火治，轉熾絕粒，數日淹淹伏枕，僅存呼吸。兄方浙歸診之，謂脾胃虛寒，用八味丸料一劑，使急煎服，然胃虛久，始下咽，翌早遂索粥數匙。再劑，食倍熱減痛止，兼服八味丸良愈。癸卯秋，因勞役憂怒，甲辰春夏崩復作，六月二十日，胸飽發熱，脊痛，腰不可轉，神氣怫鬱，或作內傷，或作中暑，崩水沸騰，兼以便血，煩渴引飲，粒米不進，至七月十三日，晝夜暈憒，時作時止，計無所出。仍屈兄診之，脈洪無倫，按之微弱，此無根之火，內真寒而外假熱也。以十全大補加附子一劑，暈止，食粥三四匙，崩血漸減，日服八味丸，始得痊愈。乾山妻兩構危疾，命懸須臾，荷兄遠救誠解倒懸之急，處方神良，知無出此，野人懷恩，姑俟後日玉環之報云爾。嘉靖甲辰季秋表弟方乾頓首拜書。</p>
<p>大化內患月事不期，崩血昏憒，發熱不寐，或謂血熱妄行投以寒劑益甚，或謂胎成受傷投以止血亦不效，乃敬延先生診之。曰：此脾氣虛弱，無以統攝故耳，法當補脾，而血自止矣。</p>
<p>用補中益氣加炮薑，不數劑而驗。惟終夜少睡驚悸，另服八物湯，更不效，叩諸先生，曰雜矣，乃與歸脾東加炮薑以補心脾，遂如初。謹敘其梗概以附醫案，俾後之患者，得有所取法云。嘉靖甲辰孟冬晚生歸大化頓首拜書。</p>
<h3>經閉不行</h3>
<p>夫經水陰血也，屬衝任二脈主，上為乳汁，下為月水，其為患有因脾虛而不能生血者；有因脾郁傷而血耗損者；有因胃火而血消爍者；有因脾胃損而血少者；有因勞傷心而血少者；有因怒傷肝而血少者；有因腎水不能生肝而血少者；有因肺氣虛不能行血而閉者。治療之法，若脾虛而不行者，調而補之；脾鬱而不行者，解而補之；胃火而不行者，清而補之；脾胃損而不行者，調而補之；勞傷心血而不行者，靜而補之；怒傷肝而不行者，和而補之；肺氣虛而不行者，補脾胃；腎虛而不行者，補脾肺。經云：損其肺者益其氣，損其心者調其榮衛，損其脾者調其飲食，適其寒溫，損其肝者緩其中，損其腎者益其精。審而治之，庶無誤矣。</p>
<p><u>治驗</u></p>
<p>一婦人停食，飽悶發熱，或用人參養胃湯益甚，再用木香檳榔丸，泄瀉吐痰，腹中成塊，飲食少思，又用二陳、黃連、厚朴之類，前症益甚，腹脹不食，月經不至。余以為中氣虧損，用補中益氣加茯苓、半夏，三十余劑，脾胃健而諸症愈，又二十余劑，而經自行。前症若脾虛不能消化飲食者，宜用六君子湯，補而消之；虛寒者，加砂仁、木香、炮薑，溫而補之；其食積成形者，以前藥煎送保和丸。大抵食積痞塊，症為有形，所謂邪氣勝則實，真氣奪則虛，惟當養正辟邪，而積自除矣。雖然堅者削之，客者除之，胃氣未虛，或可少用，若病久虛乏者，則不宜用。</p>
<p>一婦人飲食後，或腹脹，或吞酸，服枳朮丸，吞酸益甚，飲食日少，胸膈痞滿，腿內酸痛，畏見風寒，又服養胃湯一劑，腿內作痛，又二劑，腿浮腫，月經不行，余以為郁結所傷，脾虛濕熱下注，侵晨用四君、芎、歸、二陳，午後以前湯送越鞠丸，飲食漸進，諸症漸愈。又用歸脾、八珍二湯，兼服兩月余而經行。</p>
<p>一婦人性沉多慮，月經不行，胸滿少食，或作脹，或吞酸，余以為中氣虛寒，用補中益氣加砂仁、香附、煨薑二劑，胸膈和而飲食進，更以六君加芎、歸、貝母、桔梗、生薑、大棗數劑，脾胃健而經自調矣。</p>
<p>一婦人素有胃火，服清胃散而安。後因勞役，躁渴內熱，肌肉消瘦，月經不行，此胃火消爍陰血，用逍遙散加丹皮、炒梔，以清胃熱；用八珍東加茯苓、遠志，以養脾血，而經自行矣。</p>
<p>一婦人久患瘧，形體怯弱，內熱晡熱，自汗盜汗，飲食少思，月事不行，服通經丸，虛症悉具，此因虛而致瘧疾，因瘧而致經閉，用補中益氣及六味地黃丸，各百余劑，瘧愈經自行。</p>
<p>一婦人久患瘧，瘧作則經不行，形虛脈大，頭痛懶食，大便泄瀉，小便淋漓，口乾唇裂，內熱腹膨，皆元氣下陷，相火合病，用補中益氣湯治之尋愈。惟不時頭痛，乃加蔓荊子而痛止，又兼用六味地黃丸而經行。</p>
<p>一婦人因勞，耳鳴頭痛體倦，此元氣不足，用補中益氣加麥門、五味而痊。三年後得子，因飲食勞倦，前症益甚，月經不行，晡熱內熱，自汗盜汗，用六味地黃丸、補中益氣湯頓愈。</p>
<p>前症若因血虛有火，用四物加山梔、柴胡；不應，八珍加前藥。若氣虛弱，用四君子。若怒耳便聾或鳴者，實也，小柴胡加芎、歸、山梔；虛用補中益氣加山梔。若午前甚作火治，用小柴胡加炒連、炒梔，氣虛用補中益氣。午後甚作血虛，用四物加白朮、茯苓。若陰虛火動，或兼痰甚作渴，必用地黃丸以壯水之主。經云：頭痛耳鳴，九竅不利，腸胃之所生也，脾胃一虛，耳目九竅皆為之病。</p>
<p>一婦人胃氣素弱，為哭母吐血咳嗽，發熱盜汗，經水三月不行，余以為悲則傷肺，思則傷脾，遂朝服補中益氣加桔梗、貝母、知母，夕用歸脾湯送地黃丸而愈。</p>
<h3>帶下</h3>
<p>或因六淫七情，或因醉飽房勞，或因膏粱濃味，或服燥劑所致，脾胃虧損，陽氣下陷；或濕痰下注，蘊積而成，故言帶也。凡此皆當壯脾胃、升陽氣為主，佐以各經見症之藥。若屬肝則青，小柴胡加山梔；或濕熱壅滯，小便赤澀，龍膽瀉肝湯；屬心則赤，小柴胡加黃連、山梔、當歸；屬肺則白，補中益氣加山梔；屬脾則黃，六君子加山梔、柴胡，不應，歸脾湯；屬腎則黑，六味地黃丸；若氣血俱虛，八珍湯；陽氣下陷，補中益氣湯；濕痰下注，前東加茯苓、半夏、蒼朮、黃柏；氣虛痰飲下注，四七湯送腎氣丸。</p>
<p><u>治驗</u></p>
<p>一婦人年逾六十，內熱口乾，勞則頭暈，吐痰帶下，或用化痰行氣，前症益甚，飲食愈少，肢體或麻，恪服祛風化痰，肢體常麻，手足或冷或熱，日漸消瘦。余曰：症屬脾氣虛弱而不能生肺，祛風之劑，復損諸經也，當滋化源。遂用補中益氣加茯苓、半夏、炮薑，二十余劑，脾氣漸復，飲食漸加，諸症頓愈。</p>
<p>一孀婦腹脹脅痛，內熱晡熱，月經不調，肢體酸麻，不時吐痰，或用清氣化痰，喉間不利，帶下青黃，腹脅膨脹；用行氣之劑，胸膈不利，肢體時麻，此鬱怒傷損肝脾，前藥益甚也。</p>
<p>朝用歸脾湯以解脾郁生脾氣，夕用加味逍遙散以生肝血清肝火，兼服百余劑，而諸症愈。</p>
<p>一婦人瘧久，兼之帶下，發後口乾倦甚。余用七味白朮散加麥門、五味，作大劑，煎與恣飲，再發稍可，乃用補中益氣加茯苓、半夏，十余劑而愈。凡截瘧，余常以參、朮各一兩，生薑四兩，煨熟煎服即止，或以大劑補中益氣加煨薑，其功尤捷。</p>
<p>一婦人頭暈唾痰，胸滿氣喘，得食稍緩，苦於白帶，二十余年矣，諸藥不應。余曰：此氣虛而痰飲也，飲愈而帶始愈，遂用六味地黃丸，不月而驗。</p>
<p>一婦人耳鳴胸痞，內熱口乾，咳中若有一核，吞吐不利，月經不調，兼之帶下，余以為肝脾郁結，用歸脾東加半夏、山梔、升麻、柴胡，間以四七湯下白丸子而愈。</p>
<p>一婦人吞酸胸滿，食少便泄，月經不調，服法制清氣化痰丸，兩膝漸腫，寒熱往來，帶下黃白，面黃體倦。余以為脾胃虛，濕熱下注，用補中益氣，倍用參、朮加茯苓、半夏、炮薑而愈。若因怒，發熱少食，或兩腿赤腫，或指縫常濕，用六君加柴胡、升麻及補中益氣。</p>
<p>一婦人帶下，四肢無力，勞則倦怠。余曰：四肢者土也，此屬脾胃虛弱，濕痰下注。遂以補中益氣、濟生歸脾二藥，治之而愈。</p>
<p>一婦人年逾六十，帶下黃白，因怒胸膈不利，飲食少思，服消導利氣之藥，反痰喘胸滿，大便下血。余曰：此脾氣虧損，不能攝血歸源也。用補中益氣加茯苓、半夏、炮薑，四劑，諸症頓愈，又用八珍加柴胡、炒梔而安。</p>
<h3>血分水分</h3>
<p>二症或因飲食起居失養，或因六淫七情失宜，以致脾胃虧損，不能生發統攝，氣血乖違，行失常道。若先因經水斷絕，後至四肢浮腫，小便不通，血化為水，名曰血分，宜用椒仁丸治之。若先小便不利，後至身面浮腫，經水不通，水化為血，名曰水分，宜用葶藶丸治之。此屬形氣不足，邪淫隧道，必用此藥以宣導其邪，而佐以輔補元氣，庶使藥力有所仗而行，則邪自不能容，而真氣亦不至於復傷矣。</p>
<p><u>治驗</u></p>
<p>一婦人月經不調，晡熱內熱，飲食少思，肌體消瘦，小便頻數，服濟陰丸，月經不行，四肢浮腫，小便不通。余曰：此血分也。朝用椒仁丸，夕用歸脾湯漸愈，乃以人參丸代椒仁丸，兩月余將愈。專用歸脾湯，五十余劑而痊。</p>
<p>一　婦月經不調，小便短少，或用清熱分利之劑，小便不利，三月余身面浮腫，月經不通。</p>
<p>余曰：此水分也。遂朝用葶藶丸，夕用歸脾湯漸愈，乃用人參丸間服而愈。已上二症，作脾虛水氣，用分利等藥而歿者多矣。惜哉!</p>
<h3>小便出血</h3>
<p>婦人小便尿血，或因膏粱炙　，或因醉飽入房，或因飲食勞役，或因六淫七情，以致元氣虧損，不能統攝歸源。若因怒動肝火者，用加味逍遙散調送發灰。肝經風熱者，送子芩丸。久而血虛者，用八珍送發灰。若膏粱積熱者，用清胃散加槐花、甘草。房勞所傷者，用六君加柴胡、升麻。風熱所傷者，用四君加防風、枳殼。凡久而虧損元氣者，用補中益氣為主。郁結傷脾者，用濟生歸脾為主。</p>
<p><u>治驗</u></p>
<p>一婦人尿血，因怒氣寒熱，或頭痛，或脅脹，用加味逍遙，諸症稍愈，惟頭痛，此陽氣虛，用補中益氣加蔓荊子而痊。後鬱怒，小腹內　痛，次日尿血熱甚，仍用前散加龍膽草並歸脾湯，將愈，因飲食所傷，血仍作，徹夜不寐，心忡不寧，此脾血尚虛，用前湯而痊。</p>
<p>一婦人尿血，久用寒涼止血藥，面色痿黃，肢體倦怠，飲食不甘，晡熱作渴三年矣，此前藥復傷脾胃，元氣下陷而不能攝血也。蓋病久郁結傷脾，用補中益氣以補元氣，用歸脾湯以解脾郁，使血歸經。更用加味逍遙以調養肝血，不月諸症漸愈，三月而痊。</p>
<h3>熱入血室</h3>
<p>婦人傷寒，或勞役，或怒氣發熱，適遇經行，以致熱入血室；或血不行，或血不止，令人晝則明了安靜，夜則譫語如見鬼狀，用小柴胡加生地黃；血虛者，用四物加生地、柴胡。切不可犯胃氣。若病既愈而血未止，或熱未已，元氣素弱，用補中益氣。脾氣素郁，用濟生歸脾。血氣素弱，用十全大補，庶無誤矣。</p>
<p><u>治驗</u></p>
<p>一婦人經行，感冒風寒，日間安靜，至夜譫語，用小柴胡加生地，治之頓安。但內熱頭暈，用補中益氣加蔓荊子而愈。後因怒惱，寒熱譫語，胸脅脹痛，小便頻數，月經先期，此是肝火血熱妄行，用加味逍遙加生地而愈。</p>
<p>一婦人因怒，寒熱頭痛，譫言妄語，日晡至夜益甚，而經暴至。蓋肝藏血，此怒動火，而血妄行。用加味逍遙散加生地，治之神思頓清，但食少體倦，月經未已，蓋脾統血，此脾氣虛不能攝，用補中益氣治之，月經漸止。</p>
<p>一婦人懷抱素郁，感冒經行譫語，服發散之劑，不應，用寒涼降火，前症益甚，更加月經不止，肚腹作痛，嘔吐不食，痰涎自出，此脾胃虛寒，用香砂六君，脾胃漸健，諸症漸退，又用歸脾湯而痊愈。</p>
<h3>師尼寡婦寒熱</h3>
<p>宋褚氏療師尼寡婦，別制方藥，謂獨陰無陽，致血氣交爭，乍寒乍熱如瘧，或腰背作痛而寒熱，其肝脈弦出寸口，是其症也。若室女出嫁，愆期而寒熱亦然。蓋男子精盛，則思室，女子血盛以懷胎，此天地自然之理也，治以小柴胡加生地；久而血虛，佐以四物；若兼怒動肝火而寒熱者，佐以加味逍遙散；若兼虧損肝經而寒熱者，佐以八珍湯；若兼虧損元氣而寒熱者，佐以補中益氣湯；若兼郁傷脾氣而寒熱者，佐以濟生歸脾湯。此症多兼經候不調，當詳孰為緩急而治之。</p>
<p><u>治驗</u></p>
<p>一寡婦因怒，致不時寒熱，久而不已，肝脈弦緊，用小柴胡加生地，治之而愈。但見風寒熱仍作，此是脾胃氣虛，用加味歸脾、補中益氣二湯，兼服而止。</p>
<p>一婦人因夫經商久不歸，發寒熱，月經旬日方止。服降火涼血，反潮熱內熱，自汗盜汗，月經頻數。余曰：熱汗，氣血虛也；經頻，肝脾虛也。用歸脾湯、六味丸而愈，常治兼症既愈一室女寒熱，左手脈弦長而出寸口，用小柴胡加生地、烏梅，治之而愈，既嫁而諸症悉痊。</p>
<p>一室女久患寒熱，月經不調，先以小柴胡加生地，治之少愈，更以生地黃丸而痊。</p>
<p>一放出宮女，年逾三十，兩胯作痛，肉色不變，大小便中作痛如淋，登廁尤痛，此瘀血漬入隧道為患，乃男女失合之症也，難治。後潰不斂，又患瘰　而歿。此婦為吾鄉湯氏外家，湯為商常在外，可見此婦在內久懷憂郁，及出外又不能如愿，是以致生此疾。愈見瘰　流注，乃七情氣血損傷，不可用攻伐皎然矣。按《精血篇》云：女人天癸既至，逾十年無男子合，則不調。未逾十年，思男子合，亦不調。不調則舊血不出，新血誤行，或漬而入骨，或變而為腫，或雖合而難子，合多則瀝枯虛人，產乳眾則血枯殺人。觀其精血，思過半矣。</p>
<p>一室女年十七，　久不愈，天癸未通，發熱咳嗽，飲食少思，或欲用通經丸。余曰：此症潮熱經候不調者，不治，所喜脈不澀，且不潮熱，尚可治。但養氣血，益津液，其經自行。惑於速效，仍用之。余曰：非其治也，此乃　悍之劑，大助陽火，陰血得之則妄行，脾胃得之則愈虛。經果通而不止，飲食愈少，更加潮熱，遂致不救。</p>
<h3>歷節痛風</h3>
<p>（即白虎歷節風）</p>
<p>歷節痛，或因飲食起居失節，或因七情六淫失宜，以致脾胃虧損，腠理不密，外邪所侵；或為肝火內動，肝血耗損；或為肢體疼痛；或為肢節難伸；或為卒然制痛；或為走痛無常；或內熱晡熱，自汗盜汗；或經候不調，飲食不甘。其治法，屬風邪者，小續命湯。走注疼痛者，漏蘆散。骨節疼痛者，四生丸。濕熱痛者，清燥湯，兼痰佐以二陳。肝火者，加味逍遙散加羌活、川芎。脾郁者，加味歸脾加羌活、川芎。血虛者，四物加羌活、川芎。氣虛者，四君加羌活、川芎。氣血俱虛者，八珍加羌活、川芎。月經先期而痛者，加味逍遙散為主。月經過期而痛者，補中益氣為主。大抵痛而不敢按者，屬病氣元氣俱實也；手按而痛緩者，病氣元氣俱虛也。若勞役而作痛者，元氣虛也；飲食失宜而作痛者，脾胃虛也；怒惱而作痛者，肝火也；經行而作痛，血虛也。凡此皆固元氣為主，而佐以治病之藥。</p>
<p><u>治驗</u></p>
<p>一婦人自汗盜汗，發熱晡熱，體倦少食，月經不調，吐痰甚多，二年矣。遍身作痛，天陰風雨益甚。用小續命湯而痛止，用補中益氣、加味歸脾二湯，三十余劑而愈。自汗等症，皆郁結傷損脾氣，不能輸養諸臟所致。故用前二湯，專主脾胃。若用寒涼降火，理氣化痰，復傷生氣，多致不起。</p>
<p>一婦人因怒，月經去多，發熱作渴，左目緊小，頭項動掉，四肢抽搐，遍身疼痛，此怒動肝火，肝血虛而內生風，用加味逍遙加鉤藤數劑，諸症漸愈，又用八珍湯，調理而痊。</p>
<p>一婦人月經先期，素有痛症，每勞必作，用眾手重按，痛稍止，此氣血虛而有火，用十全大補加獨活治之而痛痊，用六味丸、逍遙散而經調。</p>
<p>一婦人歷節作痛，發熱作渴，飲食少思，月經過期，諸藥不應，脈洪大，按之微細，用附子八物四劑而痛止，用加味逍遙而元氣復，六味丸而月經調。</p>
<p>一婦人體肥胖，素內熱，月經先期，患痛風，下體微腫痛甚，小便頻數，身重脈緩，症屬風濕，而血虛有熱。先用羌活勝濕湯四劑，腫痛漸愈；用清燥湯數劑，小便漸清；用加味逍遙十余劑，內熱漸愈。為飲食停滯，發熱仍痛，面目浮腫，用六君加柴胡、升麻而愈。又因怒氣，小腹痞悶，寒熱嘔吐，此木侮脾土。用前藥加山梔、木香而安。惟小腹下墜，似欲去後，此脾氣下陷，用補中益氣而愈。後因勞役、怒氣，作嘔，吐痰，遍身腫痛，月經忽來寒熱。用六君加柴胡、山梔以扶元氣清肝火，腫痛嘔吐悉退，用補中益氣以升陽氣健營氣，月經寒熱悉瘥。</p>
<p>一婦人飲食少思，畏見風寒，患痛風，嘔吐寒熱，脈弦緊，用附子八物，四肢痛愈，用獨活寄生，腰痛亦痊，惟兩膝腫痛，用大防風而消，用加味歸脾、逍遙而元氣復。</p>
<h3>流注</h3>
<p>婦人流注，或因憂思鬱怒，虧損肝脾；或因產後勞役，復傷氣血，以致營氣不從，逆於肉理；或因腠理不密，外邪客之；或濕痰流注；或跌撲血滯；或產後惡露；蓋氣流而注，血注而凝。或生於四肢關節；或流於胸腹腰臀；或結塊，或漫腫，皆屬虛損。急用蔥熨及益氣養榮湯，則未成自消，已成自潰。若久而腫起作痛，肢體倦怠，病氣有餘，形氣不足，尚可治。</p>
<p>若漫腫微痛，屬形氣病氣俱不足，最難治。不作膿，或膿成不潰，氣血虛也，用八珍湯。憎寒畏寒，陽氣虛也，十全大補湯。晡熱內熱，陰血虛也，四物加參、朮。作嘔欲嘔，胃氣虛也，六君加炮薑。食少體倦，脾氣虛也，補中益氣加茯苓、半夏。四肢逆冷，小便頻數，命門火衰也，八味丸。小便頻數，痰盛作渴，腎水虧損也，六味丸。月經過期，多日不止，肝脾虛也，八珍東加柴胡、丹皮。凡潰而氣血虛弱不斂者，更用十全大補湯，煎膏外補之。久潰而寒邪凝滯不斂者，用豆豉餅祛散之。其潰而內有膿管不斂者，用針頭散腐化之，自愈。</p>
<p>若不補氣血，不節飲食，不慎起居，不戒七情，或用寒涼克伐，俱不治。</p>
<p><u>治驗</u></p>
<p>一婦人左臂患之，年許不潰，堅硬不痛，肉色不變，脈弱少食，月經過期，日晡發熱，勞役則痛，遂與參、　、歸、朮、川芎、芍藥、熟地、貝母、遠志、香附、桔梗、丹皮、甘草，百余貼而消。</p>
<p>一婦人暴怒，腰腫一塊，胸膈不利，時或氣走作痛，與方脈流氣飲，數劑而止，更以小柴胡對四物，加香附、貝母，月余而愈。</p>
<p>一婦人因怒，脅下腫痛，胸膈不利，脈沉滯，以方脈流氣飲，數劑少愈，以小柴胡對二陳，加青皮、桔梗、貝母，數劑頓退，更以小柴胡湯對四物，二十余劑而痊。</p>
<p>一婦人因閃胸肩患腫，遍身痛，遂以黑丸子二服而痛止，以方脈流氣飲二劑而腫消，更以二陳對四物，加香附、枳殼、桔梗而痊愈。</p>
<p>一婦人腿患筋攣骨痛，諸藥不應，脈遲緊，用大防風湯，二劑頓退，又二劑而安。又一婦患之亦然，先用前湯二劑，更服黑丸子而痊。此二患若失治，潰成敗證。</p>
<p>一婦人潰後發熱，予以為虛，彼不信，乃服敗毒藥，果發大熱，竟至不救。夫潰瘍雖有表證，發熱宜以托裡為主，佐以表散之劑，何況瘰　流注乎?若氣血充實，經絡通暢，決無患者。此證之因，皆由氣血素虧，或七情所傷，經絡郁結，或腠理不密，六淫外侵，隧道壅塞。</p>
<p>若不審其所因，辨其虛實，鮮不誤人。</p>
<h3>瘰</h3>
<p>婦人瘰　，或因胎產血崩，虧損腎肝；或因憂思鬱怒，傷損肝脾；或因恚怒風熱，肝膽血燥；或因水涸血虛，筋攣則累累然如貫珠，故多生於耳前後、項側、胸脅間，若寒熱腫痛，乃肝經氣動而為病。用柴胡梔子散以清肝火為主，而佐以逍遙散以養肝血。若寒熱既止，而核不消，乃肝經之血亦病，用加味四物湯以養肝血為主，而佐以柴胡梔子散以清肝火。若初生如豆粒，附著於筋，肉色不變，內熱口乾，精神倦怠，久不消潰，乃肝脾虧損，用逍遙散、歸脾湯、六味丸健脾土，培肝木，切不可輕用散堅追毒之劑。《外台秘要》云：肝腎虛熱，則生　矣。《病機》云：瘰　不系膏粱丹毒，因虛勞氣鬱所致。補形氣，調經脈，其瘡當自消散。誤下之，先犯病禁經禁。若久潰脈浮大，邪火盛也；而色　白，金克木也，皆不治。</p>
<p>若赤脈貫瞳子有幾條，則幾年死。</p>
<p><u>治驗</u></p>
<p>一婦人久而不愈，或以為木旺之症，用散腫潰堅湯伐之，腫硬益甚，余以為肝經氣血虧損，當滋化源，用六味地黃丸、補中益氣湯，至春而愈。此症若肝經風火暴病，元氣無虧，宜用前湯。若風不旺而自病，宜用瀉青丸；虛者，用地黃丸。若水不能生木，亦用此丸。若金來克木，宜補脾土生腎水。大凡風木之病，但壯脾土，則木自不能克矣。若行伐肝，則脾胃先傷，而木反來克土矣。</p>
<p>一婦人患之，恐不起，致少寐，年余　破，膿水淋漓，經水或五十日或兩月余一至，誤服通經丸，展轉無寐，午前惡寒，午後發熱。余以為思慮虧損脾血，用歸脾湯作丸，午前以六君子送下，午後以逍遙散送下，兩月余得寐，半載後經行如期，年余而瘡愈。</p>
<p>一　婦潰後，發熱煩躁作渴，脈大而虛，以當歸補血湯，六劑而寒熱退，又以聖愈湯，數劑而痊愈。更以八珍加貝母、遠志，三十余劑而斂。</p>
<p>一婦人項結核，寒熱頭痛，脅乳脹痛，內熱口苦，小便頻數，症屬肝火血虛，用四物加柴胡、山梔、膽草而愈，又用加味逍遙散而安。</p>
<p>一婦人瘰　後，遍身作癢，脈大按而虛，以十全大補加香附治之而愈。大凡潰後，午前癢作氣虛，午後癢作血虛。若作風症治之，必死。</p>
<p>一婦人項核腫痛，察其氣血俱實，先以必效散一服下之，更以益氣養榮湯補之，三十余劑而消。常治此症，若必欲出膿，但虛弱者，先用前湯，待其氣血稍充，乃用必效散，去其毒，仍用補藥無不效。未成膿者，灸肘尖調經解鬱及隔蒜灸，多自消，有膿即針之。若氣血復而核不消，卻服散堅之劑，月許不應，氣血不損，須用必效散，其毒一下，即多服益氣養榮湯，如不應，亦灸肘尖。如瘡口不斂者，更用豆豉餅、琥珀膏。若氣血俱虛，或不慎飲食七情者，不治。然此症以氣血為主，氣血壯實，不用追蝕之劑，亦能自腐。但取去使易於收斂耳，血虛而用追蝕，不惟徒治，適足以敗矣。</p>
<h3>乳癰乳岩</h3>
<p>婦人乳癰，屬膽胃二腑熱毒，氣血壅滯。故初起腫痛，發於肌表，肉色　赤，其人表熱發熱，或發寒熱，或憎寒頭痛，煩渴引冷，用人參敗毒散、神效栝蔞散、加味逍遙散治之，其自消散。若至數日之間，膿成潰竅，稠膿涌出，膿盡自愈。若氣血虛弱，或誤用敗毒，久不收斂，膿清脈大，則難治。乳岩屬肝脾二臟鬱怒，氣血虧損，故初起小核，結於乳內，肉色如故，其人內熱夜熱，五心發熱，肢體倦瘦，月經不調，用加味歸脾湯、加味逍遙散、神效瓜蔞散，多自消散。若荏苒日月漸大，HT　岩色赤，出水腐潰深洞，用前歸脾湯等藥，可延歲月，若誤用攻伐，危殆迫矣。大凡乳症，若因恚怒，宜疏肝清熱。　痛寒熱，宜發表散邪。腫痛甚，宜清肝消毒，並隔蒜灸。不作膿，或膿不潰，補氣血為主。不收斂，或膿稀，補脾胃為主。膿出反痛，或發寒熱，補氣血為主。或晡熱內熱，補血為主。若飲食少思，或作嘔吐，補胃為主。飲食難化，或作泄瀉，補脾為主。勞碌腫痛，補氣血為主。怒氣腫痛，養肝血為主。兒口所吹，須吮通揉散。成癰，治以前法。潮熱暮熱，亦主前藥。大抵男子多由房勞，耗傷肝腎。婦人鬱怒，虧損肝脾。治者審之。（世以孕婦患此，名曰內吹。然其所致之因則一，惟用藥不可犯其胎耳。）</p>
<p><u>治驗</u></p>
<p>一婦人內熱脅脹，兩乳不時作痛，口內不時辛辣，若臥而起急，則臍下牽痛，此帶脈為患，用小柴胡加青皮、黃連、山梔二劑而瘥。</p>
<p>一婦人因怒兩乳腫，兼頭痛寒熱，用人參敗毒散，二劑表症已退，用小柴胡加芎、歸、枳殼一婦人久郁，右乳內腫硬，用八珍東加遠志、貝母、柴胡、青皮及隔蒜灸，兼服神效栝蔞散，兩月余而消。</p>
<p>一婦人左乳內腫如桃，不痛不赤，發熱漸瘦，用八珍加香附、遠志、青皮、柴胡百余劑，又兼服神效栝蔞散三十余劑，膿潰而愈。</p>
<p>一婦人郁久，左乳內結核如杏許，三月不消，心脈澀而脾脈大，按之無力，以八珍加貝母、遠志、香附、柴胡、青皮、桔梗，五十余劑而潰，又三十余劑而愈。</p>
<p>一婦人稟實性躁，懷抱久郁，左乳內結一核，按之微痛，以連翹飲子二十余劑少退，更以八珍加青皮、香附、桔梗、貝母，二十余劑而消。</p>
<p>一婦人發熱作渴，至夜尤甚，兩乳忽腫，肝脈洪數，乃熱入血室也，用加味小柴胡湯，熱止腫消。</p>
<p>一婦人因怒，左乳作痛發熱，表散太過，腫熱益甚，用益氣養榮湯，數劑熱止膿成，不從用針，腫脹熱渴，針膿大泄，仍以前湯，月余始愈。此症若膿成未破，有薄皮剝起者，用代針之劑，其膿自出。不若及時用針，不致大潰。若膿血未盡，輒用生肌，反助其邪。慎之!一婦人因怒，左乳作痛，胸膈不利，以方脈流氣飲加木香、青皮，四劑而安。</p>
<p>一婦人膿清腫硬，面黃食少，內熱晡熱，自汗盜汗，月經不行，此肝脾氣血俱虛，用十全大補加遠志、貝母及補中益氣，各三十余劑，外用蔥熨患處，諸症尋愈。</p>
<p>一婦人膿成脹痛，余欲針之，不從，數日始針，出敗膿三四碗許，虛症蜂起，幾至危殆，用大補兩月余而安。若元氣虛弱，不作膿者，用益氣養榮湯補之，膿成即針。若腫痛寒熱，怠惰食少，或至夜熱甚，用補中益氣湯兼逍遙散，補之為善。</p>
<p>一產婦因乳少，服藥通之，致乳房腫脹，發熱作渴，以玉露散補之而愈。夫乳汁乃氣血所化，在上為乳，在下為經，若衝任之脈盛，脾胃之氣壯，則乳汁多而濃，衰則淡而少，所乳之子，亦弱而多病。又有屢產無乳，或大便澀滯，乃亡津液也，當滋化源。</p>
<p>一婦人右乳內結三核，年余不消，朝寒暮熱，飲食不甘，此乳岩，以益氣養榮湯，百余劑，血氣漸復，更以木香餅熨之，喜其謹疾，年余而消。</p>
<p>至英內年二十有五，素虛弱，多鬱怒，時疫後，脾胃愈虛，飲食愈少，又值氣忿，右乳脅下紅腫，膺內作痛，用炒麩皮熨之，腫雖少散，內痛益甚，轉側胸中，如物懸墜，遂與加減四物湯，內腫如鵝卵，外大如盤，胸脅背心相引而痛，夜熱勢甚，時治者皆以攻毒為言，叩諸先生，乃云：此病後脾弱，而復怒傷肝，治法惟主於健脾氣，平肝火，則腫自消，而病自愈矣。承惠方以八物加陳皮、黃　、柴胡、山梔、白芷，服八劑，病減六七，去白芷加青皮、木香、桔梗，又六劑而痊愈。奏功之奇，獲效之速，蓋出於尋常萬萬也。感激濃恩，昕夕不忘，錄此乞附醫案，以詔後之患者，毋為攻毒者之所惑也。晚生尤至英頓首再拜書。</p>
<p>一婦人乳內結核年余，晡熱少食，余欲用益氣養榮湯治之，彼以為緩，乃服行氣之劑，其勢愈甚，潰而日出清膿而歿。</p>
<p>郭氏外家，乃放出宮女，乳內結一核如栗，亦服流氣等藥，大如覆碗，堅硬如石，出水而歿。</p>
<h3>血風瘡</h3>
<p>婦人血風瘡，因肝脾二經風熱鬱火血燥所致。其外症身發疙瘩，或如丹毒，癢痛不常，搔破成瘡，膿水淋漓。其內症月經無定，小便不調，夜熱內熱，自汗盜汗，惡寒憎寒，肢體倦怠，飲食不甘，寒熱往來。若發熱作痛，乃肝經風熱血燥，用當歸飲加柴胡、山梔。若體倦食少，口乾潮熱，乃肝脾鬱火傷血，用加味逍遙散。若疙瘩痛癢，寒熱往來，乃肝經風熱傷血，用小柴胡加山梔、黃連。若夜間發熱，作渴譫語，乃熱入血室，用小柴胡加生地黃，血虛四物合小柴胡湯。若無寐盜汗，內熱晡熱，乃脾經血虛，用歸脾湯；兼寒熱，加山梔、熟地。若用風藥，復傷陰血，反致他症。</p>
<p><u>治驗</u></p>
<p>一婦人素清苦，四肢患此，誤用敗毒寒涼，晡熱內熱，自汗盜汗，月經不行，口乾咽燥，此郁結傷脾，四肢者脾主之，用歸脾湯數劑，後兼逍遙散，五十余劑而愈。</p>
<p>一婦人性躁，寒熱口苦，脅痛耳鳴，腹脹溺澀年余矣，症屬肝火，用四君加柴胡、炒山梔、炒龍膽數劑，乃與逍遙散兼服而瘡愈，又與六味丸及逍遙散，七十余劑，諸症悉退。若有愈後身起白屑，搔則肌膚如帛所隔，此氣血虛不能營於腠理，用大補之劑。若有愈後發熱，身起疙瘩癢痛，搔破膿水淋漓，經候不調，此肝火血熱，用四物加柴胡、山梔、白朮、茯苓、丹皮、甘草。</p>
<p>一婦人日晡身癢，月余口乾，又月余成瘡，服祛風之劑，膿水淋漓，午前畏寒，午後發熱，殊類風症。余謂此肝經鬱火，外邪所搏，用補中益氣加山梔、鉤藤，又以逍遙散加川芎、貝母而愈。</p>
<p>一婦人搔癢，發熱，日晡益甚，膚見赤痕，月經過期，此血虛有熱，以逍遙散倍加熟地，熱止癢退，更以四物加參、　、柴胡、炙草、茯苓，調理遂愈。</p>
<p>一女子十二歲，善怒，遍身作癢，用柴胡、川芎、山梔、芍藥以清肝火，以生地、當歸、黃芩涼肝血，以白朮、茯苓、甘草健脾土而愈。半載後，遍身起赤痕，或時眩暈，此肝火熾甚，血得熱而妄行，是夜果經至。</p>
<h3>瘡</h3>
<p>婦人兩　生瘡，或因胎產，飲食失宜，傷損脾胃；或因憂思鬱怒，虧損肝脾，以致濕熱下注；或外邪所侵。外　屬足三陽可治，內　屬足三陰難治。若初起發腫赤痛，屬濕毒所乘，用人參敗毒或檳蘇敗毒散。若漫腫作痛，或不腫不痛，屬脾虛濕熱下注，用補中益氣或八珍湯。若膿水淋漓，體倦少食，內熱口乾，屬脾氣虛弱，用補中益氣加茯苓、酒炒芍藥。若午後頭目不清，屬陰火，用前東加酒炒黑黃柏。若午後發熱體倦，屬血虛，用前東加川芎、熟地。若懷抱不樂而甚，用歸脾東加山梔、柴胡。若恚怒氣逆而甚，用補中益氣加川芎、山梔。</p>
<p>若內熱體倦，痰涎口瘡，屬脾腎虛熱，用六味丸。若肢體畏寒，飲食少思，屬脾腎虛寒，用八味丸。大抵色赤屬熱毒易治，色黯屬脾腎虛寒難治，設誤用攻伐，復傷胃氣，難保其生。</p>
<p><u>治驗</u></p>
<p>一婦人患之，四畔微赤，作痛重墜，膿水淋漓，胸膈不利，飲食少思，內熱口苦，夜間少寐，此屬脾虛郁傷。用歸脾湯解鬱結而生脾血，用補中益氣加茯苓、半夏補脾氣而除濕熱，尋愈。</p>
<p>一婦人久不愈，色赤微熱，日晡　腫，形體虛弱，飲食少思，勞則喘渴，惡寒發熱，此脾虛下陷，用補中益氣湯而愈。</p>
<p>一婦人三年矣，色黯腫硬，惡寒發熱，飲食少思，形體消瘦，作渴飲湯，飲食稍多，或腹脹，或泄瀉，或作嘔，或吞酸，此脾氣虛寒。用補中益氣加乾薑、肉桂，五十余劑而愈。</p>
<p>一婦人因入朝步履，惡寒發熱，倦怠懶食，瘡口出血，此勞傷元氣，不能攝血歸經，用補中一婦人因怒，寒熱頭眩，或耳項胸脅脹痛，或小腹陰道悶墜，或小便頻數下血，此屬肝火血熱，先用小柴胡東加炒黑山梔、川芎、當歸、車前，二劑諸症頓退，又用加味逍遙散，補其陰血而愈。後因飲食勞倦，前症復作，瘡口出血，用補中益氣湯治之而愈。</p>
<p>一婦人患將兩月，　赤腫痛，小便頻數，飲食如常，用活命飲二劑，諸症悉愈，又用八珍湯而痊。</p>
<p>一婦人患此　痛，惡寒發熱，用檳蘇敗毒散，而寒熱退，用仙方活命飲，而　痛止，再用補中益氣湯，而形氣健。</p>
<h3>陰瘡</h3>
<p>（交接出血、陰挺、陰癢、陰蟲附）</p>
<p>婦人陰瘡，乃七情鬱火，傷損肝脾，濕熱下注。其外症有陰中舒出如蛇，俗呼陰挺；有翻突如餅，俗呼陰菌；亦有如雞冠花，亦有生諸蟲，亦有腫痛濕癢，潰爛出水，脹悶脫墜者。其內症口乾，內熱，體倦，經候不調，飲食無味，晡熱發熱，胸膈不利，脅肋不調，小腹痞脹，赤白帶下，小水淋澀。其治法：腫痛者，宜用四物加柴胡、山梔、丹皮、膽草；濕癢者，宜用歸脾加山梔、丹皮、柴胡；淋澀者，宜用龍膽瀉肝加白朮、丹皮；潰腐者，宜用加味逍遙散；腫悶脫墜者，宜用補中益氣加山梔、丹皮，佐以外治之法，備見治驗。</p>
<p><u>治驗</u></p>
<p>一婦人胸膈不利，內熱作渴，飲食不甘，肢體倦怠，陰中悶癢，小便赤澀，此鬱怒所致，用歸脾加山梔而愈。後因怒，患處並小腹脹痛，用小柴胡加山梔、芎、歸、芍藥而愈。但內熱晡熱，用逍遙散加山梔而愈。後因勞役發熱，患處腫脹，小便仍澀，用補中益氣加山梔、茯苓、丹皮而愈。</p>
<p>一婦人陰中突出如菌，四圍腫痛，小便頻數，內熱晡熱，似癢似痛，小腹重墜，此肝脾郁結之症，蓋肝火濕熱而腫痛，脾虛下陷而重墜也。先以補中益氣加山梔、茯苓、車前、青皮以清肝火升脾氣，漸愈。更以歸脾東加山梔、茯苓、川芎調理，更以生豬脂和藜蘆末，塗之而收入。</p>
<p>一婦人陰中挺出一條五寸許，悶痛重墜，水出淋漓，小便澀滯，夕與龍膽瀉肝湯分利濕熱，朝與補中益氣湯升補脾氣，諸症漸愈，再與歸脾加山梔、茯苓、川芎、黃柏，間服調理而愈。</p>
<p>後因勞役或怒氣，下部濕癢，小水不利，仍用前藥即愈。亦有尺許者，亦有生諸蟲物者，皆用此治。</p>
<p>一婦人腐潰，膿水淋漓，腫痛寒熱，小便赤澀，內熱作渴，肢體倦怠，胸脅不利，飲食少思，三月余矣，用補中益氣，內柴胡、升麻各用一錢，加茯苓一錢，炒山梔二錢，數劑少愈，又與歸脾加山梔、川芎、茯苓，三十余劑，諸症悉退。惟內熱尚在，再與逍遙散倍用山梔而一婦人素性急，陰中或痛，小便赤澀，怒則益甚，或發熱，或寒熱，治以芎、歸、炒梔、柴胡、苓、朮、丹皮、澤瀉、炒芍、炒車前、炒連、生草，數劑漸愈，乃去黃連、澤瀉，又數劑而痊愈。</p>
<p>一婦人素郁悶，陰內痛癢，不時出水，飲食少思，肢體倦怠，用歸脾加丹皮、山梔、芍藥、柴胡、生草主之而安。</p>
<p>一婦人陰內癢痛，內熱倦怠，飲食少思，用參、　、歸、朮、陳皮、柴胡、炒梔、炒車前、升麻、芍藥、丹皮、茯苓，治之而瘥。若陰中有蟲癢痛，亦屬肝木，以桃仁研膏，和雄黃末納陰中以殺之，仍用清肝解鬱。有以雞肝納之者，乃取蟲之法也。</p>
<p>一婦人交接違理，出血作痛，發熱口乾，誤服寒涼之劑，前症益甚，不時欲嘔，飲食少思，此症屬肝經，而藥復傷脾也，先用六君子加柴胡，而脾胃漸愈，乃用加味逍遙散，而患處亦痊。</p>
<p>一婦人每交接，輒出血作痛，敷服皆涼血止痛之劑，不時出血甚多，此肝傷而不能藏血，脾傷而不能攝血也，用補中益氣、濟生歸脾二湯而愈。若交接出血，用熟艾熱裹入陰中。若交接違理而出血，用亂髮青布燒為末敷之，血自止。若出血過多，而見他症，但用前藥，調補肝脾，諸症自愈矣。</p>
<p>一婦人陰腫下墜，悶痛出水，胸腹不利，小便頻數，內熱晡熱，口苦耳鳴，先用小柴胡加車前、膽草、苓、朮、升麻，二劑稍緩，又用加味逍遙加升麻，數劑稍愈，乃以加味歸脾加升麻、柴胡，並補中益氣加山梔，數劑漸愈，仍用加味逍遙、加味歸脾二藥，調理而瘥。</p>
<p>一婦人熱痛，用寒涼敗毒，飲食不入，時欲嘔吐，小腹重墜，似欲去後，此脾胃虧損，元氣下陷，症屬虛寒，先用補中益氣加炮薑二劑，重墜若失，再用前東加茯苓、半夏，二十余劑而愈，乃以歸脾少加柴胡、升麻、六味地黃丸，調理兩月余而康。</p>
<h3>附方並注</h3>
<p><u>保和丸</u></p>
<p>　治飲食停滯，胸膈痞滿，或作吞酸等症。</p>
<p>山楂（取肉，二兩，蒸）　神麯（炒）　半夏　茯苓（各一兩）　蘿卜子（炒）　陳皮　連翹（各五錢）</p>
<p>上為末粥丸，加白朮二兩，名大安丸。</p>
<p><u>越鞠丸</u></p>
<p>　治六郁，胸膈痞滿，嘔吐吞酸，或濕熱腹脹，腿腳酸疼等症。</p>
<p>蒼朮（炒）　神麯（炒）　香附　山楂　山梔（炒）　撫芎　麥芽（炒。各等分）</p>
<p>上各另為末，水調炒曲面糊為丸，桐子大，每服五七十丸，白滾湯下。</p>
<p><u>左金丸</u></p>
<p>（一名四今丸）　治肝火胸脅刺痛，或發寒熱，或頭目作痛，小便淋秘，或小腹疼痛，一切肝火之症。</p>
<p>黃連（六兩）　吳茱萸（一兩，湯煮片時用）</p>
<p>上為末，粥丸，白朮陳皮湯下。</p>
<p><u>椒仁丸</u></p>
<p>　治先因經水斷絕，後至四肢浮腫，小便不通，血化為水。</p>
<p>椒仁　續隨子（去皮研）　甘遂　附子（炮）　郁李仁　黑牽牛　五靈脂（研碎）　當歸　吳茱萸　延胡索（各五錢）　芫花（醋浸，一錢）　石膏　青（十枚，去頭翅足同糯米炒黃，去米不用）　斑蝥（十個，糯米炒黃，去米不用）　膽礬　人言（各一錢）</p>
<p>上為末，面糊為丸，如豌豆大。每服一丸，橘皮湯下。此方藥雖峻利，所用不多，若畏而不服，有養病害身之患，常治虛弱之人，亦未見其有誤也。</p>
<p><u>血分葶藶丸</u></p>
<p>　治先因小便不利，後至身面浮腫，經水不通，水化為血。</p>
<p>葶藶（研、炒）　續隨子（去殼。各半兩，研）　干筍末（一兩）</p>
<p>上為末，棗肉丸，如桐子大。每服七丸，煎匾竹湯下。如大便利者，減續隨子、葶藶各一錢</p>
<p><u>人參丸</u></p>
<p>　治經脈不利化為水，流走四肢，悉皆腫滿，名曰血分。其候與水相類，若作水治之人參　大黃（濕紙裹飯上，蒸熟，去紙，切、炒）　當歸　桂心　瞿麥穗　赤芍藥　白茯苓（各半兩）　葶藶（炒，另研一錢）</p>
<p>上為末，煉蜜丸，桐子大。每服十五丸至二三十丸，空心飲湯下。</p>
<p><u>柏子仁丸</u></p>
<p>　治血虛有火，月經耗損，漸至不通，日漸羸瘦，而生潮熱，慎毋以毒藥通之，宜柏子仁丸、澤蘭湯主之。</p>
<p>柏子仁（炒砂）　牛膝（酒拌）　卷柏（各半兩）　澤蘭葉　續斷（各二兩）　熟地黃（用生者三兩，酒拌蒸半日，忌鐵器，杵膏）</p>
<p>上為末，入地黃膏，加煉蜜丸，桐子大。每服三十丸，空心米飲下。</p>
<p><u>澤蘭湯</u></p>
<p>　治症同前。</p>
<p>澤蘭葉（三兩）　當歸（酒拌）　芍藥（炒。各一兩）　甘草（五錢）</p>
<p>上為粗末，每服五錢，水二鐘，煎至一鍾，去渣溫服。</p>
<p><u>　獨參湯</u></p>
<p>　治一切失血，惡寒發熱，作渴煩躁，並宜此藥補氣，蓋血生於氣，陽生陰長之理也。用人參二兩，棗十枚，水煎服。</p>
<p><u>玉露散</u></p>
<p>　治乳脈不行，身體壯熱，頭目昏痛，大便澀滯等症。</p>
<p>人參　白茯苓　桔梗炒　川芎　白朮　當歸　芍藥（各一錢）　甘草（五分）</p>
<p>上水煎服。若熱甚，大便秘，量加炒大黃。</p>
<p><u>聖愈湯</u></p>
<p>　治血虛心煩，睡眠不寧，或五心煩熱。</p>
<p>地黃（酒拌，蒸半日）　生地黃（酒拌）　川芎　人參（各五錢）　當歸（酒拌）　黃　（炒。各一錢）</p>
<p>上水煎服。</p>
<p><u>當歸飲</u></p>
<p>　治血熱，癮疹癢痛，膿水淋漓，發熱等症。</p>
<p>當歸　白芍藥　川芎　生地黃　白蒺藜（各一錢）　防風　荊芥（各五分）　黃　（一錢）　何首烏　甘草（各五分）</p>
<p>上水煎服。</p>
<p><u>龍膽瀉肝湯</u></p>
<p>　治肝經濕熱，下部腫　作痛，小便澀滯，陰挺如菌，或出物如蟲等症。</p>
<p>龍膽草（酒拌，炒黃）　澤瀉（各一錢）　車前子（炒）　木通　生地黃（酒拌）　當歸尾（酒拌）　山梔（炒）　黃芩生甘草（各五分）</p>
<p>上水煎服。</p>
<p><u>烏賊魚骨丸</u></p>
<p>　治婦人血枯，胸膈四肢滿，妨於食飲，病至聞腥、臊、臭氣先唾血，出清液，或前後泄血，目眩轉，月事衰少不來。</p>
<p>烏賊魚骨（去甲，四兩）　茹（一兩）</p>
<p>上為末，以雀卵和成劑丸，如小豆大。每服五丸，加至十丸，以鮑魚煎湯下，以飯壓之。</p>
<p><u>青州白丸子</u></p>
<p>　治風痰咳嗽，或牙關緊急，不知人事，或痰滯作麻。</p>
<p>南星（三兩）　半夏（七兩）　白附子（二兩）　川烏（半兩。各生用）</p>
<p>上為末，絹袋盛，井水擺浸，仍換水浸三五日，晒乾糯米粉丸，如急用，以薑汁糊丸亦可。</p>
<p><u>四七湯</u></p>
<p>　治七情郁結，咽間如有一核，吞吐不利，或中脘痞滿，痰涎壅喘，或惡心少食。</p>
<p>紫蘇葉（一錢）　厚朴（一錢五分）　茯苓（一錢）　半夏（薑製，七分）</p>
<p>上薑棗水煎服，若白帶以此湯送前丸，其效如神。</p>
<p><u>當歸龍薈丸</u></p>
<p>　治肝經症，脅下作痛，或有積塊，或下疳便癰，小便淋澀，或瘀血凝滯，小腹作痛。</p>
<p>當歸（酒拌）　龍膽草（酒拌炒）　梔子仁（炒）　黃連　青皮　黃芩（各一兩）　大黃（酒拌炒）　蘆薈　青黛柴胡（各五錢）　木香（二錢五分）　麝香（五分，另研）</p>
<p>上為末，炒神麯糊丸。每服二三十丸，薑湯下。</p>
<p><u>阿魏膏</u></p>
<p>　治一切痞塊。</p>
<p>羌活　獨活　玄參　官桂　赤芍藥　川山甲　生地黃　兩頭尖　大黃　白芷　天麻（各五錢）　紅花（四錢）　槐柳桃枝（各三錢）　木鱉子（三十枚，去殼）　亂髮（如雞子大一塊）</p>
<p>上用香油二斤四兩，煎黑去　，入發再煎化，仍去　，徐下黃丹，煎軟硬得中，方入芒硝、　阿魏、蘇合油、乳香、沒藥五錢，麝香三錢，調勻成膏矣。攤貼患處，內服蘆薈丸等。黃丹須真正者效。凡貼膏藥，先用朴硝隨患處鋪半指濃，以紙蓋，用熱熨斗熨良久，如消耗，再加熨之，熨二時許方貼膏藥。若是肝積，加蘆薈末同熨。</p>
<p><u>蘆薈丸</u></p>
<p>　治肝疳口舌生瘡，牙齦腐爛，或遍身生瘡等症。</p>
<p>大皂角　青黛　蘆薈研　朱砂（研）　麝香（研。各一錢）　干蝦蟆（用皂角各等分燒存性為末，一兩入前項藥）</p>
<p>上為末，蒸餅糊丸，麻子大。每服五七十丸，米飲下。</p>
<p><u>局方小續命湯</u></p>
<p>　治歷節痛風，痰盛口噤，腰背反張等症。</p>
<p>防己　肉桂（去粗皮）　杏仁（去皮尖，炒黃）　黃芩　白芍　甘草　川芎　麻黃（去節）　人參（去蘆，各一兩）　附子（炮去皮臍，半兩）　防風（一兩五錢）</p>
<p>上為粗末，每服三錢，薑棗水煎服。</p>
<p><u>調中益氣湯</u></p>
<p>　治體怠嗜臥，不思飲食，或痰嗽泄瀉等症。</p>
<p>黃　（一錢）　人參（去蘆頭）　甘草　蒼朮（各五分）　柴胡　橘皮　升麻　木香（各二分）</p>
<p>上薑棗水煎，空心服。</p>
<p><u>佛手散</u></p>
<p>　治妊娠，傷胎下血。</p>
<p>當歸（三錢）　川芎（二錢）</p>
<p>上水煎，食前服。</p>
<p><u>木香餅</u></p>
<p>　治一切氣滯結腫，或痛或閃肭，及風寒所傷作痛並效。</p>
<p>木香（五錢）　生地黃（一兩）</p>
<p>上木香為末，地黃杵膏和勻，量患處大小作餅置患處，以熱熨斗熨之。</p>
<p><u>隔蒜灸法</u></p>
<p>　治一切瘡毒，大痛或不痛，或麻木如痛者，灸至不痛，不痛者灸至痛，其毒隨火而散。蓋火以暢達，拔引郁毒，此從治之法也，有回生之功。用大蒜頭去皮，切三文錢濃，安瘡頭上，用艾壯於蒜上，灸之三壯，換蒜復灸，未成者即消，已成者亦殺其大勢，不能為害。如瘡大，用蒜搗爛攤患處，將艾鋪上燒之，蒜敗再換。如不痛，或不作膿，及不起發，或陰瘡尤宜多灸，灸而仍不痛，不作膿，不起發者不治，此氣血虛極也。</p>
<p><u>神效蔥熨法</u></p>
<p>　治虛怯人，肢體患腫塊，或作痛，或不痛，或風襲於經絡，肢體疼痛，或四肢筋攣骨痛。又治流注跌撲，傷損腫痛，用蔥頭細切，杵爛炒熱敷患處，冷易之再熨，腫痛即止，其效如神。</p>
<p><u>豆豉餅</u></p>
<p>　治瘡瘍腫硬不潰，及潰而不斂，並一切頑瘡惡瘡。用江西豆豉為末，唾津和作餅子，如錢大，濃如三文，置患處，以艾壯於餅上，灸之干則易之。如背瘡，用嗽口水調作餅覆患處，以艾鋪餅上灸之。如未成者即消，已成者能消其毒，如有不效，氣血虛敗也。</p>
<p><u>益氣養榮湯</u></p>
<p>　治抑郁瘰　，或四肢患腫，肉色不變，或日晡發熱，或潰而不斂。</p>
<p>人參　茯苓　陳皮　貝母　香附　當歸（酒拌）　川芎　黃　（鹽水拌炒）　熟地黃（酒拌）　芍藥（炒。</p>
<p>各一錢）　甘草（炙）　桔梗（炒。各五分）　白朮（炒，二錢）</p>
<p>上薑水煎服。</p>
<p><u>人參養榮湯</u></p>
<p>　治潰瘍發熱惡寒，四肢倦怠，體瘦少食，面黃短氣，不能收斂。若大瘡愈後，多服之，不變他病。</p>
<p>白芍藥（一錢五分）　人參　陳皮　黃　（蜜炙）　桂心　當歸（酒拌）　白朮　甘草（炙。各一錢）　熟地黃（酒拌）　五味子（炒）　茯苓（各七分半）　遠志（去心炒，五分）</p>
<p>上薑棗水煎服。</p>
<p><u>方脈流氣飲子</u></p>
<p>　治惱怒胸膈脹滿，或肢體作痛，或結壅腫，血氣無虧者。</p>
<p>紫蘇葉　青皮　苦梗　半夏煨　當歸　芍藥　烏藥　茯苓　川芎　黃　枳殼（去穰麩炒）　防風（各半兩）　甘草　橘皮（各五分）　大腹皮　木香（各三分）</p>
<p>上薑棗水煎服。</p>
<p><u>瀉青丸</u></p>
<p>　治肝經鬱火實熱，脅乳作痛，大便秘結，及肝經一切實火症。</p>
<p>當歸　龍膽草　川芎　山梔　大黃　羌活　防風（各等分）</p>
<p>上為末，蜜丸，雞子大，每服一二丸。</p>
<p><u>人參敗毒散</u></p>
<p>　治瘡瘍　痛，發寒熱，或拘急頭痛等症。</p>
<p>人參　羌活　獨活　前胡　柴胡　桔梗　枳殼　茯苓　川芎　甘草（各一錢）</p>
<p>上水煎服。</p>
<p><u>生地黃丸</u></p>
<p>　治師尼寡婦，乍寒乍熱，肝脈弦長，而出魚際。</p>
<p>生地黃（一兩，酒拌杵膏）　秦艽　黃芩　硬柴胡（各五錢）　赤芍藥（一兩）</p>
<p>上為細末，入地黃膏，加煉蜜少許，丸桐子大。每服三十丸，烏梅煎湯下，日進二服，亦治室女患此。</p>
<p><u>連翹飲子</u></p>
<p>　治乳內結核。</p>
<p>連翹　川芎　栝蔞仁（研）　皂角刺（炒）　橘葉　青皮（去白）　甘草節　桃仁（各一錢半）</p>
<p>上水煎服。</p>
<p><u>必效散</u></p>
<p>　治瘰　，未成膿者自消，已潰者自斂。</p>
<p>南鵬砂（二錢五分）　輕粉（一錢）　斑蝥（四十個，糯米同炒熟，去頭翅）　麝香（五分）　巴豆（五粒，去殼心膜）　白檳榔（一個）</p>
<p>上為細末，每服一錢，五更用滾湯調下，如小水澀滯或微痛，此　毒欲下也，進益元散一服即下。此方斑蝥、巴豆似為峻厲，然用巴豆乃解斑蝥之毒，用者勿畏。</p>
<p><u>琥珀膏</u></p>
<p>　治頸項瘰　及腋下初如梅子腫結硬強，漸如連珠，不消不潰，或潰而膿水不絕，經久不瘥，漸成漏症。</p>
<p>琥珀（一兩）　木通　桂心　當歸　白芷　防風　松脂　朱砂（研）　木鱉子肉（各五錢）　麻油（二斤）</p>
<p>丁香　木香（各三錢）</p>
<p>上先用琥珀、丁香、桂心、朱砂、木香為細末，其余藥入油內，煎焦黑濾去粗，徐徐入黃丹，再煎軟硬得中，即成膏矣。</p>
<p><u>神效栝蔞散</u></p>
<p>　治乳癰初起腫痛及一切癰疽，或膿出後余毒，亦宜用之。</p>
<p>黃栝蔞（子多者一個）　當歸（半兩）　生甘草（半兩）　沒藥（一錢，另研）　乳香（一錢）</p>
<p>上酒水煎服。</p>
<p>余方見下卷。</p>
<h2>卷下</h2>
<h3>保胎</h3>
<p>妊娠若元氣不實，發熱倦怠，或胎動不安，用當歸散；因氣惱加枳殼；胸膈痞悶再加蘇梗；或作痛加柴胡。若飲食不甘或欲嘔吐，用六君加紫蘇、枳殼。若惡阻嘔逆，頭暈體倦，用參橘散；未應，用六君子湯。若惡阻嘔吐，不食煩悶，亦用參橘散之類。若頓仆胎動，腹痛下血，用膠艾湯；未應，用八珍加膠艾。若頓仆毒藥，腰痛短氣，用阿膠散；未應，煎送知母丸。若頓仆胎傷，下血腹痛，用佛手散；未應，用八珍送知母丸。若心驚膽怯，煩悶不安，名子煩，用竹葉湯；未應，血虛佐以四物，氣虛佐以四君。若下血不止，名胎漏，血虛用二黃散，血去多，用八珍湯；未應，用補中益氣湯。若因事而動下血，用枳殼東加生熟地黃；未應，或作痛，更加當歸；血不止，八珍加膠艾。若不時作痛，若小腹重墜，名胎痛，用地黃當歸湯；未應，加參、朮、陳皮；或因脾氣虛，用四君加歸地，中氣虛，用補中益氣湯。</p>
<p>若面目虛浮，肢體如水氣，名子腫，用全生白朮散；未應，用六君子湯；下部腫甚，用補中益氣倍加茯苓。或因飲食失宜，嘔吐泄瀉，此是脾胃虧損，用六君子湯。若足指發腫，漸至腿膝，喘悶不安，或足指縫出水，名水氣，用天仙藤散，脾胃虛弱，兼以四君子；未應，用補中益氣，兼以逍遙散。若胎氣上攻，心腹脹滿作痛，名子懸，用紫蘇飲；飲食不甘，兼四君子；內熱晡熱，兼逍遙散。若小便澀少，或成淋瀝，名子淋，用安榮散；不應，兼八珍湯；腿足轉筋，而小便不利，急用八味丸，緩則不救。若項強筋攣，語澀痰盛，名子癇，用羚羊角散；或飲食停滯，腹脹嘔吐，此是脾胃虛弱，而不能消化，用六君子湯；不應，用平胃散加參、苓。或胎作脹，或腹作痛，此是脾胃氣虛，而不能承載，用安胎飲加升麻、白朮；不應，用補中益氣湯。或臍腹作脹，或小便淋閉，此是脾胃氣虛，胎壓尿泡，四物加二陳、參、朮，空心服後探吐，藥出氣定，又服又吐，數次必安。或因勞役所傷，或食煎炒，小便帶血，此是血得熱而流於脬中，宜清膀胱，用逍遙散。或遺尿不禁，或為頻數，此是肝火血熱，用加味逍遙散。若胸滿腹脹，小便不通，遍身浮腫，名胎水不利，用鯉魚湯；脾胃虛，佐以四君子。病名同而形症異，形症異而病名同，聊見本方。凡用見症之藥，不應，當分月經治之。</p>
<p><u>治驗</u></p>
<p>一妊娠三月，其經若來三五次，但不多，飲食、精神如故，此血盛有餘，兒大能飲，自不來矣，果然。</p>
<p>一妊娠六月，每怒氣便見血，甚至寒熱頭痛，脅脹腹痛，作嘔少食。余謂寒熱頭痛，肝火上衝也；脅脹腹痛，肝氣不行也；作嘔少食，肝侮脾胃也；小便見血，肝火血熱也。用小柴胡加芍藥、炒黑山梔、茯苓、白朮而愈。</p>
<p>一妊娠六月，體倦食少，勞役見血，用六君加當歸、熟地、升麻、柴胡而愈。</p>
<p>一妊娠每三四月，胎便作痛，余用當歸地黃湯治之，不日而愈。</p>
<p>一妊娠三月，飲食後因怒患瘧，連吐三次，用藿香正氣散二劑，隨用安胎飲，一劑而愈。後因怒，痰甚狂言，發熱胸脹，手按少得，此肝脾氣滯，用加味逍遙散加川芎，二劑頓退，四劑而安。</p>
<p>一婦人每怒，發熱脅脹，小便淋澀，每月經行，旬余未已，已受胎三月，因怒前症復作，朝用加味逍遙散，夕用安胎飲，各二劑而安。五月又怒，復作，下血如經行，四日未止，仍用前藥而愈。</p>
<p>一妊娠將三月，嘔吐惡食，體倦嗜臥，此惡阻之症，用人參橘皮湯，二劑漸愈，又用六君加紫蘇，二劑而安。</p>
<p>一妊娠吞酸惡心，欲作嘔吐，此飲食停滯，用六君加曲　、炒黑子芩、枳殼、香附治之而愈。</p>
<p>一妊娠飲食後惱怒，寒熱嘔吐，頭痛惡寒，胸腹脹痛，大便不實而色青，小便頻數而有血。</p>
<p>余曰：當清肝健脾為主。不信，乃主安胎止血，益甚。問余曰：何也?余曰：大便不實而色青，此是飲食既傷脾土而兼木侮；小便頻數而有血，此是肝火血流於胞而兼挺痿也。用六君子加枳殼、紫蘇、山梔二劑，脾胃頓醒，又用加味逍遙加紫蘇、枳殼二劑，小便頓清，更節飲食，調理而安。</p>
<p>一妊娠每至五月，肢體倦怠，飲食無味，先兩足腫，漸至遍身，後及頭面，此是脾肺氣虛，朝用補中益氣，夕用六君子加蘇梗而愈。凡治妊娠，毋泥其月數，但見某經症，便用某藥為善。</p>
<p>一妊娠因怒吐血塊，四日不止，兩脅脹痛，小便淋澀，此怒而血蓄於上部，火炎而隨出也，脅脹腹痛，小便淋澀，肝經本病也，用小柴胡合四物，四劑而止，卻用六君子、安胎飲，調理而安。</p>
<p>一妊娠氣喘痰甚，諸藥不應，問治於余，詢之云，素有帶下，始於目下浮兩月余，其面亦然，此氣虛有痰飲也，用六味丸料，數劑而愈。</p>
<p>凡婦人氣血方盛，乳房作脹，或無兒飲，痛脹寒熱，用麥芽二三兩炒熟，水煎服，立消。其耗散血氣如此，何脾胃虛弱，飲食不消，方中多用之?一云麥芽，最消腎。若氣血虛而乳汁自出者，宜十全大補湯，其子多不育。</p>
<h3>小產</h3>
<p>小產重於大產，蓋大產如栗熟自脫，小產如生采，破其皮殼，斷自根蒂，豈不重於大產?但人輕忽致死者多矣。治法宜補形氣，生新血，去瘀血。若未足月，痛而欲產，芎歸補中湯，倍加知母止之。若產而血不止，人參黃　湯補之。若產而心腹痛，當歸川芎湯主之。胎氣弱而小產者，八珍湯固之。若出血過多而發熱，聖愈湯。汗不止，急用獨參湯。發熱煩躁，肉筋惕，八珍湯。大渴面赤，脈洪而虛，當歸補血湯。身熱面赤，脈沉而微，四君薑附。東垣云：晝發熱而夜安靜，是陽氣自旺於陽分也；晝安靜而夜發熱躁，是陽氣下陷於陰中也；如晝夜俱發熱者，是重陽無陰也，當峻補其陰。王太仆云：如大寒而甚，熱之不熱，是無火也；熱來復去，晝見夜伏，夜發晝止，時節而動，是無火也；如大熱而甚，寒之不寒，是無水也；熱動復止，倏忽往來，時動時止，是無水也。若陽氣自旺者，補中益氣湯。陽氣陷於陰者，四物二連湯。重陽無陰者，四物湯。無火者，八味丸。無水者，六味丸。</p>
<p><u>治驗</u></p>
<p>一妊娠五月，服剪紅丸而墮，腹中脹痛，服破血之劑，益甚，以手按之益痛。余曰：此峻藥重傷，脾胃受患。用八珍倍人參、黃　、半夏、乳香、沒藥，二劑而痛止，數劑而痊愈。</p>
<p>吳江庠友史萬湖仲子室，年二十余，疫疾墮胎，時咳，服清肺解表，喘急不寐，請治。余以為脾土虛不能生肺金，藥損益甚，先與補中益氣加茯苓、半夏、五味、炮薑，四劑漸愈。往視之，又與八珍加五味及十全大補湯痊愈。</p>
<p>大兒婦張氏素怯弱，嘉靖癸卯四月生女，自乳中患疥瘡，年余不愈，遂致羸困。甲辰五月，遭先母大故，以姑病勉強代執喪禮，旬月，每欲眩仆，一日感氣，忽患心脾高腫作疼，手不可按，而嘔吐不止，六脈微細之極。余以為脈雖虛而病形則實，誤認諸痛不可補氣，乃用青皮、香附、吳茱等藥而愈。繼復患瘧且墮胎，又投理氣行血之藥，病去，元氣轉脫，再投參補劑不應矣，六脈如絲欲絕，思非附子不能救，非立翁莫能投，迎翁至診云：皆理氣之劑，損真之誤也。連投參、　、歸、朮、附子、薑、桂六劑，間用八味丸，五日眠食漸甘，六脈全復。翁云：心脾疼痛時，即當服此等藥，瘧亦不作矣。姑婦皆翁再造，敢述奇功，附於此門之尾，以為初知藥性者之戒。制生陳遜稽顙謹識。</p>
<h3>保產</h3>
<p>妊娠欲產之時，但覺腹內轉動，即當正身仰臥，待兒轉身，向下時作痛，試捏產母手中指中節，或本節跳動，方與臨盆，即產矣。若初覺不仰臥，以待轉胞，或未產而水頻下，此胞衣已破，血水先干，必有逆生難產之患。若橫生者，兒先露手臂，令母正臥，以手徐推兒臂下體，令其正直，復以中指摩其肩，勿令臍帶攀系即生。逆生者，兒先露足，令母正臥，以手按推其足，仍推兒轉正即生。偏生者，兒頭偏在一邊，亦照前法，徐正其頭即生。或見頭後骨，偏在穀道傍，徐推近上即生。礙產者，兒頭雖正，但不能下，蓋因胎轉，臍帶攀肩所致，用中指按兒兩肩，理脫臍帶即生。坐產者，兒將欲生，其母疲倦，久坐椅褥，抵其生路，急用巾帶高懸，令母以手攀之，輕輕屈足良久，兒順即生。盤腸生者，臨產母腸先出，此難於收上，以萆麻子四十九粒，研爛塗產母頭頂，待腸收上，急洗去。設或為風吹干不能收者，以磨刀水少許，溫熱拭潤其腸，再用磁石煎湯服之即收上，磁石須陰陽家用有驗者。俗以水母面，皆驚，而腸亦收之，蓋驚則氣散，恐反致他症，戒之，若胎衣破而不得分娩者，用保生無憂散，以固其血，自然生息。如血已耗損，用八珍湯料一斤，益母草半斤，水數碗，煎熟不時飲之，亦有得生者。凡孕婦只腹痛，未產也，若連腰痛甚者，將產也，蓋腎候於腰胞系於腎故也。華陀治橫逆產難，用蛇脫二條，蟬殼二十八個，胎發二丸，各燒灰，每服二錢，酒調，連進二服，即臥片時，兒即順生。如無此藥，令產母仰面正臥，以小針刺兒手腳心三五次，用鹽塗之，手腳即縮上，待身轉順而生。若以蜀葵子四十九粒，白滑石三錢，順流水煎服即順生。或用好京墨濃磨服之，墨水裹兒即下。　或敗筆頭一個，　過，以藕節自然汁，溫酒和下。　或紫蘇葉、當歸各三錢，長流水煎服即下。　凡孕家宜預請穩婆，有仁心識見者，當施恩惠以結其心，先與說知，倘有生息不順，只說未產，或遇雙胎，只說胎衣未下，恐驚則氣散，愈難生息。余家親驗之，大抵難產多患於郁悶安佚富貴之家。治法雖云胎前消氣，產後補血，不可專執。若脾胃不實，氣血不充，宜預調補，不然臨產必有患難。如因難產，或大寒時，急以大油紙捻，徐徐燒斷其臍帶，雖兒已死，令暖氣入腹，多得復生，切不可用刀斷之。</p>
<p><u>治驗</u></p>
<p>荊婦孟冬分娩艱難，產子已死，元氣勞傷，用油紙捻燒斷臍帶，取其陽氣以補之，俄間兒啼作聲，即鵠兒也，若以刀物如常斷之，其母亦難保生，此兒嗣後一二歲間，並無傷食作瀉之症，可見前法之功。其穩婆又喜平日常施少惠，得其用心，能安慰母懷，故無虞耳。此穩婆云：止有一女，分娩時，適當巡街侍御行牌取我，視其室分娩，女為此驚嚇，未產而死，後見侍御，更以威顏分付，迨視產母胎雖順，而頭偏在一邊，若以手入推正，可保順生，因畏其威，不敢施手。但回稟云，此是天生天化，非人力所能立，俟其母子俱死。</p>
<h3>子死腹中</h3>
<p>夫子死腹中者，多因驚動太早，或觸犯禁，或抱腰太重，或頻探試水，胞衣先破，血水先盡，而胎干涸故耳。其候產母唇舌皆黑者，子母俱死。若舌黑或脹悶甚者，然其子已死矣。先以平胃散一兩，酒水各半煎，卻投朴硝半兩，即熱皮硝服，或用硝一兩，以童便調下亦妙。</p>
<p><u>治驗</u></p>
<p>一穩婆之女勤苦負重，妊娠腹中陰冷重墜，口中甚穢，余意其胎必死，令視其舌果青黑，與朴硝半兩許服之，隨下穢水而安。</p>
<p>一婦人胎死，服朴硝而下穢水，肢體倦怠，氣息奄奄，用四君為主，佐以四物、薑、桂，調補而愈。</p>
<h3>胎衣不出</h3>
<p>有因惡露入衣，脹而不能出；有因元氣虧損，而不能送出。其惡露流衣中者，腹中脹痛，用奪命丹或失笑散，以消瘀血，緩則不救。其元氣不能送者，腹中不脹痛，用保生無憂散，以補固元氣。或用萆麻子肉一兩，細研成膏，塗母右腳心，衣下即洗去，緩則腸亦出，如腸不上，仍用此膏塗腦頂，則腸自入，益母丸亦效。寶慶方胎衣未下，若欲斷臍帶，先以少物系墜，然後斷之，否則胞上掩心而死。</p>
<p><u>治驗</u></p>
<p>家人婦胞衣不出，胸腹脹痛，手不敢近，此瘀血為患，用熱酒下失笑散一劑，惡露胎衣即並下。</p>
<p>一產婦胎衣不出，腹不脹痛，手按之痛稍緩，此是氣虛而不能送出，用無憂散而下。前症余詢諸穩婆云，宜服益母草丸，或就以產婦頭發入口作嘔，胎衣自出，其不出者必死。授與前法甚效。</p>
<h3>交骨不開陰門不閉子宮不收</h3>
<p>三者皆元氣不足，觀諸治驗，可見其交骨不開者，用芎歸東加發灰、龜板補而開之；陰門不閉者，用十全大補加五味子補而斂之；子宮不收者，補中益氣加醋炒芍藥、半夏，補而舉之，或助以外治之法。</p>
<p><u>治驗</u></p>
<p>地官李孟卿，娶三十五歲稚女為繼室，妊娠慮其難產，與加味芎歸湯四劑備用，果產門不開，服之頓然分娩。</p>
<p>西賓費懷德之室，下血甚多，產門不開，兩日未生，服前藥一劑，即時而產，已後育胎，並無此症。懷德傳與服者，無有不效。</p>
<p>一婦人分娩最易，至四十妊娠，下血甚多，產門不開，亦與前湯一劑，又用無憂散斤許一劑，煎熟時時飲之，以助其血而產。</p>
<p>一產婦陰門不閉，發熱惡寒，用十全大補加五味子數劑，而寒熱悉退，又用補中益氣加五味子，數劑而斂。若初產腫脹，或　痛而不閉者，當用加味逍遙散。若腫既消而不閉者，當用補中益氣湯，切忌寒涼之劑。</p>
<p>一婦人脾胃素弱，兼有肝火，產後陰門腫痛，寒熱作渴，嘔吐不食，敷大黃等藥，服驅利之劑，腫及於臀，虛症蜂起，此真氣虛而作，先用六君子以固脾胃，乃以補中益氣湯升舉，不數劑而消。</p>
<p>一產婦失治，腫潰不已，形體消瘦，飲食不思，朝寒暮熱，自汗盜汗半年矣，用補中益氣加茯苓、半夏以健脾胃，膿水漸少，飲食漸進，用歸脾湯以解脾郁，共五十余劑，元氣復而瘡亦愈矣。</p>
<p>一產婦陰門不閉，小便淋瀝，腹內一物，攻動脅下，或脹或痛，用加味逍遙散加車前子而愈一婦人子宮腫大，二日方入，損落一片，殊類豬肝，已而面黃體倦，飲食無味，內熱晡熱，自汗盜汗，用十全大補湯二十余劑，諸症悉愈，仍復生育。血滯成癰方見後。</p>
<h3>產後腹痛</h3>
<p>產後小腹作痛，俗名兒枕塊，用失笑散行散之。若惡露既去而仍痛，用四神散調補之；若不應，用八珍湯。若痛而惡心，或欲作嘔，用六君子湯。若痛而泄瀉，用六君子湯送四神丸。</p>
<p>若泄瀉痛而或後重，用補中益氣湯送四神丸。若胸膈飽脹，或惡食吞酸，或腹痛手不可按，此是飲食所致，當用二陳加山楂、白朮以消導。若食既消而仍痛，或按之不痛，或更加頭痛，煩熱作渴，惡寒欲嘔等症，此是中氣被傷，宜補脾胃為主。若發熱腹痛，按之痛甚，不惡食，不吞酸，此是瘀血停滯，用失笑散以消之。若止是發熱頭痛，或兼腹痛，按之卻不痛，此是血虛，用四物加炮薑、參、朮以補之。《病機要》云：胎產之病，從厥陰經論之，無犯胃氣及上二焦，為之三禁，不可汗，不可下，不可利小便。發汗者同傷寒下早之症，利大便則脈數而已動於脾，利小便則內亡津液，胃中枯燥。制藥之法，能不犯三禁，則榮衛自和，而寒熱止矣。如發渴用白虎，氣弱用黃　，血刺痛則用當歸，腹中痛則加芍藥，宜詳察脈症而用之。丹溪先生云：產後當大補氣血為先，雖有雜症，從末治之，一切病多是血虛，皆不可發表。</p>
<p><u>治驗</u></p>
<p>一產婦腹痛發熱，氣口脈大，余以為飲食停滯，不信，乃破血補虛，反寒熱頭痛，嘔吐涎沫，又用降火化痰理氣，四肢逆冷，泄瀉下墜，始信，謂余曰：何也?余曰：此脾胃虛之變症也，法當溫補。遂用六君加炮薑二錢，肉桂、木香一錢，四劑諸症悉退，再用補中益氣之劑，元氣悉復。</p>
<p>一婦人產後，腹痛後重，去痢無度，形體倦怠，飲食不甘，懷抱久郁，患繭唇，寐而盜汗如雨，竟夜不敢寐，神思消爍。余曰：氣血虛而有熱。用當歸大黃湯，內黃芩、連、柏炒黑，一劑汗頓止，再劑全止，乃用歸脾湯、八珍散兼服，元氣漸服而愈。</p>
<p>一產婦小腹作痛，服行氣破血之藥不效，其脈洪數，此瘀血內潰為膿也，以瓜子仁湯二劑痛止，更以太乙膏下膿而愈，產後多有此病，縱非癰患，用之更效。</p>
<p>一產婦小腹疼痛，小便不利，用薏苡仁湯，二劑痛止，更以四物加桃仁、紅花，下瘀血而愈。大抵此症，皆因榮衛不調，或瘀血停滯所致，若脈洪數已有，洪脈但數微有膿，脈遲緊乃瘀血，下之即愈。若腹脹大，轉側作水聲，或膿從臍出，或從大便出，宜用蠟礬丸、太乙膏及托裡藥。</p>
<p>一產婦小腹作痛有塊，脈芤而澀，以四物加玄胡索、紅花、桃仁、牛膝、木香，治之而愈。</p>
<p>一婦人產後，小腹患痛，服瓜子仁湯，下瘀血而痊。凡瘀血停滯，宜急治之，緩則腐化為膿，最難治療。若流注關節，則患骨疽，失治多為敗症。</p>
<p>一婦人因經水多，服澀藥止之，致腹作痛，以失笑散二服而瘳。</p>
<h3>產後血暈並失血</h3>
<p>產後元氣虧損，惡露乘虛上攻，眼花頭暈，或心下滿悶，神昏口噤，或痰壅盛者，急用失笑散主之。若血下多而暈，或神昏煩亂者，大劑芎歸湯補之，或芸薹子散，或童子小便，有痰加二陳湯。若因勞心力而致者，宜補中益氣加香附。若因氣血虛極不省人事，用清魂散，繼以芎歸湯及大補氣血之劑。凡產可預燒稱錘令赤以器盛之，急至床前以醋沃之，或以醋塗口鼻，聞之即醒，或用破舊漆器，或乾漆燒煙熏之，或用半夏末冷水和丸，入鼻孔中，並無前患。丹溪先生云：血暈因氣血俱虛，痰火泛上，宜以二陳導痰，或加減朱砂安神丸，以麥門冬湯下亦可。大凡產後口眼　斜等症，當大補氣血為主，而兼以治痰。若脾胃虛而不能固者，用六君子湯，至五七個月，宜服安胎飲，至八九個月，再加大腹皮、黃楊腦，如臨產時，更宜服保生無憂散，庶無前患。</p>
<p><u>治驗</u></p>
<p>一產婦月余矣，因怒兩脅脹痛，忽吐血甚多，發熱惡寒，胸腹脹滿，用八珍加柴胡、丹皮、炮薑而安，卻用十全大補，仍加炮薑而愈。前症因脾肺氣血虧損，而胸腹虛痞，雖投大補，若非薑桂辛溫助其脾肺，以行藥勢，亦無以施其功，而反助其脹耳。</p>
<p>家人婦產後，小腹作痛，忽牙關緊急，進以失笑散良久而蘇，又用四物加炮薑、白朮、陳皮而愈。</p>
<p>一產婦筋攣臂軟，肌肉掣動，此氣血俱虛，用十全大補湯而愈。</p>
<p>一產婦兩手麻木，服愈風丹、天麻丸，遍身皆麻，神思倦怠，晡熱作渴，自汗盜汗，此氣血俱虛也，用十全大補加炮薑數劑，諸症悉退，卻去炮薑，又數劑而愈。但內熱，此血虛也，</p>
<h3>產後發</h3>
<p>（　當作痙）</p>
<p>產後發　，因去血過多，元氣虧極；或外邪相搏，其形牙關緊急，四肢勁強；或腰背反張，肢體抽搐。若有汗而不惡寒者，曰柔　。若無汗而惡寒者，曰剛　。然產後患之，實由亡血過多，筋無所養而致。故傷寒汗下過多，潰瘍膿血大泄，多患之，乃敗症也。若大補血氣，多保無虞。若攻風邪，死無疑矣。</p>
<p><u>治驗</u></p>
<p>一產婦牙關緊急，腰背反張，四肢抽搐，兩目連札，余以為去血過多，元氣虧損，陰火熾盛，用十全大補加炮薑一劑而蘇，又數劑而安。</p>
<p>余在吳江史萬湖第，將入更時，聞喧嚷云：某家人婦，忽仆牙關緊急已死矣。詢云是新產婦出直廚，余意其勞傷血氣而發　也。急用十全大補加附子煎滾，令人推正其身，一人以手夾正其面，卻挖開其口，將藥灌之，不咽，藥已冷，令側其面出之，仍正其面復灌以熱藥，又冷又灌，如此五次，方咽下，隨灌以熟藥遂蘇。</p>
<h3>產後便血</h3>
<p>產後便血，或飲食起居，或六淫七情，以致元氣虧損，陽絡外傷。治法：若因膏粱積熱，用加味清胃散；若因醇酒濕毒，葛花解酲湯；若因怒動肝火，六君加柴、芍、芎、歸；若因郁結傷脾，加味歸脾湯；若因思慮傷心，妙香散；若因大腸風熱，四物加側柏、荊、防、枳殼、槐花；若因大腸血熱，四物加芩、連；若因腸胃虛弱，六君加升麻、柴胡；若因腸胃虛寒，六君加肉蔻、木香；若因元氣下陷，補中益氣加茯苓、半夏；若因氣虛，用六君、升麻；若因血虛，用四物；氣血俱虛，用八珍，俱加柴胡、升麻。大凡病久，或元氣虛弱，見病百端，皆因脾胃虧損，內真寒而外假熱，但用六君子，或補中益氣加炮薑溫補脾氣，諸症悉退。若四肢畏冷，屬陽氣虛寒，急加附子。病因多端，當臨症制宜，庶無誤矣。</p>
<p><u>治驗</u></p>
<p>一產婦糞後下血，諸藥不應，飲食少思，肢體倦怠，此中氣虛弱，用補中益氣加茱炒黃連五分，四劑頓止。但怔忡少寐，盜汗未止，用歸脾湯治之而痊。</p>
<p>一婦人但怒便血，寒熱口苦，或胸脅脹痛，或小腹痞悶，此木乘土，用六君加山梔、柴胡而愈，用補中益氣、加味逍遙二藥，而不復作。</p>
<p>一婦人久下血在糞前，屬脾胃虛寒，元氣下陷。用補中益氣加連炒吳茱一錢，數劑稍緩，乃加生吳茱五分，數劑而愈。</p>
<p>一婦人產後便血，口乾飲湯，胸脅膨滿，小腹悶墜，內熱晡熱，飲食不甘，體倦面黃，日晡則赤，洒淅惡寒，此脾肺氣虛，先用六君加炮薑、木香，諸症漸愈；用補中益氣將愈；用歸脾湯痊愈。後飲食失節，勞役兼怒氣，發熱血崩，夜間熱甚，譫語不絕，此熱入血室，用加味小柴胡，二劑而熱退；用補中益氣而血止；用逍遙散、歸脾湯，調理而康。</p>
<h3>產後大便不通</h3>
<p>產後大便不通，因去血過多，大腸干涸，或血虛火燥干涸，不可計其日期，飲食數多，用藥通之潤之，必待腹滿覺脹，目欲去而不能者，乃結在直腸，宜用豬膽汁潤之。若服苦參藥潤通，反傷中焦元氣，或愈加難通，或通而瀉不能止，必成敗症。若屬血虛火燥，用加味逍遙散。氣血俱虛，八珍湯。慎不可用麻子、杏仁、枳殼之類。</p>
<p><u>治驗</u></p>
<p>一產婦大便不通七日矣，飲食如常，腹中如故。余曰：飲食所入，雖倍常數，腹不滿脹，用八珍加桃杏二仁。至二十一日，腹滿，欲去，用豬膽汁潤之，先去干糞五七塊，後皆常糞而安。</p>
<p>一產婦大便八日不通，用通利之藥，中脘作痛，飲食甚少，或云：通則不痛，痛則不通。乃用蜜導之，大便不禁，吃逆不食。余曰：此脾腎復傷，用六君加吳茱、肉果、骨脂、五味數劑，喜其年壯，不然，多致不起。</p>
<h3>產後寒熱</h3>
<p>產後寒熱，因氣血虛弱，或脾胃虧損，乃不足之症。經云：陰虛則發熱，陽虛則惡寒。若兼大便不通，尤屬氣血虛弱，切不可用發表降火。若寸口脈微，名陽氣不足，陰氣上入於陽中則惡寒，用補中益氣湯。尺部脈弱，名陰氣不足，陽氣下陷於陰中則發熱，用六味地黃丸。</p>
<p>大抵陰不足，陽往從之，則陽內陷而發熱；陽不足，陰往從之，則陰上入而惡寒。此陰陽不歸其分，以致寒熱交爭，故惡寒而發熱也，當用八珍湯。若病後四肢發熱，或形氣倦怠，此元氣未復，濕熱乘之故耳，宜補中益氣湯。若肌熱大渴引飲，目赤面紅，此血虛發熱，用當歸補血湯，若認為寒則誤矣。</p>
<p><u>治驗</u></p>
<p>一產婦惡寒發熱，用十全大補加炮薑治之而愈。但飲食不甘，肢體倦怠，用補中益氣而安。</p>
<p>又飲食後犯怒，惡寒發熱，抽搐切牙，難候其脈，視其面色，青中隱黃，欲按其腹，以手護之，此肝木侮脾土，飲食停滯而作，用六君加木香一劑而安。</p>
<p>一產婦惡寒發熱，余欲用八珍加炮薑治之，其家知醫，以為風寒，用小柴胡湯。余曰：寒熱不時，乃氣血虛。不信，仍服一劑，汗出不止，譫語不絕，煩熱作渴，肢體抽搐，余用十全大補，二劑益甚，脈洪大，重按如無，仍以前東加附子，四劑稍緩，數劑而安。</p>
<h3>產後咳嗽</h3>
<p>產後咳嗽，或因陰血耗損，或因肺氣虧傷，或陰火上炎，或風寒所感。主治之法：若陰血虛者，用芎、歸、熟地、參、朮。肺氣傷者，用四君、芎、歸、桔梗。陰火上炎者，六味地黃加參朮。風寒所感者，補中益氣加桔梗、紫蘇。若瘀血入肺發喘，急用二味參蘇飲，多有得生者。若兼口鼻起黑，或鼻出血，急用前散，亦有得生者。然而，所患悉因胃氣不足，蓋胃為五臟之根本，人身之根蒂，胃氣一虛，五臟失所，百病生焉。但患者多謂腠理不密所致，殊不知肺屬辛金，生於己土，亦因土虛不能生金，而腠理不密，外邪所感。只陰火上炎亦壯土，金生腎水以制火為善。若逕治其病，則誤矣。</p>
<p><u>治驗</u></p>
<p>一產婦咳嗽聲重，鼻塞流涕，此風寒所感，用參蘇飲一鐘，頓愈六七，乃與補中益氣加桔梗、茯苓、半夏，一劑而痊，又與六君加黃　，以實其腠理而安。</p>
<p>一產婦朝吐痰，夕發熱，兼之無寐，泥用清痰降火，肌體日瘦，飲食日少，前症愈甚。余曰：早間吐痰，脾氣虛也；夜間發熱，肝血虛也；晝夜無寐，脾血耗也。遂用六君子湯、加味逍遙散、加味歸脾湯以次調補，不月而痊。</p>
<p>一產婦咳嗽痰盛，面赤口乾，內熱晡熱，徹作無時，此陰火上炎，當補脾腎，遂用補中益氣湯、六味地黃丸而愈。</p>
<p>一產婦咳而腹滿，不食涕唾，面腫氣逆，此病在胃，關於肺，用異功散而愈。</p>
<p>時疫墮胎咳嗽見小產。</p>
<h3>產後瘧疾</h3>
<p>產後瘧疾，因脾胃虛弱，飲食停滯，或因外邪所感，或鬱怒傷脾，或暑邪所伏，審系飲食，用六君加桔梗、蒼朮、藿香。如外邪多而飲食少，用藿香正氣散。如外邪少而飲食多，用人參養胃湯。飲食勞役，用補中益氣湯。氣血虛弱，用十全大補加炮薑，虛寒用六君加薑、桂。元氣脫陷，急加附子。大凡久瘧，多屬元氣虛寒，蓋氣虛則寒，血虛則熱，胃虛則惡寒，陰火下流則寒熱交作，或吐瀉不食，腹痛煩渴，發熱譫語，或手足逆冷，寒戰如栗，雖見百症，當峻溫補，其病自退，若誤用清脾、截瘧之類，多致不起。</p>
<p><u>治驗</u></p>
<p>一產婦患瘧，發熱作渴，胸膈脹滿，遍身作痛，三日不食，咽酸噯氣，此是飲食所傷，脾胃不能消化，用六君加神麯、山楂，四劑而不作酸，乃去神麯、山楂，又數劑而飲食進，其大便不通，至三十五日，計進飲食七十余碗，腹始悶，令用豬膽汁導而通之，其糞且不甚燥。</p>
<p>一產婦患瘧久不愈，百病蜂起，其脈或洪大，或微細，或弦緊，或沉伏，難以名狀，用六君加炮薑二十余劑，脈症稍得；又用參朮煎膏，佐以歸脾湯，百余劑而瘥。</p>
<p>一產婦朝寒暮熱，或不時寒熱，久不愈，用六君子、補中益氣兼服，百余劑而尋愈。</p>
<p>產後瘧疾心脾痛見小產。</p>
<h3>產後瀉痢</h3>
<p>（二症治同兼嘔吐）</p>
<p>產後瀉痢，或因飲食傷損脾土，或脾土虛不能消食，當審而治之。若米食所傷，用六君加穀。若面食所傷，用六君加麥　。若肉食所傷，用六君加山楂、神麯。凡兼嘔吐，皆加藿香。若兼咽酸或嘔吐，用前藥送越鞠丸。若肝木來侮脾土，用六君加柴胡、炮薑。若寒水反來侮土，用錢氏益黃散。若久瀉，或元氣下陷，兼補中益氣湯以升發陽氣。若瀉痢色黃，乃脾土真氣，宜加木香、肉果。若屬脾土虛寒，當用六君加木香、薑、桂。若脾腎虛寒，用補中益氣及四神丸。若屬命門火衰，而脾土虛寒，用八味丸以補土母。若小便澀滯，肢體漸腫，或兼喘咳，用金匱腎氣丸以補脾腎，利水道。若胃氣虛弱，而四肢浮腫，治須補胃為主。若久而不愈，或非飲食所傷而致，乃屬腎氣虧損。蓋胞胎主於任而系於腎，況九月十月，乃腎與膀胱所養，必用四神、六味、八味三藥以補腎，若用分利導水之劑，是虛其虛也。</p>
<p><u>治驗</u></p>
<p>一產婦瀉痢，發熱作渴，吐痰甚多，肌體消瘦，飲食少思，或胸膈痞滿，或小腹脹墜年余矣，余以為脾胃瀉，朝用二神丸，夕用六君子湯，三月余而痊。</p>
<p>一婦人產後泄瀉，兼嘔吐咽酸，面目浮腫，此脾氣虛寒，先用六君加炮薑為主，佐以越鞠丸而咽酸愈，又用補中益氣加茯苓、半夏而脾胃康。</p>
<p>一產婦瀉痢年余，形體骨立，內熱晡熱，自汗盜汗，口舌糜爛，日吐痰三碗許，脈洪大，重按全無，此命門火衰，脾土虛寒而假熱，然痰者乃脾虛不能統攝歸源也，用八味丸補火以生土，用補中益氣湯兼補肺金而脾胃健。</p>
<p>一產婦腹痛後重，去痢無度，形體倦怠，飲食不進，與死為鄰，此脾腎俱虛，用四神丸、十全大補湯而愈。但飲食難化，肢體倦怠，用補益湯調理而康。</p>
<p>一婦人五月患痢，日夜無度，小腹墜痛，發熱惡寒，用六君子湯送香連丸，二服漸愈，仍以前湯送四神丸，四服痊愈。至七月終，怠惰嗜臥，四肢不收，體重節痛，口舌乾燥，飲食無味，大便不實，小便頻數，洒淅惡寒，淒慘不樂，此肺之脾胃虛，而陽氣寒不伸也，用升陽益胃湯而痊。</p>
<h3>附方並注</h3>
<p><u>加味逍遙散</u></p>
<p>　治血虛有熱，遍身搔癢，或口燥咽乾，發熱盜汗，食少嗜臥，小便澀滯等症。</p>
<p>甘草（炙）　當歸（炒）　芍藥（酒炒）　茯苓　白朮（炒）　柴胡（各一錢）　牡丹皮　山梔（炒。各五分）</p>
<p>上水煎服。</p>
<p><u>逍遙散</u></p>
<p>　即前方去丹皮、山梔。</p>
<p><u>歸脾湯</u></p>
<p>　治脾經失血，少寐發熱，盜汗，或思慮傷脾，不能攝血妄行；或健忘怔忡，驚悸不寐；或心脾傷痛，怠惰嗜臥，飲食不思。</p>
<p>人參　白朮　白茯苓　黃　（炒）　當歸　龍眼肉　遠志　酸棗仁（炒。各一錢）　木香（五分）　甘草分）</p>
<p>上薑棗水煎服。</p>
<p><u>加味歸脾湯</u></p>
<p>　即前方加柴胡、山梔。</p>
<p><u>補中益氣湯</u></p>
<p>　治元氣不足，四肢倦怠，口乾發熱，飲食無味，或飲食失節，勞倦身熱，脈洪大而無力，或頭痛發熱，或惡寒自汗，或氣高而喘，身熱而煩。</p>
<p>黃　（炙，一錢五分）　甘草（炙）　人參　當歸（酒拌）　白朮（炒。各一錢）　升麻　柴胡（各三分）　陳皮（一錢）</p>
<p>上薑棗水煎服。</p>
<p><u>六君子湯</u></p>
<p>　即異功散加半夏。</p>
<p><u>十全大補湯</u></p>
<p>　治諸臟虧損，氣血俱虛，惡寒發熱；或自汗盜汗，便血吐血；或大便不實，飲食少思；或胸腹作痛，口舌生瘡；或耳目不明，牙齒不固。</p>
<p>人參　白朮　白茯苓　黃　當歸　川芎　熟地黃（酒洗蒸焙）　白芍藥（炒。各一錢）　肉桂　甘上薑棗水煎服。</p>
<p><u>八珍湯</u></p>
<p>　治脾胃虧損，氣血俱虛，乃內傷之症。蓋人之生，以脾胃為主，脾胃一虛，諸臟失所，百病生焉。即前方大補湯，去黃　、肉桂。</p>
<p><u>當歸補血湯</u></p>
<p>　治肌熱躁熱，目赤面紅，煩渴引飲，晝夜不息，脈洪大而虛，重按全無，此脈虛血虛也，若誤服白虎湯必死。</p>
<p>當歸（三錢）　黃　（炙，一兩）</p>
<p>上水煎服。</p>
<p><u>清胃散</u></p>
<p>　治胃經濕熱，牙齒或牙根腫痛，或牽引頭腦，或面發熱。</p>
<p>當歸身（酒拌，一錢）　黃連　生地黃（酒拌）　升麻（各二錢）　牡丹皮（一錢五分）</p>
<p>上水煎服。</p>
<p><u>加味清胃散</u></p>
<p>　治脾胃有熱，口內生瘡，或齒作痛，或齦腐爛。即前方加犀角、連翹、甘草。</p>
<p><u>小柴胡湯</u></p>
<p>　治肝膽經症，寒熱往來，或晡熱潮熱，不欲飲食；或口苦耳聾，咳嗽發熱，或脅痛滿，轉側不便；或瀉痢咳嗽，嘔吐酸水。</p>
<p>柴胡（二錢）　黃芩（一錢五分）　半夏（一錢）　人參（一錢）　甘草（炙，五分）</p>
<p>上薑棗水煎服。</p>
<p><u>加味小柴胡湯</u></p>
<p>　治婦女經行，感冒發熱，熱入血室，寒熱如瘧，晝則安靜，夜則發熱妄語；或素血虛，大勞大怒火動，熱入血室亦能致。此即前方加生地黃。</p>
<p><u>當歸六黃湯</u></p>
<p>　治氣血虛，而發熱盜汗等症。</p>
<p>當歸（二錢）　黃　（炒）　生地黃　熟地黃（各一錢）　黃連（炒焦）　黃芩（炒焦）　黃柏（炒焦。各五分）</p>
<p>上水煎服。</p>
<p><u>黃芩清肺飲</u></p>
<p>　治肺熱而小便不利。</p>
<p>黃芩　山梔（各一錢）</p>
<p>上水煎服。不利，加鹽豉二十粒。</p>
<p><u>六味丸</u></p>
<p>（一名地黃丸，加肉桂一兩名加減八味丸）　治腎虛發熱，作渴唾痰，小便淋瀝，頭暈眼花，咽燥唇裂，齒不堅固，腰腿酸軟，自汗盜汗，便血諸血，失喑，水泛為痰之聖藥，血虛熟地黃（半斤，杵膏）　山茱萸肉　干山藥（各四兩）　牡丹皮　白茯苓　澤瀉（各三兩）</p>
<p>上各另為末，和地黃加煉蜜丸桐子大。每服七八十丸，空心食前白滾湯下。地黃須自製。</p>
<p><u>八味丸</u></p>
<p>　治命門火衰，不能生土，以致脾胃虛寒，飲食少思；或臍腹疼痛，或多漩溺。即前方加桂附各一兩。</p>
<p><u>加減八味丸</u></p>
<p>　即六味丸加肉桂一兩。</p>
<p><u>加減濟生腎氣丸</u></p>
<p>　治脾腎虛，腰重腳腫，濕飲留積，小便不利；或肚腹腫脹，四肢浮腫，氣喘痰甚；或已成水症，其效如神。</p>
<p>白茯苓（三兩）　附子（半兩）　川牛膝　桂心　澤瀉　車前子　山茱萸　山藥　牡丹皮（各一兩）　熟地黃（四兩，掏碎，酒拌杵膏）</p>
<p>上為末，和地黃膏，加煉蜜丸，桐子大。每服七八十丸，空心米飲下。</p>
<p><u>四物二連湯</u></p>
<p>　治血虛發熱，或口舌生瘡，或晝安夜熱。</p>
<p>當歸　川芎　芍藥　熟地黃　胡黃連　宣黃連（各一錢）</p>
<p>上作一劑，水煎服。</p>
<p><u>白虎湯</u></p>
<p>　治胃熱作渴，暑熱尤效。</p>
<p>知母（一錢五分）　石膏（四錢）　粳米（一合）</p>
<p>上作一劑，水煎服。</p>
<p><u>錢氏益黃散</u></p>
<p>　治脾土虛寒，水反來侮土，而嘔吐不食，或肚腹作痛，或大便不實，手足逆冷陳皮（一兩）　青皮　訶子肉　甘草（炙）　丁香（二錢）</p>
<p>上為粗末，每服四錢，水煎服。</p>
<p><u>二神丸</u></p>
<p>　治脾腎虛弱，侵晨五更作瀉，或全不思食，或食而不化，大便不實，神效。</p>
<p>破故紙（四兩，炒）　肉豆蔻（二兩，生用）</p>
<p>上為末，用大紅棗四十九枚，生薑四兩，切碎同棗用水煮熟，去薑取棗肉，和藥丸桐子大。每服五十丸，空心鹽湯下。</p>
<p><u>人參理中湯</u></p>
<p>　治脾胃虛寒，嘔吐泄瀉，飲食少思，肚腹膨脹。</p>
<p>人參　白朮　乾薑（炮）　甘草（炙。各一錢）</p>
<p>上薑棗水煎服。</p>
<p><u>附子理中湯</u></p>
<p>　治脾胃虛寒，手足俱冷，飲食不入，或腸鳴切痛，嘔逆吐瀉。即前方加附子一</p>
<p><u>四君子湯</u></p>
<p>　治脾胃虛損，飲食少思，或大便不實，肢體消瘦，或胸膈虛痞，痰嗽吞酸，或脾胃虛弱，停食而患瘧痢，或瘧痢因脾胃虛而不能愈。</p>
<p>人參　白朮　茯苓（各二錢）　甘草（各一錢）</p>
<p>上薑棗水煎服。</p>
<p>若因肝木克脾土而致，宜加柴胡、芍藥。若命門火衰而患，宜兼八味丸。</p>
<p><u>異功散</u></p>
<p>　即前東加陳皮，治脾胃虛弱，飲食少思，或久患咳嗽，或腹滿不食，面浮氣逆等症。</p>
<p><u>人參橘皮湯</u></p>
<p>　治脾胃虛弱，氣滯惡阻，嘔吐痰水。</p>
<p>甘草（三分）　厚朴（制）　白茯苓（去皮。各五分）　人參　陳皮　白朮　麥門（去心。各一錢）</p>
<p>上用淡竹茹一塊薑水煎溫服。</p>
<p>若因中脘停痰，宜用二陳、枳殼。若因飲食停滯，宜用六君子加枳殼。若因脾胃虛，宜用異功</p>
<p><u>竹葉湯</u></p>
<p>　治妊娠心驚膽怯，煩悶不安，名曰子煩。</p>
<p>白茯苓　麥門　黃芩（各三兩）</p>
<p>上每服四錢，竹葉五片，水煎服。</p>
<p>若因血虛煩熱，宜兼用四物。若因中氣虛弱，宜兼四君。</p>
<p><u>紫蘇飲</u></p>
<p>　治妊娠失調，胎氣不安，上　作痛，名子懸。</p>
<p>大腹皮　川芎　白芍　陳皮　蘇葉　當歸（各一兩）　人參　甘草（各半兩）</p>
<p>上薑蔥水煎服。</p>
<p>若肝脾氣血虛而有火不安，宜兼逍遙散。若脾氣虛弱而不安，宜用四君、芎、歸。</p>
<p><u>膠艾湯</u></p>
<p>　治妊娠頓仆，胎動不安，腰腹疼痛，或胎上搶，或去血腹痛。</p>
<p>膠（一兩，炙）　艾葉（數莖）</p>
<p>上二味，以水服一錢，取二升，分三服。</p>
<p><u>阿膠散</u></p>
<p>　或頓仆，或因毒藥，胎動不安，或脅痛腹痛，上搶短氣。</p>
<p>熟地黃　艾葉　白芍　川芎　黃　阿膠　當歸　甘草（炙。各一兩）</p>
<p>上每服四錢，薑棗水煎。</p>
<p><u>枳殼湯</u></p>
<p>　治胎漏下血，或因事下血。</p>
<p>枳殼（炒）　黃芩（炙，半兩）　白朮（一兩）</p>
<p>上為末，每服一錢，白湯調下。</p>
<p><u>二黃散</u></p>
<p>　治胎漏下血，或內熱晡熱，或頭痛頭暈，或煩躁作渴，或脅肋脹痛等症。</p>
<p>生地黃　熟地黃上為末，每服三錢，煎白朮、枳殼湯下。</p>
<p>前四症若因脾胃虛弱，宜用補中益氣東加五味。若因脾胃虛陷，宜用前湯倍用升麻、柴胡。</p>
<p>若因晡熱內熱，宜用逍遙散。</p>
<p><u>知母丸</u></p>
<p>　治妊娠頓仆胎動不安，或欲墮產。用知母一味，炒為末，丸梧桐子大。每服二十丸，白湯下，或嚼咽之。</p>
<p><u>地黃當歸湯</u></p>
<p>　治血虛胎動。</p>
<p>當歸（一兩）　熟地黃（二兩）</p>
<p>上每服五錢，水煎。</p>
<p>若因脾胃弱而血虛者，宜用四君、芎、歸。氣血俱虛者，宜用八珍湯。</p>
<p><u>金生白朮散</u></p>
<p>　治妊娠，面目虛浮，四肢腫如水氣，名曰胎腫。</p>
<p>白朮（一兩）　生薑皮　大腹皮　陳皮　白茯苓（各半兩）</p>
<p>上各為末，每服二錢，米飲下。</p>
<p>若未應，佐以四君子湯。</p>
<p><u>天仙藤散</u></p>
<p>　治妊娠自三月之後，足指發腫，漸至腿膝，飲食不甘，狀似水氣，或腳指間出黃水，名曰子氣。</p>
<p>天仙藤（洗略炒）　香附（炒）　陳皮　甘草　烏藥（各等分）</p>
<p>上每服三五錢，生薑　木瓜各三片，紫蘇三葉，水煎食前日進三服。</p>
<p>若因脾胃虛弱，宜兼六君子。中氣下陷，須用補中益氣湯。</p>
<p><u>安榮散</u></p>
<p>　治妊娠，小便澀少，遂成淋瀝，名曰子淋。</p>
<p>麥門冬（去心）　通草　滑石（各二錢）　當歸　燈心　甘草（各五錢）　人參　細辛（各一兩）</p>
<p>上為末，每服二錢，煎麥門湯調下。</p>
<p>若因肺經蘊熱，宜用黃芩清肺飲。若因膏粱濃味，宜用清胃散。若因肝經濕熱，宜用加味逍</p>
<p><u>羚羊角散</u></p>
<p>　治妊娠，虛風頸項，強直，筋脈攣急，語言蹇塞，痰涎不利，或時發搐，或不省羚羊角（鎊）　川獨活　酸棗仁（炒）　五加皮（各五錢）　薏苡仁　防風　當歸　川芎　茯神　杏仁（各四分）　木香　甘草（各二分半）</p>
<p>上每服五薑水煎。</p>
<p>若因肝經風熱，或怒火所致，須用加味逍遙散。</p>
<p><u>安胎飲</u></p>
<p>　治妊娠五七個月，用數服可保全產。</p>
<p>白朮　人參　當歸　川芎　熟地黃　白芍　陳皮　甘草　紫蘇　炙黃芩（各一錢）</p>
<p>上用薑水煎服。</p>
<p>若因中氣虛弱，須用四君子加陳皮、紫蘇。若陰虛內熱，宜用四物、黃芩、白朮。</p>
<p><u>二陳湯</u></p>
<p>　治妊娠失調，脾胃不和，嘔吐痰涎，或飲食不思。</p>
<p>陳皮　茯苓（各一錢五分）　半夏（一錢）　甘草（五分）</p>
<p>上薑水煎服。脾胃虛弱，用六君子。氣滯用紫蘇飲。</p>
<p><u>麥門冬湯</u></p>
<p>　治妊娠失於調養，內熱口乾，或胎動不安。</p>
<p>麥門冬（去心）　防風　白茯苓（各二錢）　人參（一錢）</p>
<p>上作一劑，水煎服。</p>
<p>若血虛有熱，用逍遙散。氣虛有熱，用四君加黃芩、紫蘇。</p>
<p><u>鯉魚湯</u></p>
<p>　治胸滿腹脹，小便不通，遍身浮腫。</p>
<p>白朮　茯苓　當歸　芍藥（各三兩）</p>
<p>上細銼，用鯉魚一頭，煮取汁，每藥四錢，入汁一盞半，薑七片，橘皮少許煎服。</p>
<p>若脾胃虛，佐以四君子湯。</p>
<p><u>達生散</u></p>
<p>　治妊娠，八九月服數劑，甚效。</p>
<p>大腹皮（用黑豆汁洗晒，三錢）　人參　甘草炙　紫蘇梗葉　陳皮（各五分）</p>
<p>上水煎，入黃楊葉七莖，蔥五葉，煎服。</p>
<p>春加川芎，夏加黃芩，冬依正方，或有別症，以意消息加減。</p>
<p><u>保生無憂散</u></p>
<p>　臨產服之，補其血，順其氣使易產。又治小產瘀血腹痛。</p>
<p>南木香　當歸　川芎　白芍藥　枳殼　乳香　血余（即亂髮，　）</p>
<p>上等分，每服二三錢，水煎，日二服。</p>
<p>若胞衣既破，其血已涸，或元氣困憊，急用八珍湯斤許，水數碗，煎熟時飲救之，飲盡再制</p>
<p><u>芎歸補中湯</u></p>
<p>　治氣血虛半產。</p>
<p>艾葉（代薑）　阿膠（炒）　川芎　五味子（杵炒）　黃　（炙）　當歸　白朮（炒）　芍藥（炒）　人參　杜仲（炒。</p>
<p>上每服五錢，水煎服。</p>
<p>若脾氣虛弱，須用補中益氣湯。若氣虛而有火，宜用安胎飲。</p>
<p><u>人參黃　湯</u></p>
<p>　治小產氣虛，血下不止。</p>
<p>人參　黃　當歸（炒）　白朮（炒）　白芍（炒）　艾葉（各一錢）　阿膠（炒，二錢）</p>
<p>上作一劑，水煎服。</p>
<p><u>芸薹散</u></p>
<p>　治孕婦九竅出血，或作暈欲死。</p>
<p>芸薹子　當歸（焙。各一錢）　芍藥　官桂（各半錢）</p>
<p>上為末，每服三錢，以酒並童便各半盞，調灌下立瘥。或一味童便溫飲尤效。</p>
<p>前二症，若脾胃氣虛不能統血，宜用四君、芎、歸。中氣下陷，補中益氣湯。若血脫，須補</p>
<p><u>當歸川芎湯</u></p>
<p>　治小產後瘀血，心腹疼痛，或發熱惡寒。</p>
<p>當歸　川芎　熟地黃　白芍藥（炒）　玄胡索（炒）　桃仁　紅花　香附　青皮（炒）　澤蘭　牡丹皮上水煎，入童便、酒各小半盞服。</p>
<p>若以手按腹愈痛，此是瘀血為患，宜用此藥或失笑散消之。若按之反不痛，此是血虛，宜用四物，參、苓、白朮。若痛而作嘔，此是胃虛，宜用六君子。若痛而作瀉，此是脾虛，宜用六君子送二神丸。</p>
<p><u>四物湯</u></p>
<p>　治產後及諸症血虛發熱，或口舌生瘡，或齒齦腫潰，或日晡發熱。</p>
<p>當歸　熟地黃（各三兩）　芍藥（炒三錢）　川芎（一錢五分）</p>
<p>上作一劑水煎服。</p>
<p>若因氣虛不能生血，而患前症，宜補脾胃。</p>
<p><u>加味四物湯</u></p>
<p>　即前方加白朮、茯苓、柴胡、丹皮。</p>
<p><u>四神散</u></p>
<p>　治產後血虛，或瘀血腹痛。</p>
<p>當歸（二錢）　川芎　芍藥（炒。各一錢）　炮薑（五分）</p>
<p>上水煎服。</p>
<p><u>當歸散</u></p>
<p>　治產後氣血虛，惡露內停，增寒發熱，宜服此去之。</p>
<p>當歸　白芍（炒）　川芎　黃芩（各一兩）　白朮（五錢）</p>
<p>上為細末，溫童便調下二錢。</p>
<p><u>失笑散</u></p>
<p>　治產後心腹絞痛欲死，或血迷心竅，不知人事，及尋常腹內瘀血，積血作痛。</p>
<p>五靈脂　蒲黃（俱炒，等分）</p>
<p>上每服三錢，酒煎熱服。</p>
<p>若瘀血去多，而元氣虛損所致，宜用四君、芎、歸、炮薑。</p>
<p><u>解語湯</u></p>
<p>　治風客心脾，舌強不言。</p>
<p>附子（炮）　防風　天麻　酸棗仁（各一兩，炒）</p>
<p>上每服二三錢，水煎服。</p>
<p>若因脾胃風熱，用秦艽升麻湯。</p>
<p><u>抱膽丸</u></p>
<p>　治心驚不語，或癲癇等症。</p>
<p>水銀（二兩）　黑鉛（五錢）　朱砂（細研）　乳香（另研。各一兩）</p>
<p>上將鉛入銚下，水銀成砂，次下朱砂、乳香，乘熱用木棰研勻丸，雞頭大。每服一丸。</p>
<p>若因心氣虛，用妙香散。</p>
<p><u>二母散</u></p>
<p>　治產後惡露上攻，留於肺經，咳嗽喘促。</p>
<p>知母　貝母　白茯苓　人參　桃仁　杏仁（並去皮尖。各一兩）</p>
<p>上每服五錢，薑水煎。</p>
<p>若瘀血既去，而嗽仍作，宜補中氣。</p>
<p><u>二味參蘇飲</u></p>
<p>　治產後瘀血入肺，咳嗽喘急。</p>
<p>人參（一兩）　蘇木（二兩）</p>
<p>上作一劑，水煎服。</p>
<p>若既愈，而當用六君子以補脾胃。若口鼻黑氣起，急用此藥加附子五錢，亦有得生者。</p>
<p><u>清魂散</u></p>
<p>　治產後元氣虛，瘀血逆行作暈。</p>
<p>澤蘭葉　人參（各一兩）　荊芥穗（四兩）　川芎（二兩）　甘草（炙，八錢）</p>
<p>上為末，熱湯溫酒各半，調下二錢。</p>
<p>若因瘀血去多，宜四物加參、苓、白朮，不應，血脫也，急補其氣。</p>
<p><u>朱砂安神丸</u></p>
<p>　治產後血暈、心神驚悸等症。</p>
<p>朱砂（飛過，五錢）　生地黃（一錢半）　黃連（酒洗，六錢）　甘草（炙，五分）　當歸（一錢五分）</p>
<p>上為末，飯糊為丸，每服十五丸。</p>
<p>若因中氣虛，宜用四君、芎、歸。兼思慮傷脾，須用歸脾湯。</p>
<p><u>奪命丹</u></p>
<p>　治瘀血入衣胞，脹滿難下，急服此藥，血即消，衣自下。</p>
<p>附子（半兩，炮）　牡丹皮（一兩）　乾漆（一兩碎之，炒令煙盡）</p>
<p>上為細末，好醋一升，大黃末一兩，同熬成膏，和藥丸，如桐子大，溫酒吞五七丸。</p>
<p><u>花蕊石散</u></p>
<p>　治胎衣不下，其效如神，及打撲傷損，腹中瘀血，脹痛欲死，服之血化為水，其功不能盡述。</p>
<p>硫黃（上色明淨者，四兩，搗細末）　花蕊石（一兩，搗為細末）</p>
<p>上二味相拌和勻，先用紙筋和鹽泥固濟瓦罐子一個，候泥干入藥，再用泥封口候干，安在四方磚上，虛書八卦五行字，用炭三十斤，周疊　之，候冷取出為細末。每服一錢，童便調下</p>
<p><u>平胃散</u></p>
<p>　治腸胃寒受濕下血等症。</p>
<p>蒼朮　厚朴　陳皮　甘草（炙）</p>
<p>上薑棗水煎服。</p>
<p><u>益母草丸</u></p>
<p>　五月采陰乾石器為末，煉蜜丸，彈子大。臨產以童便和溫酒化下。</p>
<p><u>加味芎歸湯</u></p>
<p>　治分娩交骨不開，或五七日不下，垂死者。</p>
<p>生男女婦人（發一握，燒灰存性）　川芎　當歸（各一兩）　自死龜殼（一個，如無占過者亦可酥炙）</p>
<p>上為末，每一兩，水煎服，良久不問，生死胎自下。</p>
<p><u>芎歸湯</u></p>
<p>　治產後去血過多，暈煩不省，用川芎、當歸二味等份，每劑半兩、水煎服。</p>
<p>若腹疼加桂。腹痛自汗，頭眩少氣，加羊肉，若不應，用八珍湯。</p>
<p><u>七味白朮散</u></p>
<p>　治中氣虛口乾，或吐瀉等症。</p>
<p>人參　白朮　木香　白茯苓　甘草　藿香　干葛（各一錢）</p>
<p>上作一劑，水煎服。</p>
<p><u>選奇湯</u></p>
<p>　治風熱上壅，眉棱骨痛，或頭目眩暈等症。</p>
<p>羌活　防風（各二錢）　甘草（二錢，夏生冬炒）　酒芩（冬去之，熱甚用）</p>
<p>上每服三錢，水煎，時時飲之。</p>
<p><u>葛花解酲湯</u></p>
<p>　治酒積，上下分消其濕。</p>
<p>白豆蔻　砂仁　葛花（各五錢）　木香（五分）　青皮（三錢）　陳皮　白茯苓　豬苓　人參（各一錢半）</p>
<p>白朮　神麯炒　澤瀉　生乾薑（各二錢）</p>
<p>上為細末，每服五錢，白湯調下。</p>
<p><u>藿香正氣散</u></p>
<p>　治外感風寒，內停飲食，頭痛寒熱，或霍亂泄瀉，或作瘧疾。</p>
<p>桔梗　大腹皮　紫蘇　茯苓　白芷　半夏曲　陳皮白朮　厚朴（制。各一錢）　甘草（炙，五分）</p>
<p>藿香（一錢五分）</p>
<p>上作一劑，薑棗水煎熱服。</p>
<p><u>清燥湯</u></p>
<p>　治元氣虛，濕熱乘之，遍身酸軟，絕寒水生化之源，小便赤少，大便不調等症。</p>
<p>黃　（一錢五分）　五味子（九粒，杵炒）　黃連　神麯（炒）　豬苓　柴胡　甘草（炙。各二分）　蒼朮麥門冬　陳皮　白朮　生地黃　澤瀉（各五分）　白茯苓　人參　當歸　升麻（各三分）　酒柏（一分）</p>
<p>上作一劑，水煎服。</p>
<p><u>人參養胃湯</u></p>
<p>　治外感風寒，內傷飲食，寒熱頭疼，或作瘧疾。</p>
<p>半夏　厚朴（制）　橘紅（八分）　藿香葉　草果　茯苓　人參（五分）　甘草（炙，三分）　蒼朮（一錢）</p>
<p>上作一劑，薑七片，烏梅一個，水煎服。</p>
<p><u>大防風湯</u></p>
<p>　治足三陰虛，患鶴膝風、歷節痛風等症，不問或腫而不痛，或潰未斂。</p>
<p>附子（炮去皮臍，一錢）　白朮（炒）　羌活　人參（各二錢）　川芎（一錢五分）　防風（二錢）　甘草（炙）</p>
<p>牛者自製）</p>
<p>上作二劑，水煎服。</p>
<p><u>獨活濟生湯</u></p>
<p>　治鶴膝及歷節痛風等症。</p>
<p>白茯苓　杜仲　當歸（酒洗）　防風　白芍藥　人參　細辛　桂心　熟地黃　牛膝　秦艽　芎桑寄生　甘草（各二兩）　獨活（三兩）</p>
<p>上每服一兩，薑水煎。</p>
<p><u>羌活勝濕湯</u></p>
<p>　治痛風，血虛腫痛，身重脈緩等症。</p>
<p>羌活　獨活（去蘆，一錢）　本　防風　川芎　甘草（炙）　蔓荊子（各五分）</p>
<p>上作一劑，薑水煎服。</p>
<p><u>附子八物湯</u></p>
<p>　治歷節作痛，發熱作渴，飲食少思等症。</p>
<p>附子（炮）　乾薑（炮）　芍藥（炒）　茯苓　人參　甘草（炙。各一錢半）　肉桂（一錢）　白朮（二錢）</p>
<p>上作一劑，水煎食前服。</p>
<p><u>四生散</u></p>
<p>　治　腿生瘡，或癬疥等症。</p>
<p>白附子　黃　羌活　沙苑　蒺藜上各等分為末，每服二錢，用豬腰子擗開入藥，濕紙包裹，煨熟細嚼，鹽湯下，風癬酒下。</p>
<p><u>妙香散</u></p>
<p>　治心脾虧損，大便下血，又治心氣不足，精神恍惚，少睡盜汗。</p>
<p>人參　桔梗　甘草（各五錢）　遠志（去心）　山藥（薑汁炙）　茯苓（去皮）　黃　（各一兩）　辰砂（三錢，另上為末，每服二錢，溫酒調服。</p>
<p><u>漏蘆散</u></p>
<p>　治血風走注，作痛無定處。</p>
<p>漏蘆　當歸　牛膝（各三分）　桂心　地龍（去土）　防風　羌活　白芷　沒藥（研）　甜瓜子（各半兩）</p>
<p>虎脛骨（酥炙）　敗龜（各一兩，炙）</p>
<p>上為細末，每服二錢，熱酒調下。</p>
