<header><h1>醫壘元戎</h1></header>
<dl class="元資料" data-type="book">
<div><dt>作者</dt><dd>王好古</dd></div>
<div><dt>朝代</dt><dd>元</dd></div>
<div><dt>年份</dt><dd><data value="1271/1368">公元1271年至公元1368年</data></dd></div>
<div><dt>底本</dt><dd>《欽定四庫全書·子部五·醫家類·醫壘元戎》（<a href="https://www.kanripo.org/text/KR3e0056/">掃描及文字化本</a>）</dd></div>
</dl>
<h2>傷寒不可汗不可下不可吐諸證</h2>
<p>大發春宜吐夏宜汗秋宜下凡用藥汗及吐下湯劑皆中病即止若少陽病脈微不可發汗亡陽故也宜附子湯　若陽已虛尺中弱澀者復不可下之宜小柴胡湯若動氣在左在右在上在下並不可發汗宜柴胡桂枝湯若少陰病脈細沉數病在裡不可發汗宜當歸四逆湯　若少陽病不可發汗宜小柴胡湯　若咽中閉塞咽喉干燥亡血衄家淋家瘡家不可發汗以上六證並宜小柴胡湯　若下利清穀不可發汗宜理中湯四逆湯之類　若四逆厥及虛家皆不可吐厥者宜當歸四逆湯　虛宜附子湯　有熱人宜黃　人參建中湯　本虛攻其熱必噦宜小柴胡湯　若少陰膈上寒乾嘔不可吐宜小半夏加橘皮湯溫中丸　若咽中有動氣不可下咽中閉塞不可下宜烏扇湯若外實者不可下諸四逆厥者不可下虛家亦然厥宜當歸四逆湯　虛者宜附子湯　有熱宜黃人參建中湯　若脈浮而緊法當身疼痛宜以汗解假令尺中遲者不可發汗榮氣不足血少故也宜小柴胡湯　若脈濡而緊濡則衛氣弱緊則榮中寒陽微衛中風發熱而惡寒榮緊衛氣冷微嘔心內煩此不可汗宜小柴胡湯　若濡而弱不可發汗宜小柴胡湯　若浮而大浮為氣實大而血虛小便當赤而難胞中當虛今反小便利而大汗出法應衛家微可與小建中湯　若反更實津液四射榮竭血盡干煩而不得眠此不可下宜與小柴胡湯　若脈浮大應發汗宜柴胡桂枝湯　若脈浮而緊者不可下而反下之為大逆宜桂枝麻黃各半湯　若脈數不可下宜柴胡桂枝湯　或下之必煩利不止宜葛根黃芩黃連湯　若脈澀弱浮數不可下宜小柴胡湯　若濡弱微澀微則陽氣不足中風汗出而反躁煩澀則無血厥而且寒不可下宜桂枝甘草牡蠣龍骨湯　若結胸脈浮大不可下下之即死宜小陷胸湯　若陽病多者熱下之則硬宜小柴胡湯　若太陽發汗不徹轉屬陽明微汗出不惡寒若太陽證不罷不可下之下之為逆宜桂枝麻黃湯　若太陽病有外證未解不可下下之為逆宜桂枝麻黃湯　若病發於陽而反下之熱入因作結胸病發於陰而反下之因作痞　結胸則有陷胸湯丸三　痞則有瀉心湯五　若太陽與陽明合病喘而胸滿不可下宜麻黃杏子甘草石膏湯　若太陽與少陽合病心下硬頸項強而眩者不可下宜小柴胡湯　若病欲吐者不可下宜小半夏加橘皮湯太陰腹痛吐食自利腹痛下之必胸下結硬厥陰病　氣上衝心心中熱飢不欲食食則吐蛔下之則利不止　若少陰病飲食入口則吐心中溫溫欲吐腹痛能吐始得之手足寒脈弦遲者此胸中寒食不可下也宜溫中湯生薑汁半夏湯　若無陽陰強大便硬者下之必清穀腹滿宜用蜜煎導法　若傷寒五六日不結胸腹濡脈虛復厥者不可下此亡血也宜當歸四逆湯下之則死宜四逆東加人參湯　若藏結無陽證不往來寒熱其人反靜舌上胎滑者不可攻也謂下也宜用小柴胡湯　若傷寒嘔多雖有陽明證不可攻之宜小柴胡湯　若陽明病身面色赤攻之必發熱宜調胃承氣湯　若色黃者小便不利也宜五苓散　若陽明病心下硬滿者不可攻之宜生薑瀉心湯　半夏瀉心湯　攻之利不止者死宜四逆湯不可汗下吐三法利害非輕前人多列經後大抵醫之失止在先藥藥之錯則變生若汗下不瘥則永無亡陽生黃蓄血結胸痞氣及下痢洞泄脅熱痢痙急勞等證生矣其如此故錄大禁忌於前使醫者當疾之初不犯也</p>
<h2>太陽證</h2>
<p>(桂枝二十四方麻黃五方在後保命集內)傷寒六經所感形證合用汗下吐和解等湯丸仲景活人云岐子保命集載之詳者此不復重錄數書中所無者並諸方對證加減今載於後</p>
<p><u>金匱黃　建中湯</u></p>
<p>　治虛勞裡急諸不足宜此方主之黃　桂枝　生薑(切各二兩)　芍藥(六兩)　炙甘草(二兩)　膠飴(一升)　大棗(十二個劈)上七味　咀以水七升先煮六味取三升去滓納膠飴令消溫服一升日三若嘔者加桂薑　若腹滿者去棗加茯苓四兩　若肺虛損不足痞氣加半夏五兩</p>
<h2>易簡建中加減法</h2>
<p>若婦人血疼男子心腹　痛並四肢拘急疼痛甚者加遠志半兩　若或吐或瀉狀如霍亂及胃涉濕寒賊風入腹拘急切痛加附子七錢半　若疝氣發作當於附子建中湯煎時加蜜一匙頭許　若男子婦人諸虛不足小腹急痛脅肋　脹　下虛滿胸中煩悸面色痿黃唇口乾燥少力身重短氣腰背強痛骨肉酸疼行動喘乏不能飲食或因勞傷過度或因病後不復加黃　一兩半　若婦人一切血氣虛損及產後勞傷虛羸不足腹中　痛吸　少氣小腹拘急痛引腰背時自汗出不思飲食加當歸一兩名當歸建中湯產後半月每日三服令人精壯</p>
<p><u>大建中湯</u></p>
<p>　治內虛裡急少氣手足厥逆少腹攣急或腹滿弦急不能食起即微汗出陰縮或腹中寒痛不堪勞苦唇口舌乾精自出或手足作寒作熱而煩苦酸責不能當立此補中益氣桂心(三錢)　芍藥　黃　(各三錢)　甘草(炙)　當歸　人參(各一錢)　生薑(五錢)附子(五分)　半夏(二錢半)　大棗(二枚)　上　咀水五盞煮至三盞去滓分三服</p>
<p><u>易簡杏子湯</u></p>
<p>　治咳咳不問外感風寒內傷生冷及虛勞咯血痰飲停積悉皆治療人參　半夏　茯苓　細辛(減半)　甘草(炙)　官桂(減半)　乾薑(減半)　芍藥　五味子上　咀每服四錢水一盞半杏仁去皮尖銼五枚薑五片煮至六分去滓服若感冒得之加麻黃等分若脾胃素實者用罌粟殼去筋膜碎銼以醋淹炒等分加之每服加烏梅一枚煮服其效尤驗嘔逆惡心者不可用此　若久年咳嗽氣虛喘急去杏仁人參倍加麻黃添芍藥如麻黃之數干麻五味子各增一半名小青龍湯</p>
<p><u>大補十全散</u></p>
<p>參　朮茯草　芍地桂歸川　三五錢秤用　生薑棗水煎　婦人虛弱用　名美號十全　治男子婦人諸虛不足五勞七傷不進飲食久病虛損時發潮熱氣攻骨瘠拘急疼痛夜夢遺精面色痿黃腳膝無力喘咳中滿脾腎氣弱五心煩悶並皆治之肉桂　芍藥　甘草　黃　當歸　川芎　人參　白朮　茯苓　熟地黃(各等分)　上為粗末每服二大錢水一盞生薑三片棗二枚煎至七分不拘時候溫服桂芍藥甘草小建中湯也黃　與此三物即黃　建中湯也人參茯苓白朮甘草四君子湯也川芎芍藥當歸四物湯也以其氣血俱衰陰陽並弱天得地之成數故名曰十全散</p>
<p><u>易簡胃風湯</u></p>
<p>　治大人小兒風冷乘虛入客腸胃水穀不化泄瀉注下及腸胃濕毒下如豆汁或下瘀血日夜無度人參　茯苓　川芎　官桂　當歸　芍藥　白朮(各等分)　上　咀每服二錢水一大盞粟米百余粒同煎七分去滓稍熱服空心小兒量力減之　若加熟地黃黃　甘草等分足為十味名十補湯　若虛勞嗽加五味子　若有痰加半夏　若發熱加柴胡　若有汗加牡蠣　若虛寒加附子　若寒甚加乾薑皆依本方等分　若骨蒸發熱飲食自若者用十補東加柴胡二兩服之　若氣短加人參　若小便不利加茯苓　若脈弦澀加川芎　若惡寒加官桂　若脈澀加當歸　若腹痛加白芍藥　若胃熱濕盛加白朮　若血瘀色紫者陳血也加熟地黃　若血鮮色紅者新血也加生地黃　若寒熱者加柴胡若肌熱者加地骨皮　若脈洪實痛甚者加酒浸大黃　潔古云防風為上使黃連為中使地榆為下使</p>
<p><u>千裡漿一名水胡蘆</u></p>
<p>木瓜　紫蘇葉　官桂(各半兩)　烏梅肉　赤茯苓(各一兩)　上為細末煉蜜為丸如彈子大噙化一丸咽津</p>
<p><u>又方</u></p>
<p>　百藥煎　烏梅肉　紫蘇葉　人參　甘草　麥冬　上各等分為細末煉蜜丸噙化　荔枝湯　烏梅肉　甘草(各三錢)　百藥煎(一兩)　白芷(半兩)　白檀(三錢)　上為細末湯點</p>
<p><u>蜜酒</u></p>
<p>好蜜(二斤)　水一碗　細曲(一斤半)　好干酵(三兩)　上先熬蜜水去花沫令絕冷下曲酵每日三攪三日熟</p>
<h2>陽明證</h2>
<p>(葛根湯三方升麻湯大小青龍等湯在後保命集內承氣湯三方亦在)</p>
<p><u>易老門冬飲子</u></p>
<p>　治老弱虛人大人參　枸杞　白茯苓　甘草(各二錢)　五味子　麥門冬(去心各半兩)　上為粗末生薑煎</p>
<p><u>麥門冬飲</u></p>
<p>　治勞復欲死人氣欲絕者用之有效麥門冬(一兩)　甘草(二錢尖)　粳米(半合)　上門冬去心為細末水二盞煎粳米令熟去米約湯一小盞半入藥五錢七棗二枚去核新竹葉十五片同煎至一大盞去滓大溫服不能服者綿滴口中　後人治小兒不能灌注者宜用此綿滴法此方不用石膏以其三焦無大熱也兼自欲死之人陽氣欲絕者故不用石膏若加人參大妙</p>
<p><u>海藏五飲湯</u></p>
<p>　一留飲心下二　飲脅下三痰飲胃中四溢飲膈上五流飲腸間凡此五飲酒後傷寒飲冷過多故有此疾　旋覆花　人參　陳皮　枳實　白朮　茯苓　厚朴　半夏　澤瀉　豬苓前胡　桂心　芍藥　甘草　上等分銼每兩分四服水二盞生薑十片同煎至七分取清溫飲無時忌食肉生冷滋味等物因酒有飲加葛根花縮砂仁海藏已寒丸此丸不　上陽生於下　治陰證服四逆輩胸中發燥而渴者或數日大便秘小便澀赤服此丸上不躁大小便自利肉桂　茯苓(各半兩)　良薑　烏頭(炮各七錢)　附子(炮)　乾薑(炮)　芍藥　茴香(炒各一兩)　上等分為細末糊為丸桐子大溫酒下空腹食前五七十丸八九十丸亦得酒醋為糊俱可婦人血風證因大脫血崩漏或前後血因而枯燥其熱不除循衣撮空摸床閉目不省擲手揚視搖動不寧錯語失神脈弦浮而虛內燥熱之極也氣粗鼻干而不潤上下通燥此為難治宜生地黃黃連湯主之川芎　生地黃　當歸(各七錢)　赤芍藥　梔子　黃連　黃芩(各三錢)　防風(三兩)　上為粗末每服三錢水二盞煎至七分取清飲無時徐徐與之　若脈實者加大黃下之　大承氣湯氣藥也自外而之內者用之　生地黃黃連湯血藥也自內而之外者用之氣血合病循衣撮空證同　自氣而之血血而復之氣大承氣湯下之　自血而之氣氣而復之血地黃黃連湯主之也(二者俱不大便)</p>
<p><u>增損理中丸</u></p>
<p>　王朝奉云大小陷胸湯丸不愈者宜與之人參　白朮　栝蔞　牡蠣(各二兩)　甘草(炒三兩)　乾薑(炮一兩半)　枳實(炮二十四個)　黃芩(去枯一兩)　上為細末煉蜜為丸如彈子大湯盞煎服不歇復與之不過五六胸中豁然矣用藥神速未嘗見也　渴者加栝蔞根汗者加牡蠣</p>
<h2>少陽證</h2>
<p>(大少柴胡東加減在前附子柴胡五方在後保命集內)</p>
<p><u>易簡參蘇飲</u></p>
<p>　治感冒發熱頭痛與痰飲凝積發而為熱並宜服之若感冒發熱亦如服養胃湯法連進數服微汗即愈大治中脘痞悶嘔逆惡心開胃進食小兒室女尤宜服之前胡　人參　紫蘇　干葛　半夏　茯苓(加三分)　枳殼　陳皮　甘草　桔梗　木香(各五錢)　上　咀每服四錢水一盞半生薑七片棗一枚煎至六分去滓不以時候素有痰飲者俟退熱以二陳湯或六君子湯間服若男子婦人虛勞發熱或吐衄下血過多致虛熱者用此藥三兩加四物湯二兩合和名茯苓補心湯</p>
<h2>活人治婦人傷寒妊娠服藥例</h2>
<p>若發熱惡寒者不離桂枝芍藥　若往來寒熱者不離柴胡前胡　若大渴者不離知母石膏五味子麥門冬　若大便泄者不離桂附白朮乾薑　若大便燥結者不離大黃黃芩　若經水適來適去斷者不離小柴胡　若安胎者不離人參附膠白朮黃芩　若發汗者不離蔥豉生薑麻黃旋覆　若頭痛者不離前胡石膏梔子　若傷暑頭痛者不離柴胡石膏甘草　若滿悶者不離枳實陳皮　若腦氣不安者不離黃芩麥門冬人參　若　發黑者不離黃芩梔子升麻</p>
<p><u>萬病紫菀丸</u></p>
<p>　療臍腹久患　癖如碗大及諸黃病每地氣起時上氣衝心繞臍絞痛一切蟲咬十種水病十種蟲病反胃吐食嘔逆惡心飲食不消天行時病婦人多年月露不通或腹如懷孕多血天陰即發又治十二種風頑痹不知年歲晝夜不安夢與鬼交頭白多屑或哭或笑如鬼魅所著腹中生瘡腹痛服之皆效紫菀(去苗上)　吳茱萸(湯洗七次焙乾)　菖蒲　柴胡(去須)　厚朴(薑製一兩)　桔梗(去蘆)茯苓(去皮)　皂莢(去皮子等炙)　桂枝　乾薑(炮)　黃連(去□八錢)　蜀椒(去目及開口微炒去汗)　巴豆(去皮製出油研)　人參(去蘆各一錢)　川烏(去皮臍三錢)　加羌活　獨活防風(各五錢)　上為細末入巴豆勻煉蜜丸如桐子大每服三丸漸加至五七丸生薑湯送下食後臨蓐初有孕者不宜服其引於後痔漏腸風酒下　赤白痢歌子湯下　膿血痢米飲湯下　墜傷血悶四肢不收酒下　蛔蟲咬心檳檳榔湯下　氣噎憂噎荷葉湯下　打撲傷損酒下　中毒帚灰甘草湯下　一切風升麻湯下　寸白蟲檳榔湯下　霍亂乾薑湯下　咳嗽杏仁湯下　腰腎痛豆淋湯下　陰毒傷寒溫酒下　吐逆生薑湯下食飲氣塊面湯下　時氣井花水下　脾風陳皮湯下　頭痛水下　心痛溫酒下　大小便不通燈草湯下因物所傷以本物湯下　吐水藜湯下　氣病乾薑湯下　小兒天風吊搐防己湯下防風亦可　小兒疳痢蔥白湯下小兒乳食傷白湯下　月信不通煎紅花酒下　婦人腹痛川芎湯下　懷孕半年後胎漏艾湯下有子氣衝心酒下　產暈痛溫酒下　血氣痛當歸酒下產後心痛脹滿豆淋湯下　難產益志湯下　產後血痢當歸湯下　赤白帶下酒煎艾湯下　解內外傷寒粥飲下　室女血氣不通酒下　子死菜子湯下　又治小兒驚癇大人癲狂一切風及無孕婦人身上頑麻狀如蟲行四肢俱腫呻吟等疾</p>
<h2>太陰證</h2>
<p>(陷胸三方瀉心五方在後保命集內)</p>
<p><u>理市東加減例</u></p>
<p>若為寒氣濕氣所中者加附子一兩名附子理中湯　若霍亂吐瀉者加橘紅青橘各一兩名治中湯若干霍亂心腹作痛先以鹽湯少許頓服候吐出令透即進此藥若嘔吐者於治中湯內加丁香半夏一兩每服生薑十片同煎　若泄瀉者加橘紅茯苓各一兩名補中湯　若溏泄不已者於補中湯內加附子一兩不喜飲水穀不化者再加縮砂仁一兩共成八味　若霍亂吐下心腹作痛手足逆冷於本方中去白朮加熟附名四順湯　若傷寒結胸先以桔梗枳殼等分煎服不愈者及諸吐利後胸痞欲絕心膈高起急痛手不可近者加枳實茯苓各一兩名枳實理中湯　若渴者再於枳實理中湯內加栝蔞根一兩若霍亂後轉筋者理中湯內加火　石膏一兩　若臍上築者腎氣動也去朮加官桂一兩半腎惡燥故云術恐作奔豚故加官桂　若悸多者加茯苓一兩　若渴欲飲水者添加朮半兩　若苦寒者添加乾薑半兩　若腹滿者去白朮加附子一兩　若飲酒過多及啖炙爆熱食發為鼻衄加川芎一兩　若傷胃吐血以此藥能理中脘分利陰陽安定血脈只用本方　若中附子毒者亦用本方　若止用甘草乾薑等分煎服仍以鳥豆煎湯解之</p>
<p><u>平胃散加減例</u></p>
<p>若瀉脾濕加茯苓丁香白朮為調胃散一法加藿香半夏　若加乾薑為厚朴湯　若溫疫時氣二毒傷寒頭痛壯熱加蓮須蔥白五寸豆豉三十粒煎二三服微汗出愈　若五勞七傷腳手心熱煩躁不安百節酸痛加柴胡　若痰嗽瘧疾加薑製半夏　若本臟氣痛加茴香　若火氣衝滿加桑白皮　若婦人赤白帶下加黃　若酒傷加丁香　若飲冷傷食加高良薑　若滑脫泄瀉加肉豆蔻　若風痰四肢沉困加荊芥　若腿膝冷痛加牛膝　若渾身虛壅拘急加地骨皮　若腿膝濕痹加菟絲子　若白痢加吳茱萸　若赤痢加黃連　若頭風加　本　若轉筋霍亂加楠木皮　若七邪六極耳鳴夢泄盜汗四肢沉重腿膝酸痿婦人宮藏久冷月脈不調者加肉桂　若胃寒嘔吐多加生薑　一法加茯苓丁香各三兩共成六味　若氣不舒快中脘痞塞加縮砂仁香附子各三兩生薑煎服　若與五苓散相半為對金飲子　若與六一散相合為黃白散　若與錢氏異功散相合為調胃散　若欲進食加神麯麥芽吳茱萸蜀椒乾薑桂為吳茱萸湯　若加　本桔梗為和解散治傷寒吐利　若加藿香半夏為金不換正氣散　若瘧疾寒熱者加柴胡　若小腸氣痛者加苦楝茴香</p>
<h2>少陰證</h2>
<p>(真武四逆等湯在活人薑附方七道在保命集內)</p>
<p><u>八物定志丸</u></p>
<p>　補益心神安定魂魄治痰去胸中邪熱理肺腎人參(一兩半)　菖蒲　遠志(去心)　茯神(去心)　茯苓(去皮各一兩)　朱砂(一錢)　白朮麥門冬(去心各五錢)　牛黃(二錢另研細)　上為細末煉蜜丸桐子大米飲湯下三十丸無時　若髓竭不足加生地黃　當歸　若肺氣不足加天冬　麥門冬　五味子　若心氣不足加上黨參　茯神　菖蒲　若脾氣不足加白朮　白芍藥　益志　若肝氣不足加天麻　川芎　若腎氣不足加熟地黃　遠志　牡丹皮　若膽氣不足加細辛　酸棗仁　地榆　若神昏不足朱砂　預知子　茯神</p>
<p><u>仲景八味丸</u></p>
<p>　熟地黃補腎水真血　肉桂補腎水真火　牡丹皮補神志不足　附子能行諸經而不止兼益火　白茯苓能伐腎邪濕滯　澤瀉去胞中留垢及遺溺　山茱萸治精滑不禁　干山藥能治毛中燥酸澀　上八味皆君主之藥若不依易老加減服之終不得效若加五味子為腎氣丸述類象形之劑也益火之源以消陰翳壯水之主以制陽光錢氏地黃丸減桂附</p>
<p><u>潔古老人天麻丸</u></p>
<p>　治證見活法機要　天麻(六兩酒浸三日焙乾秤)　除風痹　牛膝(六兩酒浸三日焙乾秤)　強筋　玄參(六兩)　樞機管領　萆　(六兩另為末)　壯骨　杜仲(六兩挫炒去須)　使筋骨相著　當歸(十兩全用)和養血　羌活(十或十五兩)去骨節間風　生地黃(一斤)　益真血　附子(一兩炮)　行諸經不止　獨活(五兩)　去腎間風邪　上為細末煉蜜為丸如桐子大每服五七十丸病大至百丸空心食前溫酒白湯下服藥忌壅塞宜於通利故服半月稍覺壅塞微以七宣丸輕疏之使藥再為用也</p>
<p><u>大效牡丹皮散</u></p>
<p>　治血藏虛風及頭目不利不思飲食手足煩熱肢節拘急疼痛胸膈不利大腸不調陰陽相干心驚忪悸或時旋運　牡丹皮　川芎　枳殼(麩炒各一兩)　陳皮(炙)　玄胡　甘草羌活半夏(湯洗)　三棱(制)　乾薑(炮)　肉桂(各半兩)　木香　柯子肉　白朮(炒各三分)　芍藥(三錢)　當歸(一兩半)　上為細末每服二錢水一盞半煎五七沸食前溫服益血海退血風勞攻注消寒痰實痹胃理血氣攻刺及氣虛惡寒潮熱證至妙</p>
<p><u>海藏大五補丸同三才丸例</u></p>
<p>　天門冬　麥門冬　菖蒲　茯神　人參　益志　枸杞地骨皮　遠志　熟地黃上為末煉蜜丸如桐子大空心酒下三十丸　本方數服以七宣丸泄之</p>
<p><u>清心丸治熱</u></p>
<p>　黃柏(二兩生)　天門冬(一兩)　黃連(半兩)　龍腦(一錢)　麥門冬(去心一兩)　上為細末煉蜜丸如桐子大每服十丸臨臥門冬酒下薄荷湯亦得</p>
<p><u>火府丹丙丁俱瀉</u></p>
<p>　黃芩　黃連(一)　生地黃(二)　木通(三)　上研末煉蜜丸桐子大每服二三十丸臨臥溫水下</p>
<p><u>海藏調胃白朮澤瀉散</u></p>
<p>　治痰病化為水氣傳變水鼓不能食　白朮　澤瀉　芍藥　陳皮茯苓　生薑　木香　檳榔　上為末一法加白朮本藥各半治腹臍上腫如神若心下痞者加枳實若下盛者加牽牛</p>
<h2>厥陰證</h2>
<p>(當歸四逆並加吳茱萸等湯見陰症略例)四物湯益榮衛泫氣血月水不調臍腹　痛等證並見局方　熟地黃(補血如臍下痛非此不能除乃通於腎經之藥也)川芎(治風泄肝木也如血虛頭痛非此不能除乃通肝經之藥也)芍藥(和血理脾如腹中虛痛非此不能除乃通脾經之藥也)當歸(和血如血刺痛非此不能除刺如刀刺乃通腎經之藥也)上為粗末水煎　加減於後　若加地骨皮牡丹皮治婦人骨蒸　若妊娠胎動不安下血不止者加艾十葉阿膠一片又加蔥白黃　若血藏虛冷崩中去血過多亦加膠艾　若婦人嘗服春倍川芎脈弦頭痛　夏倍芍藥　脈洪飧泄　秋倍地黃　脈沉澀血虛　冬倍當歸　脈沉寒而不食　若春則防風四物加防風倍川芎　若夏則黃芩四物加黃芩倍芍藥　若秋則門冬四物加天門冬倍地黃若冬則桂枝四物加桂枝倍當歸　若血虛而腹痛微汗而惡風四物東加朮桂謂之腹痛六合若風眩運加秦艽羌活謂之風六合　若氣虛弱起則乏力眶然而倒加厚朴陳皮謂之氣六合　若發熱而煩不能睡臥者加黃連梔子謂之熱六合　若虛寒脈微自汗氣難布息清便自調加乾薑附子謂之寒六合　若中濕身沉重無力身微涼汗加白朮茯苓謂之濕六合　若產後虛勞日久而脈浮疾宜柴胡四物湯　川芎　熟地黃　當歸　芍藥(各一兩半)　加柴胡(八錢)　人參　黃芩　甘草　半夏曲(各三錢)　水煎服若婦人筋骨肢節痛及頭痛脈弦增寒如瘧宜治風六合　四物湯(四兩)防風　羌活(各一兩)　若血氣上衝心腹肋下滿悶宜治氣六合　四物湯(四兩)　香術　檳榔(各一兩)　若臍下虛冷腹痛及腰脊間悶痛宜玄胡六合(小腹痛者同)　四物湯(四兩)　玄胡苦楝(各一兩碎炒焦)若氣充經脈故月事頻並臍下多痛宜芍藥六合　四物湯(四兩)芍藥(一兩)若經事欲行臍腹絞痛臨經痛者血澀也宜八物湯　四物湯(四兩)玄胡　苦楝(碎炒焦)檳榔　木香(各一兩)若經水過多別無余證宜黃芩六合　四物湯(四兩)黃芩　白朮(各一兩)　若經水澀少宜四物內加葵花煎(又加紅花血見愁)若虛勞氣弱咳嗽喘滿宜厚朴六合四物湯(四兩)厚朴(薑製一兩)枳實(麩炒半兩)若經水暴下加黃芩一兩　若腹痛加黃連如夏月不去黃芩　若經水如黑豆汁者加黃芩黃連(各一兩)若經水少而色和者四物東加熟地黃當歸(各一兩)若經水適來適斷或有往來寒熱者先服小柴胡湯以去其寒熱後以四物湯和之若婦人血積者四物湯內加廣術　京三棱　桂枝　干膝(各一兩)若婦人傷寒汗下後飲食減少血虛者宜八物湯　四物湯(四兩)　黃　甘草　茯苓　白朮(各一兩)　若妊娠傷寒中風表虛自汗頭痛項強身熱惡寒脈浮而弱太陽經病宜表虛六合湯四物湯(四兩)桂枝　地骨皮(各七錢)　若妊娠傷寒頭痛身熱無汗脈浮緊太陽經病宜表實六合湯　四物湯(四兩)麻黃　細辛(各半兩)若妊娠傷寒中風濕之氣肢節煩痛脈浮而熱頭痛宜風濕六合湯太陽標病也　四物湯(四兩)防風蒼朮(制各七錢)若妊娠傷寒下後過經不愈溫毒發　如錦紋宜升麻六合湯　四物湯(四兩)　升麻連翹(各七錢)若妊娠傷寒胸脅滿痛而脈弦少陽也宜柴胡六合湯　四物湯(四兩)柴胡　黃芩(各七錢)若妊娠傷寒大便硬小便赤氣滿而脈沉數陽明太陽本病也急下之宜大黃六合湯　四物湯(四兩)大黃(半兩)桃仁(十個去皮尖面炒)若妊娠傷寒汗下後咳嗽不止者宜人參六合湯　四物湯(四兩)　人參　五味子(各五錢)　若婦人妊娠傷寒汗下後虛痞脹滿者陽明本虛也宜厚朴六合湯　四物湯(四兩)　厚朴　枳實(麩炒各半兩)若妊娠傷寒汗下後不得眠者宜梔子六合湯四物湯(四兩)　梔子　黃芩(各半兩)若妊娠傷寒身熱大渴蒸蒸而煩脈長而大者宜石膏六合湯　四物湯(四兩)　石膏　知母(各半兩)若妊娠傷寒小便不利太陽本病宜茯苓六合湯　四物湯(四兩)茯苓　澤瀉(各半兩)若妊娠傷寒太陽本病小便赤如血者宜琥珀六合湯　四物湯(四兩)　琥珀茯苓(各半兩)　若妊娠傷寒汗下後血漏不止胎氣損者宜膠艾六合湯　四物湯(四兩)　阿膠艾(各半兩一方加甘草同上一方加乾薑甘草黃　)　若妊娠傷寒四肢拘急身涼微汗腹中痛脈沉而遲少陰病也宜附子六合湯　四物湯(四兩)　附子(炮去皮臍)　肉桂(各半兩)　若赤白帶下宜香桂六合湯　四物湯(四兩)　肉桂　香附子(各半兩)　若妊娠傷寒蓄血證不宜墮胎藥下之宜四物大黃湯下　四物湯　生地黃　酒浸大黃　若虛熱病四物與參蘇飲相合名補心湯主之若四肢腫痛不能舉動四物蒼朮各半湯主之　若治燥結四物與調胃承氣湯各半為玉燭散若流濕潤燥宜四物理中各半湯　若保胎氣令人有子四物與縮砂四君子湯各半名八珍湯　若熱與血相摶口舌乾渴飲水加栝蔞　麥門冬　若腹中刺痛惡物不下加當歸　芍藥　若血崩者加生地黃　蒲黃　黃芩　若頭昏項強者加柴胡　黃芩　若因熱生風者加川芎　柴胡　防風　若藏秘澀者加大黃　桃仁　若滑澀者加官桂　附子　若嘔者加白朮　人參　生薑　若大渴者加知母石膏　若發寒熱者加乾薑　丹皮　芍藥　柴胡若水停心下微吐逆者加豬苓　茯苓　防己若虛寒似傷寒者加人參　柴胡　防風　若產婦諸證各隨六經以四物與仲景藥各半服之其效如神　若婦人或因傷酒或因產亡血或虛勞五心煩熱者宜四物二連湯　四物湯(內用生地黃)黃連　胡黃連(真者)溫飲精汁　四物與桂枝麻黃白朮柴胡理中四逆茱萸承氣涼膈等皆可作各半湯此易老用藥大略也　若虛煩不得睡加竹葉　人參　若婦人血虛心腹　痛不可忍者去地黃加乾薑名四神湯　若諸痛有濕者四物與白朮相半加天麻　茯苓　穿山甲　酒煎　若目赤暴發作云翳疼痛不可忍宜四物龍膽湯　四物(各半兩)　羌活　防風(各三錢)　龍膽草防己(各二錢)水煎海藏云婦人妊娠蓄血　婦人妊娠或蓄血　抵當桃仁勿妄施　要教子母俱無損　大黃四物對服之海藏當歸丸治三陰受邪心臍少三腹　痛氣風等證四物湯(各半兩)　防風　獨活　全蠍　茴香(炒)　續斷(各半兩)　苦楝　玄胡(各七錢)木香　丁香(各二錢半)　上為細末酒糊丸如桐子大空心溫酒下三五十丸大效若楝丸治奔豚小腹痛神效　川苦楝　茴香　附子(一兩炮去皮臍)　上三味酒二升煮盡為度焙乾研細末每秤藥末一兩入玄胡半兩全蠍十八個炒丁香十八個別為末和勻酒糊丸桐子大溫酒下五十丸空心痛甚加當歸煎酒下</p>
<p><u>治喉閉逡巡不救方</u></p>
<p>　皂莢(去皮子生半兩為細末箸頭點少許在痛處更以醋糊調藥末濃塗項上須臾便破血出立瘥)</p>
<p><u>極濟換骨丹</u></p>
<p>　海云自汗者不宜服歌曰　槐皮芎術芷　仙人防首蔓　十味各停勻　苦味香減半　龍麝即少許　朱砂作衣纏　麻黃膏煎丸　大少如指彈　上治半身不遂口眼　斜手足不仁言語謇澀或痛入骨髓或痹襲皮膚或中急風涎潮不語精神昏塞行止艱難筋脈拘急左癱右瘓一切風疾並皆治之槐莢子(生)　人參　桑白皮　蒼朮　川芎　何首烏　蔓荊子　葳靈仙　防風(各二兩)五味子　香附子　苦參(各一兩)　香白芷(二兩)　麝香(二錢另研)　上一十四味為細未入香令勻又用麻黃十斤去節根用大河水三石三斗熬至六斗濾過去滓再熬至二升半入銀石器內熬成膏入前藥末和勻杵三五千下每一兩作十丸朱砂為衣每服一丸先搗碎酒一盞自晨浸至晚食後臨臥攪勻服之神清無睡是藥之驗須臾隔五日服之如中風無汗宜服若體虛自汗服之是重亡津液也風盛人於密室溫臥取汗</p>
<h2>三焦熱用藥大例</h2>
<p>(方在元戎)上焦　清神散　連翹防風湯　涼膈散　龍腦飲子　犀角地黃湯中焦　小承氣湯　調胃承氣湯　洗心散　四順清涼飲　桃仁承氣湯下焦　大承氣湯　五芩散　八正散　石葦散　抵當湯丸氣分熱　柴胡飲子　白虎湯　血分熱　清涼飲子　桃仁承氣湯通治大熱　三黃丸　黃連解毒湯三焦寒用藥大例(方在衛生)上焦　桂附丸　刷湯　胡椒理中丸中焦　二氣丸　附子理中丸一大建中下焦　還少丹　八味丸　大真丹氣分寒　桂枝加附子湯　桂枝加芍藥　人參新加湯　血分寒　巴戟丸　神珠丹通治大寒　大巳寒丸　四逆湯　以上內有寒熱之大略也若外有寒熱當求別法</p>
<h2>發諸藥</h2>
<p><u>葛根橘皮湯　在肌</u></p>
<p>　治傷寒暴發肌中　爛咳而心悶但嘔清汁宜此　葛根　橘皮　杏仁知母　黃芩　麻黃　甘草　分銼每用五錢水煎</p>
<p><u>陽毒升麻湯</u></p>
<p>　在面　治傷寒一二日或吐下後變成陽毒腰背痛煩悶不安面赤狂言見鬼下痢脈浮大數咽喉痛下膿血五日可治七日難愈　升麻(半兩)　犀角　射干黃芩人參　甘草(各三錢半)　上　咀水三升煎取半飲一盞刻許再服溫覆手足汗出解否則重作</p>
<p><u>陽毒玄參升麻湯　在身</u></p>
<p>　治汗下吐後毒不散表虛裡實熱發於外甚則煩躁譫語兼治喉痹腫痛玄參　升麻　甘草(各半分)　上細銼水煎</p>
<p><u>陽毒梔子湯少陽陽明合病</u></p>
<p>　治陽毒傷寒壯熱百節疼痛　升麻　梔子仁　黃芩　芍藥　石膏知母　甘草　杏仁　柴胡　上粗末五錢生薑五片豆豉百粒水煎消毒犀角飲子治　牛蒡子(六兩)　荊芥(三兩)　防風(三兩)　甘草(一兩)　水煎服</p>
<p><u>陰毒升麻鱉甲湯</u></p>
<p>　大建中湯尤妙　升麻(三兩)　當歸　甘草(各二兩)　蜀椒(一兩去汗)　鱉甲(炙)　雄黃(半兩研)　上為細末每服半兩水煎蒸病　治者宜隨各經虛實內外淺深用藥加減可也</p>
<p><u>古今錄驗五蒸湯</u></p>
<p>甘草(一兩炙)　茯苓(三兩)　人參(二兩)　竹葉(二兩)　乾地黃　葛根(各三兩)　知母黃芩(各二兩)　石膏(五兩碎)　粳米(二合)　上十味　咀以水九升煮取二升半分為三服亦可以先煮小麥水乃煮藥　忌海藻菘菜蕪荑大醋實熱　黃芩　黃連　黃柏　大黃　虛熱　氣也　烏梅　秦艽　柴胡　血也　青蒿　鱉甲蛤蚧　小麥　牡丹皮肺(鼻干)　烏梅　天門冬　麥門冬　紫菀皮(舌白唾血)　石膏　桑白皮膚(昏味嗜睡)　牡丹皮氣(遍身氣熱喘促鼻干)　人參　黃芩　梔子大腸(鼻右孤干痛)　大黃　芒硝脈(唾白浪語脈絡溢脈緩急不調)　生地黃　當歸心(舌乾)　黃連　生地黃血(發焦)　地黃　當歸　桂心　童子小便小腸(下唇焦)　赤茯苓　木通　生地黃脾(唇焦)　芍藥　木瓜　苦參肉(食無味而嘔煩躁不安)　芍藥胃(舌下痛)　石膏　粳米　大黃　芒硝　葛根肝(眼黑)　川芎　當歸　前胡筋(甲焦)　川芎　當歸膽(眼白失色)　柴胡　栝蔞三焦(乍熱乍寒)　石膏　竹葉腎(兩耳焦)　生地黃　石膏　知母　寒水石腦(頭眩悶熱)　地黃　防風　羌活髓(髓沸骨中熱)　天門冬　當歸　地黃骨(齒黑腰痛足逆變疳食減)　鱉甲　地骨皮　牡丹皮　當歸　生地黃肉(肢細跌腫府藏俱)　石膏　黃柏胞(小便赤黃)　澤瀉　茯苓　生地黃　沉香　滑石膀胱(左耳焦)　澤瀉　茯苓　滑石凡此諸蒸皆熱病後食肉油膩房酒犯之而成久蒸不除變成疳病即死矣</p>
<p><u>葛根散</u></p>
<p>　治陽毒身熱如火頭痛躁渴咽喉干痛葛根(銼七錢半)　黃芩　大黃(醋炒)　甘草　山梔子仁　朴硝(各半兩)　上為末水煎活人敗毒散太陽證　治傷寒溫疫風溫風眩風痰痹溫　羌活　獨活　前胡　柴胡　枳殼人參茯苓　桔梗　甘草　川芎(分兩隨病加減)　上為細末生薑水煎或沸湯亦可大人小兒皆宜瘴煙之地溫疫時行或人多風痰或處卑濕香港腳此藥不可缺一方少加薄荷同煎三陽頭痛　羌活　防風　荊芥　升麻　葛根　白芷　柴胡　川芎　芍藥　細辛　蔥白(連須分兩旋加)　若陰證頭痛只用溫中藥足矣乃理中薑附之類也</p>
<h2>發黃兼諸雜證</h2>
<p>(治法在前難知內附陰黃治法在後陰證略例內附)小便不利者煩躁而渴加茯苓豬苓滑石當歸官桂　煩躁喘嘔不渴　加黃苓白朮半夏生薑茯苓　四肢遍身冷者　加附子甘草</p>
<p><u>茵陳蒿東加減</u></p>
<p>　肢體逆冷腰上自汗　加附子乾薑甘草　身冷不止者　加附子乾薑　前藥末已脈尚伏　加吳茱萸附子乾薑木通當歸　韓氏立名為茵陳茯苓湯　茵陳橘皮湯　小茵陳湯茵陳四逆湯　茵陳附子湯　茵陳茱萸湯　大抵只是仲景陰證藥內加茵陳也用者要當識之</p>
<p><u>掌中金丸</u></p>
<p>　治婦人干血氣穿山甲(炮)　甘草　苦丁香　川椒　苦葶藶　白附子　草烏頭　豬牙皂角(各一錢)　芭豆(一錢全用研)　上共為細末生蔥絞汁和丸彈子大每用一丸新綿包定納陰中一日即白二日即赤三日即血神效</p>
<p><u>龍腦雞蘇丸</u></p>
<p>　上焦熱除煩解勞去肺熱咳嗽心熱驚悸脾胃熱口甘吐血肝膽熱泣退場門苦腎熱神志不定上而酒毒膈熱消渴下而血滯五淋血崩等疾薄荷(一斤)　麥門冬(去心一兩)　甘草(一兩半)　生乾地黃(六兩各為末)　黃　新蒲黃阿膠(炒)　黃連　人參　木通(各一兩)　柴胡(二兩銼同木通沸湯半升浸一日夜紋取汁)　上為細末好蜜二斤先煉一二沸然後下生地黃末不住手攪時加木通柴胡汁浸熬成膏勿令火緊焦了然後將前藥末和丸如豌豆大每服二十丸白湯下　虛勞煩熱梔子湯下　肺熱黃芩湯下　心熱悸動恍惚人參湯下唾咯吐衄四血去心麥門冬湯下　脾胃熱赤芍藥生甘草湯下　肝熱防風湯下　腎熱黃柏湯下　治五淋及婦人漏下車前子湯下　痰嗽者生薑湯下　莖中痛者蒲黃滑石末一錢調下氣逆者橘皮湯下　室女虛勞寒熱潮作煎柴胡人參湯下　以上並食後臨臥服</p>
<p><u>黃　膏子煎丸</u></p>
<p>　治證同前　人參　白朮(各一兩半)　柴胡　黃芩(各一兩)　白芷知母　甘草(炙各半兩)　鱉甲(一個半大者酥炙)　上為細末黃　膏子丸桐子大每服三五十丸百沸湯空心下上用黃　半斤粗末水二斗熬一半梔去滓再熬令不住攪成膏至斗斤入白蜜一兩餳一兩再熬令蜜餳熟得膏十兩放令丸藥</p>
<p><u>地骨皮枳殼散</u></p>
<p>　治骨蒸壯熱肌肉消瘦少力多困夜多盜汗　地骨　秦艽　柴胡　枳殼知母當歸　鱉甲(醋炙黃)　上等分為末水一盞桃枝柳頭各七個薑三片烏梅一個每服去滓臨臥服</p>
<p><u>易簡芎歸湯</u></p>
<p>　治一切去血過多眩暈悶絕傷胎去血產後去血崩中去血拔牙去血金瘡去血不止者舉頭欲倒悉能治之　川芎　當歸(各等汾)　上　咀水煎熱服　若產後眩暈加芍藥　產後腹疼不可忍加官桂酒童便合煎妊娠子死或不死胎動酒水合煎即下未死者即安　若虛損腹痛少氣頭眩自汗每服加羊肉一兩生薑十片水煎　若臨月服之則縮胎易產　若室女婦人心腹　痛經脈不調水煎服　若妊娠胎氣不安產後諸疾酒水煎服若難生倒橫子死腹中先用黑豆一大合炒熟水與小便合煎服　若難產用百草霜香白芷等分童子小便好醋各一合沸湯煎服甚者再服已分娩矣　若腸風藏毒每服加槐花末五分三日取下血塊即愈　若吐血亦宜服此若血氣上喘下腫空心煎艾湯調下　若產後惡血注心迷悶喘急腹痛依前用黑豆加生薑自汁然煎服　若產後頭痛加荊芥　若崩中漏下失血不止加香附子炒每兩入甘草一錢沸湯點服　若有白帶者加芍藥半兩乾薑等分米飲湯調下</p>
<p><u>三奇六神麯法</u></p>
<p>　白虎白曲一百斤　青龍青蒿自然汁三升　勾陳蒼耳汁二升　騰蛇野蓼子汁四升　玄武杏仁四升(去皮尖看面干濕用水)　朱雀赤小豆三升(煮沸去湯研)上和一處拌勻稍干為妙用大盆罨一宿子伏內至寅日踏極實為度甲寅戊寅庚寅乃三奇也臥鋪如曲法千金種子法進火之時當至陰節間而止不爾則過一宮矣予問故師曰深則少陰之分肅殺之方何以生化淺則厥陰之分融和之方故能發生所以受胎之處在淺而不在深也非月經後皆不可用事惟經後一日男二日女三日男此之外皆不成胎也大風大雨大寒大暑陰晦日月蝕皆不可交接所生男女痴聾喑啞四體不完矣</p>
<p><u>搐鼻香</u></p>
<p>　治子宮冷起白帶下　牡蠣(　)　紫梢花　龍腦　母丁香　黃狗頭骨(　)　蛇床子破故紙　桂心(各等分)　上等細末煉蜜丸如雞頭大臨事用一粒</p>
<h2>序</h2>
<p>序治疔之法向無專書南渡時有救急仙方皆載瘍醫之術所論疔瘡甚詳惜原本與作者姓名並佚天祿秘鈔不可得而窺也無專書遂無專家鄉曲逆旅之人倉卒肉墳未及延醫誤犯口戒每不治即有能治之者未得竅要雖有明堂秘傳安能扶危於頃刻間哉吳門張君蓉亭游於浙得鈔本於慈　應氏繼於他處得刻本二種參考異同原其本皆按經循絡遂刪繁就簡合為一書前舉要言各穴繪以總圖治法編成歌訣附以膏方名曰治疔捷法王君緘三患指疔蓉亭為之治病若失索其書亦不秘王君以之療人輒效繼增以考正穴法愿付手民以廣其傳而求序於余余向不精歧黃之術嘗讀素問諸書間有疑焉輒為通其說顧以舊史退居田裡生逢</p>
<h2>聖世無補</h2>
<p>堯舜施濟之功往往泫愧此書一出使黃童白叟悉免顛連擬之救急仙方斯真無愧非特余所深幸古人亦無湮沒之憾矣是為序</p>
<p><u>光緒丙子春仲德清俞樾撰</u></p>
