<header><h1>操作協助</h1></header>

<h1>基本操作</h1>

<p>本站最上方以階層式導覽列標示目前所在位置，點擊連結可快速跳轉至上層頁面。許多頁面也會有淡綠色的主導覽列，可藉此跳轉至本站各主題頁面。</p>

<p>進入典籍列表後，可點擊任一本典籍的連結進入。本站的典籍尚未做分頁處理，使用前請評估自己的網路速度及可用流量（較大的檔案可達數 MB）。</p>

<p>可用右上方工具列切換不同的檢視模式。</p>

<h1>品質標示</h1>
<ul>
<li>25%：文章未收全或缺漏甚多，章節段落混亂，內文缺乏校對。</li>
<li>50%：文章已大約完整收錄，章節段落已分明，內文大致可讀。</li>
<li>75%：章節段落清楚，內文已經過相當校對，語法標記已大致做到。</li>
<li>100%：內文已參考可靠紙本詳細校對，標記非常完整。</li>
</ul>
