<header><h1>瘍科心得集</h1></header>
<dl class="元資料" data-type="book">
<div><dt>作者</dt><dd>高秉鈞</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1644/1911">公元1644年至公元1911年</data></dd></div>
</dl>
<h2>序</h2>
<p>憶余幼時，偕鄭春江姊丈同受業於淮南薑村阮師之門，時松陵靈胎徐丈往來吳中，旅居與薑村師衡宇相望也，亦頻相過從，每竊聞其緒論。徐丈方輯《難經經釋》諸書，嘗質正於師。師曰：「丈之外科，洵精且博矣。而用力乃專意於內科何哉？」丈曰：「凡言外科者，未有不本於內科者也，若不深明內科之旨，而徒抄襲舊方以為酬應，鮮有不蹈橐駝腫背之誚矣。</p>
<p>余心韙之。今閱高子錦庭之書而益信。錦庭積學工醫，臨證已三十余年，精習經方，洞曉脈理，雖治外科，而必熟復於《內經》諸聖賢之書，洵能探其本不襲其末者歟。故其治病也，不膠於成見，不涉於附和，或症同而治異，或症異而治同，神存於心手之際，務使三縛悉除，四難並解，非意會於中，超然有悟者其孰能之！顏曰心得，誠自道其所得也。書成將付剞劂，以嘉惠後學，可見用心之濃。而世之習是科者，得此書而循誦習傳，奉如圭臬，亦可不迷於向往也已。今靈胎徐丈之哲嗣漁村先生，世其家學，公卿倒屣，名重海內，與予春江姊丈有姻誼，暇日當寄覽焉，未知漁村以為何如也？</p>
<p><u>嘉慶丙寅仲夏吳趨郭一臨題於錫學之如舟小舍</u></p>
<p>醫者意也。昔人謂意之所解，口不能宣，而著書為無益。語雖超妙，而不得其平。向使《靈樞》《素問》諸經不傳於世，而周秦以下鮮有論述，則後世益驚疑回惑於生死之交，而庸醫之誤人者，直恆河沙數矣。夫應變呼吸，得心應手，驅使草木，如行三軍，此不可得而言也。至於血脈、經絡、陰陽、表裡之會，審乎百病之原而兼治之，是猶閉門造車，出門合轍，何不可言，而亦何可不言。錫山高子錦庭以瘍醫名。習是業者，往往不衷於古，不通於今，守其不經之才，變萬而治一，毒流於人而不自知其非。高子則曰外科必從內治，熟讀</p>
<p>《內經》然後可以臨證。故其HT　瘍也，先究乎色聲味之淫，進察乎精氣神之變，寒熱虛實，洞見　結，由是刮殺以破之，針灸以出之。當其定方，則又君臣佐使，子母兄弟井井然，銖兩因心。蓋病家之瀕於危而受活者不少焉。余蒞錫數載，家人有患瘍，屬治輒效。今年夏，幼子腫發於面，自唇齒間延緣頰顴而及於目，惡月潰腐，甚創且殆。高子乃傅以良膏，飲以和劑，拔毒剔骨，痂脫而病瘥。迨入冬，余姊陡發肝氣，日夜掣痛，以年逾六旬，平素氣血虛怯，深患之。亟延高子至，曰：癰膿已成，幸生皮裡膜外。　之膿出盞許，痛止即安，余甚感之。既乃出所為書，丐余敘。讀其論，幼孩有所謂腮與多骨及腸癰者，即余家之兩病。</p>
<p>其它辨析微至，歷有經驗，而創論獲解，雖前人或未之逮，然後嘆高子之肱折深，而其書未可以暗昧而不顯也。因亟勸之梓，而名其集曰《心得》。是固醫之所以為意，絕非有膠柱之跡存，且能深憫夫庸醫之誤人，有以發其蒙而救其失，其用意尤濃矣。嗟乎！士大夫高談經濟，或鮮能及物，而仁人君子之術，顧得諸方技之中，則是書之有裨於世，豈淺鮮哉。至若運用之妙，則非高子不能言，而余又烏能代為言耶。</p>
<p><u>嘉慶乙丑小春上浣山右楊潤敘</u></p>
<p>醫家內外科，並有起死之責，毫厘之誤，人命系之。世人重內輕外，於瘍科每易言之。</p>
<p>職是科者，又皆廉材膚學，不深明脈氣淺深虛實之辨，藥性君臣佐使之宜，墨守其術，以祈投合。烏呼！其幸不敗裂者亦僅矣。高子錦庭，系內外兩科范聖學、杜云門之高弟，究心</p>
<p>《靈樞》《素問》，探索有年，洞垣一方，識其症結，蓋其內外科之學，皆有心得。又憫瘍科之誤人也。故專論之，亦仁人君子之用心矣。頃出所著見示，名曰《心得集》，標識形象，而必探論本原，量其陰陽強弱，以施治療。余按《周禮‧天官》，瘍醫掌腫瘍、潰瘍、金瘍、折瘍之祝藥　殺之齊。注家謂：　者刮去膿血；殺者以藥食其惡肉。又曰：凡療瘍以五毒攻之，以五氣養之，以五藥療之，以五味節之。注謂：既　殺攻盡其宿肉，然後養之五氣，蓋五穀之誤，節節成其藥力，此可以見古者瘍藥攻補兼施之明證。今之業是者，惟持攻毒之方，治其外而不知其內，循其末而不論其本，無怪乎學醫人費也。高子是書出，使人知必深明內科，始可言外科，不得僅執成方，率爾從事，其有功於世，豈淺鮮哉。</p>
<p><u>嘉慶十年小春下浣孫爾準書</u></p>
<h2>例言</h2>
<p>一余稟性疏愚，見聞譾陋，豈於方書敢云博覽。第三十年來，臨證參詳，頗有心得。茲集中議論，時著鄙見，其有當於古人與否，未敢自必，望高明教之。</p>
<p>一是集論列諸證，不循瘍科書舊例，每以兩證互相發明，而治法昭然若揭。其中有兩證而同一治者，亦有兩證而治各異者，如發背、搭疽、流注、腿癰，雖生兩處，而治法則一；如乳癰、乳痰及頸項火痰、　痰，即發一處，而治法各異。總以虛實陰陽寒熱分別，臨證者務以意會之，審辨明確，然後用藥始無所失。</p>
<p>一是集編次諸證，前後依人身上中下為序例。他如痘毒、瘋瘡、廣瘡、結毒等類，發無定處，不能屬於何部者，另列於後，始不致牽率混淆，以便如例撿閱。</p>
<p>一是書未入內景經絡之圖，不詳本草氣味之論，以古人成書具在，考鏡有資，毋庸贅述。學人稽古證今，尋求此集，與前哲當有印合處，知虞初之本有自也。</p>
<p>一是集采摭古人外，俱系集腋成裘。間有一二錄其原論者，則標其姓氏於首，余俱不及著名，以難於備載也。並非掠美，識者諒諸。</p>
<p>一集中所舉湯頭丸散膏丹，有可通用者，有不可通用者，若於逐條論後詳載，未免復出繁冗，今概列於後，查閱較為簡易。</p>
<p>一世俗每稱我有秘方，我有不惜工本好藥，每遇病即執秘方施治，不明藥中氣味，不識瘍發根源，陰陽寒熱，藥不對證，反受其誤。是書悉究病因，用藥不執板法，雖曰外科，實從內治。竊以為得古聖賢之心法，故名之曰《心得》。</p>
<p>一大方中有四絕證，風、癆、臌、膈是也。瘍科中亦有四絕證，謂失榮、舌疳、乳岩、腎岩翻花是也。此外諸證，明其陰陽寒熱，知其氣血標本，俱可醫治。然亦有不愈者，如腦疽、發背、疔毒，正虛邪實，毒甚營枯，津液耗傷，正不敵邪，火毒內陷，致有神昏閉脫，及陰證之腎俞虛痰、陰寒附骨，膿出清稀，日久不斂，精神疲乏，胃衰脾敗，穀食漸減，形神俱奪，氣血不能來復，或潮熱自汗，或晝夜熱不退，致成損怯而斃，其論俱詳敘集中，細心求之，臨證自有把握。</p>
<p>一是書凡有緊要外瘍，俱已論列，其余零星細證，名目猶多，茲不繁載者，非敢為遺漏也。蓋以瘍科之證，在上部者，俱屬風溫風熱，風性上行故也；在下部者，俱屬濕火濕熱，水性下趨故也；在中部者，多屬氣鬱火鬱，以氣火之俱發於中也。其間即有互變，十證中不過一二。集內所論，頗已詳括，余證悉可參悟而得，毋俟再為拈示也。</p>
<p>一景岳先生《新方八陣》，悉皆平生心得經驗之方，立法純粹以精，能補前賢所未備。</p>
<p>習斯業者，日夕浸潤而不覺，蒙其惠者，飲食仁壽而有餘，惜無歌括成書，便人誦習。余師聖學范先生，臨證之暇，曾囊括成章，如汪　庵《湯頭歌括》之例，然簡而未備；茲表兄吳鶴山復為增潤，匯為一帙，因附刻於集後，以公同好，亦足為博古之一助云。</p>
<h2>卷上</h2>
<h3>瘍證總論</h3>
<p>人身一小天地也。天有日月星辰，地有山川草木，人有五臟六腑，不外乎陰陽氣化而已；氣化不能有全而無偏，有順而無逆，故天有時而失常，地有時而荒蕪，人有時而疾病。夫病之來也，變動不一，總不越乎內證外證兩端。而其致病之由，又不越乎內因外因二者。何謂內因？喜、怒、憂、思、悲、恐、驚，七情也，陰也；何謂外因？風、寒、暑、濕、燥、火，六氣也，陽也。發於陽者，輕而易愈，發於陰者，重而難痊。內科外科，俱是一例。今以內科論之，如瘋、癆、臌、膈諸證，此發於臟者也，陰也，治之不易愈；如傷寒、瘧、痱諸證，此發於腑者也，陽也，治之易愈。傷寒之傳經，在陽經者易愈，在陰經者不易愈，夫人能知之。而外科之證，何獨不然。有由臟者，有由腑者，有在皮膚肌骨者，無非血氣壅滯，營衛稽留之所致。發於臟者，其色白，其形平塌，膿水清稀，或致臭敗，神色痿憊，陰也；發於腑者，其色紅而形高腫，膿水稠黏，神清氣朗，陽也，此其大概也。細論之，發於臟者為內因，不問虛實寒熱，皆由氣鬱而成，如失營、舌疳、乳岩之類，治之得法，止可帶疾終天而已。若發於腑，即為外因，其源不一，有火熱助心為瘍，有寒邪傷心為瘍，有燥邪劫心為瘍，有濕邪壅滯為瘍，此俱系天行時氣，皆當以所勝治之。又有寒邪所客，血泣不通者，反寒熱大作，煩躁酸疼而似熱，熱邪所勝，肉腐膿腥，甚至斷筋出骨，以致聲嘶色敗而似寒；又有勞汗當風，營逆肉裡，而寒熱難辨者。又有不內外因者，膏粱之積，狐蠱之感，房勞之變，丹石之威，無不可作大疔，成大癰；即如誤食毒物，跌壓杖棒，湯火蟲獸等傷，亦皆作癰作膿，總由營氣不從之所致也。然則治之奈何？亦在審其脈以辨其證而已。大約瘡瘍未潰之先，脈宜有餘；已潰之後，脈宜不足。有餘者，毒盛也；不足者，元氣虛也。倘未潰而現不足之脈，火毒陷而元氣虛也；已潰而現有餘之脈，火毒盛而元氣滯也。按定六部之脈，細察虛實，其間宜寒、宜熱、宜散、宜收、宜攻、宜補、宜逆、宜從，總以適事為故，未可鹵莽圖治也。再瘡瘍之部位，其經絡氣血之循行，即傷寒之經絡也。傷寒無定形，故失治則變生。外證雖有一定之形，而毒瓦斯之流行亦無定位。故毒入於心則昏迷，入於肝則痙厥，入於脾則腹疼脹，入於肺則喘嗽，入於腎，則目暗手足冷，入於六腑，亦皆各有變象，兼證多端，七惡疊見。經曰：治病必求其本。本者何？曰臟也，腑也，陰陽也，虛實也，表裡也，寒熱也。得其本，則宜涼、宜溫、宜攻、宜補，用藥庶無差誤；倘不得其本，則失之毫厘，謬以千裡，可不慎諸。</p>
<h3>瘍科調治心法略義</h3>
<p>《內經》曰：諸痛瘡瘍，皆屬於心。又曰：營氣不從，逆於肉裡，乃生癰腫。又曰：膏粱之變，足生大疔。又曰：出汗偏倚，使人偏枯，汗出見濕，乃生痤痱。又曰：開合不得，寒氣從之，乃生大僂。又曰：地之濕氣，感則害人皮肉筋脈。由此數者而窮之，則知臟腑受病之根源，皮肉結瘍之枝葉也。向使內無鬱熱蘊蓄於中，外無濕熱侵襲於內，則肌肉流暢，氣血和平，癰何從生，疽何從作乎？凡治癰腫，先辨虛實陰陽。經曰：諸痛為實，諸癢為虛，諸癰為陽，諸疽為陰。又當辨其是癤、是癰、是疽、是發、是疔等證，然後施治，庶不致於差謬。如熱發於皮膚之間，腫高根闊者為癰。五臟鬱熱，毒流骨髓，附骨而生，經日方覺，大如伏瓜為疽。酒色迷真，濃味適口；或心志不遂，郁不得伸，毒生於薄肉處；又或染禽獸之毒，或惹牛馬之穢，初生黍米，不加謹護，而誤觸犯之，輕者必重，重者必危，須用藥以解其毒，不然立見其敗矣。夫癰疽發背之證，有五善七惡，不可不辨。動息自寧，飲食知味，一善也；大小便自調，面色光亮，二善也；神氣精明，語言清朗，三善也；膿潰腫消，色鮮不臭，四善也；身體和平，起居如常，五善也。五善俱見，善可知矣。若夫七惡，二目緊小，唇青瘡黑，一惡也；膊項難轉，四肢沉重，目閉耳聾，二惡也；聲嘶色脫，面青氣喘弗寧，三惡也；不能飲食，納藥嘔吐，口不知味，痛極渴甚，四惡也；冷汗虛汗時出，恍惚嗜臥，語言顛倒，五惡也；煩躁咳嗽，腹痛泄瀉，小便混濁，六惡也；膿血既泄，腫起猶甚，膿水臭穢，七惡也。七惡俱見，則惡不可言矣。五善見三自吉，七惡有二即凶。凡治癰疽，初覺則宣熱拔毒，既覺則排膿定痛。初腫毒成未破，一毫熱藥不敢投，先須透散；若已破潰，臟腑既虧，飲食少進，一毫冷藥吃不得，須用和營扶脾。此固昔人治癰疽發背之法，無過於此；然更當酌以時令，審以脈理，辨其虛實，決以輕重，量勢而用，庶不致夭人之天年也。至於傷寒流注，由可汗而失汗，由可和而失和，血滯皮膚，毒阻骨髓，故生斯毒，從上流下者，毒生必少，從下流上者，毒生必多，亦須解表清肌，拔毒清熱，可內消而愈矣。若疔毒雖有三十六種之別，其害則一，宜以敗毒為主，□□□證治法。至於痰核、癭瘤、瘰、馬刀之疾，俱由濕勝生痰，痰勝生火，火勝生風，風極而患作矣，皆成於內蘊七情，外感六欲，宜清痰降火之劑，宣熱敗毒之藥，既盛必用外消，始覺行以艾灸，切勿妄行勾割。先醫曰：諸經惟少陽厥陰二經生癰疽，惟少陽陽明二經生瘰　，蓋由多氣少血之故耳。凡診外科之脈，脈浮緊，應當發熱，其不發熱而反洒淅惡寒，若有痛處，必發癰疽；脈浮而數，身體無熱，形默默，胸中微燥，不知痛之所在者，必發癰疽。未潰之先，按之有刀鋒之健浮，既潰之後，按之略如鋒之輕浮，此易收功也。若未潰之先，脈來遲緩，不疾不徐，既潰之後，脈來健實，或大與洪，難取效也。若一得癰疽，脈來前後虛弱，此危證也。凡刺癰腫，須認有膿無膿，用手按之，手起而即復者有膿，手起而不即復者無膿（此所謂引手）。重按乃痛，膿之深也；輕按即痛，膿之淺也；按之不甚痛者，未成膿也。至於用刀手法，刀口勿嫌闊大，取膿易盡而已。凡用刀之時，深則深開，淺則淺開，慎勿忽略。如開魚口、便毒、背疽、臍癰、腹癰、瘰　，宜淺開之；若臂癰、胯疽，肉濃等處，宜深開之，使流出膿，以泄內毒，不可不知也。凡瘍初生之時，便覺壯熱惡寒，拘急頭痛，精神不寧，煩躁飲冷者，其患瘡疽必深也；若起居平和，飲食如故，其瘡疽浮淺也。如膿出而反痛者，此為虛，宜補之；亦有穢氣所觸而作痛者宜和解之，風冷所逼者宜溫養之。如疽發深而不痛者，胃氣大虛，必死肉多而不知痛也。凡瘡瘍時嘔者，當作毒瓦斯上攻治之，潰後當作陰虛補之；若年老潰後，發嘔不食，宜參　白朮膏以峻補之。河間謂：瘡瘍嘔者，濕氣侵於胃，宜倍白朮。</p>
<p>癰疽發渴，血氣兩虛，用參、　以補氣，當歸、地黃以養血。凡癰疽有實熱者，易療；虛寒邪熱者，難治。腫起堅硬膿稠者，為實；腫平軟漫膿稀者，為虛。凡治癰疽、發背、疔瘡、乳癰、一切無名腫毒，先須托裡，勿使毒入附延骨髓；托裡之後，宣熱解毒、定痛排膿，是為急切工夫。</p>
<h3>申明外瘍實從內出論</h3>
<p>夫外瘍之發也，不外乎陰陽、寒熱、表裡、虛實、氣血、標本，與內證異流而同源者也。其始或外由六淫之氣所感，或內被七情受傷。經云：邪之所湊，其氣必虛。陰虛者，邪必湊之。又云：營氣不從，逆於肉裡，乃生癰腫。明乎此義，則治證了然矣。如夏令暑蒸炎熱，肌體易疏，遇涼飲冷，逼熱最易內入，客於臟者，則為痧、為脹；客於腑者，則為吐、為瀉；客於肌表者，則為　、為瘰、為暑熱瘡、為串毒、為丹毒游火；客於肉裡者，則為癰、為瘍；客於絡脈者，為流注、為腿癰。斯時正氣壯強，逼邪出外，依法治之。在內證尤為易愈，或三日，或五日，或一候即霍然矣；若外瘍則稍多日期。亦有暑邪內伏，遇秋而發者，在經則為瘧，在腑則為痢，其在肌絡則為流注、腿癰等證，是名陽挾陰，用藥則以解散和營通絡；即不散而成膿，亦不至有大患。又有正虧邪伏深入，交寒露霜降而發者，在內則為伏邪癉瘧，朝涼暮熱，或晝夜熱而不退，纏延不已，致陰虛化燥，痙厥神迷，內閉外脫，不可為治；在外發癰瘍，則為正虛邪實，陰中挾陽；成膿潰後，雖與性命無妨，然收功延日，不能速愈。此陰陽、寒熱、表裡、虛實、氣血、標本之大凡也，為瘍科中之第一義，故首揭之。</p>
<h3>辨腦疽對口論</h3>
<p>薛立齋曰：腦疽屬太陽膀胱經積熱，或濕熱上壅，或風溫外感，或陰虛火熾，或腎水虧損、陰精消涸所致。其源之淺深不同，而證之輕重亦異。初起一粒形如麻豆；至一二日微寒身熱，漸漸加大；至七日成形，根盤紅腫，頂突寬松，是為順證。斯時憎寒壯熱，朝輕暮重，舌白苔膩，胸痞噦惡，脈細弦數，此濕熱上壅，即用黃連瀉心湯，或溫膽法；若面油紅，舌乾絳赤，煩躁干噦，口渴喜飲，大便堅實，是火熱傷液，如犀角地黃湯，或羚羊角、銀花、地丁、石斛、蘆根、鮮首烏、黃芩、枳殼、山梔、丹皮、燈心、竹葉、夏枯草等類，清其火毒、解其營熱。至十四日後膿透，根盤焦紫，熱退身涼，膿水淋漓，倘有不能透徹，清營方內加甲末、制蠶、角針，以攻其毒。至二候半，瘀腐漸脫，新肉漸生，身熱漸退，脾胃醒復。過二十八日後，腐全脫，新肉滿，飲食嘉，調養好，四十日收功。</p>
<p>又有一種陰證，初起形色俱不正，寒熱不加重，身雖發熱，面色形寒，瘍不高腫，根盤平塌，散漫不收，過候不透，膿稀不腐，正氣內虧，不能使毒外泄，而顯陷裡之象。此由平日腎水虧損，陰精消涸，陰火熾甚而成，其危險不能過三候矣。其中猶有三陷變局，謂火陷、干陷、虛陷也。火陷者，氣不能引血外腐成膿，火毒反陷入營，漸致神迷，發痙發厥；干陷者，膿腐未透，營衛已傷，根盤紫滯，頭頂干枯，漸致神識不爽，有內閉外脫之象；虛陷者，膿腐雖脫，新肉不生，狀如鏡面，光白板亮，脾氣不復，惡穀日減，形神俱削，漸有腹痛便泄寒熱，宛似損怯變象，皆不治之證也。大凡此證以小者為對口，大者為腦疽，俗即云落頭疽也。由感於六淫之邪而發者，為順為陽；傷於七情而發者，為逆為陰。余疽仿此。（對疽發背，必以候數為期，七日成形，二候成膿，三候脫腐，四候生肌）</p>
<p>以上論中，自陰證起，及三陷變局，不錄方藥者，以其變化多端，各宜隨證治之。</p>
<h3>腦疽後論</h3>
<p>腦疽之證，前言從外感受者輕，從五臟蘊結內發於外者重，茲復舉而申明之。由外感發者，多生於正中，屬督脈所主。督脈起於尾閭穴，貫脊而上，氣血交會，毒瓦斯得之，乃能外發，故易於高腫潰膿，生肌收口，此為易治之證。從內發者，多生於偏旁，屬太陽膀胱經所主。太陽膀胱主司寒水，性質多沉，起於巔頂，貫項兩旁，夾脊而下，此處發疽，氣血與瘡毒交會下流，故瘡多平塌，根腳走散，兩肩漫腫，膊項難轉，背如負石，難以成膿，難潰難斂，此不易治之證。夫所謂從五臟蘊結而成者，其源有五：心緒煩擾，煽動不寧，以致火旺而沸騰，行於項間，與寒水交滯而為膿者一也；惱怒傷肝，項乃三陽經統筋之所，肝傷則血脈不潮，筋無榮養，凝結為腫，故項緊急強痛，不能轉側，其患未潰前，肉色紫暗，堅硬漫腫，破流血水，木痛無腫者二也；思慮傷脾，脾氣日損，又或膏粱損胃，胃汁乾枯，以致中脘痞塞，氣不營運，逆於肉裡，乃生壅腫，其患外皮雖腐，內堅不潰，口燥舌乾，飲食不進，根腳走散，膿穢色散者三也；憂郁傷肺，肺傷則毛竅閉塞，腠理不通，氣不舒暢，縱橫經絡，結而為腫，其瘡形多平陷，色淡不榮華，皮腐脂流，形如湯潑，氣粗短促，鼻煤鼻　，漉漉生痰，殷殷發嗽者四也；恣欲傷腎，腎傷則真陰之氣敗，真陰一敗，相火即生，此火最能自升自降，或動或靜，瘡形紫黑，脈數乖度，煩躁口乾，隨飲隨渴者五也。故云內發者重。</p>
<p>外瘍中腦疽為第一險證，易成易敗，變化多端，故再細論之，特揭篇首。</p>
<h3>辨百會疽玉枕疽論</h3>
<p>百會疽者，一名玉頂疽。起於前頂後一寸五分，頂中央旋毛中，督脈、足太陽之交會處。初起寒熱大作，形如粟米，根盤堅硬，疼痛徹腦，頭如頂石，色赤者，可治。此由陽經亢極，熱氣不散，氣血凝滯，結聚巔頂而成；或由六陽經受風邪，風火相煽，臟腑熱毒上攻所致，其證為陽。治以真人活命飲、瀉心湯或犀角地黃湯。至七日成膿，膿泄毒化，調理可愈。若因心事勞攘，或真陰耗竭，虛陽浮泛而發，其色紫黑，三、五日後，悶亂而神不定，則不可治矣。證雖發於陽，實由陰精之消涸也。</p>
<p>玉枕疽，即後腦發，生於腦後枕骨中。由足太陽膀胱經濕熱凝滯而成。　赤高腫者，易治；平塌漫腫，未膿先腐，但流血水者，難治。治與腦疽同。</p>
<h3>辨夭疽銳毒虛實論</h3>
<p>夫夭疽銳毒者，發於耳後一寸三分，屬少陽膽絡，左名夭疽，右名銳毒，俗謂之耳後發。此證有虛有實，初起根盤散漫，頂不高突，平塌色白，形神俱靜，微惡寒，微身熱，漸減穀食。此由肝邪久郁，微感溫邪，觸動而發。如正旺者，氣血亦能化膿，潰後腫消郁散，月余收功。治法用疏肝流氣飲，或羚羊角散加石決明、牡蠣、刺蒺，或真人活命飲。如陰虧肝旺，化風逆絡，半邊頭痛徹腦者，正氣不能引血成膿，毒必內攻，或手足逆冷，或氣喘呃逆，或痙或厥，或七日，或兩候而斃，此為真陰證也。</p>
<p>又有溫邪阻絡，耳後發腫，根松頂高，初起雖色白，成膿卻　紅，憎寒壯熱，痛則朝輕暮重；潰後即熱退腫消，膿盡收口。是即風熱輕證，名火痰毒也。治以疏散涼解為主，如萬靈丹、荊防敗毒散、羚羊角散之類。</p>
<h3>辨大頭瘟抱頭火丹毒論</h3>
<p>大頭瘟者，系天行邪熱疫毒之氣而感之於人也。一名時毒，一名疫毒。其候發於鼻面、耳項、咽喉，赤腫無頭，或結核有根，初起狀如傷寒，令人憎寒發熱頭疼，肢體甚痛，恍惚不寧，咽喉閉塞，五、七日乃能殺人。若至十日之外，則不治自愈矣。治宜辨之，先診其脈，凡滑數、浮洪、沉緊、弦澀，皆其候也。但浮數者，邪在表，犀角升麻湯發之。沉澀者，邪氣深也，察其毒之盛者，急服化毒丹以攻之；實熱便秘者，大黃湯下之；或年高氣鬱者，五香連翹湯主之。又於鼻內　通氣散，取十余嚏作效；若　藥不嚏者，不可治之；若嚏出膿血者，治之必愈。凡左右看病之人，日日用　藥嚏之，必不傳染，切須記之。其病患每日用嚏藥三、五次，以泄熱毒，此治時疫之良法也。凡經三、四日不解者，不可太下，猶宜和解之，以犀角散、芩、連消毒飲，甚者連翹湯之類。至七、八日，大小便通利，而頭面腫起高赤者，可與托裡散、托裡黃　湯；如腫甚者，宜砭患處出惡血，以泄其毒。凡病若五日以前，精神昏亂，咽喉閉塞，語言不出，頭面赤腫，湯水難入者，必死之候，治之無功矣。須知此疾有陰有陽，有可汗者，有可下者，粗工但云熱毒只用寒藥，殊不知病有微甚，治有逆從，不可不審也。陶節庵曰：大頭傷風之證，若先發於鼻額紅腫，以致兩目盛腫不開，並面部　赤而腫者，此屬陽明也。或壯熱氣喘，口乾舌燥，咽喉腫痛不利，脈來數大者，用普濟消毒飲主之；如內實熱甚者，用通聖消毒飲。若發於耳之上下前後，並頭角紅腫者，此屬少陽也。或肌熱，日晡潮熱，往來寒熱，口苦咽乾目疼，脅下滿，宜小柴胡東加花粉、羌活、荊芥、連翹、芩、連主之。若發於頭上，並腦後項下及目後赤腫者，此屬太陽也，宜荊防敗毒散主之。若三陽俱受邪，並於頭面耳目鼻者，與普濟消毒飲；外用清涼救苦散敷之。大抵治法不宜太峻，峻則邪氣不服而反攻內，必致傷人。且頭面空虛之分，邪既著空處，則無所不至，治當先緩後急，則邪自服。先緩者，宜退熱消毒。虛人，兼扶元氣；胃氣弱，食少者，兼助胃氣。候其大便熱結，方以大黃下之，拔其毒根，此先緩後急之法也。蓋此毒先腫鼻額，次腫於目，又次腫於耳，從耳至頭，上絡後腦，結塊則止；若不散，必成膿也。俗云：大頭天行，親戚不相訪問，染多不救。泰和間多有病此者，醫以承氣加板蘭根，下之稍緩，翼日其病如故；下之又緩，終莫能愈，漸至危篤。東垣視之曰：夫身半以上天之氣也。身半以下地之氣也，此邪熱客於心肺之間，上攻頭面為腫盛，以承氣瀉胃中之實熱，是為誅伐無過，遂制普濟消毒飲子與之，全活甚眾。</p>
<p>抱頭火丹毒者，亦中於天行熱毒而發，較大頭瘟證為稍輕。初起身發寒熱，口渴舌乾，脈洪數，頭面　赤有暈。治以犀角地黃湯，或羚羊、地丁、銀花、黃芩、山梔、石斛、元參、丹皮、知母、連翹之屬。若舌膩有白苔者，宜黃連解毒湯；外以如意金黃散，蜜水調塗即愈。此證不傳染。</p>
<h3>辨鬢疽額疽論</h3>
<p>夫鬢疽者，乃少陽三焦、膽相火妄動，又兼腎水不能生木，或感風熱而發。蓋鬢發之際，肌肉相薄，最難腐潰。初起寒熱交作，頭眩，痛徹太陽，甚則耳目連鬢通腫。治法不可妄用針灸，必分陰陽表裡邪正虛實治之，庶不致誤。如初見瘡時，多寒少熱，口乾作渴，好飲熱湯，六脈虛數無力，又兼患上堅硬，不甚　痛，無潰無膿，瘡根流散，此乃真氣虛而邪氣實也，托裡為主，消毒佐之，如清肝養血湯、托裡消毒散之類。若初見瘡時，多熱少寒，頭眩作痛，口燥舌乾，渴欲飲冷，二便閉澀，六脈沉而有力，瘡形根腳不開，　腫疼痛，身體發熱，易腐易膿，此乃正氣實而邪氣虛也，消毒為主，托裡佐之，如梔子清肝湯、鼠黏子湯之類。又有形色紫黑，瘡勢平陷，堅硬無膿，而毒流耳項，又兼氣味不正，形容不澤，精神不明，飲食不進者，俱為不治。</p>
<p>額疽，生額上發際之間曲差穴，屬足太陽膀胱經。起則多發寒熱，頭疼如砟，不可忍耐，項似拔，腰如折。先宜用萬靈丹汗之，以解散風邪；後用清托。又有左額疽、右額疽，狀如桃李，此屬足陽明胃經積熱而成。此處近太陽穴，於潰後外傷風水，即能害人，雖貼膏藥，亦須遮護謹密，又宜用藥使瘡口速斂。如經冬月，即變冷瘡。況此處近太陽穴，上至額角，都為險處，如過時潰爛者不治。</p>
<h3>辨鳳眉疽眉心疔眉發論</h3>
<p>鳳眉疽者，生於眉心，一名印堂疽。屬足太陽膀胱經風熱壅結，陰陽相滯而生。初起色黯根平，硬腫疼痛。如初起色赤浮腫　痛，此名眉心毒；若色黑不痛，麻癢太過，根硬如鐵釘之狀，寒熱並作，即眉心疔也。治法初用萬靈丹發汗，內服荊防敗毒散；若不能消散者，即用奪命丹、活命飲攻之；有膿刺之，用升膏提毒，生肌散收口。</p>
<p>眉發生於眉棱，無論左右，皆膀胱小腸肝膽四經積熱所致。形長如瓜，疼痛引腦，二目合腫，堅硬色赤，按之有根，易成膿者，順；無膿者，逆；至十四朝不潰，煩悶嘔逆不食者凶。治法與前症同。東垣云：初起宜用海馬崩毒法救之。</p>
<p>海馬崩毒法：凡發背、對口、眉疽等證，初起時用熱水自肘後洗至手六經起端處止，日洗數十遍，以泄熱毒，務洗至指甲皮穰方可住洗。蓋三陽經俱屬督脈經所領，洗至指甲皮穰者，俾熱從根本而解也。此系秘傳，慎勿輕忽。</p>
<h3>辨眼丹眼漏論</h3>
<p>夫眼丹者，生於眼胞，或在上，或在下。眼胞屬脾胃，證雖見於脾胃之部，實由心經受毒，熱傳脾胃，熱毒升上，以致氣血凝聚而成丹毒也。風多者，則浮腫易消；熱甚者，則堅腫難散。宜以如意金黃散敷之，湯飲則用羚羊、甘菊、石決明、夏枯草、金銀花、丹皮、山梔等。如膿成，急以針刺之，遲則眼頭自破。此乃睛明穴，內空難斂，成漏者多。</p>
<p>眼漏一名漏睛瘡，生於目內　下，由肝熱風濕，病發於足太陽膀胱經睛明穴，其穴系藏淚之所。初起如豆如棗，紅腫疼痛，瘡形雖小，根源甚深，斯時宜用清解清散。如穿潰每難收斂，遂成漏管，以升藥條插入提之，一日一換，數十日方收口。內服神效黃　湯，或作為丸亦可。此證又有潰斷眼邊弦者，最難收口。</p>
<h3>辨眼胞菌毒眼胞痰核論</h3>
<p>眼胞菌毒者，乃脾經素有濕熱，思郁氣結而成。其患眼胞內生出如菌，頭大蒂小，漸長垂出，甚者眼翻流淚，久則致昏　。治法用軟綿紙蘸水，蔭於眼胞上少頃，用左手大指甲墊於患根，右手以披針尖頭，齊根切下，血出不妨，隨用翠云錠磨濃塗之，其血自止。內宜服涼膈散、清脾飲；若初起時，以清涼丸洗之。</p>
<p>眼胞痰核，結於上下眼胞皮裡肉外。其形大者如棗，小者如豆，推之移動，皮色如常，硬腫不疼。由濕痰氣鬱而成。外用生天南星蘸醋磨濃，頻塗眼皮，日數淺者，即消；日數深者，雖不能即消，常常塗之，塗令皮薄，微微剝損，以手指甲擠出如白粉汁即愈。然消散者多。</p>
<h3>辨鼻淵鼻痔鼻衄論</h3>
<p>鼻淵者，鼻流濁涕不止，或黃或白，或帶血如膿狀，久而不愈，即名腦漏。乃風熱爍腦而液下滲，此腎虛之證也。經曰：腦滲為涕。又曰：膽移熱於腦。《原病式》曰：如以火爍金，熱極則化為水。然究其原，必腎陰虛而不能納氣歸元，故火無所畏，上迫肺金，由是津液之氣不得降下，並於空竅，轉為濁涕，津液為之逆流矣。於是腎肝愈虛，有升無降，有陽無陰，陰虛則病，陰絕則死。此宜戒怒以養陽，絕欲以養陰，斷炙　，遠酒面，以防作熱。然後假之良醫，滋腎清肺為君，開鬱順氣為臣，補陰養血為佐，俾火息金清，降令胥行，氣暢郁舒，清竅無壅，陽開陰闔，相依相附，臟腑各司乃職，自慎以培其根，藥餌以治其病，間有可愈者。苟或驕恣不慎，或誤投涼藥，雖倉扁不能使之長生矣。主治之方，如初起用蒼耳散，久則六味地黃湯、補中益氣湯、麥味地黃湯、加味逍遙散，酌而用之可也。</p>
<p>鼻痔者，鼻內　肉，結如榴子，漸大下垂，或時縮進，或時垂出，閉塞孔竅，使氣不得宣通。此由肺氣不清，風濕鬱滯而成。夫鼻孔為肺之竅，為呼吸之門戶，其氣上通於腦，下行於肺，肺氣壅盛，一有阻滯，諸病生焉，故有鼻痔之患。宜內服辛夷散，或辛夷清肺飲；外以　砂散逐日點之，漸化為水乃愈。宜慎起居，節飲食，庶不致再發。</p>
<p>鼻衄者，或心火，或肺火，或胃火，逼血妄行，上干清道而為衄也。有因六淫之邪，流傳經絡，涌泄清道而致者；有因七情所傷，內動其血，隨氣上溢而致者；有因過食膏粱積熱而致者。治法：外因者，以辛涼清潤為主，如羚羊、犀角、細生地、石斛、生石膏、知母、元參、連翹、山梔、丹皮等；內因者，若系肝陽化風上逆，則宜甘咸柔婉，如阿膠、生地、石決明、天冬、麥冬之屬；若腎陰虧損，虛陽浮越者，則以滋潛為主，如六味丸、虎潛丸之類；其由飲食不節而火盛者，則用和陽消毒，如黃連解毒湯是也。又書謂：婦人產後，口鼻有黑氣，及見鼻衄為不可治者，何也？蓋五臟之華，皆上注於面，凡色紅赤者，陽熱之生氣也；青黑者，陰寒之絕氣也。況口鼻為陽明多血多氣之部，而見陰寒慘殺之氣，則胃中陽和之氣衰敗可知矣；復至鼻衄，則陽亡陰走也；胃絕肺敗，陰陽兩亡，故不可治。</p>
<h3>辨龍泉疔虎須疔顴骨疔論</h3>
<p>夫面部之上，人中之中為龍泉，人中之旁為虎須，面中高骨為顴骨，俱系陽明絡脈經行之地。此三處生疔，俱有輕有重，醫者但分輕重治之，不必分彼此之異也。其輕者，多因風熱而結，初起跡如蚊咬，而根盤已經堅腫，惡寒身熱，次日頭破如一粒椒。外用圍藥敷之，頂用白雪丹，以萬應膏蓋之；間日揭開，頂如僵腐狀，以升膏蓋之；再間一日揭膏，其堅腐自落，膿隨而出，藥用羚羊、地丁、銀花、丹皮、知母、連翹、黃連、山梔等類；如火盛熱甚，即用犀角地黃湯，或黃連解毒湯；若不透，即以制蠶、角刺透之；膿泄腫消，總以七日為期，後即膿盡收口。</p>
<p>其重者，或因於七情內傷，或因於膏粱濃味，醇酒炙　，五臟蘊熱，邪毒結聚而發。經曰：膏梁濃味發疔疽。此之謂也。初起形如粟粒，或如水泡，按之根深，如釘著骨，痛不可忍，根盤漫腫不透，面目浮腫，或堅腫　紅，惡寒身烙熱，惡心嘔吐，肢體拘急；三四日後，或口噤如痙，神識模糊，此以火毒陷入心包，即名走黃疔，十有九死之證。宜服紫雪丹或至寶丹，及犀角地黃湯；外藥亦如前法。又古方有奪命丹，可用一粒入瘡頭，以膏藥蓋之。若不省人事，或牙關緊急，以奪命丹為末，蔥酒調灌亦可。若有紅絲，急宜用針於血絲盡處挑破，使出惡血，以泄其毒，或有生者。又有餘毒走絡，而遍體發流注者，治與陽證流注同。</p>
<h3>辨唇疔繭唇唇疳論</h3>
<p>唇疔生於上下嘴唇，系脾胃兩經火毒所致。初起如粟，或不痛，或癢甚，其形甚微，其毒極深，其色或赤或白；若唇口上下紫黑色者，根行甚急，不一日頭面腫大，三、四日即不救。疔毒以愈小而愈橫也。治宜急泄火毒，勿損其脾胃之氣，毒易散矣。以蟾酥丸、犀角地黃湯主之。外用白雪丹入瘡頭，以膏蓋貼，俟次日揭開，擠去毒血；如未透泄，再用再貼。</p>
<p>又初時須細看腿灣委中穴，有紫黑筋，用長針刺破出血，其毒即泄。</p>
<p>繭唇亦生於嘴唇。經云：唇本脾之外候。又云：脾之榮在唇。故燥則干，熱則裂，風則，寒則揭。若腫起白皮皺裂如蠶繭狀，故名繭唇也。或因思慮暴急，心火焦熾，傳授脾經；或因醇酒濃味，積熱傷脾，而腎水枯竭。須審其證之因，惟補腎水、生脾血，則燥自潤，火自除，風自息，腫自消矣。歸脾養榮湯主之；作渴者，早服加減八味丸，午服清涼甘露飲，以滋化源。若婦人患此，陰血衰少故也，四物逍遙散主之。</p>
<p>又　唇疳，發於小兒嘴唇四旁，紅赤無皮，不時燥裂。此由脾經濕熱，或胃火積熱上壅，小兒時以舌伸　，以潤其燥。以白芷、五倍子為末，摻之即愈。</p>
<h3>辨口瘡口糜論</h3>
<p>夫口瘡與口糜者，乃心脾氣滯，更外感風熱所致。初起不可便用涼藥敷摻，恐寒凝不散，內潰奔走，久而難愈。必先用辛輕升散，而後清涼，使鬱火達外，再視其所因而治之。若脈實口乾，滿口色紅，而爛斑甚者，此實火也，以涼膈散主之；若脈虛不渴，口內色淡，而白斑細點，此因思煩太甚，多醒少睡，虛火上攻，宜以知柏四物東加丹皮、肉桂治之；更有脾元衰弱，中氣不足，不能按納下焦陰火，是以上乘而為口瘡糜爛者，丹溪所謂勞役過度，虛火上炎，游行無制，舌破口瘡是也，又當從理中東加附子治之。若作實熱，誤投涼藥，則必致害矣。又小兒生此證者，以陰氣未生，陽氣偏盛；又因將養過溫，心脾積熱，薰蒸於上而發。治宜瀉心化毒清涼為主。若月內諸病，而口無涎沫者，凶。</p>
<h3>辨嬰孩螳螂子雪口疳梅花疳論</h3>
<p>嬰孩螳螂子者，以其在母腹中時吸飲，胎火血熱，產下後或三、五朝而發，或半月或月余而發。其始起也，兩頰外堅裡腫，難於吮乳。斯時即以巴豆一粒，麋香七厘，搗研和勻，作兩丸，放膏藥上，貼兩太陽、風門穴，次日即起水泡，揭開，急將銀針挑破，去其毒水即愈。此水不可令其流入眼內，若入眼，恐致損明。又法將鮮生地一兩、大黃一兩，搗爛，和入麋香二分，均作兩團，扎於兩足底涌泉穴。如三日後，仍難吮乳者，即以刀破之，割去其惡腐之物，以真京墨磨塗之自愈；亦有割傷而外頰堅腫成膿者。</p>
<p>雪口疳，乃胎熱蘊蓄心脾，上蒸於口，舌上遍生白屑，如鵝之口，故又名鵝口。甚則咽間疊疊腫起，致難乳哺，哺時必多啼叫。急用月石一錢，以滾水泡半茶杯，將棉花裹箸頭上，蘸水繳淨白苔，重手出血不妨，以冰硼散吹之。如口內舌上生白斑，如梅花瓣者，即名梅花疳，治同上；煎飲用川連、大黃、銀花、鉤藤、甘草、丹皮、山梔、石斛等，或加犀角汁亦可。</p>
<h3>辨牙咬托腮寒熱虛實傳變骨槽論</h3>
<p>夫牙咬托腮者，一生於風寒暑熱，陽明濕熱交蒸；一生於陰虧絡空，少陽膽火循經上逆。生於風寒濕熱者，初起惡寒發熱，面浮腮腫，牙關不能開合，牙齦脹及咽喉，湯水似乎難入，實可下咽。斯時宜表散透邪，如牛蒡、薄荷、秦艽、僵蠶、夏枯草、荊芥、石斛等類，不可以喉脹熱盛，即用鮮地、羚羊清火等藥。若遏抑凝滯，則腫愈堅，牙關愈閉矣。至三、四日後，寒熱不退，不能消散，其膿結於盤牙盡處者為牙咬，結於腮邊外者為托腮，結於牙根者為牙癰，是可清火徹熱，如羚羊、犀角、石斛、蘆根、薄荷、荊芥之屬；如舌白膩滑，惡心嘔逆者，即以芩、連、山梔或溫膽法；如大便燥實者，以肺胃火盛，即用鮮地、栝蔞、枳實、杏仁等類。穿潰後邪從膿泄，身熱自退，脾胃自復，牙關自開，調養數日，即膿盡收口。</p>
<p>其生於陰虧絡空者，或其人素嗜酒，不節欲，常有郁勃不舒，偶感微邪，引動肝陽膽火上循入絡。起自牙關堅固不開，腮腫齦脹，惡寒身熱，脈細而數，漸漸成膿。至十日或半月後，膿從牙齦而泄，或從舌旁而出，或在左延及於右，或在右延及於左，即名沿牙毒；久則腮邊出頭，即名穿牙毒；外通裡徹，即名骨槽風，延及必成朽骨，必俟多骨脫落，方能收功。此證雖不害人性命，然收功延日，難以速痊。治當以疏肝散郁育陰為主，佐以解毒泄熱。</p>
<p>又幼孩生此證者，彼既無醇酒炙　，又無肝邪鬱滯，是因齒生未齊，骨髓未滿，營衛未充，偶感風寒客熱，襲入骨髓，正不卻邪而發。腮頰漫腫，裡雖出膿，勢必外潰，久不斂口，亦成多骨。治法總以調和氣血、扶養胃氣為主，俟正氣充足，方能脫骨收口矣。</p>
<h3>骨槽風後論</h3>
<p>夫骨槽風之證，固有傳變而成者矣，亦有非傳變而成者。其人或有憂愁思慮驚恐悲傷，以致氣血凝滯；或由風寒襲入筋骨，邪毒交生。起於耳前，連及腮頰，筋骨之間，隱隱疼痛，漸漸漫腫堅硬，寒熱如瘧，牙關緊急，難於進食，久則腐潰，腮之裡外，仍然漫腫硬痛。此證屬在筋骨陰分，故初起腫硬難消，潰後瘡口難合，肝脾受傷，熱毒蘊積，是以筋骨緊急，肌肉腐爛，而膿多臭穢。初宜用艾灸以解其毒，服降火化痰清熱消腫之劑；潰後或用八珍湯或十全大補湯，補托藥中，宜加麥冬、五味。亦有過服寒涼，以致肌肉堅凝腐臭者，非理中湯佐以附子不能回陽，非僵蠶不能搜風也。若牙關拘急不開，宜用生薑片墊灸頰車穴（穴在耳垂下五分陷中）二七壯，兼用針刺口內牙盡處出血，其牙關自開。如外腐不脫，膿水不清，久則必成朽骨，俟朽骨脫去，始能收口。如或穿腮落齒，虛熱不退，形焦體削，痰盛不食者，俱為逆證。設至後脾氣醒復，飲食加增，亦有向愈收功者。其腐爛處，用口疳藥加牛黃、珍珠、兒茶吹之，外用升膏提之。</p>
<h3>辨牙漏牙宣牙疔論</h3>
<p>牙漏之患，起於心胃火鬱，腎陰消涸，或心事郁遏，胃熱挾其五志之火而發。有生於上牙齦者，亦有生於下牙齦者。初則高腫作痛，久則上現黃泡，破後出膿漸安，然其口難合，細如針孔，但遇操勞，或心緒煩擾，或煎炒煙酒過度，即再發而腫痛，時出穢膿，更有串至左右齒根者。雖不妨命，為累亦甚。初起宜升陽散火法，或甘露飲；久則當用六味地黃東加元參、石斛、麥冬、蘆根，或涼八味，或大補陰丸等，多服久服，自可全愈。初治切不可用苦寒之藥，內服外搽，致令心胃之火鬱而又郁，反使火毒根株愈深；亦不可早用斂藥，亦能使火毒內斂，便有腐蝕脫根落齒之害。</p>
<p>牙宣又名齒衄，從牙縫中出血，或鮮血時從牙齦外溢。齒乃骨之余，腎之所主也。心腎火邪逼血妄行，故齒出血；然少陰氣多血少，血必點滴而出，齒亦隱隱而痛，多欲者恆犯之。治當涼心滋腎，玉女煎或六味地黃湯，或涼八味加骨碎補、女貞子、阿膠、地骨皮等主之。亦有胃經實火上攻，而齒齦出血者，陽明氣血俱多，火旺則血如潮涌，善飲者每犯之。宜清熱涼血，犀角地黃湯主之，清胃散亦可。又有胃虛火動，腐爛牙齦，淡血常流者，宜歸芍地黃湯；仍不止，亦用犀角地黃湯，或玉女煎；吹以殺疳止血藥。</p>
<p>風熱牙疔，如寒熱而起者，初則牙痛，後即齦腫，腫連腮頰，頂尖高突，按之引手，內有膿也，刺之即瘥。治以清透散邪，牛蒡解肌湯或玉女煎，或犀角地黃湯，各宜酌量治之。</p>
<h3>辨走馬牙疳風熱牙疳牙菌論</h3>
<p>李東垣曰：走馬疳者，腎經熱毒上攻，腎臟主骨，齒為骨余，上奔而潰，勢如走馬之速，故名之。小兒或因胎毒，或因痧痘後余毒，或因傷寒時疫後而發，或因瘧痢後而結。其外候，身體壯熱，手足時冷，或面浮腫，或滑泄頻頻；始則口臭，繼遂齦爛，色如干醬，後則齒黑，有時牙齦出血，或膿臭成蟲，侵蝕口齒，甚至腮頰紅腫；次日其色變紫，隔日即黑；再過日，即腐脫齒落，氣喘痰鳴，頭額冷汗而脫矣。治法：初起宜內服清解，如犀角地黃湯，或玉女煎之類，先去積熱，再服化毒丹撒去其毒；吹以冰青散加西黃、珍珠，或亦有得生者。大凡此證穢氣衝人者，死；下蝕咽喉，上蝕鼻梁者，死；齒落無血者，死；涎向外流者，死；黑腐不脫者，死；身熱不退者，死；穿腮透唇者，死；鼻梁黑暗者，死；脾敗便泄，飲食不進者，死。</p>
<p>又有風熱牙疳，其來迅速，寒熱時作，即以兩三日而發，大人小兒多有之。牙縫出血，牙根碎腐，宜以疏散清解為主。亦有不發寒熱者，因胃火濕熱上蒸而發，治以清解，或苦降泄熱，如犀角地黃湯，或黃連解毒湯等；吹藥同上，或殺疳藥吹之亦可。</p>
<p>牙菌生於牙齦，其形狀紫黑色，高低如菌。此屬火盛血熱兼氣鬱而成。加味逍遙散主之，前藥亦可服。</p>
<h3>辨舌喑舌痹論</h3>
<p>舌喑者，中風而舌不轉運，舌強不能言是也。經曰：喉嚨者，氣之所以上下；會厭者，聲音之戶；舌者，聲音之機；唇者，聲音之扇；橫骨者，神氣所使，主發舌者也。舌為心之苗，然心之本脈系於舌根，脾之絡脈系於舌旁，肝脈循陰器絡於舌本，少陰之脈走喉嚨系舌本；足四經之脈，皆上於舌。邪中其經，則痰涎閉其脈道，舌不能轉運，而為之喑矣。有喉喑者，勞嗽失音，即喉嚨聲啞是也。故喉喑者，喉中之聲嘶，而舌本能言；舌喑者，舌本不能言，而喉中之聲如故。中風而舌喑者，舌與喉俱病，而音聲不能發於會厭也。然有外感內傷之因，外感者，風寒火熱之邪也；經曰：諸病暴喑，皆屬於火。內傷者，心肺腎三經致病，亦多由痰火壅塞上竅，氣血兩虛，不能上榮，則舌機不轉也；有腎虛而氣不歸源，內奪而胞絡內絕，不能上接清陽之氣者；有元氣不足，肺無所資者；有血衰而心失所養者。蓋心為聲音之主，肺為聲音之戶，腎為聲音之根。經曰：三焦之氣通於喉嚨，氣弱則不能上通矣。</p>
<p>治者能於根本用力，則丹田清陽之氣，自能宣揚振作，故古人每以獨參湯、地黃飲子取效也。</p>
<p>舌痹者，強而麻也。乃心緒煩擾，憂思暴怒，氣凝痰火所致。夫舌固屬心脾，而肝脈亦絡舌本。故傷寒邪傳厥陰，則舌卷囊縮而不言；七情所郁，則舌腫滿口而不得息；心熱則舌裂而瘡；脾熱則舌滑而胎；脾閉則舌白胎如雪；肝熱則舌木而硬。若人無故舌痹者，不可作風熱治，蓋由心血不足、血虛火爍耳，理中湯合四物湯主之。</p>
<h3>辨木舌舌衄論</h3>
<p>木舌者，舌忽腫脹，轉掉不仁。舌者心之苗，心者舌之本，因心經熱毒而發，或因臟腑壅熱，心脾積熱，其氣上衝而發。甚則塞滿口中，硬如山甲，若不急治，則致害人。更不可用手去按，按則恐損舌根，每長致語言不清楚。如至啼叫無聲，面色頻變，而驚疼者不治。</p>
<p>治法以小刀點紫黑處，或刺舌下金津玉液二穴，破出血痰，以冰硼散吹之；內服荊防敗毒散，煎藥內務多加山梔，乃瀉火之要品也。</p>
<p>舌衄者，舌上出血，如線不止，是心胃火邪熾甚，逼血妄行，以六味地黃東加槐花主之，或黃連解毒湯、犀角地黃湯亦可；外用槐花炒研細干摻。</p>
<h3>辨舌疳牙岩舌疔論</h3>
<p>舌疳者，由心脾毒火所致。蓋舌本屬心，舌邊屬脾，因心緒煩擾則生火，思慮傷脾則氣鬱，郁甚而成斯疾，其證最惡。初如豆，後如菌，頭大蒂小，又名舌菌，疼痛紅爛無皮，朝輕暮重，急用北庭丹點之，自然縮小而愈。若失於調治，以致　腫，突如泛蓮，或狀如雞冠，舌本短縮，不能伸舒言語，時漏臭涎，再因怒氣上衝，忽然崩裂，血出不止，久久爛延牙齦，即名牙岩。甚則頷腫結核，堅硬時痛，皮色如常，頂　一點，色黯不紅，破後時流臭水，腐如　綿，其證雖破，堅硬仍前不退，此為綿潰，甚至透舌穿腮，湯水漏出，是以又名翻花岩也。因舌難轉掉，飲食妨礙，故每食不能充足，致令胃中空虛，而怯證悉添，日漸衰憊。初起腫赤，宜用導赤散加黃連；虛者，歸脾湯；便溏者，歸芍異功湯。然此證治法雖多，百無一生；縱施藥餌，不過苟延歲月而已。</p>
<p>舌疔，舌上生紫泡，其形如豆，堅硬寒熱，疼痛應心而起，亦心脾之火毒也。宜用蟾酥丸含放舌下，隨化隨咽，以解內毒；甚者刺之，服犀角地黃湯。</p>
<h3>辨懸癰HT舌論</h3>
<p>懸癰者，生於上　，形如紫李，墜下抵舌。初起寒熱大作，成癰後舌不能伸縮，口不能開合，惟欲仰面而臥，鼻中時出紅涕，乃手足少陰三焦積熱所致。治宜刺之，去青黃赤血，吹以冰青散加黃連；內服黃連解毒湯，或犀角地黃湯，數日可愈。</p>
<p>HT　舌者，舌根下生癰，或舌下又生一小舌，謂之重舌；又有舌下生三小舌，其狀如蓮花之形，又名蓮花舌。蓋舌為心之苗，肝脾脈皆絡舌本。或由思慮太過，心火上炎所致；或由脾經有熱，阻其氣血而成；或由憂思抑郁，肝邪上亢而結。初起頭痛，寒熱交作，用牛蒡解肌湯發汗；若寒熱不退，即用黃連解毒湯，或犀角地黃湯；有膿針之，吹以冰硼散；如無膿，七日後可消。</p>
<p>又或有外感風熱，頦下漫腫，而發外懸癰HT　舌者，起時頭疼項強，寒熱交作，有成膿者，亦有不成膿者，以鐵箍散圍之。治以透表散邪，如熱盛，或羚羊角、川連亦可。如過五、六日後，皮色　紅漫腫者，即成膿矣，宜刺之。此證與風熱痰毒同。</p>
<h3>辨喉蛾喉癰論</h3>
<p>咽喉為一身之總要，百節關頭，呼吸出入之門戶，左為咽屬胃，右為喉屬肺。或內因，或外感，瘍證頗多。試先即喉蛾喉癰論之。夫風溫客熱，首先犯肺，化火循經上逆入絡，結聚咽喉，腫如蠶蛾，故名喉蛾。（今世俗傳說雞鵝之鵝，謂不可食菜者，非也）。或生於一偏為單蛾，或生於兩偏為雙蛾。初起寒熱，漸漸脹大，即用疏解散邪，如牛蒡散加黃連、荊防敗毒散之類，又以冰硼散加薄荷、川連末吹之。至三、四日後，脹甚痰鳴，湯水難入，宜以刀刺喉間腫處，用皂角燒灰、膽礬、牛黃、冰片各一分，麋香三厘，為末，吹之，必大吐痰而松。再服清火徹熱湯飲，如黃連解毒湯，或鮮地、羚羊、知母、石斛、元參、丹皮、蘆根、連翹之屬；若不大便者，可服涼膈散通腑泄便。凡蛾有頭如黃色樣者，必以刀點之；或有不出黃頭者，即不必點；至七日後，寒熱自退，腫脹自消。（大凡風火外瘍，總以七日為期。）</p>
<p>亦有虛火上炎而發者，以其人腎水下虧，腎中元陽不藏，上越逆於喉中而結，須用引火歸源之法，若桂附八味丸是也。辨虛實之法，若實火脈數大，清晨反重，夜間反輕，口燥舌乾而開裂；虛火脈細數，日間輕而夜重，口不甚渴，舌滑而不裂也。且外感之腫脹，其勢暴急；內因之腫脹，其勢緩慢。以此斷之，庶無差誤。</p>
<p>喉癰生於咽外正中，腫形園正。其感風熱而發者，與喉蛾同治；若因心肝之火，上爍肺金，熱毒攻喉，而發為癰腫者，宜用龍膽湯，或黃連瀉心湯之類。</p>
<h3>辨纏喉風虛實不同及小兒馬脾風論</h3>
<p>夫纏喉風者，熱結於喉，腫繞於外（喉之外面亦腫），且麻且癢，風痰壅甚，聲如曳鋸，是其候也。其證有虛有實。虛證初起前二日，必胸膈氣逆，出氣短促，忽然咽喉腫痛，痰涎上涌，甚則頸如蛇掣，水漿不入，手足厥冷，手指甲白，手心壯熱，最為危險，此由陰虧火亢而發。其人素有痰熱，或因飲酒過度而胃火動，或因忿怒失常而肝火動，或因房勞不節而腎火動，火動痰生，而痰熱燔灼，壅塞於咽嗌之間；火性最速，所以內外腫痛而水漿難下也。治療之法，急則治標（標者痰也），緩則治本（本者火也）。或用丸散以吐痰散熱，或用鵝翎醮桐油探吐，或以銀針刺腫處出惡血，吹以冰硼散，或刺大指少商穴出血，後用湯藥以降火補虛。但治法雖多，愈者不過十之一二，醫遇此證，亦惟盡人事以待天而已。其證之實者，則由風溫襲犯肺胃，風火相煽，上逆於喉，痰涎隨而涌上。亦宜先去其痰，後服麻杏甘膏湯。若待三日後，病勢不退，或更加咽喉掣緊，面赤氣粗，即為不治之證矣。</p>
<p>小兒患馬脾風，是風溫襲於肺竅，或胸膈積熱，心火凌肺，熱痰壅盛，肺脹喘滿，胸高氣急，脅縮鼻張，悶亂咳嗽，煩渴痰潮聲嗄，喉間氣喘如曳鋸者是也；若不急治，死在旦夕。陳飛霞道人曰：蓋心為午火，屬馬，言心脾有風熱也，急用牛黃奪命散下之效；用黑牽牛（半生半炒）、白牽牛（半生半炒）、錦紋大黃（晒）、檳榔（切，晒）各取末一錢，和勻，每用五分，蜜湯調下，量兒大小加減。痰盛，加輕粉一字，以大便泄、痰氣平為度。</p>
<h3>辨喉疳喉菌論</h3>
<p>喉疳，喉間上　有青白紅點平坦者是也，或亦有喉間作痛而潰爛者，此由腎虛火旺，沸騰上部而發。治之須用六味丸加減。若山梔、黃芩、元參、丹參、女貞、知母、龜板之屬，隨宜用之；吹藥冰青散中加五倍子、白芷、牛黃、珍珠、黃連等物。又有肺經熱毒積聚而發者，其證生於咽喉之下，肺管之上，看之不見，吹藥不到，飲食妨礙，此名過橋疳，潰爛作痛，往往久而不愈。此或系天行疫毒，或系梅瘡遺毒，俱宜服化毒丹、銀花解毒湯或涼膈散；吹藥與上同。</p>
<p>喉菌狀如浮萍，略高而濃紫色，生於喉旁，因憂郁氣滯血熱而生，婦人多患之。輕則半月二十日，重者月余。要在治之得法，患者守戒忌口，方能痊愈。加味逍遙散主之。</p>
<h3>辨喉痹喉癬論</h3>
<p>夫喉痹者，咽喉腫痛無形（腫而無形者為喉痹，腫而有形即為蛾為癰），或腫一邊，或腫兩邊，妨於飲食，阻於呼吸，故名痹也。經曰：一陰一陽結，謂之喉痹。一陰，少陰君火也；一陽，少陽相火也，二脈俱絡咽喉。或其人平素陰虧，君相無制，亢甚逆於喉中而結；或外為風溫所襲，助其火邪，致循肺絡，入喉而結。其風熱喉痹，內外皆腫，痰涎壅塞喉間。</p>
<p>治法先去其痰，腫甚者用刀點之，出血瀉火，以冰硼散吹之，內服羚羊角散，或黃連解毒湯可愈。至虛火上攻而為痹者，宜服六味地黃湯、知柏八味丸、大補陰丸之屬，以滋陰壯水為主。又有腎水衰竭，龍火不藏，上越於喉中而成痹者，以腎脈循喉嚨，故火亢亦有此證。其人必時時咳嗽，咽燥口渴，手足心熱，脈細數。若但壯其水，而龍火不肯潛藏，須用導火歸源之法，從下而引之，方能退伏，若桂附八味丸是也。余如阿膠、麥冬、龜板、燕窩、女貞、貝母、元參之類，清燥救肺，亦可隨時酌用。</p>
<p>喉癬之生也，始時必有陰虛咳嗽，後遂喉中作癢而痛，咽唾隨覺干燥，必再加咽唾而後快，久則成形，或如哥窯紋樣，又如秋葉背後紅絲，又或紅點密密，如蚊蚤咬跡之狀。良以真陰虧損，腎火上衝，肺金受爍，營衛枯槁而結。治法與喉痹大略相等。此證若久不愈，則咽喉必至失音而成損怯，不可救矣。治以清燥救肺湯，或大補陰丸，或知柏八味丸。</p>
<h3>辨梅核氣喉喑論</h3>
<p>梅核氣者，乃痰氣結於喉中如塊，咽之不下，吐之不出。《金匱》云：婦人咽中有如炙臠，半夏厚朴湯主之。炙臠者，干肉也。此病不因腸胃，故不礙飲食、二便，不因表邪，故無骨疼、寒熱，乃為積寒所傷，不與血和，血中之氣溢而浮於咽中，得水濕之氣凝結難移。</p>
<p>男子亦間有之。藥用半夏厚朴湯，乃二陳湯去陳皮、甘草，加厚朴、紫蘇、生薑也。專治婦人七情之氣，鬱滯不散，結成痰涎；或如梅核在咽，咯咽不下；或中脘痞滿，氣不舒暢；或痰飲中滯，嘔逆惡心，並可取效。蓋半夏消痰降逆，厚朴散結，生薑、茯苓宣至高之滯而下其濕，蘇葉味辛氣香、色紫性溫，能入陰和血，則氣與血和，不復上浮也。</p>
<p>喉喑者，謂有言而無聲。由風火侵肺，誤服寒涼生冷。音雌者輕，虛癆肺損音啞者難治。又病患瘥後，氣短及聲不出者，皆肺氣不行，宜服降氣湯，多加前胡，臨服加薑汁以佐之。又婦人有子喑病，經云：婦人重身九月而喑者，胞之絡脈絕也，無治，當十月復。謂胎至九月，兒體已長，胞宮之絡脈，系於腎經者，阻絕不通，故間有是證。蓋腎經之脈，上系舌本，脈道阻絕，則不能言，至十月分娩後，而自能言，不必加治，治之當補心腎。</p>
<h3>辨爛喉丹痧順逆論</h3>
<p>夫爛喉丹痧者，系天行疫癘之毒，故長幼傳染者多，外從口鼻而入，內從肺胃而發。其始起也，脈緊弦數，惡寒頭脹，膚紅肌熱，咽喉結痹腫腐，遍體斑疹隱隱，斯時即宜疏表，如牛蒡解肌湯、升麻葛根湯，內加消食等藥；喉內用珠黃散吹之。至三、四日，溫邪化火，熱盛痧透者，解肌湯內加犀角、羚羊、石斛、花粉；若大便干結燥實者，涼膈散亦可；如協熱便泄，舌苔白膩者，葛根芩連湯。至五、六日，熱甚，神識時迷，咽喉腐爛，鼻塞不通，時流濁涕，此以火盛上逆，循經入絡，內逼心胞，用犀角地黃湯，或玉女煎內加膽星、石菖、西黃、藥珠，或紫雪丹。至七日後熱退，遍體焦紫，痧　如麩殼，脫皮而愈。</p>
<p>如起時一、二日後，脈細弦勁，身雖紅赤，痧不外透，神識昏蒙，語言錯亂，氣逆喘急者，此疫毒內閉，即為險逆證。可用鮮生地四兩搗汁，和金汁、梨汁、蔗漿；再用鮮蘆根煎湯，磨犀角汁沖和，送化紫雪丹或珠黃散。惟芳香開逐，庶可冀其僥幸於萬一耳。</p>
<h4>附：王步三先生爛喉丹痧論</h4>
<p>夫爛喉丹痧之證，方書未載其名。上稽往古，《金匱》有陽毒之文，叔和著溫毒之說，其證形與今之名丹痧爛喉者極合。本論以升麻鱉甲湯、黃連解毒湯主治。是論邪入陰陽二經。治法大例，原未教人穿鑿執方，學人以意會之可也。今考斯證，每發於雜氣邪陽之令，來勢卒暴莫制，如迅雷風烈，令人色沮，見者莫不萎　咋舌，卻走不遑。與費氏所論痘證中，邪火毒伏之例，如脈伏厥冷、汗淋便泄、噦逆躁煩諸惡款相同。甚有一門傳染，不數日間相繼云亡者。嗚呼！其慘酷何至今為烈耶。程郊倩云：古人出痘少，溫毒始盛；今人出痘多，溫毒亦少。時下種痘之術盛行，或邪毒未泄所致歟，抑亦氣運自然之會歟。《吳醫匯講》中，李祖二君，論證論治甚詳。所謂驟寒則火鬱而內潰，過散則火焰而腐增，洵屬至理名言，確乎不拔。然亦不外繆氏筆記中，肺胃為本，先散後清之旨云爾。推此論治，邪氣在衛，麻杏甘膏，勢所必投；毒火侵營，犀角地黃，亦所當取；即如眉壽葉氏，宗喻老芳香宣竅解毒之議，治用紫雪丹，其法亦不可缺。顧臨證權宜，要在生心化裁之妙耳。然歟否歟，自有能辨之者，管見一斑，俟高明教政。倘更示以指南，不致蒼生貽誤，幸甚幸甚。</p>
<h3>辨耳癰耳菌虛實論</h3>
<p>夫耳者，腎所開竅，又屬少陽膽三焦經脈所會之處。為癰為瘍，不外乎諸經火逆所致。</p>
<p>然有虛火，有實火，不可不辨也。如風溫襲阻，初起必寒熱往來，頭痛，耳中腫脹，脈弦硬數，似乎瘧狀，用牛蒡、荊芥、薄荷、夏枯草、丹皮、山梔，或小柴胡湯，如得汗邪徹，則腫脹自平；或至三、五日後，脹痛更甚，身熱不和，風溫化火，必挾肝邪上升，脹痛時如針刺，內成膿矣，用羚羊角、丹皮、山梔、鉤鉤、夏枯草，或龍膽瀉肝湯，俟膿泄邪徹，自熱退痛止。但其膿不能即干，必須十日半月收功；以少陽三焦多氣少血，血少則肌肉難長，故瘡口難合耳，此實火之證也。須知耳內有膿時，不可用末藥摻之，蓋耳竅止有開而無合，將藥納入，塞阻孔竅，膿不外泄，熱毒即循絡外達，繞耳紅腫，則發外耳癰矣。必欲開刀膿泄方愈。所謂虛火耳癰者，或因肝膽怒火遏郁，或因腎經真陰虧損，相火亢盛而發。初起亦必寒熱，脹而不腫，頭頂連項掣痛，脈細數，神形靜。此肝陽挾虛火上逆，不能消散，久則成膿，此瘍最難速愈。初時用羚羊角散，冀其鎮肝清熱，久宜用大補陰丸，或金匱腎氣丸滋陰補虛，庶可取效。又幼孩三、四歲時，亦有此證，經年膿水不干。此系先天不足，水不養木，肝陽上逆而結。不痛不腫，不必治之；俟陰分足，肝陽平，則愈矣。又小兒因胎風胎熱，或洗浴灌水，耳內亦致作痛生膿。初時不可搽藥，候毒盡自愈；如月外不瘥，以紅綿散治之。</p>
<p>耳菌，耳口中發一小粒，形紅無皮，宛如菌狀，不作膿，亦不作寒熱，但耳塞不通，纏綿不已，令人耳聾。先用針刺破，以玉紅膏塗之，耳脹痛，用虎耳草汁滴入耳內，痛即止；內服藥同虛耳癰。</p>
<p>附：耳漏生於耳根翎上，女孩穿耳穿傷者多此證，潰膿最難收口，必升藥條提之，歷久方愈。</p>
<h3>辨鸕瘟（俗名土婆風）耳根癰異證同治論</h3>
<p>夫鸕　瘟者，因一時風溫偶襲少陽，絡脈失和。生於耳下，或發於左，或發於右，或左右齊發。初起形如雞卵，色白濡腫，狀若有膿，按不引指，但酸不痛，微寒微熱；重者或憎寒壯熱，口乾舌膩。初時則宜疏解，熱甚即用清泄，或挾肝陽上逆，即用熄風和陽。此證永不成膿，過一候自能消散。</p>
<p>耳根癰，初起根盤堅腫，其色亦白，止發一邊，從無雙發，憎寒發熱，斯時疏解散邪，得汗則消。如過七日，身熱不退，即欲成膿，治用羚羊角散。如寒熱無汗，即用小柴胡東加制蠶、角刺攻透之；俟開刀出膿，腫消熱退而安。其時用藥，須扶胃和營，不可亂投補托，蓋風溫偶阻，是正旺邪實，若投參　歸術，必致氣血壅滯，脾胃呆鈍，膿反不清，以致延綿日期，不即收口。大凡風溫偶感者，此為陽實證，正旺邪實，俟膿泄邪退，營衛自和而愈。</p>
<p>若用參　扶正固托，則反受其累矣，此不可不知也，同學人宜類推之。如時邪瘟證後余邪未徹，耳項發頤，亦有成膿者，治法與此同。</p>
<h3>辨發頤豌豆瘡論</h3>
<p>發頤，乃傷寒汗下不徹，余熱之毒未除，邪結在腮頜之上，兩耳前後硬腫疼痛。初起身熱口渴，當用連翹敗毒散清熱解毒，或普濟消毒飲亦可；如正虛邪實，津虧液枯，大便秘結。神識昏蒙，脈來弦硬者，則以犀角地黃東加西黃、膽星、竹瀝主之。又有濕溫時邪，或伏邪癉瘧，或溫痧疫毒，雖得汗而余邪未徹，走入少陽，發於頤者，身體仍然寒熱，舌苔白膩，或大便堅結，或協熱下泄，當以瀉心合溫膽，或葛根芩連湯治之。如寒熱不止，患上紅腫光亮而　者，勢均力敵必成膿，穿潰後不可驟投補托，止宜扶胃和營；外以升膏蓋貼。如膿不外泄，用升藥線提之。</p>
<p>豌豆瘡者，亦因傷寒汗下後余毒未盡，故於瘥後而發。只以黃連、甘草、歸尾、紅花、防風、苦參、荊芥、連翹、羌活、白芷之類煎服。外用芒硝、赤小豆、青黛為末，以雞子清和豬膽汗調和，敷瘡上最效。勿動其靨，待其脫落無痕。</p>
<h3>辨頸癰鎖喉癰論</h3>
<p>頸癰生於頸之兩旁，多因風溫痰熱而發。蓋風溫外襲，必鼓動其肝木，而相火亦因之俱動。相火上逆，脾中痰熱隨之，頸為少陽絡脈循行之地，其循經之邪至此而結，故發癰也。</p>
<p>初起頭痛，身發寒熱，頸項強痛，漸漸腫赤，投以疏解散邪，勢輕者即能消散；若四、五日後，寒熱不解，便欲成膿，當清熱和營，出膿後扶胃和營，大約半月收功。亦有因於陰虛，少陽三焦火鬱上攻，氣血凝滯而發者。然此證必兼挾風熱，非純乎內傷之證也。所以較他證肝邪所發者，猶為易愈耳。</p>
<p>鎖喉癰，生於結喉之外，紅腫繞喉。以時邪風熱，客於肺胃，循經上逆壅滯而發；又或因心經毒瓦斯，兼挾邪風結聚而發。初起外候與火痰相似，根盤松活，易於潰膿者順，堅硬而難膿者重。治法與前證可以參用。</p>
<h3>辨風熱痰驚痰論</h3>
<p>夫風熱痰皆發於頸項間，以風溫阻於少陽梢絡而發。初起寒熱，項間酸痛，結核形如雞卵，根盤散漫，色白堅腫，斯時宜用牛蒡解肌湯，五日後身涼自能消散。如身熱不退，即頂尖色漸轉微紅，而成膿矣，穿潰後膿泄邪退，自能收口。然此證生於幼孩者多，蓋風溫襲入，化火發熱最易成膿，以幼孩純陽，不耐身熱故也。成膿時，或發痙厥不妨。</p>
<p>又有小兒驚後發痰者，以風溫初襲，來勢急暴，肝陽弗寧，即手足搐搦，有頃其勢稍殺，邪即循經而上，結於頸項之間，腫硬成瘍，此名驚痰，其兒即驚止體安。如熱不退，即欲成膿，不可妄用驚藥，但以牛蒡解肌湯主之。</p>
<h3>辨瘰癭瘤論</h3>
<p>瘰　之病，屬三焦肝膽等經風熱血燥，或肝腎二經精血虧損，虛火內動；人或恚怒憂思，氣逆於肝膽二經，二經多氣少血，故怒傷肝，則木火動而血燥，腎陰虛則水不生木而血燥，血燥則筋病，肝主筋也，故累累然結若貫珠。其候多生於耳前後，連及頸項，下至缺盆及胸脅之側。其初起如豆粒，漸如梅李核，或一粒，或三五粒，按之則動而微痛，不甚熱，久之則日以益甚，或頸項強痛，或午後微熱，或夜間口乾，飲食少思，四肢倦怠，或堅而不潰，或潰而不合。皆由氣血不足，故往往變為癆瘵。《外台秘要》云：肝腎虛熱則生　。《病機》云：瘰　不系膏粱丹毒火熱之變，總由虛勞氣鬱所致。止宜以益氣養營之藥，調而治之，其瘡自消，蓋不待汗之下之而已也。若不詳脈證虛實之異，而概用追蝕攻下，及行氣散血之藥，則必犯經禁病禁，以致血氣愈損，必反為敗證矣。治法：若寒熱　痛者，此肝火風熱，而氣病也，用小柴胡湯以清肝火，兼服加味四物湯以養肝血；若寒熱既止，而核不消散者，此肝經火燥而血病也，用加味逍遙散以清肝火，六味地黃丸以生腎水；若腫高而稍軟，面色萎黃，皮膚壯熱，膿已成也，宜針以決之，及服托裡之劑；若經久不愈，或愈而復發，膿水淋漓，肌肉羸瘦者，必純補之劑，庶可收斂，若益氣養營湯以補氣血，六味丸以滋腎水、培肝木，補中益氣湯以健脾土是也。又如夏枯草能散結氣，而有補養血脈之功，能退寒熱，虛者盡可用之。他若貝母、陳皮、木香、香附、青皮、地骨皮、山梔等，為化痰、散滯、利膈之品，亦可隨手加入。外又有隔蒜灸之法，或又用豆豉餅灸之，以琥珀膏貼之亦佳。</p>
<p>若其氣血未損，而核不消者，方可服散堅之劑，如必效散，或遇仙無比丸，俟其毒一下即止，更以益氣養榮湯調理之。又有方用夏枯草、忍冬花、蒲公英各四、五錢同煎湯，朝夕代茶飲之，十余日漸消；然此藥但可治標，若欲除根，必須灸肩　、曲池二穴，以疏通經絡。如取此穴，當以指甲掐兩肘尖、兩肩尖骨縫間接處，其患處覺有酸麻者，方是其穴。此證男子不宜太陽青筋，潮熱咳嗽自汗；女人忌眼內紅絲，經閉骨蒸煩熱，必變成癆瘵而不可救。又幼孩生此證者，系先天稟薄，後天生氣不足，營衛並弱之故，宜用丸藥以固先天肝腎，煎劑以扶後天脾胃，方可消散而愈。</p>
<p>癭瘤者，非陰陽正氣所結腫，乃五臟瘀血濁氣痰滯而成也。癭者，陽也，色紅而高突，或蒂小而下垂；瘤者，陰也，色白而漫腫，無癢無痛，人所不覺。《內經》云：肝主筋而藏血，心裹血而主脈，脾統血而主肉，肺司腠理而主氣，腎統骨而主水。若怒動肝火，血涸而筋攣者，自筋腫起，按之如筋，久而或有赤縷，名曰筋瘤。若勞役火動，陰血沸騰，外邪所搏而為腫者，自肌肉腫起，久而有赤縷，或皮俱赤者，名曰血瘤。若郁結傷脾，肌肉消薄，外邪所搏而為腫者，自肌肉腫起，按之石軟，名曰肉瘤。若勞傷肺氣，腠理不密，外邪所搏而壅腫者，自皮膚腫起，按之浮軟，名曰氣瘤。若勞傷腎水，不能榮骨而為腫者，自骨腫起，按之堅硬，名曰骨瘤。當各求其所傷而治其本。大凡屬肝膽二經結核，宜八珍加山梔、膽草，以養氣血、清肝火，六味丸以養肺金、生腎水。若屬肝火血燥，須生血涼血，用四物、二地、丹皮、酒炒黑膽草、山梔。若中氣虛者，補中益氣湯兼服之。倘治失其法，脾胃虧損，營氣虛弱，不能濡於患處，或寒氣凝於瘡口，營氣不能滋養於患處，以致久不生肌而成漏者，悉宜調補脾氣，則氣血壯而肌肉自生。若不慎飲食起居，及七情六淫，或用寒涼蝕藥，蛛絲纏、芫花線等法以治其外，則誤矣。又癭瘤諸證，只宜服藥消磨，切不可輕用刀針掘破，血出不止，多致危殆。</p>
<h3>辨缺盆疽癰胛癰論</h3>
<p>缺盆疽者，生肩前陷中。初起肩背拘急，寒熱大作，飲食少進，小水不利，即　紅腫痛，有頭如水泡，後遂旁生數頭，根盤堅硬。此足陽明、手足少陽經積熱聚濕所發。宜急治之，若稍緩必致潰爛。是經少血多氣，瘡口遂有難合之患。初宜蟾酥丸發汗解毒，更與荊防敗毒散，潰後宜用補托。</p>
<p>癰在肩下膊上，結核如桃，如鵝鴨卵，色赤痛甚，　臂表裡俱腫，惟肘節處差小，有似藕形，故又名藕包毒。屬手三陽經，外感風溫風火而成。紅腫之外無暈者，順；有暈者，逆。初起，即當發散解毒；成膿後，治以清營徹熱；潰後，以扶脾養陰為主。</p>
<p>胛癰生肩膊後下，脅後外層岐骨縫間，或在左臂，或在右臂。同屬手太陽小腸經，由風火凝結而成。如生在肩前下、脅前外之上骨縫開合空凹陷中，或在左，或在右，同屬心包絡經，名曰樂疽，乃血熱氣鬱而成。初起有核，漸腫堅硬，大如鵝卵，疼痛入骨，頭疼寒熱，治以荊、防、夏枯草、貝母、丹參、地丁、銀花、連翹、丹皮、黃芩、山梔之屬。</p>
<h4>附：湯森亭先生肩背臂膊諸痛論</h4>
<p>謹按經云：西風生於秋，病在肺俞，在肩背，故秋氣者，病在肩背，然則肩背之痛，當責之於肺無疑矣。但有風寒、風熱、氣盛、氣虛、痰飲之別。蓋肺主皮毛，皮毛受邪，以傳於肺，郁遏經絡，因而作痛，當以辛溫之藥散之；或風熱乘其肺，使氣鬱甚者，當瀉風熱，以辛涼之藥解之。又肺主氣化，而治節一身，或氣盛有餘，則壅而不行，阻塞經絡，肩背則痛；或氣血不足，則少氣不足以息，亦令肩背作痛。盛則苦辛瀉之，虛則甘溫補之。又肺為貯痰之器，肺中素有積痰，隨氣流注經絡，以致隧道壅遏為痛，此又當理痰而順氣，蓋氣清則痰自化也。外此又有腎氣上逆作痛一證，此逆氣即陰氣也。腎中陽虛，濁陰之氣始得上干清陽之位，此當甘辛溫藥峻補真陽，而驅逐陰邪。若專理肺氣，反為誅伐無過。臂痛之證，或為風寒濕所搏；或痰飲流入經隧，或因挈重傷筋所致，或因氣血凝滯經絡不行而作痛。其於治法，風則散之，寒則溫之，痰則理之；若因傷筋而血瘀，治以通經而活血。諸法之內，總當佐以薑黃、桂枝，以其橫行，為手臂之引經也。</p>
<h3>辨夾癰米疽論</h3>
<p>夾癰者，又名腋癰，生肩膊下窩內。若其皮色不變，漫腫無頭，日久方痛，乃生寒熱者，此由肝經血滯，脾經氣凝所發。此患難消，終必作膿。未破者，用柴胡清肝湯；已破，則益氣養營湯主之。首尾溫補，切忌寒涼。三、四日即頭痛寒熱者，此足少陽膽、手厥陰心包絡、手少陰心三經，外感風熱而發，首宜疏風散邪，兼和營通絡，則邪熱退而腫消矣。</p>
<p>其有赤色堅腫者，名曰米疽。初起之時，其形如核，即寒熱時作，亦由肝脾二經憂思恚怒，氣凝血滯，並風溫外襲而發。其治法即與前二證相參可也。</p>
<h3>辨臂癰魚肚發論</h3>
<p>臂疽、魚肚發者，俱生臂上。在臂外為臂癰，在臂內垂肉處為魚肚發。總緣經絡熱極，風邪外干，氣血有乖而生也。當分經絡，用本經之藥為引，行其氣血，則未成可消，已成亦易潰而易愈矣。其分經治法，則東垣之論綦詳焉。其曰臂痛有六道，以兩手伸直垂下，大指居前，小指居後而定之。前廉痛者屬陽明，以升麻、干葛、白芷行之；後廉痛者屬太陽，以本、羌活行之；外廉痛者屬少陽，以柴胡行之；內廉痛者屬厥陰，以柴胡、青皮行之；內前廉痛者屬太陰，以升麻、白芷行之；內後廉痛者屬少陰，以細辛、獨活行之。夫臂肘之上，接骨之下，內連大小筋脈，此處發癰癤，每舉動不便，垂手多墜疼；如膿深徹骨，即傷筋脈，拳縮不舒，搐搦，又宜加緩慢筋脈之藥，此治法之大較也。至其散邪清熱、化毒和營，則與諸癰疽同治。如秋令伏邪阻絡，舌白嘔惡、寒熱胸悶者，即用瀉心或溫膽法。如風溫夾濕火入絡者，即用羌、防、靈仙、片黃之類。</p>
<h3>辨骨螻疽垂臂發論</h3>
<p>薛立齋曰：骨螻疽，生臂外前廉大骨之後，屬手陽明大腸經，由七情不和、積怒積憂積熱所致。初起生瘰如粟米，漸大如豆。旬日大如桃李，堅硬疼痛不可忍。若紫暈開大腐爛斑點，串通肌肉，遍身拘急發搐，嘔噦不食，冷汗自出，滑泄煩躁脈亂者，死。此乃真陰虛極，而火獨亢之故。治當滋其化源，勿以揚湯止沸之法誤之。</p>
<p>垂臂發，生於垂臂接骨下臂鵝上。起如雞鴨卵大，皆由營衛不調之所致也。喜患生實處而不透內。治宜祛風散邪、消痰化毒，庶不致有大患矣。</p>
<h3>辨石榴疽癰論</h3>
<p>立齋曰：石榴疽，生肘尖上一寸余，屬三焦天井穴，由三焦相火，與外濕熱相搏而成。</p>
<p>初起一點黃粟小泡，根腳便覺開大，色紅堅硬，漸漸腫如復碗，疼痛不可忍，皮破泛出，疊如榴子，令人寒熱時作如瘧狀。內服蟾酥丸發汗；以菊花燒灰存性，加輕粉少許，研敷腫處神效；破後用菊花蕊煎湯洗之，頂上用奪命丹以膏蓋之。此證以九日得膿為吉，反此為凶。</p>
<p>湯劑如疔疽調治。</p>
<p>癰生於肘撐上，紅腫作痛，若潰之，必殞命，不可輕忽。初宜灸之。</p>
<h3>辨螻蛄串肘癰肘後毒論</h3>
<p>丹溪曰：螻蛄串，生於臂（小臂也）內中廉，屬包絡經。由思慮傷脾，脾傷則運化遲，故生濁液，流於肌肉，脾氣鬱滯不舒凝結而成。初起筋骨如中流矢，疼痛漸增，漫腫堅硬，不紅不熱，手背及內關前後連腫數塊，臂膊不能轉動，日久其腫塊漸次潰破，孔孔時流白漿，內潰串通諸孔，外勢腫硬不消，膿水淋瀝如漏；患者必面黃肌瘦，飲食減少，午後寒熱交作，虛證並添，而成敗證矣。初宜逍遙散，次用人參養營湯，調和氣血、扶助脾胃，十中可保三、四。若妄投寒涼克伐，損傷脾胃，則活者鮮矣。</p>
<p>肘癰生於肘之圍繞，由心肺風火凝結而成，形小為癤，形大為癰。</p>
<p>肘後癰，亦風火鬱結，氣血凝滯而成。二證初起，俱宜疏散調營。</p>
<h3>辨手腕癰兌疽論</h3>
<p>丹溪曰：手腕癰，生手腕外面，屬手三陽經，由風火濕毒凝結而成。乃皮肉澆薄之處，若遷延日久不潰，或漫腫平塌；既潰，腐爛露骨者逆，難於收功。若腫硬　赤不爛，而多生頭者，即名鼓槌瘋，又名手腕疽。</p>
<p>兌疽，生手腕裡面，橫紋後前梢動脈之間，又名脈疽。初起寒熱腫痛，痛徹手膊，舉動不便。此乃肺金門戶，若潰深則肺氣大泄，最為危候。以上二證，均仿疔疽調治。</p>
<h3>辨手發背手心毒托盤疔論</h3>
<p>手發背，發於手背中渚、液門二穴，屬手少陽三焦經，若發於正中勞宮，屬手厥陰心包絡經，由風熱相乘，氣血壅滯而結。初起形如芒刺，憎寒惡熱，昏悶作癢，疼痛嘔逆，遂滿手背高腫，後聚毒成瘡，深入至骨。成膿潰速者順；若漫腫堅硬，潰遲為疽；又有初起一粒高腫，隔日即爛，此屬濕火。初宜俱用荊防敗毒散，次用黃連解毒湯，或犀角地黃湯。（有將手背盡行爛去者，須摻珍珠散，貼白玉膏收功）</p>
<p>手心毒，一名擎珠毒，又名瘭疽，屬手少陰心、手厥陰心包絡二經濕火之毒所結也。其瘡如泡，色如血赤，外形雖小，內毒有餘，疼痛非常，日夜無間，此證往往有不能收功，流血至死者。治法必用大補水之劑，佐以解毒之味，如地丁、銀花、元參、生地、當歸、丹皮、貝母之屬。</p>
<p>托盤疔，生於手掌中心，系手厥陰、少陰二經之所司也。由心火熾甚，逼血妄行，肝風鼓舞，毒散四肢，加以憂思過度，酒色不節，遂至毒流骨髓，侵於勞宮，勞宮系心經之脈絡，故毒生焉。初起堅硬起泡，其泡明亮者即挑之。治以銀花解毒湯。</p>
<h3>辨手丫發合谷疽論</h3>
<p>五指丫處結毒　腫者，除大指合谷穴名合谷疽，余皆名手丫發，俗名手丫支、手背丫，是手三陽經受證；手掌心丫，是手三陰經受證。初起如粟，漸大如豆，　熱疼痛不止。此皆由濕火凝聚而成。初起宜疏散清熱解毒；成功後其膿不透，即以制蠶、角針透之；待膿泄邪退，扶胃而和其營，然後收功。</p>
<p>合谷疽，又名虎丫毒。此手陽明大腸經濕熱之毒結聚之所致也。初起黃粟小泡，熱癢痛根深。有紅線上攻腋內者，即名合谷疔。若初起如豆，漸至漫腫，堅硬　痛而不可忍者，名合谷疽。治法與前證同。</p>
<h3>辨蛇頭疔蛇眼疔水蛇頭論</h3>
<p>蛇頭疔，又名天蛇毒，又名調疽。生手大拇指頂頭，或生他指。初起如粟，漸大如豆，或如桃李，堅硬　赤腫痛，疼極連心；又或青或白，乍黃乍紫乍黑，或癢或麻木不痛，自筋骨發出，根深毒重，屬手太陰肺、手厥陰心包絡經熱毒結聚而成。甚則手背手心皆腫，指頭皮硬。當以豬膽套之，或以雄黃散塗之，與以蟾酥丸發汗解毒，更服銀花解毒湯。若四、五日後潰膿，有黃頭可刺者，順；如不潰無膿，黑色過節者，險。其藥即進涼膈，或黃連解毒湯、犀角地黃湯等。若毒瓦斯攻心，嘔吐不食，膨脹，齒縫出血，是為危候。此證膿未熟時不可開刀早，否則致皮裂肉　，疼痛倍增，不能速愈。若患久即有多骨，多骨出始能收口，虛而不斂者能補之。更有膿不泄，火毒不化，腐爛其筋，至落去一節者。</p>
<p>蛇眼疔，生於手指甲旁尖角間，形如豆粒，色紫半含半露，硬如鐵釘。亦火毒所發。若有黃頭出如眼者，即以針挑破之。</p>
<p>水蛇頭，指頭有黃泡明亮者是。亦宜挑破，去其惡水即愈。</p>
<h3>辨代指蛀節疔鰍肚疔論</h3>
<p>代指俗名　爪，生指甲身之內。三、四日後，甲面上透一點黃色。初起先腫　熱，疼痛應心，宜用甘草、朴硝各五錢，煎湯浸洗即瘥。如甲面透黃，即系內膿已成，但無路得泄，須用線針在指甲身就膿近處挑一小孔，膿方得出；隨後輕手擠盡余膿，用黃連膏貼之易愈。若失治，以致膿毒浸淫好肉，爪甲潰空，必然脫落。宜用琥珀膏貼之，日久收功。</p>
<p>蛀節疔，又名蛇節疔，生於手指中節接骨處，繞指俱腫，其色或黃或紫。由火毒凝結而成。治同疔疽。</p>
<p>鰍肚疔者，一名蛇腹疔。生於手指中節裡面，形如魚肚，故又名魚肚毒。一指通腫　熱，痛連肘臂。由辛熱風濕之毒，上干心經，故發此毒，乃心經受證也。但中指通連五指，若中指疔色紫黑者，其毒必惡，易於攻心；心若受毒，即嘔吐不食，神識昏迷，而為不治之證矣。務用護心丹時時呷之，再服奪命丹以追其毒。余治同疔疽。</p>
<h2>卷中</h2>
<h3>辨失營馬刀生死不同論</h3>
<p>夫失營馬刀，一為不可治，一為可治，以患處部位相同而形又相似，故並而論之。失營者，由肝陽久郁，惱怒不發，營虧絡枯，經道阻滯，如樹木之失於榮華，枝枯皮焦故名也。</p>
<p>生於耳前後及項間，初起形如栗子，頂突根收，如虛痰　瘤之狀，按之石硬無情，推之不肯移動，如釘著肌肉者是也。不寒熱，不覺痛，漸漸加大；後遂隱隱疼痛，痛著肌骨，漸漸潰破，但流血水無膿，漸漸口大內腐，形似湖石，凹進凸出，斯時痛甚徹心，胸悶煩躁，是精神不收，氣不　納也；隨有瘡頭放血如噴壺狀，逾時而止。體怯者，即時而斃；如氣強血能來復者，亦可復安。若再放血，則不能久矣（亦有放三、四次而斃者，余曾見過）。此證為四絕之一，難以治療。若犯之者，宜戒七情，適心志；更以養血氣、解鬱結之藥，常常服之，庶可綿延歲月，否則促之命期已。其應用之方，如加味逍遙散、歸脾湯、益氣養營湯、補中益氣湯、和營散堅丸等，酌而用之可也。</p>
<p>馬刀由肝膽二經郁逆氣火所結，亦生在頸項間，其形長而堅硬，按之有情，甚有連發累累，沿至脅下胸前者，亦惡證也。倘患者能使情懷舒暢，調養得宜，治之以疏肝散邪、和營軟堅，則可於半載一年之內而獲全愈。設不能自愛，又或境遇不齊，證則有增無減，綿延日久，瘡頭破爛，膿血大潰，腫勢愈堅，遂成損怯而斃者多矣。然究非若失營之不可治也。故合二證而論之，以明其生死不同如此。用藥與瘰　同。</p>
<h3>辨發背搭手陰陽虛實異證同治論</h3>
<p>發背、搭手之為瘍重矣，其證各異，而治則同揆也，故合而論之。發背者，發於脊中，屬督脈及足太陽膀胱經，其證有上中下之分。傷於肺，則發於上，在天柱骨下；傷於心與肝，則發於中，為對心發；傷於脾與腎，則發於下，為對臍發。大抵發背之證，其名雖多（有蓮蓬發、蜂窩發、對心發、對臍發等名），總不越乎陰陽二證。其感於六淫之邪而發者，為陽證。初起或一頭，或二頭，數日後，或大如手掌，或大如碗面，　赤腫高，疼痛發熱，煩渴不寧，勢若甚重，其脈洪數有力，能進飲食。先以蟾酥丸發汗，更與銀花解毒湯，或犀角地黃湯清營解熱，勿使傷其脾胃。俟膿一潰，諸症悉安。須知有膿時，急宜當頭開之，否則使毒內攻，致生變證。至潰後，即腐爛尺余者，若無惡證，則投以大補之劑，肉最易生，此陽證易治者也。其感於七情而發者，為陰證。或由於鬱怒憂思，或由於房勞過度，或由於膏粱濃味，醇酒炙　，丹石熱毒，其人平素陰精消涸，火毒內生結聚，釀成大患。初起一頭如粟，根盤散漫，不甚高腫，不甚　痛，色不紅活，紫滯無神，脈微細而無力，飲食不進，止覺悶痛煩躁，大渴便秘，睡語切牙。四、五日間，瘡頭不計其數，形如蓮蓬，故名蓮蓬發，又名蜂窠疽發。若見中間一頭獨大，四邊出無數小頭者，即名百鳥朝王。瘡口各含黃濁，而積日不潰，按之流血。至八、九日，其頭成片，所含之物俱出，通結一衣，揭去又結，其浮面共爛為一瘡，肉雖腐而不脫，其膿內攻，其色黑黯。此元氣大虛，而為內陷之證，必致神昏痙厥，手足逆冷，腹痛泄瀉，而不可救矣。必於成功後，用參　內托散，峻補元氣，冀其引血成膿，化毒外泄；外用烏金膏或奪命丹蓋貼，以提其毒，俾不至腫不潰，腐不爛，方得生機。丹溪曰：癰疽未潰，以疏托解毒為主；已潰，以托補元氣為主。陳遠公謂：陽毒可用攻毒，陰毒必須補正。此數語，實為外科樞要，慎勿坐失機宜，致證危勢篤，而束手待斃也。</p>
<p>至於搭手，亦有上中下之分。上搭手生於肩膊後骨上，去背溝二指之間，名鼠疽，乃手足太陰、太陽之所司也；中搭手生於脊骨第九椎兩旁膏肓穴，名青龍疽，系陽明、太陰之所司也；下搭手生於脊骨第十四節腰窩間旁開三寸肓門穴，乃太陰經之所司也。謂之搭手者，因患者以手搭之，上中下俱能搭著，故名。蓋上搭由上焦積熱，中搭由心火有餘，下搭由肝脾火熾，總歸於下元虛弱、腎水耗散而成。此證亦有陰陽之別。陽證形高而腫起，陰證形低而陷下；陽證色紅，陰證色帶滯；陽證初起必痛，陰證初起必癢；陽證潰爛多膿，陰證潰爛多血；陽證由於外感，陰證由於內傷。其調治之法，與發背之證，大略可通，雖曰證有大小，勢有輕重，而所以清熱化毒、補養氣血之方，則無二致也。此二證中，亦有三陷變象，與腦疽同，其候數亦同。又發背搭手及腦疽，至潰膿腐脫後，新肉既滿，而口不斂，有忽發流火者，其人憎寒壯熱，甚至神識昏迷，瘡口四邊紅赤，延開四布，切勿驚懼。斯時可用涼血清解，如鮮地、犀角、丹皮等。俟一日或二日後，汗出身涼，赤退腫平，其瘡口自然斂小。</p>
<p>此由營衛虧損，火旺浮越所致。汗出而火自散，營衛自和，瘡口自斂矣。世俗睹此，每莫能措手，不知非敗證也。外又有流毒一證，疽發腫大，勢如發背，但頭雖潰，而外面不腐，因暑濕鬱遏而成。若膿出稠濃，而內腐易脫者易愈。治與陽證發背同。</p>
<p>又治發背、搭手之證，最妙灸法，不問日期、陰陽，腫痛或不痛，或痛甚，但未成膿，或不潰者，俱可灸之。取大蒜切片，安瘡頭上，用大艾炷灸之，三壯換一蒜片，痛者灸至不痛，不痛者灸至痛方止，其毒瓦斯自然隨火而散；若有十數頭作一處生者，即用大蒜研成膏，作薄餅，鋪瘡頭上，聚艾於蒜餅上燒之亦可。蓋如此惡證，惟隔蒜灸，及塗烏金膏有效。</p>
<h3>辨胸發疽膻中疽甘疽論</h3>
<p>胸發疽生於正胸堂，去結喉三寸，與心窩不遠，乃手足六經交會之所，其患最凶，喪人性命，宜速治之。若三、四日失治，則皮開肉裂，甚可畏也。宜用牛黃、熊膽研細，香油調塗四邊弦上，以免開花。如痛甚，用乳香、沒藥為末，鋪粗紙上，外以青布片卷好，蘸清油點火，在瘡四圍照之，痛自止矣。內服蟾酥丸、活命飲，以消散之。若便秘脈實者，即與涼膈散通腑泄熱；成功後，托裡消毒；潰，則用八珍、十全等補劑斂口。</p>
<p>膻中疽生心窩上、兩乳中間，屬任脈膻中穴。蓋膻中為氣之海，氣所居焉，能分布陰陽。若臟腑陰陽不和，七情不平，則發此毒。初亦服蟾酥丸、活命飲；若腫硬發熱作嘔，大便秘結，煩躁飲冷，舌乾口苦，六脈沉實有力，宜服內疏黃連湯，以內除之，使邪氣不致傳變歸心則吉。余如前證治法。</p>
<p>甘疽，生於乳上肉高聳處，屬肺經中府穴之下。無論左右，皆由憂思氣結而成。治法同上。</p>
<h3>辨肺痿肺癰論</h3>
<p>人有久嗽後肺受損傷，皮膚黃瘦，毛悴色焦，咽喉雌啞，寒熱往來，自汗盜汗，氣喘不得臥，小便數而不渴，口中有濁唾痰沫而無膿，寸口脈數而虛澀者，此為肺痿。人有胸膈間作痛，咽乾口燥而渴，喘急不得安臥，咳嗽不止，吐痰便覺疼甚，按之更增氣急，痛不可忍，四肢微腫，喉間聞腥臭之氣，隨吐膿血，胸前皮膚甲錯，肉微起，其人能右睡而不能左臥，左臥即喘急不安，脈數而有力者，此為肺癰。痿者，萎也，如草木之萎而不榮，為津亡而氣竭也；癰者，壅也，肺氣鬱逆，久壅而成也。蓋肺為五臟華蓋，處於胸中，主於氣，候於皮毛。凡勞傷血氣，腠理虛而風邪乘之，內感於肺，則汗出惡風，咳嗽短氣，鼻塞項強，胸脅脹滿，久而不瘥，便成肺痿；又或汗下過多，重亡津液，亦能致之。若其風中於衛，呼氣不入，熱逼於榮，吸氣不出，風傷皮毛，熱傷血脈，風熱相搏，氣血稽留，蘊結於肺，久則變為肺癰；至如房欲不節，腎水虧而虛火上炎，又或醇酒炙　，辛辣濃味，熏蒸於肺，無不可成癰也。然痿為正氣虛，癰為邪氣實。正氣虛者，治之宜緩；邪氣實者，治之宜速；虛則宜補中帶清，實則宜補中用瀉。治痿，宜清燥救肺湯；治癰，則未潰者，宜葶藶大棗瀉肺湯，或千金葦莖湯；其已潰者，宜內補黃　湯。</p>
<h4>附：喻嘉言先生肺癰肺痿論</h4>
<p>《金匱》所論肺癰、肺痿之證，誰秉內照，曠然洞悉，請以一得之愚，僭為敷陳。人身之氣，稟命於肺，肺氣清肅，則周身之氣莫不統　而順行；肺氣壅濁，則周身之氣易致橫逆而犯上。故肺癰者，肺氣壅而不通也；肺痿者，肺氣委而不振也。才見久咳上氣，先須防此兩證。肺癰由五臟蘊崇之火，與胃中停蓄之熱上乘乎肺，肺受火熱熏灼，即血為之凝，血凝則痰為之裹，乃至咳聲頻並，口中辟辟燥咳，即胸中隱隱痛，濁痰如膠，發熱畏寒，日晡尤甚，面紅鼻燥，胸生甲錯，寸口脈滑數而實，此肺結之癰，日漸長大，則肺日脹而脅骨日昂。始先即能辨其證屬表屬裡，極力開提攻下，無不愈者。奈何醫者但知見咳治咳，或用牛黃、犀角冀以解熱，或用膏子油黏冀以潤燥，或朝進補陰丸，或夜服清胃散。千蹊萬徑，無往非殺人之算，病者亦自以為虛勞尸瘵，莫可奈何。迨至血化為膿，肺葉朽壞，傾囊吐出，始識其證，十死不救，嗟無及矣。間有癰小氣壯，胃強善食，其膿不從口出，或順趨肛門，或旁穿脅肋，仍可得生，然不過十中二、三耳。《金匱》治法最精，用力全在未成膿之先。今人施於既成膿之後，其有濟乎。肺痿者，其積漸已非一日，其寒熱不止一端，總由胃中津液不輸於肺，肺失所養，轉枯轉燥，然後成之。蓋肺金之生水，精華四布者，全藉胃土津液之富，上供罔缺。但胃中津液暗傷之竇最多，醫者粗豪，不知愛護；或腠理素疏，無故而大發其汗；或中氣素餒，頻吐以倒傾其囊：或癉成消中，飲水而渴不解，泉竭自中；或腸枯便閉，強利以求其快，漏卮難繼，只此上供之津液，坐耗歧途。於是肺火日熾，肺熱日深，肺中小管日窒，咳聲以漸不揚，胸中脂膜日干，咳痰艱於上出，行動數武即喘鳴，沖擊連聲，痰始一應。寸口脈數而虛，其人咳，口中反有濁唾涎沫者，為肺痿之病。《金匱》治法，非不彰明，然混在肺癰一門，況難解其精意。大要緩而圖之，生胃津、潤肺燥、下逆氣、開積痰、止濁唾、補真氣，以通肺之小管；散火熱，以復氣之清肅。如半身痿廢，及手足痿軟，治之得法，亦能復起。雖云肺病近在胸中，呼吸所關，可不置力乎。肺癰屬在有形之血，血結宜驟攻；肺痿屬在無形之氣，氣傷宜徐理。肺癰為實，誤以肺痿治之，是為實實；肺痿為虛，誤以肺癰治之，是為虛虛。此辨證用藥之大略也。</p>
<h3>辨井疽心漏論</h3>
<p>井疽生於心窩，乃任脈經鳩尾穴，又名穿心毒，最為難治。此因心火妄動而發。若初起狀如黃豆，即　赤高腫，心躁煩而肌熱如焚，唇干舌燥黃色，渴飲冷水，斯時或以涼膈散通腑瀉熱，或用犀角地黃湯清營解毒。若得瘡勢漸退，自可調理而愈。如或堅硬紫黑，毒瓦斯內陷，惡聞食臭，嘔吐不寧，精神恍惚，腹脹泄瀉者，不治。又有起時腫硬，肉色不變，積久穿潰者，此名穿心冷　。乃因多食生冷死厭之物，惡毒積久，內犯心包絡，故外發於心掩也。宜以溫補氣血之劑治之。</p>
<p>心漏者，初時胸間生瘡，因不慎酒色，致成漏竅，每每流血，久則神形困憊，腰痛難伸，行同傴僂。此其瘍雖屬心，根由於腎；夫心腎本相通也，心氣必得腎氣以相生，腎氣必得心氣以相閉。心漏之成，成於腎氣之泄，安可不補腎氣之衰乎？然補腎而心氣不閉，則補腎無益，蓋有出氣而無止氣耳。或云漏瘡多成於濕熱，今補腎而不閉心竅，則漏不愈；閉心竅而不去濕熱，只治心腎，漏亦不能愈也。然漏亦不同，漏在他處者，可泄其濕熱；在胸間者，不可泄濕熱也。蓋漏既成於腎虛，腎虛則寒而非熱也；腎虛者，腎水虛而非邪水盛也。補真陰而邪水自消，溫腎寒而濕熱自退矣。溫腎丸主之：鹿茸二具去毛，酥炙，附子二枚，泡去皮臍，人參、青鹽各二兩，瓦松二枝，紅棗四兩。煮棗搗丸。每空心酒下三十丸，服月愈而漏自愈。一方無瓦松、人參。此方兼治腎虛腰痛如神。</p>
<h3>辨幽癰赫癰沖疽論</h3>
<p>幽癰，生臍上七寸。初起如粟，漸增漫腫疼痛，形如鵝卵，甚則堅硬，牽痛胸肋。由過食膏粱濃味，憂思氣結，腸胃不通，火鬱而成斯毒，自內發外者也。初服神授衛生湯，潰後即用補托。</p>
<p>赫癰，生臍上三寸，屬任脈經建裡穴。由七情鬱火凝結而成。初如粟粒，癢痛相兼，其腫迅速，寒熱往來，甚則嘔噦，牽引臍痛。初腫微紅，頂尖根束，漸透赤色者，以活命飲消散之；成膿後，用托裡消毒散；既潰，宜參　內托散。</p>
<p>沖疽，一名中發疽，生於臍上二寸，系任脈經下脘穴。由心火熾甚，流入腎經所致。腫高色赤，膿稠者，易愈；若平塌黑色，膨脹惡心，膿水清稀，內腎疼痛，瀉利無度，譫語直視者，死；潰久不斂者，死。凡此皆屬虛耳。法宜用大補之劑。如能受補，即不死也。</p>
<h3>辨乳癖乳痰乳岩論</h3>
<p>薛立齋曰：乳房屬足陽明胃經，乳頭屬足厥陰肝經。男子房勞恚怒，傷於肝腎；婦人思慮憂郁，損於肝脾，皆能致瘍。第乳之為瘍有不同。有乳中結核，形如丸卵，不疼痛，不發寒熱，皮色不變，其核隨喜怒為消長，此名乳癖。良由肝氣不舒鬱積而成，若以為痰氣鬱結，非也。夫乳屬陽明，乳中有核，何以不責陽明而責肝？以陽明胃土最畏肝木，肝氣有所不舒，胃見木之郁，惟恐來克，伏而不揚，氣不敢舒，肝氣不舒，而腫硬之形成，胃氣不敢舒，而畏懼之色現，不疼不赤，正見其畏懼也。治法不必治胃，但治肝而腫自消矣。逍遙散去薑、薄，加栝蔞、半夏、人參主之（此方專解肝之滯，肝解而胃氣不解自舒，蓋以栝蔞、半夏，專治胸中積痰，痰去腫尤易消也）。</p>
<p>有乳中結核，始不作痛，繼遂隱隱疼痛，或身發寒熱，漸漸成膿潰破者，此名乳痰。或亦由肝經氣滯而成，或由於胃經痰氣鬱蒸所致。用藥疏肝之中，必加貝母、半夏、栝蔞等以治痰，則未膿可消，至已潰必兼補氣血，方易收口。</p>
<p>乳瘍之不可治者，則有乳岩。夫乳岩之起也，由於憂郁思慮，積想在心，所愿不遂，肝脾氣逆，以致經絡痞塞結聚成核，初如豆大，漸若棋子，不紅不腫，不疼不癢，或半年一年，或兩載三載，漸長漸大，始生疼痛，痛則無解日，後腫如堆栗，或如覆碗，紫色氣穢，漸漸潰爛，深者如岩穴，凸者如泛蓮，疼痛連心，出血則臭，並無膿水，其時五臟俱衰，遂成四大不救。凡犯此者，百人百死。如能清心靜養，無掛無礙，不必勉治，尚可苟延。當以加味逍遙散、歸脾湯，或益氣養營湯主之。此證潰爛體虛，亦有瘡口放血如注，即時斃命者，與失營證同。</p>
<h3>辨乳癰乳疽論</h3>
<p>夫乳癰之生也，有因乳兒之時，偶爾貪睡，兒以口氣吹之，使乳內之氣閉塞不通，以致作痛（此即外吹證），因循失治而成者；有因所乳之子，膈有滯痰，口氣　熱，貪乳而睡，熱氣吹入乳房，凝滯不散，乳汁不通，以致結核化膿而成者；亦有憂郁暴怒傷肝，肝氣結滯而成者；又有肝胃濕熱凝聚，或風邪客熱壅滯而成者。始時疼痛堅硬，乳汁不出，漸至皮膚腫，寒熱往來，則癰成而內膿作矣。凡初起，當發表散邪、疏肝清胃，速下乳汁，導其壅塞，則自當消散；若不散成膿，宜用托裡；若潰後肌肉不生，膿水清稀，宜補脾胃；若膿出反痛，惡寒發熱，宜調營衛；若晡熱　腫作痛，宜補陰血；若食少作嘔，宜補胃氣，切戒清涼解毒，反傷脾胃也。況乳本血化，不能漏泄，遂結實腫，乳性清寒，又加涼藥，則腫硬者難潰膿，潰膿者難收口矣。其藥初起，如牛蒡子散、橘葉湯、逍遙散之類；潰後，則宜益氣養營湯。又若半夏、貝母、栝蔞消胃中壅痰，青皮疏厥陰之滯，公英、木通、山甲解熱毒、利關竅，當歸、甘草補正和邪，一切清痰疏肝、和血解毒之品，隨宜用之可也。又有濕火挾肝陽逆絡，或時疫、或伏邪聚結而成者，起時乳頭腫硬，乳房　紅漫腫，惡寒身熱，毛孔深陷，二、三日後，皮即濕爛，隔宿焦黑已腐，再數日後，身熱退而黑腐盡脫，其生新肉如榴子象。摻以珍珠散，以白玉膏蓋之；內服疏肝清濕熱之劑以收功。此濕火乳癰也。再婦人乳頭有數孔，一孔又有一絡，絡於乳房。其始生癰也，祗患一絡，迨其膿血出盡，又患一絡，逐絡遞及，遂至滿乳，則危而不救者多矣。初起，每早服元壽丹，可保不傳余絡。（今外科謂乳有數穰，欲傳穰者非也）</p>
<p>若其始生硬腫，即有頭出，後復旁生數頭，頭中有膿不多，此名乳疽。是為陽明痰熱之毒，兼挾肝膽之火結成。治當清理痰氣、疏通肝邪、解毒和營，如荊、防、蘇葉、白芷、貝母、栝蔞、青皮、夏枯草等物，在所需用矣。</p>
<p>附：內吹，孕婦二、三月，或至八、九個月，乳中有核成癰。是胎氣旺而上衝，致陽明乳房結腫疼痛。宜服石膏散清之可消；若潰後雖膿出腐脫肌生，必俟分娩後始能收口。</p>
<p>乳頭風，乳頭干燥而裂，痛如刀刺，或揩之出血，或流黏水，或結黃脂。此由暴怒抑郁，肝經火邪不能施泄所致，胎前產後俱有之。內服加味逍遙散；外以白芷末，乳汁頓熟調敷。</p>
<p>男子乳癤，與女子不同。男子乳頭屬肝，乳房屬腎，以肝虛血燥，腎虛精怯，故結腫痛。治當以六味地黃東加歸、芍、青皮主之。</p>
<h3>辨捧心癰痰論</h3>
<p>捧心癰，生於人字骨下低陷中，腫堅色白，脈空芤無力，腰痛膚黃面浮。有因脫力中傷，或受傷營衛失和而發；有因抑郁傷肝，肝邪乘脾，脾氣不能營運，致氣血留滯而發；亦有因病後臟腑氣衰，營衛不能通調而發。治法宜和營通絡，調養氣血，使之漸漸內消。若至成功出膿，每易成損怯，難以痊愈。</p>
<p>痰生於中腕穴下，或左或右。初起結核，漸漸腫大，堅硬色白，其病因脈證，與捧心癰相似，治法亦同。此證宜速治，若成功後，膿從嘔吐出者不治。</p>
<h3>辨胃腕癰癰論</h3>
<p>胃腕癰者，生於中腕穴（又名胃募，在人字骨下三指，臍上四寸）。有外癰，有內癰。外癰在皮裡膜外，初起漫腫，漸漸　紅成膿。此由平素醇酒濃味，濕熱積聚，脾陽失運，凝滯氣血而發；或因傷寒結胸，腑氣雖通，脾肺氣虛，不能升降，以致濕濁混淆，留滯不散，營衛失和而結。治當利其濕熱，開提肺氣，扶助脾胃，清營解毒，庶能消散。倘有膿即宜開破，以泄其邪，後用補托收功。至於內癰，俗名　癰，生於胃中。初起中腕穴必隱痛微腫，按之堅硬，身皮甲錯（不澤也），寒熱如瘧。多因醇酒炙　，七情火鬱，又外感寒氣隔陽，使熱濁之氣填塞胃脘，胃中清氣下陷，營氣不從故發。右關脈必見沉細，蓋胃脈見於右關，本宜洪大，而反沉細者，是見胃氣之逆也。人迎（胃經穴，在急喉兩旁）脈來甚盛，以熱聚於胃口而不行，故人迎反甚耳。有此二脈，癰已成矣。其時少陰厥逆，機關不利，胸膈痞悶，腹中疼痛連心。若脈洪數者，已有膿也，宜急排之，赤豆薏仁湯主之，大射干湯亦可。</p>
<p>設脈遲緊者，雖膿未成，已有瘀血也，宜急下之，牡丹皮散主之；如痰氣上壅者，甘桔湯；大便不利者，太乙膏作丸服之；小便赤澀，腹滿不食者，三仁湯；體倦氣喘作渴，小水頻數者，肺氣虛也，補中益氣東加麥、味補之。此證若膿自口吐出，必至毒瓦斯漫延，腐爛腸胃，脾氣日衰，飲食少納，形神憔悴，精耗氣竭而斃。</p>
<h3>辨脅癰肋癰論</h3>
<p>脅癰，又名穿脅癰，或發於左脅，或發於右脅。人之兩脅乃足厥陰肝經氣分出入之道路，一有阻滯，不得疏通，鬱而為痛，故血亦為之凝聚矣。是以脅之上下發毒，皆屬肝經。此證多因鬱怒肝火而發，或因肝膽之氣不平，而風火內搏，營逆血熱結聚而發。惟虛怯人生之；若肥胖內實者，鮮此證也。初起，宜梔子清肝湯解鬱瀉火；已成，四妙東加青皮、香附；膿成者，即針之，勿傷內膜；潰後，宜八珍東加山萸肉、牡丹皮、澤瀉，兼滋腎水。但氣虛胃弱之人，亦不可過與補陽之藥，恐內受熱劑，則虛熱愈盛，盛則透傷內膜，切宜慎之。又病因虛勞所得，如破流臭敗，膿水清稀，補托不應者，是死證也。</p>
<p>肋癰生於肋條骨間，又名俠熒癰，亦由肝火鬱怒結聚而成。初起骨間隱痛，漸漸腫起，後或大如杯碗，色或赤或白，疼痛難忍，內腸絞刺。患在左，痛牽右肋；患在右，痛牽左肋。體虛之人，難以勝受。惟此處癰疽，多是內毒卻入攻而死者多。人染此患，急宜用針刺出膿血，防其內攻。若至二候，潰出稠膿為吉，潰出清水為凶。治法與前證參用。</p>
<h3>辨腹癰臍癰臍漏論</h3>
<p>腹癰者，亦名腹皮癰，生於腹之皮裡膜外。乃脾經之毒，因食煎　油膩，酒醉太過入房，以致毒不流通而結，無論左右，隱痛日久，後發癰腫於皮外；右關脈見沉數而腹痛甚者，是其候也。不可過服克伐之藥，若希圖消散，過傷胃氣，則腫不能潰，潰不能斂，難致收功矣。初，宜服活命飲，或化毒除濕湯；潰後，服托裡消毒湯。</p>
<p>臍癰生於臍中，由心經積熱流於小腸經，毒聚而成（心與小腸為表裡，心移熱於小腸，故發是毒）。腫大如瓜，高突若鈴，或紅或白。但臍為任脈神闕穴，禁針之所，宜早消散，否則恐其內潰。若有膿，即穿破出外為吉。初宜多服蠟礬丸，湯劑則用黃連解毒合五苓散治之，或導赤散加歸尾、赤芍、銀花亦可。</p>
<p>漏臍瘡，或因腎虛火亢而發；或因惱怒氣鬱而發。宜服補劑，外以生肌散敷之。又小兒臍中撒尿，因肝腎虧乏，氣不宣化，是童癆敗證，不治。</p>
<h3>辨小兒臍風及臍汁不干論</h3>
<p>凡兒生月內，肚脹腹硬，臍圍浮腫，口撮眉攢，牙關不開，名曰臍風撮口證。蓋因臍帶剪短，或包縛不緊，以致水濕浸臍，客風乘虛而入，傳之於心，蘊蓄其邪，復傳脾絡，舌強唇青，手足微搐，喉中痰響，是其候也。服延壽丹少許即愈。如神脫氣冷者，不治。</p>
<p>夫臍為根本，風濕防護須嚴，一有所失，則臍腫不干，每出青黃水，久而作搐，入於經絡，即成風癇，並撮口臍風，皆為惡候。宜以五　子研末摻之。但初生小兒，僅如血泡，不可用冰射之膏貼之，並忌大寒大熱之劑。蓋肌肉未堅，臟腑柔脆，難以抵當耳。</p>
<h3>辨瘕癖塊論</h3>
<p>夫　者，征也。血凝痰滯，有形可征，故一定而不移。瘕者，假也。由氣結聚，無形成假，故推之而可動，且時有時無，來去靡常，發無定所。至於癖塊者，與　相似，每在兩脅，有由瘧而得者，謂之瘧母；有由氣而得者，謂之氣癖。竊思三者之證，皆內為喜、怒、憂、思、悲、恐、驚七情所致。蓋人之氣血，營衛一身，上下周流，無時或間，苟得充實順序，積聚何由而生？一有所傷，則氣液水穀，失其運旋，以致稽遲而為積為聚也，故數證者俱從郁論，病本在於肝脾，而胃與八脈，亦與有責。治之之法，當從諸經，再究其氣血之偏勝，氣虛則補中以行氣，氣滯則開鬱以宣通，血衰則養營以通絡，血瘀則入絡以攻痹。如或營傷氣阻者，須於養營之中，通泄其氣；如或絡虛則脹，氣阻則痛者，須以辛香苦溫、和絡通降；又如肝胃兩病者，宜泄肝救胃；肝胃脾同病者，則扶土制木；肝臟之氣，獨郁不宣者，宜辛香專治於氣；血痹絡逆失和者，宜辛香專理其血；病由衝任擾及肝胃而逆亂者，仍從肝胃兩經主治，宜疏降溫通。凡此皆施治之大要，貴在醫者之生心化裁耳。總之用攻法，宜緩宜曲，不可太峻，太峻則正氣受傷；用補法，忌澀忌呆，須當疏利，疏利則積滯可去，此尤不可不知也。至於古人調治之方，若金鈴子散、疏肝導滯湯、益氣養營湯、鱉甲煎丸、旋覆蔥絳湯等，俱可酌用，須隨機應變，不執方而方始為我用矣。</p>
<h3>辨大腸癰小腸癰論</h3>
<p>夫大腸生癰者，或其人平素醇酒炙　，濕熱鬱蒸，相傅受傷，肺氣不能宣降，致濕熱下注，壅遏氣血而發（肺與大腸為表裡，肺傷則濕熱下注於大腸而生癰也）；或由七情所傷，飢飽勞役，擔負重物，致使氣血乖違，濕動痰生，腸胃痞塞，運化不通而結。初起發熱惡寒，脈數而芤，皮毛甲錯，右足屈而不伸，腹急漸腫，按之急痛，大便墜重，小便澀滯若淋。如癰未成者，宜以大黃湯下之，瘀血去盡自安；如體虛脈細，不敢下者，以活血散瘀湯和利之；癰已成，腹中疼痛，脹滿不食，便淋刺痛者，以薏苡仁湯決之。如膿從大便出者，易治；若在臍旁出頭者，即以臥針刺之；若從臍內出膿者，不治。亦有臍突腫硬，繞臍生瘡者，此名盤腸癰證，治法與上同。</p>
<p>小腸癰者，少腹腫而硬，按之則痛，左足屈而不伸，溲數似淋，時時汗出，復惡寒，身皮甲錯，腹皮急，甚則腹脹大。此證或由於肝邪積聚，寒凝氣阻而成；或由於產後經期氣滯瘀凝，營衛失和而發；至若奔走暴急，負重遠行，或醉飽房勞，生冷並進，致腸胃受傷，敗血濁氣壅遏，皆能致之。其因久積陰冷所成者，宜用溫熱之劑以溫發之，《金匱》之用附子苡仁敗醬散是也；其因內結熱所成者，宜利之，《金匱》之用大黃湯是也；若氣滯瘀凝者，宜用旋覆花蔥絳湯。又薛立齋曰：脈遲緊者，未有膿也，宜牡丹皮湯下之，當有血下；脈洪數者，已有膿也，用薏苡仁湯排之；小腹疼痛，小便不利，膿壅滯也，用牡丹皮散主之；氣血虛者，宜用八珍東加黃　、肉桂、丹皮、北五味斂而補之。古人治法，可以酌用。要知成膿後，外有頭可刺者為順；若外不可刺，而或從小便出膿者死。蓋大小腸二癰，雖名為腸癰，大抵生於皮裡膜外者多，故能在外出膿，是為易愈；若外無頭者，必生於腸內，而腸皮甚薄，易於腐爛，此惡證也。彼大腸癰之從大便出膿者，以濕熱內結，腑氣通而順勢下趨，出盡穢濁，故可愈。至從臍內出膿者，大便必結而不通，邪從上泄，難以去盡，久則爛腸，故不治耳。而小腸癰之膿從小便出者，以其邪傳入膀胱滲泄，或恐腑氣不能宣達，而穢濁即未能循竅下行，因致正虛邪著，延久而斃者多矣。</p>
<h3>辨小腹癰緩疽論</h3>
<p>小腹癰，生於小腹皮裡膜外。或因膏粱濃味，或因七情火鬱，以致脾虛氣滯而成，小兒乃驚積虧損所致。初起漫腫堅硬，肉色不變。數日後，有熱漸紅者，屬陽，易治；無熱不紅者，屬陰，難治。此證不問初起未潰已潰，俱宜助胃壯氣，而以行經活血之藥佐之，如四君子東加川芎、當歸、白芷、枳殼之類。如誤用克伐攻利涼藥，敗證必出。若其純陰無陽者，宜十全大補加參、　、薑、附以溫發之。又有腫高　赤作痛者，此屬濕火，先用仙方活命飲，或化毒除濕湯；成膿後脈洪數者，用托裡消毒散。</p>
<p>緩疽，生於少腹之旁，乃脾經氣滯寒積而成。堅硬，不紅不熱，痛引腰腿，有數月不潰者。若寒熱間作，飲食減少，漸致羸瘦，此屬敗證。治宜補養氣血、溫通經絡，理中湯合四物湯主之。</p>
<h3>辨腎俞發鸛口疽論</h3>
<p>腎俞發者，即腰疽，生於兩腰內腎陷肉之間，或生兩腰中間，最為險候。蓋腎為性命根本，藏精藏氣藏神；又乃受命先天，育女育男育壽。此必房勞過度，氣竭精傷，欲火銷陰，外陽煽動，以致真陰從此而耗，既耗之後，其臟必虛，所以諸火諸邪，乘虛而入。其證初起令人口乾，寒熱大作，百節俱痛。如本臟稍有真陰制火，瘡形自可高腫紅活為膿。治以人參養營東加山萸肉、北五味、知母、黃柏，及加減八味丸，以救其源。若瘡形紫黑干枯，堅硬不作膿者，為真陰內敗，再無可生之理，死在十五日前後。</p>
<p>鸛口疽，發於尾閭穴之高骨尖上，亦名尾閭發，《靈樞》名銳疽。此由三陰虧損，督脈之經濁氣濕痰流結而成。初起形似魚肫，久則突如鸛嘴，朝寒暮熱，日輕夜重，潰後稀膿出而無禁，又或鮮血出而不停。凡發此者，壯年猶可，老者可危。初宜滋陰除濕湯和之；已成未潰者，和氣養營湯托之；潰而不斂者，滋腎保元湯補之；久而成漏者，琥珀蠟礬丸、先天大造丸，兼服甚妙。</p>
<h3>辨腸風臟毒論</h3>
<p>夫大腸之下血也，一曰腸風，一曰臟毒。腸風者，邪氣外入，隨感隨見，所以色清而鮮；臟毒者，蘊積毒久而始見，所以色濁而黯。經云：陰絡傷，則血內溢而便血。人惟醉飽房勞，坐臥風濕，生冷停寒，酒面積熱，使陰絡受傷，脾胃虛損，外邪得而乘之，以致營血失道，滲入大腸而下，久則元氣愈陷，濕熱愈深，而變為臟毒矣。先便而後血者其來遠，先血而後便者其來近。治法大要，先當解散脾胃風邪，熱則敗毒散，冷則不換金正氣散加川芎、當歸，後隨其冷熱治之。其或內傷陽氣不足，下焦之陰，無元陽以維之而下血者，宜補中益氣湯、六君子及參苓白朮散加芎、歸、枳殼、地榆、槐花等。蓋血氣出於穀氣，故必賴補中升陽，以胃藥收功，胃氣一回，血自循經絡矣。</p>
<p>附：林氏謂：腸風者，本足陽明清氣不能升發透達於四肢腠理之間，下陷於大腸，大腸之血脈亦隨此氣而虛陷，陷久則氣血鬱結而化為濕熱，因此血隨氣滯，凡登圊氣陷火迫之時，其血先糞而至，至則清散不多。初起謂之腸風，蓋因方中多用荊芥、防風、升麻諸風藥，升舉清陽之氣，遂疑為外感之風也；即使是風，亦血熱所化之風，豈外風能入於大腸也哉。</p>
<p>至於臟毒者，因腸風日久，氣血兩虛，虛陷之氣日甚，而大腸之濕熱蘊積日深，手陽明大腸為積血之處，其勢必隨氣下陷，從糞之前後而來，來雖不痛，而其色多黑黯成塊，故有毒之名，而實無痔漏、腸癰膿血疼痛之毒也。若其病久遠，氣血愈虧，則脾胃之元氣諒必先虧，不能統運周身血脈，使之流行無礙，亦隨陷於大腸，而成結陰便血之證。在下清氣不舉。便血而兼飧泄之病；在上濁氣凝結，中滿而兼喘嗽之恙；甚至肢體浮腫，胸腹脹悶而死。</p>
<p>是證應分為三：輕曰腸風，甚則臟毒，重則結陰也。（結陰者，陰氣內結，不得外行，滲入腸間，乃寒濕生災而陰邪之勝也。）</p>
<p>附：馮魯瞻曰：風寒暑濕熱外邪所乘，皆可下血。蓋風喜傷肝，肝傷則不能藏血，因致下血；醉後飲冷，寒飲內傷，血為寒凝，滲入大腸，因致下血；內外傷濕，濕傷凝胃，隨氣下流，故致下血；膏粱人濃味酒色，藜藿人勞役過度，以致熱積下焦，故致下血；更有內傷陽氣不足，陰無所　，脾虛陽氣下陷，不能統血，每致下血。初起之脈，或沉數有力，或弦數不清，久則芤數無力，或沉澀而弱，至結陰脾虛之脈，非芤澀，則虛搏。治法：初則宜於升陽清熱，次則清補相兼、和血解毒。結陰則當升清利濁，兼於溫補其血可也。</p>
<h4>附：婦人崩中證</h4>
<p>丹溪曰：婦人崩中者，由臟腑傷損、衝任二脈血氣俱虛故也。若勞動過極，臟腑俱傷，以致衝任氣虛不能約制經血，故忽然而下，謂之崩中暴下。治宜大補氣血之藥，舉養脾胃，微加鎮墜心火之劑，以治其心，補陰瀉陽，經自止矣。</p>
<h3>辨脫肛痔漏論</h3>
<p>夫脫肛之證，有因久痢久瀉，脾腎氣陷而脫者；有因中氣虛寒，不能收　而脫者；有因酒濕傷脾，色欲傷腎而脫者；有因腎氣本虛，關門不固而脫者；有因濕熱下墜而脫者。又肛門為大腸之使，大腸受寒受熱，皆能脫肛。老人氣血已衰，小兒氣血未旺，皆易脫肛。經曰：陷者舉之。徐之才曰：澀可去脫。皆治脫肛之法也。考葉天士先生治脫肛之證，不越乎升舉、固　、益氣三法。如氣虛下陷而脫者，宗東垣補中益氣湯舉陷為主；如腎虛不　而脫者，宗仲景禹餘糧石脂丸及熟地、五味、菟絲輩，固　下焦陰氣為主；如肝弱氣陷，脾胃氣虛下陷而脫者，用　陰益氣，兼以酸苦泄熱為主；如老年陽氣下陷，腎真不　而脫者，又有鹿茸、陽起石、補骨脂、人參等提陽固氣一法，觀其案中所載諸條，亦云備矣。醫者宜奉以為宗也。又汪　庵云：有氣熱血熱而肛反挺出者，宜用芩、連、槐、柏及四物、升、柴之類，苦味堅陰。然斯證雖多，但苦寒之味不可恃為常法耳。</p>
<p>痔瘡者，肛門內外四旁忽生紅瘰，先癢後疼，後成為痔。或因其人素有濕熱，過食炙濃味；或因醉飽入房，筋脈橫解，精氣脫泄，熱毒乘虛流注；或因淫極強固其精，以致木乘火勢，而反侮金；或因擔輕負重，竭力遠行，氣血縱橫，經絡交錯；或因陰虛火熾；又婦人臨產，用力過甚，血逆肛門，亦能致此。若破而不愈，則成漏矣。此證屬肝、脾、腎三經。凡陰精虧損者難治，多成漏證；若肺與大腸二經風熱濕熱者，熱退自愈；若不守禁忌者，亦成漏證。至成漏後，有串臀者，有串陰者，有串腸者，有穢從瘡口而出者，形雖不同，治頗相似。其初起時，腸頭腫而成塊者，濕熱也；作痛者，風熱也；大便燥結者，火也；潰而為膿者，熱勝血也，當各推其所因而治之。凡遇　痛便秘，小便不利者，宜清熱涼血、潤燥疏風；若氣血虛而為寒涼傷損者，宜調養脾胃、滋補陰精；若大便秘澀，或作痛者，潤燥除濕；肛門墜痛者，瀉火導濕；下墜腫痛而癢者，祛風勝濕；小便澀滯腫痛者，清肝導濕；其成漏者，養元氣、補陰精為主。大凡痔漏下血，服涼藥不應者，必因中氣虛不能　血，非補中升陽之藥不能愈也，切忌寒涼之劑。亦有傷濕熱之食，或腸　而下膿血者，宜苦寒之劑內疏之。凡痔漏脈弦絕澀者難治；滑大柔和者易治。經云：因而飽食，筋脈橫解，腸為痔。其屬肝脾腎明矣。若有患痔而兼疝，患疝而兼下疳，皆屬肝腎不足之變證，但用黑地黃丸、益氣湯，以滋化源為善。若專服寒涼治火者，無不致禍。凡痔瘡潰久不愈，而成漏管者，若內服外洗，純用苦寒，必致脾元日損，肌肉難生。若妄用刀針，藥線系扎，鉛丸懸墜，利剪割切，良肉受傷，反以致害。又或日將藥　插入拔出，致瘡內四傍新肉磨成硬管，愈插愈深，遂成痼疾，此皆醫之過也。</p>
<h3>辨肛門癰臟頭毒偷糞鼠論</h3>
<p>蓋肛門為足太陽膀胱經所主（足太陽會陽穴在肛門之旁），是經為濕熱所聚之腑，此處生癰，每由於酒色中傷，濕濁不化，氣不流行者多。其始發也，惡寒身熱，繞肛而痛，　紅漫腫，大便堅結不通，小便亦艱。初宜清泄肺胃，如鮮地、杏仁、槐米、地榆、芩、連、枳殼、蘆根、蔗汁等類。若大便再不通行，即用涼膈散通腑，得大便一行，其濕毒隨便而泄，或亦有不成膿者。如便通後其腫痛仍然不減，繞肛成膿者，為臟頭毒；或左或右成膿者，為偷糞鼠；在兩邊出膿者，為肛門癰。投藥宜用歸尾、萆　、槐米、苡仁、丹皮、山梔等，清理下焦濕熱。此證潰膿後，自熱退身涼痛止，倘或肝腎充足，氣血和諧，即可於十日之內收口矣。如延久不斂，每多成漏，總以升藥條提之。此瘍雖有三名，其實總歸濕熱下注而結。用藥治法俱同，故並而論之。</p>
<p>按：治漏管，又有掛割之法，最能敗事，但增痛損神，漏終不去。蓋肉理阻隔而成管。</p>
<p>若不漸漸入藥，腐脫拔去，焉能肌理淪浹？如近時諸葛靜山治法最妙，惜其人已故，其法失傳。</p>
<h3>辨臀癰騎馬癰論</h3>
<p>臀癰生於臀上胯下近大腿處，由太陽膀胱濕熱流結，氣血凝聚而成。形大如盤，腫闊盈尺，上覆其腰，下遮其胯。此為陰中之陰，務須宣熱拔毒，大補氣血，培養腎胃，滋補根源。如此，庶血易聚而膿易作，毒易出而熱可宣。不然，經時累月，腫仍如故，疼痛日深。是以中年之後，猶慮患此。惟一見虛弱，即與滋補，可保終吉。若妄以清涼敗毒，內服外敷，則氣血得寒益凝，毒瓦斯不得外發，反致內攻，多致不救。治法：如初起患上有頭，紅熱墜重如石，口乾發熱者，此毒從五臟蘊積，宜內消沃雪湯通利積熱，外敷如意金黃散，拔出瘀膿紫血，內兼托藥自愈；如漫腫色白，脈虛弱者，此寒凝濕滯，氣血兩虛，宜與桂枝和營湯，兼服萬靈丹發汗；潰後，服八珍、十全收口。</p>
<p>騎馬癰，亦名騙馬墜，生於腎囊之旁，大腿根裡側，股縫夾空中。由肝腎濕火結滯而成。此處乃至陰之下，醫治不可過用寒涼之劑，又不可用刀針，如用只可針一、二分，慎之慎之！初起，以七味聖神湯治之甚妙。蓋此毒乃乘虛而入，必大補其血，而佐以逐邪之品，則病去如失矣。余法與前同。</p>
<p>附：上馬癰，生於左臀之下褶紋中；下馬癰，生於右臀之下褶紋中；坐馬癰，生於尻骨略上。總由濕熱凝結而成。</p>
<h3>辨胎火胎毒及猴猻疳論</h3>
<p>夫小兒之有胎火胎毒何也？或其父醉酒入房而得胎孕；或既孕之後，房欲不禁，內蘊火毒；又或其母滋味過濃，忿怒無節，驚喜不時，火熱燔灼，營血不清，兒在胎中吸飲穢濁。</p>
<p>此皆先天受毒，致產後，或月內，或月余，其毒驟發。痛楚號泣，臀腿　紅紫暈，其膚碎裂，狀如刮痧，或遍體　赤，或口糜難乳，或咽腫音啞。若不急治，毒即內陷，腹滿氣逆，致成胎驚而斃者多矣。治以生大黃磨濃汁，調入西黃末，再以金銀花、蘆根、甘草、鉤鉤，煎湯沖服，得大便瀉後，其火自退，毒瓦斯外泄，即可調理而愈。</p>
<p>如或臀腫　爛，紅赤無皮，或亦有　赤遍體者，此即名猴猻疳。緣其父曾患下疳楊梅惡疾，服輕粉升藥，遏抑毒瓦斯在內，故遺毒於胎元，須以猴疳化毒丹治之，四、五十服可愈。</p>
<p>設或晚治，毒瓦斯浸淫，亦必內陷，漸致形瘦神怯，音啞鼻塞，氣逆腹滿而不可救，慎之慎之！</p>
<h3>辨小兒赤游丹游火論</h3>
<p>赤游丹者，乃心火內郁，三焦風熱乘之，故發於肌膚之表，風勝則樹木皆搖，故令游走殊速。名之丹者，以應心火而色赤也，形如雲片，上起風粟，作癢而痛，或發於手足，或發於頭面胸背，令兒躁悶腹脹，發熱，游走遍體，流行甚速，須急治之。自腹而流於四肢者，易治；自四肢而歸於腹者，難療。治宜涼心瀉肝，如龍膽瀉肝湯、犀角地黃湯之類。又當順天時，若暑熱，以通聖辛涼之劑解之；嚴寒，以升麻、葛根辛溫之劑解之。外宜用磁鋒砭去紫血，以泄其毒，再用精肉片貼之；或用雞子清調乳香末塗之亦可。又有色白者，名白游風，其候流塊作癢，大小不等，津水作爛，此感風濕而發，治以疏散滲濕為主。</p>
<p>游火者，或頭面，或腿上，紅赤腫熱，流散無定，以鹼水掃上，旋起白霜者是也，其色光亮，其熱如火。治宜疏風清火、涼血解毒，外用白海蜇皮洗淨拭乾，包扎患處一伏時，揭開看，如蜇皮黃枯，即另換一張包裹，如此三、四張，即消散矣。</p>
<h3>辨囊癰懸癰論</h3>
<p>囊癰者，陰囊癰腫。乃足厥陰肝經所主，由肝腎二經陰虧濕熱下注而成。初起腫痛，小便赤澀，當用龍膽瀉肝湯清利解毒，或芩、連、黃柏、山梔、苡仁、木通、甘草、當歸之類。若膿已成而小便不利者，是熱毒壅閉也，先用托裡消毒散，後用針以泄之；若膿已出而腫痛不減者，是熱毒未解也，用清肝益營湯。此證由陰道虧、濕熱不利所致，故除濕滋陰藥不可缺。若潰後膿清或多，或斂遲者，須用十全大補東加山萸、丹皮、澤瀉以補益之；如虛而不補，少壯者多成痼疾，老弱者多致不起。又有脫囊，起時寒熱交作，囊紅睪腫，皮膚濕裂，隔日即黑，間日腐穢，不數日間其囊盡脫，睪丸外懸，勢若險重，其實不妨，皆由濕熱下流所致。摻以珍珠散，以白玉膏蓋之，內服四苓或萆　湯。又有一種水疝，腫痛而皮色光亮，無熱無紅，內有聚水，宜用針針之，引去水氣則安，內服五苓等利濕之藥。</p>
<p>懸癰生於腎囊之後，穀道之前，又名海底漏，最難收功。患此者，俱是極虛之人，由足三陰經虧損，濕熱結聚而發。初生狀如蓮子，日久漸如桃李，赤腫　痛，潰後輕則成漏，重則氣血瀝盡，變為癆瘵者多矣。治法：初起腫痛而小便赤澀者，肝經濕熱也，龍膽瀉肝湯主之；若　腫發熱者，清肝解毒，小柴胡去半夏、人參，加車前、黃柏、芎、歸、甘草；已潰者，用八珍東加制甘草、柴胡梢、酒炒黃柏、知母，切不可過用寒涼，損傷胃氣；惟制甘草一藥，名國老散，不損血氣，不動臟腑，其功甚捷，最宜用之。</p>
<h3>辨附骨疽附骨痰腎俞虛痰論</h3>
<p>附骨疽者，俗呼為貼骨癰，生於大腿外側骨上，此陰寒之證也。凡人環跳穴（足少陽穴名）處無故酸痛，久而不愈者，便是此證之兆。蓋由元氣素虧，風邪寒濕乘虛入裡，絡脈被阻失和，致血凝氣滯而發。始時臀腿間筋骨酸疼，甚者曲伸不能轉側，不紅不熱，皮毛不變，身體乍寒乍熱，而不能作汗，積日累月，漸覺微微腫起，陰變為陽，寒化為熱，熱甚則腐肉為膿，此疽已成也。謂之附骨者，以其毒瓦斯深沉附著於骨也。腎主骨，腎經陽和之氣不足，故腎部隧道骨縫之間，氣不宣行，而陰寒之邪得深襲伏結，而陰血凝滯，內郁濕熱，為潰為膿。古人有用附子者，以溫補腎氣，而又能行藥力、散寒邪也。大略此證初起治法，宜用溫經通絡、宣達陽和、滲濕補虛為主。若脈見滑數，按之軟熟，膿已成也，速宜開之，毋使久留延漫，否則全腿俱潰矣。至出膿之後，須溫養氣血、扶胃和營，方能速愈，切不可用寒涼外敷內服，貽害非小。</p>
<p>附骨痰者，亦生於大腿之側骨上，為純陰無陽之證。小兒三歲五歲時，先天不足，三陰虧損，又或因有所傷，致使氣不得升，血不得行，凝滯經絡，隱隱徹痛，遂發此瘍。初起或三日一寒熱，或五日一寒熱，形容瘦損，腿足難以屈伸，有時疼痛，有時不痛，骨酸漫腫，朝輕暮重，久則漸漸微軟，似乎有膿，及刺破後，膿水清稀，或有豆腐花塊隨之而出，腫仍不消，元氣日衰，身體縮小，而顯雞胸鱉背之象，唇舌乾焦，二便枯秘，或脾敗便泄，飲食少納，漸成童癆而斃。又大人亦有之，男則系房勞不禁，色欲過度，腎水干涸而生；女則由真陰不足，經枯血閉而發。起時腰痛足軟，腿膝酸楚，漸漸腿股腫脹，又名股陰疽；久則成膿，或腰間腎俞穴，腫硬色白，即名腎俞虛痰。二證潰膿後，皆不能收功。</p>
<h3>辨流注腿癰陰陽虛實異證同治論</h3>
<p>夫流注腿癰，證雖殊而治則一，要在辨其陰陽，明其虛實而已。若因於風寒客熱，或暑濕交蒸，內不得入於臟腑，外不能越於皮毛，行於營衛之間，阻於肌肉之內，或發於周身數處而為流注（有生於四肢關節者，有生於胸腹腰臀者），或發於腿上而為腿癰，此屬實邪陽證。初起憎寒壯熱，或微惡寒發熱，遍身骨節疼痛，其腫處漸漸加大，斯時宜以發散透解，或亦可以消散；如身熱無汗，即能成膿（大抵陽證流注出膿，即似傷寒之出汗）。其色雖白，不可認作陰證虛證（流注腿癰，大率皆色白）。或亦有根盤白而頂微紅者，此必膿已成（流注腿癰成功，即頂色白而脈見滑數，按之軟熟，其膿已成），即欲開之，以泄其邪；邪泄後方得熱退身涼，而元氣自然來復，脾胃亦醒，飲食有加，數日間氣血充盈，即能收口矣。其有體虛之人，元氣不足，或因郁結傷脾，暴怒傷肝，氣凝血滯，或濕氣逆於肉湊，或寒邪入於筋絡，或濕痰阻於經隧，或瘀血注於關節，又或病後余邪發散未盡，種種病由，皆因真氣不能營運，使邪氣壅滯而為患也。其發為流注也，或結塊，或漫腫，或一或三或五或七（流注總是仄數），此猶未穿，彼又腫起，外候則惡寒發熱，飲食減少，脈來細弱。此必培其脾胃，祛其寒濕，調其營血，脾胃健則血自生而氣自營運，豈可不固其本根，妄用寒涼克伐之劑，而蹈虛虛之戒哉。其發為腿癰也，則漫腫無頭，皮色不變，乍寒乍熱，時痛時酸，筋屈不伸，不能轉動。苟非大補氣血，溫經通絡，何以能使之消散？更何以使之速起速潰、易斂易愈也？此虛證屬陰之治法。異證同揆，惟貴學人審察而明辨之耳。</p>
<p>陽證流注腿癰，必欲辨明風寒暑熱，客於何部經絡，總以發表和營。如正旺邪實，宜萬消化堅丸攻透，方能無膿即消，有膿即潰，屢用屢驗，切勿以藥味峻猛而避之。如潰膿後，急欲調和脾胃；若久不斂口者，方可補托。如陰寒著骨而發，足不能伸舒，或身不能轉動，必須用陽和湯溫經通絡，潰後調治與前同。</p>
<h3>辨大腿癰陰包毒論</h3>
<p>大腿癰之證，發於內側者，屬肝脾二經；發於外側者，屬膽胃二經。或由於濕熱不化，留滯經絡，阻其氣血而成；或由於風寒濕外邪侵襲，壅遏不行而結。須辨其色之赤白，審其證之陰陽，然後施治。勢　腫痛者，屬濕熱，宜清利解毒；平陷堅硬，色不變者，為陰邪凝結，宜疏散溫發；膿潰後，均宜補托。</p>
<p>陰包毒，生於大腿內陰包穴，是足厥陰肝經風熱之毒，兼挾濕濁而成。腫高而硬，又名肫疽。俗言此疽堅硬無膿，殊不知內膿已成，一時不能透出皮膚，須用內托方潰膿，急即針之。宜服荊防敗毒散，或黃　柴胡湯，此湯治腿內近股癰疽，大有神效。</p>
<h3>辨鶴膝風人面瘡論</h3>
<p>鶴膝風者，以膝腫而　腿枯細，如鶴膝之形而名之也。此證有二：有發之暴者為水鶴膝，有發之緩者為旱鶴膝。凡人驟感風寒暑濕，膝中即覺疼痛。三、五日後，腿足不得屈伸，寒熱間作，膝之內外皆腫，色微紅，　熱光亮，股形漸覺細小，此實邪也，為輕證。若通其經絡、祛其濕熱、散其風寒，無難平復而愈。若發之緩者，由足三陰經虧損，風寒濕之邪乘虛而入，血脈阻滯，不得流行，注膝成病。下股之血脈，有去而無返，是以愈瘦愈冷而筋愈縮；上腿之血脈，有積而無散，是以愈腫愈熱而肌愈削。此證與附骨疽俱系腎虛所致。</p>
<p>蓋腎主骨，而臀以下俱屬腎，真氣衰弱，邪氣得以深襲，經久不消，極陰生陽，寒化為熱，而後潰也。若誤用寒涼，必成廢疾，或攣曲偏枯，或痿弱不起，或堅硬如石為石疽，或日久始潰、皮肉俱腐為緩疽。必當以桂附治之，以下部道遠，非此不能下達，又非此不能入腎經而宣行也。又小兒鶴膝風，如色紅　腫，朝輕暮重，寒熱交作者，先以羚羊角散加黃柏、蒼朮，或獨活寄生湯，先去其濕火，然後溫補。若腫硬色白不作膿者，因稟受腎虛，血氣不充而成，宜以六味丸加鹿茸，或虎潛丸補其精血；仍須調補脾胃，以助生化之源。</p>
<p>人面瘡者，即鶴膝風破爛所成，以膝有蓋骨似額，下兩旁有眼，中有高骨似鼻，穿潰腐壞，宛如人面之形，故名。非真有生出瘡形如人之面。前人謂與之肉且能食，有是理乎？要之，此證冷毒入於骨髓，但有白漿流出，元氣消乏，肌肉已死，不能化膿生新，雖有仙術，亦不能為之收功矣。</p>
<h3>辨膝蓋癰疵疽論</h3>
<p>膝蓋癰，生於膝蓋，色紅　腫疼痛，屬濕火，為氣血實。疵疽亦生在膝蓋，腫大如癰，其色不變，寒熱往來，屬寒凝濕滯，為氣血虛。和軟為順，堅硬如石者逆。經云：肉之小會為溪。溪者，二肘、二膝、四腕也。凡脾病在溪；腎有邪，其氣留於兩膝；凡筋病皆屬於節，筋乃肝之余，故又屬肝。是以溪會有病，皆從脾腎肝三經邪氣乘之也。倘兩膝俱生，即屬敗證，不治。治法：濕熱者，宜清利解毒，萆　化毒湯主之；寒濕者，宜溫散和營通絡，桂枝和營湯主之。</p>
<h3>辨委中毒膝眼毒論</h3>
<p>委中毒，生於膝灣內委中穴（穴在膝後　中央褶紋陷中），屬膀胱經。經曰：中毒，由膽經積熱流入膀胱，壅遏不行而成。夫膀胱為聚濕之所，熱入混淆，注於絡脈生癰，則莫非濕熱凝結為患。初起木硬腫痛微紅，屈伸艱難，故又名曲鰍，寒熱不退則成膿矣。治宜清濕熱、活血化瘀、舒筋散邪。若不速治，恐筋縮，遂成廢疾。</p>
<p>膝眼毒，生於膝蓋骨下兩旁膝眼中，又名托疽。外側者屬足少陽膽經，內側者屬足太陰脾經。初起必先膝眼酸痛，後乃　腫作痛成膿。系濕火注聚而成者多，亦有腎經感受風邪，寒濕相侵而受者。其寒濕、濕火之別，一則形高腫而色赤，一則形微腫而色白。必細認清楚，然後施治，始無差誤。</p>
<h3>辨魚肚毒腓疽黃鰍癰論</h3>
<p>魚肚毒，生於小腿肚上，屬足少陰與足太陽二經。初起憎寒壯熱，煩躁，結腫　痛。皆由腎經素虧、膀胱濕熱下注而成。宜服清利濕熱、涼血和營之劑；成膿後，即宜刺破，勿使毒瓦斯蔓延，致久難收口；虛，則以補劑托之。</p>
<p>如小腿肚漫腫堅硬下塌，紫暗　痛者，即名腓　疽。穿潰後，出稠膿兼血者為順，出清水者為凶。初服仙方活命飲，或萆　化毒湯；潰後，宜八珍湯、十全大補之屬，補其氣血。</p>
<p>黃鰍癰，生於小腿肚裡側，又名脛陰疽，由肝脾二經濕熱凝結而成。微紅微腫，堅硬如石，三、四寸許，痛楚難禁。如期潰出稠膿者，吉；如潰流污水敗醬者，凶。治同癰疽。</p>
<h3>辨跗陰疽接骨發論</h3>
<p>跗陰疽，生內踝上三寸，初生小泡，疼痛日增，堅硬赤腫，漸如雞卵，破流血水。系三陰交會、濕熱積聚而成。治同癰疽。但三陰交系純陰之穴，收斂遲緩，調理不可不慎。</p>
<p>接骨發，生於小腿肚之下，脛骨與足後跟骨相接處，故名之。此屬膀胱經濕熱凝結而成。初如核桃，堅硬漫腫，色紅、急脹、微疼，膿宜速潰，遲則膿毒損筋，筋脈既傷，腿缺踵行。踵行者，不能全足踏地，惟恃足指著力而行也。治同癰疽。</p>
<h3>辨外踝疽內踝疽論</h3>
<p>（附：穿拐痰、驢眼毒）</p>
<p>外踝疽，即腳拐毒，俗名穿拐毒，屬足三陽經脈絡也。由濕熱下注、血凝氣滯而成。初起外踝　腫，疼痛徹骨，舉動艱難，寒熱往來。如有紅暈者，宜服荊防敗毒散加牛膝，膿熟針之，後兼用托補法。若其皮色不變而漫腫無頭者，此名穿拐痰，由三陰虧損、寒濕注聚阻絡所致；幼兒因先後天不足而發。初起宜溫通，潰後宜補托。第此證屬虛，每難速效。</p>
<p>內踝疽，生兩足內踝近腕之處，足三陰經脈絡也。有由濕熱下注而成者，亦有由寒濕凝聚而成者。證形同前，治法亦可通用。其有腫甚，串及外踝，後俱穿潰腐爛如　瘡，四圍紫黑，時流毒水，或淌臭膿，名曰驢眼毒，俗名夾棍瘡也。由脾經濕毒流滯而成。亦有HT傷，或毒蚊虼蚤咬傷而起者，最難收功。摻以珍珠散，貼以白玉膏，內服萆　化毒湯，或五苓、四妙等。</p>
<h3>辨足跟疽厲癰論</h3>
<p>足跟疽，生於足跟骨下。由臟腑積熱，或汗足涉水，遠行傷筋而成。初起赤腫疼痛，膿成有頭可刺，出黃白色膿者易治；若初起便破，黑色而爛者難治。此處屬足太陽膀胱經申脈穴，乃陽蹺發源之所，腎經所過之地；瘡口久潰不合，陽蹺脈氣不能沖發，腎氣由此而泄，以致患者益虛，恐遂成終身之疾。初宜用隔蒜灸法；內服仙方活命飲加肉桂、牛膝；潰後宜補中益氣湯、人參養營湯、桂附地黃丸，隨證滋補治之。又名兔嚙瘡者，蓋獵人被兔咬腳跟成瘡，久而不斂，必氣血瀝盡而死；若人腳跟患此，亦非易愈，故名兔嚙也。</p>
<p>厲癰，發於足旁小指之側，由足三陰經虧損為疽者重，若兼足三陽經濕熱下注而成癰者輕。如紅腫疼痛，潰後有膿腐脫，無黑氣侵漫，屬濕熱偏勝易治；若微紅微腫，潰出膿水，屬陰氣凝結，不能化膿，險證難治；若黑暗漫腫，痛甚而不潰膿，煩熱作渴，小水淋漓，為陰敗惡證。治宜隔蒜灸之；投以十全大補湯，或補中益氣湯、八味丸之屬，或可收功。若妄用苦寒克伐之劑，多致不救。</p>
<h3>辨腳發背脫疽論</h3>
<p>腳發背，一名足跗發。經云：三背不宜生瘡。惟足背多筋少骨，肉少皮薄，又在至陰之下，發瘡疽者升發遲慢，所以為險候也。其證或由於足三陰精血虧損，或由於足三陽濕熱下注而生。若初起寒熱作嘔，堅硬紅腫，疼痛作膿者，屬濕熱，為可治；又或有因物搐傷，初起一粒，漸漸加大，寒熱交作，日重一日，而成斯證者；亦因濕火之盛而然。必俟熱退，腫勢方收止而漸消，此與爛皮乳癰相似。摻以珍珠散，貼以白玉膏可愈。若色微赤微腫而膿清者，屬精血虧損，為難治；若黑暗不腫痛，不潰膿，煩熱作渴，小便淋漓者，陰敗未傳，惡證也，為不治。治法：濕熱下注者，先用隔蒜灸；內服活命飲，以解壅毒；次用托裡消毒散；潰後服益氣湯、六味丸，以補精氣。若色暗不痛者，著肉用桑枝灸，以行壅滯、助陽氣，更用十全大補湯、八味丸，以壯脾土、滋化源，多有復生者。若專治其瘡，復傷生氣，吾未見其生者。</p>
<p>脫疽者，足指生疔，重者潰而紫黑，不疼不癢，久則脫去其節，故名之。亦有患於手指者，名曰蛀節疔，重者腐去本節，輕者筋攣。此由膏粱濃味，醇酒炙　，積毒所致；或因房術澀精，丹石補藥，銷爍腎水，房勞過度，氣竭精枯而成。有先渴而後患者，有先患而後渴者，皆腎水虧涸，不能制火也。此證情勢雖小，其惡甚大。初起如粟，黃泡一點，皮色紫暗，如煮熟紅棗，黑氣漫延，腐爛漸開，五指相染，甚至腳面疼如湯潑火燃，穢臭難聞，遂成五敗之證（血死心敗，皮死肺敗，筋死肝敗，肉死脾敗，骨死腎敗），而不可救。凡遇此證，乘其未及延散，須用隔蒜灸之，不痛者宜明灸之，庶得少殺其毒。蓋用藥攻，則患在偏僻之處，氣血罕到，藥難導達；況攻毒之劑，必先傷脾胃，反損元氣，不若灸法為良也。孫真人云：在肉則割，在指則截。毒之重者，古人原有割截之法，然每為病家之所忌，未可輕言；況證之首尾，吉凶變駁難定，豈可罔顧前慮後，而妄施之乎。至於用藥之法，若色赤腫痛者，元氣虛而濕熱壅甚也，即用活命飲、托裡散之屬，以解其毒；仍速用補劑，如十全大補湯、加減八味丸，則毒瓦斯不致上侵，元氣不致虧損，庶可保生。如作渴者，宜滋陰降火；若色黑，不疼痛，不潰膿者，則不可救。</p>
<p>諸方書論脫疽，單生於足大指；而別指生者，則名敦疽。謂敦疽易治，脫疽難治，以脫疽之指屬陰經也。學人宜詳審之。（足大指屬足太陰）</p>
<h3>辨涌泉疽足底疔論</h3>
<p>涌泉疽（腎經穴位，在足心），生於足心，又名井泉疽，俗名病穿板，又名穿窟天蛇。屬少陰腎經虛損、濕熱下注而成。若高突　腫，過候即潰膿者，毒淺易愈；若或麻或癢，黑陷不痛，二十一日之內不潰膿者，屬陰敗之證，毒深難救。治宜隔蒜灸之，或用神燈照法，內服除濕解毒之劑。若虛甚膿遲，則進十全大補湯，潰後與八味地黃湯、補中益氣湯等以滋化源，切不可過用攻伐之劑，致傷脾胃，使元氣愈虛，多致不救。</p>
<p>足底生疔，初起如小瘡或小泡，根腳堅硬，四圍　腫，或疼痛，或麻木，令人憎寒，頭痛發熱，或嘔吐惡心，煩躁悶亂。此由肥甘過度，不慎房酒，以致邪毒蘊結而成。經曰：膏粱之變，足生大疔。此之謂也。凡患此者，多有紅絲至臍，須看明，急用針於血絲盡處挑破之，使出惡血；亦用隔蒜灸法，痛則灸至不痛，不痛者灸至痛，若灸而不痛，針疔四邊，皆令血出，以奪命丹一粒，入瘡頭孔內，以膏藥蓋之，內服解毒之劑，或荊防敗毒散、活命飲，兼托裡補藥。若頭突如水晶樣者，即用刀點之，蓋以升膏。又或初起黃泡，止有硬塊，不甚痛赤者，為水疔，亦宜當頭刺破，以升膏蓋之。凡腳底生疔，若有老皮之處，宜去之，否則其頭難出。</p>
<h3>辨漏蹄瘋驢眼疽論</h3>
<p>夫漏蹄瘋之發也，其源有二：一由醇酒炙　，肝腎陰虧，絡道空虛，濕熱下注而生；一由於貧苦鄉人，勞力傷營，氣血失和而發。其瘍起於足底皮濃處，初則皮堅腫突，隱隱作痛，時痛時止，或一月或二月後漸漸穿破，但有滓水而無膿血，久則皮爛，其口如錢大，其肉凹進，色如雞肝，艱於任地。用珍珠散摻之，以白玉膏蓋貼，服萆　滲濕湯，兼服知柏八味丸。須飲食安養，必拖延歲月，方可收功。其或成膿者，為驢眼疽，屬陰虧血熱，濕熱注絡不化，較漏蹄稍為易於收斂。然亦要加謹調治，外以升膏蓋貼，服藥如前。</p>
<h3>辨歷節風漏肩風論</h3>
<p>《金匱》云：風寒濕三氣雜至，合而成痹也。其風氣勝者，為行痹；寒氣勝者，為痛痹；濕氣勝者，為著痹。經云：風勝則動，熱勝則腫。想因寒濕阻絡，化火蒸熱，營衛失和，遍體節骱酸楚掣痛而為歷節風痹。起時寒熱，或先發於手，或先發於足，或遍體皆發；或發一骱漫腫，至七日始退，再發一骱，或止發於一處。總以濕熱輕重之分。如發於氣分者，其色白；發於血分者，其色紅。用藥以透表燥濕解肌，俟熱減腫退，再以和營通絡。有數月不愈者，以邪去營虧，當用補益。</p>
<p>漏肩風，肩骱酸楚，或疼痛漫腫，亦因風寒濕阻絡而發。用藥與前證同。</p>
<h2>卷下</h2>
<h3>楊梅瘡結毒總論</h3>
<p>楊梅瘡者，實名洋霉瘡，又名時瘡，又名棉子瘡。總由濕熱邪火所化。若瘡毒傳染氣化者輕，此肺脾二經受毒，其瘡先見於上部，皮膚作癢，筋骨不疼，其形小而且干，堅實凸起，有似棉子，故有棉子之名。此毒在皮膚，未經入絡，治宜發散解毒，如防風通聖散、麻黃一劑飲俱可。若淫女媾精，精化欲染者重，乃肝腎受毒，或先發下疳，或先患魚口，然後始生此瘡，先從下部見之，漸至遍身，大而且硬，濕而後爛，筋骨多疼，小便澀淋，此證最重。因其毒瓦斯內入骨髓，外達皮毛，若非汗下兼行，何以洗濯其臟腑乎？斯時即宜用雞子大黃丸，或九龍丹等瀉之，使毒濁從來路而出，是為正治；切不可用輕粉、升丹等藥遏之。梅瘡一服輕粉，其毒入筋骨，如油入面，莫之能解，積久外攻，勢必至結毒潰爛，見諸惡證，每難措手，甚有為害一身，而並殃及妻兒者，皆輕粉、升丹遏藥之貽患也。大抵世之治楊梅瘡者，其法有四：有遏抑其毒而不令其出者；有重用行藥而行去其毒者；有用升發之劑而發出其毒者；有用解托之劑而敗去其毒者。四者之中，升發解托，雖未能使毒一時盡出，必久而取效，然施之可以無弊；至於遏抑內收，貽害非淺，固不可用矣；即重用行藥，每致大傷元氣，醫者豈可不審虛實而輕用之乎？若其人瘡發已久，氣血已虛，毒猶未退，此即不可瀉，宜施解毒托散之法，要在臨證變通可也。外此，又有薰條、擦藥、哈吸等法，亦非善道，宜屏去之。至如摻藥收口，必俟其人筋骨不疼，瘡根淡白，內毒已散，方可用之；否則，斂早遺毒，亦不能無後患也。</p>
<p>乃若結毒之證，其初起也，必先筋骨疼痛，漸漸腫起，發無定所，隨處可生；發在關節，則損傷筋骨，縱愈，曲直不便；發於口鼻，崩梁缺唇，雖痊，形必破相；發於咽喉，更變聲音；發於手足，妨於行動；入於巔頂，頭疼欲破，兩眼脹痛，其瘡起處，色紫而黑，穿潰後黃膿泛濫，污水淋漓，臭腐不堪，口內凹進凸出，如湖石之狀。皆由毒瓦斯遏郁，沉伏骨髓，外攻使然。考之瘍科書中，所載調治之方，計以百數，然大概仍不越乎瀉與遏兩端，內惟仙遺糧湯、金蟬脫甲酒，虛弱者芎歸二術湯，年久者五寶丹，不斂者十全大補湯，用土茯苓煎服，數方可用。近今有十味淡齋方，最為靈效，其藥品純粹，不獨愈其患，亦能盡解余蘊之毒，永不再發也。</p>
<h3>辨下疳論</h3>
<p>下疳生於前陰，一名妒精瘡，屬肝經濕熱下注而成。其來有三：有由欲念萌而未遂，未經發泄，而邪火遏郁，敗精濁血，留滯經隧，結而為腫者；有因交合不結，以致淫毒傳襲而發者；有由房術熱藥，塗沫洗搽，使精久不泄，邪火煽動，鬱滯而生者，皆由蘊毒所致。初起或先小便淋澀溺痛，次流黃濁敗精，遂陰莖癢痛，堅硬紫脹，漸漸破損，漸漸腐爛，膿水淋漓，其臭腥躁，以肝性臊也；亦有先皮腫光亮如水晶，破流毒水，腫痛日生，麻癢時發者。治法當以疏利肝腎火邪、除濕解毒為主，若清肝導滯湯、龍膽瀉肝湯、黃連解毒湯、萆湯、蘆薈丸之類，隨宜酌用；外摻珍珠散、五寶丹。蓋此證形異名殊，輕重不一。生於馬口者，名下疳；生玉莖上者，名蛀疳；莖上生瘡，外皮腫脹包裹者，名袖口疳；龜頭外腫如瘤者，名雞嗉疳；疳久而腐爛偏卸者，名蠟燭疳；又有臊疳、楊梅疳、旋根疳諸種。要之，無外因而病者，不過去其濕熱，或滋其真陰，濕熱既清，其瘡自愈，無足慮也。惟感觸淫邪，毒自少陰直入精宮而發者，不易愈。即治如前法，猶必令患者食淡、戒房事，若能守禁，則服藥自然有效，一月收功者，只消半月而愈矣。</p>
<h3>辨腎岩翻花絕證論</h3>
<p>夫腎岩翻花者，俗名翻花下疳。此非由交合不潔、觸染淫穢而生。由其人肝腎素虧，或又郁慮憂思，相火內灼，水不涵木，肝經血燥，而絡脈空虛，久之損者愈損，陰精消涸，火邪鬱結，遂遘疾於肝腎部分。初起馬口之內，生肉一粒，如豎肉之狀，堅硬而癢，即有脂水。延至一、二年，或五、六載時，覺疼痛應心，玉莖漸漸腫脹，其馬口之豎肉處，翻花若榴子樣，此腎岩已成也。漸至龜頭破爛，凸出凹進，痛楚難勝，甚或鮮血流注，斯時必脾胃衰弱，飲食不思，即食亦無味，形神困憊；或血流至兩三次，則玉莖盡為爛去；如精液不能灌輸，即溘然而斃矣。此證初覺時，須用大補陰丸，或知柏八味，兼用八珍、十全大補之屬。其病者，再能怡養保　，可以冀其久延歲月。若至成功後，百無一生，必非藥力之所能為矣。此與舌疳、失營、乳岩為四大絕證，猶內科中有瘋、癆、臌、膈，不可不知。</p>
<h3>辨魚口便毒論</h3>
<p>魚口便毒，生於小腹下兩腿合縫之間，左為魚口，右為便毒，屬厥陰肝經。此證得之奔走勞役，濕熱下注者少；惟交感不潔，遭淫毒而患者為最多。每每先起下疳，下疳未已，便毒繼之，此濕熱穢毒之為患也。亦有強力入房，忍精不泄，或欲念不遂，以致敗精搏血，留聚經隧，壅遏而成者，臨證當細為審辨。治法惟宜開鬱散氣、清利濕熱。而毒邪之證，先宜發汗，次利小便，使毒從膚腠而出，或從小便而泄；發汗利便不應者，乃以破毒活血調氣之劑攻之，俟毒瓦斯宣通，隨以補劑托之，此定法也。凡婦人患此者，多在兩　腫痛，或腹中結塊，小腹痞悶，上攻兩脅，小便澀滯，憎寒壯熱，多由肝經濕熱下注，或鬱怒傷損肝脾所致。宜用龍膽瀉肝湯、加味逍遙散之屬，不可概投散血攻毒之劑。又小兒亦有此證，總由肝經熱毒，治宜瀉肝，再視血分毒瓦斯，為之斟酌。</p>
<h3>辨痘毒總論</h3>
<p>夫痘者，系先天之毒所發；而痘毒者，是毒發未盡，而復結為癰也。人之有生，受氣於父，成形於母，當父母媾精之時，惟恃一點真元之火，相為凝結，是胎元之初成，即胎毒之蘊蓄，故名之曰胎毒。此毒潛伏命門，至受生以後，有觸即發，無觸則不發，故其發有遲速，有數月而即發者，有數歲而始發者，更有十余歲而後發者。當其未發時，形氣俱泯，無可端倪，若未燧之火，何處尋覓？又何可解釋？及其有觸而發，則勃然不可御。蓋其毒瓦斯動於命門，發自五臟，實動五臟真氣，斯時全賴血氣送毒外出，運化之而成漿，收結之而成痂，而後其毒始盡，臟腑可安。若或血氣衰弱，漿水不足，不能盡送毒瓦斯外出，雖痘瘡已愈，而遺毒之未盡者，不免結為癰瘍，而痘毒生焉已。然痘毒之生也，發於時痘後者輕，發於種痘後者重，何則？時痘感時行之邪，觸動胎元之毒而發，故其為痘證也重，而毒能盡泄，痘後即或生瘍，不過痘、癰、疔、癤而已。至種痘則外無天行時邪，祗借些微痘苗之氣，以引胎元之毒，故其為痘證也輕，痘出之後，余毒未能盡泄，而發為痘毒，純是先天火邪所結，所以潰膿腐爛，未能速愈也。且余毒必發於節骱，蓋以痘未結痂，火毒未泄，走入絡中，故或發於肘腕，或生於膝脛，起則漫腫，寒熱潮熱，煩躁口乾成膿。潰後若小兒先天稟足，氣實壯強者，即可數日收功；其或正虧，余毒攻絡者，即名氣虛毒滯，穿潰後每難收口。總須胃強脾旺，氣血充盈，始可無妨。如體怯少納，或脾泄便溏，或潮熱不退，即成損怯矣。要知此瘍起時，若　紅漫腫，寒熱交作者，當從實證治，宜清火解毒。起時如色白漫腫，緩於成功作膿者，當以虛證治，即用補托。如潰後不收斂者，當以虛痰治；若止用清火解毒之劑，使脾胃受戕，乳食不貪，微熱不退，致成損怯而斃者多矣。此不可不辨也。</p>
<h3>辨諸瘡總論</h3>
<p>夫惡瘡，諸痛癢瘡，皆屬於心；諸濕腫滿，皆屬於脾。心主血，脾主肉，血熱而肉濕，濕熱相合，浸淫不休，潰敗肌膚，而諸瘡生矣。然有辨焉，如疥癬癮疹之屬，怫鬱氣血，在皮膚腠理間者，可以表而散，《內經》有謂汗之則瘡已是矣。若怫鬱氣血在肌肉之分，外達皮膚，作寒熱而生膿者；或七情所招，或膏粱之變，皆宜解內熱，不宜發汗，仲景所謂瘡家不可發汗，汗出則痙者是矣。一瘡而有宜汗不宜汗之戒，蓋熱有淺深表裡故也。故瘡在皮膚，則當因其輕而揚之，汗之浴之；外以殺蟲潤燥，皆解凝結涎沫之藥敷之。瘡之在肌肉，則當因其重而減之，瀉經絡之熱，清涼氣血；外以化膿生肌膏貼之。瘡在頭巔，則當射而取之，須酒製寒涼劑，更以風藥升而上之；外以殺蟲解熱藥敷之。明此三者，其於治瘡，思過半矣。</p>
<h3>辨瘡血風瘡論</h3>
<p>瘡者，生於兩　，初起發腫，久而腐潰，或浸淫瘙癢，破而膿水淋漓。乃風熱濕毒相聚而成；或因飲食起居，虧損肝腎，陰火下流，外邪相搏而致。外　屬三陽經濕熱，易治；內屬三陰經濕，兼血分虛熱，難治。蔣示吉謂：色紅者多熱，腫者多濕，癢者多風，痛者屬實，早寬而暮腫者，屬氣虛下陷。初起者，風熱濕毒為多；日久者，下陷濕熱為勝。初宜用獨活、防己、黃柏、蒼朮、萆　、牛膝、歸尾、苡仁、丹皮、赤芍、銀花、黑梔、豬苓、澤瀉等；又二妙丸、四妙丸之類。若脾虛濕熱下注，則用補中益氣，或八珍東加萆　、銀花之屬，外用夾紙膏貼之。</p>
<p>血風瘡，多生在兩小腿裡外　，上至膝，下至踝骨，乃風熱、濕熱、血熱交感而成。初起瘙癢無度，破流滋水，日漸沿開，形同針眼。宜服四物東加防已、萆　、丹皮、苡仁、黃柏、銀花等；外搽解毒雄黃散，或如意金黃散俱可。如年久紫黑堅硬，氣血不行者，用磁鋒砭去惡血，以解鬱毒，然後敷藥。</p>
<h3>辨天泡瘡翻花瘡論</h3>
<p>天泡瘡者，形如水泡，皮薄而澤，或生頭面，或生遍身。由天行少陽相火為病，故名天泡。為風熱客於皮膚間，外不得泄，沸熱血液，結而成泡。宜清熱涼血，熱解則愈；如兼表邪而發熱脈數者，宜荊防敗毒散；如火盛者，或加芩、連、連翹、金銀花、元參之屬；如腫疼痛，脈數便結者，此表裡俱實也，宜防風通聖散雙解之；如外多毒水，以金黃散敷之，或以石珍散摻之，無有不愈。</p>
<p>翻花瘡者，由瘡瘍潰後，肝火血燥生風所致。或瘡口　肉突出如菌，大小不同，或出如蛇頭，長短不一，揩損每流鮮血，久亦虛人。治法當滋肝養血，如梔子清肝湯是也；外塗藜蘆膏（景岳方），　肉自入，須候元氣漸復，膿毒將盡，塗之有效，不然雖入而復潰。若誤用刀針、蝕藥、火灸，其勢益甚，或出血不止，必致寒熱嘔吐等證，須大補脾胃為善。</p>
<h3>辨膿窠瘡黃水瘡論</h3>
<p>膿窠瘡者，大如黃豆，黃膿起泡，痛甚。起時先從水泡作癢，後變膿泡。乃肺經有熱，脾經有濕，二氣交感而成。治當清熱散風、涼血除濕，如四妙東加防風、荊芥，或涼血消風散；外搽普濟丹，或蛇床子散，或一掃光；若不癢而痛者，以生大黃二兩，生石膏一兩，研末，麻油調搽，兼戒口味，自愈。</p>
<p>黃水瘡者，頭面耳項，忽生黃泡，破流脂水，頃刻沿開，多生痛癢。此因日晒風吹，熱毒郁於皮毛，暴感濕熱；或內餐濕熱之物，致風動火生而發。當內服祛風、涼血、清熱之藥，外以湯洗之，用蛤粉散搽之；有用雄豬膽一個，入黃柏一兩浸，焙乾為末，摻之；或用井花水調搽，殊妙。</p>
<h3>辨疥瘡痤痱瘡論</h3>
<p>夫疥有五種：干疥、濕疥、蟲疥、砂疥、膿疥。如肺金燥盛，則生干疥，瘙癢皮枯，而起白屑；脾經濕盛，則生濕疥，　腫作痛，破泄黃水，甚流黑汁；肝經風盛，則生蟲疥，瘙癢徹骨，撓不知痛；心血凝滯，則生砂疥，形如細砂，　赤癢痛，抓之有水；腎經濕盛，則生膿窠疥，形如豆粒，便利作癢，膿清淡白，或脾經濕盛亦生之，但頂含稠膿，癢痛相兼為異，皆有小蟲，染人最易。切忌熱湯浸洗，圖快一時，殊不知熱毒攻裡，蟲愈深入，雖有良方，何能刻日奏效？患者戒之。兼忌一切發物海鮮。治法：內服疥靈丹，或消風散；外搽繡球丸，或一掃光俱可。</p>
<p>痤痱瘡者，俗名坐板瘡。生於兩股，密如撒粟，尖如芒刺，癢痛非常，渾身毛刺，甚者皮損黏衣。此由脾經濕熱濕毒郁久而成，或有因久坐卑濕之地，或坐烈日石上，釀成濕熱，亦能致之。此處乃至陰之所，血亦罕來，藥力少至，當用外治，法以苦參湯洗之，摻以鵝黃散。</p>
<h3>辨白禿瘡肥瘡論</h3>
<p>白禿瘡者，俗名HT　HT　瘡。乃足太陽膀胱、督脈二經受濕熱，生蟲作癢，瘡痂高堆是也。風襲則起白屑，熱甚則禿，久則傷孔而不生發。治當消風、除濕、殺蟲、止癢、養血。</p>
<p>肥瘡生於頭頂，乃臟腑不和之氣上衝，血熱之毒上注，小兒陰氣未足，陽火有餘，故最多犯之。宜內服荊芥、防風、連翹、天花粉、貝母、元參、赤芍、生地、牛蒡子等，清熱解毒、涼血和血，俟毒瓦斯少解，方外用藥以塗之，切不可驟加寒涼塗遏，以致熱毒內攻不救。蓋小兒臟腑嬌嫩，易入難出也。</p>
<h3>辨濕毒瘡腎臟風瘡論</h3>
<p>濕毒瘡，生於足脛之間，狀如牛眼，或紫或黑，膿水淋漓，止處即潰爛，久而不斂。此因脾胃虧損，濕熱下注，以致肌肉不仁而成；又或因暴風疾雨，寒濕暑熱侵入肌膚所致。在外屬足太陽、少陽經，在內屬足厥陰、太陰經。初覺急服荊防通聖散加木瓜、牛膝、防己、蒼朮治之；若延久不愈者，宜服補中益氣湯合二妙散，外搽制柏散，或金黃散。</p>
<p>腎臟風者，屬腎虛，風邪乘於　脛，以致皮膚如癬，或漸延上腿，久則延久遍身。外證則瘙癢成瘡，膿水淋漓，眼目昏花；內證則口燥舌乾，腰腿倦怠，吐痰發熱，盜汗體疲。治法用六味丸為主，佐以四生散；若脾胃虛弱者，用補中益氣湯為主，佐以六味丸、四生散為善；外貼黃蠟膏。</p>
<h3>辨蜘蛛瘡漆瘡凍瘡論</h3>
<p>蜘蛛瘡，或衣沾蜘蛛遺尿，或蟲蟻游走，染毒而生。形與水窠瘡相似，淡紅，作癢且痛，五、七個成簇，日漸延開，甚亦使人惡寒發熱。即以犀角磨汁塗之則愈；否則以苧麻在瘡上揉搓出水，用金黃散搽之；或以雄黃、枯礬等分，研細，干摻亦可。</p>
<p>漆瘡者，漆味辛熱，火象有毒之物，人之皮毛腠理不密，故感其毒而成。初起發泡，作癢變瘡，甚則傳變肢體，皮破爛斑，流水作痛，寒熱交作。須忌浴熱湯，兼戒口味，不然，即變頑風癬癩矣。以杉木花煎湯洗之；用杭粉、石膏、輕粉、韭汁調搽；或生雞蛋黃塗之，頻換。</p>
<p>凍瘡，乃天時嚴冷、氣血冰凝而成。初起紫斑，久則變黑，腐爛作膿，手足耳邊俱有之。用楝樹果煎湯淋洗，以生附子為末，加楝樹子肉搗和，面水調敷；或用黃蠟一兩溶化，入松香三分，攪勻搽塗。</p>
<h3>辨跌打損傷及杖瘡合論</h3>
<p>凡跌打損傷，或從高墜下，惡血流於內，不分何經之傷，皆肝之所主，蓋肝主血也。故凡敗血凝滯，從其所屬，而必歸於肝，多在脅肋小腹者，皆肝經之道也。若其壅腫痛甚，或發熱自汗，皆當酌其虛實，而以調血行經之藥治之。治法：凡胸滿脅脹者，宜行血；老弱者，宜行血活血；腹痛者，宜下血；瘀肉不潰，或潰而不斂，宜大補氣血；若打撲墜墮稍輕，別無瘀血等證，而疼痛不止者，惟和氣血、調經脈，其痛自止；更以養氣血、健脾胃，則無有不效。亦有痛傷胃氣作嘔，或不飲食者，以四君子東加當歸、砂仁之類調之。若有瘀血，不先消散，而加補劑，則成實實之禍；設無瘀血，而妄行攻利，則致虛虛之禍。故凡治此證，須察所患輕重，有無瘀血，及元氣虛實，不可概行攻下，致成敗證。蓋打撲墜墮，皮肉不破，肚腹作痛者，必有瘀血在內，宜以復元活血湯攻之；老弱者，四物東加紅花、桃仁、穿山甲補而行之；若血去多而煩躁，此血虛也，名曰亡血，宜補其血；如不應，當以獨參湯補之。又凡損傷，不問老弱，及有無瘀血停積，俱宜服熱童便，以酒佐之，推陳致新，其功甚大；若脅脹或作痛，或發熱煩躁，口乾喜冷，惟飲熱童便一甌，勝服他藥。大凡腫痛或傷損者，以蔥搗爛炒熱罨之；或用生薑、蔥白同搗爛，和面，炒熱罨之亦可。至脈法，出血多者，其脈虛細沉小者生，浮數實大者死。從高顛仆，內有瘀血，腹脹，脈堅強者生，小弱者死，以脈病不相應故也。</p>
<p>杖瘡一證，其重者，必以瘀血為患。血瘀在外者，淺則砭之，深則刺之，內潰者開之，腐肉者取之；血瘀在內者，宜以活血、和氣之藥和之，甚者利之、行之，此治血凝之法也。</p>
<p>然其受刑之時，號叫則傷氣，忍痛則傷血，悲憤則傷志，血氣情志俱傷，虛所必至，若不培補，則羸困日甚矣。況脾主肌肉，脾氣受傷，則飲食必減，血脈損壞，則肌肉俱病。故凡既傷之後，但察其虛多滯少者，則宜以參、　、歸、朮、熟地、甘草之屬，專理脾氣，以托氣血，脾健則元氣自復，肌肉自生，可保無虞矣。其有傷筋骨而作痛者，宜以沒藥降聖丹治之；若牙關緊急，或腰背反張者，以玉真散治之並效。總之此證宜先察其有瘀無瘀，及形氣虛實，酌而治之。凡諸變證治法，有未盡者，宜與前跌打損傷條互參通用。</p>
<h3>辨大麻瘋論</h3>
<p>夫大麻瘋者，經謂之癘風，又謂之癩風。乃因其人中氣不足，而感天地間陰癘濁惡之邪；或受風木之化，而風熱化蟲；或受濕毒於皮毛，而後及營衛；或犯不潔；或因傳染，皆得生蟲。蓋蟲者，厥陰主之，厥陰為風木，主生五蟲也，初不為意，而漸久漸多，致不可解救。先則眉癢而漸脫落，兩顴紅潤，浮腫而癢；漸至兩臂皮粗毛落，甚而通身肌膚淫淫作癢難忍。其毒深入血脈之中，而濕熱蘊積於臟腑之內，蟲蝕臟腑，沿蛀肌肉，久之精神枯涸，諸蟲聚食，遂傳為癆瘵而死。古人謂：其病有三因五死。三因者，一曰風毒，二曰濕毒，三曰傳染。五死者，一曰皮死，麻木不仁；二曰脈死，血潰成膿；三曰肉死，割切不痛；四曰筋死，手足緩縱；五曰骨死，鼻梁崩塌。與夫眉落眼盲，唇翻聲噎，皆為難治。凡遇此證，初起速為清散，可保無恙。其或歲月已久，而精神氣血未衰，六脈洪大而實，或洪數有力者，用汗、吐、下三法，分表裡攻逐之，使毒瓦斯不得稽留而速化。繼服清熱解毒、涼血補血，兼養營益衛之劑，禁用辛燥之品，致耗津精，血耗而助酷烈之勢。歷考前方，若馮氏之再造散、醉仙散、陳氏之萬靈丹、苦參丸、神應養真丹，諸法已備，學人宗之可也。然患者必須斷酒戒色，忌食發風動氣、葷腥鹽醬、炙　生冷之物，方為有益，否則無功。慎之慎之！</p>
<h2>方匯</h2>
<h3>卷上</h3>
<p>（仲景）</p>
<p><u>黃連瀉心湯</u></p>
<p>　治一切火熱癰腫瘡瘍。</p>
<p>黃連　黃芩　甘草</p>
<p>《三因》</p>
<p><u>溫膽湯</u></p>
<p>　治氣鬱生涎，濕熱壅滯，舌苔膩白，瘍毒內攻，心煩噦惡。</p>
<p>陳皮　半夏　茯苓　甘草　枳實　竹茹</p>
<p>《濟生》</p>
<p><u>犀角地黃湯</u></p>
<p>　清營解熱。能治一切肺胃之火。</p>
<p>犀角　生地　白芍　丹皮　加柴胡、黃芩，治肝火。</p>
<p>（新方）</p>
<p><u>羚羊角散</u></p>
<p>　治風熱挾肝陽上逆，耳癰項腫，痰毒托腮等證。</p>
<p>羚羊角　夏枯草　丹皮　鉤藤鉤　連翹　桑葉　山梔　玄參　象貝母</p>
<p><u>真人活命飲</u></p>
<p>　治一切癰疽，未成膿者即消，已成膿即潰。此止痛消毒之聖藥也。或陰夾陽，陽夾陰之證，皆可服。</p>
<p>金銀花　防風　白芷　當歸　天花粉　乳香　沒藥　角針　穿山甲　陳皮　象貝母　甘草節（新方）</p>
<p><u>疏肝流氣飲</u></p>
<p>　治肝鬱不舒，乳癰、乳痰諸證。</p>
<p>柴胡　薄荷　鬱金　當歸　丹皮　黃芩　白芍　山梔　夏枯草（陳氏）</p>
<p><u>萬靈丹</u></p>
<p>　治癰疽、疔毒、對口、濕痰流注、附骨陰疽、鶴膝等證。</p>
<p>茅朮（八兩）　全蠍　石斛　明天麻　當歸　炙甘草　川芎　羌活　荊芥　防風　麻黃　北細辛　川烏（泡，去皮）　草烏（泡，去皮）　何首烏（各一兩）　明雄黃（六錢）</p>
<p>蜜丸，如彈子大，每藥一兩，分作四丸，又六丸，又九丸。觀年之老弱壯取用；外用朱砂六錢，研細為衣。</p>
<p>《活人》</p>
<p><u>荊防敗毒散</u></p>
<p>　亦名消風敗毒散。發散時氣、風毒邪熱，亦治腸風下血、風濕、癰腫、瘡瘍。</p>
<p>柴胡　荊芥　防風　羌活　獨活　前胡　川芎　枳殼　人參　甘草　桔梗　茯苓內熱，加酒炒黃芩；熱甚，加酒炒川連；口渴，加花粉。</p>
<p>（景岳）</p>
<p><u>犀角升麻湯</u></p>
<p>　治時毒，或風熱頭面腫痛，或咽喉不利，或鬢疽、　腮等證。</p>
<p>犀角　升麻　防風　羌活　白芷　白附子　黃芩　甘草（景岳）</p>
<p><u>五福消毒丹</u></p>
<p>　治咽喉、牙口瘡毒腫痛，並小兒一切熱毒瘡癤，驚惕煩躁，口舌生瘡，夜臥不寧等證。</p>
<p>玄參　桔梗　茯苓　人參　牙硝　青黛　甘草　麝香　金箔上為末，煉蜜丸，芡實大。每服一丸，薄荷湯下。</p>
<p>（景岳）</p>
<p><u>五利大黃湯</u></p>
<p>　治時毒，　腫赤痛，煩渴便秘，脈實而數。</p>
<p>大黃　黃芩　升麻　芒硝　梔子（景岳）</p>
<p><u>五香連翹湯</u></p>
<p>　治腦疽、癰疽、時毒，邪氣鬱滯不行者。</p>
<p>乳香　木香　沉香　丁香　香附　黃　射干　連翹　升麻　木通　獨活　桑寄生　甘草（景岳）</p>
<p><u>通氣散</u></p>
<p>　治時毒腫甚，咽喉不利，取嚏以泄其毒。</p>
<p>牙皂　川芎　北細辛上為末。用紙捻蘸少許，入鼻內，取嚏為效。</p>
<p>（景岳）</p>
<p><u>犀角散</u></p>
<p>　治痘瘡、癰毒、時毒，熱盛煩躁多渴，小便赤澀，或赤斑。</p>
<p>犀角　甘草　防風　黃芩上為末。每服二錢，水一小盞，煎五分溫服。</p>
<p>（景岳）</p>
<p><u>芩連消毒飲</u></p>
<p>　治天行時疫、大頭瘟，發熱惡寒，頸項腫痛，脈洪，痰痹等證。</p>
<p>柴胡　桔梗　羌活　防風　黃連　連翹　枳殼　荊芥　白芷　川芎　射干　黃芩　甘草加薑煎服。</p>
<p>（景岳）</p>
<p><u>連翹湯</u></p>
<p>　治癰疽時毒，　赤腫痛。</p>
<p>連翹　升麻　朴硝　玄參　芍藥　白蘞　防風　射干　大黃　甘草　杏仁（景岳）</p>
<p><u>定痛托裡散</u></p>
<p>　治瘡瘍血虛疼痛之聖藥也。</p>
<p>粟殼　當歸　白芍　川芎　乳香　沒藥　肉桂（景岳）</p>
<p><u>托裡黃　湯</u></p>
<p>　治癰疽氣虛作瀉，甚效。</p>
<p>黃　甘草　天花粉加人參亦可。</p>
<p>（東垣）</p>
<p><u>普濟消毒飲</u></p>
<p>　治疫癘憎寒壯熱，頭面腫盛，目不能開，氣逆上喘，咽喉不利，口舌乾燥。</p>
<p>黃連　黃芩　人參　生甘草　桔梗　柴胡　薄荷葉　連翹　鼠黏子　板藍根　馬屁勃白僵蠶　升麻　玄參　大黃（節庵）</p>
<p><u>通聖消毒飲</u></p>
<p>　凡頭面腫盛，兩目不開，鼻塞，口乾舌燥，內外有熱；或咽腫痛不利；或內實大便秘結，脈洪數，煩渴者，宜服之。</p>
<p>荊芥　防風　白芍　連翹　甘草　川芎　當歸　薄荷　黃芩　山梔　滑石　桔梗　石膏芒硝　大黃　麻黃　牛蒡子腫不消，加元參。一方用犀角。</p>
<p>（仲景）</p>
<p><u>小柴胡湯</u></p>
<p>　治肝膽風熱，瘰　結核；或腫痛色赤；或寒熱往來；或怒火，口苦，耳聾，耳癰，乳癰，乳疽等證。</p>
<p>柴胡　人參　黃芩　生薑　半夏　甘草　大棗（節庵）</p>
<p><u>清涼救苦散</u></p>
<p>　治大頭瘟腫甚者，以此敷之。</p>
<p>芙蓉葉　霜桑葉　白蘞　白芨　大黃　黃連　黃柏　紫車前　白芷　雄黃　赤小豆　芒硝上各等分為末。用蜜水調敷腫處，頻掃之。</p>
<p>（崔氏）</p>
<p><u>黃連解毒湯</u></p>
<p>　治一切火毒熱毒，狂躁心煩，濕熱壅滯諸證，脈洪而數。</p>
<p>黃連　黃芩　黃柏　山梔（陳氏）</p>
<p><u>如意金黃散</u></p>
<p>　治癰疽，發背，諸般疔毒，漆瘡，火丹，濕痰流毒，風熱天泡，肌膚赤腫，婦人乳疽，小兒丹毒。</p>
<p>天花粉　黃柏　大黃　白芷　厚朴　陳皮　甘草　蒼朮　南星為末。或蜜水，或蔥湯，或蔥酒，又或大藍根葉汁調敷，要在臨證審用。</p>
<p>（景岳）</p>
<p><u>清肝益營湯</u></p>
<p>　治肝膽小腸經風熱血燥，筋攣結核，或耳項、胸乳、脅肋作痛，並一切肝火之證。</p>
<p>熟地　當歸　山梔　龍膽草　茯苓　白芍　柴胡　白朮　木瓜　川芎　炙甘草（景岳）</p>
<p><u>托裡消毒散</u></p>
<p>　治癰疽已成，不得內消者，宜服此以托之。</p>
<p>人參　川芎　黃　當歸　白芍　白朮　茯苓　金銀花　白芷　甘草　桔梗　皂角刺（景岳）</p>
<p><u>梔子清肝湯</u></p>
<p>　治少陽經虛，肝火風熱上攻，遂成鬢疽，痛連頸項、太陽等處，或耳內作癢生瘡，或出水疼痛，或胸乳間作痛，或寒熱晡甚，胸滿口苦，舌乾。</p>
<p>柴胡　川芎　當歸　牛蒡子　白芍　牡丹皮　石膏　山梔　黃芩　黃連　甘草</p>
<p>《大全》</p>
<p><u>鼠黏子湯</u></p>
<p>　治鬢疽初起，寒少熱多，頭眩作痛，口燥咽乾，渴欲飲冷，二便秘澀，六脈沉實有力，煩悶疼痛者。</p>
<p>桔梗　鼠黏子　赤芍　地骨皮　當歸　天花粉　元參　甘草梢　木通　防風　連翹　大黃（景岳）</p>
<p><u>神效黃　湯</u></p>
<p>　治癰毒內虛，毒不起化，及潰後諸虛，不能收口。</p>
<p>黃　麥冬　人參　熟地　茯苓　甘草　白芍　當歸　川芎　遠志　官桂　薑　棗（陳無擇）</p>
<p><u>蒼耳散</u></p>
<p>　治鼻淵。</p>
<p>薄荷　辛夷　白芷　蒼耳子蔥、茶調服。</p>
<p>（錢仲陽）</p>
<p><u>六味地黃湯</u></p>
<p>　治肝腎不足，真陰虧損，舌燥喉痛，虛火牙痛、牙漏、牙宣等證生地　山萸　茯苓　山藥　澤瀉　丹皮（東垣）</p>
<p><u>補中益氣湯</u></p>
<p>　治瘡瘍元氣虧損，惡寒發熱；或因克伐，肢體倦怠，飲食少思；或不能起發消散，生肌收斂；或兼飲食勞倦，頭痛身熱，煩躁作渴，脈洪大弦虛，或微細軟弱，及脫肛、痔漏等證。</p>
<p>人參　黃　於朮　陳皮　柴胡　升麻　甘草　當歸</p>
<p>《大全》</p>
<p><u>加味逍遙散</u></p>
<p>　治肝鬱氣滯，或口舌生瘡，或耳內作痛，乃乳癰、乳痰等證。</p>
<p>柴胡　白芍　當歸　茯苓　白朮　甘草　黃芩　半夏　白芷　陳皮　桔梗（嚴氏）</p>
<p><u>辛夷散</u></p>
<p>　治鼻生　肉。</p>
<p>本　防風　辛夷　白芷　升麻　木通　川芎　細辛　甘草</p>
<p><u>辛夷清肺飲</u></p>
<p>　治鼻痔。</p>
<p>辛夷　黃芩　山梔　麥冬　百合　石膏　知母　甘草　升麻　枇杷葉</p>
<p>《局方》</p>
<p><u>涼膈散</u></p>
<p>　治心火上盛，中焦燥實，煩躁口渴，目赤頭眩，口瘡唇裂，吐血衄血，大小便秘，胃熱發斑，及小兒驚急，痘瘡黑陷，外瘍實火內攻，神識昏蒙，舌黑噦惡等證芒硝　大黃　山梔　連翹　薄荷　黃芩　甘草　竹葉（陳氏）</p>
<p><u>涼膈清脾飲</u></p>
<p>　治癰瘍熱甚。</p>
<p>防風　荊芥　黃芩　石膏　山梔　薄荷　赤芍　連翹　生地　甘草</p>
<p>《局方》</p>
<p><u>紫雪丹</u></p>
<p>　治外內煩熱不解，發斑、發黃、瘴毒、疫毒、熱毒，及小兒驚癇，外瘍疔毒走黃、神識昏迷。</p>
<p>黃金　寒水石　石膏　滑石　磁石　升麻　玄參　甘草　犀角　羚羊角　沉香　丁香朴硝　硝石　辰砂　木香　麝香制法詳《醫方集解》。</p>
<p>《葉案》</p>
<p><u>至寶丹</u></p>
<p>犀角　朱砂　雄黃　琥珀　玳瑁　西牛黃　麝香　龍腦　金銀箔　水安息香為極細末，將安息香膏重湯煮，入諸藥搜和，丸如彈子大，外用蠟護。臨服剖開，用人參湯下。</p>
<p>（景岳）</p>
<p><u>奪命丹</u></p>
<p>　治疔瘡、發背等證，或麻木，或嘔吐，重者昏憒。此藥服之，不起者即起，不痛者即痛，痛甚者即止，昏憒者即蘇，嘔吐者即解，未成即消，已成即潰，有奪命之功，乃惡證中之至寶也。</p>
<p>蟾酥（酒化）　輕粉　麝香　枯礬　銅綠　乳香　沒藥　寒水石（　）　朱砂　蝸牛上為末，用蝸牛或酒糊搗，丸綠豆大。每服二、三丸，蔥酒下；外用一丸入瘡孔內，以膏蓋之。</p>
<p><u>蟾酥丸</u></p>
<p>　治疔瘡、發背、腦疽、乳癰、附骨臀腿等疽，一切惡證。</p>
<p>蟾酥（酒化）　輕粉　枯礬　寒水石　銅綠　乳香　沒藥　麝香　膽礬　雄黃　蝸牛　朱共為末，端午日於淨室中，先將蝸牛研爛，再用蟾酥研勻，方入各藥搗勻，丸如綠豆大。每服三丸，用蔥白嚼爛，包藥在內，將熱酒一杯送下，被蓋臥出汗。</p>
<p>《濟生》</p>
<p><u>歸脾養營湯</u></p>
<p>　治思慮太過，勞傷心脾，驚悸盜汗，發熱體倦，食少不眠；或脾虛不能　血，致血妄行；及婦人經帶，瘍後氣血不復，盜汗不眠等證。</p>
<p>人參　白朮　茯苓　棗仁　遠志　歸身　木香　黃　炙甘草　龍眼肉（陳氏）</p>
<p><u>清涼甘露飲</u></p>
<p>　治繭唇，膏粱所釀，暴怒所結，遂成斯疾，高突堅硬，或損破流血，或虛熱生痰，或渴證久作，並治。</p>
<p>犀角　銀柴胡　茵陳　石斛　枳殼　麥冬　甘草　生地　黃芩　知母　枇杷葉　竹葉</p>
<p><u>知柏四物湯</u></p>
<p>　治血虛煩熱。</p>
<p>生地　歸身　白芍　川芎　知母　黃柏</p>
<p><u>四物逍遙散</u></p>
<p>柴胡　當歸　白芍　茯苓　白朮　炙甘草　川芎　生地　生薑　薄荷（仲景）</p>
<p><u>理中湯</u></p>
<p>　臟腑中寒，四肢強直。</p>
<p>人參　白朮　泡薑　甘草</p>
<p><u>八珍湯</u></p>
<p>　治氣血俱虛，惡寒發熱，煩躁作渴，大便不實，飲食不進，小腹脹痛，眩暈昏憒；瘍科氣血俱傷，膿水清稀，久不收斂等證。</p>
<p>人參　生地　茯苓　當歸　白朮　川芎　白芍　炙甘草</p>
<p><u>十全大補湯</u></p>
<p>　治癰瘍氣血虛弱，患久不愈，或潰瘍膿清，寒熱，自汗盜汗，食少體倦，發熱作渴。</p>
<p>人參　生地　黃　肉桂　白朮　當歸　白芍　茯苓　川芎　炙甘草（東垣）</p>
<p><u>升陽散火湯</u></p>
<p>　治陽經火鬱，瘍毒壅滯。</p>
<p>葛根　升麻　柴胡　羌活　獨活　防風　人參　芍藥　炙甘草　生甘草　生薑　大棗</p>
<p>《千金》</p>
<p><u>甘露飲</u></p>
<p>　治胃經火熱，口臭，喉瘡，齒齦宣露，吐血、衄血、齒血，陽證骨槽生地　熟地　茵陳　黃芩　枳殼　枇杷葉　石斛　甘草　天冬　麥冬</p>
<p><u>知柏八味丸</u></p>
<p>　治陰虛火動。壯水之主，以制陽光。</p>
<p>即六味地黃東加知母、黃柏。</p>
<p>（丹溪）</p>
<p><u>大補陰丸</u></p>
<p>　降陰火，補腎水。</p>
<p>熟地　龜板　黃柏　知母上為末，將豬脊髓蒸熟，煉蜜同搗和為丸。</p>
<p>（景岳）</p>
<p><u>玉女煎</u></p>
<p>　治水虧火盛，少陰不足，陽明有餘，口疳碎腐。</p>
<p>石膏　熟地　麥冬　知母　牛膝（東垣）</p>
<p><u>清胃散</u></p>
<p>　治胃經火熱，唇口腫痛，齒齦潰爛　痛，上連頭面，或惡寒發熱。</p>
<p>生地　升麻　黃連　當歸　牡丹皮　石膏</p>
<p><u>歸芍地黃湯</u></p>
<p>　治瘍後營虧胃弱，飲食少思。</p>
<p>當歸　白芍　生地　人參　茯苓　於朮　炙甘草　陳皮（新方）</p>
<p><u>牛蒡解肌湯</u></p>
<p>　治頭面風熱，或頸項痰毒，風熱牙癰等證。</p>
<p>牛蒡子　薄荷　荊芥　連翹　山梔　丹皮　石斛　玄參　夏枯草（河間）</p>
<p><u>地黃飲子</u></p>
<p>　治舌喑不能言，足廢不能行，此少陰氣厥不至，急當溫之，名曰痱證。凡陰虛有二：有陰中之水虛，有陰中之火虛。此治火虛之劑。</p>
<p>熟地　山茱萸　石斛　麥冬　五味子　遠志　茯苓　石菖蒲　肉蓯蓉　肉桂　附子　巴戟肉</p>
<p>《局方》</p>
<p><u>四物湯</u></p>
<p>　治瘡瘍血虛發熱，或因潰後致晡熱內熱，煩躁不安者，皆宜服之。</p>
<p>生地　白芍　當歸　川芎（錢乙）</p>
<p><u>導赤散</u></p>
<p>　治心火及小腸熱證，便赤淋痛，口糜生瘡。</p>
<p>生地　木通　竹葉　甘草梢</p>
<p><u>歸芍異功散</u></p>
<p>　治癰瘍脾胃虛弱，飲食少，血虛作痛。</p>
<p>人參　茯苓　白朮　炙甘草　陳皮　當歸　白芍（崔氏）</p>
<p><u>桂附八味丸</u></p>
<p>　治命門火衰，不能生土，以致脾胃虛寒，而患流注、鶴膝等證，不能消潰收斂；或飲食少思，或食而不化，臍腹疼痛，夜多漩溺。</p>
<p>即六味地黃東加肉桂、附子。</p>
<p>《局方》</p>
<p><u>龍膽瀉肝湯</u></p>
<p>　治肝膽經實火濕熱，脅痛耳聾，膽溢口苦，小便赤澀，白濁便血，魚口，下疳，囊癰等證。</p>
<p>龍膽草　柴胡　黃芩　山梔　生地　車前子　澤瀉　木通　當歸　甘草（仲景）</p>
<p><u>麻杏甘膏湯</u></p>
<p>　治風溫外感，痰鳴氣逆；或小兒慢痹風，驚痰發痙。</p>
<p>麻黃　杏仁　甘草　石膏此肺金藥。麻黃發肺邪，杏仁下肺氣，甘草緩肺急，石膏清肺熱。</p>
<p>（新方）</p>
<p><u>銀花解毒湯</u></p>
<p>　治風火濕熱，癰疽疔毒。</p>
<p>金銀花　地丁　犀角　赤苓　連翹　丹皮　川連　夏枯草</p>
<p><u>清燥救肺湯</u></p>
<p>　治肺胃火盛，咽乾喉痹，咳痰吐血。</p>
<p>霜桑葉　杏仁　麥冬　石膏　人參　阿膠　胡麻仁　甘草　枇杷葉</p>
<p>《金匱》</p>
<p><u>半夏厚朴湯</u></p>
<p>　治婦人七情之氣鬱滯不散，結成痰涎；或如梅核在咽；或中脘痞滿，氣不舒暢；或痰飲中滯，嘔逆惡心，並可取效。</p>
<p>半夏　茯苓　厚朴　紫蘇　生薑</p>
<p>《局方》</p>
<p><u>蘇子降氣湯</u></p>
<p>　治心腹脹滿，喘促氣急，消痰進食。</p>
<p>蘇子　半夏　當歸　前胡　桂枝　厚朴　橘紅　甘草　生薑（仲景）</p>
<p><u>升麻葛根湯</u></p>
<p>　升散陽明，牙痛、牙咬、托腮等瘍。</p>
<p>升麻　葛根　芍藥　甘草（仲景）</p>
<p><u>葛根芩連湯</u></p>
<p>　太陽陽明解表清裡，外瘍火毒內逼，協熱便泄。</p>
<p>葛根　黃芩　黃連　甘草（仲景）</p>
<p><u>升麻鱉甲湯</u></p>
<p>升麻　當歸　蜀椒　甘草　鱉甲　雄黃上六味，以水四升，煮取一升，頓服之；老少再服取汗。</p>
<p>《金匱》</p>
<p><u>腎氣丸</u></p>
<p>　治脾腎陽虛不能行水，小便不利，腰重腳腫；或肚腹腫脹，四肢浮腫，喘急痰盛，口成蠱證，其效如神。</p>
<p>即六味丸加牛膝　車前　肉桂　附子（節庵）</p>
<p><u>連翹敗毒散</u></p>
<p>　治發頤硬腫。</p>
<p>連翹　山梔　羌活　玄參　薄荷　防風　柴胡　桔梗　升麻　川芎　當歸　黃芩　芍藥牛蒡子加紅花同煎。渴，加花粉；面腫，加白芷；項腫，加威靈仙；大便實，加大黃、穿山甲；虛，加人參。</p>
<h3>卷中</h3>
<p>（景岳）</p>
<p><u>益氣養營湯</u></p>
<p>　治抑郁勞傷，思虛太過，心神俱憊，以致四肢頸項結成瘰　，累累如貫珠，謂之筋　。或軟或硬，或赤或白，或痛或不痛，日晡發熱，及潰而不斂者並效。</p>
<p>人參　茯苓　陳皮　貝母　香附　當歸　川芎　黃　熟地　白芍　甘草　桔梗　白朮柴胡　薑　棗（陳氏）</p>
<p><u>和營散堅丸</u></p>
<p>　治失營證堅硬如石，不熱不紅，漸腫漸大者。</p>
<p>人參　當歸　白朮　茯神　香附　橘紅　熟地　南星　貝母　遠志　丹皮　柏子仁　棗仁角沉　蘆薈　龍齒　朱砂上為末，煉蜜丸。每服三錢，食後用合歡樹皮煎湯送下。</p>
<p>（景岳）</p>
<p><u>加味四物湯</u></p>
<p>　治血虛營弱，肝膽有火。</p>
<p>即四物東加山梔　柴胡　丹皮（景岳）</p>
<p><u>豆豉餅</u></p>
<p>　治瘡瘍腫毒，硬而不潰，及潰而不斂，並一切頑瘡惡瘡。</p>
<p>用江西豆豉餅為末，唾津和作餅子，如錢大，濃三倍，置患處，以艾壯於餅上灸之，干則再易；如灸發背，用嗽口水調餅，覆患處，以艾鋪餅上灸之。未成者即消，已成者亦殺其大毒；如有不效，必氣血虛故也。</p>
<p>（景岳）</p>
<p><u>琥珀膏</u></p>
<p>　治頸項瘰　，及脅下初結小核，漸如連珠，不消不潰，或潰而膿水不絕，經久不瘥，或成漏證。</p>
<p>琥珀　白芷　防風　當歸　木鱉子　木通　丁香　桂心　朱砂　木香　松香　麻油上先將琥珀等六味為末，其余藥入油煎黑，濾去渣，徐入黃丹再煎，軟硬得中，入前藥成膏貼之。</p>
<p>（景岳）</p>
<p><u>必效散</u></p>
<p>　治瘰　氣血尚無虧損，　核不愈，內服此藥，外以針頭散腐之。若氣血虧者，先服益氣湯數劑，後服此藥，服後　毒盡下，再服前湯數劑。</p>
<p>南硼砂　輕粉　麝香　巴豆　白檳榔　斑蝥上為極細末，取雞子二個，去黃，用清調藥，仍入殼內，以濕紙數重糊口，入飯甑蒸熟，取出曝乾，研末。虛者每服五分，實者一錢，用炒生薑酒，或滾湯於五更調服；如覺小腹痛，用益元散一服，其毒俱從小便出，胎婦勿餌；瘡毒去後，多服益氣養營湯，瘡口自合。</p>
<p>（景岳）</p>
<p><u>遇仙無比丸</u></p>
<p>　治瘰　未成膿，其人氣體如常，宜服此丸；形氣覺虛者，宜先服益氣養營湯，待血氣少充，方服此丸，核消後仍服前湯；如潰後有瘀血者，宜用白雪丹；更不斂，亦宜服此丸，斂後再服前湯。</p>
<p>白朮　檳榔　防風　黑丑　密陀僧　郁李仁　斑蝥　甘草為細末，米糊丸，梧子大。每服二十丸，早、晚煎甘草，檳榔湯下。服至月許，覺腹中微痛，自小便中取下　毒如魚目狀，已破者自合，未膿者自消。</p>
<p>（薛氏）</p>
<p><u>柴胡清肝湯</u></p>
<p>　治肝膽三焦風熱瘡瘍，或怒火，憎寒發熱，或瘡毒結於兩耳兩脅前後，或胸乳小腹下及股足等證。</p>
<p>柴胡　黃芩　山梔　川芎　人參　甘草　連翹　桔梗</p>
<p>《局方》</p>
<p><u>人參養營湯</u></p>
<p>　治脾肺俱虛，營血不足。</p>
<p>人參　黃　當歸　白朮　炙甘草　桂心　陳皮　熟地　五味　白芍　遠志　薑　棗（陳氏）</p>
<p><u>雄黃散</u></p>
<p>　治天蛇毒初起紅腫，發熱疼痛值心者，宜用之。</p>
<p>雄黃　蟾酥　冰片　輕粉共為細末，新汲水調塗，紙蓋，日用三次，極效。</p>
<p>（陳氏）</p>
<p><u>護心丹</u></p>
<p>　治瘡毒內攻，口乾煩躁，惡心嘔吐者，宜用此藥。</p>
<p>綠豆粉　乳香　朱砂　甘草上共研極細。每服二錢，白滾湯調服，早、晚二次。</p>
<p>（景岳）</p>
<p><u>烏金膏</u></p>
<p>　治發背中央肉死，塗之即腐，未死塗之即生。若初起腫痛，用點數處，則解毒頓消；若瘀血腐黑，塗之即潰。</p>
<p>用巴豆去殼，炒黑，研如膏，點腫處，或塗瘀肉上，則自消化。或加乳香少許亦可。如塗瘡內，或加香油少許，調稀可用。</p>
<p>（景岳）</p>
<p><u>內疏黃連湯</u></p>
<p>　治瘡瘍發熱而嘔，大便秘結，脈洪而實。</p>
<p>黃連　芍藥　當歸　檳榔　木香　黃芩　梔子　薄荷　桔梗　甘草　連翹　大黃　薑水煎，仍量虛實治之。</p>
<p>《三因》</p>
<p><u>葶藶大棗瀉肺湯</u></p>
<p>　治上氣喘急，身與面目俱浮，鼻塞聲重，不聞香臭，胸膈脹滿，將成肺癰。</p>
<p>甜葶藶　大棗須先服小青龍湯二服，方用此。</p>
<p>（景岳）</p>
<p><u>內補黃　湯</u></p>
<p>　治癰毒內虛，毒不起化，及潰後諸虛迭見。</p>
<p>黃　麥冬　人參　熟地　茯苓　甘草　芍藥　當歸　川芎　遠志　官桂　薑　棗（陳氏）神授衛生湯　解毒，消毒，清熱，活血，止痛。</p>
<p>白芷　天花粉　連翹　牛蒡子　荊芥　甘草節　防風　金銀花　歸尾　川貝母　乳香若大便秘結，熱甚者，加酒炒大黃。</p>
<p>（丹溪）</p>
<p><u>參　內托散</u></p>
<p>　治瘡癰膿毒不化，膿潰作痛，及痘瘡裡虛發癢，或不潰膿，為倒靨人參　黃　當歸　川芎　厚朴　防風　桔梗　白芷　紫草　官桂　木香　甘草　白芍（新方）</p>
<p><u>橘葉湯</u></p>
<p>　治乳癰　紅漫腫，或初起，或漸成膿者。</p>
<p>橘葉　蒲公英　象貝母　夏枯草　青皮　當歸　赤芍　花粉　香附　黃芩（張涵穀）</p>
<p><u>元壽丹</u></p>
<p>　乳癰初起，服之即消，已潰可保余瓣無恙。</p>
<p>龜殼（止用龜蓋，火　存性）</p>
<p>研細末。熱酒調服三錢，盡量飲醉即愈。</p>
<p>《大全》</p>
<p><u>赤豆薏苡仁湯</u></p>
<p>　治腸癰、少腹癰。</p>
<p>赤小豆　苡仁　防己　甘草</p>
<p>《大全》</p>
<p><u>大射干湯</u></p>
<p>　治胃癰始成。</p>
<p>射干　升麻　白朮　赤芍藥　赤伏苓　山梔仁煎熟，入蜜、生地汁和服。</p>
<p>《千金》</p>
<p><u>牡丹皮散</u></p>
<p>　治腸癰，腹濡而痛，時時下膿。</p>
<p>牡丹皮　栝蔞仁　桃仁　薏苡仁按《金匱要略》云：牡丹皮散用冬瓜子仁，非栝蔞仁；蓋冬瓜子仁有解毒護膜、濃腸生肌之功。</p>
<p>《大全》</p>
<p><u>三仁湯</u></p>
<p>　治胃癰，小便赤澀，腹滿不食。</p>
<p>薏苡仁　桃仁　牡丹皮　冬瓜子仁</p>
<p>《說約》</p>
<p><u>四妙湯</u></p>
<p>　此瘍科首用捷法，功效立奏，增減活法，醫者臨證酌用。</p>
<p>生黃　當歸　金銀花　甘草節此方可移深居淺，轉重作輕。如已成，氣血素虧，不能穿潰者，加白芷、角針、山甲，一伏時自潰；如初起　痛口渴，加天花粉。此治癰疽、發背、腸癰之神方也。</p>
<p>（新方）</p>
<p><u>化毒除濕湯</u></p>
<p>　治濕熱下注。</p>
<p>歸尾　澤蘭　苡仁　牡丹皮　赤芍　金銀花　枳殼　川通草（景岳）</p>
<p><u>蠟礬丸</u></p>
<p>　治金石發疽，一切癰疽，托裡，止疼痛，護臟腑，神妙。不問老少，皆可服之。</p>
<p>黃蠟（一兩，黃色者佳，溶開，入礬末）　白礬（一兩，明亮淨者為末）</p>
<p>上二味和勻，眾手急丸，桐子大。每服二、三十丸，漸加至四、五十丸，熟水或鹽湯送下，日進二、三服，至三、四兩之上，愈見奇功矣。</p>
<p>此方不惟止痛生肌而已，其護膜止瀉、消毒化膿，及內癰排膿托裡之功甚大。</p>
<p>（仲景）</p>
<p><u>五苓散</u></p>
<p>　治瘡毒，下部濕熱，小便短少。</p>
<p>豬苓　茯苓　白朮　澤瀉　官桂（陳氏）</p>
<p><u>活血散瘀湯</u></p>
<p>　治產後惡露不盡，或經後瘀血作痛，或暴急奔走，或杖後瘀血流注，腸胃作痛，漸成內癰，及腹痛大便燥者，並宜服之。</p>
<p>川芎　歸尾　赤芍　蘇木　丹皮　枳殼　桃仁　栝蔞仁　檳榔　大黃水煎，空心服。</p>
<p>（陳氏）</p>
<p><u>薏苡仁湯</u></p>
<p>　治腸癰腹中疼痛，或脹滿不食，小便澀滯，婦人產後多有此病，縱非癰，服之尤效。</p>
<p>薏苡仁　栝蔞仁　牡丹皮　白芍</p>
<p>《金匱》</p>
<p><u>附子苡仁敗醬散</u></p>
<p>　治腸癰。</p>
<p>薏苡仁　敗醬　附子上三味，杵為末。取方寸匕，以水二升，煎減半，頓服，小便當下。</p>
<p>《局方》</p>
<p><u>四君子湯</u></p>
<p>　治一切陽虛氣弱，脾衰肺損，飲食少思，體瘦面黃，皮焦毛落，脈來細軟。</p>
<p>人參　白朮　茯苓　甘草　薑　棗（陳氏）</p>
<p><u>滋陰除濕湯</u></p>
<p>　治鸛口疽，初起朝寒暮熱，日輕夜重如瘧等證。</p>
<p>川芎　當歸　白芍　熟地　柴胡　黃芩　陳皮　知母　澤瀉　地骨皮　貝母　甘草　薑（陳氏）</p>
<p><u>和氣養營湯</u></p>
<p>　治前證已成，不得內消者，宜此藥托之。</p>
<p>人參　陳皮　白朮　黃　茯苓　丹皮　當歸　熟地　沉香　甘草（陳氏）</p>
<p><u>滋腎保元湯</u></p>
<p>　治前證元氣虛弱，膿水淋漓，久而不斂。</p>
<p>人參　黃　白朮　茯苓　歸身　杜仲　山萸　丹皮　熟地　附子　肉桂　甘草　薑棗（陳氏）</p>
<p><u>琥珀蠟礬丸</u></p>
<p>　治癰疽發背，已成未成之際，恐毒瓦斯不能外出，必致內攻，預服此丸，護膜護心，亦且散血解毒。</p>
<p>白礬（一兩二錢）　黃蠟（一兩）　雄黃（一錢二分）　琥珀（一錢）　朱砂（一錢二分）　蜂蜜（二錢）</p>
<p>上四味，先研極細，另將蜜蠟銅勺內溶化，離火片時，候蠟四邊稍凝，方入上藥攪勻，共成一塊，以一人將藥火上微烘，眾手急丸，小寒豆大，用朱砂為衣，磁罐收貯。每服二、三十丸，白湯食後送下，病甚者，早、晚日進二次，其功最效。</p>
<p>（陳氏）</p>
<p><u>先天大造丸</u></p>
<p>　治風寒濕毒襲於經絡，初起皮色不變，漫腫無頭；或陰虛外寒侵入，初起筋骨疼痛，日久遂成腫痛，潰後膿水清稀，久而不愈，漸成漏證者，並可服。</p>
<p>紫河車　熟地　歸身　茯苓　人參　枸杞　菟絲子　肉蓯蓉　黃精　白朮　何首烏川牛膝　仙茅　骨碎補　巴戟肉　破故紙　遠志　木香　青鹽　丁香　黑棗肉上為末，煉蜜丸。每服三錢，空心溫酒送下。此方非獨治流注成漏者，又補一切氣血虛羸，勞傷內損，及男婦久無嗣息，並有奇功。</p>
<p><u>不換金正氣散</u></p>
<p>　治瘡瘍脾氣虛弱，寒邪相搏，痰停胸膈，致發寒熱。服此以正脾氣，則痰氣自消，寒熱不作。</p>
<p>蒼朮　厚朴　陳皮　甘草　半夏　藿香</p>
<p><u>六君子湯</u></p>
<p>　治脾胃虛弱，或寒涼克伐，腫痛不消，或不潰斂，宜服此湯，以壯營氣，則諸證自愈。</p>
<p>人參　茯苓　白朮　甘草　半夏　陳皮（仲景）</p>
<p><u>參苓白朮散</u></p>
<p>　治脾胃虛弱，飲食不消，或吐或瀉。</p>
<p>人參　茯苓　白朮　陳皮　山藥　扁豆　甘草　建蓮　砂仁　苡仁　桔梗（仲景）</p>
<p><u>赤石脂余糧湯</u></p>
<p>　止利。</p>
<p>赤石脂　禹餘糧等分杵碎煎。石脂、余糧澀以止脫，重以固下，甘以益氣。黑地黃丸　治脾腎不足，房室虛損，形瘦無力，面色青黃；亦治血虛久痔。</p>
<p>熟地　蒼朮　五味子　乾薑用棗肉丸。米飲或酒下。</p>
<p>（陳氏）</p>
<p><u>內消沃雪湯</u></p>
<p>　治發背，並五臟內癰，尻臀諸腫，大小腸癰，肛門臟毒，初起俱未出膿，疼痛不可忍者青皮　陳皮　乳香　沒藥　連翹　黃　當歸　甘草節　白芷　射干　天花粉　穿山甲貝母　白芍　金銀花　皂角刺　木香　大黃水酒各半煎。</p>
<p><u>桂枝和營湯</u></p>
<p>　治寒凝濕滯，氣血虛者。</p>
<p>桂枝　當歸　秦艽　茯苓　川斷　廣皮　牛膝</p>
<p><u>當歸清營湯</u></p>
<p>　治肝膽二經風熱血燥，筋攣結核，乳癰乳痞，並一切耳項肝火之證。</p>
<p>當歸　生地　山梔　赤苓　白芍　柴胡　川芎　甘草　貝母　丹皮　花粉　連翹（景岳）</p>
<p><u>萆　湯</u></p>
<p>　治楊梅瘡及瘰　，咽喉惡瘡，癰漏潰爛，筋骨拘攣疼痛，皆妙。</p>
<p>用土萆　，即土茯苓二、三兩，以水三盅，煎二盅，不拘時，徐徐服之。</p>
<p>《全生集》</p>
<p><u>陽和湯</u></p>
<p>　治陰寒腿癰、鶴膝風、流注等證。</p>
<p>肉桂　鹿角膠　白芥子　熟地　麻黃　炮薑（東垣）</p>
<p><u>潰堅湯</u></p>
<p>知母　黃柏　黃連　花粉　黃芩　升麻　柴胡　龍膽草　連翹　葛根　甘草　桔梗　歸尾白芍　三棱　莪朮　昆布</p>
<p><u>虎潛丸</u></p>
<p>　治精血不足，筋骨痿弱，足不任地，及骨蒸勞熱。</p>
<p>虎脛骨　熟地　龜板　瑣陽　當歸　牛膝　白芍　黃柏　知母　陳皮羯羊肉酒煮爛搗丸。鹽湯下。</p>
<p>《千金》</p>
<p><u>獨活寄生湯</u></p>
<p>　治肝腎虛熱，風濕內攻，腰膝作痛，冷痹無力，屈伸不便。</p>
<p>獨活　桑寄生　秦艽　防風　細辛　川芎　人參　當歸　熟地　白芍　桂心　茯苓　杜仲牛膝　甘草（新方）</p>
<p><u>萆　化毒湯</u></p>
<p>　治濕熱氣血實者。</p>
<p>萆　歸尾　丹皮　牛膝　防己　木瓜　苡仁　秦艽</p>
<h3>卷下</h3>
<p><u>化斑解毒湯</u></p>
<p>　治三焦風熱上攻，致生火丹，延及遍身癢痛者。</p>
<p>玄參　人中黃　知母　生甘草　石膏　牛蒡子　升麻　川連　連翹　淡竹葉（河間）</p>
<p><u>防風通聖散</u></p>
<p>　治外證陽毒，腸風痔漏。</p>
<p>大黃　芒硝　荊芥　防風　山梔　白芍　連翹　甘草　桔梗　川芎　當歸　石膏　滑石薄荷　黃芩　白朮　麻黃　牛蒡子　薑　蔥（錢氏）</p>
<p><u>升麻葛根湯</u></p>
<p>　治丹毒，身體發熱，面紅氣急，啼叫驚搐等證。</p>
<p>升麻　葛根　白芍　柴胡　黃芩　黑山梔　木通　甘草</p>
<p><u>麻黃一劑飲</u></p>
<p>　治遍體霉瘡初起，節骱酸楚。服此一劑，以透發其毒。</p>
<p>麻黃（一錢）　防風（一錢）　銀花（三錢）　白蘚皮（三錢）　當歸（一只，切）</p>
<p>胡麻（三錢）　甘草（一錢）　羌活（一錢）　秦艽（一錢）</p>
<p>用肥羊肉一斤，河水三大碗，煎至一大碗，取汁，吹去面上浮油，將前藥煎至一飯碗，溫服，以羊肉淡食過口，仰面睡於帳前。不可見風，取汗為度。</p>
<p>（景岳）</p>
<p><u>仙遺糧湯</u></p>
<p>　治一切楊梅瘡，不拘始終虛實，皆可取效。</p>
<p>當歸　生地　防風　金銀花　木通　苡仁　連翹　白蘚皮　黃連　白朮　甘草　皂角刺土茯苓，即名仙遺糧，用鮮者四兩，洗淨，以木石臼捶碎，用水三碗，煎二碗，入前藥，加燈心二十根煎服。</p>
<p>（陳氏）</p>
<p><u>金蟬脫甲酒</u></p>
<p>　治楊梅瘡，不拘新久輕重，皆效。</p>
<p>大蛤蟆一只，好酒五斤，將蛤蟆浸入，封瓶口，煮香二炷，取起，待次日隨量飲之，以醉為度，蓋覆出汗。存酒，次日只飲量之一半，酒盡瘡愈。服酒後，不許見風，忌房事，慎口。</p>
<p><u>芎歸二術湯</u></p>
<p>　治結毒。</p>
<p>川芎　當歸　防風　獨活　人參　茯苓　銀花　厚朴　苡仁　木瓜　白朮　皂角刺　甘草山甲　土茯苓　精羊肉（景岳）</p>
<p><u>五寶丹</u></p>
<p>　治九種楊梅結毒，並及兒女者。</p>
<p>真珠（新白者佳，三分五厘）　琥珀（透明血色者，甘草水煮，三分五厘）　朱砂（透明者，三分五厘）　滴乳石（木香、甘草水煮干，研，四錢）　片腦（半分）</p>
<p>各研細末，稱準，共合一處，每用藥末二分半，入飛羅面二分半，再研和勻。每日用鮮土茯苓一斤，洗淨，用石臼木棰搗碎，用水十二飯碗，煎至六碗，濾去渣，再煎至四碗，然後將藥五分，細摻於土茯苓湯內，隨手攪勻，一日吃完，重者四十服，輕者一、二十服，即愈。若舊有輕粉等毒，服藥後當盡發出，不使少留。</p>
<p>若病在上者，加木香二錢；病在下，加牛膝一兩，與土茯苓同煎。服湯之法，病在上飽服，在下飢服。忌茶酒，並一切發風動氣之物。其毒貼清涼膏，或加摻藥收口。</p>
<p><u>十味淡齋方</u></p>
<p>　治下疳廣瘡，誤服輕粉升藥，致爛喉塌鼻，遍體節骱酸楚，或腐爛不堪，他藥不效者。</p>
<p>川貝母（去心，生研，一兩）　白芷（焙，一兩）　防風（焙，一兩）　海螵蛸（浸淡，漂淨，去甲，一兩）　當歸（炒，一兩）　川芎（炒，一兩）　金銀花（晒，一兩）　花粉（晒，一兩）　半夏（薑汁製炒，一兩）　南星（薑汁製炒，一兩五錢）</p>
<p>各藥要囫圇，忌金、銀、銅、鐵、錫器，在瓦盆內炒，用木棰於石臼內打成末，篩淨，稱準分量，分作二十一服。每服五錢，每日用鮮土茯苓一斤，不見鐵器，於石臼內搗碎，放於瓦接罐中，用河水十二飯碗，煎六碗，去渣，下藥末五錢，再煎至三飯碗，朝午晚各服一碗，服此六十三日收功。然服此藥，須要忌一切鹽味；煎藥忌一切金、銀、銅、鐵、錫器。如犯上二項，即無效矣。</p>
<p>（陳氏）</p>
<p><u>清肝導滯湯</u></p>
<p>　治肝經濕熱，玉莖腫痛，小水澀滯作痛者服之。</p>
<p>扁蓄　瞿麥　滑石　甘草　大黃　引燈芯（景岳）</p>
<p><u>土萆　湯</u></p>
<p>　治楊梅瘡，及咽喉惡瘡，癰漏潰爛，筋骨拘攣疼痛，皆妙。</p>
<p>用土萆　，即土茯苓二、三兩，以水三盅，煎二蠱，不拘時，徐徐服之。</p>
<p>若患久，或服攻擊之劑，致傷脾胃氣血等證，以此一味為主，外加對證之藥，無不神效（景岳）</p>
<p><u>蘆薈丸</u></p>
<p>　治疳癖消瘦，發熱潮熱，飲食少思，口乾作渴，或肝火食積，口臭生瘡，牙齦蝕爛等證。</p>
<p>蘆薈　胡黃連　木香　青皮　白蕪荑　當歸　茯苓　陳皮　甘草米糊丸。</p>
<p>（丹溪）</p>
<p><u>二妙散</u></p>
<p>　治濕熱在經，筋骨疼痛，瘡瘍遍體。</p>
<p>蒼朮　黃柏</p>
<p><u>四妙丸</u></p>
<p>　治前證而兼血虛者。</p>
<p>蒼朮　黃柏　當歸　細生地若濕熱甚者，細生地、當歸或易萆　、苡仁亦可。</p>
<p>（景岳）</p>
<p><u>解毒雄黃散</u></p>
<p>　治一切癰腫潰瘍，毒勢甚者，用此藥洗二、三次。</p>
<p>雄黃（一兩）　白礬（四兩）　寒水石（　，一兩五錢）</p>
<p>上為末。用滾湯二、三碗，乘熱入藥末一兩，洗患處，以太乙膏或神異膏貼之。</p>
<p>（陳氏）</p>
<p><u>石珍散</u></p>
<p>　治天泡作爛疼痛，膿水淋漓。</p>
<p>石膏（　）　輕粉（各一兩）　青黛　黃柏末（各三錢）</p>
<p>上為末。先將甘草湯洗瘡，後以此藥摻之，其痛即止。</p>
<p>（景岳）</p>
<p><u>藜蘆膏</u></p>
<p>　治一切瘡疽，　肉突出。</p>
<p>用藜蘆一味為末，以生豬脂研為膏，塗患處，周日易之。</p>
<p>又方：苦參　藜蘆各一兩用豬油八兩，熬枯去渣，入松香一兩，化開離火，加枯礬、雄黃各一兩，攪勻，治膿窠瘡，以此塗之。</p>
<p>《大全》</p>
<p><u>普濟丹</u></p>
<p>　治疥癩等瘡。</p>
<p>硫黃　花椒（炒）　潮腦（各一錢）　生明礬（一錢五分）　枯白礬（一錢五分）　豬板油（二兩）</p>
<p>搗丸，夏布包，以火烘之，候溫擦之。</p>
<p>（陳氏）</p>
<p><u>蛇床子散</u></p>
<p>　治膿窠瘡，生於手足遍身，根硬作脹，癢痛非常。</p>
<p>蛇床子　大楓肉　松香　枯礬（各一兩）　黃丹　大黃（各五錢）　輕粉（三錢）</p>
<p>上為末。麻油調搽；濕爛者干摻之。</p>
<p>（陳氏）</p>
<p><u>一掃光</u></p>
<p>　治血熱濕熱癢瘡。</p>
<p>苦參　黃柏（各一斤）　煙膠（一升）　木鱉肉　蛇床子　點紅椒　明礬　枯礬　硫黃　楓子肉樟冰　水銀　輕粉（各三兩）　白砒（五錢）</p>
<p>上為末，用熟豬油二斤四兩，化開，入藥，攪勻作丸，龍眼大，磁瓶收貯。用時搽擦瘡上，二次即愈。</p>
<p>《大全》</p>
<p><u>芥靈丹</u></p>
<p>　治疥瘡。</p>
<p>枳殼（麩炒）　山梔　連翹　荊芥　當歸　羌活（各七錢）　白芷　白蘚皮（炒）　苦參（糯米泔浸一日，各一兩）</p>
<p>上為末，煉蜜為丸，桐子大。每服五十丸，白湯送下，立可除根。</p>
<p><u>消風散</u></p>
<p>　治疥癬等疾。</p>
<p>羌活　防風　荊芥　川芎　厚朴　人參　茯苓　陳皮　甘草　僵蠶　蟬蛻　藿香每服三錢，茶調下。</p>
<p>（陳氏）</p>
<p><u>繡球丸</u></p>
<p>　治一切干濕疥瘡，及膿窠爛瘡，瘙癢無度者。</p>
<p>樟冰　輕粉　川椒　枯礬　水銀　雄黃（各二錢）　楓子肉（一百粒，另研）</p>
<p>以上共為末，同大楓子肉再研，和勻，加地瀝青一兩，化開和藥攪勻，丸作圓眼大。擦瘡上。</p>
<p>《大全》</p>
<p><u>制柏散</u></p>
<p>　治濕毒瘡。</p>
<p>濃黃柏數斤，入糞坑內，浸一百日取出，入黃土內埋三日，取出晒乾研細，蜜水調搽；如瘡有水，則干摻之。</p>
<p>（景岳）</p>
<p><u>四生散</u></p>
<p>　治　腿瘡浸淫不愈，或眼目昏花，名腎臟風，並治風癬、疥癩、血風瘡證。</p>
<p>黃柏　獨活　白附子（真者）　白蒺藜（等分）</p>
<p>為末。每服二錢，用豬腰子一枚，切開入藥，濕紙包煨熟，空心鹽湯下。</p>
<p>《大全》</p>
<p><u>黃蠟膏</u></p>
<p>　治　瘡。</p>
<p>龍骨（　）　赤石脂　血竭（各三錢）</p>
<p>研末，用香油一兩，入血余一小團，炸枯去渣，再入黃蠟一兩，白膠香三錢，熔化離火，再入前藥末，攪勻候冷，磁瓶貯之。用時捏作薄片，貼瘡上，間三日，翻轉再貼。</p>
<p><u>復元活血湯</u></p>
<p>　治跌打損傷有瘀血者。</p>
<p>柴胡　花粉　當歸　山甲　桃仁　紅花　大黃　甘草酒煎。</p>
<p>（景岳）</p>
<p><u>沒藥降聖丹</u></p>
<p>　治跌打損傷，接續筋骨。</p>
<p>當歸（酒炒）　白芍　川芎　川烏頭（泡，去皮臍）　生地　蘇木　乳香（另研）　沒藥（另研）　骨碎補（炙）　自然銅（火　醋淬十次，各一兩）</p>
<p>上為末，生薑汁和蜜丸，每兩作四丸。每服一丸，用米酒半盞送下。</p>
<p>《本事方》</p>
<p><u>玉真散</u></p>
<p>　一名定風散。治打撲金刃破傷風，重者牙關緊急，腰背反張，並治蛇犬所傷。</p>
<p>天南星（湯泡七次，如急用，以濕紙裹煨）　防風（等分）</p>
<p>上為末。每服二錢，溫酒調下；若牙關緊急，腰背反張者，每服三錢，童便調下。若內有瘀血，亦愈。至於昏死，心腹尚溫者，連進二服，亦可保全。若破傷瘡口，及瘋犬咬傷，須用漱口水及童便洗淨，隨用生南星為末摻之，或以水調塗之，出水為妙。</p>
<h3>補遺</h3>
<p><u>白虎湯</u></p>
<p>　治肺胃實熱。</p>
<p>煨熟石膏　知母　甘草　粳米加人參，名人參白虎湯。</p>
<p><u>歸脾湯</u></p>
<p>　治瘡瘍憂思傷脾，血虛發熱，食少體倦，或唇瘡流注，及不能消散潰斂等證。</p>
<p>人參　白朮　黃　當歸　炙甘草　茯神　遠志　棗仁　木香　龍眼肉　生薑　大棗（新方）</p>
<p><u>清營解毒湯</u></p>
<p>　治血熱腫痛，瘍疽之未成膿者，宜服此。</p>
<p>鮮生地　銀花　丹皮　赤芍　山梔　地丁　甘草節　連翹（新方）</p>
<p><u>瀉火救肺湯</u></p>
<p>　治肺癰、肺痿初起，火盛咳逆。</p>
<p>桑白皮　杏仁　黃芩　生石膏　知母　枇杷葉　蘆根</p>
<p>《拔萃》</p>
<p><u>甘桔湯</u></p>
<p>　治熱腫喉痹。</p>
<p>甘草　桔梗　薄荷　連翹　黃芩　山梔　竹葉（景岳）</p>
<p><u>清肝解鬱湯</u></p>
<p>　治肝經血虛風熱，或乳內結核，或膿潰不愈。凡肝膽經血氣不和之病，皆宜服此。</p>
<p>人參　川芎　當歸　貝母　白芍　青皮　柴胡　茯苓　熟地　山梔　白朮　甘草　丹皮（景岳）</p>
<p><u>大黃湯</u></p>
<p>　一名牡丹皮散。專治腸癰，小腹堅腫而熱，按之則痛，肉色如故，或赤微腫，小便頻數，汗出憎寒，其脈沉緊，膿未成者，急服之。</p>
<p>牡丹皮　栝蔞仁（各三錢）　桃仁（去皮尖）　大黃（煨）　芒硝（各二錢）</p>
<p>本方無栝蔞，即名大黃牡丹皮湯。</p>
<p><u>旋覆蔥絳湯</u></p>
<p>　治血液虧損，肝氣脹痛，或少腹症瘕。</p>
<p>旋覆　青蔥　新絳（河間）</p>
<p><u>金鈴子散</u></p>
<p>　治肝氣鬱逆諸證。</p>
<p>金鈴子　延胡（仲景）</p>
<p><u>鱉甲煎丸</u></p>
<p>　治瘧母，一切症結。</p>
<p>鱉甲　烏扇　黃芩　柴胡　鼠婦　乾薑　大黃　芍藥　桂枝　葶藶　石葦　厚朴　丹皮瞿麥　紫葳　半夏　人參　蟲　阿膠　蜂窠　赤硝　蜣螂　桃仁　灶下灰　清酒</p>
<p>《千金方》有海藻、大戟，無鼠婦、赤硝。</p>
<p>（新方）</p>
<p><u>疏肝導滯湯</u></p>
<p>　治肝經鬱滯，欲成乳癖、乳癰、乳岩等證。</p>
<p>川楝子　延胡　青皮　白芍　當歸　香附　丹皮　山梔</p>
<p><u>羌活勝濕湯</u></p>
<p>　治外傷濕氣，一身盡痛。</p>
<p>羌活　獨活　本　蔓荊子　川芎　炙甘草　防風如身重腰痛，沉沉然，經有寒也，加漢防己五分，附子五分。</p>
<p>（新方）</p>
<p><u>萆　滲濕湯</u></p>
<p>　治濕熱下注，　瘡漏蹄等證。</p>
<p>萆　苡仁　黃柏　赤苓　丹皮　澤瀉　滑石　通草</p>
<p>《大全》</p>
<p><u>苦參湯</u></p>
<p>　一切疥癩瘋癬，洗之並佳。</p>
<p>苦參（二兩）　蛇床子　白芷　金銀花　野菊花　黃柏　地膚子　大菖蒲用河水煎湯，臨洗，入豬膽汁四、五枚，洗二、三次全愈。宜避風，忌發物。</p>
<p>《寶鑒》</p>
<p><u>通天再造散</u></p>
<p>　治大瘋實熱內壅，以此攻之。</p>
<p>皂角刺　大黃（炒，各一兩）　鬱金（五錢）　白丑（頭末，六錢五分，半生半熟）</p>
<p>上為末。每服五錢，日未出時，向東，以無灰酒調服。當日必利下惡物，或臭膿，或蟲，如蟲口黑色，乃是年深者；赤色，是近日者。數日再進一服，無蟲積乃止。忌口，避風並房事。</p>
<p>《寶鑒》</p>
<p><u>醉仙散</u></p>
<p>　治癘風，遍身麻木。</p>
<p>鼠黏子　胡麻子　蔓荊子（炒黑）　枸杞（各一兩）　苦參　白蒺藜　栝蔞根　防風（各五錢）</p>
<p>上為末，每一兩入輕粉一錢，拌勻。每服一錢，茶清調，晨、午、晚各一服，服後五、七日，先於牙縫內出臭涎，渾身痛，昏悶如醉，後利下惡物臭積為效。</p>
<p>（陳氏）</p>
<p><u>苦參丸</u></p>
<p>　治大麻瘋，不分新久、穿潰爛，老幼俱可服之。</p>
<p>苦參（一斤）　楓子肉（六兩）　荊芥（一斤）　防風（六兩）　白芷（六兩）　全蠍　何首烏　白附子　枸杞子　威靈仙　當歸　大胡麻　川芎　蒺藜　大皂角　川牛膝　牛蒡子　獨活（各五兩）　蔓荊子風藤　羌活　連翹　蒼朮　天麻　杜仲　草烏（泡，去皮尖）　甘草（各三兩）　杏仁（二兩）</p>
<p>人參（一兩）　白花蛇（切片，炙黃，二兩）</p>
<p>上為細末，醋打老米糊為丸，梧子大。每服三、四十丸，溫酒食前後下。避風忌口。</p>
<p>（陳氏）</p>
<p><u>　砂散</u></p>
<p>　治鼻痔。</p>
<p>砂（一錢）　輕粉（三分）　冰片（五厘）　雄黃（三分）</p>
<p>共為末。用草梗咬毛蘸藥，勤點鼻痔上，日五、六次，自然漸化為水而愈。</p>
<p>（陳氏）</p>
<p><u>翠云錠</u></p>
<p>　治眼泡菌毒。</p>
<p>杭粉（五兩）　銅綠（一兩）　輕粉（一錢）</p>
<p>用黃連一兩，同川米百粒，熬膏和藥作錠，陰乾。又治爛弦風眼，或暴赤腫痛者。</p>
<p>《大全》</p>
<p><u>清涼丸</u></p>
<p>　治眼泡菌毒。</p>
<p>當歸尾　石菖蒲　赤芍（各二錢）　羌活（五分）　地膚子　生杏仁　川連（各一錢）</p>
<p>膽礬（二分）</p>
<p>共研粗，以大紅綢包扎，如櫻桃大。滾水浸泡，乘熱蘸洗。</p>
<p>（清溪）</p>
<p><u>北庭丹</u></p>
<p>　點舌菌。</p>
<p>人中白　番　（各五分）　溏雞糞　瓦上青苔　瓦松（各一錢）</p>
<p>上用傾銀罐子二個，將藥裝在罐內，將口封固，外用鹽泥固濟，以炭火　紅，俟三炷香為度，候冷開罐，將藥取出，入冰片、麝香各一分，共研細末。用磁針破舌菌，用丹少許點上，再以蒲黃蓋之。</p>
<p><u>蛤粉散</u></p>
<p>　濕熱痛瘡，以此摻之。</p>
<p>蛤粉　輕粉　白芨　冰片</p>
<p>《大全》</p>
<p><u>鵝黃散</u></p>
<p>　治坐板瘡。</p>
<p>綠豆粉（一兩）　黃柏（三錢）　輕粉（三錢）　滑石（五錢）</p>
<p>（陳氏）</p>
<p><u>太乙膏</u></p>
<p>　一切癰疽瘡瘍，提膿生新，神效。</p>
<p>生地　土木鱉　元參　赤芍　大黃　白芷　當歸（各五錢）　肉桂（二錢五分）　乳香沒藥（各二錢）　阿魏（一錢）　輕粉（一錢五分）　血余（一團）</p>
<p>用麻油一斤，入藥熬枯，濾去渣，下血余再熬枯，去渣，將炒過淨東丹六兩，攪勻，看老嫩適中，方下阿魏、乳沒、輕粉，攪勻攤貼。</p>
<p><u>黃連膏</u></p>
<p>　治足三陰濕熱，腿腳紅腫，皮破脂流，類乎血瘋，浸淫不止，痛癢非常者。</p>
<p>先用桐油一斤，入鍋熬，起白星為度，加黃蠟一兩五錢，溶化，入研細炒黑大黃末一斤，攪勻，再入冰片二分，攤貼。</p>
<p>（景岳）</p>
<p><u>金黃散</u></p>
<p>　敷天泡濕熱等瘡。</p>
<p>滑石（一兩）　粉甘草（五錢）</p>
<p>此方或加綠豆粉、枯礬，治濕熱肥瘡更妙。</p>
<p>（景岳）</p>
<p><u>托裡散</u></p>
<p>　治一切瘡毒，始終常服，不致內陷。</p>
<p>栝蔞（杵）　當歸（酒拌）　黃　（鹽水炒）　白芍　甘草　熟地　花粉　銀花　角刺上用無灰酒煎服。</p>
<p><u>麥味地黃丸</u></p>
<p>　治腎陰不足，火爍肺金，喘咳勞熱，或有鼻衄、鼻淵等證。</p>
<p>麥冬　生地　茯苓　五味子　鬱金　白芍　烏藥　丹皮　澤瀉　萸肉　山藥　歸身上為末，煉蜜丸。每服五錢。</p>
<p>《大全》</p>
<p><u>紅棉散</u></p>
<p>　治耳內生瘡流膿，乃肝經鬱火所結。</p>
<p>枯白礬（二錢）　胭脂棉（一錢，　存性）</p>
<p>研勻，先用棉杖子攪去膿水，後蘸藥摻入耳底，膿自干。又有加麝香少許者。</p>
<p>《元戎》</p>
<p><u>逍遙散</u></p>
<p>　治肝鬱不舒，致成乳癖、乳岩、失營、瘰　等證。</p>
<p>當歸　白芍　白朮　茯神　柴胡　甘草　薄荷上薑水煎服。</p>
<p>《千金》</p>
<p><u>葦莖湯</u></p>
<p>　治肺癰。</p>
<p>葦莖　苡仁　桃仁　瓜瓣（陳氏）</p>
<p><u>牛蒡子散</u></p>
<p>　治乳癰、乳疽，結腫疼痛，無論新久，但未成膿者服之。</p>
<p>牛蒡子　陳皮　山梔　銀花　甘草　黃芩　花粉　連翹　栝蔞仁　角刺　柴胡　青皮水煎，加酒一杯服。</p>
<p>（景岳）</p>
<p><u>石膏散</u></p>
<p>　治陽明風熱頭痛，或孕婦乳房結核。</p>
<p>石膏　川芎　白芷（等分）</p>
<p>上為末。每服四錢，茶調下。</p>
<p>（陳氏）</p>
<p><u>托裡消毒湯</u></p>
<p>　治癰疽已成，不得內消者，宜服此以托之。</p>
<p>人參　川芎　白芍　黃　當歸　白朮　茯苓　白芷　金銀花　皂角刺　甘草　桔梗</p>
<p><u>延壽丹</u></p>
<p>　治小兒臍風。</p>
<p>貝母　白芷　苡仁　車前子　川連　赤芍　木通　山梔</p>
<p>《金匱》</p>
<p><u>牡丹皮湯</u></p>
<p>　治腸癰脈遲而緊，未成膿，當服此以下其血。</p>
<p>大黃　芒硝　丹皮　桃仁　瓜子仁（岐天師）</p>
<p><u>七味神聖湯</u></p>
<p>　治騎馬癰。</p>
<p>金銀花　蒲公英　人參　當歸　甘草　大黃　花粉</p>
<p><u>黃　柴胡湯</u></p>
<p>　治陰包毒。</p>
<p>黃　柴胡　丹皮　牛膝　丹參　黃芩　荊芥　防風　山梔</p>
<p><u>雞子大黃丸</u></p>
<p>　治毒濁下疳。</p>
<p>錦紋大黃（一兩，切片，晒乾，研）</p>
<p>用雞子雄七枚，搗丸。分三服，每日空心燒酒下。</p>
<p>（陳氏）</p>
<p><u>涼血消風散</u></p>
<p>　治風濕浸淫血脈，致生瘡疥，搔癢無度，及大人小兒風熱，癮疹遍身雪片，斑點乍有乍無，並效。</p>
<p>當歸　生地　防風　蟬蛻　知母　苦參　胡麻　荊芥　蒼朮　石膏　甘草　木通　牛蒡子。</p>
<p>水煎服。</p>
<p>（陳氏）</p>
<p><u>神應養真丹</u></p>
<p>　治厥陰經為四氣所襲，腳膝無力，左癱右瘓，半身不遂，手足頑麻，言語蹇澀，氣血凝滯，遍身疼痛者，並服。</p>
<p>當歸　川芎　白芍　天麻　羌活　熟地　木瓜　菟絲子上為末，入地黃膏，加蜜丸。每服四錢，空心鹽湯下。</p>
<p><u>四苓散</u></p>
<p>　治同五苓。</p>
<p>即五苓去桂。</p>
<p><u>萬應膏</u></p>
<p>　即萬靈膏。</p>
<p><u>口疳藥</u></p>
<p>　詳冰青散內。</p>
<p><u>殺疳藥</u></p>
<p>　詳冰青散內。</p>
<p><u>化膿生肌膏</u></p>
<p>　即應用膏。</p>
<p><u>夾紙膏</u></p>
<p>　即十層膏。</p>
<p><u>國老散</u></p>
<p>即用甘草一斤為末，每服三錢，酒下。</p>
<p><u>隔蒜灸法</u></p>
<p>用大蒜頭去皮，切三分濃，安瘡頭上，用艾壯於蒜上灸之，五壯換蒜，或三、五十壯，或至百壯，未成者即消，已成者亦殺其大勢，不能為害；如瘡大，用蒜搗爛攤患處，將艾鋪上燒之，蒜敗再換，其痛者灸至不痛，不痛者灸至痛，灸後仍服托裡之劑。</p>
<p><u>神燈照法</u></p>
<p>雄黃　朱砂　血竭　沒藥（各一錢）　麝香（二分）</p>
<p>上研末，用棉紙卷為粗捻，約長尺許，每捻中入藥三分，以真麻油潤透，點灼瘡上，須離瘡半寸許，自紅暈外周遭，徐徐照之，以漸將捻收入瘡口，更須將捻猛向外提，以引毒瓦斯出外，自不內侵臟腑。初用三條，漸加至五、七條，瘡勢漸消，可漸減之，隨後用敷藥。</p>
<p><u>桑枝灸法</u></p>
<p>　治諸瘡毒堅而不潰，潰而不腐，新肉不生，疼痛不止。用桑枝燃著，向患處灸之，火盡再換，灸至片時為度。</p>
<h2>家用膏丹丸散方</h2>
<p><u>紅升丹</u></p>
<p>　一名三仙丹。一切瘡瘍潰後，拔毒去腐，生新長肉，瘡口堅硬，肉黯紫黑，用丹少許，雞翎掃上，立刻紅活。外科若無升降二丹，焉能立刻奏效。</p>
<p>水銀（二兩）　槍硝（二兩）　白明礬（二兩）</p>
<p>先將硝礬研碎，放於鐵鍋內，中開低窩，以水銀傾入窩內，將硝礬蓋之，用磁碗蓋合，以棉紙捻條捺碗口，再以鹽泥封固後，將黃沙壓住碗旁，露出碗底，以新棉花著碗底內，用鐵磚壓上。先用文火一炷香，烘烊硝礬；次用武火一炷香，看碗底內棉花焦黑為度；如不焦，再煉半炷香。取下冷開，刮下之丹，磁瓶貯之，退火用。</p>
<p>一方有皂礬、雄黃、朱砂約各一兩，名大升丹，力量尤大。</p>
<p><u>白降丹</u></p>
<p>　凡癰疽無名大毒，每用少許，瘡大者用六，七厘，小者用一、二厘，水調敷瘡頭上。初起者立刻起泡消散，成膿者腐肉即脫，拔毒消腫，誠乃奪命金丹也。</p>
<p>水銀（一兩）　火硝（一兩）　白礬（一兩）　白砒（五錢）　食鹽（一兩）　石青（三錢）</p>
<p>硼砂（三錢）　皂礬（一兩）</p>
<p>用陽城罐一只，放微火上，徐徐挑藥入罐，化盡，微火逼令極干，所謂陰升之法，全在此刻；如火大，則汞先飛走；如不干，則藥必倒塌無用，其難如此。</p>
<p>結胎後，以瓦盆一只，盛水半盆，將粗宮碗一只，覆合於水內，碗底上以三寸盆仰放；後再以陽城罐倒合於盆內，用好棉紙截寸許闊，以罐子、泥草鞋灰、光粉三樣研細，以鹽鹵汁和練極熟，於罐口合緊；一層泥，一層紙，糊五、六層，候干；再將醬缸蓋，量陽城罐之大小，中鑿一洞，套於罐之半腰，恰蓋著於盆口上；外用新瓦三片，鐵絲扎緊，如煙通罐樣：入炭，用武火二炷香，其丹即降於盆內，退火冷開，即名白雪丹。降藥之神，不假刀砭，一伏時，便見功效，勝於刀針之險多矣。</p>
<p><u>上降藥法</u></p>
<p>　癰疽初起，堅硬未成膿者。用水調一二厘，塗於瘡頂上，不可貼膏藥，少頃，即起一泡，挑破出水自消。</p>
<p>已成而內膿急脹，按之隨手而起者，此膿已熟矣。用水調一二厘，點正頂上，以膏貼之，一伏時，大膿自泄，不假刀針。</p>
<p>如陰疽根腳走散，瘡頭平陷，即用降丹七、八厘，或分許，水調，掃於瘡頭堅硬處，次日即轉紅活，便是吉兆。</p>
<p>如瘡毒內膿已成，久不穿潰者，只要出一小頭，怕頭出過大。可用棉紙一塊，量瘡大小，中剪一孔，以水潤貼瘡上，然後調降藥，點放紙孔內，揭去紙，以膏貼之，則所降之頭不致過大。若瘡小藥大，反令痛傷胃口，　及良肉，不可不知。</p>
<p>白降丹點在瘡毒上，即追蝕毒瓦斯，有幾分深，必追至病根方止，所以點後疼痛非常。若內膿已脹，皮殼不濃，點之，便不十分痛楚，有用蟾酥化汁，調白降丹用，其疼稍減。水煉降藥法：新煉出白降丹，研細，用元色緞五寸，將降藥篩勻，緞上卷緊，以麻線捆扎極緊，放瓦罐內，清水煮，約一伏時內，換水三次，將緞卷取起，掛風處陰乾，然後打開，以雞翎掃下，磁瓶收貯。凡治癰疽用之，並無痛楚。</p>
<p><u>應用膏</u></p>
<p>　治疔、疽、流注、腿癰，穿潰者用此。</p>
<p>當歸　連翹　白芨　白蘞　大黃　山梔（各八錢）　官桂（二錢）　蒼朮　羌活　天麻　防風黃　荊芥　川甲　甘草　芫花（各六錢）方八　蓖麻子　小生地(各一兩)用真麻油十斤，入藥，文武火熬枯，濾去渣，再熬至滴水成珠，稱每斤淨油，春秋下潤淨東丹五兩，冬四兩，夏六兩，收成膏後，下乳香、沒藥末各一兩，攪勻攤用。</p>
<p><u>萬靈膏</u></p>
<p>　治一切無名腫毒，未成即消，已成即潰，並治一切寒濕之證。</p>
<p>生地　歸身　川芎　蒼耳子　大戟　尖檳　甘菊　蒲公英　生大黃　土槿皮　羌活獨活　紅花　川烏　草烏　赤芍　紫草　香附　川椒　番木鱉　桂枝　狗脊　澤蘭　生薑胡椒　附子　牙皂　白附子　荊芥　金銀花　黃柏　山慈菇　生首烏　全蟲　玄胡　僵蠶百部　南星　白蒺藜　山甲　白芷　白芥子　花粉　益母草　蛇床子　川牛膝　黃　大楓子肉　細辛　苦參　龜板　桑寄生　升麻　黃芩　胡麻　杜菖蒲根　冬瓜皮　天麻　楊樹須鬧羊花　茜草（以上各五錢）　土茯苓（一兩）</p>
<p>用香油八斤，將前藥入油，加嫩桑枝二、三斤，熬藥至枯，濾去渣，入後藥。</p>
<p>松香（四兩）　朴硝　雄黃　桂圓核灰　皂礬　牛皮灰　樟冰（各五錢）　麝香（三錢）</p>
<p>冰片（三錢）　龍骨（五錢）　再入東丹三斤，收成膏。</p>
<p><u>內傷膏</u></p>
<p>　治內傷，腰疼足酸，寒濕流筋、流絡、流注、鶴膝瘋、痹等證。</p>
<p>毛鹿角（切，二兩）　烏藥（八兩）　紅花（二兩）　全當歸（切，一兩二錢）　木瓜（一兩）　上官桂（二兩）</p>
<p>（炙，二兩）　商陸（三兩）</p>
<p>用麻油十斤，浸藥二十一日，煎枯，濾去渣，離火，入淘淨飛丹六斤，收成膏，再入肉桂（去皮研末）二兩、乳香、沒藥末各二兩，麝香二錢，攪勻，用紅布或青皮攤貼。</p>
<p><u>紫金膏</u></p>
<p>　治痰核瘰　。</p>
<p>官桂（六兩）　生地（十二兩）　秦艽（五兩）　羌活（三兩）　黃芩（二兩）　防風（三兩）　木通（三兩）　川連（一兩五錢）　當歸（九兩）　木瓜（六兩）　白朮（三兩）</p>
<p>方八（十二兩）　鱉甲（六兩）　白芷（三兩）　遠志（三兩）　大蜈蚣（十五條）　丹參（五兩）　紫草（十二兩）　毛慈姑（五兩）　生甲片（一兩五錢）　血余（五兩）　茜草（六兩）　商陸根（三斤）</p>
<p>上藥俱囫圇，不切碎。加柳枝五兩，桃枝五兩，棗枝五兩，桑枝五兩，槐枝五兩，用真麻油二十斤，將前藥浸十日，熬枯去渣，用淨飛丹十五斤，炒透收膏；再下明乳香（去油，研）五兩，沒藥（去油研）五兩。</p>
<p><u>肉桂膏</u></p>
<p>　治一切寒濕痹痛、乳痰、乳癖、瘰　等證。</p>
<p>川烏　草烏　海藻　當歸　甘草　白芨　甘遂　白芷　細辛　芫花　半夏　肉桂　紅花大戟　虎骨（各七錢五分）　麻黃（一兩）　五倍子（一兩）</p>
<p>用麻油二斤、青油一斤五兩，入藥煎枯，去渣；下淨東丹炒一斤，收成膏；再下乳香（去油，研）、沒藥（去油，研）各一兩，寸香（研）五錢，百草霜一兩，攪勻，用紅布攤貼。</p>
<p><u>紫霞膏</u></p>
<p>　治老年結毒，穿潰不斂。</p>
<p>嫩松香（六兩）　糠青（研，二兩）　乳香（去油，研）　沒藥（去油研，各五錢）</p>
<p>用麻油六兩，熬至滴水成珠，下松香，再煎二、三十沸，下糠青，再熬，自有紫色，離火，下乳香、沒藥。</p>
<p><u>白玉膏</u></p>
<p>　治濕毒瘡，白泡　瘡，燙傷等。收濕生肌長肉，甚效。</p>
<p>鯽魚（大者，兩條）　鉛粉（一斤）　輕粉（五錢）　象皮（烘研，一兩）　真珠（研，三錢）</p>
<p>用麻油一斤，入鯽魚，煎至枯，瀝去骨，再煎一、二十沸，離火少頃；然後下鉛粉、輕粉、象皮末、珍珠末，攪勻成膏。</p>
<p><u>玉紅膏</u></p>
<p>　去腐生新。此外科收斂藥中之神方也。</p>
<p>白芷（五錢）　甘草（一兩）　歸身（二兩）　瓜兒血竭　輕粉（各四錢）　白占（二兩）</p>
<p>紫草（五錢）</p>
<p>用麻油一斤，先將白芷、歸身、甘草、紫草四味入油，熬枯，濾去渣，復煎滾，下血竭，化盡，次下白占，微火亦化，退火，下輕粉，攪勻，傾入磁罐內聽用。凡用藥將牙簪挑藥，施於瘡頭上，以膏蓋之。</p>
<p><u>千捶紅玉膏</u></p>
<p>　治濕毒流注，無名腫毒，未經穿潰者。</p>
<p>蓖麻子（去殼）　松香（蔥頭汁煮）四兩　南星（研，五錢）　半夏（研，五錢）　乳香（去油，五錢）　沒藥（去油，五錢）　銀朱（七八錢）</p>
<p>搗成膏，看老嫩，以蓖麻肉增減，用布攤貼。</p>
<p><u>千捶綠云膏</u></p>
<p>　治痰核甚效。</p>
<p>蓖麻子（去殼）　松香（蔥頭汁煮，四兩）　海藻（炙，研，五錢）　昆布（炙，研，五錢）</p>
<p>南星（搗成膏。一方有乳五香、沒藥各五錢。</p>
<p><u>十層膏</u></p>
<p>　專治年久新起　瘡，已經去腐，生肌長肉，神效。</p>
<p>黃芩　黃柏　白芷（各二錢）　乳香（去油，研）　沒藥（去油研，各二錢）　血竭（研，三錢）</p>
<p>黃占（一兩）　白占（五錢）　輕粉（研，一錢）　血余（二錢）　象皮（炙，研，二錢）　密陀僧（研，一兩）　珍珠（研，一錢）</p>
<p>用麻油十兩，先將芩、柏、芷三味，入油，煎枯，濾去渣；次下血余，煎枯，去血余；再下黃占、白占溶化；然後下乳沒、血竭、陀僧、輕粉、象皮、珍珠末，攪勻。將皮紙一張，分作六小張，以一張染膏提出，攤於台上，用手兩面泥勻，再持一張，染膏如前法，攤在前一張上，共作十層。如遇　瘡，將此膏依瘡大小剪下，扎於瘡上，一日揭去一層，扎完瘡愈，極妙神方也。</p>
<p><u>麻黃膏</u></p>
<p>　治牛皮血癬，營枯血燥，遍體發癩發癢。</p>
<p>川連　黃芩　黃柏　紫草　麻黃（各一錢）　斑毛（七枚）　小生地（三錢）</p>
<p>用雄豬板油十兩，將上藥熬枯，濾去渣，入黃蠟一兩、白蠟五錢，烊化，再入蓖麻子肉、大楓子肉各一錢，搗爛如泥，調和離火，俟半冷後入：雄黃（三錢）　樟冰（二錢）　生礬（三錢）　五倍子（二錢）　輕粉（一錢）　銅青（二錢）</p>
<p>東丹（二錢）　金底（二錢）</p>
<p>研細調勻，磁碗收貯。不時頻　。</p>
<p><u>玉樞丹</u></p>
<p>　治一切無名腫毒。</p>
<p>山慈姑（有毛者佳，洗淨去皮，焙乾，二兩）　川五倍（捶破，洗刮內垢，焙乾，二兩）</p>
<p>紅牙大戟（去蘆根，洗淨，焙乾，二兩）　大朱砂（水飛，三錢）　明雄黃（水飛，三錢）</p>
<p>麝香（三錢）　千金子（去殼，草紙包，捶去油成霜，二兩）</p>
<p>各研極細，用糯米粥打和，分作四十丸。凡遇無名腫毒，或酒或米飲下一丸，外即以清水磨塗，神效。</p>
<p><u>黎洞丹</u></p>
<p>　治一切跌打損傷，並可磨塗諸腫。</p>
<p>血竭（研末，三錢）　牛黃（一錢）　阿魏（三錢）　天竺黃（三錢）　兒茶（三錢）</p>
<p>三七（三錢）　藤黃（一錢五分）　五倍子（焙，三錢）　乳香（去油，二錢）　沒藥（去油，三錢）　山羊血（五錢）　千金子（去殼油，三錢）　朱砂（二錢）　冰片（一錢）</p>
<p>共研極細末，糯米糊丸，金箔為衣，每丸重一錢。陳酒送下一丸。</p>
<p><u>梅花點舌丹</u></p>
<p>　治無名腫毒，未成即消，已成即潰。</p>
<p>蟾酥（一錢）　熊膽（一錢）　牛黃（三分）　麝香（三分）　雄黃（三錢）　血竭（三錢）</p>
<p>硼砂（一錢）　葶藶子（三錢）　沉香（一錢）　乳香（去油，三錢）　沒藥（去油，三錢）</p>
<p>冰片（三分）　朱砂（三錢）</p>
<p>共研極細末，即將蟾酥、熊膽酒化，搗丸，辰砂為衣。每服三分，蔥頭湯送下。一方加蝸牛、輕粉、膽礬、銅綠。</p>
<p><u>西黃化毒丹</u></p>
<p>　治疔疽火毒內陷，神識模糊，不醒人事者。</p>
<p>西黃（一分）　真珠（三分）　血珀（五分）　膽星（三分）　辰砂（三分）</p>
<p>共為細末。均作三服，燈心湯下。</p>
<p><u>瘍余化毒丹</u></p>
<p>　治疔疽余火未清，艱於收口難斂者，以此化之。</p>
<p>滴乳石（一錢）　西黃（一分五厘）　真珠（四分）　天竺黃（六分）　陳膽星（一錢）</p>
<p>血竭（一錢）　川連（五分）　朱砂（一分）</p>
<p>上為末。加燈心灰四分，每服三分，金銀花湯下。</p>
<p><u>痘後化毒丹</u></p>
<p>　治痘證後余毒走絡，遍體發瘍者。</p>
<p>西黃（一分）　藥珠（三分）　血珀（五分）　燈心灰（二分）　膽星（三分）　冰片（一分）　天竺黃（三分）　甘草　人中黃（五分）</p>
<p>共為細末。每服三分，金銀花露調下。</p>
<p><u>猴疳化毒丹</u></p>
<p>　治幼孩遍體胎火胎毒，臀赤無皮，音啞鼻塞，或赤游丹毒。</p>
<p>真珠（三分）　血珀（五分）　飛滑石（八分）</p>
<p>上為末。每服三分，乳汁調下。</p>
<p><u>紫金錠</u></p>
<p>　治一切風火腫痛。</p>
<p>大黃（一兩）　降香屑（五錢）　山慈菇（三錢）　紅牙大戟（去蘆根，五錢）　南星（五錢）　生半夏（五錢）　雄黃（三錢）　麝香（三分）　乳香（去油，三錢）　沒藥（去油，三錢）</p>
<p>共研極細末，以面糊打丸，捻錠子。鮮菊葉汁磨敷。</p>
<p><u>八將丹</u></p>
<p>　一切疽毒不起，疔毒不透，腐肉不脫，用此提毒化毒，甚妙。</p>
<p>西黃（三分）　冰片（三分）　蟬退（烘，七枚）　大蜈蚣（炙，七條）　麝香（三分）</p>
<p>山甲（炙，七片）　全蟲（炙，七個）　五倍子（焙，三錢）</p>
<p>共為細末。用少許摻於瘡頂上，以膏蓋之。</p>
<p><u>八寶丹</u></p>
<p>　收口生肌長肉。</p>
<p>珍珠（五分）　血珀（燈心同研，一錢）　象皮（切，烘，一錢）　龍骨（　，一錢）</p>
<p>辰砂（一錢）　乳香（五分）　沒藥（五分）　白芨（一錢）</p>
<p>共乳極細，磁瓶密貯。待用。</p>
<p><u>十寶丹</u></p>
<p>　又：琥珀（五分）　珍珠（三分）　乳香（五分）　沒藥（五分）　象皮（五分）　血竭（五分）</p>
<p>兒茶（五分）　龍骨（一共為極細末，密貯待用。</p>
<p><u>生肌散</u></p>
<p>　又：珍珠（生研，一錢）　象皮（烘，二錢）　白蠟（一錢）　兒茶（一錢）　輕粉（五分）</p>
<p>鉛粉（五分）　大冰片（一分）　瓜兒竭（一錢）　乳香（箬上洪，一錢）　沒藥（箬上烘，一錢）</p>
<p>共乳極細末。先用豬蹄湯或濃茶洗淨，用少許摻之。</p>
<p><u>珍珠散</u></p>
<p>　止痛生肌收口。</p>
<p>珍珠（生研，三錢）　蘆甘石（　，一兩）　石膏（在童便內浸四十九日，朝晒夜露，不可經雨，，研，一兩五錢）</p>
<p>共為極細末。摻之。</p>
<p><u>神妙生肌散</u></p>
<p>　余腐未盡，而不收口者，用此：赤石脂　兒茶　海螵蛸　血竭　黑鉛（各一錢）　硼砂（生肌在此）　乳香　沒藥（各二錢）　輕粉（三分）</p>
<p>先將黑鉛加水銀一錢同煎化，再將前藥研細，入於鉛汞內，研極細，摻之。</p>
<p><u>冰硼散</u></p>
<p>　一名金丹。吹喉間腫痛，或蛾癰。</p>
<p>硼砂（二錢）　風化霜（二錢）　僵蠶（炙，三錢）　薄荷葉（一錢）　生礬（一錢）</p>
<p>冰片（五分）　滴乳石（三共研極細，磁瓶收貯。</p>
<p>風化霜法：將嫩黃瓜一條，挖去穰，以銀硝研細納入，掛於檐下透風處，三日後，瓜皮上自有白霜釣出，拭下，以磁瓶收貯待用。</p>
<p><u>冰青散</u></p>
<p>　一名碧丹。吹口糜疳腐，及爛頭喉蛾、喉痹、喉疳、喉癬。</p>
<p>川連　兒茶　青黛　燈心灰（各三分）　西黃（二分）　冰片（三分）　人中白（　，五分）</p>
<p>證重者，加珍珠。如痧痘後，牙齦出血，或成走馬疳毒，加糠青、五倍子、白芷末。</p>
<p><u>珠黃散</u></p>
<p>　治爛喉疳腫腐，湯水難入者；並治遠年爛喉結毒，腐去蒂丁，及幼孩口疳、口糜等證。</p>
<p>西黃（一分）　大朱砂（一錢）　珍珠（三分）　上滴乳石（一錢）　月石（一分五厘）</p>
<p>寸香（三分）　雄精（一錢）　兒茶（一錢）　大梅片（二分）　人中白（　，一錢五分）</p>
<p>先將珠研極細，後入余藥，俱研極細，磁瓶收貯，勿令泄氣。</p>
<p><u>珠寶散</u></p>
<p>　治火燙灼傷，腐爛不堪者。</p>
<p>珍珠（三分）　西黃（一分）　鉛粉（五分）　密陀僧（一錢）　熟石膏（一錢）　冰片（一分）　大黃（三錢）　寒水石（三錢）　甘草　人中黃（三分）</p>
<p>共為極細末。用雞子清調敷；如濕爛無皮者，干摻。</p>
<p><u>陽鐵箍散</u></p>
<p>　此方遇陰證用之。</p>
<p>細辛（半斤）　川烏（半斤）　草烏（半斤）　官桂（半斤）　白芥子（四兩）　川椒（三兩）　降香末（一升）　陳小粉（炒黑研，十斤）　生半夏（四兩）　生南星（四兩）</p>
<p>用蔥頭汁調敷四圍，使不走散。</p>
<p><u>陰鐵箍散</u></p>
<p>　此方遇陽證用之。</p>
<p>降香末（半升）　大黃（三斤）　乳香（四兩）　赤小豆（三升）　沒藥（四兩）　黃芩（八兩）　方八（一斤）　生南星（四兩）　山慈菇（四兩）　陳小粉（炒黑研，十斤）　用窨醋調敷四圍。</p>
<p><u>日用應酬圍藥</u></p>
<p>生南星（半斤）　生半夏（四兩）　當歸（四兩）　大黃（四兩）　陳小粉（炒黑，十斤）</p>
<p>火盛者，用芙蓉葉汁；寒盛者，用蔥頭汁調敷。</p>
<p><u>四黃散</u></p>
<p>　治一切白泡痛瘡、濕瘡、坐板、燙火等瘡。</p>
<p>大黃（一兩）　黃柏（一兩）　黃芩（一兩）　川連（五錢）　尖檳榔（一兩）　老松香（一兩）　熟石膏（三兩）　厚朴（一兩）　寒水石（二兩）</p>
<p>共為細末。香油調搽。</p>
<p><u>紫靈散</u></p>
<p>　治一切疥癩瘋癬，搔癢難忍諸瘡證。</p>
<p>牛煙膏（一斤）　松香（二兩）　淨東丹（五兩）　黃芩（四兩）　黃柏（四兩）　樟冰（二兩）　尖檳（三兩）　西丁（二兩）　明礬（八兩）　銅坭（三兩）　生大黃（四兩）</p>
<p>共為末。用麻油調搽。</p>
<p><u>五香丸</u></p>
<p>　治疥、癩頑癬、肥瘡、坐板瘡、血熱等瘡。</p>
<p>杏仁（去皮，三兩）　升藥底（一兩）　花椒（炒，五錢）　樟冰（五錢）　大黃（一兩）　蛇床子（一兩）　黃柏（一兩）　西丁（一兩）　大楓子肉（三兩）</p>
<p>共研細末，將楓子肉、杏仁研和，再加油胡桃、雄豬板油，搗和為丸，如芡實大。遇疥瘡頑癬，用夏布包藥搽之。</p>
<p><u>萬消化堅丸</u></p>
<p>　治癰疽腫毒，立見奇功。孕婦忌服。</p>
<p>方八（刮去皮，麻油熬至浮起，取出洗去油，晒乾，研，二兩）　芫花（炒至炭，五錢）</p>
<p>甲片（黃沙拌炒松，二兩）　川烏（薑汁製炒，五錢）　草烏（薑汁製炒，五錢）　乳香（去油，三錢）　沒藥（去油，三錢）　當歸（二兩）　延胡（二兩）　全蟲（酒洗，炒，二兩）</p>
<p>共為細末，面糊丸，如梧子大。每朝服十四丸，陳酒送下。</p>
<p><u>化堅丸</u></p>
<p>　治肝經鬱火，乳痰、乳癖，及頸項失營、馬刀，郁痰　核。</p>
<p>大生地（四兩）　川芎（酒炒，二兩）　白芍（酒炒，二兩）　川楝子（連核打炒，二兩）　當歸（酒炒，二兩）　丹參（酒炒，二兩）　牡蠣（　，三兩）　夏枯草（烘，三兩）</p>
<p>花粉（炒，二兩）　香附（醋炒，二兩）　半夏（炒，二兩）　石決明（　，三兩）　鬱金（炒，二兩）　青皮（炒，二兩）　橘核（炒，三兩）　全蟲（酒炒，一兩五錢）　沉香（鎊研，五錢）　茯苓（二兩）　刺藜（炒，二兩）　土貝母（去心，二兩）　延胡（炒，二兩）　柴胡（炒，五錢）　蘇梗粉（一兩）　兩頭尖（炒，三兩）</p>
<p>共為末，煉蜜丸。每朝服五錢，陳酒送下。</p>
<p><u>八反丸</u></p>
<p>　治痰核瘰　。</p>
<p>桂心　甘遂　細辛　歸身　半夏　甘草　白芷　芫花　海藻　紅花　全蟲　牙皂　虎骨白芨　川烏（薑汁製）　草烏（薑汁製，各一兩）</p>
<p>上各炒為末，用核桃肉泡去皮四兩，烏梅淨肉一斤，蒸爛，明礬末八兩，量加棗肉，共搗為丸。每服三錢，清晨夏枯草湯下。</p>
<p><u>五龍丸</u></p>
<p>　治流注、腿癰之半陰半陽者，服之，未成即消，已成即潰，並治魚口、便毒。</p>
<p>山甲（土拌，炒）　全蟲（酒拌炒）　槐米（炒）　僵蠶（炙）　土貝母（研，各等分）</p>
<p>上為末，面糊搗丸。每服三錢，陳酒送下。</p>
<p><u>洞天救苦丹</u></p>
<p>　治乳痰、乳癖，未成岩者。</p>
<p>經霜楝樹子（炒，二兩）　白芷（焙，一兩）　帶子蜂房（炙，一兩）　兩頭尖（二兩）</p>
<p>上為末。每服二錢，沙糖調陳酒送下。如無經霜楝樹子，以川楝子代之；如無帶子蜂房，以蜈蚣七條代之。</p>
<p><u>虎潛丸</u></p>
<p>　治陰寒鶴膝瘋。</p>
<p>西土（豆腐煮一炷香）　血竭（等分）</p>
<p>上為末，面糊搗丸。每服五分，陳酒送下。</p>
<p><u>九龍丹</u></p>
<p>　瀉一切下疳、魚口、便毒、霉瘡、廣痘初起。</p>
<p>乳香（去油）　沒藥（去油）　江子肉　血竭　兒茶（各三錢）</p>
<p>共為末，生蜜搗丸，如梧子大。空心陳酒送下七丸或九丸，服後不可食物，俟瀉三、五次後，然後食飯並肉以補之。</p>
<p><u>釐清泄濁丸</u></p>
<p>　治肝經濕火淋濁管痛，小溲不利，並治下疽濕爛火盛者。</p>
<p>生大黃（切，晒乾，一兩）　西珀（鎊，同燈心研，一錢）</p>
<p>共研和，用雞蛋清雄頭七枚，搗丸。均作三日服，空心燒酒送下。服用一時許，小水如金黃色。</p>
<p><u>廣毒至靈丹</u></p>
<p>　治廣痘霉癬，梅瘡透頂，下疳結毒。</p>
<p>生大黃（晒研，三兩）　生川連（晒研，五錢）　廣珠（五錢）　黃芩（鹽水炒，一兩）</p>
<p>朱砂（三錢）　百步（鹽水炒，一兩）　核桃夾（鹽水炒，一兩）　肥皂夾灰（二兩）　血余（二兩）　骨余（土拌炒，五錢）</p>
<p>陳酒泛丸。每日朝三錢，夜二錢，陳洒送下；不吃酒者，夏枯草湯送下。</p>
<p><u>增制史國公藥酒方</u></p>
<p>　治寒濕流經，歷節風痹。</p>
<p>桂枝　秦艽　防風　牛膝　萆　當歸　虎骨　川芎　川斷　杞子　紅花　鱉甲　白茄根　草　老松節　五靈脂　嫩桑枝　樟木　杜仲　狗脊　獨活　苡仁　蠶沙　五加皮薑黃　甘草　槐枝　蒼耳子　川烏　草烏　柳枝　海風藤先將燒酒浸五日後，再入陳酒浸煮，不拘時飲之。</p>
<p><u>卻病延年藥酒</u></p>
<p>　治脫力勞傷。</p>
<p>大生地　當歸　紅花　烏藥　劉寄奴　木香　赤芍　丹參　淮山藥　川斷　白芷　羌活骨碎補　落得打　甘草　牛膝　枳殼　丹皮　破故紙　石蘭　五茄皮　白朮　木瓜　秦艽威靈仙　白芍　蘇子　川芎　虎骨（炙）　葛根　延胡　自然銅（　）　青皮　木通　杜仲花粉將陳酒浸煮，不拘時服。</p>
<p><u>太乙丹</u></p>
<p>　專治一切痧證，山嵐脹氣，暑氣惡心，肚腹疼痛等證。</p>
<p>廣木香（一錢）　麝香（三分）　丁香（一錢）　茅朮（去皮毛，晒，一錢）　沉香（鎊晒，一錢）</p>
<p>西黃（三分）　雄黃（一錢二分）</p>
<p>上為極細末，將熊膽一錢二分、蟾酥一錢，燒酒浸溶化，搗藥為丸，如梧子大，朱砂為衣。</p>
<p><u>唐棲痧藥方</u></p>
<p>　治同前。</p>
<p>茅朮（三兩）　大黃（六兩）　丁香（六錢）　麻黃（三兩六錢）　天麻（三兩六錢）　寸香（三錢）　蟾酥（九錢）</p>
<p>共為極細末，將蟾酥燒酒化，搗藥為丸，梧子大，朱砂為衣。</p>
<p><u>諸葛行軍散</u></p>
<p>　專治一切肚腹疼痛，惡心嘔吐，身體煩暈脹滿等證。</p>
<p>朱砂（五錢）　雄黃（一兩）　月石（三錢）　槍硝（三錢）　寸香（五分）　冰片（五分）</p>
<p>西黃（三分）　飛金（五十張）</p>
<p>上共為細末，磁瓶收貯。每遇痧證，用少許　鼻。</p>
<p><u>和傷末藥</u></p>
<p>　治跌打損傷，閃氣腰疼，傷筋傷骨。</p>
<p>歸尾　延胡　紫荊皮　大茴香　川烏（薑汁炒黑）　草烏（薑汁炒黑）　甘草節　自然銅（醋）　紅花（炒）　蒲黃　丹參　五靈脂（陳酒飛）　甘松　山奈　砂仁上各二兩，研末。每服一錢五分，重者二錢，輕者一錢，陳酒調，即以酒送下，盡醉為度。至重之傷，三服可愈。</p>
<p><u>大麻瘋方</u></p>
<p>　鎮江丁參領染瘋疾，得此秘傳治之，全愈。又以醫治多人，無不取效如神。</p>
<p>但患此證者，眉毛若盡脫落，即屬難治。如眉毛未脫，雖手足骨節有塌損，皆可取效。若初起未深之證，百試百驗。先服湯藥四劑，每日一劑，服完，再吃丸藥。</p>
<p><u>湯藥方：</u></p>
<p>陳皮　白芷　苦參　天麻　秦艽　川斷　防風　荊芥　羌活　風藤　苡仁　牛膝　當歸海桐皮　蒼朮　木香　桂枝　連翹　甘草（各一錢）　黑棗（一枚）　生薑（一片）</p>
<p>水二碗，煎至一碗服，渣再煎二次服。</p>
<p><u>丸藥方：</u></p>
<p>每丸藥一錢，加楓子膏，春秋八厘，夏六厘，冬一分。</p>
<p>大胡麻（一斤四兩）　小胡麻（一斤四兩）　牛膝（四兩）　白蒺（一斤四兩）　苦參（一斤）</p>
<p>防風　荊芥（各八兩）　當歸（六兩）　苡仁（四兩）　蒼朮（六兩）　川斷（四兩）　近加小生地（八兩）</p>
<p>共研細末，水泛丸。每日早、午、晚三服，每服三錢或二錢，照數加楓子膏，捻園攙和，以毛尖茶送下。</p>
<p><u>楓子膏方：</u></p>
<p>大楓子去殼取仁，銅鍋內炒至三分紅色，七分黑色為恰好，如太過無力，不及傷眼。炒後，研成細膏，如紅沙糖一樣，用銅芍盛，向火上熬四、五滾，倒在紙上，放於土地下，以物蓋之，待用。如上面有霉，拭去，依法用。百日內切忌房事，切忌食鹽，犯之不效；並忌食醬、醋、洒，一切雞、魚發風動火等物。</p>
<p><u>治瘋藥酒方</u></p>
<p>　能治一切瘋證。</p>
<p>當歸（五錢）大胡麻（一兩）　杞子（五錢）　防風（五錢）　萆　（五錢）　白芍（五錢）　丹參（七錢）　海風藤（五錢）　香加皮（五錢）　荊芥（五錢）　杜仲（五錢）　牛膝（一兩）　川芎（五錢）　赤芍（五錢）　甘草（三錢）　白芷（三錢）　真茅朮（五錢）　生地（二兩）　黃柏（三錢）　巴戟（一兩）　秦艽（一兩）　桑枝（切斷，四兩）</p>
<p>先用滴花燒二斤，先浸一日，後加原陳酒十五斤，冰糖四兩，核桃肉八兩，紅棗四兩，豬板油八兩，用大口瓶一個，以麻布袋將各藥放入袋內扎緊，面糊封瓶口，浸三日，再隔湯煮二炷香為度，退火三日。早晚服酒一杯。</p>
<p><u>治瘋丸藥方</u></p>
<p>大胡麻（四兩）　苦參（切，二兩）　羌活（二兩）　石菖蒲（切，二兩）　獨活（二兩）　白附子（二兩）　防風（二兩）　威靈仙（切，二兩）　白歸身（二兩）　粉甘草（切，二兩）</p>
<p>各藥炮制稱準，磨極細末，用酒糊為丸。每日清晨稱準服二錢，陳酒送下。</p>
<p><u>白癜瘋搽藥方</u></p>
<p>　並搽汗　。</p>
<p>白芨（晒乾，三錢）　陀僧（二錢）　雄黃（二錢）　白附子（晒五錢）　硫黃（二錢）　朱砂（二錢）　雌黃（五分）　原寸香（三分）　頂梅片（三分）</p>
<p>共研極細末。用生薑蘸擦之。</p>
<p><u>退管丸藥</u></p>
<p>炙蜂房（研，一兩五錢）　真象皮（炙黑，研，二兩）　粉兒茶（研，四兩）　豬腳殼（炙黑，一兩五錢）　明乳香（去油，研，一兩五錢）　刺　皮（炙黑，一兩五錢）　生人脫（浸晒，炙黑汗，二兩）　胡連（焙，四錢）　黑沒藥（去油，一兩五錢）　生礬（研，二兩）　象牙屑（焙黃，研，六兩）　瓜血竭（研，四兩）</p>
<p>上為細末，煉蜜，黃蠟溶化，打糊丸，梧子大。空心每服三錢，陳酒送下。</p>
