<header><h1>傅青主女科</h1></header>
<dl class="元資料" data-type="book">
<div><dt>古版</dt><dd><data value="false">非古版</data></dd></div>
<div><dt>直書</dt><dd><data value="false">非直書</data></dd></div>
</dl>
<pre>
篇名：白帶下
出典：傅青主女科上卷＼帶下
內文：　　夫帶下俱是濕症。而以“帶”名者，因帶脈不能約束而有此病
      ，故以名之。蓋帶脈通於任、督，任、督病而帶脈始病。帶脈者，
      所以約束胞胎之系也。帶脈無力，則難以提系，必然胎胞不固，故
      曰帶弱則胎易墜，帶傷則胎不牢。然而帶脈之傷，非獨跌閃挫氣已
      也，或行房而放縱，或飲酒而顛狂，雖無疼痛之苦，而有暗耗之害
      ，則氣不能化經水，而反變為帶病矣。故病帶著，惟尼僧，寡婦，
      出嫁之女多有之，而在室女則少也。況加以脾氣之虛，肝氣之郁，
      濕氣之侵，熱氣之逼，安得不成帶下之病哉！故婦人有終年累月下
      流白物，如涕如唾，不能禁止，甚則臭穢者，所謂白帶也。夫白帶
      乃濕盛而火衰，肝鬱而氣弱，則脾土受傷，濕土之氣下陷，是以脾
      精不守，不能化榮血以為經水，反變成白滑之物，由陰門直下，欲
      自禁而不可得也。治法宜大補脾胃之氣，稍佐以舒肝之品，使風木
      不閉塞於地中，則地氣自升騰於天上，脾氣健而濕氣消，自無白帶
      之患矣。方用完帶湯。

        白朮（一兩，土炒）　    山藥（一兩，炒）　　
        人參（二錢）            白芍（五錢，炒）　　
        車前子（三錢，酒炒）    蒼朮（三錢，製）
        甘草（一錢）　　　　    陳皮（五分）　　　　
        黑芥穗（五分）          柴胡（六分）

          水煎服。二劑輕，四劑止，六劑則白帶全愈。此方脾、胃、肝
      三經同治之法，寓補於散之中，寄消於升之內，開提肝木之氣，則
      肝血不燥，何至下克脾土；補益脾土之元，則脾氣不濕，何難分消
      水氣。至於補脾而兼以補胃者，由裡以及表也。脾非胃氣之強，則
      脾之弱不能旺，是補胃正所以補脾耳。

<hr class="分段">
篇名：青帶下
出典：傅青主女科上卷＼帶下
內文：    婦人有帶下而色青者，甚則綠如綠豆汁，稠粘不斷，其氣腥臭
      ，所謂青帶也。夫青帶乃肝經之濕熱。肝屬木，木色屬青，帶下流
      如綠豆汁，明明是肝木之病矣。但肝木最喜水潤，濕亦水之積，似
      濕非肝木之所惡，何以竟成青帶之症？不知水為肝木之所喜，而濕
      實肝木之所惡，以濕為土之氣故也。以所惡者合之所喜必有違者矣
      。肝之性既違，則肝之氣必逆。氣欲上升，而濕下帶青欲下降，兩
      相牽掣，以停住於中焦之間，而走于帶脈，遂從陰器而出。其色青
      綠者，正以其乘肝木之氣化也。逆輕者，熱必輕而色青；逆重者，
      熱必重而色綠。似乎治青易而治綠難，然而均無所難也。解肝木之
      火，利膀胱之水，則青綠之帶病均去矣。方用加減逍遙散。

        茯苓（五錢）　　　　    白芍（酒炒，五錢）　
        甘草（生用，五錢）      柴胡（一錢）　　　　
        茵陳（三錢）　　　　    陳皮（一錢）
        梔子（三錢，炒）

          水煎服。二劑而色淡，四劑而青綠之帶絕，不必過劑矣。夫道
      遙散之立法也，乃解肝鬱之藥耳，何以治青帶若斯其神與？蓋濕熱
      留於肝經，因肝氣之鬱也，鬱則必逆，道遙散最能解肝之鬱與逆。
      鬱逆之氣既解，則濕熱難留，而又益之以茵陳之利濕，梔子之清熱
      ，肝氣得清，而青綠之帶又何自來！此方之所以奇而效捷也。倘僅
      以利濕清熱治青帶，而置肝氣於不問，安有止帶之日哉！

<hr class="分段">
篇名：黃帶下
出典：傅青主女科上卷＼帶下
內文：    婦人有帶下而色黃者，宛如黃茶濃汁，其氣腥穢，所謂黃帶是
      也。夫黃帶乃任脈之濕熱也。任脈本不能容水，濕氣安得而入而化
      為黃帶乎？不知帶脈橫生，通於任脈，任脈直上走於唇齒，唇齒之
      間，原有不斷之泉下貫於任脈以化精，使任脈無熱氣之繞，則口中
      之津液盡化為精，以入於腎矣。惟有熱邪存於下焦之間，則津液不
      能化精，而反化濕也。夫濕者，土之氣，實水之侵；熱者，火之氣
      ，實木之生。水色本黑，火色本紅，今濕與熱合，欲化紅而不能，
      欲返黑而不得，煎熬成汁，因變為黃色矣。此乃不從水火之化，而
      從濕化也。所以世之人有以黃帶為脾之濕熱，單去治脾而不得痊者
      ，是不知真水、真火合成丹邪、元邪，繞於任脈、胞胎之間，而化
      此鈴色也，單治脾何能痊乎！法宜補任脈之虛，而清腎火之炎，則
      庶幾矣。方用易黃湯。

 　     山藥（一兩，炒）　　    芡實（一兩，炒）　　
        炒黃柏（二錢，鹽水炒）  車前子（一錢，酒炒）
        白果（十枚，碎）　　

          水煎。連服四劑，無不全愈。此不特治黃帶方也，凡有帶病者
      ，均可治之，而治帶之黃者，功更奇也。蓋山藥、芡實專補任脈之
      虛，又能利水，加白果引入任脈之中，更為便捷，所以奏功之速也
      。至於用黃柏清腎中之火也，腎與任脈相通以相濟，解腎中之火，
      即解任脈之熱矣。

          凡帶症多係脾濕‧初病無熱但補脾土兼理衝任之氣其病自愈，
      若濕久生熱必得清腎火而濕始有去路。方用黃柏，車前子妙！

          山藥，芡實尤能清熱生津。

<hr class="分段">
篇名：黑帶下
出典：傅青主女科上卷＼帶下
內文：    婦人有帶下而色黑者，甚則如黑豆汁，其氣亦腥，所謂黑帶也
      。夫黑帶者，乃火熱之極也。或疑火色本紅，何以成黑？謂為下寒
      之極或有之。殊不知火極似水，乃假象也。其症必腹中疼痛，小便
      時如刀刺，陰門必發腫，面色必發紅，日久必黃瘦，飲食必兼人，
      口中必熱渴，飲以涼水，少覺寬快，此胃火太旺，與命門，膀恍，
      三焦之火合而熬煎，所以熬乾而變為炭色，斷是火熱之極之變，而
      非少有寒氣也。此等之症，不至發狂者，全賴腎水與肺金無病，其
      生生不息之氣，潤心濟胃以救之耳，所以但成黑帶之症，是火結於
      下而不炎於上也。治法惟以洩火為主，火熱退而濕自除矣。方用利
      火湯。

        大黃（三錢）　　　　    白朮（五錢，土炒）　
        茯苓（三錢）            車前子（三錢，酒炒）
        王不留行（三錢）　　    黃連（三錢）
        梔子（三錢，炒）　　    知母（二錢）　　　　
        石膏（五錢，[火段]）    劉寄奴（三錢）

          水煎服。一劑小便疼止而通利，二劑黑帶變為白，三劑白亦少
      減，再三劑全愈矣。或謂此方過於迅利，殊不知火盛之時，用不得
      依違之法，譬如救火之焚，而少為遷緩，則火勢延燃，不盡不止。
      今用黃連、石膏、梔子、知母一派寒涼之品，入於大黃之中，則迅
      速掃除。而又得王不留行與劉寄奴之利濕甚急，則濕與熱俱無停住
      之機。佐白亢以輔土，茯苓以滲濕，車前以利水，則火退水進，便
      成既濟之封矣。

          病愈後當節飲食，戒辛熱之物，調養脾土。若恃有此方，病發
      即服，必傷元氣矣，慎之！

<hr class="分段">
篇名：赤帶下
出典：傅青主女科上卷＼帶下
內文：    婦人有帶下而色紅者，似血非血，淋瀝不斷，所謂赤帶也。夫
      赤帶亦濕病，濕是土之氣，宜見黃白之色，今不見黃白而見赤者，
      火熱故也。火色赤，故帶下亦赤耳。惟是帶脈係於腰臍之間，近乎
      至陰之地，不宜有火。而今見火症，豈其路通於命門，而命門之火
      出而燒之耶？不知帶脈通於腎，而腎氣通於肝。婦人憂思傷脾，又
      加鬱怒傷肝，於是肝經之鬱火內熾，下克脾土，脾土不能運化，致
      濕熱之氣蘊於帶脈之間；而肝不藏血，亦滲於帶脈之內，皆由脾氣
      受傷，運化無力，濕熱之氣，隨氣下陷，同血俱下，所以似血非血
      之形象，現於其色也。其實血與濕不能兩分，世人以赤帶屬之心火
      誤矣。治法須清肝火而扶脾氣，則庶幾可愈。方用清肝止淋湯。

        白芍（一兩，醋炒）　    當歸（一兩，酒洗）　
        生地（五錢，酒炒）      阿膠（三錢，白麵炒）
        粉丹皮（三錢）　　　    黃柏（二錢）
        牛膝（二錢）　　　　    香附（一錢，酒炒）　
        紅棗（十個）            小黑豆（一兩）

          水煎服。一劑少止，二劑又少止，四劑全愈，十劑不再發。此
      方但主補肝之血，全不利脾之濕者，以赤帶之為病，火重而濕輕也
      。失火之所以旺者，由於血之衰，補血即足以制火。且水與血合而
      成赤帶之症，竟不能辨其是濕非濕，則濕亦盡化而為血矣，所以治
      血則濕亦除，又何必利濕之多事哉！此方之妙，妙在純於治血，少
      加清火之味，故奏功獨奇。倘一利其濕，反引火下行，轉難速效矣
      。或問曰：「先生前言助其脾土之氣，今但補其肝木之血何也？」
      不知用芍藥以平肝，則肝氣行得舒，肝氣舒自不克土，脾不受克，
      則脾土自旺，是平肝正所以扶脾耳，又何必加人參、白兒之品，以
      致累事哉!

<hr class="分段">
篇名：血崩昏暗
出典：傅青主女科上卷＼血崩
內文：    婦人有一時血崩，兩目黑暗，昏暈在地，不省人事者，人莫不
      謂火盛動血也。然此火非實火，乃虛火耳。世人一見血崩，往往用
      止澀之品，雖亦能取效於一時，但不用補陰之藥，則虛火易於衝擊
      ，恐隨止隨發，以致經年累月不能全愈者有之。是止崩之藥，不可
      獨用，必須於補陰之中行土崩之法。方用固本止崩湯。

        大熟地（一兩，九蒸）    白朮（一兩，土炒焦）
        黃耆（三錢，生用）      當歸（五錢，酒洗）　
        黑姜（二錢）　　　　    人參（三錢）

          水煎服。一劑崩止，十劑不再發。倘畏藥味之重而減半，則力
      薄而不能止。方妙在全不去止血而惟補血，又不止補血而更補氣，
      非惟補氣而更補火。蓋血崩而至於黑暗昏暈，則血已盡去，僅存一
      線之氣，以為護持，若不急補其氣以生血，而先補其血而遺氣，則
      有形之血，恐不能遽生，而無形之氣，必且至盡散，此所以不先補
      血而先補氣也。然單補氣則血又不易生；單補血而不補火，則血又
      必凝滯，而不能隨氣而速生。況黑姜引血歸經，是補中又有收斂之
      妙，所以同補氣補血之藥並用之耳。

          若血崩數日，血下數斗，六脈俱無，鼻中微微有息，不可遽服
      此方，恐氣將脫不能受峻補也。有力者用遼人參去蘆三錢煎成，沖
      貫眾炭末一錢服之，待氣息微旺然後服此方，仍加貫眾炭末一錢，
      無不見效；無力者用無灰黃酒沖貫眾炭末三錢服之，待其氣接神清
      始可服此方。人參以黨參代之，臨服亦加貫眾炭末一錢沖入。

<hr class="分段">
篇名：年老血崩
出典：傅青主女科上卷＼血崩
內文：    婦人有年老血崩者，其症亦與前血崩昏暗者同，人以為老婦之
      虛耳，誰知是不慎房幃之故乎！方用加減當歸補血湯。

        當歸（一兩，酒洗）　    黃耆（一兩，生用）　
        三七根末（三錢）        桑葉（十四片）

          水煎服。二劑而血少止，四劑不再發。然必須斷欲始除根，若
      再犯色欲，未有不重病者也。夫補血湯乃氣血兩補之神劑，三七根
      乃止血之聖藥，加入桑葉者，所以滋腎之陰，又有收斂之妙耳。但
      老婦陰精既虧，用此方以止其暫時之漏，實有奇功，而不可責其永
      遠之績者，以補精之味尚少也。服此四劑後，再增入：

        白朮（五錢）　　　　    熟地（一兩）　　　　
        山藥（四錢）            麥冬（三錢）　　　　
        北五味（一錢）

          服百劑，則崩漏之根可盡除矣。

          亦有孀婦年老血崩者，必係氣衝血室，原方加杭芍炭三錢，貫
      眾炭三錢極效。

<hr class="分段">
篇名：少婦血崩
出典：傅青主女科上卷＼血崩
內文：    有少婦甫娠三月，即便血崩，而胎亦隨墮，人以為挫閃受傷而
      致，誰知是行房不慎之過哉！治法自當以補氣為主，而少佐以補血
      乏品，斯為得之。方用固氣湯。

        人參（一兩）　　　　    白朮（五錢，土炒）　
        大熟地（五錢，九蒸）    當歸（三錢，酒洗）　
        白茯苓（二錢）　　　    甘草（一錢）
        杜仲（三錢，炒黑）　    山萸肉（二錢，蒸）　
        遠志（一錢，去心）      五味子（十粒，炒）

          水煎服。一劑而血止，連服十劑全愈。此方固氣而兼補血。已
      去之血，可以速生，將脫之血，可以盡攝。凡氣虛而崩漏者，此方
      最可通治，非僅治小產之崩。其最妙者，不去止血，而止血之味，
      含於補氣之中也。

          妊娠宜避房事，不避考縱幸不至崩往往墮胎，即不墮胎生子亦
      難養，慎之！戒之！

<hr class="分段">
篇名：交感出血
出典：傅青主女科上卷＼血崩
內文：    婦人有一交合則流血不止者，雖不至於血崩之甚，而終年累月
      不得愈，未免血氣兩傷，久則恐有血枯經閉之憂。此等之病，成於
      經水正來之時交合，精衝血管也。夫精衝血管，不過一時之傷，精
      出宜愈，何以久而流紅？不知血管最嬌嫩，斷不可以精傷。凡婦人
      受孕，必於血管己淨之時，方保無虞。倘經水正旺，彼欲湧出而精
      射之，則欲出之血反退而縮入，既不能受精而成胎，勢必至集精而
      化血。交感之際，淫氣觸動其舊日之精，則兩相感召，舊精欲出，
      而血亦隨之而出。治法須通其胞胎之氣，引舊日日之集精外出，而
      益之以補氣補精之藥，則血管之傷，可以補完矣。方用引精止血湯
      。

        人參（五錢）　　　　    白朮（一兩，土炒）　
        茯苓（三錢，去皮）      熟地（一兩，九蒸）　
        山萸肉（五錢，蒸）　    黑薑（一錢）
        黃柏（五分）　　　　    芥穗（三錢）　　　　
        車前子（三錢，酒炒）

          水煎。連服四劑愈，十劑不再發。此方用參兒以補氣，用地萸
      以補精，精氣既旺，則血管流通；加入茯苓、車前以利水與竅，水
      利則血管亦利；又加黃柏為引，直入血管之中，而引夙精出於血管
      之外；芥穗引敗血出於血管之內；黑薑以止血管之口。一方之中，
      實有調停曲折之妙，故能怯舊病而除陳苛。然必須慎房幃三月，破
      者始不至重傷，而補者始不至重損，否則不過取目前之效耳。其慎
      之哉！宜寡欲。

<hr class="分段">
篇名：鬱結血崩
出典：傅青主女科上卷＼血崩
內文：    婦人有懷抱甚鬱，口乾舌渴，嘔吐吞酸，而血下崩者，人皆以
      火治之，時而效，時而不效，其故何也？是不識為肝氣之鬱結也。
      夫肝主藏血，氣結而血亦結，何以反至崩記？蓋肝之性急，氣結則
      其急更甚，更急則血不能藏，故崩不免也。治法宜以開鬱為主，若
      徒開其鬱，而不知平肝，則肝氣大開，肝火更熾，而血亦不能止矣
      。方用平肝開鬱止血湯。

 　　   白芍（一兩，醋炒）　    白朮（一兩，土炒）　
        當歸（一兩，酒洗）      丹皮（三錢）　　　　
        三七根（三錢，研末）    生地（三錢，酒炒）
        甘草（二錢）　　　　    黑芥穗（二錢）　　　
        柴胡（一錢）

          水煎服。一劑嘔吐止，二劑乾渴除，四劑血崩愈。方中妙在白
      芍之平肝，柴胡之開鬱，白朮利腰臍，則血無積住之虞。荊芥通經
      絡，則血有歸還之樂。丹皮又清骨髓之熱。生地復清臟腑之炎。當
      歸、三七於補血之中，以行止血之法，自然鬱結散而血崩止矣。

          此方入貫仲炭三錢更妙。

<hr class="分段">
篇名：閃跌血崩
出典：傅青主女科上卷＼血崩
內文：    婦人有升高墜落，或閃挫受傷，以致惡血下流，有如血崩之狀
      者，若以崩治，非徒無益而又害之也。蓋此症之狀，必手按之而疼
      痛，久之則面色痿黃，形容枯搞，乃是瘀血作祟，並非血崩可出。
      倘不知解瘀而用補澀，則瘀血內攻，疼無止時，反致新血不得生，
      舊血無由化，死不能悟，豈不可傷哉！治法須行血以去瘀，活血以
      止疼，則血自止而愈矣。方用逐瘀止血湯。

        生地（一兩，酒炒）　    大黃（三錢）　　　　
        赤芍（三錢）            丹皮（一錢）　　　　
        當歸尾（五錢）　　　    枳殼（五錢，炒）
        龜板（三錢，醋炙）　    桃仁（十粒，泡炒，研）

          水煎服。一劑疼輕，二劑疼止，三劑血亦全止，不必再服矣。
      此方之妙，妙於活血之中，佐以下滯之品，故逐瘀如掃，而止血如
      神。或疑跌閃升墜，是由外而傷內，雖不比內傷之重，而既已血崩
      ，則內之所傷，亦不為輕，何以只治其瘀而不顧氣也？殊不知跌閃
      升墜，非由內傷以及外傷者可比。蓋本實不撥，去其標病可耳，故
      日急則治其標。

          凡跌打損傷致唾血，嘔血皆宜如此治法，若血聚胃中，宜加川
      厚樸一錢半，薑汁炒。

<hr class="分段">
篇名：血海太熱血崩
出典：傅青主女科上卷＼血崩
內文：    婦人有每行人道，經水即來，一如血崩，人以為胞胎有傷，觸
      之以動其血也，誰知是子宮血海因太熱而不固乎！夫子宮即在胞胎
      之下，而血海又在胞胎之上。血海者，衝脈也。衝脈太寒而血即虧
      ，衝脈太熱而血即沸，血崩之為病，正衝脈之火熱也。然既由衝脈
      之熱，則應常崩而無有止時，何以行人道而始來，果與肝木無恙耶
      ？夫脾健則能攝血，肝平則能藏血。人未入房之時，君相二火，寂
      然不動，雖衝脈獨熱，而血亦不至外馳。及有人道之感，則子宮大
      開，君相火動，以熱招熱，同氣相求，翕然齊動，以鼓其精房，血
      海泛濫，有不能止遏之勢，肝欲藏之而不能，脾欲攝之而不得，故
      經水隨交感而至，若有聲應之捷，是惟火之為病也。治法必須滋陰
      降火，以清血海而和子宮，則終身之病，可半載而除矣。然必絕欲
      三月而後可，方用清海丸。

        大熟地（一斤，九蒸）    山萸（十兩，蒸）　　
        山藥（十兩，炒）        丹皮（十兩）　　　　
        北五味（二兩，炒）　    麥冬肉（十兩）
        白朮（一斤，土炒）　    白芍（一斤，酒炒）　
        龍骨（二兩）            地骨皮（十兩）　　　
        乾桑葉（一斤）　　　    元參（一斤）
        沙參（十兩）　　　　    石斛（十兩）

          上十四味，各為細末，合一處，煉蜜丸桐子大，早晚每服五錢
      ，白滾水送下，半載全愈。此方補陰而無浮動之慮，縮血而無寒涼
      之苦，日計不足，月計有餘，潛移默奪，子宮清涼，而血海自固。
      倘不揣其本而齊其末，徒以發灰、白礬，黃連炭、五倍子等藥末，
      以外治其幽隱之處，則恐愈澀而愈流，終必至於敗亡也。可不慎與
      ！

<hr class="分段">
篇名：經水先期
出典：傅青主女科上卷＼調經
內文：    婦人有先期經來者，其經甚多，人以為血熱之極也，誰知是腎
      中水火太旺乎！夫火太旺則血熱，水太旺則血多，此有餘之病，非
      不足之症也，似宜不藥有喜。但過於有餘，子宮太熱，亦難受孕，
      更恐有爍乾男精之慮，過者損之，謂非既濟之道乎！然而火不可任
      其有餘，而水斷不可使之不足。治之法但少清其熱，不必泄其水也
      。方用清經散。

        丹皮（三錢）　　　　    地骨皮（五錢）　　　
        白芍（三錢，酒炒）      大熟地（三錢，九蒸）
        青蒿（二錢）　　　　    白茯苓（一錢）
        黃柏（五分，鹽水浸炒）

          水煎服。二劑而火自平。此方雖是清火之品，然仍是滋水之味
      ，火泄而水不與俱泄，損而益也。

          又有先期經來只一、二點者，人以為血熱之極也，誰知腎中火
      旺而陰水虧乎！夫同是先期之來，何以分虛實之異？蓋婦人之經最
      難調，茍不分別細微，用藥鮮克有效。先期者火氣之衝，多寡者水
      氣之驗，故先期而來多者，火熱而水有餘也；先期而來少者，火熱
      而水不足也。倘一見先期之來，俱以為有餘之熱，但泄火而不補水
      ，或水火兩泄之，有不更增其病者乎！治之法不必泄火，只專補水
      ，水既足而火自消矣，亦既濟之道也。方用兩地湯。

        大生地（一兩，酒炒）    元參（一兩）　　　　
        白芍藥（五錢，酒炒）    麥冬肉（五錢）　　　
        地骨皮（三錢）　　　    阿膠（三錢）

          水煎服。四劑而經調矣。此方之用地骨、生地，能清骨中之熱
      。骨中之熱，由於腎經之熱，清其骨髓，則腎氣自清，而又不損傷
      胃氣，此治之巧也。況所用諸藥，又純是補水之味，水盛而火自平
      理也。此條與上條參觀，斷無誤治先期之病矣。

<hr class="分段">
篇名：經水後期
出典：傅青主女科上卷＼調經
內文：    婦人有經水後期而來多者，人以為血虛之病也，誰知非血虛乎
      ！蓋後期之多少，實有不同，不可執一而論。蓋後期而來少，血寒
      而不足；後期而來多，血寒而有餘。夫經本於腎，而其流五臟六腑
      之血皆歸之，故經來而諸經之血盡來附益，以經水行而門啟不遑迅
      闔，諸經之血乘其隙而皆出也，但血既出矣，則成不足。治法宜於
      補中溫散之，不得曰後期者俱不足也。方用溫經攝血湯。

        大熟地（一兩，九蒸）    白芍（一兩，酒炒）　
        川芎（五錢，酒洗）      白朮（五錢，土炒）　
        柴胡（五分）　　　　    五味子（三分）
        續斷（一錢）　　    　　肉桂（五分，去粗，研）

          水煎服。三劑而經調矣。此方大補肝、腎‧脾之精與血，加肉
      桂以袪其寒，柴胡以解其鬱，是補中有散，而散不耗氣；補中有泄
      ，而泄不損陰，所以補之有益，而溫之收功，此調經之妙藥也，而
      攝血之仙丹也。凡經來後期者，俱可用。倘元氣不足，加人參一、
      二錢亦可。

<hr class="分段">
篇名：經水先後無定期
出典：傅青主女科上卷＼調經
內文：    婦人有經來斷續，或前或後無定期，人以為氣血之虛也，誰知
      是肝氣之鬱結乎！夫經水出諸腎，而肝為腎之子，肝鬱則腎亦鬱矣
      ；腎鬱而氣必不宣，前後之或斷或續，正腎之或通或閉耳；或曰肝
      氣鬱而腎氣不應，未必至於如此。殊不知子母關切，子病而母必有
      顧復之情，肝鬱而腎不無繾緒之誼，肝氣之或開或閉，即腎氣之或
      去或留，相因而致，又何疑焉。治法宜舒肝之鬱，即開腎之鬱也，
      肝腎之鬱既開，而經水自有一定之期矣。方用定經湯。

        菟絲子（一兩，酒炒）    白芍（一兩，酒炒）　
        當歸（一兩，酒洗）      大熟地（五錢，九蒸）
        山藥（五錢，炒）　　    白茯苓（三錢）
        芥穗（二錢，炒黑）　    柴胡（五分）

          水煎服。二劑而經水淨，四劑而經期定矣。此方舒肝腎之氣，
      非通經之藥也；補肝腎之精，非利水之品也，肝腎之氣舒而精通，
      肝腎之精旺而水利，不治之治，正妙於治也。

          以上調經三條辨論明晰，立方微妙，但恐臨時或有外感，內傷
      不能見效，有外感者宜加蘇葉一錢，有內傷者宜加神曲二錢（炒）
      ，有因肉食積滯者再加東山查肉二錢（炒），臨症須酌用之。若肝
      氣鬱抑又當以逍遙散為主，有熱加梔炭、丹皮即加味逍遙散。

<hr class="分段">
篇名：經水數月一行
出典：傅青主女科上卷＼調經
內文：    婦人有數月一行經者，每以為常，亦無或先或後之異，亦無或
      多或少之殊，人莫不以為異，而不知非異也。蓋無病之人，氣血兩
      不虧損耳。然嗜欲損夭之人，亦復甚多，又不可不立一療救之方以
      輔之，方名助仙丹。

        白茯苓（五錢）　　　    陳皮（五錢）　　　　
        白朮（三錢，土炒）      白芍（三錢，酒炒）　
        山藥（三錢，炒）　　    菟絲子（二錢，酒炒）
        杜仲（一錢，炒黑）　    甘草（一錢）

          河水煎服。四劑而仍如其舊，不可再服也。此方平補之中，實
      有妙理。健脾益腎而不滯，解鬱清痰而不泄，不損天然之氣血，便
      是調經之大法，何得用他藥以冀通經哉！

<hr class="分段">
篇名：年老經水復行
出典：傅青主女科上卷＼調經
內文：    婦人有年五十外或六、七十歲忽然行經者，或下紫血塊、或如
      紅血淋，人或謂老婦行經，是還少之象，誰知是血崩之漸乎！夫婦
      人至七七之外，天癸已竭，又不服濟陰補陽之藥，如何能精滿化經
      ，一如少婦。然經不宜行而行者，乃肝不藏脾不統之故也，非精過
      泄而動命門之火，即氣鬱甚而發龍雷之炎，二火交發，而血乃奔矣
      ，有似行經而實非經也。此等之症，非大補肝脾之氣與血，而血安
      能驟止。方用安老湯。

        人參（一兩）　　　　    黃耆（一兩，生用）　
        大熟地（一兩，九蒸）    白朮（五錢，土炒）　
        當歸（五錢，酒洗）　    山萸（五錢，蒸）
        阿膠（一兩，蛤粉炒）    黑芥穗（一錢）　　　
        甘草（一錢）            香附（五分，酒炒）　
        木耳炭（一錢）

          水煎服。一劑減，二劑尤減，四劑全減，十劑愈。此方補益肝
      脾之氣，氣足自能生血而攝血。尤妙大補腎水，水足而肝氣自舒，
      肝舒而脾自得養，肝藏之而脾統之，又安有泄漏者，又何慮其血崩
      哉！

          加貫仲炭一錢，研細末，以藥沖服尤妙。

<hr class="分段">
篇名：經水忽來忽斷時疼時止
出典：傅青主女科上卷＼調經
內文：    婦人有經水忽來忽斷，時疼時止，寒熱往來者，人以為血之凝
      也，誰知是肝氣不舒乎！夫肝屬木而藏血，最惡風寒。婦人當行經
      之際，腠理大開，適逢風之吹寒之襲，則肝氣為之閉塞，而經水之
      道路亦隨之而俱閉，由是腠理經絡，各皆不宣，而寒熱之作，由是
      而起。其氣行於陽分則生熱，其氣行於陰分則生寒，然此猶感之輕
      者也。倘外感之風寒更甚，則內應之熱氣益深，往往有熱入血室，
      而變為如狂之症。若但往來寒熱，是風寒未甚而熱未深耳。治法宜
      補肝中之血，通其鬱而散其風，則病隨手而效，所謂治風先治血，
      血和風自滅，此其一也。方用加味四物湯。

        大熟地（一兩，九蒸）    白芍（五錢，酒炒）　
        當歸（五錢，酒洗）      川芎（三錢，酒洗）　
        白朮（五錢，土炒）　    粉丹皮（三錢）
        元胡（一錢，酒炒）　    甘草（一錢）　　　　
        柴胡（一錢）

          水煎服。此方用四物以滋脾胃之陰血；用柴胡、白芍、丹皮以
      宣肝經之風鬱；用甘草‧白朮，元胡以利腰臍而和腹疼，入於表裡
      之間，通乎經絡之內，用之得宜，自奏功如響也。

          加荊芥穗（炒黑）一錢，尤妙。

<hr class="分段">
篇名：經水未來腹先疼
出典：傅青主女科上卷＼調經
內文：    婦人有經前腹疼數日，而後經水行者，其經來多是紫黑塊，人
      以為寒極而然也，誰知是熱極而火不化乎！夫肝屬木，其中有火，
      舒則通暢，鬱則不揚，經欲行而肝不應，則抑拂其氣而疼生。然經
      滿則不能內藏，而肝中之鬱火焚燒，內逼經出，則其火亦因之而怒
      泄。其紫黑者，水火兩戰之象也。其成塊者，火煎成形之狀也。經
      失其為經者，正鬱火內奪其權耳。治法似宜大泄肝中之火，然泄肝
      之火，而不解肝之鬱，則熱之標可去，而熱之本未除也，其何能益
      ！方用宣鬱通經湯。

        白芍（五錢，酒炒）　    當歸（五錢，酒洗）　
        丹皮（五錢）            山梔子（三錢，炒）　
        白芥子（二錢，炒研）    柴胡（一錢）
        香附（一錢，酒炒）　    川鬱金（一錢，醋炒）
        黃芩（一錢，酒炒）      生甘草（一錢）

          水煎。連服四劑，下月斷不先腹疼而後行經矣。此方補肝之血
      ，而解肝之鬱，利肝之氣，而降肝之火，所以奏功之速。

<hr class="分段">
篇名：行經後少腹疼痛
出典：傅青主女科上卷＼調經
內文：    婦人有少腹疼於行經之後者，人以為氣血之虛也，誰知是腎氣
      之涸乎！夫經水者，乃天一之真水也，滿則溢而虛則閉，亦其常耳
      ，何以虛能作疼哉？蓋腎水一虛則水不能生木，而肝木必克脾土，
      木土相爭，則氣必逆，故爾作疼。治法必須以舒肝氣為主，而益之
      以補腎之味，則水足而肝氣益安，肝氣安而逆氣自順，又何疼痛之
      有哉！方用調肝湯。

        山藥（五錢，炒）　　    阿膠（三錢，白麵炒）
        當歸（三錢，酒洗）      白芍（三錢，酒炒）　
        山萸肉（三錢，蒸熟）    巴戟（一錢，鹽水浸）
        甘草（一錢）

          水煎服。此方平調肝氣，既能轉逆氣，又善止鬱疼。經後之症
      ，以此方調理最佳。不特治經後腹疼之症也。

          經前經後腹痛二方極妙，不可加減。若有別症亦宜此方為主，
      另加藥味治之。原方不可減去一味。

<hr class="分段">
篇名：經前腹疼吐血
出典：傅青主女科上卷＼調經
內文：    婦人有經未行之前一二日忽然腹疼而吐血，人以為火熱之極也
      ，誰知是肝氣之逆乎！夫肝之性最急，宜頂而不宜逆，順則氣安，
      逆則氣動；血隨氣為行止，氣安則血安，氣動則血動，亦勿怪其然
      也。或謂經逆在腎不肝，何以隨血妄行，竟至從口上出也，是肝不
      藏血之故乎？抑腎不納氣而然乎？殊不知少陰之火急如奔馬，得肝
      火直衝而上，其勢最捷，反經而為血，亦至便也，正不必肝不藏血
      ，始成吐血之症，但此等吐血與各經之吐血有不同者。蓋各經之吐
      血，由內傷而成，經逆而吐血，乃內溢而激之使然也，其症有絕異
      ，而其氣逆則一也。治法似宜平肝以順氣，而不必益精以補腎矣。
      雖然，經逆而吐血，雖不大損夫血，而反復顛倒，未免太傷腎氣，
      必須於補腎之中，用順氣之法始為得當。方用頂經湯。

        當歸（五錢，酒洗）　    大熟地（五錢，九蒸）
        白芍（二錢，酒炒）      丹皮（五錢）　　　　
        白茯苓（三錢）　　　    沙參（三錢）
 　　   黑芥穗（三錢）

          水煎服。一劑而吐血止，二劑而經順，十劑不再發。此方於補
      腎調經之中，而用引血歸經之品，是和血之法，實寓順氣之法也。
      肝不逆而腎氣自順，腎氣既順，又何經逆之有哉！

          婦人年壯吐血往往有之，不可作勞症治。若認為勞症，必至肝
      氣愈逆，非勞反成勞矣。方加莆草一錢，懷牛膝八分尤妙。

<hr class="分段">
篇名：經水將來臍下先疼痛
出典：傅青主女科上卷＼調經
內文：    婦人有經水將來三五日前而臍下作疼，狀如刀刺者；或寒熱交
      作，所下如黑豆汁，人莫不以為血熱之極，誰知是下焦寒濕相爭之
      故乎！夫寒濕乃邪氣也。婦人有衝任之脈，居於下焦。衝為血海，
      任主胞胎，為血室，均喜正氣相通，最惡邪氣相犯。經水由二經而
      外出，而寒濕滿二經而內亂，兩相爭而作疼痛，邪愈盛而正氣日衰
      。寒氣生濁，而下如豆汁之黑者，見北方寒水之象也。治法利其濕
      而溫其寒，使衝任無邪氣之亂，臍下自無疼痛之疚矣。方用溫臍化
      濕湯。

 　　   白朮（一兩，土炒）　    白茯苓（三錢）　　　
        山藥（五錢，炒）        巴戟肉（五錢，鹽水浸）
        扁豆（炒，搗，三錢）    白果（十枚，搗碎）　
        建蓮子（三十枚，不去心）

          水煎服。然必須經未來前十日服之。四劑而邪氣去，經水調，
      兼可種子。此方君白朮以利腰臍之氣；用巴戟、白果以通任脈；扁
      豆、山藥、蓮子以衛衝脈，所以寒濕掃除而經水自調，可受妊矣。
      倘疑腹疼為熱疾，妄用寒涼，則衝任虛冷，血海變為冰海，血室反
      成冰室，無論難於生育，而疼痛之止，又安有日哉！

          衝任之氣宜通不宜降，故化濕不用蒼朮，薏仁。餘宜類參。

<hr class="分段">
篇名：經水過多
出典：傅青主女科上卷＼調經
內文：    婦人有經水過多，行後復行，面色痿黃，身體倦怠，而困乏愈
      甚者，人以為血熱有餘之故，誰知是血虛而不歸經乎！失血旺始經
      多，血虛當經縮。今日血虛而反多經多，是何言與？殊不知血歸於
      經，雖旺而經亦不多；血不歸經，雖衰而經亦不少，世之人見經水
      過多，謂是血之旺也，此治之所以多錯耳。倘經多果是血旺，自是
      健壯之體，須當一行即止，精力如常，何至一行後而再行，而困乏
      無力耶！惟經多是血之虛，故再行而不勝其困乏，血損精散，骨中
      髓空，所以不能色華於面也。治法宜大補血而引之歸經，又安有行
      後復行之病哉！方用加減四物湯。

        大熟地（一兩，九蒸）    白芍（三錢，酒炒）　
        當歸（五錢，酒洗）      川芎（二錢，酒洗）　
        白朮（五錢，土炒）　    黑芥穗（三錢）
        山萸（三錢，蒸）　　    續斷（一錢）　　　　
        甘草（一錢）

          水煎服。四劑而血歸經矣。十劑之後，加人參三錢，再服十劑
      ，下月行經，適可而止矣。夫四物湯乃補血之神品，加白朮，荊芥
      ，補中有利；加山萸、續斷，止中有行；加甘草以調和諸品，使之
      各得其宜，所以血足而歸經，歸經而血自靜矣。

          荊芥稼炭穗引血歸經。方妙極不可輕易加減。

<hr class="分段">
篇名：經前泄水
出典：傅青主女科上卷＼調經
內文：    婦人有經未來之前，泄水三日，而後行經者，人以為血旺之故
      ，誰知是脾氣之虛乎！夫脾統血，脾虛則不能攝血矣；且脾屬濕土
      ，脾虛則土不實，土不實而濕更甚，所以經水將動，而脾先不固；
      脾經所統之血，欲流注於血海，而濕氣乘之，所以先泄水而後行經
      也。調經之法，不在先治其水，而在先治其血；抑不在先治其血，
      而在先補其氣。蓋氣旺而血自能生，抑氣旺而濕自能除，且氣旺而
      經自能調矣。方用健固湯。

        人參（五錢）　　　　    白茯苓（三錢）　　　
        白朮（一兩，土炒）      巴戟（五錢，鹽水浸）
        薏苡仁（三錢，炒）

          水煎。連服十劑，經前不泄水矣。此方補脾氣以固脾血，則血
      攝於氣之中，脾氣日盛，自能運化其濕，濕既化為烏有，自然經水
      調和，又何至經前泄水哉！

<hr class="分段">
篇名：經前大便下血
出典：傅青主女科上卷＼調經
內文：    婦人有行經之前一日大便先出血者，人以為血崩之症，誰知是
      經流於大腸乎！夫大腸與行經之路，各有分別，何以能入乎其中？
      不知胞胎之係，上通心而下通腎，心腎不交，則胞胎之血，兩無所
      歸，而心腎二經之氣，不來照攝，聽其自便，所以血不走小腸而走
      大腸也。治法若單止大腸之血，則愈止而愈多；若擊動三焦之氣，
      則更拂亂而不可止。蓋經水之妄行，原因心腎之不交；今不使水火
      之既濟，而徒治其胞胎，則胞胎之氣無所歸，而血安有歸經之日！
      故必大補其心與腎，便心腎之氣交，而胞胎之氣自不散，則大腸之
      血自不妄行，而經自順矣。方用順經兩安湯。

        當歸（五錢，酒洗）　    白芍（五錢，酒炒）
        大熟地（五錢，九蒸）    山萸肉（二錢，蒸）　
        人參（三錢）　　　      白朮（五錢，土炒）
        麥冬（五錢，去心）　    黑芥穗（二錢）　　
        巴戟肉（一錢，鹽水浸）  升麻（四分）

          水煎服。二劑大腸血止，而經從前陰出矣，三劑經止，而兼可
      受妊矣。此方乃大補心肝腎三經之藥，全不去顧胞胎，而胞胎有所
      歸者，以心腎之氣交也。蓋心腎虛則其氣兩分；心腎足則其氣兩合
      ，心與腎不離，而胞胎之氣聽命於二經之攝，又安有妄動之形哉！
      然則心腎不交，補心腎可也，又何兼補夫肝木耶？不知肝乃腎之子
      心之母也，補肝則肝氣往來於心腎之間，自然上引心而下入於腎，
      下引腎而上入於心，不啻介紹之助也。此便心腎相交之一大法門，
      不特調經而然也，學者其深思諸。

          若大便下血過多，精神短少，人愈消瘦，必係肝氣不舒，久鬱
      傷脾，脾傷不能統血又當分別治之。方用補血湯，嫩黃耆二兩（生
      熟各半），歸身四錢（酒洗，炒黑），杭芍炭二錢，焦白朮五錢（
      土炒），杜仲二錢（炒斷絲），荊芥炭二錢，薑炭二錢，引用貫仲
      炭一錢衝入服之，四劑必獲愈，愈後減半再服二劑。經入大腸必當
      行經之際而大便下血也，初病血雖錯行精神必照常，若脾不統血精
      神即不能照常矣，用者辨之。

<hr class="分段">
篇名：年未老經水斷
出典：傅青主女科上卷＼調經
內文：    經云：「女子七七而天癸絕。」有年未至七七而經水先斷者，
      人以為血枯經閉也，誰知是心肝脾之氣鬱乎！使其血枯，安能久延
      於人世。醫見其經水不行，妄謂之血枯耳，其實非血之枯，乃經之
      閉也。且經原非血也，乃天一之水，出自腎中，是至陰之精而有至
      陽之氣，故其色赤紅似血，而實非血，所以謂之天癸。世人以經為
      血，此千古之誤，牢不可破，倘果是血，何不名之曰血水，而曰經
      水乎！經水之名者，原以水出於腎，乃癸干之化，故以名之。無如
      世人沿襲而不深思其旨，皆以血視之。然則經水早斷，似乎腎水衰
      涸。吾以為心肝脾氣之鬱者，蓋以腎水之生，原不由於心肝脾，而
      腎水之化，實有關於心肝脾。使水位之下無土氣以承之，則水濫滅
      火，腎氣不能化；火位之下無水氣以承之，則火炎鍊金，腎氣無所
      生；木位之下無金氣以承之，則木妄破土，腎氣無以成。倘心肝脾
      有一經之鬱，則其氣不能入於腎中，腎之氣即鬱而不宣矣。況心肝
      脾俱鬱，即腎氣真足而無虧，尚有茹而難吐之勢。則腎氣本虛，又
      何能盈滿而化經水外泄耶！經日“亢則害”，此之謂也。此經之所
      以閉塞有似乎血枯，而實非血枯耳。治法必須散心肝脾之鬱，而大
      補其腎水，仍大補其心肝脾之氣，則精溢而經水自通矣。方用益經
      湯。

        大熟地（一兩，九蒸）    白朮（一兩，土炒）
        山藥（五錢，炒）        當歸（五錢，酒洗）
        白芍（三錢，酒炒）      生棗仁（三錢，搗碎）
        丹皮（二錢）　　　　    沙參（三錢）　　　　
        柴胡（一錢）            杜仲（一錢，炒黑）　
        人參（二錢）

          水煎。連服八劑而經通矣，服三十劑而經不再閉，兼可受孕。
      此方心肝脾腎四經同治藥也。妙在補以通之，散以開之；倘徒補則
      鬱不開而生火，徒散則氣益衰而耗精；設或用攻堅之劑，辛熱之品
      ，則非徒無益，而又害之矣。

<hr class="分段">
篇名：妊娠惡阻
出典：傅青主女科下卷＼妊娠
內文：　　婦人懷娠之後，惡心嘔吐，思酸解渴，見食憎惡，困倦欲臥，
      人皆曰妊娠惡阻也，誰知肝血太燥乎！夫婦人受妊，本於腎氣之旺
      也，腎旺是以攝精，然腎一受精而成娠，則腎水生胎，不暇化潤於
      五臟；而肝為腎之子，日食母氣以舒，一日無津液之養，則肝氣迫
      索，而腎水不能應，則肝益急，肝急則火動而逆也；肝氣既逆，是
      以嘔吐惡心之症生焉。嘔吐縱不至太甚，而其傷氣則一也。氣既受
      傷，則肝血愈耗，世人用四物湯治胎前諸症者，正以其能生肝之血
      也。然補肝以生血，未為不佳，但生血而不知生氣，則脾胃衰微，
      不勝頻嘔，猶恐氣虛則血不易生也。故於平肝補血之中，加以健脾
      開胃之品，以生陽氣，則氣能生血，尤益胎氣耳。或疑氣逆而用補
      氣之藥，不益助其逆乎！不知妊娠惡阻，其逆不甚，且逆是因虛而
      逆，非因邪而逆也。因邪而逆者，助其氣則逆增；因虛而逆者，補
      其氣則逆轉。況補氣於補血之中，則陰足以制陽，又何慮其增逆乎
      ！宜用順肝益氣湯。

        人參（一兩）　　　　    當歸（一兩，酒洗）　
        蘇子（一兩，炒，研）    白朮（三錢，土炒）　
        茯苓（二錢）　　        熟地（五錢，九蒸）
        白芍（三錢，酒炒）　    麥冬（三錢，去心）　
        陳皮（三分）            砂仁（一粒，烘，研）
        神曲（一錢，炒）

          水煎。服一劑輕，二劑平，三劑全愈。此方平肝則肝逆除，補
      腎則肝燥息，補氣則血易生。凡胎病而少帶惡阻者，俱以此方投之
      無不安，最有益於胎婦，其功更勝於四物焉。

          蘇子一兩，疑是一錢之誤。

<hr class="分段">
篇名：妊娠浮腫
出典：傅青主女科下卷＼妊娠
內文：　　妊婦有至五個月，肢體倦怠，飲食無味，先兩足腫，漸至遍身
      頭面俱腫，人以為濕氣便然也，誰知是脾肺氣虛乎！夫妊娠雖有按
      月養胎之分，其實不可拘於月數，總以健脾補肺為大綱。蓋脾統血
      ，肺主氣，胎非血不蔭，非氣不生，脾健則血旺而蔭胎，肺清則氣
      旺而生子。茍肺衰則氣餒，氣餒則不能運氣於皮膚矣；脾虛則血少
      ，血少則不能運血於肢體矣。氣與血兩虛，脾與肺失職，所以飲食
      難消，精微不化，勢必至氣血下陷，不能升舉，而濕邪即乘其所虛
      之處，積而成浮腫症，非由脾肺之氣血虛而然耶。治法當補其脾之
      血與肺之氣，不必袪濕，而濕自無不去之理。方用加減補中益氣湯
      。

        人參（五錢）            黃耆（三錢，生用）
        柴胡（一錢）            甘草（一分）　
      　當歸（三錢，酒洗）　    白朮（五錢，土炒）
        茯苓（一兩）　          升麻（三分）
        陳皮（三分）

          水煎。服四劑即愈，十劑不再犯。夫補中益氣湯之立法也，原
      是升提脾肺之氣，似乎益氣而不補血，然而血非氣不生，是補氣即
      所以生血。觀當歸補血湯用黃耆為君，則較著彰明矣。況濕氣乘脾
      肺之虛而相犯，未便大補其血，恐陰太盛而招陰也。只補氣而助以
      利濕之品，則氣升而水尤易散，血亦隨之而生矣。然則何以重用茯
      苓而至一兩，不凡以利濕為君乎？磋！磋！濕症而不以此藥為君，
      將以何者為君乎！況重用茯苓於補氣之中，雖曰滲濕，而仍是健脾
      清肺之意。且凡利水之品，多是耗氣之藥，而茯苓與參朮合，實補
      多於利，所以重用之以分濕邪，即以補氣血耳。

<hr class="分段">
篇名：妊娠少腹疼
出典：傅青主女科下卷＼妊娠
內文：　　妊娠少腹作疼，胎動不安，如有下墮之狀，人只知帶脈無力也
      ，誰知是脾腎之虧乎；夫胞胎雖係於帶脈，而帶脈實關於脾腎。脾
      腎虧損，則帶脈無力，胞胎即無以勝任矣。況人之脾腎虧損者，非
      飲食之過傷，即色欲之太甚。脾腎虧則帶脈急，胞胎所以有下墜之
      狀也。然則胞胎之係，通於心與腎，而不通於脾，補腎可也，何故
      補脾？然脾為後天，腎為先天，脾非先天之氣不能化，腎非後天之
      氣不能生，補腎而不補脾，則腎之精何以遽生也，是補後天之脾，
      正所以補先天之腎也；補先後二天之脾與腎，正所以固胞胎之氣與
      血，脾腎可不均補乎！方用安奠二天湯。

        人參（一兩，去蘆）　    熟地（一兩，九蒸）
        白朮（一兩，土炒）      山藥（五錢，炒）
        炙草（一錢）            山萸（五錢，蒸，去核）
        杜仲（三錢，炒黑）      枸杞（二錢）
        扁豆（五錢，炒，去皮）

          水煎。服一劑而疼止，二劑而胎安矣。夫胎動乃脾腎雙虧之症
      ，非大用參、朮、熟地補陰補陽之品，斷不能挽回於頃刻。世人往
      往畏用參朮或少用，以冀建功，所以寡效。此方正妙在多用也。

          人參一兩，或以黨參代之，無上黨參者，以嫩黃耆代之。

<hr class="分段">
篇名：妊娠口乾咽疼
出典：傅青主女科下卷＼妊娠
內文：　　妊婦至三四個月，自覺口乾舌燥，咽喉微痛，無津以潤，以至
      胎動不安，甚則血流如經水，人以為火動之極也，誰知是水虧之甚
      乎；夫胎也者，本精與血之相結可成，逐月養胎，古人每分經絡，
      其實均不離腎水之養，故腎水足而胎安，腎水虧而胎動。雖然腎水
      虧又何能動胎，必腎經之火動，而胎始不安耳。然而火之有餘，仍
      是水之不足，所以火炎而胎必動，補水則胎自安，亦所濟之義也。
      惟是腎水不能逮生，必須滋補肺金，金潤則能生水，而水有逢源之
      樂矣。水既有源泉混混；而火又何難制乎。再少加以清熱之品，則
      胎自無不安矣。方用潤燥安胎湯。

　　    熟地（一兩，九蒸）      生地（三錢，蒸）
        炒山萸肉（五錢，蒸）    麥冬（五錢，去心）
        五味（一錢，炒）        阿膠（二錢，蛤粉炒）
        黃芩（二錢，酒炒）      益母（二錢）

          水煎。服二劑而燥息，再二劑而胎安。連服十劑，而胎不再動
      矣。此方專填腎中之精，而兼補肺。然補肺仍是補腎之意，故腎經
      不乾燥，則火不能灼，胎焉有不安之理乎！

          方極妙，用之立應。萬不可因咽病而加豆根，射干等藥；亦不
      可因過潤而加雲苓。

<hr class="分段">
篇名：妊娠吐瀉腹疼
出典：傅青主女科下卷＼妊娠
內文：　　妊婦上吐下瀉，胎動欲墮，腹疼難忍，急不可緩，此脾胃虛極
      而然也。夫脾胃之氣虛，則胞胎無力，必有崩墜之虞。況又上吐下
      瀉，則脾與胃之氣，因吐瀉而愈虛，欲胞胎之無恙也得乎！然胞胎
      疼痛而究不至下墜者，何也？全賴腎氣之固也。胞胎係於腎而連於
      心，腎氣固則交於心，其氣通於胞胎，此胞胎之所以欲墜而不得也
      。且腎氣能固，則陰火必來生脾；，心氣能通，則心火必來援胃，
      脾胃雖虛而未絕，則胞胎雖動而不墮，可不急救其脾胃乎！然脾胃
      當將絕而未絕之時，只救脾胃而難遽生，更宜補其心腎之火，使之
      生土，則兩相接續，胎自固而安矣。方用援土固胎湯。

        人參（一兩）            白朮（二兩，土炒）
        山藥（一兩，炒）        肉桂（二錢，去粗，研）
        制附子（五分）          續斷（三錢）
        杜仲（三錢，炒黑）      山萸（一兩，蒸，去核）
        枸杞（三錢）            菟絲子（三錢，酒炒）
        砂仁（三粒，炒，研）    炙草（一錢）

          水煎。服一劑而泄止，二劑而諸病盡愈矣。此方救脾胃之土十
      之八，救心腎之火十之二也。救火輕於救土者，豈以土欲絕而火未
      甚衰乎？非也。蓋土崩非重劑不能援，火衰雖小劑而可助，熱藥多
      用，必有太燥之虞，不比溫甘之品也。況胎動係土衰而非火弱，何
      用太熱。妊娠忌桂附，是恐傷胎，豈可多用。小熱之品，計之以錢
      ，大熱之品，計之以分者，不過用以引火，而非用以壯火也。其深
      思哉！

<hr class="分段">
篇名：妊娠子懸脅疼
出典：傅青主女科下卷＼妊娠
內文：　　妊婦有懷抱憂鬱，以致胎動不安，兩脅悶而疼痛，如弓上弦，
      人止知是子懸之病也，誰知是肝氣不通乎！夫養胎半係於腎水，然
      非肝血相助，腎水實有獨力難支之勢。故保胎必滋腎水，而肝血斷
      不可不顧，使肝氣不鬱，則肝之氣不閉，而肝之血必旺，自然灌慨
      胞胎，合腎水而並協養胎之力。今肝氣因憂鬱而閉塞，則胎無血蔭
      ，腎難獨任，而胎安得不上升以覓食，此乃鬱氣使然也。莫認為子
      之欲自懸，而妄用泄子之品，則得矣。治法宜開肝氣之鬱結，補肝
      血之燥乾，則子懸自定矣。方用解鬱湯。

　　    人參（一錢）            白朮（五錢，土炒）
        白茯苓（三錢）          當歸（一兩，酒洗）
        白芍（一兩，酒炒）      枳殼（五分，炒）
        砂仁（三粒，炒，研）    山梔子（三錢，炒）
        薄荷（二錢）

          水煎。服一劑而悶痛除，二劑而子懸定，至三劑而全安。去梔
      子，再多服數劑不復發。此乃平肝解鬱之聖藥，鬱開則木不克土，
      肝平則火不妄動。方中又有健脾開胃之品，自然水精四布，而肝與
      腎有潤澤之機，則胞胎自無乾燥之患，又何慮上懸之不愈哉！

          方加薏仁三、四錢，尤妙。

<hr class="分段">
篇名：妊娠跌損
出典：傅青主女科下卷＼妊娠
內文：　　妊婦有失足跌損，致傷胎元，腹中疼痛，勢如將墮者，人只知
      是外傷之為病也，誰知有內傷之故乎！凡人內無他症，胎元堅固，
      即或跌撲閃挫，依然無恙。惟內之氣血素虧，故略有閃挫，胎便不
      安。若止作閃挫外傷治，斷難奏功，且恐有因治而反墮者，可不慎
      與！必須大補氣血，而少加以行瘀之品，則瘀散胎安矣。但大補氣
      血之中，又宜補血之品多於補氣之藥，則無不得之。方用救損安胎
      湯。

　　    當歸（一兩，酒洗）      白芍（三錢，酒炒）
        生地（一兩，酒炒）      白朮（五錢，土炒）
        炙草（一錢）            人參（一錢）
　　    蘇木（三錢，搗碎）      乳香（一錢，去油）
        沒藥（一錢，去油）

          水煎。服一劑而疼痛止，二劑而勢不下墜矣，不必三劑也。此
      方之妙，妙在既能袪瘀而不傷胎，又能補氣補血，而不凝滯，周無
      通利之害，亦痊跌閃之傷，有益無損，大建奇功，即此方與。然不
      特治懷孕之閃挫也，即無娠閃挫，亦可用之。

          即用尋常白朮，土炒焦最妙，以其能理氣行血也。於白朮味過
      甘，不能理氣行血，用者知之

<hr class="分段">
篇名：妊娠小便下血病名胎漏
出典：傅青主女科下卷＼妊娠
內文：　　妊婦有胎不動腹不疼，而小便中時常有血流出者，人以為血虛
      胎漏也，誰知氣虛不能攝血乎！夫血只能蔭胎，而胎中之蔭血，必
      賴氣以衛之，氣虛下陷，則蔭胎之血亦隨氣而陷矣。然則氣虛下陷
      ，而血未嘗虛，似不應與氣同陷也。不知氣乃血之衛，血賴氣以固
      ，氣虛則血無憑依，無憑依必燥急，燥急必生邪熱；血寒則靜，血
      熱則動，動則外出而莫能遏，又安得不下流乎！倘氣不虛而血熱，
      則必大崩，而不止些微之漏矣。治法宜補其氣之不足，而泄其火之
      有餘，則血不必止而自無不止矣。方用助氣補漏湯。

　　    人參（一兩）            白芍（五錢，酒炒）
        黃芩（三錢，酒炒黑）    生地（三錢，酒炒黑）
        益母草（一錢）          續斷（二錢）
        甘草（一錢）

          水煎。服一劑而血止，二劑再不漏矣。此方用人參以補陽氣，
      用黃芩以泄陰火。火泄則血不熱而無欲動之機，氣旺則血有依而無
      可漏之竅，氣血俱旺而和協，自然歸經而各安其所矣，又安有漏泄
      之患哉！

          補血不用當歸妙，以當歸之香燥也。

<hr class="分段">
篇名：妊娠子鳴
出典：傅青主女科下卷＼妊娠
內文：　　妊婦懷胎至七八個月，忽然兒啼腹中，腰間隱隱作痛，人以為
      胎熱之過也，誰知是氣虛之故乎！治宜大補其氣，方用扶氣止啼湯
      。

　　    人參（一兩）            黃耆（一兩，生用）
        麥冬（一兩，去心）      當歸（五錢，酒洗）
        橘紅（五分）            甘草（一錢）
　　    花粉（一錢）

          水煎。服一劑而啼即止，二劑不再啼。此方用人參、黃耆、麥
      冬以補肺氣，使肺氣旺，則胞胎之氣亦旺，胞胎之氣旺，則胞中之
      子氣有不隨母之氣以為呼吸者，未之有也。

          黃耆用嫩黃耆，不可用箭耆，箭耆係北口外苜蓿根。

<hr class="分段">
篇名：妊娠腰腹疼渴汗燥狂即子狂
出典：傅青主女科下卷＼妊娠
內文：　　婦人懷妊有口渴汗出，大飲冷水，而煩躁發狂，腰腹疼痛，以
      致胎欲墮者，人莫不謂火盛之極也，抑知是何經之火盛乎？此乃胃
      火炎熾，熬煎胞胎之水，以致胞胎之水涸，胎失所養，故動而不安
      耳。夫胃為水谷之海，多氣多血之經，所以養五臟六腑者，蓋萬物
      皆生於土，土氣厚而物始生，土氣薄而物必死。然土氣之所以能厚
      者，全賴火氣之來生也；胃之能化水谷者，亦賴火氣之能化也。今
      胃中有火，宜乎生土，何以火盛而反致害乎？不知無火難以生土，
      而火又多能爍水。雖土中有火土不死，然亦必有水方不燥；使胃火
      太旺，必致爍乾腎水，土中無水，則自潤不足，又何以分潤胞胎；
      土爍之極，火勢炎蒸，犯心越神，兒胎受逼，安得不下墜乎！經所
      謂“二陽之病友心脾”者，正此義也。治法必須泄火滋水，使水氣
      得旺，則火氣自平，火平則汗、狂、燥、渴自除矣。方用息焚安胎
      湯。

        生地（一兩，酒炒）      青篙（五錢）
        白朮（五錢，土炒）      茯苓（三錢）
        人參（三錢）            知母（二錢）
        花粉（二錢）

          水煎。服一劑而狂少平，二劑而狂大定，三劑而火盡解，胎亦
      安矣。此方藥料頗重，恐人慮不勝，而不敢全用，又不得不再為囑
      之。懷胎而火勝若此，非大劑何以能蠲，火不息則狂不止，而胎能
      安耶！況藥料雖多，均是滋水之味，益而無損，勿過慮也。

<hr class="分段">
篇名：妊娠多怒墮胎
出典：傅青主女科下卷＼妊娠
內文：　　婦人有懷妊之後，未至成形，或已成形，其胎必墮，人皆曰氣
      血衰微，不能固胎也，誰知是性急怒多，肝火大動而不靜乎！夫肝
      本藏血。肝怒則不藏，不藏則血難固。蓋肝雖屬木，而木中實寄龍
      雷之火，所謂相火是也。相火宜靜不宜動，靜則安，動則熾。況木
      中之火，又易動而難靜。人生無日無動之時，即無日非動火之時。
      大怒則火益動矣，火動而不可止遏，則火勢飛揚，不能生氣養胎，
      而反食氣傷精矣；精傷財胎無所養，勢必不墜而不已。經所謂“少
      火生氣，壯火食氣”，正此義也。治法宜乎其肝中之火，利其腰臍
      之氣，便氣生失血而血清其火，則庶幾矣。方用利氣泄火湯。

        人參（三錢）            白朮（一兩，土炒）
        甘草（一錢）            熟地（五錢，九蒸）
        當歸（三錢，酒洗）      白芍（五錢，酒炒）
        芡實（三錢，炒）        黃芩（二錢，酒炒）

          水煎。服六十劑而胎不墜矣。此方名雖利氣而實補氣也。然補
      氣而不加以泄火之品，則氣旺而火不能平，必反害其氣也。故加黃
      芩於補氣之中以泄火；又有熟地、歸、芍以滋肝而壯水之主，則血
      不燥而氣得和，怒氣息而火自平，不必利氣而氣無不利，即無往而
      不利矣。

          性急怒多而不用舒肝藥者，以其有胎娠故也。經云：胎病則母
      病，胎安則母病自愈。所以妊娠一門總以補氣、養血、安胎為主，
      則萬病自除矣。

<hr class="分段">
篇名：行房小產
出典：傅青主女科下卷＼小產
內文：    妊婦因行房致小產血崩不止，人以為火動之極也，誰知是氣脫
      之故乎！血崩本於氣虛，火盛本於水虧，腎水既虧，則氣之生源涸
      矣；氣源既涸，而氣有不脫者乎？！此火動是標，而氣脫是本也。
      經云：「治病必求其本」，本固而標自立矣。若只以止血為主，而
      不急固其氣，則氣散不能速回，而血何由止！不大補其精，則水涸
      不能速長，而火且益熾，不揣其本，而齊其末，山未見有能濟者也
      。方用固氣填精湯。

        人參（一兩）            黃耆（一兩，生用）
        白朮（五錢，土炒）      大熟地（一兩，九蒸）
        當歸（五錢，酒洗）      三七（三錢，研末）
        荊芥穗（二錢，炒黑）

          水煎。服一劑而血止，二劑而身安，四劑則全愈。此方之妙，
      妙在不去清火，而惟補氣補精，其奏功獨神者，以諸藥溫潤能除大
      熱也。蓋熱是虛，故補氣自能攝血，補精自能止血，意在本也。

          小產血期多由行房而致。若年逾四十參耆宜倍用，熟地宜減半
      用，以其氣虛火衰也，否則每令氣脫不救。凡有妊娠者，須忍欲謹
      避房事，萬勿自蹈危途，慎之！

<hr class="分段">
篇名：閃跌小產
出典：傅青主女科下卷＼小產
內文：    妊婦有跌撲閃挫，遂致小產，血流紫塊，昏暈欲絕者，人皆曰
      瘀血作祟也，誰知是血室損傷乎！夫血室與胞胎相連，如唇齒之相
      依。胞胎有傷，則血室亦損，唇亡齒寒，理有必然也。然胞胎傷損
      而流血者，其傷淺；血室傷損而流血者，其傷深。傷之淺者，疼在
      腹；傷之深者，暈在心。同一跌撲損傷，而未小產與已小產，治不
      各不同。未小產而胎不安者，宜顧其胎，而不可輕去其血；已小產
      而血大崩，宜散其瘀，而不可重傷其氣。蓋胎已墮血既脫，而血室
      空虛，惟氣存耳。倘或再傷其氣，安保無氣脫之憂乎！經云：「血
      為營，氣為衛」。使衛有不固，則營無依而安矣。故必補氣以生血
      ，新血生而瘀血自散矣。方用理氣散絮湯。

        人參（一兩）            黃耆（一兩，生用）
        當歸（五錢，酒洗）      茯苓（三錢）
        紅花（一錢）            丹皮（三錢）
        薑炭（五錢）

          水煎。服一劑而流血止，二劑而昏暈除，三劑而全安矣。此方
      用人參、黃耆以補氣，氣旺則血可攝也。用當歸，丹皮以生血，血
      生則瘀難留也。用紅花、黑薑以活血，血活則暈可除也。用茯苓以
      利水，水利則血易歸經也。

          胎未墮宜加杜仲（炒炭）一錢，續斷（炒黑）一錢；若胎已墮
      服原方。血崩不止，加貫眾炭三錢；若血璧心暈，加元胡炭一錢。

<hr class="分段">
篇名：大便乾結小產
出典：傅青主女科下卷＼小產
內文：    妊婦有口渴煩躁，舌上生瘡，兩唇腫裂，大便乾結，數日不得
      通，以致腹疼小產者，人皆曰大腸之火熱也，誰知是血熱爍胎乎！
      夫血所以養胎也，溫和則胎受其益，太熱則胎受其損。如其熱久爍
      之，則兒在胞胎之中，若有探湯之苦，難以存活，則必外越下奔，
      以避炎氣之逼迫，欲其胎之下墜也得乎！然則血蔭乎胎，則血必虛
      耗。血者陰也，虛則陽亢，亢則害矣。且血乃陰水所化，血日蔭胎
      ，取給刻不容緩而火熾，陰水不能速生以化血，所以陰虛火動。陰
      中無非火氣，血中亦無非火氣矣，兩火相合，焚逼兒胎，此胎之所
      以下墜也。治法宜清胞中之火，補腎中之精，則可已矣。或疑兒已
      下墜，何故再顧其胞？血不蔭胎，何必大補其水？殊不知火動之極
      ，以致胎墜，則胞中純是一團火氣，此火乃虛火也。實火可泄，而
      虛火宜於補中清之，則虛火易散，而真火可生。倘一味清涼以降火
      ，全不顧胞胎之虛實，勢必至寒氣逼人，胃中生氣蕭索矣。胃乃二
      陽，資養五臟者也。胃陽不生，何以化精微以生陰水乎！有不變為
      勞瘵者幾希矣。方用加減四物湯。

        熟地（五錢，九蒸）      白芍（三錢，生用）
        當歸（一兩，酒洗）      川芎（一錢）
        山梔子（一錢，炒）      山萸（二錢，蒸，去核）
        山藥（三錢，炒）        丹皮（三錢，炒）

          水煎。服四，五劑而愈矣。丹皮性極涼血，產後用之，最防陰
      凝之害，慎之！

          此方加條芩二錢，尤妙。

<hr class="分段">
篇名：畏寒腹疼小產
出典：傅青主女科下卷＼小產
內文：    妊婦有畏寒腹疼，因而墮胎者，人只知下部太寒也，誰知是氣
      虛不能攝胎乎！夫人生於火，亦養於火，非氣不充，氣旺則火旺，
      氣衰則火衰。人之所以坐胎者，受父母先天之真火也。先天之真火
      ，即先天之真氣以成之。故胎成於氣，亦攝於氣，氣旺則胎牢，氣
      衰則胎墮，胎日加長，而氣日加衰，安得不墮哉！況又遇寒氣外侵
      ，則內之火氣更微，火氣微則長養無資，此胎之不能不墮也。使當
      其腹疼之時，即用人參、乾薑之類，補氣袪寒，則可以疼止而胎安
      。無如人拘於妊娠之藥禁而不敢用，因致墮胎，而僅存幾微之氣，
      不急救氣，尚有何法。方用黃耆補氣湯。

        黃耆（二兩，生用）      肉桂（五分，去粗皮，研）
        當歸（一兩，酒洗）

          水煎。服五劑愈矣。倘認定是寒，大用辛熱，全不補氣與血，
      恐過於燥熱，反致亡陽而變危矣。

<hr class="分段">
篇名：大怒小產
出典：傅青主女科下卷＼小產
內文：    妊婦有大怒之後，忽然腹疼吐血，因而墮胎；及墮胎之後，腹
      疼仍未止者，人以為肝之怒火未退也，誰知是血不歸經而然乎！夫
      肝所以藏血者也。大怒則血不能藏，宜失血而不當墮胎，何為失血
      而胎亦隨墮乎？不知肝性最急，血門不閉，其血直搗於胞胎，胞胎
      之系，通於心腎之間，肝血來衝，必斷絕心腎之路；胎因心腎之路
      斷，胞胎失水火之養，所以墮也。胎既墮矣，而腹疼如故者，蓋因
      心腎未接，欲續無計，彼此痛傷肝氣，欲歸於心而心不受，欲歸於
      腎而腎不納，故血猶未靜而疼無已也。治法宜引肝之血，仍入於肝
      ，而腹疼自已矣。然徒引肝之血而不平肝之氣，則氣逆而不易轉，
      即血逆而不易歸也。方用引氣歸血湯。

        白芍（五錢，酒炒）      當歸（五錢，酒洗）
        白朮（三錢，土炒）      甘草（一錢）
        黑芥穗（三錢）          丹皮（三錢）
        薑炭（五分）            香附（五分，酒炒）
        麥冬（三錢，去心）      鬱金（一錢，醋炒）

          水煎服。此方名為引氣，其實仍是引血也，引血亦所以引氣，
      氣歸於肝之中，血亦歸於肝之內，氣血兩歸，而腹疼自止矣。

<hr class="分段">
篇名：血虛難產
出典：傅青主女科下卷＼難產
內文：    妊娠有腹疼數日，不能生產，人皆曰氣虛力弱，不能送子出產
      門，誰知是血虛膠滯，胞中無血，兒難轉身乎！夫胎之成，成於腎
      臟之精；而胎之養，養於五臟六腑之血，故血旺則子易生，血衰則
      子難產。所以臨產之前，宜用補血之藥；補血而血不能遽生，必更
      兼補氣以生之，然不可純補其氣也，恐陽過於旺，則血仍不足，偏
      勝之害，必有升而無降，亦難產之漸也。防微杜漸，其惟氣血兼補
      乎。便氣血並旺，則氣能推送，而血足以濟之，是汪洋之中自不難
      轉身也，又何有膠滯之患乎！方用送子丹。

        生黃耆（一兩）          當歸（一兩，酒洗）
        麥冬（一兩，去心）      熟地（五錢，九蒸）
        川芎（三錢）

          水煎。服二劑而生矣。且無橫生倒產之患。此補血補氣之藥也
      。二者相較，補血之味，多於補氣之品。蓋補氣止用黃耆一味，其
      餘無非補血之品，血旺氣得所養，氣生血得所依，胞胎潤澤，自然
      易產；譬如舟遇水淺之處，雖大用人力，終難推行，忽逢春水泛濫
      ，舟自躍躍欲行，再得順風以送之，有不揚帆而迅行者乎！

<hr class="分段">
篇名：交骨不開難產
出典：傅青主女科下卷＼難產
內文：    妊婦有兒到產門，竟不能下，此危急存亡之時也，人以為胞胎
      先破，水乾不能滑利也，誰知是交骨不開之故乎！蓋產門之上，原
      有骨二塊，兩相斗合，名日交骨。未產之前，其骨自合，若天衣之
      無縫；臨產之際，其骨自開，如開門之見山。婦人兒門之肉，原自
      斜生，皮亦橫長，實可寬可窄可大可小者也。茍非交骨連絡，則兒
      門必然大開，可以手入探取胞胎矣。此交骨為兒門之下關，實婦人
      鎖鈅之鍵。此骨不閉，則腸可直下；此骨不開，則兒難降生。然而
      交骨之能開能合者，氣血主之也。血旺而氣衰，則兒雖向下而兒門
      不開；氣旺而血衰，則兒門可開而兒難向下，是氣所以開交骨，血
      所以轉兒身也。欲生產之順利，非大補氣血不可。然交骨之閉甚易
      ，而交骨之開甚難。臨產交骨不開者，多由於產前貪欲，泄精太甚
      ，精泄則氣血失生化之本，而大虧矣。氣血虧則無以運潤於兒門，
      而交骨粘滯不開矣。故欲交骨之開，必須於補氣補血之中，而加開
      骨之品，兩相合治，自無不開之患，不必催生，而兒自迅下，母子
      俱無恙矣。方用降子湯。

        當歸（一兩）            人參（五錢）
        川芎（五錢）            紅花（一錢）
        川牛膝（三錢）          柞木枝（一兩）

          水煎服。一劑兒門必響亮一聲，交骨開解，而兒乃降生矣。此
      方用人參以補氣，芎歸以補血，紅花以活血，牛膝以降下，柞木枝
      以開關解骨，四味同心協力，所以取效如神，在用開於補之中也。
      然單用柞木枝亦能開骨，但不補氣與血，恐開而難合，未免有下部
      中風之患，不若此方之能開能合之為神妙也。至於兒未臨門之時萬
      不可先用柞木以開其門；然用降子湯亦正無妨，以其能補氣血耳。
      若欲單用柞木，必須候到門而後可。

<hr class="分段">
篇名：腳手先下難產
出典：傅青主女科下卷＼難產
內文：    妊婦生產之際，有腳先下而兒不得下者，有手先下而兒不得下
      者，人以為橫生倒產，至危之症也，誰知是氣血兩虛之故乎！產母
      之氣血足，則胎必順，產母之氣血虧，則胎必逆；順則易生，逆則
      難產。氣血既虧，母身必弱，子在胞中，亦必弱；胎弱無力，欲轉
      頭向下而不能，此胎之所以有腳手先下者也。當是之時，急用針刺
      兒之手足，則兒必痛而縮入。急用轉天湯以救順之。

        人參（二兩）            當歸（二兩，酒洗）
        川芎（一兩）            川牛膝（三錢）
        升麻（四分）            附子（一分，制）

          水煎服。一劑而兒轉身矣，再二劑自然順生。此方之妙，用人
      參以補氣之虧；用言歸以補血之虧，人人皆知其義。若用升麻又用
      牛膝、附子，恐人未識其妙也。蓋兒已身斜，非用提挈則頭不易轉
      ，然轉其身非用下行則身不易降。升麻、牛膝並用，而又用附子者
      ，欲其無經不達，便氣血迅速以催生也。

          若服三劑後，以針刺兒手足仍不轉身，以針刺產婦合骨穴，兒
      即下。萬不可用手探取，以致子母俱危，戒之！

<hr class="分段">
篇名：氣逆難產
出典：傅青主女科下卷＼難產
內文：    婦人有生產數日而胎不下者，服催生之藥，皆不見效，人以為
      交骨之難開也，誰知是氣逆不行而然乎！夫交骨不開，固是難產，
      然兒頭到產門而不能下者，方是交骨不開之故，自當用開骨之劑。
      若兒頭尚未到產門，乃氣逆不行，兒身難轉，非交骨不開之故也。
      若開其交骨，則兒門大開，兒頭未轉而向下，必致變症非常，是兒
      門萬萬不可輕開也。大凡生產之時，切忌坐草太早。若兒未轉頭，
      原難驟生，乃早於坐草，產婦見兒許久不下，未兔心懷恐懼，恐則
      神怯，怯則氣下而不能升，氣既不升，則上焦閉塞，而氣乃逆矣；
      上氣既逆，而上焦必脹滿，而氣益難行，氣沮滯於上下之間，不利
      氣而徒催生，則氣愈逆而胎愈閉矣。治法但利其氣，兒自轉身而下
      矣。方用舒氣散。

        人參（一兩）            當歸（一兩，酒洗）
        川芎（五錢）            白芍（五錢，酒炒）
        紫蘇梗（三錢）          牛膝（二錢）
        陳皮（一錢）            柴胡（八分）
        蔥白（七寸）

          水煎服。一劑而逆氣轉，兒即下矣。此方利氣而實補氣。蓋氣
      逆由於氣虛，氣虛易於恐懼，補其氣而恐懼自定，恐懼定而氣逆者
      將莫知其何以定也，何必開交骨之多事乎哉！

<hr class="分段">
篇名：子死產門難產
出典：傅青主女科下卷＼難產
內文：    婦人有生產三四日，兒已到產門，交骨不開，兒不得下，子死
      而母未亡者，服開骨之藥不驗，當有死亡之危。今幸而不死者，正
      因其子死而胞胎下墜，子母離開，母氣已收，未至同子氣俱絕也。
      治但救其母，而不必顧其子矣。然死子在產門，塞其下口，有致母
      死之患，宜用推送之法，補血以生水，補氣以生血，便氣血兩旺，
      死子可出而存母命也。倘徒用降子之劑以墜之，則死子未必下，而
      母氣先脫矣，非救援之善者也。山親見此等之症，常用救母丹活人
      頗多。故志之。

        人參（一兩）            當歸（二兩，酒洗）
        川芎（一兩）            益母草（一兩）
        赤石脂（一錢）          芥穗（三錢，炒黑）

          水煎服。一劑而死子下矣。此方用芎、歸以補血，人參以補氣
      ，氣旺血旺，則上能升而下能降，氣能推而血能送。況益母又善下
      死胎，石脂能下瘀血，自然一涌而出，無少阻滯矣。

<hr class="分段">
篇名：子死腹中難產
出典：傅青主女科下卷＼難產
內文：    婦人有生產六七日，胞衣已破，而子不見下，人以為難產之故
      也，誰知是子已死於腹中乎！夫兒死於兒門之邊易辨，而死於腹中
      難識。蓋兒已到產門之邊，未死者頭必能伸能縮，巳死者必然不動
      ，即以手推之，亦必不動如故。若係未死，用手少拔其兒之髮，兒
      必退入，故曰易辨。若兒死在腹中，何從而知之？然實有可辨而知
      之者。凡子死腹中，而母可救者，產母之面，必無煤黑之氣，是子
      死而母無死氣也；子死腹中而母難救，產母之面，必有煙熏之氣，
      是子死而母亦無生機也。以此辨死生，斷斷不爽也。既知兒死腹中
      ，不能用藥以降之，危道也；若用霸道以泄之，亦危道也。蓋生產
      至六七日，其母之氣必甚困乏，烏能勝霸道之治，如用霸道以強逐
      其死子，恐死子下而母亦立亡矣。必須仍補其母，使母之氣血旺，
      而死子自下也。方用療兒散。

        人參（一兩）            當歸（二兩，酒洗）
        川牛膝（五錢）          乳香（二錢，去油）
        鬼臼（三錢，研，水飛）

          水煎。服一劑死子下而母生矣。凡兒之降生，必先轉其頭；原
      因其母氣血之虛，以致兒不能轉頭以向下，世人用催生之藥，以耗
      兒之氣血，則兒之氣不能通達，反致閉悶而死於腹中，此實庸醫殺
      之也。所以難產之疾，斷斷不可用催生之藥，只宜補氣補血，以壯
      其母，而全活嬰兒之命正無窮也。此方救兒死之母，仍大補氣血，
      所以救其本也，誰知救本即所以催生哉！

          下死胎不用厚樸妙。曾有產婦面黑舌青，用補氣、養血、活血
      之藥而子母復得皆全者；亦萬中之一幸也。

<hr class="分段">
篇名：正產胞衣不下
出典：傅青主女科下卷＼正產
內文：    產婦有兒已下地，而胞衣留滯於腹中，二、三日不下，心煩意
      躁，時欲昏暈，人以為胞衣之蒂未斷也，誰知是血少乾枯，粘連於
      腹中乎！世人見胞衣不下，未免心懷疑懼，恐其衝之於心，而有死
      亡之兆。然而胞衣究何能上衝於心也。但胞衣不下，瘀血未免難行
      ，恐有血暈之虞耳。治法仍宜大補其氣血，使生血以送胞衣，則胞
      衣自然潤滑，潤滑則易下，生氣以助生血，則血生自然迅速，尤易
      催墮也。方用送胞湯。

        當歸（二兩，酒洗）      川芎（五錢）
        益母草（一兩）          乳香（一兩，不去油）
        沒藥（一兩，不去油）    芥穗（三錢，炒黑）
        麝香（五釐，研，另沖）

          水煎服，立下。此方以芎、歸補其氣血，以荊芥引血歸經，用
      益母乳香等藥，逐瘀而下胞衣，新血既生，則舊血難存，氣旺上升
      ，而瘀濁自降，尚有留滯之苦哉！夫胞衣是包兒之一物，非依於子
      ，即依於母，子生而不隨子俱下，以子之不可依也，故留滯於腹，
      若有回順其母之心，母胞雖已生子，而其蒂間之氣，原未遽絕，所
      以留連欲脫而未脫，往往有存腹六七日不下，而竟不腐爛者，正以
      其尚有生氣也。可見胞衣留腹，不能殺人，補之而自降耳。或謂胞
      衣既有生氣，補氣補血，則胞衣亦宜堅牢，何以補之而反降也？不
      知子未下，補則益於子；子已下，補則益於母。益子而胞衣之氣連
      ，益母而胞衣之氣脫。此胞胎之氣關，通則兩合，閉則兩開矣。故
      大補氣血而胞衣反降也。

          有婦人子下地五、六日，而胞衣留於腹中，百計治之，竟不能
      下，而又絕無昏暈煩躁之狀，人以為瘀血之粘連也，誰知是氣虛不
      能推送乎！夫瘀血在腹，斷無不作祟之理，有則必然發暈，今安然
      無恙，是血已淨矣。血淨宜清氣升而濁氣降。今胞衣不下，是清氣
      下降而難升，遂至濁氣上浮而難降。然濁氣上升，又必有煩躁之病
      ，今亦安然者，是清濁之氣兩不能升也。然則補其氣不無濁氣之上
      升乎？不知清升而濁降者，一定之理，未有清升而濁亦升者也。茍
      能於補氣之中，仍分其清濁之氣，則升清正所以降濁也。方用補中
      益氣湯。

        人參（三錢）            生黃耆（一兩）
        柴胡（三分）            炙草（一分）
        當歸（五錢）            白朮（五分，土炒）
        升麻（三分）            陳皮（二分）
        萊服子（五分，炒，研）

          水煎服。一劑而胞衣自下矣。夫補中益氣湯乃提氣之藥也，並
      非推送之劑，何以能降胞衣如此之速也？然而濁氣之下降者，由於
      清氣之不升也；提其氣則清升而濁降，濁氣降則腹中所存之物，即
      無不隨濁氣而盡降，正不必再用推送之法也。況又加萊菔子數分，
      能理濁氣，不至兩相扦格，所以奏功之奇也。

<hr class="分段">
篇名：正產氣虛血暈
出典：傅青主女科下卷＼正產
內文：    婦人甫產兒後，忽然眼目昏花，嘔惡欲吐，中心無主，或神魂
      外越，恍若天上行雲，人以為惡血衝心之患也，誰知是氣虛欲脫而
      然乎！蓋新產之婦，血必盡傾，血室空虛，止存幾微之氣；倘其人
      陽氣素虛，不能生血，心中之血，前已蔭胎，胎墮而心中之血亦隨
      胎而俱墮，心無血養，所賴者幾微之氣以固之耳。今氣又虛而欲脫
      ，所剩殘血，不能歸經，而成血暈之症矣。治法必須大補氣血，斷
      不可單治血暈也；或疑血暈是熱血上衝，而更補其血，不愈助其上
      衝之勢乎？不知新血不生，舊血不散，補血以生新血，正活血以逐
      舊血也。然血有形之物，難以速生，氣乃無形之物，易於迅發，補
      氣以生血，尤易於補血以生血耳。方用補氣解暈湯。

        人參（一兩）            生黃耆（一兩）
        當歸（一兩，不酒洗）    黑芥穗（三錢）
        薑炭（一錢）

          水煎服。一劑而暈止，二劑而心定，三劑而血生，四劑而血旺
      ，再不暈矣。此乃解暈之聖藥，用參、耆以補氣，使氣壯而生血也
      ；用當歸以補血，使血旺而養氣也。氣血兩旺，而心自定矣。用荊
      芥炭引血歸經，用薑炭以行瘀引陽，痰血去而正血歸，不必解暈而
      暈自解矣。一方之中，藥止五味，而其奏功之奇而大如此，其神矣
      乎。

<hr class="分段">
篇名：正產血暈不語
出典：傅青主女科下卷＼正產
內文：    產婦有子方下地，即昏暈不語，此氣血兩脫也，本在不救；然
      救之得法，亦有能生者。當斯之時，急用銀針刺其眉心，得血出則
      語矣。然後以人參一兩煎湯灌之，無不生者；即用黃耆二兩，當歸
      一兩，名當歸補血湯，煎湯一碗灌之亦得生。萬不可於二方之中，
      輕加附子。蓋附子無經不達，反引氣血之藥，走而不守，不能專注
      於胞胎，不若人參、歸、耆直救其氣血之絕，聚而不散也。蓋產婦
      昏暈，全是血室空虛，無以養心，以致昏暈。舌為心之苗，心既無
      主，而舌又安能出聲耶？夫眉心之穴，上通於腦，下通於舌，而其
      系則連於心，刺其眉心，則腦與舌俱通，而心之清氣上升，則瘀血
      自然下降矣，然後以參、耆、當歸之能補氣生血者，煎湯灌之，則
      氣與血接續，又何至於死亡乎！雖單用參、耆、當歸亦有能生者，
      然終不若先刺眉心之為更妙。世人但知灸眉心之法，不知刺更勝於
      灸，蓋灸法緩而刺法急，緩則難於救絕，急則易於回生，所謂“急
      則治其標，緩則治其本”者，此也。

<hr class="分段">
篇名：正產敗血攻心暈狂
出典：傅青主女科下卷＼正產
內文：    婦人有產後二、三日，發熱，惡露不行，敗血攻心，狂言呼叫
      ，甚欲奔走，拿提不定，人以為邪熱在胃之過，誰知是血虛心不得
      養而然乎！夫產後之血，盡隨胞胎而外越，則血室空虛，臟腑皆無
      血養，只有心中之血，尚存幾微，以護心君。而臟腑失其所養，皆
      欲取給於心；心包為心君之宰相，攔絕各臟腑之氣，不許入心，始
      得心神安靜，是護心者全藉心包之力也。使心包亦虛，不能障心，
      而各臟腑之氣遂直入於心，以分取乎心血，心包情急，既不能內顧
      其君，又不能外禦乎眾，於是大聲疾呼，而其跡象反近於狂悖，有
      無可如何之勢，故病狀似熱而實非熱也。治法須大補心中之血，使
      各臟腑分取以自養，不得再擾乎心，則心藏泰然，而心包亦安矣。
      方用安心湯。

        當歸（二兩）            川芎（一兩）
        生地（五錢，炒）        丹皮（五錢，炒）
        生蒲黃（二錢）乾荷葉（一片，引）

          水煎服。一劑而狂定，惡露亦下矣。此方用芎、歸以養血，何
      以又用生地、丹皮之涼血，似非產後所宜？不知惡露所以奔心，原
      因虛熱相犯，於補中涼之，而涼不為害，況益之以荷葉，七竅相通
      ，引邪外出，不惟內不害心，且佐蒲黃以分解乎惡露也。但只可暫
      用以定狂，不可多用以取咎也。謹之慎之。

          服藥後狂定，宜服加味生化湯，當歸（酒洗）一兩一錢、川芎
      三錢、桃仁（研）錢半、荊芥穗（炒炭）一錢、丹皮錢半，服四劑
      妙。

<hr class="分段">
篇名：正產腸下
出典：傅青主女科下卷＼正產
內文：    產婦腸下，亦危症也，人以為兒門不關之故，誰知是氣虛下陷
      而不能收乎！夫氣虛下陷，自宜用升提之藥，以提其氣。然新產之
      婦，恐有瘀血在腹，一旦提氣，並瘀血升騰於上，則衝心之患，又
      恐變出非常，是氣又不可竟提也。氣既不可竟提，而氣又下陷，將
      用何法以治之哉？蓋氣之下陷者，因氣之虛也，但補其氣，則氣旺
      而腸自升舉矣。惟是補氣之藥少，則氣力薄而難以上升，必須以多
      為貴，則陽旺力強，斷不能降而不升矣。方用補氣升腸飲。

        人參（一兩，去蘆）      生黃耆（一兩）
        當歸（一兩，酒洗）      白朮（五錢，土炒）
        川芎（三錢，酒洗）      升麻（一分）

          水煎服。一劑而腸升矣。此方純於補氣，全不去升腸，即如用
      升麻一分，亦不過引氣而升耳。蓋升麻之為用，少則氣升，多則血
      升也，不可不知。又方用萆麻仁四十九粒搗塗頂心以提之，腸升即
      刻洗去，時久則恐吐血，此亦升腸之一法也。

<hr class="分段">
篇名：產後少腹疼
出典：傅青主女科下卷＼產後
內文：    婦人產後少腹疼痛，甚則結成一塊，按之愈疼，人以為兒枕之
      疼也，誰知是瘀血作祟乎！夫兒枕者，前人謂兒頭枕之物也。兒枕
      之不疼，豈兒生不枕而反疼，是非兒枕可知矣。既非凡枕，何故作
      疼？乃是瘀血未散，結作成團而作疼耳。凡此等症，多是壯健之婦
      血有餘，而非血不足也。似乎可用破血之藥；然血活則瘀自除，血
      結則瘀作祟；若不補血而反敗血，雖瘀血可消，畢竟耗損難免，不
      若於補血之中，以行逐瘀之法，則氣血不耗，而瘀亦盡消矣。方用
      散結定疼湯。

        當歸（一兩，酒洗）      川芎（五錢，酒洗）
        丹皮（二錢，炒）        益母草（三錢）
        黑芥穗（二錢）          乳香（一錢，去油）
        山查（十粒，炒黑）      桃仁（七粒，泡去皮尖，炒，研）

          水煎。服一劑而疼止而愈，不必再劑也。此方逐瘀于補血之中
      ，消塊於生血之內，妙在不專攻疼痛，而疼痛止。彼世人一見兒枕
      之疼，動用元胡、蘇木、蒲黃、靈脂之類以化塊，又何足論哉！

          婦人產後少腹疼痛，按之即止，人亦以為兒枕之疼也，誰知是
      血虛而然乎！夫產後亡血過多，血室空虛，原能腹疼，十婦九然。
      但疼有虛實之分，不可不辨；如燥糠觸體光景，是虛疼而非實疼也
      。大凡虛疼宜補，而產後之虛疼，尤宜補焉。惟是血虛之疼，必須
      用補血之藥，而補血之味，多是潤滑之品，恐與大腸不無相礙；然
      產後血虛，腸多乾燥，潤滑正相宜也，何礙之有。方用腸寧湯。

        當歸（一兩，酒洗）      熟地（一兩，九蒸）
        人參（三錢）            麥冬（三錢，去心）
        阿膠（三錢，蛤粉炒）    山藥（三錢，炒）
        續斷（二錢）            甘草（一錢）
        肉桂（二分，去粗，研）

          水煎服。一劑而疼輕，二劑而疼止，多服更宜。此方補氣補血
      之藥也；然補氣而無太鬱之憂，補血而無太滯之患，氣血既生，不
      必止疼而疼自止矣。

<hr class="分段">
篇名：產後氣喘
出典：傅青主女科下卷＼產後
內文：    婦人產後氣喘，最是大危之症，茍不急治，立刻死亡，人只知
      是氣血之虛也，誰知是氣血兩脫乎！夫既氣血兩脫，人將立死，何
      又能作喘？然此血將脫，而氣猶未脫也。血將脫而氣欲挽之，而反
      上喘，如人救溺，援之而力不勝，又不肯自安於不救，乃召號同志
      以求助，故呼聲而喘作，其症雖危，而可救處正在能作喘也。蓋肺
      主氣，喘則肺氣似盛而實衰，當是之時，血將脫而萬難驟生，望肺
      氣之相救甚急；而肺因血失，止存幾微之氣，自顧尚且不暇，又何
      能提挈乎血，氣不與血俱脫者幾希矣，是救血必須補氣也。方用救
      脫活母湯。

        人參（二兩）            當歸（一兩，酒洗）
        熟地（一兩，九蒸）      枸杞子（五錢）
        山萸（五錢，蒸，去核）  麥冬（一兩，去心）
        阿膠（二錢，蛤粉炒）    肉桂（一錢，去粗，研）
        黑芥穗（二錢）

          水煎服。一劑而喘輕，二劑而喘減，三劑而喘定，四劑而全愈
      矣。此方用人參以接續元陽，然徒補其氣而不補其血，則陽燥而狂
      ，雖回生於一時，亦旋得旋失之道；即補血而不補其肝腎之精，則
      本原不固，陽氣又安得而續乎！所以又用熟地、山萸、枸杞之類，
      以大補其肝腎之精，而後大益其肺氣，則肺氣健旺，升提有力矣。
      特慮新產之後，用補陰之藥，膩滯不行，又加肉桂以補命門之火，
      便火氣有根，助人參以生氣，且能運化地黃之類，以化精生血。若
      過於助陽，萬一血隨陽動瘀而上行，亦非保全之策，更加荊芥以引
      血歸經，則肺氣安而喘速定，治幾其神乎。

<hr class="分段">
篇名：產後惡寒身顫
出典：傅青主女科下卷＼產後
內文：  　婦人產後惡寒惡心，身體顫，發熱作渴，人以為產後傷寒也，
      誰知是氣血兩虛，正不敵邪而然乎；太凡人之氣不虛，則邪斷難入
      。產婦失血既多，則氣必大虛，氣虛則皮毛無衛，邪原易入，正不
      必戶外之風來襲體也，即一舉一動，風即可乘虛而入之。然產後之
      妊，風易入而亦易出。凡有外邪之感，俱不必袪風，況產婦之惡寒
      者，寒由內生也。發熱者，熱由內弱也；身顫者，顫由氣虛也。治
      其內寒，而外寒自散；治其內弱，而外熱自解；壯其元陽，而身顫
      自除。方用十全大補湯。

        人參（三錢）            白朮（三錢，土炒）
        茯苓（三錢，去皮）      甘草（一錢，炙）
        川芎（一錢，酒洗）      當歸（三錢，酒洗）
        熟地（五錢，九蒸）      白芍（二錢，炒）
        黃耆（一兩，生用）      肉桂（一兩，去粗，研）

      　　水煎服。一劑而諸病悉愈。此方但補氣與血之虛，而不去散風
      與邪之實，正以正足而邪自除也，況原無邪氣乎！所以奏功之捷也
      。
          宜連服數劑，不可只服一劑。

<hr class="分段">
篇名：產後惡心嘔吐
出典：傅青主女科下卷＼產後
內文：　　婦人產後惡心欲嘔，時而作吐，人皆曰胃氣之寒也，誰知是腎
      氣之寒乎！夫胃為腎之關，胃之氣寒，則胃氣不能行於腎之中；腎
      之氣寒，則腎氣亦不能行於胃之內，是腎與胃不可分而兩之也。惟
      是產後失血過多，必致腎水乾涸，腎水涸應腎火上炎，當不至胃有
      寒冷之虞，何故腎寒而胃亦寒乎？蓋新產之餘，水乃遽然涸去，虛
      火尚不能生，火既不生，而寒之象自現。治法宜補其腎中之火，然
      火無水濟，則火在水上，未必不成火動陰虛之症；必須於水中補火
      ，腎中溫胃，而後腎無太熱之患，胃有既濟之歡也。方用溫腎止嘔
      湯。

        熟地（五錢，九蒸）      巴戟（一兩，鹽水浸）
        人參（三錢）            白朮（一兩，土炒）
        山萸（五錢，蒸，去核）  炮薑（一錢）
        茯苓（二錢，去皮）      橘紅（五分，薑汁洗）
        白蔻（一粒，研）

          水煎服。一劑而嘔吐止，二劑而不再發，四劑而全愈矣。此方
      補腎之藥，多於治胃之品，然而治腎仍是治胃也。所以腎氣升騰，
      而胃寒自解，不必用大熱之劑，溫胃而袪寒也。

          服此方必待惡露盡後. 若初產一、二日之內惡心欲嘔，乃惡露
      上衝，宜服加味生化湯：全當歸一兩（酒洗）、川芎二錢、炮薑一
      錢、東查炭二錢、桃仁一錢（研，用無灰黃酒一鍾，水三鍾同煎）
      。

<hr class="分段">
篇名：產後血崩
出典：傅青主女科下卷＼產後
內文：　　少婦產後半月，血崩昏暈，人皆曰惡血衝心也，誰知是不慎房
      幃之過乎！夫產後業逾半月，雖不日比初產之二、三日，而氣血初
      生，尚未全復，即血路已淨，而胞胎之損傷未痊，斷不可輕於一試
      ，以重傷其門戶。氣血初復，不知慎養，致血崩昏暈，是心腎兩傷
      ，不特胞胎產門戶已也。精泄神脫，舍大補其氣與血，別無良法也
      。方用救敗求生湯。

        人參（二兩）            當歸（二兩，酒洗）
        白朮（二兩，土炒）      九蒸熟地（一兩）
        山萸（五錢，蒸）        山藥（五錢，炒）
        棗仁（五錢，生用）      附子（一分或一錢，自制）

          水煎服。一劑而神定，二劑而暈止，三劑而血亦止矣。倘一服
      見效，連服三、四劑，減去一半，再服十劑，可慶更生。此方補氣
      以回元陽於無何有之鄉，陽回而氣回，自可攝血以歸神，生精而續
      命矣。

          亦有中氣素虛，產後頃刻血崩不止，氣亦隨之而脫。此至危之
      證，十常不救者八、九，惟用獨參湯尚可救活一、二。遼人參去蘆
      五錢，打碎，急煎，遲則氣脫不及待矣。煎成徐徐灌之，待氣回再
      煎一服灌之。其餘治法參看血崩門。但產後不可用杭芍炭以及諸涼
      藥。然此證皆係臨產一、二日前入房所致，戒之！

<hr class="分段">
篇名：產後手傷胞胎淋漓不止
出典：傅青主女科下卷＼產後
內文：　　婦人有生產之時，被穩婆手入產門，損傷胞胎，因而淋漓不止
      ，欲少忍須臾而不能，人謂胞破不能再補也，孰知不然。夫破傷皮
      膚，尚可完補，豈破在腹內者，獨不可治療？或謂破在外可用藥外
      治，以生皮膚；破在內，雖有靈膏，無可救補，然破之在內者，外
      治雖無可施力，安必內治不可奏功乎！試思瘡傷之毒，大有缺陷，
      尚可服藥以生肌肉，此不過收生不謹；小有所損，並無惡毒，何難
      補其缺陷也。方用完胞飲。

        人參（一兩）            白朮（十兩，土炒）
        茯苓（三錢，去皮）      生黃耆（五錢）
        當歸（一兩，酒炒）      川芎（五錢）
        白芨末（一錢）          紅花（一錢）
        益母草（三錢）          桃仁（十粒，泡炒，研）

          用豬羊胞一個，先煎湯，後煎藥，飢服十劑全愈。夫胞損宜用
      補胞之藥，何以反用補氣血之藥也？蓋生產本不可手探試，而穩婆
      竟以手探，胞胎以致傷損，則難產必矣。難產者，因氣血之虛也。
      產後大傷氣血，是虛而又虛矣，因虛而損，復因損而更虛，若不補
      其氣與血，而胞胎之破，何以奏功乎！今之大補其氣血者，不啻飢
      而與之食，渴而與之飲也，則精神大長，氣血再造，而胞胎何難補
      完乎，所以旬日之內便成功也。

<hr class="分段">
篇名：產後四肢浮腫
出典：傅青主女科下卷＼產後
內文：　　產後四肢浮腫，寒熱往來，氣喘咳嗽，胸隔不利，口吐酸水，
      兩脅疼痛，人皆曰敗血流於經絡，滲於四肢，以致氣逆也，誰知是
      肝腎兩虛，陰不得出之陽乎！夫產後之婦，氣血大虧，自然腎水不
      足，腎火沸騰；然水不足則不能養肝，而肝木大燥，木中乏津，木
      燥火發，腎火有黨，子母兩焚，火焰直衝，而上克肺金，金受火刑
      ，力難制肝，而咳嗽喘滿之病生焉；肝火既旺而下克脾土，土受木
      刑，力難制水，而四肢浮腫之病出焉。然而肝木之火旺，乃假象而
      非真旺也。假旺之氣，若盛而實不足，故時而熱時而寒，往來無定
      ，乃隨氣之盛衰以為寒熱，而寒非真寒，熱亦非真熱，是以氣逆於
      胸隔之間而不舒耳。兩脅者，肝之部位也。酸者，肝之氣味也。吐
      酸脅疼痛，皆肝虛而腎不能榮之象也。治法宜補血以養肝，補精以
      生血，精血足而氣自順，而寒熱咳嗽浮腫之病悉退矣。方用轉氣湯
      。

        人參（三錢）            茯苓（三錢，去皮）
        白朮（三錢，土炒）      當歸（五錢，酒洗）
        白芍（五錢，酒炒）      熟地（一兩，九蒸）
        山萸（三錢，蒸）        山藥（五錢，炒）
        芡實（三錢，炒）        柴胡（五分）
        故紙（一錢，鹽水炒）

          水煎服。三劑效，十劑痊。此方皆是補血補精之品，何以名為
      轉氣耶？不知氣逆由於氣虛，乃是肝腎之氣虛也。補肝腎之精血，
      即所以補肝腎之氣也。蓋虛則逆，旺則順，是補即轉也；氣轉而各
      症盡愈，陰出之陽，則陰陽無扦格之虞矣。

          方妙不可加減。白芍宜炒炭用。

<hr class="分段">
篇名：產後肉線出
出典：傅青主女科下卷＼產後
內文：　　婦人有產後水道中出肉線一條，長二、三尺，動之則疼痛欲絕
      ，人以為胞胎之下墜也，誰知是帶脈之虛脫乎！夫帶脈束于任督之
      間，任脈前而督脈後，二脈有力，則帶脈堅牢；二脈無力，則帶脈
      崩墜。產後亡血過多，無血以養任督，而帶脈崩墜，力難升舉，故
      隨溺而隨下也。帶脈下垂，每每作痛於腰臍之間，況下墜者而出於
      產門之外，其失於關鍵也更甚，安得不疼痛欲絕乎！方用兩收湯。

        人參（一兩）            白朮（二兩，土炒）
        川芎（三錢，酒洗）      九蒸熟地（二兩）
        山藥（一兩，炒）        山萸（四錢，蒸）
        芡實（五錢，炒）        扁豆（五錢，炒）
        巴戟（三錢，鹽水浸）    杜仲（五錢，炒黑）
        白果（十枚，搗碎）

          水煎。服一劑而收半，二劑而全收矣。此方補任督而仍補腰臍
      者，蓋以任督連於腰臍也。補任督而不補腰臍，則任督無助，而帶
      脈何以升舉？惟兩補之，則任督得腰臍之助，帶脈亦得任督之力而
      收矣。

          此方凡腎虛、腰痛、遺尿皆可治，甚勿輕忽。

<hr class="分段">
篇名：產後肝痿
出典：傅青主女科下卷＼產後
內文：　　婦人產後陰戶中垂下一物，其形如帕，或有角、或二歧，人以
      為產頹也，誰知是肝痿之故乎！夫產後何以成肝痿也？蓋因產前勞
      役過傷，又觸動怪怒，以致肝不藏血，血亡過多，故肝之脂膜隨血
      崩墜，其形似子宮，而實非子宮也。若是子宮之下墜，狀如茄子，
      只到產門，而產不能越出於產門之外。惟肝之脂膜往往出產門外者
      ，至六、七寸許，且有粘席乾落一片，如手掌大者，如是子宮墜落
      ，人立死矣，又安得而復生乎！治法宜大補其氣與血，而少加升提
      之品，則肝氣旺而易生，肝血旺而易養，肝得生養之力，而脂膜自
      收。方用收膜湯。

        生黃耆（一兩）          人參（五錢）
        白朮（五錢，土炒）      當歸（三錢，酒洗）
        升麻（一錢）            白芍（五錢，酒炒焦）

      　　水煎服。一劑即收矣。或疑產後禁用白芍，恐伐生氣之源，何
      以頻用之而奏功也？是未讀仲景之書者，嗟乎！白芍之在產後不可
      頻用者，恐其收斂乎瘀也；而謂伐生氣之源，則誤矣。況病之在肝
      者，尤不可以不用；且用之於大補氣血之中，在芍藥亦忘其為酸收
      矣，又何能少有作祟者乎！矧脂膜下墜，正藉酸收之力，助升麻以
      提升氣血，所以奏功之捷也。

          收肝膜全賴白芍之功，不可用炭。

<hr class="分段">
篇名：產後氣血兩虛乳汁不下
出典：傅青主女科下卷＼產後
內文：　　婦人產後絕無點滴之乳，人以為乳管之閉也，誰知是氣與血之
      兩涸乎！夫乳乃氣血之所化而成也，無血固不能生乳汁，無氣亦不
      能生乳汁，然二者之中，血之化乳，又不若氣之所化為尤速。新產
      之婦，血已大虧，血本自顧不暇，又何能以化乳？乳全賴氣之力，
      以行血而化之也。今產後數目，而乳不下點滴之汁，其血少氣衰可
      知。氣旺則乳汁旺，氣衰則乳汁衰，氣涸則乳汁亦涸，必然之勢也
      。世人不知大補氣血之妙，而一味通乳，豈知無氣則乳無以化，無
      血則乳無以生。治法宜補氣以生血，而乳汁自下，不必利竅以通乳
      也。方名通乳丹。

        人參（一兩）            生黃耆（一兩）
        當歸（二兩，酒洗）      麥冬（五錢，去心）
        木通（三分）            桔梗（三分）
        七孔豬蹄（二個，去爪殼）

          水煎服。二劑而乳如泉湧矣。此方專補氣血以生乳汁，正以乳
      生於氣血也。產後氣血涸而無乳，非乳管之閉而無乳者可比。不去
      通乳而名通乳丹，亦因服之乳通而名之；今不通乳而乳生，即名生
      乳丹亦可。

<hr class="分段">
篇名：產後鬱結乳汁不通
出典：傅青主女科下卷＼產後
內文：　　少壯之婦，於生產之後，或聞嫌誶，遂致兩乳脹滿疼痛，乳汁
      不通，人以為陽明之火熱也，誰知是肝氣之鬱結乎！夫陽明屬胃，
      乃多氣多血之府也。乳汁之化，原屬陽明，然陽明屬土，壯婦產後
      ，雖云亡血，而陽明之氣，實未盡衰，必得肝木之氣以相通，始能
      化成乳汁，未可全責之陽明也。蓋乳汁之化，全在氣而不在血。今
      產後數日，宜其有乳，而兩乳脹滿作痛，是欲化乳而不可得，非氣
      鬱而何？明明是羞憤成鬱，土木相結，又安能化乳而成汁也。治法
      宜大舒其肝木之氣，而陽明之氣血自通，而乳亦通矣，不必專去通
      乳也。方名通肝生乳湯。

        白芍（五錢，醋炒）      當歸（五錢，酒洗）
        白朮（五錢，土炒）      熟地（三分）
        甘草（三分）            麥冬（五錢，去心）
        通草（一錢）            柴胡（一錢）
        遠志（一錢）

          水煎服。一劑即通，不必再服也。

          麥冬用小米炒，不惟不寒胃，且得米味一直引入胃中；而化乳
      愈速。

<hr class="分段">
篇名：產後總論
出典：傅青主女科產後編上卷
內文：　　凡病起於血氣之衰，脾胃之虛，而產後尤甚。是以丹溪先生論
      產後，必大補氣血為先，雖有他症，以末治之，斯言盡治產之大旨
      。若能擴充立方，則治產可無過矣，夫產後憂、驚、勞、倦，氣血
      暴虛，諸症乘虛易入，如有氣毌專耗散，有食毌專消導；熱不可用
      芩、連，寒不可用桂、附；寒則血塊停滯，熱則新血崩流。至若中
      虛外感，見三陽表症之多，似可汗也，在產後而用麻黃，則重竭其
      陽；見三陰裡症之多，似可下也，在產後而用承氣，則重亡陰血。
      耳聾脅痛，乃腎虛惡露之停，休用柴胡。譫語出汗，乃元弱似邪之
      症，非同胃實。厥由陽氣之衰，無分寒熱，非大補不能回陽而起弱
      。痙因陰血之虧，不論剛柔，非滋榮不能舒筋而活絡，乍寒乍熱，
      發作無期，症似瘧也，若以瘧治，遷延難愈。言論無倫，神不守舍
      ，病似邪也，若以邪治，危亡可待。去血過多而大便燥結，肉從蓉
      加於生化，非潤腸承氣之能通，去汗過多而小便短澀，六君子倍加
      參，耆，必生津助液之可利。加參生化湯頻服，救產後之危；長生
      活命丹屢用，蘇絕谷之人。頹疝脫肛，多是氣虛下陷，補中益氣之
      方。口噤拳攣，乃因血燥類風，加參生化之劑。產戶入風而痛甚，
      服宜羌活養榮湯。玉門傷涼而不閉，洗宜〔虫麻〕兒黃硫散。怔忡
      驚悸，生化湯加以定志。似邪恍惚，安神丸助以歸脾。因氣而悶滿
      虛煩，生化湯加木香為佐。因食而噯酸惡食，六君子加神曲、麥芽
      為良。蘇木、莪朮，大能破血；青皮、枳殼，最消滿脹。一應耗氣
      破血之劑，汗吐宣下之法，止可施諸壯實，豈宜用於胎產。大抵新
      產後，先問惡露如何，塊痛末除，不可遽加參朮；腹中痛止，補中
      益氣無疑。至若亡陽脫汗，氣虛喘促，頻服加參生化湯，是從權也
      。又如亡陰火熱，血崩厥暈，速煎生化原方，是救急也。王太僕云
      ：「治下補下，治以急緩，緩則道路達而力微，急則氣味厚而為重
      。」故治產當遵丹溪而固本，服法宜效太僕以頻加。凡付生死之重
      寄，須著意於極危；欲求俯仰之無虧，用存心于愛物。此雖未盡產
      症之詳，然所聞一症，皆援近鄉治驗為據，亦未必無小補云。

<hr class="分段">
篇名：正產
出典：傅青主女科產後編上卷＼產前後方症宜忌
內文：　　正產者，有腹或痛或止，腰脅酸痛；或勢急而胞未破，名弄胎
      ，服八珍湯加香附自安。有胞破數日而痛尚緩，亦服上藥俟之。

<hr class="分段">
篇名：傷產
出典：傅青主女科產後編上卷＼產前後方症宜忌
內文：　　傷產者，胎未足月，有所傷動，或腹痛臍痛，或服催生藥太早
      ，或產母努力太過，逼兒錯路，不能正產，故臨月必舉動從容，不
      可多睡飽食飲酒，但覺腹中動轉，即正身仰臥，待兒轉順，與其臨
      時費力，不如先時慎重。

<hr class="分段">
篇名：調產
出典：傅青主女科產後編上卷＼產前後方症宜忌
內文：　　調產者，產母帖月，擇穩婆、辦器用、備參藥，產時不可多人
      喧鬧，二人扶身，或憑物站。心煩，用滾水調白蜜一匙，獨活湯更
      妙；或飢，服糜粥少許，勿令飢渴。有生息末順者，只說有雙胎，
      或胎衣不下，勿令產母驚恐。

<hr class="分段">
篇名：催生
出典：傅青主女科產後編上卷＼產前後方症宜忌
內文：　　催生者，因坐草太早，困倦難產，用八珍湯，稍佐以香附、乳
      香，以助血氣。胞衣早破，漿血己乾，亦用人珍湯。

<hr class="分段">
篇名：凍產
出典：傅青主女科產後編上卷＼產前後方症宜忌
內文：　　凍產者，天寒血氣凝滯，不能速生，故衣裳宜厚，產室宜暖，
      背心下體尤要。

<hr class="分段">
篇名：熱產
出典：傅青主女科產後編上卷＼產前後方症宜忌
內文：　　熱產者，暑月宜溫涼得宜。若產室人眾，熱氣蒸逼，致頭痛面
      赤昏暈等症，宜飲清水少許以解之。然風雨陰涼，亦當避之。

<hr class="分段">
篇名：橫產
出典：傅青主女科產後編上卷＼產前後方症宜忌
內文：　　橫產者，兒居母腹，頭上足下，產時則頭向下，產母若用力逼
      之，胎轉至半而橫，當令產母安然仰臥，令其自順。穩婆以中指挾
      其肩，勿便臍帶羈絆。用催生藥，努力即生。
          當歸、紫蘇各三錢，長流水煎服即下。
      ◎一方，用好京墨磨服之即下。
      ◎一方，用益母草六兩濃煎，加童便一大杯調服即下。

<hr class="分段">
篇名：盤腸產
出典：傅青主女科產後編上卷＼產前後方症宜忌
內文：　　盤腸產者，產則子腸先出，然後生子，其腸或未收，以萆麻子
      四十九粒，研碎塗頭上，腸收，急急洗去，遲則有害。又方，止用
      四十粒，去皮研為膏，塗頂中，收即拭之。

<hr class="分段">
篇名：難產
出典：傅青主女科產後編上卷＼產前後方症宜忌
內文：難產者，交骨不開，不能生產也，服加味芎歸湯，良久即下。
組成：小川芎（一兩）            當歸（一兩）
      敗龜版（一個，酒炙）      婦人髮灰（一握）
          水一鍾，煎七分服。

<hr class="分段">
篇名：死產
出典：傅青主女科產後編上卷＼產前後方症宜忌
內文：　　死產者，子死腹中也。驗母舌青黑，其胎已死。先用平胃散一
      服，酒水各一鍾，煎八分，投樸硝煎服，即下，用童便亦好，後用
      補劑調理。

<hr class="分段">
篇名：下胞
出典：傅青主女科產後編上卷＼產前後方症宜忌
內文：　　胞衣不下，用滾酒送下失笑散一劑，或益母丸，或生化湯送鹿
      角灰一錢，或以產母髮入口作吐，胞衣即出。有氣虛不能送出者，
      腹必脹痛，單用生化湯。
組成：全當歸（一兩）            川芎（三錢）
　　　白朮（一錢）              香附（一錢）
      　　加人參三錢更妙，用水煎服。
          一方，用萆麻子二兩，雄黃二錢，研膏，塗足下湧泉穴，衣下
      ，急速洗去。

      ◎平胃散：
        南蒼朮（米泔水浸炒）    厚樸（薑炒）
        陳皮、炙草各二錢
          共為粗末，或水煎，或酒煎，煎成時加樸硝二錢，再煎一二沸
      　，溫服。
      ◎失笑散：
        五靈脂、蒲黃
          俱研為細末，每服三錢，熱酒下。

<hr class="分段">
篇名：斷臍
出典：傅青主女科產後編上卷＼產前後方症宜忌
內文：　　斷臍，必以綿裹咬斷為妙。如遇天寒，或因難產，母子勞倦，
      宜以大麻油紙拈，徐徐燒斷，以助元氣，雖兒已死，令暖氣入臍，
      多得生，切勿以刀斷之。

      ◎滑胎散：臨月常服數劑以便易生
        當歸（三、五錢）        川芎（五、七錢）
        杜仲（二錢）            熟地（三錢）
        枳殼（七分）            山藥（二錢）
          水二鍾，煎八分，食前溫服。如氣體虛弱人，加人參、白朮、
      隨宜服之；如便實多滯者，加牛膝二錢。

<hr class="分段">
篇名：治產秘驗良方
出典：傅青主女科產後編上卷＼產前後方症宜忌
主治：　　治橫生逆產，至數日不下，一服即下；有未足月，忽然胎動，
      一服即安；或臨月先服一服，保護無虞，更能治胎死腹中，及小產
      傷胎無乳者，一服即如原體。
組成：全當歸                    川芎（各一錢五分）
      川貝母（一錢，去心）      荊芥穗、黃耆（各八分）
      厚樸（薑炒）              蘄艾、紅花（各七分）
      菟絲子（一錢二分）        甘草（五分）
      羌活（六分，麵炒）        枳殼（六分，麵炒）
      白芍（一錢二分，冬月不用）
          上十三味，只用十二味，不可加減。安胎去紅花；催生去蘄艾
      ，用井水鍾半，薑三片為引，熱服，渣用水一鍾煎半鍾熱服。如不
      好，再用水一鍾煎半鍾，服之即效，不用二劑。

<hr class="分段">
篇名：催生兔腦丸
出典：傅青主女科產後編上卷＼產前後方症宜忌
主治：治橫生逆產神效。
組成：臘月兔腦髓（一個）        母丁香（一個）
      乳香（一錢，另研）        麝香（一分）
          兔腦為丸，芡實大，陰乾密封，用時以溫酒送下一丸。

<hr class="分段">
篇名：奪命丹
出典：傅青主女科產後編上卷＼產前後方症宜忌
主治：　　臨產未產時，目翻口噤，面黑唇青，口中吐沫，命在須臾。若
      臉面微紅，子死母活，急用：
        蛇退、蠶故子（燒灰不存性）、髮灰（一錢）
        乳香（五分）
          共為細末，酒下。

      ◎加味芎歸湯：
        治子宮不收，產後不閉
        人參（二錢）            黃耆（一錢）
        當歸（二錢）            升麻（八分）
        川芎（一錢）            炙草（四分）
        五味子（十五粒）
      　　再不收，加半夏八分，白芍八分酒妙。

<hr class="分段">
篇名：新產治法
出典：傅青主女科產後編上卷＼產前後方症宜忌
內文：　　生化湯先連進二服。若胎前素弱婦人，見危症熱症墮胎，不可
      拘帖數，服至病退乃止。若產時勞甚，血崩形脫，即加人參三、四
      錢在內，頻服無虞。若氣促亦加人參，加參於生化湯者，血塊無滯
      ，不可以參為補而弗用也。有治產不用當歸者，見偏之甚。此方處
      置萬全，必無一矢。世以四物湯治產，地黃性寒滯血，芍藥微酸無
      補，伐傷生氣，誤甚。

<hr class="分段">
篇名：產後用藥十誤
出典：傅青主女科產後編上卷＼產前後方症宜忌
內文：　　一因氣不舒而誤用耗氣順氣等藥，反增飽悶，陳皮用至五分，
      禁枳實、厚樸；
          二因傷氣而誤用消導，反損胃氣，至絕谷，禁枳殼、大黃、蓬
      、棱、曲、樸；
          三因身熱而誤用寒涼，必致損胃增熱，禁芩、連、梔、柏、升
      柴；
          四因日內未曾服生化湯，勿用參、耆、朮，以致塊痛不消；
          五毌用地黃以滯惡露；
          六毌用枳殼、牛膝、枳實以消塊；
          七便秘，毌用大黃、芒硝；
          八毌用蘇木、棱、蓬以行塊，芍藥能伐氣，不可用；
          九毌用山查湯以攻塊定痛，而反損新血；
          十毌輕服濟坤丹以下胎下胞。
          產後危疾諸症，當頻服生化湯，隨症加減，照依方論。

<hr class="分段">
篇名：產後寒熱
出典：傅青主女科產後編上卷＼產前後方症宜忌
內文：　　凡新產後，榮衛俱虛，易發寒熱；身痛腹痛，決不可妄投發散之
      劑，當用生化湯為主，稍佐發散之藥。產後脾虛，易於停食，以致身
      熱，世人見有身熱，便以為外感，遽然發汗，速亡甚矣，當於生化湯
      中加扶脾消食之藥。大抵產後先宜補血，次補氣。若偏補氣而專用參
      耆，非善也。產後補虛，用參、耆、芎、歸、白朮、陳皮、炙草，熱
      輕則用茯苓淡滲之藥，其熱自除，重則加乾薑。或云大熱而用薑何也
      ？曰此熱非有餘之熱，乃陰虛內生熱耳。蓋乾薑能人肺分，利肺氣，
      又能入肝分，引眾藥生血，然必與陰血藥同用之。產後惡寒發熱腹痛
      者，當主惡血；若腹不痛，非惡血也。
      　　產後寒熱，口眼歪邪，此乃氣血虛甚，以大補為主，左手脈不足
      ，補血藥多於補氣藥；右手脈不足，補氣藥多於補血藥，切不可用小
      續命等發散之藥。

<hr class="分段">
篇名：胎前患傷寒疫症瘧疾墮胎等症
出典：傅青主女科產後編上卷＼產前後方症宜忌
內文：　　胎前或患傷寒、疫症、瘧疾，熱久必致墮胎，墮後愈增熱，因熱
      消陰血，而又繼產失血故也。治者甚勿妄論傷寒，瘧疫未除，誤投梔
      子鼓湯、柴、芩、連、柏等藥。雖或往來潮熱，大小便秘，五苓、承
      氣等藥，斷不可用。只重產輕邪，大補氣血，頻服生化湯。如形脫氣
      脫，加生脈散以防血暈。蓋川芎味辛能散，乾薑能除虛火，雖有便秘
      煩渴等症，只多服生化湯，自津液生而二便通矣。若熱用寒劑，愈虛
      中氣，誤甚。

<hr class="分段">
篇名：血塊
出典：傅青主女科產後編上卷＼產後諸症治法
內文：　　此症勿拘古方，妄用蘇木、蓬、棱，以輕人命。其一應散血方、
      破血藥，俱禁用。雖山查性緩，亦能害命，不可擅用，惟生化湯係血
      塊聖藥也。

      ◎生化湯原方：
      　當歸（八錢）                川芎（三錢）
        桃仁（十四粒，去皮尖，研）　黑薑（五分）
        炙草（五分）
      　　用黃酒，童便各半，煎服。
        　又益母丸、鹿角灰，就用生化湯送下一錢，外用烘熱衣服，暖和
      塊痛處，雖大暑亦要和暖塊痛處。有氣不運而暈迷厥，切不可妄說惡
      血搶心，只服生化湯為妙。俗有生地、牛膝行血；山棱、蓬朮敗血；
      山查、沙糖消塊；蘄艾、椒酒定痛，反致昏暈等症，切不可妄用。二
      、三、四日內，覺痛減可揉，乃虛痛也，宜加參生化湯。
      　　如七日內，或因寒涼食物，結塊痛甚者，加入肉佳八分（一作三
      分）於生化湯內。如血塊末消，不可加參、耆，用之則痛不止。總之
      ，慎勿用峻利藥，勿多飲薑椒艾酒，頻服生化湯，行氣助血，外用熱
      衣以暖腹。如用紅花以行之，蘇木、牛膝以攻之，則誤。其胎氣脹，
      用烏藥、香附以順之；枳殼、厚樸以舒之，甚有青皮、枳實、蘇子以
      下氣定喘；芩、連、梔子、黃柏以退熱除煩。至於血結更甚，反用承
      氣湯下之而愈結；汗多小便短澀，反用五苓散通之而愈秘，非徒無益
      ，而又害之也。

      　　凡幾生下，或停血不下，半月外尚痛，或外加腫毒，高寸許，或
      身熱，減飲食，倦甚，必用生化湯加三棱、蓬朮、肉桂等，攻補兼治
      ，其塊自消。如虛甚，食少泄瀉，只服此帖定痛，且健脾胃，進食止
      瀉，然後服消塊湯。

      ◎加味生化湯：治血塊日久不消，半月後方可用。
      　川芎（一錢）            當歸（三錢）
        肉薑（四分）            桃仁（十五粒）
        三棱（醋炒，六分）      元胡（六分）
        肉桂（六分）            炙草（四分）

<hr class="分段">
篇名：血暈
出典：傅青主女科產後編上卷＼產後諸證治法
內文：　　分娩之後，眼見黑花，頭眩昏暈，不省人事者：一因勞倦甚而氣
      竭神昏；二因大脫血而氣欲絕；三因痰火乘虛泛上而神不守。當急服
      生化湯二、三帖，外用韭菜細切，納有嘴瓶中，用滾醋二鍾沖入瓶內
      ，急沖產母鼻中，即醒。若偏信古方，認為惡血搶心，而輕用散血之
      劑；認為疫火，而用無補消降之方，誤甚矣。
      　　如暈厥牙關緊閉，速煎生化湯，挖開口，將鵝毛探喉，酒盞盛而
      灌之。如灌下腹中漸溫暖，不可拘帖數，外用熱手在單衣上，從心揉
      按至腹，常熱火暖之，一兩時，服生化湯四帖完，即神清。始少緩藥
      ，方進粥，服至十服而安。故犯此者，速灌藥火暖，不可棄而不救。
      若在冬月，婦人身欠暖，亦有大害，臨產時必預煎生化湯，預燒秤鍾
      硬石子，候兒下地，連服二、三帖。又產婦枕邊，行醋韭投醋瓶之法
      ，決無暈症。又兒生時，合家不可喜子而慢母，產母不可顧子忘倦，
      又不可產訖即臥，或忿怒逆氣，皆致血暈，滇之，慎之！

      ◎加味生化湯：治產後三血暈症。
      　川芎（三錢）            當歸（六錢）
        黑薑（四分）            桃仁（十粒）
        炙草（五分）            荊芥（四分，炒黑）
        　大棗，水煎服。
      　　勞倦甚而暈，及血崩氣脫而聾，並宜速灌兩服。如形色脫，或汗
      出而脫，皆急服一帖，即加人參三、四錢，（一加肉桂四分），決不
      可疑參為補而緩服。痰火乘虛泛上而暈，方內加橘紅四分。虛甚加人
      參二錢。肥人多痰，再加竹瀝七分，薑汁少許，總不可用棱朮破血等
      方。其血塊痛甚，兼送益母丸，或鹿角灰、或元胡散，或獨勝散、上
      消血塊方，服一服即效，不必易方，從權救急。

      ◎加參生化湯：治產後形色脫暈，或汗多脫暈。
      　人參（三錢，有倍加至五錢者）
        川芎（二錢）            當歸（五錢）
        炙草（四分）            桃仁（十粒）
        炮薑（四分）
        　大棗，水煎服。
          脈脫形脫，將絕之症，必服此方，加參四、五錢，頻頻灌之。
      產後血崩、血暈、兼汗多，宜服此方。無汗不脫，只服本方，不必
      加參。左尺脈脫，亦加參。此方治產後危急諸症，可通用，一晝一
      夜，必須服三、四劑，若照常症服，豈能接將絕之氣血，扶危急之
      變症耶！產後一、二日，血塊痛雖未止，產婦氣血虛脫，或暈或厥
      、或汗多、或形脫，口氣漸涼，煩渴不止，或氣喘急，無論塊痛，
      從權用加參生化湯。病勢稍退，又當減參，宜服生化湯。
          加減法：血塊痛甚加肉桂七分；渴加麥冬一錢，五味十粒；汗
      多加麻黃根一錢。如血塊不痛，加炙黃耆一錢以止汗；傷飯食麵食
      ，加炒神曲一錢，麥芽五分炒；傷肉食，加山查五個，砂仁四錢炒
      。

<hr class="分段">
篇名：厥症
出典：傅青主女科產後編上卷＼產後諸證治法
內文：　　婦人產有用力過多，勞倦傷脾，故逆冷而厥，氣上胸滿，脈去
      形脫，非大補不可，豈錢數川芎、當歸能回陽復神乎！必用加參生
      化湯，倍參，進二劑，則氣血旺而神自生矣，厥自止矣。若服藥而
      反渴，另有生脈散，獨參代茶飲，救臟之燥。如四肢逆冷，又泄痢
      類傷寒陰症，又難用四逆湯，必用倍參生化湯，加附子一片，可以
      回陽止逆，又可以行參、歸之力。立二方於下分先後。

      ◎加參生化湯：治產後發厥，塊痛未止，不可加耆、朮。
        川芎（二錢）            當歸（四錢）
        炙草（五分）            炮薑（四分）（一作黑薑）
        桃仁（十粒，去皮尖，研）人參（二錢）
          棗，水煎。進二服。

      ◎滋榮益氣復神湯：治產後發厥，問痛塊已除可服此方。
        人參（三錢）            黃耆（一兩，蜜炙）
        白朮（一錢，土炒）      當歸（三錢）
        炙草（四分）            陳皮（四分）
        五味（十粒）            川芎（一錢）
        熟地（一錢）            麥芽（一錢）
          棗一枚，水煎服。
          手足冷，加附子五分；汗多，加麻黃根一錢，熟棗仁一錢；妄
      言妄見，加益智、柏子仁、龍眼肉；大便實，加肉從蓉二錢。大抵
      產後暈眩二症相類。但暈在臨盆，症急甚於厥，宜頻服生化湯幾帖
      ，塊化血旺，神清暈止；若多氣促形脫等症，必加參、耆。厥在分
      娩之後，宜倍參生化湯，止厥以復神，並補氣血也，非如上偏補氣
      血而可愈也。要知暈有塊痛，耆、朮不可加；厥症若無塊痛，耆、
      朮、地黃，並用無疑也。

<hr class="分段">
篇名：血崩
出典：傅青主女科產後編上卷＼產後諸證治法
內文：　　產後血大來，審血色之紅紫，視形色之虛實。如血紫有塊，乃
      當去其敗血也，止留作痛，不可論崩。如鮮紅之血，乃是驚傷心不
      能生血，怒傷肝不能藏血，勞傷脾不能統血，俱不能歸經耳，當以
      崩治，先服生化湯幾帖，則行中自有補。若形脫汗多氣促，宜服倍
      參生化湯幾帖以益氣，非棕灰之可止者。如產後半月外崩，又宜升
      舉大補湯治之，此症虛極，服藥平穩，未見速效，須二十帖後，諸
      症頓除。

      ◎生血止崩湯：治產後血崩。
        川芎（一錢）            當歸（四錢）
        黑薑（四分）            炙草（五分）
        桃仁（十粒）            荊芥（五分，炒黑）
        烏梅（五分，〔火段〕灰）蒲黃（五分，炒）
          棗，水煎。忌薑、椒、熱物，生冷。凡止崩用荊芥，俱宜炒黑
      　。
          鮮紅血大來，荊芥穗炒黑、白芷各五分。血竭形敗，加參三、
      四錢。汗多氣促，亦加參三、四錢；無汗，形不脫，氣促，只服生
      化湯，多服則血自平。有言歸、芎但能活血，甚誤！

      ◎升舉大補湯：滋榮益氣。如有塊動，只服前方，耆、朮勿用。
        黃耆                    白朮
        陳皮（各四分）          人參（二錢）
        炙草                    升麻（各四分）
        當歸                    熟地（各二錢）
        麥冬（一錢）            川芎（一錢）
        白芷（四分）            黃連（三分，炒）
        荊芥穗（四分，炒黑）
          汗多，加麻黃根一錢，浮麥炒一小撮；大便不通，加肉從蓉一
      錢），禁用大黃。氣滯，磨木香三分；痰，加貝母六分，竹瀝薑汁
      少許；寒嗽，加杏仁十粒，桔梗五分，知母一錢；驚，加棗仁、柏
      子仁各一錢；傷飯，加神曲、麥芽各一錢；傷肉食，加山查、砂仁
      各八分，俱加棗、水煎。身熱不可加連、柏；傷食怒氣，均不可專
      用耗散無補藥。凡年老虛人患崩，宜升舉大補湯。

          按症虛極，注中有“身熱不可加連、柏”云云。後復神湯項下
      注有宜用此湯“少佐黃連墜火”云云。設無火可墜，此方內並無熱
      藥，無須反佐，恐黃連未可輕用，此處最宜詳填。又注中寒嗽加有
      知母，既係寒嗽，知母亦未可擅用。此條疑原刊“寒”字有誤。

<hr class="分段">
篇名：氣短似喘
出典：傅青主女科產後編上卷＼產後諸證治法
內文：　　因血脫勞甚，氣無所恃，呼吸止息，違其常度，有認為痰火，
      反用散氣化痰之方，誤人性命，當以大補血為主。如有塊，不可用
      參、耆、朮；無塊，方可用本方，去桃仁，加熟地並附子一片；足
      冷，加熟附子一錢，及參、朮、陳皮，接續補氣養榮湯。

      ◎加參生化湯：治分娩後即患短氣者。有塊不可加耆、朮。
        川芎（二錢）            當歸（四錢）
        炙草（五分）            黑薑（四分）
        桃仁（十粒，去皮尖，研）人參（二錢）
          引加棗一枚，連進二、三帖後，再用後方。

      ◎補氣養榮湯：治產後氣短日，血塊不痛，宜服此方。
        黃耆（一錢）            白朮（一錢）
        當歸（四錢）            人參（三錢）
        陳皮（四分）            炙草（四分）
        熟地（二錢）            川芎（二錢）
        黑薑（四分）
          如手足冷，加熟附子一錢；汗多，加麻黃根一錢，浮麥一小撮
      ；渴，加麥冬一錢，五味子十粒；大便不通，加肉從蓉一錢，麻仁
      一撮；傷麵飯，加炒神曲一錢，炒麥芽一錢；傷肉食，加山查、砂
      仁各五分。
          按麥芽有回乳之害，用看慎之！
          黃耆、白朮一作各二錢。凡止汗用浮麥宜炒

<hr class="分段">
篇名：妄言妄見
出典：傅青主女科產後編上卷＼產後諸證治法
內文：　　由氣血虛，神魂無依也，治當論塊痛有無緩急。若塊痛未除，
      先服生化湯二、三帖，痛止，繼服加參生化湯，或補中益氣湯，加
      安神定志丸調服之。若產日久，形氣俱不足，即當大補氣血，安神
      定志，服至藥力充足，其病自愈。勿謂邪祟，若噴以法水驚之，每
      至不救。屢治此症，服藥至十數帖方效。病虛似邪，欲除其邪，先
      補其虛，先調其氣，次論諸病，此古人治產後虛症，及年老虛喘，
      弱人妄言，所當用心也。

      ◎安神生化湯：治產後塊痛未止，妄言妄見症，未可用耆、朮。
        川芎（一錢）            柏子仁（一錢）
        人參（一、二錢）        當歸（二、三錢）
        茯神（二錢）            桃仁（十二粒）
        黑薑（四分）            炙草（四分）
        益智（八分，炒）        陳皮（三分）
          棗，水煎。

      ◎滋榮益氣復神湯：塊痛已止，妄言妄見，服此方即愈。
        黃耆                    白朮
        麥冬                    川芎
        柏子仁                  茯神
        益智（各一錢）          陳皮（三分）
        人參                    熟地（各二錢）
        炙草（四分）            五味子（十粒）
        棗仁（十粒、一錢）      蓮子（八枚）
        元肉（八個）
          棗，水煎服。

          產後血崩、血脫、氣喘、氣脫，神脫妄言，雖有血氣陰陽之分
      ，其精散神去一也。比暈後少緩，亦危症也。若非厚藥頻服，失之
      者多矣。誤論氣實痰火者，非也。新產有血塊痛，並用加參生化湯
      ，行中有補，斯免滯血血暈之失也。其塊痛止，有宜用升舉大補湯
      ，少佐黃連，墜火以治血脫，安血歸經也；有宜用倍參補中益氣湯
      ，少佐附子，助參以治氣脫，攝氣歸淵也；有宜用滋榮益氣復神湯
      ，少佐痰劑，以清心火，安君主之官也。

<hr class="分段">
篇名：傷食
出典：傅青主女科產後編上卷＼產後諸證治法
內文：　　新產後禁膏粱，遠厚味。如飲食不節，必傷脾胃，治當扶元，
      溫補氣血，健脾胃。審傷何物，加以消導諸藥。生化湯加神曲、麥
      芽以消麵食；加山查、砂仁以消肉食；如寒冷之物，加吳萸、肉桂
      ；如產母虛甚，加人參、白朮。又有塊，然後消補並治，無有不安
      者。屢見治者不重產後之弱，惟知速消傷物，反損真氣，益增滿悶
      ，可不慎哉！

      ◎加味生化湯：治血塊未消，服此以消食。
        川芎（二錢）            當歸（五錢）
        黑薑（四分）            炙草（五分）
        桃仁（十粒）
          問傷何物，加法如前，煎服。健脾

      ◎消食生化湯：治血塊已除，服此消食。
        川芎（一錢）            人參
        當歸（各二錢）          白朮（一錢半）
        炙草（五分）
          審傷何物，加法如前。如停寒物日久，脾胃虛弱，恐藥不能運
      用，可用揉按，炒神曲熨之，更妙。凡傷食誤用消導藥，反絕粥幾
      日者，宜服此方。

<hr class="分段">
篇名：忿怒
出典：傅青主女科產後編上卷＼產後諸證治法
內文：　　產後怒氣逆，胸隔不利，血塊又痛，宜用生化湯去桃仁；服時
      磨木香二分在內，則塊化怒散，不相悖也。若輕產重氣，偏用木香
      、烏藥、枳殼、砂仁之類，則元氣反損，益增滿悶。又加怒後即食
      ，胃弱停悶，當審何物，治法如前。慎勿用木香、擯榔丸、流氣引
      子之方，便虛弱愈甚也。

      ◎木香生化湯：治產後血塊已除因受氣者。
        川芎（二錢）            當歸（六錢）
        陳皮（三分）            黑薑（四分）
      　　服時磨木香二分在內。此方減桃仁，用木香、陳皮。前有減乾
      薑者，詳之。

      ◎健脾化食散氣湯：治受氣傷食無塊痛者。
        白朮（二錢）            當歸（二錢）
        川芎（一錢）            黑薑（四分）
        人參（二錢）            陳皮（三錢）
      　　審傷何物，加法如前。

          大抵產後忿怒氣逆及停食二症，善治者，重產而輕怒氣消食，
      必以補氣血為先，佐以調肝順氣，則怒鬱散而元不損；佐以健脾消
      導，則停食行而思谷矣。若耑理氣消食，非徒無益，而又害之。

          陳皮一作三分。又有炙草四分，存參。

<hr class="分段">
篇名：類瘧
出典：傅青主女科產後編上卷＼產後諸證治法
內文：　　產後寒熱往來，每日應期而發，其症似瘧，而不可作瘧治。夫
      氣血虛而寒熱更作，元氣虛而外邪或侵，或嚴寒、或極熱、或晝輕
      夜重、或日晡寒熱，絕類瘧症，治當滋榮益氣，以退寒熱。有汗急
      宜止，或加麻黃根之類；只頭有汗而不及於足，乃孤陽絕陰之危症
      ，當加地黃、當歸之類；如陽明無惡寒，頭痛無汗，且與生化湯，
      加羌活，防風、連鬚、蔥白數根以散之。其柴胡清肝飲等方，常山
      、草果等藥，俱不可用。

      ◎滋榮養氣扶正湯：治產後寒熱有汗，午後應期發者。
        人參（二錢）            炙黃耆
        白朮                    川芎
        熟地                    麥冬
        麻黃根（各一錢）        當歸（三錢）
        陳皮（四分）            炙草（五分）
      　　棗水煎。

      ◎加減養胃湯：治產後寒熱往來，頭痛無汗類瘧者。
        炙草（四分）            白茯苓（一錢）
        半夏（八分，制）        川芎（一錢）
        陳皮（四分）            當歸（二錢）
        蒼朮（一錢）            藿香（四分）
        人參（一錢）
          薑引煎服。
          有痰，加竹瀝、薑汁、半夏、神曲，弱人兼服河車丸。凡久瘧
      不愈，兼服參朮膏以助藥力。

      ◎參朮膏：
        白朮一斤米泔浸一宿，銼焙，人參一兩用水六碗，煎二碗，再煎
      二次，共計六碗，合在一處，將藥汁又熬成一碗，空心米湯化半酒
      盞。

<hr class="分段">
篇名：類傷寒二陽症
出典：傅青主女科產後編上卷＼產後諸證治法
內文：　　產後七日內，發熱頭痛惡寒，毌專論傷寒為太陽症；發熱頭痛
      脅痛，毌專論傷寒為少陽症，二症皆由氣血兩虛，陰陽不和而類外
      感。治者慎勿輕產後熱門，而用麻黃湯以治類太陽症；又勿用柴胡
      湯以治類少陽症。且產母脫血之後，而重發其汗，虛虛之禍，可勝
      言哉！昔仲景云：「亡血家不可發汗。」丹溪云：「產後切不可發
      表。」二先生非謂產後真無傷寒之兼症也，非謂麻黃湯、柴胡湯之
      不可對症也，誠恐後輩學業偏門而輕產，執成方而發表耳。誰知產
      後真感風感寒，生化中芎、薑亦能散之乎！

      ◎加味生化湯：治產後三日內發熱頭痛症。
        川芎                    防風（各一錢）
        當歸（三錢）            炙草（四分）
        桃仁（十粒）            羌活（四分）
          一本無桃仁，有黑薑四分。

          查刊本去桃仁。然必須間有塊痛與否，方可議去。服二帖後，
      頭仍病，身仍熱，加白芷八分、細辛四分；如發熱不退，頭痛如故
      ，加連鬚蔥五個、人參三錢。產後敗血不散，亦能作寒作熱，何以
      辨之？曰：時有刺痛者，敗血也；但寒熱無他症者，陰陽不和也。
      刺痛用當歸，乃和血之藥；若乃積血而刺痛者，宜用紅花、桃仁、
      歸尾之類。

<hr class="分段">
篇名：類傷寒三陰症
出典：傅青主女科產後編上卷＼產後諸證治法
內文：　　潮熱有汗，大便不通，毌專論為陽明症；口燥咽乾而渴，毌專
      論為少陰症；腹滿液乾，大便實，毌專論為太陰症；又汗出譫語便
      閉，毌專論為腸胃中燥糞宜下症。數症多由勞倦傷脾，運化稽遲，
      氣血枯搞，腸腑燥涸，乃虛症類實，當補之症，治者勿執偏門輕產
      ，而妄議三承氣湯，以治類三陰之症也。間有少壯產後妄下，幸而
      無妨；虛弱產婦亦復妄下，多致不救。屢見妄下成膨，誤導反結。
      又有血少，數日不通，而即下致瀉不止者，危哉！《婦人良方》云
      ：產後大便秘，若計其日期，飯食數多，即用藥通之，禍在反掌。
      必待腹滿覺脹，欲去不能者，反結在直腸，宜用豬膽汁潤之。若日
      期雖久，飲食如常，腹中如故，只用補劑而已。若服苦寒疏通，反
      傷中氣，通而不止，或成痞滿，誤矣！

      ◎養正通幽湯：治產後大便秘結類傷寒三陰症。
        川芎（二錢半）          當歸（六錢）
        炙草（五分）            桃仁（十五粒）
        麻仁（二錢，炒）        肉從蓉（酒洗去甲，一錢）
          汗多便實，加黃耆一錢，麻黃根一錢，人參二錢；口燥渴，加
      人參、麥冬各一錢；腹滿溢便實，加麥冬一錢，枳殼六分，人參二
      錢，蓯蓉一錢；汗出譫語便實，乃氣血虛竭，精神失守，宜養榮安
      神，加茯神、遠志、蓯蓉各一錢，人參、白朮各二錢，黃耆、白芷
      各一錢，柏子仁一錢。

          以上數等大便燥結症，非用當歸，人參至斤數，難取功效。大
      抵產後虛中傷寒，口傷食物，外症雖見頭痛發熱，或脅痛腰痛，是
      外感宜汗，猶當重產亡血禁汗。惟宜生化湯，量為加減，調理無失
      。又如大便秘結，猶當重產亡血禁下，宜養正助血通滯，則穩當矣
      。

      ◎又潤腸粥：治產後日久大便不通。
        芝麻一升研末，和米二合，煮粥食，腸潤即通。

<hr class="分段">
篇名：類中風
出典：傅青主女科產後編上卷＼產後諸證治法
內文：　　產後氣血暴虛，百骸少血濡養，忽然口噤牙緊，手足筋脈拘搐
      等症，類中風癇痙，雖虛火泛上有痰，皆當以末治之，勿執偏門，
      而用治風消痰之方，以重虛產婦也。治法當先服生化湯，以生旺新
      血。如見危症，三服後，即用加參，益氣以救血脫也；如有痰火，
      少佐橘紅、炒芩之類，竹瀝、薑汁亦可加之，黃柏、黃連切不可並
      用，慎之！

      ◎滋榮活絡湯：治產後血少口噤項強筋搐類風症。
        川芎（一錢半）          當歸
        熟地                    人參（各二錢）
        黃耆                    茯神
        天麻（各一錢）          炙草
        陳皮                    荊芥穗
        防風                    羌活（各四分）
        黃連（八分，薑汁炒）
          有痰，加竹瀝、薑汁、半夏；渴，加麥冬、葛根；有食，加山
      查、砂仁以消肉食，神曲、麥芽以消飯食；大便閉，加肉從蓉一錢
      半；汗多，加麻黃根一錢；驚悸，加棗仁一錢。

      ◎天麻丸：治產後中風恍惚語澀四肢不利。
        天麻（一錢）            防風（一錢）
        川芎（七分）            羌活（七分）
        人參                    遠志
        柏子仁                  山藥
        麥冬（各一錢）          棗仁（一兩）
        細辛（一錢）            南星曲（八分）
        石菖蒲（一錢）
          研細末，煉蜜為丸，辰砂為衣，清湯下六、七十丸。
          一本棗仁用一錢，細辛用四分，存參。

<hr class="分段">
篇名：類痙
出典：傅青主女科產後編上卷＼產後諸證治法
內文：　　產後汗多，即變痙者，項強而反，氣息如絕，宜速服加減生化
      湯。

      ◎加減生化湯：專治有汗變痙者。
        川芎                    麻黃根（各一錢）
        當歸（四錢）            桂枝（五分）
        人參（一錢）            炙草（五分）
        羌活（五分）            天麻（八分）
        附子（一片）            羚羊角（八分）
          如無汗類痙者中風，用川芎三錢，當歸一兩酒洗，棗仁、防風
      俱無份量。
          一本心引用生薑一片，棗一枚。

<hr class="分段">
篇名：出汗
出典：傅青主女科產後編上卷＼產後諸證治法
內文：　　凡分娩時汗出，由勞傷脾、驚傷心，恐傷肝也。產婦多兼三者
      而汗出，不可即用斂汗之劑，神定而汗自止。若血塊作痛，耆朮未
      可遽加，宜服生化湯二、三帖，以消塊痛，隨繼服加參生化湯，以
      止虛汗。若分娩後倦甚，濈濈然汗出，形色又脫，乃亡陽脫汗也；
      汗本亡陽，陽亡則陰隨之，故又當從權，速灌加參生化湯，倍參以
      救危，毌拘塊痛。婦人產多汗，當健脾以斂水液之精，益榮衛以噓
      血歸源，灌溉四肢，不便妄行。雜症雖有自汗盜汗痙類汗出之分，
      然當歸六黃湯不可治產後之盜汗也，並宜服加參生化湯及加味補中
      益氣二方；若服參耆而汗多不止，及頭出汗而不至腰足，必難療矣
      ；如汗出而手拭不及者，不治。產後汗出氣喘等症，虛之極也，不
      受補者，不治。

      ◎麻黃根湯：治產後虛汗不止。
        人參（二錢）            當歸（二錢）
        黃耆（一錢半，炙）      白朮（一兩，炒）
        桂枝（五分）            麻黃根（一錢）
        粉草（五分，炒）        牡蠣（研，少許）
        浮麥（一大撮）
          虛脫汗多，手足冷，加黑薑四分，熟附子一片；渴加麥冬一錢
      ，五味十粒。肥白人產後多汗，加竹瀝一盞，薑汁一小匙，以清痰
      火。惡風寒，加防風、桂枝各五分；血塊不落，加熟地三錢，晚服
      八味地黃丸。
        山茱萸                  山藥
        丹皮                    雲苓（各八錢）
        澤瀉（五錢）            熟地（八錢）
        五味子（五錢）          炙黃耆（一兩）
          煉蜜為丸。陽加於陰則汗，因而遇風，變為瘈瘲者有之，尤難
      治。故汗多，宜謹避風寒。汗多小便不通，乃亡津液故也，勿用利
      水藥。

<hr class="分段">
篇名：盜汗
出典：傅青主女科產後編上卷＼產後諸證治法
內文：　　產後睡中汗出，醒來即止，猶盜瞰入睡，而謂之盜汗，非汗自
      至之比日。《雜症論》云：「自汗陽虧，盜汗陰虛。」然當歸六黃
      湯又非產後盜汗方也，兼氣血而調治之，乃為得耳。

      ◎止汗散：治產後盜汗。
        人參（二錢）            當歸（二錢）
        熟地（一錢半）          麻黃根（五分）
        黃連（五分，酒炒）      浮小麥（一大撮）
        棗（一枚）
      ◎又方：
        牡蠣（〔火段〕細末，五分）小麥麵（炒黃，研末）
          一本牡蠣、小麥炒黃，各五分，空心調服。

<hr class="分段">
篇名：口渴兼小便不利
出典：傅青主女科產後編上卷＼產後諸證治法
內文：　　產後煩躁，咽乾而渴，兼小便不利，由失血汗多所致，治當助
      脾益肺，升舉氣血，則陽升陰降，水入經而為血為液，谷入胃而氣
      長脈行，自然津液生而便調利矣。若認口渴為火，而用芩、連、梔
      、柏以降之，認小便不利為水滯，而用五茶散以通之，皆失治也。
      必因其勞損而溫之益之，因其留滯而濡之行之，則庶幾矣。

      ◎生津止渴益水飲
        人參                    麥冬
        當歸                    生地（各三錢）
        黃耆（一錢）            葛根（一錢）
        升麻                    炙草（各四分）
        茯苓（八分）            五味子（十五粒）
          汗多，加麻黃根一錢，浮小麥一大撮；大便燥，加肉從蓉一錢
      五分；渴甚，加生脈散，不可疑而不用。

<hr class="分段">
篇名：遺尿
出典：傅青主女科產後編上卷＼產後諸證治法
內文：　　氣血太虛，不能約束，宜八珍湯加升麻、柴胡，甚者加熟附子
      一片

<hr class="分段">
篇名：誤破尿胞
出典：傅青主女科產後編下卷
內文：　　產理不順，穩婆不精，誤破尿胞膀胱者，用參、耆為君，歸、
      芎為臣，桃仁、陳皮、茯苓為佐，豬羊尿胞煎藥，百服乃安。又方
      云，用生黃絲絹一尺，白牡丹皮根為末，白芨末各二錢，水二碗，
      煮至絹爛如飴，服之，宜靜臥，不可作聲，名補脬飲，神效。

<hr class="分段">
篇名：患淋
出典：傅青主女科產後編下卷
內文：　　由產後虛弱，熱客於脬中，內虛頻數，熱則小便淋澀作痛曰淋
      。

      ◎茅根湯：凡產後冷熱淋並治之。
        石膏（一兩）            白茅根（一兩）
        瞿麥                    白茯苓（各五錢）
        葵子                    人參
        桃膠                    滑石（各一錢）
        石首魚頭（四個）
          燈心水煎，入齒末，空心服。
          一本小注載：症由內虛，方用石膏一兩，無此治法，不可拘執
      陳方以致誤人。一本石膏作一錢，無滑石。一作各等分。
      ◎又方：治產後小便痛淋血。
        白茅根                  翟麥
        葵子                    車前子
        通草（以上俱無份量）    鯉魚齒（一百個）
          水煎服。亦入齒末。
          按齒末，疑均是鯉魚齒。

<hr class="分段">
篇名：便數
出典：傅青主女科產後編下卷
內文：　　由脬內素有冷氣，因產發動，用石脂二兩為末，空心服。又方
      ，治小便數及遺尿，用益智仁二十八枚為末，米飲送下二錢。又：

      ◎桑螵蛸散
        桑螵蛸（三十個）        人參
        黃耆                    鹿茸
        牡蠣                    赤石脂（各三錢）
          為末，空心服二錢，米飲送下。

<hr class="分段">
篇名：瀉
出典：傅青主女科產後編下卷
內文：　　產後泄瀉，非雜症有食泄、濕泄、水谷注下之論，大率氣虛食
      積與濕也。氣虛宜補、食積宜消、濕則宜燥，然惡露未淨，遽難驟
      燥，當先服生化湯二、三帖，化舊日生新，加茯苓以利水道，侯血
      生，然後補氣以消食，燥濕以分利水道，使無滯澀虛虛之失。若產
      旬日外，方論雜症，尤當論虛實而治也。如痛下清水，腹嗚，米飲
      不化者，以寒泄治；如糞水黃赤，肛門作痛，以熱泄治之；有因飲
      食過多，傷脾成泄，氣臭如敗卵，以食積治之；又有脾氣久虛少食
      ，食下即鳴，急盡下所食之物，方覺快者，以虛寒泄治之。治法寒
      則溫之，熱則清之，脾傷食積，分利健脾，兼消補虛，善為調治，
      無失也。產後虛瀉，眠昏人不識，弱甚形脫危症，必用人參二錢，
      白朮、茯苓各二錢，附子一錢，方能回生。若脈浮弦，按之不鼓，
      即為中寒，此蓋陰先亡而陽欲去，速宜大補氣血，加附子、黑薑以
      回元陽，萬勿忽視。

      ◎加減生化湯：治產後塊未消患瀉症。
        川芎（二錢）            茯苓（二錢）
        當歸（四錢）            黑薑（五分）
        炙草（五分）            桃仁（十粒）
        蓮子（八枚）
          水煎，溫服。

      ◎健脾利水生化湯：治產後塊已除，患瀉症。
        川芎（一錢）            茯苓（一錢半）
        歸身（二錢）            黑薑（四分）
        陳皮（五分）            炙草（五分）
        人參（三錢）            肉果（一個，制）
        白朮（一錢，土炒）      澤瀉（八分）
          寒瀉，加乾薑八分；寒痛，加砂仁、炮薑各八分；熱瀉，加炒
      黃連八分；瀉水腹痛，米飲不化，加砂仁八分，麥芽、山查各一錢
      ；瀉有酸噯臭氣，加神曲、砂仁各八分。脾氣久虛，瀉出所食物方
      快，以虛寒論；瀉水者，加蒼朮一錢以燥濕；脾氣弱，元氣虛，必
      須大補，佐消食清熱袪寒藥。弱甚形色脫，必須第一方，參、朮、
      苓、附，必用之藥也。諸瀉俱加升麻酒炒，蓮子十粒。

<hr class="分段">
篇名：完谷不化
出典：傅青主女科產後編下卷
內文：　　因產後勞倦傷脾，而運轉稽遲也，名飧泄；又飲食太過，脾胃
      受傷，亦然，俗呼水谷痢是也。然產方三日內，塊未消化，此脾胃
      衰弱，參、耆、朮未可遽加，且服生化湯加益智、香砂，少溫脾氣
      ，侯塊消後，加參、耆、朮補氣，肉果、木香、砂仁、益智溫胃，
      升麻、柴胡清胃氣，澤瀉、茯苓、陳皮以利水，為上策也。

      ◎加味生化湯：治產後三日內完谷不化，塊未消者。
        川芎（一錢）            益智（一錢）
        當歸（四錢）            黑薑（四分）
        炙草（四分）            桃仁（十粒）
        茯苓（一錢半）
          一本當歸作三錢，有棗一枚。

      ◎參苓生化湯：治產後三日內塊已消，谷不化，胎前素弱患此症者
      　　　　　　　。
        川芎（一錢）            當歸（二錢）
        黑薑（四分）            炙草（五分）
        人參（二錢）            茯苓（一錢）
        白芍（一錢，炒）        益智（一錢，炒）
        白朮（二錢，土炒）      肉果（一個，制）
          瀉水多，加澤瀉、木通各八分；腹痛，加砂仁八分；渴，加麥
      冬、五味子；寒瀉，加黑薑一錢，木香四分；食積，加神曲、麥芽
      消飯麵，砂仁、山查消肉食。產後瀉痢日久，胃氣虛弱，完谷不化
      ，宜溫助胃氣，六君子湯加木香四分，肉果一個（制）。
          一本有蓮子八枚，去心，棗三枚

<hr class="分段">
篇名：痢
出典：傅青主女科產後編下卷
內文：　　產後七日內外，患赤白痢，裡急後重頻並，最為難治。欲調氣
      行血，而推盪痢邪，猶患產後元氣虛弱；欲滋榮益氣，而大補虛弱
      ，又助痢之邪，惟生化湯減乾薑，而代以木香、茯苓，則善消惡露
      ，而兼治痢疾，並行而不相悼也。再服香連丸，以侯一、二日後，
      病勢如減，可保無虞。若產七日外，有患褐花色後重，頻並虛痢，
      即當加補無疑。若產婦稟厚，產期已經二十餘日，宜服生化湯加連
      、芩、厚樸、芍藥行積之劑。

      ◎加減生化湯：治產後七日內患痢。
        川芎（二錢）            當歸（五錢）
        炙草（五分）            桃仁（十二粒）
        茯苓（一錢）            陳皮（四分）
        木香（磨，三分）
          紅痢腹痛，加砂仁八分。

      ◎青血丸：治噤口痢。
        香連為末，加蓮肉粉，各一兩半，和勻為丸，酒送下四錢。

          凡產三，四日後，塊散，痢疾少減，共十症，開後依治：
      一產後久瀉：元氣下陷，大便不禁，肛門如脫，宜服六君子湯，加
                  木香四分，肉果一個（制），薑汁（五分）；
      二產後瀉痢：色黃，乃脾土真氣虛損，宜服補中益氣湯，加木香、
                　肉果；
      三產後傷麵食：瀉痢，宜服生化湯，加神曲、麥芽；一本神曲，麥
                    芽下有各一錢。
      四產後傷肉食：瀉痢，宜服生化湯，加山查、砂仁；
      五產後胃氣虛弱：瀉痢，完谷不化，當溫助胃氣，宜服六君子湯，
                      加木香四分，肉果一個（制）；
      六產後脾胃虛弱：四肢浮腫，宜服六君子湯，加五皮散（見後水腫
                      ）；
      七產後瀉痢：無後重，但久不止，宜服六君子湯，加木香、肉果；
      八產後赤白痢：臍下痛，當歸、厚樸、黃連、肉果、甘草，桃仁、
                    川芎；
      九產後久痢：色赤，屬血虛，宜四物湯，加荊芥、人參；
      十產後久痢：色白，屬氣虛，宜六君子湯，加木香、肉果。

<hr class="分段">
篇名：霍亂
出典：傅青主女科產後編下卷
內文：　　由勞傷氣血，臟腑空虛，不能運化食物，及感冷風所致，陰陽
      升降不順，清濁亂於脾胃，冷熱不調，邪正相搏，上下為霍亂。

      ◎生化六和湯：治產後血塊痛未除，患霍亂。
        川芎（二錢）            當歸（四錢）
        黑薑                    炙草
        陳皮                    藿香（各四分）
        砂仁（六分）            茯苓（一錢）
          薑三片，煎。

      ◎附子散：治產後霍亂吐瀉，手足逆冷，須無塊痛方可服。
        白朮（一錢）            當歸（二錢）
        陳皮                    黑薑
        丁香                    甘草（各四分）
          共為末，粥飲送下二錢。
          一本有附子五分。

      ◎溫中湯：治產後霍亂吐瀉不止，無塊痛者可服。
        人參（一錢）            白朮（一錢半）
        當歸（二錢）            厚樸（八分）
        黑薑（四分）            茯苓（一錢）
        草豆蔻（六分）
          薑三片，水煎服。

<hr class="分段">
篇名：嘔逆不食
出典：傅青主女科產後編下卷
內文：　　產後勞傷臟腑，寒邪易乘於腸胃，則氣逆嘔吐而不下食也。又
      有瘀血未淨而嘔者，亦有痰氣入胃，胃口不清而嘔者，當隨症調之
      。

      ◎加減生化湯：治產婦嘔逆不食。
        川芎（一錢）            當歸（三錢）
        黑薑                    砂仁
        藿香（各五分）          淡竹葉（七片）
        　水煎，和薑汁二匙服。

      ◎溫胃丁香散：治產後七日外嘔逆不食。
        當歸（三錢）            白朮（二錢）
        黑薑（四分）            丁香（四分）
        人參（一錢）            陳皮（五分）
        炙草（五分）            前胡（五分）
        藿香（五分）
        　薑三片，水煎服。

      ◎石蓮散：治廣婦嘔土心衝目弦。
        石蓮子（去殼，去心，一兩半）白茯苓（一兩）
        丁香（五分）
          共為細末，米飲送下。一本有白朮，無白茯苓，丁香作五錢，
      用者酌之。

      ◎生津益胃湯：治產婦虛弱，口渴氣少，由產後血少多汗內煩不生
                　　津液。
        人參                    麥冬（去心）
        茯苓（各一兩）          大棗
        竹葉                    浮小麥
        炙草                    栝萎根
          大渴不止，加蘆根。
          一本人參一錢，麥冬茯苓三錢，存參。

<hr class="分段">
篇名：咳嗽
出典：傅青主女科產後編下卷
內文：　　治產眉七日內，外感風寒，咳嗽鼻塞，聲重惡寒，勿用麻黃以
      動汗；嗽而脅痛，勿用柴胡湯；嗽而有聲，痰少面赤，勿用涼藥。
      凡產有火嗽，有痰嗽，必須調理半月後，方可用涼藥，半月前不當
      用。

      ◎加味生化湯：治產後外感風寒咳嗽及鼻塞聲重。
        川芎（一錢）            當歸（二錢）
        杏仁（十粒）            桔梗（四分）
        知母（八分）
          有痰，加半夏曲；虛弱有汗咳嗽，加人參。總之產後不可發汗
      。
          知母一本作（四分）。

      ◎加參安肺生化湯：治產後虛弱，旬日內外感風寒，咳嗽聲重有痰
                        ，或身熱頭痛及汗多者
        川芎（一錢）            人參（一錢）
        知母（一錢）            桑白皮（一錢）
        當歸（二錢）            杏仁（十粒，去皮尖）
        甘草（四分）            桔梗（四分）
        半夏（七分）            橘紅（三分）
          虛人多痰，加竹瀝一杯，薑汁半匙。

<hr class="分段">
篇名：水腫
出典：傅青主女科產後編下卷
內文：　　產後水氣，手足浮腫，皮膚見光榮色，乃脾虛不能制水，腎虛
      不能行水也。必以大補氣血為先，佐以蒼朮、白朮、茯苓補脾；壅
      滿，用陳皮、半夏、香附消之；虛火，加人參、木通；有熱，加黃
      芩、麥冬以清肺金。健脾利水，補中益氣湯；七日外，用人參、白
      朮各二錢，茯苓、白芍各一錢，陳皮五分，木瓜八分，紫蘇、木通
      、大腹皮、蒼朮、厚樸各四分；大便不通，加鬱李仁、麻仁各一錢
      。如因寒邪濕氣傷脾，無汗而腫，宜薑皮、半夏，蘇葉加於補氣方
      ，以表汗。

      ◎五皮散：治廣後風濕客傷脾經，氣血凝滯，以致面目浮虛，四肢
                腫脹氣喘。
        五加皮                  地骨皮
        大腹皮                  茯苓皮（各一錢）
        薑皮（一錢）
          棗一枚，水煎服。

          又云，產後惡露不淨，停留胞絡，致令浮腫，若以水氣治之，
      投以甘遂等藥，誤矣！但服調經散，則血行而腫消矣。

      ◎調經散：
        沒藥（另研）            琥珀（另研，各一錢）
        肉桂                    赤芍
        當歸（各一錢）
          上為細末，每服五分，薑汁、酒各少許，調服。

<hr class="分段">
篇名：流注
出典：傅青主女科產後編下卷
內文：　　產後惡露流於腰臂足關節之處，或漫腫、或結塊，久則腫起作
      痛，肢體倦怠，急宜用蔥熨法以治外腫；內服參歸生化湯以消血滯
      ，無緩也。未成者消，已成者潰。

      ◎蔥熨法：
        用蔥一握，炙熱，搗爛作餅，敷痛處，用厚布二、三層，以熨斗
        ，火熨之。

      ◎參歸生化湯：
        川芎（一錢半）          當歸（二錢）
        炙草（五分）            人參（二錢）
        黃耆（一錢半）          肉桂（五分）
        馬蹄香（二錢）

          此症若不補氣血，節飲食，慎起居，未有得生者。如腫起作痛
      ，起居飲食如常，是病氣未深，形氣未損，易治；若漫腫微痛，起
      居倦怠，飲食不足，最難治。或未成膿，未潰，氣血虛也，宜服八
      珍湯；憎寒惡寒，陽氣虛也，宜服十全大補湯；補後大熱，陰血虛
      也，宜服四物湯，加參、朮、丹皮；嘔逆，胃氣虛也，宜服六君子
      湯，加炮薑、乾薑；食少體倦，脾氣虛也，宜服補中益氣湯；四肢
      冷逆，小便頻數，腎氣虛也，補中益氣湯加益智仁一錢。神仙回洞
      散治產後流注惡露，日久成腫，用此宜導其膿，若未補氣血旺，不
      可服此方。

<hr class="分段">
篇名：膨脹
出典：傅青主女科產後編下卷
內文：　　其人素弱，臨產又勞，中氣不足，胸膈不利，而轉運稽遲，若
      產後即服生化湯以消塊止痛，又服加參生化湯以健脾胃，自無中滿
      之症。其膨脹，因傷食而誤消，因氣鬱而誤散，多食冷物而停留惡
      露；又因血虛大便燥結，誤下而愈脹；殊不知氣血兩虛，血塊消後
      ，當大補氣血，以補中虛。治者若但知傷食宜消，氣鬱宜散，惡露
      當攻，便結可下，則胃氣反損，滿悶並增，氣不升降，濕熱積久，
      遂成膨脹。豈知消導坐於補中，則脾胃強，而所傷食氣消散；助血
      兼行，大便自通，惡露自行。

          如產後中風，氣不足，微滿，誤服耗氣藥而脹者，服補中益氣
      湯。

        人參（五分）            當歸（五分）
        白朮（五分）            白茯苓（一錢）
        川芎（四分）            白芍（四分）
        蘿蔔子（四分）          木香（三分）
          一本人參、白朮俱作一錢，當歸作二錢，有薑一片。

          如傷食，誤服消導藥成脹；或脅下積塊，宜服健脾湯

        人參                    白朮
        當歸（各三錢）          白茯苓
        白芍                    神曲
        吳萸（各一錢）          大腹皮
        陳皮（各四分）          砂仁
        麥芽（各五分）
          一本人參、白朮作二錢。

          如大便不通，誤服下藥成脹，及腹中作痛，宜服養榮生化湯。

        當歸（四錢）            白芍（一錢）
        白茯苓（一錢）          人參（一錢）
        白朮（二錢）            陳皮（五分）
        大腹皮（五分）          香附（五分）
        從蓉（一錢）            桃仁（十粒，制）
          塊痛，將藥送四消丸。屢誤下，須用參、歸半斤。
          一本無桃仁。

<hr class="分段">
篇名：怔忡驚悸
出典：傅青主女科產後編下卷
內文：　　由產憂驚勞倦，去血過多，則心中跳動不安，謂之怔仲；若惕
      然震驚，一中怯怯，如人將捕之狀，謂之驚悸。治此二症，惟調和
      脾胃，志定神清而病愈矣。如分娩後血塊未消，宜服生化湯，且補
      血行塊，血旺則怔定驚平，不必加安神定志劑。如塊消痛止後患此
      ，宜服加減養榮湯。

        當歸（二錢）            川芎（二錢）
        茯神（一錢）            人參（一錢）
        棗仁（一錢，炒）        麥冬（一錢）
        遠志（一錢）            白朮（一錢）
        黃耆（一錢，炙）        元肉（八枚）
        陳皮（四分）            炙草（四分）
          薑煎。
          虛煩加竹瀝、薑汁，去川芎、麥冬，再加竹茹一團；加木香，
      即歸脾湯。

      ◎養心湯：治產後心血不定，心神不安。
        炙黃耆（一錢）          茯神（八分）
        川芎（八分）            當歸（二錢）
        麥冬（一錢八分）        遠志（八分）
        柏子仁（一錢）          人參（一錢半）
        炙草（四分）            五味（十粒）
          薑，水煎服。
      　　一本有元肉六枚。

<hr class="分段">
篇名：骨蒸
出典：傅青主女科產後編下卷
內文：　　宜服保真湯。先服清骨散。

      ◎柴胡梅連湯：即清骨散作湯，速效。
        柴胡                    前胡
        黃連                    烏梅（去核）
          各二兩，共為末聽用；再將豬脊骨一條，豬苦膽一個，韭菜白
      十根，各一寸，同搗成泥，入童便一酒盞，攪如稀糊，入藥末，再
      搗，為丸如綠豆大，每服三，四十丸，清湯送下。如上膈熱多，食
      後服。此方凡男女骨蒸皆可用之，不專治產婦。

      ◎保真湯：
        黃耆（六分）            人參（二錢）
        白朮（二錢，炒）        炙草（四分）
        川芎（六分）            當歸（二錢）
        天冬（一錢）            麥冬（二錢）
        白芍（二錢）            枸杞（二錢）
        黃連（六分，炒）        黃柏（六分，炒）
        知母（二錢）            生地（二錢）
        五味（十粒）            地骨皮（六分）
          棗三枚，去核，水煎服。
          一本無麥冬、黃連。

      ◎加味大造湯：治骨蒸勞熱。若服清骨散、梅連丸不效服此方。
        人參（一兩）            當歸（一兩）
        麥冬（八分）            石斛（八分，酒蒸）
        柴胡（六錢）            生地（二兩）
        胡連（五錢）            山藥（一兩）
        枸杞（一兩）            黃柏（七分，炒）
          先將麥冬、地黃搗爛，後入諸藥同搗為丸，加蒸紫河車另搗，
      焙乾為末，煉蜜丸。
          一本麥冬、石斛僅作八錢，柴胡五錢，黃柏四分，酒炒。

<hr class="分段">
篇名：心痛
出典：傅青主女科產後編下卷
內文：　　此即胃脘痛。因胃脘在心之下，勞傷風寒，及食冷物而作痛，
      俗呼為心痛。心可痛乎！血不足，則怔仲驚悸不安耳。若真心痛，
      手足青黑色，旦夕死矣。治當散胃中之寒氣，消胃中之冷物，必用
      生化湯，佐消寒食之藥；無有不安。若綿綿而痛，可按止之，問無
      血塊，則當論虛而加補也。產後心痛、腹痛，二症相似，因寒食與
      氣上攻於心，則心痛；下攻於腹，則腹痛，均用生化湯加肉桂、吳
      英等溫散之藥也。

      ◎加味生化湯：
        川芎（一錢）            當歸（三錢）
        黑薑（五分）            肉桂（八分）
        吳萸（八分）            砂仁（八分）
        炙草（五分）
          傷寒食，加肉桂、吳萸；傷麵食，加神曲、麥芽；傷肉食，加
      山查、砂仁；大便不通，加肉從蓉。

<hr class="分段">
篇名：腹痛
出典：傅青主女科產後編下卷
內文：　　先向有塊無塊。塊痛，只服生化湯，調失笑散二錢，加元胡一
      錢；無塊，則是遇風冷作痛，宜服加減生化湯。

        川芎（一錢）            當歸（四錢）
        黑薑（四分）            炙草（四分）
        防風（七分）            吳萸（六分）
        白蔻（五分）            桂枝（七分）
          痛止去之。隨傷食物，所加如前。

<hr class="分段">
篇名：小腹痛
出典：傅青主女科產後編下卷
內文：　　產後虛中，感寒飲冷，其寒下攻小腹作痛；又有血塊作痛者；
      又產後血虛臍下痛者，並治之以加減生化湯。

        川芎（一錢）            當歸（三錢）
        黑薑（四分）            炙草（四分）
        桃仁（十粒）
          有塊痛者，本方中送前胡散，亦治寒痛；若無塊，但小腹痛，
      亦可按而少止者，屬血虛，加熟地三錢，前胡、肉桂各一錢為末，
      名前胡散。

<hr class="分段">
篇名：虛勞
出典：傅青主女科產後編下卷
內文：指節冷痛，頭汗不止。

        人參（三錢）            當歸（三錢）
        黃耆（二錢）            淡豆豉（十粒）
        生薑（三片）            韭白（十寸）
        豬腎（二個）
          先將豬腎煮熟，取汁煎藥八分，溫服。
          一本有或用豬胃一個。先將胃略煮後再煎湯煮藥。

<hr class="分段">
篇名：遍身疼痛
出典：傅青主女科產後編下卷
內文：　　產後百節開張，血脈流散，氣弱則經絡間血多阻滯，累日不散
      ，則筋牽脈引，骨節不利，故腰背不能轉側，手足不能動履，或身
      熱頭痛，若誤作傷寒，發表出汗，則筋脈動盪，手足發冷，變症出
      焉，宜服趁痛散。

        當歸（一錢）            甘草
        黃耆                    白朮
        獨活（各八分）          肉桂（八分）
        桑寄生（一錢）          牛膝（八分）
        薤白（五根）
          薑三片，水煎服。
          一本無桑寄生。

<hr class="分段">
篇名：腰痛
出典：傅青主女科產後編下卷
內文：　　由女人腎位系胞，腰為腎腑，產後勞傷腎氣，損動胞絡，或虛
      未復而風乘之也。

      ◎養榮壯腎湯：治產後感風寒，腰痛不可轉。
        當歸（二錢）            防風（四分）
        獨活                    桂心
        杜仲                    續斷
        桑寄生（各八分）
          生薑三片，水煎服。兩帖後痛未止，屬腎虛，加熟地三錢。
          一本川芎八分。

      ◎加味大造丸：治產後日久，氣血兩虛，腰痛腎弱，方見骨蒸條。

      ◎青娥丸：
        胡桃（十二個）          破故紙（八兩，酒浸，炒）
        杜仲（一斤，薑汁炒，去絲）
          為細末，煉蜜丸，淡醋湯送六十丸。
          胡桃一本作二十個。

<hr class="分段">
篇名：脅痛
出典：傅青主女科產後編下卷
內文：　　乃肝經血虛氣滯之故。氣滯，用四君子湯加青皮、柴胡；血虛
      ，用四物湯加柴胡、人參、白朮。若概用香燥之藥，則反傷清和之
      氣，無所生矣。

      ◎補肺散：治脅痛。
        山萸                    當歸
        五味                    山藥
        黃耆                    川芎
        熟地                    木瓜
        白朮                    獨活
        棗仁（各等分）
          水煎服。
          一本山萸二錢，當歸二錢，五味十粒，黃耆八分，川芎六分，
      熟地錢半，木瓜、白朮各一錢，獨活八分，棗仁一錢，薑一片，無
      山藥，存參。

<hr class="分段">
篇名：陰痛
出典：傅青主女科產後編下卷
內文：　　產後起居太早，產門感風作痛，衣被難近身體，宜用扶風定痛
      湯。

        川芎（一錢）            當歸（三錢）
        獨活                    防風
        肉桂                    荊芥（各五分，炒黑）
        茯苓（一錢）            地黃（二錢）
          棗二枚，煎服。

          又附陰疳陰蝕。陰中瘡曰匿瘡，或痛或癢，如蟲行狀，濃汁淋
      漓。陰蝕幾盡者，由心腎煩鬱，胃氣虛弱，致氣血流滯。經云：「
      諸瘡痛癢皆屬於心。」治當補心養腎，外以藥薰洗，宜用十全陰疳
      散。

        川芎                    當歸
        白芍                    地榆
        甘草（各等分）
          水五碗，煎二碗，去渣薰，日三夜四，先薰後洗。

          一方，用蒲黃一升，水銀二兩，二味調勻搽。
          一方，用蝦蟆、兔糞等分為末，敷瘡。
          一方，治疳蟲食下部及五臟。取東南桃枝，輕打頭散，以綿纏
      之。
          一方，用石硫黃末，將縛桃枝蘸而燃煙薰之（按此條宜與上條
      合看）。
          一方，截一短竹筒，先納陰中，以桃枝燒煙薰之。

<hr class="分段">
篇名：惡露
出典：傅青主女科產後編下卷
內文：　　即繫裹兒污血，產時惡露隨下，則腹不痛而產自安。若腹欠溫
      暖，或傷冷物，以致惡露凝塊，日久不散，則虛症百出；或身熱骨
      蒸，食少贏瘦；或五心煩熱，月水不行，其塊在兩脅，動則雷鳴，
      嗜雜暈眩，發熱似瘧，時作時止，如此數症，治者欲泄其邪，先補
      其虛，必用補中益氣湯送三消丸，則元氣不損，惡露可消。

      ◎加味補中益氣湯：
        人參（一錢）            白朮（二錢）
        當歸（三錢）            黃耆（一錢，炙）
        白芍（一錢）            廣皮（四分）
        甘草（四分）
          薑，棗，煎服。

      ◎三消丸：治婦人死血食積痰三等症。
        黃連（一兩，一半用吳萸煎汁去渣浸炒，一半用益智仁炒，去益
              智仁不用）
        川芎（五錢）            萊菔子（一兩五錢，炒）
        桃仁（十粒）            山梔
        青皮                    三棱
        莪朮（各五錢，俱用醋炒）山查（一兩）
        香附（一兩，童便浸炒）
          上為末，蒸餅為丸，食遠服，用補中益氣湯送下五、六十丸；
      或用白朮三錢，陳皮五錢，水一鍾，煎五分送下亦可。

          此方治產後傷食，惡露不盡。若初產惡露不下，宜服生化湯加
      查炭三錢。每日一帖，連服四劑妙。

<hr class="分段">
篇名：乳癰
出典：傅青主女科產後編下卷
內文：　　乳頭屬足厥陰肝經，乳房屬足陽明胃經。若乳房臃腫，結核色
      紅，數日外腫痛潰稠膿，膿盡而愈，此屬膽胃熱毒，氣血壅滯，名
      日乳癰，易治。若初起內結小核，不紅不腫不痛，積之歲月，漸大
      如巉岩山，破如熟榴，難治。治法痛腫寒熱，宜發表散邪；痛甚，
      宜疏肝清胃；膿成不潰，用托裏；肌肉不生，膿水清稀，宜補脾胃
      ；膿出及潰，惡寒發熱，宜補血氣；飲食不進，或作嘔吐，宜補胃
      氣。乳岩初起，用益氣養榮湯加歸脾湯，間可內消；若用行氣破血
      之劑，速亡甚矣。

      ◎瓜萎散：治一切癰疽，並治乳癰。癰者，六腑不和之氣，陽滯於
                陰則生之。
        瓜萎（一個，連皮搗爛）  生甘草（五分）
        當歸（三錢）            乳香（五分，燈心炒）
        金銀花（三錢）          白芷（一錢）
        沒藥（五分，燈心炒）    青皮（五分）
      　　水煎，溫服。

      ◎回脈散：乳癰未潰時服此，毒從大便出，虛人不用。
        大黃（三錢半）          白芷（八分）
        乳香（五分）            木香（五分）
        沒藥（五分）            穿山甲（五分，蛤粉拌炒）
          共為末，人參二錢煎湯，調藥末服。
          一本大黃作三錢，有人參三錢。

      ◎十全大補湯：
        人參                    白朮
        黃耆                    熟地（各三錢）
        茯苓（八分）            甘草（五分）
        川芎（八分）            金銀花（三錢）
          瀉，加黃連、肉果；渴，加麥冬、五味；寒熱往來，用馬蹄香
      搗散。凡乳癰服薏苡仁粥好。又方，用烏藥軟白香辣者五錢，研，
      水一碗，牛皮膠一片，同煎七分，溫服。如孕婦腹內癰，此二方可
      通用。
          一本人參四味各二錢。

          又有乳吹，乃小兒飲乳，口氣所吹，乳汁不通，壅結作痛，不
      急治則成癰，宜速服瓜萎散，更以手揉散之。

<hr class="分段">
篇名：風甚
出典：傅青主女科產後編下卷
內文：　　用山羊血取色新者，於新瓦上焙乾，研末，老酒衝下五，六分
      為度；重者用至八分，其效如神。
      　
          又用抱不出殼雞子，瓦上焙乾，酒調服。

          如治虛寒危症，用藍須子根刮皮，新瓦上焙乾，研末，溫服一
      錢為度，雖危可保萬全。

<hr class="分段">
篇名：不語
出典：傅青主女科產後編下卷
內文：乃惡血停蓄於心，故心氣閉塞，舌強不語，用七珍散。

        人參                    石菖蒲
        川芎                    生地（各一兩）
        辰砂（五分，研）        防風（五錢）
        細辛（一錢）
          共為細末，用薄荷湯下一錢。因痰氣鬱結，閉口不語者，用好
      明礬一錢，水飛邊，沸湯送下。

      　　一方治產後不語。
        人參                    石蓮子（去心）
        石菖蒲（各等分）
          水煎服。

          《婦人良方》云：產後暗，心腎虛不能發聲，七珍散；脾氣鬱
      結，歸脾湯；脾傷食少，四君子湯；氣血俱虛，八珍湯，不應，獨
      參湯，更不宜急加附子，蓋補其血以生血，若單用佛手散等破血藥
      ，誤矣。

<hr class="分段">
篇名：產後大便不通
出典：傅青主女科補編
內文：　　用生化湯內減黑薑加麻仁；脹滿，加陳皮；血塊痛，加肉桂，
      元胡。如燥結十日以上，肛門必有燥糞，用蜜棗導之。

      ◎煉廣棗法：
        用好蜜二、三兩，火煉滾，至茶褐色，先用濕桌，傾蜜在桌上，
      用手作如棗樣，插肛門，待欲大便，去蜜棗，方便。
        又方，用麻油，口含竹管入肛門內，吹油四、五口，腹內糞和即
      通；或豬膽亦可。

<hr class="分段">
篇名：治產後雞爪風
出典：傅青主女科補編
組成：桑柴灰（三錢，存性）      魚膠（三錢，炒）
      手指甲（十二個，炒）
          共為末，黃酒送下，取汗即愈。

<hr class="分段">
篇名：保產無憂散
出典：傅青主女科補編
組成：當歸（錢半，酒洗）        炒黑芥穗（八分）
      川芎（錢半）              艾葉（七分，炒）
      麵炒枳殼（六分）          炙黃耆（八分）
      菟絲子（錢四分，酒炒）    厚樸（七分，薑炒）
      羌活（五分）              川貝母（一錢，去心）
      白芍（錢二分，酒炒）      甘草（五分）
          薑三片，溫服。
          上方保胎，每月三、五服，臨產熱服，催生如神。

<hr class="分段">
篇名：治遍體浮腫
出典：傅青主女科補編
內文：　　是脾虛水溢之過。凡浮腫者可通用，俱神效。

          真縮砂仁四兩，萊菔子二兩四錢，研末，水浸濃取汁，浸砂仁
      ，候汁盡，曬乾，研極細末，每服一錢，漸加至二錢為度，淡薑湯
      送下。

<hr class="分段">
篇名：保產神效方
出典：傅青主女科補編
內文：　　未產能安，臨產能催，偶傷胎氣，腰疼腹痛，甚至見紅不止，
      勢欲小產，危急之際，一服即愈，再服全安。臨產時交骨不開，橫
      生逆下，或子死腹中，命在垂危，服之奇效。

        全當歸（一錢五分，酒洗）紫厚樸（七分，薑汁炒）
        真川芎（一錢五分）      菟絲子（一錢五分，酒泡）
        川貝母（二錢，去心，淨煎好方和入）
        枳殼（六分，麵炒）      川羌活（六分）
        荊芥穗（八分）          黃耆（八分，蜜炙）
        蘄艾（五分，醋炒）      炙草（五分）
        白芍（一錢二分，冬用二錢，酒炒）
          生薑三片，水二鍾，煎八分，渣水一鍾煎六分，產前空心預服
      二劑，臨產隨時熱服。
</pre>
