<header><h1>素問要旨論</h1></header>
<dl class="元資料" data-type="book">
<div><dt>作者</dt><dd>劉完素</dd></div>
<div><dt>朝代</dt><dd>金</dd></div>
<div><dt>年份</dt><dd><data value="1115/1234">公元1115年至公元1234年</data></dd></div>
</dl>
<h2>自序</h2>
<p>天地之道，生一氣而判清濁，而清者輕而上升為天，濁者重而下降為地。天為陽，地為陰，乃為二儀。</p>
<p>陰陽之氣，各分三品，多寡不同，故有三陰三陽之六氣。然天非純陽，而亦有三陰，地非純陰，而亦有三陽，故天地各有三陰三陽，總之以十二矣。</p>
<p>然天之陰陽者，寒暑燥濕風火也，地之陰陽者，木火土金水火也。金火不同其運，是故五行彰矣。然天地氣運，升降不以，陰陽相感，化生萬物矣。其在天則氣結成象，以為日月星辰也，在地則氣化為形，以生人為萬物也。</p>
<p>然人為萬物之靈也，非天垂象，而莫能測矣。其我機理，歸自然也，其非聖意，而宣悟玄玄之理。故有祖聖伏犧占天望氣，及視龍馬靈龜，察其形象，而密解玄機，無不符其天理。乃以始為文字畫卦，造六甲歷紀命曰《太始天元冊文》，垂示之於後人也。以誚神農，昭明其道，乃始令人食穀，以嘗百藥，而制《本草》矣。然後黃帝命其岐伯及鬼臾區，以發明太古靈文，宣陳造化之理，論其疾苦，以著</p>
<p>《內經》焉。</p>
<p>凡此三皇三經，命曰三墳，通為教之本始，為萬法宗源，誠為天之候也。若論愈病疾，濟苦保命防危，非斯聖典，則安得致之矣。然經之所論，玄機奧妙，旨趣幽深，習者卒無所悟，而悟得其意者鮮矣。完素愚誠，輒考聖經，撮其樞要，積而歲久，集就斯文，以分三卷，敘為九篇，勒成一部，乃號《內經運氣要旨論》爾。乃以設圖彰奧，綺貫紀倜，襲句注辭，而敷其言意。或可類推者，以例傍通，例成而陳精粹之文。詁訓難明者，兼義釋字音，以附之於後。雖言詞鄙陋，所乘從俗，而庶覽者曷為悟古聖之妙道矣。</p>
<p><u>河間劉守真謹序</u></p>
<h2>序</h2>
<p>夫三皇設教，上帝垂慈，憫群生有困篤之疾，救黎庶有夭殤之厄。遂設運氣，說太始之冊文，開滎醫鑒，彰太素之妙門。先聖既遺軌范，《素問》、《靈樞》二經，共為一十八卷，其理奧妙，披會難明。</p>
<p>今有劉守真先生者，曾遇陳先生，服仙酒醉，覺得悟《素問》玄機，如越人遇長桑君，飲上池水，隔腹觀病之說也。然先生談《原病式》一卷，《宣明論》五卷，《要旨論》三卷。其《原病式》者，明病機之本，說六氣病源。《宣明論》者，精要醫方，五運六氣用藥，古往及今，淵奧妙旨，莫越於此也。《要旨論》者，《素問》隱微，天地大紀，人身通應，變化殊途，其理簡易，其趣深幽，惟此經釋，為龜鏡者也。然九篇三卷者，猶後之學人，尚難明矣。</p>
<p>宗素自幼習醫術，酷好《素問》、《內經》、《玉冊》靈文。以師事先生門下，粗得其意趣，釋《要旨》語九篇，分作八卷，入式運氣，載設圖輪，開明五運六氣，主客勝復，太過不及，淫邪反正。重釋《天元玉冊》、金匱靈文、《素問》、《靈樞》，撮其隱奧運氣之旨也。主藥當其歲，味當其氣，性用燥淨，力化淺深，四時主用，制勝扶弱，客主須安。一氣失所，余遁更作，臟腑淫並，危敗消亡。君臣佐使，明病標本，安危盛衰。若不知年之所加，氣之盛衰，不可以為功矣。□若不推其《素問》，曉達玄機，天地有運氣之升沉，人身有氣血之流轉，周天度數，營衛循環，通應人身，晝夜不息。</p>
<p>《素問》者，五太之名也。太者，大之極也。素者，形質潔白，非華綺之問也。《素問》者，問答形質之始也，形質具而　瘵由是明生。然啟玄子詮注，朱書其文，間其理隱奧，習之者濫觴其說，遺而不解者，實其多矣。今將太古靈文，乃《素問》之關鑰也，究其源流，發明解惑耳。後之學人，識天地之大紀，變化之殊邈。</p>
<p>妙哉《素問》，視如深淵，如迎浮云，莫窮其涯際，玄通隱奧，不可測量。若非劉氏，孰可發明，用釋玄機，敬資昭告。</p>
<p><u>平陽洪洞馬宗素謹序</u></p>
<h2>卷第一</h2>
<h3>彰釋玄機篇第一（新添）</h3>
<p>六元之數者，乃天真之一氣也。言一氣之用者，得之為神，失之則喪真，故知一氣為天地萬物神應之母也。是故玄一真人，傳庚桑楚六衍之法也。</p>
<p>一衍之道，窮通混玄變化之真源也。二衍之神，曉了造化神明之法用也。三衍之氣，明辨升降動靜之精微也。四衍之天，知天道營運萬象也，以政剛健之德也。五衍之地，知地之化生萬物也，以政柔順之德也。六衍之萬物，衍萬物者，可以明神氣之變動，可以曉天地之逆從，然後可以知萬物盛衰、吉凶征兆者哉。言萬物者，天地上下，謂升降之中，神氣不感，天地不交，道無體於萬物，萬物失誠於道。此者是六爻不通，三才不期，故有吉凶。故吉凶征兆之事，彰盛衰災祥之化應也。是故天地上下，成臨陰陽，左右成間，五運所加，六氣所臨，遷移有位，應期變化，無方布政。五運所加，其干六氣，所臨其支，支干相推，一歲之紀乃應。遷移有位，而分早晚之期，變化無方，以別盛衰之政。故聖人德以天地為心神，以陰陽為用，德與心政，神與用明，其道為萬物化誠也。</p>
<h4>五行生成數（舊經）</h4>
<p>昔天候靈龜，出於洛水，以負五行生成之數，於伏犧氏則其始也。或云此治畫乃始於禹者，誤也。然五氣經彰，亦五行配合之道，因紀之，始出自《太始天元冊文》。又，龍馬出於洪河，以負九宮，數因而作，命曰《河圖》爾。又，靈龜出於洛水，以負五行生成之數，因而遂書，命曰《洛書》爾。皆因伏犧為真始也。後因聖帝命天師推究太古靈文，乃著《內經》，而已言其五行生成之數也。（新添）又，按《太古天元玉冊》靈文曰：「是故五行得位，水火木金土也，正於五方，表混沌之初分，上下清濁以定，乃成天地也。」</p>
<p>二神　，因萬物之始生，分陰陽而立左右，辨清濁而分前後，故五行得位而變形，日月營運而化星。直中氣之變，太虛澄淨，黑氣浮空，勢亂如麻，遐爾一色，玄凝分擾，　雨昏翳，寒資陰化，水始生也。寒濕交而生辰星，乃至陰之精感而化也，故水得其一數，故眾水皆一體也。</p>
<p>□□乃陰極而陽化也。寒極而熱生，乃物極而反也。太虛昏翳，宛若輕塵，色散如丹，乍盈乍縮，炎光郁燠，燔灼銷融，熱資陽化，火始生也。寒熱交而生　煌陽光盛而生熒HT　。又云水旺而生熒HT、　煌，以火而少赤，不行火令，至陽精之化也。故得其火之二數者，應水中之火，石中之火也。景霽山昏，蒼埃四合，山川如堵，鼓坼太虛，天地遠，氣散焉，口風陽化陰長，木始生也。</p>
<p>燥風交而生歲星，陰陽和而水資，草木敷榮。故木得三數也，乃樹木、竹木、草木也。氣交之極，陽氣復降，陰氣復升，勁風爽氣，遠近煙浮，白　如絮，遐邇皎潔，勢郁聲迅，木偃云騰，山川堅定，肅氣淒清，燥熱相交，而全始生也。陽氣升，陰氣降，水就潤而生木，陰氣升而陽氣降，火就燥而生金，故知木為陽中之陰化，金為陰中之陽化。故金得四數，乃金銀銅鐵之類。言五者，鉛草不禁於火也。燥氣盛而生火，白云騰而雨降，泉出地中，濕熱相搏，五伏之下，土始生也。四方備而生鎮星，此火之子也。在五伏之下，而有五色之土者，清陽為天，濁陰為地，此乃坤正土，非火之子也，故陰土二而陽亦二也。四方備而陰精之內□感陽光而生五土，上感氣而鎮星也。</p>
<p>故水一、火二、木三、金四、土五，輪其次也。其坤元之土，掌於四方，乃得之為成數也。</p>
<p>水木金火，謂得土而成立。物過而出土之上，故有成數也。水一數，加土五成六，火二數，加土五成七，木三數，加土五成八，金四數，加土五成九，土備五方，無成數，亦得五也。是故天地五行生成之數者，四十五也，是故脈取四十五，為平脈也。凡人氣血長短息數，皆生於四十五也。</p>
<p>圖載於後。</p>
<p>五行：金、木、水、火、土。十干：甲、乙、丙、丁、戊、己、庚、辛、壬、癸。十二支：子、丑、寅、卯、辰、巳、午、未、申、酉、戌、亥。</p>
<p><a href="_files/pt166a1.bmp">五行生成數圖</a></p>
<h4>五運所生</h4>
<p>甲己土運，乙庚金運，丁壬木運，丙辛水運，戊癸火運。甲乃為夫，己乃為婦，所生真土也。</p>
<p>假令甲子年，土運統之，其五運者，有天運，有客運，有主運也。</p>
<p>五運歌曰：甲己土運乙庚金，丁壬木運盡成林，丙辛便是長流水，戊癸離宮號曰心。</p>
<p>假令甲子年，土運承天，乙丑年，金運承天，丙辛年，水運承天，丁壬年，木運承天，戊癸年，火運承天。假令甲與己為土運，上半年乃甲土運，下半年己土運。余仿此。</p>
<h4>客運</h4>
<p><a href="_files/pt166a2.bmp">五運客圖</a></p>
<p>假令甲子年，土為天運，便為初運。自大寒前十三日交初之運。乙為金運，乃第二運也。丙為水運，乃第三運也。丁為木運，第四運也。戊為火運，第五運也。</p>
<h4>主運</h4>
<p><a href="_files/pt166a3.bmp">五運主圖</a></p>
<p>初運逐年木為主，二火三土相生取，四來是金以為常，五運寒水長相許。</p>
<p>假令逐年自大寒交司日木為主運，火為二之主運，土為三之主運，金為四之主運，水為五之主運。主客天運，另有運策。</p>
<h4>太少運</h4>
<p><a href="_files/pt166a4.bmp">太少呂圖</a></p>
<p>甲丙戊庚壬為太，乙辛丁癸己少尋，陽年是太陰年少，寄宮所在不相侵。</p>
<p>甲在寅，乙在辰，丙寄辰，丁在未，己寄巳，辛寄戌，戊在戌，癸寄丑。</p>
<h4>五音</h4>
<p>木角火徵金為商，土宮水羽最為良，陽年為太陰年少，得地反為太少鄉。</p>
<p>假令己巳年，己寄巳，巳本是少宮，卻為太宮。辛寄戌，丙戌年，戌內有辛，反為少羽。癸丑年，為太徵。丁未年，為太角。庚辰年，乙與庚合，內有乙，反為少商。余者，陽年為太，陰少也。其寄干者，所在之處，太少相反也。其余謂陰陽年也。</p>
<p>又法，假令甲子年，便為太宮，乙丑年為少商，丙庚年為太羽，丁卯年為少角，戊辰年為太徵。</p>
<h4>客運太少法</h4>
<p>假令甲子年五運，甲為太宮土運，為初之運，乙為少商金，為第二之運，丙為太羽水，第三之運，丁為少角木，為四之運，戊為太宮火，為第五之運也。</p>
<h4>主運太少法</h4>
<p><a href="_files/pt166a5.bmp">圖</a></p>
<p>初運逐年木主先，陽年起壬陰丁年，每歲輪至正對位，逢之本干是當年。</p>
<p>陽年起壬，陰年起丁。假令輪行十二支於本年，支上或對沖支上，於十二支上尋本年干字是也。假令庚戌年，乃陽年起壬，輪行十干於十二支上，輪至辰上，見庚辰也。卻為陽年起壬，為太角，行至對沖，辰上見本年干庚，便為少角也。又如，陰年起丁，本年支上見年干者，為少角，對沖見者，為太角也。便從庚辰上起丁，乃少角木，為初之主運也。次乃戊為太徵火，為二之主運也，次己為少宮土，為三之主運也，次庚乃太商金，為四之主運也，終乃辛，為少羽水，為五之主運也。逐年五運主太少，《素問》上載初終字是也。〔出六元紀論。（新添）六元紀論中分主客太少，初終二字也。〕</p>
<p>壬子、壬午年，上少陰，（司天。）中太角，（木運。）下陽明。（司地。）</p>
<p>太角（初正）　少徵　太宮　少商　太羽（終）</p>
<p>戊子、（天符。）戊午年，（太一天符。）上少陰，（司天。）中太徵，（火運。）下陽明。（司地。）</p>
<p>太徵　少宮　太商　少羽（終）　少角（初）</p>
<p>此明太少二字也。戊子、戊午年，客運為太角，主運為少角。</p>
<p>丁丑、丁未年，上太陰，（司天。）中少角，（木運。）下太陽。（司地。）</p>
<p>少角（初正）　太徵　少宮　太商　少羽（終）</p>
<p>己丑、（太一天符。）己未年，（太一天符。）上太陰，（司天。）中少宮，（土運。）</p>
<p>下太陽。（司地。）</p>
<p>少宮　太商　少羽（終）　少角（初）　太徵乙丑、乙未年，上太陰，（司天。）中少商，（金運。）下太陽。（司地。）</p>
<p>少商　太羽（終）　太角（初）　少徵　太宮其角為初者，每歲以木為初，主運。羽為終者，乃水為每歲五終運主也。</p>
<p>五音者，五行之音聲也。土曰宮，金曰商，木曰角，火曰徵，水曰羽。在陽年曰太，在陰年曰少。《晉書》：角觸動而生其位，丁壬之歲。徵者，止也，言物成則止其位，戊癸歲也。商，強，謂金性之堅強其位，乙庚歲也。羽，舒也，陽氣將復，萬物孳育，而舒生其位，丙辛之歲也。</p>
<p>宮，中也，中和之道，無往而不理也。又，總堂室奧作而謂之宮，所圖不一。蓋土亦以通貫於金木水火，土旺於四季，榮養四藏。皆總之意也，其位甲己歲也。</p>
<p>《太始冊文》曰：故五運從十干起，甲為土也，土生金，故乙次之，金生水，故丙次之，水生木，丁次之，木生火，戊次之。如此五行相生而轉，甲為陽，乙為陰，亦相間而數，如環之無端也。詳其五音、五運之由者，乃上下相召，大小相乘，同歸於治而已。是故因刻成日，因日而成月，因月而成歲。近相因以制用，雖太古占天望氣，天運所至，定表歲之災變也。</p>
<p>天之氣，橫於甲己，為土運。素天之氣，橫於乙庚，為金運。玄天之氣，橫於丙辛，為水運。蒼天之氣，橫於丁壬，為木運。丹天之氣，橫於戊癸，為火運。</p>
<h4>五天之氣（新添）</h4>
<p>凡五運者，乃五天之氣也，皆主一年。太過來早，不及乘之，不及來晚，太過從之，即太過先至十三日，不及後至十三日也，皆在大寒交司日前後也。昔垂象以示於伏犧，聖人占候，視其五色之氣，彰列虛空，聖機測天意以立氣，而為五行。以五氣終始之際，配名剛柔，而以立十干。次以十二支為定位，立成二十八宿，命曰五氣經天矣。故《太始天元玉冊》曰：丹天之氣，經於牛女戊分，　天之氣，經於心尾己分，蒼天之氣，經於危室柳鬼壬分，素天之氣，經於亢氐昴畢庚分，玄天之氣，經於張翼婁胃辛分。所謂戊己分者，曰奎壁角軫，則天地之門戶，之所其道矣。從卯辰巳午未申，行陽度二十五，半周天也，從酉戊亥子丑寅，行陰度二十五，半周天也。</p>
<p>自胃至房十四宿，為陽，主晝，自昴至心十四宿，為陰，主夜。一日乃百刻之度也。</p>
<p><a href="_files/pt166a6.bmp">舊經天元五氣經天之圖</a></p>
<p>甲己　黃司宮土，（　者，黃色也。黃氣積於甲己，故應土運。其音宮，音聲也，太而和，曰宮也，故長夏土旺，萬物太而和平。）乙庚素白主商金，（素者，白也。氣積於乙庚，故應金運。其音商，輕而粗曰商，故秋萬物凋零，轍微勁切。）丁壬青蒼為角木，（蒼者，乃薄青色也。青氣橫於丁壬，故應木運。其音角，輕而直曰角，故春則萬物舒榮端直也。）丙辛黑玄水羽音，（玄者，黑也，上微見紫紺，而黑之屬也。黑氣橫於丙辛，故應水運。其音羽，沉而深曰羽，故冬物藏而深沉也。）戊癸丹赤應徵火，（丹者，深沉赤色也。赤氣橫於戊癸，故應火運也。其音徵，和而美曰徵，故愛物蕃鮮美也。）五太甲丙戊庚壬，（甲太宮土，丙太羽水，戊太徵火，庚太商金，壬太角木，曰太過。陽干合陽支，陽用事，故疾速，故太過而盛者也。）五少乙丁癸辛己，（乙少商金，丁少角木，癸少徵火，辛少羽水，己少宮土，乃曰不及。陰乾合陰支，陰用事，徐遲不及而衰也。）欲知平運命加臨。（平運者，陽年太過，陰年者不及，非太過、非不及者，平氣運也。木曰正角，火曰正徵，土曰正宮，金曰正商，水曰正羽，然上下干支加臨推之。）</p>
<h4>求五運邪正二化（新添）</h4>
<p>土為雨化，火熱化，金清化，木風化，水寒化。丁丑、丁未年，其連風清熱，清熱勝復同。</p>
<p>丁乃木運，風化。木運之下，金氣承之，清化。木生火，火乃熱化。癸丑、癸未年，其運熱寒雨，寒雨勝復同。癸乃火運，熱化。火運之下，水氣承之，寒化。火生土，土乃雨化。己丑、己未年，其運雨風清，風清勝復同。己乃土運，雨化。土運之下，木氣承之，木乃風化。土生金，金乃清化。</p>
<p>其運者，陰年不及，與所克所生者同化也，乃邪氣化度也。陽年太過，運只一化，乃正氣化度也。此乃邪正二化也。</p>
<h4>求天運來時法（新添）</h4>
<p>自大唐麟德元年甲子歲正月一日己酉朔，婁金獨直日先下，積年乃減一算。（自麟德至庚戌，五百二十七年也，明昌元年也。）次以七因之，以十九除之，一名閏數。次以十二乘之，後卻加入閏數、除數，後又加入本月數。此下位，別張之，乃去一年。次出其閏數，又虛去其五行數。</p>
<p>次以上位，進之一位，後三因之。次出下位之數，名去小盡也。後加入月下零日數，看得幾日。</p>
<p>次六十除之，不盡，乃百粟之。又以八十七除之，不盡者，乃加入運數，太過加成數，不及加生數，看得幾何。如陽年逢偶數，即加一，陰年逢奇數，即減一，其余加減，畢其數過，當日下刻中之數也。</p>
<h4>求五運交司日法</h4>
<p>凡五運，皆主一年。太過來早，不及乘之，不及來晚，太過從之。運來之日，在司天交司日前後各十三日，或同交司日齊。大至者，每歲冬至天正之日也。冬至後一月，即丑正大寒之日，是天交司之日也，斗建丑正。陽年交司日前十三日至，陰年交司日後十三日至。年支運干相符，合德而平氣也。既非有餘，又非不及，日平氣也。即土運取己丑、己未，金運取乙酉，水運取辛亥，木運取丁卯，火運取癸巳。此皆陰年不及運，反作平氣運也。又於太過年，當有餘而天刑之，反作平氣，不得其盛也。火運天刑有二，即戊辰、戊戌，上見太陽，寒水司天克之，不盛也，故做平氣運。金運天刑有四，即庚子、庚午、庚寅、庚申，即君相二火司天，故上見二火，中見金運。司天刑之，不得有餘，故作平氣也，皆同天至交司日也。太過曰先天，不及曰後天，平氣曰齊天。齊天者，即同至於大寒交司日也。</p>
<h4>求五運交司日時法（新添）</h4>
<p>置大唐麟德元年甲子歲正月一日己酉朔，至今明昌四年癸丑歲，積得五百三十年。以減一算，乘歲周，分三百六十五度二十四分三十六秒。乘之，得九億三千二百一十三萬八千六百四十四分。</p>
<p>除交司日，差一十四萬六千一百單九。以天紀六十去外，有五十九日，二千五百四十三分一秒，命己酉，大余得戊申日，大寒及分，得大寒前後或大寒日交也。</p>
<h4>求二之運</h4>
<p>置大寒交司日，大余五十九日，加運策七十三日。</p>
<h4>求次之運</h4>
<p>置二之運，累加運策，滿六十，去之不用，命己酉，見交運日辰乃分。</p>
<h4>求法斂加時</h4>
<p>置逐運下，小余分六，因之五百，分為一辰六十分，為一刻，命子正。算外得時刻也，巳正四刻也。</p>
<p>假令大寒，小余二千五百四十三分。退一位，作二百五十四分。以六乘之，得一千五百二十四分。一千分得五辰，於五百分上更除了二百五十，乃半辰也。有半辰者為正，無半辰者為初。</p>
<p>外有二百五十分，更有二十五分，計有二百七十五分。六十分為一刻，又除了二百四十分，為四刻。外有三十五分，棄之。從子起，五辰在巳，有半辰，巳正四刻也。</p>
<h2>卷第二</h2>
<h3>五行司化篇第二</h3>
<p>東方木者，乃厥陰風木，天地號令之始也。春木旺，厥陰司天為主化，春風勝，厥陰司天為主對，夏火旺，少陰司天為主化，夏熱勝，少陰司天為主對，四季土旺，太陰司天為主化，四季濕勝，太陰司天為主對，秋金旺，陽明司天為主化，秋燥勝，陽明司天為主對，冬水旺，太陽司天為主化，冬寒勝，太陽司天為主對，天地、上下，升降、陰陽相合。天地太一天真元氣，判而為二，以為陰陽，列而為六。其在天，則為寒暑燥濕風火，三陰三陽上奉之，在地則為木火土金水，則生長化收藏而下應之，則為知矣。天地各有三陰三陽，先聖測之，立為十二支矣。</p>
<h4>求六氣司天</h4>
<p>歌曰：子午少陰君火暑，丑未太陰濕土雨，寅申少陽相火熱，卯酉陽明燥金主，辰戌太陽水司寒，巳亥厥陰木風舉。</p>
<p>少陰為標，氣始生之元。正化生數，對化成數。少陰君火司化於子午，其氣暄暑，太陰濕土司化於丑未，其主雨濕化，少陽相火司化於寅申，其氣炎熱。陽明燥金司化於卯酉，主清涼干燥，太陽寒水司化於辰戌，主寒冷，厥陰風木司化於己亥，主於風舉。</p>
<h4>求司天司地法</h4>
<p><a href="_files/pt166a7.bmp">圖</a></p>
<p>天氣始於甲，甲者，十干之首也。地氣始於子，子者，元氣之初也。甲相合而於甲子，乃天地陰陽之氣之始也。甲應土運，故為五運之君主。甲子與甲午相合，故子為陽氣之首，午為陰氣之初。子午之，上，少陰火為六氣之主，而為元氣之標矣。標者，上首之始也。</p>
<p>少陰為初氣，周普天氣，終於癸，癸者，子午之終也。地氣終於亥者，元氣終於癸亥也，相合為癸亥歲也。乃天地陰陽立者，並遍一周，終盡之歲也。癸亥與癸巳相合，故陰終於亥，陽終於巳。終於己亥，己亥之上，厥陰主之，故為元氣之終也。</p>
<h4>六氣司天司地（新添）</h4>
<p>歌曰：到者司天進四地，陰陽上下定災危，後學醫流如曉得，逐年病體見根機。</p>
<p>假令甲子年，子午少陰君火司天，陽明燥金司地，乙丑年，太陰濕土司天，太陽寒水司地。</p>
<p>假令少陰君火司天，戊子、戊午年，戊為火運，司天與運同為天符、歲會也。進四位，乃在泉也。如乙酉年，乙金運，酉金乃庚子，司地同天符。</p>
<h4>推天符歲會太一天符法</h4>
<p><a href="_files/pt166a8.bmp">天符歲會之圖</a></p>
<p><a href="_files/pt166a9.bmp">天符同歲之圖</a></p>
<p>經曰：歲運太過，則其至先，歲運不及，則其至後，此候之常也。然先後之至者，所為六部氣候，各於本位前後之至也。交司之先後之至，各差十三日而應也，以觀萬物生長收藏而可知也。凡此之謂，多少之異也。五運非太過不及也，則其氣當時而至，是謂平氣之歲也。然雖皆以應期而至，細而推之，其用各異，不可不通矣。故經云變行有多少，病行有微甚，生死有早晏，此之謂也。</p>
<p>歌曰：運同天化號天符，運臨本辰名歲位，丑未午酉運同天，歲會太一天符年，太過下加同符天。</p>
<p><a href="_files/pt166a10.bmp">歲會太一天符之圖</a></p>
<p><a href="_files/pt166a11.bmp">歲會之圖</a></p>
<p>諸運同天化者，木運上臨厥陰，火運上臨少陰，土運上臨太陰，金運上臨陽明，水運上臨太陽，皆是運與司天氣化合約曰天符者合也。木運臨卯，火運臨午，金運臨酉，水運臨子，土運臨辰戌丑未，常是本辰之位，故曰歲位。一名歲會者，謂運與本辰會合而同也。一名歲直，運直本辰也。直者，司也，至也，辰者，支也。己丑、己未之歲，己為土運，丑未屬土，上見太陰土。</p>
<p>戊午之歲，戊為火運，午亦屬火，上見少陰火。乙酉之歲，乙乃金運，酉亦屬金，上見陽明金。</p>
<p>然六十年中，凡此四歲，皆是運氣與年辰符同，是為三合，一名會二者。歲三者，運會命曰太一天符，故下文曰當六歲會太一天符。經所不言歲會，而唯言太一天符者，是以言其綱，而歲會可知也。然太一天符者，尊者之名也。庚子、庚午，金運，下加陽明金。壬申、壬寅，木運，下加厥陰木。甲戌、甲辰，土運，下加太陰土。然六十年中，凡此六歲，謂之同天符，亦與天符之化同也。不及，下加同歲會四孟年，辰與運同。辛丑、辛未，水運，下加太陽水。癸酉、癸卯，火運，下加少陰火。癸亥、癸巳，火運，下加少陽火。然六十年中，凡此六歲，謂之同歲會，亦與歲會之化同也。然歲會者，一名歲位，一名歲直，其義一而二名，不可不通也。壬為木運，上臨寅木，癸為火運，上臨巳火。庚為金運，上臨申金，辛為水運，上臨亥水。然六十年中，凡此四歲謂之支德符，或干德符，有邪也。又，壬寅為同天符、支德符，又，癸巳為同天符、歲會、支德符，其用各異，不可不通也。</p>
<p>少角木多，則燥金來勝，五子元建曰：丁亥六年，正月建寅，丁與壬合，同木運，乃得平，金不能克己。又，符配者，契合也。</p>
<p>凡當年運氣，皆於年前大寒中氣日交當年初氣。申子辰三年同，寅初一刻交，巳酉丑三年同，巳初一刻交，寅午戌三年同，申初一刻交，亥卯未三年同，亥初一刻交。凡此四年，為一水同，此乃三合之義也。</p>
<p>丁年木不及，癸年火不及，己年土不及，乙年金不及，辛年水不及。凡此五運不及，則勝己者來克之。己氣衰而災者，遇年前大寒日交氣時，丁與年運干符合，則能相輔佐，清其運，便為平歲，則各無勝克交災之生月也。然甲與己合，乙與庚合，丙與辛合，丁與壬合，戊與癸合，各月干德符也，此者名為干德符也。以上通為平運歲，（通下天符、歲會、太一天符同歲會、支德符、干德符之類。）此皆是平運之歲也。則氣化營運，皆是平運之歲也，則氣運化行，皆應期而至，乃物生長收藏，及人之脈候，皆順天氣，而無先後之至也。細而推之，則可知也。</p>
<p><a href="_files/pt166a12.bmp">舊經六十年運變化之圖</a></p>
<p>凡此諸歲，雖是平運，而盛衰之用，亦有異也。何以明之？然：若諸不及之歲，得遇天符歲會同歲，支德符、干德符之類符合相助，則方得平和，而既不衰，則五化通化，各無勝克之變也。若遇太過之歲，便得天符，或歲會天符、支德符、干得符之類符合相助，則其氣轉盛，安無勝克之變乎，然後雖無勝復之變，必然有變矣。故經言：歲火太過，上臨少陽、少陰，火燔　，水泉涸，物焦槁，病反譫妄狂越，咳喘息鳴，下甚，血溢血泄不已，太淵絕者，死不治。又言：歲水太過，上臨太陽，雨冰霜雪不時而降，濕氣變物，民病反腹脹痛，腸鳴溏泄，食不化，渴而妄瞀，神門絕者死。凡言赫曦之紀云上徵，而收氣後也，暴烈其政，藏氣乃復，時見發凝慘甚，則雨冰霜雹勁切，寒邪傷心也。流衍之紀云上羽，而長氣不化也，政過則化氣大舉而埃昏氣交，大雨時降，邪傷腎也。凡此之類，皆是天符之歲也。又言，曰太角、云上商，則其氣逆，逆則病吐利，不務其德，則收氣復，秋氣勁切，甚則肅殺，清氣大至，草木凋零，邪乃傷肝。然太角上臨少陽，則下加厥陰，是謂同天符也。以上皆平運之歲也。既所載如此，勝復之變者，安得平運之歲皆無變乎？斯義昭然而無憾矣。</p>
<h4>推大小差郁復</h4>
<p>經曰：天氣下降，地氣隨之，地氣上升，天氣從之，運居其中，而常先也，惡所不勝，歸所同和，隨運歸從，而生其病也。故上勝則天氣降而下，下勝則地氣逆而上，勝之多少，而差其分。</p>
<p>微者少差，甚者大差，甚則位易氣交，易則大變生而病作矣。</p>
<p>（新添）差者，差其平常之氣候也，而有盛衰之變也。日得其位，常化也，命其位而方月可知也。六位之氣，太少異也，上升下降，隨氣所在，以定其方，隨其各位之方占之。太少者，太者之至徐而常，少者暴而亡。暴者速而不久，長亡無也。</p>
<p>曰天地盈虛何如？天氣不足，地氣隨之，地氣不足，天氣從之，運居其中也。地氣勝則歲運上升，天氣勝則歲運下降，運氣常先，惡所不勝，歸所同和，隨運歸從，而生其病。病生者，非其位則變生病矣。</p>
<p>六氣應五行之變，位有終始，氣有國中，上下不同，求之異也。位者地也，氣者天也，天地之氣，互有差移，故氣之國中，中者地主事，則氣流於地，初者天用事，則氣騰於天。初與中，皆分六步而率科爾。國中各差三十日余四十三刻四分刻之三也。其差者，一氣六十日，乃天地用事也。</p>
<p>前說多少而差其分者，乃天地之氣升降，差其分有多少也。微者少差，甚者大差，（微者徐，暴者速。）甚則位易氣交，易則大變生而病作矣。《大要》曰：甚紀五分，微紀七分，其差可見。</p>
<p>微者小差，徐而遲也，七分也。一分乃十五日，七分者，乃一百十五日，而應其候。甚者大差，五分也，乃七十五日，而應差過其數矣。其差一說，六元紀論曰：善。五運之氣，亦復歲乎？（先有勝復，後有復報也。）鬱極乃發，待時而作也。待，謂不及差分位也。大溫發於辰己，大熱發於申未，大涼發於戌亥，大寒發於丑寅，其溫熱涼寒，本發於四正之位。子午卯酉，乃春夏秋冬也。其春溫發於寅卯是也，差於辰巳，夏熱當午，差於申未，秋涼當於酉位，差於戌亥，大寒當於子位，差於丑寅也。各差三十日四十三刻四分刻之三。大紀、微紀者，大紀暴急，為病甚，微者徐，為病持，（持，謂相執持也。）明五郁之早晏也。</p>
<p>假令丙申歲，辛亥為司地，丁酉年，亥為司地右間，戊戌年，亥為司天左間，己亥年，遷正司。亥乃木，正化伏其己土運。土氣之下，木氣承之，其運雨風清，勝復同化也。（亥年木勝土不及。）更或入天沖宮治，民恭，小游太一，土鬱不能升發。至庚子年，庚乃金運，己土之子也，克其亥年司天之木，救其己土，子來救母，土不能郁也。暴急者，七十五日而發也。</p>
<p>歌曰：天氣生運為順化，運生天氣為小逆。天氣克運號天刑，運勝天為不和契。太過天刑運反平，或運勝天為大逆（舊經）。</p>
<p>天氣生者，是謂二火生天，在上，而土運在中。土運司天，生金，為主運，金司天，生水，為主運，水司天，生木，為主運，木司天，生火，為主運之類，皆是臨於子位之上，而非為逆，故曰順也、化也。運生天氣者，是為木運生火，司天，火運生土，司天，土運生金，司天，金運生水，司天，水運生木，司天之類是也。然父子之義，則父為運，子為令，反子臨父位之上，雖氣用，是不當其位，而亦為逆，故曰小逆。（新添）假令壬子年，壬為木運，司天，乃君火侍奉於天令也，子臨父位，為小逆。天氣克運者，是謂司天氣能克運化，則木運，金司天克之，命曰天刑。金運上臨少陰、少陽，火運上臨太陽，水運上臨太陰，土運上臨厥陰之類，皆是運與天不相得，而天氣克之運，故曰天刑。刑者，克也。運勝天者，是謂歲運克司天之氣也。然運克天氣，而不相得，故曰不和契也。（新添）假令乙亥年，乙乃金運，亥乃厥陰木，運克天，令不能和契而已。太過天刑運反平者，歲火運上臨太陽，金運上臨少陰、少陽，然雖歲運太過，而氣制之，其化減半，而反平也。或云既反平，則各無勝克之生者，誤也。如金運太過，而上臨二火，天氣制之，金運反平，而不能勝克於木，風木無畏，而與金運齊化，而和平也。其運本為太過而勝木，（金氣之下，木氣承之。）曲則強制於運，其化方減，非為自然，安為無病之運。火運亦然，故經曰太徵火運，赫曦之紀云上羽與正徵同，其生化舉其病。顏氏曰：病金則反炎，運也，豈不深思氣相得則和，不相得則病。今既六氣克運，而不相得，安得反無病乎。太過天刑，運氣反平，不能勝，亦有自怫之病，而生於己矣。或不然者，是未明經之奧也。運勝天為大逆者，水運上臨少陽，土運上臨太陽，皆運勝司天之氣，是謂下克，為逆，運更太過，故曰大逆，而不和也。少宮不及者，天刑，謂木運上臨陽明，土運上臨厥陰，水運上臨太陰也。勝天者，木運上臨太陰，火運上臨陽明，金運上臨厥陰也。然五行之道，己不及，則己所不勝者來克之，己所勝者來輕侮之。歲運不及，而與天運更不相得，其運屈伏，而不能為用，其運同司天正氣之化也。故下文曰：如火運上臨陽明，則其化反同天正氣。推太少正同，反同正商，是謂與干金運之化同也。木運上臨太陰，則反同正宮，是謂土運之同化也。余皆仿此。故曰其化反同天正氣耳。或云既運同天正化，則便為平歲，而無變災也，誤也。何以明之？然言：不詳經曰少角木運，上商與正商同。（新添）《內經》所說太少二宮，庚為太商，乙為少商，乙卯、乙酉為正商，庚年三月為正商也。（庚年建戌，三月庚辰。）</p>
<p>其病支廢癰腫瘡瘍，邪傷肝也。其所傷於肝木，上宮與正宮同，肅瑟肅殺，則金之化也。炎赫沸騰，火來復也，眚於三，三者，火為豕，復眚在東方木，三也。其主飛蠹蛆雉者，乃物內自化也，飛乃羽蟲也，蠹乃內生蟲也，蛆乃蛆蠅之生也。乃為雷霆，如火之卒爆，化霹靂也。又言少徵火，云上商與正商同，邪傷心也。凝慘凜冽，則水之德也。豪雨霖霪，土之復也。眚於九，火之分也。</p>
<p>其驟注雷霆震驚，天地氣爭氣交之內，害反傷及鱗類，沉陰霪雨。又言少宮土，上角與正角同，其病飧泄，邪傷脾也。震驚飄揚，木之德也。蒼干散落，金之復也。其眚四維，土之位也。其主敗折，虎野狼諸獸以害於木，及傷生命也。清氣乃用，生政乃辱，然生政者，木氣屈也。又言少商金，上角與正角同，邪傷肺也。炎光赫烈，火之德也。冰雪霜雹，水之復也。眚於七，金之災也，害也。其主鱗伏，彘鼠出見，於時潛伏於鱗羽也。歲氣早至，乃生大寒。又言少羽水，云上宮與正宮同，其病癃　，邪傷腎也。其化豐滿，土之德也。埃昏驟雨，則振拉摧拔，木之復也。眚於一，水之分也。其主毛蟲顯，狐　變化不藏，見諸獸所傷，土化之物，反害裸蟲之長，並狐　變化妖魅，蟲見不藏也。凡此之言，皆是明太少運與天氣不相得，而其化反同司天正氣之化，勝復之綱也。細而推之，萬物悉由之矣，安得言其一，類推之者也。隨運之。經言病之寒熱溫涼，以運氣推移，上下加臨，參合而取盛衰，則可以言其病之情勢也。</p>
<h4>六氣六位（新添）</h4>
<p>子午少陰君火，丑未太陰濕土，寅申少陽相火，卯酉陽明燥金，辰戌太陽寒水，巳亥厥陰風木。</p>
<h4>六氣正化對化</h4>
<p>子午，少陰君火，午為火，子為木，午為正化，子為對化。丑未，太陰濕土，丑未皆屬土，未為正化，丑為對化。寅申，少陽相火，寅乃火生長之地，申屬金，寅為正化，申為對化。卯酉，陽明燥金，酉兌七宮，屬金，卯屬木，酉為正化，卯為對化。辰戌，太陽寒水，辰戌皆屬火，《金鏡》云：古以子為干，子，水也，戌屬乾，戌乃正化，辰為對化。巳亥，厥陰風木，亥上有甲，屬木，巳屬亥為正化，亥為對化。</p>
<h4>六氣主交</h4>
<p>歌曰：大寒厥陰氣之初，春分君火二之居，小滿少陽分三氣，太陰大暑四之居，秋分陽明五之氣，太陽小雪氣之余。</p>
<p>凡六氣者，不動也，靜而守位。每歲自年前大寒日交初之氣，厥陰風木為主，正月、二月之分也。春分日交二之氣，少陰君火為主，三月、四月之分也。小滿日交三之氣，少陽相火為主，五月、六月之分，畏熱炎火也。大暑日交四之氣，太陰濕土為主，七月、八月之分，霖霪雨化也。</p>
<p>秋分日交五之氣，陽明燥金為主，九月、十月之分，金氣收斂萬物也。小雪日交六之氣，太陽寒水為主，十一月、十二月之分，大寒凜冽也。</p>
<p>（新添）主氣歌曰：初氣逐年木主先，二君三相火排連，四來是土常為主，五氣金當六水天。</p>
<h4>六氣客交</h4>
<p>有氣策加之。</p>
<p>陽年為太過年，陰年為不及年。子、寅、辰、午、申、戌，屬陽年，丑、卯、巳、未、酉、亥，皆陰年。主客皆自大寒日交司。天氣為客之氣也，客氣交者後，有氣策累加之，見六氣所交日辰者也。</p>
<h4>求大寒交司日法（新添）</h4>
<p><a href="_files/pt166a13.bmp">新添逐歲主氣交守位圖</a></p>
<p>演紀上元自大唐麟德元年正月一日己酉朔，至大金明昌四年歲次癸丑，積得五百三十歲減一算，以五百二十九年乘周天度三百六十五度二十四分三十六秒，乘之得一十九萬三千二百一十三日八十六分四十四秒。減交司差一十四日六十一分單九，外有一十九萬三千一百九十九日二十五分四十三秒奇一單九。（八十分以上，收為一日。）以天紀六十除之，外有五十九日二十五分四十三秒奇一，命己酉。算外得戊申日大寒，乃交司日辰及分，乃壬寅年十二月中氣大寒，交得癸丑，司天氣也。</p>
<h4>求司天司地日交司</h4>
<p>到者司天進四地，陰陽上下定災危，後學醫流如曉得，逐年病體見根機。</p>
<p>假令癸丑年，太陰濕土司天，前四位，太陽寒水，司地。</p>
<h4>求司天逐年客氣</h4>
<p>逐年退三是客鄉，上行實所上臨方，初終六氣輪排取，主客勝衰定者傷。</p>
<p>假令癸丑年，司天後三辰，亥是也，厥陰風木，為初之氣，客也。子少陰君火，二之氣，丑太陰濕土，三之氣，寅少陽相火，四之氣，卯陽明燥金，五之氣，辰太陽寒水，終之氣。</p>
<h4>入宮法</h4>
<p>置大寒交司五十九日，加司天化數、支數、干遷數，三數化數，太陰濕土五支數，丑五干遷數，自寄干遷，至交，計幾位。癸寄丑，更不遷動，只得一位。一數三位，並得一十一，並交司五十九，計得七十，進二位，作七千。《天元玉冊》云：陽年減四十九，陰年加四十五。今癸丑年，陰年，加四十五，計得七千四十五。以四十五除之，外有五，命元首宮。除之五，天禽宮，為元首宮先除五。運氣不入中宮，不疊六，只在四宮，今癸丑年司天，在四宮，天輔宮也。</p>
<h4>四六天交時刻法</h4>
<p>申子辰三年，乃一六天，自寅初水下一刻交（大寒寅初一刻交初之氣）。司天之氣。巳酉丑三年，乃二六天，自巳初一刻交。自寅至巳，計二十六刻，交司天初氣。寅午戌三年乃三六天，自申初一刻交。寅至申，五十一刻，交司天初氣。亥卯未三年，乃四六天，自亥初一刻交。寅至亥，七十五刻，交司天初氣。</p>
<p>每一晝夜，計一百刻，每時共八刻二十分，六十分，又為一刻也。假令癸丑年二六天，巳初一刻交。自巳初一刻，寅初漏水下一刻，寅上八刻二十分，卯上八刻二十分，辰上八刻二十分，三八二十四刻，寅卯辰各二十分，計二十六刻，交得太陰濕土司天。厥陰風木之分二十六刻，已前屬上年太陽終之氣二十六刻，已後屬今年厥陰風木。</p>
<h4>求癸丑年交次氣法（少陰君火之分）</h4>
<p>每一氣六十日八十七刻半，交一氣。假令癸丑年，自巳初一刻交初之氣，計二十六刻也。一年六十日，有氣策加殘零大余，外有八十七刻半。初之氣，自巳初一刻數，一辰八刻二十分，數至寅上，（自巳至寅也，）計八十刻，少七刻半。巳上二十分，午上二十分，未上二十分，共六十分，至未又是一刻，計八十一刻。又，申上二十分，酉上二十分，戌上二十分，又成一刻，計八十三刻。子上取四刻，計八十七刻。少半刻，亥上二十分，子上十分，計三十分，為半刻也。二之氣，交在子中之右也。</p>
<h4>求三之氣（少陽相火之分）</h4>
<p>自子中之左，四刻十分。自丑至戌，計十位，每一位八刻二十分，十位計八十刻也。自子至戌，八十四刻，外少三刻半。丑寅卯，各二十分，計六十分，辰巳午，又一刻，未申酉三位，各二十分，又一刻，計八十七刻，少半刻。前子上十分，今戌上二十分，計三十分，為半刻。計八十七刻半，交得三之氣。</p>
<h4>求四之氣（太陰濕土之分）</h4>
<p>前三之氣，少陰君火之分，終在戌上二十分也。起自亥初一刻，起所至申末，十位，計八十刻。亥子丑，各二十分，為一刻，寅卯辰，各二十分，又一刻，巳午未，又一刻，計八十三刻，外少四刻半。酉上取四刻，申上二十分，酉上十分，計三十分，為半刻。交在酉中之右也。</p>
<h4>求五之氣（陽明燥金之分）</h4>
<p>始自酉中之左，起四刻十分，從戌數至未，共十位，計八十刻。每一位二十分，子上又一刻，卯上又一刻，午上又一刻，計八十七刻，少半刻。前酉上十分，未上二十分，計三十分，為半刻，計八十七刻半也。</p>
<p>交在未末二十分也。</p>
<h4>求終之氣（太陽寒水之分）</h4>
<p><a href="_files/pt166a14.bmp">晝夜百刻之圖</a></p>
<p>始自申初一刻，數至巳，共十位，計八十刻。戌上一刻，丑上一刻，辰上一刻，共計八十三刻，外更少四刻。卻於巳上取四刻，八十七刻。更少半刻，巳上又取三十分，計八十七刻半交也，終於巳中之左二十分也。</p>
<p>每一宮，乃八刻二十分，六十分為一刻也。晝夜百刻，每自平旦寅初一刻，五運六氣，皆從寅初一刻起。首數至丑末二十分，所以每位八刻二十分。六十分為一刻者，寅上二十分，卯上二十分，辰上二十分，計六十分。辰未戌丑各成一刻，共成一百刻也。</p>
<h4>求六氣交客氣日辰法</h4>
<p>置大寒殘零大小余，加氣策，命己酉，得者日辰，乃六氣所交日辰也。</p>
<h4>求二之氣</h4>
<p>假令癸丑年，大寒五十九日二十五分一十三秒單九，加氣策八十七分三十九秒奇一，滿二收為一秒，乃三分之一也，滿六去之，加之得空日一十二分五十二秒奇二，命己酉。算外空日，己酉日。壬子年十二月十日，戊申日大寒，得癸丑年二月十二日己酉，二之氣也。</p>
<h4>求三之氣</h4>
<p>置二之氣一十二分五十二秒奇二，加氣策八十七分三十九秒奇一，滿三收為一刻，加之得一日□□二十二秒，命己酉，算外得庚戌日，癸丑年四月十四日庚戌，交三之氣。</p>
<h4>求四之氣</h4>
<p>置三之氣一日□□二十二秒，加氣策，得一日八十七分六十一秒奇一，命已酉。算外得庚戌，六月十五日，時刻在前也。</p>
<h4>求五之氣</h4>
<p>加氣策，得二日七十五分□□奇二，命己酉。算辛亥日，八月十七日辛亥日交，得五之氣。</p>
<h4>求六之氣</h4>
<p>加氣策，得三日六十二分四十秒，命己酉。得壬子日辰，十月九日壬子日交，得終之氣。</p>
<h4>求九宮分野（舊經）</h4>
<p>昔天候龍馬出於洪河，以負陰陽之數，亦於伏犧氏，其位有九，其數始於一而終於九焉。聖人密符天意，務范而以意九宮，除次中位，而以畫成八卦矣。去相率之三位數，皆有五焉。然北方坎一，合南方離九，成十，兼中五，為十五也。東方震三，兼西方兌七，成十也，兼中五，為一十五也。北方隅乾六，合東南方隅巽四，成十，兼中五，為十五也。東北方艮八，合西南方坤二，成十也，兼中五，共成一十五也。又，乾六合艮八，成一十四，兼坎一，為一十五也。艮八合巽四，成十二，兼震三，為十五也。巽四合坤二，成六，兼離九，為十五也。又，坤二乾六成八，兼兌七，為十五也。所以五位而合一十五數者，以三位而應三十五也。以數應五行，生數也。以其一二三四五而積之，其數十有五矣，乃乾坤為用之數也。然乾為天者，陽也，其數奇，故一三五而為九，乃乾之用也，坤為地而陰也，其數隅，故二四為六，乃坤之用也。坤六畫，是故用，乾三畫，而用焉，故九六合有十五也。又，歷候，五日成候也。震三兌七中五，成十五也，所以三位而合一十五數者，以三位而應以數，應五行之生數也。其一二三四五者，積之其數一十五矣，乃乾坤為用之數者。然乾為天者，陽也，陽數奇，故一三五而成九，乃乾之用也，坤為地而成陰也，陰數偶，故二四為六，乃坤之用也。坤六畫而用六，乾三畫而用九者，所為乾道包坤，是以兼而為九，乃其數用焉，故九六合有十五也。又，歷候取五日，五運周而為一候，三候為一氣，而應三才之象也。月之虧盈而應之，則知陰陽為用之數，以九六為之紀也。陰氣生於天，陽氣生於地，故曰天以六六為節，地以九九制會。然乾道包而其數九，故有九宮，上應天之九星，下應地之九野，九星應人之九竅，九野應人之九臟爾。故經云：自古通天者，生之本，本於陰陽，其九洲、九竅，皆通乎天氣。故其生之，其氣三，三而成天，三而成地，三而成人。三而三之，合則九也。九分而九野，九野為九臟，故形臟四，神臟五，合而成九臟，以應之也。然非天理，安得如是乎。</p>
<p><a href="_files/pt166a15.bmp">舊經九宮分野圖</a></p>
<h4>九宮分野</h4>
<p>歌曰：坎一蓬天水，（坎一宮者水，上應天蓬星，下應冀州分野，位在北方。）位北冀無雙，（夫五行九宮者，然木火土全皆有應宮，惟天水獨主冀州一宮，而無應宮。）坤二天內司，（坤為二宮，屬土，上應天內星，下應荊州分野，位在西南，故下文曰房室宮。）荊州宮室房。震三天沖木，（震為三宮，屬木，上應天沖星，下應青州分野，位在東方。）青州在東方。巽四木天輔，（巽為四宮，屬木，上應天輔星。）東南徐郡鄉，（下應徐州分野，位在東南隅。下應曰鄉者，裡也。）中五天禽土，（中為正宮，上應天禽星，下應豫州分野，位在中央，故下文曰豫州在中央。）豫州在中央。乾六天心應，（乾為天心六宮，屬金，上應天心星，下應京兆府分野，位在西北隅，故下文曰豫金西北涼。豫名界也，分也。）豫，金，西北漢。兌七金天柱，（兌為七宮，屬金，上應天柱星，下應梁州分野，位在西方，其左應西梁。）艮八天任火，（艮為八宮，屬火，上應天任星，下應兗州分野，位在東北隅，故下文曰東北兗司當。司者，主也，當者，直也。）東北兗司當。離九天英分，（離為九宮，屬火，上應天英星，下應揚州分野，在南方。）</p>
<p>火位在南陽。奇宮徵正位，（奇不在隅也。按，《天元玉冊》曰天蓬一，水之正宮，天沖三，木之正宮，天禽五，土之正宮，天英九，火之正宮，天柱七，金之正宮，北之位也。）偶神應宮堂。</p>
<p>（偶者，雙而不奇也。按，《天元玉冊》曰：天內者，土神之應宮，天輔，木神之應宮也，天心六，金神之應宮也，天任八宮，火神之應宮也。其水者，天應宮，所為水為物之祖始，造化宗源，乃元氣之本，數之首，太一居之，尋余皆從而有之，故無應宮也。）中原分五分。（今詳經注：東分自開封縣，東至蒼海，屬木，應春，其氣大溫也。西分者，自　源縣，西至沙州異界，屬金，應秋，其分之氣大涼。南分者，自漢蜀江，至南海，屬火，應夏，其氣大熱。北分者，自平遙縣，至北海，屬水，應冬，其氣大寒。凡此四分之中，屬土，無正王之時，寄王四季之後，其氣兼□□寒熱溫涼兼。此乃往古國家命土，以觀萬物生長收藏而應之，以驗□中原之地分，氣候正，為歷同也。</p>
<p>東方早溫，每應百裡而至早一日也。西方早涼，每四十裡至早一日也。南方早熱，川　之地，每十五裡早一日，廣平之地，則每五十裡陽氣發早一日，陰氣至晚一日也。北方早寒，川形有南向者，每二十五裡陽氣行晚一日，陰氣行早一日，川有弓形向北者，每十五裡也，廣平之地，每二十五裡陰氣早一日，陽氣晚一日也。然陽氣始於春，盛於夏，故東方溫而南方熱也，陰氣始於秋而盛於冬，故西方涼而北方寒。凡此之言大綱，以明之矣。更地體之異，不可分通矣，夫地勢高下，亦有寒熱溫涼之異也。然居高則寒，居下則熱，是故東南方陽也，陽積降於下，故地下而熱也，西北方陰也，陰積升於上，故地高而寒也。故曰崇高主陰氣治之，冷，污下則陽氣治之，熱。</p>
<p>至高之地，冬氣常在，至下之地，夏氣常在。高山更熱也則冷，污下易寒者則熱，高下寒熱，斷可知也。居崇高而氣寒則壽，居污下而氣熱則夭，秋冬氣寒而涼則壽，春夏氣溫而熱則夭，明可知矣。凡此皆以明其中原五分，物化先後，壽夭不同也。故經曰：春氣西行，秋氣東行，夏氣北行，冬氣南行。春氣始於左，秋氣始於右，夏氣始於南，冬氣始於北，此四時生化之常也。然此明其五分義，誠非謂矣。及余外四方者，謂中原五分之外。西方之域，其氣涼極而熱微也，東方之域，其氣溫極而寒微也，北方之域，寒極而熱微也，南方之域，熱極而寒微也。凡此四分之外，至於孤陰獨陽之分，則萬物不能生化者也。何以明之？其東方生風西行，西方生燥東行，南方生熱北行，北方生寒南行，皆是陰陽之始生也，未得配合，而安有物象之生化乎。亦猶人始生之後，未得配合交感，而豈有生化矣。此亦為九野，是以言中原之內五分，及余外四分，合而為九宮，亦應分野之數，不可不推詳。夫九宮分野之道，其義不一，然則應於天地大小，則天下九分中，明應中原之九宮也。仰而推之，則用邦家者，皆應之。）</p>
<p>歌曰：辛一丁三己五申，乙七癸九是災宮，以審勝復時之位，九宮征應吉和凶。</p>
<p><a href="_files/pt166a16.bmp">推災宮圖</a></p>
<p>歲運不及，則有災眚，而不可一概而言之，各隨本化宮位，而有勝復之至也。其災方位宮，分眚之甚也，後有征兆也，審其時位，而可知也。辛為少羽水，災一宮，及北方。丁為少角木，災三宮，及東方。己為少宮土，災五宮，寄在二宮申位。乙為少商金，災七宮，及西方。癸為少徵火，災九宮，及南方。勝者先變而行其勝也，復者勝己而反復其過也。然勝之動，各有當位矣。故經曰：木不及，則春有鳴條暢律之化，秋有霧露清涼之政。火不及，則秋有光顯　明之化，炎熱煩躁之候，冬有晏肅振寒之政，夏有慘淒凝冷之勝，則有埃昏大雨之復。土不及，則四時有埃昏潤澤之化，春有鳴條鼓折之政，四維發振拉飄驟之變，則有肅殺霜露之復。金不及，則夏有光顯鬱蒸之令，冬有嚴凝肅整之應，夏有干燥煩燎之變，秋有冰雹霜雪之復。水不及，則四維有潤埃霜雪之化，不時有和風生發之應，四維發埃昏注雨之變，不時有飄蕩振移之復也。九宮上應天之宮宿，下應地理分野，中應五臟，將傍通萬物之盛衰，悉皆應之也。歲運不及，則本宮之化災。若遇月干德符，便為平運，而還正宮，復無勝己之災。</p>
<p>丁年正月建壬寅，五子元建法丁壬，建壬寅，丁與壬合。乙歲三月遇庚辰，乙建戊寅，至三月，見庚辰，乙與庚合。癸年仲夏逢戊午，癸建甲寅，至五月，見戊午，然戊與癸合。辛年七月遇丙申，辛建庚寅，至七月，見丙申，然丙與辛合。己歲季秋逢甲戌，己建丙寅，至九月，見甲戌，然甲與己合。欲還正位克原因。不及，災三宮及東方。然正月建壬，丁與壬為夫婦也，來相佐而為平運正位，乃金不能克也。余皆仿此。</p>
<p>故曰所有干德符合契，後為平運也。</p>
<h4>月建（新添）</h4>
<p>歌曰：甲己之年丙作首，乙庚之歲戊為頭，丙辛更向庚寅起，丁壬又寅順流行，戊癸建從何位起，正月須向甲寅求。</p>
<h4>日建</h4>
<p>歌曰：甲己還生甲，乙庚丙作初，丙辛從戊子，丁壬庚子居，戊癸逢壬子，順數不差殊。</p>
<p>假令戊子年五月，正月建甲寅，五月戊午月建，日亦同也。</p>
<h2>卷第三</h2>
<h3>六氣變用篇第三（舊經）</h3>
<p>凡初之氣，自年前十二月大寒中氣日交當年初之氣分，主六十日，余八十七刻半，至春分前六十日而有奇。自斗建丑正至卯之中，木之位，風之分也。天度至此，風氣乃行，天地神明號令之始也，天之使也，天氣加臨。（前有四六天交時刻法，具載前也。）</p>
<p>子午歲，太陽（寒水，為初。）居之，為寒，凜冽霜雪水冰也。初之氣者，氣乃遷，暑將去，寒乃始，蟄蟲復藏，水乃冰，霜復降，風乃烈，陽氣鬱，民乃周密，關節禁固，腰　痛。炎暑將起，中外瘡瘍。</p>
<p>丑未歲，厥陰居之，為大風發榮而毛氣降。初之氣，地氣遷，寒乃去，春氣正，風乃來生，和氣布化，萬物以榮，謂之舒氣，風濕相搏，雨乃復，民病血溢，筋絡拘強，關節不利，身重筋痿。</p>
<p>寅申歲，少陰居之，為熱風傷人，時氣流行。初之氣，地氣遷，風勝乃搖，寒乃太溫，草木早榮，寒來不殺，溫病乃起，其病氣拂於上，血溢目赤，咳逆頭痛，血崩脅痛，膚腠中瘡。</p>
<p>卯酉歲，太陰居之，為風雨凝寒不散。初之氣，地氣遷，陰始凝，氣始肅，水乃冰，寒雨化，其病中熱，面目浮腫，鼽衄，嚏，欠，嘔，小便黃赤，甚則淋。</p>
<p>辰戌歲，少陽居之，為溫，為疫。初之氣，地氣遷，火乃溫，草乃早榮，民病乃癘，暑乃作，身熱，頭痛，嘔吐，肌腠瘡瘍赤斑也。</p>
<p>巳亥歲，陽明居之，為清風霧露朦昧。初之氣，氣始煞，寒方至，民病寒風，時發咳嗽，左右脅下痛。</p>
<p>凡二之氣，自春分中氣日交入二之氣分，終於六十日，余八十七刻半，至小滿前六十日而有奇。自斗建卯正至巳之中，二之氣，君火之位，謂之少陰，熱之分也。天度至此，暗淑火行，君火，熱之分，不行炎暑，君位德也。</p>
<p>子午歲，厥陰居之，為風濕雨，化羽蟲。二之氣，陽氣布，風乃行，春氣以矣，萬物應榮，寒風清，民乃和，其病目瞑，赤氣鬱於上而熱。</p>
<p>丑未歲，少陰居之，為天正舒榮，以其得位，君令宣行故也。二之氣，火正物榮，水化氣乃和，其病溫癘火行，遠近咸若，濕蒸相搏，雨乃時降，應順天常，□時候，謂之時雨也。</p>
<p>寅申之歲，太陰居之，為時雨。二之氣，及郁入陰，入陰分故也。白埃四起，云趨雨府，風不勝濕，雨零，民乃康，其病熱鬱於上，咳逆嘔吐，瘡發於中，胸嗌不利，頭痛體熱昏憒，膿瘡。</p>
<p>卯酉歲，少陽居之，為潛逆，火熱時行，疫癘乃生。二之氣，陽乃布，民乃舒，木乃生榮，癘疾大至，民善暴死，君居臣位，臣居君位（君居臣位，壬午，臣居君位，甲子）。故爾。</p>
<p>辰戌之歲，陽明居之，為溫涼不時。二之氣，大涼乃至，民乃慘，草乃遇寒，火氣遂折，民病郁，中滿，寒乃始，自涼而又之於寒，故寒氣始於來近人也。</p>
<p>巳亥歲，太陽居之，為寒雨，間熱。二之氣，寒不去，華霜雪，水冰，殺氣施化，霜乃降，名草上焦，寒雨數至，陽復藏，民病熱於中。</p>
<p>凡三之氣，自小滿中氣日交入三之氣分，終於六十日，余八十七刻半，至大暑前六十日而有奇。自斗建巳正至未之中，三之氣分，相火之位也，夏至前後各三十日也，少陽之分也。天度之此，炎熱大行。</p>
<p>子午歲，少陰居之，為大暑，亢，民病熱。三之氣，天政布，火大行，應物蕃鮮，寒氣時，民病氣厥心痛，寒熱更作，咳喘目赤。</p>
<p>丑未歲，太陰居之，為云雨雹。三之氣，天政布，濕氣降，地氣勝，雨乃時降，寒乃隨之，感於寒濕，則民病身重　腫，胸滿。</p>
<p>寅申歲，少陽居之，為暴熱至，草萎槁干，炎光，濕化晚布。三之氣，天正布，暑氣至，少陽臨上，雨乃涯，民病熱中，耳聾，瞑，血溢膿瘡，咳，嘔，鼽衄，嚏，目赤，暴死。</p>
<p>卯酉歲，陽明居之，為涼氣向發。三之氣，天政布，燥氣行，熱交合，燥極而澤，民病寒熱而瘧也。</p>
<p>辰戌歲，太陽居之，為寒氣間至，熱爭冰雹。三之氣，天政布，寒氣行，雨乃降，民病乃寒，反熱中，癰疽，注下，心熱瞀悶，不治者死，當寒反熱是也。反天常，熱起於心，神之危極，不急扶救，神乃消亡，故治則生，不治則死。</p>
<p>巳亥歲，厥陰居之，為風熱大行，雨化羽蟲。三之氣，天政布，風乃時舉，民病泣出，耳鳴，掉眩。</p>
<p>凡四之氣，自大暑中氣日交入四之氣分，終於六十日，余八十七刻半，至秋分前六十日而有奇。自斗建未正至酉之中，土氣治之，雨之分也。天度至此，云雨大行，濕熱蒸乃作。</p>
<p>子午歲，太陰居之，為大雨霪。四之氣，溽暑至，火行，寒熱至，民病寒熱，嗌干，黃膽，鼽衄，飲發中滿。</p>
<p>丑未歲，少陽居之，為炎熱怫勝，云雨冰雹。四之氣，畏火臨，溽暑蒸化，地氣騰，天氣痞隔，寒風晚暮，蒸熱相搏，草木凝煙，濕化不流，則白露陰布以秋令，萬物得之以成，民病腠理熱，血間溢，瘧，心腹滿，胞脹，甚則　腫。</p>
<p>寅申歲，陽明居之，為清雨霧露。四之氣，涼乃至，炎暑間化，白露降，民和，卒其病，腹滿，浮腫。</p>
<p>卯酉歲，太陽居之，為寒雨害物。四之氣，雨降，民病暴作，振栗譫妄，少氣，嗌干引飲，反厥心痛，癰腫瘡瘍，而忽寒疾，骨痿，血便。</p>
<p>辰戌歲，厥陰居之，為暴風雨摧拉，而生裸蟲。四之氣，風濕交爭，風化為雨，物之乃長乃化乃成，民病大熱少氣，肌肉痿，注下赤白。</p>
<p>巳亥歲，少陰居之，為寒熱氣反，山澤浮云，暴溽蒸。四之氣，溽暑濕薄爭於左之上，民病黃膽，而為　腫。</p>
<p>凡五之氣，自秋分中氣日交入五之氣分，終於六十日，余八十七刻半，至小雪前六十日而有奇。自斗建酉正至亥之中，五之氣分，金氣治之，燥之分也，之此萬物窮燥。</p>
<p>子午歲，少陽居之，為濕為清使政，萬物乃榮。五之氣，畏火臨，暑乃至，陽乃化，萬物乃長乃榮，民乃康，其病溫。</p>
<p>丑未歲，陽明居之，為大涼燥疾。五之氣，慘令以行，寒露下，霜乃早降，草木黃落，寒氣及體，君子周密，民病膚腠。</p>
<p>寅申歲，太陽居之，為早寒。五之氣，陽乃去，寒乃來乘，氣門乃閉，剛木凋，民避邪氣，君子周密。</p>
<p>卯酉歲，厥陰居之，為涼風大行，雨生介蟲。五之氣，春令乃行，草乃生榮，民氣和。</p>
<p>辰戌歲，少陰居之，為秋，濕病時行。五之氣，陽復化，草乃長乃化乃成，舒，大火臨御，故萬物舒榮。</p>
<p>巳亥歲，太陰居之，為時雨沉陰。五之氣，燥濕更勝，沉陰乃布，寒氣及體，風雨時行。</p>
<p>凡六終之氣，自小雪中氣日交入六之氣分，終於六十日，余八十七刻半，至大寒前六十日而有奇。自斗建亥正至丑之中，終盡天之氣，水氣治之，寒之分也。天度至此，寒氣大行。</p>
<p>子午歲，陽明居之，為燥寒行。終之氣，燥令行，余火內格，病腫於上，咳喘，甚則血溢。</p>
<p>寒氣數舉，則霧露雨，瞀翳，病生及腠內，舍於脅下，連少腹，而作寒中，地博易也，氣勝則可長也。</p>
<p>丑未歲，太陽居之，為大凝冽。終之氣，大寒舉，濕大化，霜乃積，陰乃凝，冰堅，陽光不治，感於寒，則關節禁固，腰　痛，寒濕持於氣交，而為病也。</p>
<p>寅申歲，厥陰居之，為寒風飄揚，而生鱗蟲。終之氣，地氣之正，風乃至，萬物反生，朦霧，其病關閉不藏而咳逆。</p>
<p>卯酉歲，少陰居之，則蟄蟲出見，流水不冰。終之氣，陽氣布，候反溫，蟄蟲來見，流水不冰，民乃康平，其病溫，君火之化也。</p>
<p>辰戌歲，太陰居之，為凝寒寄地，濕也。終之氣，濕令行，陰凝太虛，埃昏瞑，野昧，民乃慘淒，寒風以至，反者孕死。</p>
<p>巳亥歲，少陽居之，為寒溫，蟄蟲不藏，流水不冰。終之氣，畏火司政，陽乃大化，蟄蟲出見，流水不冰，地氣大發，草乃生，人乃舒，其病濕厲。</p>
<p>凡此上文，每一主位之內，有主客氣耳。是以此為其法也，始於子年，終於亥年。每一歲之中，常以六位矣，氣在其下，地應陰，靜而位永定不易，歲歲皆然。天之氣，動而不息，居無常之位，隨其歲氣交移，則司天為三之氣，地為終之氣。左右之間氣也，地之左間為初之氣，右間為五之氣，天之左間為終氣，右間為二之氣，所謂客氣也。</p>
<p>客行則在主之上，主在客之下。上下相召，寒暑相臨，陰陽相錯，而變由生也。</p>
<p>凡此之言人，是以犯其天綱，微微而有異也。先立天地盈虛，以明歲運之太少，及更以別其盛衰，推六步之臨御，適其分野，得而推之，察其得遇，可以其用也。</p>
<p>（新添）夫天之六氣陰陽者，動而不息，以輪流而於六矣。主位之上，常以當歲之氣，便為司天，而為三氣相火之客也，後三氣，便為在泉之氣之客也。其司天氣者，有南北二政也。甲己土運，乃南政司天，土獨尊，其余金水火木，皆北政。南政者，順天而轉，定左右間氣也。假令甲子年，南政司天，子午乃少陰，君火之上，為司天也。中太宮，土運。下進三位，卯位，甲與己合，乃己卯司地也。司天氣者，兩相近者，為間氣也。子為司天，少陰君火也，亥乃厥陰風木也，為右間氣，丑，太陰濕土，為左間氣也，卯，陽明燥金，為司地，寅，少陽相火，為左間氣，辰，太陽寒水，為右間氣也。</p>
<p>一年移一位，以至六居而還會矣。然上下相臨，陰陽相錯，而變由生也。氣相得則和，不相得則病，主勝客則客病，而為逆也，客勝主則主病，而為順也。主客之勝，而無復也，所為三陰三陽自有盛衰之理也。寅申巳亥為一陰一陽，子午卯酉為二陰二陽，辰戌丑未為三陰三陽，以義推之，而知盛衰之變異也。</p>
<p><a href="_files/pt166a17.bmp">舊經南政司天之圖</a></p>
<p>歌曰：歲辰之氣是司天，（歲謂年也，辰為支也，則知子午歲少陰君火司天之理也，則知子午之左進一位至丑年，每年到，便為司天氣也。）左進三辰為在泉。（進三辰，至卯酉，陽明在泉之類也。）天皆南面言左右，（司天位在南，而北面言其左右之間氣也。）北地左右面南言。（司地位在北，而南面言其左右之間氣也。）司天便為三氣客，（司天者，上也，南北二政皆司天，為之氣，便是三之氣，客也。）地為終氣必應然。（司地者，一名在泉，所謂下也，乃為終之氣，客也。）地左間居終之氣，（司地左間為終之氣，客也，司地右間為四氣，客也，司天居三氣，客也。）欲知地氣自排連。（四氣司天，右間居二氣，司地終氣同，而別推之也。）</p>
<p><a href="_files/pt166a18.bmp">北政司天之圖</a></p>
<p>司天六元真氣者，每一歲前三氣在天，後三氣在地也。其六氣，二氣在天地之間，余四氣在間氣也。司天之氣者，主歲半之前，三氣也，其在泉者，主歲半之後，也三。謂司天正主三之氣分也，乃是至後。合三十日，余四十三刻七十五分也。余四間氣者，為天地陰陽所行之道路，而各主六十日，余八十七刻半也。然總之六步，則為三百六十五日一十五刻，乃成一歲耳。</p>
<p><a href="_files/pt166a19.bmp">天地所主時位之圖</a></p>
<p>夫五運者，每一歲通主一期，而五為為一周也。以隨乎一運主一歲，而太少相次也。然一歲之中，亦有五運，而合主一歲也。凡此五運，元於之主所，以木火土金水而相襲治之也。常以木為初運，各隨年前交初氣之日，時刻皆同。次木生火為二之運，次春分後十三日交。次火生土為三之運，次小滿日後二十五日交。次土生金為四之運，次大暑後三十七日交。次金生水為五之運，次秋分後四十九日交。終而復始也。凡一運，七十三日五刻，總之為一期。（此乃五運主客者。</p>
<p>前各有運策加臨，易見也。）或云歲中五運，各有主客，當以主客也。以年干前二干為初運之客，而以（因。）五運上下加臨，（其年干前二干為客運者，具載《玉冊》內。按：六元正紀大論曰：天運便為初運也。）而為燥者，誤也。</p>
<p>然司天者在其上，司地者在其下，歲運者在其中。常以般運天地之氣，而為升降。又，六步主客之氣者，客氣在上，主氣在下，歲中天運在其中，而般運上下主客之氣，而升降也。凡此皆是三才之道也，乃自然之理，造化物之由也。一生二，二生三，三生萬物矣，安得有主客之氣，反無以般之耶，宜為謬矣。運有太少者，但同歲運之太少，上下太少相因可知。謬以陽年先起太角，陰年先起少角者，非也。（前太少角圖，載法在前，與經同也。）</p>
<p><a href="_files/pt166a20.bmp">舊經六氣表裡之圖</a></p>
<h4>三陰三陽表裡十二經（新添）</h4>
<p>歌曰：寅為三焦手少陽，卯手陽明大腸方，辰手太陽小腸火，巳手厥陰包絡鄉，午手少陰心是火，未手太陰肺金鄉，申足少陽膽是木，酉足陽明胃土當，戌足太陽膀胱水，亥足厥陰肝木傍，子足少陰腎屬水，丑足太陰脾土鄉。</p>
<p>足少陰腎之經、足太陽膀胱經，為足兩感。手少陰心之經、手太陽小腸經，為手兩感。足太陰脾之經、足陽明胃之經，為足兩感。手太陰肺之經、手陽明大腸經，為手兩感。足厥陰肝之經、足少陽膽之經，為足兩感。手厥陰包絡經、手少陽三焦經，為手兩感。其兩感者，表裡俱病，內外受病。凡上下加臨，取病之本。《素問》：曰傷寒病，死在六七日之間，何也？皆兩感所受也。</p>
<p>（新添）巨陽者，諸陽之屬也，其脈連於風府，故為諸陽之主氣也。人之傷於寒者，則為病熱，熱雖甚不死，其兩感於寒而病者，必不免於死。傷寒一日，巨陽受之，故頭項痛，腰脊強。二日陽明受之，陽明主肉，其脈挾鼻絡於目，故身熱目痛而鼻干，不得臥也。三日少陽受之，少陽主膽，其脈循脅絡於耳，故胸脅痛而耳聾。三陽經絡皆受其病，而未入於臟者，故可汗而已。四日太陰受之，太陰脈布胃中，絡於嗌，故腹滿而嗌干。五日少陰受之，少陰脈貫腎，絡於肺，故口燥舌乾而渴。</p>
<p>六日厥陰受之，厥陰脈循陰器而絡於肝，故煩滿而囊縮。其兩感於寒者，三陰三陽，五臟六腑皆受病，營衛不行，五臟不通，則死矣。其不兩感於寒者，七日巨陽病衰，頭痛少愈，八日陽明病衰，身熱少愈，九日少陽病衰，耳聾微聞，十日太陰病衰，腹滿如故，則思飲食，十一日少陰病衰，渴止不滿，舌乾已而嚏，十二日厥陰病衰，囊縱，少腹微下，大氣皆去，病日已矣。兩感於寒者，病一日巨陽與少陰俱病，則頭痛口乾而煩滿，二日陽明與太陰俱病，則腹滿身熱不欲食，譫語，三日少陽與厥陰俱病，則耳聾囊縮而厥不知人，水漿不入，六日死，五臟已傷。</p>
<p>後有傳病法，在卷末，開說出三甲口訣。非《素問》說，故載此也。</p>
<h4>論標本</h4>
<p>經言：標本之道，淺而博，小而大，可以言一而知百病之害。言標與本，易而勿損，察本舉標，氣可令調，明知勝復，為萬民式，天度畢矣。</p>
<p>（舊經）六氣標本，所從不同，有從本者，有從標者，有不從標本者。少陽、太陰，從本，少陰、太陽，從本從標，陽明、厥陰，不從標本，從乎中也。從本者，化生於本，從標本者，有標本之化，從中者，以中氣為化，以六氣為本，以三陰三陽為標也。</p>
<p>（新添）少陽之本火，太陰之本濕，本末同，故從本也。少陰之本熱，其標陰，太陽之本寒，其標陽，本末異，故從本從標。陽明之中，厥陰之中，氣之化者：陽明中氣為濕，厥陰之中氣熱，故陽明、厥陰不從標本之化，從乎中。中者，人氣也，人氣為病矣。</p>
<p>（舊經）經言：少陽之上，火氣治之，中見厥陰，陽明之上，燥氣治之，中見太陰，太陽之上，寒氣治之，中見少陰，厥陰之上，風氣治之，中見少陽，少陰之上，熱氣治之，中見太陽，太陰之上，濕氣治之，中見陽明，所謂本也。然寒暑燥濕風火者，氣謂本也，則三陰三陽上奉之。</p>
<p>三陰三陽者，太陰、太陽、少陰、少陽、厥陰、陽明，是謂標也。與本相合，為表裡者，是謂中也。是故太陰陽明合，太陽少陰合，厥陰少陽合。合而為六，分而以為手足，應三陰三陽十二經脈也。</p>
<p>（新添）又，少陰、太陽，有標本之化，然少陰本熱，其標少陰也，太陽本寒，其標太陽也，遂從標從本之化也。太陰、少陽，從本，然太陰之本濕，其標陰，少陽之本熱，其標陽，故各從其本化也。陽明、厥陰，不從標本，皆從乎中氣，陽明其本燥，標為陽，其性涼，清化涼，與標本不同，而反同其太陰濕土也，又厥陰不從標本，而反從乎中氣矣。</p>
<p>（舊經）大凡治病，必明標本中氣之化，而寒熱溫涼治之耳。又，經曰：氣有國中，凡三十度而有奇，氣同位者，何也？然：國中者，謂一步間氣分為二分，故言三十日而有奇也。奇為四十三刻七十五分。國中相合，而成六十日余八十七刻半，乃為一步也。所以氣之國中者，是以明其天地氣之升降也。氣之初，地氣升，氣之中，天氣降，升降不以，為造化之由也。故經曰：天氣下降，氣流於地，地氣上升，氣騰於天。故高下相召，升降相因，而變化作矣。故出入廢則神機化滅，升降息則氣立孤危，故非出入則無以生長壯老已，非升降則無以生長化收藏。是以升降出入，無器不有。故知人之眼耳鼻舌身意神識能為用者，皆由升降出入之通利也。故無不出入，無不升降。化有大小，期有遠近，四者之有，而貴常守，反常則災害之矣。故曰無形無患，此之謂也。又曰，有不生不化手？然：與道合約，唯真人。故曰：真人者，提挈天地，把握陰陽，呼吸精氣，獨立守神，肌肉若一故能壽蔽天地，無有終時，此其道生也。及夫至人，淳德全道，和於陰陽，調於四時，去世離俗，積精全神，游行天地之間，視聽八遠之外，此蓋益其壽命而強者也，亦歸於真人。皆成道者。天地人三才，運氣加臨勝復，注上中下矣。癸未日患，便是兩感，火運加臨上，見子少陰。其運火，兩感合死，標本合病。粗工不識陰陽升降，不知酸苦甘辛鹹藥性者，十人病，九人死也。</p>
<p><a href="_files/pt166a21.bmp">標本之圖</a></p>
<h4>傳病</h4>
<p>乙酉相女命，癸未日患者，癸火運，未手太陰肺，將未加在辰上，順行至酉，上見子，子少陰火，為兩感。</p>
<p>（新添）四仲行流己上求，但逢季孟在龍頭。</p>
<h4>傳病法</h4>
<p>凡人多用《紅絲經》傳病法，全失《素問》造化之理，並無運氣之說。（馬宗素述：黃帝玉甲金鑰機要傳病法，非《素問》經載。習之者先明運氣逆順勝復造化，四時旺相，調治四時，所用皆先看司天日也。）</p>
<h4>分五行王相</h4>
<p>桑君所傳加臨法：春，木旺，火相，土死，金囚，水休，甲乙日同。夏，火旺，土相，金死，水囚，木休，丙丁日同。秋，金旺，水相，木死，火囚，土休，庚辛日同。冬，水旺，木相，火死，土囚，金休，壬癸日同。四季，土旺，金相，水死，木囚，火休，戊己日同。</p>
<h4>天符</h4>
<p>司天與運同，是名天符星。假令戊子日，戊為火運，子為火氣，只是天符，此日患病，困半也。</p>
<h4>歲會</h4>
<p>運與支同是也。假令甲辰日，甲為土運，辰為土支，乃歲會也，得病皆重。年月時同，皆仿此。</p>
<h4>太一天符</h4>
<p>運氣與支同。假令戊午日，戊為火運，午為火氣，又是火支，即為太一天符也。三日若遇吉運善星，九死一生。年月日時並同。</p>
<h4>分司天司地司人</h4>
<p>當日日辰名司天，司天前三辰名在泉，為司地，左右間氣為司人。假令甲子日，足少陰司天，前三辰是丁卯陽明，為在泉，為司地，足少陽為右間氣，足太陽為左間氣，為司人也。</p>
<h4>分四時傷寒病傳證候法</h4>
<p>若要知四時傷寒病傳證候，須將人之相屬加左右間氣之上，司地在陽，乃加左間氣，在陰，乃加右間氣，數至司天氣上，見何臟腑，先受病也。假令庚申人己卯日得病者，以手陽明司天，前三辰壬午，手少陰心，陰，為在泉，手為陽支，手太陰為左間氣，乃在左間氣上將午加至卯上，見寅，為三焦也。第一日，三焦受病，為主。第二日丑，太陰脾土，三焦火，火生土，為微邪，當先補心瀉脾。第三日傳至子，足少陰屬火，三焦亦是火，當解心經。第四日傳至亥，足厥陰肝屬木，三焦是火，為木生火，為虛邪，當補肝瀉心則愈。第五日傳至戌，為足太陽膀胱，屬水，三焦是火，水克火，為客勝主，其人必死也。兼日辰癸未，癸，腎水也。（其法二也，一法用人命者，一法用日辰也。一法用日辰加左右間氣，又一法加左右間氣於相屬者，皆至日辰。醫者詳推，有驗準也。）假令甲子人戊午日病，少陰司天，前三辰癸酉，足陽明為在泉，酉陰交少陽，右間氣，將甲子加申，數至午上，見戌，為膀胱。第一日為主病。第二日傳至酉，足陽明胃，胃屬土，膀胱是水，為土克水，為客勝主，為賊邪，必死也。太一其日得病，十死一生也。第二日，胃受病日辰，己未日土運，土氣也。三土當克一水，其人未時而亡，為四土臨深也。假令壬申人己丑日得病，手太陰為司天，前三辰太陽，手太陽司地，辰為陽支，合加手厥陰，為左間氣。將壬申數至司天，上見辰，為手太陽火。第一日，小腸受病，為主。第二日，傳至於卯，手陽明大腸屬金，小腸屬火，火克金，主勝客，為微邪，宜瀉肺補小腸而愈也。假令丙寅人丙戌日病，此日丙辛水運，辰戌太陽，為水氣，天符日，其病難痊。當是足太陽司天，前三辰司地，辛丑足太陰司地，乃丑為陰支，子為右間氣。將丙寅加右間氣，數至司天，上見子，為手少陰，是第一日受病也。生我者母，見子為虛邪，我克者為實邪，生我者為微邪，克我者為賊邪，生我者為正邪，自病。第二日傳至亥，足厥陰肝，屬木，心屬火，木生火。為母生子，為虛邪，宜補肝瀉脾而愈。第三日傳至戌，足太陽膀胱屬水，心屬火，水克火，客勝主，為賊邪，其日雖困不死。從初病至第三日是戌，子為火運，子為火氣，為水不能克火，一水不能克三火也。（據子午，少陰，君，太子者，本屬腎水，傳於戌，乃表裡也，非賊邪也。）第四日傳至酉，足陽明胃屬土，心屬火，火生土，為虛邪，宜補心則愈。第五日傳至申，足少陽膽，屬木，心屬火，木生火，母見子，為虛邪，宜補肝瀉脾。第六日傳至未，足太陰脾屬土，心屬火，火生土，為實邪，補脾則愈。第七日傳至午，足少陰腎屬水，心屬火，病七日，至壬辰，木運為水氣，木運生火，水氣克火，中半之道，其人雖然不死，大困矣。第八日至巳，手厥陰心包絡屬火，兩火相逢，遇比和，或日合辰，自差也。</p>
<h4>五臟病證（新添）</h4>
<p>心病為主面赤，口乾，善笑，口苦，焦臭，多言，足汗，其病心煩心痛，掌中熱，口乾也。</p>
<p>肝病面青，善怒，臍左痛，其病四肢，滿悶，淋溲，便難，轉筋也。脾病面黃，善噫，當臍痛，腹脹滿，食不消，體重節痛，怠惰嗜臥，四肢不收。肺病為主面白，善嚏，悲愁不樂，欲哭，臍右痛，其病喘咳，洒淅寒熱也。腎病為主面黑，恐，臍下痛，四肢厥逆，小腹急痛，泄注下重，足寒，而多逆也。</p>
<h4>推三陰三陽病證歌</h4>
<p>厥陰所至土當災，令民交病水不來，心痛胃脘兩脅滿，咽喉壅閉甚難開。太陰濕土雨時行，民病頭痛骨痹生，脫項拔腰並折髀，皆由腎臟未通享。少陰君火熱臨身，民病心煩乾嘔頻，兩脅頭痛時咳喘，惡寒瞀悶悸驚人。少陽相火熱司天，所勝之年心病先，胸滿鼻衄兩脅脹，喘咳腹脹火當年。陽明燥勝木為殃，頭痛昏昏左脅傷，男子傷筋浮腫脹，婦人腹痛又心狂。太陽寒水心受災，民病頭痛寒熱來，腹痛肘攣筋急痛，面黃嗌向口乾煩。</p>
<h4>求癸丑年七十二候（新添）</h4>
<p><a href="_files/pt166a22.bmp">舊經七十二候之圖</a></p>
<p>演紀開元十二年甲子歲正月一日己酉朔，積至今明昌四年，積得四百七十年。減一　，乘歲周，分乘之，得一十七萬一千二百九十九日二十四分八十四秒，去天紀，命己酉，　外得戊申日交司日辰及分，（六十去之。）外有□。置大寒五十九日二十四分八十四秒，加候策五日零七分二十八秒，滿六去之。假令癸丑年大寒交司，五十九日二十四分八十四秒，加候策五日零七分二十八秒，得六十四日三十二分一十二秒，命己酉，得癸丑日。鷙鳥厲疾，大寒氣下，乃雞始乳也。此鷙鳥厲疾者，大寒後五日。</p>
<p>經曰：何謂氣？岐伯曰：上帝所秘，先師傳之。日五日謂之候，三候謂之氣，六氣謂之時，四時謂之歲。歲者謂之期，四期謂一小周，十五小周為一大周，乃六十年也。凡此之數，九六為之紀也，故經曰六六之節、九九制會者，所以正天之度，氣之數。天度者，所以制日月之行也，氣數者，所以生化之用也。天為陽，地為陰，日為陽，月為陰。行者，分紀也。周有道理，日行一度，月行十三度而有奇焉，故大小月三百六十五日，曲成一歲，積氣余而盈潤矣。然晝夜日行天之一度，月行十三度零十九分之後也。（後載法在用針補瀉內，出八正神明論中。）然五星者，皆屬地，體循天而右行也。南面東轉，北面西行，故曰天順地而左旋，地承天而右行矣，是日行遲而月行疾也。</p>
<p>凡太陽一年三百六十五日，一日行一度，一年行一周天。月一日行十三度有奇，二十九日行一周天，日方行二十九度。此之比月，則月已先行一周天三百六十五度，之外又行天之二十二度，則反少七度，而不及日也。又加半日，則同宮而為一月。《陰陽說》謂：月之行，月有前後，遲速分等，周天常準，則有大小盡之異也。本三百六十五日四分度之一。荊朴曰：周天三百六十五度四分度之一者，故日行天一度，月行十三度有奇。月二十七日行一周天，更二日半行，乃日與月相會，成一月。計日二十九度半，在人二十九日半，合個二十九度半，共五十九日，故月有大盡有小盡。一歲日共行三百五十四度，在人計三百五十四日。周天三百六十五度四分度之一，成人間一年，今只行三百五十四度，在人計三百五十四日，余卻一十一度四分度之一，計一十一日三時辰，故三年一閏，五年而再閏，十九年七閏，方成一章。至八十章，然後盈虛之數盡而復始。</p>
<h4>求月周天法（舊經）</h4>
<p>置周天三百六十五日二十五分，以二十七日除之，每日得一十三度，余有一十四度二十五分。</p>
<p>以約法相減，（以二十七減十四度二十五分。）得七十五停，相減停也。三次相減停，以七十五為法，先除母二十七日，乃二千七百也。除之得母，（三十六為母也。）以七十五除子一十四度二十五分，得一十九也，故三十六分度之一十九。一日一十三度三十六分度之一十九，二日二十七度三十六分之二，三日四十度三十六分度之二十一，四日五十四度三十六分度之四，五日六十七度三十六分度之二十三，六日八十一度三十六分度之六，七日九十四度三十六分度之二十五。</p>
<p>直候加至二十七日，乃得三百六十五度三十六分度之九也，故二十七日合周天三百六十五日四分度之一也。度之一者，乃一百刻中得二十五，四個二十五也，乃百刻也。共合之今法，以三十六分為母，以合三百六十五度三十六分度之九，故四個九，亦三十六也，合四分度之一也。</p>
<p>（新添）當六歲也，自余歲外之法。別有三百五十四日，而為一歲，通少一十一日五十五刻，乃積氣余而盈閏也。凡閏之月，無中氣，皆是前後三辰之分也，乃天度之數也。其象應期而有圓缺者，月象非有缺也。然月為太陰，水之精也，日象太陽，火之精也，日月相見，則為明字，乃天之道也。火為陽明之於外，水為陰明之於內，以火大彰，以水鑒形，而可形之也。目之見也，同其太陽，照而象方見也。日光不能照者，其象不彰而缺也，以視其象，而可狂也。故上弦月南，則日乃西見而下之半也，下弦月南，則日乃東見而上之半也，望則日月相對，是故圓明，晦則同宮，是故視之不見矣。又如，冰雖瑩，夜懸暗室，非火炳明，而豈鮮見其形矣。是知冰雖內明，非明曜而形無所見，月雖中朗，非日輝其象不能彰。是故月本無缺，蓋因日月行之遲速不等，而故有盈虧矣。</p>
<h4>太陽早晚出入（新添）</h4>
<p>經曰：地為人之下，太虛中者也，然地太虛之中，非謂至下之處也。以觀平野之外，目視之極，天圓之際，非謂天之有際，而與地之相接也。凡遐跡山休，皆黃隔而致之然也。物隔之際，是為日月營運道路上下之中也。是故日未出而先曉，日乍入而朗明矣。然日月星象，非謂高下齊等，循天而營運也矣。</p>
<p><a href="_files/pt166a23.bmp">新添太陽出入早晚之圖</a></p>
<p>然南方陽火，其氣炎上，北方陰水，其性下流，故上南也，下北也。北方下而為陰也，子正陰極，而反生陽而上升，日乃上行，循於丑寅，至卯乃曉，以上物隔之際，而乃出也。次乃上循辰巳，至午正陽極，而反生陰而下降，日乃下行。循於未申，至酉乃暮，以下物隔之際，而入之也。次下循於戌亥，至子，周而復始也。</p>
<p>此乃一日之中，陰陽升降營運之道也。歲中升降，亦如是也。故冬至為子正也，日行之下，循天營運，道路闊遠，故日晝行南道，而遲出早入也。乃晝凡四十刻，而夜凡六十刻也。然冬至之後，陽乃始生，日反上行，而漸高也。則循天之營運，道路穿狹，故日晝漸北行，而早出遲入也。凡九日，晝加一刻，而為約也。至為春分，日行中道，故晝夜停而各得五十刻也。至於夏至，為午正也，日行之道，而至高也。高則循天，收而穿行，故日晝行北道，而早出遲入也。</p>
<p>晝夜一日百刻，二十四節氣定時刻也。立春正月節辰KT　，手太陰經也，晝四十三刻，夜五十七刻。雨水正月中寅KT　，手太陰絡，肺也，晝四十五刻，夜四十五刻。驚蟄二月節甲KT　，手陽明經也，晝四十七刻，夜五十三刻。春分二月中卯KT　，手陽明絡，大腸，晝五十刻，夜五十刻。清明三月節巳KT　，足陽明經，晝五十三刻，夜四十七刻。穀雨三月中辰KT　，足陽明絡，胃，晝五十五刻，夜四十五刻。立夏四月節巽KT　，足太陰經，晝五十七刻，夜四十三刻。小滿四月中巳KT　，足太陰絡，脾，晝五十九刻，夜四十一刻。芒種五月節丙KT　，手少陰經，晝六十刻，夜四十刻。夏至五月中午KT　，手少陰絡，心，晝六十刻，夜四十刻。小暑六月節丁KT　，手太陽經，晝六十刻，夜四十刻。大暑六月中未KT　，手太陽絡，小腸，晝五十九刻，夜四十一刻。立秋七月節坤　，足太陽經，晝五十七刻，夜四十三刻。處暑七月中申KT　，足太陽絡，膀胱，晝五十五刻，夜四十五刻。白露八月節庚KT　，足少陰經，晝五十三刻，夜四十七刻。秋分八月中酉KT　，足少陰絡，腎，晝五十刻，夜五十刻。寒露九月節辛　，手厥陰經，晝四十七刻，夜五十三刻。霜降九月中戌KT　，手厥陰絡，手心主，晝四十五刻，夜五十五刻。立冬十月節乾KT　，手少陽經，晝四十三刻，夜五十七刻。小雪十月中亥　，手少陽絡，三焦，晝四十一刻，夜五十九刻。大雪十一月節壬KT　，足少陽經，晝四十刻，夜六十刻。冬至十一月中子，足少陽絡，膽，晝四十刻，夜六十刻。小寒十二月節癸KT　，足厥陰經，晝四十刻，夜六十刻。大寒十二月中丑KT　，足厥陰絡，肝，晝四十九刻，夜五十一刻。乃晝凡六十刻，而夜四十刻也。然夏之後，陰乃始生，日反下行，故日晝漸南，遲出早入。凡九日，晝減一刻，而為約也。至秋分，日行中道，乃晝夜停，而各得五十刻也。至於冬至，周而復始。然日一所行之道路，雖有高下、周圓、大小之異，皆合六度而行，故日高則遠，視之小而行遲也，日下則近，視之大而行之疾也。又，日高則陽居陽分，故喧而熱也，日下則陽居陰分，故涼而寒也。然一日陰陽升降之小，故寒熱溫涼異之小也，一歲陰陽升降之大，乃寒熱溫涼異之大也。又，夏日循天高行，故晝長夜短，是為陰少而陽多，故熱也，冬日循天下行，故晝短夜長，是為陽少而陰多，故寒也。</p>
<p>又，冬至之後陽生，則晝漸長，夏至之後陰生，則夜漸永也。此乃天理自然升降營運之道路也。</p>
<p>故春秋二分，陰陽兩停。春居陽分，故為溫也，秋居陰分，故為涼也。分則日月同道而行，余皆日月異道而行，高下而相反也。</p>
<p>其五星者，歲星十二年行一周天，熒惑星七百四十日行一周天，鎮星二十八年行一周天，太白星、辰星常以太陽同宮，而三百六十五日四分度之一乃行一周天矣。各星氣運盛衰，而有高下，所行道路之異也。然盛則其星熒然明大，高而上行循天，北越其道也。氣運各無盛衰，則不失其常矣，其同天星象，皆順陰陽升降之理而行也。子正之後，上而行之，午正之後，下而行之，故皆於將隔之際，而為出入之期也。又，星晝伏，明而不見者，蓋日光曦輝而然也，故曰大明見則小明不彰矣。凡此之道，照而無惑也。故經曰：天變代惑之用，天垂象，地成形，七曜緯虛，五行麗地。地者，所以載生成之形類也，靈者，所以列應天之精氣也。形精之動，猶根之與枝葉也，仰觀其象，雖遠可悟其道矣。</p>
<h4>五行傍通（新添）</h4>
<p>夫天地之道者，以五運陰陽為變化之用也。故經曰：其在天為玄，在人為道，在地為化。化生五味，道生智，玄生神。在天為風火暑濕燥寒，在地為木火土金水。故在天為氣，在地成形，氣形相感，而化生萬物矣。</p>
<p>五氣：風、暑、濕、燥、寒。五行：木、火、土、金、水。五星：歲星、熒惑星、鎮星、大白星、辰星。五音：角、徵、宮、商、羽。五方：東、南、中、西、北。五應：春、夏、長夏、秋、冬。五化生氣：生、長、化、收、藏。五運平紀：敷和、升明、備化、審平、靜順。五候氣：端素、高茂、允平、凋涼、澄明。五性：暄而隨、暑而速、澤靜直平、涼而潔、澶而下。五用：曲直搖動、燔灼躁動、高茂滿化、堅成散落、　衍下流。五蟲：毛、羽、裸、介、鱗。五畜：羊、馬、（相火化馬，屬火，辛一。）牛、雞、豬。五穀：麻、麥、稷、稻、豆。五果：李、杏、棗、桃、栗。五菜：韭、薤、葵、蔥、藿。（豆葉番味沒。）五實：核、絡、肉、殼、濡。五物：堅、脈、膚、外堅、濡。五色：青、赤、黃、白、黑。五臭：臊、焦、香、腥、腐。五味：酸、苦、甘、辛、咸。五運成數：八、七、五、九、六。五德：敷和、彰顯、潤澤、清潔、淒愴。五化：生榮、蕃朮、豐盈、堅斂、清隘。五政：發散舒啟、明曜、安靜、勁肅、清淨。五令：和風暄發、暑熱鬱蒸、濕　云雨、燥濕霧、霧露寒。五變：振拉摧拔、銷鑠炎赫、動驟注雨、肅殺慘淒、凜冽嚴凝。</p>
<p>五災：散落、燔KT　、潰覆、冰雪、霜雹。五病：衰、急、（然相火運，夏滿閏變，亦君火化。）</p>
<p>否、咳、厥。</p>
<p>五臟神：魂、神、意、魄、精。五臟：肝、心、（下皆君火之化也。）脾、肺、腎。五志：怒、喜、思、悲、恐。五官：目、舌、口、鼻、耳。五臟開竅：目、耳、（少火相清故也。）口、鼻、溺。五臟主：目、舌、口、鼻、二陰。五養：筋膜、血脈、肌肉、皮毛、骨髓。五臟內應：胸脅、膺肋、心腹、膺脅腹背、腰下脊骨髓。五臟外應：關節、經絡、肌肉四肢、皮毛、溪穀蹄膝。</p>
<p>凡此五化，非太過不及，以平而為期也。生長化收藏，先後之至，各務其德，則無勝淫。治之生月，五化宣平，不失其常，是化而無變也者，謂之物極盛也。經曰：物生謂之化，物極謂之變，則天道失常，而病由生也。則如木太過而變，則風氣大行，邪淫脾土，濕化屈伏，皆病也。</p>
<p>風木過極，而亦自病。木不務德，輕侮肺金，勝注脾土。土氣屈伏，求救於子，子者金也，子復母仇，則清氣大舉，燥令乃行，而肝病也。若木不及，則金來勝克，肝乃受邪侮，反曰病於虛也。</p>
<p>金乃勝木，火復母仇，金反病也。五星萬物，盡皆應之，人亦由之。余皆仿此，推而可知也。</p>
<p>故經曰：五氣而立，各有所先，非其位則邪，當其位則正。病生之變也者，氣相得則微，不相得則甚。主歲者，氣有餘則制己所勝，不及則己所不勝侮而乘之，己所勝輕而侮之。侮反受邪，寡於畏也，斯之道歟！夫五運太過者，與己不勝而齊化，是謂木齊金化之類也。夫復則化淳，其氣變動，則病由生也。以勝衰者受邪，盛之過及極，而亦同病也。隨所勝之微甚，復其過而反招其害也。</p>
<p>太過五紀，木曰發生，火曰赫曦，土曰敦阜，金日堅成，水曰流衍。辰戌，上羽，其運風、暑、陰埃、涼、寒肅。其化鳴條啟坼，暄暑郁燠，柔潤重澤，霧露蕭殺，凝慘凜冽。其變振拉摧拔，炎烈沸騰，振驚飄驟，肅殺凋零，冰雪霜雹。其病眩掉目瞑，熱鬱，濕下重，燥，背瞀胸滿，大寒流於溪穀。</p>
<p>寅申，上徵，其運風鼓、暑、陰雨、涼、寒肅。其化鳴條啟坼，暄囂郁燠，柔潤重澤，霧露霜　，凝慘栗冽。其變振拉摧拔，炎烈沸騰，振驚飄驟，同前。其病掉眩支脅驚駭，上熱鬱血溢血泄心痛，體重　腫痞飲，肩背胸中，寒浮腫。子午歲，上徵，其運風熱、炎暑、陰雨、涼勁、寒。其化同前，暄曜郁燠，柔潤時雨，霧露蕭　，其變同前。其病支滿，上熱血溢，中滿身重，下清，寒下。</p>
<p>凡定期，是以疏其紀，不必皆然，有變動病之用也，所以其間亦非太過者，推之可知也。其病者，病由生也。則如歲太角風勝，脾土受邪，民病飧泄食減，體重煩冤，腸鳴支滿忽忽善怒，眩昌巔疾。云物飛動，草木不寧，甚而搖落，反脅痛而吐甚。則衝陽絕者，死。歲太徵火勝，肺金受邪，民病HT　疾，少氣咳喘，血溢向泄，注下，嗌燥耳聾，中熱，肩背熱，甚則胸中痛，脅支滿，脅痛，膺背肩胛間痛，兩臂內痛，身熱膚痛，而為浸淫。雨水霜寒，病反譫妄狂越，咳喘息鳴，下甚則血溢血泄不已。太淵絕者，死不治。歲太宮土勝，腎水受邪，民病腹痛，清厥，意不樂，體重煩冤，甚則肌肉痿，足痿不收，行善，腳下痛，飲發，中滿食減，四肢不收，反下甚。而太谿絕者，死不治。歲太商金勝，肝木受邪，民病兩脅下滿，痛引少腹，目赤　瘍，耳無所聞，胸痛引背，甚則喘咳逆氣，肩背痛，尻陰股膝髀　足皆痛，金氣峻，生氣下，草木斂，蒼干凋隕，反　脅暴痛，不可反側，咳逆甚而血溢。太衝絕者，死不治。歲太羽水勝，心火受邪，民病身熱煩心躁悸，陰厥，上下皆寒，譫妄心痛。寒氣早至，甚則腹大脛腫，喘咳，寢汗出，憎風，大雨且至，埃霧朦郁，濕氣變物，病反腹滿腸鳴，飧泄，食不化。神門絕者，死不治。</p>
<p>凡此五運太過之勝，由乎變也。變則勝至，有勝則後復之勝之，作病之蓄也。</p>
<p>五運不及，則其化減半，己所不勝，來兼其化。則如土不及而兼木化之數也。己所不勝來於其勝，衰而受邪，屈伏不伸，求救於子，子報母仇，後復其過，隨勝而復，病之作也。</p>
<p>不及五紀，木、火、土、金、水，委和、伏明、卑監、從革、涸流，其運風清熱、熱寒雨、雨風涼、涼熱寒、寒雨風，其災宮，三、九、五、七、一，所謂運不及而兼其勝復之化也。</p>
<p>凡此定期，是以專明不及之運，非謂但逢陰乾，便為不及。凡陰乾之中，亦有平運，不可不通。歲運不及，則如此之化及災也。</p>
<p>歲少角木衰，燥令大舉，草木晚榮，肅殺而甚，甚則剛木辟著，柔萎蒼干，民病中清，　脅痛，少腹痛，侮反受邪，脾病腸鳴溏泄，金土並化，則涼雨時至。天刑克，木氣失正，草木焦槁，蒼木再凋，火後則炎暑流行，濕性乃燥，柔脆草木焦槁，下體再生，華實齊化，病寒熱瘡瘍痱疹癰痤。白露早降，收殺氣行，寒雨害物，蟲食甘黃，脾反病也。歲少徵火衰，寒氣大舉，物榮而下，凝慘而甚，則陽氣不化，乃折榮美，民病胸中痛，脅支滿，脅下痛，膺背肩胛間痛，兩臂內痛，鬱冒瞀昧，心痛，暴喑，脅下與腰背相引而痛，屈不能伸，髖髀如裂。復則埃郁，大雨且至，黑氣乃辱，則病　溏，腹滿，食飲不下，寒中腸鳴，注泄腹痛，暴攣痿痹，足不任身也。歲少宮土衰，風氣乃行，草木榮茂，飄揚而甚，秀不實，民病飧泄霍亂，體重腹痛，筋骨徭復，肌肉酸。復則名木蒼凋，病胸脅暴痛，下引少腹，善太息。蟲食甘黃，民病食少失味，蒼穀乃隕。</p>
<p>歲少商金衰，炎火乃行，生氣乃用，庶物以茂，燥爍以行，民病肩背瞀腫，鼽衄，血便注下。復則寒雨暴至，乃零冰雹霜雪殺物，陰厥且格，陽反上行，頭腦戶痛，延及腦頂，發熱口瘡，甚則心痛也。歲少羽水衰，濕乃大行，長氣反用，其化乃速，暑雨數至，民病腹滿身重，濡泄，寒瘍流水，腰股痛發，　股膝不便，煩冤，足痿清厥，腳下痛，甚則　腫。復則大風暴發，草偃木零，生長不鮮，面色時變，筋骨並辟，肌肉　，視KT　KT　，物疏璺，肌肉胗發，氣並膈中，痛於心腹。</p>
<p>凡此五運太過、不及，雖有常位，勝無必也。然有勝則復，無勝則否。亦有勝而不能復。以其所在，推其至理，而可知也。</p>
<h2>卷第四</h2>
<h3>抑怫鬱發篇第四</h3>
<p>五運之氣，歲有天氣，抑而怫之，鬱極乃發，待時而作也。故經曰土鬱之發，岩穀振驚，雷殷氣交，（云之分也。）埃昏黃黑，化為白氣，飄驟高深，擊石飛空，洪水乃從，川流漫衍，田牧土駒，（大水去已，石土危然，若群駒散牧於田野。）化氣乃敷，善為時雨，物之始生始長，始化始成。故民病心腹脹，腸鳴而為數後，甚則心痛脅　，嘔吐霍亂，飲發注下，　腫身重。（脾熱之生也。）云奔雨府，霞擁朝陽，山澤埃昏，其乃發也。其氣四，云橫天山，浮游生減，怫之先兆。（王冰云：天際云橫，山猶冠帶，岩穀叢薄，乍減乍生，有土之見，怫兆已彰，皆平明占之浮游，以午前候望也。）金鬱之發，天潔地明，風清勁切，大涼乃舉，草樹浮煙，燥氣以行，霧數起，（丑後辰前。）殺氣來至，草木蒼干，（其色黃赤黑而雜而至。物不勝殺，故草木蒼干。）金乃有聲，故民病咳逆，心脅痛引少腹，善暴痛，不可反側，嗌干，面塵，色惡。（金勝而木病也。）山澤焦枯，土凝霜鹵，怫乃發也。（王冰云。）其氣五，夜寒白露，林莽聲淒，怫之兆也。水鬱之發，陽氣乃辟，陰氣暴舉，大寒乃至，川澤岩凝，寒　結為霜雪，甚則黃黑昏翳，流行氣交，霜乃為殺，水乃見祥，故民病寒客心痛，腰　痛，大關節不利，屈伸不便，善厥逆，痞堅腹滿。（陰勝陽，則故也。）陽光不治，空積沉陰，白埃昏瞑，而乃發也。太虛深玄，氣猶麻散，微見而隱，色黑微黃，怫之先兆也。（王冰云：寅至辰分，可候也矣。）木鬱之發，太虛昏埃，云物以擾，大風乃至，發屋折木，木有變。（土生異木，奇狀也。）故民病胃脘當心而痛，上支兩脅，膈咽不通，食飲不下，甚則耳鳴眩轉，目不識人，善暴僵仆。（是謂筋骨強直而不用，卒倒無所知也。）太虛蒼埃，天山一色，或氣濁色黃黑，郁若橫云不雨，而乃發也。其氣無常，長川草偃，（無風而自低。）柔葉呈陰，（白楊葉也，無風而葉皆背見。）松吟高山，虎嘯岩岫，怫之先兆。（王冰云：甚者發速，微者發徐也。山行之候，以松虎期之，原行以麻黃為候，秋冬以梧桐、蟬葉候之。）火鬱之發，太虛昏翳，（而空見赤氣也。）大明不彰，（而昏暗是也。）炎火行，大暑至，山澤燔燎，材木流津，廣廈騰煙，土浮霜鹵，止水乃減，蔓草呈黃，風行惑言，（南風行令，惑言雨而不作。）濕化乃後，故民病少氣，瘡瘍癰腫，脅腹胸背面首四肢　憤，臚脹，瘍痱嘔逆，螈　骨痛，節乃有動，注下，溫瘧，腹中暴痛，血溢流注，精液乃少，目赤心熱，甚則瞀悶懊　，善暴死，刻終大溫，汗濡玄府，而乃發也。其氣四，〔（新添）鬱極乃發，待時而作者，天氣不足，地氣隨之，地氣不足，天氣從之，運居其中，木氣欲升，金氣鬱之，火氣欲升，水氣鬱之，土氣欲升，木氣鬱之，金氣欲升，火氣鬱之，丁酉、己亥、己巳、庚午、辛丑、庚寅。假令庚午，金氣欲升，天氣抑之，又逢三之氣，上下火鬱，不能升降。故曰天氣下降，氣流於地，地氣上升，氣騰於天。故高下相台，升降相因，而變作矣。多少而差其分，微者小差，甚者大差，甚則位易，氣變易則大變生而病作矣。《大要》曰：甚紀五分，微紀七分。甚紀者速，微紀者緩。一紀者十五日，甚紀者七十五日，而待時而發也，微紀者緩，一百五日而發也，所以知天地陰陽過差矣。〕動復則靜，陽極反陰，濕令乃化乃成，華發水凝，山川冰雪，焰陽午澤，怫之先兆也。</p>
<p>有怫之應，而後報也，皆觀其極，而乃發也。木發無時，水隨火也。其發無時者，示發無常。</p>
<p>水隨二火之位，水火發於四氣，金發五氣。然有多少，發有微甚，微則當其氣而不兼他氣，甚則兼其己所不勝。故水發而冰雹，土發而飄驟，木發而毀折，金發而清明，火發而曛昧。其所不勝之氣，推其下承，而可知也。然下承者，所謂實盛過極，則有承襲之害也。故經曰：相火之下，水氣承之，水位之下，土氣承之，土位之下，風氣承之，風位之下，金氣承之，金位之下，火氣承之，君水之下，陰精承之，皆所以制其勝也，視其物而明也。如人物熱極，而體流津，以火煉金，熱極反化為水，是知火熱過極，而兼水氣下承之也。又，水氣寒極，則物堅水凝如地，是知水氣過極，而兼土氣下承也。又，雨濕極盛，則為驟注烈風而淫潰，是知土氣過極，而兼風氣下承之也。又，風大則反涼，而草木散落，是知風氣過極，而兼金氣下承之也。又，秋氣大涼，而物皆干燥，是兼火氣下承之象也。然萬事不可過，太過者必有勝己者來承而制之也。故經曰：亢則害，承乃制，制則生化，外列盛衰，害則敗亂，生化大病。然亢者，過極也，物惡其極，故曰物生謂之化，物極謂之變。又，俗云物極則反，皆斯道也。</p>
<p>（新添）善。郁之甚者，治之奈何？木鬱達之，（達者，在上涌之，吐令條達。）火鬱發之，（解表發汗，令其疏散。）土鬱奪之，（奪謂宣下之，令無擁礙也。）金鬱泄之，（滲泄、解表、利小便也。）水鬱折之。（抑制其盛氣，折其沖逆也。）過者折之，以其畏也。</p>
<h3>元相勝復篇第五（舊經）</h3>
<p>夫六氣之勝，元相為邪，隨其所乘，而生其病，不必皆然。邪淫已勝，而為病始，故有虛實微正賊之五邪也。大凡治病，先求其病之由，次審病之所，知本知標，而悉明矣。其勝者，風勝則耳鳴頭眩，憒憒欲吐，胃膈如塞，大風數舉，裸蟲不滋，　脅氣並，偏著一邊，化而為熱，小便黃赤，胃脘當心而痛，上支兩脅，腸鳴飧泄，小腹痛，注下赤白，甚則嘔吐，膈咽不通，飲食入而復出也。熱甚則心下熱，善飢，臍下反動，氣游三焦，炎暑至，木流津，草乃萎，嘔逆躁煩，腹滿溏泄，傳為赤沃也。濕勝則火氣內郁，寒迫下焦，痛留囟頂，互引眉間，胃滿，雨數至，鱗見放陸，燥乃化見，少腹滿，腰膝重強，內不便，善注泄，足不溫，頭重，　腫，飲發於中，腫於上，濕勝及火氣內郁，則瘡瘍於中，流散於外，病在　脅，甚則心痛，熱格頭痛，喉痹項強。火勝則熱客於胃，煩心心痛，目赤欲嘔，嘔酸善飢，心痛溺赤，善驚譫外家，暴熱消爍，草萎水涸，介蟲乃屈，少腹痛，下沃赤白。燥勝則清發於中，左　脅痛，溏泄，內為嗌塞，外發　疝，大涼肅殺，華英改容，毛蟲乃殃，胸中不便，嗌塞而咳。寒勝則凝栗且至，非時水冰，羽蟲後化，痔，瘧發，寒厥入於胃，則內為心痛，陰中生瘡，隱曲不利，互引陰股，筋肉拘苛，血脈凝泣，絡滿色變，或為血泄，皮膚否腫，腹滿食減，熱反上行，頭項腦戶中痛，目如脫，寒入下焦，傳為濡泄。</p>
<h4>六氣所勝用藥</h4>
<p>治此諸勝，風勝治以甘清，佐以苦辛，以酸瀉之。（厥陰之勝，木旺，當先補其不勝。木旺者，先補其脾土，然後方瀉其肝木也。治以甘清者，甘味和其脾，清者，春木旺，涼為用，可以甘清。佐以苦辛者，脾苦濕，急食苦以燥之，以辛潤之。以酸瀉之，是酸瀉肝之旺氣也，是乃先歸其不勝者，然後方瀉之。）熱勝治以辛寒，佐以苦鹹，以甘瀉之。（君相二火所至，肺病生焉，治以辛寒，辛寒者，佐其肺也。夏以寒用，散其火氣。佐以苦鹹者，肺苦氣上逆，急食苦泄之，咸者佐於君相火，脾宜食咸。然後以甘味瀉之。所以用咸補甘瀉，方得和平。）濕勝治以咸熱，佐以辛甘，以苦瀉之。（濕勝，太陰之病，土旺而腎水受邪，木歸於不勝者。此濕勝之治，謂相火之後，濕熱相搏，咸熱者，咸者柔而軟火也，腎為胃之機關，取咸柔軟之性味也，熱者。</p>
<p>佐以辛甘者，以辛甘發散出汗，散其濕氣也。）火勝治以辛寒，佐以甘咸，以甘瀉之。（同熱勝治。佐以甘咸者，佐其脾土，後以甘瀉旺火也。）燥勝治以酸溫，佐以辛甘，以苦瀉之。（燥生於秋，肝木受邪，以酸瀉其木，秋用溫。佐以甘辛者，辛瀉其肺氣，乃先歸其不勝也，然後以甘瀉其火熱。以苦泄之，去其病也。）寒勝者治以甘熱，佐以辛酸，以咸瀉之。（冬用熱，太陽水化，治以甘熱。佐以辛酸者，甘者以辛相佐，發散寒邪，酸增金氣。以咸泄之者，咸瀉腎水，補心。人緣冬用熱，合補火瀉水也。六化惟太陽不歸不勝，與前異也。）</p>
<p>凡此之用，先有其勝，後行其復。所謂其復者，過也。（舊經）風復則少腹堅滿，裡急暴痛，偃木飛砂，裸蟲不榮，厥心痛，汗發，嘔吐，飲食不入，入而復出，筋骨掉眩，（肉中動也。）</p>
<p>清厥，甚則入脾，食痹而吐。衝陽絕，死不治。熱復則懊熱內作，煩躁，鼽嚏，少腹絞痛，火見燔KT　，嗌燥，分注時止，氣動於左，上行於右，咳，皮膚痛，暴喑，心痛，鬱冒不知人，洒淅惡寒，振栗譫外家，寒已而熱，渴而欲飲，少氣，骨痿，膈腸不便，外為浮腫，噦噫，赤氣後化，熱氣大行，介蟲不復，病痱胗瘡瘍，癰疽痤痔，甚則入肺，咳而鼻淵。天府絕，死不治。濕復則濕變乃舉，體重中滿，食飲不化，陰氣上厥，胸中不便，飲發於中，咳喘有聲，大雨時行，鱗見於陸，頭項痛重，而掉　尤甚，嘔而密默，唾吐清液，甚則入腎，竅泄無度。太谿絕者死。火復則大熱將至，枯燥煩熱，介蟲乃耗，驚　咳衄，心熱煩躁，便數憎風，厥氣上行，面如浮埃，目乃　，火氣內發，上為口糜嘔逆，血溢血泄，發而為瘧，惡寒鼓栗，寒極反熱，嗌絡焦槁，渴引水漿，色變黃赤，少氣脈萎，化而為水，傳而為　腫，甚則入肺，咳而血泄。尺澤絕者死。燥復則清氣大舉，森木蒼干，毛蟲乃厲，病生脅，氣歸於左，善太息，心痛痞滿，腹脹而泄，嘔苦咳噦，煩心，病在膈中，頭痛，甚則入肝，驚駭筋攣。太衝絕者死。寒復則厥氣上行，水凝雨冰，羽蟲乃死，心胃生寒，胸中不利，心痛痞滿，頭痛，善悲，時眩運，食減，腰　反痛，屈伸不便，地裂冰堅，陽光不治，少腹控睪，引腰脊，上衝心，唾出清水，及為噦噫，甚則入心，善忘善悲。神門絕者死。</p>
<h4>六氣所復用藥</h4>
<p>治諸復者，風復治以酸寒，佐以甘辛，以咸瀉之，以甘緩之。熱復治以鹹寒，佐以苦辛，以甘瀉之，以酸收之，以辛苦發之，以咸軟之。濕復治以苦熱，佐以酸辛，以苦瀉之，燥之泄之。</p>
<p>火復治以咸冷，佐以苦辛，以酸收之，辛苦發之。發表不遠熱，無犯溫涼。少陰同法。燥復治之辛溫，佐以苦甘，以苦瀉之，以酸補之。寒復治以咸熱，佐以甘辛，以苦堅之。</p>
<p>復者，有勝而有復也。（新添）假令少陽下降，肺氣承之，金乃受邪，病喘咳頭痛。肺金生水，邪傳入腎，病臍腹痛，腿腳腫痛，身寒。水為金之子，水克火，金水相生，子母同制於火，乃子救於金母也，此名復也。治者補其子，折其肝氣也。風復者，治以酸寒，佐以甘辛，以咸瀉之，以甘緩之。木勝則土氣受邪，土生金，為子者。治以酸寒者，酸補金，寒去熱。更以辛甘佐之，甘者補脾，瀉火之盛勢，辛佐肺氣，瀉其邪氣。以咸瀉之者，脾宜食之，腎者胃之機關，咸柔和之性，以利機關也。其余濕火燥寒，治之皆若此也。</p>
<p>（舊經）凡治諸勝復者，以寒治熱，以熱治寒，以清治溫，以溫治清，以酸收散收緩，以辛散抑散結潤燥，以甘緩急，以咸軟堅，以苦堅脆，以燥除濕，瀉盛補衰，以平為期，必安其氣，而病已矣。有勝至而未復者，上勝下俱病，以地名之，病上勝，其方順地氣而逆天氣，下勝上俱病者，以天名之，病下勝，其方順天氣而逆地氣為制。復至則不以天地異名，悉如復氣為法。然勝復之變，雖有常位，而氣無必至。上三氣，天主之，勝之常也，下三氣，地主之，復之常也。有勝則復，無勝則否。勝至則復，無常數也，衰乃止耳。復已而勝，不復則害，此傷生也。復而反自病者，謂居非其位，不相得也。大復其勝，則主勝之，故反病也。所謂二火在泉，居其水位，謂司天金居其火位也，余氣則否也。然治氣勝者，隨微制甚，制氣復者，和以平調，暴者瀉盛補衰，其氣自平。而以主客之氣勝而無復，所謂陰陽自有盛衰之故也。</p>
<p>主勝為逆，客勝為從，上下之道也。巳亥上角，客勝則耳鳴掉眩，其則咳，主勝則胸脅痛，舌難以言。子午上徵，居臣位，客勝則鼽嚏，頸項強，肩背瞀熱，頭痛少氣，發熱，耳聾目瞑，甚則　腫，血溢，瘡瘍，咳喘，主勝則心熱煩躁，甚則脅痛支滿。丑未上宮，客勝則首面　腫，呼吸氣喘，主勝則胸腹滿，食已而瞀。寅申上徵，客勝則丹疹外發，及為丹　瘡瘍，嘔逆，喉痹，頭痛，嗌腫，內為螈　，主勝則胸滿，咳仰息，甚而有血，手熱。卯酉上商，金居火之位上，火氣上行，則清復內余，則咳衄嗌塞，心膈中熱，咳不止而白血出者死。（淺淡紅色血，似肉似肺，是白血也。）辰戌上羽，客勝則胸中不利，而出清涕，感寒而咳，主勝則喉嗌中鳴。（在泉主客，）</p>
<p>寅申下角，客勝則大關節不利，（所謂腰脊也。）內為痙強拘　，外為不便，主勝則筋骨繇，腰腹時痛。卯酉下徵，（火居水位之上，水曰下流，故有客勝之理。相火同候。）客勝則腰痛，尻股膝髀　足皆病，瞀熱以酸，　腫，不能久立，溲便變，主勝則厥氣上行，心痛，發熱，膈中，眾痹皆作，發於　脅，魄汗不藏，四逆而起。辰戌下宮，客勝則足痿下重，便溲不利，濕客下焦，發而濡泄，及為腫隱曲之疾，（是謂隱蔽委曲之處。）主勝則寒氣逆滿，飲食不下，甚則為疝。巳亥下徵，客勝則腰腹痛，反惡寒，甚則下白溺白，主勝則熱反上行，而客於心，心痛發熱，格中而嘔。少陰同候。子午下商，客勝則清氣動下，少腹堅滿而數便瀉，主勝則腰重腹痛，少腹生寒，下為騖溏，（是謂鴨溏之候也。）則寒厥於腸，上衝胸中，甚則喘，不能久立。丑未下羽，客主俱水，則寒復內余，病腰尻痛而屈伸不利，股脛足膝中痛。</p>
<p>凡治主客之勝者，舉下抑高，補衰瀉盛，適氣同異，主客氣相得，則逆所勝氣以治之，氣不相得，則順其不勝氣以治之。逆者，主治之法也。然客者，天之六氣行乎主位之上，主者，地之六氣在於客氣之下。客氣動而不息，每一歲二氣司天地，四氣為左右之間氣，隨主氣之所在，居無常位。主氣靜而守位，永定無移，常以木為初氣，火為二氣，相火為三氣，土為四氣，金為五氣，水為終氣。凡此六氣之中，各有主客之勝，經唯言天地主客之勝者，以舉水火二位，余皆可知也。故經曰木位之主，其瀉以酸，其補以辛，火位之主，其瀉以甘，其補以咸，土位之主，其瀉以苦，其補以甘，金位之主，其瀉以辛，其補以酸，水位之主，其瀉以咸，其補以苦。厥陰之客，以辛補之，以酸瀉之，以甘緩之，少陰之客，以咸補之，以甘瀉之，以酸收之，太陰之客，以甘補之，以苦瀉之，以甘緩之，少陽之客，以咸補之，以甘瀉之，以咸軟之，陽明之客，以酸補之，以辛瀉之，以苦瀉之，太陽之客，以苦補之，以咸瀉之，以苦堅之，以辛潤之。開發腠理，致津液，通氣也。</p>
<p>適主客之勝，而補瀉也。所之妙道，不可不通矣。</p>
<h2>卷第五</h2>
<h3>六步氣候變用篇第六</h3>
<p>其標：厥陰、少陰、太陰、少陽、陽明、太陽。其本：風、熱、濕、火、燥、寒。其時之常：和平、暄、埃溽、炎暑、清勁、寒　。其用之常：風府璺啟、火府舒榮、雨府員盈、熱府出行、司殺府庚蒼、寒腑歸臟。其化之常：生而風搖、榮而形見、化而云雨、長而蕃鮮、收而霧露、藏而周密。德化之常：風生終肅、熱生中寒、濕生終注雨、火生終蒸溽、燥生終涼、寒生中溫。毛、羽、裸、羽、（溥明羽翼，蜂螗之類。）介、鱗。布政之常：生、榮、濡、茂、堅、藏。令行之常：撓動迎隨、高明焰曛、沉陰白埃晦瞑、光顯彤云而曛、煙埃霜肅，勁切淒鳴、剛固堅芒而立。氣變之常：飄怒大涼、大暄而寒、雷霆注烈、飄風燎霜、散落而溫、寒雪冰雹白埃。</p>
<h4>六氣六化為病</h4>
<p>厥陰所至，為病裡急，筋緩縮也。支痛，　戾，脅痛，嘔泄吐逆。（厥陰者，風木之病，肝膽之氣，二臟所受也。木者風化，以風為本，以厥陰為標也。又，陽明、厥陰，不從標本，從乎中氣。然陽明本燥，標為陽，厥陰以風為本，標為陰，標本不同也，乃從其中氣。中氣者，厥陰之上，風氣治之，中見少陽，經曰熱即生風，治風者，治於風熱，又曰風淫於內，治以辛涼，皆治於中見也。）少陰所至，為瘍疹身熱，惡寒戰栗，驚惑悲笑譫妄，衄　。（血污也。少陰君火，熱之化也。足少陰腎，手少陰心也。少陰君火，以熱為本，以少陰為標。少陰、太陽，從本從標。</p>
<p>少陰乃腎經，太陽乃膀胱經，腎與膀胱，為表裡之經也。手與手合，足與足合者，為中氣。少陰以熱化為本，其標陰，太陽以寒化為本，其標陽，標本不同，遂從標從本也。）太陰所至，為積飲痞隔，　滿，霍亂吐下，體重　腫。（肉如泥，按之不起。太陰乃濕土所化，以濕為本。足太陰脾，手太陰肺也。太陰與少陽，從本，然太陰本濕，其標陰，少陽其本熱，其標陽，標本皆同，遂從本也。太陰與陽明為表裡，手與手合，足與足合者，為中氣。經曰：木為主，瀉以酸，補以辛，金為主，瀉以辛，補以酸。）少陽所至，為嚏嘔瘡瘍，喉痹嘔涌耳鳴，驚躁瞀昧，（目不明也。）暴注　，暴病暴死。（少陽熱化，相火之氣也，三焦經也。少陽、太陰，從本也。少陽之本火，其標少陽，太陰之本濕，其標陰，二臟本末同，故從本也。手太陽三焦，手太陰肺，足少陽膽，足太陰脾，皆從本。經曰：火淫所勝，平以咸冷，佐以苦甘，濕淫所勝，平以苦熱，佐以酸辛。）陽明所至，為鼽嚏，浮虛腫，皴揭，鼽尻陰股膝髀　足病也。（以上皆燥本病也。</p>
<p>陽明燥化，又為清化，卯酉之氣，肺與大腸之病也，以燥為本。陽明與厥陰，不從標本，從乎中氣。陽明之上，燥氣治之，中見太陰，厥陰之上，風氣治之，中見少陽，皆從中氣之化也。足陽明胃，足厥陰肝，手陽明大腸，手厥陰心包絡，陽明燥為本，性寒，陽為標，厥陰以風為本，化為熱，標為陰，標本不同，反得中氣之化也。）太陽所至，為屈伸不利，腰痛，寢浸汗，痙，流泄禁止。（太陽所至，寒水之化，腎與膀胱病，是以寒為本也。其傷者，為足太陽膀胱之受，為水之化也。皆傳足經，不傳手經，為從足經受也。六日遍足經也，叔和云：出至風門，過太陽。七日之內見脫，厄，六日已至風門，辰為太陽，七日過也。此標本表裡之說者，前少陰已說也。）</p>
<p>凡此諸變，皆隨德化政令變用而布之，各隨陰陽所在之分，而變生其病也。故經曰：風勝則動，熱勝則腫，（然熱氣盛，則為丹瘭，熱勝血，則為癰膿，熱勝骨肉，則為　腫也。）燥勝則干，（燥於外則皮膚皴揭，燥於內則積血枯干，燥於氣及津液，則肉干而皮著於骨也。）寒勝則浮，（虛腫也。）濕勝則濡泄，甚則水閉而　腫也。隨氣所在，以言其變耳。</p>
<h4>六氣施用</h4>
<p>夫六氣之用，各歸不勝，而為化矣。太陰雨化，施於太陽，太陽寒化，施於少陰，少陰熱化，施於少陽，少陽火化，施於陽明，陽明燥化，施於厥陰，厥陰風化，施於太陰，各命其所在，而征之也。</p>
<h4>所在傍通</h4>
<p>司天之化：風、熱、濕、火、燥、寒。司地之化：酸、苦、甘、苦、辛、咸。司運之化：蒼、君火不主運、　、丹、素、玄。間氣之化：動、灼、（君火不名，名居氣也。）柔、明、清、藏。凡此之化，司天者在乎上，司地者在乎下，司運者在乎中，間氣者紀其步。客行主之上，主在客之下，五運更始，而終期日，度之亦然。上盛下衰則天氣下降，下盛上衰則地氣上升。升極則降，降極則升，升降不已，而變化之為用也。變者物之初，極者病之始也，化者，布化而物之生也。隨其所在，陰陽盛衰，氣之同異，故萬物生化。歲有宜否、薄濃、多少，化而不等也。然五蟲之類，歲有胎孕不育，制之不全者，隨其司天在泉氣所制之也。同天者靜而不育，化生者少，所謂天自抑之也，同地者育而化多，司地所勝者耗而不成，運乘其勝則甚也。地所制者制其形也，天所制者制其色也，隨勝天之色而制之也。故經曰：地氣制己勝，天氣制勝己，天制色，地制形，此之謂也。</p>
<p>夫五蟲者，毛羽裸介鱗也，以應木火土金水之化也。五蟲之長者，麟鳳人龜龍也。凡諸有形，行飛走喘息之類，各有胎生、化生、濕生、卵生，悉宗乎五蟲之類也。凡此者，生氣根於身中，地無根系，所謂動物，以神為主，命曰神機。此等之外，金玉土石草木之類，悉宗氣味色也。凡此之類，則氣根於外，生源系地，所謂植物，以氣為主，命曰氣立。然神機、氣立，悉由天真之氣化與變也。氣化則物生，氣變則物易，氣盛則物壯，氣弱則物衰，氣絕則物死，皆隨氣之所在盛衰，而為變化之用也。故萬物元有生，元有成，元有死，元有盛衰不齊。其化者，悉由所在之氣使然也。歲有氣立生化薄濃少多不同者，蓋隨其天地氣之同異，而以制之也。異者，寒與熱殊，燥濕之異，溫清不同也。凡寒熱燥濕溫清之類毒藥，皆由五行標盛暴烈之氣所化。若異司之氣者，不生而化少也。五味、五色、五穀者，若司地之氣所勝之類不生化少，運乘其勝則甚也。同天地之化者，濃而化多，同天地化多之穀，命曰歲穀。木司天地，木火同德，元相勝克，則氣專正而化淳，則不兼化間穀。歲穀者，蒼丹也。金司天地，金火合德，化素丹，為歲穀，兼化　，為間穀，以間上下金火之克伐也。水司天地，水土合德，化玄　，為歲穀，上下雖有勝克，寒濕不為大忤，兼化素，為間穀，而間水土之克伐也。然萬物變化，皆以氣而為用，故經曰出入廢則神機化滅，升降息則氣立孤危，斯之謂也。夫天地之氣，神明之用，正則化而物生，邪則變而病作，五星應見，萬物皆由，人亦從之也。</p>
<p>司天之變者，巳亥歲上角風勝，則太虛埃昏，云物飛動，民病胃脘當心而痛，上支兩脅，膈咽不通，飲食不下，舌本強，食則嘔，冷泄，腹脹，溏泄，瘕，水閉。病本於脾，衝陽絕，死不治。子午歲上微熱勝，則怫熱大至，火行其政，民病胸中煩熱，嗌干，右　滿，皮膚痛，寒熱咳喘，唾血血泄，鼽衄嚏嘔，溺色變，甚則瘡瘍　腫，肩背臂　及缺盆中痛，心痛，肺　，腹大滿膨膨而喘咳。病本於肺，尺澤絕，死不治。丑未歲上宮濕勝，則沉陰且布，雨變枯槁，民病　腫骨痛，陰痹，陰痹者，按之不得，腰脊頭項痛，時眩，大便難，陰氣不用，飢不欲食，咳唾則有血，心如懸。病本於腎，太谿絕，死不治。寅申歲上徵火勝，則溫氣流行，金政不平，民病頭痛，發熱惡寒而瘧，熱上，皮膚痛，色變黃赤，傳而為水，身面　腫，腹滿仰息，泄注赤白，瘡瘍，咳唾血，煩心，胸中熱，甚則鼽衄。病本於肺，天府絕，死不治。卯酉歲上商燥勝，則木乃晚榮，草乃晚生，筋骨內變，民病左　脅痛，寒清於中，感而瘧，大涼革候，咳，腹中鳴，注泄　溏，名木斂，生菀於下，草焦上首，心脅暴痛，不可反側，嗌干面塵，腰痛，丈夫　疝，婦人少腹痛，目，皆瘡　，痤癰，蟄蟲來見。病本於肝，太衝絕，死不治。辰戌歲上羽寒勝，則寒氣反至，水且冰，血變於中，發為癰瘍，民病厥心痛，嘔血血泄，鼽衄，善悲，時眩仆，運火炎烈，雨暴乃雹，胸腹滿，手熱肘攣腋腫，心澹澹大動，胸脅胃脘不安，面赤目黃，善噫，嗌干，甚則色，渴而欲飲。病本於心，神門絕，死不治。</p>
<p>司天之氣補瀉用藥歌曰：土位甘和藥，辛溫本治金，木酸涼味好，火苦水咸分。肝木主酸，心火主苦，肺金主辛，腎水主咸，脾土主甘。補瀉歌曰：司天風勝藥涼辛，辛補酸瀉病自安，火主甘瀉咸補命，土言苦瀉補甘歡，金辛味瀉酸宜補，水主瀉鹹苦補痊。此是上工醫未病，藥歸五臟體同天。假令東方肝病，以酸瀉之，以西方辛補之。西方金病，以辛瀉之，以東方酸補之。南方火病，以甘瀉之，以北方咸補之。北方腎病，以本位咸瀉之，以南方苦補之。中央土病，以苦瀉之，以本位甘補之。</p>
<p>司天之氣，風淫所勝，平以辛涼，佐以苦甘，以甘緩之，以酸瀉之。（東方本性酸，以西方辛味補之。辛涼者，風以熱為中見之藏也，兼風木春和之氣，以涼為用。佐以苦甘，苦者補腎瀉脾，又恐春木旺，以甘補土氣，甘能緩之。以酸瀉之者，肝木得辛補，兼木旺生風，恐傷脾土，是以甘緩之，酸瀉肝之旺氣也。）熱淫所勝，平以鹹寒，佐以苦甘，以酸收之。（少陰君火之熱，乃君天有德之火，平以鹹寒者，咸瀉腎水，寒平火熱。佐以苦甘，甘者瀉心火補脾土。以酸收之，經曰心苦緩，急食酸以收之也。）濕淫所勝，平以苦熱，佐以酸辛，以苦燥之，以淡泄之。（太陰脾土之濕，乃中央脾土之化也，平以苦熱者，經曰脾苦濕，急食苦以燥之。濕淫者，溫氣溢於內，皆為腫滿，除其腫滿者，其在上者，以苦吐之，在下者，以苦泄之。苦熱者，或出汗也。佐以酸辛者，以酸收之，以辛潤之，為苦燥，急以酸收斂，濕氣腫滿，辛潤燥。以淡泄之，平淡之味，通利小便，滲泄利水道也。治濕之病，不利小便，非其治法也。）濕上甚而熱，治以苦溫，佐以甘辛，以汗為故而止。（身半以上，濕氣有餘，火氣復郁。郁濕相搏，則以苦溫甘辛之藥，解表發汗而祛之，除其病。）火淫所勝，平以酸冷，佐以苦甘，以酸收之，以苦發之，以酸復之。熱淫同法。（前君火之熱化皆同，更不復解。）</p>
<p>燥淫所勝，平以苦濕，佐以酸辛，以苦下之。（燥者，西方肺金之化也。苦濕者，詳經之說，苦溫也，肺苦氣上逆，急食苦以泄之。苦者，補腎水，瀉脾土，乃瀉母補子。左以酸辛者，以酸收辛潤之，辛瀉酸補，正補瀉其肺，以平為期。以苦下之者，故以苦溫滲泄之也。）寒淫所勝，平以辛熱，佐以甘苦，以咸瀉之。（太陽寒水，腎病之主也，平以辛熱者，腎宜食辛，腎苦燥，急食辛以潤之，辛潤其燥。辛熱者，冬寒為用，以宜服熱。恐辛熱過極，木氣有餘，遂以甘苦佐之。</p>
<p>以酸緩其中，苦微燥之，苦補其腎也，以平為期。）</p>
<p>邪反勝天者，清反勝溫，治以酸溫，佐以甘苦。（謂厥陰在泉，風司於地，清反勝之。治以酸溫，以酸瀉其厥陰木。佐以甘苦者，以肝宜食甘緩之，脾宜食苦燥之，甘苦和之，以平為期也。）</p>
<p>寒反勝熱，治以甘熱，佐以苦辛，以咸平之。（少陰在泉，熱司於地，謂為卯酉金司天，火司地也，以此地邪勝也，治以同前說。）熱反勝濕，治以苦冷，佐以咸甘，以苦平之。（太陰在泉，濕司於地，辰戌之歲也。水司天，丑未土司地，土濕勝，反熱於天，治以苦冷，瀉脾土之氣。佐以咸甘，咸瀉水氣，以甘緩之。以苦平之者，苦瀉土而補水也。）寒反勝熱，治以甘熱，佐以苦辛，以咸平之。（寅申之歲，火司於地，寒反勝熱也。治以甘熱者，熱者緩其寒，甘補其脾土也。</p>
<p>佐以苦辛者，苦燥辛潤，和其腎水。以咸平之者，咸瀉心火，補腎水，以平為期。）熱反勝燥，治以辛寒，佐以苦甘，以酸平之，以和為利。（子午之歲，燥司於地，性惡熱而畏寒，治以辛寒者，寒和其熱，辛潤之也。恐辛寒過極，傷肺經，遂乃佐以苦甘者也，苦以燥，甘以緩。以酸收之，以和為平。）熱反勝寒，治以咸冷，佐以甘辛，以苦平之。（丑未之歲，太陽司地，乃辰戌寒司地也，熱反勝之，治以咸冷者，咸瀉腎水，補心火也。佐以甘辛者，辛散甘緩。辛鹹二味，恐傷其腎水肺金，復以苦燥平之，以和為期。）</p>
<p>司地變者，寅申歲下角風勝，則地氣不明，平野昧，草乃早秀，民病洒洒振寒，善伸數欠，心痛支滿，兩脅裡急，飲食不下，膈咽不通，食則嘔，腹脹善噫，得後與氣則快然如衰，身體皆重。卯酉歲下徵熱勝，則焰浮川澤，陰處反明，民病腹中腸鳴，氣上衝胸，喘不能久立，寒熱，皮膚痛，目瞑，齒痛　腫，惡寒發熱如瘧，少腹中痛，腹大，蟄蟲不藏也。辰戌歲下宮濕勝，則埃昏岩穀，黃反見黑，至陰之交，民病積飲，心痛，耳聾，渾渾，嗌干腫喉痹，陰病血見，少腹痛腫，不得小便，病沖頭痛，目似脫，項似拔，腰似折，髀不可以回，　如結，　如別。巳亥歲下徵火勝，則焰明郊野，寒熱更至，民病注泄赤白，少腹痛，溺赤，甚則便血。少陰同候。子午歲下商燥勝，則　霧清瞑，民病喜嘔，嘔有苦，善太息，心脅痛，不能反側，甚則嗌干面塵，身無膏澤，足外反熱。丑未歲下羽寒勝，則凝肅慘栗，民病少腹控睪引腰脊，上衝心痛，血見，嗌痛頷腫。</p>
<p>諸氣在泉，風淫於內，治以辛涼，佐以苦甘，以甘緩之，以辛散之。熱淫於內，治以鹹寒，佐以甘苦，以酸收之，以苦發之。濕淫於內，治以苦熱，佐以酸淡，以苦燥之，以淡泄之。火淫於內，治以咸冷，佐以苦辛，以酸收之，以苦發之。燥淫於內，治以苦溫，佐以甘辛，以苦下之，以辛潤之。寒淫於內，治以甘熱，佐以苦辛，以咸瀉之，以苦堅之。</p>
<p>邪反勝地者，清反勝風，治以酸溫，佐以苦甘，以辛平之。寒反勝熱，治以甘熱，佐以苦辛，以咸平之。熱反勝濕，治以苦冷，佐以咸甘，以苦平之。熱反勝燥，治以辛寒，佐以苦甘，以酸平之，以和為利。熱反勝寒，治以咸冷，佐以甘辛，以苦平之。凡此淫邪在內也者，淫者，溢也，子母相生，皆為淫溢也。勝者得地而太過，別刑克也。假令心火太旺，更治肝氣，所生乃子母相生，皆為淫溢之病治也。別無刑克，相生獨味者，為勝之治也。淫反勝復者，補瀉皆取前五運六氣歌治法用之。腎為胃關，脾與胃令軟，假咸柔軟而以利其關也。胃氣乃行，脾氣方化，故宜味與眾臟不同也。</p>
<p>五臟補瀉：肝木酸瀉辛補，心火甘瀉咸補，脾土苦瀉甘補，肺金辛瀉酸補，腎水咸瀉苦補。</p>
<p>五臟互換苦急：肝苦急，急食甘以緩之，心苦緩，急食酸以收之，脾苦濕，急食苦以燥之，肺苦氣上逆，急食苦以泄之，腎苦燥，急食辛以潤之。</p>
<p>五臟所宜：肝宜食甘，心宜食酸，肺宜食苦，脾宜食咸，腎宜食辛。</p>
<p>凡天地淫勝，不必皆然，隨氣盛衰，變生其病。盛則淫勝，己氣則衰，則己所不勝邪反勝。</p>
<p>邪無有盛衰，以平為期，病無由起。推其至理，命其所在，而可征矣。</p>
<p>凡天之六氣所至，則人脈亦應之而至也。氣至而脈應者，是謂平和之脈，故曰天和六脈也。</p>
<p>歲厥陰所至，其脈弦軟虛而滑，端直以長，是謂弦，風之性也，木之象也。實而強則病，不實而微亦病，不端直長亦病，不當其位亦病，位不能強亦病。歲少陰所至，其脈鉤，來盛去衰，如偃帶鉤，是謂鉤，暑氣之性，火之象也。來不盛去反盛則病，來盛去盛亦病，不偃帶鉤亦病，不當其位亦病，位不能鉤亦病。歲太陰所至，其脈大而長，往來遠，是謂長，濕之性也，土之象也。</p>
<p>大甚則病，長甚則病，不大不長亦病，不當其位亦病，位不能大長亦病也。（經言此脈在太陽所至之下，其氣亦安，今易於此爾。）歲少陽所至，其脈大而浮，（浮，高也。大謂稍大於諸位脈也。）熱之性也，火之象也。大浮甚則病，浮而不大亦病，大而不浮亦病，不當其位亦病，位不能浮大亦病。歲陽明所至，其脈短而澀，（往來不利，是謂澀，往來不遠，是謂短。）燥之性也。短甚則病，澀甚則病，不短不澀亦病，不當其位亦病，位不能短澀亦病。歲太陽所至，其脈沉，（沉，下也。）按之乃得，（下於諸位脈。）寒之性也，水之象也。沉甚則病，不沉亦病，不當其位亦病，位不能沉也病。</p>
<p>凡此天和六脈，所至之狀，咸有歸旨，天之道也。然厥陰風木主肝，故其脈弦，少陰君火主心，故其脈鉤，太陰濕土主脾，故其脈大而長，少陽相火主心包絡，故其脈大而浮，陽明燥金主肺，故其脈短而澀，太陽寒水主腎，故其脈沉。經云太陰所至其脈沉，太陽所至其脈大而長者，誤也。非謂古聖之誤，乃傳寫者互書之過也，乃校正補注亦不明斯之道矣。不詳土火而長遠，水性下流，其義昭矣。或曰：太陽旺五月六月，其脈洪大而長，以謂此太陽之脈如此也。此乃地之六脈也，是以歲中六位脈氣盛衰而言太少，以為三陰三陽，非謂天和六脈，應標本之陰陽也。</p>
<p>察陰陽所在而調之，以平為期。正者正治，反者反治。陰病陽不病，陽病陰不病，是為正病，則正治之謂也，以寒治熱，以熱治寒。陽位已見陽脈，陽位又見陰脈，是謂反病，則反治之謂爾，以寒治寒，以熱治熱，故曰反者反治。論言人迎與寸口相應，若引繩，大小齊等，命曰平脈者，寸口主中，人迎主外，兩者相應，俱往俱來，若引繩，大小齊平，如拽繩平齊，曰平脈。春夏則人迎微大，秋冬則寸口微大，名曰平脈。</p>
<p>司天不應脈，北政少陰在泉，則寸口不應，（卯酉二年，兩手寸口不應。）厥陰在泉，則右寸不應，（寅申二年，君火在右。）太陰在泉，則左寸不應，（君火在左。）少陰在泉者，（丙子、庚戌、壬子、戊午年。）兩手寸口不應，司天者，尺不應。（厥陰司天，右尺不應，太陰司天，左尺不應。）南政少陰司天，（甲子、甲午。）則寸口不應，（面南行令，君火在上，兩手寸口不應。）厥陰司天，（己巳、己亥。）則右寸口不應，太陰司天，（己未、己丑、壬未三年。）則左寸不應，（君火在左。）在泉者，尺不應也。（少陰在泉，二尺不應，厥陰在泉，右尺不應，太陰在泉，左尺不應，皆君火在近，位不應也。）諸不應者，反診則見矣。（不應為脈沉下者，仰手而沉，覆手則沉為浮也，細為大也。</p>
<p>反診者，翻手合手診之，大為少，小為大。）</p>
<p>經曰：天地之氣，勝復之作，不形於證候。診脈法曰：天地之變，無以脈診，此之謂也。又曰：隨其氣之所在，期於左右，從其氣則和，逢其氣則病。迭移其位者病，失守其位者危，寸尺交反者死，陰陽交者死。謂陰陽交者，謂歲當陽在左而交於右，謂歲當陰在右而交於左，若交者死。若左右獨然非交，是謂不應，惟寅申、己亥、辰戌、壬未八年有應也。謂寸尺反者死，謂歲當在寸而反見於尺，謂歲當在尺而反見於寸，若寸尺反者死。若寸尺獨然非反，是謂不應，惟子午、卯酉四年應之。今依《素問》正經直言圖局，又言脈法，先立其年，以知其氣，左右應見，然後乃言死生也。</p>
<p>凡三陰司天在泉，上下南北二政，或左或右兩手寸尺不相應，皆為脈沉下者。仰手而沉，覆手則沉為浮，細為大也。</p>
<p><a href="_files/pt166a24.bmp">北政在泉之圖</a></p>
<p><a href="_files/pt166a25.bmp">北政厥陰在泉之圖</a></p>
<p><a href="_files/pt166a26.bmp">北政太陰在泉之圖　北政司天之圖</a></p>
<p><a href="_files/pt166a27.bmp">南政司天之圖</a></p>
<p><a href="_files/pt166a28.bmp">南政厥陰司天之圖</a></p>
<p><a href="_files/pt166a29.bmp">南政太陰司天之圖　南政三陰在泉之圖</a></p>
<p><a href="_files/pt166a30.bmp">仰手覆手診脈圖</a></p>
<p>女人反此，背看之者，女人者，陰也。男者陽也，陽者南政司天，天面南向，女者陰也，陰者北政司天，天面北也。陽南政者，覆而下北，陰北政者，仰而上南，南政者東為左，北政者東為右。此者，女人反此也。</p>
<p>夫左手為陽，陽氣始於子，右手為陰，陰氣始於午。故左尺屬水，以應初之氣分，是太陽寒水之位，故腎與膀胱之脈見也。次木生君火，左手以應二之氣分，少陰暑火之位，故心與小腸之脈見也。然君火在上，相火在下，應於右，以應三之氣分，少陽熱火之位，故命門與三焦之脈見也。次生土於右關，以應四之氣分，太陰濕土之位，故脾與胃之脈見也。次土生金於右寸，以應五之氣分，陽明燥金之位，故肺與大腸之脈見也。次金生水於左尺。周而復始也。</p>
<p>凡此六氣六位之脈，浮者為陽，而應其腑，沉者為陰，而應其臟，不沉不浮，中而和緩者，胃脈也。然胃土者，為萬物之母也，故四時皆以胃氣為本。</p>
<p><a href="_files/pt166a31.bmp">六氣脈出現圖</a></p>
<p>夫天地者，萬物之上下也，左右者，陰陽之道路也，水火者，陰陽之征兆也，金木者，生成之終始也，所以知天地陰陽應天之氣，動而不息。故五臟右遷，應地之氣，靜而守位。故六期而還會，天有六氣，地有五位，天以六氣臨之，地以五位承之，以地氣不加君火故也。以六加五則五氣，而余一氣，故遷一位。若以五承六歲，乃備盡天元之氣，六十年一環會，所為周而復始也。又，地氣左行，往而不返，天氣東轉，常自木運數五歲。</p>
<p>巳其次氣正當君火之上，法不加臨，則右遷君火，上氣以臨相火之上，故曰五歲而右遷也。由期動靜，上下相臨，而天地萬物之情，變化之機也。</p>
<p>故冬至之後，得甲子，少陽旺，其脈乍大乍小，乍短乍長者，期無常準。約其大綱，則當一周甲子，分為二分，則各得三十日也。加在冬至之後，正謂大寒中氣日也，是始交入初之氣分。</p>
<p>至春分之前，風木之位也。陽氣以旺，而天用事，其氣尚少，故曰少陽也。物之始萌而乍生，大小長短不等，是其脈之象。風令為用，以應肝木之脈也。若得甲子以來，天氣溫和，是應至而至也。已得甲子，天氣大寒者，是至而不至也。未得甲子，天氣溫和，是未至而至。應至而天氣大暄，是至而太過。應至而天氣反大寒者，是至而不及也。人脈亦應之，非應者，病也。復得甲子，陽明旺，其脈浮大而短者，是春分至小滿前二之氣分，君火之位也。其氣非太非少，故曰陽明，物之番鮮矣。雖旺而尚未高茂，是其脈之象也。暑令為用，以應心火之脈也。或曰辰為三月，主左足之陽明，巳為四月，主右足之陽明，以謂陽明之義者，非也。此是分寒暑幽明之義也，故戌為九月，主右足之厥陰，亥為十月，主左足之厥陰。然東南方，陽也，兩陽合明，故曰陽明，西北方，陰也，兩陰交盡，故曰厥陰。西南方，是熱極之分也，東北方，是寒極之分也，故曰寒熱溫涼，皆盛於四維也。蓋五行不及，則其數生，是謂不兼土之數也，太過則其數成，是兼其土之數也，所謂土為五運之君主，是萬物之母，物得之則旺，失之則衰也。土氣兼並寄，旺於四季之後，故寒熱溫涼之盛也。故經曰：幽顯既位，寒暑弛張，厥陰之謂幽，陽明之謂顯，此之謂也，非謂脈之義也。亦猶水之本寒，標為太陽，月是水之精，名曰：太陰，火之本熱，標為少陰，日是火之精，名曰太陽。又，《靈樞經》曰：心為手太陽，肺為手少陰，腎為足太陰，脾為足厥陰。又，經曰寅亦為太陽。此等之類，而義甚多，元相不同者，非有誤也。蓋各隨其用而言之文，言雖同而用之各異，不可不通矣。復得甲子，太陽旺，其脈洪大而長者，所謂小滿至大暑之前三之氣分，相火之位也。其氣甚盛，故曰太陽。物之洪盛高茂，是其脈之象也。火令為用，以應心包絡相火之脈也。復得甲子，太陰旺，其脈緊大而長者，所謂大暑至秋分之前四之氣分，濕土之位也。陰氣已旺，而地主之，當陰之分不可言其陽，其氣尚盛不可言其少，故曰太陰。物之至矣，已長盛而化速，是其脈之象也。濕令為用，以應脾土之脈也。復得甲子，少陰旺，其脈緊細而微者，所謂秋分至小雪之前五之氣分，燥金之位也。其氣收斂而漸少，故曰少陰。物之凋隕窮燥，緊勁細微，是脈之象也。燥令為用，以應肺金之脈也。復得甲子，厥陰旺，其脈沉短而敦者，所謂小雪至大寒之前終之氣分，寒水之位也。其氣已衰，將盡而交也，故曰厥陰。物之收藏在內，而堅守不伸，是其脈之象也。寒令為用，以應腎水之脈也。</p>
<p>然此之六脈，是謂歲中六步主位之脈也。此三陰三陽者，隨其脈氣盛衰，天地陰陽之分，言其太少，以為三陰三陽，非為六氣標本之陰陽也。天和六脈，是隨六步客氣所至，而應見之脈，所謂氣有主客，脈也有主客也。主客氣同，則人脈亦同，是俱本位也。則如歲少陽相火司天，是主居相火之位也。少陽之客，其脈大而浮，相火之主，其脈洪大而長，是大同而小異。所謂主氣守位不移，客氣居無常位，天地同則小異，故脈大同而有小異也。假令歲少陽司地，是火居水位也。少陽之客，其脈大而浮，水位之主，其脈沉短以敦，所謂主客不同，故人脈異之也。此乃古聖之奧旨，使天下莫能釋矣。然應主脈反不應客脈者，而為病也，若應客脈反不應主脈者，而為病也。此之二脈，元相為反者，適氣盛衰，而可明也。水位之主氣盛，則天氣大寒，脈當沉短以敦，反此者，病也。少陽之客氣盛，則天氣大暄，脈當稍大而浮，所謂火居水位，其用不全則故也，反此之脈者，病也。若主客氣平，冬無盛衰，則天氣不寒而微溫，而脈各減其半，微沉微浮，大不能大，短不能短，中而以和，反此者，病也。余皆仿此，推而可知也。大凡脈候，慎明天地主客之脈，不可以執其天脈而去其地脈，亦不可持其地脈而去其天脈。天地相參，審其同異，察其盛衰，適氣之用，可以切脈之盈虛，斷病之禍福矣。</p>
<p>天之六脈，應氣而至，不強不弱，不盛不衰，則和平之脈也。弦似張弓弦，滑如連珠，沉而附骨，浮高於皮，澀而止住，短如麻黍，大如帽簪，長如引繩，皆謂至而太甚，則為病也。應弦反澀，應大反細，應微反大，應沉反浮，應浮反沉，應短澀反長滑，應軟虛而反強實，皆謂至而反也，異常之候，則為病也。</p>
<p>凡此諸脈，悉當審其主客氣之同異，適其盛衰，而言其病也。氣位已得，而脈氣不應，是至而不至則病，氣位未至，而脈氣先變，及與歲政南北改易而應者，是未至而至則病也。不應天常，陰位反見陽脈，陽位反見陰脈，是陰陽交易，病而危也。陰陽之位者，視其歲政南北，而可知也。</p>
<p>上角則左尺不應，上宮則右尺不應，少陰在泉，兩寸不應，下角則右寸不應，下宮則左寸不應，所謂脈沉於指下，不應引繩大小齊等，故云不應也。不應而沉者，陰也，故曰陰位也，應而浮者，陽也，故曰陽位也。凡不應者，於指下反其平常之診也，故經曰諸不應者，反其診則見矣，此之謂也。</p>
<p>欲知歲政之南北者，審君臣之運，而可知也。然五運以土運為君主，面南而為君，故曰南政，余四運為臣主，面北而侍君，故曰北政也。陰陽之脈位者，亦謂君臣之道也。然六氣以少陰火為君主，余皆為臣，治內而降其命，臣奉命而治其外。外者，陽也，故其脈浮，內者，陰也，故其脈沉。假令南政之歲，是面南而君之也。遇少陰司天，所謂天位在南，故兩寸不應，而脈沉也。</p>
<p>遇厥陰司天，則少陰在右，故曰上角，則右寸不應。遇太陰司天，則少陰在左，故曰上宮，則左寸不應。遇少陰在泉，亦名司地，地位在北，故兩尺不應也。左右同法。余皆仿此，皆隨君火所在，乃脈沉不應也。斯其妙道，至真之要，昭然可征，而誠非謬矣。故經曰：知要要者，一言而終，不知其要者，流散無窮，此之謂也。</p>
<p>當陰之位而脈沉，當陽之位而脈浮者，平和之脈也。陰位反見陽脈，陽位反見陰脈者，遇君火司天地四歲有之，是謂反，反者殆而死。若陰位獨見陽脈，或陽位獨見陰脈者，是謂不應氣，非反也。反者，謂尺寸也，遇木或土司天地之八歲有之。不名反而謂之交，陰陽俱交，是謂二次者殆而死。或陰獨然，或陽獨然，是謂不應氣，非交也。交者謂左右也。不應氣者，病也。陽位反見陰脈者，是謂君居臣位，雖失其常，不為大忤，則病而微，陰位反見陽脈者，是謂臣居君位，為大逆，則病而甚。交反者，殆而死，所謂君反居其臣位，臣反居其君位，君臣易位，大反其常，逆天之道，豈不殆而死乎！夫脈者，血之府也，心之所養，其應於火，其氣動躁，故能動也。血氣流通，神之用也，故可以候其脈而知其病否。然四時脈，春弦、夏數、秋澀、冬沉者，乃平和之脈也。若不應者，亦不得便言其病。蓋人脈候，悉應於天地之氣也，四甚之脈，蓋由寒熱溫涼氣候使然也。氣溫則脈弦，氣熱則脈數，氣涼則脈澀，氣寒則脈沉。脈與天地中外相應，則為平和，不應則病也。中外相應而亦病者，是脈應之甚也。假令天氣炎熱，其脈當數，然而一息不過於五至也。所謂炎熱則呼吸急速，脈也應之，故曰數也，命其息而可知矣。一息六至或七至者病，所謂有熱也。在裡則脈沉數，當以下之，在表則脈浮數，當以汗之，此為治之大體也。反其治者，死矣。一息八至以上者死，所謂數之過極也。余皆仿此，推而可知也。或曰春得秋脈，秋得夏脈，夏得冬脈，冬得長夏脈，長夏得春脈，是四時官鬼相刑之脈，其病當死者，慎不可便言其死也。</p>
<p>然春脈當弦，秋脈當澀，若歲陽明金居初之氣，客氣盛則其氣大涼，其脈短而澀。雖是春得秋脈，金當克木，是鬼賊之脈，又有何咎，所謂脈應天時而至，雖反時位，不反無常，亦為平和之脈也。</p>
<p>或曰肝病得肺脈，肺病得心脈，心病得腎脈，腎病得脾脈，脾病得肝脈，此是鬼賊之脈，其病必死者，亦不可便言其死也。假令春有脾病，或遇厥陰所至，其病欲愈，脾本位而見肝脈，是謂平和之候也，若便言死，豈非粗工之謬也。若春氣溫和，而肝有病，反見秋脈者，此是鬼賊之脈也，其病殆而殂也。余仿此。又，孟春脈沉而不弦，孟夏脈弦而不數，孟秋脈數而不澀，孟冬脈澀而不沉者，雖不應時，而亦非病也。蓋四時之氣，皆始於仲月，而盛於季月，差在一月之後，人脈亦從之，故經曰各差其分，此之謂也。</p>
<p>大凡切脈，心明三部九候，可以候其脈。蓋各人肥瘦長短不等，故謹察之也。三指之下，各得同身寸之一寸，率而成三，以應三寸之道也。或曰三部之脈，非應三寸者，同身寸以驗之，而可知也。取寸之法，以從男左女右，以中指與大指相接如環，度中指上側兩橫文之際，乃為一寸也。或言此非一寸者，是未知其道。經言天地之至數，始於一，終於九，一天、二地、三人，因而三之，則三三成九也。然九而因之，則為八寸一分也。故冬至之後，陽生則數九，終於八十一也。故《素問》及《道德經》，皆八十一篇，越人八十一難，皆合九九之數，乃自然之道也。人亦應之，故人足至頂，長八尺一寸，又手掌謂之咫尺，長八寸一分，以應九九之數，將此度之，而可征也。又，關前為陽，將寸量至尺澤，一尺，故曰尺也，尺寸之間，陰陽之格，故曰關也。以寸脈應天，尺脈應地，關脈應人，以為三部也。部各有浮沉中，而又應九候，故有三部九候也。以應其身，則上部天主頭角，地主唇口，人主耳目，中部天主肺，地主胸中，人主心，下部天主肝，地主腎，人主脾。凡此三部九候及十二經，皆有動脈。獨取氣口，是謂手太陰肺之經，脈之大會也。凡人食氣入胃，濁氣歸心，淫精於脈，精微入於脈也。脈氣流經，經氣歸於肺，肺朝百脈，蓋肺為華蓋，位復居高，治節由之，故受百脈之朝會也。肺始自寅初，起於中焦，下絡大腸，還循胃口，上膈，屬肺，從肺系橫出腋下，循　內側，至氣口，以成寸關尺之三部，應期而脈之見也。故經曰診法常以平旦，陰氣未動，陽氣未散，飲食未進，經脈未盛，絡脈調勻，氣血未亂，故乃可診有過之脈也。欲將持脈，審其榮辱勇怯，性之緩急，察色聽聲，詢其憎欲，窮其所病，工無所惑，方可切其脈也。凡診之手，以從男左女右，先以中指按高骨為關，適其遠近，而次按寸尺。診其脈，則目無邪搜，耳無亂聞，口無亂言，意無妄想，詢明部候，謹察陰陽，視歲政南北而君臣之位，適主客同異而氣之盛衰，追乎眾法，而應於心手。中外俱明，得其標本，可以言病患之由，斷病吉凶之處，謂治之方，愈疾人之苦矣。</p>
<h2>卷第六</h2>
<h3>通明形氣篇第七</h3>
<p>夫人之始生者，稟天地之陰陽，假父母之精血，交感凝結，以為胞胎矣。先生右腎則為男，以外精內血，陰為裡也。先生左腎則為女，以外血內精，陽為裡也。其次腎生脾，脾生肝，肝生肺，肺生心，然臟為陰，故始於腎水而終於心火，以生其勝己也。其次自心生小腸，小腸生大腸，大腸生膽，膽生胃，胃生膀胱，然腑為陽，故始於小腸火而終於膀胱水也，以生其己勝矣。臟腑一定，自膀胱生三元，三元生三焦，三焦生八脈，八脈生十二經，十二經生十二絡，十二絡生一百八十孫絡，一百八十孫絡生一百八十纏絡，一百八十纏絡生三萬六千系絡，三萬六千系絡生三百六十五骨，三百六十五骨生五百筋脈，五百筋脈生六百五十五穴，六百五十五穴生八萬四千毛竅。胎完氣足，靈光入體，則與母分解，而生為人也。然當十月滿足而生者，期之常也。或不然者，蓋由靈光早晚之屆也。自生之氣，隨其變蒸，而生其神智，爪發滿也。然神者氣之余也，智者意之余也，爪者筋之余也，發者血之余也，齒者骨之余也，皆發於生育之後，故言余也。逮夫從道受生謂之性。所以任物謂之心。心有所憶謂之意。意有所思謂之志。事無不周謂之智。智周萬物謂之慮。動以營身謂之魂。靜以鎮身謂之魄。思慮不得謂之神。冥然變化謂之靈。流行骨肉謂之血。保形養氣謂之精。氣清而快謂之營。氣濁而遲謂之衛術。眾象備見謂之形。塊然有閡謂之質。</p>
<p>形貌可測謂之體。大小有分謂之驅。總括百骸謂之身。</p>
<p><a href="_files/pt166a32.bmp">圖</a></p>
<p>然骸者，處形名之也。其首者腦戶。後項大筋宛宛中為風府。項兩傍為頸。頸上為腦。腦上為巔。巔前為頂HT　。頂HT　前為囟。囟前為發際。發際前為額顱。額顱兩傍為額角。額角兩傍耳上發際陷中為曲隅。曲隅前為肩骨。肩骨間為顏。顏下為鼻。鼻山根為　。　兩傍為目。目內連深處為系。目內　為睛明。黑為瞳子。目外　為銳　。銳　外為耳。耳本脈中為雞足。耳下曲頰端陷中為頰車。耳前發腳為兌發。耳前上廉起骨開口有空處為客主人，一名上關。耳前目下為　。</p>
<p>下為腮。腮下為頷。頷中為頤，一名地閣。頤下為漸，一名下頤。地閣上陷中為承漿。承漿上為口。口內前小者為齒，兩傍大者為牙。牙齒根肉為齦。牙齒間為舌。舌根為舌本。</p>
<p>舌本上相對為懸壅。口兩傍為俠口。俠口內為唇。唇上為人中。人中上兩傍為鼻孔。</p>
<p><a href="_files/pt166a33.bmp">圖</a></p>
<p>其手臂者，肩前後之下為膊。膊下對腋為　，　有內外，各有前廉後廉。　盡處為肘，一名。　下為肱，一名臂。臂有上骨下骨，臂上骨為輔骨。臂有上廉下廉，臂分內外，亦有前廉後廉。臂骨盡處為腕。</p>
<p>腕下踝為兌骨，上踝為高骨。高骨傍動脈為關，關後為尺，關前為寸口。寸口骨為束骨。束骨前掌骨後肥肉際為魚際。魚際外為兩筋。兩筋前為兩骨，一名歧骨。歧骨前為虎口。</p>
<p><a href="_files/pt166a34.bmp">圖</a></p>
<p><a href="_files/pt166a35.bmp">圖</a></p>
<p>其脅肋者，脅上際為腋。脅骨為肋。腋下三寸，從脅至　八肋骨間為季脅。季脅下空軟處為眇。眇外為HT　。其胸腹者，前陰後，後陰前。屏翳兩筋間為纂。纂內深處為下極。下極之前，男為陰延，女為窈漏。</p>
<p>陰延下為陰器。陰器上為聚陰。聚陰上為毛際。毛際兩傍動脈中為氣衝，一名氣街。氣街上為少腹。少腹內為中極。中極上為關元。關元上為臍。臍上至鳩尾為腹。鳩尾骨為蔽骨，一名臆。臆上為胸。胸中兩乳間為膻中，一名元兒。胸兩傍高處為膺。膺上橫骨為巨骨。巨骨上為缺盆。缺盆骨為　KT　，一名HT　。HT　中會處為額。額下連舌本起者為結喉。結喉兩傍各一寸五分，在頸大脈應手，以候五臟氣處為人迎，一名五會。五會上曲頷前一寸三分陷中動脈處為大迎。大迎內為喉嚨。喉嚨上為頏顙。頏顙內為咽門。</p>
<p>其腰脊者，脊骨節為憔骨。憔骨下盡處為焦尾。焦尾銳為尾骨，一名　骨。　骨兩傍為扁骨。</p>
<p>扁骨之內，男曰十二　，女曰八　。盡分合處為尻。尻上橫者為腰監骨。腰監骨上為腰骨，一名，HT　。HT　上為KT　。KT　上俠脊內為脊骨，凡二十一節，通頂骨三節，則二十四節。脊內為KT　。</p>
<p>KT兩傍為膂。膂內為胛，一名　。　上兩角為肩解。肩解下成片者為肩胛，一名膊。肩端兩骨間為　骨。肩胛上際會處為三柱。三柱之上，兩傍之前為　。</p>
<p>其股膝者，足跟為端。端上為踵。踵上為　，一名胼腸。胼腸之上，膝後曲處為　。膝上至腰髖骨下通為楗。楗上俠髖骨兩旁為機。機後為臀肉。臀後為　。機前為髀厭，一名髀樞。下內為股，一名胯。胯骨為HT　KT　。</p>
<p>股下為魚腹。股外為髀。股髀之前，膝上起肉為伏兔。伏兔後交文中為髀關。關上橫骨為枕骨。</p>
<p>關下膝解為骸關。俠膝解中為臏。臏下通為HT　。HT　外為後輔骨。HT　兩傍為　。　前為　，一名　，亦名脛。脛骨下盡處為曲節，一名腕。</p>
<p><a href="_files/pt166a36.bmp">圖</a></p>
<p><a href="_files/pt166a37.bmp">圖</a></p>
<p>其足者，大指爪甲之後為三毛。三毛後橫文為聚毛。聚毛後為本節。本節後為歧骨。歧骨上為跗。跗內下為竅骨，一名核骨。大指下為跖。跖下為跽。跽後為板。板後為足心。足心後為足掌。足掌後為足跟。兩踝相對為腕。內踝之前，大骨下陷中為然谷。外踝上為絕骨。足外側大骨下赤白肉際為京骨。</p>
<p>其腑臟者，下喉嚨之前為氣系。氣系下連為肺。肺下相連為心。心下為膈。膈下為肝，肝左三葉短葉相連為膽。肝右四葉之下為脾。脾後上之連屬為胃，一名太倉，亦名水穀之海。胃下兩旁入脊膂，左為腎，右為命門。兩腎下之前為膀胱。膀胱下為廷孔。咽門下為食系。食系下連太倉。太倉下連小腸。小腸近下右連大腸。大腸下連肛門。小腸下連膀胱。又曰：唇為飛門。齒為戶門。會厭為吸門。太倉上口為賁門，下口為幽門。二腸相會處為攔門。下極為魄門，一名肛門。又曰：心以上為上焦，心下至臍為中焦，臍下為下焦，通為三焦。</p>
<p>凡臟腑各主一脈，以為手足三陰三陽十二經脈也。通行營衛，總貫百骸，周流而無已矣。</p>
<p>凡一脈，左右雙行。手三陰之脈，從臟走至手，次手三陽之脈，從手走至頭，次足三陽之脈，從頭下走至足，足三陰之脈，從足下走至腹。其脈常以十二經絡始自寅初，起於中焦，流注手太陰、陽明，足陽明、太陰，手少陰、太陽，足太陽、少陰，手厥陰、少陽，足少陽、厥陰。等脈一遭畢，而復注手太陰之脈。</p>
<p>手太陰之脈，起於中焦，下絡大腸，還循胃口，上膈，屬肺，從肺系橫出腋下，下循　內，行少陰、心主之前，下肘中，循臂內，上骨下廉，入寸口，上魚，循魚際，出大指之端。其支者，從腕後直出次指內廉，出其端。次注手陽明。</p>
<p>手陽明之脈，起於大指次指之端，循指上廉，入合谷兩骨之間，上入兩筋之中，循臂上廉，入肘外廉，循　外前廉，上肩，出　骨之前廉，上出柱骨之會上，下入缺盆，絡肺，下膈，屬大腸。其支者，從缺盆上頸，貫頰，下入齒縫中，還出俠口，交人中，左之右，右之左，上俠鼻孔。次注足陽明。</p>
<p>足陽明之脈，起於鼻之交　中，旁納太陽之脈，下循鼻外，入上齒縫中，還出俠口環唇，下交承漿，卻循頤後下廉，出大迎，循頰車，上耳前，過客主人，循發際，至額顱。其支者，從大迎前下人迎，循喉嚨，入缺盆，下膈，屬胃，絡脾。其直行者，從缺盆下乳內廉，下俠臍，入氣街中。其支者，起於胃口，下循腹裡，至氣街中而合，以下髀關，抵伏兔，下入膝臏中，下循脛外廉，下足跗，入中指內間。其支者，下廉三寸而別，下入中指外間。其支者，別跗上，入大指間，出其端。次注足太陰。</p>
<p>足太陰之脈，起於大指之端，循指內側白肉際，過核骨後，上內踝前廉，上　內，循脛骨後，交出厥陰之前，上膝股內前廉，入腹，屬脾，絡胃，上膈，俠咽，連舌本，散舌下。其支者，復從胃別上膈，注心中。次注手少陰。</p>
<p>手少陰之脈，起於心中，出屬心系，下膈，絡小腸。其支者，從心系上俠咽，系目系。其直者，復從心系卻上肺，下出腋下，下循　內後廉，行太陰、心主之後，下肘內，循臂內後廉，抵掌後兌骨之端，入掌內後廉，循小指之內，出其端。次注手太陽。</p>
<p>手太陽之脈，起於小指之端，循手外側，上腕，出踝中，直上循臂骨下廉，出肘內側兩筋之間，上循　外後廉，出肩解，繞肩胛，交肩上，入缺盆，循咽，絡心，下膈，抵胃，屬小腸。其支者，從缺盆循頸上頰，至目銳　，卻入耳中。其支者，別頰，上　，抵鼻，至目內　，斜絡於顴。次注足太陽。</p>
<p>足太陽之脈，起於目內　，上額，交巔上。其支者，從巔至耳上角。其直行者，從巔入絡腦，還出別下項，循肩膊內，俠脊，抵腰中，入循膂，絡腎，屬膀胱。其支者，從腰中下俠脊，貫腎，入中。其支者，從膊內左右別，下貫胛，俠脊內，過髀樞，循髀外，從後廉下合　中，下貫內，出外踝之後，循京骨，至小指外側。次注足少陰。</p>
<p>足少陰之脈，起於小指之下，斜走足心，出然谷之下，循內踝之後，別入跟中，上　內，出內廉，上股內後廉，貫脊，入腎，絡膀胱。其直者，從腎上貫肝膈，入肺中，循喉嚨，俠舌本。</p>
<p>其支者，從肺出絡心，注胸中。次注手厥陰。</p>
<p>手厥陰之脈，起於胸中，出屬心包絡，下膈，歷絡三焦。其支者，循胸，出脅，下腋三寸，上抵腋下，循　內，行太陰、少陰之間，入肘中，下臂，行兩筋之間，入掌中，循中指，出其端。</p>
<p>其支者，別掌中，循小指次指，出其端。次注手少陽。</p>
<p>手少陽之脈，起於小指次指之端，上出兩指之間，循手表腕，出臂外兩骨之間，上貫肘，循外，上肩，交出足少陽之後，入缺盆，布膻中，散絡心包，下膈，循屬三焦。其支者，從膻中上出缺盆，上項，系耳後，直上出耳上角，以屈下頰，至　。其支者，從耳後入耳中，出走耳前，過客主人前，交頰，至目銳　。次注足少陽。</p>
<p>足少陽之脈，起於目銳　，上抵頭角，下耳後，循頸，行手少陽之前，至肩上，卻交出少陽之後，入缺盆。其支者，從耳後入耳中，出走耳前，至目銳　後。其支者，別銳　，下大迎，合於手少陽，抵於　，下加頰車，下頸，合缺盆，下胸中，貫膈，絡肝，屬膽，循脅裡，出氣街，繞毛際，橫入髀厭中。其直者，從缺盆下腋，循胸，過季脅，下合髀厭中，以下循髀陽，出膝外廉，下外輔骨之前，直下抵絕骨之端，下出外踝之前，循足跗上，入小指次指之間。其支者，別跗上，入大指之間，循大指歧骨內，出其端，還貫入爪甲，出三毛。次注足厥陰。</p>
<p><a href="_files/pt166a38.bmp">十二經脈晝夜百刻流注之圖</a></p>
<p>足厥陰之脈，起於大指叢毛之際，上循足跗上廉，去內踝一寸，上踝八寸，交出太陰之後，上內廉，循股陰，入毛中，過陰器，抵少腹，俠胃，屬肝，絡膽，上貫膈，布脅助，循喉嚨之後，上入頸顙，連目系，上出額，與督脈會於巔。其支者，從目系下頰裡，環唇內。其支者，復從肝別貫膈，上注肺。</p>
<p>夫天有五運，人有五臟。五臟者，應五行，乃金木水火土，五運者，乃風火燥濕寒，皆應陰陽。陰陽者，天地之道也，萬物之綱紀，變化之父母，生殺之本始，神明之府也，可不通乎！用針者先明臟腑陰陽，調和順逆，補瀉迎隨。經曰：一曰治神，調養神氣，專精其身。二曰養身，用針者以我知彼，用之不殆。三曰知毒藥為真，攻邪宜順王真之道，其在茲乎。四曰制砭石小大，用針者隨病所宜，內外調治，以平為期。五曰知腑臟血氣之診，諸陽為腑病，諸陰為臟病。故曰少陽、少陰，少血多氣，太陽、厥陰，多血少氣，太陰多氣少血，陽明多氣多血。是以刺陽明出血氣，刺太陽出血惡氣，刺少陽出氣惡血，刺太陰出氣惡血，刺少陰出氣惡血，刺厥陰出血惡氣也。</p>
<p>五臟已定，九候已備，後乃存針。又曰治補有多少，力化有淺深，五虛勿近，五實勿遠，至期當發，過者穴閉，精心專一，神不外營也。刺實須其虛者，留針，引陰至陽，陰氣隆至，針下熱，乃去針也。刺虛須其實者，引陽至陰，陽氣隆至，針下熱，乃去針。一經有五穴，五臟各歸其本臟穴也。用針者虛則補其母，實則瀉其子，不虛不實，以經取之者，當刺本臟穴也。</p>
<p><a href="_files/pt166a39.bmp">圖</a></p>
<p><a href="_files/pt166a40.bmp">圖</a></p>
<p>《素問》曰：凡刺之法者，法天則地，合以天光，必候日月星辰，四時八正之氣，氣定乃刺之。謹推晝夜百刻，人氣日行周天三百六十五度四分度之一也。故人十息，氣行六尺，日行二分。</p>
<p>二百七十息，氣行十六丈二尺，氣行交通於中，一周於身，水下二刻，日行二十分。五百四十息，氣行再周於身，水下四刻，日行四十分。</p>
<p>二千七百息，氣行十周於身，水下二十刻，日行五宿二十分。計一萬三千五百息，氣行五十營於身，水下百刻。周天三百六十五度四分度之一也。故日行一度，月行十三度有奇。月二十七日行一周天，更行二日半，乃日與月相會，成一月，計日二十九度半，在人計二十九日。合個二十九度半者，共五十九日，故月有大盡小盡。一歲日共行三百五十四度，在人計三百五十四日。周天三百六十五度四分度之一，成人間一年，今只行三百五十四度，在人計三百五十四日，余卻一十一度四分度之一，計一十一日三時辰，故三年一閏，五年再閏，十九年七閏，方成一章。至八十章，然後盈虛之數盡，而復始也。</p>
<p>置周天三百六十五度二十五分，以二十八日除之，得每日十三度有奇。余有零者，以之分法分之，是日月行之度數也。</p>
<p>謹按《靈樞經》、《素問》所說流注，不比諸家所說流注，補瀉生脈如神。用之勿誤，須明病之標本、虛實、反正、迎隨、逆從、補瀉、生刑，井、滎、輸、經、合。人氣所至者，經絡便為開，過者為閉。八般補瀉：迎隨補瀉、遞順補瀉、轉針補瀉、開闔補瀉、呼吸補瀉、從逆補瀉、針頭補瀉、六字氣訣補瀉。</p>
<p>《素問》曰推晝夜百刻人氣日行周天度數法，人氣日行周天三百六十五度四分度之一也，度數合日月星辰纏度也。晝夜一百刻，乃一千單八分，人氣行八百一十丈。一萬三千五百息，通計行八百一十丈，行盡二十八宿，共為五十周也。人氣行二十八舍，每一舍三十六分，計一千單八分，每一周計一十六丈二尺。法曰：置一百刻，以二十八除之，得三十五，外有一十六入之分。</p>
<p>先於二十八內減一十六，直後相減停，除母一十六，次除子一十八，相減各得四。以先除二十八，得七為母，次除一十六，得四為子，累加過母者為一刻。每一舍得三刻與七分之四，每一舍得三十六分，計一千單八分。晝夜共五十周，每一周計一十六丈二尺，五十周計八百一十丈，計一萬三千五百息數也。</p>
<p>法置三十六分，以八尺一寸乘之，得二十九丈一尺六寸，以一十六丈除，（每一周得一十六丈二尺，除得周數也。）乃血氣長短，人氣所行度數也。人氣行於十分身之人也，日行一舍，計三刻與七分之四。一刻人氣行足太陽，二刻行足少陽，三刻行足陽明，四刻行足太陰，五刻行足少陰，六刻行足厥陰，氣血周身一度，計三十六分，長二十八丈九尺二寸，計八百一十息。日行二舍，七刻人氣行手太陽，八刻行手少陽，九刻行手陽明，血氣周於身三度，計七十二分，長五十七丈八尺五寸，計一千二百一十五息。日行三舍，一十刻人氣行手太陰，十一刻行手少陰，十二刻行手厥陰，十三刻行足太陽，血氣周於身五度，計一百八分，長八十六丈七尺一寸，計一千七百五十五息。日行四舍，十四刻人氣行足少陽，十五刻行足陽明，十六刻行足太陰，血氣周於身七度，計一百四十四分，長一百一十五丈七尺一寸，計二千一百六十息。日行五舍，十七刻人氣行足厥陰，十八刻行手太陽，十九刻行手少陽，二十刻行手陽明，血氣周於身八度，計一百八十分，長一百四十四丈六尺四寸，計二千七百息。日行六舍，二十一刻人氣行手太陰，二十二刻人氣行手少陰，二十三刻行手厥陰，血氣周於身一十度，計二百一十六分，長一百七十三丈五尺七寸，計三千二百四十息。日行七舍，二十五刻人氣行盡東方七宿，入陰分，此時血氣難交也，二十六刻人氣行足太陽，二十七刻行足少陽，血氣周於身一十二度，計二百五十二分，長二百二丈五尺，計三千六百四十五息。日行八舍，二十八刻人氣行足陽明，二十九刻行足太陰，三十刻行足少陰，三十一刻行足厥陰，血氣周於身一十四度，計二百八十八分，長二百三十一丈四尺二寸，計四千一百八十五息。日行九舍，三十二刻人氣行手太陽，三十三刻行手少陽，三十四刻行手陽明，血氣周於身一十六度，計三百二十四分，長二百六十三尺五寸，計四千五五九十息。日行一十舍，三十五刻人氣行手太陰，三十六刻行手少陰，三十七刻行手厥陰，三十八刻行足太陽，血氣周於身一十七度，計二百六十分，長二百八十九丈二尺八寸，計五千一百三十息。日行十一舍，三十九刻人氣行足少陽，四十刻行足陽明，四十一刻行足太陰，血氣周於身一十九度，計三百九十六分，長三百一十八丈二尺一寸，計五千五百三十五息。日行十二舍，四十二刻人氣行足少陰，四十三刻行足厥陰，四十四刻行手太陽，四十五刻行手少陽，血氣周於身二十一度，計四百三十二分，長三百四十七丈一尺四寸，計六千七十五息。日行十三舍，四十六刻人氣行手陽明，四十七刻行手太陰，四十八刻行手少陰，四十九刻行手厥陰，血氣周於身二十三度，計四百六十八分，長三百七十六丈七寸，計六千六百一十五息。日行十四舍，五十刻人氣行盡南方七宿，入陰分，此時血氣難交也，五十一刻人氣行手太陰，五十二刻行手少陰，血氣周於身二十五度，計五百四分，長四百五丈，計七千二十息。日行十五舍，五十三刻人氣行手厥陰，五十四刻行手太陽，五十五刻行手少陽，五十六刻行手陽明，血氣周於身二十六度，計五百四十分，長四百三十三丈九尺三寸，計七千五百六十息。日行十六舍，漏水下五十七刻人氣行足太陰，五十八刻行足少陰，五十九刻行足厥陰，血氣周於身二十八度，計五百七十六分，長四百六十二丈八尺五寸，計七千九百六十五息。日行十七舍，漏水下六十刻人氣行足太陽，六十一刻行足少陽，六十二刻行足陽明，六十三刻行手太陰，血氣周於身三十度，計六百一十二分，長四百九十一丈七尺八寸，計八千五百五息。日行十八舍，漏水下六十四刻人氣行手少陰，六十五刻行手厥陰，六十六刻行手太陽，血氣周於身三十二度，計六百四十八分，長五百二十丈七尺八寸，計八千九百一十息。日行十九舍，漏水下六十七刻人氣行手少陽，六十八刻行手陽明，六十九刻行足太陰，七十刻行足少陰，血氣周於身三十三度，計六百八十四分，長五百四十九丈六尺，計九千四百五十息。日行二十舍，漏水下七十一刻人氣行足厥陰，七十二刻行足太陽，七十三刻行足少陽，七十四刻行足陽明，血氣周於身三十五度，計七百二十分，長五百七十八丈五尺七寸，計九千九百九十息。日行二十一舍，漏水下七十五刻人氣行盡西方七宿，入陰分，此時人氣難交也，七十六刻人氣行手太陰，七十七刻行手少陰，血氣周於身三十七度，計七百九十六分，長六百七丈五尺，計一萬三百九十五息。日行二十二舍，漏水下七十八刻人氣行手厥陰，七十九刻行手太陽，八十刻行手少陽，八十一刻行手陽明，血氣周於身三十九度，長六百三十六丈四尺一寸，計一萬九百三十五息。日行二十三舍，漏水下八十二刻人氣行足太陰，八十三刻行足少陰，八十四刻行足厥陰，血氣周於身四十度，計八百二十八分，長六百六十五丈三尺五寸，計一萬一千三百四十息。日行二十四舍，漏水下八十五刻人氣行足太陽，八十六刻行足少陽，八十七刻行足陽明，八十八刻行手太陰，血氣周於身四十二度，計八百六十四分，長六百九十四丈二尺八寸，計一萬一千八百八十息。日行二十五舍，漏水下八十九刻人氣行手太陰，九十刻行手少陰，九十一刻行手厥陰，血氣周於身四十四度，計九百分，長七百二十三丈二尺一寸，計一萬二千二百八。日行二十六舍，漏水下九十二刻人氣行手太陽，九十三刻行手少陽，九十四刻行手陽明，九十五刻行足太陰，血氣周於身四十六度，計九百三十六分，長七百五十二丈一尺四寸，計一萬二千八百二十五息。日行二十七舍，漏水下九十六刻人氣行足少陰，九十七刻行足厥陰，九十八刻行足太陽，九十九刻行足少陽，血氣周於身四十八度，計九百七十二分，長七百八十一丈七寸，計一萬三千三百六十五息。日行二十八舍，漏水下百刻人氣行足陽明，血氣周於身五十度，計一千單八分，長八百一十丈，計一萬三千五百息。</p>
<p><a href="_files/pt166a41.bmp">素問百刻流注之圖</a></p>
<p><u>所定百刻前第二卷明晝夜二十四氣百刻圖開說</u></p>
<p>凡此十二經脈流注一遭，謂之一度。凡一晝一夜百刻，如此流注五十度而為期，不然則病也。</p>
<p>加一遭則熱，減一遭則寒，是故病熱則脈數，病寒則脈遲，隨其微甚而加減應之矣。又，四時之脈，不必常準，皆隨晝夜之刻數，而為流注之數矣。然晝者陽也，夜者陰也。冬至之日，晝四十刻，夜六十刻，而陽少陰多，是故天氣寒則脈行遲，而脈行四十度也。夏至之日，晝六十刻，夜四十刻，是謂陰少陽多，是故天氣熱矣，然則脈行疾數，而脈行六十度也。脈與晝夜之刻數，凡九日而為一刻，及度加減之約也。若天氣暴寒暴熱，而脈之遲速亦應氣流注矣，不然則病也。及夫十二經脈者，非謂一身有十二首脈也。脈惟一道而周流，貫注流身一遭畢，而相次環會於寸口，以成三部九候，以見臟腑之神也。所以十二經者，隨其手足三陰三陽所主部分，為十二經脈矣。</p>
<p>然十二經脈內應五臟六腑，其數不合者，所謂心包絡亦是一臟，以應手厥陰之經，是臟亦有六也。</p>
<p>今詳近代醫書及世工所論，皆不知心包絡之臟若何形狀及何處所居，咸云有名無形，只膻中是也。</p>
<p>以此為義，是以執本而言，若以窮其至理，則未盡知其善哉。然雖經曰膻中者，臣使之官，喜樂出焉，然末者是謂言其標，而不言其本，以舉用事之處，故不言臟之所居，乃古聖之奧也。豈不詳經言七節之旁，中有小心。然人之脊骨，有二十一節，從下第七節之傍，左為腎，右為命門。命門者，便是心包絡之臟，以應手厥陰之經，與手少陽三焦合主表裡。二經皆是相火，相行君命，故曰命門，而義昭矣。又，《玄珠》先取化源，於三日迎而取之，刺大陵，曰此是瀉相火小心之源也，是知相火包絡是少心，小心便是右腎命門也。又，《仙經》云心為君火，腎為相火，是以言其右腎命門屬火而不屬水也。或云：既云命門屬相火，何故喜樂出於膻中乎？答曰：火氣炎上，水性下流，走命門者，位居下部，是火居水之鄉。而火氣不能為用，其氣上行，至於膻中。膻中者，在胸中兩乳間，為氣之海，是手厥陰，少陽脈之交會之處，是乍出鬼賊之鄉。得其本位，君相二火相近，得其君命，權勢方施，其氣始發，故曰膻中者，臣使之官，喜樂出焉。及夫臟為陰而主其裡，在腑為陽而主其表，然一臟一腑，合主表裡，而為陰陽者，非為夫婦陰陽配合之道，乃兄妹之義，皆同姓矣。</p>
<p>凡一臟一腑相合，於左右三部之中，各主一部，從其旺氣主位，而相次見其脈也。</p>
<p><a href="_files/pt166a42.bmp">六部脈位之圖</a></p>
<p><u>六部脈前有手鑒圖開載詳見前圖</u></p>
<h2>卷第七</h2>
<h3>法明標本篇第八</h3>
<p>夫大道始生於一氣，一氣分別清濁，升降而為二儀，天為陽，地為陰，其二也。天地陰陽，各分三等，而太少不同，故有三陰三陽之六氣也。天非純陽，而亦有三陰，地非純陰，而亦有三陽，是故天地各有三陰三陽，而為十二矣。天之陰陽，應人之手，地之陰陽，應人之足，以應手足三陰三陽十二經脈也。故經曰：歲半之前，天氣主之，歲半之後，地氣主之。又，經曰身半之上，天氣主之，身半之下，地氣主之。然正謂臍以上應春夏，臍以下應秋冬。然春天中之陽，夏為天中之陰，秋為地中之陽，冬為地中之陰。故經曰：天以陽生陰長，地以陽殺陰藏，是以明其春生、夏長、秋收、冬藏之令也，是以知寅卯辰為手三陽，巳午未為手三陰，申酉戌為足三陽，亥子丑為足三陰也。天地陰陽氣運，以平為期，各無盛衰，則無勝復淫　災眚之變。人之手足三陰三陽十二經脈亦然，和平各無盛衰則無疾病，不和則病由生也。</p>
<h4>十二經本病</h4>
<p>足厥陰肝病，則腰痛不可以俯仰，丈夫　疝，婦人小腹腫，　脅痛引少腹。甚則嗌干，面塵，善怒，忽忽眩冒巔疾，目赤腫痛，耳聾頰腫。虛則目KT　KT　無所見，耳無所聞，善恐，如人將捕之，胸滿，嘔逆，飧泄，狐疝，遺溺，閉癃。</p>
<p>足少陽膽病，則喜嘔，嘔有苦，善太息，心脅痛，不能轉側。甚則面塵，身無膏澤，足外反熱。虛則頭痛，目銳　痛，缺盆中腫痛，腋下腫，馬刀俠癭，汗出振寒，瘧，胸、脅、肋、髀、膝外至　、絕骨、外踝前及諸節皆痛，小指次指不用。</p>
<p>手少陰心病，則胸中痛，兩脅痛，膺背肩胛間痛，兩臂內痛。甚則嗌干，心痛，渴而欲飲，身熱，膚痛，煩心，譫妄。虛則善悲，時睡臥，胸腹大，脅下與腰背相引痛，目黃，脅痛，　臂內後廉痛厥，掌中熱痛。</p>
<p>手太陽小腸病，則嗌痛，頷痛腫，不可回顧，肩似拔，　似折。虛則少腹控睪，引腰脊，上衝心痛，耳聾，目黃，頰頷腫，肩、　、臂外後廉痛。</p>
<p>手厥陰心包絡病，則手心熱，臂肘攣急，腋腫。甚則胸脅支滿，心中　大動，面赤，目黃，喜笑不休。虛則煩心，心痛，掌中熱。</p>
<p>手少陽三焦病，則耳聾渾渾　，嗌腫，喉痹，小腹腫，不得小便。虛則汗出，目銳　痛，耳後、肩、　、肘、臂外皆痛，小指次指不能為用。</p>
<p>足太陰脾病，則舌本強，食則嘔，腹脹，溏，瘕泄水閉，飲發中滿，食減，善噫，身體皆重。</p>
<p>甚則善飢，肉痿，足不收，行善　，腳下痛，四肢不舉，大小便不通。虛則腹滿腸鳴，飧泄，食不化，舌本痛，體不能動搖，食不下，煩心，心下急痛，寒瘧，水閉，黃膽，不能臥，強立，股膝內腫厥，足大指不用。</p>
<p>足陽明胃病，則洒洒振寒，善伸，數欠，病至則惡人與火，聞木音則惕然而驚，心欲動，獨閉戶牖而處。甚則欲上高而歌，棄衣而走，賁響腹脹，罵詈不避親疏，是謂　厥。氣盛則病身以前皆熱，消穀善飢，溺色黃，氣虛則身以前皆寒栗，胃中寒則腹脹滿。盛則胃脘當心而痛、上走兩脅，膈咽不通，飲食不下，狂，瘧，溫淫，汗出，鼽衄，口　，唇胗，頸腫，喉痹，腹脹水腫，膝臏腫痛，循膺、乳、氣街、伏兔、　外廉、足跗上皆痛，中指不能為用。</p>
<p>手太陰肺病，則脹滿，膨膨而喘咳，缺盆中痛，咳，上氣喘喝，煩心，胸滿，　臂內前廉痛厥。甚則交兩手而瞀，肩背痛，風寒汗出。虛則氣少不能報息，溺色變。</p>
<p>手陽明大腸病，則齒痛，頸腫。虛則目黃，口乾，鼽衄，喉痹，腹中雷鳴，氣常沖胃，喘不能久立，肩前　痛，大指次指痛不能用。</p>
<p>足少陰腎病，則飢不欲食，面如漆柴，咳唾則有血，喝喝而喘，坐而欲起，目KT　KT　如無所見，心懸，如飢，腹大脛腫，喘咳，寢汗出，憎風。虛則腹滿身重，濡泄，寒瘍流水，腰肢痛發，　、　、股、膝不便，煩冤，足痿，清厥，意不樂，大便難，善恐，心惕惕如人將捕之，是為骨厥。實則口熱，舌乾，咽腫，上氣，嗌干及痛，煩心，心痛，黃膽，腸　，脊臀股內後廉痛，痿厥，嗜臥不寧，足下熱而痛。</p>
<p>足太陽膀胱病，則囟頂腦戶中痛，氣衝頭痛，目似脫，項似拔，腰似折，髀不可以曲，　如結，　如裂，是為踝厥。虛則痔，瘧，巔疾，頭、囟、項痛，目黃，淚出，項、背、腰、脊、尻、、腳皆痛，小指不能為用。</p>
<h4>五邪生病</h4>
<p>凡此諸病，是以言臟腑十二經脈所受虛實之證，所謂標也。為其病者，寒暑燥濕風火之氣，所為本也。夫六氣之用，己勝則克其妻，己衰則夫來克者，淫治之紀也。大抵腑臟之氣，以平而為期，氣盛則行其勝也，無問夫妻子母，乘虛而感之，生其病也，實感過極，而亦自病矣。氣虛者受邪，無問相生相克，但感其邪，而病由生也。夫五行之道，正則和平，而遞元相生相濟，否則邪生，元相克伐，故有虛邪、實邪、賊邪、微邪、正邪。而此之五邪也，然虛邪者，謂母邪乘其子而病也。假令風木行勝，則肝氣有餘，心火感而以生其病。然風木行勝，則土氣自衰，土衰不能制水則水盛，水盛制火，而心不能實，故曰虛邪也。實邪者，謂土來乘火，而心病也。然土勝則水衰，水衰不能制火則心火自盛，故曰實邪也。賊邪者，謂水來乘火，而心病也。然水能克火，故曰賊邪也。微邪者，謂金來乘火，而心病也。然火能克金，故曰微邪也。正邪者，謂心火有餘，而自生其病也。然無相下，故曰正邪。余仿此推之。凡此五邪，各有微甚。至微者，微邪也。次甚者，實邪也。其次者，正邪也。更次者，虛邪也。至甚者，賊邪也。欲知五邪之要，必明脈與病氣，而以受病腑臟經脈參合，推其五行相生相克，昭然可知矣。大凡病生之處謂之標，為病之氣為之本也。</p>
<p>（新添）夫受病之由者，或從外而得者，或從內而得者。其六氣為病者，乃風火寒三氣，皆外感而得者。所為邪風似箭，玄府開張，風寒暑感於皮毛，在於腠理，入於衛，乃肺經所受也。</p>
<p>或風池、風府、口鼻而入，未入於營，當有汗，可以解肌而已。或入於營者，屬心，無汗，當發汗而已也。若燥濕熱三氣者，或飢飽勞損，憂愁慮恐悲恨，蠱毒魑魅，皆內感而得者。經曰：從外而得者治其外，從內而得者治其內。從外而得，盛於內者，先治其外，然後治於內。從內而得，盛於外者，先治其內，然後治於外。不在內，不在外，治於主病。</p>
<h4>五運本病</h4>
<p>夫病之氣者，諸風掉眩，皆屬肝木。諸痛癢瘡瘍，皆屬心火。諸濕腫滿，皆屬脾土。諸氣鬱，病痿，皆屬肺金。諸寒收引，皆屬腎水。</p>
<h4>六氣本病</h4>
<p>諸暴強直，支痛軟戾，裡急筋攣，（縮也。）皆屬於風。諸病喘嘔吐酸，暴注下迫，轉筋，小便混濁，腹脹大而鼓之有聲如鼓，癰疽瘍胗，瘤氣結核，吐下霍亂，瞀郁，腫脹，鼻塞鼽衄，血泄淋閉，身熱惡寒，戰栗，驚惑悲笑，譫妄衄　，（血汗也。）皆屬於熱。諸痙強直，積飲痞隔，中滿，霍亂吐下，體重　腫，（肉如泥，按之不起也。）皆屬於濕。諸熱瞀　，暴喑，冒昧，躁擾狂越，罵詈驚駭，　腫疼酸，氣逆上衝，禁栗，如喪神守，嚏嘔，瘡瘍，喉痹耳鳴，嘔痛溢食不下，目瞇不明，暴注，　，暴病暴死，皆屬於火。諸澀枯涸，干勁皴揭，皆屬於燥。諸病上下所出水液，澄澈清冷，瘕　疝，堅痞腹滿急痛，下利青白，食已不化，吐利腥穢，屈伸不便，厥逆禁固，皆屬於寒。</p>
<p>（新添）夫醫教者，伏自三墳，流於黃帝，至今數十萬載。人皆不達《素問》五運六氣造化之理，皆檢尋方論，妄為調治，全不論五運六氣造化之理，標本順逆，與三陰三陽，虛實邪正者也。《素問》：曰治之者，正者正治，反者從治，從少從多，皆平是也。正治者，寒者熱治，寒者寒治是也。病逆者，可以從治。病反逆者，脈大氣衰，脈小氣盛，穀入多而氣少，穀入少而氣多，此為反也，可以從順其病勢。若逆之者，命以危之矣。藥有四時之宜，曰用溫遠溫，用熱遠熱，用涼遠涼，用寒遠寒。食宜同法。有假者反常。此乃四時之用也。春宜服涼藥，夏宜服寒藥，秋宜用溫藥，冬宜用熱藥。又曰：不遠寒、不遠熱者奈何？經曰不遠寒則寒至，寒至則堅痞腹滿急痛，下利青白，不遠熱則熱至，熱至則驚駭瞀悶，悲笑譫妄，瘡瘍，鼻窒鼽，衄血溢血，淋病生矣。又曰：不知標本，是謂妄行，知標與本，易而勿損，察本與標，氣可令調，此之謂也。夫標本之道，淺而博，小而大，可以言一而知百病之害。言標與本，易而勿損，察本與標，氣可令調，明知逆順，正行無問，為萬民式，天之大道也。</p>
<p>（舊經）凡此六氣，為諸病之本也，候其六脈，而可知矣。大凡治病，必明此之寒暑燥濕風火六氣，最為要也。其治病之法者，以寒治熱，以熱治寒，以清治溫，以溫治清，以燥治濕，以濕治燥，乃正治之法也，又云逆治，所謂藥氣逆病之氣也。診其脈候，惟不應氣，而無左右尺寸交反，其病輕微，則當如此之治也。或其左右尺寸脈見交反，君臣易位，其病必重而危，當從反治之法也。其反治者，亦名從治，所謂藥氣從順於病氣也，是故以熱治熱，以寒治寒。然以熱治熱者，非謂病氣熱甚而更以熱性之藥治之，本是寒性之藥，反熱佐而服也。所謂病氣熱甚，藥氣反寒，病熱極甚而拒其藥寒，則寒攻不入，寒熱交爭，則其病轉加也。故用寒藥，反熱佐而服之，令藥氣與病氣不相為忤。其藥本寒，熱服下咽之後，熱體既消，寒性乃發，由是病氣隨之。余皆仿此也。然正治之法，猶君刑臣過，逆其臣性而刑之矣，故病熱不甚，治之以寒，逆其病氣，而病除自愈矣。反治之法，猶臣諫君，非順其君性，而以說之，其始則從，其終則逆，可以諫君去其邪而歸其正也。又，王冰：病小猶救人火，火得草而KT　，得木而燔，得水而滅。病大猶救龍火，然火得濕而焰，得水而燔，以人火逐之，其火自滅爾。然病氣熱甚，攻之以寒，病氣熱盛，必能與藥氣相持，而反生其禍也。是故以寒，反熱佐而服之，其始順其病氣，使病不為相忤，而終必去其邪矣。又，久病熱泄，以寒藥下之，久病寒泄，以熱藥下之。又，中滿下虛，則峻補於下，疏通於中，下虛得實，中滿通利，乃得和平，亦皆反治之法也。故經曰熱因寒用，寒因熱用，塞因塞用，通因通用，必伏其所主，而先其所因，其始則同，其終則異，可使破積，可使潰堅，可使氣和，可使必已，此之謂也。</p>
<p>凡此之道，是以明其藥寒熱溫涼之性也。藥有酸苦辛鹹甘淡之味，皆各有所能，而不可不通矣。夫藥之氣味，不必氣寒之物而味皆咸，味鹹之物其氣皆寒之類也。凡同氣之物，皆有諸味，同味之物，皆有諸氣，元相氣味各有濃薄，性用不等，制其方者，必且明其用矣。經曰味為陰，味濃者為純陰，味薄為陰中之陽，氣為陽，氣濃者為純陽，氣薄為陽中之陰。氣味者，各有五也，五味者，酸苦甘辛鹹，五氣者寒熱溫涼中。又曰：辛散、酸收、甘緩、苦堅、咸軟。又曰：五氣肝湊臊，心湊臭，肺湊腥，脾湊香，腎湊腐也。氣味濃薄，性味燥靜，治補多少，力化淺深是也。然味濃則泄，味薄則通，氣薄則發泄，氣濃則發熱。又云：辛甘發散為陽，酸苦鹹涌泄為陰，淡味滲泄為陽。然發之謂發汗也，涌之謂吐也，泄之謂下也，滲泄謂利小便也。凡此之味，各有所能，然辛能散結潤燥，苦能燥濕軟堅，咸能軟堅，酸能收緩收散，甘能緩急，淡能利竅。故經曰：肝苦急，急食甘以緩之，心苦緩，急食酸以收之，脾苦濕，急食苦以燥之，肺苦氣上逆，急食苦以泄之，腎苦燥，急食辛以潤之，開腠理，致津液，通氣也。</p>
<p>肝欲散，急食辛以散之，以辛補之，以酸瀉之。心欲軟，急食咸以軟之，用咸補之，以甘瀉之。</p>
<p>脾欲緩，急食甘以緩之，用甘補之，以苦瀉之。肺欲收，急食酸以收之，用酸補之，以辛瀉之。</p>
<p>腎欲堅，急食苦以堅之，用苦補之，以咸瀉之。凡此者，是以明其味之用也。若用其味，必明氣之可否，用其氣者，必明味之所宜。適其病之標本，腑臟寒熱虛實，微甚緩急，而以其藥之氣味，隨證所宜，而以制其方也。是故方有君臣佐使，輕重、緩急、大小、反正、逆從之制也。然主治病者為君，佐君者為臣，應臣之用者為使，皆隨病之所宜，而又贊成方而用之也。故經曰：君一臣二，奇之制也，君二臣四，偶之制也，君二臣三，奇之制也，君二臣六，偶之制也。去咽嗌近者奇之，遠者偶之，汗者不以偶，下者不以奇。補上治上制之以緩，補下治下制之以急。急者氣味濃也，服劑大，緩者氣味薄也，服劑小。薄則少服而頻於食後，濃則多服而稀於食前。肺少九服，腎多二服，余皆相次而為加減，隨證大小，而以制之。故曰：君一臣二，制之小也，君一臣三佐五，制之中也，君一臣三佐九，制之大也。微者逆其病氣治之，正治之法也，甚者從其病氣佐之，反治之法也。從少從多，觀其證用。然一同二異，謂之從少，二同三異，是謂從多，隨證所宜，而以其毒？然毒者，所謂藥有三品，上品為小毒，中品為常毒，下品為大毒。三品之外，謂之無毒。《神農》云：藥有三品，以應三才之義也。上品為君，主養命，小毒，以應天，中品為臣，主養性，常毒，以應人，下品為佐使，主治病，大毒，以應地。凡此君臣佐使之義，是以明其藥性善惡之殊貫，乃服餌之道也。治病之道，不當從此，皆從病之所宜，而以用其毒矣。又，其人皮濃色黑，大骨肉肥者，皆能勝毒，治之以其濃藥。瘦而薄膚，色　白者，皆不能勝毒，治之以其薄藥。故經曰：能勝毒者以濃藥，不能勝毒者以薄藥，寧小勿其大，寧善勿其毒。小者是謂奇方，奇方不去，偶方主之。</p>
<p>偶方病在，則反偶以佐之，而以同病之氣而取之。勿令太過，而反中其毒。若婦人重身，而病瘕堅積，痛甚不堪，不救必死者，以其毒衰其大半而止，則子母無殞。若令太過，則傷其命。故經曰：病有新久，方有大小，有毒無毒，固有常制矣。大毒治病，十去其六，常毒治病，十去其七，小毒治病，十去其八，無毒治病，十去其九，穀肉果菜，食養盡之，無使過之，傷其正也。不盡，行復如法。</p>
<p>必先歲氣，無伐天和，無盛盛，無虛虛，而遺人夭殃，無致邪，無失正，絕人長命，此之謂也。</p>
<p>及夫治病之要者，必明五氣為病，郁之甚者，如法治之。故曰木鬱達之，所謂吐令條達也，火鬱發之，所謂汗令疏散也，土鬱奪之，所謂下令無壅礙也，金鬱泄之，所謂滲泄、解表、利小便也，水鬱折之，所謂抑其沖逆也。通其五法，氣乃平調，復視其虛實，而以調之，乃治病之大體也。及夫諸陽病熱而脈數，重手按之，其脈不動者，乃寒盛格陽而致之，非熱也，是謂陽中伏陰，而寒氣鬱之甚也，治之則當以熱，逆其外而順其內也。諸陰病寒而脈遲，順其陰證，重手按之，其脈反甚，鼓擊於指下而盛者，所謂熱盛拒陰而生其病，非謂寒也，是謂陰中伏陽，熱氣鬱之甚也，治之以寒，是以逆其外而順其內也。逆外順內則生，逆內順外則死矣。故曰：知標與本，用之不殆，明知逆順，正行無問，然病有標本，治有逆順。百病之起，有生於本者，有生於標者，有生於中者。有其在標而求之於標者，有其在本而求之於本者，有其在本而求之於標，有其在標而求之於本。故治病有取之本而得者，有取之標而得者，有取中氣而得者，有逆取而得者，有從取而得者。然反佐取之，是謂逆取，乃反治之法也。奇偶取之，是謂從取之，乃正治之法也。故曰：知逆與從，正行無問，知標與本，萬舉萬當，不知標本，是謂妄行。夫陰陽逆從標本之為道也，然先病為本，後病為標。或其先病而後逆者，先逆而後病者，先寒而後生病者，先熱而後生病者，先中滿而後生煩心者，先小大不利而後生病者，先病而後泄者，先泄而後生他病者，皆治之本。必且調之，乃治其他病，必謹察之矣。其或先熱或先病而後生中滿者，皆治其標。人有客氣有主氣。小大不利者治其標。其或先病而重大者，後發病而輕小者，先治其本後治其標，是謂本而標之。其或先發病而微緩，後發病而甚急者，先治其標後治其本，是謂標而本之。審量標本不足有餘，而以治之，謹察間甚，以意調之，間者並行，甚者獨行。然間而並行者，非謂一經病也，所謂他經共受邪，而令病也。甚者獨行者，一經受病，而無異氣相摻也。</p>
<p>標本相參，隨證治之，寒者熱之，熱者寒之，溫者清之，清者溫之，微者逆而治之，甚者從而伏之，燥者潤之，濕者燥之，散者收之，結者散之，堅者軟之，軟者堅之，緩者收之，急者緩之，客者除之，留者攻之，勞者溫之，逸者行之，驚者平之，衰者補之，盛者瀉之，上之下之，摩之浴之，薄之劫之，開之發之，灸之刺之，適事為故，各安其氣，必清必靜，則病衰去，腑臟和平，歸其所宗，此治之大體也已矣。</p>
<p>夫歷古及今，聖賢先達之談，論修真保命、治病防危之言，不為少矣。世人多不能悟者，由乎心不明而志不堅，行非良而工所誤也。然聖經所論妙道玄機，非謂聖意故惑後人，而以藏機隱意，惟恐輕泄聖傳，乃密傳於有志之士，是故愚昧莫能明矣。況有非其人者，其於經旨，百未達一二，強自分別，以為小法傍門，編成歌頌，自謂已能遞相授受，以矜己德，而惑亂他人。及其為用，全無征應，致使聖經妙典日遠日疏，而習者少矣。修學之士，真偽邪正，不可辯也。則如世傳《靈樞》、《甲乙》，以為課之術。以六十甲子為法，將日干取運，日支取氣，便言何臟受病，及宜何治，而幾日痊愈。然將甲為土運，子為足少陰腎水，土能克水，便言腎病則當瀉脾補腎，則六日痊愈。所謂水一土五，而至六日痊愈。以此之類為法，誤也。何以明之？且天下地理、方位、節令、氣候不同，及人之老幼男女，臟腑稟受所生，大小高下，前後偏側，濃薄長短，堅脆虛實，各各不同，豈能世人同日得病，而證候皆同，及宜一法治療，及同日愈者耶！夫世傳十二經絡病證歌訣，以為課病之法。然以始病之日，以干取運，以病患支干加在日運帝王之辰，陽命之人，順而數之，陰命之人，逆而數之，至於得病之日，見何支干，便謂是何臟腑受病，如何傳。若以此為法者，誤也。此法世工多傳，以為運氣推病法治，及其為用，而多不應焉。何以明之？且天下同屬之人，同日得病，豈能證候相同，而一般傳變者邪！及夫日中運氣與人命相合加臨，取其相生相克，以定吉凶者，誤也。何以明之？且天下同命之人有病，豈能同日吉凶者耶！或將日中支干納音，與病患命及支干相合，而定吉凶者。此是推平人災福之法，非謂占病之道也。凡此之類，皆非聖經之旨，足以狂惑人心，征之無驗矣。</p>
<p>然聖經妙旨，大包天地，細入毫毛，合造化咸有所宗，何止於此端異論乎？欲窮病之吉凶，必明歲之天地盈虛，運之太少，謹察勝復之用，適主客同異盛衰。次推病之標本，何氣使然，以厲何臟，及虛與實。將歲中運氣加臨，取其同異逆從，而可定其吉凶者也。故經曰天符為執法，猶輔相，歲會為行令，猶方伯，太一天符為貴人，猶君主。若中執法者，其病速而危，執法官人繩準，自為邪僻，故病速而危也。中行令者，其病徐而遲，猶方伯無執法之權，故無速害，故病但執持而已。中貴人者，其病暴死，羲無凌犯，故病暴而死也。然邪者，五運六氣勝復之受也，有變則病乘其氣之至也。清氣大來，燥之勝也，風木受邪，肝病生而流於膽也。熱氣大來，火之勝也，燥金受邪，肺病生而流於大腸也。寒氣大來，水之勝也，熱火受邪，心病生而流於小腸也。</p>
<p>濕氣大來，土之勝也，寒水受邪，腎病生而流於膀胱也。風氣大來，木之勝也，濕土受邪，脾病生而流於胃也。所謂感邪而生其病也，外有其氣，而內惡之，中外不喜，周而遂病，是謂感也。</p>
<p>乘年之虛，則邪乃甚也，則如年木不足，而外有清邪，至而肝病之類也。</p>
<p>失時之和，亦邪甚也，所謂六氣臨統，與主氣相克，感之而病者也。遇月之空，亦邪甚也，遇月下弦之後，上弦之前，是謂月空，感於邪，則亦甚也。重感於邪，則病危也，所謂年已不足，邪氣大至，是謂一感，年已不足，天氣克之，此時感邪，是謂重感，內氣召邪，天氣不　，不危何哉！則如丁卯、丁酉之歲，外有清邪，至而肝病，己巳、己亥之歲，外有風邪，至而脾病，辛丑、辛未之歲，外有濕邪，至而腎病。凡言病之吉凶，必明病之腑臟虛實，而與歲中運氣勝復之變，而以加臨，可以言也。假令風木之勝，民病脾肺實而肝氣虛者，病皆微也。若病脾肺虛而肝氣實者，皆甚也。余皆仿此，推而可知也。</p>
<p>欲知五臟得失間甚之時，死生之期者，必明其脈候，以知何臟也。其病者，愈於子，子不愈，甚於鬼，鬼不死，持於母。四時日干時辰同法。故經曰夫邪氣之客於身也，以勝相加，至其所生而愈，是謂病藏生之子也，至其所不勝而甚，是謂病藏之鬼也，至於所生而持，是謂病藏之母也，自得其位而起，是四時五行旺相及日干時辰與病之藏同也。必先定五臟之脈，乃可言間甚之時，死生之期，此之謂也。</p>
<p>欲知熱病間甚大汗之期，取其本臟，遇勝己日甚，己旺日大汗，氣逆則勝己日死。故經曰肝熱病者，小便先黃，腹痛，多臥，身熱，熱爭則狂言及驚，脅痛，手足躁，不得安臥。庚辛甚，甲乙大汗，氣逆則庚辛死。心熱病者，先不樂，數日乃熱，熱爭則卒心痛，煩滿，喜嘔，頭痛，面赤，無汗，壬癸甚，丙丁大汗，氣逆則壬癸死。脾熱病者，頭重，頰痛，煩心，顏青，欲嘔，身熱，熱爭則腰痛不可以俯仰，腹滿，溏泄，兩頷痛，甲乙甚，戊己大汗，氣逆則甲乙死。肺熱病者，洒淅然起毫毛，惡風寒，舌上黃，身熱，熱爭則喘咳，痛走胸膺背，不得太息，頭痛不甚，汗出而寒，丙丁甚，庚辛大汗，氣逆則丙丁死。腎熱病者，先腰痛　酸，苦渴數飲，身熱，熱爭則項痛而強，　寒且酸，足下熱，不欲言，其逆則項痛員員，澹澹然，戊己甚，壬癸大汗，氣逆則戊己死。及夫肝熱病者左頰先赤，心熱病者顏先赤，脾熱病者鼻先赤，肺熱病者右頰先赤，腎熱病者頤先赤，皆所謂病之始也。諸汗者，至其所勝日汗出，謂氣旺日為所勝，則如肝甲乙、心丙丁之類也。汗後脈遲靜而愈，脈尚躁盛者死。今不與諸汗相應，此不勝其病也。狂言失志者，死矣。</p>
<p>然皆聖經之旨也，必憑問望聞切，知其病宗，而與天地時日陰陽相合，推其勝克，而為法也。審察間甚逆從，而以隨證治之，適其治之逆從可否，而以言吉凶，慎不可執其陰陽而已。然雖陰陽為萬物之綱紀，論其吉凶，亦須由其用也。</p>
<p>大抵死因病致，病由邪生，邪因變起，變由不平。平則安而無咎，否則禍患由生。內則內驗，外則外征。外者心行德過，內者腑臟衰興，大小緩急，無不相應。故經曰：德者福之，過者伐之，有德則天降福以應之，有過則天降禍以淫之，則知禍福無門，唯人所召耳。故曰主明則下安，以此養生則壽，歿世不殆，以為天下則大昌，主不明則十二官危，使道閉塞而不通，形乃大傷，以此養生則殃，以為天下者，其宗大危，然則豈不亦由人之所為乎！</p>
<h2>卷第八</h2>
<h3>守正防危篇第九</h3>
<p>夫天地陰陽，與人之無異，天地乃得長久，惟人不然者，所謂人事不合天機，失其至道則故也。夫天地之道者，猶權衡也，高者抑之，下者舉之，強者制之，弱者益之，勝者復之，有者用之，德化政令，無不報之，致使氣運無有終始，故能長久而無已矣。人之道者，不然也，高者不抑或更舉之，下者不舉或更抑之，強者不制或更益之，弱者不補反更損之，真偽不辨，邪正不分，虛實不察，損益不明，虛者誤損，實者誤益，終無所悟，迷於六欲七情之邪。種種盜擾天真之氣，數犯其禁，累冒賊邪，致使腑臟偏傾，氣亂而病，不已則氣絕而死，不能盡其天壽也。大抵內真則外假不能為害，內正則外邪不能有傷，故有達士密符天機，預防禍患，勿使受邪而生其疾，乃得身安而滿其天壽矣。或持功積行而圓成，亦得與天同長久矣。且夫世人多因內邪而外盜，耗竭真氣，以致危亡而已。先聖恤之，故得傳修真保命，備患愈疾之道。然養生之要，內功外行，衣飲藥食，諸所動止，應其時候，各有益否。宜者為之，禁者避之，盛者制之，衰者益之，使氣血和平，精神清利，內無邪僻，外沒冤嫉，安得有禍患夭亡而至於己矣。</p>
<p>夫歲主藥食之宜者，上下徵火宜以鹹寒，上下宮苦熱，下宮中徵下甘溫，上宮中角徵上苦溫，下宮中宮下苦溫，下宮中商羽下甘熱，上商苦小溫，下商苦小溫，下商中宮下酸熱，下商中商中徵羽下酸溫，上羽宜苦溫，下羽宜苦熱，上羽中宮商羽上甘熱，下羽中宮商徵下甘溫，上下角宜辛涼。</p>
<p>木運之歲，是謂中角，上商角中辛和，上宮中辛溫，上徵中酸涼，上火羽中酸和。火運之歲，是謂中征，上征中甘寒，上角中咸和，上宮商中咸溫，上火羽中甘和。土運之歲，是謂中宮，上羽中苦溫，上宮商角中甘和，上火中咸和，上徵中苦熱。金運之歲，是謂中商，上徵火羽中辛溫，上商中苦和，上宮角中酸和。水運之歲，是謂中羽，上火羽中酸和，上宮商角中苦和，上徵中咸熱。</p>
<p>凡此五味四氣者，所謂歲主藥食之宜也。上謂司天，前三氣也，下謂司地，後三氣也，中謂司運，通主歲也。或上下火者，謂寅申少陽相火司天地之歲也。然藥食之宜者，必明歲中運氣同異多少，而以治之也。然同異者，寒濕燥同，陰也，風熱火同，陽也。否者，異也。又，燥濕者，小異也。將其歲運參合，取其同異。同天化者多，地化以治之，同地化者多，天化以治之，同少同多，加減治之，有毒無毒，穀肉果藥法服之。無使太過，而生其害。適其氣運，先取化源，而以刺之。郁者取而折之，衰者資而益之，強者抑而制之，弱者扶而補之，以平為期。無使盛衰，而生其病矣。</p>
<p>然取其化源者，是謂先於五常氣位未主之前，適其運氣勝復之甚兆已彰，方可取其化源，而用針補瀉也。則如風木將勝，蒼埃乃見，林木乃有聲，東風數舉，雨濕不行，歲星明大，鎮星光芒，彰其兆也，則於年前十二月先取其化源，用針瀉其木而補其土矣。二火將勝，遠視天涯，光輝赤氣，草乃萎，南風頻至，熒惑明，太白光芒，其兆已彰，於三月先取化源，瀉其二火，補其金矣。土濕將勝，黃埃四起，溽蒸乃作，濃云數布，燥物皆濡，辰星光，鎮星朗然，有此之兆，於五月先取化源，瀉土補其水矣。燥金將勝，西風數舉，地氣先燥，濡物皆干，土生白鹵，山彰白氣，林起青煙，肅殺乃作，柔葉先凋，太白明大，歲星微是，彰其兆也，於六月先取化源，瀉金補於木矣。寒水將勝，太虛深玄，陽光不治，寒氣乃至，蟄蟲早藏，辰星明，熒惑失色，勝兆已彰，於九月先取化源，瀉水補其二火矣。</p>
<p>凡言化源者，所謂六化之源也。肝木之源，名曰中封，在足內踝前一寸，仰足而取之。</p>
<p>君火（真心）。之源，名曰通裡，在手腕後一寸。相火（心包絡。）之源，名曰內關，在掌後，去腕二寸，兩筋間陷中。脾土之源，名曰公孫，在足大指本節之後一寸。肺金之源，名曰列缺，去腕後上側半寸。腎水之源，名曰涌泉，在足內踝骨上動脈中為太谿，次下一寸是也。</p>
<p>凡取化源者，其氣欲旺之前，迎而取之，瀉其盛氣，無使行勝，而生其疾，補衰之源，勿令受邪，而生其疾。謹候其時，各無志亂，以手持針內之，至於經脈之分，無問息數，不可久留，於欲得氣之前後，呼而徐徐引至其門，呼盡乃出，勿按其穴，大氣皆出，是謂瀉之法也。其補者，必先以左手指循按其穴，令氣舒緩宣散，推　其皮，彈而怒之，使脈氣　滿，忽而下之，置針有準，　按穴皮，令當應針之處，則令神氣內守。候呼盡而內針，無令氣忤，無問息數，靜以久留，使氣布。吸則轉針，以得氣，故氣至慎守，勿令改變，而生其咎。候吸引針，急按其穴，氣不得出，各在其處，推闔其門，令神氣存，大氣留止，是謂補法也。</p>
<h4>補瀉生脈法（新添）</h4>
<p>惟針補瀉，最為急用，偏取一臟，不防他臟也。假令治心者，依前說，左手捫背　穴，第三椎兩傍各一寸半，捻定其穴。先以六字氣法調和陰陽，瀉者先呵氣七口，次呼氣五口，次吁氣九口，次吹氣六口，次　氣八口，自穴內氣至，然後診之，脈當高現。補者先呼氣一口，氣盡下針。先以緩緩入針二分，候氣至而推而內之，而候脈大得氣。左手按穴，吸氣一口，緩緩出針。氣盡針出，勿令真氣隨針出，以左手閉其穴，名曰補。次針陰蹺穴，乃曰陰中生陽也，即左手先應也，次針陽蹺穴，乃曰陽中生陰也，右手脈應，後再針左邊心穴，而胃氣和也，即病愈。凡用針者，甲子日子時，乙丑日丑時，丙寅日寅時，丁卯日卯時，補瀉最驗。余準此也。十二　穴，肺三憔，心五憔，肝九憔，膽十，脾十一，胃十二，三焦十三，腎十四，大腸十六，小腸十八，膀胱十九，白環二十，其穴皆在脊背骨傍一寸半。陽蹺者，申脈二穴，在外踝下赤白肉際中，針入三分。陰蹺者，照海二穴，在內踝下赤白肉際中，針入三分。</p>
<h4>用藥食法（舊經）</h4>
<p>假令風木之勝，多食辛涼，制其肝木之勝，少食酸溫，無佐木強，多食甘物，佐其土衰，以平為期。余皆仿此。五運六氣之用，有勝至則以制其勝而益其衰，無勝衰則當明主客同異，而以為其法。客氣同，其至則不可犯其主化，宜服主氣不相得之化。客氣異，其至者則可小犯其主之化也。邪反勝其主者，是謂主氣衰也，則如春反涼、夏反寒、秋反熱、冬反溫之類也，則可犯其主化，而以助其主之衰也。其諸所宜及可犯者，皆不可太過，以平而為期，如太過，則反生其害也。若假寒熱溫涼治其病，則無問四時主客氣之同異宜否，皆當從其治病之法為其制耳，則如汗不遠熱、下不遠寒之類也。故經曰：用溫遠溫，用熱遠熱，用涼遠涼，用寒遠寒，食宜同法，有假反常，此之謂也。又，經曰：司氣以熱，用熱無犯，司氣以寒，用寒無犯，司氣以涼，用涼無犯，司氣以溫，用溫無犯，間氣同其主則無犯之，異其主則小犯之，亦其道也。是故冬氣寒則安處，衣飲藥食之類，皆不可已其寒也，夏氣熱則不犯其熱也，春秋溫涼，也不可犯之。故曰寒無犯寒，熱勿犯熱，是謂遠也，遠者，避忌之禁也。若不避而犯其禁者，無病則生，有病則甚，病大則危而死矣。然犯寒則寒病起，而上下所出水液，澄澈清冷，　瘕　疝堅痞，腹滿急痛，下利清白，食已不化，吐利腥穢，屈伸不便，厥逆禁固之類也。犯熱則熱病生，而喘嘔吐酸，暴注下迫，轉筋，小便混濁，腹脹大而鼓之有聲如鼓，吐下霍亂，瞀郁，腫脹，鼽衄，血溢血泄，淋　，癰疽瘍胗，身熱惡寒戰栗，驚惑悲笑，譫妄衄　暴喑冒昧，躁擾狂越，罵詈驚駭，　腫疼酸，氣逆衝上，禁栗，如喪神守，嚏嘔喉痹，耳鳴或聾，嘔涌，目瞇不明，　，暴病暴死之類也。其犯溫涼者，雖無暴過，以積溫而成熱，則實生熱疾，積涼而成寒，則實生寒病矣。其治者，求其所犯，而以其所勝制之。犯熱治以鹹寒，犯寒治以甘熱，犯溫治以辛涼，犯涼治以苦溫，以平為期，無使太過，而反傷其正矣。然五味四氣，當所宜者，尚由不可過度，況乎犯其禁忌，豈無禍患哉！及夫五味者，食入於口，聚入胃，脾胃變磨，布化五味，以養五臟氣也。酸先入肝，苦先入心，甘先入脾，辛先入肺，咸先入腎。然五臟得其五味，隨其本化，變為五氣也。酸化為溫，苦化為熱，甘化重陰，辛化為涼，咸化為寒也。是故氣味不可偏食，偏食則久而五臟偏傾，生其病矣。故經曰：味過酸，則肝氣以津，脾氣乃絕，味過於咸，則大骨氣勞，短肌，心氣抑，味過於甘，則心氣喘滿，色黑，腎氣不衡，味過於苦，則脾氣不濡，胃氣乃濃，味過於辛，則筋脈阻弛，精神乃央。又，經曰多食咸，則脈凝澀而色變，多食苦，則皮槁而毛拔，多食酸，則肉胝　而唇揭，多食甘，則骨痛而發落，多食辛，則筋急而爪枯。</p>
<p>凡此之謂，戒偏他多，不必禁所不宜者，以平為期，亦不可過度矣。又，經曰辛走氣，故氣病無多食辛，苦走骨，故骨病無多食苦，甘走肉，故肉病無多食甘，咸走血，故血病無多食咸，酸走筋，故筋病無多食酸。</p>
<p>又，經曰肝病禁當風，心病禁溫食熱衣，脾病禁溫食飽食濕地濡衣，肺病禁寒衣寒飲食，腎病禁犯淬HT　熱食溫炙衣。凡此之謂病之禁忌也。又，卒風豪雨，大寒大熱，無問病否，悉當避之。故經曰：冬傷於寒，春必病溫，春傷於風，夏必飧泄，夏傷於暑，秋必　瘧，秋傷於濕，冬必咳嗽。然四時之氣，性用不同，此乃順四時生長收藏之道也。</p>
<p>及夫卒暴喜怒悲思驚恐，寒熱勞逸，亦當禁之。故經曰怒則氣上，喜則氣緩，悲則氣消，恐則氣下，寒則氣收，炅則氣泄，驚則氣亂，思則氣結，勞則氣耗。然怒則氣上逆，甚則嘔血及飧泄，故氣上也。喜則氣和志達，營衛通行，故氣緩矣。悲則心系急，肺布葉舉，上焦不通，營衛不散，熱氣在中，故氣消矣。恐則精卻，卻則上焦閉，閉則氣還，還則下焦脹，故氣下矣。思則心有所存，神有所歸，正氣留止不行，故氣結矣。寒則腠理閉，氣不行，故氣收矣。熱則腠理開，營衛通，汗大泄，故氣泄矣。驚則心無所倚，神無所歸，慮無所定，故氣亂矣。勞則喘息汗出，內外皆越，故氣耗矣。又曰：喜怒傷氣，寒暑傷形，暴怒傷陰，暴喜傷陽。厥氣上行，滿脈以形。又，經曰：怒傷肝，悲勝怒，喜傷心，恐勝喜，思傷脾，怒勝思，悲傷肺，喜勝悲，恐傷腎，思勝恐。凡此之謂，五臟之志，其志過度，則傷其本臟。以所勝之志制之則止矣，則如怒勝思，怒發而無思之類矣。又，經曰：風傷肝及筋，燥勝風，熱傷氣，寒勝熱，濕傷肉，風勝濕，燥傷皮毛，熱勝燥，寒傷骨，濕勝寒。然則性用不同，故各隨其性用而以言其傷及勝也，不必皆取所勝而類推矣。又，經曰：酸傷筋，辛勝酸，苦傷氣，咸勝苦，甘傷脾及肉，酸勝甘，辛傷皮毛，苦勝辛，咸傷血，甘勝咸。然此之五味性用不同，故有自傷及傷其己勝而不等也。則如肝主傷風，心主傷熱，是中本化之氣自傷也。脾主傷飲食勞倦者，是謂本化之用自傷也。肺主傷寒者，是中子之邪而傷也。</p>
<p>腎主傷濕者，是中已所不勝之邪傷也。凡此之道，各隨其臟所惡者，感之而生其病也。此之五邪所傷，是以明其所主，細而推之，則五臟原有五邪相乘而病矣。</p>
<p>逮夫五方者，東南中西北也。五方生五氣者，風熱濕燥寒也。五氣生五行者，木火土金水也。五行生五味者，酸苦甘辛鹹也。五味生五臟者，肝心脾肺腎也。五臟五養者，筋膜血脈肌肉皮毛骨髓也。五養生五子者，心脾肺腎肝也。五臟生五神者，魂神意魄志也。五神生五志者，怒喜思悲恐也。凡此之道，乃五行造化之理，養生之道也。正則和平，互相濟養，變則失常，而克伐戕生。</p>
<p>若論養生之道，則當誠心避忌一切能為害者矣。故《仙經》日：冬夏處於深堂，避於大寒大熱之氣，無使伏留肌腠生疾也。寒多衣不頓多，暖來衣不頓減。久勞則安間，以保極力之處，久逸則導引，以行積滯之氣。暑汗當風，則營衛閉結，夏熱臥濕，則氣散而血注，冬居極熱，則腎受虛陽，而春夏肝與心有壅蔽之疾，夏冒極涼，則心抱浮寒，而秋冬肺與腎有沉滯之患。大飢則損胃，食勿極飽，極飽則傷神。極渴傷血，飲勿過多，多則損氣。</p>
<p>沐浴不頻，頻則氣壅於上，留滯於中，令人體重而形瘦，久而經絡不能通暢，血凝而氣散，氣不勝血，神不勝形，則成癱之疾也。夫五日五行氣流傳遍，浴之則營衛通暢，旬日十干數足，真氣復還於腦，一沐之則耳目聰明。又，遠唾則損氣，極視則昏睛，極聽則傷腎，久立則傷骨，久臥則傷肉，多睡則濁神，頻醉則散氣，多汗則損血，力困則傷形，奔車走馬則氣亂而神驚，登峻望高則魂飛而魄散。及夫氣者，為形之主，神之母，不可以傷也。</p>
<p>然才所不敏而強思，力所不及而強舉，悲哀憔悴，喜樂過度，汲汲所欲，戚戚所懷，久談語笑，寢息失時，拽弓引弩，耽酒嘔吐，飽食便臥，跳步喘息，歡呼哭泣，而皆傷其氣也。又，觀死氣而觸生氣，近穢氣而觸真氣，朝飢暮飽，亦皆傷其氣也。又，多思則神殆，多念則志散，多欲則損氣，多事則役形，多語則弱氣，多笑則傷心，多愁則攝血，多樂則溢志，多喜則氣錯。行而多言則損氣。睡而張口則氣泄而神散。</p>
<p>吊死問病則喜神自散。看斗則氣結。解救怨生，狂禽異獸戲之則神恐。古廟凶祠入之則神驚。對三光濡溺則折人年壽。負四重深恩則減人大數。飲宴聖像之側則魂不寧。坐臥於塚墓之間則精神自散。飲息於枯木大樹之下則久陰之氣燭入陽神。渡於深水大澤則寒性逼人真氣。折出眾花卉則多招媚狂人室。食非時果實則多帶邪氣入腹。非濟患難而頻說妄言綺語則減人正壽。非遇會合而頻餌肥醇酒則除人本祿。負賢忘恩則必有禍應。輕財毀物則自無福生。酷愛美物則少吉。深入大山則多凶。損人害物則以冤報冤。妒賢嫉能則以怨報怨。虛傳慢友妄受則輕師。凡此之類，皆能為其禍患，悉當避忌，無使犯禁，而生其害，是謂真齋戒也。故曰洗心日齋，防患日戒，斯之道矣。</p>
<p>然病生之緒，其有四焉。一者，因氣變動而內成積聚、　瘕、瘤氣、癭氣、結核、癲癇之類也。二者，因氣變動而外成癰腫、瘡瘍、痂疥、疽痔、掉　、浮腫、目赤、瘭疹、腫、痛癢之類也。三者，不因氣之變動，而病生於內，則留飲、辟食、飢飽、勞損、宿食、霍亂、悲恐喜怒、想慕憂結之類也。四者，不因氣之變動，而疾病生於外，則喑氣、賊魅、蟲蛇、蠱毒、蜚尸、鬼擊、衝薄、墜墮、斫射刺割、搖仆打撲磕位、觸冒風寒暑濕之類也。凡此之類，乃一切禍患之由，其非六欲七情之邪，而禍患無由生矣。</p>
<p>然六欲者，眼耳鼻舌身意，此之六賊是也。七情者，喜怒哀樂好惡愛是也。凡此六欲七情之邪，而為禍患之本，死亡之因。世人不悟，恣縱其心，悅樂其志，有誤養生之道。</p>
<p>不畏危亡，種種耗失天真之氣，而致精神衰弱，根蒂不堅，多感邪而生其禍患，及乎殆而澌矣。故養神法曰：少思寡欲，而以養心。絕念忘機，而以養神。飲食有節，而以養形。務逸有度，而以養性。鼻引清氣而入，口吐濁氣而出，以養氣。絕淫誡色，而以養精。又曰少思、少念、少事、少語、少笑、少愁、少樂、少喜、少怒、少好、少惡，故得靈光不亂，神氣不狂，方可奉道。保生之要，以忍為其上也。其忍者，不必忍其嗔怒，而以凡事皆能忍之，為其妙矣。所以制其心而養其性，收其意而保其神也。</p>
<p>故心者，火也，縱之則狂，制之則止，狂則躁亂邪生，止則安寧清淨。然火本不燔，因風而爍，心本不亂，遂境而狂。若能對境心欲動時忍之，不動不為，是謂無為。若能臨事忍事，不為其事，是謂無事。無為無事，則為清浮，乃習道之本，養生之要，勿謂忍之不已，而反不忍。但能忍之，多則多妙，少則少福，不能忍之，則生患害。若能全固守其一，則為妙矣。然一者，丹田也。若能忍其外境，不擾其心，常以志意存想丹田，神識內定，則是火入水鄉，其火息矣。</p>
<p>是故《玉皇聖胎訣》言：人常降心火於丹田，外境不入，內境不出，泯絕狂慮，一氣不散，委於氣海。腎氣不能上升，其息漸少，縱出之，則亦悠悠然減省也。故先聖曰自然胎息也。</p>
<p>及夫達摩胎息至理，言人之氣升自有走，先莫若內觀諸世界，游玩自己之天宮，超清靈妙境。其法貴乎無漏，一念不生，一意不動。無漏則善果成，不動而真聖現。面壁九年，氣無毫發走失，陰靈自外，而身外有身，超凡入聖矣，故先聖曰真胎息也。</p>
<p>及夫扁鵲解《靈樞》，以冬至之後，真鉛積之一分，狀如戲蕊，而鎮丹田。以鼻引清氣，閉口不出，以定息二十四數，為火一兩。四十五日，進火一十六兩，而煉就陽胎。</p>
<p>以夏至之後真陰，積之三分，狀如抱卯，而鎮絳官。亦以鼻引清氣，閉口不出，以定息二十四數，為火一兩，四十五日，進火一十六兩，而煉就陰息。以陰息投陽胎，而生真氣，真氣生元神，神形合而為一，與天齊年，離而為二，身外有身，而為羽客仙子，不在塵世，以返三島十洲者也。</p>
<p>及夫葛洪胎息論曰：胎息之要，如在母腹中，母呼則呼，母吸則吸，今人不達妙理。</p>
<p>縱能用之，少時隨呼出之，喘息不已。非止不能留所閉之息，而又元氣損虛，反為乘陽之氣所奪。若氣息未急之前升身，自可停留少時，勿使太急。示氣急之際，先鼻引氣一口，續後更以新取之氣，換出舊閉急者之余氣也。故得奪其氣積，而形神清爽，可以除療百病。曲留強住，亦非自然，所以為下等胎息。</p>
<p>真仙上聖，而有三品之論也。鼻引口吐，可以去浮寒，逐客熱，沖結滯，行經絡。</p>
<p>若定百息，通開萬病。若定十息，氣血自交，陰陽不構。若定萬息，氣住神藏，大乘之功，不可言也，補氣之道，此為上矣。</p>
<p>華陽真人曰：傷寒之疾既覺，急居靜室，盤膝正坐，閉目冥心，定息住氣。以雙手疊之，兜其外腎，向前倒身跪禮。不過二三十度，汗出清涼，病氣自散。昔人以夢泄遺漏，或下元虛冷，乃於日落之後，靜坐幽室，以手兜外腎，以手搓臍下八十一數，九遍為度，但左右換手而已，遂丹田補暖，真氣充盈。昔人以幽室靜坐，絕念忘言，一向下心，火閉目存，想如火輪炎炎，積日氣海堅固，顏色異常，日久下盡諸穢，自耐寒暑矣。昔人以飲食過度，胸臆注滿，或寒熱凝滯，或痛結壅塞，當靜坐，鼻引清氣，閉口不開，其氣多入少出，以攻所病之處，太緊方放，其氣自下，三五次自然消除矣。昔人以心上為陽，而陰不能到，以腎為陰，而陽不能及，故丹田之上，氣升而不降，丹田之下，血注而不升，致使腳膝沉重，陰凝而陽散。</p>
<p>又況終日奔馳，無時休息，當夜後湯濯二足，此之益而少矣。不若高舉二足，使氣倒行，流於涌泉，逆流於丹田，積日足輕，行及奔馬，其步如飛矣。昔人以四肢小疾，五臟微　，氣血凝滯壅塞，靜坐澄心，閉目絕念，運心氣於所病之處，暫息少時，無攻不勝矣。昔人以五臟積滯，用六字氣治之，即黃廷圖之法也。張正道以此留形住世，王悟真以此治病延年，孫思邈以此修身治人。六字之法者，春不呼，夏不　，冬不呵，秋不吁，四時常唏，謂三焦無不足，八節不得吹，謂腎臟難得實。凡有餘則引其子，不足則殺其鬼。此法方今無知者，西山上聖得其詠也。不須禁忌，但朝不食虛，暮不食實，上也，素無味，淡無葷，次也，何慮四體之不充悅乎。及夫六字氣有餘引子、不足殺鬼者，肝本呼也，余則用呼，呼亦不能引肝氣，若引子氣，則用　字，瀉心之氣，心氣既行，肝氣自傳也。</p>
