<header><h1>產寶</h1></header>
<dl class="元資料" data-type="book">
<div><dt>作者</dt><dd><data value="許槤|高尚縉">許槤 高尚縉</data></dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1906">公元1906年</data></dd></div>
</dl>
<h2>序</h2>
<p>人之所以生。氣血而已。血之所以生。氣而已。氣。火也。血。水也。貯水於釜。厝火而烹之。其蒸蒸然浮動者。</p>
<p>水也。其所以然者。非水也。氣也。火之用也。故治血必先理氣。氣行血行。氣滯血滯。行則生。滯則死。見血之滯而攻之使下。是猶見水之滯而激之使行也。今之業產科者。操此術以殺人。蓋不知其幾矣。嘉慶癸酉。余室人衛氏。產後患瘀滯。醫曰。是非逐以莪朮荊三棱不可。一劑而神昏譫語。則云。藥輕不勝病。益以大劑而氣上逆暴脫矣。余是時初未知醫。以為證固不治。但有悼痛。厥後稍稍習岐黃家言。得浦江倪氏所著產寶讀之。遇戚鄙中有患此者。照是書於生化湯中加生　一二兩。恆獲十全。他證按方取治。靡不愈。然後知前此為醫所誤。凡莪朮荊三棱之屬。破血而因以蝕氣。</p>
<p>氣蝕則血無以生。雖神奇亦化為臭腐。而生化湯於行血中理氣。增以生　。氣壯而血以行以生。故能奏效若此也。余既悼逝者之不可作。復憫醫之庸。頃承乏平度。聽斷之暇。因取是書略加刪潤。鏤板傳布。俾業產科者有所據依。毋徒以破血蝕氣之藥殺人也。嗟乎。是豈獨產後然哉。四明高鼓峰論治血證。以固元湯先回其氣。湯中重用參　。而今世粗工。惟知用寒涼。直折重遏其心肺之陽。馴致生生之氣絕而不可復救。豈不悲哉。附著弁言。為世之治血而不知理氣者告焉。倪氏名枝維。字佩玉。號鳳賓。雍正六年成是書。向無刊本。余友趙文學魏寄視寫本。棄之篋。衍二十五年矣。</p>
<p>生平所見治產諸書。未有出此上者。洵可寶也。</p>
<p><u>道光壬寅春仲。海昌許　序於平度州署之行吾素齋。</u></p>
<p>治產方書夥矣。類皆見證治證。不審本原。間有一二善本。而博引繁征。紛然雜出。讀其書者。奚所折衷也。夫產後勞倦異常。腠理不密。脾胃恆弱。氣血多虧。急宜滋補。以回其元。而他證概從末治。其需補而不遽補者。特以惡露未淨。收固升提之品。礙難驟進耳。若痛塊既除。調理失當。則正氣久衰。變證百出。害將不可勝言。世醫不明此旨。</p>
<p>或因煩熱而妄用清涼。或因瘀滯而誤施攻下。或因外感而謬加表散。或因內結而專主消耗。治其標而舍其本。究之。本愈虧而標亦不可治。其不危者幾希矣。道光丙午。家君光祿公。宦京師。得許珊林刺史所刊倪氏產寶讀之。竊嘆為濟人寶筏。欲付梓以公於世久矣。歸裡後。值赭亂滋擾。練兵籌餉。昕夕不遑。致稽壽棗。今先君棄養三年矣。偶理遺篋。</p>
<p>睹是書。重為黯然。爰悉心校正。付剞劂氏。以承先志。吾知流傳日廣。必有同志之士。什襲珍藏。相繼刊布者。由此家置一編。宇字內共慶達生。是則予之濃望也夫。</p>
<p><u>同治辛未秋仲石陽黃祖經序於三余家塾。</u></p>
<p>余家得是書。曾鐫印萬數千本。以廣其傳。數十年來。戚友鄉裡中。按方施治。靡不奏效。年遠者不能記憶。若近事之奇驗者。可略舉一二焉。余宦浙。侄寶芝宦金陵。光緒甲午。寶芝以同知權鹽城縣篆。遣眷屬來杭。其側室楊氏。</p>
<p>體質素強。夏月生子極速。繃兒甫畢。即出房料理他務。僉止之。入室後。又以冷水浣手。推窗揮扇。當風而坐。復止之。日晡忽發寒熱眩暈。僉云。強壯如此。冒風貪涼如此。是因產後腠理不密。護衛失宜。致受外感也。余竊疑之。診其脈有虛象。進以養正通幽湯。一服而證減。再服則全瘳矣。甲辰秋。余孫媳生子。產後三日。患痰閉搐搦之證。此血虛生風也。以滋榮活絡湯。加半夏竹瀝薑汁進之。應手而愈。蓋產婦當忍痛用力之時。出汗多則亡陽。陽虛故畏寒。失血多則傷陰。陰虛故發熱。氣血兩虧。則神散而有眩暈。甚至痰閉搐搦。狀類中風。自應用扶正之品。以調和營衛。設使目為客邪。任意表散。鮮有不由虛弱而成危殆者也。丙午夏。偶談及此。笏堂太守。欣然以石印是編為任。囑余補記於簡端。因振筆書之。</p>
<p><u>黃子　謹識。</u></p>
<p>慨自仲景越人而後。秘典弗著。至道無聞。流遷以迄於今。風氣日趨於下。醫學之不明也久矣。黃子　觀察宦浙三十年。公余之暇。博覽群書。於靈樞素問之奧旨。千金肘後之奇方。尤為研究靡遺。深有心得。每聆其論說。覺疑義與晰不煩言而自解。今歲夏與二三知己談及產科。極稱賞倪氏產寶一書。並述其神效。歷歷如繪。余索書讀之。言近而旨遠。詞簡而義賅。蓋融貫諸家之說。崇正以辟謬。由博而求精。惟能握要探原。　是以泛應曲當也。趙忠獻謂。</p>
<p>半部論語。可治天下。良以得其綱領。斯事無不治耳。政術有然。醫術亦何嘗不然。方今醫道失傳。流品日雜。庸手誤人。滔滔皆是。於此而欲治產者合乎準繩。生產者安於衽席。非以是編救正之不為功。爰借原本手錄成帙。用西法石印。</p>
<p>公諸同好。至於論證立方。各有妙義。前序已闡發其蘊。無俟鄙人贅述也。</p>
<p><u>光緒丙午夏。高尚縉序於拳石山房。</u></p>
<h2>產後總論</h2>
<p>凡病皆起於氣血之衰。脾胃之弱。而產後為尤甚。是以丹溪論產。必當大補氣血為先。雖有他症以末治之。此言已盡醫產大旨。若能擴充立方。則治產思過半矣。夫產後症變百出。不可以常病之藥。一概論治。如有氣勿專疏散。有食勿專消導。熱不可妄用芩連。寒不可多用桂附。至若虛中外感。見三陽表症之多。似可汗也。在產後而用麻黃。則重竭其陽。見三陰裡症之多。似可下也。在產後而用承氣。則重亡其陰。耳聾脅痛乃腎虛。惡露之停。休用柴胡。譫語汗出。</p>
<p>乃元弱似邪之症。毋同胃實。厥由陽氣之衰。難分寒熱。非大補不能回陽而起弱。痙由陰血之虧。毋論剛柔。非滋榮不能舒筋而活絡。又如乍寒乍熱。發作有期。症類瘧也。若以瘧治。遷延難愈。神不守舍。言語無倫。病似邪也。若同邪論。危殆可虞。去血多而大便燥結。蓯蓉加於生化。非潤腸承氣之能通。患汗多而小便短澀。生脈倍用參　。必生津助液之可利。加參生化頻服。救產後之危。六和調胃並行。蘇絕穀之厄。頹產脫肛。多是氣虛下陷。宜補中益氣之方。拳攣口噤。乃是血燥類風。當加參生化之劑。產戶入風而痛甚。宜服羌活養榮湯。玉門傷冷而不閉。洗用茱硫合蛇菟。（吳茱萸硫黃蛇床子菟絲子各五錢。煎湯熏洗。）怔忡驚悸。生化加以遠志。似邪恍惚。安神佐以歸脾。因氣而滿悶虛煩。生化加木香為佐。因食而噯酸惡食。六君加神麯為良。蘇木棱蓬。最能破血。用之必殆。青皮枳實。大能耗氣。服之非宜。</p>
<p>凡一應破血耗氣之品。汗吐宣下之劑。只可施於少壯。豈宜用於產危。大抵生產之後。先問惡露如何。塊痛未除。不可遽加參朮。腹中痛止。補中益氣為良。至若亡陽脫汗。氣虛喘促。頻灌生化加參。是從權也。亡陰大熱。血崩昏厥。速煎生化原方。乃救急也。凡此治法。先為提綱。庶使開卷了然。不至茫無頭緒。則未必無小補云。</p>
<h3>生化湯</h3>
<p>川芎（一錢二分）　當歸（五錢）　乾薑（炙黑五分）　甘草（炙三分）　桃仁（去皮尖研十一粒）</p>
<p>上藥用水一盞。陳酒半盞。煎作一盞。稍熱服。</p>
<p>生化者。因藥性功用而立名也。夫產後宿血當消。新血當生。若專消則新血不生。專生則宿血反滯。考諸藥性。川芎。當歸。桃仁。三品善治宿血。專生新血。佐以黑薑。甘草。引三品入於肝脾。生血理氣。莫善於此。所謂行中有補。</p>
<p>化中有生。實產後聖藥也。凡懷孕至八九月。預備二三劑。至胞衣破時。速煎一劑。俟兒分身即速服之。不問正產半產。</p>
<p>雖少壯產婦。平安無恙者。亦宜服二三劑。則惡自消而新自生。第須初產一二時辰之內未進飲食之先。相繼煎服。以惡露在下焦。故服多而頻使惡易化而新易生。庶免血暈之惡。若胎前素弱。及產後勞倦。又當多服二劑。以防昏倦。若照常每日一服。豈能救將危絕之氣血乎。至虛人見危症及熱疾墮胎。或勞甚身熱頭痛服藥四五劑。雖覺稍安。塊痛未除仍當服之。</p>
<h2>胞衣不下</h2>
<p>有由產母才送兒出。無力送衣者。有歷時既久或乘冷氣。則血道凝澀。而衣不下者。有胎前素弱。至血枯而衣停者。</p>
<p>凡此當急進生化湯一二劑。兼服益母膏。次服鹿角灰。則血旺腹和。而衣自下。世每以濟坤丹。又名回生丹。專攻血塊落胞胎。雖見速效。而其元氣未免受傷。慎之慎之。（制益母膏法。端午後。小暑前。取鮮益母草。用銅鍋熬膏。貯瓷瓶內。勿令泄氣。臨用以生化湯調服神效。）</p>
<p>凡兒下而衣不下。產婦不可睡倒。必須先斷臍帶。用草鞋墜之。如寒月扶產婦至床。倚人坐。　蓋被以火籠置被中。</p>
<p>再以綿衣烘熱替換暖腹。胞下後防虛。必須連服生化湯二三劑。不可厭藥之頻。自有大效。</p>
<h2>塊痛</h2>
<p>產後腹有血塊。是胎前余血之所積也。夫婦人以經脈為主。二七而天癸至。三旬一見。以象月盈則虧。行之有常。</p>
<p>名之曰經。有孕則經不行。其余血注於胞中。以護元。一月曰始胚。二月曰始膏。三月成形。而名胎。方受母血之蔭。</p>
<p>胎形尚小。食母血故有留余。並前兩月之血積於胞中。久而成塊。至產時。隨兒當下。亦有因產婦送兒勞倦。調護欠溫。</p>
<p>以致塊痛不散者。慎勿輕用攻血峻藥。宜飲薑艾酒。多服生化湯。加以熱衣暖腹。自然漸散。俗師有用紅花生地以行之。</p>
<p>蘇木牛膝以攻之。鮮有不至危亡者。</p>
<p>小腹有塊作痛。名曰兒枕。世多專先消散。然後議補。或消補兼施。更為夾雜。殊不知舊血須當消化。新血尤當滋生。若專主攻舊。新亦不能生矣。產後血氣暴虛。理當大補。當惡露未淨。用補須知無滯血。攻塊不致損元氣。行中兼補。方是萬全。世以四物湯理產。誤人多矣。地黃性寒滯血。芍藥酸寒伐肝。治產者察之。</p>
<p>產後七日內。未曾服生化湯。塊痛未除。仍以生化湯治之。</p>
<p>暑月產後。內服生化湯以除塊痛。外用熱衣暖腹。方能消惡止痛。若失於蓋暖。亦難取效。</p>
<p>產後一二日內。塊痛未止。忽脫暈。汗多而厥。口氣漸冷。即於生化湯中加用人參。黃　。以扶危急。日夜頻服三四劑必效。</p>
<p>產後七日內。因食冷物。血塊凝結痛甚。宜於生化湯內加肉桂五七分。</p>
<p>產後三四日內。服生化湯三四劑。塊痛未減。得按揉而稍安者虛也。可加參二三錢。</p>
<p>產後三日內。血塊痛。人參當緩。如遇危症。從權加參救急可也。病勢一轉。則當減參。只服本方。自能取效。</p>
<h2>血崩血暈</h2>
<p>血崩宜審血色之紅紫。形色之虛實。如血紫有塊。宜去其敗血。若留之反作痛。不可以崩論。如鮮紅之血大來。乃是心因驚傷不能生血。肝因怒傷。不能藏血。脾因勞傷。不能統血。當以崩治之。宜於生化湯中加荊芥穗五分。連服幾劑則行中有補而血安矣。若形脫氣促。或有汗暈厥。牙關緊閉。昏亂將絕。先用韭菜數十莖。細切放酒壺內。以滾醋一碗泡入。將大口塞住。以小口對鼻孔熏之。速煎生化奪命湯灌救。如氣欲絕。藥不能入。即將鵝毛管插口內。用酒杯盛三四分灌之。如灌下腹漸溫暖。連服數劑可活。再用綿衣烘熱。替換揉腹。方無他患。如產後半月崩來。又宜滋榮益氣湯以升舉之。世醫治崩。每以棕灰止之。此治末之法。即有偶效。禍不旋踵慎之。</p>
<h3>生化奪命湯</h3>
<p>川芎（二錢）　當歸（四錢）　乾薑（炙黑五分）　甘草（炙三分）　桃仁（去皮尖研十一粒）　肉桂（三分服二劑去此味）</p>
<p>上藥加黑棗一枚。用水一盞半煎七分。稍熱服。</p>
<p>汗多加人參二錢。生黃　二錢。兩手脈伏。或右手脈絕。加麥冬一錢。五味子十粒。如灌藥得蘇。其塊痛未除。當減去參　。只服生化湯。除塊定痛。若塊痛已除。仍加參　。口渴加麥冬。腹瀉加茯苓。有痰加竹瀝一匙。薑汁半匙。</p>
<p>若胃中久不納食。聞藥氣即嘔。先用人參一二錢煎湯。調飯鍋焦末服之。以通胃氣。此等危症。一日內須服二三劑。方保無虞。</p>
<h3>滋榮益氣湯</h3>
<p>川芎（一錢）　當歸（二錢）　人參（二錢）　黃　（生用二錢）　生地（二錢）　於朮（二錢）　麥冬（一錢）　陳皮（五分）　升麻（四分）　防風（三分）　白芷（四分）　甘草（炙四分）　荊芥穗（四分）</p>
<p>上藥加黑棗一枚。用水一盞半煎七分。稍熱服。</p>
<p>汗多加麻黃根。（麻黃發汗。根止汗。宜用根。）五分。浮小麥一撮。大便不通加肉蓯蓉二錢。氣不舒展加木香一錢。</p>
<p>有痰加竹瀝一匙。薑汁半匙。咳嗽加苦杏仁二錢。驚悸加炒酸棗仁一錢。柏子仁一錢。傷食加神麯一錢。炒麥芽一錢。</p>
<p>傷肉食加炒山楂一錢。砂仁八分。</p>
<p>眼黑頭眩。昏迷不省人事。即是血暈。其因有三。一因勞倦甚而氣竭神昏。二因血大脫而氣欲絕。三因痰火乘虛泛上而神不清。患此三者。急服生化湯。以行塊定痛。化舊生新。斯血遂生而氣轉清。頻服數劑。治其昏亂。氣血即定矣。</p>
<p>外用前韭醋熏鼻之法治之。切勿認為惡血上衝。昏迷心竅。以致輕用散血之劑。亦勿認為痰火。而用消耗之品。庶無貽患。</p>
<p>血暈形色俱脫。服生化奪命湯。倍加人參。萬勿疑為太補。以致遷延不救。如痰火乘虛泛上而暈。於生化湯中加橘紅四分。甚虛亦加人參二錢。肥人多痰加竹瀝一匙。薑汁半匙。</p>
<p>暈症切勿用蘇木破血等藥。若血塊痛甚。以生化湯調益母膏。或送鹿角灰。或送延胡索散俱效。</p>
<h3>延胡索散</h3>
<p>延胡索（一錢）　肉桂（六分）</p>
<p>上藥用生化湯調服。</p>
<p>兒已產下。燒鐵秤錘。令紅投醋盆中。使產婦聞醋氣。可免血暈之患。</p>
<h2>手足厥冷</h2>
<p>產時用力過多。勞倦傷脾。孤臟不能自主。故手足逆冷而厥氣上行。經云。陽氣衰於下。則為寒厥是也。非大補不能回陽。豈是芎歸數錢。照常一日一服。而能扶將絕之氣血耶。必於生化湯中倍加人參。一晝夜服二三劑。使藥氣接續不斷。則氣血旺而精神復。厥症自止矣。若服藥而口渴。另用生脈散以代茶助津。以救臟燥也。或四肢逆冷瀉痢。有類傷寒陰症。仍服生化湯倍加人參。酌加附子四五分。生黃　二錢。則可回陽止逆。經云。厥氣上行。滿脈去形。謂逆氣上行滿於經絡。則神氣漸散矣。大抵手足厥冷。由於氣血並竭。神將離而機欲息。僅此呼吸一線之留。設非大劑參　。</p>
<p>斷難倚仗。此數十年經驗之論。非敢憑虛臆造。以誤人也。</p>
<h3>生脈散</h3>
<p>人參（一錢）　麥冬（一錢）　五味子（十粒）</p>
<p>上藥用水七分盞。煎四分熱服。</p>
<h2>類傷寒</h2>
<p>產後發熱。惡寒頭痛。勿誤為太陽症。寒熱往來。胸滿脅痛。勿誤為少陽症。凡此皆因氣血兩虛。陰陽不和。有類外感而實非外感也。即或偶冒風寒。亦當以末治之。夫以脫血之後。而有發熱惡寒。頭疼脅痛等症。設投以散劑。重發其汗。則病未消。而元氣已消。其害可勝言哉。仲景云。亡血家慎勿發汗。丹溪云。產後萬不可表。斯言盡之矣。況生化湯有芎薑二味。亦寓發散之義。就本方照後量加之法。速服數劑。諸症自除。</p>
<h3>生化湯量加法</h3>
<p>感冒風寒加防風四分。不應加連須蔥頭兩個。嘔吐加藿香三分。生薑二錢。汗多氣短加人參二錢。汗出微喘亦加人參二錢。煩渴加麥冬一錢。五味子十粒。有痰加橘紅四分。傷食加神麯一錢。傷肉食加山楂一錢。砂仁末六分。</p>
<p>潮熱自汗。譫語便閉。勿認為陽明症。口燥舌乾咽痛。勿認為少陰症。夫產後潮熱自汗譫語。悉屬陽虛。與陽明症之熱邪入腑迥異。口燥舌乾咽痛。多由血竭。與少陰症之熱邪鑠腎懸殊。至於便閉。並非熱邪結聚胃中。致有燥屎。豈可妄議攻下。蓋產後勞倦傷脾。運化為難。兼之津液內竭。十九患此。並宜服養正通幽湯以潤之。保無他患。</p>
<h3>養正通幽湯</h3>
<p>川芎（二錢）　當歸（六錢）　甘草（炙五分）　人參（一錢）　黃　（生二錢）　陳皮（一錢）　桃仁（去皮尖研十一粒）　黑芝麻（炒研二錢）　肉蓯蓉（酒洗一錢）</p>
<p>上藥用水二盞。煎七分稍熱服。</p>
<p>汗多加麻黃根。（麻黃發汗。根止汗。宜用根。）五分。口燥加麥冬一錢。腹滿咽乾便結加枳殼六分。汗多譫語便實加茯神二錢。炒酸棗仁一錢。柏子仁一錢。生白朮二錢。</p>
<h2>類中風</h2>
<p>氣血暴竭。肢體無以濡養。忽然牙關緊閉。筋脈拘攣。兩手搐搦。有類中風。或虛火上泛有痰。切勿誤用治風消痰之劑。以重其虛。當以滋榮活絡湯治之。</p>
<h3>滋榮活絡湯</h3>
<p>川芎（二錢）　當歸（三錢）　甘草（炙五分）　人參（一錢）　黃　（生二錢）　麥冬（一錢）　茯苓（二錢）　天麻（一錢）　荊芥（四分）　防風（五分）　橘紅（五分）</p>
<p>上藥用水二盞。煎七分稍熱服。</p>
<p>汗多加麻黃根。（麻黃發汗。根止汗。宜用根。）五分。驚悸加炒酸棗仁二錢。大便不通加肉蓯蓉二錢。有痰加薑製半夏一錢。竹瀝一匙。薑汁半匙。傷食加神麯一錢。</p>
<h2>類瘧</h2>
<p>產後半月內外。寒熱往來。其發有期。有類瘧症。此由氣血兩竭。陽虛寒作而陰虛發熱也。惟調其氣。補其血。則寒熱自除。慎勿用柴胡以發表。芩連梔柏以退熱。多致危殆不救。當以人參養胃湯。參朮膏。日夜間服。</p>
<h3>人參養胃湯</h3>
<p>人參（一錢）　黃　（生二錢）　白朮（生二錢）　當歸（二錢）　半夏（薑製一錢）　青皮（四分）　茯苓（一錢五分）　藿香（五分）　烏梅（一枚）</p>
<p>上藥用水一盞半。煎七分熱服。</p>
<h3>參朮膏</h3>
<p>人參（五錢）　白朮（生八兩）</p>
<p>上藥用沙鍋盛水。煎三次取汁熬膏。每日早晚以一小鐘。開水調服。</p>
<h2>妄言妄見</h2>
<p>心藏神。肝藏魂。心有血而神存。肝得血而能視。產後氣血暴虛。神魂無所依倚。以致言語無倫。而目多妄見。萬弗認為鬼邪。信用符水。往往不救。如塊痛未除。先服安神湯。塊痛已除。急須服補元湯。以培養氣血。自獲全效。此一定法也。</p>
<h3>生化安神湯</h3>
<p>川芎（二錢）　當歸（四錢）　乾薑（炙黑五分）　甘草（炙三分）　茯神（二錢）　棗仁（炒一錢）　桃仁（去皮尖研十一粒）</p>
<p>上藥加黑棗二枚。用水二盞煎七分熱服。</p>
<h3>生化補元湯</h3>
<p>川芎（一錢）　當歸（三錢）　乾薑（炙黑四分）　甘草（炙四分）　人參（二錢）　黃　（生二錢）　於朮（生二錢）　茯神（二錢）　棗仁（炒一錢）　橘紅（三分）　桃仁（去皮尖研七粒）</p>
<p>上藥加蓮子十粒。黑棗二枚。用水二盞。煎七分食遠熱服。</p>
<p>汗多加麻黃根。（麻黃發汗。根止汗。宜用根。）五分。有痰加竹瀝一匙。薑汁半匙。大便不通加肉蓯蓉二錢。</p>
<h2>氣短</h2>
<p>似喘非喘。氣不相續。有兼痰兼熱之分。亦或頭痛發熱惡寒。有似外感。切勿作外感治。以生化益氣湯主之。</p>
<h3>生化益氣湯</h3>
<p>川芎（一錢）　當歸（二錢）　乾薑（炙黑三分）　人參（二錢）　黃　（生二錢）　棗仁（炒二錢）　甘草（炙四分）　麻黃根（麻黃發汗根止汗宜用根五分）　桃仁（去皮尖研九粒）　浮小麥（二錢）</p>
<p>上藥用水一盞半。煎七分熱服。</p>
<p>有痰加竹瀝一匙。薑汁半匙。咳嗽加苦杏仁十一粒。薑製半夏八分。口渴加麥冬一錢。五味子七粒。</p>
<h2>發喘</h2>
<p>發喘乃產後第一危症。蓋肺受脾稟。此時血亡氣脫。肺不能運氣。生脈以順呼吸而喘作矣。若不速治。多致不救。</p>
<p>如氣血猶未大竭。塊痛未除。補劑稍緩。先服生化湯一二劑。以行塊定痛。然後加參。若血崩喘甚。形色大脫。則危極矣。難論塊痛。宜從權於生化湯內加人參四錢。以救危急。須於一二時辰之內連進二劑。俟其稍定即服生化益氣湯。除去黑薑。麻黃根二味。間有得生者。</p>
<h3>生化益氣湯</h3>
<p>（方見前）</p>
<h2>咳嗽</h2>
<p>產後七日內。偶感風寒。鼻塞咳嗽聲重者。於生化湯中加杏仁。蘇子。陳皮。以順氣化痰。切勿發表。兼忌涼藥。</p>
<h2>自汗</h2>
<p>經云。搖體勞苦。汗出於脾。驚而奪精。汗出於心。有所恐懼。汗出於肝。產後因勞傷脾。因驚傷心。因恐傷肝。</p>
<p>每多心慌。自汗之症。惟塊痛未除。參朮未可遽用。於生化湯中加炒棗仁二錢。設心慌無主。　汗出。形色又脫。此是汗多亡陽。又當從權於生化湯中。倍用人參。以救危急。服後汗仍不止。以調胃參　湯治之。冀可活十之四五。</p>
<h3>調胃參湯</h3>
<p>人參（三錢）　黃　（生二錢）　當歸（二錢）　桂枝（四分）　防風（三分）　麻黃根（麻黃發汗根止汗宜用根五分）</p>
<p>上藥加黑棗一枚。用水一盞半。煎七分食遠熱服。</p>
<p>口渴加麥冬一錢五分。五味子九粒。有痰加橘紅四分。虛脫手足冷加熟附子五分。黑薑四分。牡蠣一錢。</p>
<h2>盜汗</h2>
<p>睡中汗出。覺則止。此為盜汗。屬陰虛。然不可偏用陰藥。宜兼服參　。俾氣旺則能生陰。效如影響。生化湯調牡蠣散服。</p>
<h3>牡蠣散</h3>
<p>牡蠣（　二錢）　人參（二錢）　黃　（生二錢）　當歸（三錢）　熟地（三錢）　麻黃根（麻黃發汗根止汗宜用根一錢）　小麥麩皮（炒黃二錢）</p>
<p>上藥研末和勻。每服三錢。</p>
<h2>大便不通</h2>
<p>產後血少腸燥。傳化為難。大便恆多秘結。經云。臟得血而能液。當補血為主。加以益氣之品。服養正通幽湯數劑而安。設妄用下利峻藥。愈通愈秘。卒至不救慎之。</p>
<h3>養正通幽湯</h3>
<p>（方見類傷寒）</p>
<h2>小便不通</h2>
<p>產後脾胃氣虛。不能通調水道。下輸膀胱。往往小便短澀。切忌分利。當補以提之。益氣生脈湯極驗。</p>
<h3>益氣生脈湯</h3>
<p>人參（二錢）　黃　（生二錢）　五味子（九粒）　麥冬（二錢）　當歸（三錢）　茯苓（一錢）　升麻（四分）　葛根（一錢）　甘草（炙四分）</p>
<p>上藥用水一盞半。煎七分熱服。</p>
<h2>嘔吐不納穀</h2>
<p>嘔者聲與物俱出。吐者有物無聲。此由脾胃虛弱。或寒氣所客。或飲食所傷。以致氣逆而食不得下。在七日內塊痛未除。宜服安胃行血湯。塊痛已除。而嘔不止。穀氣不納。服加減六和湯。服前二方。胃和嘔止。服補中調胃湯。惟嘔吐而見呃逆者。是謂土敗木賊。大率難治。</p>
<h3>安胃行血湯</h3>
<p>川芎（二錢）　當歸（四錢）　乾薑（炙黑五分）　人參（一錢）　砂仁（四分）　藿香（四分）　甘草（炙三分）</p>
<p>桃仁（去皮尖研十四粒）</p>
<h3>加減六和湯</h3>
<p>川芎（一錢五分）　當歸（三錢）　乾薑（炙黑四分）　人參（一錢）　茯苓（二錢）　陳皮（五分）　扁豆（炒二錢）　山藥（炒三錢）　藿香（三分）　白豆蔻（四分嘔止減去）</p>
<h3>補中調胃湯</h3>
<p>人參（二錢）　於朮（生二錢）　當歸（二錢）　乾薑（炙黑四分）　陳皮（八分）　茯苓（一錢）　扁豆（炒二錢）　山藥（炒二錢）　甘草（炙四分）</p>
<h2>傷食</h2>
<p>傷食必於補氣血藥中審所傷何物。以消導藥佐之。如傷穀食宜神麯穀芽。傷肉食宜麥芽山楂。傷果食腹內痛甚宜吳茱萸砂仁。世醫每遇此症。專消無補。反傷胃氣。不應又誤認為原傷。食物未消。倍加寬胸耗氣之品。甚至絕穀數日以垂危者。此際已無藥可用。惟煎獨參湯二三錢。調飯鍋焦末。漸漸與之。或可十救四五。</p>
<h2>膨脹</h2>
<p>產婦素弱。臨產又勞。中氣不足。胸膈窒滯。胃雖納穀。傳化艱難。醫者誤認傷食。而擅用消導之劑。或因氣鬱。</p>
<p>而專事疏散。或因大便秘結。而妄議攻下。此膨脹所由來也。治法當大補氣血為主。所謂塞因塞用。其效甚捷。先服獨參湯。調飯鍋焦末。以通胃氣。次服養生化滯湯。則脾運而脹消矣。</p>
<h3>養生化滯湯</h3>
<p>川芎（二錢）　當歸（三錢）　人參（一錢）　於朮（生二錢）　陳皮（八分）　香附（制五分）　茯苓（二錢）　甘草（炙三分）　大腹皮（四錢）　桃仁（去皮尖研十一粒）</p>
<p>上藥用水一盞半。加黃酒一小鐘。煎七分熱服。</p>
<p>大便秘結。加肉蓯蓉二錢。誤服大黃加生黃　四錢。倍用人參。脹甚人參可加至四五錢。丹溪先生治產後膨脹。參服至半斤以上。大便方通。腫脹方退。</p>
<h2>泄瀉</h2>
<p>產後泄瀉。悉屬脾虛。亦有因寒因食之殊。惟熱瀉甚少。治法與雜症諸瀉不同。誠以惡露未消。難以遽補。元氣暴竭。難以議消。太溫恐新血流崩。驟寒慮血凝變症。大抵產後患此。先宜服生化湯。加茯苓一錢五分。俟二三劑後塊痛已除。方能補脾。消食溫中。隨症施治。產畢即瀉。服訶皮生化湯。胎前久瀉至產後不止。服參苓生化湯從權以濟甚危。</p>
<p>塊痛已除。服加味生化湯。因寒因食。分別調治。惟審系實在熱瀉。去黑薑肉果二味。切勿加以涼藥。免致血寒。貽患不可不慎。</p>
<h3>訶皮生化湯</h3>
<p>川芎（二錢）　當歸（三錢）　訶子皮（八分）　乾薑（炙黑五分）　茯苓（一錢五分）　肉果霜（五分）　蓮子（十粒）　桃仁（去皮尖研十四粒）　甘草（炙五分）</p>
<p>兩服後不止。加人參一錢五分。口渴加麥冬一錢。五味子九粒。人參一錢。</p>
<h3>參苓生化湯</h3>
<p>川芎（二錢）　當歸（三錢）　訶子皮（八分）　人參（一錢）　乾薑（炙黑五分）　肉果霜（五分）　茯苓（一錢五分）　山藥（炒二錢）　甘草（炙五分）　蓮子（九粒）　糯米（炒黃三錢）</p>
<p>塊痛未除。去肉果。塊痛已除。加生於朮二錢。陳皮三分。</p>
<h3>加味生化湯</h3>
<p>川芎（一錢五分）　當歸（炒二錢）　乾薑（炙黑四分）　人參（二錢）　於朮（生二錢）　茯苓（一錢五分）　陳皮（五分）　澤瀉（八分）　肉果霜（五分）　甘草（炙五分）　蓮子（九粒）</p>
<p>因寒作瀉。倍用黑薑。腹痛泄水。飲食不化。加砂仁八分。炒山楂二錢。炒麥芽二錢。久瀉不止。加升麻一錢。</p>
<h2>痢疾</h2>
<p>七日內外。患赤白痢後重便膿。最為難治。夫痢以通利為主。然產後而欲推蕩穢邪。慮元氣之虛弱。欲滋補氣血。</p>
<p>恐積滯之留連。余於此症。斟酌數四。只有服生化湯。去黑薑。加木香四分。方能並行不悖。服二三劑不應。接服香連生化湯。應手可愈。惟產婦體氣素濃。已及一月。可用推蕩之法。若體氣素弱。雖產月余。難議攻下。如檳榔枳實厚朴大黃之屬用之。產後鮮有不成敗症者。可不謹歟。</p>
<h3>香連生化湯</h3>
<p>川芎（一錢五分）　當歸（三錢）　赤芍（酒炒一錢）　茯苓（一錢）　木香（三分）　黃連（薑汁炒四分）　甘草（炙四分）　枳殼（五分）　陳皮（三分）</p>
<p>上藥用水一盞。煎五分。空心服。</p>
<h2>煩悶</h2>
<p>煩為虛煩。悶為滿悶。虛煩者血液耗散。心神不守。宜猛進獨參湯。滿悶者胸膈鬱滯。惡露攻心。宜生化湯。用水磨木香二分沖服。虛甚加參。此二症。設誤用枳殼香附烏藥峻烈之品。則元氣蝕損。而病轉加劇。</p>
<h2>產後調護法</h2>
<p>產畢須閉目稍坐。然後上床。以被褥靠之。暑月以席卷。數枕靠之。若自己把持不住。令老練女人靠之。不可即時睡倒。常以手從心至臍。隨意按摩。俾惡露下行。房中安放醋盆。以燒紅烈炭　之。以防血暈。</p>
<p>腹上用小衣烘熱。替換溫之。雖暑月不可僅蓋單被。毋令腹寒而血塊作痛。</p>
<p>冬末春初。天氣嚴寒。宜閉密產室。緊塞隙孔。四圍置火。常令暖氣和融。以免他患。但不宜熏香。走泄真氣。</p>
<p>才產不宜食物。即服生化湯二三劑。飢甚先服白米湯一盞。次食白粥。十日內食物宜淡。切忌飲冷。半月後方可食雞子。亦須打開煮之。以防脾虛難化。盈月食豬羊肉。亦須撙節。酒雖活血。然氣性剽悍。亦不宜多。</p>
<p>七日內不宜梳洗。尤忌濯足。惟恐招風受濕。疾病蜂起。晝夜令人陪侍。毋致虛驚。變症百出。</p>
<p>言語宜慎。勿以多言。耗散元氣。勿以愛憎。輒生惱悶。以中氣餒弱。二者均能致病。</p>
