<header><h1>醫林改錯</h1></header>
<dl class="元資料" data-type="book">
<div><dt>作者</dt><dd>王清任</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1644/1911">公元1644年至公元1911年</data></dd></div>
</dl>
<h2>張序</h2>
<p>醫，仁術也。乃或術而無仁，則貪醫足以誤世；或仁而無術，則庸醫足以殺人。古云不服藥粵數年，目擊此輩甚眾，輒有慨乎其中。每遇救急良方，不惜捐資購送。今於癸丑四月，適聞佛山友人有幼子患症，醫以風藥投之，竟至四肢抽搐，口眼歪斜，命垂旦夕，忽得一良方，一劑稍愈，三服霍然。又有人患半身不遂者十余年，得一良方，行走如故。余甚奇之，再四訪求，始知二方皆出《醫林改錯》一書，遍求得之，歷試多驗，因於公余沉潛反覆，頗悟其旨，竊嘆此書之作，直翻千百年舊案，正其謬誤，決其瑕疵，為希世之寶也，豈非術之精而仁之至哉！余不忍秘藏，立刊布以公於世，使今人得悉臟腑經絡之實，而免受庸醫之誤，亦不負王勛臣先生數十年濟世之苦心矣。愿同志君子勿視為尋常善書，幸甚！幸甚！</p>
<p><u>咸豐癸丑仲夏順天張潤坡識</u></p>
<h2>劉序</h2>
<p>丁未之秋，寄跡吳門，適同鄉焦子浚文來，手執臟腑全圖，乃勛臣王先生《醫林改錯》之稿腑人人皆同，勛臣背古人以傳圖，得毋炫奇立異乎？曰：否，不然也。古人之圖傳其誤，勛臣之圖傳其信。天下物理之是非，聞虛而見實，寡見猶虛，多見為實。古人竊諸刑余之一犯，勛臣得諸親見之百人，集數十載之精神，改正乎數千年之遺誤，譬諸清夜鐘鳴，當頭棒喝，夢夢者皆為之喚醒焉。醫書汗牛充棟，豈盡可征，然非善讀書者，獨具支眼，終為古人所牢籠，而潛受其欺。孟子曰：吾於武城取二二策。武城，周書也。孟子，周人也。當代之書，猶且不可盡信，況遠者乎？是書繪圖立說，定方救逆，理精識卓，絕後空前，可為黃帝之功臣，即可為長沙之畏友。抑又聞之，葉氏《指南》有久病入絡之說，徐氏非之，不知入絡即血瘀也。今勛臣痛快言之，而《指南》入絡之說益明。坊友汪子維之見而悅之，開雕梨棗，以公諸世，斯真能刊錄善書者也。是為序。</p>
<p><u>道光戊申中秋日上元後學小窗氏劉必榮識</u></p>
<h2>知非子序</h2>
<p>余讀勛臣先生《醫林改錯》一書，而嘆天下事，有人力為之者，有天意成之者。先生是書，之一游也。此豈非天假之緣，而使數千載之誤，由先生而正之哉！帷膈膜一事，留心三十年，哉！至先生立方醫疾，大抵皆以約治博。上卷著五十種血瘀之症，以三方治之。下卷論半身不遂，以一方治之，並審出未病以前四十種氣虛之形症，非細心何能至此。論吐瀉轉筋，治分攻補兩途，方由試驗中來；論小兒抽風非中風，以大補元氣一方治之，以不能言之兒，查出二十種氣虛之形症，平素細心不問可知；論痘非胎毒，痘漿非血化，以六方治古人不治之六十種逆痘，頗有效者。先生之書，大抵補前人之未及，而在氣虛血瘀之症為多，今特揭諸篇首。</p>
<p><u>知非子書</u></p>
<h2>自序</h2>
<p>余著《醫林改錯》一書，非治病全書，乃記臟腑之書也。其中當尚有不實不盡之處，後人倘外感內傷，傷人何物，有餘不足，是何形狀。至篇中文義多粗淺者，因業醫者學問有深淺也。前後語句多復重者，恐心粗者前後不互證也。如半身不遂內有四十種氣虧之症，小兒抽風門有二十種氣虛之症，如遇雜症，必於六十種內互考參觀，庶免謬誤。望閱是書者，須詳審焉。</p>
<p><u>玉田王清任書</u></p>
<h2>卷上</h2>
<h3>醫林改錯臟腑記敘</h3>
<p>古人曰：既不能為良相，愿為良醫。以良醫易而良相難。余曰：不然。治國良相，世代皆有本先失。病本既失，縱有繡虎雕龍之筆，裁云補月之能，病情與臟腑，絕不相符。此醫道無全人之由來也。</p>
<p>夫業醫診病，當先明臟腑。嘗閱古人臟腑論及所繪之圖，立言處處自相矛盾。如古人論脾胃磨胃化食，脾不動則食不化？論脾之動靜，其錯誤如是。其論肺，虛如蜂窠，下無透竅，吸之則滿，呼之則虛。既云下無透竅，何得又云肺中有二十四孔，行列分布，以行諸臟之氣？論肺之孔竅，其錯誤又如是。其論腎有兩枚，即腰子，兩腎為腎，中間動氣為命門。既云中間動氣為命門，何得又云左腎為腎，右腎為命門，兩腎一體，如何兩立其名，有何憑據？若以中間動氣為命門，藏動氣者，又何物也？其論腎錯誤又如是。其論肝，左右有兩經，即血管，從兩脅肋起，上貫頭目，下由少腹環繞陰器，至足大趾而止。既云肝左右有兩經，何得又云肝居於左，左脅屬肝？論肝分左右，其錯誤又如是。其論心，為君主之官，神明出焉，意藏於心，意是心之機，意之所專曰志，志之動變曰思，以思謀遠曰慮，用慮處物曰智，五者皆藏於心。既藏於心，何得又云脾藏意智，腎主伎巧，肝主謀慮，膽主決斷？據所論，處處皆有靈機，究竟未說明生靈機者何物，藏靈機者何所，若用靈機，外有何神情，其論心如此門上輸於脾肺，宣播於諸脈。此段議論，無情無理。胃下口名曰幽門，即小腸上口。其論小腸自肛門出，水歸膀胱為尿。如此論，尿從糞中滲出，其氣當臭，嘗用童子小便，並問及自飲小便之人，只言味鹹，其氣不臭。再者，食與水合化為糞，糞必稀溏作瀉，在雞鴨無小便則可，在馬牛有小便則不可，何況乎人？看「小腸化食，水自闌門出」一節，真是千古笑談。其論心包絡，細筋如絲，與心肺相連者，心包絡也。又云心外黃脂是心包絡。又云心下橫膜之上，豎膜之下，黃脂是心包絡。又云膻中有名無形者，乃心包絡也。既云有名無形，何得又云手中指之經，乃是手厥陰心包絡之經也？論心包絡竟有如許之多，究竟心包絡是何物，何能有如許之多耶？其論三焦，更為可笑。《靈樞》曰：手少陰三焦主乎上，足太陽三焦主乎下，已是兩三焦矣。《難經‧三十一難》論三焦：上焦在胃之上，主內而不出；中焦在胃中脘，主腐熟水穀；下焦在臍下，主分別清濁。又云：三焦者，水穀之道路。此論三焦是有形之物。又云：兩腎中間動氣，是三焦之本。此論三焦是無形之氣。在《難經》一有形、一無形，又是兩三焦。王叔和所謂有名無狀之三焦者，蓋由此也。至陳無擇以臍下脂膜為三焦，袁淳甫以人身著內一層，形色最赤者為三焦，虞天民指空腔子為三焦，金一龍有前三焦、後三焦之論。論三焦者，不可以指屈，有形無形，諸公尚無定準，何得云手無名指之經，是手少陽三焦之經也？其中有自相矛盾者，有餘嘗有更正之心，而無臟腑可見，自恨著書不明臟腑，豈不是痴人說夢，治病不明臟腑，何，四月初旬，游於灤州之稻地鎮，其時彼處小兒正染瘟疹痢症，十死八九，無力之家多半用代席裹埋。代席者，代棺之席也。彼處鄉風，更不深埋，意在犬食，利於下胎不死，故各義塚中，破腹露臟之兒，日有百余。余每日壓馬過其地，初未嘗不掩鼻，後因念及古人所以錯論臟腑，皆由未嘗親見，遂不避污穢，每日清晨，赴其義　，就群兒之露臟者細視之，犬食之余，大約有腸胃者多，有心肝者少，互相參看，十人之內，看全不過三人，連視十日，大約看全不下三十余人，始知醫書中所繪臟腑形圖，與人之臟腑全不相合，即件數多寡亦不相符。惟胸中膈膜一片，其薄如紙，最關緊要，及余看時皆以破壞，未能驗明在心下心上、是斜是正，最為遺憾。至嘉慶四年六月，余在奉天府，有遼陽州一婦，年二十六歲，因瘋疾打死其夫與翁，解省擬剮。跟至西關，忽然醒悟，以彼非男子，不忍近前。片刻，行刑者提其心與肝肺從面前過，細看與前次所看相同。後余在京，時嘉慶庚辰年，有打死其母之剮犯，行刑於崇文門外吊橋之南，卻得近前，及至其處，雖見臟腑，膈膜已破，仍未得見。道光八年五月十四日，剮逆犯張格爾，及至其處，不能近前。自思一簣未成，不能終止。不意道光九年十二月十三日夜間，有安定門大街板廠胡同恆宅請余看症，因談及膈膜一事，留心四十年，未能審驗明確。內有江寧布政司恆敬公，言伊芳曾鎮守哈密，領兵於喀什噶爾，所見誅戮逆尸最多，於膈膜一事，知之最悉。余聞言喜出望外，即拜叩而問之，恆公鑒余苦衷，細細說明形狀。余於臟腑一事，訪驗四十二年，方得的確，繪成全圖。意欲刊行於世，惟恐後人未見臟腑，議余故叛經文。欲不刊行，復慮後世業醫受禍，相沿又不知幾千百年。細思黃帝慮生民疾苦，平素以《靈樞》之言下問岐伯、鬼臾區，故名《素問》。二公如知之的確，可對君言，知之不確，須待參考，何得不知妄對，遺禍後世。繼而秦越人著《難經》，張世賢割裂《河圖洛書》為之圖注，謂心肝肺以分兩計之，每件重幾許，大小腸以尺丈計之，每件長若干，胃大幾許，容穀幾斗幾升。其言仿佛是真，其實臟腑未見，以無憑之談，作欺人之事，利己不過虛名，損人卻屬實禍。竊財猶謂之盜，偷名豈不為賊。千百年後，豈無知者？今余刻此圖，並非獨出己見，評論古人之短長，非欲後人知我，亦不避後人罪我，惟愿醫林中人，一見此圖，胸中雪亮，眼底光明，臨症有所遵循，不致南轅北轍，出言含混，病或少失，是吾之濃望，幸仁人君子鑒而諒之。</p>
<p><u>時道光庚寅孟冬直隸玉田縣王清任書於京邸知一堂</u></p>
<h3>古人臟腑圖</h3>
<p>古人所繪臟腑圖形如此：</p>
<p><a href="_files/p01-e2a1.bmp">圖1</a></p>
<p><u>肺六葉兩耳，凡八葉。</u></p>
<p><a href="_files/p01-e2a1-1.bmp">圖2</a></p>
<p><a href="_files/p01-e2a1-2.bmp">圖3</a></p>
<p><u>膽附於肝之短葉。　</u></p>
<p>肝左三葉，右四葉，凡七葉。</p>
<p><u>　</u></p>
<h3>親見改正臟腑圖</h3>
<p>余將親見諸臟腑顯隱之形，繪於其後，計四十二件。</p>
<p><a href="_files/p01-e2a2.bmp">圖1</a></p>
<p><u>左氣門、右氣門兩管，歸中一管念，由心左轉出橫行後接衛總管。心長在氣管之下，非　</u></p>
<p>在肺管之下，心與肺葉上棱齊。</p>
<p><u>　</u></p>
<p><a href="_files/p01-e2a3.bmp">圖2</a></p>
<p><u>肺管至肺分兩杈，入肺兩葉，直貫到底，皆有節。管內所存，皆輕浮白沫，如豆腐沫，　</u></p>
<p>有形亦無行氣之二十四孔。</p>
<p><u>　</u></p>
<p><a href="_files/p01-e2a4.bmp">圖3</a></p>
<p><u>膈膜以上僅止肺、心、左右氣門，余無他物。其余皆膈膜以下物，人身膈膜是上下界物　</u></p>
<p><a href="_files/p01-e2a5.bmp">圖4</a></p>
<p><u>肝四葉，膽附於肝右邊第二葉，總提長於胃上，肝又長於總提之上，大面向上，後連於　</u></p>
<p>脊，肝體堅實，非腸、胃、膀胱可比，絕不能藏血。</p>
<p><u>　</u></p>
<p><a href="_files/p01-e2a6.bmp">圖5</a></p>
<p><u>胃府之體質，上口賁門，在胃上正中，下口幽門，亦在胃上偏右，幽門之左寸許，名津　</u></p>
<p>門。胃內津門之左，有疙瘩如棗，名遮食。胃外津門左，名總提，肝連於其上。胃在腹，是平鋪臥長，上口向脊，下口向右，底向腹，連出水道。</p>
<p><u>　</u></p>
<p><a href="_files/p01-e2a7.bmp">圖6</a></p>
<p><u>脾中有一管，體象玲瓏，易於出水，故名瓏管。脾之長短與胃相等，脾中間一管，即是　</u></p>
<p>瓏管。另畫瓏管者，謂有出水道，令人易辨也。</p>
<p><u>　</u></p>
<p><a href="_files/p01-e2a8.bmp">圖7</a></p>
<p><u>氣府，俗名雞冠油，下棱抱小腸，氣府內，小腸外，乃存元氣之所。元氣化食，人身生　</u></p>
<p>命之源，全在於此。此系小腸，外有氣府包裹之。</p>
<p><u>　</u></p>
<p><a href="_files/p01-e2a9.bmp">圖8</a></p>
<p><u>中是瓏管，水由瓏管分流兩邊出水道，由出水道滲出，沁入膀胱為尿。出水道中有回血　</u></p>
<p>管，其余皆系水管。</p>
<p><u>　</u></p>
<p><a href="_files/p01-e2a10.bmp">圖9</a></p>
<p><u>大腸上口，即小腸下口，名闌門。大腸下口，即肛門。</u></p>
<p><a href="_files/p01-e2a11.bmp">圖10</a></p>
<p><u>膀胱有下口，無上口，下口歸玉莖。精道下孔，亦歸玉莖。精道在婦女，名子宮。</u></p>
<p><a href="_files/p01-e2a12.bmp">圖11</a></p>
<p><u>兩腎凹處，有氣管兩根，通衛總管。兩旁腎體堅實，內無孔竅，絕不能藏精。</u></p>
<p><a href="_files/p01-e2a13.bmp">圖12</a></p>
<p><u>舌後白片，名曰會厭，乃遮蓋左右氣門、喉門之物。</u></p>
<p><a href="_files/p01-e2a14.bmp">圖13</a></p>
<p><u>古人言經絡是血管，由每臟腑向外長兩根，惟膀胱長四根。余親見百余臟腑，並無向外　</u></p>
<p>長血管之形，故書於圖後以記之。</p>
<p><u>　</u></p>
<h3>會厭、左氣門、右氣門、衛總管、榮總管、氣府、血府記</h3>
<p>欲知臟腑體質，先明出氣、入氣與進飲食之道路。古人謂舌根後名曰喉，喉者候也，候氣之出入，即肺管上口是也。喉之後名曰咽，咽者　也，　飲食入胃，即胃管上口是也咽以納食，喉以納氣，為千古不易之定論。自《靈》、《素》至今，四千年來，無人知其錯而改正者。如咽　飲食入胃，人所共知，惟喉候氣之出入一節，殊欠明白。不知肺兩葉大面向背，上有四尖向胸，下一小片亦向胸，肺管下分為兩杈，入肺兩葉，每杈分九中杈，每中杈分九小杈，每小杈長數小枝，枝之盡頭處並無孔竅，其形仿佛麒麟菜，肺外皮亦無孔竅，其內所存皆輕浮白沫，肺下實無透竅，亦無行氣之二十四孔。先賢論吸氣則肺滿，呼氣則肺虛，此等錯誤，不必細辨。人氣向裡吸，則肚腹滿大，非肺滿大；氣向外呼，則肚腹虛小，非肺虛小。出氣，入氣，吐痰，吐飲，唾津，流涎，與肺毫無干涉。肺管之後，胃管之前，左右兩邊凹處，有氣管兩根，其粗如箸，上口在會厭之下，左曰左氣門，右曰右氣門，痰飲津涎，由此氣管而出。古人誤以咳嗽、喘急、哮吼等症為肺病者，因見其症自胸中來。再者，臨症查有外感，用發散而愈；有燥痰，用清涼而愈；有積熱，用攻下而愈；有氣虛，用補中而愈；有陰虧，用滋陰而愈；有瘀血，用逐瘀而愈。揚揚得意，立言著書，以為肺病無疑。不知左氣門、右氣門兩管，由肺管兩旁下行至肺管前面半截處，歸並一根，如樹兩杈歸一本，形粗如箸，下行入心，由心左轉出，粗如筆管，從心左後行，由肺管左邊過肺入脊前，下行至尾骨，名曰衛總管，俗名腰管。自腰以下，向腹長兩管，粗如箸，上一管通氣府，俗名雞冠油，如倒提雞冠花之狀。氣府乃抱小腸之物，小腸在氣府是橫長，小腸外、氣府內，乃存元氣之所。元氣即火，火即元氣，此火乃人生命之源。食由胃入小腸，全仗元氣蒸化，元氣足則食易化，元氣虛則食難化。此記向腹之上一管。下一管，大約是通男子之精道，女子之子宮。獨此一管，細心查看，未能查驗的確，所以疑似，以俟後之業醫者，倘遇機會，細心查看再補。衛總管，對背心兩邊有兩管，粗如箸，向兩肩長；對腰有兩管，通連兩腎；腰下有兩管，通兩胯；腰上對脊正中，有十一支管連脊，此管皆行氣、行津液。氣足火旺，將以管中之氣上攻，上行過心，由肺管前氣管中出左右氣門。痰飲津涎，本氣管中物，古人何以誤為肺中物，因不知肺管前有氣管相連而長，止知痰飲津涎自胸中來，便疑為肺中物，總是未親見臟腑之故。手握足步，頭轉身搖，用行舍藏，全憑此氣。人氣向裡吸則氣府滿氣府滿，則肚腹大；氣向外呼則氣府虛，氣府虛則肚腹小。衛總管，行氣之府，其中無血。若血歸氣府，血必隨氣而出，上行則吐血、衄血，下行則溺血、便血。衛總管之前，相連而長，粗如箸，名曰榮總管，即血管，盛血，與衛總管長短相等，其內之血，由血府灌溉。血府即人胸下膈膜一片，其薄如紙，最為堅實，前長與心口凹處齊，從兩脅至腰上，順長如坡，前高，即舌後之白片，乃遮蓋左右氣門、喉門之物也。</p>
<h3>津門、津管、遮食、總提、瓏管、出水道記</h3>
<p>咽下胃之一物，在禽名曰嗉，在獸名曰肚，在人名曰胃。古人畫胃圖，上口在胃上，名曰賁門。下口在胃下，名曰幽門。言胃上下兩門，不知胃是三門。畫胃豎長，不知胃是橫長，不但橫長，在腹是平鋪臥長。上口賁門向脊，下底向腹。下口幽門亦在胃上，偏右脅向脊。幽門之左寸許，另有一門，名曰津門。津門上有一管，名曰津管，是由胃出精汁水液之道路正蓋津門。總提下，前連氣府接小腸，後接提大腸；在胃上，後連肝，肝連脊，此是膈膜以下，總提連貫胃肝大小腸之體質。飲食入胃，食留於胃，精汁水液，先由津門流出入津管。</p>
<p>津管寸許，外分三杈。精汁清者，入髓府化髓。精汁濁者，由上杈臥則入血府，隨血化血。</p>
<p>其水液，由下杈從肝之中間，穿過入脾。脾中間有一管，體相玲瓏，名曰瓏管。水液由瓏管分流兩邊，入出水道。出水道形如魚網，俗名網油。水液由出水道滲出，沁入膀胱，化而為尿。出水道出水一段，體查最難。自嘉慶二年看臟腑時，出水道有滿水鈴鐺者，有無水鈴鐺者，於理不甚透徹。以後診病，查看久病壽終之人，臨時有多飲水者，有少飲水者，有不飲水者，故後其水仍然在腹。以此與前所看者參考，與出水道出水一節，雖然近理，仍不敢為定準。後以畜較之，遂喂遂殺之畜，網油滿水鈴鐺，三四日不喂之畜，殺之無水鈴鐺，則知出水道出水無疑。前言飲食入胃，食留於胃，精汁水液，自津門流出。津門既孔如箸大，能向外流精汁水液，稀粥豈不能流出？津門雖孔如箸大，其處胃體甚濃，四圍靠擠縮小，所以水能出而食不能出。況胃之內，津門之左一分遠有一疙瘩，形如棗大，名曰遮食，乃擋食放水之物，待精汁水液流盡，食方腐熟，漸入小腸，化而為糞。小腸何以化食為糞？小腸外有氣府，氣府氣抱小腸，小腸外、氣府內，乃存元氣之所，元氣化食。此處與前氣府參看。化糞入大腸，自肛門出。此篇記精汁由胃出津門，生精生血；水液由瓏管出水道，入膀胱為尿；食由胃入小腸，元氣蒸化為糞之原委也。</p>
<h3>腦髓說</h3>
<p>靈機記性不在心在腦一段，本不當說，縱然能說，必不能行。欲不說，有許多病，人不知言靈前，歸並一根，入心，由心左轉出，過肺入脊，名曰衛總管，前通氣府、精道，後通脊，上通兩肩，中通兩腎，下通兩腿，此管乃存元氣與津液之所。氣之出入，由心所過，心乃出入氣之道路，何能生靈機，貯記性。靈機記性在腦者，因飲食生氣血，長肌肉，精汁之清者，化而為髓，由脊骨上行入腦，名曰腦髓。盛腦髓者，名曰髓海。其上之骨，名曰天靈蓋。兩耳通腦，所聽之聲歸於腦。腦氣虛，腦縮小。腦氣與耳竅之氣不接，故耳虛聾，耳竅通腦之道路中若有阻滯，故耳實聾。兩目即腦汁所生，兩目系如線，長於腦，所見之物歸於腦，瞳人白色，是腦汁下注，名曰腦汁入目。鼻通於腦，所聞香臭歸於腦。腦受風熱，腦汁從鼻流出，涕濁氣臭，名曰腦漏。看小兒初生時，腦未全，囟門軟，目不靈動，耳不知聽，鼻不知聞，舌不言。</p>
<p>至周歲，腦漸生，囟門漸長，耳稍知聽，目稍有靈動，鼻微知香臭，舌能言一二字。至三、四歲，腦髓漸滿，囟門長全，耳能聽，目有靈動，鼻知香臭，言語成句。所以小兒無記性者，腦髓未滿；高年無記性者，腦髓漸空。李時珍曰：腦為元神之府。金正希曰：人之記性皆在腦中。</p>
<p>汪庵曰：今人每記憶往事，必閉目上瞪而思索之。腦髓中一時無氣，不但無靈機，必死一時，一刻無氣，必死一刻。</p>
<p>試看癇症，俗名羊羔風，即是元氣一時不能上轉入腦髓。抽時正是活人死腦袋。活人者，腹先無氣，胸中氣不知出入，暴向外出也。正抽時，胸中有漉漉之聲者，因津液在氣管，腦無靈機之氣，使津液吐咽，津液逗留在氣管，故有此聲。抽後頭疼昏睡者，氣雖轉入於腦，尚未足也。小兒久病後元氣虛抽風，大人暴得氣厥，皆是腦中無氣，故病患毫無知識。以此參考，豈不是靈機在腦之證據乎！</p>
<h3>氣血合脈說</h3>
<p>（脈之形，余以實情告後人，若違心裝神仙，喪天良，評論必遭天誅。）</p>
<p>氣府存氣，血府存血。衛總管由氣府行周身之氣，故名衛總管。榮總管由血府行周身之血，周身氣管。榮總管，體薄形細，長在衛總管之前，與衛總管相連，散布頭面四肢，近皮肉長，即周身血管。氣在氣府，有出有入，出入者，呼吸也。目視耳聽，頭轉身搖，掌握足步，靈機使氣之動轉也。血自血府入榮總管，由榮總管灌入周身血管，滲於管外，長肌肉也。氣管近筋骨生，內藏難見。血管近皮肉長，外露易見。氣管行氣，氣行則動；血管盛血，靜而不動。頭面四肢按之跳動者，皆是氣管，並非血管。如兩眉棱骨後凹處，俗名兩太陽，是處肉少皮連骨，按之跳動，是通頭面之氣管。兩足大指次指之端，是處肉少皮連骨，按之跳動，是通兩足之氣管。兩手腕橫紋高骨之上，是處肉少皮連骨，按之跳動，是通兩手之氣管。</p>
<p>其管有粗有細，有直有曲，各人體質不同。胳膊肘下近手腕肉濃，氣管外露者短。胳膊肘下近手腕肉薄，氣管外露者長。如外感中人，風入氣管，其管必粗，按之出膚。寒入氣管，管中津液必凝，凝則阻塞其氣，按之跳動必慢。火入氣管，火氣上炙，按之跳動必急。人壯邪氣勝，管中氣多，按之必實大有力。人弱正氣衰，管中氣少，按之必虛小無力。久病無生機之人，元氣少，僅止上行頭面兩手，無氣下行，故足面按之不動。若兩手腕氣管上，按之似有似無，或細小如絲，或指下微微亂動，或按之不動，忽然一跳，皆是氣將絕之時。此段言人之氣管，生平有粗細、曲直之不同。管有短長者，因手腕之肉有薄濃也。按之大小者，虛實也。跳動之急慢者，寒火之分也。前所言明明是脈，不言脈者，因前人不知有左氣門、右氣門、血府、氣府、衛總管、榮總管、津門、津管、總提、遮食、瓏管、出水道，在腹是何體質，有何用處。論臟腑、包絡，未定準是何物。論經絡、三焦，未定準是何物。並不能指明經絡是氣管、血管。論脈理，首句便言脈為血府，百骸貫通。言脈是血管，氣血在內流通，周而復始。若以流通而論，此處血真能向彼處流，彼處當有空隙之地，有空隙之地，則是血虛，無空隙之地，血流歸於何處？古人並不知脈是氣管，竟著出許多《脈訣》，立言雖多，論部位一人一樣，並無相同者。</p>
<p>古人論脈二十七字，余不肯深說者，非謂古人無容足之地，恐後人對症無論脈之言，診脈斷臟腑，不能傷筋骨，不能傷皮肉，所傷者無非氣血。氣有虛實，實者邪氣實，虛者正氣虛。</p>
<p>正氣虛，當與「半身不遂門」四十種氣虛之症、「小兒抽風門」二十種氣虛之症，互相參考。血有虧瘀，血虧必有虧血之因，或因吐血、衄血，或溺血、便血，或破傷流血過多，或崩漏、產後傷血過多；若血瘀，有血瘀之症可查，後有五十種血瘀症互相參考。惟血府之血，瘀而不活，最難分別。後半日發燒，前半夜更甚，後半夜輕，前半日不燒，此是血府血瘀；血瘀之輕者，不分四段，惟日落前後燒兩時，再輕者，或燒一時，此內燒兼身熱而言；若午後身涼，發燒片刻，乃氣虛參　之症；若天明身不熱，發燒止一陣，乃參附之症。不可混含從事。</p>
<h3>心無血說</h3>
<p>余友薛文煌，字朗齋，通州人，素知醫。道光十年二月，因赴山東，來舍辭行。閑談言及古宗。血是精汁入血府所化，心乃是出入氣之道路，其中無血。朗齋曰：吾兄所言不實，諸物心皆有血，何獨人心無血？余曰：弟指何物心有血？曰：古方有遂心丹治癲狂，用甘遂末，以豬心血和為丸，豈不是豬心有血之憑據？余曰：此古人之錯，非心內之血，因刀刺破其心，腔子內血流入於心，看不刺破之心，內並無血，余見多多。試看殺羊者，割其頸項，不刺心，心內亦無血。又曰：不刺心，何死之速？余曰：滿腔血從刀口流，所以先流者速，繼而周身血退還腔子，所以後流者遲，血盡氣散，故死之速。如人斗毆破傷，流血過多，氣散血亡，漸至抽風，古人立名曰破傷風，用散風藥治死受傷者，凶手擬抵，治一個，即是死兩個。若明白氣散血亡之義，即用黃　半斤，黨</p>
<h3>方敘</h3>
<p>余不論三焦者，無其事也。在外分頭面四肢，周身血管；在內分膈膜上、下兩段，膈膜以上瘀之症；立血府逐瘀湯，治胸中血府血瘀之症；立膈下逐瘀湯，治肚腹血瘀之症。病有千狀萬態，不可以余為全書。查證有王肯堂《證治準繩》，查方有周定王朱　《普濟方》，查藥有李時珍《本草綱目》，三書可謂醫學之淵源。可讀可記，有國朝之《醫宗金鑒》，理足方效，有吳又可《瘟疫論》。其余名家，雖未見臟腑，而攻發補瀉之方，效者不少。余何敢云著書，不過因著《醫林改錯‧臟腑圖記》後，將平素所治氣虛、血瘀之症，記數條示人以規矩，並非全書。不善讀者，以余之書為全書，非余誤人，是誤余也。</p>
<h3>通竅活血湯所治症目</h3>
<p>通竅活血湯所治之病，開列於後。</p>
<h4>頭發脫落</h4>
<p>傷寒、瘟病後頭發脫落，名醫書皆言傷血，不知皮裡肉外血瘀，阻塞血路，新血不能養發，故發脫落。無病脫發，亦是血瘀。用藥三副，發不脫，十副必長新發。</p>
<h4>眼疼白珠紅</h4>
<p>眼疼白珠紅，俗名暴發火眼。血為火燒，凝於目珠，故白珠紅色。無論有云翳，無云翳，先將此藥吃一副，後吃加味止痛沒藥散，一日二副，三兩日必痊愈。</p>
<h4>糟鼻子</h4>
<p>色紅是瘀血，無論三二十年，此方服三副可見效，二三十副可痊愈。舍此之外，並無驗方。</p>
<h4>耳聾年久</h4>
<p>耳孔內小管通腦，管外有瘀血靠擠，管閉，故耳聾。晚服此方，早服通氣散，一日兩副，三二十年耳聾可愈。</p>
<h4>白癜風</h4>
<p>血瘀於皮裡，服三五副可不散漫，再服三十副可痊。</p>
<h4>紫癜風</h4>
<p>血瘀於膚裡，治法照白癜風，無不應手取效。</p>
<h4>紫印臉</h4>
<p>臉如打傷血印，色紫成片，或滿臉皆紫，皆血瘀所致。如三五年，十副可愈；若十余年，三二十副必愈。</p>
<h4>青記臉如墨</h4>
<p>血瘀症，長於天庭者多，三十副可愈。白癜、紫癜、紫印、青記，自古無良方者，不知病源也。</p>
<h4>牙疳</h4>
<p>牙者，骨之余；養牙者，血也。傷寒、瘟疫、痘疹、痞塊，皆能燒血，血瘀牙床紫，血死牙床黑，血死牙脫，人豈能活？再用涼藥凝血，是促其死也。遇此症，將此藥晚服一副，早服血府逐瘀湯一副，白日煎黃　八錢，徐徐服之，一日服完。一日三副，三日可見效，十日大見效，一月可痊愈。縱然牙脫五七個，不穿腮者，皆可活。</p>
<h4>出氣臭</h4>
<p>血府血瘀，血管血必瘀，氣管與血管相連，出氣安得不臭？即風從花裡過來香之義。晚服此方，早服血府逐瘀湯，三五日必效。無論何病，聞出臭氣，照此法治。</p>
<h4>婦女干勞</h4>
<p>經血三四月不見，或五六月不見，咳嗽急喘，飲食減少，四肢無力，午後發燒，至晚尤甚，將此方吃五副，或六副，至重者九副，未有不痊愈者。</p>
<h4>男子勞病</h4>
<p>初病四肢酸軟無力，漸漸肌肉消瘦，飲食減少，面色黃白，咳嗽吐沫，心煩躁急，午後潮熱，天亮汗多，延醫調治，始而滋陰，繼而補陽，補之不效，則云虛不受補，無可如何。</p>
<p>可笑著書者，不分別因弱致病，因病致弱。果系傷寒、瘟疫大病後，氣血虛弱，因虛弱而病，自當補弱而病可痊。本不弱而生病，因病久致身弱，自當去病，病去而元氣自復。查外無表症，內無裡症，所見之症，皆是血瘀之症。常治此症，輕者九副可愈，重者十八副可愈。</p>
<p>吃三副後，如果氣弱，每日煎黃　八錢，徐徐服之，一日服完，此攻補兼施之法。若氣不甚弱，黃　不必用，以待病去，元氣自復。</p>
<h4>交節病作</h4>
<p>無論何病，交節病作，乃是瘀血。何以知其是瘀血？每見因血結吐血者，交節亦發，故知之。服三副不發。</p>
<h4>小兒疳證</h4>
<p>疳病初起，尿如米泔，午後潮熱，日久青筋暴露，肚大堅硬，面色青黃，肌肉消瘦，皮毛憔如脾疳、疳瀉、疳腫、疳痢、肝疳、心疳、疳渴、肺疳、腎疳、疳熱、腦疳、眼疳、鼻疳、牙疳、脊疳、蛔疳、無辜疳、丁奚疳、哺露疳，分病十九條，立五十方，方內多有梔子、黃連、羚羊、石膏大寒之品。因論病源系乳食過飽，肥甘無節，停滯中脘，傳化遲滯，腸胃漸傷，則生積熱，熱盛成疳，則消耗氣血，煎灼津液，故用大寒以清積熱。余初時對症用方，無一效者。後細閱其論，因飲食無節，停滯中脘，此論是停食，不宜大寒之品。以傳化遲滯，腸胃漸傷，則生積熱之句而論，當是虛熱，又不宜用大寒之品。後遇此症，細心審查，午後潮熱，至晚尤甚，乃瘀血也。青筋暴露，非筋也，現於皮膚者，血管也，血管青者，內有瘀血。至肚大堅硬成塊，皆血瘀凝結而成。用通竅活血湯，以通血管；用血府逐瘀湯，去午後潮熱；用膈下逐瘀湯，消化積塊。三方輪服，未有不愈者。</p>
<h4>通竅活血湯</h4>
<p>赤芍（一錢）　川芎（一錢）　桃仁（三錢，研泥）　紅花（三錢）　老蔥（三根，切碎）　鮮薑（三錢，切碎）　紅棗（七個，去核）　麝香（五厘，絹包）</p>
<p>用黃酒半斤，將前七味煎一盅，去渣，將麝香入酒內，再煎二沸，臨臥服。方內黃酒，各處香，市井易於作假，一錢真，可合一兩假，人又不能辨。此方麝香最要緊，多費數文，必買好的方妥，若買當門子更佳。大人一連三晚，吃三副，隔一日再吃三副。若七八歲小兒，兩晚吃一副；三兩歲小兒，三晚吃一副。麝香可煎三次，再換新的。</p>
<p><u>方歌</u></p>
<p>通竅全憑好麝香，桃紅大棗老蔥薑，川芎黃酒赤芍藥，表裡通經第一方。</p>
<h4>加味止痛沒藥散</h4>
<p>治初起眼疼，白珠紅，後起云翳。</p>
<p>沒藥（三錢）　血竭（三錢）　大黃（三錢）　朴硝（二錢）　石決明（三錢，　）</p>
<p>為末，分四副，早晚清茶調服。眼科外症，千古一方。</p>
<h4>通氣散</h4>
<p>治耳聾不聞雷聲。余三十歲立此方。</p>
<p>柴胡（一兩）　香附（一兩）　川芎（五錢）</p>
<p>為末，早晚開水沖服三錢。</p>
<h3>血府逐瘀湯所治症目</h3>
<p>血府逐瘀湯所治之病，開列於後。</p>
<h4>頭痛</h4>
<p>頭痛有外感，必有發熱惡寒之表症，發散可愈；有積熱，必舌乾、口渴，用承氣可愈；有氣好，百方不效，用此方一劑而愈。</p>
<h4>胸疼</h4>
<p>胸疼在前面，用木金散可愈；後通背亦疼，用栝蔞薤白白酒湯可愈；在傷寒，用栝蔞、陷胸、柴胡等，皆可愈。有忽然胸疼，前方皆不應，用此方一副，疼立止。</p>
<h4>胸不任物</h4>
<p>江西巡撫阿霖公，年七十四，夜臥露胸可睡，蓋一層布壓則不能睡，已經七年，召余診之，此方五副痊愈。</p>
<h4>胸任重物</h4>
<p>一女二十二歲，夜臥令仆婦坐於胸方睡，已經二年，余亦用此方，三副而愈。設一齊問病源，何以答之。</p>
<h4>天亮出汗</h4>
<p>醒後出汗，名曰自汗。因出汗醒，名曰盜汗，盜散人之氣血。此是千古不易之定論。竟有用瘀湯，一兩副而汗止。</p>
<h4>食自胸右下</h4>
<p>食自胃管而下，宜從正中食入咽。有從胸右邊咽下者，胃管在肺管之後，仍由肺葉之下轉入肺前，由肺下至肺前出膈膜入腹，肺管正中，血府有瘀血，將胃管擠靠於右。輕則易治，無礙飲食也；重則難治，擠靠胃管，彎而細，有礙飲食也。此方可效，痊愈難。</p>
<h4>心裡熱</h4>
<p>（名曰燈籠病）</p>
<p>身外涼，心裡熱，故名燈籠病，內有血瘀。認為虛熱，愈補愈瘀；認為實火，愈涼愈凝。三兩副血活熱退。</p>
<h4>瞀悶</h4>
<p>即小事不能開展，即是血瘀，三副可好。</p>
<h4>急躁</h4>
<p>平素和平，有病躁急，是血瘀，一二副必好。</p>
<h4>夜睡夢多</h4>
<p>夜睡夢多，是血瘀，此方一兩副痊愈。外無良方。</p>
<h4>呃逆</h4>
<p>（俗名打咯忒）</p>
<p>因血府血瘀，將通左氣門、右氣門歸並心上一根氣管從外擠嚴，吸氣不能下行，隨上出，故氣湯、都氣湯、丁香柿蒂湯、附子理中湯、生薑瀉心湯、代赭旋覆湯、大小陷胸等湯治之，無一效者。相傳咯忒傷寒，咯忒瘟病，必死。醫家因古無良法，見此症則棄而不治。無論傷寒、瘟疫、雜症，一見呃逆，速用此方，無論輕重，一副即效。此余之心法也。</p>
<h4>飲水即嗆</h4>
<p>飲水即嗆，乃會厭有血滯，用此方極效。古人評論全錯，余詳於痘症條。</p>
<h4>不眠</h4>
<p>夜不能睡，用安神養血藥治之不效者，此方若神。</p>
<h4>小兒夜啼</h4>
<p>何得白日不啼，夜啼者，血瘀也。此方一兩副痊愈。</p>
<h4>心跳心忙</h4>
<p>心跳心忙，用歸脾安神等方不效，用此方百發百中。</p>
<h4>夜不安</h4>
<p>夜不安者，將臥則起，坐未穩又欲睡，一夜無寧刻，重者滿床亂滾，此血府血瘀。此方服十余副可除根。</p>
<h4>俗言肝氣病</h4>
<p>無故愛生氣，是血府血瘀，不可以氣治。此方應手效。</p>
<h4>乾嘔</h4>
<p>無他症，惟乾嘔，血瘀之症。用此方化血，而嘔立止。</p>
<h4>晚發一陣熱</h4>
<p>每晚內熱，兼皮膚熱一時，此方一副可愈，重者兩副。</p>
<h4>血府逐瘀湯</h4>
<p>當歸（三錢）　生地（三錢）　桃仁（四錢）　紅花（三錢）　枳殼（二錢）　赤芍（二錢）　柴胡（一錢）　甘草（一錢）　桔梗（一錢半）　川芎（一錢半）　牛膝（三錢）</p>
<p>水煎服。</p>
<p><u>方歌</u></p>
<p>血府當歸生地桃，紅花甘草殼赤芍，柴胡芎桔牛膝等，血化下行不作勞。</p>
<h3>膈下逐瘀湯所治症目</h3>
<p>膈下逐瘀湯所治之症，開列於後。</p>
<h4>積塊</h4>
<p>積聚一症，不必論古人立五積、六聚、七　、八瘕之名，亦不議駁其錯，駁之未免過煩。今然如故，自然不在腸胃之內，必在腸胃之外。腸胃之外，無論何處，皆有氣血。氣有氣管，血有血管。氣無形不能結塊，結塊者，必有形之血也。血受寒，則凝結成塊，血受熱，則煎熬成塊，豎血管凝結，則成豎條，橫血管凝結，則成橫條，橫豎血管皆凝結，必接連成片，片凝日久，濃而成塊。既是血塊，當發燒。要知血府血瘀必發燒。血府，血之根本，瘀則殞命。肚腹血瘀，不發燒。肚腹，血之梢末，雖瘀不致傷生。無論積聚成塊，在左肋、右肋、臍左、臍右、臍上、臍下，或按之跳動，皆以此方治之，無不應手取效。病輕者少服，病重者多服，總是病去藥止，不可多服。倘病患氣弱，不任克消，原方加黨參三五錢皆可，不必拘泥。</p>
<h4>小兒痞塊</h4>
<p>小兒痞塊，肚大青筋，始終總是血瘀為患，此方與前通竅活血湯、血府逐瘀湯，三方輪轉服之，月余，未有不成功者。</p>
<h4>痛不移處</h4>
<p>凡肚腹疼痛，總不移動，是血瘀，用此方治之極效。</p>
<h4>臥則腹墜</h4>
<p>病患夜臥，腹中似有物，左臥向左邊墜，右臥向右邊墜，此是內有血瘀，以此方為主，有雜症，兼以他藥。</p>
<h4>腎瀉</h4>
<p>五更天泄三兩次，古人名曰腎泄。言是腎虛，用二神丸、四神丸等藥，治之不效，常有三五年不愈者。病不知源，是難事也。不知總提上有瘀血，臥則將津門擋嚴，水不能由津門出，由幽門入小腸，與糞合成一處，糞稀溏，故清晨瀉三五次。用此方逐總提上之瘀血，血活津門無擋，水出瀉止，三五副可痊愈。</p>
<h4>久瀉</h4>
<p>瀉肚日久，百方不效，是總提瘀血過多，亦用此方。</p>
<h4>膈下逐瘀湯</h4>
<p>靈脂（二錢，炒）　當歸（三錢）　川芎（二錢）　桃仁（三錢，研泥）　丹皮（二錢）　赤芍（二錢）　烏藥（二錢）　元胡（一錢）　甘草（三錢）　香附（錢半）　紅花（三錢）　枳殼（錢半）</p>
<p>水煎服。</p>
<p><u>方歌</u></p>
<p>膈下逐瘀桃牡丹，赤芍烏藥元胡甘，歸芎靈脂紅花殼，香附開鬱血亦安。</p>
<h2>卷下</h2>
<h3>半身不遂論敘</h3>
<p>醫家立言著書，心存濟世者，乃良善之心也。必須親治其症，屢驗方法，萬無一失，方可傳倘病不知源，方不對症，是以活人之心，遺作殺人之事，可不畏歟？如傷寒、瘟疫、雜症、婦科，古人各有所長，對症用方，多半應手取效，其中稍有偏見，不過白玉微瑕。惟半身不遂一症，古之著書者，雖有四百余家，於半身不遂立論者，僅止數人。數人中，並無一人說明病之本源。病不知源，立方安得無錯？余少時遇此症，始遵《靈樞》、《素問》、仲景之論，治之無功。繼遵河間、東垣、丹溪之論，投藥罔效。輾轉躊躇，幾至束手。伏思張仲景論傷寒，吳又可著《瘟疫》，皆獨出心裁，並未引古經一語。余空有活人之心，而無濟世之手。凡遇是症，必細心研究，審氣血之榮枯，辨經絡之通滯，四十年來，頗有所得，欲公之天下，以濟後人，奈不敢以管見之學，駁前人之論，另立方法，自取其罪。友人曰：真胸有確見，屢驗良法，補前人之缺，救後人之難，不但有功於後世，正是前代之勛臣，又何罪之有？余聞斯議，不揣鄙陋，將男、婦、小兒半身不遂，癱腿痿症，抽搐筋攣，得病之源，外現之症，屢驗良方，難治易治之形狀，及前人所論脈理臟腑經絡之錯誤，一一繪圖，申明其說，詳述前後，以俟高明，再加補助，於醫道豈無小補云爾。</p>
<h3>半身不遂論</h3>
<p>半身不遂，病本一體，諸家立論，竟不相同。始而《靈樞經》曰：虛邪偏客於身半，其入深：風中五臟六腑之俞，所中則為偏風。張仲景曰：夫風之為病，當令人半身不遂。三書立論，本源皆專主於風。至劉河間出世，見古人方論無功，另出手眼，云：中風者，非肝木之風內動，亦非外中於風，良由將息失宜，內火暴甚，水枯莫制，心神昏昧，卒倒無所知。其論專主於火。李東垣見河間方論矛盾。又另立論曰：中風者，氣虛而風邪中之，病在四旬以後，壯盛稀有，肥白氣虛者間亦有之。論中有中腑、中臟、中血脈、中經絡之分，立法以本氣虛外受風邪，是其本也。朱丹溪見東垣方症不符，又分途立論，言西北氣寒有中風，東南氣濕非真中風，皆因氣血先虛，濕生痰，痰生熱，熱生風也。其論專主於痰，濕痰是其本也。</p>
<p>王安道見丹溪論中有東南氣濕非真中風一句，便云《靈樞》、《素問》、仲景所言是真中風，河間、東垣、丹溪所言是類中風。虞天民言：王安道分真中風、類中風之說，亦未全是，四方病此者，盡因氣濕痰火挾風而作，何嘗見有真中、類中之分？獨張景岳有高人之見，論半身不遂大體屬氣虛，易中風之名，著非風之論，惟引用《內經》厥逆，並辨論寒熱、血虛、及十二經之見症，與症不符，其方不效者，可惜先生於此症閱歷無多。其余名家所論病因，皆是因風、因火、因氣、因痰之論。所立之方，俱系散風、清火、順氣、化痰之方。有云氣血虛弱而中風邪者，於散風清火方中，加以補氣養血之藥；有云陰虛虧損而中風邪者，於滋陰補腎藥內，佐以順氣化痰之品。或補多而攻少，或補少而攻多，自謂攻補兼施，於心有得。今人遵用，仍然無效。又不敢議論古人之非，不曰古方不合今病，便云古今元氣不同。</p>
<p>既云方不合病，元氣不同，何得傷寒病，麻黃、承氣、陷胸、柴胡，應手取效，何得中風門愈風、導痰、秦艽、三化，屢用無功？總不思古人立方之本，效與不效，原有兩途。其方效者，必是親治其症，屢驗之方；其不效者，多半病由議論，方從揣度，以議論揣度，定論立方，如何能明病之本源。因何半身不遂，口眼歪邪；因何語言蹇澀，口角流涎，大便干燥，小便頻數，毫無定見，古今混猜。以一虧損五成元氣之病，反用攻發克消之方，安得不錯？溯本窮源，非錯於醫，乃錯自著書者之手。嗟乎！此何等事，而竟以意度，想當然乎哉！</p>
<h3>半身不遂辨</h3>
<p>或曰：半身不遂，古人風火濕痰之論，諸家層次議駁，有證據可憑乎？余曰：即以仲景</p>
<p>《傷寒論》中風篇云，中風則令人頭疼身痛，發熱惡寒，乾嘔自汗。《金匱要略》論傷風則令人鼻塞噴嚏，咳嗽聲重，鼻流清涕。中風本門又云：夫風之為病，當令人半身不遂。今請問何等風，何等中法，令人頭疼身痛，發熱惡寒，乾嘔自汗？何等風，何等中法，則令人鼻塞噴嚏，咳嗽聲重，鼻流清涕？何等風，何等中法，則令人半身不遂？半身不遂若果是風，風之中人，必由皮膚入經絡，亦必有由表入裡之症可查。嘗治此症，初得時並無發熱惡寒，頭疼身痛，目痛鼻干，寒熱往來之表症。既無表症，則知半身不遂，非風邪所中。再者，眾人風火濕痰之論立說更為含混。如果是風火濕痰，無論由外中，由內發，必歸經絡。經絡所藏者，無非氣血。氣血若為風火濕痰阻滯，必有疼痛之症。有疼痛之症，乃是身痛之痹症，非是半身不遂。半身不遂，無疼痛之症。余平生治之最多，從未見因身痛痹症而得半身不遂者，由此思之，又非風火濕痰所中。</p>
<h3>半身不遂本源</h3>
<p>或曰：君言半身不遂，虧損元氣，是其本源，何以虧至五成方病？愿聞其說。余曰：夫元氣氣衰，則無力；元氣絕，則死矣。若十分元氣，虧二成，剩八成，每半身仍有四成，則無病。若虧五成，剩五成，每半身只剩二成半，此時雖未病半身不遂，已有氣虧之症，因不疼不癢，人自不覺。若元氣一虧，經絡自然空虛，有空虛之隙，難免其氣向一邊歸並，如右半身二成半，歸並於左，則右半身無氣；左半身二成半，歸並於右，則左半身無氣，無氣則不能動，不能動，名曰半身不遂。不遂者，不遂人用也。如睡時氣之歸並，人不能知覺，不過是醒則不能翻身，惟睡醒時氣之歸並，自覺受病之半身，向不病之半身流動，比水流波浪之聲尤甚，坐時歸並，身必歪倒，行走時歸並，半身無氣，所以跌仆。人便云因跌仆得半身不遂，殊不知非因跌仆得半身不遂，實因氣虧得半身</p>
<h3>口眼歪斜辨</h3>
<p>或曰：半身不遂，既然無風，如何口眼歪斜？余曰：古人立歪斜之名，總是臨症不細心審查之故。口眼歪斜，並非歪斜，因受病之半臉無氣，無氣則半臉縮小，一眼無氣力，不能圓睜，小眼角下抽，口半邊無氣力不能開，嘴角上抽，上下相湊，乍看似歪斜，其實並非左右之歪斜。嘗治此症，凡病左半身不遂者，歪斜多半在右；病右半身不遂者，歪斜多半在左。此理令人不解，又無書籍可考。何者？人左半身經絡上頭面從右行，右半身經絡上頭面從左行，有左右交互之義。余亦不敢為定論，以待高明細心審查再補。</p>
<p>又曰：口眼歪斜，盡屬半臉無氣乎？余曰：前論指兼半身不遂而言。若壯盛人，無半身不遂亦能病口眼歪斜，用通經絡散風之劑，一藥而愈，又非治半身不遂方之所能為也。</p>
<h3>辨口角流涎非痰飲</h3>
<p>或曰：口角所流非痰飲乎？余曰：嘗治此症，見所流盡是清水，並非稠痰。明明氣虛不固津以他症互相參看，流涎者屬氣虛無疑。</p>
<h3>辨大便干燥非風火</h3>
<p>或曰：患半身不遂，兼大便干燥，古人名曰風燥，言其病有風有火，有是理乎？余曰：若是風火，用散風清火潤燥攻下藥，大便一行，風散火清，自當不燥。嘗見治此症者，誤用下藥，下後干燥更甚。總不思平素出大恭時，並非大恭順穀道自流，乃用氣力催大恭下行。既得半身不遂之後，無氣力使手足動，無氣力使舌言，如何有氣力到下部催大恭下行。以此推之，非風火也，乃無氣力催大恭下行。大恭在大腸，日久不行，自干燥也。</p>
<h3>辨小便頻數遺尿不禁</h3>
<p>或曰：小便頻數、遺尿不禁，有火有虛，有分別乎？余曰：有溺時玉莖內疼痛，尿一點一滴開張，尿流而不知，名曰遺尿。不禁者，尿欲出而人禁止不溺，尿仍自出。此專指小便自病而言。若半身不遂，兼小便頻數，遺尿不禁，絕無玉莖疼痛之苦，此是氣虛不固提也。</p>
<h3>辨語言蹇澀非痰火</h3>
<p>或曰：說話不真，古名語言蹇澀。前人論舌之本有痰有火，此理想來不錯？余曰：非痰火也能動，舌亦半邊無氣，亦不能全動，故說話不真。試看小兒氣不足不能行走時，高年人氣衰時，說話俱不真，是其證也。</p>
<h3>辨口噤切牙</h3>
<p>或曰：既無風火，如何口噤切牙？余曰：口噤自是口噤，切牙自是切牙，古人以口噤、切牙傷寒、瘟疫、雜症、婦科，有虛證口噤者，有實證切牙者。獨半身不遂，有口噤，絕無切牙，亦有口噤太甚，下牙裡收，其聲如銼似切牙，實非切牙，亦虛症也。如無半身不遂，又無他症相兼，忽然口噤不開，乃風邪阻滯經絡，氣不上達之所致，用疏通經絡之劑即愈。</p>
<h3>記未病以前之形狀</h3>
<p>或曰：元氣既虧之後，未得半身不遂以前，有虛症可查乎？余生平治之最多，知之最悉。每故一陣風響者，有耳內無故一陣蟬鳴者，有下眼皮常跳動者，有一只眼漸漸小者，有無故一陣眼睛發直者，有眼前常見旋風者，有常向鼻中攢冷氣者，有上嘴唇一陣跳動者，有上下嘴唇相湊發緊者，有睡臥口流涎沫者，有平素聰明忽然無記性者，有忽然說話少頭無尾、語無倫次者，有無故一陣氣喘者，有一手常戰者，有兩手常戰者，有手無名指每日有一時屈而不伸者，有手大指無故自動者，有胳膊無故發麻者，有腿無故發麻者，有肌肉無故跳動者，有手指甲縫一陣陣出冷氣者，有腳指甲縫一陣陣出冷氣者，有兩腿膝縫出冷氣者，有腳孤拐骨一陣發軟、向外棱倒者，有腿無故抽筋者，有腳指無故抽筋者，有行走兩腿如拌蒜者，有心口一陣氣堵者，有心口一陣發空、氣不接者，有心口一陣發忙者，有頭項無故一陣發直者，有睡臥自覺身子沉者，皆是元氣漸虧之症，因不痛不癢，無寒無熱，無礙飲食起居，人最易於疏忽。</p>
<h3>論小兒半身不遂</h3>
<p>或曰：小兒亦有半身不遂者？余曰：小兒自周歲至童年皆有，突然患此症者少，多半由傷寒如泥塑，皆是氣不達於四肢。古人以風治，是於此症閱歷無多。</p>
<h3>癱痿論</h3>
<p>或曰：元氣歸並左右，病半身不遂，有歸並上下之症乎？余曰：元氣虧五成，下剩五成，周之源，因足陽明胃經濕熱，上蒸於肺，肺熱葉焦，皮毛憔悴，發為痿症，概用清涼攻下之方。余論以清涼攻下之藥，治濕熱腿疼痹症則可，治痿症則不相宜。豈知痹症疼痛日久，能令腿癱，癱後仍然腿疼。痿症是忽然兩腿不動，始終無疼痛之苦。倘標本不清，虛實混淆，豈不遺禍後人。</p>
<h4>補陽還五湯</h4>
<p>此方治半身不遂，口服歪斜，語言蹇澀，口角流涎，大便干燥，小便頻數，遺尿不禁。</p>
<p>黃　（四兩，生）　歸尾（二錢）　赤芍（一錢半）　地龍（一錢，去土）　川芎（一錢）　桃仁（一錢）　紅花（一錢）</p>
<p>水煎服。</p>
<p>初得半身不遂，依本方加防風一錢，服四五劑後去之。如患者先有入耳之言，畏懼黃，只日，每日仍服一劑。如已病三兩個月，前醫遵古方用寒涼藥過多，加附子四五錢。如用散風藥過多，加黨參四五錢。若未服，則不必加。此法雖良善之方，然病久氣太虧，肩膀脫落二三指縫，胳膊曲而搬不直，腳孤拐骨向外倒，啞不能言一字，皆不能愈之症，雖不能愈，常服可保病不加重。若服此方愈後，藥不可斷，或隔三五日吃一副，或七八日吃一副，不吃恐將來得氣厥之症。方內黃　，不論何處所產，藥力總是一樣，皆可用。</p>
<p><u>方歌</u></p>
<p>補陽還五赤芍芎，歸尾通經佐地龍，四兩黃　為主藥，血中瘀滯用桃紅。</p>
<h3>瘟毒吐瀉轉筋說</h3>
<p>上吐下瀉轉筋一症，古人立名曰霍亂，宋朝太醫院立方，名曰局方，立藿香正氣散以治之。</p>
<p>毒流行，病吐瀉轉筋者數省，京都尤甚，傷人過多，貧不能葬埋者，國家發帑施棺，月余之間，費數十萬金。彼時業醫者，有用參朮薑附見效者，便言陰寒；有用芩連梔柏見效者，則云毒火。余曰：非也，不分男婦老少，眾人同病，乃瘟毒也。或曰：既是瘟毒，薑附熱，芩連涼，皆有見效者，何也？余曰：芩連效在初病，人壯毒勝時。薑附效在毒敗，人弱氣衰時。又曰：有芩連薑附服之不效，而反有害者，何也？余曰：試看針刺而愈者，所流盡是黑紫血，豈不是瘟毒燒煉。瘟毒自口鼻入氣管，由氣管達於血管，將氣血凝結，壅塞津門，水不得出，故上吐下瀉。初得，用針刺其胳膊肘裡彎處血管，流紫黑血，毒隨血出而愈。或曰：所刺是何穴？請明白指示。余曰：余雖善針，不必論，是穴名曰尺澤。人氣管周身貫通，血管周身亦貫通，尺澤左右四五根血管，刺之皆出血，皆可愈，尺澤上下刺之亦可愈。總之，用針所刺而愈，皆風火氣有餘之症，不足之症，愈針愈壞。此針灸家隱諱而不肯言也。倉卒之時，用針刺，取其捷便也。一面針刺，一面以解毒活血湯治之，活其血，解其毒，未有不一藥而愈者。但此症得之最速，傷元氣最快，一半日可傷生。若吐瀉一兩時後，或半日後，一見腿抽，便是腿上氣少，一見胳膊抽，便是胳膊上氣少。如見眼胞塌陷，汗出如水，肢冷如冰，謾言涼藥有害，即余所立解毒活血湯，亦有過無功。此時無論舌乾口燥，大渴飲冷，一時飲水數碗，放心用薑附回陽湯，一副可奪命。此法非淺醫所能知也。</p>
<h4>解毒活血湯</h4>
<p>連翹（二錢）　葛根（二錢）　柴胡（三錢）　當歸（二錢）　生地（五錢）　赤芍（三錢）　桃仁（八錢，研）　紅花（五錢）　枳殼（一錢）　甘草（二錢）</p>
<p>水煎服。</p>
<p><u>方歌</u></p>
<p>解毒活血連翹桃，紅花歸殼葛赤芍，柴胡甘草同生地，吐瀉良方用水熬。</p>
<p>此方謂初得吐瀉而言，若見汗多，肢冷，眼塌，不可用。</p>
<h4>急救回陽湯</h4>
<p>若吐瀉一見轉筋、身涼、汗多，非此方不可，莫畏病患大渴飲冷不敢用。</p>
<p>黨參（八錢）　附子（八錢，大片）　乾薑（四錢）　白朮（四錢）　甘草（三錢）　桃仁（二錢，研）　紅花（二錢）</p>
<p>水煎服。</p>
<p><u>方歌</u></p>
<p>急救回陽參附薑，溫中術草桃紅方，見真膽雄能奪命，雖有桃紅氣無傷。</p>
<p>解毒活血湯與急救回陽湯，兩方界限釐清，未有不應手而愈者。慎之！慎之！</p>
<h3>論小兒抽風不是風</h3>
<p>夫抽風一症，今人治之不效者，非今人錯治，乃古方誤人。古人不止論病立方誤人，立病名，則名曰慢驚風。慢驚風三字，相連立名，更為可笑，不但文義不通，亦未細察病源。若真是風，風之中人，必由皮膚入經絡，亦必有由表入裡之症可查。既查無外感之表症，古人何得著書立方，總言是風。其所以言風者，因見其病發作之時，項背反張，兩目天吊，口噤不開，口流涎沫，咽喉痰聲，昏沉不省人事，以為中風無疑。殊不知項背反張，四肢抽搐，手足握固，乃氣虛不固肢體也；兩目天吊，口噤不開，乃氣虛不上升也；口流涎沫，乃氣虛不固津液也；咽喉往來痰聲，非痰也，乃氣虛不歸原也。如不明此理，試看高年人，久病壽終時，或項強身重，或露晴天吊，或牙緊流涎，或痰聲拽鋸，或冷汗淋漓，一派氣脫之症，明明顯露。以抽風之兩目天吊，口噤流涎，痰聲拽鋸，互相參看，則抽風之症，氣虛無疑。元氣既虛，必不能達於血管，血管無氣，必停留而瘀。以一氣虛血瘀之症，反用散風清火之方，安得不錯？服散風藥，無風服之則散氣；服清火藥，無火服之則血凝；再服攻伐克消之方，氣散血亡，豈能望生？溯本窮源，非死於醫，乃死於著書者之手。每見業小兒科閱歷多者，絕不誤人，因抽風古方不效，見抽風則棄而不治。亦有高手，看小兒現下之症，知將來必抽風，雖無方調治，亦必告知病家，此病恐將來抽風。何以知其將來必抽風？凡將欲抽風之前，必先見抽風之症，如見頂門下陷，昏睡露睛，口中搖舌，不能啼哭，哭無眼淚，鼻孔煽動，咽喉痰聲，頭低不抬，口噤無聲，四肢冰冷，口吐白沫，胸高如碗，喘急氣促，面色青白，汗出如水，不能裹乳，大便綠色，腹內空鳴，下泄上嗽，肌肉跳動，俱是抽風之兆。前二十症，不必全見，但見一二症，則知將來必抽。其中有可治者，有不可治者，並所用之方，皆開列於後。若露睛天吊，不食不哭，痰鳴氣喘，病雖沉重，乃可治之症。若天庭灰色，腎子上縮，或脈微細，或脈全無，外形雖輕，乃不治之症。</p>
<h4>可保立蘇湯</h4>
<p>此方治小兒因傷寒、瘟疫，或痘疹、吐瀉等症，病久氣虛，四肢抽搐，項背後反，兩目天吊，口流涎沫，昏沉不省人事，皆效。</p>
<p>黃　（一兩五錢，生）　黨參（三錢）　白朮（二錢）　甘草（二錢）　當歸（二錢）　白芍（二錢）　棗仁（三錢，炒）　山萸（一錢）　枸杞子（二錢）　故紙（一錢）　核桃（一個，連皮打碎）</p>
<p>水煎服。</p>
<p>此方分兩，指四歲小兒而言；若兩歲，分兩可以減半；若一歲，分量可用三分之一；若兩三個月，分兩可用四分之一。又不必拘於副數。余治此症，一日之間，常有用兩三副者。服至不抽，必告知病家，不可因不抽，遂不服藥，必多服數副，氣足方妥。</p>
<p><u>方歌</u></p>
<p>可保立蘇故紙棗，朮歸芍藥參　草，山萸枸杞水煎服，一個核桃帶殼搗。</p>
<h3>論痘非胎毒</h3>
<p>夫小兒痘疹，自漢至今，著書立方者，不可勝數。大抵不過分順險逆，辨別輕重死生，並無；有遵解毒湯，用犀角、黃連者。痘本一體，用藥竟不相同。遇順險之痘，查小兒壯弱，分別補瀉清涼，用之皆可望生。惟一見逆症，遂無方調治，即云天數當然，此不知痘之本源故也。或曰：古人若不知痘之本源，如何見逆痘便知幾天死？余曰：此非古人知痘之本源也，因看痘多，知某日見苗，某日何形，某日何色，某日何症，治之不效，至某日必死。古人知逆痘幾天死者，蓋由此也。如知痘之本源，豈無方調治？或曰：如君所言，痘之逆症有救乎？余曰：痘之險症，隨手而愈，不足論。至於逆症，皆有本源，辨明本源，豈不可救？如余所治，悶痘不出，周身攢簇，細密如蠶殼，平板如蛇皮，不熱即出，見點紫黑，周身細密無縫，紫白灰色相間，蒙頭、鎖口、鎖項、托腮，皮肉不腫，通身水泡，不起脹行漿，不化膿結痂，見，胃口不開，至危之時，頭不能抬，足歪不正，兩目天吊，項背後反等逆症，初見之時，辨明虛實，皆可望生。易此理者，知余補前人之未及，救今人之疑難；不明此理者，妄加評論，以余言為狂妄，而不知非狂也，知痘之本源也。不似諸家議論，出痘總是胎毒。諸書又曰：自漢以前無出痘者。既云胎毒，漢以前人獨非父母所生。此論最為可笑。若依古人之論，有謂胎毒藏於臟腑，而何以未出痘以前，臟腑安然無病？有謂胎毒藏於肌肉，而何未出痘以前花。信如斯言，因驚恐跌仆，傷食感冒，觸動而發，則是自不小心。伏思出花正盛時，非止一人出花，少則一方，多則數省，莫非數省之人，同時皆不小心？此論更為無理。再見世上種痘之醫，所種之痘，無論多少，無一不順。若是胎毒，毒必有輕重，毒重者痘必險，何以能無一不順？由此思之，如何胎毒二字，牢不可破，殊不知痘非胎毒，乃胞胎內血中之濁氣也。兒在母腹，始因一點真精凝結成胎，以後生長臟腑肢體，全賴母血而成，胞胎內血中濁氣，降生後仍藏榮血之中，遇天行觸濁氣之瘟疫，由口鼻而入氣管，由氣管達血管，將血中濁氣，逐之自皮膚而出，色紅似花，故名天花，形圓如痘，故名曰痘。總之，受瘟疫輕，瘟毒隨花而出，出花必順；受瘟疫重，疫毒在內逗留，不能隨花而出，出花必險；受瘟疫至重，瘟疫在內燒煉其血，血受燒煉，其血必凝，血凝色必紫，血死色必黑，痘之紫黑，是其證也。死血阻塞道路，瘟疫之毒，外不得由皮膚而出，必內攻臟腑，臟腑受毒火煎熬，隨變生各臟逆症。正對痘科書中所言某經逆痘，不知非某經逆痘也，乃某經所受之瘟毒也。痘之順逆，在受瘟疫之輕重。治痘之緊要，全在除瘟毒之方法。瘟毒不除，花雖少而必死。瘟毒若除，花雖多不致傷生。痘科書中，但論治胎毒，而不知治瘟毒，縱知治瘟毒，而不知瘟毒巢穴在血。若辨明瘟毒輕重，血之通滯，氣之虛實，立救逆痘於反掌之間，此所謂知其要者，一言而終耳。</p>
<h3>論痘漿不是血化</h3>
<p>痘出時是紅色，五六天後忽變清漿，次變白漿，次變混漿，次變黃膿，終而結痂。古人謂痘之變清水、白漿、混漿、黃膿乎？痘本血管內血中濁氣，遇天行逐濁氣之瘟疫，自口鼻而入於氣管，達於血管，將血管中濁氣與血，並氣管中津液，逐之自毛孔而出，所以形圓色紅，五六天後，痘中之血，仍退還血管，痘內止存濁氣津液，津液清，名曰清漿。清漿為瘟毒燒煉，稠而色白，故名白漿。白漿再煉，再稠而混，故名混漿。混漿再煉，稠如瘡膿，故名黃膿。將黃膿煉干而結痂。痘不行漿，皆因血不退還血管，血不退還血管，皆因血管內有瘟毒燒煉，血凝阻塞血之道路，若通血管之瘀滯，何患漿之不行？</p>
<h3>論出痘飲水即嗆</h3>
<p>出痘有四五天、七八天飲水即嗆者，古人論毒火壅於咽喉，列於不治之症。總是不明咽喉左，名左氣門、右氣門。舌根有一白片，其濃如錢，名曰會厭，正蓋肺管、左右氣門上口。人咽飲食，必以舌尖抵上　，使會厭將肺管與左右氣門蓋嚴，飲食方可過肺管、左右氣門，入後之胃管。試看人吃飯，飲食將入嗓至喉，未入咽時，或忽然冷笑，氣暴上衝，會厭一開，或一粒米、一滴水，入左右氣門，立刻由鼻嗆出，是其證也。今瘟毒燒煉，會厭血凝，不能蓋嚴氣門，故飲水滲入即嗆。食不嗆者，因微微小縫，能滲水而食不能入，故不嗆。化開會厭中瘀血，其嗆立止。</p>
<h3>論七八天痘瘡作癢</h3>
<p>痘瘡作癢者，當先分明皮膚。皮是皮，膚是膚，皮膚不分，如何能明痘瘡作癢之本源？如人津液盡歸於皮之外，膚之內。痘窠之中，正氣虛，不能達痘中行漿、化膿、結痂，以致瘟毒外不得出膚，內不得入皮，毒在皮外膚裡，故作癢。醫家遵《素問》「諸瘡痛癢，皆屬於火」之句，隨用清涼之品，克伐生氣，不但作癢不止，胃氣轉傷。有專用補氣者，氣愈補而血愈瘀。血瘀，氣更不能外達於皮膚。斑此時用補氣破血之劑，通開血道，氣直達於皮膚，未有不一藥而癢即止者。</p>
<h4>通經逐瘀湯</h4>
<p>此方無論痘形攢簇，蒙頭覆釜，周身細碎成片，或夾疹夾斑，浮衣水泡，其色或紫、或暗、其方中藥性，不大寒大熱，不大攻大下，真是良方也。</p>
<p>桃仁（八錢，研）　紅花（四錢）　赤芍（三錢）　山甲（四錢，炒）　皂刺（六錢）　連翹（三錢，去心）　地龍（三錢，去心）　柴胡（一錢）　麝香（三厘，絹包）</p>
<p>水煎服。</p>
<p>大便干燥，加大黃二錢，便利去之。五六日後，見清漿、白漿，將麝香去之，加黃　五錢，若一二歲，分兩可減半，若八九歲，分兩可加一半。</p>
<p><u>方歌</u></p>
<p>通經甲皂麝香龍，逐瘀赤芍桃與紅，連翹柴胡毒可解，便干微用大黃攻。</p>
<h4>會厭逐瘀湯</h4>
<p>此方治痘五六天後，飲水即嗆。</p>
<p>桃仁（五錢，炒）　紅花（五錢）　甘草（三錢）　桔梗（三錢）　生地（四錢）　當歸（二錢）</p>
<p>元參（一錢）　柴胡（一錢）　枳殼（二錢）　赤芍（二錢）</p>
<p>水煎服。</p>
<p>此方指五六天後嗆水而言。若痘後抽風兼飲水即嗆者，乃氣虛不能使會厭蓋嚴氣管，照抽風方治之。</p>
<p><u>方歌</u></p>
<p>會厭逐瘀是病源，桃紅甘桔地歸元，柴胡枳殼赤芍藥，水嗆血凝立可痊。</p>
<h4>止瀉調中湯</h4>
<p>治痘六七日後泄瀉不止，或十余日後泄瀉，皆治之。</p>
<p>黃　（八錢）　黨參（三錢）　甘草（二錢）　白朮（二錢）　當歸（二錢）　白芍（二錢）　川芎（一錢）　紅花（三錢）　附子（一錢，制）　良薑（五分）　官桂（五分，去粗皮）</p>
<p>水煎服。</p>
<p>此方指痘六七天後泄瀉而言。痘後抽風兼泄瀉者，亦效。不是初出痘泄瀉之方。</p>
<p><u>方歌</u></p>
<p>止瀉調中參草　，朮歸芍藥芎紅隨，附子良薑桂少用，氣虛泄瀉總相宜。</p>
<h4>保元化滯湯</h4>
<p>治痘五六日後痢疾，或白或紅，或紅白相雜，皆治。</p>
<p>黃　（一兩，煎湯沖）　滑石（一兩，末）</p>
<p>晚服加白砂糖五錢更妙。</p>
<p>此方乃余之心法，不獨治小兒痘症、痢疾，大人初痢、久痢，皆有奇效。然大人初痢，滑石用一兩五錢，白糖一兩，不必用黃　。久痢加黃　，滑石仍用一兩五錢。</p>
<p><u>方歌</u></p>
<p>保元化滯補攻方，一兩黃　煎作湯，為末滑石須一兩，沖服痢止氣無傷。</p>
<h4>助陽止癢湯</h4>
<p>治痘六七日後，作癢不止，抓破無血。兼治失音聲啞。</p>
<p>黃　（一兩）　桃仁（二錢，研）　紅花（二錢）　皂刺（一錢）　赤芍（一錢）　山甲（一錢，炒）</p>
<p>水煎服。</p>
<p>此方治痘後六七日，作癢甚者，抓破無血。不是治初出痘一二日作癢之方。</p>
<p><u>方歌</u></p>
<p>助陽止癢　桃紅，皂刺赤芍山甲同，聲啞失音同一治，表虛因裡氣不行。</p>
<h4>足衛和榮湯</h4>
<p>治痘後抽風，兩眼天吊，項背反張，口噤不開，口流涎沫，昏沉不省人事，周身潰爛，膿水直流，皆治之。</p>
<p>黃　（一兩）　甘草（二錢）　白朮（二錢）　黨參（三錢）　白芍（二錢）　當歸（一錢）</p>
<p>棗仁（二錢）　桃仁（一錢五分，研）　紅花（一錢五分）</p>
<p>水煎服。</p>
<p>此方專治痘後抽風及周身潰爛。若因傷寒、瘟疫、雜症疾久，氣虛抽風，抽風門另有專方。</p>
<p><u>方歌</u></p>
<p>足衛和榮　草術，參芍歸棗桃紅扶，抽風風字前人誤，服此還陽命可蘇。</p>
<h3>少腹逐瘀湯說</h3>
<p>此方治少腹積塊疼痛，或有積塊不疼痛，或疼痛而無積塊，或少腹脹滿，或經血見時，先腰兼少腹疼痛，或粉紅兼白帶，皆能治之，效不可盡述。</p>
<p>更出奇者，此方種子如神，每經初見之日吃起，一連吃五副，不過四月必成胎。必須男女年雙歲，必擇單月方生子。擇月不可以初一為定準，以交節為定準。要知偶有經過二十日結胎者，切記準日期。倘月份不對生女，莫謂余方不驗。余用此方，效不可以指屈。</p>
<p>道光癸未年，直隸布政司素納公，年六十，因無子甚憂，商之於余。余曰：此易事耳。</p>
<p>至六。此方更有險而不險之妙。孕婦體壯氣足，飲食不減，並無傷損，三個月前後，無故小產，常有連傷數胎者，醫書頗多，仍然議論滋陰養血、健脾養胃、安胎保胎，效方甚少。不知子宮內，先有瘀血占其地，胎至三月再長，其內無容身之地，胎病靠擠，血不能入胎胞，從旁流而下，故先見血。血既不入胎胞，胎無血養，故小產。如曾經三月前後小產，或連傷三五胎，今又懷胎，至兩個月前後，將此方服三五副，或七八副，將子宮內瘀血化淨，小兒身長有容身之地，斷不至再小產。若已經小產，將此方服三五副，以後存胎，可保無事。此方去疾，種子，安胎，盡善盡美，真良善之方也。</p>
<h4>少腹逐瘀湯</h4>
<p>小茴香（七粒，炒）　乾薑（二分，炒）　元胡（一錢）　沒藥（二錢，研）　當歸（三錢）　川芎（一錢）　官桂（一錢）　赤芍（二錢）　蒲黃（三錢，生）　靈脂（二錢，炒）</p>
<p>水煎服。</p>
<p><u>方歌</u></p>
<p>少腹茴香與炒薑，元胡靈脂沒芎當，蒲黃官桂赤芍藥，種子安胎第一方。</p>
<h3>懷胎說</h3>
<p>（兼記難產胎衣不下方）</p>
<p>古人論胎在子宮，分經輪養：一月肝經養，二月膽經養，三月心經養，四月三焦養，五月脾經交代，膽經交棒，此論實在無情無理。兒在母腹，全賴母血而成，一言可了，何必圖取虛名，故作欺人之論。又如子啼門云：兒在母腹，口含臍帶疙瘩，吮血養生。請問初結胎無口時，又以何物吮血養生？既不明白，何不歸而謀諸婦，訪問收生婆，訪問的確再下筆，斷不致遺笑後人。豈知結胎一月之內，並無胎衣。一月後，兩月內，始生胎衣。胎衣既成。兒體已定。胎衣分兩段，一段濃，是雙層，其內盛血；一段薄，是單層，其內存胎。濃薄之間，夾縫中長一管，名曰臍帶，下連兒臍。母血入胎衣內盛血處，轉入臍帶，長臟腑肢體，周身齊長，並非先長某臟，後長某腑。一月小產者，並無胎衣；兩月小產者，有胎衣，形如秤錘，上小下大，不過是三指長短；三月小產者，耳目口鼻俱備，惟手足有拳不分指；至月足臨生時，兒蹬破胎衣，頭轉向下而生，胎衣隨胎而下，胎衣上之血，隨胎衣而下，此其長也。</p>
<p>最關緊要是難產，古人原有開骨散，服之有效者，有不效者，其方總論活血開骨，不重用力勞乏。佘每用開骨散，重加黃　，不過一時胎即下。至胎衣不下，古人原有沒竭散，始而用之，有效與不效，繼而加倍用之，胎衣立下。藥味要緊，分量更要緊。</p>
<h4>古開骨散</h4>
<p>治難產。</p>
<p>當歸（一兩）　川芎（五錢）　龜板（八錢）　血余（一團，燒灰）　加黃　（四兩，生）</p>
<p>水煎服。</p>
<h4>古沒竭散</h4>
<p>治胎衣不下。</p>
<p>沒藥（三錢）　血竭（三錢）</p>
<p>為末，滾水調服。</p>
<h4>黃桃紅湯</h4>
<p>治產後抽風，兩目天吊，口角流涎，項背反張，昏沉不省人事。</p>
<p>黃　（八兩，生）　桃仁（三錢，研）　紅花（二錢）</p>
<p>水煎服。</p>
<p>婦科以《濟陰綱目》為最，《醫宗金鑒》擇其方論，纂為歌訣，令人易讀易記。惟抽風一症，方不效，余已補之。</p>
<h4>古下瘀血湯</h4>
<p>治血鼓。何以知是血鼓？腹皮上有青筋，是血鼓腹大。</p>
<p>桃仁（八錢）　大黃（五分）　蟲（三個）　甘遂（五分，為末沖服，或八分）</p>
<p>水煎服。與前膈下逐瘀湯，輪流服之安。</p>
<h4>抽葫蘆酒</h4>
<p>治腹大周身腫。</p>
<p>自抽干葫蘆，焙為末，黃酒調服三錢。若葫蘆大，以黃酒入內煮一時，服酒頗效，取其自抽之義。</p>
<h4>蜜蔥豬膽湯</h4>
<p>治通身腫，肚腹不大。</p>
<p>豬膽（一個，取汁）　白蜜（四兩四錢，調和一處）　蔥頭（四個，帶白一寸）　黃酒（半斤）</p>
<p>用酒煎蔥兩三沸，將酒沖入蜜膽內，服之立效。</p>
<h4>刺皮散</h4>
<p>治遺精，夢而後遺，不夢而遺，虛實皆效。</p>
<p>刺　皮一個，瓦上焙乾，為末，黃酒調，早服。實在效真難吃。</p>
<h4>小茴香酒</h4>
<p>治白濁，俗名騙白，又名下淋，精道受風寒，藥全不效。</p>
<p>小茴香一兩炒黃為粗末，黃酒半斤燒滾沖，停一刻，去渣服酒。</p>
<h3>痹症有瘀血說</h3>
<p>凡肩痛、臂痛、腰疼、腿疼，或周身疼痛，總名曰痹症。明知受風寒，有溫熱發散藥不愈，云：病在皮脈，易於為功，病在筋骨，實難見效。因不思風寒濕熱入皮膚，何處作痛。入於氣管，痛必流走；入於血管，痛不移處。如論虛弱，是因病而致虛，非因虛而致病。總滋陰，外受之邪，歸於何處？總逐風寒，去濕熱，已凝之血，更不能活。如水遇風寒，凝結成冰，冰成風寒已散。明此義，治痹症何難。古方頗多，如古方治之不效，用：</p>
<h4>身痛逐瘀湯</h4>
<p>秦艽（一錢）　川芎（二錢）　桃仁（三錢）　紅花（三錢）　甘草（二錢）　羌活（一錢）　沒藥（二錢）　當歸（三錢）　靈脂（二錢，炒）　香附（一錢）　牛膝（三錢）　地龍（二錢，去土）</p>
<p>若微熱，加蒼朮、黃柏；若虛弱，量加黃　一二兩。</p>
<p><u>方歌</u></p>
<p>身痛逐瘀膝地龍，羌秦香附草歸芎，黃　蒼柏量加減，要緊五靈桃沒紅。</p>
<h4>砂丸</h4>
<p>治瘰　鼠瘡，滿項滿胸，破爛流膿，無不應手取效。</p>
<p>砂（二錢，研細）　皂角子（一百個）　干醋（一斤，前二味入醋內浸三日）</p>
<p>入砂鍋內熬之，將干，將鍋底　砂拌於皂子上，候干，以微火焙乾，或以爐台上炕之。</p>
<p>每晚嚼五粒，或八粒，一日早晚或吃兩次，以滾水送。然干則皂子過硬，為末服亦可。方內砂有紅白二種，余所用是紅色者。未知白色　砂，功效若何。　砂紅色者，出庫車北山洞中，夏令從洞中出火，人不能近前，冬令回民赤身近洞取之。《本草》言西域鹽鹵熬成者，誤也。</p>
<h4>癲狂夢醒湯</h4>
<p>癲狂一症，哭笑不休，詈罵歌唱，不避親疏，許多惡態，乃氣血凝滯，腦氣與臟腑氣不接，如同作夢一樣。</p>
<p>桃仁（八錢）　柴胡（三錢）　香附（二錢）　木通（三錢）　赤芍（三錢）　半夏（二錢）　腹皮（三錢）　青皮（二錢）　陳皮（三錢）　桑皮（三錢）　蘇子（四錢，研）　甘草（五錢）</p>
<p>水煎服。</p>
<p><u>方歌</u></p>
<p>癲狂夢醒桃仁功，香附青柴半木通，陳腹赤桑蘇子炒，倍加甘草緩其中。</p>
<h4>龍馬自來丹</h4>
<p>馬錢子（八兩）　地龍（八條，去土，焙乾，為末）　香油（一斤）</p>
<p>將香油入鍋內熬滾，入馬錢子炸之，待馬錢子微有響爆之聲，拿一個用刀切兩半，看其內以，鹽水送。若五六歲小兒，服二分，紅糖水送。如不為丸，面子亦可服。如吃齋人，去地龍亦可。</p>
<p>治癇症，俗名羊羔風，每晚先服黃　赤風湯一副，臨臥服丸藥一副，吃一月後，不必服湯</p>
<h4>黃赤風湯</h4>
<p>黃　（二兩，生）　赤芍（一錢）　防風（一錢）</p>
<p>水煎服，小兒減半。</p>
<p>治癱腿，多用一分，服後以腿自動為準，不可再多。如治諸瘡諸病，或因病虛弱，服之皆效不滯，血活而不瘀，氣通血活，何患疾病不除。</p>
<h4>黃防風湯</h4>
<p>治脫肛，不論十年、八年，皆有奇效。</p>
<p>黃　（四兩，生）　防風（一錢）</p>
<p>小兒減半。</p>
<p>水煎服。</p>
<h4>黃甘草湯</h4>
<p>治老年人溺尿，玉莖痛如刀割，不論年月深久，立效。</p>
<p>黃　（四兩，生）　甘草（八錢）</p>
<p>水煎服。病重一日兩副。</p>
<h4>木耳散</h4>
<p>治潰爛諸瘡，效不可言，不可輕視此方。</p>
<p>木耳（一兩，焙乾，研末）　白砂糖（一兩，和均）</p>
<p>以溫水浸如糊，敷之縛之。</p>
<p>此方與刺　皮治遺精，抽葫蘆治鼓症，義同。明此義，方可以學醫。</p>
<h4>玉龍膏（即勝玉膏）</h4>
<p>治跌打損傷，貼之頗效。</p>
<p>香油（一斤）　白蘞　升麻　當歸　川芎　連翹　銀花　甲片　川烏　象皮（各四錢）</p>
<p>乳香（一錢半，末）　沒藥（一錢半，末）　輕粉（三錢，末）　冰片（三分，末）　麝香（三分，末）　白占（二兩）</p>
<p>將前九味藥入油內炸枯色，去渣，入官粉三合，離火，再入乳、沒、冰、片、麝，攪均，再，潰爛諸瘡可靠之良方也，不可輕視。</p>
<h3>辨方效經錯之源論血化為汗之誤</h3>
<p>胞侄作礪來京，見《臟腑圖記》，問曰：伯父所繪之圖，經絡是氣管，皆本於衛總管，由衛</p>
<p>《傷寒》，按足六經之現症，立一百一十三方，分三百九十七法，其方效者頗多？侄不解其理。余曰：爾看其首篇，細心研究，便知其方效論錯之理。如首篇論足太陽膀胱經，為寒邪有汗，是傷風，用桂枝湯治之。所論是足太陽經，足太陽專通兩足，而不通兩手。其論傳邪，傳足六經，不傳手六經。爾看初得傷寒，頭疼、身痛、項強、發熱、惡寒，未有兩胳膊兩手不疼痛發熱惡寒者，用麻黃湯，亦未有周身皆愈，而獨不愈兩胳膊、兩手者，豈不是方雖效而論經絡實錯之明證？若仲景以前，有人親見臟腑，著明經絡貫通，仲景著《傷寒》，必言外感寒邪入周身之經絡，用麻黃湯發散周身之寒邪，一言可了。論有汗是傷風，以桂枝湯治之，以桂枝、白芍、甘草三味，然從未見治愈一人，桂枝湯所以不見效者，因頭疼、身痛、發熱、有汗，非傷風症也，乃吳又可所論之瘟疫也。又問：寒邪在表，自當見頭疼、身痛、發熱、惡寒、無汗之表症，初得傷寒，尚未傳裡，如何即有作嘔之裡症？仲景著論，王叔和等數十人注釋，並未說明表症作嘔之所以然。侄實不能明白，求伯父明白指示。余始看爾不過有讀書之志，而無業醫之才，今據爾此問，尚有思路，將來不敢粗心，輕忽人命。爾問寒邪在表，如何有作嘔之裡症，余詳細告汝：寒邪始入毛孔，由毛孔入皮膚，由皮膚入絲絡，由絲絡入陽絡，由陽絡入經，由經入衛總管，由衛總管橫行入心，由心上行入入左右氣管，由左右氣管上攻左右氣門，故作嘔，此表症所以作嘔之本源也。用麻黃湯服之入胃，其藥汁由津門流出，入津管，過肝，入脾中之瓏管，從出水道滲出，沁入膀胱為尿；其藥之氣，即藥之性，由津管達衛總管，由衛總管達經，由經達絡，由絡達絲絡，由絲絡達皮膚，由皮膚達毛孔，將寒邪逐之自毛孔而出，故發汗，邪隨汗出，汗出邪散，故嘔即止。此周身經絡，內外貫通，用麻黃湯發散表邪，隨汗而出之次第也。」又問：「仲景論目痛、鼻干、不得眠，是足陽明胃經之表症，以葛根湯治之，其方內有葛根，仍有麻黃，此理不甚明白。余曰：寒邪由表入經絡，正氣將寒邪化而為熱，故名曰邪熱，邪熱上攻頭頂，腦為邪熱所擾，故不得眠。目系通於腦，邪熱由腦入目，故目痛。鼻通於腦，邪熱由腦入鼻，故鼻干。明是邪熱上攻之火症，並非足陽明胃經之表寒，用葛根而愈者，莫謂葛根是溫散之品，葛根乃清散之藥也。其方內用麻黃者，發散在表未化之寒邪也。此又是方效經絡錯之明證。又問：仲景論胸脅痛、耳聾、口苦、寒熱往來而嘔，其症在半表半裡，是足少陽膽經之症，用小柴胡湯治之，其方神效。侄思此症，若不在膽經，其方又神效。若在膽經，膽又居膈膜之下，又痛又在胸脅，此一段侄又不明白。余曰：爾看臟腑圖，膈膜以上之血府便明白。邪熱入於血府，攻擊其血，故胸脅作痛；邪向血內攻，血向外抗拒，一攻一拒，故寒熱往來；熱灼左右氣門，氣上下不通，故嘔而口苦；邪熱上攻，故耳聾目眩；柴胡能解血府之熱，熱解汗自出，邪隨汗解，故效甚速。此亦是方效論經錯之明證。至傳變多端，總不外表裡虛實。爾若明傷寒，須看吳又可之《瘟疫》；若見書少，必有偏寒偏熱之弊。昨晚爾當客問：古人言汗在皮膚是血，發於皮膚外是汗，言汗即血化，此理爾不解。彼時不告汝者，非謂爾當客多言，因客粗知醫，並非名手，故不當客告汝。汗即血化，此丹溪朱震亨之論，張景岳雖議駁其非，究竟不能指實出汗之本源。古人立論之錯，錯在不知人氣血是兩管，氣管通皮膚有孔竅，故發汗，血管通皮膚無孔竅，故不發汗。何以知血管通皮膚無孔竅？爾看生瘡破流黃水者，其毒由氣管而來，每日常流黃水，其皮膚不紅；瘡毒若在血管，初起皮膚必紅，必待皮膚潰爛，所流必是膿血。爾再看瘟毒、發斑、出疹、小兒出痘，色雖紅而不流血，豈不是血管通皮膚無孔竅之明證乎？侄作礪來京，因閑談問余，彼時是書業已刻成，故書於卷末以記之。</p>
