<header><h1>張畹香醫案</h1></header>
<dl class="元資料" data-type="book">
<div><dt>作者</dt><dd>張畹香</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1644/1911">公元1644年至公元1911年</data></dd></div>
</dl>
<h2>卷上</h2>
<p>冬溫十四日，身似涼，脈仍大有數意，而久按無力，是屬邪減退，舌亦滑潤，尚灰，兩邊黃其意首存津液也。此症病中經，至未經通走，故致肝熱而作驚多怒，湯中有白薇，能定驚涼血，擬以治此。</p>
<p>生玉竹（三錢）　北沙參（三錢）　炒麥冬（三錢）　白薇（三錢）　炒丹皮（三錢）　象貝母（三錢）</p>
<p>丸）</p>
<p>如時昏時清，當去白薇，加砂殼（一錢半）以運濕舒肝，以素體有濕多郁也。</p>
<p>大便以增液而解，可知其沸陰之熱，精液得滋潤，必不以苦寒而燥之也。診脈左手已細軟，，用清燥湯。</p>
<p>北沙參（八錢）　麥冬（五錢）　根生地（六錢）　生白芍（三錢）　陳皮（一錢）　知母（三錢）</p>
<p>天花粉（三錢）　象貝母（五錢）　生穀芽（五錢）　羚羊角（三錢，先煎）　元參（三錢）　冬桑葉（一錢半）</p>
<p>溫邪先裡解，而後出表，故能出汗且多，　是夾濕之體，肌肝尚蒸蒸然，舌苔仍黑，惟較前減，再當增液托邪，加以開肺，助之出表而全解。</p>
<p>地骨皮（四錢）　茯苓皮（五錢）　黃芩（三錢，酒炒）　北沙參（六錢）　麥冬（三錢，連心）</p>
<p>元參（三錢）　根生地（五錢）　桔梗（二錢）　連翹（四錢）　羚羊角（二錢，另包先煎）　象貝母（五錢）　金銀花（三錢）　蟬蛻（一錢半）</p>
<p>兩太陽與腰痛，稍有咳嗽喉啞痛，脈左關反大，而舌苔燥，當用從症不從脈法。</p>
<p>杏仁（三錢）　蘇薄荷（二錢半，淨葉）　冬桑葉（二錢半）　象貝母（三錢）　桔梗（二錢）</p>
<p>生甘草（一錢半）　射干（一錢半）　麥冬（三錢）　連翹（三錢）　酒黃芩（一錢半）　枳殼（一錢半）</p>
<p>竹葉（二十四片）</p>
<p>厥陰瘧已止，停藥又起，左手虛，再以何人法。</p>
<p>製首烏（六錢）　文黨參（三錢）　炙鱉甲（五錢）　青蒿梗（三錢）　炮薑炭（一錢）　冬桑葉（一錢半）　牡蠣（五錢）　當歸（三錢）　桂枝（一錢）　炙甘草（一錢半）　炒白芍（三錢）</p>
<p>諸筋骨痛，咳嗽，無味，脈澀，當滋血息風。</p>
<p>大生地（六錢）　當歸（三錢）　丹參（四錢）　川續斷（三錢）　甘杞子（三錢）　冬桑葉（一錢半）　炒白芍（二錢）　生牡蠣（五錢）　陽春砂（八分，同煎）　陳皮（八分）</p>
<p>痛瘥而作瀉，胃不開，舌尚黃，脈左手關尚弦，再以肝法建中湯法。</p>
<p>當歸（三錢）　川楝子（三錢）　桂枝（一錢半）　酒元胡（一錢半）　炒白芍（四錢）　清炙甘（一錢半）　川續斷（三錢）　製香附（三錢）　川石斛（三錢）　陳皮（八分）　礬半夏（三錢）　荷葉（一角）</p>
<p>寒熱往來，出汗已有四個月，脈弦細，此屬肝虛。當用清骨散。</p>
<p>青蒿梗（三錢）　炙鱉甲（五錢）　生地（六錢）　當歸（三錢）　地骨皮（四錢）　銀胡（一錢半）　秦艽（一錢半）　生牡蠣（五錢）　川石斛（三錢）　新會皮（八分）</p>
<p>氣急是老病，今傷風半個月，自然氣愈急，咳嗽無痰，脈左手大，右手弱，尚身熱頭痛。擬清金平木法。</p>
<p>蘇薄荷（一錢半）　杏仁（三錢）　連翹（三錢）　生甘草（一錢半）　杏梗（三錢）　象貝（三錢）　冬桑葉（一錢半）　生牡蠣（五錢）　陽春砂（八分，同煎）　麥冬（三錢）　陳皮（八分）　竹葉（卅片）</p>
<p>外感後，諸恙皆去，胃亦開，再益其陰。</p>
<p>大生地（六錢）　歸身（三錢）　續斷（三錢）　川石斛（三錢）　甘杞子（三錢）　新會皮（八分）　炒白芍（三錢）　丹參（三錢）　茯苓（三錢）　制狗脊（三錢）</p>
<p>風木乘脾，口燥背冷腹痛，氣急咳嗽，總屬肝也。</p>
<p>當歸（三錢）　生白芍（五錢）　桂枝（一錢半）　清炙甘（一錢半）　冬桑葉（一錢半）　生牡蠣（五錢）　澤瀉（三錢）　陽春砂（八分，同煎）　生茅朮（一錢半）　製香附（三錢）　陳皮（八分）</p>
<p>干荷葉（一角）</p>
<p>書以傷風不忌油膩，每致耳聾，又年未四旬，從無虛致耳聾之事，耳病有四條，彼動云虛者，不知醫也。</p>
<p>滾痰丸（三錢，同煎）　滑石（三錢）　冬桑葉（一錢半）　杏仁（三錢）　象貝（三錢）　橘紅（八分）　桔梗（二錢）　刺蒺藜（三錢，炒）　薄荷梗（三錢）　川石菖蒲（八分）　竹葉（三十片）</p>
<p>外感夾肝，身已涼，胃不開，甘寒法。</p>
<p>杏仁（三錢）　麥冬（三錢）　生甘草（一錢半）　桔梗（二錢）　生穀芽（四錢）　陽春砂（八分同煎）　生牡蠣（五錢）　象貝（三錢）　陳皮（八分）　冬桑葉（一錢半）　干荷葉（一角）</p>
<p>痛瘥，大便已解，診右寸起徐弱，再以前法。</p>
<p>熟地　當歸（三錢）　甘杞子（三錢）　淡附子（一錢半）　桂枝（一錢半）　生白芍（三錢）</p>
<p>續斷（三錢）　製香附（三錢）　陽春砂（八分，沖）　懷牛膝（三錢）　桂圓肉（十四枚）</p>
<p>身涼後，尚舌黃，口渴，小溲短，氣急，是余邪化火。惟諸筋作痛，是屬辛勞之業，病後血虛，故而致作痛。</p>
<p>羚羊角（二錢，先煎）　杏仁（三錢）　象貝（三錢）　桔梗（三錢）　續斷（三錢）　根生地（五錢）　陳皮（八分）　冬桑葉（一錢半）　生甘草（一錢半）　栝蔞皮（三錢）　生穀芽（四錢）　竹肉（一身涼後，尚舌黃濃，大便不解，口渴咳痰，再當泄其風熱。</p>
<p>羚羊角（二錢先煎）　杏仁（三錢）　枳殼（一錢半）　栝蔞仁（八錢）　象貝（三錢）　陳皮（八分）　桔梗（二錢）　川鬱金（一錢半）　冬桑葉（一錢半）　焦山梔（三錢）　竹肉（一丸）</p>
<p>背冷氣急，腰痛舌黃，口燥，有汗，脈浮弦大，當屬少陽經感風。</p>
<p>蘇薄荷（一錢半，淨葉）　羌活（一錢半）　黃酒芩（二錢）　杏仁（三錢）　桂枝（一錢）　清炙甘（一錢）　薑半夏（二錢）　陳皮（八分）　連翹（三錢）　焦山梔（三錢）　荷葉（一角）</p>
<p>少陽症，身已涼，舌黃，口渴，咳嗽，痰濃，諸筋尚痛，脈平，當祛余風熱。</p>
<p>羚羊角（一錢半，先煎）　天花粉（三錢）　生白芍（三錢）　生穀芽（四錢）　陳皮（八分）</p>
<p>象貝（三錢）　冬桑葉（一錢半）　續斷（三錢）　杏仁（三錢）　陽春砂（八分，同煎）　荷葉（一角）</p>
<p>胸中痛兼及腰間，作嘔黃水作苦，已有一月，診脈弦細，咳嗽寒熱，此屬少陽厥陰之合病。</p>
<p>當歸（三錢）　川楝子（三錢）　酒元胡（一錢半）　桂枝（一錢半）　炒川連（八分）　半夏曲（三錢）　陳皮（八分）　真降香（一錢）　生香附（一錢半）　杏仁（三錢）　冬桑葉（一錢半）　生薑（二片）</p>
<p>丁家沿之病，業將就痊，是知其病中走經，故用逍遙散法，而發疹出汗而解矣。若不從此著眼，勢必發狂，否則身熱至百余日，而變幻叢生，為不治矣。所以學醫，總須多讀書，多看各家書籍，自然腹中淵博，胸有準繩。今將現下滋肺托邪，為前後調治之的方。特從尊處一轉，祈閱後仍付原人寄去為望，專此字達，並候在茲賢弟日安不一。兄畹香頓首。</p>
<p>暑濕入肝，用藥胸痛作嘔皆去，而今日上午作冷作熱，出汗口渴，氣急舌黃，左手弦細，右手弦數。又以兩尺空大，因詢經事，再三詢問，始知已至五日，今日已止，則似瘧非瘧，夢多昏話，口苦，皆熱入血室之症矣。是怕為纏綿之兆，為多變幻之症矣。茲姑用逍遙散，復以暑法，為內外雙解之法程。</p>
<p>柴胡（一錢半）　薄荷（一錢半）　當歸（三錢）　炒白芍（三錢）　川楝子（三錢）　酒元胡（一錢半）　益元散（三錢）　杏仁（三錢）　麥冬（三錢）　連翹（三錢）　金銀花（三錢）　竹肉（一丸）</p>
<p>診脈已大起，惟全澀，澀屬血虛，惟舌稍黃，且有肝氣。擬滋補肝陰氣分復入舒肝。</p>
<p>大生地（一兩）　當歸（三錢）　續斷（三錢）　制狗脊（三錢）　真龜膠（三錢，烊沖）　甘杞子（三錢）　炒杜仲（三錢）　建石斛（三錢）　陽春砂（八分，研煎）　懷山藥（四錢）　新會皮（八分）桂圓肉（十枚）</p>
<p>產後又溫邪後，脈左手小且調，是屬吉象。惟有數意，寐回冷汗，耳響，皆虛也。</p>
<p>生地（八錢）　地骨皮（四錢）　當歸（三錢）　炒白芍（三錢）　川石斛（三錢）　新會皮（八分）　黑　豆皮（四錢）　生牡蠣（四錢）　炙龜板（三錢）　生穀芽（四錢）　荷葉（一角）</p>
<p>產後病外感，愈後迄今，五個月期未至，述飲食起居均好，脈亦右手好，左手沉小。虛是屬肝血之虛，當調其肝。</p>
<p>熟地（八錢）　當歸（三錢）　烏　骨（三錢）　酒炒白薇（三錢）　茜草（一錢半）　續斷（三錢）　甘杞子（三錢，炒）　牡蠣（五錢）　炮薑炭（五分）　炒杜仲（三錢）</p>
<p>外感後，左手已靜，右手尚大，舌黃未去，面頭上有熱細瘰，肺主皮毛，頭為諸陽之首，當責肺分之濕熱，再擬清養肺陰法。</p>
<p>北沙參（六錢）　麥冬（三錢）　生地（五錢）　生苡仁（六錢）　象貝（三錢）　炒丹皮（三錢）茯苓（三錢）　百合（三錢）　陳皮（八分）　地骨皮（三錢）　連翹（三錢）　竹葉（二十片）</p>
<p>日發熱出汗，稍覺有冷，而病者不覺，總當以肺熱論。至發作有時，熱後出汗身涼，是寒熱分明，當從瘧治，第日發舌薄，即瘧亦在肺分，不必用柴胡少陽法也。惟純熱無寒，謂之癉瘧，當用白虎湯。若稍有寒，則桂枝白虎。茲姑減一等法，仍擬肺法，以蔻殼白芥子易桂枝可耳。</p>
<p>杏仁（三錢）　連翹（三錢）　生薏仁（五錢）　知母（三錢）　六一散（三錢）　白芥子（一錢半）　白蔻殼（一錢）　象貝（三錢）　通草（一錢半）　焦山梔（三錢）　竹葉（三十片）</p>
<p>初起身熱，至今八日，面紅頭痛，口渴，舌黃滑，小便赤短，解時大便如水隨出，診脈左手數大，右亦然，而脾尤覺大，當屬冬溫，冬溫用三焦法。至左脅與背筋掣，與左邊頭尤痛，是素有肝氣，此時由外感帶起。又溫病往往有大便作瀉，乃肺移熱於大腸，由濕體之故，並非挾熱下利。</p>
<p>薄荷（一錢半）　杏仁（三錢）　白蔻仁（八分，沖）　象貝（五錢）　栝蔞皮（三錢）　桔梗（一錢半）　酒黃芩（三錢）　厚朴（一錢）　連翹（三錢）　茯苓（四錢）　陳皮（八分）　桑葉（一錢半）</p>
<p>暑濕從無大便攻瀉之理，此症患經二十余日，歷服枳殼蔞仁多劑，昨日又以制軍，致舌苔雪花呃逆，昨用益陰固脾，瀉瘥呃減，惟舌尚雪花，若胃口日開無礙，脈仍弦，再擬復脈加減。</p>
<p>生地炭（六錢）　炒白芍（三錢）　炒麥冬（三錢）　清炙甘（三錢，勿少）　懷山藥（五錢）</p>
<p>陽春砂（八分，同煎）　旋覆花（三錢，包煎）　陳皮（一錢）　炙龜板（四錢）　廣木香（一錢）　生苡仁（六錢）　紅棗（七枚）</p>
<p>暑濕誤下，致舌雪花，口燥甚，大便已止，呃已去，出冷汗，脈左手已小，右手尚大，再以前法。</p>
<p>真大生地（六錢）　生白芍（五錢）　麥冬（五錢）　清炙甘（三錢，勿少）　地骨皮（四錢）</p>
<p>陳皮（一錢半）　陽春砂（八分，同煎）　炙龜板（四錢）　黑　豆皮（五錢）　生牡蠣（五錢）　澤瀉（三錢）</p>
<p>瘧後或間日，或日日，已兩個月，熱轉輕有汗，汗後又冷，汗後嗜臥，轉側身重，舌白苔滑，或有時黃滑，口燥不能飲，飲後嘔黃水，噯風，腹痛，口味淡且滯，胃久不開，診脈皆滯緩，熱時之數不作憑。此屬太陰經濕瘧，為日已久，且在秋中，擬溫劫濕邪。</p>
<p>葉氏方。</p>
<p>焦茅朮（三錢）　草果仁（六分）　檳榔（一錢）　製半夏（五錢）　藿香（二錢）　炒乾薑（八分）　白芥子（一錢半）　厚朴（一錢半）　陳皮（八分）　桂枝（八分）　鮮老薑（二片，泡）</p>
<p>患肚癰後致弱，所以脈虛小之至，嗣後逢吃力，必咳嗽失血，又腰足骨　，是可知肝腎陰分至虛。</p>
<p>熟地（六錢）　炙龜板（四錢）　當歸（三錢）　續斷（三錢）　北五味（一錢，搗碎）　炒杜仲（三錢）　炮薑炭（一錢）　建石斛（三錢）　新會皮（八分）　制狗脊（三錢）</p>
<p>肝病脹均差，而如崩亦減而帶甚，脈仍弦數，再以調肝。</p>
<p>大生地（六錢）　當歸（三錢）　生白芍（三錢）　川楝子（三錢）　酒元胡（一錢半）　生牡蠣（六錢）　炒丹皮（三錢）　澤瀉（三錢）　陽春砂（八分，同煎）　石葦（五錢）</p>
<p>久咳痰臭氣急，口味甜，小溲紅，診脈弦大，當屬肺分風熱。</p>
<p>羚羊角（二錢，先煎）　苦杏仁（三錢）　象貝（三錢）　桔梗（一錢半）　橘紅（八分）　冬桑葉（一錢半）　連翹（三錢）　焦山梔（三錢）　栝蔞皮（三錢）　蘇薄荷葉（一錢半）　竹葉（三十片）</p>
<p>久嗽，用藥臭痰已瘥，口味尚甜，脈尚弦而已小，再以甘寒。</p>
<p>羚羊角（二錢，先煎）　元參（五錢）　根生地（六錢）　桔梗（三錢）　麥冬（三錢）　生甘草（一錢半）　冬桑葉（一錢半）　象貝（三錢）　枳殼（一錢半）　焦山梔（三錢）　竹肉（一丸）</p>
<p>久嗽夾有肝氣，今又外感，舌黃胃不開，怕冷，氣塞，再以金木法。</p>
<p>杏仁（三錢）　麥冬（三錢）　生甘草（一錢半）　桔梗（二錢）　白蔻殼（一錢）　冬桑葉（一錢）</p>
<p>生牡蠣（五錢）　羚羊角（一錢半，先煎）　陽春砂（八分，同煎）　生穀芽（四錢）　半夏曲（二錢）　陳皮（八分）</p>
<p>上焦肺脹，已有一年，咳嗽痰少，口渴，舌黃，大便痛瀉，小溲少，脈弦細，當治上焦。</p>
<p>栝蔞皮（八錢）　枳殼（一錢半）　桔梗（三錢）　象貝（三錢）　陳皮（八分）　冬桑葉（一錢半）</p>
<p>生苡仁（六錢）　茯苓皮（六錢）　連翹（三錢）　淡黃芩（三錢）　薄荷葉（一錢半）　竹葉（三十片）</p>
<p>去年三月間，忽然失紅，至今則有咳嗽，昨日寒熱，咳嗽而不失血，右脅痛，當用清金平木法。</p>
<p>杏仁（三錢）　象貝（三錢）　白蔻殼（一錢）　桔梗（二錢）　冬桑葉（一錢半）　生牡蠣（五錢）　陽春砂（八分，同煎）　麥冬（三錢）　生玉竹（三錢）　陳皮（八分）　竹葉（二十四片）</p>
<p>產甫盈月，即發乾咳，至今半載，咳嗽未去，喉啞，盜汗，氣急，小溲熱，少寐，胃不開，舌黃，診右手甚虛，左手弦數，當屬肝風之妨肺。</p>
<p>大生地（六錢）　生白芍（三錢）　歸身（三錢）　生牡蠣（五錢）　陽春砂（八分，沖）　半夏曲（二錢）　陳皮（八分）　澤瀉（二錢）　甘杞子（三錢）　冬桑葉（一錢半）</p>
<p>動則氣喘，屬腎虛，煙氣亦咳喘，屬肺分氣衝，脈弦細是肝沖。大抵肝腎之氣衝肺，而肺氣亦虛。</p>
<p>文元黨（四錢）　焦冬術（三錢）　礬半夏（三錢）　陳皮（八分）　酒炒熟地（六錢）　紫石英（三錢）　當歸（三錢）　牡蠣（四錢）　炮薑（八分）　五北味（一錢，搗碎）</p>
<p>所云刀譜中一方，其用玉竹、黃　、龍眼肉熬膏，代蜜為丸，為壯筋骨補氣血之用。觀藥品和平，大抵黃　補表氣，龍眼肉補肝血，以玉竹為君者，玉竹有黃老之名，久服可仙，本草稱其益氣生津，功能不減人參，惟須多多益善耳。於足下體質，洵屬有益之至，惟鄙見欲其速效，若再加入熟地一斤，當歸一斤，川續斷一斤，於筋骨更有裨益，合否乞酌之。</p>
<p>肝痛已瘥，左脈尚弦數，述患經一年，曾經期至如崩，現尚早而如崩，腹中痛而脹，口渴，是可知其血之熱而不攝。</p>
<p>當歸（三錢）　川楝子（三錢）　酒元胡（一錢半）　生牡蠣（六錢）　炒丹皮（三錢）　生白芍（三錢）　陽春砂（八分，同煎）　澤瀉（三錢）　茺蔚子（五錢）　焦梔子（三錢）　烏　骨（三錢）</p>
<p>咳嗽背冷，身上覺脹，脈弦浮，舌淨，當屬肺脹，用上焦法。</p>
<p>薄荷葉（一錢半）　杏仁（三錢）　栝蔞皮（五錢）　白蔻殼（一錢）　枳殼（二錢）　桔梗（三錢）　象貝（三錢）　冬桑葉（一錢半）　連翹（三錢）　陳皮（一錢）　竹葉（三十片）</p>
<p>久嗽舌黃，脈弦數，氣急發熱，當屬傷風帶起肝氣，又有重感。</p>
<p>薄荷葉（一錢半）　白蔻殼（一錢）　杏仁（三錢）　瓜皮（三錢）　連翹（三錢）　象貝（三錢）</p>
<p>生甘草（一錢）　桔梗（三錢）　冬桑葉（一錢半）　刺蒺藜（三錢，炒）　陳皮（八分）　竹肉（一丸）</p>
<p>肝鬱氣急，曾經音啞，吐紫血而愈。茲又氣急，先天癸至，周身又有風餅，是病屬肝氣風之升，據書當先通經水。</p>
<p>丹參（五錢）　當歸（三錢）　茺蔚子（五錢）　赤芍（二錢）　川楝子（三錢）　酒元胡（一錢半）</p>
<p>降真香（一錢半）　冬桑葉（一錢半）　刺蒺藜（三錢，炒）　炒丹皮（三錢）</p>
<p>外感後用下法，大便已解，雖舌黃未去，而知味不渴，是內邪亦去其大半，乃耳脹腳手不能動，動則痛不可忍，是固產後血分之虛，帶起肝風。</p>
<p>根生地（六錢）　當歸（三錢）　續斷（三錢）　丹參（四錢）　羚羊角（二錢，先煎）　桂枝（一錢半）　刺蒺藜（三錢，炒）　片薑黃（三錢）　生白芍（三錢）　宣木瓜（三錢）　嫩桑枝（一尺）</p>
<p>大流鼻衄，甚至成桶，今已止而面色痿白，耳響，兩太陽痛，腰酸，舌黃，脈弦細，當用甘寒肺金。</p>
<p>根生地（八錢）　元參（五錢）　麥冬（三錢）　象貝（三錢）　炒丹皮（三錢）　山茶花（三錢）</p>
<p>生甘草（一錢半）　桔梗（二錢）　北沙參（五錢）　生穀芽（四錢）　竹葉（二十片）</p>
<p>又外感，脈弦細，仍屬少陽症，已有三日。</p>
<p>柴胡（一錢半）　酒黃芩（三錢）　杏仁（三錢）　半夏曲（二錢）　陳皮（八分）　冬桑葉（一錢半）炒川連（八分）　川鬱金（一錢半）　生香附（一錢半）　枳殼（一錢半）　連翹（三錢）　荷葉（一角）</p>
<p>兩耳停痛且聾，而又痛響作瀉，以肝膽法，耳痛已去，惟尚流膿，即腹痛亦去，而口渴作響，改為水瀉，脈尚弦，再以風木法。</p>
<p>當歸（三錢）　生白芍（三錢）　桂枝（一錢）　清炙甘（二錢）　廣木香（一錢）　焦茅朮（一錢半）　冬桑葉（一錢半）　宣木瓜（三錢）　澤瀉（三錢）　生牡蠣（五錢）　生苡仁（五錢）</p>
<p>十八齡咳嗽失紅，已有兩年，寒熱已有十月，舌黃，咽中曾經艾炙，肋痛腹中痛瀉診脈浮弦小數。大抵五月間起病，初時由於暑風濕熱，久則傳入厥陰，清金平木法。</p>
<p>杏仁（三錢）　桔梗（三錢）　象貝（三錢）　生牡蠣（五錢）　陽春砂（八分，沖）　青蒿梗（三錢）炙鱉甲（五錢）　六一散（四錢）　冬桑葉（一錢半）　生苡仁（五錢）　通草（一錢半）　竹葉（三十片）</p>
<p>氣衝咳嗽吐痰，逢酒煙則甚，總屬肝腎之虛氣上衝也。</p>
<p>熟地炭（八錢）　當歸（三錢）　淡附片（一錢半）　炮薑炭（一錢）　紫石英（三錢）　五味子（二錢，搗碎）　清炙草（一錢半）　磁石（三錢）　甘杞子（三錢）　炒補骨脂（三錢）　核桃肉（二枚）</p>
<p>胃中痛先流涎，嘔清水味酸，每發如此。現尚不發，惟噯氣，舌白燥，胃不開，診脈沉澀，法當滋肝舒氣。</p>
<p>生地炭（六錢）　當歸（三錢）　製香附（三錢）　廣木香（一錢）　炮薑炭（一錢）　清炙甘（一錢半）　懷牛膝（三錢）　炒半夏曲（三錢）　陳皮（八分）　甘杞子炭（三錢）　生薑（二片）　紅棗（七枚）</p>
<p>作瀉已有四個月，舌黃，口微渴，腹響，診脈平，小溲如常，是當調其脾胃。</p>
<p>生冬術（三錢）　茯苓（三錢）　廣木香（一錢）　半夏曲（三錢）　陳皮（八分）　清炙甘（一錢半）　澤瀉（三錢）　陽春砂（八分，沖）　焦梔子（三錢）　生苡仁（五錢）　荷葉（一角）</p>
<p>傷風後帶起陰虛，當用甘寒，兼息肝風。</p>
<p>杏仁（三錢）　根生地（六錢）　麥冬（三錢）　生牡蠣（五錢）　陽春砂（八分，同煎）　續斷（三錢）　象貝（三錢）　桔梗（二錢）　冬桑葉（一錢半）　生甘草（一錢半）　羚羊角（一錢半，先煎）竹肉（一丸）</p>
<p>冬溫十二日，舌中間灰色，兩邊白滑（是濕體故滑，）大便作瀉，喉痛，述口舌燥，是仍在肺陰，怕熱而不寒，可用甘寒法，手牽動，足筋痛，易於發怒，是仍屬肝風之動，舌尖紅，是心經之虛熱。最怕作蒙，查清金可以制木，而肺與心同為上焦，再擬生津去熱，復入利水之藥，小溲清長，其病自愈矣。又脈沉大而滯，是濕體之象，數屬化熱，而大屬陽脈，於病不悖，若小溲一長，其從無汗泄者，即可得汗而解。</p>
<p>北沙參（六錢）　麥冬（三錢）　羚羊角（二錢，先煎）　連翹（三錢）　炒丹皮（三錢）　焦梔子（三錢）　茯苓（四錢）　生苡仁（四錢）　象貝（五錢）　陳皮（八分）　冬桑葉（一錢半）　燈心（一丸）</p>
<p>寒熱出冷汗，咳嗽痰紅，腹痛響瀉，兩腕腰痛，自正月至今，當屬肝風之射肺失紅。</p>
<p>青蒿梗（三錢）　炙鱉甲（五錢）　當歸（三錢）　炒白芍（三錢）　地骨皮（四錢）　炙甘草（一錢半）　桂枝（八分）　生牡蠣（六錢）　冬桑葉（一錢半）　生地（五錢）　續斷（三錢）</p>
<p>正月二十六日起，寒熱咳嗽痰紅，脈弦細，舌白，口渴，氣急。此屬風溫失紅（三月初一日）</p>
<p>元參（五錢）　根生地（六錢）　麥冬（三錢）　羚羊角（一錢半，先煎）　山茶花（三錢）　象貝（三錢）　桔梗（三錢）　冬桑葉（一錢半）　橘紅（八分）　連翹（三錢）　薄荷（一錢半）　竹葉（三十片）</p>
<p>風溫十天，咳嗽作瀉，腹痛，舌黃口渴，脈弦數，是已化火，尚冷作熱，當表裡均解。</p>
<p>薄荷葉（一錢半）　杏仁（三錢）　淡黃芩（三錢）　生白芍（三錢）　生甘草（一錢半）　生苡仁（六錢）　象貝（三錢）　桔梗（二錢）　連翹（三錢）　枳殼（一錢半）　羚羊角（一錢半，先煎）</p>
<p>竹肉（一丸）</p>
<p>初時喉痛，作冷作熱，已有十日，欲嘔胸肋痛，咳嗽，尚無汗出，脈弦細，舌黃，是少陽經感風熱，當用逍遙散。</p>
<p>薄荷葉（一錢半）　柴胡（一錢半）　歸須（三錢）　赤芍（二錢）　桂枝（八分）　冬桑葉（一錢半）　杏仁（三錢）　川鬱金（一錢半）　生香附（一錢半）　降香（一錢）　荷葉（一角）</p>
<p>風溫後又感風邪，致作冷出汗，舌白，脈弦，再當甘寒。</p>
<p>杏仁（三錢）　象貝（三錢）　冬桑葉（一錢半）　麥冬（三錢）　桔梗（二錢）　生甘草（一錢）</p>
<p>陽春砂（八分，同煎）　白蔻殼（一錢）　根生地（五錢）　陳皮（八分）　竹葉（二十四片）</p>
<p>外感後帶起肝風，虛頭暈。</p>
<p>生地（六錢）　當歸（三錢）　炒白芍（三錢）　懷山藥（三錢）　生石決明（五錢）　煨天麻（一錢半）　冬桑葉（一錢半）　半夏曲（一錢半）　陳皮（八分）　續斷（三錢）　荷葉（一角）</p>
<p>風溫後，邪已淨，惟胃不開，稍有咳痰，兩脈甚虛。</p>
<p>北沙參（五錢）　麥冬（三錢）　生地（五錢）　生白芍（三錢）　象貝（三錢）　新會皮（八分）</p>
<p>生穀芽（四錢）　茯神（三錢）　冬桑葉（一錢半）　清炙甘草（一錢）　干荷葉（一角）</p>
<p>腹腰作痛，期早而多如崩狀，脈弦大，當調其肝。</p>
<p>大生地（六錢）　當歸（三錢）　川楝子（三錢）　炒小茴香（一錢半）　酒元胡（一錢半）　烏骨（三錢）　白薇（三錢）　茺蔚子（五錢）　續斷（三錢）　製香附（三錢）</p>
<p>身已涼，大便已解而不暢，惟咳嗽與痰氣急，咳時肋尚痛，舌苔尚黃濃，口燥而不渴，六脈弦小數，多夢話，再當涼肝息風。</p>
<p>根生地（五錢）　生白芍（三錢）　羚羊角（二錢，先煎）　冬桑葉（一錢半）　生牡蠣（五錢）</p>
<p>炙鱉甲（五錢）　當歸（三錢）　象貝（三錢）　陳皮（八分）　陽春砂（八分，同煎）　柏子仁（四錢）</p>
<p>竹肉（一丸）</p>
<p>身熱三日，出冷汗，咳嗽有痰，胃不開，口燥頭眩，診脈弦，當用甘寒。</p>
<p>根生地（六錢）　麥冬（三錢）　地骨皮（四錢）　生穀芽（四錢）　象貝（三錢）　桔梗（二錢）</p>
<p>生甘草（一錢）　生石決明（五錢）　冬桑葉（一錢半）　新會皮（八分）　續斷（三錢）　竹葉（二十四片）</p>
<p>胃痛大瘥且能食，而痛在右肋，診左手尚弦，右手已虛，厥陰大瘧後致此，是當再以清肝法。</p>
<p>當歸（三錢）　川楝子（三錢）　酒元胡（一錢半）　炙鱉甲（五錢）　青蒿梗（三錢）　軟柴胡（一錢半）　炒白芍（三錢）　茯神（三錢）　礬半夏（三錢）　陳皮（八分）　製香附（三錢）　荷葉（一角）</p>
<p>久經失紅，咳嗽右肋痛，總怕失紅復起，少寐即血分之虛，脈弦細，再當清金潤肺。大抵勞力持重之體，未有不虛者。</p>
<p>生玉竹（五錢）　大生地（八錢）　生白芍（三錢）　冬桑葉（一錢半）　象貝（三錢）　陳皮（八分）　炒丹皮（三錢）　麥冬（三錢）　生牡蠣（五錢）　軟柴胡梢（一錢半）</p>
<p>咳嗽失紅，雖從去年發作，然昨診六脈弦數，決其出於肺臟。今日述胃不開，逢食即吐，不能起床，勢必夾有風溫。擬再用風溫失紅例治。</p>
<p>元參（五錢）　根生地（六錢）　麥冬（三錢）　山茶花（三錢）　冬桑葉（三錢）　炙甘草（一錢半）　絲瓜絡（三錢）</p>
<p>自七月間起病，初時間日，今成兩發，小溲赤，足酸，腹中痛，肋痛，診脈弦細，當屬厥陰大瘧。</p>
<p>青蒿根（三錢）　炙鱉甲（五錢）　當歸（三錢）　製首烏（六錢）　牡蠣（五錢）　青皮（一錢半）　半夏曲（三錢）　陳皮（八分）　桂枝（一錢）　炒白芍（三錢）　清炙甘草（一錢半）</p>
<p>夜多盜汗，舌黃滑，大便溏，胃亦不開，診脈弦小數，當益陰調土。</p>
<p>地骨皮（三錢）　炙鱉甲（四錢）　當歸（三錢）　炒白芍（二錢）　礬半夏（三錢）　陳皮（八分）廣木香（一錢）　黑　豆衣（四錢）　生牡蠣（五錢）　清炙甘草（八分）　荷葉（一角）</p>
<p>兩肋與肋及腰背，皆脹滿塞悶，胃亦不開，每至午則痛，診右手弱，是素屬六陰，而左關獨起，是必屬肝氣之走絡。擬通其絡。</p>
<p>當歸（四錢）　炒白芍（三錢）　生牡蠣（五錢）　澤瀉（三錢）　陽春砂（八分，同煎）　炙鱉甲（五錢）　旋覆花（三錢，包煎）　片子薑黃（三錢）　半夏曲（三錢）　陳皮（八分）　青蔥管（兩支）</p>
<p>寒熱十三日，胸胃塞痛，脈弦細，當用逍遙散。</p>
<p>軟柴胡（一錢半）　薄荷（一錢半）　當歸（三錢）　川楝子（三錢）　酒元胡（一錢半）　炒白芍（二錢）　川鬱金（一錢半）　半夏曲（二錢）　陳皮（八分）　生香附（一錢半）　荷葉（一角）</p>
<p>二月上旬身熱，今已涼，咳嗽多痰，冷汗，舌黃口燥，大便溏，氣急，診脈弦數，當屬風溫，久則化火之候。</p>
<p>根生地（六錢）　麥冬（三錢）　栝蔞皮（三錢）　生苡仁（五錢）　枳殼（一錢半）　冬桑葉（一錢半）　象貝（三錢）　生甘草（一錢半）　橘紅（八分）　桔梗（三錢）　焦山梔（三錢）　竹肉（一丸鼻紅止，尚耳響，稍有咳嗽頭痛，當再治肺陰。</p>
<p>蘇薄荷葉（一錢半）　冬桑葉（一錢半）　麥冬（三錢）　生甘草（一錢半）　象貝母（三錢）</p>
<p>根生地（六錢）　桔梗（二錢）　陳皮（八分）　焦梔子（三錢）　炒刺蒺藜（三錢）　荷葉（一角）</p>
<p>喉癢燥則嘔，間有稀水，味不酸，頭筋脹痛，腹脹，脈右手調，左手有數意，舌黃，大抵濕熱為病。</p>
<p>滑石（三錢）　半夏曲（三錢）　陳皮（八分）　茯苓（四錢）　生苡仁（五錢）　連翹（三錢）</p>
<p>焦山梔（三錢）　通草（一錢）　陽春砂（八分，沖）　淡豆豉（三錢）　絲瓜葉（二片）　竹葉（二十片）</p>
<p>風邪解後，尚有餘熱，診脈稍弦滯，舌黃，乾咳作空嘔，出汗。擬用甘寒以解余邪。</p>
<p>北沙參（六錢）　麥冬（三錢）　根生地（六錢）　生甘草（一錢半）　桔梗（一錢半）　象貝（三錢）　地骨皮（三錢）　橘紅（八分）　生穀芽（四錢）　元參（三錢）　竹肉（一丸）</p>
<p>濕瘧用溫燥脾經已效，第瘧症雖口渴，亦當用溫，況舌黃而滑，脈未滑利，據理仍當溫燥中焦，兼以通陽。</p>
<p>東洋參（一錢半）　焦冬術（三錢）　當歸（三錢）　陳皮（八分）　厚朴（一錢）　礬半夏（三錢）　桂枝（一錢）　炮薑炭（一錢）　炒穀芽（五錢）　陽春砂（同煎，八分）　廣木香（八分）　生薑（二片）　紅棗（五枚）</p>
<p>舌白體肥，胃不甚開，大便易溏，或時作嘈，診脈短澀。在抵脾胃多濕痰，擬祛痰益脾焦冬術（三錢）　茯苓（三錢）　製半夏（三錢）　陳皮（八分）　生益智仁（一錢半）　炒穀芽（五錢）　炒苡仁（六錢）　廣木香（一錢）　焦梔子（三錢）　連翹（三錢）　干荷葉（一角）</p>
<p>今日診兩手，皆較前大而有力，右滑利，惟左手尚澀，左手屬血，澀屬血虛，再擬肝腎血分葉。</p>
<p>大生地（八錢）　當歸（三錢）　甘杞子（三錢）　炒棗仁（三錢）　茯神（三錢）　炒杜仲（三錢）　川續斷（三錢）　制狗脊（三錢）　懷山藥（五錢）　茯苓（三錢）　陳皮（一錢半）</p>
<p>傷風日久，痰黏喉中有聲，脈弦，當用甘寒法。</p>
<p>杏仁（三錢）　馬兜鈴（三錢）　象貝（三錢）　桔梗（二錢）　生甘草（一錢半）　麥冬（三錢）</p>
<p>陳皮（八分）　冬桑葉（一錢半）　連翹（三錢）　根生地（六錢）　竹葉（三十片）</p>
<p>婦女以肝臟為先天，肝血若足，自無胎產之病，或易於小產者，非氣不能包，即屬肝虛，致胎元不穩，此症小產後，右手已起，左手稍小，惟似有微數意，可知是肝虛生熱之體，再擬柔益肝臟。</p>
<p>炒白芍（三錢）　大生地（六錢）　歸身（三錢）　甘杞子炭（三錢）　真驢膠（三錢，烊沖）</p>
<p>川續斷（三錢）　懷山藥（四錢）　新會皮（八分）　建石斛（三錢）　荷葉（一角）</p>
<p>暑邪二十二日，舌上已有雪花，六脈弦大，是屬病久陰虧，斷無下攻之理，乃以制軍傷其脾分，據書速須救陰，今且呃逆，是肝氣亦起，病屬棘手之至。姑擬救法，合否乞高明裁之。</p>
<p>生地炭（六錢）　炒白芍（三錢）　生苡仁（五錢）　清炙甘草（三錢）　炒麥冬（一錢半）　炒懷藥（五錢）　陽春砂（八分，同煎）　陳皮（八分）　地骨皮（四錢）　旋覆花（三錢，包煎）　此復脈加減是救法。</p>
<p>診脈惟右關已起，各脈欠有精長之象，大抵病後不復元，雖冬令脈宜靜小，第總由血不應脈，再擬兩益肝脾。</p>
<p>人參（八分）　茯苓（三錢）　炒棗仁（三錢）　生地炭（六錢）　當歸（三錢）　陳皮（八分）</p>
<p>廣木香（一錢）　清炙甘草（一錢半）　遠志炭（八分）　焦冬術（三錢）　桂圓肉（十四顆）　生薑（二片）　紅棗（七枚）</p>
<p>表寒已解，咳嗽愈多，痰不易出，當用甘寒。</p>
<p>杏仁（三錢）　麥冬（三錢）　生甘草（一錢半）　象貝（三錢）　桔梗（二錢）　羚羊角（一錢半，先煎）　陳皮（八分）　冬桑葉（一錢半）　枳殼（一錢半）　梔子（三錢）　竹葉（三十片）</p>
<p>瘧愈後仍自間日之寒熱分明，而自汗甚輕，胃開不甚旺，舌淨稍黃，口微渴，腹中知嘈，是元虛邪輕之候，想體肥固多濕痰，而久瘧陰虛。擬溫經法以截。</p>
<p>製首烏（六錢）　炙鱉甲（四錢）　炮薑炭（八分）　製半夏曲（三錢）　當歸（三錢）　炒穀芽（四錢）　新會皮（八分）　青蒿梗（一錢半）　茯神（三錢）　焦丹參（三錢）　生薑（二片）　紅棗（七枚）</p>
<p>怕冷去，咳嗽亦瘥，痰有，舌淨，惟胃不開，診脈弦小，當用甘寒法。</p>
<p>苦杏仁（三錢）　麥冬（三錢）　根生地（五錢）　炒白芍（二錢）　冬桑葉（一錢半）　象貝（三錢）　桔梗（二錢）　生穀芽（四錢）　新會皮（八分）　川石斛（三錢）　干荷葉（一角）</p>
<p>身已涼，而右脅尚痛，咳嗽痰紅，今日當治肺陰。</p>
<p>根生地（六錢）　元參（五錢）　麥冬（三錢）　山茶花（三錢）　象貝（三錢）　炒丹皮（三錢）</p>
<p>冬桑葉（一錢半）　羚羊角（二錢，先煎）　桔梗（二錢）　側柏葉（三錢）　陳皮（八分）　竹葉（四十片）</p>
<p>診右手調，左手浮大，關尺虛，解大便時心腹痛，大便難，少寐，氣急，是屬肝熱，當用更衣丸法。</p>
<p>丹參（四錢）　當歸（三錢）　柏子仁（四錢）　蘆薈（三錢）　漂辰砂（八分，沖）　生地（五錢）　丹皮（三錢）　梔子（三錢）　生白芍（三錢）　燈心（三十寸）</p>
<p>上焦肺脹，用藥已效，再以上焦法，第患經一年，為最難愈之事，必忌口為要。</p>
<p>栝蔞皮（八錢）　枳殼（三錢）　桔梗（三錢）　象貝（三錢）　冬桑葉（一錢半）　生苡仁（六錢）</p>
<p>茯苓皮（五錢）　羚羊角（三錢，先煎）　淡黃芩（三錢）　焦梔子（三錢）　陳皮（一錢半）　竹葉（四十片）</p>
<p>頭脹，背間怕冷，腰肋咳時作痛，胸膈塞悶作嘔，診脈浮微，右手中部稍數而澀，舌淨，當屬肺邪。</p>
<p>蘇薄荷葉（五錢半）　白蔻仁（一分，研沖）　冬桑葉（一錢半）　象貝（三錢）　杏仁（三錢）</p>
<p>桔梗（二錢）　枳殼（一錢半）　栝蔞皮（三錢）　連翹（三錢）　陳皮（八分）　竹葉（二十四片）</p>
<p>純熱，出汗口渴，舌黃燥，腰痛足重頭眩，診左手淨虛小數，右手浮部亦然，中沉兩候滯大，當屬癉瘧，是暑濕熱痰之在肺者，白虎湯。</p>
<p>生石膏（八錢）　知母（三錢）　生甘草（八分）　生苡仁（八錢）　礬半夏（三錢）　陳皮（八分）</p>
<p>茯苓（三錢）　六一散（三錢）　連翹（三錢）　苦杏仁（三錢）　桂枝（八分）　白粳米（三錢）</p>
<p>用白虎湯癉瘧已減，舌黃退而未淨，頭眩腰足重滯皆去，脈服虛小皆去，而尚數，中沉之滯大已除，大便溏，小溲長，口渴去而燥，再擬涼肺通溲法。</p>
<p>根生地（五錢）　連翹（三錢）　生苡仁（八錢）　茯苓（三錢）　六一散（三錢）　焦梔子（三錢）　通草（一錢半）　陳皮（八分）　象貝（三錢）　羚角（一錢半，先煎）　竹葉（三十片）</p>
<p>中年每患齒痛，是欲脫之象，總由肝血之虛，虛則生風，耳下筋痛，是肝風也。茲瘧止已久，胃口亦好，味苦舌黃，且素屬多濕多痰之體，擬涼血息風，兼以消痰。</p>
<p>生地（六錢）　當歸（三錢）　炒刺蒺藜（三錢）　冬桑葉（一錢）　生牡蠣（六錢）　炒丹皮（三錢）　礬半夏（二錢）　陳皮（八分）　炒白芍（三錢）　川石斛（三錢）　荷葉（一角）</p>
<h2>卷下</h2>
<p>風溫身熱退，昏語去，瀉止，惟尚咳嗽有痰，脈尚弦，胃口不開，當用甘寒。</p>
<p>根生地（六錢）　麥冬（三錢）　生甘草（一錢半）　桔梗（二錢）　象貝（三錢）　橘紅（八分）</p>
<p>生穀芽（四錢）　冬桑葉（一錢半）　地骨皮（三錢）　川石斛（三錢）　竹葉（三十片）</p>
<p>身熱七八日，咳嗽有痰，水瀉腹痛，有昏語，口大渴，舌鮮紅，診脈弦小數，是邪在心肺之間，當用上焦法。其瀉在肺，與大腸相表裡也（上焦以邪入心包為重症。）</p>
<p>羚羊角（二錢，先煎）　根生地（六錢）　麥冬（三錢，不去心）　連翹（三錢，不去心）　生苡仁（六錢）　茯苓（三錢）　象貝（三錢）　橘紅（八分）　川鬱金（一錢半）　川石菖蒲（一錢半）　冬桑葉（一錢半）　竹葉（四十片）</p>
<p>病久屬虛，逢勞則發，謂之勞復，古用補法，今脈雖數，而沉虛作冷，因乎坐久，責之陽虛，第筋骨作酸，總屬血事，再擬歸脾東加減。</p>
<p>東洋參（一錢半）　焦冬術（三錢）　清炙綿　（三錢）　炒棗仁（三錢）　茯神（三錢）　廣木香（一錢）　當歸（三錢）　陳皮（八分）　清炙甘草（一錢）　遠志炭（八分）　熟地炭（五錢）　生薑（二片）　紅棗（七枚）　桂圓肉（十四枚）</p>
<p>上焦肺脹，已有一年，是為最難愈之症。今已治有效驗，而復然如前，必有誤食油膩之故。</p>
<p>栝蔞皮（八錢）　枳殼（二錢）　桔梗（三錢）　象貝（三錢）　淡黃芩（三錢）　冬桑葉（一錢半）　杏仁（三錢）　蘇薄荷葉（一錢半）　陳皮（八分）　連翹（三錢）　竹葉（三十片）</p>
<p>肝痛在心絡，痛發則牽及背肋，用柔補絡分，稍瘥而不通除根。</p>
<p>大熟地（六錢）　當歸（三錢）　桂枝（一錢半）　柏子仁（三錢）　生白芍（三錢）　清炙甘草（一錢半）　炒甘杞子（三錢）　遠志炭（一錢）　製香附（三錢）　淡附子（一錢半）</p>
<p>十三齡室女，去冬患下焦肝痛，六脈弦數，當用張石頑先生法。</p>
<p>當歸（三錢）　川楝子（三錢）　炒小茴（一錢半）　酒延胡（一錢半）　生白芍（三錢）　生牡蠣（五錢）　降真香（一錢）　生香附（一錢半）　冬桑葉（一錢半）　地骨皮（三錢）</p>
<p>肝痛在胃，已有月余，舌苔，脈弦數，怕冷，當用河間法。</p>
<p>當歸（三錢）　川楝子（三錢）　桂枝（一錢）　酒炒延胡（一錢半）　陽春砂（八分，炒）　炒白芍（二錢）　礬半夏（二錢）　陳皮（八分）　枳殼（一錢半）　川鬱金（一錢半）</p>
<p>作瀉已久，用運脾已效，再當香砂法。</p>
<p>文黨參（三錢）　焦冬術（三錢）　茯苓（三錢）　清炙甘草（一錢半）　半夏曲（二錢）　陳皮（八分）廣木香（一錢）　陽春砂（八分，同煎）　煨益智仁（一錢半）　炮薑炭（八分）　紅棗（七枚）</p>
<p>休息痢已有四年，用藥痛尚在，而已少解，脈尚弦，舌尚黃，再當前法。</p>
<p>當歸（三錢）　炒白芍（三錢）　淡黃芩（三錢）　清炙甘草（一錢半）　廣木香（一錢半）　炒川連（一錢）　青皮（一錢）　川楝子（三錢）　酒延胡（一錢半）　製香附（三錢）</p>
<p>腹痛響瀉或嘔，胃不開，舌黃，頭面腫，當屬肝分之風熱。</p>
<p>大生地（五錢）　當歸（三錢）　生白芍（三錢）　桂枝（一錢）　炙甘草（一錢半）　炒半夏曲（三錢）　生牡蠣（五錢）　陳皮（八分）　澤瀉（三錢）</p>
<p>少年耳　，皆由膽分之分熱，誤服補劑，每致久聾。現下少陽司令，故耳痛流水，又發寒熱，腹痛作瀉不爽，皆肝膽病也。</p>
<p>軟柴胡（一錢半）　薄荷（一錢半）　桂枝（一錢）　清炙甘草（一錢半）　防風（一錢）　連翹（三錢）　滑石（三錢）　龍膽草（一錢半，酒炒）　苦丁茶（三錢）　當歸（三錢）　炒白芍（三錢）</p>
<p>胸腹痛響，作瀉如痢，舌黃，背冷，兩手皆弦細小數，當屬風木之乘脾。</p>
<p>當歸（三錢）　生白芍（五錢）　桂枝（一錢半）　清炙甘草（一錢半）　川楝子（三錢）　酒延胡（一錢半）　廣木香（一錢）　炒丹皮（三錢）　陽春砂（八分，同煎）　陳皮（八分）</p>
<p>咳嗽已去，惟右乳曾經作突，嗣後則成小瘡，今則延走乳上近腋下，診脈弦小，此屬肝風鬱熱。</p>
<p>生地（五錢）　炙鱉甲（四錢）　生牡蠣（五錢）　炒丹皮（三錢）　冬桑葉（一錢半）　晚蠶砂（三錢）　赤芍（二錢）　夏枯草花（三錢）　連翹（三錢）　生甘草節（二錢）</p>
<p>寒勢往來，已有半年，頭痛，冷汗，咳嗽，腹作痛瀉，六脈弦小細數，無汗者用逍遙散。有汗者當以清骨散。</p>
<p>青蒿梗（三錢）　炙鱉甲（五錢）　當歸（三錢）　炒白芍（三錢）　茯苓（三錢）　焦冬術（一錢半）</p>
<p>清炙甘草（一錢半）　陽春砂（八分，同煎）　冬桑葉（一錢半）　生牡蠣（五錢）　新會皮（八分）</p>
<p>荷葉（一角）</p>
<p>五月先肝氣作痛，後即咳嗽失紅，且腹痛作瀉，或如痢，或水瀉，舌黃脈弦，少有寒熱，鄙見總當用清肝法。</p>
<p>當歸（三錢）　生白芍（五錢）　桂枝（一錢半）　清炙甘草（一錢半）　冬桑葉（一錢半）　生牡蠣（六錢）　廣木香（一錢）　炒川連（一錢）　澤瀉（三錢）　陳皮（一錢半）</p>
<p>期早而多又延，色淡，仍諸筋骨痛，少寐多淋，是當益涼兼澀。</p>
<p>大生地（八錢）　歸身（三錢）　炒丹皮（三錢）　生牡蠣（五錢）　炒懷藥（四錢）　炒沙苑子（四錢）　川續斷（三錢）　茯神（三錢）　石葦（四錢）　炒棗仁（三錢，勿研）　陳皮（八分）</p>
<p>休息痢已有四年，尚腹痛，胸腹與足皆腫，解出如墨水，脈弦細，當屬痢在厥陰。（兩劑已效。）</p>
<p>當歸（三錢）　炒白芍（三錢）　淡黃芩（三錢）　清炙甘草（一錢半）　廣木香（一錢半）　炒川連（一錢）　小青皮（一錢半）　陳皮（八分）　陽春砂（八分，同煎）　製香附（三錢）</p>
<p>因跌胸痛，業經嘔出瘀血多，多乃不當必泛作嘔，或痰或飲，診脈弦細，是當調其肝胃。</p>
<p>礬半夏（三錢）　陳皮（八分）　炒川連（八分）　炮薑炭（八分）　當歸（三錢）　炒白芍（三錢）　廣鬱金（一錢半）　杏仁（三錢）　陽春砂（八分，同煎）　製香附（三錢）</p>
<p>汗不止，仍當益陰上收汗。有汗者，以無汗而愈也。至經至，無論何病，當從經治。胸中滿，仍當舒木。胃不知飢，再擬肝胃法，兼以收汗。</p>
<p>地骨皮（四錢）　根生地（六錢）　當歸（三錢）　陽春砂（八分，同煎）　天花粉（三錢）　炒丹皮（三錢）　丹參（三錢）　新會皮（八分）　川石斛（四錢）　宣木瓜（三錢）　荷葉（一角）</p>
<p>肝痛已用補劑，其胸中塊在，須久藥可平，至現下食稍減，舌苔，右手滯，當進通胃。</p>
<p>大生地（八錢）　歸身（三錢）　甘杞子（三錢）　柏子仁（四錢）　生牡蠣（五錢）　炙鱉甲（五錢）　冬桑葉（一錢半）　炒丹皮（三錢）　製香附（三錢）　製半夏（二錢）　陳皮（八分）</p>
<p>病經月余，舌白，腹痛作溏，氣急，咳嗽痰多，夜汗，此屬冬溫失治致此，診脈弦小，當用外寒內熱之法。</p>
<p>蘇薄荷葉（一錢半）　杏仁（三錢）　象貝（三錢）　桔梗（一錢半）　冬桑葉（一錢）　生甘草（一錢半）　連翹（三錢）　生苡仁（五錢）　茯苓（三錢）　白蔻殼（一錢）　酒黃芩（三錢）　竹葉（二十片）</p>
<p>腹痛響作瀉，以風木法，瀉已止，而痛尚未去，舌淨，診脈左關當起，是肝氣之未淨也。</p>
<p>當歸（三錢）　炒白芍（三錢）　川楝子（三錢）　酒元胡（一錢半）　製香附（三錢）　陽春砂（八分，同煎）　澤瀉（二錢）　焦山梔（三錢）　丹參（四錢）　炒丹皮（三錢）　冬桑葉（一錢）</p>
<p>久嗽聲啞，痰臭脈大，當用甘寒。</p>
<p>羚羊角（二錢先煎）　杏仁（三錢）　麥冬（三錢）　生甘草（一錢半）　桔梗（二錢）　象貝（三錢）　冬桑葉（一錢半）　陳皮（八分）　金銀花（三錢）　連翹（三錢）　竹葉（三十片）</p>
<p>乾咳五十余日，連少腹右有塊震痛，氣急，咳時有汗，胃不開，口燥，診左手弦大，右手弦數，舌右邊黃，是屬肺燥之夾肝風者。</p>
<p>杏仁（三錢）　象貝（三錢）　桔梗（二錢）　生甘草（一錢半）　陳皮（八分）　麥冬（三錢）</p>
<p>冬桑葉（一錢半）　生牡蠣（五錢）　陽春砂（八分，同煎）　根生地（五錢）　竹葉（三十片）</p>
<p>久有咳嗽，已五六年，現下又傷風帶起，是夾有外感，當先祛之。</p>
<p>蘇薄荷葉（一錢半）　杏仁（三錢）　栝蔞皮（三錢）　桔梗（二錢）　象貝（三錢）　冬桑葉（二錢）</p>
<p>酒黃芩（三錢）　白蔻殼（一錢）　連翹（三錢）　生甘草（一錢半）　陳皮（八分）　竹葉（三十片）</p>
<p>重風溫已有六日，咳嗽氣急，口渴舌黃，背冷自汗，診脈弦大，當用辛涼。</p>
<p>蘇薄荷葉（一錢半）　酒黃芩（三錢）　羚羊角（二錢，先煎）　桔梗（三錢）　生甘草（一錢半）</p>
<p>栝蔞皮（三錢）　苦杏仁（三錢）　象貝（三錢）　冬桑葉（一錢）　橘紅（八分）　連翹（三錢）　竹葉（四十片）</p>
<p>曾經失經至年余，現下寒熱往來，口苦，胸脹欲嘔，咳嗽，診脈弦細，舌淨，是屬肝病。當用清骨散法。</p>
<p>青蒿梗（一錢半）　炙鱉甲（五錢）　生地（五錢）　當歸（三錢）　冬桑葉（一錢）　生牡蠣（五錢）</p>
<p>降真香（一錢）　川鬱金（一錢半）　炒丹皮（三錢）　生白芍（三錢）　陳皮（八分）　荷葉（一角）</p>
<p>肝風射肺，既經嗽血，又復痛瀉，脈弦細，再當用土中拔木法。</p>
<p>生地炭（六錢）　當歸（三錢）　生白芍（四錢）　桂枝（一錢半）　清炙甘草（一錢半）　冬桑葉（一錢半）　川斷續（三錢）　宣木瓜（三錢）　生牡蠣（五錢）　茯苓（三錢）</p>
<p>胸中痛，胃下開，脈弦數，當用河間法。</p>
<p>當歸（三錢）　川楝子（三錢）　桂枝尖（一錢）　酒延胡（一錢半）　炒白芍（二錢）　柏子仁（三錢）　遠志炭（八分）　白蔻殼（一錢）　礬半夏（二錢）　陳皮（八分）　荷葉（一角）</p>
<p>屢次崩後，致變化不已，今已失紅，復歷用肝法，乃頭眩不瘥，而兩太陽與齒作痛。又且腹作溏，舌黃，左手尤弦數。此皆肝血虛，風熱上升之象。</p>
<p>大生地（一兩）　歸身（四錢）　炒刺蒺藜（三錢）　冬桑葉（一錢半）　生牡蠣（八錢）　生白芍（三錢）　清炙甘草（一錢半）　甘菊炭（一錢半）　骨碎補（三錢）　炒丹皮（三錢）　薄荷（一錢半）干荷葉（一角）</p>
<p>八月間初發瘧，屬間日至，今仍間日，盜汗，診脈左手弦大，右手弦，是久瘧必虛。又汗多者，求無汗而愈，當遵柯氏法。</p>
<p>製首烏（六錢）　炙鱉甲（五錢）　文元黨（三錢）　炮薑炭（一錢）　蜜炙桂枝（一錢半）　炒白芍（三錢）　清炙甘草（一錢半）　當歸（三錢）　礬半夏（二錢）　陳皮（八分）　杏仁（三錢）　紅棗（七枚）</p>
<p>高年素有咳血，茲又發作，肋背抽痛，痰中帶血，脈弦細，舌白，有寒熱，當用肝風射肺法。</p>
<p>青蒿梗（三錢）　炙鱉甲（五錢）　生地（五錢）　當歸（三錢）　川續斷（三錢）　冬桑葉（一錢半）　生牡蠣（五錢）　橘紅（八分）　生白芍（三錢）　象貝（三錢）</p>
<p>產後左手脈應細虛，而右手弦大，喉燥，肌熱，動則有汗，肌膚作腫，當屬血虛，肝風為病。產已彌月，身子尚未干淨，服藥後經多且旺，其色紅，間有黑塊，恐日久致成崩漏也。</p>
<p>大生地（六錢）　當歸（三錢）　炙鱉甲（五錢）　地骨皮（五錢）　炒白芍（三錢）　生牡蠣（五錢）　澤瀉（一錢半）　川石斛（三錢）　陳皮（八分）　麥冬（三錢）</p>
<p>目科分五輪八廓，若現物不清，是腎輪之事，方書以目力之衰，以石決明五味子同用，可使目視得力，用之頗效。惟脈弦細，藥不宜過重。</p>
<p>熟地炭（六錢）　炙龜板（四錢）　北五味子（二錢，搗碎）　石決明（五錢）　當歸（三錢）</p>
<p>炒白芍（三錢）　製香附（三錢）　炒懷山藥（四錢）　合歡（三錢）　密蒙花（三錢）　廣木香（八分）</p>
<p>炒甘杞子（三錢）</p>
<p>大瘧後，咳嗽，舌黃，盜汗，腹痛響瀉，脈弦大，當屬出於厥陰。</p>
<p>青蒿梗（三錢）　炙鱉甲（五錢）　蜜炙桂枝（一錢半）　清炙甘草（一錢半）　冬桑葉（一錢半）</p>
<p>生牡蠣（五錢）　生白芍（五錢）　半夏曲（三錢）　陳皮（八分）　當歸（三錢）　干荷葉（一角）</p>
<p>肺瘧無補法，久則必邪不淨。茲身上有汗已透，而頭上尚不至流，診脈右手尚弦大，左關獨數，胃口兩便均好，鄙見總屬肺瘧。</p>
<p>蘇薄荷葉（一錢半）　淡豆豉（三錢）　滑石（三錢）　白芥子（一錢半）　白蔻殼（一錢半）</p>
<p>象貝（三錢）　酒黃芩（三錢）　桔梗（一錢半）　炙甘草（八分）　冬桑葉（一錢）　絲瓜葉（三片）</p>
<p>六脈滯大，大便作溏，掌心作熱，當屬肺分有濕熱，嗜臥者，即其征也。</p>
<p>生茅朮（三錢）　六一散（三錢）　淡黃芩（三錢）　焦梔子（三錢）　生薏苡仁（六錢）　半夏曲（三錢，醋水炒）　陳皮（八分）　廣木香（八分）</p>
<p>肺瘧寒熱已去，而大便響瀉，初時痛，今已不痛，今日舌苔尚黃，脈弦數去，而右手滯大，左手已有滑利之象。大抵暑淨而濕熱未除，再從肺治。</p>
<p>生苡仁（六錢）　茯苓（三錢）　大豆卷（五錢）　象貝（三錢）　通草（一錢半）　六一散（三錢）　根生地（四錢）　陳皮（八分）　焦梔子（三錢）　苦杏仁（三錢）　竹葉（二十四片）</p>
<p>冬溫後，尚有餘熱作躁，脈細數，右關少帶滯象，舌黑苔已浮起，兩邊黃去而微白滑，喉燥喜飲，面色紅，左太陽與目牽痛，耳孔痛。吳氏以溫邪治肺，余熱由於肺陰之虛，故曰根生地，可以除血中之熱。此症由於病中經至，血分更虛，所以從無汗出，法當滋其肺陰。陰分一滋，則表裡皆輟矣。至目牽耳痛，總屬夾有肝風與火，再擬滋肺陰，息肝風火。</p>
<p>北沙參（五錢）　根生地（三錢）　麥冬（六錢）　生白芍（三錢）　羚羊角（一錢半，先煎）</p>
<p>丹皮（三錢）　元參（三錢）　焦梔子（三錢）　冬桑葉（二錢）　象貝（五錢）　陳皮（八分）　砂殼（一錢半）</p>
<p>感風在肝，業經出汗，且有冷汗。然六脈弦數，舌黃燥，有肺分之熱邪未淨也。小溲有時黃，大便亦有時溏，今年秋暑太酷，未必不夾有濕邪也。</p>
<p>羚羊角（二錢，先煎）　六一散（三錢）　生苡仁（五錢）　大豆卷（五錢）　桔梗（二錢）　連翹（三錢）　通草（一錢半）　陳皮（八分）　茯苓（三錢）　麥冬（三錢）　竹葉（三十片）</p>
<p>出　已有三日，舌黃無嗽與瀉，惟身熱大汗，背上已見，脈弦滯，當托風熱。</p>
<p>羚羊角（一錢半）　連翹（三錢）　桔梗（二錢）　生甘草（一錢）　象貝（三錢）　蟬蛻（二錢）</p>
<p>苦杏仁（三錢）　冬桑葉（一錢）　金銀花（二錢）　大力子（五錢）　竹肉（一丸）</p>
<p>二三月出　，總當以風溫法，至嗜臥者，風也。《內經》風溫之為病，身灼熱，汗自出，身重咳嗽嗜臥，則嗜臥者，風也。口渴者，溫而化火也。喉痛者，肺火也。大小便不解，喉痛，當治肺且托　。舌尖紅，有昏語，當兼及心，再擬心肺上焦法。</p>
<p>炒大力子（三錢）　桔梗（二錢）　羚羊角（二錢，先煎）　根生地（四錢）　麥冬（三錢，不去心）</p>
<p>元參（五錢）　苦杏仁（三錢）　冬桑葉（一錢）　川鬱金（一錢半）　石菖蒲（一錢）　象貝（三錢）</p>
<p>竹葉（三十片）</p>
<p>後已無余嗽，惟素瀉仍有，乃又有寒熱，無物不嘔，舌黃薄，診脈弦數，較前已大，當屬肝陽之犯胃，即作嘔。亦當責之風木乘脾，脾胃兩受，是木邪之盛，當先除其嘔，與喉梗胸痛，進退法。</p>
<p>川連（八分，薑汁炒）　薑製半夏（三錢）　陳皮（八分）　苦杏仁（三錢）　當歸（三錢）　炒白芍（一錢半）　烏　骨（三錢）　陽春砂（八分，沖）　澤瀉（一錢半）　宣木瓜（一錢半）　茯苓（三錢）　鮮生薑（二片）</p>
<p>間日發瘧，總在少陽，止後復發，總屬復未經調養，總屬勞復。今又止，而右手已小，左手尚弦且澀，法當溫養肝膽。</p>
<p>製首烏（六錢）　炙鱉甲（五錢）　當歸（三錢）　製半夏（二錢）　陳皮（八分）　炒白芍（二錢）　懷山藥（四錢）　清炙甘草（一錢）　蜜炙桂枝（八分）　黑　豆衣（六錢）</p>
<p>後身初涼，大便溏，咳嗽痰少，知苔少，胃不開，脈已緩，再從肺治，甘寒法。</p>
<p>根生地（六錢）　生白芍（三錢）　生甘草（一錢）　桔梗（一錢半）　象貝（三錢）　麥冬（三錢）　冬桑葉（一錢）　生苡仁（五錢）　茯苓（八錢）　生穀芽（四錢）　竹葉（二十四片）</p>
<p>身熱已有四日，昨日已三天，有汗，是逢年經得泄，即　輕。今日診脈尚數，當未淨，面色紅，喉痛，舌上無苔，當用肺風熱法。</p>
<p>蘇薄荷葉（一錢半）　苦杏仁（三錢）　羚羊角（一錢半，先煎）　桔梗（二錢）　生甘草（八分）</p>
<p>酒炒黃芩（三錢）　冬桑葉（一錢）　象貝（三錢）　連翹（三錢）　元參（四錢）　麥冬（一錢半）</p>
<p>竹葉（三十斤）</p>
<p>久瀉舌淨，腹中響，間有作痛之時，診脈弦數，是必有肝脾。然響較多痛少，瀉如水，是脾虛甚，再擬舒肝扶土法。</p>
<p>當歸（三錢）　生白芍（三錢）　清炙甘草（三錢）　炒懷山藥（六錢）　草決明（三錢）　焦茅朮（二錢）　生地炭（五錢）　北五味子（十四粒）　冬桑葉（一錢）　茯苓（三錢）　製香附（二錢）</p>
<p>出　已盈月，而又受風，身熱有汗，頭脹舌燥，口夜間渴，小溲熱，診脈弦數，已有四日，舌微黃而燥，腹中有時痛，擬辛涼合甘寒法。</p>
<p>蘇薄荷葉（一錢半）　冬桑葉（一錢）　酒炒黃芩（三錢）　生甘草（一錢）　桔梗（一錢半）</p>
<p>生白芍（三錢）　象貝（三錢）　連翹（三錢）　羚羊角（一錢半）　焦山梔（三錢）　陳皮（八分）　竹葉（三錢）</p>
<p>肝風齒痛後，右手芤，左手澀，再益肝血，血足風滅也。舌苔尚滑，胃有濕痰，須消之。</p>
<p>大生地（八錢）　當歸（三錢）　甘杞子炭（三錢）　茶菊炭（五錢）　礬半夏（三錢）　陳皮（八分）　懷山藥（四錢）　石決明（五錢）　川續斷（三錢）　茯苓（三錢）　干荷葉（一角）</p>
<p>後脈虛，舌尚黃，大便素有瀉病，是腎虛。當先祛外感之風熱下移。</p>
<p>北沙參（四錢）　麥冬（三錢）　根生地（六錢）　象貝母（三錢）　生苡仁（五錢）　茯苓（三錢）　生白芍（一錢半）　生穀芽（四錢）　新會皮（八分）　生玉竹（四錢）　荷葉（一角）</p>
<p>經停三個月，曾經患暑邪十五日。今邪淨胃開，而六脈弦大，稍有數意，是素屬陰虛有熱之體，若以孕論，脈欠靜緩。大凡孕脈，初時喜靜小也，過於有力，每服不穩。茲尚未確，宜以涼滋肝分。</p>
<p>大生地（六錢）　歸身（三錢）　川續斷（三錢）　陽春砂（八分，沖）　川石斛（三錢）　新會皮（八分）　生白芍（三錢）　麥冬（三錢）　女貞子（三錢）　懷山藥（四錢）　荷葉（一角）</p>
<p>暑濕已余，熱去，小溲長，胃漸開，是邪當淨。述左手沉部有力且數，大凡左手屬血，是血分之熱矣。第初時夾有肝痛，大抵素屬肝熱耳。</p>
<p>生地（五錢）　歸身（一錢半）　生白芍（三錢）　川續斷（三錢）　川石斛（三錢）　新會皮（八分）　生穀芽（四錢）　川鬱金（一錢）　柏子仁（三錢）　炒丹皮（一錢半）　干荷葉（一角）</p>
<p>舌黃，胃不開，脈滯，因食面而作瀉，南面善助濕熱，且動肝氣。擬除面積，兼以調胃。</p>
<p>炒麥芽（五錢，要焦）　建曲（二錢）　半夏曲（二錢）　陳皮（八分）　廣木香（八分）　澤瀉（二錢）　焦梔子（三錢）　生白芍（三錢）　茯苓（三錢）　陽春砂（六分，沖）　荷葉（一角）</p>
<p>今日右手頗有收斂之象，而關脈頗滑利有神，左關較前亦當收小，是屬震象矣。茲惟有時腹中痛，且胃脹，再擬調肝保元法。</p>
<p>大生地（六錢）　當歸（三錢）　陽春砂（八分，沖）　生牡蠣（八錢）　川續斷（五錢）　炒白芍（三錢）　製香附（二錢）　新會皮（一錢）　建石斛（三錢）　鹽水炒條芩（二錢）　干荷葉（一角）</p>
<p>凡出　，葉氏曰，須按時令治之。春令用風溫法，風溫淨則風　自已。茲已六日，身熱五日後出　，以背上有為齊，大便瀉，舌燥白，診脈弦數，當用辛涼合甘寒法。</p>
<p>蘇薄荷葉（一錢半）　連翹（三錢）　冬桑葉（一錢）　桔梗（二錢）　象貝（三錢）　生甘草（八分）</p>
<p>蟬衣（一錢半）　苦杏仁（三錢）　酒黃芩（二錢）　麥冬（三錢）　羚羊角（一錢半，先煎）　竹葉（三十片）</p>
<p>診脈澀且大，左手尤澀，澀屬血虛，當益血分。</p>
<p>大生地（八錢）　當歸（三錢）　炒白芍（二錢）　川續斷（三錢）　炒杜仲（三錢）　懷山藥（四錢）　制狗脊（三錢）　甘杞子（三錢）　炙龜板（四錢）　麥冬（三錢）</p>
<p>外感後，余邪總當涼解，況肺熱怕反傷也。身涼後尚咳痰，左肋素有塊，今自覺痰從此起，查左肋下是肝位，此塊當屬向來做工夫之故。然無形狀，非真有瘀也，不過絡中之氣鬱耳。</p>
<p>古人云。清金可以平木，則但清其肺，而肝自可耳。</p>
<p>生玉竹（四錢）　桔梗（二錢）　象貝（三錢）　麥冬（三錢）　地骨皮（三錢）　根生地（六錢）</p>
<p>橘紅（八分）　冬桑葉（一錢半）　炒丹皮（一錢半）　牡蠣（五錢）　陽春砂（八分，同煎）</p>
<p>凡病之起於產後，總屬虛症，以去血過也，轉側則淋如注，而大便之難，古人每以益血潤腸如攻下，殆今之產科每不知也。至腸上下有塊，按之不痛，屬肝氣之不舒，自覺氣悶，不能消遣，即此再擬前法加減。脈弦是肝病之象，蛔蟲屬肝，蟲由於濕熱。</p>
<p>大生地（六錢）　歸身（三錢）　懷山藥（五錢）　炒沙苑子（五錢）　生牡蠣（六錢）　陽春砂（八分，同煎）　炙龜板（四錢）　川續斷（三錢）　生龍骨（三錢）　陳皮（一錢半）　生白芍（三錢）</p>
<p>胃口稍減，由於飯時淘氣，且致左肋下作脹，轉矢，氣不暢，診脈稍數，舌苔右黃，當以香砂法加減。</p>
<p>半夏曲（三錢）　陳皮（八分）　陽春砂（八分，沖）　廣木香（八分）　當歸（三錢）　炒白芍（二錢）　生牡蠣（五錢）　澤瀉（三錢）　柏子霜（三錢）　炒丹皮（三錢）　焦梔子（三錢）　荷葉（一角）</p>
<p>暑邪五天，舌已黃，晚間作熱有汗，熱甚則言，脈左手尚數，右手已緩，適逢期至，當用熱從血泄法。</p>
<p>益元散（四錢）　連翹（三錢，不去心）　川鬱金（一錢半）　石菖蒲（八分，九節者）　丹參（五錢）　當歸（三錢）　炒丹皮（三錢）　赤芍（二錢）　茺蔚子（三錢）　麥冬（三錢，不去心）　陳皮（八分）　竹葉（二十四片）</p>
<p>氣急咳嗽無痰，汗甚多，諸筋抽痛，飯不得下，診脈浮弦，口渴，小便熱，是屬肝喘。</p>
<p>降真香（一錢半）　炒蘇子（二錢，後煎）　杏仁（三錢）　當歸（三錢）　川續斷（三錢）　半夏曲（三錢）　陳皮（八分）　生香附（一錢半）　川楝子（三錢）　酒元胡（一錢半）　生牡蠣（五錢）</p>
<p>咳嗽舌黃，已有十日，下午作熱，脈弦細，兩肋痛，當屬肝風之妨肺。</p>
<p>青蒿梗（三錢）　炙鱉甲（五錢）　當歸（三錢）　生白芍（三錢）　地骨皮（四錢）　冬桑葉（一錢半）　生牡蠣（五錢）　軟柴胡梢（一錢半）　半夏曲（二錢）　陳皮（八分）　竹葉（三十片）</p>
<p>石頑曰：凡痛自上至下，須用溫劑，閱病原，病在肝腎，肝主筋，筋病治肝，二便屬腎，便病治腎，皆有古訓。擬溫通與補益兼施。</p>
<p>熟地炭（六錢，要透）　當歸（三錢）　柏子仁（四錢）　甘杞子（三錢，淡鹽水炒）　製香附（三錢）　桂枝（一錢半）　炒懷山藥（六錢）　炒菟絲餅（三錢）　牡蠣（五錢）　川續斷（三錢）</p>
<p>真桑寄生（三錢）</p>
<p>大流鼻衄，止後而有涕赤色，耳響頭痛。</p>
<p>北沙參（五錢）　麥冬（三錢）　根生地（六錢）　山茶花（三錢）　冬桑葉（一錢半）　蘇薄荷葉（一錢半）　杏仁（三錢）　炒丹皮（三錢）　桔梗（二錢）　羚羊角（一錢半，先煎）　生甘草（一錢半）　竹葉（三十片）</p>
<p>痛瀉已去，寒熱亦減，舌淨，脈仍弦，再當調肝，述腹中有塊梗痛，胃不開。</p>
<p>當歸（三錢）　炒白芍（三錢）　生牡蠣（五錢）　陽春砂（八分，同煎）　半夏曲（三錢）　新會皮（八分）　澤瀉（一錢半）　青蒿梗（一錢半）　炙鱉甲（四錢）　川石斛（三錢）　干荷葉（一角）</p>
<p>寒熱往來，頭痛胸肋痛，咳嗽氣急，舌黃，已有五日，脈弦細，口苦欲嘔，當屬少陽受風之症。</p>
<p>軟柴胡（一錢半）　蘇薄荷葉（一錢半）　酒炒黃芩（三錢）　冬桑葉（一錢半）　礬半夏（二錢）</p>
<p>陳皮（八分）　川鬱金（一錢半）　栝蔞皮（三錢）　苦杏仁（三錢）　生牡蠣（五錢）　竹肉（一丸）</p>
<p>六脈全芤，婦人崩漏，茲小產後，血分大虛，故有此脈。冷氣上衝，丹溪曰：凡自覺冷者，非真冷也，此屬肝氣之逆。</p>
<p>大生地（六錢）　當歸（三錢）　炙鱉甲（四錢）　炙龜板（四錢）　懷山藥（四錢）　牡蠣（四錢）　陽春砂（八分，沖）　川續斷（三錢）　新會皮（八分）　建石斛（三錢）</p>
<p>六脈已起，胃口亦開，是病已淨盡，若論補法，則惟涼滋肺胃，是熱病之後路。</p>
<p>大生地（八錢）　炒白芍（三錢）　麥冬（三錢）　北沙參（五錢）　懷山藥（四錢）　茯苓（三錢）　象貝（三錢）　新會皮（八分）　建石斛（三錢）　生苡仁（四錢）　干荷葉（一角）</p>
<p>肺氣感冒，三日是半經，業經大汗，據理應涼淨，若未淨，當再三日，然亦無大苦，有汗者，不應再汗，況頭眩足滯痛皆瘥，脈數已流利，擬再清肺。</p>
<p>苦杏仁（三錢）　連翹（三錢）　桔梗（一錢半）　生苡仁（八錢）　礬半夏（二錢）　陳皮（八分）</p>
<p>茯苓（三錢）　生甘草（八分）　冬桑葉（一錢）　焦梔子（三錢）　竹葉（三十片）　荷葉（一角）</p>
<p>右脈已滑，有力有神，左寸亦然，惟左關尚澀，是總由肝血之虛，再當補其肝血，兼以養絡。</p>
<p>熟地（八錢）　當歸（三錢）　陳龜膠（三錢，烊沖）　真驢膠（三錢，烊沖）　懷山藥（四錢）</p>
<p>川續斷（三錢）　炒杜仲（三錢）　柏子仁（三錢）　制狗脊（三錢）　建石斛（三錢）　新會皮（八分）</p>
<p>經年或瀉或燥，今已肝陽犯胃作嘔，用喻氏進退法而愈，惟瀉仍有不痛而響，以肝症合觀，當屬風木乘脾，第又有別，以其風勝也。</p>
<p>當歸（三錢）　生白芍（五錢）　桂枝（一錢半）　清炙甘草（一錢半，要焦）　懷山藥（五錢）</p>
<p>澤瀉（三錢）　炒刺蒺藜（三錢）　冬桑葉（一錢）　宣木瓜（三錢）　新會皮（八分）</p>
<p>診脈甚流利而緩，緩即屬脾脈之本象，所謂脈貴有神者即此，非可進熱，再用益陰健骨法。</p>
<p>熟地（八錢）　炒杜仲（三錢）　柏子仁（三錢）　懷山藥（四錢）　當歸（三錢）　制狗脊（二錢，去毛）　真桑寄生（三錢）　炒白芍（二錢）　川續斷（三錢）　懷牛膝（三錢，炒）　建石斛（三錢）</p>
<p>發時純熱，口大渴有汗，總屬癉瘧。今日移早，瘧本將愈，惟不令出汗，明日須再至。</p>
<p>飲後胸微脹，是水不速下，舌苔較昨濃，仍微黃色，口喉燥甚，是熱傷肺津。白虎湯本生津去熱之藥，祛熱生津，於病本合，先有頭眩肢重，本有濕熱痰，脈數不滯，斷非伏暑，再擬白虎湯復入祛濕消痰，兼以生津。</p>
<p>生石膏（一兩）　知母（三錢）　生甘草（一錢半）　連翹（三錢）　苦杏仁（三錢）　赤茯苓（五錢）　陳皮（八分）　生苡仁（六錢）　象貝（三錢）　枳殼（一錢半）　白粳米（三錢）</p>
<p>用白虎湯後，大熱大汗已止，舌苔前半已去，而根尚有黃色，口苦且膩，掌心尚熱，小溲赤，診脈左手已小，右手稍有滯象，惟皆數，數屬邪未淨，想癉瘧由於暑邪之在肺，再擬肺入法，惟素有濕邪，復入祛濕。</p>
<p>羚羊角（二錢，先煎）　象貝（三錢）　通草（一錢）　陳皮（八分）　連翹（三錢）　麥冬（三錢）　赤茯苓（三錢）　生苡仁（八錢）　六一散（三錢）　焦梔子（三錢）　竹肉（一丸）</p>
<p>昨日又勞，今日又有寒熱，舌黃口渴脈數。凡寒熱，有出於肺與少陽膽者，有出於肝者，有出地募原者，有出營衛之和者，今逢勞則發，當責營之衛不和，出汗大便溏，衛病也。乾嘔或有清水，肝病也。今日先擬調和營衛法。</p>
<p>東洋參（一錢半）　陳皮（八分）　炒白芍（三錢）　陽春砂（六分，沖）　生冬術（三錢）　礬半夏（三錢）　炮薑炭（八分）　生薑（二片）　當歸（三錢）　桂枝（一錢）　茯苓（三錢）　紅棗（七枚）</p>
<p>舌淨脈平，惟鼻間尚有紅色，當益其陰。</p>
<p>大生地（八錢）　北五味（十四粒）　川石斛（三錢）　丹皮（三錢）　炙龜板（五錢，先煎）</p>
<p>懷山藥（四錢）　新會皮（八分）　山茶花（三錢）　麥冬（三錢）　茯苓（三錢）</p>
<p>伏邪論每至下午，或純熱，或純寒，或寒熱相間，日日如是。今身熱三日，涼後第六日又熱，第七日出汗身涼，診脈已緩，舌白燥，小溲赤短，是汗後。書以汗多者禁利小便，口味淡，胃火未淨，口氣亦然，鄙見仍屬肺分受風化火之候，頭不脹，胸不悶，脈雖滯，腰腿雖酸，總非伏邪。再擬清涼肺胃法。</p>
<p>羚羊角（二錢，先煎）　連翹（三錢，不去心）　焦梔子（三錢）　苦杏仁（三錢）　鮮生地（八錢）</p>
<p>麥冬（三錢，不去心）　陳皮（八分）　茯苓（三錢）　桔梗（一錢半）　象貝（三錢）　竹葉（三十片）</p>
<p>肺風感冒，身已涼，舌已淨，脈小數，口渴少寐，頭眩痛瘥，指木腰痛，呼吸腰間痛，是筋中病，大便不解已有四日，是夾有勞乏。</p>
<p>北沙參（六錢）　麥冬（三錢）　根生地（五錢）　象貝（三錢）　生石決明（三錢）　生穀芽（五錢）　新會皮（八分）　川石斛（三錢）　茯苓（三錢）　生玉竹（四錢）　竹葉（三十片）</p>
<p>前日寒熱頭脹，今日又冷且戰後熱，熱時無汗，頭上與身尚覺木，腰背穿痛，舌黃滑，診脈兩手皆滯，書以木屬濕痰，合脈怕作伏邪，第冷時作戰是瘧象，而瘧屬肝分。擬用肺分法，勿用小柴胡引賊也。</p>
<p>蘇薄荷葉（一錢半）　礬半夏（三錢）　杏仁（三錢）　厚朴（一錢）　白芥子（一錢）　陳皮（八分）</p>
<p>滑石（三錢）　酒黃芩（一錢半）　白蔻殼（一錢）　桔梗（二錢）　蘇梗（二錢）　荷葉（一角）</p>
<p>肝風齒痛月余，右腫去而左又腫，頭額痛，診脈尚弦，總由血虛生風。</p>
<p>炒刺蒺藜（三錢）　生地（八錢）　炒茶菊炭（一錢半）　炒半夏曲（三錢）　蔓荊子（三錢）</p>
<p>當歸（三錢）　甘杞子炭（三錢）　陳皮（八分）　明天麻（一錢半）　生牡蠣（六錢）　生石決明（三錢）</p>
<p>荷葉（一角）</p>
<p>由癉瘧後，帶起胃濕熱邪，現下舌黃已減，而根未除，目筋尚紅，鼻柱色膏，臥不安口巳燥，而食後水運，診脈稍有滑象，是濕熱未罷之候，祛疾務盡，再用前法。</p>
<p>生苡仁（八錢）　生蒼朮（二錢）　礬半夏（五錢）　陳皮（八分）　羚羊角（二錢，先煎）　連翹（三錢）　澤瀉（一錢半）　陽春砂（八分，沖）　茯苓（三錢）　綿茵陳（三錢）　竹肉（一丸）</p>
<p>失紅右肋下痛，舌黃，大小溲均熱，診脈右手弦，左關獨起，是必由於熱傷肝絡。</p>
<p>降真香（一錢半）　製香附（三錢）　根生地（三錢）　生白芍（一錢半）　川鬱金（三錢）　炒丹皮（三錢）　生牡蠣（五錢）　焦梔子（三錢）　炒蘇子（三錢，後煎）　冬桑葉（一錢）　軟柴胡（一錢半）　竹肉（一丸）</p>
<p>身熱出汗，小溲赤短，頭痛且眩，兩足滯，診脈浮弦數，已有三日，尚渴，身上不怕冷而熱，舌上無苔微白。書以無苔者邪在肺，身熱有汗者屬風，頭尚痛者邪未淨。頭眩者濕痰，兩足滯兩手木者，亦屬濕痰。擬祛肺分之風熱濕痰。</p>
<p>蘇薄荷葉（一錢半）　冬桑葉（一錢）　生米仁（八錢）　酒黃芩（五錢）　炒大力子（三錢）</p>
<p>礬半夏（三錢）　連翹（三錢）　苦杏仁（三錢）　陳皮（八分）　桔梗（一錢半）　絲瓜葉（三片）　荷葉（一角）</p>
<p>今日診脈皆起，惟欠長，且有數意，總屬血分之虛。張氏書以脈洪大者可重用地黃，惟脈小者不能，以脈小為不能載重藥也。再擬前法。</p>
<p>大熟地（六錢）　當歸（三錢）　真驢皮膠（三錢，烊沖）　甘杞子（三錢）　炒杜仲（三錢）</p>
<p>川續斷（三錢）　蘄艾絨（一錢）　建石斛（三錢）　陳皮（八分）　炮薑炭（三錢）　紅棗（七枚）</p>
<p>診兩手脈皆滯，舌苔根黃濃，頭脹雖瘥而未除，胃開氣衝，至喉作癢而乾嘔，所患者是肝胃不和，頭脹是陽氣不達顛頂，故有起落，而據脈與苔，恐有濕病之起，故以越鞠丸加減。</p>
<p>焦茅朮（三錢）　半夏曲（三錢）　煨葛根（一錢半）　製香附（三錢）　炒建曲（二錢）　炮薑炭（六錢）　陳皮（八分）　陽春砂（八分，沖）　茯苓（三錢）　鮮荷葉（一角）</p>
<p>暑濕七日，尚未通陽，頭痛汗不得出，尚有寒，舌苔甚薄，當在上焦，惟胸悶稍加中焦藥，至腹中流走作痛，必夾有肝氣，嗜臥是濕邪。擬上中焦法，兼以舒肝。</p>
<p>蘇薄荷葉（一錢半）　連翹（三錢）　桔梗（一錢半）　川鬱金（一錢半）　白蔻殼（一錢半）</p>
<p>六一散（四錢）　半夏曲（二錢）　杏仁（三錢）　厚朴（一錢）　陳皮（八分）　絲瓜葉（二片）　竹葉（三十片）</p>
<p>間日瘧後，胃開脈弦數，舌黃，想間日瘧後，仍當溫肝，惟夾有外風在肺，打嚏咳嗽有痰，喉中覺熱，復入清肺可耳。</p>
<p>製首烏（六錢）　當歸（一錢半）　象貝（三錢）　生玉竹（四錢）　炙鱉甲（四錢）　冬桑葉（一錢）　桔梗（一錢半）　炒白芍（二錢）　杏仁（三錢）　生甘草（八分）　荷葉（一角）</p>
<p>右邊肋間穿痛，且痛時作嘈，必欲食之，診脈弦細，舌中黃，是屬絡中肝痛，而夾有胃熱與痰。</p>
<p>生地炭　炙鱉甲　製半夏　冬桑葉　當歸　牡蠣　陳皮　川續斷　柏子仁（三錢）　軟柴胡梢（一錢）　炒丹皮（三錢）</p>
<p>齒痛已有月余，大痛亦三四日，兩太陽痛，診脈數，舌白燥，當用肝分法。</p>
<p>炒刺蒺藜（三錢）　蔓荊子（三錢）　薄荷（一錢半）　生地（六錢）　羚羊角（一錢半，先煎）</p>
<p>冬桑葉（一錢）　當歸（三錢）　炒白芍（二錢）　生牡蠣（五錢）　陳皮（八分）　荷葉（一角）</p>
<p>感風出　，已有五日，業經有汗，無須辛期。舌黃，口渴。脈數，當用涼劑，且素屬火體，是氣有餘，血不足，茲姑先祛外邪。</p>
<p>羚羊角（一錢半，先煎）　桔梗（三錢）　蟬蛻（一錢半）　連翹（三錢）　炒大力子（一錢半）</p>
<p>酒黃芩（三錢）　象貝（三錢）　陳皮（八分）　苦杏仁（三錢）　冬桑葉（一錢）　竹肉（一丸）</p>
<p>身熱七日，涼後舌苔微黃，胃不開，鼻間有紅，小溲黃，診右手尤弦，有數意，是余邪化熱之候，當清涼肺胃。</p>
<p>北沙參（五錢）　天花粉（三錢）　連翹（三錢）　陳皮（八分）　麥冬（三錢）　山茶花（三錢）</p>
<p>象貝（三錢）　炒丹皮（三錢）　焦梔子（四錢）　茯苓（三錢）　竹葉（三十片）</p>
<p>嗽血已止，而口不知味，必有外感，舌黃，午後胸前塞，兩腿酸痛，手顫不寐，大約受有暑濕熱，當用甘寒。</p>
<p>六一散（四錢）　桔梗（三錢）　象貝（三錢）　焦梔子（三錢）　知母（三錢）　枳殼（一錢半）</p>
<p>通草（一錢半）　木防己（三錢）　生石膏（六錢）　冬桑葉（一錢）　茯苓（三錢）　竹葉（三十片）</p>
<p>伏邪十日，冷顫雖去，汗雖有，而小溲未長，口中尚膩脈弦滯，當清其肺濕。</p>
<p>杏仁（三錢）　半夏曲（三錢）　陳皮（八分）　六一散（四錢）　通草（一錢半）　連翹（三錢）</p>
<p>枳殼（一錢半）　焦梔子（三錢）　酒炒黃芩（三錢）　桔梗（二錢）　竹葉（三十片）</p>
<p>寒熱已有三四日，頭脹咳嗽，小溲赤，脈右寸弦浮數，當屬上焦暑風，因新感風寒引起。</p>
<p>薄菏（一錢半）　白蔻殼（一錢）　杏仁（三錢）　連翹（三錢）　枳殼（一錢半）　桔梗（二錢）</p>
<p>冬桑葉（一錢半）　象貝（三錢）　陳皮（八分）　竹葉（二十四片）</p>
<p>先瀉十余日，止後反腹痛，且有寒熱，脈滯大，是皆濕熱不得開廓之故。</p>
<p>厚朴（一錢半）　杏仁（三錢）　川鬱金（一錢半）　枳殼（一錢半）　六一散（四錢）　茯苓（三錢）　通草（一錢半）　桔梗（二錢）　半夏曲（二錢）　陳皮（八分）　荷葉（一角）</p>
<p>頭痛身熱十余日，大便瀉，舌黃，口渴咳嗽，是上焦暑濕夾風。</p>
<p>薄荷（一錢半）　生苡仁（五錢）　象貝（三錢）　茯苓（三錢）　杏仁（三錢）　連翹（三錢）</p>
<p>桔梗（三錢）　陳皮（一錢）　六一散（四錢）　川鬱金（一錢半）　冬桑葉（一錢半）　竹葉（三十片）</p>
<p>前日受寒，昨日先冷作顫，熱轉神昏，至今早始涼，此刻診兩手脈弦細，舌白口苦胃不開，是邪尚未化火，怕成瘧疾。</p>
<p>蘇薄荷（一錢半）　苦杏仁（三錢）　乾薑（一錢）　桂枝（一錢半）　蘇梗（二錢）　薑半夏（三錢）　枳殼（一錢半）　桔梗（一錢半）　白蔻仁（五分，沖）　陳皮（八分）　生薑（二片）</p>
<p>下午發熱，不作冷，汗不透澈。脈數弦，舌黃，口不渴，小溲赤，已有兩三天，當屬伏邪之輕者，當用上中焦法，五日可望解，十天可已。</p>
<p>蘇薄荷葉（一錢半）　連翹（三錢）　通草（一錢半）　半夏曲（二錢）　杏仁（三錢）　厚朴（一錢）　焦梔子（三錢）　酒炒黃芩（一錢半）　滑石（三錢）　陳皮（八分）　荷葉（一角）</p>
<p>胃中梗塞，或酸或苦，無物不嘔，已有三月，舌黃濃，脈弦細，當屬肝陽犯胃。</p>
<p>炒川連（一錢）　杏仁（二錢）　陳皮（八分）　降真香（一錢）　炒乾薑（三錢）　薑半夏（二錢）</p>
<p>當歸（三錢）　川鬱金（一錢半）　枳殼（一錢半）　廣木香（一錢）　生白芍（三錢）　荷葉（一角）</p>
<p>產後左關本虛，以嗣育皆肝藏事，產後去血過多，故須百日後始復。今況又外感風熱，出汗太多。今均已愈，惟胃口尚不如前，左關尚小，再擬益血壯筋。</p>
<p>大生地（八錢）　炒白芍（三錢）　炒杜仲（三錢）　地骨皮（三錢）　歸身（三錢）　制狗脊（三錢）　建石斛（三錢）　陳皮（八分）　甘杞子（三錢）　川續斷（三錢）　炒丹皮（三錢）</p>
<p>傷風，脈弦滯去而稍數，舌仍黃，耳響聾。咳嗽與痰尚有，再當前法。</p>
<p>北沙參（六錢）　麥冬（三錢）　象貝（五錢）　冬桑葉（一錢半）　石菖蒲（一錢）　桔梗（二錢）　生甘草（一錢半）　滑石（三錢）　薄荷梗（二錢）　生苡仁（六錢）　竹肉（一丸）</p>
<p>諸筋抽痛，足底作癢，頭風作痛，右寸大，余均虛，當屬肝血虛風。</p>
<p>大生地（六錢）　歸身（三錢）　川續斷（三錢）　炒刺蒺藜（三錢）　冬桑葉（一錢半）　炒旱蓮草（一錢半）　茯苓（三錢）　懷山藥（三錢）　炒白芍（二錢）　麥冬（三錢）　生牡蠣（五錢）</p>
<p>伏邪八日已有汗，舌黃口渴唇焦。今日有昏語，胸中痛，動則欲嘔，是屬上焦心肺，現在走心，兼有肝氣，須防嘔蛔與痙。</p>
<p>羚羊角（二錢，先煎）　鮮生地（八錢）　麥冬（三錢）　連翹（三錢）　金銀花（三錢）　石菖蒲（一錢半）　川連（八分，薑汁炒）　歸尾（三錢）　益元散（三錢）　川楝子（三錢）　酒元胡（一錢半）　陳皮（八分）　竹肉（一丸）</p>
<p>冬溫惡寒去，皮膚有涼時，而仍有熱時，口能渴，舌漸化燥，大便瀉，小便有，是移熱已解，而肺陰余熱未除，再當遵葉氏甘寒法矣。惟太陽經與兩手腕牽掣，且嘔酸綠水，是仍屬夾有肝氣，法當復入肝藥，而避去甘味，以嘔家忌甘也。</p>
<p>苦杏仁（三錢）　象貝（五錢）　生白芍（二錢）　焦梔子（三錢）　栝蔞皮（三錢）　陳皮（八分）</p>
<p>冬桑葉（二錢）　天花粉（三錢）　苦桔梗（一錢半）　黃芩（三錢）　連翹（三錢）　生薑（二片）</p>
<p>此薑所以除嘔也，平肝也。丹溪有生薑梔子湯，用以通肝熱，祈勿泥。</p>
<p>感風肌熱已久，今已有汗，而舌黃口燥，咳嗽痰如水，喉癢，診脈弦數。據書風溫日久，表裡均熱，當用甘寒。</p>
<p>苦杏仁（三錢）　生甘草（一錢）　桔梗（二錢）　羚羊角（二錢，先煎）　根生地（六錢）　地骨皮（三錢）　冬桑葉（一錢半）　橘紅（八分）　麥冬（三錢）　生玉竹（三錢）　象貝（五錢）　竹肉（一丸）</p>
<p>濕瘧以溫脾得止，述胃開，大便已燥，小溲亦長，舌苔黃去而尚濃仍滑，尚非過燥之候。擬再祛濕溫中。</p>
<p>東洋參（三錢）　陳皮（八分）　茯苓（三錢）　生苡仁（六錢）　焦冬術（三錢）　炮薑炭（一錢半）清炙甘草（八分）　廣木香（一錢）　礬半夏（三錢）　桂枝（一錢半）　炒穀芽（五錢）　生薑（二片）　紅棗（七枚）</p>
<p>少腹痛，氣升作嘔，診脈兩關尺獨大，咳嗽多痰，患經四載，此屬奔豚，當用石頑先生法。</p>
<p>當歸（三錢）　川楝子（三錢）　小茴香（三錢，炒）　酒元胡（一錢半）　生牡蠣（六錢）　烏骨（三錢）　降真香（一錢半）　生香附（一錢半）　炒白芍（三錢）　澤瀉（三錢）</p>
<p>四帖痛去，而咳嗽多痰，再以前法，復以息風。</p>
<p>外感去後，帶起肝痛作嘔，口渴，脈弦數。</p>
<p>歸須（三錢）　炒川連（一錢）　杏仁（三錢）　炒白芍（三錢）　川楝子（三錢）　半夏曲（三錢）降真香（一錢）　鮮生地（二片，泡）　酒元胡（一錢半）　陳皮（八分）　生香附（一錢半）</p>
<p>兩劑痛嘔皆去。</p>
<p>診脈沉弦，五更腹痛作溏，當用建中加減。</p>
<p>當歸（三錢）　清炙甘草（一錢半）　生牡蠣（五錢）　製香附（三錢）　生白芍（五錢）　南天燭（六錢）　陽春砂（八分，沖）　川續斷（三錢）　桂枝（一錢半）　炒丹皮（三錢）　陳皮（一錢）</p>
<p>，久則必失紅，且塊形日增痛，今已患有咳嗽，豈已愈之事，故用薛氏法八劑未效。鄙見仍須進之，藥足其瘧母自消。</p>
<p>炙鱉甲（六錢）　當歸（三錢）　小青皮（一錢半）　旋覆花（三錢，包煎）　炙龜板（四錢）</p>
<p>生牡蠣（六錢）　柏子仁（四錢）　青蔥管（二支）　生地（五錢）　軟柴胡梢（一錢半）　冬桑葉（一錢）</p>
