<header><h1>傷科方書</h1></header>
<dl class="元資料" data-type="book">
<div><dt>作者</dt><dd>江考卿</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1840">公元1840年</data></dd></div>
</dl>
<h2>斷死證秘訣</h2>
<p>金傷身損眼皮青。定主身亡難救命。若是氣喘與咆噎。且在一七內中亡。人中晝滿唇又青。三日須知命必傾。神仙留下真秘訣。不說凡人不知音。</p>
<h2>秘受不治法</h2>
<p>凡矢柱骨折。不治。</p>
<p>凡兩目損傷。不治。</p>
<p>凡口開氣出不收。不治。</p>
<p>凡口如魚口。不治。</p>
<p>凡傷食喉。不治。</p>
<p>凡打破頭鼻流黃白水。不治。</p>
<p>凡脊骨折斷。不治。</p>
<p>凡心胞緊痛。紅色高腫。不治。</p>
<p>凡心口青色。不治。</p>
<p>凡小腹陰陽不分。不治。</p>
<p>凡跌打大小腹痛。不治。</p>
<p>凡腎子傷入小腹。不治。</p>
<p>凡孕婦傷犯胎。不治。</p>
<p>凡女人傷乳。不治。</p>
<p>凡男人兩乳堂傷。不治。</p>
<p>凡腰傷自笑。不治。</p>
<p>凡兩臂墮下。盡力叫嚎。汗出如油者。不治。</p>
<p>凡人手骨出一脛可治。兩股齊出。不可治。</p>
<h2>受傷治法</h2>
<p>凡腦受傷。使人輕輕扶正。皮未破。用二十號黑龍散。已破。用十四號桃花散。填破口避風。禁口自愈。</p>
<p>凡頂門受傷。用二十四號止血散。搽服俱用此藥。</p>
<p>凡氣喉受傷。令人扶頭托湊喉管。不使出氣。用銀針連好。外用十八號貼膏。內服上部藥方。</p>
<p>凡眉甲骨出。用椅圈將軟衣墊好。令傷人坐圈中。使一人捉定。以絹縛之。外用十八號貼膏。內服上部藥方。</p>
<p>凡肩KT　骨折。必先使骨平正。用十八號貼膏。以油紙扎好。內服六號接骨丹。</p>
<p>凡金井骨在脅下。若損傷。不宜夾縛。扶平。用二十六號黑龍散。</p>
<p>凡兩脅骨折。如金井骨治法。</p>
<p>凡肩臂脫出。令人抵住。以抱著手臂。輕輕送入故位。內服六號接骨丹。外貼十八號膏。</p>
<p>凡人膝蓋。乃另生者。跌出不治。跌破者。用篾箍以帶縛定。外用二十四號止血散。</p>
<p>凡傷破腹。大腸跌出。被風吹其腸干。不能收口。用麻油操上。使腸潤澤。用一人托腸。一人默含冷水。噴潑傷人身上。其人必然一驚。托腸入即隨驚送入。再用銀針連好。先敷二十四號止血散。後用十八號膏貼。傷破目難看見。用好酒一杯。令傷者飲下。即使人嗅傷。如若有酒氣。其腸已破。難已救治。</p>
<p>凡人骨跌出內外折肉中。用二十號寶麻藥一服。再將肉破開。取膏整換用二十四號止血散。十八號貼膏。外以筍箬包好。內服六號接骨丹。</p>
<p>凡打傷跌腫。肉中之骨。不知碎而不碎。醫人以手輕輕摸腫處。若有聲者。其骨已破。先用二十號寶麻藥一服。然後割開。如血來不止。用二十四號止血丹。又用二十號寶麻藥一服。再取骨出。若骨碎甚。即以別骨填接。外貼十八號膏藥。內服六號接骨丹。</p>
<p>凡平直處。跌打骨傷。皮不破。先用二十號黑龍散敷好。再用板夾縛平正。如曲折之處。只宜敷藥。不宜挾縛。免愈後不能伸屈。</p>
<p>凡服跌打藥。要忌冷水冷物。其藥必要熱服。</p>
<p>凡跌打傷重。必先用二十七號藥水洗過。然後敷藥。輕傷不必如此。</p>
<p>凡跌打血來不止。用二十五號桃花散。或二十四號止血丹。再不止。用三七山羊血。外用桃花散圈上。</p>
<p>凡骨未碎有輕者。外用十八號貼膏。內服上中下三部之藥。照傷何部。即用何部藥方。</p>
<p>凡山谷鄉村無藥鋪之處。若遇跌打。暫用糯米水。酒。薑。蔥。同搗包熨。不使血凝。內服老酒。再治可也。</p>
<p>凡跌打藥。宜瓷瓶收貯。不使出氣。</p>
<p>凡人周身一百零八穴。小穴七十二處。大穴三十六處。打中小穴。重亦無妨。打中大穴。雖輕亦死。今將三十六個大穴。道明受傷治法。</p>
<p>頭頂心名為元宮穴。打中者。二日死。輕者。耳聾頭眩。六十四日死。先用加減湯。加羌活(一錢)　蒼耳子(一錢五分)次用奪命丹二三服。再加藥酒常服。</p>
<p>前胸名華蓋穴。打中者人事不省。血迷心竅。三日而死。先用加減湯。加枳實(一錢)　良薑(一錢)　次用七厘散二分。後用奪命丹二三服。</p>
<p>後背心名肺底穴。打中者。兩鼻出血。九日而死。先用加減湯。加百部八分。桑皮(一錢)　次用七厘散二分。後用奪命丹二三服。再用紫金丹。</p>
<p>右乳上一寸三分。名上氣穴。打中者。發寒熱三十二日而死。先用加減湯。加沉香(五分)　肉桂(一錢五分)　次用七厘散二分。後用奪命丹二三服。</p>
<p>左乳下一分名中氣穴。打中者十二日而死。先用加減湯。加青皮(一錢)　乳香(一錢)　次用七厘散二分。後用奪命丹二三服。</p>
<p>左乳下一寸四分。名下氣穴。打中者七日而死。先用加減湯。加枳實(一錢五分)　石菖蒲(一錢)　次用七厘散二分。</p>
<p>後用奪命丹二三服。</p>
<p>右乳上一寸三分。名上血海。打中者。口中吐血。十六日死。先用加減湯。加鬱金(一錢二分)　沉香(一錢)　次用七厘散二分。再用奪命丹二三服。</p>
<p>右乳下一分。名正血穴。打中者口中吐血。十八日死。先用加減湯。加鬱金(一錢五分)　寄奴(一錢五分)　次用七厘散二分。</p>
<p>再用奪命丹一二服。</p>
<p>右乳下一寸四分。名下血海。打中者。三十六日。吐血而死。先用加減湯。加五靈脂(一錢二分)　蒲黃(一錢)　炒黑。</p>
<p>次用七厘散二分。再用奪命丹二三服。</p>
<p>心中名黑虎偷心穴。打中者。立刻眼目昏花。人事不省。拳回氣絕。速宜治之。先用加減湯。加官桂(一錢)　丁香六分。次用七厘散二分。再用奪命丹(二三分)　再用紫金丹三四服。</p>
<p>心下一分。名霍肺穴。又下半分。名肺底穴。打中者。劈面一把。即醒。然後用藥。先用加減湯。加桂枝(一錢二分)貝母(一錢)　次用七厘散二分。再用奪命丹二三服。又服加減湯。後用紫金丹。</p>
<p>心下一寸三分。偏左一分。名翻肚穴。打中者。比日而死。先用加減湯。加紅花(一錢五分)　木香(一錢)　次用七厘散二分。仍用加減湯。二三服。再用奪命丹二三服。又用紫金丹三四服。或吊藥一敷。</p>
<p>臍下一寸(五分)　名氣海穴。打中者。二十八日而死。先用加減湯。加杏仁(一錢)　玄胡索(一錢)　次用七厘散二分。再用奪命丹二三服。</p>
<p>臍下三寸。名丹田穴。打中者。十九日而死。先用加減湯。加木通(一錢五分)　三棱(一錢五分)　次用七厘散三分。</p>
<p>臍下四寸五分。名分水穴。打中者。二便不通。十三日而死。先用加減湯。加三棱(一錢五分)　莪朮(一錢)　生軍三錢。次用七厘散二分。再用紫金丹二三服。</p>
<p>臍下六寸。名關元穴。打中者。五日而死。先用加減湯。加車前子(一錢)　青皮(一錢)　次用七厘散(二三分)　再用奪命丹二三服。</p>
<p>左邊脅臍毛中。名氣海穴。打中者。六個月而死。先用加減湯。加五加皮(一錢)　羌活(一錢)　次用七厘散二三分。</p>
<p>再用奪命丹三四服。</p>
<p>右邊脅臍毛中。名血海門。打中者。五個月死。先用加減湯。加柴胡(一錢二分)　當歸(一錢)　次用七厘散(二分)　再用奪命丹二三服。或用藥酒常服。左邊脅梢軟骨。名章門穴。打中者。一百五十四日死。先用加減湯。加歸尾(一錢)　蘇木(一錢)　次用紫金丹三四服。</p>
<p>右邊脅梢軟骨。名地門穴。打中者。六十日而死。先用加減湯。加丹皮(一錢)　紅花(一錢五分)　次用奪命丹二三服。</p>
<p>仍服加減湯。</p>
<p>下一分。名血囊穴。打中者。四十日而死。先用加減湯。加蒲黃(一錢)　韭菜子(一錢)　次用奪命丹二三服。再服藥酒。</p>
<p>兩耳下半分空處。名聽耳穴。打中者。二十四日死。先用加減湯。加川芎(一錢)　細辛(五分)　次用奪命丹一二服。</p>
<p>再服藥酒。</p>
<p>背心第七個節兩邊下一分。名石骨穴。打中者。吐痰吐血。十個月而死。先用加減湯。加杜仲(一錢)　骨碎補(一錢)次服奪命丹三四服。</p>
<p>下一寸一分。名後氣穴。打中者。一季而死。先用加減湯。加補骨脂(一錢)　烏藥(一錢)　次用紫金丹三服。再用藥酒。</p>
<p>兩腰眼中左邊。名腎經穴。打中者。三日大哭而死。先用加減湯。加桃仁(一錢五分)　紅花(一錢)　次用奪命丹二三服。</p>
<p>右邊名命門穴。打中者。日事而死。先用加減湯。加桃仁(一錢五分)　前胡(一錢)　次用奪命丹三服。</p>
<p>尾梢盡下一分。名海底穴。打中者。七日而死。先用加減湯。加生軍(一錢)　朴硝(一錢)　次用奪命丹二三服。再用紫金丹三四服。</p>
<p>兩腿中。同名鶴口穴。打中者。一季而死。先用加減湯。加牛膝(一錢)　苡仁(一錢)　次用紫金丹二三服。</p>
<p>左右腳　中。同名涌泉穴。打中者。十四個月死。先用加減湯。加牛膝(一錢)　宣木瓜(一錢)　次用奪命丹二三服。</p>
<p>以上三十六大穴。指明受傷之法。然用藥雖無久異。不過加減湯。及七厘散。奪命紫金等藥。惟加減方中。所加二味零藥。不可錯誤。切宜緊記。大凡人於既跌之後。或相打受傷之後。感冒經風。發寒發熱。頭身皆痛。先用解肌湯。</p>
<p>或小柴胡湯治之。然後再服跌打之藥。</p>
<h2>通用方</h2>
<p>解肌湯　廣皮(一錢)。防風(一錢)　葛根(一錢)。木通(一錢)。羌活(一錢二分)。荊芥(一錢五分)。前胡(一錢)。</p>
<p>桔梗(一錢)。蘇葉(一錢五分)。加蔥白(三根)。薑(三片)。水煎服。</p>
<p>小柴胡湯　柴胡(一錢)。桔梗(八分)。連翹(一錢二分)。花粉(一錢五分)。葛根(一錢)。黃芩(一錢)。廣皮(一錢)。</p>
<p>木通(一錢五分)。</p>
<p>加燈心(十根)。砂仁末(五分)。水煎服。</p>
<p>十三味加減湯　五加皮(一錢五分)。枳殼(一錢)。劉寄奴(一錢)。肉桂)(一錢)。杜仲(一錢)。五靈脂(一錢)。</p>
<p>蒲黃(一錢)。歸尾(一錢五分)。廣皮(一錢二分)。紅花(八分)。玄胡索(一錢)。香附(一錢五分)。青皮(一錢)。</p>
<p>加砂仁(五分)。用陳酒煎服。</p>
<p>金瘡藥方　生南星(五錢)　生半夏(五錢)　共研細末搽之。</p>
<p>吊藥方　專治接骨入骱。打傷骨頭。止痛去傷。</p>
<p>赤芍(二錢)　麝香(五分)　乳香(二錢)　沒藥(二錢)各研細末。臨用糯米飯。燒酒。調塗。</p>
<p>七厘散　專治跌打血迷心竅。人事不省。服之可行。用冷粥即止。</p>
<p>硼砂(八錢)。朱砂(四錢)。血竭(八錢)。土狗(六錢)。地鱉(八錢)。歸尾(五錢)。紅花(五錢)。蘇木(四錢)。加皮(四錢)。枳實(五錢)。木香(五錢)。大黃(六錢)。巴霜(三錢)。蒲黃(三錢)。青皮(三錢)。廣皮(四錢)。烏藥(三錢)。靈脂(五錢)。三棱(五錢)。莪朮(五錢)。寸香(一錢)。肉桂(三錢)。猴骨(三錢)。</p>
<p>以上共研細末。重者二分。半輕者一分。再輕七厘。陳酒下。</p>
<p>飛龍奪命丹　專治跌打接骨。皆可服之。</p>
<p>當歸(五錢)。赤芍(二錢)。三棱(四錢)。寸香(二錢)。土狗(三錢)。土鱉(八錢)。莪朮(四錢)。青皮(三錢)。蒲黃(二錢)。碎補(三錢)。加皮(八錢)。廣皮(二錢)。硼砂(八錢)。自然銅(八錢)。木香(六錢)　烏藥(三錢)。朱砂(二錢)。胡索(四錢)。桂心(三錢)。香附(四錢)。寄奴(三錢)。桂枝(三錢)。血竭(八錢)。羌活(三錢)。前胡(三錢)。貝母(二錢)。</p>
<p>葛根(三錢)。秦艽(三錢)。桃仁(五錢)。蘇木(四錢)。杜仲(二錢)。</p>
<p>猴骨(二錢)。韭菜子(二錢)。古錢(四個)。醋酒浸。</p>
<p>共研細末。重服三分。輕分半。再輕一分。酒下。</p>
<p>地鱉紫金丹　專治遠近跌打內傷。面黃肌瘦。四肢無力。並腰痛皆服之。青皮(三錢)　黃芩(三錢)　赤芩(三錢)　烏藥(三錢)　紅花(三錢)　赤芍(三錢)　血竭(八錢)　朱砂(二錢)　自然銅(八錢)　土狗(五錢)　土鱉(三錢)　猴骨(三錢)　虎骨(八錢)　牛膝(三錢)　靈仙(三錢)　靈脂(五錢)　木香(二錢)　寸香(三錢)　香附(四錢)　肉桂(三錢)　枳殼(二錢)　丹皮(四錢)　桃仁(五錢)　貝母(三錢)　寄奴(三錢)　廣皮(三錢)　蘇木(三錢)　遠志(二錢)　歸尾(五錢)桂枝(三錢)　木通(三錢)　三棱(四錢)　莪朮(四錢)　秦艽(三錢)　加皮(五錢)　續斷(三錢)　杜仲(三錢)　骨脂(四錢)　碎補(三錢)　羌活(三錢)　葛根(三錢)　蒲黃(四錢)　澤瀉(三錢)　松節(五錢)　枸杞(三錢)　韭菜子(三錢)硼砂(八錢)共研細末。重服三分。輕二分。再輕一分。酒下。</p>
<p>萬應回生膏　專治遠近跌打。接骨。風氣。周身大穴受傷。貼即效。</p>
<p>生地(五錢)　熟地(五錢)　當歸(二錢五分)　川烏(二錢五分)　草烏(五錢)　紅花(五錢)　靈仙(二錢五分)　寄奴(二錢五分)　杜仲(一錢五分)　木瓜(一錢五分)　牛膝(二錢五分)　胡索(三錢)　桂枝(二錢五分)　防風(二錢五分)骨脂(二錢五分)　荊芥(二錢五分)　獨活(二錢)　赤芍(一錢五分)　碎補(五錢)　香附(三錢)　桃仁三十粒。升麻(三錢)丹皮(二錢五分)　蘇木(二錢五分)　青皮(二錢五分)。烏藥(二錢五分)　韭子(二錢五分)　松節(二錢五分)　秦艽(二錢五分)　續斷(二錢五分)　元參(二錢)　麻黃(二錢)　蒲黃(二錢五分)　虎骨(五錢)　猴骨(三錢)共研細末。將麻油一斤。血余(四兩)　煎好共熬成膏。</p>
<p>臨用加膏上末藥　寸香七分。丁香(一錢)　血竭(一錢)　木香(一錢)　桂心(一錢)　乳香(一錢)　沒藥(一錢)　香附(一錢)　東母(一錢)　蘇合油(一錢)勞傷藥酒方　(女人加益母草。油發灰。阿膠。各四錢)　紅花(二錢)　黃芩(五錢)　烏藥(五錢)　白茯苓(五錢)　生地(五錢)。當歸(六錢)　加皮(五錢)　骨脂(三錢)　杜仲(五錢)　牛膝(五錢)　枳殼(三錢)　桃仁(四錢)　遠志(五錢)續斷(三錢)　麥冬(五錢)秦艽(五錢)　丹皮(五錢)　枸節(五錢)　桂枝(三錢)　香附(三錢)　澤瀉(五錢)　胡索(五錢)　虎骨(八錢)　枸杞子(六錢)　白胡根(三兩)　胡桃肉(四兩)　大棗頭(三兩)以上等藥。共置入好酒中隨飲。</p>
<p>勞傷丸藥方　生地。熟地。加皮。當歸。丹皮。黃芩。杜仲。黃　。麥冬。天冬。遠志。川牛膝。補骨脂。柏子仁。</p>
<p>白茯苓。各等分。</p>
<p>以上共研細末。白蜜和丸。白湯送下。</p>
<p>體仁子曰。跌打損傷之症。皆從血論。損有重輕之不同。傷有淺深之各異。豈能一概而治乎。蓋皮未破。多用串皮破血之劑。皮既已破。多用通利兼補之方。此乃跌打中之大要也。學人用心詳焉。今將秘方開列於後。</p>
<h2>秘傳方</h2>
<p>君臣散(第一)　肉桂(童便浸，一兩)　紅花(酒洗，五錢)　歸尾(五錢)　生地(五錢)　甘草梢(五錢)　赤芍(五錢)烏藥(五錢)　牛膝(五錢)　玄胡索(五錢)　杜仲(三錢)　桃仁(去油，五錢)　碎補(去毛，五錢)　續斷(二錢)　花粉(二錢)　川芎(三錢)羌活(二錢)　牡丹皮(五錢)　加皮(二錢)　防風(二錢)　共研細末。臨用加薑末少許。</p>
<p>紫金散(第二)　紫金皮。　酒浸一宿。瓦上焙乾。為末用。</p>
<p>黑神散(第三)　黃金子。　麻油拌炒黑。為末。</p>
<p>桃花散(第四)　乳香炙。沒藥炙。血竭炙。　各等分。共研細末。</p>
<p>玉龍散(第五)　人中白。　醋炙七次。研末。</p>
<p>乳香散(第六)　乳香炙。沒藥炙。碎補去毛。當歸酒浸。硼砂　。血竭。土鱉去頭足。醋炙。　各等分。酒醉瓦焙。為末。</p>
<p>一粒金丹(第七)　半夏(二錢)　醋炙。土鱉炙兩半。栝蔞仁去油(三錢)　共研細末。以飯丸粟米大。上部一錢。下部一錢五分。酒下。</p>
<p>八仙丹(第八)　乳香(二錢)　沒藥(二錢)　巴霜(二錢)　碎補(二錢)　半夏(二錢)　歸尾(酒洗，五錢)　硼砂(三錢)大黃(五錢)　血竭(三錢)　自然銅(醋炒，三錢)　無名異(醋炙，二錢)以上共研細末。每服八厘酒下。</p>
<p>川芎散(第九)　上部頭傷痛用　川芎(一錢)　白芷(一錢)　防風(一錢)　赤芍(一錢)　生地(一錢)　當歸(一錢二分)　羌活(一錢二分)　花粉(一錢二分)　陳皮(一錢)　桔梗(一錢)　黃金子(一錢二分)　加薑(三片)　水酒煎服。</p>
<p>桂枝湯(第十)　上部手臂傷痛用　桂枝。枳殼。陳皮。紅花。香附。生地。防風。當歸。赤芍。獨活。玄胡索。　各等分。加童便煎服。</p>
<p>蔓荊散(第十一)　上部眼目傷用　白芍(一錢)　生地(一錢二分)　紅花(一錢二分)　白朮(一錢二分)　川芎(一錢二分)　當歸(一錢二分)　蔓荊子(一錢)　水酒煎服。</p>
<p>杜仲散(第十二)　中部腰痛傷用　肉桂(一錢)　烏藥(一錢)　杜仲(一錢二分)　赤芍(一錢)　當歸(一錢)　丹皮(一錢)　桃仁(一錢)　續斷(一錢)　玄胡索(一錢)　童便煎服。</p>
<p>杏仁湯(第十三)　中部肚痛傷用　甘草(三錢)　歸尾(一錢)　生軍(三錢)　杏仁(去皮，三錢)　桃仁(去皮，三錢)童便煎服。</p>
<p>桔梗湯(第十四)　下部二便閉用　紅花。蘇木。芒硝。各(五錢)　煨大軍(七錢)　桔梗(二錢)　桃仁(二十五粒)。</p>
<p>豬苓。澤瀉。各三錢。加薑(三片)　童便一盞。酒半斤。煎服。</p>
<p>車前散(第十五)　下部二便閉用　當歸。枳殼。赤芍。車前子。木通。桔梗。大黃。芒硝。　以上各等分。　童便水酒煎服。</p>
<p>海桐散(第十六)　手足傷亦可用　獨活。牛膝。秦艽。桂心。生地。陳皮。赤芍。續斷。當歸。防風。丹皮。加皮。薑黃。海桐皮。　以上各等分。童便水酒煎服。</p>
<p>麝香膏(第十七)　紅花(五錢)　歸尾(一兩)　蘇木(三錢)　加皮(五錢)　肉桂(五錢)　地黃(五錢)　白芷(五錢)紫金皮(五錢)防風(五錢)　荊芥(五錢)　牛膝(五錢)　續斷(五錢)　靈仙(三錢)　獨活(五錢)　麻黃(五錢)　黃柏(五錢)　丹皮(五錢)　桃仁(五錢)　苦參(五錢)　血余(五錢)　大黃(一兩)　以上用麻油斤半。將上等藥浸下。夏。二日。冬。四日。為度。用銅鍋熬至枯色。</p>
<p>入薑少許再熬。去渣又熬。入片。黃霜。三味。又熬數沸取起。收拾。聽用時加麝香。乳香。沒藥。三味藥末於膏上。</p>
<p>象皮膏(第十八)　凡跌打骨斷皮破皆用　大黃(一兩)　川歸(一兩)　肉桂(三錢)　生地(一兩)　紅花(三錢)　川連(三錢)　甘草(五錢)　荊芥(三錢)　白芨(五錢)　白蘞(五錢)　以上肉桂。白芨。白蘞。黃占。共研細末。余藥油浸。照前熬法成膏。收用時加膏上末藥。土鱉。血竭。龍骨。象皮。　硝。珍珠。乳香。沒藥。八味再帖。</p>
<p>藥酒方(第十九)　凡打傷跌損可用　當歸。生地。烏藥。三七。肉桂。乳香。沒藥。牛膝。丹皮。紅花。胡索。</p>
<p>防風。獨活。杜仲。加皮。落得草。川芎。虎骨。乾薑。薑黃。紫荊皮。海桐皮。　各五錢。米酒浸煮。早晚服。</p>
<p>八厘寶麻藥(第二十)　川烏。草烏。蟾酥。半夏。南星。黃麻花。鬧陽花。</p>
<p>共等分。研末。苧葉汁。拌末晒乾。再研末收好。每服八厘酒下。</p>
<p>楊花散(第二十一)　鬧陽花(二錢)　南星(二錢)　草烏(一錢)　半夏(二錢)共研末用麻黃根。萆麻根。萆麻葉。三味絞汁。拌上末藥。再研末。開割肉用者。搽上。</p>
<p>續筋骨(第二十二)　土鱉。血竭。龍骨。　共等分。研細末唾調塗。</p>
<p>又方(第二十三)　旋覆花。取汁調塗。</p>
<p>止血散(第二十四)　血見愁。馬蘭頭。川三七。旱蓮草。　共研細末。取好便用。</p>
<p>桃花散(第二十五)　陳平鍛石一斤。用牛膽浸七次。取出同大黃炒。如桃花色。去大黃用。</p>
<p>黑龍散(第二十六)　穿山甲　丁皮(六兩)　川芎(二兩)　枇杷葉(去毛，五錢)　百草霜(五錢)　當歸(二兩)　共研細末用。</p>
<p>洗傷藥方(第二十七)　艾。蔥。桂枝。荊芥。歸尾。槐花。蒼朮。防風。玄胡索。以上各五錢　水酒童便煎服。</p>
<p>陰江湯(第二十八)　婦人損傷用　阿膠。沒藥。油發灰。　水酒煎服。</p>
<p>血竭湯(第二十九)　跌打血從口出用　發灰。茅根。血竭。韭菜根。水酒童便煎服。</p>
<p>跌打既好筋不伸方(第三十)　黃荊子(一兩)　續斷(八錢)　海桐皮(八錢)　虎骨(八錢)　雞骨(八錢)　犬骨(八錢)秦艽(七錢)獨活(七錢)　共研細末。每服一錢五分。合下寬筋湯服。</p>
<p>寬筋湯(第三十一)　肉桂。牛膝。薑黃。黃　。川芎。地黃。獨活。續斷。白茯苓。海桐皮。　各等分。用水酒煎空心服。</p>
<p>人參散(第三十二)　凡接骨之後。無力不能行動用。　人參。白朮。肉桂。續斷。黃　。當歸。烏藥。　各等分。</p>
<p>用水煎服。</p>
<p>桂枝湯(第三十三)　凡治一切跌打通用　陳皮。芍藥。枳殼。丹皮。香附。生地。桂枝。歸尾。桃仁。乳香。沒藥。川芎。牛膝。藿香葉。　水煎服。</p>
<p>薑黃湯(第三十四)　凡一切跌打通用　桃仁。蘭葉。丹皮。薑黃。蘇木。當歸。陳皮。牛膝。川芎。生地。肉桂。</p>
<p>乳香。沒藥。　水酒童便煎服。</p>
<p>消風散(第三十五)　凡跌打損傷牙關緊閉　赤芍(一錢二分)　川芎(一錢二分)　當歸(五分)　升麻(一錢)　羌活(一錢)　陳皮(一錢二分)　半夏(一錢二分)　防風(七分)　南星(五分)　甘草(三分)　老薑(三片)　煎服。</p>
<p>麻黃湯(第三十六)　凡破傷風發寒用　肉桂(三分)　乾薑(五分)　半夏(一錢二分)　厚朴(七分)　桔梗(七分)　枳殼(七分)　麻黃(去節，二錢)　蘇木(五分)　川芎(七分)　陳皮(薑汁製，一錢)　煎濃熱服。</p>
<p>升麻湯(第三十七)　凡損傷頭用　白朮。附子。升麻。麻黃。紅花。川芎。乾薑。肉桂。甘草。　各等分。用加老薑三片。蔥頭三節。水煎服。</p>
<p>杏仁湯(第三十八)　肉桂。麻黃。桑皮。杏仁。桔梗。細茶。甘草。　各等分。加燈心煎服。</p>
<p>治破風(第三十九)　草(一兩)　水酒煎服。</p>
<p>金瘡方(第四十)　上三七(三錢)　水粉(炒黃，五分)　片香制(三兩)　共研細末用。</p>
<p>又方(第四十一)　舊氈帽邊(三兩)　燒灰存性用香油調塗。</p>
<p>刑杖方(第四十二)　歌云。既救諸傷又救刑。乳香沒藥合無名。土鱉再加真猴骨。然銅宜以醋來烹。六味一同研細末。煉蜜合成打彈丸。臨用須飲三杯酒。那怕黃昏打到明。　乳香。沒藥。土鱉。無名異。猴骨。自然銅。</p>
<p>又方(第四十三)　治刑杖　白芷(三錢)　赤芍(三錢)　乳香炙(一兩)　沒藥炙(一兩)　黃金子(一兩)　陳年尿坑瓦(童便酒，一兩)　共研細末。未杖之前。酒調服之。若既杖傷甚。只宜用下藥。</p>
<p>紅花散(第四十四)　治刑杖　酒醉土鱉醋　古錢炙乳香炙沒藥蘇木節巴霜。　各等分。研末。一板一厘。水酒調服。</p>
<p>刑傷夾拶方(第四十五)　大黃(四兩)　半夏(二兩)　白芷(二兩)　官桂(四兩)　甘草(二兩)　共研末。酒調扶傷處。內服上桃花散。</p>
<p>治足骨挾碎(第四十六)　土鱉二個。生蟹一個。共搗敷患處。內服六號乳香散。</p>
<p>治打足拐(第四十七)　牛膝(二錢)　土鱉(二錢)　共搗敷患處。</p>
<p>被人咬傷方(第四十八)　栗子一撮。口中嚼碎。敷患處。</p>
<p>抓破臉皮方(第四十九)　用薑汁調輕粉(一錢)　敷患處。</p>
<p>打傷接氣方(第五十)　參須(一錢)　朱砂(三錢)　乳香(一錢)　川烏(一錢)　北細辛(三錢)　寸香(一分)　共研細末。每服五七厘。童便下。</p>
<p>開關吹鼻散(第五十一)　細辛(二錢)　牙皂(二錢)　三奈(一錢)　良薑(二錢)　寸香(一分)　共研細末。吹鼻即蘇。</p>
<p>開吹喉散(第五十二)　治牙關緊閉　牙皂(二錢)　細辛(二錢)　巴霜(二錢)　共研末。入喉即蘇。</p>
<p>開灌下方(第五十三)　蟬蛻(三錢)　朱砂(一錢一分)　共研末。酒或童便下。</p>
<p>急救灌轉方(第五十四)　乳香(去油，四錢)　沒藥(去油，四錢)　名異(　，四錢)　枳殼(面炒，三錢)　寸香(二分)木鱉(便炒，三錢)　土鱉(火　，四錢)　土狗(面炒，四錢)　川銅(醋　，四錢)　血竭(五錢)　鬧陽花(酒蒸去心，五錢)共研細末。重服七厘。或酒或童便下。</p>
<p>欲吐痰方(第五十五)　膽礬三分。銅綠三分。　以上共研細末用神仙醋調。服即吐痰。</p>
<p>雞鳴散(第五十六)　治跌打瘀血攻心。脈欲死服。　生地(二錢)　大黃(三錢)　杏仁(去衣，一錢)　當歸(酒洗，一錢五分)　用生水酒煎服。</p>
<p>腦頭引　本。川芎。白芷。白芍。蘇葉。升麻。木香。羌活。</p>
<p>咽喉引　玄胡。碎補。乾薑。防風。桔梗。薄荷。桔根。連喬。</p>
<p>胸前引　枳殼。厚朴。乾薑。鬱金。陳皮。烏藥。木香。甘草。</p>
<p>腰上引　杜仲。小茴。菟絲。木香。故紙。枸杞。玄胡。加皮。</p>
<p>手上引　桂枝。當歸。透骨草。甘草。羌活。防風。神仙劍。(即千年健十指全傷用)腳上引　川膝。獨活。木瓜。苡仁。淮膝。蒼朮。加皮。木香。</p>
<p>腳脊引　淮膝。南藤。棕根。木瓜。苡仁。螺螄。骨透。骨草。</p>
<p>潮熱引　柴胡。羌活。黃芩。陳皮。厚朴。甘草。人中白。</p>
<p>浮腫引　生地。防己。漏蘆。防風。烏藥。甘草。</p>
<p>氣急引　沉香。枳實。陳皮。木香。鬱金。烏藥。</p>
<p>腹內痛引　玄胡。吳萸。石蒲。白芍。木香。祈艾。</p>
<p>二便閉引　大黃。車前。澤瀉。木通。枳殼。豬苓。</p>
<p>血聚引　紅花。桃仁。生地。蘇木。血竭。當歸。</p>
<p>氣聚引　沉香。小茴。三棱。莪朮。靈脂。乳香。</p>
<p>遍身引　乳香。碎補。木香。沒藥。吳萸。寄奴。</p>
<p>消風引　荊芥。白芷。犀角。薄荷。葛根。草烏。</p>
<p>止嘔引　炮薑。砂仁。藿香。白苓。酸車草。取自然汁。</p>
<p>失氣引　金鳳花葉。佛指甲花。寸香。　三味共研細末。薑汁服。</p>
<p>接骨引　然銅。虎骨。小茴。當歸。土鱉。猴骨。枸杞。</p>
<p>體之虛者　加附子肉桂。洋參。黃　。</p>
<p>體之健者　加黃連。黃芩。紫蘇。薄荷。</p>
<p>接骨膏(第五十七)　當歸(酒炒，一兩五錢)　羌活(五錢)　骨碎補(去皮，五錢)　牛膝(酒洗炒，一兩)　木香(五錢)威靈仙(一兩五錢)　桂枝(一兩)　川芎(五錢)　川烏(去皮淨，五錢)　加皮(酒炒去皮，一兩)　杜仲(五錢)　北細辛(五錢)　防風(五錢)　要鮮揀淨香附(五錢)　滴乳香(去油後放五錢)　沒藥(去油後放五錢)　桃丹(後放收膏二兩五錢)　嫩松香二兩後放。</p>
<p>以上共藥十八味。外加四葉對(三錢)　土茯苓(三錢)　海風藤(五錢)　將真正菜油數斤熬滾。將藥十四味先入鍋內。</p>
<p>再將草藥三味。共浸油內。春天浸五日。夏三。秋七。冬十天。期滿入鍋內。漫火熬根浮起。濾渣再入乳香。沒藥。松香。</p>
<p>三味。又熬數沸。滴水成珠。再下黃丹收膏。俟退火三日再用。此膏專治骨跌打傷者。皮未破者。將此膏貼之。其骨陸續如初。</p>
<p>並一切跌打損傷。貼患處。傷骨自好。其腫自消。散血通氣效驗。</p>
<p>凡跌打不能言語。人不知打壞何處。急用不滿尺叢樹。連根拔來。洗淨去泥。搗汁量人酒量若干。如飲約一壺者。</p>
<p>即用一壺。和叢樹內攪汁。令傷人飲之。免其血瘀衝心。再請先生。醫治可也。</p>
<p>又十直路口。尿桶底磚瓦片取來。炒干研末。亦醫跌打。</p>
<p>按江先生乳名祥。號瑞屏。住婺源北鄉清華街。雙河頭。道光庚子年已七旬。善於跌打。此書珍之寶之。</p>
<h2>附錄驗方四則</h2>
<p>三合濟生丸　專治四時不正之氣。頭疼身熱。腹痛脹悶。霍亂轉筋。嘔吐泄瀉。四肢厥冷。絞腸痧氣。傷寒傷暑。</p>
<p>傷食瘧痢諸症。每服一錢。重症加倍。舌苔白者。用藿香湯。下黃者。用荷葉湯。下寒重用薑湯下。</p>
<p>吐瀉轉筋。用丸四服。加生薑。灶心土。煎服。忌食米粒。此方歷年合藥施送。活人甚多。而需費甚少。務望諸方善士。或合藥或刻方廣為施送。則費小而功極大矣。方列於左。</p>
<p>川厚朴(六兩五錢)　薑汁炒烏藥(二兩)　枳殼(三兩五分)　羌活(四兩)　廣藿香(七兩)　木瓜(一兩三錢)　紫豆蔻(二兩)　茅朮(三兩)　半夏(四兩五錢)　蘇葉(七兩)　香茹(二兩)　草果(二兩)　赤苓(六兩)　香附(三兩)　桔梗(二兩五錢)　甘草(三兩)　茯苓(二兩)　川芎(三兩)　白朮(一兩五錢)　檀香(一兩)　陳皮(六兩五分)　防風(三兩)　木香三兩(六錢)　柴胡(八錢)　白芷(五兩)　神麯(五兩)　砂仁(三兩)　以上藥料。須揀選明淨。同研為細末。用薄荷。</p>
<p>茶葉。大腹皮。熬汁米湯一碗法丸。朱砂為衣。每丸重七分。晒乾收入小口瓷瓶。不可泄氣為要。</p>
<p>跌打損傷膏驗方　生地。薄荷。獨活。赤芍。川芎。川羌。連翹。　以上每味各一兩。　香附。荊芥。當歸。防風。</p>
<p>桃仁。米仁。青皮。加皮。丹皮。杜仲。川柏。元胡。白芍。白芷。牛膝。紅花。鮮皮。木通。蘇木。木瓜。甘草。厚朴。蘇梗。枳實。枳殼。秦艽。川斷。黃　。甘松。三棱。山奈。元參。劉寄奴。骨碎補去毛。　以上每味各六錢。外加鉛粉七十二兩　炒黃色。</p>
<p>用上等好麻油十斤。以上各藥。先浸兩三日。後入鍋煎熬。去渣。再入鉛粉。用桑枝攪勻。扇至煙盡候冷。浸水中愈陳愈妙。</p>
<p>又末藥方　攤膏時臨用。加入每油一斤。加放藥末(一兩)　肉桂(一兩)　制乳香(二兩)　制沒藥(二兩)　血竭(一兩)龍骨(一兩)　丁香(一兩)　以上共研極細末。收藏瓷瓶內聽用。升每遇瘋氣。貼以此膏。較市上所售之萬應膏。功效尤捷。</p>
<p>秘制朱砂膏　專治疔瘡。癰疽。對口發背。頸項一切無名惡毒均效。　松香一斤。蔥水煮麝香五分。　如嫌麝香貴。</p>
<p>可另改加入八將散。冰片(五分)　制乳香(五錢)　制沒藥(五錢)　樟腦(三兩五錢)　銀朱(一兩)　漂朱砂(二錢)　研漂蓖麻子肉(五兩)杏仁(一百五十粒。去皮尖)　明雄黃(二錢)　全蠍(二錢五分)　蔥水洗。各為細末。打數千捶為膏。瓷罐收貯。臨用時隔水燉軟。入平常油紙膏藥上。貼之當看瘡形之大小。酌量用之。</p>
<p>八將散古方　治癰疽大毒。拔膿去腐。生肌等症。　川五　(一兩六錢)　焙研川雄黃(三錢)　水飛冰片(五分)　蜈蚣(七條去鉗足。炙淨一錢二分)　全蠍(十個。漂淨去尾炙末淨七分)　麝香(五分)　山甲(十片)　炙淨(二錢)　蟬蛻(二十個。去頭足)　焙研淨七分。各研細末。和勻再研細末。瓷瓶收貯。</p>
<p>按附錄驗方。乃敝典施送方藥。垂已念余年。頗為靈驗。特附於末。以望諸善士廣傳為幸。升寄居余杭同和典錄。</p>
<p><u>中華民國十三年歲次甲子孟秋月</u></p>
