<header><h1>秘傳眼科龍木論</h1></header>
<div class="元資料" data-type="book" hidden></div>
<h2>龍木集序</h2>
<p>漢以上有說無方。由漢以下方與說始備。說不乖理。方不違義。斯其為良醫矣。古之醫有俞跗。渤海秦越人。其為術不止湯熨針石。能視見人五臟　結。割皮解肌。湔浣腸胃。神秘精妙。咸可為後世法。漢倉公得黃帝扁鵲脈書。其言人生死不爽毫發。司馬遷備載之。後世多不曉。然其意則微矣。醫之攻疫。猶將之制敵。善將者不擇人而戰。善醫者不擇病而治。余觀韜鈐諸書。陰陽變化。縱橫間諜。天地人事之紀。莫不詳究。下至云鳥龍蛇八陣六花之奇。進退倚伏戰守攻圍之具。條貫靡遺。真可為用兵之權輿矣。然敵之來。虛實HT　瑕。其機難測，而其為變無窮。勝敗死生。</p>
<p>在料量呼吸之頃。不可嘗試而冒為之者。則決策發奇運用之妙。存乎其人。醫之為道。亦若是而已。目者肝之外候。五臟六腑之精氣。上注於目。故火乘肺白輪赤。火乘脾肉輪赤。火乘肝腎黑神翳。心君火動。則各有所乘。五臟之虛實。六氣之乖和。皆應於目。醫者視形色。察脈理。審度量。立規矩。知其有餘不足。與法之順逆。然後可以為施治之。則此龍木集之所由作也。立論精微。布法該核。深有得於俞扁倉公神髓。理由說闡方以義裁。不啻如孫吳之法。嚴整疏遠。可以待勝乎敵。而生死起廢。應手而得者。惟在人善用之耳。</p>
<p>毅所侍御黃公。患其集未廣布。命梓之以傳。其仁溥矣。公觀風海表。荒陬僻邑。咸所愛HT　。其民之欺蔽於豪強。</p>
<p>網路於誅求。靡爛於棰楚敲撲之下。蓋蔽而不獲伸者。不有妨人之苦於懵瞽者乎。殆有甚者。又不有精神內竭。目系上強。懼旦夕隕棄而不克救者乎。其未經歷與所未廉得者。困苦憔悴之狀。不亦有如是之極且急者乎。公見之必盡憫之。</p>
<p>不欲其夭廢而安全之者。其亦有所處矣。生人之心一也。起廢疾則思廣其方。理天下則務平其政。公佐天子出治調變之任。亦盡是心而已。常郡侯浠桂。朱公　以公命屬文於余。余不佞。不能為文。惟推公之心以為侯告。侯曰然。遂書之。</p>
<p><u>萬歷乙亥歲春三月吉日</u></p>
<p><u>賜進士出身奉政大夫廣東按察司僉事前南京兵部車駕司郎中王問撰</u></p>
<h2>卷之一</h2>
<h3>龍木總論</h3>
<h4>一‧審的歌發揮</h4>
<p>詳夫自古名人。無不從學而就功。推窮事理。盡因事以立文。須在理通。方當行用。若或言詞無據。即不足與討論。</p>
<p>臣從幼歲業此道留心。亦乃數世相傳。豈敢妄違先哲。每逢同道。皆言眼疾有七十二般。及問其數。名跡難言一半。今則謹按諸家眼論。夙夜搜求。敢推眼疾之名。果有七十二種。據其疾狀。患者頗多。論錄為歌。以貽後代。又自古諸家之眼。各有條章。病狀一一不同。數目皆書不足。或有畫作圖形。或有歌其藥性。雖則救人為切。詳之理未周全。遂乃按其古今。綴為歌頌。名號審的歌矣。庶使心念其言。眼看疾狀。認識既不差錯。治療又有所憑。將用救人。永無傷橫。</p>
<p>近見庸醫之輩。學不從師。自出己意。亂行針藥。或虛則反瀉。實則反補。或則翳嫩便針。瘡痕割烙。或即不看血忌。</p>
<p>觸犯人神。或即誤針太深。損其榮衛。因茲疼痛。便致損傷。針刀傷觸著五輪。湯藥乖於臟腑。亦由病家無鑒。任信庸醫。遂使可瘥之眸。永沉昏暗之證。忝為人子。曷不愍傷。故書苦口之辭。發揮歌訣義理者也。</p>
<h4>二‧眼敘論</h4>
<p>夫眼者。五臟之精明。一身之至寶。如天之有日月。其可不保護哉。然骨之精為瞳子。屬腎。筋之精為黑眼。屬肝。</p>
<p>血之精為絡果。屬心。氣之精為白眼。屬肺。肉之精為約束。屬脾。契筋骨血氣之精。與脈並為之系。系上屬於腦。後出於頂中。故六淫外傷。五臟內郁。飲食房勞。遠視悲泣。抄寫雕鏤。刺繡博奕。不避煙塵。刺血發汗。皆能病目。故方內有五輪八廓內外障等。各各不同。尤當分其所因。及臟腑陰陽。不可混濫。如決其面者為兌　。屬少陽。近鼻上為外。屬太陽。下為內　。屬陽明。赤脈上下者。太陽病。從下上者。陽明病。從外走內者。少陽病。此三陽病。不可混也。睛色赤。病在心。色白。病在肺。色青。病在肝。色黑。病在腎。色黃。病在脾。色不可名者。病在胃中。此五臟三陽病。不可混也。仍敘三因於後。</p>
<h4>三‧三因證治</h4>
<p>病者喜怒不節。憂思兼並。致臟氣不平。鬱而生涎。隨氣上厥。逢腦之虛。浸淫眼系。蔭注於目。輕則昏澀。重則障翳。眵淚　肉。白膜遮睛。皆內所因。或數冒風寒。不避暑濕。邪中於項。乘虛循系以入於腦。故生外翳。翳論中所謂青風、綠風、紫風、黑風、赤風、白風、白翳、黃翳等。隨八風所中。變生諸證。皆外所因。或嗜欲不節。飲食無時。</p>
<p>生食五辛。熱啖炙　。馳騁田獵。冒涉煙塵。勞動外睛。乃喪明之本。所謂恣一時之游佚。為百歲之固愆。皆不內外因。</p>
<p>治之各有方。</p>
<h4>四‧五輪歌</h4>
<p>眼中赤翳血輪心（眼中白翳有小赤脈是血輪主屬心）　黑睛屬腎水輪深（黑睛屬腎為水輪）</p>
<p>白晴屬肺氣輪應（白睛為氣輪屬肺）　肝應風輪位亦沉（肝主風輪在內無形）　總管肉輪脾臟應（肉輪屬脾）</p>
<p>兩瞼脾應病亦侵（兩瞼屬脾）　瞳人屬膽為淮海　光明瑩淨直千金　一臟不和攻入眼　針醫宜早莫沉吟愚痴初患不將治　初問針藥卻生疑　求神拜鬼閑燒炙　痛極狂心枉禱神　風熱漸深牢固後　昏沉翳膜始求醫假使得痊兼復體　服藥名醫日月遲</p>
<h4>五‧內障眼法根源歌</h4>
<p>不疼不癢漸昏　薄霧輕煙漸漸濃　或見蠅飛花亂出　或如懸　在虛空此般樣狀因何得　肝臟停留熱及風　大叫大啼驚與怒　腦脂流入黑眼中初時一眼先昏暗　次第相傳與一同　苦口何須陳逆耳　只言肝氣不相通此時服藥期銷定　將息多乖及沒功　日久既應全黑暗　特名內障障雙瞳名字隨形分十六　龍師聖者會推窮　靈藥這回難得效　金針一撥日當空強修將息依言說　莫遣仍前病復宗</p>
<h4>六‧針內障眼法歌</h4>
<p>內障由來十六般　學醫人子審須看　分明一一知形狀　不針方可得安然若將針法同圖翳　誤損神光取瘥難　冷熱先明虛與實　調和四體持安然不然氣悶違將息　嘔逆勞神翳卻翻　咳嗽振頭皆未得　多驚先服鎮驚丸若求涼藥銀膏等　用意臨時體候看　老翳細針粗薄嫩　針形不可一般般病虛新產懷娠月　下手應知將息難　不雨不風兼告日　清齋三日在針前安心定意行醫道　念佛親姻莫雜喧　患者向明盤膝坐　提師腰帶在心安針者但行賢哲行　惻隱之情實善緣　有血莫針須住手　裹封如舊再開看忽然驚振醫重十　服藥三旬見朗然　七日解封雖見物　花生水動莫他言還睛丸散堅心服　百日分明復舊根</p>
<h4>七‧針內障眼敘法歌</h4>
<p>內障金針針了時　醫師言語要深知　綿包黑豆如球子　眼上安排綿系之頭安枕上須要穩（上一作豆）　仰臥三朝莫厭遲　封後忽然微有疼腦風牽動莫他疑　或針或烙依經法　痛極仍將火熨之　擬吐白梅含咽汁吐來仰臥卻從伊芳　起則恐因遭努力　雖然希有也須知　七朝豉粥溫溫食震著牙關事不宜　大小便時須緩緩　無令自起與扶持　高聲叫喚言多後驚動晴輪見雪飛　如此志心三十日　漸漸出外認親知　狂心莫憶陰陽事夫婦分床百日期　一月不須臨面洗　針痕溫著痛凝凝　五辛酒面周年斷服藥平除病本基</p>
<h4>八‧小兒歌</h4>
<p>小兒不與大人同　翳療之源別有宗　神氣未全難保惜　鈹鐮炙烙哭傷瞳等閑痛藥勿令點　啼叫勞他病轉濃　更若手揉難禁詞　因茲睛破永夭終欲求穩便全雙目　苦藥煎淋洗避風　服藥養肝須見效　免教昏暗一生中</p>
<h4>九‧合藥矜式</h4>
<p>凡眼病多因五臟壅熱上衝使然，故湯飲之劑。不可見火。蓋藥性得火則熱。投之臟腑。恰如揚湯止沸。非謂無益。</p>
<p>又且害之。須是淨洗向日。如遇陰雨。亦當風乾。若食前補實等藥。或炮或炙。一依方法。今具於左。</p>
<p>烏頭、附子，生用去皮尖。熟則用灰火炮裂去皮尖。牡蠣生用則去泥。熟用鹽泥固濟。炭火燒通赤取淨。須左顧者。</p>
<p>諸角先鎊治為細末。然後入藥和合。寶石亦然。</p>
<p>大黃。古方亦用濕紙裹煨。或甑上蒸。近世生用。當量虛實生熟用之。</p>
<p>天麥二門冬、牡丹、巴戟天、遠志、地骨皮、皆去心。茯苓去皮。芍藥去心。補藥用白者。瀉藥用赤者。當歸去蘆淨洗。入補藥則用水洗。烈日晒乾。入湯飲酒浸十宿。羌活、黃連、藜蘆。去根蘆淨洗。</p>
<p>礬石。須於新瓦上或銅器中熬令沸。汁盡即止。石南。剔去葉嫩莖去大枝。</p>
<p>菟絲子。酒浸曝乾火焙。亦得用紙條子同碾即為末。又用鹽拌碾則易碎。但只用酒浸爛而碾為膏。卻焙再碾。念老鷹聲不輒則易碎。</p>
<p>杏仁、蕤仁濕去皮尖。柴胡、　本、前胡去苗洗淨。桂心、陳皮去皮。枳殼去瓤麩炒。諸花去萼及梗洗淨。香附子麩炒舂去毛。白僵蠶直者去絲嘴炒。防風去叉股者。蠍蟲去足翅毒微炒。荊芥、白芷、白芨、白蘞不見火。蟬蛻洗去土晒乾。微炒。細辛去葉洗淨。</p>
<p>乳香。尋常用。指甲爪、燈心草、糯米之類同研及水浸。乳缽研之皆費力，惟紙裹放壁隙中。良久碎。即粉碎。麝香須著少水研之。自然碎極細。不必羅也。</p>
<p>煉蜜法。稱蜜十兩。水十兩。同煎去沫。準令水盡。取出稀。稱得淨蜜十兩。則是水耗而蜜在。庶不焦損。又每蜜一斤。只煉得十二兩半或一分是實數。若火少火多。並用不得。</p>
<p>凡膏中用蠟。皆烊攪調以和藥。</p>
<p>凡膏中用脂。皆先煉去草方可用。</p>
<p>凡膏中有用雄黃、朱砂輩。皆別搗細研。飛過如面。絞膏畢。乃投膏中。以物疾攪。勿使凝強不調。</p>
<p>凡膏中用水銀。須於凝膏中研令消散。胡粉亦然。若水銀誤傾在地不可收。宜以雉尾收之。川椒亦嘉。</p>
<p>凡藥中用蜜。先稱藥末兩數若干。次稱煉了蜜與藥等分。方可搜。搜畢。更於石臼中搗百數杵。視其色理合約為嘉。</p>
<p>丸藥末須用密絹作羅底。銼散藥用竹篩篩過。方得藥汁清利。</p>
<h4>十‧煎藥訣</h4>
<p>大凡煎藥退熱。藥須要清利。不可用火太猛。火勢蒸炎。水數易干。須是火勢得中。扇之恐灰土泥飛入藥中。服之反為害也。要當家人監視。不可專付婢仆也。</p>
<h4>十一‧服藥須知</h4>
<p>凡眼藥率多涼劑。必於食後服之。或者徒泥其說。往往食未下咽。藥即入口。是致食氣與藥氣衝搏。釀積於脾胃之上。不謂藥無其效。且使脾家受冷。旋至虛弱。須當食歇片時。候胸隔稍寬。然後隨意服之。尤貴冷熱得所。大熱則非肝肺所宜。大冷則脾腎停積不化。宜自斟酌耳。</p>
<h4>十二‧點眼藥訣</h4>
<p>凡點眼之藥。多用腦、麝之類。通入關竅毛孔。易至引惹風邪。點眼之時。宜向密室端坐。然後用銅箸點少許藥放入眼內。點畢。以兩手對按魚尾二穴。次合眼良久。候血脈稍定。漸漸放開。若是夜臥用藥。則又不拘此法也。或向當風去處。或是點罷即開。則風邪乘入。血脈澀滯難散。疾勢愈切。切須留意。</p>
<h3>七十二證方論</h3>
<h4>一‧圓翳內障</h4>
<p>凡眼初患之時。眼前多見蠅飛花發。垂　。薄煙輕霧。漸漸加重。不痛不癢。漸漸失明。眼與不患眼相似。且不辨人物。惟睹三光。患者不覺。先從一眼先患。向後相牽俱損。此是腦脂流下。肝風上衝。玉翳青白。瞳人端正。陽看則小。陰看則大。其眼須針。然後服藥。治用防風散、羚羊角飲子。</p>
<p>詩曰：翳中再好是團圓　一點油如水上盤　陽裡看時應自小　陰中見則又還寬金針一撥雲飛去　朗日舒光五月天　不是醫人夸巧妙　萬兩黃金永不傳</p>
<p><u>防風散</u></p>
<p>茺蔚子　防風　桔梗　五味子　知母（各二兩）　黑參　川大黃　細辛　芒硝　車前子　黃芩（各一兩）</p>
<p>上搗羅為末。以水一盞。散一錢。煎至五分。去渣溫服。食後。</p>
<p><u>羚羊角飲子</u></p>
<p>羚羊角（三兩）　知母　細辛　車前子　人參　黃芩（各二兩）　防風（二兩半）</p>
<p>上搗羅為末。以水一盞。散一錢。煎至五分。夜餐後。去渣溫食之。</p>
<h4>二‧冰翳內障</h4>
<p>此眼初患之時。頭旋。額角偏痛。眼瞼骨疼痛。眼內赤澀。有花或黑或白或紅，皆因肝臟積熱。肺受風勞。或心煩、或嘔血。大腸秘澀。夜見燈花如蜂飛。初患之時。宜令針治諸穴脈。忌督脈出血過多。恐加昏暗。宜服還睛丸。</p>
<p>詩曰：冰翳猶如水煉堅　陰中陽裡一般般　傍觀瞳子透表白　針下分明豈誑言來往用針三五撥　志心服藥必能痊　若遇庸醫強撥下　瞳人清淨不能觀</p>
<p><u>還睛丸</u></p>
<p>防風　茺蔚子　車前子　知母（各二兩）　人參（以下各一兩）　桔梗　黃芩　乾地黃　細辛　五味子（二兩半）黑參（半兩）</p>
<p>上搗羅為末。煉蜜為丸桐子大。空心茶下十丸。</p>
<h4>三‧滑翳內障</h4>
<p>此眼初患之時。不癢不痛。先從一眼先患。後乃相牽俱損。端然。漸漸失明。皆因腦脂流下。肝氣衝上。瞳人內有翳如水銀珠子。不辨人物。宜令金針撥之。將息後。服補肝湯及石決明丸即瘥。</p>
<p>詩曰：滑翳看時心且專　微含黃色白翻翻　才開還大速還小　有似水銀珠子旋針撥雖然隨手落　擬抽針出卻歸源　縮針穿破青涎散　五月金烏照遠天</p>
<p><u>補肝湯</u></p>
<p>人參　茯苓　黑參　黃芩（各一兩）　防風　知母　桔梗　茺蔚子（各二兩）</p>
<p>上搗羅為末。以水一盞。散一錢。煎至五分。食後去渣溫服。</p>
<p><u>石決明丸</u></p>
<p>石決明　車前子　防風　知母（各一兩）　茺蔚子　五味子　細辛　人參　茯苓　黃芩　大黃（各一兩）</p>
<p>上搗羅為末。煉蜜為丸如桐子大。食前茶湯送下一十丸。</p>
<h4>四‧澀翳內障</h4>
<p>此眼初患之時。朦朧如輕煙薄霧。漸漸失明。還從一眼先患。後乃相牽俱損。不睹人物。猶辨三光。翳如凝脂色，瞳人端正。狀宜令針。金針針之。然後服還睛散、七寶丸立效。</p>
<p>詩曰：澀翳聚開隨瞼遲　陰陽大小亦微微　傍觀瞳子凝脂色　先哲留言不要疑此障撥時依本法　用針三五不還遲　牢封七日圖瘡　將息應當莫自欺</p>
<p><u>還睛散</u></p>
<p>桔梗　五味子　茺蔚子　黑參　黃芩（各一兩）　防風　知母（各二兩）　車前子　細茶（各二兩半）</p>
<p>上搗羅為末。以水一盞。散一錢。煎至五分。食後去渣溫服。</p>
<p><u>七寶丸</u></p>
<p>龍腦（一分）　人參（一兩）　真珠（五錢）　石決明（二兩另搗羅細研）　琥珀　青魚膽　熊膽（各二兩）　茺蔚子（二兩）</p>
<p>上搗羅為末。煉蜜為丸如桐子大。食前茶下十丸。</p>
<h4>五‧散翳內障</h4>
<p>此眼初患之時。不癢不痛。漸漸失明。還從一眼先患。惟瞳人裡有障翳。乍青乍白。不辨人物。猶見三光。此眼宜令金針撥之。然後宜服還睛散、補肝湯主之效。</p>
<p>詩曰：散翳又何為所狀　形同酥點爛容儀　隨針針了和涎散　未得分明自得知封裹安存須善巧　莫令患者致狐疑　殷勤遣眼還睛散　再睹三光百日期忌慎一如傳戒行　不須恣意縱貪知　深言向說何為切　記取冥冥黑暗時</p>
<p><u>還睛散</u></p>
<p>人參　茯苓　細辛　五味子　桔梗（各一兩）　車前子　防風（各二兩）</p>
<p>上搗羅為末。以水一盞。散一錢。煎至五分。夜食後。去渣溫服。</p>
<p><u>補肝湯</u></p>
<p>細辛　防風　茺蔚子（各一兩）　五味子　桔梗（各一兩）　黑參（一兩半）</p>
<p>上搗羅為末。以水一盞。散一錢。煎至五分。空心去渣溫服。</p>
<h4>六‧浮翳內障</h4>
<p>此眼初患之時。都無癢痛。還從一眼先患。後乃相牽俱損。皆因腦中熱風沖入眼內。腦脂流下。凝結作翳。如銀針之色，雖不見人物。猶見三光。宜用金針撥之。然後宜決明散、墜翳丸神效。</p>
<p>詩曰：浮翳正觀如透外　乍看色白似銀燈　陰寬陽小隨開合　此則深知是本形辨認既能無錯謬　金針撥出近烏睛　但依教法施心力　免觸凝脂破不明</p>
<p><u>決明散</u></p>
<p>石決明　人參　茯苓　大黃　車前子　細辛（各一兩）　防風（二兩）　茺蔚子（二兩）　桔梗（一兩半）</p>
<p>上為末。每食後米飲湯調下一錢。</p>
<p><u>墜翳丸</u></p>
<p>石決明　細辛（各一兩）　知母　乾地黃　防風（各一兩）　兔肝（一具炙）　五味子　人參（各二兩半）</p>
<p>上為末，煉蜜為丸如桐子大。空心茶下十丸。</p>
<h4>七‧沉翳內障</h4>
<p>此眼初患之時。肝臟勞熱，還從一眼先患。或見黑花。後即相牽俱損。腦中熱氣流下，猶辨三光。宜令金針撥之。</p>
<p>然後服羚羊角飲子、空青丸即瘥。</p>
<p>詩曰：一般四障又名沉　隱隱藏形黑未深　向日細看方得見　自古相傳不是今此障撥時須遠穴　觀君莫要短頭針　墜翳強過五十息　只求牢固莫他心</p>
<p><u>羚羊角飲子</u></p>
<p>羚羊角　防風　茺蔚子（各二兩）　車前子　黑參　黃芩（各一兩）　大黃（半兩）</p>
<p>上為末。以水一盞。散一錢。煎至五分。空心去渣溫服。</p>
<p><u>空青丸</u></p>
<p>空青（一銖）　五味子　車前子　細辛（各一兩）　防風　生地黃　知母（各一兩）　石決明（一兩另搗細研）</p>
<p>上為末。煉蜜為丸如桐子大。空心茶下十丸。</p>
<h4>八‧橫翳內障</h4>
<p>（一名橫關翳內障）</p>
<p>此眼初患之時。還從一眼先患。皆是五臟虛勞。風毒衝上。腦脂流下。令眼失明。猶辨三光。宜用金針撥之。宜服還睛丸、七寶散即瘥。</p>
<p>詩曰：雖然希有橫關翳　學人韜鈐要得知　細睹橫心如劍脊　上頭下畔白微微開時先向中心撥　隨手還當若霧披　□往修來何所作　一生龍樹愿依歸</p>
<p><u>還睛丸</u></p>
<p>人參　黑參　石決明　車前子　五味子　黃芩（各一兩）　防風　細辛　乾地黃（各二兩）</p>
<p>上為末。煉蜜為丸如桐子大。空心茶下十五丸。</p>
<p><u>七寶散</u></p>
<p>羚羊角　犀角（各一兩）　胡黃連　石決明　車前子　甘草（各半兩）　丹砂（一分另研）</p>
<p>上為末。以水一盞。散一錢。煎至五分。食後去渣溫服。</p>
<h4>九‧偃月翳內障</h4>
<p>此眼初患之時。惟有頭旋額角骨痛。亦因肝腎俱勞。腦風積熱。致使生翳如偃月之狀。宜用金針撥之。然後宜服通明散、墜翳丸立效。</p>
<p>詩曰：腦中一種腦脂凝　何得偏稱偃月名　一半濃而一半薄　醫公不了即疑生欲知巧妙行醫法　濃處先宜撥便開　丸散還睛宜遣服　堅牢百歲得安寧</p>
<p><u>通明散</u></p>
<p>人參　防風　黃芩（各一兩）　細辛（一兩半）　茯苓（半兩）　茺蔚子（二兩）</p>
<p>上為末。水一盞。散一錢。煎至五分。夜食後。去渣溫服。</p>
<p><u>墜翳丸</u></p>
<p>青羊膽　青魚膽　鯉魚膽（各七個）　熊膽（一分）　牛膽（五錢）　麝（少許）　石決明（一兩）</p>
<p>上為末。面糊為丸如桐子大。空心茶下十丸。</p>
<h4>十‧棗花翳內障</h4>
<p>此眼初患之時。微有頭旋眼澀。漸漸昏暗。時時癢痛。腦熱有花。黃黑不定。此狀宜令針治諸穴脈。然後宜服還睛散、墜翳丸立效。</p>
<p>詩曰：翳中何名是棗花　周回鋸齒沒諸他　撥時從上輕輕撥　狀似流星與落霞細意辨看瞳子內　莫留斷腳作攔遮　依然不斷還睛藥　百歲光陰睹物華</p>
<p><u>還睛散</u></p>
<p>人參　茯苓　車前子　黑參　防風　茺蔚子　知母（各二兩）　黃芩（兩半去皮）</p>
<p>上為末。以水一盞。散一錢。煎至五分。去渣溫服。</p>
<p>墜翳丸　方同偃月翳墜翳丸。</p>
<h4>十一‧白翳黃心內障</h4>
<p>此眼初患之時。肝臟勞熱。先從一眼先患。以後相牽俱損。初覺即須急療。先須憑服湯藥丸散。將息謹護。即宜針刺諸穴脈。後更用金針輕撥。然後服墜翳散即效。</p>
<p>詩曰：可憐白翳更黃心　患者商量誤且針　來往用針三五撥　不隨針落藥能沉還睛方術須通秘　百日如風卷霧陰　期約叮嚀須向說　試看奇效值千金</p>
<p><u>墜翳散</u></p>
<p>石決明　茺蔚子　防風（各二兩）車前子　甘菊花　人參（各三兩）</p>
<p>上為末，食後米飲湯調下一錢。</p>
<h4>十二‧黑水（一作黑花）凝翳內障</h4>
<p>此眼初患之時。不痛不癢。微有頭旋眼澀，見花黃黑不定。瞳人微大。翳或青白。宜用金針撥之。然後宜服蘆薈丸、通明散立效。</p>
<p>詩曰：黑翳冰結微青色　可憐內障無真容　陰陽開處雖開裹　始覺風　在膽中須用金針三五撥　藥憑蘆薈作神功　期程百日叮嚀說　玉兔中秋照眼空</p>
<p><u>蘆薈丸</u></p>
<p>蘆薈　甘草（炙各一分）　人參　牛膽（各半兩）　柏子仁　細辛（各一兩）　羚羊角（一兩蜜炙）</p>
<p>上為末。煉蜜為丸如桐子大。空心茶下十丸。</p>
<p><u>通明散</u></p>
<p>柏子仁　車前子　桔梗（各二兩）　茺蔚子　黑參　茯苓　人參（各一兩）　防風（一兩半）</p>
<p>上為末。以水一盞。散一錢。煎至五分。食後去渣溫服。</p>
<h4>十三‧胎患內障</h4>
<p>此眼初患之時。皆因乳母多有吃食乖違。將息失度。愛食濕面五辛諸毒丹藥。積熱在腹。後此令胎中患眼。生後五六歲以來，不言不笑。睹無盼視。父母始覺。急須服藥調理。不宜點諸毒藥。燒炙頭面。枉害形容直至年長十五以來方始辨眼內翳狀如青白色。蓋定瞳人。猶辨三光。可令金針撥之。小兒內障。多有不堪療者。宜仔細看之。方可醫療。宜服護睛丸。即不損眼也。</p>
<p>詩曰：內障因何及小兒　胎中受熱腦脂垂　初生不覺三年內　流盼還應眼轉遲四五歲時言近看　瞳人結白始如迷　若能信受醫家語　更讀前賢後首詩又詩曰：小兒內障未容醫　將息難為定不疑　父母解留年十八　金針一撥若云飛痴心炙烙燒頭面　舌舐揩摩黑水虧　年幾得醫先損了　不堪針撥只堪悲</p>
<p><u>護睛丸</u></p>
<p>木香　大黃　黃芩　黑參（各一兩）　射干　細辛（各半兩）</p>
<p>上為末。煉蜜為丸如桐子大。空心茶下十丸。</p>
<h4>十四‧五風變內障</h4>
<p>此眼初患之時。頭旋偏痛。亦是臟腑虛勞肝風為本。或一眼先患。或因嘔吐雙暗，毒風入眼。兼腦熱相侵。致令眼目失明。初覺即須急療。宜服除風湯、通明補腎丸立效。</p>
<p>詩曰：烏綠青風及黑黃　堪嗟宿世有災殃　瞳人顏色如明月　問睹三光不見光後有腦脂如結白　真如內障色如霜　醫人不識將針撥　翳落非明目卻傷</p>
<p><u>除風湯</u></p>
<p>羚羊角　車前子（各二兩）　芍藥　人參　茯苓　大黃　黃芩　芒硝（各一兩）</p>
<p>上為末。以水一盞。散一錢。煎至五分。食後去渣溫服。</p>
<p><u>通明補腎丸</u></p>
<p>車前子　石決明　桔梗　芍藥（各一兩）　細辛（二兩）　大黃（一分）　茺蔚子　乾地黃（各二兩）</p>
<p>上為末。煉蜜為丸如桐子大。空心茶下十丸。</p>
<h2>卷之二</h2>
<h3>十五‧雷頭風內障</h3>
<p>此眼初患之時。頭面多受冷熱。毒風衝上。頭旋猶如熱病相似。俗稱雷頭風。或嘔吐。或惡心。年多。沖入眼內。</p>
<p>致令失明。或從一眼先患。瞳人或大或小不定。後乃相損。眼前昏黑。不辨三光。初覺有患。宜服瀉肝湯、磁石丸立效。</p>
<p>詩曰：俗號雷頭熱毒風　年多沖入眼睛中　瞳人微大或微小　坐對三光黑不紅腦熱流脂來結白　醫師不了便針通　雖然翳墜依前暗　自愧庸醫不用功</p>
<p><u>瀉肝湯</u></p>
<p>防風　茺蔚子（各二兩）　五味子　細辛　黃芩　大黃　芒硝（各一兩）　車前子（一兩半）　桔梗（一兩）</p>
<p>上為末。以水一盞。散一錢。煎至五分。食後去渣溫服。</p>
<p><u>磁石丸</u></p>
<p>磁石（燒赤醋　三遍）　五味子　牡丹皮　乾薑　黑參（各一兩）　附子（炮半兩）</p>
<p>上為末。煉蜜為丸如桐子大。食前茶下十丸。</p>
<h3>十六‧驚振內障</h3>
<p>此眼初患之時。忽因五臟虛勞受疾。亦由肝氣不足，熱毒沖入腦中，或因打築。腦中惡血流下。漸入眼內。後經二三年間變成白翳。一如內障形狀。不宜針撥。先患之眼。更一只牽損之眼。卻待翳成。依法針之立效。然後服鎮肝丸、還睛散即瘥。</p>
<p>詩曰：忽然撞振不全傷　疼痛微微日子長　變即腦脂為白色　一如內障睹三光不須錯誤將針撥　卻恐為災難可當　在後若牽非損者　醫元如法如開張</p>
<p><u>鎮肝丸</u></p>
<p>石決明（一兩另研）　細辛　干山藥　茺蔚子　人參　車前子　柏子仁　茯苓（各一兩）　防風（兩半）</p>
<p>上為末。煉蜜為丸如桐子大。食後茶下十丸。</p>
<p><u>還睛散</u></p>
<p>人參　車前子　枯梗（各一兩）　茺蔚子　芎　（各一兩）　防風　細辛（各一兩半）</p>
<p>上為末，以水一盞。散一錢。煎至五分。食前去渣溫服。</p>
<h3>十七‧綠風內障</h3>
<p>此眼初患之時。頭旋額角偏痛。連眼瞼骨及鼻頰骨痛。眼內痛澀見花。或因嘔吐惡心。或因嘔逆後。便令一眼先患。</p>
<p>然後相牽俱損。目前花生。或紅或黑。為肝肺受勞。致令然也。宜服羚羊角飲子、還睛丸。兼針諸穴眉骨血脈。令住卻疾勢也。</p>
<p>詩曰：初患頭旋偏頭痛　額角相牽是綠風　眼眶連鼻時時痛　悶澀生花黑白紅肝臟誰知先患左　肺家右眼作先鋒　續後相牽多總患　緣他脈帶氣相通風勞入肺肝家壅　客熱潛流到腎宮　秘澀大腸由自可　每覺心煩上築胸必是有時加嘔逆　風痰積聚在心中　羚羊湯藥須當服　還睛丸散立成功頻針眉骨兼諸穴　能行病本滅行方　忌針督脈宜出血　恐因此後轉昏蒙瞳子開張三曜絕　妙藥能醫更謾逢</p>
<p><u>羚羊角飲子</u></p>
<p>羚羊角　防風　知母　人參　茯苓　黑參　桔梗（各二兩）　細辛（三兩）　黃芩　車前子（各一兩）</p>
<p>上為末。以水一盞。散一錢。煎至五分，食後去渣溫服。</p>
<p><u>還睛丸</u></p>
<p>茺蔚子　防風（各二兩）　人參　決明子　車前子　芎　細辛（各一兩）</p>
<p>上為末。煉蜜為丸如桐子大。空心茶下十丸。</p>
<h3>十八‧烏風內障</h3>
<p>此眼初患之時。不疼不癢。漸漸昏沉。如不患眼人相似。先從一眼起。復乃相牽俱損。瞳子端然不開。不大微小。</p>
<p>不睹三光。此是臟氣不和。光明倒退。眼帶障閉。經三五年內昏氣結。成翳如青白色。不辨人物。以後相牽俱損。瞳人微小。針之無效。惟宜服藥補治五臟。令奪病勢。宜服決明丸、補肝湯。立效。</p>
<p>詩曰：都無痛癢不頭疼　漸漸昏蒙似物瞞　沒翳恰如渾不患　烏風根本更何言有花臟腑虛勞事　無即肝家壅氣嗔　兩種既知虛與實　分明用藥補和宣覺時先服涼藥飲　空腹宜吞磁石丸　食後補肝宜早治　瞳人未卜即能痊陽衰年老還相似　醫者搜尋細意看　若絕三光應不救　瞳人干定是為難</p>
<p><u>決明丸</u></p>
<p>石決明　防風　人參　車前子　細辛　茯苓　茺蔚子　干山藥　桔梗（各二兩）</p>
<p>上為末。煉蜜為丸如桐子大。食前茶下十丸。</p>
<p><u>補肝湯</u></p>
<p>芍藥　細辛　桔梗　車前子　人參　茯苓（各一兩）　羌活　防風（各二兩）</p>
<p>上為末。以水一盞。散一錢。煎至五分。食前去渣溫服。</p>
<h3>十九‧黑風內障</h3>
<p>此眼初患之時。頭旋額角偏痛。連眼瞼骨及鼻頰骨時時亦痛。兼眼內痛澀。有黑花來往。先從一眼先患。以後相牽俱損。亦因腎臟虛勞。房室不節。因為黑風內障。不宜針撥。宜服藥將息。針治諸穴脈。宜服羚羊角飲子、補腎丸立效。</p>
<p>詩曰：黑暗形候綠風同　臟腑推尋別有蹤　黑即腎家來作禍　綠風本是肺相攻欲知何藥能為療　也要羚羊瘥病宗　將息一針除赤眼　澀即輕輕兼眼中切忌房勞與嗔怒　恣意之流切莫從　瞳子開張三曜絕　名醫拱手謾相逢</p>
<p><u>羚羊角飲子</u></p>
<p>羚羊角　羌活　黑參　細辛　桔梗　黃芩　柴胡（各一兩）　車前子　茺蔚子（各一兩半）　防風（一兩）</p>
<p>上為末。煉蜜為丸如桐子大。食後茶下十丸。</p>
<p><u>補腎丸</u></p>
<p>人參　茯苓　五味子　細辛　肉桂　桔梗（各一兩）　山藥　柏子仁（各二兩半）　乾地黃（一兩半）</p>
<p>上搗羅為末。煉蜜為丸如桐子大。空心茶下十丸。</p>
<h3>二十‧青風內障</h3>
<p>此眼初患之時。微有痛澀。頭旋腦痛。或眼先見有花無花。瞳人不開不大。漸漸昏暗。或因勞倦。漸加昏重。宜令將息。便須服藥。恐久結為內障。不宜針撥。皆因五臟虛勞所作。致令然也。宜服羚羊角湯、還睛散即瘥。</p>
<p>詩曰：曾無癢痛本源形　一眼先昏後得名　瞳子端然如不患　青風便是此源因初時微有頭旋悶　或見花生又不生　忽因勞倦加昏暗　知者還應自失驚服藥更須將息到　莫遣風勞更發萌　須服羚羊湯與散　還睛墜翳自相應頭摩膏藥頻頻上　免使雙眸失卻明　患者無知違此法　他時還道是前生</p>
<p><u>羚羊角湯</u></p>
<p>羚羊角　人參　黑參　地骨皮　羌活（各一兩）　車前子（一兩半）</p>
<p>上為末。以水一盞。散一錢。煎至五分。食遠服。</p>
<p><u>還睛散</u></p>
<p>人參　車前子　地骨皮　茯苓　細辛　防風　芎　羌活（各等分）</p>
<p>上為末。以水一盞，散一錢。煎至五分。食後去渣溫服。</p>
<h3>二十一‧肝虛雀目內障</h3>
<p>此眼初患之時。愛多癢或澀，發歇。時時暗也。後極重之時。惟昏黃不見。惟視直下之物。宜服洗肝湯、瀉肝湯即瘥。</p>
<p>詩曰：雀目雖輕不可欺　小兒患者作疳翳　大人肝臟虛勞事　更被風來助本基花發眼前隨自見　不憂後患即無知　年深自必亡雙目　欲觀三光後世稀</p>
<p><u>洗肝湯</u></p>
<p>大黃　車前子　黑參　黃芩　細辛　茺蔚子（各二兩）</p>
<p>上搗羅為末。以水一盞。散五分。入黑豆三七粒。煎至五分。去黑豆。空心下一服。臨臥一服。</p>
<p><u>瀉肝湯</u></p>
<p>黃芩　防風（各二兩）　芍藥　桔梗　芒硝　大黃（各二兩）</p>
<p>上搗羅為末。以水一盞。散半錢。煎至五分。食前去渣溫服。</p>
<h3>二十二‧高風雀目內障</h3>
<p>此眼初患之時。肝有積熱沖。腎臟虛勞。亦兼患後風沖。肝氣不足。致患此疾。與前狀不同。見物有別。惟見頂上之物。然後為青盲。宜服補肝散、還睛丸即瘥。</p>
<p>詩曰：雀目前篇已辨根　此篇何要再三論　直緣病狀同中異　為是高風要別陳一種黃昏無所見　若觀天象總難分　多年瞳子如金色　欲識高風只是真兩目初醫何藥妙　卓肝入口火燃薪　風勞更若除根本　永保千秋共萬春</p>
<p><u>補肝散</u></p>
<p>人參　茯苓　車前子　川大黃　黃芩（各一兩）　五味子　防風（各二兩）　黑參（二兩半）</p>
<p>上為末。以水一盞。散一錢。煎至五分。去渣溫服。</p>
<p><u>還睛丸</u></p>
<p>人參　細辛　茯苓　木香　知母　芎　（各一兩）　石決明　茺蔚子（各二兩）</p>
<p>上為末。煉蜜為丸如桐子大。空心茶下十丸。</p>
<h3>二十三‧肝風目暗內障</h3>
<p>此眼初患之時。眼朦昏暗。並無赤痛。內無翳膜。此是腎臟虛勞。肝氣不足。眼前多生花。數般形狀。或黑或白。</p>
<p>或黃或青。如此患者。切忌房室。如夜看細書。亦恐失明也。見一物面形難辨。後亦變為青盲。急宜補治五臟。可得疾退。宜服補肝散、山藥丸立效。</p>
<p>詩曰：朦朧遠視不分明　赤痛前無淨黑睛　下冷肝虛元氣乏　眼前花見數般形暫時辭卻陰陽事　書畫裁縫且慢停　不是醫家穿鑿說　古來聖者說章程有時一物睹為二　心緒多饒妄與驚　急服車前丸及散　免教久後變青盲</p>
<p><u>補肝散</u></p>
<p>羚羊角　防風（各二兩）　羌活　車前子　人參　茯苓　細辛　黑參　黃芩（各三兩半）</p>
<p>上為末。食後米飲湯調下一錢。</p>
<p><u>山藥丸</u></p>
<p>干山藥　乾地黃　人參　茯苓　防風　澤瀉（各一兩）</p>
<p>上為末。煉蜜為丸如桐子大。空心茶下十丸。</p>
<h2>卷之三</h2>
<h3>二十四‧肝虛積熱外障</h3>
<p>此眼初患之時。忽然發動赤色。淚出翳生。或退或聚或散。初時即輕。如經一二年間漸重。瘀目不明。即冤神鬼祈求。此疾皆因肝家勞熱所作。毒風入腦眼中。覺患宜眼藥將息。不得燒炙頭面。可服瀉肝湯、青葙子丸。及朱砂煎點之立效。</p>
<p>詩曰：用力勞神赤痛來　睛瞳怕日淚難開　有時發動有時退　怨鬼求神作禍胎忽爾翳生還自可　須知肝膈熱榮排　急求湯藥先除去　根株莫遣臟中理一眼初時生作患　相牽後眼莫相違　今年發動輕輕過　後歲應多轉轉危丸藥青葙須至服　鈹鐮雙瞼血相牽　眼中宜點朱砂藥　但炙頭中即易為</p>
<p><u>瀉肝湯</u></p>
<p>黃　大黃　黃芩　知母　芒硝（各一兩）　桔梗（一兩）</p>
<p>上為末。以水一盞。散一錢。煎至五分。食後去渣溫服。</p>
<p><u>青葙子丸</u></p>
<p>青葙子　車前子　細辛　乾地黃　菟絲子　防風　茺蔚子　五味子　人參　澤瀉　茯苓（各一兩）</p>
<p>上為末。煉蜜為丸如桐子大。空心茶下十丸。</p>
<p><u>朱砂煎</u></p>
<p>龍腦（一分）　乳香（二分）　朱砂（半兩）　細辛　白芷　黃連　秦皮（各一兩）</p>
<p>上為末。以水浸一復時。去渣用汁。以蜜五兩煎之。點眼。</p>
<h3>二十五‧傷寒熱病後患目外障</h3>
<p>此眼初患之時。或因傷寒起早。熱病後臟氣未全。六腑之熱未盡。體虛易損。過食熱物過多。致令患眼。或見黑花。</p>
<p>瞳人開大。發歇不定。赤腫淚出。宜令鐮出瘀血。服熊膽丸、生犀角飲子、瀉肝湯。切不可點藥。恐損睛也。</p>
<p>詩曰：熱病傷寒可後虛　因餐壅熱患雙　睛疼一日先昏暗　不久相牽左右拘紅腫必須鐮瞼內　生犀飲子最能驅　次服決明丸半劑　免教白肉更須瘀未宜點眼緣何事　卻恐生瘡敗黑珠　瞳子忽然開黑大　舊來肝腎有風虛神方用膽點和服　雙目光明卻復初　若是眼前花出現　三年兩載始能除</p>
<p><u>熊膽丸</u></p>
<p>熊膽（一個）　石決明　車前子　澤瀉　細辛（各一兩）　乾地黃　茺蔚子（各二兩）　黃牛膽（一個）</p>
<p>上為末。煉蜜為丸如桐子大。空心茶下十丸。</p>
<p><u>生犀角飲子</u></p>
<p>生犀角　桔梗（各二兩）　羚羊角　人參　茯苓　黃芩　知母　防風（各一兩）</p>
<p>上為細末，以水一盞。散一錢。煎至五分。去渣溫服。</p>
<p><u>瀉肝湯</u></p>
<p>石決明　川大黃　桔梗　車前子　芒硝（各一兩）　羚羊角　防風（各兩半）</p>
<p>上為極細末。以水一盞。散一錢。煎至五分。去渣溫服之。</p>
<h3>二十六‧混睛外障</h3>
<p>此眼初患之時。先疼後癢。磣澀淚出。怕日羞明。白睛先赤。發歇無定。漸漸眼內赤脈橫立遮睛。如隔紗看物。難以辨明。此是毒風在肝臟。積血瞼　之間然也。初患宜令鐮洗鉤割。莫熨烙。去除根本。然後宜服涼肝散。點七寶膏。</p>
<p>服退翳丸。立效。</p>
<p>詩曰：白睛先赤作根基　痛癢風吹淚出眵　磣澀難開旬日內　發無定體有瘳時年深漸變時為碧　滿目凝眵如覺之　赤脈如絲橫與豎　混睛外障莫狐疑毒風赤血成其量　如此誰言可易醫　冷澀藥中須得妙　點摩翳膜盡為期頻鐮雙瞼同篦烙　風熱平時即住之　湯藥稍和年歲服　要除根本莫鐮遲</p>
<p><u>涼肝散</u></p>
<p>川大黃　桔梗（各半兩）　黃芩　羚羊角　黑參　人參　茯苓（各一兩）</p>
<p>上為末。以水一盞。散一錢。煎至五分。食後去渣溫服。</p>
<p><u>七寶膏</u></p>
<p>珍珠　水晶　貝齒（各一兩）　琥珀　石決明（各三分）　空青　瑪瑙　龍腦（各半兩）</p>
<p>上為末。研令細勻。水五升。石器內煎至一升。去渣煎至一盞。入蜜半兩。煎和為膏。每至夜臥時點之。早晨不得點。</p>
<p><u>退翳丸</u></p>
<p>白芷　細辛　五味子　枳殼（各一兩去瓤麩炒）　牡蠣　茺蔚子（各二兩）</p>
<p>上為末。煉蜜為丸如桐子大。空心米飲湯下十丸。</p>
<h3>二十七‧肉侵睛外障</h3>
<p>此眼初患之時。或癢或痛。赤爛多年。肺臟風壅。發無定準。漸生肉翳侵睛。遮滿瞳人。此狀宜令鉤割熨烙。後宜服除風湯、七寶膏立效。</p>
<p>詩曰：肉根基有兩般　便須分別見根源　或因赤爛多年後　肺臟風沖亦使然或癢或痛無定準　一條根肺漸侵滿　初生浮小鉤除易　覆著瞳人即稍難去熱去風先服藥　終須割烙即長安　殘余服藥徒能效　七寶銷磨當自痊</p>
<p><u>除風湯</u></p>
<p>防風　黃　茺蔚子（各二兩）　桔梗　五味子　細辛　大黃（各一兩）</p>
<p>上為末。以水一盞。散五錢。煎五分。食後去渣溫服之。</p>
<p><u>七寶膏</u></p>
<p>珍珠末　龍腦　熊膽（各一分）　石決明　琥珀（各三分）　水晶　龍齒（各五錢）</p>
<p>上搗碎為末。研令極勻。水五升。石器內煎至一升。去渣煎至一盞。入蜜半兩和為膏。每至夜臥後點之。早晨不可點。</p>
<h3>二十八‧兩瞼黏睛外障</h3>
<p>此眼初患之時。或癢或痛。年多風赤。瞼中有瘡。因熱在肺膈。脾胃風壅。致令兩瞼相黏。即宜鉤割熨烙。服排風散、烏犀丸立效。</p>
<p>詩曰：兩瞼黏睛何所論　多年風赤是其因　睛疼瞼澀皮肉爛　瘡可相黏似有筋割烙只須多出血　銅篦燒赤烙玄門　治風丸散須頻服　年歲中間只去根</p>
<p><u>排風散</u></p>
<p>天麻　桔梗　防風（各三兩）　烏蛇　五味子　細辛　芍藥　干蠍（各二兩）</p>
<p>上為末。空心食後米飲湯調下一錢。</p>
<p><u>烏犀丸</u></p>
<p>烏犀　茯苓　芍藥　細辛　黑參　人參（各一兩）　干山藥　羌活（各二兩）</p>
<p>上為末。煉蜜為丸如桐子大。空心茶下十丸。</p>
<h3>二十九‧膜入水輪外障</h3>
<p>此眼初患之時。肝臟積熱。虛勞年多。發歇有時。睛上有瘡。　後更生障翳。漸入水輪。因大腸壅滯致使熱也。宜服退熱飲子。鉤割熨烙鐮洗。宜服補虛鎮心丸即瘥。</p>
<p>詩曰：黑上生瘡　後痕　積生　肉漸相侵　時多常覆過痕了　因此名侵入水輪雖即三光微可睹　烏珠沉下必氤氳　庸醫猛浪強鉤割　遂使雙眸轉更昏</p>
<p><u>退熱飲子</u></p>
<p>防風　黃芩　茺蔚子　桔梗（各二兩）　大黃　黑參　五味子　細辛（各一兩）</p>
<p>上為末。以水一盞。散一錢。煎至五分。食後去渣服之。</p>
<p><u>補虛鎮心丸</u></p>
<p>石決明　人參　茯苓　大黃（各一兩）　遠志　細辛　干山藥　防風（各二兩）</p>
<p>上為末。煉蜜為丸如桐子大。空心茶下十丸。</p>
<h3>三十‧釘翳根深外障</h3>
<p>此眼初患之時。眼中疼痛。作時赤澀。淚出怕日，治療失時，致令睛上有翳如釘頭子相似。不宜鉤割熨烙。難得全效。宜令服藥，此是熱毒在於肝心。宜服除熱飲子、鎮心丸即瘥。</p>
<p>詩曰：滯留邪熱在肝心　疼痛生瘡那可任　毒藥既深開得後　眼前翳入黑暗深萬藥雖然磨不盡　能除發歇解愁襟　若乖忌省無堅固　恐怕瘢痕轉更深</p>
<p><u>除熱飲子</u></p>
<p>黃芩　黑參　桔梗　知母　芒硝（各二兩）　防風　大黃　茺蔚子（各一兩）</p>
<p>上為末。以水一盞，散一錢。煎至五分。每日空心食後去渣溫服。</p>
<p><u>鎮心丸</u></p>
<p>遠志　人參　茯苓　柏子仁　細辛（各二兩）　干山藥　茺蔚子　車前子（各一兩）</p>
<p>上搗羅為末。煉蜜為丸如桐子大。空心茶下十丸。</p>
<h3>三十一‧黑翳如珠外障</h3>
<p>此眼初患之時。忽然疼痛難忍。淚出不開。有翳如黑珠子在黑眼上。如是大人患者。肝腎俱勞。毒風入眼。如此疾狀。不宜針灸觸發。即服補腎丸。如小兒患者，即是實熱急疳。宜服羚羊角飲子即瘥。</p>
<p>詩曰：黑翳珠排黑水間　醫工會者始知難　如神藥點翻為極　藥用湯丸即得安不用強看將手擘　恐因手重出青涎　庸醫挑發並燒香　要見三光路更難</p>
<p><u>羚羊角飲子</u></p>
<p>羚羊角　五味子　細辛　大黃　知母　芒硝（各一兩）　防風（二兩）</p>
<p>上為末。以水一盞。散一錢。煎至五分。食後去渣溫溫服之。</p>
<h3>三十二‧花翳白陷外障</h3>
<p>此眼初患之時。發歇忽然疼痛淚出。立時遽生翳白，如珠棗花陷砌魚鱗相似。此為肝肺積熱。壅實上衝入腦。致生此疾。切宜服藥治療。不得失時。恐損眼也。宜用摩頂膏摩於頂內。然後服知母飲子。兼服山藥丸立瘥。</p>
<p>詩曰：忽生白翳簇瞳人　點點如花陷砌鱗　肝肺伏藏多壅實　上衝入腦病為根膏摩頂上除風熱　湯飲除肝服要頻　酒面休餐諸毒藥　莫因小事發貪嗔</p>
<p><u>摩頂膏</u></p>
<p>子鵝脂　牛酥　木香（各一兩）　鹽花（一兩半）　朱砂　龍腦（各一分）</p>
<p>上搗羅為末，和成膏。每日兩度摩之頂上立效。</p>
<p><u>知母飲子</u></p>
<p>知母　茺蔚子（各一兩）　防風　細辛（各一兩半）　桔梗　大黃　茯苓　芒硝（各一兩半）</p>
<p>上為末。以水一盞。散一錢。煎至五分。食後去渣溫服之。</p>
<p><u>山藥丸</u></p>
<p>干山藥（二兩）　人參　茯苓　五味子　細辛（各一兩）　乾地黃　防風（各一兩半）</p>
<p>上為末。煉蜜為丸如桐子大。空心茶下十丸。</p>
<h3>三十三‧冰瑕翳深外障</h3>
<p>此眼初患之時，或癢或疼。發歇不定。作時赤脈淚出。眵漫，致令黑睛上橫立似青眼。多少不定。久後為患。全損眼目。此疾不可挑撥。莫去鉤割。宜服茺蔚子散，除熱人參湯，點退翳清涼散立瘥。</p>
<p>詩曰：黑睛橫豎點青瑕　似翳沉沉少與多　醫者細看如此狀　根沉入黑莫挑摩老憂久後添為患　除熱除風藥最嘉　出入不妨須謹慎　志心醫療別無他</p>
<p><u>茺蔚子散</u></p>
<p>茺蔚子　防風（各二兩）　黑參　細辛　大黃　枳殼　知母　芒硝（各一兩）　芍藥（一兩半）</p>
<p>上為末。以水一盞。散一錢。煎至五分，食後去渣溫服。</p>
<p><u>人參湯</u></p>
<p>人參　茯苓　五味子　桔梗　大黃　黑參　黃芩　車前子（各一兩）　黃芩　知母（各兩半）</p>
<p>上為細末。以水一盞，散一錢。煎至五分，食後去渣溫服。</p>
<p><u>清涼散</u></p>
<p>馬牙硝　白礬　曾青（各一兩半）　龍腦　青黛（各一分）</p>
<p>上搗為細末。研令勻細為妙。每至臨臥時。用散干點半字在眼內。</p>
<h3>三十四‧玉翳浮滿外障</h3>
<p>此眼初患之時。或時疼痛。皆是毒風上衝入腦。積熱在於肝隔之間。致令眼內有翳如玉色相似。遮滿瞳人。如此疾不宜針割熨烙。宜服退翳散立效。</p>
<p>詩曰：黑上浮云如玉色　還因瘡　後留根　在施磨翳膏和散　拱手神醫無妙門服藥治風兼去熱　還睛丸散是其因　燒香供養龍樹主　覓取來生清淨根</p>
<p><u>退翳散</u></p>
<p>石決明　大黃　細辛　黃芩　車前子（各一兩）　防風（二兩）　芍藥（一兩半）</p>
<p>上為末。以水一盞。散一錢。煎至五分。食後去渣溫服。</p>
<h3>三十五‧因他病後生翳外障</h3>
<p>此眼初患之時，或即赤爛。漸生翳膜侵睛。蓋定瞳人。即無所見，醫者細看。翳心若不赤黃。猶見光明。宜令鉤割熨烙。後點爛翳散。服細辛散。</p>
<p>詩曰：眼因他患後　漸漸失光明　初覺微生膜　經年翳濃成遍通睛上黑　日久赤黃生　火燒銅箸烙　用意手輕輕</p>
<p><u>爛翳散</u></p>
<p>朱砂　石決明　珍珠末（各半兩）　曾青　砂　龍腦（各一分）</p>
<p>上搗研細，每至干點眼內立效。</p>
<p><u>細辛散</u></p>
<p>細辛　茺蔚子（各二兩）　黑參　黃芩　桔梗　大黃（各一兩）　車前子（一兩半）</p>
<p>上為末。以水一盞。散一錢。煎至五分。食後去渣溫服。</p>
<h2>卷之四</h2>
<h3>三十六‧逆順生翳外障</h3>
<p>此眼初患之時。皆因五臟虛勞。風熱沖入肝膈之間。漸漸生翳。或後上生向下。或從下生向上。名曰順逆障。亦用鉤割熨烙。點膜。去除暈膜。然後宜服補勞人參丸、知母飲子立效。</p>
<p>詩曰：此眼眸有翳　逆順要須知　從下生為逆　名醫效亦遲消停經日月　湯藥至還生　熨烙並鉤割　塗磨散卻宜下來生順逆　治法宜如之　效速非同逆　忌省即依依</p>
<p><u>補勞人參丸</u></p>
<p>人參　茯苓　桔梗　乾地黃　防風　木香　桂心　干山藥　細辛（各一兩）</p>
<p>上為末。煉蜜為丸如桐子大。空心茶下十丸。</p>
<p><u>知母飲子</u></p>
<p>知母　茺蔚子　車前子（各二兩）　黃芩　桔梗　大黃　五味子（各一兩）</p>
<p>上為末。以水一鐘。散一錢。煎至五分。食後去渣溫服。</p>
<h3>三十七‧雞冠蜆肉外障</h3>
<p>此眼初患之時。皆因脾胃積熱。肝臟受風。漸漸入眼。致生翳膜如雞冠蜆肉。其肉或青或赤。此疾宜令鉤割鐮洗熨烙。然後宜服抽風湯。除熱茺蔚丸即瘥。</p>
<p>詩曰：眼中生翳似雞冠　療者應須翻出看　蜆肉或青或赤黑　不嫌割烙始能痊要除風熱憑湯散　須要曾青點病源　若言根本未痊愈　志心多服決明丸</p>
<p><u>抽風湯</u></p>
<p>防風（二兩）　大黃　細辛　桔梗（各一兩）　黑參　黃芩　芒硝　車前子（各一兩半）</p>
<p>上為末。以水一盞，散一錢。煎至五分。食後去渣溫服。</p>
<p><u>茺蔚丸</u></p>
<p>茺蔚子　人參　干山藥（各二兩）　茯苓　石決明　大黃　黑參　黃芩（各一兩）　乾地黃（一兩半）</p>
<p>上為末。煉蜜為丸如桐子大。空心茶下十丸。</p>
<h3>三十八‧瞼生風粟外障</h3>
<p>此眼初患之時。皆肺臟壅毒。大腸積熱。肝家有風。致令眼瞼皮肉上下有肉如粟粒相似。唯多淚出澀痛。如米隱一般。積久年深。翳膜昏暗。漸漸加重。此眼切宜三五度鐮洗出血。去根本即瘥。然後服除風湯、退熱飲子。</p>
<p>詩曰。</p>
<p>澀痛多淚出　真如米隱睛　翻看上下瞼　粟子只頻生赤白非言定　針挑更似冰　直須瘀血盡　涼藥必能征</p>
<p><u>除風湯</u></p>
<p>防風（二兩）　犀角　大黃　知母　黃芩　黑參（各一兩）　桔梗　羚羊角（各一兩半）</p>
<p>上為末。以水一盞。散一錢。煎至五分。空心去渣溫服。</p>
<p><u>退熱飲子</u></p>
<p>茺蔚子　知母　大黃　茯苓　五味子　人參　芒硝（各一兩）　車前子（一兩半）</p>
<p>上為末。以水一盞。散一錢。煎至五分。食後去渣溫服。</p>
<h3>三十九‧胞肉膠凝外障</h3>
<p>此眼初患之時。皆因脾胃積熱，腦內風沖入眼胞。瞼有肉初時小如麻米。年多漸長大如桃李之狀。摩隱瞳人為翳。</p>
<p>裡邊宜令針出血。然後鐮洗瘀血。服細辛湯、磨翳散效。</p>
<p>詩曰：眼胞皮肉夾膠形　漸長如同梅李形　針破裡邊膿出後　還須服藥使光明或因此患加風熱　淚出應當有翳生　鈹割理如風毒眼　盡磨退散自相應</p>
<p><u>細辛湯</u></p>
<p>細辛　人參　茯苓　車前子　五味子　黑參　防風　地骨皮（各一兩半）</p>
<p>上為末。以水一盞。散一錢。煎至五分。食後去渣溫服。</p>
<p><u>磨翳散</u></p>
<p>龍腦　曾青　水晶（各一兩）　珍珠末　琥珀（各一分）</p>
<p>上搗羅為末令細。至夜後點散眼內立效。</p>
<h3>四十‧漏睛膿出外障</h3>
<p>此眼初患之時。微有頭旋昏悶。四體如勞。五臟多積風氣壅毒。致令瘡出於眼中。或流清涎。皆是腦無所作。雖然不痛。漸加昏暗。切宜補治。服治風黃　湯即瘥。</p>
<p>詩曰：眼目緣何患滿睛　熱和風在瞼中停　頭結聚為膿汁　或流涎水色黏青雖然不痛兼無翳　漸攻瘡大豈心寧　黃　象膽丸和散　眼安蘆薈作膏蒸若也因緣經歲月　烏珠漸落始心驚</p>
<p><u>治風黃　湯</u></p>
<p>黃　（一兩半）　防風　遠志　地骨皮　人參　茯苓　大黃（各一兩）　知母（二兩）</p>
<p>上為末。以水一盞。散一錢。煎至五分。去渣溫服。</p>
<h3>四十一‧蟹睛疼痛外障</h3>
<p>此眼初患。忽然疼痛。坐臥不得。赤澀淚出。怕日羞明。皆是肝臟伏熱。膈中膽氣不足。致令瞳人突出如黑珠子。</p>
<p>又如桃李相似。此是蟹眼睛也。急宜服藥。不可針灸鉤割熨烙。恐損眼也。宜服瀉肝湯、補膽丸、鎮腎決明丸。立瘥。</p>
<p>詩曰：忽然豆粒出烏珠　蟹眼因茲作號呼　此狀必因疼痛極　便明損翳最難除鉤膜針鐮皆莫用　點諸疼眼敗須臾　只宜涼藥兼宜補　決明丸散大相宜肝中熱退還消散　針灸塗摩總不須</p>
<p><u>瀉肝湯</u></p>
<p>黑參　地骨皮　車前子　芒硝（各一兩）　大黃　知母（各一兩半）　茺蔚子（二兩）</p>
<p>上為末。以水一盞。散一錢。煎至五分。去渣空心溫溫服之。</p>
<p><u>補膽丸</u></p>
<p>防風　細辛（各一兩半）　遠志　黃芩　人參　茯苓　桔梗　芍藥（各一兩）</p>
<p>上為末。煉蜜為丸如桐子大。空心茶下十丸。</p>
<p><u>鎮腎決明丸</u></p>
<p>石決明　菟絲子　五味子（各一兩）　細辛　干山藥　乾地黃　知母（各一兩半）</p>
<p>上為末。煉蜜為丸如桐子大。空心茶下十丸。</p>
<h3>四十二‧突起睛高外障</h3>
<p>此眼初患之時。皆因疼痛發歇作時。蓋是五臟毒風所致，令睛突出。此疾不宜針灸鉤割。只宜服退熱桔梗飲子、還睛丸，若要平穩。用針針破。流出青汁。即得平復。</p>
<p>詩曰：忽然疼痛便睛高　毒風五臟熱相遭　冷凍飲料瀉肝令大泄　又吞丸散漸須明莫要中歸平穩處　針出青涎莫要挑　便突更針三五度　睛輪平復似元朝</p>
<p><u>退熱桔梗飲子</u></p>
<p>桔梗　茺蔚子　大黃　黑參　芍藥　防風　黃芩　芒硝（各一兩）</p>
<p>上為末。以水一盞。散一錢。煎至五分。食後去渣溫服。</p>
<p><u>還睛丸</u></p>
<p>遠志　茺蔚子　防風　人參　干山藥　五味子　茯苓　細辛（各一兩）　車前子（一兩半）</p>
<p>上為末。煉蜜為丸如桐子大。空心茶下十丸。</p>
<h3>四十三‧風牽偏外障</h3>
<p>此眼初患之時。皆因腎臟虛勞。房事不節。脾胃壅毒。夜臥多涎。肝氣不足。致使不覺中風。口眼　斜。瞼中赤癢。</p>
<p>時時顳之牽動。宜令火針出淚。又針睛明穴。若有　肉。即依法鉤割熨烙。若無　肉。不宜鉤割。只服羚羊角飲子。用摩風膏摩之。</p>
<p>詩曰：偏風牽動口斜　淚出還應不奈何　湯飲去除風毒了　摩風膏與且摩塗若除　肉休鉤割　有即應當用亦佳　承泣睛明須是穴　風牽瞼動莫針他</p>
<p><u>羚羊角飲子</u></p>
<p>羚羊角　知母　人參　五味子　茯苓（各一兩）　黃　防風　茺蔚子（各一兩半）</p>
<p>上為末。以水一盞。散一錢。煎至五分。食後去渣溫服。</p>
<p><u>摩風膏</u></p>
<p>木香　當歸　白芷　黑附子　細辛　本　防風　骨碎補（各一兩）　烏頭　芍藥　肉桂（各兩半）　豬脂（半斤）</p>
<p>牛酥　鵝脂（各四兩）</p>
<p>上為末。以麻油半斤。浸藥末一宿一日。以文武火煎如膏為度。</p>
<h3>四十四‧倒睫拳毛外障</h3>
<p>此眼初患之時。皆因肝家受熱。膈內風虛。眼多淚出。或癢或疼。乍好乍惡。以手措摩。致令睫毛倒拳。刺隱瞳人。</p>
<p>磣澀睛上。白膜遮滿。不宜鐮洗出血熨烙。切恐眼皮漸小急。開合稍難。然後宜服細辛散、補腎丸立效。</p>
<p>詩曰：若因風赤淚涓涓　翳膜潛生碧漸滿　乍好乍惡多年後　眼皮急小欲開難倒睫拳攣如刺磣　摩應瞳人豈可安　醫者去毛根永斷　太陽針血最為先湯藥入除風與熱　鈹鐮數數點朱煎</p>
<p><u>細辛散</u></p>
<p>細辛　防風　知母　茺蔚子（各二兩）　黑參　桔梗　大黃　羚羊角（各一兩）</p>
<p>上為末。以水一盞。散一錢。煎至五分。食後去渣溫溫服之。</p>
<p><u>補腎丸</u></p>
<p>五味子　人參　澤瀉　干山藥　車前子　茯苓　細辛　黃芩（各一兩）　乾地黃（三分）</p>
<p>上為末。煉蜜為丸如桐子大。每服十丸。空心茶清下。</p>
<h3>四十五‧風牽瞼出外障</h3>
<p>此眼初患之時。乍好乍惡。發歇無時。多因淚流不止。蓋因胃氣受風。肝膈積熱，壅毒在瞼。皆致使眼皮翻出。切宜鐮洗散去瘀血。熨烙三五度。然後服黃　湯。煎摩風膏摩之。瞼內塗白蘞膏即瘥。</p>
<p>詩曰：一般風熱入雙眸　此眼緣何患異殊　脾臟毒風翻出瞼　腎因傳送入為珠若是瞼翻還易療　毒風入黑即難除　銅篦輕熨摩風藥　白蘞為膏瞼內塗</p>
<p><u>黃　湯</u></p>
<p>黃　茺蔚子（各二兩）　防風（一兩半）　地骨皮　茯苓　川大黃　人參　黃芩（各一兩）　甘草（五錢）</p>
<p>上為末。以水一盞，散一錢，煎至五分。食後去渣溫服。</p>
<p><u>摩風膏</u></p>
<p>黃　細辛　當歸　杏仁（各一兩）　白芷（一兩半）　防風　松脂　黃蠟（各一兩）　小麻油（四兩）</p>
<p>上搗羅為末。煎成膏塗之。</p>
<p><u>白蘞膏</u></p>
<p>白蘞　白芨　白芷（各一兩）　突厥子（兩半）</p>
<p>上為細末。用牛酥五兩煎為膏。早晨塗在眼睛內。夜半塗亦得。</p>
<h3>四十六‧神祟疼痛外障</h3>
<p>此眼初患之時。舊無根基。忽然發動。疼痛如錐刺。瞼皮亦如火炙。此疾不可忍。且求神祟氣風。服藥補治臟腑。</p>
<p>不得鉤割熨烙針灸。不爾恐生翳障。宜服羚羊角飲子，點秦皮煎效。</p>
<p>詩曰：舊沒根基忽患生　疼痛如針刺不安　茲如火炙來相近　求他神祟不虛言痛定須還湯藥治　莫教風熱更相連　不須熨烙並燒炙　點去秦皮作散煎</p>
<p><u>羚羊角飲子</u></p>
<p>羚羊角（二兩）　人參　茯苓　大黃　天門冬　黑參　黃芩　車前子（各一兩）</p>
<p>上為末。以水一盞。散一錢。煎至五分。食後去渣溫服。</p>
<p><u>秦皮煎</u></p>
<p>秦皮　黃　木香　黃連　黑參（各一兩）</p>
<p>上為末。以水一盞。浸藥三宿。去渣入蜜四兩。煎成膏用之。</p>
<h3>四十七‧旋螺尖起外障</h3>
<p>此眼初患之時。忽然疼痛。作時由熱積壅毒留在肝間。切宜補治。恐損眼也。宜服搜風湯、瀉肝飲子。宣腸立效。</p>
<p>詩曰：眼前生障翳　尖起似旋螺　治望難依舊　根深更奈何時時疼痛發　風來未消磨　湯藥勤為服　宣通肝臟多治求丸散解　痛定即從他　是療不相應　睛高或陷窪</p>
<p><u>搜風湯</u></p>
<p>防風　五味子　大黃　天門冬　桔梗　芍藥　細辛（各兩半）　茺蔚子（二兩）</p>
<p>上為末。以水一盞。散一錢。煎至五分。食後去渣溫溫服之。</p>
<p><u>瀉肝飲子</u></p>
<p>大黃　細辛　芒硝　車前子　黃芩　桔梗　柴胡　知母（各一兩）</p>
<p>上為末。以水一盞。散一錢。煎至五分。食後去渣溫溫服之。</p>
<h3>四十八‧鶻眼凝睛外障</h3>
<p>此眼初患之時。忽然癢痛淚出。五臟眼起皆硬。難以回轉。不辨人物。切宜針引血脈，以摩風膏摩之。此疾皆因五臟熱壅衝上。腦中風熱入眼所使。宜服瀉肝湯、抽風散立效。</p>
<p>詩曰：五輪目硬難回轉　鶻眼凝睛是本形　欲知根深何處起　腦中風熱臟中蒸先將針風引風壅　藥壓塗摩血脈行　元損只宜從向泄　除嗔戒行即平平</p>
<p><u>瀉肝湯</u></p>
<p>防風　大黃　茺蔚子　黃芩　黑參　桔梗　芒硝（各一兩）</p>
<p>上為末。以水一盞。散一錢。煎至五分。食後去渣溫溫服之。</p>
<p><u>抽風散</u></p>
<p>石決明　茯苓　車前子　五味子　人參　細辛　知母（各一兩半）</p>
<p>上搗羅為末。食後米飲湯調下一錢七分。</p>
<h3>四十九‧轆轤轉關外障</h3>
<p>此眼初患之時。皆因膈中壅毒。肝臟熱極。風毒入腦。致令眼吊起。睛瞳難以回轉。不辨人物。有在胎中患者。乃不可治。若初患之時。急須治療。宜服天門冬飲子、瀉肝散。</p>
<p>詩曰：上瞼藏中下瞼藏　則還不肯定中央　轉關恰似轆轤轉　聖者留言難改張病即雖云醫不得　徒教學人用形彰　堪嗟永處幽冥地　不識青黃坐久常</p>
<p><u>天門冬飲子</u></p>
<p>天門冬　茺蔚子　知母（各一兩）　防風　五味子（各一兩）　人參　羌活　茯苓（各二兩）</p>
<p>上為末。以水一盞。散一錢。煎至五分。食後去渣溫服。</p>
<p><u>瀉肝散</u></p>
<p>天門冬（一兩）　大黃　黃芩　細辛　芒硝（各一兩）　黑參　桔梗（各一兩半）</p>
<p>上為末。以水一盞。散一錢。煎至五分。食後去渣溫服。</p>
<h3>五十‧偶被物撞破外障</h3>
<p>此眼初患之時。忽然被物誤有打撞。眼胞青珠疼痛。惡腫難開。宜令鐮洗出血後。以爛搗地黃綿裹封眼。然後宜服除風散、壓熱飲子。</p>
<p>詩曰：非理因遭撞破傷　不任疼痛堪乖張　瞳人被振全昏濁　惡血仍流在眼眶欲療只須鐮瞼血　地黃綿裹密封藏　除風壓熱涼湯飲　免使他風作禍殃</p>
<p><u>除風散</u></p>
<p>防風（二兩）　車前子　本　細辛　芎　五味子　桔梗（各一兩半）</p>
<p>上搗羅為末。用陳米飲湯空心調下一錢七分。</p>
<p><u>壓熱飲子</u></p>
<p>犀角　大黃　知母　人參　茯苓　黃芩　黑參　麥門冬（各兩半）　甘草（一兩）</p>
<p>上為末。以水一盞。散一錢。煎至五分。食後去渣溫服。</p>
<h2>卷之五</h2>
<h3>五十一‧撞刺生翳外障</h3>
<p>此眼初患之時。因被物撞刺著。治療不盡。有餘痕積血在瞼　之中。致使生翳。如此病狀。不宜鉤割熨烙。切須將息。大忌淫欲嗔怒。宜服人參湯、退熱茺蔚子散。</p>
<p>詩曰：若有撞刺翳生根　治療不盡有餘痕　待他疼定瘡徒治　勸君將息忌淫嗔覺熱便須將藥壓　莫使增加風熱侵　若然此翳鉤除得　知君不是解醫人</p>
<p><u>人參湯</u></p>
<p>人參（二兩）　茯苓　黃芩　五味子　黑參　羌活　細辛（各一兩）　車前子（一兩半）</p>
<p>上為末。以水一盞。散一錢。煎至五分。食後去渣溫服。</p>
<p><u>退熱茺蔚子散</u></p>
<p>茺蔚子（二兩）　防風　芎　桔梗　人參　知母（各一兩）　本（五分）　白芷（三分）</p>
<p>上搗羅為末。每日米湯調下一錢。</p>
<h3>五十二‧血灌瞳人外障</h3>
<p>此眼初患之時。忽被物誤刺著。針或炙之失度。致令一眼先患。後乃相牽俱損。蓋為疼痛難忍。臥時好眼安著枕上。</p>
<p>便流毒血在好眼中。致使損傷。先宜服止疼沒藥散。後服墜翳明目丸。點摩挲石散立效。</p>
<p>詩曰：眼因射刺五輪虧　疼痛眶中若受錐　好眼臥將安著枕　便流惡血隔光輝可憐清淨無瑕翳　沉沒明珠甚可危　須用摩挲為點藥　卻教惡血本鄉歸</p>
<p><u>止疼沒藥散</u></p>
<p>沒藥（二兩）　麒麟竭（一兩）　大黃（一兩半）　芒硝（一兩半）</p>
<p>上搗羅為末。令細。食後熱茶調下一錢。</p>
<p><u>墜翳明目丸</u></p>
<p>石決明　芎　知母　干山藥　五味子（各一兩）　細辛　人參（各一兩半）</p>
<p>上搗羅為末。煉蜜為丸如桐子大。空心茶下十丸。</p>
<p><u>摩挲石散</u></p>
<p>摩挲石（少許）　曾青　龍腦　石膽（各一分）</p>
<p>上搗羅為末。令細。早晨夜後點眼立效。</p>
<h3>五十三‧瞇目飛塵外障</h3>
<p>此眼初患之時。皆因風吹塵物入眼。貼瞼皮黏定睛上疼痛。隱澀難開。不辨人物。欲治之時。須翻眼皮。用綿裹針撥出瞇物。宜服藥將息忌口。若有翳膜。急服退翳車前散、補肝丸。</p>
<p>詩曰：瞇目諸般物　飛揚並濺來　貼睛黏定後　疼痛隱難開綿裹針療出　尋清自暢懷　因茲生翳膜　好藥卻能回</p>
<p><u>車前散</u></p>
<p>車前子　五味子　芍藥（各一兩半）　細辛　黑參　茯苓　人參　大黃　桔梗（各一兩）</p>
<p>上為末。以水一盞。散一錢。煎至五分。食後去渣溫服。</p>
<p><u>補肝丸</u></p>
<p>澤瀉　菖蒲（各一兩半）　人參　茯苓　干山藥　遠志　防風　知母　乾地黃（各二兩）</p>
<p>上為末。煉蜜為丸如桐子大。空心茶下十丸。</p>
<h3>五十四‧天行後赤眼外障</h3>
<p>此眼初患之時。忽然赤腫淚出。若有患者。或輕或重。還從一眼先患。後乃相牽俱損。切宜鐮洗去瘀血。後宜服瀉肝散。用洗眼湯。點龍腦煎即效。</p>
<p>詩曰：忽然赤疼腫相並　天行赤眼是為名　厲竹熱氣相傳染　體性隨人有重輕瀉肝湯飲應須服　瞼中鐮血更星星　秦皮湯洗吞丸藥　不瘥經年玉翳生忌毒也須將息治　不須鉤烙恐傷睛　若將痛藥強為點　損敗神光實可驚醫療之門何最穩　多餐涼藥得平平　□□翳膜得消散　善散□之自見征</p>
<p><u>瀉肝散</u></p>
<p>知母　黃芩　桔梗（各一兩半）　大黃　黑參　羌活　細辛　茺蔚子（各一兩）</p>
<p>上為末。以水一盞。散一錢。煎至五分。食後去渣溫服之。</p>
<p><u>洗眼湯</u></p>
<p>　秦皮　甘草　細辛　黃芩（各一兩）　防風（一兩半）</p>
<p>上搗羅為末。以水一盞。散三錢。煎至一盞半。熱洗。一日兩度用之。立效。</p>
<p><u>龍腦煎</u></p>
<p>龍腦（一分）　秦皮　防風　細辛　甘草　宣黃連（各一兩半）</p>
<p>上搗羅為末。以水一大碗。浸藥末三日三夜。用銀銚子煎至七分。以束綿濾去渣。又入蜜四兩。煎至五七沸。入瓷瓶子內盛。勿令泄氣。每用點眼立效。</p>
<h3>五十五‧暴赤眼後急生翳外障</h3>
<p>此眼初患之時。忽然白睛赤腫淚出。或癢或痛。皆是肝心壅毒在胸膈之間。更相擊發。藏氣上衝。致使如此。切宜鐮洗出血。後飲蘆根飲子、鎮肝丸立效。</p>
<p>詩曰：忽然暴患白睛紅　輕者無妨重者疼　定是肝心二臟熱　更須擊發莫相攻蘆根飲子須通泄　莫遣他時更復縱　丸散鎮肝吞半劑　如斯治療有神功</p>
<p><u>蘆根飲子</u></p>
<p>蘆根　大黃　防風　黃　芒硝（各一兩）　黃芩　黑參（各一兩半）</p>
<p>上搗羅為末。以水一盞。散一錢。煎至五分。食後去渣溫服。</p>
<p><u>鎮肝丸</u></p>
<p>羌活　石決明（各二兩）　本（一兩半）　干山藥　細辛　五味子　茯苓　車前子　人參（各一兩）</p>
<p>上搗羅為末。煉蜜為丸如桐子大。空心茶下十丸。</p>
<h3>五十六‧胎風赤爛外障</h3>
<p>此眼初患之時，皆因生後乳母多食濕面酒醋壅毒之物。致令小兒雙目盡赤。眵掩四　赤爛。號曰胎風。後長成十五以來。切宜鐮洗出血。服黃　飲子。點蕤仁膏即瘥。</p>
<p>詩曰：襁褓雙眸　盡紅　醫人欲識號胎風　嬰兒乳母吞諸熱　潛入初於五臟中癢發手揉能禁制　外風因便得侵沖　良醫先用通丸散　次用蕤仁眶內攻服藥臨時隨冷熱　鈹鐮瘀血斷根蹤　不然久後為何狀　倒睫拳毛一世中</p>
<p><u>黃　飲子</u></p>
<p>黃　（三兩）　車前子　細辛　黃芩　五味子（各一兩）　防風（一兩半）</p>
<p>上搗為末。以水一盞。散一錢。煎至五分。食後去渣溫服。</p>
<p><u>蕤仁膏</u></p>
<p>蕤仁（五錢）　石膽　黃蠟　小麻油　膩粉（各少許）</p>
<p>上搗研。令細如粉為妙。後入油蠟子瓷碗內。慢火煎成膏。點眼。</p>
<h3>五十七‧風赤瘡痍外障</h3>
<p>此眼初患之時。或即癢痛。作時發歇不定。或出多淚。遂合瞼肉瘡出。四　如朱砂色相似。然後漸生膜翳。障閉瞳仁。蓋是脾臟毒風即熱膈中。致令眼病。不宜點藥炙著頭面。恐傷眼也。宜服瀉肝湯、墜膈丸立效。</p>
<p>詩曰：風赤生於脾臟家　瘡生面瞼似朱砂　烏珠潔淨未為事　兩年還有翳來遮輕翳點除權得瘥　欲飲鉤鐮知者夸　若把炙燒來退卻　欲除根本路程賒</p>
<p><u>瀉肝湯</u></p>
<p>人參　黃芩　茯苓　大黃　桔梗　芒硝（各一兩）　茺蔚子（二兩）　黑參（一兩半）</p>
<p>上為末。以水一盞。散一錢。煎至五分。食後去渣溫溫服之。</p>
<p><u>墜膈丸</u></p>
<p>五味子　干山藥　知母　澤瀉　車前子　石決明（各一兩）　防風（一兩半）</p>
<p>上為末。煉蜜為丸如桐子大。空心茶下十丸。</p>
<h3>五十八‧沖風淚出外障</h3>
<p>此眼初患之時。蓋因毒風入眼。遂乃淚出。拭卻還生。冬月即多。夏月即少。後至三五年間，不分冬夏。皆有淚出。</p>
<p>此疾蓋謂淚膛通肺臟中。久後便令眼目轉加昏暗。難辨物色。如此疾狀。宜服細辛丸、暖肺湯。以銅箸燒烙睛明穴。點點眼止淚散。乃得痊效。</p>
<p>詩曰。</p>
<p>風沖淚出血還流　每到三冬法不休　傾側淚膛通肺臟　細辛丸散斷根除雄黃五味迎風點　銅箸炙燒烙　頭　早早勸君醫治卻　他時免得一生憂</p>
<p><u>細辛丸</u></p>
<p>細辛（二兩）　五味子　熟干　地黃（各一兩半）　人參　茯苓　地骨皮　山芋　防風（各一兩）</p>
<p>上為末。煉蜜丸如梧桐子大。空心鹽湯下二十丸。日再。</p>
<p><u>暖肺湯</u></p>
<p>茺蔚子　細辛　五味子　乾地黃（各一兩半）　本（一兩半）　知母　黃芩　芎　（各一兩）</p>
<p>上為末。以水一盞。散一錢。煎至五分。食後去渣溫服。</p>
<p><u>點眼止淚散</u></p>
<p>雄黃（五錢）　曾青（一兩）　龍腦　白礬灰　細辛　乾薑灰（各等分）</p>
<p>上搗羅為末。令十分細。如粉面。每至夜後點在眼內立效。</p>
<h3>五十九‧暴風客熱外障</h3>
<p>此眼初患之時。忽然白睛脹起，都覆烏睛和瞳人。或癢或痛。淚出難開。此是暴風客熱。久在肺臟。上衝肝膈。致令眼內浮脹白睛，不辨人物。此疾宜服瀉肺湯、補肝散。鈹鐮出血。後點抽風散即瘥。</p>
<p>詩曰：白睛脹起蓋烏睛　瞼腫還應癢痛生　此是暴風兼客熱　來侵肺臟不安寧瀉湯之內加風藥　丸散臨時得妙名　鈹鐮瘀血應須盡　抽風膏藥眼中烹瀉肺湯羌活　黃芩　黑參（各一兩）　桔梗　大黃　芒硝　地骨皮（各一兩）</p>
<p>上為末。以水一盞。散一錢。煎至五分。食後去渣溫服。</p>
<p><u>補肝散</u></p>
<p>本（二兩）　白芷　車前子　石決明（各一兩半）　芍藥　天麻　防風　細辛（各一兩）</p>
<p>上為末。每日空心米湯調下一錢。</p>
<p><u>抽風散</u></p>
<p>黃柏　秦皮　秦艽　防風　細辛（各一兩）　黃連　木香（各五錢）</p>
<p>上為末。以水一盞。浸一宿去渣，入龍腦少許蜜四兩。同煎為膏。點眼。</p>
<h3>六十‧瞼硬睛痛外障</h3>
<p>此眼初患之時。胞瞼赤脹。腫硬難開。淚出疼痛。還從一眼先患。後乃相牽俱損，漸生翳膜。昏暗。皆是膈中積肝臟風毒。上衝入眼。宜令鐮洗去瘀血。後服瀉肝散。　腫膏。宜謹諸事。</p>
<p>詩曰：瞼中紅腫睛酸疼　肝膈風來熱生沖　腮腫塗膏兼服藥　輕輕鐮洗斷其蹤無令發歇生浮翳　此後尋醫枉費工　省謹若能三五日　人間諸事卻通容</p>
<p><u>瀉肝散</u></p>
<p>大黃　知母　芒硝　車前子　茺蔚子　黃芩　天冬（各一兩）　黑參（一兩半）</p>
<p>上為末，以水一盞。散一錢。煎至五分。食後去渣溫服。</p>
<p><u>　腫膏</u></p>
<p>代赭石　黃蠟（各半兩）　細磁末　麻油（一兩）　膩粉（少許）　黃柏（一兩）</p>
<p>上為末。於銚子內入油蠟同煎為膏。塗瞼上。</p>
<h3>六十一‧眼痛如針刺外障</h3>
<p>此眼初患之時。微有頭痛目眩。眼系常急。夜臥澀痛。淚出難開。時時如針刺外障相似。是心臟伏毒。熱氣壅在膈中。以後漸生障翳。遮滿相牽。如此疾狀。宜服瀉心湯。後服補肝散。兼鐮洗出血。火針太陽穴立效。</p>
<p>詩曰：忽然睛內痛如針　熱毒潛藏伏在心　逐使雙眸兼系急　日　急則痛侵侵太陽陽白將針刺　湯飲宣通宜洗淋　隱澀難開由瞼內　鈹鐮出血即能禁</p>
<p><u>瀉心湯</u></p>
<p>大黃　黃芩　桔梗　知母（各一兩）　馬兜鈴　黑參（各一兩半）　防風（二兩）</p>
<p>上為末，以水一盞，散一錢。煎至五分，食後去渣溫服。</p>
<p><u>補肝散</u></p>
<p>人參　茯苓　五味子　芎　本（各一兩）　茺蔚子　細辛（各一兩半）</p>
<p>上為末。每日空心米湯調下一錢。</p>
<h3>六十二‧眼癢極難忍外障</h3>
<p>此眼初患之時。忽然癢極難忍。此乃肝臟有風。膽家壅熱衝上所使。切宜鐮洗出瘀血。火針針陽白太陽二穴。後服烏蛇湯、還睛散、馬兜鈴丸即瘥。</p>
<p>詩曰：時時睛癢極難忍　此病根由誰與尋　瞳子氣連清淨府　遭他風熱上來侵也須陽白將針刺　湯用烏蛇病自輕　此日不忘丸與散　教君去卻病根深</p>
<p><u>烏蛇湯</u></p>
<p>烏蛇　本　防風　芍藥　羌活（各一兩）　芎　細辛（各半兩）</p>
<p>上為末。每日食後米湯調下一錢。</p>
<p><u>還睛散</u></p>
<p>防風　車前子　黑參　石決明　五味子　細辛（各一兩）　知母（五錢）</p>
<p>上為末。每日食後米湯調下一錢。</p>
<p><u>馬兜鈴丸</u></p>
<p>馬兜鈴　柴胡　茯苓（各一兩半）　黑參　桔梗　細辛（各一兩）</p>
<p>上為末。煉蜜為丸如桐子大。每日空心茶下十丸。</p>
<h2>卷之六</h2>
<h3>六十三‧眼坐起生花外障</h3>
<p>此眼初患之時。眼中別無所苦。惟久坐多時。忽然起後頭旋。眼中黑花發昏。良久乃定。皆因肝腎俱勞受風。心臟熱毒上衝。致有此疾。如治療稍遲。以後變為青盲。宜服鎮心丸、補肝散立效。</p>
<p>詩曰：眼中無別患　蹲坐便生花　初患頭旋悶　心肝風觸他腎虛兼受熱　房事每頻多　鎮心肝要補　早服莫蹉跎任信年深後　為災可奈何　更因諸疾作　瞳子染沉</p>
<p><u>鎮心丸</u></p>
<p>銀液當取見成銀箔以水銀銷之為泥合硝石銀液及鹽研為粉燒出水銀淘去鹽石研細用之芎　本　人參　細辛（各一兩）　石決明　遠志　黑參（各半兩）</p>
<p>上為末。煉蜜為丸如桐子大。空心茶下十丸。</p>
<p><u>補肝散</u></p>
<p>茺蔚子（一兩半）　羌活　知母　旋覆花（各一兩）　甘菊花（三分）　防風上為末。以水一盞。散一錢。煎至五分。食後去渣溫服。</p>
<h3>六十四‧瞳人干缺外障</h3>
<p>此眼初患之時。忽因疼痛發歇。作時難忍。夜臥不得睡。即瞳人干缺。或上或下。或東或西。常不圓正。不辨三光。</p>
<p>久後俱損。大人多患。其瞳人或白黑不定。白者腦脂流下為患。黑者膽熱。腎臟俱勞。肝風為患。宜服瀉肝湯、鎮肝丸。</p>
<p>立效。</p>
<p>詩曰：瞳人干缺水金無　或黑或白作形模　白即腦脂來閉塞　黑即其中本自虛此狀必須疼痛後　膽家風熱作勞劬　名醫拱手無方救　堪嘆長年暗室居</p>
<p><u>瀉肝湯</u></p>
<p>麥門冬　黑參　黃芩　知母　地骨皮（各一兩）　赤芍藥　茺蔚子（各一兩半）</p>
<p>上為細末，以水一盞。散一錢。煎至五分。食後去渣溫服。</p>
<p><u>鎮肝丸</u></p>
<p>車前子　人參　茯苓　石決明　五味子　細辛（各一兩半）　干山藥（二兩）</p>
<p>上為末。每日空心米湯調下一錢。</p>
<h3>六十五‧眼黃膜上衝外障</h3>
<p>此眼初患之時。疼痛發歇。作時赤澀淚出。漸生黃膜。直覆黑睛。難辨人物。皆因腎臟風冷。胃家極熱。切宜鐮鉤熨烙。然後宜點曾青膏。服通脾瀉胃湯立效。</p>
<p>詩曰：黑睛從下生黃膜　脾胃含風熱與並　疼痛發時多計較　門冬犀角便能征或鐮或點依輕法　若用邪巫不用爭　若用燒炙無效後　再來求療為施行</p>
<p><u>曾青膏</u></p>
<p>曾青　秦皮　細辛　白芷　乳頭香　龍腦（各一分）　黃連（五分）　訶子　木香（各一兩）</p>
<p>上為末。研令勻細。以水二碗浸三日後。煎至一盞。以束綿濾渣後。更入蜜四兩。同煎為膏。盛瓷瓶中封之。勿令泄氣。用之點眼立效。</p>
<p><u>通脾瀉胃湯</u></p>
<p>麥門冬　茺蔚子（各一兩）　防風　大黃　黑參　知母（各一兩）　天門冬　黃芩（各一兩五錢）</p>
<p>上為末。研令勻細。以水一盞。散一錢。煎至五分。食後去渣溫服。</p>
<h3>六十六‧眼赤膜下垂外障</h3>
<p>此眼初患之時。忽然赤澀。淚下痛癢。摩隱瞳人。黑睛漸生翳障。赤膜下垂。直覆眼睛。有此障閉。如云霞之色。</p>
<p>最宜鐮洗出血。熨烙前後。點清涼煎。服羚羊角飲子即瘥。</p>
<p>詩曰：黑睛從上直來遮　臟腑原知受客邪　熱氣上攻肝內壅　睛輪被覆似云霞上瞼還令瘀血盡　飲子宣除效不差　消停又點清涼藥　諸藥臨時任減加</p>
<p><u>清涼煎</u></p>
<p>龍腦　膩粉　馬牙硝　秦皮（各一兩）　防風　黃連（各三分）</p>
<p>上為末。研極細。以水二碗浸藥二日後。煎取二大盞。濾去渣。更煎三五沸。以束用瓷盒子盛之。別入龍腦。攪勻密封，勿令塵入。用之點眼立效。</p>
<p><u>羚羊角飲子</u></p>
<p>羚羊角（一兩五錢）　黃　（二兩）　茺蔚子（二兩）　黃芩　天門冬　黑參　知母　桔梗（各一兩）</p>
<p>上為末。以水一盞。散一錢。煎至五分。食後去渣溫服。</p>
<h3>六十七‧眼小赤脈外障</h3>
<p>此眼初患之時。還從上　漸生赤脈。奔來睛上。皆因三焦聚熱沖肝膈壅熱使然。治療稍遲，以後恐損眼目。宜服犀角飲子。後點摩翳膏即瘥。</p>
<p>詩曰：赤脈根深小　中　自然漸漸覺奔沖　三焦聚熱為災患　欲療先令飲子通浮大必須鉤割烙　頻頻用藥即消融　酸鹹熱物房中事　謹戒如師受戒同</p>
<p><u>犀角飲子</u></p>
<p>犀角　羚羊角　大黃　人參　茯苓　知母　黃芩（各一兩）　桔梗　防風（各二兩）</p>
<p>上為末。以水一盞。散一錢。煎至五分。食後去渣溫服。</p>
<p><u>摩翳膏</u></p>
<p>石決明　水晶　朱砂　龍腦　珍珠末（各一分）　琥珀（二分）</p>
<p>上為末。研如粉面。後入酥為膏。每至夜後點服立效。</p>
<h3>六十八‧小兒通晴外障</h3>
<p>此眼初患之時。皆因失誤築打著頭面額角。倒蹙撲下。令小兒肝受驚風。遂使眼目通睛。宜服牛黃丸、犀角飲子、通頂石南散立效。</p>
<p>詩曰：小兒兩目患通睛　欲擬看西又看東　振著腦中睛帶轉　肝家受得內驚風牛黃犀角頻研服　細研石南吹鼻中　乳母牽連須忌口　數朝方得舊時容</p>
<p><u>牛黃丸</u></p>
<p>牛黃　白附子　肉桂　干蠍　芎　石膏（各一分）　白芒（二分）　藿香（五錢）　朱砂　麝香（各少許）</p>
<p>上為末。煉蜜為丸如桐子大。臨臥薄荷湯下三丸。乳母忌濕熱面豬肉等物。小兒化服亦得。</p>
<p><u>犀角飲子</u></p>
<p>犀角（一兩）　射干　草龍膽（各五錢）　鉤藤　黃芩（各五分）　人參（二兩）　茯苓　甘草（各一分）　遠志（二分）</p>
<p>上為末。以水一盞。散一錢。煎至五分。食後去渣溫服。</p>
<p><u>通頂石南散</u></p>
<p>石南（一兩）　藜蘆黃（三分）　瓜蒂（五七個）</p>
<p>上為末。每用一粳米許。一日兩度。通頂為妙。</p>
<h3>六十九‧小兒斑瘡入眼外障</h3>
<p>此眼初患之時。不論大小。須患斑瘡一度。瘡子患時。覺入眼中。即時將息慎忌。若不忌口將息，即便疼痛淚出，赤澀。怕日難開。腫硬。翳如銀色。此乃熱氣在肝。上衝入眼。肝膈壅毒。因成障翳，宜用秦皮湯洗之。後服涼肝丸。</p>
<p>不宜鐮洗出血，點藥挑撥。恐損眼。得疼痛定。即點退翳藥。</p>
<p>詩曰：夫為人子一生身　須患斑瘡不可論　熱氣透肝衝上瞼　難開腫硬更羞明眼疼翳出如白銀　不要強將兩手親　卻恐叫啼傷破後　順時保護要殷勤秦皮煎水頻頻洗　服藥應教微有旬　病者若能依此訣　遺君終老眼分明</p>
<p><u>秦皮湯</u></p>
<p>秦皮（二兩）　秦艽　細辛　防風（各一兩）　甘草（五錢）</p>
<p>上為末。以水一盞。散一錢。煎至三五沸。熱淋洗眼立效。</p>
<p><u>涼肝丸</u></p>
<p>防風（二兩）　黃芩　茺蔚子　黑參　大黃　知母（各一兩）　人參　茯苓（各一兩五錢）</p>
<p>上為末。煉蜜為丸如桐子大。空心茶下十丸。</p>
<h3>七十‧小兒瞼中生贅外障</h3>
<p>此眼初患之時。皆脾胃壅熱上衝入眼瞼　之中。致令生肉。初時小如麻米。後三五年間長大。摩隱瞳人。赤澀淚出。</p>
<p>切宜鉤割散去瘀血。後乃熨烙。宜服搜胃散、補肝丸。點曾青膏立效。</p>
<p>詩曰：小兒眼瞼贅雖稀　醫者先來也要知　初即小如麻子大　日深漸長豆珠垂必須割烙流瘀血　斟量湯丸宜三思　若逢高貴嬌兒女　點藥還須得妙奇</p>
<p><u>搜胃散</u></p>
<p>大黃　桔梗　黑參　防風　車前子　細辛　芒硝　黃芩（各等分）</p>
<p>上為末。以水一盞，散一錢。煎至五分，食後去渣溫服。</p>
<p><u>補肝丸</u></p>
<p>芎　本　細辛　五味子（各一兩）　茺蔚子（二兩）　羌活　知母（各一兩五錢）</p>
<p>上為末，煉蜜為丸如桐子大。空心茶下十丸。</p>
<p><u>曾青膏</u></p>
<p>曾青（一兩）　龍腦（少許）　朱砂　乳頭香　琥珀　珍珠（各一分）</p>
<p>上為末。研如面相似。調酥為膏。每至夜後點眼。</p>
<h3>七十一‧小兒疳眼外障</h3>
<p>此眼初患之時。皆因腦熱。頭上有瘡。或因雀目多時。瀉痢潛沖。疼痛淚出難開。膈間熱。肝風入。初患之時。時時癢澀。　眉咬甲揉鼻。致令翳生。赤腫疼痛，淚出難開。膈硬。白膜遮滿。怕日。合面而臥。不喜抬頭。此疾不宜燒炙頭面。恐損眼目。尤忌點藥。宜服殺疳散、退翳丸立效。</p>
<p>詩曰：小兒疳眼自何來　腦熱肝風起禍災　或固瀉痢潛中上　雀目多時亦是媒初患時時閉癢澀　病深生翳腫難開　手　頭發兼揉鼻　怕見光明頭不抬計拙便將頭面炙　枉遭疼痛實堪哀　庸醫不解輕輕點　刺著瘡痕疼不諧欲知痊瘥求何道　服藥如風卷霧開</p>
<p><u>殺疳散</u></p>
<p>防風　龍腦　牡蠣（各二兩）　五味子　白芷　細辛（各一兩）</p>
<p>上為細末。每日空心米湯調下一錢。</p>
<p><u>退翳丸</u></p>
<p>黑參　防風　人參　茯苓　石決明　細辛　黃芩　桔梗　車前子（各一兩）</p>
<p>上為末。煉蜜為丸如桐子大。空心茶下十丸。</p>
<h3>七十二‧小兒青盲外障</h3>
<p>此眼初患之時。在母腹中忽受驚邪之氣。今生後五七歲以來。便多患眼。其初患夜臥多驚。嘔吐痰涎黃汁。漸漸失明。還從一眼先患。後乃相牽俱損。初覺便宜將息急療。服牛膽丸、犀角飲子立效。</p>
<p>詩曰：胎中受得風邪氣　五臟相遭各有名　天吊只因心領得　目盲肝納是前程痰涎嘔吐皆黃汁　神彩時時只欲驚　兩眼若能求見物　服藥良醫始見明</p>
<p><u>牛膽丸</u></p>
<p>牛膽　鉤藤（各五錢）　人參　羚羊角　藿香　廣香（各一兩）　琥珀（少許）</p>
<p>上為末。煉蜜為丸如桐子大。空心薄荷湯下三丸。七歲以上五丸。</p>
<p><u>犀角飲子</u></p>
<p>犀角　防風　芍藥　黃芩（各一兩）　羚羊角　知母（各二兩）　人參（五兩）</p>
<p>上為末。以水一盞。散一錢。煎至五分。食後去渣溫服。</p>
<h2>卷之七</h2>
<h3>諸家秘要名方</h3>
<p>（凡五家）</p>
<h4>一‧巢氏論針眼候</h4>
<p>凡眼內　頭忽結成　。三五日間。便生膿汁。世呼為偷針。此由熱氣客在　間。熱搏津液所成。但其勢輕者。故止小小結聚。汁潰熱歇乃瘥。</p>
<h4>二‧三因方</h4>
<p>（十三方）</p>
<p><u>千金神麯丸</u></p>
<p>　主明目。百歲可讀細書。常服大益眼目。</p>
<p>神麯（四兩）　磁石（二兩火　醋淬七次）　光明朱砂（一兩）</p>
<p>上為末。煉蜜為丸如梧桐子。大米湯服五丸。食前日三服。</p>
<p><u>羌活散</u></p>
<p>　治風毒上攻。眼目昏澀。翳膜生瘡。及偏正頭疼。目小。黑花累累者。</p>
<p>羌活　川芎　天麻　青皮　本　旋覆花　天南星（炮各一兩）</p>
<p>上為末。每服二錢。水一盞。薑三片。薄荷七葉。煎至七分。食後服。一法入牽牛末二兩。以生薑汁煮糊，丸如桐子大。酒任下二三十丸</p>
<p><u>白蒺藜散</u></p>
<p>　治腎臟風毒上攻。眼目赤腫。熱淚昏澀。　肉攀睛。</p>
<p>白蒺藜（炒去刺）　甘草（生）　僵蠶（去絲嘴直者炒）　防風（各一兩）　天南星（一兩半黑豆二合青鹽半兩水煮透取出焙稱不用鹽豆）　甘菊花（三兩生）</p>
<p>上為末。每服二錢。煎甘草湯調下。食後服。忌炙　物。</p>
<p><u>洗肝散</u></p>
<p>　治肝熱，赤脈貫睛。澀痛。沖風淚下。兼治熱血攻心。</p>
<p>白蒺藜（一兩半）　防風　羌活（各半兩）　馬牙硝（二兩）　甘草（一分）</p>
<p>上為末。每服二錢。食後白湯調下。</p>
<p><u>椒紅丸</u></p>
<p>　明目。暖水臟補虛。久服駐顏，縮小便。</p>
<p>川椒（取紅四兩）　巴戟（去心）　金鈴子（銼炒）　附子（炮去皮臍）　茴香（炒各一兩）</p>
<p>上為末。別用山藥三兩為末。酒煮糊，為丸如桐子大。空心鹽湯下三五十丸。</p>
<p><u>煮肝散</u></p>
<p>　治眼赤。有耳癢證。用四生散。入羊子肝煮甚妙。</p>
<p>白附子　白蒺藜　黃　羌活（各等分）</p>
<p>上為末。每服四錢匕。鹽酒入羊子肝煮。空心溫服。子肝即羊肝上有小片者是。</p>
<p><u>驅風散</u></p>
<p>　治風毒上攻眼。腫癢澀痛不可忍。或上下瞼　赤爛。或翳肉侵睛。</p>
<p>五倍子（一兩去塵土）　蔓荊子（一兩半洗）</p>
<p>上銼散。每服三錢。水二盞。銅石器內煎取一盞。澄清熱洗。留滓二服再煎。</p>
<p><u>立勝散</u></p>
<p>　治風毒攻眼。及時眼隱澀。羞明腫痛。</p>
<p>黃連　黃柏　秦皮（去粗皮）　甘草（各等分）</p>
<p>上銼散。每服四錢。水一盞。棗一個。燈心七莖。煎數沸去滓。以新羊毛筆蘸刷眼。候溫。即以手沃之。一法不用黃柏、甘草。有防風、黃芩。</p>
<p><u>神仙照水膏</u></p>
<p>　治障翳。</p>
<p>蠟（一兩）　黃丹（一兩水飛）　蛇蛻（一分）　水銀（一錢）　初生烏雞殼（一個）</p>
<p>上為柳木棰研細。滴蠟為餅。臨臥用之。候天明。將水點眼。藥墜水中。翳膜盡去。</p>
<p><u>柏竹瀝膏</u></p>
<p>　治一切赤眼障翳。</p>
<p>慈竹（截作段去兩頭）　黃柏（刮去粗皮刮細者蒲填竹內）</p>
<p>上用新磚對立。置竹磚上。兩頭各安淨碗。以干竹火燒令瀝出。盡收之。以銅箸點眼。</p>
<p><u>通和膏</u></p>
<p>　治眼赤澀。翳膜遮障。時多熱淚。</p>
<p>輕粉（一字）　乳香（皂莢子大）　杏仁（二十個去皮尖嚼細）</p>
<p>上旋入口中都嚼。候津液滿口，吐出瓷器中。置火上。令四邊沸。以綿濾別盞中。入生腦子皂子大。研勻。再濾過。</p>
<p>以銅箸點之。</p>
<p><u>通神膏</u></p>
<p>　治眼生翳膜。赤脈　肉。澀癢痛有淚。</p>
<p>沙蜜（四兩）　青鹽　麝香（各一字）　乳香　砂（滴過）　枯礬（各半字）　當歸（五分）　黃連（一錢）</p>
<p>上件乳缽內研碎。同蜜入竹筒內密封定。煮半日。濃綿濾過點眼。</p>
<p><u>蛤粉丸</u></p>
<p>　治雀目。不拘久近，但日落便不見物。</p>
<p>黃蠟　上色蛤粉（細研各等分）</p>
<p>上　蠟搜粉為丸如棗大。每用豬肝一片。二兩許。批開。裹藥一丸。麻綿纏定。瓷器內用水一碗煮熟。取出。乘熱熏眼。至溫吃肝。以瘥為度。</p>
<h4>三‧本事方</h4>
<p>（六方）</p>
<p><u>鎮肝明目羊肝丸</u></p>
<p>甘菊花　羌活　柏子仁　白朮　細辛　官桂　五味子（各半兩）　黃連（三分）　羯羊肝（一具新瓦盆中炙干更焙之若肝大止用一半）</p>
<p>上為末。煉蜜為丸如桐子大。空心食前溫水下三四十丸。</p>
<p><u>又方</u></p>
<p>菟絲子　車前子　麥門冬　決明子　白茯苓　五味子　枸杞子　茺蔚子　苦葶藶　地膚子（去殼）　蕤仁　澤瀉防風　黃芩　杏仁（大者炒）　華陰細辛　桂心　青葙子（各一兩）　熟地黃（一兩半）　白羯羊肝（只用子肝一片薄切新瓦上炙干）</p>
<p>上為細末。煉蜜為丸如桐子大。每服三四十丸。溫水下日三服。不拘時候。</p>
<p>張台卿嘗苦目暗。京師醫者令灸肝　。遂轉不見物。因得此方服之遂明。有一男子內障。醫治無效，因以余劑遺之。</p>
<p>一夕於燈下語其家人曰。適偶有所見。如隔門縫見火者。及旦視之。眼中翳膜且裂如線。張云此藥最靈。勿妄與人。忽之則無驗。子隘之。且欲廣其傳也。</p>
<p><u>又方</u></p>
<p>羌活　川芎　旋覆花　防風（各半兩）　甘草　楮葉　甘菊花　蒼朮（米泔浸去皮）　枳實　蟬蛻　木賊　桑葉（八月授陰乾各一兩）</p>
<p>上木臼中搗為末。茶清調下二錢。早晚食後臨臥各一服。亦治赤眼。忌濕面及酒。楮葉須真無實者。余不堪用。不爾諸藥悉無效。合時不得烙及犯鐵器。予觀此方。取楮葉必無實者。蓋陰陽二物相匹配爾。有實者陽也。無實取葉者陰也。所以不得其真。諸藥悉無效。</p>
<p><u>菊花散</u></p>
<p>　治腎肝風毒熱氣上衝。眼痛。</p>
<p>甘菊花　牛蒡子（炒熟各八兩）　防風（三兩）　白蒺藜（去刺一兩）　甘草（一兩）</p>
<p>上細末，每服二錢。熟水調下。食後臨臥服。</p>
<p>素問云。久視傷血。血主肝。故勤書則傷肝。主目昏。肝傷則自生風熱氣。上湊於目。其昏亦甚。不可專服補藥。</p>
<p>須服益血鎮肝明目藥。</p>
<p><u>地黃丸</u></p>
<p>黃連　決明子（各一兩）　沒藥　甘菊花　防風　羌活　桂心　光明朱砂（各半兩）　干熟地黃（一兩半）</p>
<p>上為細末。煉蜜為丸如桐子大。每服三十丸。熟水下。食後日三服。</p>
<p>讀書之苦。傷肝損目。誠然。晉范寧嘗苦目痛。就張湛求方。湛戲之曰。古方宋陽子少得其術。以授魯東門伯。次授左邱明。遂世世相傳。以及漢杜子夏。晉左太衝。凡此諸賢並有目疾。俱得此方云。用損讀書一。減思慮二。專內視三。簡外觀四。旦起晚五。夜早眠六。凡此六物。熬以神火。下以氣蓰。蘊於胸中。七日然後納諸方寸。修之一時。近能數其目睫。遠視尺棰之余。長服不已，動見牆壁之外。非但明目。乃亦延年。審如是而行之。非可謂之嘲戲。亦奇方也。</p>
<p><u>治頭風冷淚方</u></p>
<p>（龐安常）</p>
<p>甘菊花　決明子（各三分）　白朮　羌活　川芎　細辛　白芷　荊芥穗（各半兩）</p>
<p>上為細末。溫湯調下。食後日三服。</p>
<p><u>又方</u></p>
<p>（龐安常）</p>
<p>川芎　甘菊　細辛　白朮　白芷（各一分）</p>
<p>上為細末。蠟丸如黍米大。夜臥納一丸目中。一時辰換一丸。</p>
<p>荀牧仲頃年嘗謂予曰，有一人視一物為兩。醫者作肝氣有餘。故見一為二。令服補肝藥皆不效。此何疾也，予曰。</p>
<p>孫真人云。目之系上屬於腦。後出於項中。邪中於頸。因逢身之虛其入深。則隨目系入於腦。入於腦則轉。轉則目系急。</p>
<p>急則目眩以轉。邪中其睛。所中者不相比則睛散。睛散則歧。故見兩物也。令服驅風入腦藥則愈。</p>
<h4>四‧百一選方</h4>
<p>（五方）</p>
<p><u>芎菊散</u></p>
<p>　治暴赤眼。</p>
<p>薄荷（二兩）　菊花　甘草　川芎（各一兩）　防風（七錢）　白芷（半兩）</p>
<p>上為細末。食後茶少許沸湯點服。如傷風。用酒調服。其效尤速。</p>
<p><u>冀州郭家明上膏</u></p>
<p>　治遠年近日不睹光明，內外障眼，攀睛　肉。連瞼赤爛。隱澀難開。怕日羞明。推眵有淚。</p>
<p>視物茫茫。時見黑花。或瞼生風粟。或翳膜侵睛。時發癢痛。並皆治療。此藥神妙無比，不可盡述，兼治口瘡。塗之立愈。冀宰曾合服。甚奇。</p>
<p>白沙蜜（一斤）　黃丹（四錢）　砂（另研）　乳香（另研）　青鹽　輕粉　硼砂（以上俱另研各二錢）　麝香（另研五分）　金星石　銀星石　井泉石　雲母石（各一兩）　腦子（另研二錢）　黃連（去須）　烏魚骨（各五錢）</p>
<p>上件藥於淨室中。不得令婦人雞犬見。用銀石器內慢火先炒黃丹令紫色。次下蜜。候熬得滴水不散。其色皆紫。次入臘月雪水三升。再熬二十余沸。將其余藥研入末一處同熬。用箸滴在指甲上成珠不散為度。以濃紙三張鋪在筲箕內。</p>
<p>傾藥在紙上濾過。再用瓶子盛。放在新水內浸三晝夜去火毒。其水日一易之。看病眼輕重。臨晚用箸頭蘸藥點大　頭。</p>
<p>以眼澀為度。若治內障眼目，用面水和成條而捏作圈子。臨睡置眼上。傾藥在內。如此用之。一月見效。</p>
<p><u>五蛻散</u></p>
<p>　治內障得效方龍蛻（即蛇皮）　蟬蛻　鳳凰蛻（鳥花雞卵殼）　佛蛻（即蠶紙）　人蛻（男子退發）</p>
<p>上等分。不以多少。一處同燒作灰。研為細末。每服一錢。用熟豬肝吃。不拘時候。日進三服。</p>
<p><u>五生散</u></p>
<p>　治目赤。去頭風。退翳。錢文子傳。</p>
<p>天雄　附子（尖各半兩）　防風（一兩）　天南星（一兩）　川續斷（一兩並生用）</p>
<p>上為飲子。每服二錢。水一盞半。生薑七片。酒少許。煎至六分。食後溫服。因頭風而病目者。服之必效。</p>
<p><u>地黃丸</u></p>
<p>　唐丞相李恭公扈從在蜀中。日患眼。或澀或生翳膜。或即疼痛。或見黑花如豆大。累累數十不斷。或見如飛蟲翅羽。百方治之不效。僧智深云。相公此病緣受風毒。夫五臟實則瀉其子。虛則補其母。母能令子實。子能令母虛。腎是肝之母。令腎受風毒。故令肝虛。肝虛則目中恍惚。五臟亦然。香港腳消渴諸風等。皆由腎虛也。地黃丸悉主之。</p>
<p>生乾地黃（一斤）　熟乾地黃（一斤）　石斛（去苗四兩）　防風（去蘆四兩）　枳殼（麩炒四兩）　牛膝（酒浸）</p>
<p>杏仁（去皮尖麩炒黃為末入瓦器內去油）</p>
<p>上為細末。不犯鐵器。煉蜜為丸如桐子大。空心以豆淋酒下五十丸。</p>
<p>豆淋酒法。黑豆半升。淨揀簸炒令煙出。以酒三升浸之。不用黑豆。用此酒煮獨活。即是紫湯也。</p>
<h4>五‧和劑方</h4>
<p>（十四方）</p>
<p><u>錦鳩丸</u></p>
<p>　治肝經不足。風邪內乘。上攻於眼。眼暗淚出。怕日羞明。隱澀癢痛。瞻視茫茫。多見黑花。或生翳膜。並皆治之。</p>
<p>斑鳩（一只去皮毛腸嘴爪用文武火連骨炙干用）　牡蠣（去土取粉用）　防風（去蘆）　羯羊肝（一具薄批炙干令焦）　黃連（去須）　蔓荊子（二升淘洗絹袋盛飯甑蒸少時晒）　桂（去皮）　杜蒺藜（去尖角炒各二兩）　甘菊花（揀淨各五兩）　蕤仁（去皮）　羌活（去蘆）　瞿麥　草決明（各三兩）　白茯苓（去皮四兩）　細辛（二兩）</p>
<p>上十五味為末。煉蜜和杵五百杵。丸如桐子大。每服十五丸至二十丸。溫水或酒下。空心日午臨臥三服。如久患內外障眼。服諸藥不效者。漸加至五十丸必效。暴赤眼疼痛。食後用荊芥湯下二十丸。</p>
<p><u>駐景丸</u></p>
<p>　治肝腎俱虛。眼常暗昏。多見黑花。或生障翳。視物不明。迎風有淚。久服補肝腎。增眼力。</p>
<p>車前子（三兩）　干熟地黃（三兩）　菟絲子（五兩酒浸別研為末）</p>
<p>上為末。煉蜜為丸如桐子大。每服三十丸。溫酒送下。空心晚食前。日二服。</p>
<p><u>密蒙花散</u></p>
<p>　治風氣攻注。兩眼昏暗。眵淚羞明。瞼生風粟。隱澀難開。或癢或痛。漸生翳膜。視物不明。久患偏頭疼。牽引兩眼。漸覺細小。昏澀隱疼。並暴赤腫疼。皆治之。</p>
<p>密蒙花（揀淨）　羌活（去蘆）　菊花（去土）　石決明　杜蒺藜（炒去尖）　木賊（各等分銼）</p>
<p>上為細末。每服一錢。茶清調下，食後日二服。</p>
<p><u>羚羊角散</u></p>
<p>　治大小兒一切風毒瓦斯。上衝眼目。暴發赤腫。或生瘡疼痛。隱澀難開。羞明怕日。</p>
<p>羚羊角（半錢）　川升麻　黃芩　車前子　甘草（各二十兩微炒）　決明子（二十兩）　草龍膽（去蘆）　梔子仁（各五兩）</p>
<p>上為細末。每服一錢。食後溫熟水調下。日三服。小兒服半錢。</p>
<p><u>秦皮散</u></p>
<p>　治大人小兒風毒。赤眼腫疼。癢澀眵淚。昏暗羞明。</p>
<p>秦皮（銼）　桂府　滑石（杵碎）　黃連（各等分去須）</p>
<p>上為細末。每服半錢。沸湯點。去滓。溫熱頻洗。</p>
<p><u>鎮肝丸</u></p>
<p>　治肝經不足。內受風熱。上攻眼目。昏暗癢痛。隱澀難開。眵多有淚。怕日羞明。時發腫赤。或生障翳。並皆服之。</p>
<p>決明子　地膚子　白茯苓（去皮）　遠志（去心）　茺蔚子　防風（去蘆頭及叉　）　蔓荊子（去白皮）　人參（各一兩去蘆）　青葙子　車前子　地骨皮（去土）　柏子仁（炒）　甘草（銼）　甘菊花　柴胡（去蘆）　玄參　山藥（各半兩）　細辛（一分去苗）</p>
<p>上為末。蜜水煮糊。為丸如桐子大。每服二十丸。米飲下。食後日三服。</p>
<p><u>菊睛丸</u></p>
<p>　治肝腎不足。眼目昏暗。瞻視不明。茫茫漠漠。常見黑花，多有冷淚。久服補不足。強目力。</p>
<p>巴戟（一兩去心）　枸杞子（三兩）　甘菊花（四兩）　蓯蓉（一兩酒浸去皮炒切）</p>
<p>上為細末。煉蜜為丸如桐子大。每服二十丸至五十丸。溫酒或鹽湯下。空心食前服。</p>
<p><u>菩薩散</u></p>
<p>　治風氣攻注。兩眼昏暗。眵淚羞明。瞼　腫癢。動時亦痛。耳鳴頭眩。</p>
<p>白蒺藜（炒）　防風（銼炒）　甘草（一兩）　荊芥穗（一兩半）　蒼朮（各二兩米泔浸一宿銼炒）</p>
<p>上為末。不拘時候。入鹽少許。沸湯或酒調下一大錢。神效。</p>
<p><u>撥雲散</u></p>
<p>　治風毒上攻。眼目昏暗。翳膜遮障。怕日羞明。時多熱淚。隱澀難開。眶骨赤痛。瞼　紅爛。瘀肉侵睛。但是風毒眼疾。並皆治之。</p>
<p>羌活　防風　甘草（炒）　柴胡（各等分）</p>
<p>上為細末。每服二錢。水一盞，煎至七分。食後臨睡時服。薄荷湯茶調下。菊花末湯下亦得，忌炙　面等。</p>
<p><u>流氣飲</u></p>
<p>　治肝經不足。內受風熱。上攻眼目。昏暗。視物不見。常見黑花。當風多淚，怕日羞明。推眵赤腫。</p>
<p>隱澀難開。或生翳障。倒睫拳毛。眼眩赤爛。及婦人血風眼。及時行暴赤。眼胞紫黑。應有眼病。並皆治之。</p>
<p>荊芥（去梗）　山梔（去尖皮）　牛蒡子（炒）　蔓荊子（去白）　白蒺藜（去尖）　細辛（去葉）　防風（去蘆）</p>
<p>玄參（去蘆）　木賊（去尖節）　川芎（淨）　大黃（炮）　菊花　甘草（炙）　黃芩（各一兩）　製蒼朮（二兩）　草決明（一兩半）</p>
<p>上為細末，每服二錢。臨臥冷酒調下，如嬰孩有患。只令乳母服之。</p>
<p><u>睛明散</u></p>
<p>　治外障退翳膜。療風毒。上攻眼疼赤腫。或瞼　癢爛，時多熱淚昏澀。</p>
<p>黃連（去須）　當歸（去蘆洗）　赤芍藥　滑石（細研各五兩）</p>
<p>上件銼研為細末。研滑石拌勻，每用半錢，沸湯點。澄清去滓。熱洗。忌一切腌藏魚酢酒面等毒物。</p>
<p><u>春雪膏</u></p>
<p>　治肝經不足。內受風熱。上攻頭目。昏暗癢痛。隱澀難開。推眵赤腫，怕日羞明。不能遠視。迎風有淚。多見黑花。</p>
<p>腦子（二錢半研）　蕤仁（二兩去皮二兩細研）</p>
<p>上用生蜜六錢重。將腦子蕤仁同和每用銅箸或金銀釵股。大小　時復少許點之。又治連眶赤爛。以紙塗膏貼之。</p>
<p><u>菊花散</u></p>
<p>　理肝氣風毒。眼目赤腫。昏暗羞明。隱澀難開。攀睛　肉。或癢或痛。漸生翳膜。及治暴赤腫疼。並皆治之。</p>
<p>蟬蛻（去頭翅足土）　木賊（去根節）　白蒺藜（去尖炒）　羌活（各三兩去蘆不見火）　菊花（六兩去梗）</p>
<p>上為細末。每服二錢。食後臨臥茶清調下，常服。明利頭目。洗肝去風。忌發風腌藏炙　等物。</p>
<p><u>洗肝散</u></p>
<p>　治風毒上攻。暴作赤目。腫痛難開。隱澀眵淚。昏暗羞明。或生翳膜。並皆治之。</p>
<p>大黃（煨）　山梔（去皮）　當歸（酒洗去蘆）　防風（去蘆）　薄荷（去梗）　羌活（去蘆）　甘草（炙）　川芎（各等分）</p>
<p>上為細末。每服二錢，冷水或熟水調下。食後。日三服。見效。</p>
<h2>卷之八</h2>
<h3>針灸經</h3>
<h4>一‧偃伏頭部中行</h4>
<p><u>凡十穴</u></p>
<p><u>神庭</u></p>
<p>　一穴。在鼻直入發際五分。督脈足太陽陽明三脈之會，治頭風目眩。鼻出清涕不止。目淚出。可灸二七壯止。</p>
<p>岐伯曰，凡欲療風。勿令灸多。緣風性輕。多即傷。宜灸七壯。至三七壯止。禁不可針。針即發狂。忌生冷雞豬酒面動風物等。</p>
<p><u>上星</u></p>
<p>　一穴。在鼻直上入發際一寸陷中。督脈氣所發。治頭風目眩。睛痛不能遠視。以細三棱針刺之。即宣泄諸陽熱氣。無令上衝頭目。可灸七壯。不宜多灸。若頻灸即拔氣上。令目不明。忌如前法。</p>
<p><u>囟會</u></p>
<p>　一穴。在上星後一寸陷中。可容豆。督脈氣所發。治目眩。可灸二七壯至七七壯。初灸即不痛。病去即痛。痛則罷灸，針入二分。留三呼。得氣即瀉。針訖。以末鹽生麻油相和。揩發根下。頭風即永除，若八歲以下。即不得針。忌如前法。</p>
<p><u>前頂</u></p>
<p>　一穴。在囟會後一寸五分骨陷中。督脈氣所發。療頭風目眩。針入一分。可灸三壯至七七壯即止。忌如前法。</p>
<p><u>百會</u></p>
<p>　一穴，一名三陽五會。在前頂後一寸五分。頂中央旋毛中。可容豆。督脈足太陽交會於巔上。針入二分。</p>
<p>得氣即瀉。可灸七壯。至七七壯即止。唐秦鳴鶴刺微出血。頭痛立愈。凡灸頭頂。不得過七七壯。緣頭頂皮膚淺薄。灸不宜多。</p>
<p><u>後頂</u></p>
<p>　一穴，一名交沖。在百會後一寸五分枕骨上，督脈氣所發。治目眩。頭偏痛。可灸五壯。針入三分。</p>
<p><u>強間</u></p>
<p>　一穴。一名大羽。在後頂後一寸五分。督脈氣所發。治腦旋目暈。頭痛不可忍。可灸七壯。針入二分。</p>
<p><u>腦戶</u></p>
<p>　一穴。一名合顱。在枕骨上強間後一寸五分。督脈足太陽之會。禁不可針。針之令人啞不能言。</p>
<p>治目晴痛。不能遠視。可灸七壯。亦不可妄灸。令人失喑。</p>
<p><u>風府</u></p>
<p>　一穴。一名舌本。在項發際上一寸。大筋內宛宛中。疾言其肉立起。言休立下。督脈陽維之會。禁不可灸。不幸使人失喑。治頭痛目眩。針入三分。</p>
<p><u>啞門</u></p>
<p>　一穴。一作喑。一名舌橫。一名舌厭。在頂中央。入發際五分宛宛中。督脈陽維之會。入系舌本。仰頭取之。禁不可灸。灸之令人啞。治頭痛。針入二分。一作五分。</p>
<h4>二‧偃伏頭部第二行</h4>
<p><u>左右凡十四穴</u></p>
<p><u>曲差</u></p>
<p>　二穴。在神庭旁一寸五分。入發際。足太陽脈氣新發。治頭頂痛。目視不明。針入二分。可灸三壯。</p>
<p><u>五處</u></p>
<p>　二穴。在上星旁一寸五分。足太陽脈氣所發。治目不明。頭風目眩。針入三分。留七呼。可灸三壯。</p>
<p><u>承光</u></p>
<p>　二穴。在五處後一寸五分。足太陽脈氣所發。治風眩頭痛。目生白膜。針入三分。禁不可灸。</p>
<p><u>通天</u></p>
<p>　二穴。在承光後一寸五分。足太陽脈氣所發。治偏風，鼻多清涕。衄血頭重。針入三分。留七呼。可灸三壯。</p>
<p><u>絡卻</u></p>
<p>　二穴。一名強陽。又名腦蓋。在通天後一寸五分。足太陽脈氣所發。治青風內障。目無所見。可灸三壯。</p>
<p><u>玉枕</u></p>
<p>　二穴。在絡卻後一寸五分。俠腦戶旁一寸三分。起肉枕骨。入發際上三寸。足太陽脈氣所發。治目痛不能視。腦風疼痛不可忍者。可灸三壯。</p>
<p><u>天柱</u></p>
<p>　二穴。俠項後發際。大筋外廉陷中。足太陽脈氣所發。治目瞑視。頭旋腦痛。針入五分。得氣即瀉。立愈。</p>
<h4>三‧偃伏頭部第三行</h4>
<p><u>左右凡十二穴</u></p>
<p><u>臨泣</u></p>
<p>　二穴。在目上。直入發際五分陷中。足太陽少陽之會。治目生白翳多淚。針入三分。留七呼。得氣即瀉，忌如前法。</p>
<p><u>目窗</u></p>
<p>　二穴，在臨泣後一寸，足少陽陽維之會。治目外　赤痛。忽頭旋。目KT　KT　。遠視不明。針入三分。</p>
<p>可灸五壯。三度刺目大明。</p>
<p><u>正營</u></p>
<p>　二穴。在目窗後一寸。足少陽陽維之會。治頭項偏痛。針入三分。可灸五壯。</p>
<p><u>承靈</u></p>
<p>　二穴。在正營後一寸五分。足少陽陽維之會。治腦風頭痛，可灸三壯。</p>
<p><u>腦空</u></p>
<p>　二穴。一名顳　。在承靈後一寸五分。挾玉枕骨下陷中。足少陽陽維之會。治腦風。頭痛不可忍。目瞑。</p>
<p>針入五分。得氣即瀉。可灸三壯。魏公苦患頭風。發即心悶亂目眩。華佗當針而立愈。忌如前法。</p>
<p><u>風池</u></p>
<p>　二穴。在顳　後發際陷中。足少陽陽維之會，治目眩苦頭痛，目淚出。目內　赤疼。目不明。針入七分，留七呼。可灸七壯。</p>
<h4>四‧側頭部</h4>
<p><u>左右凡十二穴</u></p>
<p><u>頷厭</u></p>
<p>　二穴，在曲周下顳　上廉。手足少陽陽明之交會。治頭風眩。目無所見，偏頭痛。引目外　急，針入七分。留七呼。可灸三壯。忌如前法。</p>
<p><u>懸顱</u></p>
<p>　二穴。在曲周上顳　中廉。足少陽脈氣所發。治頭偏痛。引目外　赤。針入三分。留三呼。可灸三壯。</p>
<p>忌如前法。</p>
<p><u>懸厘</u></p>
<p>　二穴。在曲周上顳　下廉。手足少陽陽明之交會。治頭偏痛。目銳　赤痛。針入三分。灸三壯。</p>
<p><u>角孫</u></p>
<p>　二穴。在耳郭中間上開口有空。手足少陽之會。治目生膚翳。可灸三壯。</p>
<p><u>竅陰</u></p>
<p>　二穴。在枕骨下。搖動有空。足太陽少陽之會。治頭目痛。針入三分。可灸七壯。</p>
<p><u>　脈</u></p>
<p>　二穴。一名資脈。在耳本後雞足青絡脈。刺出血。如豆汁。不宜出血多。治頭風眵蒙。目睛不明。針入一分，可灸三壯。</p>
<h4>五‧正面部中行</h4>
<p><u>凡一穴</u></p>
<p><u>齦交</u></p>
<p>　─穴。左唇內齒上齦縫筋中。治目淚眵汁。內　赤癢痛。生白膚翳。針入三分。可灸三壯。</p>
<h4>六‧面部第二行</h4>
<p><u>左右六穴</u></p>
<p><u>攢竹</u></p>
<p>　二穴。一名始光。一名光明。一名員柱。在兩眉頭陷中。足太陽脈氣所發。治目KT　KT　。視物不明。</p>
<p>眼中赤痛。針入一分。留三呼。瀉三吸。徐徐而出針，不宜灸。宜以細三棱針刺之。宣泄熱氣。三度刺目大明。忌如前法。</p>
<p><u>睛明</u></p>
<p>　二穴。一名淚孔。在目內　。手足太陽少陽足陽明五脈之會，治攀睛翳膜覆瞳子。惡風淚出。目內　癢痛。小兒雀目疳眼。大人氣眼冷淚。KT　目視物不明。大　肉侵睛。針入一寸五分。留三呼。禁不可灸。雀目者宜。</p>
<p>可久留針。然後速出針。忌如前法。</p>
<p><u>巨　</u></p>
<p>　二穴。俠鼻孔旁八分。直目瞳子。蹺脈足陽明之會。治青盲。目無所見。遠視KT　KT　。白翳覆瞳子面。針入三分。得氣而瀉，灸亦良。可灸七壯。</p>
<h4>七‧面部第三行</h4>
<p><u>左右凡六穴</u></p>
<p><u>陽白</u></p>
<p>　二穴。在眉上一寸。直目瞳子。足少陽陽維之會。治頭目痛。目眵。可灸三壯。針入三分。一作二分。</p>
<p><u>承泣</u></p>
<p>　二穴。在目下七分。直目瞳子陷中。蹺脈任脈足陽明之會。治目視KT　KT　，冷淚。眼　赤痛。禁不宜針。針之令人目烏色。可灸三壯。炷如大麥。忌如常法。</p>
<p><u>四白</u></p>
<p>　二穴。在目下一寸。足陽明脈氣所發。治頭痛目眩。眼生白翳。可灸七壯。針入三分。凡用針。穩審方得下針。若針深。即令人目烏色。</p>
<h4>八‧面部第四行</h4>
<p><u>左右凡八穴</u></p>
<p><u>本神</u></p>
<p>　二穴。在曲差旁一寸五分。一日直耳。上入發際四分。足少陽陽維之會。治目眩。頸項強急痛。針入三分。可灸三壯。</p>
<p><u>絲竹空</u></p>
<p>　二穴。一名目　。在眉後陷中。足少陽脈氣所發。禁不可灸。不幸使人目小。又令人目無所見。治目眩頭痛。目赤。視物眩眩。眼睫拳倒。針入三分。留三呼。宜瀉不宜補。</p>
<p><u>瞳子　</u></p>
<p>　二穴。在目外　五分。手太陽手足少陽之會。治青盲無所見。遠視KT　KT　。目中膚翳白膜。頭痛。</p>
<p>目外　赤痛。可灸三壯。針入三分。</p>
<p><u>顴　</u></p>
<p>　二穴。在面　骨下廉銳骨端陷中。手少陽太陽之會。治目黃。眼　動不止。針入二分。</p>
<h4>九‧側面部</h4>
<p><u>左右凡二穴</u></p>
<p><u>頭維</u></p>
<p>　二穴。在額角入發際。本神旁一寸五分。足少陽陽明脈之交會。治頭偏痛。目視物不明。針入三分，禁不可灸。</p>
<h4>十‧背部中行</h4>
<p><u>凡二穴</u></p>
<p><u>陶道</u></p>
<p>　一穴。在大椎節下間，俯而取之。督脈足太陽之會。治頭重目瞑。可灸五壯。針入五分。</p>
<p><u>筋縮</u></p>
<p>　一穴。在第九椎節下間　。俯而取之。督脈氣所發。治目轉上垂，可灸三壯。針入五分。</p>
<h4>十一‧背部第二行</h4>
<p><u>左右凡十穴</u></p>
<p><u>風門</u></p>
<p>　二穴。一名熱府。在第二椎下。兩旁相去各一寸五分。督脈足太陽之會。治目瞑風勞。針入五分。留七呼。可灸五壯。</p>
<p><u>肺　</u></p>
<p>　二穴。在第三椎下兩傍相去各一寸五分。足太陽脈氣所發。甄權針經云。在第三椎下兩旁。以搭手左取右。右取左。當中指末是穴。治頭目眩。針入五分。留七呼。可灸一百壯。</p>
<p><u>肝　</u></p>
<p>　二穴。在第九椎下兩旁相去各一寸五分。治目上視。目眩。頭痛。目KT　KT　生白翳。針入三分。留六呼。可灸三壯。</p>
<p><u>三焦　</u></p>
<p>　二穴。在第十三椎下兩旁，相去各一寸五分。治目眩。頭痛。針入五分。留七呼。可灸三壯。</p>
<p><u>腎　</u></p>
<p>　二穴。在十四椎下兩旁相去各一寸五分。與臍平。治目視KT　KT　。五勞七傷。針入三分。留七呼。</p>
<p>可灸以年為壯。慎如前法。</p>
<h4>十二‧背部第三行</h4>
<p><u>凡二穴</u></p>
<p><u>　</u></p>
<p>　二穴。在肩　內廉。俠六椎下。兩旁相去各三寸。正坐取之。足太陽脈氣所發。以手痛按之。病者言。針入六分。留三呼。瀉五吸。治目眩。鼻衄。可灸二七壯至百壯止。忌莧菜白酒等物。</p>
<h4>十三‧手太陰肺經</h4>
<p><u>左右凡四穴</u></p>
<p><u>大淵</u></p>
<p>　二穴。土也。在手掌後陷中。手太陰脈之所注也。為　。治目生白翳。眼　赤筋。可灸三壯。針入二分。</p>
<p><u>天府</u></p>
<p>　二穴。在腋下三寸動脈中。以鼻取之。治目眩。遠視KT　KT　。禁不得灸。針入四分。留三呼。</p>
<h4>十四‧手陽明大腸經</h4>
<p><u>左右凡四穴</u></p>
<p><u>商陽</u></p>
<p>　二穴。金也，一名絕陽。在手大指次指內側。去爪甲角如韭葉。手陽明脈之所出也。為井。治目青盲。</p>
<p>可灸三壯。右取左。左取右。如食頃立已。針入一分。留一呼。</p>
<p><u>合谷</u></p>
<p>　二穴。一名虎口。在手大指次指歧骨間陷中。手陽明脈之所過也。為原。治目視不明。頭痛。針入三分。</p>
<p>留六呼。可灸三壯。若婦人妊娠。不可刺之。損胎氣。</p>
<h4>十五‧手少陰心經</h4>
<p><u>左右凡四穴</u></p>
<p><u>通裡</u></p>
<p>　二穴。在腕後一寸。治目眩頭痛。針入三分。灸三壯。</p>
<p><u>少海</u></p>
<p>　二穴。水也。一名曲節。在肘內廉節後。又云肘內大骨外去肘端五分。手少陰脈之所入也。為合。治目眩。甄權云。屈手向頭取之。治腦風頭痛。不宜灸。針入五分。</p>
<h4>十六‧手太陽小腸經</h4>
<p><u>左右凡十四穴</u></p>
<p><u>少澤</u></p>
<p>　二穴。金也。一名小吉。在手小指之端。去爪甲下一分陷中。手太陽脈之所出也。為井。治目生膚翳。</p>
<p>覆瞳子。可灸一壯。針入一分。</p>
<p><u>前谷</u></p>
<p>　二穴。水也。在手小指外側本節之前陷中。手太陽脈之所流也。為滎。治目中白翳。可灸一壯。針入一分。</p>
<p><u>後谿</u></p>
<p>　二穴。木也。在小手指外側本節後陷中。手太陽脈之所注也。為　。治目赤生翳，可灸一壯。針入一分。</p>
<p><u>腕骨</u></p>
<p>　二穴。在手外側腕前起骨下陷中。手太陽脈之所過也。為原。治目冷淚。生翳膜。頭痛。可灸三壯。針入二分。留三呼。</p>
<p><u>陽谷</u></p>
<p>　二穴。火也。在手外側腕中銳骨之下陷中。手太陽脈之所行也。為經，治目眩。可灸三壯。針入二分。</p>
<p>留二呼。</p>
<p><u>養老</u></p>
<p>　二穴。在手踝骨上一空腕後一寸陷中。手太陽　。治目視不明。可灸三壯。針入三分。</p>
<p><u>支正</u></p>
<p>　二穴。在腕後五寸。別走少陰。治頭痛目眩，可灸三壯。針入三分。</p>
<h4>十七‧手少陽三焦經</h4>
<p><u>左右凡六穴</u></p>
<p><u>關衝</u></p>
<p>　二穴，金也，在手小指次指之端。去爪甲角如韭葉。手少陽脈之所出也。為井。治目生翳膜，視物不明。</p>
<p>針入一分。可灸一壯。忌慎如前。</p>
<p><u>液門</u></p>
<p>　二穴。水也。在手小指次指間陷中。手少陽脈之所流也。為滎。治目眩頭痛。目赤澀。針入二分。可灸三壯。</p>
<p><u>中渚</u></p>
<p>　二穴。木也。在手小指次指本節後間陷中。手少陽脈之所注也。為　。治目眩頭痛。目生翳膜。針入一分。可灸三壯。</p>
<h4>十八‧足少陽膽經</h4>
<p><u>左右凡四穴</u></p>
<p><u>俠谿</u></p>
<p>　二穴。水也。在足小指次指歧骨間本節前陷中。足少陽脈之所流也。為滎。治目外　赤。目眩。可灸三壯。針入三分。</p>
<p><u>丘墟</u></p>
<p>　二穴。在足外踝下如前陷中。去俠谿四寸五分。足少陽脈之所過也。為原。治目生翳膜。可灸三壯。針入五分。留七呼。</p>
<h4>十九‧足太陽膀胱經</h4>
<p><u>左右凡八穴</u></p>
<p><u>至陰</u></p>
<p>　二穴。金也。在足小指外側。去爪甲角如韭葉。足太陽脈之所出也。為井。治目生翳。針入二分。可灸三壯。</p>
<p><u>通谷</u></p>
<p>　二穴，水也。在足小指外側本節前陷中。足太陽脈之所流也。為滎。治目眩。頸項痛。目KT　KT　。</p>
<p>可灸三壯。針入三分。</p>
<p><u>束骨</u></p>
<p>　二穴。木也。在足小指本節後陷中。足太陽脈之所注也。為　。治目眩，項不可回顧。目內　赤爛。可灸三壯。針入三分。</p>
<p><u>京骨</u></p>
<p>　二穴。在足外側大骨下。赤白肉際陷中。足太陽脈之所過也。為原。治目內　赤爛。目眩。針入三分。</p>
<p>可灸七壯。</p>
<h4>二十‧推人神所在法</h4>
<p>一日足大指。二日外踝。三日股內。四日腰。五日口舌懸壅。六日手掌。七日內踝。八日足腕。九日尻。十日腰背。</p>
<p>十一日鼻柱。十二日發際。十三日牙齒。十四日胃脘。十五日遍身。十六日胸前。十七日氣衝。十八日股內。十九日足膝。二十日內踝。二十一日手小指。二十二日外踝。二十三日肝　。二十四日手陽明兩腰。二十五日足陽明。二十六日胸。二十七日膝。二十八日陰。二十九日膝脛顳　。三十日關元下至足。</p>
<p>以上人神所在之日。禁忌針灸。若遇疾急。不拘。</p>
<h4>二十一‧推逐時人神所在</h4>
<p>子時在踝，丑時在腰。寅時在目。卯時在面。辰時在頭。巳時在手。午時在胸。未時在腹。申時在心。酉時在背。</p>
<p>戌時在項。亥時在股。</p>
<h4>二十二‧推九宮尻神訣</h4>
<p>一坤踝上艾休加。二震須當在齒牙。三巽乳頭連口舌。四中肩井是尻家。五干背面連雙耳。六兌手膊莫虛華。七艮項腰莫針灸。八離肋膝最疑他。九坎肘肚腳休犯。記取尻神切莫差。</p>
<h2>卷之九</h2>
<h3>諸方辯論藥性</h3>
<h4>一‧玉石部</h4>
<p><u>凡二十五種</u></p>
<p><u>雄黃</u></p>
<p>　味苦甘平。寒大溫有毒。治目痛。</p>
<p><u>礬石</u></p>
<p>　味鹹寒無毒。主目痛。一、外台秘要。治目翳及　肉。取礬石最白者。內一黍米大於翳上及　肉上。即令淚出。綿拭之。令惡汁出盡。其疾日日減。翳自消薄便瘥。礬石須真好者。方可用。肘後方治目中風腫赤眼方。白礬二錢。熬和棗丸如彈丸大。以摩上下。食頃止。日三度。二、姚合眾方。治小兒目晴上白膜。白礬一分。以水四合。熟銅器中煎取半合。下少白礬調之。以綿濾過。每日三度。點一芥子大。</p>
<p><u>芒硝</u></p>
<p>　味苦辛大寒。孫真入食忌。治眼有翳。取芒硝一大兩。置銅器中急火上煉之。放冷後。以生絹細羅點眼角中。每夜欲臥時。一度點妙。</p>
<p><u>馬牙硝</u></p>
<p>　味甘大寒無毒。點眼藥中多用。甚去赤腫。障翳。澀淚痛。經驗方。退翳明目白龍散。取馬牙硝洗淨者。用濃紙裹令按實。安在懷內著肉處。養一百二十日。取出研如粉。入少龍腦同研細。不計年數深遠。眼內生翳膜漸漸昏暗。遠視不明。但瞳人不破並醫得。每點用藥末兩米許。點目中。</p>
<p><u>滑石</u></p>
<p>　味甘寒大寒無毒。</p>
<p><u>石膽</u></p>
<p>　味酸辛寒有毒。主明目目痛。</p>
<p><u>空青</u></p>
<p>　味甘酸寒大寒無毒。主青盲明目。益肝氣。療目赤腫。去膚翳止淚。唐本空青為眼藥之要。日華子空青大者如雞子。小者如相思子。其青濃如荔枝殼。內有漿酸甜，能點多年青盲。內障翳膜。其殼又可摩翳也。千金方。治眼KT　KT　不明。以空青少許漬露一宿。以水點之。</p>
<p><u>曾青</u></p>
<p>　味酸小寒無毒。主目痛止淚。療頭風腦中寒。</p>
<p><u>摩娑石</u></p>
<p>　主頭痛。</p>
<p><u>丹砂</u></p>
<p>　味甘微寒無毒。主益氣明目。</p>
<p><u>鹽花</u></p>
<p>　味鹹溫無毒。陳藏器。明目。去皮膚風毒。日華子。明目。止風淚邪氣。范汪方。主目中淚出不得開。</p>
<p>即刺痛。以鹽如大目許。內目中。習習去鹽。以冷水數洗目瘥。藥性論。空心漱齒。少許時吐水中洗眼。可夜見小字。</p>
<p>食忌。主瞇眼者。以少鹽並豉置水中視之。立出。</p>
<p><u>水銀</u></p>
<p>　味辛寒有毒。</p>
<p><u>朱砂</u></p>
<p>　陳藏器云。水銀出於朱砂。則知二物其味同也。妊婦不可服。</p>
<p><u>石膏</u></p>
<p>　味辛甘微寒。大寒無毒。主中風。日華子云。治頭風。</p>
<p><u>銀屑</u></p>
<p>　味辛平有毒。明目。</p>
<p><u>膩粉</u></p>
<p>　即輕粉也。又名水銀粉。味辛冷無毒。</p>
<p><u>磁石</u></p>
<p>　味辛鹹寒無毒。日華子治眼昏。</p>
<p><u>珊瑚</u></p>
<p>　味甘平無毒。去目中翳。錢相公篋中方。治七八歲小兒眼有麩翳未堅。不可妄敷藥。宜點珊瑚散。細研如粉。每日少點之。三日愈。</p>
<p><u>瑪瑙</u></p>
<p>　味辛寒無毒。主目赤爛。</p>
<p><u>　砂</u></p>
<p>　味鹹苦辛有毒。妊婦不可服。</p>
<p><u>石蟹</u></p>
<p>　主青盲。目淫膚翳。細研水飛過。入諸翳相佐。用之點目良。</p>
<p><u>代赭石</u></p>
<p>　味苦甘寒無毒。主賊風。妊婦不可服。</p>
<p><u>古文錢</u></p>
<p>　治翳障明目。療風赤眼。鹽酒浸用。</p>
<p><u>戎鹽</u></p>
<p>　治眼赤　爛風赤。細研和水點目中。</p>
<p><u>井泉石</u></p>
<p>　很大黃梔子。治眼瞼腫。得石決明、菊花。療小兒眼疳生翳膜。</p>
<h4>二‧草部</h4>
<p><u>凡五十六種</u></p>
<p><u>菖蒲</u></p>
<p>　味辛溫無毒。明耳目。藥性論。治頭風淚下。一寸九節者良。千金方。甲子日取菖蒲一寸九節者。陰乾百日。為末。服方寸匕。日三服。耳目聰明不忘。</p>
<p><u>菊花</u></p>
<p>　味苦甘平無毒。主頭風眩腫痛。目欲脫淚出。日華子云。菊有兩種。花大氣香莖紫者。為甘菊。花小氣烈莖青小者。名野菊。味苦甘者入藥。苦者不任。治四肢游風頭痛。作枕用之。可明目。葉亦可明目也。食療。甘菊平。</p>
<p>其葉正月采可作羹。莖五月五日采。花九月九日采。並主頭風。目眩淚出。食醫心鏡。甘菊主頭風。目眩淚出。可切作羹煮粥。生食亦得。</p>
<p><u>人參</u></p>
<p>　味甘溫。微寒無毒。主除邪氣。明目。通血脈。</p>
<p><u>天門冬</u></p>
<p>　味苦甘平。大寒無毒。主諸暴風濕。保定肺氣。</p>
<p><u>甘草</u></p>
<p>　味甘平無毒。通經脈。利血氣。解百藥毒。</p>
<p><u>術</u></p>
<p>　味苦甘溫無毒。主風眩頭痛。目淚出。聖惠方。治雀目不計時月。用蒼朮二兩。搗為細末。每服一錢。不計時候。以好羊子肝一個。用竹刀子批開。攤藥在內。麻繩纏定。以粟米泔一大盞。煮熟為度。患人先熏眼。藥氣絕即吃之。簡要濟眾。亦治小兒雀目，經驗方。蒼朮不拘多少。用米泔水浸三兩日。逐日換水。候滿日取出。刮去黑皮。切作片曝乾。用慢火炒令黃色。細搗末。每一斤末。用蒸過茯苓半斤。煉蜜為丸如桐子大。空心臥時。溫熟水下十五丸。</p>
<p>別用術末六兩。甘草末六兩。拌合勻。作湯點之。可壯顏色。明耳目。忌桃李蛤雀三日。又治內外障眼。蒼朮四兩。米泔浸七日。逐日換水。後刮去黑皮。細切入青鹽一兩。同炒黃色為度。去鹽不用。木賊二兩。以童子小便浸一宿。水淘焙乾。同搗為末。每日不計時候。但飲食菜蔬內。調下一錢七分。甚妙。</p>
<p><u>菟絲子</u></p>
<p>　味辛甘無毒。久服目明。</p>
<p><u>茺蔚子</u></p>
<p>　味辛甘。微溫。微寒無毒。主明目。療頭痛。</p>
<p><u>柴胡</u></p>
<p>　味苦平。微寒無毒。去腸胃中結氣。久服輕身明目。</p>
<p><u>麥門冬</u></p>
<p>　味甘微寒無毒，主目黃。陳藏器。和車前子、乾地黃為丸。服之明目。夜中見光。</p>
<p><u>羌活</u></p>
<p>　味苦甘平。微溫無毒。療諸賊風。百節痛風。又日華子。治一切風旋。眼目赤痛。獨活。即羌活母類也。</p>
<p><u>車前子</u></p>
<p>　味甘咸。寒無毒。主養肺。明目。療赤痛。藥性論。能去肝中風熱。毒風沖眼。目赤腫障翳。腦痛淚出。聖惠方。治久患內障眼。車前子、乾地黃、麥門冬。等分為末。蜜丸如桐子大。服之屢有效。</p>
<p><u>木香</u></p>
<p>　味辛溫無毒。</p>
<p><u>薯蕷</u></p>
<p>　味甘溫平無毒。主頭面游風。頭風。眼眩。久服耳目聰明。</p>
<p><u>澤瀉</u></p>
<p>　味甘鹹寒無毒。主風。扁鵲云。多服病患眼。</p>
<p><u>遠志</u></p>
<p>　味苦溫無毒。主耳目聰明。去心下膈氣。皮膚中熱。面目黃。</p>
<p><u>草龍膽</u></p>
<p>　味苦。寒。大寒無毒。益肝膽氣。日華子云明目。</p>
<p><u>細辛</u></p>
<p>　味辛溫無毒。主頭痛腦動。益肝膽。通精氣。久服明目。陶隱居云。最能除痰明目也。</p>
<p><u>巴戟天</u></p>
<p>　味辛甘。微溫無毒。增志益氣。療頭面游風。</p>
<p><u>芎　</u></p>
<p>　味辛溫無毒。主中風入腦頭痛。除腦中冷。目淚出。多涕。御藥院方。真宗賜高祖相國去痰清目生犀丸。</p>
<p>川芎十兩。緊小者。粟米泔浸三日。薄切片子。日干為末，作兩料入。料入腦麝各一分。生犀半兩。重湯煮。蜜杵為丸小彈子大。茶酒任嚼下一丸。頭目昏眩。加細辛一分。口眼　斜。炮天南星一分。</p>
<p><u>黃連</u></p>
<p>　味苦。寒。微寒無毒。主熱氣目痛。　傷淚出。明目益膽。又治目方。用黃連多矣。而羊肝丸尤奇異。</p>
<p>取黃連末一大兩。白羊子肝一具去膜。同於砂盆內研令極細。眾手捻為丸如桐子大。每食以暖漿水吞二七枚。連作五劑瘥。但是諸眼目疾及障翳青盲。皆主之。禁食豬肉及冷水。劉禹錫云。有崔承元者。因官治一死罪囚出活之。囚後數年亦病死。一日崔為因內障所苦。喪明逾年。後因半夜嘆息獨坐時。聞階除間　之聲。崔問為誰。曰是昔所蒙活者囚。</p>
<p>今故報恩至此，遂以此方見告。訖而沒。崔依此合服。不數月眼復明。因傳此方於世。又今醫家洗眼湯。以當歸、芍藥、黃連等分。銼細。以雪水或甜水煮濃汁。乘熱洗。冷即再溫洗。甚益眼目。是風毒。赤目。花翳。皆可用之。其說曰。</p>
<p>凡眼目之病。皆血脈凝滯使然。故以行血藥合黃連治之。血得熱即行。故乘熱洗之。用者無不神效。外台秘要。治目卒癢痛。末黃連。以乳汁浸點目中。抱朴子。乳汁煎黃連。治目中百病。</p>
<p>肘後方。治眼淚出不止。濃煎黃連汁。浸綿拭之。</p>
<p><u>蒺藜子</u></p>
<p>　味苦辛。微溫。寒無毒。主風癢。頭疼。咳逆傷肺。肺痿，其葉主風癢。可煮以浴。久服明目。古蒺藜子皆用刺者。治風最良。外台秘要補肝散。治三十年失明。蒺藜子七月七日收。陰乾。搗散食。白水服方寸匕。</p>
<p><u>黃　</u></p>
<p>　味甘微溫無毒。主安痛補虛。日華子。治頭風。熱毒。赤目等，藥中有益。呼為羊肉。</p>
<p><u>肉蓯蓉</u></p>
<p>　味甘酸鹹。微溫有毒。主補中。</p>
<p><u>防風</u></p>
<p>　味甘辛無毒。主頭眩痛。惡風風邪。目盲無所見。日華子治風赤眼止淚。</p>
<p><u>決明子</u></p>
<p>　味鹹苦甘平。微寒無毒。主青盲目。淫膚。赤白膜。眼赤痛淚出。唐本主明目。故以決明名之。俗方惟以療眼也。日華子。治肝氣。脅太陽穴治頭痛。作枕勝黑豆。治頭風明目。食療。葉主明目。利五臟。食之甚良。子主肝家熱毒瓦斯。風眼赤淚。每日服一匙。　去塵。空心水吞之。百日後夜見光物也。外台秘要。治積年失明。不識人。</p>
<p>決明子二升。杵散。食後以粥飲方寸匕。千金方。治肝毒熱。取決明子作菜食之。</p>
<p><u>五味子</u></p>
<p>　味酸溫無毒。日華子。治風明目。</p>
<p><u>地膚子</u></p>
<p>　味苦寒無毒。去皮膚中熱氣。久服耳目聰明。外台秘要。治目痛及瞇目。忽中傷因有熱瞑者。取地膚子白汁注目中。</p>
<p><u>乾薑</u></p>
<p>　味辛溫。大熱無毒。逐風邪。唐本久服令眼暗。肘後方。治身體重。小腹急熱。必衝胸膈。頭重不能舉。</p>
<p>眼中生翳。乾薑四兩。末溫和溫服。覆取汗得解。集驗方。治頭旋眼眩。乾薑為末。熱酒調半錢。立效。</p>
<p><u>當歸</u></p>
<p>　味甘辛。溫。寒無毒。日華子治一切風。</p>
<p><u>芍藥</u></p>
<p>　味苦酸平。微寒有小毒。通順血脈。藥性論。能治肺邪氣。日華子。治頭風痛。明目。赤　肉。赤色者。</p>
<p>別本注。赤者利小便。下氣。白者止痛散血。</p>
<p><u>瞿麥</u></p>
<p>　味苦辛寒無毒。明目去翳。孕婦不可食。日華子云。治眼目赤腫痛。</p>
<p><u>玄參</u></p>
<p>　味苦鹹。微寒無毒。補腎氣。令人目明。</p>
<p><u>秦艽</u></p>
<p>　味苦辛平。微溫無毒。療風。無問久近。</p>
<p><u>知母</u></p>
<p>　味苦寒無毒。療膈中惡及風汗。多服令人瀉。日華子。潤心肺補不足。虛勞。</p>
<p><u>貝母</u></p>
<p>　味辛苦平。微寒無毒。主目眩項直。藥性論。末之點眼。去膚翳。</p>
<p><u>白芷</u></p>
<p>　味辛溫無毒。主頭風侵目淚出。頭眩。目癢。藥性論。除風邪。明目止淚。日華子。治目赤　肉。百一選方都梁丸。王定國因被風吹。項背拘急。頭目昏眩。太陽並腦俱痛。自山陽拿舟至泗州求醫。楊吉老既診脈。即與藥一彈丸便服。王因款話。經一時再作。並進兩服。病若失。王甚喜。問為何藥。答曰。公如道得其中一味即傳此方。王思索良久。自川芎、防風之類。凡舉數種皆非。但一味白芷耳。王益神之。此藥初無名。王曰。是藥處自都梁。人可名都梁丸也。大治諸風眩暈。婦人產前後。乍傷風邪。頭目昏重。及血風頭痛。服之令人目明。凡沐浴後。服一二粒甚佳。</p>
<p>方用香白芷大塊。擇白色新潔者。先以棕刷刷去塵土。用沸湯泡洗四五遍。為細末。煉蜜丸如彈子大。每服一丸。多用荊芥點茶蠟。細嚼下。食後常服。諸無所忌。只干嚼咽亦可。</p>
<p><u>黃芩</u></p>
<p>　味苦平。大寒無毒。療痰熱。胃中熱。</p>
<p><u>前胡</u></p>
<p>　味苦。微寒無毒。主風氣頭痛。推陳致新。明目。</p>
<p><u>　本</u></p>
<p>　味苦辛。溫。微寒無毒。主除風頭痛。</p>
<p><u>天麻</u></p>
<p>　味辛平。微溫無毒。療風無問久近。</p>
<p><u>牡丹皮</u></p>
<p>　味辛苦。溫。微寒無毒。療頭痛頭風。蕭炳云。白補赤利。</p>
<p><u>蘆薈</u></p>
<p>　味苦寒無毒。主熱風。腦間熱氣。明目。</p>
<p><u>胡黃連</u></p>
<p>　味苦辛平無毒。療風。唐本補肝膽。明目。</p>
<p><u>附子</u></p>
<p>　味辛甘。溫。大熱有大毒。主風寒。張文仲方。療眼暴赤腫。磣痛不得開。又淚出不止。削附子黑皮。</p>
<p>末如蠶糞屎。著　中。以定為度。孕婦不可服。</p>
<p><u>烏頭</u></p>
<p>　味辛甘。溫。大熱有大毒。主中風。目中痛。不可久觀。孕婦不可服之。</p>
<p><u>半夏</u></p>
<p>　味辛平。微寒有毒。主頭眩。悅澤面目。消胸膈痰熱。墮胎。</p>
<p><u>大黃</u></p>
<p>　味苦。寒。大寒無毒。主推陳致新。和五臟。除痰實。腸間結熱。</p>
<p><u>葶藶</u></p>
<p>　味辛苦。寒，大寒無毒。治面目浮腫。中風。</p>
<p><u>桔梗</u></p>
<p>　味辛苦。微溫有小毒。補血氣。除寒熱風痹。日華子云。補虛養血。</p>
<p><u>旋覆花</u></p>
<p>　味鹹甘。溫。微冷利有小毒。主目中眵　。</p>
<p><u>牛膝</u></p>
<p>　聖惠方。治眼卒生珠管。牛膝並葉搗絞取汁。日三四度點之。</p>
<p><u>白蒿</u></p>
<p>　深師方。取白艾蒿十束。如升大。煮取汁。以曲及米一如釀酒法。候熟稍稍飲之。但是面目有瘡。皆可飲之。斗門方治火眼。用艾燒令煙起。以碗蓋之。候煙上碗成煤取下。用溫水調化。洗火眼即瘥。更入黃連甚妙。</p>
<p><u>菥　子</u></p>
<p>　崔元亮療眼熱痛淚不止。以菥　子一物。搗篩為末。欲臥時。以銅箸點眼中。當有熱淚及有惡物出。</p>
<p>並去　肉。可三四十夜點之甚妙。</p>
<p><u>仙靈脾</u></p>
<p>　經驗方。治瘡毒入眼。以靈脾、威靈仙。等分為末。食後米湯下二錢匕。小兒半錢。</p>
<p><u>夏枯草</u></p>
<p>　簡要濟眾方。治脾虛。目睛疼。冷淚出不止。筋脈痛。及眼羞明怕日。補肝散。夏枯草半兩。香附子一兩。共為末。每服一錢。臘茶調下。無時候服。</p>
<h2>卷之十</h2>
<h3>三‧木部</h3>
<p><u>凡二十九種</u></p>
<p><u>桂</u></p>
<p>　味甘辛。大熱，有小毒。主利肝肺氣。頭痛。日華子治一切風。明目。</p>
<p><u>松脂</u></p>
<p>　味苦甘溫無毒。除胃中伏熱。</p>
<p><u>枸杞</u></p>
<p>　味苦寒。根名地骨皮。大寒。子微寒無毒。春夏采葉。秋采莖實。冬采根。藥性論。葉和羊肉作羹。益人甚。除風明目。若渴可煮作飲。代茶飲之。主患眼風障。赤膜。昏痛。取葉搗汁。注眼中妙。千金方。治肝虛。或當風眼淚。枸杞最肥者二升。搗破。納絹袋中。置罐中。以酒一斗浸干。密封勿泄氣。三七日。每旦飲之。任性勿醉。肘後方。療目熱。生膚。赤白眼。搗枸杞汁點眼立效。外台秘要。療眼暴赤。天行腫癢痛。地骨皮三斤。水三斗。煮取三升。絞去渣。更內鹽一兩。炒取二升。敷目。或加乾薑二兩。</p>
<p><u>柏實</u></p>
<p>　味甘平無毒。主益氣除風。久服耳目聰明。</p>
<p><u>茯苓</u></p>
<p>　味甘平無毒。主開胸腑。調臟氣。雷公云。凡采得搗令細。於水盆中絞令濁。浮者去之。是茯苓。而若誤服之。令人眼中　子。並黑睛點小兼目盲。記之。</p>
<p><u>琥珀</u></p>
<p>　味甘平無毒。日華子明目。摩翳。</p>
<p><u>黃柏</u></p>
<p>　味苦寒無毒。療目熱赤腫。日華子洗肝。明目止淚。</p>
<p><u>楮實</u></p>
<p>　味甘寒無毒。主明目。葉亦入方用。外台秘要。點眼翳。取楮白皮暴干。合作一繩子如釵股。火燒作灰。</p>
<p>待冷細研如面。每點於翳上。日三五度漸消。</p>
<p><u>蔓荊</u></p>
<p>　味苦辛。微寒。平溫無毒。主明目。頭風痛。目淚出。日華子治赤眼。</p>
<p><u>蕤核</u></p>
<p>　味甘。溫。微寒無毒。主明目。赤腫痛淚出。目腫　爛。圖經劉禹錫傳信方。所注法最奇。云眼風淚癢。</p>
<p>或生翳。或赤　。一切皆主之。宣州黃連搗篩末。蕤仁去皮研為膏。緣此性稍濕。末不得故耳。與黃連等分合和。取無蟲干棗二枚。割頭少許留之。去卻核。以二物滿填於中。卻取所割下棗頭。依前合定。以小綿裹之。惟薄綿為佳。以大茶碗量水半碗。於銀器中。文武火煎取一雞子。以來。以綿濾。待冷點眼。萬萬不失。前後試驗數十人皆應。今醫家亦多用得效。故附之。</p>
<p><u>藿香</u></p>
<p>　微溫療風。</p>
<p><u>乳香</u></p>
<p>　微溫。日華子味辛熱。微毒。去惡風。</p>
<p><u>桑葉</u></p>
<p>　主除寒熱。日華子暖無毒。除風痛。春葉未開時。可作煎服。治一切風。經驗方。治青盲。此一法當依而用之。視物如膺鶻者有此效。正月八。二月八。三月六。四月四。五月五。六月六。七月七。八月二十。九月十二、十七。十月二十二。月晦。每遇上件神日。用桑柴灰合以煎湯。沃之於瓷器中。澄令極清。以藥稍熱洗之。如覺冷。即重湯煮令得所。不住手洗。遇上件日不得不洗。緣此神日本法也。</p>
<p><u>梔子</u></p>
<p>　味苦。寒。大寒無毒。療目熱赤痛。胃中熱氣。</p>
<p><u>麒麟竭</u></p>
<p>　味甘咸平有毒。小破積血。日華子。此藥性急。亦不可多使。</p>
<p><u>龍腦</u></p>
<p>　味辛苦微寒。一云溫平無毒。主明目。去目赤膚。海藥謹按陶弘景云。主內外障眼。又有蒼龍腦。用點眼則有傷。切宜擇用。</p>
<p><u>枳殼</u></p>
<p>　味苦酸。微寒無毒。止風痛。日華子。除風明目。及肺氣。食醫心鏡。用枳殼一兩。杵末。如茶法煎用。</p>
<p>明目。</p>
<p><u>秦皮</u></p>
<p>　味苦。微寒。大寒無毒。去風除熱。目中青翳白膜。可作湯洗目。藥性主明目。去肝中久熱。兩目赤腫疼痛。風不止淚。秦皮一升。水煎澄清。冷洗赤眼極效。外台秘要。治赤眼及睛上瘡。秦皮一兩。清水一升。於白碗內浸。春夏一食時以上。看碧色出。即以箸頭纏綿。仰臥。點所患眼。仍洗從大　中滿眼著。微痛不畏。良久三五飯間。</p>
<p>即側臥。瀝卻熱汁。每日十度。以上著不過兩日瘥。又治眼因赤瘥後翳暈。秦皮一兩。切。水一升五合。煮取七合。澄清漬目中。</p>
<p><u>沒藥</u></p>
<p>　味苦平無毒。主目中翳暈痛。膚赤。</p>
<p><u>五倍子</u></p>
<p>　味苦酸平無毒。療肺臟風。博濟方。治風毒上攻眼目。腫癢澀痛不可忍者。或上下瞼　赤爛。浮翳瘀肉侵睛。神效驅風散。五倍子一兩。蔓荊子一兩半。同杵末。每服二錢。水二盞。銅石器內煎及一盞。澄滓熱淋洗。留滓。二服又依前淋洗。大能明目去澀癢。</p>
<p><u>密蒙花</u></p>
<p>　味甘平。微寒無毒。主青盲。膚翳赤澀。眵多淚。消目中赤脈。及疳氣攻眼。</p>
<p><u>訶梨勒</u></p>
<p>　味苦溫無毒。圖經取其核。入白蜜研注目中。治風赤澀痛神效。</p>
<p><u>石南</u></p>
<p>　味辛苦中有毒。能逐諸風。</p>
<p><u>鉤藤</u></p>
<p>　微寒無毒。</p>
<p><u>突厥白</u></p>
<p>　味苦。</p>
<p><u>槐木</u></p>
<p>　千金方。療肝赤眼。取槐木枝如馬鞭大。長二尺作一段。齊頭。麻油一匙。置銅缽中。且使童子一人以其木研之。至瞑。令仰臥。以塗向眼　。日三度瘥。又方。明目黑發。取槐子於牛膽中漬陰乾。百日食後吞槐子一枚。</p>
<p>十日身輕。三十日白發黑。百日內通神。食醫心鏡明目方。嫩槐葉一斤。蒸如造炙肝。取葉研末。如茶法煎。呷之。</p>
<p><u>牡荊木</u></p>
<p>　肘後方。療目卒痛。燒荊木出黃汁。敷之。</p>
<p><u>雞舌香</u></p>
<p>　抱朴子用此香入黃連乳汁煎。治目中病。</p>
<p><u>苦竹</u></p>
<p>　孫真人食忌。治目中赤　痛如刺。不得開。肝實熱所致。或生障翳。苦竹瀝五合。黃連二分。綿裹入竹瀝內浸一宿。以點目中數度。令熱淚出。凡葉竹皆可煎湯飲之。蓋竹葉能生膽上膏。</p>
<h3>四‧人部</h3>
<p><u>凡二種</u></p>
<p><u>乳汁</u></p>
<p>　味甘平無毒。唐別錄。首生男乳。療目赤腫痛多淚。又取和雀屎去赤　肉。肘後方。療目熱生膚赤白膜。</p>
<p>取屎細直者。以人乳和敷自消爛盡。陳藏器。　眼睛和乳汁研滴目瞳子。能見云外物。又主目病。以象睛和乳汁滴目中。</p>
<p><u>懷孕婦人爪甲</u></p>
<p>　取研細末。置目中去障翳。</p>
<h3>五‧獸部</h3>
<p><u>凡十四種</u></p>
<p><u>麝香</u></p>
<p>　味辛溫無毒。療風毒。去目中膚翳。雷公。凡使麝香。並用子日開之。不用苦。細研篩用。孕婦不可服。</p>
<p><u>牛黃</u></p>
<p>　味苦平有小毒。孕婦不可服。</p>
<p><u>熊脂</u></p>
<p>　味甘。微寒溫無毒。日華子治風。療頭旋。</p>
<p><u>酥</u></p>
<p>　酸微寒。日華子。益心肺。陳藏器。堪用諸膏摩風腫。</p>
<p><u>牛膽</u></p>
<p>　味苦大寒。益目睛。藥性論，臘月牝牛膽。盛黑豆一百粒。後百日開取。食後夜間吞三七粒。鎮肝明目。</p>
<p>黑豆盛汁。不計多少。</p>
<p><u>牛肝</u></p>
<p>　主明目。</p>
<p><u>青羊膽</u></p>
<p>　主明目。藥性論。青羊肝服之明目。膽點眼。主赤障白膜風淚。食療治肝風虛熱。目赤暗痛。熱病後失明者。以青羊膽或子肝薄切。水浸。敷之極效。生子肝吞之尤妙。主目失明。取　肝一斤。去脂膜薄切。以未著水新瓦盆一口。揩令淨。鋪肝於盆中。置於炭火上爆。令脂汁盡。候極干。取決明子半升。蓼子一合。炒令香為末。和肝搗之為末。以白蜜漿下方寸匕。食後服之。日三。加至三匕止。不過三劑。目極明。一年服之妙。夜見文字並諸物。其羊即骨歷羊是也。當患眼痛澀。不能視物。及看日光並燈火光不得者。取熟羊頭眼睛中白珠子二枚。於細石上和棗汁研之。取如小麻子大。安眼睛上仰臥。日二夜二。不過三四度瘥。千金方治目赤及翳。羊眼睛暴干為末。敷兩目。又敷目KTKT　。青羊肝內銅器內煮。以面餅覆面上。上鑽兩孔如人眼。止以目向上熏之。肘後方。治目暗。熱病後失明。</p>
<p>以羊膽敷之。旦暮時各一敷之。梅師方。眼暗。黃昏不見物者。以青羊肝切。淡醋食之。煮亦佳。　羊角主青盲。明目癢氣風頭痛。</p>
<p><u>羚羊角</u></p>
<p>　味鹹苦。寒。微寒無毒。主明目。</p>
<p><u>犀角</u></p>
<p>　味苦酸鹹。寒無毒。療頭痛。日華子鎮肝明目。</p>
<p><u>虎睛</u></p>
<p>　日華子鎮心。</p>
<p><u>兔肝</u></p>
<p>　主目暗。孟詵。肝主明目。和決明子作丸服之。又主服丹石人上衝眼暗不見物。可生食之。一如服羊子肝法。日華子。肝明目。治頭旋眼痛。</p>
<p><u>豬肝</u></p>
<p>　方家多用之。外台秘要，療目盲豬膽一枚。微火上煎之。可丸如黍米大。內眼中食頃良。又翳如重者。</p>
<p>取豬膽白皮曝乾。合作小繩子如粗釵股大。火燒作灰。待冷。便以灰點翳上。不過三五度。</p>
<p><u>犬膽</u></p>
<p>　聖惠方治眼癢急赤澀。用犬膽汁注目中。食療上伏日采犬膽。以酒調服。明目。去眼中濃水。</p>
<p><u>馬齒</u></p>
<p>　劉涓子。主目有白翳息肉。取齒一大握。洗。和朴硝少許。杵。以絹裹安眼上。數易之。</p>
<h3>六‧禽部</h3>
<p><u>凡二種</u></p>
<p><u>白鵝膏、斑鳩</u></p>
<p>　味甘平無毒。主明目。</p>
<h3>七‧蟲魚部</h3>
<p><u>凡十七種</u></p>
<p><u>石蜜</u></p>
<p>　味甘平。微溫無毒。明目。葛氏方。目生珠管。以蜜塗目中。仰臥半日。乃可洗去。生蜜佳。</p>
<p><u>蜜蠟</u></p>
<p>　味甘微溫無毒。集驗方。治雀目如神。黃蠟不以多少。器內溶成汁。取出。入蛤粉相合得所。成球。</p>
<p>每用以刀子切下二錢。以豬肝二兩。批開摻藥在內。麻繩扎定。水一碗。同入銚子內煮熟。取出乘熱熏眼。至溫冷並肝食之。日二。以平安為度。</p>
<p><u>牡蠣</u></p>
<p>　味鹹平。微寒無毒。陶隱君。左顧者雄。故名牡蠣。</p>
<p><u>珍珠</u></p>
<p>　味寒無毒。粉點目中。主膚翳障膜。</p>
<p><u>石決明</u></p>
<p>　味鹹平無毒。主目障翳痛。青盲。日華子涼明目。殼磨翳障。亦名九孔螺也，圖經。殼大者如手。小者如三兩指。海人亦啖其肉。亦取其殼漬水洗眼。七孔者良。十孔者不佳。</p>
<p><u>鯉魚膽</u></p>
<p>　味苦寒無毒。主目熱赤痛，青盲明目。藥性論。目赤痛翳痛。食療。膽主除目中赤及熱痛。點之良。</p>
<p><u>蟬蛻</u></p>
<p>　味甘寒無毒。御藥院。治頭風目眩。為末飲湯下。</p>
<p><u>白僵蠶</u></p>
<p>　味鹹辛平無毒。日華子。治一切風病。</p>
<p><u>青魚膽</u></p>
<p>　味甘平。微寒無毒。主目暗。滴汁目中。</p>
<p><u>貝子</u></p>
<p>　味鹹平有毒。主明目。一名貝齒。千金方。點小兒黑花。眼翳澀痛。用貝齒一兩。作燒灰研如粉。入少龍腦點之妙。又去目翳。貝子十枚。燒灰細篩。取一大胡豆著翳上臥。如炊一石米久。乃滅。息肉者。加珍珠與貝齒等分。</p>
<p><u>蛇蛻</u></p>
<p>　味鹹甘平無毒。主明目。</p>
<p><u>蠍</u></p>
<p>　味甘辛有毒。療諸風。口眼　斜。</p>
<p><u>烏賊魚</u></p>
<p>　經驗方。治疳眼。取烏魚骨、牡蠣。等分為末。糊丸如皂角子大。每服用豬肝一具。藥一丸。清米泔內煮肝熟為度。和肝食。用煮肝泔水下三兩服。</p>
<p><u>蠐螬</u></p>
<p>　千金方。治稻麥芒入眼。取蠐螬。以新布覆目上。持蠐螬從布上摩之。其芒著布上。</p>
<p><u>蜘蛛</u></p>
<p>　外台秘要。治疣目。以蜘蛛網絲纏繞。自落。</p>
<p><u>田中螺</u></p>
<p>　藥性論。治肝熱。目赤腫痛。取田中螺大者七枚。淨洗。新汲水養去穢泥。重換水一升浸洗。仍旋取於干淨器中。著少鹽花於口上。承取自然汁。用點目。逐個如此。用了卻放卻之。百一方。治目痛累年。或三四十年。</p>
<p>方取生海螺一枚。螺口開。以黃連末內螺口中。令螺飲黃連汁。綿注取汁著　中。</p>
<p><u>白魚</u></p>
<p>　即衣魚是也。外台秘要。治目翳。白魚末。著少許於翳上。</p>
<h3>八‧果部</h3>
<p><u>凡一種</u></p>
<p><u>杏仁</u></p>
<p>　廣利方治眼築損　肉出。杏仁七枚去皮細嚼吐於掌中。及熱以綿裹箸頭。將點　肉上。不過四五度瘥。</p>
<p>左慈秘訣杏不用多食。令人目盲。千金方治頭面風眼　。鼻塞眼暗。冷淚。杏仁三升為末。水煮四五沸。洗頭令汁盡。</p>
<p>三度瘥。</p>
<h3>九‧米穀部</h3>
<p><u>凡二種</u></p>
<p><u>小麻油</u></p>
<p>　大寒無毒。主風氣。去頭浮風。千金方。治物落眼中。以清水研好墨點。</p>
<p><u>青　</u></p>
<p>　味甘寒無毒。主益氣補腦。久服耳目聰明。</p>
<h3>十‧菜部</h3>
<p><u>凡七種</u></p>
<p><u>蕪菁</u></p>
<p>　味苦溫無毒。子主明目。唐本北人又名蔓菁子。主目暗。千金方。常服明目。洞視肝腸。蕪菁子三升。</p>
<p>以苦酒三升煮令熟。日干篩末。以井花水服方寸匕。加至二三。日三服。</p>
<p><u>瓜蒂</u></p>
<p>　味苦寒有毒。日華子治腦寒。熱癰眼昏。</p>
<p><u>馬齒莧</u></p>
<p>　主目盲白翳。子明目。仙經用之。食醫心鏡。主青盲白翳。除邪氣。利大小腸。去寒熱。馬齒莧實大升。</p>
<p>搗為末。每一匙煮蔥豉粥和攪食之。煮粥及著米糝五味作羹亦得。</p>
<p><u>假蘇</u></p>
<p>　味辛溫無毒。主寒熱。唐本注。即菜中荊芥是也。陳者良。主血勞。風氣頭痛。頭旋眼眩。經驗方。產後中風。眼反折。四肢搐搦。下藥可立待應效。以如聖散。荊芥穗為末。酒服二錢匕。後方治一切風口眼偏斜。青荊芥一斤。青薄荷一斤。一處砂盆內研。生絹絞汁於瓷器內。看濃薄煎成膏。余滓三分去一分。漉滓不用。將二分滓日干為末。以膏和為丸如梧桐子大。每服二十丸。早至暮可三服。忌動風物。</p>
<p><u>蔥實</u></p>
<p>　味辛溫無毒。主明目。食醫心鏡理眼暗。補不足。蔥實大半升。為末。每度取一匙頭。水二升。煮取一升半。濾取滓。葺米煮粥食良。久食之。又搗蔥實丸蜜如梧桐子大。食後飲汁服一二十丸。日二三服。亦甚明目。</p>
<p><u>白　荷</u></p>
<p>　唐本注。治稻麥芒入眼中不出。以汁注眼中即出。</p>
<p><u>苦匏瓠</u></p>
<p>千金方。治眼暗。取七月七日苦苦瓠瓤白。絞取汁一合。以酢一升。古文錢七文和漬。微火煎之減半。</p>
<p>以沫內目　中。又去翳法。以石胡荽內鼻中。翳自落。亦名鵝不食草。</p>
<h2>附‧葆光道人眼科龍木集</h2>
<p>夫六識之中。以眼為上。稱為日月。喻以驪珠。記二兩下以玄黃。臟四氣而通膽。膽視故得身安。明達規矩。全軀莫貴乎斯。上士之人。自調五臟。而能養神之安。即使臟和。和則眼目清潔。時遇失養。治療易痊。縱有微　。容可驅遣。中士之人。猶能眼動靜。自曉節宜，設使氣厄。亦能除矣。下等之類。損益既昧。寒暄失宜。但有疾證。不能療矣。</p>
<p>遂有所傷者也。故致如目者。惟輕膜果裡水。水之性澄清。不奈纖埃。易致其損。皎潔瑩淨。無不鑒明。貴如寶珠。故曰明珠者。凡舉動瞻視。假借三光。設若外視昧則內視。昧則內視不明。內明則外視即耀。故眼五臟之中主也。瞳人及黑晴。腎之主也。白睛應肺。總管於肝。明孔遍通於五臟。氣若少亂。目生患也。五臟既安。何敢有損。是以枝病花衰。</p>
<p>根枯葉落。若內有所傷。則外生諸疾也。又曰。目者。精氣之余也。心之主。肝之管也。五臟之精。氣皆主於目。骨之精氣為瞳人。筋之精為白睛。肉之精為約束。是以筋血氣骨之精。為目瞳人共成也。夫憂愁思慮。皆會於心神。肝藏魂。</p>
<p>腎藏志。肝為中將。取決於膽。會氣於心。而主於目。目者。五臟之精氣也。五臟有病。皆形於目。目赤。則病在於心。</p>
<p>目白在肺。目青在肝。目黃在脾。目黑在腎。不可明者。病在胸中。氣失則目瞑。氣絕則目暗。肝氣通於目。肝氣和。</p>
<p>則色明。肝有病。則目奪精而眩。肝中寒。則目昏而瞳人痛。邪傷肝。則目青目黑。瞻視不明。肝有實熱。則眼痛如刺。</p>
<p>肝若虛寒。則目眩流涕。瞻視生花。肝若勞寒。則混而不欲開。肝氣不足。則目昏暗。迎風有淚。視物不明。然沖睛目皆赤痛。瘀肉生息。睛目黃。膽與肝合。膽虛。則陰邪所傷。目中生花。肝熱。則目中多赤痛淚出。肝不和。則昏而熱。</p>
<p>中風欲疼則淚出。文云肝久實熱。目赤澀痛息肉。故目者。五臟中氣所成也。又曰目中有五輪。夫五輪者。有風輪。有血輪。有氣輪。有水輪。有肉輪。乃應於五臟。隨氣所產也。肝之色青。其味酸。屬東方甲乙木也。旺於春。氣通於左目。屬甲為陽。右目屬乙為陰。肝主風。故曰風輪也。雖有其名。而形狀難曉。與水輪相輔之也。心之色赤。其味苦。</p>
<p>屬南方丙丁火也。旺於夏。心主血。故曰血輪也。血輪與肉輪相輔。赤黑色是也。此輪忌之針。脾之色黃。其味甘。屬中央戊己土。旺於四季。各一十八日。脾主肉。故曰肉輪也。肉輪在外。郁郁黃白金色也。白睛也。肺之色白。其味辛。</p>
<p>屬西方庚辛金也。旺於秋。故肺主氣。故曰氣輪也。在肉輪之下。隱而不顯也。腎之色黑。其味鹹。屬北方壬癸水也，旺於冬，故曰水輪也，水輪在四輪之內。為四輪之母。能以克明視萬物。故乃呼為瞳仁。肝臟有病。應於風輪。病則迎風有淚。視物煙生。夜退晝增。澀疼裹白。或青翳拂拂。似蠅聯之狀。此乃肺家之病也。宜治肺經。心臟有病。應於血輪。病則滿眼飛花兢起。散亂縱橫。　肉漸沿目睛。兩　淚淹赤爛。此心經之病也。脾臟有病。應於肉輪。病則瞼生肉。</p>
<p>瞳人有病。　亂澀疼。眼見飛花撩亂。文如毛髮縱橫。夜半即甚。黃昏日午增於早起。此脾經之病也。肺臟有病。應於氣輪，病則如云遮日。逡巡即漸分明。一如云影申花。或似飛蠅相趕。此乃肝經受病也。腎臟有病。應於水輪。病則滿眼黑花簇簇。霧氣昏昏。視一物如二物。睹太陽如底。此腎病也。宜治腎經。余皆仿此。且夫病有多端。其說非一。今將眼科不能言詳細。妄說多端。在夫精妙。一一具載於後。</p>
<h3>五輪歌</h3>
<p><u>風輪肝木</u></p>
<p>東方生木木生風。本臟於肝在兩中。飢飽不均生熱毒。睛疼有翳熱浸瞳。</p>
<p><u>血輪心火</u></p>
<p>心屬南方火丙丁。熱風流入臟中停。眼　兩頭生赤澀。遠視銅環似碎星。</p>
<p><u>肉輪脾土</u></p>
<p>脾屬中央土最尊。　肉攀睛起黑云。胞沿腫痛羞明澀。赤脈來侵障犯睛。</p>
<p><u>氣輪肺金</u></p>
<p>臟肺停流熱毒生。滿眸微覺滴乳輕。但將涼藥宣腸胃。免使昏昏滴血輪。</p>
<p><u>水輪腎水</u></p>
<p>腎臟元來受賊邪。上生兩眼內生花。分明蝴蝶交加舞。莫待朦朧似霧遮。</p>
<h3>八廓歌</h3>
<p><u>關泉廓</u></p>
<p>小腸之腑屬關泉。受病先從心膽傳。兩　多生熱淚癢。但調經脈自然痊。</p>
<p><u>養化廓</u></p>
<p>三焦有病肝中藏。冒暑沖風時犯光。涼膈邪猶留中宮。連投熱藥病難當。</p>
<p><u>抱陽廓</u></p>
<p>內抱真陽是命門。眼前花亂色難分。不能補腎調肝膽，赤脈交加熱有根。</p>
<p><u>傳道廓</u></p>
<p>道傳為士本經根。肺家壅滯熱風侵。太陽若順應須愈。病澀之時翳犯睛。</p>
<p><u>水穀廓</u></p>
<p>食氣傷脾在胃中。更加積熱兩相沖。胞沿漸腫侵睛赤。不解中宮熱不通。</p>
<p><u>津液廓</u></p>
<p>膀胱為水腎為元，冷熱相刑本截居。青赤翳來輪廓內。非憑妙手不能除。</p>
<p><u>清淨廓</u></p>
<p>視物依稀似霧中，似霧隱手障睛瞳。更加冷淚頻頻下。此是肝家虛冷攻。</p>
<p><u>會陰廓</u></p>
<p>腎中之病有因由。酒色氣多有帶憂。莫道睛疼無大咎。那堪障翳裹睛休。</p>
<p>夫眼者。乃天地之日月也。天地清淨。日月光明。天地昏瞑。日月薄蝕，經云。眼應於肝。旺在春三月。作魂神寶。</p>
<p>眼為戶牖所通。萬物無不睹之。好惡是非。自然分別。自少及長。疾病多般。皆是謀養有乖。致使眼目生患。凡人多食熱物。或食五辛。喜怒無時。淫欲不節。沖寒冒暑。坐濕當風。恣意喧呼。狂情啼叫。長夜不寐。天日無閑。極目視高。</p>
<p>凝神遠望。或久處煙火。或博戲經時。拈掇多年。雕鐫畫繡。燈下細書。月中讀書。皆能耗散精華。大能損目。更有馳騁田獵。冒涉霜雪。向日延風。晝夜不息。皆是損目之因。恣一時之快意。為目病之根源。所以疾生眼目，凡有養性之事。必須慎之。終身保息。自然無憂。永無眼目之患也。</p>
<h3>鉤割針鐮法</h3>
<p>夫眼之內。兩頭皆赤有息肉者。宜鉤起。以鈹針割取令盡。如未全盡。可再取之。以盡為度。或以鐮。或以細針以線穿。用口銜定線頭牽起。以鈹針折起，令離黑珠，向日割之。割了以火熨。令斷其勢。即不再生，不然則二三年仍前發動。生者黏睛不落。則云難療：須審細察之。絕濃者入水輪。即以細針篦子折起，勿使損掣瞳人。切須穩當。不得粗心大膽，瞳人前薄不易傷損。凡鉤割取。用針不得在旦，旦則腹空。即暈悶便倒，須用人扶頭，若有此疾。皆是虛弱之人。宜緩緩調理。但凡鉤針。不得一時促急取之。須自斟酌。漸次鐮脫遮。無暈悶之患也。若有赤脈　肉。宜針鐮也。</p>
<p>可看所患相應。大宜仔細。不可潦草便用此法。恐有侵睛腫疼之患。慎之慎之。</p>
<h3>論眼捷法</h3>
<p>夫眼之聖功莫大焉，且如眼生黑花者，如不患眼相似。何以辨之。切須仔細。看瞳人生黑角五六分者。乃真黑花也，此疾因損虛房室得之。若瞳人間微小生黑角氣。黑花也，因飢飽勞心得之。若熱花者。只白暈侵睛。可辨也。若眼中生翳者。從上生下者難治也。自下而上者亦易治。若頭尾生者亦可治也。大凡肉障之眼。宜仔細詳審緩看，瞳人間裡有白者。是肉障也。凡五風患候者。瞳人間盡是也。此證切須緩緩推詳。使患者復舊也。</p>
<h3>論眼昏花捷要</h3>
<p>且夫醫眼之法。最為多端。非則一體。不可以為輕慢。如患目昏不明。非有一狀。肝腎虛。而近視不快。脾虛。而見白花。氣虛。而瞻視茫茫。血虛。則飛蠅散亂。血冷。則瞳人開張。腎虛。則瞳人縮小。或不明者。氣不和也。黑花散亂者。乃精血虛也。更迎風淚不止者。或昏。是思慮傷也。膀胱損也。最宜用和血壯氣，切不可針鐮割點。只宜服收花平補之藥也。</p>
<h3>七十二問</h3>
<p>第一問。眼赤痛者何也。答曰。此乃五臟積毒於肝之外家。受邪熱。使血亂於肝經。故目赤而痛也。服局方八正散。</p>
<p><u>局方八正散方</u></p>
<p>車前子　瞿麥　扁蓄　滑石　甘草　梔子　木通　大黃（各等分）</p>
<p>上　咀。每服一兩。水二鐘。燈心七莖。煎至八分。去滓。食後溫服。</p>
<p>第二問。目赤而不痛者何也。答曰。此肝之實也。肝者血源。其候在目。血乃肝之實。血盛則流入四肢。血氣上衝。</p>
<p>流注於目。血侵於睛，睛受其血。故赤而不痛。宜用局方撥雲散。秘方順肝散、退赤散。如治目痛。熱淚流。昏澀腫脹，宜用秘方撥雲散方。</p>
<p><u>局方撥雲散方</u></p>
<p>羌活　防風　柴胡　甘草（各等分）</p>
<p>上為末。每服二錢。水一鐘半。煎至一鐘。臨臥薄荷菊花茶清湯下。亦得忌用藏鹽醬酢濕面炙爆。發熱動風等物。</p>
<p><u>秘方順肝散方</u></p>
<p>生地黃　當歸　大黃　栝蔞仁（各等分）</p>
<p>上為末。每服一錢。水一鐘調下。或用新汲水半鐘調下。</p>
<p><u>退赤散方</u></p>
<p>生地黃　木通　甘草　梔子（各等分）</p>
<p>上為細末。每服二錢。用竹葉湯調下。食後日進三服。</p>
<p><u>秘方撥雲散方</u></p>
<p>川芎　荊芥　薄荷　甘草　決明子　當歸　防風　熟地黃　木賊　旋覆花　大黃　石膏（各等分）</p>
<p>上為細末。每服二錢。食後用茶清調下。如目赤　肉侵睛者。用淡竹葉湯調下。</p>
<p>第三問。目赤者何也。答曰。此肝之虛也。肝生木。木生火。火發木滅。火屬心。赤灌大　，侵睛則腫。宜服秘傳黃丸、活血煎、當歸丸。</p>
<p><u>秘傳黃　丸方</u></p>
<p>黃　（蜜炙）　防風　茴香（炒）　白蒺藜（炒）　牡丹皮（各等分）</p>
<p>上為末。酒糊為丸如桐子大。每服三十丸。食後鹽湯下。或酒亦可。婦人用艾醋湯下。</p>
<p><u>活血煎方</u></p>
<p>當歸（一兩）　地黃　川芎　香白芷　羌活（各五錢）　乳香　沒藥（各一錢另研）</p>
<p>上為細末，煉蜜為丸桐子大。每服三十丸。薄荷荊芥湯下。或茶清亦可。</p>
<p><u>當歸丸方</u></p>
<p>　上方秘傳黃　丸內去黃　。加當歸。名當歸丸。</p>
<p>第四問。大　赤者何也。答曰，此心實也。五輪分布。大　屬心。心者。帝王南面之尊。其候在大　赤者。乃心實也。宜用三黃丸、菊花散。</p>
<p><u>三黃丸方</u></p>
<p>黃連（去皮）　黃芩（去蘆）　大黃（各等分）</p>
<p>上為細末。煉蜜為丸如桐子大。每服三十丸。熱水送下。如臟壅實。加栝蔞。小兒積。宜可服之。</p>
<p><u>菊花散方</u></p>
<p>白蒺藜（炒）　羌活（去蘆）　木賊（去節）　蟬蛻（三兩去頭足）　菊花（六兩去梗）</p>
<p>上　咀。每服三錢。食後臨臥茶清調下。常服清利頭目。洗肝去風。忌發風淹炙爆等物。</p>
<p>第五問。小　赤者何也。答曰。此心之虛也。心者。五臟六腑之宗。上應榮衛。其屬南方之位。五行生殺。火生土。</p>
<p>土實則火虛。小　赤者。心之虛也。宜服茯苓散、定光朱砂膏。</p>
<p><u>茯苓散方</u></p>
<p>白附子　玄參（各五錢）　白茯苓（七錢五分）　川續斷　白僵蠶（各一兩）</p>
<p>上　咀。每服三錢。水一鐘半。煎至半鐘。去渣溫服。</p>
<p><u>定光朱砂膏</u></p>
<p>滑石（水飛）　沙蜜（各五錢）　朱砂　片腦上為極細末，煎蜜作膏。每用銅箸點大小　內立效。</p>
<p>第六問，目睛多淚出者何也。答曰。此乃肺之實也。肺乃西方庚辛金也。金生水。水發則流注。金屬肺經。則其色白。五輪八廓經曰。淚本肺之精華。目出眵而硬者。肺之實也。宜用秘方瀉肺湯。</p>
<p><u>瀉肺湯方</u></p>
<p>桑白皮　地骨皮　甘草（各等分）</p>
<p>上　咀。每服一兩。水一鐘半。煎至一鐘。食後服。</p>
<p>第七問。怕日羞明者何也。答曰。此脾之實也。脾屬土。土生濕氣。氣結傳肺。肺受脾邪。上騰於目。目受脾之濕氣。脾主肌。內熱難開。屬太陽。真氣騰其上。土濕稍勝。精華澀結。不榮於目。宜用秘方密蒙花散、千裡光湯、局方羊肝丸。</p>
<p><u>千裡光湯方</u></p>
<p>千裡光（即石決明）　海金沙　甘草　菊花（分兩同）</p>
<p>上　咀。每服八錢。水一鐘半。煎至一鐘。去渣食後溫服。</p>
<p><u>秘方密蒙花散方</u></p>
<p>石決明（　）　木賊　枸杞子　白蒺藜　青葙子　羌活　菊花　蔓荊子（各等分）</p>
<p>上　咀。每服一兩。水二鐘。煎至一鐘。去渣食後溫服。</p>
<p><u>局方羊肝丸</u></p>
<p>白羊肝一具（淨洗去膜）　黃連（細羅）</p>
<p>上將羊肝先安盆內。研爛。旋旋入黃連末拌勻得所。為丸如桐子大。每服四十丸。食後溫漿水下。連作五劑。諸般眼疾。障翳青盲皆主之。禁食豬肉及冷水。</p>
<p>第八問。視物不明者何也。答曰。此脾臟虛也。目輪屬五臟。青黃白黑也。黃輪屬脾。即揭睛是也。目本應其色青。</p>
<p>屬木。脾土被肝木所克。青黃相爭。不青不黃。目睛雜色。而視物不明也。宜服秘方蒼朮湯、千裡光湯（方見前）。</p>
<p><u>秘方蒼朮湯方</u></p>
<p>蒼朮　玄參　甘草　遠志　茺蔚子（各等分）</p>
<p>上　咀。每服五錢。水一鐘半。煎至一鐘。秦皮一片。食後溫服。渣再煎。</p>
<p>第九問，眼常見黑花如繩牽者何也。答曰。此腎臟之實也。腎屬水。其應北方黑色。乃肝之母。母實。肝腎之邪傷於經，膽者目之經。神水之源。腎邪入目。時復落落蠅羽者。腎之實也。宜用秘方豬苓湯，苦參湯。</p>
<p><u>秘方豬苓湯方</u></p>
<p>豬苓　木通　梔子　大黃　金毛狗脊　蓄（各等分）</p>
<p>上　咀。每服五錢。水一鐘半。煎至一鐘。去渣溫服。無時。</p>
<p><u>苦參湯方</u></p>
<p>苦參　地骨皮（各半兩）　丹參（三錢）　乳香（三錢另研）</p>
<p>上　咀。每服五錢。水一鐘半。煎至一鐘。去渣溫服。無時。</p>
<p>第十問。迎風有淚者何也。答曰，此腎家虛也。五輪曰黑睛屬腎。肝屬木。木生風。腎屬水，水枯不能滋木。故迎風有淚。腎之虛也。用石燕子散、艾煎丸、蠶沙湯。服此藥一止其淚。大有神效。</p>
<p><u>石燕子散方</u></p>
<p>石燕子（一雙　醋淬十次）　玳瑁　羚羊角（各一兩）　犀角（五錢）</p>
<p>上為末。用好酒薄荷湯或茶清。食後調下。</p>
<p><u>艾煎丸方</u></p>
<p>艾葉（醋炒）　肉蓯蓉　川牛膝（酒浸）　甘草　桑葉（向東者用）　山藥　牛膝（炒）　當歸（各等分）</p>
<p>上為末極細。煉蜜為丸如桐子大。每服十丸。茶清調下。</p>
<p><u>蠶沙湯方</u></p>
<p>蠶沙（四兩炒）　巴戟（去皮）　川楝肉　馬藺花（各二兩去梗）</p>
<p>上為細末。每服二錢。無灰酒。不拘時候調下。</p>
<p>第十一問，目中紅筋附睛者何也。答曰。此乃心之肝也，心屬火。火主血。肝屬木。木主筋。血侵於筋者。肝之候。</p>
<p>血者肝之源。傳入目。漸灌瞳人。故曰侵睛也。宜服當歸散主之。</p>
<p><u>當歸散</u></p>
<p>當歸　防風苗（炮）　蒺藜（炒）　牡丹皮（各等分）</p>
<p>上為末。每服二錢。生蔥薄荷茶清調下。或作　咀。煎服亦可。</p>
<p>第十二問。白膜遮睛者何也。答曰。此乃肺克肝也。肝屬木。肺屬金。金能克木。金色白。風邪肺克肝也。甚則火旺。白輪勝者。輪在睛上。復即灌交。是母子相刑。五花白膜遮睛。故金克木。宜用秘方連翹散、蟬花散、密蒙花散（方在七問下）。</p>
<p><u>秘方連翹散方</u></p>
<p>連翹　梔子　甘草　朴硝　黃芩　薄荷（各等分）</p>
<p>上為末。每服三錢。茶清調下。無根水亦可。</p>
<p><u>秘方蟬花散方</u></p>
<p>蟬花（一兩）　菊花（四兩）　白蒺藜（二兩）</p>
<p>上為末。每服三錢。清水調下。</p>
<p>第十三問。目中迎風受癢者何也。答曰。肝邪自傳。肝屬木。風動即癢也。宜用秘方二處膏、局方明目地黃丸。</p>
<p><u>秘方二處膏</u></p>
<p>　將田螺養開。掩入黃連末。焙乾為末。入腦、麝二味各少許。綿裹泡水洗眼。</p>
<p><u>明目地黃丸</u></p>
<p>生地黃（洗）　熟地黃（各一兩）　牛膝（三兩各浸）　石斛　枳殼（炒）　防風（各四兩）　杏仁（二兩去皮尖火炒黃細研去油）</p>
<p>上為細末。煉蜜為丸如桐子大。每服三十丸。空心溫水下。或米湯下。忌一切風動諸物。</p>
<p>第十四問，目中常早晨昏者何也。答曰。此乃頭風攻衝於頭。目者太陽之首。肝臟為陽。氣旺故使頭風攻注於目。</p>
<p>宜服局方芎菊散、白蒺藜散、石膏散。</p>
<p><u>局方芎菊散方</u></p>
<p>川芎　菊花　甘草（各一兩）　薄荷（二兩）　防風（七錢半）　白芷（五錢）</p>
<p>上為末。每服三錢。食後茶清下。傷風頭眩。用無根水調下尤速。</p>
<p><u>白蒺藜散方</u></p>
<p>白蒺藜　細辛　蓄　白芷　□香（各等分）</p>
<p>上為細末。每服一錢。米湯調下。或溫酒亦可。食後日進三服。</p>
<p><u>石膏散方</u></p>
<p>石膏　石決明（　）　荊芥　白芷　川芎　防風　旋覆花（各等分）</p>
<p>上為細末。每服一錢。食後薄荷生蔥茶清調下。日進三服。</p>
<p>第十五問。常目中昏者何也。答曰。乃痰之所作也，在巳午時。真陽之氣火勝。心勝肺。肺壅痰災。時復渾渾而昏也。宜用局方辰砂化痰丸、局方玉壺丸。</p>
<p><u>局方辰砂化痰丸方</u></p>
<p>枯白礬　辰砂（五錢）　南星（一兩炮）　半夏（一兩）</p>
<p>上將白礬、半夏、南星為末，和勻。生薑汁煮面糊。為丸桐子大。每服十丸。食後薑湯下。仍用朱砂為衣。亦治小兒風壅痰嗽。一歲服一丸。搗碎。用薄荷生薑調下。</p>
<p><u>局方玉壺丸散</u></p>
<p>南星　半夏　天麻（各五錢）　重羅白面（三兩）</p>
<p>上為細末。滴水為丸。如桐子大。每服三十丸。水一鐘。煎沸令下藥煮五七滾。候藥浮。漉出。別用生薑下。</p>
<p>不拘時。</p>
<p>第十六問。目常暮昏者何也。答曰。此腦者天真。萬物行於陽道。不行陰道。至申酉戌時。寒氣欲生。腦損則風寒所致。目中微昏不真。到晚宜衣。灸風火穴。</p>
<p>第十七問。目夜間昏者何也。答曰。此陰毒腎盛也。經云。陰好靜。陽好動。血散漫而不行陰道。寒邪克之。致使寒氣太盛。寒氣者屬陰。旺在申時。乃一陽之氣生。故夜痛目昏。宜用六問瀉肝湯。九問內苦參湯。</p>
<p>第十八問。目中浮翳遮睛者何也。答曰。此乃肺經大熱。肺者西方庚辛金。其色白。肺者氣之源。氣盛則熱。血盛則寒。肺之熱氣灌注瞳人木之氣。白膜者肺之苗。根盛苗盛。白膜遮者。肺經熱也。宜用二問順肝散。四問局方三黃丸。</p>
<p>六問瀉肺湯。</p>
<p>第十九問。旋螺突睛者何也。答曰。此睛損也。目者。五臟之源六腑之宗。臟腑積熱。外發於肝臟。肝臟更衰。而發瘡癤。膿血結硬。其睛突也。宜用秘方琥珀膏、救睛丸。</p>
<p><u>秘方琥珀膏方</u></p>
<p>（一名立蛻散、一名定志丸）</p>
<p>人參（二錢）　石菖蒲（炮）　天門冬（去心）　遠志（去心）　預知子（各一兩）　白茯苓　麥門冬（各一兩去心）</p>
<p>上為細末。煉蜜為丸如桐子大。每服十丸。朱砂為衣。茶清下或水亦可。</p>
<p><u>救睛丸方</u></p>
<p>梔子　薄荷葉　赤芍藥　枸杞子（各二兩）　蒼朮（三兩）</p>
<p>上為末。酒糊為丸如桐子大。每服三十丸，井花水送下。或茶清下亦可。年壯之人可服。如是年老之人。可於前方內。加茯苓三兩尤妙。</p>
<p>第二十問。目睛倒出者何也。答曰。臟之損也。眼應五行。青黃赤白黑。內應心肝脾肺腎。五臟者目宗源。睛深枯入者。五臟損也。宜服前秘方琥珀膏（方見十九問下）。</p>
<p>第二十一問。青膜遮睛者何也。答曰。此病證是外障也。目神為水之源。精華之腑。五臟蘊積，攻衝外發於目。目屬肝。其色青。宜用蟬花散（方見十二問下）、順肝散（方見二問下）、秘方洗肝散、許學士方。</p>
<p><u>秘方洗肝散方</u></p>
<p>熟地黃　大黃　梔子　當歸　甘草　干葛（各五錢）　赤芍藥　甘松　黃芩（各三兩）</p>
<p>上為細末。每服三錢。米泔調下。</p>
<p><u>許學士方</u></p>
<p>大黃　芍藥　石決明（　）　黃芩　人參　梔子　甘草（各等分）</p>
<p>上為細末。每服三錢。食後清水調下。</p>
<p>第二十二問。瞳人倒者何也。答曰：此病多是內障病。五行應變。應變升為氣。氣血皆衰。榮衛凝滯，不得榮於目也。宜用救睛丸（方見十九問下）。活血煎（方見三問下）、秘方琥珀膏（方見十九問下）、秘方生犀角丸、生犀升麻湯。</p>
<p><u>秘方生犀角丸方</u></p>
<p>犀角　麻黃　防風　石決明　當歸　楮實子　枸杞子（各等分）</p>
<p>上為細末。面糊為丸如桐子大，每服三十丸。茶清下。小兒量大小。加減丸數。</p>
<p><u>生犀升麻湯方</u></p>
<p>犀角（一兩一線）　川升麻　防風　白附子　白芷　黃芩（各五錢）　甘草（一錢）</p>
<p>上　咀。每服三錢。水一鐘半。煎至一半鐘。去渣再煎：日進三服在食後。</p>
<p>第二十三問。頭暈眼見赤亂星亂者何也。答曰。此乃血衰也。血者心經也。周流百脈於六陽之首。陽經不行。故目昏也。宜用活血煎、（方見三問下）地黃丸、石膏散（方見十四問下）。此方按素問云。久血傷血。血主肝。故謹書傷肝主目昏。肝傷則自生風。熱氣上湊。目故昏也，此藥大能養血明目。其功不可盡述。</p>
<p><u>地黃丸</u></p>
<p>（系許學士方）</p>
<p>熟地黃（兩半）　決明子　黃連（各一兩）　黃芩　防風　桂心　沒藥　羌活　朱砂（各五錢）　菊花（五錢去根）</p>
<p>上為細末。煉蜜為丸如桐子大。每服三十丸。熱水下。</p>
<p>第二十四問。目不疼不癢而赤昏者何也。答曰。此血聚也。經云。榮屬陽。衛屬陰。陰好靜。陽好動。血氣流行。</p>
<p>氣乃升降。榮衛通矣。血聚則成癰疽。血滯則麻而不癢不痛。宜用蟬花散。（方見十二問下）、順肝散（方見二問下）、秘方勻氣散。</p>
<p><u>秘方勻氣散方</u></p>
<p>香附子（炒）　甘草　蒼朮　茴香（各一兩）</p>
<p>上為細末。每服三錢。鹽湯調下。</p>
<p>第二十五問。目赤而不熱痛者何也。答曰。此血實也。經屬陽。絡屬陰。經主氣。絡主血。氣盛則壅。血盛則肝實也。應於目。故赤而不熱痛。血實也。宜服當歸散（方見十一問下）。</p>
<p>第二十六問。血侵睛者何也。答曰。此肝經虛熱也。肝之外候。津液之府。道路宗脈之所聚也。邪熱法於肝經，虛則血流。走於兩目。故赤而侵睛也。宜用連翹散（方見十二問下）、順肝散（方見二問下）、秘傳鬱金散。</p>
<p><u>秘傳鬱金散方</u></p>
<p>鬱金　大黃　朴硝（等分）</p>
<p>上三味為末。用桃條、生地黃自然汁調服。點瞳人。</p>
<p>第二十七問。目久昏如物遮者何也。答曰。此為實也。榮主血。衛主氣。上為天。下為地。內經曰。清氣為天。濁氣為地。清陽走腠理。濁陰走五臟。五臟者。應於心肝脾肺腎也。受衛之氣。流於兩目。故昏如物遮睛者。用豬苓湯（方見十九問下）、連翹散（方見十二問下）。</p>
<p>第二十八問。目痛而憎寒者何也。答曰。此為虛也。衛為陰而無陽。榮為陽而無陰。經曰。榮者肝之司。衛者腎之府。腎屬北方。水為邪乘。一府榮邪。痛而憎寒也。用秘方蟹黃散。</p>
<p><u>秘方蟹黃散方</u></p>
<p>黃連　黃芩　蒲黃　鬱金　梔子　秦皮　當歸　滑石　白僵蠶　五倍子　薄荷　白杏仁（各五錢）　銅綠（一錢）</p>
<p>杏仁（洗七枚去皮尖別研）</p>
<p>上　咀。每服三錢。水一鐘半。煎至一鐘。頻頻暖洗。如冷再暖。無時洗。</p>
<p>第二十九問。目痛而身熱者何也。答曰。榮之實也。榮屬陽而能發熱。衛屬陰而能發寒。榮衛乃陰陽之道路。在上屬心。在下屬肝與腎。目痛而身熱在心也。少陰君火之化。宜用秘方洗心散、菊花散。</p>
<p><u>秘方洗心散</u></p>
<p>荊芥　甘草　菊花　大黃　當歸　芍藥（各等分）</p>
<p>上　咀。每服三錢。水一鐘半。煎至一鐘。食後生薑薄荷少許同煎。去渣溫服。</p>
<p><u>秘方菊花散</u></p>
<p>菊花　甘草　防風　荊芥　蟬蛻　大黃　石決明（各等分　）</p>
<p>上七味為細末。每服三錢。水一鐘調服。茶亦可。食後臥時服。</p>
<p>第三十問。目乍暗者何也。答曰。此乃榮衛俱虛也。榮衛者。陰陽之道路。心肝之宗源。榮衛流，則血氣行。榮衛相爭而不及衛也。故目時復乍明乍暗。宜用活血煎（方見三問下）、艾煎丸（方見十問下）。</p>
<p>第三十一問。目患左赤而傳右者何也。答曰。此乃陽經太旺也。陰中之陽心也。陽中之陰肝也。心中邪熱。蘊積於肝。肝交於心。邪傳本源也。左目屬太陽。右目屬太陰。此乃太陽經之旺也。宜用洗心散（方見二十九問下）、三黃丸（方見四問下）。</p>
<p>第三十二問。目患右赤而傳左者何也。答曰。此陽經太旺也。目有陽絡有陽經。有陰絡有陰經。陰經屬血。如目赤右傳之於左。乃肝經邪熱。經脈太旺也。宜用瀉肺湯（方見六問下）。退赤散（方見二問下）。</p>
<p>第三十三問。目患左右相傳者何也。答曰。此乃血之邪氣攻衝。肺臟不足。為風邪所使。熱氣相爭也。宜用密蒙花散（方見七問下）、秘傳珍珠膏。</p>
<p><u>秘傳珍珠膏方</u></p>
<p>蒼朮（三兩）　穀精草　甘草　木賊　川芎　荊芥　草決明　楮實子　羌活（各等分）　蟬蛻（一個）</p>
<p>上為末。煉蜜為丸桐子大。每服十丸。茶清送下。</p>
<p>第三十四問。目赤而癢澀者何也。答曰。此風邪攻衝也。肝者厥陰之經。而風邪內外相攻，風熱相傳。氣血痞澀。</p>
<p>時復氣邪相動。是作癢且澀。宜用二處膏（方見十三問下）。</p>
<p>第三十五問。目之兩瞼赤爛者何也。答曰。此乃風濕氣使之也。目者精華之宮。魂魄之所聚，血脈之源。陰陽之首。</p>
<p>經絡之源。風邪客於腠理。濕氣相爭。停於兩瞼。目時赤爛。濕之故也。宜用洗心散（方見二十九問下）、艾煎丸（方見十問下）、二處膏（方見十三問下）。</p>
<p>第三十六問。目晴通黃者何也。答曰。此乃酒之毒也。或渴之時。飲酒如漿。或好酒侵入四肢。隨入經絡。流注往來上下。致使血潮於目。酒之濕熱流注於目。使目俱黃也。宜用局方三黃丸（方見四問下）。</p>
<p>第三十七問。目不能遠視者何也。答曰。此乃榮傷於五臟六腑之間。目者肝之外使。風邪客之。使精華之府衰弱。</p>
<p>肝氣不足。則不能遠視也。宜用蟬花散（方見十二問下）、羊肝丸（方見七問下）。</p>
<p>第三十八問。目患每年常發者何也。答曰。此證隨天地同。少陽旺復得甲子。陽明旺復得甲子。太陽旺復得甲子。</p>
<p>太陰旺復得甲子。六十日。三百六十日。其氣一周。今太陽受病。復得來年六十日而當發。宜令瀉之。如太陽受病。只瀉太陽經膀胱是也。</p>
<p>第三十九問。目中拳毛倒睫者何也。答曰。脾之損也。脾之主肌肉。肌肉消瘦。則飲食不能進。外感風邪。克於腠理。故毒生於目也。宜用局方省風湯、豬苓湯（方見九問下）。</p>
<p><u>局方省風湯方</u></p>
<p>防風（去苗）　南星（各四兩生用）　半夏（白好者生用浸洗之）　甘草　黃芩（各二兩）</p>
<p>上　咀。每服四錢。水二鐘。生薑十片。煎至一鐘。去渣溫服。不拘時服。</p>
<p>第四十問。目中漏睛膿出何也。答曰。此乃五臟冷熱相攻。腎敗也。宜服寶光散。</p>
<p><u>寶光散方</u></p>
<p>大黃　龍膽　赤芍藥　川芎　白芷　牛蒡子　防風　防己黃芩　當歸　甘草　梔子　生地黃　細辛　羌活　荊芥（各等分）</p>
<p>上　咀。用水一鐘半。煎至一鐘。去渣食後溫服。</p>
<p>第四十一問。目中　肉侵睛者何也。答曰。此脾之實也。脾者倉廩之官。肌肉之府。毒瓦斯攻衝。風邪之氣衝肺。肺受脾邪。傳之於目。故　肉侵睛也。宜用羊肝丸（方見七問下）、三黃丸（方見四問下）、撥雲散（方見二問下）、局方紫金膏。</p>
<p><u>局方紫金膏方</u></p>
<p>朱砂（另研）　乳香（另研）　硼砂（另研）　赤芍藥　當歸（各二兩洗）　雄黃（二錢水飛）　麝香（半兩另研）</p>
<p>黃連（五錢）</p>
<p>上為細末。入研藥內拌勻。再擂。煉蜜為丸皂角子大。每用一丸。安於淨盞內。沸湯泡開。於無風處洗眼。藥冷閉目少時。候三兩時再煨令熱。依前洗之。一帖可洗三五次。不可犯銅鐵器內洗。如暴赤眼及瞳者。不可洗之。</p>
<p>第四十二問。目數赤點者何也。答曰。風邪傷肝。主風目胡則傷目昏赤肌肉虛熱則邪氣肝之故目病積年不瘥也。用宜省風湯（方見四問下）、活血煎（方見三問下）、牡丹煎丸。</p>
<p><u>牡丹煎丸方</u></p>
<p>延胡索　砂仁（各半兩）　赤芍藥　牡丹皮（各一兩）　山茱萸　乾薑（各半兩炮）　龍骨（細研）　熟地黃（酒浸）　檳榔　羌活（各三兩）　五味子　人參　白芷　當歸（酒浸）　干山藥　肉桂（去皮）　白茯苓　白朮本　附子（炮去皮臍）　木香　牛膝（酒浸）　蓽茇（各一兩水泡）　石斛（三兩酒浸）</p>
<p>上為細末。煉蜜為丸如桐子大。每服二十丸。溫酒或醋湯空心下。日進三服。孕婦不可服。</p>
<p>第四十三問。兩眼非時腫赤者何也，答曰。此風腫也。目乃肝之候。肝虛不足。冷熱相爭。邪主於目及瞼。結而邪熱不散。因風而發。眼腫故也。宜用洗肝散（方見二十一問下）、秘方犀角消毒飲子。</p>
<p><u>秘方犀角消毒飲方</u></p>
<p>防風　荊芥穗　鼠黏子　甘草（各等分）</p>
<p>上　咀。每服三錢。水一盞。煎至七分，去渣溫服。不拘時候。</p>
<p>第四十四問。眼珠脫出者何也。答曰。此臟腑陰陽不和也。目者陰陽之精。魂魄之宗。肝之候。陰陽不和。蘊積生熱痰飲。五臟之中攻衝於目。故使眼疼甚，則珠脫出者。宜用救睛丸（方見十九問下）。</p>
<p>第四十五問。目常見黑花者何也。答曰。肝虛之故也。目者肝之候。臟腑之精華。氣血津液之宗。氣血不足。虛不能榮於神。目常昏暗。時時見如黑綿羊胎毛。宜服羊肝丸（方見七問下）。</p>
<p>第四十六問。目中瘀肉血潮於睛者何也。答曰。此厥陰旺也。肝之脈。起於大指聚毛之際云云。肝上連目系。本經血氣大旺。風熱攻盛。或赤或白。或往或來。皆於血所使也。宜用退赤散（方見二問下）、椒紅丸。</p>
<p><u>椒紅丸方</u></p>
<p>沉香　莪朮　訶黎勒（去核）　椒紅（微炒去汗）　丁香　高良薑　麻油（各五錢炒）　附子（炮去皮）　當歸（酒浸）　白朮（各一兩）　麝香　肉豆蔻（炮各一錢）</p>
<p>上為細末。入麝香令勻。酒煮糊為丸如桐子大。每服三十丸。溫酒下無時。</p>
<p>第四十七問。目澀者何也。答曰。此乃動臟腑也。或啼哭泣出太過。冷淚不止。液通開而不閉。液道枯干。臟腑邪熱傳於衛。真氣不榮於目。故目澀也。依用羊肝丸（方見七問下）、三黃丸（方見四問下）、二處膏（方見十三問下）。</p>
<p>第四十八問。凡大病後。目昏昏者何也。答曰，五臟不調。陰陽之閉塞。血氣不牢。神光則落落昏潰。乃血氣虛極也。宜用黃　丸（方見三問下）。</p>
<p>第四十九問，陽毒病後目微昏者何也。答曰。下元極虛也。五臟為陰，六腑為陽。六經宣利。即臟腑虛弱。脾胃不和，肌肉未復。勞動血氣。肝臟虛弱。肝氣內虛，以攻雙目微昏也。宜用黃　丸（方見三問下）、椒紅丸（方見四十六問下）、秘方柴胡湯。</p>
<p><u>秘方柴胡湯方</u></p>
<p>柴胡　胡黃連　黃連　厚朴　半夏（各等分）</p>
<p>上為末。每服二錢。水一鐘半。煎至一鐘。食後服。</p>
<p>第五十問。陰毒病後目微昏者何也。答曰。或服毒熱藥。或針或灸。火氣　痛。風邪沖擊。新病後起早。肝氣大盛。</p>
<p>風火相並。故目昏也。宜用三黃丸（方見四問下）、菊花散（方見四問下）。</p>
<p>第五十一問。遇水目昏者何也。答曰。此冷氣攻肝。水者先入兩足令腫也。而足經足經少陰腎之井穴名曰涌泉。</p>
<p>乃腎經所起。水入膀胱。真榮被傷。上攻於肝。水氣侵及於足。邪氣攻衝。故目昏也。宜用豬苓湯（方見九問下）、艾煎丸（方見十問下）。</p>
<p>第五十二問。孕婦目昏者何也。答曰。此血氣之候。妊孕少血氣。胎氣不榮於肝。肝氣不足。故昏也。宜用椒紅丸（方見四十六問下）、牡丹煎丸（方見四十二問下）、羊肝丸（方見七問下）。</p>
<p>第五十三問。婦人產後目睛昏者何也。</p>
<p>答曰。此乃五臟之虛也。婦人妊孕時。當出血一斗三升。肌肉氣寬緩。骨節筋脈其神氣已虛。五臟不牢。六腑未安。自賴五臟六腑為根。根乏則苗衰。故目昏也。宜用椒紅丸（方見四十六問下）、菊花散（方見二十九問下）、活血煎（方見三問下）。</p>
<p>第五十四問。初生小兒未經兩月目爛者何也。答曰。此胎熱也。小兒初生之時。浴湯已冷。穢濁浴之未盡。拭之未干。兩月胞瞼之間。感於外風。以致赤爛也。宜用連翹散（方見十二問下）。</p>
<p>第五十五問。小兒出瘡疹。初發於目中者何也。答曰。子在母腹中。飲其血氣。其胎胞穢濁。以生故發瘡於目。宜用犀角消毒飲（方見四十三問下）、密蒙花散（方見七問下）。</p>
<p>第五十六問。小兒眼中生白者何也。答曰。此肺壅痰實熱。熱傷於肝。肝屬於木。木者清秀之物也。痰實熱氣攻衝。</p>
<p>灌注瞳人。瞳人損動。黑睛白交。散漫於兩間為障也。宜用救睛丸（方見十九問下）、柴胡湯（方見四十九問下）、順肝散（方見二問下）、琥珀膏（方見十九問下）。</p>
<p>第五十七問。小兒睛生翳障者何也。答曰。臟腑之間。精華之氣。小兒純陽。感於風熱。內有熱痰。散於肝經。沖攻於目。</p>
<p>故以交變。變生翳障。宜用蟬花散（方見十二問下）、菊花散（方見二十九問下）。</p>
<p>第五十八問。小兒雀目者何也。答曰。小兒蘊積於熱，風邪客於肝經。肝血凝滯不散。陰陽不和。榮衛不通。使目夜昏。有如雀目也。宜用三黃丸（方見四問下）、復明散。</p>
<p><u>復明散方</u></p>
<p>蒼朮（一兩去皮）　穀精草（一兩）　地膚子　決明子　黃芩（各半兩）</p>
<p>上　咀。每服五錢。入荊芥少許。水一盞。煎至七分。去渣。食後服。</p>
<p>第五十九問。小兒目患青盲者何也。答曰。臟腑虛弱也。因傷冷物至極。氣不能宣通。赤而不痛。全無障翳。致使白日視物不見也。宜用蟹黃散（方見二十八問下）、菊花散（方見二十九問下）、犀角消毒飲（方見四十三問下）。</p>
<p>第六十問。目中生瘡者何也。答曰。此風邪客於腠理。風血散傳。蓋因浴洗之時。拭之未干。穢污侵潰。受風即發如粟米之狀。連眶赤爛。遂成瘡疾。名宿　風。宜用省風湯（方見三十九問下）、局方三白散。</p>
<p><u>局方三白散方</u></p>
<p>白牽牛（二兩）　桑白皮（微炒）　木通　陳皮（各半兩去白）</p>
<p>上為細末。每服三錢。空心煎生薑湯調下。</p>
<p>第六十一問。目患瞼生粟者何也。答曰。脾肺受邪也。脾者肌肉之府。腑者皮毛之源。邪氣相搏。肝經虛弱。風盛。</p>
<p>即發於兩目瞼之間。狀如粟米之形。遂成此症也。宜用省風湯（方見三十九問下）。</p>
<p>第六十二問。目患青盲翳者何也。答曰。肝乃木之原。津液之道路。五臟風熱甚。發於目瞼如粟米之狀。是以如此也。宜用省風湯（方見三十九問下）。</p>
<p>第六十三問。患瞑目之疾者何也。答曰。瞑者流也。風邪客於目則昏，精液不足。目　常散癢。冷淚不絕。遂成瞑目也。宜用當歸散（方見十一問下）、艾煎丸（方見十問下）。</p>
<p>第六十四問。目常膿漏者何也。答曰。目者五臟之宗。六腑之華。津液之道。風邪客於兩目。冷淚相攻，瞳人內損。</p>
<p>故成此患。宜用救睛丸、琥珀膏（方俱見十九問下）。</p>
<p>第六十五問。婦人目生偏視者何也。答曰。此是陰陽之邪氣攻衝。發於目內。臟腑偏衰。陰陽不和。或一日二日見。</p>
<p>宜用救睛丸（方見十九問下）。</p>
<p>第六十六問。目生得大小不均者何也。答曰。目者臟腑之精華，血脈之宗源。風邪客於目。沖於經絡。肌肉痞澀。</p>
<p>血氣凝滯。故使兩目大小不勻。遂成此狀。宜用省風散（方見三十九問下）。</p>
<p>第六十七問。目患或青或赤者何也。答曰。此邪熱沖肝。攻於五臟之內。上運於目。使瞳人潰注。灌經於外。或青或赤。或黃或黑。往來不定故也。宜用羊肝丸（方見七問下）、三黃丸（方見四問下）、三白散（方見六十問下）。</p>
<p>第六十八問。目患或針或割。或取翳障。全痛不止者何也。答曰。目者經絡之苗。五臟之精華。經絡之道路。既而割損。痛不止。出血不定。宜用牡丹煎（方見四十二問下）、三白散（方見六十問下）。</p>
<p>第六十九問。目中多眵淚者何也。答曰。此乃經絡蘊熱。因食煎爆太過。故目多眵淚也。宜用洗心散（方見二十九問下）、連翹散（方見十二問下）。</p>
<p>第七十問。目中常流淚者何也。答曰。乃肝經之虛也。經曰。肝虛則本枯，故流冷淚不止也。宜用洗心散（方見二十九問下）。羊肝丸（方見七問下）。此外又有二說，一說老人冷淚不止。乃精血俱虛。宜用秘方胡椒丸。一說有頭風。</p>
<p>目中常流冷淚者。宜用許學士方。一方治老人冷淚不止。</p>
<p><u>胡椒丸</u></p>
<p>　用胡椒一味為末。黃蠟溶化為丸。如綠豆大。每服五七丸。食後茶清下。</p>
<p><u>白朮散方</u></p>
<p>（許學士方）</p>
<p>白朮　川芎　羌活　細辛　白芷　荊芥　菊花　決明子（各五錢）</p>
<p><u>菊花散方</u></p>
<p>菊花　川芎　細辛　白芷　白朮（各等分）</p>
<p>上為細末。煉蜜為丸如桐子大。每服三十丸。食後白滾水下。</p>
<p>第七十一問。如目打損被物傷者何也，答曰。此乃瘀血流聚於上而攻目。可以散其血脈。宜用鬱金散（方見二十六問下）、蟹黃散（方見二十八問下）、羚羊角散、五退散。</p>
<p><u>羚羊角散方</u></p>
<p>羚羊角　甘草　黃連　梔子　川升麻　車前子（各十兩）　龍膽草　決明子（各二十兩）</p>
<p>上為細末。每服三錢。米飲湯調下。若小兒可服半錢。日進三服。</p>
<p><u>五蛻散方</u></p>
<p>蛇蛻　鳳凰蛻（即雞卵殼）　人蛻（即指甲）　佛蛻（即蠶蛻）　蟬蛻（各等分同燒灰研細和勻一處再研百遍）</p>
<p>上為極細末。每服二錢。豬肝蘸吃。不拘時。日進三服。</p>
<p>第七十二問。目中有翳。往來不定者何也。答曰。此乃是血所病也。蓋心能生血。肝能藏血。肝受血則能視物。治目病不可不治血。此五靈脂入肝。最宜用明目靈脂丸。</p>
<p><u>明目靈脂丸</u></p>
<p>五靈脂（二兩）　川烏（一兩半炮去皮）　沒藥（二兩）　乳香（二兩）</p>
<p>上為細末，滴水丸如彈子大，每服一丸生薑酒磨下。</p>
