<header><h1>白喉條辨</h1></header>
<dl class="元資料" data-type="book">
<div><dt>作者</dt><dd>陳葆善</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1644/1911">公元1644年至公元1911年</data></dd></div>
</dl>
<h2>序</h2>
<p>六氣感人。以燥證為難明。燥氣發病。以白喉為最險。險而難則病不擇醫。醫不識病。遘輒遭夭。死亡接踵。而生人之禍亟矣。其病則在於醫不讀書。與讀而未會其通。素問陰陽應象大論生氣通天論均脫秋傷於燥一節。而秋燥之病變始隱。國朝嘉言喻氏。自南沈氏。始各以其獨得之見。著為方論。吳氏鞠通融會其說。節以入書。於是燥證始略有門逕可循。然於白喉猶未之及。吾友陳栗庵院醫之良也。癸巳春闔門患白喉者四人。長女最劇。時就余與何君志石參議方劑。書中所定三　降龍丹等皆新制驗方也。嗣以愛子不起。盡發院中藏書。窮究旨要。始悟白喉一證。悉屬燥火。因作訂正論一卷乞鑒定。余謂醫以切實適用為要。不必惑於近人體例之說。可仍仿吳氏例。</p>
<p>改為條辨。刪削未果。會學堂開辦醫報。隨期課書。栗庵羸而善病。因囑女夫其高弟胡鑫就原稿詮次成書。隨報刊行。雖條僅十五。而綱舉目張。犁然各當。不僅為白喉家正法眼藏。而一切喉科病變方法悉寓焉。三折肱。九折臂。不綦信歟。自來論秋燥者。無慮十數家。似以吳氏為較長。然於義例則亦尚未周。其言曰。燥氣為病。輕則為燥。重則為寒。化氣為濕。復氣為火。則實不根之言。窒而鮮通。夫天有六氣。而火分君相。故經但言寒暑燥濕風五氣。應時布令。則為平氣。本不為病。其病者勝氣也。如燥氣盛行則擾動四氣。何言之。行於所生則氣感而為濕。行其所生則氣泄而為寒。行其所勝則氣化而為風。行所不勝則氣伏而為火。推之六氣。皆同斯例。蓋金勝則木受制而風證起。如內經所稱歲金太過。肝木受邪。兩脅滿且痛引少腹。及陽明司天。肝氣上從。掉振鼓栗。筋痿不能久立。丈夫癲疝等證。皆燥而化風也。即吳氏亦有燥金司令。頭疼身寒熱。胸脅痛。甚則疝瘕痛者。桂枝柴胡各半東加味主之之文。乃於化氣。獨不知有風。是僅知六氣之當補燥氣。不及悟燥氣之尚能化風。顧指失臂。六氣終於不全。一間未達。則亦九仞之井類也。昔宋孫兆校正內經。正謬訛者六千余字。增注義者二千余條。而秋傷於濕。不復悟有脫簡。將貫穿錯綜會通。仍待之其人歟。嗚呼。斯道沉　埋。垂四千年矣。秋燥之論。至本朝而始有定說。白喉之源。至吾院而始有專書。何其幸也。栗庵開悟邁其曹。醫院初創。首先畢業。書成遠近仿治。多所全活。因樂為弁其簡端。遂縱論燥證傳變。微特箴砭吳氏。使成全璧。</p>
<p>且亦用以廣吾同院之意。使知燥氣明則六淫可推。六淫清則百病可治。僅秋燥白喉云乎哉。舉一反三。貴會其通。是在世之善讀是編者。</p>
<p><u>時光緒二十四年歲次著雍閹茂律中仲呂東甌陳虯志三書於天津紫竹林。</u></p>
<h2>自序</h2>
<p>白喉險症也。靈素以來。未詳著錄。國朝道光間湖南陳氏雨春始著白喉嚨證論。（見白喉捷要常敘）其鄉人瀏陽張善吾紹修本其意作白喉捷要。大旨言足三陰受病。傳之於肺。已失白喉本來面目。而用藥又不出風火喉痹之范圍。與手太陰燥火了無關涉。鄭氏梅澗所著重樓玉鑰。言此症或遇燥氣流行而發。用藥以清肺養陰為主。頗為中的。然語焉不詳。得失參半。似未能洞徹源流者。（如既言或遇燥氣流行而發又言此症在少陰一經熱邪伏其間盜肺金之母氣云云用藥既以養陰清肺為主又言只宜紫正散夫紫正散之荊芥防風荊皮細辛與養陰清肺湯之冬地白芍丹皮奚啻冰炭何鄭氏竟相提並論也）光緒戊子京師是症大發。有耐修子者。以戚串中多遭其厄。悉心講求。托之神道。采二家之言。著白喉治法忌表抉微。選擇頗為簡要。然此君非素業岐黃之術者。於受病之源流經絡。用藥之色味氣性。茫無真知灼見。故語多不根。尤不足以津逮後學。癸巳春余及二女一子於數日間次第傳染。（壬辰秋冬之交天久不雨燥氣盛行冬至後大霜雪尋常湖漵冰濃寸許甌郡地氣極暖不見此氣候者已六七十年至立春後雨水驟至是症輒大發聞郡城醫者多以辛溫表散從事小兒遭厄者甚夥）長女以張氏法治之。幾至不起。幸以大辛涼合甘鹹寒法日進三大劑獲效。（張氏所列無治之症十一條已居其八）次女少子遂悉用養陰法。</p>
<p>次女愈而少子夭。此中疑團。幾不可破。甲午秋季少女（時才周歲）患伏暑病。身熱痙厥。痰嗽而喘。投以清熱化痰。通絡息風劑。痙厥愈而諸症不減。至日晡時痰喘愈甚。與白喉病將絕時形象。宛然無異。急用前方加入西洋參石膏大辛涼法與之。痰喘頓止。而身熱亦愈。始恍然於白喉病之標本傳變。從前醫治之或得或失。一一了如指掌。且深悉張氏鄭氏耐修氏三先生之書。雖各有心得。實未能窮極源流也。於是潛心探索。匯集眾長。證以經誼。參以閱歷。遲之數年。作白喉訂正論一卷。呈政於蟄廬主講。主講曰。是論雖詳。然頭緒繁多。篇幅長冗。恐閱者未易貫徹。盍仿吳鞠通氏著溫病例為白喉條辨。庶幾綱舉目張。作者既易於發明。閱者復易於尋繹。余曰。善。退而作條辨一十五條。稿既脫。因為敘其大旨。雖當仁不讓。於張氏鄭氏耐修氏三先生之言。間多指摘。然非三先生開先河之功。余亦安能遽集其成也。後有作者。倘能闡發微旨。匡茲不逮。豈特余與三先生之幸。抑天下生靈有濃望焉。</p>
<p><u>光緒二十三年歲丁酉夏月</u></p>
<h2>辨病源第一</h2>
<p>陽明燥令司天之年。或秋冬之交。天久不雨。燥氣盛行。邪客於肺。伏而化火。至初春雨水驟至。春寒外加。（夏至後發者更重）少陽相火。不能遂其條達之機。遂挾少陰君火。循經絡而上與所伏之燥火。互相沖激。猝乘咽喉清竅而出。或發白塊。或白點。名曰白喉。互相傳染。大人易治。小兒難治。</p>
<p>時疫喉症。不外外感六淫為病。六淫者即經所謂風寒燥濕暑火六氣是也。歷考古人喉科方論。言風火者固多。言寒濕者亦頗不乏。獨未有專言燥氣為病者。蓋內經脫秋傷於燥一條。後人遂有燥氣不為病之說。至沈自南喻嘉言始各有所得。各出方論。沈氏以化氣為濕為主。故立方偏於苦辛微溫。喻氏以復氣為火為主。故立方偏於辛涼甘寒。賴吳鞠通氏有燥氣為病。輕則為燥。重則為寒。化氣為濕。復氣為火數語。而燥氣發病之理始著。後之治燥氣者。亦有門逕可入。（欲治白喉者非先讀沈喻吳三先生之書恐終無從下手）此症之發。必於燥氣盛行之年。且見症經脈傳變治法。無一不與燥火二字吻合。故知病屬燥氣無疑。（詳觀後辨自明）唯間多挾少陽相火少陰君火而發。不得不兼治耳。鄭氏梅澗雖言此症或遇燥氣流行而發。而支離龐雜。尚非真能探及源頭者。至張氏漫言火熱。（喉症屬火熱者比比皆是）耐修氏言肺之灼。由於胃之熱。胃之熱。實由於腸之寒。模糊影響。</p>
<p>全無確見。更不足辨矣。大人小兒治法本同。何分難易。實以小兒在五六齡以內者。未識人事。看驗服藥。處處不能如法。故治之較難也。</p>
<h2>辨經絡第二</h2>
<p>素問陰陽別論篇曰。一陰一陽結謂之喉痹。一陰指少陰。一陽指少陽。少陽主相火。</p>
<p>少陰主君火。故凡一切風火喉痹。莫不揭重二經主治。而白喉則獨以手太陰為本。以二經為標。蓋二經為病。主風火。而太陰為病。主燥氣。其有傳及他經者。皆非白喉本有之症。或因循不治。與治不得法。火毒漫延。累及他經也。知其所在。以法治之。</p>
<p>張氏紹修曰。此症當作足三陰受病傳至於肺。且引十二經脈足太陰之脈上膈挾咽連舌本散舌下。足少陰之脈循喉嚨挾舌本。足厥陰之脈循喉嚨之上入頏顙下絡舌本為證。不知十二經之脈。除足太陽外。其余十一經。皆內循喉嚨。不獨足三陰也。且既言足三陰受病。必有足三陰見症。今內經傷寒具在。可復按也。足厥陰為肝。素問刺熱篇曰。肝熱病者。小便先黃。腹痛多臥。身熱。熱爭則狂言及驚。脅滿疼。</p>
<p>手足躁。不得安臥。而傷寒論厥陰篇提綱。亦言厥陰之為病。消渴氣上撞心。心中疼熱。飢而不欲食。食則吐蛔。今白喉初起。有是候乎。足少陰為腎。刺熱篇曰。</p>
<p>腎熱病者。先腰痛　。苦渴數飲。身熱。熱爭則項痛而強。　寒且酸。足下熱。</p>
<p>不欲言。其逆則頭痛員員澹澹然。而傷寒論足少陰篇提綱。亦言少陰之為病。脈微細。但欲寐。今白喉初起。又有是候乎。足太陰為脾。刺熱篇曰。脾熱病者。先頭重。頰痛煩心。顏青欲嘔。身熱。熱爭則腰痛不可用俯仰。腹滿泄。兩頷痛。而傷寒論足太陰篇提綱。亦言足太陰之為病。腹滿而吐。食不下。自利益甚。時腹自痛。今白喉初起。又有是症乎。既無是症。其不得妄指為足三陰明矣。唯刺熱篇肺熱病一條。所列之候。與白喉初起。一一吻合。（詳下症治第一條）而一陰一陽結為喉痹。亦為古來治喉家所自祖。聖訓昭然。不知征引。反憑虛懸揣。以毫無關涉之足三陰當之。</p>
<p>或泛言肺腎。或言胃熱腸寒。愈去愈遠。甚矣著書之難也。此症於初起時認明三經脈候。有無兼症。對病用藥。未有不應手奏效者。即已誤治。傳及他經。亦須細心察驗。確知何經見症。治以何經之藥。未必不可斡旋也。</p>
<h2>辨色第三</h2>
<p>時疫喉病。喉間必紅腫。甚則紫。而此症則獨發白。或點或片或塊。色如雞脂。或發熱後數日始見。或頃刻滿喉。病勢雖有輕重之不同。其為手太陰燥火則一。服藥後轉為微黃色者。病將已也。其間有紅腫者。以挾少陽相火少陰君火也。紫則火勢劇而成毒矣。</p>
<p>張紹修曰。此症熱症多。寒症少。（善按果系時疫白喉必無寒症）有以色白為寒者。不知此症初發於肺。肺屬金。其色白。為五臟六腑之華蓋。處至高之位。毒瓦斯自下熏蒸而上。（二語未確）</p>
<p>肺病日深。故本色日著云云。恰與內經肺熱病者。色白而毛敗。又肺風之狀。色然白數語相發明。鄙意更有進者。肺色既白。而所傷之病又為燥。燥氣屬金。金為西方白虎。其色亦白。故他經熱喉病不發白。而此獨發白也。其間有紅紫者。則挾君相二火矣。</p>
<h2>辨脈第四</h2>
<p>白喉病初起。余脈如平。但右寸微數而澀或沉數者。手太陰伏邪本病也。其浮數或緊者。挾有外感時邪也。左寸關動數者。少陽相火少陰君火並病也。洪滑者。火鬱而成痰也。延之日久。或經誤治。兩手脈滑數甚。按之搏指者。火勢劇也。洪大無力。按之芤或散大者。陰涸已極也。</p>
<p>張紹修曰。凡病此者兩關及左尺脈多沉數而躁。其意專指足三陰受病而言。以余所驗。頗覺不然。唯不腫不紅。咽乾無痰。手太陰燥火自病者。右寸必微數而澀。紅腫且痛。初起即痰涎多。挾有少陽少陰風火者。左寸關必動數。其他病脈。皆誤治後始見。初起時未必盡具也。</p>
<p>凡治內傷病。必先脈而後症。至六淫必脈症參合。方有把握。甚有舍脈從症者。</p>
<p>（如伏脈與絕脈實難區別參之於症便易分曉）若專恃察脈。最易致誤。此實閱歷以來。屢試屢驗。非欺人也。</p>
<h2>辨手太陰本病症治第五</h2>
<p>白喉病初起。頭痛身寒熱。右寸脈微數而澀。咽燥無痰。喉間發白。或咳或不咳。或痛或不痛。但介介如梗狀。飲食如常。此手太陰肺經燥氣本病。加減喻氏清燥救肺湯主之。右寸脈浮惡風寒甚者。挾有外感時邪也。前方略加辛涼藥。如春則薄荷。夏則荷葉扁豆花之類。或已誤治。咽燥舌乾。甚或絳者。鄭氏養陰清肺湯亦可用。</p>
<p>素問刺熱篇曰。肺熱病者。先淅然厥起毫毛。惡風寒。舌上苔黃。身熱。熱爭則喘咳。痛走胸膺背。不得太息。頭痛不堪。此症自始至終。與經旨一一吻合。故決為肺經本病。主以加減喻氏清燥救肺湯。以此方實燥氣化火之祖。方中西洋參色白味苦性涼。有清無補。（他參如高麗東洋潞黨及吉林參之類斷不可用恐其太補肺氣痰喘立至也）</p>
<p>石膏色白氣辛味甘性寒。二味為清手太陰經燥火專門之藥。復以麥冬則清中有滋矣。臣以桑杏甘草。則辛寒而合苦甘矣。與內經燥淫於內。治以辛寒。佐以苦甘語恰合。（此症往往遇外感時邪而發有桑杏便無引邪入裡之弊且性味清降較薄荷荷葉等味尤為易用）</p>
<p>至枇葉花露金汁不過佐使之藥。藉以清熱解毒。且疏通經隧。不致留邪入絡。遺患將來也。平素痰多。或服藥胃中覺寒。可加入蔞貝橘枳等味者。以藥在對病。既有是症。即可用是藥。古人方中往往大開大闔。寒熱溫涼並用。如仲師之大青龍麻杏甘石等湯是也。（曩謂仲師二湯恰是治燥氣之祖方蓋化氣為濕麻桂可以散之復氣為火甘石可以清之極為合拍如白喉病發於秋冬之交重感外寒者似可先用麻杏甘石一二劑唯不可用青龍耳）</p>
<p>其仍用鄭氏養陰清肺湯者。以既經誤治。肺陰受傷。並及營血。非冬地丹芍實難奏效。然鄙意須加入西洋參石膏本經藥。方為至善。</p>
<p>此症輕者飲食如常。初無痛苦。稍延至旬日。而轉為痰喘身熱者。若初起時妄用張氏方之粉葛馬勃僵蠶等味。或以水麝等藥吹喉。未有不轉輕為重者。余大小女恰犯此弊。本春三月余友蔡拔萃逸仲曾患此。以婚期在邇。（約三五日之內）頗著急。余曰無患也。</p>
<p>以此方略加減與之。日再服。二日內全痊。</p>
<h3>加減喻氏清燥救肺湯</h3>
<p>西洋參（宜入煎）　生石膏（杵碎布包）　大麥冬（去心開用）　生粉草（切片）　苦杏仁（去皮尖杵）</p>
<p>冬桑葉（生用）　枇杷葉（刷去毛生用露更佳）　金銀花露（分沖）　金汁（宜取真者分沖）</p>
<p>上共九味。不務定分兩者。以病有輕重。宜臨時斟酌也。如法用清水煎二沸。去渣沖入花露金汁。分二次溫服。日再劑。甚則三。如平素痰濕重。或服藥數劑後。覺胃中微有寒意。勿怪。當守服。唯量加入婁貝枳橘半夏旋覆等味。</p>
<h3>鄭梅澗先生養陰清肺湯</h3>
<p>麥冬（一錢二分）　湖丹皮（八分）　生甘草（五分）　貝母（八分）　大生地（二錢）　生白芍（八分）</p>
<p>原注體虛加熟地或生熟並用。熱甚加連軺。去白芍。燥甚加天冬茯苓。（按此味未妥）如有內熱及發熱者。亦不必表藥。照前方治之。其熱自退。</p>
<h2>辨手少陽標病第六</h2>
<p>白喉病症如前。喉間紅腫而痛。甚則頸項亦腫。初起輒多痰涎。此太陰燥火挾有少陽相火也。白虎青龍湯主之。間用青黃散。不時吹入喉間。以消腫去涎。若輕者可用張氏神功辟邪散去葛根青果馬勃僵蠶。</p>
<p>此太陰燥火挾少陽相火為病也。發白雖為肺經伏火。亦往往挾少陽風熱而發。經言一陽之脈。本主手少陽三焦而言。獨本篇少氣善咳之條。王注謂通主膽及三焦。是三焦與膽同司相火。其病故每相牽涉。唯膽火之動。中必挾風。膽者寄位於肝。火熾而風未嘗不動也。此條正屬風火交煽。循經絡而上與外感時邪相搏。不得驟發。</p>
<p>郁於喉間而成紅腫。甚則連頸項亦腫。火熱上逼。其勢有升而無降。則痰涎遂從上行。此皆少陽標病。故治法須參苦泄。唯處處護防燥火。不致治標而礙本。方為合度。白虎青龍湯以石膏為君。仍重本病。佐以本通板藍。直降少陽。銀花連翹。善解上焦之結熱。蟬蛻桑葉。兼清風熱而下行。貝母降氣逆能消痰。冬地保肺液而潤燥。牛蒡泄少陽蘊釀之熱。青芩達三焦越上之邪。故二味皆在不忌。此為少陽太陰通治法也。勢既陡發。痰腫則消腫豁痰吹喉之法。亦不可緩。唯不得輒加苦燥。若輕者風熱既淺。標病自輕。即加減神功辟邪散。亦足中病。雖無石膏涼入本經。而冬地甘寒。已得潤燥。唯葛根溫升陽明。青果酸斂厥陰。尋常溫熱。已在所忌。況燥氣　郁乎。馬勃僵蠶皆能助燥。故並去之。</p>
<h3>白虎青龍湯</h3>
<p>生石膏　木通　貝母（去心杵）　桑葉（生用）　連翹　牛蒡子（生用杵）　板藍根　銀花　蟬蛻（去足翅）　麥冬（去心）　生地　鼠尾青芩上藥十二味。清水煎。二服。日再劑。或三。太陰本病盛。少陽標症輕者。去黃芩牛蒡子。加西洋參。倍石膏地冬。標症獨盛者。以黃芩易龍膽草。痰涎壅盛者。仍用牛蒡子。或沖入鮮萊菔汁牛黃。減冬地加杏仁旋覆蔞皮。</p>
<h3>吹喉青黃散</h3>
<p>飛青黛　西牛黃　老式大坭冰（少許新式者切不可用）　西瓜霜　西月石　濂珠上藥研極細。用竹管吹入。若咽燥者用上白蜜調敷。或鮮嫩側柏葉搗汁調亦可。燥甚者不得用吹喉法。</p>
<h3>加減張氏神功辟邪散</h3>
<p>生地　貝母　麥冬（去心用）　鼠尾青芩　連翹甲　木通　銀花　蟬蛻（去翅足）</p>
<p>牛蒡子（生用杵）</p>
<p>上藥九味。水五杯煎取三杯。分二次溫服。日再劑。</p>
<h2>辨手少陰標病第七</h2>
<p>白喉病症如前。初起心煩。舌根微硬尖絳者。此太陰燥火。挾有少陰君火也。朱白雙清散主之。輕者張氏神功辟邪散去葛根僵蠶黃芩馬勃蟬蛻青果。加紫地丁竹葉生梔仁燈心草。</p>
<p>此太陰燥火挾少陰君火為病也。心肺同居上焦。去喉嚨最近。肺金不肅。燥氣不行。首先犯心。心為火臟。切近肺位。君火一沸。肺先受之。故尋常溫熱。最易傳變。況當燥火互相沖激耶。心煩者內熱自盛也。少陰之脈循喉嚨絡舌本。燥火熾而心營灼。故舌根微硬。甚則尖絳。朱白雙清散重瀉少陰獨勝之熱。與上條少陽標病對峙。蓋此二證。實白喉中最多之候。亟宜留意。上條以少陽立論。故黃芩龍膽。</p>
<p>治法不忌苦泄。此條參重少陰。故黃柏木通。專藉苦降。連翹梔子。清包絡之內蘊。桑葉杏仁。宣肺金之結熱。元參瀉心火以清營。地丁解蘊釀之熱毒。二味尤為少陰清熱涼血之要藥。唯處處不沒燥火本病。故二方皆以石膏為君。而不出冬地。</p>
<p>若輕者火勢既微。即潤燥清熱。已中竅要。無事重用苦寒以助燥。即神功辟邪散加減用之。</p>
<h3>朱白雙清散</h3>
<p>生石膏　黃柏　麥冬（去心用）　生梔子　生地　紫花地丁　連翹甲　木通　杏仁（去皮尖杵）　潤元參　桑葉上藥十一味。水五杯。煎取三杯。分二次溫服。日再劑或三。若燥甚陰涸。急宜保液。加西洋參犀角。倍冬地元參。火勢劇喉腫且紫者。急加涼血解火毒之藥。如紫草丹皮金汁。痰涎壅盛者。加牛黃。或間用青黃散。</p>
<h3>加減神功辟邪散</h3>
<p>生地　連翹甲　牛蒡子（生用杵）　麥冬（去心用）　淡竹葉　木通　貝母　生梔仁紫花地丁　金銀花　燈心草上藥十味。水五杯。煎取三杯。瀝去渣。分二次溫服。日再劑。</p>
<h2>辨三經標本並病第八</h2>
<p>白喉病以上三經悉見者。隨證輕重。參用三經藥治之。若火毒盛極。喉間紫脹。甚則項背俱腫。危在頃刻者。急宜於紅腫處用刀針刺破。出惡血以殺其勢。或用吹喉法。</p>
<p>三經指太陰少陽少陰而言也。標本發病。各有輕重。隨證治之。法無不愈。然有三經並病。太陰少陽少陰之候俱見者。亦各視其勢之輕重。按法施治。若少陽標證獨甚。即重用少陽之藥。少陰標證獨甚。即重用少陰之藥。參觀前後。心法自明。若火勢太盛。有非藥石所及者。急用刀針。夫白喉本忌刀針。前人往往垂誠。今言可刺。蓋亦有至理在焉。若不紅不腫不痛。咽乾無痰。全系太陰燥火者。肺陰必已受傷。其間全賴一點陰血。為自保之地。今又刺破。不敗何待。若挾少陽少陰標症實火太盛。郁於喉間而成紅紫。甚則腫及項背。其來勢之急。頃刻斃命。豈可不急刺出惡血以泄其氣。然亦指異常重症而論。不得已而用之。非常法也。至於發白處仍不可犯。醫者慎之。曩嘗聞耐修氏言其戚汪姓之女及婢。相繼患此。鑒於甲醫之失。不敢服藥。令老嫗挖去白　。出涎血斗許而愈。一月後汪自繼病。亦用其法而病不減。自言幾不解其何理。遂委之於體質之強弱。命數之否泰。此語竊嘗疑之。</p>
<p>後聞醫友薛云如曾言其妻於丙申秋患此。用刀針刺破紅腫處尋愈。及本年林友之女亦病此。喉間紅腫非常。肩背胸項等處俱紅腫。鼻中出血。余言此症必須用刀針。</p>
<p>僅服藥無效。其家守邑醫之言。不敢破。後至數日。吐惡血數碗而斃。始恍然於汪姓女婢之症及薛友之妻。均系少陽少陰之標病。風火之勢急。故得破而愈。汪君專系太陰燥火本病。破之非徒無益。必又速禍。此中源流甚微。安可不悉心考究。窮極其只細。徒以命數杳緲之談以卸責。恐未盡格物窮理之功矣。</p>
<h2>辨救誤上第九</h2>
<p>手太陰本病。症如前。初起咽燥無痰。七八日後忽痰聲漉漉。甚則喘促心煩。此必誤治或遷延日久。肺火熾盛。引水自救。吸聚五液而為痰。急用三　降龍丹主之。忌一切苦燥化痰藥。如牛黃膽星婁貝等味。尤不可用冰麝吹喉藥以助燥。初起即多痰涎。</p>
<p>挾有風火者。不在此例。</p>
<p>此為白喉極重之候。人但知痰聲漉漉。乞靈於膽星牛黃。喘促不寧。取效於婁貝葶藶。一試不驗。且重用之。卒至痰喘愈甚。束手無策。遂委之於病不可為。不知此證純系太陰燥火熾盛。肺液涸極。勢若燎原。吸聚周身陰液以自救。於是龍雷之火。隨腎水而上逆。遂驅一切陰濁。壅於喉嚨之間。悉化為痰。此痰實系陰火沖激而成。故非大清涼合甘鹹寒大劑。不能下降。三　降龍丹導龍歸海之藥也。龜板牡蠣真珠母得至靜之精。介以潛陽。故名三　。冬地西洋參專保肺汁。阿膠白芍兼導龍雷。石膏直清燥火。墜一切之熱痰。犀角通利喉嚨。載諸藥以下行。旋覆竹茹用以代水。使重而不滯。尤能疏通經隧。蓋此症為白喉。或經誤治。或遷延日久必有之病。不明治法。最足誤事。余長女曾病此。咽乾音啞。喘促心煩。痰聲漉漉如潮。</p>
<p>大便泄。張氏所列不治之候。已居其八。竟以此方日服三劑獲效。一劑而大便止。</p>
<p>喘促稍安。再劑而痰聲如失。世醫不知本源。每逢痰喘。悉以牛黃膽星為主。不知二味為足厥陰少陽消痰火專門之藥。與此症風馬無關。且苦能助燥。並在所忌。其他婁貝葶藶辛燥。更不可問矣。若初起即多痰涎。挾有少陽少陰風火標病。則消痰降火門法自在。陰藥不可亂投。此中竅會。亟宜領取。</p>
<h3>三降龍丹</h3>
<p>西洋參　生石膏　海浮石　牡蠣（生用）　阿膠（或用燕窩）　白芍　生地黃　敗龜板珍珠母　麥冬（去心）　犀角上藥十一味。以旋覆花荊竹茹先煎代水。服時沖入荊竹瀝鮮萊菔汁。如痰涎壅盛。</p>
<p>藥不得下。加入白蘇子另煎沖入。待藥得下。即宜撤去。甚則微滴生薑汁數點為引。小兒數齡以內。用藥雖當酌量。然亦不可過輕。輕則不得沉降之性。轉足以助痰矣。</p>
<h2>辨救誤下第十</h2>
<p>白喉病或經誤治。始終在手太陰者。治以上法。其或累及他經。當細審病證。循經用藥。不可遽辭壞病。模糊施治。誤人性命。</p>
<p>白喉為肺金燥火本病。肺為華蓋。為百脈之宗。肺氣病最易傳染各經脈。而白喉亦然。若始終在手太陰本病。治以上法。其有累及他經。當細別源流。循經用藥。茲將十二經傳變病候。用藥關鍵。略表途逕於下。假如三經本症未罷。熱邪陷入厥陰。四肢掣動或痙厥者。急宜通絡息風。於三經本方加羚羊角牛黃鮮地龍絲瓜絡忍冬藤。其陷入足少陰。但欲寐。腰疼身熱數飲者。宜於滋陰中寓泄少陰邪火。於手太陰本方加黃柏元參　豆皮龜板。或合大補陰丸。瀉南補北法。其陷入足陽明胃腑。便秘腹疼拒按者。此系實火內結。宜本方合宣白承氣。或竟用吳氏增液承氣法。其陷入足陽明胃經。大渴大汗者。本方倍石膏西洋參加知母粳米。如人參白虎法。其陷入足太陰脾經。頭重頰痛。顏青欲嘔。熱爭。不可用俯仰。腹滿泄。宜本方加石斛生草扁豆子石蓮肉。或初起過服硝黃。大便溏泄不止。脾氣受傷下陷者。</p>
<p>宜先服健脾藥。如四君子東加查肉炒扁豆內金之類。甚則甘附片亦可暫用。泄止再治本病。其風火熾盛。肝脾相賊。腎水不攝者。須前方重加生牡蠣。如吳氏一甲煎法。不可見泄即指為脾寒。漫用溫澀也。此皆白喉救誤之法。不過略示途逕。其細密處仍宜臨時變化。斟酌妥善。庶無負司命之責。</p>
<h2>辨善後第十一</h2>
<p>白喉病或已誤或未誤。以法治之。當無不愈。愈後飲食起居如常者。不必服補養藥。</p>
<p>如肺陰未復。可用補土生金法。張氏養正湯去花粉加制甘草沙參主之。數月後喉間仍介介如梗者。前方加歸身黃　。甚則用東垣甘溫法。</p>
<p>白喉為燥火爍金。善後自宜清潤甘淡。以補土生金。張氏養正湯最為合度。去花粉不可令復涼也。或過服寒涼以後。營血往往受傷。每有終年累月。喉間仍介介不已。此必重用歸　。藉甘溫以和調營血。蓋當時一味寒涼。必有餘熱。滯入營衛隧道。郁久不達。勢必復蒸。先賢陸九芝所謂過服冬地。易發骨蒸勞熱。真有得之言也。</p>
<p>善患白喉。愈後數月喉間常覺介介。後因中寒。服大甘溫藥始痊。主講自京都歸。言北方此病甚多。愈後服溫養。始能復原。些言適符合。長女同時患此。於初起醫治不得法。未能疏通經隧。致余毒流入骨髓。次年仍發青腿牙疳頗重。醫治月余始痊。</p>
<h3>張氏養正湯</h3>
<p>生玉竹　淮山藥　白茯苓　熟地黃　生地黃　生白芍　製首烏　女貞子　北沙參　制甘草　麥門冬（去心）</p>
<p>上藥十一味。水五杯。煎取三杯。分二次溫服。</p>
<h2>辨外治第十二</h2>
<p>白喉病手太陰本症未罷。始終不得用吹喉法。初起即紅腫痰涎。挾有風火標症者。間用吹喉。蓋風火來勢自急。且易為痰。不參外治。恐難速效。</p>
<p>大凡時疫喉症。多因風火挾痰。沖激於喉嚨一線之地。猝不得出。遂致頃刻腫閉。</p>
<p>其五內腑初無大病。此時服藥不及。唯有用辛散藥吹喉。以吐痰涎。故外治之法。</p>
<p>為喉科要訣。獨此症咽乾無痰。不痛不腫。純系太陰燥火爍金。肺汁內涸。滋之不暇。豈可復用辛散以吹喉。善見有起初無痰。用吹喉藥後。反覺痰聲漉漉。實因燥火重。得辛香以張其焰也。若挾少陽少陰風火標症。紅腫異常。痰涎壅盛。則吹喉之法。亦可間用。輕者以青黃散。重者以張氏雄黃解毒丸。或白填鴨散。其用雄黃解毒丸者。實以萬分危急之際。不得已權宜而用。非常法也。然其間實有至理。巴豆大辛大熱。雖為白喉所最忌。而斬關奪隘。峻利無比。下咽後未有不直達肛門。</p>
<p>與尋常辛烈之品。不能驅痰下墜。反足助火上焰者。迥乎不同。此症若至痰氣壅閉。藥不得入。多因誤治後。火勢燎原所致。此時若僅用張氏之瓜霜散。耐修子之鳳衣散。與外治之異功散。非但無益。恐適以增病。唯暫借此藥開通徑路。隨以大清涼或甘鹹寒大劑。頻頻灌服。即可救效。斷不至停留上焦。以助火勢也。此所謂出奇制勝。非胸有成竹者不能用。亦且不敢用也。白填鴨散未曾試驗。大概非手太陰本症所宜。痰涎壅盛者。亦可備用。較錫類散尚優。余長女曾以錫類散吹喉。即時音啞。蓋珠黃人指甲壁錢冰片象牙等味。既燥而又澀。皆在大忌。</p>
<h3>張氏雄黃解毒丸</h3>
<p>透明雄黃（研細水飛淨）　鬱金　巴豆霜上藥研細。用米醋煎濃汁。面和為丸如綠豆大。每用四分。茶湯泡軟。杵熔送下。小兒減半。</p>
<h3>白填鴨散</h3>
<p>（見白喉忌表抉微）</p>
<h2>辨禁忌第十三</h2>
<p>白喉禁忌。諸家言之甚詳。茲條列於下。其尤須發明斟酌者。略參如左。</p>
<h3>忌升提並吐</h3>
<p>白喉為手太陰燥氣化火。治宜滋陰清熱。即挾有少陽少陰木火標症。亦宜仿吳氏溫熱法。清中夾疏。慎不可用升柴粉葛等溫升之味。以助其焰。此理吳氏辨之甚詳。</p>
<p>可熟玩也。張善吾除瘟化毒神功辟邪諸散。皆首用葛根。恰犯所忌。吐法為六淫要訣。唯此症大忌。恐一經涌吐。其勢即上竄也。</p>
<h3>忌溫散發汗</h3>
<p>麻桂羌防為寒濕家發汗之祖藥。治溫熱者已嚴加禁忌。況白喉純系燥火。豈可復投發汗。致傷津液。</p>
<h3>忌大下亡津</h3>
<p>喉症如火毒蘊結於腸胃之間。腹痛便閉者。均可用下法。唯白喉切宜謹慎用之。</p>
<p>蓋燥火爍金。肺汁內涸。治當以養陰清燥為主。井非一二劑所能了事。若大下之後。胃氣告匱。陰藥安能任受。不獨重傷津液也。其必不得已者。可仿吳氏宣白承氣法。不可直用仲景之三承氣也。</p>
<h3>忌刀針</h3>
<p>喉科用刀針者。多由風火鬱結於血分。紅腫痛閉。危在頃刻。必須刺取惡血。以泄其氣。使火氣自衰。今白喉來勢既緩。自可按法施治。何必漫用刀針。致傷陰血。</p>
<p>唯太陰本症較輕。少陽少陰風火標症較重。紅腫異常。甚則紫。項背俱腫者。可間用刺法。其發白處。仍不可犯。此理於上三經同病條略加闡發。可參玩也。</p>
<h3>忌病重藥輕</h3>
<p>此症輕者。須日服二劑。重者三四劑不等。慎不可一二劑後。見病不退。漫施雜藥。癸巳春善及二女一子於數日間次第傳染。每人服藥三四劑。家庭遍列藥碗。司煎者日以二人替換。二旬後始獲痊可。唯夭一小子。及今思之。亦由初起醫治不得法。然是時非得同院諸友反覆調護。恐更不可問矣。</p>
<h3>忌苦重助燥</h3>
<p>白喉病手太陰本症未罷。始終不得用苦燥藥。若挾風火標病。必須參用苦泄。此理上論辨之頗詳。茲不復贅。耐修子謂黃芩一味涼入細竅。此謬論也。黃芩若此。則連柏膽草犀角石膏等味。更何如耶。不知芩連膽柏性寒而味苦。苦稟火化。適足以助燥。濕熱症用之者。以苦能燥濕。寒能清熱也。若白喉燥火本病。應以柔潤滋養之藥為主。佐以泄火清熱。苦味中除黃柏外。（黃柏雖苦卻有津液試嚼之滋黏滿口）均在禁忌。唯標症實火太盛。苦泄法自亦不禁。識者察之。</p>
<h2>辨張氏無治之症第十四</h2>
<p>白喉本無壞病。不識本源。適足礙事。若經誤治者。症必危險。亦當悉心講求。設法救補。慎不可泥張氏之言。委諸無治。所列之症十一條。詳辨於下。</p>
<h3>一、白塊自落</h3>
<p>此候極多。最不足怪。嘗見有懸丁之旁。虛懸白片。色若雞脂。遇大咳輒自落。其症後亦無恙。余二小女亦然。</p>
<h3>二、七日滿白不退</h3>
<p>此候亦屬尋常。余喉間白點數處。自正月初旬至月杪始退。</p>
<h3>三、咽乾無涎</h3>
<p>此真手太陰燥火本病。宜重用西洋參石膏冬地。甚則用官燕阿膠真珠母牡蠣。切不可用水麝吹喉藥。斷無不效。</p>
<h3>四、服藥大便不通</h3>
<p>此候大概非實熱鬱結腸胃。即肺陰枯涸已極。宜用宣白承氣加入滋養藥。否則用吳鞠通增液承氣湯。惟不可用峻利之品。</p>
<h3>五、未服藥大便泄</h3>
<p>此候有因脾熱所致。如內經所謂熱爭腹滿泄是也。可用以上救誤法。或因肝風大煽。必須重用一甲煎。</p>
<h3>六、兩目直視</h3>
<p>此實危脫之候。多不可救。然間有因痰氣壅結。氣不得下者。可用鮮萊菔汁。或竟用張氏消毒丸。以圖萬一。</p>
<h3>七、痰壅氣喘</h3>
<p>此為白喉危脫時必有之候。可見此症必須揭重手太陰主治。如系痰火壅滯。可用大辛涼加牛黃等味。或因誤治。以致肺火太盛。聚液為痰。即牛黃亦覺苦燥。必須用甘鹹寒大劑。不可見痰而漫用辛燥也。</p>
<h3>八、大便溏泄不止</h3>
<p>此症多因火毒蔓延。或過用大下所致。然亦有多獲效。以上數症。余大女曾患此。</p>
<p>連服大劑三　降龍丹加一甲煎三劑獲效。不可見此候即指為不治也。</p>
<h3>九、唇面俱青</h3>
<p>此候多由火毒陷入足太陰。如內經所謂脾熱病者。頭重頰腫顏青是也。或肝火盛極。本色發現者。亦有此候。</p>
<h3>十、藥不能下</h3>
<p>此真極重之候。多不可救。如系痰氣壅結者。可竟用消毒丸。希圖萬一。</p>
<h3>十一、音啞無聲</h3>
<p>此系肺陰涸熱。宜用泄火滋陰法。余長女亦然。因誤用錫類散吹喉。即時音啞。及後諸症全痊。半月余始覺漸漸清朗。如遇是候。須參入燕窩阿膠等味。</p>
<h2>辨耐修藥表並藥忌第十五</h2>
<p>白喉病辨症既明。首講用藥。耐修所列正將猛將次將四層藥表。井用藥禁忌。抉擇頗為簡當。然選藥不多。未免印定後人眼目。且議論多不根於經典。尤難津逮後學。茲取其意而詳辨之。</p>
<p>耐修之言曰。治之之法。唯有以濃重之藥鎮其上層。以清涼之藥潤其次層。即此二語。便覺大錯。大凡醫家用藥。病在上焦宜輕清。病在下焦宜重濁。故上焦分兩須輕宜於散。下焦分兩須重宜於丸。上焦藥宜輕煎頻服。下焦藥宜濃煎頓服。豈有以濃重鎮上層。清涼潤下層之理。此稍涉醫學人。無不明析。不待精博群書也。唯所收上層藥中。如冬地為滋陰必用之藥。石膏為燥火專門對症之藥。膽草為足少陽泄實火之藥。川柏為手少陰瀉實火之藥。犀角為手少陰清虛火之專藥。暗與病合。亦非如伊芳之所謂鎮也。如以為鎮。則次將中之粉葛。極能升胃陽。行胃陰。為白喉最忌之品。何鎮之有。其次層藥中如婁貝丹皮板藍桑葉枇杷葉梔子木通等味。為此症標本疏通經隧之要藥。亦非如伊芳之所謂潤也。倘以為潤。則婁皮木通梔子兜鈴皆苦能助燥。何潤之有。其中層下層之枳朴神麯查肉陳皮。或因平素脾胃濕痰蘊滯。或因驟服寒涼膩藥。中氣不能健運。故亦可用。非常法也。否則炒麥芽亦能升發火勢。何可輕投。至硝黃更不易用。必須腸胃間積有實熱。如古人所謂痞滿燥實堅痛諸候者。方可酌用。萬不可輕易一試也。鄙意此症於初起時。或經誤治。或已傳變。必須認明病源。（或燥火獨病或風火兼病）詳別經絡。（或手太陰獨病或少陽少陰兼病）</p>
<p>對症用藥。自能絲絲入扣。不可模糊籠統。以寥寥數語。印定後人眼目也。</p>
<h2>補義</h2>
<p>余纂白喉條辨。自丁酉出版。迄今一紀矣。於前賢白喉諸書議論。間有未愜於心者。</p>
<p>莫不詳加討論。斟酌妥協。以期悉合病情治法而後已。顧獨於忌表二字。尚嫌疏釋。</p>
<p>未能盡致。心竊病之。蓋白喉為太陰肺經伏燥。苟無時邪感觸。自不宜無故表散。兆成燎原之禍。若確屬挾有時感表症者。則解表自難容緩。如前第五條所言挾溫熱者。</p>
<p>可加薄荷荷葉扁豆花之類。挾寒濕燥三氣者。雖麻葛前蘇香薷藿香等皆可酌用。或外感裡燥並重。亦須表裡清疏。二者兼顧。但先使表邪得解。縱白發滿喉。則施治亦自易易矣。唯不得浪用薑桂辛熱引邪入裡之品耳。嘗見時醫未讀白喉忌表抉微者。動輒表散。為禍固烈。乃有已見此書。未能洞徹原理。往往坭守忌表二字。縱有外感甚厲。</p>
<p>開手即一味清滋。轉使外邪陷入。裡燥愈甚。卒成爛喉等病。斃命者所在皆有見之。</p>
<p>實堪痛悼。夫六淫病。邪氣從外入者。無不以解表為要務。白喉雖為太陰伏燥。法宜直從肺經清降。苟外感未去。輒先注意於此。且有於清降之中。再亂入苦重滋膩之品。則外邪未有不被牽率而內陷。終致清疏兩無所施。坐視殞命者。傷何如之。（仆）二少女年甫十齡。曾於某年夏月往鄰裡觀劇。時值溽暑鬱蒸。（當數日前西風大作夏行秋令故有白喉症發現）加之劇場人氣醞釀。歸即寒熱大作。肢體如廢。腹痛餐泄。舌苔灰濁而喉間又復發白。（仆）權其輕重。理宜解暑去濕為先。蓋治白喉不外清滋之品。暑濕得解。則用藥自無牽掣矣。</p>
<p>遂用香薷飲合正氣散加減。再入石膏鮮葦莖二味。略顧肺中之燥。（石膏為治燥火主藥其性兼能達表清裡熟讀仲聖書者自能得其旨歸故喉間一見白　白片此味即不容緩乃時醫於冬地石斛元參等味習為故然浪用不怪視石膏反不敢輕於一試識力不真往往坐失病機殊堪太息）二劑後表解體鬯。痛止泄愈。而喉中日勢轉劇。幾至滿喉皆是。乃急轉用西洋參石膏葦莖元參杏仁枇杷葉等味。三劑白去八九。喉中唯覺燥痛。遂再加羚羊鮮生地二味。病遂全愈。使當初下手時疑忌香薷藿香辛燥與白喉有礙。把握不定。不以全力專去暑濕。恐遺禍有不可勝言矣。要之白喉病夾症頗夥。唯太陰伏燥獨發者。自當以清降滋潤為重。如辛散苦重。</p>
<p>皆在所禁。前已辨之詳矣。若挾六淫時感。自當濕因濕治。寒因寒治。暑熱因暑熱治。先解其表。則本症治法。自無顧慮。斷不可坭守忌表二字。使外感與伏燥。互相牽引。譬如觀奕。一著錯則全局輸矣。吾愿世之治白喉者。因此意神而明之。或能與吾民同躋壽域也。故不辭繁復。復補此篇於後。</p>
<p><u>宣統元年太歲己酉十月栗　甫再識於湫　齋</u></p>
