<header><h1>炙膏肓腧穴法</h1></header>
<dl class="元資料" data-type="book" hidden></dl>
<h2>孫真人《千金方》論</h2>
<p>膏肓　穴，無所不治，主羸瘦虛損，夢中失精，上氣咳逆，狂惑忘誤。取穴法：令人正坐，曲脊伸兩手，以臂著膝前，令正直手大指與膝頭齊，以物支肘，勿令臂得動搖，從胛骨上角摸索全胛骨下頭，其間當有四肋三間，灸中間。　依胛骨之裡肋間空處，去胛骨容側指許，摩KT肉之表筋間空處，按之自覺牽引胸戶中，灸兩胛中各一處，至六百壯，多至千壯。當覺氣下礱礱然，如流水狀，亦當有所下出。若無停痰宿疾，則無所下也。若病患已困不能正坐，當令側臥，挽一臂令前求取穴灸之也。求穴大較，以右手從右肩上住指頭表所不及者是也。</p>
<p>左手亦然，乃以前法灸之。若不能久正坐，常伸兩臂者亦可伏衣袱上，伸兩臂，令人挽兩胛骨使相離，不爾，胛骨覆穴不可得也。所伏衣袱，當令大小常定，不爾，則失其穴也。此灸訖後，令人陽氣康盛，當消息以自補養。取身體平復，其穴近第五椎，相準望取之。</p>
<p>論曰：昔秦緩不救晉侯之疾，以其在膏之上肓之下，針藥所不及，即此穴是也。時人拙不能求得此穴，所以宿　難遣。若能用心方便求得灸之，無疾不愈矣。</p>
<h2>王惟一《明堂銅人灸經》</h2>
<p>膏肓　二穴，在第四　下兩傍相去各三寸，主無所不療，羸瘦虛損，夢中失精，上氣咳逆，發狂健忘。又取穴之法：令人正坐，曲脊伸兩手，以臂著膝前，令正直手大指與膝頭齊，以物支肘，勿令臂動搖也。從胛骨上角摸索至骨下頭，其間當有四肋三間，灸中間。從胛骨之裡，去胛容側指許，摩KT　去表肋間空處，按之自覺牽引於肩中，灸兩胛中一處，至百壯，多至五百壯。當覺下礱礱似流水之狀，亦當有所下出，若得痰疾，則無所不下也。如病患已困，不能正坐，當令側臥挽上臂，令前取穴灸之。又以右手從左肩上住，指頭所不及者是穴也。</p>
<p>左取亦然，乃以前法灸之。若不能久坐，當伸兩臂，令人挽兩胛骨使相離，不爾，即胛骨覆其穴，灸之無驗。此灸訖後，令人陽氣康盛，當消息以自補養。論曰：昔在和緩不救晉侯之疾，以其膏之上、肩之下，針藥不能及，即此穴是也。人不能求得此穴，所以宿病難遣。若能用心以方便，求得灸之，無疾不愈，出《千金》、《外台》方。</p>
<h2>量同身寸法第一</h2>
<p>《千金方》云：尺寸之法，依古者八寸為尺，仍取病者男左女右手中指上第一節為一寸。亦有長短不定者，即取手大拇指第一節橫度為一寸，以意消息，巧拙在人。《外台方》亦同上法。又一云：三寸者，盡一中指也。《聖惠方》云：今取男左女右手中指第二節，內度兩橫紋相去為一寸。自依此法，療病多愈。今以此為定穴取寸，石藏用亦用《聖惠方》為準。以蠟紙條子或薄篾，量患人男左女右手中指中節橫紋上下相去長短為一寸，謂之同身寸(若曲指節旁取指側中節上下兩交角相去遠近為一寸。若伸指即正取中指自上節下橫紋至中節中，從上第二條橫紋長者相去遠近為一寸。當曲指一寸長短，亦相符合。然人之身手指，或有異者。至於指紋亦各不同，更在此意詳度之也。)此折紙篾與同身寸相等為六寸，逐寸以墨界之，勿令長短，有所出入不同，截斷收之，俟以此量灸穴。自脊中第四　下停，分兩旁各三寸為膏肓　，足太陽膀胱經脈氣之所發也。</p>
<p><a href="_files/p06-d16a1.bmp">蠟紙樣</a></p>
<p><a href="_files/p06-d16a2.bmp">竹篾樣</a></p>
<p><a href="_files/p06-d16a3.bmp">手厥陰經圖</a></p>
<p><a href="_files/p06-d16a4.bmp">手太陰經圖</a></p>
<p><a href="_files/p06-d16a5.bmp">屈指量寸法圖</a></p>
<p><a href="_files/p06-d16a6.bmp">伸指量寸法圖</a></p>
<h2>正坐伸臂法第二</h2>
<p>令患人用墩椅正坐，兩足平蹋至地，膝與髀股高下俱平，兩足相並，足趾前齊，盡脫去上體衣服(若不盡脫，則衣袖束臂，不能使胛骨相離，取穴不得。若氣怯畏寒，則反著衣，以臂穿袖，令領在胸前頸下，以襟交覆腰間，墨點定穴。灸時更著背心，以帶束近穴處，勿令與坐炷下火相礙。)曲脊伸臂，以兩手按膝上，令中指當膝蓋中，兩大指緊相並，指頭與膝蓋骨前齊，微用力直舉。腕中勿令斜屈動搖(段彥聰仲謀大夫云：石藏用謂以左手按右膝，右手按左膝，則胛骨開。嘗試用其說，則兩手相交，腕有高下胛骨亦蹈之，偏側當止，如舊法以左手按左膝為是。)</p>
<p><a href="_files/p06-d16a7.bmp">正坐伸臂法圖</a></p>
<h2>揣骨定穴高下法第三</h2>
<p>令患人正坐，曲脊伸臂。以指揣項後脊骨，自第一　至第五　(更有大　，在第一　上宛宛陷中，非有骨也。有骨處即是第一　，二字《千金方》古方並作「椎」。王惟一校定《明堂經》改木旁為佳。)逐　以墨點記之，令上下端直分明(墨點訖，便以蛤粉　干，即免有擦動。)自第四　至第五　，更以蠟紙或篾，比量兩　上下相去遠近，折為三分，亦以墨界脊上　間，取第四　下二分微多，第五　上一分微少，用濃墨圈定，此是灸穴。相去六寸之中，以為兩穴高下遠近之準(《千金方》謂穴近第五　，用準望取之，故謂　上三分之一也。)更量兩　，相去則同身寸一寸三分七厘微縮。有無大段，長短不同，以參合《甲乙經》自大　至脊　並二十一　，共長三尺之法，若　骨分明，縱有不同，穴以　數為定。</p>
<p>若以大　至尾　骨三尺法校之，則令其人平身正立，用勁直杖子，以地比度至臍中心截斷，回杖子於背上，當脊骨中杖子盡處，即是第十四　下，第十五　上，當中命門穴也。又自命門穴上，以同身寸量一尺三寸五分，即是第四　下九分七厘，第五　上四分，其兩旁各三寸，乃膏肓　穴也。若自第一　比向下，則當同身寸五寸一分有餘是也。然人身上下停長短各自不同，大概當以　骨為定也。王冰注《素問》云：脊節為椎，脊穹為　。</p>
<p><a href="_files/p06-d16a8.bmp">揣椎骨定穴高下法</a></p>
<p><a href="_files/p06-d16a9.bmp">量臍心法</a></p>
<p><a href="_files/p06-d16a10.bmp">量命門穴上尺寸法</a></p>
<h2>定穴相去遠近法第四</h2>
<p>用先截量下同身六寸蠟紙或篾，橫置脊骨第五　上中央，墨圈定處。令寸數界盡當墨圈中心兩頭，平直各三寸，勿令展縮，於紙篾兩頭盡處，以墨圈之。令圈大小直徑三分(《千金方》云：黃帝曰，灸不三分，是謂徒灸。炷務大也，小弱炷乃小作，以意商度之。小謂小兒，弱謂虛弱之人也。)一半在紙篾頭內，一半在紙篾頭外，令與脊中第五　二墨圈定高下處。</p>
<p>三圈相直，以為兩穴相去遠近之準。</p>
<p>定穴相去遠近之圖</p>
<p><a href="_files/p06-d16a11.bmp">艾炷大小樣式</a></p>
<h2>鉤股按穴取平法第五</h2>
<p>又用前量同身寸紙篾，自脊中第五　上中央，墨所圈處，照脊骨端直向下，比量四寸，至第七，以墨點記。自墨點卻兩邊向上斜量至灸穴圈中心，使各恰當同身寸之五寸，以為兩穴高下平直之準。</p>
<p><a href="_files/p06-d16a12.bmp">鉤股取穴之圖</a></p>
<p><a href="_files/p06-d16a13.bmp">鉤股按穴取平法圖</a></p>
<h2>參驗求穴法第六</h2>
<p>令患人平身正坐，自以右手從右肩上住附項，伸指直搭背上，以墨記其中指指頭所及處。左手亦然，記之。又以胛骨上角摸索至胛骨下頭，其間當有四肋三間(其四肋自胛骨橫排至脊骨上，用力按摩。如覺隱指，是筋而非骨。《千金方》謂，筋間空處，疑四肋肋字為誤。而王惟一於《銅人灸經》中，又並改筋間為肋間，及以右手從右肩上住亦同。《千金翼》改為左肩上住，若以右手搭左肩，則指之所及在第五椎下，去穴甚遠，皆非是，當以方為正也。</p>
<p>)灸穴當三間之中。依胛骨下容側指許，摩KT　肉之表，於筋間空處穴上按之。自覺牽引胸肩中，(《千金翼》云：牽引肩中，石藏用人用篦子或筋頭按穴欲其堅實，令患人易覺也。)及照所圈灸穴，在先記患人指所及處之下，或旁側指不可及處，以驗穴之是非。然指有短長，膚有豐瘦，若相合固善。如不合，即不可以此一端，遂廢余法。亦有人胛骨去脊骨相遠，過同身寸三寸以上者，即難用脊　兩旁各三寸之法，但求四肋三間之中，依胛骨下容側指許為穴可也。</p>
<p><a href="_files/p06-d16a14.bmp">參驗求穴法</a></p>
<h2>坐點坐灸法第七</h2>
<p>坐炷下火時，令患人一依點穴時，正坐伸臂、頭、項、肩、背、手、足、腕、膝不得少有欹側，伸縮改易。即及臂中舉按用力輕重，亦常令勻。若一事稍異於前，胛骨便輒相近，覆閉灸穴艾炷，即在骨上；或胛骨開而相遠，動爭寸余，火氣不入穴竅，徒受苦楚，無所益也。</p>
<p>若不失其穴，灸至數壯，覺胛骨中通熱而不甚痛，意自快暢(石用之云：當覺臂中習習然也。)至數十壯後，或若腕中酸辛，若以機支，或用軟帛於肘上腕中連束二臂，令緩急得所，亦能少助。蓋手欲按而臂欲舉，故腕中費力，或少休頃刻亦無害，但要安頓身體四肢一如前耳。如日灸五十壯，累至數百為佳。《千金方》云：灸六百壯，至千壯，當覺氣下礱礱然如流水狀，亦當有所下，其治疾之效甚眾且敏(有上氣喘滿，即時平減者，有婦人經候不通已八月，灸兩日而下者，如此之類甚多。)穴至在上而最能下氣，非它穴藥石之比，而又無所不治，有疾者宜留意焉。</p>
<p><a href="_files/p06-d16a15.bmp">坐點坐灸法圖</a></p>
<h2>石用之取穴別法第八</h2>
<p>石藏用，字用之，京師大醫也。其治療方術一從古法，亦多為人灸此穴。其取穴法：令患人床榻上盤膝正坐，隨人之肥瘠大小，置栲栳或墊枕之類，以衾絮冒之。令兩臂相交，平伏其上，余亦相同。乃用《千金方》不能久坐伸臂使伏衣袱上之意也。其用堅物云，欲大小高下常定勝於衣袱。但臂之伸屈，與古異耳，其治皆效。蓋醫者意也，隨事增損，初無定方。孫真人笑秦緩之拙，不能求得此穴，但知針藥之不及，不知火氣之能徹，則求之浸巧，是不為過也。</p>
<p>紹興已未歲，余守武昌時。總領邵戶部玉云：少時病瘵得泉州僧為灸膏肓，令伏於栲栳上，僧以指節極力按尋其穴，令病者覺中指麻乃是穴。若指不麻，或雖麻而非中指者，皆非也。</p>
<p>已而求得之，遂一灸而愈。壬戌四月，增記於此。</p>
<p><a href="_files/p06-d16a16.bmp">石藏用取穴別法圖</a></p>
<h2>葉潘等取穴別法第九</h2>
<p>葉余慶，字無善，平江人。自云：嘗病瘵疾，其居對橋，而行不能度。有僧為之灸膏肓穴，得百壯。後二日，即能行數裡，登降皆不倦，自是康強。其取穴法，但並足垂手，正身直立，勿令俯仰，取第四椎下兩旁同身寸各三寸。灸時以軟物枕頭覆面臥，垂手附身，或臨時置身，取安便而已。其轉為人灸，亦用此法，云皆有功。然與昔人取穴之法甚略，又與《千金方》立點則立灸之說不合，歐陽典世行之，陳了翁瑩中婿也，了翁得無為張濟針術，其求穴尤妙，嘗為行之灸膏肓俞，故痕可見，以葉所言，校之葉穴微下，蓋脊有曲直之殊，不能無少異也。又常熟縣醫工潘琪云：渠傳之於師，取穴之法：正坐曲脊，並足而仰兩手，令大指與臍屈肘當髀股上亦自是。其說雖與《千金方》伸臂令正直之法不同，然比立點則近古矣。</p>
<p>又衢州開化縣，普鑒院僧仲聞，得取穴二法：其一正坐堅立，兩膝當乳，以兩臂還抱，屈手向膝，以左手頭指以指捏左膝眼，右手指亦然，於背上數椎骨量穴，依此坐灸。又法：正坐立膝，同上以臂貼膝外，直伸向足，豎兩手相背，以二頭指向身，手捏兩足大趾頭歧間，余亦如上。其比同身寸只用伸指法，似亦可用。今俱存之，不特以備見聞之博。且使後人較其短長知所適從，不為異端所惑心。</p>
<p><a href="_files/p06-d16a17.bmp">葉元善取穴法圖</a></p>
<p><a href="_files/p06-d16a18.bmp">葉元善臥灸法圖</a></p>
<p><a href="_files/p06-d16a19.bmp">潘琪仰手曲肘取穴法</a></p>
<p><a href="_files/p06-d16a20.bmp">僧仲聞取穴前法圖</a></p>
<p><a href="_files/p06-d16a21.bmp">僧仲聞取穴後法圖</a></p>
<h2>灸訖補養法第十</h2>
<p>孫真人云：此穴灸訖，令人陽氣康盛，當消息以自補養，取身體平復。其補養之道，宜食溫軟羹飯，毋令太飽，及飲啖生冷、油膩、黏滑、鵝、豬、魚、蝦、筍、蕨、其他動氣發風之物。並觸冒風寒暑濕，勿以陽氣乍盛輒犯房室。如覺氣壅，可灸臍下氣海、丹田、關元、中極四穴中一穴；又當灸足三裡，引火氣以實下。隨病深淺，加以歲月將息，則可保平復。不然，是猶倚一木以支大廈之傾，又發而去之，其終從晉候之歸，非灸之罪也。</p>
<h2>跋</h2>
<p>余自許昌遭金狄之難，憂勞危難，沖冒寒暑，過此東下。丁未八月，抵泗濱，感　瘧。</p>
<p>既至琴川，為醫妄治，榮衛衰耗，明年春末，尚苦　腫腹脹，氣促不能食，而大便利，身重足痿，杖而後起。得陳了翁家專為灸膏肓俞，自丁亥至癸巳，積三百壯。灸之次日，既胸中氣平，腫脹俱損，利止而食進。甲午已能肩輿出謁，後再報之，仍得百壯，自是疾證浸減，以至康寧。時親舊間見此殊功，灸者數人，宿　皆除。孫真人謂：若能用心方便，求得其穴而灸之，無疾不愈，信不虛也。因考醫經同異，參以諸家之說，及所親試，自量寸以至補養之法，分為十篇，並繪身指屈伸坐立之像圖於逐篇之後。令覽之者，易解而無徒冤之失。亦使真人求穴濟眾之仁，益廣於天下也。建炎二年二月十二日。</p>
<p><u>都總管同干辦公事賜緋魚袋莊綽記。</u></p>
