<header><h1>肯堂醫論</h1></header>
<dl class="元資料" data-type="book">
<div><dt>作者</dt><dd>王肯堂</dd></div>
<div><dt>朝代</dt><dd>明</dd></div>
<div><dt>年份</dt><dd><data value="1602">公元1602年</data></dd></div>
</dl>
<h2>卷上</h2>
<h3>痘疹發微</h3>
<p><u>溯源</u></p>
<p>　痘診之症，不著先秦古書，故溯流窮源，類多未定之見。有謂在母腹中時食穢血而致者，有謂在交媾時欲火所鐘者，蓋皆胎毒也。宋元以來，醫家之說大抵皆然。而近又有天行疫厲與傷寒同，則是外感了，與胎毒無干，不知傷寒之病，人有不患之者；而痘則人人不得而免。傷寒則既病之後，不能保其不再病；而痘疹一出之後，永不復出。如此，則所謂胎毒者，是也。然食穢之於欲火，自有男女以來即有之，何此不見於漢以前，而特於建武以後始有之，豈建武以前獨無胎毒耶？曰：痘疹之症，其始也，未有不本於胎毒；而其既也，未始不成於外感。惟其本於胎毒，故人人不得而免；惟其成於外感，故特見於建武之後，而建武以前無見也。經云：不平之溫熱者瘡。蓋上古之時，風氣未漓，稟受素濃，即有胎毒，自能內消。寒涼之地，腠理閉秘，疫厲難侵；溫熱之方，風氣平安，瘡亦不作，故未聞有患痘者。至建武時，胡虜極西北之人，到南方溫熱之地，腠理開通，偶感時行疫厲之氣，觸動在胎時所受溫熱毒，發為此瘡，所傳染無一得免，而痘症著矣。即如俗所云楊梅瘡者，亦起近代，亦能傳染，其一發之後，不復再出，又與痘同。蓋人在氣交之中，故痘疹由外感而成者，類能傳染，惟莫開其端，則其症不著，要未可以執一論也。惟內染外感，相搏而成，故欲發之初，未見紅點之際，以微汗散之，未有不愈者。失此不汗，至於將出未出之時，其勢已成，更欲汗之，虛者不能成漿，實者必成斑爛矣。可不審哉。</p>
<p>痘疹始於胎毒，繼感瘟疫外邪，引動伏毒，勢若燎原，危險萬分，互相傳染，為害閭閻，所以喻氏為之。痘因溫疫而發，按外感六經而治，所以擇無疫之時宣泄，可收十全，萬密齋言之最精，管檉亦良，《痘診定論》補方尤妙。近有引種法，由占拿氏發明原理，百無一失，僅行於粵東，尚未廣布宇內。江浙之人，疑信相半，惜乎不能開通，奈何！能治外感疫厲，即能療痘瘡，喻氏創之於前，是濟世之苦心，奈庸俗不知何！按：近牛苗引種之法已普遍。</p>
<p><u>預防</u></p>
<p>　預防之藥，如古方油飲子、辰砂散、龍骨膏之類，人多用之未有效者，痘固不可以預治耶？然不治已病治未病，亦醫所宜知。故凡值天時不正，鄉邑痘瘡盛發，或遇冬溫陽氣暴泄，至春夏之時，瘡必大行，宜預以涼血降火之藥治之，則多者可少，少者可無，亦或有此理。今以經驗一方附於後：</p>
<p><u>代天宣化丸</u></p>
<p>人中黃（屬土，甲已年為君）　黃芩（屬金，乙庚年為君）　黃柏（屬水，丙辛年為君）</p>
<p>梔子（屬木，丁壬年為君）　黃連（屬火，戊癸年為君）　苦參（佐）　荊芥穗（佐）　防風（去蘆，佐）　連翹（去心，酒洗，佐）　紫蘇葉（佐）　牛旁子（酒淘，炒，佐）　山豆根（佐）</p>
<p>先視其年所屬，取其藥以為君，其余主歲者為臣。為君者倍之，為臣者半之，為佐者如臣四分之三。於冬至日修合為末，取雪水煮升麻，和竹瀝，調神麯為丸，外用辰砂、雄黃為衣。竹葉湯送下（按：此方即無效，亦無損）。</p>
<p><u>制人中黃法</u></p>
<p>　取甘草大者，不拘多少，用新竹一節，納入甘草，仍緊塞無節空處，尿缸中浸七七日，取出晒乾，聽用。消毒丹、辰砂（飛過）、絲瓜（近蒂者，三寸，燒存性，為末），上各等分。</p>
<p>周歲以下一錢，一歲以上者二錢，蜜調下。或將鴿子及雄者煮熟，以辰砂搽上，令兒服之，亦可。</p>
<p>上二方大抵以涼血為主。余友孫元博又以生地黃、金銀花、川山甲主之，亦妙。蓋二藥能涼血，而川山甲能水能陵，又可以引二藥貫通經絡而無閼也。</p>
<p>若人脾胃素弱者，更宜調其胃氣，適其寒溫，節其乳食，間以六君子東加枳實、砂仁、木香之類與之，使胃氣和暢，榮衛流通，其瘡易出，亦易靨也。如或稟受元虛，則又宜以滋補化源為主、微兼涼血之藥，如生地、金銀花之類，氣血既旺，雖即毒盛，亦自無妨。不宜過服涼解之劑，要在融通而已。</p>
<p>當痘疫未起之年，或天時不正、溫疫流行之際，預服涼血降火之藥，減泄伏毒，自能減輕伏邪，確有此理。余在京師旅館，有滇南普耳莫君，亦來會試。談及該處有神皇豆，能迎養供奉之，其所過之街，痘疹不作、作者可免夭隕，真神物也，相傳系神農手植。並蒙贈一粒，試之果驗。此言世人罕知，今特記之。</p>
<p><u>論痘起足太陽</u></p>
<p>　痘疹之症，大抵自足太陽經傳變中來。蓋痘疹雖非外感，卻是因外感而發，故陽經先受病。與傷寒同。錢氏謂五臟各有一證：呵欠伸悶，肝也；時發驚悸，心也；乍涼乍寒，手足涼者，脾也；面目腮赤，咳嗽時嚏者，肺也；惟腎獨無症，以其位在下，不受穢也。此說似是而非。夫痘固毒甚，然亦自經絡中受病，苟非壞症，豈有徑爾入臟之理！至於腎獨無症，耳、尻、足稍加冷之故。則以痘本火毒，而腎為水臟，水能克火，故火不敢侵之，非以其不受穢也。子在母胎之時，腎實系之，徹始徹終，皆腎用事，設有穢毒，腎當先受矣。然則緣何而知其自足太陽起也？曰：《靈樞‧口問篇》治欠伸及嚏，俱補足太陽，是知欠、嚏皆太陽候也。《素問》又曰：歲水太過，寒氣流行，病煩心燥悸。寒水夾脊逆流，上逆丙火，正寒氣流行之謂也。寒水逆丙火於面上，故面腮俱赤。是驚悸、腮赤，又太陽候也。至於咳嗽、寒熱，則傷寒初起之對，亦多有之，未聞其以此遽謂為臟病也。曰：既與傷寒同，自太陽來，則何以無頭痛、項強、骨節痛之症？曰：此屬溫熱，受病既殊，辨症亦異也。</p>
<p>痘因外感引動伏毒而發。太陽，通體之經，故陽經先受，其始必由太陽，亦自然之理也。西士占拿氏發明引種法，以泄手少陽之毒，引種後永不復出，是良法也。</p>
<p><u>論汗下</u></p>
<p>　痘瘡未出，疑似之間，不可妄用汗、下之藥。蓋妄汗則虛其表而難成，妄下則虛其裡而易倒陷也。然亦語其平，示人精審耳。若語風寒外襲，應出不出，則汗劑亦可用也。如大便連日不行，煩悶狂躁，不與下之，寧不夭人生命哉！是下劑亦可用也。況有不止於此者（明表裡，別虛實。在表宜汗，在裡宜下，補偏救弊，轉危而安，亦治法之權衡，虛實之妙用也），《體仁匯編》云：痘瘡逆者，宜以保元東加牛旁子、芩、連、玄參、絲瓜灰、芎、歸、連翹各五分，陳皮桂三分，白芍藥一錢，防風、羌活、荊芥、前胡各三分，薑、蔥煎服取汗，以泄其毒，開其滯澀。若七八日內，病勢沉重，色白毒深，又用保元湯兼大黃、芒硝、枳實、朴、芎、歸水煎，大下之，則裡虛而毒反內攻；在裡而汗之，則表虛而毒益難出。氣血既實，毒雖盛而不足以勝其氣血，則汗、下以泄其毒，而病自去矣。若氣血虛而毒反勝之，則不惟虛人禁汗，即毒盡泄去亦決不能存活，徒負殺人之謗耳，要當精審也。</p>
<p><u>辨虛實</u></p>
<p>　不食，氣促，腹脹，吐利，為裡虛，四君子東加減，甚者木香散。反此則實，不必服藥。若臟腑熱甚，大便秘，小便赤，腹滿而喘，掌心並腋下汗出，誕言妄語，渴飲水漿，能食，而不結痂，宜以承氣湯下之。身涼，痘瘡根窠不紅，頂陷，為表虛，黃　建中東加減，甚者異功湯。反此則實，不必服藥矣。</p>
<p>吐利，氣促，腹脹，為裡虛；腹滿而喘，二便秘，譫狂，口渴為裡實。細心討論，虛實判然矣。</p>
<p><u>驗輕重</u></p>
<p>　發熱輕則毒瓦斯輕，故報痘亦輕；發熱重則毒瓦斯重，故報痘亦重。輕者不必言治，重者宜先解表，涼血解毒次之，及痘既出，便當溫補氣血，以助其成漿收靨。失此不治。</p>
<p>六日之後，無能為矣，審之，慎之！又有兩耳後紅筋起，明潤者，其痘必輕；若紫紅筋起而晦暗者，其痘必重；若大紅雖微帶紫，而色明潤者，痘雖重無事，二者急用解毒涼血之藥投之，亦重而變輕矣。</p>
<p>察驗耳後紅筋以辨輕重，最為明顯易從。</p>
<h3>驚風</h3>
<p>《治法心要》云：常見一老醫言：小兒驚搐，多是熱症，若先便用驚風藥白附子、全蠍、薑蠶、川烏之類，便有壞症，後有醫幼科藥，只作導赤散加地黃、防風，進三服導去心經邪熱，其搐便止，次服寧神膏，神效。《治幼心書‧序》云：五苓散，在諸家止用之解傷寒溫濕、暑毒、霍亂，而德顯於驚風、痰搐、瘡疹等疾，通四時而用之。前同知衡州府事胡省齋，因其子驚風得疾，問之曰：五苓散何必愈此疾乎？德顯曰：此劑內用茯苓，可以安此心之神；用澤瀉導小便，小腸利而心氣通；木得桂而枯，足能抑肝之氣而風自止，所以能療驚風。施之他症，亦皆有說。省齋深然之。此其善用五苓散也。</p>
<p>小兒驚風搐掣，醫者視為一病，輒以金石、片腦、麝香、蜈蚣、僵蠶、蛇、蠍等劑，非徒無益，反增他症。德顯則謂：有驚風而搐者，有風鬱而搐者。驚屬心，風屬肝，而鬱於氣者亦有搐，陳氏所謂蓄氣而成搐者是也，但未著其方。余因驚風，則隨症施治。若氣鬱而搐者則用寬氣治之，以枳殼、枳實為主。嘗因患搐者倉卒求藥，教服鋪家散，而搐亦止，病家深感之，此又治搐之特見也。</p>
<p>驚者，痙也，痙有虛實之分，剛柔之別。急者宜清汗滌痰，世俗名曰急驚；緩者宜扶脾益氣，俗謂慢驚。切忌妄用針刺，並誤投金石毒烈之品。粵省錢澍滋回春丹馳名中外，然僅能治急症，若慢症誤用，立見危殆。其仿單夸耀專治急、慢驚風者，是欲一藥統治諸病，欲廣招徠，豈不知無心殺人，已干天譴。奉勸該號速將仿單更正，造福無窮，生意從此發展，是所濃望焉。</p>
<p>按：小兒吸受外邪，先傷肺經，起自寒熱、氣粗，久延漸入心胞絡，雖有微汗，而痰多、鼻煽、煩躁、神昏，切忌妄投辛香金石重劑，以致陰液消亡，熱勢愈熾，正氣愈虛，肝風陡動，則肢掣目竄，痙厥生矣，慎勿誤認驚風，致多傾敗。若能於病未猖撅之先，用辛涼開肺，繼以甘寒化熱、潤燥、降痰，旬日自能平復。余歷驗多人，挽回謬誤不計其數，特將溫邪陷入，內耗陰液，肝風妄動，實非驚恐致病。每見病家惶亂，醫者庸昧，妄投驚藥，輕者重，重者死。</p>
<p>憶自喻氏辟之前痙病之名，不啻大聲疾呼，今尚不能挽狂瀾於既倒，則草管人命，何忍緘默也矣。</p>
<h2>卷中</h2>
<h3>論望色</h3>
<p>望色之法，明瑩者吉，昏晦者凶。然陳希夷云：凡色之無光者，不足謂之色。蓋光即虛色，災喜皆不成，不必斷也。然則望色者，必於有光中分別明晦，以定吉凶，然後可耳。春青、夏赤、秋白、冬黑，以四時判之，得時者生，失時者凶。四色之中，又須常帶黃潤之色乃佳，脾氣無不在也。準頭赤，肺中有火；耳半黑，腎中有邪；年壽赤，則心火炎；眼下青，則脾氣逆也，由此而推，思過半矣。鼻準黃明，脾氣強也；鼻尖青黃，淋也，白者亡血也，赤者血熱也。</p>
<p>望而知之為之神，《內經》明堂篇言之詳矣。</p>
<h3>論芤脈</h3>
<p>芤脈，今人多不諳其狀。《脈訣》云：兩頭有，中間無。遂滋百世之惑。或云：無芤脈，非也。芤者，草有孔之名。</p>
<h3>論人參</h3>
<p>人參（君）氣溫味甘，甘而微苦。氣味俱輕，陽也，陽中微陰。無毒。白茯苓、馬藺為之使，反黎蘆，惡溲，疏鹵鹹。出上黨、遼東者佳。其根狀如防風而潤實，春生苗，多於深山中背陰近假漆下濕潤處。初生者三四寸，一椏五葉；四五年後，生三椏；年深者，生四椏五葉。</p>
<p>中心生一莖，俗名百尺杵。三月四月有花，細小如粟，蕊如絲，紫白色。秋結子或七八枚，如大豆生青、熟黃，又紅。自二月、四月、八月上旬探根（李言聞考人參生於陰濕樹林之中，著</p>
<p>《人參考》言之詳且晰矣），竹刀刮去土，暴干，無令見風。如人形者神。</p>
<p>又雷公云：大塊類雞腿者良。而今人又以瑩、堅、潤為上，有金井玉蘭之號。</p>
<p><u>炮制</u></p>
<p>　凡用，勿取高麗及色枯體虛者。采得去蘆用，如不去，能吐人。又丹溪云：若服人參一兩，入蘆一錢，則一兩之參徒費矣。戒之。</p>
<p><u>主治</u></p>
<p>　《本經》云：味甘微寒（寒字誤）。主補五臟，安精神，定魂魄，止驚悸，除邪氣，明目，開心益智，久服輕身延年。一名金銜，一名鬼蓋。按：五臟之正氣不足，而亂氣乘之，則心神為之不寧，故令虛勞之人夢寐不安，神不守舍。人參所以安精神、定魂魄、止驚悸，以其能補五臟之正氣也，正氣復則邪氣除矣。而時師類於補氣之外，另求所謂清鎮之藥者，謬矣。</p>
<p>療腸胃中冷，心腹鼓痛，胸脅逆滿，霍亂吐逆，調中，消渴，通血脈，消胸中痰，破堅積。治肺氣不足咳嗽，止煩躁，變酸水，殺金石藥毒，令、人不忘，患虛而多夢，俱用之。</p>
<p>潔古云：治脾、肺陽氣不足，及肺氣喘促，短氣少氣，補中暖中，瀉脾、肺、胃中火邪。然非升藥引用，不能補上升之氣。升麻一分、人參三分為相得也。若補下焦元氣，瀉腎中火邪，茯苓為之使。又云：補虛用之，又能補胃，治咳嗽則勿用，短氣則用之。東垣云：人參甘溫，能補肺中之氣。肺氣旺則四臟之氣皆旺，肺主諸氣故也。仲景以人參為補血者，蓋不自生，須得生陽氣之藥乃生，陽生則陰長，血乃旺矣。若陰虛單補血，血無由而生，無陽故也。</p>
<p>又云：治中湯同乾薑用，治腹痛、吐逆者、裡虛則腹痛，此藥補之，是補其不足。又云：補氣用人參，如氣短、氣不調及喘者加之。</p>
<p>海藏云：人參味甘溫，調中益氣，即補肺之陽，瀉肺之陰也。若但言補肺，而不論陰陽、而寒熱、何氣不足，誤矣。若肺受寒邪，宜此補之；肺受火邪，不宜用也。肺為天之氣，即手太陰也，為清潤之臟，貴涼而不貴熱，則其為寒象可知。若其傷熱，則沙參。沙參味苦、微寒，無毒，主血積精氣，除寒熱，補中，益肺氣。治胃痹心痛結熱，邪氣頭痛，皮間邪熱，安五臟。</p>
<p>人參味甘微溫，補五臟之陽也；沙參味苦微寒，補五臟之陰也，安得不異。易老取沙參代人參，取其苦也。苦則補陰，甘則補陽。《本經》雖云補五臟，亦須各用本臟藥相佐，使隨所引而補一臟也，不可不知。</p>
<p>近世用人參者，往往反有殺人之害。富貴之家，以此為補元氣之妙藥，其身欲壑太過，藉參補養，每見危殆者，乃不明當用不當用之過也，況雜入溫補劑中，則尤謬矣。世人僅知用參之補，而不知行氣，徒形壅塞，不能流通矣。余用參一錢，必加陳皮一分，取效敏捷，參看治驗錄，即知其用法。</p>
<p>按：《主治要訣》謂：人參之用有三：補氣也，止渴也，生津也。補氣不必言，何為生津而止渴？蓋脾氣輸於肺，肺氣下降，津液乃生，猶蒸物然，熱氣熏蒸，旋即成液，故氣不足則渴，補其氣則津生而渴自止矣。能消痰、變酸水者，脾氣不足，不能運化精微，故蓄而為飲，以人參補之，治其本也。療腸中冷者，氣為陽，陽虛則內寒，而人參補氣也。止腹痛者，補裡虛之效也。破堅積者，養正氣，積自除也。止燥煩、治夢紛紛者，本經安，精神定，魂魄之功也。又人參助肺氣，何謂能治喘嗽？人參實元氣，何為能治逆滿？此蓋為因虛而致者。言正氣奪而用之，則為補虛；邪氣盛而用之，則為實實，要在精審而已。故潔古又云喘嗽勿用，戒實實也。余治一人喘嗽，服瀉肺藥，益甚；投以人參，一服而止，非謂喘嗽概不可用人參也。胸脅逆滿，反胃吐逆，邪氣方盛固不可用人參；然傷寒、雜病下後亡陰，胸中之氣因虛下陷於心之分野，而致心下痞者，用導氣之藥，則痞益甚，須用人參補之。故仲景治胸痹，以人參湯主之，若實者，則宜枳實薤白桂枝湯也。胃虛穀氣不行，胸中閉塞而下區者，用辛藥瀉之，則嘔益甚，惟宜益胃，揚穀氣而已。故胃反嘔吐，小半夏湯不愈者，服大半夏湯與人參立愈。此仲景要訣也。今人不察病之虛實，不諳藥之補瀉，一遇喘滿、嘔逆之症，便謂有餘，雜以破氣之藥投之，妄言氣無補法，遂視人參若堇、鴆然，而病患亦遂束手待斃而無憾，可勝嘆哉！三復經文，不覺　縷。</p>
<h3>論犀角</h3>
<p>犀角，以黑如漆，黃如粟，上下相透，云頭雨腳分明者為佳。近人多巧偽，藥染湯煮，無所不至，然亦易辨。犀不可見日並貯，若犯之，則色理粗燥。凡蜜犀角嫩者，以鳳仙花染之。</p>
<p>犀有水、旱二種，以水犀為上。凡心、膽、肝三經之熱，允為良藥。</p>
<h3>雜記</h3>
<p>《夢溪筆談》云：醫用艾一灼，謂之一壯者，以壯人為法。其言若干，壯人當依此數也；若老幼羸弱，當量力減之，不可拘執以誤人。</p>
<p>余幼時見水蛭，惡而溺之數四，化為水。又一日見之，以蜜一匙滴之，即縮不動，久之亦化為水。嗣後雖經陰雨不復活。二物之能制蛭毒如此（物性相制之理，不可不知，以備一時緩急之需，亦不可少也）。而昔人有蛭者，醫者見之，乃極勞擾，惜乎其不知此也。又云：醫者所論，人須、發、眉雖皆毛類，而所主五臟各異。故有老而須白、眉發不白者，臟有所偏故也。大率發屬心，稟火氣，故上生；須屬腎，稟水氣，故下生；眉屬肝，故側生。男子腎氣外行，上為須，下為勢。女子、宮人無勢，則亦無須，而眉、發無異於男子，則知不屬腎也。又云：四明生奉真，良醫也。天章閣待制許元，江淮發運使奏課於京師，方欲入對而其子疾亟，瞑而不食，　欲逾宿矣。奉真視之，曰：脾已絕，不可治，死在明日。元曰：觀其疾勢，固知其不可救，今方有事，須陛對，能延數日之期否？奉真曰：如此事可。諸臟皆以衰，唯肝臟獨過，脾為肝所勝，其氣先絕，一臟絕即死。若急瀉肝氣，肝氣衰則脾少緩，可延三日，過此無藥也。乃投藥。至晚，乃能張目，稍稍復啜粥，明日漸蘇而能食。元曰：甚喜！奉真笑曰：此不足喜，肝氣漸舒耳，無能為也。後三日果卒。</p>
<p>所載各論，多采前哲指迷之言。以下高氏續補，乃增原書不及，細心研究。勝讀書十年，識者自知。</p>
<p>釀酒之時，寒之則甘，熱之則酸。酸則蛤粉、田螺之類投之，涼其熱也；甘則以　火綿包，而懸酒中，溫其寒也。又有酒酸而以官桂、砂仁之類救之，亦醫家從治之法也。</p>
<p><u>治大風眉發脫落</u></p>
<p>苦參（末，半斤）　生槿皮（末，四兩）</p>
<p>上煉蜜丸彈子大，每服一丸，日進三服，清茶送下。</p>
<p><u>治天泡瘡單方</u></p>
<p>用香滋一味。</p>
<p><u>治楊梅瘡毒</u></p>
<p>羌活　當歸　白芍藥　金銀花　牙皂（各五錢）　冷飯團（四兩，即鮮土茯苓）</p>
<p>共煎服。若加蟾蜍一只、陳酒四兩同煎，其效尤捷。</p>
<p>又治一婦，面目朝腫，腿足午後腫甚，六脈浮濡，諸治莫效，而乞余方治。此證由風濕而起，《內經》云：面腫曰風，足勝腫曰水。以麻黃、防風開表逐風，五苓利濕行水，十服諸恙俱瘳。</p>
<p>此即《金匱》所謂風水症是也。自此以下十三條，原抄本所載，殷氏校板則無，今從原本補入，以廣智識。</p>
<p>又治一婦，面目、周身黃如染金，腹脹氣促。始由果齋用仲景梔子柏皮湯治之，不應。</p>
<p>余診脈濡而沉，此屬濕蘊日久，水竄腠理，未能外達，郁濕化熱而發黃，投以茵陳蒿東加梔、柏、大黃，以泄濕熱，外用金麟黑脊活鯽魚七尾，剪魚尾貼臍之四圍，當臍勿貼，干則易之，未及四時，水由臍出，其黃漸退，如是旬日厥疾以瘳。</p>
<p>按：此法捷效。（壽）仿其方法，屢治屢驗，緣世罕見，今特志之，以啟後迸。然此方《準繩》中未載，偶閱《秘旨》，有一方與此仿佛。後質之椿田，亦云李冠仙用之，亦效若桴鼓，第不知始自何人，容再查明，以待博雅教政（瀾志）。</p>
<p>果齋治婦人吐血盈盆，諸藥罔效，因思前哲有以血導血歸源法，囑其取吐出之血，瓦器盛之，候凝，銅鍋炒血黑色，以綿紙盛放地上一周時，出火毒，研極細末，用鮮側柏葉五錢，麥冬一錢煎湯，調血炭末五分，二三服，血自歸源。屢驗屢效。又，治吐血宜用苦寒者，有戒用苦寒者，尤當隨症擇用，未可執一以誤人也。</p>
<p>《樓氏綱目》治吐血，皆用諸藥炭，亦頗捷效。今以血導血歸源，亦師其意而變化敏捷，取效昭著。</p>
<p>按：余治一婦，吐血傾盆，數日不止，目閉神昏，面赤肢軟，息粗難臥，脈左沉、右洪，重按幸尚有根，此鬱火久蒸肺胃，復緣暑熱外逼，傷及陽絡，致血海不斂，危在頃刻。因思止血諸藥，著寒者多投之，必嘔，乃變通成法，先用甘寒，冀其人胃清、上血止，再商二貼血止，亦創見也。服後夜寐甚安，血止，神清，惟神倦懶言，奄奄一息。脈雖稍平，右愈浮大無力。此血去太多，恐延虛脫之患，經云：血脫者，益其氣。遂師其意用人參（七分，秋石水拌）、黃（七分，黃芩水炙黑）、歸身（一錢，炒黑）、懷山藥（錢半）、茯苓（三錢）、大麥冬（錢半，去心）、蒸北五味（七粒），和入甘蔗汁、梨汁、藕汁，服三帖，食進、神健而瘳。觀此，知病有虛實，體有強弱，本難執一。但今人吐血，挾虛者多，而醫者輒用苦寒，是昧於虛實，宜乎得愈者少而夭枉者多矣。今將八汁飲方附後，以備明哲商酌而教正之幸甚。又方：甘蔗汁、藕汁、蘆根汁（各一酒杯）、白果汁（二匙）、白蘿卜汁（半酒杯）、梨汁（一酒杯）、西瓜汁（一酒杯，生沖）、鮮荷葉汁（三匙），七汁和勻，隔水燉熱，沖入瓜汁，不住口緩緩頻飲。凡屬虛火，轉危為安，用之屢效。若非夏令，無瓜、荷二汁，即以梨、藕二汁，倍用天冬、百合榨汁，亦可代之。前方中人參價昂，可用真西洋參一錢五分代之。</p>
<p>消渴一症，今醫慣用涼藥，愈治愈劇。間閱孫東宿治一消渴，小便色清而長，其味甘，脈細數。用腎氣丸加桂心、北五味、鹿角膠、益智仁而效。又一人，喜熱飲而惡涼，大便秘，小便清長，夜尤甚，脈浮按數大，而重按更無力。余思此病，由火不能制水，故飲一斗，小便亦一斗，《金匱》言之詳矣。今師其意，不泥其方，用腎氣丸減車前、牛膝，加益智仁、人參膠糊丸，服逾月而痊。</p>
<p>按：消渴症小便多者，皆由火虛難以化水、故飲一溲一，上見口渴，而水不消。小便多者，每用益火之源以消陰翳而獲效；若屬中消，每用黃草湯下其熱，又不可拘執成法而不達變通以誤人者。另有治驗，詳言之集，溢不贅，當參。</p>
<p>合脈症而研究，自獲桴鼓之應也。曾憶《秘旨》云：大凡消渴，服藥獲效，必須戒食鹽兩月，可免反復。若不能食淡，方藥雖良，終難永年。慎之，懍之！</p>
<p>《秘旨》云：溫熱愈後，余邪往往歸之於足，發熱腫痛，不亟治，則痛甚而死者多，至輕亦成殘廢，幸也，名曰截足風。今附驗方於後，以濟斯厄。</p>
<p>廣膠一兩，入糟、醋、薑、蔥汁四味，烊化成膏，攤綿紙或紅布上，貼患處，痛立止（糟入醋中，將糟鑿碎，調勻，濾出汁，去糟渣勿用。薑汁不必多，只用少許，蔥汁較薑汁多一半，糟醋汁須三四倍於蔥汁）。</p>
<p>按：此方曾治王木匠，年三十余，患溫熱二候，乞余治之，用白虎東加味而瘳，伊芳未服善後藥而赴工作。從事七日，發熱惡寒，兩足疼痛不能行、立，請同人抬至敝廬，診其脈洪大而兩尺濡細，知是溫熱余邪下注，已成截足風之危候。即用此方外敷、內服導赤五苓散以清余熱，僅三日而病如失。後又治多人。皆獲全瘳，今特拈出，廣為傳布。煎方以嫩桑枝五錢易桂枝，加淮牛膝三錢。鮮車前為引。</p>
<p>又云：切牙噤口，舌青面黑，汗出不休，手足寒過節，謂之真心痛。若全腦連齒皆痛，手足寒至節，謂之真頭痛。旦發夕死，百難治一，皆直中之危候。</p>
<p>按：真心痛症，曾治一人：證勢危，不忍坐視，用麻黃、附子、乾薑、桂心各二錢，豬肝煎湯，頻灌，漸次轉溫，死中求生之一法也。若真頭痛，急灸百會穴數壯，再用烏、附、參各二錢，薑濃煎，吞黑錫丹三十粒，非此猛劑，不足以追失散之元陽，而散其外真之寒邪。余遇一急痧，證勢仿佛，用上法以挽之而痊。皆屬三陰直中危證也。</p>
<p>又云：凡病之未現，可以預測其兆者，如手腳心熱，作渴，思飲茶水，或食已即飢，知將患發背；三年內眉眶骨痛，知將患厲風；如手指麻木三年來，必驟然中風。古人觀神、察色、審脈象而能先識其病，所以扁鵲知齊桓之疾不可為矣。則非神乎技者，不能步其後矣。</p>
<p>按：《內經》云：聖人治未病而不治已病。能知色脈，可以萬全，此之謂也。然今之醫不及也，每有症象昭著，顯而易見之　，尚游移不決，若是者等而下之也。</p>
<p>成無已曰：凡厥，若始得之手足便厥而不溫者，是陰經受邪，陽氣不足，可用四逆湯；若手足自熱而至溫，從四逆而至厥者，傳經之邪也，四逆散主之。至於六氣之感，異於傷寒之傳經者，惟舌較為可憑：陰症亦有黑胎、焦黃胎，然其胎必浮胖，或滑潤而不枯。皆辨症之要法，尤宜三復斯言。</p>
<p>按：醫病非難，難在疑似之辨，不可人云亦云，隨波逐流，誤人匪淺。余於六月中旬，治戴姓一證，體厥，脈虛，肢冷，周身赤點、隱於皮膚，口渴，譫妄。前醫不明，妄用辛溫回陽，幾危，因辨之曰：此乃陽症似陰之象。況時當盛暑，擬用溫熱急下存陰法治之，以西洋參三錢、錦紋軍三錢、枳殼一錢、生甘草八分、風化硝二錢和沖，服後得下黑矢如膠者甚多，小便赤澀亦減；以本方去硝黃，加連翹、山梔、銀花，數帖而安。若非力辨辛溫之誤，豈不死於庸俗之手。而人皆以三陰症而不疑，吾所以知非陰症者，因口渴、譫妄、欲飲、舌苔焦黃而燥、肢體厥逆，乃熱深厥深之現象，於是用河間溫熱例治之而愈。</p>
<p>虞天民治一婦，夜間發熱、早晨即退，五心煩熱，無休止已延八閱月。診其脈，六部皆數伏而牢，浮取全不應。與東垣升陽散火湯，四帖熱減其半，胸中覺清快勝前，連投二服，熱悉退。後用四物東加知母、酒炒黃柏，少佐炮薑，二十余服，熱不復作而瘳。</p>
<p>按：夜熱、脈數乃陰虛之候，若非明眼，直進滋陰降火而不疑，是抱薪救火矣。今因脈伏且牢、浮取不應，故用升陽散火得效。妙在炮薑合知、柏以清血分之熱，而與陰虛治法有間，所以名醫異於庸俗者此也。</p>
<p>《秘冒》云：一切感證，熱入心胞、神昏譫語者，每用犀角、羚羊角、連翹、金銀花、元參、生地、人中黃等味送下至寶丹，往往獲效。其有熱邪深入、發痙者，亦宜以此療之。世人遇小兒患此證者，妄謂驚風，用針刺之，走泄真氣，陰陽乖逆，轉致不救。</p>
<p>按：神昏譫語、發痙，由於溫熱、痰、暑轉變者多。世間無知女流，妄聽妖言，謂是驚風，以針挑之，病勢轉劇者，多誤人不淺。有等老媼或尼姑等，自名神於驚風，慣用挑刺，無知婦女奉之若神，以致雖受其害而不能知。特志之以示戒。</p>
<p>龔云林云：暑邪內干，往往忽然頭痛、惡心，或腹痛、腰疼、偏身作痛，不治之，神昏、痙厥，朝發夕斃。惟用白虎丸一服，當時血散而愈。較之砭刺之耗損其血，不若此丸敏捷神效。方用千年鍛石，刮去雜色泥土，研極細末，清水飛過，丸如桐子大。每服五十丸，視痧之輕重加減，燒酒送下，真神方也。</p>
<p>按：此丸順氣散血，化痰消渴，為治痧之仙劑。又治心腹痛，及婦人崩漏、赤白帶下，或久患赤白痢疾，跌打內傷，血不能散，服之均效。余恆合此丸以濟世，獲效果捷。千年鍛石不可得，用古墓中鍛石亦可。寒痧用酒、熱痧用開水溫服，隨證酌用，切勿拘執。然痧脹由於十二經清濁不分，流溢於奇經，致奇經脈現，則為病也，乃邪氣滯於經絡，每見刮刺，開通經絡，而效尤捷也。</p>
<p>《秘旨》載：目中起星，足氣中熱，宜將兩足浸溫水中，搓擦足心，引熱下降，初起亟治。</p>
<p>另用白蒺藜三錢，煎湯洗目，日四五次，屢驗。或用穀精珠代茶。數日即瘳。</p>
<p>按：目中起星，由於脾火上衝，肝熱挾風凝結。或用碧云散搐鼻，散滯氣，恆濯其足，使熱氣下降；或用新橘皮塞鼻中，約六時後即退。不可誤用寒涼點藥，致凝血不散，轉生云翳。慎之。</p>
<p>王光庵雜著云：中食之證，狀似中風，非詳究病因，難取捷效。曾治一人，忽得暴疾，口噤難言，目不識人，四肢不舉，急投蘇合香丸，不效。因詢其致病之由，曰：適方陪客，飲食後忽得此證。遂教以煎生薑淡鹽湯多飲，探吐之，吐出飲食數碗。後服白朮陳皮半夏麥芽湯而愈。此即食厥，若不問明致病之因，徒以痰藥、風藥治之，戕伐脾胃，而病日劇，是醫之過也。</p>
<p>按：中食之證，亦各有致病之因，未可拘執一端而論。余少時文期匆促，每飯後無暇散步，錄抄課藝，日無暇晷，飽餐後即倚案揮毫，因時患腹痛、胸膈滿悶、便秘、痞脹，食不知飢，服保和丸及查、曲、米炭等不效。有一老友云：三世醫驗中，潤字丸最妙。遂照方配合服之，便通，諸恙均瘳。陸氏潤字丸功效甚多，略舉數端以啟後進：凡溫熱、濕痰等症，量病輕重，隨宜增減分量，服之最靈、最捷，今特拈出。</p>
<h2>卷下</h2>
<h3>三瘧治驗</h3>
<p>張習可日間受微雨及風冷，瘧發於暮，熱甚，於夜遂成三瘧，乞診於師，用升陽濟陰法，瘧漸愈。奈不知調攝，元氣未復，嗜欲不謹，九月中旬，瘧忽增劇，六脈虛數。乃陰虛已極，而暑邪深入，最難療治。師問難於余，爰思受病之原，當先扶正升陽。用生地、川芎、歸身、白芍、炙草、乾薑、葛根、升麻、柴胡、煨薑、南棗濃煎，於瘧未作前，三時服一盂，四帖。後加首烏、人參各三錢，連服三帖，瘧竟不作，代訂丸方，以善其後。</p>
<p>治不沾沾於補虛，不斤斤於泄邪，而方藥病情絲絲入扣，古謂成如容易卻艱辛，非學識兼全者，曷能辨此。</p>
<p><u>丸方</u></p>
<p>製首烏（四兩）　大生地（三兩）　人參　於朮　歸身　龜板　豬苓　炒芩　川芎　查炭（各二兩）　柴胡（一兩六錢）　淮牛膝（一兩五錢）　乾薑　山甲（各一兩）　甘草（炙，五錢）　活龜（一個）</p>
<p>入砂仁末二兩，煮取龜肉，同藥搗勻，烘乾，其甲、骨亦研細末，加入鮮荷葉湯泛丸，如麻子大，每晨服三錢，沸湯下。服完一料，精神倍於平日。</p>
<h3>神水治驗</h3>
<p>魏子一患嘴唇干燥，皮漸裂痛，自服甘露飲大劑旬日，微獲小效，而病成痼疾，乞診於余。診得左右兩關脈弦而散，顯是津液不能上滋，延成繭唇。</p>
<p>令內服滋液育陰，二地、二冬、元參、梨汁等為丸常服，外用神水點擦，日服一小杯，兩月而瘳。</p>
<h3>制神水秘法</h3>
<p>用青鉛熔化，散澆於地成為片，取起，剪作長條數塊，一頭鑽眼，懸吊於鍋。鍋內置燒酒，之上仰張盆，盆與鉛相近。鍋下燃火，使酒沸而氣上衝，放鉛片，鉛片上有水，滴下盆內，為之神水，取服之。以此水從下而上，能升腎中之水，救上之燥干也。</p>
<p>按：神水之法，古人方中亦恆有之，未言明制法。今果哉先生闡發其義，而方始顯。</p>
<h3>婦科驗方</h3>
<p>薛仲昂云：婦人有疾，兩乳不嫌其大，月水不嫌其多，乃生機也。治嘔血及諸衄下血等候，用豬腰子一具，童便二盞，陳三白酒一盞，貯新瓶內，密封泥口，日、晚以慢火煨熟，至初更夜分後，更以火溫之。發瓶畢食，即病篤者，止一月，效。平日瘦怯者，並宜服之，男女皆效。真以血養血之良方也。</p>
<p>又云：前人以先期為血熱，後期為血寒，然有或前或後者，將忽寒忽熱乎？大抵氣者血之母，氣亂則經期亦亂，故調經以理氣為先。</p>
<p>又云：懷孕六七月，因爭築，著子死腹中，惡露直下，痛不能勝而欲絕者，佛手散主之。</p>
<p>若胎不損，則痛止而子母俱安；既損則胎下而母全矣，佛手散方附後。</p>
<p>當歸（三錢）　川芎（五錢）　益母草（五錢）</p>
<p>水、酒各半碗，煎服。停一二時，再進二服。此方安生胎，去敗胎，歷驗之良方也。</p>
<p>又云：胎不動，而冷如冰，即非好胎。若以不動言之，好胎亦是伏而不動者，何可遂斷其死胎也。宜服順氣活血藥。</p>
<p>又云：產後忌飲酒，但服童便可也。童便為臨產仙藥，暈眩、敗血中心，及血崩諸症，倉卒不及備藥，惟兒初下地時，即與童便一盞，庶免諸症之患。一月之內，日服一盞，百病不生、他藥皆不及此。</p>
<p>又云：產後百病，三者最危：嘔吐、盜汗、泄瀉是也。三者並見，其命必危。數症並作，治其所急。見二凶多，一症輕者無害。產後陰血虛耗，陽浮散其外而靡所依，故多發熱，治法用四物湯補陰。薑通神明，炮乾薑能收浮散之陽，使合於陰，故兼用之。然產後脾胃虛損，有傷飲食而發熱者，誤作血虛，則反傷矣。故必先問曾食何物，有無傷損。有惡血未淨者，必腹痛而發熱；有感冒、外感者，必頭痛而發熱。若發熱，飲食自調，絕無他症者，乃血虛也，可以補血。若胸膈飽悶，噯氣，惡食，泄瀉等症，只隨症治之。要知腹滿而不痛者，斷非惡血也，莫誤。產後，用益母草銼一大劑，三兩濃煎，去渣，加芎、歸末各二錢，陳酒、童便各一盞，服之至再，則腹痛、血暈之患免，且大有補益，真治產之司總也。此方又名奪命丹，為歷驗之良方也。</p>
<p>產後喜咸愛酸，而致咳嗽者，必致痼疾，終身須自慎之。家傳秘方有六，簡易而神妙特奇，世世保之毋失，方列於上。</p>
<p><u>種子丸</u></p>
<p>　五月五日拔益母草，帶根陰乾，為末，煉蜜為丸，如彈子大。每服二丸，百日有效。</p>
<p><u>固胎丸</u></p>
<p>條芩（二兩）　於朮（一兩）</p>
<p>每服三錢。上研細末，砂仁湯下。連服而胎可永安（胎熱重者，條芩加一兩。於朮用米泔水浸）。</p>
<p><u>保安丸</u></p>
<p>　五月五日，取益母草，去根晒乾，為末，煉蜜為丸，如彈子大。懷孕八九月，每晨服一丸，砂仁湯下。服二三十服必無倒產之逆。</p>
<p><u>催生丹</u></p>
<p>　用益母草四兩，焦白芷、炒滑石、百草霜各二兩，臨產服四錢，芎歸湯送下，效。</p>
<p><u>益母丹</u></p>
<p>　既產，用山楂末三錢，濃煎益母草湯，陳酒和童便調下，第一日服三服，二日服二服，三日一服，第四日、第五日山楂末減半，第六、第七日去山楂末，止服三味，第八日並三味不服，而百疾不生矣。歷驗。</p>
<p><u>坤元是保丹</u></p>
<p>　孕婦病，則胎亦病而隨，則多兩亡。此方能卻胎病，使兩無恙。方用飛青黛五錢，伏龍肝二兩，二味研末，用井底泥調勻，塗臍上當孕處二寸許，干則再塗。此丹止可施於傷寒極熱之症，不可概施者也。切記，切記！慎之，慎之！朱彥修治產婦陰戶一物，如帕垂下，俗名產頹，宜大補氣以升提之。用參、　、朮各一錢，升麻五分，後加歸、芍、甘草、陳皮調之。又治產婦陰戶下一物，如合缽狀，此子宮也，氣血弱，故隨子而下，用升麻、當歸、芎、　，服二次，後以五倍子作湯洗灌皴其皮，覺一響而收入。</p>
<p>又云：大凡胎已足月，宜補助氣血，為添水行舟，萬無難產之厄，附錄歷驗方於後。炙綿、熟地各一兩，歸身、枸杞子、黨參、龜板（醋炙）各四錢，茯苓三錢，白芍、川芎各一錢，無論胞衣已破未破，連服四五帖，但用濃煎頭汁，取其力濃也。</p>
<p>此方屢效，余恆用之，較世傳二寶散佳良。</p>
<p>按：以上各條，出於薛仲昂集中，議論精純，方多簡效，詢為女科秘笈，世罕見之。薛氏所纂，余亦未見其書，知者尤鮮，曾質之椿田兄，云：書名《坤元是保》，刊於正和年間，其方論本於《產育寶慶》而增廣之，世渺流傳，蔣亦未見原書，惟當日在阮太傳叢書中，見其方論節要，是否質之明哲，訂正以釋其疑，而廣醫林之智識，拭目以俟之。</p>
<p>「陰陽應象大論」云：悲勝怒，恐勝喜，怒勝思，喜勝憂，思勝恐，此即五行生克之理也。</p>
<p>古賢治病每用之，有桴鼓之應。若文摯之怒齊王，華元化之怒都督，皆宗經旨；戴人、丹溪亦效其法，見於治案。然亦有不拘剋制之說者，但得其意，不必泥其法，所謂神而明之，存乎其人也（按，自七情至肌衄，從《秘旨》節錄，亦殷本所無，茲從原本補載備考）。</p>
<p>按：七情之病，其原本於五志之偏勝，其治仍由格致之從化，理固然也，故云：醫者，意也。以其所勝，而能制其所不勝；伏其所主，必先其所因，自《內經》、《難經》闡發於前，歷代賢哲疏注於後，法良效捷，啟迪後進，功非淺鮮矣。</p>
<p>韓飛霞《醫通》有云；黃連、肉桂，能交心腎於頃刻，謂治不寐之靈丹，歷驗不爽。今特拈出，以啟後學之悟。</p>
<p>按：前賢方法固良，要在對病，捷如影響。如上法，余治一婦，驚悸不寐，已延半載，醫治不效，乞余延醫，尺脈微數，兩寸浮洪，顯是陽不交陰，衛氣僅行於陽而不入於陰，故心腎不交也。即仿前法，用川連二錢，另煎待冷；桂心二錢，另煎待冷；用半夏、秫米各三錢，取甘瀾水煎成，加連汁、肉桂汁和勻，乘溫徐徐頻飲，服後覺倦，至夜安睡甚酣，前患已瘳。稍有驚悸、改用補心丹加減而愈。足見方藥對症，如鼓應桴，非虛言也。</p>
<p>《內經》有肌衄一症，謂之血汗。治之不得其法，往往血流過多，面色驟白，周身痿倦，氣息奄奄而斃者多。茲特拈出，以備博采良方，而濟一時之急也（此條與《秘旨》參看尤佳，方載《秘旨》，附錄於下）。</p>
<p>用炒川山甲一錢，研極細末，重羅篩細粉，罨之，以帕扎住，即止；內服補血湯三帖，自愈。茲從《秘旨》錄出，以濟斯厄。余詳治驗錄中。</p>
<p>按：肌衄一症，古無良法。余治友人楊兄，腦後發際忽出血不止、眾皆　然無法。余思與前症相符，亟用黃芩煎濃汁，俟冷塗之，漸收，三次而瘳，後亦不發。</p>
<p>龐安時有云：四時之中，有寒、暑、燥、濕、風、火相搏，喜變諸疾，須預察之。其飲食五味，禽、魚、蟲、菜、果實之屬，偏有嗜者；或金石、草木藥，素嘗有餌者。人五臟有大小、高下、堅脆、端正、偏傾，六腑亦有大小、長短、濃薄、緩急，令人終身長有一病者。貴者後賤，富者乍貧，有常貴，有常富，有暴富，有暴貧，有暴樂，有暴苦，有始樂後苦，有離絕，蘊結憂、恐、喜、怒。夫常貴後賤，名曰脫營；常富後貧，名曰失精。暴樂暴苦、始樂後苦，精竭體沮；脫勢侯王，精神內傷；情慕尊貴，妄為喪志；始富後貧，焦皮攣筋；常富惡勞，驕墮精消。離間親愛者魂游絕所，懷者意喪，所慮者神勞，結怨者志苦，憂愁者閉塞而不行，盛怒者迷惑而不治，恐懼者蕩憚而不收，喜樂者撣散而不藏，此皆非外邪所中，而得之於內也。良工必預審問其由，先知臟腑、經絡受病之所，可舉萬全；工不思曉，令五臟六腑血氣離守，迫至不救，又何言哉。</p>
<p>又曰：陰陽虛盛者，非謂分尺寸也。榮衛者，表陽也；腸胃者，裡陰也。寒毒爭於榮衛之中，必發熱惡寒，尺寸俱浮大，內必不甚躁。設有微煩，其人飲食欲溫而惡冷，謂陽虛陰盛也，可汗之則愈，若誤下則死也。若寒毒相薄於榮衛之內，而陽勝陰衰，極陰變陽，寒盛生熱，熱氣盛而入裡，熱毒居腸胃之中，水液丸之干涸，燥糞結聚，其人外不惡寒，必蒸蒸發熱而躁，甚則　語，其脈浮滑而數或洪實；或汗後，脈雖遲按之有力，外證已不惡寒，腹滿而喘，此皆為陽盛陰虛，當下之則愈，若誤汗則死也。仲景載三等陽明，是陽盛陰虛證矣。</p>
<p>陽虛則外寒，陰虛則內熱，陽盛則外熱，陰盛則內寒。以此別之，若陰獨盛而陽氣暴絕，必四肢逆冷，臍築湊痛，身疼如被杖，面青，或吐，或利，脈細欲絕，名曰陰毒也，須急灸臍下，服以辛熱之藥，令陽氣復生，　然汗出而解；若陽獨盛而陰氣暴絕，必發躁狂走，妄言，面赤，咽痛，身班班如錦文，或下利赤黃，脈洪實或滑促，名曰陽毒也，宜用針泄熱，服以苦酸之藥，令陰氣復生，　然汗出而解也。</p>
<p>又曰：夫邪逆陰陽之氣，非汗不能全其天真。《素問》云：辛甘發散為陽，謂桂枝、甘草、細辛、薑、棗、附子之類，能復陽氣也；酸苦涌泄為陰，謂苦參、大青、葶藶、苦酒等之類，能復陰氣也。酸苦之藥，既折熱復陰，亦當小汗而後利者。經云：身汗得之而後利，則實者，可汗是也。</p>
<p>華佗治法云：傷寒病起自風寒，入於腠理，與精氣分爭，榮衛否隔，周行不通，病一日至二日，氣在孔竅、皮膚之間，故病者頭痛、惡寒、身熱、腰背強重，此邪氣在表，隨症發汗則愈。</p>
<p>龐安時云：凡發汗，須加裳覆腰以上，濃衣覆腰以下，以腰足難取汗故也，半身無汗，病終不解。凡發汗後，病證仍存，於三日內可二三發汗，令腰腳周遍為度。若病不解，便可下之。設令下後不解，表裡邪亦衰矣，宜觀脈證調治。七日內可期，正汗為善也。發汗後不可再行汗者，始發熱惡寒，今不惡寒，但倍發熱而躁；始脈浮大，今洪實或沉細數；始安靜，今狂語，此胃實陽盛，再行汗藥而死，須當下之。有人始得病，變陽盛之證，須便下之，不可拘日子、深淺、次第也。病三日以上，氣浮上部，填都胸心，故頭痛，胸中滿，或多痰涎，當吐之則愈。</p>
<p>按：龐安時《總病論》所節十條，閱之令人耳目一新。所論陰陽、表裡、寒熱、虛實、汗下諸法，洞若觀火，啟迪後進，勝讀書十年。惜乎全豹未窺，憾甚（瀾志）！又云：若虛損及新產人，不能吐者，可服枳實散（枳實細末，米飲調二錢，日可三四服）。若有虛寒、手足冷及脈微弱者，枳實二兩加桂枝一兩同末之，如前服。</p>
<p>病五六日以上，氣結在臟腑，故腹滿、身重、骨節煩疼，當下則愈。若小便少，手足心並腋下不滋潤，尚未可攻下，當消息其候，不可亂投湯藥，虛其胃氣也。</p>
<p>又云：《素問》載兩感於寒，其脈應與其病形者，一日則巨陽與少陰俱病，頭痛，口乾而煩滿；二日則陽明與太陰俱病，腹滿，身熱，不欲食，　語；三日則少陽與厥陰俱病，則耳聾，囊縮而厥，水漿不入口，不知人；六日死。言其六日死者，是臟腑榮衛或有所通行，故四日少陰與太陽俱病，五日太陰與陽明俱病，六日厥陰與少陽俱病，是重傳得六日，死矣。其有三日死者，《素問》謂陽明為五臟十二經脈之長，其邪氣盛，故不知人，三日其氣乃絕，故死矣；夫邪氣盛則實，表裡邪實，並領血氣入胃，不通於榮衛氣血，故氣血隨邪而盡，則三日死矣。其脈候，《素問》已脫，今詳之：凡沉者，皆屬陰也；一日脈當沉而大，沉者少陰也，大者太陽也；二日脈當沉而長；三日脈當沉而弦，乃以合表裡之脈也。沉長、沉弦，皆隱於沉大。</p>
<p>凡陰不當合病，今三陰與三陽合病，故其脈似緊而大、似沉實而長，亦類革至之死脈也。</p>
<p>又云：傷寒一日，巨陽受病，前所說膀胱詳矣。《病源》云小腸，雖則誤其標本，其手、足陰陽自有並病者。故《素問》云：六日，三陰三陽、五臟六腑皆受病，榮衛不行，五臟不通，則死矣。是表裡次第傳，不必兩感，亦有至六日。傳遍五臟六腑而死者也。《素問》云：諸浮不躁者，皆在陽，則為熱，其有躁者，在手。假令第一日脈不躁，是足太陽膀胱脈，先病脈加躁者，又兼手太陽小腸也。又云：諸細而沉者，皆在陰，則為骨痛，其有靜者，在足。假令第四日脈靜者，足太陰始傳病也，脈加數，又手太陰病也。故六日亦能傳遍臟腑也。躁謂脈數，靜謂脈不數。用藥則同，若用針，須取足與手之經也。</p>
<p>《秘旨》中載安常治驗云：安常尤善針法。</p>
<p>有孕婦產，七日而子不下，群醫治之無效，眾以死置之。適安常過其門，病家求視。安常一見孕婦，呼曰：未死！令其家人以湯溫其腰腹間，以手上下拊摩之，孕婦覺腸微痛，呻吟間產一子，母子無恙。有市醫問其因，龐曰：兒已出胞，而一手誤執母腸不能脫，投藥無益。吾隔腸針其虎口，兒既痛，即縮手，所以遽生，無他術也。</p>
<p>按：龐先生安時，為宋代良醫，著《傷寒總病論》，東坡謂：真得古聖賢救人之意，豈獨為傳世不朽之資！蓋已義貫幽明矣。奈滄桑之變，世渺流傳，吾師命予重校，付活字板印，附</p>
<p>《正脈》以廣其傳。今擇其要論數則，錄於醫論之末，俾後進知有其書，便於尋繹，濟人疾厄，共登仁壽之域，則吾之志矣。果齋識。</p>
<p>《芷園治驗》云：孟抒正君因怒發呃三日夜，急柬召予，以事奪，至未未往診，盂抒愁容怨語，泣涕嗟苦。予診之曰：來極遲，效極速！藥進而寢。次日喜見曰：昨心欲裂，方治後事，以兄詼諧寬我耳，寧期一藥而果效，真不解其故。予曰：予開肝鬱也，內君特怒之，未暢氣將入胃而不能，故發呃。予不治呃，用柴胡等條達木鬱，郁解則止，暴病氣全，故易愈耳。</p>
<p>積學日深，見病知源，況暴病正氣未傷，故效驟速愈矣。</p>
<p>按：呃由怒起，沖氣欲入胃而不能，則發呃。盧先生用柴胡條達木鬱而瘳，未將全方藥味示人，乃重道不肯輕泄治法，則後進未能效尤矣。今既用柴胡條達木鬱，可隅反而知其余之藥，亦不外薄荷、苓、芍、歸、草等味，即逍遙散一方，以解木鬱而諸郁均解。予治驗中，亦仿鼓峰法師其意，不泥其方，用合歡皮、川鬱金、枇杷葉、香附、橘絡、金橘餅、玫瑰花等，隨宜加減變化其方，每多獲效。惟原方有白朮一味，有壅塞氣機、濁而不宣之虞，斟酌去之為宜。如蘇梗、撫芎、茄楠、檀香、旋覆花等，皆可隨症選用。至於名醫用成方、必臨症化裁，超越凡庸之上也。</p>
<p>又治白下：繕部戴養吾夫人恙，召診，寸關不透，體常倦怠，眩運不食，胸膈痞滿，予以為肝脾之氣不伸，用八珍加升麻、柴胡，愈而體實。每病取前方服之，即安。後之瑞安之滇南，十五年皆倚恃焉。若稍加減，便不獲效，養吾公解組林下，每過湘水，必得良晤，嘗以夫人為信心此方也。夫人性靜體濃，起居安適，是以氣血不振而消沮，故於補氣藥中，加開提之劑，蓋得其性情，如布帛、菽粟，若將終身焉者。所云信心二字，真為良藥。世之任醫，厭常喜新，安得恆守一方至十五年耶！信心二字，真為衛身至寶。近人厭故喜新，朝張暮李，廣征方藥，賢愚不別，遂致輕者重，重者危，是不知守信心之患矣。</p>
<p>來熙庵廉憲急柬召予診。其侄力大，身體豐碩，傷寒已二十八日，人事不省，不能言語，手足揚擲，腹脹如鼓而熱烙手，目赤氣粗，齒槁舌黑，參、附、石膏、硝、黃、芩、連無不服，諸名公以言旋矣。予診之，脈獨鼓手，用大黃一兩，佐以血藥，一劑，下黑臭血一二斗，少蘇，四劑始清。熙庵公問予：侄昏三日，所存唯一息耳，君何用劑且大且多，幸遂生全，敢問其說。予曰：治病用藥，譬之飲酒，滄海之量，與之涓滴，則喉唇轉燥矣。以若大軀殼，病邪甚深，不十倍其藥，何效之臻？且此恙寒邪入胃，蓄血在中，其昏沉、揚擲，是喜妄如狂之深者也，不知為病，而望之為死，不棄之乎。夫大黃，未嘗不用，苟投非其時，品劑輕小，一或不應，用心惑矣，寧能放膽而用哉。</p>
<p>此為陽明蓄血症，用桃仁承氣重劑，方能克敵。然非學識兼全者，不能如是。</p>
<p>湖墅史大正君嘔吐之聲遠及百武，脈之佐關鼓指不連於寸，兩尺滑搏，於左獨加，水飲不入唇七日矣，因為透肝之劑，斷必孕男，藥進而嘔定，月足果產男。因問予曰：內子寒熱大作，嘔吐不食，人皆以傷寒治之，君獨以為孕，其柴胡、白芍、吳萸、黃連雖未專用，何一劑而嘔遂平？予曰，醫名方脈者，須察脈以定方也。人唯伺其證，而不循其因，是以失之。</p>
<p>今脈具在，不為證瞞，因病發藥，故其言驗也。</p>
<p>尺中脈搏固知為妊，其關不連寸者，蓋肝志專而鬱，善怒萬不善發也，郁之之既久而自發，振拉摧拔之象見焉。順其性而伸之、調之，肝舒氣平，惡自無阻而嘔自定耳。</p>
<p>惡阻嘔吐，其因尺中脈搏，固以惡阻斷定，治以舒肝氣，順其性而謂之，則嘔自平矣。</p>
<p>聞於將尊堂丙午冬月心忽然如散而沉下，便不得睡，幾三月矣。召診，獨左關弱不能應指，予以為肝虛須補其母，當立春始安，用熟地為君，茯苓、棗仁、當歸、人參、防風、遠志佐之，服二十貼，至其而愈。子將問：心散不寐，以屬心經，何反以腎、肝藥見效？而言立春日始應，請為分疏。予曰：此得之脈也。經曰：肝不足則恐，恐則氣下。雖情志無恐懼，而氣象似之，據脈按證，肝虛無疑矣。因肝不足，先其令而疾作，補母生脾，待時而元氣乃復，豈得以心散。便屬心經，是非心散也，乃心見身中氣散之象耳，則散非病。設心臟病則病矣，又何能自見其散哉。</p>
<p>補母以益子，是隔二之治。言立春始愈，乃肝臟正氣旺而邪自退舍矣。</p>
<p>湯梅生病腹痛，痛則繞臍有形，甚至欲死。人皆謂生氣獨絕於內，似有不起之慮。予診之，關脈近尺有滑，拊之脹痛，氣羸頗乏精彩，因用枸杞為君，白芍、茯苓、肉桂、吳萸佐之，六劑痛止，服《瑞竹堂方》四制枸杞丸一料，竟愈。黎茂先舉問何疾，予曰：臍疝也。疝氣引陰，原無斯症，然疝考有形之痛而有所止之處，故字從山，不必定引陰也。疝本厥陰肝疾；其狀若死，亦厥陰證，故用溫補肝藥，生氣自復，不致內絕。此案貪天之功，予為可作起死一則看也。</p>
<p>臍疝乃厥陰危險之候，治以溫補，是從根底而治也。</p>
<p>李姓，口舌生瘡，幾三年矣。脈浮細急數，按之空虛，而尺尤甚。用薛立齋腎虛火不歸經法，以加減八味丸料，二劑即愈。此案初試立齋先生法紀，其捷效如此，為近世高明之家獨出奇見、欲超出規矩繩墨之表，不知視立齋為何如？永嘉何介甫文學，性沉靜，病脾數年，飲食少啖，精神萎悴，辛酉七月就診。兩關軟弱，不透於寸。用參、苓、歸、芍、陳皮、防風、甘草數十劑，至九月始歸、遂喜啖肥濃，數年之疾脫然。壬戌春，再過錢塘，攜美人蕉、佛桑花贈遺特盛，問曰：子疾有年，補脾、補腎，法非不詳，而未之效，君何從平易得之？予曰：君疾在肝，非脾、腎也。凡診病者，當窮其源，無為證惑。如飲食少，雖關脾胃，其所以致脾病者何？故此自當審考。今君兩關脈弱不透於寸右，固脾虛明矣，而左則何應此。蓋脾體不足，而脾用不行也。何謂脾之用？肝也，星家取克我者為用神，脾體無肝木為之用，則氣血便不條暢，運化遲鈍，而脾轉困矣。自秋令金肅，肝更不伸，予為補助肝木之氣，使之揚溢，則脾土伸舒，精神油然外發，雖不治脾，實所以治也，安用奇特之法哉！予正恐不能平易耳，平易之言，學之所未熊者，今請事斯語。</p>
<p>名醫治病，必求其源而辨其脈，不為外證情勢所惑。補不足，損有餘，本經旨以立方。</p>
<p>吳叔顯上舍庚申三月生瘡，眼藥瘡愈，而喘急殊甚，十日不能就枕。予往診之，先用開肺發瘡，次用降氣補腎，斷其二日當瘡發，五日當足腫，六日當出水，十日可喘定、就睡。嗣後足牛二毒，三月始復。秋之日，下就國學讀書。次年七月，偶以傷風微熱，左三部脈唯隱隱見，飲大劑人參、歸、木、甘草，十帖脈方起，二十帖如常。十月再感，左脈更不如秋，但微熱，而起居如故也。三月就枕，七日頭痛如破。因告其兄，極道秋病之危，今若昏沉，決無生理，彼尚疑余言。九日，果微昏譫語；十二日，不識人；再七三，死。其族昆問曰：叔顯昨歲垂危，君言變證，歷歷如響，幸全生焉。今冬示微恙，果應君言而歿，其證、其因，為一為兩？答曰：叔顯骨氣天弱，腎精不全，其瘡亦從腎發焉；不知而用發散藥，元氣轉耗，瘡毒內逆於肺而喘。予用四逆散使太陰氣開，瘡遂外出；用六味料，使少陰納氣，息遂內勻，清升濁降，足腫生癰，病都外出，是以生也。今秋左脈不起，知元氣內索，不堪左旋矣。比起而再，戕賊之病，發於骨髓，所以腦痛，因之遂昏，乃內關之證，氣獨內絕，是以死也。論其根本，出皆於腎，是一非兩，不在證之輕重，為異同也。此案辨治精詳，非深於《靈》、《素》之蘊，所不能道也。</p>
<p>少陰腎虛，元氣內索，是內關危證，生氣內絕，不治之症矣。</p>
<p>蜀富順孝廉阮太和諱士肅，病癘吳山下，召予診。披衣強坐，對語甚壯，神氣則內索也；身熱進退，舌胎黃而濃，蓋自吳門受寒，以肉羹為補，而對啜之，遂纏綿及月余。用疏散輕劑，熱退，又復強啖，再熱，不能起坐。予時之富春，五日歸診之，譫妄呼笑、不識人已三日，形骨立，汗雨下，內熱特甚，而胸脅之熱，捫之烙手，第脈尚有神。予用人參八錢加四逆散中，一劑而譫妄定，三劑而熱邪清矣。自言其神魂窮天之上、極地之下，飛揚奇變，得太乙神符召之，始得返生。愈彌旬，方啜粥。病中自為之記別時間，藥狀。余謂此寒傷心氣，荏苒厥深，而湊於胸也。緣以不第南旋，病淹中道，骨肉之音，雖近實違；藥石之給，既缺且竭。心已傷矣，又反復再四，汗液多亡，內無主宰，熱遂入胸。胸為心主之宮城，精神因而渙散，是以游魂為變也。用四逆使熱外出，加人參俾神內凝，氣復邪散，是以生耳。</p>
<p>始由氣鬱不舒則傷肝，繼則強啖傷脾，是以精神煥散，游魂為變。用四逆散退逐外熱，加參以益元氣。</p>
<p>富陽周婦、馬女、皆少年，水腫，肢體洪盛，臚腹膨脹，水道不通，飲食絕口，有以為疸者，為臌者，為氣者。予往診之，以藥不克濟，乃針足上，出水皆石余。次日脹小減，三日大減。足尚腫，又針之。令服八味丸，以溫其腎。期年皆孕，周善調護，子、母兩全；馬失調護，子、母俱斃。此蓋腎中陽氣不足，陰氣有餘，遂聚水而病作。飲食、湯藥用水，而不能導之，輾轉助長，乃致於此，非針去水，則菀陳之淤，何從而泄。水去腎衰，非溫補之則濁凝之陰，必致復聚，腎中之火大復。然周身之陽氣有蒂，天癸自行，生育可必。如流離之後、所宜愛養，得之則生聚，否斯待斃耳。</p>
<p>蓋腎中陽氣不足，陰氣有餘，遂聚水致病，是此病之源也，《內經》有聚水而成其類是也。</p>
<p>庚申臘月二十七夜，予患腹痛，惡寒，泄瀉，平旦且止，至暮復作，明日又止。至改元五日，肛左微痛。起因房室，意為腎泄，服四神丸一大劑，泄、痛竟止。早間肛左稍有核，其痛漸近尾閭，暮痛不可反側。次暮以水化熊膽塗之，立覺涼氣直上肺左，痛亦漸緩，略堪展轉。</p>
<p>中夜吐痰，痰內見血一二點，辰時痔出白濃膿，竟可起坐。十一日早，與人多話，方櫛發，血從咳至，作意忍之，氣定且止，煎六味丸料服，亦以腎虛也。暮就枕，夜半睡覺，血即上涌如潮，喘聲如鋸，進童便及六味煎藥，氣稍定，才聞薑湯，氣觸鼻，血即隨涌，平旦始緩。夜再發如前，凡假寐片響，背心蒸熱，醒即血來咽喉，如截斷，一涌盈掬，心躁急亂，欲多語言，聲一響而血　至矣。十三早議，下莫敢應，至晚勢急，似無生理，乃用瀉心配血藥下之，不應。夜方大雪，點水成凍，用水調大黃末服，轉欲去衣被，啜芩、連苦藥如甘旨。至五更，強進清米飲、藥力忽轉，解黑糞瘀泥臭穢不可近，凡三次，血來之勢少平。十五寅時交立春。建寧老蓮煎濃湯，呷之甚美，少間足心汗出，次手心出，次背心蒸蒸欲出，一日安和。至暮，以多語言，吐鮮血數口，頤兒引仲景義，以赤小豆、連翹合瀉心方法服之，覺上身氣即開，臍以下不動而悶，汗出似前者，三日血亦漸減，二十外，大便自解如青泥，次解如鐵彈者二三枚，血方淨盡。嗟、嗟！未解之前，幾至不免，汗出之後，始有生機。</p>
<p>追思病發之由，十足曾暴怒，頓足叫呼，氣喘如食頃。臘月十七，圍爐露坐大半夜，指爪朝來盡折，方旬遂病。蓋自十月，便不能構思，看書亦不深入，近覺神思昏瞀者，浹旬病乃大重。余作醫二十年，治吐血證眾，往往起其危疑。及自罹此，便無主腦，如因房室起病，泄瀉在夜，服四神而病已，益信為腎虛不疑，豈知服四神、六味，反為助長，以致病甚（起病始由暴怒氣鬱，凝其血脈；繼因夜坐受寒，加以爐火外燔，是以寒氣愈凝，血液受焚，留瘀之源也。必用逐瘀，折其銳氣以除病根，為探本之治。致禍之因，實為四神、六味之遺患耳，所以用藥不能偏執一經而論）。若非偶中仲景方法，死不免矣。原余之疾，本於寒傷陰分，而寒水之氣，當乘心火，陰分之邪，宜應迫血。用補腎、血劑，偏助寒氣，愈凝血液，火故暴焚，血留轉瘀也。立春陰分汗出，勢自然解，瘀穢下盡，血方始清。初以微寒，竟成大禍，用藥之難慣見，且誤如臟毒之疼痛，吐血之喘急，須認其原從寒生。但當未解時，縱有人指出其端倪，恐自亦不信也，而況不知醫者乎！故審疾處方，不可執定規矩。今人知其吐血，便用止血、行血、順氣、降氣種種方法，豈非妙理，若不深中肯綮，反成毒害，慎之、慎之！病愈四十日，方能策杖，盤　室中。出寄素芝禪室，靜言思之，殊自可愧，簡出成案，用供博采。</p>
<p>按成，客讀之，難曰：吐血之因，起自於寒，容或有之；血涌之狀，以為非火，實難深信。且水之與火，不可同語，主何說以通之？余曰：人生氣交中，平時惟一太極，內含陰陽五行之妙，不可得見其端倪。病則偏而動，陰陽五行，自相摩蕩，如止水之風，自有波瀾也。設若受寒，即見寒之氣象，便是波瀾內撼其機，變現傾移往復之相，所謂一而二矣。故人傷於寒，則為病熱，熱則火反病也。受一分寒，倒見一分火，寒則十分，則火有十分者，勢也，理也。吐血固為火象，其所以然，實寒氣抑之、鼓之，而火始有力，病之本源不在於火，而在於寒，明矣！豈得竟以象火而歸重於火耶。治病必求於本，必審於內，毋以形似害其義也。</p>
<p>客問：傷寒當分六經，君之吐血，屬之何經？曰：寒者，冬時之令也。人病因此先動氣化，余病在氣化中，論之不入經也。入經便有定位，便可標法、指示，自是傷寒一家，宜應別論。余初冬怒甚，便當動血，雖不嘔出，血奚其清；而寒復傷榮，藥偏補腎，其滔天驚人者，勢使然也。</p>
<p>客問：設以為寒，何不發散，而以苦寒下之實有，似乎治火矣；又用赤小豆、連翹者何義？啜蓮肉湯而得汗者，又何故也？曰：寒之害人，當分陰陽、表裡。余受寒於夜，奪濁其血，故邪湊其陰，而陰屬有形之榮，所處深密，非表病之當發散者也。寒凝火鬱，理必炎上，非苦寒之味，從火之性而使之降，其熱未可服也。火熱鬱勃，勢雖燎炎，原從制抑所生，須作不足論之。仲景云：心氣不足，吐血、衄血者，瀉心湯主之。瀉心者，瀉血分有餘之邪，使之相平乎不足之氣也。心有不足，血無所主，兼並奪蓄之瘀，郁遏盛甚，而致暴焚，載血上行，倉皇　妄，非下有形，安克效哉！顧苦寒下法，似乎降火，不知火之成患，政在不得上炎。有形能去火空，斯發心氣無虞，不足之從來，實在堅凝閉密之寒，火得疏通，安問堅凝閉密者乎？則奚為治火，實散寒也。其用連翹之易散，假赤豆之色同，皆欲心氣之開，自無堅凝之害。至若蓮得夏氣之英華，子中復含甲，用透心之端倪者。心氣偏郁於陰，透之還從陰出，又汗為心液，而從手足陰分外發，則蓮子之用，若神助焉（其發明原理處，精透極矣）。</p>
<p>客問：四神一劑而泄、痛止，六味數進而喘急平，已見成效，何得以為助長也？曰：余疾之來，始於盛怒，成於受寒，發於房室。三因較之，二分有餘，一分不足。今以四神之堅固，六味之填塞，則腎平矣。而寒水合德，嚴凝甚深，抑火燔　，非無所自；且藥石之力量，氣血之轉移，只在毫芒之間，可輕試耶？助長之言，識法自懼耳。</p>
<p>客問：睡覺火涌，源從何出？此從胃溢出，雖有咳喘，非關肺也。若自喉來，為真臟證，斷無生理矣。曰，胃經雖多氣多血，吐時盛甚，中有幾何能若是耶。蓋此從胃出，非胃中來。第自暴怒傷肝，血藏之機不無沸擾，況是冬時閉藏不密，浸至於寒，榮遂大沮，周身之血，不凝而濁矣。人臥血歸平和，肝乃納之，今其濁矣，遂會流於胃海，醒時生氣上升，乘之汛濫滿出耳。</p>
<p>客曰：聞薑便吐，亦生氣之升乎？曰：血流在胃，緩因藥力，薑氣辛烈，觸彼將來之勢，遂復涌起，無足怪者。</p>
<p>客曰：未吐血時，先見神昏者何故？曰：此蓄血之征也。血在上則喜忘，在下則如狂昏，正喜忘之別稱，躁妄如狂之氣象也。心主血，又主神，血無主則妄動，神無主而狂與忘隨之矣。</p>
<p>客曰：心氣不足，與脈合否？曰：從病以來，脈氣弦弱，獨左寸不透，正氣不足之征；而弦則肝之變動、為寒外束之象也。</p>
<p>客曰：吐血之因於寒，義有三；隅之反，則風、暑、燥、濕四氣亦可例之否？曰：天地之間，六合之內，氣一而已。因時之化，則有六者之別，實五氣耳，謂之同品。可以因寒，自然四氣亦可例之矣。然亦可以推深而論。如吐血，病之一證也，則凡可以證稱者，皆當用五氣貫之，此則萬病之肯綮也。</p>
<p>客曰：病若亟時，脈已散亂，當主何者用藥？曰：此當據證，不必脈也。方此之際，生死在指顧中，如兩軍相敵，非此則彼，余在主將，有膽力以持之耳。念昔曾治一通家子，暮方吐血，心煩目眩，眷屬環繞，驚惶擾亂，余乃遣其眷屬，一手扶掖，一手與藥。久之自煩而運，乃按膽隱忍，堅持不失，俟自安定，再與調護，遂得轉危為安。可見主之者，須要大有力量，拼身向往，病者方有依怙。若不按膽、不耐性，顧己身罔顧人命，呼吸之間，便分生死，安可忽諸！按膽隱忍，堅持不失，是救危之至言。古醫治病，　在抱，拚身向往，遂可轉危而安。</p>
<p>近世之醫，雖負盛名，偶遇症象稍危，即棄而罔顧，畏首畏尾，自己保名，不肯擔任絲毫。若是者存心太忍，豈與寇盜何異者哉。</p>
<p>按：盧不遠先生所著各種，其語多另出新義，茲編亦系抄藏秘本，恐湮沒失傳，特附錄之。</p>
