<header><h1>醫病簡要</h1></header>
<dl class="元資料" data-type="book" hidden></dl>
<h2>提要</h2>
<p>《醫病簡要》一卷，書為裘君吉生得之於同社老友包君越瑚。包君申韓家而精歧黃學，退隱於醫，歷任紹興醫藥學會評議員及會長，與著者張畹香先生世交也。本書系張氏在紹興一生經驗醫案之錄要，其用藥之神，斷診之明，足資後學模範。因世之刊行醫案，胥是多方藥而少證論，且亦病繁蕪而鮮精湛，本書雖了了數十則，然則則有簡要之論，所謂少許勝人多許也。</p>
<h2>《醫病簡要》序</h2>
<p>張君畹香先生，家住紹城洗馬池。讀書時喜學醫，博覽群書。迨中年，求診輒效，由親戚而遍及陌路，著手成春，一時膾炙人口。憶余兄弟苕齡，時患病就醫。爾時見張公與先父傾蓋談心，視其白髮童顏，須長盈尺，年近古稀，此後不復再見。其哲嗣朴山先生，克紹薪傳，雖不及乃父之聲名廣遠，亦頗有妥當名譽，昕夕過從。今年秋，其賢孫晴岩兄前年由河南回來，出其乃祖手著《簡要》並附醫案兩卷，凡傷寒、溫邪、風溫、熱入血室、痢疾、瘧疾、伏暑等證，分門別類，細閱一遍，愛不釋手，其議論別有會心，衷諸古，而不泥古，俾後學一目了然，補前賢所未備，益後學於無窮，爰名其書曰《醫病簡要》。恨不醵資，付諸梨棗，以傳後世。茲先述其得是書之緣起云爾。民國貳年臘月後學包越瑚謹撰時年五十有六歲</p>
<h2>《醫病簡要》目錄</h2>
<p>舌苔
傷寒
溫邪
風溫
熱入血室
痢暑
伏暑
瘄子</p>
<h2>舌苔</h2>
<p>《張氏醫通》內有傷寒舌鑒，圖形議論頗詳盡。然予見又有碧滑厚苔者。倉橋陳姓，年六十二，胸痛，粒食必吐，患經三月，脈弦小。用丁沉透膈散加參、朮，令早起煎藥，先眼二煎。食少許，覺欲吐，立服頭煎，得不吐，則此法次第用之。午亥蓋以藥如鉗然鉗食，以藥三月後，碧苔盡去，三餐皆食。凡傷寒溫邪，或七日解，或十四日解，或二十一日解，全憑舌定。暑症或上焦，或中下焦，或三焦均感，或五日解，或十日解，或十五日解，亦以舌可定。得其竅不失遲早，合脈即死期，亦不爽遲早。又凡夏至後之濕邪與少陽經之暑濕症，其舌必中黃，四圍白皆滑，又有冬春間，身熱骨不痛，頭不痛，舌淨，脈沉弦小，臥床不能支。《張氏醫通》謂為少陰症，須用黃蓍建中湯，甚或用四逆法者。予曾經見為疏耆蓍歸建中，皆以為非。後竟以時手，不觀舌而用承氣，再邀求救，為不能治。</p>
<h2>傷寒</h2>
<p>咸豐辛酉秋，予至陽嘉龍孫系治暑濕。彼地有時醫，概用承氣加以括蔞兩許，滾痰丸，枳實，速其死。孫紹翁云，沿海人輕病，則不服藥；若重病，經吾翁，必十五日始愈。或不愈，反不若彼之一劑危，兩劑死之免醫藥費床褥債也，則作福，亦是無窮。吾於是順天者之昌也。陝西人患傷寒，喜溫通巴豆丸。河南人大黃可用至兩許，川連不能服一錢，此總戎馬佑庵先生告予也。總戒河南人，帶兵足跡遍天下。本府山會用藥相等。新嵊能服麻黃，蕭諸喜溫補，以地近杭省，習氣相染也。蘇杭人，柴胡、厚樸不能近一錢，蘇人不服大黃，以金汁代之。凡醫十三科，全者名全書，或專論傷寒者，名六書，如靈胎《六書》等類。或以中風列首，以風為百病之長也；又以傷寒列首，雜病次之。以仲景為醫之祖，《傷寒》為一集，雜病《金匱要略》為一集也。予集前賢外感內傷，治法方藥，名曰醫針。於傷寒頭緒頗繁，令人眩瞀，將以六經分說，不使稍混。因病中止，俟集成就莊，茲先呈治案數則。</p>
<p>陶姓，年七十外，王鴻軒先生之母舅也。正月初，水瀉無度，神憤不能起立，診脈空大，是傷寒直中太陰，以附子理中而愈。</p>
<p>香粉衡俞策兄。十一月，渠店夥屠越兄邀診。身熱、舌黃、喉乾、舌乾、齒浮、脈浮大，患經五六日，予知為陽明症。甫診畢，其家已延以傷寒名者至。爾時，戚友趨擁人診，開小柴胡雜以消導。蓋此人只有小柴胡、達原、小承氣，不論四時六氣，舌苔有無黃白，皆此。其新人耳目者，枳殼、枳實、麻子仁、大黃、滾痰丸、厚樸。神麯、五穀蟲、蔞仁，出入加減而已。予因言，此屬陽明胃經，當用葛根湯。對曰：不特陽明，連太陽亦有。於方末加葛根一錢五分。予不覺噴飯，次日則用蔞仁、枳殼，十二三日，病不去。乃邀予治。其陽明經仍在，不傳府，為疏葛根湯，兩劑，身即涼。會稽明府耿修翁乃弟，十一月，水瀉，痙厥，神呆，不省人事，脈沉弦小，舌淨，身不熱，已服過消導多多。予謂此直中太陰未罷，而傳厥陰，用理中合人參吳茱萸湯，一劑水瀉止，痙厥神呆如故。次日再診，脈浮弦小，身熱有微汗，自由厥陰轉出少陽，當用小柴胡領邪外出。兩劑神清，痙去，大便暢解，正七日云。</p>
<p>類傷寒中腳氣，惟廣東福建多患此，有死者。紹地惟余姚、百官、會稽、東關一路有之，俗名大腳風。發作則有寒熱，其病由於濕熱，若初起以防己湯加蒼朮、牡蠣、澤瀉治之可也。方書腳氣入腹者死。曾見痛至少腹而死者。</p>
<h2>溫邪</h2>
<p>道光己酉三四月，城鄉溫邪盛行，予以吳氏條辨法頗效。錦鱗橋範闔家，病三十餘人，並其戚被染者，經予一手治癒。爾時晝夜赴救，往往枵腹從事，致感染闔家，幸予預制紫雪丹，無論人我，均效。緣邪生每犯心宮，則危見機，早用為要。次年庚戌，溫邪尤盛，以連歲太潦，平地水高數尺，五穀不登，遂致奇荒，荒年以後，必有溫疫也。於是益信又可飽腹不病之說。遂不復染。</p>
<p>昌安街董，五月病溫，五六日，舌鮮紅，呃逆，脈沉小弦數，神昏，口舌燥，不飲水。予謂邪在血分，將發斑也。用玉女煎，石膏加至一兩，麥冬五錢，根生地一兩，犀角一錢五分，磨沖羚角三錢，復大青以托斑，柿蒂以除呃，兩劑癍出神清。</p>
<p>府橋泥水匠鐘大成，舌鮮紅，呃逆，脈洪數，面紅氣盛。是邪在心肺上焦，黃芩湯加大力、甘、桔、根生地一兩，生石膏二兩，麥冬五錢，犀角、羚羊角、柿蒂兩劑，呃除身涼。</p>
<p>營橋丁，發頤大如馬刀，喉赤腫痛，舌黃厚，脈數大。《說疫》所謂疙瘩瘟也。病經十餘日，由於失下，普濟消毒以人中黃易甘草，加製大黃五錢，不應，加至八錢，大圊血而解。(黃芩黃連　陳皮　甘草　元參　連翹板藍根　牛蒡　薄荷　僵蠶　升麻　柴胡桔梗　馬勃　或加人參。便閉加大黃。)</p>
<p>孫府孫病十餘日，舌白薄，脈浮數，所服初則達原，繼則承氣。余謂此屬上焦症，誤用中焦，故不效。用辛涼法加生石膏、羚角，大汗而愈。</p>
<p>教場沿高，病溫多日，舌白薄，神昏迷，口不渴，脈伏小。予謂邪在上焦，將欲作汗，須領邪外出。黃芩湯加薄荷、大力、羚角、石膏、甘桔一劑。次日，大汗，大渴，飲水無度，胸腹脹滿，小便不通。用白虎湯加瓜蔞皮一兩、帶皮茯苓一兩一劑，小溲如注而解。(石膏知母甘草　粳米)　　</p>
<p>杜元亨，舌黃厚，周身發黃，胸痛拒按，氣喘不能臥而坐。自述病前多食厚味。黃芩湯合調胃承氣加厚朴三錢，枳實二錢，川連二錢，綿茵陳、梔子，三劑，大便暢解，黃去身涼，</p>
<p>範可齋，四月間，上焦溫邪，用辛涼法，戰汗體冷，如冰人，不能支。又可所謂體厥也。診脈靜小。余囑其家勿驚擾，疏沙參、麥冬、根生地、花粉等滋肺而愈。蓋書以汗後脈如蛇者死。若沉部似有似無亦當死。又云，脈不為汗下減者死。上城隍廟道士，溫邪，舌黃，脈沉小無力。予謂明日當戰汗，脈太弱，恐戰而不得汗也。次日果作戰不汗而死。</p>
<p>螺螄橋一人，前一日，診脈沉小。予謂明日當戰汗，若體厥，切勿驚擾。次日汗後，奄奄一息，脈靜小，疏大劑滋肺湯。甫出門，其家又延一有名者至，以予藥為補，用承氣湯，服之即死。</p>
<p>又治一人，黃昏大躁，盡去衣服，忽作冷，穿衣蓋被，復大戰，如作瘧狀。至天明，大汗淋漓，衣服如水中撈起。下午診脈尚浮數，身尚熱，舌苔尚有白薄者。予謂邪未淨，尚有汗，用滋肺湯；寐中又盜汗，兩三夜邪始淨。</p>
<p>大坊口趙，患溫邪三日，其兩腳大痛，不能起立。予謂《說疫》中所云瓜瓤瘟、疙瘩瘟、大頭瘟，皆有方。又有極重者，謂之軟腳瘟，患必死，無方也。然予思，總由腎水之虛，肝家血分之熱用張石頑先生下焦肝痛方，如炒小茴香一錢五分、川楝子三錢、酒延胡一錢五分，於黃芩湯中。三劑後，足痛去，溫邪亦漸瘥。嗣後無論男婦，遇軟腳瘟，用此法俱效。</p>
<p>大坊口趙婦，產三日後患溫邪。予遵張石頑先生論，凡遇胎前產後，所患不拘何病，總以胎產為本，以病為標。名病為產後患溫邪，產後當理血分，以根生地涼其血，赤芍、川芎通其血，以薄荷、桔梗、川連、甘草辛涼其肺。而黃芩、白芍產後所禁，不用。不過四劑，乃愈。</p>
<p>凡溫邪，或暑濕，一見舌尖鮮紅，即為邪走心包，速須紫雪，截其來路。如神至昏痙，多用亦難見效。宗滌翁郎，似青質，弱午時，脈無神，予與劉友仙二兄深慮之。道光庚戌六月，患溫四五日，辰刻診。予謂其戚王珠翁云，此症下午必入心包，紫雪香散恐不克當。不得已，用人參湯送，遲則不救。予以原料紫雪付之，不即服。黃昏痙厥，大汗，起立無常，脈虛小。予覆以不治。殊不知珠翁之夫人，為滌翁之妹，三月間患溫邪，予以紫雪治癒。是年溫邪犯心，即危見機，早用或效。或問，何以與又可法不同予謂嘉慶年間，所謂任大黃者，用又可大劑承氣得效，以天運交七赤八白，七赤屬大腸金，八白屬脾土，今則交九紫，火屬心，故邪亦走心包，即肝厥肝痛之多，且甚者亦由心火盛，盜其母氣，肝虛易於致病。鴉片煙之盛行，舒其肝鬱耳。明萬曆平間，閩人至京售一粒金丹，所稱阿芙蓉，即鶯粟漿也。惟任翁用又可法，大發財，名為傷寒世家，其實真正傷寒辨經別絡，恐難雪亮也。城鄉各鎮，尤而效之，不過達原一飲，承氣一湯，復以消導，逐穢不分，四時百病概謂傷寒。無論老幼強弱，均用此法。無論舌苔有無與黃白，無不攻消。於是人人知醫，個個插嘴，其術愈卑，其業愈曉。孔子云：小道必有可觀。今則小之欲無，觀之沒有，故有志者，遁而之他，萬不習醫，而醫乃絕。</p>
<h2>風溫</h2>
<p>道光年間，錢友，三三月間患風溫十餘日，始邀予。舌乾紅起縐，按之無液，與喉唇皆燥，難忍，不寐，身灼熱無汗，咳痰不出，脈小數。予謂此屬上焦症，由過服消導發散所致。用根生地兩許、元參、麥冬、玉竹、沙參、丹皮、桑葉、蔗漿七八劑而愈。</p>
<p>同治甲子二月，偏門謝患風溫十餘日，身熱，舌鮮紅，咳痰不出，嘔吐不得食，脈浮洪大，是邪在上焦，誤服小承氣與調胃承氣，正合《傷寒論》不應下而下之，致成結胸，用瀉心湯。用生薑瀉心湯，先除其嘔；繼用黃芩、葳蕤等湯加減而愈。</p>
<p>倉橋孔小山先生，乙丑冬季，年八十四，患風溫多日，身熱無汗，舌黑，口齒燥甚，大便水瀉，脈洪大，是其本色。蓋高年未有脈不洪大，為六陽者也。閱所服，是葶藶、蘇子等瀉肺，雜以消導。致邪陷下焦，故不得汗。不得汗則身不得涼。今津液已涸，當救其陰，用黃芩湯，復以增液湯。瀉止，再以葳蕤湯，得汗身涼。</p>
<p>治一孩，三歲，二月間，辰刻身熱，嗜臥，呼喚不醒，至黃昏，惟聞喉間痰聲壅塞，水漿不入，予以馬勃一兩，以病起勃然，故用勃然而興之藥，碎為小塊，紗包鐵物壓煎，又以箸掉以手揉，緣輕浮之物不易煎汁耳。煎數大碗。將孩抱起，仰天灌一瓢，聞喉中聲尤響，逾時向地傾之，又灌，又傾。二更後，喉忽開，大叫乃醒。天明不出汗，身涼，竟不服藥。</p>
<p>又治世侄范定甫。甫周歲三月，患風溫，越五十日，氣絕，委諸地，尚溫，又抱之。予診脈小數，虎口紋紫細，直透三關，舌黑燥。其祖母囑母開方，以逢藥食必吐。絕食已一月。予問：不食何以活云：見碗必欲飲，飲水瀉水耳。因思藥之如茶水者，必不吐。於是以病久氣虛，用燕窩一兩，以代元參、麥冬，羚角，竹葉以代川連，黑櫓豆皮一兩以代地黃，茯苓、通草以通小溲，皆無藥氣味者，恣飲之三日。舌黑為黃，溲通瀉差。再三日，竟愈，食粥飯，至今抱子多多。</p>
<p>水溝營馮朴園姻兄，二月間在諸幕中，身熱咳喘，病如伏寒。路間又感風雨，至家則諸筋絡掣痛，失紅，脈弦數，舌黃薄，是肺衛心營皆感。然營較衛為重，當先治其紅，用根生地一兩，麥冬、銀花、羚角、山茶花、絲瓜絡、元參、赤芍、丹、桑，兩劑紅止，再以涼解衛分風熱，身涼而愈。</p>
<p>乙丑十一月，朱石翁，年七十三，身熱咳嗽，左脅大痛，脈弦右尤弦且大，謂是為風溫夾肝症，怕失紅耳。次日果失紅。用葳蕤湯減去麻黃、石膏，加羚角、丹、桑、元參、麥冬，復以牡蠣、柴胡梢、鱉甲、降香、蘇子、赤芍，又令以藕汁、甘蔗汁代茶水，調養即愈。</p>
<h2>熱入血室</h2>
<p>道光庚戌六月，水澄巷王元通一婦，患溫邪六七日，適逢經至。予為道賀，即用前法。其本家有知醫者，謂通經當用溫藥，改為炮薑、紅花等劑，經即停，叫擲煩躁，一夜即死。</p>
<p>范姓一室女，父母皆亡。患暑熱，予治。一日，予診脈，兩手皆洪而兩尺尤大，疑天癸之至。詢工婦出人三次，答以無事。予以暑熱太盛，用白虎湯。至晚，痙厥，始知其經果至。因室女怕羞，囑其勿說，遂致不救。</p>
<p>同治壬戌，避難鄉間，有一婦患疫，八日經至，又四日，邀治。速用前法。詎鄉間赴市較遠，藥未入口而經已停，遂至神昏不語，痙厥不治。</p>
<p>毛姓一婦，孕八個月。霜降後患伏暑。黃昏寒熱似瘧非瘧。無物不嘔是上中焦症，其陽之不通以禁用滑石故也。然日用厚樸、藿梗更多，醫嘔總不除，後予以喻氏進退法，一劑嘔止，即告辭。以極於上者，必反於下。一產即為棘手，病家再三囑，治用安胎清暑法，不彌月而產，產後母於均吉，惟惡露點滴則無。予思病經一月，今欲求其血，是迫饑民而徵斂也，理當加本求利。於是以丹參八錢、當歸三錢、川芎二錢，再加沙苑子一兩以代地黃，經血大至。服十劑，惡露已淨。黃昏寒熱又作。予謂是極於下，必反於上也。用薄荷、滑石辛涼解肺而愈。</p>
<p>世交張魯封六兄，醫學高明，凡戚友中，病至棘手，延至，立法即愈。一嬡尚在室，患溫邪多日不愈。邀治。舌黑燥，神呆，脈滯大。予認為邪入心包，當用犀角地黃。魯翁封以業已服過，或劑輕之故，再議以大劑，不應。予又診，細問工婦病中，曾經走經否對以十餘日上，至服主人藥。予知其必不用醫通法也。於是以舌黑為津液之涸、腎水之乾；耳聾者，水不上升也；神昏者，精不上交於心也；兩腿不能自移，衣服著肌肉即大叫痛者，為血分之虧也。用吳氏《溫病條辨》下焦篇中復脈湯加減，內大熟地用至八錢，炙甘草用至六錢。魯翁嫌手筆太重。予謂其書謂甘草不應加至一兩，曾經得效多人，竟用之，一劑即知。魯翁竟以此湯日進。不過十餘日，全愈。予即以《溫病條辨》轉贈，緣此書京城所刻。吳鞠通與世伯胡水云先生交好，今下灶胡心亨明府水云先生之令嗣也。蒙其屢次下贈，今寧波有翻刻者。後晤魯翁云，曾經以書內大定風珠治血崩得效。此嬡適陽嘉龍孫寶號七月間，患暑濕致小產，經血不下，魯翁自診後，又邀予。魯翁此次手筆亦不輕，當歸用至七錢。予謂究屬性溫，不如易以丹參一兩，且產由暑熱逼下，須用涼劑。若不以涼，即熱入血室矣。加以丹皮、梔子、六一散、木通等，竟霍然風溫發疹。紹興謂之"瘄"，蘇人謂"痧"，葉氏謂之肺邪，發在冬春用溫邪法，夏秋用暑濕法，皆以涼肺祛風。惟怕脹悶大便不解。若大便水瀉，不必服藥。即用藥如櫻桃核、綿絲線、西湖柳，皆無用焉。同治丙寅三月，余全家病瘄，皆輕，不服藥。有二女病亦輕，病中經皆至，絕不為意。一女尚無恙，一女從此經斷。越兩月，氣喘面脹，晝夜坐，始詢其故。服黑錫丹一錢，氣平能臥，面腫亦消，然大便水瀉。考《張氏醫通》謂之肝腎喘，水瀉者不治。曆用藥，竟無效。此二女絕頂聰明，識書義尤孝友愛敬。一字明之，一字全之。全之次年出嫁，以予病危，割臂痊余。又明年患病，易簀時，見瘡痕始悉，女本同胞三，尚有長姊，字圓之，十五歲時割臂療予。出嫁後二十一歲產亡。予以曹娥十四歲能孝血食萬年。今十五歲行孝而速死，以理詰稽曾城隍簽，示一啄一飲，莫非前定，然則竅通修短俱屬前定。予觀唐代取書，謂佛氏上應鬼宿，鬼宿明亮，佛道昌明。於是晤天地間三教鼎立，缺一不可。以儒教治人，以佛教治鬼，以道教治非人非鬼之妖怪。且以晤命數所定。即倉公扁鵲亦無益也。</p>
<p>西郭陳永茂，頗識醫之善否。予每治其家婦女，病中經至即愈。今予老病不為治，去秋有患暑而經至。頗記金言導醫者，以熱從血瀉法，乃茫然，仍用厚樸、枳、蔞，復以炒芍，即不治。</p>
<h2>痢暑</h2>
<p>予治清涼橋沈下純血，舌黃，脈弦大。用當歸、赤芍、黃芩、甘草、木香、川連、楝子、炒小茴、酒延胡、柏子仁，兩三劑，血中又有蛔。於前方去甘草、小茴加川椒炭、烏梅肉、台烏藥兩劑，乃血中見糞，終以肝法得愈。</p>
<p>錦鱗橋毛婦患痢，舌黃，口渴，痛在臍上下，用脾痢法，杏仁、厚樸、枳殼、銀花炭、香連丸、陳皮。至第七日，脈沉實。用制軍、枳實攻之。詎病家申刻即睡。所議方，每於次日始服。第八日，服下藥，則小腹大痛。予謂是轉入肝經，藥在病後也，再以當歸黃芩湯合金鈴子散加柏子仁、炒小茴香。又七日，乃愈。是先脾後肝也。</p>
<p>保佑橋秋患痢，五日，邀診。脈弦細，寒熱往來，肋腹痛。閱所服，痢疾套方，故無效。用小柴胡湯合當歸黃芩湯、香連丸，七日即愈。</p>
<p>東昌坊梁所患，必是肝痢，所服不分肝脾之套方，已至呃逆，舌苔雪花。予診脈弦小如絲，是肝陰大傷之候。用大生地、歸、芍、阿膠、淮藥補其肝，縮砂、牡蠣降其逆，旋覆花除其呃，出入調補十餘日而愈。</p>
<p>山陰吏書陳步云，患痢多日，所服皆消導攻痢等藥。舌雪花，呃逆不食，脈兩尺獨大，餘弦小。此久痢傷及肝腎也。用熟地、龜板、歸、芍、阿膠補其肝腎，薑、五味、炙甘、陳皮調其胃，以胃為腎之關，仿胃關煎法也。復以刀豆除其呃。十餘劑愈。</p>
<p>保佑橋酒店忘其姓，男人，年二十餘。痢一月，診時，氣息奄奄，脈沉虛小，側臥不敢動。一動則肛門稀水即出。舌鮮紅光潔。是腎陰大傷，必攻擊過分所致。用熟地、肉桂，五味、龜板，復以炮薑、粳米、赤石脂等桃花湯，多劑始愈。</p>
<p>予祖基本江南，遷紹二百餘年，即居此，與劉姓為鄰。懷川世叔，五六世交好也。患休息痢四載，日四五行，解出甚難，多轉矢氣，痢即隨出，如醬色紫。其休時，糞如筆管，商治於予。予謂須春分前後治之。至期，診脈弦滯大，予謂濕熱未淨，傷及氣分，用漢防己、焦茅朮、川連、茯苓、澤瀉祛其濕熱，廣木香、縮砂、陳皮利其氣，文黨參一兩，以升麻一錢煎濃汁浸烘黨參，升補其氣。七帖，其病如失。由是凡城鄉患休息痢者，每約至春分，治癒頗多。又松林張，年四十餘歲，患休息痢兩年，是傷及肝分者，用當歸黃芩湯合香連丸加製香附、縮砂舒肝而愈。</p>
<p>又松林薛四兄，作官江西，患休息痢已兩載。秋時歸裏，求治於予。予以治須春分，現恐湯藥不能效，當用丸緩治之法。用川連一兩，台烏藥一兩五錢，焦茅朮三兩，廣木香一兩五錢，澤瀉一兩五錢，淡黃芩一兩五錢，研末，米飲為丸。每服五錢，服七兩飲。痢亦愈。緣渠痢中夾紅，為濕熱之在肝者。</p>
<p>孕身患痢，治之極難。古人有五禁三審之法。三審者，審身之熱否，胎之動否，腰之痛否。一禁檳榔、厚樸破其氣，氣破胎下也；二禁制軍破其血，血破胎下也；三禁滑石、通草通其竅，竅通胎下也；四禁茯苓、澤瀉利其水，利水必傷陰，胎不保也；五禁人參、升麻兜塞其氣，痢愈滯，胎撞心也。法當涼血利氣。雞頭山周，七月孕，身患痢，皋埠諸醫無效。邀予。予以前法，二劑即愈。病家以方示諸醫，皆云非痢疾方，何以得愈？噫！正惟非痢疾方，乃所以治孕身之痢也。幼科周七香兄，其兩媳孕身，同時患痢。予以前法，皆兩劑愈。予友朱穀堂，寒士也，如君孕八個月，患痢，雖不犯大黃、檳榔，然皆厚樸、枳殼、蔞仁、麻仁通套藥，並非遵古治孕痢法，黃昏邀余治。正在腰腹大痛，勢欲作產，穀堂手足無措。予診脈浮大而舌淨，今胎動一產，即母於皆傷。因憶《景嶽全書》內有治孕痢欲產用當歸補血法。用蜜炙綿蓍一兩，炒當歸三錢，炒糯米一合，幸藥鋪不遠，予為之扇火速煎，下嚥，逾時痛止。再診關尺尚大，恐五更乃產，令再一劑，五更服之。次日午刻，穀堂至，稱醫為仙，五更果大痛，下嚥痛止，以此方為妙，又服一劑矣。予謂中病即止，過劑即屬兜塞，此痢胎前不能愈矣。果產後大作水瀉，又邀予。予以痢為水瀉為將愈，母須診，授以五苓散即愈。</p>
<p>大云橋周，二十三歲。其家前門緊對任氏後門，患痢，惡任氏專以攻奪，延姚姓治之。姚則不分肝脾，概以當歸、白芍、黃芩治之。治十日，不愈。不得已，邀任氏，以脾治法。又十日，更甚。始邀予。時正九月初也。予診脈弦大，舌白浮，面灰色，喉痛，口渴，其瀉出頗多。予以病在上焦，肺與大腸表裏，用肺分濕熱法，喉痛舌黑雖去，而痢總不愈。日邀治。治總不得其竅。一日病甚危，臥床，少腹中有塊頂起，喜人以厚棉褥用力按住，而糞乃下，且多。旁人告予其囊縮入少腹，此時房內聚集婦女，不避生人。予見床側有裝飾如新婦狀者，詢系何人。其母云：系病者之續室，三月間娶，八月初六在店中病，初七日歸，初八日重。予日夜陪。予云：初七夜汝未必陪也。乃不答。於是知病不謹，故囊縮，為入肝。據用大熟地八錢，吳茱萸一錢，肉桂、五味、龜板、歸身、淮藥二劑，塊隱瀉大差，再以脾腎法而愈。</p>
<p>世侄屠患痢，服大黃藥，病甚。其父邀予。予曰；令郎左脅下素有塊，若誤服大黃，必便紫血，為不治，是犯仲師之禁也。對曰：血卻不見。比診，正大痢血矣。予即辭。其父再三求。予云：須另請高明，予參末議可耳，後服人參多劑，終於不治。仲師所謂臍上下左右有動氣者，不可汗不可下也。</p>
<p>西郭陳患痢，就有名無實。服茯苓、澤瀉、米仁等藥，痢尤甚，蓋痢則禁小溲也。予診，脈弦，舌黃薄，痛在右腰肋，此肝痢也。用當歸、白芍、黃芩、甘草、川楝子、炒小茴、酒延胡、香連丸，兩劑即愈。凡瀉之似痢非痢者，盲醫每認為痢，用通痢套藥。即病家亦認為痢，至死不悟，大可歎也。</p>
<p>向橋朱，述患痢多日，服痢藥多劑不效。予診時，聽腹中有響聲。詢響歲時起。述初起即有。予云：痢無響聲，若一響，痢即愈，此非痢也。其家以糞有五色詰予為非。予云：響者，風也。凡腸風下血，風木乘脾，皆作響。此痛在臍上下，痛響即瀉，症名風木乘脾也。以仲景建中湯白芍五錢為君，當歸、桂枝、甘草、烏藥、木瓜、烏梅輔之，二劑痛瀉大差，三劑乃愈。</p>
<p>傅林傅婦，患三日，予診脈滯大，舌苔黃厚，口不甚渴。予詢解出如漿，然有時有塊否對曰：有時有之。予曰：此溏瀉也，五瀉之一。用胃苓湯而愈。</p>
<p>周七香之母，年望八十。九月間患痢。已服過時手藥矣。予診六脈洪大逾分。凡高年之脈，皆洪大也。舌白浮，面灰色，口不渴。述病未起時，食蟹，予以謂蟹傷脾胃也。用枳朮丸法。復入紫蘇以消蟹積。兩劑，其病如失。</p>
<p>俗言：吃不殺痢疾。張氏云：痢能食者，脾病，胃不病治之易愈耳，總須忌口。《本草匯言》云；瀉病，食鴨則成痢；痢，食鴨為難治。予治姚家方埭方姬，月初患痢，愈，囑勿食鴨。逾月，誤食復痢，其家人囑再邀予。病者畏予笑其饕餮而止，遂不治。予見方書云，夏時少吃瓜果，秋時可免痢。後過酷暑，飯前後過食西瓜，致成似痢，非痢解出急滯不爽，糞如鴿蛋，色紅，日六七行，諸藥不效。患至兩年，嗣以茅朮、川連、歸、芍、烏藥、澤瀉、廣木香、砂仁，米飲為丸，服七兩而愈。忌口半載後，食鴨，致周身化脹。服麻黃、生石膏入五苓散而愈。</p>
<h2>伏暑</h2>
<p>予治府幕杭人陳春翁，年六十餘。前一日在暑中行走，次日，身熱大汗，昏蒙不省人事，脈弦數，舌鮮紅，是暑熱直中心包。用犀角地黃湯、益元、麥冬、銀花，再加紫雪三分，兩劑霍然。</p>
<p>治松林薛婦，年三十餘，暑月手足麻木，瘈疭，不能起立，立即倒。俗醫謂之搖頭痧，諸藥不效。予診脈弦小。《名醫論》云暑濕入肝則麻木。用生地、歸身、阿膠、木瓜、刺蒺藜、滑石，服之即效。是暑濕直中肝經也。</p>
<p>又蓮河橋馬婦，八月間患伏邪，久亦手足麻木瘈疭，舌淨鮮紅，亦以此湯愈。是暑濕傳人肝經也。又平水婦女，年三十餘，壬戌九月間，在松林，往診。病由八月間，身熱咳嗽因避難不能服藥。至是則瘓疚神昏，脈弦，身微熱而咳嗽尚有。予謂是暑濕由肺傳心入肝，當先從肝心退出，仍歸肺分則淨若可。用薄荷、杏仁、桑葉等則身可涼也。於是以生地、歸身、刺蒺藜、麥冬、益元、木瓜、銀花、連翹、石菖蒲數劑，瘼疚除，神清，而身反大熱咳痰，再用辛涼合領邪外出法乃愈。</p>
<p>予六十九歲。七月十三日，先嘔，腹響，痛，大瀉，瀉出如痰甚多，兩足麻木拘攣不能開，所貯來復丹、霹靂散、正氣丸，自覺於症不符。因記袁子才詩集患此，薛一瓢令服木瓜湯即愈。遂恣飲之，漸愈。葉云扶虛進參附。張石頑先生云：暑症誤藥，皆有救法。誤服附子為難解。曾見有下嚥即死者。予救葉協台，諸法不效。然治會稽明府范公之封翁，八月間轉筋，用大順散、參、附、薑、桂得效，大抵治病須辨別確切也。表之汗不易徹。徹，通也，曾見八月間患頭痛，頭如破，服各表藥無效。一朝大汗即痙厥，不治。是犯仲景之戒。蓋病屬伏暑。上焦當用薄荷、絲瓜葉、竹葉、淡豆豉、蔥頭，以柴胡、葛根、羌活等殺之也。又見陰虛人，七月間，服小柴胡三四劑，大汗如浴，不救。城鄉醫者治暑，治暑無不以小柴胡湯，每至久纏不已。即用前法，諸恙悉解。而引入少陽之賊，反寒熱不去。予仍用柴胡截之，反致人詰。詎知即仲景附子瀉心湯，治誤下結胸，內有大黃。喻氏治酒病，仍用酒引。解鈴仍用緊鈴人也。予治吳又軒，在嘉興府幕，患上焦症，頭痛，身熱，無汗，口燥。海鹽廩生朱案云：用吳氏條辨法。辛涼微苦，字句書法均妙，而藥乃甜杏、甘草、秦艽，與案不符。歸家予用葉法，應候乃解，攻之便易溏瀉。蓋遵河間法，至七八日自能溏瀉，為濕邪自化(是得藥暑濕分開濕從下化之候)，可接用通溲藥，為開支河之法。予遇久患暑濕六七十日，誤攻，大便似痢，非痢用葉法即得暢解。譬如群小成聚，一見君子漸散也。過清則支冷嘔惡，邪經化火，烏得不以。羚角、川連，清之當中病即止，過劑則支冷嘔惡，洞瀉，為不治。予曾仿丹溪噤口痢法，以遼參入瀉心湯治嘔惡；以遼參入扶脾藥救洞瀉，往往無效。大抵遼參無真者耳。抑雖真亦不治耶。至誤服承氣，傷脾及胃，作瀉，舌雪花，不食，有用參、朮、炮薑得愈者。又治胡姓，服承氣後大瀉，舌鮮紅，脫液，口燥欲裂，為腎陰之傷。仿甘露法，二地、二冬、肉桂、茯苓、生米仁、滑石、石斛，瀉止津回。又治富合盛伏暑，盲醫誤下瀉水，舌鮮紅，脈弦小促，呃從少腹起，響而緩，為傷及肝腎，覆以不治。其父下跪磕頭求救。予擬胡姓得效方，適盲醫又至，被留，合商。彼診畢，告予，謂食未淨。予曰，烏知其有食曰：若食淨，身當涼，不涼，故知其未淨。予曰：子食飯，必有食，何以身不熱彼所病者，暑濕也，非食也；養人者，食也；殺人者，病也。子何以不治殺人之暑濕，而治養人之食彼不能說，以呃逆為肝氣，開旋覆湯而散。嗚呼！醫若是，亦生人之大不幸也。然而臣門竟如市也，則為不可解之事。嗣病家又邀一醫，以犀角地黃湯下嚥，即死，亦一盲也。此二人若照《醫門法律》，當入無閑地獄。又八月間，治松林老幕師薛朴堂先生之孫，盲醫先生已有方，予不知也。診脈數，舌黑燥，口渴作瀉，身熱有汗，予案云：此屬伏暑，濕邪已化之候，而肺液胃津先涸，當增液通溲。若誤作挾熱下利，便非治暑濕法。程則根生地、生白芍、麥冬、生米仁、生穀芽、地骨皮、益元散、通草等藥。樸堂並不知醫，以興彼之青麟丸、蔞仁、麻子仁、枳殼大異，因曰：天下醫，只一理，何冰炭若是請問攻瀉何意以彼之不曾立案也。彼云：急下存津，緣不早攻，故致舌黑。今攻之或可救也。又問：夫子何為予曰：予意在案，請觀案可也。彼云，能開方，何以不能說予曰：子所言是《傷寒論》，此所患是暑濕症。丹溪先生云，暑濕從無大便攻瀉之理。譬如刑名案情，罪輕重不等，豈皆殺耶傳曰：山有木，工則度之；賓有禮，主則擇之；主人擇之可耳。朴堂先生以予言為長，服予方四五劑即愈。又治西郭嘉余典內一婦，伏邪誤服大黃致危。予以葉法，多日治癒。身涼能食或食後傾囊吐出，吐後仍食，間數日，又吐。予用仲景炮薑甘草湯，一劑即止。蓋炮薑三錢、炙甘四錢，以大黃之傷其胃也。過燥則唇齒燥裂，燥藥以蒼朮為最，厚朴半夏次之；川連苦以燥之，燥亦甚；米仁、滑石、茯苓，雖燥不裂。上焦症，易於化燥，患久須重用根生地兩許，多劑救其津液，方可得汗通溲。予治三財殿前朱石翁，患伏暑五六十日，不汗不涼不食不便，用根生地兩許，佐以麥冬、元參多劑，始得汗，得㾦，且大解而身涼能食。若遇陰津素虧之人，舌淨光潔者，尤忌燥藥。蓋伏暑患在秋時，正當燥令，豈可過劑耶又蒼朮，本草謂其浴血，凡婦女經後，即遇水瀉，萬勿加用，用必液涸，雖大劑增液不可救。(元參一兩，生地八錢，麥冬五錢，名曰增液湯。凡遇風溫、溫熱、溫疫之陰虛不得便者，服三四劑，大便暢解，身亦涼。若用承氣，反致液涸難救。)暑濕發（病-丙c咅）者，多夾風者，亦發疹，須托疹。大力子、蟬退、晚蠶沙、木防己等。煩予曾於六月間，遇發斑者，大便必瀉，往往不治。當時不過一二人，並非沿門合境，則非瘟疫可知。至今尚未解其何故。暑症最忌指尖怕冷，其人陽氣必虛，最易洞瀉，用藥不可不慎。暑濕有化脹者，當遵《內經》脹起於上焦而甚於下焦而者，當先治其下焦，後治其上焦。治上焦麻黃湯，治下焦五苓散。然予試驗，當改云，須始治其上焦而終治其下焦。若用麻黃，必重用生石膏，為大青龍、越婢等法。以麻黃性溫，於暑未符也。此予之心得，治癒頗多。又治覆船山俞，六十外年紀，伏暑化脹已月餘，不能行走，不能食用，張子和桂苓甘露飲二十餘劑，愈。又富陽醫者馬姓，自述在軍營當差，受暑化脹年餘，自服金匱腎氣不效，慕名求治，予曰：金匱腎氣治腎脹，於病不符。暑脹在下焦，當用張子和桂苓甘露飲。所謂桂苓者，古法肉桂一錢五分，泡濃汁，滲入茯苓片六錢，曬乾入煎為君，每劑如是，始效耳。乃揖謝曰：不差不差，合好合好。而去，未知其究竟愈否。第無論何脹，切須忌口，葷油麵食尤忌，鹹味可毋忌，然不可過鹹耳。又暑濕有夾瘡瘍者，治朱水泉世侄，八月間患暑，而濕邪尤重，溏瀉，肛門患瘡。考{金鑒》云，名鶴口疽。但治其濕，瘡當先愈。用生茅朮、生冬朮、豬苓、茯苓等，果瘡先結痂，而後身涼。伏暑有兩腿腫脹，浮大酸重，不便行走者，須用木防己、石膏、澤瀉、炙桑皮。桑皮須自於桑根上掘取，藥鋪皆身上剝皮，非下焦藥，故無效。又滿身患暑濕爛瘡，用根生地兩許，羚角，連翹、川連、地骨皮、六一散、茯苓皮、晚蠶沙、木防己、澤瀉、通草、竹葉，不過十劑，愈。予友某，文理絕通，醫名亦有。其家中有患暑，久而未愈，邀治。診脈合症，是上焦。予曰：治之某日，必愈。是逢每五日為一候之期也用葉法，果至期解。歎以為奇殊。不知渠確遵《準繩》治暑用六經法。葉案未經目也。故予集《醫針》一書，各病以一專長者為主。以眾說會之，如傷寒以仲景六經法，遵柯韻伯說；諸溫邪以河間法，遵張喻吳葉論，及吳氏條辨，肝胃陽虛，遵東垣；肝胃陰虛，遵丹溪；暑濕風溫，遵葉氏；諸疝，遵張子和《儒門事親》書；吐血，遵為繆氏《廣筆記》。古人各有專長，吾輩幸生古人之後，當統觀而效法之。若坐井觀天，曰天在。是天豈盡於是哉！惜風溫、溫熱、瘟疫諸說被人攫去。惟余吐血一篇，嗣以病止，假我數年，若得成功，再當奉正。</p>
<p>又葉氏云：若有所夾，又須變通。予治夾經、夾產，業於溫邪熱人血室等論及之矣。至治朱石翁郎，十餘歲時，九月間患伏暑，已十四日，邀診。脈弦大，寒熱不分，明是陽尚未通，為失治。云，此症變幻有不可言者。用開提中焦法，分離其暑濕，一劑大流鼻衄，以鮮生地、羚角、知母、元參、麥冬、山查花等而解肺分陰陽，則大瀉，瀉出黑如墨汁，入水則鮮血也。予曰：肺與大腸相表裏，仍屬肺分，暑毒鬱熱，前法加減，復以通溲。乃胸痛嘔蛔，用椒梅飲，川連多而薑甚少，嘔止，睾丸縮入，小腹作痛，囊腫仰臥，不能動，動則腰背痛不可忍。是即葉氏所謂易虛易實之體，病久屬虛，以張子和治疝法。補以生地、阿膠，再進虎潛丸法。無如藥肆虎骨無真者，終成頹疝。予云：孩年頹疝為終身之累，須於長髮時以虎潛丸合當歸生薑羊肉湯可斷根，曾經治癒多多。乃正在避亂，不及服。至今二十餘歲，不常舉發。若有真虎脛骨多劑，尚可為也。暑濕解期，以候為期，每五日為一候。非若傷寒溫邪之七日為期也。如第四日有涼汗，則第五日解。第十四日有涼汗，則第十五日解。如無涼汗，又須一候矣。若治四五六十日外之暑濕，每逢第五日或第十日解。解之先一日必有涼汗，素有治暑薄名，伎倆不過如是，可謂純盜虛聲。</p>
<h2>瘄子</h2>
<p>紹興謂之瘩子，蘇州謂之沙子，其實皆風，感肺分。葉天士先生云：即屬風感肺分，與發疹治法一樣耳。當按四時法治之。在冬令發瘩，當用冬溫法；夏時用暑風法；秋時用秋燥法；春時用風溫法，則當用辛涼法，甘寒法，薄荷、連翹炒、大力子、桔梗、生甘、苦杏仁、麥冬、石膏、知母、玉竹、沙參、細生地、象貝、橘紅、金銀花、酒黃芩、冬桑葉。或大便作瀉，加淡滲法，則生米仁、茯苓，又炒銀花最妙。或火盛，則羚角、犀角、丹皮、焦梔子，或用葦莖湯、白虎湯，夏秋用，冬春斷不可用桂枝、白虎、竹葉石膏湯，或又加蔗漿、梨皮，各因其輕重而用之。又有入心營則犀角地黃湯，加紫雪或至寶丹。大抵初起大便水瀉者，不必服藥。大便燥結不通，謂之悶瘠，最危。俗法用西湖柳，性熱，《溫病條辨》大忌之也。至棉絲綿、櫻桃核，不知出於何書。兒科用之可笑也。道光癸卯間五月考時，考客患瘄，兒科用桂枝無不鼻衄。予用辛涼合甘寒無不即愈，而竟不用西湖柳。可見葉法不誤人。又若初見怕冷，加荊芥亦可，(荊芥性溫，怕冷是寒。)有寒邪故可用。余每用白蔻殼，以軀殼病，故用殼藥，去殼寒也。若初起作嘔，大力子易於作嘔，用之嘔更甚。然《內經》在上者，因而越之，風痰嘔出，瘄疹出透矣，何妙如之！若怕其嘔，加白蔻仁八分，即不嘔。又本草，大便瀉者，大力子禁用。以大力子能作瀉也。然瘄子出，瀉者不藥可愈，愈瀉愈妙。又瘄後水瀉，亦不礙，用甘寒復以淡滲，加銀花炭最妙。誤用溫熱乃參朮，必危，最怕吐血。</p>
<p>《醫病簡要》終</p>
