<header><h1>古本難經闡註</h1></header>
<dl class="元資料" data-type="book">
<div><dt>作者</dt><dd>丁錦</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1644/1911">公元1644年至公元1911年</data></dd></div>
<div><dt>底本</dt><dd><a href="https://ctext.org/library.pl?if=gb&res=2851">浙江大學圖書館掃描本</a>。電子文本修訂自永諸藏書。</dd></div>
<div><dt>品質</dt><dd>80%</dd></div>
</dl>
<h2>張序</h2>
<p>難經者。靈素之精華也。靈素猶多假託。難經則扁鵲手著之書。繼往聖開來賢。允為醫林之準的。奈古籍久湮。世傳多誤。由是解者臆度。讀者狐疑。難經晦而靈素不彰。靈素不彰而醫道或幾乎息矣。余向至吳門。訪求醫學。遇歙友金子。贈古本難經。讀之則綱舉目張。脈通絡貫。視世傳之錯謬。不啻撥雲霧而睹霄漢矣。乃遍考諸家。逐一校對。無如此卷之經明注晰者。寶之篋中。攜歸謀付棗梨。以公同志。幸得好古之士。力贊斯役。不數月而書成。俾數千年隱晦之書。一旦光昭宇內。是醫道之幸。亦即凡有疾苦者之厚幸也。其功顧不偉歟。故略序其梗概。以志不忘所自云。</p>
<p>嘉慶五年歲次庚申仲春近溪張基序</p>
<h2>嚴序</h2>
<p>余少學醫。從雲間嗣宗何夫子遊。近僑寓金閶。常與上洋王修沈子究論醫典。農軒之訓。猶之六經。扁鵲仲景猶私淑尼父之孟氏。是以內難傷寒。實醫門鼎足之三經也。自漢而下。名賢繼出者。惟本此而已。後代作者。非不各有發明。然日就褊淺。致今之學者。樂淺而畏深。趨末而忘本。嗚呼。經義不明。醫術奚恃。安得有好古之士。尚論三經。引宋仁宗朝嘉祐故事。上請聖天子詔儒臣及精通其事者。參古酌今。編纂全書。頒行宇內。為萬世蒼生計乎。適有客告余曰。向之所謂難其人者今得之矣。姓丁氏。號適廬。從茸城攜古難經加以闡注。來吳就梓。余聞之。始則異。既則疑。因憶先師曾述宋時丁德用難經補註言。華元化得越人書被執乃燼。今之流傳者。皆吳太醫令呂廣重編。文多錯簡。辭意難明。十七家之注。如滑氏等僅存疑義。莫從考證。或有古本。惜未顯於世耳。今子所聞。莫非吳氏之古本歟。客曰否。因偕沈子訪之。見其人。飄然鶴髮。非世俗之流。讀其書。非素見之書。方知難經本來辭明理貫。並無一字衍文。故東坡楞伽跋云。如醫之難經。句句皆理。字字皆法。必有見而云然。益徵師言有自矣。噫。二千餘年若晦若滅之書。一旦復顯。使天下人知八十一難。乃越人之注內經也。而先生之文。又疏越人之注義也。一若中天之日。纖微畢照。將見此本一出。則十七家之本可盡廢矣。先生已成不朽之功。豈常人所能及哉。丁子避席曰。河圖洛書。因聖人而出。世祕之書。俟聖朝而顯。此亦理數之使然也。我何人斯。而敢與其功焉。余因樂其遇而紀其事。敬述於簡末。</p>
<p>乾隆三年戊午陽月洞庭菊坡居士嚴茂源書</p>
<h2>敘</h2>
<p>難經者。扁鵲之所著也。何為乎而名經。本於內經故名也。內經黃帝之靈樞素問也。其闡發天地陰陽五行之理。動植飛潛之性。合於五臟六腑。聲色臭味之微。未病而知其病之來。已病而知其病之源。不定法故法無不神。不立方故方無不備。猶夫六經之垂於萬世也。扁鵲去古未遠。能徹其源委。合靈素之一十八卷。各八十一篇。批卻導窾。條分縷析。共列八十一難。亦述而不作之意也。其辭雖出於靈素。而晦者明之。繁者省之。缺者補之。複者略之。無微不徹。無義不該。故靈素而下。首推難經。雖有繼起名賢。安能出其範圍哉。數千年來。尚有人知靈素之義者。獨賴此書之存。歷世久遠。傳寫失真。前後舛錯。以致文氣失貫。精義不彰。近代注家。因訛就訛。愈解愈晦。沿至今日。徒知難經之名。而不明難經之蘊者。蓋不少矣。予自庚戌之秋遊武昌。客參政朱公所。公素好醫。出篋中古本難經。乃晉王叔和醫範三經之一也。開卷觀之。異於坊本。如古之三難。誤列十八難。古之十二難。誤列七十五難。共誤三十餘條。而式亦不類於坊本。其問詞升一字。經也。其對詞降一字。引經以釋經也。以今本對校。心目之間。恍若有見。由是而推其論脈論症論治。莫不曲暢旁通。此誠濟世之津梁。醫林之至寶也。余留楚三載。深有得於此書。癸丑冬歸里。親族故交。凋零殆半。問其故。或曰卒於病也。或曰卒於藥也。余不禁愀然思。惕然懼。因憶昔人之為人臣者。不可不知醫。為人子者。不可不知醫。信哉言乎。遂以是書命子侄於舉業之暇讀之。其原文對詞。乃扁鵲引經以釋經之旨。是即扁鵲之注也。注有未詳。疏以通之。六經成例。具見於前。是以據所偶得。並採滑氏諸家之切當者。註解字釋。贅於各條之末。名之曰古本難經闡注。芻蕘一得。敢附前賢。以其嘗苦心於斯也。倘讀者藉此以洞難經之源。未必無小補於斯道云爾。</p>
<p>乾隆丙辰春仲雲間適廬老人丁錦書</p>
<h2>凡例</h2>
<p class="首行凸出1字 縮進1字">一、是經注相傳既久。錯簡頗多。如三難誤列十八難。十難誤列四十八難。凡誤三十餘條。今悉依古本釐正。一復越人之舊。恐其久而又差。故復撰某難發明何義目次一篇。證誤目次一篇。冠於首。</p>
<p class="首行凸出1字 縮進1字">一、傳世之書。繕寫多訛。獨難經歷三千年來。所誤不過數字。開列證誤目次。蓋因是書以數冠篇。不致遺失。然其數則存。而文已不隨其數。如三難之誤列十八難而不覺也。沿訛踵謬。讀者難明。余就古本原文闡發。並採前人之說。附於其下。遂覺本義復明。即不業醫者。似亦可展卷了然矣。</p>
<p class="首行凸出1字 縮進1字">一、是經越人悉本內經。或字句間與內經小有異同。其義實無相悖。後人執此一二字以議其非。亦已妄矣。至於脈位。以大小腸分發兩寸。確有至理。余於三難注明李士材喻嘉言輩欲駁其誤。恐後人不服。而雲高陽生之偽訣。今人不明難經。惑於偽訣一語。反以難經為不足憑。豈其然乎。</p>
<p class="首行凸出1字 縮進1字">一、是經越人取經義之深微者。設為問難。雖止八十一條。而內經之全旨已具。其發明脈理證治針刺。率以一語該千百言之蘊。學人若致心研討。自能悟千百言於一語之下。欲臻其境者。先讀難經。再讀內經可也。</p>
<p class="首行凸出1字 縮進1字">一、是經四明張靜齋本各條俱有繪圖。夫難經所言。皆闡明脈理陰陽。榮衛虛實。五行交互。補瀉變通。難以繪圖。今其圖不過即以其文或方或圓或顛或倒。重寫一過而已。學人一泥其圖。真義反晦。故去之。</p>
<p class="首行凸出1字 縮進1字">一、是書余與參政中峰朱公互相商榷。裨助實多。間加一二評語。亦錄於下。</p>
<p class="首行凸出1字 縮進1字">一、是經注解行世者。歷來一十七家。並列姓氏。其未之見者。不及備載。</p>
<p class="首行凸出1字 縮進1字">一、是注原為家學衛生而設。每用淺近通俗之語。欲使子侄易明易熟。余又氣血既衰之年。不能過用心思。故字句間多有不檢之處。學人諒之。</p>
<p>丁錦履中氏又書</p>
<h2>正文</h2>
<p>一難曰。十二經中皆有動脈。獨取寸口。以決五臟六腑死生吉凶之法。何謂也。然。寸口者。脈之大會。手太陰之脈動也。</p>
<span class="註"><p>此章總冒五臟六腑十二經動脈。俱會於寸口。下文分晰十二經脈。一日夜五十會於寸口。榮衛血氣。一日夜會於寸口也。十二經者。手太陽手陽明手少陽足太陽足陽明足少陽為陽六經。從手走頭。從頭走足。手太陰手少陰手厥陰足太陰足少陰足厥陰為陰六經。從足走胸。從胸走手。此十二經脈所行之直路也。手太陰者。肺也。肺朝百脈。所以十二經統會於此。故曰寸口脈之大會也。</p></span>
<p>人一呼脈行三寸。一吸脈行三寸。呼吸定息。脈行六寸。人一日夜凡一萬三千五百息。脈行五十度周於身。</p>
<span class="註"><p>二刻為一度。二百七十息。脈行十六丈二尺為一周。一日夜五十周於寸口。下文言榮衛一周於寸口。</p></span>
<p>漏水下百刻。榮衛行陽二十五度。<span class="註"><small class="雙行小字">從寅至申。</small></span>行陰二十五度。<span class="註"><small class="雙行小字">從申至寅。</small></span>為一周也。故五十度復會於手太陰。<span class="註"><small class="雙行小字">二刻一度。百刻五十度。行畢而復會。</small></span>寸口者。五臟六腑之終始。故取法於寸口也。</p>
<span class="註"><p>凡人之通身血脈。無處不周。無刻不運。謂呼吸定息。脈行六寸者。指手太陰肺脈為首而會也。譬如念佛數珠有首有尾。轉動一粒。則粒粒俱轉。然自始至終。必以首粒為主。而定其數。猶肺脈為首行六寸。而通身之脈莫不盡行六寸也。但十二經因各行其道。所以較榮衛速。一日夜五十周於身。而於寸口亦五十會也。至榮衛血氣。從中焦注手太陰肺。從肺注手陽明大腸。大腸注足陽明胃。從胃注足太陰脾。從脾注手少陰心。從心注手太陽小腸。小腸注足太陽膀胱。膀胱注足少陰腎。從腎注手厥陰胞絡。胞絡注手少陽三焦。三焦注足少陽膽。從膽注足厥陰肝。從肝復注於肺。此一日夜遍行於十二經。所以遲。故止行一周。而於寅時在寸口亦一會也。</p></span>
<p>二難曰。脈有尺寸。何謂也。然。尺寸者。脈之大要會也。從關至尺。是尺內。陰之所治也。從關至魚際。是寸口內。陽之所治也。故分寸為尺。分尺為寸。</p>
<span class="註"><p>此章明寸陽尺陰。定三部脈之分寸也。寸脈名曰一寸。實在九分。陽數九也。尺脈名曰一尺。實在取一尺中之一寸。分於部位。陰數十也。合陰陽之數。共長一寸九分。分寸為尺者。分寸內之三分為關部。分尺為寸者。分尺內之四分為關部。則寸關尺每部應各得六分。三六一寸八分。餘一分配在關前。即左名人迎。右名氣口也。經但言尺寸而不言關者。關居尺寸之中。而受尺寸所分之地。故不言關。而關在其中矣。故陰得尺中一寸。陽得寸內九分。尺寸終始。一寸九分。故曰尺寸也。此申明上文之義。以起下章。定十二經之脈位於寸關尺也。</p></span>
<p>三難<span class="註"><small class="雙行小字">三難誤列十八難</small></span>曰。脈有三部<span class="註"><small class="雙行小字">寸關尺</small></span>部有四經。<span class="註"><small class="雙行小字">每部四經共十二經</small></span>手有太陰<span class="註"><small class="雙行小字">肺</small></span>陽明<span class="註"><small class="雙行小字">大腸</small></span>。足有太陽<span class="註"><small class="雙行小字">膀胱</small></span>少陰<span class="註"><small class="雙行小字">腎</small></span>。為上下部何謂也。</p>
<span class="註"><p>此以肺與大腸膀胱與腎。上下之臟腑問者。以起下文。定十二經之脈位於兩手六部也。</p></span>
<p>然。手太陰<span class="註"><small class="雙行小字">肺</small></span>陽明<span class="註"><small class="雙行小字">大腸</small></span>金也。足少陰<span class="註"><small class="雙行小字">腎</small></span>太陽<span class="註"><small class="雙行小字">膀胱</small></span>水也。金生水。水流下行而不能上。故在下部也。足厥陰<span class="註"><small class="雙行小字">肝</small></span>少陽<span class="註"><small class="雙行小字">膽</small></span>木也。生手太陽<span class="註"><small class="雙行小字">小腸</small></span>少陰<span class="註"><small class="雙行小字">心</small></span>火也。火炎上行而不能下。故為上部。手心主<span class="註"><small class="雙行小字">厥陰胞絡</small></span>少陽<span class="註"><small class="雙行小字">三焦</small></span>火。生足太陰<span class="註"><small class="雙行小字">脾</small></span>陽明<span class="註"><small class="雙行小字">胃</small></span>土。土主中宮。故在中部也。此皆五行子母更相生養者也。</p>
<span class="註"><p>兩手寸口統屬太陰。所以脈位從太陰起。手太陰。肺經也。手陽明。大腸經也。肺與大腸相為表裡。俱屬金。金位居西。肺位在上。所以當在右寸也。足少陰。腎經也。足太陽。膀胱經也。腎與膀胱相為表裡。俱屬水。水位居北。腎位在下。肺金生之。水流下而不能上。所以當在左尺也。足厥陰。肝經也。足少陽。膽經也。肝與膽相為表裡。俱屬木。木位居東。肝位在左，腎水生之。木不能遠水。所以當在於左關也。手太陽。小腸經也。手少陰。心經也。心與小腸相為表裡。俱屬火。火位居南。心位在上。肝木生之。火炎上而不能下。所以當在左寸也。手心主。即手厥陰胞絡也。手少陽。三焦也。二經相為表裡。同命門俱屬相火。君火在上。臣火在下。所以當在右尺也。足太陰脾經也。足陽明胃經也。脾與胃相為表裡。俱屬土。相火代君行令生之。土位居中。所以當在右關也。此皆五行子母相生者也。以臟腑分配脈位。是天造地設。後人各執偏見。持論紛紛。使學者難憑。如喻嘉言李士材張介賓相因而言大小腸配兩寸為非。改配尺為是。又云。此非出於難經。乃高陽生偽訣。又云。二腸不潔之腑。不應配心肺清高之臟。又云。按內經上竟上者。胸喉中事也。下竟下者。少腹腰股膝脛足中事也。殊不知素問云。尺內兩旁。則季脅也。尺外以候腎。尺裡以候腹。中附上。左。外以候肝。內以候膈。右。外以候胃。內以候脾。上附上。右。外以候肺。內以候胸中。左。外以候心。內以候膻中等句。此候脈位之說也。亦并無二腸膀胱之定位。此內經專主五臟。以定脈位。而略於腑者。正見腑必隨臟。臟必通腑也。至上竟上下竟下二句。是審病之所也。下文三部主疾。即是其義。何可借此牽扯。且人之臟腑。俱應五行。如大腸屬庚金。肺屬辛金。庚辛一氣也。小腸屬丙火。心屬丁火。丙丁一氣也。故越人定十二經之脈位。遵內經之手配手足配足。皆應五行一氣之理。今以一臟腑分持於兩手。豈非錯亂五行乎。以右寸手陽明大腸改配左尺足少陰腎位。豈非混雜手足乎。若云二腸不潔之腑。不應配心肺清高之臟。則手太陽小腸之經。手陽明大腸之經。亦不應上至於頭矣。余意三子之見。不過就臟腑高下而論。孰意越人已揭高下及不淨之義於四十難。剖晰極明。豈諸公未見難經之全文耶。抑見之而不解耶。抑好奇而故為之駁耶。抑駁之而慮後人不服。而云高陽生之偽訣耶。</p></span>
<p>脈有三部九候。各何所主之。然。三部者。寸關尺也。九候者。浮中沉也。<span class="註"><small class="雙行小字">此段以脈候病</small></span>上部法天。主胸以上至頭之有疾也。中部法人。主膈以下至臍之有疾也。下部法地。主臍以下至足之有疾也。審而刺之者也。<span class="註"><small class="雙行小字">此段按上下部位針病</small></span></p>
<span class="註"><p>此言寸關尺三部。俱有浮中沉之三候。每部各三候。而為九候也。此則用藥主治也。上中下三部。言人身上中下三停也。九候言每停分天地人三部。此則用針主治也。故用審而刺之者也。坊本誤人為下部法而應乎地。</p></span>
<p>四難曰。脈有陰陽之法。何謂也。然。呼出心與肺。吸入腎與肝。呼吸之間。脾受谷味也。<span class="註"><small class="雙行小字">別刻云受谷味三字亦贅辭。余謂最緊要蓋中州有谷味能主乎呼吸也。</small></span>其脈在中。浮者陽也。沉者陰也。故曰陰陽也。</p>
<span class="註"><p>此章言脈之陰陽。雖在於尺寸。然陰陽之氣。又在於浮沉。如心肺居上。陽也。呼出必由之。腎肝居下。陰也。吸入必歸之。脾受谷味而在中。則呼出吸入無不因之。故診脈之法。浮取乎心肺之陽。沉取乎腎肝之陰。而中應乎脾胃也。曰陰陽。則脾土居中。兼乎陰陽矣。前章以臟腑定於脈位。此下言臟腑應乎脈位。乃見經文先後層次。向因誤列而晦也。</p></span>
<p>心肺俱浮。何以別之。然。浮而大散者心也。浮而短澀者肺也。肝腎俱沉。何以別之。然。牢而長者肝也。按之濡舉指來實者腎也。脾主中州。故其脈在中。是陰陽之法也。</p>
<span class="註"><p>此言浮中沉按取陰陽之法。下文復明六脈陰陽之義。</p></span>
<p>脈有一陰一陽。一陰二陽。一陰三陽。有一陽一陰。一陽二陰。一陽三陰。如此之言。寸口有六脈俱動耶。然。此言者。非有六脈俱動也。謂浮沉長短滑澀也。浮滑長。陽也。沉短澀。陰也。所謂一陰一陽者。謂脈來沉而滑也。<span class="註"><small class="雙行小字">左尺為順右寸為逆</small></span>一陰二陽者。謂脈來沉滑而長也。<span class="註"><small class="雙行小字">左關為順右關為逆</small></span>一陰三陽者。謂脈來浮滑而長。時一沉也。<span class="註"><small class="雙行小字">左寸為順右尺為逆</small></span>所謂一陽一陰者。謂脈來浮而澀也。<span class="註"><small class="雙行小字">右寸為順左關為逆</small></span>一陽二陰者。謂脈來長而沉澀也。<span class="註"><small class="雙行小字">左關為順右關為逆</small></span>一陽三陰者。謂脈來沉澀而短。時一浮也。<span class="註"><small class="雙行小字">左尺為順右寸為逆</small></span>各以其經所在名病逆順也。</p>
<span class="註"><p>此一節言陰陽之脈。合心肺腎肝之逆順。經所在。即十二經之所在也。假如一陰一陽之脈。沉而滑也。見於左尺。腎與膀胱之經為順。見於左寸。心與小腸之經為逆。亦相克之意也。六部仿此。左三部沉滑居多。陽中之陰也。右三部浮澀居多。陰中之陽也。</p></span>
<p>五難曰。脈有輕重。何謂也。然。初持脈如三菽之重。與皮毛相得者。肺部也。如六菽之重。與血脈相得者。心部也。如九菽之重。與肌肉相得者。脾部也。如十二菽之重。與筋平者。肝部也。按之至骨。舉指來疾者。腎部也。故曰輕重也。</p>
<span class="註"><p>此承上章言浮中沉之按法。候肺心脾肝腎之部也。</p></span>
<p>六難曰。脈有陰盛陽虛。陽盛陰虛。何謂也。然。浮之損小。沉之實大。故曰。陰盛陽虛。沉之損小。浮之實大。故曰。陽盛陰虛。是陰陽虛實之意也。</p>
<span class="註"><p>此章亦承上章以浮中沉之按法。察陰陽虛盛之義也。損小實大者。虛脈盛脈之綱領也。學者自當會意而推廣之。</p></span>
<p>七難曰。經言少陽之至。乍大乍小。乍短乍長。陽明之至。浮大而短。太陽之至。洪大而長。太陰之至。緊大而長。少陰之至。緊細而微。厥陰之至。沉短而敦。<span class="註"><small class="雙行小字">敦迫也陽將動也</small></span>此六者。是平脈也。將病脈耶。然。皆王脈也。其氣以何月各王几日。然。冬至後。復得甲子少陽王。<span class="註"><small class="雙行小字">十一月甲子至正月</small></span>復得甲子陽明王。<span class="註"><small class="雙行小字">正月甲子至三月</small></span>復得甲子太陽王。<span class="註"><small class="雙行小字">三月甲子至五月</small></span>復得甲子太陰王。<span class="註"><small class="雙行小字">五月甲子至七月</small></span>復得甲子少陰王。<span class="註"><small class="雙行小字">七月甲子至九月</small></span>復得甲子厥陰王。<span class="註"><small class="雙行小字">九月甲子至十一月</small></span>王各六十日。六六三百六十日。以成一歲。此三陰三陽之王時日大要也。</p>
<span class="註"><p>此章詳言六氣之旺脈。然三陽三陰經之旺脈。亦可以此類推。</p></span>
<p>八難曰。寸口脈平而死者。何謂也。然。諸十二經脈者。皆係於生氣之原。所謂生氣之原者。謂十二經之根本也。謂腎間動氣也。此五臟六腑之本。十二經之根。呼吸之門。三焦之原。一名守邪之神。故氣者人之根本也。根絕則莖葉枯矣。寸口脈平而死者。生氣獨絕於內也。</p>
<span class="註"><p>此章首明命門三焦一氣同原之義。所謂生氣之原者。即兩腎中間命門原也。呼出氣起於此。吸入氣納於此。故十二經脈之氣。皆係於此。所以為五臟六腑之本。十二經之根。呼吸之門。三焦之原也。人有此原氣。邪氣不能傷其身。守於內。而充於外。故曰守邪之神。若此氣絕。猶草木之根絕。莖葉即枯。雖寸口脈平。必死。若此氣未絕。雖寸口脈無。亦不死也。是即十四難之上部無脈。下部有脈。雖困無能為害也。</p></span>
<p>九難曰。何以別知臟腑之病耶。然。數者腑也。遲者臟也。數則為熱。遲則為寒。諸陽為熱。諸陰為寒。故以別知臟腑之病也。</p>
<span class="註"><p>此章專重分別臟腑之病。言數脈腑也。遲脈臟也。數則腑病為熱。遲則臟病為寒。諸陽皆屬於腑為熱。諸陰皆屬於臟為寒。以此分別臟腑之病。無遺也。後人議數則為熱句。似有未妥。每見陽虛之病。脈亦急數。投桂附而即平。殊不知數則為熱。數字即腑字也。遲則為寒。遲字即臟字也。甚矣。讀古人書未經苦心體會。豈可輕議哉。此章但言臟腑不同。不言病與虛實。故下章申明脈病診虛實之義。</p></span>
<p>十難曰。人有三虛三實。何謂也。然。有脈之虛實。有病之虛實。有診之虛實也。脈之虛實者。濡者為虛。緊牢者為實。病之虛實者。出者為虛。入者為實。言者為虛。不言者為實。緩者為虛。急者為實。診之虛實者。濡<span class="註"><small class="雙行小字">濡軟也</small></span>者為虛。牢<span class="註"><small class="雙行小字">牢硬也</small></span>者為實。痒者為虛。痛者為實。外痛內快為外實內虛。內痛外快為內實外虛。故曰虛實也。</p>
<span class="註"><p>此結上文脈病三虛三實也。然虛之一字。最重者腎。故下章詳言腎氣盡之脈也。</p></span>
<p>十一難曰。經言脈不滿五十動而一止。一臟無氣者。何臟也。然。人吸者隨陰入。呼者因陽出。今吸不能至腎。至肝而還。故知一臟無氣者。腎氣先盡也。<span class="註"><small class="雙行小字">吸者。陽隨陰入。呼者。陰因陽出。陽不能榮於下。惟至肝而還者。因腎氣先盡。而不能受吸入之氣也。故有下章汲汲乎補腎之法。或四十三十動一止。又當以肝脾之氣類推也。</small></span></p>
<p>十二難曰。經言。東方實。西方虛。瀉南方。補北方。何謂也。然。金木水火土。當更相平。東方木也。西方金也。木欲實。金當平之。火欲實。水當平之。土欲實。木當平之。金欲實。火當平之。水欲實。土當平之。東方者肝也。則知肝實。西方者肺也。則知肺虛。瀉南方火。補北方水。南方火。火者木之子也。北方水。水者木之母也。水勝火。子能令母實。母能令子虛。故瀉火補水。欲令金不得平木也。經曰。不能治其虛。何問其餘。此之謂也。<span class="註"><small class="雙行小字">讀此章乃見補腎之法。出自越人。蓋因腎水足。則金不耗。而肺不虛。腎水足。則木得養。而肝不燥。肝不燥。則木不侮脾而脾足。脾既足。土又可生金。金又生水。自此接續而生。莫不均藉補水之力。此天一生水之義也。若不明乎此。即經所謂不能治其虛。何問其餘。</small></span></p>
<p>十三難曰。經言見其色。而不得其脈。反得相勝之脈者即死。得相生之脈者。病即自已。色之與脈。當參相應。為之奈何。</p>
<span class="註"><p>此以色脈為問。下文詳言色脈皮膚聲音臭味相應之義。</p></span>
<p>然。五臟有五色。皆見於面。亦當與寸口尺內相應。假令色青<span class="註"><small class="雙行小字">肝色</small></span>其脈當弦而急<span class="註"><small class="雙行小字">肝脈</small></span>。色赤<span class="註"><small class="雙行小字">心色</small></span>其脈浮大而散<span class="註"><small class="雙行小字">心脈</small></span>。色黃<span class="註"><small class="雙行小字">脾色</small></span>其脈中緩而大<span class="註"><small class="雙行小字">脾脈</small></span>。色白<span class="註"><small class="雙行小字">肺色</small></span>其脈浮澀而短<span class="註"><small class="雙行小字">肺脈</small></span>。色黑<span class="註"><small class="雙行小字">腎色</small></span>其脈沉濡而滑<span class="註"><small class="雙行小字">腎脈</small></span>。此謂五色之與脈。當參相應也<span class="註"><small class="雙行小字">此概舉五臟之色脈也。下文明相應吉凶之義。此節精熟。則色脈生勝之理。自然了了。</small></span>脈數。尺之皮膚亦數。脈急。尺之皮膚亦急。脈緩。尺之皮膚亦緩。脈澀。尺之皮膚亦澀。脈滑。尺之皮膚亦滑。</p>
<span class="註"><p>此言脈與寸關尺皮膚相應之理。脈數。數字當作熱字解。急字當作緊字解。緩字當作和字解。澀即干澀之謂。滑即滑潤之謂。此但言尺者。統乎手臂也。</p></span>
<p>五臟各有聲色臭味。當與寸口尺內相應。其不相應者病也。</p>
<span class="註"><p>此言五臟各有相生相勝。當以聲色臭味參之。如聲呼色青。臭臊味酸者。肝也。聲笑色赤。臭焦味苦者。心也。聲歌色黃。臭香味甘者。脾也。聲哭色白。臭腥味辛者。肺也。聲呻色黑。臭腐味咸者。腎也。察其聲色臭味。參合其脈之相生相勝。則知其病之生死矣。假令色白多哭。好辛臭腥。其脈弦而急者。是肺之聲色臭味。而見肝脈者。為相勝。則死。若見脾脈。此為相生。病即自已。若見肝之聲色臭味而得脾脈。亦死也。</p></span>
<p>假令色青<span class="註"><small class="雙行小字">肝色</small></span>。其脈浮澀而短<span class="註"><small class="雙行小字">肺脈</small></span>。若大而緩<span class="註"><small class="雙行小字">脾脈</small></span>。為相勝。浮大而散<span class="註"><small class="雙行小字">心脈</small></span>。若小而滑<span class="註"><small class="雙行小字">腎脈</small></span>。為相生也。</p>
<span class="註"><p>此申明相生相勝之義。以肝臟為例而言也。假如青者。肝木之色也。浮澀短。肺金之脈也。為脈勝色。大而緩。脾土之脈也。為色勝脈。浮大散。心火之脈也。為色生脈。小而滑。腎水之脈也。為脈生色。餘臟仿此。</p></span>
<p>經言知一為下工，知二為中工。知三為上工。上工者。十全九。中工者。十全八。下工者。十全六。此之謂也。</p>
<span class="註"><p>此總結上文色脈生勝之理。缺一不可。知一者。知其色也。知二者。知其色與脈也。知三者。知其脈與聲色臭味之相生相勝也。</p></span>
<p>十四難曰。脈有損至。何謂也。然。至之脈。一呼再至曰平<span class="註"><small class="雙行小字">一息四至</small></span>。三至曰離經<span class="註"><small class="雙行小字">一息六至</small></span>。四至曰奪精<span class="註"><small class="雙行小字">一息八至</small></span>。五至曰死<span class="註"><small class="雙行小字">一息十至</small></span>。六至曰命絕<span class="註"><small class="雙行小字">一息十二至</small></span>。此至之脈也。何謂損。一呼一至曰離經<span class="註"><small class="雙行小字">一息二至</small></span>。二呼一至曰奪精<span class="註"><small class="雙行小字">一息一至</small></span>。三呼一至曰死<span class="註"><small class="雙行小字">一息半一至</small></span>。四呼一至曰命絕<span class="註"><small class="雙行小字">二息一至</small></span>。此損之脈也。至脈從下上。損脈從上下。</p>
<span class="註"><p>診損至之脈。以醫者之息數。定病者之至數。至脈從下上者。從腎而上也。損脈從上下者。從肺而下也。此言損至脈大綱。</p></span>
<p>損脈之為病。奈何。然。一損損於皮毛。皮聚而毛落。二損損於血脈。血脈虛少。不能榮於五臟六腑也。三損損於肌肉。肌肉消瘦。飲食不能為肌膚。四損損於筋。筋緩不能自收持。五損損於骨。骨痿不能起於床。反此者。至之脈病也。<span class="註"><small class="雙行小字">至之脈向誤至於收</small></span>從上下者。骨痿不能起於床者死<span class="註"><small class="雙行小字">損脈病</small></span>。從下上者。皮聚而毛落者死<span class="註"><small class="雙行小字">至脈病</small></span>。</p>
<span class="註"><p>此一節。指損至脈本原之久病。蓋一損皮毛。病尚淺。五損於骨。病已深。然有由骨而復反皮毛必死。所以虛勞脈數不治。</p></span>
<p>治損之法奈何。然。損其肺者。益其氣。損其心者。調其榮衛。損其脾者。調其飲食。適其寒溫。損其肝者。緩其中。損其腎者。益其精。此治損之法也。</p>
<span class="註"><p>曰益。曰調。曰適。曰緩。此四法包括已盡。不立方而方在其中。此但言治損。不言治至者。若到至脈已無治也。可不慎歟。</p></span>
<p>脈有一呼再至。一吸再至。有一呼三至。一吸三至。有一呼四至。一吸四至。有一呼五至。一吸五至。有一呼六至。一吸六至。有一呼一至。一吸一至。有再呼一至。再吸一至。有呼吸不至。脈來如此。何以別知其病也。</p>
<span class="註"><p>此復舉至損之脈為問。是指近病而言。以起下文也。</p></span>
<p>然。脈來一呼再至。一吸再至。不大不小曰平。</p>
<span class="註"><p>此指一息四至之平脈。不大不小者。言不洪大不沉細也。</p></span>
<p>一呼三至。一吸三至。為適得病。前大後小。即頭痛目眩。前小後大。即胸滿短氣。</p>
<span class="註"><p>此指一息六至之脈也。適。初也。言初得病也。前謂寸脈。後謂尺脈。寸大尺小者。邪在表也。寸小尺大者。邪在裡也。</p></span>
<p>一呼四至。一吸四至。病欲甚。脈洪大者。苦煩滿。沉細者。腹中痛。滑數傷熱。澀者中霧露。</p>
<span class="註"><p>此指一息八至之數脈也。欲甚將甚也。洪大而數者。邪在胸膈。沉細而數者。邪在腹中。滑數傷熱邪。澀數中濕邪也。</p></span>
<p>一呼五至。一吸五至。其人當困。沉細夜加。浮大晝加。不大不小。雖困可治。其有大小者。為難治。</p>
<span class="註"><p>此指一息十至之危脈也。困。病重也。沉細。陰將竭而夜重。浮大。陽將竭而晝重。所以不浮大。不沉細。雖重而可治也。</p></span>
<p>一呼六至。一吸六至。為死脈也。沉細夜死。浮大晝死。</p>
<span class="註"><p>此一息十二至之死脈也。以上四節。俱指近病而言也。</p></span>
<p>一呼一至。一吸一至。名曰損。人雖能行。猶當著床。所以然者。血氣皆不足故也。</p>
<span class="註"><p>此一息二至之脈也。人雖能行者。言初損肺。人必能行。因其能行而不治。則必漸及於心肝脾腎。血氣俱損。而著床也。</p></span>
<p>再呼一至。再吸一至。名曰無魂。無魂者。當死也。人雖能行。名曰行尸。</p>
<span class="註"><p>此一息一至之脈也。魂屬真陽之氣。陽氣敗絕。雖能行必死。故曰行尸。此二節復言損脈者。明損脈非起於一朝一夕。或有初起病。得似損非損之脈。恐人誤認。故以下文結之。</p></span>
<p>上部有脈。下部無脈。其人當吐。不吐者死。上部無脈。下部有脈。雖困無能為害。所以然者。譬如人之有尺。猶樹之有根。枝葉將槁枯。根本將自生。脈有根本。人有原氣。故知不死。</p>
<span class="註"><p>此呼吸不至之脈也。上有下無。謂寸有尺無。因實邪一時閉塞。阻遏生氣。吐則越其邪而升其氣。不吐者死。謂不用吐法者死也。此條越人恐誤認損脈。故諄之晰之。夫損脈者遲脈也。至脈者數脈也。不言遲數。而言損至者。蓋以遲數之脈。統攝虛證實證。表證裡證。無所不包。無法不備之總名也。如首節言。至脈始於一息四至。終於十二至。損脈始於一息二至。終於兩息一至。此為本原證提綱而論也。至脈從下上。損脈從上下。明至脈從腎陰虛竭。而及於肺氣盡。損脈從肺氣虛寒。而及於腎陽竭也。二節明損脈之本原證起於肺。若失治必遞及於心脾肝腎。其損脈必反而為至脈。因腎虛火燥。復由腎而遞及肝脾心肺而死。故曰反此者。至之脈病也。三節明調治本原諸法。言損於肺者。益其氣。蓋損肺即損氣也。氣即命門之真氣。真氣損。則皮皴而毛髮枯。故曰皮聚而毛落。治之當益其氣。益則補益之謂也。氣虛即陽虛。補其陽氣。則皮毛可以充實。若非理中桂附等類。何以補其陽。輕則補中益氣等湯。庶可取用。若不明損脈之義。又何能明治損之法。及至脈數氣喘發咳晡熱。方云肺虛。然後補肺保氣。終無成效矣。殊不知此是損脈失治。轉到至脈不治之候也。又曰。損其心者。調其榮衛。蓋損心即損血也。心為榮血之源。肺為衛氣之本。既損肺而復損其心。其氣血不能榮養五臟六腑。當調而治之。調者。取和調之義。有顧此兼彼之法。非比益之徑行直遂也。如歸脾湯異功散八珍湯十全大補等湯。或六味八味等丸。消息病情。隨宜投服。無不效也。若不明治損之義。必待脈數心煩。咽干口燥。驚惕不寐。方謂心虛。投之溫補。必不受也。滋補必礙脾也。此亦損脈失治。轉到至脈不治之候也。又曰。損其脾者。調其飲食。適其寒溫。蓋脾主中州。又主肌肉。消瘦則腠理不密。不論寒溫。感邪最易。故曰適其寒溫。中州失職。則運化無權。易泄易滯。不特參苓藥在溫補健脾。而於飲食。亦必節其飢飽。察其所宜。故曰調其飲食也。若不明至損之義。必待飢不能食。氣急脹滿。脈數雙弦。方謂脾虛。用參耆而脹滿愈加。投桂附而虛煩轉甚。此亦因損脈失治。轉到至脈不治之候也。又曰。損其肝者。緩其中。肝主筋。筋藉血。血虛則肝燥而筋縱。必大補心脾。使心能生血。脾能統血。歸脾養榮等湯。宜早投也。若不明至損之義。必待血枯脈數。手足難運。方謂肝虛。然後議用前方。已無及也。又曰。損其腎者益其精。骨屬腎。精虧則髓枯骨痿。必益其精而髓自充。經曰。精不足者。補之以味。味乃血肉厚味也。如鹿茸等類。兼地黃人參枸杞之屬。俱能補精。若不明至損之義。必待真陰竭絕。虛火炎蒸。脈數心煩。不能起床。及投之以養陰必泄。進之以養陽必燥。此皆不能會悟此篇之精義也。至第四節。另以至損之脈為問者。別在五邪表裡之症。不混於本原之證也。第五節言不洪大。不沉細。不病之平脈也。第六節言寸脈洪大。尺脈沉細，表證裡證也。第七節言尺寸俱洪大。尺寸俱沉細。表熱裡熱之證也。而又舉洪大而滑者。必是傷熱。沉細而澀者。必是中濕熱也。第八節言尺寸沉細。必是裡熱而夜重。尺寸浮大。必是表熱而晝重。又言不大不小。雖困可治者。此有邪退之機。重必轉輕。而可治也。若愈浮大。愈沉細。此病進之機。而難治也。是即第九節之沉細夜死。浮大晝死也，自四節至九節。專以至脈提綱。明表裡實邪之義也。第十節復叮嚀損脈不可失治。如一息二至之脈。雖其人能行。必當早治。苟因其能行而不治。必至著床不起。其所以不起者。因血氣皆不足故也。第十一節言一息二至失治。必至一息一至而不可治。或有能行。亦不過行尸耳。末節明急證無脈之義。恐其混於損脈也。蓋言下部無尺脈。必因驟中有形之實邪。壅塞而可吐也。若上部無寸脈。或因偶中無形之虛邪。雖困無能為害也。而復歸重於原氣。總結全章之義也。中峰云。閱此論悟古人之治本原。大異於今人。古人治可治之損脈。今人治不治之至脈。可慨也夫。</p></span>
<p>十五難曰。經言。春脈弦。夏脈鉤。秋脈毛。冬脈石。是王脈耶。將病脈也。然。弦鉤毛石者。四時之脈也。春脈弦者。肝東方木也。萬物始生。未有枝葉。故其脈之來。濡弱而長。故曰。弦。夏脈鉤者。心南方火也。萬物之所茂。垂枝布葉。皆下曲如鉤。故其脈之來。來疾去遲。故曰鉤。秋脈毛者。肺西方金也。萬物之所終。草木華葉。皆經秋而落。其枝獨在。若毫毛也。故其脈之來。輕虛以浮。故曰毛。冬脈石者。腎北方水也。萬物之所藏也。極冬之時。水凝如石。故其脈之來。沉濡而滑。故曰石。此四時之脈也。</p>
<span class="註"><p>此章言四時之脈象。以起下文平脈病脈死脈之義。</p></span>
<p>如有變奈何。然。春脈弦。反者為病。何謂反。然。其氣來實強。是謂太過。病在外。氣來虛微。是謂不及。病在內。氣厭厭聶聶。如循榆葉。曰平。益實而滑。如循長竿。曰病。急而勁益強。如張弓弦。曰死。春脈微弦。曰平。弦多胃氣少。曰病。但弦無胃氣。曰死。春以胃氣為本。</p>
<span class="註"><p>自此節以下。俱形容脈神。全在會悟自得。此即脈法中千手千眼。後人著訣。盈千萬言。恐未能道破一二也。脈因氣行。氣來即脈來也。下仿此。</p></span>
<p>夏脈鉤。反者為病。何謂反。然。其氣來實強。是謂太過。病在外。氣來虛微。是謂不及。病在內。其脈來累累如環。如循琅玕。曰平。來而益數。如雞舉足者。曰病。前曲後居。如操帶鉤。曰死。夏脈微鉤。曰平。鉤多胃氣少。曰病。但鉤無胃氣。曰死。夏以胃氣為本。</p>
<p>秋脈毛。反者為病。何謂反。然。其氣來實強。是謂太過。病在外。氣來虛微。是謂不及。病在內。其脈來藹藹如車蓋。按之益大。曰平。不上不下。如循雞羽。曰病。按之蕭索。如風吹毛。曰死。秋脈微毛。曰平。毛多胃氣少。曰病。但毛無胃氣。曰死。秋以胃氣為本。</p>
<p>冬脈石。反者為病。何謂反。然。氣來實強。是謂太過。病在外。氣來虛微。是謂不及。病在內。脈來上大下兌。濡滑如雀之啄。曰平。啄啄連續。其中微曲。曰病。來如解索。去如彈石。曰死。冬脈微石。曰平。石多胃氣少。曰病。但石無胃氣。曰死。冬以胃氣為本。</p>
<span class="註"><p>以上四時之平脈。即有胃氣之脈也。病脈即少胃氣之脈也。死脈即無胃氣之脈也。欲明脈神精義。當於平脈中參悟。</p></span>
<p>胃者水谷之海。主稟四時。皆以胃氣為本。是謂四時之變病。死生之要會也。</p>
<span class="註"><p>此言四時變病死生。皆藉胃氣為主。</p></span>
<p>脾者中州也。其平和不可得見。衰乃見耳。來如雀之啄。如水之下漏。是脾衰之見也。</p>
<span class="註"><p>此總結上文四時之脈。合五臟之義也。脾屬土。而分旺於四季。則四時之平脈。皆屬於脾。故不能另求脾土之平脈也。然脾之衰也。則有雀啄下漏之可見矣。</p></span>
<p>十六難曰。脈有三部九候。有陰陽。有輕重。有六十首。一脈變為四時。離聖久遠。各自是其法。何以別之。然。是其病有內外證。</p>
<span class="註"><p>此越人謂去古軒岐既久。醫者各執己見。各立成法。將何以別其是非耶。脈有三部。至變為四時。俱各立之成法也。謂不必別其孰是孰非。但以下文病之內外證。辨別脈之是非。則軒岐之旨。言言可據矣。即此可見軒岐而下。中流砥柱之書。惟此為最也。六十首古經名。</p></span>
<p>其病為之奈何。然。假令得肝脈。其外證。善潔。面青善怒。其內證。臍左有動氣。按之牢若痛。其病四肢滿閉。淋溲便難。轉筋。有是者肝也。無是者非也。</p>
<span class="註"><p>此診得肝之病脈也。肝臟清淨。故善潔。面青。肝之色也。善怒。肝之志也。肝屬木而左。故臍左有動氣。牢堅硬也。肝病肝氣不行。故四肢滿閉。淋溲。小便淋瀝而不快也。便難。大便難也。轉筋。筋急也。有肝之色。辨肝之證。是肝之脈也。下仿此。</p></span>
<p>假令得心脈。其外證。面赤口干喜笑。其內證。臍上有動氣。按之牢若痛。其病煩心。心痛。掌中熱而啘。有是者心也。無是者非也。</p>
<span class="註"><p>此心色心病心脈也。心在上。故動氣在上。啘音噎。張注有聲無物。心中熱。故發啘。則當於決切為是。俟考正。</p></span>
<p>假令得脾脈。其外證。面黃善噫。善思善味。其內證。當臍上有動氣。按之牢若痛。其病腹脹滿。食不消。體重節痛。怠惰嗜臥。四肢不收。有是者脾也。無是者非也。</p>
<span class="註"><p>此脾色脾脈脾病也。脾位居中。故動氣當臍。</p></span>
<p>假令得肺脈。其外證。面白善嚏。悲愁不樂欲哭。其內證。臍右有動氣。按之牢若痛。其病喘咳。洒淅寒熱。有是者肺也。無是者非也。</p>
<span class="註"><p>此肺色肺脈肺病也。右屬肺。故動氣在右。肺主皮毛。故寒熱。</p></span>
<p>假令得腎脈。其外證。面黑善恐欠。其內證。臍下有動氣。按之牢若痛。其病逆氣。小腹急痛。泄如下重。<span class="註"><small class="雙行小字">泄如下重即泄而下重。而如古通。</small></span>足脛寒而逆。有是者腎也。無是者非也。</p>
<span class="註"><p>此腎色腎脈腎病也。腎在下。故動氣在下。欠者氣相引也。泄如下重者。大便時。腰下沉而窘也。以上五條。言五臟脈色病之定體。證字病字俱有內外之義。</p></span>
<p>十七難曰。經言病或有死。或有不治自愈。或連年月不已。其生死存亡。可切脈而知之耶。然。可盡知也。</p>
<span class="註"><p>此言或有死。即下文之相克脈。不治自愈。即十三難之相生脈。或連年月。即五十五難積聚病之相應脈。故曰可盡知也。</p></span>
<p>診病若閉目不欲見人者。脈當得肝脈。弦急而長。而反得肺脈。浮澀而短者。死也。<span class="註"><small class="雙行小字">證虛脈實</small></span></p>
<span class="註"><p>此節論金克木之脈。下四節。兼參證實脈虛。脈實證虛之義。</p></span>
<p>病若開目而渴。心下牢者。脈當得緊實而數。而反得沉澀而微者。死也<span class="註"><small class="雙行小字">證實脈虛</small></span>。</p>
<span class="註"><p>此肝心二經之病。應得緊實數之肝心脈。反得沉濡微之腎肺脈。則金水來克木火。故當死也。</p></span>
<p>病若吐血復鼽衄血者。脈當沉細。而反浮大而牢者。死也<span class="註"><small class="雙行小字">證虛脈實</small></span>。</p>
<span class="註"><p>肺主氣。血為氣配。凡吐衄必由於肺。必傷於氣。則脈當沉細為順。反得浮大牢之火脈。則火來克金。故死也。</p></span>
<p>病若譫言妄語。身當有熱。脈當洪大。而反手足厥冷。脈沉細而微者。死也<span class="註"><small class="雙行小字">證實脈虛</small></span>。</p>
<span class="註"><p>證屬陽。應得洪大屬火之脈順。若反得沉細屬水之脈。則水來克火。故死也。是即陽病見陰脈者死。其理同也。</p></span>
<p>病若大腹泄者。脈當微細而澀。反緊大而滑者。死也<span class="註"><small class="雙行小字">證虛脈實</small></span>。</p>
<span class="註"><p>脾病則土虛。應得微細澀脈。微細澀心肺之脈也。火生土。土生金。則吉。反得緊大滑脈。緊大滑肝腎之脈也。木克土。水克火。故死也。以上言克制則死。以起下章關格克制之義。</p></span>
<p>十八難<span class="註"><small class="雙行小字">誤列三難</small></span>曰。脈有太過。有不及。有陰陽相乘。有覆有溢。有關有格。何謂也。然。關之前者。陽之動也。脈當九分而浮。過者。法曰太過。減者。法曰不及。遂上魚為溢。為外關內格。此陰乘之脈也。關以後者。陰之動也。脈當一寸而沉。過者。法曰太過。減者。法曰不及。遂入尺為覆。為內關外格。此陽乘之脈也。<span class="註"><small class="雙行小字">三十七難一有發明當參看。</small></span></p>
<span class="註"><p>全章之義。只重關格二字。曰太過。曰不及。曰陰陽相乘。曰覆溢。俱是關格之注腳。故先論脈位之陰陽。寸為陽。尺為陰。次論脈體之陰陽。浮為陽。沉為陰。如寸部得浮大之脈。覆下而至尺部。即為陽太過。直浮至尺之盡頭處為格。陽脈即陽乘陰也。如尺部而得沉實之脈。溢上而至寸部。即為陰太過。直沉至寸之盡頭處為關。陰脈即陰乘陽也。減者。謂寸部而得沉脈。為陽不及。尺部而得浮脈。為陰不及。故法曰不及。又關者。陰太盛。陽氣不能交。故曰關。陰格者。陽太盛。陰氣不能通。故曰格陽。此純陰純陽無和氣之硬脈也。若一手得之。浮大名格。沉實名關。若兩手得之。則名關格。即下文之真臟脈。不病而死也。浮脈為陽。浮過者。自寸而下。浮過關部一二分也。若浮而和。不得為病脈。不和則為陽盛。曰太過者。陽太過也。減者。關前九分當浮而反沉之謂也。曰不及者。陽不及也。若沉過關部而直至魚際。為外關內格。此即尺陰之脈。乘於寸陽之位也。沉脈為陰。沉過者。自尺而上。沉過關部一二分也。若沉而和。不得為病脈。不和則為陰盛。曰太過者。陰太過也。減者。關後一寸當沉。而反浮之謂也。曰不及。陰不及也。若浮過關部而直至尺內。為內關外格。此即寸陽之脈。乘尺陰之位也。總之。關格之義。不外乎陰陽相乘之為害也。</p></span>
<p>故曰覆溢。是其真臟之脈。人不病而死也。</p>
<span class="註"><p>覆則內關外格。如水從上流下。溢則外關內格。如水由下溢上。此孤陰獨陽。乃真臟之脈。無胃氣以和者也。人不病而死者。言不待久病而速死也。兩手脈俱極浮極大為覆。兩手脈俱極沉極實為溢。是即關格并見。必死之脈也。覆即格陽。溢即關陰。此以尺寸之陰陽論也。若以兩手論之。又當分左右為陰陽。則格陽在右。便是陽乘陰。關陰在左。便是陰乘陽。故兩手得之。方可謂關格脈也。</p></span>
<p>十九難曰。脈有逆順。男女有恆而反者。何謂也。然。男子生於寅。寅為木。陽也。女子生於申。申為金。陰也。故男脈在關上。女脈在關下。是以男子尺脈恆弱。女子尺脈恆盛。是其常也。反者。男得女脈。女得男脈也。</p>
<span class="註"><p>此章言男女之脈。合陰陽之理。以別弱盛之常道。木數三也。故男子陽生於寅。金數四也。故女子陰生於申。男當陽旺者。旺於寸陽之位。故曰在關上。女當陰旺者。旺於尺陰之位。故曰在關下。若男寸弱。女寸盛。則病矣。義在下文。後人解男生於寅。女生於申。從胎元而論。皆因看板生字故也。</p></span>
<p>其為病何如。然。男得女脈為不足。病在內。左得之病在左。右得之病在右。隨脈言之也。女得男脈為太過。病在四肢。左得之病在左。右得之病在右。隨脈言之。此之謂也。</p>
<span class="註"><p>此言陰陽反常之脈。謂男得女脈為不足者。寸脈弱陽氣不足於內。故病在內也。左寸脈弱病在左。右寸脈弱病在右。若女得男脈為太過者。寸脈盛陽氣有餘於外。故病在四肢也。左寸脈盛病在左。右寸脈盛病在右矣。此章論病。只論寸脈。不論尺脈者何也。蓋人之有尺。猶樹之有根。欲其盛而不可得也。若男得女脈指尺盛。豈可謂之不足乎。女得男脈指尺弱。豈可謂之太過乎。舊注以男脈為春夏。女脈為秋冬。與本文毫無干涉矣。</p></span>
<p>二十難曰。經言脈有伏匿。伏匿於何臟。而言伏匿耶。然。謂陰陽更相乘更相伏也。脈居陰部。而反陽脈見者。為陽乘陰也。脈雖時沉澀而短。此為陽中伏陰也。脈居陽部。而反陰脈見者。為陰乘陽也。脈雖時浮滑而長。此謂陰中伏陽也。</p>
<span class="註"><p>此章言陰陽相乘之中。又有相伏之義。如尺部而見浮滑長之脈。乃陽乘於陰也。於浮滑長脈之中。偶雜沉澀短之脈。此謂陽中伏陰也。寸部而見沉澀短之脈。乃陰乘陽也。於沉澀短脈之中。偶雜浮滑長之脈。此謂陰中伏陽也。此脈法之最細者。注中言其大綱。讀者當會悟而推廣之。</p></span>
<p>重陽者狂。重陰者癲。脫陽者見鬼。脫陰者目盲。</p>
<span class="註"><p>此承上文而言。若陽部而見陽脈。宜也。設陰部亦見陽脈。則謂重陽。陰部而見陰脈。宜也。設陽部亦見陰脈。則謂重陰。重陽則陰部失滋燥之權。陽邪飛越而狂矣。重陰則陽部失宣和之令。陰邪郁結而癲矣。人身之陰陽偏勝。則病偏極。而至於純陰純陽。并無伏匿之機。必至脫陽則見鬼。脫陰則目盲也。</p></span>
<p>二十一難曰。經言人形病脈不病。曰生。脈病形不病。曰死。何謂也。然。人形病脈不病。非有不病者也。謂息數不應脈數也。此大法也。</p>
<span class="註"><p>此章發明氣血先後受病之義。以起下章之意也。言形病脈不病者。非脈不病也。蓋病人之息數不與其脈數相符也。假令邪入於氣。氣屬陽而應於表。則形先病而息先亂。脈必隨後應之。非脈能不病也。謂形先病而息數不應脈數也。假令邪入於血。血屬陰而隱於裡。則形後病而息後亂。然脈已病也。非形能不病。謂脈先病而脈數不應息數也。此即氣血先後受病之大法也。曰生者。病在表腑也。曰死者。病在裡臟也。坊本云。醫者不能調息以應病者之脈數。真不經語也。</p></span>
<p>二十二難曰。經言脈有是動。有所生病。一脈輒變為二病者。何也。然。經言是動者氣也。所生病者血也。邪在氣。氣為是動。邪在血。血為所生病。</p>
<span class="註"><p>此章言血病必由於氣病。氣者血之帥也。脈者氣之充也。氣先病脈即應之。故經言是動者氣也。血後病。病可驗之。故曰所生病者血也。邪在氣已見脈。邪在血又見於病。故有一脈輒變為二病之問也。下文詳言所以氣先病血後病之故。</p></span>
<p>氣主昫之。血主濡之。氣留而不行者。謂氣先病也。血滯而不濡者。謂血後病也。故先為是動。後為所生也。</p>
<span class="註"><p>昫。煦也。猶蒸也。濡。猶潤也。氣先留而不行。然後血滯而不濡。故氣先為是動於脈。而血後所生於病也。</p></span>
<p>二十三難曰。手足三陰三陽。脈之度數。可曉以不。然。手三陽之脈。從手至頭。合三丈。手三陰之脈。從手至胸中。合二丈一尺。足三陽之脈。後足至頭。合四丈八尺。足三陰之脈。從足至胸。合三丈九尺。人兩足蹺脈。從足至目。合一丈五尺。督任脈各長四尺五寸。合九尺。凡脈共長一十六丈二尺。此所謂經脈長短之數也。</p>
<span class="註"><p>此章言脈起長短之數。即一難之二百七十息。脈行一度。共長十六丈二尺為一周。一日夜一萬三千五百息。脈行五十周義同。</p></span>
<p>經脈十二。絡脈十五。何始何窮也。然。經絡者。行血氣。通陰陽。以榮於身者也。其始從中焦。注手太陰陽明。陽明注足陽明太陰。太陰注手少陰太陽。太陽注足太陽少陰。少陰注手心主少陽。少陽注足少陽厥陰。厥陰復還注手太陰。別絡十五。皆因其原。如環無端。轉相灌溉。朝於寸口人迎。以處百病而決死生也。</p>
<span class="註"><p>此節即一難之榮衛行陽二十五度。行陰亦二十五度。其注始於肺而終於肝。一日夜一周之義也。其絡脈十五。不與十二經直行而注臟腑。乃各因十二經之原穴。傍行於十二經脈之外。流注於諸穴。循環不已。朝於寸口人迎之脈。以處百病之吉凶也。手足二字俱貫下。如手太陰陽明。即手太陰手陽明也。足陽明太陰。即足陽明足太陰也。諸穴之所。詳六十六難。</p></span>
<p>經曰。明知終始。陰陽定矣。何謂也。然。終始者。脈之紀也。寸口人迎。陰陽之氣通於朝使。<span class="註"><small class="雙行小字">喻朝使之臣往來無阻也</small></span>如環無端。故曰始也。終者三陰三陽之脈絕。絕則死。死各有形。故曰終也。</p>
<span class="註"><p>此一節承上決死生之義。而問脈之終始。以起下章脈絕之形。蓋常言終始者。不過謂脈之紀也。今言死生之終始者。謂左右人迎寸口脈。陰陽之氣。循環不已。人之生機皆始於此。故曰始也。三陰三陽之脈絕。人之生機皆終於此。故曰終也。但三陰三陽脈絕。形各不同。義在下章。</p></span>
<p>二十四難曰。手足三陰三陽氣已絕。何以為候。可知其吉凶不。然。足少陰氣絕。<span class="註"><small class="雙行小字">氣絕即脈絕下仿此</small></span>則骨枯。少陰者。冬脈也。伏行而溫於骨髓。故骨髓不溫。即肉不著骨。骨肉不相親。即肉濡而卻<span class="註"><small class="雙行小字">濡滯也卻不就也</small></span>肉濡而卻。故齒長而枯。髮無潤澤。無潤澤者。骨先死。戊日篤。己日死。</p>
<span class="註"><p>此章言脈絕之義。足少陰屬北方腎。腎主冬。氣當斂藏。故脈當著骨伏行。伏行者。如潛伏而行也。所以診腎脈按之至骨。腎者水也。戊己土也。土克水。故死也。</p></span>
<p>足太陰氣絕。則脈不榮於口唇。口唇者。肌肉之本也。脈不榮。則肌肉不滑澤。肌肉不滑澤。則肉滿。<span class="註"><small class="雙行小字">滿懣同敗也</small></span>肉滿則唇反。唇反則肉先死。甲日篤。乙日死。</p>
<span class="註"><p>足太陰脾也。脾主肌肉。所以診脾脈。與肌肉相等。脾屬土。甲乙屬木。木克土。故死也。</p></span>
<p>足厥陰氣絕。則筋縮引卵與舌卷。厥陰者。肝脈也。肝者。筋之合也。筋者。聚於陰器而絡於舌本。故脈不榮。則筋縮急。筋縮急。即引卵與舌。故舌卷卵縮。此筋先死。庚日篤。辛日死。</p>
<span class="註"><p>足厥陰肝也。肝應乎筋。所以診肝脈與筋平。肝屬木。庚辛屬金。木受克。故死也。</p></span>
<p>手太陰氣絕。則皮毛焦。太陰者。肺也。行氣溫於皮毛者也。氣不榮。則皮毛焦。皮毛焦。則津液去。津液去。則皮節傷。皮節傷。則皮枯毛折。毛折者。則毛先死。丙日篤。丁日死。</p>
<span class="註"><p>手太陰肺也。肺主皮毛。所以診肺脈與皮毛相得。肺屬金。丙丁屬火。金受克。故死也。</p></span>
<p>手少陰氣絕。則脈不通。脈不通。則血不流。血不流。則色澤去。故面黑如黧。此血先死。壬日篤。癸日死。</p>
<span class="註"><p>手少陰心也。心在上而主血。所以診心脈與血脈相得。心屬火。壬癸屬水。火受克。故死也。五行之中。必陽日篤而陰日死。乃見人之生機係乎陽。而命門真陽之義。不可不明也。手厥陰即心主胞絡。與手少陰氣絕同。故不另載。</p></span>
<p>三陰氣俱絕。則目眩轉目瞑。目瞑者。為失志。失志者。則志先死。死則目暝也。<span class="註"><small class="雙行小字">此三陰。因厥陰同於心臟。故不言六陰而六陰在內矣。</small></span></p>
<span class="註"><p>前言五臟之氣絕。則以五行日干相克之期應之。此言三陰絕。死不待日矣。目眩者。目眩亂而見不真也。轉者。瞳反也。目瞑則無所見矣。志死則不知喜怒之類也。</p></span>
<p>六陽氣俱絕。則陰與陽相離。陰陽相離。則腠理泄，絕汗乃出。大如貫珠。轉出不流。即氣先死。旦占夕死。夕占旦死。	</p>
<span class="註"><p>前言三陰絕。死不待日。此言六陽絕。死不待時。乃見陽重於陰。氣先死者。即命門真陽之氣先死也。</p></span>
<p>二十五難曰。有十二經。五臟六腑十一耳。其一經者。何等經也。然。一經者。手少陰與心主別脈也。<span class="註"><small class="雙行小字">心主即手心主胞絡別脈者。不同於心經脈也。</small></span>心主與三焦為表裡。俱有名而無形。故言經有十二也。<span class="註"><small class="雙行小字">胞絡配一臟。成十二經也。</small></span></p>
<span class="註"><p>此章言心主與三焦為表裡。俱有名而無形。後人因無形二字。不參經義。持論紛紜，不特議越人之錯謬。而并議叔和附會之非。三千年來。未有定論。余每思難經去古未遠。出諸家之最先。且字字必本內經。豈獨於胞絡三焦大關鍵處。反創異言而惑世耶。不得不即以內經合難經之義。而明辨之。如內經之言五臟俱載形色。五腑亦載丈尺。所盛水谷。亦載升斗。若胞絡三焦有形。何獨不明載其色。并尺寸升斗之數。乃見難經所言胞絡者。以包字取義也。言三焦者。以三字取義也。如靈素本輸篇曰。三焦者。中瀆之府。水道出焉。屬膀胱。是孤之府。本藏篇曰。密理厚皮。三焦膀胱厚。決氣篇曰。上焦開發。宣五谷味。若霧露之溉。是謂氣。中焦受氣取汁。變化而赤。是謂血。榮衛生衛篇曰。榮出於中焦。衛出於下焦。又曰。上焦如霧。中焦如漚。下焦如瀆。五癃津液別論曰。三焦出氣。以溫肌肉。充皮膚。靈樞邪客篇曰。心者五臟六腑之大主。其臟堅固。邪勿能容。容之則心傷。心傷則神去而死矣。故謂邪之在於心者。皆在於心之胞絡。以上靈素諸條。俱形容三焦統包五臟六腑。胞絡獨包心之義。夫所謂中瀆之府。是孤之府。豈非因三焦能包乎外。而得此獨尊之稱乎。又謂密理厚皮。三焦厚。若周身皮肉之內。非三焦所托。何能厚薄相應乎。又謂上焦宣谷味。中焦受氣取汁。變化而赤。豈非三焦能包各臟腑。而各臟腑俱藉三焦之氣以宣化乎。又謂榮出中焦。衛出下焦。榮因谷味之精為血。衛得谷味之氣為氣。皆因於胃者也。然能使胃之變化者。豈非三焦統包乎外。而運其氣乎。又謂如霧。如漚。如瀆。能上主開發之令。中主變化之權。下主水道之職。豈非三焦包各臟腑之外。而盡為其統持乎。又謂出氣以溫肌肉充皮膚。則明指三焦托在皮膚肌肉裡面之一層也。又謂諸邪之在於心者。皆在心之胞絡。則明指胞絡是護於心外之一層也。後人看書執著。將謂三焦若無形。何以水道出。何以有厚薄。何以若霧露。何以如霧如漚如瀆。何以出氣溫肌肉。若胞絡無形。何以諸邪皆在心之胞絡。何獨不悟夫。何以不載其色。何以不載其丈尺乎。殊不知胞絡者。絡於內而胞於外之一小囊也。既已名之曰胞絡。不必又以大小尺寸狀其形也。三焦者。托於外而護於內之一大囊也。不過三字極狀其護之遍。以焦字極狀其氣之周。既已名之曰三焦。亦不必又以大小丈尺狀其形也。而向之所疑者。從此可頓釋矣。且以似臟別臟之小囊。配似腑外腑之大囊。亦天造地設之理。<span class="註"><small class="雙行小字">三十四難稱焦為外府</small></span>越人謂無形二字。一見於此。再見於三十四難。自必考之至當。究之至確。何後人僅得內經之皮毛。即妄議前賢。多見其不知量也。</p></span>
<p>二十六難<span class="註"><small class="雙行小字">二十六難次節誤列二十七難末節</small></span>曰。經有十二。絡有十五。餘三絡者。是何等絡也。然。有陽絡。有陰絡。有脾之大絡。陽絡者。陽蹺之絡也。陰絡者。陰蹺之絡也。故絡有十五焉。</p>
<span class="註"><p>此章總論經絡以起下文之義。直行謂經。旁支曰絡。絡有十五。本文自明。</p></span>
<p>經有十二。絡有十五。凡二十七氣。相隨上下。何獨不拘於經也。然。聖人圖設溝渠。通利水道。以備不然。天雨降下。溝渠溢滿。當此之時。霶霈妄行。聖人不能復圖也。此絡脈滿溢。諸經不能復拘也。</p>
<span class="註"><p>此節誤列二十七難之後。文理何由貫通。今錄正。更覺絲絲入扣。上文言十五絡。此言十二經。不能拘十五絡。故以圖設溝渠。喻十二經。聖人不能復圖。十二經之氣血滿溢。歸於經絡。而不能復令絡脈之氣血。反於十二經也。</p></span>
<p>二十七難<span class="註"><small class="雙行小字">二十七難次節誤列二十八難次節</small></span>曰。脈有奇經八脈者。不拘於十二經。何謂也。然。有陽維。有陰維。有陽蹺。有陰蹺。有衝。有督。有任。有帶之脈。凡此八脈者。皆不拘於經。故曰奇經八脈也。</p>
<span class="註"><p>凡此八脈。不受十二經之拘制。與絡脈之義同。且十二經俱有臟腑配偶。獨此八脈無偶。故曰奇經。</p></span>
<p>比於聖人圖設溝渠。溝渠滿溢。流於深湖。故聖人不能拘通也。而人脈隆盛。入於八脈。而不還周。故十二經。亦不能拘之。其受邪氣。蓄則腫熱。砭射之也。<span class="註"><small class="雙行小字">砭貶平聲針石也。</small></span></p>
<span class="註"><p>此節誤列二十八難後。此言十二經亦不能拘八脈。故復以圖設溝渠喻十二經。深湖喻八脈。聖人不能拘通者。言十二經脈之氣血隆盛。入於八脈。而不能復令八脈之氣血。反於十二經也。故其受邪亦不能通於諸經。所以蓄而為腫熱也。砭射之。出其所蓄之血也。</p></span>
<p>二十八難曰。其奇經八脈者。既不拘於十二經。皆何起何繼也。然。督脈者。起於下極之俞。并於脊裡。上至風府。入屬於腦。</p>
<span class="註"><p>此承明八脈起止之義。下極。長強穴也。在脊骶骨端。風府穴在腦後髮上三寸。蓋督者都也。能統諸陽脈行於背。為陽脈之都綱也。</p></span>
<p>任脈者。起於中極之下。以上至毛際。循腹裡。上關元。至咽喉。上頤循面。入目絡舌。</p>
<span class="註"><p>臍下三寸關元穴。任者妊也。能統諸陰脈行於腹。為陰脈之妊養也。</p></span>
<p>衝脈者。起於氣衝。并足陽明之經。挾臍上行。至胸中而散。</p>
<span class="註"><p>氣衝。一名氣街。穴在毛際兩旁。督任脈始於氣衝。一原而分三岐。督脈行於背。任脈行於腹。衝則直上。總領諸經之脈。故曰氣海。并於胃之經。挾臍而上行。</p></span>
<p>帶脈者。起於季脅。回身一周。</p>
<span class="註"><p>季脅。章門穴也。在小肋。回身一周。如束帶也。</p></span>
<p>陽蹺脈者。起於跟中。循外踝上行入風池。</p>
<span class="註"><p>起自足跟。循足外踝上行入風池穴。其穴在後頂髮際陷中。</p></span>
<p>陰蹺脈者。亦起於跟中。循內踝上行至咽喉。交貫衝脈。</p>
<span class="註"><p>交貫衝脈者。與衝脈交接貫通也。</p></span>
<p>陽維陰維者。維絡於身。溢蓄不能環流灌溢諸經者也。故陽維起於諸陽會。陰維起於諸陰交也。</p>
<span class="註"><p>溢蓄不能環流灌溢諸經。即上章入於八脈不還周之義。諸陽會在足外踝骨下陷中。穴名金門。諸陰交在足內踝上除踝三寸骨陷中。穴名筑賓。</p></span>
<p>二十九難曰。奇經之為病。何如。然。陽維維於陽。陰維維於陰。陰陽不能自相維。則悵然失志。溶溶不能自收持。</p>
<span class="註"><p>此章明八脈病情之義。陽維維於陽。謂陽維脈能維絡一身之陽脈。陰維維於陰。謂陰維脈能維絡一身之陰脈。若病在二脈。則一身之陽脈陰脈不能自相維，覺神思不快。如悵然失志。四肢溶溶懈怠。如不能收持也。此言二脈合病。末節言二脈分病。</p></span>
<p>陰蹺為病。陽緩而陰急。</p>
<span class="註"><p>陰蹺脈受邪。則陽蹺緩縱。陰蹺緊急也。陰蹺起跟中。循內踝上行。</p></span>
<p>陽蹺為病。陰緩而陽急。</p>
<span class="註"><p>陽蹺脈受邪。則陰蹺脈緩縱。陽蹺脈緊急也。陽蹺起跟中。循外踝上行。</p></span>
<p>衝之為病。逆氣而裡急。</p>
<span class="註"><p>衝脈起於氣衝穴。又名氣海。其受邪則氣必逆。病必裡急而作痛也。其所以受邪。亦因腎氣不足。而邪能干之也。</p></span>
<p>督之為病。脊強而厥。</p>
<span class="註"><p>脊。督脈所過之處也。督脈受邪。病必脊痛而厥逆也。</p></span>
<p>任之為病。其內苦結。男子七疝。女子瘕聚。</p>
<span class="註"><p>任脈起於中極小腹之下。故其受邪為病。俱在腹內也。</p></span>
<p>帶之為病。腹滿。腰溶溶若在水中。</p>
<span class="註"><p>帶脈起於季脅。回身如束帶。故其受邪為病。在腰腹。若在水中句。解溶溶二字之神理。</p></span>
<p>陽維為病。苦寒熱。</p>
<span class="註"><p>陽維之脈。維絡於陽。陽為衛而主表。故其受邪為病。必苦寒熱也。</p></span>
<p>陰維為病。苦心痛。</p>
<span class="註"><p>陰維之脈。維絡於陰。陰為榮而主裡。榮屬血而主心也。其受邪為病。必苦心痛也。然亦有因寒。亦有因熱。此奇經八脈之為病也。</p></span>
<span class="註"><p>總結上文之意也。以上八脈之邪。大抵風寒濕乘虛集入而為病者居多。不可不察。八脈另列病因。經脈不能拘故也。</p></span>
<p>三十難<span class="註"><small class="雙行小字">誤列三十二難</small></span>曰。五臟俱等。而心肺獨在膈上者何也。然。心者血。肺者氣。血為榮。氣為衛。相隨上下。<span class="註"><small class="雙行小字">血氣相隨。周行身上下。</small></span>謂之榮衛。通行經絡。<span class="註"><small class="雙行小字">榮行脈中。衛行脈外。</small></span>榮周於身。故令心肺在膈上也。</p>
<span class="註"><p>此謂心肺乃氣血之主。故居膈上。以別氣血為榮衛。周於身者出也。下章詳言榮衛之源。</p></span>
<p>三十一難<span class="註"><small class="雙行小字">誤列三十難</small></span>曰。榮氣之行。常與衛氣相隨不。然。經言人受氣於谷。谷入於胃。乃傳於肺。五臟六腑皆受於氣。其清者為榮。濁者為衛。榮行脈中。衛行脈外。榮周不息。五十而後大會。陰陽利貫。<span class="註"><small class="雙行小字">利貫。流利而貫通。</small></span>如環之無端。故知榮衛相隨也。</p>
<span class="註"><p>此言榮衛相隨不息之源。起於胃之谷氣。其清者為榮。即谷味之精。乃陽中之陰。化血為榮。行於脈中。其濁者為衛。即谷味之氣。乃陰中之陽。化氣為衛。行於脈外。榮衛相隨。周行臟腑之經脈。一日夜行五十度。復會於手太陰寸口。榮衛生會篇曰。榮出中焦。衛出下焦。</p></span>
<p>三十二難<span class="註"><small class="雙行小字">誤列三十一難</small></span>曰。三焦者。何稟何生。何始何終。其治常在何許。可曉以不。然。三焦者。水谷之道路。氣之所終始也。</p>
<span class="註"><p>此言三焦裹於胃之水谷。生於下文各屬之穴。終始不息也。</p></span>
<p>上焦者。在心下之膈。在胃上口。主納而不出。其治在膻中。玉堂下一寸六分。直兩乳間陷下底是。中焦者。在胃中。不上不下。腐熟水谷。其治在臍旁。下焦者。在臍下。當膀胱上口。主分別清濁。主出而不納。以傳導也。其治在臍下一寸。故名曰三焦。其腑在氣衛。<span class="註"><small class="雙行小字">府。猶根也。氣衛即氣衝也。此即三焦之源也。</small></span></p>
<span class="註"><p>此節本文自明。膻中玉堂穴。經穴篇詳載治屬也。</p></span>
<p>三十三難曰。肝青屬木。肺白屬金。肝得水而沉。木得水而浮。肺得水而浮。金得水而沉。其意何也。然。肝者。非為純木也。乙角也。庚之柔。大言陰與陽。小言夫與婦。釋其微陽。而吸其微陰之氣。其意樂。金又行陰道多。<span class="註"><small class="雙行小字">庚金居陰道</small></span>故令肝得水而沉也。非為純金也。辛商也。丙之柔。大言陰與陽。小言夫與婦。釋其微陰。婚而就火。其意樂。火又行陽道多。<span class="註"><small class="雙行小字">丙火居陽道</small></span>故肺得水而浮也。</p>
<span class="註"><p>此章言陰陽互根。五行交合之理。凡人身不外乎陰陽。交則生。不交則病。離則死。越人特舉肝肺而言者。肝主血。而肺主氣。此又以氣血為一身陰陽之主也。學者既透此章之義。則前後八十一難之經義。無不可以神會而貫也。即五行之理。無非在陰陽交合。如天干甲乙丙丁戊為陽道。己庚辛壬癸為陰道。此十干對分而為交合之陰陽也。又甲乙木。丙丁火。戊己土。庚辛金。壬癸水。上一字屬陽屬陰。此五行各分。為交合之陰陽也。又五音。附五行。如宮土商金角木徵火羽水。各因十干之陰陽。而分大小。此五音附十干而為交合之陰陽也。又人之五臟屬陰行。而其中之文合。又寓陽五行。此臟腑各有交合之陰陽也。明乎陰陽交合之義。然後可以暢達此章之理矣。如經云。肝非純木。乙角也。庚之柔。言肝乃乙角之陰木也。然又非純木。乙與庚合。故其中寓庚金。庚屬陽而乙屬陰。故乙木乃庚金之柔也。大而言之。即陰與陽。小而言之。如夫與婦也。又云。釋其微陽。而吸其微陰之氣。其意樂。釋猶開也。吸猶收也。乙木。二月之木也。陽氣未盛。故曰微陽。庚金。七月之金也。七月陰氣未盛。故曰微陰。開乙木之微陽。收庚金微陰之氣。則木不燥而樂矣。又云。金又行陰道多，故令肝得水而沉也。言庚雖陽金。而其所居之位。在十干中之陰道。故肝亦隨陰道而沉。如婦之有夫也。又云。肺非純金。辛商也。丙之柔。言肺乃辛商之陰金也。然又非純金。丙與辛合。其中寓丙火。丙屬陽。而辛屬陰。故辛金乃丙火之柔也。大而言之。即陰與陽。小而言之。如夫與婦也。又云。釋其微陰。婚而就火。其意樂。言辛金八月之金也。八月陰氣尚微。故曰微陰。開辛金之微陰。婚而就火。如就婚於丙火也。辛金之陰。得丙火之陽。則不寒而樂矣。又云。火又行陽道多。故肺得水而浮也。言丙火所居之位。在十干中之陽道。故肺亦隨陽道而浮。亦如婦之隨夫也。舉肺肝二臟而推。則五臟六腑之陰陽交合。無不可以會悟矣。</p></span>
<p>肺熟而復沉。肝熟而復浮者。何也。故知辛當歸庚。乙當歸甲也。</p>
<span class="註"><p>此言陰陽之離也。熟猶純也。辛歸庚。則純金。丙與辛不合而離矣。甲歸乙。則純木。乙與庚不合而離矣。離則亢。亢則死矣。中峰云。此章歷來注釋不明。皆因點讀多訛。如張注點庚之柔大言。陰與陽小言。馬注點其意樂金。其意樂火。使一篇精義。處處茫然。今則首明陰陽互根。五行交合之理。便覺通篇一貫。不解自明。千古難明之義。一旦恍然。不亦快哉。</p></span>
<p>三十四難<span class="註"><small class="雙行小字">誤列三十八難</small></span>曰。臟惟有五。腑獨有六者。何也。然。所以腑有六者。謂三焦也。有原氣之別焉。主持諸氣。有名而無形。其經屬手少陽。此外腑也。故言腑有六焉。</p>
<span class="註"><p>此言三焦與諸腑不同。有原氣之別。所以能主持諸氣也。有名而無形。所以能統攝乎外。故曰外腑也。二十五難予注三焦乃護於諸臟腑之一大囊。與此章之義合之。可以恍然矣。奈後之人謂三焦有形。而云難經之非。蓋亦未會難經之全體。</p></span>
<p>三十五難<span class="註"><small class="雙行小字">誤列三十九難</small></span>曰。經言腑有五。臟有六者。何也。然。六腑者。止有五腑也。五臟亦六臟者。腎有兩臟也。其左為腎。右為命門。命門者。謂精神之所舍也。男子以藏精。女子以繫胞。其氣與腎通。故言臟有六也。</p>
<span class="註"><p>前章發明六腑。此章復發明六臟之義。謂前云六腑者。有外腑在內。今經言六臟者。謂腎有兩枚。其左為腎。右為命門。又曰。命門者。謂精神之所舍。男子藏精。女子繫胞。其氣與腎通。乃見越人以命門之名。配於右腎。而命門之處。實指兩腎中間。不爾。何以言藏精繫胞。何以言氣與腎通。然又恐命門之名。混於手心主胞絡之臟。故有下文言三焦一腑。不屬於五臟者。是即指明屬於胞絡之臟也。其氣與腎通。是指命門與右腎一氣相通。玩讀自見。</p></span>
<p>腑有五者何也。然。五臟各一腑。三焦亦是一腑。然不屬於五臟。故言腑有五焉。</p>
<span class="註"><p>此言三焦不屬於五臟者。乃屬於心胞絡也。舉三焦亦是一腑。以見不配五臟。而配亦是一臟之心胞絡。最為切當者也。二十五難三焦論中。餘謂似腑外腑之大囊。配似臟另臟之小囊。與此節義同。</p></span>
<p>三十六難<span class="註"><small class="雙行小字">三十六難次節誤列三十七難末節</small></span>曰。臟各有一耳。腎獨有兩者何也。然。腎兩者非皆腎也。其左者為腎。右者為命門。命門者。謂精神之所舍。原氣之所繫也。故男子以藏精。女子以繫胞。故知腎有兩<span class="註"><small class="雙行小字">兩。諸本作一。</small></span>也。</p>
<span class="註"><p>此章承上章。復發明命門在於兩腎中間之義。所以又補出原氣之所繫也。蓋所謂原者。即三焦之原。六十六難云。臍下腎間動氣者。人之生命也。故名曰原。觀此亦可以無疑矣。但後人不明此義。將謂三焦與胞絡為表裡。出自內經。一陰一陽之定耦。初無命門三焦表裡之說。惟靈樞根結及素問陰陽離合等篇。有太陽根於至陰。結於命門。命門者。目也。此指太陽經穴終於睛明。睛明所夾之處。是腦心乃至命之處。故曰命門。此外并無命門之說。而右腎為命門。實見於此。但難經皆出於內經。必有確據。誠如滑氏之注七難云。篇首有經言二字。考之靈素并無。或越人時別有上古之本。是未可知也。惟是右腎為命門。男子藏精。女子繫胞。則腎將藏何物。此又無怪乎其疑也。觀經脈篇。有左為腎。右為子戶。夫所謂子戶者。即子宮也。即俗名子腸也。子腸居直腸之前。膀胱之後。當關元氣海穴之間。男精女血。皆存乎此。曰丹田。曰氣海。實則一子宮耳。子宮之下有一門。女子曰產門。男子即泄精之道。男之施由此門而出。女之攝由此門而入。胎元既足。復由此而出。即如四十四難。七衝門者。皆指出入之處。乃見凡出凡入皆謂之門。而此係先天立命之本。焉得不謂之命門乎。是即男子藏精。女子繫胞。皆有歸著。正合六十六難臍下腎間動氣之說。而千古之疑可頓釋矣。至於十二經之陰陽表裡。固已天然配就。若以命門再配一經。是腎臟惟一。而經居其二。必無是理。且內經有督脈十椎中是命門原。屬於腎之句。當以原字讀斷。則知命門在原。并知兩腎俱非藏精繫胞之所。其天一之真陰。藏於兩腎中間。命門之原。而氣通於左。坎中之真陽。藏於兩腎中間。命門之原。而氣通於右。故左腎為水。右腎為火。越人以命門之真陽。分配右尺臣火之位。理宜然也。予亦悉揣經義而評之。以俟將來之裁正焉。中峰云。論命門之原。十二經之根。呼吸之門。三焦之原。豈非指此命門乎。</p></span>
<p>經云氣獨行於五臟。不榮於六腑者。何也。然。氣之行如水之流。不得息也。故陰脈榮於五臟。陽脈榮於六腑。如環無端。莫知其紀。終而復始。而不覆溢。人氣內溫於臟腑。外濡於腠理。</p>
<span class="註"><p>此節言人身命門之氣。無不流通。但陰脈獨榮五臟。陽脈獨榮六腑耳。陰脈者。三陰脈也。陽脈者。三陽脈也。循環無已。行於五臟六腑。而不覆溢者。謂不傾而不滿也。又曰。人氣內溫於臟腑。外濡於腠理者。言人命門一陽之氣。內則溫養臟腑。外則濡潤腠理。無微不到。無處不周。而所問之不榮於六腑者。惟陰脈耳。非氣也。故下文詳言陰脈陽脈之病。覆溢二字。并非寸口脈之覆溢。舊注指十八難之覆溢脈。大誤。</p></span>
<p>三十七難曰。五臟之氣。於何發起。通於何許。可曉以不。然。五臟者。當上關於九竅也。故肺氣通於鼻。鼻和則知香臭矣。肝氣通於目。目和則知黑白矣。脾氣通於口。口和則知谷味矣。心氣通於舌。舌和則知五味矣。腎氣通於耳。耳和則知五音矣。三焦之氣通於喉。喉和則聲鳴矣。</p>
<span class="註"><p>此章承上而言陰脈榮於五臟之義。九竅者。目二耳二鼻二口一舌一喉一也。</p></span>
<p>五臟不和。則九竅不通。六腑不和。則留結為聚。</p>
<span class="註"><p>此亦承上章陽脈榮於六腑之義。言六腑屬陽。邪在陽。則六腑不和。不和則氣滯。而為聚為癰矣。下文又以臟腑并言之。以明其所以不和之故也。<span class="註"><small class="雙行小字">聚字。靈樞作癰字。</small></span></p></span>
<p>邪在六腑。則陽脈不和。陽脈不和。則氣留之。氣留之。則陽脈盛矣。邪在五臟。則陰脈不和。陰脈不和。則血留之。血留之。則陰脈盛矣。陰氣太盛。則陽氣不得相榮也。故曰關。<span class="註"><small class="雙行小字">向誤格字</small></span>陽氣太盛。則陰氣不得相榮也。故曰格。<span class="註"><small class="雙行小字">向誤關字</small></span>陰陽俱盛。不得相榮也。故曰關格。關格不得盡其命而死矣。</p>
<span class="註"><p>陽邪中於六腑。則陽脈不和。不和則氣壅而邪實。邪實則不和之脈轉而盛矣。陰邪中於五臟。則陰脈不和。陰脈不和。則血滯而邪實。邪實則不和之脈轉而盛矣。陰陽之脈俱盛。則必至於關格而死矣。此章即靈樞脈度篇所載。但靈樞云。五臟當內關於上七竅。此云當內關於九竅。靈樞鼻為一竅而無喉。此則鼻為二竅而添喉。要知越人補內經之缺。因三焦係統五臟六腑之大府。喉系統出納之大竅。況得此則聲色臭味全矣。至於邪在六腑一節。與內經無異，但其中關格二字。與內經相反。今閱古本與內經相同。乃知錯簡。今錄正。故記之。關格之脈。從來議論最多。或云脈。或云病。使後學難憑。今錄素問及仲景之文。并存參考。蓋關陰格陽之脈。專論脈理陰陽。并非論病。如內經之帝問臟象如何。岐伯曰。心者生之本云云。凡十一臟取決於膽也。故人迎一盛病在少陽。二盛病在太陽。三盛病在陽明。四盛已上為格陽。張介賓指喉間動脈為人迎。兩手之脈俱為寸口。恐未合經旨。觀十一臟取決於膽。故人迎一盛病在少陽句。知膽經正在左關。當以左人迎右寸口為是。人迎一盛二盛三盛。則三陽俱盛矣。然陽極必陰。四盛已上者。左人迎之陽位。勢必越於右寸口之陰位也。故曰格陽。即十八難陽乘陰也。又曰。寸口一盛。病在厥陰。二盛病在少陰。三盛病在太陰。四盛已上為關陰。夫寸口一盛二盛三盛。則三陰俱盛矣。然陰極必陽。四盛已上者。右寸口之陰位。勢必越於左人迎之陽位也。故曰關陰。即十八難陰乘陽也。又曰。人迎與寸口俱盛四倍以上為關格。關格之脈。不能極於天地之精氣則死矣。人迎與寸口俱盛。即兩手之脈俱盛四倍已上也。方可合稱關格之死脈也。若一手或格陽或關陰。則未必列於死脈明矣。曰盛者。即仲景所謂浮而大也。此以左右脈主陰陽之論也。帝曰。脈反四時。陰陽不相應。奈何。岐伯曰。反四時者。有餘為精。不足為消。應太過不足為精。應不足有餘為消。陰陽不相應。病名為關格。精者。奪精也。消者。形消也。四時以春夏為陽。秋冬為陰。言春夏陽當太過之時。得不足之陰脈。則精奪矣。秋冬陽當不足之時。得有餘之陽脈。則形消矣。此之謂陰陽不相應。病名為關格。此又以四時之陰陽。合脈之有餘不足而論也。又仲景曰。寸口脈浮而大。浮為虛。大為實。虛指正虛。實指邪實。又曰。在尺曰關。在寸曰格。申明在尺沉至寸為關。在寸浮至尺為格。此又以尺寸脈主關陰格陽而論也。又曰。關則不得小便。格則吐逆。此無非注明關陰之脈病在下。格陽之脈病在上。乃見關與格分而言之。不過病耳。非死脈也。今難經以五臟為陰。六腑為陽。血為陰。氣為陽。尺為陰。寸為陽。沉為陰。浮為陽。陰陽之義。無所不包。關格之義。無微不顯。後人云。關格是病。又以霍亂症強名關格。不過偶見仲景有吐逆不得小便二語。不悟全文。隔靴搔痒。殊不知仲景以二病申明關陰格陽之義。未嘗以二症立關格之名也。</p></span>
<p>三十八難<span class="註"><small class="雙行小字">誤列三十四難</small></span>曰。五臟各有聲色臭味。皆可曉之以不。然。十變言。肝色青。其臭臊。其味酸。其聲呼。其液泣。心色赤。其臭焦。其味苦。其聲言。其液汗。脾色黃。其臭香。其味甘。其聲歌。其液涎。肺色白。其臭腥。其味辛。其聲哭。其液涕。腎色黑。其臭腐。其味咸。其聲呻。其液唾。是五臟聲色臭味也。</p>
<span class="註"><p>此以聲色臭味。起下章之意。本文義自明。</p></span>
<p>三十九難<span class="註"><small class="雙行小字">三十九難前節誤列四十難。三十九難次節誤列三十四難末節。</small></span>曰。經言肝主色。心主臭。脾主味。肺主聲。腎主液。鼻者肺之候。而反知香臭。耳者腎之候。而反聞聲。其意何也。然。肺者。西方金也。金生於巳。巳者南方火。火者心。心主臭。故令鼻知香臭。腎者。北方水也。水生於申。申者西方金。金者肺。肺主聲。故令耳聞聲。</p>
<span class="註"><p>此發明五行長生之義。比生克之生不同。如金生於巳者。金長生在巳也。水生於申者。水長生在申也。此言神氣相應之理。以起下文七神舍藏之義。</p></span>
<p>五臟有七神。各有所藏耶。然。臟者人之神氣所舍藏也。故肝藏魂。肺藏魄。心藏神。脾藏意與智。腎藏精與志也。<span class="註"><small class="雙行小字">其義本文自明。</small></span></p>
<p>四十難<span class="註"><small class="雙行小字">誤列三十五難</small></span>曰。五臟各有所腑。皆相近。而心肺獨去大腸小腸遠者。何謂也。然。經言心榮肺衛。通行陽氣。故居在上。大腸小腸傳陰氣而下。故居在下。所以相去而遠也。</p>
<span class="註"><p>後人議大小腸與心肺高下相殊。不應配兩寸。與此章之問詞同。而越人引經早已晰其所以遠之之理。言心主榮而肺主衛。皆有通行清陽之職。理當在上。大小腸皆有傳瀉濁陰之職。故在下。其相去雖遠。而臟腑陰陽之氣。無分遠近也。故下文復明小腸者心之腑。大腸者肺之腑。而又明臟腑同色之理。以足其義也。</p></span>
<p>又諸腑者。皆陽也。清淨之處。今大腸小腸。胃與膀胱。皆受不淨。其意何也。然。諸腑者謂是名。非也。經言小腸者。受盛之腑也。大腸者。傳瀉行道之腑也。膽者。清淨之腑也。胃者。水谷之腑也。膀胱者。精液之腑也。一腑猶無兩名。故知非也。小腸者。心之腑。大腸者。肺之腑。膽者。肝之腑。胃者。脾之腑。膀胱者。腎之腑。小腸謂赤腸。大腸謂白腸。膽者謂青腸。胃者謂黃腸。膀胱謂黑腸。下焦所治也。</p>
<span class="註"><p>後人議大小腸不潔之腑。不應配心肺清高之臟。與此節問詞同。而越人亦早已晰其義矣。謂諸腑皆陽是也。謂諸腑名清淨非也。故內經惟言膽者清淨之腑也。其四腑亦各有名。猶無兩名之可混。乃知清淨獨指膽。且四腑俱下焦所屬。各有受盛傳道之職。烏可以清淨名之哉。然腑臟之相配不因清濁。故復言小腸者心之腑云云。以明其一定不可移也。</p></span>
<p>四十一難<span class="註"><small class="雙行小字">誤列四十六難</small></span>曰。老人臥而不寐。少壯寐而不寤者。何也。然。經言少壯者。血氣盛。肌肉滑。氣道通。榮衛之行。不失於常。故晝日精。夜不寤也。老人血氣衰。肌肉不滑。榮衛之道澀。故晝日不精。夜不寐也。故知老人不得寐也。</p>
<span class="註"><p>榮衛者。即氣血也。日行陽二十五度。夜行陰二十五度。少壯氣血盛。故不失其常度。而夜得寐也。老人氣血衰。失其常度。故夜不寐也。</p></span>
<p>四十二難<span class="註"><small class="雙行小字">誤列四十七難</small></span>曰。人面獨能耐寒者。何也。然。人頭者。諸陽之會也。諸陰脈。皆至頸胸中而還。獨諸陽脈。皆上至頭耳。故令面耐寒也。</p>
<span class="註"><p>諸陰脈者。手三陰足三陰也。諸陽脈者。手三陽足三陽也。餘義本文自明。以上二章。遙結此卷首篇之手三陽。從手至頭。足三陽。從足至頭及頸。行血氣。通陰陽。以榮於身之義也。可見古本之分卷。前後俱有呼應之妙。</p></span>
<p>四十三難<span class="註"><small class="雙行小字">誤列四十一難</small></span>曰。肝獨有兩葉。以應何也。然。肝者。東方木也。木者。春也。萬物之始生。其尚幼小。意無所親。去太陰尚近。離太陽不遠。猶有兩心。故令有兩葉。亦應木葉也。</p>
<span class="註"><p>此發明五臟合五行之情。而舉肝木為言也。肝位在太陰脾土之左。故曰尚近。在太陽膀胱水之上。故曰不遠。木非土不值。非水不生。其與水土。天然有依此戀彼之情。故云猶有兩心。兩葉者。肝本兩大葉也。</p></span>
<p>四十四難曰。七衝門何在。然。唇為飛門。齒為戶門。會厭為吸門。胃為賁門。太倉下口為幽門。大腸小腸會為闌門。下極為魄門。故曰七衝門也。<span class="註"><small class="雙行小字">賁門即胃之上口。幽門即胃之下口。魄門即肛門。</small></span></p>
<span class="註"><p>此章言人一身之內。凡出凡入共七處。皆為要衝。故曰衝門。</p></span>
<p>四十五難曰。經言八會者何也。然。腑會太倉。臟會季脅。筋會陽陵泉。髓會絕骨。血會膈俞。骨會大椎。脈會太淵。氣會三焦。外一筋直兩乳內也。熱病在內者。取其會之氣穴也。</p>
<span class="註"><p>此章言人身臟腑筋骨血氣脈髓。八者俱有交會之穴。故曰八會。太倉。任脈穴。中脘也。六腑取稟於胃。故曰腑會。季脅。足厥陰章門穴。脾募也。五臟取稟於脾。故曰臟會。陽陵泉。足少陽穴。筋結於此。肝主筋。膽為之合。故曰筋會。絕骨。足少陽懸鐘穴。諸髓皆屬於骨。故曰髓會。膈俞。足太陽穴。谷氣由膈達於上焦。化精微為血之處。故曰血會。大椎。督脈穴。肩脊之骨會於此。故曰骨會。太淵。手太陰穴。平旦脈會於此。故曰寸口脈之大會也。而三焦者。任脈膻中穴。此三焦宗氣所居。為上氣海。故曰氣會。其外有一筋直兩乳內者。是另一筋直入兩乳也。熱病在內者。取其會之氣血針治之。此即期門穴也。仲景治少陽熱入血室。刺期門。本於此。</p></span>
<p>四十六難<span class="註"><small class="雙行小字">誤列五十九難</small></span>曰。狂癲之病。何以別之。然。狂之始發。少臥而不飢。自高賢也。自辨智也。自貴倨也。妄笑好歌樂。妄行不休是也。癲病始發。意不樂。直視僵仆。其脈三部陰陽俱盛是也。</p>
<span class="註"><p>此與二十難同義。然二十難但言脈。此則并言病狀。欲人知所治也。謂狂之始發。少臥而不飢者。是六腑陽邪實於胃。胃實而不和。則少臥而不飢矣。陽性動而揚。故自居高賢。辨智貴倨也。陽火熾甚而衝於心。故妄笑歌。妄行不休也。治當瀉陽明之火而調其氣。癲病始發。意不樂者。是七情之陰邪結於心。陰性靜而鬱。故意不樂矣。鬱火內燔而不得泄。故直視而僵仆也。治當瀉少陰之火而調其血。其脈三部陰陽俱盛者。謂狂則兩手寸關尺陽脈俱盛。病屬腑也。癲則兩手寸關尺陰脈俱盛。病屬臟也。陽脈者。浮滑長也。陰脈者。沉澀短也。盛者。俱帶數實之意也。</p></span>
<p>四十七難<span class="註"><small class="雙行小字">誤列六十難</small></span>曰。頭心之病。有厥痛。有真痛。何謂也。然。手三陽之脈。受風寒。伏留而不去者。則名厥頭痛。入連在腦者。名真頭痛。其五臟氣相干。名厥心痛。其痛甚。但在心。手足青者。即名真心痛。其真心痛者。旦發夕死。夕發旦死。</p>
<span class="註"><p>此章之義。明明說臟病重於腑病。臟氣相干重於風寒伏留。故心痛言立死。頭痛不言立死也。如風寒伏留六腑。則三陽之真氣逆。故邪得直上而頭痛。腦為髓海。諸邪難犯。必大損精髓者。邪能犯之。犯之難治。如五臟氣相干於心。則陰氣逆上而痛甚。然心為君主。諸邪難犯。必七情大傷其真氣者。邪能犯之。犯之但在心痛而立死。手足青者。肝之色也。是心之母氣絕。而現真臟色也。五邪之病發。惟狂癲頭心痛特異。故先揭而出之。以起下章諸邪之發病也。<span class="註"><small class="雙行小字">後人言頭痛不言死。總結在後者非也。</small></span></p></span>
<p>四十八難<span class="註"><small class="雙行小字">誤列十難</small></span>曰。一脈十變者。何謂也。然。五邪剛柔相逢之意也。假令心脈急甚者肝邪干心也<span class="註"><small class="雙行小字">臟乘臟</small></span>。心脈微急者。膽邪干小腸也<span class="註"><small class="雙行小字">腑乘腑</small></span>。心脈大甚者。心邪自干心也<span class="註"><small class="雙行小字">邪干本臟</small></span>。心脈微大者。小腸邪自干小腸也<span class="註"><small class="雙行小字">邪干本腑</small></span>。心脈緩甚者。脾邪干心也<span class="註"><small class="雙行小字">臟乘臟</small></span>。心脈微緩者。胃邪干小腸也<span class="註"><small class="雙行小字">腑乘腑</small></span>。心脈澀甚者。肺邪干心也<span class="註"><small class="雙行小字">臟乘臟</small></span>。心脈微澀者。大腸邪干小腸也<span class="註"><small class="雙行小字">腑乘腑</small></span>。心脈沉甚者。腎邪干心也<span class="註"><small class="雙行小字">臟乘臟</small></span>。心脈微沉者。膀胱邪干小腸也<span class="註"><small class="雙行小字">腑乘腑</small></span>。五臟各有剛柔邪。故令一脈輒變為十也。</p>
<span class="註"><p>五邪者。五臟自病之邪也。相逢者。互相乘也。臟乘臟則甚。剛也。腑乘腑則微。柔也。一脈。舉一心脈也。十變者。五臟五變。五腑五變。合而為十也。舉心臟而推。則五臟五腑共五十變可知矣。下章詳言五邪之病。</p></span>
<p>四十九難曰。有正經自病。有五邪所傷。何以別之。然。言憂愁思慮。則傷心。形寒飲冷。則傷肺。恚怒氣逆。上而不下。則傷肝。飲食勞倦。則傷脾。久坐濕地。強力入房。則傷腎。是正經自病也。</p>
<span class="註"><p>此言內傷七情。大異於外感五邪之病。故首揭之。以明治法之不得混也。</p></span>
<p>何謂五邪。然。有中風。有傷暑。有飲食勞倦。有傷寒。有中濕。此之謂五邪。</p>
<span class="註"><p>此言外感五邪之病也。然五者之病。亦因前節正經自病之傷。故邪得湊之而舉發也。五邪者木火土金水之邪也。肝屬木。木生風而中風。心屬火。火旺夏而傷暑。脾胃屬土。勞倦傷脾。飲食傷胃。肺屬金。肺主皮毛而傷寒。腎屬水。水就下而中濕。下文即發明肝中風。心傷暑。脾傷飲食勞倦。肺傷寒。腎中濕之病。</p></span>
<p>假令心病。何以知中風得之。然。其色當赤。何以言之。肝主色。自入為青。入心為赤。入脾為黃。入肺為白。入腎為黑。肝為心邪。故知當赤色也。其病身熱<span class="註"><small class="雙行小字">心</small></span>。脅下滿痛<span class="註"><small class="雙行小字">肝</small></span>。其脈浮大<span class="註"><small class="雙行小字">心</small></span>而弦<span class="註"><small class="雙行小字">肝</small></span>。</p>
<span class="註"><p>假令心病者。舉心臟為例。此言心病因肝邪而入。肝主色。故專以色推。其病與脈皆兼心肝二經而言也。肝邪入肝。謂之自入。</p></span>
<p>何以知傷暑得之。然。當惡臭。何以言之。心主臭。自入為焦臭。入脾為香臭。入肝為臊臭。入腎為腐臭。入肺為腥臭。故知心病傷暑得之。當惡臭也。其病身熱而煩。心痛。其脈浮大而散。</p>
<span class="註"><p>首句亦當有假令心病四字。去之者。省文也。下仿此。此言暑邪入心。謂之自入。心主臭。故專以臭推。其病與脈。俱在心經而言也。</p></span>
<p>何以知飲食勞倦得之。然。當喜苦味也。虛為不欲食。實為欲食。何以言之，脾主味。入肝為酸。入心為苦。入肺為辛。入腎為咸。自入為甘。故知脾邪入心。當喜苦味也。其病身熱<span class="註"><small class="雙行小字">心</small></span>而體重嗜臥。四肢不收<span class="註"><small class="雙行小字">脾</small></span>。其脈浮大<span class="註"><small class="雙行小字">心</small></span>而緩<span class="註"><small class="雙行小字">脾</small></span>。</p>
<span class="註"><p>此言心病因脾邪而入。脾主味。故專以味推。其病與脈。皆兼心脾二經也。脾邪入脾。謂之自入。此條有勞倦傷脾。故有虛不欲食之分。</p></span>
<p>何以知傷寒得之。然。當譫言妄語。何以言之。肺主聲。入肝為呼。入心為言。入脾為歌。入腎為呻。自入為哭。故知肺邪入心。為譫言妄語也。其病身熱<span class="註"><small class="雙行小字">心</small></span>。洒洒惡寒。甚則喘咳<span class="註"><small class="雙行小字">肺</small></span>。其脈浮大<span class="註"><small class="雙行小字">心</small></span>而澀<span class="註"><small class="雙行小字">肺</small></span>。</p>
<span class="註"><p>此言心病因肺邪而入。肺主聲。故專以聲推。其病與脈。皆兼肺心二經也。肺邪入肺。謂之自入。<span class="註"><small class="雙行小字">此傷寒非仲景傷寒。此譫妄非陽明譫妄。玩讀自見。</small></span></p></span>
<p>何以知中濕得之。然。當喜汗出不可止。何以言之。腎主液。入肝為泣。入心為汗。入脾為涎。入肺為涕。自入為唾。故知腎邪入心。為汗不可止也。其病身熱<span class="註"><small class="雙行小字">心</small></span>。小腹痛。足脛寒而逆。<span class="註"><small class="雙行小字">腎</small></span>。其脈沉濡<span class="註"><small class="雙行小字">腎</small></span>而大<span class="註"><small class="雙行小字">心</small></span>。</p>
<span class="註"><p>此言心病因腎邪而入。腎主液。故專以液推。其病與脈。皆兼心腎二經也。腎邪入腎。謂之自入。</p></span>
<p>此五邪之法也。</p>
<span class="註"><p>法者。舉一為例之法也。五邪者。木火土金水之邪。欲審五邪之證。必合肝色心臭脾味肺聲腎液。以此心臟互推。則五臟各五。五五二十五證。了然明白。而五腑二十五證。不另載而可知也。至於虛實表裡種種之病。莫不可推。此真一語而能該千百言之文也。</p></span>
<p>五十難曰。病有虛邪。有實邪。有賊邪。有微邪。有正邪。何以別之。然。從後來者。為虛邪。從前來者。為實邪。從所不勝來者。為賊邪。從所勝來者。為微邪。自病為正邪。</p>
<span class="註"><p>此章詳言五邪生克之義。病有虛邪者。如心臟屬火。其病邪從肝木傳來。木生火。則木位居火之後。故曰從後來。病有實邪者。如心臟屬火。其病邪從脾土傳來。火生土。則土位居火之前。故曰從前來。病有賊邪者。如心臟屬火。其病邪從腎水傳來。水克火。心受克而不能勝。故曰從所不勝來。病有微邪者。如心臟屬火。其病邪從肺金傳來。火克金。金受克而火能勝。故曰從所勝來。正邪者。如心臟止有本經之病也。此以五邪互傳之理。起下文舉一心病而推也。</p></span>
<p>何以言之。假令心病。中風得之。為虛邪<span class="註"><small class="雙行小字">木生火</small></span>。傷暑得之。為正邪<span class="註"><small class="雙行小字">火傳火</small></span>。飲食勞倦得之。為實邪<span class="註"><small class="雙行小字">火生土</small></span>。傷寒得之。為微邪<span class="註"><small class="雙行小字">火克金</small></span>。中濕得之。為賊邪<span class="註"><small class="雙行小字">水克火</small></span>。</p>
<span class="註"><p>此足上文病傳五臟之生克。以起下章五臟傳變之生克也。</p></span>
<p>五十一難<span class="註"><small class="雙行小字">誤列五十三難</small></span>曰。經言七傳者死。間臟者生。何謂也。然。七傳者。傳其所勝也。間臟者。傳其子也。何以言之。假令心病傳肺。肺傳肝。肝傳脾。脾傳腎。腎傳心。一臟不再傷。故言七傳者死也。間臟者。傳其所生也。假令心病傳脾。脾傳肺。肺傳腎。腎傳肝。肝傳心。是子母相傳。周而復始。如環無端。故言生也。</p>
<span class="註"><p>此言五臟傳變生克之義。傳其所勝者。謂傳於所受克之臟。如心病傳肺。是火克金。肺又傳肝。是金克木。肝又傳脾。是木克土。脾又傳腎。是土克水。腎復傳心。是水克火。心又欲傳肺。是七傳矣。然肺臟不能再傷。故曰七傳者死也。間臟者。間一臟而傳。如心病傳脾而間腎。是火生土。脾病傳肺而間肝。是土生金。肺病傳腎而間心。是金生水。腎病傳肝而間脾。是水生木。肝病傳心而間肺。是木生火。心又復傳於脾。而病自已。此謂子母相傳而生也。下文又明六腑同法之義。七傳者。心肺肝脾腎也。間臟者。心脾肺腎肝也。此與傷寒三陽三陰傳經不同。當知此義。</p></span>
<p>五十二難<span class="註"><small class="雙行小字">誤列五十四難</small></span>曰。臟病難治。腑病易治。何謂也。然。臟病所以難治者。傳其所勝也。腑病易治者。傳其子也。與七傳間臟同法也。</p>
<span class="註"><p>此復明七傳間臟。臟腑同法。謂臟所以難治者。傳其所勝也。若傳其子。亦易治也。腑所以易治者。傳其子也。若傳其所勝。亦難治也。故曰與七傳間臟同法也。云難治。非不治也。故有下章之法。張注云。臟病深難治。腑病淺易治。如此講。則七傳間臟同法。竟成落空語矣。</p></span>
<p>五十三難<span class="註"><small class="雙行小字">誤列七十七難</small></span>曰。經言上工治未病。中工治已病。何謂也。然。所謂治未病者。見肝之病。則肝當傳之於脾。故先實其脾氣。無令得受肝之邪也。故曰。治未病焉。中工治已病者。見肝之病。不曉相傳。但一心治肝。故曰治已病也。</p>
<span class="註"><p>此總結上章七傳間臟之治也。凡一切類傷寒時證。誤治而死者。皆因未明七傳間臟之義。傷哉。此從四十八難起。俱發明五邪之精義。如四十八難言五邪剛柔相逢。臟乘臟。腑乘腑。十變之理者。示人類推五十變之義也。而又於四十九難言五邪之傷者。即五臟之受傷。是本原病之所由來也。而又因五臟本來之傷。發明中風傷暑飲食勞倦傷寒中濕五條之病。又以聲色臭味液。合其脈證之理。推出臟有二十五證。雖不言腑。而腑在其中。以足五十變之義。然必因五臟之所傷在前。所以五邪乘虛而集。此即經所謂邪之所湊。其氣必虛者。是也。若人先有憂愁思慮傷於心者。則邪必乘心矣。如中風。乃肝邪乘心也。以色推之。當赤。以病推之。當身熱而脅下滿痛。以脈推之。當浮大而弦。如傷暑。乃心邪自入心也。以臭推之。當焦臭。以病推之。當身熱而心煩痛。以脈推之。當浮大而散。如傷飲食勞倦。乃脾邪乘心也。以味推之。當惡甘喜苦。以病推之。當身熱體重而嗜臥。以脈推之。當浮大而緩。如傷寒。乃肺邪乘心也。以聲推之。當譫言妄語。以病推之。當身熱而惡寒喘咳。以脈推之。當浮大而澀。如中濕。乃腎邪乘心也。以液推之。當多汗。以病推之。當身熱而小腹痛。足脛寒逆。以脈推之。沉濡而大。若先有形寒飲冷。傷於肺者。則邪必乘肺矣。如中風。肝邪乘肺也。以色推之。當白。以病推之。當喘咳。洒淅惡寒而脅痛。以脈推之。當澀而浮大。如傷暑。心邪乘肺也。以臭推之。當腥臭。以病推之。當咳喘寒熱而心煩。以脈推之。當浮澀而大。如傷飲食勞倦。脾邪乘肺也。以味推之。當辛。以病推之。當洒淅寒熱。體重嗜臥。以脈推之。當澀而緩。如傷寒。肺邪自入肺也。以聲推之。當哭。以病推之。當喘咳而惡寒。以脈推之。當浮而澀。如中濕。腎邪乘肺也。以液推之。當涕。以病推之。當寒熱。小腹痛。喘咳。而足脛寒。以脈推之。當澀而沉。若先有恚怒氣逆傷於肝者。則邪必乘肝矣。如中風。肝邪自入肝也。以色推之。當青。以病推之。當往來寒熱。脅下滿痛。以脈推之。當弦急而浮。如傷暑。心邪入肝也。以臭推之。當臊臭。以病推之。當脅下痛而心煩。身熱。以脈推之。當弦細而散。如傷飲食勞倦。脾邪乘肝也。以味推之。當酸。以病推之。當脅痛體重。四肢不收。以脈推之。當弦而緩。如傷寒。肺邪乘肝也。以聲推之。當呼。以病推之。當脅痛。寒熱而喘咳。以脈推之。當澀而弦。如中濕。腎邪乘肝也。以液推之。當泣。以病推之。當脅滿痛而足脛寒逆。以脈推之。當弦濡而沉。若先有飲食勞倦。傷於脾者。則邪必乘脾矣。如中風。肝邪乘脾也。以色推之。當黃。以病推之。當體重而脅下痛。以脈推之。當緩而弦。如傷暑。心邪乘脾也。以臭推之。當香臭。以病推之。當體重不收。煩熱心痛。以脈推之。當緩而大。如傷飲食勞倦。脾邪自入脾也。以味推之。當甘。以病推之。當體重嗜臥。四肢不收。以脈推之。當緩而滑。如傷寒。肺邪乘脾也。以聲推之。當歌。以病推之。當體重而洒淅寒熱。以脈推之。當緩而澀。如中濕。腎邪乘脾也。以液推之。當吐涎。以病推之。當體重而足脛寒逆。以脈推之。當緩而沉濡。若先有久坐濕地。強力入房。傷於腎者。則邪必乘腎矣。如中風。肝邪乘腎也。以色推之。當黑。以病推之。當小腹痛。足脛寒。脅下滿痛。以脈推之。當沉而弦。如傷暑。心邪乘腎也。以臭推之。當腐。以病推之。當小腹痛。足脛寒而身熱。以脈推之。當沉而大。如傷飲食勞倦。脾邪乘腎也。以味推之。當咸。以病推之。當足脛寒。小腹痛而體重。以脈推之。當沉而緩。如傷寒。肺邪乘腎也。以聲推之。當呻。以病推之。當小腹痛。足脛寒而喘咳。以脈推之。當沉而澀。如中濕。腎邪自入腎也。以液推之。當唾多。以病推之。當小腹痛。足脛寒而逆。以脈推之。當沉而遲。此即五臟類推二十五證之法也。而五腑之二十五證。當以首章之言脈微脈甚推之可也。至五十難復言虛實賊微正五邪者。欲審其邪之所來。知其或生或克。可以辨七傳間臟之理。而猶恐後人遺其腑。故又以五十二難之腑病與臟病同法明之。以足首章臟腑十變之意也。至五十三難總結前五章五邪之精義。而又貫通已病未病。用法施治之周。蓋五邪之病。皆發於本原之虛。故其傳變莫測。必察其邪之所由來。而審其七傳間臟之病。如間臟之傳其所生。易愈而易治也。七傳之傳其所勝。難愈而難治也。然治之之法。在兼顧其將傳之臟。使其不至於七傳而死。此大異於傷寒傳經之法。故另列而不混也。乃見越人立法濟世。至深切矣。凡人之心腎二臟。最易受傷。而夏冬二氣。又最易感病。余特表而出之。以俟後之賢者。采擇而裁政焉。如憂愁思慮傷於心者。富貴貧賤皆不能免。傷則心火常動。火動必克於肺金。心不受外感之邪則已。若一受外感之邪。必傳其所勝之肺矣。肺又傳於所勝之肝。肝又傳於所勝之脾。脾又傳於所勝之腎。腎又傳於所勝之心。心又傳於所勝之肺。故云七傳。然肺不能兩次受傷。故死。此即一臟不再傷之義也。若其人平日素傷於心者。適犯暑邪。必乘虛而入於心。心受邪。而病勢必乘虛而入於肺。醫能識此。即於清暑之中。兼保其肺。如東垣之清暑益氣湯。雖治已病之心。而實兼治未病之肺也。孫真人之生脈散。是預防其邪。而專治未病之劑也。至若暑邪太甚。類於傷寒者。人參敗毒散。亦驅邪保正之劑。最宜者也。若專任苦寒。以為清暑。此即中工之治已病耳。如久坐濕地。強力入房。而傷腎者。理更深微。蓋腎有兩臟。一水一火。其傷有別。如久坐濕地而受病者。常人有之。富貴者少。然其所傷在右腎居多。何也。濕就下而傷右腎之火。右腎之火。乃水中之火也。即坎中之真陽也。伏而不發。受邪則發矣。發則便為邪火。邪火能撼動心君之火。而心亦受傷矣。故其人平日素傷於濕者。適犯暑邪。必乘虛而入於右腎。右腎受邪。而病勢必乘虛而傳於心。其見證也。必現假熱之象。或格陽而面赤者有之。煩躁而舌黑者有之。神昏而目定者有之。醫能識此。即於驅邪之中。兼扶其陽。如仲景麻黃附子細辛湯。附子理中湯。雖治已病之右腎。而實兼扶未病之心陽也。金匱八味丸。是預防其邪而專治未病之劑也。如強力入房而受病者。常人鮮有之。然其所傷在左腎居多。何也。精氣泄而傷於左腎之水。左腎真陰之臟也。精竭則陰虧。陰虧則血虧。心為離。而離中之真陰。血也。故陰虧而血必枯。血枯則心亦受傷矣。若其人平日素傷於左腎者。適犯寒邪。必乘其虛而入於左腎。左腎受邪。而病勢必乘虛而傳於心。其見證也。必現假寒之象。或格陰而面黑者有之。外寒而內燥者有之。四逆而目赤者有之。醫能識此。即於驅邪之中。兼救其離中之陰。如仲景之通脈四逆湯。犀角地黃湯。人參白虎。黃連阿膠湯之類。雖治已病之左腎。而實兼治未病之心也。六味地黃湯丸。龜鹿人參等膠。是預防其邪。即所謂損其腎者益其精。亦專治未病之劑也。當此真假疑似之際。若非細心求脈。投藥一誤。害如反掌。故云憑脈而不憑證。可也。又如飲食勞倦傷脾者。飲食之傷。傷於胃而為實。勞倦之傷。傷於脾而為虛。治實當兼顧膀胱。治虛當兼顧右腎。恚怒氣逆傷肝者。治當兼顧其脾。形寒飲冷傷肺者。治當兼顧其肝。以此研求類推。細心體會。庶不負越人之深意也。至於間臟而傳其子者。蓋因所傷未甚。因其未甚。故平日未克其所勝之臟腑。其受邪而病。亦不傳其所勝之臟腑。而傳其所生之臟腑也。余故曰。若腑病傳其所勝。亦如臟病之難治也。於斯益明矣。</p></span>
<p>五十四難<span class="註"><small class="雙行小字">誤列五十二難</small></span>曰。腑臟發病。根本等不。然。不等也。其不等奈何。然。臟病者。止而不移。其病不離其處。腑病者。仿佛賁響。上下行流。居處無常。故以此知臟腑根本不同也。</p>
<span class="註"><p>此問臟腑發病。根本等否者。乃言發積聚之源。以起下章之意也。根本者。積有根本也。不等者。聚無根本也。止而不移。不離其處者。言積有根本。故不離而不移也。仿佛賁響。上下行流者。言聚無根本。故賁響而行流也。</p></span>
<p>五十五難曰。病有積有聚。何以別之。然。積者陰氣也。聚者陽氣也。故陰沉而伏。陽浮而動。氣之所積。名曰積。氣之所聚。名曰聚。故積者。五臟所生。聚者。六腑所成。積者。陰氣也。其始發有常處。其痛不離其部。上下有所終始。左右有所窮處。謂之積。聚者。陽氣也。其始發無根本。上下無所留止。其痛無常處。謂之聚。故以是別知積聚也。</p>
<span class="註"><p>此章言積聚之源。上下有所終始。左右有所窮處。此發明積有常處也。上下無所留止。其痛無常處。此發明聚無根本也。經謂氣之所積曰積。氣之所聚曰聚。愚又補其意曰。兼乎血而陰氣凝積為積。純乎氣而陽氣結聚為聚。</p></span>
<p><span class="註"><span class="雙行小字">誤列十八難末節</span></span>人病有沉滯久積聚。可切脈而知之耶。然。診病在右脅有積氣。得肺脈結脈。結甚則積甚。結微則積微。診不得肺脈。而右脅有積氣者。何也。然。肺脈雖不見。右手脈沉伏。其外痼疾同法耶。將異也。然。結者。脈來去時一止。無常數。名曰結也。伏者。脈行筋下也。浮者。脈在肉上行也。左右表裡。法皆如此。假令脈結伏者。內無積聚。脈浮結者。外無痼疾。有積聚。脈不結伏。有痼疾。脈不浮結。為脈不應病。病不應脈。是為死病也。</p>
<span class="註"><p>此承上文言積聚之脈。如右脅有積聚。應當右寸肺部得結脈。結之微甚。可以推積之微甚也。肺脈雖不見者。言肺部之結脈雖不見。然肺部必見沉伏之脈也。若外有痼疾。脈必浮結。內有積聚。脈必伏結。至論積疾五臟俱有。則肝心脾腎之脈。亦此法推之。故曰左右表裡法皆如此。至脈不應病。病不應脈。此臟敗而氣不應也。所以必死。痼疾者。如癭瘤瘡癧皆是也。</p></span>
<p>五十六難曰。五臟之積。各有名乎。以何月何日得之。然。肝之積。名曰肥氣。在左脅下。如覆杯有頭足。久不愈。令人發咳逆痎瘧。連歲不已。以季夏戊己日得之。何以言之。肺病傳肝。肝當傳脾。脾季夏適王。王者不受邪。肝復欲還肺。肺不肯受。故留結為積。故知肥氣以季夏戊己日得之。</p>
<span class="註"><p>此章言五臟積之所起。亦由五邪相傳而成也。積有常處。故有定名。聚無常處。故無名可定也。此言肺病傳肝。肝當傳脾。脾土適王於季夏之土令。故力能拒而不受。則邪當復返於肺。但脾土得令而旺。肺金亦得土之生氣而亦能拒邪。故曰不肯受也。邪因無道可行。故仍結於肝而成積矣。越人形容成積之理。可謂曲盡。乃見虛處受邪。旺處不容。今人治積以攻為務。大失經旨。良可嘆也。</p></span>
<p>心之積。名曰伏梁。起臍上。大如臂。上至心下。久不愈。令人病煩心。以秋庚辛日得之。何以言之。腎病傳心。心當傳肺。肺秋適王。王者不受邪。心復欲還腎。腎不肯受。故留結為積。故知伏梁以秋庚辛日得之。</p>
<span class="註"><p>肺金得秋金之王令。而能拒邪。腎水亦得秋金之生氣。而亦能拒也。</p></span>
<p>脾之積。名曰痞氣。在胃脘。覆大如盤。久不愈。令人四肢不收。發黃疸。飲食不為肌膚。以冬壬癸日得之。何以言之。肝病傳脾。脾當傳腎。腎以冬適王。王者不受邪。脾復欲還肝。肝不肯受。故留結為積。故知痞氣以冬壬癸日得之。</p>
<span class="註"><p>腎水旺於冬水之令。而能拒邪。肝木亦得水之生氣。而亦能拒也。</p></span>
<p>肺之積。名曰息賁。在右脅下。覆大如杯。久不已。令人洒淅寒熱。喘咳。發肺壅。以春甲乙日得之。何以言之。心病傳肺。肺當傳肝。肝以春適王。王者不受邪。肺復欲還心。心不肯受。故留結為積。故知息賁以春甲乙日得之。</p>
<span class="註"><p>肝木旺於春木之令。而能拒邪。心火亦得木之生氣。而亦能拒也。</p></span>
<p>腎之積。名曰賁豚。發於少腹。上至心下。若豚狀。或上或下無時。久不已。令人喘逆骨痿少氣。以夏丙丁日得之。何以言之。脾病傳腎。腎當傳心。心以夏適王。王者不受邪。腎復欲還脾。脾不肯受。故留結為積。故知賁豚以夏丙丁日得之。</p>
<span class="註"><p>心火旺於夏火之令。而能拒邪。脾土亦得火之生氣。而亦能拒也。</p></span>
<p>此是五積之要法也。</p>
<span class="註"><p>此總結上文推其積之所自。而可以會悟治之之法矣。其法維何。經曰。治病必求於本也。不列六腑之聚。無定名故也。</p></span>
<p>五十七難曰。泄凡有几。皆有名不。然。泄凡有五。其名不同。有胃泄。有脾泄。有大腸泄。有小腸泄。有大瘕泄。名曰後重。</p>
<span class="註"><p>五泄名雖不同。然必由胃及脾。叔和云。濕多成五泄。此之謂也。五泄俱後重。故以名曰後重該之。下文各具其病狀也。</p></span>
<p>胃泄者。飲食不化。色黃。</p>
<span class="註"><p>胃受邪。則不能運化飲食。黃者胃土之色。邪乃或濕或寒之邪也。</p></span>
<p>脾泄者。腹脹滿。泄注。食即嘔吐逆。</p>
<span class="註"><p>凡六腑稟氣於胃。五臟稟氣於脾。脾胃受邪。則諸氣滯而不化。故脹滿驟注也。氣不化必逆。故食即嘔吐也。</p></span>
<p>大腸泄者。食已窘迫。大便色白。腸鳴切痛。</p>
<span class="註"><p>肺與大腸為表裡。因邪從脾來。脾氣不化。則肺與大腸之氣亦不化。飲食入腹。迫氣下行。故窘迫也。氣不化。則攻衝。故鳴而痛也。白者。肺色也。</p></span>
<p>小腸泄者。溲而便膿血。少腹痛。</p>
<span class="註"><p>小腸者。泌別清濁之職。因氣不化。則清濁不分。欲溲小便而大便必同至。覺少腹窘痛而下膿血也。</p></span>
<p>大瘕泄者。裡急後重。數至圊而不能便。莖中痛。</p>
<span class="註"><p>瘕。假也。圊。廁也。莖。小便也。此邪傳於腎。腎乃開竅於二陰。腎氣不化。二便失常。大便欲便而不得便。似乎假便之狀。故曰瘕。因裡急則數至圊。因後重則不能便。前陰不利。則必莖中痛也。</p></span>
<p>此五泄之要法也。</p>
<span class="註"><p>此總結上文。言當審其在腑在臟。淺深久暴。推源而治。故曰要法也。</p></span>
<p>五十八難曰。傷寒有几。其脈有變不。然。傷寒有五。有中風。有傷寒。有濕溫。有熱病。有溫病，其所苦各不同。</p>
<span class="註"><p>傷寒有五者。指五病俱統於傷寒一門。而分其所苦之不同也。風為陽邪。寒為陰邪。故先列中風，次列傷寒。寒者。皆冬月之正病也。濕溫發於濕土之令居多。熱病發於盛夏。溫病即仲景傷寒經中春溫病也。乃見前之五邪。從本原來。非此之傷寒熱病。故各立其法也。注家以疫症指此溫病，非也。</p></span>
<p>中風之脈。陽浮而滑。陰濡而弱。<span class="註"><small class="雙行小字">陰陽即尺寸脈下同</small></span>濕溫之脈。陽濡而弱。陰小而急。傷寒之脈。陰陽俱盛而緊澀。熱病之脈。陰陽俱浮。浮之而滑。沉之散澀。溫病之脈。行在諸經。不知何經之動也。各隨其經所在而取之。</p>
<span class="註"><p>此發明上文五病之脈。上四病之脈。本文自明。此獨論溫病之脈。行在諸經者。經言溫病脈必行於諸陽。然不知在諸陽何經以動。動者。脈盛也。諸陽。三陽也。各隨其經取之者。刺之也。如仲景云。太陽病至七日以上。若欲作再經者。針足陽明。太陽病初服桂枝湯。反煩不解者。先刺風池風府。即此義也。</p></span>
<p>傷寒有汗出而愈。下之而死者。有汗出而死。下之而愈者。何也。然。陽虛陰盛。汗出而愈。下之即死。陽盛陰虛。汗出而死。下之而愈。</p>
<span class="註"><p>陽虛者。邪實於表。而表之陽氣虛也。陰虛者。邪實於裡。而裡之陰氣虛也。此即邪實正虛也。在表汗。在裡下。此定法也。</p></span>
<p>寒熱之病。候之如何也。然。皮寒熱者。皮不可近席。毛髮焦。鼻槁。不得汗。肌寒熱者。皮膚痛。唇舌齒槁。無汗。骨發寒熱者。病無所安。汗注不休。齒本槁痛。</p>
<span class="註"><p>傷寒一門。最為關係。故首節先定其名。示後人不得紊亂。次節明風濕寒熱溫五證之脈。三節言傷寒表裡自有一定汗下之法。不可誤行。此節明當汗當下之義。寒熱病者。即傷寒中風之總名也。皮寒熱者。即仲景所謂太陽之表。風用桂枝湯。寒用麻黃湯。汗之而愈。肌寒熱者。即仲景所謂邪在半表半裡。用小柴胡湯。和解而愈。骨發寒熱者。裡發寒熱也。即仲景謂正陽陽明裡症。用承氣湯下之而愈也。乃見先聖後聖。其揆一也。中峰云。苟非明達仲景者。未能明達此義。</p></span>
<p>五十九難<span class="註"><small class="雙行小字">誤列四十二難</small></span>曰。人腸胃長短。受水谷多少。各几何。然。胃大一尺五寸。徑五寸。長二尺六寸。橫屈受水谷三斗五升。其中當留谷二斗。水一斗五斗。小腸大二寸半。徑八分。分之小半。長三丈二尺。受谷二斗四升。水六升三合。合之大半。回腸。<span class="註"><small class="雙行小字">回腸即大腸</small></span>大四寸。徑一寸半。長二丈一尺。受谷一斗。水七升半。廣腸<span class="註"><small class="雙行小字">廣腸一名直腸</small></span>大八寸。徑二寸半。長二尺八寸。受谷九升三合。八分合之一。故腸胃凡長五丈八尺四寸。受水谷八斗七升六合。八分合之一。此腸胃長短。受水谷之數也。</p>
<p>肝重二斤四兩。左三葉。右四葉。凡七葉。主藏魂。</p>
<span class="註"><p>肝本兩大葉。左三右四者。小葉也。</p></span>
<p>心重十二兩。中有七孔三毛。盛精汁三合。主藏神。</p>
<p>脾重二斤三兩。扁廣三寸。長五寸。有散膏半斤。主裹血。溫五臟。主藏意。</p>
<p>肺重三斤三兩。六葉。兩耳。凡八葉。主藏魄。</p>
<p>腎有兩枚。重一斤二兩。主藏志。</p>
<p>膽在肝之短葉間。重三兩三銖。盛精汗三合。</p>
<p>胃重二斤十四兩。<span class="註"><small class="雙行小字">其長廣容水谷之數與首節同故不錄</small></span></p>
<p>小腸重二斤十四兩。左回疊積十六曲。<span class="註"><small class="雙行小字">其廣長容水谷之數與首節同故不錄</small></span></p>
<p>大腸重三斤十二兩。當臍右回疊積十六曲。<span class="註"><small class="雙行小字">其長廣容水谷之數與首節同故不錄</small></span></p>
<p>膀胱重九兩二銖。縱廣九寸。盛溺九升九合。</p>
<p>口廣二寸半。唇至齒。長九分。齒以後至會厭。深三寸半。大容五合。</p>
<p>舌重十兩。長七寸。廣二寸半。</p>
<p>咽門重十兩。廣二寸半。至胃長一尺六寸。</p>
<p>喉嚨重十二兩。廣二寸。長一尺二寸。九節。</p>
<p>肛門重十二兩。<span class="註"><small class="雙行小字">其長廣容水谷之數與首節同故不錄。</small></span></p>
<span class="註"><p>此章備細發明臟腑之形者。是發明內照之法也。其所以知之者。聖人之全知全能也。內經雖有岐伯曰可剖而視之之句。此不過釋疑問之意耳。</p></span>
<p>六十難<span class="註"><small class="雙行小字">誤列四十三難</small></span>曰。人不食飲七日而死者。何也。然。人胃中常存留谷二斗。水一斗五升。故平人日再至圊。一行二升半。日行五升。七日五七三斗五升。而水谷盡矣。故平人不食飲七日而死者。水谷津液俱盡。即死矣。</p>
<span class="註"><p>此與前章統結三卷始終之義。凡人所藉以生者水谷也。能承運水谷者胃也。自首卷至此。俱發明脈證無不以胃氣為重。故曰四時之脈。胃氣為本。百病死生。胃脈為本。前章首舉胃而遞及肛門。此章復舉胃存水谷。而及於水谷津液盡而死。余謂越人之著難經。真首尾相應。一氣貫通。學者讀是經而不悟全文。究不能得其心傳也。</p></span>
<p>六十一難曰。經言望而知之謂之神。聞而知之謂之聖。問而知之謂之工。切脈而知之謂之巧。何謂也。然。望而知之者。望見其五色。以知其病。聞而知之者。聞其五音。以別其病。問而知之者。問其所欲五味。以知其病所起所在。切脈而知者。診其寸口。視其虛實。以知其病在何臟腑也。</p>
<span class="註"><p>此章發明望聞問切四者之要。五色者。青黃赤白黑也。五音者。邪入肺為哭。入肝為呼。入心為言。入脾為歌。入腎為呻。五味者。酸甘苦辛咸也。所起者。察其所欲五味中之何味。而知病起何腑何臟也。所在者。知其病起何腑何臟。而又現傳何腑何臟也。三者俱知。然後診其寸口。再視其虛實。則在腑在臟之病。無不明矣。</p></span>
<p>經言以外知之曰聖。以內知之曰神。此之謂也。</p>
<span class="註"><p>此章統包三卷全文之意而結也。外者。望其色。聞其聲。病未見而知之也。內者。問其所欲五味。切其脈而察其所病。知其虛實也。越人望後世醫者。必臻此境。方合軒岐之道。否則未免為粗工而已矣。</p></span>
<p>六十二難曰。臟井滎有五。腑獨有六者。何謂也。然。腑者陽也。三焦行於諸陽。故置一輸。名曰原。所以腑有六者。亦與三焦共一氣也。</p>
<span class="註"><p>井滎輸經合。此五者。配五臟。井滎輸原經合。此六者。配六腑。六腑多一原。所以臟五而腑六也。所出為井。所溜為滎。所注為輸。所行為經。所入為合。所過為原也。</p></span>
<p>六十三難曰。十變言五臟六腑滎合。皆以井為始者。何謂也。然。井者。東方春也。萬物之始生。諸蚑行喘息。蜎飛蠕動。當生之物。莫不以春生。故歲數始於春。月數始於甲。故以井為始也。</p>
<span class="註"><p>人身之穴。以井為始。井者。東方春也。萬物之始生。如歲始於春者。東方木也。月始於甲者亦應東方木也。諸蚑蜎蠕。皆入蟄之諸小虫也。得春氣則能行。能喘息能飛能動矣。十變。古經名也。</p></span>
<p>六十四難曰。十變又言陰井木。陽井金。陰滎火。陽滎水。陰輸土。陽輸木。陰經金。陽經火。陰合水。陽合土。陰陽皆不同。其意何也。然。是剛柔之事也。陰井乙木。陽井庚金。陽井庚。庚者。乙之剛也。陰井乙。乙者。庚之柔也。乙為木。故言陰井木也。庚為金。故言陽井金也。餘皆仿此。</p>
<span class="註"><p>此舉古經十變言井滎輸經合。俱以五行陰陽為配偶。但一陰一陽。俱有相克。是何意也。言陽與陰配合。取剛柔之義耳。如陰井木。陽井金。是乙與庚合也。乙為陰木。合庚之陽金。故曰庚乃乙之剛。乙乃庚之柔也。又如陰滎火。陽滎水。是丁與壬合也。丁為陰火。壬為陽水。陽輸木。陰輸土。是甲與己合也。甲為陽木。己為陰土。陰經金。陽經火。是丙與辛合也。辛為陰金。丙為陽火。陰合水。陽合土。是戊與癸合也。癸為陰水。戊為陽土也。如此配合。則剛柔相濟。然後氣血流通而不息。乃見人身經穴臟腑。俱有五行配合。無時不交也。中峰云。觀此則二十三難庚之柔丙之柔之義益明矣。可見近來注家。不過逐章敷衍。未能通體貫徹也。</p></span>
<p>六十五難曰。經言所出為井。所入為合。其法奈何。然。所出為井。井者。東方春也。萬物始生。故言所出為井也。所入為合。合者北方冬也。陽氣入藏。故言所入為合也。</p>
<span class="註"><p>此言井滎輸經合。如春夏秋冬之周而復始。東南西北之循環無端。自井而生發。至合而入臟。如天地一歲而有四時。一日亦有四時。人身隨其氣而運行。所以一呼一吸。陰陽無不周遍也。</p></span>
<p>六十六難曰。經言肺之原。出於太淵。心之原。出於大陵。肝之原。出於太衝。脾之原。出於太白。腎之原。出於太溪。少陰之原。出於兌骨。膽之原。出於丘墟。胃之原。出於衝陽。三焦之原。出於陽池。膀胱之原。出於京骨。大腸之原。出於合谷。小腸之原。出於腕骨。十二經皆以輸為原者。何也。然。五臟輸者。三焦之所行。氣之所留止也。三焦所行之輸為原者。何也。然。臍下腎間動氣者。人之生命也。十二經中之根本也。故名曰原。三焦者。原氣之別使也。主通行三氣。經歷於五臟六腑。原者三焦之尊號也。故所止輒為原。五臟六腑之有病者。皆取其原也。</p>
<span class="註"><p>太淵在手掌後陷中。手太陰所注。此即脈之大會也。大陵。在掌後骨下橫紋中兩筋間陷中。手厥陰所注。太衝。在足大指本節後兩寸。足厥陰所注。太白。在足大指後內側橫骨下。足太陰所注。太溪。在足內踝後。跟骨上動脈陷中。足少陰所注。兌骨。一名神門。在掌後銳骨端陷中。當小指後。手少陰所注。丘墟。在足外踝下如前陷中。足少陽所過。衝陽。在足跗上五寸高骨間動脈。去陷谷二寸。足陽明所過。仲景所謂趺陽也。陽池。在手外腕上陷中。自本節後骨直對腕中。手少陽所過。京骨。在足小指外側。本節後大骨下。赤白肉際陷中。足太陽所過。合谷。一名虎口。在手大指次指歧骨陷中。手陽明所過。腕骨。在手外側腕前起骨下陷中。手太陽所過。三焦之原。在臍下腎間動氣之所。人之生命。十二經之根本。皆係乎此。三焦任此原氣。分別致使通行上中下三氣。經歷於五臟六腑之輸穴。因其經歷。故輸亦可名原也。而所謂原者。豈非三焦尊重之號乎。五臟六腑之病。皆取十二經之原穴。豈非三焦能統攝諸臟腑之一大腑乎。</p></span>
<p>六十七難曰。五臟募皆在陰。腧皆在陽者。何謂也。然。陰病行陽。陽病行陰。故令募在陰。腧在陽也。</p>
<span class="註"><p>此章發明募腧所以在陰在陽之義。陰者。屬於腹。募居於腹。陽者。屬於背。腧居於背。募者。結募也。為經氣之所聚。腧者。輸也。由此而輸彼也。故募腧為氣血陰陽周行頓節之所。而病邪亦無不從此而出入。如病在陰分。有腧方可以行陽。病在陽分。有募方可以行陰。否則間隔不通矣。故令募在陰。腧在陽也。此義以瘧證喻之。最為確切。凡瘧必由外感暑濕之邪。內傷生冷之氣。其邪漸漬。隱於募原。邪氣行陽則熱。行陰則寒。邪入淺。則道近。故日作。邪入深。則道遠。故間日作。愈深則愈遠。故有間二日三日者。此非陰病行陽。陽病行陰之明驗乎。五臟之募穴。肺募。中府穴。心募。巨闕穴。脾募。章門穴。肝募。期門穴。腎募。京門穴。</p></span>
<p>六十八難曰。五臟六腑。各有井滎輸經合。皆何所主。然。經言所出為井。所流為滎。所注為輸。所行為經。所入為合。井主心下滿。滎主身熱。輸主體重節痛。經主喘咳寒熱。合主逆氣而泄。此五臟六腑。井滎輸經合所主病也。</p>
<span class="註"><p>自六十二難至此。俱發明井滎輸原經合之穴。以下俱發明針刺之法也。紀氏曰。井者。若水之源。水始出源流之尚微。故謂之滎。水上而注下。下復承而流之。故謂之輸。水行經歷而過。故謂之經。經過於此。乃入於臟腑。與眾經相會。故謂之合。素問曰。六經為川。腸胃為海也。洪范曰。井法木以應肝。脾之位在心下。今邪在肝。肝侵脾。故心下滿。今治之於井。不令木乘土也。滎法火以應心。肺屬金。外主皮毛。心火灼於肺金。故身熱。謂邪在心也。故治之於滎。不使火來乘金。則身熱自愈矣。輸法土以應脾。今邪在土。土必克水。水者腎也。腎主骨。故病則節痛。邪在土。土自病則體重。故治之於輸。經法金以應肺。今邪在肺。得寒則咳。得熱則喘。金必克木。木者肝。肝在志為怒。怒則氣逆而作喘。故治之於經。合應水而主腎。腎氣不足。傷於衝脈。則氣逆。腎開竅於二陰。氣逆則不禁而下泄。故宜治合也。五臟六腑。各有井滎輸經合之穴。其原穴獨在六腑。故六腑多一原穴。并列於後。</p></span>
<figure>
<table>
<tr><td>肝</td><td>井（大敦）</td><td>滎（行間）</td><td>輸（太衝）</td><td>經（中封）</td><td>合（曲泉）</td><td></td></tr>
<tr><td>肺</td><td>井（少商）</td><td>滎（魚際）</td><td>輸（太淵）</td><td>經（經渠）</td><td>合（尺澤）</td><td></td></tr>
<tr><td>心</td><td>井（少衝）</td><td>滎（少府）</td><td>輸（神門）</td><td>經（靈道）</td><td>合（少海）</td><td></td></tr>
<tr><td>腎</td><td>井（湧泉）</td><td>滎（然谷）</td><td>輸（太谿）</td><td>經（復溜）</td><td>合（陰谷）</td><td></td></tr>
<tr><td>脾</td><td>井（隱白）</td><td>滎（大都）</td><td>輸（太白）</td><td>經（商丘）</td><td>合（陰陵泉）</td><td></td></tr>
<tr><td>心胞絡</td><td>井（中衝）</td><td>滎（勞宮）</td><td>輸（大陵）</td><td>經（間使）</td><td>合（曲澤）</td><td></td></tr>
<tr><td>膽</td><td>井（竅陰）</td><td>滎（俠谿）</td><td>輸（臨泣）</td><td>原（丘墟）</td><td>經（陽輔）</td><td>合（陽陵泉）</td></tr>
<tr><td>大腸</td><td>井（商陽）</td><td>滎（二間）</td><td>輸（三間）</td><td>原（合谷）</td><td>經（陽谿）</td><td>合（曲池）</td></tr>
<tr><td>小腸</td><td>井（少澤）</td><td>滎（前谷）</td><td>輸（後谿）</td><td>原（腕骨）</td><td>經（陽谷）</td><td>合（小海）</td></tr>
<tr><td>胃</td><td>井（厲兌）</td><td>滎（內庭）</td><td>輸（陷谷）</td><td>原（衝陽）</td><td>經（解谿）</td><td>合（三里）</td></tr>
<tr><td>膀胱</td><td>井（至陰）</td><td>滎（通谷）</td><td>輸（束骨）</td><td>原（京骨）</td><td>經（崑崙）</td><td>合（委中）</td></tr>
<tr><td>三焦</td><td>井（關衝）</td><td>滎（液門）</td><td>輸（中渚）</td><td>原（陽池）</td><td>經（支溝）</td><td>合（天井）</td></tr>
</table>
</figure>
<p>六十九難曰。經言虛者補之。實者瀉之。不虛不實。以經取之。何謂也。然。虛者補其母。實者瀉其子。當先補之。然後瀉之。不實不虛。以經取之者。是正經自生病。不中他邪也。當自取其經。故言以經取之。</p>
<span class="註"><p>此章言針刺經穴補瀉之大法。而亦可推之於用藥也。子母以五行配臟腑而推之。先補之。然後瀉之者。言欲瀉其子而必先補其母也。可見古人必以固本為要。明矣</p></span>
<p>七十難曰。經言春夏刺淺。秋冬刺深者。何謂也。然。春夏者。陽氣在上。人氣亦在上。故當淺取之。秋冬者。陽氣在下。人氣亦在下。故當深取之。</p>
<span class="註"><p>此言針法以得氣為主。故氣淺針亦淺。氣深針亦深也。</p></span>
<p>春夏必致一陰。秋冬必致一陽者。何也。然。春夏溫。必致一陰者。初下針。沉之至腎肝之部。得氣。引持之陰也。秋冬寒必致一陽者。初內針。淺而浮之。至心肺之部。得氣。推而內之陽也。是謂春夏必致一陰。秋冬必致一陽也。</p>
<span class="註"><p>上文言用針得氣之理。此言用針致氣之法。以順四時陰陽之義。謂春夏初內針深。至腎肝之部。得其一陰之氣。即持針引至心肺之部而留之。秋冬初內針淺。至心肺之部。得其一陽之氣。然後推之至腎肝之部而留之也。</p></span>
<p>七十一難曰。經言刺榮無傷衛。刺衛無傷榮。何謂也。然。針陽者。臥針而刺之。刺陰者。先以左手攝按所針滎輸之處。氣散乃內針。是謂刺榮無傷衛。刺衛無傷榮也。</p>
<span class="註"><p>此言用針淺深之法。臥針者。臥其針而刺之。則淺而不傷榮血也。以左手攝按者。令衛氣散而內針。則深而不傷衛氣也。</p></span>
<p>七十二難<span class="註"><small class="雙行小字">誤列八十難</small></span>曰。經言有見如入。有見如出者。何謂也。然。所謂有見如入者。謂左手見氣來至。乃內針。針入見氣盡。乃出針。是謂有見如入。有見如出也。</p>
<span class="註"><p>此言候氣到而內針。候氣盡而出針之義。如入如出如字。同而字。古通用。</p></span>
<p>七十三難曰。諸井者。肌肉淺薄。氣少不足使也。刺之奈何。然。諸井者。木也。滎者火也。火者。木之子。當刺井者。以滎瀉之。故經言。補者不可以為瀉。瀉者不可以為補。此之謂也。</p>
<span class="註"><p>井屬木。是火之母。滎屬火。是木之子。比如腎實。當瀉井木。而井木之穴。在手足指梢。肉薄氣少。不足施治。於是刺滎。所謂瀉子令母虛。若舍滎而刺輸。則土虛不能制水。腎邪更實矣。若刺經。則金生水。腎邪必反甚矣。故曰。當刺井者。以滎瀉之。故經言補者不可以為瀉。瀉者不可以為補也。</p></span>
<p>七十四難曰。經言春刺井。夏刺滎。季夏刺輸。秋刺經。冬刺合者。何也。然。春刺井者。邪在肝。夏刺滎者。邪在心。季夏刺輸者，邪在脾。秋刺經者。邪在肺。冬刺合者。邪在腎。其肝心脾肺腎。而繫於春夏秋冬者。何也。然。五臟一病。輒有五也。假令肝病。色青者肝也。臊臭者肝也。喜酸者肝也。喜呼者肝也。喜泣者肝也。其病眾多。不可盡言也。四時有數。而并繫於春夏秋冬者也。針之要妙。在於秋毫者也。</p>
<span class="註"><p>此章言春夏秋冬之刺井滎輸經合。非必春刺井。其邪在肝者。刺井也。井屬木。春也。故云春刺井也。餘臟皆然。又問肝心脾肺腎何故繫於春夏秋冬。故復舉肝木之青臊酸呼泣。以明五臟六腑之病眾多。而并統於金木水火土之所屬。如四時之有數。而并繫於春夏秋冬之所屬也。然其要妙在分別臟腑。如察秋毫。故下章又明臟腑陰陽之義。</p></span>
<p>七十五難<span class="註"><small class="雙行小字">誤列五十一難</small></span></p>
<span class="註"><p>前三卷以脈別臟腑。切脈而治病也。此以所欲別臟腑。問情而針病也。</p></span>
<p>七十六難<span class="註"><small class="雙行小字">誤列七十八難</small></span>曰。針有補瀉。何謂也。然。補瀉之法。非必呼吸出內針也。何以言之<span class="註"><small class="雙行小字">坊本脫此四字</small></span></p>
<span class="註"><p>呼內吸出為補。吸內呼出為瀉。此章言不但此也。必以得氣為主。義在下文。</p></span>
<p>然。知為針者。信其左。不知為針者。信其右。當刺之時。必先以左手。厭按所針滎輸之處。彈而努之。爪而下之。其氣之來。如動脈之狀。順針而刺之。得氣。推而內之。是謂補。動而伸之。是謂瀉。不得氣。乃與男外女內。又不得氣。是謂十死不治也。<span class="註"><small class="雙行小字">厭與壓同</small></span></p>
<span class="註"><p>知為針者。善針之人也。左手壓按滎輸。知肌肉厚薄。筋骨腠會。取穴分明。於左手指下。然後以右手內針。不知為針者反是。凡用針之時。必先以左手彈之。使氣脈努聚若動脈之狀。爪按真穴刺之。待氣應於針。因而推至當止之分。此謂補。若得氣即搖動伸提。此謂瀉。若久留針而氣不至。則浮針於衛分。左轉以待其氣。不至。又沉內於榮分。右轉以待其氣。若又不至。為陰陽俱絕。不治也。言男女。即左右。</p></span>
<p>七十七難<span class="註"><small class="雙行小字">誤列七十六難</small></span>曰。何謂補瀉。當補之時。何所取氣。當瀉之時。何所置氣。然。當補之時。從衛取氣。當瀉之時。從榮置氣。其陽氣不足。陰氣有餘。當先補其陽。而後瀉其陰。陰氣不足。陽氣有餘。當先補其陰。而後瀉其陽。榮衛通行。此其要也。<span class="註"><small class="雙行小字">陽氣即衛氣陰氣即榮氣</small></span></p>
<span class="註"><p>此言補瀉用針之法也。欲補。從衛取氣淺針之。俟得氣乃推內針於所虛之處。欲瀉。從榮置氣深針之於所實之處。俟得氣引針泄之。此補瀉大要也。</p></span>
<p>七十八難<span class="註"><small class="雙行小字">誤列十二難</small></span>曰。經言五臟脈已絕於內。用針者反實其外。五臟脈已絕於外。用針者反實其內。內外之絕。何以別之。然。五臟脈已絕於內者。腎肝脈絕於內也。而醫者反補其心肺。五臟脈已絕於外者。心肺脈絕於外也。而醫者反補其腎肝。陽絕補陰。陰絕補陽。是謂實實虛虛。損不足而益有餘。如此死者。醫殺之耳。</p>
<span class="註"><p>此言脈者。謂針刺脈絡之脈。非寸關尺之脈也。絕者。氣不至也。曰外內者。即榮衛陰陽上下也。此言不知補瀉之法。足以殺人。下文詳言其法也。</p></span>
<p>七十九難曰。經言迎而奪之。安得無虛。隨而濟之。安得無實。虛之與實。若得若失。實之與虛。若有若無。何謂也。<span class="註"><small class="雙行小字">義在下文</small></span></p>
<p>然。迎而奪之者。瀉其子也。隨而濟之者。補其母也。假令心病。瀉手心主輸。<span class="註"><small class="雙行小字">胞絡之大陵穴</small></span>是謂迎而奪之者也。補手心主井。<span class="註"><small class="雙行小字">胞絡之中衝穴</small></span>是謂隨而濟之者也。所謂實之與虛者。濡牢之意也。氣來實牢者為得。濡虛者為失。故曰若得若失也。</p>
<span class="註"><p>輸屬土。心病瀉之。是瀉子也。井屬木。心病補之。是補母也。濡猶軟也。牢猶緊也。得失。即有無也。心病。即胞絡病也。</p></span>
<p>八十難<span class="註"><small class="雙行小字">誤列七十二難</small></span>曰。經言能知迎隨之氣。可令調之。調氣之方。必在陰陽。何謂也。然。所謂迎隨者。知榮衛之流行。經脈之往來也。隨其逆順而取之。故曰迎隨。調氣之方。必在陰陽者。知其內外表裡。隨其陰陽而調之。故曰調氣之方。必在乎陰陽。</p>
<span class="註"><p>此言迎隨之氣。隨其逆順而針之。調氣之方。審其陰陽表裡用藥而調之也。</p></span>
<p>八十一難曰。經言無實實。無虛虛。損不足而益有餘。是寸口脈耶。將病自有虛實也。其損益奈何。然。是病非謂寸口脈也。謂病自有虛實也。假令肝實而肺虛。肝者木也。肺者金也。金木當更相平。當知金平木。假令肺實。故知肝虛微少氣。用針不補其肝。而反重實其肺。故曰實實虛虛。損不足而益有餘。此者中工之所害也。</p>
<span class="註"><p>此章雖承上而言針刺之補瀉。其實為總結全部大法。而寓反覆丁寧之意也。然特舉經言無實實虛虛。損不足而益有餘為問者。具見醫理最嚴虛實之戒。虛實稍誤。害如反掌。故設此諄諄垂訓之辭也。如上卷之言動脈會於寸口以下。十二經之臟腑。定寸關尺之脈位。以弦鉤毛石之象。合四時之盛衰。而又推廣命門三焦。奇經絡脈。陰乘陽乘。覆溢關格。六甲旺脈。損至脈症。五邪五泄。傷寒積聚。厥痛狂癲。無一不極詳且備。而猶慮後人不知五臟自有生克。以平為度之法。故云此非寸口脈也。謂病自有虛實也。即此自有虛實一句。乃示人以法外之法也。得乎此。即經所謂不治已病。治未病之法亦得矣。凡人脈之虛實。必因病而見。未有病見虛實。而脈不見虛實者也。今言自有虛實。乃五臟自有相制之虛實。不同於脈之虛實論也。如肝實而肺虛。肝木受制於肺金者也。因肺虛不能制肝。所以謂之肝實。若治肝之實。非矣。醫當補肺金之虛。則肝之實。肺自能制之也。如肺實肝虛。肺乃制肝者也。肺既實則制肝太過。若徒補肝之虛。而不治其致虛之源。亦非矣。醫當瀉肺金之實。則肝木自能條達也。若不能治其致虛之源。苟能知虛知實。猶不至於大謬。更有不知相制之虛實。反補其實而瀉其虛。損不足而益有餘。使輕證必重。重證必死。所謂中工之害也。舉肝肺則他臟俱可類推。學者能不惕然知警乎。或問難經至八十一難而止。取何義耶。余曰。此越人悉體軒岐之旨。而寓尊經之義乎。如素問九卷。而分八十一篇。靈樞九卷。亦分八十一篇。共一十八卷。後人析十二卷。二十四卷。此皆變亂古聖之旨。大失尊經之義。今即以靈素證之可明矣。考素問離合真邪論。黃帝問曰。余聞九針九篇。夫子乃因而九之。九九八十一篇。余盡通其意矣。又靈樞九針論。岐伯曰。夫聖人之起天地之數也。一而九之。故以立九野。九九八十一。以起黃鐘之數焉。若此者。乃知天地大德曰生。重陽九之數也。故軒岐作內經。亦體天地陽生之道。而符此九九之數也。今難經之八十一難。乃合內經而一貫之。首尾相應。全體通靈。豈非越人悉體軒岐之旨。而寓尊經之義乎。中峰云。余見難經各家之注多矣。皆不能探作者之心。不過隨文敷衍。并無一語道及全體通靈之妙。今閱是注。知越人引靈素一十八卷之義。尊其序而該其要。會通一貫。作此八十一條之大文。學者能玩索研求。則一十八卷之靈素。莫不頭頭是道矣。乃近世張介賓以內經分類各門。名曰類經。以備醫者易於查對。猶夫吾儒之五經。時下亦有分門類敘以供便覽。無非欲開淺學摘用之竇。殊不知氣脈不貫。頭緒全無。臨文之際。究無益也。因悟難經之妙。不易內經之次序。能運內經之全神。必軒岐假手於越人。而作此合璧之書也。然三千年來。實無人道。乃得是注而始明。又何莫非越人之假手於先生乎。</p></span>
