<header><h1>普濟本事方</h1></header>
<dl class="元資料" data-type="book">
<div><dt>作者</dt><dd>許叔微</dd></div>
<div><dt>朝代</dt><dd>南宋</dd></div>
<div><dt>年份</dt><dd><data value="1132">公元1132年</data></dd></div>
</dl>
<h2>普濟本事方序</h2>
<p>醫之道大矣。可以養生，可以全身，可以盡年，可以利天下與來世，是非淺識者所能為也。苟精此道者，通神明，奪造化，擅回生起死之功。則精神之運，必有默相於冥冥之中者，豈瘼，迨及後世。周有和緩，秦有扁鵲，漢有倉公，魏有華佗，宋有徐文伯，唐有孫思邈，又皆神奇出人意表，背望踵躡，代不乏人，自茲以往，其妙不傳。間有能者。僅可一二數，何古人精巧如是，而今人之不逮也。予嘗思之。古人以此救人，故天畀其道，使普惠含靈。後人以此射利，故天嗇其術，而不輕畀予，無足疑者。予年十一，連遭家禍，父以時疫，母以氣中。百日之間，並失怙恃。痛念裡無良醫，束手待盡，及長成人，刻意方書，誓欲以救物為心。杳冥之中題為普濟本事予既以救</p>
<h2>卷第一</h2>
<h3>中風肝膽筋骨諸風</h3>
<h4>真珠丸</h4>
<p>治肝經因虛，內受風邪，臥則魂散而不守，狀若驚悸，真珠丸（真珠母大於常珠形狀不一）。</p>
<p>真珠母（未鑽真珠也三分，研如粉，同碾）</p>
<p>當歸（洗去蘆，薄切，焙乾，後秤）</p>
<p>熟乾地黃（酒洒，九蒸九曝，焙乾，各一兩半）</p>
<p>人參（去蘆）</p>
<p>酸棗仁（微炒，去皮，研）</p>
<p>柏子仁（各一兩，研）</p>
<p>犀角（鎊為細末）</p>
<p>茯神（去木）</p>
<p>沉香　龍齒（各半兩）</p>
<p>上為細末，煉蜜為丸，如梧子大，辰砂為衣。每服四五十丸，金銀薄荷湯下，日午夜臥服。</p>
<h4>獨活湯</h4>
<p>獨活（黃色如鬼眼者，去蘆，洗，焙，秤）　羌活（去蘆）　防風（去釵股）　人參（去蘆）</p>
<p>前胡（去苗，淨洗）　細辛（華陰者去葉）　五味子（揀）　沙參　白茯苓（去皮）　半夏曲酸棗仁（微炒，去皮，研）　甘草（各一兩，炙）</p>
<p>上為粗末。每服四大錢，水一盞半，生薑三片，烏梅半個，同煎至八分去滓，不拘時候紹興癸丑，予待次四明，有董生者，患神氣不寧，每臥則魂飛揚，覺身在床而神魂離體驚悸多魘，通夕無寐，更數醫而不效，予為診視。詢之，曰：醫作何病治？董曰：眾皆以心病。予曰：以脈言之，肝經受邪，非心病也。肝經因虛，邪氣襲之，肝藏魂者也，游魂變。平人肝不受邪，故臥則魂歸於肝，神靜而得寐。今肝有邪，魂不得歸，是以臥則魂揚若離體也。肝主怒，故小怒則劇。董欣然曰：前此未之聞，雖未服藥，已覺沉　去體矣，愿求藥法。予曰：公且持此說與眾醫議所治之方，而徐質之，閱旬日復至，云：醫遍議古今方書，無與病相對者，故予處此二方以贈，服一月而病悉除。此方大抵以真珠母為君，龍齒佐之，真珠母入肝經為第一，龍齒與肝相類故也。龍齒虎睛，今人例作鎮心藥，殊不知龍齒安魂，虎睛定魄，各言類也。東方蒼龍木也，屬肝而藏魂，西方白虎金也，屬肺而藏魄。龍能變化，故魂游而不定；虎能專靜，故魄止而有守。予謂治魄不寧者，宜以虎睛，治魂飛揚者，宜以龍齒。萬物有成理而不說亦在夫人達之而已。</p>
<h4>星附散</h4>
<p>治中風雖能言，口不　斜，而手足　曳，脈虛浮而數，風中腑也。蓋風中脈則口眼　斜風中腑則肢體廢，風中臟則性命危。凡風中腑宜汗而解，星附散天南星（大者）　半夏（二味薄切，薑汁浸透）　黑附子（炮裂，去皮臍）　白附子（炮微黃）</p>
<p>參（去蘆）　白茯苓（去皮，以上各等分）</p>
<p>上為粗末。每服二錢，水酒各一盞，同煎至八分去滓，熱服，二三服汗出瘥。頃在桐有人患此症，三投此藥得汗，手足能舉。</p>
<h4>二生散</h4>
<p>治體虛有風，外受寒濕，身如在空中，二生散。</p>
<p>生附子（去皮臍）　生天南星（各等分）</p>
<p>上二味，　咀。每服四大錢，水一盞半，生薑十片，漫火煎至八分去滓服。戊午年予在新安有此疾，張醫博士發授此方，三服愈。（煎不熟有大毒，令人發腫增病）。</p>
<h4>救急稀涎散</h4>
<p>治中風忽然昏若醉，形體昏悶，四肢不收，風涎潮於上膈，氣閉不通。</p>
<p>豬牙皂角（四挺，肥實不蠹者，去黑皮）　晉礬（光明者，一兩）</p>
<p>上細末研勻，輕者半錢，重者三字匕，溫水調灌下，不大嘔吐，但微微冷涎出一二升便得醒，醒次緩而調治，不可便大段，亦恐過傷人，孫兆方。</p>
<h4>勝金丸</h4>
<p>治中風同前證。</p>
<p>豬牙皂角（二兩，捶碎，水一升，同生薄荷一處搗取汁，漫火熬成膏）　生薄荷（半斤）</p>
<p>瓜蒂末（一兩）　藜蘆末（一兩）　朱砂（半兩）</p>
<p>上將朱砂末一分，與二味末研勻，用膏子搜和丸如龍眼大，以余朱為衣，溫酒化一丸，甚者二丸，以吐為度，得吐即省，不省者不可治。</p>
<p>《必用方》論中風無吐法，引金虎碧霞為戒。且如卒暴涎生，聲如引鋸，牙關緊急，氣閉不行，湯藥不能入。命在須臾，執以無吐法，可乎，但不當用銀粉藥，恐損脾壞人四肢爾，予每用此二方，每每有驗。</p>
<h4>拒風丹</h4>
<p>治一切風。</p>
<p>川芎（四兩）　防風（去釵股者，一兩半）　天麻（去蘆，一兩）　甘草（一兩，炙）　細辛（去葉，三錢半）　蓽茇（半兩）</p>
<p>上細末，煉蜜和杵，每兩作一十丸，每服一粒，細嚼，荊芥湯或溫酒下，尋常些小傷風，頭痛鼻塞，項強筋急，皆可服，予家常合，老幼所須之藥。</p>
<p>世言氣中者，雖不見於方書，然暴喜傷陽，暴怒傷陰，憂愁不意，氣多厥逆，往往多得此疾，便覺涎潮昏塞，牙關緊急，若概作中風候，用藥非止不相當，多致殺人。元　庚午母氏親遭此禍，至今飲恨，母氏平時食素，氣血羸弱，因先子捐館憂惱，忽一日氣厥，牙噤涎潮，有一裡醫便作中風，以大通丸三粒下之，大下數行。一夕而去。予常痛恨，每見此症，急化蘇合香丸四五粒，灌之便醒，然後隨其虛實寒熱而調治之，無不愈者。經云：無故而喑，脈不至，不治自已，謂氣暴逆也，氣復則已，審如是，雖不服藥亦可。</p>
<h4>蘇合香丸</h4>
<p>療傳尸、骨蒸、　，肺痿，疰忤、鬼氣，卒心痛，霍亂吐利，時氣鬼魅，瘴瘧，赤白暴利，瘀血月閉，　癖下腫，驚癇，鬼忤中人，小兒吐乳，大人狐狸等病。</p>
<p>蘇合香油（一兩，入安息香膏內）　白朮（二兩）　丁香（二兩）　朱砂（研水飛，二兩）　木香（二兩）　白檀（銼，二兩）　薰陸香（別研，二兩）　沉香（二兩）　烏犀（鎊屑，二兩）　蓽茇（二兩）　安息香（二兩，別為末，用無灰酒一斤熬膏）　香附（去毛，二兩）　訶藜勒（煨去核，二兩）　龍腦上為細末，入研藥勻，用安息香膏並煉白蜜和劑。每服旋丸如梧桐子大，早朝取井華水溫冷任意，化服四丸，老人小兒可服一丸，溫酒化服亦得，並空心服之，用蠟紙裹一丸如彈子大，緋絹袋盛，當心帶之，一切邪神不敢近。（去龍腦，名麝香蘇合丸，治一切冷氣胸膈噎塞，腸中虛鳴，宿飲不消，余證並同。）</p>
<p>范子默記崇寧中凡兩中風，始則口眼　斜，次則涎潮閉塞，左右共灸十二穴得氣通，十二穴者，謂聽會、頰車、地倉、百會、肩　、曲池、風市、足三裡、絕骨、發際、大椎、風池也，依而用之，無不立效。</p>
<h4>灸中風十二穴</h4>
<p>聽會，二穴，在耳微前陷者中，張口有穴耳前陷中動脈宛宛中，側臥張口取之。治耳聾，耳中狀如蟬聲，牙車脫臼，日可灸五壯至三七壯止，十日報灸即愈，忌動風、生冷、豬魚等物。（《灸經》云：日灸五壯至七壯止，可經十日許，還依前灸之。慎冷食）</p>
<p>頰車，二穴，在耳下曲頰端陷中，側臥張口取之。治牙關不開，口噤不語，失音，牙車疼痛，頷頰腫，頸強不得回顧，日灸七壯至七七壯止，灸如大麥，忌如常法。</p>
<p>地倉，二穴，俠口吻傍四分外，如近下有脈微微動，蹺脈手陽明之交。若久患風，其脈亦有不動者，治偏風口　，目不得開，失音不語，飲食不收，水漿漏落，眼　動不止，病左治右，病右治左，日灸二七壯，重者七七壯，艾炷如粗敘腳大，若炷太大，口轉　，卻灸承漿七七壯即愈。（面並熱食、房事等忌如常）</p>
<p>百會穴，在頭頂中宛宛陷中。治小兒脫肛久不瘥，風癇，中風角弓反張，口吐涎沫，可灸七壯至七七壯，頭頂皮膚淺薄，凡灸不過七七壯。</p>
<p>肩　穴，在肩端兩骨間陷者宛宛中，舉臂取之。治偏風半身不遂，熱風癮疹，手臂攣急，捉物不得，挽弓不開，臂細無力，筋骨酸疼，可七壯至二七壯，若偏風不遂，可七七壯止曲池，二穴，臂相連處，以手拱胸取之，紋盡處是穴。治偏風半身不遂，刺風癮疹，筋緩捉物不得，挽弓不開，屈伸難，可灸三壯。（《針灸經》云：日灸七壯至二百壯且停，十余日更下火，還至二百壯罷。云云）</p>
<p>風市即中瀆，二穴，在髀骨外膝上五寸分肉間陷中。治寒氣客於分肉之間，痛攻上下，筋痹不仁，可灸五壯。</p>
<p>足三裡，二穴，在膝下三寸　外廉兩筋間，舉足取之。治胃中寒，心腹脹滿，胃氣不足，聞食臭腸鳴，腹痛食不化，此穴諸病皆治，及療食氣水氣，蠱毒　癖，四肢腫滿，膝　酸痛，目不明，五勞七傷，胸中瘀血，乳癰，可灸三壯，人年三十以上，皆宜灸此穴。（日灸七壯至一百壯止）</p>
<p>絕骨，一穴，在足外踝上四寸。治風痹不仁，膝　酸，可灸三壯。</p>
<p>發際，即神庭穴，在直鼻上額入發際五分。治癲疾風癇，戴目上下不識人，及頭風目眩，鼻出清涕不止，驚悸不得安寢，可灸二壯至七七壯止，凡療風灸多即傷，惟宜七壯至三七壯，針即發狂。</p>
<p>大椎，一穴，在項後第一椎上陷中。治五勞七傷，頸項強不得回顧，風勞食氣，灸以年為壯。（或曰日灸七壯至七七壯）</p>
<p>風池，二穴，在腦後入發際陷中。治頸項痛不得回顧，腰佝僂引項，筋無力不收，可灸七壯。</p>
<p>元符中一宗人得疾，逾年不瘥，謁醫於王思和繹，思和具脈狀云，病因驚恐，肝臟為邪，邪來乘陽明之經，即胃是也，邪盛不畏勝我者，又來乘肺，肺緣久病氣弱，金勝無能，受肝凌侮，其病時復頭眩，螈　搐掣，心胞伏涎，久之，則害脾氣，要當平肝氣使歸經，則脾不受克，脾為中州土，主四肢一體之事，脾氣正則土生金，金旺則肺安矣，今疾欲作時，覺氣上衝者，是肝侮肺，肺不受侮，故有此上衝，肝勝則復受金克，故搐搦也，以熱藥治之，則風愈甚，以冷藥治之，則氣已虛，肺屬金，金為清化，便覺臟腑不調，今用中和溫藥，抑肝補脾，漸可安愈，今心忪，非心忪也，胃之大絡，名曰虛裡，絡胸膈及兩乳間，虛而有痰則動，更須時發一陣熱者，是其候也，服下三方，一月而愈，思和名醫。寓儀真時，人少知者，後至都下，聲名籍甚，為醫官，政和中度為黃冠，終蕊珠侍宸。</p>
<h4>續斷湯</h4>
<p>續斷（洗，銼，焙乾）　杜仲（銼如豆，炒令黑）　肉桂（去粗皮，不見火）　防風（去釵股）</p>
<p>葉）　人參（去蘆）　當歸（洗，去蘆，薄切，焙乾）　白芍藥（各一兩）　川芎（洗）　秦艽（去蘆，洗）　川獨活（黃色如鬼眼者，去蘆，洗，焙，秤）　熟地黃（酒洒，九蒸九曝，焙乾，秤，各三兩）</p>
<p>上為細末。每服二錢，水一盞，生薑三片，棗一個，同煎至七分，空心食前稍熱服。</p>
<h4>山蕷丸</h4>
<p>山蕷　人參（去蘆）　沙參（洗）　遠志（去心，銼，洗，炒黃色）　防風（去釵股）　真珠母（未鑽真珠，研如粉）　紫石英（研水飛）　茯神（去木）　虎骨（各一兩，酥塗炙焦黃，酒或羊脂亦可）　虎睛（一對，酒浸，切，焙）　龍齒（黏舌者）　五味子（揀）　丹參（洗）　石菖蒲（去須，洗）　華陰細辛（去葉，各一分）</p>
<p>上為細末，煉蜜為丸，梧子大。每服三十丸至五十丸，金銀薄荷湯下，食後臨臥。</p>
<h4>獨活散</h4>
<p>川獨活（黃色如鬼眼者，去蘆，洗，焙，秤）　白朮　白茯苓（去皮）　秦艽（洗，去蘆）</p>
<p>葳蕤（洗）　柏子仁（研）　甘草（炙，各一兩）　犀角（鎊）　川椒（去目並合口，微火炒地上出汗）　熟乾地黃（酒洒，九蒸九曝，焙乾，秤）　枳實（湯浸，洗去穰，薄切，麩炒）　白芷（不見火）　官桂（去粗皮，不見火，各半兩）　人參（去蘆，一分）</p>
<p>上為細末。每服二錢，水一盞，生薑三片，棗一個，同煎至七分，不拘時候服。</p>
<h4>地黃酒</h4>
<p>治風在肝脾，語謇腳弱，大便多秘。</p>
<p>熟乾地黃（酒洒，九蒸九曝，焙乾，秤，四兩）　附子（炮去皮尖）　茵芋（去梗，銼，炒用）　羌活（去蘆）　防風（去釵股）　芎　（各一兩）　石斛（洗去根，二兩）　丹參（二兩半）</p>
<p>牛蒡根（二兩半）　牛膝（酒浸，水洗，焙）　杜仲（去皮，銼如豆，炒令黑）　桂枝（不見火，各一兩半）　大麻子（去皮，一升）</p>
<p>上細銼，入絹袋盛寬貯之，用無灰酒一斛五升，封漬七日，逾日空心食前飲一盞，常醺勿令吐。</p>
<h4>防風湯</h4>
<p>治中風內虛，腳弱語謇。</p>
<p>石斛（洗去根，一兩半）　熟乾地黃（酒洒，九蒸九曝，焙乾，秤）　杜仲（去皮，銼，如豆，炒令黑）　丹參（各一兩一分）　防風（去釵股）　川芎（洗）　麥門冬（用水　去心）</p>
<p>桂枝（不見火）　川獨活（黃色如鬼眼者，去蘆，洗，焙，秤，各一兩）</p>
<p>上為粗末。每服五錢，水一大盞半，棗二枚，同煎八分，去滓溫服。</p>
<h4>竹瀝湯</h4>
<p>治中風入脾肝，經年四肢不遂，舌強語謇。</p>
<p>威靈仙（去苗，洗）　附子（炮制，去皮臍）　桔梗（炒）　防風（去釵股）　蔓荊子（揀）　枳殼（去穰，細切，麩炒黃）　川芎（洗）　當歸（洗去蘆，薄切，焙，秤，各等分）</p>
<p>上為粗末。每服四錢，水一盞，竹瀝半盞，生薑三片，同煎至八分，去滓溫服，日三四。忌茗。</p>
<h4>防己湯</h4>
<p>治久風邪入肝脾二經，言語不傳。</p>
<p>漢防己　防風（去釵股）　桂心（不見火）　附子（炮裂，去皮，各半兩）　威靈仙（去苗，洗，三分）　麻黃（半兩，去節）</p>
<p>上為粗末。每服四錢，水一盞，引子半盞，煎至七分，去滓溫服，日三四。引子用竹瀝、荊瀝、地黃汁各一盞，薑汁半盞，和勻用。</p>
<p>上四方龐先生傳。</p>
<h4>木瓜煎</h4>
<p>治筋急項強不可轉側。</p>
<p>宣州木瓜（二個，取蓋去穰）　沒藥（二兩，研）　乳香（一分，乳缽坐水盆中，研）</p>
<p>上二味，納木瓜中，用蓋子合了，竹簽定之，飯上蒸三四次，爛研成膏子。每服三五匙，地黃酒化下，生地黃汁半盞，無灰上醞二盞和之，用八分一盞，熱暖化膏。</p>
<p>有人患此病，自午後發，黃昏時定。予曰：此患必先從足起。《經》言：十二經絡，各有筋，惟足少陰之筋，自足至頂，大抵筋者肝之合也。日中至黃昏，天之陽，陽中之陰也。</p>
<p>又曰：陽中之陰，肺也，自離至兌，陰旺陽弱之時。故《靈寶畢法》云：離至乾，腎氣絕而肝氣弱，肝腎二臟受陰氣，故發於是時。予授此方，三服而愈。</p>
<p>同官歙丞張德操，常言其內子昔患筋攣，腳不能屈伸者逾年，動則令人持抱，求醫於泗水楊吉老。吉老云：此筋病也，宜服下三方，服一年而愈。</p>
<h4>養血地黃丸</h4>
<p>治筋極。（春夏服之）</p>
<p>熟乾地黃（酒洒，九蒸九曝，焙乾，秤，十分）　頑荊（一分）　山茱萸（五分，連核）</p>
<p>地膚子　黑狗脊（炙，去毛淨，焙，銼）　白朮　乾漆（炒令煙出）　蠐螬（干炒）　天雄（炮，去皮）　車前子（各三分）　萆　山芋　澤瀉　牛膝（酒浸，水洗，焙乾，各一兩）</p>
<p>上為細末，煉蜜和杵，丸如梧子大。每服五十丸，溫酒下，空心夜臥服。</p>
<h4>羚羊角湯</h4>
<p>治筋痹肢節束痛。（秋服之）</p>
<p>羚羊角（鎊）　肉桂（不見火）　附子（炮，去皮臍）　獨活（黃色如鬼眼者，去蘆，洗，焙，秤，各一兩三錢半）　白芍藥　防風（去釵股，炙）　芎　（各一兩）</p>
<p>上為粗末。每服三大錢，水一盞半，生薑三片，同煎至八分，取清汁服，日可二三服。</p>
<h4>烏頭湯</h4>
<p>治寒冷濕痹，留於筋脈，攣縮不得轉側。（冬服之）</p>
<p>大烏頭（炮，去皮臍）　細辛（去葉）　川椒（去目並合口，微炒，地上出汗）　甘草（炙）</p>
<p>秦艽（洗，去蘆）　附子（炮，去皮臍）　官桂（不見火）　白芍藥（各等分）　乾薑（炮）</p>
<p>白茯苓（去皮）　防風（去釵股，炙）　當歸（去蘆，薄切，焙乾，各一兩）　川獨活（黃色如鬼眼者，去蘆，洗，焙，秤，一兩三錢半）</p>
<p>上為粗末。每服三錢，水一盞半，棗二個，同煎至八分，去滓，空心食前服。</p>
<p>凡中風用續命排風風引竹瀝諸湯，及神精丹茵芋酒之類，更加以灸，無不愈者。然此疾積習之久，非一日所能致，皆大劑久而取效。唐書載王太後中風，喑默不語，醫者蒸黃　數斛以熏之得瘥，蓋此類也。今人服三五盞便求效，責醫也亦速矣。孟子曰：七年之病，三年之艾，久而後知爾。</p>
<h4>小續命湯</h4>
<p>小續命湯並增損法附子（半兩，炮，去皮臍）　防風（一兩半，去釵股）　黃芩（去皮）　麻黃（去根節）</p>
<p>桂（去皮，生用）　甘草（炙）　人參（去蘆）　防己　白芍藥　芎　杏仁（浸湯，去皮尖，以上各一兩）</p>
<p>上為粗散。每服五錢，水二盞，薑五片，煎一盞，去滓，非時溫服。若骨節煩痛有熱者，去附子，倍芍藥；精神恍惚者，加茯苓、遠志各一兩；煩心多驚者，加犀角半兩；骨間冷痛者，倍用桂附；嘔逆腹脹者，倍人參，加半夏一兩；躁悶大便澀者，去附子，倍芍藥，入竹瀝一合煎；若臟寒下利者，去防己黃芩，倍附子合前成一兩，加白朮一兩。</p>
<h4>排風湯</h4>
<p>白蘚皮（去心，洗，焙，秤）　芍藥（洗，焙）　桂（去皮，不見火）　防風（去釵股）</p>
<p>當歸（洗，焙）　川芎（洗，焙）　甘草（炙）　杏仁（浸湯去皮尖及雙仁者，麩炒令黃）　白朮（各二兩）　茯神（去皮、木）　麻黃（去根節）　獨活（去蘆，洗，焙，秤，以上各一兩）</p>
<p>上件同為末。每服三錢，水一盞半，薑三片，煎至八分，去滓，非時溫服。</p>
<h4>小風引湯</h4>
<p>防風（去釵股）　獨活（去蘆，洗，焙，秤）　細辛（去葉）　川芎（洗，焙）　五味子（揀）</p>
<p>白茯苓（去皮）　人參（去蘆）　白芍藥　白朮　甘草（炙）</p>
<p>上一十味，等分為末。每服三錢，水一盞，薑三片，杏仁五個去尖拍碎同煎等分，非時去滓溫服，如加麻黃、蓯蓉、附子、當歸、羚羊角五物等分，即大風引湯也。</p>
<h4>《千金方》竹瀝湯</h4>
<p>竹瀝（二升）　生葛汁（一升）　生薑汁（三合）</p>
<p>上三味，相和溫暖，分三服，平旦、日晡、夜各一服。</p>
<h4>《必用方》竹瀝湯</h4>
<p>秦艽（去土，銼）　獨活（黃色如鬼眼者，去蘆，洗，焙，秤）　防風（洗，銼）　附子（炮，去皮臍，銼如指大，各一兩）</p>
<p>上四味，以水四盞，煎至二盞，入生地黃汁、淡竹瀝各半盞，煎至四五沸，去滓。分四服，適溫熱服，空心日午臨臥服。病勢去，即以他藥扶持，未愈再作。近世貴人用之，多有神效。</p>
<h4>增損茵芋酒</h4>
<p>茵芋葉　川烏（炮，去皮）　石楠葉　防風（去釵股）　川椒（去目，微炒出汗）　女萎附子（炮，去皮臍）　細辛（去葉）　獨活（黃色如鬼眼者，去蘆，洗，焙，秤）　卷柏（去根）　肉桂（去皮）　天雄（炮，去皮臍）　秦艽（去土）　防己（以上各一兩）　躑躅花（二兩）　當歸（去蘆，洗，酒浸，切，焙，二兩）　生乾地黃（二兩）　芍藥（一兩）</p>
<p>上一十八味，　咀，酒二斗漬之。冬七日，夏三日，春秋各五日，初服一合，漸增之，以知為度，令酒氣相續。</p>
<h4>太一神精丹</h4>
<p>治客忤霍亂，腹痛脹滿，尸疰惡風，癲狂鬼語，蠱毒妖魅，症瘕積聚，溫瘧積久，百方不瘥，但是一切惡毒，無所不治，太一神精丹。</p>
<p>丹砂（元州、麻陽大塊有牆壁者）　雌黃（柳州葉子者）　雄黃（武都水窟通明如雞冠者，先器漬上六味，各搗羅如粉。以　醋拌，使干濕得所，內土釜中，六一泥固濟勿令泄氣，候干，用鐵三腳子（用泥作三個柱子亦妙）隨釜之大小，高不過一尺五寸，其下置炭約三斤，以漸益之，常及五斤，只在合底，不得過口，以五日火不絕為度。火盡，極冷水浸干泥令透，然後出之。藥飛凝釜上，白如雪者為最，五色者佳，三色者次，下者一色。藥飛不盡，與火如前。以雄雞翼隨多少掃取研勻，束膏丸如黍粒，平旦空腹漿飲下一丸，病甚加至二丸。口噤者以物斡開，不可開者，琢去兩齒，藥下即治。男左女右，絳囊帶九刀圭，小兒系頭上，辟瘴毒惡時氣射工。小兒患，苦酒和之，塗方寸紙著兒心腹上。土釜，搗好甘土絹篩，水和紙筋作泥，隨藥多少為釜，陰三十日，曝三十日，日夕番轉，內釜糠中，四向土欄擁之，令糠周遍釜上下各七寸，從下焚之五日夜，去灰待冷，取拭令淨，醋和黃丹如稀粥，掃其中濃一分，如入藥諸大丹，皆用此釜，一具數十回用不動。或用瓦盆兩枚，隨其大小，用六一泥塗之。六一泥用赤石脂、牡蠣、滑石、礬石、黃礬各二兩，取　醋以足為度，先作甘土泥，各別裹五藥作團，令勿泄氣，火燒三日，出火破團各搗篩，然後與蚯蚓屎鹵土各二兩，以醋和如稠粥，塗瓦盆中，無鹵土以鹽代之，指迷方中六一泥法，亦可參用。</p>
<h4>鐵彈丸</h4>
<p>治一切癱瘓風。</p>
<p>乳香（以乳缽坐水盆中研）　沒藥（各一兩）　五靈脂（揀如鼠屎者，四兩）</p>
<p>上先將乳香、沒藥於陰涼處，當風細研，更用研了麝香一錢，將下一味為細末，然後同前二味再碾令勻，滴水為丸，如彈子大。瓷合收，每服一粒，薄荷酒磨下，日三服。</p>
<h4>黑神丸</h4>
<p>草烏頭（不去皮，生用）　五靈脂（揀如鼠屎，各等分）</p>
<p>上為末，六月六日滴水為丸，如彈子大。四十歲以下分六服，病甚一丸分二服，薄荷酒磨下，覺微麻為度。</p>
<h4>定風餅子</h4>
<p>治風客陽經，邪傷腠理，背膂強直，口眼　斜，體熱惡寒，痰厥頭痛，肉　筋惕，辛鼻淵，及酒飲過多，嘔吐涎沫，頭目眩暈，如坐車船。常服解五邪傷寒，辟霧露瘴氣，爽慧神志，諸風不生。</p>
<p>天麻　川烏（去皮尖）　南星　半夏　川薑　川芎　白茯苓　甘草（各等分，並生）</p>
<p>上細末，生薑汁為丸，如龍眼大作餅子，生朱為衣。每服一餅，細嚼，熱生薑湯下，不拘時候，熙豐間王丞相常服，預防風疾神驗。</p>
<h4>茯神散</h4>
<p>治膽虛冷，目眩頭疼，心神恐畏，不能獨處，胸中滿悶。</p>
<p>茯神（一兩，去木）　遠志（去心）　防風（去釵股）　細辛（去葉）　白朮　前胡（去苗，洗）</p>
<p>曝，焙乾，秤，各三分）　枳殼（半兩，去穰，麩炒黃）</p>
<p>上為細末。每服三錢，水一盞，生薑三片，同煎至六分，溫服，不拘老幼皆宜服。</p>
<h4>鱉甲丸</h4>
<p>治膽虛不得眠，四肢無力。</p>
<p>鱉甲（淡醋煮，去裙膜，洗，酸醋炙黃，秤）　酸棗仁（微炒，去皮，研）　羌活（去蘆）</p>
<p>黃（蜜水塗，炙）　牛膝（浸酒，水洗，焙乾）　人參（去蘆）　五味子（揀，各等分）</p>
<p>上為細末，煉蜜杵，丸如梧子大。每服三四十丸，溫酒下。</p>
<h4>補膽防風湯</h4>
<p>治膽虛目暗，喉痛唾數，眼目眩冒，五色所障，夢見被人訟，恐懼，面色變青。</p>
<p>茯神（去木）　獨活（黃色如鬼眼者，去蘆，洗，焙，秤）　前胡（各八分，去苗，淨洗）</p>
<p>上為粗末。每服四大錢，水一盞半，棗二個，煎至八分去滓，食前服。</p>
<h4>人參散</h4>
<p>治膽虛常多畏恐，不能獨臥，如人捕狀，頭目不利。</p>
<p>人參（去蘆）　枳殼（去穰，細切，麩炒黃）　五味子（揀）　桂心（不見火，各三分）</p>
<p>柏子仁（研）　熟乾地黃（酒洒，九蒸九曝，焙乾，各一兩）　山茱萸（連核）　甘菊花（去萼梗）　茯神（去木）　枸杞子（各三分）</p>
<p>上為細末。每服二錢，溫酒調服。</p>
<h4>醒後頭虛暈發熱方</h4>
<p>治肝厥狀如癇疾，不醒，嘔吐。</p>
<p>麻黃（去根節）　鉤藤（取皮）　石膏（雪白硬者，不　）　干葛　半夏曲　柴胡（去苗，洗）</p>
<p>上為粗末。每服四錢，水一盞半，生薑三片，棗一個，同煎至八分，去滓溫服。</p>
<h2>卷外</h2>
<p>灸中風口眼　斜不正者。（家藏方）</p>
<p>上於耳垂下麥粒大灸三壯，左引右灸，右引左灸。</p>
<p>防風散　治頭目不清，神志不爽，常服去風明目。</p>
<p>防風（去蘆頭）　川芎　香白芷　甘菊花　甘草（炙）</p>
<p>上各等分，為細末。每服二錢，荊芥湯調下，食後。</p>
<p>烏香散　治陽虛上攻，頭項俱痛不可忍者。</p>
<p>細辛（去葉土）　新茶芽（炒）　草烏頭（大者，去皮尖，炮裂，切如麻豆大，碎，鹽炒，各等分）</p>
<p>上件　咀。每服二錢，入麝香末半錢，水一盞半，煎至八分，去滓溫服，不拘時候。（</p>
<p>《海上方》茶芽四兩，細辛、草烏各二兩，或為細末，每服一大錢，茶清調下，臨臥或食後</p>
<h2>卷第二</h2>
<h3>心小腸脾胃病</h3>
<h4>遠志丸</h4>
<p>治因驚語言顛錯，不能服溫藥。</p>
<p>遠志（去心，洗，銼，炒令黃色）　南星　白附子（炮，微黃）　白茯苓（去皮）　人參（去蘆）　酸棗仁（微炒，去皮研，各半兩）　金箔（五片）　朱砂（水飛，半兩，入麝香少許同研）</p>
<p>上為細末，煉蜜丸如梧子大，朱砂為衣。每服三十丸，薄荷湯下，食後臨臥服。</p>
<h4>茯神散</h4>
<p>茯神（去木）　熟乾地黃（酒洒，九蒸九曝，焙乾，秤）　白芍藥　川芎　當歸（洗去蘆，薄切，焙乾）　白茯苓（去皮）　桔梗（炒）　遠志（去心，洗，銼，炒令黃色）　人參（去蘆，以上各一兩）</p>
<p>上為細末。每服二錢，水一盞，燈心棗同煎至七分，不拘時候。</p>
<p>宋明遠教授之母，七十四歲。因戎馬驚疾如上證，服此二方得力。</p>
<h4>寧志膏</h4>
<p>人參（去蘆，一兩）　酸棗仁（微炒，去皮，研，一兩）　辰砂（水飛，半兩）　乳香（一分，以乳缽坐水盆中，研）</p>
<p>上為細末，煉蜜和杵，丸如彈子大。每服一粒，薄荷湯化下。</p>
<p>予族弟婦，緣兵火失心，制此方與之，服二十粒愈。親識多傳去，服之皆驗。</p>
<h4>驚氣丸</h4>
<p>治驚憂積氣，心受風邪，發則牙關緊急，涎潮昏塞，醒則精神若痴。</p>
<p>附子（炮，去皮臍）　南木香　白僵蠶（去絲嘴，炒）　花蛇（酒浸，去皮、骨，炙）　橘紅南星（洗浸，薄切片，薑汁浸一夕，半兩）　朱砂（水飛一分，留少許作衣）</p>
<p>上為末，入研腦麝少許，同研極勻，煉蜜杵，丸如龍眼大。每服一粒，金銀薄荷湯化下，溫酒亦得。</p>
<p>此予家秘方也。戊申年，軍中一人犯法，褫衣將受刃，得釋，神失如痴，予與一粒，服訖而寐，及覺，病已失矣。江東提轄張載揚，其妻因避寇，失心已數年，予授此方，不終劑而愈。又黃山沃巡檢彥，其妻狂厥者逾年，更十余醫而不驗，予授此方，去附子加鐵粉，亦不終劑而愈。鐵粉非但化涎鎮心，至如摧抑肝邪特異，若多恚怒，肝邪太盛，鐵粉能制伏之。《素問》言：陽厥狂怒，治以鐵落飲，金制木之意也，此亦前人未嘗論及。</p>
<h4>辰砂遠志丸</h4>
<p>安神鎮心，治驚悸，消風痰，止頭眩。</p>
<p>石菖蒲（去須，洗）　遠志（去心，洗，銼，炒令黃色）　人參（去蘆）　茯神（去木）</p>
<p>川芎附子（生，各一兩）　細辛（去葉）　辰砂（水飛，各半兩）</p>
<p>上為細末，生薑五兩，取汁，入水煮糊，丸如綠豆大，別以朱砂為衣，干之。每服三五十粒，夜臥生薑湯送下，小兒減丸服。</p>
<h4>茯苓丸</h4>
<p>辰砂（水飛）　石菖蒲（去須，洗）　人參（去蘆）　遠志（去心，洗，銼，炒令黃色）</p>
<p>茯神（去木）　白茯苓（去木）　真鐵粉　半夏曲　南星（羊膽制，各等分）</p>
<p>上為細末，生薑四兩，取汁，和水煮糊，丸如梧子大，別用朱砂為衣，干之。每服十粒，加至三十粒，夜臥生薑湯下。上二方，醫官都君，予常用以療心疾，良驗。</p>
<h4>火府丹</h4>
<p>治心經熱，小便澀，及治五淋。</p>
<p>生乾地黃（二兩）　木通（削去粗皮，銼，研細末，秤入）　黃芩（去皮，各一兩）</p>
<p>上為細末，煉蜜杵，丸梧子大。每服三十粒，木通煎湯下。此藥治淋澀臍下滿痛。</p>
<p>壬戌年，一卒病渴，日飲斛水，不食者三月，心中煩悶，時已十月，予謂必心經有伏熱，與此丹數服，五十粒，溫水下。越二日，不覺來謝，云：當日三服渴止，又次日三服，飲食如故。此本治淋，用以治渴，信知用藥要在變通也。</p>
<h4>七珍散</h4>
<p>開胃養氣進食。</p>
<p>人參（去蘆）　白朮　黃　（蜜水塗，炙）　山芋　白茯苓（去皮）　粟米（微炒）　甘草（各一兩，炙）</p>
<p>上為細末。每服二錢，水一盞，薑棗同煎，至七分。如大故不思飲食，加白扁豆一兩蒸用，名八珍散。</p>
<p>予制此方，溫平不熱，每有傷寒瘧疾中暑，得瘥之後，用此以調脾胃，日三四服，十日外飲食倍常。</p>
<h4>曲術丸</h4>
<p>治脾元久虛，不進飲食，停飲脅痛。</p>
<p>神麯（十兩，微炒）　白朮（五兩）　乾薑（炮）　官桂（去粗皮，不見火，各三兩）　吳茱萸（湯浸七次，焙）　川椒（去目並合口，微炒，地上出汗，各二兩）</p>
<p>上為細末，薄糊丸如梧子大。每服三五十丸，生薑湯下，食前稍空腹。有飲，加半夏曲二兩。癸亥中，予作數劑自服，飲食倍進。</p>
<h4>白朮湯</h4>
<p>和氣調中進食。</p>
<p>白朮　厚朴（去粗皮，生薑汁炙）　桂心（不見火）　桔梗（炒）　乾薑（炮）　人參（去蘆）</p>
<p>當歸（洗去蘆，薄切，焙乾）　茯苓（去皮）　甘草（炙，以上各等分）</p>
<p>上為粗末。每服四錢，水一盞半，棗二個，同煎至八分去滓，不拘時候。龐老方。</p>
<h4>二神丸</h4>
<p>治脾腎虛弱，全不進食。</p>
<p>破故紙（四兩，炒香）　肉豆蔻（二兩，生）</p>
<p>上為細末，用大肥棗四十九個，生薑四兩，切片同煮，棗爛去薑，取棗剝去皮核用肉，研為膏，入藥和杵，丸如梧子大。每服三十丸，鹽湯下。</p>
<p>有人全不進食，服補脾藥皆不驗，予授此方，服之欣然能食，此病不可全作脾虛。蓋因腎氣怯弱，真元衰劣，自是不能消化飲食，譬如鼎釜之中，置諸米穀，下無火力，雖終日米不熟，其何能化？黃魯直嘗記服菟絲子，淨淘酒浸曝乾，日抄數匙以酒下，十日外飲啖如湯沃雪，亦知此理也。</p>
<h4>溫脾散</h4>
<p>舶上茴香（炒香）　青皮（去皮）　陳艾　縮砂仁　桔梗（炒）　香白芷（不見火）　厚朴（去粗皮，生薑汁炙，各一兩）　木香　白朮　香附子（麩炒，舂去皮，各半兩）　甘草（一兩半，炙）　紅豆　良薑　麥　干葛（各三兩）</p>
<p>上為細末。每服一錢，水一盞半，棗一個，煎至七分，食前溫服。</p>
<h3>肺腎經病</h3>
<h4>棗膏丸</h4>
<p>肺之積名曰息賁，在右脅下大如杯，令人洒淅寒熱，喘嗽，發癰疽。</p>
<p>葶藶（去蘆，隔紙炒香）　陳橘皮（去白）　桔梗（炒，各等分）</p>
<p>上先以下二味為末，入葶藶研勻，煮肥棗肉和丸，如梧子大。每服五七丸，飲下。予嘗患停飲，久積肺經，食已必嚏，漸喘覺肺系急，服此良驗。</p>
<h4>五味子丸</h4>
<p>平肺氣補虛消飲。</p>
<p>五味子（揀，二兩）　桂心（不見火）　大杏仁（北來者，去皮尖，微炒）　青皮（去白）　細辛（去葉）　人參（去蘆）　檳榔（煨，各一兩）　乾薑（炮）　附子（炮，去皮臍，各半兩）</p>
<p>上為細末，煉蜜丸如梧子大。每服三四十丸，酒或湯下，空心食前日三服。</p>
<h4>葶藶丸</h4>
<p>定喘急肺積。</p>
<p>苦葶藶（一兩一分，隔紙炒香）　當歸（洗去蘆，薄切，焙乾）　肉桂（去粗皮，不見火）</p>
<p>白蒺藜（去角炒）　乾薑（炮）　川烏頭（炮去皮尖）　吳茱萸（湯浸，焙七次）　大杏仁（去皮尖，微炒）　鱉甲（淡醋煮去裙膜，淨洗，酸醋炙黃）　茯苓（去皮）　人參（去蘆，各半兩）</p>
<p>檳榔（一兩）</p>
<p>上為細末，煮棗肉和杵，丸如梧子大。每服二三十丸，薑棗湯下，日三四服，不拘時候。</p>
<h4>紫金丹</h4>
<p>治多年肺氣喘急，咳嗽晨夕不得眠。</p>
<p>信砒（一錢半，研，飛如粉）　豆豉（好者，一兩半，水略潤少時，以紙　干，研成膏）</p>
<p>上用膏子和砒同杵極勻，丸如麻子大。每服十五丸，小兒量大小與之，並用臘茶清極冷吞下，臨臥以知為度。</p>
<p>有一親表婦人，患十年，遍求醫者皆不效，忽有一道人貨此藥，謾贈一服，是夜減半。</p>
<p>數服頓愈，遂多金丐得此方。予屢用以救人，恃為神異。</p>
<h4>細辛湯</h4>
<p>治肺虛實不調，鼻塞多涕，咽中有涎而喘，項強筋急或痛。</p>
<p>細辛（去葉）　半夏曲　茯苓（去皮）　桔梗（炒，各四錢）　桂枝（去皮，不見火，三錢）</p>
<p>甘草（二錢，炙）</p>
<p>上為粗末。每服四錢，水二盞，生薑四片，蜜半匙，同煎至七分，溫服，日三服。</p>
<h4>升麻湯</h4>
<p>治肺癰吐膿血作臭氣，胸乳皆痛。</p>
<p>川升麻　桔梗（炒）　薏苡仁　地榆　牡丹皮　芍藥　子芩（刮去皮，各半兩）　甘草（三分，炙）</p>
<p>上銼粗末。每服一兩，水一升半，煎至五合去滓，日二三服。</p>
<h4>五靈丸</h4>
<p>治肺喘久而成息賁。</p>
<p>五靈脂（揀如鼠屎者，二兩半）　木香（半兩）　馬兜鈴（去殼，炒，一分）　葶藶（苦者，隔紙炒香，一分）</p>
<p>上為細末，棗肉和丸如梧子大。每服二十丸，生薑湯下，日三服。</p>
<p>脾惡濕，腎惡燥，如硫黃附子鐘乳煉丹之類，皆剛劑，用之人以助陽補接真氣則可，若云補腎，則正腎所惡者。古人制方益腎，皆滋潤之藥。故仲景八味丸，本謂之腎氣丸，以地黃為主，又如腎瀝湯之類，皆正補腎經也。近世盛行香茸丸可補腎經，亦有數方具於後，腎瀝湯具下版。</p>
<p>道人深師增損腎瀝湯，治風虛勞損挾毒，腳弱疼痹或不隨；下焦虛冷，胸中微有客熱，心服無不瘥，隨宜增損之方。</p>
<p>黃　（蜜炙）　肉蓯蓉（洗，酒浸，焙乾，秤）　赤石脂　地骨白皮（去心）　磁石（久，醋淬八九次）　枳實（去穰，麩炒，銼）　防風（去釵股）　龍骨（黏舌者）　芍藥　麥門冬（水去心，焙，秤）　人參（去蘆）　熟乾地黃（九蒸九曝乾，秤）　茯神（去木）　當歸（水洗，酒浸一宿，切，焙）　甘草（炙）　遠志（去心，洗，銼，炒黃色，各一兩）　桂心（去皮，不見火）芎　（各二兩）　生薑（四兩）　五味子（揀，三兩）　半夏（一升，湯洗七次，去滑）</p>
<p>白羊腎（一具）　大棗（三十個，去核，《胡洽方》無黃　以下八味並半夏，有黃芩為十五味）</p>
<p>上二十三味，　咀。以水二斛煮羊腎，取汁一斛二升，納諸藥煮取四升，分為五服。不利下者，除龍骨、赤石脂；小便澀，以赤茯苓代茯神，加白朮三兩；多熱，加黃芩一兩；遺溺，加桑螵蛸二十枚。</p>
<h4>蔡太師所服香茸丸</h4>
<p>鹿茸（酥炙黃，燎去毛）　熟乾地黃（酒洒，九蒸九曝，焙乾，秤，各二兩）　蓯蓉（酒浸，水洗，焙乾）　破故紙（炒香）　附子（炮，去皮臍）　當歸（洗去蘆，薄切，焙乾秤，各一兩）麝香（一錢）　沉香（半兩）</p>
<p>上為末，入麝研勻，煉蜜杵，丸如梧子大。每服三五十丸，空心用鹽湯下。</p>
<p>又方鹿茸（二兩，酥炙黃，燎去毛）　沉香　白芍藥　人參（去蘆）　熟乾地黃（酒洒，九蒸九曝，焙乾，秤）　蓯蓉（酒浸，水洗，焙乾）　牛膝（酒浸，水洗，焙乾）　澤瀉　大附子（炮，去皮臍）　當歸（洗去蘆，薄切，焙乾，秤，各一兩）　生乾地黃（一兩）　麝香（一錢）</p>
<p>上為細末，酒糊丸如梧子大。每服五十丸，鹽酒鹽湯下。</p>
<p>又方熟乾地黃（酒洒，九蒸九曝，焙乾，秤，五兩）　菟絲子（四兩，酒浸，曝乾，用紙條子同碾，別末）　鹿茸（三兩，酥炙黃，燎去毛）　附子（二兩，炮，去皮臍）　沉香（一兩）</p>
<p>上為細末，入麝香半錢，煉蜜杵，丸如梧子大。每服三十丸至五十丸，鹽酒或鹽湯下。</p>
<h4>椒附散</h4>
<p>治腎氣上攻，項背不能轉側。</p>
<p>大附子（一枚，六錢以上者，炮，去皮臍，末之）</p>
<p>上每末二大錢，好川椒二十粒，用白面填滿，水一盞半，生薑七片，同煎至七分，去椒入鹽，通口空心服。一親患項筋痛，連及背胛不可轉，服諸風藥皆不效。予嘗憶千金髓有腎氣攻背項強一證，予處此方與之，兩服頓瘥。自爾與人皆有驗。蓋腎氣自腰夾脊上至曹　穴，然後入泥丸宮。曹　一穴，非精於般運者不能透，今逆行至此不得通，用椒以引歸經則安矣。蕭氣上達，椒下達。詩言：椒聊且，貽我握椒。皆是此意也。</p>
<p>曹　穴，即風府穴是也，在項發際上一寸大筋內宛宛中。治頭痛頸項急，不得回顧，針入三分，禁不可灸，不幸使人失音。道家般運有夾脊雙關圖，令精氣逆流，朝會於泥丸宮，泥丸即頂心是也，名百會穴，是第一。</p>
<h4>麋茸丸</h4>
<p>治腎經虛，腰不能轉側。</p>
<p>麋茸（一兩，酥炙黃，燎去毛，無即以鹿茸代）　舶上茴香（半兩，炒香）　菟絲子（酒浸，曝乾，用紙條子同碾，取末，一兩）</p>
<p>上為末，以羊腎二對法酒煮爛去膜，研如泥，和丸如梧子大，陰乾，如腎膏少，入酒糊佐之。每服三五十丸，溫酒鹽湯下。</p>
<p>戊戌年八月，淮南大水，城下浸灌者連月，予忽臟腑不調，腹中如水吼數日，調治得愈。自此腰痛不可屈折，雖頰面亦相妨，服遍藥不效，如是凡三月。予後思之，此必水氣陰盛，腎經感此而得，乃灸腎　三七壯，服此藥瘥。</p>
<p>腎　二穴，在第十四椎下兩旁相去各一寸五分，與臍平。治虛勞羸瘦，耳聾，腎虛，水臟久冷，心腹膨脹，兩脅滿引，少腹急痛，目視KT　KT　，少氣溺血，小便濁出精，陰中疼，五勞七傷虛憊，腳膝拘急，足寒如冰，頭重身熱振栗，腰中四肢淫濼，洞泄食不化，身腫如水，灸以年為壯。（《針灸經》云：針入三分，留七呼，灸三壯）</p>
<h4>地黃丸</h4>
<p>治腎虛或時腳腫，兼治脾元。</p>
<p>熟地黃（酒洒，九蒸九曝，焙乾，秤，二兩半）　肉蓯蓉（酒浸，水洗，焙乾）　白茯苓（去皮）　澤瀉（各三兩）　桂枝（不見火）　附子（炮，去皮臍，各半兩）　五味子（三兩，揀）</p>
<p>黃（獨莖者，蜜水塗，炙，一兩）</p>
<p>上為細末，煉蜜杵，丸如梧子大。每服四十丸至五十丸，空心酒下，食前再服。</p>
<h4>青鹽丸</h4>
<p>治腎虛及足膝無力。</p>
<p>茴香（三兩，炒香）　菟絲子（四兩）　干山藥（二兩）　青鹽（一兩）</p>
<p>上將菟絲子洗淘，無灰酒浸，日中煎七日，冬天近火煨之，曝乾別末，將余藥末和勻，酒糊丸如梧子大。每服三五十丸，鹽酒鹽湯下。予頃常服數年，壯力進食。有一婦人足　曳，因服此藥，久之履地如故。</p>
<h3>補益虛勞方</h3>
<h4>五味子丸</h4>
<p>治肝腎俱虛，收斂精氣，補真戢陽，充悅肌膚，進美飲食。</p>
<p>五味子（揀）　川巴戟（酒浸，去心）　肉蓯蓉（酒浸，水洗，焙乾）　人參（去蘆）　菟絲子（酒浸，曝乾，用紙條子同碾，為末）　熟地黃（酒洒，九蒸九曝，焙乾，秤）　覆盆子　白朮益智仁（炒）　土茴香（炒香）　骨碎補（洗去毛）　白龍骨　牡蠣（鹽泥固濟干，火燒通赤，去泥用，以上各等分）</p>
<p>上為細末，煉蜜杵，丸如梧子大，焙乾。每服三十丸，空心食前米飲下，日二三服。</p>
<h4>人參丸</h4>
<p>此藥補精氣止汗。平補五臟虛羸，六腑怯弱，充肌膚進飲食。</p>
<p>人參（去蘆）　山芋　白朮　白茯苓（去皮）　石斛（去根，淨，洗，細銼，酒炒）　黃（蜜水塗，炙，取頭末）　五味子（揀，各一兩）</p>
<p>上為細末，煉蜜丸如梧子大。每服三十丸，空心食前飲下，久服不熱，尤宜少年。</p>
<h4>雙和散</h4>
<p>補血益氣，治虛勞少力。</p>
<p>黃　（蜜塗，炙）　熟地黃（酒洒，九蒸九曝，焙乾，秤）　當歸（洗去蘆，薄切，焙乾）</p>
<p>川芎（各一兩）　白芍藥（二兩半）　官桂（去粗皮，不見火）　甘草（炙，各三分）</p>
<p>上為粗末。每服四大錢，水一盞半，生薑三片，肥棗一個，煎至八分，去滓服。予制此方，只是建中四物二方而已，每傷寒瘧疾中暑大疾之後，虛勞氣乏者，以此調治皆驗，不熱不冷，溫而有補。</p>
<h4>黑錫丸</h4>
<p><u>此丹陽慈濟真方</u></p>
<p>黑鉛　硫黃（各三兩，謂如硫黃與黑鉛各用三兩，即以黑鉛約八兩，銚內熔化去滓，苴淨羅取火（微炒）</p>
<p>香沉香（各半兩）</p>
<p>上將砂子研細，余藥末研勻入碾，自朝至暮，以黑光色為度，酒糊丸如梧子大，陰乾，布袋內　令光瑩。如丈夫元臟虛冷，真陽不固，三焦不和，上熱下冷，夜夢交合，覺來盜汗，面無精光，肌體燥澀，耳內虛鳴，腰背疼痛，心氣虛乏，精神不寧，飲食無味，日漸瘦悴，膀胱久冷，夜多小便；婦人月事愆期，血海久冷，惡露不止，赤白帶下，及陰毒傷寒，面青舌卷，陰縮難言，四肢厥冷，不省人事，急用棗湯吞一二百丸，即便回陽，命無不活。但是一切冷疾，鹽酒鹽湯空心吞下三四十丸，婦人艾醋湯下。此藥大能調治榮衛，升降陰陽，安</p>
<h4>石斛散</h4>
<p>治虛勞羸瘦乏力可食，倦怠多驚畏。</p>
<p>石斛（四錢，去根，淨洗，細銼，酒炒）　牛膝（酒浸，水洗，焙乾）　柏子仁（去皮，研）</p>
<p>香熟）　肉蓯蓉（酒浸，水洗，焙乾）　訶子肉（炮）　青橘皮　柴胡（去苗，淨洗）　人參（去蘆）　熟地黃（酒洒，九蒸九曝，焙乾，秤，各三錢）　茯苓（四錢，去皮）　甘草（二錢，炙）　乾薑（一錢，半炮）　神麯（碎炒）　麥　（各六錢）</p>
<p>上為細末。每服二錢，米飲調下，食前日二三服。</p>
<h4>八仙丹</h4>
<p>治虛損，補精髓，壯筋骨，益心智，安魂魄，令人悅澤，駐顏輕身，延年益壽，閉固天癸。</p>
<p>伏火朱砂　真磁石　赤石脂　代赭石　石中黃　禹餘糧（五味並火　，醋碎）　乳香（乳缽坐水盆中，研）　沒藥（各一兩）</p>
<p>上為細末，勻研極細，糯米濃飲丸如梧子大，或如豆大。每服一粒，空心鹽湯下。有人年幾七旬，夢漏羸弱，氣　然，虛損，得此方服之，頓爾強壯，精氣閉固，飲食如舊。予常制自服，良驗。</p>
<h3>頭痛頭暈方</h3>
<h4>川芎散</h4>
<p>治風眩頭暈。</p>
<p>山茱萸（一兩）　山蕷　甘菊花（去萼梗）　人參（去蘆）　茯神（去木）　小川芎（各半兩）</p>
<p>上細末。每服二錢，酒調下，不拘時候，日三服，不可誤用野菊。（龐先生方）</p>
<h4>鉤藤散</h4>
<p>治肝厥頭暈，清頭目。</p>
<p>鉤藤　陳皮（去白）　半夏（湯浸洗七遍，薄切，焙乾）　麥門冬（略用水　去心）　茯苓（去皮）　茯神（去木）　人參（去蘆）　甘菊花（去萼梗）　防風（去釵股，各半兩）　甘草（一分，炙）　石膏（一兩，生）</p>
<p>上為粗末。每服四錢，水一盞半，生薑七片，煎八分，去滓，溫服。</p>
<h4>玉真丸</h4>
<p>治腎氣不足，氣逆上行，頭痛不可忍，謂之腎厥，其脈舉之則弦，按之石堅。</p>
<p>硫黃（二兩）　石膏（硬者不　，研）　半夏（湯浸洗七次，各一兩）　硝石（一分，研）</p>
<p>上為細末，研勻，生薑汁糊丸如梧子大，陰乾。每服三十丸，薑湯或米飲下，更灸關元穴百壯，良方中硫黃丸亦佳。</p>
<p>關元穴，在臍下三寸，小腸之募，脾經肝經腎經三陰之會，又名下紀。治臍下　痛，小便赤澀，不覺遺瀝，或小便處痛如散火狀，或溺血暴疝痛，臍下結血，狀如覆杯，轉胞不得尿，婦人帶下瘕聚，因產惡露不止，月脈斷絕，下脛冷，可灸三百壯。</p>
<h4>硫黃丸</h4>
<p>治頭痛。（沈存中方）</p>
<p>硫黃（二兩，研細）　硝石（一兩）</p>
<p>上水丸如指頭大。空心臘茶嚼下。</p>
<p>予中表兄，病頭風二十余年，每發頭痛如破，數日不食，百方不能療，醫田滋見之，曰：老母病此數十年，得一藥遂愈。就求之，得十丸，日服一枚。十余日，滋復來，云：頭痛平日食何物即發？答云：最苦飲酒食魚。滋取魚酒令恣食。云：服此藥十枚，豈復有頭痛耶？如其言食之，竟不發，自此遂瘥。予與滋相識數歲，臨別以此方見遺。陳州懷醫有此藥丸，如梧桐子大，每服十五丸，著臘懵冒者冰冷水服，下咽即豁然清爽，傷冷即以沸艾湯下。</p>
<p>《素問》云：頭痛巔疾，下虛上實，過在足少陰巨陽，甚則入腎，徇蒙招搖，目瞑耳聾；下實上虛，過在足少陽厥陰，甚則入肝，下虛者腎虛也。故腎厥則頭痛，上虛者肝虛也，故肝厥則頭暈。徇蒙者，如以物蒙其首，招搖不定，目眩耳聾，皆暈之狀也。故肝厥頭暈，腎厥巔痛不同如此，治肝厥，鉤藤散在前。</p>
<h3>治氣虛頭疼。</h3>
<p>大附子一個，剜去心，全蠍二個，入在內，以取附子末，同鐘乳一分，面少許水和裹炮熟，都碾為末，以焦黃為度，蔥茶調下一錢或半錢。</p>
<p>又方大川芎（二個，銼作四片）　大附子（一個，和皮生為末）</p>
<p>上以水和附子末如面劑，裹川芎作四處，如附子末少，入面少許，裹畢，以針穿數孔子，用真腦麝熏有穴處，內香再捻合穴子，如未覺內有香，即再熏一炷，細羅灰用銚子內熱灰炮熟末之。每服半錢，蔥茶調下，不拘時候。上泗醫楊吉老二方，神良。</p>
<p>又方好川芎半兩為末，每服二錢，臘茶清調下，甚捷。曾有婦人產後頭痛，一服愈。</p>
<h4>白芷丸</h4>
<p>治氣虛頭暈。</p>
<p>白芷（不見火）　石斛（去根，淨洗，細銼，酒炒）　乾薑（炮，各一兩半）　細辛（去葉）</p>
<p>五味子（揀）　厚朴（薑汁炙）　茯苓（去皮）　肉桂（去粗皮，不見火）　防風（去釵股）</p>
<p>甘草（炙）　陳皮（各一兩，去白）　白朮（一兩一分）</p>
<p>上為細末，煉蜜丸如梧子大。每服三十丸，清米飲下，不飢不飽服。</p>
<p>鄉人邵致遠，年八十有三，有此疾，得此方，數服即愈。渠云楊吉老傳。</p>
<h4>白附子散</h4>
<p>治風寒客於頭中，偏痛無時，久之牽引兩目，遂致失明。</p>
<p>白附子（一兩，炮）　麻黃（不去節）　川烏（炮去皮尖）　南星（各半兩，炮）　全蠍（五個，去毒）　乾薑（炮）　朱砂（水飛）　麝香（各一分）</p>
<p>上為細末。酒調一字服之，去枕少時，此方見必用方。</p>
<p>庚寅年，一族人患頭痛不可忍，一服即瘥。</p>
<h4>羚羊角散</h4>
<p>治一切頭旋，本因體虛風邪乘於陽經，上注於頭面，遂入於腦，亦因痰水在於胸膈之上，犯大寒使陽氣不行，痰水結聚，上衝於頭目，令頭旋。</p>
<p>羚羊角（鎊）　茯神（去木，各一兩）　芎　防風（去釵股）　半夏（湯洗七次）　白芷（不見火）　甘草（炙，各半兩）　枳殼（去穰，細銼，麩炒）　附子（炮，去皮臍，各三分）</p>
<p>上為粗末。每服四錢，水一盞半，生薑半分，漫火煎至七分，去滓，不拘時候溫服。</p>
<h4>養正丹</h4>
<p>治虛風頭旋，吐涎不已。</p>
<p>黑鉛　水銀　舶上硫黃（水飛）　朱砂（各一兩，水飛）</p>
<p>上用建盞一只，火上熔鉛成汁，次下水銀，用柳枝子打勻，取下放少時，下二味末打勻令冷，取下研為粉，用米飲丸或用棗肉丸，如梧子大。每服三十粒，鹽湯下。此藥升降陰陽，補接真氣，非止頭旋而已。</p>
<h4>黑龍丸</h4>
<p>治一切中風頭疼。</p>
<p>天南星　川烏（各半斤，黑豆熏三次）　石膏（半斤）　麻黃（去根節）　干薄荷（各四兩）</p>
<p>本（去蘆，洗）　白芷（不見火，各二兩）　京墨（一兩半）</p>
<p>上為細末，煉蜜杵，丸如彈子大。每服一丸，薄荷茶湯嚼下。</p>
<h2>卷第三</h2>
<h3>風寒濕痹白虎歷節走注諸病</h3>
<h4>續斷丸</h4>
<p>治風濕四肢浮腫，肌肉麻痹，甚則手足無力，筋脈緩急。（都君予方）</p>
<p>川續斷（洗，推去節，銼，焙）　萆　當歸（洗去蘆，薄切，微炒）　附子（焙，去皮臍）</p>
<p>芎（三分）</p>
<p>上為細末，煉蜜丸如梧桐子大。每服三四十丸，酒或飲下，空心食前。</p>
<h4>增損續斷丸</h4>
<p>治榮衛澀少，寒濕從之痹滯，關節不利而痛者。（楊吉老方）</p>
<p>川續斷（洗，推去，焙筋，銼）　薏苡仁　牡丹皮　山芋　桂皮）</p>
<p>黃（蜜炙）　山茱萸（連核）　石斛（去根，淨洗，細銼，各一兩）　乾地黃（九蒸九曝，焙乾，秤，三兩）　人參（去蘆）</p>
<p>鹿角膠（各七錢）</p>
<p>上為細末，煉蜜丸如梧子大。每服三四十丸，溫酒下，空心食前。</p>
<h4>川烏粥法</h4>
<p>治風寒濕痹，麻木不仁。</p>
<p>川烏（生，去皮尖，為末）</p>
<p>上用香熟白米作粥半碗，藥末四錢，同米用漫火熬熟，稀薄，不要稠，下薑汁一茶腳許，蜜三大匙，攪勻，空腹啜之，溫為佳。如是中濕，更入薏苡仁末二錢，增米作一中碗服。</p>
<p>此粥大治手足四肢不隨，痛重不能舉者，有此證預服防之。左氏云：風淫末疾。謂四肢為四末也，脾主四肢，風邪客於肝則淫脾，脾為肝克，故疾在末。穀氣引風濕之藥，徑入脾經，故四肢得安，比陽劑極有力。予常制此方以授人，服者良驗。</p>
<p>治濕傷腎，腎不養肝，肝自生風，遂成風濕，流注四肢筋骨，或入在肩　，肌肉疾痛，漸入在指中，薏苡仁散。</p>
<p>薏苡仁（一兩）　當歸（洗去蘆，薄切，焙乾）　小川芎　乾薑（炮）　甘草（炙）　官桂（去粗皮，不見火）　川烏（炮，去皮尖）　防風（去釵股）　茵芋（去梗，銼，炒用）　人參（去蘆）</p>
<p>各半兩）</p>
<p>上為細末。每服二錢，空心臨臥酒調下，日三服。</p>
<h4>芎附散</h4>
<p>治五種痹，腿並臂間發作不定，此脾胃虛，衛氣不溫分肉，為風寒濕所著。</p>
<p>小川芎　附子（炮，去皮臍）　黃　（蜜炙）　白朮　防風（去釵股）　當歸（洗去蘆，薄切，焙乾）　熟乾地黃（酒洒，九蒸九曝，焙，秤）　桂心（不見火）　柴胡（去苗，淨洗）　甘草（炙，各等分）</p>
<p>上為粗末。每服四錢，水一盞半，生薑三片，棗一個，同煎至七分，去滓，食前日三服。常服不生壅熱，兼消積冷。</p>
<h4>麝香丸</h4>
<p>治白虎歷節，諸風疼痛，游走無定，狀如蟲嚙，晝靜夜劇，及一切手足不測疼痛。</p>
<p>川烏（大八角者三個，生）　全蠍（二十一個，生）　黑豆（二十一粒，生）　地龍（半兩，生）</p>
<p>上為細末，入麝香半字，同研勻，糯米糊為丸，如綠豆大。每服七丸，甚者十丸，夜臥令膈空，溫酒下，微出冷汗一身，便瘥。</p>
<p>予得此方，凡是歷節及不測疼痛，一二服便瘥。在歙川日，有一貴家婦人，遍身走注疼痛，至夜則發，如蟲嚙其肌，多作鬼邪治。予曰：此正歷節病也，三服愈。</p>
<h4>麻黃散</h4>
<p>歷節宜發汗。</p>
<p>麻黃（一兩一分，去根節）　羌活（一兩，去蘆）　黃芩（三分，去皮）　細辛（真華陰者去葉）　黃　（各半兩，蜜炙）</p>
<p>上為粗末。每服五錢，水二盞，煎至八分，去滓溫服，接續三四服，有汗畏風。</p>
<h4>茵芋丸</h4>
<p>治歷節腫滿疼痛。</p>
<p>茵芋（去梗，銼用）　朱砂（水飛）　薏苡仁（各一分）　牽牛子（一兩半）　郁李仁（半兩，去皮尖，微炒）</p>
<p>上為細末，煉蜜杵，丸如梧子大，輕粉袞為衣。每服十丸至十五丸至二十丸，五更初溫水下，到晚未利，可再一二服，快利為度，白粥將息。</p>
<h4>牛蒡子散</h4>
<p>治風熱成歷節，攻手指，作赤腫麻木，甚則攻肩背兩膝，遇暑熱或大便秘即作。</p>
<p>牛蒡子（三兩，隔紙炒）　新豆豉（炒）　羌活（各一兩，去蘆）　干生地黃（二兩半）</p>
<p>黃（一兩半，蜜炙）</p>
<p>上為細末。湯調二錢服，空心食前，日三服。此病多胸膈生痰，久則赤腫，附著肢節，久而不退，遂成厲風，此孫真人所預戒也，宜早治之。（厲風，即怒厲賊風傷於五臟也。《千金方》第八卷賊風第三篇中載皆云五臟虛寒，厲風所損，隨其病狀，各有灸治甚詳）</p>
<h4>蓖麻法</h4>
<p>治厲風手指攣曲，節間疼不可忍，漸至斷落。</p>
<p>蓖麻（去皮）　黃連（銼，如豆，各一兩）</p>
<p>上以小瓶子入水一升同浸，春夏三日，秋冬五日，後取蓖麻子一粒，擘破，面東以浸藥水吞下，平旦服，漸加至四五粒，微利不妨，水少更添，忌動風物，累用得效神良。</p>
<h4>柏葉散</h4>
<p>治厲風。</p>
<p>柏葉　麻黃（去根節）　山梔子（去皮）　枳殼（去穰，銼，麩炒）　羌活（去蘆）　羊肝石白蒺藜（炒，去角）　升麻　子芩（去皮）　防風（去釵股）　牛蒡子（隔紙炒）　荊芥穗　茺蔚子焙乾）</p>
<p>上為細末。每服二錢，溫水調下，日七八服。（龐老方）</p>
<h4>綠靈散</h4>
<p>治肺毒瘡，如大風疾。</p>
<p>用桑葉洗熟蒸日干為末。水調二錢服，日四五，無時。（出《經驗方》。）</p>
<h4>趁痛丸</h4>
<p>治走注歷節，諸風軟痛，卒中倒地，跌撲傷損。</p>
<p>草烏頭（三兩，不去皮尖）　熟地黃（酒洒，九蒸九曝，焙乾）　南星（炮）　半夏曲　白僵蠶（去絲、嘴）　烏藥（各半兩，並日干）</p>
<p>上為細末，酒糊丸如梧子大，日干。每服五七粒，空心夜臥溫酒下。如跌撲痛，用薑汁和酒研十數粒搽之；如卒中倒地，薑汁茶清研五六丸，灌下立醒。（大知禪師方。）</p>
<h4>烏頭丸</h4>
<p>治宿患風癬，遍身黑色，肌體如木，皮膚粗澀，及四肢麻痹，宜服烏頭丸。</p>
<p>草烏頭一斤，入竹籮子內以水浸，用瓦子於籮內，就水中瀧洗，如打菱角法，直候瀧洗去大皮及尖，控起令干，用麻油四兩，鹽四兩，入銚內炒令深黃色，傾出油，只留鹽並烏頭，再炒令黑色，煙出為度，取一枚劈破，心內如米一點白恰好也，如白多再炒，趁熱杵羅為末，用醋糊丸如梧子大，干之。每服三十丸，空心晚食前，溫酒下。</p>
<p>真州資福文雅白老，元　間有此疾，服數年，肌體黑　頓除，腳力強健，視聽不衰。</p>
<p>一宗人，遍身紫癜風，身如墨，服逾年，體悅澤，教予服之，亦得一年許，諸風疹瘡皆除，然性差熱，雖制去毒，要之五七日作烏豆粥啜之為佳。</p>
<p>烏豆粥。（載《豫章集》十九卷中）</p>
<h4>烏豆粥</h4>
<p>大烏豆一升，隔宿洗淨用七升水浸，明日入油一升，炭火　至晚，當糜爛，可煮三升米，極熟下豆，入白糖一斤和勻，入生薑棋子四兩，啜之。</p>
<h3>風痰停飲痰癖咳嗽</h3>
<h4>化痰丸</h4>
<p>治停痰宿飲。</p>
<p>半夏（湯洗七次，別末）　人參（去蘆）　白茯苓（去皮）　白朮　桔梗（切作小塊，薑汁浸，各一兩）　枳實（去穰，麩炒）　香附子（麩炒，舂去皮）　前胡（去苗，淨洗）　甘草（炙，各半兩）</p>
<p>上細末，用半夏薑汁煮糊丸如梧子大。每服三四十丸，薑湯下。</p>
<h4>三生丸</h4>
<p>治中脘風涎痰飲，眩瞑嘔吐酸水，頭疼惡心。</p>
<p>半夏（二兩）　南星　白附子（各一兩）</p>
<p>上並生為末，滴水丸如梧子大，以生面袞衣，陰乾。每服十丸至二十丸，生薑湯下。</p>
<h4>旋覆花湯</h4>
<p>治心腹中脘痰水冷氣，心下汪洋嘈雜，腸鳴多唾，口中清水自出，脅肋急脹，痛不欲食，此胃氣虛冷所致。其脈沉弦細遲。</p>
<p>旋覆花（揀去梗）　細辛（去葉）　橘皮（去白）　桂心（不見火）　人參（去蘆）　甘草（炙）</p>
<p>桔梗（炒）　白芍藥　半夏（湯洗七次，各半兩）　赤茯苓（三分，去皮）</p>
<p>上為粗末。每服四錢，水一盞半，生薑七片，煎至八分，去滓溫服。</p>
<h4>檳榔丸</h4>
<p>治心下停飲冷痰，頭目暈眩，睡臥口中多涎。</p>
<p>檳榔（三分）　丁香（一分，不見火）　半夏（湯洗七次，一兩）　細辛（去葉）　乾薑（炮）</p>
<p>人參（各半兩，去蘆）</p>
<p>上為細末，薑汁煮糊丸如梧子大。每服二三十丸，薑湯下，日三服。</p>
<h4>乾薑丸</h4>
<p>治酒癖停飲吐酸水。（《聖惠方》）</p>
<p>乾薑（炮）　葛根　枳殼（去穰，銼，麩炒）　橘紅　前胡（去苗，淨洗，各半兩）　白朮半夏曲（各一兩）　甘草（炙）　吳茱萸（湯泡七次，焙，各一分）</p>
<p>上為細末，煉蜜丸如梧子大。每服三十丸，用飲下。甲寅年服上二方有驗。</p>
<h4>芫花丸</h4>
<p>治積聚停飲，痰水生蟲，久則成反胃，及變為胃癰，其說在《靈樞》及《巢氏病源》。</p>
<p>芫花（醋製干，秤，一兩）　乾漆（炒令煙盡）　野狼牙根　桔梗（炒黃）　藜蘆（炒）　檳榔（各半兩）　巴豆（十個，炒微黑黃）</p>
<p>上為細末，醋糊丸如赤豆大。每服二三丸，加至五七丸，食前薑湯下。</p>
<p>第六卷《病能論》云：黃帝問曰：人病胃脘癰者，診當何如？岐伯對曰：診此者當得胃脈，其脈當沉細。沉細氣逆，逆者人迎甚盛，甚盛則熱。人迎者，胃脈也。逆而盛則熱聚於胃口而不行，故胃脘為癰也。</p>
<p>此方常服化痰消堅殺蟲。予患飲癖三十年，暮年多嘈雜，痰飲來潮即吐，有時急飲半杯即止，蓋合此證也。因讀《巢氏病源論》酒瘕云：飲酒多而食穀少，積久漸瘦，其病常思酒，不得酒則吐，多睡不復能食。是胃中有蟲使然，名為酒瘕。此藥治之，要之須禁酒即易治，不禁無益也。</p>
<p>《巢氏病源論》第十九卷論積聚　瘕中載：人之積聚　瘕，皆由飲食不節，臟腑虛弱而生，久則成形云。</p>
<p>昔曾有人共奴俱患鱉瘕，奴死後腹中得一白鱉，有人乘白馬來看此鱉，白馬遺尿，隨鱉上，鱉即縮頭及腳，尋以馬尿灌之，即化為水。其主曰：吾將瘥矣。即服之，果得瘥。</p>
<p>予生平有二疾，一則臟腑下血，二則膈中停飲，下血有時而止，停飲則無時。始因年少時夜坐為文，左向伏幾案，是以飲食多墜向左邊，中夜以後稍困乏，必飲兩三杯，既臥就枕，又向左邊側睡，氣壯盛時，殊不覺。三五年後，覺酒止從左邊下，漉漉有聲，脅痛，飲食殊減，十數日必嘔數升酸苦水，暑月只是右邊身有汗，　常潤，左邊病處絕燥，遍訪名醫及海上方服之，少有驗。間或中病，只得月余復作，其補則如天雄附子礬石，其利則如牽牛甘遂大戟，備嘗之矣。予後揣度之，已成癖囊，如潦水之有科臼，不盈科不行，水盈科而行也，清者可行，濁者依然停　，蓋下無路以決之也，是以積之五七日必嘔而去，稍寬數日復作。脾，土也，惡濕，而水則流濕，莫若燥脾以勝濕，崇土以填科臼，則疾當去矣。於是悉屏諸藥，一味服蒼朮，三月而疾除。自此一向服數年，不吐不嘔，胸膈寬，飲啖如故，暑月汗周身而身涼，飲亦當中下，前此飲漬其肝，目亦多昏眩，其後燈下能書細字，皆蒼朮之力也。其法蒼朮一斤，去皮切末之，用生油麻半兩，水二盞，研濾取汁，大棗十五枚，爛煮去皮核研，以麻汁勻研成稀膏，搜和入臼熟杵，丸梧子大，干之。每日空腹用鹽湯吞下五十丸，增至一百丸，二百丸，忌桃李雀鴿。初服時必膈微燥，且以茅朮制之，覺燥甚，進山梔散一服，久之不燥矣。予服半年以後，只用燥烈味極辛者，削去皮不浸極有力，亦自然不燥也。山梔散用山梔子一味，干之為末，沸湯點服。故知久坐不可伏向一邊，時或運動，亦消息之法。</p>
<h4>紫蘇散</h4>
<p>治肺感風寒作嗽。</p>
<p>紫蘇葉　桑白皮（洗淨，蜜塗，炙黃）　青皮（去白）　五味子（揀）　杏仁（去皮尖，炒）　麻黃（去節）　甘草（炙，各等分）</p>
<p>上細末。每服二錢，水一盞，煎至七分，溫服。</p>
<h4>訶子飲</h4>
<p>利膈去涎，思食止嗽。</p>
<p>訶子（煨去核）　青皮（去白）　麥門冬（水　去心，各半兩）　檳榔（四個）　半夏（三分，湯浸七次）　甘草（一分，炙）</p>
<p>上為粗末。每服四錢，水二盞，生薑七片，同煎至七分，去滓溫服，日二三服。</p>
<h4>貝母湯</h4>
<p>治諸嗽久不瘥。</p>
<p>貝母（一兩，去心，薑製半日，焙）　黃芩（生去皮）　乾薑（生，各一兩）　陳皮（去白）</p>
<p>五味子（各一兩，揀）　桑白皮（洗淨，蜜炙黃）　半夏（湯浸七次）　柴胡（去苗，淨洗）</p>
<p>桂心（不見火，各半兩）　木香（一分）　甘草（一分，炙）</p>
<p>上為粗末。每服五錢，水一盞半，杏仁七個，去皮尖碎之，生薑七片，同煎至七分，去滓熱服。黃師文云：戊申冬有姓蔣者，其妻積年嗽，制此方授之，一服瘥。以此治諸嗽，悉皆愈。</p>
<h3>積聚凝滯五噎膈氣</h3>
<p>大抵治積，或以所惡者攻之，以所喜者誘之，則易愈。如　砂、水銀治肉積；神麯麥　治酒積；水蛭、虻蟲治血積；木香、檳榔治氣積；牽牛、甘遂治水積；雄黃、膩粉治涎積；礞石、巴豆治食積，各從其類也。若用群隊之藥，分其勢則難取效。許嗣宗所謂譬猶獵不知兔，廣絡原野，冀一人獲之，朮亦疏矣。須是認得分明，是何積聚，然後增加用藥。</p>
<p>不爾，反有所損，嗣宗自謂不著書，在臨時變通也。</p>
<h4>纏金丹</h4>
<p>治五種積氣及五噎，胸膈不快，停痰宿飲。</p>
<p>木香　丁香　沉香　檳榔　官桂（去粗皮，不見火）　胡椒　砂（研）　白丁香（各一錢）</p>
<p>去沙石，日干）</p>
<p>上為細末，入二味研藥和勻，生薑汁煮糊丸如梧子大。每服三丸，生薑湯下，或干嚼蘿卜下。</p>
<h4>枳殼散</h4>
<p>治心下蓄積痞悶，或作痛，多噫，敗卵氣。</p>
<p>枳殼（去穰，銼，麩炒）　白朮（各半兩）　香附子（一兩，麩炒，舂去皮）　檳榔（三錢）</p>
<p>上為細末，每服二錢，米飲調下，日三服，不拘時候。（龐老方）</p>
<h4>訶子丸</h4>
<p>治伏積注氣，發則喘悶。</p>
<p>訶子（去核）　白茯苓（去皮）　桃仁（去皮尖，炒）　枳殼（去穰，銼，麩炒）　桂心（不見火）　檳榔　桔梗（炒）　白芍藥　川芎（洗）　川烏（炮，去皮尖）　人參（去蘆）　橘紅鱉甲（淡醋煮去裙膜，洗淨，酸醋炙黃，各等分）</p>
<p>上為細末，煉蜜杵，丸如梧子大。酒下二十丸，熟水亦得。</p>
<h4>砂丸</h4>
<p>治一切積聚，有飲心痛。</p>
<p>砂（研）　京三棱（銼末）　乾薑（炮）　白芷（不見火）　巴豆（出油，各半兩）　大黃（別末）　乾漆（各一兩，銼，炒令煙盡）　木香　青皮（去白）　胡椒（各一分）　檳榔　肉豆蔻（各一上為細末，釅醋二升，煎巴豆五七沸，後下三棱大黃末，同煎五七沸，入　砂同煎成稀膏，稠稀得所，便入諸藥和勻杵，丸如綠豆大。年深氣塊，生薑湯下四五丸；食積熟水下；白痢乾薑湯下；赤痢甘草湯；血痢當歸湯，蔥酒亦得。</p>
<h4>紫金丹</h4>
<p>治男子、婦人患食勞、氣勞，遍身黃腫，欲變成水腫，及久患　癖，小腸膀胱，面目悉黃。</p>
<p>膽礬（三兩）　黃蠟（一兩）　青州棗（五十個）</p>
<p>上於瓷合內用頭醋五升，先下礬棗，漫火熬半日以來，取出棗去皮核，次下蠟一處，更煮半日如膏，入好臘茶末二兩同和，丸如梧子大。每服二三十丸，茶酒任下，如久患腸風痔漏，陳米飲下。</p>
<p>宗室趙彥才下血，面如蠟，不進食，蓋酒病也。授此方服之，終劑而血止，面色鮮潤，食亦倍常。新安有一兵士亦如是，與三百粒，作十服，亦愈。</p>
<p>治沉積，感應丸。（此用丁香、木香，皆少於《官局方》一兩，蓋欲速於去積，若常服或老幼怯弱之疾，尚當審之）</p>
<p>丁香　木香（各半兩）　乾薑（一兩，炮）　百草霜（二兩，研）　肉豆蔻（二十個）　巴豆（六十個，取霜）　杏仁（一百四十個，去皮尖）　麻油（一兩，秋冬增半兩，減蠟半兩）　煮酒蠟（四兩）</p>
<p>上以二香薑蔻為細末，並三味研極勻，煉油蠟和成劑，油紙裹，旋丸如綠豆大，熟水下五七丸。此藥近年盛行於世，有數方，惟此真高家，予得之於王景長，用之的有準。</p>
<p>治五種積膈氣，三焦痞塞，胸膈滿悶，背膂引疼，心腹膨脹，脅肋刺痛，食飲不下，噎塞不通，嘔吐痰逆，口苦吞酸，羸瘦少力，短氣煩悶，常服順氣寬中，消　癖積聚，散驚憂恚氣。</p>
<p>枳殼（去穰，銼，麩炒）　京三棱　橘皮（去白）　益智仁　蓬莪朮　檳榔　肉桂（不見火，各一兩或各六兩一錢）　乾薑（炮）　厚朴（去粗皮，薑汁炙）　甘草（炙）　青皮（去白）　肉豆蔻　木香（各半兩或各三兩）</p>
<p>上為細末。每服二錢重，水一盞，生薑五片，棗一個，同煎至七分，熱服，鹽點亦得，不拘時候。</p>
<h4>五噎膈氣丸</h4>
<p>治氣食憂勞思慮。</p>
<p>半夏（湯浸七次，薄切，焙）　桔梗（各二兩，炒）　肉桂（不見火）　枳殼（去穰，麩炒，各一兩半）</p>
<p>上細末，薑汁糊丸如梧子大，薑湯下三十丸，食後臨臥服。</p>
<h4>熏膈丸</h4>
<p>治胸膈悶塞作噎。</p>
<p>麥門冬（去　去心）　甘草（炙，各半兩）　人參（去蘆）　桂心（不見火）　細辛（去葉）　川椒（去目並合口，微火炒，地上出汗）　遠志（去心，炒）　附子（炮，去皮臍）　乾薑（炮，各二錢）</p>
<p>上細末，煉蜜丸如雞頭大。綿裹一丸含化，食後日夜三服。</p>
<h3>膀胱疝氣小腸精漏</h3>
<h4>念珠丸</h4>
<p>治膀胱疝氣，外腎腫脹，痛不可忍。</p>
<p>乳香（乳缽坐水盆中，研）　砂（各三錢，飛）　黃蠟（一兩）</p>
<p>上乳香研細，　砂同研勻，熔蠟和丸，分作一百單八，以線穿之，露一夕，次日用蛤粉為衣，旋取一粒，用乳香湯吞下。</p>
<p>頃年有人貨疝氣藥，肩上擔人我二字，以為招目，日貨數千，有一國醫多金得之，用之良驗。</p>
<h4>砂丸</h4>
<p>木香　沉香　巴豆肉（全者，各一兩）　銅青（半兩，研）　青皮（二兩，不去皮）</p>
<p>砂（一分，研）</p>
<p>上前二香、青皮三味細銼，同巴豆漫火炒，令紫色為度，去巴豆，為末，入青砂二味研勻，蒸餅和丸如梧子大。每服七丸至十丸，鹽湯吞下，日二三服，空心食前服。</p>
<h4>金鈴丸</h4>
<p>治膀胱腫硬，牽引疼痛，及治小腸氣陰囊腫，毛間水出。</p>
<p>金鈴子（肉，五兩）　茴香（炒）　馬蘭花（炒）　菟絲子（酒浸，曝乾，用紙條子同碾）　海蛤破故紙（炒香）　海帶（淨洗，各三兩）　木香　丁香（各一兩）</p>
<p>上細末，糊丸如梧子大。每服二三十丸，溫酒鹽湯下，空心食前服。</p>
<p>治小便難，小腸脹，不急治殺人。</p>
<p>上用蔥白三斤，細銼炒令熱，以帕子裹，分作兩處，更替熨臍下即通。</p>
<h4>茴香散</h4>
<p>治膀胱氣痛。</p>
<p>茴香（炒）　蓬莪朮　金鈴子肉　京三棱（各一兩，二味炮熟銼）　甘草（半兩，炙）</p>
<p>上細末。每服二錢，熱酒調下，強幼安云，每發痛甚連日，只一二服立定。</p>
<p>頃在徽城日，歙尉宋荀甫，膀胱氣作疼不可忍，醫者以剛劑與之，疼愈甚，小便不通三日矣，臍下虛脹，心悶。予因候之，見其面赤黑，脈洪大。予曰：投熱藥太過，陰陽痞塞，氣不得通。為之奈何？宋尉尚手持四神丹數粒，云：醫者謂痛不止，更服之。予曰：若服此定斃。後無悔，渠懇求治。予適有五苓散一兩許，分三服，易其名，用連須蔥一莖，茴香一撮鹽一錢，水一盞半，煎七分，令接續三服，中夜下小便如墨汁者一二升，臍下寬得睡。翌日診之，脈已平矣，續用　砂丸與之，數日瘥。大抵此疾因虛得之，不可以虛而驟補藥。《經》云：邪之所湊。其氣必虛，留而不去，其病則實。故必先滌所蓄之邪，然後補之，是以諸方多借巴豆氣者，謂此也。</p>
<p>治遺精夢漏，關鎖不固，金鎖丹。（亦名茴香丸）</p>
<h4>金鎖丹</h4>
<p>舶上茴香（炒）　葫蘆巴　破故紙（炒香）　白龍骨（以上各一兩）　木香（一兩半）　胡桃肉（三七個，研）　羊石子（三對，破開，鹽半兩擦炙熟，研如泥）</p>
<p>上五味為末，下二味同研成膏，和酒浸蒸餅杵熟，丸如梧子大。每服三五十丸，空心溫酒下。</p>
<h4>清心丸</h4>
<p>治經絡熱，夢漏，心忪恍惚，膈熱。</p>
<p>黃柏皮（一兩）</p>
<p>上為細末。用生腦子一錢，同研勻，煉蜜丸如梧子大。每服十丸至十五丸，濃煎麥門冬湯下。大智禪師方，夢遺不可全作虛冷，亦有經絡熱而得之。</p>
<h4>豬苓丸</h4>
<p>上用半夏一兩，破如豆大，用木豬苓四兩，先將一半炒半夏黃色不令焦，地上出火毒，半日，取半夏為末，糊丸如梧子大，候干，更再用前豬苓末二兩，炒微裂，同用不泄沙瓶養之，空心溫酒鹽湯下三四十丸，常服於申未間，冷酒下。</p>
<p>此藥治夢遺，夢遺有數種，下元虛憊，精不禁者，宜服茴香丸；年壯氣盛，久節淫欲，經絡壅滯者，宜服清心丸；有情欲動中，經所謂所愿不得，名曰白淫，宜《良方》茯苓散。</p>
<p>正如瓶中煎湯，氣盛盈溢者，如瓶中湯沸而溢，欲動心邪者，如瓶之傾側而出，虛憊不禁者，如作強之官，伎巧出焉。又曰：腎氣藏精，蓋腎能攝精氣以生育人倫者也，或斂或散，皆主於腎，今也腎氣閉，則一身之精氣無所管攝，故妄行而出不時也。豬苓丸一方，正為此設，此古方也。今盛行於時，而人多莫測其用藥之意。蓋半夏有利性，而豬苓導水，蓋導腎氣使通之意也。予藥囊中嘗貯此藥，緩急以與人，三五服皆隨手而驗。林監丞庇民，亦數服而愈。</p>
<h4>《良方》茯苓散</h4>
<p>堅白茯苓不以多少，為細末，每服五錢，溫水調下，空心食前臨臥時服，一日四五服。</p>
<p>順氣木香散　治氣不升降，嘔逆惡心，胸膈痞滿，脅肋脹悶，及酒食所傷，噫氣吞酸，心脾刺痛，大便不調，面黃肌瘦，不思飲食，兼療婦人血氣刺痛，及一切冷氣繞臍撮痛。</p>
<p>良薑（去蘆，炒）　乾薑（炮）　茴香（炒）　陳皮（去白）　縮砂　肉桂（去粗皮，不見火）</p>
<p>丁皮（不見火）　桔梗（去蘆，炒）　厚朴（去粗皮，薑製）　蒼朮（米泔浸）　甘草（炙，各等分）</p>
<p>去乾薑、丁皮、厚朴，加香附子、青皮，曰和氣散。</p>
<p>上細末。每服二錢，水一盞，生薑三片，棗二枚，同煎八分，稍熱服，不拘時候，或入鹽少許，沸湯點服。常服寬中和胃。</p>
<h2>卷第四</h2>
<h3>翻胃嘔吐霍亂</h3>
<h4>附子散</h4>
<p>治翻胃。</p>
<p>附子一枚極大者，坐於磚上，四面著火，漸漸逼熱，淬入生薑自然汁中，再用火逼，再淬，約盡薑汁半碗，焙乾末之，每服二錢，水一盞，粟米少許，同煎七分，不過三服。</p>
<h4>鯽魚散</h4>
<p>大鯽魚一個，去腸留膽，納綠礬末，填滿縫口，以炭火炙令黃干，為末，每服一錢，陳米飲調下，日三服。</p>
<h4>枇杷葉散</h4>
<p>定嘔吐利膈。</p>
<p>枇杷葉（去毛）　人參（去蘆，各一分）　茯苓（去皮，半兩）　茅根（二分）　半夏（三分，湯浸七次）</p>
<p>上細銼。每服四錢，水一盞半，生薑七片，漫火煎至七分去滓，入檳榔末半錢，和勻服之。龐老方</p>
<h4>白朮散</h4>
<p>食後多吐，欲作翻胃。</p>
<p>澤瀉　白朮　茯苓（去皮，各等分）</p>
<p>上為細末，每服一錢，湯調溫服。</p>
<h4>竹茹湯</h4>
<p>治胃熱嘔吐。</p>
<p>干葛（三兩）　甘草（三分，炙）　半夏（三分，薑汁半盞，漿水一升煮，耗半）</p>
<p>上粗末。每服五錢，水二盞，生薑三片，竹茹一彈大，棗一個，同煎至一盞，去滓溫服胃熱者，手足心熱。政和中一宗人病傷寒，得汗身涼，數日忽嘔吐，藥與飲食俱不下，醫者皆進丁香、藿香、滑石等藥，下咽即吐。予曰：此正汗後余熱留胃脘，孫兆竹茹湯政相當爾。亟治藥與之，即時愈。《良方》槐花散亦相類。</p>
<h4>槐花散</h4>
<p>治熱吐。</p>
<p>皂角（去皮，燒令煙絕）　白礬（熬）　槐花（炒黃黑色）　甘草（炙）</p>
<p>上四味等分，為末。每服二錢，白湯調下。喜與李使君曾病嘔，每食訖輒吐，如此兩月，服翻胃藥愈甚，或謂有痰飲，投半夏旋覆之類，亦皆不驗，幕下藥判官授此方，服之即瘥。又有一老青衣久病嘔，與服之又瘥。大凡吐多是膈熱，熱且生涎，此藥能化胃膈熱涎，特有殊效。</p>
<h4>青金丹</h4>
<p>治霍亂吐瀉不止及轉筋，諸藥不效者，一粒治一人。</p>
<p>硫黃（一兩，研）　水銀（八錢）</p>
<p>上二味，銚子內炒，柳木篦子不住攪勻，更以柳枝蘸冷醋頻頻洒，候如鐵色，法如青金塊方成，刮下再研如粉，留少半為散，余以粽子尖三個，醋約半盞，研稀稠得所，成膏和丸，如雞頭大，朱砂為衣。每服一丸，煎丁香湯磨化下，熱服，如服散子，丁香湯調下一錢。</p>
<p>傷寒陰陽乘伏，用龍腦冷水磨下，日二三服。</p>
<h4>香靈丸</h4>
<p>治嘔吐不止。</p>
<p>丁香　好辰砂（研飛，各六錢）　五靈脂（揀如鼠屎者，淘去沙石，日干，四錢）</p>
<p>上香脂先細末，後入砂，再研勻，狗膽或豬膽為丸，如雞頭大，每服一丸，生薑橘皮湯磨下。</p>
<h3>臟腑泄滑及諸痢</h3>
<h4>鞠丸</h4>
<p>治脾胃中風濕，臟腑泄滑。</p>
<p>芎　神麯（碎炒）　白朮　附子（炮，去皮臍，各等分）</p>
<p>上為細末，用糊丸如梧子大。每服三五十丸，米飲下。</p>
<p>左氏述，楚子圍蕭，蕭將潰，申叔展告還無社，曰：有麥曲乎？有山鞠　乎？鞠　、芎也。意欲令逃水中以避禍，是知芎　能除濕，予嘗加朮附以制方，治脾濕而泄者，萬無不中。此藥亦治飧泄。《素問》云：春傷於風，夏必飧泄，飧泄者，食穀不化。蓋春木旺時，肝生風邪，淫於脾經，至夏飲冷當風，故多飧泄。此藥尤宜。</p>
<h4>陳曲丸</h4>
<p>磨積止泄痢，治心腹冷痛。</p>
<p>陳曲（一兩半）　乾薑（炮）　官桂（不見火）　白朮　厚朴（去粗皮，薑汁炙）　人參（去蘆）</p>
<p>上細末，煉蜜丸如梧子大。每服三四十丸，酒或淡醋湯下，空心食前，日二服，發時不時增數。</p>
<h4>木香丸</h4>
<p>治冷氣下瀉。</p>
<p>木香（半兩）　川烏（生去皮尖，一兩）</p>
<p>上細末，醋糊丸如梧子大。陳皮醋湯下三五十丸。</p>
<h4>溫脾湯</h4>
<p>治痼冷在腸胃間，連年腹痛泄瀉，休作無時，服諸熱藥不效，宜先取去，然後調治易瘥，不可畏虛以養病也。</p>
<p>厚朴（去粗皮，薑製）　乾薑（炮）　甘草　桂心（去皮，不見火）　附子（生，去皮臍，各半兩）　大黃（生，四錢，碎切，湯一盞漬半日，搦去滓，煎湯時，和滓下）</p>
<p>上細銼，水二升半，煎八合後，下大黃汁再煎六合，服，自夜至曉令盡，不快，食前更以乾薑丸佐之。</p>
<h4>乾薑丸</h4>
<p>乾薑（炮）　巴豆（去心，炒黃，研）　大黃（濕紙裹，甑上蒸）　人參（各一錢，去蘆）</p>
<p>上除巴豆，余為末，同研，煉蜜丸如梧子大。服前湯時用湯吞下一丸，米飲亦得。</p>
<p>有人因憂愁中傷，食結積在腸胃，故發吐利，自後至暑月，稍傷則發，暴下數日不已。</p>
<p>《玉函》云：下利至隔年月日不期而發者，此為有積，宜下之。只用溫脾湯尤佳，如難取，可佐以乾薑丸，後服白朮散。</p>
<h4>白朮散</h4>
<p>白朮　木香　附子（炮，去皮臍）　人參（去蘆，各等分）</p>
<p>上細末。每服二錢，水一盞，生薑三片，棗一個，煎六分，溫服。</p>
<h4>靈砂丹</h4>
<p>治積痢。</p>
<p>砂（一分）　朱砂（一分，並研極細）</p>
<p>上另用黃蠟半兩，巴豆三七粒，去殼皮膜，同於銀石器內重湯煮一伏時，候巴豆紫色為度，去二七粒，只將一七粒與前來二味同再研極勻，再熔蠟匱藥，每旋丸綠豆大。每服三丸至五丸，水瀉生薑湯下，白痢艾湯，赤白痢烏梅湯，服時須極空腹。服畢一時，方可吃食，臨臥尤佳，次食淡粥一日。瘧疾，乳香湯面東服，不發日晚間服。</p>
<p>此藥不動氣，服之瀉者止，痢者斷，疼者愈，有積者內化，亦不動臟腑。大凡痢有沉積者，不先去其積，雖安暫安，後必為害。嘗記陳侍郎涇仲，庚戌秋過儀真求診。初不覺有疾，及診視，則肝脈沉弦，附骨取則牢。予曰：病在左脅有血積，必發痛。陳曰：誠如是。前此守九江被召，冒暑涉長江，暨抵行朝，血痢已數日矣。急欲登對，醫者以剛劑燥之，雖得止數日，臍下一塊大如杯，不旬日如碗大，發則不可忍。故急請官祠以歸，為之奈何？予曰：積痢不可強止，故血結於臍脅下，非抵當丸不可。渠疑而不肯服，次年竟以此終。抵當丸在第九卷中。</p>
<h4>木香散</h4>
<p>治諸痢。</p>
<p>木香（半兩，用黃連半兩各銼，同炒用）　甘草（一兩，炙）　罌粟殼（半兩，生薑半兩，碎，同炒）</p>
<p>上細末，入麝少許研勻，陳米飲下二錢。佛智和尚傳云：在關中嘗合以濟人，治血痢尤奇。</p>
<h4>五味子散</h4>
<p>治腎泄。</p>
<p>五味子（二兩，揀）　吳茱萸（半兩，細粒綠色者）</p>
<p>上二味同炒香熟為度，細末。每服二錢，陳米飲下。</p>
<p>頃年有一親識，每五更初欲曉時，必溏痢一次，如是數月。有人云：此名腎泄，腎感陰氣而然，得此方服之而愈。</p>
<h4>訶子丸</h4>
<p>治脾胃不和，泄瀉不止，諸藥不效。</p>
<p>訶子（去核）　川薑（炮）　肉豆蔻　龍骨　木香　赤石脂　附子（炮，去皮臍）</p>
<p>上並等分為細末，糊丸如梧子大。每服四十丸，米飲下。</p>
<h3>虛熱風壅喉閉清利頭目</h3>
<h4>利膈湯</h4>
<p>治虛煩上盛，脾肺有熱，咽喉生瘡。</p>
<p>雞蘇葉　荊芥穗　桔梗（炒）　防風（去釵股）　牛蒡子（隔紙炒）　甘草（各一兩，炙）　人參（半兩，去蘆）</p>
<p>上細末。每服一錢，沸湯點服。如咽痛口瘡甚者，加僵蠶一兩。國醫都君予方</p>
<h4>川芎散</h4>
<p>治風盛膈壅，鼻塞清涕，熱氣攻眼，下淚多眵，齒間緊急，作偏頭疼。</p>
<p>川芎（洗）　柴胡（去苗，洗，各一兩）　半夏曲　甘草（炙）　甘菊　細辛（去葉）　人參（去蘆）　前胡（去苗，洗）　防風（去釵股，各半兩）</p>
<p>上為粗末。每服四錢，水一盞，生薑四片，薄荷五葉，同煎至七分，去滓溫服。</p>
<h4>芎辛丸</h4>
<p>治頭痛面赤，煩悶咽乾，上膈風痰，頭目暈昏，百節疼痛，背項拘急。</p>
<p>川芎（洗）　防風（去釵股）　僵蠶（去絲、嘴，炒）　獨活（黃色如鬼眼者，去蘆，洗，焙，秤，各一兩）　天麻（四兩）　桔梗（炒，三兩）　細辛（去葉）　白附子（炒）　羌活（洗，去蘆）甘草（炙，各半兩）　薄荷　荊芥穗（各一兩半）</p>
<p>上細末，煉蜜丸如彈子大。每服一粒，清茶酒嚼下，食後。</p>
<h4>通膈丸</h4>
<p>治上焦虛熱，肺脘咽膈有氣如煙搶上。</p>
<p>黃連（去須）　茯苓（去皮）　人參（各三兩，去蘆）　朱砂（一分，水飛）　真腦子（少許）</p>
<p>上細末，研勻，煉蜜丸如梧子大。熟水下三五丸，日二三服。</p>
<h4>門冬丸</h4>
<p>治心經有熱。</p>
<p>麥門冬（一兩，水　去心）　川黃連（去須，半兩）</p>
<p>上細末，煉蜜丸如梧子大。食後熟水下二三十丸。</p>
<h4>《千金》地黃丸</h4>
<p>治心熱。</p>
<p>川黃連（去須，四兩，粗末）　生地黃（半斤，研取汁，連滓，二味勻，日干）</p>
<p>上細末，煉蜜丸如梧子大。每服三十丸，食後麥門冬湯下。</p>
<h4>人參散</h4>
<p>治邪熱客於經絡，肌熱痰嗽，五心煩躁，頭目昏痛，夜多盜汗。此藥補和真氣，解勞倦，婦人血熱虛勞骨蒸，並皆治。</p>
<p>人參（去蘆）　白朮　白茯苓（去皮）　柴胡（去苗，洗）　半夏曲　當歸（洗，去蘆，薄切，焙乾，秤）　赤芍藥　干葛　甘草（各一兩，炙）　子芩（半兩，去皮）</p>
<p>上為細末。每服三錢，水一盞，生薑四片，棗二個，煎至八分，不拘時候帶熱服。但是有勞熱證，皆可服，熱退即止。大抵透肌解熱，干葛第一，柴胡次之，所以升麻葛根湯為解肌之冠也。</p>
<h4>清氣散</h4>
<p>調榮衛，順三焦，治風壅，消痰涎，退煩熱。</p>
<p>前胡（去苗，洗）　柴胡（去苗，洗）　川芎（洗）　枳殼（去穰，銼，麩炒）　白朮　青皮（去白）　羌活（去蘆）　獨活（黃色如鬼眼者，去蘆，洗，焙，秤）　甘草（炙）　茯苓（去皮）</p>
<p>人參（去蘆，各等分）</p>
<p>上為末。每服二錢，水一盞，荊芥一穗，煎七分服。此方敗毒散中去桔梗，加白朮、青皮，增損亦有理，用之良驗。</p>
<h4>柴胡散</h4>
<p>治邪入經絡，體瘦肌熱，推陳致新，解利傷寒，時疾中　伏暑。</p>
<p>柴胡（四兩，洗，去苗）　甘草（一兩，炙）</p>
<p>上細末。每服二錢，水一盞，同煎至八分，食後熱服。此藥冬月可以潤心肺，止咳嗽，除壅熱；春夏可以御傷寒時氣，解暑毒，居常不可缺，兼不以長幼，皆可服之，倉卒可以使得效。</p>
<h4>地仙散</h4>
<p>治骨蒸肌熱，解一切虛煩躁，生津液。</p>
<p>地骨皮（洗，去心）　防風（去釵股，各一兩）　甘草（炙，一分）《濟生方》（地骨皮二兩，防風一兩，甘草炙半兩。上　咀。每服四錢，水半盞，薑五片，同煎）</p>
<p>上細末。每服二錢，水一盞，生薑三片，竹葉七片，煎至七分，服信效。一方增人參半兩，雞蘇一兩，甘草添一分。</p>
<h3>腫滿水氣蠱脹</h3>
<h4>葶藶丸</h4>
<p>治腹中有濕熱氣，目下作腫，如新臥起蠶之狀，兩足脛微腫。病在腎，腎者少陰也；標在肺，肺者太陰也。故中滿氣急咳嗽，喘息有音，每就臥則右脅有氣上衝，肩腋與缺盆相牽引不快，少思飲食。</p>
<p>甜葶藶（半兩，炒令香）　郁李仁（湯去皮尖，熬紫色，秤三分，二味別研如膏，令極勻）　白朮（半兩）　牽牛子（半兩，一半生、一半熟用）　赤茯苓（去皮）　桑白皮（蜜炙，銼）</p>
<p>上細末，與上二味同研，煉蜜和入臼內治之，丸如梧子大。初服十丸，空心晚食前，日二服，生薑橘皮湯下，不知，加至二三十丸，以知為度。</p>
<h4>實脾散</h4>
<p>治脾元虛浮腫。</p>
<p>大附子（一個，炮，去皮臍）　草果子（去皮）　乾薑（炮，各二兩）　甘草（一兩，炙）　大腹（連皮，六個）　木瓜（一個，去穰，切片）</p>
<p>上用水於砂器內同煮，一半以來，擘開乾薑，心內不白為度，不得全令水干，恐近底焦，取出銼焙為末，每服空心日午，用沸湯點服。</p>
<h4>羌活散</h4>
<p>治水氣。</p>
<p>羌活（洗去土）　蘿卜子（各等分）</p>
<p>上同炒香熟，去蘿卜子不用，末之，溫酒調下二錢，一日一服，二日二服，三日三服，取效。嘉興主簿張昌時傳方。</p>
<h4>大棗湯</h4>
<p>治四肢腫滿。</p>
<p>白朮三兩，　咀。每服半兩，水一盞半，大棗三枚，拍破，同煎至九分，去滓溫服，日三四服，不拘時候。</p>
<h4>茯苓散</h4>
<p>治腫滿小便不利。</p>
<p>郁李仁（去皮尖，微炒，四錢）　檳榔（二個）　赤茯苓（去皮）　白朮　甘遂（切片，炒，各二錢）　橘皮（一錢半，去白）</p>
<p>上細末。每服一錢，薑棗湯調下。</p>
<p>又方厚朴（去皮，薑汁製，炒，半兩）　牽牛子（五兩，炒取末二兩）</p>
<p>上細末。每服二錢，煎薑棗湯調下。</p>
<h4>知母湯</h4>
<p>治游風攻頭面，或四肢作腫塊。</p>
<p>知母（一兩）　麻黃（去根節）　黃　（蜜炙）　甘草（炙）　羌活（洗去土）　白朮　枳殼（去穰，銼，麩炒，各半兩）</p>
<p>上粗末。每服四錢，水一盞半，牛蒡子百粒，研碎，煎至七分溫服，日三四，覺冷不用牛蒡子。</p>
<p>有一達官，其母年七十中風，手足拘攣，平日只是附子之類扶養。一日面浮腫，手背亦腫，尋常有一國醫供藥，診云是水病，欲下大戟牽牛以導之，其家大驚憂惶，召予議之。予曰：《素問》稱面腫曰風，足脛腫曰水。此服附子大過，正虛風生熱之證，咽必噎塞，膈中不利。誠言，予乃進升麻牛蒡團參湯，繼以知母湯，三日悉愈。</p>
<h4>升麻牛蒡團參湯</h4>
<p>升麻（一兩，去蘆）　牛蒡子（二兩，炒）　人參（半兩，去蘆）</p>
<p>上為粗末。每服三錢，水一盞，煎七分，非時服。此藥能消腫祛風，不動正氣，一日可三服。</p>
<p>嘗見一醫書中論水蠱二病，臍腹四肢悉腫者為水，但腹脹四肢不甚腫者為蠱。有中表一婦人患蠱病，予謂不可下，當實脾。不然之，卒後入棺木，腹與棺蓋平。治蠱宜石中黃丸。</p>
<p>（方在卷後）</p>
<h3>腎臟風及足膝腰腿香港腳</h3>
<h4>治腎臟風攻注腳膝方。</h4>
<p>連珠甘遂（一兩）　木鱉子（二個，一雌一雄，去殼，研）</p>
<p>上為末，　豬腰子二個破開，藥末一錢摻勻，濕紙裹數重，漫火煨熟，放溫。五更初細嚼米飲下，積水多則利多，少則少也，宜軟飯將息。若患一腳，切看左右，如左腳用左邊腰子，上用右邊者，藥末只一錢。</p>
<p>壬子年，在毗陵有姓馬人鬻油，久不見，因詢其親，云：宿患腎臟風，今一足發腫如瓠，自腰以下，鉅細通為一律，痛不可忍，臥欲轉側，則兩人挾持方可動，或者欲以鈹刀決之。予曰：未可，予有藥。當合以贈，如上法服之。辰巳間下膿如水晶者數升，即時痛止腫退。一月後尚拄拐而行，予再以赤烏散令塗貼其膝方愈。後十年過毗陵，率其子列拜以謝。云：向腳疾至今不復作，雖積年腎臟風並已失，今健步不苦矣。</p>
<h4>烏頭丸</h4>
<p>治腎臟風上攻下疰，生瘡並癬。</p>
<p>川烏（二兩，去皮、尖）　草烏（一兩，二味以黑豆半斤煮透軟，去皮臍，片切，日干）</p>
<p>地龍（去土，秤）　白附子（炮）　天麻（各半兩）</p>
<p>上為細末，酒糊丸如梧子大。每服二三十丸，空心食前鹽湯鹽酒吞下。</p>
<h4>虎骨酒</h4>
<p>去風補血益氣，壯筋骨，強腳力。</p>
<p>虎脛骨（真者，酒浸，酥炙）　萆　牛膝（洗淨，銼，焙，酒浸一宿，再焙）　仙靈脾薏苡仁　熟乾地黃（酒洒，九蒸九曝，焙乾，秤，各二兩）</p>
<p>上細銼，絹袋盛，浸酒二斗，飲可一盞，入酒一盞，</p>
<h4>檳榔湯</h4>
<p>治香港腳。</p>
<p>檳榔（三錢）　生薑（三片）　紫蘇（七葉）　陳皮（三枚）</p>
<p>上以水一大盞，煎七分，去滓，稍熱服。</p>
<p>少府監韓正彥暴得疾，手足不舉，諸醫以為風，針灸臂腿不知痛，孫兆作香港腳，與此藥乃愈。</p>
<h4>地黃丸</h4>
<p>益氣血，補肝腎，祛風濕，壯腳膝。</p>
<p>熟乾地黃（酒洒，九蒸九曝，焙乾，一兩）　牛膝（洗，銼，焙，酒浸一宿，再焙）　石斛（洗去根，各三分）　肉蓯蓉（水洗，酒浸，切片，焙）　茵芋（去梗，銼，炒）　防風（去釵股）</p>
<p>半兩炒）</p>
<p>上為末，煉蜜丸如桐子大。每服三四十丸，酒吞下，空心食前。</p>
<p>治腳腰疼痛，攣急不得屈伸，及腿膝冷麻。</p>
<p>虎骨一具，及脛骨二莖，用酥塗炙黃、捶碎，同無灰酒三斗，密封七日，空心晚食前溫之，隨意飲。</p>
<h4>思仙續斷丸</h4>
<p>治肝腎風虛氣弱，腳膝不可踐地，腰脊疼痛，風毒流疰下經，行止艱難，小便余瀝。此藥補五臟內傷，調中益精涼血，堅強筋骨，益智輕身耐老。</p>
<p>思仙木（即杜仲也，去皮，銼，炒令黑，五兩）　五加皮　防風（去釵股）　薏苡仁　羌活（洗去土）　川續斷（洗，銼，焙乾）　牛膝（洗，銼，焙，酒浸一宿，再焙，各三兩）　萆（四兩）　生乾地黃（五兩）</p>
<p>上細末，好酒三升化青鹽三兩，用大木瓜半斤，去皮子，以鹽酒煮木瓜成膏和杵，丸如桐子大。每服五十丸，空心食前溫酒鹽湯下，膏子少，益以酒糊。</p>
<h4>續骨丹</h4>
<p>治兩腳軟弱，虛羸無力，及小兒不能行。</p>
<p>天麻（明淨大者，酒浸一夕）　白附子（炮）　牛膝（洗，銼，焙，酒浸一宿，再焙）　木鱉子（去殼，研，各半兩）　烏頭（炮，去皮臍，一分）　川羌活（洗去土，半兩）　地龍（去土秤，一分）　滴乳香（乳缽坐水盆中，研細）　真沒藥（研，各二錢）　朱砂（水飛，一錢）</p>
<p>上以生天南星末一兩，無灰酒煮糊丸如雞頭大，朱砂為衣，薄荷湯磨一粒，食前服。</p>
<h4>茵芋丸</h4>
<p>治風氣積滯成香港腳，常覺微腫，發則或痛。</p>
<p>茵芋葉（銼，炒）　薏苡仁（各半兩）　郁李仁（去皮、尖，微炒，一兩）　牽牛子（三兩，生取末一兩半）</p>
<p>上細末，煉蜜丸如梧子大。每服二十丸，五更薑棗湯下，未利加至三十丸，日三，快利為度，白粥補。</p>
<h4>薏苡仁丸</h4>
<p>治腰腳走注疼痛，此是香港腳。</p>
<p>薏苡仁　茵芋（去梗，銼，炒）　白芍藥　牛膝（洗，銼，焙，酒浸一宿，再焙）　川芎（洗）　丹參（去蘆）　防風（去釵股）　獨活（黃色如鬼眼者，去蘆，洗，焙，秤，各半兩）</p>
<p>側子（一枚，炮，去皮臍）　熟乾地黃（酒洒，九蒸九曝，焙，秤）　桂心（不見火）　橘皮（各一兩）</p>
<p>上細末，煉蜜丸如梧子大。每服三四十丸，酒下，食前，日三服，木瓜湯下亦得。</p>
<p>今人謂之香港腳者，黃帝所謂緩風濕痹也。《千金》云：頑弱名緩風，疼痛為濕痹。大抵此疾不可以三五服便效，須久服得力。唐張文仲云：風有一百二十四種，氣有八十種，唯腳氣頭風上氣，常須服藥不絕，自余則隨其發動，臨時消息。但有風氣之人，春末夏初及秋暮得通泄，則不困劇。所謂通泄者，如麻黃牽牛郁李仁之類是也，不必苦快利藥也。</p>
<h4>鹿茸丸</h4>
<p>治腎虛腰痛。</p>
<p>鹿茸不拘多少，切作片子，酥炙黃末之，酒糊丸如梧子大，空心食前鹽湯下三五十丸。</p>
<h4>藥棋子</h4>
<p>治腰腿痛氣滯。</p>
<p>牽牛不拘多少，用新瓦入火爆，得通赤，便以牽牛頓在瓦上，自然一半生，一半熟，不得撥動，取末一兩，入細研硫黃一分，同研勻，分三分，每用白面一匙，水和捍開，切作棋子，五更初以水一盞煮熟，連湯溫送下。住即已，未住，隔日再作。予嘗有此疾，每發只一服痛止。《病源》曰：腿腰痛者，或墮傷腰，是以痛。</p>
<h4>紫金丹</h4>
<p>《萬金方》治十種水氣。</p>
<p>禹餘糧（三兩）　針砂（五兩，須是真者，市中所賣，多雜砂鐵屑，最宜揀擇。先用水淘洗極淨，控去水，更以銚子盛炒干，方同禹餘糧一處用酸醋三升，就銚子內煮，醋干為度，卻並銚子入一秤炭火中燒二物，銚子炭火，一般通赤，淨掃磚地，傾藥地上候冷，一處研至無聲，須極細如粉止。）　蛇黃（三兩，大者，用新鐵銚子盛入一秤炭火中燒，蛇黃銚子炭火，一般通赤，鐵鉗取銚子，便傾蛇黃入酸米醋二升中，候冷取出，研至無聲，須極細如粉止治水多是轉下冷藥，惟此方以三物為主，既非大戟、甘遂、葶藶、芫花之比，又能量人虛實老壯，入下項藥十六味以扶養之，所以至老極虛之人皆可服。</p>
<p>木香（銼，炒）　肉豆蔻（面裹，炮）　當歸（去蘆，洗，銼，用酒浸一宿）　白茯苓　羌活（銼，略炒）　川芎（略炒）　白蒺藜（炒去角）　官桂（去粗皮，不見火）　京三棱（炮）</p>
<p>乾薑（炮）　白朮　土茴香（略炒）　青橘皮（去穰，炒）　附子（炮，去皮臍）　牛膝（去苗，酒浸一宿，焙）　莪朮（炮，以上各半兩。虛人、老人全用半兩，氣血壯實者減之，更全在斟酌，入前三物內）</p>
<p>上拌極勻，以湯浸蒸餅，捩去水，和藥再搗極勻，丸如梧桐子大。空心食前溫酒或白湯下三五十粒。惟忌鹽三月日，雖毫末許不得入口，若無以為口味，即水病去後，且以醋少許調和飲食可也。</p>
<p>仙居湛新道人傳此方，病者不能忌鹽，不若勿服，徒勞無功，果欲去病杜死求生，須依此去鹽，至誠服之，並不動臟腑，只於小便內旋去水。病初去，每日須服此藥一兩，兼以溫補脾元氣血藥調理，自然向安。此方見當塗《楊氏家藏方》，及《夷陵集驗方》，謂之禹餘糧丸。禹餘糧即石中黃，名異而方實同，但少白朮一味。然當用之，岳州都監李松年病水氣，通判陳君子　以是與之，不終劑而疾愈。</p>
<h4>妙香散</h4>
<p>治諸虛。</p>
<p>茯苓（去皮，不焙）　茯神（去皮木，不焙，各二兩二分）　人參　桔梗　甘草（各一兩一分）　薯蕷（薑炙）　遠志（去心，炒）　黃　（各二兩三分）　辰砂（一兩，水飛）　麝香（二分，別研）　木香（三分，紙裹，溫水微煨）</p>
<p>上細末。每服二錢，溫酒調服。常服補氣血，安神鎮心。</p>
<h4>加料十全飲</h4>
<p>治諸虛並腹病。</p>
<p>白茯苓（切，微炒）　白朮（微炒）　人參（去蘆）　桂（去粗皮，不見火）　川當歸　川芎黃　熟地黃（洗淨）　白芍藥　甘草（各等分）</p>
<p>腹病，加後五味：莪朮（炮）　三棱（炮）　良薑　丁香（不見火）　縮砂（各等分）</p>
<p>上為粗末。每服四錢重，水一盞半，生薑七片，棗三枚，煎七分，去滓溫服，不拘時候</p>
<h4>生胃湯</h4>
<p>治不思飲食。</p>
<p>丁香（十四個）　白豆蔻（撰大十個，碾破，微炒）　縮砂（十八個，同上）　白朮　白茯苓大五個，切微四片，湯浸七次，炒）</p>
<p>腹病，加後三種：莪朮（炮，炒）　厚朴（薑製，炒，各一分）　三棱（炮，切，炒，二銖）</p>
<p>上十二味，做一貼，水二盞半，生薑七片，煎八分，去滓空心熱服。</p>
<h2>卷第五</h2>
<h3>腸風瀉血痔漏臟毒</h3>
<h4>玉屑丸</h4>
<p>治腸風瀉血久不止。</p>
<p>槐根白皮（去粗皮）　苦楝根白皮（去粗皮各三兩）　椿根白皮（去粗皮四兩三味於九月後二月前取軟者日干）　天南星　半夏（各半兩並生）　威靈仙（一兩去苗洗）　寒食面（三兩）</p>
<p>上為細末。滴水丸如桐子大。干之。每服三十丸。水八分一盞。煎沸。下丸子煮令浮。</p>
<p>以匙抄取。溫溫送下。不嚼。空心食前服。</p>
<p>頃年有一人下血幾盈盆。頓爾疲　。諸藥皆不效。予曰："此正腸風。"令服玉屑丸。</p>
<p>三服止。予苦此疾三十年。蓄下血藥方近五十余品。其間或驗或否。或始驗而久不應。或初不驗棄之。再服有驗者。未易立談。大抵此疾品類不同。對病則易愈。如下清血色鮮者。腸風也。血濁而色黯者。臟毒也。肛門射如血線者。蟲痔也。亦有一種下部虛。陽氣不升。血隨氣而降者。仲景云：脈弦而大。弦則為減。大則為芤。減則為寒。芤則為虛。寒虛相搏。</p>
<p>此名為革。婦人則半產漏下。男子則亡血失精。此下部虛而下血者也。若得革脈。卻宜服溫補藥。蟲痔宜熏。《千金》用　皮艾者佳。予嘗作。頗得力。</p>
<h4>《千金》。熏蟲痔方。</h4>
<p>皮（方三指大切）　薰黃（棗大末）　熟艾（雞子大）</p>
<p>上三味。穿地作孔調和取。便熏之口中。薰黃煙氣出為佳。火氣消盡即停。停三日將息。更熏之。凡三度永瘥。勿犯風冷。羹　將補。忌豬雞等。</p>
<h4>蒜連丸</h4>
<p>治臟毒。</p>
<p>鷹爪黃連末。用獨頭蒜一顆。煨香爛熟。研和入臼治。丸如梧子大。每服三四十丸。陳米飲下。此藥神妙。</p>
<h4>槐花散</h4>
<p>治腸風臟毒。</p>
<p>槐花（炒）　柏葉（煉杵焙）　荊芥穗　枳殼（去穰，細切，麩炒黃）</p>
<p>上修事了。方秤等分。細末。用清米飲調下二錢。空心食前服。</p>
<p>《巢氏病源論》：腸癖為痔。久困飽食過度。房室勞損。血氣流溢。滲入大腸。沖發於下。時便清便血性流</p>
<h4>椿皮丸</h4>
<p>臭椿白皮（去粗皮焙乾四兩）　蒼朮（泔浸一夕去皮日干不見火）　枳殼（去穰細切麩炒黃各二兩）</p>
<p>上細末。醋糊丸如梧子大。空心食前米飲下三四十丸。</p>
<p>治腸痔在腹內有鼠奶下血方。</p>
<h4>腸痔下血方</h4>
<p>白蕪荑　貫眾（刮去黑皮）　野狼牙根　椿（東引根白皮）　槐（東引根白皮）　皮（炙焦各一分）　雄黃（半兩水飛）　白鱔頭（一個炙焦）</p>
<p>上細末。臘月豬脂和一丸彈子大。綿裹內下部。日三易。</p>
<p>治痔有鼠乳結核作渴疼痛方。</p>
<h4>痔有鼠乳方</h4>
<p>皂角（去皮弦醋炙）　黃　（蜜炙）　荊芥穗　木香　露蜂房　皮（炙焦黃銼）　鱉甲（淡醋煮黃（濕紙上細末。煉蜜丸如梧子大。每服二三十丸。溫湯下。食前日三服。未知。加至五十丸。</p>
<h4>黃丸</h4>
<p>治遠年腸風痔漏。</p>
<p>黃　（蜜炙）　枳殼（去穰細切麩炒黃）　威靈仙（去苗洗各二兩）　續斷（洗推去節銼焙）</p>
<p>槐角黃連翹（炒上細末。煉蜜丸如梧子大。米飲下三十丸。晁推官方。</p>
<h4>鱉甲丸</h4>
<p>治腸痔。</p>
<p>鱉甲（淡醋煮去裙膜洗淨酸醋炙黃）　皮（炙黃焦銼）　穿山甲（銼碎蚌粉炒）　白礬（枯）</p>
<p>上細末。研勻。蒸餅丸如梧子大。米飲下二十丸。食前。日三服。</p>
<p>又方槐花（炒）　白礬（枯各一兩）　附子（半兩炮去皮臍）</p>
<p>上細末。蒸餅丸如梧子大。每服二十丸。米飲下。食前。日三服。以上二方龐老方。</p>
<h3>衄血勞瘵吐血咯血</h3>
<h4>茜梅丸</h4>
<p>治衄血無時。</p>
<p>茜草根　艾葉（各一兩）　烏梅肉（焙乾半兩）</p>
<p>上細末。煉蜜丸如梧子大。烏梅湯下三十丸。</p>
<p>經云：天暑地熱。經水沸溢。蓋血妄行。陽勝陰也。鞠運若茂之嘗苦此疾。予授此方。</p>
<p>令服後愈。三黃散亦得。</p>
<h4>三黃散</h4>
<p>大黃（一兩濕紙裹甑上蒸）　黃連（半兩去須）　黃芩（去皮半兩）</p>
<p>上細末。每服二錢。新水調下。蜜水亦得。</p>
<h4>山梔子散</h4>
<p>山梔子不拘多少。燒存性。末之，搐入鼻中。立愈。</p>
<p>蔡子渥傳云。同官無錫監酒趙無疵。其兄衄血甚。已死。入殮血尚未止。偶一道人過門。聞其家哭。詢問其由。道人云：是曾服丹或燒煉藥。予有藥用之。即括囊間出此藥半錢匕。</p>
<p>吹治鼻衄過多。昏冒欲死方。（梅師方）</p>
<p>用香墨濃研。點入鼻中。</p>
<h4>天門冬丸</h4>
<p>潤肺安血止嗽。治吐血咯血。</p>
<p>天門冬（一兩水　去心）　甘草（炙）　杏仁（去皮尖炒熟）　貝母（去心炒）　白茯苓（去皮）</p>
<p>上細末。煉蜜丸如彈子大。含化一丸咽津。日夜可十丸。不</p>
<h4>黃散</h4>
<p>因嗽咯血成勞。眼睛疼。四肢倦怠。腳無力。</p>
<p>黃　（蜜炙）　麥門冬（水　去心）　熟地黃（酒洒九蒸九曝焙秤）　桔梗（炒各半兩）</p>
<p>甘草（一分炙）　白芍藥（半兩）</p>
<p>上粗末。每服四錢。水一盞半。薑三片。煎七分去滓。溫服。日三。</p>
<h4>白扁豆散</h4>
<p>治久嗽咯血成肺痿。多吐白涎。胸膈滿悶不食。</p>
<p>白扁豆（飯上蒸）　生薑（各半兩）　枇杷葉（去毛）　半夏（湯浸七次）　人參（去蘆）　白朮（各一分）　白茅根（三分）</p>
<p>上細銼。水三升。煎至一升。去滓。下檳榔末一錢。和勻分四服。不拘時候。</p>
<p>治勞瘵吐血損肺。及血妄行。神傳剪草膏。</p>
<p>剪草一斤，婺台州皆有，惟婺州者可用。狀如茜草。又如細辛。每用一斤。洗淨為末。</p>
<p>入生蜜一斤，和為膏。以器盛之。不得犯鐵。九蒸九曝。日一蒸曝。病患五更起，面東坐。</p>
<p>不得吐或</p>
<h3>眼目頭面口齒鼻舌唇耳</h3>
<h4>羊肝丸</h4>
<p>鎮肝明目。</p>
<p>羯羊肝（一具新瓦盆中爆干更焙之肝若大只用一半）　甘菊花（去萼梗）　柏子仁（研）</p>
<p>羌活（去蘆）　細辛（去葉）　官桂（不見火）　白朮　五味子（揀各半兩）　黃連（三分，去須）</p>
<p>上細末，煉蜜丸如梧子大，空心食前，溫水下三四十丸。</p>
<h4>又方</h4>
<p>白羯羊肝（只用子肝一片，薄切，新瓦上爆干）　熟地黃（酒洒九蒸九曝，焙乾，秤一兩半）　車前子　麥門冬（水　去心）　菟絲子（酒浸，曝乾，用紙條子同碾為末）　蕤仁　決明子枸杞子心（不見上細末，煉蜜丸如梧子大，每服三四十丸，溫水下，日三服，不拘時候。</p>
<p>張台卿嘗苦目暗，京師醫者，令灸肝俞，遂轉不見物，因得此方服之遂明。有一男子內障，醫治無效，因以余劑遺之，一夕燈下語其家曰：適偶有所見，如隔門縫見火者。及旦視之，眼中翳膜且裂如線。張云：此藥靈，勿妄與人，忽之則無驗。予隘之，且欲廣其傳</p>
<h4>楮葉散</h4>
<p>羌活（去蘆）　川芎（洗）　旋覆花（去梗，淨）　防風（去釵股，各半兩）　甘草（炙）</p>
<p>蒼朮（泔浸一夕，去皮，秤以上各一兩）　甘菊花上木臼中治為末，茶清調下二錢，早晚食後臨臥各一服。</p>
<p>暴赤眼亦治，赤眼忌濕面及酒。楮葉須真無實者，余不堪。不爾諸藥悉無效，合時不得焙及犯鐵器。予觀此方。取楮葉必無實者。蓋陰陽二物相匹配爾，有實者陽也，無實取葉者陰也</p>
<h4>菊花散</h4>
<p>治肝腎風毒熱氣上衝眼痛。</p>
<p>甘菊花　牛蒡子（炒熟，各八兩）　防風（三兩，去釵股）　白蒺藜（一兩，去刺）　甘草（一兩半，炙）</p>
<p>上細末，每服二錢，熟水調下，食後臨臥服。</p>
<p>《素問》云：久視傷血。血主肝，故勤書則傷肝。主目昏，肝傷則自生風。熱氣上湊目，其昏亦甚。不可專服補藥，須服益血鎮肝明目藥。地黃丸。</p>
<h4>地黃丸</h4>
<p>熟乾地黃（酒洒九蒸九曝，焙乾，秤一兩半）　黃連（一兩，去須）　決明子（一兩）　沒藥（別研）　甘菊花　防風（去釵股）　羌活（去蘆）　桂心（不見火）　光明朱砂（各半兩，水飛）</p>
<p>上細末，煉蜜丸如梧子大，每服三十丸，熟水下，食後，日三服。</p>
<p>讀書之苦，傷肝損目，誠然。晉范寧嘗苦目痛，就張湛求方。湛戲之曰：古方宋陽子少得其有目凡遠視尺棰之余。長嘲戲。亦奇方也。</p>
<p>治頭風冷淚，龐安常二方。</p>
<h4>治頭風冷淚方</h4>
<p>甘菊　決明子（各三分）　白朮　羌活（去蘆）　川芎（洗）　細辛（去葉）　白芷（不見火）</p>
<p>上細末，每服一錢，溫湯調下，食後，日三服。</p>
<p>川芎（洗）　甘菊　細辛（去葉）　白朮　白芷（各一分不見火）</p>
<p>上細末，蠟丸如黍米大，夜臥納二丸目中，一時辰換一丸。</p>
<p>荀牧仲頃年嘗謂予曰：有一人視一物為兩，醫者作肝氣有餘，故見一為二，教服補肝藥，皆之虛中者犀角升麻湯。王檢正希皋，昔患鼻額間痛，或麻痹不仁，如是者數年。忽一日連口唇頰車發際陽明經皆不上等犀角（鎊，一兩一分）　真川升麻（一兩）　防風（去釵股）　羌活（去蘆，各三分）　白芷（不見火）</p>
<p>黃芩（去皮）　川芎（洗）　白附子（炮，各半兩）　甘草（炙，一分）</p>
<p>上粗末，每服四大錢，水一盞半。煎至八分，去滓。通口服，食後臨臥，日三四服。</p>
<p>足陽明胃也。《經》云：腸胃為市。又云：陽明多血多氣。胃之中，腥膻五味，無所不納，如市為主，解至額顱。</p>
<p>。稍通醫者自能曉。</p>
<p>治鼻塞清涕出，腦冷所致。</p>
<p>通草　辛夷（各半兩）　細辛（去葉）　甘遂　芎　桂心（不見火）　附子（各一兩，炮，去皮臍）</p>
<p>上細末，蜜丸綿裹納鼻中，密封塞，勿令氣泄，丸如大麻子，稍如微覺小痛，搗薑為丸即愈。</p>
<p>此《千金方》也，治腦冷所致。此疾亦有腦熱者，亦有肺寒者。《素問》云：膽移熱於腦。則辛　鼻淵。又曰：泣涕者腦也，腦滲為涕。又曰：肺之液為涕。其來各有由矣，當審詳之。鼻淵者，濁涕下不止，清濁亦自異。</p>
<h4>治肺風鼻赤酒方</h4>
<p>老山梔為末，溶黃蠟等分，和為丸彈子大，空心茶酒嚼下。半月效。忌酒炙爆。</p>
<p>用枇杷葉去毛，焙乾末之，茶調下一二錢。日三服。</p>
<p>治心脾壅熱，生木舌腫脹。</p>
<p>玄參　升麻　大黃（濕紙裹甑上蒸）　犀角（鎊各三分）　甘草（半兩炙）</p>
<p>上細末，每服三錢，水一盞，煎至五分，溫服，不拘時候。</p>
<p>治口生瘡方。</p>
<h4>口瘡方</h4>
<p>升麻（一兩一分）　黃連（三分去須）</p>
<p>上細末，綿裹含汁咽。</p>
<h4>魚骨鯁方</h4>
<p>治食諸魚骨鯁久不出方。</p>
<p>皂角末少許吹鼻中，得鯁出，多秘此方。</p>
<h4>玄參散</h4>
<p>治懸癰腫痛不下食。</p>
<p>玄參（一兩）　升麻　射干　大黃（濕紙裹甑上蒸各半兩）　甘草（一分炙）</p>
<p>上細末，每服三錢，水一盞，煎至七分，放溫，時時含咽良驗。</p>
<h4>紅綿散</h4>
<p>治　耳出膿。</p>
<p>白礬　成白灰，每用一錢，入胭脂一字，研勻，用綿杖子纏去耳中膿及黃水盡，即別用綿杖子引藥入耳中。令到底摻之即干。如壯盛之人，積熱上攻，耳出膿水瘥。用無憂散雄黃丸，瀉三五行即瘥。</p>
<h4>黃丸</h4>
<p>治腎虛耳鳴。夜間睡著如打戰鼓，覺耳內風吹，更四肢抽掣痛。</p>
<p>黃　（獨莖者，去蘆，一兩，蜜炙）　白蒺藜（炒瓦擦揚去細碎刺）　羌活（去蘆，各半兩）</p>
<p>上細末，酒糊丸如梧子大，每服三四十丸，空心晚食前，煨蔥鹽湯下。</p>
<h4>地黃湯</h4>
<p>治男子二十歲因瘡毒後腎經熱，右耳聽事不真。每心中不意，則轉覺重，虛鳴疼痛。</p>
<p>生乾地黃（二兩半）　桑白皮（洗淨，蜜炙黃，一兩）　磁石（搗碎，水淘二三十次，去盡赤汁為度，二兩）　枳殼（去穰，細切，麩炒黃）　羌活（去蘆）　防風（去釵股）　黃芩（去皮）</p>
<p>上粗末，每服四錢，水一盞半，煎七分，去滓，日二三服，不拘時候。</p>
<h4>黃湯</h4>
<p>治口乾煩躁生津液，不思食。</p>
<p>黃　（蜜炙）　熟乾地黃（酒洒九蒸九曝，焙乾，秤）　白芍藥　五味子（揀）　麥門冬（各三分，水　去心）　白茯苓（一分，去皮）　甘草（炙，半兩）</p>
<p>上粗末，每服三錢，水一盞半，薑棗烏梅同煎，去滓。</p>
<p>萬病散，一名無憂散。此藥凡病皆治，若諸風疾，生瘡腫，疥癬，宣轉三五行自愈。臟腑積攻中風服永肛者服，藥，輕目人久食。</p>
<p>黃　（蜜炙）　木通（去粗皮，銼）　桑白皮（淨洗，蜜炙黃）　陳橘皮（淨洗）　吳白朮（五物，各一兩牽牛子（五兩上每服用黃　散二錢，牽牛子末二錢，拌合令勻。候天色晴明，三更初，以生薑一塊拍碎，水一盞煎湯，先用小盞子調藥頓服，後更以生薑湯送下。至平明時快宣轉三兩行，若有蠱膿下多，不妨。應臟腑百病諸風冷滯，悉皆出盡。宜後一日內吃白粥且補。</p>
<p>解毒雄黃丸，解毒。治纏喉風及急喉痹，或然倒仆，失音不語，或牙關緊急，不省人事雄黃（水飛，一分）　鬱金（一分）　巴豆（去皮、膜、心、油，二七粒）</p>
<p>上為末，醋煮面糊為丸如綠豆大，用熱茶清下七丸，吐出頑涎，立便蘇醒，未吐再服。</p>
<p>如至死者心頭猶熱，灌藥不下，即以刀尺鐵匙斡開口灌之，但藥下喉嚨，無有不活。吐瀉些小無妨。又治上膈壅熱，痰涎不利，咽喉腫痛，赤眼癰腫。一切毒熱，並宜服之。如小兒患喉咽赤腫，及驚熱痰涎壅塞，服二丸或三丸，量兒大小加減。</p>
<h3>治重舌方</h3>
<p>五靈脂一兩，去砂石，為末，用米醋一大碗同煎，遂旋漱之。</p>
<h2>卷第六</h2>
<h3>諸嗽虛汗消渴</h3>
<h4>杏酥散</h4>
<p>治嗽。</p>
<p>杏仁（去皮、尖）　款冬花　前胡　半夏（湯浸七次，薄切，焙）五味子（揀）　麻黃（去根節）　柴胡（去苗，洗）　桑白皮（蜜炙黃）　人參（去蘆）　桔梗（炒，各等分）</p>
<p>上細末，每服三錢，水一盞半，生薑五片，同煎七分，通口服。</p>
<h4>柏子仁丸</h4>
<p>戢陽氣，止盜汗，進飲食，退經絡熱。</p>
<p>新柏子仁（研）　半夏曲（各二兩）　牡蠣（坩堝子內火　，用醋淬七次，焙）　人參（去蘆）</p>
<p>火炒）</p>
<p>上八味為末，棗肉丸如梧子大，空心米飲下三五十丸，日二服，得效減一服，好愈即住。作散調亦可。</p>
<h4>牡蠣散</h4>
<p>治虛勞盜汗不止。</p>
<p>牡蠣（坩堝子內　，醋淬七次，焙）　麻黃根（漫火炙，拭去汗）　黃　（蜜炙，等分）</p>
<p>上細末，每服二錢，水一盞，煎至七分，溫服。</p>
<h4>防風湯</h4>
<p>治風虛多汗惡風。</p>
<p>防風（五分，去釵股）　澤瀉　牡蠣（炒）　桂枝（不見火，各三分）</p>
<p>上細末，每服二錢，食後酒調下。</p>
<p>又方白朮　防風（去釵股，各一兩）　牡蠣（三分，炒如粉）</p>
<p>上細末，酒調二錢服。惡風加防風一倍，氣加朮，面腫加牡蠣。</p>
<h4>消渴方</h4>
<p>治消渴方。</p>
<p>浮石　舶上青黛（各等分）　麝（少許）</p>
<p>上細末，每服一錢，溫湯調下。</p>
<h4>神效散</h4>
<p>治渴疾飲水不止。</p>
<p>白浮石　蛤粉　蟬殼（去頭、足，各等分）</p>
<p>上細末，用鯽魚膽七個，調三錢服，不拘時候，神效。</p>
<p>《古方驗錄論》：消渴有三種：一者渴而飲水多，小便數，脂似麩片，甜者消渴病也；二者吃食多，不甚渴，小便少，似有油而數者，消中病也；三者渴飲水不能多，但腿腫，腳先瘦小，陰痿弱，小便數，此腎消病也。特忌房勞。</p>
<p>腎氣丸。《千金》云：消渴病所忌者有三：一飲酒，二房室，三咸食及面。能忌此，雖不服藥，友人邵任甜，醫者法，須臾蒸脾胃，變為脂膏，其潤者，則下肌膚枯槁也小便數。</p>
<p>肺干則渴如釜中有能上，此而易消，氣始發於於二三月冬陽氣下濟寬，隨盛。氣盛丸。</p>
<p>乾地黃（酒洒九蒸九曝，焙，秤半斤）　山藥（四兩）　茯苓（去皮）　牡丹皮　附子（炮去上細末，煉蜜丸如梧子大，酒下二三十丸。忌豬肉冷水蕪荑胡荽。《千金》生地黃煎亦佳。在中部心熱中，治脈熱極則血氣脫，色白干燥不澤，食飲不為肌膚，生地黃煎。消熱極強胃氣方。（此方制度分兩尚須臨時斟酌）</p>
<h4>生地黃煎</h4>
<p>生地黃汁　赤蜜（各一斤）　人參（去蘆）　茯苓（去皮）　芍藥　白朮（各三兩）　甘草（二兩）　生麥門冬（一斤）　石膏（六兩）　生葳蕤（四兩）　乾地黃（三兩）　遠志（二兩）</p>
<p>豉心（一斤）</p>
<p>上十三味，　咀，水一斗二升，煮十一味，取二升七合，去滓，下地黃蜜更煎，取三升五合，分四服。</p>
<h4>三丸</h4>
<p>治消渴。</p>
<p>好黃連去須細末，不計多少，銼冬瓜肉研裂自然汁，和成餅子，陰乾再為末，再用汁浸和，渴，</p>
<h3>金瘡癰疽打撲諸瘡破傷風</h3>
<h4>地黃散</h4>
<p>治金瘡止血，除疼痛，避風，續筋骨，生肌肉。</p>
<p>地黃苗　地菘　青蒿　蒼耳苗　赤芍藥（各五兩，入水取汁）　鍛石（三升）　生艾汁（三兩）</p>
<p>上五月五、七月七，午時修合。以前藥汁拌鍛石陰乾，入黃丹三兩，更杵羅細。凡有金瘡傷折出血，用藥封裹，勿令動著，十日瘥，不腫不膿。</p>
<h4>劉寄奴散</h4>
<p>斂金瘡口，止疼痛。</p>
<p>劉寄奴一味為末，摻金瘡口，裹。</p>
<p>宋高祖劉裕微時，伐荻見大蛇長數丈，射之傷。明日復至，聞有杵臼聲，往覘之，見青衣童子數人於榛中搗藥。問其故，答曰：我王為劉寄奴所射，合藥敷之。帝曰：吾神何不殺之。</p>
<p>高祖雞翎後藥敷之</p>
<h4>芸苔散</h4>
<p>治從高墮下墜損，惡血在骨節間疼痛。</p>
<p>荊芥穗　藕節（各二兩，陰乾）　芸苔子　川芒硝　馬齒莧（各一兩，陰乾）</p>
<p>上細末，用蘇枋木半兩，酒一大盞，煎至七分，調下二錢服，不拘時候。</p>
<h4>夢龜散</h4>
<p>治腕折傷筋損骨，疼痛不可忍。</p>
<p>生地黃（一斤切）　藏瓜薑糟（一斤）　生薑（四兩，切）</p>
<p>上都炒令勻熱，以布裹罨傷折處，冷則易之。</p>
<h4>水仙散</h4>
<p>治打撲墜損，惡血攻心，悶亂疼痛。</p>
<p>未展荷葉陰乾一味為末，食前以童子熱小便一小盞，調下三錢，以利下惡物為度。一方用大干荷葉五片，燒令煙盡，細研作一服，如上服之。</p>
<h4>檳榔散</h4>
<p>長肉止痛生肌。</p>
<p>檳榔　黃連（去須）　木香（各等分）</p>
<p>上為細末，薄貼瘡上，神效。</p>
<p>治打撲傷損，及一切癰腫未破。令內消方。</p>
<p>生地黃（研如泥成膏）　木香（細末）</p>
<p>上以地黃膏隨腫大小攤於紙上，摻木香末一層，又再攤地黃貼腫上，不過三五度即愈元　中宋人許元公，赴省試卷，過興國寺橋，值微雨，地滑墜馬，右臂臼脫。路中一人云：急與　入臼中，血漬臼中即難治也。仆者如其說。神已昏亦不覺痛也，遂僦臥轎舁至景德。</p>
<p>秉燭右臂試，至，於若也宣和中有一國醫，忽承快行宣押，就一佛剎醫內人，限目今便行。鞭馬至，則寂未有人。須矣。</p>
<p>云視至三更方呻吟，五更下惡血數升，調理數日得痊。予謂正當下蘇合香丸。蓋從高墜下，必挾驚悸，血氣錯亂。此藥非特逐瘀血，而又醒氣，醫偶用之遂見功。此藥居家不可缺，如氣厥鬼邪　傳尸心痛時疾之類皆治，《良方》載甚詳，須自合為佳爾。（見第一卷）</p>
<p>發背。王蘧發背方序云：元　三年，夏四月，官京師，疽發於背。召國醫治之，逾月勢益甚。得徐州蕭縣人張生，以艾火加瘡上灸之，自旦及暮，凡一百五十壯，知痛乃已。明日鑷去肉，不知濟</p>
<h4>柞木散</h4>
<p>治諸般癰腫發背。</p>
<p>柞木葉（四兩干）　干荷葉　金嬰根（萱草也）　甘草節　地榆（各一兩）</p>
<p>上同銼，搗為煮散，每服半兩，水二碗，煎至一碗。分兩服，早晚各一，並滓再煎一服。膿血者自干，未成者自消。忌飲食毒。</p>
<h4>斂瘡內消方</h4>
<p>黃明膠一兩，水半升消了，入黃丹一兩，再煮三五沸，又放溫冷。以雞毛掃在瘡口上。</p>
<p>如未成即塗腫處，自消。</p>
<h4>拔毒七寶散</h4>
<p>治癰疽止痛。</p>
<p>干荷葉心當中如錢片，不計多少，為粗末。每用三匙，水二碗，漫火煎至一碗半，放溫淋洗揩干，以太白膏敷。</p>
<h4>沈遇明一方</h4>
<p>荷葉一兩，　本半兩，為末，如前用。</p>
<h4>太白膏</h4>
<p>寒水石水飛過，用臘月豬脂調成膏，隨瘡大小，用薄紙攤貼之。</p>
<h4>國老膏</h4>
<p>橫紋甘草一斤，擘開椎碎，用水一斗，浸兩宿，夏浸一宿，　細夾絹濾去滓，入銀石器內，漫火熬成膏，分作三服，每發以溫酒半升調下。更量年齒老少，分作數服。</p>
<h4>黃散</h4>
<p>令發背自潰。</p>
<p>綿黃　（細者，洗，焙，一兩）　甘草（炙，半兩）　皂角刺（擇紅紫者，銼，麩炒黃，一兩）</p>
<p>上細末，每服一大錢，酒一盞，乳香一塊，煎七分去滓，溫服。加當歸、赤芍藥各半兩尤效速。</p>
<h4>生犀散</h4>
<p>托裡排膿。</p>
<p>皂角刺（不計多少，粗大紫色者）</p>
<p>上藏瓶中，鹽泥固濟，炭火燒過存性，放冷，出碾為細末。每服一錢，薄酒微溫調下，暑月用陳米飲下。</p>
<h4>黃丸</h4>
<p>清心內固。</p>
<p>綿黃　（蜜炙）　人參（去蘆，各一兩）</p>
<p>上細末，入真生龍腦一錢，研細，用生藕汁和丸綠豆大，每服三十丸，溫熟水下。加至四十丸，日三服。</p>
<h4>內托散</h4>
<p>治一切瘡毒。</p>
<p>綠豆粉（一兩，細研）　通明乳香（一分，漫火於銀石器中炒，手指攪，使干可捻，急傾出在紙上，用扇扇冷，便研令極細用）</p>
<p>上同研勻，凡一切惡瘡，難名癰腫，每用二錢至三錢，食後臨臥濃煎甘草湯調下。如打撲及諸般內損，用溫酒調下，食後空心服些少，即內消，大損則敗血從大便出矣。</p>
<h4>治發背癰疽方</h4>
<p>車螯殼一兩個，泥固濟，火　為末，栝蔞一枚，燈心五十莖，蜜一大匙，用酒一升，煎下三味，微熟。調末二大錢服，不過二服。止痛去毒。</p>
<p>治癰疽已有瘡眼，未出膿，痛不可忍。用此藥　。即膿出。</p>
<p>巴豆一個，去皮膜，不去心油，鹽豉十四個，口中含去皮令軟，同研爛，入真麝少許。</p>
<p>如難便不</p>
<h4>治發背方</h4>
<p>草決明生用一升，搗碎，生甘草一兩，亦碎，水三升，煮取一升，溫分二服。大抵血滯則生瘡，肝為宿血之臟，而決明和肝氣，不損元氣也。</p>
<h4>玉真散</h4>
<p>治破傷風及打撲傷損。</p>
<p>天南星（湯洗七次）　防風（去釵股，各等分）</p>
<p>上細末，如破傷以藥敷貼瘡口，然後以溫酒調下一錢。如牙關急緊，角弓反張，用藥二錢，頭微</p>
<h2>卷第七</h2>
<h3>諸蟲飛尸鬼疰</h3>
<h4>制諸蟲方</h4>
<p>白蕪荑　檳榔（各一兩）</p>
<p>上為細末，蒸餅丸如梧子大，每服十五丸至二十丸，溫湯下。</p>
<h4>去勞熱方</h4>
<p>制蟲解勞，悅澤肌膚。</p>
<p>檳榔（一兩半）　乾漆（燒令煙盡，半兩）　龍膽（一兩）</p>
<p>上為細末，煉蜜丸如梧子大，每服十丸至十五丸，熟水下。</p>
<h4>治寸白蟲方</h4>
<p>黑鉛灰抄四錢一服，先吃豬肉脯少許，一時來，卻用沙糖濃水半盞調灰，五更服，蟲盡下，白粥將息一日。《良方》療寸白，用錫沙、蕪荑、檳榔者，極佳。</p>
<p>予宣和中，每覺心中多嘈雜，意謂飲作，又疑是蟲。漫依《良方》所說服。翌日下蟲二條，一長二尺五寸，頭扁闊尾尖銳。每寸作一節，斑斑如錦紋，一條皆寸斷矣。《千金》謂勞則生熱。熱則生蟲。心蟲曰蛔，脾蟲寸白，腎蟲如寸截絲縷，肝蟲如爛杏，肺蟲如蠶。五蟲皆能殺人，惟肺蟲為急。肺蟲居肺葉之內，蝕人肺系，故成瘵疾，咯血聲嘶，藥所不到，治之為難。有人說《道藏》中載諸蟲頭皆向下行，唯是初一至初五以前頭上行，故用藥者多取月　以前。蓋謂是也。</p>
<h4>《良方》。療寸白蟲方。</h4>
<p>錫沙（作銀泥者，無即以黃丹代，油和如梧子大）　蕪荑仁　檳榔（二物等分，為末）</p>
<p>上煎石榴根濃汁半升，下散三錢丸五枚，中夜服，旦日取下。</p>
<p>治飛尸者，游走皮膚，穿臟腑，每發刺痛，變作無常。遁尸者，附骨入肉，攻鑿血脈，每發不可得近。見尸喪者，聞哀哭便發。風尸者，淫濯四肢，不知痛之所在，每發昏沉。得風雪錯雜忍冬葉銼數斛，煮取濃汁，稠煎之，服如雞子大一枚，日三。太一神精丹蘇合香丸。治此疾第一。</p>
<h4>雄朱散</h4>
<p>因喪驚憂，悲哀煩惱，感尸氣而成諸變動不已，似冷似熱，風氣觸則發。</p>
<p>雄黃（水飛）　朱砂（水飛）　桔梗（炒）　羌活（去蘆）　當歸（洗，去蘆，薄切，焙乾，秤）</p>
<p>炒）　川芎（洗）</p>
<p>白僵炙）　紫蘇子（炒）</p>
<p>根節）　蜈蚣（二上為細末，每服二錢，酒調下，日三服。</p>
<p>頃在徽城日，嘗修合神精丹一料。庚申年予家一婦人夢魘，覺後心一點痛不可忍，昏悶一時竟，風之人平居無疾苦，忽如死人，身不動搖，默默不知人，目閉不能開，口噤不能言，或微知人，塞而之。</p>
<h4>白薇湯</h4>
<p>白薇　當歸（洗，去蘆，薄切，焙乾，秤，各一兩）　人參（去蘆，半兩）　甘草（一分，炙）</p>
<p>上粗末，每服五錢，水二盞，煎至一盞，去滓溫服。</p>
<h4>倉公散</h4>
<p>瓜蒂　藜蘆　雄黃（水飛）　礬石（　）</p>
<p>上各等分，細末，少許吹入鼻中。</p>
<h3>腹脅疼痛</h3>
<h4>枳實散</h4>
<p>治男子兩脅疼痛。</p>
<p>枳實（一兩，麩炒，去穰）　白芍藥（炒黃）　雀腦芎　人參（去蘆，各半兩）</p>
<p>上細末，薑棗湯調下二錢，酒亦得，食前，日三服。</p>
<h4>葛根湯</h4>
<p>治脅肋下痛，不美食。</p>
<p>葛根（半兩）　桔梗（炒）　防風（去釵股）　白芍藥　甘草（炙）　訶子（去核）　川芎（洗）</p>
<p>白朮　枳殼（各一兩，去穰，麩炒黃）</p>
<p>上粗末，每服四錢，水一盞半，薑棗同煎至七分，去滓。溫服，日四五服。</p>
<h4>枳殼煮散</h4>
<p>治悲哀煩惱傷肝氣，至兩脅骨疼，筋脈緊急，腰腳重滯，兩股筋急，兩脅牽痛，四肢不能舉，漸至脊膂攣急。此藥大治脅痛。</p>
<p>枳殼（去穰，麩炒黃）　細辛（去葉）　桔梗（炒）　防風（去釵股）　川芎（各四兩）</p>
<p>葛根（一兩半）　甘草（二兩，炙）</p>
<p>上粗末，每服四錢，水一盞半，薑三片，煎至七分，去滓，空心食前溫服。</p>
<h4>薏苡仁丸</h4>
<p>治脅痛如前，兼去手足枯悴。</p>
<p>薏苡仁（一兩）　石斛（用細者，去根，淨洗，細銼，三分）　附子（半兩，炮，去皮臍）</p>
<p>牛膝（酒浸，水洗，焙穰，麩炒黃）　細辛（去葉）</p>
<p>上細末，煉蜜丸如梧子大，每服三四十丸，酒吞下，空心食前，日三服。丸子可食前，煮散可食後，相兼服為佳。</p>
<h4>桂枝散</h4>
<p>治因驚傷肝，脅骨裡疼痛不已。</p>
<p>枳殼（一兩，小者，去穰，麩炒黃）　桂枝（去皮，半兩，不見火）</p>
<p>上細末，每服二錢，薑棗湯調下。</p>
<h4>芎葛湯</h4>
<p>治脅下疼痛不可忍，兼治腳弱。</p>
<p>川芎（洗）　干葛　桂枝（去皮，不見火）　細辛（去葉）　枳殼（去穰，麩炒黃）　人參（去蘆）　芍藥　麻黃（去節）　防風（去釵股，各半兩）　甘草（一分，炙）</p>
<p>上粗末，每服五錢，水二盞，生薑三片，同煎至七分，去滓，溫服，日三服。有汗避風</p>
<p>《沈存中良方》載：頃在建康。醫者王琪言：諸氣唯膀胱氣脅下痛最難治，謂神保丸能治之。熙寧中病項筋痛，諸醫皆作風治之，數月不瘥，乃流入背膂，久之又注右臂，攣痛甚苦。憶琪</p>
<h4>神保丸</h4>
<p>木香　胡椒（各二錢半）　干蠍（十個，去毒）　巴豆（十個，去皮心，研）</p>
<p>上為細末，湯釋蒸餅丸麻子大，朱砂為衣，每服三粒。心膈痛柿蒂燈心湯下；腹痛柿蒂煨薑煎湯下；血痛炒薑醋湯下；肺氣甚者白礬蛤粉各三分、黃丹一分同研為散，煎桑根白皮糯米錢下；治脅下風氣作塊，寒疝發作，連少腹痛湊心。其積屬肝，在右脅下。故病發則右邊手足頭面昏痛，不思食。止頭冷方。</p>
<p>干葛（一兩）　麻黃（三分，去節）　側子（一個，炮，去皮臍）　川芎（洗）　防風（去釵股）</p>
<p>草（炙）　當歸（洗，去蘆，上粗末，每服四錢，水一盞半，薑三片，同煎至七分，去滓，通口服，日三四服。有汗避風。</p>
<h3>雜病</h3>
<p>雄黃治瘡瘍尚矣。周禮瘍醫，凡療瘍以五毒攻之。鄭康成注云：今醫方合五毒之藥，用黃置石膽、丹砂、雄黃、　石、磁石其中，燒之三日三夜，其煙上著，以雞羽取之以注瘡，惡覆甌，內潰瘡中。少崔元亮海上方。治一切心痛，無問新久。以生地黃一味，隨人所食多少搗取汁，搜面作，或作冷淘。良久當利出蟲長一尺許，頭似壁宮，後不復患。劉禹錫傳信方。貞元十年，通事舍人崔抗女，患心痛垂氣絕。遂作地黃冷淘食之。便吐一物，可方一寸以來，如蝦蟆狀，無目足等，微似有口，蓋為此物所食。自此頓愈。面中忌用鹽。</p>
<p>唐硤州王及郎中充西路安撫使判官，乘騾入駱穀。及宿有痔疾，因此大作。其狀如胡瓜貫於腸頭，熱如　灰火。至驛僵仆，主驛吏云：此病某曾患來，須灸即瘥。用槐枝濃煎湯，先洗痔，便以艾炷灸其上，連灸三五壯，忽覺一道熱氣入腸中，因大轉瀉，先血後穢至痛楚，瀉後遂失胡瓜，登騾而馳。</p>
<p>服桑枝法。桑枝一小升，細切炒香，以水三大升，煎取二升，一日服盡。無時。《圖經》云：桑枝性平，不冷不熱，可以常服。療體中風癢干燥，香港腳風氣，四肢拘攣，上氣眼暈，肺氣咳嗽，消食利小便。久服輕身，聰明耳目，令人光澤。兼療口乾。《仙經》云：一切仙藥不得桑煎不服。出《抱朴子》。政和間予嘗病兩臂痛，服諸藥不效，依此作數劑，臂痛即愈。</p>
<p>治目方用黃連多矣，而羊肝丸尤奇異。用黃連末一兩，白羊子肝一具，去膜，同於砂盆內研令極細。眾手為丸，如梧子大，每服以溫水下三十丸，連作五劑。但是諸眼目疾及障翳青盲其面歷試諸藥也。因以唐鄭相云：予為南海節度，七十有五。越地卑濕，傷於內外，眾疾俱作，陽氣衰絕。乳石補常服去皮之，呼江陵府節度使進　丸方云：臣有弟　。年三十一，中風，床枕五年，百醫不瘥。有道人鐘針者，因睹此患曰：可餌　丸必愈。其藥多生沃壤，五月間收洗去土，摘其葉及枝頭，九蒸九曝，不必太燥，但取蒸為度，取為末，煉蜜丸如梧子大。空心溫酒或米飲下二十丸至三十丸，所患忽加，不得憂。至四十丸，必復如故。至五十服，當復丁壯。奉宣付醫院詳錄。又知益州張詠進表云：臣因換龍興觀，掘得一碑，內說修養氣術，並藥方二件。依方差人訪問采覓，其草頗有異。金棱、紫線、素根、紫　，對節而生，蜀號火　，莖葉頗同蒼耳。誰知至賤之中，乃有殊常之效。臣自吃至百服，眼目輕明。服至千服，髭鬢烏黑，筋力輕健。效驗多端。臣本州有都押衙羅守一，曾因中風墜馬，失音不語，臣與十服，其病立痊。又和尚知嚴，年七十，患偏風口眼　斜，時時吐涎，臣與七服，亦便瘥。今合一百劑，差職員史元唐柳柳州纂《救死三方》云：元和十二年二月，得香港腳，夜半痞絕，脅有塊大如石，且死，咽塞不知人三日，家人號哭。滎陽鄭洵美傳杉木湯，服半食頃，大下三次，氣通塊散。</p>
<p>用杉木節共煮取一恐他人不幸有崔給事頃在澤潞，與李抱真作判官，李相方以球杖按球子，其軍將以杖相格，乘勢不能止，因傷李相拇指，並爪甲擘破。遽索金瘡藥裹之，強坐頻索酒，飲至數杯，已過量，而面色愈青，忍痛不止。有軍吏言取蔥新折者，便入　灰火煨，乘熱剝皮擘開，其間有涕，取罨損處，仍多並涕裹纏，驢尿治反胃。《外台》載：昔幼年曾經患此疾，每食餅及羹粥等，須臾吐出。貞觀中許奉御兄弟及柴蔣等，時稱名醫，奉敕令治，罄竭其術，竟不能療。漸至羸憊，死在朝夕。忽有一衛士云：便定。迄至過多，盛取尿葛洪云：鬼疰者，是五尸之一疰，又挾諸鬼邪為害。其病變動，乃有三十六種至九十九種，大略使人寒熱淋瀝，沉沉默默，不的知所苦，無處不惡。累年積月漸就沉滯，以至於死，傳與旁人，及至滅門，覺如是候者。</p>
<p>急治獺肝一具，陰乾杵末，水服方寸匕，日三。未知再服。《肘後》出此方神良。</p>
<h3>椒紅丸</h3>
<p>治婦人血氣不調，臟腑怯弱，風冷邪氣，乘虛客搏，臍腹冷疼，脅肋時脹，面黃，肌體羸瘦，怠情嗜臥，不思飲食。常服補虛損，暖下臟，逐痼冷，進飲食。</p>
<p>沉香　莪朮　訶子（煨，去核）　椒紅（微炒，出汗）　當歸（微炒）　附子（炮，去尖、臍、皮）　白朮（各一兩）　麝香（一分，別研）　丁香　肉豆蔻（炮）　良薑（切，麻油炒，各半兩上細末，入麝香勻，酒煮面糊丸如梧桐子大，每服十丸，溫酒吞下，空心食前。</p>
<h3>勝紅丸</h3>
<p>莪朮　三棱　陳皮（去白）　青皮（去白）　縮砂（炒）　香附子（忌鐵）　乾薑（炮）</p>
<p>丁皮（去粗皮）　厚朴（薑製，炒，各等分）</p>
<p>上細末。煮麩糊為丸如梧桐子大，每服五十丸，生薑紫蘇湯送下，不拘時候。</p>
<h2>卷第八</h2>
<h3>傷寒時疫（上）</h3>
<p>治太陽中風，陽脈浮，陰脈弱，發熱汗出惡寒，鼻鳴乾嘔。桂枝湯。（今傷風古方謂之中風）</p>
<h4>桂枝湯</h4>
<p>桂枝（去皮，不見火）　芍藥（各一兩半）　甘草（一兩，炙）</p>
<p>上粗末，抄五錢，水一盞半，生薑三片，棗一個，同煎至八分，去滓溫服。若二三月病溫，宜陽旦湯。</p>
<h4>麻黃湯</h4>
<p>治太陽病頭痛發熱，身疼惡風，無汗而喘。</p>
<p>麻黃（去節，百沸湯泡，去黃汁，焙乾，一兩半）　杏仁（三十五枚，去皮尖）　桂枝（去皮，不見火，一兩）　甘草（半兩，炙）</p>
<p>上粗末，每服五錢。水一盞半，煎至八分，去滓溫服，覆取微汗，不須KT　粥。</p>
<p>加減法。傷寒熱病，藥性須涼，不可大溫。夏至後麻黃湯須加知母半兩、石膏一兩、黃芩一分。</p>
<p>方，不有仲景論治傷寒一則桂枝，二則麻黃，三則大青龍。桂枝治中風；麻黃治傷寒；大青龍治中風不用對之黃對若證榮行脈中，衛行仲景用桂枝以發肌之藥耳，故仲景於桂枝證云：令遍知中風不可大發汗，汗過則反動榮血而榮行脈中者也。寒邪居脈中，非是以汗不出而熱，齒干以煩冤。仲之邪。榮衛之病爾，大抵二藥皆發也。何以驗之？仲景《桂枝第十九以衛氣不共榮氣和諧故爾。以榮行脈</p>
<p>《第四十七證》云：發熱汗出者，此中風汗出者，榮和而衛不和。又《第一卷則傷衛，寒則傷榮，榮衛俱病，骨節煩疼，當發其汗。是知傷寒脈浮緊者，榮衛俱病也，麻黃湯中並用桂枝。此仲景之意也。至於大青龍雖治傷風見寒脈，傷寒見風脈之病。然仲景云：汗出惡風者，不可服之，服之厥逆，便有筋惕肉　之證，故大青龍一證尤難用，須是形證諦當，然後可行。故王實大夫證治，只用桂枝麻黃各半湯，蓋審之也。</p>
<h4>大青龍湯</h4>
<p>麻黃（三兩，去節，湯泡，去黃汁，焙乾，秤）　桂枝（去皮，不見火，一兩）　杏仁（二十枚，去皮、尖）　大棗（五枚）　生薑（一兩半，切碎）　甘草（一兩，炙）　石膏（如半雞子大，碎）</p>
<p>上銼如麻豆大，每服五錢，水一盞半，煮至八分，去滓溫服，取汗為度，若汗周身潤，止</p>
<h4>溫粉方</h4>
<p>白朮　本（去苗，淨洗）　川芎　白芷（不見火）</p>
<p>上細末，每服一兩，入米粉三兩和勻，粉撲周身以止汗。無　本亦得。若汗已出，盡劑服必汗多亡陽，厥逆惡風，煩躁不得眠也。</p>
<h4>桂枝加附子湯</h4>
<p>桂枝（去皮，不見火）　芍藥（各一兩半）　甘草（一兩。炙）　附子（半兩，炮，去皮臍）</p>
<p>上粗末，抄五錢，水一盞半，生薑三片棗十個同煎至八分，去滓溫服。</p>
<p>有一士人，得太陽證，因發汗，汗不止，惡風，小便澀，足攣曲而不伸。予診其脈浮而大，藥稍微急惡寒，腳便難，一則汗止。復佐以甘草芍藥</p>
<h4>桂枝加厚朴杏子湯</h4>
<p>桂枝（去皮，不見火）　芍藥（各一兩）　甘草（六錢三字，炙）　厚朴（六錢三字去粗皮，薑汁炙）　杏仁（去皮尖，十七個）</p>
<p>上銼如麻豆大，抄五大錢，水一盞半，生薑五片，肥棗二個，擘破，煎至八分，去滓溫服，覆取微汗。</p>
<p>戊申正月，有一武臣為寇所執，置舟中　板下，數日得脫，乘飢恣食，良久解衣捫虱，次日遂作傷寒，自汗而膈不利。一醫作傷食而下之，一醫作解衣中邪而汗之，雜治數日，漸覺昏子湯醫曰無</p>
<h4>大柴胡湯</h4>
<p>柴胡（二兩，去苗洗）　黃芩（去皮）　芍藥（各三兩）　半夏（六錢二字，湯浸七次）</p>
<p>枳實（二枚，去穰，麩炒）　大黃（半兩，伊芳尹湯液論大柴胡同薑棗共八味，今監本無脫之也）</p>
<p>上粗末，抄五錢，水一盞半，生薑五片，肥棗一個，擘破，煎至八分，去滓溫服，以利為度脈洪與柴曰：至尊從之，痛鼻曰：陽明胡，此仲景者急下之，人多口乾燥者，急下之。</p>
<p>斯二者，則其他疑惑處者，亦猶急當救表，急當救則為徑捷，免致用蜜兌也。</p>
<p>穩也。</p>
<p>又記一鄉人傷寒身熱，大便不通，煩渴鬱冒。醫者用巴豆藥下之。雖得溏利，病宛然如舊。予視之，陽明熱結在裡，非大柴胡、承氣等不可。巴豆只去積，安能蕩滌邪熱蘊毒邪。</p>
<p>急進大柴胡等三服，得汗而解。　嘗謂仲景百一十三方，為丸者有五。理中、陷胸、抵當、烏梅、麻仁。是烏梅治濕　，皆用小丸以未聞用巴豆小丸藥以下邪氣方》云：若身體疼痛，</p>
<h4>白虎加蒼朮湯</h4>
<p>治濕溫多汗。</p>
<p>知母（六兩）　甘草（炙，二合）　石膏（一斤）　蒼朮（三兩，米泔浸）　粳米（三兩）</p>
<p>上銼如麻豆大，每服四大錢，水一盞半，煎至八分，去滓，取六釐清汁，溫服。</p>
<p>癸丑年，故人王彥龍作毗陵倉官，季夏得疾。胸項多汗，兩足逆冷，譫語。醫者不曉，雜進藥已濕相摶，三日愈。此實邪、虛邪從所勝來者為微邪受暑而濕邪勝之，水溫之脈，陽濡而弱，陰小故《經》曰暑濕相摶。名曰濕溫足汗　未嘗干。每服此藥二三盞，</p>
<h4>黃建中加當歸湯</h4>
<p>黃　（蜜炙）　當歸（洗，去蘆，薄切，焙乾，秤，各一兩半）　白芍藥（三兩）　桂（一兩一分去粗皮不見火）　甘草（一兩，炙）</p>
<p>上粗末，每服五錢，生薑三片，棗一個，水一盞半，同煎至八分，去滓，取七釐清汁，日三服，夜二服，尺脈尚遲，再作一劑。</p>
<p>昔有鄉人丘生者病傷寒。予為診視，發熱頭疼煩渴，脈雖浮數而無力，尺以下遲而弱。</p>
<p>予曰：雖屬麻黃證，而尺遲弱。仲景云：尺中遲者，榮氣不足，血氣微少，未可發汗。予於建中但只得汗矣時日，官，武之曰：二年乎文伯曰效乎。</p>
<p>之戒。</p>
<h4>蜜兌法</h4>
<p>蜜四兩，銅器中文武火煎之稍凝如飴狀，攪之勿令焦，候可丸。即取出捻作梃，如指許長二寸，當熱時急作，令頭銳，納穀道中，以手急抱定。欲大便時乃去之，未利再作。</p>
<p>有一士人家病者二人，皆旬日矣。</p>
<p>一則身熱發汗，大便不通，小便如經，神昏多睡，診其脈長大而虛。予用承氣湯下之而愈。</p>
<p>一則陽明自汗，大便不通，小便利，津液少口乾燥，其脈亦大而虛。予作蜜兌三易之，下燥屎，得溏利而解。其家問曰：皆陽明大便不通，何治之異？予曰：二症雖相似，然自汗小便利者，不可蕩滌五臟，為無津液也，然則傷寒大證相似。余證稍有不同，要在變通仔細斟酌，不可不謹。</p>
<h4>破陰丹</h4>
<p>治陰中伏陽。</p>
<p>硫黃（舶上者）　水銀（各一兩）　陳皮（去白）　青皮（去白，各半兩，末）</p>
<p>上先將硫黃銚子內熔，次下水銀，用鐵杖子打勻，令無星，傾入黑茶盞內，研細，入二味勻研，用濃面糊丸如桐子大，每服三十丸。如煩躁，冷鹽湯下。如陰證，冷艾湯下。</p>
<p>頃年鄉人李信道得疾，六脈沉不見，深按至骨，則沉緊有力。頭疼身溫煩躁，指末皆冷，中此證則藥陽</p>
<h4>小柴胡加地黃湯</h4>
<p>治婦人室女傷寒發熱，或發寒熱，經水適來，或適斷，晝則明了，夜則譫語，如見鬼狀。亦治產後惡露方來，忽爾斷絕。</p>
<p>柴胡（一兩一分，去苗，洗淨）　人參（去蘆）　半夏（湯洗七次）　黃芩（去皮）　甘草（炙）</p>
<p>上粗末，每服五錢，水二盞，生薑五片，棗二個，同煎至八分，去滓溫服。</p>
<p>辛亥中寓居毗陵，學官王仲禮，其妹病傷寒發寒熱，遇夜則如有鬼物所憑，六七日忽昏塞，涎響如引鋸，牙關緊急，瞑目不知人，疾勢極危，召予視。予曰：得病之初，曾值月經來否？其家云：月經方來，病作而經遂止，得一二日，發寒熱，晝雖靜。夜則有鬼祟。從昨日來晝胸兩時頃，涎下得睡省人事，次授以小柴胡加地黃湯，三服而熱除，不汗而自解矣。（一呷散附卷末）</p>
<p>又記一婦人患熱入血室證，醫者不識，用補血調氣藥，涵養數日，遂成血結胸。或勸用前藥。予曰：小柴胡用已遲，不可行也。無已，則有一焉。刺期門穴斯可矣。予不能針，請善針相搏譫語方今人書》海蛤散治血結胸。</p>
<p>期門二穴，直兩乳第二肋間，是穴肝經脾經陰維之會。婦人傷寒，過經不解，當針期門使經不傳，可針四分。又治胸中煩熱，奔　上下，霍亂泄利，腹堅硬，喘不得臥，脅下積氣，產後余疾，飲食不下，胸脅支滿，心中切痛，可灸五壯。</p>
<h4>海蛤散</h4>
<p>婦人傷寒血結胸膈，揉而痛不可撫近。</p>
<p>海蛤　滑石　甘草（炙，各一兩）　芒硝（半兩）</p>
<p>上為末，每服二錢，雞子清調下。</p>
<p>小腸通利，則胸膈血散；膻中血聚，則小腸壅。小腸壅膻中血不流行，宜此方。若小便血數行，更宜桂枝紅花湯，發其汗則愈。《活人書》云此方疑非仲景方，然其言頗有理，姑存之。桂枝紅花湯只桂枝湯中加紅花一捻。</p>
<h4>真武湯</h4>
<p>治太陽病汗過不解，頭眩筋惕肉　。</p>
<p>茯苓（去皮）　芍藥（各三分）　附子（一枚，炮，去皮臍，用四之一）　白朮（半兩）</p>
<p>上粗末，抄五錢，生薑五片，水一盞半，煎八分，去滓溫服。若小便利者去茯苓，下利者去分。</p>
<p>鄉裡有姓京者，以鬻繩為業。子年三十，初得病身微汗，脈弱惡風。醫以麻黃藥與之，汗遂不止，發熱心多驚悸，夜不得眠，譫語不識人，筋惕肉　，振振動搖。醫者又進驚風藥。</p>
<p>予為</p>
<h4>清心丸</h4>
<p>退余熱，生津液，止煩渴。</p>
<p>地骨皮（去心）　黃芩（去皮）　麥門冬（用水　去心）　青黛　車前子　烏梅肉　蒲黃（炒）</p>
<p>上為末，煉蜜丸如彈子，非時含化一丸，或熟水化服。</p>
<h4>竹葉石膏湯</h4>
<p>治大病後虛羸少氣，嘔逆欲吐。</p>
<p>石膏（四兩，杵碎）　半夏（七錢半，湯洗七次）　人參（半兩，去蘆）　麥門冬（二兩，用水去心）　淡竹葉（半把）　甘草（半兩，炙）　嘔者加生薑一兩半。</p>
<p>上銼如麻豆大，每服五錢，水一盞半，粳米一百余粒，煮至八分，米熟湯成，去滓溫服</p>
<h4>白虎加人參湯</h4>
<p>石膏（四兩，杵碎，綿裹）　知母（一兩半）　甘草（二兩半，炙）　粳米（一合半）　人參（半兩，去蘆）</p>
<p>上銼如麻豆大，每服五錢，水一盞半，煮至八分，米熟為度，去滓溫服。（《局方》云食後服此藥，立夏後、立秋前可服，春時及立秋後並亡血虛家並不可服）</p>
<p>有人病初嘔吐，俄為醫者下之，已七八日，而內外發熱。予診之曰：當用白虎加人參湯。或表而愈云：寒。</p>
<p>表不過</p>
<h4>肉豆蔻湯</h4>
<p>治傷寒汗後吃噫。</p>
<p>肉豆蔻（一個）　石蓮肉（去心，炒）　茴香（各一分，炒）　丁香（半分，不見火）　枇杷葉（五片，拭去上銼細，用水四盞，生薑十片，煎二盞，去滓，空心溫服，分二服。</p>
<h4>良薑湯</h4>
<p>橘皮（去白）　良薑（切，炒）　桂枝（去皮，不見火）　當歸（洗，去蘆，薄切，焙乾，秤，各一分）　麻黃分，炙）　杏仁（二十上粗末，用水四盞，薑十片，棗三個，同煎至二盞，去滓，下檳榔末再煎三沸，通口服一盞不下</p>
<h4>吃噫又方</h4>
<p>枳殼（半兩，去穰，麩炒黃）　木香（一錢）</p>
<p>上細末，每服一錢，白湯調下，未知，再與。</p>
<h4>滑石丸</h4>
<p>治傷寒衄血。</p>
<p>滑石末，不拘多少，飯丸如桐子大，每服十丸，微嚼破，新水咽下立止，只用藥末一大錢，飯少許，同嚼下亦得。老幼皆可服。</p>
<p>陽晦叔云：鼻衄者當汗不汗所致，其血青黑時，不以多少，勿得止。宜服溫和藥以調其榮衛。才見血鮮，急以此藥止之。</p>
<p><u>方在前</u></p>
<p>有人病發熱惡寒自汗，脈浮而微弱，三服此湯而愈。此方在仲景一百十三方內，獨冠其首。今人全不用，苦哉。仲景云：太陽中風，陽浮而陰弱，陽浮者熱自發，陰弱者汗自出，嗇嗇所以名發之不</p>
<h4>茵陳蒿湯</h4>
<p>治胃中有熱有濕有宿穀，相摶發黃。</p>
<p>茵陳蒿（嫩者，一兩半）　大黃（三分，以濕紙裹甑上蒸）　梔子（小者十枚去皮）</p>
<p>上粗末，每服一錢，水一盞半，煎至八分，去滓，調五苓散二錢服，以知為度。</p>
<p>五苓散。治傷寒溫熱病表裡未解，頭痛發熱，口燥咽乾，煩渴飲水，或水入即吐，或小便不利，及汗出表解煩渴不止者宜服。又治霍亂吐瀉，燥渴引飲。</p>
<h4>五苓散</h4>
<p>豬苓（去黑皮，一兩半）　澤瀉（二兩半）　白朮（一兩半）　白茯苓（去皮，一兩半）</p>
<p>桂（一兩，去粗皮，不見火）</p>
<p>上件各事持搗為散，拌勻，每服三錢，白湯調下，不計時候，服訖多飲熱湯。汗出即愈。又服。</p>
<h4>瓜蒂散</h4>
<p>治頭中寒濕發黃膽。</p>
<p>瓜蒂（二七個）　赤小豆　秫米（各二七粒）</p>
<p>上細末，水法丸如大豆大，一枚許納鼻中，縮鼻令入，當出黃水，切不可吹入。</p>
<p>庚戌年避地維揚界，有一家病傷寒七八日，身體洞黃，鼻目皆痛，兩髀及項頸腰脊強急，大而調五又記一家病身體痛，面黃喘滿，頭痛，自能飲食，大小便如經。予診之脈大而虛，鼻塞且煩發藥之又記一舟梢病傷寒發黃，鼻內酸痛，身與目如金，小便赤而數，大便如經。或者欲用茵陳五清道鼻一呷散，即《九龠衛生》方驅風妙應散。療危惡諸風，角弓反張，失音不語，牙關緊急，涎潮發搐，目瞪直視，精神昏塞。（呷迄甲切吸呷也）</p>
<p>大天南星（不拘多少）</p>
<p>上選臘辰日，以河水露星宿下浸四十九日，浸畢取出，用米泔水洗去滑，焙乾為細末。</p>
<p>每服大人用一錢，小兒一字。並生薑薄荷湯調服。如牙關緊急，口緊不開，即斡開口。先以此藥</p>
<h2>卷第九</h2>
<h3>傷寒時疫（下）</h3>
<h4>治結胸灸法</h4>
<p><u>陰毒傷寒，關格不通、腹脹喘促、四肢逆冷亦依此灸之，氣通可治</u></p>
<p>巴豆（十四枚）　黃連（七寸，和皮用）</p>
<p>上搗細，用津唾和成膏，填入臍心，以艾灸其上。腹中有聲，其病去矣。不拘壯數，病去為度。才灸了，便以溫湯浸手帕拭之，恐生瘡也。</p>
<h4>鵲石散</h4>
<p>治傷寒發狂，或棄衣奔走，逾牆上屋。</p>
<p>黃連（去須）　寒水石（各等分）</p>
<p>上細末，每服二錢，濃煎甘草湯，放冷調服。</p>
<h4>桂枝麻黃各半湯</h4>
<p><u>方在前</u></p>
<p>嘗記一親戚病傷寒，身熱頭疼無汗，大便不通已四五日。予訊問之，見醫者治大黃、朴硝等欲此。雖邪乘通而解表為禍必死堅秘便下</p>
<h4>抵當丸</h4>
<p>治瘀血。</p>
<p>水蛭（五枚，炙）　虻蟲（五枚，去翅、足，炒）　桃仁（六枚，去皮、尖）　大黃（去皮、濕紙裹甑上蒸，三分）</p>
<p>上為末，煉蜜和作一丸，以水一盞，煎至七分，頓服。　時當下血，不下，再作之。</p>
<p>有人病傷寒七八日，脈微而沉，身黃發狂，小腹脹滿，臍下冷，小便利。予曰：仲景云太陽投以抵當丸，下黑血數升，狂止得汗解。《經》云：血在上則忘，在下則狂。太陽膀胱。隨經而蓄難經為闌</p>
<h4>破陰丹</h4>
<p><u>在前</u></p>
<p>有人初得病，四肢逆冷，臍下築痛，身疼如被杖，蓋陰症也。急服金液、破陰、來復等丹，陽脈予曰論滑合也俄降</p>
<h4>金液丹</h4>
<p>硫黃十兩，先飛煉去沙石，秤研為細末，用磁合子盛，以水和赤石脂封口，以鹽泥固濟燃干加頂每冷腳膝血不自汗</p>
<h4>來復丹</h4>
<p><u>本方不用玄精石，其效尤速</u></p>
<p>硝石（一兩，同硫黃細末入定　內，微火漫炒，柳篦子不住手攪，令陰陽氣相入，不可火太過，恐傷藥力，再研極細，各二HT　末）　舶上硫黃（一兩，透明不夾石者）</p>
<p>五靈脂（二兩，須擇五台山者，用水澄去砂石，日干，淨研）　太陰玄精石（一兩，研細，水飛）　陳橘皮（二兩，去白）　青橘皮（二兩，去白）</p>
<p>上用五靈脂、二橘皮為細末，次入玄精石末及前二HT　末拌勻，以好滴醋打糊丸如豌豆大，每服三十粒，空心粥飲下。甚者五十粒。小兒三五粒，新生嬰兒一粒。小兒慢驚風或吐利不止，變成虛風搐搦者，非風也，胃氣欲絕故也。用五粒研碎米飲送下，老人伏熱迷悶紫蘇湯下，婦人產後，血逆上搶悶絕，並惡露不止，及赤白帶下，並用醋湯下。此藥治榮衛不交養，心腎不升降，上實下虛，氣悶痰厥，心腹冷痛，臟腑虛滑。不問男女老幼危急之證，但有胃氣，無不獲安。補損扶虛，救陰助陽，為效殊勝。常服和陰陽益神，散腰腎陰濕，止腹脅冷疼，立見神效。應諸疾不辨陰陽證者，並宜服之。（中暑昏亂、煩躁、垂死，急用新汲水調五</p>
<h4>氣海</h4>
<p>氣海一穴，道家名曰丹田，在臍下一寸五分，任脈氣所發。治臍下冷氣上衝，心下氣結成生穴灸治傷寒汗後，脾胃傷冷物，胸膈不快，尋常血氣不和。宜服補脾湯。（此即治中湯也）</p>
<h4>補脾湯</h4>
<p>人參（去蘆）　乾薑（炮）　白朮　甘草（炙）　陳皮（去白）　青皮（去白等分）</p>
<p>上細末，每服三錢，水一盞，煎數沸，熱服，入鹽點亦得。</p>
<p>記有人患傷寒得汗數日，忽身熱自汗，脈弦數，心不得寧，真勞復也。予診曰：勞心之所致幾得子不金生我者也，同義。方治</p>
<h4>白虎湯</h4>
<p>治中　。</p>
<p>知母（一兩半）　甘草（半兩，炙）　石膏（四兩，碎，綿裹）　粳米（一合半）</p>
<p>上銼如麻豆大，每服五錢，水一盞，煮至八分，去滓溫服。</p>
<p>有人頭疼身熱，心煩躁渴，診其脈大而虛。予授以白虎湯數服愈。仲景云：脈虛身熱，得之傷暑。又云：其脈弦細芤遲何也？《素問》云：寒傷形，熱傷氣。蓋傷氣不傷形，則氣消而脈虛可知。</p>
<h4>麻黃湯</h4>
<p>（方在前）</p>
<p>有人病傷寒。身熱頭痛。予診之曰：邪在表，此表實證也，當汗之以麻黃湯。或人問曰：傷必虛寒，有表景麻黃湯四逆之類愈也。嘗延當發汗</p>
<h4>小柴胡湯</h4>
<p>柴胡（二兩，去苗，淨洗）　黃芩（去皮）　人參（去蘆）　甘草（各三分炙）　半夏（六錢一字，湯洗七次）</p>
<p>上粗末，每服五錢，水一盞半，生薑五片，棗二個，同煎至八分，去滓溫，日三服。若胸中參合前加牡蠣加桂三有人患傷寒又汗出滿悶，為陰。脈雖沉愈。仲景稱傷為陽微結，必在裡。此為半知非少陰也。</p>
<p>曰：仲景云：出者，故知非冷，脈沉緊至胸而還，矣，故仲景腎為足少</p>
<p>治太陽陽明合病。（方在前）</p>
<p>有人病傷寒脈浮而長，喘而胸滿，身熱頭痛，腰脊強，鼻干不得臥。予曰：太陽陽明合病證麻黃仲為不合少曰陰中之因中風寒者考之，陽為終之少陰，少陰而後厥</p>
<h4>小承氣湯</h4>
<p>大黃（一兩，去皮）　厚朴（半兩，去皮，薑汁塗炙）　枳實（二片，去穰，麩炒）</p>
<p>上三味，銼如麻豆大，每服三錢，水一盞，煮至三分，去滓溫服。以利為度。初服須更衣者錢，有人病傷寒八九日，身熱無汗，時時譫語，時因下利，大便不通三日矣。非煩非躁，非寒非之曰仲景難乍易此夜非寒非痛胃中安又有人病傷寒，大便不利，日晡發潮熱，手循衣縫兩手撮空，直視喘急，更數醫矣，見之皆已便利，諸疾漸退，脈且微弦，半月愈。或人問曰：下之而脈弦者生，此何意也？予曰：《金匱湯陽明此所以有生也。</p>
<p>又記有人病傷寒下利，身熱神昏多困，譫語不得眠，或者見下利，便以譫語為鄭聲，為陰虛證也。</p>
<p>甚者從用，通因通止。此通因</p>
<h4>葛根湯</h4>
<p>治項背強。</p>
<p>葛根（一兩）　麻黃（三分，去節）　桂枝（去皮，不見火）　甘草（炙）　芍藥（各半兩）</p>
<p>上粗末，每服五錢，水一盞半，煎至八分，去滓溫服，覆汗為度。</p>
<p>有人患傷寒無汗惡風，項既屈而且強。予曰：項強幾幾，葛根湯證。或人問曰：何謂KTKT　？予曰：KT　KT　者，如凡足疾屈而強也。謝復古謂病患羸弱，須憑幾而起，誤也。</p>
<p>蓋仲景論中極有難曉處，如振振欲擗地，心中懊　，外邪怫鬱，鬱冒不仁，膈內拒痛。如此之類甚多。</p>
<h4>始得陰毒候</h4>
<p>熙寧中　守宋迪，因其猶子感傷寒之初，不能辨其病症，見其煩渴而汗多，以涼藥解治之，因欲守，或多尺部則渴轉陰散、五</p>
<h4>正元散</h4>
<p>治傷寒。如覺傷寒吹著四肢，頭目百骨節疼痛，急煎此藥服。如人行五裡，再進三服。出汗立瘥。若患陰毒傷寒，入退陰散半錢同煎。或傷冷傷食，頭昏氣滿，及心疾，服之無有不見效。</p>
<p>麻黃（去節，秤）　陳皮（去白）　大黃（生）　甘草（炙）　乾薑（炮）　肉桂（去粗皮，不見火）　芍藥　附子（炮，去皮臍）　茱萸（揀淨，湯泡十次，焙）　半夏（湯洗七次，各等分）</p>
<p>上麻黃加一半，茱萸減一半，同為末，每服一大錢，水一盞，生薑三片，棗一個，煎至七分秋</p>
<h4>退陰散</h4>
<p>治陰毒傷寒，手足逆冷，脈沉細，頭痛腰重。連進三服。小小傷冷，每服一字散內同煎，入鹽一捻。陰毒傷寒咳逆，煎一服細細熱呷便止。</p>
<p>川烏（炮去皮臍）　乾薑（炮，各等分）</p>
<p>上為粗末，炒令轉色，放冷再搗為細末，每服一錢，水一盞，鹽一捻，煎半盞，去滓溫服。</p>
<h4>五勝散</h4>
<p>治傷寒頭痛壯熱，骨節疼痛，昏沉困倦，咳嗽鼻塞，不思飲食。兼治傷寒夾冷毒神效方。</p>
<p>白朮　甘草（炙）　五味子（揀）　石膏（各四兩）　乾薑（三兩半，炮）</p>
<p>上為末，每服二錢，水八分盞，入鹽少許，同煎至六分，通口服。如冷氣相夾入薑棗煎。或治陰毒病，入艾少許同煎。</p>
<h4>陰毒漸深候</h4>
<p>積陰感於下，則微陽消於上，故其候沉重。四肢逆冷，腹痛轉甚，或咽喉不利，或心下脹滿證者散、</p>
<h4>玉女散</h4>
<p>治陰毒瓦斯攻上腹痛。四肢逆冷惡候並治之。</p>
<p>川烏去皮臍，冷水浸七日後，薄切曝乾，紙袋盛。有患者，取碾末一大錢，入鹽一小錢，水一盞半，煎至七分，通口服。壓下陰毒。所往如豬血相似。未已，良久再進一服。</p>
<h4>還陽散</h4>
<p>治陰毒面色青，四肢逆冷，心躁腹痛。</p>
<p>用硫黃末新汲水調下二錢，良久，或寒一起，或熱一起，更看緊慢，再服，汗出瘥。</p>
<h4>陰毒沉困候</h4>
<p>沉困之候。與前漸深之候皆同，而更加困重。六脈附骨，取之方有，按之即無，一息八至以上足不而和</p>
<h4>辨少陰脈緊證</h4>
<p>記有人患傷寒六七日，心煩昏睡多吐，小便白色，自汗。予診之，寸口尺中俱緊。予曰：寒下利予曰唇口乾燥，蜷臥足冷，鼻中涕出，舌上滑胎，勿妄治也。又云：緊則為寒。又云：諸緊為。又云：曾為人所難，緊脈從何而來？師云：假令已汗若吐，以肺裡寒，故令脈緊。假令咳者，坐飲冷水，故令脈緊。假令下利以胃虛，故令脈緊。又云：寸口脈微，尺脈緊，其人虛損多汗。由是觀之。則寒邪之氣，入人經絡所致，皆虛寒之脈也。其在陽經則浮而緊，在陰經也又云：少陰沉而緊也。</p>
<p>遲數為定，本孫吳，葬舍律呂而皆大浮數動滑陽脈，陰病見陽生可得，沉澀弦微弱屬陰，陽病見陰終死厄。</p>
<p>仲景云：脈大浮數動滑，此名陽也。脈沉澀弱弦微，此名陰也。陰病見陽脈者生，陽病見陰脈者死，陰陽交互最難明，輕重斟量當別白。</p>
<p>脈雖有陰陽，須看輕重，以分表裡。</p>
<p>輕手脈浮為在表，表實浮而兼有力，但浮無力表中虛，自汗惡風常淅淅。</p>
<p>傷寒先要辨表裡虛實，此四者為急。仲景浮為在表，沉為在裡。然表症有虛有實。浮而有力者，表實也，故無汗不惡風。浮而無力者，表虛也，故自汗惡風。</p>
<p>重手脈沉為在裡，裡實脈沉來亦實，重手無力大而虛，此是裡虛宜審的。</p>
<p>裡症亦有虛實。脈沉而有力者，裡實也，故腹滿大便不通。沉而無力者，裡虛也，或泄利，或陰症之類。以上八句，辨表裡虛實盡矣。</p>
<p>風則虛浮寒牢堅，水停水　必沉潛。動則為痛數為熱，支飲應須脈急弦。太過之脈為可怪，不及之脈亦如然。</p>
<p>仲景云：風則虛浮，寒則牢堅，沉潛水　，支飲急弦，動則為痛，數則熱煩，太過可怪，不及亦然。邪不空見，中必有奸。</p>
<p>榮衛太盛名高章，高章相搏名曰綱。榮衛微時名　卑，　卑相搏損名揚。榮衛既和名緩遲，緩遲名沉此最良。九種脈中辨疾症，長沙之訣妙難量。</p>
<p>仲景云：寸口衛氣盛，名曰高，榮氣盛名曰章，高章相搏，名曰綱；衛氣弱名曰　，榮氣弱仲景瞥瞥有如羹上肥，此脈定知陽氣微。縈縈來如蛛絲細，卻是體中陰氣衰。脈如瀉漆之絕者，病患亡血更何疑。</p>
<p>仲景云：脈瞥瞥如羹上肥者，陽氣微也。脈縈縈如蛛絲細者，陽氣衰也。脈綿綿如瀉漆之絕者，亡血也。陽氣衰。《千金》作陰氣衰。</p>
<p>陽結藹藹如車蓋，陰結循竿亦象之。</p>
<p>仲景云：藹藹如車蓋者，陽結也。累累如循竿者，陰結也。</p>
<p>陽盛則促來一止，陰盛則結緩而遲。</p>
<p>此謂促結二脈也。仲景云：脈來緩時一止名曰結，脈來數時一止名曰促，陽盛則促。陰盛則結。縱橫逆順宜審察，殘賊災怪要須知。</p>
<p>仲景云：脈有相乘，有縱有橫，有逆有順，何謂也？曰水行乘火，金行乘木，名曰縱；火行順也作脈靜人病內虛故，人安脈病曰行尸。</p>
<p>仲景云：脈病患不病曰行尸，以無主氣，卒仆不知人。人病脈不病名曰內虛，以無穀神，雖困無苦。右手氣口當主氣，主血人迎左其位。氣口緊盛食必傷，人迎緊盛寒邪熾。</p>
<p>左為人迎，右為氣口。人迎緊盛傷於寒，氣口緊盛傷於食。</p>
<p>數為在腑遲為臟，浮為在表沉在裡。</p>
<p>仲景云：浮為在表，沉為在裡，數為在腑，遲為在臟。</p>
<p>脈浮而緩風傷衛，浮緊堅澀寒傷榮，脈微大忌令人吐，欲下猶防虛且細。</p>
<p>仲景云：脈微不可吐，虛細不可下。</p>
<p>沉微氣弱汗為難，三者要須當審記。</p>
<p>孫用和云：陰虛脈沉微而氣弱者，不可汗。汗下吐三候脈有不可行者，切當審之。</p>
<p>陽加於陰有汗證，左手沉微卻應未。</p>
<p>《素問》云：陽加於陰謂之汗。</p>
<p>趺陽胃脈定死生。</p>
<p>《仲景論》言趺陽脈者，十有八九。</p>
<p>太谿腎脈為根蒂。</p>
<p>傷寒必診太谿趺陽者，謂人以腎脈胃脈為主。仲景譏世人握手不及足者以此。</p>
<p>脈來六至或七至，邪氣漸深須用意。浮大晝加病屬陽，沉細夜加分陰位。九至以上來短促，狀若涌泉無入氣。更加懸絕漸無根，命絕天真當死矣。</p>
<p>孫用和云：脈及六至七至以上，浮大晝加病，沉細夜加病。更及八至，精氣消，神氣亂，必懸絕病患三部脈調勻，大小浮沉遲數類，此是陰陽氣已和，勿藥自然應有喜。</p>
<p>仲景云：寸口關上尺中三處，大小浮沉遲數同等，雖有寒熱不解，此脈已和，為必愈。</p>
<p>發熱惡寒，近似傷寒者，有五種。脈浮而數，其人發熱而惡寒者，傷寒之候也。脈浮而緊，嘔吐弦，</p>
<h4>來蘇丹</h4>
<p>定喘治久嗽。</p>
<p>雄黃　雌黃　砒霜（等分）</p>
<p>上為粗末，入瓷罐子內盛，勿令滿，上以新瓷盞蓋頭，赤石脂水調泥合縫，候透干以炭火簇罐子，盞內盛清水半盞，水耗再添水，自早至晚後住火，經宿取出，藥在盞底結成。取下藥</p>
<h2>卷第十</h2>
<h3>婦人諸疾</h3>
<h4>四物湯</h4>
<p>治婦人榮衛氣虛，挾風冷，胸脅膨脹，腹中　痛，經水愆期，或多或少，崩傷漏下，腰腿痛重，面色青黃，嗜臥無力，安胎止痛，補虛益血。</p>
<p>當歸（去蘆，洗，薄切，焙乾，秤）　芎　熟乾地黃（酒洒九蒸九曝，焙，秤）　白芍藥（各等分）</p>
<p>上粗末，每服四錢，水一盞，煎至八分，去滓溫服，不拘時候。</p>
<h4>滑胎枳殼散</h4>
<p>甘草（一兩，炙）　商州枳殼（二兩，去穰，麩炒黃）</p>
<p>上細末，每服二錢，百沸湯點服，空心食前，日三服，凡懷孕六七月以上即服，令兒易生，冠。</p>
<h4>內補丸</h4>
<p>治妊娠衝任脈虛，補血安胎。</p>
<p>熟乾地黃（酒洒九蒸九曝，焙，秤，二兩）　當歸（去蘆，洗，切，焙乾，微炒，一兩）</p>
<p>上細末，煉蜜和丸如桐子大，每服三四十丸，溫酒下。</p>
<p>以上三方，諸集皆載之，在人用之如何爾。大率婦人妊娠，惟在抑陽助陰。《素問》云：陰搏陽婦人平固。《素雜，別生他病有胎寒腹痛之未嘗論及也。</p>
<h4>木香丸</h4>
<p>治婦人有孕傷飲食。</p>
<p>木香（二錢匕）　京三棱（京三棱能落胎，不可用，用前胡五錢）　人參（去蘆）　白茯苓（去皮，各三錢匕）　上細末，面糊丸如綠豆大，每服三十丸熟水下。</p>
<h4>白朮散</h4>
<p>治妊娠氣不和調，飲食少。</p>
<p>白朮（炒）　干紫蘇（各一兩）　白芷（微炒，三分）　人參（三分，去蘆）　川芎（洗）</p>
<p>訶子皮青皮（去白，各半兩）　甘草（一分，炙）</p>
<p>上細末，每服二錢，水一盞，薑三片，煎七分，不拘時候溫服。</p>
<p>《經》云：飲食自倍，腸胃乃傷。又云：陰之所生，過在五味。陰之五宮，傷在五味。</p>
<p>若妊子飲最穩捷。</p>
<h4>紫蘇飲</h4>
<p>治妊娠胎氣不和，懷胎近上，脹滿疼痛，謂之子懸。兼治臨產驚恐，氣結連日不產。</p>
<p>大腹皮　人參（去蘆）　川芎（洗）　陳橘皮（去白）　白芍藥（各半兩）　當歸（洗，去蘆，薄切，三錢）　紫蘇莖葉（一兩）　甘草（一錢，炙）</p>
<p>上各細銼，分作三服，每服用水一盞半，生薑四片，蔥白七寸，煎至七分，去渣空心服。</p>
<p>曾有婦人累日產不下，服遍催生藥不驗。予曰：此必坐草太早，心懷恐懼，氣結而然，非不氣乃</p>
<h4>下死胎方</h4>
<p>桂末二錢，麝香當門子一個，同研，暖酒服，須臾如手推下。此不用水銀等。此藥不損血氣。趙和叔傳。</p>
<h4>紫石英丸</h4>
<p>治婦人病多是月經乍多乍少，或前或後，時發疼痛，醫者一例呼為經病，不曾說得是陰勝陽，是陽勝陰，所以服藥少得有效。蓋陰氣乘陽，則胞寒氣冷，血不營運，經所謂天寒地凍，水凝成冰，故令乍少，而在月後。若陽氣乘陰，則血流散溢，經所謂天暑地熱，經水沸溢，故令乍多，而在月前。當和其陰陽，調其血氣，使不相乘，以平為福。</p>
<p>紫石英　禹餘糧（燒，醋淬）　人參（去蘆）　龍骨　川烏頭（炮，去皮尖）　桂心（不見火）</p>
<p>歸（去蘆，洗，薄切，焙乾，秤）　石斛（去根，淨洗，細銼，酒焙）　蓯蓉（酒浸水洗，焙乾）　乾薑（炮，各一兩）　川椒（去目並合口，微炒，地上出汗）　牡蠣（鹽泥固濟干，火燒通赤，去泥用）</p>
<p>甘草（炙，各半兩）</p>
<p>上為末，煉蜜丸如桐子大，米飲下三十丸至五十丸，空心食前。</p>
<h4>通經丸</h4>
<p>治婦人室女月候不通，疼痛，或成血瘕。</p>
<p>桂心（不見火）　青皮（去白）　大黃（炮）　乾薑（炮）　川椒（去目並合口，微炒，地上出汗）　蓬干，秤）</p>
<p>桃仁上細末，將四分用米醋熬成膏，和余六分末成劑，臼中治之，丸如桐子大，陰乾。每服二十丸，用淡醋湯送下。加至三十丸，溫酒亦得，空心食前服。</p>
<p>徽州醫巫張橫，頃年緣事在推勘院，有王醫者，以醫職直宿，日夜與之稔熟，口傳此方，渠甚秘之，予後得此方，以治婦人疾，不可勝數，且欲廣行，不敢自秘。尋常氣血凝滯疼痛，有一師尼患惡風體倦，乍寒乍熱，面赤心煩，或時自汗。是時疫氣大行，醫見其寒熱，作傷寒治之，以大小柴胡湯雜進，數日病劇。予診視曰：三部無寒邪脈，但厥陰脈弦長而上出魚生乾地黃（二兩）　柴胡（去苗，淨洗）　秦艽（淨洗，去蘆）　黃芩（各半兩）　赤芍藥（一兩）　上細末，煉蜜丸如桐子大，每服三十丸，烏梅湯吞下，不拘時候，日三服。</p>
<p>昔宋褚澄療尼師寡婦別制方，蓋有謂也。此二種鰥居獨陰無陽，欲心動而多不遂，是以陰陽交爭，乍寒乍熱，全類溫瘧，久則為勞。嘗讀《史記倉公傳》，載濟北王侍人韓女，病腰背得？診其婦人血信有</p>
<h4>地黃丸</h4>
<p>治婦人月經不調，每行數日不止，兼有白帶，漸漸瘦悴，飲食少味，累年無子。</p>
<p>淬五六次，各一兩）　乾薑（炮）　厚朴（去粗皮，生薑汁炙）　白僵蠶（各三分，去絲嘴，炒）</p>
<p>上細末，煉蜜丸如桐子大，每服四五十丸，空心酒下，日三服。</p>
<p>此龐老方。凡婦人有白帶，是第一等病，令人不產育，宜速治之。昔扁鵲過邯鄲，聞貴婦人多有此病，所以專為帶下醫也。</p>
<h4>琥珀散</h4>
<p>治婦人月經壅滯，每發心腹臍　痛不可忍。及治產後惡露不快，血上搶心，迷悶不省，氣絕欲死。</p>
<p>京三棱（制）　蓬莪朮（銼）　赤芍藥　劉寄奴（去梗）　牡丹皮（去心）　官桂（不見火）　熟乾地黃　菊花（去萼）　真蒲黃　當歸（干，秤，各一兩，細銼）</p>
<p>上前五味，用烏豆一升，生薑半斤切片，米醋四升，同煮豆爛為度。焙乾，入後五味同為末此予人，</p>
<h4>桃仁煎</h4>
<p>治婦人血瘕血積，經候不通。</p>
<p>桃仁（去皮、尖，麩炒黃）　大黃（濕紙裹甑上蒸）　川朴硝（各一兩）　虻蟲（半兩，炒黑）</p>
<p>上四味末之，以醇醋二升半，銀石器中漫火煎取一升五合，先下大黃、桃仁、虻蟲三味，不住手初用補之。</p>
<p>此出《千金方》。頃年在毗陵有一貴人妻，患小便不通，臍腹脹不可忍，眾醫皆作淋治，如八正藥，五更升，痛止</p>
<h4>佛手散</h4>
<p>治婦人妊孕五七月，因事築磕著胎，或子死腹中，惡露下，疼痛不止，口噤欲絕，用此藥探之，若不損則痛止，子母俱安。若胎損立便逐下，此藥催生神妙。</p>
<p>當歸（六兩，洗，去蘆，薄切，焙乾，秤）　川芎（四兩，洗）</p>
<p>上粗末，每服二錢，水一小盞，煎令泣泣欲干，投酒一大盞，止一沸，去滓溫服，口噤灌之金</p>
<h4>治崩中下血方</h4>
<p>黃芩為細末，每服一錢，燒秤錘淬酒調下。崩中多是用止血藥、補血藥，此治陽乘陰，前所謂天暑地熱，經水沸溢者。</p>
<p>治下血不止。或成五色崩漏方。</p>
<p>香附子舂去皮毛中斷之，略炒為末。每服二錢，用清米飲調下。此方徐朝奉傳。其內人有是血調</p>
<h4>愈風散</h4>
<p>治產後中風，口噤，牙關緊急，手足螈　。</p>
<p>荊芥穗輕焙過一兩，細末，每服二錢，溫酒調下。</p>
<p>《經驗》、《產寶》皆有此方。陳選方中用舉卿、古拜二味，蓋切腳隱語以秘之也。此藥委有奇效神聖開，易於中風，如醉，不省人事覺必醒矣。果如</p>
<h4>交加散</h4>
<p>治婦人榮衛不通，經脈不調，腹中撮痛，氣多血少，結聚為瘕，產後中風。</p>
<p>生地黃（五兩，研，取汁）　生薑（五兩，研，取汁）</p>
<p>上交互用汁浸一夕，各炒黃漬，汁盡為度，末之。尋常腹痛酒調下三錢，產後尤不可缺</p>
<h4>治婦人諸般淋</h4>
<p>苦杖根俗呼為杜牛膝，多取淨洗，碎之，以一合用水五盞，煎一盞，去滓，用麝香乳香少許，研調下。</p>
<p>鄞縣武尉耿夢得，其內人患砂石淋者，十三年矣，每漩痛楚不可忍，溺器中小便下砂石，剝剝有聲，百方不效。偶得此方啜之，一夕而愈，目所見也。</p>
<h4>半夏散</h4>
<p>治婦人血運血迷，敗血衝心，昏悶不省人事。</p>
<p>半夏末，如豆大許，以竹管吹入鼻中立醒。</p>
<h4>蒲黃散</h4>
<p>治產後出血太多，虛煩發渴。</p>
<p>真蒲黃末二錢，飲下，渴躁甚，新汲水下。</p>
<p>治妊娠時氣身大熱，令子不落。護胎方。</p>
<p>伏龍肝為末，水調塗臍下二寸。干則易，瘥即止。又取井中泥塗心下，干則易。</p>
<p>又方浮萍（干）　川朴硝　蛤粉　大黃（碎，微炒）　藍根（各一兩）</p>
<p>上為末，水調封臍上。安胎解煩熱，極妙。</p>
<h4>芎羌湯</h4>
<p>婦人患頭風者，十居其半，每發必掉眩，如在車上，蓋因血虛肝有風邪襲之爾。《素問》云：徇蒙招搖，目眩耳聾，上虛下實，過在足少陽厥陰，甚則歸肝。蓋謂此也。予嘗處此方以授人，比他藥捷而效速。</p>
<p>川芎（一兩，洗）　當歸（三分，洗，去蘆，薄切，焙乾，秤）　羌活（洗，去蘆）　旋覆花夏曲（炒）</p>
<p>防風（去釵股）　熟地上為末，每服二錢，水一大盞，薑五片，同煎至七分，去滓溫服，不拘時候。</p>
<p>婦人產後有三種疾，鬱冒則多汗，多汗則大便秘，故難於用藥。唯麻子蘇子粥，最佳且穩。</p>
<p>紫蘇子、大麻子二味各半合，淨洗研極細，用水再研取汁一盞。分二次煮粥啜之。此粥不唯產後可服，大抵老人諸虛人風秘，皆得力。嘗有一貴人母年八十四，忽爾腹滿頭疼，惡心不下家憂懼脹惡心兩啜而</p>
<h4>當歸散</h4>
<p>治婦人天癸已過期，經脈不勻，或三四月不行，或一月再至，腰腹疼痛。《素問》云七損八益。謂女子七七數盡而經脈不依時者，血有餘也，不可止之，但令得依時不腰痛為善。</p>
<p>當歸（洗，去蘆，薄切，焙乾，秤）　川芎（洗）　白芍藥　黃芩（去皮，各銼、炒，各一兩）　白朮（半兩）　山茱萸（一兩半，連核用）</p>
<p>上細末，每服二錢，酒調下，空心食前，日三服。如冷去黃芩加桂一兩。</p>
<h4>大棗湯</h4>
<p>治婦人臟燥。</p>
<p>甘草（三兩，炙）　小麥（一升）　大棗（十個）</p>
<p>上　咀，以水六升，煮三升，去滓溫分三服。亦補脾氣。鄉裡有一婦人數欠伸。無故悲泣不哭，種妙絕如</p>
<h4>鹿屑湯</h4>
<p>治妊娠熱病，胎死腹中。</p>
<p>鹿角屑一兩，水一碗，蔥白五莖，豆豉半合，同煎至六分，去滓，溫，分二服。</p>
<p>治婦人生產數日不下，及胞衣死胎不下者方。</p>
<p>用蓖麻子七粒去殼，研如泥，塗足心，才下便急洗去。此崔元亮《海上方》，人但未知耳。政和中一鄉人內子，產二日不下。予令漫試之，一塗俄頃便下。自後常用極驗。</p>
<h3>小兒病</h3>
<p>凡候小兒脈當以大指按三部。一息六七至為平和，十至為發熱，五至為內寒。脈緊為風癇，祟，潮熱弦急脈亂脈浮俗紅風</p>
<h4>睡驚丸</h4>
<p>治小兒一切驚疳食積風癇之證。</p>
<p>使君子（五十個，燒存性）　香墨（棗大一塊）　金銀箔（各五片）　膩粉（二錢）</p>
<p>上先研使君子墨二味，細，次入金銀箔於乳缽內同研，次入膩粉並麝香少許，研令極細勻，稀糊丸如桐子大，陰乾。每服一丸，薄荷湯磨下。一歲以下半丸，一名青金丹。鄉裡有一士人家，貨此藥日得數千錢，已百余年矣。</p>
<h4>麥門冬散</h4>
<p>治小兒嘔吐，脈數有熱。</p>
<p>麥門冬（用水　去心，焙）　半夏曲（炙）　人生（去蘆）　茯苓（去皮，各三錢）　甘草（一分，炙）</p>
<p>上細末，每服二錢，水一盞，薑三片，煎五分，去滓溫，日二三服。</p>
<h4>白朮散</h4>
<p>治小兒嘔吐，脈遲細有寒。</p>
<p>白朮　人參（去蘆，各二錢）　半夏曲（炙，三錢）　茯苓（去皮）　乾薑（炮）　甘草（炙，各一錢）</p>
<p>上細末，每服二錢，水一盞，薑三片，棗一枚，煎至七分，去滓溫，日二三服。</p>
<h4>調中丸</h4>
<p>治小兒久傷脾胃，腹脹。</p>
<p>乾薑（炮）　橘紅　白朮　茯苓（去皮）　木香　縮砂仁　官桂（去粗皮，不見火）　良薑（各等分）</p>
<p>上細末，糊丸如麻子大，每服二三十丸，食後熟水下。</p>
<h4>芎朴丸</h4>
<p>治小兒疳瘦，瀉白水，腹膨脹。</p>
<p>芎　厚朴（去粗皮，生薑汁炙，各一兩）　白朮（半兩）</p>
<p>上細末，煉蜜丸如小彈子大，每服一丸，米飲化下。三歲以下半丸。</p>
<h4>消積丸</h4>
<p>治小兒食積，口中氣溫，面黃白，多睡，大便黃赤臭。</p>
<p>縮砂（十二個）　丁香（九個，不見火）　烏梅肉（三個）　巴豆（一個去皮、膜、油）</p>
<p>上細末，糊丸如黍米大。三歲以上五、六丸，三歲以下二、三丸。溫水下，無時。</p>
<p>大凡小兒身溫壯，非變蒸之候，大便白而酸臭，為胃有蓄冷。宜丸藥消下，後服溫胃藥。若身溫壯，大便赤而酸臭，為胃有蓄熱。亦宜丸藥消下，後服涼胃藥。無不愈。</p>
<h4>捻金散</h4>
<p>治小兒麻豆瘡欲出，渾身壯熱，情緒不樂，不思飲食。服此可以內消，仍令瘡無瘢痕。</p>
<p>紫草茸　升麻　糯米（各半兩）　甘草（一分炙）</p>
<p>上粗末，每服四錢，水一盞，煎至六分，去滓溫服，並滓再作一服。此療瘡疹奇方。</p>
<h4>扁銀丸</h4>
<p>治小兒急慢驚風積痼。</p>
<p>青黛（三大錢）　水銀（一皂子大，同黑鉛炒，結成砂子）　寒食面　黃明膠（炒令焦，為末，各二錢）</p>
<p>十一個，去皮、膜、上都研細勻，滴水丸如麻子大，捏令扁曝乾，瓷盒盛。一歲一丸，隨意加減。煎皂子湯送下，不得化破。治小兒有陽癇、陰癇、慢脾風三證，皆搐搦上視。陽癇者，俗所謂急驚也；陰用生附</p>
<h4>青州白丸子</h4>
<p>天南星（三兩）　半夏（七兩）　白附子（二兩）　川烏（半兩，生，去皮臍）</p>
<p>上四味，生搗為末，生絹袋盛，井花水擺。如有未出者，更以手揉令出盡。放瓷盆中以清水糯米粉作清粥，丸如綠豆大。癱瘓風溫酒下三十丸，日三服，服至三日後，入浴當有汗，便能舒展，服</p>
<h4>金液丹</h4>
<p>已見第九卷</p>
<h4>醒脾丸</h4>
<p>治小兒慢脾風，因吐利後虛困昏睡，欲生風癇。</p>
<p>厚朴（去粗皮，薑汁炙）　白朮　天麻（去蘆）　舶上硫黃（各半兩）　全蠍（去毒）　防風（去釵股）　人參（去蘆）　官桂（去粗皮，不見火，各一分）</p>
<p>上為末，酒浸蒸餅和丸，如雞頭大，每服一丸，捶碎溫米飲下。</p>
<p>又方全蠍（二個，青薄荷葉裹煨）　白朮（指面大二塊）　麻黃（長五寸十五條，去節）</p>
<p>上細末，二歲以下一字，三歲以上半錢，薄荷湯下，量大小加減服。</p>
<h4>人參散</h4>
<p>治脾風多困。</p>
<p>人參（去蘆）　冬瓜仁（各半兩）　天南星（一兩，切片，用漿水、薑汁煮，略存性）</p>
<p>上細末，每服一錢，水半盞，煎二三分，溫服。</p>
<h4>蠍梢丸</h4>
<p>治小兒胎虛氣弱，吐利生風，昏困嗜臥，或時潮搐。</p>
<p>全蠍（微炒）　白附子（煨制，各半兩）　通明硫黃（一兩）　半夏（一兩，切片，薑汁製，焙乾）</p>
<p>上細末，薑汁糊丸如麻子大，每服三十粒，荊芥湯下，更看大小加減服。</p>
<h4>龍齒散</h4>
<p>治小兒拗哭。</p>
<p>羌活（去蘆）　龍齒　蟬殼（去頭、足）　鉤藤（有鉤子者）　茯苓（去皮）　人參（去蘆，各等分）上為末，每服一大錢，水一大盞，煎六分，去滓溫服。</p>
<h2>《普濟本事方》治藥制度例</h2>
<p>菟絲子：酒浸曝焙乾，用紙條子同碾，即便為末。</p>
<p>半夏：沸湯浸至溫，洗去滑，換湯洗七遍，薄切焙。</p>
<p>乳香：掛窗孔中風乾研，或用人指甲研，或以乳缽坐水盆中研。</p>
<p>天雄、附子：灰火炮裂去皮臍用。</p>
<p>烏頭：灰火炮裂去皮尖用。</p>
<p>牡蠣：鹽泥固濟干，火燒通赤，去泥用。</p>
<p>鹿茸：酥炙黃燎去毛。</p>
<p>諸角：鎊治為細末方入藥。</p>
<p>蓯蓉、牛膝：水洗酒浸焙乾用。</p>
<p>破故紙、蛇床子、茴香：炒令香。</p>
<p>桂：去粗皮，取心用，不見火。</p>
<p>葶藶：苦者隔紙炒香。</p>
<p>天麥二門冬：略用水　去心。</p>
<p>桃杏、郁李仁：皆去皮尖微炒。</p>
<p>杜仲：去皮銼如豆，炒令黑。</p>
<p>桑螵蛸：塗酥慢火炙令香。</p>
<p>大黃：以濕紙裹，甑上蒸。</p>
<p>枳殼：去穰細切，麩炒黃。</p>
<p>厚朴：去粗皮，生薑汁製炒。</p>
<p>椒：去目並合口，微火炒，地上出汗。</p>
<p>前胡、柴胡、　本：皆去苗淨洗。</p>
<p>諸花：皆去萼及梗。</p>
<p>牡丹、地骨皮：去心。</p>
<p>阿膠：碎之，蛤粉炒成珠子。</p>
<p>石葦、枇杷葉：溫水浸，刷去毛，焙蛇蛻、蟬蛻：洗去土，炙。蟬去頭、足。</p>
<p>露蜂房：炙過用，或炒過亦得。</p>
<p>巴豆：去皮心、膜細研，新瓦上出油。</p>
<p>蛇黃：炭火　通赤，醋淬三五度。</p>
<p>酸棗仁：微炒去皮，研。</p>
<p>石斛：去根淨洗，細銼酒炒。</p>
<p>當歸：洗去蘆，薄切焙乾後秤。</p>
<p>花蛇烏蛇肉：酒浸去皮骨炙。</p>
<p>真珠母：未鑽真珠也，研如粉。</p>
<p>吳茱萸：湯浸七次，焙。</p>
<p>香附子：麩炒舂去毛。</p>
<p>芫青斑蝥：去頭足翅。</p>
<p>敗龜虎骨：並酥炙。</p>
<p>僵蠶：去絲嘴炒。</p>
<p>乾漆：炒至大煙出。</p>
<p>防風：去釵股者。</p>
<p>皂角：去皮弦，炙用。</p>
<p>茵芋：去梗，銼炒用。</p>
<p>木鱉子：去殼研。</p>
<p>虎睛：酒浸切焙。</p>
<p>威靈仙：去苗洗。</p>
<p>紫蘇子：淘洗晒乾。</p>
<p>續斷：推去筋，洗銼焙。</p>
<p>黃連：去須用。</p>
<p>甘草：炙。</p>
<p>澤瀉：淨洗，酒浸一宿，炙干（不浸亦得）。</p>
<p>乾薑：炮。</p>
<p>蜈蚣：去頭足。</p>
<p>蠍：去毒。</p>
<p>水蛭：炒焦。</p>
<p>柏子仁：研。</p>
<p>茯神：去木去皮。</p>
<p>細辛：去苗洗。</p>
<p>神麯：碎炒。</p>
<p>青皮：去白。</p>
<p>茯苓、黃芩：去皮。</p>
<p>甘松：洗土淨。</p>
<p>獨活：須黃色如鬼眼者。去蘆洗。焙秤。</p>
<p>羌活、升麻：去蘆洗，焙秤。</p>
<p>諸石：皆細研水飛。</p>
<p>木香：氣味辛辣特甚者可用。近世蜀人采雲南根以亂真。其性大寒，利大小便。《本草》謂之土用木香。</p>
<p>遠志：去心，洗銼炒黃色。（或用甘草煮三四沸，去蘆骨或生薑汁炒）</p>
<p>人參：去蘆。</p>
<p>龍骨、龍齒：用黏舌者。</p>
<p>香白芷：不見火。</p>
<p>麻黃：去根節。</p>
<p>白蘚皮：去心，洗焙秤。</p>
<p>秦艽：去土去苗，洗焙秤。</p>
<p>竹瀝：用新　竹燒取之。</p>
<p>卷柏：去根洗。</p>
<p>五靈脂：如鼠屎者，水淘去沙石，日干取末。</p>
<p>石菖蒲：去須。</p>
<p>骨碎補：洗去毛。</p>
<p>百草霜：用燒草鍋底墨。</p>
<p>熟乾地黃：酒洒九蒸九曝，焙乾秤。</p>
<p>木通：削去粗皮，先碾為細末秤，方可入藥。</p>
<p>鱉甲：銼成小片，先以淡醋煮去裙膜洗淨，再以酸醋炙黃秤。</p>
<p>天南星：須大者，忌用虎掌。</p>
<p>藿香、木香、丁香、諸香藥、官桂、香白芷之類。皆不可見火。如荊芥、薄荷、紫蘇亦然。三物或急用，並須紙七八重裹焙。</p>
