<header><h1>未刻本葉氏醫案</h1></header>
<dl class="元資料" data-type="book">
<div><dt>作者</dt><dd>葉天士</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1644/1911">公元1644年至公元1911年</data></dd></div>
</dl>
<h2>序</h2>
<p>聞之士生斯世。不為良相。當為良醫。蓋以良相良醫皆可救斯人之疲癃生理殘障。而不忍坐視其顛連而莫告也。然非識學兼到。相固不能濟世。即醫亦不能濟人。吾考古之名相。無識何以旌別淑慝。求賢以輔治。無學何以本仁祖義。監古以善今。古之名醫。無識何以審病源之虛實。而調劑得其平。無學何以明脈理之精微。而制治有其要。是可知醫國醫人。初無二理。</p>
<p>為相良固難。為醫良亦不易也。無怪乎求良醫於當代。不少概見。惟吳中天士葉老先生庶名克副實。不愧為良歟。粵稽葉老先生精通脈理。洞見病源。用藥尤能心小膽大。當日之無遠近染　求治者。日不暇給。症多怪異。而方亦新奇。每授湯丸。無不效驗。所謂不笏而饒相業。有樞以轉天心者。舍先生其誰屬。所以仲升周子日侍左右。每見方案。無不匯而集之。</p>
<p>積成卷帙。雖人之致病各殊。投劑亦異。未可以張冠戴李。致有毫厘千裡之失。然讀書臨症之余。備以廣博覽。亦未始無旁通之益焉。其年顧親翁。世葉岐黃。亦有見及此。因即假周子原本。細心抄錄。持以示余。乞余為序。余於披覽之下。見葉先生按症酌方。各有因心之妙用。子夏云、雖小道必有可觀者焉。良不誣也。後之學人。苟勿視為古人糟粕。而能深求精義。無負葉老先生揆方之精心。與周子匯集之苦志。則識學雖未必兼到。而亦稍稍有合乎不為良相當為良醫之遺意。豈不大有功於斯世哉。余不揣固陋。冒昧為序。望勿以言之不文而姍笑之。幸甚。</p>
<p><u>時乾隆己丑孟夏洵愚氏朱周燮書於存古堂之邀月軒</u></p>
<p>朱周燮不知何如人。文亦未甚高。但因此序而知此冊實先生門人所抄錄。甚可信也。周仲升雖署名於下。未言門人。他處亦未見之。苟無此序。無可征矣。顧其年既世葉岐黃。其子侄輩自有承家學人。顧氏既假周本而抄錄之。其侄輩又假顧本而重抄焉。則此本是矣。周氏原本無此序。朱君為顧作序。紀年乾隆己丑。冊末抄者手記亦署己丑。雖無名字可以懸揣。</p>
<p>所謂假叔父本者。必屬顧其年之子侄無疑矣。時去葉氏未遠。流傳有緒。真確不疑。雖系尋常門診之作。寥寥數語。而處方之妙。遠藥之精嚴。有非他人所能望其項背者。玩讀再三。</p>
<p>愛不忍釋。耀卿同道得此見假。不私所寶。惠我多矣。因略為校正訛字。而記於端。</p>
<p><u>甲申　</u></p>
<h2>方桉</h2>
<p>嗽而脈數。臟陰虧矣。金水同治。第參之色脈。恐延損怯。</p>
<p>熟地　甜北參　麥冬　茯神　川石斛　天冬脈數咳嗽。盜汗形寒。營衛交虛矣。</p>
<h3>小建中湯</h3>
<p>脈數無序。陰虧陽亢之象。雖血來點粒。春夏木火炎炎。焉得保其不發。</p>
<p>生地　女貞實　丹皮　川斛　旱蓮草　赤苓脈弦且出魚際。木火鬱而不泄。陽明無有不受其戕。是以食下稍有不適。則為　脹。飢則嘈雜難耐。自宜肝胃同治。肝木宜疏。胃府宜降。乃其治也。</p>
<p>歸身　焦術　陳皮　柴胡　神麯　白芍　茯苓　炙草　香附　麥芽陽微。陰濁泛逆。先為咳喘。繼而腹滿便溏。所謂喘必生脹是也。</p>
<h3>真武湯</h3>
<p>脈細如絲。形神　羸。嗽而氣逆。下焦陽氣頗衰。最慮喘脫。延至春和日暖。始可無虞。</p>
<p>茯苓　炙黑甘草　制附子　桂枝　北五味子　胡桃肉用瀉白散頗效。但不能寐。舌心辣痛。陰亦虧矣。</p>
<p>生地　川貝　元參　麥冬　茯神　燈心努力絡瘀。入春氣升激絡。血欲外溢未泄。氣還瘀凝。　脹腹膨。心中烙熱。古謂治血莫如理氣。氣宣血降。良有以也。</p>
<p>黑梔　蘇子　牛膝　桃仁　丹皮　茜草形寒心悸頭旋身如溶溶。此二維任帶病也。由帶中血液下滲。奇經失灌溉之源。日久有怔忡腰折之患。極早圖之。</p>
<p>熟地　牡蠣　桂心　巴戟　茯神　杞子　白芍　白薇氣痹不宣。食不運。</p>
<p>半夏　枳實　橘白　薑汁　茯苓　厚朴</p>
<h3>固攝下焦方</h3>
<p>紫河車膠　熟地　山藥　萸肉　杞子　大龜腹版　杜仲　五味　茯神　芡實　真麋角膠　蓯蓉　川斛　建蓮寒著氣阻。右脅痹痛。</p>
<p>杏仁　桂枝　茯苓　生薑　栝蔞　苡仁脈數而軟。嗽逆暮盛。</p>
<p>貞元飲加茯神葳蕤癇厥議非痰病。用填攝下焦。潛陽熄風頗應。但風木司氣。春三月發陳。尤宜屏除煩勞惱怒。恐厥陽鼓動。厥復發耳。</p>
<p>熟地　天冬　虎骨　龜板　茯神　牛膝　牡蠣　黃柏　遠志　海參　川斛　湘蓮閱病原。望色萎黃。參脈微細。此中陽困頓之候也。是以煩勞病嘔尤甚。法宜溫之。</p>
<p>人參　吳萸　熟附子　半夏　茯苓　淡乾薑溫邪侵於肺衛。作之咳嗽。</p>
<p>杏仁　桑葉　川貝母　花粉　黃芩　南沙參脈沉弦。脘脹噫氣。口燥不寐。宜和肝胃。</p>
<p>川黃連　茯苓　枳實　淡乾薑　半夏　橘白溫邪作咳。</p>
<p>玉竹　南沙參　生草　桑葉　川貝母　花粉脈微細。</p>
<p>茯苓　熟淡附子　粗桂枝　炙草　紫衣胡桃　北五味嗽減不寐。心中熱。</p>
<h3>溫膽湯</h3>
<p>脈虛。知飢惡食。宜益營分。</p>
<p>當歸　茯苓　炙黑草　煨薑　陳皮　大南棗肺癰。</p>
<p>葦莖東加旋覆花蔞仁藏真不固。陽浮失守。化風內煽。心悸不寐。火升氣逆。陰不能平。陽不能秘耳。</p>
<p>桂七味東加牡蠣肝逆脘痛。右關獨弦。</p>
<p>川楝子　茯苓　半夏　香附汁　良薑　青皮風侵於肺絡。咳嗽不已。漸延勞嗽。</p>
<p>白旋覆花　杜蘇子　扁杏仁　栝蔞仁霜　廣橘紅　海浮石血溢陽升。法宜攝納。</p>
<p>熟地　茯神　川石斛　珠菜　牛膝　豆皮辛以宣氣。苦以降逆。</p>
<h3>四磨飲</h3>
<p>腹痛已止。左脈尚弦。</p>
<p>人參　茯苓　橘紅　小川連　楂肉　白芍　青皮　吳萸　使君子　麥芽咽喉如梗。脊熱頭旋。形神　羸。脈來微細。經事如期。此屬督脈空虛之候也。法宜溫養。</p>
<p>鹿角霜　紫石英　白薇　川石斛　枸杞子　茯神　杜仲　桑葚子咳嗽夢泄內熱。金水同治。</p>
<p>熟地　川石斛　扁豆　茯神　北沙參　麥冬陽衰則神痹。補陽宜甘溫。</p>
<h3>六君子湯</h3>
<p>溫邪未淨。</p>
<p>玉竹　桑葉　川貝母　花粉　茯神　南沙參左脈弦。咳嗽。陽氣偏亢。溫邪侵之。宜用甘藥。</p>
<p>北梨肉　白花粉　青蒿　白沙參　霍石斛　川貝此非肺邪。乃下焦陽氣澆漓。濁陰僭逆。為之浮腫咳嗽也。女科致此。當以陰中求陽。</p>
<h3>濟生腎氣丸</h3>
<p>脈尚弦芤。初之氣中乙癸同治。</p>
<p>熟地　天冬　牡蠣　人參　茯神　川斛此火虛陰邪上干。神志冒昧。頭旋形寒。</p>
<h3>八味丸</h3>
<p>溫邪鬱於肺衛。咳嗽音嘶。</p>
<p>射干　花粉　生草　桔梗　玄參　象貝知飢。食下　脹。脾鈍胃強使然。</p>
<p>焦術　茯苓　神麯　炙甘草　廣皮　川連　白芍　麥芽　山楂肉炭　青皮脈澀。食下拒納。宜理胃陽。</p>
<p>半夏　吳茱萸　延胡索　山楂　茯苓　高良薑　廣橘紅　麥芽咳嗽失血。左脈弦數。少陰頗虧。厥陽不潛使然。</p>
<p>熟地　茯神　山藥　牡蠣　川斛　湘蓮此沖疝也。由精血暗傷。沖氣失守使然。法宜溫養通攝兼施。</p>
<h3>天真丹</h3>
<p>嗽逆。沖氣不納。形浮。</p>
<p>茯苓　桂枝　北五味　炙甘草脈細澀。咳嗽三月不愈。溫邪伏於肺衛使然。漸延陰損勞怯。</p>
<p>玉竹　桑葉　花粉　川貝　南參　梨肉咽喉病纏綿不已。從少陰治緩圖。乃不易正則也。葆真靜養。尤為最要。</p>
<p>熟地　虎脛骨　川石斛　湘蓮　秋石　女貞子　龜甲版　牛膝　黃柏　天門冬　旱蓮草　茯神噫氣脈弦長。此木火上逆刑金。清降之司失職。延久有噎格之患。開懷為主。</p>
<p>枇杷葉　黑山梔　橘紅　杜蘇子　香附子　茯苓經事參差。不時寒熱盜汗。陰血下奪。陽無所附。營衛為之不諧也。</p>
<p>炙甘草　白芍　火麻仁　生地　粗桂枝　牡蠣　麥門冬　阿膠腹膨嘔逆。當溫通陽氣。</p>
<p>附子　吳萸　茯苓　乾薑用建中頗應。腰痛氣逆。宜益下焦。貞元飲以繼之可也。</p>
<p>少陰空虛。厥陽少涵上冒。頭脹嘈雜。當乙癸同治。</p>
<p>生地　牡蠣　雞子黃　茯神　天冬　真阿膠陽浮不潛。耳鳴齒痛。當攝少陰。</p>
<h3>大補陰丸</h3>
<p>陰損難復。穀兩氣泄可慮。</p>
<p>熟地　茯神　天門冬　人參　阿膠　雞子黃府陽不宣。腹膨溺短。</p>
<h3>大針砂丸</h3>
<p>火虛不能燠土。不飢妨食。法宜脾腎同治。</p>
<p>人參　巴戟天　益智仁　茯苓　胡蘆巴　菟絲餅哮症交夏宜針。</p>
<p>咽腐不愈。咳嗆音嘶。虛陽炎炎。由少陰之陰不能上承也。</p>
<p>生地　糯稻根須　人中白　元參　大雞子黃　生甘草脈出魚際。吞酸神倦。此木火內郁。陽明受戕。所謂壯火食氣是也。</p>
<p>川黃連　茯苓　枳實　吳茱萸　半夏　乾薑勞傷絡瘀。失血之後。腹脹難運。絡虛為脹。良有以也。</p>
<p>旋覆花東加桃仁大麥芽勞傷中氣。口苦妨食。小溲不利。</p>
<p>茯苓　白朮　厚朴　廣皮　澤瀉　豬苓溫邪作咳形寒。曾失血。宜用輕藥。</p>
<p>杏仁　桑葉　川貝　桔梗　橘紅因濕作咳瘡瘍。</p>
<p>桑皮　米仁　橘紅　薑皮　杏仁　前胡形寒心悸咳嗽。</p>
<p>此血虛絡松。氣失其護。左脅喜按。難以名狀。宜辛潤理虛。切勿亂投藥餌。</p>
<p>杞子　柏子仁　酸棗仁　茯神　桂元肉　大胡麻陰不平。陽不秘。火升汗泄。</p>
<p>熟地　牡蠣　天冬　人參　茯神　湘蓮壯水之藥。旦晚難以奏績。</p>
<h3>大補陰湯</h3>
<p>脈澀。便血心悸頭脹。此營虛陽浮不潛為病。</p>
<p>生地　牡蠣　白芍　阿膠　茯神　條芩背痛形凜。經阻帶多。法宜溫養奇經。</p>
<p>鹿角霜　沙苑　紫石英　當歸　小茴香　茯苓　生杜仲　羊肉濕鬱。溺痛形寒。</p>
<p>桂枝　茵陳　大豆黃卷　苓皮　萆　飛淨滑石飲阻於肺。咳嗽失血。宜用清降。</p>
<p>旋覆花　薏苡仁　蘇子　蔞仁霜　浙茯苓　橘紅勞傷失血。脈細。</p>
<p>茯苓　花蕊石　茜草　參三七　蓮藕節　牛膝脈微形痹。正氣已虧。溫邪未淨。症勢不輕。</p>
<p>玉竹　白沙參　北梨肉　川貝　南花粉　霍石斛左脈數。咳嗽耳聾。</p>
<p>熟地　天門冬　川斛　茯神　豆皮　牛膝郁則絡瘀氣痹。失血氣逆。法宜宣通。但脈弦勁。正氣已虛。當以甘緩。</p>
<p>淮小麥　茯神　炙草　柏子仁　白芍　棗仁脈澀。痰多肢麻。虛風鼓動使然。</p>
<p>鉤藤　橘紅　浙菊花　桑葉　茯苓　天竺黃陽微形浮。</p>
<p>茯苓　桂枝　附子　白朮　澤瀉　薏米頭重脘悶。脈弦。</p>
<p>桑葉　橘白　半曲　茯苓　菊花　川斛嗽減痰多。交雨水節。血復溢。</p>
<p>旋覆花　扁杏仁　米仁　蔞仁霜　冬瓜子　浙苓此少陰陽傷。漸致妨食形羸。中陽亦漸次告困矣。</p>
<h3>真武丸</h3>
<p>營陰枯槁。心悸嘈雜咳嗽。</p>
<p>炙甘草湯去參薑加牡蠣白芍風塊而多汗泄。非辛涼解肌可治。</p>
<h3>黃芩瀉白散</h3>
<p>絡瘀瀉之為但左脈弦勁。肝陰頗虧。厥陽偏熾。亦不宜以此為長計也。</p>
<p>生地　淡菜　新鮮藕　牛膝　茯神　豆皮泄木安中。令其升降自如。則木不為之曲直矣。</p>
<p>人參　半夏　廣橘白　吳萸　茯苓　枳實　淡乾薑　川連飲邪作嗽。不得臥。</p>
<p>杏仁　茯苓　半夏　白芥子　米仁　橘紅勞傷失血後。咳嗽氣逆。</p>
<h3>都氣丸</h3>
<p>噫氣嗽逆。當降肺胃。</p>
<p>枇杷葉　半夏　廣橘紅　青竹茹　茯苓　白粳米脈浮弦。</p>
<p>桑葉　花粉　南沙參　川貝　杏仁　生甘草下焦不納。氣逆脘悶。</p>
<p>熟地　牛膝　紫石英　澤瀉　茯苓　川斛　沉香汁　萸肉咳嗽音嘶痰多。</p>
<p>熟地　牡蠣　丹皮　山藥　茯苓　川斛　澤瀉　牛膝陰虛溫侵。作咳痰血。</p>
<p>玉竹　南沙參　白花粉　川貝　霍石斛　生甘草形寒飲阻。作嗽背痛。</p>
<p>桂枝湯去芍加茯苓杏仁脈澀。咳嗽背凜。</p>
<p>茯苓桂枝湯去芍加米仁知飢少運。宜理脾氣。</p>
<p>穀芽　半夏曲　廣橘白　茯苓　宣木瓜　煨生薑陰弱。溫邪上侵。發熱咽痛。治以輕劑。</p>
<p>薄荷　象貝　桔梗　連軺　花粉　生草下焦不納。嗽逆喘急。最慮春半氣泄。宜慎調護。</p>
<p>桂苓五味甘草東加紫衣胡桃肉下虛氣逆。作咳內熱。</p>
<p>熟地　天冬　知母　茯神　麥冬　川斛陽傷飲逆。咳嗽腹膨。</p>
<p>溫邪上郁。咳嗽音啞。</p>
<p>薄荷　射干　連軺　桔梗　杏仁　象貝下焦空虛。陽浮化風。頭旋耳鳴。法宜收攝。</p>
<p>熟地　牡蠣　川斛　磁石　萸肉　牛膝　茯神　青鹽陽郁形凜。發熱脘痛。</p>
<p>杏仁　生薑　桂枝　厚朴　花粉　橘白腰痛心悸。煩動則喘。少陰腎真不固。封蟄失司使然。切勿動怒。恐肝陽直升。擾絡失血。</p>
<p>熟地　茯苓　左牡蠣　澤瀉　牛膝　豆皮脘悶不爽。不時頭脹發熱。此木火內郁，升降之機不泄。肝胃同治。</p>
<p>丹皮　半夏曲　鉤藤　茯苓　黑山梔　橘紅濕熱內郁發黃。丹溪謂五疸皆由濕熱而成。</p>
<p>茵陳　枳實皮　廣皮　大豆黃卷　穀芽　陳皮　茯苓脈沉遲。陽氣殊虛。濕痰內阻經隧。右眶跳躍。乃類中之萌也。當戒酒勿勞動為要。</p>
<p>於潛白朮　天麻　半夏　浙江黃菊　茯苓　鉤藤脈弦數。咳嗽頭脹。</p>
<p>青蒿　南沙參　苦參　川貝　白花粉　橘紅木鬱胃困。</p>
<p>黑山梔　神麯　茯苓　大麥芽　青皮　橘紅高年中消。木火乘中。由營液內槁使然。</p>
<p>麥冬　川斛　北沙參　知母　甘草　白粳米脈數。夢泄咳嗽。</p>
<p>熟地　茯神　麥冬　女貞子　川斛　湘蓮　北參　旱蓮草陰虧陽亢。</p>
<p>病後脈數不復。三陰虧矣。謹慎調理。弗致重損。</p>
<p>熟地　淮山藥　粉丹皮　北沙參　澤瀉　白茯苓　湘蓮肉　白芍藥痰阻於中。陽明不宣。</p>
<p>半夏片　白蜜　茯苓　生薑汁勞傷腎真。腰痛咳嗽。</p>
<h3>貞元飲</h3>
<p>脈細數。咳嗽音啞。此屬陰損。金水同治。</p>
<p>固本東加北沙參小溲混濁。夢泄腰痛。</p>
<p>熟地　北五味　線魚膠　覆盆子　巴戟天　青鹽　菟絲子　白茯神　沙苑　杜仲　萆　遠志肉久嗽腰痛。行動氣逆。脈細失血。</p>
<p>熟地　山藥　麥冬　川斛　茯神　北參冷物傷中。脘痛嘔惡。大便如油。</p>
<p>丁香柄　半夏　吳萸　淡附子　茯苓　乾薑心悸形凜。不時遺泄。</p>
<p>茯苓　炙甘草　桂枝　大棗肺熱。咳嗽痰血。宜禁火逼。</p>
<p>玉竹　竹茹　白扁豆皮　柿霜　川貝　霍山石斛先清氣分之熱。續商培元。</p>
<p>桑葉　青蒿　川貝　南參　骨皮　川斛養陰涵木。以和浮陽。</p>
<p>生地　豆皮　珠菜　茯神　川石斛　鮮藕溫邪脈小。怕其內閉。</p>
<p>枇杷葉　杏仁　淡豉　栝蔞皮　枳殼　橘紅脈弦澀。肢麻痰多。陰血頗虧。雖有痰阻。以末治之。</p>
<p>枸杞子　浙江黃菊　茯神　白蒺藜　豆淨皮　桑葉溫侵作咳。</p>
<p>玉竹　南沙參　竹茹　桑葉　川貝母　杏仁脈數無序。上焦肺氣燥矣。胸臆隱隱痹痛。怕其咳吐痰血。</p>
<p>枇杷葉　蔞皮　杏仁　北梨汁　蘇子　川貝脾呆胃鈍。濕熱內蒸。小溲混濁。下溢白沃。當從中治。</p>
<p>焦術　川連　穀芽　荷葉蒂　神麯　廣皮　木瓜　炙甘草此敗精凝瘀為淋。法宜通泄。</p>
<h3>虎杖散</h3>
<p>脈弦腹痛。便泄不爽。此下焦陽微。陰濁僭逆使然。</p>
<p>胡蘆巴　萆　桂心　巴戟天　青皮　茯苓脈歇。陽傷陰乾。便泄腹膨。宜節食物。</p>
<p>食飲下咽。必咳逆。方爽能納。屬噎格之漸。</p>
<p>枇杷葉　蘇子　蔞仁霜　旋覆花　茯苓　廣橘紅食下拒納。左脈弦數。此屬噎格。</p>
<p>旋覆花　半夏　薑汁　代赭石　茯苓　川連溫邪鬱於肺衛。咳嗽音嘶。脈微。</p>
<h3>瀉白散</h3>
<p>脈弦而澀。肝陰頗虧。中氣亦弱。肝胃同治。</p>
<p>何首烏　茯神　制白蒺藜　桑椹子　川石斛　杞子　浙江黃菊　建蓮肉左脈數。</p>
<p>熟地　川石斛　茯神　麥冬　旱蓮草　女貞腹鳴。漸有脹滿之勢。小溲不利。</p>
<p>熟地　茯苓　桂心　山藥　牡蠣　澤瀉　牛膝　丹皮三瘧。食下少運頭脹。</p>
<p>歸身　白芍　陳皮　茯苓　大棗　焦術　炙草　柴胡　生薑脈微不耐按。真元已憊。何暇理邪。症危不易圖治。</p>
<h3>真元飲</h3>
<p>木鬱泄之。</p>
<h3>越鞠丸</h3>
<p>此勞傷營衛。寒熱時作。心悸胸痛。怕其失血。</p>
<p>小建中東加芍加牡蠣溫邪咳嗽。</p>
<p>薄荷　連軺　黑梔　花粉　桔梗　生草酒客挾濕發熱。疹未宣達。濕溫內郁。蒸黃脘痹。法宜和之。</p>
<p>茵陳　廣白　連皮　豆卷　桔梗　生草久利盜汗。惡心形凜。肌發紅點如癮虛中挾邪耳。</p>
<p>穀芽　木瓜　半夏曲　茯苓　廣皮　荷葉蒂動怒陽升血發。</p>
<p>生地　山漆汁　川石斛　茯神　豆皮　花蕊石脈弦滑。痰飲內阻。左肢麻木。瘧後致此。由伏濕未淨。升降之機失司。是以釀為濁邪耳。</p>
<p>生於朮　半夏　橘紅　白蒺藜　枳實　茯苓肺脾氣失肅降之司。食下嘔逆。吐出瘀濁。氣宣血自和。</p>
<p>枇杷葉　蘇子　紫菀須　降香汁　枳殼　白桔梗喜飲熱酒。胃絡積熱血瘀。中脘痹痛。穀食漸減。脈來弦澀。年已望五。最慮營枯氣結。他日有關格之患。</p>
<h3>半夏延胡酒法丸</h3>
<p>脾弱少運。食下　脹。</p>
<p>焦術　廣木香　人參　茯苓　廣皮　砂仁殼形寒咳嗽。脈小。</p>
<p>杏仁　桂枝　生薑　炙草　花粉　大棗氣弱神倦食減。</p>
<p>穀芽　半曲　新會　茯苓　木瓜　煨薑噦逆脈弦。胃虛木乘使然。</p>
<p>半夏　木瓜　川石斛　茯苓　穀芽　廣皮白脈小肢麻。屬陽微失護。痰飲內阻。日久有類中之患。</p>
<h3>朮附湯</h3>
<p>年十九。形貌偉然。火升失血。向有夢泄。顯是少陰腎真空虛。陽浮失守。沖激陽絡使然。</p>
<p>腎主封蟄。宜固之攝之。而藥餌草木。即血肉有精亦難克溢有形之陰。究竟全賴自知利害。</p>
<p>葆真為第一要義。</p>
<p>熟地　阿膠　天冬　女貞子　元武版　湘蓮　珠菜　牡蠣　海參膠　旱蓮草　茯神　山藥霍斛　豆皮動怒氣逆。作咳脘悶。</p>
<p>枇杷葉　蘇子　鉤藤　廣橘紅　茯苓　桑葉血溢暗耗。奇經失護。心中如焚。肢節交冷。</p>
<p>生地黃　天冬　阿膠　桂元肉　柏子仁　當歸身　白芍　丹皮　枸杞子　豆皮　茯神　棗仁久利。脈澀腰酸。</p>
<p>鹿角霜　川續斷　禹餘糧　紫巴戟　赤石脂　椿根皮血瘀胸痹。恐暴涌汗泄則脫。</p>
<p>半夏　茯苓　閩薑　延胡索食下　脹脘痞。</p>
<p>半夏　茯苓　枳實　乾薑　橘紅　肉桂氣鈍失運。食下則脹。大便不爽。</p>
<h3>香砂枳朮丸</h3>
<p>宣肺降胃。以理氣逆。</p>
<p>半夏　黑梔　枇杷葉　橘紅　茯苓　土蔞皮脈微陽傷。三瘧形浮。</p>
<p>久瘧。宜和營衛。</p>
<p>茯苓　炙草　煨薑　桂枝　白芍　南棗且和胃氣。補中姑緩。</p>
<p>穀芽　半曲　益智仁　茯苓　廣皮　宣木瓜寒侵疝逆腹痛。</p>
<p>川楝子　荔枝核　茯苓　大橘核　小茴香　桂木衛陽怫鬱。形冷咳嗽。</p>
<p>苦杏仁　大桂枝　生薑　炙甘草　天花粉　大棗易感客邪。肺衛虛耳。而脈細澀。少陰腎精亦虧。當以培補為妥。刻下且以滋養柔金。清肅衛熱。</p>
<p>生甘草　川貝母　玉竹　南沙參　地骨皮　白糯米　桑葉溫邪挾食。咽痛腹疼。</p>
<p>桑白皮　紫蘇梗　枳殼　廣橘紅　白通草　桔梗益陰固精。</p>
<p>熟地　茯神　湘蓮　左牡蠣　豆皮　苦參左脈弦澀。心營暗耗。心陽不寧。寤多寐少。心悸怵惕。靜養為主。</p>
<p>淮小麥　柏子仁　丹參　酸棗仁　建蓮子暫清上焦溫邪。</p>
<p>桑葉　玉竹　川貝　南參　花粉　茯神左脈弦。</p>
<p>脈微。</p>
<p>熟地　天冬　茯神　人參　霍斛　杞子脈弱帶數。真元頗虧。內熱咳嗆。</p>
<p>熟地　天冬　豆皮　茯神　北參　霍石斛氣逆呃忒。宜降肺胃。</p>
<p>茯苓　半夏　枇杷葉　橘白　枳殼　旋覆花濕積脾困。便溏腹痛。</p>
<p>厚朴　陳皮　砂仁殼　茯苓　麥芽　陳神麯沖氣上逆。宜攝下焦。</p>
<h3>桂七味丸</h3>
<p>兩尺空大。嗽逆。行動氣急。當攝下焦。</p>
<p>身痛形凜。</p>
<h3>栝蔞桂枝湯</h3>
<p>脈弦。脅痛繞脘。得飲食則緩。營氣困耳。治以辛甘。</p>
<p>桂枝　川椒　白蜜　煨薑由頭痛致目昏脘悶。屬肝火怫鬱。陽明氣逆為病。</p>
<h3>疏肝散</h3>
<p>瘧傷脾陽。脘悶少運。脈細。法宜溫理中焦。</p>
<p>焦術　神麯　廣皮　茯苓　穀芽　煨薑濕痰內阻。脘悶不爽。大便溏泄。</p>
<p>益智　廣皮　廣木香　茯苓　厚朴　砂仁末心陽內燔。</p>
<p>導赤散加赤苓色萎。脈弦數。營損之象。益以甘緩。</p>
<p>當歸　炙草　煨薑　茯苓　廣皮　南棗瘀行後宜益正氣。戒酒為要。</p>
<p>焦術　廣皮　炙草　建蓮　茯苓　穀芽　木瓜　米仁脈微。久泄瘕聚。</p>
<h3>四神丸</h3>
<p>食物失宜。下利更甚。</p>
<p>益智　胡蘆巴　青皮　茯苓　炮老薑　蓽茇有年氣弱。食下少運。左脈弦勁。肝邪僭逆。將來恐有關格之患。</p>
<p>煨薑　宣木瓜　人參　茯苓　半夏曲　陳皮嗽逆不得臥。短氣脈澀。</p>
<p>杏仁　粗桂枝　半夏　生白芍　茯苓　淡乾薑　炙草　五味子積著於胃。脘中痹痛。高年宜和不宜攻。</p>
<p>薑渣　麥芽　茯苓　厚朴　延胡　半曲痰厥頭痛。</p>
<p>半夏　吳萸　乾薑　茯苓食物失宜。冷著於中。胃痛復作。先宜理之。</p>
<p>半夏　茯苓　麥芽　煨薑　橘紅　蘇梗溫邪作咳。脈弦數。恐咳傷陽絡失血。</p>
<p>桑葉　杏仁　花粉　川貝　生草　南參食下拒納。必嘔出完穀方爽。味酸。二便不爽。此肝邪上逆。陽明不降使然。</p>
<p>人參　茯苓　乾薑　半夏　枳實　川連此肺痹為嗽。音嘶。莫作損怯治。</p>
<p>補肺阿膠東加桔梗水液上泛。形浮嗽逆。無如不獨陽微。陰亦為之虧矣。用藥之難以圖功在斯。</p>
<h3>茯苓桂枝五味甘草湯</h3>
<p>陽微飲逆。咳嗽嘔惡。</p>
<p>溫邪發熱。咳嗽咽痛。</p>
<p>玉竹　白沙參　桑葉　川貝　南花粉　梨汁肺氣不宣。陽明少降。胸悶時作時止。所謂上焦如霧耳。</p>
<p>杏仁肉　米仁　廣橘紅　白豆蔻　茯苓　枇杷葉產後營虛寒侵。身痛形凜。</p>
<p>當歸桂枝湯去芍加茯苓肝陰有虧。厥陽內燔。</p>
<p>鱉甲　丹皮　生地黃　白芍　青皮　豆皮噎格難治。</p>
<p>半夏　茯苓　生薑汁食滯。下利腹痛。</p>
<p>厚朴　穀芽　煨薑　陳皮　半曲　枳實肝風痙厥。今色萎脈軟。氣漸餒矣。宜甘緩益之。不必見病治病。</p>
<p>人參　牡蠣　淮小麥　茯神　龍骨　真飛金溫邪咳嗽。頭脹鼻塞。</p>
<p>薄荷　象貝　桑白皮　桔梗　杏仁　生甘草脈數。失血咳嗽。</p>
<p>熟地　北五味　茯神　芡實　湘蓮　甜北參　山藥　牡蠣　天冬　人乳粉　阿膠　麥冬脈澀。左肢麻。脅痛不能左眠。大便溏泄。此腎真空虛。木少涵養。厥陽沖擾。陽明失闔使然。無如乏力用參。惟攝少陰而已。</p>
<p>下虛濕著。腿軟無力。</p>
<p>杜仲　虎脛骨　巴戟　木瓜　白蒺藜　萆郁氣不宣。胸悶噫氣。</p>
<p>鬱金　枇杷葉　半曲　枳殼　廣橘紅　茯苓兩尺空大。少陰空虛。食下少運噫氣。亦腎為胃關之義。</p>
<p>菟絲餅　胡蘆巴　茯苓　砂仁末　益智仁　廣皮咳嗽音嘶。脈細。宜攝少陰。</p>
<p>病後葷酒太早。脾陽受戕。濕伏成泄。濕勝則濡泄是也。</p>
<p>茆術炭　砂仁殼　廣皮　厚朴　塊茯苓　大腹皮　豬苓　澤瀉利止。腹痛未減。大便不爽。</p>
<p>大茯苓　山楂炭　青皮　淮麥芽　廣橘紅　桂心陽明絡虛。風邪乘之。頭痛。顴頰偏右皆木。將來必致損目。</p>
<p>黃　片　於潛術　茯苓　防風根　明天麻　炙草寒熱咳嗽身痛。</p>
<p>栝蔞桂枝湯去芍加杏仁陰弱。風溫作咳痰血。</p>
<p>玉竹　花粉　白沙參　茯神　川貝　甘蔗汁動怒肝氣上逆。脘痛有形攻觸。</p>
<p>川楝　麥芽　茯苓　青皮　香附　橘紅茹素營氣不長。咳嗽妨食。天癸漸斷。恐延干血。</p>
<p>黃　炙草　茯神　歸身　大南棗肉少陰空虛。沖氣上逆。臥則咳嗆。咽乾隱隱燥痛。少陰之脈循喉嚨。陰少上承。陽乃亢耳。</p>
<p>熟地　女貞子　金釵川斛　天冬　人中白　糯稻根須陽傷挾邪。形凜發熱咳嗽。脈帶歇。恐喘急。</p>
<p>杏仁　粗桂枝　生薑　茯苓　炙甘草　大棗脈微按之數。咳嗽。食下便溏。此陰損及陽。殊不易復。須胃強能納。庶可撐持。</p>
<p>六君子湯去半夏加白芍漏瘍血液下滲。氣弱形寒發熱。</p>
<p>產後惡露不行。腹痛脘悶。法宜兩和氣血。</p>
<p>香附　丹皮　茺蔚子　延胡索　澤蘭　楂肉　豆皮　柏子仁肺飲不得臥。</p>
<p>旋覆花　米仁　杏仁　白芥子　半夏　茯苓氣弱神倦妨食。耳鳴。</p>
<p>人參　當歸　炙甘草　煨薑　茯苓　半夏　生穀芽　大棗脈弦。</p>
<p>茯苓　炙草　南棗　桂枝　廣皮　煨薑嗽減。自汗口乾。</p>
<p>玉竹　茯苓　南參　骨皮白糯米泡湯代水陽困失曠。胸悶腰痛。</p>
<h3>苓薑朮桂湯</h3>
<p>絡傷失血。脈弦而虛。恐其難耐夏熱。</p>
<p>熟地　牛膝　花蕊石　大淡菜　茯苓　藕節　豆皮　川斛陰寒下著。腹痛形寒。</p>
<p>吳萸　桂枝　茯苓片　泡淡生乾薑久嗽音嘶失血。</p>
<p>糯稻根須　元參　雞子白　金釵川斛　川貝　南沙參溫邪上郁。咳嗽頭重。</p>
<p>杏仁　米仁　橘紅　白旋覆花　蔞霜　桑皮噎格脈弦。胃氣空也。乏力用參。如之何圖功。</p>
<p>半夏　煨薑　旋覆花　茯苓　南棗　代赭石左尺空虛。</p>
<p>菟絲餅　胡蘆巴　茯苓　巴戟天　砂仁末　橘紅陽失流行。胸背痹痛。</p>
<p>桂枝　茯苓　薑汁　白蜜精濁日久。咽乾脈細。</p>
<h3>滋腎丸</h3>
<p>此傷於腎精不能封蟄。肝陽化風不寧。由沖海上逆。沖突無制。心悸身若溶溶無定。是病靜養葆真。調理經年乃復。</p>
<p>熟地　人參　茯苓　龍骨　牡蠣　飛金飲阻陽郁。形凜背痛。</p>
<p>杏仁　茯苓　炙草　桂枝　米仁　生薑陽困不宣。脘脹少運。二便不爽。法宜溫理中陽。</p>
<p>厚朴　橘白　生乾薑　半夏　茯苓　大枳實陰弱氣怯。頭暈肢冷。食下少運。甘溫益之。</p>
<p>菟絲餅　茯苓　甘草　穀芽　半夏曲　當歸　廣皮　煨薑腸紅日久。年已六旬。不獨營傷。氣亦耗矣。是以食下少運。神倦形萎。日就其衰耳。大凡益營護陽。古法當以甘溫主議養營法最合。當遵之。</p>
<p>養榮膏風濕相搏。形浮咳嗽。</p>
<p>杏仁　米仁　木防己　桂枝　茯苓　生薑皮脈細而澀。脘痛食下拒納。乃血格之候。症重。</p>
<p>枇杷葉　蘇子　桃仁　鬱金汁　橘紅　茯苓陰虧陽亢。失牙血宣。</p>
<p>熟地　龜板　淡菜　女貞子　天冬　川斛　茯神　旱蓮草風溫阻於上焦。頭脹咳嗽身痛。</p>
<p>杏仁　蘇梗　象貝　桔梗　連軺　花粉　桑皮　通草少陰不納沖氣咳嗽咽乾。</p>
<p>不飢脘悶。漾漾欲吐。原屬少陰空虛。刻下宜和中焦。</p>
<p>穀芽　半曲　川斛　茯苓　木瓜　廣皮少陰陽虛。飲逆喘急。不得臥。脈微。法宜溫納。</p>
<p>桂苓五味甘草東加胡桃肉肝陽上冒。齒痛腮腫。</p>
<p>生地　丹皮　人中白　川斛　黃柏　赤茯苓脾陽困頓。飧泄腹痛。</p>
<p>丁香　蓽茇　白茯苓　炮薑　廣皮　益智仁久嗽。失音咽痛。火升足冷。屬少陰不潛耳。</p>
<p>熟地　萸肉　北五味　丹皮　山藥　茯苓　苦黃柏　知母　桂心　澤瀉　青鹽　牛膝陽升不納。項腫足冷。法宜溫納。</p>
<p>努力絡傷。失血脅痛。</p><p>生地　茜草　杜牛膝　茯苓　丹皮　豆皮邪退陰虧。小溲不利。</p>
<p>六味去萸加　豆皮氣血不調。心悸脘悶。法宜溫之。</p>
<p>當歸　白芍　焦術　炙草　棗仁　茯神　陳皮　柏仁久嗽食減。</p>
<p>北沙參　麥冬　扁豆　茯神　霍斛勞傷陽氣。食減腹膨。</p>
<p>生於朮　茯苓　廣皮　半夏曲　厚朴　煨薑心悸。食不甘味。舌苔頗濁。宜和陽明。</p>
<p>北沙參　麥冬　茯神　扁豆　霍石斛脈澀火升。食下稍有不適。即漾漾欲嘔。究屬下焦空虛。氣衝無制使然。法宜填攝。</p>
<p>六味丸加湘蓮川斛芡實牡蠣陰虧陽浮。則為嗽血。如見咳嗽。投以清潤肺藥。恐中戕病劇。</p>
<p>熟地　北五味　海參　天冬　阿膠　北沙參　湘蓮　茯神　河車　霍山斛　山藥　芡實溫邪作咳。</p>
<p>桑葉　川貝母　南沙參　杏仁　南花粉　大甘草濕阻氣痹。脘悶不爽。身痛。</p>
<p>杏仁　半夏　茯苓　桂枝　乾薑　木防己下利日久。腰痛氣墜。</p>
<p>鹿茸　菟絲餅　胡蘆巴　人參　補骨脂　雲茯苓此懸飲也。邪戀日久。雖屬絡病。正氣暗傷。是以　有聲。究非全是頑痰竊踞。李士材謂屢攻屢補。以平為期。當遵之。</p>
<p>生牡蠣　白蒺藜　桂心　甘遂　薑黃　麥芽湯法丸溫邪鬱而不泄。頭痛咳嗽脘悶。</p>
<p>杏仁　花粉　桂枝　炙草　生薑　大棗雖屬瘀血。上吐下泄。而中焦氣亦為之暗傷。色萎脈澀。耳鳴神倦。行動氣逆。當治以甘溫益虛。不宜謂其瘀而攻之。</p>
<p>熟地　當歸　茯苓　炙草　遠志　棗仁　柏仁　建蓮虛風內煽。收之攝之鎮之。</p>
<p>熟地　萸肉　茯神　人參　龍骨　牡蠣　飛金　棗仁溫邪伏於肺衛。</p>
<p>桑葉　川貝　南參　花粉　杏仁　橘紅陽微。陰濁上干。脘悶氣衝至咽。大便溏泄。議用真武法。</p>
<p>氣阻脘痹。</p>
<p>枳殼　茯苓　厚朴　半夏　橘白　杏仁溫邪怫鬱。咳嗽形凜發熱。</p>
<p>栝蔞桂枝湯去芍加杏仁肝氣怫鬱。脅痛繞及胸背。木鬱達之。</p>
<p>鉤藤　桑葉　黑鬱金　橘紅　茯苓　土蔞皮邪伏少陽為瘧。頭脹口苦渴飲。</p>
<p>小柴胡湯去參下焦空虛。厥氣上逆。喘急短氣。</p>
<h3>桂都氣丸</h3>
<p>脈澀。少腹症積。不時攻逆作痛。心中嘈雜。症積痹在血分。宜攻宜泄。第營血頗虛。只宜養之和之。</p>
<p>旋覆花東加桃仁柏子仁　豆皮形浮嗽逆痰血。宜降肺胃。</p>
<p>旋覆花　蘇子　半夏　枇杷葉　米仁　茯苓脈弦飲也。飲阻則陽郁。是以背痛形凜。宜以溫藥和之。</p>
<p>杏仁　桂枝　白芍　乾薑　茯苓　半夏　炙草　北五味脘痛得熱飲則止。胃陽困耳。</p>
<h3>高良薑延胡索紅棗皮煎湯丸</h3>
<p>血止身痛。左脈尚弦。</p>
<p>細生地　藕　牛膝　豆皮　茯神　川斛食物失宜。脘悶便溏發熱。</p>
<p>枳殼　半曲　桑皮　黃芩　桔梗　橘紅嘔惡拒納口苦。</p>
<h3>旋覆花代赭湯</h3>
<p>肝邪擾中。陽明不宣。妨食　脹。苦辛泄降為主。</p>
<p>香附　川芎　半曲　橘紅　黑梔　白芍　茯苓　麥芽癉脹陡然吐血。血後脹亦不減。此肝沖逆陽明胃府受困。乃虛之實候也。難治。</p>
<p>青皮　香附　雞肫皮　茯苓　大麥芽　香圓皮左脅癖積。大便艱澀。胃絡痹耳。</p>
<p>半夏　生薑渣　枳實　杏仁　栝蔞實　大麥芽三陰交虛。法宜填攝。</p>
<p>熟地　北五味　川石斛　杜仲　茯神　線魚膠　菟絲子　芡實　山藥　金櫻子　湘蓮實沙苑食下氣噫胸痛。脈澀。此血阻氣痹。乃高年噎格之漸。未易調理。</p>
<p>蘇子　枇杷葉　土栝蔞皮　桃仁　廣橘紅　降香濃汁濕飲內阻。焉得不咳。</p>
<p>杏仁　大半夏　粗桂枝　米仁　塊茯苓　木防己脅痛繼而失血。仍屬絡瘀。但氣逆欲喘。背惡寒心中熱。診脈左弦。究屬少陰不藏。肝陽擾絡使然。切勿攻瘀。重虛其虛為要。嗜如酒漿。尤宜禁忌。</p>
<p>熟地　大淡菜　牛膝　茯神　豆皮　桃仁努力絡瘀。氣痹發黃。日久有失血之累。</p>
<p>丹皮　香附　大麥芽　黑梔　茯苓　淡竹葉嗽不減。左脈弦。</p>
<p>玉竹　川貝　南沙參　地骨皮　生草白糯米泡湯代水脘爽便泄。宜和中焦。</p>
<p>半曲　木瓜　穀芽　茯苓　廣皮　香附嗆而欲嘔口乾。</p>
<p>北參　扁豆　麥芽　茯神　霍山石斛經漏日久。猶然腹膨氣激塊下氣腥。此血去過多。厥陽無制耳。</p>
<p>黃牛角　真陳墨　人參　白薇　烏賊魚骨　血余膠　艾炭　川斷　椿根白皮　陳棕炭　阿膠　薑炭陡然嘔吐。繼作頭旋。身若溶溶如坐水中。是下焦空虛。入春氣泄。厥陽直冒。不克交入陰中。乃虛候也。第病已一月。猶然脘悶不飢。食不甘味。陽明胃氣受肝戕賊。困頓不能升降致此。且兩和之。</p>
<p>旋覆花　代赭石　人參　白茯苓　廣橘白　半夏脈弦勁。</p>
<p>川石斛　左牡蠣　熟地　大茯神　豆皮　丹皮濕積。溫中不應。據述腿浮行動氣逆。少陰之陽式微。陰濕亦為僭逆矣。即脾陽亦頓命門真火燠之。</p>
<p>寒起四末。舌白脘悶。溫其脾陽。</p>
<p>草果仁　制附子　生薑　白茯苓　烏梅肉　廣皮腰痛如折。腎將憊矣。</p>
<p>枸杞子　肉蓯蓉　附子　生杜仲　穿山甲　鹿茸高年二氣交衰。水泛嗽逆。腹膨腿浮。</p>
<p>陽升牙宣。宜攝少陰。</p>
<p>大補陰東加人中白精濁咽乾。攝陰為主。</p>
<p>熟地　女貞子　湘蓮　牡蠣　茯神　金櫻子　芡實　苦參目澀耳鳴精濁。皆屬肝腎虛。</p>
<p>熟地　枸杞子　女貞　葳蕤仁　磁石　北五味　川斛　巨勝子濕阻化熱。咳嗽渴飲。</p>
<p>蘆根　白通草　浙苓　杏仁　桑白皮　米仁濕邪戀於上焦。</p>
<p>薄荷　生甘草　連軺　象貝　桔梗白　杏仁風溫襲於上焦。發熱頤腫。</p>
<p>薄荷　牛蒡子　馬勃　桔梗　鮮蘆根　連翹陽傷飲逆。喘急形浮。</p>
<p>中脘痛痹。不時有形攻逆。且頻頻遺泄。此營虛氣結絡痹。法宜益虛和之。</p>
<p>當歸　桂心　炙草　茯苓　白芍　新會久瘧傷陰。陽偏絡松。嗽逆痰血。法宜益陰。</p>
<p>熟地　茯神　真阿膠　川斛　淡菜　豆皮形豐脈小。的是陽氣外越。陰濕下著。腿浮酸痛。在法自宜溫陽泄濕。無如陽氣外越。溫藥素所不宜。諒未能下達耳。</p>
<p>白朮　附子　云白茯苓　川萆　米仁　牛膝　金毛狗脊　晚蠶砂溫邪作咳。誤以辛溫表散。音失咽養。</p>
<h3>補肺阿膠湯</h3>
<p>虛風漸熄。</p>
<p>熟地　萸肉　棗仁　龍骨　人參　茯神　飛金　牡蠣咳嗽盜汗。責之陰弱氣浮。溫邪乘虛襲之。</p>
<p>玉竹　南沙參　霍石斛　茯神　川貝母　地骨皮夢泄盜汗。左脈弦數。臟真內虧。陽浮不潛。</p>
<p>熟地　左牡蠣　真龍骨　白茯神　人參　湘蓮子　桑螵蛸　北五味胃虛木乘。氣逆吞酸。頭旋腰痛。</p>
<p>北參　左牡蠣　川石斛　茯神　淮小麥　豆皮吞酸脘脹。</p>
<p>人參　製半夏　吳茱萸　枳實　茯苓　淡乾薑　廣橘皮　川連兩尺空大。少陰自虛。陰虛則生內熱。</p>
<p>生地　豆皮　人中白　元武版　茯神　川石斛　女貞子　旱蓮草陰虧絡痹。</p>
<p>熟地　豆皮　桃核仁　茯神　川石斛　山楂炭陰不上承。咽痛音喝。柔金燥矣。金燥則陰何由而生。謂其延成肺痿。理固然也。</p>
<p>生地　雞子白　人中白　元參　南沙參　元稻根須復脹色萎。脈弦氣急。非胃府病。乃下焦陽衰也。與前脹滿迥異。</p>
<h3>少陰附子湯</h3>
<p>腹痛溺赤。大便不爽。</p>
<p>香附　青皮　麥芽　黑梔　赤苓　楂肉此木火挾痰上冒。清陽被其蒙昧。頭旋嘔惡。莫作虛陽治。</p>
<p>竹茹　半夏　橘紅　枳實　茯苓　川連肺氣室痹。胸悶咳嗽。不忍穀食。</p>
<p>旋覆花　橘紅　杏仁　冬瓜子　蘇子　薏米久嗽用肺藥不應。脈數。金水同治。</p>
<p>熟地　生地　北沙參　天冬　麥冬陰不固攝。夢泄腸紅。</p>
<p>熟地　炙甘草　北五味子　芡實　茯神　淮山藥　黑殼建蓮　白芍勞傷挾邪。發熱形凜。</p>
<h3>杏仁桂枝湯</h3>
<p>脈長鼻衄。陽升使然。</p>
<p>大補陰東加人中白脈動搏且長。相火偏熾。陰分失固。咳嗆痰血。最易成損。全在自知病因。勿妄欲念。恐心動精搖耳。</p>
<p>補陰東加二至丹皮川斛肝痹氣結。營虧。腸紅食減身痛。</p>
<p>當歸　白芍　茯苓　柴胡　焦術　陳皮　炙草悲哀太過。心脾交傷。奇經遂爾失護。帶下赤白。心悸少寐。</p>
<p>鹿角霜　建蓮　血余膠　白茯苓　白薇　桑椹子兩尺微細。腿腫。春夏氣泄。濕蒸腫盛。乃地氣上升耳。通陽一定至理。</p>
<p>白朮　茯苓　薏苡仁　牡蠣　附子　萆　木防己　澤瀉夢泄溺數。</p>
<h3>豬肚丸</h3>
<p>溫邪侵於上焦。咳嗽舌乾。</p>
<p>桑葉　川貝　桔梗　花粉　杏仁　連軺風溫發熱。</p>
<p>薄荷　花粉　杏仁　枳殼　桔梗　連軺濕蒸氣泄汗多。</p>
<p>於朮　半夏　煨薑　茯苓　廣皮　木瓜脾陽不振。食少神倦。</p>
<p>焦術　陳皮　穀芽　歸身　茯苓　半曲　炙草　白芍濕阻陽郁。</p>
<p>桂枝　杏仁　薏苡仁　茯苓　厚朴　木防己肝積攻逆。脘痛肢冷。</p>
<p>吳萸　桂枝　小青皮　茯苓　麥芽　川楝子飲邪咳嗽。</p>
<p>半夏　橘紅　旋覆花　茯苓　米仁　枇杷葉夢泄。脈虛尺微。</p>
<p>茯苓　遠志　線魚膠　沙苑　湘蓮　熟地炭濕積。下利腹痛。</p>
<p>茆術　廣皮　益智仁　茯苓　厚朴　廣木香脘痛脈弦。</p>
<p>吳萸　桂枝　延胡索　茯苓　白芍　川楝子有年陽衰飲干。咳嗽形凜。</p>
<p>杏仁桂枝湯去芍加茯苓肝陰素虧。動怒陽升血發。</p>
<p>生地　茯神　豆皮　鮮藕　北參　霍石斛血乏。不飢喜飲熱湯。小腹冷。且益胃陽。佐以調營。</p>
<p>當歸　穀芽　炙甘草　茯苓　新會　半夏曲血菀氣痹。寒熱日加。產後致此。當慎加調理。</p>
<p>當歸　白芍　茯苓　橘紅　丹皮　青皮　半曲　麥芽治痰之標。宜理中焦。</p>
<h3>枳半橘術丸</h3>
<p>兩尺空大。寐則汗泄。食下少運。</p>
<p>右脈尚弦。</p>
<p>玉竹　扁豆皮　霍山石斛　茯苓　川貝白糯米泡湯代水脈弦。頭旋惡心。</p>
<p>人參　濃枳實　川黃連　橘紅　茯苓　半夏　吳茱萸　石決明　竹瀝薑汁法丸格不能食。幸大便溏泄。且治少陰。</p>
<h3>金匱腎氣丸</h3>
<p>胃逆不降。食下嘔惡。</p>
<p>吳萸　茯苓　半夏　川連　枳實　乾薑下焦不納。沖氣咳逆。</p>
<p>茯苓桂枝五味甘草東加胡桃肉時病後不飢妨食。舌微黃。宜和胃氣。以泄余邪。</p>
<p>大麥仁　半夏曲　大豆黃卷　金石斛　白茯苓　廣橘皮白腿軟頭眩。脈細。</p>
<p>大熟地　制附子　肉蓯蓉　巴戟天　枸杞子　白茯苓　白牛膝　川石斛陽微少護。形寒惡風。肩膊酸。宜辛溫和之。</p>
<p>川桂枝木　生於朮　泡淡生乾薑　茯苓脈弦。</p>
<h3>桂苓五味甘草湯</h3>
<p>脈弦虛。</p>
<p>人參　益智　廣皮　茯苓　木瓜　半曲右寸大。</p>
<p>玉竹　南參　川貝　茯神　桑葉　生草左脈數。按之無序。陰虧陽動之象。日久恐有失血之累。但鼻血咳嗆項核。先宜清理上焦。</p>
<p>桑葉　南沙參　夏枯草　川貝　白花粉　生甘草久嗽氣逆。</p>
<h3>茯苓桂枝甘草大棗湯</h3>
<p>血虛身痛。</p>
<p>當歸　浙菊花　霜桑葉　茯苓　巨勝子　柏子仁氣阻脘痹不飢。</p>
<p>枳殼　炒麥芽　半夏曲　橘紅　老蘇梗　白茯苓肝胃同治頗應。但脈數。耳鳴夢泄。當填補下焦。</p>
<p>磁石六味加湘蓮芡實遠志龜板左脈數。渴飲晡熱。臟陰失守。陽浮外泄。虛損致此。最不相宜。恐夏氣泄越。陰愈耗也。</p>
<p>熟地　真阿膠　元武版　天冬　雞子黃　女貞子脈數無序。色萎。形瘦身熱。臟陰損矣。急急防維。勿忽視之。</p>
<h3>人參固本湯</h3>
<p>氣痹。脘悶咳嗽。</p>
<p>杏仁　枇杷葉　化橘紅　枳殼　白桔梗　白茯苓久嗽。左脈弦。</p>
<p>生地　川貝母　麥門冬　霍斛　南沙參　真阿膠勞力絡傷。延久失血。</p>
<p>枇杷葉　冬瓜子　土蔞皮　杜蘇子　薏苡仁　旋覆花水濕外侵。陽郁不宣。腹痛下利。症恐轉重。</p>
<p>吳萸　附子　丁香　茯苓　乾薑　廣皮溫侵嗽盛。清之是適。而脈微澀。形瘦食少。真元頗虧。年未及五。乃未老先衰之象。</p>
<p>玉竹　桑葉　白沙參　川貝　霍斛　甘蔗汁食下格拒。痰涎泛溢。脈來歇。此陽氣不宣。痰濁上阻使然。</p>
<h3>小半夏湯</h3>
<p>陽微不振。瘧發不已。</p>
<p>於朮　茯苓　煨薑　附子　廣皮　益智陽明不降。寐則火升齒痛。</p>
<p>金斛　廣皮　半曲　茯苓　木瓜　米仁左脈弦數。</p>
<p>熟地　湘蓮　元武版　茯神　天冬　麥冬　川石斛　阿膠　女貞　北參　海參膠　珠菜陽微失護。形凜背痛。</p>
<p>桂枝　茯苓　生薑　附子　炙草　大棗久嗽氣逆。</p>
<p>久嗽腹膨。宜理少陰。</p>
<p>六味東加車前牛膝身復發熱。咳嗽轉盛。</p>
<p>桑葉　川貝　杏仁　南參　橘紅　花粉脈緩。</p>
<p>生於朮　附子　煨薑　桂枝木　炙草　南棗溫邪怫鬱。發熱腮腫。</p>
<p>牛蒡子　杏仁　枳殼　連軺心　桔梗　薄荷勞傷致身熱。陰耗甚矣。夏暑炎蒸可慮。</p>
<p>北沙參　熟地　阿膠　川石斛　麥冬　茯神脈弦勁。咳嗽。宜攝臟陰。</p>
<p>北沙參　阿膠　熟地　天門冬　麥冬　茯神左脈弦。</p>
<p>茯苓　附子　牡蠣　乾薑　桂枝　白芍脈小。</p>
<h3>附都氣丸</h3>
<p>膝痛如烙。下虛。濕熱襲於經隧使然。</p>
<p>金毛脊　杜仲　米仁　虎脛骨　黃柏　萆腸紅尾痛。責在下虛。</p>
<p>鹿角霜　熟地　沙苑　生杜仲　巴戟　蓯蓉少陰素虧。濕熱下注。溺為混濁。議用鹹苦堅泄陰濕法。</p>
<p>左牡蠣　赤苓　黑豆皮　白苦參　遠志　粉萆左脈弦數。咽痛如梗。</p>
<p>細生地　射干　川貝母　南沙參　元參　霜桑葉形盛脈微。陰濁內盛。陽困不宣之象。食下　脹。中脘時作脹痛。陽以通為運。陽氣流行。</p>
<p>陰濁不得上干矣。所謂離　當空。陰霾消散是也。而久痛非寒。偏於辛熱剛愎。又非所宜。</p>
<p>惟和之而已。</p>
<h3>外台茯苓丸</h3>
<p>心虛。笑不休。良由曲運神思。心營暗耗。心陽化風內鼓。恐延心風病。以病論之。何必讀書。</p>
<p>人參　淮麥　建蓮　炙草　茯神　龍齒　棗仁　辰砂背為陽。四肢亦清陽司之。陽微則惡風怯冷肢痹矣。</p>
<p>於朮　桂枝　生薑　附子　炙草　大棗腹痛便泄。暫和中焦。</p>
<p>穀芽　半曲　陳皮　茯苓　木瓜　煨薑產後飧泄。數月不痊。下焦衝任空虛。清陽下陷。奇經失護使然。法宜溫養。</p>
<p>人參　鹿茸　砂仁　肉豆蔻　巴戟　赤脂　萸肉　菟絲子　建蓮　骨脂　山藥　北五味脈細澀。帶下赤白。</p>
<p>鹿霜　蓮須　禹餘糧　茯神塊　黃絲　白薇　生杜仲　椿根皮氣因精而虛。乏力用參。何以補氣。</p>
<p>杞子　沙苑　胡桃霜　肉蓯蓉　杜仲　青鹽　巴戟天　羊內腎左脈弦。不時神煩。頭旋腰酸。食下少運。此少陰空虛。陽浮不潛使然。藥餌弗宜偏於溫熱。</p>
<p>熟地　牛膝　左牡蠣　茯神　白芍　柏子仁脈小。陽未振動。自覺鼻孔涼生。肺開竅於鼻。主乎一身之氣。氣弱陽微。是其征也。</p>
<p>於朮　茯苓　生薑汁　附子　桂枝　大南棗痰飲上阻。清陽失曠。背痛心悸。</p>
<p>濕熱已泄。宜顧其體。</p>
<h3>虎潛丸</h3>
<p>咽痛暮盛。痰多脈小。午後形凜。水涸陽乃浮矣。</p>
<p>知飢少運。脾陽困矣。</p>
<p>益智　茯苓　砂仁殼　穀芽　廣皮　半夏曲右寸數。甘溫之品宜緩。</p>
<p>熟地　茯神　旱蓮草　天冬　湘蓮　霍石斛年已望七。尿血腰痛。此非陰虧陽亢。乃無陰。陽無以化耳。</p>
<p>熟地　天冬　川石斛　阿膠　龜版　豆皮腰痛夢泄。起於勞傷努力。當以溫養下焦。</p>
<p>熟地　杜仲　白沙苑　當歸　茯神　菟絲子脈數。內熱背痛。</p>
<p>熟地　茯神　女貞子　川斛　龜版　旱蓮草陰虛陽浮。耳鳴盜汗。</p>
<p>熟地　萸肉　川石斛　磁石　牡蠣　茯神　北五味　天冬嗽逆沖氣不得臥。此屬下焦不納。水飲上泛使然。</p>
<p>陽浮氣逆便溏。下焦陽傷矣。</p>
<p>茯苓　附子　白芍　乾薑　白朮身痛脈澀。宜和營衛。</p>
<p>當歸　桂枝　白芍　橘紅　秦艽　赤芍　五加皮　炙草二氣交虛。是以形神困頓。難以名狀。藥餌自宜血肉補之。先以貞元飲益之。</p>
<p>陽虛外寒。陰虛內熱。</p>
<p>熟地　當歸　炙草　茯神　白芍　麥冬氣火上郁。食下噎格。</p>
<p>枇杷葉　栝蔞皮　橘紅　桔梗汁　杜蘇子　米仁胃逆不降。食下拒納。大便不行。</p>
<p>熟半夏　川黃連　枳實　白茯苓　橘皮白　乾薑勞傷陽氣。胸背痹痛。</p>
<p>栝蔞薤白白酒東加半夏杏仁茯苓氣痹不宣。胸膈不爽。</p>
<p>枇杷葉　桑葉　蘇子　化橘紅　杏仁　栝蔞皮痿　。食下嘔惡脘悶。當理陽明。</p>
<p>金石斛　茯苓　橘白　半夏曲　木瓜　穀芽陰虧陽升。耳鳴少聰。</p>
<p>磁石地黃東加川斛不獨陽微飲逆。下焦陰氣亦耗。藥之難以圖功在斯。</p>
<p>白茯苓　桂枝　乾薑　北五味　炙草　白芍痰飲內阻。陽失流行。食下　脹。</p>
<p>白蒺藜　半夏　鉤藤　白橘皮　白茯苓　枳實溫養下焦鹿角霜　杜仲　巴戟　桑椹子　羊內腎　枸杞子　蓯蓉　沙苑　白茯神　菟絲子脈數。</p>
<p>熟地黃　龜版　女貞　天門冬　淮山藥　茯神　白芍　粉丹皮　旱蓮草　牡蠣　湘蓮　海參膠形寒頭脹身痛。</p>
<p>杏仁　花粉　生薑　桂枝　炙草　大棗肺熱音嘶。咳嗆痰血。</p>
<p>桑葉　南參　冬瓜子　川貝　兜鈴　南花粉沖疝裡急腹痛。法宜溫養。但脈來弦澀。寤多寐少。營陰頗虧。偏於辛熱不宜。</p>
<p>當歸　巴戟　紫石英　茯苓　桂心　柏子仁勞傷挾邪。形凜發熱。</p>
<p>木火鬱於中焦。脘痛嘈雜。</p>
<p>嗽久。形凜心悸。</p>
<p>肝逆犯胃。嘔惡脘痛。</p>
<p>川楝子　吳萸　半夏　桂枝木　黃連　茯苓絡熱失血。</p>
<p>生地黃　丹皮　丹參　豆皮　澤蘭　茯神嘔惡妨食。宜養胃氣。</p>
<p>半夏曲　穀芽　麥冬　川石斛　茯神　廣白陰虧陽亢。頭旋咽乾。</p>
<p>熟地　川斛　雞子黃　天冬　龜版　白茯神食下拒納。　痛脘脹。</p>
<p>川楝子　半夏　川連　吳萸　茯苓　青皮汁久嗽。形寒身痛。脈浮弦。</p>
<p>脈細。</p>
<p>熟地　當歸　川石斛　茯神　炙草　麥門冬痧後咳嗆。便溏目痛。</p>
<p>肝鬱乘中。中脘按之有形且痛。食下　脹。腸紅易怒。</p>
<h3>加味逍遙散</h3>
<p>絡痹。右脅癖積。脈澀。法宜通泄。</p>
<p>鱉甲　丹皮　化橘紅　桃仁　牡蠣　白蒺藜脈弦。來去不調。營衛未和。是以不飢。胸臆時痛時止。法宜和之。</p>
<p>當歸　棗仁　柏子仁　半曲　茯苓　炙草　白芍藥　廣皮左脈尚弦。</p>
<p>生地　阿膠　霍山鮮石斛　天冬　麥冬　杜生雞子黃脈弦數。</p>
<p>熟地　生地　甜沙參　天冬　麥冬　霍石斛晡熱。右脈弦大。陰弱伏溫。且養陰和陽。</p>
<p>新鮮地骨皮　麥冬肉　茯神　青皮甘蔗汁　川石斛　知母痰阻熱蒸。發熱脘悶。</p>
<p>竹茹　半夏　橘紅　枳實　茯苓　桑葉此痰鬱也。陽失宣達。頭痛眩暈。</p>
<p>於朮　半夏　白茯苓　化橘紅　天麻　竹瀝　白蒺藜　老薑汁五志內燔。心悸舌糜。宜存陰泄陽。第脈弦澀。不宜過於苦寒。</p>
<p>生地　川連　新燈心　茯神　丹參　赤麥冬暫清上焦。</p>
<p>蘇梗　橘紅　大象貝　杏仁　桔梗　桑白皮勞傷背痛。</p>
<p>當歸　茯苓　炙甘草　桂枝　秦艽　白芍藥肝陰內耗。厥陽易升。是以煩勞則瞀悶齒痛。法宜潛陽熄風。</p>
<p>熟地　茯神　虎脛骨　當歸　蓯蓉　天冬　左牡蠣　牛膝　龜版　青鹽　白芍藥　黃柏形豐脈微。陽氣自薄。進以六味地黃。純陰礙陽。是以心悸陽痿。議用通陽。以消陰翳。</p>
<p>人參　遠志　鹿茸　菟絲子　附子　細辛　茯苓　粉萆陽微飲阻。脘悶惡心。</p>
<p>於朮　半夏　橘紅　茯苓　乾薑　枳實風濕相搏。發熱身痛。</p>
<p>杏仁　桂枝　木防己　米仁　茯苓　大豆卷血枯經閉。</p>
<h3>烏賊骨丸</h3>
<p>郁勃肝挹。右脅氣逆。有形如瘕。腹痛身熱經漏。急為調理。否則恐成郁損。</p>
<p>黑　豆皮　丹皮　香附　明潤琥珀　澤蘭　楂炭帶多身痛腹膨。法宜溫養。</p>
<p>新鹿角霜　杜仲　白薇　沙苑蒺藜　杞子　當歸痰多惡心脘悶。</p>
<p>白旋覆花　鉤藤　黑梔　栝蔞仁霜　茯苓　橘紅有年陽微。飲逆咳嗽。</p>
<p>杏仁　茯苓　生薑　桂枝　炙草　大棗冷物傷中。脘痛脈沉。</p>
<p>杏仁　藿梗　半夏　厚朴　枳殼　橘白久嗽。肺氣燥劫。食下不降。得飲則適。有年致此。恐噎格之患。</p>
<p>枇杷葉膏兩尺空大。鼻衄時發。臟陰虧矣。陽失其守。議仿虎潛意。</p>
<p>熟地　北五味　虎脛骨　黃柏　茯神　龜版　肉蓯蓉　川石斛　牛膝　青鹽胸痹。</p>
<p>薤白　白茯苓　生薑汁　半夏　杏仁脈弦長。木火偏亢。嗜酒更助其膽熱矣。是以口糜味甜。法宜苦辛泄之。</p>
<p>金斛　黑山梔　白茯苓　桑葉　廣皮白　半夏曲先寒後熱。是屬伏邪。體質陰弱。未宜發表。伏邪者、乘虛伏於裡也。當從裡越之。春溫篇</p>
<h3>黃芩湯</h3>
<p>木火偏熾。宜存陰泄陽。虛則補其母。實則瀉其子。與存陰泄陽相協。以是定方。</p>
<p>生地　天冬　柏仁　棗仁　豆皮　條參　茯神　丹參　川連　真阿膠高年病後脈歇知飢。營血枯矣。勿以便艱而攻滌。</p>
<p>製首烏　火麻仁　肉蓯蓉　白茯神　枸杞子　白牛膝食下拒納。此屬噎格。</p>
<p>食下少運便泄。少腹氣墜。脈細。命門火虛。清陽下陷。日久有腹滿氣急之患。</p>
<p>鹿茸　菟絲子　胡蘆巴　人參　白茯苓　補骨脂穢氣溷於募原。脘悶惡心。</p>
<p>藿香　杏仁　枳殼　厚朴　半夏　廣皮嗽逆脈數。肺陰耗耳。恐延肺痿。</p>
<p>北參　霍斛　茯神　麥冬　白扁豆皮陽微少運。脘不爽利。轉氣則舒。府陽以通為用明矣。</p>
<p>茯苓　厚朴　附子　於朮　澤瀉　乾薑下焦不納。沖逆咳嗽。煩勞則精濁。</p>
<p>茯苓　炙草　胡桃肉　桂枝　北五味脈澀不利。夢泄食少內熱。此少陰陰虧。穀氣水濕下注。乃陰虧濕熱之候也。</p>
<p>此濕火上蒸。耳　脹痛。且溢黃水。先宜清之。而原本屬腎虛。</p>
<p>大豆卷　金銀花　米仁　連軺　綠豆皮　夏枯草　通草　桔梗脈弦勁。木火偏亢。逼絡血溢。血失反能食。陽明亦熱矣。議用苦降法。</p>
<p>生地　豆皮　茜草　白芍　側柏葉　淡菜血雖止。脈尚弦數。晨起咳嗆。陰虧陽動不潛使然。靜養為主。</p>
<p>熟地　麥門冬　真阿膠　茯神　川石斛　雞子黃陽明絡空。風濕乘之。右肢痹痛。且發紅痱。</p>
<p>生　皮　赤芍　花粉　歸身　桂枝頭痛脅疼。</p>
<p>小柴胡湯去參有年陽微失護。客邪觸飲。咳嗽嘔逆。形寒身痛。</p>
<p>杏仁　茯苓　生薑　桂枝　炙草　大棗虛陽不潛。頭暈時作。</p>
<p>熟地　茯苓　杞子　浙江黃菊　萸肉　牡蠣　牛膝　細川石斛風火鬱於上焦。鼻流穢濁氣腥。當薄滋味。</p>
<p>薄荷　黑梔　象貝　連軺　花粉　菊花陰虧陽浮不潛。暮熱不寐。</p>
<p>生地　柏仁　左牡蠣　阿膠　茯苓　料豆殼陰弱內熱。漸延骨損。</p>
<p>六味湯去萸加白芍九孔石決明料豆殼營虛心悸。神倦身痛。</p>
<p>熟地　杞子　柏仁　歸身　茯神　杜仲失血後。脈澀咳嗆。宜養肺胃之陰。</p>
<p>北沙參　茯神　麥門冬　白扁豆　百合　霍石斛脈弦。身熱從汗泄而解。此屬伏濕。恐其轉瘧。</p>
<p>杏仁　半夏　橘白　厚朴　茯苓　煨薑痔血。</p>
<p>炒枯六味東加柿餅炭炒槐花胃痛過於辛熱開泄。致尿血淋。今轉為濁。莖尚痛。欲其兩顧。苦無成法可遵。姑理下焦。</p>
<h3>黑珀散</h3>
<p>因外瘍復煩勞。致營衛交損。寒熱咳嗽盜汗。經阻兩月。漸延干血瘵疾。</p>
<p>左關弦。來去躁疾。右細澀。食減。陽明困頓。血液暗耗。日久恐有偏枯之累。此刻當理陽金斛　茯苓　半曲　橘紅　鉤藤　桑葉溫養下焦。佐泄厥陰。</p>
<p>巴戟天　茯苓　胡蘆巴　菟絲子　川楝子　桂心　小茴香　補骨脂勞傷肝陽絡松失血。左脈弦。</p>
<p>生地　豆皮　藕節　茯神　白牛膝　珠菜氣不宣達。胸痹。大便不行。</p>
<p>枇杷葉　紫菀　枳殼　土蔞皮　杏仁　桔梗血後咳嗽。宜益肺胃。</p>
<p>北沙參　麥冬　霍斛　白扁豆　茯神右關沉澀。左脈弦勁。此木火內亢。陽明絡泣。脘痛嘈雜頭旋。</p>
<p>桑葉　桃仁　黑芝麻　柏仁　紅花　大淡菜脈弦腹膨。氣逆動怒致此。肝邪沖逆陽明也。切勿嗔怒。勢恐變幻。慎之慎之。</p>
<p>川楝子　茯苓　化橘紅　大麥芽　青皮　砂仁殼火鬱發熱齒痛。</p>
<p>薄荷　花粉　黑梔　生草　赤芍寒暖不調。邪阻肺衛。哮喘痰血。</p>
<p>旋覆花　米仁　橘紅　霜蔞仁　蘇子　浙苓脾陽下陷。便溏腸紅。</p>
<h3>補中益氣湯</h3>
<p>失血咳嗆夢泄。皆屬下焦不藏。</p>
<p>熟地　北沙參　天冬　旱蓮草　茯神　川石斛　山藥　女貞子右寸獨大。</p>
<p>飲逆嘔惡。</p>
<p>半夏　乾薑　茯苓復受客邪。身痛脘悶。</p>
<p>蘇梗　半夏　枳殼　橘紅　杏仁　麥芽氣阻脘痹。</p>
<p>蘇梗汁　香附汁　枳殼汁　桔梗汁陽微。濕阻汗泄。</p>
<p>咳而嘔逆。脈虛弦。宜益肝胃。</p>
<p>人參　旋覆花　淮小麥　茯苓　代赭石　大南棗濕鬱陽痹。形凜咳嗽。</p>
<h3>玉竹桂枝湯</h3>
<p>脈細神倦。氣弱也。氣弱則不能統攝。精濁不已。先宜調益心脾。</p>
<p>桑螵蛸　湘蓮　龍骨　遠志　柏子仁　茯神　龜版　人參調益心脾。用王荊公法。</p>
<p>人參　益智　茯神　炙草　麝香　茯苓　龍骨　遠志　廣木香　辰砂</p>
<h3>滾水法丸</h3>
<p>左脈弦數。頭重味酸肢冷。病後致此。乃脾陽困頓。木火順乘。陽明少降使然。東垣謂補脾胃必先遠肝木。良有以也。</p>
<p>人參　茯苓　黃連　新會皮　青皮　白朮　半曲　白芍　生乾薑脈細雖屬少陰空虛。而中焦有伏飲。是以嗽逆嘔惡。先宜理之。</p>
<p>半夏　茯苓　乾薑　秫米煎湯法丸脈澀淋濁。法宜導火。</p>
<h3>導赤散</h3>
<p>護陽則氣宣矣。</p>
<p>於朮　附子　煨薑　茯苓　桂枝　南棗陰虧則陽亢。</p>
<p>生地　龜版　芡實　旱蓮草　黃柏　茯神　丹皮　女貞子咳嗽音嘶。</p>
<p>桑葉　南參　杏仁　川貝　花粉　橘紅下虛不納。頭旋。食下少運。</p>
<p>食物不調。脘脹噫氣。</p>
<p>杏仁　厚朴　蘇子　枳殼　麥芽　橘白疳積腹痛。形瘦脈虛。勿忽視之。</p>
<h3>絳礬丸</h3>
<p>嗽逆嘔逆不得臥。經謂嗽而嘔者屬胃咳也。此由嗽傷陽明之氣。厥陰肝邪順乘使然。凡女科雜症。偏於肝者居半。即如是病。經一阻則遂劇矣。非泛泛咳嗽之比。</p>
<p>人參　旋覆花　白芍　茯苓　代赭石　南棗痰血用攝陰藥。穀食漸增。亦是佳境。</p>
<p>熟地　霍石斛　北參　茯神　麥門冬　參山漆音嘶咽痛。脈細澀。的是少陰腎真空虛。無以上承使然。切勿煩勞。夏暑炎蒸。宜綠蔭深處靜養為要。</p>
<p>生地黃　大天冬　上清阿膠　雞子黃　霍石斛　元稻根須右寸大。此金燥作咳。莫作飲治。宜以清潤為主。</p>
<p>壯玉竹　南沙參　霍山石斛　川貝母　白茯神　生扁豆白溫養腎真為主。所謂勞傷腎。勞者溫之之義。</p>
<p>大熟地　枸杞子　杜仲　肉蓯蓉　線魚膠　羊內腎　茯苓　菟絲子　巴戟天　舶茴香　沙苑麋角霜陽虛自汗怯冷。</p>
<p>於朮　附子　黃　滾水泛丸寒熱脅痛。脈弦。溫邪襲於肝絡。吐血猶可。最怕成癰。</p>
<p>丹皮　桃仁　鉤藤　黑梔　茜草　桑葉咳嗽失血。左脈猶弦。此努力絡傷為病。</p>
<p>生地　牛膝　豆皮　珠菜　茜草　鮮嫩藕左脈弦。嗽血氣逆。酒客動怒致此。當理肝胃。</p>
<p>金斛　茯苓　白牛膝　米仁　牡蠣　白扁豆疏肝宣胃。</p>
<p>川楝子　大麥芽　茯苓　生香附　小青皮　橘紅清上焦氣熱。</p>
<p>桑葉　川貝　蘆根　花粉　杏仁　桔梗舌黃。脘中未爽。濕阻於中焦。</p>
<p>半夏　白朮　廣皮白　茯苓　乾薑　枳實皮溫邪作咳痰血。</p>
<p>桑葉　花粉　南沙參　川貝　杏仁　生甘草咳嗽失血。脈澀。下焦不納。春深氣泄使然。</p>
<p>生地黃　白茯神　豆皮　真阿膠　天冬肉　鮮藕汁此衝任病也。帶多。血液下滲。厥氣無涵。是以不時氣逆。經事不至。即有干血之患。</p>
<p>枸杞　白茯神　當歸　沙苑　紫石英　小茴香熱鬱作咳。溺赤口渴。辛涼泄之。</p>
<p>薄荷葉　象貝　黑山梔　天花粉　連軺　苦杏仁脈長弦數。陰虧陽不寧靜。食下便溏。亦腎為胃關之義。</p>
<p>六味湯去萸加牡蠣失血氣逆。咳嗆能食。宜乙癸同治。</p>
<p>熟地　川石斛　牡蠣　天冬　茯神　牛膝溫邪未淨。脘悶咳嗽。</p>
<p>杏仁　白茯苓　桑皮　半夏　廣橘紅　米仁下焦不納。咳嗽氣逆。</p>
<p>都氣東加牛膝川斛青鉛積寒腹痛。</p>
<p>吳萸　白茯苓　半夏　乾薑面黃而瘦。腹痛。屬蟲。</p>
<p>使君子肉　雞肫皮　五穀蟲　青皮　白榧子肉　胡黃連　白芍藥　蕪荑　大川楝子　大麥芽癉脹腹皮反熱。下體怯冷。是陰盛格陽之象。飲必沸湯。稍溫則腹中不適矣。大小便不利。正屬陽氣不得通行之義。陰邪　滿之勢。症非輕小。其勿忽視。</p>
<p>泡淡川附子（五錢）　泡淡生乾薑（一錢五分）</p>
<p>公豬膽汁一個沖入調服。</p>
<p>脈弦而濡。氣分殊弱。濕熱不能盡泄。不飢少寐。神倦痰多。宜健脾和胃。佐以遠木。</p>
<p>人參　生穀芽　木瓜　神麯　茯苓　新會皮　炙草　川連九竅不和。皆屬胃不能和。</p>
<p>大麥仁　鮮蓮肉　半夏曲　白茯苓　廣皮白　宣木瓜脈沉小。久嗽足浮腹膨。少陰之陽已傷。故水飲欲泛。</p>
<p>茯苓　木防己　澤瀉　牡蠣　薏苡仁　桂枝肺飲嗽逆。胸悶不爽。</p>
<p>枇杷葉　蘇子　薏苡仁　旋覆花　橘紅癉脹。脾陽困頓。濁陰不泄。得之陰弱之體。最不易治。</p>
<p>茯苓　桂心　紫厚朴　薑渣　白芍　生白朮濕注跗踵。針之易泄。</p>
<p>米仁　茯苓　木防己　澤瀉　桂枝　粉萆辛涼以肅余暑。</p>
<p>西瓜萃衣　川通草　橘紅　水飛滑石　桑白皮　杏仁正虛邪盛。瘧甚恐脫。</p>
<p>生益智仁　廣陳皮　知母　生大穀芽　烏梅肉　生薑暑熱內郁。戰汗始解。否則昏閉狂亂。</p>
<p>川連　厚朴　飛滑石　霍梗　半夏　廣皮白活血宣筋。</p>
<p>歸身　牛膝　穿山甲　杜仲　乳香　桃仁　生虎脛骨　紅花暑瘧。先清上焦。</p>
<p>竹葉心　杏仁　連軺　白蔻仁　飛滑石　花粉陰虧氣熱渴飲。</p>
<p>竹葉心　石膏　麥冬　鮮生地　知母　燈心暑邪上阻。身熱頭脹。</p>
<p>絲瓜葉　飛滑石　連軺　白豆蔻　天花粉　杏仁色黃。腹痛便溏。脾弱不運耳。</p>
<p>人參　焦術　廣皮　神麯　茯苓　炙草　白芍　麥芽一派風濕內郁。怕增腹痛喘急。</p>
<p>杏仁　連軺　木通　白桔梗　桑皮　橘紅　赤芍　淡竹葉暑必挾濕。且宿有痰飲。濕痰交蒸。身熱為冤。當治以苦辛宣通。</p>
<p>人參　川連　廣白　茯苓　藿梗　半曲濕阻為脹滿。小溲不利。議開太陽。</p>
<p>帶皮茯苓　澤瀉　寒水石　桂心　生於白朮　椒目　木防己　厚朴右脈尚弦。</p>
<p>帶皮茯苓　藿香　豬苓　紫色厚朴　廣皮　澤瀉陰傷陽浮。咳血頭脹。</p>
<p>竹卷心　川貝母　南沙參　鮮蓮肉　天花粉　白茯神肺熱作咳。鼻衄。</p>
<p>口乾食減。宜養胃陰。不必理痰。</p>
<p>扁豆　川貝　蓮肉　茯神　霍山石斛暑熱上阻。</p>
<p>絲瓜葉　連軺　橘紅　飛滑石　杏仁　桑皮宣濕利氣。</p>
<p>絲瓜葉　杏仁　米仁　白蘆根　桑皮　通草絡傷血溢。</p>
<p>參三七汁　茯神　茜草　生白扁豆　藕節　川石斛暑濕成瘧。</p>
<p>竹葉卷心　石膏　半夏　飛淨滑石　杏仁　草果暑風外襲。</p>
<p>鮮絲瓜葉　香薷　桑白皮　杏仁　飛淨滑石　橘紅　川通草　連軺飢飽不調。中氣已困。暑邪外侵。法宜和之。</p>
<p>鮮絲瓜葉　杏仁　藿香　浙江茯苓　半夏　橘白腎虛。精滑不固。</p>
<p>熟地　女貞子　金櫻子　荷蓮須　芡實　北五味　川石斛　白茯神脈細數。臟陰下奪。虛損已露。</p>
<p>熟地　霍石斛　鮮藕汁　茯神　鮮蓮子　白扁豆暑風上阻。頭脹鼻塞咳嗽。</p>
<p>絲瓜葉　桑皮　杏仁　白蘆根　桔梗　薏米脈仍弦數。</p>
<p>鮮蓮子　烏梅　知母　生穀芽　茯神　木瓜濕阻。間日瘧。頭痛不渴。</p>
<p>杏仁　藿香　橘白　厚朴　半夏　白蔻濕阻蒸熱。頭痛脘悶。</p>
<p>藿香　杏仁　茯苓皮　厚朴　豆卷　木防己氣血不諧。脘痛。經不宣達。</p>
<p>歸身　香附　蘇梗　丹皮　白芍　茯苓　黃芩　楂炭暑熱侵於上焦。癉熱。頭痛背脹。渴飲。</p>
<h3>桂枝白虎湯</h3>
<p>舌黃脈緩。脾胃之氣呆鈍。濕邪未淨。故不飢。</p>
<p>益智　半夏　橘白　厚朴　茯苓　乾薑飲邪作咳。</p>
<p>杏仁　桂枝　生薑　茯苓　炙草　米仁脈細數。咳嗆脘悶。宜清暑邪。</p>
<p>鮮絲瓜葉　厚朴　桑皮　杏仁　飛淨滑石　橘紅　通草　連喬</p>
<h3>保元方案</h3>
<p>濕熱下陷。腹痛泄瀉。</p>
<p>藿梗　神麯　桔梗　廣皮　川連　茯苓　米仁　澤瀉暑濕未淨。下利頻來。</p>
<p>人參　茯苓　薑炭　炒陳皮　焦術　炙草　木瓜　益智仁暑濕上阻。頭重脘悶。脈模糊。病勢正在方張。</p>
<p>藿香　杏仁　絲瓜葉　連軺　厚朴　廣橘紅穢濁未清。中焦氣痹。</p>
<p>杏仁　藿香　廣橘白　厚朴　半夏　生香附復感暑風。發為風疹。</p>
<p>桑皮　蘆根　桔梗　大力子　薄荷　連軺　赤芍　飛滑石滯下半載。猶然腹痛。積未盡耳。</p>
<p>熟地炭　歸身炭　炒黃柏　澤瀉　黑豆皮　山楂炭　百制軍　赤苓脈細。食下格拒。宜理陽明。</p>
<p>暑風上襲。頭重咳嗽。</p>
<p>絲瓜葉　桑皮　杏仁　飛滑石　橘紅　米仁舌白。頭脹脘悶渴飲。此暑熱上阻耳。</p>
<p>絲瓜葉　桑皮　杏仁肉　飛滑石　通草　白蔻仁舌苔濁。宜慎食物。</p>
<p>絲瓜葉　藿香　杏仁　橘白　飛滑石　半夏　厚朴　通草陰火上亢。齦腐牙痛。</p>
<p>暑濕頗盛。頭蒙脘悶。舌黃。</p>
<p>鮮絲瓜葉　厚朴　滑石　半夏　帶皮茯苓　杏仁　黃卷　橘白理中陽以運飲。</p>
<h3>外台茯苓飲</h3>
<p>脈大乍小。邪伏於中。宜括痧。再服藥。</p>
<p>連皮茯苓　藿香　陳皮　大生香附　厚朴　澤瀉暑濕內伏。陽氣怫鬱。肢冷頭汗。脘悶噫氣。</p>
<p>杏仁　半夏　藿梗　豆蔻　茯苓　橘白脈數。陰虧陽亢。氣逆失血。</p>
<p>沖疝。</p>
<p>巴戟　胡蘆巴　川楝子　茯苓　小茴　桂木暑邪阻於上焦。作之肺瘧。咳嗽渴飲。</p>
<p>暑熱傷陰。心中猶熱。頭重不飢。</p>
<p>竹葉心　新鮮粗蓮子　茯神　川貝母　朱砂拌麥冬　燈心下焦陰虛。陽浮不納。耳鳴頭頃欲暈。</p>
<p>靈磁石　川石斛　萸肉　熟地　牛膝炭　女貞子　牡蠣　茯苓食下拒納。完穀少運。</p>
<p>吳茱萸　淡川附　乾薑　茯苓氣弱神倦食少。</p>
<p>人參　北五味　茯神　麥冬　鮮蓮子　霍斛暑熱阻於三焦。</p>
<p>竹葉　飛滑石　杏仁　橘紅　連翹　通草治利不利小溲。非其治也。</p>
<h3>五苓散</h3>
<p>肢痹。</p>
<h3>蠲痛丹</h3>
<p>瘧邪傷氣。乏力用參。奈何。</p>
<p>生益智仁　宣木瓜　煨薑　炒焦半曲　生穀芽　茯苓脾弱失統攝之司。便溏下泄。</p>
<p>歸身　人參　炙黑草　木瓜　白芍　焦術　炮薑炭　陳皮勞傷脫力。能食。</p>
<p>熱退脘痹。不飢不大便。</p>
<p>杏仁　半夏　連皮　茯苓　厚朴　橘白　炒熟麥芽風邪作咳。</p>
<p>旋覆　蘇子　川貝母　杏仁　橘紅　蔞仁霜脈微數。臟陰傷矣。沖氣不納。作為勞嗽。</p>
<p>營痹氣弱。右肢不舒。</p>
<p>黃　皮　片薑黃　煨薑　於朮　當歸身　海桐皮　桂木　南棗勞傷挾暑。</p>
<p>歸身　半曲　扁豆葉　木瓜　茯苓　炙甘草瘧止。癉熱渴飲。頭痛脘悶。</p>
<p>絲瓜葉　飛滑石　連喬　杏仁　白通草　橘皮紅　厚朴　花粉勞傷營衛。咳嗽寒熱。日久有勞損之患。</p>
<p>氣鬱脘悶。</p>
<p>枇杷葉　橘紅　鬱金　苦杏仁　枳殼　茯苓暑邪成瘧。脘悶渴飲。</p>
<p>絲瓜葉　滑石　厚朴　半夏　白蔻仁　杏仁　藿香　橘白脈細數。豈有陰精不奪乎。以脈論之。虛損已露。自知病因。保真為要。</p>
<p>水煮熟地　川斛　女貞　天冬　北五味子　茯神　芡實　海參　元武淨版　旱蓮　金櫻　湘干血瘵疾。不易調治。</p>
<h3>炙甘草湯</h3>
<p>脘積如覆杯。食下　脹噯氣。邪在脾絡耳。恐延中滿。</p>
<p>生白朮　乾薑　厚朴　濃枳實　半夏　茯苓脾陽困頓。涎沫上泛。</p>
<p>生白朮　半夏　枳實　益智仁　茯苓　乾薑脈細數。陰氣頗弱。夏暑外逼。食減神倦咳嗆。宜存陰清暑法。</p>
<p>鮮蓮子　霍斛　朱冬　川石斛　川貝母　燈心　茯神嗽減鼻衄。左脈弦。</p>
<p>細生地　生牡蠣　天冬　川石斛　白茯神　藕汁久嗽脈數。</p>
<p>陰虧內熱。左脈弦數。乙癸同治。</p>
<p>熟地　川斛　茯神　天冬　牡蠣　女貞暑風作咳。</p>
<p>杏仁　蘆根　通草　桑皮　象貝　米仁暑濕下利。左脈弦。鼻衄。</p>
<p>藿香　木瓜　炒扁豆　川連　赤苓　廣陳皮暑熱阻於三焦。</p>
<p>飛滑石　厚朴　木通　淡竹葉　桑皮　苓皮下焦陰虧。心陽上炎。神煩舌乾。當益陰潛陽。</p>
<p>生地　小人參　棗仁　燈心　天冬　赤麥冬　茯神　川連暑風作咳。</p>
<p>絲瓜葉　桑皮　杏仁　薏苡仁　橘紅　蘆根年五十。精神漸衰。宿癖難以攻滌。只宜兩和氣血緩圖之。</p>
<p>白朮（二兩）　茯苓（二兩）　荊三棱（二兩）　白蒺藜（一兩五錢）　青皮（一兩）　厚朴（一兩）</p>
<p>桂心（五錢）　蓬莪朮　大麥芽（一兩五錢）　片薑黃（一兩）</p>
<p>脈弦數。三陰頗虧。法宜填攝。</p>
<p>熟地（四兩）　線膠（三兩）　女貞子（一兩五錢）　龜版（二兩）　茯神（二兩）　沙苑（一兩五錢）</p>
<p>（一兩）　湘蓮　青鹽（一兩）　二仙（二兩）　旱蓮草（一兩五錢）</p>
<p>已成關格大症。又乏力用參。難延歲月矣。</p>
<p>白蜜　半夏　生薑汁肝鬱不疏。腹痛至脘。</p>
<p>川楝　吳萸　生香附　青皮　延胡　川黃連暑風濕邪夏郁。怯風脘脹。</p>
<p>藿香　杏仁　茯苓　厚朴　半夏　陳皮暑熱鬱於上焦。</p>
<p>苦丁茶　薄荷　赤芍藥　鮮荷蒂　連喬　黑梔皮濕熱下注。溺痛淋濁。</p>
<p>黑梔皮　連喬　飛滑石　木通　淡竹葉　赤苓　龍膽草　生草梢陰弱挾暑。頭脹神倦。</p>
<p>竹葉心　川貝　鮮蓮子　燈草心　茯神　赤麥冬咳嗆拒納。此肝陽上逆。肺胃不降。病屬胃反。治之非易。</p>
<p>旋覆花　人參　半夏　代赭　乾薑（川連三分泡湯浸炒）</p>
<p>火鬱上焦。齦痛目赤。</p>
<p>竹葉心　連軺　黑梔皮　飛滑石　赤芍　綠豆皮勞傷陽氣。風侵背痛。</p>
<p>茯苓片　炙草　生薑　粗桂枝　廣皮　大棗藏真日就削奪。全賴胃強納穀。精血生於穀食是也。今晨起身熱。上焦未免暑熱留焉。先宜存陰和陽。暑自卻矣。</p>
<p>人參　麥冬　鮮蓮肉　茯神　霍斛　白粳米便溏下血。議用理中法。</p>
<p>陰弱失守。陽升牙宣。</p>
<p>陽微。濁陰有僭逆之勢。膝冷腿浮。肢麻心悸。法宜溫之。</p>
<p>苓薑朮桂附澤湯病後營衛不諧。不時寒熱。</p>
<p>氣阻脘痹發熱。</p>
<p>枇杷葉　半夏　茯苓　生薑汁　杏仁　橘白暑濕成瘧。脈虛。宜用和法。</p>
<p>藿香梗　半夏　連皮苓　杏仁　橘皮白　木瓜　老生薑暑熱鬱蒸發黃。分利三焦。亦為正治。</p>
<p>滑石　寒水石　石膏　厚朴　豬苓　連皮苓　草果　杏仁　桑皮　白豆蔻　茵陳　澤瀉食物宜節。否則恐延脹滿。</p>
<p>穀芽　半夏曲　米仁　廣皮　茯苓　宣木瓜　炙草　砂仁清養胃陰。</p>
<p>知母　麥門冬　川貝母　霍斛　甜竹茹　嘉花粉失血色奪。脈弦。恐其食減。</p>
<p>熟地　白扁豆　北沙參　川斛　白茯神　麥門冬溫熱未淨。不飢妨食。</p>
<p>藿梗　穀芽　半曲　川連　木瓜　陳皮失血咳嗽。經事不至。漸延干血。</p>
<p>細生地　豆皮　茯神　生牡蠣　川石斛　鮮藕陽微自汗。</p>
<p>生於朮　防風根　煨薑　大南棗　生黃　淡附脈弦數。</p>
<p>細生地　天冬　豆皮　清阿膠　茯神　鮮蓮藕暑傷氣。神倦無力。</p>
<p>黃　片　炙草　宣木瓜　白茯苓　歸身　鮮蓮子此屬血格。當宣其絡。</p>
<p>枇杷葉　桃仁　栝蔞皮　枳殼　降香汁　蘇子　鬱金汁　紫菀飲邪作咳。</p>
<p>苦杏仁　茯苓　白芥子　旋覆花　米仁　橘皮紅邪阻肺痹。痰腥。漸延肺癰。</p>
<h3>葦莖湯</h3>
<p>久嗽陰傷晡熱。此屬虛損。</p>
<p>身熱二載。咳嗽咽乾。</p>
<p>玉女煎去牛膝脈弦澀。體質陰傷。陽浮不潛。咳嗽內熱。法宜填攝藏真。</p>
<p>熟地（四兩）　川石斛（八兩）　牡蠣（二兩）　旱蓮草（二兩）　山藥（二兩）　真阿膠（一兩五錢）</p>
<p>兩）　北五味（一兩）　茯神（二兩）　女貞子（二兩）　湘蓮（二兩）　麥門冬（一兩熱傷胃陰。知飢妨食。頭脹牙宣。</p>
<p>竹葉石膏湯去參夏加知母。</p>
<p>濕盛。飧泄便血。</p>
<p>茅朮　炙草　茯苓　炮薑　木瓜　廣皮暑濕鬱於衛。背冷。食下少運。</p>
<p>藿香梗　茯苓　陳皮　半夏曲　杏仁　木瓜頭脹鼻衄。</p>
<p>犀角地黃東加白茅花側柏葉暑阻上焦。頭重咳嗽。寒熱似瘧。</p>
<p>絲瓜葉　桑皮　杏仁　飛滑石　橘紅　通草溫瘧脘悶。</p>
<p>草果　半夏　烏梅　厚朴　橘白　杏仁食下拒納。此屬反胃。</p>
<p>旋覆花　半夏　吳萸　代赭石　茯苓　川連溫理陽明。</p>
<p>吳茱萸（五錢）　川椒（三錢）　茯苓（一兩五錢）　附子（一兩）　乾薑（七錢）</p>
<p>暑邪發熱脘悶。</p>
<p>絲瓜葉　藿香　滑石　連軺　白蔻仁　杏仁　厚朴　橘白此新受暑風。郁於腠理。與宿糕無涉。</p>
<p>細香薷　連軺　杏仁　飛滑石　橘紅　川通邪鬱於肺。咳嗽痰稠。</p>
<p>桑白皮　杏仁　橘紅　川貝母　花粉　桔梗沖氣嗽逆。宜治少陰。</p>
<p>嘔傷胃絡血來。莫作失血治。</p>
<p>鮮蓮子肉　茯神　木瓜　鮮扁豆葉　霍斛　半曲脈數無序。陰陽挾邪難治。</p>
<p>麥冬肉　鮮藕　金釵川石斛　鮮蓮肉　茯神　蜜水炒知母衝脈為病。逆氣至咽。</p>
<p>熟地　伽南香汁　茯苓　黃柏片　澤瀉　白牛膝炭　桂心　紫石英飲阻於脘。</p>
<p>茯苓　乾薑　半夏脘痞不飢。脈沉弦。味酸苦。瘧後致此。宜苦辛開泄。</p>
<p>川連　人參　枳實　乾薑　茯苓　半夏吐血。脈空大。最不為宜。恐其暴涌氣脫耳。當靜養為要。</p>
<p>熟地　參三七汁　青鉛　鮮蓮子　茯神　川金石斛　牛膝　鮮藕汁咳傷肺絡失血。</p>
<p>旋覆花　桃仁　蘇子　冬瓜子　橘紅　杏仁此暑熱逼入胞絡。神昏亂語。心中熱。</p>
<p>竹卷心　川黃連　鮮蓮子　赤麥冬　白茯神　白燈心失血。寒熱反止。營衛和矣。</p>
<p>葳蕤　川貝母　鮮藕　茯神　白沙參　霍斛暑傷氣。作之咳。</p>
<p>杏仁　天花粉片　桑皮　蘆根　西瓜萃衣　川貝氣弱濕阻。便溏下血。</p>
<p>人參　廣皮　炙草　茆術炭　茯苓　木瓜　炮薑　地榆炭血隸陽明而來。但脈芤而數。色痿少彩。少陰之陰傷矣。自知病因。葆真靜養。庶幾扶病延熟地　川斛　麥冬　北參　茯神　扁豆暑熱鬱於少陽。頭脹偏左。齒痛。</p>
<p>苦丁茶　大連軺　赤芍藥　菊花葉　黑梔皮　夏枯花暑熱侵於上焦。咳嗽身熱。主以辛涼。肅其肺衛。</p>
<p>鮮絲瓜葉　杏仁　桔梗　活水蘆根　桑皮　花粉無形暑熱襲於肺衛。咳嗽脘悶。</p>
<p>鮮蘆根　橘紅　桑皮　枇杷葉　杏仁　滑石熱鬱上焦。頭脹咳嗽脘悶。</p>
<p>絲瓜葉　橘紅　杏仁　枇杷葉　桑皮　桔梗脈　糊。欲成三焦瘧。</p>
<p>竹葉　豆蔻　飛滑石　杏仁　連軺　白通草左脈弦數。肝陰不足　切勿動怒。他日恐有失血之患。近今妨食惡心。暫和肝胃而已。</p>
<p>生穀芽　茯苓　半曲　宣木瓜　白芍　陳皮暑濕內陷下利。</p>
<p>益智仁　砂仁殼　木瓜　廣藿香　白茯苓　廣皮咳嗽失血。脈大而數。由濕邪未淨。延及少陰之損。將來有音啞之變。</p>
<p>熟地　麥冬　鮮蓮肉　川斛　茯神向來失血。近受暑邪。嘔惡胸悶咳嗽。暫降肺胃。</p>
<p>鮮枇杷葉　杏仁　泡淡黃芩　橘紅　茯濕熱內蒸。癉熱渴飲。</p>
<p>苑術炭　澤瀉　赤苓　寒水石　黃柏　木瓜經事淋漓。帶下。下體怯冷。心悸。</p>
<p>大熟地　杜仲　人參　紫石英　鹿角霜　沙苑　茯神　巴戟天　桑椹子　杞子　白薇　當歸身肝陰內耗。不時寒熱。咳嗽失血。</p>
<p>生地　炙黑甘草　生白芍　麥冬　上清阿膠　白茯神暑熱鬱於上焦。涕流氣腥。主以辛涼。</p>
<p>薄荷梗　絲瓜葉　黑山梔皮　連軺殼　飛滑石　大豆黃卷閱病原。參色脈。皆營陰不足。虛風萌動使然。法宜甘緩益陰。</p>
<p>人參　枸杞子　柏子仁　茯神　紫石英　酸棗仁嗽久不已。病不在肺。而在少陰矣。且左脈弦數。法宜攝陰。</p>
<p>熟地　鮮蓮肉　茯神　川斛　左牡蠣　天冬陰虧內熱。咳嗽咽乾。</p>
<h3>北沙參固本湯</h3>
<p>暑熱未肅。</p>
<p>絲瓜葉　連軺　象貝　桑白皮　杏仁　桔梗嘔惡。氣亂於胸。如梗不爽。議苦辛開泄。</p>
<p>枇杷葉　白蔻　半夏　橘皮白　杏仁　茯苓肢麻肉　偏左。脈澀。此虛風萌動。良由腎精肝血不足使然。</p>
<p>何首烏　白蒺藜　浙菊炭　天麻　枸杞子　桑椹子嗽甚喉癢。</p>
<p>經霜桑葉　生地　霍斛　天冬肉　上清阿膠　南沙參　麥冬　大麻仁陰虧氣燥。失血食少。</p>
<p>熟地　鮮蓮肉　藕　川斛　牛膝炭　茯神營虛脅痛。</p>
<h3>旋覆花湯</h3>
<p>柏子仁　桃仁氣弱神倦。知飢妨食。</p>
<p>人參　穀芽　宣州木瓜　茯神　霍斛　鮮蓮子肉冷熱不調。陽傷哮喘。</p>
<p>桂苓五味甘草東加杏仁乾薑下利半月。脈澀。此陰暑傷中。</p>
<p>蓽茇　厚朴　茯苓　丁香　益智　廣皮暑侵少寐。心陽不寧耳。</p>
<p>辰砂炒麥冬　酸棗仁　燈心　細根小生地　鮮蓮肉　茯神肺胃不降。咳嗽嘔惡。</p>
<p>枇杷葉　橘紅　桔梗　杜蘇子　杏仁　桑皮食物失調。腹脹下利。</p>
<p>生益智　茯苓　大澤瀉　砂仁殼　廣皮　生穀芽左脈弦數。陰虧氣熱。咳嗽口燥。</p>
<p>生地　茯神　麥門冬　川斛　天冬　鮮蓮肉陰虧陽升。牙痛時發。</p>
<p>生地　天冬　條芩　阿膠　石決　白芍脈沉細。脹漸甚。溺赤。</p>
<p>茯苓　乾薑　澤瀉　附子　白朮　米仁理沖不應。得毋肝陽郁乎。</p>
<p>瘧雖止。色黃。脈呆鈍。濕未淨耳。</p>
<p>穀芽　半曲　陳皮　茯苓　木瓜　烏梅暑熱阻於中焦。</p>
<p>藿梗　橘白　厚朴　川連　半夏　茯苓暑侵上焦。</p>
<p>杏仁　通草　橘紅　桑皮　蘆根　桔梗胃氣不蘇。濕熱內蘊耳。</p>
<p>竹茹　半夏　橘白　枳實　茯苓　金斛暑阻中焦。發熱脘悶。</p>
<p>滑石　半夏　厚朴　杏仁　藿香　連翹哮止。陰虧內熱。氣逆。</p>
<p>熱鬱於肺。咳而咽乾。</p>
<p>桑葉　杏仁　生草　花粉　桔梗　川貝飧泄半載。脾陽困也。</p>
<p>焦術　木瓜　炮薑　菟絲子　益智　茯苓濕阻泄瀉。</p>
<p>藿梗　苓皮　腹皮　麥芽　厚朴　廣皮　澤瀉　豬苓絡傷嗽血。脈弦。切勿動怒。</p>
<p>丹皮　生地　豆皮　黑梔　茜草　鮮荷藕少陰腎真下損。沖氣不納為嗽。擾絡痰血。金賴胃強納穀。</p>
<p>熟地　參三七　霍石斛　五味　白茯神　鮮蓮子肺陰已傷。熱神尚熾。咳嗽音啞。</p>
<p>舌黃。妨食內熱。濕熱鬱於中焦。</p>
<p>藿香　半夏　茯苓　川連　木瓜　橘白脾呆胃鈍。水穀之濕內阻。食下神倦。</p>
<h3>資生丸</h3>
<p>暑邪鬱於上焦。身熱頭脹。</p>
<p>絲瓜葉　滑石　杏仁　白蔻仁　連軺　桑皮霍亂後。中氣未和。大便如溏如結。苦藥不宜。</p>
<p>人參　穀芽　木瓜　茯苓　煨薑　陳皮嗽減溺頻。</p>
<p>脈弦嘔惡。肝胃同治。</p>
<p>旋覆花　半夏　川連　代赭石　茯苓　乾薑脈數陰虧。氣燥作咳。</p>
<p>桑葉　川貝　白沙參　葳蕤　花粉　地骨皮脈澀胃痛。此營陰枯槁。絡氣不疏使然。</p>
<p>柏仁　新絳延　延胡　桃仁　青蔥　麥芽肝鬱不疏。味酸脘悶。</p>
<h3>左金丸</h3>
<p>陰弱。近受暑風。額痛鼻塞。宜用輕藥。</p>
<p>絲瓜葉　連喬　杏仁　川貝母　桔梗　桑皮脾呆腹膨。</p>
<p>厚朴　茯苓皮　廣皮　麥冬　大腹皮　砂仁殼氣鬱脘悶。</p>
<p>香附　青皮　鬱金　麥冬　茯苓　橘紅脈小。咳嗽背冷。</p>
<p>杏仁桂枝湯去芍加米仁久嗽鼻塞。究屬邪鬱於肺。</p>
<p>此勞傷腎也。</p>
<h3>還少丹</h3>
<p>伏暑。發熱形寒。脘悶身痛。惡心。</p>
<p>藿香　杏仁　橘白　厚朴　半夏　滑石瘧後氣弱。神倦無力。議用補中益氣湯。</p>
<p>原方去升麻柴胡加木瓜茯苓肺熱嗽血。</p>
<p>蘆根　鮮冬瓜子　米仁　熟桃仁舌白胸悶。</p>
<p>杏仁　藿香　半夏　厚朴　橘白　滑石胸悶妨食。戰栗肢寒。氣弱。伏暑之候。且以和法。</p>
<p>茯苓　煨薑　杏仁　半曲　橘白　藿梗向有肝風乘胃。陰弱可知。近頭痛轉在右太陽。且鼻衄。上焦未免暑風侵焉。</p>
<p>桑葉　囫圇大葳蕤　南沙參　川貝　嘉定天花粉　生甘草暑伏上焦。身熱似瘧。</p>
<p>燈心　竹葉心　連軺　白蔻仁　川通草　加辰砂益元散此勞傷為嗽。脈來弦大。食減則劇。</p>
<p>小建中湯去薑易茯神頭蒙。短氣少寐。少陰空虛。陽浮不納使然。</p>
<p>氣鬱脘悶噫氣。病在肝胃。</p>
<p>竹茹　熟半夏　橘紅　枳實　白茯苓　川連（吳萸泡湯拌炒）</p>
<p>少腹瘕聚。痛甚帶下。</p>
<p>泡淡吳萸（三錢）　紫石英（二兩）　黑豆皮（一兩）　桂心（三錢）　烏賊魚骨（一兩）　小茴香（五錢）　胡蘆巴（七錢）　茯苓（一兩）　粗當歸片（一兩）　巴戟天（一兩）　川楝子（五錢）　白薇（一兩）　明潤琥珀（三錢）</p>
<h3>紅棗去核皮為丸</h3>
<p>頭風數載。不時舉發。邪已入腦俞矣。且左脈沉細。豈三陽為患。隸在少陰也。弗至厥陰為靈磁石（一兩）　淡附（一兩）　牛膝（一兩）　鹿茸（一兩）　細辛（一錢五分）　當歸頭（五錢）</p>
<p>蔓荊（三錢）　遠志（五錢）　茯苓（一兩五錢）　青鹽（一兩）　紫巴戟（一兩）　菊瓣（五錢）　枸杞子（二兩）　川斛（四兩）</p>
<p>熱止嗽盛。</p>
<p>熟地　茯神　北沙參　川斛　麥冬　鮮芡實陰瘧。頭痛咳嗆。</p>
<h3>陽旦湯</h3>
<p>氣逆作咳。</p>
<p>杏仁　桔梗　白蘆根　桑皮　通草　枇杷葉氣弱。右目昏花眶垂。宜益其虛。</p>
<p>參須　黃　柴胡　當歸身　蕤仁　白芍　升麻　炙草瘧止。脘痹不飢。咳嗽痰多。此陽傷濕未淨。治以溫泄。</p>
<p>半夏　薑渣　橘白　茯苓　厚朴　杏仁陰弱。秋燥侵肺血發。金水同治。</p>
<p>熟地　白茯神　清阿膠　川斛　天門冬　麥門冬脈澀。背痛咳嗽。</p>
<p>熟地　杜仲　炒杞子　茯神　歸身　牛膝炭經漏一載。腰痛帶下。此屬奇經失護使然。</p>
<p>宜用丸劑。</p>
<p>調理。近日嘔惡脈弦。先宜降胃。</p>
<p>鮮枇杷葉　半夏　竹茹　大人參須　茯苓　橘白腫滿病。形羸脈微。二氣交衰。治之豈易。所賴者、第以年富強耳。</p>
<p>瘧來即三日一發。頭痛咳嗽渴飲。從手太陰治。</p>
<p>暑郁上焦。頭脹惡心。不飢。當開上焦。</p>
<p>杏仁　蘆根　通草　白蔻　桑皮　橘紅脈澀。</p>
<p>當歸　茯苓　廣皮　煨薑　白芍　炙草　桂心　南棗經來腹痛。脈澀。宜兩和氣血。</p>
<p>當歸　楂炭　烏賊骨　香附　艾炭　炒延胡暑熱傷氣。神倦食減。</p>
<p>川連　木瓜　荷葉邊　半曲　茯苓　廣皮白勞嗽音啞咽痛。胃強能納。庶幾帶病撐持。</p>
<p>熟地　茯神　元稻根須　天冬　麥冬　川金石斛陰陽絡熱失血。心悸晡熱。</p>
<p>細生地　皮　天冬　阿膠　大珠菜　茯神燥侵咳嗽。</p>
<p>桑葉　川貝　花粉　杏仁　南參　橘紅復受風邪。嗽反甚。頭反脹。暫以輕藥肅其上焦。</p>
<p>經霜桑葉　南沙參　生甘草　葳蕤　大川貝母　白元米四合泡湯代水伏邪發熱。</p>
<p>杏仁　橘紅　桑白皮　連軺　桔梗　川通草氣弱少運。食減脘悶。</p>
<p>生穀芽　半曲　木瓜　茯苓片　廣皮　川斛此腎虛腿痛。法宜溫補。</p>
<p>杞子　杜仲　沙苑蒺藜　肉蓯蓉　牛膝　巴戟　羯羊內腎　小茴香脈浮。身熱頭痛。</p>
<p>桂枝東加杏仁花粉黃芩舌白。身熱頭脹。</p>
<p>杏仁　連軺　桔梗　蘇梗　枳殼　橘紅脹弦緊。形凜發熱。頭脹惡心。</p>
<p>藿香　半夏　生薑　杏仁　橘白　厚朴此腎病也。腹脹腿麻。二便不利。診脈沉細。法宜溫納。理陰中之陽為主。</p>
<p>燥侵作咳。但左脈弦數。恐絡動失血。</p>
<p>桑葉　南沙參　嘉花粉　玉竹　川貝母　麥門冬邪壅於肺。日久絡痹嗽痰。胸中痹痛。恐延肺癰。</p>
<p>鮮枇杷葉　蘇子　杏仁　鮮冬瓜子　旋覆　米仁舌苔尚白。伏暑未肅。仍宜開泄。</p>
<p>鮮藿香　橘白　半夏　枇杷葉　杏仁　茯苓下虛不納。失血便痛。宜攝少陰。</p>
<p>熟地　龜版　川斛　茯神　天冬脈數。少陰空虛。葆真為要。</p>
<p>熟地　川斛　山藥　棗仁　茯神　牡蠣　天冬　黑殼建蓮養胃陰。穀增。不時形凜。理下焦保元為主。</p>
<p>本為少陰挾邪下利。但舌苔濁膩。脘悶不爽。太陰亦傷矣。症勢最險。</p>
<p>沖疝。</p>
<p>茯苓　當歸　荔枝核　桂枝　小茴香痛止脈弦。</p>
<p>香附　半夏　廣皮　青皮　茯苓　麥芽食物不節。腹膨且痛。臍凸便泄。屬疳積也。宜慎食物。</p>
<p>焦術　砂仁末　神麯　麥芽　楂肉　廣木香　茯苓　廣皮陰虛之質。因暑熱致嗽失血。復延肛瘍。暑熱乘虛內陷。釀成陰損矣。穀食不減。用藥庶幾有效。</p>
<p>熟地　山藥　皮　川斛　茯苓　丹皮　澤瀉　元稻根須下體熱。肛癢便血。濕熱鬱於陰分耳。</p>
<p>生地　黃柏　苦參　槐花　牡蠣　皮脈弦。</p>
<p>鱉甲　草果　知母　烏梅　生薑　黃柏晨起必噦逆。痰多頭暈。當治膽胃。</p>
<p>溫膽東加丹皮山梔原屬三瘧。今轉癉熱。陰弱邪鬱耳。</p>
<p>鱉甲　當歸　細黃芩　青蒿　知母　製首烏脾弱少運。腹鳴且脹。</p>
<p>益智　茯苓　大腹皮　青皮　廣皮　砂仁殼遺泄。內熱咳嗽。臟陰不固。法宜攝納。</p>
<p>熟地　芡實　女貞子　山藥　龜版　牡蠣　金櫻子　麥冬　湘蓮　茯神　海參膠　川斛伏暑發熱。脘悶。</p>
<p>杏仁　半夏　藿梗　厚朴　橘白　茯苓身熱頭脹。</p>
<p>杏仁　半夏　橘白　厚朴　蘇梗　茯苓左脈弦。癉熱知飢。色黃。</p>
<p>青蒿　知母　丹皮　白芍　銀柴胡　鱉甲瘧後不納。神倦。</p>
<p>穀芽　木瓜　廣皮　當歸　茯苓　半曲　炙草　白芍下焦空虛。沖氣不納。遇寒則哮喘。非湯藥所能治。</p>
<h3>桂七味湯</h3>
<p>營虛氣弱。經事後期。食下　脹。心悸少寐。宜甘緩益虛。</p>
<p>黃　白茯神　酸棗仁　當歸　桂元肉　柏子仁肝火挾痰上冒。頭旋腿麻。</p>
<p>鉤藤　茯苓　金石斛　桑葉　橘紅　半夏曲不獨陰損。氣亦乏矣。無力用參。奈何。</p>
<p>黃　當歸　南棗　黃精　茯神　炙草氣弱少運。耳鳴便泄。</p>
<p>六君子東加木瓜荷葉蒂嗽痰胸痹。</p>
<p>背痛失血。屬腎虛不納。葆真為要。</p>
<p>熟地　牛膝炭　茯神　杞子　川石斛　天冬腎虛。腰痛腿酸。下焦怯冷。</p>
<p>癖積便血。此飢飽傷及脾胃所致。</p>
<p>勞傷血發。</p>
<p>熟地　牛膝炭　茯神　川斛　豆皮　藕咳嗽身熱。脈弦數。陰虛挾邪。勿輕視之。</p>
<p>玉竹　麥門冬　霍山石斛　川貝　南沙參　鮮地骨皮頭旋心悸。帶多。</p>
<p>熟地　紫石英　牡蠣　茯神　萸肉炭　川斛風邪作咳。</p>
<p>杏仁　南沙參　花粉　桑葉　川貝母　橘紅胸痹。</p>
<p>小半夏東加茯苓痛偏左右。肺氣不宣。</p>
<p>鮮枇杷葉　紫蘇子　土栝蔞皮　甜北沙參　廣橘紅　白旋覆花脹後成痞。清陽失曠。飲邪內阻耳。</p>
<p>究屬腎病。腎為胃關。是以食少形倦。自宜溫納下焦為主。但右脈弦而有力。虛之實。未必無是理也。先宜疏胃益脾。</p>
<p>人參　廣皮　穀芽　半曲　厚朴　薑渣左脈弦數。內熱咳嗽痰血。臟陰暗耗。陽動不潛使然。</p>
<p>熟地　川斛　天冬　阿膠　茯神　麥冬腹痛。得食則安。夢泄。</p>
<p>炙草　歸身　茯神　白芍　南棗脈弦數。先寒後熱。頭脹脘悶。屬伏暑成瘧。當分三焦。</p>
<p>杏仁　滑石　藿香　通草　厚朴　半夏　橘白　連軺伏邪下利。脈弦。法宜和之。</p>
<p>藿梗　廣皮　澤瀉　麥芽　茯苓　香附　豬苓　腹皮填補皆效。復大便頻下。中氣虛甚。乏力用參。奈何。</p>
<p>焦術　菟絲餅　芡實　山藥　炙甘草　建蓮利止嗽發。氣逆火升。中脘尚痛。陰虧於下。氣阻於中。先和其中。續攝其陰。是其治也。</p>
<p>桂枝　淡乾薑　茯苓　炙草風襲腦門。巔痛涕溢。最不易治。雖有成法。鮮能除根者。</p>
<p>蔓荊子　川芎　僵蠶　白蒺藜　辛夷　茯苓左脈弦。</p>
<p>鱉甲　知母　首烏　白芍　丹皮　牡蠣脈弦數。咳嗽雖緩。尚宜謹慎調攝。</p>
<p>生地　川石斛　知母　阿膠　川貝母　麥冬氣結有積。能食少運。疏之為主。</p>
<h3>阿魏丸</h3>
<p>知飢少納。脾氣弱也。</p>
<p>穀芽　半曲　木瓜　煨薑　茯苓　陳皮　炙草　南棗藏陰久耗。素多郁勃。厥陽化風。內燔擾土。為泄為熱。宜用甘緩化風法。</p>
<p>炒焦白芍藥　炙黑甘草片伏暑成瘧。神識不爽。良由邪盛故耳。</p>
<p>竹葉　杏仁　滑石　連軺　蔻仁　厚朴　半夏　通草脈弦澀。舌苔膩。濕邪阻於中焦。木火不能疏泄。濕火內蒸。升降之機失職。為之脹滿。法宜香附汁　廣皮　藿梗　小青皮　茯苓　川連脈沉弦。腹膨不飢。</p>
<p>川楝子肉　雞肫皮　香附汁　赤麥小芽　青皮汁　山楂炭咳嗽失血。右脅痛引。陰先虧而先宜理其絡痹。</p>
<p>紫蘇子　桃仁　枇杷葉　冬瓜子　茜草　薏苡仁精關不固。耳鳴少寐。</p>
<p>靈磁石　沙苑　青鹽　湖蓮　金櫻子　五味　熟地　茯神　線魚膠　芡實　遠志　覆盆陰傷腹痛。</p>
<p>黃芩　茯神　白芍　知母　牡蠣　丹皮左脈弦數。嗽逆氣急盜汗。</p>
<p>河車　龜板　川斛　芡實　天冬　茯神　熟地　牡蠣　五味　阿膠　山藥　湘蓮脈弦數。咳嗆失血。</p>
<p>淡黃芩　桑葉　川貝母　真阿膠　南參　細生地嗽久失血音啞。由外邪傷陰。陰枯則陽浮上亢。為少陰損也。</p>
<p>細生地　元稻根須　人中白　元參　雞子白　粗旱蓮草　白桔梗　生草開肺不應。從陽失流行治。</p>
<p>桂枝　茯苓　白蜜　煨薑診脈軟。心悸不耐煩。營虛氣怯甚矣。</p>
<p>淮小麥　茯神　炙草　炒白芍　棗仁　建蓮濕去熱未已。面熱舌黃。</p>
<p>川黃連　廣皮白　金斛　熟半夏　綿茵陳　茯苓右脅癖積。攻逆腹痛。不能納。邪在陽明之絡。日久有腹滿之累。</p>
<p>薑渣　肉桂　炙草　厚朴　茯苓　廣皮哮逆不得臥。脈弦。</p>
<p>子後咳逆嗽甚。汗多脈細。</p>
<p>脈細。形神疲倦。顯是命門真火式微。為之癉脹腫滿。王宇泰謂益火之源。以消陰翳。正此候也。</p>
<p>午後用運理中陽法人參　茯苓　附子　於朮　乾薑　益智脈象平和。熱退頭暈。宜調肝胃。</p>
<p>青蒿梗　丹皮　知母　半夏曲　橘紅　茯苓身熱頭痛。身疼無汗。脈弦。</p>
<p>小柴胡湯去人參久泄腹滿。下焦怯冷。經數載余。述起產後。此傷在衝任矣。用藥自以溫納。惟恐病深難復。</p>
<p>鹿茸　淡附子　人參　赤石脂　川椒　胡蘆巴　炮薑　補骨脂　桂心　茯苓片　肉蔻　菟絲子煩勞傷營。心悸脘痛。</p>
<p>人參　當歸　桂心　煨薑　茯神　白芍　炙草　南棗咳嗽痰血氣腥。邪陷於肺絡。</p>
<p>努力傷絡失血。</p>
<p>丹皮　生地　桃仁　牛膝　皮　茜草咽痛舌辣。晡熱。無一非陰枯陽熾也。</p>
<p>生地　阿膠　左牡蠣　天冬　茯神　雞子黃三瘧。色黃。脈弦偏右。</p>
<p>草果仁　生薑　知母　烏梅寒熱咳嗽。</p>
<p>桂枝東加花粉此肝火上冒耳。當養陰泄陽為主。</p>
<p>羚羊角　桑葉　細生地　石決明　丹皮　浙菊炭和營宣氣。</p>
<p>柏子仁　歸身　香附子　山梔　棗仁　廣橘紅　撫芎　陳神麯　麥芽　丹參嗽而嘔惡。肺胃不降耳。</p>
<p>枇杷葉　橘紅　茯苓　旋覆花　杏仁　竹茹脈右數。</p>
<p>羚羊角　川貝　綠豆皮　石決明　天花粉　桑葉　生甘草　細生地脈弦數。少腹氣衝。映背交痛。此高年陰血槁枯。少陰腎氣不攝。勢欲為奔豚。法宜溫養下焦。</p>
<p>茯苓　紫石英　小茴香　杞子　川楝子　柏子仁風侵作咳身熱。</p>
<p>杏仁　橘紅　桑皮　蘇梗　通草　桔梗脈弦。不飢少納。濕痰陰於中焦耳。</p>
<p>半夏　乾薑　橘紅　茯苓　枳實皮　厚朴營枯氣阻胃痛。</p>
<p>當歸　新絳　柏子仁　延胡　桃仁　桂圓肉陰虧陽動失血。</p>
<p>細生地　大淡菜　茯神　豆皮　天門冬　藕汁熱傷氣。作之咳。</p>
<p>桑葉　川貝母　青蒿　南參　天花粉　骨皮勞損嗽甚。氣急。</p>
<p>疝後肢冷汗泄。濁陰上干。陽乃傷矣。是以妨食脘悶。大便不行。從火虛治。</p>
<h3>半硫丸</h3>
<p>脈數不寧。</p>
<p>歸身　人參　炙草　木瓜　白芍　茯苓　廣皮　半曲嗽咳胸引痹痛。小溲頻數。肺陰漸涸矣。</p>
<p>麥冬　甘草　地骨皮　北參　玉竹　川貝母　白元米煎湯代水午後背凜頭暈。余邪未盡。</p>
<p>鉤藤　金石斛　茯苓　桑葉　廣皮白　半曲弦勁脈長。心悸嘈雜。此肝陽化風。沖激陽明所致。良由少陰不充。無以涵木耳。</p>
<p>熟地　茯神　柏子仁　川斛　牡蠣　淡天冬中脘有形如梗。摩之　有聲。據述不時舉發。此屬肝積耳。</p>
<p>厚朴　薑渣　白蒺藜　肉桂　茯苓　廣皮白下利紅積。腹膨。</p>
<p>焦術　廣皮　炮薑　茯苓　木瓜　益智濕痰上阻。咳逆不得臥。痰降嗽始卻。</p>
<p>杏仁　旋覆花　白茯苓　薑汁　半夏　蔞瓜霜　白芥子　竹瀝知飢不納。宜攝胃氣。</p>
<p>大麥仁　茯苓　廣皮　金石斛　半曲　木瓜熱鬱於肺。</p>
<p>薄荷　花粉　杏仁　桔梗　連軺　甘草且疏肝氣之郁。</p>
<p>香附汁　川楝子　桃仁　大麥芽　柏子仁　橘紅左脈弦。</p>
<p>何首烏　茯神　巨勝子　豆皮　枸杞子　桑葉　菊花炭　酸棗仁飲冷傷陽。下體怯冷。氣逆嗽血。法宜溫納。</p>
<p>濕神阻於上焦。不飢少納。</p>
<p>杏仁　蘇梗　枳殼　厚朴　橘紅　半夏風熱作咳。</p>
<p>杏仁　桑皮　蘆根　橘紅　桔梗　通草陰傷。氣阻脘悶。嗽逆氣急。</p>
<p>熟地　茯神　丹皮　牛膝炭　川斛　牡蠣　澤瀉　豆皮伏熱作咳。</p>
<p>桑葉　川貝母　杏仁　南參　天花粉　梨汁身熱。頭痛渴飲。脈浮弦。</p>
<p>蘆根　連軺　杏仁　桑皮　花粉　通草發熱。舌黃脘悶。</p>
<p>淡豆豉　黑山梔　枳殼　土蔞皮　扁杏仁　桔梗先卻風疹之邪。</p>
<p>薄荷　連軺　生草　射干　大力　桔梗　花粉　赤芍伏暑。發熱脘痞。</p>
<p>藿香　半夏　廣皮白　杏仁　厚朴　萊菔汁勞傷伏邪。發熱身痛。</p>
<p>當歸　炙草　廣皮　青蒿　白芍　茯苓　半曲　黃芩中陽困頓。濕飲內阻。脘痛飧泄咳嗽。法宜溫陽。</p>
<h3>苓桂術薑湯</h3>
<p>精泄後尿血。陰傷氣失宣化耳。</p>
<p>琥珀屑　細生地黃　粗木通　甘草梢　大黑豆皮　淡竹葉時病傷陰。陽浮不潛。神識時清時昏。脈來弦數。宜益陰和陽。</p>
<p>生地　丹參　茯神　飛金　犀角　赤麥冬　燈珠　廉珠心腎不交。心悸內怯。陽痿不舉。</p>
<p>淮小麥　棗仁　遠志　柏仁　龍齒　建蓮濕阻身痛。</p>
<p>台術　粗桂枝　薏苡仁　茯苓　晚蠶砂　木防己四旬有二。須鬢頒白。未老先衰之象。良由陽氣式微。是以痰飲泛溢。仲景謂治痰飲以溫藥撤之。蓋以陽微陰乾耳。早服金匱腎氣丸。去桂膝加沉香萆　。晚用外台茯苓飲。去人參。</p>
<p>瘧止。脾氣未振。知飢少運。噫氣。</p>
<p>生穀芽　半曲　新會皮　宣木瓜　茯苓　砂仁殼陽浮不潛。寤多寐少。神煩汗泄。</p>
<p>生地　茯苓　天冬　川斛　牡蠣　柏仁中脘脹而高凸。陽痹濕阻使然。</p>
<p>厚朴　杏仁　橘白　茯苓　枳實　乾薑脈不寧靜。陡然失血。陽升擾絡使然。</p>
<p>藕汁　細生地　茯苓　牛膝　霍石斛伏暑濕成瘧脘悶。</p>
<p>藿梗　茯苓　半夏　厚朴　廣皮　杏仁飲邪作咳。</p>
<p>茯苓　杏仁　炙甘草　桂枝　米仁　老生薑氣阻。胸悶脘痛。</p>
<p>枇杷葉　枳殼　橘紅　杏仁　桔梗　茯苓脘痞嘔惡。吐涎沫。水飲內結。中陽不宣使然。</p>
<p>川連　半夏　枳實　乾薑　茯苓　橘白脈弦。飲逆作咳。</p>
<p>此精虧也。法當溫養填補。</p>
<p>線魚膠　羊內腎　覆盆　湘蓮　龜版膠　北五味　沙苑　青鹽　女貞子　海參膠　茯神咽痛時發。由火熱上炎耳。</p>
<p>元參　射干　連軺　桔梗　桑葉　川貝氣鬱胸悶。</p>
<p>枇杷葉　橘紅　杏仁　土蔞皮　桔梗　通草咳嗽少寐。陰虧氣燥所致。</p>
<p>玉竹　南沙參　茯神　川貝　霍山斛　骨皮色脈皆不妥。胃強能納。庶幾望其痊可。</p>
<p>人參　益智　炒穀芽　茯苓　廣皮　宣木瓜病後食物不節。下利。</p>
<p>益智仁　廣皮　大腹皮　砂仁殼　茯苓　廣藿香濕阻。下利腹痛。</p>
<p>厚朴　廣皮　香附　藿香　茯苓陰虧氣熱。</p>
<p>生地　粉丹皮　白芍藥　澤蘭　豆皮　柏子仁帶多腰痛。</p>
<p>熟地　鹿角霜　杜仲　沙苑　枸杞子　白薇脈澀心悸。內熱。</p>
<p>生地　白薇　柏子仁　條芩　豆　茯神　左牡蠣　白芍風痰鬱於肺衛。咳嗽鼻塞不利。</p>
<p>杏仁　桑皮　橘紅　前胡　桔梗　薑皮伏暑癉瘧。汗多脈細。</p>
<p>生穀芽　木瓜　烏梅肉　半夏曲　知母　細青蒿動怒肝逆。絡松失血。</p>
<p>蘇子　丹皮　牛膝炭　桃仁　鉤藤　黑山梔胃痛便艱。脈澀。營虛絡痹。恐延關格。</p>
<p>旋覆花加柏子仁栝蔞皮桃仁濕伏蒸熱下利。</p>
<p>木瓜　茯苓　陳皮　半曲　藿香　荷邊　炙草　穀芽脈澀下利。少腹啾唧。此陽微積著使然。法當溫通。</p>
<p>焦術　菟絲餅　肉桂心　胡蘆巴　沉香汁久嗽失血。</p>
<p>熟地　扁豆　甜北沙參　川斛　茯神　炒松麥冬陰損及陽。寒熱日加。脈數形瘦。其何以理。</p>
<p>寒熱後食物失宜。中氣反困。食不甘味。神倦無力。法宜和之。</p>
<p>藿香梗　厚朴　茯苓　木瓜　砂仁末　穀芽　半曲　廣皮脈小。利止食少。</p>
<p>益智仁　煨薑　穀芽　半夏曲　茯苓　木瓜努力傷絡。寒熱脅痛。</p>
<p>當歸　紅花　茯苓　五加皮　秦艽　桂木　松節　桑寄生風熱壅於肺衛。咳嗽鼻塞。</p>
<p>桑皮　蘆根　象貝　桔梗　通草　花粉頭痛身熱渴飲。</p>
<p>桂木　木防己　杏仁　豆卷　天花粉　厚朴陰弱氣燥。化熱逼絡。嗽血。心中辣熱。宜用甘藥和之。</p>
<p>葳蕤　南參　茯神　川貝　霍斛　鮮藕脾陽呆鈍。食下少運。</p>
<p>焦術　生穀芽　廣皮　小青皮　木瓜　炒米仁　茯苓　炒神麯營血暗耗。心悸食減。</p>
<p>準小麥　生白芍　棗仁　白茯神　炙甘草　柏仁失血每入秋發。脈細澀。屬陰虧。氣不收肅。擾絡致此。</p>
<p>酸棗仁　白茯神　丹參　柏子仁　豆皮　建蓮寒熱後不能寐。舌乾。胃氣不和耳。</p>
<p>竹茹　茯苓　木瓜　半夏　金斛　知母濕邪阻於中焦。蒸熱。脘悶腹膨。法宜苦辛開泄。</p>
<p>杏仁　藿香　白蔻　檳榔汁　厚朴　半夏　廣皮白勞嗽氣逆。胃氣不減。帶病延年。不必見嗽見血。用藥治之。</p>
<p>客邪發熱作咳。脈來細小無力。則為淹纏之候。</p>
<p>桂枝東加玉竹脈弦澀。體質陰虧。陽易外浮。不時寒熱。咳嗽失血。宜益陰和陽。</p>
<p>脈沉弦。陰邪內郁。厥陰陽明不能疏泄。與泛泛下利不同。</p>
<h3>來復丹</h3>
<p>瘧後嘔惡頭腫。怕正虛難任。</p>
<p>藿香　杏仁　橘白　厚朴　半夏　茯苓風動心悸嘈雜。</p>
<p>淮麥　炙草　桂枝　牡蠣　茯神　南棗　龍骨　棗仁久嗽傷營。形瘦食減。</p>
<p>食減少寐。</p>
<p>穀芽　棗仁　半曲　茯苓　建蓮　橘紅下利後。時有頭暈神迷。利傷下焦之陰。厥陽有上冒之機。法宜攝陰。</p>
<p>六味去萸肉加牡蠣咳引脅痛。</p>
<p>旋覆花　苡仁　桃仁　冬瓜子　橘紅　青蔥伏暑間瘧。脘悶不爽。</p>
<p>藿香　半夏　杏仁　厚朴　橘白　生薑脈尚弦。</p>
<p>細生地　丹皮　茯苓　豆皮　牛膝　川斛貧病飢寒。不能調攝。用藥有何益耶。</p>
<p>穀芽　新會　木瓜　煨薑　茯苓　半曲色晦。脘悶腹痛。此冷濕內著。陽氣怫鬱使然。</p>
<p>杏仁　藿香　茵陳　厚朴　茯皮　橘白神識雖清。脈象殊數。</p>
<p>生地　生左牡蠣　龍骨　棗仁　茯神　淡天冬　建蓮　柏仁濕從下受。腫由足起。延及腹滿食下脹痛。便溏不爽。脈來弦澀。其源起於三陰。而募原腑絡痹不疏。宜從先治標之旨議法。</p>
<p>寒熱卻。脘中悶。疏其肝胃。</p>
<p>香附　茯苓　青皮　大麥芽　半曲　新會脈不流利。氣血痹矣。</p>
<p>柏仁　當歸　桃仁　延胡　香附　蘇梗晡熱月余。陰分漸傷。恐延勞怯。</p>
<p>風熱上侵。身熱作咳。</p>
<p>杏仁　花粉　桔梗　連軺　桑皮　薄荷氣鬱不宣。脘痹不飢。</p>
<p>金石斛　半夏　枇杷葉　廣皮白　杏仁　枳殼下利脈小而遲。食物不節。脾陽戕矣。</p>
<p>焦術　茯苓　蓽茇　乾薑　益智　新會痰飲內阻。陽失流行。晨起惡心。身痛便溏。</p>
<p>於朮　橘白　乾薑　茯苓　半夏　枳實皮遺精腰痛。下體怯冷。</p>
<p>沙苑　肉蓯蓉　茯苓　魚膠　鹿霜　羊內腎　杜仲　補骨脂　菟餅　覆盆子　巴戟　胡桃舌白膩。咳嗽。入暮寒熱。復感新邪耳。</p>
<p>杏仁　桔梗　桑白皮　藿香　橘白　老薑皮食下嘔惡。</p>
<p>腹痛下蛔。上泛酸水。此蛔病也。宜忌甜物。</p>
<h3>安蛔丸</h3>
<p>氣弱神倦。陽痿。氣由精虛使然。</p>
<p>線膠　羊內腎　杞子　沙苑　菟絲子　茯苓邪未盡泄。肺氣不降。咳逆短氣。</p>
<p>枇杷葉　蘇子　橘紅　蔞仁霜　浙苓　杏仁飢飽不調。中陽飲停。脘痹不飢。涎沫泛溢。宜理陽明。</p>
<p>外台茯苓飲去朮易半夏脈遲。便血。心中嘈雜。由操勞使然。傷在心脾。</p>
<h3>歸脾湯</h3>
<p>氣弱不能運。腹痛由自而來。</p>
<p>人參　菟絲餅　茯苓　薑炭　焦術　益智仁　新會　穀芽飲逆嗽不得臥。</p>
<p>杏仁　茯苓　橘紅　厚朴　半夏　苡仁濕阻不泄。脘痹不飢。</p>
<p>杏仁　半夏　茵陳　萊服子　厚朴　廣白　苓皮　檳榔汁間瘧脘悶。</p>
<p>草果　半夏　生薑　厚朴　苓皮　烏梅脈長尺垂。下焦藏真不固。陽浮血溢神倦。屬虛損。非瘀也。</p>
<p>兩儀煎木火上炎。頭旋不耐煩勞。</p>
<p>細生地　丹皮　胡黃連　石決明　黑梔　牛膝炭臟陰暗耗。氣浮膚熱。脈數腹膨。陰虧漸及陽位。此屬虛損。最不易治。</p>
<p>正弱滯下，法宜和之。</p>
<p>厚朴　茯苓　廣皮　人參　炮薑　木瓜此木鬱也。擾陽明則吞酸嘔逆。法宜疏之。</p>
<p>客邪咳嗽。今脈右弦數。嗽盛汗泄。上病延及下焦矣。是以音漸失也。</p>
<p>濕阻發黃。腰痛溺赤。</p>
<p>台術　小赤豆皮　茵陳　米仁　連皮茯苓　白苦參勞傷營衛。咳嗽寒熱。心悸。</p>
<p>陽傷氣陷。下利腹膨。</p>
<p>人參　益智仁　茯苓　焦白朮　炮薑　胡蘆巴　菟餅　肉桂心左脅痹痛。氣逆不舒。</p>
<p>桃仁　青蔥　茯苓　丹皮　柏仁　橘紅脈細如絲。</p>
<p>焦術　益智　蓽茇　炮薑　菟餅　肉蔻宿飲咳逆哮喘。陡然形寒吐血。此亦陽傷渴干耳。</p>
<p>桂枝　半夏　乾薑　茯苓　炙草　五味氣鬱痰滯。胸痹不舒。</p>
<p>枳殼　檳榔　檀香　烏藥（四味磨汁）</p>
<p>向來孱弱。花甲又遭拂意逆境。致心營脾衛暗傷。陽明絡空。右肢酸不能舉。心中洞然。當以甘緩益虛。勿以肢痹而用搜剔之品。</p>
<p>黃　當歸　茯苓　炙草　枸杞　棗仁營虛衛薄。寒熱咳嗽汗多。法宜和之。</p>
<p>桂枝東加玉竹濕痰上阻。胃逆不降。胸悶欲吐。</p>
<p>金斛　茯苓　枳實　半夏　橘白　杏仁痛在下體。濕著居多。</p>
<p>杜仲（一兩）　川萆　（一錢）　獨活（五分）　金毛脊（五錢）　附子（錢五分）　晚蠶砂（三錢）</p>
<p>陽維為病。苦寒熱。治以調和營衛。</p>
<p>桂枝東加玉竹脈弦胃減。是以脘悶。食下　脹。便溏不爽。良由脾陽呆鈍。不能點運水穀之濕滯。脾主升。胃主降。升降之機得宜。濕滯自宣。中脘自爽。莫謂體弱。即投以膩滯補藥。</p>
<p>人參　茯苓　橘白　半曲　厚朴　穀芽伏邪未清。寒熱不罷。法宜和之。</p>
<p>當歸　柴胡　半曲　橘白　鱉甲　赤芍　茯苓　黃芩色亮。脈弦澀。此飲阻於肺絡。咳嗽不已。如以虛論。飲愈阻矣。</p>
<p>旋覆花　蘇子　萊菔子　橘紅　白芥子　杏仁　薏苡仁　蔞仁霜體弱挾邪。咳嗽頭脹。怕其絡松失血。</p>
<p>桑葉　川貝母　南沙參　玉竹　北梨肉　天花粉脈數無序。裡熱甚矣。勿忽視之。</p>
<p>薄荷　黃芩　山梔　滑石　連軺　花粉　木通　桔梗壯年而成關格。定屬木火上亢。柔金被劫。失宣降之司耳。</p>
<p>枇杷葉　蘇子　土蔞　紫菀須　橘紅　杏仁風熱上阻。咳嗽頭脹。宜治肺衛。</p>
<p>杏仁　桔梗　通草　桑皮　橘紅　蘆根舌黃。渴飲身熱。</p>
<p>桑葉　竹茹　橘白　黑梔　枳實　半夏間瘧。便泄脘悶。</p>
<p>藿香　杏仁　廣皮　白蔻　厚朴　半夏　茵陳　苓皮陽微形寒。腹痛下利。</p>
<p>人參　炮薑　焦術　茯苓　炙草　桂心此下焦陽微。飲邪上逆。嗽甚嘔惡。主以溫藥。</p>
<p>營陰枯槁。氣燥作咳。</p>
<p>熟地　天冬　豆皮　阿膠　茯神　雞子黃濕痰未清。</p>
<p>杏仁　浙苓　米仁　橘紅　桑皮　通草形瘁脈數。陰枯氣燥。絡松失血。以形脈論之。病不易治。</p>
<p>熟地　牡蠣　川石斛　茯神　皮　鮮荷藕終傷失血。血去過多。不宜開泄。</p>
<p>生地　藕汁　茅花　牛膝炭　川斛　童便　丹皮　側柏葉奇經暗傷。腰痛惡心。</p>
<p>熟地黃　茯苓　杞子　紫石英　白薇　沙苑陰質體虧。近受燥火。咳嗆少寐。暫以甘寒肅其肺衛。續以培元為妥。</p>
<p>葳蕤　茯神　桑葉　南參　霍斛　梨肉濕飲上阻。頭脹嗽逆。以淡滲之。勿以溫泄。謂其濕阻蒸熱耳。</p>
<p>杏仁　米仁　橘紅　桑皮　浙苓濕延中滿。宜溫太陰。</p>
<p>薑渣　茯苓　廣皮白　厚朴　肉桂　枳實皮脈黃發熱。咳嗆脘悶。其開上焦。</p>
<p>杏仁　桑葉　花粉　黃芩　川貝　連軺右尺空大。陽火由下亢炎咽疼。繼而神倦無力。法宜填攝下焦。</p>
<p>熟地　女貞實　茯神　牛膝　川斛　黃柏濕邪內陷成痢。陰虧囊皆腫。病最延綿。</p>
<p>台術　茯苓　桂心　廣皮　厚朴　澤瀉　豬苓太陰太陽同治。</p>
<p>生於朮　桂心　廣皮　紫厚朴　茯苓　澤瀉陽微陰泛。臥則痰逆。</p>
<p>肝火上衝。頭旋目赤。</p>
<p>石決明　生地　桑葉　川石斛　丹皮　茯神脈虛軟。晨起惡心。胃陽薄也。</p>
<h3>旋覆代赭湯</h3>
<p>左脈弦數。</p>
<p>青蒿　半夏曲　黃芩　丹皮　知母　川貝寒熱經阻。形瘦脈澀。此屬耗血。最不易治。</p>
<p>兩和氣血。</p>
<h3>香山丸</h3>
<p>脈弦數。稟賦陰弱。陽動不潛。絡逆吐血。宜攝陰和陽。</p>
<p>犀角　知母　元參　生地　川斛　藕汁陽郁形凜。脘悶身疼。</p>
<p>杏仁　厚朴　廣皮　桂枝　防己　澤瀉久嗽痰濃。胃中伏濕耳。但形神憔悴。脈微。最不易治。</p>
<p>生白扁豆　真川貝　燕窩　霍山石斛　白茯神　米仁飲阻咳嗽。</p>
<p>旋覆花　米仁　橘紅　杏核仁　浙苓　白芥子汗止內熱。</p>
<p>生地　阿膠　川石斛　麥冬　炙草　火麻仁稟性豪爽。木火炎炎。柔金被侮。音低漸失。而已經一載。且年又花甲。肺陰日消。恐不易復。當忌炙爆濃味為要。</p>
<p>上清膏脈澀。經事先期。脘痛引及腰髀。不時寒熱此二維為病也。良由營血不足耳。</p>
<p>鹿霜　當歸　茯苓　杞子　紫英　茴香不時寒熱。飲食漸減。肌膚瘡痍。此長夏暑濕內伏。不獨在衛。而營亦阻矣。兩和營衛。令邪徐徐越出。始可望愈。</p>
<p>焦術　歸身　黃芩　炙草　柴胡　半曲　白芍　青皮　陳皮　丹皮脈細。脘痛暮盛。吐出食物未化。此腎陽受戕。失宣降之司。所謂痛則不通是也。良由得之飢飽煩勞使然。以脈論之。日久恐有關格大患。未可不蚤為圖之。</p>
<p>人參　開花吳茱萸　淡附子　茯苓　真四川花椒　淡乾薑此乳岩也。女科之最難治者。開懷怡養。斯為第一要策。藥味緩圖。勿戕胃氣。是屬第二義漏蘆　穿山甲　乳香　土貝　大麥芽　紅花濕熱鬱於營分。是以四末如烙。肌膚瘙癢。治以苦辛。</p>
<p>豆皮　金銀花　粉萆　酒炒黃柏　白苦參　地膚子　赤芍藥　晚蠶砂　白蒺藜　草尿血脈微。年已花甲。此腎陰下奪。陽失其化。是以血從小腸而下。腎藏失封固之本也。</p>
<p>紫巴戟　粉萆　黑豆皮　生菟絲子　淡蓯蓉　雞內金　大麋茸　明琥珀屑伏暑蒸熱。頭痛身疼。</p>
<p>藿香　杏仁　陳皮　厚朴　半夏　茯苓營陰暗耗。心陽不寧。怔忡漸至。</p>
<p>生地　龍骨　丹參　天冬　茯神　柏仁督虛背凜。脈來微細。此陰中之陽傷矣。法宜柔溫養之。</p>
<p>鹿茸　菟子　歸身　巴戟　杜仲　茯苓舌苔黃。脘脹。</p>
<p>杏仁　茵陳　厚朴　連皮苓　半夏　廣皮　草果　滑石粉陽郁不宣。形凜頭痛脘悶。</p>
<p>杏仁　厚朴　茯苓　廣皮　桂枝　生薑氣痹。咳嗽脘悶。</p>
<p>枇杷葉　杏仁　枳殼　白桔梗　橘紅　桑皮吐血脈歇。二氣憊矣。謹慎調理。</p>
<p>熟地黃　茯苓　川石斛　參三七　藕汁　花蕊石腎虛濕著。腰為之痛。</p>
<p>茯苓　於朮　炙草　乾薑久郁氣血交痹。是以煩冤痰血。開懷為主。</p>
<p>丹皮　黑梔　半夏　橘紅　柏仁　丹參大建中法。</p>
<p>桂枝　川椒　飴糖　煨薑嗽而嘔惡。胃氣弱也。</p>
<p>白扁豆　北沙參　霍石斛　川貝母　麥冬肉　塊茯苓左脈弦。</p>
<p>何首烏　人參濕熱阻於上焦。頭脹惡風頤痛。</p>
<p>桂枝　杏仁　滑石　豆卷　川通　花粉熱減妨食神倦。</p>
<p>穀芽　川斛　陳皮　半曲　茯苓　知母伏邪發熱。</p>
<p>蘇梗　橘紅　杏仁　厚朴　花粉　連軺濕瘧。頭重脘悶。瘧來神憒。由正弱邪盛耳。</p>
<p>茵陳　厚朴　半夏　杏仁　菖根　橘白氣阻脘痹。</p>
<p>枇葉　杏仁　枳殼　蘇子　橘紅　桔梗娠五月。足太陰司胎。太陰與陽明為表裡。陽明隸乎衝脈。衝脈空虛。是以易於墮胎。法宜人參　菟絲子　杜仲　焦術　條芩　禹餘糧　白薇　湘蓮夢泄咽乾。責在少陰空虛。</p>
<p>熟地　天門冬　川斛　茯神　女貞子　龜版久嗽。惡風寒熱。</p>
<p>陰虧燥侵。嗽甚。</p>
<p>玉竹　川貝母　麥冬　霍斛　南沙參　茯神血後咳嗽咽乾。肺胃之陰虧耳。</p>
<p>北參　麥門冬　霍斛　扁豆　川貝母　茯神肝氣不疏。脘痛嘔惡。</p>
<p>川楝　延胡索　香附　青皮　川連　大麥芽　橘紅瘧後濕熱未淨。脘中不爽且痛。味甜。</p>
<p>金斛　麥芽　半夏片　茯苓　橘白　枳實皮瘧勢漸減。心悸神倦。</p>
<p>穀芽　半夏曲　木瓜　橘白　鮮蓮肉　茯苓勞損嗽逆嘔惡。養胃陰固屬正治。然難奏績。</p>
<p>人參　麥冬肉　茯苓　茯神　炙草　白粳米　南棗勞傷陽氣。神倦便溏。</p>
<p>人參　於潛術　茯苓　附子　乾薑久嗽音啞咽痛。臟陰損矣。恐不易復。</p>
<p>熟地　元參　霍山石斛　人中白　天冬　糯稻根須胃痛數載。脈虛而澀。經事先期。此屬營虛氣痹。不宜過於辛燥。</p>
<p>旋覆花東加柏仁茯神橘紅陰弱濕瘧。心中熱。脘中悶。</p>
<p>鱉甲　草果　知母　生薑　烏梅　青皮瘧傷太陰。腹膨裡急。</p>
<h3>露薑飲</h3>
<p>暑濕內伏。發熱脘悶。勢欲成瘧。</p>
<p>藿香　滑石　厚朴　杏仁　半夏　橘白腎虛腰痛。</p>
<p>鹿茸　附子　杜仲　菟絲　巴戟　茴香　人參　茯苓咳嗽盜汗鼻衄。脈數陰虧氣浮使然。葆真為要。否則延怯。</p>
<p>熟地　石斛　白扁豆　茯神　北參　麥門冬勞傷營衛。寒熱咳嗽。自汗妨食。</p>
<h3>黃建中湯</h3>
<p>脈弦。嗽逆不得臥。屬下虛不納。乃虛症也。</p>
<p>陽浮氣動嘈雜。中脘刺痛。耳鳴。且攝陰以和陽。</p>
<p>熟地　蓯蓉　茯神　萸肉　川斛　杞　巴戟　牛膝舌苔濁膩。</p>
<p>茵陳　半夏　厚朴　滑石　杏仁　橘白脈長而弦。不時夢泄。相火內熾。臟陰失守。入春大氣發泄。最慮失血。</p>
<p>熟地黃　茯苓　白芍　丹皮　旱蓮子　女貞　金櫻　芡實　天門冬　海參　牡蠣　川斛陰弱氣燥咳嗆。宜用甘藥。以養胃之陰。</p>
<p>葳蕤　麥門冬　霍山石斛　南參　北梨肉　炒黃川貝陽升煩熱。自汗頭旋。</p>
<p>熟地　天冬　人參　茯神　牡蠣　龍骨瘡瘍瘧發由濕熱者偏多。濕邪無有不戕陽氣。陽傷則府氣不宣。絡遂為之凝泣。少腹塊壘。</p>
<p>若奔豚狀。府以通為用。絡以辛為泄。此其治也。</p>
<p>巴戟天　茯苓　沉香汁　桂心　胡盧巴　琥珀　川楝子　澤瀉伏暑成瘧。體弱不宜過於攻泄。</p>
<p>藿梗　杏仁　橘白　茯苓　半夏　木瓜陰弱伏暑發熱。鼻衄汗多。慎加調理。勿忽視之。</p>
<p>赤麥冬　鮮蓮子　霍斛　木瓜　茯神高年陽衰。飲逆沖氣咳嗽。</p>
<h3>茯苓五味桂枝甘草湯</h3>
<p>勞傷腎。左脈弦數。</p>
<p>體質陰虧。燥侵作咳。</p>
<p>桑葉　白沙參　玉竹　川貝　天花粉　生草陰液枯槁。奇經無涵。身痛舌乾。</p>
<p>生地　天門冬　桂元肉　枸杞子氣鬱脘痹。</p>
<p>蘇梗汁　香附汁　枳殼汁　桔梗汁太陰陰瘧。妨食。涎沫泛溢。宜和中焦。</p>
<p>人參　半夏　茯苓　橘白　薑汁　烏梅肝血內耗。已成干血瘵疾。咽痛音啞。晡熱便溏。最不易治。</p>
<p>生地　元稻根須　川斛　麥冬　豆干皮　茯神復瘧。瞀悶渴飲。</p>
<p>鱉甲　檳榔汁舌苔濁膩。色如松花。癉熱不渴。少腹隱隱痹痛。此陰濕著於募原。中陽怫鬱不宣。切勿投以寒涼。恐成瘧痢。</p>
<p>藿香　半夏　紫色厚朴　杏仁　橘白　連皮茯苓左脈澀。按之躍。腎陰空虛甚矣。急急葆真。勿見咳投以清潤肺藥。</p>
<p>熟地　阿膠　龜版　天冬　茯神　牡蠣　麥冬　霍斛左寸數。</p>
<p>熟地　天冬　甜北沙參　茯神　霍斛　炒松麥冬舌白。下利兩月。脾陽傷矣。有年當此。恐延及腎致脫。</p>
<p>理中東加桂心茯苓濕鬱蒸熱。惡心。舌白。脈來弦數。轉瘧為順。</p>
<p>藿香　杏仁　半夏　厚朴　橘白　生薑左脈弦。陰虧陽浮不潛。咳嗽盜汗。</p>
<p>生地　阿膠　天冬　茯神　川斛　牡蠣脈弦。胃痛年久。病在於絡。</p>
<p>桃仁　歸須　閩薑　茯神　柏仁　延胡絡痹癖積。左脅脹痛。法宜通泄。</p>
<h3>阿魏丸（一名鱉甲丸）</h3>
<p>脈澀。脅肘痹痛。此氣血窒痹。營絡不宣使然。日久有失血癰瘍之患。</p>
<p>歸須　桃仁　乳香　麥芽　橘紅　新絳　青蔥伏邪發熱頭痛。</p>
<p>淡豉　杏仁　枳殼　桔梗　橘紅　連軺陰液枯槁。蹺維失護。心中辣熱。四肢若痿。攝陰為主。</p>
<p>生地　阿膠　天門冬　茯神　牡蠣　料豆殼脘痛。經事淋漓。腹脹。此氣阻絡痹。辛以潤之。</p>
<p>旋覆花東加柏仁橘紅歸須。</p>
<p>脈澀。腿痛艱於步履。溺後如膏。小溲易癃。此屬腎虛。延久恐成痿　。</p>
<p>熟地　龜版　蓯蓉　川斛　青鹽　皮　茯神　虎骨陰虧咽痛。便溏。</p>
<p>閱病原。診脈數。不獨臟陰內虛。氣亦少附耳。最慮食減喘急。</p>
<p>都氣丸人參湯送虛風內煽。上擾陽明。嘔噦涎沫。口耳牽引。肝胃同治。</p>
<p>旋覆　代赭　人參　半夏　茯苓　乾薑氣阻脘脹。法宜疏之。</p>
<p>濕鬱成瘧。脈弦小。宜辛溫和之。</p>
<p>藿香　半夏　厚朴　杏仁　生薑　橘白伏暑成瘧。</p>
<p>藿香　半夏　厚朴　杏仁　滑石　白蔻脈澀。陰弱。氣鬱絡痹。胸臆不爽。失血。養陰佐以辛潤。與胃無礙。</p>
<p>柏仁　生地　豆皮　茜草　丹參　茯神片脈歇。飲邪內阻。咳嗽氣逆。</p>
<p>脈弦澀。陰液漸次枯槁。清陽勢欲上結。脘膈不利。咽喉如梗。乃噎格之象。切勿動怒。</p>
<p>枇杷葉　半夏　薑汁復瘧。舌黃脈弦。宜和肝胃。</p>
<p>穀芽　半曲　廣皮　茯苓　煨薑　木瓜瘧轉下痢。脈細如絲。神倦不食。暑邪入裡。正憊不能泄越。症險恐脫。</p>
<p>人參　柴胡　羌活　川芎　枳殼　桔梗　獨活　炙草　前胡勞傷營衛。寒熱。</p>
<h3>茯苓桂枝湯</h3>
<p>暑風成瘧。頭脹惡心。</p>
<p>藿香　杏仁　半夏　滑石　通草　橘白不獨下焦陰損。中氣亦憊矣。當歸家調理為要。</p>
<p>人參　茯苓　半夏曲　橘紅　木瓜　大麥仁色黃。腹膨形寒。</p>
<p>穀芽　茯苓　米仁　半曲　新會　木瓜新涼外束。衛陽失護。背凜嗽逆。勢欲發時。</p>
<p>杏仁桂枝湯去芍加茯苓脈弦數。利後發熱。咳嗽頭脹。</p>
<p>香薷　桑皮　杏仁　桔梗　橘紅　連軺脈數無序。少陰頗虛。</p>
<p>六味東加牡蠣川斛天冬去萸舌白脈弦。</p>
<p>人參　附子　煨薑　南棗　吳萸　茯苓肝胃氣結痰多。</p>
<p>風濕相搏。發熱頭重。肌膚搔癢。</p>
<p>茵陳　桑皮　豆卷　杏仁　浙苓　米仁腎陽告衰。嗜寐呵欠。</p>
<p>人參　附子　遠志　茯苓　菟子　鹿茸左脈獨弦。耳鳴偏左。木火無疑。</p>
<p>苦丁茶　鮮荷葉　連軺殼　綠豆皮　黃菊花陰弱陽浮。火升牙宣。</p>
<p>六味去萸加二至海參湘蓮麥冬川斛。</p>
<p>濕邪成瘧。脘悶。</p>
<p>草果　厚朴　杏仁　半夏　廣白　茵陳伏邪三瘧。</p>
<p>桂枝　塊苓　厚朴　煨薑　花粉　橘白先理肝胃之逆。</p>
<p>旋覆花　人參　茯苓　代赭石　半夏　薑汁脈數。陰液內耗。氣燥化熱。舌紅苔黑。咳嗽渴飲。</p>
<p>生地　麥冬　甘蔗汁　阿膠　知母　霍石斛脈弦澀。嗽逆。此陰虧氣浮使然。非客邪可散。先以胃藥。</p>
<p>北沙參　霍斛　扁豆　麥冬　茯神瘧久傷陽。癉脹腹大。二便不爽。最不易治。先開太陽。令其陽氣宣達再商。</p>
<p>左脈弦。瘧來頭脹。</p>
<p>小柴胡湯去參濕鬱成痢。</p>
<p>茆術炭　茯苓　炙甘草　炒陳皮　木瓜　炮薑炭哮喘遇勞即發。發則大便溏泄。責在少陰陽虛。</p>
<p>脈尚弦。</p>
<p>蘇子　丹皮　枇杷葉　栝蔞皮　桃仁　紫菀　黑山梔　化橘紅（鹽水炙）</p>
<p>伏暑成瘧。舌苔濁膩。中脘不爽。惡心惡風。</p>
<p>藿香　厚朴　白豆蔻　杏仁　半夏　廣皮白陡然失音。究屬少陰陰虧。不能上供使然。法宜滋陰。以肅腎系。</p>
<p>生地　南沙參　元稻根須　元參　川貝母　小真綠豆皮痛痹肢浮。形凜惡風。</p>
<p>蠲痛丹。</p>
<p>先清風熱。</p>
<p>薄荷　川貝　桔梗　連軺　杏仁　甘草陽微伏邪。寒多熱少。間日一發。治以辛溫。</p>
<p>杏仁　桂木　生薑　茯苓　炙草　大棗腸紅日久。脾腎交虛。頭旋便溏。</p>
<h3>黑地黃湯</h3>
<p>濕邪內阻。腹痛下利。參之色脈。正氣殊虛。勿忽視之。</p>
<p>五苓散加厚朴診脈細澀。便血已二十余年。不時舉發。近來頭眩耳鳴。身若浮云。似難撐持。肉　肢麻此絡血下滲。營陰暗耗。厥陽無制。化風內煽。此屬臟病。關系甚巨。議用填固臟陰。收攝浮陽。以息內風。是其治也。</p>
<p>熟地　五味　人參　茯神　龍骨　牡蠣　天冬　湘蓮三瘧脈弦。</p>
<p>炙草　煨薑　當歸身　茯苓　南棗　粗桂木食下不運。中脘有形如梗。</p>
<p>白朮　半夏　附子　枳實　乾薑　茯苓脈數。努力勞傷失血。血去陰傷。氣浮咳逆。漸延陰損。</p>
<p>生地　茯神　北沙參　川斛　麥冬　豆皮下利身熱。</p>
<p>藿香　防風　廣皮　厚朴　茯苓　煨薑行動氣逆。咳嗽痰多。</p>
<p>遺精。氣逆嗽痰。宜攝少陰。</p>
<p>熟地　湘蓮　金櫻子　茯神　芡實　北五味肝氣不疏。久利腹痛。</p>
<p>復瘧。氣弱神倦。</p>
<p>人參　茯苓　生薑　穀芽　陳皮　烏梅陰虧氣浮失血。便溏食減。</p>
<p>茯神　白芍　北沙參　炙草　麥冬　建蓮肉瘧熱逼絡牙宣。</p>
<p>生地　石膏　知母　麥冬　竹葉伏邪寒熱。身痛舌白。</p>
<p>花粉　桂枝　白芍　炙草　生薑　大棗濕邪內郁。腹痛便溏。</p>
<p>廣皮　茯苓　藿香梗　厚朴　香附　砂仁殼風火上郁。頭目不清。暫以辛涼。</p>
<p>薄荷　桔梗　黑梔皮　桑皮　象貝　連軺殼遺泄頻來。</p>
<p>熟地　芡實　金櫻子　龍骨　牡蠣　桑螵蛸　五味　茯神　山藥　湘蓮　女貞　遠志　煉蜜食下　脹。飢則尤甚。</p>
<p>熟地　白茯苓　枸杞炭　沙苑　紫石英　牛膝炭　臨服磨入沉香汁伏邪發熱。舌白。</p>
<p>桑皮　杏仁　通草　浙苓　米仁　蘆根痰飲內阻。清陽失曠。脘痛拒納。乃噎格之象。開懷為要。</p>
<p>半夏　吳萸　茯苓　乾薑情志怫鬱。心陽與腎真不交。少寐陽痿。體質多濕。柔膩之品不合。宜用王荊公妙香法。</p>
<p>人參　茯苓　龍骨　茯神　炙甘草　湘蓮　遠志　辰砂　廣木香　益智仁復瘧。脈弦數。</p>
<p>人參　九製首烏陰陽水煎露一宿伏暑。心中灼熱。頭脹。治以辛涼。</p>
<p>連翹　花粉　川貝　益元散　燈薪　辰砂　竹葉陰虧於下。氣熱於上。鼻塞不利。頭目不爽。治以輕劑。</p>
<p>桑葉　花粉　連翹殼　甘草　象貝　黑梔皮陰虧氣燥咳嗽。</p>
<p>玉竹　桑葉　南沙參　川貝　花粉　扁杏仁左脈弦數。咳嗽脘悶寒熱。</p>
<p>小柴胡湯去參陰傷便血。</p>
<p>正弱邪重。勿忽調理。</p>
<p>廣藿香　厚朴　廣皮　連皮苓　神麯　青皮　麥芽　大腹皮瘧久陽微失護。寒熱不已。法宜溫陰中之陽。</p>
<p>鹿茸　附子　當歸　人參　茯苓　生薑氣熱咳嗽痰血。</p>
<p>陰虧氣燥音嘶。</p>
<p>玉竹　桑葉　南沙參　川貝　花粉　北梨汁夢泄咳嗽。此少陰不納也。</p>
<p>熟地　川斛　天門冬　茯神　麥芽　北沙參陽氣式微。行動氣逆。</p>
<p>附子　北五味　胡桃仁　茯苓　沉香汁　紫石英脈弦。胸脅痹痛引背。曾吐瘀食下拒納。此屬血格。</p>
<p>紅花　桃仁　旋覆花　橘紅　生蔥管　柏子仁脈澀。失血咳嗽。妨食盜汗。漸延勞怯之途。勿忽視之。須靜養為妙。</p>
<p>漸延干血。急急護陰。</p>
<p>熟地　天冬　川石斛　阿膠　茯神　雞子黃暑風上受。首先犯肺。執蘊不解。逆傳心包。肝陽化風。盤旋舞動。神昏譫語。脈虛。急宜辛涼。開熱疏痰。俾神魂復攝，斯無變幻。為今治法，須治上焦。苦降消克。是有形有質。</p>
<p>非其治矣。</p>
<p>犀角尖（二錢）　鮮生地（一兩）　甘草（五錢）　廉珠末（三分研細沖入）　焦丹皮（二錢）　連軺（一錢五分）　赤芍（二錢）　卷心竹葉（二錢）　白燈心（五分）</p>
<p>煎成化服牛黃丸二分冰糖四兩烏梅一錢煎湯代藥病久陰陽兩傷。神迷微笑。厥逆便泄。正虛大著。若治病攻邪。頭緒紛紜。何以顧其根本。</p>
<p>莫如養正。以冀寇解。</p>
<p>人參（一錢五分）　青花龍骨（五錢）　白芍藥（三錢）　南棗（去核三枚）　淘淨淮麥（一合）　炙黑草（一錢）</p>
<p>補正厥泄並止。邪少虛多彰明矣。清火消痰理氣辛開下乘方法。片瓣不得入口矣。急宜扶助肝陰。俾得陰陽交戀。不致離二。則厥逆自止。然非可旦夕圖功。希其不增別症。便是驗處細北沙參（一兩）　青花龍骨（八錢）　南棗（四枚）　白芍（五錢）　炙黑甘草（一錢五分）　上清阿膠（二錢）　淮麥（一兩）</p>
<p>黏痰咳嘔外出。邪有外達之機。神識頗清。正有漸復之勢矣。但筋惕脈虛。元氣實餒。扶過秋分大節。得不變幻。方可。</p>
<p>大淮生地汁（五錢煎三十沸）　龍骨（五錢）　白芍（三錢）　天冬（一錢）　鮮白花百合汁（五錢煎三十沸）　人參（一錢）　淮麥（五錢）　南棗（二枚）　上清阿膠（一錢五分）　炙黑甘草（一將前四診合參。頗有功成之望。然日就坦途乃佳。</p>
<p>人參（一錢包舉大氣）　天冬（一錢清滋金水）　炙黑草（五分調和解毒）　麥冬（一錢五分滋金土）　川斛（三錢養胃口生真）　生地汁（一兩搗同煎培益先天陰氣）</p>
<p>鮮白花百合汁煎湯代水（清金降火生津化熱）</p>
<p>夫用藥如用兵。須投之必勝。非徒紀律已也。況強敵在前。未可輕戰。戢民固守。則是可為今觀此症本質素虧。時邪暑濕熱三氣交蒸互郁。上犯清靈。都城震驚。匪朝伊芳夕矣。藏精真氣神衰憊困窮。陽津陰液。久為大傷。治惟保其胃口生真培元固本。猶恐不及。何暇再顧其標之痰熱耶。仍主前法。</p>
<p>人參（一錢）　阿膠（一錢五分米粉炒）　豆皮（三錢）　茯神去木（二錢）　天冬（炒松一錢）</p>
<p>麥冬（炒松一錢）　大生地（一兩炒黑）　甜北沙參（四錢）</p>
<p>百合煎湯代水神氣漸復。生機　然。但受傷已久。未易收功。緩以圖之。靜以待之。</p>
<p>人參（一錢）　熟地炭（四錢）　炒松麥冬（一錢五分）　阿膠（一錢五分）　生地炭（四錢）　炒松天冬（一錢五分）</p>
<p>百合湯代水痰中微帶紅色。此交節氣代更。浮游之虛火上升。無足怪也。治宜清上益下。</p>
<p>人參（一錢）　霍石斛（三錢）　生牡蠣（四錢）　綠豆殼（三錢）　麥冬（一錢五分）　白粳米（三錢）　白芍藥（三錢）　清阿膠（一錢五分）　茯神（三錢）</p>
<p>百合湯代水膀胱主腎。睡熟小便自遺。足征神氣衰微所致。於此可見消痰理嗽辛燥和陽。均非善治。擬潤補法中佐以交通心腎。使水升火降。精靈復職。方為中的。若僅從事於脾胃。與經旨本末有乖矣。用是力辟通套。迸棄習俗弊竇。謹按內經撰方。</p>
<p>人參（一錢）　阿膠（二錢）　桂元肉（三錢）　炒黑遠志（甘草湯泡去心七分）　茯神（三錢）　棗仁（一錢五分炒）　炙黑草（七分）</p>
<p>清補肺胃兩陰北沙參（一兩）　朱砂拌麥冬（二錢）　去木茯神（三錢）　豆皮（三錢）　鹽水煮石決（五分）</p>
<p>霍山石斛（三錢）</p>
<p>百合湯代水病勢大減。舍本理末可矣。蓋脾為生痰之所。肺為貯痰之具。治以清肅上焦。佐以疏通中氣鮮桑葉（二錢）　北沙參（五錢）　米仁（四錢）　茯神（三錢）　橘白（一錢）　甜杏仁（去皮三錢）</p>
<p>冬瓜子（去殼三錢）　去殼生穀芽（五錢）</p>
<h3>復診方</h3>
<p>川斛（三錢）　麥冬（一錢五分）　橘白（一錢）　甘草（五分）　茯神（二錢）　鮮藕（三片，去殼）</p>
<p>生穀芽（五錢）</p>
<p>再診大生地（四錢）　川石斛（三錢）　茯神（三錢）　炒棗仁（一錢五分）　豆皮（三錢）　麥冬（一錢五分）</p>
<p>又診研細水麻仁（三錢）　歸尾（一錢五分）　焦麥芽（三錢）　炒桃仁（二錢研）　鹽水炒陳皮（一錢）</p>
<p>半曲（一錢五分）　柏子仁（一錢五分）</p>
<h3>又診方</h3>
<p>炒黑遠志（一錢）　柏子仁（二錢）　鹽水炒陳皮（一錢）　炒酸棗仁（二錢）　白茯苓（三錢）　真陳半夏曲（一錢五分）</p>
<p>陽脈澀。陰脈弦。法當腹中急痛。今復沉郁暴寒。宜更進一籌。擬方備采。</p>
<p>淡乾薑（一錢）　淡附子（一錢炒）　去皮濃肉桂（五分）　炒白芍（一錢五分）　白飴糖（二錢）</p>
<p>炙甘草（一錢）　炒香大棗肉（二錢）</p>
<p>川桂枝（一錢）　淡乾薑（一錢）　酒炒元胡索（一錢五分）　五靈脂（酒炒二錢）　白芍藥（一錢五分酒炒）　開口真川椒（三分炒）　大棗肉（二錢）　炙甘草（五分）　泡淡烏梅肉（炒枯一錢）</p>
<p>胞門氣虛。胃氣下泄。乃有是正喧之病。古人以膏發煎導之。今宜先用補中益氣法。以升其氣為妙。</p>
<p>人參（一錢）　炙黃　（一錢五分）　焦術（一錢五分）　升麻（五分）　炒柴胡（五分）　血余（二錢）　當歸身（錢半）　陳皮（一錢）　炙草（五分）　真阿膠（二錢生溶沖）</p>
<p>據述病原即交腸症。一名痼疾。搖擬一方。亦不過約略云爾。未敢希功。</p>
<p>生地（二錢）　血余（二錢）　阿膠（二錢）　炙草（五分）</p>
<p>此按系己丑歲假叔父本抄錄至辛卯歲桃月初六日午刻始竣</p>
