<header><h1>溫熱論（華岫雲本）</h1></header>
<dl class="元資料" data-type="book">
<div><dt>作者</dt><dd><data value="葉桂">清·葉桂述，門人顧景文錄</data></dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1644/1911">公元1644年至公元1911年</data></dd></div>
<div><dt>版本</dt><dd>華岫雲本</dd></div>
<div><dt>品質</dt><dd>90%</dd></div>
</dl>
<h2>葉香巖外感溫熱篇</h2>
<p><span class="編號">1.</span>溫邪上受，首先犯肺，逆傳心包，肺主氣屬衛，心主血屬營，辨衛氣營血雖與傷寒同，若論治法，則與傷寒大異也。</p>
<p><span class="編號">2.</span>蓋傷寒之邪，留戀在表，然後化熱入裏，溫邪則熱變最速，未傳心包，邪尚在肺，肺主氣，其合皮毛，故云在表，初用辛涼輕劑，挾風則加入薄荷、牛蒡之屬，挾溼加蘆根、滑石之流，或透風於熱外，或滲溼於熱下，不與熱相搏，勢必孤矣。</p>
<p><span class="編號">3.</span>不爾風挾溫熱而燥生，清竅必乾，謂水主之氣，不能上榮，兩陽相劫也，溼與溫合，蒸鬱而蒙蔽於上，清竅為之壅塞，濁邪害清也，其病有類傷寒，其驗之之法，傷寒多有變證，溫熱雖久，在一經不移，以此為辨。</p>
<p><span class="編號">4.</span>前言辛涼散風，甘淡驅溼，若病仍不解，是漸欲入營也，營分受熱，則血液受劫，心神不安，夜甚無寐，或斑點隱隱，即撤去氣藥，如從風熱陷入者，用犀角、竹葉之屬，如從溼熱陷入者，犀角、花露之品，參入涼血清熱方中，若加煩躁，大便不通，金汁亦可加入，老年或平素有寒者，以人中黃代之，急急透斑為要。</p>
<p><span class="編號">5.</span>若斑出熱不解者，胃津亡也，主以甘寒重則如玉女煎，輕則如梨皮、蔗漿之類，或其人腎水素虧，雖未及下焦，先自徬徨矣，必驗之於舌，如甘寒之中，加入鹹寒，務在先安未受邪之地，恐其陷入易易耳。</p>
<p><span class="編號">6.</span>若其邪始終在氣分流連者，可冀其戰汗透邪，法宜益胃，令邪與汗併，熱達腠開，邪從汗出，解後胃氣空虛，當膚冷一晝夜，待氣還，自溫暖如常矣，蓋戰汗而解，邪虛，陽從汗泄，故脈漸冷，未必即成脫證。此時宜令病者，安舒靜臥，以養陽氣來復，旁人切勿驚惶，頻頻呼喚，擾其元神，使其煩躁，但診其脈，若虛軟和緩，雖倦臥不語，汗出膚冷，卻非脫證，若脈急疾，躁擾不臥，膚冷汗出，便為氣脫之證矣，更有邪盛正虛，不能一戰而解，停一二日再戰汗而愈者，不可不知。</p>
<p><span class="編號">7.</span>再論氣病有不傳血分而邪留三焦，亦如傷寒中少陽病也，彼則和解表裏之半，此則分消上下之勢，隨證變法，如近時杏、朴、苓等類，或如溫膽湯之走泄，因其仍在氣分，猶可望其戰汗之門戶，轉瘧之機括。</p>
<p><span class="編號">8.</span>大凡看法，衛之後，方言氣，營之後，方言血，在衛汗之可也，到氣纔可清氣，入營猶可透熱轉氣，如犀角、元參、羚羊等物，入血就恐耗血、動血，直須涼血、散血，如生地、丹皮、阿膠、赤芍等物，否則前後不循緩急之法，慮其動手便錯，反致慌張矣。</p>
<p><span class="編號">9.</span>且吾吳溼邪害人最廣，如面色白者，須要顧其陽氣，溼勝則陽微也，法應清涼，然到十分之六七，即不可過於寒涼，恐成功反棄，何以故耶，溼熱一去，陽亦衰微也，面色蒼者，須要顧其津液，清涼到十分之六七，往往熱減身寒者，不可就云虛寒，而投補劑，恐爐煙雖息，灰中有火也，須細察精詳，方少少與之，慎不可直率而往也，又有酒客裏溼素盛，外邪入裏，裏溼為合，在陽旺之軀，胃溼恆多，在陰盛之體，脾溼亦不少，然其化熱則一。熱病救陰猶易，通陽最難，救陰不在血，而在津汗，通陽不在溫，而在利小便，然較之雜證，則有不同也。</p>
<p><span class="編號">10.</span>再論三焦不得從外解，必致成裏結，裏結於何？在陽明胃與腸也，亦須用下法，不可以氣血之分，就不可下也，但傷寒邪熱在裏，劫爍津液，下之宜猛，此多溼邪內搏，下之宜輕，傷寒大便溏為邪已盡，不可再下，溼溫病大便溏為邪未盡，必大便硬，慎不可再攻也，以糞燥為無溼矣。</p>
<p><span class="編號">11.</span>再人之體，脘在腹上，其地位處於中，按之痛，或自痛，或痞脹當用苦泄，以其入腹近也，必驗之於舌，或黃或濁，可與小陷胸湯或瀉心湯，隨證治之，或白不燥，或黃白相兼，或灰白不渴，慎不可亂投苦泄，其中有外邪未解，裏先結者，或邪鬱未伸，或素屬中冷者，雖有脘中痞悶，宜從開泄，宣通氣滯，以達歸於肺，如近俗之杏、蔻、橘、桔等，是輕苦微辛，具流動之品可耳。</p>
<p><span class="編號">12.</span>再前云舌黃或濁，須要有地之黃，若光滑者，乃無形溼熱，中有虛象，大忌前法，其臍以上為大腹，或滿或脹或痛，此必邪己入裏矣，表證必無，或十之存一，亦要驗之於舌，或黃甚，或如沉香色，灰黃色，或老黃色，或中有斷紋皆當下之，如小承氣湯，用檳榔、青皮、枳實、元明粉、生首烏等，若未現此等舌，不宜用此等法，恐其中有溼聚太陰為滿，或寒溼錯雜為痛，或氣壅為脹，又當以別法治之。</p>
<p><span class="編號">13.</span>再黃苔不甚厚而滑者，熱未傷津，猶可清熱透表，若雖薄而乾者，邪雖去而津受傷也，若重之藥當禁，宜寒輕劑可也。</p>
<p><span class="編號">14.</span>再論其熱傳營，舌色必絳，絳深紅色也，初傳，絳色中兼黃白色，此氣分之邪未盡也，泄衛透營，兩和可也，純絳鮮澤者，包絡受病也，宜犀角、鮮生地、連翹、鬱金、石菖蒲等，延之數日，或平素心虛有痰，外熱一陷，裏絡就閉，非菖蒲鬱金所能開，須用牛黃丸至寶丹之類以開其閉，恐其昏厥為痙也。</p>
<p><span class="編號">15.</span>再色絳而舌中心乾者，乃心胃火燔，劫爍津液，即黃連、石膏亦可加入，若煩渴煩熱，舌心乾，四邊色紅，中心或黃或白者，此非血分也，乃上焦氣熱爍津，急用涼膈散，散其無形之熱，再看其後轉變可也。慎勿用血藥，以滋膩難散。至舌絳望之若乾，手捫之原有津液，此津虧溼熱薰蒸將成濁痰，蒙閉心包也。</p>
<p><span class="編號">16.</span>再有熱傳營血，其人素有傷宿血在胸膈中，挾熱而搏，其舌色必紫而暗，捫之溼，當加入散血之品，如琥珀、丹參、桃仁、丹皮等。不爾，瘀血與熱為伍，阻遏正氣，遂變如狂發狂之證，若紫而腫大者，乃酒毒衝心。若紫而乾晦者，腎肝色泛也，難治。</p>
<p><span class="編號">17.</span>舌色絳而上有黏膩，似苔非苔者，中挾穢濁之氣，急加芳香逐之。舌絳欲伸出口，而抵齒難驟伸者，阻舌根，有內風也。舌絳而光亮，胃陰亡也，急用甘涼濡潤之品。若絳舌而乾燥者，火邪劫營，涼血清火為要，絳舌而有碎點白黃者，當生疳也，大紅點者，熱毒乘心也，用黃連、金汁，其有雖絳而不鮮，乾枯而痿者，腎陰涸也，急以阿膠、雞子黃、地黃、天冬等救之，緩則恐涸極而無救也。</p>
<p><span class="編號">18.</span>其有舌獨中心絳乾者，此胃熱心營受灼也，當於清胃方中，加入清心之品，否則延及於尖，為津乾火盛也，舌尖絳獨乾，此心火上炎，用導赤散瀉其腑。</p>
<p><span class="編號">19.</span>再舌胎白厚而乾燥者，此胃燥氣傷也，滋潤藥中如甘草，令甘守津還之意，舌白而薄者，外感風寒也，當疏散之，若白乾薄者，肺津傷也，加麥冬、花露、蘆根汁等輕清之品，為上者上之也，勿憂之，再從裏透於外，則變潤矣，初病舌就乾，神不昏者，急加養正透邪之藥，若神已昏，此內匱矣，不可救藥。</p>
<p><span class="編號">20.</span>又不拘何色，舌上生芒刺者，皆是上焦熱極也，當用青布拭冷薄荷水揩之，即去者輕，旋即生者險矣。</p>
<p><span class="編號">21.</span>舌苔不燥，自覺悶極者，屬脾溼盛也，或有傷痕血跡者，必問曾經搔挖否，不可以有血而便為枯證，仍從溼治可也。再有神情清爽，舌脹大不能出口者，此脾溼胃熱，鬱極化風，而毒延口也。用大黃磨入當用劑內，則舌脹自消矣。</p>
<p><span class="編號">22.</span>再舌上苔白黏膩，吐出濁厚涎沬，口必甜味也，為脾癉病，乃溼熱氣聚與穀氣相搏，土有餘也，盈滿則上泛，當用省頭草芳香辛散以逐之則退。若舌上苔如鹼者，胃中宿滯挾濁穢鬱伏，當急急開泄，否則閉結中焦，不能從膜原達出矣。</p>
<p><span class="編號">23.</span>若舌無苔，而有如煙煤隱隱者，不渴肢寒，知挾陰病，如口渴煩熱，平時胃燥舌也，不可攻之，若燥者甘寒益胃，若潤者甘溫扶中，此何故？外露而裏無也。</p>
<p><span class="編號">24.</span>若黑苔而滑者，水來克火，為陰證，當溫之。若見短縮，此腎氣竭也，為難治，欲救之，加人參、五味子，勉希萬一。舌黑而乾者，津枯火熾，急急瀉南補北。若燥而中心厚者，土燥水竭急以鹹苦下之。</p>
<p><span class="編號">25.</span>舌淡紅無色者，或乾而色不榮者，是胃津傷而氣無化液也，當用炙甘草湯，不可用寒藥。</p>
<p><span class="編號">26.</span>若舌白如粉而滑，四邊色紫絳者，溫疫病初入膜原，未歸胃腑，急急透解，莫待傳陷，而入為險惡之病，且見此舌者，病必見凶，須要小心，</p>
<p><span class="編號">27.</span>凡斑疹初見，須用紙撚照看胸、背、兩脅，點大而在皮膚之上為斑，或雲頭隱隱，或瑣碎小粒者為疹，又宜見而不宜見多，按方書謂斑色紅者屬胃熱，紫者熱極黑者胃爛，然亦必看外證所合，方可斷之。</p>
<p><span class="編號">28.</span>然而春夏之間，溼病俱發疹為甚，且其色要辨，如淡紅色，四肢清，口不甚渴，脈不洪數，非虛斑即陰斑。或胸微見數點，面赤足冷，或下利清穀，此陰盛格陽於上而見，當溫之。</p>
<p><span class="編號">29.</span>若斑色紫小點者，心包熱也，點大而紫，胃中熱也，黑斑而光亮者，熱勝毒盛，雖屬不治，若其人氣血充者或依法治之尚可救，若黑而晦者必死，若黑而隱隱四旁赤，色火鬱內伏大用清涼透發，間有轉紅成可救者，若夾斑帶疹，皆是邪之不一，各隨其部而泄，然斑屬血者恆多，疹屬氣者不少，斑疹皆是邪氣外露之象，發出宜神情清爽，為外解裏和之意，如斑疹出而昏者，正不勝邪內陷為患，或胃津內涸之故。</p>
<p><span class="編號">30.</span>再有一種白㾦，小粒如水晶色者，此溼熱傷肺，邪雖出而氣液枯也，必得甘藥補之。或未至久延，傷及氣液乃溼鬱衛分，汗出不徹之故，當理氣分之邪，或白如枯骨者多凶，為氣液竭也。</p>
<p><span class="編號">31.</span>再溫熱之病，看舌之後，亦須驗齒。齒為腎之餘，齦為胃之絡。熱邪不燥胃津，必耗腎液，且二經之血，皆走其地，病深動血，結瓣於上。陽血者色必紫，紫如乾漆，陰血者色必黃，黃如醬瓣，陽血若見，安胃為主，陰血若見，救腎為要，然豆瓣色者多險，若還不逆者尚可治，否則難治矣。何以故耶？蓋陰下竭，陽上厥也。</p>
<p><span class="編號">32.</span>齒若光燥如石者，胃熱甚也。若無汗惡寒，衛偏勝也，辛涼泄衛透汗為要。若如枯骨色者，腎液枯也，為難治。若上半截潤，水不上承，心火上炎也，急急清心救水，俟枯處轉潤為安。</p>
<p><span class="編號">33.</span>若咬牙嚙齒者，溼熱化風痙病，但咬牙者，胃熱氣走其絡也，若咬牙而脈證皆衰者，胃虛無穀以內榮，亦咬牙也。何以故耶？虛則喜實也。舌本不縮而硬，而牙關咬定難開者，此非風痰阻絡，即欲作痙證，用酸物擦之即開，木來泄土故也。</p>
<p><span class="編號">34.</span>若齒垢如灰糕樣者，胃氣無權，津亡溼濁用事，多死。而初病齒縫流清血，痛者，胃火衝激也；不痛者，龍火內燔也。
齒焦無垢者，死；齒焦有垢者，腎熱胃劫也，當微下之，或玉女煎清胃救腎可也。</p>
<p><span class="編號">35.</span>再婦人病溫與男子同，但多胎前產後，以及經水適來適斷。大凡胎前病，古人皆以四物加減用之，謂護胎為要，恐來害妊，如熱極，用井底泥，藍布浸冷，覆蓋腹上等，皆是保護之意，但亦要看其邪之可解處，用血膩之藥不靈，又當省察，不可認板法。然須步步保護胎元，恐損正邪陷也。</p>
<p><span class="編號">36.</span>至於產後之法，按方書謂慎用苦寒，恐傷其已亡之陰也。然亦要辨其邪能從上中解者，稍從證用之，亦無妨也。不過勿犯下焦，且屬虛體，當如虛怯人病邪而治。總之無犯實實虛虛之禁，況產後當氣血沸騰之候，最多空竇，邪勢必乘虛內陷，虛處受邪為難治也。</p>
<p><span class="編號">37.</span>如經水適來適斷，邪將陷血室，少陽傷寒，言之詳悉，不必多贅。但數動與正傷寒不同，仲景立小柴胡湯，提出所陷熱邪，參、棗扶胃氣，以衝脈隸屬陽明也，此與虛者為合治。若熱邪陷入，與血相結者，當從陶氏小柴胡湯去參、棗，加生地、桃仁、楂肉、丹皮或犀角等。若本經血結自甚，必少腹滿痛，輕者刺期門，重者小柴胡湯去甘藥，加延胡、歸尾、桃仁，挾寒加肉桂心，氣滯者加香附、陳皮、枳殼等。然熱陷血室之證，多有譫語如狂之象，防是陽明胃實，當辨之。血結者身體必重，非若陽明之輕旋便捷者。何以故耶？陰主重濁，絡脈被阻，側旁氣痹，連胸背皆拘束不遂，故祛邪通絡，正合其病，往往延久，上逆心包，胸中痛，即陶氏所為謂血結胸也。王海藏出一桂枝紅花湯加海蛤、桃仁，原為表裏上下一齊盡解之理，看此方大有巧手，故錄出以備學者之用。</p>
