<header><h1>女科切要</h1></header>
<dl class="元資料" data-type="book">
<div><dt>作者</dt><dd>吳道源</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1644/1911">公元1644年至公元1911年</data></dd></div>
</dl>
<h2>自序</h2>
<p>古云：寧醫十男子，莫醫一婦人。誠以女病倍於男子，而更多不可名言之隱也。其居富貴之地者，更面藏帳幃，臂蓋綺紈，醫者望聞既難，切脈亦無從仔細，故女科益難從事焉。余幼殫精舉業，亦究心岐黃，緣歷試不遇，遂以方藥應世，數十年來，窮源竟委，上采前賢之著述，旁錄時人之議論，成《痢症匯參》一書。既為四方君子稱評，勸授梓人，茲復念女病難醫，即平日所輯前哲要語，分門別類，匯為一帙，顏曰《女科切要》。質諸二三同志，俱云語簡而明。此書一出，將臨症者，俱可唾手取驗，而至難醫者，從此不難，亟當傳世，以為普濟之資，因不揣固陋，勉付剞劂云。</p>
<p><u>時乾隆癸巳小眷梅溪吳道源題年七十有五</u></p>
<h2>卷一</h2>
<h3>調經門</h3>
<p>經閉為女人病者，蓋因女子以血為主也。使其經脈調和，往來有準，有以應水道潮汐之期，舊血既盡，新血復生，有以合造化盈虧之數，則周身百脈，無不融液而和暢。夫何病之有?設或閉焉，則新血滯而不流，舊血凝而日積，諸病叢生。凡血癖血風，與夫熱入血室之證，多自此而始矣。然要其經閉之由，必要所因，或月事適至之時，因渴飲水，並食生冷之物，及坐冷水中洗浴，寒氣內入，血即凝滯，遂令經閉。又或因墮胎多產而傷其血，或因久患潮熱而銷其血，或因久發盜汗而耗其血，或脾胃不和，飲食減少，而不能生血。凡此類，皆能令人經閉。其肥白婦人，經閉而不通者，必是濕痰與脂膜壅塞之故也。宜以枳實為君，佐以蒼朮、半夏、香附、烏藥、厚朴、牛膝、桃仁之類，則濕痰去而脂膜開，其經自通矣。黑瘦之婦經閉者，血枯氣滯也，治宜補血理氣，君以歸身、白芍、人參、廣皮、香附之類，或因墮胎多產而傷其血，或久患潮熱而銷其血者，不可用行血之劑，宜以四物為主，佐以木香、香附、厚朴、甘草之類，兼調其氣，久而自通矣。有因感暴怒而經閉者，治宜開鬱活血，君以鬱金，佐以官桂、香附、木香、桃仁、牛膝之類，煮酒煎服，或因食生冷而經閉者，君以官桂，佐以乾薑、木香、厚朴、香附、紅花、歸尾之類。因坐冷水而經閉者，君以附子，佐以官桂、木香、山楂、桃仁、當歸、乾薑、川芎之類。室女及笄而天癸不至，而飲食如常者，只是氣血未足，人間往往有之，必服藥療其雜病，時至，經自流通。亦有年長大而經竟不來者，仍能受孕，名曰暗經。每月至期，必作腰痛，此前人之所未發也。有至期而經水不行，上逆而嘔血者，名曰倒經，治宜當歸大黃湯。有室女經水既通，而至期復又不來者，必須視其有證無證，驗其似疾非疾。若面色不改，飲食如常，身無內熱，名曰歇經，非疾也，乃血不足也。若面黃肌瘦內熱，是為童癆，診其肝脈，弦出寸口上魚際，非藥所能治也，急與之成婚，則陰陽和，自然經行而疾去矣，否則十死八九。亦有氣血不足者，必面黃肌瘦，常帶微熱，雖歇幾年，服藥亦可通之，但不可用破血剛猛之藥，如虻蟲、山甲、三棱、莪朮之類。只宜用補血生血之藥，以四物、歸脾加減可也。至寡婦尼姑經閉，乃因有懷不遂，法當開鬱而理其經為妥。</p>
<p>大凡婦人經閉，氣不調和，因而血不流轉故也。故調經須以理氣為先，亦有血海虛寒，小腹冷痛者是，宜服大溫經湯。有氣血虛損者，外發潮熱，頭痛昏重，肢體倦怠，五心煩熱，心忡面赤，口燥神焦，腰背酸疼，盜汗出者是也，宜服丹皮散。有氣血凝滯，腹中結塊，腰腿重疼者是也，宜服通經六合湯。或紅花當歸散，以逐其瘀，通其經絡也。亦有胃氣不調者，貌本壯實，飲食漸減者是也。蓋胃氣不調，亦能令人經水不通，當以異功散、逍遙散之類間服。一以消食健脾，使飲食加而元氣復。一以和其氣血，使氣血調而經自行矣。凡婦人女子骨蒸潮熱痰嗽，經水不行，診其脈七八至，視其骨肉消瘦，必死之症，不必用藥。大抵男子與婦人同。</p>
<p><u>四物湯</u></p>
<p>熟地　當歸　白芍　川芎水煎服。</p>
<p><u>歸脾湯</u></p>
<p>人參　白朮（土炒）　棗仁　茯神　黃　（錢半）　當歸　遠志（一錢）　木香　炙草（五分）　龍薑棗煎服。</p>
<p><u>大溫經湯</u></p>
<p>鹿茸　香附　沉香　白朮　陳皮　熟地　當歸　白芍　川芎　吳茱萸　小茴　茯苓　元胡</p>
<p><u>丹皮散</u></p>
<p>丹皮　肉桂　歸尾　元胡　牛膝　赤芍　三棱　莪朮水煎服。</p>
<p><u>通經六合湯</u></p>
<p>熟地　白芍　當歸　川芎　半夏　茯苓　益母　貝母　白朮　知母　橘紅水煎服。</p>
<p><u>紅花當歸散</u></p>
<p>當歸　紅花　桃仁　元胡　川芎　小茴　鬱金水煎服。</p>
<p><u>如聖散</u></p>
<p>　治崩漏不止。</p>
<p>棕灰　薑灰　烏梅（各五錢）</p>
<p>水煎服。</p>
<p><u>逍遙散</u></p>
<p>　解鬱調經。</p>
<p>當歸　白芍　茯苓　白朮　甘草　柴胡　薄荷　丹皮　山梔</p>
<p><u>化氣丸</u></p>
<p>大凡女子，稟性偏執，若欲治病，先戒性急，或因怒氣，或因憂郁，憂郁生痰，怒氣傷血，或為疼痛，或為淋疾。淋有五種，變為五色。若欲無病，經水要正。月應乎天，水應乎地，一月一來，如期潮信。懷孕安胎，坐草理順，經或不準，前後當訊，參前屬熱，落後屬寒。</p>
<p>熱當清涼，寒宜助溫。血熱血虛，或清或補。有孕得疾，先保其胎，次調其疾，宜無後災。</p>
<p>延及產後，疇能救哉。新產之後，醫法有餘，先去惡露，後當補虛。補虛太早，穢不能除，惡心氣喘，瀉利汗珠，此為四惡。扁鵲難醫，症見一惡，病亦難起，小心醫治，免死而已。</p>
<p>十月懷胎，一朝坐草，瓜熟蒂落，慎勿起早。無知婦女，昏愚嫗老，非理催逼，反成煩惱。</p>
<p>叮嚀戒爾，守此正道。孕婦之脈，堅強最妙，細而微濡，命恐難保。新產之脈，沉遲細小，倘遇洪大，其症必倒。敗血衝心，語言亂道，或笑或歌，佛名神號，痰犯心包，同是狀貌。</p>
<p>敗血攻心，始終煩惱，龍齒參歸，十神湯效。痰犯心包，昏而有覺，重加芩連，導痰湯較。或夾疾病，先慎風寒，炙爆油膩，萬勿加餐，病久危困，先喻其難。醫為仁術，細審病端。子懸子冒，子煩子癇，治各有條，不容遺漏。已經懷孕，月水仍來，血有餘也，名曰胎漏。生郁，溫血益氣，削除其積。元氣若虛，且從姑息，虛弱之證，自汗骨蒸，參　胡連，治之量情，神仙妙術，起悉心體之，用無不靈。</p>
<h3>經水先期而來</h3>
<p>室女婦人經事先期而來，其故有二：有熱甚者，有氣血多而傷血海者。血熱者腹多不痛，乃火也，身必熱，其色必紫，其脈必洪，宜涼血地黃湯。虛熱者逍遙散，或補中益氣加黃柏、知母，或四物加陳皮、香附、黃柏、知母，醋糊丸服。如腹中冷痛，禁用寒涼，而用五積散。若瀉者，先理脾胃，咳嗽者，逍遙散加川貝。若氣血多而傷血海者，其腹必痛，以補血行氣為主，亦慎用涼藥，宜歸附丸及霍香正氣散。若婦人四十外，月經或二三日一至者，日久必成淋症。王肯堂曰：月事先期而來，血熱必帶紫色，或先或後，血色淡而稠黏者，痰也，將來而先腰腹痛者，血海空虛而氣不收攝也。或止或來無定期者，因氣不調，故血亦隨之為行止也。或一月兩至，或數日一至，乃氣虛而血熱也。或經年之後，累數日而不能止者，乃血海脫滑，兼有火以動之也。既止之後，隔兩三日而復見微血者，以舊血未盡，為新生之血所催，故不能容而復出也。明理者觀之，即可以施治矣。</p>
<h3>經水過期而來</h3>
<p>凡婦人女子，月事過期而來，其說有三：有血虛者，有血寒者，有濕滯者。血虛腹不痛，身微熱，然亦有腹痛者，乃空痛也。宜服生氣補血之藥，八物東加香附。血寒者，歸附丸。以脈辨之，若浮大而無力，微濡芤細，皆虛也，沉遲弦緊，皆寒也。王肯堂云：經水過期而至，血虛也，其色必淡，治宜補血為主，以四物加香附、艾葉、五味、麥冬之類，倍加當歸、熟地。血淡而稠黏者，以化痰為主，二陳東加香附、生薑、砂仁。如經水將來而腰腹痛者，以行氣為主，宜君以木香，佐以枳殼、香附，同四物煎服。如經水止而復腰腹痛者，以補血為主，君以熟地，佐以歸、芍、參、朮、芎、苓、香附、陳皮、甘草之類。或一月兩至，數日一至者，以補血涼血為主，宜八物東加黃連、山梔、龜板、炒蒲黃之類。或止或來無定期者，以調氣為主，君以香附，佐以陳皮、烏藥、砂仁、艾葉之類，與四物同煎服。經數日不止者，以涼血為主，君以炒黑山梔，佐以炒蒲黃、地榆炭、牡蠣、側柏、香附之類。經正後，過二三四日復見微血者，以四物湯為主，加香附、陳皮、甘草之類煎服。然此不足為病，即不服藥，亦無害也。</p>
<p><u>八物湯</u></p>
<p>熟地　白芍　川芎　當歸　白朮　人參　廣皮　半夏</p>
<p><u>五積散</u></p>
<p>白芷　陳皮　厚朴　當歸　蒼朮　麻黃　川芎　白芍　官桂　桔梗　甘草水煎服。</p>
<p><u>二陳湯</u></p>
<p>半夏　茯苓　陳皮　甘草水煎服。</p>
<p><u>醋煎散</u></p>
<p>赤芍　烏梅　甘草　香附　三棱　莪朮　官桂加醋半杯，水煎。血多加當歸、紅花、青皮。</p>
<p><u>艾煎丸</u></p>
<p>白芍　熟地　艾葉　川芎　當歸　人參　石菖蒲各等分為末，醋糊丸。</p>
<p><u>歸附丸</u></p>
<p>當歸　附子</p>
<p><u>逍遙散</u></p>
<p>（見調經）</p>
<h3>經行腹痛</h3>
<p>婦人經水適行，小腹作痛者，氣血澀滯也。用四烏湯。經行而腹痛者，或屬虛寒，然氣亦能作痛，恐有血瘀氣滯，不必驟補，先用四物加陳皮、香附，次用八物東加香附。如瀉者，先止其瀉，而痛自止矣。有每遇經行，輒頭痛心忡，飲食減少，肌膚不潤澤者，宜加減吳茱萸湯。亦有衝任虛衰，小腹有寒，月水過期，不能受孕者，大溫經湯主之。有經水過而作痛者，血虛有寒也，法當溫經養血，宜四物加桃仁、香附、肉桂。有經行著氣，心腹腰脅疼痛者，血瘀氣滯也，當順氣消瘀，青皮、歸、芍、桃仁、紅花、川芎、烏藥，水煎服。有經水過期而來作痛者，血虛有熱也，宜生血清熱，四物加桃仁、香附、丹皮、甘草、元胡。有經水行後而作痛者，氣血虛而空痛也，法當調養氣血，宜八珍東加薑棗。有經水過多，久不止而腹痛者，乃脾經血虛也，治宜補血健脾，四物加白朮、茯苓、木香、厚朴、香附、陳皮、乾薑、甘草，水煎。</p>
<h3>血風</h3>
<p>血風者，經水逆行，上攻於腦，頭目旋悶，不省人事，甚至滿頭滿面，皆發赤斑者，此因經水適臨，感冒風邪所致。蓋風善行而數變，其勢易上而難下，經水為風邪所激，以故倒流而上行也。血風乃血證中之最急者，宜以四物為主，加山梔、桃仁、紅花、荊芥、防風、天麻、薄荷、白朮之類。其所以用白朮者，以其能去面上游風，及利腰臍間血故也。</p>
<p><u>四烏湯</u></p>
<p>烏藥　當歸　三棱　文術　赤芍　紅花　桃仁　官桂　益母　香附</p>
<p><u>吳茱萸湯</u></p>
<p>吳萸　人參　大棗　老薑</p>
<p><u>八珍湯</u></p>
<p>熟地　白芍　川芎　當歸　人參　白朮　茯苓　甘草</p>
<p><u>八物湯</u></p>
<p>（見經水過期）</p>
<p><u>大溫經湯</u></p>
<p>（見調經）</p>
<p><u>四物湯</u></p>
<p>熟地　白芍　當歸　川芎</p>
<h2>卷二</h2>
<h3>血崩</h3>
<p>崩淋之病，相似而實不同，崩者如土之崩，其勢大下而不禁，乃血熱而兼氣虛，不能收攝也。淋者如水淋漓，艱澀而不通快，乃內鬱熱而氣亦滯也。然崩則純血，淋則有赤白沙石之異，赤者屬血，白者屬氣，沙石者，氣血之尤濁者也。治此病者，惟調其氣血，清其內熱而已。</p>
<p>鄭文康曰：婦人暴崩下血，此因腎水陰虛，不鎮制胞絡相火，故血走而崩也，涼血地黃湯主之。然此症多起於內傷，若小腹不痛，只宜此藥，或八物東加芩連。若痛者，先宜大劑四物湯，歸身、白芍、川芎倍之，加醋製香附。若用補藥，宜補宮東加芩連。又血崩證有二說：瘀血也，空痛也。瘀血者，體必作寒熱；空痛者，不作寒熱也，瘀血則當去，空痛則當補。</p>
<p>亦有血海虛寒，外乘風冷，搏結不散，血氣成塊而得之，宜神仙聚寶丹。又有血氣損而得之者，凝聚成塊，七　八瘕，上則氣逆嘔吐，下則瀉痢五血，宜內炙散。血崩之人，如服煎藥不效者，火也，三黃湯主之，去大黃，加黃柏。如婦人血崩不止，乃衝任虛弱，臟腑虛冷所致也。亦有小腹急痛，兼下赤白帶，宜加減吳萸湯，或艾煎丸。若去血過多，氣血不足，四肢倦怠，宜增損四物湯。蓋婦人血漏血脫，則宜固氣，此古聖之心法也。先補胃氣，以助生發之源，諸甘藥為之先務，益胃升陽湯是也。此藥人皆認以為補氣，殊不知甘能生血，此亦陽生陰長之理也。又人身以穀為寶，藥料須視其食之多寡而輕重之，毋令藥氣勝於穀氣乃妙耳。如腹痛，加烏藥三分，官桂少許。口渴者，加葛根三分。如婦人年老血崩，八物東加芩連。此一時急救之藥也，必先顧其胃氣為妙，如血崩，服煎劑不止，易用散子之藥，如棕灰鍋底墨，炒黑山梔、槐花、側柏、人參、黃　、甘草之類為末，童便送下。若以為丸更妙，或用小薊汁、藕汁調服。經曰：帶下血崩，脈多浮動虛遲者生，實數者重。訣曰：生地合蒲黃，黃芩黃柏涼，人參兼五味，解毒細煎湯，水煮空心服，崩中帶下良。暴者屬血熱，宜養血清火，治宜溫清散。血崩月久屬虛寒，又宜溫補，宜益母湯。其寸口脈弦而大，弦則為減，大則為芤，減則為寒，芤則為虛，寒虛相搏，此名曰革。</p>
<p><u>溫清散</u></p>
<p>歸身　熟地　白芍　黃連　黃芩　川芎　山梔（炒）　黃柏（鹽炒，各一錢）</p>
<p>水煎服。</p>
<p><u>益母湯</u></p>
<p>　涼血補血。</p>
<p>熟地　陳皮　香附　阿膠　益母草　白朮　蒲黃　甘草　黃芩（各一錢）</p>
<p>水煎，空心服。</p>
<p><u>五灰散</u></p>
<p>　涼血止血蓮房灰　黃絹灰　血余　百草霜　棕灰　白芨為末，蜜丸，米飲下。</p>
<p>張三錫曰：崩有五種，青崩如藍色，黃崩如爛瓜，赤崩如絳澤，白崩如涕液，黑崩如瘀血。</p>
<p>崩漏不止，四物加炒白朮、參、　、香附、炒地榆、炒蒲黃、棕灰、升麻、血余、水煎。頭昏項強者，四物東加柴胡、防風。虛冷清瀉者，四物東加官桂、附子、薑、棗，水煎。胃虛嘔吐者，四物加人參、白朮。虛煩不眠者，四物加人參、淡竹葉。發寒熱者，四物加柴胡。</p>
<p>崩中漏下五色者，用赤石脂禹餘糧湯。</p>
<p><u>槐芩散</u></p>
<p>　治崩中不止炒槐米（三兩）　黃芩（二兩）</p>
<p>炒研為末，每服五錢，霹靂酒調服。</p>
<p><u>赤石脂禹餘糧湯</u></p>
<p>赤石脂（　）　禹餘糧（　）　牡蠣（　）　烏賊骨（去甲）　伏龍肝　上肉桂（各等分）</p>
<p>為細末，酒調服。</p>
<p><u>鳧柴散</u></p>
<p>　專治婦女血崩。</p>
<p>地栗每歲用一個，燒灰存性研服，溫酒送下。</p>
<p><u>補宮湯</u></p>
<p>　治血崩，身發寒熱。</p>
<p>熟地　白芍　阿膠　地榆　艾葉　川芎　歸身水煎服。</p>
<p><u>又方</u></p>
<p>（亦名補宮湯）　治崩淋，衝任虛損。</p>
<p>赤石脂　地榆　歸身　艾葉　甘草　石菖蒲　白芍　川芎　蒲黃（炒）　熟地　小薊水煎，沖熱酒半杯服。</p>
<p><u>益胃升陽湯</u></p>
<p>人參　白朮　黃　當歸　陳皮　黃芩　升麻　柴胡　甘草　神麯　薑　棗水煎服。</p>
<p><u>三黃湯</u></p>
<p>黃芩　黃連　黃柏（鹽水炒）</p>
<p><u>百補湯</u></p>
<p>　治血淋。</p>
<p>大熟地　當歸　川芎　白芍　阿膠　新會皮　地榆（炒炭）　水煎服。</p>
<h3>便濁</h3>
<p>婦人便濁，或赤如血，或白如泔，不痛者是，痛則淋矣，屬濕熱，分虛實而治。肥白之婦，脈沉滑，胸膈不利，小便白濁，屬濕痰，宜燥中之濕。如面色不澤，身倦無力者，屬氣虛，宜補氣。黑瘦之婦，脈洪數，五心煩熱，頰赤唇干，小便赤濁，或白，屬相火，宜滋陰。肝脈弦數有力，火盛者，龍膽瀉肝湯。治法分滲清熱，燥濕健脾，滋陰降火，實下固陽。</p>
<p>濁氣下流，為赤白濁。赤者，升、柴、二朮、二陳最妙。白者，黃柏、當歸、知母、白芍。</p>
<p>丹溪謂二術二陳，能使大便潤而小便長。如兩尺脈沉弱，白濁頻數，凝白如油，光彩不定，漩腳澄下，凝如膏糊，古方悉指為陽虛，亦有虛而挾相火者，不可不辨，宜萆　釐清飲，專主陽虛白濁。《內經》曰：中氣不足，小便為之色變，必先補氣升舉之，而後分其臟腑氣血赤白虛實治之。有邪熱者瀉熱，虛者補虛。設使腎氣虛甚，或火熱亢極者，則不宜純用涼藥，必反佐治之。要在權衡輕重而已。赤者，熱傷血，宜滋陰。白者，濕熱傷氣，又宜燥濕。</p>
<p>白濁不止，宜服珍珠粉丸，用之屢驗。氣虛，四君子湯，血虛。四物湯，氣血兩虛，八珍湯下珍珠粉丸。</p>
<p><u>珍珠粉丸</u></p>
<p>樗皮（炒黃）　黃柏（鹽水炒）　青黛　蛤粉　滑石　珍珠等分為末，神麯糊丸。無火者，加炮薑。方用樗皮、黃柏，能燥濕清熱，青黛能解鬱熱，蛤粉鹹寒引下，滑石利竅，珍珠寧神定志。</p>
<p>如上盛下虛，心火上炎，口苦燥渴，五心煩熱，小便赤澀，或下白濁，宜清心蓮子飲。</p>
<p><u>清心蓮子飲</u></p>
<p>石蓮子（即建蓮中擇有黑殼者）　人參　赤苓　麥冬　黃　地骨皮　黃芩　車前子　生甘草白濁經年不愈者，形神衰瘦，心神不安，當作心虛治。珍珠粉丸合定志丸間服。</p>
<p><u>定志丸</u></p>
<p>遠志　石菖蒲（各二兩）　人參　白茯苓（各三兩）</p>
<p>共為末，蜜丸，朱砂為衣，每服七丸，空心米湯下。</p>
<p><u>龍膽瀉肝湯</u></p>
<p>膽草　黃芩　山梔　澤瀉　木通　車前　當歸　生地　柴胡　甘草</p>
<p><u>萆　釐清飲</u></p>
<p>智仁　萆　石菖蒲　烏藥（等分）　茯苓　甘草　飛滑石加鹽少許。</p>
<p><u>釐清飲</u></p>
<p>芡實　茯苓　黃蠟蜜丸，如桐子大，每服百丸，淡鹽湯下。</p>
<p><u>二術二陳湯</u></p>
<p>白朮　蒼朮　廣皮　半夏　茯苓　甘草　升麻　柴胡水煎服。</p>
<h3>白淫</h3>
<p>經曰：思慮無窮，所愿不遂，意淫妄想，入房不能，帶脈不引，則為白淫。夫腎臟以慳用事，志意內治，則精全而澀。若眠思夢想，欲淫不能，則淫　不守，輒隨溲便而下也。尼姑寡婦，最多此症。</p>
<p>白淫責於陽虛，當益火之源，鹿茸、肉蓯蓉、人參之類，治宜內補丸。要在臨症斟酌有火無火而用之，庶無誤矣。</p>
<p><u>內補丸</u></p>
<p>鹿茸　絲子　沙蒺藜　紫菀茸　黃　肉桂　桑螵蛸　肉蓯蓉　附子（制）　茯神　白蒺藜上為末蜜丸，如綠豆大，每服二十丸，食遠酒服。有火者忌用。宜服清心蓮子飲。（見便濁）</p>
<p>婦人之白帶、白淋、白淫、白濁，其形相似，病實不同。有虛、實、寒、濕、郁、火，不可混治。前賢議論，通作濕熱，不無偏僻。細考《內經》，治法不一。白淋者，淋瀝而不止也，多起於郁，大抵虛寒者居多，小腹不痛，亦有去多空痛者，俱用養榮東加香附，補宮湯亦可。若用熱劑，艾煎丸加白芍。痛者，四烏東加白芍、歸身。亦有白淋，久則漸變黃色者，此將成血淋也，艾煎丸、歸附丸皆可服。又有變為沙淋者，溺器中下沉白積一層如沙，小便出時澀痛者是也。白淋、赤淋而無沙者，須分其氣血而治之。白帶者，婦人之常病，俗云十婦九帶，甚者腰痛如折，頭暈眼花，腰間重滯不斷，此是氣虛。治宜內補東加續斷，或養榮湯，再以車前草陰乾　灰，頻頻服之，其效甚捷，屢驗。若五色帶下，紫金丸主之。白淫乃思想無窮，有欲不遂，一時放白，寡婦尼姑，此疾居多，乃鬱火也，治宜開鬱降火，越鞠丸加鬱金、膽草。白濁甚者，膀胱積熱，混濁如膿，不治必生癰，宜服蓮子清心飲。</p>
<p>蓮子清心飲（見白濁）　艾煎丸（見經水過期）　內補丸（見白淫）　四烏湯（見血風）　補宮湯（見血崩）</p>
<p><u>越鞠丸</u></p>
<p>香附　山梔　半夏　神麯　川芎　鬱金　膽草</p>
<p><u>人參養榮湯</u></p>
<p>　治脾肺氣虛，榮血不足。</p>
<p>人參　當歸　熟地　白朮　黃　茯苓　遠志　白芍　五味　廣皮　肉桂　甘草加薑棗，</p>
<h3>淋證</h3>
<p>經曰：白者屬氣，赤者屬血。但有氣血之分，而無寒熱之辨。凡治此者，皆云濕熱。然乎否乎?今之治白淋者，不分寒熱，多用芩連，亦一偏之見耳。婦人之疾，寒多熱少，故用養榮湯治白淋而效，以其有桂也。艾煎丸服一二料而即愈，亦此義也。總在臨證時審白而治之。</p>
<p>至赤淋，則為熱證，不服熱藥，內補艾煎禁用，宜服八味加芩連，而香附尤不可少，此女科之聖藥也。張景岳論崩淋之證甚悉，已載在血崩一條。其云治此病者，惟調其氣血，清其內熱最允。又血淋者，月水三五一至，積數月而止者是也。若腹痛，四烏湯，恐有瘀血，未可止也，去多不痛，善飲食者，八物東加芩連。如飲食少進，用內補湯去參可也。或補中益氣加黃柏。凡治血淋，審其小腹痛與不痛，脾胃之實與不實，如小腹不痛，脾胃實也，可用八物東加芩連。脾胃不實者禁用，宜補宮湯。大抵淋證，先以治脾為主。</p>
<p><u>養榮湯</u></p>
<p>（見白淫）</p>
<p><u>四烏湯</u></p>
<p>（見血風）</p>
<p><u>八物湯</u></p>
<p>（見經水過期）</p>
<p><u>補中益氣湯</u></p>
<p>黃　白朮　人參　陳皮　歸身　升麻　柴胡　甘草</p>
<h3>白帶</h3>
<p>婦人帶下一證，從腰間帶脈而來，故名曰帶。雖有赤白二色，終屬腎虛。其病與淋相似，然淋之所下者多散而薄，必覺腥氣臭穢，帶之所下者多滑，稠黏無腥穢之氣，以此為辨耳。</p>
<p>《保命集》曰：赤者熱入小腸，白者熱入大腸。原其本，皆濕熱結於脈。故津液涌溢，是為赤白帶下，本不病結，緣五經脈虛結熱，屈滯於帶，故臍下痛，陰中綿綿而下也。《內經》云：任脈為病，男子內結七疝，女子帶下　瘕。王注云：任脈自胞上過，帶脈貫於臍上，故男子內結七疝，女子帶下崩中。帶脈起於季脅、章門，似束帶狀，今濕熱冤結不散，故為病也。經曰：脾傳於腎，名曰疝瘕。小腸冤結而痛出白，名曰蠱，所以為帶下冤結也。冤、屈也，屈滯而病熱不散。先以十棗湯下之，後服苦練丸，再以大元胡索散調之。熱去濕除，病自愈矣。趙仁安問用升提之法，更以二陳加白朮、蒼朮，健脾燥濕，亦是一法。論婦人漏下赤白，日去血數升，其脈急疾者死，遲者生。如赤白帶不止，脈小虛滑者生，大緊實數者死。</p>
<p>羅先生所用十棗湯、神佑丸、玉燭散之類，虛者不可峻攻，實者亦當酌用。血虛，加減四物，氣虛，參、朮陳皮補之，甚者固腸丸。相火動者，加黃柏，滑者，加龍骨、赤石脂，滯者，加葵花，性燥者，加黃連，冬月少加桂附，惟在臨證時隨機應變。丹溪治赤白帶下，與夢遺同法。肥人有帶，多是濕痰，用海石二陳，加南星、黃柏、青黛、川芎。瘦人帶下，俱是鬱熱，宜香附、砂仁、黃柏、青黛。如結痰白帶，以小胃丹，半飢半飽時，津液下數丸，候鬱積行，即服補藥調理。</p>
<p><u>苦楝丸</u></p>
<p>苦楝子（打碎酒浸）　茴香（炒）　當歸等分為末，酒糊丸，每服三十丸，空心酒下。如腰痛，四物羌活防風湯下。</p>
<p><u>十棗湯</u></p>
<p>芫花（炒黑）　甘遂　大戟（各等分）</p>
<p>加大棗十枚。</p>
<p><u>小胃丹</u></p>
<p>芫花（醋拌一宿，瓦器炒黑，不可焦）　甘遂（水浸半月，煮晒乾）　製大黃（各一兩半）　大戟（水煮一時水洗晒乾，五錢）　黃柏（炒，三兩）</p>
<p>共為末，白朮膏丸，如菔子大，臨臥時津液吞下。</p>
<p><u>神佑丸</u></p>
<p>甘遂　芫花　大戟（各一兩，醋炒）　大黃　白丑　青皮　陳皮　木香　檳榔（各五錢）　輕粉（一錢）</p>
<p>水法丸。</p>
<p><u>血臌</u></p>
<p>婦人血臌之證，雖有因於氣食而成者，然成於血者居多焉。若成於氣食，腹雖脹而經不閉，成於血者，其經必閉也。婦人血恆有餘，故每月見其血而不以為病，若閉而不通，則日積充滿。其始發之時，小腹先脹，久則上連中脘，緊脹如鼓，青筋綻露，而血臌之證成矣。其有因產後惡血不下，逆而上升，滲入肌膚，充滿於中宮，甚至上騰於面，而成充色者，是必死之證也。</p>
<h3>血癖</h3>
<p>又有癖塊一證，雖因痰與血食三者而成。然成於血者居多，因痰與食而成塊者，雖成而不礙其經水。成於血者，亦有經雖來不時而斷也，此必經水既來之候，尚有舊血未盡。或偶感於寒氣，或觸於怒氣，留滯於兩脅小腹之間，則成血癖也。有經水月久不行，腹脅有塊作痛，是經血作　瘕，法當調經止痛，桃仁、厚朴、當歸、紅花、香附、元胡、肉桂、丹皮、乳香、木香、牛膝、小茴、砂仁之類。有經行腹痛，麻痹頭疼寒熱，乃觸經感冒也，宜加減五積散。若經行時遍身疼痛，手足麻痹，寒熱目眩，照前方去乾薑，加羌活、獨活、白芷、當歸、官桂、麻黃、川芎、白芍、陳皮、蒼朮之類。又有經水不調，小腹時痛，赤白帶下，乃子宮虛寒，治宜艾附暖宮丸。亦有行時氣血虛弱，血海寒冷，經水不調，心腹疼痛，帶下如魚腦，或如泔，錯雜不分，信期淋漓不止，面黃肌瘦，四肢無力，頭暈眼花者，宜補經湯。</p>
<p><u>艾附暖宮丸</u></p>
<p>艾葉　香附（四制）　元胡　熟地　甘草共為末，醋糊丸，如桐子大，每服八十丸，米湯下。</p>
<p><u>補經湯</u></p>
<p>人參　白朮　川芎　香附　當歸　熟地　元胡　肉桂　吳萸　砂仁　茯神　沉香　阿膠　黃小茴　陳皮　白芍水煎服。</p>
<h3>經準不孕</h3>
<p>婦人月信準而不受胎者，其故有三：有因痰閉子宮者，有因氣食生冷者，有因男子陽傷易泄者。如痰閉子宮者，其婦必肥白，經來腹不痛，宜導痰湯，或人參半夏丸之類，或二陳合四物湯。如氣食生冷所致者，其腹多痛，宜溫之，千金吉祥丸之類，如咳嗽，又不宜服，以四物加陳皮、香附、山楂。如氣作瀉，用枳實丸。如男子精寒易泄，不能受孕者，與婦無干，只宜男子服藥。或謂經水正而子宮寒者，萬無是理也。蓋子宮若寒，經水必過期矣。或又云：子宮寒者，因產時陰戶著寒所致，第產後陰戶著寒，產婦即便不語，豈能語者，尚謂著寒乎。</p>
<p>薛古蒙曰：婦人經行不正，每不受胎，然參前而受胎者亦有之，其血熱故也。女科書云：先期為血熱，後期為血氣，第有參前落後互兼者。何也?大抵婦人性執，多惱著氣，則氣不調矣。夫氣為血之母，氣亂則經期亦亂矣。故調經以理氣為先，宜以歸附丸、四物丸之類。又有衝任寒損，胎孕不成，或成而後多墮者，詵詵丸主之。</p>
<p><u>詵詵丸</u></p>
<p>乾薑　白朮　丹皮　元胡　肉桂　澤蘭　熟地　川芎　白芍　當歸　石斛上為末，醋糊丸，煮酒送下。</p>
<p><u>異痰湯</u></p>
<p>半夏　南星　橘紅　枳實　茯苓　人參　菖蒲　竹茹　甘草加薑煎。</p>
<p><u>《千金》吉祥丸</u></p>
<p>天麻（煨，一兩）　川芎　肉桂　丹皮　熟地　白朮　柳絮　五味　茯苓　菟絲子　覆盆　枳實桃花片（各一兩）</p>
<p>上為末蜜丸，如豆大，每服五丸，空心，煮酒送下。</p>
<h3>熱入血室</h3>
<p>婦人感冒，發熱惡寒，經水適來，得之七八日，熱除脈遲，身涼，胸脅滿，譫語，此為熱入血室。當刺期門，隨其實而瀉之。</p>
<p>凡發熱惡寒七八日，熱除脈遲身涼，當自愈矣。今反胸脅滿如結胸狀，譫語，此因經水適來，血海正開，熱邪乘虛入於厥陰藏血之室。肝主魂，熱邪內擾神明，是以胸滿譫語，如見鬼狀，故刺期門厥陰所注之　，瀉其熱以外泄。</p>
<p>婦人感冒七八日，續發寒熱，發作有時，經水適斷者，此為熱入血室。其血必結，故使如瘧狀，或晝明夜甚，譫語如見鬼狀，無犯胃氣，及上中二焦，必自愈。</p>
<p>上條言脈遲身涼，但刺期門，此條言七八日，續發寒熱，發作有時，經水適斷，血室未閉，其血必結，忌用苦寒凝滯之藥。今有大壩呂天祥媳，經水適斷，醫以大劑黃連投之，少腹結塊而殞。</p>
<p>婦人熱入血室，但頭汗出，仲景以小柴胡湯和之，家秘倍加柴芩，重加歸芍，其功最專，再加丹皮、地骨皮，則身熱易退。</p>
<p>熱入血室發熱，晝靜夜甚者，亦有虛實不同。血虛發熱者，皆因營血不足，如陰虛內熱之證，脈必細數，宜補血涼血。血熱發熱，邪熱入於血分，脈必數大，不必補血，歸芍柴胡湯或導赤各半湯之類。</p>
<p><u>導赤各半湯</u></p>
<p>　病後心下不硬，腹不滿，二便如常，身無熱，神昏不語，或獨話，目赤口乾，不飲水，與食則咽，不與不思，形如醉人。</p>
<p>黃連　黃芩　犀角　知母　滑石　麥冬　人參　茯神　甘草加燈心薑棗煎。</p>
<h2>卷三</h2>
<h3>廣嗣論</h3>
<p>夫陰陽交媾，當經盡之後，無有不成胎者。惟男氣不足，女血虛寒，故二氣不交，徒施不聚。世之無子者，曾不問自己臟腑之虧，但以澀清壯陽之劑，誤為生子之良方，傷天地之和，即或有孕者，無非熱藥偶成，因貽毒於子女，故雖得而不實也。醫之上工，因人無子，著論立方，男以補腎為要，女以調經為先，而又參之補氣行氣之說。究其盈虧，審而治之，夫然後一舉可孕，天下之男無不父，女無不母矣。余考之上古男子三十而娶，女子二十而嫁，故所生子多壽。今人未滿十六歲而御女，女子未滿十四歲而嫁婿，陰氣早泄，未全而傷，未實而動，所以今人不如古人壽。設或用藥，不可混治，必察實男子所虧，女人經候，或有崩漏帶下，必難受孕，男子不育，必有陽脫痿弱，精冷而清淡，或陽痿不射，故女以調經為先，男以補腎為主也。服藥之後，又宜清心寡欲，使我之本原先壯，然後識日之奇偶，施之而不孕者，未之有也。</p>
<p>褚澄氏曰：男女交合，陰血先至，陽精後沖而成男，陽精先泄，陰血後沖而成女，此一說也。東垣云：經水才斷一二日，血海始淨，交合者成男，四五日後，血脈已旺，交合者成女。</p>
<p>此又一說也。顧或有經始斷而交合生女，經久斷而交合生男者，亦有三四五日以交合無孕，八九日以後，交合有孕者，獨何歟?《俞子本選‧廣嗣要略》云：實陽能入虛陰，實陰不能受虛陽，即東垣之見也。又謂陽微不能射陰，弱陰不能攝陽，信斯言也。世有　羸之夫，怯弱之婦，屢屢受胎，雖欲止而不止者。亦有壯年精力過人，乃艱於育嗣者，獨何歟?丹溪論治婦人，以經水為主，然富貴之家，侍外家已多，其中寧無月水當期者乎?已經前夫頻頻生育，娶之以圖其易者，顧亦不能得胎，更遣與他人，轉盼生男矣，豈不能受孕於此，而能受孕於彼乎?愚以為父母之生子，如天之生物，《易》曰：坤道其順乎，承天而時行，夫知地之生物，不過順承乎天，則知母之生子，亦不過順承乎父而已。知母之順承乎父，則種子者當以男子為主，男子為主，而交媾之時，又以百脈齊到為善。交媾而百脈齊到，雖老弱易泄，亦可以成胎。若交媾而百脈參差，雖少壯康寧難泄，亦不能成胎，婦人所構之血，固由於百脈合聚，較之男子之精，不能無輕重之分也。若男女之辨，又不以精血先後為拘，不以月經盡幾日為拘，不以夜半前後交媾為拘，只以男女精血，各由百脈齊到者別勝負耳。是故精之百脈齊到，有以勝乎血，則成男矣；血之百脈齊到，有以勝乎精，則成女矣。至有產而不育者，有育而不能壽者，有壽而黃　無疆者，則亦以精之堅脆，分為修短耳。世人不察精之堅脆，而定於稟受之初，此論其常也。有少年斫喪而夭者，此論其變也。乃以不育轉付之兒，以壽夭專諉之數，不甚謬乎!宋遂真先生曰：男女交合，有丟泄前後之分。男曰泄，女曰丟。蓋婦人月事已淨，其樂欲之時，　之候，氣蒸而熱，昏而若悶，有不可明言之狀，此的候也。交接之候，意合情濃，相持不舍，則百脈齊到而成胎矣。若男情已淡，女意未休，則男先泄而成女，如女先丟，而男後泄者，則成男矣。則知男女各有精，非獨男也。《易》曰：男女媾精，萬物化生，而交合之後，即以宗筋驗其有血無血立見矣，則知男女各有精也明矣。蓋月水初淨，新血始生，藏而不露，故交合之後，毫無血痕也。經云：陰精所奉其人壽，陽精所降其人夭。信斯言也。苟能清心寡欲，待時而動，亦何所求而不得子歟!巢氏論婦人妊孕，一月懷胎似露珠，名曰胎胚，足厥陰脈養之。二月大如桃花痕，名曰始膏，足少陽脈養之。三月始分男共女，名曰始胎，手心經脈養之。四月形像俱分明，始受水精，以行血脈，手少陽脈養之。五月五臟俱生足，始受火精以成其氣，足太陰脈養之。六月方才六腑成，始受金精以成其筋，足陽明經養之。七月發生通關竅，始受木精以成其骨，手太陰脈養之。八月動手游其魂，始受土精以成其膚革，手陽明經養之。十月受孕足，方生臟腑關節，人神俱備矣。</p>
<p><u>女科地黃丸</u></p>
<p>　治婦人經水不調。</p>
<p>熟地（四兩）　山萸（二兩）　山藥（二兩）　丹皮（兩半）　茯苓（兩半）　艾葉（五錢，醋炒）　香附（三兩，童便制炒）　阿膠（一兩）</p>
<p>共為末，蜜丸滾湯下。</p>
<p><u>正元丹</u></p>
<p>　調經種子。</p>
<p>香附（一斤，用蘄艾三兩，先以醋同浸一宿，分開，制醋、童便、鹽山梔湯各制四兩）　阿膠（一兩，蛤粉炒）　枳殼（兩半，炒半生半）　生地　熟地　歸身　白芍　川芎　茯苓（各四兩）</p>
<p>琥珀（二兩）</p>
<p>共為末，醋糊丸，每日早晨，空心淡鹽湯送下。</p>
<p><u>千金種子丸</u></p>
<p>　令人多子，並治虛損夢遺。</p>
<p>沙蒺藜（四兩）　白蓮須（四兩）　萸肉（三兩）　芡實（四兩）　覆盆（二兩）　龍骨（五錢，火　）</p>
<p>共為末，蜜丸，空心淡鹽湯下，忌房事一月。</p>
<p><u>聚精丸</u></p>
<p>魚膠（一斤，蛤粉炒成珠）　沙蒺藜（半斤，馬乳浸二宿，如無馬乳以牛乳代之，蒸一炷香）</p>
<p>上為末，蜜丸，如桐子大，每服八十丸。空心溫酒下。</p>
<p><u>五子衍宗丸</u></p>
<p>　添精補髓。</p>
<p>枸杞子　菟絲子（各八兩）　五味子（一兩）　覆盆子（四兩，酒洗）　車前子（一兩）</p>
<p>上為末，蜜丸，空心淡鹽湯送下。</p>
<p><u>壯陽丸</u></p>
<p>　治陽痿氣餒不振，老年無子，此藥允宜。</p>
<p>肉蓯蓉　仙茅　蛇床子　山藥　五味子　補骨脂　茯神　紫霄花　杜仲　韭菜子　雄雞肝鱉肝　海狗腎（如無海狗腎以黃狗腎代之）</p>
<p>上藥共為末，先將雞肝、鱉肝用鹽酒椒蒸熟，搗爛，和前藥晒乾，再將前末藥磨細，用酒拌山藥末，醋調糊為丸，空心淡鹽湯下百丸。如陽痿精冷，加肉桂、附子、石燕各一兩。</p>
<p><u>金鎖思仙丹</u></p>
<p>　治男子欲勞過度，精神不繼。</p>
<p>蓮蕊　蓮子　芡實（各等分）　茯神（三兩）</p>
<p>共為末，用金櫻子一斤，去毛煎膏為丸，每服三十丸，空心淡鹽湯送下。服過一月後，即不走泄，遇種子期，用車前子湯送下。</p>
<h3>胎前門</h3>
<h4>受妊脈法</h4>
<p>兩尺脈微而帶數，兩寸浮大兩關滑；身中無熱脈亦洪，此是婦女胎脈法。</p>
<h4>男女脈法</h4>
<p>左手滑大而疾男，右手滑大而疾女；更參乳核孰先生，右女左男信無差。</p>
<h4>雙胎脈法</h4>
<p>雙胎脈法問如何，兩手俱洪斷不誣；欲識是男並是女，縱橫詳見叔和歌。</p>
<h4>死胎脈法</h4>
<p>脈來沉細腹腰疼，胎伏多寒冷是冰；再看舌色青紋起，胎死何須問鬼神。</p>
<h4>鬼胎脈法</h4>
<p>脈來亂點如風雨，忽去移時又復來；此是夜叉人不識，即時診斷勿疑猜。</p>
<h3>逐月胎形論</h3>
<p>初月胎形似珠露，未入宮羅在昆戶；猶如秉燭在風前，風急此時難翼庇。</p>
<p>初月胎形，如草上珠露，未有宮羅也。在昆戶之所，未入腹內也。其形欲聚欲散，未得堅強也。如月信報之，當時頭暈惡心，不喜飲食，六脈浮緊者是也。多有畏羞隱諱，而醫者不識，作歇經者亦有之，宜服安胎和氣飲。或病後受胎，或稟氣虛，服罩胎散。</p>
<p><u>安胎和氣飲</u></p>
<p>白芍　木香　益智仁　砂仁　香附　紫蘇　甘草加蔥，水煎服。</p>
<p><u>罩胎散</u></p>
<p>當歸　川芎　白芍　砂仁　甘草　枳殼二月胎形北極中，如花初綻蕊珠紅；分枝未入宮羅內，氣受陰陽血脈同。</p>
<p>二月胎形，受血近陰，在母北極之中，陰戶內六寸是也。其胎入腹，未有衣裹，或負重觸傷胎氣，必致頭暈目眩，惡心嘔吐，不思飲食，宜服保胎和氣飲。</p>
<p>藿香　厚朴　廣皮　枳殼　砂仁　黃芩　桔梗　蒼朮　小茴　紫蘇三月胎形似血英，有宮血室未　；母憎飲食諸般愛，苦辣酸鹹並納成。</p>
<p>三月胎形，與二月相等，不問虛弱，胎氣不和，惡心嘔吐，兼秋風時氣，寒熱頭疼，悉照前安胎和氣飲加減。如寒熱不退，加柴胡、黃芩。咳嗽加杏仁。喘急加沉香。</p>
<p>四月胎形入宮室，在母臍胯內相過；兔獐熱物諸般忌，免兒唇缺及瘋麻。</p>
<p>四月胎形，入宮羅之室，河車衣裹，漸至丹田。忌食一切毒物。如無鱗魚鱉之類，以免貽毒小兒。如身體疲倦，氣急發熱，飲食無味，嗜臥頭暈，四肢酸軟，宜服活胎和氣飲。</p>
<p>陳皮　香附　砂仁　小茴　蘇葉　厚朴　蒼朮　枳殼　甘草五月胎形男女分，四肢胞穩不須憂；男酸女淡思餐味，此定陰陽造化云。</p>
<p>五月胎形，男女已定，令胞母前行，使人後喚之，左回頭是男，右回頭是女。男思酸，女思淡。已入宮室之內，其胎安穩。胎母喜嗜臥，飲食無味，肚腹脹悶，宜服瘦胎飲。</p>
<p>當歸　益母草　砂仁　益智仁　枳殼　香附　白芍水煎服。</p>
<p>六月胎形在腹游，左手男胎似線抽；女魂右手輕搖動，卻在臍中漸漸浮。</p>
<p>六月胎形，男動於左，女動於右，在母臍中，漸漸浮動。若胎母虛弱，用瘦胎飲，使胎氣調和，易於產育。</p>
<p>七月胎形身覺邪，男將左手動拿拿；女能右手時時動，行步艱難母嘆嗟。</p>
<p>七月胎形，男向左脅動，女向右脅動，胎重如石，行步艱難，脾胃虛弱，氣急上衝胸臆，以致腹滿喘咳，卒然頭暈，勿以中風治之，此乃胎氣熱邪不安，否則令兒衝心，名曰子懸，宜服知母安胎飲。</p>
<p>知母　蘇葉　黃芩　香附　枳殼　滑石　甘草　益母草水煎服。</p>
<p>八月胎形具備身，毛髮生長定精神；窮思飲食吞難下，困弱憂愁眈悶因。</p>
<p>八月胎形，毛髮俱生胎母心悶煩躁，味美不甘，胎氣因弱，以致脾胃不和，宜服和氣平胃散。</p>
<p><u>和氣平胃散</u></p>
<p>　治胎氣不和，熱毒瀉痢。</p>
<p>蒼朮　厚朴　陳皮　升麻　柴胡　白芍　地榆　肉果　澤瀉水煎服。</p>
<p>九月胎形重若山，七情開竅一般般；每夜一升三合血，待時生育暫時難。</p>
<p>九月胎形，眼有光，鼻有氣，耳聞強，口知味，身舒縮，人道俱全，出世將轉身大動，胎母左右脅知覺，宜服保胎如聖散。</p>
<p><u>保胎如聖散</u></p>
<p>　治產忽然腹痛，先行其水，嬰兒降下，忽誤吞熱物傷胎者。</p>
<p>當歸　紅花　益智　白芍　益母草　甘草如兒不下，取鯉魚一尾，同藥再煎，入醋一杯，服烏金丸。</p>
<p><u>烏金丸</u></p>
<p>阿膠（四兩）　艾葉（二兩）　穀芽（二兩）　麥芽（二兩）　蛇殼（一條）　五味（一兩）</p>
<p>上為末，醋糊丸，如彈子大，每服一丸。</p>
<p>十月胎形已完足，四肢罅縫骨精開；坐產即宜加謹慎，莫教兒下客氣來。</p>
<p>十月胎形完足，中肢罅縫俱開，至期產下，莫令久臥地下，莫被賊風吹犯。急令包裹，盈月之後，始得平安，宜服活水無憂散。因兒未下，恐穩婆動手。</p>
<p><u>活水無憂散</u></p>
<p>急性子　當歸　益母　紫蘇　艾葉　秦艽　陳皮　肉桂　枳殼　白芍　生地　鯉魚（一條）</p>
<p>水煎，加醋一杯，服烏金丸。如兒死腹中不下，急取無根水再煎服，此急救之法。</p>
<h3>妊娠調護法</h3>
<p>《保元論》云：婦人妊娠，常令樂意，運動氣血，安養胎元，早當絕欲，節調飲食，內遠七情，外避六淫。性宜靜而不宜躁，體宜動而不宜逸。味宜涼而不宜熱，食宜暖而不宜寒。毋久立久坐，毋久行久臥。又宜卻除一切肥甘，以及煎炒炙爆，油膩辛辣，水果魚鱉，兔鴿牛馬之肉，以及鰻魚鰍鱔無鱗等魚，一切避忌，便無胎漏下血、子腫子癇子懸等症，以及橫生逆產、胎傷腹中之患，生後亦無胎熱胎寒、胎肥胎怯，以及胎驚胎毒之證遺累小兒。前賢胎教云：婦人妊娠，寢不側，坐不偏，立不蹕，不食異味，目不視惡色，耳不聽淫聲，口不出惡言。非義之物不取，非理之財不收，宜聽誦讀詩書，講論致知格物道理，則生子形容端正，才器過人。嘗見稟性溫良之婦，有妊而少嗜欲，生子少病而痘瘡亦稀，此其驗也。《指掌訣》云：胎前眾集要須知，惡險當從痰火推，胎上湊心胸脹滿，子懸芩朮炒山梔。妊娠下血名胎漏，血熱而成或氣虛，胎動芎歸與膠艾，安胎順氣勿教遲。子淋須覓安榮散，胎水還當用鯉魚，腫滿遍身如水氣，但煎防己自寬舒。足趺浮腫身無恙，皺腳安胎大腹皮，五月煩躁甚，子煩知母麥冬醫。妊娠腹疼分虛實，寒熱溫清可辨之。子癇急服羚羊角，兒暈荊芥奇。瀉痢蒼砂加二白，熱須芩朮信為宜。風寒感冒參蘇飲，不解黃龍湯勿疑。胸滿加枳殼，熱而無汗葛根驅。裡熱甚時罩胎散，熱極譫語五苓施。脈遲四逆理中治，熱泄柴芩半夏除。汗吐下溫須仔細，安胎為主勿差池。清脾療瘧須除半，四獸驅邪更補脾。痢疾香連丸有驗，胃風主痢補其虛。傷風咳嗽芎蘇飲，半貝杏芩桑白皮，秘結不通麻子飲，小水不利麥冬葵。怔忡恍忽心驚悸，氣悶喧呼大聖祛。心痛火龍湯可定，腰疼痛氣更難知。達生散可將胎束，欲服須當九月時。又云：孕婦之脈，陰搏於下，陽別於上，血氣調和，有子之象。</p>
<p>手足少陰，其脈動甚，尺按不絕，此為有孕。少陰屬心，心主血脈，腎為胞門，脈應於尺，或尺脈微，關滑尺數，往來流利，脈微帶數　，身中無熱，脈帶洪滑，當詰月事，仔細參酌。</p>
<p>婦人似病而無邪脈，是孕非病，所以不沉實在左，浮大在右，右女左男，可以預血耗，立見傾大凡婦人妊娠，貴乎衝任脈旺，元氣充足，飲食如常，身體壯健，色澤不衰，而無雜病相侵，則十月滿足，分娩定然無虞。若氣血不充，衝任之脈虛弱，經必愆期，而不受孕。即使得孕，胞門子戶虛寒，受胎終歸不實。李南宮曰：胎前諸病，惟當順氣安胎。若外感四時之氣，或內傷七情，以成他病，治法與男子無異，當以各證類求之。動胎之藥，切不可用。</p>
<p>《聖濟總錄》云：安胎有二法，有因母病以致胎動者，但治其母，胎自安。若胎氣不固，觸動以致母病者，宜安胎而母自愈矣。</p>
<p>先師天錫陳先生曰：妊娠之婦，身體康健，飲食如常，可保平安，勿生顧慮，勿妄服藥，勿過飲酒，勿舉重登高，勿多睡臥，閑則步於庭，勿犯房事，擾亂子宮不安，難免產子艱難，且生後多子胎疾，慎之慎之。</p>
<p>凡孕婦墮胎有二故：一為跌仆負重軋傷，一為氣血不足，蓋腰膝系胎之處，如瓜果之蒂，花卉之根，不得露不長，受熱亦易傷。故一月厥陰用事，臟腑不能輸精於肝，而致疏泄者有之。二月少陽用事，臟腑不能輸精於膽，而致萎瘁者有之。三月手心經脈用事，臟腑不能輸精於心，而致朽腐者有之。四五七月墮者，莫不皆然。是故安胎之法，當視其虛實寒熱而藥之，則無不安矣。</p>
<h3>小產</h3>
<p>小產者，言非大產，在四五六月之間而墮者，所謂半產是也。若二三月，人像未全，還是血塊。苟有所傷而墮者，非曰墮胎，三者皆屬根蒂不固，衝任經虛，須分是火是寒治之。有火者清之，白朮、黃芩之屬，而益以養血也。寒者溫之，膠艾、桂附之屬，而加六味。然桂附辛熱，尚宜酌用，切勿輕投，實者清之，虛者補之，尤當顧脾胃以生新血。蓋胃為水穀之海，脾為萬物之母，人身之有脾胃，猶萬物之有土也。有土乃生金，金生水，水生木，木生火，故培土而五行有相生之妙，扶脾胃而五臟有遞受之益，在孕婦永保無虞，何有墮胎小產之虞哉?宋遂真先生曰：前哲云，初受胎而即墮者，肝血虛也。胎以血為本，肝臟虛則生發之機困，如春初多冷，草木不芽可知也。治宜益肝血，胎斯固矣。二月墮者亦然。實者反是。三月墮者，心血虛也。胎以血為根本，心臟虛則長茂之氣消。如夏初天氣暴寒，而花果不實可知也。治宜養心補血，胎斯固矣。四月墮者亦然。五六七八月而墮者，責在氣血之並虛也。蓋氣為血之衛，血為氣之配，氣不能衛血則血無所統，血不能配氣則氣無所歸。兒在母腹中，所賴母之氣血充和耳，苟有所傷，安所賴乎?是以調氣先必養血，蓋血尤須補氣，養血而血不生，補血之源，腎水是也。補氣而氣不足，補氣之根，命門火也。故五六月間而有墮胎者，六味去丹皮加人參、麥冬、杜仲、續斷為要藥。寒痛者加附子少許，百無一失也。有胎亂動而不休者，胎熱也，不可用燥熱之劑。此外胎動者，或因衝任經虛，或因七情六欲，或因過服熱藥，須各審清病源而治之，如四五月間，心中昏悶，四肢沉重，不能移動，惡聞穀食，喜吞酸味，胎動不安，安胎飲主之，或紫蘇飲加半夏、茯苓、枳殼。</p>
<h3>安胎</h3>
<p><u>安胎飲</u></p>
<p>　治孕婦三四月，胎動不安。</p>
<p>熟地　當歸　茯苓　甘草　川芎　白朮　半夏　阿膠　地榆　白芍加薑三片，水煎服。</p>
<p><u>紫蘇飲</u></p>
<p>紫蘇　陳皮　當歸　白芍　川芎　人參　甘草　腹皮</p>
<p><u>安胎和氣飲</u></p>
<p>（又名達生散）</p>
<p>白朮　陳皮　白芍　木香　陳倉米薑水煎。</p>
<p><u>膠艾湯</u></p>
<p>　治半產下血。</p>
<p>阿膠　川芎　當歸　艾葉　甘草　白芍　熟地　炮薑</p>
<p><u>安榮散</u></p>
<p>　治子淋。</p>
<p>人參　當歸　通草　滑石　麥冬（各二錢）　燈草（五錢）　甘草（五分）</p>
<p>為末，每服二錢。</p>
<p><u>麻子潤腸湯</u></p>
<p>　治風結血結。</p>
<p>麻子　當歸　桃仁　羌活　大黃</p>
<p><u>香連丸</u></p>
<p>黃連（吳萸湯拌炒）　木香（晒乾，研）</p>
<p>末之，醋糊為丸。</p>
<p><u>五苓散</u></p>
<p>豬苓　茯苓　白朮　澤瀉　肉桂加燈心煎。</p>
<p><u>四逆湯</u></p>
<p>附子　乾薑　甘草腹痛加白芍。</p>
<p><u>理中湯</u></p>
<p>白朮　人參　乾薑　甘草</p>
<p><u>鯉魚湯</u></p>
<p>當歸（錢半）　白朮　白芍（各一錢）　茯苓（錢半）　赤小豆（八分）　木通（八分）　車前（八分）</p>
<p>鯉魚（一條）</p>
<p><u>七情湯</u></p>
<p>肉桂　陳皮　人參　甘草</p>
<p><u>二白丸</u></p>
<p>　治淋帶。</p>
<p>鍛石（一兩）　茯苓（二兩）</p>
<p>為末，用蕎麥面雞子清，調糊為丸，每服三十丸，空心，白滾湯下。</p>
<p><u>化氣湯</u></p>
<p>砂仁　香附　廣皮　蘇梗　川芎　枳殼</p>
<p><u>胃風湯</u></p>
<p>人參　白朮　茯苓　當歸　川芎　白芍　肉桂加粟米百粒。</p>
<p><u>清脾飲</u></p>
<p>青皮　厚朴　柴胡　黃芩　半夏　茯苓　白朮　甘草　草果</p>
<p><u>羚羊角散</u></p>
<p>　治子癇風痙。</p>
<p>羚羊角　獨活　棗仁　茄皮　米仁　防風　當歸　杏仁　茯苓　木香　甘草　薑</p>
<p><u>四獸飲</u></p>
<p>半夏　人參　茯苓　白朮　橘紅　烏梅　草果　甘草　生薑</p>
<p><u>火龍湯</u></p>
<p>　治孕婦心痛，因寒邪犯胃。</p>
<p>蘄艾（鹽水炒，五錢）　茴香（五錢，炒）　川楝子（五錢，炒）</p>
<p>上藥為二劑，水煎服。</p>
<p><u>黃龍湯</u></p>
<p>　治孕婦新產傷寒。</p>
<p>柴胡（二錢）　黃芩（一錢半）　人參（一錢）　甘草（五分）</p>
<p>薑三片，水煎服。</p>
<p><u>防己飲</u></p>
<p>　治足脛腫痛。</p>
<p>防己　木通　檳榔　生地　川芎　白朮　蒼朮　黃柏　犀角　甘草</p>
<p><u>半夏茯苓湯</u></p>
<p>　治惡阻嘔吐心煩，惡聞食氣，多臥。</p>
<p>半夏（一兩二錢）　赤苓　熟地　陳皮　白芍　人參　川芎　桔梗　旋覆　甘草</p>
<p>《千金方》無旋覆花，有細辛、蘇葉。上藥共為粗末，薑七片，水煎服。</p>
<p>驗胎方　經水不行，疑似未明者。</p>
<p>川芎為末，每服一錢試之，艾葉湯調服。覺腹中微痛，則有孕矣。</p>
<p>《大全方》論半夏動胎不用，仲景用之，取其辛以散結氣，瀉逆氣，故惡阻用之，而非專為痰設也。婁全善治妊娠惡阻，累用半夏，未嘗動胎，而鄭氏專門女科亦嘗用之。經云有故無殞者是也，不必拘泥。</p>
<h2>卷四</h2>
<h3>妊娠中風</h3>
<p>【妊娠中風歌】中風惡候告君知，眼合肝兮手撒脾，心絕口開肺鼻鼾，腎家將絕定遺尿。</p>
<p>妊娠手足搐搦，忽然不省人事，角弓反張，狀如中風者，子癇也。宜服砂仁湯。倘胎前無故卒然悶到在地，或有不識，誤以中風斷之，謬矣，此兒暈也，名曰子懸。須以安胎調氣治之，紫蘇飲加砂仁、川貝、茯神。雖至將產，仍服紫蘇飲為妙。有胎前發喘，乃胎不安而冒風也，用帶須蔥白二十莖，煎湯服之，即愈。蓋蔥能發散，而又安胎也。若因傷食而喘者，紫蘇飲沖入童便，加砂仁煎服，舍此無別藥也。若胎氣不和，湊上心腹，以致胸膈飽悶，喘急疼痛，此子懸也，宜紫蘇飲。此藥有安胎止墮之功。如胎前偏正頭風，川芎調茶服主之。妊娠感冒四時風寒，霍亂吐瀉者，藿香正氣散主之。凡胎前傷暑，與霍亂治法同。如胎前瘧疾，惟養榮湯一方。孕婦發呃氣逆者，用紫蘇飲。亦有胎死腹中，以致氣侵上而呃者，下死胎而呃自止矣，不可不知。孕婦傷食，以紫蘇飲加神麯、楂肉、砂仁、麥芽。如兼吐瀉，用養胃湯。有孕無故悲泣不止，如有鬼物以憑之，此名臟躁，非大棗湯不愈。有妊娠忽然耳聾昏聵者，氣血不足也，用十全大補湯。目赤腫者，四物東加黃連。遍身拘急，痛無定處，夜不得臥，眼花昏黑者，胎氣使然，宜服紫蘇飲。</p>
<h4>妊娠傷寒</h4>
<p>【妊娠傷寒歌】傷寒頭痛連百節，氣急衝心溺如血，身熱發點紫黑青，壯熱不止致胎滅。嘔惡不止與心煩，腰背項強腦痛裂，六七日來燒腹中，小便不通大便結。妊娠染表症傷寒者，當用帶須蔥頭湯服之，出汗即愈，不可輕用發表藥。若誤用之，其胎必墮，且母命難保，戒之慎之。胎前瘟疫，與傷寒同，孕婦傷寒咳嗽，宜二陳加薄荷、白朮、川貝。泄瀉者，胃苓湯去參，俟脾胃實後治嗽可也，即參蘇飲亦可服。蓋風藥最易動胎，反為不美，故胎前傷寒，身熱咳嗽者，惟以帶須蔥白煎湯服之，大能安胎順氣。若胎不安，煎砂仁湯服，汗多，服參蘇飲。乾嘔，紫蘇飲去參加茯苓。吐血，止血丸，或二陳加黃柏、知母、楂炭、白朮。如氣血兩虛，八物加黃柏、知母。</p>
<h4>妊娠跌仆</h4>
<p>【妊娠跌仆歌】懷胎跌仆無輕重，遂致傷胎在腹中。已損包胎血上逆，衝心悶痛母魂傾。</p>
<p>妊娠跌仆，或受傷重者，服活血藥，又恐傷胎，不服則傷不能去，當何法以治之?曰：必先辨其胎之死生。如腹冷舌青者，子死也，以香桂散下之。若未甚分明，以佛手散探之。如胎傷者，立即墮下，胎無恙者，其痛立止。但痛止之後，尤須視傷之輕重。下藥輕者，童便酒入活血藥飲之，血活則傷去，隨以紫蘇飲加童便、砂仁，緩緩服之；重者只治其傷，勿顧其胎也。血行胎下，母命保矣。服紫蘇飲加枳殼、童便、砂仁尤妙。有孕婦胎前衄血，產後多不吉，血以養胎，不宜走泄故也。服紫蘇飲加黃芩自愈。更有口中見血及大便下血者尤忌。</p>
<h3>妊娠心腹痛</h3>
<p>【叔和心腹急痛歌】心腹急痛面目青，冷汗氣促命必傾：下血不止胎衝上，心腹冷悶定傷身妊娠腹痛而見血者，名曰胎漏，至產即愈，生子不實也。紫蘇飲加陳皮、砂仁。若胃口痛甚，用指迷湯或養胃湯。亦有孕癰者，何以辨之?服安胎飲，消食理氣之藥，俱不效，但臍近下處腫痛發光者，即腹癰也。因孕婦生之，名之曰孕癰，宜十補托裡散，此藥補而不礙胎，其次千金托裡散亦可。有臍下冷痛腹脹，小便頻數，大便滑泄，緣正氣虛弱，過吞生冷所致，宜安胎飲加枳殼，及和氣之藥。如小腹痛，須察其脈，若可安，紫蘇飲安之，不能安，則用活血行氣之藥。其內傷甚者下之。若血結不下，必腹中　痛，服金屑散。或宿食炫癖，氣血瘀痛，蔥白散主之。一切血痛，肉炙散、白朮煎。腰痛甚者，腎虛也，其胎多墮，宜急服安胎飲以固其胎。復不寒，紫蘇飲可加黃芩。若胎不時轉動，如腰腹痛者，亦宜安胎飲。</p>
<h3>脅肋痛</h3>
<p>孕婦脅痛甚者，其說有三：或因哭泣，或因忿痛，或因內傷。如內傷者，現有胎。不可用行傷藥，只宜童便酒，或紫蘇飲加白芍、當歸、砂仁，人參童便煎服，亦足以固胎。或曰，脅痛非芥子不能達，柴胡、枳殼亦可用。如背痛者，氣滯而不運也，宜紫蘇飲。妊娠口乾煩悶，不得臥者，名曰子煩，紫蘇飲主之。又有口舌生瘡，咽喉腫痛者，切不可用防風通聖散，有孕婦未產而乳汁先下者，名曰乳泣，生子多不育。有兒在母腹中啼哭，不須服藥，用黃豆打番，招孕婦細細拾之，其哭自止。</p>
<h3>子腫</h3>
<p>【子腫危殆歌】子腫傷肝唇定黑，缺盆平也必心傷；背平傷肺脾臍凸，腳背平時腎病深。</p>
<p>妊娠浮腫，其說有二。蓋胎前患水腫者少，而患胎氣者多，乃氣病也，名曰子腫。紫蘇飲主之。若小便不利腹脹者，水腫也。紫蘇飲加澤瀉、車前、白朮治之。三焦無病者，加山梔、黃芩利小便甚捷。如孕婦浮腫，上半身者宜發汗，下半身者宜利小便，上下俱腫，汗利兼施，服藥腫退而脫身者，不必再藥。</p>
<p>凡婦人懷孕，宜別室安睡，常使身心清淨，不得再犯房事。夜睡須左右轉換，使小兒左舒右安，肢體活動，臨產自然快便，生子亦聰明少疾。背有一醫宿店，值店婦生產，數日不下，下體甚冷，急以椒、橘、茱萸、乾薑、良薑等煎濃湯熏洗臍腹產門等處，氣溫血行而遂產。</p>
<h3>胎漏</h3>
<p>【胎漏歌】血下如同月水來，漏干胞血必傷胎。胎傷妊娠須憂慮，急賜靈丹救得回。只緣欲火房勞損，非是尋常虛漏胎。</p>
<p>蓋胎之漏者，必有因而來，或誤吞動胎物，被熱毒所侵，或房勞而傷損，損輕則漏亦輕，損重則漏亦重，血盡而胎死。或因母病而胎動者，病治而胎自安。或胎不堅固而母病者，胎安而母自愈矣。又有值經期而見血，每月一至，名曰漏胎，宜服安胎飲，或紫蘇飲加黃芩、白朮、阿膠、砂仁，自然無事。亦有傷胎氣而下血不止，宜奪命丹。胎未損者，服之可安，已損者，服之即下。</p>
<h3>胎前雜證</h3>
<p>孕婦卒然不語，名曰啞胎，不須服藥，產則能言矣。蓋聲出於腎，胞絡貫腎，故不能言也。</p>
<p>經曰：九月而啞，十月當復便是。妊娠譫語，用四物湯，倍加白芍、當歸，去生地，合二陳加山楂、薄荷、薑汁治之。</p>
<p>孕婦舌青者，子死腹中也，用麝香五分，肉桂三分，為末，煮酒調服。如雙胎一生一死，亦宜此方。因母患症熏蒸其胎，致兒灼死，死兒著冷，不能自出，或用黑神散之類，以暖其胎，胎自下矣。</p>
<p>孕婦小便頻數，名曰子淋，服內補湯立效，小便不通者，乃胎下墜而壓膀胱，名曰轉胞，宜補中益氣加車前。有內傷者，乃血鬱不去，今之梗痛是也。</p>
<p>妊娠大便秘結，乃血枯氣閉也，四物東加枳殼、桃仁。孕婦水瀉，宜分別而治之。忌理中五積散。因有乾薑、玉桂也。傷食瀉者，養胃東加消食藥。有傷生冷而瀉者，亦用養胃東加木香。火瀉者，香薷飲，夏月暴注下迫者是也。暑瀉者，胃苓東加香薷。氣虛作瀉者，腸鳴而不痛，水穀不化者是也，補中益氣湯或四君子湯。胎前血瀉，胃苓東加木香、砂仁，或紫蘇飲加神麯、澤瀉、黃連。胃口發飽，夾痰嘔逆者，忌用參連。胎前產後痢，載《痢證匯參》，故不贅。</p>
<p>懷孕五六個月，或七八月，胎忽亂動，兩三日間或痛，或有水下，但腰不甚痛，是胎未離經，名弄胎，又曰試胎。胎水有無俱不妨，但直身坐臥行立，不可驚憂逼迫，以致誤事。二者俱非正產，必因觸犯所致。凡孕婦五六個月，或三四個月，常要緊束其身，勿令胎放肆，又不可飲酒常沐浴。</p>
<p>《達生編》云：小產當慎，三五月而墮者，謂之小產。此因臟腑損傷，胞系腐爛，以致墮胎。此比之大產更甚。大產瓜熟蒂落，本無足慮，尚有多少艱難，何況損傷胞系而墮乎?輕視小產，每致殞命。須倍加將息，宜服補血養氣去瘀生新之藥。世有服落胎之藥者，害莫大焉，此丐戶穩婆所為，醫者斷無此事也。</p>
<p>催生之說，自古相傳，然瓜熟蒂落，何必催也。催之非但無益，轉或有害。有用兔腦丸者，有用千年　者，有用催生石者，有急性子者，有筆頭灰者，有蓖麻子搗爛塗足心者，用之多有不驗，徒增繁擾，嘻，平時失於調護，任意行房，以致難產，頻以催之，又何濟乎?此愚夫愚婦之所為也。</p>
<p>兒在母腹，男女有別。男子負陽背陰，女子負陰背陽。在腹中亦然，男向於內，雙手傾捧母心，女向於外，居母心下，兩手自捧頭面，而背母足居下。至臨盆時，倒轉而順出矣。若產母側臥，致兒倒運不轉，即有橫生逆產之患。故坐草切不可太早，須再三令人扶掖運動，方免前禍。不知此理，徒歸產母之氣血不足，豈不誤哉!然亦有臥而產者，必令仰臥平正，使產門虛而不礙可也。臥而能產，惟血氣充實者能之，若不坐不臥，無故頓住而難澀也。力可委罪於氣血不足耳。醫者宜鑒諸。</p>
<p>孕婦臨產之月，胞水未破而血先下者，此乃胎傷，非產也。宜八物湯與安胎飲治之。若胞水已破，此欲產也，用紫蘇飲以生其血。滑胎之藥，須胞水破，痛陣急，十月滿足者，方可服。若胞水未破，腹痛未甚者，雖十月滿足，恐未坐草，只服安胎飲或紫蘇飲，白芍換赤芍，當歸用尾，去人參，加薑蔥水煎，入童便一杯，忌用桃仁活血之藥。胞水已破，兒即墮地，謂之鋪蓐，生產最快利。如胞水已破，兒不下者，謂之試水，此產反遲。有停一二日而產，有服安胎飲而水止痛定，至五六日而方產者，切不可於破水時，即用穩婆動手，令胎婦費力痛苦，多致受累。胎累日不下者，宜先氣血助其胞水，佛手散或紫蘇飲。臨蓐先放紅水，致兒干擱，與行船無水同，宜紫蘇飲以生其氣血。如臨蓐腰腹俱痛，不可用穩婆輕易探候，即胞水已破，腰痛已極，止當令孕婦扶掖走動，則生育自然順也。至於橫生逆產之患，皆因先動手故也。其臍帶系於命門，兒將育時，兩手洗蕩，使臍帶脫落，然後得出，安得不痛?即所謂瓜熟蒂落是也。</p>
<h2>卷五</h2>
<h3>難產</h3>
<p>【難產生死歌】欲產之婦脈離經，沉細而滑腹又疼，定知半夜應分娩，脈法由來載《內經》。大凡臨產應如此，產婦安然切勿驚。身重寒熱痛頻頻，唇甲之色黑復青，子死腹中從此驗，舌青冰冷母歸陰。面赤舌青須細看，母活子死定分明。唇口俱青白沫出，子母俱亡自可憑。面青舌赤沫又出，母死子生定知真。臨症過來俱應驗，方知前哲不虛陳。</p>
<p>難產之症，宜服童便，磨神仙聚寶丹服之。或有不順者，用蓖麻子肉十四粒，朱砂雄黃各五分，蛇殼尺許燒灰，加麝香一分，共為末，將水和作一丸，用川椒湯淋產婦臍內，次將丸藥納臍中，用綿紙數層覆其上，再用闊布縛住，待胎下即去其藥。推腸生者，若腸不收，用新汲水入醋少許，三噴其面，即自縮而上矣。若腸下時，須用溫湯洗濕，米篩盛之。若沾染塵垢，及著干物，即不肯上，且黏住斷絕，而母命不保矣。又法：將產婦頂心發分開，用蓖麻子肉搗爛，敷於顛頂，將腸溫水養之，其腸即收，則母命全矣。又有橫生逆產，手足先出者，用細針連刺兒手足，將鹽擦其刺處，即便縮上，俗謂討鹽生也。</p>
<p>有頭胎生，曾二三個月隨墮，嗣後第二三胎，仍前復墮，名曰滑胎，不可復安矣。必須於有胎之後，曾有正產一次，後無此患矣。</p>
<p>按紫蘇飲一藥，能治臨產驚恐氣怯，累日不下，乃妊娠之要劑也。</p>
<p>壬午年間，曾有某室懷孕，十月滿足，忽然腹中大痛，即喚穩婆守候，穩婆欲圖大望，假意探胎消息，將指摘破胞衣，水流不止，胞水流干，胎元干擱，不能轉運，日夜無眠，痛亦不已，約四五日矣。邀余往視，診其脈，六脈離經，或曰六脈已散，命將危矣。余察其舌色鮮紅，毫無青色，謂曰不妨，將臨盆矣。或曰胞漿已干，有何生理?答曰：古有急開支河之法，即大劑四物人參，加入車前五錢，柞枝一兩，煎湯代水煎服。房中穩婆三個，議論紛紛，或欲早用鉤割，以全母命。余曰：各人不可動手，瓜熟蒂落，可保子母兩全。服過藥後，少頃，腹中大痛，喚人扶掖走動，兒即墮地。今已十二歲矣。</p>
<h3>臨產</h3>
<p>【臨產歌】臨產之時勿易看，驀然氣湊目珠翻。唇青口噤流涎沫，子母雙雙入死關。舌色鮮紅唇面黑，子存母死片時間。面紅舌黑兒難保，佛手仍須奪命丹。橫逆催生龍蛻散，滑胎可救漏胎干。死胎欲下芎歸飲，更搗務麻腳底攤。血入胞中時脹悶，上衝心胃死何難。朴硝散共紅花酒，奪命神丹逐下安。產下血逆成血暈，清魂急灌命須還。血由一倒心無主，目暗神昏汗雨漫。氣隨血脫多難救，桂附參　大劑堪。血衝心悶成狂妄，喘促蒲黃不等閑。兒枕痛知緣惡露，當歸失笑效非凡。忽然口噤言顛倒，見鬼原非風與寒。敗血上衝心血耗，妙香散共黑龍丹。</p>
<p>夫婦人臨產，死生反掌，若善於救治者，實可以起死回生。稍不急救，多致夭枉。救之不得其法，藥之不能應手，亦莫全其生也。將產努力過多，兒轉未逮，以致胎落於胯，不能育者，有因子橫子逆而難產者，有體肥脂濃，平素逸而難產者，有子壯大而難產者，有年長遣嫁，交骨不開而難產者，有胞水先破，胞內干澀而難產者，有胎死腹中而不下者，其腹冷舌黑可驗。有胞中積水，其腹大異常，脈息細弱，名曰胞水。時醫不識，疑為雙胎，臨產必去水斗余，方產。其兒手足，必然軟短生理殘障，蓋水漬其胎故也。醫者識此，早用去水之藥，兒斯無恙矣。有兒下地，去血太多，產下即死者。有血奔上而昏暈者，有子下而胞不下者，有敗血灌滿胞中者。如胞不下，須行去胞血，則自下也。有因穩婆取胞，誤傷五內，輕則帶疾，重則傷命，慎之慎之。大抵貧賤婦人生育極易者，以其勞役，胎氣流動故也。富貴之家，濃養安逸，身體肥壯，每難生育也。</p>
<p>《脈經》曰：臨產六至，脈號離經，或沉細滑，若無即生。浮大難產，寒熱又頻，此時急候，急於色征。面頰唇舌，忌黑與青，面赤母活，子命必傾。若胎在腹，子母歸真。</p>
<p>臨產之時，切不可喧鬧，選一善熟穩婆，或得力使女，無使揮霍慌張，致令產婦驚恐，宜食軟飯稀粥。若腹中痛，且令扶行，或痛或止，名曰弄胎，不可使穩婆手探，尤不可屈腰臥眠。</p>
<p>如連引腰痛，眼前如見火光，此是兒轉運，須扶掖徐行。起若艱難，即持物立住，須臾直至腰腹相引，難以行立，然後坐草，切勿太早，恐兒在腹，難以轉動。及胞水先破，子道干澀，皆主難產。若心中熱悶，將生雞子一枚，打破吞服。抱腰之人，不可傾斜，則兒自然順下。若臨事倉皇，用力失宜，隨有難產之患。小兒已出，勿令便睡，宜閉目而坐，少頃，方扶上床，仰臥立膝，勿令熟睡，宜頻喚醒。切不可以得男為喜，喜則傷心，恐生紅汗之症。亦不可以得女為憂，憂則致敗血攻心之患。房中常以醋煙熏之，以防暈悶血升。數日之外，不可勉強下床，一月之外，莫犯房事。謹之慎之。</p>
<p>妊娠臨產，有兒湊心不下者，其兒手必捧母心，多致母子俱亡，必用藥引入心分，解開兒手，方得產下。蓋兒手捏物最緊，藥氣一到，其手自軟，故曰解開。有產後胞衣不下，不可視以為細故而忽之，多有升至心而死者，不可不知。</p>
<h4>兒捧母心</h4>
<p>兒捧母心者，急用豬心血，調乳香五錢，煮酒送下，兒手遂開。如胞衣不下，用花蕊石一兩，硫黃四兩，入罐，鹽泥固濟，　過為末，童便酒調一錢，即下。胞衣未下時，產婦將己發推入口中，似欲作嘔勢，胞衣即下矣。</p>
<p>有胞水放干，兒不肯下者，急以大劑四物，加車前一二合，流水煎，頻頻服之，兒即隨水而下。此急開支河法也。虛者加人參。</p>
<h4>胞衣不下</h4>
<p>《準繩》云：胞衣不下，用瓦油盞烘熱，仰放產婦臍上，令男人以腳抵住油盞，其胞即下，乃鄉村之法，果驗。</p>
<h4>交骨不開</h4>
<p>交骨不開，有因元氣素弱，胎前失於調養，以致氣血不能運達而然，用加味芎歸東加柞樹枝一兩，大劑服之，外以麻油調滑石末，塗入產門，交骨漸開。</p>
<p><u>達生散</u></p>
<p>（即紫蘇飲）　胎前之妙劑，催生之良方。</p>
<p>大腹皮（三錢）　人參　紫蘇　陳皮　歸身（各五分）　白朮　白芍（各一錢）　炙草（二錢）</p>
<p>加黃楊頭七個，枳殼、砂仁五分，青蔥五莖，水煎服。（此方補中行滯能下死胎）</p>
<p><u>胃苓湯</u></p>
<p>蒼朮　厚朴　廣皮　白朮　茯苓（各一錢半）　豬苓（一錢）　甘草（六分）　官桂（五分）</p>
<p>薑一片，水煎。</p>
<p><u>防風通聖散</u></p>
<p>防風　荊芥　麻黃　山梔　赤芍　大黃　朴硝　甘草　桔梗　川芎　歸身　滑石　薄荷　黃芩白朮　石膏　連翹</p>
<p><u>黑神散</u></p>
<p>　治胞衣不下。</p>
<p>熟地　歸尾　赤芍　蒲黃　肉桂　炮薑　甘草　黑豆（半升，炒）</p>
<p>童便沖服。</p>
<p><u>神仙聚寶丹</u></p>
<p>熟地　川芎　乳香　五靈脂　琥珀　當歸　硫黃　花蕊石　良薑　黑龍　百草霜</p>
<p><u>奪命丹</u></p>
<p>　治子死腹中不下。</p>
<p>桃仁　赤芍　官桂　茯苓　丹皮</p>
<p><u>養胃湯</u></p>
<p>　治惡阻。</p>
<p>當歸　白朮　白芍　茯苓　半夏　藿香　砂仁　陳皮　神麯　香附薑三片，大棗二枚。</p>
<p><u>五積散</u></p>
<p>（見前）</p>
<p><u>安胎飲</u></p>
<p>（見前）</p>
<p><u>苦楝丸</u></p>
<p>苦楝（打碎酒浸）　茴香（炒）　當歸（等分）　共為末，酒糊丸。</p>
<p><u>妙香散</u></p>
<p>（見產後）</p>
<p><u>清魂散</u></p>
<p>（見產後）</p>
<h3>難產縮胎法</h3>
<p>丹溪曰：世之難產者，往往見於郁悶安佚之人，富貴豢養之家。若貧賤辛苦者，無有也。古方書只有瘦胎飲一論，而其方為湖陽公主作也，實非極至之言。何者?見其有用此方者，其難自若。予表妹苦於難產，後遇胎孕，則觸而去之，予甚憫焉。視其作為，惟勤於針指，構思旬日，忽自悟曰，此正與湖陽公主相反。彼奉養之人，其氣必實，耗其氣使平和，故易產。今形肥，知其氣虛，久坐則氣不運，必氣愈弱，兒在胞胎，因母氣不能自運耳，當補其母之氣，則兒健易產矣。令其有孕至五六個月來告，即與全方紫蘇飲，加補氣藥，與數十帖，果得男而甚快。遂以此方，隨母形色性稟，參時令加減與之，無不應者，因名其方達生散。</p>
<p><u>白朮散</u></p>
<p>　治子腫。</p>
<p>白朮（一錢）　薑皮　陳皮　茯苓皮　大腹皮　桑皮（各五分）</p>
<p>為末，米飲調服。</p>
<p><u>竹葉湯</u></p>
<p>　治子煩淡竹葉　麥冬肉　黃芩　人參　茯苓　防風　知母水煎服。</p>
<p><u>參朮飲</u></p>
<p>　治轉胞。</p>
<p>當歸　熟地　川芎　白芍　人參　白朮　陳皮　半夏　甘草薑三片，水煎。</p>
<p><u>參朮膏</u></p>
<p>　轉胞屢驗。</p>
<p>人參（二錢半）　白朮（二錢）　黃　（錢半）　茯苓（一錢）　陳皮（一錢）　桃仁（一錢）　炙草（五分）</p>
<p>用羊豬胞煎湯代水。</p>
<h3>婁氏十產論</h3>
<p>一曰正產，婦人懷胎，十月滿足，忽腰腹作陣疼痛，相次胎氣頓陷，至於臍腹痛甚，乃至腰間重痛，穀道挺進，繼之漿破出血，兒子遂生，此名正產。</p>
<p>二曰傷產，婦人懷胎，未產一月之前，忽然臍腹疼痛，有如欲產之狀，仍卻無事，是名試月，非正產也。但一切產母未有正產之候，即不可令人抱腰，亦不可令產母亂動用力。若兒身未順，才方轉動，便教產母虛亂用力，使兒錯落，忽橫忽倒，不能正生，皆緣產母用力未當，用力之所致也。直待兒身順，臨逼產門，方始用力一送，令兒下生，此名傷產。</p>
<p>三曰催產，孕婦欲產，漿破血下，已見是正產候，但卻未服藥不生，即可服催生藥試之。或有經及數日而不產，則產母困倦，亦可服藥，助產母之正氣，令兒速生，此名催生。</p>
<p>四曰凍產，乃冬月寒冷，產母經血得冷則凝，以至兒不能生下，此害最深。若冬月生者，下部切不可脫棉衣，並不可坐臥寒處，當滿房著火，常有暖氣，令產母背身向火，令臍下腿膝間嘗暖，血得熱則流行，兒便易生，名曰凍產。</p>
<p>五曰熱產，時當夏令，威焰酷烈，產婦要溫涼得所，亦不恣意取涼，傷損胎氣，又不可房中人多，熱氣逼襲產母，使產母血沸，發熱頭疼面赤，昏昏如醉，乃至人事不省，此名熱產。</p>
<p>六曰橫產，兒先露手，或先露臂，此由產母未當用力，而先用力故也，兒身未順，用力一逼，遂致身橫，不能生下，當令產母安然仰臥，然後推兒，徐徐先推其手，令人直上，漸漸逼身，以中指摩其肩，推上而正之，或以指攀其耳而正之，必須產母仰臥，以便推兒正之，候其兒身正，煎催生藥一盞服之，方可用力，令兒下生，此名橫產。</p>
<p>七曰倒產，產母胎氣不足，關鍵不牢，用力太早，致令兒不能回轉，便直下先露兒足，當令產母仰臥，令穩婆推其足，漸漸入內，不可令產母用分毫力，亦不得令其驚恐，務必安慰，使兒自順，名曰倒產。</p>
<p>八曰偏產，兒身未正，產母用力一逼，致令兒偏柱左腿，或偏柱右腿，故頭先露偏柱一半，不能生下，當令產母仰臥，次令看生之婦，輕輕推兒近上，以手正兒頭，令看生之人，以綿烘熱，裹手於穀道外旁，輕輕推兒頭端正，便令產母用力一送，兒即下也，此名偏產。</p>
<p>九曰礙產，兒身已順而露正頂，不能生下。蓋因兒身回轉，臍帶攀其肩，因此露頂，而不能生下。當令產母仰臥，令看生之婦，輕輕推上，徐徐引手，以中指按兒肩下，撥其肚帶，仍須候兒身正順，方令產母用力一送，兒即生下，此名礙產。</p>
<p>愚按：大凡橫產、倒產、偏產、礙產四法，若非穩婆精良妙手，不可依用此法，恐恣其愚蠢，以傷人命也。今世之倒產者，往往隨其倒足生下，名曰踏蓮花生，並無後患，子母雙全，不必依前條推足上法亦可。如礙產者，往往肚帶有纏在兒頭頂上，而兒頭自出在產戶外，穩婆以指撥其肚帶，從兒頭頂過下之者。又有肚帶纏住頭頂一匝，而兒與胞衣一齊同下者，倘漫用前法推入產門，轉恐誤事也。</p>
<p>十曰坐產，言欲臨產時，高處系一手巾，令產母以手攀之，輕輕屈足坐定，令兒生下，非坐在物上也，此名坐產。</p>
<p>昔有趙都運恭人，每產則大腸先出，然後則產，產後則大腸仍露，甚為苦之，名曰盤腸生。</p>
<p>醫不能療，偶在建昌，得一良法，而可收之。用醋半盞，新汲冷水七分調勻，　產母面，每一收縮，三　收盡，是良法也。</p>
<p>產母腸不收，用香油五斤，煎熱盛盆，候溫坐油盆上，約坐至半時，以皂角末次入鼻中，嚏作立收。（《斗門方》）　又法：用半夏末搐鼻中，則腸立收上。又紙捻蘸香油點燈吹滅，以煙熏產母鼻中，腸亦立上。</p>
<p>丹溪曰：胎前毋滯，產後毋虛，產後一切皆不可發表，產後不可早用白芍，以其酸寒，克伐生發之氣故也。大凡產後，不可食物過多，恐成積滯。若未盈月，不可強起離床，不宜多言喜笑，及驚恐憂惶，悲思怒惱，不宜久坐久立，及作針工，恐盈月之後，即成蓐勞，並油膩魚肉之類，皆不可犯。凡產後百日之外，方可交合，不爾，百病滋長，慎之。凡婦人患風氣臍下虛冷，莫不皆早行房之故也。</p>
<p>或曰：新產之婦，好血已虧，污血或留，彼黑神散非要藥乎?答曰：至哉坤元，萬物資生，理之常也。初產之婦，好血未必盡虧，污血未必盡積，臟腑未必寒。何以藥為?飲食起居，勤加保護，何病之有?誠有污血體怯而寒，與之幾劑，亦自簡便。或有他病，當求病起何因，病在何經，對症投劑，何用雜藥亂投，誠有性急形瘦易怒火多者，夏月坐蓐，時行火令，薑桂皆為禁藥。至於保護之法，尤為悖理。肉汁發陰經之火，易成內傷之病，先定有訓戒，何胡為羊雞濃汁作糜，而又服當歸丸、四順理中丸之類，雖是補藥，並是偏熱。若臟腑無寒，何處消受，若夫兒子初生，母腹頓寬，思食雞子，而不思雞子難化，輾轉生病，每見產母無疾者，卻去黑神丹，不可與雞子肉食，且與之白粥干菜，間以少些白鯗，半月方與別物，大能養胃卻疾。彼富貴之家，驕恣之婦，卒有白帶頭風氣痛，膈滿痰逆口乾，經事不調等症，皆是陽盛陰虛之病。天生血氣，本自和平，又烏知其有此等謬迷，有以兆之耶?</p>
<h2>卷六</h2>
<h3>產後門</h3>
<p>婦人產後，如無他症，不必服藥，三日之內，但以荊芥炭、益母草、砂糖煎湯，頻頻與飲，使惡露下盡，自無血暈腹疼之患。切不可飲酒及雞子牛羊豬肉之類。須以白粥干菜調理，或松江淡鯗蒸熟食之。半月方可食鮮肉，漸漸加增，才免陽盛陰虛之患。若去血過多，惡露未淨，或傷飲食，或感風寒，或夾氣惱，或三日蒸乳，皆能發熱增寒，身疼腹痛，當以意消息，不可偏執而用藥也。丹溪云：產後以大補氣血為主，雖有雜症，以末治之。產後不可發表，又不可早用白芍，以其酸寒，恐伐生氣也。慎之。</p>
<p>凡婦人產後，陰血虛，陽無所附而浮散於外，故多發熱。治宜四物補陰血，而炮乾薑之辛溫從治，收其浮散，使歸於陰。然產後脾胃俱虛，多有過服飲食所傷，滯而發熱者，誤作血虛則不效矣。如遇產後發熱，須審問何物所傷，有食無食，胸膈可有飽悶，如惡食泄瀉，只作傷食治。若發熱而飲食自調者，方用補血藥，產後血暈，因虛火引血上行，漸覺昏暈，急以鹿角燒灰，出火毒研極細末，煮酒童便調和灌下即醒，行血最快。</p>
<p>又法用鐵秤錘，炭火燒紅，以醋淬之，令產婦鼻搐之即醒。</p>
<p>鄭良棟曰：新產血暈，不省人事，大類中風，切不可遽以中風治之，急服琥珀丸即愈。如兒以下地，一時血暈，昏昏不醒，速扶起抱住，勿令臥下，快與童便灌之。如不醒，再以燒紅炭投醋中，使醋氣透入產婦鼻，內，即蘇，因症用法，無不應效。</p>
<p>產後子已在蓐，切不可使之即臥，須扶坐片時可也。因初產之婦，血氣未定，恐其血乘虛而上逆，慎之。</p>
<p>新產飲酒大忌，乃第一證，但服童便為妙，他藥苦寒，雖屬降下之品，卻能凝滯敗血。且產後即發熱，切不可服涼藥，以其伐生氣而血凝也。若童便乃人身之元氣所成，名曰還元丹，惟能降火，蓋以人補人之義。新產飲食最難克化，如赤豆、沙雞、鴨蛋之類，蓋新產暴大下血，脾胃甚弱，最易成病。</p>
<p>新產之脈緩滑結，實大弦緊鬼來侵，若得重沉小者活，忽覺堅牢命不存。寸口澀疾不調死，沉細附骨不絕生。請看此候分明記，常須念此向心經。</p>
<p>新生胞衣不下，血暈不醒，腹中刺痛，敗血攻心，或眼閉口噤，或譫語狂言，困頓垂死者，以琥珀黑龍丹，灌之立效，或黑神丹亦可。</p>
<p>產婦敗血，有沖胃衝心之辨，不可混治。衝心，顛狂作亂是也。沖胃者，飽悶嘔惡是也。二者俱屬危症，用藥不可不速，遲則不救。</p>
<p>王肯堂曰：產後敗血，有沖胃、衝心、衝肺，三者皆屬危症，用藥不可不速。沖胃則嘔，沖肺則喘，衝心則發狂跳躍，急令兩人扶住，急宜童便、降香、沉香、當歸，煎湯灌下，其惡血自下行，新血各歸經，即時安寧矣。</p>
<p>皇甫中曰：產後敗血停蓄，上干於心，心氣閉塞，故舌強不能言語者，八珍散。產後內因痰氣鬱滯，閉目不能語，用明礬一錢為末，白滾湯沖服。</p>
<p>產後去血過多，暈悶不醒者，芎歸湯。產後虛火引血上行，血迷血悶，暈昏不知人，清魂散。如不醒，以韭菜一二斤搗爛，入壺中，沸醋傾入壺內，覆壺蓋，以壺嘴放鼻間熏之，即蘇。或乾漆燒煙，令產婦搐煙，如不醒，急掐其人中，提頂心頭發，灌之以童便薑汁，自然蘇醒。</p>
<p><u>黑龍丹</u></p>
<p>　治產後一切血證，及胞衣不下，危急之症。</p>
<p>當歸（二錢）　五靈脂（二錢）　川芎（二錢）　熟地（二錢）　良薑（二錢）</p>
<p>上藥一兩，以沙盒盛赤石脂，以紙包鹽泥封固，炭火　令通紅，火候冷取開，看成黑色，研細入後藥。</p>
<p>百草霜（五兩）　硫黃（錢半）　乳香（錢半）　花蕊石（一錢）　琥珀屑（一兩）</p>
<p>後藥與前藥研極細，以醋糊為丸，如彈子大，每服一丸，炭火　令通紅，投入老薑自然汁與童便，入酒漉出，烘乾研細，只以此酒下。</p>
<p><u>清魂散</u></p>
<p>　治血迷血暈，昏迷不省。</p>
<p>澤蘭（一兩）　人參（一兩）　荊芥（四兩）　炙甘草（八分）</p>
<p>每服二錢，熱湯溫酒各半盞調服。</p>
<h3>產後血暈</h3>
<p>問曰：新產婦人有三病：一者病　，二者病鬱冒，三者大便秘結。何謂也?師曰：新產血虛，多汗出喜風，故令病　。亡血復汗寒多，故令鬱冒。亡津液則胃燥，故大便難。</p>
<p>產後血暈者，氣血暴虛，未得安靜，血隨氣上，迷亂心神，故眼前生花，甚者令人悶絕，不知人事，口噤神昏氣冷，宜服清魂散即蘇。</p>
<p><u>荊芥散</u></p>
<p>　治產後血暈，精神昏昧。</p>
<p>荊芥（一兩三錢）　桃仁（五錢，炒）</p>
<p>為末，滾湯下三錢，如喘，加杏仁、甘草各三錢。</p>
<h3>敗血衝心</h3>
<p>婁氏曰：產後下血多而暈者，但昏悶煩亂而已，當補血。下血少而暈者，乃惡露不下，上搶於心，則心下滿急，神昏口噤，絕不知人，當破血行血。</p>
<p>丹溪曰：婦人產後血暈，此乃虛火載血妄行，漸覺昏迷，以鹿角　灰出火毒，研極細末，用童便煮酒灌下即醒，此物行血極妙。</p>
<p><u>獨行散</u></p>
<p>　治產後血暈，昏迷不醒，衝心悶絕，五靈脂四錢，一半炒，一半生，共研極細末，溫酒調下二錢，即蘇。</p>
<h3>產後鬱冒</h3>
<p>仲景曰：產後鬱冒，其脈微弱，不能食，大便反堅，但頭汗出。所以然者，血虛而厥，厥而必冒，冒家欲解，必大汗出，以血處下厥，孤陽上出，故但頭汗出。所以產婦汗出者，亡陰血虛，陽氣獨盛，故當汗出，陰陽乃復。大便堅，嘔而不食者，小柴胡湯和之。</p>
<h3>產後如狂喘滿</h3>
<p>產後血搶心悶如狂，喘滿欲絕者，蒲黃散。惡露不盡，心腹痛，黑神散。惡露不盡，兒枕痛，當歸失笑散。產後忽然口噤，語言顛倒，如見鬼狀，此敗血攻心，非風寒邪祟也，妙香散，或用黑龍丹，　過酒調下。</p>
<p><u>蒲黃散</u></p>
<p>　治惡露不快，血上搶心等症。</p>
<p>干荷葉（二錢半）　甘草（二錢半）　丹皮（二錢半）　元胡（二錢半）　生地（三錢半）</p>
<p>銼作二劑，水煎，入蜜少許溫服。</p>
<p><u>黑神散</u></p>
<p>　治惡露不盡，胞衣不下，腹痛不止。</p>
<p>黑豆（炒，半升）　熟地（四兩）　當歸（四兩）　肉桂（四兩）　乾薑（炒，四兩）　生蒲黃（四兩）</p>
<p>炙甘草（四兩）　炒白芍（四兩）</p>
<p>共為末，每服二錢，童便各半盞調服。</p>
<p><u>當歸失笑散</u></p>
<p>　治產後心腹絞痛欲死，及兒枕作疼。</p>
<p>當歸（五錢）　炒蒲黃（五錢）　五靈脂（五錢）</p>
<p>共為末，每服二錢，醋調熬成膏子，白滾湯下。</p>
<p><u>炒香散</u></p>
<p>麝香（一錢，研）　遠志肉（一兩，去心）　黃　（一兩）　人參（五錢）　茯苓（一兩）　茯神（一兩）　桔梗（五錢）　甘草（五錢）　木香（二錢，煨）　朱砂（三錢）　淮山藥（薑汁炒，一兩）</p>
<p>共為末，每服二錢，開水調服。</p>
<p><u>滑胎散</u></p>
<p>　治坐草太早，努力過多，以致難產。</p>
<p>滑石（六錢）　冬葵子（五錢）　甘草（二錢）</p>
<p>為末，每服二錢，酒下。</p>
<p><u>神應散</u></p>
<p>　治橫生逆產，胞漿先破，此藥如魚得水。</p>
<p>白芷（一兩）　百草霜（一兩）</p>
<p>為末，童便酒調下三錢。</p>
<p><u>牛膝湯</u></p>
<p>　治胞衣不下，臍腹堅痛，服此爛下。</p>
<p>牛膝（四兩）　瞿麥（四兩）　當歸（三兩）　通草（六兩）　滑石（八兩）　葵子（五兩）</p>
<p>水九升，煎至三升，三次服。</p>
<p><u>黃　湯</u></p>
<p>　治產後去血過多，自汗不止。</p>
<p>炙黃　（二錢）　白朮（一錢，炒）　防風（一錢）　熟地（二錢）　牡蠣（錢半，研　）　茯苓（一錢）　麥冬（五分）　甘草（五分）</p>
<p>大棗二枚，水煎服。</p>
<p><u>茯神散</u></p>
<p>　治產後心虛，怔忡不定，神思不清。</p>
<p>人參（一錢）　茯神（八分）　甘草（一錢）　山藥（一錢）　當歸（一錢）　肉桂（五分）　遠志肉（一錢）　生薑（五錢）</p>
<p>大棗二枚，水煎服。</p>
<p><u>當歸羊肉湯</u></p>
<p>　治產後寒熱自汗，肢體疼痛，名曰蓐勞，諸藥無效者。</p>
<p>當歸（七錢）　人參（七錢）　黃　（一兩）　生薑（五錢）</p>
<p>羊肉一斤，煮汁五大碗，入藥煎四碗，作六服。</p>
<p>腹痛下血，胃虛嘔逆，砂仁二錢，炒研末，酒調下，或佛手散。</p>
<h3>血虛發熱</h3>
<p>【產後血虛發熱歌】產下嬰兒血氣空，絲毫觸犯便傷營，倏然致疾如山重，不與尋常一樣同。去血過多因發熱，炮薑參朮與川芎。陰傷作熱心煩悶，自汗黃　可奏功。惡心嘔逆傷脾胃，抵聖湯醫腹脅膨。歸　止汗除身熱。不愈當歸取效崇。風中愈風湯立驗，茯神散子治怔忡。諸風痿痹筋搐搦，時世名醫認血風。乍見鬼神由血耗，調經散服起疲癃。中風口噤牙關閉，拘攣身張似角弓。此是血虛筋螈　，舉輕古拜配歸芎。產後經來因適斷，感於異症在其中。手牽足搐牙關緊，昏胃柴胡視聽聰。陰虛發熱增寒證，晝日清明夜覺凶，加增四物神功大，一服能令病脫躬。胞中誤損成淋症，參朮煎膏溲自通。浮腫必須分水道，憂思郁結在寬胸。痢初化滯香連芍，積久須當用胃風。初感寒邪微發表，熱邪不解用黃龍。燥煩實熱芩連理，渴甚人參白虎從。熱泄柴苓除半夏，便難議與大柴攻。汗多表弱宜行桂，裡弱中虛用理中。發表內攻須帶補。勿行猛浪內傷營。小便淋漓行時痛，但用茅根可治癃。泄瀉胃苓湯可用，寒加肉果桂薑同。若因熱瀉並腸垢，薑炒黃連佐木通。</p>
<h3>氣血大損病</h3>
<p>夫產後氣血大損，即易產力壯者，尚有感疾為終身之患，產母不可恃健，不行保重，勞碌以損其營，多食以傷其胃。外感六淫之邪，內受七情之氣，為患莫測。古云：產後勿犯絲毫，感病重於山岳。信夫。或惡露未淨而發熱作疼，真元不復而痿頓為勞，比比皆然也。故產後諸疾，先以大補氣血，縱有他疾，以末治之。或欲祛邪，必兼補劑，殊為切當。若以峻劑攻之，再損氣血，危可立待。或惡露當去者，亦須急去，故生新溫養為主，斯得其正也。</p>
<p><u>舉輕古拜散</u></p>
<p>　治產後中風。</p>
<p>荊芥（炒燥）</p>
<p>為末，每服二錢，豆淋湯調服。</p>
<h3>產後脈法</h3>
<p>《脈經》曰：婦人新生乳子，脈沉滑小者生，實大弦急者死。又曰：婦人生產之後，寸口脈弦疾不調者死，沉細附骨不絕者生。婦人產後，因中風傷寒發病，喘鳴而肩息，脈實而浮緩者生，小緊者死。</p>
<p>丹溪曰：胎前脈細小，產後脈洪大，皆死症也。又曰：產前當洪數，既產而洪數如故，安得不死?《脈經》曰：產後緩滑沉細皆宜，實大堅牢澀疾俱危。</p>
<h3>產後蓐勞</h3>
<p>婦人新產後自汗，肢體酸疼，虛眩無力者，名曰蓐勞。當歸羊肉湯。產後氣血大虧，失於調理，自汗發熱虛羸，飲食不化，時咳發渴者，人參鱉甲散。發寒熱。石子湯。</p>
<p>鄭良棟曰：產後蓐勞虛損，頭痛氣短，小腹脹痛而寒熱者，增損柴胡湯主之。</p>
<p>葉盛公曰：產後蓐勞，緣生產久坐多語，運動用力，致頭目四肢疼痛，寒熱如瘧，宜白茯苓散。</p>
<p><u>人參鱉甲散</u></p>
<p>　治產後蓐勞，寒熱如瘧。</p>
<p>鱉甲（炙，一兩）　人參（五錢）　肉桂（五錢）　桑寄生（五錢）　當歸（五錢）　茯苓（五錢）　白朮（五錢）　大熟地（五錢）　桃仁（五錢）　麥冬（五錢）　續斷（五錢）　牛膝（一兩五錢）　黃（炙，一兩）</p>
<p>共為末，豬腎一對去膜，生薑一片，水二盞，棗三枚，煎至一盞，入前末藥二錢，蔥白三寸，烏梅半個，荊芥五穗，再煎數沸，去渣，空心服。</p>
<p><u>石子湯</u></p>
<p>　治產後虛羸寒熱，自汗氣促等症。</p>
<p>豬腰子（一對，去膜，竹刀切碎）　香蕈（二兩）　蔥白（一兩）　白芍（二兩）</p>
<p>上藥分作兩帖，每用水三升半，勻三服。</p>
<p><u>白茯苓散</u></p>
<p>茯苓（一兩）　當歸　川芎　白芍　肉桂　黃　人參（各五錢）　熟地（一兩）</p>
<p>先以水二盞，煮豬腎，再加薑二片，棗三枚，入藥五錢，去渣，溫三服。</p>
<p><u>增損柴胡湯</u></p>
<p>柴胡　半夏　人參　川芎　橘紅　甘草水煎服。</p>
<p><u>抵聖湯</u></p>
<p>　治產後惡露不行，敗血入於脾胃。</p>
<p>赤芍（一錢）　半夏（一錢）　澤蘭（一錢）　陳皮（一錢）　人參（一錢）　甘草（七分）</p>
<p>薑三片，水煎服。</p>
<h3>產後胞衣不下</h3>
<p>產後胞衣不下，為血入胞中，上衝心胸，氣血脹悶，不出欲死。必須逐其血，用紅花、茜草酒煎服，或朴硝散，甚則奪命丹。如再不下，臍堅脹急痛欲死者，牛膝湯。</p>
<h3>努力傷胎</h3>
<p>妊娠努力，跌仆傷胎，腰腹疼痛，或胎上搶心去血，膠艾丸或從高墜下，或努力被重物所壓，觸傷胎氣，腹痛下血，胃虛嘔逆，砂仁二錢，炒為末，酒調下，或佛手散。</p>
<h3>胞衣先破</h3>
<p>胞衣先破之由有二：或因母體素弱，氣血兩虛，胞衣故薄，兒身轉動，隨觸而破。有因兒未轉動，坐草或早，用力過多，以致胞破。如已破久，則血水干，產路遂澀，兒難下也。急用大劑加味芎歸湯，加熟蜜一兩助氣，而兼潤滑，自當兒即順下。</p>
<p>婁全善曰：胞衣不下，惟花蕊散取效獨妙。若鄉居藥肆，倉卒無之，今采得胡氏一法甚妙。</p>
<p>產訖，胞衣不下，稍久則血流胞中，為血所脹，上衝心胸，喘急疼痛，必致危篤。若有此患，宜急斷臍帶，以少物系帶必用力牢固系之，然後截斷，使其子血不流入胞中。則胞衣自當痿縮而下，縱淹延數日，亦不能有害。惟以產母心懷安泰，終自可下，累試有驗。</p>
<p><u>花蕊散</u></p>
<p>　治產後敗血不盡，血迷血暈，惡阻，敗血奔心。</p>
<p>胎死腹中，胞衣不下，至死者，但心頭稍緩，急以童便調一錢服之，取下惡血或如豬肝，產婦從此可無血氣血風之症矣。如膈上有血，亦化為黃水，即口中吐出，或從小便下也。</p>
<p><u>牛膝湯</u></p>
<p>牛膝　瞿麥（各四兩）　當歸（三兩）　通草（六兩）　滑石（八兩）　葵子（五兩）</p>
<p>上藥　咀為末，以水九升，煎至三升，分為三服。</p>
<h2>卷七</h2>
<h3>產後虛渴</h3>
<p>產後血熱心煩口燥者，涼血飲。虛煩而渴者，生脈散。蓋產後虛渴，氣少腳弱，頭目眩暈，飲食無味，熟地黃湯，或四物加麥冬、花粉。</p>
<p><u>涼血飲</u></p>
<p>　治產後虛煩發渴。</p>
<p>黃芩（二錢，酒炒）　赤芍（二錢）　川芎（二錢）　甘草（一錢）　荊芥（二錢）　花粉（二錢）　生地（二錢）　麥冬（二錢）</p>
<p>上藥分作二服，每服加竹葉七片，燈心二十莖，水煎。</p>
<p><u>生脈散</u></p>
<p>　生津止渴。</p>
<p>人參　麥冬　五味水煎服。</p>
<p><u>熟地黃湯</u></p>
<p>人參（四錢）　甘草（一錢）　花粉（六錢）　麥冬（三錢）　熟地（五錢）</p>
<p>分作二服，元米一撮，薑棗煎服。</p>
<h3>產後浮腫</h3>
<p>產後敗血停蓄五臟，循經流入四肢化為水，因成虛浮腫者，調經散。產後氣血大虛，肢體浮腫者，不可通利其水，宜大補氣血，四君子東加蒼朮。</p>
<p><u>調經散</u></p>
<p>當歸（一兩）　赤芍（兩）　肉桂（一兩）　沒藥（一錢）　琥珀（一錢）　麝香（五分）　細辛（五分）</p>
<p>炙甘草（二錢）</p>
<p>共為細末，每服五分，入薑汁少許，酒調下。</p>
<h3>產後發熱</h3>
<p>薛古愚曰：產後發熱，因去血過多則血虛，血虛則陰虛，陰虛則生內熱，心胸悶煩，氣短頭疼眩亂，骨節酸疼，晡時轉甚，與大病後虛煩悶相類者，宜人參當歸散主之。如血虛生熱而自汗者，逍遙散。若產後臍下發熱，非熟地不能治。若產後發熱不已，必用炒黑乾薑，詳見丹溪治產後日晡發熱轉甚，非柴胡不能治。若外皮熱而內不熱者，及兩足覺冷者，此胃風也，宜芎蘇飲。</p>
<p>產後寒熱，惡露未淨，停住胞絡而發熱者，仍以行血為主，小腹痛者是也。輕則四烏湯，重則醋個散。或以吐瀉，五積散。有食，加消導藥。惡露淨者，小腹不痛是也。若產後因下血過多，而忽發寒熱者，此因營衛虛損，陰陽不和也，宜加減四物湯。</p>
<h3>初產作乳</h3>
<p>初產有作乳者，有產下而不育乳汁者，膨上俱致發熱，但此症與惡露未淨停胞絡而發熱者相似而實不同，宜細細辨之。小腹痛者，惡露停蓄也，不宜服加減四物湯。若小腹不痛者，陰陽不和也，宜服之。若往來寒熱，小柴胡湯主之。寒熱而盜汗如雨者，麥煎散主之。</p>
<p>皇甫中曰：產後血虛發熱，頭痛自汗，心煩氣短者，人參當歸散。產後陰虛氣血不足而發熱，日輕夜重而惡寒者，四物東加炮薑。微熱，加茯苓。產後蒸乳發熱者，用四物加黃　、人參、白朮、花粉。</p>
<p><u>人參當歸湯</u></p>
<p>熟地（一兩）　人參（一兩）　當歸（一兩）　麥冬（一兩）　肉桂（一兩）　白芍（一錢，炒）</p>
<p>每服五錢，加薑、竹葉煎服。</p>
<h3>產後風痿</h3>
<p>產後諸風，痿弱筋攣無力者，血風湯。產後氣弱汗多，風搏之而成　，口噤，角弓反張，脊強，汗出不止者，難治，大聖散加川芎、黃　。</p>
<p><u>血風湯</u></p>
<p>秦艽（一錢）　羌活（一錢）　防風（七分）　白芍（一錢，酒炒）　大熟地（二錢）　白芷（八分）</p>
<p>川芎（一錢）　白朮（一錢，炒）　歸身（一錢半）　炙黃　（錢半）　茯苓（一錢）　半夏（一錢）</p>
<p>水煎服。</p>
<h3>產後怔忡</h3>
<p><u>大聖散</u></p>
<p>　治產後因驚而發心神不定，怔忡恍惚。</p>
<p>川芎（一兩）　黃　（一兩，蜜炙）　當歸（一兩）　木香（一兩）　人參（一兩）　甘草（一兩）　茯神（一兩）　麥冬（一兩）</p>
<p>上藥銼為末，每服七錢，薑三片，水二盞，煎至八分，空心服。</p>
<p>產後血少，怔忡恍惚驚悸，睡不安寧者，益榮湯，或養心湯、寧志丸。產後心恍惚者，茯苓散。</p>
<p><u>益榮湯</u></p>
<p>當歸（錢半）　黃　（一錢，炙）　遠志（一錢）　棗仁（一錢，炒）　柏子仁（一錢，炒）　茯神（一錢）　人參（一錢）　白芍（八分，炒）　甘草（三分，炒）　紫石英（八分）　薑三片，水煎服</p>
<p><u>養心湯</u></p>
<p>　治產後心虛血少，恍惚驚悸不安。</p>
<p>黃　（五錢）　茯神（五錢）　遠志肉（五錢）　當歸（五錢）　人參（二錢）　半夏曲　川芎（各五錢）　棗仁（二錢半，炒）　肉桂（二錢半）　五味（三錢）　柏子仁（二錢）　甘草（四錢，炙）</p>
<p>上為粗末，每服三錢，加薑三片，水煎服。</p>
<p><u>茯苓散</u></p>
<p>人參（一錢）　甘草（一錢）　山藥（一錢）　當歸（一錢）　遠志肉（一錢）　茯苓（一錢）　桂心（一錢）　麥冬（一錢）</p>
<p>大棗三枚，水煎服。</p>
<h3>產後中風</h3>
<p>產後中風，口噤，不省人事，牙關口閉，手足螈　者，舉輕古拜散。產後血大虧損，經絡空虛，勞碌太早，風邪乘虛而入者，小續命湯，或愈風湯。中風角弓反張，涎潮涌出，大豆子湯。</p>
<p><u>小續命湯</u></p>
<p>麻黃（一錢）　人參（一錢）　黃芩（一錢）　白芍（一錢，炒）　川芎（一錢）　甘草（八分）　杏仁（十四粒）　防己（一錢）　肉桂（七分）　附子（一錢，制）</p>
<p>水煎服。</p>
<p><u>大豆子湯</u></p>
<p>大黑豆（一升，炒令焦黑，候煙起，以好酒三升沃之，入瓶內水貯聽用）</p>
<p>每用此酒半升，入獨活五錢，同煎十沸溫服。</p>
<h3>血暈氣脫</h3>
<p>產後血暈與氣脫，宜分別治之。</p>
<p>血暈是實證，逐瘀為主，此因惡露不行，惡血衝心，而心下滿急，神昏口噤，不省人事者，切勿放倒，急與生化湯、失笑丹，或佛手散。</p>
<p>氣脫是虛證，補正為主，此因平素虛弱，臨產用力勞傷，去血過多，亦致昏暈不醒。微虛者，少煩即蘇。大虛者，血竭即死。但察其面白口開自汗，手足冷厥，六脈微極，是氣脫症也。生死判於頃刻，勿令散倒，令旁人挽住頭發，急與大劑參歸附子等回其陽，或增損四物湯，煎濃，徐徐灌之，但能下咽即可得生。若誤認血暈，而以行血藥投之，益速其斃也，治宜細心詳究。</p>
<h3>產後陰虛</h3>
<p>產後陰虛血耗，四物東加炮薑，產後去血過多，陰虛而致內熱煩懣，呼吸氣短，頭痛悶亂，骨節煩疼，人參當歸散，陰虛發熱者，小柴胡湯，去半夏，加花粉。</p>
<p><u>人參當歸散</u></p>
<p>人參（一兩）　當歸（一兩）　肉桂（一兩）　熟地（一兩）</p>
<p>每服五錢，加竹葉、生薑煎服。</p>
<p><u>小柴胡湯</u></p>
<p>人參　半夏　黃芩　柴胡　甘草加薑水煎。</p>
<h3>產後瘧疾</h3>
<p>產後瘧疾，宜分別施治，有寒熱相兼，有熱多寒少，草果飲子，或青皮飲，寒多，養胃湯，或四獸飲之類。</p>
<p><u>草果飲</u></p>
<p>草果（一錢）　川芎（一錢）　紫蘇（一錢）　白芷（一錢）　良薑（七分）　甘草（八分）　陳皮（八分）　青皮（一錢）</p>
<p>水煎。</p>
<p><u>四獸飲</u></p>
<p>人參（一錢）　白朮（一錢，炒）　陳皮（一錢二分）　茯苓（一錢二分）　甘草（五分）　草果（八分）　烏梅（三個）　半夏（六分）</p>
<p>加薑棗，水煎服。</p>
<p><u>勝金丹</u></p>
<p>常山（四兩，酒蒸）　尖檳榔（一兩）</p>
<p>共為末，醋糊丸，未發時，先吞三十丸，至五更再吞十五丸，溫酒送下，丸如菀豆大。發時切不可服。</p>
<p><u>養胃湯</u></p>
<p>（見胎前）</p>
<h3>產後傷風</h3>
<p>產後血氣大虧，縱有寒，不可大發汗，芎歸東加人參、蘇葉、葛根微汗之。故鄭氏只用帶須蔥煎湯服。如熱不止，黃龍東加芎、歸。大熱不得已，加知母、黃連。可攻可溫者，臨時斟酌，不可妄投峻劑，耗損真元也，慎之。</p>
<h3>產後泄瀉</h3>
<p>產後泄瀉，小便不利而瀉，此陰陽不分之故，宜胃苓湯，腹痛是食積，宜加消食藥。惡露不行，宜行血。若外感風寒而內傷飲食者，宜養胃湯。惡露已淨，不必活血，如未淨，加歸尾、桃仁之類。如久瀉不止，養胃湯，加肉桂、肉果。如挾寒腹痛腸鳴，小水清白不濁，口不渴，加肉果炒白芍。如熱瀉，腸垢口渴，時痛時瀉，火也，宜薑炒黃連、木通。或瀉或不瀉，或多或少者，痰也。肯堂云：產後瀉痢，不可混治，以補脾為主，如白朮茯苓神麯甘草陳皮之類，兼以消食理氣之劑。</p>
<p><u>君苓湯</u></p>
<p>白朮（二錢，炒）　茯苓（二錢）　豬苓（一錢）　澤瀉（一錢）</p>
<p>水煎服。</p>
<p><u>胃苓湯</u></p>
<p>（即君苓東加平胃散）</p>
<h3>產後心腹痛</h3>
<p>產後敗血凝聚，氣上衝心作痛，大岩蜜湯，七情相干，血與氣並心痛，元胡索湯。敗血攻心腹痛，失笑散。寒邪腹痛，理中湯。</p>
<p><u>大岩蜜湯</u></p>
<p>　治氣上衝心。</p>
<p>當歸（一錢）　獨活（一錢）　乾薑（一錢）　熟地（一錢）　甘草（五分）　北細辛（七分）　吳萸（一錢）　肉桂（一錢）　遠志（一錢）　白芍（一錢）</p>
<p>水煎服。</p>
<p><u>元胡索湯</u></p>
<p>　治心腹痛。</p>
<p>元胡（一錢）　當歸（一錢）　白芍（一錢，炒）　厚朴（一錢，薑炒）　文術（一錢，煨）　三棱（一錢，煨）　川楝子（一錢）　木香（一錢）　川芎（一錢二分）　桔梗（一錢二分）　檳榔（一錢）</p>
<p>黃芩（八分）　甘草（七分）</p>
<p>水煎服。</p>
<p><u>失笑散</u></p>
<p>　治胃脘痛。</p>
<p>蒲黃　五靈脂</p>
<h3>產後咳嗽</h3>
<p>產後咳嗽而惡露未盡，二陳、四物加活血藥。已淨，知母茯苓湯。或發熱，八物加黃柏、知母少許。或傷風咳嗽而痰多者，其治法載傷風條下。有惡露上攻，肺經受邪咳嗽，二母散。</p>
<p>血風感寒熱濕氣，咳嗽痰涎，坐臥不安，四陰煎。有外感者，參蘇飲。</p>
<p><u>二母散</u></p>
<p>　治惡露上攻而嗽。</p>
<p>知母（一兩）　貝母（一兩）　人參（八錢）　茯苓（八錢）　桃仁（十九粒，研）　杏仁（十四粒，研）</p>
<p>每服七錢，煎至八分，細細呷下。</p>
<p><u>四陰煎</u></p>
<p>　保肺清金。</p>
<p>生地（三錢）　麥冬（二錢）　白芍（二錢）　百合（二錢）　沙參（二錢）　生甘草（一錢）　茯苓（錢半）</p>
<p>水煎服。夜熱盜汗，加地骨皮。痰多，加川貝。</p>
<p>產後鬱冒，由胃弱不實，多汗故也。血虛必厥，厥必鬱冒，白薇湯。產後三疾，鬱冒則多汗，汗多則大便秘結，此皆去血過多，難以藥治，蘇麻粥主之。</p>
<p><u>白薇湯</u></p>
<p>　治汗多。</p>
<p>白薇（三錢）　當歸（三錢）　人參（錢半）　甘草（七分）</p>
<p>水煎服。</p>
<p><u>蘇麻粥</u></p>
<p>　潤腸。</p>
<p>蘇子、麻仁不拘多少，研爛取汁，煮粥食之。</p>
<h3>產後香港腳</h3>
<p>產後熱悶，氣上衝逆，轉為香港腳，小續命湯去麻黃、石膏、附子。由平素感受風寒暑濕燥火之氣，因產後血氣不足，遂襲於足經，因乘虛而發者，獨活寄生湯。</p>
<p><u>獨活寄生湯</u></p>
<p>獨活（一錢）　桑寄生（八分）　杜仲（一錢）　牛膝（一錢）　細辛（七分）　秦艽（一錢）　白茯苓（一錢）　白芍（一錢，酒炒）　肉桂（六分）　川芎（八分）　防風（七分）　人參（八分）　炙甘草（七分）　熟地（一錢）　當歸（一錢）　共為粗末，水煎服。</p>
<h3>產後遍身疼痛</h3>
<p>產後遍身疼痛，因早勞動行走，致氣血升降失常，留滯於關節間，筋脈牽引，或手足拘攣，不能伸屈，故遍身肢節作疼，宜趁痛散。惡露不淨，流於遍身肢節，腰腳關節等處作痛，宜如神湯。</p>
<p><u>趁痛散</u></p>
<p>　治敗血流經。</p>
<p>當歸（一錢）　肉桂（八分）　白朮（一錢，炒）　牛膝（一錢）　黃　（一錢）　獨活（八分）　薤白（一錢）　寄生（一錢）</p>
<p>薑三片，水煎服。</p>
<p><u>如神湯</u></p>
<p>　治肢節疼痛。</p>
<p>厚朴（一錢，炒）　半夏（六分）　枳殼（七分，炒）　白芍（八分，炒）　木香（六分）　肉桂（六分）　陳皮（六分）　茯苓（六分）　人參（六分）　甘草（五分）　蒼朮（一錢，炒）　茴香（一錢，炒）　香附（七分，醋炒）　桔梗（八分）　乾薑（六分）　川芎（七分）　當歸（一錢）　白芷（八分）木瓜（六分）　桃仁（六分）</p>
<p>水煎服。</p>
<h3>產後氣喘</h3>
<p>產後氣喘，由營血暴竭，氣無所主，觸發於肺，故至喘急也。此孤陽絕陰，難以治療，十死一生之證也。若敗血停滯，上逆於肺作喘者，奪命丹主之。鄭氏謂產後發喘，最為危險。經曰：諸喘皆凶。然此亦當視其有痰無痰，痰之多少，以斷其吉凶。若痰壅盛而喘，痰聲必大作，此痰犯肺金，肺不寧也。法當豁痰，其喘自定，其喘猶可救，旋覆花湯主之。惡露未盡者，加生薑自然汁，及行血消食藥。已淨而小腹不痛者，加片芩服之。若不咳而喘者，此謂肺火所迫，乃真喘也。證多不治，不必下藥。</p>
<h3>產後呃忒</h3>
<p>產後發呃，此症不宜見之，新產須辨症施治。如惡露未淨者，多是血迷上衝所致，當服行血之藥。已淨而呃者，多因受寒也，法當順氣調脾，如紫蘇飲之類。</p>
<h3>產後嘔吐</h3>
<p>產後嘔惡，胃氣不化也，惡露未行者，二陳、四物加減活血藥。若已行者，不必活血，若胸滿而嘔逆者，食也，宜消導之。如飲食入胃而即嘔者，火也。納穀少頃嘔出者。胃寒也，宜白蔻、丁香之類治之。</p>
<h3>產後吞酸</h3>
<p>產後吞酸者少見，或因病久脾胃虛弱，致有此患耳。如惡露淨後，二陳湯或四物湯，加薑汁炒黃連、吳茱萸之類。</p>
<h3>產後不語</h3>
<p>產後噤口不語，乃敗血裹迷心竅所致，不須恐怖，但服八珍散，一月自安。亦有痰迷心竅者二陳、四物，加竹瀝薑汁甚妙。如產後著風不語，小續命湯主之，加薑汁，其法最穩而取效亦速。</p>
<h3>產後頭痛</h3>
<p>產後頭痛，有氣血虛弱、痰厥、著寒著風之不同，不可一例而施治。氣血虛弱者，四物湯。</p>
<p>痰厥者二陳湯。著寒著風者，芎蘇飲，隨症加減。有產後感於異症，手足牽搐，切牙頭痛昏冒，先服四物，後服秦艽丸。</p>
<p><u>芎蘇飲</u></p>
<p>川芎　蘇葉　枳殼　前胡　葛根　木香　桔梗　甘草　陳皮　半夏薑三片，水煎服。</p>
<p><u>秦艽丸</u></p>
<p>川芎　當歸　秦艽　荊芥共為末，醋糊丸，每服四錢。</p>
<h3>產後胞損</h3>
<p>產後胞損，血水淋漓，茅根湯。敗血不止，淋漓不休，烏金散。血不止，久而四肢乏力沉困，牡蠣散。或產時穩婆誤損其尿胞，以致日夜淋漓者，參朮膏主之。</p>
<p><u>茅根湯</u></p>
<p>茅根（二錢）　瞿麥（錢半）　葵子（二錢）　茯苓（錢半）　人參（一錢）　蒲黃（一錢）　桃膠（一錢）　滑石（錢半）　半夏（三分）　石膏（一錢）　紫貝（一個，燒）</p>
<p>燈心，薑水煎服。</p>
<p><u>烏金散</u></p>
<p>麒麟竭（一兩）　百草霜（一兩）　元胡（一兩）　當歸（一兩）　男發灰（一兩）　鯉魚鱗（一兩）　肉桂（一兩）　赤芍（一兩）　松墨（醋浮　，一兩）</p>
<p>為末每服二錢，空心酒下。</p>
<p><u>牡蠣散</u></p>
<p>牡蠣粉（二錢）　川芎（一錢）　茯苓（一錢）　熟地（一錢）　龍骨（二錢）　續斷（一錢）　當歸（一錢）　艾葉（一錢，酒炒）　人參（一錢）　五味（十粒）　地榆（一錢）　甘草（五分）</p>
<p>薑三片，大棗二枚，水煎服。</p>
<p><u>參朮膏</u></p>
<p>人參一斤，白朮一斤，煎成膏子，每用三錢，白湯下。</p>
<h3>產後小便不利</h3>
<p>產後小水不通，四物湯去生地。加赤苓、木通。又法：用炒鹽一撮，麝香少許拌勻，填產婦臍內，外以蔥頭十余莖，縛作一束，切片如餅子樣，須手指濃，先將鹽麝二物納臍中，後將蔥餅加於其上，用艾炷與蔥餅一樣大灸之，待熱氣入腹方止，其小便自通矣。</p>
<p>有大小便俱閉而惡露不行者，服行血藥，惡露已淨，用四物湯，黃芩、山梔、枳殼、木通、赤苓之類。如惡露不行，大便瀉而小便閉者，但可服五苓散，加行血藥，如赤芍、紅花、元胡索等類，不可服胃苓湯，蓋蒼朮、厚朴能止血故也。</p>
<h3>產後衄血</h3>
<p>產後氣消血敗，營衛不理散亂，流入諸經，不得還元，故口鼻黑氣起。及變鼻衄，因產後虛極，變為此症，則胃絕肺敗，多至不救，用犀角地黃湯，或可挽回百一。</p>
<p>犀角　生地　白芍　丹皮水煎服。</p>
<h2>卷八</h2>
<h3>產後無乳</h3>
<p>婁氏曰：累經產而無乳汁者，亡津液故也，須服滋補之藥以動之。若雖有乳汁，而又不甚多者，須服通經之藥以動之。仍羹　引之。蓋婦人之乳，資於衝脈，與胃經通故也。大抵婦人素有疾，在衝任經者，乳汁少而其色帶黃，所食之子，怯弱多病。又曰：乳汁不行，有氣血盛而壅閉不行者，有氣血弱澀而不行者。虛當補之，實當疏之。疏用通草、漏蘆、土瓜之類，補用盅乳粉、豬蹄、鯽魚之屬。</p>
<p><u>云台立效方</u></p>
<p>元米（半合）　萵苣子（半合）　生甘草（五錢）</p>
<p>上煎汁一升，去渣分作三服，乳汁立下。</p>
<p><u>涌泉散</u></p>
<p>　治婦人乳汁絕少。</p>
<p>瞿麥穗　麥冬　龍骨　山甲（炙）　王不留行上為細末，每服一錢，熱酒調下，後服豬蹄湯，再用油木梳於左右乳上，各梳二三十梳，每日三服。</p>
<p>胎前乳汁自出者，謂之乳泣，又名乳注。生子多不育，產後乳汁自出，蓋是體虛，宜服補藥以止之。亦有乳多急痛而出者，溫帛熨之，漏蘆散亦可。</p>
<p><u>漏蘆散</u></p>
<p>漏蘆（二錢半）　蛇殼（一條）　栝蔞（十只）</p>
<p>為末，酒調服二錢。</p>
<h3>產後崩淋帶下</h3>
<p>產後崩淋，及赤白帶下者，皆因七情內傷，或下元虛弱。王叔和曰：始病血崩，久則血少亡陽，故白滑之物，下流不止，是本經血海先枯，津液消亡干涸，不能交養筋骨。用藥之法，須以本部行經藥，為引為使，用辛甘油膩之物，潤其枯涸，而滋益津液，以大辛熱之藥，裨補陽道，生其血脈，以寒苦之物瀉其肺，以人參補之，微苦濕藥佐之，以治此症之大法也。</p>
<p>崩中者，由臟腑傷損衝任二脈，氣虛血虛之故，此二脈為經裡之海，氣血之行，外循經絡，內榮臟腑，腑因衝任二脈之氣傷虛極，不能約制厥經之血，故忽然而下，謂之崩中暴下，治當大補氣血之藥，舉養脾胃，微加提鎮墜下心火之藥，宜補心瀉火湯，血自止矣。凡淋帶之症，俱是痰積流下，滲入膀胱而成也，治宜升提，以提其氣下陷，用二陳加二術。肥人多濕痰，加半夏、南星、炒黃柏、川芎、椿皮、青黛。瘦人多火，加黃柏、椿皮、海石、滑石、蛤粉。赤白兼下，加炒蔓荊子末，酒調下二錢。</p>
<h3>產後陰脫</h3>
<p>婁全善曰：產後陰脫者，因產時努力太過，以致陰脫，狀若脫肛，陰戶挺出，逼近腫痛，舉重房勞，皆能致此。清水續續，小便淋漓，用硫黃、烏賊骨各五錢，五味一分為末，敷患處。兼服參、　、歸、草、升麻等補藥自愈。</p>
<p>丹溪治一婦人，三十余歲生女，二日後，產戶一物如手帕，下有帕尖。因思之，此由胎前勞乏傷氣，或肝痿致此，卻喜血不甚虛，其時歲暮天寒，恐冷干壞了，急與參、　一錢，白朮五分，當歸一錢半，升麻五分，三帖，連服之即上，得汗遍身乃安。但下而沾席處，干者落一片，蓋脂膜也。食進能眠，診其脈皆澀，左略弦，視其形卻實，與白朮、白芍各五分，陳皮一錢，薑一片，連三四服遂安。</p>
<p>又一婦人產子後，陰戶中有一物，如合缽狀，有兩歧。其夫求治，予思之，此子宮也。必氣血虛弱而下墜也，遂用升麻、黃　大料二服與之。半日後，其夫復來曰：服二貼後，覺一聲響，視之，已收陰戶訖。但因經縮干著席破一塊，如掌心大黏席，其妻在家，哭泣自傷，恐損破，不能復生。予思之，此非腸胃，乃糟粕也，何駭之有?肌肉破，尚可復完，若氣血充盛，可以生滿，遂用四物東加人參，與百帖。三年後，始復生子。</p>
<h3>產後玉門腫痛</h3>
<p>凡產後陰腫，下脫內出，玉門不閉，用鍛石一升，炒極熱，湯二升，投灰中，俟溫冷澄清，坐水中以浸玉門，斯須平復如故。</p>
<p>產後玉門腫痛，用海螵蛸去甲，研細末，用雞子殼調塗，其腫立消。</p>
<p>產後玉門不斂，此氣血不足也，宜補中益氣湯，倍加升麻。</p>
<h3>產後脅痛</h3>
<p>產後脅痛，仍頑痰瘀血也。左痛為痰，右痛為血，宜補中益氣湯。頑痰在左，加白芥子。瘀血在右脅，加枳殼、柴胡。</p>
<h3>產後陰癢</h3>
<p>產後陰癢，或腫痛，此濕熱也，宜藥湯熏洗。</p>
<p>荊芥　白芷　白礬　川椒　杏仁　桔梗　細辛煎湯熏洗。</p>
<p>亦有產後陰癢，用蛇床子一兩，白礬二錢，煎湯頻洗，其癢自止。</p>
<h3>產後下血成片</h3>
<p>產後忽然下血成片，如崩狀，此因氣血大虛，脾胃又弱，以致氣血攻於脾胃，胃氣不順，則成此症，此營衛衰敗也，當和血理氣，服四物止經湯。</p>
<p>熟地　白芍　當歸　川芎　柏葉　茯苓　香附　阿膠　蒲黃　白朮　棗仁　陳皮　人參　甘</p>
<h3>產後尿胞墜下</h3>
<p>產後偶取重物，致尿胞墜落在外不收，此氣弱血冷，移取重物，努力而致傷勝，因而墜下不收。或三四月，或半年一載，不能還原者，宜服收陰散。</p>
<p>人參　白朮　甘草　肉桂　枳殼　升麻　吳萸　沉香加四物湯。</p>
<h3>絕產不育</h3>
<p>產婦生育艱難，意欲斷產，非細事也。或因生產不順，每育則鉤割。或因不正，或娼尼等，不愿孕育而欲絕胎者，每以毒藥斷之，殊不知產育雖斷，而其受病更深也，智者鑒諸。</p>
<p><u>三白丸</u></p>
<p>　治婦人不生子。</p>
<p>白芨　白蘞　白茯苓　秦艽　厚朴　當歸　吳萸　人參　肉桂　乳香（各四錢）</p>
<p>為末蜜丸，如桐子大，每服三十丸，空心酒下。</p>
<h3>產婦乳裂</h3>
<p>產婦乳裂，流脂疼痛，用秋冬繃拆茄子，瓦上　灰，白蜜調敷。</p>
<h3>產後陰戶翻出</h3>
<p>產後陰戶翻出腫痛，用鍛石煎湯，先熏後洗。</p>
<h3>產後脫發</h3>
<p>產後脫發，用申薑二兩，薔薇根一兩，煎湯刷之，即不脫矣。</p>
<h3>附婦人雜病諸方</h3>
<h4>眉毛脫落</h4>
<p>硫黃一兩，研細末，醋調塗眉間，眉毛漸出。</p>
<p>又方用白芥子三錢，半夏三錢為末，生薑汁調搽即出。</p>
<h4>女人赤鼻</h4>
<p>枇杷葉五錢去毛，山梔四錢，苦參五錢，蒼朮五錢，米泔浸，共為末，每服一錢五分，白滾湯下，其赤漸退。</p>
<h4>女白癜瘋</h4>
<p>白附子五錢，雄黃五錢，共為末，薑汁調白芥蒂蘸藥擦之，其瘋漸退。</p>
<h4>女人面上赤疵</h4>
<p>常以銀扁烘熱，日日揩之，久久自化。</p>
<h4>女人髮鬢墮落</h4>
<p>桑皮一兩，柏葉一兩，水煎七八沸，去渣頻洗。</p>
<h4>婦女頭發黃赤</h4>
<p>用生柏葉末一升，豬脂一斤，搗爛和丸如彈子大。每用以布包一丸，投米泔中化開沐之，其發漸黑。</p>
<h4>婦女齒疏</h4>
<p>用蘆甘石、寒水石等分，研細，每早擦之，忌用牙刷，久久自密。</p>
<h4>女人手裂</h4>
<p>用白果嚼爛，夜夜塗之甚妙。</p>
<h4>女人時流清涕</h4>
<p>用蓽茇研末，吹之即止。</p>
<h4>女人腳拆</h4>
<p>用生羊腿骨內水，將雞羽蘸之潤開拆處，久久自合，永不再發。</p>
<h4>女人汗</h4>
<p>硫黃、雄黃、蜜陀僧、白附子、鉛粉、滑石、光粉各等分為末，先將皂莢煮爛，擦後用藥末唾津和塗之。</p>
<h4>婦人乳癬</h4>
<p>癢不可忍，用銅碌、輕粉為末，菜油調敷，其癢漸止。</p>
<h4>女人鼻淵</h4>
<p>用藕節、川芎各等分，炒研為末，每服二錢，米飲調下。</p>
<h4>女人腦漏不止</h4>
<p>用胎發一兩，將絲綿包　存性，加入冰片、麝香、辛夷、共為末，吹入鼻中，七八次即愈。</p>
<p><u>手足繃裂洗方</u></p>
<p>麻黃（五錢）　當歸（五錢）　苦參（一兩）　蛇床子（五錢）　蕪荑（一兩）　靈仙（八錢）　防風（五錢）　荊芥（五錢）　皂莢（一兩）　（一兩）</p>
<p>煎湯熏洗。</p>
<h4>雞眼疼痛</h4>
<p>雄雞肝一具，竹片剖露，入百草霜拌勻，濕草紙煨熟食之，雞眼軟而自脫。</p>
<h4>女人鵝掌瘋</h4>
<p>蕪荑一兩，五倍子一兩，共為末，醋調敷，七日不可下水，聽其自脫，二次全愈。</p>
<h4>老婦齒敗口臭</h4>
<p>用川芎含口中，即不臭。</p>
<h4>解頤脫臼不止</h4>
<p>用生南星為末，薑汁調敷兩頰叉，一夜即止。</p>
<p><u>女金丹</u></p>
<p>　治婦人諸病。</p>
<p>金華香附十五兩，分作五宗，每宗如法五制。</p>
<p>三兩（蓬朮艾葉各一兩半，米泔浸）　三兩（元胡、川芎，各一兩半，煎湯浸）　三兩（三棱、柴胡各一兩半。醋浸）　三兩（紅花一兩半，烏梅三十枚，鹽水浸）　三兩（當歸三兩，煎湯浸）</p>
<p>春浸五日，夏浸三日，秋浸七日，冬浸十日，晒乾為末，晚米飯為丸，如桐子大，臨臥酒下。如腹痛，加檳榔、青皮各一兩半。</p>
<p><u>保產神方</u></p>
<p>當歸　川芎（各一錢半）　厚朴（七分）　枳殼（三分，炒）　黃芩（八分）　艾葉（八分）　絲子（一錢半，炒）　川貝（一錢）　羌活（五分）　荊芥（八分）　白芍（一錢二分）　甘草（五分）</p>
<p>孕婦六七個月即可服，加薑三片，水煎。</p>
<h4>女子腋臭</h4>
<p>用蚶子殼一對，將蜘蛛一個填入，扎緊，瓦上　，加雄黃七分，生礬七分，硫黃五分，密陀僧一錢，俱　存性，研細末，隔夜更衣，次早先將滾水洗，待干，即本人自便調擦立驗。</p>
<p><u>又方</u></p>
<p>用青木香二兩，醋浸夾於腋下，濕者，研末摻之。</p>
<p><u>脫骨湯</u></p>
<p>　女子纏足少痛。</p>
<p>杏仁（二錢）　桑皮（四錢）　朴硝（五錢）　乳香（一錢）</p>
<p>水煎，置足於湯，熏洗十余次，纏則不痛也。</p>
<p><u>換肌散</u></p>
<p>　治婦女瘡疥久不愈，肌膚粗裂。</p>
<p>土茯苓　銀花　荊芥　熟地　製首烏共為末，蜜丸。</p>
<p><u>大內瘡藥方</u></p>
<p>大風子肉（二兩）　冰片（三分）　麝香（三分）　細辛（二錢）　白芷（二錢）　滑石（五錢）　安息香（五錢）　芸香（三錢）　蘇合油（三錢）　川椒（三錢）</p>
<p>共為細末，以油核桃肉三兩，搗和為丸，浴後擦之。</p>
<h4>陰吹</h4>
<p>仲景曰：陰吹者，胃氣泄，陰吹而正喧。此穀氣之實氣，從溺處而泄也。治宜膏發煎。</p>
<p>豬膏（八兩）　亂髮（雞子大三枝）</p>
<p>上二味和一處煎之，發消藥成服之，病從小便出。</p>
<h4>交腸</h4>
<p>仲景曰：交腸，乃大小便易位而出也。此因醉飽房勞，或大怒氣亂，真臟氣乖，不循常度，泌別失職之所致也。治宜五苓散，或四物湯，加海金沙、木香、檳榔、木通、桃仁之類。</p>
<h4>陰疝</h4>
<p>張子和曰：婦人脾胃虛寒，氣滯不行，攻刺心腹，痛連胸脅，或因瘀血作痛，狀如黃瓜，在小腹兩旁橫骨端紋中。孰謂婦人無疝乎?治宜蟠蔥散、桃仁當歸湯。</p>
<p><u>蟠蔥散</u></p>
<p>青皮（一兩五錢）　釘皮　砂仁　（各一兩）　三棱　檳榔（各一兩）　乾薑　肉桂（各五錢）　元胡（七錢五分）　蒼朮（五錢）　甘草（一兩）</p>
<p>上為二劑，薑棗蔥煎熱服。臍下冷痛，加吳萸、茴香。</p>
<p><u>桃仁當歸湯</u></p>
<p>桃仁（二錢）　歸尾　元胡（各一錢半）　川芎　生地　赤芍（炒）　吳萸　青皮（醋炒，一錢）</p>
<p>丹皮（八分）</p>
<p>薑三片，水煎，食前服。</p>
<p><u>化氣丸</u></p>
<p>　治經行腹痛。</p>
<p>香附　青皮　陳皮　砂仁　木香　川芎　茴香上為末，曲糊丸。</p>
<p><u>異功散</u></p>
<p>　調理脾胃。</p>
<p>人參　白朮　茯苓　甘草　陳皮水煎服。</p>
<h3>附婦人修飾</h3>
<h4>粉滓面</h4>
<p>爐甘石（二兩）　白蘞（十二兩）</p>
<p>為細末，雞子清夜塗旦洗，能白。</p>
<h4>口香辟臭</h4>
<p>白蔻仁（二錢）　北細辛（二錢）</p>
<p>為末，睡時含之。</p>
<h4>唐天後澤面法</h4>
<p>（治婦女粉刺黑斑）</p>
<p>五月五日，收帶根益母草紫花者，晒乾燒灰，以商陸根搗自然汁，加好醋和搜灰作餅，炭火過收之，半年方可入面擦之。能潤肌去滯。蘇頌曰：唐天後煉益母草澤面，五月五日，采益母根苗具者，勿令著土晒乾，搗爛以面水和成丸，如雞子大，再晒乾，仍作一爐，四旁開竅，上下置火，安藥中央，大火燒一炊久，即去大火，留小火養之，勿令火絕，經一伏時出之，瓷器中研極細無聲，收用，如澡豆法，日用一方寸，每灰十兩，加水飛滑石一兩，胭脂一兩，研勻用之，一月之後，面如美玉。</p>
<h4>太真紅玉膏</h4>
<p>（名女人面脂）</p>
<p>輕粉（一兩）　杏仁（去皮，一兩）　滑石（水飛，一兩）　冰片（一分）　麝香（少許）</p>
<p>上為細末，蒸過，入冰麝再研，以雞子清調勻，洗面後塗之。旬日，膚若凝脂。</p>
<h4>悅澤面容</h4>
<p>冬瓜仁（五兩，去殼）　桃花（四兩）　白楊皮（二兩）</p>
<p>為末，米飲服方寸匕，日三服。欲白，倍加冬瓜仁。欲紅，倍加桃花。服三十日，面白如玉，五十日後，手足皆白。一方：用陳皮，去白楊皮，此宮中嘗服之劑。</p>
<h4>面生痱</h4>
<p>王瓜根搗汁，漿水和勻，入冰片少許，入夜洗面塗藥，百日後，肌膚柔嫩，痱　全除。</p>
<p><u>玉容散</u></p>
<p>　治婦女面無光彩，顏色白而不潤澤。</p>
<p>香芷（五分）　肥皂（一兩）　細辛（錢半）　甘松（二錢半）　荊芥（五錢）　木賊（三錢）　白丁香（二錢）　杏仁（三錢）　花粉（五錢）　蕤仁（五錢）　藿香葉（三錢）　天蟲（五錢）　山奈（錢半）</p>
<p>陀僧（五錢）　元明粉（三錢）　輕粉（二錢）　硫黃（一錢）　鉛粉（一兩）　蘇合油（五錢，後入）　冰片（一錢）</p>
<p>上藥共為細末，臨睡吐津調勻，擦面過夜，次日清早，用煮酒一杯，沖熱水洗去，再拍玉容粉。</p>
<h4>玉容香粉</h4>
<p>白果洛（一升，去殼打汁）　杏洛（一兩，去皮打汁）　上甘石（一兩，水飛研）　滑石（水飛，三兩）　元寸（二分）　蘇合油（五錢）　冰片（四分）　上鉛粉（一兩去鉛）</p>
<p>藥研極細末，用泉水漂去黃水，後入冰片、麝香、蘇合油，加珍珠末五分，再以胭脂水調和收貯，臨用加白蜜少許，旬日之後，面白如脂，夫婦不相識也。</p>
<h4>婦人面黑粉滓</h4>
<p>白石脂（二兩）　白蘞（十二兩）　山奈（一兩）</p>
<p>共為細末，雞子清調敷，夜塗旦洗，渣去面白。</p>
<h4>女人雀斑</h4>
<p><u>異授雀斑方</u></p>
<p>用頭生雞子一個，打破頂，去黃留白，加大疋砂一兩研細，填入雞卵內，上用綿紙封固，貯哺雞肚下哺之，待雞雛出取，先將肥皂打除面上油，後用前雞子清塗之，其斑漸去。一月之後，白玉無瑕。此方貴妃常用，乃西王母枕中方也。寶之。</p>
<p><u>又方</u></p>
<p>肥皂（四兩，去核）　甘松（一錢）　山奈（一錢）　細辛（一錢）　白芷（一錢）　丁香（一錢）　鷹糞（五錢）</p>
<p>上為末，棗肉為丸，洗面後用藥擦之，其雀斑漸除，再以玉容香粉拍之，則白而嫩亮，光彩射人。</p>
<p><u>又方</u></p>
<p>鷹糞（五錢）　山楂（五錢）　蜜陀僧（五錢）</p>
<p>為細末，將乳汁調和，夜睡擦之，一月後雀斑盡除。加蘇合四錢更妙，清早洗去。久服身香。</p>
<p>桂心　冬瓜仁　松樹皮為末，棗肉為丸，久服遍身香氣透鼻。</p>
<h4>洗面擦藥</h4>
<p>櫻桃皮　雀卵　紫背浮萍　牙皂　白梅肉研細和勻，日日洗面擦之，肌膚漸嫩。</p>
<h4>玉容肥皂</h4>
<p>白元米（一升）　肥皂（去皮核，四兩）　天花粉（八兩）　滑石（三兩）　胡桃肉（八兩）　粉葛（三兩）　白丁香（一兩）　真粉（三兩）　橄欖（四十個，去核）　北細辛（二兩）　牙皂（八兩）</p>
<p>棗肉（四兩）</p>
<p>蒼耳草搗汁，同元米飯和搗為丸，如彈子大，洗面後擦之。</p>
<h4>四精膏</h4>
<p>（治婦人身澀不滑）</p>
<p>人乳　象精　白蜜　藕汁各等分熬膏，加蘇合油調勻，浴後滿身塗之。一月之內，遍體嫩滑香潤，此宮中日用之方也。</p>
<h4>面脂手膏</h4>
<p>羊乳三斤，羊胰子三副，搗和，每夜洗面塗之，清早洗去。一月之後，手嫩面澤。</p>
<h4>面體黧黑</h4>
<p>羚羊脛骨一條為末，雞子清調敷，以米泔水洗之，夜塗旦洗，三日如素。</p>
<h4>面粗皮</h4>
<p>胰子（五具）　蕪青子（二兩）　杏仁（一兩）　花粉（一兩）</p>
<p>醇酒浸之，夜塗旦洗，每日用之，老者返少，少者嫩白。</p>
<h4>令面光澤</h4>
<p>母豬蹄一具，煮汁如膏，夜塗旦洗，婦老漸嫩如少。</p>
<h4>女人面上瘢痕</h4>
<p>白蒺黎（一兩）　山梔（一兩）</p>
<p>為末，醋調，夜塗旦洗，疤痕漸脫。</p>
<h4>面黑令白</h4>
<p>冬瓜一個，用竹刀去皮切片，勿經鐵器，酒一升半，煮爛去渣，熬成膏，夜塗旦洗，肌膚漸白。</p>
