<header><h1>證治準繩</h1></header>
<dl class="元資料" data-type="book">
<div><dt>作者</dt><dd>王肯堂</dd></div>
<div><dt>朝代</dt><dd>明</dd></div>
<div><dt>年份</dt><dd><data value="1368/1644">公元1368年至公元1644年</data></dd></div>
</dl>
