<header><h1>傷寒九十論</h1></header>
<dl class="元資料" data-type="book">
<div><dt>作者</dt><dd><data value="許叔微">許叔微述</data></dd></div>
<div><dt>朝代</dt><dd>宋</dd></div>
<div><dt>年份</dt><dd><data value="960/1279">公元960年至公元1279年</data></dd></div>
</dl>
<h2>辯桂枝湯用芍藥證（一）</h2>
<p>馬亨道。庚戌春病。發熱。頭疼。鼻鳴。惡心。自汗。惡風。宛然桂枝證也。時賊馬破儀真三日矣。市無芍藥。自指圃園。采芍藥以利劑。一醫曰。此赤芍藥耳。安可用也。予曰。此正當用。再啜而微汗解。</p>
<p>論曰。仲景桂枝加減法。十有九證。但云芍藥。聖惠方。皆稱赤芍藥。孫尚藥方。皆曰白芍藥。聖惠方。太宗朝。翰林王懷隱編集。孫兆為國朝醫師。不應如此背戾。然赤者利。白者補。</p>
<p>予嘗以此難名醫。皆愕然失措。謹案。神農本草。稱。芍藥主邪氣腹痛。利小便。通順血脈。利膀胱大小腸。時行寒熱。則全是赤芍藥也。又桂枝第九證云。微寒者去赤芍藥。蓋懼芍藥之寒也。</p>
<p>惟芍藥甘草湯一證云。白芍藥。謂其兩脛拘急血寒也。故用白芍藥以補。非此時也。素問云。澀者陽氣有餘也。陽氣有餘。為身熱無汗。陰氣有餘。為多汗身寒。傷寒、脈澀、身熱無汗。蓋邪中陰氣。故陽有餘。非麻黃不能發散。中風、脈滑、多汗、身寒。蓋邪中陽。故陰有餘。非赤芍藥不能刮其陰邪。然則桂枝用芍藥赤者明矣。當參百證歌。</p>
<h2>桂枝加附子湯證（二）</h2>
<p>有一李姓士人。得太陽。因汗後汗不止。惡風。小便澀。足攣曲而不伸。予診其脈。浮而大。</p>
<p>浮為風。大為虛。此證。桂枝湯第七證也。仲景云。太陽病。發汗。遂漏不止。其人惡風。小便難。四肢微急。難以屈伸者。桂枝加附子。三投而汗止。再投以芍藥甘草。而足得伸。數日愈。</p>
<p>論曰。仲景第十六證云。傷寒。脈浮。自汗出。小便數。心煩。微惡寒。腳攣急。反與桂枝湯以攻其表。此誤也。得之便厥。咽中干。煩躁。吐逆者。作甘草乾薑湯。若厥愈。足溫者。更作芍藥甘草湯與之。其腳即伸。若胃氣不和。譫語者。少與調胃承氣湯。蓋第七證。則為發汗。</p>
<p>漏不止。小便難。第十六證。則為自汗。小便數。故仲景於證候。紛紛。小變異。便變法以治之。</p>
<p>故於湯不可不謹。</p>
<h2>桂枝加厚朴杏子湯證（三）</h2>
<p>戊申正月。有一武弁在儀真。為張遇所虜。日夕置於舟　板下。不勝　伏。後數日得脫。因飽食。解衣捫虱以自快。次日遂作傷寒。醫者以因飽食傷。而下之。一醫以解衣中邪。而汗之。</p>
<p>雜治數日。漸覺昏困。上喘。息高。醫者愴惶罔知所指。予診之曰。太陽病。下之。表未解。微喘者。桂枝加厚朴杏子湯。此仲景法也。醫者爭曰。某平生不曾用桂枝。況此藥熱。安可愈喘。</p>
<p>予曰非汝所知也。一投而喘定。再投而　汗出。至晚。身涼而脈已和矣。醫者曰。予不知仲景之法。其神如此。豈誑惑後世也哉。人自寡學。無以發明耳。</p>
<h2>麻黃湯證（四）</h2>
<p>鄉人邱忠臣。寓毗陵荐福寺。病傷寒。予為診視。其發熱。頭疼。煩渴。脈雖浮數無力。自尺以下不至。予曰雖麻黃證。而尺遲弱。仲景云。尺中遲者。營氣不足。血氣微少。未可發汗。</p>
<p>予於建中湯。加當歸黃　。令飲之。翌日病者不耐。其家曉夜督發汗藥。其言至不遜。予以鄉人隱忍之。但以建中調理而已。及六七日。尺脈方應。遂投以麻黃湯。啜第二服。狂言煩躁且悶。須臾稍定。已中汗矣。五日愈。</p>
<p>論曰。仲景雖云不避晨夜。即宜便治。醫者亦須顧其表裡虛實。待其時日。若不循次第。雖暫時得安。虧損五臟。以促壽限。何足尚哉。昔范云為陳霸先屬。霸先有九錫之命。期在旦夕矣。</p>
<p>云偶感寒疾。恐不及豫盛事。請徐文伯診視之。懇曰。便可得愈乎。文伯曰。便瘥甚易。但恐二年後不復起爾。云曰。朝聞道夕死可矣。況二年乎。文伯以火燒地。布桃柏葉。設席置其臥上。</p>
<p>頃刻汗解。以溫粉撲之。翌日愈。甚喜。文伯曰。不足喜也。後二年果卒矣。夫取汗先期。尚促壽限。況罔顧表裡。不待時日。便欲速愈乎。每見病家不耐三四日。晝夜促汗。醫者顧利。恐別更醫。隨情順意。鮮不致斃。故書此以為龜鑒。</p>
<h2>大青龍湯證（五）</h2>
<p>何保義從王太尉軍中。得傷寒。脈浮澀而緊。予曰若頭疼。發熱。惡風。無汗。則麻黃證也。</p>
<p>煩躁。則青龍湯證也。何曰。今煩躁甚。予投以大青龍湯。三投。汗解。</p>
<p>論曰。桂枝。麻黃。青龍。皆表證發汗藥。而桂枝治汗出。惡風。麻黃治無汗。惡寒。青龍治無汗。而煩。三者皆欲微汗解。若汗多。亡陽。為虛。則煩躁不眠也。</p>
<h2>陽明可下證（六）</h2>
<p>一武弁李姓。在宣化作警。傷寒五六日矣。鎮無醫。抵郡召予。予診視之曰。脈洪大而長。</p>
<p>大便不通。身熱無汗。此陽明證也。須下。病家曰。病者年逾七十。恐不可下。予曰。熱邪毒瓦斯並蓄於陽明。況陽明經絡多血少氣。不問老壯。當下。不爾別請醫占。主病者曰。審可下。一聽所治。予以大承氣湯。半日。殊未知。診其病。察其證宛然在。予曰。藥曾盡否。主者曰。恐氣弱不禁。但服其半耳。予曰。再作一服。親視飲之。不半時間。索溺器。先下燥糞十數枚。次溏泄一行。穢不可近。</p>
<p>未離已中汗矣。　然周身。一時頃。汗止身涼。諸苦遂除。次日予自鎮歸。病患索補劑。予曰。</p>
<p>服大承氣湯得瘥。不宜服補劑。補則熱仍復。自此但食粥。旬日可也。故予治此疾。終身止大承氣。一服而愈。未有若此之捷。</p>
<p>論曰。老壯者形氣也。寒熱者病邪也。臟有熱毒。雖衰年亦可下。臟有寒邪。雖壯年亦可溫。</p>
<p>要之與病相當耳。失此。是致速斃也。謹之。</p>
<h2>陽明蜜兌證（七）</h2>
<p>庚戌仲春。艾道先染傷寒。近旬日。熱而自汗。大便不通。小便如常。神昏多睡。診其脈。</p>
<p>長大而虛。予曰。陽明證也。乃兄景先曰。舍弟全似李大夫證。又屬陽明。莫可行承氣否。予曰。</p>
<p>雖為陽明。此證不可下。仲景。陽明。自汗。小便利者。為津液內竭。雖堅不可攻。宜蜜兌導之。</p>
<p>作三劑。三易之。先下燥糞。次泄溏。已而汗解。</p>
<p>論曰。二陽明證雖相似。然自汗小便利者。不可蕩滌五臟。為無津液也。然則傷寒大證相似。</p>
<p>脈與證稍異。通變為要。仔細斟酌。正如以格局看命。雖年月日時皆同。貴賤窮通不相侔者。於一時之頃。又有淺深也。</p>
<h2>腎虛陽脫證（八）</h2>
<p>朱保義撫辰。庚戌春。權監務。予一日就務謁之。見擁爐忍痛。若不禁狀。予問所苦。小腸氣痛。求予診之。予曰。六脈虛浮而緊。非但小腸氣。恐別生他疾。越數日再往。臥病已五日矣。</p>
<p>入其室。見一市醫孫尚者供藥。予診之曰。此陰毒證。腎虛陽脫。脈無根蒂。獨見於皮膚。黃帝所謂懸絕。仲景所謂瞥如羹上肥也。早晚喘急。未幾而息已高矣。孫生尚與朮附湯。灸臍下。予曰。</p>
<p>雖盧扁之妙無及矣。是夕死。故論傷寒以真氣為主。</p>
<p>論曰。傷寒不拘陰證陽證。陰毒陽毒。要之真氣強壯者易治。真氣不守。受邪才重。便有必死之道。何也。陽證宜下。真氣弱。則下之便脫。陰證宜溫。真陰弱。溫之則客熱便生。故醫者難於用藥。非病不可治也。主本無力也。經曰。陽勝則身熱。腠理閉。喘粗。為之俯仰。汗不出而熱。齒干。以煩冤腹滿死。陰勝則身寒。寒則厥。厥則腹滿死。帝曰。調此二者奈何。岐伯曰。</p>
<p>女子二七天癸至。七七止。男子二八精氣溢。八八止。婦人月事。以時下。故七欲損也。男子精。</p>
<p>欲滿不欲竭。故八欲益也。如此則男婦身常無病。無病精氣常固。雖有寒邪。易於調治。故曰二者可調。是知傷寒真氣壯者易治也。</p>
<h2>臍中出血證（九）</h2>
<p>一婦人得傷寒數日。咽乾。煩渴。脈弦細。醫者汗之。其始衄血。繼而臍中出血。醫者驚駭而遁。予曰少陰強汗之所致也。蓋少陰不當發汗。仲景云少陰強發汗。必動其血。未知從何道而出。或從口鼻。或從耳目。是為下厥上竭。此為難治。仲景云無治法。無藥方。予投以薑附湯。</p>
<p>數服。血止。後得微汗愈。</p>
<p>論曰。本少陰證。而誤汗之。故血妄行。自臍中出。若服以止血藥。可見其標。而不見其本。</p>
<p>予以治少陰之本。而用薑附湯。故血止而病除。</p>
<h2>陰中伏陽證（十）</h2>
<p>鄉人李信道。權獄官。得病。六脈俱沉不見。深按至骨。則弦細有力。頭疼。身溫。煩躁。</p>
<p>手指末皆冷。中滿。惡心。更兩醫矣。而醫者不曉。但供調藥。予往視之曰。此陰中伏陽也。仲景方無此證。而世人患者多。若用熱藥以助之。則陰邪隔絕。不能引導其陽。反生客熱。用寒藥。</p>
<p>則所伏真火。愈見銷鑠。須是用破陰丹。行氣導水。奪真火之藥。使火升水降。然後得汗而解。</p>
<p>予令以冷鹽湯。下破陰丹三百丸。作一服。不半時煩躁狂熱。手足漸溫。譫語躁擾。其家甚驚。</p>
<p>予曰汗證也。須臾稍寧。略睡。　然汗出。自　達旦方止。身涼而病除。（破陰丹方。硫黃水銀各一兩。結沙子青皮半兩。為末。面糊。和丸桐子大。每服三十丸。冷鹽湯送下。出中臟經方脈舉要。）</p>
<h2>傷寒暴死證（十一）</h2>
<p>己未歲。一時官病傷寒。發熱狂言煩躁。無他惡證。四日死。或者以為兩感。然其證初無兩感證候。是歲得此疾。三日四日死者甚多。人竊怪。予嘆之。曰是運使然也。己為土運。土運之歲。上見太陰。蓋太乙天符為貴人。中執法者。其病速而危。中行令者。其病徐而持。中貴人者。</p>
<p>其病暴而死。謂之異也。又曰臣為君則逆。逆則其病危。其害速。是年少宮土運。木氣大旺。邪中貴人。故多暴死。氣運當然。何足怪也。</p>
<h2>夜間不眠證（十二）</h2>
<p>陳姓士人。初得病。身熱。脈浮。自汗。醫者麻黃湯汗之。發熱愈甚。夜間不得眠。頭重。</p>
<p>煩悶。悸悸然。中風證強責汗之過也。仲景云太陽病。發汗後。大汗出。胃中干燥。不得眠。其人欲得飲水者。少少與之。令胃氣和則愈。予先與豬苓湯。次投之以當歸。地黃。麥門冬。芍藥。烏梅之類為湯。飲之。不汗而愈。</p>
<p>論曰。黃帝針經曰。衛氣者晝行陽。夜行陰。衛氣不得入於陰。常行於外。行於外則陽滿。</p>
<p>滿則陽蹺盛而不得入於陰。陰虛則夜不得眠也。今津液內竭。胃中干燥。獨惡於陽。陰無所歸。</p>
<p>其候如此。故以當歸。地黃補血。用烏梅以收之。故不汗自愈。</p>
<h2>大柴胡湯證（十三）</h2>
<p>羽流蔣尊病。其初心煩喜嘔。往來寒熱。醫初以小柴胡湯與之。不除。予診之曰。脈洪大而實。熱結在裡。小柴胡安能除也。仲景云傷寒十余日。熱結在裡。復往來寒熱者。與大柴胡。二服而病除。</p>
<p>論曰。大黃為將軍。故蕩滌濕熱。在傷寒為要藥。今大柴胡湯不用。誠誤也。王叔和曰。若不加大黃。恐不名大柴胡。須是酒洗生用。乃有力。昔後周姚僧坦名善醫。上因發熱。欲服大黃。</p>
<p>僧坦曰。大黃乃是快藥。至尊年高。不宜輕用。上弗從。服之。遂不起。及至元帝有疾。諸醫者為至尊至貴不可輕服。宜用平藥。僧坦曰。脈洪而實。必有宿食。不用大黃。病不能除。上從之。</p>
<p>果下宿食而愈。此明合用與不合用之異也。</p>
<h2>陽明急下證（十四）</h2>
<p>鄉裡豪子得傷寒。身熱。目痛。鼻干。不眠。大便不通。尺寸俱大。已數日矣。自昨夕汗大出。予曰。速以大柴胡下之。眾醫駭然。曰。陽明自汗。津液已竭。當用蜜兌。何故用大柴胡藥。</p>
<p>予曰。此仲景不傳妙處。諸公安知之。予力爭。竟用大柴胡。兩服而愈。</p>
<p>論曰。仲景論陽明云。陽明病。多汗者。急下之。人多謂己自汗。若更下之。豈不表裡俱處也。論少陰云。少陰病一二日。口乾燥者。急下之。人多謂病發於陰。得之日淺。但見干燥。若更下之。豈不陰氣愈盛也。世人罕讀。予以為不然。仲景稱急下之者。亦猶急當救表。急當救裡。</p>
<p>凡稱急者。急下之。有三處。才覺汗出。多。未至津液干燥。速下之。則為徑捷。免致用蜜兌也。</p>
<p>蓋用蜜兌。已是失下。出於不得已耳。若胸中識得了了。何疑殆之有哉。</p>
<h2>傷寒自解證（十五）</h2>
<p>閩人李宗古得疾。口中氣熱。唇干。屈體臥。足冷。舌上有苔。予診之。尺寸俱緊。或者謂氣熱口乾。疑其陽勝。蜷足臥。足冷。疑其陰勝。而又陰陽俱緊。是誠可疑也。若不熟讀仲景方法。何能治。予曰尺寸俱緊。是寒邪勝也。仲景云陰陽俱緊。法當清。邪中於下焦。又云陰陽俱緊。口中氣出。唇干舌燥。蜷臥。足冷。鼻中涕出。舌上苔滑。勿妄治也。到七日以來。其人發熱。手足溫者。此為欲解。蓋以上證候。皆是陰盛陽弱。故仲景云勿妄治者。誠恐後人之疑也。</p>
<p>故予以抑陰助陽溫劑與之。緊脈漸退。四體和。不汗而自解矣。</p>
<h2>熱入血室證（十六）</h2>
<p>辛亥二月。毗陵學官王仲景妹。始傷寒。七八日。　寒。喉中涎響如鋸。目瞑不知人。病勢極矣。予診之。詢其未　寒以前證。母在側曰。初病四五日。夜間譫語。如見鬼狀。予曰。得病之初。正值經候來否。答曰經水方來。因身熱病作而自止。予曰。此熱入血室也。仲景云婦人中風發熱。經水適來。晝日明了。夜則譫語。發作有時。此為熱入血室。醫者不曉。例以熱藥補之。遂致胸膈不利。三焦不通。涎潮上脘。喘急息高。予曰。病熱極矣。先當化其涎。後當除其熱。無汗而自解矣。予急以一呷散投之。</p>
<p>兩時間。涎定得睡。是日遂省人事。自次日以小柴胡東加生地黃。三投熱除。無汗而解。</p>
<h2>筋惕肉證（十七）</h2>
<p>鄉裡市人姓京。鬻繩為業。謂之京繩子。其子年近三十。初得病。身微汗。脈弱。惡風。醫者誤以麻黃湯汗之。汗遂不止。發熱。心痛。多驚悸。夜間不得眠臥。譫語。不識人。筋惕肉　。</p>
<p>振振動搖。醫者以鎮心驚風藥治之。予視之曰。強汗之過也。仲景云脈微弱。汗出惡風者。不可服青龍湯。服之則筋惕肉　。此為逆也。惟真武湯可收之。仲景云太陽病發汗。汗出不解。其人仍發熱。心下悸。身　動。振振欲擗地者。真武湯主之。予三投而大病除。次以清心丸竹葉湯解余毒。數日瘥。</p>
<h2>陽明當下證（十八）</h2>
<p>鄉人李生。病傷寒。身熱。大便不通。煩渴鬱冒。一醫以巴豆丸下之。雖得溏利。而病宛然如舊。予視之曰。陽明熱結在裡。非大柴胡承氣不可。巴豆止去寒積。豈能蕩滌邪熱溫毒耶。亟進大柴胡。三服而溏利止。中夜汗解。</p>
<p>論曰。仲景一百十三方。丸者有五。理中。陷胸。抵當。麻仁。烏梅也。理中。陷胸。抵當。</p>
<p>皆大彈丸。煮化而服之。與湯散無異。至於麻仁治脾約。烏梅治濕　。故須小丸達下部。其他皆入經絡。逐邪毒。破堅癖。導血潤燥屎之類。必憑湯劑也。未聞巴豆小丸以下邪毒。且如巴豆性熱大毒。而病熱人服之。非徒無益。而為害不小矣。李生誤服不死。其大幸歟。</p>
<h2>桂枝加葛根湯證（十九）</h2>
<p>庚戌。建康徐南強。得傷寒。背強。汗出。惡風。予曰。桂枝加葛根湯證。病家曰。他醫用此方。盡二劑而病如舊。汗出愈加。予曰。得非仲景三方乎。曰然。予曰。誤矣。是方有麻黃。</p>
<p>服則愈見汗多。林億謂止於桂枝加葛根湯也。予令生而服之。微汗而解。</p>
<h2>葛根湯證（二十）</h2>
<p>市人楊姓者。病傷寒。無汗。惡風。項雖屈而強。醫者以桂枝麻黃各半湯與之。予曰。非其治也。是謂項強KT　KT　。葛根證也。三投。　然微汗解。翌日項不強。脈已和矣。</p>
<p>論曰。何謂KT　KT　。如短羽鳥之狀。雖屈而強也。謝復古謂病患羸弱。須憑幾而起。非是。此與成氏解不同。</p>
<h2>剛證（二十一）</h2>
<p>宣和戊戌。表兄秦云老病傷寒。身熱。足寒。頸項螈　。醫作中風治。見其口噤故也。予診其脈實而有力。而又腳攣。嚙齒。大便不利。身燥無汗。予曰。此剛　也。先以承氣湯下之。次以續命湯調之。愈矣。</p>
<p>論曰。五常政大論曰。赫曦之紀。上羽與正徵同。其收齊。其病　。蓋戌太陽寒水羽也。戊火運。正徵也。太過之火。上見太陽。則天氣且剛。故其收齊。而人病　者。過氣然耳。火木遇故年病。此證多剛　。</p>
<h2>厥陰證（二十二）</h2>
<p>裡中一中表病。渴甚。飲水不止。胸中熱疼。氣衝心下。八九日矣。醫者或作中　。或作賁豚。予診之曰。證似厥陰。曾吐蟲否。曰昨曾吐蛔。予曰。審如是。厥陰證也。可喜者脈來沉而緩遲耳。仲景云厥陰。為病消渴。氣上撞心。飢不欲食。食則吐蛔。又曰厥陰病。渴欲飲水者。</p>
<p>少少與之愈。今病患飲水過多。乃以茯苓甘草白朮桂枝湯治之。得止。後投以烏梅丸。數日愈。</p>
<p>論曰。病至厥陰。若太陽傳者。三陰三陽皆已遍。惟恐脈強。則肝邪盛。脾土受克。故舌卷囊縮而死。今脈來遲緩而沉。則土脈得氣。脾不受克。故有可喜之道。仲景云衛氣和。名曰緩。</p>
<p>營氣和。名曰遲。遲緩相搏。名曰沉。又曰寸口脈。緩而遲。緩則陽氣長。其色鮮。其顏光。其聲商。遲則陰氣盛。骨髓滿精血生。肌肉緊。營衛俱行。剛柔相濟。豈非安脈耶。</p>
<h2>太陰證（二十三）</h2>
<p>曹生初病傷寒。六七日。腹滿而吐。食不下。身溫。手足熱。自利。腹中痛。嘔。惡心。醫者謂之陽多。尚疑其手足熱。恐熱蓄於胃中而吐嘔。或見吐利而為霍亂。請予診。其脈細而沉。</p>
<p>質之。曰太陰證也。太陰之為病。腹滿而吐。食不下。自利益甚。時腹自痛。予止以理中丸。用仲景云如雞子黃大。晝夜投五六枚。繼以五積散。數日愈。</p>
<p>論曰。予見世醫論傷寒。但稱陰證陽證。蓋仲景有三陰三陽。就一證中又有偏勝多寡。須是分明辯質。在何經絡。方與證候相應。用藥有準。且如太陰少陰。就陰證中。自有補瀉。豈可止謂之陰證也哉。</p>
<h2>太陽中證（二十四）</h2>
<p>毗陵一時官得病。身疼痛。發熱。體重。其脈虛弱。人多作風濕。或作熱病。則又疑其脈虛弱不敢汗也。已數日矣。予診視之。曰中　證也。仲景云太陽中　者。身熱體疼。而脈微弱。此以夏月傷冷水。水行皮中所致也。予以瓜蒂散。治之。一呷而愈。</p>
<p>論曰。仲景論　有三證。一則汗出。惡寒。身熱而渴。此太陽經中　也。一則發熱惡寒。身疼痛。其脈弦細芤遲。一則夏月傷冷水。水行皮中。身熱。疼痛重而脈微弱。不可下。不可行溫針。上二證皆宜用白虎加人參湯。後一證宜用瓜蒂散方治。不見於本論。而見於金匱要略。其脈證云。治太陽中　。身熱。疼痛。而脈微弱者。夏月傷冷水。水行皮中所致。宜瓜蒂散。蓋謂此也。</p>
<h2>指甲黑青證（二十五）</h2>
<p>乾明僧人。病傷寒。目赤。頗渴。咽乾。飲水無　。腰疼。身熱。脈沉而微細。此少陰證也。</p>
<p>恣縱不慎忌。乃飲水。遂致痞氣。痞氣結聚。身如被杖。數日變為陰毒矣。脈見於皮膚上。大而且虛。鼻中如煙煤。甲青。須臾發喘。是夕死。</p>
<p>論曰。扁鵲云手足爪下青黑者死。宋迪陰證訣云。陰毒盛。則指甲黑青。病至此則為不治。</p>
<h2>瞪目直視證（二十六）</h2>
<p>田仲容得傷寒。數日。身熱。手足時厥。腹滿。瞪目直視。狂言不識人。予診之曰。不可治也。心腎俱絕矣。夜死。</p>
<p>論曰。仲景云直視搖頭。此為心絕也。又曰狂言。反目直視。此為腎絕也。目者五臟精華之所聚。今直視而不　。則知五臟有死絕矣。故不治。</p>
<h2>舌卷囊縮證（二十七）</h2>
<p>句容縣豪子李姓。初得傷寒。手足冷。氣上衝心。飢不欲食。脈緊而弦。予診曰。厥陰悉具。</p>
<p>脈有刑克。最忌舌卷囊縮。翌日卷舌而死。</p>
<p>論曰。內經云。厥陰者肝也。肝者筋合之。筋者聚於陰器。絡於舌本。厥陰之氣。故舌卷而囊縮也。</p>
<h2>循衣摸床證（二十八）</h2>
<p>儀真一婦。病傷寒。八九日。發熱。昏悶不識人。手循衣縫。摸床。譫語。不識人事。他醫不識。或汗或利。旬日增甚。予診之曰。此脈澀而小便不利。不可治也。翌日死。</p>
<p>論曰。華佗云。病患循衣摸床譫語。不可治。仲景云傷寒。吐下後不解。不大便。五六日。</p>
<p>發潮熱不識人。循衣。撮空。微喘。直視。脈弦者生。脈澀者死。又云小便利者可治。今脈澀。</p>
<p>小便不利。見其兩死。不見一生。吾莫能為也。</p>
<h2>邪入大經證（二十九）</h2>
<p>維揚謝康中。任儀真酒官。咽乾。煩渴。腰疼。身熱。脈細而微急。予診視之曰。此真少陰證也。</p>
<p>六經之中。少陰難治。少陰病傳之經絡。此證有補瀉法。仲景瀉者用承氣。補者用四逆。誤之則相去遠矣。此證當溫。勿以水證為疑也。予適以事出境。後七日歸。則為他醫汗之矣。經絡既虛。</p>
<p>邪毒流入大經之中。手足螈　。如驚癇狀。其家野狼狽求救。予曰。不可治也。予驗此甚多。是謂邪入大經。不旋踵。其家已哭矣。</p>
<h2>太陽桂枝證（三十）</h2>
<p>鄉人吳德甫得傷寒。身熱自汗。惡風。鼻出涕。關以上浮。關以下弱。予曰。此桂枝證也。</p>
<p>仲景法中第一方。而世人不究耳。使公服之。一啜而微汗解。翌日諸苦頓除。公曰仲景法如此徑捷。世人何以不用。予應之曰仲景論表證。一則桂枝。二則麻黃。三則青龍。桂枝則治中風。麻黃治傷寒。青龍治中風見寒脈。傷寒見風脈。此三者人皆能言之。而不知用藥對證之妙處。故今之醫者多不喜用。無足怪也。且脈浮而緩。中風也。故嗇嗇惡寒。淅淅惡風。翕翕發熱。仲景以桂枝對之。脈浮緊而澀。傷寒也。故頭痛發熱。身疼腰痛。骨節皆疼。惡風。無汗而喘。仲景以麻黃對之。至於中風脈緊。傷寒脈浮緩。仲景皆以青龍對之。何也。予嘗深究三者。審於證候。</p>
<p>脈息。相對用之。無不應手而愈。何以言之。風傷衛。衛。氣也。寒傷營。營。血也。營行脈中。</p>
<p>衛行脈外。風傷衛。則風邪中於陽氣。陽氣不固。發越而為汗。是以汗出而表虛。故仲景用桂枝以發汗。芍藥以利其血。蓋中風病在脈之外。其病稍輕。雖同曰發汗。特解肌之藥耳。故桂枝證云。令遍身　。微似有汗者。益佳。不可如水淋漓。病必不除。是知中風不可大發其汗。發其汗。反動營血。邪乘虛而居中。故病不除也。寒傷營。則寒邪干於陰血。而營行脈中者也。寒邪客於脈中。非特營受病也。邪自內作。則並於衛氣犯之。久則浸淫及骨。是以汗不出而熱煩冤。仲景以麻黃大發其汗。又以桂枝辛甘助其發散。</p>
<p>欲捐其內外之邪。營衛之病耳。大抵二藥皆發汗。而桂枝則發衛之邪。麻黃並衛與營而治之。仲景桂枝第十九證云。病常自汗出者。此為營氣和。營氣和者外不諧。以衛氣不共營氣和諧故耳。</p>
<p>營行脈中。衛行脈外。復發其汗。營衛和。則愈。宜桂枝湯。又第四十七證云。發熱汗出者。此謂營弱衛強。故使汗出。欲救風邪。宜桂枝湯。是知中風汗出者。營和而衛不和也。又第一卷云。</p>
<p>寸口脈浮而緊。浮則為風。緊則為寒。風則傷衛。寒則傷營。營衛俱病也。麻黃湯中。並桂枝而用。此仲景之意歟。至於青龍。雖治傷寒見風脈。傷風見寒脈。然仲景云汗出惡風。不可服之。</p>
<p>服之則厥逆。筋惕肉　。故青龍一證尤難用。須是形證的當。然後可行。王　大夫證治中。止用桂枝麻黃各半湯代之。蓋慎之也夫。</p>
<h2>桂枝證（三十一）</h2>
<p>裡間張太醫家一婦。病傷寒。發熱。惡風。自汗。脈浮而弱。予曰。當服桂枝。彼云家有自合者。予令三啜之。而病不除。予詢其藥中用肉桂耳。予曰。肉桂與桂枝不同。予自治以桂枝湯。</p>
<p>一啜而解。</p>
<p>論曰。仲景論用桂枝者。蓋取桂枝輕薄者耳。非肉桂之肉濃也。蓋肉桂濃實。治五臟用之。</p>
<p>取其鎮重。桂枝清輕。治傷寒用之。取其發散。今人一例。是以無功。</p>
<h2>少陰證（三十二）</h2>
<p>有人病傷寒數日。自汗。咽喉腫痛。上吐下利。醫作伏氣。予診之曰。此證可疑。似是之非。乃少陰也。其脈三部俱緊。安得謂之伏氣。伏氣脈必浮弱。謂非時寒冷。著人肌膚。咽喉先痛。次下利者是也。近雖有寒冷不時。然當以脈證為主。若誤用藥。其斃可待。予先以吳茱萸湯救之。</p>
<p>次調之以諸藥而愈。</p>
<p>論曰。仲景論伏氣之病。其脈微弱。喉中痛。似傷寒非喉痹也。實咽中痛。今復下利。仲景少陰云。病患手足俱緊。反汗出者亡陽也。此屬少陰證。法當咽痛而復吐利。此證見少陰篇。今人三部脈俱緊。而又自汗。咽痛下利。與伏氣異。然毫厘之差。千裡之謬。須講熟此書。精詳分別。庶免疑惑矣。</p>
<h2>少陽證（三十三）</h2>
<p>市人周姓者。同裡俱病頭痛發熱。耳聾目赤。胸中滿悶。醫中見外證胸滿。遂吐之。既吐後病宛然在。又見其目赤發熱。復利之。病不除。惴惴然恂栗。予診視之。曰少陽誤吐下之過也。</p>
<p>仲景少陽中風。兩耳無聞。目赤。胸滿而煩者。不可吐下。吐下則驚而悸。此當用小柴胡湯。今誤吐下。遂成壞證矣。乃以牡蠣四逆湯調於前。繼之以桂枝柴胡各半湯。旬日瘥。</p>
<p>論曰。仲景雖云三陽受病。未入於臟者。可汗。然少陽脈弦細。則不可汗。將入少陰經也。</p>
<p>若誤吐下之。是逆之。且當以救逆。先待驚悸定。後治余證。此所謂急其所當先也。</p>
<h2>兩感證（三十四）</h2>
<p>族弟初得病。頭痛口乾煩渴。第三日。予往視之。則已耳聾囊縮。昏冒不知人。厥逆。水漿不下矣。予曰。速治後事。是謂兩感證。不可治矣。越三日死。</p>
<p>論曰。仲景論傷寒兩感云。凡傷於寒。熱雖甚不死。若兩感於寒而病者必死。又曰兩感病俱作。治有先後。發表攻裡。本自不同。既云必死。又云治有先後。何也。大抵此病。表裡雙傳。臟腑俱病。患此者十無一生。故云必死。然仲景豈以己見而重誣後人哉。故有發表攻裡之說。以勉後人。恐萬世後遇大聖而得之。不欲絕望於後人。仲景之心仁矣。</p>
<h2>三陽合病證（三十五）</h2>
<p>有市人李九妻。患腹痛。身體重。不能轉側。小便遺失。或作中濕治。予曰。非是也。三陽合病證。仲景云。見陽明篇第十證。三陽合病。腹滿。身重難轉側。口不仁。面垢。譫語。遺尿不可汗。汗則譫語。下則額上汗出。手足逆冷。乃三投白虎湯而愈。</p>
<h2>白虎加人參湯證（三十六）</h2>
<p>從軍王武經病。始嘔吐。俄為醫者下之。已八九日。而內外發熱。予診之曰。當行白虎加人參湯。或云既吐復下。是裡虛矣。白虎可行乎。予曰。仲景云見太陽篇二十八證。若下後。七八日不解。熱結在裡。表裡俱熱者。白虎加人參湯。證相當也。蓋吐者為其熱在胃脘。而脈致令虛大。三投而愈。</p>
<p>論曰。仲景稱傷寒若吐下後七八日不解。熱結在裡。表裡俱熱者。人參白虎湯主之。又云傷寒脈浮無汗。發熱不解。不可與白虎湯。又云脈滑。為表有熱。裡有寒。白虎湯主之。國朝林億校正。謂仲景此法必表裡字差矣。是大不然。大抵白虎能除傷寒中　。表裡發熱。故前後證或云表裡俱熱。或云表熱裡寒。</p>
<p>皆可服之。宜也。中一證。稱表不解不可服者。以其宜汗發熱。此全是傷寒麻黃與葛根湯證。安可行白虎。林但見所稱表裡不同。便謂之差。是亦不思不精之過也。</p>
<h2>發熱惡寒證（三十七）</h2>
<p>人患發熱惡寒自汗。脈浮而微弱。予以三服桂枝投之。遂愈。仲景云太陽中風。陽浮而陰弱者。汗自出。嗇嗇惡寒。淅淅惡風。翕翕發熱。宜桂枝湯。</p>
<p>論曰。仲景云假令寸口脈微。名曰陽不足。陰氣上入陽中。則洒淅惡寒也。尺脈弱。名曰陰不足。陽氣下陷入陰中。則發熱。此醫發其汗。使陽氣微。又大下之。使陰氣弱。此為醫所病而然也。大抵陰不足陽從之。故陽內陷發熱。陽不足陰往乘之。故陰上入陽中。則惡寒。陰陽不歸其分。是以發熱惡寒也。故孫真人云有熱。不可大攻之。熱去則寒起。</p>
<h2>結胸可下證（三十八）</h2>
<p>維揚李寅始病。頭疼。發熱。惡風。醫者下之。忽爾心下堅硬。項強。短氣。宛然結胸中證也。予曰幸爾脈不浮。心不煩躁。非陷胸湯不可。投之。一宿乃下。</p>
<p>論曰。仲景言病發於陽而反下之。熱入於胸。因作結胸者。以下之太早故也。蓋惡寒尚有表證未罷。而下之。故陽氣內陷。陽內拒痛。脈浮者不可下。下之則死。結胸煩躁者必死。此是惡證。辯者仔細。</p>
<h2>結胸可灸證（三十九）</h2>
<p>城東李氏子。年十八。病傷寒結胸。狀如　。自心至臍。手不可近。短氣心煩。真結胸也。</p>
<p>醫者便欲下之。予適過其門。見其愴惶面無色。予曰公有憂色何也。曰以長子病傷寒作結胸證。</p>
<p>醫者將下之。而猶豫。予就為診之。自關以上浮大。表證未罷。不可下也。曰事急矣。予以黃連餅子。灸臍中數十壯。得氣下。心腹軟。繼以和氣解肌藥。數日瘥。當時若下。定是醫殺。</p>
<h2>汗後吃逆證（四十）</h2>
<p>張保義得汗後吃逆。或者以胃虛則噦。故吃逆也。投以乾薑橘皮等湯。不下。命予治之。予曰。此證不可全作胃虛治。六脈尚躁。是余毒未解耳。投以小柴胡湯。兩啜而俞。</p>
<h2>漏風證（四十一）</h2>
<p>癸卯秋九月。牒試淮南僧台。同試有建陽彭子靜。得疾。身熱頭痛。嘔逆。自汗如洗。已數日矣。召予診視。謂予曰。去試不數日。而疾勢如此。為之奈何。予曰。誤服藥多矣。此證當先止汗。幸無憂也。予作朮附湯與之。三投而汗止。次日微汗　。身涼。五日而得愈。</p>
<h2>小便出血證（四十二）</h2>
<p>裡人有病中脘吐。心下煩悶。多昏睡。倦臥。手足冷。蓋少陰證也。十余日不瘥。忽爾通身大熱。小便出血。予曰。陰虛者陽必湊之。今脈細弱。而臍下不痛。未可下。桃仁承氣。且以芍藥地黃湯。三投而愈。</p>
<h2>妊娠傷寒腳腫證（四十三）</h2>
<p>裡巷一婦人妊娠。得傷寒。自腰以下腫滿。醫者或謂之阻。或謂之香港腳。或謂之水分。予曰。</p>
<p>此證受胎脈也。病名曰心實。當利小便。醫者曰利小便。是作水分治。莫用木通葶藶桑皮否。曰當刺勞宮關元穴。醫大駭曰。此出何家書。予曰。仲景玉函經曰。婦人傷寒。妊娠。及七月。腹滿。</p>
<p>腰以下如水溢之狀。七月太陰當養不養。此心氣實。當刺勞宮及關元。以利小便。則愈。予教令刺穴遂瘥。</p>
<h2>風溫證（四十四）</h2>
<p>己酉虜騎破淮俱疫癘大作。時有王朝奉寓天慶。得疾。身熱自汗。體重難以轉側。多眠。鼾睡。</p>
<p>醫作三陽合病。或作漏風證。治之不愈。予曰。此風溫病。投以葳蕤湯。獨活湯。數日瘥。</p>
<p>論曰。仲景云見太陽病脈篇。太陽病。發熱而渴。不惡寒者為溫病。若發汗已。身灼熱者。</p>
<p>名曰風溫。風溫為病。脈陰陽俱浮。自汗出。身重多眠睡。鼻息必鼾。語言難出。若被下者。小便不利。直視失溲。若被火者。微發黃色。劇則如驚癇。時螈　。又云陽脈浮滑。陰脈濡弱。更遇於風。變為風溫。大抵溫氣大行。更遇風邪。則有是證。令當春夏。病此者多。醫作傷寒漏風治。非也。不是火不可下。不可大發汗。而仲景無藥方。古法謂可取手少陰火。足厥陰木。隨經所在而取之。故用葳蕤湯。獨活湯輩為宜。若發熱無下證者。當用知母石膏湯。誤汗之。則防己黃湯救之。</p>
<h2>狐惑證（四十五）</h2>
<p>句容縣東豪子李姓者。得傷寒數日。村落無醫。易師巫者五六日矣。或汗下。雜治百出。遂成壞病。予時自江北避寇。遁伏江左。求宿於其家。夜半聞呻吟聲。詢之。云患傷寒逾旬矣。予為診視。其脈見於上下唇皆已　蝕。聲嘶而咽乾。舌上白苔。齒無色。予曰病名狐惑。殺人甚急。</p>
<p>秉燭為作雄黃丸瀉心湯。投之。數日瘥。</p>
<h2>發黃證（四十六）</h2>
<p>五月。避地維揚東面裡沙中。一豪子病傷寒八九日。身體洞黃。鼻目皆痛。兩膊及項頭腰皆強急。大便澀。小便如金。予診曰。脈緊且數。其病脾先受濕。暑熱蘊蓄於足太陰之經。宿穀相搏。鬱蒸而不得泄。故使頭面有汗。項以下無之。若鼻中氣冷。寸口近掌無脈。則死。今脈與證相應。以茵陳湯調五苓散與之。數日瘥。</p>
<h2>濕家發黃證（四十七）</h2>
<p>人病身體疼痛。面黃。喘。滿。頭痛。自能飲食。大小便如常。或者多以茵陳五苓散與之。</p>
<p>予診其脈曰。大而虛。鼻塞且煩。其證如前。則非濕熱與宿穀相搏。乃頭中寒濕。仲景云疼痛發熱。面黃而喘。頭痛。鼻塞而煩。其脈大。自能飲食。腹中和無病。病在頭中寒濕。故鼻塞。納藥鼻中則愈。而仲景無藥方。其方見外台刪繁證云。治天行熱毒。通貫臟腑。沉鼓骨髓之間。或為黃膽。須瓜蒂散。瓜蒂二七枚。赤小豆秫米各二七枚。為末。如大豆許。內鼻中。縮鼻當出黃水。慎不可吹入鼻中深處。</p>
<h2>黃入清道證（四十八）</h2>
<p>夏有高師病黃證。鼻內　疼。身與目如金色。小便赤澀。大便如常。則知病不在臟腑。今眼睛疼。鼻額痛。則知病在清道中矣。清道者華蓋。肺之經也。若服大黃。則必腹脹為逆。當用瓜蒂散。先含水。次搐之。令鼻中黃水盡則愈。如其言。數日而病除。</p>
<h2>先汗後下證（四十九）</h2>
<p>己酉夏。一時官病傷寒。身熱頭疼無汗。大便不通。已五日矣。予適自外邑歸城。訪之。見醫者治大黃芒硝輩。將下之矣。予曰子姑少待。予適為診視。視之脈緩而浮。臥密室中。自稱惡風。予曰。病患表證如此。雖大便閉。腹且不滿。別無所苦。何遽便下。於仲景法。須表證罷。</p>
<p>方可下。不爾。邪毒乘虛而入內。不為結胸。必為協熱利也。予作桂枝麻黃各半湯。繼之以小柴胡湯。　然汗出。大便通。數日愈。</p>
<p>論曰。仲景云。傷寒病多從風寒得之。始表中風。寒入裡。則不消矣。擬欲攻之。當先解表。</p>
<p>方可下之。若表已解。而內不消。大滿大堅。實有燥屎。方可議下。若不宜下而遽攻之。諸變不可勝數。輕者必篤。重者必死。</p>
<h2>太陽瘀血證（五十）</h2>
<p>仇景莫子儀病傷寒七八日。脈微而沉。身黃發狂。小腹脹滿。臍下如冰。小便反利。醫見發狂。以為熱毒蓄伏心經。以鐵粉牛黃等藥。欲止其狂躁。予診之曰非其治也。此瘀血證爾。仲景云陽病身黃。脈沉結。小腹硬。小便不利。為無血。小便自利。其人如狂者。血證也。可用抵當湯。</p>
<p>再投。而下血幾數升。狂止。得汗而解。經云血在下則狂。在上則忘。太陽膀胱經也。隨經而蓄於膀胱。故臍下脹。自闌門會滲入大腸。若大便黑者。此其驗也。</p>
<h2>陰病陽脈證（五十一）</h2>
<p>劉中道初得病。四肢逆冷。臍中築痛。身疼如被杖。蓋陰證也。急投金液來復之類。其脈得沉而滑。蓋沉者陰證也。滑者陽脈也。病雖陰而是陽脈。仲景所謂陰證見陽脈生也。於是再灸臍下丹田百壯。謂手足溫。陽回。體熱。而汗解。</p>
<p>或問滑脈之狀如何。曰仲景云翕奄沉名曰滑。古人論滑脈。雖云往來前卻。流利展轉。替替然與數相似。曾未若仲景三語而足也。翕合也。言張而復合也。故云翕為正陽。沉言脈降而下也。</p>
<p>故曰沉為純陰。方翕而合。俄降而下。奄謂奄忽之間復降也。仲景論滑脈。方為諦當也。</p>
<h2>辯少陰脈緊證（五十二）</h2>
<p>玄華得傷寒六七日。煩。昏。睡多吐嘔。小便白色。自汗出。予診其脈。寸口尺中俱緊。謂曰寒中少陰經中。是以脈緊。當作少陰治也。仲景云病患脈緊反汗出。亡陽也。屬少陰證。當咽痛而復吐利。蓋謂此也。</p>
<p>有難者曰。脈訣以緊為七表。仲景以緊為少陰。緊脈為陰耶。予曰寸口脈俱緊者。口中氣出。</p>
<p>唇口乾燥。蜷臥。足冷。鼻中涕出。舌上白苔。勿妄治也。又云緊則為寒。又云曾為人所難。緊脈從何而來。師曰。假令亡汗若吐。以肺裡寒。故令脈緊。又曰寸口脈微。尺中緊。其人虛損多汗。由是觀之。則是寒邪入經絡所致。皆虛寒之脈也。其在陽經則浮而緊。在陰經則沉而緊。故仲景云浮緊者名為傷寒。又云陽明脈浮而緊者。必潮濕。此在陽則脈浮而緊者。仲景又云病患脈陰陽俱緊者。屬少陰。又云寸口脈微。尺脈緊。其人虛損多汗。則陰常在絕不見陽。又云少陰。脈緊至七八日。自下利。脈暴微。手足反溫。脈緊反去者。</p>
<p>此欲解也。此在陰沉而緊也。仲景云浮為在表。沉為在裡。數為在腑。遲為在臟。欲知表裡臟腑。</p>
<p>先以浮沉遲數為定。然後兼余脈而定陽陰也。若於脈訣而言。則疏矣。故予嘗謂傷寒脈者。當以仲景脈為準法。</p>
<h2>青筋牽引證（五十三）</h2>
<p>吳德甫戊申春病傷寒。先寒後熱。項筋強急。腳蜷縮不得伸。醫者欲以麻黃輩除其頸強。又欲桂枝加附除其足縮。予曰。皆非治也。此時行疫氣。病。為青筋牽引。投以柴胡地黃湯。三服而病已。</p>
<p>論曰。龐安常論四時受乖氣。而成臟腑陰陽濕毒者。春名青筋牽。夏曰赤脈攢。秋名白氣狸。</p>
<p>冬名黑骨溫毒。四季中十八日名黃肉。隨毒瓦斯在頭項。使人青筋牽急。故先寒後熱。腳縮不得伸。</p>
<p>蓋謂此。夫天行之病。大則流毒天下。小則方次一鄉。亦有遍著一家者。悉由氣運郁結。變成乖戾之氣。人命遭之所成病者。能調護將理。庶可免耳。</p>
<h2>下膿血證（五十四）</h2>
<p>遠族人患傷寒。他醫以陰證治之。硫黃附子相繼而進。旬日大脹下膿血。或如赤豆汁。醫尚作少陰證治。復下桃花湯治之。予因診視曰所誤多矣。表裡虛。熱氣乘虛入腸胃。而又投以燥藥。</p>
<p>是以下膿血也。遂投梅煎散。數劑愈。</p>
<h2>刺陽明證（五十五）</h2>
<p>庚戌五月。李氏病傷寒。身熱頭痛無汗。渾身疼痛。脈浮大而緊。予投以麻黃湯。數服。終不得汗。又多用張苗燒蒸之法。而亦不得。予教令刺陽明。少間汗出　遍身。一時間。是夕身涼病退。</p>
<p>論曰。刺熱論云。熱病先手臂痛。刺陽明而汗出。又曰刺陽出血如大豆。病已。蓋謂刺也。</p>
<p>陽明穴。在手大指內側。去爪甲角。手陽明脈之所出也。刺可入同身寸之一分。留一呼。大凡傷寒熱病。有難取汗者。莫如針之為妙。仲景云凡治溫病可刺五十九穴。素問云病甚者為五十九刺。</p>
<p>其詳在注中。</p>
<h2>陰陽交證（五十六）</h2>
<p>裡有張姓者。病傷寒。醫汗之。汗雖出。身熱如舊。予診之曰。得汗。宜身涼脈靜喜食。今脈躁。身熱。不食。狂言。病名陰陽交。不可治也。素問黃帝問有溫病。汗出輒復熱。而脈躁。</p>
<p>病不為汗衰。狂言不能食。名何疾。岐伯曰病名陰陽交。交者死也。人所以汗出者。皆生於穀。</p>
<p>穀生於精。今邪氣交爭於骨肉而得汗者。是邪卻而精勝也。精勝則能食而不復熱矣。汗者精氣。</p>
<p>今汗出而復熱者。是邪勝也。不能食者精無俾也。其壽可立而傾也。果半日死。</p>
<h2>陰陽易證（五十七）</h2>
<p>己巳。鄰人王友生以販京為業。蓄一婢。患傷寒。熱八九日。予為治之。得汗而愈。未數日生自病。身熱頭重不欲舉。目中生花。召予視之。予曰。是必傷寒初愈。婦人交接得之。即令陰頭上必腫。小腹絞痛。然是陰陽易也。生曰前患者婢子、意謂已安。遂與之交。翌日得此疾。良苦。予曰。失所治。必吐舌數寸而死。予作　鼠糞。燒　散等。以利其毒瓦斯。旬日安。</p>
<h2>叉手冒心證（五十八）</h2>
<p>乙巳六月。吉水譚商人寓城南。得傷寒。八九日。心下惕惕然。以兩手捫心。身體振振動搖。</p>
<p>他醫以心痛治之。不效。予曰。此汗過多之所致也。仲景云持脈時。病患叉手自冒心。心下悸。</p>
<p>所以然者以重獲汗。虛。故如此。又云發汗過多。其人叉手自冒心。心下悸。欲得按者。桂枝甘草湯證。予投黃　建中真武。及甘草桂枝。漸得平復。</p>
<h2>傷寒耳聾證（五十九）</h2>
<p>戊申年。類試山陽。一時官病傷寒八九日。耳聾而無聞。楚醫少陽治。意謂仲景稱少陽受病。</p>
<p>則脅痛而耳聾也。予診之曰。兩手脈弱而無力。非少陽證也。若少陽則渴飲水。心煩。但寐。咽痛。今俱無此證。但多汗驚悸。必汗過多所致也。仲景云未持脈時。令病患咳。而不咳者。兩耳聾無所聞也。所以然者。因重發汗。虛。故如此。病家曰醫者嘗大發汗矣。遂投以真武白朮附子湯輩。數日。耳有聞而愈。</p>
<h2>揚手躑足證（六十）</h2>
<p>己酉。王仲賢患傷寒。發熱頭痛。不惡風。身無汗。煩悶。脈浮而緊。八九日不退。予診之曰。麻黃證也。所感多熱。是以煩躁。遂投以麻黃湯三服。至暮。煩愈甚。手足躁亂。揚躑不止。</p>
<p>或以為發狂。須用寒藥。予爭之曰。此汗證也。幸勿憂。切忌亂服藥。守一時。須稍定。比寐少時中。汗出矣。仲景云至六七日三部大。手足躁亂者。欲解也。蓋謂此耳。若行寒劑。定是醫殺。</p>
<h2>遺尿證（六十一）</h2>
<p>城南婦人。腹滿身重。遺尿。言語失常。他醫曰。不可治也。腎絕矣。其家驚憂無措。密召予至。則醫尚在座。乃診之曰。何謂腎絕。醫家曰仲景謂溲便遺失。狂言。反目直視。此謂腎絕也。予曰。今脈浮大而長。此三陽合病也。胡為腎絕。仲景云腹滿身重。難以轉側。口不仁。譫語。遺尿。發汗則譫語。下之則額上生汗。手足厥冷。白虎證也。今病患譫語者。以不當汗而汗之。非狂言反目直視。須是腎絕脈。方可言此證。乃投以白虎加人參湯。數服而病悉除。</p>
<h2>舌上滑苔證（六十二）</h2>
<p>丁未五月。鄉人邢原暉病傷寒。寒熱往來。心下郁悶。舌上白滑苔。予曰。舌上滑苔有數證。</p>
<p>有陰陽脈緊。鼻出涕者。有臟結而不可治者。有溫瘴。丹田有熱者。有陽明。脅下堅者。此證屬陽明。宜梔子湯吐之於前。小柴胡繼於其後。數日汗解而愈。</p>
<h2>衄血證（六十三）</h2>
<p>睢陽張士美病傷寒七八日。口燥飲水而不咽入。俄而衄血。脈浮緊。身熱。醫者云傷寒。脈浮緊。不發汗。因致衄血者。屬麻黃湯。予曰。不可。古人雖云當汗不汗。熱化為血。此證亦有不可汗者。仲景云陽明病。口燥。但欲飲水而不咽者。必發衄。衄家不可發汗。發汗則額上陷。</p>
<p>不得眠。不能　。此只可用犀角湯。地黃湯。若當時行麻黃。必額上陷。直視不眠也。</p>
<h2>傷寒脅痛證（六十四）</h2>
<p>董齊賢病傷寒數日。兩脅挾臍。痛不可忍。或作奔豚治。予視之曰非也。少陽膽經。循脅入耳。邪在此經。故病心煩。喜嘔。渴。往來寒熱。默不能食。胸脅滿悶。少陽證也。始太陽傳入此經。故有是證。仲景云太陽病不解。傳入少陽。脅下滿乾嘔者。小柴胡湯主之。三投而痛止。</p>
<p>續得汗解。</p>
<h2>傷寒溫瘧證（六十五）</h2>
<p>友人孔彥輔病傷寒。身大熱。頭痛。自汗。惡熱。陽明證也。此公不慎將理。病未除。當風取涼以自快。越半月。寒熱大交作。予再視之。則為壞病溫瘧矣。仲景云若十三日以上。更感異氣。變為他病者。當依舊壞病證而治之。若脈陰陽俱盛。重感於寒。變成溫瘧。脈之變證。方治如法。乃小柴胡湯之類。加桂枝。治之。愈。</p>
<p>論曰。往來嘗見一士人施瘧方。以榜睢陽市肆。柴胡白虎之類也。俗人不問是何瘧證。例用前方。往往反變大疾。嗚呼。將欲濟人。反致損人。豈理也哉。予嘗謂瘧證最多。有暑瘧。食瘧。</p>
<p>脾寒瘧。手足三陰三陽皆有瘧。脾肺腎肝心胃亦有瘧。各各不同。安得一概與柴胡白虎湯耶。誤治尚可擬議。惟脾寒中暑二證。若水火不相將。素問曰夏傷於暑。秋為　瘧。又曰夏暑汗不出者。</p>
<p>秋成風瘧。始因伏暑。得秋氣乃發。故先熱後寒。或熱多寒少。頭目昏痛。虛則發戰。汗出一時而止。蓋心惡暑氣。心為君。心不受邪。而心包絡痰涎所聚。暑伏於涎中。豈比脾寒而厚朴草果所能驅溫瘧。而柴胡黃芩所能止也。非砒　腦麝之屬不能入。故暑瘧脾寒患者多。而醫者不識。妄投以寒藥。真氣先受病。所以連綿不已也。予嘗精究瘧證一病。須詳審諦當。然後行藥。十治十中無有失者。眾人以瘧為難療。予獨以為易治。要在別其證類。識其先後耳。因論溫瘧言及此。亦欲使患者知藥不可妄投也。素問瘧論甚詳。當精觀之。</p>
<h2>發斑證（六十六）</h2>
<p>族有乳媼。患傷寒七八日發斑。肌體如火。脈洪數而牢。心中煩滿不快。俄而變赤黑斑。其家甚驚惶。予曰。此溫毒也。溫毒為病最重。而年齒為邁。是誠可憂也。仲景云傷寒脈洪數。陰脈實大。更遇濕熱。變成溫毒。溫毒最重也。故斑疹生。心下不快。痞悶。遂以升麻玄參湯與之。</p>
<p>日夜四五服。斑退而愈。</p>
<p>論曰。華佗云傷寒五日在腹。六日在胃。入胃則可下也。若熱毒未入於胃。而先下之者。其熱乘虛入胃。則胃爛。然熱入胃。要須復下之。不得留在胃中也。胃若實。</p>
<p>為致此病。三死一生。其熱微者赤斑出。劇者黑斑出。赤斑出者五死一生。黑斑出者十死一生。</p>
<p>但看人有強弱耳。病者至日。不以時下之。熱不得泄。亦胃爛斑出。蓋此是惡候。若下之早。則熱乘虛入胃。或下遲。則熱入不得泄。須是乘機不可失時。庶幾輕可也。</p>
<h2>臟結證（六十七）</h2>
<p>甲辰。鹽商艤舟江次。得傷寒。胸膈痞。連臍下旁不可忍。飲食不進。予診之曰。此非結胸。</p>
<p>乃臟結也。不可救矣。臟結者寸脈浮。關脈細小沉緊者。尚有白苔。痛引小腹則死。仲景云痛引小腹。入陰經者死。次日痛引小腹。午時果死。</p>
<h2>陽結證（六十八）</h2>
<p>豫章劉商人。傷寒。發熱。口苦咽乾。腹滿。能食。大便閉。醫作陽明治。召予視。同坐。</p>
<p>予問醫曰。何以見證屬陽明。醫曰。仲景云陽明中風。口苦咽乾腹滿。又云陽明病若能食名曰中風。不能食名曰傷寒。又曰少陽陽明者胃中煩。大便難。是審茲三者。全是陽明證也。予曰。陽明之脈長而實。中風者必自汗。今證雖陽明。然脈反見數。而身無汗。果可作陽明治否。醫無以應。予曰。以仆觀之。所謂陽結也。今計其日已十六日矣。來日當病劇。當與公治之。其家疑而不決。來日病果大作。亟召。予曰。是陽結證也。仲景云脈有陰結陽結。何以別之。答曰其脈浮而數。能食不大便。此為實。名陽結也。其脈沉而遲。不能食。身體重。大便反　。名曰陰結。</p>
<p>期十四日當劇。今病者十七日而劇者。是其候也。乃投以大柴胡。兩啜而病除矣。</p>
<p>論曰。仲景云。脈來靄靄如車蓋者。名曰陽結。脈來累累如循長竿者。名曰陰結。靄靄如車蓋。則是浮是數之狀。仲景所謂善取象矣。然則陽結何以十七日當劇。陰結何以十四日當劇。蓋十七日老陽少陽之數。十四日老陰少陰之數也。老陽之數九。少陽之數七。七九計十六。更進一數。陽之數而其道常繞。又陽數奇。故也。老陰之數六。少陰之數八。八六計十四日。不進者。</p>
<p>陰主靜。而其道常乏。又陰數偶也。如此盈虛消長。不能逃乎時數。</p>
<h2>傷寒協熱利證（六十九）</h2>
<p>庚戌四月。鄉婦吳氏病傷寒。頭疼身熱。下利不止。眾醫多以附子理中金液治之。煩躁而利愈甚。予視之曰。脈遲而沉。若臍下熱。則協熱利也。投三黃熟艾湯。三服而利止渴除。漸投以解肌汗藥。而得汗瘥。</p>
<h2>胃熱嘔吐證（七十）</h2>
<p>丁未歲夏。族妹因傷寒。已汗後。嘔吐不止。強。藥不下。醫以丁香硝石硫黃藿香等藥治之。</p>
<p>蓋作胃冷治也。予往視之。曰。此汗後余熱尚留胃脘。若投以熱藥。如以火濟火。安能止也。故以香薷湯。竹茹湯。三服愈。</p>
<h2>霍亂轉筋證（七十一）</h2>
<p>夏。鐘離德全一夕病。上吐下瀉。身冷。汗出如洗。心煩躁。予以香薷飲與服之。翌日遂定。</p>
<p>進理中等調之痊。</p>
<p>論曰。仲景云。病發熱。頭痛。身疼。惡寒。吐利者。此屬何病。答曰此名霍亂。自吐下又利。</p>
<p>止而復作。更發熱也。此病多由暑熱。陰陽不和。清濁相干。飲食過傷。三焦溷亂。腹中撮痛。</p>
<p>煩渴不止。兩足轉筋。殺人頗急。不可緩也。</p>
<h2>兩脛逆冷證（七十二）</h2>
<p>江西茶客吳某。病。頭疼如裹。兩腳自膝以下皆冷。胸間多汗。時時譫語。醫作陰證。治以附子輩。意其足冷而厥也。予診其脈關濡尺急。遂斷以濕溫脈證。其病先日受濕。而又中　。濕熱相搏。故此證成。急以白虎三投而解。</p>
<h2>汗後勞復證（七十三）</h2>
<p>有人傷寒。得汗數日。忽身熱自汗。脈弦數。宛然復作。斷之曰。勞心所致也。神之所舍。</p>
<p>未復其初。而又勞傷其神。營衛失度。當補其子。益其脾。解其勞。庶幾便愈。醫者在座。難之曰。虛則補其母。今補其子。出在何經也。予曰。出千金方論。子不知虛勞之證乎。難經曰。虛則補其母。實則瀉其子。此虛則當補其母也。千金方。心勞甚者。補脾氣以益其心。脾旺則感於心矣。此勞則補其子也。蓋母生我者也。子繼我助我者也。方治其虛。則補其生我者。與錦囊所謂本骸得氣。遺體受蔭同義。方治其勞。則補其助我者。與荀子未有子富而父貧同義。故二者補法各自有理。醫唯唯而退。</p>
<h2>汗後瘡瘍證（七十四）</h2>
<p>李琛大夫病傷寒。發熱。面目俱赤。氣上衝。腹滿大小便閉。無汗。脈緊而長。予令服大承氣湯。他醫以小柴胡湯與之。不驗。又以大柴胡湯與之。亦不效。又增大柴胡湯大劑。大便通。</p>
<p>下燥屎得愈。乃夸曰果不須大承氣。予笑曰。公苟圖目前。而不知貽禍於後。病雖瘥。必作瘡瘍之證。後半月。忽體生赤瘡。次日背發腫如盤。堅如石。痛不堪忍。渠以為背疽憂甚。急召予。</p>
<p>予曰。瘡瘍之證也。若當日服承氣。今無此患矣。治以數日瘥。或者問何以知其瘡瘍之證。予曰仲景云。趺陽脈滑而緊者。胃氣實。脾氣強。持實擊強。痛還自傷。以手把刃坐作瘍。蓋病勢有淺深。藥力有輕重。治者必察其病者如何耳。疾勢深則以重劑與之。疾勢輕則以輕劑與之。正如持衡。錙銖不偏也。不然。焉用七方十劑。今病患毒邪如此深。須藉大黃、朴硝。蕩滌臟腑經絡毒瓦斯。利三二行。則邪毒皆去。今醫小心謹慎。又不能了了見得根源。但以大柴胡得屎。因謂大便通行。便得安痊。不知遺禍於後。必瘡瘍。當時若聽予言。豈有斯患。</p>
<h2>面垢惡寒證（七十五）</h2>
<p>一尼病頭痛身熱。煩渴。躁。診其脈大而虛。問之曰小便赤。背惡寒。毛竦洒洒然。面垢中暑也。醫作熱病治。但未敢服藥。予投以白虎湯。數日愈。</p>
<p>論曰。仲景云脈虛身熱。得之傷暑。又云其脈弦細芤遲何也。素問曰寒傷形。熱傷氣。蓋傷氣不傷形。則氣消而脈虛弱。所以弦遲芤細。皆虛脈而可知矣。</p>
<h2>傷寒下利證（七十六）</h2>
<p>呂商得傷寒。自利腹滿。不煩。不渴。嘔吐。頭痛。子診趺陽脈大而緊。曰太陰證也。若少陰下利必渴。今不渴。故知太陰證。仲景云自利不渴屬太陰。調治數日愈。</p>
<p>論曰。或問傷寒何以診趺陽。予曰仲景稱趺陽脈大而緊者。當即下利。脈經云下利脈大為未止。脈微細者今日愈。仲景論趺陽脈九十一處。皆因脾胃而設也。且如稱趺陽脈滑而緊。則曰滑乃胃實。緊乃脾弱。趺陽脈浮而澀。則曰浮為吐逆。水穀不化。澀則食不得入。趺陽脈緊而浮。</p>
<p>浮則腹滿。緊則絞痛。趺陽脈不出。則曰脾虛。上下體冷。膚硬。則皆脾胃之設可知矣。大抵外證。腹滿自利。嘔惡吐逆之類。審是病在脾胃。而又參決以趺陽之脈。則無失矣。其脈見於足趺之陽。故曰趺陽。仲景譏世人握手而不及足。</p>
<h2>傷寒閉目證（七十七）</h2>
<p>李思順得傷寒。惡寒發熱。口中氣熱如火。不絕七八日矣。而目閉不肯開。予診其脈。陰陽俱緊。是必汗之而復下之故也。此壞證矣。病家曰。一醫於三日前汗之不愈。一醫復下之。而目閉矣。遂投以小柴胡湯。五啜而愈。</p>
<p>論曰。或問何以知其汗下而目閉。予曰。仲景稱傷寒發熱。口中氣勃勃然。頭痛目黃。若下之則目閉。又云傷寒脈陰陽俱緊。惡寒發熱。目赤。脈多睛不慧。醫復汗之。咽中傷。若復下。</p>
<p>則兩目閉。此壞證。須小柴胡湯。調之愈。</p>
<h2>傷寒表實證（七十八）</h2>
<p>羽流病傷寒。身熱頭痛。予診之曰。邪在表。此表實證也。當汗之。以麻黃輩。數日愈。</p>
<p>論曰。或問傷寒因虛。故邪得以入之。今邪在表。何以為表實也。予曰。古人稱邪之所湊。</p>
<p>其氣必虛。留而不去為病則實。蓋邪之入也。始因虛。及邪居中反為實矣。大抵調治傷寒。先要明表裡虛實。能明此四字。則仲景三百九十七法。可坐而定也。何以明之。有表實。有表虛。有裡實。有裡虛。有表裡俱實。有表裡俱虛。予於表裡虛實百證歌中。嘗論之矣。仲景麻黃湯類。</p>
<p>為表實而設也。桂枝湯類。為表虛而設也。裡實。承氣之類。裡虛。四逆理中之類。表裡俱實。</p>
<p>所謂陽盛陰虛。下之則愈也。表裡俱虛。所謂陰盛陽虛。汗之則愈也。</p>
<h2>手足逆冷證（七十九）</h2>
<p>酒家朱三者。得傷寒。六七日。自頸以下無汗。手足厥冷。心下滿。大便秘結。或者見其逆冷。</p>
<p>又汗出滿悶。以為陰證。予診其脈沉而緊。曰此證誠可疑。然大便結者為虛結也。安得為陰。脈雖沉緊。為少陰證。然少陰證多矣。是自利未有秘結。予謂此半在表。半在裡也。投以小柴胡湯。大便得通而愈。</p>
<p>論曰。傷寒。惡寒。手足冷。心下滿。口不欲食。大便　。脈細者。此為陽微結。必有表復有裡也。脈沉亦在裡也。汗出為陽微。假令純陰結。不得復有外證。悉入在裡。此為半在表半在裡也。脈雖沉緊。不得為少陰病。所以然者。陰不得有汗。今頭汗出。故知非少陰也。可與小柴胡湯。設不了了者。得屎而解也。難者曰。仲景云病患脈陰陽俱緊。及汗出者。亡陽也。此屬少陰。今云陰不得有汗。何也。今頭汗出。故知非少陰也。何以頭汗出。則知非少陰。予曰。此說正是議議處。謂四肢冷。脈沉緊。腹滿。全是少陰。然大便硬。頭汗出。不得謂少陰。蓋頭者三陽所聚。三陽自胸中而還。有頭汗出。自是陰虛。故曰汗出為陽微。是陰不得有頭汗也。若少陰有頭汗。則九死一生。故仲景平脈法云。心者火也。名火陰。其病。頭無汗者可治。有汗者死。</p>
<p>心為手少陰。腎為足少陰。然相與為病。以意逆志。是謂得之。</p>
<h2>寒熱類傷寒證（八十）</h2>
<p>一尼病。惡風。體倦。乍寒乍熱。面赤心煩。時或有汗。他醫以傷寒溫瘧治之。見其寒熱往來。時方疫氣大作也。大小柴胡雜進。數日愈甚。轉劇。予診之曰。兩手不受邪。厥陰。脈弦長而上魚際。此非傷寒。乃陰動不得陽也。此正與倉公治一繡女病同。投以抑陰等藥。數日愈。</p>
<p>論曰。昔褚澄云。治師尼寡婦。別制方。蓋有為也。師尼寡婦。獨居怨曠。獨陰而無陽。欲心屢萌。而不適其欲。是以陰陽交爭。乍寒乍熱。虛汗倦怠。全類溫瘧。久久成癆瘵矣。嘗記史書倉公傳載。濟北王侍者繡女病。腰背寒熱。眾醫皆為寒熱也。倉公曰病得之欲男子而不可得也。何以知之。診其脈。</p>
<p>肝部弦出寸口。是以知也。男子以精為主。女子以血為主。男子精溢則思室。女子血盛則懷胎。肝攝血者也。</p>
<p>今肝脈弦長上寸口及魚際。則血盛欲男子之候也。然則治師尼寡婦。尤不可與尋常婦人一概論也。</p>
<h2>失汗衄血證（八十一）</h2>
<p>裡人秦氏子得傷寒。發熱。身疼。骨節疼痛。惡風無汗。或者勸其不須服藥。待其自安。如是半月矣。而病不除。不得已召醫治之。醫至問日數。又不審其脈與外證。但云已過期矣。不可汗下矣。且與調氣藥以正氣。復延予。予診其脈。浮澀而緊大。此麻黃證無疑者。但恐當汗不汗。</p>
<p>化為衄血。必有是證。言未已。衄血作。予急以麻黃湯與之。繼之以犀角地黃湯。血止汗解愈。</p>
<p>論曰。仲景云凡作湯藥。不可避晨夜。覺病須臾。即宜便治。不等早晚。則易愈。或稍遲。</p>
<p>病即傳變。雖欲除必難為力。今醫不究根源。執以死法。必汗之於四日之前。下之於四日之後。</p>
<p>殊不知此惑也。又云病不服藥。猶得中醫。此為無醫而設也。若大小便不通。必待其自瘥乎。蓋前後不得溲。必下部腹脹。數日死矣。又況結胸蓄血。發狂發斑之類。未有勿藥而愈者。知者知變。愚者執迷。以取禍也。須是隨病淺深。在表在裡。或陰或陽。早為治療。如救火及溺然。庶易瘥。素問云邪風之至。疾如風雨。故善治者治皮毛。其次治肌膚。其次治筋脈。其次治六腑。</p>
<p>其次治五臟。治五臟者半死半生也。扁鵲望齊侯而逃。其斯之謂歟。</p>
<h2>脾約證（八十二）</h2>
<p>一豪子郭氏。得傷寒數日。身熱。頭疼。惡風。大便不通。臍腹膨脹。易數醫。一醫欲用大承氣。一醫欲大柴胡。一醫欲用蜜導。病家相知凡三五人。各主其說。紛然不定。最後請予至。</p>
<p>問小便如何。病家云小便頻數。乃診六脈。下及趺陽脈浮且澀。予曰。脾約證也。此屬太陽陽明。</p>
<p>仲景云太陽陽明者脾約也。仲景又曰趺陽脈浮而澀。浮則胃氣強。澀則小便數。浮澀相搏。大便則。其脾為約者。大承氣大柴胡恐不當。仲景法中麻仁丸不可易也。主病親戚尚爾紛紛。予曰。</p>
<p>若不相信。恐別生他證。請辭。無庸召我。坐有一人。乃弟也。逡巡曰。諸君不須紛爭。既有仲景證法。相當。不同。此說何據。某雖愚昧。請終其說。諸醫若何。各請敘述。眾醫默默。紛爭始定。予以麻仁丸百粒。分三服。食頃間盡。是夕大便通。中汗而解。</p>
<p>論曰。浮者風也。澀者津液少也。小便頻數。津液枯竭。又爍之以風。是以大便堅　。乃以大黃朴硝湯劑蕩滌腸胃。雖未死。恐別生他證。嘗讀千金方論香港腳云。世間人病有親戚故舊遠近問病。其人曾不經一事。未讀一方。騁騁詐作明能。詭論。或言是虛。或言是實。或以為風。或以為蟲。或道是水。或道是痰。紛紛謬說。種種不同。破壞病患心意。莫知孰是。遷延未定。時不待人。忽然致禍。各自走散。凡為醫者要識病淺深。探賾方書。博覽古今。是事明辨。不爾。</p>
<p>大誤人事。識者宜知以為醫戒。</p>
<h2>格陽關陰證（八十三）</h2>
<p>張養愚患傷寒八九日以上。吐逆。食不得入。小便疰悶不通。醫作胃熱而吐。傳入膀胱。則小便不通也。予診其脈。見寸上二溢。而尺覆關中。伏而不見。乃斷之曰。格陽關陰證也。陽溢於上。不得下行。陰覆於下。不得上達。中有關格之病。是以屢汗而不得汗也。予投以透膈散。三啜而吐止。小便利而解。</p>
<p>論曰。或問何謂格陽關陰。答曰難經云關以前動者。陽之動也。脈當見九分而浮。過者。法曰太過。減者。法曰不及。遂入尺為覆。為內關外格。此陰乘之脈也。又曰陰氣太盛。陽氣不得營。故曰關。陽氣太盛。陰氣不得營。故曰格。陰陽俱盛。不能相營也。故曰關格。關格者不得盡期而死矣。素問曰人迎。四盛以上為格陽。寸口。四盛以上為關陰。人迎與寸口。俱盛四倍以上為關格。仲景云在尺為關。在寸為格。關則小便不利。格則吐逆。又趺陽脈浮而澀。浮則吐逆。</p>
<p>水穀不化。澀則食不得入。名曰關格。由是言之。關脈沉伏而澀。尺寸有覆溢者。關格病也。何以言之。天氣下降。地氣上升。在卦為泰。泰者通也。天氣不降。地氣不升。在卦為否。否者閉也。今陽不降。上魚際為溢。故其病吐逆。名為外格。陰不得上浮入尺為覆。故其病。小便不通。</p>
<p>為內關。此關格之異也。</p>
<h2>太陽陽明合病證（八十四）</h2>
<p>有豪子病傷寒。脈浮而長。喘而胸滿。身熱頭疼。腰脊強。鼻干。不得眠。予曰。太陽陽明合病證。仲景法中有三證。下利者葛根湯。不下利嘔逆者加半夏。喘而胸滿者麻黃湯也。治以麻黃湯。得汗而解。</p>
<p>論曰。或問傳入之次第。自太陽陽明少陽太陰少陰厥陰何哉。說者謂陽主生。故足太陽水。</p>
<p>傳足陽明土。土傳足少陽木。為微邪。陰主殺。故太陰土傳少陰水。水傳足厥陰木。為賊邪。少陰水傳厥陰木。安得為賊也。故予以為不然。素問陰陽離合論云。太陽根起於至陰。結於命門。</p>
<p>名曰陰中之陽。陽明根起於厲兌。名曰陰中之陽。少陽根起於竅陰。名曰陰中之少陽。太陰根起於隱白。名曰陰中之陰。</p>
<p>少陰根起於涌泉。名曰陰中之少陰。厥陰根起於大敦。名曰陰之絕陰。大抵傷寒始因中之氣得之於陰。是以止傳足經者。是陰中之陽。陽中之陰。亦自然之次第也。故此篇因黃帝問三陰三陽之離合。岐伯自聖人南面而立前曰廣明而推之。且以太陽為開。陽明為闔。少陽為樞。太陰為開。厥陰為闔。</p>
<p>少陰為樞。六經不得相失。則其序有授矣。不特此也。以六氣在天而考之。厥陰為初之氣。少陰為二之氣。太陰為三之氣。少陽為四之氣。陽明為五之氣。太陽為六之氣。此順也。逆而言之。</p>
<p>則太陽而後陽明。陽明而後少陽。少陽而後太陰。太陰而後少陰。少陰而後厥陰。傷寒為病。在氣則逆而非順。自太陽而終厥陰也。</p>
<h2>懊怫鬱證（八十五）</h2>
<p>士人陳彥夫病傷寒八九日。身熱無汗。喜飲。時時譫語。因下利後。大便不通三日。非煩非躁。非寒非痛。終夜不得眠。但心沒曉會處。或時發一聲如嘆息之狀。醫者不曉是何證。但以寧心寬膈等藥。不效。召予診視。兩手關脈長。按之有力。乃曰懊　怫鬱證也。此胃中有燥屎。宜與承氣湯。服之。下燥屎二十枚。次復下溏糞。得利而解。</p>
<p>論曰。仲景云陽明病下之。心中懊　而微煩。胃中有燥屎。可攻。宜承氣湯。又云病者小便不利。大便乍難乍易。時有微熱。怫鬱不得眠者。有燥屎也。承氣湯主之。蓋屎在胃則胃不和。</p>
<p>素問曰。胃不和則臥不安。此所以夜不得眠也。仲景云胃中燥。大便堅者。必譫語。此所以時時譫言也。非煩非躁。非寒非痛。所謂心中懊　也。聲口嘆息。而時發一聲。所謂水氣怫鬱也。燥屎得除。大便通利。陰陽交和。是以其病得除。</p>
<h2>兩手撮空證（八十六）</h2>
<p>市人張某。年可四十。病傷寒。大便不利。日晡發熱。手循衣縫。兩手撮空。目直視急。更三醫矣。皆曰傷寒最惡證也。不可治。後召予。予不得已往診之。曰此誠惡候。染此者十中九死。</p>
<p>仲景雖有證而無治法。但云脈弦者生。澀者死。況經吐下。難於用藥。謾以藥與。若大便得通。</p>
<p>而脈強者。庶可料理也。遂用小承氣湯與之。一投而大便通利。諸疾漸退。脈且微弦。半月得瘥。</p>
<p>論曰。或問下之而脈得弦者生。何也。答曰。金匱玉函經云循衣摸床。妄撮。怵惕不安。微喘直視。脈弦者生。澀者死。微者但發熱譫語。承氣湯與之。余嘗觀錢仲陽小兒訣法。手循衣領。及亂捻物者。肝熱也。此證玉函列在陽明部。陽明胃也。肝有邪熱。淫於胃經。故以承氣湯瀉肝。</p>
<p>而得強脈。則平而和。胃且堅不受。此百生之理也。予嘗謂仲景論。不通諸醫書。以發明隱奧。</p>
<p>而專一經者。未見其能也。須以古今方書。發明仲景余意。</p>
<h2>下利服承氣湯證（八十七）</h2>
<p>客有病傷寒。下利。身熱。神昏多困。譫語。不得眠。或者見其下利。以譫語為鄭聲。皆陰虛證也。予診其脈曰此承氣湯證也。眾皆愕然曰下利服承氣。仲景法乎。答曰。仲景云下利而譫語者。有燥屎也。屬小承氣湯。乃投以小承氣。得利止。而下燥屎十二枚。俄得汗解。</p>
<p>論曰。內經云微者逆之。甚者從之。逆者正治。從者反治。從少從多。觀其事也。帝曰何謂反治。岐伯曰寒因寒用。通因通用。王冰以為大熱內結。注瀉不止。熱宜寒療。結伏須除。以寒下之。結散利止。此寒因寒用也。小承氣止利。正合此理。</p>
<h2>濕溫證（八十八）</h2>
<p>丙午歲。商人張皓。季夏得疾。胸項多汗。四股時冷。頭痛譫語。予診其脈。關前濡。關後數。斷曰當作濕溫治。蓋先受暑。後受濕。暑濕相搏。是謂濕溫。投以白虎加參。次以白虎蒼朮。</p>
<p>頭痛漸退。足漸溫。汗漸止。數日愈。此病名賊邪。誤服藥則死。</p>
<p>論曰。或者難云。何謂賊邪。予曰。難經論五邪。有實邪。虛邪。正邪。微邪。賊邪。從後來者為虛邪。從前來者為實邪。從所不勝者為賊邪。從所勝者為微邪。自病者為正邪。又曰假令心病中暑者為正邪。中濕得之為賊邪。今心先受邪。而濕勝之。水克火。從所不勝。斯為賊邪。</p>
<p>五邪之最逆者也。難經有云濕溫之脈。陽濡而弱。陰小而急。濡弱見於陽部。濕氣搏暑也。小急見於陰部。暑氣濕蒸也。故經曰暑濕相搏。名曰濕溫。是為賊邪也。</p>
<h2>血結胸證（八十九）</h2>
<p>丁未歲。一婦患傷寒。寒熱。夜則譫語。目中見鬼。狂躁不寧。其夫訪予詢其治法。予曰。</p>
<p>若經水適來適斷。恐是熱入血室也。越日亟告曰。已作結胸之狀矣。予為診之曰。若相委信。急行小柴胡湯等必愈。前醫不識涵養至此。遂成結胸證。藥不可及也。無已。則有一法。刺期門穴。或庶幾愈。如教而得愈。</p>
<p>論曰。或問熱入血室。何為而成結胸。予曰。邪入經絡。與正氣相搏。上下流行。或遇經水適來適斷。邪氣乘虛而入血室。血與邪迫。上入肝經。肝既受邪。則譫語如見鬼。肝病則見鬼。</p>
<p>目昏則見鬼。復入膻中。則血結於胸也。何以言之。蓋婦人平居。經水常養於目。血常養肝也。</p>
<p>方未孕。則下行之以為月水。既妊娠。則中蓄之以養胎。及已產。則上壅。得金化之以為乳。今邪逐之並歸肝經。聚於膻中。壅於乳下。非刺期門以瀉。不可也。期門者肝之膜原。使其未聚於乳。則小柴胡尚可行之。既聚於乳。小柴胡不可用也。譬如凶盜行於閭裡。為巡邏所迫。寡婦處女適啟其門。突入其室。婦女為盜所迫。直入隱奧。以避之。盜躡其蹤。必不肯出。乃啟孔道以行誘焉。庶幾其可去也。血結於胸。而刺期門。何以異此。</p>
<h2>六陽俱絕證（九十）</h2>
<p>一達官乘舟悉歸。四月風雨。飲食不時。得疾如傷寒狀。頭重自汗。身體悉疼。醫作中風濕證治投以術附薑附等湯。汗不止。單服附子。及灸臍下。亦不止。予往視之。曰六陽俱絕。不可治也。（其汗必如珠。驗之果然。半時卒。）</p>
<p>論曰。難經云六陽氣俱絕者。陰與陽相離。陰陽相離。則腠理開。絕汗乃出。汗出如珠。轉而不流。夕占旦死。旦占夕死。此之謂也。蓋病者之汗。有陽盛陰虛。陰盛陽虛。陽盛者如骨蒸熱病之汗。則流溢如潤。陽絕者如此證。則凝聚而止。假如甑　之蒸物。出汗而散者。陽盛之類也。假如置冰於金銀瓦器中。汗出而凝聚不流。陽絕之證也。</p>
