<header><h1>本草問答</h1></header>
<dl class="元資料" data-type="book">
<div><dt>作者</dt><dd>唐宗海</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1862/1918">公元1862年至公元1918年</data></dd></div>
</dl>
<h2>敘</h2>
<p>余自去冬游於粵省，得遇張君伯龍。天姿英敏、文史淹通、留心世故而不習舉業，真達人也。其父墨園曾膺張香帥保荐循吏，政治勞心，每生疾　。伯龍以人子須知醫寢，饋方書於今七年前春，其父偶感時證病象危險，群醫無策，伯龍極力救治，頓獲安全國手之名，一時騰噪。乃益留心醫理。與余邂逅便留講貫，謂余所著中西各種醫書於病源治法，固已詳矣。</p>
<p>而獨少本草，未免缺然。余曰：吾所論著已寓藥性，且本草業經充揀，何煩再贅？伯龍曰：不然，諸家本草揚厲鋪張，幾於一藥能治百病及遵用之，卒不能治一病者，注失之泛也。又或極意求精，失於穿鑿，故托高遠難獲實效，且其說與黃炎、仲景諸書往往刺謬。若不加辨正，恐古聖之旨不能彰著於天下。近日西醫釋藥每攻中醫，適能中中醫之弊，而中國醫士不能發西人之覆，徒使西藥流弊，又增甚於中國本草之禍豈淺鮮哉？甚矣！本草自晉唐以後，千歧百出，極於綱目，幾令人目迷，五色三家注力求深奧，轉多晦義，徐靈胎冠絕一時，頗合經旨。惜其時無西人之說未能互證，以注本經。今先生博通西醫，參合黃炎仲景之書以折衷於至當，若不將本草發明，其流弊又誰救哉？雖西國異產及新出藥品不能盡行論列，但使揭出大義，舉一反三，則據此以求，無論中西各藥，見於目而嘗於口，便可推例以知其性矣，幸毋隱秘不宣。惟先生明以教我，余以伯龍此言甚摯，</p>
<p><u>大清光緒十九年歲在癸巳仲春月蜀天彭唐宗海容川敘</u></p>
<h2>卷上</h2>
<p><u>受業登州張士讓伯龍參</u></p>
<p><u>蜀天彭唐宗海容川著</u></p>
<h3>卷上一</h3>
<p><u>問曰：</u></p>
<p>藥者，昆蟲土石、草根樹皮等物，與人異類，而能治人之病者，何也？</p>
<p><u>答曰：</u></p>
<p>天地只此陰陽二氣流行，而成五運（金木水火土為五運），對待而為六氣（風寒濕燥火熱是也）。</p>
<p>人生本天親地，即秉天地之五運六氣以生五臟六腑。凡物雖與人異，然莫不本天地之一氣以生，特物得一氣之偏，人得天地之全耳。設人身之氣偏勝偏衰則生疾病，又借藥物一氣之偏，以調吾身之盛衰，而使歸於和平，則無病矣！蓋假物之陰陽以變化人身之陰陽也，故神農以藥治病。</p>
<p><u>問曰：</u></p>
<p>神農嘗藥，以天地五運六氣配人身五臟六腑，審別性味，以治百病，可謂精且詳矣！乃近出西洋醫法，全憑剖視，謂中國古人未見臟腑，托空配藥不足為憑，然歟？否歟？</p>
<p><u>答曰：</u></p>
<p>不然，西人初創醫法，故必剖割方知臟腑，中國古聖定出五臟六腑諸名目，皎然朗著。</p>
<p>何必今日再用剖割之法？當神農時，創立醫藥，或經剖視，或果聖人洞見臟腑，均不必論，然其定出五臟六腑之名目而實有其物，非親見臟腑者，不能安得。謂古之聖人未曾親見臟腑耶！靈樞經云：五臟六腑可剖而視也。據此經文則知古聖已剖視過來，且西洋剖視只知層折，而不知經脈；只知形跡，而不知氣化。與中國近醫互有優劣。若與古聖內經本經較之，則西洋遠不及矣！</p>
<p><u>問曰：</u></p>
<p>西人謂彼用藥全憑試驗，中國但分氣味以配臟腑，未能試驗，不如西法試驗之為得也，其說然歟？</p>
<p><u>答曰：</u></p>
<p>中國經神農嘗藥，定出形色、氣味、主治臟腑百病，絲毫不差、所謂嘗藥即試驗也。歷數聖人之審定，蓋已詳矣！豈待今日始言試驗哉？</p>
<p><u>問曰：</u></p>
<p>辨藥之法，以形色氣味分別五行，配合臟腑，主治百病，是誠藥理之大端矣！而物理相感又有不在形色氣味上論者。譬如珀琥拾芥，磁石引針，陽起石能飛升，蛇畏蜈蚣，蜈蚣畏蟾蜍，蟾蜍畏蛇，相制相畏，均不在形色氣味上論，又何故也？</p>
<p><u>答曰：</u></p>
<p>此以其性為治者也，夫辨藥之形色氣味，正以考其性也，果得其性，而形色氣味之理已賅。故凡辨藥，先須辨性。有如磁石，久則化成鐵，是鐵之母也。</p>
<p>其引針者，同氣相求，子來就母也，以藥性論之，石屬金而鐵屬水，磁石秉金水之性，而歸於腎，故其主治能從腎中吸肺金之氣，以歸於根。琥珀乃松脂入地所化松，為陽木，其脂乃陽汁也。性能黏合，久則化為凝吸之性。蓋其汁外凝，其陽內斂。擦之使熱，則陽氣外發而其體黏。停擦使冷，則陽氣內返而其性收吸。故遇芥則能黏吸也。人身之魂陽也，而藏於肝血陰分之中，與琥珀之陽氣斂藏於陰魄之中，更無以異，是以琥珀有安魂定魄之功。西洋化學謂磁石、琥珀內有電氣，其能吸引者，皆是電氣發力，能收引之也。有陰電，有陽電。凡物中含陽電者，遇有陰電之物即吸；含陰電者，遇有陽電之物即吸。若陰電遇陰電之物即相推，陽電遇陽電之物亦相推，其論甚悉！琥珀能拾芥而不能吸鐵，磁石能吸鐵而不能拾芥，以所含之電氣不同也。</p>
<p>然西人單以氣論，猶不如中國兼以質論，則其理尤為顯然。磁石之質類鐵，故以類相從而吸鐵。琥珀之質能黏，故以質為用而抬芥。辨藥性者，所貴體用兼論也。陽起石生於泰山山谷，為雲母石之根。其山冬不積雪，夏則生云，積陽上升。故或乘火氣而上飛，或隨日氣而升騰也。凡人病陽氣下陷，陽物不舉者，用以升舉陽氣，亦以陽助陽之義而已矣！蛇形長，是秉水氣。行則曲折，是秉太氣。</p>
<p>在辰屬已，在象居北，在星象蒼龍。總觀於天，知蛇只是水木二氣之所生也。蜈蚣生於南方干燥土中而味大辛，是秉燥金之氣所生。蛇畏蜈蚣者，金能制木也。蜈蚣畏蟾蜍者，以蟾蜍秉水月之精生於濕地，是秉濕土之氣所生，濕能勝燥，故蜈蚣畏蟾蜍也。蟾蜍畏蛇，則又是風能勝濕，木能克土之義。趁此以求，則凡相畏相使相反之理皆可類推。</p>
<p><u>問曰：</u></p>
<p>物各有性，而其所以成此性者，何也？</p>
<p><u>答曰：</u></p>
<p>原其所由生而成此性也，秉陽之氣而生者，其性陽。秉陰之氣而生者，其性陰。或秉陰中之陽，或秉陽中之陰。總視其生成以為區別，蓋必原一物之終始與乎形色氣味之差，分而後能定其性矣。有如人參，或謂其補氣屬陽，或謂其生津屬陰。只因但論氣味，而不究人參所由生之理，故不能定其性也。余曾問過關東人並友人姚次梧，游遼東歸言之甚詳，與綱目所載無異。本草綱目載人參歌曰：「三五加，背陽向陰，若來求我，　樹相尋。」我所聞者，亦云人參生於遼東樹林陰濕之地，又有人種者，亦須在陰林內植之。夫生於陰濕，秉水陰潤澤之氣也。故味苦甘而有汁液，發之為三　五葉，陽數也。此苗從陰濕中發出，是由陰生陽。故於甘苦陰味之中，饒有一番生陽之氣，此氣可嘗而得之也。人身之元氣，由腎水之中以上達於肺，生於陰而出於陽。與人參由陰生陽，同一理也，所以人參大能化氣，氣化而上，出於口鼻，即是津液。人參生津之理如此，非徒以其味而已。然即以氣味論，甘苦中含有生發之氣，亦只成為由陰出陽之氣味耳。</p>
<p><u>問曰：</u></p>
<p>人參不生於東南，而生於北方。古生上黨，今生遼東、高麗，皆北方也。</p>
<p>此何以故？</p>
<p><u>答曰：</u></p>
<p>此正人參所由生之理，不究及此尚難得人參之真性也。蓋北方屬水，於卦為坎，坎卦外陰而內陽。人參生於北方，正是陰中之陽也。坎卦為水，天陽之氣，皆發於水中。觀西人以火煎水，則氣出，而氣著於物，又復化而為水。知水為氣之母，氣從水而出矣！人身腎與膀胱屬水，水中含陽，化氣上行，出於口鼻，則為呼吸；充於皮毛，則為衛氣。只此腎與膀胱，水中之陽，化氣而充，周者也。故《內經》曰：「膀胱者，洲都之官，氣化則能出矣。」此與天地水中含陽，化而為氣，以周萬物，本屬一理。水在五行屬北方，人參生於北方，秉水中陽氣，故與人之氣化相合，所以大能補氣。不獨人參為然，凡一切藥，皆當原其所生，而後其性可得知矣。夫生於北方，有陰中之陽藥，則知生於南方，有陽中之陰藥，如朱砂是。人參屬水中之陽，丹砂則屬火中之陰，丹砂生辰州者，名曰辰砂。世人用硫黃、水銀二物鍛煉變為赤色，以冒辰砂，又有靈砂，亦用二味煉成，名曰二氣砂。皆謂其有補坎填離之功，法本於抱朴子。因抱朴子煉丹砂，服之而仙，後人遂有爐鼎之術。沿襲至今，尚有辰砂、靈砂兩藥，均用硫黃、水銀二味煉成者也。水銀乃石中之陰汁，硫磺乃石中之陽汁。</p>
<p>合而鍛煉，返水銀之陰而盡歸於陽，變為純赤，與丹砂之色無異，但由人力造成。陰返為陽，是陰已盡而陽獨存，且有火煉之毒，以之助陽退陰則可，以補陽益陰則不可。不及丹砂，由天地自然熔鑄而成，陽中含陰，外露火色，內含水陰。夫造靈砂、辰砂者、須用硫黃、水銀二味合鍛，乃能變成紅色，則知丹砂，亦必具硫黃、水銀相合之性，乃變化為純赤之色也。</p>
<p>但丹砂是天地陰陽之氣自然鍛煉，不假火力，極其神妙，非可以水銀、硫黃分論丹砂也。火體之中含有水氣，故丹砂能入心益陰以安神。又取水銀法，將丹砂燒之即出。既燒之砂腳不足用，以其內之陰汞已走，陽中無陰也。水銀有毒，積陰無陽也，要之合硫磺、水銀而作靈砂、辰砂，非陽中含陰之性。分水銀砂腳為二物，則尤陰陽各異，均非朱砂之本性，惟天地南方離火自然熔成之朱砂，外具火色，內含水陰，合乎離卦外陽內陰之象，離中之陰坎之水也。朱砂火色而內含水銀，即離火中含坎水之象，故能補坎之水以填離宮，養血安神，此為第一。此可與人參對勘！人參秉水中之陽而補氣，朱砂秉火中之陰而養血。一生北方，一生南方。就此二物，便知南北水火陰陽血氣之理矣！夫南北水火，雖非截然究之各有所屬。故北方屬水，多生氣</p>
<h3>卷上二</h3>
<p><u>問曰：</u></p>
<p>黃　或生漢中，或生甘肅，或生山西，或生北口外，令統以北方立論，有理否？</p>
<p><u>答曰：</u></p>
<p>雖不必截然在北，然其為性，實皆秉北方水中之陽氣以生，其主北方立論，則就乎得氣之優者而言，故黃　以北口外產者為佳。蓋天地之陽氣，均由土下黃泉之水中透出於地面，上於天為雲霧，著於物為雨露，交於人為呼吸，只此水中之氣而已。人身之陽氣，則由腎與膀胱氣海之中發出，上循三焦油膜以達於肺，而為呼吸；布於皮毛，而為衛氣，亦只此水中之氣而已矣。水在五行，以北方為盛，故補氣之藥皆以北方產者為良。漢中甘肅所產黃　，根體多實，氣不盛而孔道少；山西所產，體略虛松，以氣略盛，內有通氣之孔道，故略虛松。猶不及北口外所產者，其體極松，以內中行水氣之孔道更大，故知其氣為更盛。蓋黃根長數尺，深入土中，吸引土下黃泉之水，以上生其苗葉，氣即水也，引水即是引氣，根中虛松竅大者，所引水氣極多，故氣盛而補氣。人身氣生於腎，由氣海上循油膜而達口鼻，與黃　之氣由松竅而上苗葉者無異。　之松竅象人身油膜中亦有通水之松竅油膜者，三焦也，故謂黃　為三焦油膜中藥。其能拓裡達表，皆取黃　從油膜中，而上行外通之義也。且黃外皮紫黑水火之間色也，惟其秉水中之陽氣，故成此水火之間色。三焦相火水中之陽，名曰少陽。黃　中通象三焦，引水泉之氣，以上生苗葉是秉水中之陽而生者也，故有水火之間色，而為三焦之良藥，其氣類有如是者。　之肉理色黃味甘，土之色土最深又得土氣之濃，所以黃　又大補脾。今人不知身中綱膜是三焦，又不知綱膜上之膏油即是脾之物，不知膜與油相連，又安知黃　補脾土，達三焦之理哉？能知綱膜是三焦，膏油屬脾土，則知黃　歸脾經。達三焦之理矣！</p>
<p><u>問曰：</u></p>
<p>肉桂生於南方，秉地二之火，以入血分固矣。乃仲景腎氣丸用之取其化氣，而非取其化血，此又何說？</p>
<p><u>答曰：</u></p>
<p>血無氣不行，氣無血不附，氣血二字原非判然兩端。且其化氣乃仲景之妙用，非肉桂之本性也，人身之氣，生於腎中一陽，實則借鼻孔吸入之天陽，歷心系，引心火下交於腎，然後蒸動腎水，化氣上騰，出於口鼻。仲景腎氣丸多用地黃、山藥、丹皮、茱萸以生水，用苓、澤以利水，然後用桂導心火以下交於水，用附子振腎陽以蒸動其氣。肉桂之能化氣者，如此，乃仲景善用肉桂之妙。非肉桂自能化氣也，若單用肉桂，及合血分藥用則多走血分，不是氣分之藥矣！又如桂枝色赤味辛，亦是人心肝血分之藥。而五苓散、桂苓甘草五味湯均取其入膀胱化氣，非桂枝自能化氣。實因苓澤利水，引桂枝入於水中，以化水為氣，與腎氣之用肉桂其義相近，不得單言桂枝，便謂其能化氣也。至如黃　五物湯治血痹，當歸四逆湯治身痛，皆取桂枝溫通血脈，可知心火生血。而秉火氣者，入於血分乃是一定之理。</p>
<p><u>問曰：</u></p>
<p>入氣分入血分，其理未易明也，請再言之。</p>
<p><u>答曰：</u></p>
<p>秉於天水而生者入氣分，秉於地火而生者入血分。氣本於天，味本於地，氣濃者入氣分，味濃者入血分。入氣分者走清竅，入血分者走濁竅。有如大蒜，氣之濃者也，故入氣分走清竅，上為目瞀而下為溺臭。海椒味之濃者也，故入血分走濁竅，上為口舌糜爛而下為大便辣痛。觀此二物，即知入氣分入血分之辨矣！蓋得天水之氣而生者，入氣分，人參、黃　最顯者也。外如澤瀉、苡仁生於水而利水，二物同而不同。苡仁生於莖上，則化氣下行，引肺陽以達於下。澤瀉生於根下，則化氣上行，引腎陰以達於上。百合花覆如天之下垂，旋覆花滴露而生，本天之清氣，故皆入氣分，以斂肺降氣。鐘乳石下垂，象天石又金之體也，故主鎮降肺氣。蛤蚧生石中，得金水之氣，故滋肺金，功專利水，其能定喘者，則以水行則氣化，無痰飲以阻之故喘自定。麥冬、天冬秉水陰者，皆能滋肺以清氣分。龍乃水中陽物，世所用龍骨系土中石品，非水族也。然既成為龍形，則實本天一水中之陽氣而生，既成龍形，又不飛騰。假石以為質，潛藏於土中，是秉天水之陽以歸於地下，故能潛納腎氣，收斂心神，皆用其潛納陽氣之義耳。茯苓乃松之精汁流注於根而生，是得天之陽以下返其宅者也。下有茯苓，其松顛上有茯苓苗，名威喜芝。苓在土中，氣自能上應於苟，得松之精則有木性，能疏土也。凝土之質，味淡色白，功主滲利，能行水也。其氣不相連接，自上應於苗，故能化氣上行而益氣，西人以松香搓發電氣，謂松香中電氣最多。松香淪入地中，變生茯苓，內含電氣，其氣上應於苗，亦如電線之相貫而已。然西國只名為陽氣。松脂秉陽之精，淪入於地，化為茯苓，陽氣所發，遙遙貫注，是生威喜芝，非氣化之盛。惡能如是，人身之氣乃水中一陽所化，茯苓以質之滲行其水，而氣之陽助其化，所以為化氣行水之要藥。以上所論，皆得天水之陽而生，故皆入氣分。其他入血分者，則必得地火之味而生，如當歸、川芎是。蓋人身之血，是由胃中取汁得心火化赤遂為血，既化為血，乃溢於脈，轉樞於胞宮，而肝司之。故凡入血分之藥，皆得地火之氣味，而兼入肝木。</p>
<p>當歸辛苦，是得地火之味，其氣微溫，得木之性，而質又油潤；得地之濕，故能化汁；助心生血，以行於肝。別錄本草有謂：「當歸過於辛溫，行血之功有餘，生血之功不足。」不知人身之血是中焦受氣取汁，上騰於肺部，入於心，奉心火之化乃變赤色而為血。西醫言飲食之汁上肺，至頸會管，遂為紅色，下入心房。合觀此說，總見奉心火之化，而變為血《內經》所謂心生血者，此也。當歸辛苦溫烈之氣，正所以出心火之化，以其油潤生汁，以其辛溫助心火之化。其功專生血，更無別藥可以比擬也。仲景和血之方無過於溫經湯，生血之方無過於復脈湯。溫經湯辛溫降利，與川芎同功。復脈湯辛溫滋潤，與當歸同功。知心火化液為血，則知復脈湯之生血，並知當歸為生血之藥也。川芎味更辛苦，得木火之性尤烈，質不柔潤，性專走竄，故專主行心肝之血。夫苦者，火之味也，苦而兼辛則性溫而有生血之功。若但苦而不辛，則性涼而專，主泄血。紅花色赤，自入血分；而味苦，則專能泄血。又凡花性皆主輕揚，上行外走，故紅花泄肌膚脈絡在外在上之血。丹皮色味亦類紅花，而根性下達，與花不同，故主在內及泄中下焦之血。桃花紅而仁味苦，皆得地火之性味者也，仁又有生氣，故桃仁能破血，亦能生血。茜草色赤味苦根甚長，故下行之力更重，專能降泄行血也。</p>
<p><u>問曰：</u></p>
<p>若得火味，其入心清火泄血，理可知矣。惟辛味之品是得肺金之味者，乃亦能入血分。如肉桂、桂枝、紫蘇、荊芥，此又何說？</p>
<p><u>答曰：</u></p>
<p>凡藥得酸味者，皆得金收之性，得辛味者，皆得木溫之性，此乃五行相反相成之理。心火生血尤賴肝木生火，此是虛則補其母之義，故溫肝即是溫心。肉桂大辛，則大溫，雖得金味，而實成為木火之性，故主人心肝血分，以助血之化源。桂皮尤能上行，張仲景復脈湯用桂枝，取其入心助火以化血也。遠志之性亦同桂枝，但桂枝四達，遠志則系根體，又極細，但主內入心經以散心中滯血而已。不獨草木本火味者入血分，有如馬為火畜，故馬通亦能降火以行血。棗仁秉火之赤色，故亦入心養血，總見血生於心。大凡得地火之性味者，皆入血分也。</p>
<p><u>問曰：</u></p>
<p>生地質潤，中含水液，阿膠濟水煎成，性本水陰。二藥皆能生血，何也？</p>
<p><u>答曰：</u></p>
<p>離卦中之陰爻即坎水也，阿膠、生地以水濟火，正是以坎填離，有此陰汁，而後得心火化赤，即為血矣！正《內經》中焦取汁，奉心火變赤為血之理，知血之生化，凡入血分之藥從可知矣。</p>
<p><u>問曰：</u></p>
<p>南北地有不同，所生之藥，既有水火血氣之分，先生已言之矣。至於東西中央，豈無異致？何以不論及耶？</p>
<p><u>答曰：</u></p>
<p>南北水火，其顯分者也，況陰陽摩蕩，南未嘗不得北氣，北未嘗不得南氣。至於東西循環，中央四達，其氣錯行，故可不分。然亦有可分別者，如青礞石、化紅皮荔枝核，皆秉東方木氣者也。或能平肝以行痰，或能散肝以解鬱。皆以東方產者，為得木氣之全，故此等藥廣東產者為佳。川貝母、生石膏、桑白皮，皆秉西方金氣而生，或利肺降痰，或清金去熱，皆以西方產者，為得金氣之清，故此等藥以川西產者為佳。至於李用東行根、石榴，用東向者皆取得木氣也；側柏葉皆西指，取用必取西枝，只是取其得金氣耳。至於中央備東南西北之四氣，而亦有獨得中央之氣者，如河南居天下之中，則產地黃。</p>
<p>人見地黃黑色，不知其未經蒸晒，其色本黃。河南平原土濃水深，故地黃得中央濕土之氣而生，內含潤澤土之濕也。人徒見地黃蒸成色黑，為能滋腎之陰，而不知其實滋脾陰。《內經》云：脾為陰中之至陰，地黃以濕歸脾，脾陰足則肝腎自受其灌溉。山藥亦以河南產者為佳，味甘有液，是得土濕之氣，功能補脾，亦補脾之陰也。惟山藥色白，則得土中之金氣，故補脾而兼益肺。地黃能變黑色，實得土中之水氣。故潤脾而兼滋腎。雖同產一地，而有種類形色之不同，故功亦略異。</p>
<h3>卷上三</h3>
<p><u>問曰：</u></p>
<p>甘草入脾，何以生於甘肅？白朮正補脾土，何以不生於河南，而生於浙江？</p>
<p><u>答曰：</u></p>
<p>此正見五行之理，不得截然分界。況土旺於四季，是四方皆有土色。白朮之生於江浙，必其地饒有土脈，故生白朮內含甘潤之油質，可以滋脾之陰，外發辛香之溫性，可以達脾之陽。取溫潤則用浙產者，以其油濃也，取溫燥則用KT　產者，以其較烈也。甘草味正甘入脾胃，守而不走，補中氣，和諸藥。雖不生於河南中州，而生於極西之甘肅，亦由甘肅地土敦濃，故生甘草。根深者至四五尺，與黃　無異，但黃　中空屬氣分，是得土中水氣，甘草中實純得土氣之濃，故深長且實也。雖生於西，而實得中土之氣。總之五行之理，分言則各別方隅，合論則同一太極。</p>
<p><u>問曰：</u></p>
<p>藥有以天時名者，如夏枯草、款冬花，得無以時為治乎？</p>
<p><u>答曰：</u></p>
<p>然天時者，五行之流運，陰陽之分見，故凡論藥，又當論其生之時，與成之候。雖不盡拘於時，而亦有以時為治者。夏枯草生於冬末，長於三春，是正得水木之氣。遇夏則枯者，木當火令則氣其退謝，故用以退肝膽經之火。款冬花生於冬月冰雪之中，而花又在根下，乃坎中含陽之象，故能引肺中陽氣下行，而為利痰止咳之藥。二物皆以時名，皆得其時之妙用也。又如冬蟲夏草，《本草》不載，今考其物真為靈品，此物冬至生蟲，自春及夏，蟲長寸余粗如小指，當夏至前一時猶然蟲也。及夏至時，蟲忽不見，皆入於土，頭上生苗，漸長到秋分後，則苗長三寸，居然草也。此物生於西蕃草地，遍地皆草，莫可辨識。秋分後即微雪，采蟲草者，看雪中有數寸無雪處，一鋤掘起，而蟲草即在其中。觀其能化雪，則氣性純陽，蓋蟲為動物，自是陽性，生於冬至，盛陽氣也。夏至入土，陽入陰也，其生苗者，則是陽入陰出之象，至靈之品也。</p>
<p>故欲補下焦之陽，則單用根，若益上焦之陰，則兼用苗。總顯其冬夏二令之氣化而已。麥冬、天冬、忍冬、冬青，皆凌冬不凋，感水津之氣，故二冬能清肺，金忍冬能清風熱，冬青子滋腎，其分別處又以根白者入肝。藤蔓草走經絡，冬青子色黑，則入腎滋陰。至於半夏，雖當夏之半，而其根成於秋時，得燥金辛烈之氣味，故主降利水飲，為陽明之藥。此又不可循半夏之名，而失其實也。故論藥者，或以地論，或以時論，或但以氣味論，各就其偏重者，以為主，而藥之真性自明。</p>
<p><u>問曰：</u></p>
<p>藥多以味為治，味之甘者則歸脾經，乃甘味之藥多矣。或正入脾胃，或兼入四臟，此又何以別之？</p>
<p><u>答曰：</u></p>
<p>得甘之正味者，正入脾經，若兼苦兼酸兼咸兼辛，則皆甘之間味也，故兼入四臟。甘草純甘，能補脾之陰，能益胃之陽，或生用，或熟用，或以和百藥，固無不宜。黃精甘而多汁，正補脾土之濕。山藥色白帶酸，故補脾而兼入肝肺。白朮甘而苦溫，故補脾溫土，和肝氣以伸脾氣也。蒼朮甘而苦燥，故燥胃去濕。黃　味甘而氣盛，故補氣。薺味甘而有汁，故生津。蓮米味甘帶澀，其氣清香，得水土之氣，故補土，以澀精止利。黃實甘味少而澀性多，是得土澤之味少，而得金收之性多，且生水中，是屬腎之果也，故用以收澀腎經，及止瀉利。苡仁亦生水中，而味極淡，則不補又不澀，則純於滲利。茯苓亦然，皆以其淡，且不澀也。赤石脂黏澀又味甘，則能填補止瀉利。禹餘糧是石穀中之土質，甘而微咸，甘能補正以止利，咸能入腎以澀精，皆取其甘，亦用其澀。如不澀而純甘，如龍眼，則歸脾又產炎州，得夏令火氣而生，以火生土，故補心兼補脾。使君子仁甘能補脾，而又能殺疳蟲者，因氣兼香臭，有溫烈之性，故服此忌食熱茶，犯之即泄，與巴豆之飲熱則瀉，其意略同。以畜物論，黃牛肉甘溫，大補脾胃。羊肉雖甘而有膻氣，得木之溫，故補脾兼補肝。</p>
<p>豬肉雖甘而兼咸味，得水土之寒性矣，故滋脾潤腎。人乳味甘本飲食之汁，得肺胃之氣化而成，故能潤養胃滋生血液，補脾之陰無逾於此。甘松味甘而香烈，故主理脾之氣。木香之理氣，以其香氣歸脾而味兼微辛，又得木氣之溫，力能疏土，且木香，莖五枝五葉五節五皆合脾土之數，故能理脾也。以諸果論大棗，皮紅肉黃，皮辛肉甘，得以火生土之性，故純於補脾胃。梨味甘而含水津，故潤脾肺。荔枝生東南，味甘酸，故歸脾，與肝而溫補。總之味甘皆入脾，又審其所兼之味，以兼入別臟，則主治可得而詳矣。</p>
<p><u>問曰：</u></p>
<p>苦者，火之味也。而味之苦者，均不補火，反能瀉火，何也？</p>
<p><u>答曰：</u></p>
<p>物極則復陽極陰生，以卦體論，離火之中爻陰也，是離火中含坎水之象。凡藥得火味者，亦即中含水性而能降火，此正水火互根之至理。黃連之味正苦，故正入心經以瀉火。梔子味苦象心包，故瀉心包絡之火。連翹亦象心包，而質輕揚，味微苦，則輕清上達，清心與上焦頭目之火。蓮子象心，而蓮心又在其中，味又極苦，有似離中陰爻，用以清心中之火，最為相合。黃芩味苦，中多虛空有孔道，人身惟三焦是行水氣之孔道，主相火。黃芩中空有孔，入三焦而味又苦，故主清相火。膽草、胡黃連，味苦而堅澀，兼水木之性，故皆瀉肝膽之木火。惟膽草根多而深細，故瀉火並兼降利。胡黃連則守而不走，是宜細別。大黃味苦，形大而氣烈，故走脾胃，下火更速。</p>
<p><u>問曰：</u></p>
<p>瀉火之苦藥，其色多黃，又何故也？</p>
<p><u>答曰：</u></p>
<p>黃者土之色，五行之理，成功者退，火之色紅而生土之黃色。是黃者，火之退氣所生也。故黃苦之藥，皆主退火。若苦味而色不黃，則又有兼性矣。故花粉色白，味苦而有液，則瀉火之功輕，而入胃生津之力重。元參色黑味苦而有液，則瀉火之功少，而滋腎之功多。丹皮色紅味苦，則清心火而行血。</p>
<p>青黛色青味苦，則清肝火而熄風。總之得火苦味者，皆得水之寒性。《通明，吾蜀近醫多言苦為者，皆得火之燥性，火證反以為忌，不知苦化燥之說，必其兼燥藥。</p>
<p>如蒼朮、乾薑與黃連同用則燥，生地、白芍與黃連同用，豈能燥哉？況人身六氣，熱與火各不同。熱是氣分之熱，故清熱者，以石膏、花粉為主，以其入氣分也。火是血分，故瀉火者，必以黃連、黃芩為主，以其入血分也。但知用甘寒而廢苦寒，則能清熱，不能退火。辨藥者，當知此理。</p>
<p><u>問曰：</u></p>
<p>得苦之火味者，皆得水之寒性，能清火矣，何以艾葉、故紙、巴戟、遠志，其味皆苦，而皆能補火，何哉？</p>
<p><u>答曰：</u></p>
<p>苦之極者，反得水之性。若微苦者，則猶存火之本性，故補火。故紙、巴戟苦兼辛溫，故紙色黑而子堅，則溫腎。巴戟色紫而根實，則溫肝。遠志形極細，故入心，味帶苦，亦入心然兼辛溫，故補心火。蓋有間味者即有間氣，不得以純於苦者論矣！</p>
<p><u>問曰：</u></p>
<p>辛者，金之味也，金性主收，今考辛味之藥，皆主散而不主收，其故何也？答曰：凡藥氣味有體有用，相反而實相成，故得金之味者，皆得木之氣，木氣上達，所以辛味不主收而主散，木之氣溫，能去寒木之氣，散能去閉。薄荷辛而質輕，氣極輕揚，輕則氣浮而走皮毛，以散風寒，揚則氣升而上頭目，去風寒。辛夷花在樹梢，其性極升，而味辛氣散，故能散腦與鼻間之風寒。荊芥性似薄荷，故能散皮毛，而質味比薄荷略沉，故能入血分，散肌肉。羌活、獨活根極深長，得黃泉之水氣，而上升生苗，象人身太陽經，秉水中之陽以發於經脈也，味辛氣烈故入太陽經，散頭頂之風寒。獨活尤有黑色，故兼入少陰以達太陽，能散背脊之風寒。細辛形細色黑，故入少陰經，味大辛能溫散少陰經之風寒，少陰為寒水之臟，寒則水氣上泛，細辛散少陰之寒，故能逐水飲。防風辛而味甘，故入脾，散肌肉之風寒。</p>
<p>紫蘇色紫入血分，味辛氣香能散血分之風寒。蘇枝四達，則散四肢。蘇梗中空有白膜，則散腹中之氣。蘇子堅實，則下行而降肺氣，以行痰。同一辛味，而有根枝子葉之不同，總視其輕重升降之性，以別其治也。桂枝能散四肢色味同於蘇枝，而桂枝較堅實，故桂枝兼能走筋骨。蘇枝則但能走肌肉耳，肉桂比枝味更濃，氣更凝聚，乃木性之極致大辛則大溫，能益心火為以木生火之專藥。其實是溫肝之品，肝為心之母，虛則補其母也。心肝皆司血分，故肉桂又為溫血之要藥。仲景腎氣丸用之，是接引心肝之火，使歸於腎，亦因有附子、熟地、茯苓，使肉桂之性從之入腎，乃善用肉桂之妙，非桂自能入腎也。肉桂、桂枝同是一物，而用不同，是又在分別其濃薄，以為升降。夫得辛味者，皆具木之溫性。桂正是木，而恰得溫性，故為溫肝正藥。吳萸、小茴皆得辛溫木之氣，台烏是草根，自歸下焦。小茴香是草子，凡子之性皆主下降，故二藥皆能溫下焦胞宮與膀胱。吳萸辛而帶苦子，性又主下降，故主降水飲行滯氣。故紙、韭子皆色黑而溫黑，為腎水之色，子又主沉降，故二物皆能溫腎。附子生於根下，與枝葉皮核不同，故不入中上焦，其色純黑而味辛烈，秉坎中一陽之氣所生，單從下焦扶補陽氣，極陽極陰，皆有毒。附子之烈，正以其純是坎陽之性，可以大毒。附子與肉桂之性不同，肉桂是補火，秉於地二之火氣者也；附子是助熱，熱生於水中，是得天水之陽。故附子純入氣分以助陽，為腎與膀胱之藥，火鍛則無毒，水中之陽毒遇火則散，亦陰陽相引之義。今用鹽腌以去毒，使附子之性不全非法也。凡溫藥，皆秉木氣，惟附子是秉水中之陽，為溫腎達陽之正藥。蓋秉木火者，為得地二之火，秉水中之陽，是得天一之陽。</p>
<h3>卷上四</h3>
<p><u>問曰：</u></p>
<p>木之性散，何以味反酸而主收哉？</p>
<p><u>答曰：</u></p>
<p>此亦相反相成，金木交合之理，得木之味者，皆得金之性，所以酸味皆主收斂。五味子主咳逆上氣，蓋氣出於臍下胞室氣海之中，循衝脈而上入肺，胞室乃肝所司。或肝寒，則胞宮衝脈之氣，挾水飲而上衝於肺，以為咳喘，或肝熱，則胞宮衝脈之氣挾本火而上衝於肺，以為咳喘。五味酸斂肝木，使木氣戢而不逆上，則水火二者皆免衝上為病，是酸味入肝，而得金收之性，故有是效。五味子亦微酸而質潤，囊大而空，有肺中空虛之象，生於葉間，其性輕浮，故功專斂肺生津。五味子是斂肝以斂肺，以其性味更沉也。五倍子則專主斂肺，以其性味略浮也。罌粟殼亦斂肺，能其酸味不甚，其囊中空有格，象肺與膜膈，故其收澀之性，不遍於入肝，而能入肺以收斂逆氣，收止瀉利也。白芍為春花之殿，而根微酸，故主能斂肝木，降火行血。山茱萸酸而質潤，故專入肝滋養陰血。烏梅極酸，能斂肝木，能化蛔蟲，能去　肉，皆是以木克土以酸收之之義。觀山楂之酸能化肉積，則知烏梅之酸能化蛔蟲　肉，其理一也。</p>
<p><u>問曰：</u></p>
<p>凡酸味皆能生津，此又何說？</p>
<p><u>答曰：</u></p>
<p>津生於腎而散於肝，木能泄水，子發母氣也。酸味引動肝氣，故津散出。</p>
<p><u>問曰：</u></p>
<p>酸主收斂，而酸之極者又能發吐，何也？</p>
<p><u>答曰：</u></p>
<p>辛主升散，而辛之極者，則主溫降；酸主收斂，而酸之極者，則主涌吐。物上極則反下，物下極則反上也。觀仲景大小柴胡湯治肝火之吐逆，吳茱萸湯治肝寒之吐逆，知凡吐者，必挾肝木上達之氣，乃能發吐。則知導之使吐，亦必引其肝氣上行乃能吐也。二礬極酸，變為澀味，酸則收而引津，澀則遏而不流。</p>
<p>肝氣過急，反而上逆，故發吐也。且膽礬生銅中，有酸木之味，而正得銅中金收之性，金性緩則能平木氣而下行，金性急則能遏木氣而上吐，金木常變之理可以細參。故吾曰：得木之味者，皆得金之性，陰陽互換惟土之性不換，辨味辨藥當詳究之。</p>
<p><u>問曰：</u></p>
<p>如上所論以求之，則咸得水味，當得火之性矣。何以旋覆花咸而潤降痰火，澤瀉咸而潤利濕熱，昆布、海藻咸而清肝火，芒硝、寒水石咸而瀉脾火，皆得咸之味，具水之本性，未嘗反得火性也？</p>
<p><u>答曰：</u></p>
<p>味之平者，不離其本性，味之極者，必變其本性。譬如，微苦者有溫心火之藥，而大苦則反寒，故微咸者，皆秉寒水之氣，而大咸則變熱。離中有陰，坎中有陽，皆屬一定之理。今所問旋覆花，味微咸，花黃色，滴露而生，得金之氣多，得水之氣少，故潤利肺金，不得作純咸論也。昆布、海藻生於水中，味微咸而具草之質，是秉水木寒水石得石之性多，味雖咸而不甚，且此石之山即能生水，流而為泉，是此石純具水性，故能清熱。芒硝咸味雖重，而未至於極，故猶是寒水之性，能大下其火，尚屬咸水之本性，而非咸極變化之性也。若乎火硝，則咸味更甚，反而為火之性，故能焚燒，是水中之火也。食鹽太多，立時發渴，亦是走血生熱之一驗。西洋人煉鹽名曰鹽精，又煉咸名曰咸精，二物貯於一處，中間隔以玻璃，但將玻璃觸破，則暴發為火。西洋作水雷，其法如此，夫鹽精能發火，則知鹽味之咸，內有火熱之性。然水中之火乃命門之火也，微咸者，則能引火下行，以上諸藥是已大咸者，則能助火升發。火硝鹽精是已蜀中養雄豬者，必飼以鹽，乃能多御牝豕，亦即助發命門之火，以助其陽之驗。藥中肉蓯蓉初為馬精且味鹹入腎，故溫腎而強陰，以其助腎中之陽，而能益命火也。至於煎作秋石以為滋陰，能治陰痿，而不知其味大咸，只能助發命門之火以舉其陽莖，與雄豬飼鹽無異。是壯其陽非能滋其陰也，故服秋石者往往陰枯而成瘵疾，皆未知大咸助火之義也。雖童便本能滋陰，而煎作秋石則　煉已甚，不得仍作童便之性論。蓋得水之味具火之性，亦只完其坎中有陽之義而已。</p>
<p><u>問曰：</u></p>
<p>寒熱溫平藥性已盡上所分五行五臟，已詳寒熱溫平之性，可不再贅矣。而藥之分上下表裡者，又有升降浮沉之別，可得聞歟？</p>
<p><u>答曰：</u></p>
<p>此本於天地之陰陽也。本於陽者以氣為主，而上行外達，故升而氣浮，能走上焦；以發表本於陰者，以味為主，而內行下達，故降而氣沉，能行裡達下焦。氣本於天，味成於地。《內經》謂天食人以五氣，地食人以五味，本天親上，本地親下，而升降浮沉之理見矣。</p>
<p><u>問曰：</u></p>
<p>薄荷、辛夷、麻黃、桂枝、生薑、蔥白、羌活、獨活、葛根、柴胡、白頭翁、升麻、紫蘇、荊芥、白芷、爐甘石、海石、菊花、連翹、銀花、蒼耳子、青蒿、蔓荊子，皆升浮之品，而其用各異，何也？</p>
<p><u>答曰：</u></p>
<p>是氣分藥，而又視形味以細別之。薄荷、辛夷、同一辛味，氣皆輕清而形各異。薄荷細草叢生，不只一莖，故能四散，又能升散顛頂，以其氣之輕揚也。辛夷生在樹梢，而花朵尖銳向上，味辛氣揚，故專主上達，能散腦與鼻孔之風寒，麻黃雖一莖直上，而其草叢生，與薄荷叢生之義同，故能上升又能外散。薄荷得天氣之輕揚，而其味辛，是兼得地之味，故兼能入血分。若麻黃則莖空直達而上，且無大味，純得天輕揚之氣，故專主氣分從陰出陽，透達周身上下之皮毛。桂枝與麻黃，同一升散之品，然氣味各有不同，枝性四達，氣亦輕揚。因桂兼有辛味，則得地之味矣，故兼入血分，能散血脈肌肉中之風寒。觀仲景麻黃湯發皮毛，桂枝湯解肌肉，便知血分氣分之辨。生薑其氣升散，而又能降氣止嘔者，因其味較勝，且系土中之根，是秉地火之味而歸於根，故能降氣止嘔。雖能升散而與麻桂之純升者不同，故小柴胡、二陳湯皆用之以止嘔。蔥白之根亦生土內，然葉空莖直，氣勝於味，引土下黃泉之氣以上達苗葉，故功專主升散，能通肺竅。仲景白通湯，用以通陽氣於上，則取以土下黃泉之氣，以上達苗葉，為能通太陽水中之陽，而交於顛頂也。</p>
<p>羌、獨、葛根皆根深，能以地中水氣上達於苗葉，其苗又極長，象人身太陽經從膀胱水中達陽氣於經脈，以衛周身，故二物均入太陽經。羌獨氣味更辛烈，故發散而能傷血。葛根氣味較平，故發散之性輕而不傷血，根深能引水氣上達苗葉，故兼能升津液也。柴胡、白頭翁皆一莖直上，花皆清香，故皆能升散郁結。白頭翁所以治下痢後重者，升散郁結故也。柴胡治胸前逆滿，太陽之氣陷於胸中，不得外達以致滿。柴胡能透達之，亦升散郁結之義也。而二物之不同者，白頭翁無風獨搖，有風不動，色白有毛，凡毛皆得風氣，又采於秋月，得金木交合之氣，故能息風。從肺金以達風木之氣，使木不侮土者也，故功在升舉後重而止痢疾。</p>
<p>柴胡色青，一莖直上，生於春而采於夏，得水木之氣味從中土以達木火之氣，使不侮肺者也，故功能透胸前之結。夫仲景用柴胡以治少陽，其義尤精，少陽者水中之陽，發於三焦以行腠理，寄居膽中以化水穀，必三焦之膜網通暢，肝膽之木火清和，而水中之陽乃能由內達外。</p>
<p>柴胡莖中虛松，有白瓤通氣，象人身三焦之膜網，膜網有紋理，與肌膚筋骨相湊，故名腠理。</p>
<p>少陽木火鬱於腠理而不達者，則作寒熱，柴胡能達之，以其中松虛象腠理，能達陽氣，且味清苦，能清三焦之火。然則柴胡治膽者，用其苦也。治三焦者，用其莖中虛松直上也。治太陽者，則是通三焦之路，以達其氣，乃借治非正治也。又柴胡須用一莖直上，色青葉四面生如竹葉而細開小黃花者，乃為真柴胡。是仲景所用者，近有草根，辛溫發表，絕非柴胡本性。斷不可用四川梓潼產柴胡，價極賤，天下不通用，只緣藥書有軟柴胡、紅柴胡、銀柴胡諸說，以偽亂真，失仲景之藥性，可惜！可惜！升麻味甘能升脾胃之氣，其所以能升之理，則因根中有孔道，引水氣上達於苗，故性主升。然無四散之性，以其為根專主升，不似柴胡系苗葉，故有散性也。紫蘇略同。荊芥色紅，能散血分，枝披葉離，故主散之性多，而主升之性少。白芷辛香色白入肺，與陽明經根性又主升，故能升散肺與陽明之風寒。觀獨活色黑，入太陽，少陰；白芷色白入肺與陽明。此又金水異質各歸其類之象，所以性皆升散而主治不同也。銀花、連翹、甘菊味清而質輕，故能升清氣，清上焦頭目之熱。然無辛散之氣，故不主散。青蒿、蒼耳皆不辛散，而能主散者，則又以其形氣論也。青蒿枝葉四散，而味苦，故能散火。蒼耳質輕有芒，則能散風。凡有芒角與毛，皆感風氣，故主散風。蔓荊子氣烈，而質亦輕，故主散頭目之風。爐甘石、海石質皆輕浮，然究系石體乃沉中之浮也，故不能達巔，而只能散肺胃痰火之結。辨藥之浮沉以治病之浮沉，而表裡升降之義。</p>
<p><u>問曰：</u></p>
<p>《本草》言上升之藥制以鹽，則能下降；下降之藥制以酒，則能上升。酒亦五穀所化，何以性純於升哉？</p>
<p><u>答曰：</u></p>
<p>氣本於天，故主升，酒正是氣化之品，所以饒於升。觀煮白干酒者，用筒取氣，入天鍋底，化而為酒，蓋酒皆上升之氣水也。水中之陽本上升。西洋人於水中取輕養氣能上升，且能然而為火，積陽則上升，水為坎卦而中爻為陽，故氣出於水而上升，太空清陽之氣，皆水中之陽所充發也。煮酒以曲　宣陽，以火煮之，使陰化為陽，氣上出，遂為酒。全是上升之陽氣也，故主升。又讓米酒者，以曲　腌糯米飯發熱腐化，酒出而飯成糟，仍是從氣之化，故屬陽，亦主升。然米酒與白干酒不同，白干酒由筒上引而出，純是清氣，米酒釀於缸內，尚帶濁汁，故米酒味較濃，能入血分，性亦滯留，能生痰濕。白干酒氣較濃，專行氣分，性不滯留，不生痰濕，同一升性而一清一濁，遂有浮沉之別，故審藥理者，不可不細。</p>
<h3>卷上五</h3>
<p><u>問曰：</u></p>
<p>飴糖與米酒皆是曲　所化，何以飴糖甘潤而性不升哉？</p>
<p><u>答曰：</u></p>
<p>酒由醞釀自然流出，得氣之化為多，故氣盛而升。飴糖熬煮逼之使出，得氣之化少，故味盛而氣不升。蓋酒得天之氣濃而升，飴得地之味濃而補。仲景建中湯用飴糖正取其補中宮也，觀白干酒升而不守，飴糖守而不升。米酒能升能守，分別處全在氣味濃薄辨藥性者，貴詳究其理也。</p>
<p><u>問曰：</u></p>
<p>芒硝、大黃、巴豆、葶藶、杏仁、枳殼、厚朴、牛膝、苡仁、沉香、降香、鐵落、赭石、檳榔、陳皮等物，皆主降矣。或降而收，或收而散，或降而攻破，或降而滲利，或入血分，或入氣分，又可得而詳歟？</p>
<p><u>答曰：</u></p>
<p>凡升者皆得天之氣；凡降者，皆得地之味。故味濃者，其降速；味薄者，其降緩。又合形質論之，則輕重亦有別矣。芒硝本得水氣，然得水中陰凝之性而味鹹，能軟堅下氣分之熱，以其得水之陰味而未得水中之陰氣，故降而不升。且水究屬氣分，故芒硝凝水之味，純得水之陰性而清降氣分之熱，與大黃之入血分究不同也。</p>
<p>大黃味苦大寒，是得地火之陰味而色黃，又為火之退氣所發見，故能退火，專下血分之結。</p>
<p>以味濃且有烈氣味，既降而氣復助之，故能速下。寒性皆下行，如白芍、射干味能降利，皆以其味苦，與大黃之降下其義一也。大黃苦性更甚，白芍苦性較輕。故白芍只微降，而大黃則降之力大。</p>
<p><u>問曰：</u></p>
<p>黃連味苦以守而不走，而大黃獨攻利，此何也？</p>
<p><u>答曰：</u></p>
<p>同一苦味，而黃連之質枯而不澤，大黃之質滑潤有汁，故主滑利，又黃連純於苦味而無氣，故守而不走。大黃純於苦味，而又有雄烈之氣，以氣行其苦味，則走而不守，所以與黃連別也。</p>
<p><u>問曰：</u></p>
<p>大黃苦寒之性自當下降，而巴豆辛熱之性，宜與大黃相反，何以亦主攻下？而較大黃之性尤為迅速，此又何說？</p>
<p><u>答曰：</u></p>
<p>此又以其油滑而主下降，其能降下則是油滑所專主，而非辛熱所專主也。凡食麻油、當歸，皆能滑利下大便，巴豆、蓖麻子皆有油，皆滑利皆能下大便。但麻油不熱，則其行緩不辛，則氣不走竄，故其下大便也緩。蓖麻子味辛氣溫，是有氣以行其油滑之性，故其行速。巴豆之油與麻油、蓖麻同一滑性，而大辛則烈，大熱則悍，以悍烈行其滑利，故剽劫不留也。麻仁亦油滑，而無辛烈之性，故但能潤降不能速下。葶藶亦有油，自能滑利，又有辛味，是與巴豆之辛而有油相似。其味又苦，是又與大黃之苦而滑潤相似。然則葶藶隱寓巴豆、大黃二者之性，故能大瀉肺中之痰飲膿血，性極速降。蓋有大黃、巴豆之兼性，誠猛藥也。恐其太峻，故仲景必以大棗補之，杏仁亦有油，但得苦味而無辛烈之氣，故降而不急。</p>
<p><u>問曰：</u></p>
<p>同是降氣，何以杏仁、葶藶歸於肺，而枳殼、厚朴歸於脾胃哉？</p>
<p><u>答曰：</u></p>
<p>葶藶、杏仁色白屬金，枳殼，厚朴皆木之質，木能疏土，故歸脾胃。枳殼木實，味比厚朴稍輕，故理胃氣，厚朴木皮味比枳殼更重，故理脾氣。觀仲景用枳殼治心下滿，用厚朴治腹滿，可知枳殼、厚朴輕重之別。</p>
<p><u>問曰：</u></p>
<p>陳皮亦木實也，能治胃兼治脾，並能理肺，何也？</p>
<p><u>答曰：</u></p>
<p>陳皮兼辛香，故能上達於肺；枳殼不辛香，故不走肺，厚朴辛而其氣太沉，故不走肺，然肺氣通於大腸，厚朴行大腸之氣，則肺氣得泄。仲景治喘所以有桂枝加厚朴杏子湯，且用藥非截然分界，故枳、橘、朴往往互為功用，醫者貴得其通。檳榔是木之子，其性多沉，故治小腹疝氣。然沉降之性自上而下，故檳榔亦能兼利胸膈且味不烈，故降性亦緩。沉香木能沉水，味又苦降，又有香氣以行之，故性能降氣，茄楠香味甘，則與沉香有異，故茄楠之氣能升散，而沉香之氣專下降。服茄楠則噫氣，服沉香則下部放屁，可知其一甘一苦升降不同矣。降香味苦色紅，故降血中之氣，能止吐血。牛膝之降則以形味為治，因其根深味苦，故能引水火下行。鐵落之降以金平木、以重鎮怯也，故能止驚悸已癲狂。赭石亦重鎮而色赤，又入血分，故一名血師，以其能降血也，血為氣所宅。旋覆代赭石湯止噫氣者，正是行血以降其氣也。</p>
<p>夫降而沉者，味必苦質必重；降而散者，味必辛氣必香；降而滲利者，味必淡氣必薄。苡仁、澤瀉、車前子、茯苓皆味淡氣薄，皆屬陽中之陰，不能行在上之清竅，故皆行在下之清竅，而能利小便。降而攻破者，味必濃、氣必烈、功兼破血，乃能攻積。蓋只有氣則積為痰水，不能結硬。凡結硬者，皆雜有血，然單有血而無氣以湊之，亦為死血，而不結硬。惟氣附血而凝，血合氣而聚，然後凝為堅積。三棱破血中之氣，莪朮破氣中之血，故皆能破積。三棱味但苦而不辛，破血之力多而散氣之力少。莪朮兼辛味，能行氣以破血，則氣血兩行，與積聚尤為合宜，故諸方多用莪朮。薑黃氣味俱濃，故行氣行血。鬱金乃薑黃之子，而氣薄味勝，故行血之功甚於行氣。</p>
<p><u>問曰：</u></p>
<p>凡降藥皆沉入中下焦，其上焦逆氣，何以降之哉？</p>
<p><u>答曰：</u></p>
<p>降藥雖沉，然未有不由上焦而下者也，故赭石能從上焦以墜鎮，檳榔能兼利胸膈。大抵氣性重且速者，直達下焦，而不能兼利上焦。氣味輕且緩者，則皆能降利上焦。葶藶瀉肺；杏仁利肺；射干微苦，利喉中痰；厚朴花性輕，利膈上氣；川貝母色白性平，利胸肺之痰氣；旋覆花味鹹質輕，故潤肺降痰；陳皮之氣味不輕不重，故可降上焦，可降中焦。惟木香氣浮味沉，上中下三焦皆理他如性之重者。橘核、楂核、荔枝核皆專治下焦之氣，性之速者，如大黃、巴豆、牛膝則直走下焦，同一行氣又別其輕重浮沉，用之得當，自無謬差。</p>
<p><u>問曰：</u></p>
<p>凡藥，根之性多升，實之性多降，莖身之性多和，枝葉之性多散，請示此何以故？</p>
<p><u>答曰：</u></p>
<p>根主上生，故性升；子主下垂，故性降；莖身居中，能升能降，故性和；枝葉在旁，主宣發，故性散。然每一藥性，或重在根，或重在實，或重在莖，或重在葉，各就其性之所重以為藥之專長，未可泛泛議論也。</p>
<p><u>問曰：</u></p>
<p>根實莖葉之性，既名有專長矣。今且先以根論，其根之升性獨專者，有如何藥？請明示之。</p>
<p><u>答曰：</u></p>
<p>根之性多升，又須視其形色氣味皆專重於根者，則專取其根用之。有如升麻，其根大於苗，則根之得氣濃，故專取其根。又其根中多孔竅，是吸引水氣以上達苗葉之孔道也，故其性主上升。氣味辛甘，又是上升之氣味，合形味論性，皆主於升，故名升麻，是為升發上行之專藥。又如葛根，其根最深，吸引土中之水氣以上達於藤蔓，故能升津液，又能升散太陽、陽明二經，取其升達藤蔓之義。葛根藤極長，而太陽之經脈亦極長，葛根引土下之水氣以達藤蔓太陽，引膀胱水中之陽氣以達經脈，其理相同。故葛根能治太陽之痙，助太陽經由膀胱水中而達其氣於外也。根色純白屬金，又能吸水氣上升，是金水相生之物，又能引津氣以治陽明之燥。葛根與升麻不同，葛根根實，故升津而不升氣；升麻根空有孔道以行氣，故升氣而不升津。黃　亦根中虛松有孔道，惟升麻味不濃，故升而不補。黃味濃，故升而能補也。黃　根深長至數尺，取　者不用鋤掘力拔出土，以其根無旁枝也。據此則知其性直達，又其根內虛松，能通水氣，直引上下黃泉之水氣以上達於苗，故能升達人之元氣，以充發於上，達於表。人之元氣生於腎，出於膀胱之水中，循氣海之膜網而上達胸膈，以至於肺，充於皮毛。黃　內虛松通達，象人膜網能引土下黃泉之水氣，以上貫苗葉，象人元氣由腎達肺以至表，故黃　能升達元氣，托裡達表。</p>
<p><u>問曰：</u></p>
<p>以上三藥，性皆主升而主治各有不同者，何也？</p>
<p><u>答曰：</u></p>
<p>惟皆是根升之性，而又有形色氣味之不同，故主治各異。蓋以升麻通氣之孔道更大，兼有辛發之氣味，故其性純於升。</p>
<p>黃色黃、氣溫、味純甘，故升而兼補。葛根色白、味微苦，故升而清火，不能補也，論藥者當細辨之。</p>
<p><u>問曰：</u></p>
<p>牛膝、靈仙、茜草同是根也，何以不主升而主降哉？</p>
<p><u>答曰：</u></p>
<p>所謂根升者，必其氣味形色皆具升性，乃能升達。若牛膝等根既堅實，而形不空，則無升達之孔道；味既苦瀉而氣不發，則無升發之力；且其氣味既降，而根又深入，是又引氣歸根以下達，與升麻等之上行者義正相反，理可對勘而知也。</p>
<p><u>問曰：</u></p>
<p>草木之實，性皆主降，何也？</p>
<p><u>答曰：</u></p>
<p>物下極則反上，物上極則反下。草木上生果實為已極矣，故返而下行；實核之性在於內斂，故降而兼收。</p>
<h3>卷上六</h3>
<p><u>問曰：</u></p>
<p>蒼耳子、蔓荊子皆草之實也，何以皆能上升？花椒、橘紅皆木之實也，何以皆能外散？</p>
<p><u>答曰：</u></p>
<p>果實仁核之主收降，其大端也，亦有須合形色氣味論之，方為確當。蒼耳有芒而體輕松，蔓荊味辛而氣發散，故皆有升性，亦核實中之變格也。至於花椒、橘紅，氣味辛溫故能升散，然此二物仍能降氣，且皆皮殼也，故益有升性。至於椒之目能止自汗，橘之核能治疝氣，則純於下降而不升發。蓋同是果實，又有皮肉仁核之分。皮肉在外，容有升散之理，仁核在內，則專主收降，斷無升散。是以牽牛子、車前子皆兼降利，荔枝核、山楂核皆主降散；白蔻仁、西砂仁味雖辛，而究在溫中以降氣；柏子仁、酸棗仁功雖補，而要在潤心以降火。至於杏仁之降氣，桃仁之降血，又其顯焉者也！</p>
<p><u>問曰：</u></p>
<p>藥之莖身，在根梢之間，居不升不降之界，自主於和，然亦有偏於升，偏於降者，何也？</p>
<p><u>答曰：</u></p>
<p>此亦視氣味之輕重以定之也，若形既居上下之交，而氣味和平，則不升不降，一主於和。藿香身、紫蘇身氣味和平，所以專主和氣。藿香味甘則和脾胃之氣，紫蘇味辛則和肝肺之氣，可升可降皆以其為草之身莖故也。竹茹象周身之筋脈，則能和筋脈，松節象人身之骨節，則能和骨節；白通草象人身之膜油，故能通達膜油，上可通乳下可通小便。皆是莖身主和，可升可降，各從其類之義。至於葦莖，中空而直上，且其味淡，故屬氣分，功專於升，《金匱》用以吐肺中之膿，正取直上透達之義。荷莖中空而氣味於水，故能升達清陽之氣。蔥白中空而氣味烈，則升兼發散。此皆莖也，氣味皆輕清，故皆主升。他如木通莖亦通透，然系藤蔓，形與一莖直上者不同，且味苦泄，故主下降而通利小便。蘇木者，木之身也，色紅味鹹，象人身周身之血，故主於行血。秦皮者，木之皮也，象人身之皮，味苦兼降濕熱，故仲景用治皮膚發黃之證。棕皮絲毛如織，象人脈絡，味澀能收降，故用治吐血、衄血，以降脈絡之血、血結。乳香樹身之脂，象人身之膿血，故治人身瘡膿等病。杜仲柔斂，象人筋膜色紫黑，味純濃，故入肝腎，以強人身之筋骨。凡此之類，豈能盡舉，或升或降或補或和，各別其氣味形質，而細分之，則用之自</p>
<p><u>問曰：</u></p>
<p>論藥單言枝葉，而不論花，何也？</p>
<p><u>答曰：</u></p>
<p>花即賅於枝葉類也，枝葉主散，故花之性亦多主散。</p>
<p><u>問曰：</u></p>
<p>芙蓉花何以不主散，而主收？旋覆花何以不主散，而主降？</p>
<p><u>答曰：</u></p>
<p>此亦視其形氣而定之也。芙蓉秉秋金之氣，而質又膠枯，故能收斂，為箍瘡妙藥。旋覆花滴露而生，花又微咸，故主潤利去痰。他如枇杷葉之利，槐枝之清，皆隨氣味偶然異用，非枝葉花之本性也。故凡花多散頭目之邪，頭目居上而花居莖梢之上，氣更輕揚，故多歸頭目而散其邪也。</p>
<p>甘菊花氣香味平，散頭目之風邪；金銀花散陽明頭目之風熱；辛夷花散腦鼻內之風寒；密蒙花散眼內之風邪；總見花在梢上，故上行頭目。若夫葉在四旁，則主四散，故能去周身內之風寒。竹葉能清肌肉中之熱，仲景竹葉石膏湯正取竹葉之散也；菊葉為治瘡要藥，亦因其性散去肌肉中之風邪也；蕤　葉亦然，但葉菊小而多尖椏，故主散瘡，蕤　葉大有毛，性專重在葉，專得風氣，故古有蕤　膏，主去周身之風；荷葉能散皮膚之熱；桃葉能散血分之寒熱；蘇葉能散氣分之寒熱。蓋凡草木之葉，多得風氣，故多主散，周義所謂「風以散之也」。葉大有芒角，如八角風、蒼耳葉、巡骨風之類，皆葉大而有芒角，均主散風。凡枝多橫行，故主四散及達四肢。紫蘇旁枝，散脅助之結氣；桂枝行四肢；桑枝、桃枝、槐枝皆行四肢，皆取橫行四達之象。</p>
<p><u>問曰：</u></p>
<p>藥有用根、用苗、用首、用尾、用節、用芽、用刺、用皮、用心、用汁、用筋、用瓤、其用不同，請詳言之。</p>
<p><u>答曰：</u></p>
<p>此無他意，只取藥力專注處，以與病相得而已。有如麻黃必用苗，以其苗細長中空，象人毛孔，而氣又輕揚，故能發汗，直走皮毛。亦有時用麻黃根者，則以其根堅實而味澀，故能止汗。苗空則通，根實則塞，亦陰陽通塞互換之理。常山用苗，取其上透膜膈以導痰上出。商陸用根，取其內透膜膈以導水下行。用苗者則升，者則降，升降異用，亦各從其類也。當歸有用首尾之別，首之性升，故主生血；尾之性降，故主行血。地榆有用首尾之別，首之氣味濃，故行血更有力；尾之藥味薄，故行血之力輕。用節者如松節，治人之骨節。牛膝其節如膝，能利膝脛，以其形似也。藕節中通，能行水，故用以行血分之濕熱，而能清瘀血。藕在水中節又結束極細，而其中仍能通水氣，用治淋症尤宜。淋是水竅通而不通，藕節在水中，不通而通，且色能回紫變紅，又入血分，以治淋症尤宜。用芽者，取其發泄。如麥本不疏利，而發芽，則其氣透達疏泄水穀，以穀本不能行滯，因發為芽，則能疏土，而消米穀。黃豆發芽，則能升達脾胃之氣，故仲景著蕷丸用之以補脾。赤小豆發芽，則能透歸膿血，故仲景赤豆當歸散用之以排膿。用刺者有兩義，攻破降利用皂刺、白棘刺是矣。二物銳長，故主攻破。設刺不銳而鉤曲，刺不長而細軟，則不破利而和散，能息風治筋。如鉤藤刺、紅毛五加皮、白蒺藜之類是也，蓋勾芒為風木之神物，秉之而生鉤刺芒角，故皆能和肝木，以息風治筋也，用皮者，以皮治皮之義，故薑皮、茯苓皮、橘皮、桑皮、檳榔皮皆能治皮腫。用心者，取其以心入心心以溫心氣，茯神木用以安心神；蓮子心用以清心火；竹葉心亦能清心火，是皆以心入心之義。其用汁者，或取象人之水津，如薑汁、竹瀝以去痰飲，從水津治之也；或取象人身之血液，如藕汁、桃膠以清瘀血，從血液治之也。用筋者，如續斷多筋，故續絕傷；秦艽肌紋左右交纏，故治左右偏風，筋脈疼痛之症。杜仲內有筋膜，人身之骨連於筋，筋連於膜，杜仲之筋膜能伸能縮，極其堅韌，故能堅人之筋骨。竹茹象筋脈，則清脈絡之熱，以和血。橘絡、栝蔞皆能治胸膈間之結氣，取橘之筋絡、蔞之膜瓤，有似人胸中之膜膈，故治之也。橘皮腹毛形圓而紅，有似人腹之象，故二物又治人大腹之氣，皆取其象也。各物略有不同者，又在氣味各別。故各歸其臟腑，而主治亦異，藥難盡舉，當通觀之。</p>
<p><u>問曰：</u></p>
<p>仲景用藥，有十枚、十四開、三枚、五枚等法，似其取數亦自有理。今《本草》中亦有以數得名者，如三七、三棱、八角茴、六神麯、五加皮、兩頭尖之類。既以數得名，豈不以數為治耶？</p>
<p><u>答曰：</u></p>
<p>天地間物不外氣數二者，而實則數生於氣。氣多者數多，氣少者數少。得氣之先則其數居前，得氣之後則其數居後，故水生於天一，火生於地二。得氣數奇，得氣之陰則數偶。故何圖五行之數互為生成，即其數便可測其氣也。至於用藥，十枚、十四開、五枚、一枚之法，不過量藥多寡以成其劑。非以此數，便乃握造化之權也。</p>
<p>若天地生成而有此數者，如三棱、三七、八角茴、五加皮等，又因秉氣之陰陽以成其數之奇偶。辨藥者，即可本其數之奇偶以定藥之陰陽，非其數能治病，實因其數而知其藥所主治也。</p>
<p>三七之葉，非三即七，其數不爽。蓋秉木之氣，故得三數，秉火之氣，故得七數。與河圖木火之數相合。木火之臟屬肝與心，於人身司血。三七葉青，而有紅筋，亦是木火之色，故其根能化瘀行血，只完其心火生血。肝木統血之令而已，能知三七之名義，則其性已得三棱色白，苦溫行氣。諸書皆用以破血中之氣，以其苗葉與根，均作三楞之狀，三為木數，故能入肝之血分。色白屬氣，味苦溫，主行氣，故能破氣，為血中行氣之品。八角茴氣溫，得木之氣，八又木之數也，其能溫中者，亦是以木疏土，木邪退而土自受益，為補土溫肝之藥。</p>
<p>今人作醬必加此料，既香且溫洵，合胃氣。六神麯配方之色，合六藥腐化，而為神麯，土能化物之義。土奇旺於四方，而四方又歸於中土，故六藥腐而為曲，功專入脾胃，消化水穀。</p>
<p>兩頭尖系雄鼠屎，鼠性能穿牆穴，而其屎又兩頭銳利，如其寓有攻利之性，在故主攻破。此皆即其數以明其氣，而主治自然不謬。又如人參一藥，張景岳解為陽藥，陳修園解為陰謂陽藥者，以其益氣也；謂陰藥者，以其生津也。二人異論，皆因未即人參之氣與數，而合考之耳。余友姚次梧親到遼東，見種人參者，皆於深林濕潤處種之，可知其秉水陰之氣而生。然其生也，莖必三椏，葉必五加，三五陽數也。據氣與數合論之，則知人參生於陰，而成於陽。蓋潤濕深林，陰也，一生人參，即成其為三五之數，則為陽矣，人身之氣陽也。</p>
<p>而生於腎水之中，由陰出陽，與參之生於陰，而成為陽者，蓋無以異。故參為化津補氣之聖藥。</p>
<p>蓋即其數知其氣，而人參之本性乃見。至於色白入肺，味甘入脾，微苦生津，微溫益氣，其說猶淺。</p>
<p><u>問曰：</u></p>
<p>神農以本草名經，而其中多及金石，遞於禽獸昆蟲，何也？</p>
<p><u>答曰：</u></p>
<p>草木最多，故以為主名。但草木雖備五行，然其得甲乙之氣較多，於人之五臟六腑氣化或未盡合。故又濟之以金石昆蟲，而禽獸血肉之品，尤與人之血肉相近，故多滋補。比草木昆蟲金石之品，更為見效，草木，植物也；昆蟲，動物也。動物之攻利，尤甚於植物，以其動之性，本能行而又具攻性，則較之植物本不能行者，其攻更有力也。鱉甲攻破肝氣，去症瘕。穿山甲性能穿山，從地中出，故能攻瘡膿使之破，又能攻堅積使之散。水蛭銳而善入，呢能吮血，故主攻血積。</p>
<p>虻飛而食血，故主行上下之血。但動物皆血肉之品，入血分者多，故以上諸藥皆主攻血。惟鱉甲，甲得金水之性者，尚能兼攻氣分耳。動植之物，性皆不鎮靜也，惟金石性本鎮靜，故凡安魂魄、定精神、填塞鎮降，又以金石為要。金箔能鎮心神，心神浮動賴肺氣以收止之，故《內經》言肺為相傳之官，以輔相其心君也。黃金本肺金之氣，以鎮靜其心神，與相傳之鎮撫其君無以異也。朱砂之鎮補心神，則直歸於心，以填補之。龍骨亦重能潛陽氣，故亦能鎮心神。白銀能定驚，小兒驚風、孕婦胎動，多用之，乃是以肺金平肝木，以重鎮制浮動也。</p>
<p>赤石脂、禹餘糧，石中之土，又具澀性，故以之填澀腸胃。銅乃石中之液，色升象血，故能入血分，性能溶鑄堅凝，能故能續接筋骨，為跌打接骨之藥。自然銅有火血自熔入血分，熔鑄接骨，尤為異品。此等皆草木昆蟲所不逮者也。至於禽獸血肉，與人無異，多能補益。豬肉性平，則以為常食，而油潤之功專於滋燥。牛肉性溫，則能補脾胃。鴨得金水之性，則肉能性滋肺。雞得木火之性，則肉能溫肝。羊肉膻而溫肝。羊肝尤能入肝，以散結氣。豬肝亦然水畜，以水生木，故能治目疾。豬腎入腎，脊髓入髓，皆是各從其類。豬之油綱，象人身之油綱，而其上之胰子油，更屬潤油。且歸油膜，用為引導，治油膜中之疾，並治膈食腸枯之病。仲景豬膏發煎，治燥屎，即此意也。豬膚是豬項皮，仲景以之治咽痛，亦取其引歸於項之義。獸之靈異無如鹿，其宿以頭顧尾能通督脈。督者，腎脈坎中一陽之主脈也。鹿生北方，得坎中一陽之氣，故其督脈旺，而脊與腦髓極足。是以上發而生角，每年一換，初生則為鹿茸，茸之精氣極足，為補髓、強精、壯陽、益血之聖藥。但其性上行，凡是血逆火逆者，不宜用。惟血虛火弱陽不舉、氣不上者，乃為合宜。鹿胎則渾然元氣，歸下焦，而不上行，為種子益腎補胞宮之妙藥。龜之性伏，而其精在板，能通任脈。任為離中之陰，以下交於督，合為既濟之象，故龜板益陰以滋心腎，與鹿茸確是對子。虎骨有猛力，故強筋壯骨，虎嘯風生風從虎，故虎骨為治中風風痛之藥。獸可食者多，茲其尤功效者，幾此金石禽獸諸品，能助草木之所不遞，故本草兼用之。</p>
<h2>卷下</h2>
<h3>卷下一</h3>
<p><u>問曰：</u></p>
<p>《雷公炮制》一書，專以言制藥之法，若有不制，則不可用之意。而仲景用藥則或制或不制，五方風氣不同。四川皆用生藥，廣東皆用制過之藥，孰得孰失？請詳言之。答曰：《雷公炮制》一書為本草門中添一別解，欲以「炮制」二字爭勝於各家本草，故幾於藥不炮制便不可服也。廣東藥肆炫其精潔，故炮制太過，藥力太薄。四川藥賤，雖極力炮制亦不能得重價，故賣藥者無意求精，然皆偏也。藥有當生用者，乃一定之理，未可一律論也。</p>
<p>如仲景炙甘草湯取其益胃，則用炙而氣升；芍藥甘草湯取其平胃，則用生而氣平；甘草乾薑湯、側柏葉湯，其薑皆炮過，則溫而不烈；四逆、理中，則乾薑不炮，取其氣烈，乃能去寒；附子古用火炮，正是去其毒也，或解為助附子之熱，非也。予四川人，知四川彰明縣采制附子，必用鹽腌，其腌附子之鹽，食之毒人至死，並無藥可解。可知附子之毒甚矣，然將腌附子之鹽放於竹筒中，用火　過則無毒，入補腎藥又溫而不烈，反為良藥。據此則知，仲景炮附子亦是制其毒也，其用生附又是以毒追風，毒因毒用，一生一炮，有一定之理。讀《金匱》者，可考而別之。葶藶不炒則不香，不能散，故必炒用。蘇子、白芥必炒用，與此同意。半夏南星非制不用，去其毒也。礞石必用火硝　過，性始能發乃能墜痰，不　則石質不化，藥性不發，又毒不散故必用　。山甲不炒珠，則藥性不發。雞金不　，其性亦不發。古銅錢、花蕊石均非　不行，乃世不察，而矜言炮制。有朱砂亦用火　者，不知朱砂中含銀水，　則水走失朱砂之性矣。地黃用砂仁、生薑酒煮，反寒為溫，殊失藥性。童便煎作秋石以為滋陰，實則大咸走血，反能發熱，毫非童便本性。熟地燒炭則燥，安有滋潤之功？若銀花炭，輕虛之質，火氣之余，故反能退火，與熟地炭有別。此最當審，未能盡述。</p>
<p>大抵性平之藥不可太制，以竭其力；性猛峻有毒者，非制不堪用。且有制得其宜而功益妙者，是在善於審量也。有如大黃直走下焦，用酒炒至黑色，則質輕味淡能上清頭目，不速下也。</p>
<p>獨黃丸雜以他藥，九蒸九晒，清潤而不攻下，名清寧丸，真有天得一以清，地得一以寧之意。巴豆悍利，西洋人烘取去油，變其辛烈之味，為焦香，名曰咖啡茶。消食利腸瀉，真善制巴豆者也。外利用巴豆為末，加雄黃炒至黑色為烏金膏。化腐肉妙不傷好肉，皆是善於制藥之法。總之用其長而去其短，善炮制者也；損其長而益其短，不善炮制者也。</p>
<p><u>問曰：</u></p>
<p>《本草》明言十八反：半貝蘞蔞桔攻烏，藻戟遂芫均戰草，諸參辛芍反藜蘆。又有十七忌，十九畏，宜恪守乎？</p>
<p><u>答曰：</u></p>
<p>性之反者，如水火冰炭之不容，故不可同用。然仲景有甘遂甘草同用者，又取其相戰以成功，後人識力不及，總以不用為是。至於相畏相使可不必論，相忌亦難盡拘。然服麻黃、細辛忌油膩，服蜜與地黃忌蔥白，服黃臘忌雞肉，此皆大不宜者，在所當忌不可不知。</p>
<p><u>問曰：</u></p>
<p>《本草》有引經之藥，如羌活麻黃入太陽經，白芷、粉葛入陽明經；柴胡入少陽經；白芍入厥陰經；甘草入太陰，以為引經報使；細辛入少陰經，以為引經入使。用藥之捷徑也，有是理乎？</p>
<p><u>答曰：</u></p>
<p>分經用藥為仲景之大法，故傷寒論以六經括病，誠為治病用藥一定之門徑也。惜引經之藥拘守數藥，未能盡妙。蓋本於天地之六氣，而生人身之臟腑。有臟腑然後生經脈，即有氣化往來出入於其間。不得單於經脈論之，果能將臟腑氣化經脈合而論之，以求藥性之主治，則得仲景分經用藥之妙，豈守引經報使之淺說哉？有如葛根，仲景用治太陽痙病，而後人以為陽明引經，皆未深考耳。吾所論各條已寓引經之義，通觀自明，茲不再贅。</p>
<p><u>問曰：</u></p>
<p>六經六氣本於《內經》明於仲景，能知經氣則病藥之理悉具。六氣者，風寒濕燥火熱也。治風之藥有寒有熱，治濕之藥有寒有熱，治燥火熱三氣之藥，又似混同而無則，何也？</p>
<p><u>答曰：</u></p>
<p>火者，地氣也；熱者，天氣也；寒者，天氣也；濕者，地氣也；風者，陰陽相應之氣也；燥者，陰陽消耗之氣也；故有不同。</p>
<p><u>問曰：</u></p>
<p>六氣之論未有如是之說者，益滋疑矣。試詳言之，請先問風氣。</p>
<p><u>答曰：</u></p>
<p>西洋天學家言空中之氣有冷熱二種，故能起風，因空氣熱則漲而上升，他處冷空氣即來補之。試於室中加熱，門之上下各有孔，則上孔之氣必外出，下孔之氣必內入，成風之理與此同也。因此能成兩種風：一為自冷處吹向熱處之風，如熱帶內氣候常熱則氣漲而升，南北兩極氣候常冷，則南北兩極生風，吹向熱帶去；一為自熱處吹向冷處之風，會於熱帶，乃復散而回轉，吹向冷處，轉回兩極。二者旋還不已，中國冬日則熱帶在南，故風從北吹往南去；夏日則熱帶轉北，故風從南吹回北方。余按吹往南者，是陽極而陰生，以陰從陽，如《周易》之巽卦是矣。《周易》巽為風，正是陽極於上，陰生於下。熱帶在南，而風生於北，故其卦二陽在上，而一陰在下也。吹往北者，是陰極而陽生，以陽復陰，如《周易》之震卦是矣。《周易》震卦不作風解。然《內經》云東方生風，在《周易》震卦屬東方，二陰極於上，而一陽生於下，應春風陽回陰退之象。春分熱帶漸移向北，其風均從熱帶吹至北來，春夏所以多南風也，陽回陰退，於卦象震，震東方也。故《內經》言東方生風，其義頗確。</p>
<p><u>問曰：</u></p>
<p>人身之肝木，司風氣，不應巽卦而應震卦。與《內經》合，而與《周易》不合，何也？</p>
<p><u>答曰：</u></p>
<p>《周易》巽卦是冷處吹向熱處之風，乃烈風暴風，非人身之和風，中人則為中風、抽風。於風為常象，而於人為變病，非人身和暢之風也。《內經》所指東方生風，風生木，木生酸，酸生肝，肝主人身之風氣，則是陰退陽回之象，與震卦合德。故論人身肝木司風之氣化，當從</p>
<p>《內經》東方生風之說。蓋風者，東方之氣，於卦為震，上二陰而下一陽即陰極陽生之象。在人屬厥陰經，厥者，盡也，逆也。陰盡而陽生，極而復返，故曰厥陰。所以《內經》言厥陰中見相火，是陽生於陰中，有象乎震，而成為肝生風木之臟。其體陰而其用陽，陽有餘則生熱風，陰有餘則生寒風。故凡中風、傷風，或為熱風，或為寒風，或熱深厥深為外寒內熱，或陰搏陽回為左旋右轉，皆系風木本藏之病。或發於四肢，或上於巔頂，是又厥陰經脈之病。今且將藥逐論之，肝之經脈與膽經同路而行，但分表裡。然皆由身側上項入腦，至巔頂。故凡柴胡、蔓荊能引少陽經者，皆能引入肝經以上於頭，而散風邪。蒼耳有芒角，得風氣所生之物，乃應東方勾芒之象。其質又輕，故入肝經，散頭目之風；而味苦，又兼清熱。鉤藤有鉤刺，亦入肝經，然系枝蔓，多主四達，故治肝筋脈之風熱。巡骨風、五加皮皆有毛，性辛溫，故能散肝經之風寒，祛周身之痹痛。川芎氣溫，溫者陰中之陽，恰是風木本氣，故入肝經。其氣走竄，而根性又主上升，故能至於巔頂以散風寒。亦有性不上升，而能上治頭痛者，仲景頭痛如破，用吳茱萸，此物速降，性不上頭，然能降肝胃之寒，使不上充於頭，此為治臟腑而經脈自治也。天麻有風不動，無風獨搖，其搖者，木之和氣也；其不動者，金之剛氣也；氣微溫木也；味微辛，金也。是木受金制，金木合德之物。一莖直上，子復還筒而歸根，所以能通陽和陰，治頭目定驚癇。夫子復還筒而歸根，正如西洋所謂風起於冷處，吹至熱帶，復還而吹向兩極也。故以天麻為治風正藥。夫人得間氣而生者，為奇人；藥得間氣而生者，為奇藥。如天麻之木得金性，是間氣也，故為治風妙藥。白頭翁亦無風獨搖，有風不動。蓋白頭翁通身有毛，一莖直上，與天麻同知，其皆得風木條達之氣，故無風能搖。其色純白，是得金性，故有風不動。但其味苦，是治熱風之妙藥。仲景治產後中風，及痢疾後重者，是取其熄風火、達肝陽也。羌獨活皆一莖直上，有風不動，但味太辛，氣太溫，能散寒風，力甚於天麻，而兼能燥濕，不如天麻之剛柔得中也。桑寄生味酸枝繁，具木之性而生於桑上，桑者木中之金，寄生附之獨得金木之間氣，且根不黏土，純感風氣而生，為清散風木之妙藥。僵蠶得風而僵，故治風痙等症。風淫末疾，四肢麻木疼痛，用桂枝以散寒風，用槐枝、桑枝以散熱風，以枝橫行，故能四達。肝主筋，風在筋脈。用秦艽有筋紋者為引，味又辛散，故能溫散筋脈。續斷亦有筋，故皆主治筋脈，但秦艽紋左右扭轉，利於左右相交，續斷筋紋如骨節相連，故主接筋骨，去骨節間之風寒。杜仲有膜堅勒而不斷，象人身之筋膜。蓋人身兩腎之中一條白膜。上生而為肝中之大膈膜，由肝腸串插生出肉外，包周身之瘦肉，其瘦肉兩頭則生筋，筋又著於骨節之間。杜仲有膜，象人身之筋膜，故入肝腎，強筋骨也。肝脈下走足，脾又主筋，干濕香港腳皆筋受病；《內經》云風勝濕，肝失風木之令不能疏土，故濕流注。所以西醫言，凡是香港腳其尿必酸，木瓜酸收去濕，故治之。苡仁但治濕，宜兼風藥治之。虎脛骨辛溫，以金平木，治風寒香港腳，風從虎，虎應西方七宿，金制木也。干香港腳是風熱，宜阿膠、龜板、地黃益陰氣使陽不動，以還其厥陰之本體。玉竹柔潤熄風，亦是此意。故諺云：治風先治血，血行風自滅。」血足則肝陽不動，而風自熄。痛風症亦有寒風，有熱風，傷熱風則走痛，風鼓動而血不靜也；傷寒風則痹痛血，寒凝而氣不通也，均責其血。觀仲景紅藍花治風氣百疾，則知治風先治血之理。蟲感風化，凡瘡癬有蟲者，皆是血留滯，遇肝風熏發則化蟲。故用荊防以散風，歸地以和血，外用椒幾以殺蟲。癆蟲生於臟腑，瘀血得風而化者也。鰻魚蛇類又曲直形長，是得木氣居水色白，是又得金氣。據其形色論，是木遇金水而化生者也，癆蟲屬風木所化，遇鰻魚之氣味則感金水而消化矣。故治癆蟲，其骨能熏蚊化為水，此皆秉間氣而生之靈物也。獺肝亦然。其數應目，專得金水之精，故化風木所生之癆蟲，皆治風本所化者也。若風從濕化，而生之蟲，如仲景吐蛔用烏梅丸，是治風濕之蟲也。烏梅以斂陽，花椒以化陰，而風濕之蟲自化。觀烏梅丸，寒熱互用，則知陽動陰應則風生，反陽入陰則風熄。故陽氣怫鬱之微風宜散，薄荷、荊芥、防風、紫蘇、柴胡之類是矣；陰氣抑之暴風則宜溫，附子、川烏、白附子之類是矣。六經惟厥陰經陰中有陽，故有熱深厥亦深之病。風溫重證往往有此，法當但清其熱，犀角、羚羊、牛黃以透達之，外寒內熱此如西洋所說熱極於室中，則引寒風入戶穴之義，故但當撤其熱而風自不來。筋縮抽扯者，熱風也，宜羚羊角此物，角掛樹梢身懸而睡，知其筋最直，角尤其精風所在，故性微寒，功專舒筋。左右抽掣者，正如西洋所說熱帶往南則北風至，熱帶往北則南風至，循環而不能息也，故以秦艽之左右交者為引，以虎睛之能定風者為治。左右偏風，理皆如此，定風如白頭翁、天麻、羚羊皆可用之。筋緩不收，又是寒，必風也，宜桂附論者，不可稍混。</p>
<h3>卷下二</h3>
<p><u>問曰：</u></p>
<p>藥之溫者入肝，而藥之大熱者又直入腎，何也？</p>
<p><u>答曰：</u></p>
<p>此正足見厥陰主風，屬陰中之故入肝，巴戟，茴香之類是矣。少陰主熱，依積陽之氣，故性大熱者，直入下焦膀胱腎中，附子是也。</p>
<p><u>問曰：</u></p>
<p>治風寒之藥？</p>
<p><u>答曰：</u></p>
<p>寒者，水氣也。水屬北方壬癸，在卦為坎，在人屬腎。《內經》云諸寒收引，皆屬於腎，腎之腑為膀胱，代腎司化，是為寒水之府，經名太陽。《內經》言太陽之上，寒氣治之，寒者太陽膀胱之本氣也。夫坎中一陽，實人身元氣，寄於膀胱水府之中，化氣而上行，外達為人身衛外之氣，名曰太陽，陽之大者也。陽氣衛外，安得有寒，其有寒者，乃陽氣不伸，而寒水獨勝，於是乎有寒病矣。冬月水結成冰，即是水中之陽不伸，是以純陰互結而為寒。人身膀胱水中之陽氣，透膜膈，出肌肉，達皮毛，則能衛外而不受寒。</p>
<p>寒主收塞，故受寒則閉其毛孔，汗不得出。發熱者，內之陽不通於外而湊集皮間，遂鬱而發熱。陽為所遏，故愈惡寒。法用麻黃通陽氣，出於毛孔，汗出而寒去。麻黃莖細叢生，中空直上，氣味輕清，故能透達膀胱寒水之陽氣，以出於皮毛，為傷寒要藥。後人用羌獨活代麻黃，羌獨活根深莖直，能引膀胱下焦之陽，以達於經脈，而發散其表。惟味辛烈，較麻黃更燥兼能去濕，不似麻黃輕清直走皮毛。薄荷亦輕清，但薄荷升散在味，故力稍遜。麻黃升散純在於氣，故力更峻。蔥管通陽，與麻黃之義同。然麻黃莖細象毛空，蔥莖粗象鼻孔，故蔥能治鼻塞。辛夷花亦升散鼻孔腦　之寒，又以花在樹梢，尖皆向上，故主升散。荊芥性緩於薄荷，紫蘇亦然，二物皆色赤，能入血分，味辛香能散寒，故皆主散血分肌肉中之寒。人身外為皮膜是氣分，內為肌肉是血分，寒入血分在肌肉中堵截，其氣不得外出，以衛外為固，故毛孔虛而汗漏出。法當溫散肌肉，桂枝色赤味辛散入血分，故主之。枝又四達，故主四肢。</p>
<p>紫蘇性同桂枝，然較輕，不如桂枝之大溫。防風以味甘入肌肉，氣香而溫，故散肌肉中之寒氣。皮與肌肉之交有膜相連，名曰腠理，柴胡莖中白瓤象膜，一莖直上，能達清陽，故治腠理之寒熱也。荊芥得木火之勢，入少陽經，亦能發腠理之寒熱，肌肉中寒凝血滯則為痹痛。</p>
<p>仲景名曰「血痹」，是指血分而言。故五物湯用桂枝、當歸，四逆湯用桂枝以溫血分。</p>
<p>用羌獨活、荊芥，不及桂枝力優。寒入於筋脈或拘急不能屈伸，或　緩不能收引，或疼痛不可忍耐，總宜續斷、秦艽引入筋脈。寒入骨節、腰膝周身疼痛，手足厥冷，宜附子以溫腎，腎主骨，用細辛以引經，入骨驅寒。寒循太陽經發為痙，用葛根引麻桂循經脈以散之，寒入腦髓名「真頭痛」，用細辛以引經上達，用附子以助陽上行，皆從督脈以上入於腦也。</p>
<p>肝脈亦入腦髓，故仲景用吳茱萸治腦髓寒痛。鼻孔通腦，故北人以鼻煙散腦中之寒。西洋有用藥吹鼻以治腦髓之法，又西醫云腦筋多聚於胃，故白芷、辛夷皆從胃能達腦以散寒。寒由皮毛入肺，閉肺之竅，則鼻塞，薄荷、辛夷治之。肺主行水，寒傷肺陽，水不得行，則停胃而為飲，上逆氣咳，仲景用細辛以行水，用乾薑以散寒，用麻桂以驅寒外出，小青龍湯是也。但溫肺而不兼胃治者，則用甘草乾薑湯，其薑炮過，則輕而上浮，故但溫肺。後人用白芥逐水，陳皮降氣，冬花溫肺，蘇子降氣，皆是仿仲景小青龍湯以辛溫去肺寒也。總之膀胱主寒水，內含坎陽，陽氣升則水化而下，無陽氣矣。陽氣不升則水停不化，為寒飲。故用細辛以達水中之陽，用附子以助水中之陽，用乾薑以溫土中之陽，陽出則陰消，而寒飲之水自化，寒水犯中宮，上吐下瀉為霍亂洞泄，乾薑溫中故主之。砂仁、白蔻、良薑亦治之，凡去寒必兼利水，以寒即水之氣，去水即是去寒。大寒紐結作痛，陽氣不通，用烏頭、細辛、川椒、小茴、吳萸助腎陽，兼達肝陽，陽氣暢則寒散痛止。四肢逆冷者，由於腎陽不達，附子溫水中之陽，故治之。故紙溫腎但能溫斂而不伸達，故但治腰痛而不治手足逆冷。肉桂本木火之氣，大辛入下焦，火交於水則陽生，而寒水自化，故腎氣丸用桂附溫補坎陽，以化氣行水，寒在腰腎精冷者宜之。寒在膀胱，水停不化，名曰蓄水，用苓澤以利之，而尤必用桂枝以宣水中之陽，五苓散是也。烏藥色紫入血分，又氣溫入肝，肝主血室，故烏藥入血室以散寒。</p>
<p>《本經》言治膀胱腎間冷氣，即指血室中之冷氣也。凝血作痛用艾葉，亦是入血室也。寒水凌心，必用桂枝、遠志、公丁香，以宣心陽。寒挾肝風則生蛔蟲，侮脾土則用川椒、薑附以溫肝。若硫黃石中之液，而能然，是水中火也。其味酸，是得木味水中之陽，發則生木，故味酸而能燃。是為水中之火，為溫下焦肝腎之猛藥。天生黃，生於雲南，下有硫黃，上有溫泉，泉氣熏岩，結成天生黃。真水中之陽氣所化，純而不燥，然人之陽氣上達則歸於肺，天生黃生在岩上，故為溫肺妙藥，不得作硫黃本性論也。夫熱藥具辛味者，雖大溫猶不至烈以得木性，而未得木味，非純於生火之性，故不烈惟溫而味酸。</p>
<p>則既得木性又得木味，純於生火，故性烈，硫黃砒石是也。</p>
<p><u>問曰：</u></p>
<p>病有上熱下寒，外熱內寒，當用何藥？</p>
<p><u>答曰：</u></p>
<p>此以在下在內之寒為主，用薑桂附而兼膽汁、人尿、麥冬、牛膝等以抑之使下。</p>
<p><u>問曰：</u></p>
<p>病有內熱外寒，下熱上寒，又當用何藥？</p>
<p><u>答曰：</u></p>
<p>此以在下在內之熱為主，用苓連知柏而兼生薑、桂枝、薄荷、荊芥、蔥白以引之使上，要在用藥之妙，未可責效於一藥已也。</p>
<p><u>問曰：</u></p>
<p>五行惟土主濕，李東垣重脾胃，專於燥土去濕。而仲景治太陰不專用燥藥，何也？</p>
<p><u>答曰：</u></p>
<p>東垣知已成之濕，而不知濕何由生，則以為土不治水也。豈知濕者土之本氣，先要解得土字，然後解得濕字。金木水火各居四方，而土屬中央。中者，四方之所交央者，陰陽之所會，詩夜未央，言天未明，是陰未會於陽之義。鴛鴦鳥不獨宿，字從鴦，取陰陽交會之義。</p>
<p>蓋陰陽二字，雙聲合為一音，即央字也。土居中央者，是陰陽相交而化成。蓋水以火交，遇木則腐而成土，遇金則化而歸土，故河圖之數一水二火三木四金，土居五行之末，猶能旺於四季。蓋水火木金交合而成土也，故土於四季皆旺。夫五行名為土，是就其形論；六氣名為濕，是就其氣論。氣之所以濕，亦只是水火木金交妒而成，未有腐質金含水潤，故皆能生土生濕。究竟金木之氣交少，而水火之氣交多。夫火不蒸水，則為寒水，非濕也。水不濡火，則為烈火，亦非濕也。譬如甑中有米，無火以蒸之，則不濕；無水以濡之，亦不濕。必水火相交，而後成為濕矣。長夏之時，濕氣用事，正陰陽交妒之時，水火相蒸之候。故當夏月，牆壁皆濕，而人之濕病多感於此，人之脾土本天之濕氣，為心火腎水交會而成。能化物運四臟，皆功在濕也。胃以燥納穀，全借脾之濕以濡之，而始能化。脾生油膜，上腹中之物既化為汁，則引入油膜，達於各臟，而充周身。長膏油主潤澤，皆其濕之功用也。顧脾氣不及則為燥，而太過又反病濕，所以《內經》言脾主濕，又言脾惡濕。故凡濕病皆以治脾為主，水火相蒸為濕，故濕之為病，水火兼具。治濕之藥，其性皆平，正是水火兼能治之也。茯苓、扁豆、苡仁，其味皆淡，是為利濕正藥，濕甚則土困，故利濕即能健脾。蓮米、芡實，微甘而澀，能收濕氣，故健脾。白朮有油，以補脾之膏油，而油又不黏米，故能利水。氣香溫亦主利水，又能升發，使脾土之氣上達，故白朮為補脾正藥。蒼朮氣溫而烈，故帶燥性，補胃不補脾，且色蒼，得木之性，更能疏泄，為治寒濕之品。夫濕兼水化，水化有餘，為濕兼寒，病則腹脹，溏瀉。花椒辛溫以散寒濕，能殺濕化之蟲。吳萸辛烈，去濕尤速。白蔻、乾薑等，皆治寒濕，吞酸、吐酸有二病。一是寒濕，宜吳萸、蒼朮、桂枝、生薑，一是熱濕，宜黃連、黃柏、黃芩、石決明、青皮、膽草等藥。微加吳萸、花椒，以反佐之。夫酸者，濕所化也，濕挾熱而化酸。如夏月肉湯，經宿則酸；有冰養之，則不酸。麥麩發熱，則成醋而酸。皆是以熱蒸濕而酸也。故黃連等苦燥之品，正治其熱化之濕。其一是寒濕，又如菜入壇腌則化為酸，是為寒化之濕，吳萸等辛燥之品，正治其寒化之濕。濕注於腳，則為香港腳腫病，西醫言香港腳病，其尿必酸，知是濕也。凡香港腳，寒濕者多，宜以溫藥為主，再加木瓜、苡仁、牛膝為引導，所以利腳下之濕也。然而香港腳亦有系熱濕者，宜防己、黃柏、蒼朮、木通、膽草等苦降之品治之。濕積於脾，則腹中脹，久則水多為臌，宜逐其水，甘遂、大戟、芫花、牽牛功力峻猛，隨用大棗、參、朮、甘草以補脾土去其太過，又恐損其不足也。脾停飲食，則濕不化，宜神麯以散濕，枳殼、陳皮、木香行氣以行濕。夫水火交而為濕土，人身之脾應之。</p>
<p>白朮溫而有汁，正是水火相交之物，故正補脾經。黃精甘平有汁液，得水火氣交之平，故正補脾經。山藥有質色白，故補脾之火以補濕。蒼朮有汁而味烈，則扶脾之火以燥濕。赤石脂，土之質也，能燥濕。橘朴、檳榔之去濕，以木疏土也。桑皮、蒺藜之利濕，以金行水也。濕溢於腠理則腫，桑皮象人之膜故治之。防己中空，紋如車輪，能外行腠理、內行三焦，能通水氣。木通中空與防己同，味苦泄，故均為行濕之要藥。腰腳之濕，土茯苓、萆　、威靈仙、苡仁，凡利降者皆治之。再宜隨寒熱加減，濕蒸皮膚為發黃，宜茵陳、秦皮、益母草以散兼利者治之，膀胱不利，宜澤瀉、車前、昆布、海藻諸物，多生水石間，故化膀胱之水，此清火利水，為治濕之法。濕與熱蒸，則為暑。各書論暑，不知暑之原，而分陰暑、陽暑，與中熱、中寒熱無異，非暑之實義也。陳修園以暑為熱，而不知熱合濕乃為暑。月令云土潤溽暑，惟其潤溽，然後成暑。故治暑者，必兼濕熱二字，乃為得宜。夏秋瘟疫痢瘧皆感於暑，即濕熱也。此斷不可用燥藥，燥則壅濕而不流；又不可用表藥，用表則發熱而濕蒸。惟一味清利，六一散雖輕，為清熱利濕之正藥。黃連苦能瀉熱，又能燥濕，亦為去暑之正藥。傷暑發熱，宜香薷以散皮膚之濕熱。暑變瘟疫，石膏、黃連為主。已有專書，未能枚舉，總之不可發表，但宜瀉熱利濕。傷暑變痢，不可發汗，更不可利水，但宜清熱而濕自化，黃連、黃芩為主。傷暑變瘧，貴於散濕清熱，三焦膀胱之小便清則瘧自除，土茯苓、豬苓、葛根、獨活散濕，以治太陽膀胱；黃芩、鱉甲、青皮、膽草清熱，以利少陽三焦，兩腑兼治為宜。痰瘧是濕積而成，常山苗能透達以吐之。瘧母是痰與血合，鱉甲、牡蠣、山甲能破之，此濕之兼證也，未能盡詳。又如五加皮引治皮膚，五苓散用桂枝以治寒濕，五淋湯用山梔以治熱濕，要之濕為脾所司。脾之膏油連焦膜而徹內外，以達膀胱，所以治濕兼治各處。究濕之水火合化者也，故有寒熱二證。</p>
<h3>卷下三</h3>
<p><u>問曰：</u></p>
<p>水火合化為濕之說，唐宋後無此論，今雖明明指示，然猶未有物以驗之，恐終不足信世也。</p>
<p><u>答曰：</u></p>
<p>此不難辨，譬有咸魚一條，天氣晴久，變而作雨，則咸魚必先發濕，咸魚中之鹽即水也。其發濕者，天熱逼之，則水來交於火，以濟其亢旱也。又如有干茶葉，一經火烘，即行回潤，是茶葉中原具潤汁。但火不烘則不發潤，一遇火烘即發潤，此又是火交於水，即化為濕之一驗。</p>
<p><u>問曰：</u></p>
<p>六氣有火熱，又有燥氣，時醫於三者往往混同無別。今請問燥之分別，與治燥之藥？</p>
<p><u>答曰：</u></p>
<p>三者各別，未可並論，今子所問燥與火熱回殊。蓋燥與濕對，濕為水火相交而化者也，燥者水火不交之氣也。火不蒸水則云雨不生，水不濟火則露澤不降，而燥於是乎成矣。</p>
<p>水不潤，則木氣不滋而草木黃落；火不蒸，則土氣不發，而膏脈枯竭。究水火之所以不交，由於金性之收，收止水火，各返本宅，故神曰蓐收。令司秋月，草木枯稿，土泉涸竭，是為燥金用事之驗也。人秉燥金之氣者，為陽明經屬胃與大腸。胃雖屬土而以燥為主，故與大腸統成燥金，金收而水火不交，是為燥，則燥者，水火消耗之氣也。腸胃所以化飲食，皆以其燥能消耗之也。燥化不足則不消水，為嘔吐、泄利，用半夏、陳皮、白朮為主。吳萸亦辛燥，熟於九月正得燥金之氣，故去水飲以燥勝濕也。蒼朮正燥胃土；KT　仁辛澀正入大腸；草果燥烈，消瓜果之濕積。然比皆燥氣不足之濕病也，若燥之正病，則皆屬燥氣有餘。蓋有津液則不燥，無津液則燥，仲景以存津液為主，正以治燥，其有火不蒸水而津液不升。如五苓散之有口渴證，宜用桂枝，理中湯之有口渴證，宜用乾薑，腎氣丸之治下消證，宜用桂附。</p>
<p>大便寒結者，用當歸之溫潤，用巴豆之辛潤，皆是治火不蒸水之燥。西醫用蓖麻油通大腸，亦是溫潤之法，皆治寒燥者也。此證最少，惟火燥之證最多。水不濡火，則成火燥，血液不流於下，則腸中干枯、膈食不下、糞如羊屎。宜黑豆、脂麻、肉蓯蓉、當歸、麻仁、生地、山藥生液以潤之。水津不騰於上，口乾、肺萎、痰鬱、咳逆，宜阿膠、貝母、麥冬、紫菀、瓜霜、百合、白蜜、燕以其體甚高，又屬氣分，陽津易達而陰液難到也，麥冬、天冬、當歸、人參以治之。燥甚口渴，花粉、粉葛、鹽梅皆潤生津。火太甚有燥屎，急下之，用芒硝以潤滌，用大黃以攻利，此其攻下正是救津液，有津液則不燥矣。世人但知下火，而不知是存津液正是救燥，然下之又能亡津液，故又有戒下者。他如噤口痢，津液不升，故不納穀，西醫言是腸胃發炎，久則腐爛。按此正是水不濡火之極致，宜以黃連、生地為主，以白菊、花粉、黃芩為佐。又陰吹有燥屎，豬膏發煎，亦是潤腸之義，風能勝濕，風傷血則筋燥，玉竹、當歸為主。</p>
<p>小便燥澀，前仁、滑石、冬葵子、蓯蓉以滑利之。婦人子臟干燥，可借用地黃湯。心中乏液則煩，輕則柏子仁、棗仁以潤之，重則雞子黃、阿膠以潤之。《內經》云腎惡燥，腎精不足宜枸杞、菟絲、熟地、龜膠、阿膠，又小便自利大便反硬者，仲景用附子、白朮，又是以火蒸水，通致津液之法。總之燥是水火不交之耗氣也，故有寒燥、有熱燥，而熱燥尤多，則以其火就燥故也。</p>
<p><u>問曰：</u></p>
<p>火熱二者，幾不可別，而《內經》以火屬少陽，以熱屬少陰，治火治熱用藥當如何分別？</p>
<p><u>答曰：</u></p>
<p>此不可辨，有如夏月天氣亢陽，烈日當空，揮汗淋漓，此為熱，乃天之陽也。</p>
<p>有如燔柴炙炭，勢若燎原，此為火，乃地之陽也。少陰心腎，系人之坎離，雖心屬於火，亦如天之有日，積陽而成，非若麗本則明之火，故少陰不名為火，而名熱氣者，從其本於天之陽名之也。此氣雖屬於心，實根於腎，乃腎命門坎水中之一陽，交於心而成此熱氣，故中心煩熱。仲景用黃連阿膠雞子黃湯，阿膠得阿井伏流之水，性能伏水中之陽；黃連大寒得水之性，故去熱；雞子黃滋補心液。三味乃填離清坎之藥，故治心內之熱。梔子苦寒，有皮膈象心包。內之子赤，正屬心之色。其花白色，當屬肺金。結子成赤，當屬心火。是為從肺入心，正治心中煩熱之藥。《內經》言心為君主，而肺為相傅之官，以制節心君之太過。梔子花白子赤，正是以肺金而歸制心火者也。故仲景治心中懊　，必用梔子淡豆豉湯。豆為腎之穀，蒸發為豉，能升腎中水陰，以降心中之熱，觀此則知少陰心腎均屬熱氣，不作火論也。連翹有殼有子，亦似包與心中，氣味輕清，為清熱入心之品。蓮心得坎水之氣，上生於蓮子心中，有似人之心中，故入心中清熱。竹葉、寒水石、石膏均稟天水之寒氣，故治一切熱。地骨皮凌冬不凋，得水之陰，故治熱。元參色黑，入腎治熱。熱與火不同，有如大黃，是治火之藥，稟地氣，入後天之血分者也。芒硝是治熱之藥，稟天水之氣，入先天氣分者也。紫雪丹不用大黃，而用石膏、芒硝、犀角、羚羊、寒水石、金箔，皆本天水之陰以清熱也。牛黃清心丸有大黃入血分，有牛黃走膈膜，是入包絡，則本地火之陰以瀉火也。蓋天之陽在空中，為熱氣附於木，則燃為火。人之陽在心中，亦為熱附於血分，則歸包絡，合肝木而為火。</p>
<p>知此則知熱與火有別，心腎陰虛則生熱，天王補心丹用二冬、二地、丹麥、元參，皆是益水陰，其濟心中之熱。骨蒸盜汗癆蒸是水氣外泄，陽越而熱，非火也，宜清潤收降，地骨皮、丹皮、知母、黃柏、冬桑葉、歸膠、地黃、麥冬、元參皆益天水之陰，以清熱也。知母葉至難死，拔之猶生，即此知其得水氣多，故清氣分之熱。夫氣屬陽，血屬陰，瘀血阻氣則陽不入陰，亦蒸熱汗出，宜破其血，使氣得入於血中則不壅熱。桃仁、丹皮、為主。仲景　蟲丸、溫經湯，皆主破血以通氣，氣通則熱不蒸，此為治熱之變法。諸瘡尖起作膿，每每發熱，乃是氣來蒸血，氣盛則血隨氣化，而成膿。如不發熱，則氣不盛，難於蒸膿，宜黃　桂附以補氣，助其發熱而血乃化，痘證亦然，觀此則知熱屬氣分，與火之屬血分者不同，故藕汁、梨汁、萊菔汁、西瓜、珍珠、水晶石、元精石、寒水石皆得水氣以清熱。</p>
<p><u>問曰：</u></p>
<p>血屬火，氣屬水。今云熱屬氣分，何以心主熱氣，而又能生血也哉？</p>
<p><u>答曰：</u></p>
<p>心在人身，如天之有日，天陽生地火，故陽隧取日而生火，則附於木。心經化液而生血，則歸於肝，所以肝與包絡膽均引相火，而少陰心與腎獨主熱氣也。有相火助熱之證，清用芩連，攻用硝黃，是治熱兼治火也，有如夏既亢熱，又添爐火之狀。又有熱助相火之證，如日晒火山，風揚炬焰之狀，論證者當類推焉，夫以五臟論，則心屬火，以六氣論，則心腎均主陽熱，而火當屬之少陽，可分可合，總宜細辨。</p>
<p><u>問曰：</u></p>
<p>天陽生地火，故心生包絡之相火，包絡之血下藏於肝，故肝寄相火，是木火一家之義也。乃包絡與肝，名厥陰經，統稱風氣，不稱相火，而少陽膽與三焦獨言火，君火、相火後世之說，與六氣不合一氣，治之何也？</p>
<p><u>答曰：</u></p>
<p>包絡稱相火，乃後世之說，非《內經》本義。《內經》只言膻中者，臣使之官，喜樂出焉。謂相心布化，血脈暢則喜樂。凡人血足則不怯寒，可知血屬熱，氣不專屬火，故肝與包絡不稱相火。惟包絡與三焦通，故三焦之火能合於包絡，肝與膽相連，故曰肝能化火。究竟火氣全歸於膽，乃是從木生出之火，膽系連肝膈，通膜網，即三焦也。膽火之化全在三焦，連網中往來，故膽與三焦同司相火。火逆嘔苦，黃芩為正藥，苦而綠色，故入膽也。柴胡得木氣透達，使火不郁。荷葉亦能清散膽火，象震而味苦故也。青黛色青味苦，清三焦肝膽之火，質輕清，故治喉證。《內經》示二陰一陽結為喉痹，二陰是少陰，主熱，一陽是少陽，主火熱與火結，則為喉痹。故治喉症，總宜祛火而兼清熱也。藍葉治肝膽之火，較青黛之性略沉。海金沙子結葉間，如膽附肝之象，而味苦能清火，故為治砂淋等之要藥。三焦與膽通，惟膽中相火結，三焦之水乃結，此藥以結解結，故治之。五倍子亦子在葉間，而味帶咸故潤降，潤祛肺之痰火。實亦清膽，以其子在葉間也。又清三焦，以三焦根於腎系，五倍子咸又能入腎故也。桑寄生附木而生，象膽附肝，味酸苦得木火之味，能清膽火，治風熱筋脈結等症。膽通三焦之網膜，外連於筋，寄生如藤附木，象人之筋也。龍膽草苦而根多，故主降膽與三焦之火，胡黃連中空，與黃芩均能走膜中空竅，而味極苦，正治相火，故主癆蒸。此與黃連之苦不同，黃連得苦之正味，故入心瀉熱。膽草、胡黃連得苦兼酸之變味，故入肝膽及三焦。夏枯草正秉春少陽之氣而生，至夏則枯，味亦苦，正清肝膽及三焦之火。瘰　者，頂上筋脈之結也，此草蔓生，象人筋脈，質輕浮走上焦，故治頸上之結，又取自枯，有消耗之義。青蒿色青味苦，正枯肝膽之相火，其節中必生紅蟲，乃感風化而生之蟲也，故青蒿為去風清熱之藥。人之癆蟲，皆肝氣相火相煽而生，假血以成質，故必骨蒸乃生癆蟲。青蒿節以蟲殺蟲，消瘀去蒸，借蟲以攻血，借風氣以散鬱火也。防己味似龍膽而中空，能通膜網故能清三焦相火，以利其水。栝蔞實子有油，而氣烈，包有瓤而味苦，搗爛合用能解膈膜之痰火。山豆根色白味苦，入肺瀉火，蓋以金平木則火不上，而克金矣，故治喉痛。喉是少陰心與三焦之證，豆根治木火，是治三焦也。馬齒莧葉內有水銀，得金水之性也，味酸氣寒，故能清三焦之火以利水。鯉魚膽、青魚膽以類入肝膽，味苦，又生水中，正得水性，為治肝膽火之正藥。故岩喉目，熊生於山，而毛獸秉風性，膽又極苦，故入肝膽清火而治喉目。地骨皮極濃象人膜，味苦氣寒，故清三焦之火，三焦與膽同司相火，然三焦之根在腎，腎中陽氣上通，亦以三焦為路道，故腎能移熱於三焦。地骨皮入土極深，得土下泉水之氣，故能清腎水中之熱，能瀉命門中熱也。</p>
<h3>卷下四</h3>
<p><u>問曰：</u></p>
<p>上言熱與火異，今言腎生之熱亦合於三焦之火，何也？</p>
<p><u>答曰：</u></p>
<p>此可分亦可合，非截然分膈也。天之陽可以助地之火，地之火亦可以助天之陽，所以少陰之熱可並於三焦肝膽，而三焦肝膽之火亦能入少陰心腎。故凡暑熱瘟疫，皆感於天之熱氣者也，其初發熱口渴，則但屬熱，用石膏等以清之，其後並於三焦膽火，入心包，則兼火，治宜牛黃、黃連、黃芩、黃柏、梔子、牛黃，系牛之病多生肝膽中，或生心膈間，或生角中，能自行吐出。蓋火發於肝膽而走於膜膈，以達周身，故牛黃生無定處，皆是其膜膈中之火所生也。因火生痰結而為黃，是蓋牛之痰積也，以牛之痰積治人之痰積，為同氣相求以敵誘敵之妙劑。其黃由火而生，故成為火味而苦。火之所生者，土也，痰亦脾土所化，故結為黃，且氣香，以其成於土，故色黃氣香土成則火退，故用以退瀉人身中之火氣。香善走，故透達經絡臟腑而無所不到。其祛痰者，火降則痰順也。問曰：何以知牛黃是秉火之性而生？</p>
<p><u>答曰：</u></p>
<p>牛有黃，用火烘之，牛前置水一盆，欲飲不得，則黃自吐出，因火之逼。思水而吐出，則如黃是火所生。</p>
<p><u>問曰：</u></p>
<p>既系牛病，何以又為良藥？答曰：秉異氣得間味，故靈變在牛，為病而以之治人，又為良藥。如乳香、血竭是樹脂外注，亦樹病也，而即以為良藥。僵蠶風死，乃蟲病也，而亦為良藥，總以氣化相治，不可拘於形跡。</p>
<p><u>問曰：</u></p>
<p>六淫外感之藥，既得聞矣。而七情之病生於臟腑內者，藥當如何？</p>
<p><u>答曰：</u></p>
<p>上所論之臟腑氣化，</p>
<p><u>問曰：</u></p>
<p>外感內傷古既分門，至今豈可缺。論七情內生之疾，用藥自當有別，尚求一剖示之。</p>
<p><u>答曰：</u></p>
<p>理只一貫，而病或百出，豈能屢陳。今子即請問，無已不得不舉其大略也，可遵丹溪之法分血氣痰鬱四字，以賅舉之。然血氣二者，予於卷首已詳論矣，故吾不欲再議焉。</p>
<p><u>問曰：</u></p>
<p>血氣二者，雖前文已論，然前系通外感內傷而言。今單論內傷，則不得不再詳血氣，請再為弟子申論之。</p>
<p><u>答曰：</u></p>
<p>血者，腎中之津液上於胃，與五穀所化之汁並騰於肺，以上入心，化為赤色，即成血矣。心象離卦，汁液入心，象離內之陰爻；化為赤血，象離外之陽爻。故血者，陽中之陰，木交於火即化為血也。西醫謂血有鐵氣，用鐵酒補血。余按鐵本水金之性，當屬腎經。血有鐵氣，即是腎水交於火而為血也。然或水氣交於心，而心火不能化之，則亦不能生血。故仲景復脈湯既用膠地以滋水，而又用桂枝以助心火，洵得生血之法。</p>
<p>西藥用鐵水，必造作酒服，亦以酒屬陽，能助心火也。西醫知其當然，但未明其所以然，今為指出血所生化之理，乃知當歸正是補血藥。其味辛溫，火也；其汁油潤，水也。一物而具二者，是水交於火所化之物也。恰與血之生化相同，故主補血。川芎辛溫得火之氣味而無汁液，故但能助火以行血，而不能生血也。地黃有汁液不辛溫，故但能益水液滋血之源，而不能變化以成赤色，桂枝色赤入心助火，正是助其化赤之令。丹皮色赤味苦瀉火，即能瀉血。</p>
<p>白芍味苦能瀉血，其色白故又能行氣分之水。紅花色能生血，而味苦又能瀉血。桃花紅屬血分，仁在核中，又象人心，味苦有竹氣，是正入心中，能行血能生血。心中血液中含靈光，即神也。神為血亂，則癲狂亂語，以行氣者入心導之。則遠志、菖蒲麝香皆能開心竅，而丹皮、桃仁、乾漆皆能去心血。又有痰迷心神者，不在此例。血竭乃樹脂注結而成，氣香散故能散結血。乳香、沒藥亦樹脂，象人血又香散，故行血。蒲黃生於水中，其花黃色而香，是屬氣分不屬血分也，其能止血者，蓋以氣行則血行。火交於水而化氣，氣著於物還為水，氣行於血中而包乎血外，故行血賴於行氣，而行氣即是行水。白茅根利水行氣，故能行血也。</p>
<p>凡吐血必咳痰，痰為氣分，蓋必氣逆水升，然後引出其血也。故用尖貝、杏仁降氣行痰，氣降則血降矣。氣滯血瘀、寒熱身疼，女子經閉不通，亦當行血中之氣。香附、靈脂、元胡、鬱金、川芎、乳香、降香為主，胎血下漏必先漏水，以其水氣先行而後血行氣，即水也。宜升麻、參　以升補之。苧麻根以滋之，苧根汁本白而能轉紅色，故生血，是水交於火化血之義也。藕節亦然。藕生於水而上發花，花秉火色，是水上交於火之象。藕汁能轉紅色，又是火化為血之象。藕汁之氣化與人血之氣化相同，所以清火而化瘀血。蓋清火之藥是水交於火也，故能止血，芩連是矣。補火之藥是火能化水也，故能行血，薑艾是矣。</p>
<p><u>問曰：</u></p>
<p>發名血余，今拔其發根下微有白水而無血，何也？</p>
<p><u>答曰：</u></p>
<p>此理最微，知發之生化即知血之原委矣。人身之血由後天飲食之汁入心化赤，循衝任下入胞宮，與先天腎水相交，於是化而為精，由腎系入背脊，循行而上入腦，遂化為髓，以生骨，故人死皮肉化而骨不腐。</p>
<p>蓋皮肉或單秉氣而生，則遇陰則化；或單秉血而生，則遇陽即化。惟骨由精髓而生，秉秉氣血之全，故不腐化，所以補骨必補髓，而補髓又在補精。鹿茸為氣血之最，強通腎脈，故補精髓以強骨。地黃、黃　氣血雙補，皆能化精以補髓也。牛骨髓、豬脊髓皆是以髓補髓。夫補髓先補精，精為氣血所化。腎氣丸、菟絲子等藥皆氣血雙補，能化精者也，精化為髓，而腦髓中有寒，則用附子、細辛從督脈上腦以治之，由氣分而入腦也。腦髓中有風有熱，則用羚羊、犀角、吳萸、薄荷、荊芥、天麻、黃柏、青蒿、蒼耳子以治之，從厥陰肝脈由血分而上腦，此則腦髓之治法。吾子雖以治之，未問及。然髓是氣血合化者，今與子論血合氣之理，故並論之。髓中藏精主記事，心神上合於髓精乃能知識用事。故髓氣不清則神亦亂，癲狂其多病此；髓不足則知識不強，治法可以上引經之藥以類求之矣。夫骨秉氣血二者，故不腐化，毛髮亦入土不腐化。蓋血生於後天，屬任豚，下交胞宮，合氣化精則生髓。若夫氣則生於先天，腎中者也。氣生於先天，屬腎脈，下交胞宮，合血變精達於衝任二脈。化而上行，循經脈，則繞唇而生須。充皮毛，則生周身之毛。隨太陽經上頭，則生頭發。應肝之部位，則生腋下前後陰之毛。人之面部、額上屬肺，目屬肝，眉居目上，正當肝肺交界處。肝主血，肺主氣，血氣相交，是以生眉毛。總見毛髮者，血隨氣化之物也，故發名血余，以其秉血而生也。拔其發根，下只有白水，水者氣也，是氣化其血之驗也。然則毛髮亦秉氣血之全，故不腐化，制發為藥，可以補血，以其為血之余也。又能利下水，以其為氣所化也。《本經》言仍自還神，化此四字，無人能解。不知神者，心所司，謂發之性能還於心為神，復能化血以下交於水，相為循環也。草木亦然。陽木遇陰則化，陰木遇陽則化。惟棕象人之毛髮，亦入土不腐化。蓋草木亦有氣血，秉天者為氣，秉地者為血。棕象毛髮而秉草木氣血之全，陰陽合化之所生，故不腐化。且棕之性與發略同，功能利水又能止血，此可知血氣相合之理矣。其他治血化氣之藥，皆可從此類推。</p>
<p><u>問曰：</u></p>
<p>人參、黃　之補氣，卷首已明言矣。而茯苓亦云化氣，何也？</p>
<p><u>答曰：</u></p>
<p>氣者，水中之陽。人飲水得腎陽化之，則水質下行而氣上升。茯苓秉土之精而味淡利水，水行則氣升，且下有茯苓、上有威喜芝，乃茯苓苗在松巔上，與茯苓懸絕，而茯苓雖在土中，其氣自能貫之。茯苓之氣所以能上升也，所以性能化氣者，此也。然滋生元氣，不如人參。扶達元氣，不如黃　也。</p>
<p><u>問曰：</u></p>
<p>經云狀火食氣，少火生氣，此又何說？</p>
<p><u>答曰：</u></p>
<p>氣者，水所化而復還為水，上退場門鼻為津，外出皮毛為汗，下出二便為液。設火太甚傷其津液，則失其沖和。則氣虛而喘，五味、麥冬以潤之，氣泄而盜汗，生地、丹皮、浮麥、地骨皮、龍骨以清斂之；氣滯便澀，肉蓯蓉、當歸、火麻仁、杏仁以滑之。且如腎陽有餘，陰氣不能蓄之，則喘咳虛勞之證作，非大滋其陰不可。故用熟地、龜板、元參等以水配火，不使狀火食氣，斯氣納矣。凡入飲水入胃，滲入三焦膜中，而下入膀胱。命門之真火，所從胞室，蒸動膀胱之水，而氣於是乎出。此真火隨氣上行，其路道即在焦膜之中，遇水所過，火即蒸之，皆化為氣，以充周身，故年少氣盛者，其小便少水皆化而為氣故也。此真火不寒不烈，故稱少火，乃人身生氣之源，觀仲景八味丸獨以腎氣名之。蓋有桂附又有萸地，陰中之陽誠為少火生氣之方。桂枝化氣，亦是此理。故只溫而不烈，色黑入腎，正能生氣，桂附性烈，須濟以陰藥。然使其人本有陰寒，則又須桂附純陽之品，乃能化之也。又凡氣上脫者，則喘促，屬陰虛，宜滋陰以斂真火。氣下脫者，則汗泄大小便不禁，屬陽虛，宜補火，以收元氣。然無論陰陽，皆當利水，水化則氣生，火交於水，則氣化。知乎此者，可以探造化之微。</p>
<h3>卷下五</h3>
<p><u>問曰：</u></p>
<p>傷風亦有痰，傷寒亦有痰。何以先生論痰歸入內傷門哉？</p>
<p><u>答曰：</u></p>
<p>痰由所飲之水不化而生，是在身肉者也，故歸入內傷門。</p>
<p><u>問曰：</u></p>
<p>各書有云半夏治逆痰，苡仁治流痰，生薑治寒痰，黃芩治熱痰，南星治風痰，花粉治酒痰。名色之多，幾於無病不有痰者，此何說也？</p>
<p><u>答曰：</u></p>
<p>此說誠然，但論痰者，當詳痰之原耳。蓋痰即水也，水即氣之所化也，無一病不關於氣，故無一病而不有痰。氣寒則為寒痰，清而不稠，古名為飲，今混稱痰。乃火不化水，停而為飲者也，以補火為主。乾薑補脾火，是以土治水，附子補命門真火，是以火化水；茯苓利水，半夏降水，此皆為水飲正治之法。水停為積，先宜攻之，甘遂、大戟、芫花行水最速，下後則當補養，以大棗、白朮、甘草培其土為主。酒者，氣化之水也。飲酒者每生熱痰，蓋酒屬陽氣，諸熏蒸津液而為痰。人之臟熱者，多因酒生熱痰也，皆宜知母、射干、硼砂、花粉以清利之。其臟寒者，水不化氣而停飲，宜砂仁、白蔻、芫花、茯苓以溫利之。飲酒亦有停為冷痰而作痛者，治法亦如是。下寒上熱，下之水不化則反上，而上之熱又熏之則凝痰，此宜以桂附苓半為主，略加苓麥為輔也。痰結心膈之間，則非牛黃不能透達。栝蔞仁以潤降痰。尖貝母色白氣平，形尖而利，故降肺以祛痰。南星辛散，能散風，故祛風痰。然風有寒熱二證，故　草味苦根降，亦云治風痰，是治熱以去痰，與南星正相對待。礞石墜降，必用火硝　過，其性始發，乃能降痰，性烈而速，燥降之品也。化紅皮樹生青礞石山上，大得礞石之氣，且苦辛散降功甚，陳皮凡行氣之藥，皆能行痰。總見痰是氣不化之所生，藥味尚多，未能枚舉。</p>
<p><u>問曰：</u></p>
<p>郁之為病，丹溪分為六郁何也？</p>
<p><u>答曰：</u></p>
<p>此本《內經》，非丹溪所分也。然內結之郁，是賅六氣，合氣血論。丹溪之郁既列於六氣之外，則當單就血分論，取其與痰相對也。痰是氣不化，郁是血不和。蓋血和則肝氣舒暢，而不憂抑。逍遙散為治郁良方，能和血以達肝氣也。歸脾湯治女子不得隱曲，用遠志、木香以行氣，又用當歸、龍眼以生血，是治心脾之血以開鬱也。鬱金子能解諸郁，實則行血，血凝則氣不散，故散血即是散氣。鬱金逐血之力甚大，用盤盛牲血，以鬱金末注之，其血即分開走四面，可見其逐血之力矣。觀鬱金之治郁，即知郁者氣聚於血中也。症瘕血痛必用香附、荔核、檳榔、茴香、橘核純是入血分以散氣。</p>
<p>莪朮尤能破血中之氣，故積聚通用之。若三積色白入氣分，則破積之用不如莪朮。凡積皆是血中氣滯，故行氣用沉香、檳榔；而行血兼用當歸、川芎；血結則為寒，肉桂、艾葉以溫之；氣潔則為火，黃連黃芩以清之。故破積，古方多是寒熱互用，以兩行其血氣也。血不滯則氣不郁矣。或偏於寒，或偏於熱，或偏血分，或偏氣分，又在醫者審處焉。</p>
<p><u>問曰：</u></p>
<p>《神農本經》藥分上、中、下三品共三百六十種，以應周天之數，歷代增入至《綱目》千有餘種，《本草從新》又有增益。此卷所論，或遺本經之藥，或取方外之談，或及西法，或采新藥，不拘一例，得毋混淆。</p>
<p><u>答曰：</u></p>
<p>此為辨藥之真性起見，凡顯然易明，確切不移，精妙無比者，一一論定，使人知此理，則真知此藥，並可以用知別藥。引而伸之，觸類而長之，古今本草已言之義，既賅舉而無遺。且兼西人格致之學，以解靈素不傳之秘，而西藥之得失，亦可舉此以訂證焉雖此卷非本草專書，而本草之精義皆具於此矣。</p>
<p><u>問曰：</u></p>
<p>本草如《綱目》、《求真》、《鉤元》、《集解》、《百種》、《三法》等書，世所尚矣。先生論藥，謂各書皆未盡善。然則各書可廢乎？</p>
<p><u>答曰：</u></p>
<p>不然，各有優劣，但當棄短取長，毋得一切廢黜。徐氏《本草百種》尤精密，然如人參、黃　亦乏精義，但其書大純小疵，未可執此而斥其紕繆也。《三注》亦切實，然尚未到化境。《綱目》泛而無當，然考藥之形象，與所產之地亦足取焉。《求真》、《鉤元》等書敷衍舊說，可探無多，鄙意自謂，此卷論藥性極真。舉此義以較論各書，則棄取從心，自不迷眩，非欲廢各書而獨行己說也，愿天下操術留心者共訂證焉。</p>
<p>人身小天地，氣血分陰陽。內外失調攝，偏勝則為殃。軒岐大聖人，閔民恆如傷。坐朝論治理，剖悉及毫芒。五行兼六氣，肺腑暨肝腸。壽世而壽民，道如日月光。神農鞭草木，三百味親嘗，拈藥治諸病，真能起膏盲，後世增多品，苦口未居良。長沙太守起，謹遵湯液方。上采軒黃奧，入室升其堂。以下名賢輩，紛紛逮漢唐。言多而道晦，聚訟各稱強。千慮或一得，米粟雜秕糠。天彭容川子，報國以文章。杏苑探花手，余技及長桑。讀書破萬卷，靈素熟胸藏。著論滿其家，高希仲景張。新成藥問答，闡發更精詳。包羅天地氣，名言至理長。讀之開茅塞，可登斯民康。映雪高聲誦，字字發奇香。</p>
