<header><h1>養生導引法</h1></header>
<dl class="元資料" data-type="book">
<div><dt>作者</dt><dd>胡文煥</dd></div>
<div><dt>朝代</dt><dd>明</dd></div>
<div><dt>年份</dt><dd><data value="1368/1644">公元1368年至公元1644年</data></dd></div>
</dl>
<h2>一、中風門</h2>
<p>〔原文〕一法：正倚壁，不息，行氣，從頭至足止。愈疽、疝、大風、偏枯、諸風痹。</p>
<p>〔解說〕采用正立背靠牆姿勢，不息，行氣，（功法詳見本節討論）運用意識導氣，使內氣從頭至足而止。這種練功法可以治療疽病、疝氣、大風、半身不遂，以及各種風痹病。</p>
<p>〔原文〕二法：仰兩足指，五息止，引腰背。痹，偏枯，令人耳聞聲。常行，眼耳諸根，無有掛礙。</p>
<p>〔解說〕將兩腳趾仰起、行氣，五息而止，引氣至腰背。可以治療腰背痹痛和半身不遂，並能改善人的聽覺。經常用此法練功，還能使諸根（佛家稱眼、耳、鼻、舌、身、意為六根，根是能生的意思。因眼、耳等對於聲、色等能產生感覺，故稱為根）清淨，不受病邪和外界不良原素的侵襲和干擾。</p>
<p>〔原文〕三法：以背正倚，展兩足及指，瞑心（收心使之安靜），從頭上引氣，想以達足之十趾及足掌心。可三七引，候掌心似受氣止。蓋謂上引泥丸，下達涌泉是也。</p>
<p>〔解說〕采用背部端正靠牆壁的坐式，伸展兩腳和足趾，排除雜念，使心神寧靜，從頭上引氣，使內氣隨意念向下行到雙腳十趾及足掌心的涌泉穴。如此反復以意引氣做二十一次，等到腳底似有受氣的感覺時為止。</p>
<p>這就是所謂「上引泥丸，下達涌泉」的功法。</p>
<p>〔原文〕四法：正柱倚壁，不息，行氣，從口趣（同促）令氣至頭始止。治疽、痹、大風、偏枯。</p>
<p>〔解說〕采用背部端正靠牆的坐式，不息，行氣，以意念引導內氣，從嘴內至頭頂為止。</p>
<p>可以治療疽病、痹症、大風和半身不遂。</p>
<p>〔原文〕五法：一足　（同蹋、踏）地，足不動，一足向側相，轉身欷（通欹、斜。傾側）勢，並手盡急回，左右迭二七。去脊風冷，偏枯不通潤。</p>
<p>〔解說〕一只腳踏地不動，另一腳伸向側面，轉身成斜勢，兩手相合盡量隨身體掉轉，左右交替十四次。可消除脊背風寒，半身不遂引起的氣血不能通達潤養肢體。</p>
<p>〔原文〕六法：手前後遞（交替、順次更迭）互拓（舉、推），極勢三七，手掌向下，頭低面心，氣向下至涌泉、倉門。卻努一時，取勢散氣放縱身，氣平。頭動　（同膊。肩膀、肩胛）前後欹側，柔轉二七。去　並冷血，筋急漸漸如消。</p>
<p>〔解說〕兩手前後交替互推，盡力活動二十一次。然後停止推手，手掌朝下，低頭面向心胸，以意行氣下達涌泉穴和倉門，氣至後守一會兒收功，收功時要放松全身，將氣散開，使氣平調。</p>
<p>此後再活動頭部，向肩部前、後、左、右傾斜，柔和自如地轉動十四次。這種功法可以祛除肩部血脈的寒邪，使筋脈拘急逐漸消除。</p>
<p>〔原文〕七法：兩手抱左膝，伸腰，鼻納氣七息，展右足。除難屈伸拜起，脛中痛痿。</p>
<p>〔解說〕采用踞坐姿式，用兩手抱左膝頭，伸腰，伸展右腿，以鼻吸氣，行氣七息。可治療下肢活動障礙，難以屈伸、跪拜、起立，小腿疼痛痿軟無力。</p>
<p>〔原文〕八法：兩手抱右膝著膺（胸）。除下重難屈伸。</p>
<p>〔解說〕用踞坐位，兩手抱右膝貼胸。可消除下肢沉重，難以屈伸。</p>
<p>〔原文〕九法：踞（憑倚）坐，伸右腳，兩手抱左膝頭，伸腰，以鼻納氣，自極七息，展左足著外。除難屈伸拜起，脛中疼痹。</p>
<p>〔解說〕采用踞坐位，即倚坐位。伸展右腿，兩手抱左膝頭，伸腰，用鼻吸氣，盡量使吸呼深長，行氣七息，然後伸左腿，足向外展。這種功法能治療下肢屈伸、跪拜、起立困難，小腿疼痛，腫脹麻木。</p>
<p>〔原文〕十法：立身，上下正直，一手上拓，仰手如似推物勢，一手向下如捺物，極勢，上下來去換易四七。去膊內風，兩膊井內冷血，兩腋筋脈攣急。</p>
<p>〔解說〕采用站式，使身體上下正直，一手向上舉，仰掌象推東西一樣，一手向下象按捺東西，兩手盡量用力，上下反復交替進行二十八次。這種功法可祛除肩膀內的風邪，兩肩井內血脈受寒，兩腋筋脈拘急痙攣。</p>
<p>〔原文〕十一法：踞，伸左腳，兩手抱右膝，伸腰，以鼻納氣，自極七息，展左足著外。</p>
<p>除難屈伸拜起，脛中疼。</p>
<p>〔解說〕踞坐位，伸展左腳，兩手抱右膝，伸直腰，用鼻吸氣，盡量使吸呼深長，行氣七息，然後再伸左腳外展。此法可治療下肢屈伸、跪拜、起立困難，小腿疼痛。本節與原文第九法動作大致相同，一為右，一為左，交替進行即為一個完整功法。</p>
<p>〔原文〕十二法：偃臥（仰面而臥），合兩膝，布兩足，伸腰，口納氣，振腹七息。除壯熱疼痛，兩脛不隨。</p>
<p>〔解說〕采取仰臥位，並攏兩膝，伸展兩腳，把腰伸直，用口吸氣，使氣達腹中，小腹隨吸氣鼓起，呼氣收縮，上下振蕩，連作七息而止。這種功法可治療高熱身疼痛，兩小腿動作不便。</p>
<p>〔原文〕十三法：治四肢疼悶及不隨，腹內積氣。床席必須平穩，正身仰臥，緩解衣帶，枕高三寸，握固。握固者，以兩手各自以四指把手拇指。舒臂令去身各五寸，兩腳豎指，相去五寸。</p>
<p>安心定意，調和氣息，莫思余事，專意念氣，徐徐漱醴（甜酒）泉者，以舌舐略唇口牙齒，然後咽唾。徐徐以口吐氣，鼻引氣入喉，須微微緩作，不可卒急強作，待好，調和引氣，勿令自聞出入之聲。每引氣，心心念送之，從腳趾頭使氣出，引氣五息、六息，一出之為一息。一息數至十息，漸漸增益，得至百息、二百息，病即除愈。不用食生菜及魚、肥肉。大飽食後，喜怒憂恚（恨、忿）。悉不得輒行氣。惟須向曉清靜時，行氣大佳，能愈萬病。</p>
<p>〔解說〕治療四肢疼悶和活動不便，腹中積氣。導引時床席必須平穩，采用正身仰臥位，松解衣帶，枕高以三寸為宜，兩手握固，握固就是用兩手四指握住大拇指。握固後舒展兩臂使其距離身軀兩旁各五寸，兩腳趾立起，兩腳之間相距亦為五寸。體位擺好後要安心定意，調和呼吸，莫思其它雜事。並徐徐地嗽「醴泉」，所謂醴泉，即是用舌舐唇口牙齒所產生的唾液，因為唾液能滋潤腸胃，幫助消化，勝過甘美如甜酒的泉水，所以被稱為醴泉。</p>
<p>將產生的唾液先嗽口齒，然後咽下。再徐徐以口吐氣，用鼻引氣入咽喉，這些動作要輕要慢，不可著急硬做。等待做好這些動作，進一步調和呼吸引氣入裡，引氣時勿要使自己耳聽到呼吸出入的聲音。每次引氣，要專心以意念送氣，使氣達足，並由趾頭使氣出，這樣引氣五息，六息，會從腳趾頭出氣一次，這種功法能把從腳趾頭出氣一次作為一息。初做者，由一息數到十息，以後漸漸增加，能行到一、二百息，病就好了。治療期間，不要吃生菜、魚和肥肉。進食過飽之後，以及喜怒憂忿時，都不可行氣。惟有在凌晨清靜時侯，行氣最好，這種功法能治療各種疾病。</p>
<p>〔原文〕十四法：展兩足上。除不仁，脛寒之疾也。</p>
<p>〔解說〕展開兩足向上抬腳，可以治療麻木不仁及小腿寒痹。</p>
<p><u>小結：</u></p>
<p>本書首篇敘述了中風病的導引治療。中醫認為風是四時之氣，分布八方，主長養萬物。正常的風不會傷人，當人體正氣不足或氣候驟變時，人體受到邪風侵襲才會生病。</p>
<p>古人把這種邪風傷人所致之病，統稱為「中風」，如《諸病源候論》「卷一風病諸候」中說：「中風者，風氣中於人也。」包括了風邪入中人體引起的風痹、風濕、中風偏枯（半身不遂）、中風不仁（肢體肌膚麻木）、中風口　（口眼歪斜）、大風等多種疾病。現代所說的中風，是指突然昏倒，不省人事，言語困難，口眼歪斜，半身不遂的病症。大致相當於西醫所說的腦血管意外，包括腦出血、腦血栓形成、腦血管痙攣、腦栓塞等疾病及其後遺症。本篇的導引法對後一種中風後遺症的康復十分有益。本節提出的中風病導引法有靜功、動功和動靜結合功多種。體位有「倚壁」、「踞坐」、「仰臥」、「立身」等。呼吸方法有「不息」法、「納氣」法、「引氣」法等，並對導引行氣方法、注意事項，行氣要領等做了全面論述，內容十分豐富，茲就呼吸方法討論如下：1、不息法不息法，古人又稱為閉氣法、悶氣法等。就是吸氣後停閉呼吸片刻再呼出的練氣方法。古代練功家，在：『呼吸精氣」以養生的思想指導下，認為「真氣者所受於天，與穀氣並而充身者也。」練氣吐納，須使吸入精氣盡量停布於體內，供機體充分吸收，方可充身養生。即所謂使身心「納氣」、「受氣」、「食氣」者也。如《養性延命錄》說：「正偃臥、瞑目握固，閉氣不息於心中，數至二百，乃口吐氣出之，日增息，如此身神俱，五臟安；能閉氣至二百五十息，華蓋（肺）明，華蓋明則耳目聰明，舉身無病，邪不忤（侵襲）人也。」《備急千金要方》說：「和神導氣之道，當得密室，閉戶安床暖席，枕高二寸半，正身偃臥，瞑目，閉氣於胸膈中，以鴻毛著鼻上而不動，經三百息，耳無所聞，目無所見，心無所思，則寒暑不能侵，蜂蠆不能毒，壽三百六十歲，此鄰於真人者也。」可見古代練功家非常重視閉氣不息的呼吸方法，認為它可祛病延壽，使人身心俱安，具體練習方法《備急千金要方》「卷二十七調氣法」說得比較詳明，其法是「引氣從鼻入腹、足則停止，有力更取，久住氣悶，從口細細吐出盡。還以鼻細細引入，出氣一此前法。」宋代大文學家蘇東坡說：「既云閉氣於胸膈，恐是不閉鼻中氣，只以意堅守此氣於胸膈中，令出入息，似動不動，氤氳縹緲，如香爐蓋上煙，湯瓶嘴中氣，自在出入，無呼吸之者，則鴻毛可以不動。若心不起念，雖過三百息可也。」可見不息之法，不是停止呼吸，而是使吸入之氣，在體內有所停留。練習要點是：一是要使呼吸深長細勻，由呼吸淺短、次數多，而變成細長、中間停閉，次數少。正常人的呼吸，平均每分鐘16～20次。練不息功日久後，可達到每分鐘3～4次，甚至1～2次，而不感氣悶不適，仍然自然舒適。二是要配合數息，默數鼻端吸入氣後的次數，從一數至十或數百。使氣閉時間自然延長。三是以意守氣於胸膈肺（華蓋）中，使氣似動非動，如煙如霧，彌漫於體內。但閉氣法的練習一定要漸進，自然，切勿硬閉，而使氣憋、頭悶，產生不良副作用。文中的「自極七息」的「自極」，字義雖是盡量用力，但不是說要用力憋氣、閉氣，而是要使呼吸盡量深細勻長，每分鐘內減少呼吸次數。清‧李涵虛《道竅談》中說：「一呼一吸名曰一息，須順其自然。」要是硬閉拖長時間，就會「使氣則竭，並氣則傷。」因此，停閉呼吸法，無論是呼停閉氣，還是吸停閉氣，在練功初期都不宜隨便應用，必須經過一個時期的鍛煉，在形成深長的腹式呼吸和勻細入出後，方可漸進而不息。初期停閉時間不宜太長，不息太長，常會引起氣機壅塞，甚至胸悶、頭暈、胸脅不適、疼痛，腹脹等。</p>
<p>2、納氣法納氣法，即是吐納法。可用鼻納氣，口吐氣或口納氣，鼻吐氣。如本篇十一法說：「以鼻納氣，自極七息」，十二法說：「口納氣，振腹七息」。《王子喬八神導引法》認為納氣的要領是：「勿有所念，定意，乃以鼻徐納氣，以口吐之，各致其臟所，竟而復始，欲休先極之而止，勿強長息，久習乃自長矣。氣之往來勿令耳聞。」或「徐以口納氣，填腹自極，息欲絕，徐以鼻出氣。」也就是說納氣之法，吸氣要徐徐而行，安心定志，排除雜念，專心吸氣使達腹內而氣沉丹田，氣息達到一定限度後，慢慢以鼻出氣，呼吸出入時要微細均勻，使耳不能聞及往來。切忌強硬延長呼吸，要循序漸進，久習自然便會深長。納氣法是氣功的基本功法，練習時要從自然柔和入手，首先要精神安寧，形體放松，然後從自然呼吸練習起，逐步使呼吸深長，使氣被納入肺內時，「不遲不速」、「勿忘勿助」、「必輕必和」，如蠶吐絲，綿綿不斷，形成深長、細勻的腹式呼吸。然後以意念引導吸呼．徐徐送氣入腹部臍下，產生一種因橫膈下降，而使氣體下沉丹田的感覺，所謂「填腹」、「振腹」、「脹腹」及「腹內松靜氣騰然」即是氣沉丹田的感覺和表現。古人認為納氣務求「調柔入細，引短令長」才能使「呼吸綿綿，深入丹田」。</p>
<p>3、引氣法引氣法就是行氣法、導氣法。如第一法說：「行氣從頭至足止。」三法說：「從頭上引氣，想以達足之十趾及足掌心。可三七引，候掌心似受氣止。蓋謂上引泥丸，下達涌泉是也。」十三法說：「每引氣，心心念送之，使腳趾頭使氣出。」</p>
<p>這是一種運用意識使「內氣」循一定路線營運，如從頭至足，從丹田至脊，上腦內等，意氣相依，以意行氣的功法。道家的「大小周天功」、佛家密宗的「貫氣法」均與此相似。《雞峰普濟方》認為：「意者氣之使，意有所到則氣到，每體不安處。則微閉氣，以意引氣到疾所而攻之，必瘥。」引氣法是一種以意引氣攻疾祛病的方法，具體功法有三種：（1）引氣攻病法。如《養性延命錄》說：「凡行氣欲除百病，隨所在作念之。頭痛念頭，足痛念足，和氣往攻之，從時至時，便自消矣。」本篇「行氣從頭至足止，愈疽、疝、大風、偏枯、諸風痹」，《疝氣門》「引腹中氣，遍行身體。去疝瘕病。」等便是引氣攻病的例子。</p>
<p>（2）引氣營運法。如「上引泥丸，下達涌泉」法。泥丸是道家術語，即是腦內或頭頂部位。《黃庭內景經》說：「腦神精根字泥丸。」涌泉是穴位名，位於前足心凹陷，足底的前三分之一處。以意念「存想自身從首至足，又自足至丹田，上脊膂，人於泥丸，想其氣如云直貫泥丸」（《天隱子》）或「閉口緘息，存想氣真氣自尾閭升夾脊，透泥丸，逐其邪氣」（《逍遙子導引訣》）。本法是古代練功家常用的整體行氣法，後世又將此法發展成了「大、小周天法」等全身性引氣營運法。具體練法請參照本書</p>
<p>《老人門‧通玄集周大法》。</p>
<p>（3）引氣外出法。如「每引氣，心心念送之，從腳趾頭使氣出。」《聖濟總錄》說：「念氣從足十趾出，久自覺氣通手足，行之不止，身日輕強，氣脈柔和，榮衛調暢。」</p>
<p>可見引氣外出主要是以意念想象「內氣」外出的一種功法，這種功法久行之有調和榮衛、疏通氣血，祛病強身的作用。</p>
<p>《氣功》雜志（1983，　4（1）：8～9）曾介紹運用引氣法戰勝癱瘓的經驗，現摘錄如下：作者劉榮華患脊髓蛛網膜炎後四肢麻木，肌肉萎縮，二便失禁。采用仰臥或側臥位，以意念從頭至足，節節放松，並以意念思想從頭至足有一白球下落，然後入地，再周而復始，以利入靜。兩月後，覺腹背發熱，上肢有力，眠食好轉，能坐凳上。後加練丹田涌泉貫氣法，呼氣時用意念將丹田之氣下引至兩腳底涌泉穴，吸氣時又用意念將氣引回至丹田。三月後，丹田充實，小腹飽滿，會陰跳動，命門發熱，自覺有氣沿脊柱而上。一天早晨，這熱氣終於貫通尾閭、夾脊、玉枕三關。霎時刷地一下，轟然一震，恰似閃電雷嗚，周身抖動。從此身體上也出現了奇跡；四肢麻木，胸腹腰臂的緊束感都徹底解除，能邁開大步行走了。愈後兩次接受脈象儀、心電圖、斷層X　光電視透影等檢查，結果均正常。並接受中國科學院和中醫學會聯合氣功儀測試，如實地描繪出了氣功鍛煉的皮膚電阻溫度等圖象。</p>
<h2>二、風痹門</h2>
<p>〔原文〕一法：一曰：以右踵拘左足拇趾，除風痹；二曰：以左踵拘右足拇趾，除厥痹：三曰：兩手更引足趺置膝上，除體痹。</p>
<p>〔解說〕一說：采用右腳跟勾住左腳拇趾的功法，可以治療風痹；二說：采用左腳跟勾住右腳拇趾功法，可以治療厥痹；三說：采用兩手交替拉兩腳背放在膝蓋上，可以治療體痹。</p>
<p>〔原文〕二法：偃臥，合兩膝頭，翻兩足，伸腰，口納氣，脹腹，自極七息。除痹痛熱痛，兩脛不隨。</p>
<p>〔解說〕仰臥，並攏兩膝，伸展兩足，伸腰，用口吸氣，吸氣時使氣達腹，使腹隆起，令小腹感到充實、臌脹，盡力如此行氣七息。可消除痹痛、熱痛，兩腿不能自如活動。</p>
<p>〔原文〕三法：踞坐伸腰，以兩手引兩踵，以鼻納氣，自極七息，引兩手布兩膝頭。</p>
<p>除痹嘔。</p>
<p>〔解說〕采用踞坐體位伸腰，用兩手攀兩腳後跟，用鼻吸氣，盡力使呼吸深長，行七息，然後將兩手放在兩膝頭上。這種功法可以除痹止嘔。</p>
<p>〔原文〕四法：偃臥，端展兩手足臂，以鼻納氣，自極七息，搖足三十而止。除胸足寒，周身痹厥逆。</p>
<p>〔解說〕采用仰臥體位，正直舒展兩手足臂，用鼻吸氣，盡力行氣作七息，然後搖腳三十次而止。這種功法，可消除胸受寒、腳受寒，周身痹痛，四肢厥冷。</p>
<p>〔原文〕五法：正倚壁，不息，行氣，從頭至足止。愈大風、偏枯，諸痹。</p>
<p>〔解說〕用背端正靠牆壁而站或坐，不息，行氣，引內氣從頭頂下達足底而止。這種功法可以治療大風、半身不遂、各種痹症。</p>
<p>〔原文〕六法：左右手夾據地，以仰引腰五息止。去痿痹，利九竅。</p>
<p>〔解說〕采用左右手靠攏著地，向上引腰，行五息而止。這種功法可去痿痹，通利九竅。</p>
<p>〔原文〕七法：仰兩足指，引五息止。腰背痹，偏枯，令人耳聞聲。久行，眼耳諸根，無有掛礙。</p>
<p>〔解說〕行氣時，仰臥，將兩足趾仰翹起，引氣五息止。可以治療腰背痹痛，半身不遂，使人耳聰。久行，還可以使眼、耳、鼻、舌、身、意，佛家所說的六根，保持清淨健康，不受外界的侵襲和干擾。本法與「中風門」第二法大致相同。</p>
<p>〔原文〕八法：踞，伸右腳，兩手抱左膝頭，伸腰，以鼻納氣，自極七息。除難屈伸拜起，脛中疼痛痹。</p>
<p>〔解說〕采用踞坐位，伸展右腳，兩手抱左膝頭，伸腰，用鼻吸氣，盡力行七息。可消除下肢難以屈伸、跪拜、起立，小腿疼痛麻木。</p>
<p>〔原文〕九法：左右拱兩臂，不息九通。治臂足痛，勞倦，風痹不隨。</p>
<p>〔解說〕采用左右臂抬起拱抱胸前姿式，閉氣不息九通。可治療臂足疼痛，勞累疲倦，風痹不遂。</p>
<p>〔原文〕十法：凡人常覺脊倔強而悶，仰面，努膊井向上，頭左右兩向挪之，左右三七，一住（暫停一會兒），待血行氣動定，然始更用。初緩後急，不得先急後緩。若無病患，常欲得旦起、午時、日沒三辰（時辰），如用，辰別二七。除寒熱病，脊腰頸項痛，風痹，兩膝頸頭。</p>
<p>以鼻納氣，自極七息。除腰痹背痛，口內生瘡，牙齒風，頭眩盡除。</p>
<p>〔解說〕凡人常覺得脊背倔強不舒而且頭悶，可仰面盡量抬兩肩向上，將頭向左右搖擺，左右搖擺二十一次，暫停一會兒，等血氣流通，穩定下來，然後再作。開始做時要慢，以後逐漸加快，不要先快後慢。無病之人經常能在早起、中午和日沒這三個時辰，每次每時辰各作十四次。能消除寒熱病，脊腰頸項痛，風痹，兩膝頸頭疼痛。</p>
<p>用鼻吸氣，每次盡力行七息。可以使腰痹背痛，口內生瘡，牙齒風，頭眩等都得到消除。</p>
<p><u>小結：</u></p>
<p>痹即閉阻不通之意。當人體肌表經絡遭受外邪侵襲後，氣血不能暢通，因而引起肢體、關節、肌膚，疼痛、酸楚、重著、麻木和功能障礙等一類疾患，中醫均稱為痹證。《諸病源候論》認為：「痹者，風寒濕三氣雜至，合而成痹……病在陽曰風，在陰曰痹，陰陽俱病曰風痹。」可見這裡所說的「風痹」是指陽經和陰經同時受風邪侵襲而引起的較嚴重痹症，不完全是風邪所傷而引起「行痹」。</p>
<p>本篇討論了風痹症的養生導引法，主張根據風痹症的不同病情選用不同導引法。一般風痹、體痹可采用腳跟勾腳拇趾左右交替進行數次的鍛練方法。活動困難的周身痹痛，可采用仰臥位或背靠牆站位，不息行氣，搖動兩腳。腰背及下肢痿痹，可采用踞坐位，兩手抱膝頭，伸腰，或兩手靠攏著地，向上引腰，配合吐納行氣法，進行鍛練。上肢痹痛，可采用抬左右兩臂拱抱胸前，不息行氣。脊椎及頸項痛，可采用仰面抬肩，左右搖頭的動作和吐納法。並指出練功的時間應安排在早起、中午和日沒這三個時辰。練習時要先緩後快，長期堅持。</p>
<h2>三、心腹痛門</h2>
<p>〔原文〕一法：偃臥，展兩脛兩手，仰足指，以鼻納氣，自極七息。除腹中弦急切痛。</p>
<p>〔解說〕仰臥，伸展兩腿兩手，將足趾仰翹向上，用鼻吸氣，盡力行七息。可治腹內痙攣急劇痛。</p>
<p>〔原文〕二法：偃臥，口納氣，鼻出之，除裡急。飽咽氣數十，令溫，中寒，干吐嘔腹痛。</p>
<p>口納氣七十所，大振腹，咽氣數十，兩手相摩令熱，以摩腹，令氣下。</p>
<p>〔解說〕仰臥，用口吸氣，鼻出氣，可消除腹內裡急墜脹。用口將氣吞足咽下數十次，讓氣在口中變溫。可以溫中祛寒，治乾嘔、腹痛。用口深吸氣七十次，使氣至腹內，腹隨氣而大幅度地鼓起收縮，起伏振蕩，然後用口吞氣咽下數十次，並用兩手相互摩擦使掌心發熱，以熱掌摩腹，則可使氣下。</p>
<p>〔原文〕三法：偃臥，仰兩足兩手，鼻納氣七息。除腹中弦切痛。</p>
<p>〔解說〕仰臥，將兩足掌兩手掌向上仰，用鼻吸氣，行氣七息。可消除腹中痙攣劇痛。</p>
<p><u>小結：</u></p>
<p>中醫所說心腹痛是指心下，即劍突下胃脘部及腹中疼痛。《諸病源候論》「卷十六‧心腹痛病諸候」說：「心腹痛者，由腑臟虛弱，風寒客於其間（指心腹之間）故也。邪氣發作，與正氣相擊，上衝於心則心痛、攻於腹則腹痛，上下相攻，故心腹絞痛，氣不得息。」認為心腹痛，是由於臟腑虛弱，風寒停留於心腹之間，邪氣上下相攻而成。治療應溫中扶正，理氣祛寒。</p>
<p>本篇的功法，均取仰臥位，展伸手足，可使全身放松，腹部舒適。呼吸采取以鼻納氣，口吐氣，或口吸氣，鼻出氣，使氣達腹的腹式呼吸法，吸氣時腹部隆起，呼氣時腹部凹陷（順呼吸），或吸氣時腹部凹陷，呼氣時腹部隆起（逆呼吸）均可，但應以使氣壓腹中，使小腹感到充實、飽滿、臌脹和振動，達到一定程度後還可感到發熱。</p>
<p>這樣就能溫中祛寒，調氣止痛，治療腹痛、嘔吐、氣鬱等症。實踐證明，腹式呼吸法對消化系疾病，如胃潰瘍、胃痙攣、過敏性腸炎、便秘等有良好效果。</p>
<p>本篇還介紹了「咽氣」法和摩腹法。「咽氣法」，後世稱「吞氣「或「食氣」法，是將空氣大口吞咽於胃中，然後再吐出，或以意引氣透過胃腸，由肛門排出的一種功法。</p>
<p>這種功法可使胃腸蠕動直接得到調解，使腹中氣機通利，積聚消散，對胃痛、腹痛、消化不良、便秘等，有良好功效。「咽氣」可以由大口吸氣和大口吐氣的喘吸法練起，逐漸能使氣停留胃中，下達腸間，最後由肛門排出。摩腹法是調理腸胃功能的重要方法，古人又稱其為摩臍腹、摩生門，認為「腹宜常摩」為養生要訣之一。方法是兩手搓熱，然後相疊（一般右手按在左手背上），用掌心在臍的周遭，右邊上來，左邊下去的順時鐘方向，分小圈、中圈、大圈各轉摩12次。腹痛時摩腹可以理氣止痛，無病之人，常摩腹可以調理脾胃。</p>
<p>幫助消化，健脾強身。</p>
<h2>四、霍亂門</h2>
<p>〔原文〕一法：轉筋不住，男子以手挽其陰；女子以手牽乳近兩邊。</p>
<p>〔解說〕轉筋發作不止，男子以手握固陰部，女子以手牽乳房，兩手牽住乳房兩邊即可。</p>
<p>〔原文〕二法：偃臥，展兩脛兩手，外踵者相向，亦鼻納氣，自極七息。除兩膝寒，脛骨疼，轉筋。</p>
<p>〔解說〕仰臥，伸展兩腿兩手，足根向外分開，足趾向內相根，同樣是鼻納氣，盡力行氣七息。可治兩膝寒痹，小腿骨疼痛，轉筋。</p>
<p>〔原文〕三法：覆臥，傍視，立兩踵，伸腰，鼻納氣。去轉筋。</p>
<p>〔解說〕俯臥，側頭看一旁、用兩足趾著地，將兩足跟立起，伸展腰，鼻吸氣。</p>
<p>可治轉筋。</p>
<p><u>小結：</u></p>
<p>中醫所說霍亂是指突發吐瀉、腹痛、轉筋（俗名「抽筋」，指四肢筋脈痙攣牽掣疼痛的病症）等症的疾病。包括現代所稱的「霍亂」及「急性腸胃炎」等，但不等於現代醫學的霍亂病。《諸病源候論》「卷二十二‧霍亂病諸候」說：「冷熱不調，飲食不節，使人陰陽清濁之氣相干，而變亂於腸胃之間，則成霍亂。霍亂而轉筋者，由冷氣入於筋故也。」可見轉筋症，主要由於寒氣入於筋脈所致。本節對霍亂轉筋提出了三種導引方法：一是男子用手握固陰器，女子用手牽兩乳房；二是仰臥，舒展手足。踵向外趾相對，行氣七息；三是俯臥，側頭，足趾著地立起足根，伸腰，納氣。這些方法均簡便易行，除可用治霍亂轉筋外，還可以防治一般的「抽筋」病。</p>
<h2>五、嘔吐門</h2>
<p>〔原文〕一法：正坐，兩手向後捉腕，反拓席盡勢，使腹弦弦上下七。左右換手亦然。</p>
<p>除腹肚冷氣宿食積胃，口冷，食飲進退吐逆。</p>
<p>〔解說〕坐正，兩手伸向背後，用一手握固另一手腕部，反手按地，使腹鼓起如弓弦，上下鼓動七次。將手左右更換同樣握腕反手按地，鼓腹七次。可消除腹肚中冷氣和宿食積胃，以及胃口寒涼，飲食入胃則嘔吐上逆。</p>
<p>〔原文〕二法：偃臥，展脛兩手，左右蹺（舉足）兩足踵，以鼻納氣，自極七息。除腰中病，食苦嘔。</p>
<p>〔解說〕仰臥，伸展兩腿兩手，蹺起兩足根，用鼻吸氣，盡力行氣七息。可消除腰中疾病，食後苦於嘔吐。</p>
<p>〔原文〕三法：坐，直舒兩腳，以兩手挽兩足，自極十二通。愈腸胃不能受食吐逆。以兩手直叉兩腳底，兩腳痛舒，以頭枕膝上，自極十二通。愈腸胃不能受食吐逆。</p>
<p>〔解說〕坐地，伸直兩腳，用兩手牽拉兩足，盡力做十二遍。可治療胃不能受食嘔吐。用兩手指交叉兜兩腳底，直至兩腳感到困痛後松開使腳舒，再把頭枕在膝上，盡力按上法做十二遍。可治腸胃不能受食嘔吐。</p>
<p><u>小結：</u></p>
<p>本篇對嘔吐提出了三種導引法。第一法，背手著地，以使腹上下活動，幫助消除宿食寒氣；第二法，仰臥蹺踵，舒展肢體，以引氣腹中，使氣調嘔止；第三法，坐位伸腳，以手握足，或用手兜足，以頭枕膝，以活動腰腹理氣除嘔。有靜功、有動功，患者可根據病情選用。</p>
<h2>六、氣門</h2>
<p>〔原文〕一法：兩手向後，合手拓腰向上極勢，振搖臂肘來去七。始得手不移，直向上向下盡勢來去二七。去脊心肺氣壅悶。</p>
<p>〔解說〕兩手向後，左右兩手相合盡力托腰向上，振搖兩臂肘來去七次。然後同前式樣，合手托腰，將雙手直向上向下用力摩腰反復十四次。可治脊、心、肺氣壅悶不舒。</p>
<p>〔原文〕二法：兩足兩指相向，五息止，引心肺。去厥逆上氣。極用力，令兩足相向，意止引肺中氣出，病患行肺內外展轉屈伸，隨無有違逆。</p>
<p>〔解說〕兩足趾相對，行氣五息止，以（意念）引氣入心肺，可消除厥逆上氣。進而盡量用力，使兩足相對，以意念引肺中內氣出，讓病患營運肺氣，使肺氣在體內外展轉屈伸正常運行，所到之處就會無有阻礙，氣順滯消。</p>
<p><u>小結：</u></p>
<p>本篇氣門所述主要是肺氣壅塞和厥逆上氣。肺主氣、司呼吸，主人體氣的營運。《靈樞‧九針論》說：「肺者五臟六腑之華蓋也。」所謂華蓋，是比喻說肺臟居上，就好象在上的天，復蓋著萬物一樣。肺居上而主肅降，肺氣肅降才能使吸入的清氣和五穀的精微向其它各臟腑布散，維持各臟腑的正常活動。肅降正常，則氣道通暢，呼吸調勻，體內外氣體得以正常交換。如果「肺失肅降」，就會出現喘、咳，肺氣上逆和胸悶氣壅。治療時宜理氣降逆。本篇采用兩手托腰，搖動兩肘；由上向下用力摩腰的動功和以意念引肺中內氣出的靜功調理肺氣壅塞，主要是由上向下的摩腰背可使氣機舒利，使氣由上向下而降；以意念引肺中氣出，可使鬱滯之氣消散，壅塞之氣宣發。若能動靜結合，效果可更好。慢性肺心病、氣管炎、哮喘等病患均可采用此功。</p>
<h2>七、痰飲門</h2>
<p>〔原文〕一法：左右側臥，不息十通。治痰飲不消。右有飲病，右側臥，左有飲病，左側臥，又有不消氣排之，左右各十有二息，治痰飲也。</p>
<p>〔解說〕左側臥或右側臥，不息行氣十通。可治痰飲不消。右有飲病，宜采用右側臥位，左有飲病，宜采用左側臥位，如果還有痰飲不消，可不息，行氣以排之，左右各行氣十二息，這樣就可以治愈痰飲了。</p>
<p><u>小結：</u></p>
<p>痰飲是人體內水液停積，輸化失常而引起的一種疾病。前人將散在胃腸者稱為痰飲，飲流脅下者稱為懸飲，淫溢四肢肌肉者稱為溢飲，支撐胸肺者稱為支飲。痰飲多因肺失宣降，脾腎陽虛，不能運化水穀，以致飲留胃腸而致。主證為胸脅支滿，脘部有振水音，嘔吐清水痰涎，口渴不欲飲，頭昏目眩、短氣心悸，背寒冷如掌大等。治療痰飲，應以溫化為主，因為飲為陰邪，遇寒則聚，得溫則行。本篇主張采用側臥，不息法。治一般痰飲，謂右有飲病，右側臥，左有飲病，左側臥。如果是較嚴重的痰飲病，還應以意念引「內氣」排除痰飲。這實際上就是前述的引氣攻病法（見「一、中風門」解說）。氣功可使胃腸蠕動增強，膈肌活動加大，脾胃運化健旺，腎中陽氣得補，從而令痰飲溫化，三焦氣機通暢，故對痰飲病有很好效果。練功時若能針對痰飲留聚的部位，如胸脅、胃院等，以意念引「內氣」直達病所而攻邪祛病，則會收到更好療效。</p>
<p>文中「不息十通」的「通」，有幾種解釋：（1）一通即一遍。如《諸病源候論》「卷二十七‧白發候養生方導引法」說：「一通者，一為之，令此身囊之中滿其氣。」</p>
<p>「不息十通」即按不息法做十遍。（2）用鼻吸氣五次，口吐氣一次為一通。如《諸病源候論》「　卷三十二‧癰疽病養生方導引法」說：「鼻內息五方一吐，為一通。」筆者認為此處的「通」即是「全部」、「整個」意，即完成了一個完整的呼吸過程或動作即是一通。如「鼻內息五方一吐」為一整體呼吸過程，完成一遍此呼吸過程即是一通。如「八、癆瘵門」以「叩齒二七過，取咽氣二七」為一通，即齒叩十四次，吞氣咽下十四次為一整體動作，完成這二個十四次動作一遍，為一通。一通的動作次數有多有少，少者一次，多者十幾次，不能規定一定次數為一通，而應當根據實際完成一個動作的次數定「通」。</p>
<h2>八、癆瘵門</h2>
<p>〔原文〕一法：以兩手著頭上相叉，長氣即吐之，坐地緩舒兩腳，以兩手外抱膝中，疾低頭入兩膝間，兩手交叉頭上十三通，愈三尸也。</p>
<p>〔解說〕把兩手交叉放在頭上，長吸氣即吐出。坐在地上，慢慢地伸展兩腳，用兩手從外邊將膝抱起，急低頭進入兩膝之間，這樣兩手交叉抱頭上行功十三遍，可治三尸病。</p>
<p>〔原文〕二法：叩齒二七過，取咽氣二七。如三百通乃止。為之二十日，邪氣悉去；六十日，小病愈；百日，大病除，三蟲伏尸皆去，面體光澤也。</p>
<p>〔解說〕叩齒十四次，吞氣咽下十四次，為一通，如此做三百通為止。連做二十日，可使體內邪氣都消除；做六十日，小病可愈；做一百日，大病可除，藏於體內的三蟲和伏尸均可消除，使人精神煥發，面體光澤。</p>
<p><u>小結：</u></p>
<p>癆瘵即是肺癆病，也就是肺結核病。古人認為人身中有作祟損人，使人患癆瘵的「三尸」和「三蟲」等。《諸病源候論》「卷二十三‧尸病諸候」說：「人身內自有三尸諸蟲，與人俱生，而此蟲忌惡（禁忌邪惡，犯之則為害傷人），能與鬼靈相通，常接引外邪，為人患害，其發作之狀，或沉沉默默，不得知所苦，而無處不惡；或腹痛脹急；或塊踴起；或攣引腰脊；或精神雜錯。」並指出三尸為：飛尸、遁尸，沉尸，另有風尸、尸注（與三尸合稱五尸）及伏尸等。道家認為，三尸是隱藏在人體的作祟之神，每逢庚申日，向天神訴說人的過惡，損人身心。三尸者，上尸青姑，伐人眼；中尸白姑，伐人五臟；下尸血姑，伐人胃命。氣功練到一定程度，可驅三尸，使人長壽。</p>
<p>三蟲，就是長蟲（蛔蟲）、赤蟲（薑片蟲）和蟯蟲。是人體寄生蟲。又與伏蟲、白蟲、肉蟲、肺蟲、胃蟲、弱蟲，合稱九蟲。</p>
<p>本篇針對「癆瘵病」的特點，提出了二種導引法。一是以雙手抱頭，長吸氣，緩吐氣，再坐下緩展兩腳，用手抱膝，向兩膝間低頭，並抱頭十三通。一是叩齒和吞咽氣。叩齒，又稱「琢齒」，本書「十九、口齒門」有：「一法：東向坐，不息四通，上下琢齒三十六。治齒痛。」並認為叩齒「常數行之，使齒不痛，發牢不白，頭腦不痛。」</p>
<p>叩齒的方法可先叩臼齒三十六次，次叩門牙三十六次，再錯牙叩犬齒各三十六次，最後用舌舔牙周三、五遍。每天清晨刷牙嗽口後進行最好。也可以隨時行之。</p>
<h2>九、脅痛門</h2>
<p>〔原文〕一法：卒左脅痛，念：肝為青龍，左目中魂神，將五營兵，千乘萬騎，從甲寅直符吏，入左脅下取病去。</p>
<p>〔解說〕本段大意是突然左脅痛，可念：「肝為青龍……」，用意念導氣至左脅下，則病除。文中「青龍」、，『魂神」、「將五營兵，千乘萬騎，從甲寅直符吏」，均為道家隱語。下段「白虎」、「魂神」、「甲申直符吏」等同。不詳解釋。</p>
<p>〔原文〕二法：右脅痛，念：肺為白虎，右目中魂神，將五營兵，千乘萬騎，從甲申直符吏，入右脅下取病去。脅側臥，伸臂直腳，以鼻納氣，以口出之。</p>
<p>除脅皮膚痛，七息止。</p>
<p>〔解說〕右脅痛，可念：「肺為白虎……」用意念導氣入右脅下，則病除。此外，采用側身臥位，仲展手臂，伸直腳，用鼻吸氣，從口出氣，行七息而止。這樣還可消除脅部皮膚痛。</p>
<p>〔原文〕三法：端坐伸腰，右顧視月，口納氣，咽之三十。除左脅痛。開目。</p>
<p>〔解說〕正坐伸腰，眼向右顧視月亮，用口吸氣，咽氣三十次。可消除左脅痛。要開目行功。</p>
<p>〔原文〕四法：舉手交項上相握，自極。治脅下痛。坐地交兩手著不周遍握，急挽。久行，實身如金剛。令息調長，如風云，如雷。</p>
<p>〔解說〕舉兩手交叉向上放在頸後，相互用力握緊。可治脅下痛。坐地交叉兩手手指，不要完全握固，急相拉。久行此法，可使身體結實得如同金剛。同時還須調息，調息的要領是呼吸要勻而長，存想如風吹云般輕飄，如雷發作般地隆嗚巨聲和亮光隨呼入吸進了腹中。</p>
<p><u>小結：</u></p>
<p>本篇介紹了道家默念咒語的導引方法，雖然咒語帶有迷信色彩，但從導引方法來看這是有一定科學性的。有針對性的默念幾個字或一段話，可以誘導思想專一，融化雜念，減少睡意，專注病位，使人易於入靜和放松。但從臨床實踐來看，默念的字句不宜太長，太長因用意太過和不易與呼吸配合，可致頭脹頭痛，胸悶煩燥，呼吸促迫或滯塞。本篇是先念咒語而後調息，這種方法一般不會影響呼吸。本節對呼吸方法提出了「令息調長，如云，如雷」的要求，這是非常正確的。練氣功的基本呼吸要求就是要使呼吸「調柔入細，引病短令長」，柔細就是要柔和輕細，使氣的出入如春蠶吐絲，綿綿不斷，如行云流水，來去自然。《諸病源候論》「卷二‧風諸候」引《無生經》曰：「治百病，邪鬼、蠱毒。當正偃臥，用目閉氣，內視丹田，以鼻徐徐內氣，令腹極滿，徐徐以口吐之，勿令有聲。令入多出少，以微為之……又當存作大雷電，隆晃走入腹中。為之不止，病自除矣。」這裡「當存作大雷電」，就是以意想象有大雷電，其聲光進入了腹中，隆晃即隆隆晃晃，隆隆是形容雷電的巨聲，晃晃是形容雷電的亮光。「如雷」也就是存想有隆隆晃晃的雷電進入了腹中。</p>
<h2>十、腰痛門</h2>
<p>〔原文〕一法：一手向上極勢，手掌四方轉回，一手向下努之。合手掌努指，側身欹形，轉身向似看手掌向上，心氣向下散適，知氣下緣上始極勢。左右上下四七亦然。去膊井肋腰脊疼悶。</p>
<p>〔解說〕一手向上盡量伸展，手掌向四方回轉，另一手下垂，掌心向下用力按。然後將兩手掌相合頭上，指與指用力互推，側身斜傾，轉身抬頭似看向上的手掌，並使心氣向下疏散放松，感到向下的氣又向上循行即達最大限度。左右上下作二十八次都要這樣。</p>
<p>可祛除肩部、脅肋、腰脊的疼悶。</p>
<p>〔原文〕二法：平跪，長伸兩手拓席向前，待腰脊須轉，遍身骨解氣散，長引腰極勢。然始卻跪，便急如似脊內冷氣出許，令臂膊痛，痛欲似悶痛，還坐，來去二七。</p>
<p>去五臟不和，背痛悶。</p>
<p>〔解說〕兩膝跪地，伸展兩手向前按在地上，等到腰脊內氣轉動，全身骨松氣散時，盡力伸腰。然後將身體反回來後仰而跪，便會立刻感覺到好象脊背裡有冷氣出來，使肩臂疼痛，疼痛要達到悶痛，才坐下，來回做十四次。可祛除五臟不和，背痛悶。</p>
<p>〔原文〕三法：凡人常覺脊強，不問時節，縮咽膊內，似回轉向仰面努膊井向上也，頭左右兩向　之，左右三七，一住。待血氣行動定，然始更用，初緩後急。若無病患，常欲得旦起、午時、日沒三辰，如用，辰別三七。除寒熱脊腰頸項痛。</p>
<p>〔解說〕見「二、風痹門」第十法。</p>
<p><u>小結：</u></p>
<p>腰痛是指一側或兩側腰部疼痛。中醫認為「腰為腎之府」，腰痛常為腎虧的一種表現，但外感風濕寒熱邪氣也可以引起腰痛。本篇主張腰痛應以動功為主。一法采用舉手轉身，使心氣向下放松的動作，反復活動兩肩、脅及腰；二法采用跪地用手著地撐起腰脊轉動、伸展，後仰腰肢的動作，盡量使腰脊大幅度運動，使其感到疼痛，或者達到悶痛，才坐下收功。這種以動疏通氣血，舒展腰部的方法對後世影響很大。《易筋經》中的「摘星換斗勢」，口訣：「只手擎天掌復頭，更從掌內注雙眸，鼻端吸氣頻調息，用力收回左右眸。」作法：單手高舉，掌須下復，目注兩掌，吸氣不呼，鼻息調勻，用力收回，左右同之。《八段錦》中的「仰托一度理三焦」等都可以說是法一的演變。</p>
<h2>十一、香港腳門</h2>
<p>〔原文〕一法：坐，兩足長舒，自縱身納氣向下，使心內柔和適散。然後屈一足安膝下努長，舒一足，仰足指向上，使急。仰眠，頭不至席，兩手急努向前，頭向上努挽，一時各各取勢，來去二七。遞互亦然。去腳疼，腰膊冷，血冷風痹，日日漸損。</p>
<p>〔解說〕采取正坐勢，兩腳伸直，全身放松吸氣，引氣向下，使心中感到柔適松散，然後屈收一足放在膝下把腳舒展開，另一足伸直，使腳趾上屈，並盡量用力。接著向後仰睡，在頭還未著席時，兩手立即用力前伸，頭向上向前伸，就象被拉起來一樣，這些動作要同時進行，上下來回做十四次，換腳，同樣做十四次。治腳疼、腰背冷、血寒風痹，逐漸虧損之病。</p>
<p>〔原文〕二法：覆臥，傍視，內踵，伸腰，以鼻納氣，自極七息。除腳中弦痛轉筋，腳酸疼，腳痹弱。</p>
<p>〔解說〕俯臥，兩眼向旁看，腳跟向內，伸腰，用鼻子吸氣，盡力行氣七息。可消除腳中弦痛，轉筋，腳酸疼，腳痹弱。</p>
<p>〔原文〕三法：舒兩足坐，散氣向涌泉，可三通。氣徹到，始收右足屈卷，將兩手急捉腳涌泉挽，足踏手挽，一時取勢。手足用力，送氣向下急三七，不失氣。數行，去腎內冷氣，膝冷腳疼也。</p>
<p>〔解說〕伸展兩足坐下，以意引氣，使內氣行散到足底涌泉穴，如次三通。氣完全達涌泉後，始收屈右腳，用雙手立即握拉腳底涌泉穴，足向前踏手向後拉，同時進行，手足都用力，並向下以意送氣二十一次，不要使其失氣。常行，可治腎內冷氣，膝冷腳疼。</p>
<p>〔原文〕四法：一足屈之，足指仰使急；一足安膝頭心，散心，兩足跟出氣向下。</p>
<p>一手拓膝頭向下急捺，一手向後拓席，一時極勢，左右亦然二七。去膝髀疼急。</p>
<p>〔解說〕屈一腳，腳趾盡力向上翹；另一腳放在屈腳腿的膝頭中間，放松身心，行氣使氣至足，從兩足跟向下出氣。然後，一手推膝頭向下落於地，另一手向後按地，努力同時行動，左右交換做同樣的動作各十四次，可祛除膝髀疼急。</p>
<p>〔原文〕五法：一足踏地，一足向後將足解谿安　上，急努兩手偏相向後，側身如轉，極勢二七。左右亦然。去足疼痛痹急，腰痛也。</p>
<p>〔解說〕一腳踏地，一腳向後把腳解谿穴（在足腕中）處放在踏地腳跟處，兩手用力一側向後伸，側身轉動努力做十四次。左右同樣動作。可祛除足疼痛痹急，腰痛。</p>
<p><u>小結：</u></p>
<p>中醫所說的香港腳病是指以腿足軟弱，行動不便為主症的疾病。古代因其主症是足緩縱不隨，又名「緩風」或「腳弱」。一般可區分為兩個類型，即以足腫者名濕香港腳，不腫者名干香港腳。干、濕香港腳如出現氣促胸悶，心悸煩渴等證，則稱為香港腳衝心，為香港腳病之危候。</p>
<p>本篇對香港腳的導引主張動、靜功結合。在運功方面以活動腳、腿及腰為主。在靜功方面強調呼氣時要「自縱身納氣向下，使心內柔和適散」；「散氣向涌泉」，「送氣向下三七，不失氣」；「散心，兩足跟出氣向下」。這裡的「縱身」「散心」和「使心內柔和適散」就是要求練功行氣時要「松靜自然，心寧體散」，避免緊張，克服雜念，使自己有意識地處於一種非常舒適輕松和寧靜的狀態。怎樣才能松靜舒散呢？文中提出一是要「縱身」</p>
<p>，首先要放縱身體、四肢、肌肉、呼吸，使其如散如縱，無有緊張；二是要「散心」，使身心同時松散，無有掛牽，不為雜念聲色干涉，集中心思呼吸行氣，「使心內柔和適散」，這樣才能進入最佳狀態。使內氣充實，營運體內，然後以意引氣「散氣向涌泉」，「兩足跟出氣向下」就可達到「以氣攻病」，治療香港腳的目的。「縱身」、「散心」的功法，就是後世的松靜功，松即使肌體放松，靜即使跟出氣心緒寧靜。松靜兩者，相互促進，松散之後，才容易入靜，入靜之後，便能放松。所以「松靜自然，心寧體散」是練功的基本要求，也是練好功的要領。</p>
<h2>十二、積聚門</h2>
<p>〔原文〕一法：以左足踐右足上，除心下積聚。</p>
<p>〔解說〕把左腳踏在右腳背上，可治心下（指胃）的積聚。</p>
<p>〔原文〕二法：端坐伸腰，向日仰頭，徐以口納氣，因而咽之，三十過而止，開目。除心下積聚。</p>
<p>〔解說〕正坐伸腰，仰首望太陽，慢慢用口吸氣，咽下，三十次止，開目行功可除心下積聚。</p>
<p>〔原文〕三法：左脅側臥，伸臂直腳，以口納氣，鼻吐之，周而復始。除積聚，心下不快。</p>
<p>〔解說〕向左脅側臥，臂和腿都伸直，用口吸氣，鼻出氣，反復做。可消除積聚和心下不適。</p>
<p>〔原文〕四法：以左手按右脅，舉右手極形。除積及老血。</p>
<p>〔解說〕以左手按右脅，盡力將右手舉高。可治療積聚和陳舊血積。</p>
<p>〔原文〕五法：閉口微息，正坐向王氣，張鼻取氣，逼置臍下，小口微出十二通氣。以除結聚。低頭不息十二通。以消飲食，令身輕強，行之冬月，令人不寒。</p>
<p>〔解說〕閉口微微呼吸，正坐，面對東方，張鼻吸氣，逼氣下行停於臍下，然後用小口慢慢出氣十二通。可以去掉結聚，再低頭不息十二通，可以消化飲食，使身體輕快強健。冬天這樣做，可使人不怕冷。</p>
<p>〔原文〕六法：端坐伸腰，直上展兩臂，仰兩手掌，以鼻納氣閉之，自極七息，名曰蜀王喬。除脅下積聚。</p>
<p>〔解說〕正坐伸腰，向上直伸兩臂，仰兩手掌，用鼻吸氣後閉氣，到極限時呼出，如此七息。名為蜀王喬。可消除脅下的積聚。</p>
<p>〔原文〕七法：向晨去枕，正偃臥，伸臂脛，瞑目，閉口，不息，極張腹兩足，再息。</p>
<p>頃間吸腹仰兩足，倍拳。欲自微息定，復為，春三、夏五、秋七、冬九，蕩滌五臟，津潤六腑，所病皆愈。復有病積聚者，張吸其腹，熱乃止。　瘕散破即愈矣。</p>
<p>〔解說〕凌晨去掉枕頭，正身仰臥，伸展臂腿，靜心合眼，閉口，不再呼吸，使氣達腹中，此時盡量使腹鼓起，並分開兩足。再息時要內收腹部，仰起兩腳，向後仰屈。</p>
<p>若欲再行要等到呼吸平穩後才可以重作。春天做三遍，夏天做五遍，秋天七遍，冬天九遍。</p>
<p>此法可洗滌五臟，滋潤六腑，臟腑的病都可以治好。若還有積聚病者，可以反復鼓起和內收腹部，到有熱感時為止。這樣做可以使　瘕消散，病疾痊愈。</p>
<p><u>　小結：</u></p>
<p>積聚是指腹內結塊，或脹或痛的一種病證。一般認為積是有形的結塊，固定不移，痛有定處，病屬血分，在臟；聚是無形氣，聚散無常，痛無定處，病屬氣分，在腑。本病的發生，多因七情郁結，飲食內傷等，致令肝脾受損，臟腑失和，氣機阻滯，瘀血內停，日久漸結而成。治療應以理氣活血，散積消聚為主。</p>
<p>本篇針對積聚的成因，提出了幾種特殊的納氣導引法：1、吸日精法古代氣功家認為納氣的目的是：「吸天地之元氣，采日月之精華」以充養身心，祛病延年。因而提出了「吸日精」、「嗡月精」、「吞日」、「吞月」、「吞雲霧」等納氣法。本篇第二法：「端坐伸腰，向日仰頭，徐以口納氣，因而咽之。」和第五法：「閉口微息，正坐向王氣，張鼻取氣，逼置臍下，小口微出。」的方法就是吸日精法。太陽是溫暖人間，養育萬物的天體，古人認為面向陽光納氣，可助人陽氣，溫補五臟，吸取日精，以壯身。吸日精的方法是仰面向日，面東而坐，以意念想象將陽光中紅紫光芒，吸入口中吞咽入體內，使到達患有疾病的臟腑，若其臟內感覺到內氣已至，再以氣攻疾病的患處，患處產生了溫暖感覺，有汗出時就會療效更好。咽氣九次者，是為陽數，有助陽功效。逼置臍下，就是使氣沉丹田。吸日精法。又稱「存日攻病法」。「吞日」和「吸日精」稍有不同，「吞日」是以意念想象將太陽吞入體內，存入臟腑，如「火球」入身，補陽壯精。</p>
<p>2、蜀王喬法「十四、補益門」王子喬八神導引法有：「端坐伸腰，直上展兩臂，仰兩手掌，以鼻納氣閉之，自極七息，名曰蜀王台。除脅下積聚。」可見「蜀王喬」是一功法，至於為何名曰「蜀王喬」或蜀王台，尚待考察。該功法的特點是將兩臂向上伸直，仰兩手掌，用鼻吸氣，閉氣於內，到極限時再緩慢吐出，如此七息而止。主治脅下積聚。</p>
<p>3、腹吸法本篇第七法介紹了「腹吸法」，即腹式呼吸法的具體練功方法。體位以正仰臥，去枕，伸展手及腿，閉目寧神，閉口為宜。呼吸方法采用「不息法」，呼吸的要領是，使氣達腹中，先盡量使腹鼓起，再吸（或呼）時使腹盡量內收，如此，反復鼓起和內收腹部，使腹中有熱感時為止。這是練氣功的最基本方法。</p>
<h2>十三、脾胃門</h2>
<p>〔原文〕脾胃不和不能飲食，欹身，兩手一向偏側，急努身舒頭共手，竟扒相牽，漸漸一時盡勢。氣共力皆和，來去左右亦然，各三七。項前後兩角緩舒手，如是似向外扒，放縱身心，搖三七，遞互亦然。去太倉不和，臂腰虛悶也。</p>
<p>〔解說〕治療脾胃不和不能飲食，可采用斜身，兩手偏向一側，急挺身，舒展放松頭部和兩手，兩手相抓互相牽拉，並慢慢牽拉一會兒，盡量保持姿勢不變。作時氣力要緩和自然，然後斜身向另一方，左右來去同樣姿式各做二十一次。再由脖子前後兩側慢慢伸出手，好象向外扒，放松身心，搖動二十一次。交替這樣做。可去太倉不和，臂腰虛悶不適等病。</p>
<p>太倉：指胃。《靈樞》脹論有：「胃者，太倉也。」</p>
<p><u>小結：</u></p>
<p>本篇以轉動腰肢，伸展手臂，放松身心的功法，治療脾胃病。要點是用氣和力時，都要柔和自然，舒展放松。方法頗為對症。</p>
<h2>十四、補益門</h2>
<h3>（一）導引行氣法</h3>
<p>〔原文〕常以子後、午前，解發東向，握固不息一通，舉手左右導引，手掩兩耳，令發黑不白。</p>
<p>臥引為三，以手指掐項邊脈三通，令人目明。</p>
<p>東向坐，不息五通，以兩手中指點口中唾之二七，相摩，拭目。令人目明。</p>
<p>東向坐，不息三通，以手捻鼻兩孔，治鼻宿息肉愈。</p>
<p>東向坐，不息四通，啄齒無通數，治齒痛。</p>
<p>伏，前側臥，不息六通，愈耳聾目眩。</p>
<p>還臥，不息七通，愈胸中痛咳。</p>
<p>抱兩膝自企於地，不息八通，愈胸以上至頭頸耳目咽鼻邪熱。</p>
<p>去枕，握固不息，自企於地，不息九通，東首，令人氣上下通。微鼻內氣，愈贏，不能從陰陽。法，大陰勿行之。</p>
<p>〔解說〕經常於子時後，午時前，解開頭發，面向東方，兩手握固，不息行氣一通，舉手左右，捂住兩耳導引，可使頭發烏黑而不白。</p>
<p>臥位引氣三息，然後以手抓項旁筋脈再行氣三通，可使人眼睛明亮。</p>
<p>面向東而坐，不息五通，以兩手中指點蘸口中唾液十四次，然後相互摩擦兩手指，閉目，用摩擦過的兩手指輕揉拭兩眶眼，可使人眼睛明亮。</p>
<p>面向東而坐，不息三通，用兩手捻兩側鼻孔，可治鼻中息肉。</p>
<p>面向東而坐，不息四通，上下齒相叩，不必計數，治牙痛。</p>
<p>俯臥或前側臥位，不息六通，可治耳聾目眩。</p>
<p>蜷臥，不息七通，治胸中痛、咳嗽。</p>
<p>抱兩膝就地自然臥倒，不息八通。能治療胸膈以上至頭頸、耳、目、咽、鼻的熱邪。</p>
<p>不用枕頭，握固引氣，就地自然而臥，不息九通，再面向東方，可使人體內氣機上下通利。</p>
<p>用鼻微微吸氣，使氣細而勻長，可以治療瘦弱，不能行房。此功法，陰雨天勿行之。</p>
<p><u>小結：</u></p>
<p>本篇選輯了一些具有補益作用的導引法。頭項部功法有：掩耳、掐項、拭目、捻鼻、啄齒五法，這些功夫後世加以修改補充後有廣泛應用。如掩耳法，發展成了掩耳彈枕的嗚天鼓法。用兩手掩耳，以食指壓中指，兩指用力彈後腦枕部，耳內聽到咚咚響聲，可防治暈耳嗚。掐項法，發展成了擦風池提大筋法。用雙手搓擦風池穴，並提拿兩枕部大筋，可改善項強緊張，預防近視、感冒，舒松項脊。拭目法，發展成了揉眼法。揉眼眶、眼角、睛明、瞳子　等，可改善視力，防治近視。捻鼻法，發展成了擦鼻法。兩中指、食指或拇指背搓擦鼻法。兩中指、食指或拇指背搓擦鼻孔兩側迎香穴及鼻旁素　穴，能防治感冒，治鼻塞頭暈。加上叩齒法，就是一套完整的頭項保健操，這些又被命名為《坐式八段錦》，頭面保康功等，流傳甚廣。</p>
<h3>（二）蝦蟆行氣法</h3>
<p>〔原文〕蝦蟆行氣法，正坐，自動搖兩臂，不息十二通，愈勞大佳。</p>
<p>左右側臥，不息十二通，治痰飲不消。右有飲病，右側臥；左有飲病，左側臥。有不消，氣排之。</p>
<p>日初出、日中、日入，此三時向日正立不息九通，仰頭吸日精光，九咽之，益精百倍。</p>
<p>〔解說〕蝦蟆行氣法，正位，搖動兩臂，不息十二通，此法治療虛勞效果非常好。</p>
<p>側臥位，或左或右，不息十二通，治痰飲不化。右邊有飲病，右側臥；左邊飲病，左側臥。如有痰飲不消，可引氣排除之。</p>
<p>選擇日出、日中（正午）、日落這三個時辰，面朝太陽正立，不息九通，抬頭仰首吸氣，取太陽精華之光，吞咽九陽之數，可使人精神百倍。</p>
<p><u>小結：</u></p>
<p>本篇第二條在「七、痰飲門」，第三條在「十二、積聚門」中已有討論。這裡重點探討蝦蟆行氣法。</p>
<p>《諸病源候論》「卷一‧風身體手足不隨候」有：「極力左右振兩臀，不息九通。愈臀痛勞倦，風氣不隨。振兩臀者，更互　（蹋和踢的意思），猶言蹶（同　。顛仆；踏）。九通中間，偃伏皆為之，名蝦蟆行氣。」可見蝦蟆行氣法是古人模仿蝦蟆游走的動作而行的導引術。方法是：俯伏床上，兩手平撐，支持上身，然後用力左右振動兩臀部，不息九通。振兩臀就是交替踢蹬兩腿，猶如牲畜尥蹶子，蝦蟆蹈水那樣，左踢動九次，右踢動九次。踢動時要配合呼吸，使動靜結合。</p>
<p>本節曰：「蝦蟆行氣法，正坐，自動搖兩臂，」方法是端正而坐，如蝦蟆游水樣搖動兩手臂。可與前段結合，作為二節動作，先搖臂行氣，後搖臀踢腳行氣，使成一完整蝦蟆功。</p>
<h3>（三）入火法</h3>
<p>〔原文〕入火，垂兩臂不息，即不傷火法。</p>
<p>向南方蹲踞，以兩手從屈膝中入掌足五指，令內曲。利腰尻（考。脊骨末端，　尾部）完，治淋，遺溺愈。</p>
<p>箕（基。同　）踞。交兩腳手內並腳中，又叉兩手極引之。愈寤寐，精氣不泄。</p>
<p>兩手交叉頤（夷。面頰、腮）下，自極。利肺氣，治暴氣咳。</p>
<p>舉兩腳，夾兩頰邊，兩手據地服（《病源》作蹲坐）療宿壅（癰）。</p>
<p>舉右手，展左手，坐，右腳上掩左腳，愈尻完痛。</p>
<p>舉手交頸上相握，自極。治脅下痛。</p>
<p>舒左手，右手在下握左手拇指，自極；舒右手，左手在下握右手拇指，自極。</p>
<p>皆治骨節酸疼。</p>
<p>掩兩腳，兩手指著足五指上，愈腰折不能低仰，若血久瘀為之，即愈。</p>
<p>豎足五指。愈腰脊痛，不能反顧視者。</p>
<p>以右手從頭上來下，又挽下手。愈頸不能反顧視。</p>
<p>坐地。掩左手，以右手指肩挽之。愈傾側膝腰及小便不通。</p>
<p>東向坐，向日。左手揖目，舉身望北斗，心服月氣，始得眾惡不入，理頭仰苦難牽。</p>
<p>右手反折，各左右自極張弓。兼補五臟不足，氣則至。</p>
<p>抱兩膝著胸自極。此常令丹田氣還，補腦。</p>
<p>坐地。直兩腳，以手捻腳脛，以頭至地。調脊諸椎，利發根，令長美。</p>
<p>坐地。交叉兩腳，以兩手從曲腳中入，低頭叉項上，治久寒不能自溫，耳不聞勿正倍聲。</p>
<p>不息行氣，從頭至足心，愈疽痂，大風，偏枯諸痹。</p>
<p>極力左右振兩臂，不息九通。愈臂痛、勞倦，風氣不遂。</p>
<p>〔解說〕入火法，練功時要下垂兩臂，不息行氣，此即所謂不被火傷的功法。</p>
<p>采用面向南方（南方在五行屬火）下蹲的蹲踞姿勢，兩手從屈膝的兩膝之中伸入，握住兩足掌五趾，讓雙腿向內彎曲。能通利腰、　尾部，使之強健，治療淋病、遺尿。</p>
<p>采用屈膝張足而坐的箕踞姿勢，用兩手攀足心，雙足相並，再交叉兩手，右手經左足背握住右腳背，左手經右足背握住左腳背，用力拉腳。可以治療嗜眠和精神不振。</p>
<p>原文「寤寐」，參照《諸病源候論》卷三十一，從「久寐」解，「精氣不泄」從「精氣不明」解。</p>
<p>兩手交錯托在腮下，用力上引。可以疏通肺氣，治療突然發作的氣逆咳嗽。</p>
<p>高舉兩腳膝，夾在面頰兩旁，兩手按地蹲坐。（參照《諸病源候論》卷二十，「兩腳」從「兩膝」解，「據地服」從「蹲坐」解）。此功法可治療宿癰病，就是積水積氣，日久成飲水不消的癖積病，因癖生癰。</p>
<p>舉右手向上，展左手下垂，坐在地上，右腳上抬，掩壓在左腳上，治尾骨部疼痛。</p>
<p>舉兩手交叉放在頸後，盡量用力相握。能治療脅肋下疼痛。</p>
<p>伸展左手，右手在下握住左手拇指，盡量用力；伸展右手，左手在下握住右手拇指，也盡量用力牽引。都能治療骨節酸疼的疾患。</p>
<p>伸展兩腳，兩手指伸向腳五趾上。（「掩兩腳」參照《諸病源候論》改為「伸兩腳」）</p>
<p>。這種功法可治療腰部疼痛似折，不能彎腰前後仰。如果是瘀血久停造成的，施用這種功法很快就能痊愈。</p>
<p>豎立足五趾，仍采用伸展兩腳的坐式，還能治療腰脊疼痛，不能反轉回視的疾患。</p>
<p>用右手從頭上向下牽引左手。能治療項部不能反轉回視的疾患。</p>
<p>坐在地上，伸展左手，用右手指牽引左肩。可以治療身體偏側，膝部、腰部不通利，小便不通。</p>
<p>面向東坐，向著太陽。左手遮目旁，抬頭望北斗，心中存想月亮的光華。可以強壯身體，使得諸邪氣不能侵入，並能治療頭痛難以抬舉轉動。</p>
<p>右手反轉彎曲，左手與右手用力交替進行，姿勢如開弓狀。此功法兼能補養五臟氣虛虧損，使正氣恢復。</p>
<p>坐在地上，以兩手抱兩膝盡量用力貼胸。這種功法經常進行，能使丹田的元氣回還，有補腦的功效。</p>
<p>坐在地上，伸直兩腳，用兩手捏住腳腕，將頭下彎到地。這種功法可調理各節脊椎，通利頭發根部，使頭發長而美。</p>
<p>坐在地上，交叉兩腳，將兩手從腳彎中伸入，低頭把手交叉放在項上。能治療久寒不能自己轉溫，耳朵聽不見比正常聲音加倍響的聲音。</p>
<p>行不息行氣的功法，用意念把「內氣」從頭引達足心為止。可治愈疽、　疝氣、大風、半身不遂和多種風痹證。</p>
<p>極力振動左右兩臂，閉氣不息，連續作九遍。可治療臂痛、過勞疲倦、風氣不遂等症。</p>
<p><u>小結：</u></p>
<p>《云笈七簽》「卷三十四‧雜修攝篇」說：「日初出、日中、日入時，向日正立，不息九通，仰頭吸日精光，九咽之，益精百倍。若入火，垂兩臂不息，即不傷。」《規中指南》說：「神是火，　是藥。」《金仙正論》說：「火者神也。曰汞、曰日、曰鳥、曰龍，皆我之真意也。」可見古人所說練功中的「火」就是用意，用意來掌握呼吸，就是火候。如果只知道發功猛練，用意大過，一味追求發動內氣，就必然會影響體內的「陰陽平衡，水火既濟」，引起所謂「走火」症。輕則氣衝胸腹，胸悶腹脹；重則火沖頭目，致頭痛目痛，脹重如箍；有的甚至周身氣竄，外動不已，癲狂躁越，「入魔」成疾。糾正的方法就是息火、退火、散火，使火降水升，「陰平陽秘」。「入火法」承接於吸日精光之後，可以認為就是為了防止入火後火候太過，使火盛陽亢，火水不濟，故以垂兩臂不息，以息過盛之火，所以又叫做「不傷火」法。所謂不傷火就是不要被火所傷，引起陽亢而走火。至於吸日精的具體練習法見「十二、積聚門」。</p>
<p>本篇以「入火，垂兩臂不息。即不傷火法」為綱，意在強調練氣入火後，即應注意息火、退火，勿使太過而傷火。垂兩臂者，意在引氣向下，降火平陽，和下面的「入水，舉兩手臂不息」正相反，後者舉兩手臂是為了引火向上，其義詳見入水法解說。</p>
<p>本篇後面各段功法，各自成段，與「入火法」似無特殊聯系。</p>
<h3>（四）龜鱉行氣法</h3>
<p>〔原文〕龜鱉行氣法，以衣覆口鼻，不息九通，正臥。微微由鼻出納氣。愈鼻塞不通。</p>
<p>東向坐，仰頭不息五通。以舌撩口中沫滿二七咽，愈口乾舌苦。</p>
<p>〔解說〕龜鱉行氣法，以衣被覆蓋口鼻，不息九通，采用正臥位，呼吸要勻細深長由鼻出氣和吸氣。可治療鼻塞不通氣。</p>
<p>面向東坐，仰頭向日，不息九通，然後用舌頭舐上　，使口中產生唾液，咽下十四次，可治口乾舌燥和口苦。</p>
<p><u>小結：</u></p>
<p>本篇龜鱉行氣法和雁行氣法、龍行氣法、蝦蟆行氣法等，都是古人仿生而創立的導引吐納法。龜鱉是長壽動物，古人常以「鶴壽龜齡」祝福人們長壽。應用於氣功則有「龜納鼻息，鹿運尾　，以通任、督」等，龜鱉的呼吸極細極微，納出無聲，綿續如縷，似動非動，承先啟後，因此能步步永繼，長壽百數年。仿效龜鱉行氣，當亦能使人長壽。仿效方法有二：一是仿龜鱉形態，以衣被覆蓋口鼻，如龜鱉縮頸殼中，二是仿效龜鱉呼吸，使呼吸由鼻出入，勻細深長，直入丹田，以養生延年。以後稱此功為龜息。強調以仿效龜鱉吸呼為主，不必拘泥於以衣被覆口鼻。</p>
<p>本篇第二段講的是吸日精和咽唾液法，如能和龜鱉行氣法結合，則收效更好。將本段放在龜鱉行氣法後可能還有取龜鱉行氣，常面東朝日吸日精華，並以唾液養陰之義。</p>
<h3>（五）雁行氣法</h3>
<p>〔原文〕雁行氣法，低頭倚壁，不息十二通。以意排留飲宿食從下部出自愈。</p>
<p>〔解說〕雁行氣法，將背靠於牆壁，低頭，不息十二通。以意念引氣入胃中，以內氣排除停留的痰飲和宿食，使從肛門排出體外，則自可痊愈。</p>
<p><u>小結：</u></p>
<p>《諸病源候論》「卷二十‧痰飲病諸候」說：「　行氣者，身直頸曲，排氣下行而一通，愈宿食。」　就是鴨子，因是仿效鴨子，直身低頭曲頸，不息行氣，故名　行氣法。</p>
<p>其方法是背靠牆壁，身站直，低頭、曲頸，進行不息呼吸，以意行氣，排除胃腸痰飲、宿食。但本書及《云笈七簽》此節前均名為雁行氣法。近代有「大雁功」，亦從仿生角度命名，故仍用雁行氣法。</p>
<h3>（六）龍行氣法</h3>
<p>〔原文〕龍行氣法，低（叩）頭下視，不息十二通。愈風疥惡瘡，熱不能入。</p>
<p>咽可候病者，以向陽明以達，臥。</p>
<p>以手摩腹至足，以手持引足，低臂十二通，不息十二通。愈腳足虛痹不任行，腰脊痛。</p>
<p>以手著項相叉。治毒。不愈，腹中大氣即吐之。</p>
<p>月初出、月中、日入時，向月正立，不息八通，仰頭吸月光精入咽之。令陰氣長，婦人吸之，陰精益盛，子道通。</p>
<p>〔解說〕龍行氣法，叩頭向下視，不息十二通。可治療風疥惡瘡，使熱邪不能入人體。</p>
<p>「咽可候病者」應為「咽喉病」，「以向陽明以達，臥。」此句似有短文。存疑待考。</p>
<p>用手按摩腹部到足部，到足後以手握足拉引，然後將臂低垂，如此行十二遍，不息行氣十二通。可治腳病，虛軟痹痛不能行走，腰脊疼痛。</p>
<p>用兩手交叉握固頸項，可治毒邪。不愈時，由腹中行氣，使氣大量吐出，即愈。</p>
<p>月亮初出時、月亮正中時、月亮將落時，面向月端正站立，不息八通，仰頭以意念想象將月光精華之氣吸入口內，咽入體內，可使陰氣補長。</p>
<p>婦人吸之，可使陰精更加旺盛充實，月經調和，生殖機能旺盛，易於懷孕。</p>
<p><u>小結：</u></p>
<p>龍行氣法，是仿效蒼龍由天空向下低頭注視式，故名龍行氣法。要點是「低頭下視，不息十二通。」</p>
<p>最後一段是「　月精法」。古代養生家認為「陰精所奉其人壽」，月為陰，月光為陰華，吸之可補人陰精，陰精增長可使人長壽。婦人屬陰，吸之可使陰氣更加旺盛，月經通調，易於懷孕。所以「吸月精法」和「吸日精法」是補人陰精陽氣的兩大功法。吸月精法練法是：仰頭兩眼注視月亮，眼不要睜大，一邊望月，一邊呼吸。眼疲勞時，可輕輕閉目，記住月亮形狀，如將消失，可睜眼再望。以意念想象將月光吸入口內，再咽入體內，久行即可出現「皎潔銀光」進入體五內腑，使遍體清涼，煩躁漸去，進入「清靜境界」，甚至見一團白色光輝，懸照當前，蕩漾體中。</p>
<h3>（七）入水法</h3>
<p>〔原文〕入水，舉兩手臂不息，不沒法。</p>
<p>1、向北方箕踞，以手掩（挽）足五指，愈伏兔痿尻筋急。</p>
<p>2、箕踞，以兩手從曲腳入據地，曲腳加其手，舉尻。其可用行氣。愈淋瀝、乳痛。</p>
<p>3、舉腳交叉項，以兩手據地，舉尻持任，息極，交腳項上。愈腹中愁滿，去三蟲，利五臟，快神氣。</p>
<p>4、蹲踞，以兩手舉足，蹲極橫。治氣衝腫痛、寒（疝）疾入上下，致腎氣。</p>
<p>5、蹲踞，以兩手舉足五指，低頭自極。則五臟氣總至，治耳不聞、目不明，久為之，則令人發白復黑。</p>
<p>6、正偃臥，卷兩手即握，不息，順腳跟，據床。治陰結，筋脈麻痿累（拘急）。</p>
<p>7、以兩手還，踞著腋下，治胸中滿，眩、手枯。</p>
<p>8、反兩手據膝上，仰頭象鱉取氣，致大黃元氣至丹田，令腰脊不知痛。</p>
<p>9、手大拇指急捻鼻孔，不息，即氣上行致泥丸腦中，令陰陽從數，至不倦。</p>
<p>10、以左手急捉發，右手還項出，所謂血脈氣各流其根，閉巨陽之氣，使陰不溢，信明皆利陰陽之道也。</p>
<p>11、正坐，以兩手交背後，名曰帶縛。愈不能大便，利腹，愈虛羸。坐地，以兩手交叉其下，愈陰滿。</p>
<p>12、以兩手捉繩轆轤倒懸，令腳反在其上，見愈頭眩風顛。以兩手牽反著背上挽繩自懸。</p>
<p>愈中不轉，精食不得下。以一手上牽繩，下手自持腳，愈尻久痔及有腫。</p>
<p>13、坐地，直舒兩腳，以兩手叉挽兩足，自極。愈腸胃不能受食，吐逆。</p>
<p>〔解說〕入水法，練功時需舉兩手臂，不息行氣，此即所謂不傷水的功法，「不沒法」</p>
<p>參照入火法，按「不傷法」解釋。</p>
<p>1、面向北方，箕踞而坐，用兩手拉兩腳的五趾，可治療大腿痿軟，腰　部筋脈拘急。</p>
<p>2、采用屈膝張腳踞坐勢，用兩手從腿彎處伸入按地，把腳放在手上，抬起臀部。還可以同時配合行氣。能治愈小便淋漓，乳痛。</p>
<p>舉腳交叉向項後，用兩手按地，舉臀使臀高抬起，達到最大限度，交兩腳於項上。能治療腹中脹滿不適，除三蟲，疏通五內，暢快神氣。</p>
<p>4、采用下蹲勢，下蹲時使兩腳盡量近似成為一條直線，即所謂的盡力橫蹲；並用兩手握住兩腳趾，盡力向上提，使腳趾離地。這種功法能治療氣衝腹腫痛，寒疝上下出入，使腎氣通暢。</p>
<p>5、采用屈膝如坐的蹲踞勢，用兩手搬起兩腳的五趾，盡力低頭，使五臟之氣都達到頭上。可治療耳聽不聰，目昏視物不明。長施這種功法，可使白發重新變黑。</p>
<p>6、正仰臥，兩手卷成握式，閉氣不息，行氣沿腿至腳跟止，兩腿足依據在床上。可治陰結，筋脈麻木，痿軟、或拘攣。將兩手松開，按在腋下，治胸中脹滿，頭眩，手枯萎不用。</p>
<p>7、反翻兩手按在膝上，仰頭仿鱉仰天引頸吸氣那樣吸氣，引氣到中丹田，使中丹田元氣到下丹田，可使腰脊疼痛消失。大黃元氣即中丹田元氣。</p>
<p>8、用手大拇指很快地捻鼻孔，閉氣不息，引氣上行達泥丸腦中，可使陰陽順從其數，收到強壯健身令人不易疲倦的效果。</p>
<p>9、用左手很快地握住頭發，右手環繞從後項出，這就是所謂的血、脈、氣各流其根，閉藏太陽經脈之氣，使陰氣不外流。此功法的確是通調陰陽的有效方法。</p>
<p>10、正坐位，用兩手交叉在背後，名為帶縛。能治療大便困難，通利腹部，並可治療虛勞羸瘕。</p>
<p>11、坐在地上，用手交叉放在臍下，能治療會陰脹滿不適。</p>
<p>12、用兩手抓住繩子，倒懸在轆轤上。轆轤是汲取井水的起重裝置。本功法可利用此裝置，使腳在上，頭在下，令身離地，用以治療頭暈風癲病。用兩手反牽繩於背上，拉繩自懸於空中。可治愈中焦脾氣不能健運，食欲不佳的病症。用一只手在上面牽拉繩，另一只手在下面拉住腳，可治愈久痔及尾　部腫痛。</p>
<p>13、坐在地上，伸直兩腳，用兩只手交叉挽拉兩腳，盡量用力，能治療腸胃不能受納飲食，嘔吐氣逆。</p>
<p><u>小結：</u></p>
<p>1、入水法探討</p>
<p>《云笈七簽》：「　月精法：　月精，凡月初時、月中時、月入時，向月正立，不息八通，仰頭　月精，八咽之，令陰氣長。婦人　之，陰精益盛，子道通。凡入水，舉兩手臂不息，沒。」《悟真篇注疏》曰：「息火謂之沐浴」，沐浴就是入水潔身。</p>
<p>這裡「凡入水」可以理解為：吸月精太過，致使陰氣偏勝，人身如水被浴，或似入於水中，肢體發冷。此時當舉兩手臂不息，以引火升陽，消散陰氣，不使陰氣淹沒陽氣，使火滅息。王冰說：「益火之源，以消陰翳」，即是此意。本篇「入水法：入水，舉兩手臂不息，不沒法」，就是說練功補陰如入水沐浴後，當舉兩手臂不息以引陽升火，使水不要淹沒火。入水和入火都是練功中的兩大注意事項和原則，故本書獨立設題以引人注意。</p>
<p>2、鱉取氣法其功法見「龜行氣法」。本段強調此功也可用「反兩手據膝，仰頭像鱉取氣，致大黃元氣至丹田」，而前法主張衣被蓋口鼻，各有所仿效之處。土位中央，其色正黃，色黃而體大，故名大黃。此處的大黃即中丹田，鱉息深長細勻，仿效納之，則應力求深長，使氣由中丹田直至下丹田。</p>
<h3>（八）寧先生導引行氣法</h3>
<p>〔原文〕寧先生導引行氣之法，以除百病，令年不老者。</p>
<p>常心念一，以還丹田。夫生人者丹，救人者還，全則延年，去則衰朽，所以導引者，令人肢體骨節中諸邪氣皆去，正氣存處。有能精誠勤習履行，動作言語之間，晝夜行之，則骨節堅強，以愈百病。若卒得中風病，宿固，痹疽不隨，耳聾不聞，頭眩顛疾，逆上氣，腰脊苦痛，皆可按圖視像，隨疾所在，行氣導引，以意排除去之。</p>
<p>行氣者，則可補於裡，導引者，則可治於四肢，自然之道，但能勤行，與天地相保。</p>
<p>〔解說〕寧先生的導引行氣法，可以消除百病，延年益壽，使人長壽而不早衰。</p>
<p>該功法的核心是：要經常使精神內守，使真元之氣歸還於丹田。這是因為「丹」（生成人的精氣）是生成長養人體的根本，而「丹」的消耗又是使人早衰夭折的源由。要想把人體從早衰中挽救出來，就要透過修練精、神、氣，使三者合一。還歸於丹田，保全「丹」氣則延年益壽，消損「丹」氣則早衰夭折。導引術，能使人肢體骨節中的各種邪氣都消除，而正氣內存。如能精心誠意地勤奮學習，身體力行，動作言語之間，白天夜晚都抽空練習，就可使骨節堅強，百病痊愈。如果卒然患了中風病，病邪宿留，引起痹阻半身不遂，耳聾不能聞聲，頭眩，癲疾，咳嗽氣逆，腰背疼痛，均可按導引圖的繪像，根據自己的疾病所在，選擇合適的功法，行氣導引，並以意念引內氣至疾病所在之處排除其疾。</p>
<p>行氣的作用是可以補裡，導引的作用是可以治療四肢疾病。如能勤於練習，遵循自然而為之的道理就能與天地相保，健康長壽。</p>
<p><u>小結：</u></p>
<p>《云笈七簽》說：「寧先生者，古之神仙。在黃帝之前，常游四海之外，昆丘之下，有蘭沙之地……臥沙百余年，蹶然而起，形容復故。」又曰：「寧先生者，黃帝時人也，為陶正，能積火自燒而隨煙上下，衣裳不灼。」可見寧先生是古代的養生家之一，被道家列為仙人而傳之。</p>
<p>本篇以簡短語言，闡述了道家導引術的基本理論和方法，這就是：「常心念一，以還丹田」。</p>
<p>常心念一：《老子》中說：「道生一，一生二，二生三，三生萬物」。這裡的一，便是指道之根，氣之始。人要長生，當修這一個根本。所以《管子‧白心》說：「內固之一，可以長久。念一就是守一，亦稱抱一、修一等。一即是人的生成精氣，即真陰元陽，又稱真氣、元氣、正氣等。念一就是精神專注，修練真元之氣，簡言之就是精神內守，與元氣相抱，以達到使精、氣、神三者合一，都得到滋養。這是古代養生家追求的最高境界，因此，本文將「常心念一」作為綱要，要求練功者，要經常心中想一，專心治一。</p>
<p>以還丹田：道家把生成人的先天之精和長養人的後天之精氣，包括空氣中的精氣和飲食中五穀之精，稱之為「丹」或「金丹」，認為丹是生成和長養人的根本。《無上玉皇心印妙經》所以說人「得丹則靈，不得則傾，丹在身中，非白非青。」《天仙正理》指出：「金丹是真陽元氣」，「仙道以精氣神三元為正藥，以練三合一喻名煉藥，是理最精微，其法最秘密。」練功修心養性的目的，就是為了滋養精氣神，使三者合一，還歸於丹田之處，以延年益壽。所謂「丹田」從根本上理解應是人體藏養生長「內丹的土地」，即真陰元陽出入長養的處所。對於「丹田」部位，古今認識不一，有臍下一寸、一寸二分、二寸、二寸五分等說，有上、中下三丹田之說，但就其本質，不必拘泥於幾寸幾分，而應以實際的出入場所為準。多數人的真元之氣出入於臍下少腹之中，意守丹田時，只要一意專注於臍下少腹即可，待練到氣還歸丹田，產生了感傳現象，如氣行、氣散感，發熱、充實感等後，便會自然而知其位。所以本文最後強調要追求「自然之道」。當練功達到精氣神三者合一，使人體內「丹」復生，歸還於「丹田」後，便可救人於不衰、不早亡，所以文中說：「生人者丹，救人者還，全則延年，去則衰朽」。</p>
<p>本篇還指出，行氣的作用主要在於補裡，導引的作用主要在於通調肢體。補裡就是調理在體內的臟腑。練功貴在精誠勤習，不拘形式，活動言談之間，白天晚間，都可抽出一定時間進行練習。初學之人，還可根據繪制的導引圖，根據病情，行氣導引。遺憾的是，本法的導引圖早已佚散，但從長沙馬王堆出土的《導引圖》來看，古人傳授導引之術，非常重視繪制動作圖，供學人模仿。</p>
<h3>（九）彭祖穀仙臥引法</h3>
<p>〔原文〕彭祖穀仙臥引法除百病延年益壽。居常，解衣被，臥。</p>
<p>伸腰、填小腹，五息止，引腎。去消渴，利陰陽。</p>
<p>又云，伸左腳，屈右膝，內壓之，五息止，引脾。去心腹寒熱，胸臆邪脹。</p>
<p>挽兩足指，五息止，引腹中。去疝瘕（假。腹中腫塊），利九竅。</p>
<p>仰兩足指，五息止，引腰脊。痹、偏枯，令人耳聲（聰）。</p>
<p>兩足內相向，五息止，引心肺。去咳逆上氣。</p>
<p>踵內相向，五息止，短股，徐五絡之氣。利腸胃，去邪氣。</p>
<p>掩左脛、屈右膝，內壓之，五息止，引肺。去風虛，令人明目。</p>
<p>張脛兩足指，號五息止。令人不轉筋。</p>
<p>兩手牽膝置心上，五息止。愈腰痛。</p>
<p>外轉兩足十通，內轉兩足十通止。復諸勞。</p>
<p>凡十節，五十息，五五二百五十息。欲導引常夜半至雞鳴，平旦為之。禁飽食沐浴。</p>
<p>〔解說〕彭祖的臥式導引法，有除百病延年益壽的作用。導引時應在清靜居室中，松衣解帶，仰臥於床進行。本導引術共有十節，每節以五息為一次，每節連做五次。每節五息十節計五十息。每節連做五次，五五共二百五十息。導引時間宜在夜半至雞鳴或平旦（天大亮的時候）。導引前禁飽食和洗發澡身。</p>
<p>第一節：仰臥伸腰，先引氣至小腹（丹田），然後行五息，連做五次，共呼吸二十五息（以後各節均如此進行）。這樣可引腎中氣行。治療消渴，調和陰陽。</p>
<p>第二節：伸出左腳彎屈起右膝，使右膝內壓左腳上，行五息，連做五次，引脾中氣行。可祛除心腹內寒熱邪氣，胸膈受邪脹滿不適。</p>
<p>第三節：上體坐起，兩臂前舉，用手拉兩腳趾，行五息，連做五次，引腹中氣行。可治疝氣、腹中腫塊，並可通利九竅（眼耳口鼻七竅加肛門、尿道）。</p>
<p>第四節：仰臥，兩腳十趾伸直後仰，行五息，連做五次，引腰中氣行。可治腰脊痹，半身不遂，並可以使兩耳聽力聰明。</p>
<p>第六節：仰臥，伸展兩腿，分開兩腳，使兩足掌朝內轉，足跟向外，腳趾相對，行五息，連做五次，引心肺氣行。可治咳逆上氣。</p>
<p>第七節：仰臥，兩腿並攏，踵向內相對，腳尖向外伸展，行五息，連做五次。引大腿股內氣行，可疏通絡脈經氣（五絡當為十五絡脈）。通利腸胃，祛除邪氣。</p>
<p>第八節：仰臥，掩（關閉、停止）左脛（左腿不動），屈曲右膝，使右膝著左腿上，行五息，連做五次。引肺中氣行。可治療體虛傷風，並可使人目明。</p>
<p>第九節：仰臥，張開兩脛和兩足趾，呼號行氣五息，連做五次。可治轉筋。</p>
<p>第十節：兩腳向外轉，引氣十遍；兩腳向內轉，引氣十遍，可治身體各種勞損疾病。</p>
<p>以上共十節，行二百五十息。</p>
<p>彭祖是古代著名養生家。據班固《漢書‧古今人表》記述，彭祖姓　名鏗，陸終氏第三子，顓頊帝玄孫，軒轅黃帝第八代裔孫。《史記‧舜本紀》說，彭祖自堯時舉用，歷夏，殷封於大彭。大彭國，即今江蘇徐州，至今徐州尚有彭祖宅、彭祖井等遺跡。彭祖精通養生導引方術，年過百歲而不衰，葛洪《神仙傳》說殷代末年，彭祖曾傳授養生方術給殷王，殷王得彭祖方術後，行之見大效，於是要殺掉彭祖，以斷絕他再傳授於人，彭祖得知即不知去向。七十年後有人在流河之西見他騎著駱駝在行游。於是道家便列彭祖為仙人，《莊子‧逍遙游》說：「上古有大椿者，以八千歲為春，八千歲為秋，而彭祖乃今以久特聞。」並指出彭祖是吐呼吸、吐故納新、熊經鳥伸，導引之術的創始人。孔子在《論語‧述而》中說：「述而不作，信而好古，竊比我於老彭。」老彭就是彭祖。後世傳為彭祖所述的養生導引方書很多，孫思邈《備急千金要方》等書中收載有許多彭祖的導引論。</p>
<p><u>小結：</u></p>
<p>本篇導引法有二種較為特殊的行氣法，現討論於下：1、引臟腑氣法「引腎」、「引脾」、「引肺」、「引心肺」、「引腹」、「引腰脊」等。都是指以意念引內氣入臟腑肢體以治病的方法。佛家的止觀法，道家的服氣法都對本法有所論然，如《童蒙止觀》中說：「安心住在病處，即能治病」；《云笈七簽》中說「長引吸而咽之，存入所患之臟腑。若非臟腑之疾，是謂肢體筋骨者，亦宜先存入所主之臟也。閉極又引，凡得九咽，覺其臟中有氣，乃存其氣攻於所苦之處。」這裡的「引吸而咽之，存入所患之臟腑……覺其臟中有氣，乃存其氣攻於所苦之處。」就是彭祖的引臟腑氣法。其練法是要「安心住在病處」，以意念想象納入的「內氣」到達患病的臟腑或肢體筋骨，待練到可感覺到「內氣」入了臟腑後，再引氣攻所患之處，即可治療該臟腑或肢體的疾病。如引腎氣可攻治消渴；引腹中氣可攻治疝氣：引腰中氣可攻治脊背痹痛，半身不遂等。</p>
<p>《備急千金要方》調氣法，引彭祖論曰：「和神導氣之道，當得密室，避戶安床暖席，枕高二寸半，正身偃臥瞑目閉氣於胸中，以鴻毛著鼻上而不動，經三百息，耳無所聞，目無所見，心無所思，如此則寒暑不能侵，蜂蠆不能毒；壽三百六十歲，此鄰於真人也。每旦夕面向午，展兩手於腳膝上，徐徐按捺肢節，口吐濁氣，鼻引清氣，良久，乃以手左托、右托、上托、下托、前托、後托，　目張口叩齒摩眼押頭拔耳挽發放腰。咳嗽發，陽振動也。雙作只作，反手為之，然掣足仰振，數八十九十而止。仰下徐徐定心，作禪觀之法：後閉目存思想見空中太和元氣，如紫云成蓋，五色分明，下入際，漸漸入項，如雨初晴，云入山透皮入肉，至骨至腦，氣漸漸下入腹中，四肢五臟皆受其潤，如水滲入地若徹，則覺腹中有聲　然，意專思專，不得外緣，斯須即覺元氣達於氣海，須臾則自達於涌泉，則覺身體振動，兩腳蜷曲，亦令床位有聲拉拉然，則名一通。」文中的禪觀之法就是引臟腑氣法。</p>
<p>2、出聲調息法第九節的「張脛兩足指，號五息止。」就是古代氣功中的另一流派出聲調息法。該法和多種氣功家所主張一呼一吸「皆不欲令己耳聞其氣出入之聲」者不同，而是主張隨呼吸出入呼號出聲，類似「聲音誘導法」。如先用鼻吸氣，呼氣時閉口，隨著呼氣用口鼻一起呼號發出「哼……　的共鳴音，隨著「哼……　」的聲音鼓腹，入力丹田，可使氣易貫丹田。許多練硬氣功的，在運氣行功時也常發出「啊」、「哈」等呼號之聲，而在武術中隨功而出的「啊」、「哈」等聲就更高亢而有力了。本來呼吸的本身就帶有一定的聲音，發聲有抒懷暢志，使氣機流通的作用。氣功家利用發出的聲音誘導氣貫丹田或使氣至肢體的某一部位，是完全合乎生理的。所以古代氣功家在練「六字訣」：　、呵、呼、噓、吹、嘻等功法時，有人也主張可以隨呼吸呼號某一字，或者六字，以療疾。一般呼號，以隨呼氣出聲為宜，呼氣時出聲比較自然，流暢，易於掌握。優秀的歌唱家發聲時可使氣貫丹田，從而使音色高亢有力，洪亮貫耳。這也可以說明出聲調息法有它的獨特之處，可用於歌唱家、話刷演員的練功。</p>
<p>《備急千金要方》調氣法，引彭祖論曰：「凡百病不離五臟，五臟各有八十一種疾，冷熱風氣計成四百四病。事須識其相類，善以知之。……冷病者，用大呼三十遍，細呼七遍。呼法，鼻中引氣入，口中吐氣出，當令聲相逐，呼字而吐之，熱病者，用大呼五十遍，細吹十遍，吹如吹物之吹，當使字氣聲似字。肺病者，用大唏三十遍，細唏十遍。腎病者，用大　五十遍，細　三十遍。此十二種調氣法。若有病依此法恭敬用心，無有不差。」彭祖這裡所說的就是發聲呼吸法。其方法是鼻中引氣入，口中吐氣出，使氣與聲相隨，而呼氣時發出。</p>
<h3>（十）王子喬八神導引法</h3>
<p>〔原文〕王子喬八神導引法，延年益壽除百病。</p>
<p>法曰：枕當高四寸，足相去各五寸，手法身各三寸，解衣被發，正偃臥。勿有所念，定意，乃以鼻徐納氣，以口出之，各致其臟所，竟而復始，欲休先極之而止。勿強長息，久習乃自長矣。氣之往來勿令耳聞，鼻無知，微而專之長，遂推之伏免、股、　，以省為貴。若存若亡，為之百遍，動腹，鳴氣有外聲，足則得溫，成功。成功之士，何疾而已！喉嚨如白銀　，一十二重系膺。下去得肺，其色白澤。前兩葉高，後兩葉卑。心系其下，上大下銳，大率赤如蓮花未開，倒懸著肺也。肝系其下，色正青，如鳧（野鴨頸毛）</p>
<p>翁頭也，六葉抱胃，前兩葉高，後四葉卑。膽系其下，如綠綈囊。脾在中央亦抱（胃），正黃如金，鑠鑠（鮮明）然也。腎如兩伏鼠，夾脊直臍肘而居，欲得其居高也，其色正黑，肥肪絡之，白黑昭然。胃如素囊，念其屈折右曲，無污穢之患。肝藏魂，肺藏魄，心藏神，脾藏意，腎藏精，此名曰神舍。神舍修則百脈調，邪病無所居矣。小腸者，長九尺，法九州也（一云：九土，小腸者，長二丈四尺）。</p>
<p>諸欲導引，虛者閉目，實者開目。以所苦行氣，不用第七息止，徐徐往來，度二百步，所卻坐小咽氣，五六不差，復如法引，以愈為效，諸有所苦，正偃臥，披發，如法徐以口納氣，填腹自極，息欲絕，徐以鼻出氣數十所，「虛者補之，實者瀉之」。閉口溫氣咽之三十所，（候）腹中轉鳴乃止。往來二百步，不愈復為之。病在喉中、胸中者，枕高七寸；病在心下者，枕高四寸；病在臍下者，去枕。以口納氣，鼻出氣者，名曰補；閉口溫氣咽之者，名曰瀉。閉氣治諸病法；欲引頭病者，仰頭；欲引腰腳病者，仰足十指；欲引胸中病者，挽足十指，引臂病者，掩臂，欲去腹中寒熱諸（所）不快，若中寒身熱，皆閉氣脹腹，欲息者徐以鼻息，已，復為，至愈乃止。</p>
<p>1、平坐，伸腰，腳，兩臂覆手，據地。口徐納氣，以鼻吐之。除胸中、肺中痛，咽氣令溫。</p>
<p>閉目也。</p>
<p>2、端坐，伸腰，以鼻納氣閉之，自前後（搖）頭各三十。除頭虛空耗，轉地，閉目搖之。</p>
<p>3、端坐，伸腰，以左脅側臥，以口納氣，以鼻吐之。除積聚心下不快。</p>
<p>4、端坐，伸腰，徐以鼻納氣，以右手持鼻，除目晦淚若出，去鼻中息肉，耳聾亦然，除傷寒頭痛　，皆當以汗出為度。　；5、正偃臥，以口徐納氣，以鼻出之。除裡急，飽食後小咽，咽氣數十，令溫。寒者，使人乾嘔腹痛，從口納氣七十所，大填腹。</p>
<p>6、右脅側臥，以鼻納氣，以口小吐氣，數十，兩手相摩熱以摩腹，令其氣下出之。</p>
<p>除脅皮膚痛，七息止。</p>
<p>7、端坐，伸腰，直上展兩臂，仰兩手掌，以鼻納氣閉之，自極七息，名曰蜀王台。</p>
<p>除脅下積聚。</p>
<p>8、覆臥，去枕，立兩足，以鼻納氣，四四所，復以鼻出之，極令微氣入鼻中，勿令鼻知，除身中熱，背痛。</p>
<p>9、端坐，伸腰，舉左手仰其掌，卻右手，除兩臂、背痛結氣也。</p>
<p>10、端坐，兩手相叉抱膝，閉氣鼓腹二七或二七氣滿即吐，即氣皆通暢，行之十年，老有少容。</p>
<p>11、端坐，伸腰，左右傾，閉目，以鼻納氣，除頭風，自極七息止。</p>
<p>12、若腹中滿，食飲苦飽。坐，伸腰，以口納氣，數十，以便為故，不便復為之。</p>
<p>有寒氣腹中不安亦行之。</p>
<p>13、端坐，使兩手如張弓滿射，可治四肢煩悶，背急，每日或時為之佳。</p>
<p>14、端坐，伸腰，舉右手仰掌，以左手承左脅，以鼻納氣，自極七息。除胃寒食不變則愈。</p>
<p>15、端坐，伸腰，舉左手仰掌，以右手承右脅，以鼻納氣，自極七息。除瘀血結氣等。</p>
<p>16、兩手卻據，仰頭目，以口納氣，因而咽之數十。除熱，身中傷，死肌。</p>
<p>17、正偃臥，端展足臂，以鼻納氣，自極七息，搖足三十而止，除胸足中寒，周身痹、厥逆。</p>
<p>18、偃臥屈膝，令兩膝頭內向相對手，翻兩足，伸腰，以口納氣，填腹，自極七息。</p>
<p>除痹疼熱痛兩腳不隨。</p>
<p>19、覺身體昏沉不通暢，即導引，兩手抱頭，宛轉上下，名為開脅。</p>
<p>20、踞，伸右腳，兩手抱左膝頭，伸腰，以鼻納氣，自極七息。除難屈伸拜起，腦中痛，瘀痹。</p>
<p>21、踞，伸左足，兩手抱右膝，伸腰，以鼻納氣，自極七息，展左足著外。除難屈伸拜起，腦中疼。一本云：除風目晦耳聾。</p>
<p>22、正偃臥，直兩足，兩手捻胞所在，令赤如油囊裹丹。除陰下濕，小便難頹，小腹重，不便，腹中熱。但口納氣，鼻出之，數十。不須小咽氣，即腹中不熱者，七息已，溫氣咽之十所。</p>
<p>23、踞，兩手抱兩膝頭，以鼻納氣，自極七息，除腰痹背痛。</p>
<p>24、覆臥，傍視兩踵，伸腰，以鼻納氣，自極七息。除腳中弦痛轉筋腳酸痛。</p>
<p>25、偃臥，展兩手，外踵，指相向，亦鼻納氣，自極七息。除兩膝寒、脛骨疼。</p>
<p>26、偃臥，展兩腳兩手，兩踵相向，亦鼻納氣，自極七息。除死肌，不仁足脛寒。</p>
<p>27、偃臥，展兩手兩腳左傍兩足踵，以鼻納氣，自極七息。除胃中食苦嘔。</p>
<p>28、踞，伸腰，以兩手引兩踵，以鼻納氣，自極七息，布兩膝頭。除痹嘔也。</p>
<p>29、偃臥，展兩手兩腳，仰足指。以鼻納氣，自極七息，除腹中弦急切痛。</p>
<p>30、偃臥，左足踵拘右足拇指。以鼻納氣，自極七息，除厥逆。疾人，腳錯踵，不拘拇指，依文用之。</p>
<p>31、偃臥，以右足踵拘左足拇指，以鼻納氣，自極七息，除周身痹。</p>
<p>32、病在左，端坐、伸腰，左視目，以口徐納氣而咽之數十所，閉目目上入。</p>
<p>33、病在心下，若積聚。端坐，伸腰，向日仰頭，徐以口納氣，因而咽之三十所而止，開目作。</p>
<p>34、病在右，端坐，伸腰。右視目，以口徐納氣而咽之數十所，開目。</p>
<p>〔解說〕王子喬八神臟（心、肝、脾、肺、腎、膽、胃、小腸稱八神臟）導引法有延年益壽，祛除百病的功效。</p>
<p>施功的方法是：采用正仰臥姿勢，枕頭高為四寸，兩足之間相距五寸，手與身相距各三寸。</p>
<p>寬解衣服，披發而臥，排除雜念，收心定意後，即用鼻慢慢吸氣，用口呼出，用意念依次引氣向各臟，到達後再重復進行，想要停止應先盡量引氣到達此臟，而後方止。但不要勉強延長呼吸，練功日久，功到自成，逐漸可使氣息深長。呼吸往來時要盡量輕微，做到不讓耳聞，甚至連鼻子都覺查不到，呼吸要細緩、柔和、均勻、深長。達到這種地步，就可引氣向大腿、小腿，以感到氣至為佳，但又不可用意過強，要使氣息和意念達到若存若亡的境界。這樣練功百遍，可達到腹中大動，並發出鳴響，連耳朵都能聽到，並且足底感到氣至溫暖。完成此功法的人即成為什么病都沒有之人了。</p>
<p>「八神臟」的形狀是怎樣的呢？大體上講，喉嚨（氣管）就象一條白銀環，由十二節復合在一起組成，連系於胸，氣管向下所系的是肺，它色白而富有光澤，前兩葉高，後兩葉低。心系在肺下，上端大而下端尖銳，宛若紅色未開的蓮花苞，倒懸於肺下。肝連系在其下，色純青，就象野鴨頭頸上的毛，由六葉組成，圍抱在胃旁，前兩葉高，後四葉低。膽維系在肝下，象綠色的絲囊。脾在正中央，也圍抱胃，顏色正黃如黃金般鮮明，腎象兩只蹲伏的鼠，居於脊柱兩側，要想知道它的位置高低，向下垂直上臂，正與肘尖相齊的位置即是。腎的顏色純黑，外面有白色肥濃的脂肪包絡著，白黑分明。胃就象一個空淨的囊袋。雖說它的形狀向右屈折，但不會使食物滯留，產生污穢之患。</p>
<p>肝能藏魂。肺藏魄，心藏神，脾藏意，腎藏精，所以五臟是神、魂、魄、意、精的住所，又叫「神舍」。五臟生理功能正常則百脈調和，邪氣疾症無法停留在體內。小腸長九尺，就象地上有九州一樣（另一種說法認為小腸是九土，長度為二丈四尺。）</p>
<p>行導引者，虛證應閉目，實證應開目，按疾病所苦的部位行氣，不要執守七息即止的方法，令氣緩緩往來，約二百余次為限度。采用坐位，細勻地咽氣，五六遍若仍無療效，再反復使用這種方法，直至病苦消失為止。病者練功時，可采用仰臥位，披發，如前面說的方法行氣，即緩慢地用口納氣，引入腹內，盡量使納氣深長，但又要讓氣息細微，達到輕微欲絕的狀態，緩慢地用鼻呼氣，約數十遍。要遵循「虛者補之，實者瀉之」的原則。閉口，暖和氣息令氣變溫咽下去，約三十遍，待到腹中有轉動鳴響時停止，這樣往來行氣，約二百余次，病不愈即反復行這個功法。病在喉中、胸中的，枕高七寸；病在心下的，枕高四寸；病在臍下的不用枕頭平臥。呼吸的方法是以鼻吸氣，口呼氣者為補；以閉口暖和氣息令氣變溫咽下去的方法為瀉。閉氣治各種病的方法是：要導引頭部的病，仰起頭；　要導引腰部腳上的病，仰起足十趾；要導引胸中的病，挽拉足十趾；要導引臂部的病，可用兩手掩按兩臀；要治療腹中寒熱多種不適的症候，如中寒身熱都可采用閉氣而鼓腹的方法，想要呼氣時，緩緩地用鼻吐氣，這樣呼氣後再重復前面的功法，直到痊愈為止。</p>
<p>1、平坐，伸腰，腳放平，兩臂伸直兩手按地、用口緩緩吸氣，鼻出氣。可治療胸中、肺中痛，咽氣要柔和讓氣溫，並閉目。</p>
<p>2、采用端正坐位，伸直腰部，用鼻納氣閉氣不息，從前從後搖頭，各三十次。可治療頭部空虛，精氣不足，頭眩欲倒。要閉目搖頭。</p>
<p>3、端正地坐著，伸直腰部，然後向左脅側臥，用口吸氣，鼻出氣。可消除積聚和心下不適。</p>
<p>4、端正坐位，伸腰，緩緩地用鼻吸氣，並用右手捻鼻，可治眼目昏暗或淚常出等症，還能消除鼻中息肉，耳聾，又治傷寒頭痛，洒洒惡寒，施用此法要以汗出為度。</p>
<p>5、正仰臥，用口緩緩吸氣，以鼻呼出。能治脘腹拘急不適，飽食後應慢慢小咽氣，約數十次，達到有溫暖感為宜。寒證使人乾嘔腹痛者，用口吸氣約七十次，以氣充實腹部，可收到治療效果。</p>
<p>6、向右脅側臥，以鼻吸氣，從口中慢慢吐出，約數十次，並用兩手相摩至掌熱，用熱掌按摩腹部，讓氣從下面排出。能消除脅部皮膚痛，呼吸七息止。</p>
<p>7、端正坐位，伸腰，向上伸直兩臂，兩手掌上仰，用鼻吸氣後閉氣不息，盡量延長到極限為止，如此行七次，這種功法叫「蜀王台」能消除脅下積聚。</p>
<p>8、伏臥勢，去掉枕頭，豎立兩足，以鼻吸氣十六余次，用鼻呼出，吸氣時要使氣盡量輕微，做到幾乎連鼻都感覺不到。可消除身中熱，背部疼痛。</p>
<p>9、正坐位，伸直腰，舉左手仰掌，垂右手掌心向下。能祛除兩臂及背痛，氣滯郁結。</p>
<p>10、端坐位，兩手交叉抱膝，閉氣不息，鼓起腹部十四次，或十四次氣滿即吐氣，可以使氣機通暢。堅持此功法十年，可使老年人貌如少年。</p>
<p>11、端坐位，伸直腰向左右傾斜身體，閉眼，用鼻吸氣，盡量深吸七次止。可祛除頭風。</p>
<p>12、如果腹中脹滿，飲食後苦於作飽，可正坐伸直腰，用口連續吸氣數十次，以感到脹飽消失為止，如腹中又脹滿，可再用此法。腹中有寒氣不適，也可以用此功法。</p>
<p>13、端坐位，將兩手做出好象拉滿弓射箭的姿勢，可治四肢煩悶不舒，背部拘急，每天或時常練此法效果更好。</p>
<p>14、正坐伸腰，舉右手仰掌向上，用左手托左脅，以鼻吸氣，盡力吸七次。可治療胃寒，飲食不消化。</p>
<p>15、正坐伸腰，舉左手仰掌向上，用右手托右脅，用鼻吸氣、盡力吸七次。可消除瘀血與結氣。</p>
<p>16、兩手向後按地，仰頭抬眼，用口吸氣，咽數十次，可除熱，治療身中傷並消除死肌。</p>
<p>17、正身仰臥，端正伸展兩腳兩臂，用鼻盡力吸氣七次，搖腳三十次而止。可消除胸寒足冷，周身痹痛，厥逆。</p>
<p>18、仰臥，屈膝讓膝頭向內靠攏相對，手與膝對，兩足翻轉，伸直腰，用口吸氣，以氣充實腹部，盡力吸氣七次。能祛除痹痛，高熱，兩腳運動不便。</p>
<p>19、如感覺身體沉重頭昏，氣血不通暢，亦可行導引法，用兩手抱頭上下展轉，名叫開脅。</p>
<p>20、踞坐，伸右腳，兩手抱左膝頭，伸直腰，用鼻吸氣，盡力吸七次。可治療下肢難以屈伸、跪拜、起立，腦中疼痛，瘀阻不通，麻木。</p>
<p>21、踞坐，伸左腳，兩手抱右膝頭，伸腰，用鼻吸氣，盡力吸七次，伸左足外展。</p>
<p>可消除下肢難以屈伸拜起，腦中疼。另一書上說：可以消除頭風，目昏，耳聾。</p>
<p>22、正仰臥，伸直兩腳，用兩手按捏膀胱所在的部位，捏到皮膚發赤，好象油袋裹赤丹一樣。可消除陰部潮濕，小便難，小腹重，大便不下，腹中熱。只要口吸氣，鼻出氣，行數十遍。不需要小咽氣，即使腹中不熱者，七息即可。口中溫氣咽下十次。</p>
<p>23、踞坐，用兩手抱膝頭，以鼻吸氣，盡力吸七次，可消除腰痹、背痛。</p>
<p>24、俯臥，兩眼傍看兩腳後跟，伸腰，用鼻吸氣，盡力吸七次。可消除腳中弦痛，轉筋，腳酸痛。</p>
<p>25、仰臥，伸展兩手，外展足根，足趾相對，也用鼻吸氣，盡力吸七次。可消除兩膝寒冷，小腿骨疼痛。</p>
<p>26、仰臥，伸直兩腳兩手，兩足跟相對，也用鼻吸氣，盡力吸七次。可治療肌肉癱瘓，麻木不仁，小腿寒冷。</p>
<p>27、仰臥，伸展兩手和兩腳，向左停放兩腳跟。用鼻吸氣，盡力吸七次。可消除胃中不適，食後苦於嘔吐。</p>
<p>28、踞坐，伸腰，用兩手牽引兩腳後跟，用鼻吸氣，盡力吸七次，再用兩手放兩膝頭上。能除痹止嘔。</p>
<p>29、仰臥，伸展兩手兩腳，仰起足趾，用鼻吸氣，盡力作七息。可消除腹中拘急劇痛。</p>
<p>30、仰臥，用左腳跟勾住右腳拇趾，用鼻吸氣，盡力吸七次。可治療厥逆。因疾病不能施此功者，可將腳跟交錯，不勾拇趾，並依照前面所說的方法吸氣。</p>
<p>31、仰臥，用右腳跟勾住左腳拇趾，用鼻吸氣，盡力吸七次。可消除周身麻木。</p>
<p>32、病在左面，端正坐伸腰，向左看，並用口緩緩吸氣而咽下約數十遍，咽氣時要閉目，目要向上內視。</p>
<p>33、患心下積聚之病，應端正坐伸腰，仰頭向日，慢慢以口吸氣，咽下約三十次而止，宜開目行功。</p>
<p>34、病在右側，正坐伸腰，向右看，並用口慢慢吸氣，緩緩咽下數十次，開目行功。</p>
<p><u>小結：</u></p>
<p>王子喬，古代氣功家。《云笈七簽》中記載：「王子喬者河東人也。漢明帝時為尚書郎，出為葉縣令，漢法畿內長吏節朔還，朝每見子喬先生至，不見有車馬跡而怪之。明帝密使星官占候，輒見雙鳧從東南飛來，乃羅得一只履，時人異之」。</p>
<p>王子喬導引法雖有三十四節，但其精華是「八神導引法」。所謂「八神」，這裡指的是：心、肝、脾、肺、腎、膽、胃、小腸。肝藏魂、肺藏魄、心藏神、脾藏意，腎藏精，為人身神之所居，故名神舍，神臟，臟者藏象之所也。膽與肝相表裡，為魂出入之路，小腸與心相表裡，為神出入之路，胃與脾相表裡為意出入之路，故王子喬將其歸結在一起，稱為八神臟。並對八神的大體形態、顏色、位置、長短、大小作了概括的描述，目的是供練功時「內觀」其象，引氣出入其所。</p>
<p>1、內觀法又稱內視、觀相、存想法。雖然這些方法有一些不同之處，但其宗旨都是以意念想象，以目內觀軀體的某一部位和臟腑。引內氣至其所，以攻疾病或疏通其結。內觀法通常觀視的有臟腑，丹田、經脈、病氣等。王子喬八神導引法則主張觀視心、肝、脾、肺、腎、胃、膽、小腸八臟腑。內視的方法是：先行吐納之功，使內氣生，然後從上至下，依喉、氣管──肺──心──肝──膽──脾──胃──腎，引氣各至其臟腑，由一臟引向另一臟，依次而行，到達八臟腑後，再重復依次進行，盡量引氣到達這些臟腑，而後方止。引氣不要急於求成，勉強延長呼吸，堅持日久，功到則自然深長，綿綿不斷，行走於各臟腑之間。這樣就能使臟腑調和，精氣旺盛，使病邪無所居處。在此基礎上還可以進一步引氣至腿腳，使足能溫，足能感覺到發熱而氣至，則為大功告成，何疾而不已。行氣和運意的要領是至細至微，若存若亡，達到忘我之境界。</p>
<p>《陰符經》中說：「機在目」，認為雙目屬陽，用雙目內視臟腑，可使臟腑氣機生發，氣血活躍。王子喬認為閉目而視為補，開目而視為瀉，故曰：「虛者閉目，實者開目。」</p>
<p>2、吸呼補瀉出氣為呼，入氣為吸。清‧薛陽桂《梅華問答》說：「人之一呼一吸關系非細，一吸則天地之氣歸我，一呼則我之氣還天地。」故《聖濟總錄》說：「入氣為陰，出氣為陽。」王子喬以「以口納氣，鼻出氣者，名曰補；閉口溫氣咽之者，名曰瀉。」主張根據「虛者補之，實者瀉之」</p>
<p>原則辨證而施功。《景岳全書》指出：「陽微者不能呼，陰微者不能吸。」這些見解反映古人認為呼吸補瀉的核心是通調陰陽。陽虛氣不足宜吸多呼少，以陰濟陽，故名曰補，其道理是入氣為陰；陰虛精不足者，宜吸少呼多，以陽育陰，其原因是呼氣為陽。對於陽盛之人，吸多可瀉陽，平陽，故名曰瀉。當然，這些也是一家之說，各家見解不同，謹供參考。</p>
<h3>（十一）五禽戲法</h3>
<p>〔原文〕《道藏經》云：「老君曰：古之仙者，為導引之事，能鳥伸，挽引膚體，動諸關節，以求難老，名曰：五禽之戲。挽引蹄足，以當導引。體中不快，起作一禽之戲，故令汗出因（而）止，以身體輕便。普施行之，年九百余歲，耳目聰明，牙齒完堅，夫為導者甚易，行者甚稀，悲哉！1、虎戲，四肢踞地，前三躑（踏步不前），後三躑。長引膚，乍前，乍卻，仰天即返；伏踞地，行前、卻各七。</p>
<p>2、熊戲，正仰，以兩手抱膝下，舉頭，左擗地七，右亦七；躑地，手左右托地各七。</p>
<p>3、鹿戲，四肢踞地，引項反顧，左三、右三，左伸右腳，右伸左腳，左右伸縮亦三。</p>
<p>4、猿戲，攀物自懸，伸縮身體，上下七，以腳拘物倒懸，左七右七；坐，左右手拘腳五按（頭）各七。</p>
<p>5、鳥戲，立起，翹一足，伸兩臂，揚扇用力，各二七；坐，伸腳，起挽足指，各七；伸縮兩臂各七。</p>
<p>夫五禽戲法，任力為之，以汗出為限。輕身消穀氣，益氣力，除百病。佗行之年過萬歲，教傳弟子，廣陵吳普，亦得延年長壽。</p>
<p>〔解說〕本節《五禽戲法》和各節《服氣吐納訣》選自明代《正統道藏‧洞神部‧太上老君養生訣》。</p>
<p>五禽戲，是古人模仿禽獸的運動而編制的導引術。《莊子》即有「熊經鳥伸」的動作，</p>
<p>《淮南子》又記載了「熊經鳥伸，浴　，鴟視虎顧」的六禽動作。後漢名醫華佗繼承了前人的一些經驗，編制了「五禽戲」。《後漢書‧華佗傳》說：「佗語普曰，『人體欲得勞動，但不當使極耳。動搖則穀氣得消，血脈流通，病不得生。譬如戶樞不朽是也。是以古之仙者，為導引之事，熊頸鴟顧，引挽腰體，動諸關節，以求難老。吾有一術，名五禽之戲：一曰虎，二曰鹿，三曰熊，四曰猿，五曰鳥，亦以除疾兼利蹄足，以當導引。體有不快，起作一禽之戲，沾濡汗出，因上著粉，身體輕便，腹中欲食。』　普施行之，年九十余。耳目聰明，齒牙完堅。」華佗因「曉養性之術，則人以為年且百歲，而貌有壯容。」五禽戲收入《道藏》後被冠以《太上老君養生訣》，有「佗行之年過萬歲，普施行之，年九百余歲」等不實之詞。但所述五禽動作，模仿動物的姿態逼真，運動量大，反映了古代五禽戲朴實求真的面目。</p>
<p>1、虎戲，模仿猛虎出行。四肢手腳盤踞於地，成四肢蹲地式，先用前肢（手）原地踏步三次，後用後肢（腳）原地踏步三次，然後將肌膚放松伸展，四肢踞地突而前進，突而後退地跳躍，前後各跳躍七次。最後抬頭仰天，形如虎視長鳴，收功。</p>
<p>2、熊戲，模仿臥熊抬頭張望姿態。仰臥，以兩手抱膝下，舉頭，頭向左側地面及胸前轉動環視七次，再向右側七次。然後翻身四肢踞地，手左右托地各七次。</p>
<p>3、鹿戲，模仿鹿的舒展昂揚姿態。四肢踞地，伸頸抬頭左右回顧各三次，回顧時向左側引頸將右腳伸直，向右引頸將左腳伸直，左右伸縮，也是各三次。</p>
<p>4、猿戲，模仿猿的攀樹登枝，敏捷靈活。用兩手攀物（如樹枝等）使身體懸空，引體向上，伸縮肢體，上下七次；然後用腳勾著樹枝等物，倒懸肢體，左右搖動各七次；然後，坐位，伸直兩腿，用左右手勾腳低頭向下以頭著腳，各七次。</p>
<p>5、鳥戲，模仿鶴立，輕翔自如的姿態。站立，一足踏地，一足屈起，成白鶴獨立式，伸展兩臂，上下用力扇動，如鳥飛翔，左右換足獨立七次。然後坐位，伸腳，用手拘足指，左右各做七次。再伸直收縮活動兩手臂，左右各做七次。</p>
<p>注意事項：練習時可以只練一戲，也可以五戲同時練。應根據身體情況，盡力而為，以微有汗出為度。</p>
<h3>（十二）服氣吐納訣</h3>
<p>〔原文〕</p>
<p>字：　主肺，肺連五臟。受風即鼻塞，有疾作　，吐納治之。</p>
<p>呵字：呵主心，心連舌五臟。心熱舌乾，有疾作呵，吐納治之。</p>
<p>呼字：呼主脾，脾連唇。論云：脾濕即唇焦，有疾作呼，吐納治之。</p>
<p>噓字：噓主肝，肝連目。論云：肝盛即目赤，有疾作噓，吐納治之。</p>
<p>吹字：吹主腎，腎連耳）論云：腎虛即耳聾，有疾作吹，吐納治之。</p>
<p>嘻字：嘻主三焦。有疾作嘻，吐納治之。</p>
<p>〔解說〕呼吸時有一種配以默讀字音的鍛練方法，叫做「服氣吐納訣」或「六字氣訣」。這六字是、呵、呼、吹、嘻。六字分別配屬於肺、心、脾、肝、腎、五臟和三焦。　字配屬於肺，肺主氣，開竅於鼻，肺氣貫注於五臟。肺受風即鼻塞不通。肺有疾病，可在呼氣時默讀「　」以治療。呵字配屬於心，心開竅於舌，統攝五臟。心經有熱即口舌乾燥。心有疾病，可在呼氣時默讀「呵」</p>
<p>字以治療。呼字配屬於脾，脾開竅唇。所以古人說：脾停濕口唇干燥。脾有疾病，可在呼氣時默讀「呼」字以治療；噓字配屬於肝，肝開竅目。所以古人說：肝氣過盛即目赤疼痛。肝有疾病，可在呼氣時默讀「噓」字以治療。吹字配屬於腎，腎開竅於耳。所以古人說：腎虛則耳聾。</p>
<p>腎有疾病，可在呼氣時默讀「吹」字以治療。嘻字配屬於三焦。三焦有疾病，可在呼氣時默讀「嘻」字以治療。</p>
<p><u>小結：</u></p>
<p>呼吸時配合默讀口訣治病的鍛煉方法，首載於梁代陶弘景《養性延命錄》：「納氣有一，吐氣有六。納氣一者謂吸也；吐氣有六者謂吹、呼、唏、呵、噓、　，皆出氣也。凡人之息，一呼一吸，元有此數。欲為長息吐氣之法：時寒可吹，時溫可呼。委曲治病：吹以去風，呼以去熱，嘻以去煩，呵以下氣，噓以散滯，　以解極。後世將六字又配屬於五臟和三焦，以及四季。如隋代智HT述《修習止觀坐禪法要》「六字配屬五臟歌訣」說：心配屬呵腎屬吹，脾呼肺　聖皆知，肝臟熱來噓字至，三焦壅處但言嘻。</p>
<p>本書「二十七、老人門」引《修真書》「六字配屬四季歌訣」說：春噓明目木扶肝，夏至呵心火自闌，秋　定知金肺潤，腎吹惟要坎中安，三焦嘻卻除煩熱，四季長呼脾化餐。</p>
<p>切記出聲聞口耳，其功尤勝寶神丹。</p>
<p>至於六字訣的具體練法和主治功能本書「二十七、老人門」有詳細論述。</p>
<h2>十五、消渴門</h2>
<p>〔原文〕一法：睡臥，勿張口，久成消渴及失血色，赤松於云：臥，閉目，不息十二通，治飲食不消。</p>
<p>〔解說〕人睡臥時，不要張口，否則日久會引起消渴病及使顏面失去血色。赤松子說：臥，閉眼，不息十二通，可治飲食不消化。</p>
<p>〔原文〕二法：解衣　（談。安靜）臥，伸腰　小腹，五息止。引腎，去消渴，利陰陽。解衣者，使無掛礙。　臥者，無外想，使氣易行。伸腰，使腎無逼蹙。　者，大努使氣滿，小腹者，即攝腹牽氣使五息，即為之。引腎者，引水來咽喉，潤上部，去消渴枯槁病。利陰陽者，饒氣力。此中數虛要與時節而為避。初食後，大飢時，此二時不得導引，傷人亦避，惡日時節不和時亦避。導已，先行一百二十步，多者千步，然後食之。法不使大冷大熱，五味調和。陳穢宿食，蟲蠍余殘，不得食。少眇著口中，數嚼少湍咽。食已，亦勿眠。此名穀，並與氣和，即真良藥也。</p>
<p>〔解說〕赤松子，古代氣功家。相傳漢高祖劉邦的謀士張良，曾跟隨赤松子學導引辟穀術於天門山。赤松子吃首烏、黃精，教張良行眼觀鼻，鼻對臍，雙肘壓期門等導引術。《云笈七簽》卷五十九有赤松子服氣經序一篇，序曰：「天道悠長，萬品不齊，人生為貴，陰陽同階，天道坦坦，修之不迷……故曰：休糧絕食為生道，陰陽還精為重寶，能常行之永壽考，何為恣欲自使老。千金送葬無億兆，悲呼哭泣自懊惱，豈若無為為服氣，好修之不釋升天。」《列仙傳》說：「赤松子者神農時雨師，服水玉以教神農，能入火自燒……」這完全把人神仙化了。據史書記載來看赤松子是漢代氣功家，曾為張良之師是確有其事的。</p>
<p>解開衣服，安靜而臥，伸腰，使氣沉小腹，五息止，引氣入腎中，可除消渴，調和陰陽。</p>
<p>解衣，是使導引時氣行不受阻礙。靜臥，是使心中沒有妄想，氣容易在體內營運。伸腰，是為了使腎臟不受壓迫。　腹者，是吸氣使氣至丹田，令小腹脹滿，此時收腹聚氣，五息方止。引腎，是引腎水到咽喉，潤澤上部，以祛除消渴枯槁病。調和陰陽，可使人氣力健旺。在導引中如出現虛弱現象，就要根據時節而進行避忌。剛剛進食之後和過度的飢餓時，這兩個時候，不能進行導引，因其會損傷人體。還應避開不好的日子及時辰節令不和的時候。導引完畢，要先步行一百二十步，多者可行一千步，然後進食。進食不要太冷太熱，要五味調和。陳腐的隔夜食物，蟲蠍吃過的剩余食物，都不能吃。進食時，要小口細嚼慢咽。食後，不要立即睡覺。這就叫穀藥，再加上氣和，可謂真正的良藥了。</p>
<p><u>小結：</u></p>
<p>本節重點討論練功時姿式和意義，以及注意事項與飲食禁忌。所述甚詳，不另再議。</p>
<h2>十六、脹滿門</h2>
<p>〔原文〕一法：蹲坐，住心，卷兩手發心下，左右手搖臂，遞互欹身，盡膊勢，卷頭築肚，兩手衝脈至臍下，來去三七。漸去腹脹肚急悶，食不消化。</p>
<p>〔解說〕蹲坐，收心定意，卷曲兩手從心向下，然後左右搖動兩臂，交替側斜身體，兩肩盡量用力，低頭向肚，兩手沿衝脈按到臍下，上下反復二十一次。可逐漸去肚腹脹悶，食不消化。</p>
<p>〔原文〕二法：腹中若脹有寒，以口呼出氣三十過止。</p>
<p>〔解說〕腹中若是脹滿有寒氣，以口呼氣，三十次為止。</p>
<p>〔原文〕三法：若腹中滿，食飲苦飽，端坐伸腰，以口納氣數十，滿吐之，以便為故，不便復為之。有寒氣腹中不安，亦行之。</p>
<p>〔解說〕如果腹中脹滿，食後苦於作飽，可正坐直腰，用口吸氣數十次，氣吸足後吐出，以所苦消失為止，以後脹飽時仍可再行此法。如有寒氣腹內不適，也可以施行此法。</p>
<p>〔原文〕四法：端坐伸腰，口納氣數十。除腹滿，食飲過飽，寒熱，腹中痛病。</p>
<p>〔解說〕正坐伸腰，口吸氣數十次。可消除肚腹脹滿，飲食過飽作脹，惡寒發熱，腹中痛等病。</p>
<p>〔原文〕五法：兩手向身側一向，偏相極勢。發頂足氣散下，欲似爛物解散。手掌指直舒，左右相皆然，去來三七。始正身，前後轉動膊腰七。去腹肚脹，膀胱腰脊臂冷，血脈急強悸也。</p>
<p>〔解說〕兩手伸向身體一側，盡力側轉並行氣，使氣從頭頂下散腳，以意念想象就如腐爛的東西那樣使氣散開。手掌手指伸直，左右相同，來回做二十一次。然後轉正過身來，前後轉動肩臂和腰部七次。可祛除肚腹作脹，膀胱、腰脊和臂部寒冷，血脈急強悸動等病。</p>
<p>〔原文〕六法：若腹內滿，飲食善飽。端坐伸腰，以口納氣十，以便為故，不便復為。</p>
<p>〔解說〕見本篇第三法。</p>
<p>〔原文〕七法：脾主土，暖如人肉始得發汗，去風冷邪氣。若腹內有氣脹，先須暖足，摩上下並氣海，不限遍數，多為佳。始得左回右轉三七，和氣如用，腰身內一十五法，回轉三百六十骨節，動脈搓筋，氣血布澤，二十四氣和潤，臟腑均調。和氣用頭搖振，手氣向上，心氣向下，分明知去來。莫問平手，欹腰轉身。摩氣蹙回動盡，心氣放散，送至涌泉。一一不失氣之行度，用之有益。不解用者，疑如氣亂。</p>
<p>〔解說〕脾在五行屬土，土氣溫暖，人體便能發汗，汗出可祛除風冷邪氣。若腹內有氣作脹，要先溫暖兩腳，並按摩肚臍上下和氣海，次數不限，越多越佳。至少要左回右轉二十一次。要使氣平和，當用腰身內一十五法，回轉三百六十骨節，血脈流動，筋骨通利，氣血布澤各臟腑，就可使二十四氣調和，臟腑協調。要使氣和，須知用氣之法，頭要轉動搖振，以意念引手氣上行，心氣下行，使上下來去分明。不論是平手、斜腰、轉身、按摩行氣、動作結束，都要使心氣放散，送至涌泉，每一個動作，都要依法而行，不能失氣營運的規律。氣不失度，用之有益，氣若失度，可致氣亂。</p>
<p><u>小結：</u></p>
<p>本篇對腹脹提出了搖手臂轉體，以手沿腹正中衝脈上下按摩的動功和以口吸氣，滿吐之，存思使氣從頭頂向下散布至腳，如腐爛東西那樣松散和自然地使氣下行的靜功。這兩種功法均有理氣舒腹，健脾除滿的作用。強調練功時要。「以便為故，不便復為」，堅持反復練習，才能收到良效。對呼吸主張以「口納氣」，「口呼氣」為主，以口大幅度的深呼吸，可使腹內充分受氣，脹滿消除。最後一條又強調指出，治脹要先理脾，理脾消脹，可先暖足，摩腹，活動腰內，搖頭，後以意引手氣向上，心氣向下，氣血和調，中焦得通，則脹自除。引氣時要使上下來去分明，各循其經，心氣始終要松散自如，如此則氣可行送於涌泉。引氣一定要依法而行，不失其度，方可有益，若失其度，反而會使氣亂，引起頭昏、目眩、胸悶、腹脹等不良回應。</p>
<h2>十七、眼目門</h2>
<p>〔原文〕一法：踞，伸右腳，兩手抱左膝頭，伸腰，以鼻納氣，自極七息。除難屈伸拜起，去脛中痛痹，風目耳聾。</p>
<p>〔解說〕見「一、中風門」第七法。</p>
<p>〔原文〕二法：踞，伸左腳，兩手抱右膝，伸腰，以鼻納氣，自極七息，展左足著外。除難屈伸拜起，去脛中疼。</p>
<p>一本云：除風目暗，耳聾。</p>
<p>〔解說〕見「一、中風門」第九法。</p>
<p>〔原文〕三法：以鼻納氣，左手持鼻。除目暗泣出。鼻納氣，口閉，自極七息。除兩脅下積血氣。</p>
<p>〔解說〕用鼻吸氣時左手按鼻。可消除目昏流淚。用鼻吸氣時閉口，盡力行氣七息。可消除兩脅下瘀血積氣。</p>
<p>〔原文〕四法：端坐伸腰，徐以鼻納氣，以右手持鼻，除目暗，淚若出，閉目吐氣。鼻中息肉，耳聾亦然。除傷寒頭痛洗洗，皆當以汗出為度。</p>
<p>〔解說〕正坐位伸腰，緩緩用鼻吸氣，用右手按鼻，閉目用口呼氣。能消除目昏流淚。鼻中息肉、耳聾也可用同法治療。若治傷寒後頭痛，洒洒惡寒，當以汗出為度。</p>
<p>〔原文〕五法：蹲踞，以兩手舉足五趾，頭自極，則五臟氣遍至。治耳不聞，目不明。久為之，則令發白復黑。</p>
<p>〔解說〕踞坐，用兩手搬舉兩足五趾，盡力低頭，行氣，使五臟之氣到達頭部。則可治耳不能聞聲，目昏暗不明。久行此法，可使白發變黑。</p>
<p>〔原文〕六法：仰兩足趾，五息止。引腰背痹、偏枯，令人耳聰。久行，眼耳諸根，俱無掛礙。</p>
<p>〔解說〕見「一、中風門」第二法。</p>
<p>〔原文〕七法：伸左脛，屈右膝納壓之，五息止，引肺。去風虛病，令人目明。依經為之，引肺中氣，去風虛病，令人目明，夜中見色，與盡無異。</p>
<p>〔解說〕見「十四、補益門」彭祖穀仙臥引法。</p>
<p>〔原文〕八法：雞鳴以兩手相摩令熱，以熨目，三行，以指抑目。左右有神光，令目明，不病痛。</p>
<p>〔解說〕雞鳴時兩手互相摩擦使熱，然後用熱手按摩熨眼，如此三次，再用手指按摩兩眼。可使兩眼有神，眼明亮，不生病痛。</p>
<p>〔原文〕九法：東向坐，不息再通，以兩手中指口唾之二七，相摩拭目。令人目明。以甘泉漱之，洗目，去其翳垢，令目清明。上以內氣洗身，中令內睛潔，此以外洗去其塵障。</p>
<p>〔解說〕面向東坐，不息兩通，口唾兩手中指十四次，然後兩指相摩使熱用以揩眼。可使人眼睛明亮。用唾液漱口後洗眼，可去目翳和眵垢，使眼睛清爽明亮。練功到一定程度，可以使內氣上引洗身心，中間引而入眼底，使眼內潔明，外邊再用唾液洗去眵垢翳障，效果就更好。</p>
<p>〔原文〕十法：臥，引為三，以手爪項邊脈五通。令人目明。臥正偃，頭下卻亢引三通，以兩手指爪項邊大脈為五通。除目暗患。久行，令人眼夜能見色。為久不已，通見十方，無有際限。</p>
<p>〔解說〕臥位引氣三次，用手抓後項旁的筋脈五次。可使眼睛明亮。仰臥正身，頭低下向上用力牽引三次。用兩手指抓後項旁的大筋脈五次。可消除目暗之病，久行此法可使人眼睛在夜裡能分辨顏色。久做不斷，可以看到遠方，沒有極限。</p>
<p>〔原文〕十一法：雞鳴欲起，先屈左手啖鹽，指以指相摩，咒曰：西王母女，名日益愈，賜我目，受之於口。即精摩形。常雞鳴二七著唾，除目茫茫，致其精光，徹視萬裡，遍見四方。咽二七唾之，以熱指摩目二七，令人目不瞑。</p>
<p>〔解說〕雞叫即起床，先屈左手拿鹽少許啖（同　、　。吃或給人吃）入口內，以唾液相合，然後將鹽唾液用兩手指相互摩擦。念咒語：「西王母女，名曰益愈，賜我目，受之於口」。用兩手指按摩兩目。如常能在雞鳴時著鹽唾液按摩兩目十四次，可治目茫茫視物不清，使其恢復精光，能視遠物，甚至「徹視萬裡，遍見西方」。此外還可以采用咽唾十四次，以兩指著唾液不加鹽，相摩使指熱，擦目十四次的方法，此法也可以使人眼目不昏暗。</p>
<p><u>小結：</u></p>
<p>本篇除介紹了幾種常用的導引功外，重點講述了眼的保健功。功法有：1、手掌按摩法：如「雞鳴以兩手相摩令熱，以熨目」。</p>
<p>2、手指按摩法：如「以指抑目。左右有神光，令目明，不病痛」。</p>
<p>3、唾液著指按摩法：如「以兩手中指口唾之二七，相摩拭目」，「咽二七唾之，以熱指摩目二七」。</p>
<p>4、以鹽與唾液混合後著指按摩法：如「先屈左手啖鹽，指以指相摩」。「即精摩形」。</p>
<p>5、以兩手提抓項後大筋。</p>
<p>這些功法簡單實用，對防治近視眼及老年性眼病有較好效果，現代的眼保健操大多都采用了這些功法。</p>
<h2>十八、喉舌門</h2>
<p>〔原文〕一法：一手長舒合掌仰，一手捉頦，挽之向外，一時極勢二七。左右亦然。手不動，兩向側極勢，急挽之二七。去頸骨急強，頭風腦旋、喉痹，膊內冷注偏風。</p>
<p>〔解說〕一手伸長，手掌向上；另一手握住下巴向外拉，連續盡力作十四次。左右都這樣作。然後手不動，向左右兩側盡量轉動，作快速牽拉動作十四次。可祛除頸椎活動障礙，頭痛腦旋，喉痹，臂肩冷注偏風。</p>
<p>〔原文〕二法：兩手拓兩頰，手不動，摟肘使急，腰內亦然。住定放兩肋頭向外，肘膊腰氣散，盡勢大悶始起，來去七通。去喉痹。</p>
<p>〔解說〕兩手托著兩頰，手不動，將兩時用力靠攏摟緊腰部，腰部同手一樣不動。然後兩肘頭抬起向外，使肩肘腰氣散盡，感到大悶時稍息再做，反復七遍。可治喉痹。</p>
<p><u>小結：</u></p>
<p>本篇功法以活動頭項和肘肩為主，具有理氣通痹功效。</p>
<h2>十九、口齒門</h2>
<p>〔原文〕一法：常向本命日，櫛發之始，叩齒九通，陰咒曰，太帝散靈，五老返真；泥丸玄華，保精長存；左回拘月，右引曰根；六合清練，百疾愈因。咽唾三過，常數行之，使齒不痛，發牢不白，頭腦不痛。</p>
<p>〔解說〕經常在本命之日（與人生干支相值的日），梳發洗面之前，上下齒相叩九次。口中念陰咒：「太帝散靈，五老返真；泥丸玄華，保精長存；左回拘月，右引曰根；六合清練，百疾愈因。</p>
<p>」然後將口中唾液咽下三次，經常這樣練功，可使齒不痛，發不脫落不變白，頭腦不痛。</p>
<p>注：本法咒語屬道家隱文，練功時可以不念。</p>
<p>〔原文〕二法：東向坐，不息四通，上下琢齒三十六。治齒痛。</p>
<p>〔解說〕面向東坐，不息四通，叩齒三十六次，能治齒痛。</p>
<p>〔原文〕三法：凡人覺脊背皆倔強，不問時節，縮咽膊內，仰面努膊並向上，頭左右兩向按之，左右二七，一住。待血行氣動定，然始更用，初緩後急，不得先急後緩。若無病患，常欲得旦起、午時、日沒三辰，如用，辰別二七。除寒熱病，脊腰頸項痛，風痹，口內生瘡，牙齒風，頭眩，終盡除也。</p>
<p>〔解說〕本法與第二篇風痹門，最後一段大致相同，解說見前文。</p>
<p><u>小結：</u></p>
<p>本節論述了以叩齒、咽唾、不息為主的口齒保健功，功法詳解請參見「八、癆瘵門」。</p>
<h2>二十、鼻門</h2>
<p>〔原文〕一法：東向坐，不息三通，手捻鼻兩孔，治鼻中患。交腳　坐，治鼻中患，通腳癰瘡，去其涕唾，令鼻道通，得聞香臭。永行不已，徹聞十方。</p>
<p>〔解說〕向東坐定，閉氣不息三通，用手捻兩鼻孔，可治療鼻中疾患。兩腳交叉盤坐，也可治鼻中疾患，並治腳上的癰瘡，還可去除涕唾使鼻道通暢，能辨香臭。久行此功，可使嗅覺靈敏。</p>
<p>〔原文〕二法：踞坐，合兩膝，張兩足，不息五通。治鼻瘡。</p>
<p>〔解說〕蹲坐，合攏兩膝，張開兩腳，閉氣不息五通，可治鼻瘡。</p>
<p>〔原文〕三法：端坐伸腰，徐徐以鼻納氣，以右手捻鼻，除目暗，淚苦出，徐徐閉目吐氣。鼻中息肉，耳聾，亦能除傷寒頭痛洗洗。皆當以汗出為度。</p>
<p>〔解說〕見「十七、眼目門」第四法。</p>
<p>〔原文〕四法：東向坐，不息三通，以手捻鼻兩孔，治鼻中息肉。</p>
<p>〔解說〕見本篇第一法前半部分。</p>
<p><u>小結：</u></p>
<p>本節對鼻病保健提出了以「手捻鼻兩孔」「以右手捻鼻」和「不息三通」等功法。詳解見「十四、補益門」。</p>
<h2>二十一、耳門</h2>
<p>〔原文〕一法：坐地交叉兩腳，以兩手從曲腳中入，低頭叉項上。治久寒不能自溫，耳不聞聲。</p>
<p>〔解說〕坐在地上，交叉兩腳，用兩手從腳彎中伸入，低頭把手交叉放在項上。可以治療久寒不能自己轉溫，耳不聞聲。</p>
<p>、〔原文〕二法：腳著項上，不息十二通。必愈大寒不覺暖熱，久頑冷患，耳聾目眩。久行即成法，法身五六不能變。</p>
<p>〔解說〕把腳放在後項上，不息十二通。可治愈大寒不覺暖溫，頑固冷疾，耳聾目眩。</p>
<p>應堅持久行使其成為常用導引法，以此法健身，每次作三十次，不宜改變。</p>
<p><u>小結：</u></p>
<p>本篇以「坐地交叉兩腳，以兩手從曲腳中入，低頭叉項上」和「腳著項上，不息十二通。</p>
<p>」二種功法治療耳病，但功法較難，特別以腳著項上不易練習，可結合「鳴天鼓」等功。</p>
<h2>二十二、遺泄門</h2>
<p>〔原文〕一法：治遺精白濁，諸冷不生。戍亥間陰旺陽衰之際，一手兜外腎，一手搓臍下八十一次，然後換手，每手各九次，兜搓九日見驗，八十一日成功。</p>
<p>〔解說〕治療男性遺精，白濁，腎陽不足，虛寒不能生精種子。可在戍亥時（晚7～11時）陰氣旺盛而陽氣衰弱之際，用一手兜陰囊，一手搓擦臍下丹田處八十一次，然後換手，兩手各搓擦九次。九日即可見效，八十一日即可治愈。</p>
<p>〔原文〕二法：治遺精，以床鋪安短窄，臥如弓彎；二膝並臍縮，或左或右，側臥。用手托陰囊，一手伏丹田，切須寧心淨臥，戒除房室思欲之事，若固不泄，可保身安。</p>
<p>〔解說〕治療遺精，可以將床鋪設得短些，曲蜷臥在窄小床面上，使形如彎曲的弓；也可將兩膝曲到臍部，或左或右，側臥。用手托兜陰囊，一手按在臍下丹田，戒除思欲房室性事，這樣可使精固不泄，身心安康，不再遺精。</p>
<p><u>小結：</u></p>
<p>本篇對遺精提出兩種導引法：一法是兜陰囊擦丹田，行九陽之數。以壯陽補精。後世有口訣曰：「一擦一兜，左右換手，九九之功，真陽不走。」實踐證明本法具有固精補腎，調理陰陽，治療遺精、早泄、陽痿和男子無精症等作用。近千年來，一直廣為流行在各家導引術中，是行之有效的固精術。另一法是側臥屈腿托陰囊，按丹田法。本法強調治療遺精必須平日采用側臥睡位，這是十分正確的。仰臥，俯臥位易使陰莖受到壓迫而勃起，是引起夢遺的常見原因。而側臥屈腿將陰囊托起，就可以減少受壓和兩腿擦磨，因此而防止遺精。作者在最後強調指出，防治遺精還務必寧心定志，戒除思欲各種性事，只有這樣才能使精固不泄，身心安康。這種重視心理治療的觀點，確是防治遺精的原則。只有節制性生活。戒除手淫等，才能保證導引術的成效。行本導引功時，還應配合吸呼行氣，意守丹田，則功效更好。</p>
<h2>二十三、淋門</h2>
<p>〔原文〕一法：偃臥，令兩足（應為手）布膝頭，斜踵置尻，口納氣，振腹，鼻出氣。去淋，數小便。</p>
<p>〔解說〕仰臥，曲腿，將兩手放在膝頭，腳跟盡量傾靠臀尾部，口吸氣，鼻出氣，使氣達腹內，腹隨呼吸上下起伏振動。可治淋症，小便頻數。</p>
<p>〔原文〕二法：蹲踞高一尺許，以兩手從外屈膝內入至足趺上，急手握足五指，極力一通，令內曲。以利腰髖，治淋。</p>
<p>〔解說〕蹲踞抬臀，使臀部離開地面一尺左右，用兩手從外側經膝彎下由小腿內側到足背上，立即用兩手各握一腳的五趾，盡力握一次，使腳趾向內彎曲。可以通利腰髖，治淋。</p>
<p>〔原文〕三法：偃臥，令兩足（應為手）布膝頭，斜踵置尻，口納氣，振腹，鼻出氣。去石淋，莖中痛。</p>
<p>〔解說〕本條及第五條與第一法基本功法相同。</p>
<p>〔原文〕四法：以兩踵布膝。除癃。</p>
<p>〔解說〕將兩腳跟交替放置膝頭。可以治療排尿困難，甚則小便閉塞不通。</p>
<p>〔原文〕五法：偃臥，令兩足（應為手）布膝頭，取踵置尻下，以口納氣，腹脹自極，以鼻出氣七息。除氣癃，數小便，莖中痛，陰以下濕，小腹痛，膝不隨。</p>
<p>〔解說〕仰臥，兩手放兩膝頭，兩足跟靠置臀尾下部，以口吸氣，使氣達腹內，盡量使腹覺脹滿充實（即氣沉丹田），以鼻出氣，吸呼行氣七息。可以消除氣癃，小便頑數，尿道疼痛，會陰下濕潤不適，小腹疼痛，膝不能活動自如。</p>
<p><u>小結：</u></p>
<p>本篇第一、三、五法大致相同。均取仰臥曲腿，手放膝頭，足放臀部的體位，這種體位可以使全腹及會陰部充分放松，減輕行氣時可能引起的尿道及膀胱不適，是淋症導引比較舒適的姿式。</p>
<p>呼吸法以腹式法為主，強調振腹、脹腹，使氣達丹田、入腎而調理膀胱，所以再三述之，可見是治淋症的主要導引法。其次，還可采用蹲抬臀部，用雙手經膝脛握固五腳趾，用力握拉腳趾法。這種功法可以通利腰髖，使下焦得到調理，所以也利於淋症的康復。另一種以兩腳交替放置膝部的功法，可以使下肢氣血流通，膀胱舒利，故可以治小便閉塞不通。</p>
<h2>二十四、二便不通門</h2>
<p>〔原文〕一法：正坐，以兩手交背後，名曰帶便。愈不能大便，利腹，愈虛羸。反叉兩手著背上，推上使當心許，　坐反倒九通。愈不能大小便，利腹，愈虛羸也。</p>
<p>〔解說〕正坐，兩手交叉在背，名為帶便。可治療不能大便，使腹內通利，並可治虛勞羸瘦。反叉兩手放背上，將手向上推，正對心上下，兩腳伸直岔開而坐，頭身向後反倒九次。</p>
<p>可治療不能大小便，便腹內通利，並可治虛勞羸瘦。</p>
<p>〔原文〕二法：龜行氣，伏衣被中，覆口鼻頭面，正臥，不息九通，微鼻出氣。治大便閉塞不通。</p>
<p>〔解說〕行龜行氣法，藏身在衣被中，覆蓋口鼻頭面，正臥，不息九通，微微由鼻孔出氣。可治療大便閉塞不通。</p>
<p>〔原文〕三法：偃臥，直兩手，捻左右脅，除大便難，腹痛，腹中寒。口納氣，鼻出氣，溫氣咽之數十，病愈。</p>
<p>〔解說〕仰臥，伸直兩手，搓捻左右脅部。可消除大便難，腹痛，腹中寒。口吸氣，鼻出氣，口中溫氣咽數十次，病即痊愈。</p>
<p><u>小結：</u></p>
<p>二便不通是指大便和小便排出困難，秘結不通。但從本節所述來看主要是指大便排出困難。本篇采用按摩和氣功綜合防治便秘。按摩及呼吸法有：1、帶便法：方法是正坐，兩手交叉在背部，正對心上下，頭身向後斜傾。</p>
<p>2、龜行氣法：方法是如龜藏身衣被中，覆蓋口鼻頭面，仰臥，不息，使氣由鼻細勻而出入。</p>
<p>3、按摩兩脅法：按摩兩脅及腹部，並口納氣、鼻出氣，使氣在口內停一會兒受溫後而吞咽入胃腸內。</p>
<h2>二十五、疝氣門</h2>
<p>〔原文〕一法：挽兩足趾五息止，引腹中氣。去疝瘕，利孔竅。</p>
<p>〔解說〕用手握拉兩足趾，行氣五息而止，引氣達腹中，使腹中氣動，可以消除疝氣、腹中結塊，使大小便通利。</p>
<p>〔原文〕二法：坐，舒兩腳，以兩手捉大拇趾，使足上頭下，極挽，五息止，引腹中氣，遍行身體。去疝瘕病，利諸孔竅。往來易行，久行精爽，聰明修長。</p>
<p>〔解說〕坐地，舒展兩腳，用兩手握捉足兩大拇趾，使足上抬頭下低，盡量牽拉，行氣五息而止，使氣達腹中，再引腹中氣使遍行身體。這樣可以治疝瘕病，使九竊通利。如此反復行之，久行可使人精神爽朗，聰明而俊秀。</p>
<p><u>小結：</u></p>
<p>本篇以用手握兩足大拇趾，行氣，引腹中氣，使遍行身體的方法治療疝氣。方法簡單，行之尚有使人精神爽朗，聰明俊秀等作用。</p>
<h2>二十六、諸痔門</h2>
<p>〔原文〕一法：惟高枕，偃仰，心平氣定，其腫自收。</p>
<p>〔解說〕仰臥，將枕放高，心平氣定的調息，可使痔瘡腫痛自行消散。</p>
<p>〔原文〕二法：一足踏地，一足屈膝，兩手抱犢鼻下，急挽向身極勢。左右換易四七。</p>
<p>去痔，五勞，三裡氣不下。</p>
<p>〔解說〕一腳踏在地上，另一腿曲膝，兩手抱膝頭犢鼻下，盡力向身體腹部拉，左右交換各作二十八次。可祛除痔瘡、五癆病和足三裡經氣不能下行。</p>
<p>〔原文〕三法：踞坐，合兩膝，張兩足，不息兩通。治五痔。</p>
<p>〔解說〕踞坐，合攏兩膝，張兩腳，不息兩遍。治療五痔。</p>
<p>〔原文〕四法：兩手抱足，頭不動，足向口受氣，眾節氣散，來去三七，欲得捉左右側身，各急挽，腰不動。去四支腰上下髖內冷，血冷筋急，悶痔。</p>
<p>〔解說〕兩手抱腳，頭不動，不息行氣，把腳對著口接受出氣，直到全身各骨節氣散，共做二十一次。然後用兩手捉腰左右側身，用力拉，腰保持不動。可去除四肢、腰上下、骨髓內冷、血冷、筋急、悶痔。</p>
<p>〔原文〕五法：兩足相踏，向陰端急蹙，將兩手捧膝頭，兩向極勢，捧之二七竟，身側兩向取勢二七，前後努腰七。去心勞，痔病。</p>
<p>〔解說〕兩腳掌對踏，向前陰處緊靠，用兩手捧膝頭，左右兩邊都盡量用力捧十四次完畢後，身體向兩側擺動十四次，再前後活動腰部七次。可祛除心勞，痔瘡，膝冷。</p>
<p><u>小結：</u></p>
<p>本篇以動靜結合的導引法治痔。</p>
<p>1、痔腫痛期：應臥床休息，安心定意，勿躁急活動，摩擦局部，其腫自然可消。</p>
<p>2、平時防治痔：應多活動肢體，或一腳踏地，一足曲膝；或兩手捉足，頭不動，以口對足受氣，然後用兩手按腰左右側身；或合攏兩膝，張兩腳，不息行氣；或兩腳對踏，靠前陰處，用力抱膝頭，然後向兩側擺動身體。</p>
<p>這些功法可疏通氣血，松腰放胯，使直腸肛門局部血循得致改善。若能再結合「提肛」則療效更好。所謂「提肛」就是有意識的向上收縮肛門，使肛門括約肌一收一放的活動，有良好防治痔瘡作用。《備急千金要方》中有「肛門常宜撮」，氣功練習多主張收肛或提肛，不僅可以防治痔瘡，而且有使內氣收斂，貫注於脊中等作用。一般早晚各行三十次。</p>
<h2>二十七、老人門</h2>
<h3>（一）修真書六字訣</h3>
<p>〔原文〕春噓明目木扶肝，　夏至呵心火自閑，秋　定知金肺潤，　腎吹惟要坎中安，三焦嘻卻除煩熱，　四季長呼脾化餐。</p>
<p>切記出聲聞口耳，　其功尤勝寶神丹。</p>
<p>〔解說〕《修真書》中有一首六字配屬四季及臟腑的口訣：噓字配屬；肝和春，春季吐納時默讀噓，可以使肝木疏達，眼目明亮；呵字配屬心和夏，夏季吐納時默讀呵，可以使心火收藏，心平氣靜；　字配屬肺和秋，秋季吐納時默讀　，可以使肺氣滋潤，不為秋燥所傷，吹字配屬腎和冬，冬季吐納時默讀吹，可使腎陽（腎中火即腎陽，配屬八卦中坎卦）收藏，腎氣安寧；嘻字配屬於三焦，四季吐納時默讀嘻，可以使三焦營運無阻，消除煩熱；呼字配屬脾和四季，四季吐納時默讀呼，可使脾胃運化功能旺盛，消化，吸收正常。行六字訣一定要心中默讀，切忌將字讀出聲，使耳聽見。這種練功法的作用很好優勝於服用神丹妙藥。</p>
<p>〔原文〕訣云：肝若噓時目睜睛，　爭知肺　手雙擎，心呵腦後高叉手，　腎若吹時抱膝平，脾用呼時須撮口，　三焦客熱臥嘻嘻。</p>
<p>四季常是噓，八節不得吹。益肝為相火，有瀉無補，腎為真水。有補無瀉也。</p>
<p>〔解說〕進行六字呼吸鍛煉時，也可以配合這首口訣中的動作，將呼吸默讀與肢體運動結合起來進行。方法是：默讀噓時要睜大眼睛；默讀　時，要把雙手向上托舉；呵時，可將兩手舉起交叉腦後；吹時，可兩腿下蹲、用兩手抱膝；呼時，要將口唇微收；嘻時，要躺臥在床而行。</p>
<p>注意事項是：春、夏、秋、冬四季經常適宜進行「噓」字鍛煉；立春、春分、立夏、夏至、立秋、秋分、立冬、冬至這八節之時，不得進行「吹」字鍛煉。這是因為八節是生長收藏之始，寒暑之極，陰陽之和，此時煉「吹」易於傷腎。肝臟寄藏著能溫養全身，推展臟腑功能活動的「相火」肝性喜條達，宜常疏通宣泄，不宜抑郁填補，所以說：「肝為相火，有瀉無補。」腎主藏精，精又可稱為「真水」，「元陰」，由父母先天之精和後天飲食之精合成，是人體生長、發育、生殖的本源，宜經常滋補更其充實，不可伐瀉使其不足，所以說：「腎為真水，有補無瀉。」</p>
<p>〔原文〕肝噓：主嗌（咽喉）干，面塵（面青無華），眼眵赤多淚，疼痛，脅下痛，小便黃赤色或澀（小便不利）。</p>
<p>心呵：主煩燥，喉瘡熱腫，多汗，掌中熱，咽乾渴。</p>
<p>脾呼：主熱痰涎，目黃，喉痹，鼻衄，口乾舌痛，身重腹脹。</p>
<p>肺　：主喘嗽、煩渴、胸膈煩悶，有痰，掌中熱，風汗出。</p>
<p>腎吹：主有疾　羸（　，汪。羸，　贏，瘠病、瘦弱），面黑，口乾，耳鳴，咽嗌腫，股內疼痛，足下熱痛。</p>
<p>三焦嘻：主頰痛，喉痹，耳閉渾渾然。</p>
<p>以上主治六經本病之邪也。然五臟不足又在藥食氣味為補。經云：「形食味。」故味歸形，氣食形，故形歸氣，氣化則精生，味和則形長，故五味為宜。</p>
<p>若五志所過，非藥可治者，五勝為宜。</p>
<p>憂勝怒，肝屬木，在志為怒。過節則反自傷，故曰怒傷肝，故以所勝者制之。</p>
<p>恐勝喜，心屬火，在志為喜。過節則反自傷，故曰喜傷心，故以所勝者制之。</p>
<p>怒勝思，脾屬土，在志為思。過節則反自傷，故曰思傷脾，故以所勝者制之。</p>
<p>喜勝憂，肺屬金，在志為憂。過節則反自傷，故以所勝者制之。</p>
<p>思勝恐，腎屬水，在志為恐。過節則反自傷，故以所勝者制之。</p>
<p>〔解說〕噓、呵、呼、　、吹、嘻六字各有主治：噓字主治肝經咽喉干燥，面青無華，眼紅赤、多眵（眵，眼分泌物凝結成的淡黃色東西，叫眼眵），目疼痛，兩脅下疼痛，小便色黃赤或小便不利，排尿困難疼痛等疾病。</p>
<p>呵字主治心經煩躁不安，喉部生瘡紅腫熱痛，汗多，手足掌發熱（五心煩熱），咽乾口渴等疾病。</p>
<p>呼字主治脾經有熱，痰涎多，目發黃，喉腫痛阻塞，鼻出血，口乾舌痛，身體沉重，腹脹滿不適等疾病。</p>
<p>字主治肺經喘咳，煩躁口渴，胸膈煩悶不適，痰多，手足掌發熱，受風汗出等疾病。</p>
<p>吹字主治腎病身體瘦弱，面色發黑，口乾，耳鳴，咽喉腫痛，兩大腿內側疼痛，足根煩熱疼痛等。</p>
<p>嘻字主治三焦病，面頰疼痛，喉腫痛阻塞，耳閉塞聽覺不聰等。</p>
<p>以上所治是心、肝、脾、肺、腎和三焦這六經的本經的疾病。如果五臟虛弱不足引起的疾病，還應配合藥物和飲食治療，以「氣和味」補益五臟。《素問‧陰陽應象大論》說「形食味」。</p>
<p>形，指形體，包括臟腑、經脈、筋骨、皮毛以及血肉等有形之體。味，指飲食營養物。形體依據吸收（食）飲食營養而生長、發育，所以又可以說飲食五味滋養著形體（味歸形），形體得到滋養，便能產生元氣，元氣就是飲食中的精氣。精氣充養形體，才能使形體健壯。所以說形體必須資靠精氣才能生存，氣化活動正常才能產生五臟之精，飲食營養豐富才能使形體生長。因此，補益五臟，以飲食五味為宜。如果出現了五志（喜、怒、憂、思、恐）失調的疾病，就不一定非用藥物治療，這時應根據五臟和五志五行生克的原理，采用六字訣功治療為宜。六字訣與五志五臟五行的關系見下表：</p>
<p><a href="_files/pt150a1.bmp">六字訣配屬五志五臟五行關系表</a></p>
<p>五行學說認為，五行可以相生與相克。相生，就是相互資生和助長；相克，就是相互制約和剋制。相生的次序是：木生火，火生土，土生金，金生水，水生木。相克的次序是：木克土，土克水，水克火，火克金，金克木。相生相克，以次孳生，循環無窮。在五行相克關系中任何一「行」都具有「我克」、「克我」兩方面的關系，我克者為我所勝，克我者為我所不勝。所以，五行的相克關系，又稱為「所勝」與「所不勝」的關系。</p>
<p>五行相克可以應用到治療疾病中，以肺金（在志為憂，配屬六字為　）為例，克金者為火（心，在志為喜，配屬六字為呵），金克者為木（肝，在志為怒，配屬六字為噓），火為金之「所不勝」，木為金之「所勝」，即本篇中所說的「喜勝憂」（火勝金）和「憂勝怒」（金勝木）。肺金（憂、　）的清肅下降，可以抑制肝木（怒、噓）的上亢；而心火（喜、呵）的陽熱，又可以制約肺金（憂、　）清肅的太過。當肺金過節（太過）反而自傷，出現肺氣下陷，氣短而喘等病症時，就可以采用心火（喜、呵）所勝（剋制）肺金（憂、　）的相克關系，助心火的陽熱，溫肺而治氣短或氣喘，這就是「喜勝憂」，結合到六字訣就是肺有病時，可采用默念「呵」字的吐納功來治療。同樣當肝木（怒、噓）過節而反自傷，出現肝陽上亢，頭痛目眩等病症時，也可以采用肺金（憂、　）所勝（剋制）肝木的相克關系，使臟氣清肅下降而抑制肝陽的上亢，這就是「憂勝怒」。結合到六字訣就是肝有病時，可采用默念「　」字的吐納功來治療。各臟的六字訣所勝治療法如下：憂勝怒，肝木有病，可默念「　」字制約，或「　」和「噓」交替默念配合以治療。</p>
<p>恐勝喜，心火有病，可默念「吹」字制約，或「吹」和「呵」字交替默念配合以治療。</p>
<p>怒勝思，脾土有病，可默念「噓」字制約，或「噓」和「呼」字交替默念配合以治療。</p>
<p>喜勝憂，肺金有病，可用「呵」字，或「呵」和「　」字配合治療。</p>
<p>思勝恐，腎水有病，可用「呼」字，或「呼」和「吹」</p>
<p>字配合治療。</p>
<p>六字訣應用模式有多種，可以單默念一字，如「噓」字；也可以按順序念如噓、呵、呼、吹、嘻；可以結合臟腑病症的主治字念，如肝病讀噓字，心病讀呵字，脾病讀呼字，肺病讀　字，腎病讀吹字；還可以按寒熱症候念，如熱證讀呵字，寒證讀吹字。不必拘泥一法。</p>
<p>具體練法，宋代鄒朴庵在《太上玉軸六字氣訣》中述之甚詳：準備工作是：「叩齒三十六以定神，先攪口中濁津，漱練二三百下，候口中成清水，即低頭向左而咽之，以意送下，候　至腹間。」</p>
<p>呼吸方法是：「低頭開口念呵字，以吐出心中毒瓦斯。念時耳不得聞聲，聞即氣粗，反損心氣也。念畢低頭閉口，以鼻徐徐吸天地之清氣，以補心氣。吸時耳亦不得聞吸聲，聞即氣粗，亦損心氣也。」</p>
<p>六字讀法：「　」，讀如「絲」字音；「噓」，讀如「虛」字音；「呵」讀如「喝」字音；「嘻」，讀如「西」字音；「吹」與「呼」讀聲不變。</p>
<h3>（二）通玄集周天法</h3>
<p>〔原文〕通玄集云：其補真妙理，只要心頭無事，內外俱忘，一齊放下，把捉得定。陽生子時，陰生午時，靜室披衣，握固，端坐盤膝，蹲下腹肚，須臾升身，前出胸而微偃首於後。後開夾脊雙關，肘後微扇三，伸腰自尾閭穴，如火相似，自腰而起，擁在夾脊，慎勿開關，即時甚熱，氣壯，漸次開夾脊而放氣過。仍仰面腦後，緊仰以閉上關，慎勿令開，即覺熱極，氣壯，漸次入頂，以補泥丸，髓海。則身耐寒暑，為習長生之基。如前出胸、伸腰，閉夾脊存而升之腰間火不起，當靜坐內觀，如法再作，以至火起為度。自丑行至寅，終可止。是曰：肘後飛金精，又曰：抽鉛使腎氣生肝氣也。又略昂首仰項放，令頸下如火，方點頭向前，低頭曲項，退舌尖近後以柱上　，自有津出，不漱而咽下還黃庭，是名：金液還丹。四時不拘時候節次行此，自艮至巽而已，晚間乃勒陽關法，自兌至乾而已。</p>
<p>〔解說〕《通玄集》說：「補益真氣的奧妙道理並非高深莫測，只要放下雜念，使諸事不要掛牽心頭，將外界刺激和內心的欲望完全忘卻，一齊放在一旁，專心調息，掌握得當，就能收到良好效果。陽氣生發於子時（23～1時），陰氣生發於午時（11～13時），在陽氣和陰氣生發的時辰，居於靜室，寬衣解帶，握固兩手，盤膝端坐，下收腹肚，從容伸直身軀，使胸向前挺出而稍仰頭於後，采用此姿式，練氣日久後便能用氣通開夾脊雙關。通關時需用肘在後腰微動三次，伸腰使內氣自尾閭穴開始入脊中（督脈），其感覺如能似火團那樣，自腰而起，擁至夾脊，此時慎勿開關，要等待時機感覺火至甚熱，氣壯之時，方可依次開夾脊下關先放氣過入脊中。氣入脊中後仍仰頭腦後，使後腦緊枕脊柱封閉上關，慎勿讓開，覺到內氣如火，熱極之時，方為氣壯，依次再開上關，使氣入頭頂，以補益泥丸和髓海。這時便可使身體耐寒暑，這種功法是修練長生的基本功。如前姿式，挺胸，伸腰，開夾脊後存內氣，而內氣升到腰間後不能起火，當靜坐內觀腰間（丹田）之氣，如前法再作，以火起為度。自丑時（1～3時）練功到寅時（3～5時），方可停止。</p>
<p>這種功法叫肘後飛金精，又稱抽鉛使腎氣生肝氣。另有一法稍抬頭仰項，使頸下如有火起，方點頭向前，低頭屈項，將舌尖稍向後退舐於上　，口內自然就會有津液流出，不要漱吐而咽下，使歸還於黃庭（胃內）。這種功法叫做金液還丹。此功不受時間節氣限制，可四季經常練習，每日自艮（丑、寅）經震（卯）練至巽（辰、已）（1～11時）結束。晚間練功時又稱勒陽關法，自兌（酉）練至乾（戍、亥）（18～23時）結束。</p>
<p><u>小結：</u></p>
<p>本篇簡明地論述了「周天功」的練功方法和要點，著重講解了「收心」、「通關」、「肘後飛金精」和「金液還丹」的練法。</p>
<p>1、周天功古人把天體的營運，按方位分為365度，二十八宿。把北斗七星的斗柄沿二十八宿排列的軌道旋轉一周，稱為一個周天。日月沿此循行一周亦稱一周天。人身如同一個小天地，氣血環行周身一度也叫一周天。如《靈樞》說：「人身穴道三百六十五穴會，以應周天之數。」氣功家把人的真氣沿經絡循行一周，稱為一周天。把使真氣循經絡而行的功法，叫做周天功。周天功有大周天、小周天、意念周天、丹道周天、經絡周天等多種。本篇所述的小周天，即使真氣沿督脈上升，再循任脈下降，成一封閉圈。具體的路線和關口是：使丹田真氣──伸腰自尾閭穴──入腰脊正中督脈──擁在夾脊關──待氣壯後開夾脊關──使真氣達上關（玉枕穴）──待氣壯後開上關──使真氣入頭頂（百會穴）</p>
<p>以補泥丸和髓海──然後舌舐上　引口中津液──使真氣變成的「金</p>
<p>液」咽下還歸於黃庭胃內──最後復歸入丹田──再由丹田練氣進入尾閭關。這樣督任兩脈便相通，形成了一個周天。在這一周天中真氣要透過「三關」、入「泥丸」、「髓海」、變為「金液」，入「黃庭」歸還丹田，環循於任督二脈。</p>
<p>何謂「三關」及「夾脊雙關」？《寥陽殿問答篇》說：「人之尾閭，在尻脊上第三節，一名長強，一名三岔路，一名河車路，一名禁門。其下曰關元，其前曰氣海，乃陰陽變化之鄉，任督交會之處，丹書名曰尾閭關者是也。人之背脊二十四節，上應二十四氣，在關在二十四節頭尾之中，一名雙關，直透頂門，此即夾脊關也。人之後腦骨，一名風池，其竅最小而難開，欲開此竅，舌柱上　，目閉頂門，全仗神爐栗火，接續沖赴，此關乃開，此關名玉枕，又曰鐵壁也。」由此可見三關是尾閭關、夾脊關、玉枕關。本文中的「夾脊雙關」就是夾脊關，又名雙關，上關就是玉枕關，又名鐵壁關。該書還對開三關作了詳細描述，說：「下田三寶（精氣神名曰人身三寶）充盈，乃有無路可走之勢，自然沖開尾閭，從太元逆流，隱隱有兩股暖氣，上腎堂過脊背……但至夾脊者，學人道淺，寶積未富，那能一時便得直透而上，切勿煩躁欲速，惟自日日行之，意中須以心目相送，微用提撮穀道（肛門）法，如轆轤循環，自然志至氣次，時候一到，片晌之間，夾脊自開，雙關自辟，直上玉枕。玉枕一關，名曰鐵壁，居頭凹處，有一高骨，尤難過此，必須閉目上視，低頭用意，直透此關，上至泥丸，與神交合。此時景象，有如雷轟電掣，火焚波沸，種種形聲，似真似幻，切須牢守身心，勿驚勿喜，徐徐自定，清磬冷然入兩耳，泥丸、昆侖之間，有如火珠一顆，盤旋不已，隱現於眉間，覺從鼻內而下玄膺，仍自降入氣管，乃由華蓋，絳宮，直抵丹田。此時身心樂快，難以言喻，所請乾坤交媾罷，一點落黃庭是也。」本文指出為讓真氣過關，須從體位和使氣壯實二方面入手，體位要「端坐盤膝，蹲下腹肚，須曳升身，前出胸而微偃首於後」，「仰面腦後」，「昂首偃項」，這和一般方書主張正坐，身須平直，認為體不端直，則氣機塞者不同，獨僻一言之家，另有自己見解。對於透過三關，主張務必使氣壯實，氣不壯則「慎勿開關」或「仰面腦後緊偃以閉上關」，等待「如火相似，自腰而起，擁在夾脊，」「甚熱，氣壯」或「熱極，氣壯」，方才依次開關。如腰間火不起，當靜內觀丹田，務使火起才開關。</p>
<p>2、收心就是止念，道家又稱煉已。就是要排除各種雜念，使心猿歸正，意馬收韁，正如《規中指南》所說：「牢擒意馬鎖心猿，慢著功夫煉汞鉛，大道教人先止念，念頭不住亦徒然。」收心的第一要訣為「忘記」，就是練習時要「內外俱忘」心頭諸事，把它們一齊放在一旁，只有這樣才能專心守一。所以《保生秘要》說，「攝心歸一，專其一處，皆可止念。」本文將收心列為「補真妙理」</p>
<p>是非常有見地的。</p>
<p>3、肘後飛金精又叫抽鉛使腎氣生肝氣法。《周易參同契》認為：坎為腎，屬北方王癸水，色黑，在丹稱黑鉛或黑虎。所謂抽鉛，《悟真篇補注》說：「抽鉛添汞，猶云取坎填離，凡進火退符，皆是抽鉛。」可見抽鉛就是取腎中真水（也即真精，道家謂之金精），以濟心火（汞在丹為心，屬南方丙丁火），使夫妻交媾，陰陽相濟，或取腎水以涵養肝木，使肝氣生發。本文講的是抽鉛使腎氣生肝氣，即以水生木，使木生發。功法是「肘後微扇三」，目的是「以至火起為度」，可見本功是練精化氣，練氣生火，使氣為少陽壯火，而升發入尾閭，進督脈的一種方法。道家將精出稱做「飛」，飛即外越，高升也。飛金精，即是使腎中金精外越，氣化的意義。因本法以微扇肘而起功，故曰肘後飛金精。</p>
<p>4、金液還丹真氣經三關，至泥丸後，舌舐上　，就會產生大量口液，咽下時可感到清香味美。道家認為這是氣化之精液，咽下可還歸丹田，這就是玉液還丹。如果練到氣化精液之後，精氣合結，感到泥丸中有一小丹結成，「其紅如桔光似雪，融似湯煎味如蜜」，進入口中可液化，如甘泉般清爽，蜜糖般甜美，吞入丹田可感到轉動，就叫做金液還丹。</p>
<p>黃庭：黃乃土色，土位中央；庭乃階前空地。黃庭者，中央空地也。臍內空地，即是黃庭。</p>
<p>《黃庭經》說：「上有黃庭下關元，後有幽闕前命門」。關元穴在臍下三寸，黃庭之下即是關元，關元之上即是黃庭，後為幽闕即是臍，名為神闕，前為命門，又名密戶，在背脊第十四椎下，黃庭即這些穴位的中空之處。</p>
<p>丹田，乃結丹之所，如播種生苗結實成丹之田地，故名丹田。</p>
