<header><h1>黃帝素問宣明論方</h1></header>
<dl class="元資料" data-type="book">
<div><dt>作者</dt><dd>劉完素</dd></div>
<div><dt>朝代</dt><dd>金</dd></div>
<div><dt>年份</dt><dd><data value="1115/1234">公元1115年至公元1234年</data></dd></div>
<div><dt>底本</dt><dd>《欽定四庫全書·子部五·醫家類·宣明方論》（<a href="https://www.kanripo.org/text/KR3e0048/">掃描及文字化本</a>）。參本：《河間醫集》，人民衛生出版社。</dd></div>
</dl>
<h1>重刻劉守真先生宣明論方序</h1>
<p>按本傳，劉完素，字守真，河間人。嘗遇異人陳先生，以酒飲守真，大醉。及寤，洞達醫術，若有授之者，乃撰《運氣要旨論》、《精要宣明論》。慮庸醫或出妄說，又著《素問玄機原病式》，特舉二百八十八字，注二萬余言。然好用涼劑，以降心火、益腎水為主。自號通玄處士。金承安間，章宗徵之不就，賜號高尚先生。本郡《志》稱所論著，皆發前古所未發。與潔古齊名，世號劉張法。蓋古君子而托醫以避亂世者。</p>
<p>又按列傳，張元素，字潔古，易州人。夜夢有人用大斧長鑿鑿開心竅，納書於中，自是洞徹醫術。完素病傷寒，八日不食，不知所為。元素往候，完素面壁罔顧。元素曰：何見待之卑如此哉！既為診視，謂之曰：服某藥乎？曰：然。元素曰：子誤矣。某味性寒下降，走太陰，陽亡汗不能出。今脈如此，當服某藥奏效矣。完素大服，如其言，遂愈，元素自此顯名，余因是知醫術之不可與尋常人語也。</p>
<p>嘗疑司馬遷氏稱扁鵲遇長桑君之事，頗涉謬悠。乃即近史飲酒、鑿心之說証之，豈盡無征不信者哉！殆以醫道通玄，非神機不得其秘，而世之習旁門，執方書，守意見，以戕伐生靈者，由其無所從悟也。</p>
<p>守真本《內經》，著《要旨》、《宣明》二論，總十七萬余言。又述習醫要用《直格》。晚年著《保命集》三卷，自謂軒岐微妙之旨，得之心髓，不敢輕以示人。蓋自秦越人、張仲景之後，千有餘年，而先生出，上以承正派之學，下以啟丹溪之傳，通於南北，以永仁術。</p>
<p>不其偉與說者曰：不由𥠍子，不知異端之害深，不由守真，不知偏門之罪大。甚哉！邪之亂正也。先生之術既行世，醫竊試其法，得效者多，猶紿其名，恥言涼藥，謂去熱藥為非。今觀劉張二傳，好用涼藥，性寒下降之言，則史氏猶為不祛世俗之見。其稱元素之言曰：運氣不濟，古今異軌，古方新病，不相能也，又似以陰詆五運六氣之辯者。余嘗論之，《內經》運氣之旨，千載不毀之道，至守真而大闡之，極深研幾之學也。何可議也！</p>
<p>其捄偏補弊之功，發明治溫暑之法，而力辟辛熱香燥之毒，所以補前賢之未備，而救末流之為害也。然實則無所不該，無所不治。而近世傍求醫論，以謂熱病用河間，其亦就所重立言邪，可謂獨識其全矣。泛觀河間諸書，烏附等藥，亦多用之，是又何邪？噫！後之庸工，以寒涼之劑誤人，而莫之知悟者，又河間之罪？人亦是恃？</p>
<p>賈大夫以民部來守郡期歲中，出俸金開局，施藥活人，不可勝計。偶得此書於正科馬志坤氏，因命校讎再三，又捐俸而刻之。且欲購全集而匯焉，與《東垣十書》並傳也。大夫為政，一以治人為本，刻斯集也，亦以寓仁惠之心而濟之也。間嘗迎養二親於郡，即適太夫人有恙，志坤一藥而愈。因奇其功，而褒美之。叩其術，則能留心於劉張法者，故有是刻。是大夫之孝，由此達之人人也。先正有言，事親者，不可不知醫，信然哉！</p>
<p>　　　　隆慶三年黃鐘月既望保定府通判北海馮惟敏序</p>
<h1>卷一</h1>
<h2>諸證門</h2>
<h3>諸證總論</h3>
<p>黃帝曰：善言天者，必驗於人，善言古者，必合於今，善言人者，必厭於己，如道不惑，所謂明也。余問夫子，言而可知，視而可見，捫而可得，今驗於發蒙解惑，可得聞乎？岐伯稽首對曰：何道之問也，天覆地載，萬物悉備，莫貴於人，人以天地之氣，生四時之法，成君王，宰職黎庶，盡欲全形，貴賤雖殊，寶命一矣，好生惡死者，是世人之常也，若人有患，如救水火，莫待留⿰氵䍃日深，著於骨髓。所以難矣。</p>
<h3>諸證標目</h3>
<p>煎厥之狀，陽氣煩勞，精絕辟積於夏，致目盲不可視，耳閉不可聽，薄厥之狀，陽氣大怒，形氣絕而血菀於上。䐜脹飧泄，寒熱不散，升降上下，頹疝心掣，寒多下墜，以為諸疝，心熱內掣，陰陽之結，四肢浮腫，便血不已，蠱瘛之病，腎氣不足，冤熱筋急，白液出，跳掣也。膀胱不利，致三焦約而遺溺，腎精不足，強上冥視，唾之若涕，惡風振寒，為之勞風。雖近衣絮，榮虛衛實，名曰肉苛。心移寒於肺，則肺消，肺移寒於腎，為湧水，心移熱於肺，為膈消，膽移熱於腦，為肺淵，膀胱移熱於小腸，為口糜，大腸移熱於胃，為食㑊，熱盛則陽絡溢，陽絡溢為衂衊，醉以入房，氣竭傷肝，大脫其血，月事衰少，名曰血枯。蘊熱怫鬱，生於諸風，寒濕風之三氣雜合，而為諸痹，宗筋弛縱，發為白⿰氵䍃，熱聚胃口而不散行，故胃脘為癰，面色白黑，所謂疹筋，口苦積熱，名之膽癉，腎虛內奪，則為瘖痱。血氣竭少，令人解㑊，腹滿不食，寒中腸泄，斯病鶩溏，腰股痛發，胕腫不便，寒生濡泄，聊敘此證，不能備舉。</p>
<h3>煎厥證<span class="註"><small class="雙行小字">主熱。出《素問‧生氣通天論》</small></span></h3>
<p>陽氣煩勞，積於夏，令人煎厥<span class="校"><small class="雙行小字">原作“熱厥”，據本章題目改</small></span>，目盲不可以視，耳閉不可以聽。
<b>人參散</b>　主之：治煎厥氣逆，頭目昏憒，聽不聞，目不明，七氣善怒。
人參　遠志<small class="雙行小字">去心</small>　 赤茯苓<small class="雙行小字">去皮</small>　防風<small class="雙行小字">去苗，已上各二兩</small>　芍藥　麥門冬<small class="雙行小字">去心</small>　陳皮<small class="雙行小字">去白</small>　白朮<small class="雙行小字">以上各一兩</small>
右為末，每服三錢，水一盞半，煎至八分，去滓，溫服，不計時候，日再服。</p>
<h3>薄厥證<span class="註"><small class="雙行小字">主肝。出《素問‧生氣通天論》</small></span></h3>
<p>陽氣大怒則形氣絕，而血脈菀於上，令人薄厥於胸中。
<b>赤茯苓湯</b>主之：治薄厥暴怒，怒則傷肝，氣逆，胸中不和，甚則嘔血鼽衄也。
赤茯苓<small class="雙行小字">去皮</small>　人參　桔梗　陳皮<small class="雙行小字">各一兩</small>　芍藥　麥門冬<small class="雙行小字">去心</small>　檳榔<small class="雙行小字">各半兩</small>
上為末，每服三錢，水一盞，生薑五片，同煎至八分，去滓，溫服，不計時候。</p>
<h3>飧泄證<span class="註"><small class="雙行小字">主冷。出《素問‧陰陽應象論》</small></span></h3>
<p>清氣在下，則生飧泄，清濁交錯，食不化而清穀出矣。
<b>白朮湯</b>主之：治飧泄，風冷入中，泄痢不止，脈虛而細，日夜數行，口乾，腹痛不已。
白朮　厚朴<small class="雙行小字">生薑製</small>　當歸<small class="雙行小字">去苗</small>　龍骨<small class="雙行小字">各一兩</small>　艾葉<small class="雙行小字">半兩，熟炒</small>
右為末，每服三錢，水一盞，生薑三片，同煎至八分，去滓，空心溫服。</p>
<h3>䐜脹證<span class="註"><small class="雙行小字">主心腹。出《素問‧陰陽應象論》</small></span></h3>
<p>濁氣在上，則生䐜脹，此陰陽返則氣結不散而腹脹滿，常如飽。</p>
<p>吳茱萸湯主之。</p>
<p>治䐜脹，陰盛生寒，腹滿䐜脹，且常常如飽，不欲飲食，進之無味。</p>
<p>吳茱萸（湯淘炒），厚朴（生薑製），官桂（去皮），乾薑（炮各二兩），白朮，陳皮（去白），蜀椒（出子各半兩）</p>
<p>右為末，每服三錢，水一大盞，生薑三片，同煎至八分，空心去滓溫服。</p>
<h3>風消證<span class="註"><small class="雙行小字">主心脾。出《素問‧陰陽別論》</small></span></h3>
<p>二陽之病，心脾不得隱曲，女人月水，病血不流，脾病食不化，風勝真氣消。</p>
<p>黃耆羌活散主之。</p>
<p>治心脾受病，精血虛少，氣力衰乏，日嗌消矣。</p>
<p>黃耆（一兩半去蘆頭），羌活，石斛，防風，枳殼（火炒去穰），人參，生地黃，牡蠣（燒），黑附子（炮），茯苓（去皮），五味子，續斷（半兩），牛膝（酒炒各一兩），地骨皮（三分）</p>
<p>右為末，每服三錢，水一大盞，煎至八分，去滓溫服，不計時候，日進三。</p>
<h3>心掣證<span class="註"><small class="雙行小字">主心。出《素問‧陰陽別論》</small></span></h3>
<p>一陽發病，少氣嗽泄，三焦不利，上咳下泄，心火不寧，其動若掣。</p>
<p>調中散主之。</p>
<p>治心掣不定，胸中刺氣痞壅，上若咳嗽，下若泄利。</p>
<p>白朮，乾薑（炮），當歸，人參，五味子，赤茯苓（去皮），甘草（炙各一兩），官桂（一兩半）</p>
<p>右為末，每服三錢，水一盞，煎至八分，溫服，去滓稍熱，日二服，臨臥。</p>
<h3>風厥證<span class="註"><small class="雙行小字">主脾胃。出《素問‧陰陽別論》</small></span></h3>
<p>一陽一陰病發驚駭，背痛噫欠，名風厥。蓋胃土肝木，為木剋土，風勝濕，不制腎水，故令上逆。</p>
<p>遠志散主之。</p>
<p>治風厥多驚，背痛，善噫善欠，志意不樂，身背皆痛。</p>
<p>遠志（去心），人參，細辛（去苗），白茯苓（去皮），黃耆（去蘆頭），官桂（各一兩半），菖蒲，白朮，熟乾地黃（培），防風（各半兩）</p>
<p>右末，每服一錢至二錢，溫酒調下，空心食前，日三服。</p>
<h3>結陽證<span class="註"><small class="雙行小字">主四肢。出《素問‧陰陽別論》</small></span></h3>
<p>四肢腫，四肢熱勝則腫，四肢者，謂諸陽之本，陽結者，故不行於陰脈，陽脈不行，故留結也。</p>
<p>犀角湯主之。治結陽，四肢腫滿，熱菀不散，或毒攻注，大便閟澀。</p>
<p>犀角（屑），玄參，連翹，柴胡（去苗各半兩），升麻，木通（各三錢），沈香（剉），射干（去毛），甘草（炙一分），芒硝，麥門冬（去心一兩）</p>
<p>右為末，每服三錢，水一大盞，同煎至八分，食前去滓，溫服。</p>
<h3>厥疝證<span class="註"><small class="雙行小字">主腹痛。出《素問‧五藏生成論》</small></span></h3>
<p>脈至太虛，積氣腹中，隱而難見，陰沈使脾弱寒於肢膜，氣厥逆也。</p>
<p>吳茱萸加減湯主之。</p>
<p>治厥疝腹中冷痛，積氣上逆，致令陰冷於肢膜。</p>
<p>吳茱萸（二兩湯洗炒），川烏頭（去皮炮），細辛（去苗各三兩），良薑，當歸，乾薑（炮），官桂（各一兩）</p>
<p>右為末，每服二錢，水一盞，同煎至七分，去滓溫服，日進三服。</p>
<h3>結陰證<span class="註"><small class="雙行小字">主便血。出《素問‧陰陽別論》</small></span></h3>
<p>結陰便血一升，再結二升三升，以陰氣內結，故不得通行血氣，無宗滲入腸下，致使漸多。</p>
<p>地榆湯主之。</p>
<p>治陰結下血不止，漸漸極多，腹痛不已。</p>
<p>地榆（四兩），甘草（三兩半炙半生），縮砂仁（七枚每服可加為炒）</p>
<p>右為末，每服五錢，水三盞，縮砂同煎至一半，去滓溫服。</p>
<h3>解㑊證<span class="註"><small class="雙行小字">主腎實。出《素問‧平人氣象論》</small></span></h3>
<p>冬脈太過，緩而澀，腎實精不運，解者，緩，㑊，疑寒熱類也。</p>
<p>利腎湯主之。</p>
<p>治解㑊，春脈動，氣痛氣乏不欲言，此為腎元有餘矣。</p>
<p>澤瀉，生地黃，赤茯苓（去皮一兩半），檳榔，麥門冬（去心），柴胡，枳穀（麩炒去穰），牛膝（去苗酒浸各一兩），黃芩（去杇一兩）</p>
<p>右為末，每服三錢，水一盞半，煎至七分，去滓溫服，不計時候。</p>
<h3>胃疸證<span class="註"><small class="雙行小字">主胃熱。出《素問‧平人氣象論》</small></span></h3>
<p>食已如飢，胃熱能消穀，陽明脈終，心火上行，心憎煩，身黃，小便赤澀也。</p>
<p>茯苓加減湯主之。</p>
<p>治胃疸積熱，食已輒飢，面黃瘦，胸滿脇脹，小便閟赤。</p>
<p>赤茯苓，陳皮（去白），澤瀉，桑白皮（剉各三兩），赤芍藥，白朮（各四兩），人參，官桂（各二兩），石膏（八兩），半夏（六兩湯洗生薑製焙）</p>
<p>右為末，每服三錢，水一盞，生薑十片，同煎至八分，去滓，不計時候，如病甚者，加大黃，朴硝（各二兩）。</p>
<h3>蠱病證<span class="註"><small class="雙行小字">主脾風。出《素問‧玉機真藏論》</small></span></h3>
<p>脾風傳腎，一名疝氣，小腹痛，出白液，名曰蠱，左傳云：以喪志名為蠱病，乃真精不守也。</p>
<p>大建中湯主之。</p>
<p>治蠱病，小腹急痛，便溺失精，溲而出白液。</p>
<p>黃耆，遠志（去心），當歸，澤瀉（各三兩），芍藥，人參，龍骨，甘草（炙各二兩）</p>
<p>右為末，每服三錢，水一盞，生薑五片，煎至八分，去滓溫服，不計時候。</p>
<h3>瘈病證<span class="註"><small class="雙行小字">主筋急。出《素問‧玉機真藏論》</small></span></h3>
<p>蠱腹痛，腎傳心，筋脈相引而急，精液少，筋脈不榮灌而引急。</p>
<p>建中加減湯主之。</p>
<p>治瘈筋病，相引而急，及五勞七傷，小便數，腹痛難立。</p>
<p>人參，甘草（炙），官桂，白茯苓（去皮），當歸，附子（炮），厚朴（生薑製各一兩），龍骨，黃耆（剉），麥門冬，白芍藥，生地（各四兩）</p>
<p>右為末，每服三錢，水一盞半，生薑五片，棗一枚，餳少許，煎至一盞，溫服去滓。</p>
<h3>勞風證，主諸風</h3>
<p>發在肺，下病強上，冥視唾涕，惡風，腎風入肺中振慄，故俛仰成勞風。</p>
<p>芎枳丸主之。</p>
<p>治勞風，強上冥視，肺熱上壅，唾稠，喉中不利，頭目昏眩。</p>
<p>川芎，枳穀（麩炒去穰各等分）</p>
<p>右煉蜜為丸，如桐子大，每服十丸，溫水送下，食後日三服。</p>
<h3>痹氣證，主陽虛陰實。</h3>
<p>身非衣，寒中非受寒氣，痹者，氣血不行，如從水中出，不必寒傷而作也。</p>
<p>附子丸主之。</p>
<p>治痹氣中寒，陽虛陰盛，一身如從水中出。</p>
<p>附子（炮），川烏頭（炮二味通剉碎炒潰色入佳），官桂，川椒，菖蒲，甘草（各四兩），骨碎補（炒），天麻，白朮（各二兩）</p>
<p>右為末，煉蜜為丸，如桐子大，每服三十丸，溫酒下，空心食前，日三服。</p>
<h3>骨痹證，主腎弱。</h3>
<p>身寒，大衣不能熱，腎脂枯涸不行，髓少，筋弱凍慄，故攣急。</p>
<p>附子湯主之。</p>
<p>治腎藏風寒濕，骨痹，腰脊疼，不得俛仰，兩腳冷，受熱不遂，頭昏，耳聾，音渾。</p>
<p>附子（炮），獨活，防風（去苗），川芎，丹參，萆蘚，菖蒲，天麻，官桂，當歸（各一兩），黃耆，細辛（去苗），山茱萸，白朮，甘菊花，牛膝（酒浸），甘草（炙），枳殼（麩炒去穰各半兩）</p>
<p>右為末，每服三錢，水一大盞，生薑五片，煎至七分，去滓溫服，不計時候，日進三服。</p>
<h3>肉苛證，主榮虛胃寒。</h3>
<p>近衣絮，肉苛也。榮氣虛則不仁，其證𢂽重為苛也。</p>
<p>以前胡散主之。</p>
<p>治榮虛衛實，肌肉不仁，致令𢂽重，名曰肉苛，虛其氣。</p>
<p>前胡（去苗），白芷（剉），細辛（去苗），官桂，白朮，川芎（各三兩），川椒（去目閉口者生用二錢），吳茱萸（湯洗炒），附子（炮），當歸（去苗各二兩）</p>
<p>右剉，搗以茶酒三升，勻拌，同窨一宿，以煉成豬脂膏五斤，入藥微煎，候白芷黃紫色，漉出滓成膏，在處病摩之病，以熱調此藥，櫻桃大癥瘕瘡痍皆治，并去諸風，瘡痒疼痛，傷折墜損，故摩內皆可用之。</p>
<h3>肺消證，主心肺。</h3>
<p>心移寒於肺，肺消，飲少溲多，當補肺平心，死而可治，乃心肺為賊也。</p>
<p>黃耆湯主之。</p>
<p>治消肺，飲少溲多，補肺平心，移寒在肺痿劣。黃耆（三兩），五味子，桑白皮（剉各二兩），人參（各二兩），麥門冬（去心二兩），枸杞子，熟地黃（各一兩半）</p>
<p>右為末，每服五錢，水二盞，煎至一盞，去滓，溫服無時。</p>
<h3>涌水證，主水病。</h3>
<p>肺移寒於腎，名曰涌水，其證如溢，囊裏裹漿，或徧身腫滿，按腹不堅，疾行則濯濯有聲，或咳喘不定。</p>
<p>葶藶丸主之。</p>
<p>治涌水，腹滿不堅，溢如囊裏裹漿，疾行則濯濯有聲。</p>
<p>葶藶（紙炒），澤瀉，椒目，桑白皮（剉），杏仁（去皮麩炒），木豬苓（去黑皮各半兩）</p>
<p>右為細末，煉蜜和丸，如桐子大，每服二十丸，蔥白湯下，不計時候，以利為度。</p>
<h3>膈消證，主肺門。</h3>
<p>心移熱於肺，名日膈消，二者心膈有熱，久則引飲為消渴耳。</p>
<p>麥門冬飲子主之。</p>
<p>治膈消，胸滿煩心，津液燥少，短氣，久為消渴。</p>
<p>麥門冬（二兩去心），栝蔞實，知母，甘草（炙），生地黃，人參，葛根，茯神（各一兩）</p>
<p>右為末，每服五錢，水二盞，竹葉數片，同煎至一盞，去滓溫服，食後。</p>
<h3>口糜證，主口。</h3>
<p>膀胱移熱於小腸，膈腸不便，上為口糜，心胃壅熱，水穀不化，轉下小腸。</p>
<p>柴胡地骨皮湯主之。</p>
<p>治口糜，生瘡損爛，小腸有熱，脹滿不便，宜服之。</p>
<p>柴胡（去苗），地骨皮（各等分）</p>
<p>右為末，每服三錢，水一大盞，煎至八分，去滓，食後。如有病人大段實者，加大黃，朴硝，可瀉熱甚。</p>
<h3>虙瘕證，主女病。</h3>
<p>大腸小腸移熱名虙瘕，津液耗散不能滑利，菀結而大腸閟澀。</p>
<p>檳榔圓主之。</p>
<p>治大腸有遺熱，津液壅滯，腹痛閟澀，名曰虙瘕證。</p>
<p>檳榔，大黃（剉炒），枳殼（麵炒去穰各二兩），木香，桃仁（去皮尖炒），火麻仁（另研各一兩）右為末，煉蜜和圓，如桐子大，每服十圓至十五圓，溫酒下，不計時候，湯亦得。</p>
<h3>食㑊證，主胃病。</h3>
<p>大腸移熱於胃，善食而瘦，或胃熱遺於膽，能食善飲，大勝土也。</p>
<p>參苓圓主之。</p>
<p>治食下，胃中結熱，消穀善食，不生肌肉，此名食㑊。</p>
<p>人參，菖蒲，遠志，赤茯苓，地骨皮，牛膝（酒浸各一兩）</p>
<p>右為末，煉蜜為圓，如桐子大，每服十圓至十五圓，米飲下，不計時候。</p>
<h3>鼻淵證，主鼻門。</h3>
<p>膽移熱於腦，則辛頞，鼻淵，濁涕不止如涌泉，不滲而下，久不已，衂血為患。</p>
<p>防風湯主之。</p>
<p>治鼻淵腦熱，滲下濁涕不止，久而不已，必成衂血之疾。</p>
<p>黃芩，人參，甘草（炙），麥門冬（去心各一兩），川芎（一兩），防風（去蘆一兩半）</p>
<p>右為末，每服二錢，沸湯點之，食後服，日三服。</p>
<h3>衂衊證，主失血。</h3>
<p>膽受胃熱，循脈而上於腦，陽絡溢血妄行，在鼻空衊，目瞑者。</p>
<p>定命散。</p>
<p>治膽受熱血，妄行鼻中，衊并血汗不止。</p>
<p>硃砂，水銀，麝香（各等分）</p>
<p>右為末，每服半錢，新汲水調下，不計時候，如用藥，看老幼虛實加減。</p>
<h3>鼓脹證，主胃病氣逆。</h3>
<p>病有心腹脹滿，旦食不能暮食，致令胃逆不散，大腸不傳，逆滿。</p>
<p>雞屎醴散。</p>
<p>治鼓脹，旦食不能暮食，痞滿，古法用此可擇焉。</p>
<p>大黃，桃仁，雞屎醴（乾者各等分）</p>
<p>右為末，每服一錢，水一盞，生薑三片，煎湯調下，食後臨臥服。</p>
<h3>血枯證，主婦人經病。</h3>
<p>年少，醉入房室，氣竭肝傷，故經衰少不來，肝傷則血涸，脾胃相傳，大脫其血，目眩心煩，故月事不來也。</p>
<p>烏魚骨圓主之。</p>
<p>治血涸，胸脇交滿，妨飲食，變則聞腥臊之氣，唾血出清液，前後泄血。</p>
<p>䕡茹，烏賊魚骨（各一兩）</p>
<p>右為末，雀卵不拘數，和成劑，圓如小豆大，每服五圓至十圓，煎飽魚湯下，食後此，日三服，食壓之妙矣。</p>
<p>黃帝素問宣明論方卷一終。</p>
<h1>卷二</h1>
<h2>諸證門</h2>
<h3>伏梁證，主心積。</h3>
<p>若梁之伏隱也，居臍上，逆臍下，順不可移動為水溺，故有二等。</p>
<p>鱉甲湯主之。</p>
<p>治伏梁，積氣心下如臂，痞痛不消，小便不利。</p>
<p>鱉甲（去裙欄醋炙黃色），京三稜，大腹子皮，柴胡（去等），生地黃，芍藥，當歸（各一兩），官桂，生薑（各三分切作片子焙乾）</p>
<p>右為末，每服三錢，水一大盞，入生薑，木香半錢同煎，至八分，去滓，空心溫服。</p>
<h3>瘖痱證，主腎虛。</h3>
<p>內奪而厥，舌瘖不能言，二足廢不為用，腎脈虛弱，其氣厥不至，舌不仁。經云：瘖痱，足不履用，音聲不出者。</p>
<p>黃飲子主之。</p>
<p>治瘖痱，腎虛弱，厥逆，語聲不出，足廢不用。</p>
<p>熟乾地黃，芭戟（去心），山茱萸，石斛，肉蓯蓉（酒浸焙），附子（炮），五味子，官桂，白茯苓，麥門冬（去心），菖蒲，遠志（去心等分）</p>
<p>右為末，每服三錢，水一盞半，生薑五片，棗一枚，薄荷同煎，至八分，不計時候。</p>
<h3>厥逆證，主心痛。</h3>
<p>膺腫頸痛，胸滿腹脹，上實下虛，氣厥而逆，陽氣有餘，鬱於胸也。不可鍼灸，宜服順氣湯。</p>
<p>小茯苓湯主之。</p>
<p>治厥逆病，三焦不調，升降胸膈，膺腫胸滿，腹脹，冷氣衝注刺痛。</p>
<p>赤茯苓，人參，陳皮（去白各等分），桔梗（去白）</p>
<p>右為末，每服三錢，水一盞半，生薑五片，同煎至八分，去滓，不計時候。</p>
<h3>風成寒熱證，主風。</h3>
<p>因於露風，寒熱之始，腠理次入胃，食不化熱，則消中，寒慄振動也。</p>
<p>解風散主之。</p>
<p>治風成寒熱，頭目昏眩，支體疼痛，手足麻痹，上膈壅滯。</p>
<p>人參，川芎，獨活，甘草，麻黃（去節湯洗焙各一兩），細辛（去苗）</p>
<p>右為末，每服三錢，水一盞半，生薑五片，薄荷葉少許，同煎至八分，不計時候。</p>
<h3>風成寒中證，主風。</h3>
<p>風氣與陽明入胃循脈而上至目，皆津液所生，為泣也，。</p>
<p>當歸湯主之。</p>
<p>治風邪所傷，寒中目，泣自出，肌瘦，泄汗不止。</p>
<p>當歸，人參，官桂（各三錢），乾薑（炮），白朮，白茯苓，甘草，川芎，白芍藥（各半兩），細辛（去苗半兩），陳皮（一兩去白）</p>
<p>右為末，每服三錢，水一盞半，生薑三片，棗二枚，同煎至八分，去滓熱服，不計時候，併三服。</p>
<h3>風成熱中證，主風。</h3>
<p>風氣與陽明入胃循脈而上目眥，肥人氣不外泄為熱中，目黃之病也。</p>
<p>青龍散主之。</p>
<p>治風氣，邪傳化腹內瘀結，面目黃，風氣不得泄，為熱中，煩渴引飲。</p>
<p>地黃，仙靈脾，何首烏（去黑皮酒浸一宿竹刀子切焙各一分），防風（去苗），荊芥穗（一兩）</p>
<p>右為末，每服一錢，沸湯點調下，食後，每日三服。</p>
<h3>腦風證，主風氣。</h3>
<p>氣循風府而上，則為腦風。頂背怯寒，腦戶極冷，以此為病。</p>
<p>神聖散主之。</p>
<p>治腦風，邪氣留飲不散，頂背怯寒，頭疼不可忍者。</p>
<p>麻黃（去節），細辛（去苗），乾蝎（一半生一半炒），藿葉（各等分）</p>
<p>右為末，每服二錢，煮荊芥薄荷酒調下，茶亦得。</p>
<p>井血風</p>
<p>又方治腦風，邪氣留飲，頭疼不可忍者，用遠志末，不以多少於鼻中，㗜與痛處，柔之相兼，前藥可用也。</p>
<h3>首風證，主新沐中風。</h3>
<p>中風為首風，頭面多汗，惡風，當先一日，甚至其風日則少愈。</p>
<h5>大川芎丸主之。</h5>
<p>治首風，旋暈眩急，外合陽氣，風寒相搏，胃膈痰飲，偏正頭疼，身拘倦。</p>
<p>川芎（一斤），天麻（四兩用鄆州者）</p>
<p>右為末，煉蜜為丸，每兩作十丸，每服一丸，細嚼茶酒下，食後。</p>
<h5>秘方茶酒調散</h5>
<p>治一切諸風，痰壅目澀，昏眩頭疼，心憒煩熱，皮膚痛痒，并風毒壅滯。清爽神志，通和關竅，消惡汗。</p>
<p>石膏（另為細末），香附（去須炒），細辛（去苗），菊花（各等分）</p>
<p>右為末，每服二錢，溫茶酒調下，食後，每日三服。</p>
<h3>目風眼寒證，主眼門。</h3>
<p>風入系頭，則血脈凝滯，不能上下通流於目，令風寒客之，風眼寒也。</p>
<p>石膏散主之。</p>
<p>治目風眼寒，及偏正頭疼，夾腦風，鼻出清涕，目淚痛不已。</p>
<p>石膏（二兩炭火燒研細末），川芎（一兩），甘草（半兩炙）</p>
<p>右為末，每服一錢，蔥白，好茶同煎，湯調下，食後日二服。</p>
<h3>漏風證，主酒風。</h3>
<p>飲酒中風，或汗多不可單衣，食則汗出，多如液漏，久不治，為消渴疾。</p>
<p>白朮散主之。</p>
<p>治漏不久，虛風多汗，食之汗出如洗，少者痿劣。</p>
<p>牡蠣（二錢焙赤），白朮（一兩一分），防風（二兩半）</p>
<p>右為末，每服一錢，溫水調下，不計時，如惡風，倍防風，白朮。如汗多面腫，倍牡蠣。</p>
<h3>胃風證，主風。</h3>
<p>因於失衣，風感之頸，汗多惡風，膈塞不通，寒則胃拽腹滿，氣不通。</p>
<h5>大豆蔻丸，胃風湯主之。</h5>
<p>治胃風，頸多汗，惡風，飲食不下，小腹善滿，失衣則腹脹，食寒則瀉，形瘦。</p>
<p>肉豆蔻，草豆蔻，陳皮，獨活，薏苡仁，人參，川芎（各半兩），羌活，防風，桔梗，甘草（炙），木香（各五分）</p>
<p>右為末，煉蜜為丸，如桐子大，每服四十丸，米飲下，不計時候，日進三服。</p>
<h5>胃風湯</h5>
<p>治風冷乘虛，入客腸胃，水穀不化，腸脇虛滿，㽲痛及腸胃泄毒，或下瘀血。</p>
<p>人參，白茯苓（去皮），芎藭，官桂，當歸（去苗），白芍藥，白朮（各等分）</p>
<p>右為末，每服二錢，水一大盞，入粟米百餘粒，同煎至七分，去滓熱服，空心食前。（藥與豆蔻丸為表裏也。）</p>
<h3>行痹證，主痹。</h3>
<p>風寒濕三氣，合而為痹，風氣勝者行痹，上下左右無留，隨所至作。</p>
<p>防風湯主之。</p>
<p>治行痹，行走無定。</p>
<p>防風，甘草，當歸，赤茯苓，杏仁（去皮炒熟），桂（各一兩），黃芩，秦艽，葛根（各三錢），麻黃（半兩去節）</p>
<p>右為末，每服五錢，酒水合二盞，棗三枚，薑五片，煎至一盞，去滓，溫服。</p>
<h3>痛痹證，主痹。</h3>
<p>寒勝者為痛痹，大宜宣通，陰寒為痛，宜通氣溫經而愈。</p>
<p>茯苓湯加減。</p>
<p>治痛痹，四肢疼痛，拘倦浮腫。</p>
<p>赤茯苓（去皮），桑白皮（各二兩），防風，官桂，川芎，芍藥，麻黃（去節各一兩半）</p>
<p>右為末，每服五錢，水一盞，棗一枚，煎至八分，去滓，溫服，以薑粥投之，汗泄為度，效矣。</p>
<h3>著痹證，主痹。</h3>
<p>濕氣勝為著痹，濕地水氣甚重，著而不去，多汗而濡者。</p>
<p>茯苓川芎湯主之。</p>
<p>治著痹，留注不去，四肢麻，拘攣浮腫。</p>
<p>赤茯苓，桑白皮，防風，官桂，川芎，麻黃，芍藥，當歸，甘草（炙各等分）</p>
<p>右為末，每服二錢，水二盞，棗三枚，同煎至一盞，去滓，空心溫服，如欲出汗，以粥投之。</p>
<h3>周痹證，主痹。</h3>
<p>黃帝鍼經云：在血脈之中，隨上下木痹不痛，今能上下周身，故以名之。</p>
<p>大豆孽散主之。</p>
<p>治周痹，注五臟留滯，胃中結聚，益氣出毒，潤皮毛，補腎氣。</p>
<p>大豆孽（一斤炒香熟）</p>
<p>右為末，每服半錢，溫酒調下，空心加至一錢，日三服。</p>
<h3>胞痹證，主膀胱。</h3>
<p>小腹膀胱按之內痛，若沃以湯，澀於小便，上為清涕，太陽直行從巔入循於腦，氣下灌於鼻，時出清涕不止。</p>
<p>腎著湯主之。</p>
<p>治胞痹，小便不利，鼻出清涕者。</p>
<p>赤茯苓（去皮），白朮（各四兩），甘草（三兩炙），乾薑（二兩炮）</p>
<p>右為末，每服五錢，水二盞煎至一盞，去滓溫服，日三服。</p>
<h3>腸痹證，主痹。</h3>
<p>雖多飲不得溲，不成大便，使糟粕不化，故氣喘急而飧泄。</p>
<p>木香丸主之。</p>
<p>治腸痹腹㽲痛，時發飧泄，氣不消化，小便秘澀。</p>
<p>木香，白朮，官桂，蕪荑，良薑，訶子皮（各一兩），附子（炮去皮），厚朴（生薑製），肉豆蔻（各二兩），甘草（半兩），乾薑（三分）</p>
<p>右為末，麯麵糊為丸，如桐子大，每服二十丸，薑湯下，空心。</p>
<h3>熱痹證，主痹。</h3>
<p>陽氣多，陰氣少，陽熱其陰寒，故痹。臟腑熱，熻然而悶也。</p>
<p>升麻湯主之。</p>
<p>治熱痹，肌肉熱極，體上如鼠走，唇口反縱，皮色變，兼諸風，皆治。</p>
<p>升麻（三兩），茯神（去皮），人參，防風，犀角（鎊），羚羊角（鎊），羌活（各一兩），官桂（半兩）</p>
<p>右為末，每服四錢，水二盞，生薑二塊，碎竹瀝少許，同煎至一盞，溫服，不計時候。</p>
<h3>白淫證，主虛勞。</h3>
<p>思想無窮，所願不得意，淫於外，入房太甚，筋縱發為筋痿，及為白淫太過者，白物為淫，隨溲而下，故為勞弱。</p>
<p>秘真丸主之。</p>
<p>治白淫，小便不止。精氣不固，及有餘瀝，或夢寢陰人通泄耳。</p>
<p>龍骨（一兩別研），訶子皮（大者五個用），縮砂仁（半兩去皮），硃砂（一兩研細一分為衣）</p>
<p>右為末，麵糊為丸，如菉豆大，每服一丸，空心溫酒下，冷水亦得，不可多服，大秘，蔥白湯茶下。</p>
<h3>胃脘癰證，主癰門。</h3>
<p>胃脈沈細，陽氣不得下通，寒癰陽熱聚胃口，腐壞成膿。</p>
<p>射干湯主之。</p>
<p>治胃脘癰，人迎脈逆而甚，嗽濃血，榮衛不流，熱聚胃口成癰。</p>
<p>射干（去毛），梔子仁，赤茯苓（去皮），升麻（各一兩），赤芍藥（一兩半），白朮（半兩）</p>
<p>右為末，每服五錢，水二盞煎至一盞，去滓，入地黃汁一合，蜜半合，再煎，溫服，不計時候。</p>
<h3>陽厥證，主諸氣。</h3>
<p>怒狂者，生於陽也，陽勝則氣逆，狂怒上氣，奪食即已，食入於陰，養於陽則平其氣，若陽勝，氣逆多怒。</p>
<p>羚羊角湯主之。</p>
<p>治陽厥，氣逆多怒，而頸脈腹效，已食，陰養於陽平其氣。</p>
<p>羚羊角，人參（各三兩），赤茯苓（二兩去皮），遠志（去心），大黃（炒各半兩），甘草（一分炙）</p>
<p>右為末，每服三錢，水一盞半，煎至八分，去滓，溫服，不計時候，新補又方，治陽厥，若除煩下氣，鐵洛為飲，鐵漿湯飲之，食後併服。</p>
<h3>息積證，主腹心。</h3>
<p>病脇下滿，逆氣不已，氣聚脇下，息而不消，積而不散，氣元在胃，妨飲食，不可鍼灸，宜導引服藥爾。</p>
<p>白朮丸。</p>
<p>治息積，脇下氣逆，妨悶喘息，不便呼吸，引痛不已。</p>
<p>白朮，枳實，官桂（各一兩半），人參（二兩），陳皮，桔梗（醋炒），甘草（各一錢）</p>
<p>右為末，煉蜜為丸，如桐子大，每服二十丸，溫酒下，日三服。</p>
<h3>疹筋證，主肝。</h3>
<p>人有尺脈數甚，筋急而見，腹必急數，亦為虛筋，見以名耳。</p>
<p>柏子仁散主之。</p>
<p>治疹筋，肝虛生寒，脈寒數，筋急，腹脇痞悶，筋見於外。（聖惠方中，十五味柏子仁丸亦治）。</p>
<p>柏子仁，茯苓，防風，細辛，白朮，官桂，枳殼，川芎（各三兩），附子，當歸，檳榔（各半兩）</p>
<p>右為末，每服三錢，水一盞半，生薑三片，棗二枚，同煎至八分，去滓，溫服，不計時候。</p>
<h3>厥逆頭疼證，主胃。</h3>
<p>腎虛，犯大寒頭疼，齒亦痛，痛之甚，數不已者是也。</p>
<p>以天南星丸主之。治厥頭痛，齒痛骨寒，胃脈同腎脈，厥逆頭痛不可忍之。</p>
<p>天南星（炮），硫黃（研），石膏（研），消石（研各等分）</p>
<p>右為末，麵糊為丸，如桐子大，每服二十丸，溫酒下，空心日午臨臥三時服。</p>
<h3>膽痹證，主肝。</h3>
<p>謀慮不決，膽虛氣上衝口中，上溢則口苦，是清淨之府濁擾之氣上溢。</p>
<p>益膽湯主之。</p>
<p>治膽痹，肝虛熱氣上衝，口中常苦，泄熱不已，藏府固虛致然。</p>
<p>黃芩（去朽），甘草（炙），人參（各二兩），官桂（一兩），苦參，茯神（各兩半）</p>
<p>右為末，每服三錢，水一盞煎至八分，去滓，溫服，不計時候。</p>
<h3>濡泄證，主利。</h3>
<p>內經云：濕勝則滯。甲乙經云：寒客生濡，胃泄如隨氣而下利。</p>
<p>豆蔻散主之。</p>
<p>治濡泄不止，寒客於脾胃，故傷濕而腹痛，滑利不止。</p>
<p>肉豆蔻（五個），甘草（炙），厚朴（各等分）</p>
<p>右為末，每服二錢，米飲一盞調下，食菌白湯亦得。</p>
<h3>鶩溏證，主利。</h3>
<p>脾虛，風冷陰盛，糟柏不化，大便黃黑如鶩溏，或大腸有寒也。</p>
<p>吳茱萸丸。</p>
<p>治鶩溏泄瀉不止，脾虛胃弱，大腸有寒，大便青黑，或黃利下。</p>
<p>吳茱萸（湯洗炒），乾薑，赤石脂，陳麯（炒熟），當歸（焙），厚朴（各三錢）</p>
<p>右為末，煉蜜為丸，如桐子大，每服三十丸，溫米飲下，空心服。</p>
<h3>三焦約證，主大小腸。</h3>
<p>小腹痛，不得大小便，邪氣入客，約而不行，故穀氣不得通也。</p>
<p>枳殼丸主之。</p>
<p>治三焦約，調順三約氣脈，消痞滯，利胸膈，治風，通大小便。</p>
<p>陳皮（一兩），檳榔（半兩），牽牛（四兩一半生一半熟搗取頭末一兩半餘不用），木香（一分），枳殼（二兩）</p>
<p>右為末，煉蜜為丸，如桐子大，每服十五丸，生薑湯下，食後日三服。</p>
<h3>胃寒腸熱證，主胃。</h3>
<p>胃寒，主收水穀不化，泄瀉，寒之氣在上，腸熱之氣在下，故脹而泄。</p>
<p>妙應丸主之。</p>
<p>治胃寒腸熱，水穀不化，腹脹痞滿，泄利不已。</p>
<p>川烏頭（去尖半兩），梔子仁，乾薑（生各一分）</p>
<p>右為末，生薑汁，麵糊為丸，如桐子大，每服五丸，溫酒下，食前日進二服。</p>
<h3>胃熱腸寒證，主胃。</h3>
<p>胃熱則消穀善食而饑，柰腸寒則血凝脈重，小便痛而脹。</p>
<p>青橘皮丸，又云前胡木香散亦治。</p>
<p>治胃熱腸寒，善食而饑，便溺小腹而脹痛，大便或澀。</p>
<p>青皮，京三稜，黃連，蓬莪荗（炮各一兩），巴荳霜（一分）</p>
<p>右為末，麵糊為丸，如菉豆大，每服三丸至五丸，茶酒下食。（後少與之，不可多也）</p>
<h3>控睪證，主小腸。</h3>
<p>甲乙經云：小腸病，結於腰上而不下，痛衝心肺，邪所系。</p>
<p>茴香練實丸主之。</p>
<p>治小腸病，結上而不下，痛衝心肺。</p>
<p>茴香（炒），練石（麩炒去核），石茱萸，馬練花（醋炒各一兩），陳皮（一兩），芫花（半兩醋炒）</p>
<p>右為末，醋麵糊為丸，如桐子大，每服十丸至二十丸，溫酒下，空心食前。</p>
<h3>陰疝證，主男病。</h3>
<p>足厥陰之脈，環器底。小腹腫或痛，腎虛，寒水涸渴，瀉邪補脈為治。</p>
<p>蒺藜湯主之。</p>
<p>治陰疝，牽引小腹痛，諸厥疝即陰疝也，嘻慾勞痛不可忍之。</p>
<p>蒺藜（去角炒），附子（炮去皮臍），梔子（各一兩）</p>
<p>右為末，每服三錢，水一盞半煎至六分，去滓，食前溫服。控睪證，茴香練實丸（亦治此證）。</p>
<h3>諸痹證，主風。</h3>
<p>痹迺風寒濕三氣相合而為，痹風者，百疾之長，善行數變，當汗惡風，目瞤脇痛，或走注四肢，皮膚不仁，屈伸不便。</p>
<p>升麻前胡湯主之。</p>
<p>治肝，風虛所中，頭痛目眩，胸膈壅滯，心煩痛，昏悶，屈伸不便。</p>
<p>升麻，前胡（一兩半），玄參，地骨皮（各一兩），羚羊角，葛根（各二兩），酸棗仁（一錢）</p>
<p>右為末，每服三錢，水一盞半，煎至八分，去滓，再煎三五沸，食後溫服，如行五六里，更進一服。</p>
<h3>心疝證，主心痛。</h3>
<p>心脈急，小腹有形，心不受邪，必傳於腑，故小腹有形，心氣逆不順，當痛不已，當兼心氣，治不止，為有寒邪所中。</p>
<h5>木香散主之。</h5>
<p>治心疝，小腹痛，悶絕不已者。</p>
<p>木香，陳皮（各一兩），良薑，乾薑，訶子皮，赤芍藥，枳實（各半兩），草豆蔻，黑牽牛（各三兩），川芎（三兩）</p>
<p>右為末，每服二錢，水一盞煎至七分，去滓，溫服。</p>
<h5>四聖散。</h5>
<p>治腎臟風，并一切癬。</p>
<p>白附子，白蒺藜，黃耆，羌活（各等分生用）</p>
<p>右為末，每服二錢，鹽湯調下，空心一日三服，久癬不差，十日大愈。</p>
<h5>赴筵散。</h5>
<p>治口瘡不已者。</p>
<p>密陀僧，黃柏，青黛（各等分）</p>
<p>右同研為細末，每用乾糝於瘡上，不過三二日即便愈。</p>
<h5>訶子湯。</h5>
<p>治失音不能言語者。</p>
<p>訶子（四個半炮半生），桔梗（一兩半炙半生），甘草（二寸半炙半生）</p>
<p>右為細末，每服二錢，用童子小便一盞，同水一盞，煎至五七沸，溫服。甚者不過三服即愈。</p>
<p>黃帝素問宣明論方卷二終。</p>
<h1>卷三</h1>
<h2>風論</h2>
<p>素問云：諸風掉眩，強直支痛，緛戾裏急，筋縮，皆足厥陰風木之位，肝膽之氣也。（風者，動也。動者，搖也。所謂風氣甚而主目眩運，由風木王，則是金衰不能制木，能生火，故風火多為熱化，皆陽熱多也）。風為病者，或為寒熱，或為熱中，或為寒中，或為厲風，或為偏枯，或為腰脊強痛，或為耳鳴鼻塞，諸證皆不仁，其病各異，其名不同。經云：風者，善行數變，腠理開則灑然寒，閉則熱而悶，風氣俱八行於諸脈分肉之間，與衛氣相干，其道不利，致使肌肉憤瞋而有瘍也，衛氣所凝而不行，故其肉有不仁也，分肉之間，衛氣行處，風與衛氣相薄，俱行肉分，故氣道澀而不利，氣道不利，風熱內鬱，衛氣相持，肉憤䐜而瘡出，衛氣被風鬱，不得傳徧，昇凝而不行，則肉不仁也，謂皮內𢂽而不知寒熱，痛痒如木石也。經曰：風者，百病之首也，其變化乃為他病，無常皆風氣所發也。</p>
<p>以四時五運六氣，千變萬化，衝盪推擊無窮，安得失時而絕也，故春甲乙傷於風者，為肝風。夏丙丁傷於風者，為心風。季夏戊己傷於風者，為脾風。秋庚辛傷於風者，為肺風。冬壬癸傷於風者，為腎風。</p>
<p>風中五臟六腑，自俞而入為藏府之風，肺風之狀，多汗，惡風，色白，時嗽，短氣，晝則微，暮則甚，心風之狀，（上司）善怒，色赤，病甚則言不可快。肝風善悲，色微蒼，嗌乾善怒，時憎女子。脾風，身體怠墮，四肢不收，色薄微黃，不嗜飲食。</p>
<p>腎風，面痝而浮腫，脊痛不能正立，其色如隱曲不利，又曰：風寒熱，諸疾之始生也。人之藏府，皆風之起，謂火熱，陽之本也。謂曲直動搖，風之用也。眩運嘔吐，謂風熱之甚也。夫風熱拂鬱，風大生於熱，以熱為本，而為標風。言風者，即風熱病也。氣壅滯，筋脈拘倦，肢體焦痿，頭目昏眩，腰脊強痛，耳鳴鼻塞，口苦舌乾，咽嗌不利，胸膈痞悶，咳嘔喘滿，涕唾稠粘，腸胃燥，熱結便溺，淋閉，或夜臥寢汗，咬牙睡語，筋惕驚悸，或腸胃拂鬱結，水液不能浸潤於周身，而但為小便多出者，或濕熱內鬱，而時有汗泄者，或因亡液而成燥淋閉者，或因腸胃燥鬱，水液不能宣行於外，反以停濕而泄，或燥濕往來而時結時泄者，或表之陽中正氣（衛氣是也）與邪熱相合，并入於裏，陽極似陰，而戰煩渴者，（中氣寒故戰，裏熱甚則渴），或虛氣久不已者，（經言：邪熱與衛氣并入於裏，則寒戰也。并出之於表，則發熱。大則病作，離則病已），或風熱走注疼痛麻痹者，或腎水真陰衰虛，心火邪熱暴甚而僵仆，或卒中久不語，或一切暴瘖而不語，語不出聲，或暗風癇者，或洗頭風，或破傷，或中風諸潮搐，并小兒諸疳積熱，或驚風積熱，傷寒疫癘而能辨者，或熱甚怫結而反出不快者，或熱黑陷將死，或大人小兒風熱瘡疥，及久不愈者，或頭生屑，徧身黑黧，紫白斑駮，或面鼻生紫赤風刺癮疹，俗呼為肺風者，或成風癘。世傳為大風疾者，或腸風痔漏，并解酒過熱毒，兼解利諸邪所傷，及調理傷寒，未發汗，頭項身體疼痛者，并兩感諸證，兼治產後血液損虛，以致陰氣衰殘，陽氣鬱甚為諸熱證，腹滿澀痛，煩渴喘悶，譫妄驚狂，或熱極生風而熱燥鬱，舌強口噤，筋惕肉瞤，一切風熱燥證，鬱而惡物不下，腹滿撮痛而昏者，（惡物過多而不吐者），不宜服之，兼消除大小瘡及惡毒，兼治墮馬打撲傷損疼痛，或因而熱結，大小便澀滯不通，或腰腹急痛，腹滿喘悶者。</p>
<h5>防風通聖散</h5>
<p>防風，川芎，當歸，芍藥，大黃，薄荷葉，麻黃，連翹，芒硝（各半兩），石膏，黃芩，桔梗（各一兩），滑石（三兩），甘草（二兩），荊芥，白朮，梔子（各一分）</p>
<p>右為末，每服二錢，水一大盞，生薑三片，煎至六分，溫服，涎嗽加半夏（半兩薑製）。</p>
<h5>賈同知通聖散</h5>
<p>防風，芍藥（各二錢半），甘草（三兩），荊芥（三錢半），薄荷（一兩），黃芩（一兩），白朮（一分），石膏（一兩），川芎（半兩），滑石（三兩），當歸（半兩），大黃（半兩），麻黃（半兩），山梔子（一分），連翹（半兩），桔梗（一兩），無芒硝，無縮砂。</p>
<h5>崔宣武通聖散</h5>
<p>防風，芍藥，荊芥，當歸，白朮，山梔子（各一分），川芎，大黃，薄荷，連翹，黃芩，桔梗，縮砂（各半兩），甘草，石膏（各一兩），滑石（三兩）。</p>
<h5>劉庭瑞通聖散</h5>
<p>此方有縮砂無芒硝，其餘皆同，緣庭瑞於河間守真先生札師傳之，隨從二年，始受於方，斯且取為端，而可准憑以用之，兼庭瑞以用治病百發百中，何以疑之，因錄，但庭瑞臨時以意加減，一依前法，嗽加半夏半兩，生薑製。</p>
<h5>防風天麻散</h5>
<p>治風，麻痹走注，肢節疼痛，中風偏枯，強暴瘖不語，內外風熱壅滯，解昏眩。</p>
<p>防風，天麻，川芎，羌活，香白芷，草烏頭，白附子，荊芥穗，當歸（焙），甘草（各半兩），滑石（二兩）</p>
<p>右為末，熱酒化蜜少許，調半錢加至一錢，覺藥力運行微麻為度，或煉蜜為丸，如彈子大，熱酒化下一丸，或半丸，（細嚼白湯化下亦得），散鬱結，宣通氣。如甚者，更服防風通聖散。</p>
<h5>犀角丸</h5>
<p>治風癇，日發作有時，揚手擲足，口吐痰涎，不省人事，暗倒屈伸。</p>
<p>犀角（末半兩），赤石脂（三兩），朴硝（二兩），白僵蠶（一兩），薄荷葉（一兩）</p>
<p>右為末，麵糊為丸，如桐子大，每服二十丸至三十丸，溫水下，日三服，不計時候，如覺痰多即減丸數，忌油膩物，風痓病，目直卒中，口噤，背強如弓臥，搖動手足，搐搦，（無汗名剛為陽痓，有汗名柔為陰痓），通三一承氣下妙。</p>
<h5>搜風丸</h5>
<p>治邪氣上逆，以致上實下虛，風熱上攻，眼目昏，耳鳴鼻塞，頭痛眩運，躁熱上壅，痰逆涎嗽，心腹痞痛，大小便結滯，清利頭面，鼻聰耳鳴，宣通血氣。</p>
<p>人參，茯苓，天南星（半兩），乾生薑，藿香葉（一分），白礬（生各二兩），蛤粉（二兩），寒水石（一兩），大黃，黃芩（二兩），牽牛（四兩），薄荷葉（半兩），滑石（四兩），半夏（四兩）</p>
<p>右為末，滴水為丸，如小豆大，每服十丸，生薑湯下，加至二十丸，日三服。</p>
<h5>川芎石膏湯</h5>
<p>治風熱上攻頭面，目昏眩，痛悶，風痰喘嗽，鼻塞口瘡，煩渴淋閟，眼生翳膜，清神利頭，宣通氣血，中風偏枯，解中外諸邪，調理諸病，勞復傳染。</p>
<p>川芎，芍藥，當歸，山梔子，黃芩，大黃，菊花，荊芥穗，人參，白朮（各半兩），滑石（四兩），寒水石（二兩），甘草（三兩），桔梗（二兩），縮砂仁（一分），石膏，防風，連翹，薄荷葉（各一兩）</p>
<p>右為末，每服二錢，水一盞，煎至六分，去滓，食後水調亦得，忌薑醋發熱物。</p>
<h5>川芎神功散</h5>
<p>治風熱上攻，偏正頭痛，無問微甚久新，頭面昏眩，清神。</p>
<p>川芎（四錢），甘草（一分），川烏頭，吳白芷，天南星，麻黃（各半兩）</p>
<p>右為末，每服二錢，水一盞，生薑三片，煎至半盞，投清酒半盞，避風。</p>
<h5>換骨丹</h5>
<p>治癱瘓中風，口眼喎斜，半身不遂，并一切風癇暗風，並宜服之。頌曰：我有換骨丹，傳之極幽秘，疏開病者心，扶起衰翁臂，氣壯即延年，神清自不睡，南山張仙翁，三百八十歲，槐皮芎木芷，仙人防首蔓，十件各停勻，苦味香減半，龍麝即少許，硃砂作衣纏，麻黃煎膏丸，大小如指彈，脩合在深房，勿令陰人見，夜臥服一粒，遍身汗津滿，萬物自消除，神仙為侶伴。</p>
<p>麻黃（煎膏），仙朮，香白芷，槐角子（取子），川芎，人參，防風，桑白皮，苦參，威靈仙，何首烏，蔓荊子，木香，龍腦（研），硃砂（研），麝香（研），五味子</p>
<p>右為末，桑白單搗，細秤，以麻黃膏和就杵，一萬五千下，每兩分作十丸，每服一丸，以硬物擊碎，溫酒半盞，浸以物蓋，不可透氣，食後臨臥一呷嚥之，衣蓋覆，當自出汗即瘥，以和胃湯調補，及避風寒，茶下半。</p>
<h5>鉛紅散</h5>
<p>治風熱上攻陽明經絡，面鼻紫色，刺癮疹。（俗呼為肺風者，以肺主鼻，而又淺在皮膚之內，皮膚屬於肺）。</p>
<p>舶上硫黃，白礬灰（半兩）</p>
<p>右為末少許，入黃丹染，與病人面色同，每上半錢，津液塗之，（洗嗽罷，臨臥再服防通聖散），效速。</p>
<h5>神芎散</h5>
<p>治風熱上攻，頭目眩痛，上壅鼻，并牙齒悶痛。</p>
<p>川芎，鬱金（各二錢），荊芥穗，薄荷葉，紅豆（各一分）</p>
<p>右為末，入盆硝二錢，研勻，鼻內㗜三二剜耳許，力慢加藥，病甚，兼夜㗜。</p>
<h5>萬靈丸</h5>
<p>治腎藏一切耳鳴腰疼，筋骨痛。</p>
<p>赤芍藥，五靈脂，防風，草烏頭（二兩炮），黃耆，細辛，海桐皮，山茵陳，骨碎補，地龍（各八錢），黑狗脊（二兩），牛膝子，何首烏，蔓荊子，白附子，川烏頭，巨勝（各八錢），仙朮（一兩），芫花（三錢炒），黑牽牛（半兩），青皮（二錢），御米子（二錢炒）</p>
<p>右為末，酒麵糊為丸，如桐子大，每服十丸至二十丸，溫酒下，空心食前服。</p>
<h5>伊祁丸</h5>
<p>治腰腳拳攣，鶴膝風，筋縮。</p>
<p>伊祁（頭尾全者），桃仁（生），白附子，阿魏，桂心，白芷，當歸，北漏盧，安息香（用胡桃穰研），芍藥，牛膝，地骨皮，威靈仙，羌活（各等分）</p>
<p>右為末，麵糊為丸，如彈子，空心，每服溫酒化下一丸。</p>
<h5>祛風丸</h5>
<p>治中風偏枯，手足戰掉，語言蹇澀，筋骨痛。</p>
<p>菉豆粉，川烏頭（炮），草烏頭（炮），天南星，半夏（各一兩），甘草，川芎，藿香葉，苓苓香，地龍，蝎梢（各三錢），白僵蠶（淘米甘浸去絲），川薑（半兩炮）</p>
<p>右為末一兩，用菉豆粉一兩（又一法），用藥一兩，以白麵二兩，滴水為丸，如桐子大，量人虛實加減，細嚼，茶酒下五丸至七丸，食後初服三丸漸加。</p>
<h5>舒筋散</h5>
<p>治婦人血氣，并產後風熱搐搦，舒筋，俗雞爪風。</p>
<p>人參，川芎，官桂，丁香（各半兩），木香，天麻（酒浸焙各一兩），井泉石（四兩別為末）</p>
<p>右為末，每服三錢，井泉末三錢，大豆半升，淨淘，好酒一大升，煮豆，軟去豆，用豆汁，酒調下，後以酒送下，蓋覆汗出為效。</p>
<h5>勝金丸</h5>
<p>治風熱，驚駭不時旋運，潮搐，口吐痰沬，忽然倒地，不省人事，名曰癇病。</p>
<p>白僵蠶，細辛，天南星，皂角（炙黃），川烏頭（生），烏蛇（真者好酒浸去骨），白礬枯，桔梗，威靈仙，何首烏，草烏頭，荊芥穗，川芎（各二兩）</p>
<p>為末，酒麵糊為丸，如桐子大，每服十丸，食後溫酒下。</p>
<h5>比金散</h5>
<p>治傷寒畏風，頭目痛，四肢拘倦，鼻塞。</p>
<p>麻黃，白芷，細辛，荊芥穗，菊花，防風，石膏，何首烏，川芎，薄荷，乾蝎，草烏頭（各等分）</p>
<p>右為末，每服一錢，水一盞煎，溫服，酒茶亦得。</p>
<h5>神白丹</h5>
<p>治傷寒積熱，及風生驚搐，或如狂病，諸藥不效，此方不可盡述。</p>
<p>鈆白霜（一分），輕粉（半兩），粉霜（一兩用白麵六錢和作餅子炙熱同研）</p>
<p>右為末，滴水為丸，桐子大，每服十丸至十五丸，米飲下，量虛實加減。</p>
<h5>桃仁丸</h5>
<p>治一切風毒，徧身疼痛，四肢拘急。</p>
<p>草烏頭（生用），五靈脂（三兩），桃仁（取霜一兩）</p>
<p>右為末，酒煮麵糊丸，如桐子大，以青黛為衣，嚼胡桃仁，以溫酒下五丸，食後，加減。</p>
<h5>瓜蒂神妙散</h5>
<p>治頭目昏眩，偏正頭痛等。</p>
<p>燄硝，雄黃，川芎，薄荷葉，道人頭，藜蘆（各一分），天竺黃（一錢半，如無，以蔚金代之）右為末，研細，含水鼻中，㗜壹字神驗。</p>
<h5>清風散</h5>
<p>治頭目昏眩，咽膈不利，痰涎壅塞。</p>
<p>石碌（一錢），硃砂，牙硝，雄黃（各二分），龍腦（一字），瓜蒂（二錢），滑石，赤小豆（半錢），皂角（一字去皮炙黃取末）</p>
<p>右為極細末，每服半錢，新汲水調下，如噤不省人事，滴水鼻中，或健者可治，為驗。</p>
<h5>靈砂丹</h5>
<p>治破傷風，一切諸風等。</p>
<p>威靈仙，黑牽牛，何首烏，蒼朮（半兩），香附子（六兩），川烏頭（去尖），硃砂，沒藥，乳香（各三錢），陳皂角（四錢炙黃去皮）</p>
<p>右為末，把皂角打破，用酒二升半，春夏三日，秋冬七日，取汁打，麵糊為丸，如桐子大，每服五丸，如破傷風，煎鰾酒下。如牙疼赤眼，搥碎研三五丸，鼻㗜之。</p>
<h5>天麻散</h5>
<p>治頭頂痛，頭面腫，拘急，風傷榮衛，發燥熱。</p>
<p>川芎，細辛，苦參，地骨皮，菖蒲，何首烏，蔓荊子，薄荷葉，杜錢黎，牛旁子，荊芥穗，虼蚾草，威靈仙，防風，天麻（一兩），甘草（二兩炙）</p>
<p>右為末，每服二三錢，研蜜水調下，茶水任，不計時。</p>
<h5>薄荷白檀湯（新補）</h5>
<p>治風壅，頭目眩，鼻塞煩悶，精神不爽，消風化痰，清頭目。</p>
<p>白檀（一兩），荊芥穗（二兩），薄荷葉（四兩），栝蔞根（二兩），甘草（四兩炙），白芷（二兩），鹽（四兩），縮砂仁（半兩）</p>
<p>右為末，每服一錢，百沸湯點，食後臨臥，稍熱溫服。</p>
<h5>菊葉湯</h5>
<p>治一切風，頭目昏眩，嘔吐，面目浮腫者。</p>
<p>菊花（去梗），羌活，獨活，旋覆花，牛旁子，甘草（各等分）</p>
<p>右為末，每服二錢，水一盞，生薑三片，同煎至七分，去滓，溫服，食後。</p>
<p>黃帝素問宣明論方卷三終。</p>
<h1>卷四</h1>
<h2>熱論</h2>
<p>黃帝曰：病熱當何禁之？岐伯曰：病熱少愈，食肉則復，多食則遺，此其禁也。因熱稍愈，猶未盡除，不戒飲食勞動，情慾擾亂，柰脾胃氣虛，未能消化堅食，故熱復生，五臟者皆熱。</p>
<p>夫熱病者，傷寒之類也，人之傷於寒則為病熱，寒毒藏於肌膚，陽氣不行，散發而內為怫結，故傷寒者，反病為熱，熱雖甚，不死。柰巨陽為首，巨陽者，諸陽之屬也。</p>
<p>諸陽為熱以氣，諸陰為寒以血，熱病已愈，其有復作，謂病已衰而熱有作，所藏因其穀氣相薄，兩熱相合，故有所遺緣熱也，雖邪氣而不盡，遺熱在，故當復作。</p>
<p>五藏俱熱者，皆視之。肝熱在頰先赤，心熱顏先赤，脾熱鼻先赤，肺熱右頰先赤，腎熱頤先赤。肝熱者，小便黃，腹痛，多臥，身熱，熱爭則狂驚，脇滿手足躁而不得安臥。心熱者，不樂，數日乃熱，熱爭則卒心痛，煩悶善嘔，頭痛面赤，無汗。脾熱者，頭重頰痛，煩心顏青，欲吐身熱，熱爭則腰痛不可仰，腹滿泄，兩頷痛。肺熱者，淅然厥起毫毛，惡風寒，舌上黃，身熱，熱爭則喘咳，痛走胸背，不得太息，頭痛不堪汗出而寒。腎熱者，腰痛胻痠，苦渴數飲，食熱，熱爭則項痛而強，胻寒且痠，足下熱不欲言，經曰：汗出脈躁盛，一死。脈不與汗相應其病，二死。狂言失志者，三死。皆是怫鬱結不能解散，以致危殆。</p>
<p>素問諸熱瞀瘛，暴瘖冒昧，躁擾狂言，罵詈驚駭，胕腫疼痠，氣逆，皆手少陽相火，心胞絡三焦之氣也。</p>
<p>夫腎水真陰本虛，心火狂陽積熱以甚，以致風熱壅滯，頭面昏眩，肢體麻痹，皮膚瘙痒，筋脈拘倦，胸膈痞滿，時或痛悶，或鼻窒鼽衂，口舌生瘡，咽喉不利，牙齒疳蝕，或徧身生瘡，癬疥，或睡語咬牙，驚惕虛汗，或健忘心忪，煩燥多睡，或大小便澀滯，或煩熱腹滿，或酒過積毒，勞役過度，中外一切勞損，神狂氣逆，心志不寧，口苦咽乾，飲食減少，變生風熱諸病，虛羸困倦，或酒病瘦悴，及老弱虛人，或脾腎經虛，風熱燥鬱，色黑齒宣，身瘦焦痿，或熱中煩滿，飢不飲食，或癉，或消中善食而瘦，或消渴多虛，頭面腫，小便數，或服甘辛熱藥過度，變成三消，上則消渴，中則消中，下則消腎。小便白膏也。</p>
<h5>神芎丸</h5>
<p>治一切熱證，常服保養，除痰飲，消酒食，清頭目，利咽膈，能令徧身結滯宣通，氣利而愈，神強體健，耐傷省病，并婦人經病，及產後血滯，腰腳重痛，小兒積熱，驚風潮搐。藏用丸，亦曰顯仁丸，加黃連，薄荷，川芎各半兩，名曰神芎丸。</p>
<p>大黃，黃芩（各二兩），牽牛，滑石（各四兩）</p>
<p>右為細末，滴水為丸，如小豆大，溫水下，十丸至十五丸，每服加十丸，日三服，冷水下亦得，或煉蜜丸愈佳，或久病熱鬱，無問瘦悴老弱，并一切證可下者，始自十丸，每服加十丸，以利為度，如常服此藥，但除腸垢積滯，不傷和氣，推陳致新，得利便快，並無藥燥搔擾，亦不困倦虛損，頗遂病人心意，或熱甚必須急下者，便服四五十丸，未利再服，以意消息，三五歲孩兒，丸如麻子大，凡此一法，此藥至善，常服二三十丸，不利藏府，但有益無損。或婦人血下惡物，加桂枝半兩，病微者常服，病重者亦取利，因而結滯開通，惡物自下也。此方除藏府滑泄者，或重寒脈遲者，或婦人經病，產後血下不止者，及孕婦等，則不宜服。除此以外，一切風熱雜病，悶壅塞，神氣不和，或平人保養，常服自顯其功。若以效驗觀其藥味，則非明本草造化之理者，不可得而知其然也，猶孔子讚易道，明顯應化萬仁之善，而不見其大道之功用。故曰：顯諸仁，藏諸用。因以云藏用丸，亦其義也。兼以世訛之久矣，而反不喜此等妙方，不肯服之，每有久獲大效，而誠懇求其方，不得已而授之，既見其方，反生疑懼，不復用焉。亦有效而志信求其方，務以廣傳救疾，因而眾議百端，擬疑妄生謗說，使致俗醫皆畏之，致道不能神，但有妨病者，後之君子但行其藥明顯諸人，勿示其方而密藏諸用耳。或以一法加黃連，川芎，薄荷等各半兩，治一切頭目昏眩者愈佳。</p>
<h5>柴胡飲子</h5>
<p>治解一切肌骨蒸積熱作，發寒熱往來，（表熱裏和則發寒，裏熱表和則發熱，邪熱半在表，半在裏，出入進退無和，即寒熱往來，陰陽相勝也），畜熱寒戰，（表之陽和正氣，與邪熱并畜於裏，脈道不行，故身冷脈絕寒戰，而反煩渴也），及傷寒發汗不解，或中外諸邪熱，口乾煩渴，或下後熱未愈，汗後勞復，或骨蒸肺痿喘嗽，婦人餘疾，產後經病。</p>
<p>柴胡，人參，黃芩，甘草，大黃，當歸，芍藥（各半兩）</p>
<p>右為末，每服炒三錢，水一盞，生薑三片，煎至七分，溫服，日三服，病熱甚者加減之。</p>
<h5>崔宣武柴胡飲子</h5>
<p>加半夏，五味子，桔梗（各三錢）。</p>
<h5>劉庭瑞柴胡飲子（與前分兩不同故以錄之）</h5>
<p>柴胡，甘草（二兩），黃芩，當歸，芍藥，大黃（各一兩），人參，半夏（各五錢）</p>
<p>右為大勞熱病，五七錢，以利為度，未利更加使病不再發也。</p>
<h5>木香萬安丸</h5>
<p>治一切風熱怫鬱，氣血壅滯，頭目昏眩，鼻塞耳鳴，筋脈拘倦，肢體焦痿，咽嗌不利，胸膈痞塞，腹脇痛悶，腸胃燥澀，淋閟不通，腰腳重痛，疝瘕急結，痃癖堅積，腸滯胃滿，久不了絕，走注疼痛，瘖風，癇病，濕病，腹脹水腫。</p>
<p>木香，揀桂，甘遂（各一分），牽牛（二兩），大戟（半兩），大黃，紅皮，榔榔（各一兩），皂角（二兩，要得肥好者，洗淨，水三盞，煮三二沸，取出搥碎，揉取汁，再煮成稠膏，下蜜熬二沸，便取出），半夏，蜜（各一兩）</p>
<p>右膏丸，小豆大，每服十丸至十五丸，生薑湯下，小兒丸如麻子大，水腫癇病諸積，快利為度。</p>
<h5>玉芝徐老丸</h5>
<p>治一切風壅，消痰利膈，胸脇痞悶，美飲食，調五味。（徐老緩慢遲老）</p>
<p>天南星，乾薑（各半兩），黃柏（一兩半），牽牛（四兩），半夏，白礬，大黃（各一兩），蛤粉（二兩）</p>
<p>右為末，滴水和丸，如小豆大，每服十丸至二十丸，溫水下，食後日三服，常服順氣調血，令人徐老，或已衰大便結者，除腸垢積物，可漸加至三五十丸，孕婦滑泄病，忌服。滑泄為牽牛大黃，孕婦為南星半夏。</p>
<h5>消痞丸</h5>
<p>治積濕熱毒甚者，身體面目黃，心脇腹滿，嘔吐不能飲食，痿弱難以運動，咽嗌不利，肢體焦尪，眩悸膈熱，坐臥不寧，心火有餘而妄行，上為咳血衂血，下為大小便血，腸風痔瘻，三焦壅滯，閟癉，熱中消渴，傳化失常，小兒疳積熱。</p>
<p>黃連，乾葛（各一兩），黃芩，大黃，黃柏，梔子，薄荷，藿香，厚朴，茴香（炒各半兩），木香，辣桂（各一分），青黛（一兩研），牽牛（二兩）</p>
<p>右為細末，滴水丸，如小豆大，每服十丸，新水下，溫水亦得，小兒丸如麻子大，病本濕熱內甚，本自利者，去大黃，牽牛，忌發熱諸物。</p>
<h5>和中丸</h5>
<p>治口燥舌乾，咽嗌不利，胸脇痞滿，心腹痛悶，小便赤澀，大便結滯，風氣怫鬱，頭目昏眩，筋脈拘急，肢體疼倦，一切風壅。常服寬膈，美食消痰，止逆。</p>
<p>牽牛（一兩），官桂（一分），大黃，紅皮，黃芩，茴香（各半兩），木香（一分），滑石（二兩）</p>
<p>右為末，滴水丸，如小豆大，每服二十丸，煎生薑湯下，溫水亦得，日三服。</p>
<h5>崔宣武和中丸</h5>
<p>大黃（一兩），茴香（炒），外七味同。</p>
<h5>龍腦丸</h5>
<p>治大小人一切蘊積熱，毒氣不散，及失○癮疹。</p>
<p>龍腦，硃砂，硼砂，牛黃（各等分）</p>
<p>右為末，鎔黃蠟為丸，如米粒大，每服三五丸，炙甘草人參湯下，不計時候。</p>
<h5>大金花丸</h5>
<p>治中外諸熱，寢汗咬牙，睡語驚悸，溺血淋閟，咳衂血，瘦弱頭痛，并骨蒸肺痿。喘氣，去大黃。○又自各既濟解化丸，○又名既濟解化丸。</p>
<p>大梔子，黃柏，黃芩，大黃（各半兩）</p>
<p>右為末，滴水丸，如小豆大，每服三二十丸。新汲水下，自利去大黃，加梔子。小兒丸如麻子大，三五丸。</p>
<h5>當歸龍腦丸</h5>
<p>治腎水，陰虛風熱，蘊積時發，驚悸筋惕，神志不寧，榮衛壅滯，頭目昏眩，肌肉瞤瘛，胸膈痞塞，咽嗌不利，腸胃燥，小便溺閟，筋脈拘奇，（奇，癇急也，重也），肢體痿弱，暗風癇病，小兒急慢驚風，常服宣通血氣調順陰陽，病無再。</p>
<p>當歸（焙），龍膽草，大梔子，黃連，黃柏，黃芩（各一兩），大黃，蘆薈，青黛（各一兩），木香（一分），麝香（半錢）</p>
<p>右為末，煉蜜和丸，如小豆大，小兒如麻子大，生薑湯下，每服二十丸，忌發熱諸物，兼服防風通聖散。</p>
<h5>軟金丸</h5>
<p>治一切熱疾，常服潤飢膚○老，諸熱證皆可服。</p>
<p>大黃，牽牛，皂角（各三兩），朴硝（半兩）</p>
<p>右為末，滴水和丸，如桐子大，每服三十丸，白湯下，自十丸服至三十丸，食後。</p>
<h5>妙香丸</h5>
<p>治一切久遠沈積，傷寒結胸，太陽厥證，燥鬱不開者，皆可服此藥，亦名大聖丸。</p>
<p>巴豆（去皮不出油），膩粉，碙砂，龍腦，麝香，牛黃（少許），硃砂（各分），水銀（各一錢錫結砂子）</p>
<p>右為末，煉蜜和丸，又一方用䗶丸，如皂子大，用藥時急要動一丸，分作三丸劄作眼子，冷水浸煎，大黃湯下，然後服熱茶一碗便行也，局方內無碙砂，加金薄。</p>
<h5>妙功藏用丸（新補）</h5>
<p>亦名顯仁丸，又名神芎丸，治嘔噦不食，痿弱難運，血溢血泄，淋閟不通，或泄利三焦壅滯，傳化失常，功不可述，並宜服之。</p>
<p>大黃，黃芩，黃連（各半兩），黑牽牛（一兩），滑石（二分），荊芥穗（二兩），防風（一分），川芎（一兩），木香（二分），官桂（三分去皮）</p>
<p>右為末，滴水為丸，如小豆大，每服二十丸三十丸，生薑湯下，日三服，溫水亦得。</p>
<p>黃帝素問宣明論方卷四終。</p>
<h1>卷五</h1>
<h2>傷寒門</h2>
<h3>主療說</h3>
<p>傷寒表證，當汗而不可下，裏證當下而不可汗，半在表半在裏則當和解，不可發汗吐下，在上則通之，在下則泄之，傷寒無汗，表病裏和，則麻黃湯汗之，或天水散之類亦佳，表不解，半入於裏半尚在表者，小柴胡湯和解之，或天水涼膈散，甚良，表裏熱勢俱甚者，大柴胡湯微下之，更甚者，大承氣湯下之。表熱多裏熱少者，天水一涼膈半和解之，裏熱多表熱少，未可下之者，涼膈天水一半調之，勢更甚者，小承氣湯下之，表證解但有裏證者，大承氣湯下之，凡此諸可下者，通宜三一承氣湯下之，發汗不解，下後前後別無異證者，通宜涼膈散調之，以退其熱，兩感倣此而已，傷風自汗表病裏和者，桂枝湯解肌。半在表半在裏，白虎湯和解之。病在裏者，大承氣湯下之。一法無問風寒暑濕，有汗無汗，內外諸邪所傷，但有可下諸證，或表裏兩證俱不見而日深，但目睛不了了睛不和者，或腹滿實痛者，或煩渴，或譫妄，或狂躁喘滿者，或畜熱極而將死者，通宜大承氣湯下之，或三一承氣湯尤良，傷寒大發汗，汗出不解反無汗，脈尚浮者，蒼朮白虎湯再解之。</p>
<p>或中暑，自汗大出，脈虛弱，頭痛口乾，倦怠煩躁，或時惡寒，或畏日氣，無問表裏，通宜白虎，或裏熱勢甚，腹滿而脈沈可下者，宜大承氣湯，或三一承氣湯。傷寒表熱極甚，身疼頭痛不可忍，或眩或嘔，裏有微熱，不可發汗吐下，擬以小柴胡，天水涼膈之類和解，恐不能退其熱勢之甚，或大下後，再三下後，熱勢尚甚不能退，本氣虛損，而脈不能實擬，更下之恐下脫而立死，不下亦熱極而死，寒涼之藥，不能退甚熱，勢之甚者，或熱濕內餘，下利不止，熱不退者，或因大下後，熱退利不止，熱不退脈弱氣虛，不可更下者，或諸濕熱內餘，小便赤澀，大便溏泄，頻併少而急痛者，必欲作利也，須宜黃連解毒湯。</p>
<p>或裏熱極甚，而恐陰氣不能退者，或已下後熱不退者，或畜熱內甚，陽厥極深，以至陽氣沈細而不能營運於身，陰欲絕而以致徧身青冷，痛甚不堪，項背拘急，目赤睛疼，昏眩恍惚，咽乾或痛，躁渴虛汗，嘔吐下利，腹滿實痛，煩痞悶亂，喘息急聲，脈雖疾數，以其畜熱極深而脈道不利，以致脈沈細而欲絕，俗未明其造化之理，而反傷熱寒極陰毒者，或始得之，陽熱暴甚而便有此證者。</p>
<p>或兩感勢甚者，通宜解毒湯加大承氣湯下之，熱不退者再下之，然雖古人皆云，三下熱不退即死矣，亦有按法以下四五次，利一二十行，熱方退而救活者，免致不下退其熱而必死也，下後熱稍退而未愈者，黃連解毒湯調之，或微熱未除者，涼膈散調之，或失下熱極，以至身冷脈微，而昏冒將死者，若急下之，則殘陰暴絕，陽氣後竭而立死，不下亦死，當以涼膈散，或者黃連解毒湯，養陰退陽，畜熱漸以消散，則心胸腹暖，脈漸以生，至陽脈復有力者，方可以三一承氣湯微下之，或解毒加大承氣湯尤良，或下後微熱不解者，涼膈散調之，愈後但宜退熱之藥，忌發熱諸物，陽熱易為再作也。</p>
<h3>論風熱濕燥寒</h3>
<p><b>諸風：</b>風本生熱，以熱為本，風為標，言風者，即風熱病也。</p>
<p><b>諸熱：</b>熱甚而生風，或熱微風甚，即兼治風熱，或風微熱甚，但治其熱，即風自消也。</p>
<p><b>諸濕：</b>濕本土氣，火熱能生土濕，故夏熱則萬物濕潤，秋涼則濕復燥乾也，濕病本不自生，因於火熱怫鬱，水液不能宣行，即停滯而生水濕也，凡病濕者，多自熱生，而熱氣尚多以為兼證，當云濕熱，亦猶風熱，義同，雖病水寒，不得宣行，亦能為濕，雖有此異，亦以鮮矣。或跗腫體寒而有水者，以為畜熱入裏極深，本非病寒也，及夫寒熱吐瀉，因得濕而成也。</p>
<p><b>諸燥：</b>燥乾者，金肺之本，肺藏氣，以血液內損，氣虛或風則皴揭，風能勝濕，熱能耗液，皆能成燥，故經云：風熱火兼為陽，寒濕燥同為陰。又燥濕亦異也，然燥金雖屬秋陰，而其性異於寒濕，燥陰盛於風熱，火也，故風熱甚。而寒濕同於燥也，然中寒，吐瀉亡液而成燥者，亦以此矣。故經云：諸澀枯涸，乾勁皴揭，皆屬於燥也。</p>
<p><b>諸寒：</b>寒者上下所生，水液澄徹清冷，穀不化，小便清白，不澀，身涼不渴，本末不經有見陽熱證，其脈遲者是也，此因飲食冷物過多，陰勝陽衰，而為中寒也，或冷熱相併，而反陽氣怫鬱不能宣散，怫熱內作以成熱證者，不可亦言為冷，當以成證辨之，夫濕熱吐瀉當見陽脈，若亡液氣虛亦能反見諸陰脈也，當以標本明之，不可妄治，或熱證誤服白朮調中湯，溫藥亦能開發陽氣，宣通而愈，別無加害也。</p>
<h3>傷寒表證</h3>
<p>夫傷寒之候，頭項痛，腰脊強，身體拘急，表熱惡寒，不煩躁，無自汗，或頭面痛，肌熱鼻乾，或胸滿而喘，手足指末微厥，脈浮數而緊者，邪熱在表，皆麻黃湯發汗之證也。或天水散之類甚佳。</p>
<h3>傷寒表裏證</h3>
<p>傷寒身熱，為熱在表，引飲或小便黃赤，熱在裏，身熱渴或小便黃赤，為表裏俱有熱，涼不渴，小便清白，為表裏俱無熱，身疼拘急，表熱惡寒而脈浮者，皆為熱在表也，引飲譫妄，腹滿實痛，發熱而脈沈者，皆為熱在裏也，胸脇痞痛，或嘔而寒熱往來，脈在肌肉者，邪半在表半在裏也。</p>
<h3>內外傷</h3>
<p>始得病，脈便沈而裏，病表和者，內傷也，脈浮而表病裏和者，外傷也。病在身體頭面四肢為表病，在胸腹之內為裏病也。</p>
<h3>傷寒論</h3>
<p>夫風寒者百病之始也，是四時八節不正疫癘之氣，故云，春氣溫和，夏氣暑熱，秋氣清涼，冬氣冰冷，乃四時之正氣，冬時嚴寒，萬類深藏，君子固密則不傷於寒，觸冒之者，乃傷耳，春應煖而反寒，夏應熱而反冷，秋應涼而反熱，冬應寒而反溫，非時而邪氣，是以辛苦之人，一歲之中病無少長，始自一日，巨陽膀胱受之，巨陽者，三陽之首，故先受之。二日陽明胃受之，三日少陽膽受之，未入其藏可汗之。四日太陰脾受之，五日少陰腎受之，六日厥陰肝受之，其人藏可泄之，經云：其未滿三日，汗之而已。其滿三日，泄之而已。故聖人論汗下，大概言之，以脈分別，三四日脈沈伏，亦當下，六七日脈浮滑，亦可汗。故傷寒傳足經，不傳手經。未詳耳。且自人身十二經絡分布上下手足，各有三陰三陽，稟天地之氣，天樞之上，同天之陽。天樞之下，同地之陰，至真大論云：身半以上，其氣三矣。天之分也，天氣主之，身半以下，其氣三矣，地之分也。地氣主之。（注云）：當陰之分，冷病歸之，當陽之分，熱病歸之，有八節邪氣所中於人，陽邪為病，傳手經。陰邪為病，傳足經。其邪自何而入？自風池而入，為脊骨兩傍一寸五分，是十二經之俞穴，春夏應陽，秋冬應陰。至真大論云：寒暑溫涼，盛衰之用，其在四維，故陽之動始於溫盛於暑，陰之動始於涼盛於寒，春夏秋冬各差其分。易云：水流濕，火就燥，熱論云：熱病者，皆傷寒之類也，人之傷於寒則為病熱，熱雖不死，大陰明陽論云：陽受風氣，陰受濕氣。（注云）同氣相求耳。又曰：傷於風者上先受之，傷於濕者下先受之。（注云）陽氣炎上，故受風。陰氣潤下，故受濕，蓋同氣相合耳。故風熱火為陽，寒濕燥為陰。（刺熱論云）：五藏俱有熱病，肝熱病，左頰先赤，心熱病，顏先赤，脾熱病，鼻先赤，肺熱病，右頰先赤，腎熱病，腮先赤，（甲乙熱論云）：有手足太陰熱病，有手足少陰熱病，有手足厥陰熱病，熱論其三陰三陽，五藏六府皆受病，榮衛不行，五藏不通則死矣，未嘗則傳足經，不傳手經。</p>
<h5>麻黃湯</h5>
<p>治傷寒頭痛，發熱體痛，惡風無汗，喘滿，又治太陽病，脈浮緊，無汗，發熱身疼，八九日不解，表證仍在，此當其汗，其人發煩，目瞑必衂，衂者，陽氣重也。</p>
<p>麻黃（一兩半去節），桂枝（一兩去皮），甘草（半兩炙剉），杏仁（二十枚湯浸，去皮尖，或濕病身煩痛，小便自利者，加白朮四分微汗之）</p>
<p>右為末，每服三錢，水一盞半，煎至八分，去滓，溫服，不計時候，衣覆以取汗。</p>
<h5>桂枝湯</h5>
<p>治傷寒，發熱惡寒，乾嘔頭痛，太陽中風，陽浮陰弱，解肌，脈浮緊，鼻鳴者。</p>
<p>桂枝（三分去皮），芍藥（三分），甘草（三分）</p>
<p>右剉如麻豆大，每服五錢，水一盞半，生薑三片，棗三箇，煎至七分，不計時候。</p>
<h5>小青龍湯</h5>
<p>治傷寒表未罷，心下有水氣，乾嘔發熱而咳，或渴利，小便不利，小腹滿喘。</p>
<p>麻黃（去節，湯炮去黃汁，焙乾，三錢，利者去麻黃，加芫花，彈子大，噎者，去麻黃加附子）</p>
<p>右剉如麻豆大，每服五錢，水一大盞，煎至半盞，生薑棗同煎，不計時候，溫服。</p>
<h5>瓜蒂散</h5>
<p>治傷寒表證罷，邪熱入裏，結於胸中，項滿而饑不能食，四肢微厥，而脈乍緊者，宜以吐之，經云：在上吐之，在下泄之。瓜蒂，赤小豆（等分）</p>
<p>右為末，香豉半合（豆豉是也），水一盞半，煮取汁，半盞調下錢七，不吐加服。</p>
<h5>五苓湯（五苓散是也）</h5>
<p>治傷寒中暑，大汗後，胃中乾煩，躁不得眠，脈浮，小便不利，微熱煩渴，及表裏俱熱，飲水反吐，名曰水逆。或攻表不解，當汗而反下之，利不止，脈浮，表不解，自利，或一切留飲不散，水停心下，并兩感中濕而昏躁，霍亂吐瀉，驚風。</p>
<p>豬苓（去皮），茯苓（去皮），白朮（各半兩），桂（一分去皮），澤瀉（一兩）</p>
<p>右為末，每服二錢，熱湯調下，愈妙。加滑石二兩甚佳，喘嗽煩心不得眠者，加阿膠半兩，枯夏月大暑，新水調服，立愈。</p>
<p>黃帝素問宣明論方卷五終。</p>
<h1>卷六</h1>
<h2>傷寒方</h2>
<h5>扺當湯</h5>
<p>治傷寒日深，表證乃甚，畜熱下焦，脈微沈，不結胸，發狂者，小腹脹而硬，小便自和者，瘀血證也。小便不和，無血也。或陽明畜熱內甚，而喜忘，或狂，大便雖硬而反易，其色黑者，有畜血也，無表裏證，但發熱日深，脈雖浮者，亦可下之。或已下後，脈數胃熱，消穀善飢，數日不大便，有瘀血也。</p>
<p>桃仁（七箇），大黃（一分），水蛭（炒），蝱蟲（各十箇去足翅炒）</p>
<p>右剉如麻豆大，分作二服，水一盞煮半盞，絞去滓，溫服，未下再服。</p>
<h5>扺當丸</h5>
<p>治傷寒有熱，小腹滿，小便不利者，為有血也。當下之，不可餘藥。</p>
<p>桃仁（八箇），大黃（一分），水蛭（炒），蝱蟲（各七箇依前炒）</p>
<p>右為末，蜜和作二丸，用水一小盞，煮一丸至六分，溫服，晬時，血未下再服。</p>
<h5>大承氣湯</h5>
<p>治表裏俱熱，病勢更甚者，陽明脈遲，汗出，不惡寒，身重，○○○○○○語如見鬼狀，劇者，發則不識人，循衣摸床，惕而不安，微喘，直視，陽明裏熱極甚，或吐下後，不解大便五六日至十餘日，日晡潮熱，心胃燥熱而懊憹，復如瘧狀，脈沈實，或小便不利，大便乍難乍易，喘冒不能臥，或腹滿實痛，煩渴譫妄，脈實數而沈，裏熱燥甚，腸胃怫鬱，留飲不散，胸腹高起，痛不可忍，但嘔冷液，大渴反不能飲，強飲不能止喘，急悶者。</p>
<p>大黃（半兩），芒硝（半兩），厚朴（半兩去皮），枳實（半兩）</p>
<p>右剉如麻豆大，分半，水一盞半，生薑三片，煎至六分，內（音納）硝煎，去滓服。</p>
<h5>小承氣湯</h5>
<p>治傷寒日深，恐有燥屎，腹中轉失，乃可攻之，不轉失者，必初硬後溏，未可攻之，攻之則腹滿不能食，飲水而噦，其後發熱，大便復硬，若腹大滿不通，或陽明多汗，津液外出，腸胃躁熱，大便必硬，而譫語脈滑，吐下微煩，小便數，大便結，或下利譫語，自得病二三日，脈弱，無太陽證，柴胡證，煩心，心下結，至四五日，雖能食，少少與承氣湯和之。令小安。</p>
<p>大黃（半兩），厚朴（三錢），枳實（三錢）</p>
<p>右剉如麻豆大，分作二服，水一盞，生薑三片，煎至半盞，絞汁服，未利再服。</p>
<h5>調胃承氣湯</h5>
<p>治諸發汗和解，不惡寒，但發熱蒸蒸然者，或日深，心下溫溫欲吐，胸中痛，大便溏，腹滿，鬱鬱微煩，先此時吐下者，或日深裏熱，譫語。法當下之，以銀粉，巴豆，燥熱大毒丸藥下之，致真陰損虛，邪熱轉甚，因而協熱下利不止，及表裏熱下之太早，乘虛而入，不成結胸，但為熱利不止，滿鞭或痛，煩渴咽乾，脈滑數而實，諸腹滿實痛者，煩渴譫妄，小便赤，大便鞭，脈滑實緊。</p>
<p>大黃，芒硝，甘草（各等分）</p>
<p>右剉如麻豆大，分一半，水一大盞，煎至半盞，絞去滓，內硝煎，不利，再煎服。</p>
<h5>六一承氣湯</h5>
<p>治傷寒雜病，內外所傷，日數遠近，腹滿咽乾，煩渴譫妄，心下按之硬痛，小便赤澀，大便結滯，或濕熱內甚而為滑泄，熱甚喘咳，悶亂驚悸，狂顛，目疼口瘡，舌腫，喉痹，癰瘍，陽明胃熱發斑，脈沈可下者，小兒熱極生風，驚搐，煩喘昏塞，并斑疹黑陷，小便不通，腹滿欲死，或斑疹後，熱不退，久不作痂，或作斑紋瘡癬久不已者，怫熱內成，疹癖堅積，黃瘦，痛疾久新，卒暴心痛，風痰酒膈，腸垢積滯，久壅風熱，暴傷酒食，煩心悶亂，脈數沈實，或腎水陰虛，陽熱獨甚，而僵撲卒中，一切暴瘖不語，（一名失音），畜熱內甚，陽厥極深，脈反沈細欲絕，或表之沖和正氣，與邪熱并之於裏，則裏熱亢極，陽極似陰，反為寒戰，脈微而絕，或風熱燥甚，客於下焦，而大小便澀滯不通者，或產婦死胎不下，及兩感表裏熱甚，須可下者。</p>
<p>大黃（半兩錦文），芒硝（半兩），厚朴（半兩去皮），枳實（半兩），甘草（一兩）</p>
<p>右剉如麻豆大，水一盞半，生薑三片，煎至七分，內硝煎二沸，去滓服。</p>
<h5>十棗湯</h5>
<p>治太陽中風，下利嘔逆，短氣，不惡寒熱，熱汗出，發作有時，頭痛，心下痞硬，引下痛，兼下水腫腹脹，并酒食積，脹垢積滯，痃癖堅積，畜熱暴痛，瘧氣久不已，或表之正氣與邪熱并甚於裏，熱極似陰，反寒戰，表氣入裏，陽厥極深，脈微而絕，并風熱燥甚，結於下焦，大小便不通，實熱腰痛，及小兒熱結，乳癖積熱，作發驚風，潮搐斑疹，熱毒不能了絕者。</p>
<p>大戟，芫花（慢火炒變色，仲景鄉俗異語云，炒作熬，下凡言熬者皆乾炒也），甘遂（各等分）</p>
<p>右為末，水一大盞，棗十枚，切開，煮取汁，半盞調半錢已，實人每一錢。</p>
<h5>茵陳湯</h5>
<p>治陽明裏熱極甚，煩渴熱鬱，留飲不散，以致濕熱相搏，而身發黃疸，但頭汗出，身無汗，小便不利，渴引水漿，身心發黃（宜茵陳湯調下五苓散），利大小便。</p>
<p>茵陳蒿（一名茵陳一兩去莖），大黃（半兩），大梔子（七箇，色深堅實好者，稍小者用十箇）</p>
<p>右剉如麻豆大，水二盞，半慢火煮至一盞，絞汁，溫服，以利為度，甚者再作，當下如爛魚肚，及膿血膠膘等物，及小便多出金色如皂筴汁，或見證將發黃，此一劑分作四服，調五苓散三錢，凡治發黃者，無越此法妙。</p>
<h5>桂苓甘露散，（一名桂苓白朮散，一方甘草一兩半）</h5>
<p>治傷寒，中暑，胃風，飲食，中外一切所傷，傳受濕熱內甚，頭痛口乾，吐瀉煩渴，不利間，小便赤澀，大便急痛，濕熱，霍亂吐下，腹滿痛悶，及小兒吐瀉驚風。</p>
<p>茯苓（一兩去皮），甘草（二兩炙），白朮（半兩），澤瀉（一兩），桂（半兩去皮），石膏（二兩），寒水石（二兩），滑石（四兩），豬苓（半兩）</p>
<p>右為末，每服三錢，溫湯調下，新水亦得，生薑湯尤良，小兒每服一錢，同上法。（此藥下神金丸，止瀉痢無不驗也，并解內外諸邪所傷濕熱，又一方卻不用豬苓，或日三服，不計時候）。</p>
<h5>梔子柏皮湯</h5>
<p>治頭微汗，小便利而微，發黃者，濕熱相搏，微者宜服。</p>
<p>黃柏（半兩），甘草（一分），大梔子（十五箇）</p>
<p>右剉如麻豆大，水三盞，煎至一盞，絞汁，分次作一日溫服之。</p>
<h5>梔子湯</h5>
<p>治懊憹煩心，反側不得眠，燥熱怫鬱於內，而氣不宣通，胸滿痛，頭微汗，虛煩。</p>
<p>大梔子（七箇剉碎），豆豉（半合，俗言鹽豉，少氣者加甘草一分，嘔者，誤以丸藥下之者，加生薑半兩，或用溫湯濯手足，使心胸結熱宣通而已）</p>
<p>右剉如麻豆大，或先以水二盞，煮梔子至一盞半，內豉煮至半盞，絞汁溫服。（凡加者皆用梔子，先煮或吐止後服，凡用梔子湯，皆非吐人之藥，以其燥熱鬱結之甚，而藥頓攻之不能開通，則發熱而又吐，發開鬱結則氣通，津液宣行而已，故不須再服也）。</p>
<h5>大陷胸湯</h5>
<p>治汗下之後，不大便五六日，舌乾而渴，日晡潮熱，從心至小腹脹滿而痛，不可近，脈當沈緊滑數，或但胸結，則無大段熱，頭微汗出，脈沈濇者，水結也。</p>
<p>大黃（三錢），芒硝（三錢），甘遂末（三字）</p>
<p>右剉如麻豆大，分作二服，每服水一盞，煎大黃至六分，內硝一二沸，絞汁調，甘遂一字匕，半溫服，未快利，再服勢惡不能利以意加服。</p>
<h5>小陷胸湯</h5>
<p>治小結胸，心下按之痛，脈浮而滑，無大段熱，表未罷不可下之，下之即死，小結胸宜服。</p>
<p>半夏（四錢湯洗全用，不剉），生薑（二錢切），黃連（二錢剉），栝樓實（大者半兩，惟剉其殼，子則不剉，若剉其中子者，非也）</p>
<p>右以水三盞，煮栝樓汁一盞半，內藥至一盞，絞汁兩次，溫服，以效。</p>
<h5>大陷胸丸</h5>
<p>治發熱而下之太早，熱入因作結胸者，項亦強如柔痓狀，下之則和也。</p>
<p>大黃（半兩），芒硝（一分），杏仁（十二箇去皮尖，雙仁，草灰炒變色），葶藶（三錢微炒）</p>
<p>右大黃為末，下葶藶杵羅研杏仁硝如泥，和彈子大，每服一丸，入甘遂末，三字，白蜜半匙，水一盞，煮至半盞，溫服，當一宿許，乃下未利，再服。</p>
<h5>梔子厚朴湯</h5>
<p>治傷寒下後，心煩腹滿，坐臥不安者。</p>
<p>大梔子（七箇），枳實（二錢），厚朴（半兩去皮炙）</p>
<p>右剉如麻豆大，以水一盞半，煮絞汁半盞，溫服。</p>
<h5>檳榔散</h5>
<p>治傷寒陰病，下之太早成痞，心下痞滿而不痛，按之軟虛也。</p>
<p>檳榔，枳殼（等分）</p>
<p>右為末，每服三錢，煎黃連湯調下，不計時候，溫服。</p>
<h5>大黃黃連瀉心湯</h5>
<p>治傷寒成病痞，不已，心腹亦實熱煩滿，或譫妄而脈沈，無他證者。</p>
<p>大黃，黃連，黃芩（各一分，又一法加生薑一分甚良）</p>
<p>右剉如麻豆大，水二盞，煎至一盞，絞汁分三次溫服。</p>
<h5>黃連解毒湯</h5>
<p>治傷寒雜病，躁熱毒，煩悶乾嘔，口燥吟呻，喘滿，陽厥極深，畜熱內甚，俗妄傳為陰毒者，及汗下吐後，寒涼諸藥不能退熱勢，兩感證同法。</p>
<p>黃連（去鬚），黃柏，黃芩，大梔子（各半兩）</p>
<p>右剉如麻豆大，每服秤半兩，水一茶盞，煎至四分，絞去滓，溫服。或腹滿嘔吐，或欲作利者，每服加半夏（三箇生全用），厚朴（二錢剉），茯苓（二錢去皮剉），用水一盞半，生薑三片，煎至半盞，絞汁，溫服，名半夏黃連解毒湯。</p>
<h5>白虎湯（加減白虎湯隨證用）</h5>
<p>治傷風自汗，桂枝證，表未解，半斑於裏，中暑自汗，脈虛弱，傷寒自汗，脈滑數而實，表裏俱熱，三陽合病，腹滿身重，口燥面垢，譫語發黃，厥逆自汗，和解兩感，解頭痛，止自汗，雜病時疫，未瀉發斑，兼豆皰瘡疹伏熱。</p>
<p>知母（一兩半），甘草（一兩炙），粳米（一合），石膏（四兩為末）</p>
<p>右剉如麻豆大，抄五錢，水一盞，煎至六分，去滓，溫服，無時候，日三四服。或眩欬嘔者，加半夏半兩，紅皮半兩，每服生薑三片，煎服。傷寒發汗不解，脈浮者，加蒼朮半兩，名蒼朮白虎湯。汗吐下後，煩渴口乾，脈洪大，加人參半兩，名人參白虎湯。</p>
<p>賈同知已效方</p>
<p>石膏（四兩），知母（一兩），甘草（一兩）。</p>
<p>劉庭瑞已效方</p>
<p>知母（一兩半），石膏（四兩），粳米（一合）。</p>
<p>崔宣武已效方</p>
<p>知母（一兩），石膏（三兩），甘草（一兩半）</p>
<p>右為末，每服三錢，水一盞，入粳米二十五粒，煎至六分。未曾下胃熱，發斑兼豆皰如液，虛瘦加人參半兩，白朮半兩；頭疼加川芎，荊芥各三錢；咳嗽加半夏三錢，桔梗一兩；恍惚加人參三錢，茯苓半兩。</p>
<h5>涼膈散（一名連翹飲子，亦有加減法）</h5>
<p>治傷寒表不解，半入於裏，下證未全，下後燥熱怫結於內，煩心懊憹不得眠，藏府積熱，煩渴頭昏，唇焦咽燥，喉閉目赤，煩渴，口舌生瘡，欬唾稠粘，譫語狂妄，腸胃燥澀，便溺閟結，風熱壅滯，瘡癬發斑，驚風熱極，黑陷將死。</p>
<p>連翹（一兩），山梔子（半兩），大黃（半兩），薄荷葉（半兩），黃芩（半兩），甘草（一兩半），朴硝（一分）</p>
<p>右為末，每服二錢，水一盞，蜜少許，同煎至七分，去滓，溫服，虛實加減，咽喉痛涎嗽，加桔梗（一兩），荊芥穗（半兩），嗽而嘔者加半夏（半兩，每服生薑三片同煎），血衂嘔血加當歸（半兩），芍藥（半兩），生地（一兩），淋者加滑石（四兩），茯苓（一兩去皮），風眩加芎（半兩），石膏（三兩），防風（半兩），酒毒加葛根（一兩），荊芥穗（半兩），赤芍藥（半兩），芎（半兩），防風（半兩），桔梗（半兩，三歲兒可服七八錢，或無熱甚，黑陷腹滿，喘急，小便赤澀而將死者，此一服更加大防風湯約以下之，得和者宜效），凡言加者，皆自本方加也，以上之減，退表裏熱，加益元散效速。</p>
<h5>人參石膏湯</h5>
<p>治傷寒咳嗽不已，心煩，及風熱頭痛，精神不利，惛憒，宜服。</p>
<p>人參（一錢半），石膏（三兩），芎（半兩），半夏（二錢去滑），白朮（半兩），茯苓（半兩），甘草（一兩炙），大梔子（三錢），知母（半兩），黃芩（三錢）</p>
<p>右為末，每服一錢，水一盞，生薑三片，煎至六分，去滓，溫服。</p>
<h5>崔宣武人參石膏湯</h5>
<p>治傷寒頭痛，心煩悶，風熱，并汗後餘熱，自汗多，清頭目，定喘嗽。</p>
<p>人參（二錢半），石膏（一兩），芎（一兩），黃芩（二錢），茯苓（三錢），甘草（半兩），防風（三錢）</p>
<p>右為細末，每服五錢，水一盞半煎，至六分，去滓，溫服，不計時候。</p>
<h5>雙解散</h5>
<p>治風寒暑濕，飢飽勞役，內外諸邪所傷，無問自汗，汗後雜病，但覺不快便可通解得愈，小兒生瘡疹，使利出快，亦能氣通宣而愈。</p>
<p>益元散（七兩），防風通聖散（七兩）</p>
<p>右二藥一處相和，名為雙解散，益元散方在痢門，通聖散方在風門，各七兩，攪勻，每服三錢，水一盞半，入蔥白五寸，鹽豉五十粒，生薑三片，煎至一盞，溫服。</p>
<h5>白朮散</h5>
<p>治傷寒雜病，一切吐瀉煩渴，霍亂虛損，氣弱，保養衰老，及治酒積嘔噦。</p>
<p>白朮，茯苓（去皮），人參（各半兩），甘草（一兩半炙），木香（一分），藿香（半兩），葛根（一兩）</p>
<p>右為末，白湯調下二錢，煩渴者加滑石二兩，甚者加薑汁，續續飲之。</p>
<h5>四逆湯</h5>
<p>治傷寒表熱未入裏，誤以寒藥下之太早，表熱不已，入裏寒下利不止，因表熱裏寒自利，急以溫裏，利止又治少陰病，脈沈，下利厥逆，煩渴嘔吐。</p>
<p>甘草（一錢炙），乾薑（一分），附子（半箇，生去皮臍胕子，以半兩者佳，小者力弱，大者性惡，非古方之宜也，不但以美其大者，要知古人有則也）</p>
<p>右剉如麻豆大，水二盞煎至一盞，絞汁，溫服，或畜熱深極而手足厥冷者，不宜此方，當以下之。</p>
<h5>茯苓半夏湯</h5>
<p>治傷寒雜病，一切嘔吐，或喘咳疼痛，痞滿頭痛者。</p>
<p>茯苓（一分去皮），半夏（一錢），生薑（一分取汁）</p>
<p>一方加黃芩（一分去腐），甘草（一分），紅皮（一分去穰），治風痰</p>
<p>右剉如麻豆大，水一盞煎至四分，絞汁下，生薑汁溫服，不計時候。</p>
<p>黃帝素問宣明論方卷六終。</p>
<h1>卷七</h1>
<h2>積聚論</h2>
<p>素問曰：積聚留飲，痞膈中滿，濕積，霍亂吐下，瘕癥堅硬，腹滿，皆太陰濕土，乃脾胃之氣，積聚之根也。（ 積者，不散。聚者，不化。留者，不行。飲者，停滯。痞者，不通。隔者，阻也。中滿者，濕為積，霍亂吐下為留停瘕。癥者，徵也。瘕，假也）。斯疾迺五臟六腑陰陽變化興衰之制也。亢則害，承迺制，極則反矣。</p>
<p>謂水得燥則消散，而得濕則不消，乃為積飲也。謂人形精神與榮衛血氣津液出入流通，謂夫腠理閉密，乃為痞也。謂腸胃膈絕傳化失常而乃滯也。土主形體，腹滿於中央。乃曰中滿。以傳化失度，故甚則霍亂吐瀉也。癥者，腹中主硬，按之應手，然水體柔順，而今乃堅硬如此者。亢則害，承乃制也。瘕者，中雖硬而忽聚忽散無其常，故其病未及癥也。</p>
<p>經曰：血不流而滯，故血內凝而乃瘕也。</p>
<p>小腸移熱於大腸，乃為虙瘕。大腸移熱於小腸，謂兩熱相搏則血溢而為伏瘕。血澀不利，月事沈滯，血不行，故行為虙瘕，為虙與伏同瘕，與疝同為傳寫誤也。世傳冷病，然瘕病亦有熱，或陽氣鬱結怫熱壅滯而堅硬不消者，世傳為寒癥瘕也。或堅痞腹滿急痛（ 寒主筋縮故急主痛），寒極血凝泣而反兼土化制之，故堅痞之腹滿，或熱鬱於內，而腹滿堅結痛不可忍者，皆可為寒誤矣誤矣。</p>
<p>何不以脈證辨之。凡諸疾病皆有陰陽寒熱，宜推詳之。五臟六腑四季皆有積聚，心之積名曰伏梁，在於臍上，大如臂，上至於心，橫於心，下如屋梁，故曰伏梁。肝之積名曰賁（音奔）氣，在左脇下，覆如杯，有頭足，久不愈，令人痎瘧。脾之積名曰痞氣，在胃腕，覆大如杯，久不愈，令人四肢不收，發黃疸，食不為膚肌。肺之積名曰息賁，結在右脇下，覆大如杯，久不愈，令人灑淅寒熱，喘咳發為肺癰。腎之積名曰賁（音奔）豚，在於小腹上，至心下，如豚賁走往來無定，久不愈，令人喘逆，發為骨痿，少氣乏力，此為五藏之積也，常究斯義，未可悉也。</p>
<p>傳其所勝者死，傳不勝者可治，假令肺病傳肝，肝病傳脾，脾病傳腎，腎病傳心，心病傳肺，皆傳所勝，五藏之氣，虛而內外諸邪所侵，故留稽不行，遂成積聚，其脈沈細而微者是也。</p>
<h5>木香三稜丸</h5>
<p>治一切氣悶，胸膈痞滿，榮衛不和，口吐酸水，嘔逆惡心，飲食不化，肋脇疼痛，無問久新。</p>
<p>青木香，破故紙，茴香，黑牽牛，甘遂，芫花，大戟，荊三稜，蓬莪荗，川楝子，葫蘆巴，巴戟（各一兩），巴豆（去皮不出油二分），陳米（三合，將巴豆一處，同炒黑），縮砂仁（一兩半）</p>
<p>右件一十五味，用好醋二升，除縮砂，木香，餘藥入醋中，浸一宿，入鍋煮盡為度，乾為細末，醋麵糊和丸，如菉豆大，每服五七丸，食後加減，看虛實隨湯水下。</p>
<h5>導氣枳殼丸</h5>
<p>治氣結不散，心胸痞痛，逆氣上攻，分氣逐風，功不可述。</p>
<p>枳殼（去穰麩炒），木通（剉炒），青皮（去皮），陳皮（去白），桑白皮（剉炒），蘿蔔子（微炒），白牽牛（炒黑），牽牛（炒），莪荗（煨），茴香（炒），荊三稜（煨），各等分</p>
<p>右為末，生薑汁打，麵糊為丸，如桐子大，每服二十丸，煎橘皮湯下，不計時候。</p>
<h5>透膈寬腸散</h5>
<p>治腸上壅實，膈熱難行者。</p>
<p>白牽牛（一兩），芒硝（三兩），川大黃（二兩），甘遂（半兩）</p>
<p>右為細末，食後溫蜜水調下一錢，虛實加減，疏動止。</p>
<h5>密補固真丹</h5>
<p>治脾腎真元損虛，泄痢痰嗽，噦痞，水穀酸臭，飲食無味，臍腹冷痛，肢體麻痹，下虛痰厥，上實壅滯，腎虛耳鳴，脾虛困憊，耳焦齒稿，面黧身悴，目黃口燥，髮墮爪退，風虛偏枯，中滿膈氣，一切脾胃虛證，常服補養，宣通氣血。</p>
<p>天南星（半兩），半夏（製），神麯，麥柏，茴香（炒），荊三稜（炮各一兩），白附子，乾生薑，川烏頭（生各一兩），巴豆（七箇），牽牛（三兩），代赭石（二兩），官桂（一分）</p>
<p>右為末，水和丸，小豆大，每服十丸，加至五十丸，溫水下，除泄瀉外，並加大黃一兩。</p>
<h5>木香丸</h5>
<p>治和脾胃，寬胃膈，消痰逆，止嘔吐，進益，美飲食。</p>
<p>官桂，乾薑（各半兩），木香（一分），大黃，蓬莪荗，芫花（醋拌濕炒乾），枳殼（去穰），陳皮（各半兩），半夏（二兩），牽牛（半斤取末四兩），茴香（一兩炒），巴豆（四箇）</p>
<p>右為末，滴水為丸，如小豆大，每服二三十丸，溫水下。</p>
<h5>軟金丸</h5>
<p>治心胸腰腹急痛，或淋悶升，產後經病，血刺痛。</p>
<p>當歸（半兩），乾漆（二錢），紅花（一錢半），輕粉，碙砂，粉霜（各一錢），三稜（二錢）</p>
<p>右同研勻，棗肉為膏，和丸，菉豆大，新水下一丸，病甚者加，得利後減。</p>
<h5>泥金丸</h5>
<p>治心腹急痛，取久新沈垢積滯，推陳致新。</p>
<p>黃柏，大黃，五靈脂，巴豆（各半兩），豬牙皂角（一分），輕粉，粉霜，碙砂（各一分），乾漆（二分）</p>
<p>右研勻，煉蜜拌，得所杵千下，丸菉豆大，新水下一丸，未利，更加服。</p>
<h5>狀元丸</h5>
<p>治膈氣，酒膈酒積，涎嗽腹痛，吐逆痞滿。</p>
<p>巴豆（五十箇取霜），神麯（半兩末），半夏（一兩洗），雄黃，白麵（一兩炒）</p>
<p>右研勻，酒水丸，小豆大，細米糠炒，變赤色，食後溫水下，童子二丸，三四歲一丸，歲半半丸，止嗽溫𤅈汁下，止嘔吐，生薑湯下。</p>
<h5>玄胡丸</h5>
<p>治積聚癥瘕，解中外諸邪所傷。</p>
<p>玄胡索，青皮（去白），陳皮（去白），當歸，木香，雄黃（別研），荊三稜，生薑（各一兩）</p>
<p>右為末，酒麵糊為丸，如小豆大，每服五七丸，生薑湯下。</p>
<p>又一方：無陳皮、生薑，有廣茂（一兩），檳榔（分兩同）。</p>
<h5>大延胡索散</h5>
<p>治婦人經病，產後腹痛，腹滿喘悶，癥瘕癖塊，及一切心腹暴痛。延胡索，當歸，芍藥，京三稜，川苦楝，蓬莪荗，官桂，厚朴，木香，川芎（各一分），桔梗，黃芩，大黃（各半兩），甘草（一兩），檳榔（二錢）</p>
<p>右為麤末，每服三錢，水一盞，煎至六分，去滓熱服，食前。如惡物過多，去大黃，官桂，加黃藥子，染塊子，龍骨各半兩，如前法煎服，平人心急痛，加本方得利尤良。後常服。</p>
<h5>三稜湯</h5>
<p>治癥瘕痃癖，積聚不散，堅滿痞膈，食不下，腹脹。</p>
<p>荊三稜（二兩），白朮（一兩），蓬莪荗（半兩），當歸（半兩焙），檳榔，木香（三錢）</p>
<p>右為末，每服三錢，沸湯點服，食後，每日三服。</p>
<h5>消飲丸</h5>
<p>治一切積聚，痃癖氣塊，及大小結胸，痛不能仰。</p>
<p>天南星，半夏，芫花，自然銅（等分生用）</p>
<p>右為末，醋煮，麵糊為丸，如桐子大，每服五七丸，食前溫水下，良久蔥粥投之，相虛實加減。</p>
<h5>除濕丹</h5>
<p>治諸濕客搏，腰膝重痛，足脛浮腫，筋脈緊急，津液凝澀，便溺不利，赤癮疹，疽癰發背，疥癬，走注，腳氣，無首尾瘡癤，功效不可盡述。</p>
<p>檳榔，甘遂，葳靈仙，赤芍藥，澤瀉，葶藶（各二兩），乳香，沒藥（一兩別研），黑牽牛（半兩），大戟（二兩炒），陳皮（四兩去白）</p>
<p>右為末，麵糊為丸，如桐子大，每服五十丸至七八十丸，溫水下，後食，如服藥前後忌酒一日，藥後，忌濕麵，食溫粥，補暖。</p>
<h5>保安丸</h5>
<p>治癥積，心腹內結如拳，漸上不止，搶心疼痛，及遶臍腹痛，不可忍者。</p>
<p>川大黃（三兩，新水浸一宿蒸熟切片子焙），乾薑（一兩炮），大附子（半兩，去皮臍），鱉甲（一兩半，好醋一升伏時炙令焙乾炒）</p>
<p>右為末，取三年米醋一大升，先煎四五合，然後和藥丸，如桐子大，每服十丸至二十丸，空心醋或酒米飲下，後取積，如魚腸膿血爛肉汁青泥當下。</p>
<h5>開結妙功丸</h5>
<p>治怫熱內盛，痃癖堅積，腸結癥瘕，積聚疼痛，脹悶，作發有時，三焦壅滯，二腸閉結，胸悶煩心不得眠，咳喘噦逆不能食，或風濕氣，兩腿為腫脹，黃瘦，眼澀昏暗，一切所傷，心腹暴熱，肝腎燥鬱，偏正頭疼，筋脈拘瘓，肢體麻痹，走注疼痛，頭目昏眩，中風偏枯，邪氣上逆，上實下虛，腳膝麻木，不通氣血。</p>
<p>荊三稜（炮），茴香（各一兩炒），川烏頭（四兩），神麯，麥芽，大黃（各一兩，好醋半升，熬成稠膏，不破堅積不須熬膏，水丸），乾薑（二錢），巴豆（二箇，破堅積用四箇），半夏（半兩），桂（二錢），牽牛（三兩）</p>
<p>右為末，膏丸，小豆大，生薑湯下，十丸十五丸，溫水冷水亦得，或心胃間稍覺藥力煖，性卻減，丸數以加至快利三五行，以意消息，病去為度。</p>
<h5>木香分氣丸</h5>
<p>治積滯，癖塊不消，心腹痞結，疼痛，搶刺如覆杯狀。</p>
<p>陳皮（去白），檳榔（各一兩），破故紙（二兩炒），木香（一兩半），黑牽牛（十二兩，炒香熟，取頭末五兩半，餘不用）</p>
<p>右為末，滴水為丸，如桐子大，每服二三十丸，生薑湯下，食後臨臥服。</p>
<h5>開胃生薑丸</h5>
<p>治中焦不和，胃口氣塞，水穀不化，噫氣不通，噎塞痞滿，口淡吞酸，食時膨脹，噦逆惡心，嘔吐痰水，宿食不消，咳嗽，諸筋刺痛，寬中開胃，進飲食。</p>
<p>桂心（一兩），生薑（一斤切作片子，鹽三兩，醃一日再焙乾），青皮（去白），陳皮（去白），甘草（炙各二兩），縮砂仁（四十九箇），廣茂，當歸（各半兩）</p>
<p>右為末，煉蜜為丸，如彈子大，每服一丸，食前細嚼沸湯化下。</p>
<h5>導滯定功丸</h5>
<p>治一切心腹卒暴疼痛，及胸中不利，消食止逆，定疼痛。</p>
<p>大椒，木香（各一錢），蝎梢（三錢），巴豆（八箇出油為度）</p>
<p>右為末，後入巴豆霜研勻，醋麵糊和丸，如菉豆大，硃砂為衣，每服五丸至十丸，淡醋湯下。</p>
<h5>積氣丹</h5>
<p>治一切新久沈積氣塊，面黃黑瘦，諸氣無力，癥瘕積聚，口吐酸水。</p>
<p>檳榔（二箇），芫化（一兩），碙砂（二錢），巴豆（二錢半生），青皮（去白），陳皮（各三錢），蓬莪荗，雞爪黃連，京三稜，章柳根，牛膝（各一兩），肉豆蔻（三箇），大戟，川大黃，甘遂，白牽牛，乾薑，青礞石，乾漆（各半兩），木香（二錢半），石菖蒲（三錢）</p>
<p>右為末，醋麵糊和丸，如桐子大，每服一丸，臨臥燒棗湯下，每夜丸服後，有肚內作聲，病退為度。</p>
<h5>金露紫苑丸</h5>
<p>治一切脾積，兩肋虛脹，臍疼痛。</p>
<p>草烏頭（去皮尖），黃連（半兩），官桂，桔梗，乾地黃，乾生薑，川椒，蕪荑，紫苑（去皮），柴胡，防風，厚朴，甘草，人參，川芎，鱉甲（酒浸），貝母，枳殼（去穰），甘遂（各一兩），巴豆（三兩，醋煮半日出油），入碙砂（三錢）</p>
<p>右為末，水煮麵糊為丸，如桐子大，每服五丸，空心臨臥米飲湯下，或微疏動，詳虛實加減。</p>
<h5>信香十方青金膏</h5>
<p>灌頂法，王子所傳十二上願云：藥師琉璃光如來，應當供養，正徧知明行足，善游世間，解無上士，調御丈夫，天人師。</p>
<p>佛世尊方境授，治周身中外陰陽不調，氣血壅滯，變生百病，乃至虛羸困倦，偏攻酒食，內傷心腹，滿塞急痛，或酒積食積，癥瘕積聚，痃癖堅積，中滿，服氣臭酸醋，嘔吐翻胃，或膈癉，消中善食而瘦，或消渴多飲而數（色角切頻也），小便或腸風下血，痔瘻痒痛或胃癰疹，或徧身癰疽惡瘡，或瘡毒已入於裏，腹滿嘔吐，或成瀉痢，或出惡瘡瘜肉，或下痢腹痛，或一切風氣，散體疼痛，及中風偏枯，或痰逆生風，痰涎嗽，兼產後服痛，及小兒疳疾，諸風潮搐，但平人常服補養，宣行榮衛，調飲食。</p>
<p>信砒人言，乳香，輕粉，粉霜，巴豆（各一兩同研），龍腦（半字），麝香（半字），青黛（二錢同研），黃蠟（三錢）</p>
<p>右研細末，鎔蠟，入蜜半錢，就搓勻旋丸，菉豆至小豆大，先服小丸，病在上食後，在下食前，在中不計時候，面東頂禮一丸。淨器盛水送下，如合藥即淨處面東，每一丸密念咒三遍，或病人不能咒，請人咒，或師氏咒過，咒曰：信香十方青金膏，藥師圓成蜜遍拋，普濟有緣除百病，仰吞一粒體堅牢。密咒曰：但言八金剛，莫說十方佛，五蘊大根俱不道，十二上願自然成。</p>
<h5>金黃丸</h5>
<p>治酒積食積，諸積，面黃疸，積硬塊。</p>
<p>荊三稜，香附子（半兩），澤瀉（二錢半），巴豆（四十九粒出油），黍米粉，牽牛（二錢半）</p>
<p>右為末，用梔子煎湯和丸，如菉豆大，每服三丸至五丸，如心痛艾醋湯下七丸。</p>
<h5>逆氣丸</h5>
<p>治心胸滿悶，脇肋刺痛，不思飲食，常服寬膈，進美飲食。</p>
<p>薑黃（四兩），香附子（四兩），縮砂，甘草，廣茂（各二兩），丁皮，甘松，木香，荊三稜（各一兩），白檀（半兩），藿香葉（半兩）</p>
<p>右為末，入菉豆粉二兩用，湯浸蒸餅為丸，如桐子大，每服三二十丸，細嚼白湯下，食後日進三服。</p>
<h5>丁香散</h5>
<p>治痃癖氣，脇下痞滿，息而不消，積而不散，元氣在胃不妨食者。</p>
<p>好丁香（二十五箇），白丁香（七十箇），密陀僧，舶上硫黃，黃鶯調（各五分）</p>
<p>右為細末，每服一字，皂子煎湯調下，不計時候，治肚內生硬物，黑瘦如柴，嘔吐積滯，日三服，食後。</p>
<h5>聖餅子</h5>
<p>治一切沈積氣脹，兩脇氣滿，無問久新者。</p>
<p>大黃（三兩），黑牽牛頭末（一兩），碙砂（三錢），山梔子（半兩），輕粉（二錢）</p>
<p>右為末，煉蜜和丸，捻作餅子，如小錢大厚樣，食後每服三餅，子細嚼，溫酒下，臨臥如行粥補之，虛實加減。</p>
<h5>無憂散（一名萬病散）</h5>
<p>治風疾，瘡腫疥癬，或臟腑積冷，壅滯氣結，風勞，膀胱宿冷，臟腑虛衰，面色痿黃，內有癥癖氣，并常有疳蟲，蚘蟲攻心，腹俱痛，忽中傷寒，頭痛不忍狀，若山嵐時氣，瘟疫之疾，並宜急服此藥，宣通三五行，立瘥。或中風口喎，語多蹇澀，睡後口中涎出，不限時節，不問男子女人，但五日一服，不過三服，永瘥。人患腰膝疼痛，腳氣腫滿，運動艱難，飲食無味，并小兒疳痢脫肛者，量大小與服，利三五行，自瘥。大人久泄氣痢，狀若休息痢，止有時，俱一服取下，冷膿一二升，當日見效，藥無四時冷熱，老幼衰弱病患，悉皆除之，任服他藥無妨，若服常時。蓋緣搜出藏府中積滯蟲膿故也。無孕婦人，久患血虛氣弱，痿黃無力者，亦可依方服，宣通氣候，殊不困倦，無妨此藥，凡有百病並皆治之，其功不可具載，有孕婦人，或遇陰晦時，即不可服。天道晴明可進，若雖復疾而未愈者，再可服。</p>
<p>黃耆，木通，桑白皮，陳皮（各一兩），胡椒，白朮，木香（各半兩），白牽牛（四兩，炒別取頭末）</p>
<p>右七味為細末，每服二錢，牽牛末二錢，生薑二錢，切作片子煎，生薑湯一大盞調藥，須臾又用生薑湯，或溫湯送下，平明可行三五次，快利無妨，如病瘥後，以白粥補之痊矣。</p>
<h5>五積丹</h5>
<p>治心腹痞滿，嘔吐不止，破積聚者。</p>
<p>皂筴一鋌（一尺二寸，火燒留性，淨盆合之四面土，壅合物令出煙），巴豆（十二箇，白麵一兩五錢，同炒，令黃色為度）</p>
<p>右為末，醋麵糊為丸，菉豆大，每服十丸，鹽湯下，食後加減。</p>
<p>黃帝素問宣明論方卷七終。</p>
<h1>卷八</h1>
<h2>水濕門</h2>
<p>夫諸濕者，濕為土氣，火熱能生土，濕也，故夏熱則萬物濕潤，秋涼則濕物燥乾也，濕病本不自生，因於大熱怫鬱，水液不能宣通，即停滯而生水濕也，凡病濕者，多自熱生，而熱氣尚多以為兼證，云濕熱亦猶風熱，義同。雖病水寒不得宣行，亦能為濕，雖有此異亦以鮮矣，或跗腫體寒而有水者，以畜熱入裏極深，本非病寒也。</p>
<h5>三化神祐丸</h5>
<p>治中滿腹脹，喘嗽淋閟，一切水濕腫滿，濕熱腸垢沈積變生疾病，久病不已，黃瘦困倦氣血壅滯不得宣通，或風熱燥鬱肢體麻痹，走注疼痛，風痰涎嗽，頭目旋運，瘧疾不已，癥瘕積聚堅滿痞悶，酒積食積，一切痰飲嘔逆及婦人經病不快，帶下淋瀝無問赤白，并男子婦人傷寒濕熱腹滿實痛，久新瘦弱俗不能別辨，或汎常只為轉動之藥，兼瀉久新腰痛并一切下痢，及小兒驚疳積熱乳癖滿，並宜服之。</p>
<p>甘遂，大戟，芫花（醋拌濕炒各半兩），牽牛（二兩），大黃（一兩為細末），輕粉（一錢）</p>
<p>為末，滴水為丸，如小豆大。初服五丸，每服加五丸溫水下，每日三服，加至快利，利後卻常服，病去為度。設病愈後，老弱虛人平人常服，保養宣通氣血，消進酒食。病癖悶極甚者便多服，則頓攻不開，轉加痛悶，則初服兩丸，每服加兩丸，至快利為度，以意消息。小兒丸如麻子大，隨強弱增損，三四歲者三五丸，依前法。</p>
<p>崔宣武神祐丸：</p>
<p>加黃柏（一兩），牽牛（四兩），大黃（二兩），輕粉（二錢），甘遂，大戟，芫花（各一分依前法）。</p>
<p>劉庭瑞神祐丸用此藥治水氣常得效。賈同知稱之不已，乃神仙奇絕之藥也。</p>
<h5>葶藶木香散</h5>
<p>治濕熱內外甚，水腫腹脹，小便赤澀，大便滑泄。葶藶，茯苓（去皮）</p>
<p>豬苓（去皮），白朮（各一分），木香（半錢），澤瀉，木通，甘草（各半兩），辣桂（一分），滑石（三兩）</p>
<p>右為末，每服三錢，白湯調下，食前。此藥下水濕消腫脹，止泄瀉利小便，若小便不得通利而反轉泄者，此乃濕熱痞閟極熱，而攻之不開是能反為注泄，此正氣已衰而多難救也，慎不可攻之而無益耳。</p>
<h5>白朮木香散</h5>
<p>治喘嗽腫滿欲變成水病者，不能臥，不敢食，小便閟者。</p>
<p>白朮，木豬苓（去皮），赤茯苓，甘草，澤瀉（各半兩），木香，檳榔（三錢），陳皮（去白二兩），官桂（二錢），滑石（三兩）</p>
<p>右為末，每服五錢，水一盞，生薑三片同煎，至六分，食後去滓溫服。</p>
<h5>大橘皮湯</h5>
<p>治濕熱內甚，心腹脹滿，水腫小便不利，大便滑泄。</p>
<p>橘皮（一兩去白），木香（一分），滑石（六兩），檳榔（三錢），茯苓（一兩去皮），木豬苓（去皮），澤瀉，白朮，官桂（各半兩），甘草（二錢）</p>
<p>右為末，每服五錢，水一盞，生薑五片，煎至六分，去滓溫服。（大小便秘，先服十棗湯，二三日後再服此藥。）</p>
<h5>葶藶膏</h5>
<p>治水腫腹脹。</p>
<p>牛黃，麝香，龍腦（各一分），昆布，海藻（上同，二十分洗）牽牛，桂心（各八分），椒目（三分），葶藶（六分炒）</p>
<p>右為末，別搗葶藶，熬成膏丸如桐子大，每服十丸，日再服，稍利小便為度，詳虛實加減。</p>
<h5>茯苓散</h5>
<p>治諸般氣腫等疾。</p>
<p>芫花（醋拌炒），澤瀉，郁李仁，甜葶藶，漢防己（各二錢半），陳皮（去白），白檳榔，瞿麥（各半兩），藁本（二錢半），滑石（三分），大戟（炒三分）</p>
<p>右為細末，每服一錢，取桑白皮濃煎湯，空心調下，取下碧淥水，如爛羊脂即瘥。如未盡，膈日又服，腫消如故，不用服。忌鹽百日。</p>
<h5>調胃散</h5>
<p>治胸膈痞悶，不思飲食，脇肋硬痛，消腹脹。</p>
<p>半夏（製），甘草（炙），厚朴（去皮），陳皮（去白），藿香（各等分）</p>
<p>右為末，每服一錢，生薑三片，棗二枚，水一盞，同煎，溫服，食前。</p>
<h5>二氣散</h5>
<p>治水氣蠱脹滿。</p>
<p>白牽牛，黑牽牛（各二錢）</p>
<p>右為末，用大麥麵四兩，同一處為燒餅，臨臥用茶湯一盞下，降氣為驗。</p>
<h5>雄黃神金散</h5>
<p>雄黃，葶藶（一兩，用糯米和，炒半熟，米不用），澤瀉（二兩），椒目（半兩），大戟，巴戟（去心），茯苓（去黑皮），芫花（醋五升，浸一日，炒）甘遂，桑白皮（各一兩）</p>
<p>右為末，從發時加減一分，空心，用井花水調下，每服一錢，加至五錢，以利為度。忌鹽醋，生冷，毒物，油膩，血物。</p>
<p>從腳腫，根在心，加葶藶。從肚腫，根在腹，加椒目。從陰腫，根在胸，加澤瀉。從膝腫，根在肝，加芫花。從面腫，根在肺，加桑白。從心腫，根在肋，加雄黃。從肢腫，根在脾，加甘遂。從口腫，根在小腸，加巴戟。從腰腫，根在腎，加大戟。從四肢腫，根在胃，加茯苓。</p>
<h5>萬勝散</h5>
<p>治十種水氣不可愈者。</p>
<p>海帶，海藻，海蛤，芫花（醋浸炒），甘遂，大戟，甜葶藶，樟柳根，續隨子，巴戟（各等分，去心）</p>
<p>右為末，每服三錢至五錢，溫酒調下，臨臥，間日再服。</p>
<h5>牽牛丸</h5>
<p>治一切濕熱腫滿等疾。</p>
<p>黑牽牛，黃芩，大黃，大椒，滑石（各等分）</p>
<p>右為細末，酒煮麵糊和丸，如桐子大，每服五丸至七丸，生薑湯下，食後。虛實加減。</p>
<h5>梔子柏皮湯</h5>
<p>治頭微汗，小便利而微發黃者，濕熱相搏微者宜服。</p>
<p>大梔子（十五箇），黃柏（半兩），甘草（一分）</p>
<p>右剉如麻豆大，水三盞煮至一盞，絞汁，分三次，作一日服，溫喫，不計時候。</p>
<h5>大戟丸</h5>
<p>治十腫水氣，腫脹喘滿，熱寒咳嗽，心胸痞悶，背項拘急，膀胱緊腫於小腹，小便不通，反轉大便溏泄，不能坐臥。</p>
<p>大戟，芫花（醋炒），甘遂，海帶，海藻，郁李仁，續隨子（各半兩），樟柳根（一兩，已上八味為末，每料抄藥末十五錢七分，便入後藥），碙砂，輕粉，粉霜（各一錢），水銀砂子（一皂子大），龍腦（半錢），巴豆（二十一箇，生用去皮）</p>
<p>右八味已下，同研勻，用棗肉為丸如菉豆大，每服五丸至七丸，龍腦臘茶送下，食後，臨臥。虛實加減。</p>
<h5>粉霜丸</h5>
<p>治病水，鼓滿不食，四肢浮腫，大小便閟，不進飲食。</p>
<p>粉霜，碙砂，海蛤，寒水石（燒粉），玄精石，白丁香，頭白麵（各一錢），輕粉（三錢），海金砂（一錢）</p>
<p>右研勻，著紙裹數重，上使麵裹又紙裹冷酒，煎了桑柴火燒麵熟為度，宿蒸餅和丸，如桐子大，每服三丸，生薑湯下，一日三服，二日加一丸，至六日不加即止，以補之妙。</p>
<h5>苦葶藶丸</h5>
<p>治一切水濕氣，通身腫滿不可當者。</p>
<p>人參（二兩），苦葶藶（四兩，於鍋內紙上炒黃色為度）</p>
<p>右二味同為細末，用棗肉和丸，如桐子大，每服十五丸，煎桑白皮湯下，日進三服，空心食前。此藥恐君子不信，試驗之。</p>
<h5>肉豆蔻丸</h5>
<p>治水濕，脹如鼓不食者，病可下。肉豆蔻，檳榔，輕粉（各一分），黑牽牛（一兩半，取頭末）</p>
<p>右為末，麵糊為丸，如菉豆大，每服十丸至二十丸，煎連翹湯下，食後，日三服。</p>
<p>黃帝素問宣明論方卷八終</p>
<h1>卷九</h1>
<h2>痰飲門</h2>
<h3>痰飲論</h3>
<p>夫嗽者，五臟皆有嗽，皆因內傷脾胃，外感風邪。皮毛屬肺，風寒隨玄府而入，腠理開張，內外相合，先傳肺而入，遂成咳嗽，迺肺熱也。寒化熱，熱則生痰，喘滿也。經云喉中介介如梗狀，甚則嗽血也，胸滿氣喘痰盛稠粘皆肺氣熱也。</p>
<h5>大人參半夏丸</h5>
<p>治化痰墜涎，止嗽定喘，諸痰不可盡述，嘔吐痰逆，痰厥頭痛，風氣，偏正頭疼，風壅，頭目昏眩，耳鳴，鼻塞，咽膈不利，心腹痞滿，筋脈拘倦，肢體麻痹疼痛，中風偏枯，咳唾稠粘肺痿，勞虛人保養宣通氣血，調和臟腑，進飲食。</p>
<p>人參，茯苓（去皮），天南星，薄荷葉（各半兩），半夏，乾生薑，白礬（生），寒水石（各一兩），蛤粉（一兩），藿香葉（一分）</p>
<p>右為末，麵糊為丸，如小豆大，生薑湯下，二三十丸，食後，溫水。亦得一法。加黃連半兩，黃柏二兩，水丸，取效愈妙，治酒病，調和藏，尤宜服之。</p>
<h5>新添半夏瓜蔞丸</h5>
<p>治遠近痰嗽，煩喘不止者。</p>
<p>半夏（生薑製），瓜蔞，杏仁（去皮尖）麻黃，白礬（枯秤），款冬花（各等分）</p>
<p>右為末，生薑汁打麵糊為丸，如梧子大，每服二十丸，煎生薑湯下，不計時候。</p>
<h5>白朮厚朴湯</h5>
<p>治痰嘔不散，利胸膈，除寒熱，美飲食。</p>
<p>白朮，甘草（炙），葛根（各一兩），厚朴（半兩）</p>
<p>右件為末，每服一二錢，水一大盞，生薑五片，煎至六分，去滓，食煎服顯仁丸，仙朮芎散，大人參半夏丸。</p>
<h5>橘皮半夏湯</h5>
<p>治痰壅涎嗽久不已者，常服養液潤燥，解肌熱止咳嗽。</p>
<p>橘皮（半兩去皮），半夏（二錢半，湯洗七次）</p>
<p>右為末，分作二服，每服水一盞半，入生薑十片同煎，至七分去滓溫服。</p>
<h5>知母茯苓湯</h5>
<p>治肺痿喘咳不已，往來寒熱，自汗。</p>
<p>茯苓（去皮），甘草（各一兩），知母，五味子，人參，薄荷，半夏（洗七次），柴胡，白朮，款冬花，桔梗，麥門冬，黃芩（半兩），川芎（三錢），阿膠（三錢炒）</p>
<p>右為末，每服三錢，水一盞半，生薑十片，同煎至七分，去滓，稍熱服。</p>
<h5>人參潤肺湯</h5>
<p>治肺氣不足，喘急咳嗽不已，并傷寒頭疼，增寒壯熱，四肢疼痛。</p>
<p>人參，桔梗，白芷，麻黃（去節），乾葛，白朮，甘草（各一兩炙），白薑（半兩）</p>
<p>右為末，每服二錢，水一大盞，生薑三片，蔥白二寸，煎至八分，如出汗，連進二服，通口溫服。</p>
<h5>杏仁半夏湯</h5>
<p>治肺痿，涎喘不定，咳嗽不已，及甚者往來寒暑。</p>
<p>杏仁（去皮），桔梗，陳皮（去白），茯苓（去皮），漢防己，白礬，桑白皮（各三錢），薄荷葉（一錢），甘草（二寸），豬牙皂角（一錢）</p>
<p>右為末，作二服，水二盞，生薑三片，煎至六分，去滓，食後溫服。</p>
<h5>防己丸</h5>
<p>治肺不足，喘嗽久不已者，調順氣血，消化痰涎。</p>
<p>防己（二錢），杏仁（三錢），木香（二錢）</p>
<p>右為末，煉蜜為丸，如小豆大，每服二十丸，煎桑白皮湯下，如大便閟，加葶藶一兩，食後服。</p>
<h5>葶藶散</h5>
<p>治肺氣喘滿痰嗽，眠臥不安，不思飲食。</p>
<p>苦葶藶，蛤粉（各三錢），桑白皮，山梔子，人參，荊芥穗，薄荷葉，赤茯苓（去皮），陳皮，桔梗，杏仁，甘草（各半兩）</p>
<p>右為末，每服三錢，水一大盞，入生薑三片，煎至六分，去滓，溫服，食後。</p>
<h5>保安半夏丸</h5>
<p>治久新諸嗽，或上逆涎喘，短氣痰鳴，咽乾煩渴，大小便澀滯，肺痿勞劣，心腹痞滿急痛，中滿膈氣，上實下虛，酒食積聚不消，補養氣血，宣行榮衛。</p>
<p>半夏，天南星（各半兩 ），牽牛（一兩），大黃（半兩），黃柏（一兩半），蛤粉（一兩），巴豆（四箇）</p>
<p>右為末，水為丸如小豆大，每服十丸十五丸，溫水下，食後，日三服，孕婦不可服。又方無芭豆，有乾薑一錢半。</p>
<h5>人參保肺湯</h5>
<p>治五勞七傷，喘氣不接，涎痰稠粘，骨蒸潮熱。</p>
<p>人參，柴胡，當歸，芍藥，桑白皮，知母，白朮，川芎，黃耆，紫苑，地骨皮（各一分），荊芥，茯苓（去皮），黃芩，連翹，大黃，薄荷，山梔子（各半兩），甘草，桔梗（各一兩），石膏，滑石，寒水石（半兩）</p>
<p>右為末，每服三錢，水一盞，生薑三片，煎至七分，去滓溫服，泄者去大黃，同人參半夏丸服。</p>
<h5>神應丹</h5>
<p>治涎嗽喘滿，上攻心腹卒痛，及利下血，兼婦人帶下病，一切肋脇痛滿。</p>
<p>薄荷葉，甘草（四錢），巴豆（燈燒存性），盆硝（各二錢），輕粉（二錢），豆豉（一兩，慢火炒），五靈脂（二錢）</p>
<p>右為末，煉蜜為丸如桐子大，每服一丸，溫𤅈汁下，續後空嚥津三五次，禁飲。食少時，覺咽喉微煖效。心腹急痛溫酒下二丸，未效再服，得利尤良，帶下以溫酒下二丸，或大便流利再服。</p>
<h5>人參散</h5>
<p>治身熱頭痛積熱，黃瘦肌熱，惡寒畜熱，發戰膈熱，嘔吐煩渴，濕熱瀉利，或目赤口瘡，咽喉腫痛，或風昏眩虛汗，肺痿勞嗽不已者。</p>
<p>石膏，甘草（各一兩），滑石（四兩），寒水石（二兩），人參（半兩）</p>
<p>右為末，每服二錢，溫水調下，早晚食後兼服梔子金花丸。一名既濟解毒丸。</p>
<h5>寧神散</h5>
<p>治一切痰嗽不已者，諸藥無效，世傳極驗。</p>
<p>御米囊（一斤，生醋炒），烏梅（四兩）</p>
<p>右為末，每服二三錢，沸湯點常服，食後日三服。</p>
<p>賈同知方：御米殼（一兩炒），烏梅肉（半兩），依前法服之。</p>
<p>康少尹傳：煎烏梅湯尤妙。</p>
<h5>桂苓白朮丸</h5>
<p>治消痰逆，止咳嗽，散痞滿壅塞，開堅結痛悶，推進飲食，調和五藏，無問寒濕，濕熱，嘔吐瀉痢，皆能開發，以令遍身流濕潤燥，氣液宣平而愈，解酒毒。療肺痿勞嗽，水腫腹脹，泄瀉不能止者，服之利止為度，隨證調之。</p>
<p>揀桂，乾生薑（各一分），茯苓（去皮），半夏（一兩），白朮，紅皮（去白），澤瀉（各半兩）</p>
<p>右為末，麵糊為丸如小豆大，生薑湯下，二三十丸，日三服，病在膈上，食後。在下，食前。在中，不計時候。或一法，更加黃連（半兩），黃柏（二兩），水丸取效愈妙。</p>
<h5>潤肺散</h5>
<p>治小兒膈熱，咳嗽痰喘甚者，久不瘥者。</p>
<p>瓜蔞實（一枚，去子用穰）</p>
<p>右為末，以寒食麵和為餅子，炙黃為末，每服一錢，溫水化乳糖下，日三服，效乃止。</p>
<p>又方：</p>
<p>治寒嗽。</p>
<p>麻黃（四兩），官桂（一兩），蠟（二錢）</p>
<p>右為末，以蠟同煎，每服一二錢，溫服。</p>
<h5>寧肺散</h5>
<p>治一切寒熱痰盛，久新咳嗽不止者。</p>
<p>御米殼（四兩），木瓜（三兩，御米殼一處用蜜二兩水化，同炒微黃。），五味子（一兩），人參（一兩），皂角（二兩）</p>
<p>右為末，每服二錢，烏梅同煎，臨臥食服大效。</p>
<h5>鱉甲丸</h5>
<p>治吐血咳嗽神效。</p>
<p>鱉甲（一箇九肋者，醋炙黃。），柴胡（一兩，酒浸一宿。），杏仁（一兩，童子小便浸炒。），甘遂（一兩炙），人參（半兩）</p>
<p>右為末，煉蜜為丸如桐子大，每服十丸至十五丸，煎生薑湯下。</p>
<p>又方：用厚朴（一兩，生薑製。）。</p>
<h5>石膏散</h5>
<p>治熱嗽喘甚者。</p>
<p>石膏（一兩），甘草（半兩炙）</p>
<p>右為末，每服三錢，新汲水下，又生薑汁蜜調下。</p>
<h5>人參半夏丸</h5>
<p>治一切痰飲喘嗽不已。</p>
<p>白礬，天南星，半夏（各半兩），甘草（二錢半炙），人參（二錢），赤小豆（四十九粒），杏仁（四十九粒），豬牙皂角（一鋌）</p>
<p>右為末，秫米三升，醋一升，熬粥和丸桐子大，每服十五丸，炒蘿卜子湯，臨臥下。</p>
<h5>仙人肢丸</h5>
<p>治遠年勞嗽，不問寒熱痰涎喘滿，先服松花膏下，過多服此藥無不效。</p>
<p>人參，沙參，玄參，紫團參，丹參，白朮，牡蠣，知母，甘草（各二兩），蛤蚧（一對，頭尾全用，河水淨洗，文武火酥炙黃色。）</p>
<p>右為末，用麻黃十五斤去根，枸子三斤，熬成膏丸，如彈子大，磁合子內盛，臨臥，煎生薑自然汁，化下一丸，小兒量數加減。</p>
<h5>松花膏</h5>
<p>治三二十年勞嗽，預九月間，宣利一切痰涎肺積，喘嗽不利。</p>
<p>防風，乾生薑，野菊花，芫花，枸杞子，甘草，蒼朮，黃精</p>
<p>右為末，取黃精根熬成膏子，和藥末丸如彈子大，每服細嚼一丸，冷水化下，臨臥。不喫夜飯，服藥一粒。</p>
<h5>辰砂半夏丸</h5>
<p>治小兒肺壅痰實，咳嗽喘急，胸膈痞滿，公忪煩悶，痰涎不利，呀呷有聲。</p>
<p>半夏（半兩洗），葶藶（水研成膏），杏仁（各半兩，炒研成膏），硃砂，五靈脂（各一兩，微炒。）</p>
<p>右為末，更研勻，生薑汁煮麵糊為丸如桐子大，每服十五丸，生薑湯下。</p>
<h5>大百勞散</h5>
<p>治一切勞疾，肌劣，喘息不臥，痰涎不食。</p>
<p>蛤蚧（一對蜜炙），元州鱉甲（一箇，去裙醋炙。），附子（一兩），人參，柴胡，川乾薑，白茯苓（去皮），白朮，茴香，青皮（去白），杏仁（去皮尖），知母，貝母，陳皮（去白），官桂，甘草（炙），半夏（生薑製），蒼朮（湯浸各一兩），蘇木，龍膽草（各半兩）</p>
<p>右為末，每服三錢，水一盞，生薑三片，棗二枚，烏梅二枚同煎，空心稍熱服，有汗加小麥二十粒，不用鐵煎。</p>
<h5>小百勞散</h5>
<p>治勞喘嗽不已，自汗者。</p>
<p>御米殼（不拘多少，炒）</p>
<p>右為末，每服二錢，入烏梅同煎，水一盞，溫服，食後。有汗，加小麥三十粒同煎，溫服。</p>
<h5>五味子湯</h5>
<p>治胸膈痞滿，心腹刺痛，短氣噎悶，咳嗽痰唾，嘔逆惡心，不思飲食，溫中益氣。</p>
<p>五味子（九兩），良薑（一兩半），紅皮（去白），茴香（炒，各一兩），乾薑（兩半），甘草（七兩炙），鹽（一斤炒）</p>
<p>右為細末，每服一錢，百沸湯點，空心食前，甚者日進三服。</p>
<h5>安神散</h5>
<p>治遠年近日喘嗽不已。</p>
<p>御米殼（蜜炒一兩），人參，陳皮（去白），甘草（一兩炙）</p>
<p>右為末，每服一錢，煎烏梅湯調下，臨臥服。</p>
<h2>勞門</h2>
<h5>白朮黃耆散</h5>
<p>治五心煩，自汗，四肢痿劣，飲食減少，肌瘦昏昧。</p>
<p>白朮，黃耆，當歸，黃芩（去腐），芍藥（各半兩），石膏，甘草（各二兩），茯苓，寒水石（各一兩），官桂（一分），人參，川芎（各三分）</p>
<p>右為末，每服二錢，水一盞，煎至六分，去滓溫服，食前，一日三服。</p>
<h5>人參白朮湯方</h5>
<p>在消渴門第一方是也。（此乃為同，不復錄耳。）</p>
<h5>黃連丸</h5>
<p>治濕熱流連，氣血不通，壅滯不散，清爽頭目。</p>
<p>黃連（好者，不拘多少。）</p>
<p>右為末，酒麵糊為丸如小豆大，每服二十丸，溫水下，不計時候，日三服。</p>
<h5>必效散</h5>
<p>治五勞七傷，勞役肌瘦，不思飲食，喘嗽不已。</p>
<p>川烏頭（一兩生），天南星（半兩生）</p>
<p>右為末，每服二錢，蘿卜八塊，知母指大，以水煮熟，去滓，食後服嚼。</p>
<h5>當歸地黃湯</h5>
<p>治嗽血，衂血，大小便血，或婦人經候不調，月水過多，喘嗽者。</p>
<p>當歸，芍藥，川芎，白朮，染槐子，黃藥子（各半兩），生地黃，甘草，茯苓（去皮），黃芩，白龍骨（各一兩）</p>
<p>右為末，每服三錢，水一盞，煎至七分，去滓溫服，食前。</p>
<h5>紫苑散</h5>
<p>治勞，體熱心寒，脈滑短，咳嗽，婦人多有此疾，口乾眼澀，骨痿短氣，皆因腸胃燥滯，榮衛不能開發，玄府閉塞，熱鬱內餘，可以開發陰陽，宣通澀滯，和榮衛順三焦，兼服人參白朮湯。</p>
<p>紫苑，桑白皮，桔梗，續斷，甘草，五味子（各一兩），赤小豆（一合）</p>
<p>右為末，水一大盞，藥末五錢，青竹茹彈子大，同煎至七分，溫服去滓。</p>
<h5>枳實飲子</h5>
<p>治婦人手足煩熱，夜臥多汗，肌肉黃瘁，經候不調，四肢煩倦，心腹滿悶狀似勞氣。</p>
<p>枳殼（一兩），吳半夏（一兩，湯洗七次，以生薑汁浸三日，火炒黃色，用半夏。），紅芍藥，柴胡（各一兩），黃芩（一兩半）</p>
<p>右為末，每服二錢，水一盞，生薑三片，棗二枚，同煎至八分，去滓溫服。及治五心煩熱，及身體壯熱潮熱，續服桃仁煎丸，又治月經不調，阻滯不通。</p>
<p>桃仁（二兩，湯浸，火炒。），川大黃，川朴硝（各二兩），蝱蟲（一兩，去翅頭足。）</p>
<p>右為末，用醋五升，入金銀鐺內，以ˍ火熬成膏，可丸如桐子大，當日晚不食夜飯，溫酒下一丸，不嚼破，午際取下赤小豆汁，似雞肝小蝦蟇衣，末再服，候鮮紅即住服。</p>
<h5>盧同散</h5>
<p>治男子婦人一切咳嗽喘急。</p>
<p>款冬花，井泉石，鵝管石，鍾乳石，官桂，甘草，白礬，佛耳草（各等分）</p>
<p>右為末，每服一錢，竹筒子吸喫，日三服，立效。</p>
<h5>焚香透膈散</h5>
<p>治一切勞，咳嗽壅滯，胸膈痞滿。</p>
<p>雄黃，佛耳草，鵝管石，款冬花（各等分）</p>
<p>右為末，每服用藥一錢，安在香爐子上焚著，以開口吸，煙在喉中立效。</p>
<h5>鶯粟神聖散</h5>
<p>治男子婦人久新日夜咳嗽不止者。</p>
<p>御米殼（一兩蜜炒），烏梅肉，揀人參，訶子肉，葶藶，桑白皮（各半兩）</p>
<p>右為細末，每服二三錢，百沸湯潑，臨臥調下。</p>
<h5>新添三黃丸</h5>
<p>治五勞七傷，流濕潤燥，消渴煩熱甚者。</p>
<p>大黃，黃芩，黃連（各等分）</p>
<p>右為末，煉蜜為丸如桐子大，每服二三十丸，加至五十丸，生薑湯下，不計時候，日三服妙。</p>
<h5>當歸木香湯</h5>
<p>治婦人血氣虛勞，令人頭目昏眩，讝語聲沈重，舌根強硬言語蹇澀，口苦不思飲食，白日間睡，夜發虛汗，神思恍惚，夢寐狂言，面色痿黃，頻發喘咳，遍身疼痛，骨節氣走注，四肢沈重，背髀拘急，發寒熱，五心煩燥，唇乾多渴，胸膈不利，喉咽噎塞，尪羸瘦弱。經曰脈大為勞，宜服此藥。</p>
<p>青皮，五加皮，海桐皮，桑白皮，陳皮，地骨皮，丁香皮，牡丹皮，棕䕡皮（諸藥全燒為灰末，用十大錢秤），當歸（一兩），木香，紅芍藥（半兩）</p>
<p>右為細末，每服一錢，水一盞，入小油二點，錢一文，同煎至七分，溫服。如婦人血臟臍下冷痛似刀攪，遍身腫滿，室女經脈不通，用斑貓一兩，大黃一兩，炒剉，二味為末，用黃狗膽汁以溫酒調下一錢，如臍下痛，止心間，痰未止，不服二味。</p>
<p>黃帝素問宣明論方卷九終。</p>
<h1>卷十</h1>
<h2>燥門</h2>
<h3>消渴總論</h3>
<p>燥乾者金肺之本，燥金受熱化以成燥澀也，兼火熱致金衰耗液而損血，鬱而成燥者，由風能勝濕，熱能耗液，故經云風熱火同陽也，寒濕燥同陰也，又燥濕小異也，金燥雖屬秋陰，而其性異於寒濕，而反同於風熱火也，又加大便乾澀，乃大腸受熱化成燥澀，經云諸澀枯渴。</p>
<p>又如癱瘓中風，皆因火熱耗損血液，玄腑閉塞不能浸潤，金受火鬱不能發聲，經云肺主聲。肢痛軟疾者風熱濕相致，而遂以偏枯，語音澀，手足不隨也，然中寒吐瀉亡液而成燥亦以鮮矣，亦有寒濕相鬱，榮衛不能開發貫注，多成偏枯，經曰諸澀枯涸乾勁皴揭屬於燥也。</p>
<p>又如胃膈癉熱煩滿饑不欲食，或癉成消中，善食而瘦或燥熱鬱甚，而成消渴，多飲而數小便，或因熱病，或恣酒飲，誤服熱藥，以致脾胃真陰陽損虛，肝心衰弱也，狂陽心火燥其三焦腸胃，燥澀怫鬱，而水液不能宣行也，則周身不得潤澤，故瘦悴黃黑也，而燥熱消渴。然雖多飲，亦必水液不能浸潤於腸胃之外，湯不能止而便注，為小便多出，俗未明妄為下焦虛冷，誤人多矣。又如周身煩燥鬱，故變為雀目或內障，癰疽瘡瘍，上為咳嗽喘，下為痔痢或停積，而濕熱內甚，不能傳化者，變為水腫濕成也，世傳消渴病及消瘦弱，或小便有脂液者，為消腎也。此為三消病也，消渴，消中，消腎，經意但皆熱之所致也。</p>
<h5>人參白朮湯</h5>
<p>治胃膈癉熱，煩滿饑不欲食，癉成為消中，善食而瘦，燥熱鬱甚，而成消渴，多飲而數小便，兼療一切陽實，陰虛，風熱燥鬱，頭目昏眩，風中偏枯，酒過，積毒，一切腸胃燥澀，倦悶壅塞，瘡疥，痿痹，并傷寒雜病，產後煩渴，氣液不得宣通。</p>
<p>人參，白朮，當歸，芍藥，大黃，山梔子，荊芥穗，薄荷，桔梗，知母，澤瀉（各半兩），茯苓（去皮），連翹，瓜蔞根，乾葛（各一兩），甘草（二兩），藿香葉，青木香，官桂（各一分），石膏（四兩），寒水石（二兩），滑石（半斤）</p>
<p>右為細末，每服抄五錢，水一茶盞，入盆硝半兩，生薑三片，煎至半盞，絞汁入蜜，少許溫服，漸加至十餘錢，得臟腑流利取效。如常服，以意加減兼服。（消痞丸散以散腸胃結滯，濕熱內甚，自利者去了大黃，芒硝。）</p>
<h5>絳雪散</h5>
<p>治消渴，飲水無度，小便數者，大有神效。</p>
<p>漢防己，括蔞實，黃芩，黃丹（各等分）</p>
<p>右為細末，每服二錢，湯漿水調下，臨臥時，併進三二服即止。</p>
<h5>人參散</h5>
<p>治消腎，善飲而食後數小便溺者。</p>
<p>人參（三錢），白朮，澤瀉，瓜蔞，桔梗，梔子，連翹（各半兩），葛根，黃芩，大黃，薄荷，白茯苓（各一兩），甘草（一兩半），石膏（二兩），滑石，寒水石（各三兩）</p>
<p>右為末，入縮砂仁三錢，每服五錢，水一盞，煎至七分，入蜜少許，再煎三二沸，去滓，食前，食後服消痞丸。</p>
<h5>大黃甘草飲子</h5>
<p>治男子婦人一切消渴不能止者。</p>
<p>大豆（五升，先煮三沸，出淘苦水，再煮。），大黃（一兩半），甘草（大麤者，四兩長，四指打碎。）</p>
<p>右三味，用井水一桶，將前藥同煮三五時，如稠糨水少，更於豆軟盛於盆中放冷，令病人食豆，渴食，不論無時，時食，食後消渴如若不止，再煮前藥，不三。</p>
<h2>痢門</h2>
<h3>總論</h3>
<p>夫痢者，五臟窘毒而不散，或感冷物，或胃寒暑失，饑不能開發，久傷冷熱等食，或服暖藥過極，鬱化成利。自古人三口白利為寒，赤利乃熱，其三口誤也，今人瘡節初發，刺開乃血多日成膿，何為先熱而後寒也。</p>
<p>叔和云：濕多成五泄，腸走若雷奔，愚醫不悟三口，黃者乃熱，青利是寒。太素曰：五泄有溏泄，騖泄，飧泄，濡泄，滑泄也。此乃五泄，五泄者，青是感肝木之象，其色青赤者。受心火之氣，其色赤白者。得西方金肺之氣，其色白黃者。脾土之色蒼者，土氣之下與水隨之其色蒼也，三口蒼曰寒黃赤熱，其三口非也，若下利熱極頻并窘痛，或久不愈，諸藥不能止者，須下之以開除濕熱痞閉積滯，而使氣液宣行者，宜以逐之兼宣利積熱也。</p>
<h5>益元散：</h5>
<p>治身熱吐痢，泄瀉腸癖，下痢赤白，癃閉淋痛，利小便，偏主石淋（乃服金石熱藥多，待為砂石從小便淋出者也。），腸胃中積聚寒熱，宣積氣通九竅，六府生津液，去留結消畜水，止渴寬中除煩熱，心躁腹脹痛悶，補益五藏，大養脾腎之氣（此腎水之藏，非為主之府也。），理內傷陰痿，安魂定魄，補五勞七傷，一切虛損，主癇痓驚悸（悸驚動貌）健忘，止煩滿，短氣，藏傷咳嗽，飲食不下，肌肉疼痛，并口瘡牙齒疳蝕，明耳目壯筋骨通經脈和血氣，消水穀保元真，解百藥酒食邪毒，耐勞役饑渴，宣熱辟中外諸邪所傷，久服強志輕身注顏延壽，及解中暑，傷寒疫癘，饑飽勞損，憂愁思慮恚怒驚恐，傳染并汗後遺熱勞復諸疾，并解兩感傷寒，能令遍身結滯宣通，氣和而愈，及婦人下乳催生，產後損益血衰，陰虛熱甚，一切熱證，兼吹妳乳癰，此神驗之仙藥也。惟孕婦不宜服，滑胎也。</p>
<p>桂府膩白滑石（六兩），甘草（一兩炙）</p>
<p>右為末，每服三錢（蜜少許），溫水調下（無蜜亦得），日三服，欲冷飲者新汲水調下，解利傷寒發汗，煎（蔥白豆豉）湯下四錢（每服水一盞，蔥白五寸，豆豉五十粒，煮取汁一盞調下），併三服，效為度。此藥是寒涼解散鬱熱，若病甚不解，多服此藥無害但有益而無損，俗惡性寒，兼易得之賤物，而不明素問造化之理，故不取古人神驗之言，而多不用焉，若以隨證驗之，此熱症之仙藥也，不可闕之。</p>
<p>（傷寒當汗而不可下，當下而不可汗者，且如誤服此藥則汗出自愈，裏熱便得宣通而愈，或半在裏半在表可和解，而不可發汗吐下者，若服吐藥多愈亦獲小效。是解散怫鬱邪熱甚者，小加減）涼膈散，（和解為佳。或人不當汗者，更可加）蒼朮末（三分，同蔥豉煎湯調服甚良。或孕婦不宜服）滑石，麻黃，桂枝；（要發汗，當即用）甘草（一兩），蒼朮（二兩，同為末，每服四錢，水一盞半，更加入）蔥白（五寸），豆豉（五十枚，同煎至六分，去滓溫服，併三服取微汗為度。），逼毒散（非孕婦可服）。太白散（加入）麻黃（二兩，去節，如法煎服，世云）神白散。（或逼毒散，與加）麻黃蒼朮（各等分，去節秤），濟眾云青龍散。（或青龍散，欲更加入）滑石與蒼朮（二倍），最為發汗之妙藥也，（唯正可汗者，即用此服之，則轉加熱也，名為）大通毒散。（或解利兩感，同更兼煎）涼膈散，（調下）益元散（四錢；或下乳用豬肉麵羹，或酒之類，調下四錢，不計時候日三服，宜食肉麵羹粥）。催產（用溫油漿調下三錢，併二三服，以產為度。或死胎不下者，煎）三一承氣湯，（一服調下五錢，須臾更頻用溫油漿調服，前後俱下胎，可活產母也；凡難產或死胎不下，皆由風熱燥澀緊歛結滯，不能舒緩，是故產戶不得自然開也，其藥力至則熱結頓開而產矣，慎不可溫補而反生燥熱也，俗未知產後日夜損血，疼痛怖懼，以致神狂氣亂，則陰氣損虛，邪熱太甚而為諸證。由不明素問造化，故不識證候陰陽，反以妄為產後諸虛百損，便為虛冷而無熱也，誤以熱藥溫補，或見渴甚者不令飲水，本為善心，為害多矣。豈知治病之道，俱以臨時審其藏府六氣虛實，明其標本，如法治之而已矣。此藥之用常多而為效至大，俗以病異藥同將為妄行，反招侮慢）。今以（若加）黃丹，（令桃仁色，是以名之）紅玉散。（若加）青黛（令輕粉碧色名）碧玉散。若加薄荷葉（末，一分同研，名）雞蘇散。（主療並同，但以回避愚俗之妄侮慢耳。）</p>
<h5>玄清丸</h5>
<p>治下痢勢惡頻并窘痛，或久不愈。諸藥不能止。須可下之。以開除濕熱痞悶積滯，而使氣液宣行者，宜以逐之，兼宣利積熱，酒食積，黃瘦中滿，水腫腹脹，兼療小兒驚疳，積熱乳癖諸證，唯泄瀉者勿服。</p>
<p>黃連，黃柏，大黃，甘遂，芫花（醋拌炒），大戟（各半兩），牽牛（四兩，取末二兩），已上同細末，輕粉（二錢），青黛（一兩）</p>
<p>右為末，勻水丸小豆大，初服十丸，每服加十丸，空腹，日午，臨臥三服，以快利為度，後常服十五二十丸，數日後得食，久病未痊除者，再加取利，利後卻常服，以意消息病去為度後，隨證止之。小兒丸如黍米或麻子大，退驚疳熱積不下者，須常服十丸。</p>
<h5>阿膠梅連丸</h5>
<p>治下痢，無問久新赤白青黑，疼痛諸證。</p>
<p>金井阿膠（淨草灰炒透明，白別研，不細者再炒研細。），烏梅肉（去核炒），黃柏（剉炒），黃連，當歸（焙），赤芍藥，乾薑（炮），赤茯苓（半兩，各等分）</p>
<p>右為末，入阿膠研勻，水丸桐子大，溫米飲下十丸，食前兼夜五六服。小兒丸如菉豆，忌油膩脂肥諸物也。</p>
<h5>牛黃神金丸</h5>
<p>治大人小兒嘔吐瀉痢，無問久新赤白諸色，或渴或不渴，小便澀或不澀，并小兒驚疳積熱，痃癖堅積腹滿硬痛，作發往來，亦能寬膈消食。</p>
<p>輕粉，粉霜，碙砂（以上別研），雄黃（研），硃砂，信砒，巴豆（去皮，各一錢），黃丹，蠟（三錢）</p>
<p>右先研粉霜，次旋入碙砂，研細下雄黃硃砂信砒。再研下丹粉研勻。別研芭豆爛為油，與前藥研勻近火上炙控熱，別研蠟軟入藥，勻搓作劑。旋丸小豆大，新水下一丸，小兒黍米麻子大，或止吐瀉痢疾，調甘露散（是桂苓甘露飲），或益元散亦得。</p>
<h5>芍藥柏皮丸</h5>
<p>治一切濕熱惡痢，頻年窘痛，無問膿血並宜服之。</p>
<p>芍藥，黃柏（各一兩），當歸，黃連（各半兩）</p>
<p>右為末，水丸如小豆大，溫水下三四十丸，無時兼夜五六服，忌油膩脂肥發熱等物。</p>
<h5>二勝丸</h5>
<p>治泄痢虛損，不問久新者。</p>
<p>鹽豉，紫蒜（去皮，各等分）</p>
<p>右同杵為膏丸，如桐子大，每服三丸至五丸，米飲湯下。如未愈，及赤白痢，腹滿脇痛，更與杏仁丸。</p>
<h5>杏仁丸</h5>
<p>治一切赤白瀉痢，腹痛裏急後重者。</p>
<p>杏仁（四十九箇），巴豆（四十九箇，去皮）</p>
<p>右以藥同燒存性，研如泥，用蠟鎔和旋丸，如桐子大，每服一二丸，煎大黃湯，間日一服。</p>
<h5>白朮聖散子</h5>
<p>治一切瀉痢久不瘥，并婦人產後痢亦治。</p>
<p>御米殼（二兩蜜炒），當歸，肉豆蔻，縮砂仁，石榴皮，訶子，乾薑（炮），陳皮（去白），白朮，甘草，芍藥（各等分）</p>
<p>右為細末，每服二錢，水一大盞，入乳香同煎，和滓服。</p>
<h5>勝金膏</h5>
<p>治一切泄瀉痢不已，胃脈浮洪者反多日不已者，微小者立止。</p>
<p>巴豆皮，楮實葉（同燒存性）</p>
<p>右為末，鎔蠟丸，如菉豆大，每服五丸煎甘草湯下。</p>
<h5>大聖金真散</h5>
<p>治一切寒熱赤白溏泄等痢疾。</p>
<p>御米殼（半斤炒），甘草（一兩炙），乾薑（半兩炮），當歸（一兩），醋石榴皮（一兩炒，陳皮（去白），白茯苓（去皮，一兩）</p>
<p>右為末，每服二錢，水一盞，小兒半盞，乳香同煎至七分，食前，忌油膩生冷毒物等。</p>
<h5>車前子散（一名）斷痢散</h5>
<p>能治一切痢不止。</p>
<p>車前子（不以多少，炒香）</p>
<p>右為末，每服二錢，米飲調下，食前空心。</p>
<h5>象骨散</h5>
<p>治脾胃虛弱，心腹脹滿，水穀不消，噫氣吞酸，食輒嘔吐，霍亂泄瀉膿血，四肢沈重，臍腹疼痛，裏急夜起頻併，不思飲食，皆可治之。</p>
<p>象骨（四兩炒），訶子（取肉，二兩），肉豆蔻（一兩），枳殼（一兩），甘草（二兩），乾薑（半兩）</p>
<p>右為末，每服三錢，水一盞半，煎至八分，和滓熱服，食前，日三服。</p>
<h5>海蛤玉粉散</h5>
<p>治血痢，解藏中積毒熱。海蛤（不以多少）</p>
<p>右為末，每服二錢，入蜜少許，冷水調下，不計時候。</p>
<p>宣明論方卷十終。</p>
<h1>卷十一</h1>
<h2>婦人門</h2>
<h3>總論</h3>
<p>素問曰，目得血而能視，耳得血而能聽，指得血而能攝，掌得血而能握，足得血而能步，藏得血而能液，腑得血而能氣。然血所通流則氣亦然也，氣血宣行其中，神自清利而應機能用矣。故</p>
<p>素問氣血，人之神也，不可不謹調護。然婦人以血藏為基本也，夫婦人之病，手太陽足少陰小腸心之經絡為裏表，起自任衝之脈，於經脈之下，以上毛際循腹裏關元，上至咽喉頤，循面目，過帶脈貫臍而止，以婦人月水一月一來如期謂之月信，其不來則風熱傷於經血，故血在內不通，或內受邪熱，脾胃虛損不能飲食，食既不充榮衛，凝澀肌膚黃燥，面不光澤，或大腸虛，變為下痢，流入關元致絕子嗣，為子藏冷虛勞損。而病帶下起於胞內。</p>
<p>夫帶下之造化，但分經絡，標本殊異為病之本氣也，其病所發正在過帶脈之分，而淋瀝以下故曰帶下也。赤白之說者無定也。法曰頭目昏眩，口苦舌乾咽喉不利，小便赤色，大小便秘澀滯，脈實而數者皆熱證也。凡白帶下者，亦多有之為病寒，豈能然素問亢則害，承迺制，謂亢過極，而反兼已勝之化，制其甚也，則如火煉金，熱極則反化為水，及六月熱極，則物出液而濕潤林木流津，故肝熱則出泣，心熱則出汗，脾熱則出涎，肺熱則出涕，腎熱甚則唾。</p>
<p>大凡俗論，已煎熱湯煮極則沸溢，及熱氣重蒸於物，而生津液也。故下部任脈濕熱甚者，津液涌而溢已為帶下。見俗醫白帶下者，但依方論而用辛熱之藥，雖有誤中，致令鬱結熱聚，不能宣通，舊病轉加，世傳誤之久矣。</p>
<h5>人參白朮散</h5>
<p>治徧身燥濕相搏，玄府緻密，遂令忪悸發渴，飲食減少不為肌膚。</p>
<p>人參（三錢），白朮（七錢），薄荷（半兩），縮砂仁（三錢），生地黃，茯苓（去皮），甘草（各半兩），黃芩（一錢），滑石（三兩），藿香（三錢半），石膏（一兩）</p>
<p>右為末，每服三錢，水一盞煎至六分，去滓溫服，食前，日進二三服。</p>
<h5>白朮湯</h5>
<p>治妊娠血液虛衰痿弱，難以運動，氣滯肉麻，榮衛不能通宣，常服養液潤燥，開通結滯，令血昌盛。</p>
<p>白朮（三兩），寒水石，當歸，黃芩，芍藥，人參，石膏，乾葛，防風，縮砂，藿香，甘草，茯苓（一兩），木香（一兩）。崔宣武方（用白朮一兩）</p>
<p>右為末，每服三錢，水一盞，生薑三片同煎五六分，去滓溫服，食前，日三服。</p>
<h5>二氣湯</h5>
<p>治月水不調，斷絕不產，面黃肌瘦，虛不美食，有燥熱。以柴胡飲子相參服之。</p>
<p>大黃（四兩，別為末，醋一升，熳火熬成膏子。），當歸（二兩），白芍藥（二兩）</p>
<p>右為末，以膏子和丸如桐子大，每服二十丸，淡醋湯下，食前，日進三服。</p>
<p>（如月水不通，加入）乾漆（三錢，炒出火），沒藥（半兩），碙砂（三錢研），官桂（二錢），斑蝥（三錢，去翅足炒熱用，本草云：此用熬，不可生用，則吐瀉。）</p>
<h5>當歸龍骨丸</h5>
<p>治月事失常，經水過多及帶下淋瀝，無問久新赤白諸證，并產後惡物不止，或孕婦惡露，胎痛動不安，及大小兒痢瀉並宜服之。</p>
<p>當歸，芍藥，黃連，染槐子，艾葉（炒，各半兩），龍骨，黃柏（各一兩），茯苓（半兩），木香（一分）</p>
<p>右末，滴水為丸如小豆大，溫米飲下三四十丸，食前，日三四服。</p>
<h5>當歸人參散</h5>
<p>治產後虛損痿弱難以運動，疼痛胸滿不思飲食。</p>
<p>當歸，白朮，黃芩，芍藥，大黃，茯苓（去皮），陳皮（各半兩），人參，黃耆（剉），川芎，厚朴（去皮，薑製），官桂（各三錢），甘草（一兩），枳殼（四錢，去欀炒）</p>
<p>右為末，每服三錢，水一盞，生薑三片，煎至六分，去滓，不計時候，溫服。如大便閟，以此散下和中丸。</p>
<h5>增損四物湯</h5>
<p>治月經不調，心腹疼痛，補血臟，溫經注顏。</p>
<p>川芎，當歸，芍藥，熟地黃，白朮，牡丹皮（各半兩），地骨皮（一兩）</p>
<p>右為末，每服五錢，水一盞，煎至六分，去滓溫服，食前。</p>
<h5>當歸川芎散</h5>
<p>治風壅頭目，昏眩痛悶，筋脈拘倦，肢體痲痹，保護胎氣，調和榮衛。</p>
<p>當歸，川芎（各半兩），甘草（二兩），黃芩（四兩），薄荷（一兩），縮砂仁（一分）</p>
<p>右為末，溫水調下一錢漸加至二錢，食後，日進三服。</p>
<h5>辰砂大紅丸</h5>
<p>治產後寒熱，運悶血氣塊硬，疼痛不止。</p>
<p>硃砂（一兩，一半入藥，一半為衣），附子（炮），沒藥（半兩），海馬（半錢），乳香，蓯蓉，肉桂，玄胡，薑黃，碙砂（各半兩），斑蝥（一分），生地黃（一兩）</p>
<p>右為末，酒煮麵糊為丸，如酸棗大，每服一丸煎當歸酒下，放溫。經水不行煎紅花酒下。</p>
<h5>三聖散</h5>
<p>治產後下血痢不止。</p>
<p>烏魚骨（炒），燒綿灰，血餘灰（汗脂者，各等分）</p>
<p>右為細末，每服煎石榴皮湯調下，熱服，一錢。</p>
<h5>沒藥丹</h5>
<p>治產後惡血不下，月候不行，血刺腰腹急痛，或一切腸垢沈積，堅滿痞痛，作發往來，或燥熱煩渴，喘急悶亂，肢體疼倦，大小人心腹暴痛，孕婦自利，惡物過多，不宜服燥熱，極甚血液衰竭，不可強行，宜調氣養血。細詳證用：</p>
<p>沒藥（一錢），當歸，大黃（一兩），牽牛（二兩），輕粉（一錢），官桂（一分，已上同研末），碙砂（一錢同研）</p>
<p>右研勻，醋麵糊為丸如小豆大，每五丸至十丸，溫水下，以快利取積，病下為度，雖利後病未痊者，後再加取利，止心腹急痛，煎乳香下，未止取大便利。</p>
<h5>黃藥子散</h5>
<p>治月事不止，煩渴悶亂，心腹急痛，肢體困倦，不美飲食。</p>
<p>黃藥子，當歸，芍藥，生地黃，黃芩，人參，白朮，知母，石膏（各一兩），川芎，桔梗（各一分），甘草（一兩），紫苑，槐花子，柴胡（各一分）</p>
<p>右為麤末，炒三錢，水一盞，煎至七分濾汁溫服，食前，但一服。</p>
<h5>大延胡索散</h5>
<p>治婦人經病，并產後腹痛，或腹滿喘悶，或癥瘕癖塊，及一切心腹暴痛。</p>
<p>延胡索，當歸，赤芍藥，京三稜，川楝子，蓬莪荗，官桂，厚朴，木香，川芎（各一分），桔梗，黃芩，大黃（各半兩），甘草（一兩），檳榔（一錢）</p>
<p>右為末，每服三錢，水一盞煎至六分，去滓熱服，食前，日三服。惡物過多，去大黃官桂，加入黃藥子染槐子龍骨各半兩，如前法。或平人心胃急痛，如本方煎服，得利尤好。</p>
<h5>枳實檳榔丸</h5>
<p>治安養胎氣，調和經候，癥瘕痞塊，有似妊孕可以久服，血氣通和，兼寬膈美食。</p>
<p>枳實，檳榔，黃連，黃柏，黃芩，當歸，阿膠（灰，炒細研），木香（各半兩）</p>
<p>右為末，水和丸如小豆大，溫米飲下三十丸，不計時候，日進三服。</p>
<h5>軟金花丸</h5>
<p>治心胸腰腹急痛，或淋病，并產前後經病刺痛，乾嘔氣勞，往來寒熱，四肢困倦，夜多盜汗者。兼治血積食積。</p>
<p>當歸（半兩焙），乾漆（二錢生），輕粉，斑蝥（生，全用，為末），碙砂，粉霜，巴豆（二錢去油）</p>
<p>右為末，同研細棗肉為膏，旋丸如菉豆大。每服一丸，新水下，病甚者加服，看虛實。</p>
<h5>大紅花丸</h5>
<p>治婦人血，積聚癥瘕經絡注滯。</p>
<p>川大黃，紅花（各二兩），蝱蟲（十箇，去翅足）</p>
<p>右取大黃七錢，醋熬成膏，和藥丸如桐子大，每服五七丸，溫酒下，食後，日三服。</p>
<h5>黃芩湯</h5>
<p>治婦人孕胎不安。</p>
<p>白朮，黃芩（各等分）右為末，每服三錢，水二盞，當歸一根，同煎至一盞，稍溫服。</p>
<h5>海蛤丸</h5>
<p>治婦人小便濁敗，赤白帶下五淋，臍腹疼痛，寒熱口乾，舌澀不思飲食。</p>
<p>海蛤，半夏，芫花（醋炒），紅娘子（去翅足），訶子（炒），玄胡索，川楝子（麩裹，煨去皮），茴香（炒，各一兩），乳香（三錢），碙砂（半兩），硃砂（半入藥，半為衣），沒藥（各一兩，研），當歸（一兩半）</p>
<p>右為末，醋煮麵糊為丸如小豆大，每服五丸至十丸，醋湯下，量人病虛實加減。</p>
<h5>烏金散</h5>
<p>治婦人諸疾，寒熱頭痛一切等疾。</p>
<p>烏金子，肉桂，蒲黃，當歸，蝱蟲，血餘灰，水蛭，鯉魚灰，木香，青皮，皂角（大者炙，各半兩），芍藥（半兩），芫花（三兩，醋浸），巴豆（一錢，出油），硃砂（少許），棕皮灰，紅花（一兩），川烏頭（半兩）</p>
<p>右為末，每服半錢加至一錢，煎生薑湯調下，空心食前，忌油膩物。</p>
<h5>伏龍肝散</h5>
<p>治婦人血崩不止，或結作片者。</p>
<p>芎藭（一兩），生地黃（一分），阿膠（八錢炙），當歸（一兩），續斷（一分），地榆，刺薊根（一兩），伏龍肝（七錢），青竹茹（八錢）右為末，每服三錢，水一盞半煎至一盞，溫服，日五服，不計時候，後服補藥。</p>
<h5>阿膠丸</h5>
<p>阿膠，鱉甲（六分），續斷（五分），龍骨（一兩），芎藭（六分），地膽（四分），鹿茸（五分），烏魚骨（八錢），丹參（六錢），龜甲（一錢）</p>
<p>右為末，醋麵糊為丸如桐子大，每服三十丸，艾湯下，日進三四服。</p>
<h5>麝香杏仁散</h5>
<p>治婦人陰瘡。</p>
<p>麝香（少許），杏仁（不以多少，燒存性）</p>
<p>右為細末，如瘡口深，用小布袋子二箇，盛藥滿繫口，臨上藥炙熱，安在陰內立愈。</p>
<h5>硃砂斑蝥丸</h5>
<p>治婦人產後喫硬食，變作血氣食塊，無問久新。</p>
<p>皂角末（二錢），巴豆（四箇去油），硃砂（一錢），碙砂（一皂子大塊），乾蝎（一箇全），斑蝥（十箇），紅娘子（五箇），水蛭（三箇）</p>
<p>右為細末，蜜和丸，分作十五丸，每服一丸至二丸三丸，溫酒下，初更喫，平明取下血化水，十年之病皆治之，或大便或小便，不多出也。</p>
<p>黃帝素問宣明論方卷十一終。</p>
<h1>卷十二</h1>
<h2>補養門</h2>
<h3>補養總論</h3>
<p>素問云：諸寒收引皆屬於腎，腎者少陰也。少陰者至陰也，至者為極也，少陰者冬脈所旺，取北而屬水為寒，為歸藏，為周密，寒中收引拘縮，寒之用也。其病上下所生水澄徹冷清者，不濁其氣，寒冷水穀不消化，吐利清冷為病，則如天氣寒而水自清也。</p>
<p>素問云：太陽受寒，血凝為瘕，太陰受寒，氣聚為疝，但脈急而寒之象也，急主於痛，故緊急也。又內經云：數則為熱，遲則為寒，諸陽為熱，諸陰為寒，脈當遲緩寒毒內鬱，洪數為熱所養心之脈也。寒氣生清水，清就於濕，故以下利清白，此乃腸胃寒，化物失常。熱則壅澀不通，寒勝則火衰，火衰金旺，吐利腥穢腥者，金肺之屬也，熱則喜酸寒，則水腥。只如四肢逆冷，堅痞腹滿屈伸不便，禁固戰慄，謂陰水主之，舒倦不便，診其脈沈伏而遲，病之證也。若身涼不渴而寒，踡足而臥，惡聞人聲，不欲言皆陰證也。陰陽停則和，偏則病，如陽氣暴絕，陰氣獨勝則為寒證，陰氣暴絕陽氣獨勝則為熱證。</p>
<p>經曰陽盛陰虛，汗之而死。陰勝陽虛，下之而死，若陽實外熱，陰虛內寒，陰實內熱，陽虛外寒，陽實伐其陽當涼膈散承氣湯主之，陰實伐其陰當白朮散四逆湯主之。</p>
<p>論曰：大凡治病，必求標本。受先者為本，次者為標，此為兼證。故知逆與從，正行無問知標本者萬舉，萬當不知標本者是謂妄行也。本病相傳先以治其急，六氣為本，三陰三陽為標，故病氣為本，受病經絡藏府謂之標也。</p>
<h5>防風當歸飲子</h5>
<p>治脾腎真陰損虛，肝心風熱鬱甚，陽勝陰衰，邪氣上逆，上實下虛，怯弱不耐，或表熱而身熱惡寒，或裏熱而躁熱煩渴，或邪熱半在表半在裏，進退出入不已而為寒熱往來，或表多則惡寒，裏多則發熱，或表之陽分，陽和正氣與邪相助并甚於裏，畜熱極深而外無陽氣，裏熱極甚陽極似陰，而寒戰腹滿煩渴者，或裏之陰分正氣反助邪氣并甚於表，則躁熱煩渴而汗出也，或邪熱壅塞者，或煩熱痛者，或熱結極甚，陽氣不通而反覺冷痛，或中外熱鬱，煩躁甚喜涼畏熱者，或熱橿閟寒不得宣通，陽極似陰中，外喜熱而反畏寒者，或躁熱煩渴者，或濕熱極甚而腹滿不渴者，或一切風熱壅滯，頭目昏眩，暗風眼黑，偏正頭疼，口乾鼻塞，耳鳴及聾，咽嗌不利或目赤腫痛，口瘡舌痹，或上氣痰嗽，心脇鬱痞，腸胃燥澀，小便溺淋閟，或是皮膚瘙癢手足麻痹，又或筋脈拘急肢體倦怠，或渾身肌肉跳動，心忪驚悸，或口眼喎斜語言蹇澀，或狂妄昏惑健忘失志，及或腸胃燥熱怫鬱而飢不欲食，或濕熱內餘而消穀善飢，然能食而反瘦弱，或誤服燥熱毒藥，及妄食熱物過多而耗損脾腎，則風熱鬱甚而多有如此，不必全見也。無問自病及中燥熱毒藥所使者，並宜宣通氣血調順飲食，久服之舊病除去新病不生。設虛人常服，補益功驗自可知矣。</p>
<p>當歸，大黃，柴胡，人參，黃芩，甘草（炙），芍藥（各一兩），滑石（六兩）</p>
<p>右停每服三錢至五錢，水一大盞，生薑三片，同煎至七分，去渣溫服。補校（此方未為至當，恐當時傳寫之誤）。</p>
<h5>雙芝丸</h5>
<p>治補精氣填骨髓壯筋骨，助五臟調六腑，久服注顏不老。</p>
<p>熟乾地黃（焙取末），石斛（去根酒炙），五味子（焙），黃耆（剉），肉蓯蓉（酒浸），牛膝（酒浸），杜仲（蜜水浸炮），菟絲子（酒浸三日炒），麋鹿角霜（半斤），沈香（三錢），麝香（二錢研），人參，白茯苓（去皮），覆盆子，乾山藥，木瓜，天麻（酒浸），秦艽（各一兩），薏苡仁（二兩炒）</p>
<p>右為末，煉蜜為丸如桐子大，每服二十丸至三四十丸，溫酒下，鹽湯米飲亦可。（ 凡年五十歲已上，加）入黑附子，（以青鹽湯蘸泡），鹿角（一大對，去頂三指），硫黃（半斤渾用），以上用些油，釜中以水同煮，令微沸勿大急甚，水耗只旋潻溫水，須用水以備潻也，煉令角膠汁出盡，其角如霜以手捻如膩粉，乃盛之取用勿令穢污也。</p>
<h5>內固丹</h5>
<p>治諸補養腎氣，調和脾臟，壽高者常服筋骨勁健，渾如壯士。</p>
<p>肉蓯蓉（酒浸），茴香（炒，各一兩），破故紙，葫蘆巴（炒），巴戟（去心），黑附子（炮），川楝子，胡桃仁（各四兩，麵炒）</p>
<p>右為末，研桃仁為膏，藥末和勻，酒麵糊為丸如桐子大，每服十丸至三十丸，溫酒鹽湯下，食前。虛者加至五七十丸，此藥明目補腎烏鬚進美食，空心。</p>
<h5>大補丸</h5>
<p>治男子脾腎不足，不問久新者。</p>
<p>陳韭子，陳蘿蔔子（已上炒），蕤仁（去皮各半兩），川山甲（七片用酒炙），麝香（少許）</p>
<p>右為細末，蜜和丸如櫻桃大，每服一丸溫酒送下，食前空心。</p>
<h5>蛤蚧散</h5>
<p>治脾胃氣攻心，刺痛者。</p>
<p>蛤蚧（一對酒炙），乳香，木香，白茯苓，丁香，茴香（各一錢），川山甲（二錢）</p>
<p>右為細末，每服一錢，好溫酒調下，空心食前。</p>
<h5>金鎖丹</h5>
<p>治男子本藏虛冷，夜夢鬼交者。</p>
<p>龍骨（水飛），菟絲子（一兩），破故紙，韭子，澤瀉，牡蠣（各半兩），麝香（少許）</p>
<p>右為末，酒麵糊為丸如桐子大，每服三十丸，溫酒下，空心食前，日三服。</p>
<h5>調中丸</h5>
<p>治脾胃虛，止嘔吐寬利胸膈。</p>
<p>青皮，紅皮（各一兩），大黃（一兩），牽牛（三兩）</p>
<p>右為細末，滴水和丸如桐子大，每服三二十丸，溫水下，空心食前。</p>
<h5>水中金丹</h5>
<p>治元藏氣虛不足，夢寐陰人，走失精氣。</p>
<p>陽起石（研），木香，乳香（研），青鹽（各一分），茴香（炒），骨碎補（炒），杜仲（各半兩，去皮生薑炙，絲盡），白龍骨（一兩，緊者槌碎絹袋盛，大豆蒸熟取出，焙乾研），黃戍腎（一對，酒一升煮熟，切作片子，焙），入白茯苓（一兩，與腎為末）</p>
<p>右為細末，酒麵糊和丸如皂子大，每服二丸，溫酒下，空心，忌房室。</p>
<h5>和氣地黃湯</h5>
<p>治沈積氣結不散，調養榮衛，補順陰陽，常服以代湯茶酒果。</p>
<p>木香（一字），揀桂（去皮），茯苓（去皮），白芥子（各一錢炒香），白朮，乾山藥，川芎，當歸（各一分焙），桂花，縮砂仁（各半錢），甘草（半兩炙）</p>
<p>右為細末，入麝香少許研勻，用數重油紙或瓷器內密封起。每用蜜二斤，餳飴一斤，溫好甜水五升化勻開，抄前藥并杏仁十枚去皮尖，洗淨炒香燋槌碎，濕地黃根許切長寸，約取汁半盞，溫服。</p>
<h5>白朮調中湯</h5>
<p>治中寒痞悶急痛，寒濕相搏吐瀉腹痛，（ 上下所出水液澄徹清冷穀不化，小便清白不澀，身涼不渴。本末不經有見陽熱證，其脈遲者是也。此因飲食冷物過多，陰勝陽衰而為中寒也，或冷熱相擊，而反陽氣怫鬱不能宣散，怫熱內作以成熱證者，不可亦言為冷，當以脈證別之。夫濕熱吐瀉常見陽脈，若亡液氣虛亦能反見諸陰脈也，當以標本之不可治，或熱證誤服此白朮調中湯，溫藥亦能開發陽氣，一通而愈，別無加害。）無問寒熱久新，並宜服之。（ 或有口瘡目疾孕婦等吐瀉者，以畏乾薑官桂不服）。</p>
<p>白朮，茯苓（去皮），紅皮（去白），澤瀉（各半兩），乾薑（炮），官桂（去皮），縮砂仁，藿香（各一分），甘草（一兩）</p>
<p>右為末，白湯化蜜少許調下二錢，每日三服。煉蜜和就每兩作十丸，名白朮調中丸，小兒一服分三服。</p>
<h5>人參白朮散</h5>
<p>此方證同調中湯治法。</p>
<p>人參，白朮，茯苓，甘草，橘皮，葛根，澤瀉，滑石，藿香（各半兩）</p>
<p>右為末，每服三錢，水一盞煎至六分溫服。妊婦加蒼朮三五片熱服。</p>
<h5>白朮散</h5>
<p>治傷寒下後，餘熱以藥下之太過，胃中虛熱飲水無力也，當生胃中津液，多服此藥。</p>
<p>人參，白朮，木香，白茯苓，甘草，藿香葉，乾葛（剉各一兩）</p>
<p>右為末，每服一錢至二錢，水一盞煎至五分溫服。如飲水者多，煎與之無時也。</p>
<h5>丁香附子散</h5>
<p>治脾胃虛弱，胸膈痞結，吐逆不止。</p>
<p>附子（一兩），母丁香（四十九箇），生薑（半斤，取自然汁半碗）</p>
<p>右用附子鑽孔四十九，以丁香刺上面填內，將生薑汁用文武火熬盡，又用大蘿蔔一箇取一穴子入附子，又填內將蘿蔔蓋之，又用文武桑柴火燒香熟為度，取出切附子作片子，焙乾搗為細末，每服一錢，米湯一盞調下，日進三服。</p>
<h5>何首烏丸</h5>
<p>治男子元藏虛損，髮白再黑填精。</p>
<p>何首烏（半斤），肉蓯蓉（六兩），牛膝（四兩）</p>
<p>右將何首烏半斤，用棗一層，何首烏甑內蒸棗軟用，切焙同為末，棗肉和丸如桐子大，每服五七丸，嚼馬練子服酒送，食前一服加一丸，日三服至四十丸即止，卻減至數，效如神妙。</p>
<h5>煨腎丸</h5>
<p>治男子腰膝疼，夜多小便者。</p>
<p>川楝子，馬練花，破故紙，葫蘆巴，茴香（炒，各等分）</p>
<p>右除茴香外四味酒浸同為末，煮麵糊為丸如桐子大，每服十丸至二十丸溫酒下，空心食前。</p>
<h5>神仙楮實丸</h5>
<p>治積冷，氣衝心胸及背有蚘蟲疼痛，痔瘻痃癖氣塊，心腹脹滿兩肋氣急，食不消化，上逆氣奔於心并疝氣下墜飲食不得，吐水嘔逆上，上氣咳嗽，眼花少力，心虛健忘，冷風偏風等疾，坐則思睡，起則頭眩，男子冷氣腰疼膝痛，冷痹風頑，陰汗盜汗，夜多小便泄利陽道衰弱，婦人月水不通，小便冷痛赤白帶下，一切冷疾無問大小。能明目益力，輕身補髓益精。</p>
<p>楮實子（一升，淘去泥微炒），官桂（四兩去皮），牛膝（半斤酒浸），乾薑（三兩泡）</p>
<p>右為末，酒麵糊為丸，如桐子大，每服二十丸，溫酒空心食前，鹽湯亦得。</p>
<h5>補中丸</h5>
<p>治一切氣疾，心腹㽲痛，嘔吐氣逆，不思美食。</p>
<p>厚朴（生薑製香），乾薑（炮），陳皮（去白），白茯苓（去皮），甘草（炙紫各等分）</p>
<p>右為末，煉蜜為丸如櫻桃大，每服一丸空心白湯化下，細嚼亦得。</p>
<h5>蓽澄茄丸</h5>
<p>治中焦痞塞，氣逆上攻，心腹㽲痛，吐逆下痢，美飲食。</p>
<p>蓽澄茄（半兩），良薑（二兩），神麯（炒），青皮（去白），官桂（去皮各一兩），阿魏（半兩，醋麵裹煨熟）</p>
<p>右為末，醋麵糊為丸如桐子大，每服二十丸生薑湯下，不計時候。</p>
<p>黃帝素問宣明論方卷十二終。</p>
<h1>卷十三</h1>
<h2>諸痛門</h2>
<h3>總論</h3>
<p>夫痛者，經脈流行不止，環周不休，寒氣入經而稽遲，血泣凝而不行，客於脈外，血少客脈中氣不通故卒然而痛，其痛者卒然而止，或痛甚而不休，或痛甚而可按，或按之而痛止，或按之而無益，或喘痛動應手，或與心背相引而痛，或脇肋與少腹相引而痛，或腹痛或引陰股宿昔而成積，或卒然而痛，死不知人而少間復生，或痛而閉不通者，諸痛各不同形，經曰寒氣客於脈外則脈寒，脈寒則踡縮，踡縮則脈絀（音督），脈絀急則外引小腹衛氣不得通流，故卒然而痛得炅則痛止。寒氣客於經脈之中相薄則脈滿，滿則血氣亂故痛而不可按，寒氣客於腸胃之間膜原之下，血不得散，小腹急引故痛，按之血氣散，痛乃止也。脇肋痛者寒氣客於厥陰之絡脈也，背與心相引痛者，寒氣客於背俞之脈注於心相引痛，寒氣客於陰股，血泣在小腹相引痛，卒然而痛死者，寒氣客於五臟，厥逆上壅，陰氣竭陽氣未入故卒然痛死，氣復反則生矣。視其五色，黃赤為熱，白青則為寒，青黑為痛。經曰感虛乃陷下，其留於筋骨之間寒多則筋彎骨痛，熱則骨弛肉消，但痛痒瘡瘍癰疽腫血聚者，皆屬心火熱也，不可一例。傷寒凡治痛者，先察本次，明經絡皮部虛實，用藥無誤矣。</p>
<h5>神砂一粒丹</h5>
<p>治一切厥心痛，小腸膀胱痛不可止者。</p>
<p>附子（一兩炮），鬱金，橘紅</p>
<p>右為末，醋麵糊為丸如酸棗大，以硃砂為衣，每服一丸男子酒下，婦人醋湯下。服罷又服散子。</p>
<h5>神聖代鍼散</h5>
<p>乳香，沒藥，當歸，香白芷，川芎（各半兩），元青（一兩，去足翅）</p>
<p>右為細末，更研，每服一字，病甚者半錢，先點好茶一盞，次摻藥末在茶上，不得吹攪，立地細細急呷之心。驚欲死者小腸氣，搐得如角弓，膀胱腫硬，一切氣刺虛痛并婦人血癖血迷血暈血刺血衝心，胎衣不下難產，但一切痛疾服之大有神效，只是要詳疾證用藥。</p>
<h5>茴香丸</h5>
<p>治男子婦人臍腹疼痛刺胸膈不止者。</p>
<p>茴香（炒），良薑，官桂（各半兩），蒼朮（一兩泔浸）</p>
<p>右為末，酒煮麵糊和丸如桐子大，每服十丸生薑湯止痛，溫酒下，空心食後。</p>
<h5>趁痛丸</h5>
<p>治一切走注疼痛，婦人經脈住滯，水腫腹脹。</p>
<p>甘遂，大戟，芫花，黑牽牛（各等分）</p>
<p>右為末，以蕎麵同末和作餅子，扞切為棋子，煮熟服之，得利為度，每服一錢加減相虛實。</p>
<h5>六合散</h5>
<p>治一切燥結，汗後餘熱宣轉不通，亦名金鑰匙散。并治小腸氣結，心腹滿胸中結痞，走疰疼痛。</p>
<p>大黃（一兩紙裹煨），白牽牛（半兩生），黑牽牛（微炒），甘遂（各半兩），檳榔（三錢生），輕粉（一錢）</p>
<p>右為細末，每服一錢，蜜水調下服，量虛實加減。</p>
<h5>定痛丸</h5>
<p>治打撲損傷筋骨疼痛等，如打撲骨損者先整骨，定用竹夾，然後先用好酒下麻黃三錢，然後服藥大效。</p>
<p>乳香（一分），川椒，當歸，沒藥，赤芍藥，川芎，自然銅，玄胡</p>
<p>右為末，鎔蠟為丸如彈子大，細嚼酒下一丸，骨碎者先用竹夾夾定，三五日依舊，小可與服。</p>
<h5>香殼散</h5>
<p>治小腸氣臍腹攪痛急，陰股中疼悶不省人事。</p>
<p>舶上茴香（鹽炒），枳殼（各一兩），沒藥（半兩）</p>
<p>右為末，每服一錢溫熱酒下，不計時候，併二三服。</p>
<h5>金鍼丸（亦名陸神丸）</h5>
<p>治陽絕痞氣，心腹不忍者。</p>
<p>丁香，木香，乳香，阿魏，輕粉，骨碎補（去毛），檳榔，官桂，桂心，巴豆（去皮），杏仁（去皮），不灰木，肉豆蔻，陽起石，硃砂（各等分）</p>
<p>右為細末，水麵糊為丸如小豆大，每服一丸，針穿作孔子，小油內滾過，燈焰內燎，徧於油中蘸，死嚼生薑下，不計時候，日三服，虛實加減。</p>
<h5>一粒金丹</h5>
<p>治腰膝走注疼痛如虎嚙。</p>
<p>草烏頭，五靈脂（各一斤），木鱉子（四兩），白膠香（半斤），地龍（四兩去土炒），細墨（一兩），乳香（一兩），當歸（二兩焙），沒藥（二兩），麝香（一錢）</p>
<p>右為末，再研一千下，糯米麵糊和丸如桐子大，每服一丸至二丸溫酒下，喫藥罷遍身微汗者驗。</p>
<h5>沒藥散</h5>
<p>治一切心肚疼痛不可忍者。</p>
<p>沒藥，乳香（各三錢另研），川山甲（五錢炙），木鱉子（四錢）</p>
<p>右為細末，每服半錢一錢，酒大半盞同煎溫服，不計時候。</p>
<h2>痔門</h2>
<h3>痔瘻總論</h3>
<p>夫腸風痔，病者所發手太陰手陽明經以應動脈，謂肺與大腸為表裏，主為傳道以行糟粕，腸風痔病有五種，其證亦異，蓋因陽氣虛而玄腑疏，風邪乘而熱自生，風濕邪熱攻於腸中，致使大便澀而燥熱鬱，血熱散而流溢衝浚腸裏，故以先血後便熱在下，先便後血熱在上，血後便久而不愈，乃作痔。</p>
<p>素問云：因而飽食筋脈橫解，房室勞傷腸癖為痔，風熱不散，穀氣流溢傳於下部，故令肛門腫滿，結如梅李核，甚者而變成瘻也。五臟切宜保養，勿令受邪。</p>
<h5>香殼丸</h5>
<p>治濕熱內甚，因而飽食腸癖，成痔久而成瘻，速服悉愈之。</p>
<p>木香，黃柏（各三錢），枳殼（去穰炒），厚朴（各半兩），黃連（一兩），蝟皮（一箇燒），當歸（四錢），荊芥穗（三錢）</p>
<p>右為末，麵糊為丸如桐子大，每服二三十丸，溫水食前，日三服。</p>
<h5>榼藤子丸</h5>
<p>治腸風瀉血，濕熱內甚，因為諸痔久而不治，乃變成瘻。</p>
<p>黃耆，枳實，槐花，荊芥穗，鳳眼草（各二兩），榼藤子（一對炙），皂子（三百箇炙）</p>
<p>右為細末，麵糊為丸如桐子大，每服二三十丸空心酒下，米飲亦得，忌油膩，冷，豬魚臭，血物等。</p>
<h5>烏荊丸</h5>
<p>治腸風痔疾，大腸閟澀。</p>
<p>川烏頭（二兩炮），荊芥穗（四兩）</p>
<p>右為末，醋麵糊為丸，每服二三十丸如桐子大，溫水下，日三服。</p>
<h5>黃耆葛花丸</h5>
<p>治腸中久積熱，痔瘻下血疼痛。</p>
<p>黃耆，葛花，黃赤小豆花（各一兩），大黃，赤芍藥，黃芩，當歸（各三分），蝟皮（一箇），檳榔，白蒺黎，皂角子仁（炒各半兩），生地黃（焙一兩）</p>
<p>右為末，煉蜜和丸如桐子大，每服二十丸至三十丸，煎桑白皮湯下，食前槐子煎湯下亦得。</p>
<h5>黃連散</h5>
<p>治腸風，下血疼痛不止。</p>
<p>雞冠花，黃連，貫眾，川大黃，烏梅（各一兩），甘草（三分炙）</p>
<p>右為末，每服二錢，用溫米飲調下，日三服，不計時候。</p>
<h5>乳香沒藥散</h5>
<p>治五種腸風痔瘻，無問久新。</p>
<p>宣黃連，白礬（各一兩），穀精草（半兩），石榴（一箇，用刀子割下蓋子，裏面取子三停，一停次將黃連白礬碎，內入石榴內，用元蓋子合用）</p>
<p>右以濕紙一張，裹了後用膠泥拍作餅子，裹石榴以炭火燒通赤為度。取出去泥紙，次將穀精草於銚子內炒燋黃為度，與石榴研細後，入麝香一錢，乳香二錢，沒藥一錢，研細拌勻，每服一錢，熱酒小半盞調下，日三服。</p>
<h5>木香厚朴湯</h5>
<p>治痔瘻脫肛，腸胃間冷腹脇虛脹，不思飲食。</p>
<p>木香，桂心，桃仁，陳皮，厚朴（各一兩），肉豆蔻，赤石脂（各半兩），皂角子（三兩去皮子，醋炙黃），大附（三分炮）</p>
<p>右為末，每服二錢，溫粥飲調下，食前。</p>
<h2>瘧門</h2>
<h3>瘧疾總論</h3>
<p>素問云：痎瘧皆生於風，其蓄作有時，何氣使然，夫陰陽上下交爭，虛實相移也，陽併於陰，陰實陽虛，寒憟鼓頜，此皆夏傷於暑，熱氣藏於皮膚之內腸胃之外，腠理開得，秋氣汗出遇風得之，與衛氣併。衛氣書行陽夜行陰，氣得陽外出得陰內薄，外內相薄是以日作也。其有間日者，氣深內薄於陰，陽氣獨發，陰邪內著，陰與陽爭不得出，是以間日作也，其作宴與早者，邪氣客於風府，循膂而下衛氣，一日一夜大會於風府，其日下一節，先客於脊背，每至風府則腠理開，腠理開邪氣入，邪氣入則病作晏也。</p>
<p>夫寒者陰氣也，風者陽氣也，先傷寒而後傷風，故曰先寒而後熱名曰寒瘧，先傷於風後傷寒，故曰先熱而後寒名曰溫瘧，其熱而不寒者，陰氣先絕，陽氣獨勝，少氣煩冤，手足熱欲吐名曰虛瘧。有餘則瀉不足，補熱為有餘，寒為不足，已得火不能溫熱已，冰水不涼，氣陰勝併於陽，陽勝併於陰，陰勝則寒，陽勝則熱，瘧者陰陽風寒虛實，邪氣不常之所作也。</p>
<h5>辟邪丹</h5>
<p>治嵐嶂，鬼瘧，食瘧，併月頻日者。</p>
<p>菉豆，雄黑豆（各四十九粒），信砒（半錢別研），黃丹（一錢為衣），硃砂（二粒）</p>
<p>右為末，同入乳缽內，滴水為丸，分作三十粒，每服一粒已，用取東南桃心，取七枚研汁，將井花水，早辰日欲出不出，向日吞之，醋湯亦得，已發日服。</p>
<h5>斬邪丹</h5>
<p>治諸般瘧疾無時不止者。</p>
<p>菉豆，小豆（三十粒口退皮再入），硃砂，信砒（各一錢）</p>
<p>右為末，同研細，滴水和丸，勻分作十丸，每服一丸。已早辰服，夜間於北斗下香水，獻至早晨，用新倒流水送下。</p>
<h5>斷魔如聖丹</h5>
<p>信砒（一錢），蜘蛛（大者三箇），雄黑豆（四十九粒）</p>
<p>右為末，滴水和丸如豌豆大，如來日發，於今晚夜北斗下，獻於早晨已，紙裹於耳內扎一丸，立見愈，神聖一粒可醫三人。</p>
<h5>辰砂丸</h5>
<p>治一切脾胃虛瘧，邪熱毒者。</p>
<p>信砒，甘草（各一錢），硃砂（二錢），大豆（四十九粒）</p>
<p>右為末，滴水和丸，勻分作四十丸服。發日早晨日欲出，煎桃心湯下，忌熱物。</p>
<h5>瘧神丹</h5>
<p>治諸般瘧疾。信砒（一兩），雄黃（一錢）</p>
<p>右以於五月重五日，用⿰飠𡕰子尖拌勻，研三千下，日未出不令雞犬婦人見，丸如桐子大，未發前一日面東冷水下一丸。</p>
<h5>趁鬼丹</h5>
<p>治一切瘧疾神效。</p>
<p>信砒（錢），大豆（七錢），雄黃，輕粉，荷葉（各半錢），甘草（一寸）</p>
<p>右為末，滴水為丸如小豆大，重午日未出，不見雞犬婦人修合，每服一丸，無根水下，平日夜視北斗，來日服，忌熱物。</p>
<p>黃帝素問宣明論方卷十三終。</p>
<h1>卷十四</h1>
<h2>眼目門</h2>
<h3>眼科總論</h3>
<p>素問云：目得血而能視，手得血而能握，其證足厥陰之經絡所主，肝臟受虛而即補腎，實而即瀉心。</p>
<p>夫人之眼目者，似天地之日月也，若人無雙目豈能別辯賢愚，天無日月萬物安能照耀，是以眼通五臟，氣貫五輪外應肝候，肝臟虛而風邪鬱，風邪鬱而熱蘊，衝火炎上行故攻目昏滲澀疼痛赤絲，皆發榮衛，實則能視榮衛，虛則昏暗。凡人多食熱物，或嗜五辛，坐濕當風，淩寒冒暑將息失度，皆喪目之源也。</p>
<h5>黃連膏</h5>
<p>治一切眼目瘀肉攀晴，風痒淚落不止。</p>
<p>朴硝（八斗，以水半斗淘淨，去土陰乾用），黃連（半斤），白丁香（五升，以水一斗淘淨，去土攪細用）</p>
<p>右取水八硝香，釜內熬至七分淘出，令經宿水面浮牙者，取出挖乾以紙袋子盛風中，懸至風化。將黃連細末熬清汁，曬乾，硝用豬羊膽和，加蜜妙點之效矣。</p>
<h5>滌昏膏</h5>
<p>治一切風眼疼痛不可忍者，洗之妙矣。</p>
<p>好崖蜜（一斤），黃連（一兩），沒藥（半兩），黃丹（一兩炒紫色）</p>
<p>右入蜜同熬黑，煎黃連成稠汁，入二味藥內煎熬稠，更入沒藥末同熬數沸，濾去滓，洗甚妙，後更用通天散㗜鼻。</p>
<h5>通天散</h5>
<p>治偏正頭疼并夾腦風，通一切壅滯明目。</p>
<p>赤芍藥，川芎，黃連，黃芩，玄胡索，草烏頭，當歸，乳香（別研各等分）</p>
<p>右為細末，每用少許，紙撚子蘸藥，任之鼻㗜神效。</p>
<h5>神弓散</h5>
<p>治風熱上攻，頭目眩痛，上壅鼻塞眼昏，并牙齒悶痛。</p>
<p>川芎，鬱金（各二錢），荊芥穗（一分），薄荷葉（一分），盆硝（二錢），紅豆（一錢，各為末後入盆硝）</p>
<p>右研勻，鼻肉㗜三兩，剜耳力慢加藥。病甚者兼夜㗜之，凡熱多風少，隨證選用諸藥。</p>
<h5>金絲膏</h5>
<p>治一切目疾昏暗如紗羅所遮，或疼或痛。</p>
<p>宣黃連（半兩剉碎，水一盞浸一宿，取汁再添水半盞，浸滓經半日許，取汁與前汁和，別用水半盞），蜜（一兩），白礬（一字），井鹽（一分，如無以青鹽代之），山梔子（二錢好者搥碎，黃連滓同煮五十沸，取盡汁，子濾去滓與前黃連汁，一處入篩藥）</p>
<p>右用銀瓷器內同熬十餘沸，用生絹上細紙數重再濾過，用時常點。</p>
<h5>白藥子散</h5>
<p>治一切疳眼赤爛，目生翳膜，內外瘴疾，并小兒吐痢。</p>
<p>白藥子（一兩），甘草（半兩）</p>
<p>右為末，用豬肝一葉批開，糝藥五錢，水一大盞，煮熟食後服。</p>
<h5>胡黃連散</h5>
<p>治一切久新赤目疼痛，不能坐臥，并大小人口瘡。</p>
<p>胡黃連，檳榔（各半兩），麝香（少許，別研）</p>
<p>右為細末，研細點之。如口瘡每服半錢，麝香一字勻口瘡大小貼之，忌食魚豬油膩物。</p>
<h5>碧霞丹</h5>
<p>點一切惡眼風赤者。</p>
<p>龍腦，麝香，碙砂（各二錢），血竭，沒藥，乳香，銅青（各一錢），硼砂（三錢）</p>
<p>右為末，滴水和丸如桐子大，每服一丸，新水化開，點之立效。</p>
<h5>菩薩散</h5>
<p>治遠年近日一切眼疾。</p>
<p>菩薩石，金精石，銀精石，太陰石，太陽石，禹餘石，河洛石，礬礦石，雲母石，盧甘石，井泉石，白滑石，紫英石，寒水石，陽起石，豬牙石，代赭石，碧霞石，烏魚骨，青鹽（各一兩），碙砂（半兩），蜜陀僧（一兩），銅青（一兩），黃丹（四兩），麝香，腦子（一錢），輕粉（一錢半），硼砂（三錢），乳香（二錢），雄膽（一斤），白砂蜜（二斤）</p>
<p>右為細末，以井花水九大碗熬就作四碗，點水內落下錢許大，不散可如散者，再熬濾滓過露旋點。</p>
<h5>石膏羌活散</h5>
<p>治久患雙目不睹光明，遠年近日內外氣障風昏暗，拳毛倒睫一切眼疾。</p>
<p>羌活（治腦熱頭風），蜜朦花（治羞明怕日），木賊（退翳障），香白芷（清利頭目），細辛，乾菜子（二味起倒睫），麻子（起拳毛），川芎（治頭風），蒼朮（明目暖水藏），甘菊花，荊芥穗（治目中生瘡），黃芩（洗心退熱），石膏（二味），藁本（治偏正頭痛），甘草（解諸藥毒，各等分）</p>
<p>右為末，每服一錢至二錢，食後臨臥，用蜜水一盞調下，或茶清或淘米第二遍泔亦得，日進三服至十日漸明，服至二十日大驗，此方醫數十餘人矣。</p>
<h5>重明散</h5>
<p>治一切風熱，內外障氣眼疾。</p>
<p>川獨活，川羌活，川芎，吳射干，仙靈脾，防風，甘草，井泉石，蒼朮（各半兩），丹參，白朮，石決明，草決明（各三分）</p>
<p>右為末，每服二錢水一盞半煎至一盞溫服，日進三服，食後。</p>
<h5>雷嚴丸</h5>
<p>治男子婦人肝經不足，風邪內乘上攻眼，暗淚出羞明怕日，多見黑花生障，翳膜遮晴，臉生風粟或痒或痛，隱澀難開，兼久患偏正頭疼牽引兩目，漸覺細小視物不明，皆因腎水不能溉濟於肝水。此藥久服大補腎藏，添目力。</p>
<p>肉蓯蓉（一兩），牛膝（一兩），巴豆（一兩浸一宿，去皮心），菊花（二兩），黑附子（青鹽二錢以河水三升同煮為度，去皮臍一兩），枸杞子（二兩），川椒（三兩去目）</p>
<p>右為末，共浸藥酒煮麵糊為丸如桐子大，每服十丸空心酒下，世人服藥不知多少，根源往往不效耳。</p>
<h5>丁香復光丸</h5>
<p>治一切遠近目疾。</p>
<p>丁香（二錢），巴豆（一錢去皮油），半夏（二兩），烏梅（半兩去核），南硼砂（三錢），腦子（二百），盆硝（半兩），縮砂仁（二錢半），甘草（半兩），荊芥穗（二錢）</p>
<p>右為末，醋煮麵糊為丸，如菉豆大，每服十丸至十五丸米泔下，食後，日三服。</p>
<p>已上諸方係先生親驗可錄。</p>
<h2>小兒門</h2>
<h3>小兒科論</h3>
<p>素問云：身熱惡寒戰慄驚惑皆屬熱證，為少陰君火暴強直支軟戾裏急筋縮也，皆屬風證，為厥陰風木。凡小兒六歲之上為小兒，十八歲已上為少年，其六歲已下者諸經不載，是以乳不孾兒有病難治，無可定也。然小兒與大人不可一例，各異治之。雖小兒誕生襁褓之後，骨肉脆軟腸胃細微，可以乳食調和臟府，迺得平安，肌膚滋潤，筋骨輕嫩以綿衣之，故生壅滯，內有積熱，熱乘於心，心受邪熱乃發為驚，驚不止返為潮搐則為病也，大概小兒病者純陽，熱多冷少，故引素問少陰厥陰證，以小兒病驚風熱多矣，小兒驚風者皆由心火暴甚而制金不能平木，故風火相搏，而昏冒驚悸潮熱，此證皆謂熱甚而風生。素問驚駭驚愕少陰君火也。</p>
<p>小兒脾疳痢瀉者皆熱甚，急驚瀉痢色多青為熱證明矣。痢色黃者何為，火甚則水衰而脾土旺，故痢色黃也。痢色紅赤者為心火熱甚深也。痢色黑者為火熱過極，則反兼水化制之，故色黑也。</p>
<p>五臟皆言熱證無寒冷證，亦有謂瀉痢，小便青白不澀為寒，水穀不化而色不變，吐痢腥穢澄澈清冷白不澀，身涼不渴脈遲細而微者寒證也。</p>
<p>穀雖不化而色變非白，煩渴小便赤黃而澀者為之熟證。世傳大人小兒吐痢霍亂，食乳未及消化而痢，尚白便言論為寒證誤矣（何不脈候別之）。仲景邪熱不化穀豈為寒也。（大人亦同）</p>
<p>小兒方類</p>
<h5>龍腦地黃膏</h5>
<p>治小兒急慢驚風，涎痰上潮心胸，天吊驚纏喉風，小兒胸膈不利，一切熱毒，大有神效。如病不已與分肢散一二服，吐利得快，常服此藥。</p>
<p>川大黃（別搗），甘草（橫文者別搗），麝香（一錢），雄黃（水窟者一分別研），生腦子（一錢別研）</p>
<p>右五味各修製了，再入乳缽內同研細，煉蜜為膏，油單裹。如有前病煎薄荷湯下，旋丸如皂子大化下，如小兒大人睡驚及心神恍惚，煎金銀湯下一丸，常服新汲水下，大解暑毒。如孕婦人常服，新生男女永無疾病。如有大人陽毒，傷寒加輕粉（二匣子），龍腦（少許），水化下一丸杏核大，小兒看年紀大小，加減服立效。</p>
<h5>分肢散</h5>
<p>治小兒卒風，大人口眼喎斜，風涎裹心，驚癇天弔，走馬喉閉急驚，一切風熱等疾。</p>
<p>巴豆（半兩，不出油），川大黃（一兩），朴硝（半兩）</p>
<p>右大黃為末，後入巴豆霜朴硝，一處細研，用油貼起。如有前患，每服半錢熟茶下，吐下頑涎立愈。如小兒胸喉驚弔等，先服龍腦地黃膏一服，次服此藥一字茶下。時上吐下瀉以吐利得快為效，大人半錢，小兒一字，看虛實加減，只是一兩服見效，不宜頻服，如吐瀉不定以蔥白湯立止。</p>
<h5>珍珠丸</h5>
<p>治小兒虛中，積熱驚癇等疾。</p>
<p>巴豆霜，膩粉（二錢），滑石（二錢），天南星（一錢半），蝎稍（二十四箇），續隨子（二十四箇去皮），粉霜（一錢半）</p>
<p>右為末，研令極細，以糯米粥為丸如黃米大，小兒一歲已下每服三丸至ˍ丸，十五歲每服五丸至十丸，點茶湯下，荊芥湯亦得，虛實加減。</p>
<h5>牛黃散</h5>
<p>治小兒上焦壅熱，諸眼疾。</p>
<p>肉桂，鬱金（各一兩），馬牙硝（四兩），甘草（半兩）右為末，如患眼三五年喫三五兩便瘥，每服一錢新汲水調下，垂枕臥片時，若是小兒十歲服半錢，五歲已下服一字，永無驚疳癇風患，服之立效。</p>
<h5>硃砂丸</h5>
<p>治小兒急慢驚風及風熱生涎，咽喉不利，取驚積。</p>
<p>硃砂，天南星，巴豆霜（各一錢）</p>
<p>右為末，麵糊和丸如黍粒大，看病虛實大小，每服二丸，或天弔戴上眼每服四五丸，薄荷水下立愈。</p>
<h5>鬱金散</h5>
<p>治小兒急慢驚風等疾。</p>
<p>鬱金（一枚大者），巴豆（七箇去皮不出油）</p>
<p>右研為細末，每服一字煎竹葉湯放溫下，把藥抄盞唇上，放以湯充下喉咽為妙。</p>
<h5>澤瀉散</h5>
<p>治小兒齁䶎膈上壅熱涎潮。</p>
<p>澤瀉（一分），蟬殼（全者二十一箇），黃明膠（手掌大一片，炙令焦）</p>
<p>右為細末，每服一大錢溫米湯調下，日進二服，不愈再服。</p>
<h5>鎮庭散</h5>
<p>治小兒一切驚喘肚脹咳嗽。</p>
<p>鬱金，大黃（各半兩），甘草（三錢），輕粉（一錢）</p>
<p>右為末，每服半錢用薄荷汁，硃砂細研冷水以木匙瀝下。</p>
<h5>定命散</h5>
<p>治小兒天弔驚風不能哭泣。</p>
<p>梨蘆，川芎，鬱金（各等分）</p>
<p>右研為細末，鼻中㗜之，如哭可醫。</p>
<h5>金肺散</h5>
<p>治小兒諸般喘嗽，急驚風神效。</p>
<p>鍚灰（一錢），漢防己（二錢），鬱金（一錢半），砒黃（二錢），半夏（一錢半湯洗七次）</p>
<p>右為細末，每服半錢加一錢，小兒加減煎豬肉湯下，日進二服，食後。</p>
<h5>厚朴散</h5>
<p>治小兒虛滑瀉痢不止。</p>
<p>厚朴，阿子皮（半兩），使君子（一箇），揀丁香（十箇），茯苓，吳白朮，青皮（各二錢），甘草（一錢炒）</p>
<p>右為末，每服一字，一歲加減，用清米湯下。</p>
<h5>人參散</h5>
<p>治小兒虛熱煩渴，因吐瀉煩渴不止，及疏轉後服之。</p>
<p>人參（半兩），茯苓（二兩半），牛犀（二錢半），甘草（半兩），乾葛（半兩），桔梗（二錢半）</p>
<p>右為末，每服二錢水一大盞，入燈心五莖同煎至六分放溫，不計時候。煩渴者以新竹湯下，量年紀加減。</p>
<h5>碧雲散</h5>
<p>治小兒驚風有涎。</p>
<p>膽礬（半兩研），銅青（一分研），粉霜，輕粉（各一錢）</p>
<p>右為細末，每服一字薄荷湯下，中風將水下，如吐多，不定煎蔥白湯，投之立止效。</p>
<h5>桃符丸</h5>
<p>治小兒風熱。</p>
<p>大黃，郁李仁，黃柏，宣連，鬱金（各一分），巴豆（二七箇去皮出油為霜），輕粉（二錢）</p>
<p>右為細末，滴水為丸如菉豆大，以硃砂為衣，每服二丸用桃符煎湯下，看大人小兒加減。</p>
<p>黃帝素問宣明論方卷十四終。</p>
<h1>卷十五</h1>
<h2>雜病門</h2>
<h3>雜論</h3>
<p>素問云：痛癢瘡瘍癰疽痘疹，瘤氣結核怫鬱甚者皆熱，五藏不和九竅不通，六府不和留結為癰近於火，氣微熱則癢，熱甚則痛，附近則灼而為瘡皆火之用也。</p>
<p>人之瘡腫因內熱外虛所由生也，為風濕之所乘則生瘡腫，然肺主氣，候於皮毛。脾主肌肉，氣虛則膚腠開為風濕所乘，脾氣溫而內熱即生瘡也，腫者皆由寒熱毒氣客於經絡，使血澀而不通壅結成腫，風邪內作，即無頭無根，氣血相搏作者即有頭有根，結壅盛則為膿，結核腫則風氣流潰也，瘡以痛癢，痛則為實，癢則為虛，所謂虛為寒也，正謂熱之微甚也，癢者美疾也，故火旺於夏而萬物蕃鮮榮美也，炙之以火潰之，以湯而其癢轉甚者，微熱之所使也，癢去者謂熱令皮膚縱緩，腠理開通陽氣得泄，熱散而去，或夏熱皮膚癢而以冷水沃之，其癢不去，謂寒收歛腠理閉密陽氣鬱結，不能散越怫熱內作故也，瘡癢皆為火熱而反腐出膿水者，猶穀肉果菜熱極則腐爛而潰為污水也。潰而腐爛者，水之化也，癰淺而大，疽深而惡，熱勝血則為癰膿也，瘍有頭，小瘡也，疹浮而小，癮疹也，瘤氣赤瘤丹熛熱膿氣火之色也。</p>
<h5>如意散</h5>
<p>治疥癬無時痛癢，愈發有時，不問久新者。</p>
<p>吳茱萸，牛蒡子，荊芥（各一分），牡蠣（半兩），輕粉（半錢），信砒（二錢）</p>
<p>右為細末研勻，每臨臥抄一錢，油調徧身搓摩上一半，如後有癢不止，更少許塗之，股髀之間，聞香悉愈。</p>
<h5>信效散</h5>
<p>治風熱上客陽明之經，牙齒疳蝕斷，宣腐臭血出色黃氣腐，注悶動搖疼痛，作發有時。兼解中金石一切毒藥。</p>
<p>信砒（一錢），黃丹（二錢），千古石灰（如無，但以陳久者炒細，研四錢）</p>
<p>右研細末，入青鹽一分，麝香少許，如無此二味亦得。每上抄三兩大豆許，先洗漱淨，以手指蘸藥捺上下牙齒斷，瀝涎勿嚥之，須臾漱淨。或已蝕處再土少許，二三四次常用。如意一上以為妙，或服金石藥致病，便一日三四上，更不上牙齒如神。或已上牙齒者傳之即愈。或平人常用頗能清利頭目，寬膈美食，使髭鬚遲白，久用亦能固牙齒，便遲老。人氣於面而手足陽明經絡貫注，憂思則氣結而血液不行，燥怫鬱而血衰不能榮養藏府，故早蒼黃而班白也。此藥能使陽明氣血宣通故效能然也。又方使龍骨，不用石灰。</p>
<h5>神聖餅子</h5>
<p>治一切打撲傷損，金石刀刃血出不止者立效。此藥上無膿退痂便愈。</p>
<p>烏魚骨（一兩，五月五日前先淮備下），萵苣菜（一握），韭菜（一握），青薊草（一握約一虎口，入手取團圓是也），石灰（四兩）</p>
<p>右以五月五日日未出，本人不語，將取三味同杵爛，次後下餘藥味，杵得所搏作餅子曬乾，用時旋刮敷之。</p>
<h5>芙蓉膏</h5>
<p>治徧滿頭面大小諸靨子，或身體者。</p>
<p>料炭灰，桑柴灰，蕎麥䕸灰（各半升）</p>
<p>右灰用熱湯淋，取二升熬至五分，又用</p>
<p>獨角仙（一箇，不用角），紅娘子（半錢，不去翅足），糯米（四十九粒），石灰（一兩風化者）</p>
<p>右為末，將前項灰汁調如麵糊相似，在瓷合子內於土底埋五七日取出使用，取瘢痕靨面刺破，用細竹簽子點之放藥，用濕紙措藥再點至三上，見瘢痕時冷水淋洗，忌薑醋魚馬肉。</p>
<h5>鈆白霜散</h5>
<p>治大小人口瘡，牙齒腐蝕氣臭血出者。</p>
<p>鈆白霜（二錢），銅碌（二錢），白礬（一塊大許）右為末，以翎羽掃上瘡，以溫漿水漱之。</p>
<h5>麝香散</h5>
<p>治大小人口齒腐蝕出血，斷根宣爛者。</p>
<p>上好鹹土（不以多少），麝香（真好者少許）</p>
<p>右熱湯淋取汁，去滓用清汁銀石器中熬乾刮下，再與麝香同研勻，摻於瘡上以紙貼神效。</p>
<h5>乳香散</h5>
<p>治一切瘰癧瘡，新久遠近不已者。</p>
<p>乳香（一錢），砒霜（一錢），碙砂（一錢半），紅娘子（二十四箇去翅足），黃丹（一錢）</p>
<p>右為末，糯米粥和作餅子如折三錢厚，小銅錢裏捲大破瘡上白麵糊，如不破者炙柴炷大者，不過一月其瘰癧核自下。</p>
<p>後歛瘡生肌藥：</p>
<p>黃柏（不以多少）。</p>
<p>為細末，麵糊塗患處甚妙。</p>
<h5>五香丸</h5>
<p>治一切惡瘡瘰癧結核無首尾，及諸瘡腫。</p>
<p>沈香，木香，雞舌香（各一兩），薰陸香，麝香（各三錢），連翹（一兩半）</p>
<p>右研為細末，每服二錢，水一盞煎至六分，不拘時。</p>
<h5>紫參丸</h5>
<p>治熱毒瘰癧腫痛已內消，瘡已破出膿水，服此藥。</p>
<p>紫參，苦參（各一錢剉），連翹（二兩），丹參（一兩半），膩粉（三錢），麝香（三錢別研），滑石（二兩）</p>
<p>右為末，別用玄參一斤搗碎，以酒三碗浸三日，揉取汁去滓，用皂角子三百枚煨熟，搗為末，用玄參酒熬皂子末成膏，和前藥如桐子大，每服一丸以黃耆湯下，一日加一丸，至患人歲數即止。如四十則二十每日卻減一丸，瘡自乾，有結內消。</p>
<h5>麝香雄黃散</h5>
<p>治十七般惡蟲咬傷人，及瘡腫者。</p>
<p>麝香，雄黃，乳香，碙砂（各二錢），土蜂窩，露蜂窩（曉灰）</p>
<p>右研為細末，以醋調少許塗咬著處，或不辯認得多凝是惡瘡，三五日不療即毒入心，難瘥。忌雞魚油膩物。</p>
<h5>碙砂散</h5>
<p>治一切疔瘡。</p>
<p>碙砂，雄黃，天南星，砒霜（各等分），麝香（少許）</p>
<p>右研為細末，用竹針針開，用藥到黃水出瘡已。</p>
<h5>聖力散</h5>
<p>治諸疔瘡腫。</p>
<p>草烏頭，白芨，白歛，木鱉子（去皮），地龍，金毛狗脊（各二錢半），麝香（二錢），黃丹（少許）</p>
<p>右研為細末，用針針到生肉痛者，用藥黃水出為度。</p>
<h5>川山甲散</h5>
<p>治一切通氣破瘡腫行膿血如神妙。</p>
<p>川山甲，木鱉子，烏龍角（各等分都燒存性）</p>
<p>右為末，每服一錢半，空心熱酒調下，至中午瘡破膿血便行。</p>
<h5>守癭丸</h5>
<p>治癭瘤結硬。</p>
<p>通草（二兩），杏仁（一大合，去皮尖研），牛蒡子（一合出油），吳射干，昆布（去鹹），呵黎勒，海藻（各四兩去鹹）</p>
<p>右為末，煉蜜為丸如彈子大，含化咽津下，日進三服。</p>
<h5>鬼代丹</h5>
<p>治打著不痛。</p>
<p>無名異（研），沒藥（研），乳香（研），自然姛（醋淬研），地龍（去土），木鱉子（去殼各等分）</p>
<p>右為末，煉蜜為丸如彈子大，溫酒下一丸，打不痛。</p>
<h5>龍腦潤肌散</h5>
<p>治杖瘡熱毒疼痛。</p>
<p>黃丹（一兩），蜜陀僧（半兩），輕粉（一錢半），麝香（半兩），龍腦（一字）</p>
<p>右為細末，摻藥在瘡上，用青白子塗之，內留一眼子。</p>
<h5>香藥丸</h5>
<p>治瘰癧瘡。</p>
<p>碙砂，乳香，沒藥，半夏，輕粉，赤石脂（各等分）</p>
<p>右為末，糯米粉為丸如桐子大，每服十丸加至二十丸，皂角子臨臥。</p>
<h5>紅玉挺子</h5>
<p>治一切牙疳。</p>
<p>砒霜（一塊皂角子大），黃丹（煆過），魯土</p>
<p>右為細末，餬餅和作劑子，任牙。</p>
<h5>桃花散</h5>
<p>治一切瘡，生肌藥。</p>
<p>白芨，白歛，黃柏，黃連，乳香（別研），麝香（別研），黃丹（各等分）</p>
<p>右為細末摻於瘡上二三日，生肌肉滿。</p>
<h5>追毒散</h5>
<p>治生瘡發悶，吐逆霍亂。</p>
<p>螺兒青，揀甘草（各一兩），白礬（二錢半）</p>
<p>右為細末，每服一錢新汲水調下，立吐。</p>
<h5>膽礬丸</h5>
<p>治男子年少而鬢髮班白。</p>
<p>土馬騣（燒存性），石馬騣（燒存性），半夏（各一兩），生薑（一兩），胡桃（十箇），真膽礬（半兩），川五倍子（一兩）</p>
<p>右為末和作一塊，絹袋子盛，如彈子大，熱酒水各少許浸下，藥汁淋洗頭髮一月神效。</p>
<h5>茯神散</h5>
<p>治膽熱多睡，神思不安昏悶。</p>
<p>茯神（去皮），麥門冬，地骨皮，茯苓（各一兩），白蘚皮，酸棗仁，沙參，甘草（炙半兩）</p>
<p>右為末，為每服三錢水一盞煎至六分，去滓，食後服。</p>
<h5>鐵腳丸</h5>
<p>治大小便不通。</p>
<p>皂角（炙去皮，不以多少，去卻子）</p>
<p>右為末，酒麵糊為丸如桐子大，每服二十丸酒服。</p>
<h5>全聖散</h5>
<p>治小腸膀胱氣痛不忍者。</p>
<p>地膽（半兩去足翅微炒），滑石（一兩），硃砂（半錢）</p>
<p>右為末，每服二錢，用苦杖酒調下，食前服。</p>
<h5>琥珀散</h5>
<p>治五淋。</p>
<p>滑石（二兩），木通，當歸，木香，鬱金，扁竹（各一兩），琥珀（二兩）</p>
<p>右為末，每服三五錢用蘆葦葉同煎，食後日三服。</p>
<h5>葵子散</h5>
<p>治小便不通。</p>
<p>葵子，茯苓（去黑皮各等分）</p>
<p>右為末，服四錢水一盞，煎三沸，食前。</p>
<h5>倒換散</h5>
<p>治無問久新癃閟不通，小腹急痛，肛腫疼。</p>
<p>大黃（小便不通減半），荊芥穗（大便不通減半各等分）</p>
<p>右件藥味各別為末，每服一二錢，溫水調下，臨時加減服。</p>
<h5>敗毒散</h5>
<p>治男子往來寒熱，婦人產後骨蒸血暈。</p>
<p>大黃，黃藥子，紫河車，赤芍藥，甘草（各等分）</p>
<p>右為末，每服一錢，如發熱冷水下，如發寒煎生薑瓜蔞湯同調下，此藥偏治婦人。</p>
<h5>補真丹</h5>
<p>治男子元藏虛冷，興陽固腎不虛。</p>
<p>黑附子（一兩煨），陽起石（火燒酒淬三錢），海馬（二錢），乳香，雄黃（為衣），血竭（各三錢），石蓮子（去殼皮心），黑鍚（炒去砂子半兩），石鷰子（燒以醋淬），麝香（一分）</p>
<p>右為細末，麵糊為丸，每服二十丸，用五香湯空心下。</p>
<h5>五香湯</h5>
<p>沈香，箋香，乳香，麝香，檀香（各等分）</p>
<p>右為細末，每服半錢煎湯下。</p>
<h5>新潻：一醉烏法</h5>
<p>治頭鬚白再黑方。</p>
<p>訶蔾勒（十箇不去核），醋石榴（三箇大者取汁），碌礬（五分），生地黃汁（一升），碙砂（研），硫黃（研，各一錢）</p>
<p>右藥同入瓷瓶內，用二味汁浸密封，勿令透氣至四十九日後取出，其訶子狀若黑梅，至夜臨臥含一枚，嚥津到曉爛嚼，以酒一盞下之，三二日後再服，忌蔥大蒜蘿蔔。</p>
<p>黃帝素問宣明論方卷十五終。</p>
