<header><h1>靈樞經脈翼</h1></header>
<dl class="元資料" data-type="book">
<div><dt>作者</dt><dd>夏英</dd></div>
<div><dt>朝代</dt><dd>明</dd></div>
<div><dt>年份</dt><dd><data value="1497">公元1497年（明·弘治十年）</data></dd></div>
</dl>
<h2>序</h2>
<p>人身之有脈絡流注以充其內外非聖人莫能知何以然脈絡人皆不可得而見者雖析其肌剖其膚莫政所歷九道非若經星麗天之有章而交會向背自無毫厘之差地之濟瀆所行一脈非若常流入海之可見而起伏出入自有分殊之別而人之榮衛所循周身雖非眉目在面之顯著而灌注之理又豈無其所自耶此聖人所以能洞察而眾人固莫知之耳夫何靈樞之文世古言深中有錯簡易置況無注釋後世不無失其真者此許昌滑氏十四經發揮所以作也仁和夏君時彥以世醫業儒讀書明理有契於是而愛之自惟醫之為道人之司命攸系苟不能知脈絡經穴之所繇不但施於針砭艾　而已將何以察感受之因乎若昧昧焉以執方徒懵懵焉以耳目妄是猶傷胸捫足幾何而不誤人之疾戕人之生耶於是悉取祖遺諸秘有裨靈樞經脈之旨者若實太師諸家韻語更加演繹自成一家之言復疏靈樞本文於下就以滑氏注條列其次仍為總括以承之後附奇經八脈仰伏人尺寸間亦時出己意正其紛錯明其分截略加潤色而隱括之列圖分類粲然昭明名曰靈樞經脈翼展卷一覽皆在阿堵視發揮為益要較滑注為益明且以便於初學記誦猗歟快哉時彥知予知其最詳書成出示以序囑予予告之曰傳有之云人莫不飲食也鮮能知味今時彥能以是用心可謂能味者乎祖述前賢而使後學有所憑據察病識源循經又疾曷啻飲上池而洞見五臟歟是雖滑氏鼓其波於前而時彥揚其濤於後是誠能羽翼乎靈樞而大有功於醫道也活人之德奚淺淺夫因　繹其理敢用　著於篇端云</p>
<p><u>時弘治十年日南至古　</u></p>
<h2>凡例</h2>
<p>─是編不但為砭　而設蓋通察經穴脈絡之繇是以全論周身經脈雖則參考樞素諸篇而皆一本靈樞經脈之者故云經脈翼云─十二經所列次第並以流注之序為之先後起子手大陰肺經終於足厥陰肝經附以任督二奇其有─經脈歌括雜取竇太師洎諸家之言有裨於靈樞經脈之旨者大書列之仍分疏靈樞經文於下其經分截一以靈樞本文為主仍取滑氏發揮所注附於經文之後以圈別之其諸穴絡與他經交會過脈者復以外圈隔之云見某經不復更贅─經脈流注本經曰歷曰循曰至曰抵其交會者曰會曰過曰行其或經行之處，既非本經又非交會─諸經之穴編入括中者今則隨所分截而大書開具行列明釋以便初學其諸取穴則參考樞素諸篇洎滑氏發揮而取之其有所取周折未易得者旁取針經集要等書附注以足之間一竊附己意一二以贅於下其言某穴在某所者完穴也取某穴上下者必屈伸偃仰坐臥跪彈而後得之也此與流注所經─後附總歌則雜取諸家相合之言演之仍以管見為愚按於下以紀一經之始末云─經脈歌括有與經文分截不同者今則斷章求義以求其不皆或牽滯下文並為一句韻語者今則略加隱括嫠而為二但使之理平順不乖其義不計工拙─諸家所明經穴有顛倒互釋而與流注次第不同者今亦皆改正不令矛盾─靈樞所載本文是助所主之繇而滑氏折載有詳略不同者今一以靈樞為主而辨證滑氏之異於後─奇經八脈雖不若十二經之有常道亦非若諸絡脈之微眇也任督二脈之直行者既以列之圖穴於諸經之後其陰陽維蹺沖帶六脈則別具編焉為其有六脈所發之穴今著於偏首以備參考上以上凡十條是編英自孩提時得先大父先人講論緒余拳拳服膺錄之手照閱三十年凡遇四方高明時加取正旁遘諸書參其所同去其所異必歸於正一得之見如是而已恐久散失不揣　妄輯而成書敢用傳之壽梓與為人子者洎初學之士共之</p>
<p><u>弘治丁巳長至日古杭夏英時彥謹識於杏花春曉亭</u></p>
<h2>上卷</h2>
<h3>手少陰心五臟通之圖</h3>
<p><a href="_files/p06-d34a1.bmp">手少陰心五臟通之圖</a></p>
<h3>手太陰肺起寅之圖</h3>
<p><a href="_files/p06-d34a2.bmp">手太陰肺起寅之圖</a></p>
<p>夫經脈十二所以周流一身如環無端與天同一營運焉蓋天以三百六十五度四分度之一為一周天而終一晝夜人之榮衛則以五十度周於身氣行一萬三千五百息脈行八百一十丈而終一晝夜適當明日之寅時而復會於手太陰是與天同度周而復始以人呼吸之數言之一呼脈行三寸一吸脈行三寸呼吸定息脈行六寸其氣常以平旦始從中焦注手太陰而終注於足厥陰計呼吸二百七十息脈行一十六丈二尺漏下二刻為一周身於是復還注手太陰積而盈之人一呼一吸為一息每刻一百三十五息每時八刻計一千八十息十二時九十六刻計一萬二千九百六十息刻之余分得五百四十息合一萬三千五百息也一息脈行六寸每二刻二百七十息脈行一十六丈二尺每時八刻脈行六十四丈八尺榮衛四周於身十二時計九十六刻脈行七百七十七丈六尺為四十八周身刻之余分行二周身得三十二丈四尺總之為五十度周身脈得八百一十丈也此呼吸之息脈行之數周身之度合晝夜百刻之詳也</p>
<h2>卷中</h2>
<h3>手太陰肺經之圖</h3>
<p><a href="_files/p06-d34a3.bmp">手太陰肺經之圖</a></p>
<h3>手太陰肺經歌</h3>
<p>手太陰肺之經腹走腋而腋走手是經多氣少血起於中府止於少商計十一穴左右共二十二穴肺之為藏六葉兩耳四垂如蓋附著於脊之第三椎中有二十四空行列分布諸臟清濁之氣為五臟華蓋云手太陰經肺起寅中焦下絡大腸行還循胃口幽門穴上膈循行會本經靈樞第十篇云手太陰之脈起於中焦下絡大腸還循胃口上膈屬肺○滑氏曰起發也絡繞也還循也巡也又依也沿也屬會也中焦者在胃中脘當臍上四寸之分大腸注見本經胃口胃上下口也胃上口在臍上五寸上脘穴下口在臍上二寸下腋穴之分也膈者隔也凡人心下有膈膜與脊脅周回相著所以遮隔濁氣不使上熏於心肺也手太陰起於中焦受足厥陰之交由是循任脈之外足少陰經脈之裡以次下行當臍上一寸水分穴之分繞絡大腸手太陰陽明相為表裡乃復行本經之外上循胃口迤邐上膈而屬會於肺榮氣有所歸於本歲也○幽門見腎經水分見任脈屬肺還從肺系出絡肺橫行來肘循　天府下俠白漸行心主少陰前肘中尺澤約紋偏靈樞第十篇去從肺系橫出腋下下循　內行少陰心主之前下肘中○滑氏曰肺系謂喉嚨也喉以候氣下接於肺肩下脅上際曰腋膊下對腋處為　肩肘之間也　盡處為肘臂節也自肺藏循肺系出而橫行循胸博第四行之中府云門以出腋下下循　內歷天府俠白行手少陰手心主之前下入肘中抵尺澤穴也蓋手少陰循　臂出小指之端手心主循　臂出中指之端手太陰則行手二經之前也中府　在云門下一寸乳上三肋間動脈應手陷中云門　取天突下一寸兩旁各六寸陷中動脈舉臂取之天突見任脈天府　在腋下三寸　內廉動脈中以鼻取之禁灸俠白　在天府下去肘五寸動脈中尺澤　在肘中約紋上動脈中循絲臂內到孔最骨間列缺交經傳寸口即是經渠穴掌後大淵魚際側出從大指少商頭靈樞第十篇云循臂內上骨下廉入寸口上魚可循魚際出大指之端○滑氏曰肘以下為臂廉隅也邊也手掌後高骨旁動脈為關關前動脈為寸口曰魚曰魚際云者謂掌骨之前大指本即之後其肥肉隆起處統謂之魚魚際則其間之穴名也既下肘中乃循臂內上骨之下廉歷孔最列缺入寸口之經渠太淵以上魚循魚際出大指之端至少商穴而終也端杪也孔最　去腕上七寸手太陰之列缺　去腕側上一寸五分以手交叉食指末筋骨罅中太陰之絡別走陽明交經絡穴也經渠　在寸口陷中禁灸太淵　在掌後陷中脈之會也魚際　在手大指本節後內側散脈中少商　在手大指端內側白肉內宛宛中去爪甲如韭葉交手陽明大腸脈靈樞第十篇云其支者從腕後直出次指內廉出其端○滑氏曰臂骨盡處為腕脈之大隧為經交經者為絡本經終於大指之端此則從腕後列缺穴達次指內廉出其端而交於手陽明大腸經</p>
<p><u>總歌曰</u></p>
<p>肺起中焦絡大腸還循胃口近心旁自知屬肺橫循腋出臂徐徐入少商愚按手太陰肺之脈起於中焦終於大指內廉端上其支音自腕後列缺穴直行於大指次指內廉出其端長三尺五寸交於手陽明大腸經故手陽明之脈起於大指次指之端商陽穴始也</p>
<p><u>穴歌曰</u></p>
<p>手太陰經十一穴中府云門天府列俠白尺澤孔最存列缺經渠大淵涉魚際少商如韭葉</p>
<p><u>是動所生歌曰</u></p>
<p>此經多氣而少血是動則病喘與咳肺脹膨膨缺盆痛兩手交瞀為臂厥所生病者為氣嗽喘渴煩心腦滿結　臂之內前廉痛小便頻數掌中熱氣虛肩背痛而寒氣盛亦疼風汗出穴伸少氣不足息遺失無靈樞第十篇云是動則病肺脹滿膨膨而喘咳缺盆中痛甚則交兩手而瞀此為臂厥是主肺斫生病者咳上氣喘渴煩心腦滿　臂內前廉痛厥掌中熱氣盛有餘則肩背痛風寒汗出中風小便數而欠熱虛則肩背痛寒少氣不足以息弱色變為此諸病盛則瀉之虛則補之熱則疾之寒則留之陷下則灸之不盛不虛以經取之盛者寸口大三倍於人迎虛者寸口反小於人迎也○滑氏所生病者咳咳下有嗽字前廉痛痛下無厥字風寒。滑氏曰寒字疑衍溺色變下有卒遺失無度五字○越人云經言脈有是動有所生病一脈變為二病者何也然經言是動者氣也所生病者血也邪在氣氣為是而動邪在血血為所生病氣主　之血主濡之氣留而不行者為氣先病也血壅而不濡者為血後病也故先為是動後所生病也○滑氏曰此脈字非尺寸之脈乃十二經隧之脈也後凡言是動所生病者義皆仿此</p>
<p><u>音釋</u></p>
<p>脘　（奴侯反）　膊（音剝）　腕（音緩）　瞀（音茂）　腋（音抑）　臂（音閉）</p>
<p>迤（音以）　邐（音裡）　杪（音渺）　罅（音　）</p>
<h3>手陽明大腸經之圖</h3>
<p><a href="_files/p06-d34a4.bmp">手陽明大腸經之圖</a></p>
<h3>手陽明大腸經歌</h3>
<p>手陽明大腸之經手走頭而頭走腹是經氣血俱多起於商陽止於迎香計二十穴左右共四十穴大腸為腑長二丈一尺廣四寸當臍右回十六曲手陽明是大腸經商陽二間三間行合谷陽谿兩筋內靈樞第十篇云手陽明之脈起於大指次指之端循指上廉出合谷兩骨之間上人兩筋之中○滑氏曰大指次指大指之次指謂食指也手陽明大腸經也凡經脈之道陰脈行手足之裡陽脈行手足之表此兩骨之間復上入陽谿兩筋之中商陽　在手表大指次指內側去爪甲如韭葉二間　在手表大指次指本節前內側陷中三間　在手表大指次指本節後內側陷中合谷　在手表大指次指岐骨間陷中動脈陽谿　在手表腕中上側兩筋陷中循臂偏歷溫溜升下廉上廉三裡去曲池肘　來五裡臂　肩　兩骨間靈樞第十篇云循臂上廉入肘外廉循　外前廉上肩○滑氏曰自陽谿而上循臂上廉之偏歷溫溜下廉上廉三裡入肘外廉之曲池循　外前廉歷肘　五裡臂　絡　會上肩至肩　穴也○　會見手少陽經手陽明之絡也偏歷　在腕中後三寸別走太陰溫溜　取腕後小士六寸大士五寸間動脈中下廉　在輔骨下去上廉一寸去曲池四寸上廉　在三裡下一寸三裡　在曲池下二寸按之肉起曲池　在肘外輔骨屈肘曲骨之中以手拱胸取之肘　在肘大骨外廉陷中五裡　在肘上三寸行向裡大脈中禁針臂　在肘上七寸　向端陽明之絡肩　在肩端兩骨間陷者宛宛中舉臂有空陽明蹺脈之會巨骨上與大椎會靈樞第十篇云出　骨之前廉上出於柱骨之會上○滑氏曰肩端兩骨間為　骨肩胛上際會處為天柱骨出　骨前廉循巨骨穴上出柱骨之會上會於大椎○大椎見督脈手足三陽督脈之會巨骨　在肩端上行兩叉骨間陷中陽明蹺脈之會此經直下缺盆行陷中本屬是陽明陽明外絡繞肺臟下膈竟屬大腸停靈樞第十篇云下入缺盆絡肺下膈屬大腸○滑氏曰自大椎而下入缺盆循足陽明經脈外絡繞肺臟復下膈當天樞之分會屬於大腸也○缺盆天樞俱見足陽明經其支又自缺盆別上行天鼎扶突接貫腮及入於下齒靈樞第十篇云其支別者從缺盆上頭貫腮入下齒中○滑氏曰頭莖為頸耳以下曲處為一口前小者為齒其支別者自缺盆上行於頸循天鼎扶突上貫於頰入下齒縫中天鼎　在頸缺盆直扶突後一寸仰首取之扶突　在氣舍後一寸五分又云在人迎後一寸五分仰首取之氣舍人迎見足陽明經上唇交互人中穴左右相交挾鼻孔任督手陽明會總禾　一寸是迎香交足陽明經胃統靈樞第十篇　云還出挾口交人中左之右右之左上挾鼻孔○滑氏曰口唇上鼻柱下為人中既入齒縫復出夾兩口吻相交於人中之分左脈之右右脈之左上挾鼻孔循禾　迎香而終以交於足陽明也○人中見督脈手陽明督之會禾　在鼻孔下俠水溝旁五分禁灸迎香　在禾　上一寸鼻孔旁五分手足陽明之會禁灸</p>
<p><u>總歌曰</u></p>
<p>手陽明脈起商陽過臂交肩絡大腸再出缺盆還入齒上行俠鼻到迎香愚按手陽明大陽之脈起於大指次指手表內側端上終於絡肺會屬大腸其支者從缺盆入於下齒左之右右之左相交　中橫至兩目之下承泣穴長五尺交於足陽明胃經故足陽明之脈起於承泣穴始</p>
<p><u>穴歌曰</u></p>
<p>手中陽明始商陽二間三間合谷藏陽谿偏歷及溫溜下廉上廉三裡長曲池肘　迎五裡臂　肩　巨骨當天鼎扶突禾　接終以迎香二十穴</p>
<p><u>是動所生歌曰</u></p>
<p>此經氣盛血亦盛是動頸腫並齒痛所生病者為鼻衄目黃口乾喉痹生大指次指難為用肩前　外痛相仍靈樞第十篇云是動則病齒痛頸腫是主津液○所生病者目黃口乾鼽衄喉痹肩前　痛大指次指痛不用氣有餘則當脈所過者熱腫虛則寒栗不復為此諸病盛則瀉之虛則補之熱則疾之寒則留之陷下則灸之不盛不虛以經取之盛者人迎大三倍於寸口虛者人迎反小於寸口也</p>
<p><u>音釋</u></p>
<p>（渠殞也）　胛（音甲背胛也）　頰（右脅反結腮也）　吻（音文上聲）鼽（音求鼻塞）</p>
<h3>足陽明胃經之圖</h3>
<p><a href="_files/p06-d34a5.bmp">足陽明胃經之圖</a></p>
<h3>足陽明胃經歌</h3>
<p>足陽明胃之經頭走腹而腹走足足經氣血俱多起於承泣止於厲兌計四十五穴左右共九十穴胃大一尺五寸纖曲屈伸長二尺六寸足陽明起鼻睛明平足太陽少陽並是足陽明五脈會又足太陽顴上循斜行承泣目瞳子四白巨　來上齒出環唇口地倉行交互承漿下唇會靈樞第十篇云足陽明之脈起於鼻交　中旁約太陽之脈下循鼻外入上齒中還出挾口環唇下交承漿○滑氏曰頗鼻莖也鼻山根為頗足陽明起於鼻兩旁迎香穴由是而上左右相交於　中過睛明之分下循鼻外歷承泣四白巨　入上齒中復出循地倉挾兩口吻環繞唇下左右相交於承漿之分也○迎香見手陽明經睛明見足太陽經手足太陽少陽足陽明五脈之會承漿見任脈足陽明任脈之會承泣　在目下七分直瞳於陷中足陽明任蹺脈之會禁針四白　在目下一寸直瞳子巨　在夾鼻孔旁八分直瞳子蹺脈之會地倉　在夾口吻旁四分外如近下有微微動手足陽蹺脈之會卻循頤後大迎出斜上頰車下關客足陽明與少陽交發際頭維至顱額顳　手足少陽經額顱督脈到神庭足太陽明三脈會靈樞第十篇云卻循頤後下廉出大迎循頰車上耳前過客主人循發際至額顱○滑氏曰腮下為頷頷中為頤囟前為發際發際前為額顱自承漿卻循頤後下廉出大迎循頰車上耳前歷下關過客主人循發際行懸厘頷厭之分經頭維會於額顱之神庭○客主人懸厘頷厭並見足少陽經皆手足少陽陽明之交會神庭見督脈足太陽陽明督脈之會大迎　在曲頷前一寸三分骨陷中動脈以口下當兩肩頰車　在耳下曲頰端陷中側臥張口取之下關　在客主人下耳前動脈下廉合口有空開口即閉足少陽之會客主人足見少陽經頭維　在額角入發際本神旁一寸五分神庭旁四寸五分足少陽交會本神見足少陽經神庭見督脈足太陽陽明督脈會足陽明脈自大迎行上終於此穴入神庭散腦中其支再下大人迎水突穴居氣舍上夾喉天突缺盆當循足少陰俞府行下膈屬胃上脘旁胃口會厭為吸門　屬胃上脘足陽明會手太陰下一寸即由中脘是其經乃手太陽少陽合又同任脈會其穴絡脾微著左脅些相依胃上無差別靈樞第十篇云其支者從大迎前下人迎循喉嚨入缺盆下膈屬胃絡脾○胸兩旁高處為膺膺上橫骨為巨骨巨骨上陷中為缺盆其支別者從大迎前下人迎循喉嚨歷水突氣舍入缺盆行足少陰俞府之外下膈當上脘中脘之分屬胃絡脾○俞府見足少陰經上脘見任脈足陽明手太陽任脈之會中脘見任脈手太陽少陽足陽明所生任脈之會人迎　在頸大脈動應手夾結喉旁一寸五分動脈仰首取之禁針灸水突　在頸大筋前直人迎下氣舍上二穴之中間氣舍　在頸直人迎下夾天突陷中天突見任脈缺盆　在肩下橫骨陷中禁針直行又自缺盆底氣戶庫房並屋翳膺窗當乳乳根停斜入不容承滿位梁門穴過關門通太乙滑門天樞同挾臍外陵下大巨水道歸來入氣衝靈樞第十篇云其直者從缺盆下乳內廉下挾臍入氣衝中○滑氏曰直行者從缺盆而下下乳內廉循氣戶庫房屋翳膺窗乳中乳根不容承滿梁門關門太乙滑肉門下挾臍歷天樞外陵大巨水道歸來諸穴而入氣衝中也○自氣戶至乳根去中行各四寸自不容至滑肉門去中行各三寸自天樞至歸來去氣戶　取天突下一寸兩旁各四寸微近下陷中直乳頭仰取天突見任脈庫房　在氣戶下一寸六分陷中下直乳頭仰而取之屋翳　在庫房下一寸六分陷中直乳頭仰而取之膺窗　在屋翳下一寸六分陷中下直乳頭仰而取乳中　當乳中是也禁針灸乳根　在直乳下一寸六分陷中仰而取之自氣戶至乳根去中行各四寸不容　取巨關兩旁各三寸直四肋端巨闕見任脈承滿　在不容下一寸梁門　在承滿下一寸關門　在梁門下一寸太乙　在關門下一寸滑肉門　在太乙下一寸下挾臍自不容至滑肉門去中行各三寸天樞　取臍兩旁各二寸大腸之募外陵　在天樞下一寸大巨　在外陵下一寸水道　在大巨下三寸歸來　在水道下二寸自天樞至日來去中行各二寸氣衝　在歸來下鼠溪上一寸動脈應手宛宛中禁針一名氣衝其支腹從胃口下別行循腹肓俞走足少陰經與本經復會氣衝從下溜靈樞第十篇云其支者起胃下口循腹裡下至氣衝中而合○滑氏曰胃下口下脘之分難經云太倉下口為幽門者是也自屬胃處起胃下口循腹裡過足少陰肓俞之外本經之裡下至氣衝中與前之入氣髀關伏兔陰市從梁丘膝上兩筋同膝臏犢鼻至三裡上廉條口下廉中豐隆解谿衝陽屬陷谷內庭厲兌足靈樞第十篇云以下　關抵伏兔下入膝臏中下循　外廉下足跗入中指外間○滑氏曰抵至也股外為髀髀前膝上起肉處為伏兔伏兔後交文為髀關挾膝解中為臏脛骨為　跗足面也既相合氣衝下髀關抵伏兔歷陰市梁丘下入膝臏中經犢鼻下循　外廉之三裡巨虛上廉條口巨虛下廉豐隆解之衝陽陷谷入中指外間之內庭至厲兌而終也髀關　在膝上伏兔後交文分中禁灸伏兔　在膝上六寸起肉端正跪坐而取之一云膝蓋上七寸禁灸陰市　在膝上三寸伏兔下陷中拜而取之禁灸梁丘　在膝上二寸兩筋間犢鼻　在膝臏下　骨上骨解大筋中禁灸三裡　在膝眼下三寸　骨外廉大筋內宛宛中舉足取之極重按之則跗上動脈止矣上廉　在裡下三寸舉足取之條口　在下廉上一寸舉足取之禁灸下廉　在上廉下三寸舉足取之豐隆　在外踝上八寸　外廉陷中當系鞋帶處解谿　在衝陽後一寸五分腕上陷中當系鞋帶處衝陽　在足跗上五寸骨間動脈去陷谷三寸陷谷　在足大指次指之間本節後陷中內庭　在足大指次指外間陷中厲兌　在足大指次指之端去爪甲如韭葉靈樞第十篇云其支者下膝三寸而別以下入中指外間○滑氏曰此支自膝下三寸循三裡穴之外衝陽反出行間來交足太陰脾脈續靈樞第十篇云其支者別跗上入大指間出其端○滑氏曰此支自跗上衝陽穴別行大指間斜出足厥陰行間穴之外循大指下出其端以交於足太陰行間見足厥陰經</p>
<p><u>總歌曰</u></p>
<p>胃脈先由鼻　中卻循頤後過喉嚨絡脾屬胃俠臍下下脛還知厲兌通愚按足陽明胃之脈起於鼻　終於足大指次指端上其支者自跗上衝陽穴別行入足大指之下長八寸交於足太陰脾經故足太陰之脈起於大指之端內側隱白穴始也</p>
<p><u>穴歌曰</u></p>
<p>四十五穴足陽明承泣四白巨　經地倉大迎頰車峙下關頭維人迎對水突氣舍連缺盆氣戶庫房屋伏</p>
<p><u>是動所動歌曰</u></p>
<p>此經多氣復多血是動欠呻面顏黑淒淒惡寒畏見人忽聞木音心震惕登高而歌棄衣走甚則腹脹仍賁響凡此諸疾皆　厥所生病者為狂瘧濕溫汗出鼻流血口　唇胗仍喉痹膝臏疼痛腹脹結氣膺伏兔外廉足跗中指俱痛徹有餘消穀溺色黃不足身前寒振栗胃中寒時脹滿生氣盛身前皆有熱靈樞第十篇云是動則病洒洒振寒善呻數欠顏黑病至則惡人與火聞木音則惕然而驚心欲動獨閉戶塞牖而處甚則欲上高而歌棄衣而走賁響腹脹是為　厥是主血所生病者狂瘧溫淫汗出鼽衄口唇胗頸腫喉痹大腹永腫膝臏腫痛循膺乳氣街股伏兔　外廉足跗上皆痛中指不用氣盛則身以前皆熱其有餘於胃則消穀善飢溺色黃氣不足則身以前皆寒栗胃中寒則脹滿為此諸病盛則瀉虛則補之熱則疾之寒則留之陷下則灸之不盛不虛以經取之盛者人迎大三倍於寸口虛者人迎反</p>
<p><u>音釋</u></p>
<p>顳　顱（音盧囟也）　突（防骨反觸也）　翳　肓　髀（音陛股也）　臏　犢（音遏）　頷（音順下也）　囟（音信）　鼷　獨　（音旱脛骨）　峙</p>
<h3>足太陰脾經之圖</h3>
<p><a href="_files/p06-d34a6.bmp">足太陰脾經之圖</a></p>
<h3>足太陰脾經歌</h3>
<p>足太陰脾之經足走腹而腹走胸是經多氣少血起於隱白止於大包計二十一穴左右共四十二穴脾廣三寸長五寸掩乎太倉附著於脊之第十一椎足太陰經解隱白太都太白同其直公孫別走足陽明商丘踝下微前覓上踝三寸三陰交靈樞第十篇云足太陰之脈起於大指內側白肉際過　骨後上內踝前廉○滑氏曰　骨一作核骨俗云孤拐骨是也足跟後兩旁起骨為踝骨足太陰起大指之端隱白穴受足陽之交也由是循大指內側白肉際大都穴過核骨歷太白公孫商丘上內踝前廉之三陰交也商丘　在足內踝下微前陷中三陰交　在內踝上三寸骨下陷中上　循行漏谷超厥陰前有地機穴陰陵泉在膝之坳靈樞第十篇云上　內循　骨後交出厥陰之前○滑氏曰　腓腸也由三陰交上　內循　骨後之漏谷上行二寸交出足厥陰經之前至地機陰陵泉漏谷　在內踝上六寸骨下陷中地機　在膝下五寸太陰之陰陵泉　在膝下內側輔骨下陷中伸足取曲膝亦得之上循膝股號血海箕門越筋陰股內上行入腹至衝門府舍橫行中極會關元任脈三陰還又循腸腹結屬脾臟循行中脘下脘回屬脾絡胃無猜疑此經本自腹哀起別腹還循膈上來靈樞第十篇云上循膝服內前廉入腹屬脾絡胃滑氏曰髀內為股臍上下為腹自陰陵泉上循膝股內前廉之血海箕門迤邐入腹經衝門府舍會中樞關元復循腹結大橫會下脘歷腹哀過日月期門之分循本經之裡下至中脘下脘之際以屬脾絡骨也○中極關元並見任脈皆足三陰任脈之會下脘見任脈足太陰任脈之會日月見足少陽經足太陰少陽陽維之會期門見足厥陰經足太陰厥陰陰維之血海　在膝臏上內廉白肉際二寸中箕門　在魚腹上越筋間陰股內動脈中衝門　去大橫五寸在府舍下橫骨端約中動脈厥陰之會府舍　在腹結下三寸太陰　厥陰陰維之交會腹結　在大橫下一寸三分大橫　在腹哀下三寸五分直臍旁腹哀　在日月下一寸五分自衝門起至腹哀止去腹中行各四寸五分日月見足少陽經斜上本經食竇穴舉臂可取天溪接仰取寸六是胸鄉更上周榮回下脅大包布脅九肋間手足太陰中府斜行竟上人迎位夾喉連舌散何難靈樞第十篇云上膈挾咽連舌本散舌下○滑氏曰咽所以咽物居喉之前至胃長一尺六寸為胃系也舌本舌根也由腹哀上膈循食竇天溪胸鄉周榮由周榮外曲折向下至大包又自大包外，曲折向上中府上行人迎之裡挾咽連舌本散舌下而絡焉○中府見手太陰經足太陰之會人迎見足陽明經食竇　在天溪下一寸六分舉臂取之天溪　在胸鄉下一寸六分仰而取之胸鄉　在周榮下一寸六分陷中仰而取之周榮　在中府下一寸六分陷中仰而取之中府見手太陰經大包　在淵腋下三寸淵腋見足少陽經別支又從腹哀去再歷胃經中脘外上注膻中穴裡終兩手少陰心經起靈樞第十篇云其支者復從胃別上膈注心中○滑氏曰此支由腹哀別行再從胃部中脘穴之外上膈注於膻中之裡心之分以交於手少陰○中脘膻中並見任脈</p>
<p><u>總歌曰</u></p>
<p>指端側內方由踝股脛崎嶇氣脈通入腹屬脾並絡胃俠咽連舌注胸中愚按足太陰脾之脈起於足大趾內側終於俠咽散舌下別支又自腹哀歷胃經注膻中之裡心之分交於手少陰心經故手少陰之脈起於心中上肺橫出腋下極泉始也</p>
<p><u>穴歌曰</u></p>
<p>足中太陰脾經偏隱白太都太白先公孫商丘三陰交漏谷地機陰陵泉血海箕門衝門近府舍腹結大橫連腹哀食竇天溪去胸鄉周榮大包全</p>
<p><u>是動所生歌曰</u></p>
<p>此經氣盛而血衰是動其病氣所為食入即吐胃脘痛更兼身體痛難移腹脹善噫舌本強得後與氣快然衰所生病者舌亦痛體重不食亦如之煩心心下仍急痛泄水溏瘕寒瘧隨不臥強立股膝腫疽發身靈樞第十篇云是動則病舌本強食則嘔胃脘痛腹脹善噫　得後與氣則快然如衰身體皆重是主脾所生病者舌本痛體不能動搖食不下煩心心下急痛溏瘕泄水閉黃膽不能臥強立股膝內腫厥足大趾不用為此諸病盛則瀉之虛則補之熱則疾之寒則留之陷下則灸之不盛不虛以經取之盛者寸口大三倍於人迎虛者寸口反小於人迎也○滑氏　下急痛下有寒瘧二字</p>
<p><u>音釋</u></p>
<p>踝（胡瓦反）　覓（音密）　坳　猜　攢　肋（音勒）　拐　腓</p>
<h3>手少陰心經之圖</h3>
<p><a href="_files/p06-d34a7.bmp">手少陰心經之圖</a></p>
<h3>手少陰心經歌</h3>
<p>手少陰心之經腹走胸而胸走手是經多血少氣起於極泉止於少衝計九穴左右共一十八穴心形如未敷蓮花居肺下膈上附著於脊之第五椎手少陰心五臟通下膈絡繞小腸中靈樞第十篇云手少陰之脈起於心中出屬心系下膈絡小腸○滑氏曰心系有二一則上與肺相通而入肺兩大葉間一則由肺葉而下曲折向後並脊膂細絡相連貫脊髓與腎相通正當七節之間蓋五臟系皆通於心而心通五臟系也手少陰經起於心循任脈之外屬心系下膈當臍上二寸之分絡小腸別從心系橫支起上夾喉門目系同靈樞第十篇云其支者從心系上挾咽系目系○滑氏曰支者從心系出任脈之外上行而挾咽系目也其支復從心系出上循肺上橫循腋極泉穴在臂內廂腋下筋間當動脈靈樞第十篇云其直者復從心系卻上肺出腋下○滑氏曰直者復從心系直上至肺臟之分出循腋下極泉　在臂內腋下筋間動脈入胸下循　外後廉行太陰心主後青靈下肘內廉來少海靈樞第十篇云下循　內後廉行太陰心主之後下肘內廉○滑氏曰自極泉下循　內後廉行太陰心主兩經之後歷青靈穴下肘內廉抵少海青靈　在肘上三寸舉臂取之少海　在肘內大骨外去肘端五分臂廉靈道甚分明通理排來陰　底掌後神門循小指少府前行出少衝交手太陽小腸是靈樞第十篇云循臂內後廉抵掌後兌骨之端入掌內後廉循小指之內出其端○滑氏曰腕下踝為兌骨自少海而下循臂內後廉歷靈道通理至掌後兌骨之端經陰　神門入掌內廉至少府循小指端之少衝而終以交於手太陽也靈道　在掌後一寸五分通理　在腕後一寸陷中陰　在掌後脈中去腕五分神門　在掌後兌骨之端陷者中少府　在手小指本節後陷中直勞宮少衝　在手小指內廉端去爪甲如韭葉</p>
<p><u>總歌曰</u></p>
<p>心脈元來起膈中更還心系始通胸絡腸出腋方循肘入掌分明見少衝愚按手少陰心之脈起於心中終於小指內廉出其端長三尺五寸而直交於手太陽小腸經蓋心為君主之官示尊於他藏故其交經授受不假別支而直自本經少衝穴交於手太陽小腸經故手大陽之脈起於小指外側端少澤穴始也</p>
<p><u>穴歌曰</u></p>
<p>九穴心經手少陰極泉青靈少海深靈道通理陰　遂神門少府少衝尋</p>
<p><u>是動所生歌曰</u></p>
<p>多氣少血屬此經是動心脾痛難任渴欲飲水咽乾燥所生脅痛目如金脅臂之內後廉痛掌中有熱向靈樞第十篇云是動則病嗌干心痛渴而欲飲是為臂厥是主心所生病者目黃脅痛　臂內後廉痛厥掌中熱痛為此諸病盛則瀉之虛則補之熱則疾之寒則留之陷下則灸之不盛不虛以經取之盛者寸口大再倍於人迎虛者寸口反小於人迎也</p>
<h3>手太陽小腸經之圖</h3>
<p><a href="_files/p06-d34a8.bmp">手太陽小腸經之圖</a></p>
<h3>手太陽小腸經歌</h3>
<p>手太陽小腸之經手走頭而頭走腹是經多血少氣起於少澤止於聽宮計十九穴左右共三十八穴小腸長三丈二尺左回疊積十六曲胃之下口小腸之上口也在臍上二寸水穀於是入焉復下一寸為水分穴則小腸下口也至是而泌別清濁水腋入膀胱滓穢入大腸云手太陽經絡小腸起於少澤小指旁前谷後谿循腕骨腕中陽谷陷中藏養老東骨上空罅靈樞第十篇云手太陽之脈起於小指之端循手外側上腕出踝中○滑氏曰臂骨盡處為腕腕下兌骨為踝本經起小指端少澤穴由是循手外側之前谷後谿上腕出踝中歷腕骨陽谷養老穴也少澤　在手表小指外側端去爪甲一分陷中前谷　在手表小指外側本節前陷中後谿　在手表小指外側本節後陷中起肉之下腕骨　在手表外側腋前起骨下陷中陽谷　在手表外側腕中兌骨下陷中○兌骨腕下骨也養老　在手踝骨上一空腕後一寸陷中支正少陰來小海　俞陽明手少陽膊部肩貞居骨解　俞天宗與秉風曲垣肩外其肩中上行循臂大推穴手足三陽督脈同靈樞第十篇云直上循臂骨下廉出肘內側兩筋之間上循　外後廉出肩解繞肩胛交肩上○滑氏出肘內側起至循　外後廉止無此十四字今錄於此以備參考○胛一名膊○滑氏曰脊兩旁為膂膂上兩角為肩解肩解下成片骨為肩胛自養老穴直上循臂骨下廉支正穴出肘內側兩骨之間歷小海穴上循　外後廉行手陽明少陽之外上肩循肩貞　俞天宗秉風曲垣肩外俞肩中俞諸穴乃上會大椎因左右相交於兩肩之上○大椎見督脈手足三陽督脈之會支正　在腕後五寸別足少陰小海　在肘內大骨外去肘端五分陷中屈手向頭取之肩貞　在肩曲胛下兩骨解間肩　後陷中俞　在挾肩　後大骨下胛上廉陷中手足太陽陽維蹺脈之會天　見手少陽經天宗　在秉風後大骨下陷中秉風　在天　外肩上小　後舉臂有空手太陽陽明手足少陽之會天　見手少陽經曲垣　在肩中曲胛陷中按之應手痛肩外俞　在肩胛上廉去脊三寸陷中肩中俞　在肩胛內廉去脊二寸陷中就向肩前缺盆陷下腋絡心膻中滿循咽透膈抵胃中竟屬小腸來下脘靈樞第十篇云人缺盆絡心循咽下膈抵胃屬小腸○滑氏曰自交肩上入缺盆循肩向腋下行當膻中之分絡心循胃系下膈過上脘中脘抵胃下行任脈之外當臍上二寸之分屬小腸○膻中上脘中脘並見任脈會穴也其支別自缺盆升循頸天窗旁頸筋穴歷天容循頰面顴　兌督聽宮停靈樞第十篇云其支者別從缺盆循頸上頰至目銳　卻入耳中○滑氏曰目外角為銳　支者別從缺盆循頸之天窗天容上頰抵顴　上至目銳　過瞳子　卻入耳中循聽宮而終也○瞳子　見足少陽經天窗　在頸大筋前曲頰下扶突後動脈應手陷中扶突見任天容　在耳下曲頰後顴　在面鳩骨下廉銳骨端陷中手少陽之會聽宮　在耳中珠子大如赤小豆足少陽之會別支循頰過　鼻循至睛明來　內手足三陽五脈攢交足太陽膀胱位靈樞第十篇云其支者別頰上　抵鼻至目內　斜絡於顴滑氏無斜絡於顴四字○滑氏曰目下為目大角為目內　其支者別循頰上　抵鼻至目內　睛明穴以交於足太陽也○睛明見足太陽經</p>
<p><u>總歌曰</u></p>
<p>少澤因知手太陽上循盆內下連腸其支自頸斜交頰俠鼻還來目　旁愚按手太陽小腸之脈起於小指之端循手外則而上終於耳中聽宮穴其支者自聽宮別行頰上抵鼻至目內　長五尺交於足太陽故足太陽之脈起於目內　睛明穴始也</p>
<p><u>穴歌曰</u></p>
<p>手太陽穴一十九少澤前谷後谿偶腕骨陽谷可養老支正小海肩貞走　俞天宗及秉風曲垣肩外復肩中天窗天容上顴　卻入耳中循聽宮</p>
<p><u>是動所生歌曰</u></p>
<p>此經少氣還多血是動則病痛咽嗌頷下腫兮不可顧肩如拔兮　似折所生病主肩　痛耳聾目黃腫腮頰肘臂之外後廉痛部外猶當細分則靈樞第十篇云是動則病嗌痛頷腫不可以顧肩似拔　似折是主腋所生病者耳聾目黃頰腫頸頷肩肘臂外後廉痛為此諸病盛則瀉○之虛則補之熱則疾之寒則留之陷下則灸之不盛○不虛以經取之盛者人迎大再倍於寸口虛者人迎反小於○以顧滑氏作回顧寸口也</p>
<p><u>音釋</u></p>
<p>罅（音　）　膊（音搏肩膊）　膻（音誕與昶同）　（音拙廣）　（靜計反）</p>
<h2>卷下</h2>
<h3>足太陽膀胱經之圖</h3>
<p><a href="_files/p06-d34a9.bmp">足太陽膀胱經之圖</a></p>
<h3>足太陽膀胱經歌</h3>
<p>足太陽膀胱之經頭走脊而脊走足是經多血少氣起於睛明止於至陰計六十三穴左右共一百二十六穴膀胱重九兩二銖縱廣九寸居腎下之前大腸之側當臍上一寸水分穴之處小腸下口乃膀胱上際也水腋由是滲入焉足太陽屬膀胱經起自目　由睛明上行攢竹神庭穴督太陽經　並曲差五處承光額二十五通天從左脈交行百會右耳尖靈樞第十篇云足太陽之脈起於目內　上額交巔　滑氏曰目大角為內　發際前為額腦上為巔巔頂也足太陽起目內　睛明穴上額循攢竹過神庭歷曲差五處承光通天自通天斜行左右相交於巔上之百會也神庭百會俱見督脈俱足太陽督脈之交會也睛明　在目內　頭外畔宛宛中手足太陽陽明少陽之會禁灸攢竹　在兩眉頭陷中禁灸曲差　取神庭外旁臨泣之裡二穴之間發際內五分臨泣見足少陽經五處　在上星旁曲差後五分承光　取曲差後二寸禁灸通天　取曲差後二寸五分右脈仍從百會出耳角入發際五分率谷浮白連竅陰乃足太陽少陽會從茲三穴散諸經　靈樞第十篇云其支者從巔至耳上角○滑氏曰支別者從巔之百會抵耳上角過率谷浮白竅陰所以散養於經脈也○率谷浮白竅陰三其經再自通天項絡卻直行來玉枕循行腦戶選周傍足太陽同督脈並別循出腦還本經下項復從天柱仍靈樞第十篇云其直　者從巔入絡腦還出別下項○滑氏曰腦頭髓也頸上為腦腦後為項此直行者由通天穴後循絡卻玉枕入絡腦復出下項抵天柱也○腦戶見督脈足太陽督脈之會絡卻　在通天後一寸五分玉枕　在絡卻後一寸五分或取後項上入發際三寸腦戶旁一寸三分枕骨起肉天柱　在頸項大筋外廉夾項後發際陷中大椎手足三陽會卻循陶道兩　行大杼風門皆夾脊肺俞厥陰四椎極心膈肝膽脾胃連三焦腎俞同臍直十六八椎大小腸膀胱十九椎兩旁中膂內俞白環入膂絡胃由膀胱靈樞第十篇云循肩膊內挾脊抵腰中入循膂絡腎屬膀胱○滑氏曰肩後之下為肩膊椎骨為脊尻上橫膈俞肝俞膽俞脾俞胃俞三焦俞腎俞大腸俞小腸俞膀胱俞中膂內俞白環俞由是抵腰中入循膂絡腎下屬膀胱也○大椎見督脈手足三陽督脈之會陶道見督脈足太陽督脈之會大杼　在項後第一椎下兩旁各一寸五分陷中足少陽之會又骨會此夾脊第二行俞穴風門　在第二椎下督脈之會兩旁各一寸五分肺俞　在第三椎下兩旁各一寸五分厥陰俞　在第四椎下兩旁各一寸五分心俞　在第五椎下五旁各一寸五分膈俞　在第七椎下兩旁各一寸五分肝俞　在第九椎下兩旁各一寸五分膽俞　在第十椎下正坐取之兩旁各一寸五分脾俞　在第十一椎下兩旁各一寸五分胃俞　在第十二椎下兩旁各一寸五分三焦俞　在第十三椎下兩旁各一寸五分腎俞　在第十四椎下與臍平兩旁各一寸五分大腸俞　在第十六椎下兩旁各一寸五分小腸俞　在第十八椎下兩旁各一寸五分膀胱俞　在第十九椎下兩旁各一寸五分中膂內俞　在第二十椎挾脊起肉兩旁各一寸五分白環俞　在二十椎下伏取之禁灸自大杼循肩膊至白環俞抵腰中去脊中各一寸五分其支別從白環入下循腰髁夾其脊上　次　中下　會陽穴旁陰尾骨貫穿臀內下承扶殷門浮　委陽途　中只是委中穴靈樞第十篇云其支者從腰中下挾脊貫臀入　中○滑氏支下有別字腰中下下無挾脊二字○滑氏曰臀尻也挾腰　骨兩旁為機機後為臀腓腸上膝後曲處為　其支別者從腰中循腰髁下挾脊歷上次　中　下　會陽下貫臀至承扶殷門浮　委陽入　中之委中穴也○按腰髁即腰監骨人脊椎骨有二十一節自十六椎節而下為腰監骨扶脊附著之處其十七至二十空云云也會陽在尾　骨兩旁則二十一椎乃復見而終焉又按督脈當脊中起於長強在二十一椎下等而上之至第十六椎下為陽關穴其二十椎至十七椎皆無穴乃知為腰監骨所掩明矣○上　在第一空腰髁下一寸挾脊陷中足太陽少陽之絡次　在第二空夾脊陷中中　在第三空挾脊陷中足厥陰少陽所結下　在第四空挾脊陷中足太陽厥陰所結會陽　在陰尾　骨兩旁承扶　在尻臀下股陰上紋中殷門　在肉　下六寸浮　在委陽上一寸展膝得之委陽　在承扶下六寸屈身取之足太陽之後出於　中外廉兩筋間委中在　中央約文中動脈伏面挺腹至地取之血　也○此支自夾脊第二行至白環俞而入歷上下　循會陽直至委中與附分至秩邊者合共會別支天柱膊中鋪別行左右附分去貫穿伸膂來魄戶膏肓穴下循神堂　膈內七椎數魂門第九近陽綱意舍前行取胃倉肓門又勒接志室胞肓直抵秩邊藏靈樞第十篇云其支　者從膊內左右別下貫胂挾脊內過髀樞○滑氏曰膂內曰胂夾脊肉也其支者為挾脊兩旁第三行相去各三寸之諸穴自天柱而下從膊內左右別行下貫胂膂歷附分魄戶膏肓神堂　膈關魂門陽綱意舍胃倉肓門志室胞肓秩邊下歷尻臀過髀樞也股外為脾楗骨之下為髀附分　在第二椎下附項內廉正坐取之手足太陽之會夾脊第三行俞穴魄戶　在第三椎下兩旁各三寸正坐取之膏肓　在第四椎下近第五椎上兩旁各三寸取穴時令人正坐曲脊伸兩手以臂著膝前令端直手大指與膝頭齊以物支肘母令臂動搖離胂骨容側指許按之酸痛神堂　在第五椎下兩旁各三寸正坐取之在肩膊內廉第六椎下兩旁各三寸正坐取之膈關　在第七椎下兩旁各三寸正坐闊肩取之魂門　左第九椎下兩旁各三寸陷中正坐取之陽綱　在第十椎下兩旁各三十陷中正坐取之意舍　在第十一椎下兩旁各三十陷中正坐取之胃倉　在第十二椎下兩旁各三寸肓門　在第十三椎下兩旁各三寸又肋間陷中志室　在第十四椎下兩旁各三寸陷中並正坐取之胞肓　在第十九椎下兩旁各三寸伏而取之秩邊　在第二十椎下陷中兩旁各三寸伏而取之或云在第二十一椎下○此支復自天柱而下歷附分至此而穴終由此穴循本絡直注於委中合經從秩邊貫臀內髀樞穴內承山外旁廂一寸五分間髀從裡廉委中會合陽膝約下二寸貫穿　內承筋承筋正在　腸中下至承山腸肉分飛揚外踝七寸存附陽踝下循昆侖仆參申脈白肉際金門京骨足邊屯足外大骨赤白肉小指本節收束骨通谷之前出至陰交足少陰腎經脈靈樞第十篇云循髀外後廉下合　中以下貫　內出外踝之後循京骨至小指外側○滑氏曰　腓腸內歷承筋承山飛揚附陽出外踝後之昆侖仆參申脈金門循京骨束骨通谷至小指外側端之至陰穴以交於足少陰也合陽　在膝約文中央下三寸或取委中下三寸承筋　在　腸中央陷中承山　在兌　腸下分肉間陷中飛陽　在足外踝上七寸太陽之絡別走太陰附陽　在足外踝上二寸太陽前少陽後筋骨間陽蹺之昆侖　在足外後跟骨上陷中仆參　在跟骨下陷中拱足得之申脈　在外踝下陷中容爪甲白肉際陽蹺脈之所生金門　在足外踝下太陽之　陽維所屬京骨　在足外側大骨下赤白肉際陷中束骨　在足小指外側本節後陷中通谷　在足小指外側本節前陷中至陰　在足小指外側去爪甲角如韭葉</p>
<p><u>總歌曰</u></p>
<p>內　交巔方下項循肩挾脊抵腰中從腰絡腎膀胱過髀骨源流小指通愚按足太陽膀胱之脈起於目內　睛明穴上額交巔抵天柱過大椎挾脊下行循膂絡腎屬膀胱其支者從腰入　中其支別者復自天柱從膊內左右挾脊而下合　中出小指外側端至陰穴長　交於足少陰腎故足少陰之脈起於小指之下斜趣足心涌泉穴始也</p>
<p><u>穴歌曰</u></p>
<p>足太陽經六十三睛明攢竹曲差參五處承光上通天絡卻玉枕天柱嶄大杼風門引肺俞厥陰心俞膈俞注肝俞膽俞脾俞同胃俞三焦腎俞中大腸小腸膀胱俞中膂白環兩俞輸自從大杼至白環相去脊中三寸間上　次　中復下會陽承扶殷門亞浮　委陽委中罅膊內挾脊附分當太陽行背第三行魄戶膏肓與神堂　膈關魂門旁陽綱意舍仍胃倉育門志室胞之肓二十椎下秩邊藏合　以下合陽是承筋承山居其次飛陽附陽泊昆侖仆參申脈連金門京骨束骨又通谷小指外側至陰續</p>
<p><u>是動所生歌曰</u></p>
<p>是經血多氣猶少是動頭疼不可當項如拔兮腰似折髀強痛徹脊中尖　如結兮　如裂是為踝厥筋乃傷所生瘧痔小指廢頭囟頂痛目色黃腰尻　腳疼連背淚流鼻衄及顛枉靈樞第十篇云是動則病沖頭痛目似脫項似拔脊痛腰似折髀不可以曲　如結　如裂是為踝厥是主筋所生病者痔瘧狂顛疾頭囟頂痛目黃淚出鼻衄項背腰尻　腳皆痛小指不用為此諸病盛則瀉之虛則補之熱則疾之寒則留之陷下則灸之不盛不虛以經取之盛者人迎大再倍於寸口虛者人迎反小於寸口也</p>
<p><u>音釋</u></p>
<p>竅　杼　膂（音呂脊骨兩旁　髁（苦瓦反腰骨）　臀（音屯髀也）</p>
<p>（戈麥反曲腳也）　膊（補合反）　噫（音依痛聲也）</p>
<p>嘻（音熙痛聲也）　（時充反音喘）　尻（若高反）</p>
<h3>足少陰腎經之圖</h3>
<p><a href="_files/p06-d34a10.bmp">足少陰腎經之圖</a></p>
<h3>足少陰腎經歌</h3>
<p>足少陰腎之經足走腹而腹走胸是經多氣少血起於涌泉止於俞府計二十七穴左右共五十四穴腎有兩枚狀如石卯色黑紫當胃下兩旁入脊膂附脊之第十四椎前後與臍平足少陰經起足心靈樞第十篇云足少陰之脈起於小指之下斜趣足心○滑氏曰趣向也足少陰起小指之下斜向足心涌泉然谷太谿深別入跟中大鐘穴照海須從內踝尋水泉之穴循踝內行上厥陰太陽外復溜相連交信來少陰之前太陰背踝上三寸三陰交內循上腕築賓高出　內廉至陰谷大小筋內尋其凹靈樞第十篇云出然谷之下循內踝之後別入跟中上　內出　內廉○滑氏曰跟足跟也由涌泉轉出足內踝然谷穴下循內踝後太谿穴別人跟中之太鐘照海水泉乃折自太鐘之外上循內踝行厥陰太陰之後經復溜交信過三陰交上　內循築賓出　內廉抵陰谷也○三陰交見足太陰足三陰經之交會也涌泉　在足心宛宛中屈足卷指取之然谷　在足內踝前起大骨下陷中太谿　在足內踝後跟骨上動脈陷中太鐘　在足跟後沖中少陰之絡別走太陽照海　在足內踝下陰蹺脈之所生水泉　在內踝下太谿下一寸少陰之復溜　在內踝上二寸動脈陷中交信　在足內踝上二寸少陰前太陰後廉前筋骨間築賓　在內踝上　分中陰谷　在膝內輔骨後大筋下小筋上動脈按之應手屈膝乃得之上股後廉長強位督脈絡繞在脊　足少陰連足少陽卻循橫骨沿毛際大赫血氣四滿外中注之上肓俞分平臍左右各寸半會屬循臍腎命門下騰關元會中極乃足三陰共任脈絡繞膀胱屬腎經靈樞第十篇云上股內後廉貫脊屬腎絡膀胱○滑氏曰由陰谷上股內後廉貫脊會於脊之長強穴還出於前循橫骨大赫氣穴四滿中注肓俞當肓俞之所臍之左右屬腎下臍下過關元中極而絡膀胱也○長強見督脈足少陰少陽所結會督脈別絡也關元中極並見任脈足三陰任脈之會橫骨　在大赫下一寸肓俞下五寸千金云大赫　在氣穴下一寸或取肓俞下四寸氣穴　在四滿下一寸或取肓俞下三寸衝脈之會一名胞門一名子戶四滿　在中注下一寸氣海旁一寸或取肓俞下二寸中注　在一寸衝脈之會肓俞　在商曲下一寸去臍旁五分衝脈之會○橫骨至肓俞去中行各一寸五分其支再從肓俞出上臍商曲石關騰一寸陰都通谷行貫穿肝部幽門過巨闕旁廂各五分上膈斜經步廊穴一寸六分要分別神封向上是靈墟仰取神藏　中接更有俞府在胸堂正在璇璣二寸旁從前循向人迎去上項沿喉舌本藏靈樞第十篇云其直者從腎上貫肝膈入肺中循喉嚨挾舌本○滑氏曰其直行者從肓俞屬腎處上行循商曲石關陰都通谷諸穴貫肝上循幽門上膈歷步廊入肺中循神封靈墟神藏或中俞府而上循喉嚨並人迎挾舌本而終也○人迎見足陽明經商曲　取幽門下四寸肓俞上一寸衝脈之會石關　在陰都下一寸衝脈之會陰都　在通谷下一寸衝脈之會通谷　在幽門下一寸衝脈之會○自商曲至通谷去腹中行各五分幽門　挾巨闕旁各五分　見上門衝脈之會步廊　在神封下一寸六分陷中或取俞府下八寸神封　在靈墟下一寸六分陷中或取俞府下六寸四分靈墟　在神藏下一寸六分陷中或取俞府下四寸八分神藏　在或中下一寸六分陷中或取俞府下三寸二分中　在俞府下一寸六分陷中　自步廊至去胸中行各二寸並仰而取之俞府　在巨骨下璇璣旁支經橫自神藏發絡心正向膻中治膻中兩乳直胸中交手厥陰心包絡靈樞第十篇云其支者從肺出絡心注胸中○滑氏曰兩乳間為胸中支者自神藏別出繞心注胸之膻中以交於手厥陰也</p>
<p><u>總歌曰</u></p>
<p>腎經足底斜循踝出　還從股後逢貫脊絡腸方屬腎上行俠舌散胸中愚按足少陰腎之脈起於小指之下斜趣足心終於胸中俞府　其支別者復自神藏　橫出繞心注膻中交於手厥陰心包絡經故手厥陰之脈起於胸中出脅下腋三寸天池穴也</p>
<p><u>穴歌曰</u></p>
<p>足少陰經二十七涌泉然谷太谿溢太鐘照海通水泉復溜交信築賓連陰谷橫骨大赫赫氣穴四滿中注立肓俞商曲石關樽接都通谷幽門僻步廊神封靈墟位神藏　中俞府既</p>
<p><u>是動所生歌曰</u></p>
<p>是經多氣而少血是動病飢不欲食喘嗽唾血喉中鳴坐而欲起面如漆目視KT　KT　氣不足心懸如飢常惕惕所生病者為舌乾口熱咽痛氣賁逼股內後廉並脊痛心腸煩痛疸而　痿厥嗜臥體怠惰足下熱靈樞第十篇云是動則病飢不欲食面如漆柴咳唾則有血喝喝而喘坐而欲起目KT　KT　如無所見心如懸若飢狀氣不足則善恐心惕惕　如人將補之是為骨厥是主腎所生病者口熱舌乾咽腫上氣嗌干及痛煩心心痛黃膽腸　脊股內後廉痛痿厥嗜臥足下熱而痛為此諸病盛則瀉之虛則補之熱則疾之寒則留之陷下則灸之不盛不虛以經取之灸則強食生肉緩帶被發大杖重履而步盛者寸口大再倍於人迎虛者寸口反小於人迎也○滑氏面下有黑字漆柴易地色二字為字易謂字　作癖字脊下有臀字</p>
<h3>手厥陰心包經之圖</h3>
<p><a href="_files/p06-d34a11.bmp">手厥陰心包經之圖</a></p>
<h3>手厥陰心包絡經歌</h3>
<p>手厥陰心包絡之經腦走腋而腋走手是經多血少氣起於天池止於中衝計九穴左右共一十八穴心包一名手心主以藏象校之在心下橫膜之上堅膜之下與橫膜相黏而黃脂漫裹者心也其漫脂之外有細筋膜如絲與心肺相連者心包也或問手厥陰經曰心主又曰心包絡何也曰君火以名相火以位手厥陰代君大行事以用而言故曰手心主以經而言則曰心包絡一經面二名實相火也心主心包手厥陰如絲箸膜肺連心脈從胸中心包會下膈三焦臍下停靈樞第十篇云手厥陰之脈起於胸中出屬心包下膈歷絡三焦○滑氏曰手厥陰受足少陰之交起於胸中出屬心包由是下膈歷絡於三焦之上脘中脘及臍下一寸下焦之分也其支又自心包走橫出循胸來乳後一寸天池厥肋間循腋天泉循　肘前行尺澤肘紋空靈樞第十篇云其交者循胸出脅下腋三寸上抵腋下下循　內行太陰少陰之間入肘中○滑氏曰脅上際為腋自屬心包上循胸出脅下腋三寸天池穴上行抵腋下下循　內之天泉穴介乎太陰少陰兩經之中間入肘中之曲澤也天池　在乳後一寸腋下三寸著脅直腋撅肋間足少陽之會天泉　在曲腋下去臂二寸舉臂取之曲澤　在肘內廉下陷中屈肘取之直行下臂兩筋中　門間使內關去大陵自掌來勞宮惟有中衝在中指靈樞第十篇云下臂行兩筋之間入掌中循中指出其端○滑氏曰由肘中下臂行臂兩筋之間循　門間使內關大陵入掌中勞宮穴循中指出其端之中衝去門　在掌後去腕寸厥陰之間使　在掌後三寸兩筋間陷中內關　在掌後去腕二寸或取惠人三指橫加掌後腕上以中指之下當中兩筋間陷中大陵　在掌後兩筋間陷中勞宮　在掌中央動脈中屈無名指取之厥陰少陽絡穴也中衝　在手中指端去爪甲如韭葉其支別自勞宮起出掌循行次指端交手少陽三焦位靈樞第十篇云其支別者從掌中循小指次指出其端○滑氏曰小指次指無名指也自小指逆數之則為次指云支別者自掌中勞宮定別行循小指次指出其端而交於手少陽也</p>
<p><u>總歌曰</u></p>
<p>氣自胸中何所注心包由始對三焦其注入中衝入指標愚按手厥陰心包絡之脈起於胸中終於手中指中行穴其支別者復自掌中勞宮穴別行循小指之表端長三尺交於手少陽三焦經故手少陽之脈起於手小指次指之表端關衝穴始也</p>
<p><u>穴歌曰</u></p>
<p>九穴心包手厥陰天池天泉曲澤深　門門使內關去大陵勞宮中衝臨</p>
<p><u>是動所生歌曰</u></p>
<p>是經少氣原多血是動則病手心熱肘臂攣急腋下腫甚則胸脅支滿結心中澹澹或大動善笑目黃面赤色所生病者為煩心心痛掌中熱即生靈樞第十篇云是動則病手心熱臂肘攣急腋腫甚則胸脅支滿心中澹澹大動面赤目黃喜笑不休是生脈所生病者煩心心痛掌中熱為此諸病盛則瀉之虛則補之熱則疾之寒則留之陷下則灸之不盛不虛以經取之盛者寸口大一倍於人迎虛者寸口反小於人迎也</p>
<p><u>音釋</u></p>
<p>撅（居越反）</p>
<h3>手少陽三焦經之圖</h3>
<p><a href="_files/p06-d34a12.bmp">手少陽三焦經之圖</a></p>
<h3>手少陽三焦經</h3>
<p>手少陽三焦之經手走肩而肩走是經多氣少血起於關衝止於絲竹空計二十三穴左右共四十六穴三焦者水穀之道路氣之所終始也上焦在心下下膈在胃上口其治在膻中直兩乳間陷者中中焦在胃中脘當臍上四寸不上不下其治在臍旁下焦當膀胱上口其治在臍下一寸手少陽經三焦儔關衝液門中渚流陽池上臂外關透別走心主名支溝會宗空處三陽絡四瀆肘前天靈樞第十篇云手少陽之脈起於小指次指之端上出兩指之間循手表腕出臂外兩骨之間上貫肘滑氏兩指作次指○滑氏曰臂骨盡處為腕　盡處為肘手少陽起小指次指端關衝穴上出次指之間歷液門中渚循手表腕之陽池出臂外兩骨之間循外關支溝會宗三陽絡四瀆乃上貫肘抵天井穴也關衝　在手表小指次指之端去爪甲如韭葉液門　在手表小指次指間陷中中渚　在手表小指次指本節後間陷中陽池　在手表腕上陷中禁灸外關　在手表腕後二寸陷中少陽之絡別走手心主支溝　在手表腕後三寸兩骨間陷中會宗　在手表腕後三寸空中一寸三陽絡　在臂上大交脈支溝上一寸四瀆　在肘前五寸外廉陷中天井　在肘外或大骨後上一寸兩筋間陷中屈肘取或義手按膝頭取之兩筋骨罅上　外清冷淵肩肘腋斜是消濼上肩　會共肩　更有天　毖骨高秉風手足三陽後肩井橫量三指滔陽維手足少陽會竟入缺盆膻中去散走絡繞心包行遍屬三焦石門募靈樞第十篇云循　外上肩而交出足少陽之後入缺盆布膻中散絡心包下膈循屬三焦○滑氏肩下無而字布字作交字循字作遍字○滑氏曰肩肘之間膊下對腕處為　從天井上行循臂　之外歷清冷淵消濼行手太陽之裡陽明之外上肩循　會肩　天　交出足少陽之後過秉風肩井下入缺盆復由足陽明之外而交會於膻中散布絡繞於心包乃下膈當胃上口以屬上焦於中腕以屬中焦於陰交以屬下焦也○秉風見手太陽經手足少陽手太陽陽明之會肩井見足少陽經手足少陽陽維之會缺盆足陽明經穴膻中見任脈心包相火用事之分也中脘陰交見任脈三焦之募任脈氣所發也清冷淵　在肘上二寸伸肘舉臂取之消濼　在肩下臂外腋斜肘分下行手太陽脈之裡陽明脈之外會　在肩前廉去肩頭三寸手陽明之絡肩　在肩端　上陷中舉臂取之天　在肩缺盆中上毖骨之際陷中央手少陽之絡陽維之會其支又自膻中移缺盆上項來大椎手足三陽督脈會橫循天牖經懸厘頷厭手足少陽會翳風　脈斜行耳顱息青筋上角孫陽白睛明歸囟　手足太陽與少陽陽明五脈會晴旁回循下額至於　顴　兌骨陷中藏靈樞第十篇云其支者從膻中上出缺盆上項系耳後直上出耳上角以屈下頰至　○滑氏系字作挾字○滑氏曰腦戶後為項目下為　其支者從膻中而上出缺盆之外上項過大椎循天牖上挾耳後經翳風　脈顱息直上出耳上角至角孫過懸厘頷厭及過陽白晴明屈曲下頰至　會顴　之分也○大椎見督脈手足三陽督脈之會懸厘頷厭見足少陽經手足陽明少陽之交會也陽白見足少陽經手足陽明少陽之會晴明見足太陽經顴　見手太陽經手少陽太陽之會也天牖　在頸大筋外缺盆上天窗後天柱前完骨下發際上天窗資生經作天容翳風　在耳後尖角陷中按之引耳中痛手足少陽之會脈　在耳本後雞足青絡中　在耳後青脈中角孫　在耳郭中間上問口有空手足少陽之會其支別從耳後起再自翳風穿入耳聽宮即是耳中珠二陽少陽三脈聚耳門缺當和　親瞳子　懸皆五分絲竹空居眉後陷交足少陽之膽經靈樞第十篇云其支者從耳後入耳中出走耳前過客主人前交頰至目銳　○滑氏入耳中中字下有卻字無走耳前過客主人前交頰十字目銳　目外　也○滑氏曰此支從耳後翳風穴入耳中過聽宮歷耳門和　卻出至目銳　會瞳子　循絲竹空而交於足少陽也○聽宮見手太陽經手足少陽手太陽三脈之會瞳子　見足少陽經手太陽手足少陽之會耳門　在耳前起肉當耳缺中和　在耳前兌發下橫動脈絲竹空　一名目　在眉後陷中</p>
<p><u>總歌曰</u></p>
<p>關衝流注方循腕過肘交肩下缺盆散絡心包還上項至於銳　卻歸源愚按手少陽三焦之脈起於手小指次指之表端終於眉後陷中絲竹空其支別者復自和　別行至目銳　長五尺交於足少陽膽經故足少陽脈起於目銳　瞳子　穴始也</p>
<p><u>穴歌曰</u></p>
<p>手中少陽是三焦關衝液門中渚朝陽池外關支溝引會宗三陽四瀆豪天井清冷淵消濼　會肩　天各天牖翳風　脈連顱息角孫耳門樂和　絲竹空共全二十三穴並無錯</p>
<p><u>是動所生歌曰</u></p>
<p>是經少血還多氣是動耳鳴喉腫痹所生病者汗自出耳後痛兼目銳　肩　肘臂外　疼小指次指亦如廢靈樞第十篇云是動則病耳聾渾渾　嗌腫喉痹是主氣所生病者汗出目銳　痛頰痛耳後肩　肘臂外皆痛小指次指不用為此諸病盛則瀉之虛則補之熱則疾之寒則留之陷下則灸之不盛不虛以經取之盛者人迎大一倍於寸口虛者人迎反小於寸口也</p>
<p><u>音釋</u></p>
<p>濼　毖　厘　頷</p>
<h3>足少陽膽經之圖</h3>
<p><a href="_files/p06-d34a13.bmp">足少陽膽經之圖</a></p>
<h3>足少陽膽經歌</h3>
<p>（首頁佚）</p>
<p>瞳子　在目外五分手太陽之會聽會　在耳前陷中上關下一寸動脈宛宛中張口得之客主人　耳前起骨上廉開口有空動脈宛宛中側臥張口取足陽明會一名上關某針頷厭　在曲周下腦空上廉手足少陽陽明之交會懸顱　在曲周上腦空中懸厘　在曲周上腦空下廉手足少陽陽明之交會曲鬢　取耳上將耳掩前對耳尖發際曲曲陷中鼓頷有空足太陽之會率谷　在耳上如前三分入發際一寸五分陷者宛宛中嚼而取之足太陽之會天沖　在耳上如前三分耳後發際二寸浮白　在耳後入發際一寸足太陽之會竅陰　在完骨上枕骨下搖動有空足太陽之會完骨　在耳後入發際四分本神　在曲差旁一寸五分耳上入發際四分陽維之會陽白　在眉上一寸直目瞳子陽維之會臨泣　在眉上直入發際五分陷中直目瞳子足太陽之會目窗　在臨泣後一寸或取眉上入發際一寸五分直目瞳子陽維之會正營　在目窗後一寸或取眉上入發際二寸五分直目瞳子陽維之會承靈　在正營後一寸五分或取眉上入發際四寸夾玉枕骨上陽維之會腦空　在承靈後一寸五分夾玉枕骨下陷中陽維之會風池　在腦空後發際陷中夾風府兩旁陽維之會循頸行來至天牖還從肩井穴中過手足陽明少陽後大椎手足三陽督大迎太陽少陽足秉風手足四陽交前項缺盆下胸腹靈樞第十篇云循頸行手少陽之前至肩上卻交手手少陽之後入缺盆○滑氏交出下無手字○滑氏曰自風池循頸過天牖穴行手少陽脈之前下至肩上循肩井卻左右相交出手少陽之後過大椎大杼秉風當秉風前入缺盆之外○天牖見手少陽經大椎見督脈手足三陽督脈之會大杼見足太陽經足太陽少陽之會秉風見手太陽經手太陽陽明手足少陽之會缺盆見足陽明經肩井　在肩上陷中缺盆上大骨前一寸五分三指按取中指下陷中手中少陽陽維之會其支別向耳之中穴自懸厘過翳風循出聽宮並聽會瞳　銳　後方終靈樞第十篇云其支者從耳後入耳中出走耳前至目銳　後○滑氏曰其支者從耳後顳　間過翳風之分入耳中過聽宮出走耳前復自聽會至目銳　瞳子　之分也○翳風見手少陽經手足少陽之會聽宮見手太陽經手足少陽太陽三脈之會聽會瞳子　見前別支再起銳　側大迎顴　頰車驀下頰循還本路前以合缺盆下胸臆天池貫膈自期門足太陰經會厥陰就屬膽募到日月太陽少陽陽維臨靈樞第十篇云其支者別銳　下大迎合於手少陽抵於　下加頰車下頸合缺盆以下胸中貫膈絡肝屬膽○滑氏其支者別別下有目字大迎合合下無於字手少陽陽下無抵於二字合缺盆盆下無以字○滑氏曰其支者別自目外瞳子　而下大迎合干少陽於　當顴　穴之分下臨頰車下頸循本經之前與前之入缺盆者相合下胸中天池之外貫膈即期門之所絡肝下至日月之分屬於膽也○大迎見足陽明經顴　頰車見手太陽經天池見手心主手厥陰足少陽之會期門見足厥陰日月見下文膽之募也循脅章門氣衝出繞毛髀厭環跳入靈樞第十篇云循脅裡出氣衝繞毛際橫入髀厭中○滑氏曰脅怯也腋下為脅曲骨之分為毛際毛際兩旁動脈中為氣衝捷骨之下為髀厭即髀樞也自屬膽處循脅內章門之裡出氣衝繞毛際遂橫入髀厭中厭中之環跳也○章門見足厥陰經足少陽厥陰之會氣衝見足陽明經環跳在髀樞中其直依然自缺盆下腋循胸至淵腋輒筋日月至章門季脅還從帶脈行更有五樞維道穴居　卻與上分中　夾脊長強　足少陰陽相結會合於環跳髀樞中太陽經內陽明外中瀆陽關犢鼻偏出行膝靈樞第十篇云其直者從缺盆下腋循胸過季脅下合髀厭中以下循髀陽出膝外廉○滑氏曰脅骨之下為季脅此直者從缺盆直下腋循胸歷淵腋輒筋日月穴過季脅循京門帶脈五樞維道居　由居入上　中　長強而下與前之入髀厭者相合乃下循髀外行太陽陽明之間歷中瀆陽關出膝外廉抵陽陵泉也○上　中　並見足太陽經上　為足少陽太陽之絡中　則足少陰少陽所結之會也長強見督脈足少陰少陽所結之會犢鼻見足陽明經淵腋　在腋下三寸宛宛中舉臂取之禁灸輒筋　在腋下三寸腹前一寸著脅陷中日月　在期門五分足太陽陽維之會膽之募也京門　在臨骨下腰中季肋本夾脊腎之募也帶脈　在季肋下一寸八分五樞　在帶脈下三寸或云水道旁一寸五分維道　在章門下五寸三分帶脈之會居　在章門下八寸三分監骨上陷中陽蹺之會環跳　在髀樞中側臥伸下足屈上足取硯子骨宛宛中中瀆　在髀骨外膝上五寸分肉間陷中少陽之絡陽關　在陽陵泉上三寸犢鼻外陷中禁灸○犢鼻見足陽明經陽陵泉　在膝下一寸外廉陷中蹲地取尖骨前乃筋之會下循陽交外丘穴光明陽輔骨如前經行懸中來髁內丘虛臨泣地五會俠谿岐骨竅陰中靈樞第十篇云下外輔骨之前直下抵絕骨之端下出外踝之前循足跗上入小指次指之間○滑氏曰外為輔骨外踝以上為絕骨足面為跗自陽陵泉下外輔骨前歷陽交外丘光明直下抵絕骨之端循陽輔懸鐘而下出外踝之前至丘墟循足面之臨泣地五會俠谿乃上入小指次指之間至竅陰而終也陽交　在足外踝上七寸斜屬二陽分肉之間陽維之外丘　在足外踝上七寸光明　在足外踝上五寸少陽絡別走厥陰陽輔　在足外踝上四寸輔骨前絕骨端如前三分去丘墟七寸懸鐘丘墟　在足外踝下如前陷中去臨泣三寸臨泣　在足小指次指本節後間陷中去俠谿一寸五分禁灸地五會　在足小指次指本節後陷中去俠谿一寸俠谿　在足小指次指岐骨間本節後陷中竅陰　在足小指次指之端去爪甲如韭葉當有別支臨泣遞沿跌橫入岐骨間貫甲三毛大指端其名只是大敦穴交足厥陰經屬肝第十篇云其支者別跗上入大指循岐骨內出其端還貫入爪甲出三毛○滑氏曰足大指本節後為岐骨大指爪甲後為三毛其支者自足跗上臨泣穴別行入大指循岐骨內出大指端還其入爪甲出</p>
<p><u>總歌曰</u></p>
<p>銳　交巔行耳後缺盆假道絡於肝下循髀厭方流膝更過三毛出指端愚按足少陽膽之脈起於目銳皆瞳子　終於足小指次指之端竅陰穴也其支別者復自跗上臨泣穴別行足大指之端長八尺交於足厥陰肝經故足厥陰之脈起於足大指端三毛中大敦穴始也</p>
<p><u>穴歌曰</u></p>
<p>少陽足經瞳子　四十三穴行迢迢聽會客主頷厭集懸顱懸厘曲鬢翹率谷天沖浮白次竅陰完骨本神企陽白臨泣開目窗正營承靈腦空繼風池肩並淵液長輒筋日月京門當帶脈五樞維道續居　環跳下中瀆陽關陽陵復陽交外丘光明陽輔高懸鐘丘墟足臨泣地五俠谿竅陰畢此經前圖內頭部自瞳子　至風池凡二十穴作三折向外而行始瞳子　至完骨是一折又自完骨外折上至陽白會睛明是一折又是睛明上行循臨泣風池是一折綠其穴曲折外多難為科牽故此作一至二十次第以該之一瞳子　二聽會三客主人四頷厭五懸顱六懸厘七曲鬢八率谷九天沖十浮白十一竅陰十二完骨十三本神十四陽白十五臨泣十六目窗十七正營十八承靈十九腦空二十風</p>
<p><u>是動所生歌曰</u></p>
<p>此經多氣及少血是動口若善太息心脅疼痛難轉移面塵足熱體無澤所生頭痛連銳　缺盆腫痛並兩腋馬力挾癭生兩旁汗出振寒　瘧疾胸脅髀膝至　骨絕骨踝痛及諸節靈樞第十篇云是動則病口若善太息心脅痛不能轉側甚則面微塵體無膏澤足外反熱是為陽厥是是骨所生病者頭痛頷痛目銳　痛缺盆中腫痛腋下腫馬刀挾癭汗出振寒瘧胸脅肋髀膝外至脛絕骨外踝前及諸節皆痛小指次指不用為此諸病盛則瀉之虛則補之熱則疾之寒則留之陷下則灸之不盛不虛以經取之盛者人迎大一倍於寸口虛者人迎反小於寸口也○滑氏面微下無有字腋下腫腫作　字</p>
<h3>足厥陰肝經之圖</h3>
<p><a href="_files/p06-d34a14.bmp">足厥陰肝經之圖</a></p>
<h3>足厥陰肝經歌</h3>
<p>足厥陰肝之經足走腹而腹走目是經多血少氣起於大敦止於期門計一十三穴左右共二十六穴肝之為藏左三葉右四葉凡七葉其治在足厥陰經起聚毛大敦行間大衝超中封內踝前半寸靈樞第十篇云足厥陰之脈起於大指聚毛之際上循足跗上廉去內踝一寸○滑氏曰足大指爪甲後為三毛三毛後橫文為聚毛去相去也足厥陰起於大指聚毛之大敦穴循足跗上廉歷行間大衝抵大敦　在足大指端去爪甲如韭葉及三毛中行間　在足大指間動脈應手陷中大衝　在足大指本節後三寸或云一寸五分許骨罅陷中動脈應手中封　取足內踝前一寸斜行陷中仰而取之使逆則宛使和則通搖足而得之上踝三寸三陰交蠡溝中都　骨裡八寸交出太陽際膝關眼內來曲泉靈樞第十篇云上踝八寸交出太陰之後上　內廉○滑氏曰自中封上踝過三陰交歷蠡溝中都復上一寸交出太陰之後上　內廉至膝關曲泉○三陰交見足太陰經足少陰太陰厥陰之交會也蠡溝　在內踝上五寸厥陰之絡中都　在內踝上七寸　骨中與少陰相直膝關　在犢鼻下二寸陷中犢鼻見足陽明經曲泉　在膝內輔骨下大筋上小筋下陷中屈膝得之在膝橫文頭是循股陰包經五裡陰廉動脈至衝門府舍循行繞陰器小腹上來曲骨端舉經相會脈HT　仕中極三陽任脈部上自關元應過腹章門臍直季脅端直入期門屬肝募繞膽循募依日月靈樞第十篇云循股陰入毛中過陰器抵小腹抉胃屬肝絡膽○滑氏作循股入陰中環陰器○滑氏曰髀內為股臍下為小腹由曲泉上行循股內之陰包五裡陰廉遂當衛門府舍之分入陰毛中左右相交環繞陰器抵小腹而上會曲骨中極關元筱循章門至期門之所挾胃屬肝下日月之分絡於膽也○衝門府舍見廷太陰曲骨見任脈足厥陰任脈之會中極關元見任脈足三陰任脈之會也日月見足少陽經陰包　在膝上四寸股內廉兩筋間足厥陰別走五裡　在氣衝下三寸陰股中動脈陰廉　在羊矢下去氣衝二寸動脈中章門　大橫外側臥屈上足伸下足舉臂取或臍上二寸兩旁各四寸半少陽會脾募藏會期門　取巨闕兩旁各四寸半直乳下寸半第二肋端動脈足厥陰太陰陰維之會肝募也貫穿胸膈食竇穴淵腋三寸是大包三寸裡間是布脅云門直入至人迎扶結喉旁寸五分喉升升入是頏顙大迎骨陷地倉行四白陽白上眉去瞳子　旁連目系出額臨泣發五分督脈相連逢百會靈樞第十篇云上貫膈布脅肋循喉嚨之後上入頏顙連目系上出額與督脈會於巔○滑氏曰目內連深處為目系頏顙咽顙也自期門上貫膈行食竇之外大包之裡散布脅肋上云門淵腋之間人迎之外循喉嚨之後上入頏顙行大迎地倉四白陽白之外連目系上出額行臨泣之裡與督脈相會於巔頂之百會也○食竇大包足太陰經穴云門見手太陰經淵腋見足少陽經人迎大迎地倉四白見足陽明經陽白臨泣見足少陽經百會見督脈復從目系頰還唇靈樞第十篇云其支者從目系下頰裡環唇內○滑氏曰前此連目系上出額此支從目系下行任脈之外本經之裡下頰裡交環於口唇之內別支貫膈自期門食竇外廂本經去交手太陰之肺經靈樞第十篇云其支者復從肝別貫膈上注肺○滑氏曰此交經之支從期門屬肝處別貫膈行食竇之外本經之裡上注肺中下行至中焦挾中脘之分以交於手太陰也○食竇見足太陰經中脘見任脈</p>
<p><u>總歌曰</u></p>
<p>大敦上踝方交　入股還陰不到腰抵腸屬肝方絡膽從肝貫膈復中焦愚按足厥陰肝之脈起於足大指聚毛之上循足跗上行與督脈會於巔其支者從期門注肺行中焦之分長六尺五寸交於手太陰肺經故手太陰之脈起於中焦中府穴始也</p>
<p><u>穴歌曰</u></p>
<p>足中厥陰肝經是大敦行間太衝始中封蠡溝中都傳膝關曲泉陰包裡五裡陰廉至章門相將直到期門止</p>
<p><u>是動所生歌曰</u></p>
<p>此經血多氣少焉是動腰疼俯仰難男疝女人少腹腫面塵晚色及咽乾所生病者為胸滿嘔逆洞泄小便艱或時遺溺並狐疝臨症還須仔細看靈樞第十篇云是動則病腰痛不可以俯仰丈夫　疝婦人小腹腫甚則嗌干面塵晚色是主肝所生病者胸滿嘔逆飧泄狐疝遺溺癃閉為此諸病盛則瀉之虛則補之熱則疾之寒則留之陷下則灸之不盛不虛以經取之盛者寸口大一倍於人迎虛者寸口反小於人迎也</p>
<p><u>音釋</u></p>
<p>蠡　HT　頏　顙　俯</p>
<h3>督脈之圖</h3>
<p><a href="_files/p06-d34a15.bmp">督脈之圖</a></p>
<h3>任脈之圖</h3>
<p><a href="_files/p06-d34a16.bmp">任脈之圖</a></p>
