<header><h1>急救良方</h1></header>
<dl class="元資料" data-type="book" hidden></dl>
<h2>序</h2>
<p>古有疾醫掌養萬民之疾病，凡民之有疾病者，分而治之。死終，則各書其所以，而入於醫師。於時，民故得以壽終，而無短折札瘥之患。後世王政多缺，而醫師之置徒備虛文。廛市之氓，富羨之室，猶能自以其貲迎師，而荒村窶戶否矣！扣首抑心，閔閔待斃，此一患也；草木禽魚之物，五石之藥，多聚於國都，而陬窮壤僻之所，即有高貲，亦不能致錙銖，此又一患也；時師　HT　,恆以反劑殺人，而茹悲吞螫，不敢訟言其非，此又一患也。予蓋惻然傷之。曩得急救方一本，每攜以自隨，或以自治，或以治人，率多征應，間有新得，輒從其類附益之。其訛舛無驗者，則刪黜之，遂付梓人刻焉。夫人之情一也，孰不愛其身，亦孰不愛其父母骨肉乎！而疾苦無所舒，往往束手以斃，不得已或竭力於禱HT　機禳，至蕩貲破產，而卒莫攸濟也。此其於仁孝之心何如哉！是方而行，庶幾濟於黔細萬分之一，要非所以荐於隆富者乎。</p>
<p><u>皇明嘉靖二十九年歲次庚戌夏六月望四明芝園主人張時徹著</u></p>
<h2>卷之一</h2>
<h3>五絕死第一</h3>
<p>治五絕死（自縊死、溺水死、打撲跌　、木石壓死、產後血迷暈死、中惡鬼擊死、夜魘死）。凡心頭溫者，皆可救治。用半夏湯泡七次，為末，丸如豆大，吹入鼻中，噴嚏即活。或用皂莢為末，吹入鼻中亦妙。</p>
<p>又方　急於人中穴及兩腳尖拇指甲離甲一韭葉許，各灸三五壯，即活。臍中灸百壯，亦效。</p>
<p>救自縊　凡自縊高懸者，徐徐抱住，解繩，不得截斷，上下安被臥之。以一人用腳踏其兩肩，手挽其發，常令弦急，勿使緩縱；一人以手按據胸上，數磨動之；一人摩捋臂脛屈伸之，若已強直，但漸屈之。並按其腹。如此一頃，雖得氣從口出，呼吸眼開，仍引按不住。須臾，以少桂湯及粥清灌，令喉潤，漸漸能咽乃止。更令兩人以蘆管吹其兩耳，無不活者。自旦至暮，雖冷亦可救；自暮至旦，陰氣盛為難救爾。</p>
<p>又法　以一人兩手掩其口鼻，勿令透氣，一人用手摩其頸痕，兩時氣急，則活。</p>
<p>救溺水死一宿者尚活　用皂莢為末、綿裹塞糞門，須臾，出水即活。</p>
<p>又方　救起放大凳臥著，腳後凳，坫起磚二塊。卻用鹽擦臍中，待水自流出。切不可倒提出水。但心下溫者皆可救。</p>
<p>又方　急解衣帶，艾灸臍中，仍令兩人以蘆管吹其耳中，即活。</p>
<p>又方　溺水救起者，即將牛一頭，以溺水人肚橫覆在牛背上，兩邊用人扶策，徐徐牽牛而行，以出腹中之水。如醒，以蘇合香丸之類或老薑擦牙。若無牛，以活人於長板凳上仰臥，即令溺水人如前法將肚相抵活人身上，水出即活。</p>
<p>救木石壓死，並跌　傷從高墜下跌死，氣絕不能言者急拍開口，以熱小便灌之。</p>
<p>又方　撲打墜損，惡血攻心，悶亂疼痛　用干荷葉五片，燒令煙盡，空腹以童便溫一鐘，調下三錢，日三服。</p>
<p>又方　被打惡血攻心，用小便一碗溫服。</p>
<p>救中惡鬼擊客忤一切卒死　用葛蒲根，生搗絞汁，灌鼻中或口中即活。</p>
<p>又方　治卒死心頭熱者　用百草花晒乾，水漬封埋百日。砂鍋內連水煎稠，丸如皂莢子大。放一丸入患人口內，須臾即活。</p>
<p>又方　用井底泥塗目畢，令人垂頭於井，呼其姓名便起。</p>
<p>又方　韭搗汁，灌鼻中。</p>
<p>又方　以雄雞冠割取血，蘆管吹入鼻中，並塗其面，干後復塗，仍以灰圍四旁，立起。</p>
<p>又方　治鬼擊病卒著人，如刀刺胸腹內，痛不可按　熟艾水煮服。若卒心痛，為客氣所中者，當吐出蟲物。</p>
<p>又方　卒死而口張反折者　灸兩手足大指甲後，各十四壯。</p>
<p>又方　卒死四肢不收失便者　用馬糞一升，水三斗，煮取汁二斗，以洗之。又取牛糞一升，溫酒和灌口中。灸心下一寸、臍上二寸、臍下四寸，各一百壯。</p>
<p>又方　卒死脈動而無氣　用菖蒲屑末，納耳鼻孔中吹之，及著舌底。</p>
<p>又方　治胸脅腹內絞急切痛，如鬼擊之狀，不可按摩，或吐血、衄血　用熟艾如拳大，水五鐘，煮三鐘，頻服。</p>
<p>又方　用鹽一盞，水二盞，和服。以冷水　之，即瘥。</p>
<p>治魘寐卒死，諸暴絕證，名半夏散　用半夏不拘多少，湯洗七次，為末。每用少許，吹入鼻中。心頭溫者可治。倉卒無藥，急於人中穴及兩腳大拇指內，離甲一韭葉許，各灸三五壯，即活。</p>
<p>又方　救夜睡魘死者　不得近前叫喚。但絞痛其腳跟及足拇指甲際，多唾其面。不省者，移動些少臥處，徐徐喚之。原有燈則存，無燈切不可點照。</p>
<p>又方　用皂莢為末，吹入鼻中。</p>
<p>又方　用桃枝、柳枝，取東邊者各三四寸，煎湯二鐘，候溫灌服。</p>
<p>又方　用灶中心對鍋底土，捶碎為末，每服二錢，新汲水調灌。更挑半指甲許，吹入鼻中。</p>
<p>又方　用蘆管吹兩耳，或以鹽湯灌之，或搗韭汁半盞，灌鼻中。冬月掘根研汁。</p>
<p>救夏月途中熱死者　不可用冷水灌沃，及以冷物逼外，得冷即死。宜移置陰處，急取路上熱土，於死人臍作窩，多令人尿溺於臍中。又取路上熱土並大蒜同研爛，水調去渣灌下。</p>
<p>又方　濃煎灰蓼汁一碗，灌之即活。</p>
<p>救冬月凍死及落水凍死，微有氣者　脫去濕衣，解活人熱衣包之。用大米炒熱，熨心上。或炒灶灰令熱，以囊盛熨心上，冷即換之。令暖氣通溫，以熱酒薑湯或粥飲少許灌之，即活。</p>
<p>又方　用氈單或　荐裹之，以索系定板平穩處，令兩人對面輕輕滾轉，往來如　氈法，四肢溫和即活。切不可用火烘之，逼寒氣入內，即死。</p>
<h3>虛勞第二</h3>
<p>治虛勞　用豬肚子釀黃糯米，蒸熟搗為丸，白湯下。並治小兒疳蛔黃病。</p>
<p>又方　用青蒿細切，水三碗，童便五碗，煎取一碗半，去渣，熬成膏，以甘草末為丸，如梧桐子大。空心溫酒吞二十丸。</p>
<p>又方　用枸杞葉半升，細切，粳米二合，瓦器中煮作粥，五味調和食之。</p>
<p>又方　用蓮實去皮留心，不拘多少，酒浸一宿，入於豬肚內，水煮干取出，切碎焙乾，為末，酒糊丸，如雞頭大。</p>
<p>每服五七十丸，溫酒食前服。</p>
<p>又方　用童便兩盞，無灰酒兩盞，以瓦瓶貯之，全豬腰子一對，放在內，用泥泥瓶口，日晚以慢火煨熟，至中夜止。至五更初，再以火溫之，發瓶飲酒食腰子。病篤者，一月效。瘦怯亦可服此。</p>
<p>又方　治骨蒸勞熱，及五痔腸風下血，傳尸勞氣，並蟲咬心痛　用鰻鱺魚，酒醋五味煮食。</p>
<p>治諸傳尸勞氣，殺蟲去毒，用川椒二斤，擇去子並合口者，炒出汗，為末，以酒糊丸，如梧桐子大。空心服五十丸。效。</p>
<p>又方　用死人枕煮汁服之。</p>
<p>治自汗並夜間盜汗　用五倍子末，唾調填滿臍中，束定。一宿即止。</p>
<p>又方　用浮麥炒為細末，每服二錢，米飲下。</p>
<p>又方　用陳米不拘多少，麩皮同炒，令黃色，研細為末，米飲調下，不拘時。或白炸豬肉蘸食之。</p>
<p>治陽脫證，或因大吐瀉後四肢厥冷，元氣不接，不省人事；或傷寒新瘥，誤行房事，小腹緊痛，外腎搐縮，面黑氣喘，冷汗出，不救即死　用蔥白連須三七根，細切，砂盆內研細，用酒二碗，煮至一碗，分作三服灌之。陽氣即回。</p>
<p>又方　用生薑二兩，切碎，酒煎服之。仍炒蔥白或鹽熨臍下氣海，勿令氣冷。</p>
<h3>諸風第三</h3>
<p>治中風心煩恍惚，或腹痛，或絕而復蘇，用灶中對鍋底土一塊，研碎，水調服。口噤者，強開灌之，得入便效。</p>
<p>又方　卒中風不語者　用竹瀝灌之。</p>
<p>又方　用香油或薑汁灌之，或吐或利，即愈。</p>
<p>又方　中風口噤不開，痰涎壅塞　用皂莢一挺，去皮弦，塗豬脂，以火炙黃，為末，每服一錢，氣實盛者二錢，溫酒調服。牙關不開，白梅揩齒，口開即灌藥下，吐出風痰愈。</p>
<p>又方　用白礬二錢，為末，生薑自然汁調灌之。</p>
<p>又方　治中風忽然若醉，形體昏悶，四肢不收，涎潮於上，膈氣閉不通　用豬牙皂莢四條，肥實不蛀者，去黑皮。</p>
<p>白礬一兩，光明者，共為末。輕者半錢，重者七分，溫水灌下。但微出冷涎一二升便醒，次緩調治。</p>
<p>又方　用側柏葉一握，去枝，蔥白一握，連根，細研如泥，無灰酒一鐘，同煎一二十沸，去渣溫服，不拘時。如不飲酒，分作四五次服。</p>
<p>又方　治癱瘓大風、一切諸風，仍治香港腳並　撲傷折及破傷風，服過百粒，即為全人　用紫色浮萍，七月半擇取淨者，不拘多少，以盆盛水，以竹篩盛萍，擱於水盆上晒乾，為細末，煉蜜丸如彈子大。每服一粒，豆淋酒空心，食前化下（造豆淋酒法：用黑豆半升，揀淨炒，令煙出，以無灰酒三升，浸一晝夜，去豆取酒用之，亦可常服）。</p>
<p>又方　治中風，身體強直，不得屈伸反覆　用枸橘樹皮，細切一升，以酒二升，浸一宿，每日溫酒服半升。酒盡再作。</p>
<p>又方　治暗風倒地　用北細辛為末，每挑一字　鼻中。</p>
<p>又方　治中風失音　用白僵蠶七枚，為末。酒調服。</p>
<p>又方　用韭菜搗汁服。</p>
<p>又方　產後中風不語，角弓反張　用大蒜三十片，水一碗，煮半碗，灌下。</p>
<p>治口眼　斜　用栝蔞擂爛，絞取汁，和蕎麥面搗作餅子，炙令熱熨，如正便止，不令大過。</p>
<p>又方　用鱔魚一條，以針刺頭上血，左歪塗右，右歪塗左，如平正，即洗去。鱔魚放之，則不發。</p>
<p>又方　用水調鍛石，如前法塗之。</p>
<p>治白虎風，歷節痛甚，肉理枯虛，生蟲游走，癢痛，兼身體麻木，兼治傳尸勞蟲甚效　用真川椒，紅大者，去子並合口者，以黃稈紙二重，於爐上炒出汗，取頓地上，用砂盆蓋，以灰圍盆弦約一時，為末，老酒浸白糕為糊，丸如梧桐子大。每服四十丸，食前鹽湯下。若治麻木，辣桂煎湯下；腰痛，茴香酒下。</p>
<p>又方　治虎風走注痛痹　用三年陳釅醋二碗，蔥白二斤，煮一沸，漉出，布帛熱裹，當患處熨之。</p>
<p>又方　用芥菜子為末，雞子白調敷患處。</p>
<p>治麻木不知痛癢　用芥菜子研細，醋調塗。</p>
<p>又方　霜降後，采桑葉煎湯洗。</p>
<p>又方　用麻子炒香，小便浸服。</p>
<p>治風濕麻痹，四肢拘攣　用蒼耳子三兩，水一碗半，煎去渣，分作三服。或為細末，糊丸如梧桐子大，每服五十丸，溫酒吞下。</p>
<p>又方　治手足為風濕所傷，兼有香港腳　用晚蠶沙以米醋拌炒，令熱，用綿絮包熨之。</p>
<p>治大風肌肉麻痹，皮膚壞爛　用桑枝燒灰二斗，熱湯淋取汁，洗頭面。次用大豆及綠豆漿和熱水，三日一浴，一日一洗面。卻用側柏葉蒸晒乾，白膠香各等分，為末，蜜丸。溫水下三七粒，日三服。</p>
<p>又方　治大風惡疾，雙目昏，眉發自落，鼻梁崩倒，肌膚瘡爛，若不可救　用皂莢刺三斤，炭火蒸久，晒乾為末，濃煎，大黃湯下，二錢服。旬日間眉發再生，肌膚悅潤，眼目自明。</p>
<p>又方　治大風不拘久近　用真麻油半缸，入坐其中，浸七日，無不瘥者。</p>
<p>又方　大風癩疾　用煉成松香，白色者，不計多少，研為細末，煉蜜和丸，如梧桐子大。每服一十丸，食前蜜湯下，一月後，大效。</p>
<p>治諸風癇，俗呼馬風病　用生白礬一兩，好臘茶半兩，煉蜜為丸，如梧桐子大。每服三十丸，再用臘茶湯下，久服。</p>
<p>風涎由大便出。</p>
<h3>傷寒時疫第四</h3>
<p>治傷寒時疫，及傷風初覺頭痛身熱　用帶根蔥頭一個，切碎，以醋一盞，煎稀粥飲一碗，乘熱吃下，以被蓋，汗出即解。</p>
<p>又方　治傷寒已發汗，未發汗頭痛如破　生薑二兩，連須蔥白半斤，用水二碗，煎令減半，去渣。分三服。</p>
<p>又方　初覺傷寒、傷食、傷酒、傷風　以酸齏汁三大碗，煎三五沸，於避風處，先飲半碗，以手揉肚；再飲半碗，又用手揉肚；更飲更揉，直至饜足，心無所容。以雞翎探喉中，令吐後，煎蔥醋辣湯投之，以衣被蓋覆，汗出愈。</p>
<p>或用百沸湯，依前法飲揉探吐，亦妙。或用紅菜頭搗汁飲之。</p>
<p>又方　導引一法，盤腳而坐，用兩手交十指，攀腦後風池、風府二穴，乃是風門也，向前叩首，幾至於地。如此連點一百二十數，急以蔥醋粥辛辣湯投之，汗出立解。</p>
<p>又方　治傷寒鼻中出血不止　用茅草花一大把，無花用根。以水煎濃汁，食後服。</p>
<p>治陰證　用蔥白一大把，如茶盞大，用紙卷緊，卻以快刀切齊一指濃片，安於臍上，以熱熨斗熨之，待汗出為度。</p>
<p>一片未效，再切一片熨之。</p>
<p>又方　治陰毒傷寒　用芥菜子末，新水調如膏藥，貼臍上，汗出為愈。</p>
<p>傷寒戒忌：病新差後，但少吃糜粥，常令稍飢，不得飽食，反此則復。不得早起，不得梳頭洗面，不得多言，不得勞心費力，反此則復。及差後百日內，氣體未得平復，犯房事者，死。又忌食羊、雞、犬，肥膩諸肉汁，及腌藏　醢油餅面食，病再發。</p>
<p>治天行病熱盛　用蚯蚓以鹽塗之，化成水，去泥，飲之。亦治交接勞復，或陰腫縮入腹痛。</p>
<p>又方　天行病心悶　用水中細苔搗汁服。</p>
<p>又方　治時行病，新好後，多傷飲食，其病復發　用杏仁五兩，去皮尖，醋二碗，煎半碗，取汁服，愈。</p>
<p>治時行病後犯房勞復發　男病以婦人褲襠燒灰，女病以男子褲襠燒灰，湯服。</p>
<p>治孕婦遭時疫，令子不安頓　用井底泥塗足心。</p>
<p>又方　用灶中對鍋底土，研細末，水調服。仍塗臍上方五寸，干再換。</p>
<p>治天行瘟疫傳染　將初病患衣服，於甑上蒸過，則一家不染。若親戚鄉裡有患瘟疫，欲去看問，先將清油抹鼻孔，後出外。又將紙捻於鼻內，探取噴嚏三五個，則不傳染。</p>
<p>又方　用雄黃研細，水調，以筆濃蘸塗鼻竅中，與病患同床亦不相染。初洗面後及臥時點之。</p>
<p>又方　凡入病久房內，須舌頂上　，努力閉氣一口，使氣充滿毫竅，則病不能染著。</p>
<p>又方　五月五日，收蒼耳草，陰乾，水煎服。</p>
<h3>中諸毒第五</h3>
<p>治誤食諸毒草並百物毒，救人於必死　用板藍根（干者）四兩，貫眾（去土）一兩，青黛（別研）、生甘草各二兩。上為末，蜜丸如梧桐子大，以青黛別為衣。如稍覺精神恍惚、惡心，即是誤中諸毒。急取藥十五丸，爛嚼，新汲水下。</p>
<p>又方　凡中毒及蛇蟲咬傷　即用上好青黛、雄黃各等分，為末，新汲水調服二錢。</p>
<p>又方　治中諸物毒　用晉礬、建茶各等分，為末。每服二錢，新汲水調下，得吐即效，未吐再服。</p>
<p>又方　治蠱毒名丹砂丸　用雄黃（另研）、朱砂（另研）各五錢，藜蘆（略炒）、鬼臼、巴豆（去殼、心、膜、油）各二錢五分。為末，蜜丸，如豆大，每服三丸，空心乾薑湯下。當轉下惡物並蠱等，如煩悶，後以鴨為羹食之。</p>
<p>又方　治五種蠱毒　用雄黃末、麝香末各等分，取生羊肝如指大，以刀開，內裹藥吞之。</p>
<p>又方　用升麻三錢，溪水調服。</p>
<p>又方　用馬兜鈴根三兩，搗篩，分為三帖，每一帖以水一大鐘，煎至五分，去渣，空心頻服，當時吐蠱出。未快再服之，以快為度。</p>
<p>又方　救中蠱毒　用白礬一塊，嚼之，覺甜不澀，次嚼黑豆不腥者，便是有蠱也。用木梳齒上垢膩，不拘多少，服之，吐出惡物。</p>
<p>又方　用石榴皮煎汁飲之，即吐出活蟲，無不愈者。</p>
<p>又方　用蠶蛻紙不拘多少，捻作紙條，蘸麻油燒存性，為末，水調一錢，頻服。諸中毒面青脈絕，昏迷如醉，口噤吐血，服之即蘇。</p>
<p>又方　取鵓鳩熱血，隨多少服之。</p>
<p>又方　取白雞、鴨血灌口中，立效。</p>
<p>又方　取胡荽根搗汁半盞，和酒服，其蠱立下。</p>
<p>又方　解諸毒，殺腹內毒蟲　用藍青葉研水服。</p>
<p>又方　治中毒下血者　用　皮燒為灰，細研，水調下二錢，日進三服，立愈。</p>
<p>解中砒霜毒　用漢椒四十九粒，黑豆十四粒，烏梅二個（打碎），甘草節二寸（碎之），上　咀，用水一碗，煎至七分，溫服。</p>
<p>又方　白扁豆、青黛、甘草各等分，巴豆一錢（去殼不去油）。上　咀為末，以砂糖一大塊，水化開，調一大盞飲之，毒隨利去。卻服五靈散之類。</p>
<p>又方　用白扁豆一合，為末，冷水調下。</p>
<p>又方　用清油一碗灌之。</p>
<p>又方　用早禾稈燒灰，新汲水淋汁，生絹濾過，冷服一碗，毒從下利，即安。</p>
<p>又方　旋刺下羊血，或雞鴨血，熱服。兼解鼠、莽毒及丹藥毒。</p>
<p>又方　藍根、砂糖二味相和，擂水服之。或加薄荷汁尤妙，及解巴豆毒。</p>
<p>又方　以地漿調鉛粉末，服之立解。豆豉汁亦佳。</p>
<p>又方　用醬調水灌下。</p>
<p>救食河豚　急以清油多灌之，吐出即愈。</p>
<p>又方　用五倍子、白礬等分為末，水調灌之。</p>
<p>食諸魚中毒　用橘皮汁、大豆汁、馬鞭草汁、蘆根汁、紫蘇汁飲之。</p>
<p>食鱔、鱉、蛤蟆毒　用豆豉一大合，新汲水半碗，浸，令豉水濃，溫服之，即瘥。此三物，令人小便秘，臍下痛，有至死者。</p>
<p>食蟹中毒　濃煮紫蘇，飲一兩盞解之。</p>
<p>食六畜肉中毒　以壁上黃上，水調服二錢。即瘥。</p>
<p>食牛肉中毒　以豬牙燒灰為末，水調一錢服。</p>
<p>又方　飲井水一碗，自消。</p>
<p>食馬肉中毒　搗蘆根汁，飲一盞。兼作湯浴之，即解。</p>
<p>食風狗肉中毒　用杏仁三兩和皮細研，和勻，分作三服，以熱湯三盞下，其狗肉皆全片出，即瘥。</p>
<p>食豬肉中毒　燒豬糞為末，水調服一錢，不過三服，瘥。</p>
<p>食鴨肉中毒　以糯米泔，溫服二鐘。</p>
<p>食牛馬肉中毒　用粉草五兩，細切微炒搗細，量患人吃得多少酒，取無灰酒一處研。去渣溫服，須臾，大吐瀉，毒亦隨去。雖十分渴，不可飲水，飲水難救。並解一切諸毒。</p>
<p>食菜中毒　用雞糞燒為末，水調服一錢，未解更服。</p>
<p>食野菌中毒　用甘草不拘多少，以麻油一盞，煎數沸，冷服，其毒即解。</p>
<p>又方　掘新地坑，汲井水於內，攪之，令澄清，取飲而解。</p>
<p>治中諸藥毒　用生甘草、黑豆、淡竹葉各等分，上　咀，用水一鐘濃煎服。</p>
<p>又方　用五倍子二兩，研細，用無灰酒調服。毒在上即吐，在下即瀉。</p>
<p>又方　用綠豆粉，水調服。</p>
<p>又方　生薑搗汁服。</p>
<p>又方　用蠶蛻紙，燒灰研細，每服一錢，冷水調下，頻服取瘥。雖面青、脈絕、腹脹、吐血，服之立效。亦治牛馬食花蜘蛛，腹脹欲死者。</p>
<p>中巴豆毒　以黃連、大豆、菖蒲汁，並解之。</p>
<p>中烏頭、天雄、附子毒　用大豆汁解。</p>
<p>又方　遠志、防風、棗肉、飴糖並能解。</p>
<p>中鼠莽毒　用枯礬、細茶為末，各少許，新汲水調服，累驗。</p>
<p>又方　用大黑豆煮汁服之。如欲試其驗，先用鼠莽草葉，以豆汁澆其根，從此敗爛，不復生矣。</p>
<p>中丹毒　用灶中對鍋底土，水調服。</p>
<p>誤食桐油，令人嘔泄　飲熱酒乃解。</p>
<h3>諸蟲蛇傷第六</h3>
<p>救虎傷　用生薑汁服，兼洗傷處。白礬末敷瘡上。</p>
<p>救毒蛇傷，並諸色惡蟲毒瓦斯入腹者　用蒼耳草嫩葉，搗汁灌之，將渣濃敷傷處。犬咬　煮汁服之。</p>
<p>治惡蛇、惡犬、蜈蚣、蠍子咬傷　用細辛、白芷各二錢，雄黃一錢，麝香少許。上為末，以好酒調服一錢。</p>
<p>又方　用貝母為末，酒調，令病者盡量飲之。少頃，酒自傷處為水流出，候水盡，卻以藥渣敷瘡上，即愈。</p>
<p>又方　用艾於傷處灸三五壯，拔去毒，即愈。</p>
<p>又方　用清油燈心點燈，以傷處於煙上熏之，其痛即愈。</p>
<p>又方　用雞糞塗之。</p>
<p>又方　用　樹葉、魚腥草、皺面草、草決明一處研細，敷上亦佳。</p>
<p>治蛇咬傷　用白礬置刀上燒汁，熱滴咬處。亦以礬湯服之。</p>
<p>又方　用青木香不拘多少，煎服，其痛即止。</p>
<p>又方　用雄黃、五靈脂、貝母、香白芷各等分。上為末，每服二錢，熱酒調服。</p>
<p>又方　用白礬滾水，泡洗傷處。</p>
<p>治蛇咬，毒入腹者　取兩刀，於水中相磨，飲其汁。</p>
<p>又方　用灰蓼搗汁飲之，渣敷傷處。仍以頭發縛兩頭。</p>
<p>又方　用香白芷（為末），麥門冬（去心）濃煎湯調下，頃刻，咬處出黃水，盡，腫消皮合。仍用此藥渣塗傷處。</p>
<p>又方　用水萍搗絞汁服。</p>
<p>又方　急於無風處，以麻皮縛咬處上下。重者，刀剜去傷肉，小便洗，令淨，燒鐵物烙之。然後填蚯蚓泥，次填陳年鍛石末，絹扎住。輕者，針刺瘡口，並四旁出血，小便洗淨，以蒜片著咬處，艾灸三五壯。</p>
<p>治瘋犬傷　急於無風處，嗍去瘡孔血，或是干孔針刺去血，小便洗令淨。用半瓣胡桃殼，以人糞填滿，掩瘡孔。艾灸一百壯。後一日灸一百壯，百日止。急服者，用蛤蟆干一個，斑蝥二十個，去頭、翅、足，用糯米炒黃。只用斑蝥與蛤蟆為末，酒調或水調服之，分為四服，以小便瀉下惡物為度。未見惡物，量輕重再服者，用韭菜汁一盞。常敷者，用虎骨末，和鍛石臘豬脂調敷之。禁飲酒食雞、魚、豬肉、肥膩。終身忌食犬肉、蠶蛹。春夏初交，犬多發狂，被咬者，無出於灸，七日當一發，三七日不發，可全免。如見痛定瘡合，便以為好，不治者，必死。犬狂者，其尾必直下不卷，口流涎，舌黑色。</p>
<p>又方　去毒血，以漿水洗淨，紙上炒黃丹赤色，貼之妙。</p>
<p>又方　用紫蘇葉細嚼，敷患處，即不痛。</p>
<p>又方　治咬傷及經久復發者　用雄黃（黃明者）五錢，麝香五分，上研勻，以酒調服二錢，服後得睡為佳。俟其自醒，利下惡物，再進一服，即見效。</p>
<p>又方　用生南星、防風各等分，上為末。先以口噙漿水，洗淨傷處，用綿拭乾，以藥糝上，更不發，無膿易瘥。</p>
<p>又方云，此病雖為小可，乃九死一生之病。可急用斑蝥七個，去翅足為末，酒調服。於小便盆內見衣沫，似狗形，亦不再發也。此方累試經驗。</p>
<p>又方　用蔥白心四十九根，搗爛如膏，用生蜜一同調和。用濕筒兒盛放，用紙封一七日，貼傷處瘡口上七日，又用蔥白皮封著。如瘡口大，再換膏子貼，共二七日。切忌諸般葷腥。一百日外，用消風散一錢，用熟犍豬肉七片，蔥白七莖，蜜一小匙和撲。再入原煮豬肉汁泡使蔥白熟，令患人熱食。小兒用肉七小片，消風散一錢，蜜半匙，煮服。</p>
<p>又方　取小兒胎發炒新香附、野菊花，研細，酒調服，盡醉。</p>
<p>又方　用紫蘇，口嚼碎塗之。</p>
<p>治常犬傷　用蚯蚓泥和鹽研，敷之。亦治狂犬及毒蛇傷。</p>
<p>又方　以砂糖塗之。</p>
<p>又方　急於無風處，嗍去瘡孔血，小便洗淨。用熱牛糞敷，或鼠糞為末和豬脂敷，或韭菜和鍛石搗成餅子，陰乾為末，和豬脂敷。更以韭菜、生薑搗汁服之。</p>
<p>又方　先以蔥湯洗，後以研爛杏仁塗傷處。</p>
<p>又方　用蓖麻子五十粒，去殼，井水研成膏。先以鹽水洗咬處，敷貼。</p>
<p>又方　浸椒水調莽草末塗之。亦治貓傷。</p>
<p>又方　白礬為末，糝瘡內裹之。</p>
<p>又方　用虎骨屑，敷上即愈。</p>
<p>治馬咬及踏傷　用艾灸瘡上並腫處。又用婦人月經，或人糞，或馬糞，或鼠糞，燒為末，和豬脂敷之，皆效。</p>
<p>又方　人體先有瘡，因乘馬，為馬汗或馬毛入瘡中，或為馬氣汗蒸，致腫痛。　宜數易冷水漬之。難漬處，以布浸濕拓之。</p>
<p>又方　割雞冠血三五滴，入瘡內。大馬用雌雞，小馬用雄雞。</p>
<p>治豬咬　用屋溜中泥塗之。即今之承溜也。</p>
<p>治貓咬　用薄荷汁塗之。</p>
<p>治鼠咬　用貓毛燒灰，麝香少許，津唾調敷之。</p>
<p>治諸惡蟲傷　用蛇蛻煮湯，洗三兩度。或以膩粉、生薑汁，調敷傷處。</p>
<p>治蜈蚣咬　以麻鞋底揩之。</p>
<p>又方　用蚯蚓泥挹之，或刺雞冠血塗，或以桑樹汁敷之。</p>
<p>又方　用香附子，嚼擦患處，立效。</p>
<p>治蜂蠆毒　用野苧葉擦之，如不便，急以手就頭爬垢膩敷之，或用鹽擦，或用人尿洗之，或桑樹汁敷之。</p>
<p>又方　油木梳火上炙熱熨之。</p>
<p>又方　解九裡蜂毒　用皂莢鑽孔，貼在蜂叮處，就皂莢孔上用艾灸三五壯，即安。</p>
<p>治蠍螫　用白礬、半夏各等分，為末，好醋調貼，痛止毒出。</p>
<p>又方　先以針刺螫處出血，冷水浸之，水稍溫，即易之。有難浸處，以舊布浸冷水，頻換拓之。</p>
<p>又方　治蠍螫　雄者在一處痛，用井底泥敷之；雌者牽諸處痛，當檐下泥敷之。或以白礬末水調，先挑出黑刺，即塗之。</p>
<p>治蜘蛛傷遍身成瘡　用蔥葉一莖，小頭作一孔，盛蚯蚓一條，兜兩頭不令透氣，搖動化為水，點傷處。</p>
<p>又方　嚼韭白敷或雄黃亦可。遍身腫，服藍汁。</p>
<p>又方　蜘蛛咬遍身生絲　用羊乳一味，飲之極妙。或用鹽和油敷上，數數揩之。</p>
<p>治蚯蚓咬　或於地上坐臥，不覺咬腎，陰腫，鹽湯溫洗數次，甚效。</p>
<p>治辟虱　用蜈蚣萍晒乾，燒煙熏之則去。青鹽水，遍洒床席，即絕。</p>
<p>治八腳蟲傷　其蟲隱於壁間，以尿射人，遍身生瘡，狀如湯火傷　用烏雞翎燒灰，雞子白調敷。</p>
<p>又方　用生甘草煎湯洗之，或嚼梨葉敷之，或搗韭汁塗之，或將麻子敷之。</p>
<p>治天頭蛇毒　用落蘇即金絲草，金銀花藤，五葉紫葛，天喬麥，切碎，用十分好醋濃煎，先熏後洗。</p>
<h3>頭痛第七</h3>
<p>治頭痛　用皂莢為末，吹入鼻中，得嚏則止。</p>
<p>又方　治遠年近日，一切偏正頭疼，用蘿卜取汁一蜆殼，令病患仰臥，右疼注入左鼻，左疼注入右鼻，左右皆疼，兩鼻並注之。</p>
<p>又方　用蓽茇為末，令患者含水，左邊疼，左鼻吸一字，右邊疼，令右邊吸一字，即效。</p>
<p>又方　用大蒜一枚　去皮研取汁。令病患仰臥垂頭，以箸蘸點入鼻中，急入腦眼中淚出。</p>
<p>又方　用蓖麻子一兩，去皮研爛，貼痛處。</p>
<h3>咽喉第八</h3>
<p>治纏喉風　以桐油灌之，或燈盞底油灌之，吐出，風疾立愈。</p>
<p>又方　用馬蘭頭草，夏取葉，冬取根，搗汁和醋，滴入鼻中。</p>
<p>又方　治喉閉逡巡不救　用皂莢（去皮子）半兩，為細末，箸頭點少許在痛處，更以醋糊調藥末塗項上，須臾便破血出，立效。</p>
<p>又方　用蛇蛻燒灰，每用一錢，以竹筒吹入喉內。</p>
<p>又方　用生白礬研細，塗於綿針上，按於喉中，立破。綿針用榆條，上以綿裹作棗大是也。</p>
<p>又方　用射干（即扁竹葉根也），旋取新者不拘多少，擂爛取汁吞下。或動臟腑即解。或用醋同研取汁噙，引出涎愈。</p>
<p>又方　用嫩艾葉，研取汁吞下，亦佳。或用鼓槌草、土牛膝二味，生搗爛，取汁灌下。</p>
<p>又方　於病患頂上，分左右頭發，用手挽拔之，剝然有聲，立效。</p>
<p>又方　用馬屁勃，吹咽喉中，立止。</p>
<p>又方　以布針於病患兩手大拇指側，去爪甲一韭葉許，刺二分，以手捋出血，再以白湯口中含漱，立愈。</p>
<p>又方　治雙乳蛾　用皂莢二片，雜草燒鑊鏽（即百草霜）一錢，為末，冷水調，加清油數點灌下。或用燈草燒灰敷上。</p>
<p>又方　治喉間長腫如蒂鐘者　鹽　過雞毛蘸敷上即消，不須刺破，破則傷人。</p>
<p>治纏喉風　用紅花搗汁服之。無濕者，浸干者服。</p>
<p>治喉閉　用膽礬、白礬各等分（生用），研極細末，合為一處。如咽喉初覺痛時，用葦筒將此藥吹入痛處，閉口切勿咽下，少時口涎下流，覺藥力稍緩，用溫水漱之。如此一二次，即消腫痛矣。如覺遲，已成赤紫，如皂莢子大者，此藥可日加數次，亦能消之。白滾湯可用，忌生冷之物。</p>
<p>又方　用草藥，名喚金鎖匙，即馬蹄草，以根搗井花水調下，立效。</p>
<h3>心病第九</h3>
<p>治心痛　用生地黃取汁，搜面作　，或作冷淘，隨食多少，但忌用鹽。久服，能療一切久近心痛。</p>
<p>又方　用地上隔年蔥，搗汁一杯，和香油半盞，頻服。</p>
<p>又方　用荔枝核七個，燒存性為末，酒調服。</p>
<p>又方　用醋一盞，加生白礬一小塊，如皂莢子大，同煎至七分，溫服。</p>
<p>又方　用橘皮去白，煎飲之。</p>
<p>又方　以新嫩槐枝一握，切去兩頭，水二鐘，煎至一鐘，去渣。分二次熱服。</p>
<p>又方　治急心痛、熱痛，用灶中心對鍋底泥為末，冷水服；若冷痛，以酒服。亦治顛狂不識人。</p>
<p>又方　七個烏梅八個棗，十個杏仁同處搗。鹽酒送下七丸兒，不害心疼直到老。</p>
<p>又方　治蟲咬心痛　香油、鹽熬熱，服一盞。</p>
<p>又方　治寸白蟲攻心痛　用酸石榴東行根二兩，糯米三十粒，水濃煎，空心服。</p>
<p>又方　治惡心痛或連腰臍者　鹽如雞子大，青布包，燒赤，投酒中飲，當吐惡物。</p>
<p>治狂言鬼語　用蛤蟆一個，燒為末，酒調服。</p>
<p>治心恙狂惑　用無灰酒二碗，真麻油四兩共和勻，楊枝二十條，逐一條攪一二下，換遍楊枝，直候油酒相和如膏，煎至七分。狂者強灌之，令熟睡，或吐或不吐，覺來即醒。</p>
<p>治發狂欲走著邪祟者　用蠶蛻紙作灰，酒調服。</p>
<p>治顛狂不止得之驚憂之極者　用絲瓜蒂半兩為末，每服一錢，井水調一盞投之，即大吐。後熟睡，勿令驚起，即效。</p>
<p>又方　治邪狂癲癇，不欲眠，妄行不休　用白雄雞二只，煮熟，五味調和作羹，食之。</p>
<h3>腹痛第十</h3>
<p>治絞腸痧　用好明礬末，滾水調服。</p>
<p>又方　若陰痧腹痛而手足冷，有身上紅點　以燈草蘸油點火燒之；陽痧則腸痛而手足暖，以針刺其手指近爪甲處，一分半許，出血即安。仍先自兩臂捋下，其惡血令聚指頭，刺出血。</p>
<p>又方　治絞腸痧痛不可忍　用炒鹽一兩，熱湯調服。危迫者灌入口中，或吐或利，腸痛即止。</p>
<p>又方　以手蘸溫水，於病患膝腕用力拍打有紫黑處，以針刺去惡血，即愈。</p>
<p>又方　好酒和薑汁，溫服。</p>
<p>治心腹惡氣，口吐清水　用艾葉搗汁飲之。干煮汁服。</p>
<p>又方　治一切冷氣鬼邪毒瓦斯　艾和乾薑末為丸，每服三十丸。</p>
<p>又方　治腹痛氣惡　用高良薑炒焦，酒煎服，或用胡椒研碎，酒調服。</p>
<p>治腹脹滿　用獨囊大蒜，煨熟去皮，綿裹塞糞門，冷即換。亦治關格脹滿，大小便不通。</p>
<p>又方　治血脹腹痛　用荷葉酒煮服。</p>
<p>又方　用皂莢去子、皮、弦為細末，蜜丸如梧桐子大。肉汁下，利後，忌肉一日。</p>
<p>治腹中癖塊堅硬如石者　取白楊東南枝去青皮，細切三斤，熬令焦，絹袋盛。用酒一斗浸，秘封三五日。每食前暖一盞服之。</p>
<p>又方　治腹中有塊如石，痛如刀刺者　用商陸根不拘多少，搗碎蒸之。以新布裹，熨痛處，冷再換。</p>
<p>又方　治蛔蟲日夜咬人，腹內痛不可忍者用苦楝樹白皮二斤，去粗皮切碎，用水一斗煎至三升，去渣。於砂鍋內慢火熬成膏，每日於五更初用溫酒調下半匙，以蟲下為度。</p>
<p>又方　治三蟲　搗桃葉，絞取汁，空心服一盞。</p>
<p>又方　治寸白蟲　用酸石榴根一握，以水濃煎，痹惡心，先嚼肉脯，次服石榴根汁，則蟲盡去。</p>
<h3>腰痛第十一</h3>
<p>治腰痛　用杜仲（去皮炒斷絲）、橘核（炒取仁）各等分。上為末，每服二錢，入鹽少許，食前溫酒調下。</p>
<p>又方　治腰痛並或時挫閃　用杜仲、破故紙、胡桃仁各等分，上用酒煎服，立效。</p>
<p>又方　用西瓜青為片，陰乾為細末，以鹽酒空心調服。</p>
<p>又方　用橘核炒，去殼，酒服。或用炒鹽及炒茴香二包，不住手更換，熱熨。</p>
<p>又方　用茴香莖葉，搗汁一碗，分三服，渣敷痛腫處。</p>
<p>又方　治腰腳軟　用二蠶砂，炒熱熨之。</p>
<h3>疝氣第十二</h3>
<p>治小腸疝氣　用杉樹子，一歲一粒，燒研灰。用好酒下，粒少者一二次服，粒多者數次服，立愈。試有神效。</p>
<p>又方　用橘核晒乾，去濃薄殼兩層，研細。每服五錢，用老酒一二盞，砂鍋中煮四五沸，空心服。再用熱酒一二盞，罐盛，余藥服盡。一切下部諸疾皆療。</p>
<p>又方　用荔枝核，火燒存性，為末，酒調服。</p>
<p>又方　用杜茴香一斤，以老生薑二斤取自然汁浸茴香一夜，約薑汁盡入茴香內，以好青鹽二兩同炒赤，取出焙燥，碾羅為末。無灰酒煮糊為丸，如梧桐子大。每日空心食前服三十丸或五十丸，溫酒或米飲下。</p>
<p>又方　治疝氣走入腎囊痛　用五月五日采　樹葉，陰乾為末，空心酒送下。</p>
<p>又方　用楝樹葉，碎切，臨發時，酒送下。</p>
<p>又方　於腳中趾下中節橫紋上，灸二壯，愈。</p>
<p>又方　灸外踝穴，在兩腳外羅拐骨下一指，乃圓骨下，灸三壯即愈。又云：灸內踝穴，不再發。</p>
<p>治男子陰腫赤大如斗，人不能治者　以馬鞭草搗爛塗之。</p>
<h3>諸氣第十三</h3>
<p>治諸氣攻刺，及感受風寒暑濕，飲食所傷，中脘痞悶，嘔吐吞酸　用陳皮洗淨，新汲水煎服。</p>
<p>又方　治走注風毒疼痛　用芥菜子為末，以雞子白調敷。</p>
<p>又方　治走氣疼痛　用酸醋淬麩皮，炒熱熨之。</p>
<p>治氣卒奔上呼吸有聲，喘急欲死者　用韭菜搗汁飲之。</p>
<p>治氣結聚心下不散　用桃樹上不落干桃子三兩為末，每服二錢，空心溫酒調下。</p>
<p>又方　用生薑和杏仁煎服。</p>
<h3>香港腳第十四</h3>
<p>治香港腳疼痛　槐、柳、楮、桑、桃同煎湯洗，能消腫住痛，先飲酒三杯。</p>
<p>又方　用水紅花，煮汁浸之。</p>
<p>又方　每夜用鹽擦腿膝至足甲，淹少時，卻用熱湯泡洗。昔有一人，香港腳諸方不效，後得此方，常用淹洗，不再發。</p>
<p>又方　治香港腳腫痛及蠱腫　用白花商陸不拘多少，切碎，酒煮熟，連商陸吃。若腹肚蠱腫，用商陸同米煮粥吃。</p>
<p>又方　治香港腳攻注　用水中大螺一個，以鹽半匕，和殼生搗碎，罨於患人臍下一寸三分，用寬帛緊系之，仍辦溺器，以待其通。此遇異人傳授仙方，神驗。又曾有苦香港腳攻注，捶數螺敷兩股上，便覺冷氣趨下至足，既而亦安。</p>
<p>又方　治香港腳　用蘿卜煎湯洗之。或晒乾為末，鋪襪內。或用楊花如綿絮，鋪在襪內尤佳。</p>
<h3>水蠱第十五</h3>
<p>治十種水蠱病　腫滿喘促不得眠　用螻蛄五枚，干為末，食前湯調一錢，小便通，效。</p>
<p>又方　用商陸根赤者，杵碎，貼臍心，絹帛縛定，病自小便出。</p>
<p>又方　治腫脹，名丹房奇術　用真水銀粉二錢，巴豆肉（研去油）四兩，生硫黃一錢，上研成餅，先以新綿一片鋪臍上，次以藥餅當臍掩之，外用帛縛之。如人行三五裡，自然瀉下黃水，待之三五度，除去藥，以溫粥補之。久患者，隔日取水，一餅可救二三十人，神效。</p>
<p>又方　用赤小豆、商陸白者根各等分，以雄豬肚一個，裝藥在內，以蔑簽封其口，於瓦　內煮爛，取出去藥，乘熱食豬肚，宜食五七個，見效。</p>
<h3>痰嗽第十六</h3>
<p>治痰喘　用胡桃肉三個，生薑三片，臨睡細嚼，飲湯下。就枕又再嚼，如前飲湯下，即安。</p>
<p>又方　用飛過白礬、五倍子等分，為末。每服二錢，以生豬肝，火炙熟，蘸藥，食後臨臥服。</p>
<p>治痰厥　用白礬一兩，水一碗，煎半碗，入蜜少許，再煎少時，溫服。須臾吐，如不吐，再飲熱水一盞，即吐。</p>
<p>治暴患痰厥不省人事　清油一盞，灌入喉中，須臾，逐出痰涎，立愈。</p>
<p>治年高氣喘促　用蘿卜子搗，羅為末，白湯調五七錢，食後服之。或用蜜作劑為丸服。</p>
<p>治咳嗽久患，連嗽四五十聲者　用生薑汁半合，蜜一匙，煎熱溫服，三服立效。</p>
<p>又方　治氣喘咳嗽　用杏仁（去皮尖）、胡桃肉等分，研為膏，入蜜少許，和丸如彈子大，每服一二丸，食後臨臥細嚼，薑湯送下。</p>
<p>又方　治久嗽氣逆，諸藥不效　用蝙蝠一個，去翅足，燒令焦，為末，米飲調下。</p>
<p>又方　治咳嗽　用皂莢燒研為末，白湯調二錢下。</p>
<p>又方　治壯實人久嗽　用罌粟殼，去筋膜蜜炙為末，蜜湯下。</p>
<p>又方　治咳嗽不止，胸膈氣壅滯者　取桃仁一升去皮尖，麩皮同炒，令黃，細研貯瓶中，以酒五升浸，密封三日後，每溫服一鐘。日進二四服。</p>
<p>又方　用蟬蛻七枚，研末，粥飲調服。</p>
<p>又方　治久新咳嗽咯血　用烏梅一兩、罌粟殼一個，蜜炙為末。每服二錢，煎烏梅湯下。</p>
<h3>胃病嘔噎第十七</h3>
<p>治傷食傷米食　用白面一盞，白酒藥兩丸，為末炒過，滾水調服。</p>
<p>又方　治傷肉食　用棠球，去核煎服。</p>
<p>又方　用紫蘇濃煎汁，加杏仁爛研同服。</p>
<p>又方　用蘆根五兩，切碎，水三鐘，煎一鐘服。</p>
<p>治乾嘔噦或致手足厥冷　用橘皮四兩，生薑半斤，每服水七鐘，煎至三鐘，去渣。旋溫服。</p>
<p>治轉食嘔吐　用陳蜆殼燒白灰，米飲下，亦治痰嗽。</p>
<p>又方　用黃柏末，熱酒調三五錢，食後服。</p>
<p>又方　用生薑一兩，切如米大，醋漿一碗，煮半碗，空心和渣呷之。</p>
<p>又方　用千葉白槿樹花，陰乾為末，陳米湯調送三五口，再轉，再服之。</p>
<p>又方　治翻胃吐食　用真蚌粉，每服二錢，薑汁米飲調下。</p>
<p>又方　治吐逆不止　用真黃丹四兩，研細，用米醋一盞，煎令干。更以火　通紅，候冷為末，粟米飯為丸，如梧桐子大，醋湯吞七丸，不拘時服。</p>
<h3>諸血第十八</h3>
<p>治吐血並鼻中出血　用藕節搗汁飲之。</p>
<p>又方　用灶中對鍋底土一合，為末，新汲水一碗，淘取汁，和蜜頓服。</p>
<p>又方　用好綿燒灰，面糊為丸，酒調下。</p>
<p>又方　治鼻中出血　用千葉石榴花，焙乾，研為末，吹入鼻中。</p>
<p>又方　治吐血　用側柏葉，攤新瓦上，焙乾為末。每服三錢，米飲調，食後服，一月除根。</p>
<p>又方　用側柏葉陰乾，煎湯，當茶服之。</p>
<p>又方　治勞心吐血　用蓮子二十一粒，為末，酒調二錢，食後服。</p>
<p>又方　用百草霜，不拘多少，研細。吐血，糯米飲調下。鼻中出血，用一字吹入鼻中，立效。皮肉破處及灸瘡出血，糝半錢，立止。</p>
<p>又方　治吐血、鼻中出血　用蘿卜研汁，入鹽，服一盞，立效。或以蘿卜汁、藕汁，仰頭滴入鼻中。</p>
<p>又方　治鼻中出血　用亂髮燒灰，井水調下，更吹鼻中。</p>
<p>又方　每發時，用亂髮一束，捻緊，燈火燒出油，急塞鼻中。</p>
<p>又方　用大蒜塗腳心即止。或以蔥白搗汁，入酒少許滴鼻中。</p>
<p>治失音不能言　或咯血、或中風　用槐花，新瓦上炒香熟，三更後，床上仰臥，隨意食之。</p>
<p>治大小便下血　用亂髮燒灰，研碎，酒調服二錢。</p>
<p>治腸風下血　用炒槐花、荊芥穗等分，酒調服。亦治泄瀉。</p>
<p>又方　用茄蒂燒存性，為末，米飲調服。</p>
<p>又方　用柏子仁十四枚，捻絹囊盛內，好酒三鐘，煎至八分。初服未效，加多再服，立止。非飲酒而致斯疾，以艾葉煎湯服，效勝他藥。</p>
<p>又方　用椿根白皮北行根者，去粗皮，酒浸，晒乾為末，棗肉為丸，如梧桐子大。每服三十五九，淡酒送下。</p>
<p>又方　用豬臟一條，控干，炒槐花為末，填入臟內，兩頭線縛定。以好醋於瓷器內慢火煮爛，切片，砂缽內研爛為丸，如梧桐子大。每服一二十丸，溫酒下。</p>
<p>又方　治大便下血不止　用烏梅三兩，燒存性，為末，好醋打米糊為丸，如梧桐子大。每服七十丸，空心飲下。</p>
<p>治尿血　用蛤蟆衣草搗汁，空心服。或用淡豆豉一撮，煎湯服。</p>
<p>又方　用刮竹青一大塊，水煎服。</p>
<p>又方　用苧麻根十枚，水煮服。</p>
<p>又方　取籬下竹根斷入土多年者，不拘多少，水淨洗，煎湯並服數碗，立止。</p>
<p>又方　用茅根煎湯飲，多煎頻服為上。</p>
<p>又方　治精竭出血　用麩皮炒香，煮肥豬肉蘸食之。</p>
<h3>消渴第十九</h3>
<p>治消渴　用田螺五升，水一斗，浸經宿，渴即飲水，每日換水浸。</p>
<p>又方　用繅絲湯飲之。如無，以生絲煮汁飲之。</p>
<p>又方　用五倍子為末，以水調方寸匕，不拘時服。</p>
<p>又方　用深掘大栝蔞根，削去粗皮寸切，以水浸，一日一換。浸五日取出，爛研，細絹絞汁，如作粉法，干之，水調方寸匕，日三四服，入牛乳尤好。</p>
<p>又方　用糯稻稈取中段燒灰，淋汁飲。或不燒，煎服亦妙，或用生牛乳細呷。或生蘿卜取汁，時服少許。</p>
<p>又方　用舊屋上瓦兩片，洗淨捶碎，以水煮濃汁，食後溫服一小盞。</p>
<p>又方　用活蝸牛四十九個，以水一碗，於瓷器中浸一宿，以器蓋之，其蝸自沿器上，取水溫服之。重者不過三服。</p>
<h3>霍亂第二十</h3>
<p>治霍亂轉筋　用皂莢末吹鼻中，得嚏即止。</p>
<p>又方　治霍亂轉筋吐瀉　用扁豆葉生搗，以少醋浸汁服。</p>
<p>又方　治霍亂心腹脹滿疼痛，不吐瀉，冷汗出氣絕者用極咸鹽汁三碗，熱飲一碗，探喉中，令吐盡宿食。不吐，更服；吐訖，再服；三吐乃止。此法大勝諸方，俗人以為田舍淺近，鄙而不用，守死而已，惜哉。</p>
<p>又方　以淨地掘一潭，用新汲水一桶，傾在內，攪令渾，候澄清，連飲三五盞，立愈。大忌飲白米湯。</p>
<p>又方　治霍亂轉筋入腹，痛極將死　用生薑一兩，捶碎，酒五錢，煮熱服。</p>
<p>又方　治霍亂吐瀉服藥即出，無法可治　用井水半碗，白沸湯半碗，相合服之。</p>
<p>又方　治霍亂吐瀉心腹作痛　用炒鹽一碗，布包，頓其胸前並腹肚上，熨斗火熨，令氣透。又以炒鹽熨其背，則愈。</p>
<p>又方　治霍亂轉筋欲死，惟腹中有暖氣者　以鹽納於臍中，令實，就鹽上灸七壯。</p>
<h3>瘧第二十一</h3>
<p>治瘧疾　用生薑四兩，連皮搗碎取汁，夜露至曉，空心冷服。</p>
<p>又方　用狗蠅一個，去翅足，以蠟丸之，當發日，冷酒吞下。</p>
<p>又方　用牛膝草根，水煮，不時服。</p>
<p>又方　名截瘧丹　五月五日，取獨蒜，不拘多少，舂爛，入好黃丹再舂，干濕適勻，丸如圓眼大，晒乾收貯。但瘧疾二三發後，臨發日，雞鳴時，以藥一丸略捶碎，取井花水，面東服之即止，不再發。</p>
<p>又方　用雄黃、人參、神麯各五錢，上三味為末，五月五日午時，用棕尖子七個，和為丸，如赤豆大。病未發時，面東服七丸，無根水送下。</p>
<h3>熱第二十二</h3>
<p>治發熱口乾、小便赤　用甘蔗搗汁服。</p>
<p>又方　用雞子三個，白蜜一合，和服之。</p>
<p>又方　用天麻子五合，研碎，水二升，煮去半分服，四五劑，瘥。</p>
<p>又方　治煩熱少睡用小麥作飯食之。</p>
<p>又方　治煩悶用野紅花苗根絞汁飲，或水煎服。</p>
<p>又方　用葛根搗汁飲，亦治孕婦熱病心悶。</p>
<p>又方　用大豆半升，水二升，煮濃汁，食後服。</p>
<h3>疸第二十三</h3>
<p>治黃膽、黑疸、酒疸、食疸　用豬脂八兩，亂頭發如雞子大二塊，同煎，臨服絞去發，分二服，病從小便出。</p>
<p>又方　治黃膽　用絲瓜連子燒灰為末。因面得病，面湯下；因酒得病，酒調下。數服可愈。</p>
<p>又方　治黑疸　急用土瓜根一斤，搗碎絞汁，溫服，當有黃水從小便出，未出，更服。</p>
<p>又方　治通身黃膽　用絲瓜蒂焙乾三四錢，為細末。每用半字於鼻內吹入，一日一度，並三日。如不愈，用黃芩末煎湯，下五錢。</p>
<p>又方　治黃膽，身眼黃如金色者　用東引桃樹根一握，如箸大者，切細，以水一碗，煎取半碗，空心溫服。後三日，疸黃離離漸散。忌食豬魚肉麩面。</p>
<p>又方　治食勞黃、目黃、身黃者　用皂礬不拘多少，放砂鍋子內，木炭燒通赤，用米醋點赤，為末，棗肉為丸，如梧桐子大，每服二三十丸，食後薑湯下。或治目黃，用蒼耳子安舌上出涎。</p>
<p>又方　治酒疸　用田螺七枚，水養去土，捶碎，取螺頭切碎，以熱酒浸服。或用田螺煮服。</p>
<p>治好飲茶並干茶葉而黃無力　用花椒去核為末，糊丸如梧桐子大，茶湯下，一十丸。</p>
<p>又方　用苦草為末，和炒熱芝麻，不時干服。</p>
<h3>淋濁遺精遺尿第二十四</h3>
<p>治男子白濁、婦女白帶　用陳年冬瓜子仁，炒為末。每服五錢，空心米飲調下。</p>
<p>又方　治赤濁　用石蓮肉蓮心六兩，甘草炙一兩，為末。每服二錢，燈心煎湯調下。</p>
<p>治諸淋病　小便赤澀疼痛　用三葉酸漿草，洗淨，搗汁一盞，酒一盞，攪勻。空心服，立通。</p>
<p>又方　治石淋　用螻蛄七個，鹽二兩，同鋪於新瓦上，以火焙乾，研為末，溫酒調下二錢，即愈。</p>
<p>又方　治五淋　以多年木梳燒存性，空心冷水調下。男用男梳，女用女梳。</p>
<p>又方　用白礬為細末，填臍中，滴以井水，通即去。</p>
<p>又方　治淋痛疼不可忍及砂石淋　以大蘿卜切作一指濃四五片，用好蜜蘸淹少時，安鐵鏟上，慢火炙干。又蘸又炙，取盡一二兩蜜，翻覆炙，令香熟，不可焦。候冷細嚼，以鹽湯送下。</p>
<p>又方　治五淋　用苧麻根兩莖，切碎，以水一碗，煎半碗服，立通。</p>
<p>又方　治血淋　用干柿燒存性，為末，米飲調下。</p>
<p>治精氣虛滑遺泄不禁　名玉瑣丹　用龍骨、蓮花蕊、雞頭實、烏梅肉各等分，上為末，用熟山藥，去皮為膏，和丸如小豆大。每服三十丸，空心米飲下。</p>
<p>又方　治精滑夢遺及小便後遺瀝，名金櫻丸　用金櫻子、雞頭實各一兩，白蓮花蕊、龍骨（　）各半兩，上為末，糊丸如梧桐子大。每服七八十丸，空心鹽酒下。</p>
<p>又方　治精不禁危急者　名秘元丹　用龍骨（酒煮焙乾為末）、靈砂（水飛）各一兩，砂仁半兩，訶子（小者熱灰煨取肉）半兩，上為末，糯米糊丸如綠豆大。每服三十丸，空心溫酒下，臨臥白湯下。</p>
<p>又方　名樗樹根丸　用良薑三錢（燒灰），黃柏、芍藥各二錢（燒灰存性），樗樹根皮一兩五錢，上為末，面糊丸，如梧桐子大。每服三十丸，空心茶湯下。</p>
<p>又方　治小便淋瀝　用葵花一握，水煎五七沸服之。</p>
<p>治夜多小便　用純糯米蒸糕一片，臨臥炙令軟，熱啖之，仍以溫酒下。不飲酒，白湯下。多啖愈佳，行坐良久，待心下空便睡。一夜十余行者，當夜即止。</p>
<p>又方　用胡桃慢火煨熟，臨臥溫酒同嚼下。</p>
<p>治睡中遺尿　用燕窠中草，燒為末，水調服。</p>
<p>又方　用雞肫肝一具並腸，淨洗燒灰，男雌女雄，為末，酒調服。</p>
<p>又方　用小豆葉搗汁，空心溫服一小盞。</p>
<h3>大小便不通第二十五</h3>
<p>治小便不通　用蚯蚓搗碎，以冷水濾濃汁，服半碗，立通。</p>
<p>又方　治腹脹小便不通。用栝蔞仁不拘多少，為末。每服三錢，溫酒調下。不飲酒以米湯調，溫服，以通為度。</p>
<p>又方　用鹽填滿臍中，艾灸鹽上。</p>
<p>又方　以烏梅肉為末，水調二錢服。或以麻皮一握，細切，入甘草少許，同煎服。</p>
<p>又方　用炒鹽半斤，布裹乘熱熨小腹。</p>
<p>又方　治小便難小腸脹　用蔥白三斤，細切，炒令熱，以布裹，分作兩處，更替熨臍下，即通。</p>
<p>又方　用豬膽，投熱酒中服，立通。</p>
<p>又方　用棕皮毛燒灰存性，以薄酒調下，即通利，累試甚驗。</p>
<p>治大小便不通　關格不利　用皂莢燒，研末。粥飲下二錢。</p>
<p>又方　用連根蔥一二莖帶土，生薑一塊，淡豆豉二十一粒，鹽一撮，同研爛，捻作餅子，烘熱掩臍中，以布絹扎定，久之，氣透自通。不然再換一劑。</p>
<p>又方　用明礬末一撮，安臍中，冷水滴濕，須臾，立通。</p>
<p>治大便不通　用豬脂二兩，水一碗，煮三沸飲汁，立通。</p>
<p>又方　治大便秘結至極，昏不知人　用大田螺二三枚，以鹽一小撮，和殼生搗碎，置病者臍下一寸三分，用寬帛緊系之，即大通。未效，用烏　木根三寸，研爛調水服，亦效。就研爛敷臍下，亦妙。</p>
<p>又方　用獨頭大蒜，煨熟去皮，綿裹塞糞門內，即通。</p>
<p>又方　用不蛀皂莢，安瓦上燒著，置馬桶內，坐上熏糞門，自通。</p>
<p>又方　用豬膽一個，入好醋少許，扎鵝毛管上，灌入糞門，效。</p>
<p>又方　用蘿卜子一合，研碎，皂莢燒研末，冷水調二三錢服。</p>
<p>又方　用生麻子不拘多少，研爛，水調服之。</p>
<p>又方　用蜜四兩，置銅勺內，微火煎之，凝如膏，以杖攪之，勿令焦，乘熱取出，急捻作挺子，如指長，插入糞門內，以手按住，大便來時去之。</p>
<h3>痔漏第二十六</h3>
<p>治痔瘡大便下血　用槐樹上木耳為末，米飲調一錢，日三服。</p>
<p>又方　治痔漏　用蜣螂不拘多少，焙乾為末，先用白礬水洗淨貼之。</p>
<p>又方　用槐花、炒枳殼去瓤各一兩，為細末，醋糊為丸，如梧桐子大。每服二十丸，米飲湯，空心食前下。</p>
<p>又方　用鳳眼草，赤皮蔥，椒，三味搗渣，同煎百滾，盛坐盆內，令熱氣熏痔。但通手洗之，如此不過三次，愈矣。</p>
<p>治五痔，用蒼耳二兩，搗為末。食前粥飲調下一錢，效。</p>
<p>又方　鼠乳痔　用蜘蛛絲纏其上，自然消落。</p>
<p>又方　治痔瘡下血　用馬齒莧洗去土，搗碎絞汁，緩火煎成膏，停冷。每日取少許，作丸，納所患處。</p>
<p>又方　肛門邊腫硬，癢痛不可忍者　以白礬三分，碎研，用熱童便二盞，化開洗痔上。一日二三次，效。</p>
<p>又方　用桃樹根煮汁，一日二三次洗之。或用鹽湯洗之。</p>
<p>又方　用枳殼燒煙熏，一方枳殼煎湯洗，一方枳殼為末，米飲調服，甚效。</p>
<p>又方　用魚腥草（其狀三角，一邊青，山中多有之。其葉若荇菜，多生佛殿陰處。以指捻臭與魚腥相似也）取一握，煎湯熏洗，仍以草挹痔，即愈。</p>
<p>又方　治痔瘡　用鰻鱺燒熏糞門，痔蟲盡死。</p>
<p>治漏瘡惡水自大腸出　用黑牽牛研細去皮，細末一分，入豬腰子內，以線扎青荷葉包，火煨熟，細嚼，溫鹽酒下。</p>
<h2>卷之二</h2>
<h3>痢瀉第二十七</h3>
<p>治痢瀉初起　即以細茶、生薑各三錢，水二鐘，煎至八分服之。重者各五錢煎服即止。不愈再服。</p>
<p>治赤白痢　用薺菜根葉燒灰，湯調下。極妙。</p>
<p>治熱痢不止　用蛤蟆衣草葉搗汁一盞，入蜜半盞，煎溫，分二服。或用蛤蟆衣草子，炒香熟為末。米飲調下。</p>
<p>治諸痢　以艾葉、陳皮煎湯服。</p>
<p>治腸滑久痢　以石榴劈破　簇燒令煙盡，急取出，不令作白灰，用碗蓋地上一宿，為末。以酸石榴一片，水一鐘，煎湯服二錢。亦治泄瀉。</p>
<p>治白痢腹痛　用雜草燒鑊鏽五錢，為末。熱酒調食前服。</p>
<p>治血痢　用鹽梅去核，研一枚，合茶東加醋服之。</p>
<p>又方　罌粟花未開時，外有兩片青葉包之，花開即落地，收取陰乾。患赤白痢垂死者，研為細末。米飲調下一錢，神效。</p>
<p>治噤口痢　湯飲米穀不下者　用蓮子（去殼留紅皮及心）為細末，用井花水調下。每服二錢或三錢，日進二服見效。</p>
<p>又方　累試累驗，用黃連三錢，人參一錢五分，水一鐘半，煎至七分，溫服，藥入口即蘇。</p>
<p>又方名芎粟散　用川芎、罌粟（去蒂）各一兩，共為細末，每服八分，空心蜜湯調下。</p>
<p>又方　用蓮肉去皮炒，為末，每服一錢，空心米飲調下。</p>
<p>治休息痢及疳瀉　用雞子一枚，打破，用黃蠟一塊，如指大，熔化以雞子拌和炒熟，空心食之。</p>
<p>治泄瀉　用五倍子為末，白湯調服。</p>
<p>又方　用生薑二塊，艾葉一把，水煎服。</p>
<p>治暴瀉不止、小便不通　用車前子炒為末，每服二錢，米飲調下，其根葉亦可搗汁服。</p>
<p>治水瀉　用　豬肚一枚，淨洗，去脂膜，入大蒜在內，自晨至晚，以肚蒜糜爛為度，杵成膏子，入平胃散同杵，丸如梧桐子大。每服三十丸，鹽湯或米湯空心服。</p>
<p>又方　用生薑一塊，去皮，破作兩片，刮去薑心，納白礬塞滿，以紙包，火中煨，令干熟取出，以盞合地下一宿，出火氣。卻以百沸湯半鐘，冷水半鐘相和，謂之陰陽水，將薑細嚼，此水送下。</p>
<p>又方　以大蒜搗爛，貼臍下並腳心，立止。</p>
<p>又方　用槐花一合，炒熟為末，米飲下。</p>
<h3>面第二十八</h3>
<p>治面黑痣　用江米十粒，半夏五分，共為細末。用水調成膏子少許，用鑽尖挑在黑痣頭上，待干，剝去黑皮，如有黑，再照前點，如無，再不必點。</p>
<p>又方　用黃瓜割開去瓤，入皮硝於瓜內填滿，外以繩密縛周固，懸於無日風吹之處，下以盆盛之，瓜內水流入盆內，塗於痣上。或以新瓷碗盤角鋒，略去痣上浮皮，以前水塗之，皆效。</p>
<p>治雀子斑　用霜梅肉、櫻桃枝、豬牙皂角、紫背浮萍各等分，研為細末，如常洗面，其斑自去。</p>
<p>治面上瘡　用好白芷一味為末，好酒調，塗瘡上，待干，以井水潤濕之，掃去再塗新者。連易三四次，即愈。</p>
<h3>眼第二十九</h3>
<p>治眼目赤腫翳痛　用鯉魚膽點之。亦治雀盲。</p>
<p>治兩目暴赤　用長流水煎鹽湯二碗，飲後以雞翎於咽喉中探引吐之。又以草莖於鼻中探出血，即愈。</p>
<p>治赤眼　用甘草水磨明礬，敷眼胞上，痛即止。</p>
<p>治風赤眼　用蚯蚓十條，炙干搗為末。臨臥時，以冷茶調下二錢。</p>
<p>又方　用蛤蟆衣草，洗淨搗爛，攤向眼上，帛系之，頃時即瘥。</p>
<p>治赤眼疼痛　用薺菜根搗汁，點眼中。</p>
<p>又方　用冬青葉洗淨，入鹽少許，濃煎，乘熱洗之。</p>
<p>又方　以自己小便洗眼，效。</p>
<p>又方　用水浸黑豆，至夜連皮研細，　眼上睡。或用豆腐貼睡亦佳。</p>
<p>治小兒赤眼　用黃連為末，水調貼腳心，赤眼自退。</p>
<p>治眼腫痛　用生薑自然汁，調飛過白礬，貼眼胞，痛即止。</p>
<p>又方　用青鹽火　，以碗合地上，出火氣，研細。每用半錢，熱湯者一盞泡溫，洗爛眼及拳毛倒睫，效。</p>
<p>治冷淚目昏　用乾薑肥者為末，每用一字沸湯點洗。或用貝母一枚膩白者，胡椒七粒，為末，點之。</p>
<p>治眼癢　多因布巾拭破眼眶，致成爛眩風，不得干好用白礬一兩，銅青一兩，同研細和勻。每用半餞，熱湯半盞泡，澄清，以手蘸開眼如法洗，必澀，不可拭乾。但閉目坐得澀止自開眼。如藥冷，將紙蓋盞面，於湯瓶上頓溫又洗。</p>
<p>一日洗四五次。</p>
<p>治眼翳膜久年不散　每日三次，以舌舐其膜，漸漸下，緣人真氣使然。</p>
<p>治眼生花及翳　用刀刮指甲細屑和乳汁，點翳上，即退。</p>
<p>治眼青盲　以豬膽五枚，取汁於銅器中，慢火煎，令可丸即丸，如黍米大，納眼中，驗。</p>
<p>治眼中　肉　用杏仁十四枚，去皮尖，生嚼吐於手心，乘暖以綿纏箸頭，點　肉上，不過三四度，即瘥。</p>
<p>治諸眼疾　夜含蘿卜一片，數次易之，收諸毒瓦斯。</p>
<p>又方　用野菊花作枕頭，能明目。</p>
<p>又方　用羊膽一枚，入蜜一錢在內，線扎，砂鍋內滿入水煮熟，冷水內浸，取出候干，傾入瓷罐內，以箸點眼四角，效。</p>
<p>治時行害眼並風眼有淚者　用皮硝六錢，水一鐘，煎七分，候冷定洗眼。每日洗數次，眼如童子明，每一月煎一遍。</p>
<p>治物入眼中　用好墨，清水研，箸點即出。</p>
<p>又方　飛絲入眼　用新筆於眼內運攪，即收在筆上。</p>
<h3>耳第三十</h3>
<p>治耳聾　用鼠膽汁滴入耳中。</p>
<p>又方　用樓子蔥尖插耳中。</p>
<p>又方　用九節菖蒲末蓖麻子為膏，綿裹塞耳中。</p>
<p>又方　用蚯蚓三條，鹽少許，貯在蔥葉中，自化為水，滴入耳中，三五日即瘥。</p>
<p>又方　用蓖麻子五十個去皮，與熟棗一枚同搗，更入乳汁，丸如棗核大。每用一丸，綿裹納於聾耳內，覺熱為度，一日一換，如藥難丸，日中晒少時。</p>
<p>又方　口噙甘草一枚，耳中塞二塊，立效。</p>
<p>治耳痛　用鱔魚血數點入耳內，便愈。</p>
<p>又方　用白鹽炒熱，重綿包熨。</p>
<p>又方　用杏仁炒焦研細，以綿裹塞耳。</p>
<p>治底耳　以枯白礬為末，填耳中，立效。</p>
<p>治停耳膿血不止　用白礬燒灰，吹入耳。或以蚯蚓干為末吹入耳。</p>
<p>又方　用青橘皮燒灰研細為末，用綿裹塞耳，日換三四次。</p>
<p>治耳瘡腫痛　用五倍子為末，水調塗。如有水，干糝之。</p>
<p>治百蟲入耳　用兩刀於耳邊相磨，戛作聲，即出。</p>
<p>又方　用瓮器於耳邊敲作聲，即出。</p>
<p>又方　用麻油灌之，即出。</p>
<p>又方　用桃葉　細塞耳自出。或以藍青研汁，滴耳中。</p>
<p>又方　用蔥涕灌耳中，蟲即出。亦治耳聾。</p>
<p>治蜒蝣入耳　用貓尿灌耳立出。取貓尿，用盆盛貓，以生薑擦牙。</p>
<p>治蒼蠅入耳　用皂角子研爛，用生鱔魚血，灌耳中。</p>
<p>治蟻子入耳　用豬精肉一指，火炙令香，置耳孔邊即出。</p>
<p>治蜈蚣入耳　用生薑汁或韭汁灌耳自出。或以熟雞肉一塊，置耳孔邊自出。</p>
<p>治物入耳中不可出　以麻繩剪一頭，散溶牛膠在上，探入耳中，使其物黏之，徐徐引出，效。</p>
<p>水入耳中　薄荷汁點之，效。</p>
<p>治黃豆入耳中　用鵝翎管截長一二寸許，去其中膜，留少許於一頭，以有膜之頭入耳中，口氣吸，即出。</p>
<h3>口第三十一</h3>
<p>治口瘡　用白礬一兩，鐵勺內火熬汁，干黃丹一兩炒，紅色放下，紫色為末，糝瘡上。</p>
<p>又方　用宿砂火　為末，糝瘡上。或用蓮花片貼之，效。</p>
<p>又方　用乾薑、黃連各等分，為末，糝之，吐出涎水，立效。</p>
<p>又方　用生薑自然汁漱口數次，涎出，效。</p>
<p>又方　用吳茱萸為末，醋調塗足心，效。最宜小兒口瘡，不肯服藥者，一帖而愈。</p>
<p>又方　以白礬為末，湯化濯足，或以五倍子為末糝之。</p>
<p>治口唇生瘡　取陳壁上土，細研敷之。</p>
<p>治口唇緊小，不能開合，不能飲食，不治即死。用白布作燈炷，如指大，安斧刀上燃燒，令刀上汗出，拭取敷唇上，日二三度。或用舊青布燒灰，酒調服，或和豬脂塗敷；又以蛇蛻燒灰，先拭淨敷之；又以蠐螬蟲燒灰，豬脂調敷；又燒亂髮蜂房六畜毛灰，用豬脂調敷；又馬齒莧煮汁洗之。</p>
<p>治唇緊燥裂生瘡　用橄欖不拘多少，燒灰，豬脂和塗患處。</p>
<h3>舌第三十二</h3>
<p>治舌強腫如豬胞，以針刺舌下兩邊大脈，血出即消。勿刺著中央脈，令人血不止，則以火燒銅箸烙之。或以雜草燒鑊鏽，醋調敷舌上下，脫去再敷，須臾而消。此患人多不識，失治則死。凡舌腫，舌下必有蟲狀，如螻蛄臥蠶，有頭有尾。頭小白，可燒鐵釘烙頭上，即消。</p>
<p>又方　用　針磨，令極尖，輕刺之，日刺八九次，血出盡，痛減腫消。</p>
<p>治舌忽脹退場門外　用雄雞冠刺血，以盞盛浸舌，就咽下即縮。</p>
<p>治重舌　用鏽鎖燒紅，打下鐵鏽，為末，水調一盞噙之。</p>
<p>又方　用灶中心對鍋底土，酒調塗舌上，用黃丹如豆大，安舌下。</p>
<p>治舌無故出血　以炒槐花為末，糝之，愈。</p>
<p>又方　用亂髮燒灰，水調一錢服。</p>
<p>治飲酒過多，咽喉爛，舌生瘡　用水中田螺蛘肉，以蔥豉薑椒煮汁，飲三盞，效。</p>
<h3>牙第三十三</h3>
<p>治牙疼　用白楊樹皮為末，每服三錢，熱酒調含之漱灌。或以枯白礬熱水漱之。</p>
<p>又方　用蜂房一枚，以盞盛，孔內以火燒，研末，擦牙痛處，鹽水漱吐之。</p>
<p>又方　用蛤蟆頭上白汁，塗綿上，陰乾，以米粒許，塞牙縫。牙根腫者，須針刺出血。</p>
<p>又方　因紅豆，研少許，吹鼻中。</p>
<p>又方　用野芫荽，略捻動，塞鼻中。</p>
<p>又方　用霜殺老絲瓜，燒存性，為末，擦痛處，立止。</p>
<p>又方　因蛀竹屑、陳皮各一兩，烏梅肉研如泥，敷疼處。</p>
<p>又方　用肥皂一個，去瓤，內入山賴、甘松各三分，花椒鹽不拘多少，以塞肥皂滿為度。外用面包裹，煉紅取出，研為細末。每日擦漱，風蟲牙痛俱止。</p>
<p>又方　治牙風痛　用豬牙皂角一個，於門檻上砍作兩截，以酸醋一盞煎滾，候溫漱之，神效。</p>
<p>治蟲蛀牙痛　用韭菜連根淨洗，爛搗，同人家地板上泥和勻，納痛處蛀孔內。又將紙貼痛處腮上，二時取下，細細蟲見於泥上。可除病根。</p>
<p>又方　治蟲牙痛不可忍名一笑散　用椒目為末，以巴豆一粒，研成膏，飯丸，如蛀孔大，綿裹安於蛀孔內。昔有樂清子患此，號呼之聲徹於四鄰，諸藥不效，用此愈。</p>
<p>治牙熱癰腫痛出血　用柳枝扎碎二碗，槐枝扎碎二碗，鹽一碗，加青鹽二兩，井水八碗鍋內煎干炒燥，碾為細末，擦上。</p>
<p>又方　用旱蓮草搗汁，和鹽煎成餅，又碾為細末，每日擦漱服之。</p>
<p>又方　治齒齦出血，用白礬一兩，燒研為末。每用半錢敷齒根下，齒中出血，煎淡竹葉湯，頻漱之。</p>
<p>又方　用當歸極大者一根，去頭尾，入竹筒內，周遭用白鹽填實，用紙塞口，炭火燒存性，為末，擦牙、洗眼。津咽下，又烏須發。</p>
<p>又方　以瀝青研細擦牙堅牢。</p>
<h3>損傷第三十四</h3>
<p>治刀斧傷　用鍛石包裹，定痛止血，立瘥。</p>
<p>又方　用五月五日，采露草一百種，陰乾，燒作灰，與鍛石等分，以井花水和丸，燒白，刮敷瘡上，止血生肌。</p>
<p>又方　用葵葉燒灰，或干葉為末，皆可敷。</p>
<p>又方　用琥珀屑敷之，止血生肌，瘡口即合。</p>
<p>又方　用蟹黃及足中肉熬末，內瘡中筋斷亦可續。</p>
<p>又方　用晚蠶蛾為末糝上，白絹裹，止血生肌，隨手瘡合。</p>
<p>又方　用大黃、鍛石等分，為末，一敷即效。或炒為粉紅色敷。</p>
<p>又方　用桑柴灰敷。</p>
<p>又方　用白芍藥一兩，炒黃為末，酒調二錢服。或米飲調亦止痛。</p>
<p>又方　用綠豆粉新鐵HT　內炒紫色，用新汲井水調稀，濃勻敷損處，貼以紙，將杉木片縛，立效。</p>
<p>治打撲有傷瘀血流注　用半夏為末，調敷傷處，一宿不見痕，效。</p>
<p>治瘀血流注紫黑，或傷眼上紫黑　用大黃為末，以薑汁調敷，一夜一次。上藥一宿黑者紫，二宿紫者白矣。</p>
<p>治從高墜下，及墜馬傷損　取淨土和醋蒸熱，布裹熨之，斯須痛止。</p>
<p>治　撲有傷口　嚼燈心罨之，血即止；或用冬青葉晒乾為末，糝傷處，或細嚼敷上；或用薑汁和酒等分，拌生面貼之；或以桑根白皮搗汁擦之；或用霜梅捶碎罨瘡口，免破傷風。</p>
<p>治破傷風　用病患耳中膜並爪甲上刮末，唾調，敷瘡上，立效。</p>
<p>治破傷風牙關口緊、四肢強直　用鷺鷥頭連尾，燒作灰，研，以臘豬脂調敷。</p>
<p>治破傷風浮腫　用蟬蛻為末，蔥涎調敷破處，即時去惡水，立效。或用魚膠一錢，溶化封之，又酒服一錢。</p>
<h3>癰疽疔毒第三十五</h3>
<p>治癰疽發背，惡瘡腫毒初生，及毒蛇瘋犬所傷　用大蒜切片子如錢濃，安腫上，以艾炙之，蒜熟更換新者，初炙覺痛，炙至不痛即止，初炙不痛，炙至極痛乃止。</p>
<p>又方　治發背　用榆樹（一名舊柳樹）根皮切碎，清水泡洗，搗極爛和香油，遍敷患處，只留瘡頭出氣。若藥干拘急，用苦茶濕潤，藥不黏，更換新者。將愈，用桑葉嚼斷筋，隨大小貼患處，漸收漸小，口合乃止，神效。</p>
<p>又方　治癰疽發背　用大薊根（俗謂之野紅花，其葉似苦　，但其葉出尖處有針刺，四五月間開花）不拘多少，淨洗切碎，研如膏塗瘡上，其冷如冰，初發者能消散，已成者速潰。</p>
<p>又方　用牛皮膠二兩，酒二升同煮，候牛皮膠溶化放溫，令病者徐徐飲盡。如未結成即消，已結成即易潰，已潰即易瘥。如未效，再服必效矣。</p>
<p>治癰疽不消，已成膿不得破　用蠶繭出過蛾兒空殼一個，燒灰，酒調服即穿。</p>
<p>又方　治腫毒未破　用蛤蟆一個，先炒鍛石，後用蛤蟆剁碎，和炒灰研如泥，用帛攤上貼患處，自破。</p>
<p>治一切癰疽，及婦人乳癰初發時　用鷺鷥藤捶碎，不犯鐵器，大甘草節一兩，各生用。水二碗，慢火煎一碗，入無灰酒一大碗，再煎十數沸，去渣，分三次溫服。如無生者，用干者終力淺。更取生葉一把，擂爛，入酒少許調稀稠得所，敷瘡四面，中心留一口泄毒瓦斯，大有神效。</p>
<p>又方　以黃蜀葵花，用鹽糝放入瓷器內，密封，經年不壞，每用敷患處。無花，根葉皆可。</p>
<p>又方　治癰疽發背，初發腫作，便以紙一片，水浸濕搭腫上，視其上一點先干者，即是正頂。先以水和面作圈，安於正頂上，卻用大馬蜞一條（一名螞蟥）安於中，頻以冷水灌之，馬蜞當吮其穴，膿血出毒即散。如毒大蜞小，須用三四條方見功。若吮著正穴，蜞必死，用水救活，其瘡即愈，累試奇效。血不止，以藕節研爛塗止之，茅草花亦好。</p>
<p>又方　治癰疽發背、瘰　、疔瘡、漏瘡，衛護心膜，驅解諸毒自然內消　用徹明礬生用二兩為末，黃蠟一兩二錢溶汁，就爐上入礬拌和，眾手丸如梧桐子大。每服十五丸，溫錢或冷酒常服之。或以枯白礬、炒鹽等分，細研。每服一黃，新水調，瘡未回再服，瘡回覺痛即止。漏瘡，用雞肫內水皮為末塞孔。</p>
<p>治附骨疽久不瘥，膿汁敗壞，或骨從瘡孔出　用大蛤蟆一個，切碎；亂頭發一握，如雞子大；豬油四兩。以豬油煎前藥，濾去渣，如膏。先以桑根皮、烏豆煎湯洗，拭乾，　龍骨末糝瘡四畔，令易收斂，卻用膏貼之。</p>
<p>治坐馬癰　用紡車弦瓣繩紡乏者，燒灰敷。</p>
<p>治便癰　用皂角不蛀者，燒過，陰乾為末，酒調服。或用皂莢子十粒，水服之。又用皂莢炒焦，小粉炒等分和勻，以熱醋調，仍以紙攤貼患處，頻頻水潤之，效。</p>
<p>又方　用胡桃仁七個，燒過，陰乾為末，酒調服之，不過三服。或用生蜜米粉調服。休吃飯，利小便，效。</p>
<p>治男子陰頭癰用鱉甲為末，雞子清調敷。</p>
<p>治疔瘡　用蒼耳子根梗苗，但取一色，燒灰，和醋澱如泥，塗，干再換上，不過十次，即拔出根。</p>
<p>又方　用生蜜與隔年蔥，一處研成膏，先將瘡周遭以竹　刺破，然後用藥於瘡上攤之，用緋帛蓋覆，如人行二十裡，覺疔出，然後以熱醋湯洗之。</p>
<p>又方　用白梅肉、荔枝肉同搗成膏，捻作餅子，依瘡大小安上，根即除。</p>
<p>又方　治疔瘡垂死者　用甘菊花葉一把，搗汁一盞入口即活。冬月用根，此方神效。</p>
<p>又方　用蟬蛻、僵蠶為末，酸醋調塗四畔，留瘡口，根出稍長，然後拔去，再用藥塗瘡上。</p>
<p>又方　取蟾酥　以白面黃丹搜作劑，丸如麥粒狀，用指甲扯動瘡上插入。重者針破患處，以一粒納入，仍以水沉膏貼之。取蟾酥法：用癩虼　（即蛤蟆）於眉刺破，把手按出酥於油紙上或桑葉上，然後插在背陰，經宿則自干白，於鵝翎筒內盛之。水沉膏法：用白芨末半錢，水盞內沉下，澄去水，卻於皮紙上攤開貼瘡上。</p>
<p>治魚臍疔瘡　用絲瓜葉、連須蔥、韭菜，同入石缽內，搗爛如洗。以酒和服。初貼腋下。如病在左手，貼左腋下，在右手貼右腋下，在左足貼左胯，在右足貼右胯，在中則貼心臍。並用帛包住，候向下紅絲皆白則愈。如有潮熱亦用此法，卻令人抱住，恐其顫倒，則難救矣。</p>
<p>又方　治魚臍瘡頭黑皮破　黃水出四畔浮漿　用蛇蛻燒存性，細研，雞子清調敷。</p>
<h3>諸瘡第三十六</h3>
<p>治瘰　用蓖麻子炒熟去皮爛嚼，臨睡服三二枚，漸加至十數枚，甚效。</p>
<p>又方　將臘月貓屎，用新瓦二片合在內，外用鹽泥封固，燒成灰，以少油調塗瘡口上。</p>
<p>又方　治瘰　已潰未潰　用蝸牛不拘多少，以竹絲串尾上，晒乾，燒存性，入輕粉少許，豬骨髓調，用紙花量瘡大小貼之。一法：以帶殼蝸牛七個，生取肉，入丁香七粒於殼內，燒存性，與肉同研成膏，用紙花貼之。</p>
<p>又方　用大田螺並殼肉燒存性，為末，破者干貼，未破者清油調敷。</p>
<p>又方　用不蛀皂莢不拘多少，每三十條作一束，以棕櫚裹之。縛定於冷糞缸內，浸一月取出。卻於長流水內再浸一月，死水不能浣洗，不可用。去棕櫚晒乾，不得焙，搗為末。每一兩入麝香半錢，全蠍七個，研細拌勻。每服一二錢，溫酒或飲湯調下。</p>
<p>又方　用乾薑不拘多少，為末。用薑汁打糊和作劑子，用黃丹為衣，每日一次，隨瘡大小入藥在內，追膿盡生肉為度，瘡口合則已。如瘡口不斂，用大黃末以蔥白汁調搽即愈。仍日服十宣內托散二服。如瘡腫不破者，用野菊花擂爛煎溫服，仍將菊花根為末，貼瘡上自消。或不消瘡口亦自破，依前用藥劑。</p>
<p>又方　以手仰置肩上，微舉肘取之，肘骨尖上是穴。隨患處左即灸左，右即灸右，艾炷如小箸頭大。再灸，如前不過三次，永無恙，所感稍深，三灸平安。</p>
<p>又方　以蒜片貼著　上，灸七壯，如蒜熟易蒜，多灸取效。</p>
<p>治項後生疙疽，不論大小及日月深遠，或有赤硬腫痛用生山藥一挺去皮，蓖麻子二個，研勻攤帛上貼之，如神效。</p>
<p>治瘤贅　凡皮膚或頭上生瘤，大者如拳，小者如栗，或軟或硬，不疼不痛者　用天南星一枚，細研稠黏，用米醋五七滴為膏。如無生者，用干者為末，醋調如膏。先將小針刺患處令氣透，卻以藥膏攤紙上，象瘤大小貼之。</p>
<p>又方　治瘤贅兼去鼠奶痔　用芫花根淨洗帶濕，不得犯鐵器，於木石器中搗，取汁。用線一條，浸半日或一宿，以線系瘤，經宿即落。如未落，再換一二次自落。後以龍骨、訶子末，敷瘡口即合。用之累效。如無根，只用花泡濃水，以浸線。</p>
<p>又方　用蜘蛛絲勒瘤子根，三二日自然退落。</p>
<p>治反花瘤　用馬齒莧一斤，燒灰研細，豬脂調敷。</p>
<p>治　瘡　用黃蠟，煉，攤冬青葉上貼縛定，日周又換一葉，至七日換七葉，愈。</p>
<p>又方　用黃蠟熔化，油紙攤成膏藥十二個，半日一換，換時以先貼者加其上，不待盡而愈。</p>
<p>又方　用韭菜地上蚯蚓泥，干為末，入輕粉清油調敷。</p>
<p>又方　用白　土不拘多少，火　通赤，研細，生油好粉調塗。或用真百藥煎填之，或以五倍子末糝之，亦妙。</p>
<p>治冷　瘡　用鹿角灰、發灰、乳香為末，清油調敷。</p>
<p>又方　治　瘡成臼，累月不干　用上等好砂糖，先用鹽湯淋洗，後絹帛拭乾，以津唾塗，卻以此敷上，三日愈。</p>
<p>治外　生瘡、臭穢潰爛、數年不愈者　用生龜一個，烏者，打死去肉取殼，酸醋一碗炙醋盡為度，仍　令白煙盡，須存性，碗合地上一宿出火氣，入輕粉麝香拌勻。先以蔥湯洗，拭乾方用藥敷。</p>
<p>治腳脛骨上生瘡久爛黑，或發孔，或臭穢不可近　用蜒蝣十條，小竹簽穿定瓦上焙乾，為末。真清油調敷，神效。</p>
<p>又方　用多年老杉木節燒灰，真清油調，箬葉盛，隔貼瘡上，以絹帛扎定，不數貼而愈。</p>
<p>治腳肚生瘡，初如粟米，漸大，爪搔不已，成餅包腳相交，黃水出，癢不可忍，久疾難愈　用百藥煎，研細津咽調逐遭塗敷，自外而入，先以貫仲煎湯淋洗，後用藥。</p>
<p>又方　用石榴皮濃煎，稍冷掃瘡上，冷如冰即成痂。</p>
<p>又方　用鱔魚一條，黃色者，先將打死，卻用清油塗其腹下，置瘡上盤屈令遍，用帛絹系定。食頃，覺瘡痛不可忍，然後取鱔魚腹下有竅如針眼大，皆蟲也。如未盡，再用一條依前再縛。蟲去盡，卻用死人腳脛骨燒灰，清油調敷，或以骨灰一兩，入好茶末二錢同調亦可。</p>
<p>又方　治足上瘡臭穢潰爛　用藍子一枚，燒為末，入膩粉少許，井水調塗，效。</p>
<p>又方　治　瘡並搭手發背等瘡　用蔥白一斤，鍛石二斤，馬齒莧一斤，三味濕搗同團，陰乾為末，貼瘡上，效。</p>
<p>治一切腫毒初生　用苧根、蔥頭、生薑、炒小粉、赤豆同搗碎頓熱罨上，冷再換。</p>
<p>又方　治卒得惡瘡不識者　用桃皮為末，納瘡中。</p>
<p>又方　治腫毒無頭者　用蛇蛻貼於腫處。</p>
<p>治惡瘡無頭　用皂角刺燒灰，陰乾為末，酒調三錢，嚼葵菜子三五粒送下。</p>
<p>治一切惡瘡不收口　用瓦松不拘多少，陰乾為末，先用槐枝、蔥白湯洗過，糝之立效。炙瘡久不收者更效。</p>
<p>治諸惡瘡中新　肉出　用烏梅肉蜜和搗作餅子，如錢濃，貼瘡上。</p>
<p>治諸瘡因度水腫者　用生白礬末水調塗之，自消。</p>
<p>治一切腫毒瘡　用臘桑葉為末，以新汲水調塗之。如有膿干糝在上，如在腳膝，敷了用帛裹之。</p>
<p>治多年惡瘡　用冬瓜葉陰乾瓦上焙，研細，糝瘡濕處。或用多年鍛石研細，雞子清調成塊，火　過，候冷再為末，薑汁調敷。或用枸杞根為末，鹽洗淨，干糝，妙。</p>
<p>又方　用馬齒莧搗爛敷之。亦治翻花瘡，其形如花開之狀，燒灰，豬脂調敷。</p>
<p>又方　用雞腸草研細取汁，敷其瘡，以渣罨之。或為末，以豬脂調敷，甚效。</p>
<p>又方　以天茄葉貼之，或為細末貼亦妙。</p>
<p>又方　以蒲公英搗如泥，貼一切惡瘡並蛇傷。</p>
<p>又方　用野葡萄根紅者去粗皮為末，新水調塗腫上，頻掃新水。</p>
<p>治鬢邊生軟癤，名髮鬢，有數年不愈者　用豬頸上毛，貓頸上毛各一撮，燒灰，鼠屎一粒為末，以清油調敷。</p>
<p>治遍身熱毒瘡，痛而不癢，手足尤甚，黏著衣被，夜不得睡　用菖蒲為末，多鋪於席上使病者恣臥其間，仍以衣被覆之，五七日愈。疹瘡爛，用艾鋪亦可。</p>
<p>治遍身癮疥疼痛　用白薑蠶一兩，炒黃色為末，分四分，酒調服。</p>
<p>又方　用明礬、朴硝為末　井水調，雞羽掃，敷上。</p>
<p>又方　用蠶沙以新水煎，無風室內溫洗，效。</p>
<p>治遍身白疹，瘙癢不止　用小枸橘不拘多少，切作片，麩皮炒黃為末。每服二錢，酒浸少時，去枸橘，但飲酒，仍以枸橘煎湯洗患處，妙。</p>
<p>治三十六種風結瘡　用馬齒莧五斤　黃蠟三兩　水一鍋，煎成膏，敷上。</p>
<p>治五般瘡癬　用韭根燒存性，旋搗末，豬脂調敷。</p>
<p>治諸瘡　用韭菜不拘多少，先燒熱湯，以盆盛上，用板蓋之，留一竅，卻以韭菜於湯內泡之，以糞門坐竅上，令氣蒸熏，候溫，用韭菜軟軟洗瘡。數日自下　或芫花煎洗。</p>
<p>治面上生瘡　用枇杷葉，布擦去毛，炙干為末，食後茶湯調下二錢。</p>
<p>又方　用鏊子底黑煤，入於小油內，以匕打成膏子，攤在紙上貼之。</p>
<p>治人面卒得赤黑丹如疥狀　不急治遍身，即死。用鹿龜燒灰，豬脂和塗上。</p>
<p>治腮腫　用赤小豆為末，醋調敷之，立效。</p>
<p>治人面瘡　用貝母為末，小蘆筒灌瘡口，數日愈。</p>
<p>治疥瘡　用豬肚二個，放皂莢同煮熟，去皂莢，食之，妙。</p>
<p>又方　治善惡瘡疥或赤腫者　用赤小豆四十九粒為末，以苧根搗爛和之。敷赤腫處及四旁，落則再敷，或用赤小豆銼散。每服二錢，水一盞煎服，尤佳。</p>
<p>治火氣入瘡　用黃柏皮為末糝之，或薄荷煎塗亦可。</p>
<p>治白禿瘡　用慈竹上蟲兒不拘多少，研，用牛尿調搽，先洗剃去瘡靨，後上藥。</p>
<p>又方　用甜瓜蔓龍頭不拘多少，河水浸一宿，以砂鍋熬取極苦汁，濾去瓜蔓，以火熬成膏，盛於瓷器中。先剃頭去盡瘡痂，使血出盡以河水洗淨。卻用瓜蔓膏一盞，加半夏末二錢，生薑汁二匕，狗膽一個，同調敷，不過二三次立愈。</p>
<p>忌豬魚動風之物。</p>
<p>又方　用羊糞熬湯，洗去痂，屋懸煤炒為末，油調敷瘡上。</p>
<p>又方　用破舊朱紅漆器，剝朱漆燒灰，油粉調敷。</p>
<p>又方　用鯽魚一個，重三四兩者，去腸肚。以亂髮填滿，濕紙裹燒存性，雄黃二錢，共為末。清油調敷，先以齏水洗拭後用藥。</p>
<p>又方　治大人小兒禿瘡及惡瘡　用苦楝皮燒灰，以豬脂調敷。</p>
<p>治癬　用午時取碗葉研汁敷之，或用禿菜、酸醋磨敷。</p>
<p>又方　用　針磨，令極尖快，當癢時，於癬上各刺百余針，血出盡，煎鹽湯洗之。未愈再針再洗。</p>
<p>治狗癬疹　用地瀝青不拘多少，鐵器內熬，次下鵓鴿糞、雞糞細末同和，加香油少許擦之。</p>
<p>治紫白癜風　用禿葉根同白礬、五倍子、無名異和醋搗碎，先以苧麻刮熱，以藥擦之，三四次絕根。</p>
<p>又方　治白紫癜風及諸風瘡癮疹名蒼耳丸　五月五日割取蒼耳草葉，洗淨晒乾為末，煉蜜丸，如梧桐子大。每服十丸，日三服。若身體有風處，或如麻豆粒，此為風毒出也。可以針刺，黃汁出盡，乃止。</p>
<p>又方　用干浮萍四兩，漢防己三錢，同煎湯，熱洗白癜風一切斑疹疥癬，神效。</p>
<p>治艾火帶　用白鱔泥炒研細，香油調敷之。</p>
<p>又方　雉雞毛及鵝毛燒灰敷之。</p>
<p>治下部生濕瘡　熱癢而痛，寒熱，大小便澀，食亦減，身面微腫　用馬齒莧四兩，研爛，入青黛一兩，再研勻敷上。</p>
<p>又方　用紅椒開口者七粒，連根蔥白七個，同煮水洗淨，用絹衣　干，即愈。</p>
<p>治陰癢汗出疼痛　用生大豆嚼碎，一日三四次敷上。</p>
<p>治陰瘡　用桑樹根白皮，搗汁洗之。</p>
<p>又方　用胭脂、綠豆粉，同研勻敷之。</p>
<p>又方　用臘茶、五倍子等分，膩粉少許敷之。</p>
<p>治陰囊上生瘡　用甘草煎湯溫洗，卻用臘茶末敷。</p>
<p>治陰頭生瘡　用溪港中螺螄，入干鍋內　過，先以鹽水洗五十次，後以此藥敷之。</p>
<p>治妒精瘡　用大田螺兩個，和殼　過存性，為末。入輕粉搽患處，即安。</p>
<p>治外腎生瘡　用綠豆粉一分，蚯蚓屎二分，水研塗，干又敷。</p>
<p>治腎臟風發瘡疥　紅椒去目，水浸半日，和生杏仁研爛，擦兩手掌掩外腎，極效。</p>
<p>治下疳瘡　用白礬一兩，黃丹八錢，熬飛紫色，研為末。以溝渠中惡水洗過拭乾，敷上。</p>
<p>又方　用五倍子為末，以漿水洗干，貼之。</p>
<p>治漏瘡惡水自大腸出　用黑牽牛，研細去皮，細末一分。入豬腰子內，以線扎，青荷葉包，火煨熟，細嚼，溫鹽酒下。</p>
<p>治漏瘡，肛門周匝有乳數十，諸藥不效　用熟犬肉，蘸濃藍汁空心食之，七日自安。</p>
<p>又方　用信石，新瓦上火　為末，以津液潤紙探子蘸少許，捻入瘡孔內，如瘡多，不可齊上，免使害人。</p>
<p>治久冷漏瘡　用活鱔魚五六條，擲地以竹針貫之，覆瘡良久，當有蟲出如線。復之，使盡，用檳榔黃連末敷。明日，以干艾作湯，投白礬三二錢洗。不一月，全愈。</p>
<p>治脫肛　用鱉頭一枚，燒煙盡，為末，敷肛門上，就將舊麻鞋底按入，即不出。</p>
<p>又方　用槿樹葉煎湯熏洗，後以生五倍子、白礬等分為末，敷上。</p>
<h3>雜方第三十七</h3>
<p>治骨鯁　用野苧根搗爛，丸如龍眼大。魚骨鯁，魚湯化下；雞骨鯁，魚湯化下。</p>
<p>又方　用威靈仙五錢，縮砂三錢，甘草二錢，水一鐘，煎至四分，入口噙漱，入喉呵氣，即愈。</p>
<p>又方　以橄欖食即下。無，則核搗為末，用流水調下。</p>
<p>又方　用獺爪於咽喉外爬之，即下。</p>
<p>又方　用　樹子泡湯咽下，骨自消。</p>
<p>又方　用金鳳花子嚼爛噙下，無子用根亦可。</p>
<p>又方　用威靈仙根不拘多少，以好米醋浸一二日，晒乾為末，醋糊為丸，如梧桐子大。每服一丸或二丸，半茶半湯下。如要吐，用砂糖銅青為末半匕，滴油一二點，同茶湯調服，即吐出原物。如藥性來遲，令患人兩手伏地，用清水一盆，以鵝翎口中攪探，即吐。</p>
<p>又方　治魚骨鯁　用砂糖，白炭皮末，紫蘇葉，滑石末和丸。含口中，津液咽下，骨自隨下。</p>
<p>又方　用縮砂、甘草等分為末，以綿裹少許噙之，旋旋咽津，久之隨痰吐出。</p>
<p>又方　治獸骨鯁　用象牙梳磨水咽下。或以桑木上蟲屑末醋煎，灌漱自下。</p>
<p>又方　用皂角末吹入鼻中，令涕出。</p>
<p>治誤吞針類　用木炭燒紅急搗灰，米湯調下三兩杯，或用熟艾煮濃汁飲，便解。</p>
<p>又方　治吞針並釣子魚骨雜物，須多食諸般肥食，自然裹出。若吞稻麥芒於咽喉間，急取鵝口涎水，咽之。</p>
<p>治誤吞竹木不得出　用舊鋸子燒赤，投酒中熱飲。</p>
<p>治誤吞金銀或銅錢入腹　用鍛石一杏核大，硫黃一皂角子大，同研末，酒調服。</p>
<p>又方　用肥豬肉與葵菜作羹，餐數頓，則銅鐵自然下。</p>
<p>又方　誤吞銅餞　用桑柴灰細研，米飲調下二錢；或用綠豆粉冷水調下三錢；或茨菰取汁呷；或濃煎艾湯飲：或多服飴糖，立效。</p>
<p>治針刺折在肉中　用栝蔞根搗爛敷上，一日換三次，自出。</p>
<p>又方　用車脂攤紙上，如錢許。貼上二日一換，三五次，其針自出（車脂即車軸頭上油膩也）。</p>
<p>治竹木簽刺入肉　用牛膝草根嚼罨之，即出。</p>
<p>又方　以象牙屑敷之，或以白梅肉敷之，立效。</p>
<p>又方　用羊糞為末，水調，塗刺上，候疼搔之，刺自出。或嚼栗子敷之，亦妙。</p>
<p>治手指甲頭腫　用烏梅捶碎，去核肉，只取仁研，米醋調入潰之，自愈。</p>
<p>治腳趾縫爛　用鵝掌黃皮，燒存性，為末，糝之。</p>
<p>治指縫瘙癢成瘡，有竅出血不止　用多年糞桶箍篾燒灰敷。</p>
<p>治腳汗出　用白礬、干葛煎湯洗，效。</p>
<p>治遠行腳上打損　用雜草燒鑊鏽和飯黏，研成膏貼之，用紙封上。若打泡，用油線穿過，兩頭剪斷，亦用鑊鏽飯黏貼之。</p>
<p>治遠行腳心腫痛　用蚯蚓泥敷腫處，高擱起腳，一夕即愈。</p>
<p>治杖瘡　用黍米燒灰，和油塗，止痛不作瘢。黍米不可與小兒食，不能行，緩人筋骨，令人好睡；亦不得和牛肉食，生寸白蟲。</p>
<p>又方　杖畢，飲童便和酒，免血攻心　用熱豆腐鋪在杖紫去處，其氣如蒸，其腐即紫。復以熱豆腐鋪之，以紫肉散盡，淡紅為度。</p>
<p>又方　用五倍子去瓤，米醋浸一日，慢火炒黃為末，干糝。不破腫痛者，以醋調敷。</p>
<p>又方　用雄黃二分，無名異一分，細研，水敷極妙。</p>
<p>又方　用水粉一兩，赤石脂一錢生用，水銀一分，以麻油杵成膏，攤傘紙上貼之緊縛，如肉陷者，用此膏填滿，然後貼上，立效。</p>
<p>又方　若腫痛　用大黃、黃連、黃柏、黃芩各三錢，乳香、沒藥各一錢，別研，腦子少許為末。冷水調勻，攤緋絹上貼之。</p>
<p>又方　若瘡熱毒疼痛　用黃丹一兩，蜜陀僧半兩，輕粉一錢半，麝香半錢，龍腦一字，為末。糝瘡上，以青帛蒙之，中留一竅。</p>
<p>又方　用蠶出繭殼，燒灰存性，為末。每服三錢，酒調下，甚妙。</p>
<p>治湯燙火燒　用多年廟上獸頭為末，小油調敷之，效。</p>
<p>又方　用桐油塗上，或土朱磨敷之。</p>
<p>又方　水調銀朱敷之。</p>
<p>又方　用麻油浸黃蜀葵花敷之。</p>
<p>又方　用　豬毛燒灰，香油擦患處。</p>
<p>又方　用螺螄殼多年干白者，火　過為末。如瘡破，干糝；如不破，清油調敷。</p>
<p>又方　用雞子煮熟，去白用黃，於鍋內熬油出，冷敷之。</p>
<p>又方　用山梔子濃調雞子清，以鵝毛輕拂上。</p>
<p>又方　用側柏葉燒存性，為末，雞子清調敷。</p>
<p>又方　用醋瓮泥敷之，或以生柏葉搗爛敷；或用干桑葉為末，干者蜜調敷，濕者干糝；或用鹽糝上用手按之；或以豆漿塗之。</p>
<p>又方　治向火多生炙斑瘡有汁　用黃柏、薄荷葉為末，糝之。</p>
<p>治凍瘡　用茄根濃煎湯沸洗，以雀兒腦髓塗之。</p>
<p>又方　用鵝掌黃皮焙乾，燒灰存性，為末，溫則糝之。</p>
<p>又方　手足凍裂　用白芨不拘多少，為末，調敷裂處。</p>
<p>又方　用五倍子為末，同牛骨髓填縫內，即安。</p>
<p>又方　用頭發一大握，桐油一碗，於瓦器內熬，候油沸頭發溶爛，出火攤，以瓦器收貯，不令灰入。每用百沸湯泡洗皸裂，令軟，拭乾敷之，即安。一方加水粉。</p>
<p>治冬月手足開裂　用清油半兩，以慢火煎沸，入黃蠟一塊同煎，候溶。入光粉五倍子末少許熬，令稠紫色為度。先以熱湯洗，火上烘乾即用藥敷，薄紙貼之。</p>
<p>又方　用五倍子為末，和牛鼻繩末填縫內，即自愈。</p>
<p>又方　治手足開裂，經春夏不愈者　用生薑汁，紅糟鹽，同臘月豬膏研爛。熱擦入皸內一時雖痛，少頃便軟，皸合，再用即安。</p>
<p>又方　用瀝青二兩，黃蠟一兩共熱攪勻，瓦罐盛貯。先以熱湯洗，令皮軟拭乾，將藥於慢火炙溶，敷之。</p>
<p>治酒　鼻　用白鹽常擦為妙。</p>
<p>治鼻瘡　用杏仁研乳汁和敷，或以烏牛耳垢敷。</p>
<p>治痱子痛癢　用淨水搗楊柳青蒿汁，調蛤粉敷；雪水尤妙。</p>
<p>治漆毒成瘡　用磨鐵槽中泥塗之，或以蟹黃塗之，愈。</p>
<p>治瘢痕出靨　用桑柴灰汁熬成膏，草莖刺破，以新水沃之，忌油膩等物。</p>
<p>治蛀干瘡　用黑油傘紙燒灰，合地上一宿，出火氣，敷瘡上，便結靨，效。</p>
<h3>婦人第三十八</h3>
<p>治婦人月水不通　用鼠屎燒灰一錢為末，熱酒調下。</p>
<p>治婦人血氣不行，上氣衝心　用絲瓜蒂一個，燒灰，空心酒調，每服一個。</p>
<p>治婦人血崩　用槐角燒灰為末，每服二錢，酒調下，效。</p>
<p>又方　用蠶沙不拘多少，為末。每服五錢，熱酒調服。</p>
<p>又方　治婦人血崩不止　用槐花二兩，棕毛燒灰五錢，水煎，入鹽少許，空心服。或以烏梅燒灰，烏梅湯下。</p>
<p>又方　用蓮蓬殼燒存性，酒服方寸匕。</p>
<p>又方　用血蠍草為末，薑酒調服，一服而愈。血蠍草生於磚縫井頭，少在地上。</p>
<p>又方　用鹽梅七個，燒為末，空心米飲服。</p>
<p>又方　用陳槐花一兩，雜草燒鑊鏽半兩，為末，燒紅秤錘淬酒下。</p>
<p>又方　治血崩不止　用白扁豆花焙乾為末，紫者不用，炒米煮湯，入炒鹽少許，空心數服，即效。</p>
<p>又方　用棕櫚皮、絲瓜蒂燒灰，等分為末。鹽酒或鹽湯下。效。</p>
<p>又方　治血崩　用野紅花取根，洗淨研汁半盞，以溫酒半盞和服，立止。</p>
<p>治婦人白帶下　用好酒同艾葉不拘多少，煮雞卵熟，空心只食雞卵。</p>
<p>治婦人赤白帶下　用酸石榴五枚，連皮搗攪汁。每服半盞，空心下。</p>
<p>又方　用石榴東引根二把，煮汁服。</p>
<p>治婦人六十二種風，及腹中血氣刺痛　用紅花二兩，酒二盞,煎八分，溫服。</p>
<p>治婦人血風攻腦，旋倒地不知人事　用蒼耳草心不拘多少，陰乾為末。不時薑湯服一錢，效。</p>
<p>治婦人臟躁，悲傷欲哭，象鬼神所附者　用小麥一升，甘草二兩，大棗五兩，每服一兩，水二盞，煎一盞服。</p>
<p>治婦人自哭自笑　用紅棗燒存性，米飲調下。</p>
<p>治婦人乳癰　用赤小豆三合，酒研爛去渣，溫服留渣，敷患處。</p>
<p>又方　治乳癰爛見心者　用貓兒腹下毛，干鍋內　存性，為末，干糝，或清油調入輕粉少許敷之。</p>
<p>又方　用皂莢刺燒灰，和海蛤粉為末，熱酒調下。揉散亦可。</p>
<p>又方　用銀杏半斤，四兩用酒研服，四兩水研敷癰上。</p>
<p>又方　用黃栝蔞一二個，連皮瓤子切碎，以無灰酒一碗，於瓶內煮半碗，去渣。時時溫服，酒盡再煮服。初時便服此藥，即時痛止，更不成瘡。如已成瘡，服之，其瘡自穿，而痛止。</p>
<p>又方　治乳上才覺硬腫作痛，以蔥早熨之。其法：用樣闊口瓶，以炭火入瓶內，上以熱灰填蒲瓶口，用蔥葉及蔥白捶損，令遍覆瓶口。以手帕裹瓶，倒執將瓶口向腫處任意輕輕熨之，有驗。</p>
<p>又方　治乳癰將潰　以小長罐燒紙錢在內，急以罐口安乳上，盡吸其毒瓦斯。</p>
<p>治婦人吹乳極效　用百齒霜（即木梳上篦頭垢也），不拘多少，用無根水為丸（即吊桶反瀝出者是也），如雞頭大。日服二三丸，倒流水吞之。服後，令病患左乳者左臥，右乳者右臥，於無風溫熱處臥，汗出效（取倒流水法用新汲水傾屋上接之）。</p>
<p>又方　以橘皮燒灰存性，食後熱酒調下二錢。</p>
<p>治婦人乳硬作痛　用嫩桑葉，左采研細，米飲調攤紙花，貼病處。此證，四十以下可治，五十以上不可治。治之則死，不治則得終天年。</p>
<p>治婦人乳頭裂　取秋後冷露茄子裂開者，陰乾燒存性，為末。水調服，未秋時但裂開者亦可。</p>
<p>治婦人血塊痛　用牛膝草根，酒煮服，效。</p>
<p>治婦人癖塊　用小便服之，每日溫服一盞，至二十日血片下，即瘥。</p>
<p>又方　醋煎大黃，生者服之，甚效。</p>
<p>治孕婦咳嗽　用貝母去心，麩皮炒，令黃，去麩皮，為末。研砂糖拌勻，丸如雞頭大，含化一丸，神效。</p>
<p>治婦人胎漏　用蔥白一把，濃煮汁飲之，甚效。</p>
<p>治婦人胎漏下血，手足厥冷欲死　用生艾汁二盞，牛皮膠、白蜜各二兩，煎一盞半。稍熱服之，無生艾，濃煎干艾。一方加刮下竹青一大把同煎。</p>
<p>治婦人因爭斗或跌撲從高墜下，或為重物所壓，觸動胎氣，腹痛下血。服此後覺胎動極熱，胎氣已安，用縮砂不拘多少，於熨斗內炒令熱透，去皮取仁，研為末。每服二錢，熱酒調下，不飲酒煎艾鹽湯或米飲下。</p>
<p>又方　用苧根一把，洗淨，生薑五片，煎調粥服之，效。</p>
<p>治孕婦忽腹絞痛　用棗子十四枚，燒焦為末，童便調服。</p>
<p>又方　用鹽一合，燒赤，以指撮酒中調服。</p>
<p>治孕婦兒在腹中哭　用多年空屋下鼠穴中土一塊，令孕婦噙之即住。一方川黃連煎汁，令母呷之。</p>
<p>治婦人胎前產後赤白痢　用敗龜板一個，醋炙，搗為末。米飲調下。</p>
<p>又方　用生薑自然汁，年少者十兩，老者二十兩，鴨子二個，打碎入薑汁內攪勻，煎至八分，入蒲黃三錢，煎五七沸，空心溫服。效。</p>
<p>又方　治懷胎下赤白痢，絞刺疼痛　用雞子一個，烏者尤妙，梢頭作一竅子，傾出青者留黃在內。黃丹一錢，入前雞子殼內，打令相勻，以濃紙裹黃泥固住，火上炙熟焙乾為末。每服二錢，米飲調下，一服愈者是男，兩服愈者是女。</p>
<p>奇效。</p>
<p>治婦人難產或橫生，或孕婦下血或脹滿，用鐵秤錘燒赤，投酒中飲之。</p>
<p>又方　治難產　用清油一盞，水一盞，對和。用銀簪打和飲之。</p>
<p>又方　用鳳仙子二錢，研碎水下。</p>
<p>又方　用黃蜀葵子二錢，同鳳仙子並服。</p>
<p>又方　用黃蜀葵子七十粒，搗碎，酒調服。</p>
<p>又方　用蠶蛻紙半張，燒灰，白湯調下。</p>
<p>又方　用香白芷、雜草燒鑊鏽各等分，為末。每服二錢，童便米醋各半呷，沸湯澆入六七分，點眼，見效甚速。</p>
<p>再服即分娩矣，或用蜀葵子四十九粒，白滑石末三錢，順流水煎湯調。空心二服，如人行五裡，即下。</p>
<p>又方　治生產五七日不下垂死者，及矮石女交骨　用川芎、當歸各一兩，自死干龜殼一個，酥炙黃男女頭發一握，燒存性，共為末。每服三錢，水半鐘，煎服。約人行五裡，生胎死胎俱下。無自死龜殼，用鑽過廢殼亦可。</p>
<p>又方　應急催生　用清油同蜜等分，少許湯調頓服。</p>
<p>又　蜀葵子炒為末，順流水溫暖調服，亦下死胎。</p>
<p>又　好京墨新汲水濃磨，服之，墨水裹兒出，效。</p>
<p>又　敗筆頭二個，燒灰，以藕節研自然汁溫酒調下，效。</p>
<p>又　產婦坐草時，取路旁草鞋一只，用鼻絡小耳繩燒灰，溫酒調服。如得左足者男，右足者女，覆者兒死，側者兒驚，催生極驗。</p>
<p>又方　催生　用蓖麻子，研，敷產婦手足心，產後速拭去。或以兩手各執一枚，立下。</p>
<p>又方　治難產久氣力乏不能生，兼惡露盡出干不能產者　用赤小豆二升，以水九升，煮熟取汁，入泡過明阿膠一兩，同煎少時，一服。如未效，再服。不過三四服，即產。</p>
<p>治婦人逆生倒產　用蓖麻子三十粒，研爛。婦人頂上剃去發，少塗之。須臾，覺腹中提正便刮去，卻於腳心塗之，自然順生。</p>
<p>又方　治逆生，須臾不救母子俱亡　用蛇蛻一條，蟬蛻十四個，頭發一握，並燒為灰。每服二錢，溫酒調，並進二服。仰臥，霎時兒即順生。</p>
<p>又方　用小絹針，於兒腳心刺三五七刺，用鹽少許，擦刺處，即時順生，母子俱活。</p>
<p>又方　用槐子二七粒，井花水吞下。</p>
<p>又方　治橫逆不順手足先出，或子死腹中　用灶中心對鍋底土，細研。每服一錢，酒調下。兒頭戴出，妙。更用搽產母臍中，亦妙。或用菟絲子末、車前子，米酒調下。</p>
<p>又方　治橫生逆產，諸藥不救，但灸右腳小指尖頭二壯，艾壯如小麥大，下火，立產。</p>
<p>治子死腹中，口中屎臭，舌青，口出冷氣，指甲青　用栝蔞根為末，逆流水調五錢服。</p>
<p>又方　用灶中心對鍋底土三錢，水調下。又治產後惡物不下，上攻心痛。</p>
<p>又方　先用平胃散一帖，作兩服。每服酒水各一鐘，同煎至一鐘，卻投朴硝半兩，研細。再煎三五沸，傾出，候微溫，服盡。其胎即化血水而下。</p>
<p>又方　下死胎　用麝香半錢另研，官桂末三錢和勻，作一服，溫酒調下。須臾，如手推下。未效，再服。</p>
<p>又方　治子死胎不下，胞破不生　用鬼臼不拘多少，黃色者去毛，研為末，細如粉，不用羅，以指捻之。每服二錢，用無灰酒一盞，同煎至八分，通口服，立生如神。</p>
<p>又方　治難產胞衣不下，及兒死腹中欲絕者　用白蘞、半夏各一兩，為末。酒服一錢。若難產，只一服，橫生二服，倒則三服，兒死四服，效。</p>
<p>治產婦胞衣不下　用蓖麻子十四粒，去殼搗爛，以白面和成膏，貼腳心，胞衣下，速拭洗去。如腸出，即以此藥塗頂心，回腸神效。</p>
<p>又方　治胎衣不下，惡血湊心，其證心頭迷悶，胎衣上逆衝心，須臾不治，其母即亡。用乾漆五錢（為末），大附子一枚（泡去皮臍為末），用大黃末五錢，酒醋熬干，即入前二味為丸，如梧桐子大。每服三十丸，淡醋湯吞下。須臾，又進二服，胎衣立下，此藥可予先合下。</p>
<p>又方　用赤小豆一升炒過，用水三升，煮二升，去豆取汁，溫服胎衣立下。</p>
<p>又方　用婦人自己手足指甲，燒灰，酒調服。須臾又進一服，更令有力婦人抱起，將竹筒於心上趕下，妙。</p>
<p>治產後血暈心悶氣絕，腹內惡血不盡，絞痛　用紅花酒煎服，或以藕汁二碗飲之。</p>
<p>又方　用松煙墨二錢，火　通紅，窨滅火氣，為末半匕。溫酒調下，京墨亦可。</p>
<p>又方　用舊漆器燒微煙，逼面熏之。</p>
<p>又方　用韭菜切碎，入茶瓶中，以老米醋沸熱澆之，紙密封瓶口，勿令泄氣。以瓶小嘴向產婦口鼻熏之，立醒。</p>
<p>又方　用半夏末少許，吹入鼻中。</p>
<p>治產後下血不止　用雜草燒鑊鏽二錢，為末，酒調服。</p>
<p>又方　用干艾半兩　生薑半兩　濃煎湯服。</p>
<p>治產後子腸出不能收者　用枳殼去瓤三兩，煎湯溫浸良久即入。</p>
<p>又方　用老鴉酸漿草一把，煎湯才熏可收一半。稍溫下手洗，並收而安。</p>
<p>治產後惡物不出，上攻心痛　用灶中心對鍋底焦土。研細酒調三五錢，瀉出惡物，立效。</p>
<p>治產後泄瀉惡露不下　用大荊芥四五穗於盞內，用火燒成灰，不得犯油火，入麝香少許，研。沸湯一二呷調下。</p>
<p>治產後腹脹痛不可忍，煮鼠黏根為飲，一服愈。</p>
<p>治乳婦乳汁不下　用母豬蹄爪一只，帶蔥五莖，同鹽酒煮羹飲之。不下再煮飲。仍用梳頭木梳於乳上梳下，效。</p>
<p>又方　用土瓜根為末，酒調服。</p>
<p>又方　用胡蜂窠一個，炒為末，酒調服。</p>
<p>治胎前產後諸症名濟陰返魂丹，一名益母丸　只益母草一味，其草即茺蔚子，其葉類火麻，對節而生，方梗凹面。</p>
<p>四五六月間，節節開紫花，南北隨處有之。此草生二種，白花者不是。於端午、小暑或六月六日，花正開時連根收采，透風處陰乾，用時不犯銅鐵器，以石臼搗，羅為細末。每服一丸，各照後開湯使下，若量加木香、全當歸、赤芍藥尤妙。其藥不限丸數，以病愈為度。日服三五丸，或丸如梧桐子大。每服五七十丸，熬膏尤佳，治法具後。熬膏法：益母草不限多少，依前法采，連根葉莖洗淨，用石臼內搗爛，以麻布濾取濃汁，入砂鍋內，以文武火熬成膏，如黑砂糖色為度，入瓷罐內收貯。每服用一茶匕，極妙。</p>
<p>胎前臍腹刺痛，胎動不安，下血不止，水煎秦艽、糯米湯下，或當歸湯亦可。</p>
<p>胎前產後臍腹作痛作聲，或寒熱往來狀如瘧疾者，俱溫米湯下。</p>
<p>臨產並產後各先用一丸，童便、酒化下。安魂定魄，血氣自然調順，諸病不生；又能破血痛，養脈息，調經絡，功效不能盡述。</p>
<p>產後胎衣不下落，在胞中，及產前一切產難橫生不順，子死經日不下，脹滿腹中，心悶心痛，炒鹽湯下。</p>
<p>產後中風牙關緊急，半身不遂，失音不語。童便、無灰酒各半下。</p>
<p>產後氣喘咳嗽，胸膈不利，惡心、口吐酸水，面目浮腫，兩脅疼痛，舉動失力者，溫酒下。</p>
<p>產後兩太陽穴痛，呵欠心恤氣短，肌體羸瘦，不思飲食，血風身熱，手足頑麻，百節疼痛。溫米湯飲下。</p>
<p>產後眼前黑暗，血暈血熱，口渴煩悶，如見鬼神，狂言不省人事，薄荷自然汁下。如無生者，濃煎干薄荷湯下，或童便、酒各半下。</p>
<p>產後面垢顏赤，五心煩熱，或結成血塊、腹臍奔痛，時發寒有冷汗者，童便、酒各半下，或溫薄荷湯下。</p>
<p>產後余血惡不盡，結滯腹臍刺痛，惡物上衝，心胸滿悶，童便、溫酒各半下。</p>
<p>產後未經盈月，血氣不通，咳嗽，四肢無力，臨睡自汗不止，月水不調，久而不治，則為骨蒸之疾，童便、酒各半下。</p>
<p>產後鼻衄、口乾、舌黑，童便、酒下。</p>
<p>產後大小便不通，煩躁口苦者，薄荷自然汁下。如無生者，濃煎干薄荷湯下。</p>
<p>產後痢疾，米湯下。</p>
<p>產後瀉血水，煎棗湯下。</p>
<p>產後赤白帶下，煎膠艾湯下。</p>
<p>血崩漏下，糯米湯下。</p>
<p>勒奶痛或成癰，為末，水調塗乳上，一宿自瘥。或生搗爛敷上亦可。</p>
<p>婦人久無子息，溫酒下，一九服至一月，決有效驗。</p>
<h3>小兒第三十九</h3>
<p>治小兒初生口中有惡物，才生，不候聲出　急用軟帛或綿裹手指蘸黃連、甘草汁，拭口中惡汁。稍定，更以蜜少許，調朱砂一字，抹入口中。鎮心安神，解惡物之毒，一生免瘡痘之患。此藥，妊婦臨月宜預辦之。</p>
<p>治小兒生下即死　急看兒口中懸壅在　上有泡，以手指摘破，用帛裹指拭血、令淨。若血入喉，即不可活。</p>
<p>治小兒初生，氣欲絕，不能啼者　必是難產或胃寒所致。急以綿絮包裹抱懷中，未可斷臍帶，且將胞衣置炭火爐中燒之，仍作大紙捻蘸油點火，著臍帶上往來燎之，更以熱醋湯燙洗臍帶。須臾，氣回啼哭如常，方可洗浴了卻斷臍帶。</p>
<p>治小兒初生，大小便不通，腹脹欲絕者　急令婦人以溫水漱口，吸咂兒前後項心並臍下手足共七處，每一處吮三五次漱口，吸咂取紅赤為度，須臾自通。不爾無生，意有此證，遇此法，可謂再生。</p>
<p>治小兒初生，遍身無皮，但是紅肉　宜速以早米粉干撲，候生皮方止。</p>
<p>治小兒臍腫　先用荊芥水洗了，蔥葉一片火上炙過，地上出火氣，以指甲刮薄，內搭放腫處，次日便消。</p>
<p>治小兒面目黃赤，氣息喘急，啼聲不出，舌強唇青，撮口皺面，飲乳有妨　用白僵蠶二枚，去嘴略炒為末，蜜調敷唇中。</p>
<p>治小兒初生不飲乳及不大小便　用蔥白二寸，破作四界，以乳汁於砂銚內煎，灌之立效。</p>
<p>治小兒吐乳　田中蚯蚓泥為末，米飲調下。</p>
<p>治小兒初生口噤不開　用赤足蜈蚣一條，去足，炙令焦，細研為末。每用半錢，以豬乳汁半盞和勻，分三四次灌之。</p>
<p>治小兒吐不定　用五倍子二個，一生一熟，甘草一根，用濕紙裹煨，共為末，米汁調下半錢。</p>
<p>治小兒重舌急證　用指去爪，先於舌下筋上擦至根，漸深擦入，如此三次。又以指蘸水取項後燕窠小窟中筋，自上趕下至小窟，深深擦入，亦三次。小兒若飲乳勝前，則病去矣。</p>
<p>又方　用針刺出惡血，即愈。</p>
<p>又方　治小兒木舌　用黃蜀葵花研細，黃丹半之同研，點七次。</p>
<p>治小兒鵝口不能乳　用地雞研水塗。地雞即扁蟲，人家磚中多有之。</p>
<p>治小兒口瘡　用吳茱萸末，醋調貼兩腳心，移夜即愈。</p>
<p>又方　用生白礬為末，水調攤紙上貼腳心，方貼上，再以水濕之。</p>
<p>治小兒牙疳　用白礬裝於五倍子內，合燒過，為末，敷。</p>
<p>治小兒諸熱驚癇　用青黛水研服。</p>
<p>又方　用蜂窠大者水煮，浴兒三四次。</p>
<p>治小兒卒驚，似有痛處而不知　用雄雞血滴兒口中。</p>
<p>又方　用燕窠中糞，煎湯洗浴。</p>
<p>又方　治小兒驚啼　用亂髮燒灰，酒調服。</p>
<p>治小兒夜啼，燈草燒灰敷乳上，與吃燈花尤妙。</p>
<p>治小兒吃黃土　用干黃土研細，濃煎黃連和為餅服。</p>
<p>治小兒寸白蟲　用酸石榴東引根二兩，糯米三十粒，水一碗煎，空心服。須泄瀉，神效。</p>
<p>治小兒頭上瘡及浸淫瘡並急疳瘡　用芝麻生嚼，塗。</p>
<p>治小兒甜瘡，多生於面部兩耳前，令母口中嚼白米成膏子，臨臥塗之，不過三五次，愈。</p>
<p>治小兒眉煉頭瘡　用小麥不拘多少，燒令黑色，存性為末，以小油調敷之。</p>
<p>又方　用　針刺出血，一刺不愈，再刺之，三刺則愈矣。</p>
<p>治小兒火丹，從背上起頭上起者　用慎火草搗汁敷上（慎火草即瓦蔥）。</p>
<p>又方　用針刺紅處出惡血。或用寒水石為末，油調敷之。效。</p>
<p>治小兒胭脂火丹　用蓖麻子去皮研爛，並鏽鐵磨水，於紅處周遭圈之，候干再隨處圈塗之。</p>
<p>治小兒丹毒　用灶中對鍋底焦土研細，以新汲水調塗，干即易之，效。</p>
<p>治小兒痘疹要方名兔血丸　臘月八日采生兔一只，取血以蕎面和之，少加雄黃四五分，候干成餅。凡初生小兒，三日後如綠豆大者，與二三丸，乳汁送下。遍身發出紅點，是其征驗，有終身不出痘疹者，雖出亦不甚稠密也。嬰兒已長成，會飲食者，就以兔肉啖之尤妙。或云：不必八日，但臘月兔亦可。然終不若臘月八日為佳也。</p>
<p>治小兒痘瘡出不透，腹痛甚或黑靨者　用蟬蛻一十五個，去翅足，淨洗為末。每服一錢，熟水調下，腹痛立止而出透，乳母亦可服一錢。</p>
<p>又方　用干棠球為細末，湯點服，立見出透。紅活荔枝殼煎湯服亦可。</p>
<p>治小兒痘瘡陷入不發，黑色，氣欲絕　用穿山甲湯洗淨，炒，令焦黃為末，每服半錢，紫蘇煎湯，入老酒少許服之。</p>
<p>又方　治痘瘡倒陷　用臘月內收人中白（即馬桶內尿鹼是也），放通風處，以火　成煤水，調三五錢服。</p>
<p>又方　用胡桃一個，燒存性，干胭脂三錢為末，用胡荽煎，酒調下一錢。</p>
<p>治小兒痘瘡初出光壯忽然黑陷，心煩躁急氣喘，妄語如見鬼神　用人牙齒，燒存性，為末。每個作一服，酒調下。</p>
<p>治小兒痘瘡入眼，或病後生翳障　用蟬蛻洗淨去土，白菊花各等分，為散。每服二錢，入蜜少許，水一盞，煎。乳食後，量兒大小與服之，屢驗。</p>
<p>又方　用兔子屎焙乾為末，茶調下，瘡疹安後方可多服，仍治昏翳。</p>
<p>治痘瘡入眼，痛楚恐傷眼睛　用浮萍陰乾為末，每服三錢。隨兒大小，以羊子肝半個，入盞內，以竹簽刺碎爛，投水半合，攪取汁調下，食後服。不甚者一錢，瘥；已傷目者十服，瘥。</p>
<p>治小兒痘瘡爛成片　用黃牛屎干敷；膿多痛甚者，干淨黃土敷之，瘡遍口中不能食者，蜜浸黃柏取汁啖之，凡瘡欲成痂，頻以面油乳酥清蜜潤之。可揭即揭，血出無害，若干硬已久又成瘢痕。</p>
<p>治小兒痘瘡爬搔成瘡，膿血淋漓　用多年蓋屋爛草或蓋牆草，不拘多少，晒乾為末，干糝無時。若渾身瘡破膿血不絕，黏沾衣服難以坐臥，可多用攤於席上，令兒坐臥，即干。</p>
<p>治小兒痘瘡出後，有餘瘡塞鼻中，不能睡起　用木筆花研為末，加麝香少許，蔥白蘸藥入鼻中，數次通。</p>
<p>治小兒痘瘡愈後，瘡痂雖落，其色黯或凸或凹　用白蜜不拘多少，塗於瘡上，其痂易落且無疤痕，亦不腥穢。</p>
<p>治小兒痘瘡後，身體及肢節上生癰蝕瘡，膿水不干　用出蠶蛾綿繭，不拘多少，用白礬捶碎，塞入繭內令滿，以炭火燒，候白礬汁乾取出研細，干糝瘡上。若不早治，則潰筋骨，以至難治。</p>
<p>治小兒容忤，口吐青黃白沫，水穀鮮進，面色變易喘息，腹痛狀似驚癇，但哭不止，視其口中懸壅左右若有小小腫核，即以竹針刺破之，或以指爪甲爬破。急以醋炭降真香皂莢燒熏。又以灶中對鍋底焦土，蚯蚓糞各等分。為末，水調塗頭上及五心敷之。</p>
<p>治小兒腦後項邊有核如瘰　狀，按之轉動，軟而不疼，名附骨疳毒，兼治諸疳，一服虛熱退，二服渴止，三服瀉痢止用蟾蜍一枚（又名蛤蟆，夏月　中取腹大不鳴不跳者，其身癩磊多者是），取糞缸內蛆蟲一杓置桶中，以尿浸之。</p>
<p>桶上要蓋，不與蟲走，將蟾蜍殺之放在蟲中，任與蟲食一日夜。次以新布袋盡包，系定置之急水中，浸一宿取出，瓦上焙，為末。入麝香一字，粳米飯揉丸如麻子大，每服三十丸，米飲下。</p>
<p>治附骨疳項後有核，其間有蟲如米粉，不速破之，則蟲流散，蝕臟腑以致肢體作癰瘡，便利膿血，虛熱羸瘦，氣血虛憊　治法：刺破其核，膏藥貼之，則愈。</p>
<p>治小兒久患疳熱體虛不食，及病後天柱骨倒　用白僵蠶為末，三年兒半錢，薄荷酒調下。</p>
<p>治小兒疳後虛熱，小便腫　用韭菜地上蚯蚓屎，火　，以碗合地上，出火氣，為末，清油調敷。</p>
<p>治小兒無毒游腫　用破草鞋亂髮燒灰，醋調敷上。</p>
<p>治小兒月蝕耳疳瘡　用胡粉和東方壁土為末敷。</p>
<p>又方　用蛤蟆燒存性，為末，豬脂調敷。</p>
<p>治小兒口角爛瘡　用亂髮燒灰為細末，豬脂和敷。燕窠泥亦妙。</p>
<p>治小兒耳邊鼻下赤爛　用黃丹二錢，　令赤色，綠豆粉一錢，白礬一錢，飛過研細，干敷瘡上。唾調亦可。</p>
<p>治小兒卒得瘭瘡　用赤爛牛糞燒灰，研細敷上。</p>
<p>治小兒囟門陷下不平滿　用黃狗頭骨，炙黃為末，雞子清調敷。</p>
<p>治小兒頭骨縫開不合，名曰解顱　用蛇蛻炒焦為末，用豬頰骨中髓，調敷頂上，日三四次。</p>
<p>又方　用驢頭骨不拘多少，燒灰研細，以清油調敷頭縫中。</p>
<p>治小兒牙齒不生　用雄鼠糞二十一粒，兩頭尖者是也。</p>
<p>每日用一粒揩齒根，上至二十二粒當生。</p>
<p>治小兒頭上軟癤　用大枳殼一枚，去瓤令空，磨令平口，以稠面糊搽四唇黏在癤上，自破膿溜出盡，更無瘢痕。</p>
<p>又方　用枯白礬為末，清油調敷，亦效。</p>
<p>又方　用桃樹上不落干桃子，燒灰，清油調敷。</p>
<p>又方　用茄子切半個，看瘡大小剜空周遭，用醋調生面糊塗貼。</p>
<p>治小兒脫肛　用蓖麻子四十九粒，研爛，水調作餅子。貼頂上。立效。</p>
<p>又方　用蔥湯洗令軟，芭蕉葉托上。</p>
<p>又方　用浮萍草不拘多少，杵為細末，干貼患處。</p>
<p>又方　用新磚一片燒紅，以醋澆之。即用腳布疊數重壓定，使熱氣上透，不可過熱。令病者以臀坐於布上，如覺布溫，逐旋減之，以常得溫熱為度。</p>
<p>治小兒遺尿　用雞肫腸一具，燒存性，豬尿胞一個，炙焦為末。每服一錢，酒調下。男用雌雞者，女用雄雞者。</p>
<p>治小兒陰囊忽腫　多因坐地上為風濕或蟲蟻吹著　用蟬蛻半兩，水一碗，煎湯洗腫處，其腫痛立止，再溫再洗。</p>
<p>又方　治小兒卵腫　研桃仁唾調敷。</p>
<p>治小兒疝氣腫硬　用蚯蚓不去土，晒乾為末，唾津調塗患處。</p>
<p>又方　用古鏡煮汁服，亦治小兒驚邪諸惡疾。</p>
<p>治小兒腹脹　用韭菜根搗汁和豬脂煎服。</p>
