<header><h1>活法機要</h1></header>
<dl class="元資料" data-type="book">
<div><dt>作者</dt><dd>朱震亨</dd></div>
<div><dt>朝代</dt><dd>元</dd></div>
</dl>
<h2>活法機要  元  丹溪朱震亨著。</h2>
<h3>泄痢證。</h3>
<p>臟腑泄痢其證多種，大抵從風濕熱也，是知寒少熱多，故曰暴泄，非陰久泄，非陽溲而便膿血，知氣行而血止也，宜大黃湯下之，是為重劑。黃芩芍藥是為輕劑，治法宜補宜泄，宜止宜和，和則芍藥湯，止則訶子湯，有暴下無聲，身冷自汗，小便清利，大便不禁，氣難喘息，脈微嘔吐，急以重藥溫之，漿水散是也。後重則宜下，腹痛則宜和，身重者除濕，脈弦者去風，膿血稠粘以重藥竭之，身冷自汗以毒藥溫之，風邪內縮宜汗之，鶩溏為痢當溫之，在表者發之，在裏者下之，在上者湧之，在下者竭之，身表熱者內疏之，小便澀者分利之，盛者和之，去者送之，過者止之，除濕則白朮茯苓，安脾則芍藥桂，破血則黃連當歸，宣通其氣則檳榔木香，如泄痢而嘔，上焦則生薑橘皮，中焦則芍藥當歸桂茯苓，下焦則治以輕熱，甚以重熱藥，若四肢懶倦小便少或不利，大便走沉困，飲食減，宜調胃去濕，白朮茯苓芍藥三味，水煎服，如發熱惡寒腹不痛加黃芩為主，如未見膿而惡寒，乃太陰欲傳少陰也，加黃連為主，桂枝佐之，如腹痛甚者，加當歸倍芍藥，如見血加黃連為主，桂當歸佐之，如煩燥或先便白膿後血，或發熱或惡寒，非黃連不能止上部血也，如惡寒脈沉，或曰腰痛，或血臍下痛，非黃芩不能止，此中部血也，如惡寒脈沉，先血後便，非地榆不能止，下部血也，唯脈浮大者不可下。</p>
<p>黃芩芍藥湯（方在寶鑑泄痢條下）。</p>
<p>大黃湯。</p>
<p>治泄痢久不愈，膿血稠粘，裏急後重，日夜無度，久不愈者。</p>
<p>大黃（一兩）。</p>
<p>右剉細，好酒二大盞，同浸半日許，煎至一盞半，去大黃不用，將酒二服，頓服之，如未止再服，以利為度，復服芍藥湯和之，痢止再服黃芩芍藥湯和之，以徹其毒也。</p>
<p>芍藥湯（方在寶鑑內，痢疾條下）。</p>
<p>白朮黃耆湯，服前藥痢疾雖除，更宜此和之。</p>
<p>白朮（一兩），黃耆（七錢），甘草（三錢），一方無黃耆用黃芩（半兩）。</p>
<p>右㕮咀，均作三服，水煎服清。</p>
<p>防風芍藥湯。</p>
<p>治泄痢飧泄，身熱脈弦，腹痛而渴，及頭痛微汗。</p>
<p>防風，芍藥，黃芩（各一兩）。</p>
<p>右㕮咀，每服半兩或一兩，水煎。</p>
<p>白朮芍藥湯。</p>
<p>治太陰脾經受濕，水泄注下，體重微滿，因弱無力，不欲飲食，暴泄無數，水穀不化，宜此和之。</p>
<p>白朮，芍藥（各一兩），甘草（半兩）。</p>
<p>右剉，每服一兩水煎。</p>
<p>蒼朮芍藥湯。</p>
<p>治痢疾痛甚者。</p>
<p>蒼朮（二兩），芍藥（一兩），黃芩，肉桂（各半兩）。</p>
<p>右剉，每服一兩，水煎。</p>
<p>訶子散。</p>
<p>如腹痛漸已，泄下微少，宜止之。</p>
<p>訶子皮（一兩生熟各半），木香（半兩），黃連，炙甘草（各三錢）。</p>
<p>右為細末，每服二錢，以白朮藥湯調下，如止之不已，宜歸而送之也。訶子散內加厚朴一兩，竭其邪氣也。</p>
<p>漿水散。</p>
<p>治暴泄如水，周身汗出，身上盡冷，脈微而弱，氣少不能語，甚者加吐，此謂急病。</p>
<p>半夏（二兩湯洗），附子（炮），乾生薑，炙甘草，肉桂（各半兩），良薑（二錢半）。</p>
<p>右為細末，每服三五錢，漿水二盞煎至半，和滓熱服。</p>
<p>黃連湯。</p>
<p>治大便後下血，腹中不痛者。謂之濕毒下血。</p>
<p>黃連，當歸（各半兩），炙甘草（二錢半）。</p>
<p>右㕮咀，每服五錢，水煎。</p>
<p>芍藥黃連湯。</p>
<p>治大便後下血，腹中痛者，謂之熱毒下血。</p>
<p>芍藥，黃連，當歸（各半兩），大黃（一錢），淡味桂（五分），炙甘草（二錢）。</p>
<p>右㕮咀，每服五錢，水煎，如痛甚者調木香檳榔末一錢服之。</p>
<p>導氣湯，治下痢膿血，裏急後重，日夜無度。</p>
<p>芍藥（一兩），當歸（半兩），大黃（二錢半），黃連（一錢），黃芩（二錢半），木香，檳榔（各一錢）。</p>
<p>右為末，每服半兩，水煎。</p>
<p>加減平胃散（方在寶鑑內泄痢條下）。</p>
<p>地榆芍藥湯。</p>
<p>治泄痢膿血，乃至脫肛。</p>
<p>蒼朮（八兩），地榆（二兩），卷柏（三兩），芍藥（三兩）。</p>
<p>右㕮咀，每服一兩，水煎，病退止。</p>
<p>五泄之病，胃小腸大瘕三證，皆以清涼飲子主之，其泄自止，厥陰證加甘草以緩之，少陰證裏急後重，故加大黃。又有太陰陽明二證，當進退大承氣湯主之，太陰證不能食也，當先補而後泄之，乃進藥法也，先煎厚朴半兩製，水煎二三服後，未已，未有宿食不消，又加枳實二錢同煎二三服，泄又未已，如稍進食，尚有熱毒，又加大黃三錢，推過，泄止住藥，如泄未止為腸胃有塵垢滑粘，加芒硝半合，宿垢去盡則愈也，陽明證能食是也，當先泄而後補，謂退藥法也，先用大承氣湯五錢，水煎服，如利過泄未止，去芒硝，後稍熱退減大黃半再煎兩服，如熱氣雖已，其人必腹滿，又減去大黃，與枳實厚朴湯又煎三兩服，如腹滿退，泄亦自愈，後服厚朴湯，數服則已。</p>
<h3>癘風證。</h3>
<p>癘風者，榮氣熱附其氣不清，鼻柱壞而色敗，皮膚瘍潰，風寒客於脈而不去，故名癘風，又曰脈風，俗曰癩。治法刺肌肉百日，汗出百日，凡二百日，鬚眉生而止，先樺皮散從少至多服五七日，灸承漿穴七壯，灸瘡愈，再灸再愈，三灸之後服二聖散，泄熱祛血之風邪，戒房室三年病愈。</p>
<p>樺皮散。</p>
<p>治肺臟風毒，遍身瘡疥，及癮疹瘙痒成瘡，面上風刺粉刺。</p>
<p>樺皮（四兩燒灰），荊芥穗（二兩），杏仁（二兩去皮尖，用水一碗於銀器內，煮去水一半已來放，令乾用），炙甘草（半兩），枳殼（四兩去穰用，炭火燒欲灰，於濕紙上令乾）。</p>
<p>右件除杏仁外，餘藥為末，將杏仁另研，與諸藥和勻，磁合內放之，每服三錢，食後溫水調下。</p>
<p>二聖散。</p>
<p>治大風癘疾，將皂角刺一二斤，燒灰研細，煎大黃半兩，調下二錢，早服樺皮散，中煎升麻湯，下瀉青丸，晚服二聖散，此數等之藥皆為緩泄血中之風熱也。</p>
<p>七聖丸，七宣丸，皆治風壅邪熱，潤利大腸，中風風癇，癘風，大便秘澀，皆可服之。</p>
<h3>破傷風證。</h3>
<p>夫風者，百病之始也，清淨則腠理閉拒，雖有九之苛毒，弗能為害，故破傷風者，通於表裏，分別陰陽，同傷寒證治人，知有發表，不知有攻裏和解，此汗下和三法也，諸瘡不差，榮衛虛，肌肉不生，瘡眼不合者，風邪亦能外入於瘡，為破傷風之候，諸瘡上灸，及瘡著白痂，瘡口閉塞，氣難通泄，故陽熱易為鬱結，熱甚則生風也，故表脈浮而無力，太陽也，在表宜汗。脈長而有力，陽明也，在裏宜下。脈浮而弦小者，少陽也，半在表半在裏，宜和解。若明此三法而治不中病者，未之有也。</p>
<p>羌活防風湯。</p>
<p>治破傷風，邪初傳在表。</p>
<p>羌活，防風，川芎，藁本，當歸，芍藥，甘草（各四兩），地榆，細辛（各二兩）。</p>
<p>右㕮咀，每服五錢，水煎，量緊慢，加減用之，熱則加大黃三兩，大便秘則加大黃一兩，緩緩令過熱甚，更加黃芩二兩。</p>
<p>白朮防風湯，若服前藥過有自汗者。</p>
<p>白朮，黃耆（各一兩），防風（二兩）。</p>
<p>右㕮咀，每服五七錢，水煎。</p>
<p>破傷風，藏府秘，小便赤，用熱也，百汗不休，故知無寒也，宜速下之，先用芎黃湯三二服，後用大芎黃湯下之。</p>
<p>芎黃湯。</p>
<p>川芎（一兩），黃芩（六錢），甘草（二錢）。</p>
<p>右㕮咀，水煎。</p>
<p>大芎黃湯。</p>
<p>川芎（半兩），羌活，黃芩，大黃（各一兩）。</p>
<p>右㕮咀，水煎。</p>
<p>羌活湯。</p>
<p>治半在表半在裏。</p>
<p>羌活，菊花，麻黃，川芎，白茯苓，防風，石膏，前胡，黃芩，蔓荊子，細辛，甘草，枳殼（各一兩），薄荷，白芷（各半兩）。</p>
<p>右㕮咀，生薑同煎，日三服。</p>
<p>防風湯。</p>
<p>治破傷風，同傷寒表證，未傳入裏，宜急服此藥。</p>
<p>防風，羌活，獨活，川芎（各等分）。</p>
<p>右㕮咀，水煎服，後宜調蜈蚣散，大效。</p>
<p>蜈蚣散。</p>
<p>蜈蚣（一對），魚鰾（半兩），左盤龍（半兩炒煙盡用）。</p>
<p>右為細末，用防風湯調下，如前藥解表不已，覺直轉入裏，當服左龍丸，服之漸漸看大便硬軟，加巴荳霜。</p>
<p>左龍丸。</p>
<p>治直視在裏者。</p>
<p>左盤龍，白僵蠶（炒），魚鰾（各半兩），雄黃（一錢研）。</p>
<p>右同為細末，燒飯為丸，桐子大，每服十五丸，溫酒下，如裏證不已，當於左龍丸內一半末，加入巴荳霜半錢，燒飯為丸，桐子大，同左龍丸一處，每服加一丸，漸加服至利為度，若利後更服後藥，若搐痓不已，亦宜服後藥，羌活湯也。</p>
<p>羌活湯。</p>
<p>羌活，獨活，地榆，防風（各一兩）。</p>
<p>右㕮咀，水煎，如有熱加黃芩，有涎加半夏，若病日久，氣血漸虛，邪氣入胃，全氣養血為度。</p>
<p>養血當歸地黃湯。</p>
<p>當歸，地黃，芍藥，川芎，藁本，防風，白芷（各一兩），細辛（半兩）。</p>
<p>右為麄末，水煎服。</p>
<h3>頭風證。</h3>
<p>肝經風盛，木自搖動，梳頭有雪皮，乃肺之證也，謂肺主皮毛，實則泄青丸主之，虛則消風散主之。</p>
<h3>雷頭風證。</h3>
<p>夫雷頭風者，震卦主之，諸藥不效，為與證不相對也。</p>
<p>升麻，蒼朮（各一兩），荷葉（全一箇）。</p>
<p>右為細末，每服半兩，水煎，或燒荷葉一箇研細，用前藥調服亦可。</p>
<h3>胎產證。</h3>
<p>婦人童幼，至天癸未行之間，皆屬少陰，天癸既行，皆從厥陰論之，天癸已絕，乃屬太陰經也，治胎產之病從厥陰經，無犯胃氣及上二焦，謂之三禁，不可汗，不可下，不可利小便，發汗者，同傷寒下早之證，利大便則脈數而已動於脾，利小便則內亡津液，胃中枯燥。製藥之法，能不犯三禁，則榮衛自和，而寒熱止矣。如發渴則白虎，氣弱則黃耆，血刺痛而和以當歸，腹中疼而加之芍藥，大抵產病，天行從增損柴胡，雜證從增損四物，宜詳察脈證而用之。</p>
<p>產前寒熱，小柴胡湯中去半夏，謂之黃龍湯。</p>
<p>二黃散。</p>
<p>治婦人有孕，胎漏。</p>
<p>生地黃，熟地黃（各等分）。</p>
<p>右為細末，煎白朮枳殼湯調下。</p>
<p>半夏湯。</p>
<p>治胎衣不下，或子死腹中，或子衝上而昏悶，或血暴下，及胎乾不能產者。</p>
<p>半夏麯（一兩半），肉桂（七錢半），桃仁（三十箇微炒去皮尖），大黃（半兩）。</p>
<p>右為細末，先服四物湯三兩，次服半夏湯，生薑同煎。</p>
<p>增損柴胡湯。</p>
<p>治產後經水適斷，感於異證，手足抽搐，咬牙昏冒，繫屬上焦。</p>
<p>柴胡（八錢），黃芩（四錢半），人參（三錢），甘草（炒），石膏（各四錢），知母（二錢），黃耆（半兩），半夏（三錢）。</p>
<p>右為麄末，每服半兩，生薑棗同煎。</p>
<p>秦艽湯，前證已去，次服此以去其風邪。</p>
<p>秦艽（八錢），芍藥（半兩），柴胡（八錢），防風，黃芩（各四錢半），人參，半夏（各三錢），炙甘草（四錢）。</p>
<p>右為麄末，水煎。</p>
<p>荊芥散，二三日後經水復行，前證俱退，宜此。</p>
<p>小柴胡湯一料，加荊芥穗五錢，枳殼（麩炒去穰半兩）。</p>
<p>右為麄末，同小柴胡煎法。</p>
<p>防風湯，三二日後，宜正脾胃之氣，兼除風邪。</p>
<p>蒼朮（四兩），防風（三兩），當歸（一兩），羌活（一兩半）。</p>
<p>右為麄末，水煎。</p>
<p>三分散。</p>
<p>治產後，日久虛勞，鍼灸小藥俱不效者。</p>
<p>川芎，熟地黃，當歸，芍藥，白朮，茯苓，黃耆（各一兩），柴胡，人參（各一兩六錢），黃芩，半夏，甘草（各六錢）。</p>
<p>右為麄末，水煎服清。</p>
<p>血風湯。</p>
<p>治產諸風痿攣無力。</p>
<p>秦艽，羌活，防風，白芷，川芎，芍藥，當歸，地黃，白朮，茯苓（各等分），加半夏，黃耆。</p>
<p>右為細末，一半為丸，煉蜜如桐子大，一半為散，溫酒調下丸藥五七十丸。</p>
<p>治血運血結，或聚於胸中，或偏於少腹，或運於脇肋，四物湯四兩，倍當歸，川芎，鬼箭，紅花，玄胡，各一兩，同為麄末，如四物煎服清調</p>
<p>沒藥散服之。</p>
<p>蝱虫（去羽足一錢微炒），水蛭（二錢炒），麝香（少許），沒藥（一錢）。</p>
<p>右為細末，煎前藥調服，血下痛止，只服前藥。</p>
<p>加減四物湯。</p>
<p>治產後頭痛，血虛氣弱，痰癖寒厥，皆令頭痛。</p>
<p>羌活，川芎，防風，香附子（炒各一兩），細辛（一兩半），炙甘草，當歸（各半兩），石膏（二兩半），熟地黃（一兩），香白芷（一兩半），蒼朮（一兩六錢去皮）。</p>
<p>右為麄末，每服一兩，水煎。如有汗者，是氣弱頭痛也，前方中加芍藥三兩，桂一兩半，生薑煎。如頭痛痰癖者，加半夏三兩，茯苓一兩半，生薑煎。如熱厥頭痛，加白芷三兩，石膏三兩，知母一兩半。如寒厥頭痛，加天麻三兩，附子一兩半，生薑煎。</p>
<p>四物湯，治諸變證（方已載元戎方中）。</p>
<p>紅花散。</p>
<p>治婦人產後血昏，血崩，月事不調，遠年，乾血氣，皆治之。</p>
<p>乾荷葉，牡丹皮，當歸，紅花，蒲黃（炒各等分）。</p>
<p>右為細末，每服半兩，酒煎。</p>
<p>和滓溫服，如胎衣不下，別末榆白皮煎湯調下半兩，立效。</p>
<p>當歸散。</p>
<p>治婦人惡物不下。</p>
<p>當歸，芫花（炒）。</p>
<p>右為細末，酒調下三錢。又一方，好墨醋淬末之，小便酒調下。</p>
<p>治胎衣不下，蛇退皮炒焦，細末酒調下，如胎衣在腹，另碾榆白皮末，同煎服立下。</p>
<p>生地黃散。</p>
<p>諸見血無寒，衄血下血，吐血溺血，皆屬於熱。</p>
<p>生地黃，熟地黃，枸杞子，地骨皮，天門冬，黃耆，芍藥，甘草，黃芩（各等分）。</p>
<p>右為麄末，每服一兩，水煎脈，微身涼，惡風，每一兩加桂半錢。</p>
<p>麥門冬飲子。</p>
<p>治衄血不止。</p>
<p>麥門冬，生地黃（各等分）。</p>
<p>右剉，每服一兩，水煎，又衄血，先硃砂蛤粉，次木香黃連，大便結下之大黃，芒硝，甘草，生地黃。溏軟，梔子，黃芩，黃連，可選而用之。</p>
<h3>帶下證。</h3>
<p>赤者，熱入小腸。白者，熱入大腸。其本濕熱，冤結于脈不散，故為赤白帶下也。冤，屈也，結也。屈滯而病熱不散，先以十棗湯下之，後服苦楝丸，大玄胡散調下之，熱去濕除病自愈也。月事不來，先服降心火之劑，後服局方中五補丸後，以衛生湯，治脾養血氣可也。</p>
<p>苦楝丸。</p>
<p>治赤白帶下。</p>
<p>苦楝（碎酒浸），茴香（炒），當歸（各等分）。</p>
<p>右為細末，酒糊丸，如桐子大，每服五十丸，空心酒下。</p>
<p>衛生湯。</p>
<p>白芍藥，當歸（各二兩），黃耆（三兩），甘草（一兩）。</p>
<p>右為麄末，水煎空心服，如虛者，加人參一兩。</p>
<h3>大頭風證。</h3>
<p>夫大頭風證者，是陽明邪熱太甚，資實少陽相火而為之也，多在少陽或在陽明，或在太陽，視其腫勢在何部分，隨經取之，濕熱為腫，木盛為痛，此邪見於頭，多在耳前後先出，治之大不宜藥速，速則過其病所，謂上熱未除，中寒復生，必傷人命，此病是自外而之內者是血病，況頭部分受邪，見於無形跡之部，當先緩而後急，先緩者，謂邪氣在上著，無形之部分既著無形，無所不至，若用重劑速下過，其病難已，雖無緩藥，若急服之，或食前，或頓服，皆失緩體，則藥不能得除，病當徐徐浸漬無形之邪也，或藥性味形體據象，皆要不離緩體是也，且後急者，謂緩劑已瀉邪氣，入於中，是到陰部染於有形質之所，若不速去，則損陰也，此終治，卻為客邪，當急去之，是治客以急也，且治主當緩者，謂陽邪在上，陰邪在下，若急治之，不能解紛而益亂也，治客以急者，謂陽分受陰邪，陰分受陽邪，此客氣急除去之也。</p>
<p>假令少陽陽明為病，少陽為邪，出於耳前後也，陽明為邪者，首大腫也，先以黃芩黃連甘草湯，通剉煎，少少不住服，或劑畢再用，煨黍粘子，新瓦上炒香，同大黃煎成，去滓，內芒硝，俱各等分，亦時時呷之，無令飲食，在前得微利，及邪氣已只服前藥，如不已再同前次第服之，取大便利，邪氣則止，如陽明渴者，加石膏，如少陽渴者，加瓜蔞根。陽明行經，升麻，芍藥，葛根，甘草。太陽行經，羌活，防風之類。</p>
<p>黑白散，治大頭風如神（方在後家珍內）。</p>
<p>消毒丸（在寶鑑內附）。</p>
<h3>瘧證。</h3>
<p>夏傷於暑，秋必病瘧，蓋傷之淺者近，而暴傷之重者遠而疾。痎瘧者，久瘧也。是知夏傷於暑，濕熱閉藏而不能發泄于外。邪氣內行，至秋而發為瘧也。何經受之，隨其動而取之，有中三陽者，有中三陰者，經中邪氣，其證各殊，同傷寒治之也。五藏皆有瘧，其治各異，在太陽經謂之風瘧，治多汗之。在陽明經謂之熱瘧，治多下之。在少陽經謂之風熱瘧，治多和之。在陰經則不分三經，總謂之濕瘧，當從太陰經論之。</p>
<p>桂枝羌活湯。</p>
<p>治瘧疾，處暑前發，頭痛項強，脈浮，惡寒有汗。</p>
<p>桂枝，羌活，防風，甘草（各半兩）。</p>
<p>右為麄末，水煎。如吐者加半夏麯等分。</p>
<p>麻黃羌活湯，治瘧病，頭痛項強，脈浮，惡風無汗者。</p>
<p>麻黃（去節），羌活，防風，甘草（各半兩）。</p>
<p>右為麄末，水煎。如吐者加半夏麯等分。</p>
<p>麻黃桂枝湯。</p>
<p>治瘧如前證而夜發者。</p>
<p>麻黃（一兩去節），炙甘草（三錢），黃芩（半兩），桂枝（二錢），桃仁（三十箇去皮尖）。</p>
<p>右為末，水煎桃仁，散血緩肝，夜發乃陰經有邪，此湯散血中風寒也。</p>
<p>桂枝黃芩湯。</p>
<p>治瘧，服藥寒熱轉甚者，知太陽陽明少陽三陽合病也，宜此和之。</p>
<p>甘草，黃芩，人參（各四錢半），半夏（四錢），柴胡（一兩二錢），石膏，知母（各半兩），桂枝（二錢）。</p>
<p>右為麄末，水煎。從卯至午時發者，宜大柴胡湯下之，從午至酉發者，知其邪氣在內也，宜大承氣湯下之，從酉至子時發者，或至寅時者，知其邪氣在血也，宜桃仁承氣湯下之，微利後，更以小柴胡湯制其邪氣可也。</p>
<h3>熱證。</h3>
<p>有表而熱者，謂之表熱，無表而熱者，謂之裏熱，有暴發而為熱者，乃久不宣通而致也，有服溫藥而為熱者，有惡寒戰慄而熱者，蓋諸熱之屬心火之象也，治法，小熱之氣，涼以和之，大熱之氣，寒以取之，甚熱之氣，則汗發之，發之不盡，則逆制之，制之不盡，求其屬以衰之。苦者以治五藏，五藏屬陰而居於內，辛者以治六府，六府屬陽而在於外，故內者下之，外者發之，又宜養血益陰，其熱自愈。</p>
<p>地黃丸（方在前發明內附）。</p>
<p>如煩渴發熱，虛煩蒸病，空心服地黃丸，食後服防風當歸飲子。</p>
<p>柴胡，人參，黃芩，甘草（各一兩），滑石（三兩），大黃，當歸，芍藥，防風（各半兩）。</p>
<p>右為麄末，生薑同煎，如痰實欬嗽加半夏。</p>
<p>金花丸。</p>
<p>治大便黃，米穀完出，驚悸，溺血，淋閉，欬血衄血，自汗頭痛，積熱肺痿。</p>
<p>黃連，黃柏，黃芩，山梔子仁（各一兩）。</p>
<p>右為細末，滴水為丸，桐子大，溫水下。如大便結實加大黃，自利不用大黃，如中外有熱者，作散剉服，名解毒湯。如腹滿嘔吐欲作利者，解毒湯內加半夏茯苓厚朴各三錢，生薑同煎。如白膿下痢後重者，加大黃三錢。</p>
<p>涼膈散（方在難知內附），加減于後。</p>
<p>若咽嗌不利，腫痛并涎嗽者，加桔梗一兩，荊芥穗半兩，若欬而嘔者，加半夏半兩生薑煎。若鼻衄嘔血者，加當歸，芍藥，生地黃各半兩，若淋閟者，加滑石四兩，茯苓一兩。</p>
<p>當歸承氣湯。</p>
<p>治熱攻於上，不利於下，陽狂奔走，罵詈不避親疏。</p>
<p>大黃，當歸（各一兩），甘草（半兩），芒硝（九錢）。</p>
<p>右㕮咀，生薑棗同煎。</p>
<p>大黃膏。</p>
<p>治熱入血室，發狂不認人者。</p>
<p>牛黃（二錢半），硃砂，鬱金，丹皮（各三錢），腦子，甘草（各一錢）。</p>
<p>右為細末，煉蜜為丸，如皂子大，新水化下。</p>
<p>治表惡熱寒而渴，陽明證，白虎湯也。若膚如火燎而熱，以手取之不甚熱，為肺熱也，目晴赤，煩燥或引飲，獨黃芩一味主之，若兩脇肌熱，脈浮弦者，柴胡飲子主之。若脇肋熱，或一身盡熱者，或日晡肌熱者，皆為血熱也，四順飲子主之。若夜發熱，主行陰，乃血熱也，四順飲子，桃仁承氣，選而用之。若晝則明了，夜則譫語，四順飲子。證若發熱，雖無脇熱，亦為柴胡證。晝則行陽二十五度，氣藥也。大抵宜柴胡飲子，夜則行陰二十五度，血藥也，大抵宜四順飲子。</p>
<h3>眼證。</h3>
<p>眼之為病，在府則為表，當除風散熱，在藏則為裏，宜養血安神，暴發者為表而易治，久病者在裏而難愈，除風散熱者，瀉青丸主之。養血安神者，定志丸。婦人則熟乾地黃丸主之。</p>
<p>治眼暴赤暴腫，散熱飲子。</p>
<p>防風，羌活，黃芩，黃連（各一兩）。</p>
<p>右㕮咀，水煎，食後溫服，如大便秘澀，加大黃一兩，如痛甚者，加當歸地黃各一兩，如煩燥不得眠睡，加梔子一兩。</p>
<p>地黃湯。</p>
<p>治眼久病昏澀，因發而久不愈者。</p>
<p>防風，羌活，黃芩，黃連，地黃，當歸，人參，茯苓（各等分）。</p>
<p>右為麄末，水煎。</p>
<p>四物龍膽湯，治目暴發（方在元戎四物湯條下附）。</p>
<p>點眼藥則有蟾光膏（方在後冊雜方內附）。</p>
<p>洗眼藥則有夜光膏（方在寶鑑內附）。㗜藥（在後雜方內附）。</p>
<h3>消渴證。</h3>
<p>消渴之疾，三焦受病也。有上消，有消中，有消腎。上消者，肺也。多飲水而少食，大便如常，小便清利，知其燥在上焦也，治宜流濕以潤其燥。</p>
<p>消中者，胃也，渴而飲食多，小便赤黃，熱能消穀，知其熱在中焦也。宜下之。</p>
<p>消腎者，初發為膏淋，謂淋下如膏油之狀，至病成而面色黧黑，形瘦而耳焦，小便濁而有脂液，治法宜養血以肅清，分其清濁而自愈也。</p>
<p>黃連膏。</p>
<p>黃連末一觔，生地黃，自然汁，白連花藕汁，牛乳汁，各一觔。</p>
<p>右將汁熬成膏，子劑黃連末為丸，桐子大，每服三十丸，少呷，溫水送下，日進十服，渴病立止。</p>
<p>八味丸，治消腎（方在發明內附）。</p>
<h4>腫脹證。</h4>
<p>五臟六腑皆有脹，經云：平治權衡，去菀陳剉，開鬼門，潔淨府，平治權衡者，察脈之浮沉也。去菀陳剉者，疏滌腸胃也。開鬼門者，發汗也。潔淨府者，利小便也。蠱脹之病，治以雞屎醴，酒調服。水脹之病，當開鬼門，決潔淨府也。</p>
<p>治水腫螻蛄，去頭尾，與葡萄心同研。露七日，曝乾為末，淡酒調下，暑月用佳。</p>
<p>又方，棗一㪷，鍋內入水上有四指深，用大戟并根苗，蓋之遍盆合之煮熟為度，去大戟，不用旋旋，喫無時，盡棗決愈，神效。</p>
<h3>瘡瘍證。</h3>
<p>瘡瘍者，火之屬，須分內外以治其本，若其脈沉實，當先疏其內以絕其源也，其脈浮大，當先托裏。恐邪氣入內也，有內外之中者，邪氣至盛，遏絕經絡，故發癰腫，此因失托裏，及失疏通，又失和榮衛也，治瘡之大要，須明托裏疏通，行榮衛之三法，內之外者，其脈沉實，發熱煩燥，外無焮赤，痛深於內，其邪氣深矣。故先疏通臟腑，以絕其源，外之內者，其脈浮數，焮腫在外，形證外顯，恐邪氣極而內行，故先托裏也。內外之中者，外無焮惡之氣，內亦臟腑宣通，知其在經，當和榮衛也。用此三法之後，雖未差，必無變證，亦可使邪氣峻減而易痊愈。</p>
<p>內疏黃連湯。</p>
<p>治嘔啘心逆，發熱而煩，脈沉而實，腫硬木悶而皮肉不變，色根繫深，大病遠在內，臟腑秘澀當急疏利之。</p>
<p>黃連，山梔子，芍藥，當歸，檳榔，木香，薄荷，連翹，黃芩，桔梗，甘草（各一兩）。</p>
<p>右為末，水煎先喫一二服，次後加大黃一錢，再服加二錢，以利為度，如有熱證，止服黃連湯，大便秘澀則加大黃，如覺無熱證，及後藥復煎散，時時服之，如無熱證及大便不秘澀，止服，復煎散，稍有熱證卻服黃連湯，秘則加大黃，如此內外皆通，榮衛和調，則經絡自不遏絕矣。</p>
<p>內托復煎散。</p>
<p>治腫焮於外，根槃不深，形證在表，其脈多浮，痛在皮肉，邪氣盛而必侵於內，須急內托以救其裏也。</p>
<p>地骨皮，黃耆，防風，芍藥，黃芩，白朮，茯苓，人參，甘草，當歸，防己（各一兩），柳桂（淡味加半兩）。</p>
<p>右㕮咀，先煎蒼朮一觔，用水五升煎至三升，去蒼朮滓，入前藥十二味，再煎至三四盞，絞取清汁作三四服，終日服之，又煎蒼朮滓為湯，去滓再依前煎十二味藥滓服之，此除濕散鬱熱，使胃氣和平，如或未已，再作半料服之，若大便秘及煩熱，少服黃連湯，如微利煩熱已退卻，服復煎散半料，如此使榮衛俱行，邪氣不能自侵也。</p>
<p>當歸黃耆湯。</p>
<p>治瘡瘍，臟腑已行，如痛不可忍者。</p>
<p>當歸，黃耆，地黃，川芎，地骨皮，芍藥（各等分）。</p>
<p>右㕮咀，水煎。如發熱加黃芩，如煩躁不能睡臥者加梔子，如嘔則是濕氣侵胃倍加白朮。</p>
<p>內消升麻湯。</p>
<p>治血氣壯實，若患癰疽，大小便不通。</p>
<p>升麻，大黃（各二兩），黃芩（一兩半），枳實（麩炒），當歸，芍藥（各一兩半），炙甘草（一兩）。</p>
<p>右㕮咀，水煎食前服。</p>
<p>復元通氣散。</p>
<p>治諸氣澀耳聾，腹癰便癰，瘡疽無頭，止痛消腫。</p>
<p>青皮，陳皮（各四兩），甘草（三兩生熟各半），川山甲（炮），栝蔞根（各二兩），加金銀花，連翹（各一兩）。</p>
<p>右為細末，熱酒調下。</p>
<p>五香湯。</p>
<p>治毒氣入腹托裏，若有異證於內加減。</p>
<p>丁香，木香，沉香，乳香，麝香（三錢）。</p>
<p>右為細末，水煎空心服，嘔者去麝加藿香一兩，渴者加人參一兩。</p>
<p>赤芍藥散。</p>
<p>治一切疔瘡癰疽，初覺增寒疼痛。</p>
<p>金銀花，赤芍藥（各半兩），大黃（七錢半），瓜蔞（大者一枚），當歸，甘草，枳實（各三錢）。</p>
<p>右為麄末，水酒各半煎。</p>
<p>桃紅散。</p>
<p>歛瘡生肌，定血辟風邪。</p>
<p>滑石（四兩），乳香，輕粉（各二錢），小荳粉（一錢），寒水石（三兩燒），一方改小荳粉為定粉一兩。</p>
<p>右為極細末，乾貼。</p>
<p>冰霜散。</p>
<p>治火燒皮爛大痛。</p>
<p>寒水石（生），牡蠣（燒），朴硝，青黛（各一兩），輕粉（一錢）。</p>
<p>右為細末，新水或油調塗立止。</p>
<p>乳香散。</p>
<p>治杖瘡神效。</p>
<p>乳香，沒藥（各三錢），自然銅（半兩，火燒醋醮十遍），茴香（四錢），當歸（半兩）。</p>
<p>右為細末，每服半兩，溫酒調下。</p>
<p>五黃散。</p>
<p>治杖瘡定痛。</p>
<p>黃丹，黃連，黃芩，黃柏，大黃，乳香（各等分）。</p>
<p>右為細末，新水調成膏，用緋絹帛上攤貼。</p>
<p>花蘂石散。</p>
<p>治一切金瘡貓狗咬傷，婦人敗血，惡血奔心，血運胎死，胎衣不下至死者，以童便調下一錢，取下惡物，神效。</p>
<p>硫黃（明淨者四兩），花蘂石（一觔）。</p>
<p>右二味拌勻，用紙筋和膠泥固濟，瓦罐子一箇，入藥內蜜泥封口，焙乾安在四方塼上，摶上書八卦五行字，用炭一秤，圍燒自巳午時，從下生火，直至經宿，火盡又經宿，罐冷取研極細，磁盒內盛用。</p>
<p>截疳散。</p>
<p>治年深疳瘻瘡。</p>
<p>黃連（半兩），白歛，白芨，黃丹（各一兩），輕粉（一錢），龍腦，麝香（各五分另研），蜜陀僧（一兩）。</p>
<p>右為細末和勻乾糝，或絍上以膏貼之。</p>
<p>生肌散。</p>
<p>寒水石（剉），滑石（各一兩），烏魚骨，龍骨，定粉，蜜佗僧，白礬灰，乾胭脂（各半兩）。</p>
<p>右為極細末，乾糝用之。</p>
<p>平肌散。</p>
<p>治諸瘡久不歛。</p>
<p>蜜佗僧，花蕊石（二物同煆赤），白龍骨（各一兩），乳香（另研），輕粉（各一錢），黃丹，黃連（各一錢半）。</p>
<p>右為極細末，和勻乾摻。</p>
<p>碧霞挺子。</p>
<p>治惡瘡透了，不覺疼痛者。</p>
<p>銅綠（一兩），碙砂（二錢），蟾酥（一錢）。</p>
<p>右為細末，燒飯和作麥檏挻子，每用刺不覺痛者，須刺血出，方絍藥在內，以膏貼之。</p>
<p>用藥加減。</p>
<p>如發背疔腫膿潰前後，虛而頭痛，於托裏藥內加五味子，恍惚不寧，加人參茯神，虛而發熱者，加地黃栝蔞根，潮熱者，加柴胡地骨皮，渴不止者，加知母赤小荳，虛煩者，加枸杞天門冬，自利者，加厚朴，膿多者，加當歸川芎，痛甚者，加芍藥乳香，肌肉遲生者，加白歛官桂，有風邪者，加獨活防風，心驚悸者，加丹砂，口自瞤動者，加羌活細辛，嘔逆者，加丁香藿香葉，痰多者，加半夏陳皮。</p>
<p>迴瘡金銀花散。</p>
<p>治瘡瘍痛甚，則色變紫黑者。</p>
<p>金銀花（連枝葉剉二兩），黃耆（四兩），甘草（一兩）。</p>
<p>右㕮咀，用酒一升，同入壺瓶內閉口，重湯內煮三兩時辰，取出去滓頓服之。</p>
<p>雄黃散。</p>
<p>治瘡有惡肉不能去者。</p>
<p>雄黃（一錢研），巴豆（不去皮研一箇去皮五分）。</p>
<p>右二味，再同研如泥，入乳香沒藥各少許，再研勻細，少上，惡肉自去矣。</p>
<h3>瘰癧證。</h3>
<p>夫瘰癧者，結核是也，或在耳後，或在耳前，或在耳下，連及頤頷，或在頸下連缺盆，皆謂之瘰癧，或在胸及胸之側，或在兩脇，皆謂之馬刀，手足少陽主之。</p>
<p>治結核前後耳有之，或耳下頷下有之，皆瘰癧也。桑椹二斗，極熟黑色者，以布裂取自然汁，不犯銅鐵，以文武火慢熬，作薄膏子，每日白沸湯點一匙，食後，日三服。</p>
<p>連翹湯。</p>
<p>治馬刀。</p>
<p>連翹，瞿麥花（各一斤），大黃（三兩），甘草（二兩）。</p>
<p>右㕮咀，水煎服，後十餘日，可於臨泣穴灸二七壯，服五六十日方效，在他經者。</p>
<p>又一方服大黃木通五兩，知母（一作貝母）五兩，雄黃七分，檳榔半兩，減甘草不用，同前藥為細末，熟水調下三五錢服之。</p>
<p>瞿麥飲子。</p>
<p>連翹（一斤），瞿麥穗（半斤）。</p>
<p>右為麄末，水煎，臨臥服此藥，經效多不能速驗，宜待歲月之久除也。</p>
<h3>欬嗽證。</h3>
<p>欬，謂無痰而有聲，肺氣傷而不清也，嗽，謂無聲而有痰，脾濕動而為痰也，欬嗽是有痰而有聲，蓋因傷於肺氣而欬，動於脾濕，因欬而為嗽也，治欬嗽者，治痰為先，治痰者，下氣為上，是以南星半夏勝其痰而能食者，大承氣湯微下之，痰而不能食者，厚朴湯治之，夏月嗽而發熱者，謂之熱痰嗽，小柴胡湯四兩，加石膏一兩，知母半兩用之，冬月嗽而寒熱者，謂之寒嗽，小青龍加杏仁服之，蜜煎生薑湯，蜜煎橘皮湯，燒生薑胡桃，皆治無痰而嗽者，此乃大例，更當隨時隨證加減之。</p>
<p>利膈丸（方在寶鑑內附）。</p>
<p>款氣丸。</p>
<p>治久嗽痰喘，肺氣浮腫。</p>
<p>郁李仁，青皮（去白），陳皮（去白），檳榔，木香，杏仁（去皮尖），馬兜苓（炒），人參，廣茂，當歸，澤瀉，茯苓，苦葶藶（炒各二錢），防己（半兩），牽牛（取頭末一兩半）。</p>
<p>右為細末，生薑汁麵糊為丸，桐子大，生薑湯下。</p>
<p>治欬嗽諸方，在家珍內并寶鑑內者，更宜選而用之。</p>
<h3>虛損證。</h3>
<p>虛損之疾，寒熱因虛而感也，感寒則損陽，陽虛則陰盛，故損則自上而下，治之宜以辛甘淡，過於胃則不可治也。感熱則損陰，陰虛則陽盛，故損則自下而上，治之宜以苦酸鹹，過於脾則不可治也，自上而損者，一損損於肺，故皮聚而毛落，二損損於心，故血脈虛弱，不能榮於臟腑，婦人則月水不通，三損損於胃，故飲食不為肌膚也，自下而損者，一損損於腎，故骨痿不能起於床，二損損於肝，故筋緩不能自收持，三損損於脾，故飲食不能消剋也，故心肺損則色弊，肝腎損則形痿，脾胃損則穀不化也。</p>
<p>治肺損皮聚而毛落，宜益氣四君子湯（方在前難內知內附）。</p>
<p>治心肺虛損，皮聚而失落，血脈虛損，婦人月水愆期，宜益氣和血，八物湯（方在前元戎內附）。</p>
<p>治心肺損及胃，損飲食不為肌膚，宜益氣和血，調飲食，十全散（方在前元戎內附）。</p>
<p>治腎肝損，骨痿不能起於床，宜益精。筋緩不能自收持，宜緩中。</p>
<p>牛膝丸。</p>
<p>牛膝（酒浸），萆蘚，杜仲（剉炒），蓯蓉（酒浸），菟絲子，防風，葫蘆巴（炒），肉桂（減半），破故紙，沙苑白蒺藜。</p>
<p>右等分為細末，酒煮豬腰子為丸，每服五七十丸，空心溫酒下，如腰痛不起者，服之甚效。</p>
<p>治陽盛陰虛，肝腎不足，房室虛損，形瘦無力，面多青黃而無常色，宜榮血養腎。</p>
<p>地黃丸。</p>
<p>蒼朮（一斤泔浸），熟地黃（一斤），乾薑（春七錢夏半兩秋七錢冬一兩）。</p>
<p>右為細末，蒸棗肉為丸，桐子大，每服五七十丸至百丸，諸飲下，若加五味子為腎氣丸，述類形象，神品藥也，如陽盛陰虛，心肺不足，及男子婦人面無血色，食少嗜臥，肢體困倦，宜八味丸（方在元戎內附），如形體瘦弱，無力多困，未知陰陽先損，夏月宜地黃丸，春秋宜腎氣丸，冬月宜八味丸。</p>
<p>治病久虛弱，厭厭不能食，和中丸（前在前脾胃論中）。</p>
<h3>吐證。</h3>
<p>吐證有三，氣積寒也，皆從三焦論之，上焦在胃口，上通於天氣，主內而不出，中焦在中脘，上通天氣，下通地氣，主腐熟水穀，下焦在臍下，通於地氣，主出而不納，是故上焦吐者，皆從於氣，氣者天之陽也，其脈浮而洪，其證食已暴吐，渴欲飲水，大便結燥，氣上衝而胸發痛，其治當降氣和中，中焦吐者，皆從於積，有陰有陽，食與氣相假為積而痛，其脈浮而弦，其證或先痛而後吐，或先吐而後痛，治法當以小毒藥去其積，檳榔木香和其氣，下焦吐者，從於寒，地道也，其脈沉而遲，其證朝食暮吐，暮食朝吐，小便清利，大便秘而不通，治法當以毒藥通其秘塞，溫其寒氣，大便漸通，復以中焦藥和之，不令大便秘結而自愈也。</p>
<p>治上焦氣熱上衝，食已暴吐，脈浮而洪，宜先和中。</p>
<p>桔梗湯。</p>
<p>桔梗，白朮（各一兩半），半夏（二兩），陳皮（去白），白茯苓，枳實（麩炒），厚朴（薑製炒香各一兩）。</p>
<p>右㕮咀，水煎取清，調木香散二錢，隔夜空腹服之，後氣漸下吐漸止，然後去木香散，加芍藥二兩，黃耆一兩半，每一料中扣算加之，如大便燥結，食不盡下，以大承氣湯去硝微下之，少利再服前藥補之，如大便復結，依前再微下之。</p>
<p>木香散。</p>
<p>木香，檳榔（各等分）。</p>
<p>右為細末，前藥調服。</p>
<p>厚朴丸。</p>
<p>主翻胃，吐逆飲食，噎塞，氣上衝心，腹中諸疾，其藥味即與萬病紫苑丸同（方在元戎方內附）。其加減于後，春夏再加黃連（二兩），秋冬再加厚朴（二兩），如治風，於春秋所加黃連厚朴外，更加菖蒲茯苓各一兩半，如治風癇不愈者，依春秋加減外，更加人參菖蒲茯苓各一兩半，如失精者，加菖蒲白茯苓為輔，如肝之積，加柴胡蜀椒為輔，如心之積，加黃連人參為輔，如脾之積，加吳茱萸乾薑為輔，如腎之積，加菖蒲茯苓為輔，秋冬久瀉不止，加黃連茯苓。</p>
<h3>心痛證。</h3>
<p>諸心痛者，皆少陰厥陰氣上衝也，有熱厥心痛者，身熱足寒，痛甚則煩燥而吐，額自汗出，知其熱也，其脈浮大而洪，當灸太谿及崑崙，謂表裏俱瀉之，是謂熱病汗不出，引熱下行，表汗通身而出者愈也，灸畢服金鈴子散則愈，痛止服枳朮丸，去其餘邪也，有大實心中痛者，因氣而食，卒然發痛，大便或秘，久而注悶，心胸高起，按之愈痛，不能飲食，急以煮黃丸利之，利後以藁本湯去其邪也，有寒厥心痛者，手足逆而通身冷汗出，便溺清利，或大便利而不渴，氣微力弱，急以朮附湯溫之，寒厥暴痛，非久病也，朝發暮死，急當救之，是知久病無寒，暴病非熱也。</p>
<p>金鈴子散。</p>
<p>治熱厥心痛，或發或止，久不愈者，金鈴子，玄胡索（各一兩）。</p>
<p>右為細末，每服二三錢，酒調下，溫湯亦得。</p>
<p>治大實心痛二藥。</p>
<p>厚朴丸，同紫苑丸（在元戎方內），煮黃丸（方在陰證略例內）。</p>
<p>治大實心痛，大便已利，宜藁本湯止其痛也。</p>
<p>藁本（半兩），蒼朮（一兩）。</p>
<p>右為麄末，水煎服清。</p>
<p>治寒厥暴痛，脈微氣弱，宜朮附湯溫之（方在雲岐脈論內附）。</p>
<h3>疝氣。</h3>
<p>男子七疝，婦人瘕聚帶下，皆任脈所主陰經也，腎肝受病，治法同歸於一。</p>
<p>酒煮當歸丸。</p>
<p>當歸（剉），附子（炮），苦楝子（剉），茴香（各一兩）。</p>
<p>右剉，以酒三升同煮，酒盡為度，焙乾作細末入。</p>
<p>丁香，木香（各二錢），全蝎（二十二箇），玄胡索（二兩）。</p>
<p>右同為細末，與前藥一處，拌勻酒糊為丸，每服三五十丸至百丸，空心溫酒下，凡疝氣帶下皆屬於風，全蝎，治風之聖藥，茴香苦楝皆入小腸，故以附子佐之，丁香木香則導為用也。</p>
<p>治奔豚及小腹痛不可忍者，苦楝丸。</p>
<p>苦楝，茴香，黑附子。</p>
<p>右用酒二升，煮酒盡為度，暴乾或陰乾，搗為極細末，每一兩藥末入</p>
<p>全蝎（十八箇），玄胡索（半兩），丁香（十五箇）。</p>
<p>右共為細末，酒糊為丸，桐子大，每服百丸，空心酒下，如痛甚，煎當歸入酒下，大效。</p>
