<header><h1>陳氏幼科秘訣</h1></header>
<dl class="元資料" data-type="book" hidden></dl>
<h2>初生</h2>
<p>小兒生下，以甘草、黃連、馬料豆多煎湯與之服。蓋穢吞胸中，吐以甘草；穢入腹中，利以黃連也。茯苓丸能治初生小兒腹滿氣短，不能飲乳。是穢物入腹所致，若胎中受寒，令小兒腹痛亦治。</p>
<p><u>茯苓丸</u></p>
<p>赤茯苓　黃連（寒症不用，宜用芍藥）</p>
<p>蜜丸桐子大，乳汁下一丸。</p>
<h2>沐浴</h2>
<p>宜益母草湯。令兒體滑，血脈流通，免生瘡疾。</p>
<p>益母草　黃連（各一兩）　蛇床子　苦參（各二兩）　本（五錢）　朱砂　雄黃（各一錢）</p>
<p>又方　桃枝　梓枝。</p>
<p>煎湯臨浴時加豬膽一個入內。</p>
<h2>噤風</h2>
<p>噤風者，初生七日內忽然目閉、口噤，啼聲不出，下青糞，舌上有　肉如栗，吃乳不得，口吐白沫，大小便皆通。由在胎受熱毒流入心脾，故見於喉舌之間。或初生時為風邪搏擊所致，名犯風噤。口中白栗用綿裹，指蘸水擦破。百二十日內俱有此患。一口噤不乳，腹急多啼，牙關緊閉與撮口相似，赤者心噤，白者肺噤。</p>
<h2>撮口</h2>
<p>撮口者，面目黃腫或赤，喘急啼聲不出，由胎受熱氣兼風熱入臍，流毒於心脾，故舌強唇青，聚口撮而飲乳有妨，若口吐白沫，四肢冷，不治。或肚脹青筋，吊腸卵疝，內氣引痛，皆腸胃郁結所致，十救二三，月內尤急，周歲始免。用白僵蠶直而明亮者佳二條，去絲嘴，炙脆為末，蜜調敷人中即瘥。或研牛黃一錢和竹瀝抹口中亦治。（按：牛黃要嫩黃輕虛，重疊可揭，氣息微香，摩指甲竟透者。）</p>
<h2>臍風</h2>
<p>臍風者，斷臍後水濕風冷入臍，流於心肺，甚則發搐成驚。若臍凸四傍青黑，撮口不開，是為內撮。爪黑者死。用赤腳蜈蚣一條，蠍尾四個，僵蠶七條，瞿麥五分，為末。先以鵝羽管吹鼻內，得噴嚏啼哭為可治。後用薄荷湯調服，三者名雖不同，其原則一。皆因裡氣鬱結壅閉不通，由斷臍太短，結得不緊，外風入臍或牽動臍帶，水入生瘡所致。撮口尤其治當疏利，並用余家小紅丸下之後，用抱龍丸、牛黃丸等。</p>
<p>心熱發驚，面青啼不出，吐白沫，腹脹硬，臍四邊浮腫，舌強不進乳，不與噤風同。初生小兒熱在胸膛頻頻作聲，弩脹，治法宜去風。此症眉青臉赤，勿用藥。治兒口噤牙關閉者，用天南星去皮臍為細末，加龍腦少許和均，指蘸薑汁，同藥擦牙上。</p>
<p><u>小紅丸</u></p>
<p>（又名辰砂丸）</p>
<p>全蠍（去毒洗淨，一兩）　南星（一兩）　珍珠（一錢）　朱砂（四錢五分）　巴霜（二錢五分）</p>
<p>為末，糯米糊丸如芥子大，每歲三五丸，看小兒強弱用。十歲以外百丸方效，燈心湯下。須要活法加減用之，方稱弄斧之手。如六七十丸、四五十丸。在用之者才酌。</p>
<p><u>抱龍丸</u></p>
<p>天竺黃（一兩）　膽星（四兩）　雄黃（五錢）</p>
<p>蜜丸，圓眼核大，約重一錢，朱砂為衣，每服一丸，薄荷湯化下，辰砂為衣亦可。</p>
<p><u>牛黃丸</u></p>
<p>枳實　黃連（各一兩）　膽星（二兩）　天竺黃（五錢）　天麻（五錢）　僵蠶　金蠍（各三錢）　雄黃（三錢）　龍齒（　，三錢）　牛黃（一錢）　麝香　冰片（各錢半）</p>
<p>蜜丸蠟封，用則去蠟，薄荷湯、燈心湯化下。</p>
<h2>氣閉</h2>
<p>兒生一二日，大小便不通，腹脹滿而欲絕，此胎毒之氣鬱閉所致。急令婦人溫水漱口，吸兒前後心、臍下及手足心，共七處，各吸五七口，赤紅色為度。氣散而自通，不然救亦無用。服余家小黑丸及蔥白散。蔥白四寸，人乳內同搗如泥，敷入兒口，與乳，使吐後用當歸散。</p>
<p><u>當歸散</u></p>
<p>當歸（八分）　木通（六分）　連翹（五分）　滑石（六分）　甘草梢（三分）</p>
<p>水一鐘煎，不時服。</p>
<p><u>小黑丸</u></p>
<p>木香（一兩五分）　丁香（七錢五分）　肉蔻（曲包煨，十個）　杏仁（去皮尖，百二十粒）　百草霜（一兩）</p>
<p>巴霜前藥每一兩加巴霜一錢，丸法用法與小紅丸同。</p>
<h2>啼</h2>
<p>兒生下體青白無血色，日夜啼不止，體仰而　，腹滿不乳，大便青白，是在胎為風冷所傷而然。時時吐　，或腹中如雞子黃，接之如小雞聲而後出，若不急治則成癇，宜用余家小黑丸及養臟湯。</p>
<p><u>養臟湯</u></p>
<p>白朮（八分）　芍藥（六分）　茯神（七分）　川芎（五分）　藿香（六分）　甘草（四分）　木香（三分）</p>
<p>鉤藤（三分）　澤瀉　肉豆蔻（各七分）</p>
<p>水一鐘，薑三片，煎服。</p>
<h2>傷風</h2>
<p>風邪感於腠理，先入於肺，肺主皮毛，其身日夜發熱無汗，鼻塞氣粗，不惡寒而惡風，當風乃憎寒，呵欠煩悶，口中氣熱，當表散，宜加減芎蘇飲。</p>
<p><u>芎蘇飲</u></p>
<p>黃芩　柴胡　紫蘇　前胡　枳殼　半夏　桔梗　防風　山楂　茯苓　陳皮　甘草　干葛頭痛加川芎或白芷；偏身及肢節痛加羌活；夾食去枳殼加青皮、枳實或蒼朮；四五日熱不退加麻黃，服麻黃又不退，熱入裡也，去紫蘇、枳殼、防風，加枳實、竹葉、石膏，用余家小紅丸下之。</p>
<p>有痰，前飲內加貝母、天花粉或膽星；熱稍退而嗽，前飲內去紫蘇、防風，加桑白皮、杏仁或貝母，先當用小紅丸下之；嗽不轉者，熱鬱在肺，而氣不得宣通，加麻黃、石膏；嗽甚見血，加山梔、石膏；嗽久雖無血，亦加山梔；略有餘熱，前飲內去紫蘇、柴胡、防風，加石膏。</p>
<p>兒百日內身熱，當用脫甲散，四五日不止用小紅丸。</p>
<p><u>脫甲散</u></p>
<p>銀柴胡　龍膽草　知母　麻根（各三錢）</p>
<p>川芎　當歸（各二錢）　茯苓　人參（各一錢）　甘草（一錢）　蔥白頭（一個）</p>
<p>煎服。</p>
<h2>咳嗽</h2>
<p>咳嗽屬肺，風熱鬱於肺則生痰，故嗽有喉間作小雞聲者，先用小紅丸下之。不惟下痰，且肺與大腸相為表裡，腑不實臟不能實也。大率順氣化痰清肺為主，宜清金貝母湯。</p>
<p><u>清金貝母湯</u></p>
<p>貝母　杏仁　桑皮　花粉　桔梗　枳殼　甘草　黃芩　木通　蘇子　陳皮　茯苓痰甚加膽星；食積痰去貝母，加製半夏、山楂；痰而嗽甚加山梔；喘加馬兜鈴或紫菀；嗽而血加山梔、石膏；嗽而氣逆，倍蘇子；嗽不轉加麻黃、石膏；嗽久加款冬花、馬兜鈴，或瓜蔞仁、紫菀、五味、烏梅。</p>
<p>食枳痰須用製半夏、枳實、青皮、枳殼，嗽甚，眼白上有　肉生者，此嗽傷血分也，宜服生地、當歸入血分，檳榔下其氣。</p>
<h2>瘧</h2>
<p>瘧者有暑、有痰、有風、有濕、有食。兒病多食風痰，無汗要有汗，散風邪為主。大人兼補，小兒不必，宜清脾退熱飲。</p>
<p><u>清脾退熱飲</u></p>
<p>柴胡　黃芩　枳殼　半夏　花粉　青皮　檳榔　山楂　常山　草果　茯苓　陳皮　甘草暑加香薷，渴甚加石膏，濕加蒼朮。</p>
<p>有汗要無汗，扶正氣為主。大人小兒俱帶發散，用加減補中益氣湯。</p>
<p><u>補中益氣湯</u></p>
<p>人參　白朮　黃　柴胡　歸身　升麻　黃芩　陳皮　茯苓加減法如前。</p>
<p>久瘧一補一瀉，柴胡、黃芩、枳實、半夏、檳榔、山楂、白朮、茯芩、陳皮、甘草。</p>
<p>瘧後寒熱雖停，尚有餘熱，宜清脾退熱飲去常山、草果，加地骨皮、知母，腹脹加桔梗、卜子。</p>
<p>瘧母者，寒熱時血氣與邪相爭，飲冷所致。結塊在脅下，宜鱉甲丸、阿魏丸等。</p>
<p><u>鱉甲丸</u></p>
<p>生地　當歸　川芎　紅花　牡丹皮　檳榔　蓬朮　香附　厚朴　鱉甲（醋炙）　穿山甲尤妙。</p>
<p><u>阿魏丸</u></p>
<p>阿魏（沸湯泡）　雄黃（研末，各二錢半）　辰砂（研末，一錢半）</p>
<p>面糊丸，綠豆大。</p>
<p>胎瘧六七發過，即宜截，久則元氣虛。久瘧成勞，用四獸飲、截瘧飲。</p>
<p><u>四獸飲</u></p>
<p>常山（三錢）　枳殼（三錢）　檳榔（一個）　生薑（五片）</p>
<p>水煎，五更服。</p>
<p><u>截瘧飲</u></p>
<p>全歸（三錢）　川芎（三錢）　甘草（三錢）　何首烏（二兩，新而大者佳）</p>
<p>陰陽水各一大碗，煎一碗，臨日面朝東，五更溫服。</p>
<h2>吐</h2>
<p>吐症有五。一曰　，乳哺過多，口角流出，滿而溢也，勿與乳，則以陳米煮粥與食，勿藥可也。二曰逆（上升為逆），氣貴下降，消食順氣為主。三曰吐，為頓出有物無聲，以蒼朮、藿香、二陳湯等。四曰嘔，為漸出有物有聲，亦用上方，五曰噦，即乾嘔也，有聲無物，乃屬火，最為惡候。生薑為嘔家聖藥，若兒傷食為多，不可與乳。乳味甘，令中滿，且動舌筋，起胃火。初生小兒便吐，由拭口中穢血不盡，或食胞漿，故令吐多。用甘草、黃連汁或吾家小黑丸，不止服正胃散。傷食吐、冷吐可服溫胃調氣湯。</p>
<p><u>溫胃調氣湯</u></p>
<p>蒼朮（正胃氣）　厚朴（泄中氣）　半夏　香附（正氣）　山楂　神麯　麥芽　藿香（正氣）　乾薑　茯苓服此不止，若見是冷，可加木香、丁香、厚朴，次第加之。若是傷食，以枳實、青皮、檳榔次第加之。用前藥又不止，是胃氣因吐而虛，面青白，唇淡，精神少，可加人參。此症必眼眶陷下，方可用參，若不用參，恐虛極生風，傳為慢驚。</p>
<p>暑月有熱吐者，因冒暑或傷熱食，致熱氣入胃，吐也。食與氣相搏而吐也，其症眼眶陷，唇燥，舌有刺，大便焦黃，射出如臭鴨蛋腥氣，用水潑地令兒臥上，用黃瓜同臥。宜服清熱之劑，如後吐瀉論中清胃止渴湯可加減用之。初生小兒吐，余家小黑丸最妙。</p>
<h2>吐瀉</h2>
<p>脾胃俱虛，吐瀉並作，傷食為多，四時俱有。或有春因於風，佐以防風、天麻；夏因於暑，佐以香薷、扁豆；秋因於涼，本方皆溫劑，不必藥佐。昏睡露睛，胃家虛熱，睡不露睛，胃家實熱，無論虛熱實熱，先用小黑丸微利之。亦有身大熱而吐瀉，皆傷風症，宜治風。不因吐瀉而感之，傷食吐瀉，乳食不化，或吐與瀉皆酸臭，宜消食平胃湯。</p>
<p><u>消食平胃湯</u></p>
<p>藿香　厚朴　蒼朮　半夏　香附　陳皮　山楂　神麯　茯苓瀉色黃赤屬熱，加薑炒黃連，青白屬冷，只用本方，甚則加木香、丁香、肉桂、乾薑、肉蔻等。腹痛加砂仁，身熱加柴胡。傷食重，枳實、青皮、檳榔可漸加。身涼吐沫，瀉青白，呵欠，煩悶不渴，噦氣，常見露睛，此病久荏苒，因成吐瀉，急宜補脾。量加人參、白朮、乾薑、肉桂、附子、木香、丁香等。</p>
<p>身熱或不熱，眼眶陷，舌上有刺，唇燥飲水，瀉焦黃臭，清胃止渴湯。</p>
<p><u>清胃止渴湯</u></p>
<p>人參　蓮肉　柴胡　黃連　杏仁　陳皮　甘草　石膏　山梔　貝母　茯苓若眼眶勿陷，且勿用人參，只用白朮；眼眶已陷，斷要用參。腹痛加砂仁，久渴而虛亦須加山藥、白朮。不止加肉蔻、訶子。冷瀉色青白，面　白淒慘，去黃連加附子、木香、蒼朮，甚則丁香、肉桂亦可用。此症手足厥冷為逆，急與人參、附子溫其胃，不變慢驚。傷食瀉糞色白，水穀不化，酸臭，去黃連加蒼朮、香附。瀉而浮腫，小便澀少不行，是小腸滲入脾胃，宜利水湯。</p>
<p><u>利水湯</u></p>
<p>蒼朮（白朮也可）　滑石　豬苓　澤瀉　厚朴　陳皮　甘草　山楂　茯苓皮　赤芍藥　車前子用升麻、柴胡提其氣，木香、天麻醒其脾，防風燥其濕。上吐清汁，下瀉完穀，面白腹痛，手麻腳轉筋，大叫哭，食乳即返，此因濕痰流注四肢，宜除濕化痰湯。若唇口乾燥，司空黃色，勿用此方，亦用利水東加天麻。</p>
<p>小兒吐乳或痰瀉黃沫，唇深紅，額汗自時出，若陰囊吊縮，牙齦黑色，女兒陰腫，勿必用醫藥。</p>
<h2>霍亂</h2>
<p>其症脈多伏或絕，內有所積，外有所感，邪正相干，陰陽乖隔，留於中脘，陽不升，陰不降，吐利暴作。病在上焦，心痛而吐。病在下焦，腹痛而瀉。病在中焦，心腹俱痛，吐瀉並作。偏陽多熱，偏陰多寒，甚則轉筋，腹痛，手足厥逆。又足陽明胃經以養宗筋，暴吐暴瀉，宗筋失養，故攣急，甚則舌卷囊縮。脾受賊邪，木來侮土也。吐瀉盡，陰陽順而愈矣。此症乃飲食所傷，切勿與穀食、薑椒等，必待吐盡瀉盡，過一二時方與稀粥。若干霍亂，最是急症，不得吐利，陰陽閉而死矣。此干霍亂乃立見安危，惟用鹽水灌之，令其大吐，或掘地穴以新汲水投之，攪取澄清飲之，或用手挖喉中探吐尤捷。有宜吐者，雖已吐利，仍用二陳湯吐之，以提其氣，又刺委中及十指出血。</p>
<p>凡霍亂用吐瀉本方，因風加柴胡、防風，因寒倍半夏，因濕倍蒼朮、防風，因暑加藿香、扁豆，因食多用枳實、青皮。（治泄瀉用益元散加白朮末一兩，每服一二錢，米湯調服。）</p>
<h2>積</h2>
<p>積者，停蓄之總名。諸書皆分五積屬臟，六聚屬腑。腑病不治自愈，臟病宜治，而脾臟尤難。丹溪只言積塊有形之物在左為血積，在右為痰積，在中為食積；兒則有食積、乳積、氣積、虛積、實積、驚積、熱積、寒積，甚則為　癖，為痞結，為　瘕。又肝積為肥氣，脾積為痞氣，肺積為息賁，心積為伏梁，腎積為奔豚，治各不同。小兒只是去脾家食積而已。夫胃水穀之海，脾即夾肝附上，脾熱則磨速而食易化，脾寒則磨遲而食難消，不消則變為冷積矣。大抵消食行氣，開痰化血為主，只宜消之化之磨之，無下積之理。若積瀉先當小黑丸下之，後即宜補，以人參、白朮，磨以檳榔、枳實、山棱、蓬朮輩。小兒只是食積多，痰與血少，其余更少。</p>
<p>然食積為疳積之根，未至疳時不可用胡黃連、銀柴胡、蘆薈等寒藥，只宜溫和藥化之開之，余家小黑丸可用。</p>
<p>若常服則用肥兒丸。</p>
<p><u>肥兒丸</u></p>
<p>炒陳皮（四兩）　厚朴（米泔水浸炒）　麩炒枳實　炒卜子　炒青皮　薑炒黃連　白朮　檳榔（各二兩）</p>
<p>山楂　炒神麯　炒焦麥芽　連翹　龍膽草　蓬朮（各一兩半）　甘草（一兩半）　米泔水浸炒香附（四兩）</p>
<p>為末，蜜丸圓眼大，米湯化下。</p>
<p>若疳積，加蘆薈、胡黃連、柴胡，名玉疳深道丸，又名蘆薈丸。必夜間發熱，骨瘦如柴者方可加。</p>
<p>兒有積滯，面目黃腫，夜間身熱，肚熱尤甚，腹痛覆臥，或大便閉塞，小便如油發黃，泄瀉糞白酸臭，吐逆宜化積健脾湯。</p>
<p><u>化積健脾湯</u></p>
<p>（又名消積化聚湯）</p>
<p>陳皮　厚朴　蒼朮　半夏　香附　枳實　青皮　山楂　檳榔　茯苓　甘草積甚加山棱、蓬朮、草果，腹痛加砂仁、木香，積塊而瀉先用小黑丸，後服本方去半夏、檳榔，加白朮、白芍。有痰去蒼朮，加海石、石鹼；血積去厚朴、蒼朮、半夏，加當歸梢、桃仁、紅花，甚則穿山甲；氣積倍香附，加桔梗、砂仁。實熱加黃連，冷加木香、丁香，虛冷或下後積不除加丁香、肉蔻。若瀉而至虛黃積，去枳殼、檳榔、青皮、白朮，虛甚加人參，小便不利而腫加澤瀉、豬苓。　癖皆宜前方，惟痞乃腹脹胸滿，營衛不得流行，宜小黑丸微利，甚則備急丸，後宜用白朮補。或在皮裡膜外亦宜本方。又用人參白朮藥間服。　則傷食得之，宜消食，用本方；瘕則傷血得之，宜破血，是久積所致，藥俱見前。余家肥兒丸是消積藥，輕則可服，重則加山棱、蓬朮，然當詳其痰血而增入。</p>
<p><u>消積化聚丸</u></p>
<p>山棱　白朮　黃連　茯苓　木香　歸尾　麥芽　砂仁　紅花　麥冬　枳殼　青皮　神麯　柴胡　蓬朮　檳榔製香附　桃仁　鱉甲　乾漆　益智蜜丸，米飲湯下三錢，空心服。</p>
<h2>痢</h2>
<p>痢，古滯下也。水穀為瀉，下膿血為痢。赤屬血，自小腸來，白屬氣自大腸來，皆屬濕熱。積者食積，滯者氣滯，物欲出而氣滯不出，則下墜，故先急後重。河間論行血則便自安，調氣則後重自除，此法甚妙。仲景率以承氣湯下之，量病加減。小兒先用小黑丸下之，後用芩連芍藥湯，仍看其血病氣病而為佐使，不可用澀藥止之，久而虛者方可。</p>
<p><u>芩連芍藥湯</u></p>
<p>芍藥　茯苓　陳皮　厚朴　甘草　黃連　黃芩　枳殼　檳榔　山楂　木通有血加當歸或生地，血紫加桃仁、歸梢，腹痛加砂仁，甚則少加木香，血痢不宜。噤口加連肉或烏梅，後重甚加升麻、柴胡，痢久亦加，恐元氣下陷也。痢下青草汁者，風毒也，加防風或干葛；腹痛甚加乳香、沒藥，亦治痰血。痢久加地榆、蒲黃。腹痛，肺金之氣鬱於大腸，以苦參、桔梗；痢如豆汁，濕甚也，加防風，九製蒼朮亦可。滑石亦可能利濕，小便少亦加之。積盡用白朮健脾，調理氣分，發呃用柿蒂、枇杷葉（去毛蜜炙）、丁香，久而虛者加訶子、肉蔻。力倦氣少惡食，此挾虛也，宜當歸（身尾）、白朮、陳皮，虛極加人參補虛，虛回而痢自止；血痢久不止屬陰虜，四物湯為主；痢久不瘥，脾氣下陷，補中益氣湯倍升麻、柴胡；痢久不瘥，後變為瘧，身腫面黃腹痛或瀉臭水，目無神，用余家大黑丸、木香餅相間服。前方加人參、白朮、木香、肉蔻煎服。</p>
<p>小兒七八歲下純血，勿以食積治，前方加當歸或生地、地榆、蒲黃（醋炒）、荊芥、烏梅等斂血。血紫，先用歸尾、桃仁行之，氣血俱虛神弱，人參、白朮、當歸、白芍、茯神、黃連服之，並大黑丸及木香餅間服。瘧變為痢，邪自外而深入五臟，此症難治。噤口痢，胃熱甚也，用黃連一錢，人參三分，煎汁終日呷之；如吐，再吃一口，下咽便有生意。又用田螺搗碎，次下麝香再搗，合臍中縛緊，引下其熱。休息痢，既息復作，當以虛治。下如塵腐者，如屋漏水者，下純血者，大孔如竹筒者，唇如朱紅者，如魚腦色者，身熱脈大者，俱不治。此論其大概耳。</p>
<p><u>大黑丸</u></p>
<p>（又名保和丸）</p>
<p>炒香附（一兩）　炒厚朴　醋炒青皮　陳皮　使君子　檳榔　醋炒三棱　炒甘草（各五錢）　炒神麯薑汁炒黃連　炒麥芽　土炒白朮　醋炒蓬朮（各一兩）　山楂（一兩半）</p>
<p>蜜丸，圓眼大，每服一丸，空心米湯送下。</p>
<p><u>木香餅</u></p>
<p>木香（五錢）　炒陳皮（二兩）　炒神麯（一兩）　炒麥芽（一兩）　煨肉蔻（一兩）　人參（五錢）　厚朴（五錢）　煨訶子肉　炒扁豆（各一兩）　炒甘草（五錢）</p>
<p>蜜丸，圓眼大，每服一丸，空心米飲下。</p>
<h2>疳</h2>
<p>疳者，干也，脾胃津液干涸而成。又甘也，恣食甘甜，成積生蟲。積者，疳之母，有而不治乃成疳候。積久不除，臟虛成疳。又久病後不節飲食，或瀉後脾虛，積熱布五臟，積濕生蟲亦成疳。兒為五疳，大人為五勞也。勞瘵腎虛，津髓枯竭。疳症脾虛，津液枯干，病久相傳，五臟皆損。疳病眼澀，多因愛吃泥土、生米、桴炭等，喜臥冷地，身多疥癬，下痢青白及沫血，腹大青筋，耳鼻口生瘡，蟲痛叫哭，發穗，頭大項小，腳手垂　瘦瘠，飲水筋痿骨重，體骨如柴等，皆內無津液，脾胃受傷。又大病後或吐或瀉，後妄施吐下，津液枯竭而得之。有因熱症大汗大痢無禁，胃中焦燥得之。有因傷寒裡症冷駛太過，渴飲水漿變而成熱，熱氣未散復於他染得之。又有癖病寒邪熱脅下痛硬，不漸消磨，以　砂巴豆峻攻津液，暴傷得之者。又有肝疳則膜遮睛，當補肝。心疳面頰赤，壯熱；脾疳體黃，腹大好吃泥土；肺疳氣喘，口鼻生瘡，此虛者當補其母。腎疳體瘦，生瘡疥。筋疳瀉血，瘦弱；骨疳喜臥冷地；肉疳目腫腹脹，痢青色白色或沫，漸瘦弱，外症鼻下赤爛，自搔鼻頭，瘡不結痂，繞目生瘡。諸疳皆依本臟而補母，則子自安。積久生蟲，皺眉多啼吐沫，腹痛肚大，青筋，唇紫黑，腸頭癢為蛔疳，宜川楝、鶴虱等。頭皮光，急生瘡，腦熱發穗，多汗囟高為腦疳，宜龍膽草、苦楝皮、蘆薈、黃連、青黛等。心肺壅熱，煩渴乳食少，夜則渴止，為渴疳，宜龍膽草、烏梅、黃連等。毛焦唇白，額上青紋，腹脹腸鳴，泄下糟粕為疳瀉，至於頻下惡物為疳痢，宜白朮、桔梗、厚朴、白芍等。虛中有積，肚脹，頭面四肢皆腫，痢下腥臭為疳腫，宜蘆薈、大腹皮、卜子、滑石、車前子等。潮熱，五心煩熱，盜汗，喘嗽，骨蒸枯悴為疳勞，宜黃　、白芍、川芎、肉蔻、生地、人參、白朮、鱉甲等。疳蟲上蝕齒齦，口瘡出血，齒色紫黑，下蝕腸胃，下痢肚爛，濕癢生瘡，齒屬腎，腎虛熱，疳氣直奔上焦，名走馬疳。初日息臭齒黑，名崩砂。甚則齦爛，名潰糟。熱血迸出，名宣露。更甚者牙落，名腐根。腐根雖活，齒不生矣，而況焉能活乎？手足細，項小骨高，尻削體痿，腹大臍突，號哭胸陷，是為丁奚，虛熱食噦，顱開骨槁如柴，引飲，蟲從口出，日漸枯槁，是為哺露，又重於丁奚。消疳，蘆薈、干蟾、五靈脂、鱉甲。化積，枳實、蓬朮、青皮、山楂、三棱、神麯、麥芽。健脾，人參、白朮、厚朴、香附。清熱，柴胡、黃連、胡黃連、銀柴胡、龍膽草、地骨皮、連翹、青黛。殺蟲，雷丸、蕪荑、苦楝根、鶴虱、使君子。疳瀉，木香、肉蔻、訶子、砂仁。五臟疳方雖見論中，然亦當用前藥，佐以五臟本藥，不必拘安神地黃丸方也。五臟本藥開後。</p>
<p>心疳：茯神、黃連、遠志、琥珀、蘆薈、鉤藤、石菖蒲。</p>
<p>肝疳：生地、熟地、青黛、地骨皮、龍膽草。</p>
<p>脾疳：白朮、陳皮、黃連。</p>
<p>肺疳：黃芩、桔梗、連翹、天冬、麥冬、防風、桑白皮。</p>
<p>腎疳：熟地、澤瀉、山茱萸、牡丹皮。</p>
<h2>腫脹</h2>
<p>腫脹雖均由脾胃之傷，而實有不同。氣溢皮膚則為腫，氣入於臟則為脹。人身心肺為陽而在上，肝腎為陰而居下，脾胃為陰而居中為土。經曰：飲食入胃，游溢精氣，上輸於脾，脾氣散精，上歸於肺，通調水道，下輸膀胱，水精四布，五經並行。是脾具坤靜之德而有乾健之運也，故能使心肺陽降，肝腎陰升，天地交泰，永無腫脹之病。此症因內傷飲食，外感風寒，致傷脾胃，十早。則清濁相混，隧道壅塞，瘀郁成熱。熱留已久，氣化成濕，濕熱相生，遂成浮腫、脹滿。其為腫也，有食積、有水積；有瀉痢日久脾虛，有傷寒下早。其為脹也，有痰熱，有疳氣，有食積。痞癖積腫在腰以上宜汗，腰以下宜利小腸。脹宜消導，有分道，有利小便，酌其虛實寒熱而調治。</p>
<p><u>腫脹主方</u></p>
<p>茯苓皮　厚朴　蒼朮　半夏　香附（以上健脾）　枳實　神麯　山楂　青皮（以上治積）　卜子（泄氣）</p>
<p>豬苓　澤瀉（利小便）　升麻　柴胡（升提氣）</p>
<p>食積腫加檳榔、蓬朮、麥芽、山楂、神麯。</p>
<p>先下水腫加木通、車前子、滑石，小兒實食積，水腫多耳。傷寒下早，先調脾胃，期臟氣充實，宜人參、山藥、薏苡仁，久則肉蔻、訶子，寒則乾薑、木香、丁香，熱則黃芩、黃連，佐本方，本方仍去消食藥。風邪入肺而氣不宣通，肺葉脹，亦能作腫，以肺主皮毛故也。先自眼下臥蠶腫起，喘急，宜小紅丸下之，後用桑白皮、桔梗、杏仁、天花粉、黃芩、貝母、枳殼、木通、防風、黃　二分。防風瀉肺實，得黃　而功益神，故用　。脹乃痰熱，不用本方，宜半夏、貝母、膽星、枳實（消痰）。有風，防風、大腹皮、蘇子、卜子、桔梗（利氣）、豬苓、澤瀉、車前（行水）。先服小紅丸，食積先服小黑丸，後用本方。寒熱虛熱宜本方去蒼朮，加炒黃芩、黃連（利水）、豬苓、澤瀉、木通、赤芍、車前、滑石、葶藶、商陸、木瓜。補脾，人參、白朮、山藥、薏苡仁、枳實、厚朴。消食，枳實、青皮、檳榔、蓬朮、山楂、麥芽、神麯、三棱（分氣）、香附、木香、藿香。泄氣，大腹皮、蘇子、桔梗、卜子。肺脹，桑白皮、杏仁。上身宜汗，柴胡、升麻、干葛；下體宜利小便，陽水宜黃芩、黃連、山梔、連翹，陰水宜丁香、香附、木香、草果、厚朴、乾薑。風雖勝濕，宜防風、羌活、蓁艽、椒目、天麻；又能健脾，陷下，升麻、柴胡；有痰宜利痰，貝母、半夏、膽星、海藻、昆布。</p>
<p><u>內消丸</u></p>
<p>　治小兒五疳八痢，消食化積，除驚風外，百病可服。</p>
<p>三棱　蓬朮　香附（三味醋拌炒）　檳榔　煨草果　青皮　枳殼　枳實（二味麩炒）　木香　去核山楂　炒神麯　炒麥芽　炒砂仁　去白陳皮。</p>
<p>等分為丸，砂糖湯調服。</p>
<p><u>辰砂丸</u></p>
<p>（又名大紅丸）</p>
<p>川貝母　膽星　天花粉　桔梗　苦杏仁　枳殼　黃芩（各四兩）　前胡　防風　製半夏　陳皮　全蠍　地骨皮山梔（各三兩）　黃連　元參（各二兩）</p>
<p>痘痧年不用連梔，此藥消痰解毒，發散痘痧，蜜丸約重一錢，辰砂為衣，每服一丸，薄荷湯化下。</p>
<h2>驚風</h2>
<p>驚風原是二症。驚者，急驚慢驚。風者，中臟中風，此言風，熱極生風也。驚風本於心肝二臟，肝風、心火相煽發搐。小兒脾胃弱，肝易凌之引動肝風。風主掣，不得心火不能發搐，兒有病，氣血錯亂，心神不寧，引動心火。</p>
<p>火主驚，不得肝風亦不發搐。此心與肝相兼為驚風之源也。有驚風痰熱四症，然後有搐搦掣顫及引竄視之候，入候理得驚風定，隨便與下痰藥，驚風不復復作矣。驚風是總名，急驚者驚風痰熱所致，慢驚者久病所得。久瀉成慢脾慢驚，久吐成胃虛。驚無陰因心經實熱，而陰不能配，陽盛陰虛之候。慢驚無陽因脾土虛甚，而陽不勝陰，是陰盛陽虛之症。急慢驚風，虛熱寒實，天淵迥隔。急驚九生一死，慢驚九死一生。凡搐時不得擒捉，風氣方盛，若一拘持，痰即流入脈絡矣，多致手足拘牽，與癇症同。初有痰熱未成驚風，先宜解利，解用柴胡、黃芩、干葛、紫蘇、枳殼、防風、天麻、半夏等，利用小紅丸。如無虛症，不得主用溫補。雖熱甚不得便用龍腦、麝香，恐引驚入竅，且傷真氣。蓋溫則補邪，香則敗真，心驚大概過暖當風，多食辛辣，郁邪熱於心而傳於肝，再受驚觸。未發時夜臥不穩，啼哭嚙齒，咬乳，氣促痰喘，鼻額有汗，忽而悶絕，目直視，牙緊口噤，手足掣，此熱甚而然。發則身熱面赤，引飲，口中氣熱，二便黃赤，眼上視連札，項背強直，痰涎潮響，脈數可辨。蓋心有熱，肝有風，心藏神，肝藏魂，風火相搏，神魂易動，故發急驚，關格不通，先用小紅丸下之，或用觸鼻散與龍腦麝香開關，又須茯苓、木通利小便。退熱、治驚、化痰、驅風藥多寒涼，概宜勿用。若遇庸手，無深病而攻之，反致痰熱入經絡，卻成驚癇重症，宜定驚順氣，清熱化痰為主，柴胡（平肝）、黃連（瀉心）、枳實（順氣消痰）、貝母（瀉痰）、天麻（治風）、陳皮（瀉痰順氣）、防風（治風）、蘇子（順氣）。清熱，黃芩、黃連、山梔、龍膽草、連翹、犀角、燈心、寒水石；消痰，枳實、膽星、天花粉、半夏、天竺黃、貝母、牛黃、珍珠；治風，羌活、防風、柴胡、僵蠶、天麻、蟬脫；治驚，全蠍、雄黃、朱砂、琥珀、鉤藤；開竅，麝香、石菖蒲，龍腦。用抱龍丸、蘇合丸、牛黃丸、辰砂丸俱可。</p>
<h2>驚風死症歌</h2>
<p>項軟多無力，喉間似鋸牽，面紅妝色見，目睛杳無光，魚口開粗氣，腳冷直偏長，嚙衣胡亂咬，瘀血瀉於腸，睛開還又合，渾身硬似僵，十般驚後病，休用更思量。</p>
<h2>脈法</h2>
<p>急驚，風關黑紋直者，死。慢驚，氣關紫紋兩條傳至風關者，死。無此雖凶無妨。</p>
<h2>慢驚慢脾</h2>
<p>慢驚因久病之後，諸經已虛，又過用涼劑，致脾胃微弱，四肢無力，身體倦怠，面　白，眼不開，似搐不搐，時時，精神昏慢，唇口俱白，脈或浮或沉，身或溫或涼，本無熱或壯熱，本無痰而喉如拽鋸，一團虛熱痰也。</p>
<p>脾胃虛弱，土受虧而木來侮，亦見驚搐，諸症俱漸緩，故名慢驚。以怯弱之兒大病之後，或外感風冷，脾胃益虛，風乘而入，逐風不可，驅驚不可，只宜溫補，無汗下之理。若錯用下痰藥，痰隨氣降，氣隨痰絕矣。溫補宜用：茯苓　陳皮　天麻　防風　山藥　扁豆　白朮　全蠍　僵蠶　白附子　薑製半夏弱甚加人參，不食加蓮肉，寒甚加木香、丁香。縱急驚傳來，用膽星化痰，白朮調胃，勿用涼藥。</p>
<p>慢脾驚多瀉而得，胃虛驚久吐而成。脾肺子母也。脾胃一虛，肺氣先病，則先頑痰。痰者，肺內所流，作小雞聲，時後　，眼偏開，由驚入也。宜用：人參　白朮　山藥　肉蔻　木香　僵蠶　全蠍　天麻　丁香　白附子有痰加半夏、膽星、貝母，甚者可用黑附子。</p>
<p>暑日熱甚吐瀉，亦成慢驚病。原藥具吐瀉門，寒甚可加附子。</p>
<p>兒月內溫壯，翻眼，握拳，噤口，切牙，身腰強直，涎潮嘔吐，搐掣驚啼，腮縮囟開，或頰赤面青，眼上視，不可誤作慢驚脾風，妄用溫藥，要視其眉間紅赤鮮碧色者可用。</p>
<p>防風　黃連　枳實　膽星　全蠍　天麻　甚則牛黃丸、小紅丸，豬乳化結。</p>
<h2>風毒驚癱鶴膝候</h2>
<p>四肢痿痹不伸，脹痛不能忍者，風毒之氣。宜：防風　半夏　枳殼　羌活　天麻在上用升麻、桔梗，在下用牛膝、木瓜。兒心悸不常，及偏身腫痛，或手足不隨，為驚癱。</p>
<p>若治稍緩，臂腕膝脛骨節之間流結，項核或膝腫，而肉消骨露如鶴膝狀，並宜發汗，使腠理開通，則風熱可治，而濕亦可去，使風不生而痰不作。莫作瘡癰論，用黑牽牛半生熟為末，加入五苓散內酒調服。</p>
<h2>癇</h2>
<p>其症與驚風相似，血滯心竅，積驚成癇。外症神氣怫鬱，瞪目直視，面目牽引，口噤流涎，腹脹手足抽掣，似生似死。或有聲無聲，或背項反張，或腰脊強直，發而時醒者，為癇。若強硬終日不醒，為　痙矣。要分陰陽，先發熱驚掣啼叫為陽癇，大便實，小便赤，脈浮。病在脾在肌膚易治，勿用溫藥。反是病在臟在骨髓難治，為陰癇，勿用寒藥。亦當於仰覆臥參看，惟利驚卻風化痰為要。有犬羊牛雞豬之異。兒有熱痰，一不飲乳，眠睡不穩，常時驚悸，即用小紅丸，減其盛氣為妙。風癇者，汗出解脫，風乘虛入，初屈指如數，是有熱生痰。驚癇者，震駭恐怖或打墜。積驚初時，精神恍惚大叫。食癇者，食時得驚，停宿結聚，初時吐乳不食，大便酸臭，先寒後熱。三者具用小紅丸下之，後以：膽星　半夏　神麯　天麻　防風　枳實　苦杏仁　蘇子（或葉）　陳皮　全蠍　青黛　黃連　僵蠶　天竹黃白附子風癇加羌活、蟬蛻、獨活，驚癇加遠志、茯神、石菖蒲，食癇加青皮、蘆薈。</p>
<p>癲癇狂　四症，皆始於心。心者，神明之舍，常欲安靜。內邪、外熱，脾胃虛而不能制腎水，遂精神失守，恍惚多驚，四症作焉。重陰則癲，重陽則狂。癇則身軟而醒，　則身強而溫，癲則悲喜歌哭，狂則譫語不食，棄衣而走。</p>
<p>癇則臥地，嚼舌吐沫或作諸獸聲，　則反弓痰壅，皆風涎流滯心胞絡也。失治則傷心，心傷則神去而死，宜清心消痰順氣為要。</p>
<p>貝母　膽星　紫蘇　枳實　陳皮　黃連　青黛　遠志　茯神　半夏曲　石菖蒲</p>
<h2>腹痛</h2>
<p>食積痛，面黃腹脹，夜熱日涼，宜小黑丸，甚則備急丸。飲食乍傷脾而痛，大便去而痛止，亦宜用小黑丸、備急丸下之。食得寒則凝，得熱則散，更宜行氣。有蟲宜追蟲散，又有痰痛，痰因氣聚而滯，阻礙道路，氣不通脈，小便不利，先宜小紅丸，後服枳實、朴硝、石鹼、半夏導痰開鬱。若痛有常處而不移，是死血，宜歸尾、桃仁、蓬朮、枳實、青皮、砂仁、紅花。腹鳴作痛，是水欲下而火欲上，宜二陳東加黃連、山梔。臟寒有水而鳴，宜分三陰部分：中脘太陰，臍腹少陰，小腹厥陰。兒只是傷食，食積與蟲宜消食止痛，開鬱行氣，先用小黑丸，備急尤妙，後用本方。</p>
<p><u>消食止痛本方</u></p>
<p>厚朴　蒼朮　製半夏　香附　枳實　青皮　陳皮　檳榔　砂仁　山楂　甘草　茯苓痛甚加木香，食積加彭朮、三棱，傷食輕則本方去檳榔，蟲加川楝、鶴虱，痰去厚朴、蒼朮，加見論中。死血用論中藥，可加大黃；水下火上，本方去蒼朮、檳榔，加論中藥；臟寒本方倍青皮、枳實，加木香、丁香或厚朴、乾薑；熱痛不宜本方；血虛腹痛白芍藥湯治。</p>
<h2>蟲</h2>
<p>臟腑強盛，諸蟲不為害，惟虛怯則濕熱生蟲，蟲行求食作痛。上唇有瘡，曰惑蟲蝕其臟；下唇有瘡，曰狐蟲下食其肛。胃熱則蟲動，動則往來上下，心腹痛，面　白，叫哭仰體撲手，心神悶亂，吐涎沫或清水，沉沉默默。貫心者，心痛甚死；不貫心亦死。上半月蟲頭向上，可投藥易治；下半月蟲頭向下，難治。若病急，先以肥肉汁或糖蜜引轉其頭，然後用追蟲末藥。</p>
<p>面黃上有白團印是蟲症，好吃布是肺蟲，吃桴炭是肝蟲，吃鹽是腎蟲，吃茶葉是心蟲，吃酸物是膽蟲，吃土是脾蟲，各隨本臟施治。脈當沉，若弦，今反洪大是蟲；虛小者生，緊急者死；寸脈沉滑是寸白蟲。</p>
<p>陳皮　半夏　枳實　青皮　檳榔　蓬朮　鶴虱　蕪荑　雷丸　使君子　川楝根（以上蟲藥可選用）</p>
<h2>心痛</h2>
<p>心屬少陰君火，為臟腑之主，精神之舍，邪不能干。干之則傷心而神去，必面目俱黑，手足青至節，為真心痛，旦發夕死。今之心痛乃胃氣當心作痛，治之痛止。若食後痛，治法須分新久。初起時明知受寒傷冷物，可用溫散，如草豆蔻、枳殼、枳實、山梔等，丹溪用麻桂。若脈堅實用溫利藥，如備急丸，丹溪用陳氣湯。稍久則成鬱熱，若更用溫散，寧無助火為痛乎，古方多用山梔為主，佐以薑汁。痛無補法，勿用人參、白朮。此症不過痰火與食積耳，若大吐大瀉尤妙。痛攻腰背，發厥嘔吐，諸藥不納者蛔蟲，用鵝翎探出痰碗許而痛止。總宜消其痰、降其火。新者溫散之。</p>
<p><u>降火消痰本方</u></p>
<p>枳實　枳殼　山梔　黃連　川芎　陳皮　白桔梗　花粉　香附　薑製半夏新者去黃連，加麻黃、厚朴，痛甚加元明粉、石膏；火加青黛，痰甚加海石、膽星。喜食熱物，必有死血停胃口，宜桃仁承氣湯下之。一方：元胡索（一兩）　厚朴（五錢）　滑石（五錢）　紅花（五錢）　歸梢（五錢）　紅曲（五錢）　桃仁（三十粒）</p>
<p>研如泥蒸餅丸，濕流胃脘作痛，宜小胃丹。有蟲攻心作痛，論見蟲門。寒邪客心胞絡作痛，又有痞癖上攻心作痛，為抱心順氣理中湯。</p>
<p>烏藥　香附　蒼朮　甘草　乾薑或用枳殼、青皮、木香、蓬朮、半夏，或枳實亦可，丹溪用草豆蔻。寒熱俱宜，治九種心痛：石菖蒲、赤芍、木通、五靈脂。</p>
<h2>咽喉</h2>
<p>喉痹是風毒之氣客於喉間，與血氣相結而成腫塞。水漿不可下，甚者膿潰，名纏喉風。</p>
<p>毒攻心腹而死，攻心則悶懊，悶懊則死矣。或為單雙乳蛾，最為急症，多屬痰熱。先用吐法，甚者針刺去毒血，服甘桔湯。</p>
<p><u>甘桔湯</u></p>
<p>甘草　桔梗　元參　連翹　防風　荊芥</p>
<h2>暑</h2>
<p>小兒脾胃虛弱，腠理開疏，暑氣乘虛而入，有似驚風者，宜香薷飲，黃連解毒湯俱可，六一散調服。</p>
<h2>脫肛</h2>
<p>夫肺與大腸為表裡。肛者，大腸之門。肺經實熱則秘結不通，肺若虛寒則腸頭出露。有因瀉痢久，脾土虛，不能生肺金，故肛門脫而不收。宜補脾溫胃，使金受母之益而氣實，次則內投固腸之劑，外用敷洗之藥。</p>
<p><u>敷肛散</u></p>
<p>龍骨（　）　赤石脂（　）　訶子肉（各三錢）</p>
<p>共為末，每用四五分敷上，每日敷三次即愈。先用荊芥穗、香附煎湯洗之。</p>
<p>又方　五倍子灰、鱉頭灰，敷妙。用淨舊鞋底烘熱托上。</p>
<h2>熱</h2>
<p>小兒稟賦純陽，血氣熱，易生熱。有五臟熱，五心煩熱，四肢壯熱，痰涎壅盛，目澀多渴。若上衝咽喉則與氣血相搏結成喉閉，宜涼膈散。</p>
<p><u>涼膈散</u></p>
<p>山梔　薄荷　黃芩　連翹　元參　桔梗　陳皮　花粉　甘草　石膏　竹葉甚者朴硝、大黃可加，或止加大黃。</p>
<h2>黃膽</h2>
<p>此皆濕熱蒸於脾胃，如合面相似。脾胃象土，其色黃，故發於外。生下黃名胎疸，母臟有熱熏蒸於胎故也。若黃膽變黑疸，難治。治疸以利小便為主，小便利則黃自退，從食積來者亦可行，方內加食積藥。</p>
<p>赤茯苓　陳皮　豬苓　澤瀉　木通　茵陳　黃芩　黃連　枳殼　山梔　山楂　蒼朮重加大黃、檳榔。</p>
<h2>淋症（附白尿）</h2>
<p>諸淋皆腎虛所致。心為火，腎為水，水火平永無此疾。水火不平，心火燥腎水，腎虛小腸膀胱皆生熱，故諸淋之症生。淋有五：有膏淋，如脂膏浮於水上，此腎虛不能制其肥液而不行也。有熱淋，下焦有熱，熱傳於腎，流入於胞，其溺黃澀熱極，或出鮮血，莖中痛甚，甚至令人悶亂，遍身有汗而後流出，治法並宜行滯氣，利小便，解邪熱，平心火。心清則小便自利，而血不妄，切不可用補藥。氣得補而愈脹，血得補而愈澀，熱得補而愈盛，愈痛也。亦有腎虛受寒，為冷淋。其症先寒戰而後熱，宜微溫。</p>
<p><u>五淋主方</u></p>
<p>赤茯苓　陳皮　甘梢　山梔（化肺氣）　車前子　木通　蓮肉　黃連　塊滑石　豬苓　澤瀉　瞿麥　燈心升麻（炒）　柴胡（炒）</p>
<p>膏淋加黃柏，冷淋加沉香、木香，熱淋宜本方加淡竹葉，血淋加蒲黃、地榆，石淋加生淡竹葉，利小便藥內少加升麻、柴胡，不然氣不行也。</p>
<p>兒溺白尿，由飲食不節，致傷脾胃，胃中濁氣滲入於膀胱，故清濁不分，尿白如米泔也，宜燥中宮之濕。用：厚朴　蒼朮　半夏　枳實　青皮　山楂　香附　茯苓　陳皮　甘草亦有心膈伏熱者，宜清心利水。以：黃連　蓮肉　茯苓　甘草梢　陳皮　厚朴　豬苓　車前子　滑石　澤瀉　燈心</p>
<h2>眼目赤腫</h2>
<p>暴眼赤腫，此肝熱也。初起必因風，不可用寒涼之劑，四五日方可用。當先羌活、柴胡，散風後用當歸、黃連等。</p>
<p>川芎　當歸　黃連　山梔　連翹　防風　元參　陳皮　羌活　甘草　赤芍　龍膽草有醫加木賊、決明、蟬蛻、蔓荊子。</p>
<h2>痧疹</h2>
<p>痧疹，腑病也。發獨藏肺經，雖是胎毒，多帶時行。大抵冬溫宜發痧，與發痘相類。痧則變多，比痘尤重，稍感寒或食生冷，疹則隱於肌膚而喘，遂致不救，非若痘症有色可驗，有朝數可據也。發必身無毫縫，紅腫方為發透，不然而喘作矣。其初發必極熱或寒熱兼發，形類傷寒，目淚咳嗽，煩躁，鼻流清涕。以火照之，隱隱於皮膚之中；以手撲之，磊磊於肌肉之內。乍隱乍見，隨出隨沒，沒而復出，現而復隱。根窠若腫是兼癮也，皮膚若赤是夾斑也。</p>
<p>錦紋明潤為順，紫黑暗慘為逆，若略現復隱，此又逆之甚者也。治宜微汗以疏其氣熱，清利以泄其邪。鼻衄則熱解，肺開竅於鼻也。泄瀉毒下，肺與大腸為表裡也。所畏干熱，不妨咽痛。出太遲宜發表，太密宜解毒。衣被不宜過熱，大忌清涼，疹則隱矣。方書用黃芩、黃連、人參，謬矣。余家治此名稱獨步，舊用升麻湯，當歸膩膈，芍藥酸寒，皆所不宜。余家世用防風湯。</p>
<p><u>防風湯</u></p>
<p>防風　荊芥　貝母　鼠黏子　桔梗　枳殼　干葛　地骨皮　川芎　木通　天花粉未透用麻黃，色太赤用連翹、黃芩，甚則用石膏、山梔、元參，色白淡用當歸，嗽甚用桑白皮、杏仁，或加麻黃。始發而嗽，肺氣泄也，不治無妨；疹後而嗽，尤宜泄肺。喘甚倍加杏仁、麻黃、蘇子，或紫菀、馬兜鈴、款冬花，甚則倍生甘草、桔梗、鼠黏子。小便澀用黃芩、山梔、木通。余家不拘時候，專主前方，稍加酒以助藥性，人尤不知也。或疹時而吐瀉大作，發喘或身汗不止而喘，黃　與防風並用。防風瀉肺實，得黃　而功益神效也。前此症發一周時，今有十日半月者，必眼紅腳底赤，方為發透，不然則為凶症。</p>
<p>出用溫和，透用清涼，不易之定論也，亦必盡退方免後患。</p>
<p><u>痧疹後四危症</u></p>
<p>其一肌膚壯熱，是毒入諸臟，肉消骨立，發枯膚悴，此名痧疳，十難救一。用：黃芩　黃連　山梔　龍膽草　蘆薈　當歸　鬱金　干蟾頭甚則用銀柴胡、胡黃連。余家肥兒丸用之頗效，又名蘆薈丸。</p>
<p>其一咳嗽胸高氣喘，是毒留肺經，或不禁酸寒所致。用：葶藶　杏仁　天冬　麥冬　石膏　知母　蘇子　馬兜鈴如面青聲嘎不治。</p>
<p>一其走馬牙疳，口齒生瘡臭爛，若黑色如老醬，畫碎無血出，與走入咽喉者不治。</p>
<p>一其痧痢赤白，治如痢法，加防風、連翹。赤痢用扁豆、柏葉、荊芥穗、樗皮、滑石，又外用芫荽煮酒，苧麻和酒遍身括之。令毛孔開，疹易透也。凡痧不得透，用綿紗煮濃湯，飲之立透。又有一種疑痧，世人不知，兒生月內外，斑駁如疹，而不咳嗽。此是胎中受熱，血氣熱凝，一吃後天乳汁，氣衝而血未和，乃有此症。切莫認為痧子，余家遇此，亦移是疹，乃遷就之說也。</p>
<p>凡疹方出已出，俱忌：豬肉、胡桃、荸薺、橘子，一切生冷之物。</p>
<p>已出後又忌：雞、魚、鹽、酸，辛辣。</p>
<p>食雞令再出，食鹽、酸令咳嗽不止，食五辛令生驚。得此訣者，識之。</p>
