<header><h1>中風論</h1></header>
<dl class="元資料" data-type="book">
<div><dt>作者</dt><dd>熊笏</dd></div>
<div><dt>朝代</dt><dd><data value="清">清、嘉慶</data></dd></div>
<div><dt>年份</dt><dd><data value="1644/1911">公元1644年至公元1911年</data></dd></div>
</dl>
<h2>自序</h2>
<p>昔，神農、黃帝、岐伯、俞跗，以神聖之資，闡陰陽之奧，創興醫籍，拯濟疾苦，實與教養政治相輔而行，故三墳之書先於五典。蓋醫之學，備在君相矣。厥後有伊芳尹湯液，亦其類也。東遷以來，君相罕有知者，而其學遂降為藝術。若醫和、醫緩、扁鵲之儔，皆其最也。始皇於世。漢之太倉公、華元化、張仲景之徒，皆精其術。倉公、元化無傳書，惟仲景有《傷寒》、《金匱》兩書，實與《本經》、《湯液》、《靈》、《素》、《難經》相為表裡，此醫學之大成也。晉太醫令王叔和，錯解義例，纂亂原文，而醫學始晦。相沿至今，卒無起而正之者。雖有諸家輩出，各抒所見，究與《靈》、《素》、《難經》不能符合。其弊在於不信古經，不明內景，枉逞胸臆。是以得不償失，名不副實。著作雖多，去古愈遠矣。近世醫方本草諸書，專執心肝脾肺腎，顛倒金木水火土，滿紙空談，毫無實義，莫不家置一冊，沿為習俗，牢不可破。此時即起軒岐、盧扁諸聖賢而正之，不目為怪，則斥為妄耳。笏學術淺陋，惟於古聖之書，頗曾究心，觀其診病脈法，經絡營衛，內景臟象，皆與後世諸論不同。蓋理寓於氣，氣寓於形，後人舍形氣而言理，故其術膚淺而不適於用。古人求實理於形氣之中，故其術精切而多奇中。今欲實從形氣中以求治病之理，不得不詳之如左，以就正於高明，庶不至於按劍相詫也夫。</p>
<p><u>道光辛已孟春江右熊笏叔陵甫自敘</u></p>
<h2>序</h2>
<p>《中風論》一書，安義熊叔陵先生著，聞向無刊本也。戊寅夏間，余從裡中世醫郭君秋泉借閱其家藏抄本，喜是書明於內景，不獨為中風立論，即中風一症，灼有見地，全卷無一模棱語，因手錄之。嗣詢此書所由來，秋泉云：嘉慶季年，吾閩陳修園先生治療出，一時名醫右熊君耳其名，不遠千裡來證所學，修園下榻欽其緒論，即知熊有撰述，奈深自謙，秘不肯示人。一日熊外出，修園門下士私發其簏，得此書傳鈔之，欲再檢他本，詰朝熊束裝歸矣。余論》相表裡，欲合刻而公諸世，未逮也。今夏，家端植兄擬刊醫書，余以此論告，即欣然出資付梓，並自任校讎之役，一字之疑，必來參酌。剞劂竣事，屬敘緣起，余思熊氏書出，當有目共賞，固無待余之表彰，而端植隱於市廛，能不《醫案一隅錄》兩種，肆中遍訪無此書，端植能──搜羅，襄刻《熊氏全集》，尤余之濃望也夫。</p>
<p><u>時光緒甲申八月子莊林慶祺謹序</u></p>
<h2>論臟象</h2>
<p>肝藏魂，屬足厥陰經，有正絡入肝絡膽，主春木風令，旺於春，以膽為腑，屬足少陽經，有正絡入膽絡肝，七情主怒，聲主呼，液為淚，五官目（凡臟腑之相表裡者，因諸經相屬相絡也。後世用五行干支相配，亦屬鑿空腐談）。</p>
<p>心藏神，屬手少陰經，有正絡入心絡小腸，主夏君火熱令，旺於夏，以小腸為腑，屬手太陽經，有正絡入小腸絡心，心君無為，五官舌。</p>
<p>心主無形，代心君行事，屬手厥陰經，有正絡歷膻中，遍歷三焦，主長夏相火暑令，旺於夏，以三焦為腑，亦無形，屬手少陽經，有正絡歷三焦絡膻中，七情主喜，聲主笑，液為汗。</p>
<p>脾藏意，屬足太陰經，有正絡入脾絡胃，主四季濕土令，寄旺於四季，以胃為腑，屬足陽明經，有正絡入胃絡脾，七情主憂思，聲主歌，液為涎，五官口。</p>
<p>肺藏魄，屬手太陰經，有正絡入肺絡大腸，主秋金燥令，旺於秋，以大腸為腑，屬手陽明經，有正絡入大腸絡肺，七情主悲，聲主哭，液為涕，五官鼻。</p>
<p>腎藏精與智，左藏智，右藏精，屬足少陰經，有正絡入腎絡膀胱，主冬水寒令，旺於冬，五臟以心為君、為主，心君無為，寂然不動，其臟堅固，邪不能侵，侵之則神去而死。</p>
<p>凡心之用，皆手厥陰心主代為用事也。</p>
<p>心主即膻中宗氣也，但有氣而無形，專代心君用事，故名之相火，譬如宰相代人君施政也。後世錯認右腎為相火，考之《靈》、《素》、《難經》及仲景書，皆無此說。此因叔和脈法將三焦配入右尺，三焦本屬相火，故遂錯認右腎為相火耳。心主是本名，因心主無形可指，故《素問》借任脈之膻中穴名之曰膻中，是從其外而名之也。《靈樞》借護心之脂膜名之曰心包絡，是從其內而名之也。二者皆是借名，非本名也。唯心主二字，乃是本名，因其代心君行事，為性情之主，故曰心主。</p>
<p>三焦亦有氣而無形，即衛氣之間行於腑者也。扁鵲名為原氣，乃腸胃中行津化液之氣也。蓋心主是宗氣，《內經》所謂大氣積於胸中，命曰氣海者是也。凡肝之怒、肺之悲、腎之智、脾之思，皆秉此氣為用。三焦是衛氣，《內經》所謂衛出下焦，間行於六腑者是也。凡上焦之飲食主納、中焦之主腐化、下焦之二便主出，皆秉此氣為用，此二者皆有氣而無形。馬元台謂三焦有形如脂者，妄也。</p>
<p>腎有兩枚，其左者為腎，右者為命門。男子以右腎藏精，女子以右腎系胞。此言出於《難經》，不見於《內經》，然《內經》謂衝脈為血海，循腹右系於腎。又謂男子二八太衝脈盛，精始至，女子二七太衝脈盛，月事以時下。又謂男子無月事，衝脈不泄，則上榮而生髭須；女子有月事，衝脈下泄，則髭須不生。宦者損其衝脈，則須亦不生。觀《難經》男以藏精，女以系胞之語，則右腎為命門者，即《內經》之衝脈循腹右下行系於右腎，謂男女之天癸所以傳生者也，猶曰此生生受命之門耳。則命門乃水也，非火也。後世沿叔和之謬，謂左腎為水，右腎為相火，已屬大謬，李時珍反用此法詆毀《難經》，可知後世醫家於內景臟象全然不識，而猶妄意著作其書，尚可信乎？或問：子以命門為天癸，然則腎中無火矣，無火則腎中真陽又是何物也？曰：腎中真陽即是衛氣之根，《內經》謂衛出下焦，《難經》謂腎間動氣，又謂生氣之原者是也。此兩腎皆有之，且膀胱亦有之，奈何專屬之右腎耶？</p>
<p>《內經》曰：初生之來謂之精（男女媾精，萬物化生。即右腎藏精也）。兩精相摶謂之神（陰陽合而神明生，即心藏神也）。隨神往來謂之魂（神明動而知識生，即肝藏魂也）。並精出入謂之魄（精血充而運動生，即肺藏魄也）。心有所憶謂之意（脾主思，故藏意）。慮善而動謂之智（腎為技巧之官，故藏智）。此五臟之所藏，謂之五神，所謂性也。</p>
<p>凡五臟皆不可病，而心臟為最。然《內經》、《難經》論病，多以五臟為言者，乃指五臟所主之病，非謂五臟為受病之地也。譬如怒為肝之所主，其受病之地乃在衛氣、宗氣之上僭，</p>
<p>《內經》所謂氣有餘善怒也。又如恐為腎之所主，其受病之地乃在衛氣、宗氣之下陷，《內經》所謂氣不足善恐也。俗書不知從受病之氣分施治，而輒從五臟用藥，則誤矣。</p>
<p>五臟為藏神最密之所，而名為陰者，以其為陰經所屬也。六腑為傳受渣滓之所，而名為陽者，以其為陽經所屬也。唯膽為清淨之地，不受穢濁，而亦名腑者，亦以其為陽經所屬也。《內經》謂臟腑皆取決於膽，故膽為決斷之官。</p>
<h2>論經絡次序</h2>
<p>（此宗氣領營血所行也，營行脈中）</p>
<p>經脈發源在左乳旁下，以手按之有動脈者是也。《素問》名為胃之大絡虛裡穴，《靈樞》名為脾之大絡大包穴。蓋脈本營血，乃水穀所主，故以脾胃互稱。此只一穴，在左乳旁下，若右乳旁下則無有，不論男女，人人皆然。此等要緊之穴，《內經》言之甚清，驗之此身亦甚明，乃諸家竟不知此為何事，可為浩嘆（虛裡出瀏腋下三寸，大包在腹下六寸）。</p>
<p>第一，手太陰肺經從左邊虛裡穴上注肺，由左腋間走左手大指（寸口脈即此），是從胸走手也（正絡入肺）。</p>
<p>第二，手陽明大腸經從寸口斜分至腕臂（反關脈即此），走上至頭，是從手走頭也（正絡入大腸）。</p>
<p>第三，足陽明胃經從頭上接前脈，由胸前而下至足背，是從頭走足也（正絡入胃）。</p>
<p>第四，足太陰脾經從足指接前脈，由膝而上至胸，注心中，是從足走胸也（正絡入脾）。</p>
<p>第五，手少陰心經從胸中接前脈，由　間而至手小指，是從胸走手也（正絡入心）。</p>
<p>第六，手太陽小腸經從手小指外側接前脈而上至頭，是從手走頭也（正絡入小腸）。</p>
<p>第七，足太陽膀胱經從頭上接前脈，由背而下至足小指，是從頭走足也（正絡入膀胱）</p>
<p>。</p>
<p>第八，蹺脈（男用陽蹺，女用陰蹺）從脛上接前脈，上至背俞，轉從復衝下行於足（正絡第九，足少陰腎經從足心接前脈，由膝內而上至胸，是從足走胸也（正絡入腎）。</p>
<p>第十，手厥陰心主經從胸中接前脈，由　而至手中指，是從胸走手（正絡散入膻中）。</p>
<p>第十一，手少陽三焦經從手指背接前脈，由手腕外上至耳側，是從手走頭也（正絡歷三焦）。</p>
<p>第十二，足少陽膽經從頭上耳側接前脈，由身之旁下至足，是從頭走足也（正絡入膽）。</p>
<p>第十三，足厥陰肝經從足下接前脈，由膝而上至胸中，注於肺，是從足走胸也（正絡入肝）。</p>
<p>以上諸脈，各有兩條先行於左者畢，然後再注肺，由右腋間走右手太陰經、手陽明經，以次至足厥陰經，亦如其左，不復繁綴，然後再交於督脈。</p>
<p>督脈從右足厥陰經上頭而來，由頭頂中間入頸，循脊中直下至尾骨，分兩支入前陰，合交任脈（此脈只一條，無正絡）。</p>
<p>任脈，從前陰接前督脈由腹中間上胸，復注於肺，為周而復始（此脈亦一條，正絡無）。</p>
<p>以上左右十二經、兩蹺、督、任，凡二十八脈，共長十六丈二尺，一息六寸計，二百七十息此審次第。　詳後營行）。</p>
<h2>論經絡淺深</h2>
<p>（此衛氣所行也。衛行脈外）</p>
<p>人身頭與手足是一殼子，五臟六腑皆在殼子之內者也，十二經絡皆在殼子之外者也。然此殼子又有淺深不同，今分列於後。</p>
<p>第一層為太陽所行之地，手太陽二，足太陽二，陽蹺二，督脈一，凡七脈為衛氣極盛之地。</p>
<p>第二層為陽明所行之地，手陽明二，足陽明二，凡四脈為衛氣總匯之地。</p>
<p>第三層為少陽所行之地，手少陽二，足少陽二，凡四脈為衛氣初出之地。</p>
<p>以上三層皆名為表，少陽近裡，為半表半裡之界。</p>
<p>第四層為太陰所行之地，手太陰二，足太陰二，凡四脈為衛氣初退之地。</p>
<p>第五層，為少陰所行之地，手少陰二，足少陰二，凡四脈為衛氣退藏之地（任脈亦在此層，當云五脈）。</p>
<p>第六層為厥陰所行之地，手厥陰二，足厥陰二，凡四脈為陰盡陽生之地（過此則入臟矣）</p>
<p>。</p>
<p>以上三層皆名為裡。</p>
<p>凡衛行脈外者，用此察淺深，詳後論衛氣篇，知此則知偏枯之風專在衛矣。</p>
<p>凡十二經脈，各有支脈通於臟腑者，名為絡，凡風之入臟者由此。</p>
<p>凡十二經脈，其陰經、陽經相交接處，名為交經別絡（如手太陰交手陽明，足陽明交足太陰之類）。其陽經交陽經者在頭，陰經交陰經在腹，則無別絡。</p>
<p>凡十二經脈，各有小脈從氣穴旁出者，名為孫絡（又名小絡，又名血絡）。共有三百六十五氣穴，即有三百六十五孫絡。其病最輕。</p>
<h2>論奇經八脈</h2>
<p>陽維，即手三陽、足三陽諸氣穴旁出之孫絡也。</p>
<p>陰維，即手三陰、足三陰諸氣穴旁出之孫絡也。</p>
<p>陽蹺，即足太陽之別，支通少陰者也。男子脈度以陽蹺為經，陰蹺為絡。</p>
<p>陰蹺，即足少陰之別，支通太陽者也。女子脈度以陰蹺為經，陽蹺為絡。</p>
<p>督脈，即背脊當中一條督脈之孫絡。</p>
<p>任脈，即胸前當中一條任脈之孫絡。</p>
<p>以上六者，共有三百六十五氣穴，此皆旁出孫絡，不入營行之度。</p>
<p>衝脈為血海，循腹右下行，與右腎相通，男子以之藏精，女子以之系胞。胞即子宮，為月事所從出，即天癸也。《難經》謂右腎為命門，即此衝脈行腹右，與左乳虛裡穴相對。蓋人身血液分為兩途，其從左乳下隨宗氣動而行於十二經脈之中者，名為營血，所以蔭形而生肌者也。其從腹右下注衝脈通於右腎者，名為天癸，所以種子傳生者也。營血從左乳下發源，行於脈中，故左乳旁下有動氣應手；沖血從腹右下注於右腎胞中，其血本靜，故右乳旁下並無動氣，此左右之所以不同也。營血養身，故不可傷，傷之則死；沖血傳生，原有可泄，故閹宦者流雖傷沖血亦不死。此營血為病所以獨重，而沖血為病所以較輕也。</p>
<p>帶脈橫通於腰，所以聯絡諸經者也。</p>
<p>以上二者，皆不入營行之度，與諸經孫絡相似，故亦列於奇經。</p>
<p>凡此八者，皆血之積而不流者也，《內經》名為奇邪血絡，《難經》則名為奇經。蓋血之行於脈中者，如川河之流；血之溢於孫絡者，如湖海之會，古人用此以審病耳。譬如陽維之血溢於上，則為鼻衄、齒衄之類；陰維之血溢於下，則為圊血、淋血之類；兩維同病，則為吐血、嘔血之類，其孫絡上貫於膈也。沖帶為病，則為崩漏、帶下之類。《內經》、《難經》分晰甚明，李時珍輩乃謂另有八脈，考之古經既不合，證之此身亦不確，又假此為修真之說，無識者流莫不被其誑惑，往往因修煉而成癆瘵，生平所見亦多矣，故詳辨之。</p>
<p>以上諸條，皆形體實義也。凡病，惟絡病最輕，經病稍重，腑病又重，臟病最重。此審病輕重之大法。</p>
<p>形體實義既明，然後附於形體之氣血陰陽始可得而知之矣。有宗氣、有營氣、有衛氣，另詳於左。</p>
<h2>論總</h2>
<p>人身養生之氣有二：一曰呼吸天氣。蓋人在天地氣交之中，如魚之在水也。魚在水中而不見水，人在氣中亦不見氣。試觀平人扼吭則絕，無天氣也。試觀暴絕人氣回則蘇，通天氣也。</p>
<p>無形而至剛，故古之聖人有服氣卻穀之法。天氣至清，全憑呼吸為吐納。其呼吸之樞，則以肺為主，《內經》所謂天氣通於肺也。天氣有春溫、夏熱、秋燥、冬寒，及四季濕土不同，得其平則能養人，失其平則病，《內經》所謂天食人以五氣是也。一曰飲食地氣，即胃所受水穀也。試觀平人絕穀則飢，試觀　瘠人美食則肥，則地氣之養人可知矣。地氣養人有形而至柔，故形體豐肥者其氣反弱。地氣至濁，全憑喉舌為出入，其飲食之權則以脾為主，《內經》所謂地氣通於嗌也。地氣有三：食穀者，智人為萬物之靈也；食肉者，勇鷹虎之屬也；食草者，力牛馬之屬也。又有五味：屬木者酸，屬火者苦，屬金者辛，屬水者咸，屬土者甘，《內經》所謂地食人以五味是也。凡嬰兒在胎中，亦有天氣、地氣為養，蓋其呼吸、飲食皆資於母也。地氣有形，故醫書多言之，若天氣無形，醫家多不知為何物，故諸書皆置而不言，無怪醫術之多陋也。</p>
<h2>論宗氣</h2>
<p>宗氣者，乃呼吸天氣所生，其所居在胸膈之間。《內經》曰：宗氣出於上焦。又曰：呼則氣出，吸則氣入。其大氣之摶而不行者，積於胸中，名曰氣海是也。凡人身之力，惟胸膈間最大，此即宗氣也。凡頭背手足之力，皆取絡於胸膈，此氣又名膻中，又名心包絡，即心主也，常代心君用事，稱為相火。蓋心為君火，端拱無為者，性之體也；膻中宗氣為相火，代心心君用事，與營血俱行脈中耳。其領營血行於脈中也，即從左乳旁下虛裡穴起，以次行於各經。一呼一息，一息行六寸，已詳於經絡次序。</p>
<h2>論營氣</h2>
<p>營氣，即營血也。血不自行，必賴氣以行之，即宗氣領率之也，故稱之曰營氣。此飲食地氣所生，乃水穀之精液，故《內經》曰：水穀入胃，清者為營血。又曰：水穀入胃，游溢精氣，上輸於脾，脾為胃行其津液，乃化為血，以奉生身。又曰：營氣出於中焦。中焦即腐化水穀之地也。中焦生血，化為兩途，其從腹右注於衝脈者為血海，其血靜而不動，即天癸也。其從腹左乳下隨宗氣走於二十八脈者為營血，此則動而不止者也。凡營血行度，手之三陰從胸走手，手之三陽從手走頭，足之三陽從頭走足，足之三陰從足走腹，先行左十二經，後行右十二經，其行度左右交通，是以凡病之在營分者，病左則必及於右，病右則必及於左，斷</p>
<h2>論衛氣</h2>
<p>衛氣又名人氣，以其綱維群動，為知覺運動之主也。又名陽氣，以其溫養一身也。合而凝之則為衛陽，此受命養生之主也。乃合呼吸天氣與飲食地氣所生，天氣無形而至剛，衛氣兼之》曰：飲食入胃，濁者為衛。濁字正言其　悍耳。因其　悍，故不能行於脈中，而必行於脈外，此衛陽之所以不同於營陰也。</p>
<p>衛氣有體、有用，所謂體者，衛氣之根也。其根在腎，《內經》謂衛氣出於下焦，常從足少必有所附而始留，下焦乃脂膏最多之地，衛陽即附於脂膏中，故曰衛氣出於下焦。譬如燈附於油，則長明不息也。故後人又指為水中之火。不獨人也，凡物之膏皆可燃火，則凡有生之物莫不各有陽氣附於膏中矣。所謂用者，衛氣之枝葉也，其義繁多，另詳於左。</p>
<p>其一曰：間行於五臟則五神生。從下焦而合於上焦宗氣，應於心，則生神而為喜笑；應於肺而為思歌。總名之曰慧也。</p>
<p>其一曰：間行於六腑則水穀化。從下焦而上合於宗氣，應於胃則主納，應於膽則主決，應於小腸則主腐化，應於大腸則主傳送，應於膀胱則主滲利。總而名之，則曰三焦，所以行津化液也。凡大小二便之開合，皆三焦衛氣之所司，《難經》謂之原氣。</p>
<p>其一曰：出入於經絡則寤寐分。方其出也，從腎臟行於少陰之分（少陰為衛氣出入之門戶），官為之用（凡陽經皆上於頭）；行於手經，而手為之用；行於足經，而足為之用；間行於臟，而慧生；間行於腑，而飲食入。此衛氣之出，而為寤也。兩邊齊出，且一時分馳者也。方其入也，從太陽、陽蹺而下走陰蹺，由少陰之分而注於腎，則目合而寐矣。故寐者，無五官之用，不在諸陽經也。無手足之用，不在手足諸經也。無飲食之需，不間行於腑也。唯從腎注心，從心注肺，從肺注肝，從肝注脾，從脾注腎，循環而已然。雖內注於五臟，而在外之經脈不為用，則不能麗於實而生慧，但游於虛而為夢。凡人夜之所夢，多屬晝之所為者，衛氣之所習也。其囈語者亦然，此衛氣之入而為寐也。亦兩邊齊入，且一時並收者也。若衛氣欲入於陰而寐，而勉強持之，使出而為寤，則必呵欠。《內經》謂：陰引而下，陽引而上，陰陽相引欠者是也。</p>
<p>其一曰：衛行有淺深。衛行脈外，《內經》所謂衛外而為固者也，《難經》名為守邪之神，六厥陰（凡傷寒傳經即此）。寅卯辰三時行三層少陽，巳午未三時行一層太陽，申酉戍三時行二層陽明，亥子丑三時行四層太陰，子丑寅三時行五層少陰，丑寅卯三時行六層厥陰，故太陽衛氣最盛，少陽為初進，陽明為初退，若三陰則斂藏矣（此法《難經》不載，出仲師《傷寒論》篇）。夫同此衛氣，既有寤寐開合，又有行度淺深，何也？曰：《素問》生氣通天論曰（此篇專論衛氣）：陽氣者，若天之有日，故天常以日光明。可見寤寐者，譬猶日行南陸為冬，行北陸為夏也；淺深譬猶日出為晨，日中為午，日入為昏也。《內經》又有一刻少陽，二刻太陽，三刻陽明，四刻三陰之法，則推求更密矣。蓋衛氣　悍，行度迅急，故大開合之中，復有小開合，《內經》比之於日，誠不誣矣。</p>
<p>其一曰：衛分行左右。衛氣行度，但有寤寐淺深之法，並無左右交通之法。其出而為寤也，馳，故手足、五官之動亦無先後；其入也，一時並收，故手足、五官之靜亦無先後。其淺深也，亦然。可見衛行是左右分布矣。是以病之在衛分者，病右則不及於左，病左則不及於右仲師云：風則傷衛，即是指此，此中風所以獨有偏枯之症也。李東垣不識此中至理，乃分左為血，右為氣，然則人身有病左不關氣，右不關血乎，此等淺陋之見，諸醫不能斥之，反從而附和之，殊可怪。</p>
<p>以上皆從《靈》、《素》、《難經》、《金匱》諸書考證確鑿，施之延醫歷有明效，故記之。</p>
<h2>論脈訣</h2>
<p>後世知斥高陽生之訛訣，而不知辨王叔和之《脈經》，總由不讀《靈》、《素》之過也。《靈》、《素》謂：人迎為頸脈。即結喉兩邊之人迎穴也，叔和則指為左手脈名。《難經》謂：陽得寸內九分，陰得尺中一寸。並無關脈地步，叔和則強分三段，又將奇經八脈概附兩手，分為九道。種種虛誕，真堪捧腹。至分左寸為心、小腸，左關肝、膽，左尺腎、膀胱，右寸肺、大腸，右關脾、胃，右尺命門、三焦，其法並不見於《靈》、《素》、《難經》，即後之仲師書中，亦無有也。後世又有各自為法，顛倒安置者。吁！五臟六腑本生成之物，可以任人提挈視如傀儡乎？今試詰之曰：仲師謂尺寸俱緊者，名曰傷寒。若以此部位論之，則是五臟六腑皆病，何以止言曰太陽病耶？吾知其必無應矣。然則諸家脈法皆欺人之語，不足信也。惟《靈》、《素》、《難經》、仲景之脈，乃古聖所貽，各有至理，且其法相同，謹摘其要如左。</p>
<p>一曰經脈診法，即手足陰陽十二經也。外病必先起於經脈，內病亦必發現於經脈，故為診病第一要法。經脈有三陽，可以審衛氣，以衛氣盛於陽經也。經脈有三陰，可以察營血，以營血盛於陰經也。《內經》取結喉旁人迎穴為陽明脈，以候三陽經及衛氣，取兩手寸口，又名氣口，為太陰脈，以候三陰經及營血。其法：人迎盛於氣口一倍，為少陽病；二倍，為陽明病；三倍，為太陽病。氣口盛於人迎一倍，為少陰病；二倍，為厥陰病；三倍，為太陰病。</p>
<p>《難經》則括其法，於兩手尺寸中，以寸候三陽，尺候三陰，關為陰陽之界。其尺寸相較法，亦如《內經》，以人迎氣口相較也。仲師之法與《難經》同。</p>
<p>一曰臟氣診法，分淺深為五層。第一層，極浮者為肺。《內經》謂：皮毛為肺之合。又謂：臟真高於肺。《難經》謂：三菽之重。仲師同。第二層，略浮者為心。《內經》謂：血為心之合。又謂：心藏血脈之氣。《難經》謂：六菽之重。仲師同。第三層，浮沉之中者為脾。</p>
<p>《內經》謂：肉為脾之合。又謂：脾藏肌肉之氣。《難經》謂：九菽之重。仲師同。第四層，略沉者為肝。《內經》謂：筋為肝之合。又謂：肝藏筋膜之氣。《難經》謂：十二菽之重。仲師同。第五層，極沉者為腎。《內經》謂：骨為腎之合。又謂：腎藏骨髓之氣。《難經》謂：按之至骨。仲師同。</p>
<p>凡此五者，以見陽脈為腑病，見陰脈為臟病。如三菽見洪為大腸，見細為肺，余可類推。又以輕者為腑病，甚者為臟病。如三菽略澀為大腸，澀甚為肺，余可類推。</p>
<p>凡此五者，各有主脈，肺澀（又名毛）、心洪、脾緩、肝弦、腎石也。如三菽見洪，為心火刑金，余可類推。</p>
<p>以上二法，平人則不見，惟病患乃見之。如病在經脈，則寸尺之診必變於常；如病在臟腑，則菽數之診必變於常。隨其所變見而斷其病，十不失一。</p>
<p>一曰平脈敗脈診法。平脈者，春微弦、夏微洪、秋微毛、冬微石，四時旺脈皆有和緩胃氣，故曰微也（微也，勿認為弱）。敗脈者，春但弦、夏但洪、秋但毛、冬但石，四時旺脈皆無和緩胃氣，故曰但也（但也，勿認為強）。蓋脈本營血隨宗氣而動，宗氣即呼吸天氣所生，天氣有春溫、夏熱、秋燥、冬寒之遞嬗，宗氣應之亦有春弦、夏洪、秋毛、冬石之遞嬗。若營血乃飲食地氣所生，其性精專有常而不變，與宗氣相融，故反泯其跡，而為微弦、微洪、微毛、微石，故曰胃氣也。若無胃氣，則無營血相隨，脈中僅止宗氣獨行，但見弦、洪、毛、石而已，故曰敗脈也。凡見敗脈者，為無胃氣，雖不病，亦不可救，是名真臟脈。凡脈有胃氣者，雖極危之病，亦有可生。故曰：人病脈不病者，生；脈病患不病者，死。即此義也。此法，以傷寒初起必見邪盛之脈，則審胃氣之法更當細辨。若傷寒十日以後，亦可用此法。</p>
<p>一曰脈體診法，其法有三。</p>
<p>一是呼吸數診法：一息四至為平，五六至為數，二三至為遲，數極為散，數時一止為促，遲時一止為結，止有定數曰代。</p>
<p>一是手指輕重診法：輕取曰浮；重取曰沉；浮沉皆有，中獨取無，曰芤；浮沉皆無，中獨取有，曰牢；浮無、沉有，曰伏；浮有、沉無，曰革；有力曰實；無力曰濡。</p>
<p>一是脈動形狀診法：流利曰滑，凝滯曰澀，大曰洪，小曰細，過指曰長，不及曰短，勁疾曰緊，從容曰緩，端直曰弦，厥厥而搖曰動。</p>
<p>以上凡二十四脈，精而熟之，可以該諸書診法。但其斷法甚多，難於詳載，故僅錄其脈名。</p>
<p>以上皆詳《靈》、《素》、仲師臟象及診脈審病之法。若夫病之所由起，或從外因，或從內因，但取切要於中風者，詳於後。</p>
<h2>論病因</h2>
<p>病有外因，如六氣之風寒暑濕燥熱，八方之溫熱燥寒是也。有內因，如飲食飢飽、喜怒哀樂、愛惡欲是也。凡此者，皆各有所及之經，有某經之脈象（如寸主陽經，尺主陰經之類），即有某經之見症（如三陽有頭痛，三陰有腹痛之類），且各有所應之臟，有某臟之脈象（心病則六菽脈洪，肝病則十二菽脈弦之類），即有某臟之見症（心病多笑，肝病多怒之類），此皆確有要則固可知也。如見症雖不似初起，總必有一二未除；脈象雖與初起不同，而其可愈、不可愈總必有胃氣可據（脈以和緩為胃氣）。此從古聖賢相傳要訣，歷試不爽者也。病之多門，不及詳論，今專以風門論之。</p>
<h2>論中風</h2>
<p>風為八邪之長，夫人而知之矣。至於傷寒之中風，與偏枯之中風，其所以判然不同之故，則自晉迄今千百余年，竟無一人道及，可見歷來諸家多憒憒也。殊不知出在《靈》、《素》，特未許淺見窺及耳。夫傷寒之中風，乃六氣之風，詳在《素問》五營運大論篇，此系四時天氣與宗氣相名（宗氣即呼吸天氣所生，領營血行於脈中者也），其感於人也，必入營中，故初起必有惡風發熱等症，且營血本左右遞注，故病則左右俱病，斷無偏枯之症。偏枯之中風，乃八方之風，詳見《靈樞》黃帝與岐伯論八風篇中，此是四方賊風與衛氣相襲，其入於人也，但在一隅，而不及營血，故起首無惡風發熱等症，且衛氣本左右分布，兩邊各出，故病左者不及右，病右者不及左，此所以有偏枯之症也。知此則風之源頭清矣。再專就八方風論之。</p>
<h2>論八風</h2>
<p>其法分東、西、南、北為四正，又分東南、西南、東北、西北為四維，合計為八方，各有主氣，南風熱、東風溫、西風燥、北風寒，東南風溫而熱、西南風燥而熱、東北風寒而溫、西北風寒而燥，此其平也，太過者則賊風矣。賊風輕，其中於人也，亦輕；賊風重，其中於人八方之溫熱寒燥，只以東西南北辨之，不論四時皆有，與六氣之春溫、夏熱、秋燥、冬寒各主一時者不同也。</p>
<p>衛氣溫養形體，《內經》所謂衛外而為固，《難經》所謂守邪之神也。衛氣固密，則百邪不能侵，若少有罅隙，則邪即襲之矣。其隙在頭，則中於面，但為口眼　而已，其手足固無恙也。其隙在手經，則中於臂，但為腕臂不舉而已，其頭足固無恙也。其隙在足經，則中於髀樞，但為步履遲重而已，其頭手固無恙也。其隙在左，則中左而右無恙；其隙在右，則中右而左無恙。中足少陰，則舌枯而語言蹇澀（少陰之脈上縈舌本）；中手厥陰，則神倦而多健忘（手厥陰心主本代心君行事也）；中手少陽，則三焦不利而多噎氣，且大便不行；中足太陽，則膀胱不清而多溲濁，甚至小便癃閉而不能出，以膀胱氣化全憑衛氣滲利，衛氣為邪風所襲，不能滲利，故癃閉也。種種諸症，難以枚舉，總各視其隙之所在耳。《內經》曰：邪之所湊，其正必虛。以比斫材，木堅者不入，脆者皮弛，正謂此也。是以此症多發於中年以後之人，以其衛氣不無少衰也。若少壯之人，則百中無一，以其衛氣正盛也。後人不明衛氣之義，乃有左血右氣之說，失之遠矣。又有謂血虛生內風者，亦不甚切，殊不知內風之生，乃衛氣之虛而有隙，如穀虛則生風耳。非血虛也。虛則有隙，而邪風入之，故曰內風感召外風也。衛氣出於下焦，為生風之根，即《內經》所謂腎間動氣也。其開合寤寐出入間，皆以足少亦左右分布。凡人之始，初結胎時，其形如兩甲，即兩腎也，而衛氣寓焉，故其開合寤寐出入間，行亦必左右分布，此內景之確而可信者，特粗工不能識耳。</p>
<p>動氣之根，即是腎氣，然必曰腎間動氣者，以其為知覺運動之主，故加一動字以稱之。</p>
<p>若兩邊衛氣平均，則知覺運動自然爽健精明。若一邊衛氣無病，一邊衛氣有病，則知覺運動必不能如平日之爽健精明矣。語云：眾擎易舉，獨力難勝。可以為譬。</p>
<p>風中於左，則病在左；中於右，則病在右。獨口角之　斜則不然，中左者，口必　右；中右者，口必　左。所以然者，左則左邊衛氣不用，而經脈弛緩不收，右邊衛氣獨用，而經脈牽引拘急，故必　右（口角經脈是陽明經環於唇口者，左右各一）。其中右者仿此。</p>
<h2>論輕重</h2>
<p>兩邊齊中，左右俱不仁者最重，不能運動，不知痛癢者，名為不仁，此即仲師所謂卒病（卒病者，陡然猝發，昏不知人也）。或左或右，但中一邊者稍輕，此即仲師所謂偏枯也（詳《金匱》）。此二者，皆病之大經者也，若中風入臟，則不可救矣。或但口眼　斜，或但臂不舉，或但足不用，或但舌喑不能言，或但麻木有定處（麻木即不仁），此五者，皆病之在孫絡者，若久而不治，亦能漸入大經矣（左右二十八脈名為大經，三百六十五穴名為孫絡）。故在臟者極重，其生死只在二三日間，在大經者稍輕，往往連年累月始可漸愈，在孫絡最輕，有不藥而亦能自愈者。</p>
<p>以上從病之所在論輕重也。</p>
<p>人身衛氣，應於五神則為知覺，溫於四體則為運動，原是左右齊應，兩邊合用，故能使耳目聰明，心思精詳，手足便利。若風邪傷衛，有一處不相應，即有一邊不為用，則知覺運動皆為之遲鈍矣。所謂一馬不行，百馬休也。所以中風之後，往往多滯鈍之病，雖平生極性急爽利之人，亦變而為迂柔寬緩。蓋心欲前，而身不與之俱前，以志不能率氣（衛氣），氣不能率形也，是以知覺多錯亂迷忘，運動多艱難遲鈍。此皆論病後邪風已衰，衛氣未復原也。當夫初亦昏不知人。其風中一邊者，昏不知人，即風中小絡者，亦昏不知人。以衛氣猝為邪風所襲，不能自主也。一二日後，或七八日後，邪風少衰，衛氣之已傷於左者，雖未能驟復，其未傷於右者，則必運動，而人事始漸清醒矣。再數日後，或一二月後，未傷之衛氣必漸溉及已傷之衛氣，於是偏枯者亦漸漸靈活矣。若治之得法，則未傷之衛氣既可漸溉相助，而已傷之衛氣又可逐日生發，如是則兩邊均平，而知覺運動依然復舊矣。其辨輕重之法，初起昏不知人，痰鳴氣促，一日之後即能平靜清醒，此受邪極微，病之最輕者也。或一二日後，始能平靜清醒，此受邪略甚，病之稍重者也。或七八日後，或十余日後，始能平靜清醒，此受邪較甚，病之重大者也。或仍不能平靜清醒，而反息高鳴喘者，此受邪最重，直入於臟，正氣盡去，病之不可救者也。</p>
<p>以上從邪風之微甚，診輕重也。</p>
<h2>論寒熱</h2>
<p>偏枯之風，以四方之位定八風之寒熱，傷寒之風，以四時之序分六氣之寒熱者絕然不同。蓋八風之寒熱，不拘四時皆有也。夫八方之風，其幾微渺，非神聖不能察識。如黃帝明堂一篇，後來諸家俱茫然，不知其所指，又安能察識八風哉？吾輩雖不能審之於未形，未嘗不可辨之於已著，則當據初起之症為斷。如風之變乎常者：從東來，則面必青，舌必紫，甚者舌卷囊縮，筋必惕（惕者，動也。俗言肉跳），目珠多斜轉。從南來，則面必赤，舌必焦，甚者生芒刺，肌必熱，目之白珠必有紅處。從西來，則面必白，舌必燥，甚者如白霜、積粉，皮必粟起（謂毛髮豎立也），目珠多上視翻白。從北來，則面必紫，舌必黑，甚者裂縫，息必鼾（如寐者呼吸有聲，俗言寒睡也），目之白珠必有黑處。從中央來（此四維合並者也），則面必黃，舌必黃黑，甚者多涎垢，肌必潮濕黏手，目之白珠必黃。其東南、西南、東北、西北來者，各以其方之法為斷。</p>
<p>以上諸症，但見一二症便是，不必悉具也。此皆從所受之風而定其寒熱也。</p>
<h2>論證候</h2>
<p>（初起時所必有者，凡七症。或有或無者，凡十七症）</p>
<p>初起猝發，必昏不知人。</p>
<p>必有痰涎壅盛。痰涎即人身津液，本隨衛氣布一身者也。風傷衛，則不能行津布液，於是津液皆隨宗氣迸居膈中，與呼吸之氣相上下，故壅於喉間也。凡風之寒者有之（此宜溫），即風之熱者亦有之（此宜涼）。俗醫多用熱藥開痰者，非也。（笏）嘗治此症，投以大涼劑立開。</p>
<p>必有皮膚發亮。八風雖有寒熱之不同，然總為陽邪。以陽邪而動衛陽，兩陽相合，故發亮。</p>
<p>必有短氣。衛氣不能行津布液，則津液皆聚膈中，而宗氣之呼吸為之不利，故短氣。</p>
<p>必有自汗。風為陽邪，不閉腠理，故自汗。汗即衛氣所布之液也，風邪傷衛，不能約束皮毛，汗孔空，故汗自出（亦有無汗者，熱甚也）。</p>
<p>必有半身不動（詳論八風）。</p>
<p>必有體重。兩邊衛氣皆用則身輕，有一邊不用則身重。</p>
<p>以上七症，初起時所必有者也。若無以上諸症，則非中風矣。</p>
<p>或語言蹇澀，或喑不能言。少陰為衛氣出入門戶，其脈上貫膈，絡會厭穴（此發聲之地，如笙之有簧也），縈於舌本，衛為風所傷，重則喑不能言，輕則蹇澀。</p>
<p>或大便自遺，或大便燥結。衛氣間行於腑者，為三焦原氣，傷重則不能約束，故自遺，傷輕則不能傳送，故閉結。常見有僅閉一二日，而大便干燥如石者，此熱勝也。有閉至二十余日或小便遺溺，或小便癃閉。衛氣唯下焦為盛，其間行於腑者為三焦，然必先從膀胱起，故《內經》以三焦與膀胱並稱。膀胱有出竅，而無入竅，凡三焦水液之注入膀胱，全憑下焦衛氣蒸滲而入，乃從小便而出。若風傷衛，則衛外之衛氣（即行於經絡者）皆迸入膀胱。滲利太過，則為遺溺；不能滲利，則為癃閉。俗書謂遺溺為腎絕者，非也。嘗見有遺溺而仍愈者矣。凡小便中久澄之而有如膏發粉者，乃下焦有熱，蒸鑠水液，有如煎膏者然。故初出甚清，澄久則稠。蓋初出尚熱，如膏之熱則不凝也。澄久則冷，如膏之冷則必凝也。不可認此為虛寒（小孩小便初出清澄，久變色如白漿，亦此義。以小孩純陽，下焦多熱也。書指為寒，則誤或陽事暴舉。衛出下焦，即腎間動氣。衛之在外者，雖為風傷，而在下焦者，反鬱閉不泄，故暴舉。嘗見有中風偏枯之後，反連生數子者矣。然其偏枯猶不愈者，以衛氣不能行於表也。</p>
<p>或陽事痿弱。此因在外衛陽已傷，挹取其下焦衛氣，外泄則腎間動氣不強，然其偏枯轉易愈者。昔一友患此，竟不藥而偏枯愈，愈後半年，陽事復強。可知此症當緩，以俟其生發，不可用熱藥損筋。</p>
<p>或心悸善忘。悸，即怔忡也。衛不行津，則津停為水，水停胸下，則令人悸（詳《內經》）。</p>
<p>或智慮多疑。衛陽傷，則不能取決，其神不足故也。</p>
<p>或噯氣不食。此非不食，乃腹中不甚飢耳。衛傷一邊，則三焦氣化不速，不能消水穀也。</p>
<p>或消穀善飢。此惟風淫於內者有之，《內經》所謂風能消穀也。昔一友患此，治以鹹寒之藥，一日而偏枯　僻皆愈。</p>
<p>或心煩不寐。衛氣浮於外，與風相合，不得行於陰，則目為之不瞑（詳《內經》）。</p>
<p>或貪眠嗜臥。此惟風入少陰者有之，仲師曰：少陰之為病，但欲寐。</p>
<p>或呵欠不止。一邊已傷之衛氣不行於陽，但欲入於陰，一邊未傷之衛氣能行於陽，陽引而上，陰引而下，陰陽相引，故呵欠。此症最多。</p>
<p>或頭痛如箍。此邪風盛於三陽陽經也。三陽之脈皆上行於頭，風性上僭，故頭痛。</p>
<p>或背反如折。此邪風盛於太陽、督脈、陽蹺也。此三脈行於背，風邪入之，則三脈皆急。背搦（即抽掣。中風之搐搦只一邊動）。此症較重，乃風邪兼入營分，故兼見此症。專在衛分者，無此症也。</p>
<p>以上十七症，初起時或有或無者也。</p>
<p>凡所必有之症，乃偏枯中風之本症，無此則非矣。或有或無之症，乃因其人受邪有輕重，經絡有虛實。人之形體起居不同，故病情亦有不同也。此皆從其初起而言之耳。若夫纏延日久，則人情百變，病情亦百變，雖大禹神聖，亦不能鑄鼎象物，窮盡怪相也。然可愈、不可愈，尚可以約略言之，今並附數則於下。</p>
<p>一、偏枯日久，以致骨節之間、肌膚之內，漸生痰涎，外見浮腫者，難愈。人身生氣寄於津液，亦猶天地生氣寄於水也。凡天下之無形而有形者，皆水也。《易》曰：天一生水。試看體必瘦。若津液停而為痰涎，注於肢節、肌膚之間，則必始瘦而後腫。《內經》謂：風氣客於諸經之絡，迫切而為沫。又謂：沃沫聚之則極，肌膚而為腫者是也。沃沫即痰涎也。俗書不知此理，或指為寒濕，或指為脾虛，誤矣。殊不知此症多生於熱，譬如以水擦手，熱則生泡，以火炙肌，亦生水泡。可知熱從風生，沃沫微聚亦如水泡而已。此因日久，衛氣大耗，一時難於復舊，故難愈。若無此，則易矣。</p>
<p>一、偏枯日久，手足拘攣，不能屈伸者，難愈。《內經》曰：陽氣者，精則養神，柔則養筋。筋雖為血所養，必得衛氣以溫之，而後舒卷自如。《難經》謂：血主濡之，氣主煦之。若日久，衛衰營血耗，無以養筋，是由氣分而累及血分，由淺入深，故難治。</p>
<p>一、偏枯日久，脈見沉細數急者，難治。凡中風之脈，必浮大而緩。考之《靈》、《素》、獨見四時平脈者，有變見遲脈者，皆屬易愈。惟變成沉細數急者，最為難愈。所以然者，以其病已分入血分也。沉主血分，細為血少，數急為有氣無血。蓋脈本宗氣，領營血而行，宗氣無形而悍急，營血有形而遲緩，二者相配，而後脈均。若無血，則宗氣獨行，故數急也。</p>
<p>血不足以充之，故細也。一見此脈，便是營血已傷，故難愈。凡病已入營者，為重也。</p>
<p>以上皆節取大概言之，尚有風痱、風懿、風痹等名，未能詳及。然而中風諸義，則已括盡無遺矣。其左癱右瘓等名目，皆立自後人，徒有其名，羌無實義。夫營衛行度，經絡淺深，《靈》、《素》、仲師皆言之甚詳，後人不知，此處探求，輒暗中摸索。或謂中風為虛，或謂為火，或謂為痰，或謂為氣，或謂為風、痰、氣三者並合，或謂風、痰、火諸邪夾發，究不能得病源實在。更有以中魔、中暑、中毒，一切混雜邪病，而分為類中、直中者，此皆源流不</p>
<h2>論風脈</h2>
<p>中風之脈，其起首必浮大而緩。考之《靈》、《素》、仲師，其言既同，驗之診候閱歷千人如一。浮以手指輕重取之，大以脈之形狀取之，緩以脈之至數取之（至數即一呼四至也。）蓋風則傷衛，風為陽邪，故大；衛行脈外，故浮。病初起時，但在脈外之衛分，未入脈內之營分，其脈中之營血、宗氣依然照常行度，故緩也。緩是脈之動數。宗氣領營血而動，宗氣一呼，營血二動；宗氣一吸，營血二動；一呼一吸，脈凡四動，是名為緩，乃是無病平脈。因中風但傷衛，而不傷營，故脈應照常緩也。然則何以辨邪風之輕重？曰：浮大異常者，為病脈也。緩為平人之脈，故不可作病看。然則但言浮大足矣。何必又言緩？曰：古人言此，正以明病不在營耳。若入營，則不能緩矣。後人不識此理，往往將平脈混入病脈，此脈學之所以晦也。</p>
<p>其八風之邪，則又從浮大中兼見之脈別之。如風從東來者，為木邪，主溫化，其大中必兼弦象；從南來者，為火邪，主熱化，其大中必兼滑象；從西來者，為金邪，主燥化，其大中必兼澀象；從北來者，為水邪，主寒化，其大中必兼緊象；從中央來者，為土邪，主濕化，其大中必兼濡象。其東南、西南、東北、西北四維相並而來者，則各以其方之脈兼見也（如見其弦象、滑象錯出，則為風從東南來之類）。凡此諸脈，歷斷千人，無一遁者，孰謂脈法難憑耳？八方之風，分為溫、熱、燥、寒、濕五等，之中溫、熱、燥居其三，皆熱症也。寒則僅居其一，濕則有從寒、從熱之不同。可知中風一症，熱病居多，故南人中風較多於北人。而生平療病，每以涼藥奏效，其源皆從此中悟出。近日諸醫，但執庸陋俗書，暗中摸索，輕者釀成偏枯日久，則脈多變矣。然亦一二年其脈仍浮大而緩者，此風邪與衛氣相合而不去，如銀之入汞也（水銀為汞），其症必將復中。蓋陽邪未去，勢必再召新邪也。復中則病加劇，若治之得法，不但復中可免，即偏枯亦可愈也。其脈為沉細數急者，難愈；其脈變為遲者，可愈（一息三至名為遲）；其脈浮大全退，而見四時平脈者，易愈。中風在三陽經，則浮大之脈寸部盛於尺部；在三陰經，則浮大之脈尺部盛於寸部；若陰陽諸經俱中，則尺寸俱浮大如一。</p>
<p>此分辨經絡之法。</p>
<h2>論治法</h2>
<p>治法無他，專從衛氣治之而已。衛氣有根本、有枝葉，有表、有裡。衛出下焦，為腎間動氣者，根本也。從少陰之分，間行五臟，則為知覺性靈，間行六腑，則為三焦氣化，此皆裡也聰附於油也。根本治法，有宜補火者，如燈之添草則光焰益大；有宜補水者，如燈之加油則長明不熄。世俗專以補火為事，則油竭者光亦熄矣。其枝葉在經，溫於肌肉，則附於汗液，如樹木之以皮行津，得春夏陽氣，而後漿汁盛也。枝葉治法，有宜用散者，如樹之津氣通則榮茂，有宜用收者，如樹之皮津泄則枯槁。世俗專以斂補為事，則津壅者，樹必脹絕矣（如漆樹，日久不取漆，則必脹悶而枯。用樹皮行津，以比衛陽之汗，其理至確。凡過汗亡陽者，即亡衛陽耳）。是以欲衛氣之根本強，則當油草並加，不可專用熱藥，欲衛氣之枝葉盛，則當散斂兼施，不可專用補藥。凡治病養生皆然，不獨中風也。</p>
<p>八方之風，雖有寒熱之不同，然皆為陽邪，況又從熱化者，五居其三。人身衛氣，即是陽氣，以陽邪而與陽氣合，則水乳交融，毫無捍格矣。同類相求，而不相爭，此偏枯中風者，所以無惡寒發熱等症也。可知中風之傷衛氣，乃邪風與衛氣相混耳。其所以知覺運動皆為之不靈者，譬如三軍之卒，有一軍與賊私和，則號令不行，獨一軍不行也，勢必三軍皆為掣肘，觀望不前矣。故善治中風者，必先從而分之，使邪風與衛氣相離，而後風可淨，而衛氣仍為我用也。此侯氏黑散，所以用白礬之意。喻嘉言謂，為填塞空竅。夫白礬善消物，豈是填塞之藥？可謂鑿矣。</p>
<p>凡風之入，必乘衛氣之隙，其隙多起於內熱。蓋寒則衛氣斂，故冬時之人多無汗，熱則衛氣散，故夏時之人多大汗，寒則腠理閉，故無隙可入，熱則腠理開，故有隙可乘。其內熱或生於七情，或生於飲食（每見好服溫補者，多有中風之病），此所謂以內因而感召外因也。</p>
<p>後人有所謂胃熱生內風而致者，其言甚是，然不知此為衛氣之病，究屬一得之見。嘉言謂猝倒不氣者，煩勞則張。此論專言衛氣，煩勞即內熱也，張即開也。此衛氣因熱起隙之由也。又曰：辟積於夏，使人煎厥。辟亦開也，夏則腠理汗孔皆開也。煎即煩也，厥者逆也，謂氣逆於上，則多熱也。此皆言內熱。又曰：目盲不可以視，耳聾不可以聽，潰潰乎若壞都，　乎不可止。此即形狀中風昏不知人之象也。</p>
<p>衛氣之隙，由於表氣不固，則散藥似不可用矣。然用溫藥為散，則不可。若用涼藥為散，乃，為皮痹不仁。衛氣痹閉，即麻木也。或用滋陰養血之劑而愈者，緣受病本輕，得此甘寒陰藥，解其內熱耳。若受病稍重者，便難取效。可知此症，非從血治也。其過服溫補者，多至成廢。蓋此症本由於內熱，而又多外熱之邪也（東風溫、南風熱、西風燥，四方之氣，熱居其三）。</p>
<p>南方地土溫暖，其人腠理常開而衛氣疏，故多中風。北方地土寒涼，其人腠理常閉而衛氣密，故中風者少。惟尊貴人，溫暖太過者偶有之，然亦易愈也。南人中風後，赴北方而愈者，嘗見三人矣（俱服蘇合香丸而愈）。《素問》曰：陰精所奉者，其人壽。《西洋志》：歐邏巴以北，地寒，人多壽；葛淄巴處南，四時皆熱，其人不壽。非虛言也。凡久病，必先顧其脾胃，以血氣之生發，全憑脾胃之運化也。然二者之治法判然不同。脾為陰、為臟，為胃行其津液者也。其治法宜燥，燥則健；宜補，補則強，故其藥宜甘溫。胃為陽、為腑，為水穀之海。其治法宜潤，潤則化（凡干土不能腐物，必濕土始能腐物）；宜通，通則運。故其藥宜清涼。喻嘉言謂：養胃與補脾有天淵之別。葉天士謂：胃不強者，以涼通之則強；脾不健者，以溫補之則健。《內經》曰：胃欲寒飲，腸欲熱飲。寒飲即清涼養胃之義，熱飲即甘溫補脾之義。腸即小腸也。為受盛之地（凡水穀之腐化皆在小腸之內），變腐水穀，而後脾始挹其精微喻氏、葉氏之言，正與《內經》合，特二君皆從治病悟出，故立言不與《內經》同耳。</p>
<p>脾胃之治不同，然則何以別之？曰：即以其病別之。其病起於寒症，而不能食者，則宜燥補脾土，而用甘溫藥；其病起於熱症，而不能食者，則宜潤通胃氣，而用清涼藥。不獨始病為然，即久病亦然。譬如偏寒、偏熱之病，既退之後，猶不能食，投以涼劑，則胃氣立開。世俗只知補脾之法，不知養胃之法，往往見熱病不食，輒以涼藥礙脾，疑而不敢用，其貽害者其有先患熱病，後變寒症者，則用補脾法；先患寒病，後變熱症者，則用養胃法。凡病久脾胃不旺，仍各從其病為治也。</p>
<h2>論藥餌</h2>
<p>昔扁鵲但論脈書（即《難經》），未傳禁方，故無方論。因未遇傳人，而遽遭李謐之害也（秦國太醫自以技不如扁鵲，使刺客害之）。《神農本經》、伊芳尹湯液又無傳書，往往為後世所淆亂。張仲師有《金匱方》，亦多散逸。如葛雅川、孫思邈之徒，皆剽竊《金匱方》而自為書，究不能明其旨。近世如李時珍之《綱目》，未免太雜（雖小說妄談，亦為采入，以亂其真，故其書太雜）。汪　庵之《本草》，未免太迂（淡竹葉，隰草也，乃隸木部，其他舛謬亦多）。方藥之道幾於晦矣。竊以平生所試驗，質諸仲景遺書，充類至盡，固可以意求之也。茲擇其切要者列下。</p>
<p>病在衛氣，則當從衛分用藥。衛氣有表裡不同，表者行津為汗，溫養形體之陽氣也；裡者受命之根，水中之火，即腎間動氣也。腎間動氣，即衛氣之根，出於下焦，附以脂膏，為水中之火，其治有四法：火衰者，溫中以益之，如燈之添草也。其藥則有附子、肉桂、胡巴、故紙、乾薑、吳萸，及椒、磺、茴香之屬；其方則有四逆、回陽、理中、溫中之類。火盛者，壯水以制之，如燈之添油也。其藥則有地黃、白芍、知母、黃柏、元參、龜膠，及丹皮、芩、連之屬；其方則有八味（知柏八味）、六味、封髓（古有三方封髓丹）、固精之類。火離於水，虛陽外浮者，則先用溫中，引陽下歸於根，後用壯水戀陽，使不復越，則陰平陽秘矣。火鬱於水，真陽不伸者，則於益陽之中加以透發，如麻黃附子細辛之意，則陰退陽盛矣。</p>
<p>衛行脈外，為守邪之神，溫於肌肉，運於形體，為肌表之陽，其治有六法：或表陽外閉，無汗煩悶，則發汗以疏之，如麻黃、桂枝、羌活、獨活之類。或表陽外泄，汗出不止，則固表以斂之，如白芍、龍骨、牡蠣、附子、黃　之類。或表陽太盛，肌熱如灼，則涼肌以解之，如石膏、知母、胡連、地皮之類。或表陽太虛，厥冷惡寒，則溫經以助之，如桂枝、乾薑、參、　、香、蔻之類。或衛氣盛於陽經，而衰於陰經，上逆者，則苦以降之，如龍膽、梔子、黃連、蘆薈之類。或衛氣盛於陰經，而衰於陽經，下陷者，則辛以升之，如升麻、葛根、白朮、黃　之類。</p>
<p>以上皆從衛分審病，用藥之大略也。若夫中風之治，則又當細辨之。</p>
<p>風為陽邪，衛為陽氣，兩陽相合，而不相爭，故無惡寒發熱等症。陽主開，故有自汗。</p>
<p>衛為風所淆，則知覺運動俱為之不用，故猝倒不知人。仲景用獨活以解外（因其有汗，故只用輕表），白菊、秦艽以解風，白芍以固衛氣，歸身以附營氣，白朮以安宗氣，尤妙。入白礬以寒、從熱之不同，則此方亦有加溫、加涼之各異，特孫思邈從《金匱》錄方時多遺脫耳。</p>
<p>中風之從寒化者，何以辨之？曰：其四肢必厥，必無汗（寒則腠理閉），余症與前同。其治宜峻表，如麻黃東加三生飲之類。嘗用防風通聖散而愈者五人。其方則麻黃、桂枝、防風、羌活中風之從熱化者，何以辨？曰：其舌必枯（干裂如錯），四肢必熱，必大汗（熱氣所蒸），余症與前同。其治宜涼解，如清涼飲子及玳瑁散主之，然總不如白虎湯、竹葉石膏湯為妙。生平以上二條，皆初起用藥之法，若不如此，多至拘攣痿廢矣。其後治之法，又當細辨之。</p>
<p>中風數日之後，人事漸醒，諸症漸減者，邪風衰也。然余邪之與衛氣相融者，必不能淨，衛氣之為風耗者，必難驟復，故往往有偏枯、善忘諸恙。其治又當從養營、養氣之中，加入竹瀝、荊瀝為引，或加薑汁為引（初起從寒化者可加，熱化者忌）。然藥力既輕，取效必不能速皮行津，故用此為引。</p>
<p>中風日久，則衛氣必衰，在表之衛氣盛，必須益其腎間動氣，如樹木培其根本，則枝葉暢茂皆補宗氣之藥）。若加入歸、芍、地黃以配之，則又僅生營血而已，而於衛氣無益。若用桂、附之類，雖能益腎間動氣，亦易於生熱。昔人創易老地黃飲子，用桂枝、附子，與生地、麥冬，白菊同用，服之亦有效驗（必加竹瀝、荊瀝方效）。然總不如紫河車之妙，其性得血氣之余，既非草木可比，且又不寒不熱，而為衛氣生發之源。蓋人身結胎時，其形如兩甲，即兩腎也。此衛氣受生之始，河車即從此兩甲而生，以包護於五官、四體之外，即衛氣外行軀殼，衛外為固之始，以血肉之屬補，為血肉之同氣相求，乃無上妙品也。</p>
<p>近日廣東出有再造丸，服之亦間有效者，而不知其為何藥。後於靜芸齊《集驗良方》中見之，即蘇合丸之加減耳。其方皆辛香行氣之藥，用之於寒化者則效，用之於熱化者多不效。其曰：中左者用四物湯下，中右者用四君子湯下，亦不過沿襲左血右氣，為詭遇之計，究非治病正理。</p>
<p>夫人益衛氣之法，多主用酒。《靈樞》謂飲酒者，衛氣盛，先行絡脈，後行經脈，是以知有何脈之動。今驗之人事，凡飲酒者，懦夫有強毅之氣，愚夫有明決之氣，笨人有輕便之氣，靜者好動，嚅者多言，此皆緣衛氣先盛，則知覺運動迥異於常耳。是以扁鵲對齊桓侯有酒醪之語。然則欲益衛氣，正不必戒酒，但不可太過，太過反耗氣，不可太熱，太熱反生病（宜別圖浸酒之法）。紹酒乃馬蓼曲所作，馬蓼曲性克削，能蕩滌腸胃，非過食油膩者不能受。</p>
<p>燒酒雖熱，然是水中之火，故為佳，但不宜多飲耳。蓋天地無全功，聖人無全能，是在養生者宜自為斟酌也。揚州有百花酒甚佳，京都史國公酒亦佳。</p>
<p>食物不必過拘，不論寒熱，皆可取食。蓋食雜則無偏寒、偏熱之患，若認定一類為食，則偏矣。《素問》曰：物增而久（謂專食一物者），夭之由也。可以知戒。嘗見中風偏枯人，謹守醫戒者，雖服藥而不愈，其放飯流　者，雖不藥而自愈。可知治病之道，在於得訣，不在於戒口也。唯是習俗相沿，必多疑慮，今亦從俗，但戒動風之物，如雄雞、鯉魚、黃鱔、鮮蝦、香椿、鮮菌六者而已，其他俱不必戒也。至於日用暈肉菜蔬，與衛氣相習已久，戒之則無以養胃氣矣。</p>
<p>凡素有小恙，與中風本病無涉者，則不必兼治，反分藥力，縱欲除盡，亦必愈後治之。</p>
<p>如腸風痔血等症，此血溢於陽明正絡而來，《內經》所謂：陰絡傷（腸在下，故曰陰絡），則血下溢為圊血（大便曰圊）是也。此屬血分，與衛氣風邪無涉，故不必兼治。且此為輕恙，風為重凡服藥餌，有不宜服而服之反無恙者，以其本無甚病，縱誤服藥餌，亦不過如多食寒物、多食熱物而已。蓋無病，則人身氣血不為之動，故得無恙也。若因其無恙，而輒信為可服，服之日久，未有不增病者矣。此亦物增而久之義也。有不宜服而服之即有害者，以其本有病，稍一誤用，則其害立應。蓋有病，則人身氣血已動，再加誤藥，以助其病，則病愈劇矣。故曰：不服藥為中醫。</p>
<p>凡過服藥餌者，其效遲，往往寒之不見其涼，溫之不見其熱，因其胃口與藥習慣耳。有連服十數劑，不甚見功，其實已暗受其益，譬如嗜酒之人，一旦使之戒酒，則反難過矣。</p>
<h2>附案</h2>
<p>奉新張希良，卒倒不知人，頭破出血，喉中痰鳴，遺溺，汗大出，兩手兩不順適，眾醫咸知為脫，已煎參附湯矣。余望其色，面赤而光，切其脈，浮大而緩，急止參附，投白虎湯一劑而痰靜，再劑而漸醒，次日左手足能動，而右則否，始知偏枯在右矣。因連服數劑，右手亦愈，但不思食，眾疑服藥過涼，止之弗聽，再服清涼數劑，乃大飢能食，倍於平日，而病全愈。或曰：何以斷其必夾火，而面赤之必非戴陽乎？為虛陽上脫，其脈必散，斷不能緩，故確知（細急不分至數者為散，若見此脈，須桂、附以納之）。</p>
<p>新建劉四美，猝不知人，目閉痰鳴，只右手動，余不動，無汗，醫者投以參附，三日後遂頭筋急不能屈伸，竟廢。</p>
<p>南昌盧生，病如劉四美，誤服參附已六日矣。亦用前方三帖而蘇，再用原方加減，八帖而全愈。可知此症，多受補藥之害。</p>
<p>安義尉白映升，年六十余，尚健如壯年，從不服藥。癸酉夏月，赴城隍廟燒香，忽跪不起，口中喃喃，語不明白，一家謂受神譴也。舁歸，則喉中痰鳴，已僵矣。余視其舌，如錯而黑，用大秦艽湯倍生地、加石膏，三日而盡五劑乃蘇，而左半不能動，再用十劑，仍無效，因盡去風藥，專用元參、天冬、麥冬、生地、酒芍、白菊、知母，服兩月而愈。</p>
<p>奉新李榮光，體肥多痰，生平好服　、朮，雖當歸亦不敢服，一日猝倒不知人，口　，右手不動，舌黑而干焦，用白虎東加麥冬、元參、生地、當歸、白芍、白菊，四劑而蘇，右亦漸靖安辛文祥，好服補藥，因而泄瀉。醫者謂其脾虛火衰也（時已年六十二），極力溫補，而瀉愈甚，肌肉消盡而泄，食入即出，臥床一月矣。繼而猝不知人，口眼　斜，不能言，右半不一日盡一帖，二日而蘇，再服至六七日，而手足亦動，仍不能言耳。再服一二日，而大便脹急不得出（已十余日不大便），於是改用承氣東加薄荷，服二帖大便通，而手足皆靈，語言亦出矣。再服前方（即生地、麥冬），一月全愈（計服生地三十斤，麥冬十余斤）。或問其故，曰：人身腸胃有三十六曲，豈能食入即出，此明是溫通太過，三焦氣化轉運太速，即火泄也。熱積於內，而猶行溫補，以致內熱感召外風，故猝中邪風。用潤藥以緩其傳送，故泄止，以解其內熱，故風息。</p>
<p>姑錄數案，以明中風多熱病，乃確有所見，非從紙上空談，且可知一切俗書不足信也。</p>
<p>彼《景其誑，而不辨耶。</p>
