<header><h1>神農本草經贊</h1></header>
<div class="元資料" data-type="book" hidden></div>
<h2>序</h2>
<p>古書之以經稱。而流傳於今者。以神農本草經與大禹山海經為最。顧山海經舊傳禹與益同記之。而有長沙。零陵。桂陽。諸暨。等郡縣。識者疑之。因及神農本草。其出藥物者。亦有豫章。朱崖。趙國。常山。奉高。真定。臨淄。馮翊等名。亦以為疑。然無可疑也。本草之目。始見於漢書。平帝之詔。班氏藝文志。有神農黃帝食禁七卷。食禁乃食藥之訛。周禮賈疏引之正作食藥。其即本草諸書明矣。隋書經籍志。神農本草八卷。又云梁有神農本草。五卷。神農本草屬物二卷。神農明堂圖一卷。殆合之為八卷邪。然梁七錄止云神農本草三卷。核其書。上藥一百二十種為君。主養命以應天者本上經。中藥一百二十種為臣。主養性以應人者本中經。下藥一百二十五種為佐使。治病以應地者本下經。則作三卷者。其本經也。又合三百六十五種。法三百六十五度。一度以應一日。以成一歲。本草之為經大矣。其有豫章等郡縣名。皆後人羼入之文字。大觀本草。黑白字書。厘正最精。太平御覽。所行經史。止云生山谷生川澤者。尤為確據。陽湖孫觀察星衍。及從子馮翼。相與輯之。實為神農功臣。亦可無疑於是經矣。漢陽葉大中丞封翁東卿先生。就養於粵東節署。老而好學。考古不衰。因取孫氏所編神農本草經。物物而為之贊。贊各四言四韻。音節之古。不可名言。又自為之注。簡而且明。使讀本草者。瀏覽諷誦。不能釋手。而其藥之本性治用。了然於目。自有會心。不尤為神農功臣乎。楚材以縣職試用於粵者逾年。適與同寮校閱廣郡試卷。而封翁寄示是書。命為之序。展讀三四。竊有請焉。昔郭景純注山海經。而並為圖贊。翁之為是贊也。其亦有景純之志乎。翁以為然。即以是言系諸簡末云。</p>
<p><u>道光三十年庚戌夏五鄞王楚材謹序於廣州郡齋</u></p>
<h2>卷一上經</h2>
<h3>丹沙</h3>
<p>味甘微寒。主身體五臟百病。養精神。安魂魄。益氣明目。殺精魅邪惡鬼。久服通神明。不老。能化為　。生山谷。</p>
<p>符陵上藥。首紀丹巴。凝真調氣。御魅驅邪。液孳金　。光燦朱霞。宜家壽考。廖井澄華。</p>
<p>名醫曰。生符陵。魏志傳注。嵇康采御上藥。說文。丹巴。越之赤石也。李　碑。凝真牝穀。張　詩。飢渴惟調氣。左傳。以御魑魅。齊民要術。以驅百邪。管子。山上有丹沙。其下有　金。南史傳。劉　如天半朱霞。易林。壽考宜家。抱朴子。臨沅廖氏。世世壽考。</p>
<p>其井水赤。掘之得丹沙數十斛。</p>
<h3>雲母</h3>
<p>味甘平。主身皮死肌。中風寒熱。如在車船上。除邪氣。安五臟。益子精明目。久服輕身延年。一名云珠。一名云華。一名云英。一名云液。一名云沙。一名　石。生山谷。</p>
<p>曉慶非云。養育如母。時維中春。升彼齊阜。五色相宣。四時更受。蘊地精收。全形不朽。</p>
<p>齊雩祭歌。非云曉慶。廣雅。母牧也。言育養子也。名醫曰。生太山。齊盧山。及琅琊北定子。雲母有五種。五色並具。多青者宜以春服之。多赤者宜以夏服之多黑者宜以冬服之。但有青黃二色者宜以季夏服之。晶晶純白。可以四時常服之也。巴蜀異物志。雲母一名云精。入地萬歲不朽。</p>
<h3>玉泉</h3>
<p>味甘平。主五臟百病。柔筋強骨。安魂魄。長肌肉。益氣。久服耐寒暑。不飢渴。不老神仙。人臨死服五斤。死三年。色不變。一名玉　。（初學記引云玉桃。太平御覽引同。</p>
<p>疑當作桃）生山谷。</p>
<p>陽精孕璞。霏屑消堅。禁水勝火。輝山澄川。濃調榆釀。　倩蔥湔。禮供齋食。白長官延。</p>
<p>周禮注。玉是陽精之純者。吳普曰。玉泉一名玉屑。抱朴子。服之一年以上。入水不沾。</p>
<p>入火不灼。得於闐國白玉尤善。烏米酒及地榆酒化之為水。亦可以蔥漿消之為黏。陸機賦。石韞玉而山輝。唐書傳。鄭朗藹若瑞玉。淡如澄川。周禮。王齋則供食玉。事類賦。白玉體如白首翁。</p>
<h3>石鐘乳</h3>
<p>味甘溫。主咳逆上氣。明目益精。安五臟。通百節。利九竅。下乳汁。（御覽一名留公乳）生山谷。</p>
<p>由剛化柔。岩脈泄乳。蒸栗侔黃。寒冰積鹵。鵝管排筒。蟬紗錯縷。藥石比言。仙茅安數。</p>
<p>韓愈詩。泄乳交岩脈。吳普曰。黃白色空中相通。唐書傳。高季輔數上書。言得失。辭誠切至。帝賜鐘乳一劑曰。而進藥石之言。朕以藥石相報。續傳信方。千斤鐘乳。不若一斤仙茅。</p>
<h3>涅石</h3>
<p>（舊作礬石。據郭璞注。山海經引作涅石。）味酸寒。主寒熱泄利。白沃陰蝕。惡創目痛。堅筋骨齒。煉餌服之。輕身不老增年。一名羽涅。生山谷。</p>
<p>羽涅羽澤。女床之陰。寒凝熱炙。創巨痛深。染緇易色。煉餌調心。嗤彼　葉。竊附高岑。</p>
<p>吳普曰。礬石一名羽澤。山海經。女床之山。其陰多涅石。淮南子。以涅染緇。黃庭堅曰。</p>
<p>江南野中　花。土人采葉燒灰。染紫為黝。不借礬而成。因易名為山礬花。</p>
<h3>硝石</h3>
<p>味苦寒。主五臟積熱胃張閉。滌去蓄結飲食。推陳致新。除邪氣。煉之如膏。久服輕身。（御覽引云一名芒硝）生山谷。</p>
<p>京山元　。性工浣胃。作作生芒。　結味。相勸加餐。解醒既醉。養陽養陰。慧聖好治。</p>
<p>山海經。京山其陰。有元　。　即消異文。劉基詩。浣胃滌腸。絕去病根。史記書。作作有芒。王褒賦。　而有味。古詩。上有加餐飯。詩。既醉以酒。禮。凡飲。養陽氣也。凡食。養陰氣也。淮南子。黃色主胃。慧聖而好治。</p>
<h3>朴硝</h3>
<p>味苦寒。主百病。除寒熱邪氣。逐六腑積聚。結固留癖。能化七十二種石。煉餌服之。輕身神仙。生山谷。</p>
<p>如玉藏璞。鹽液附生。青分曉岫。白表流晶。剛惟柔克。機與化爭。七十二石。含虛太清。</p>
<p>名醫曰。生益州鹽水之陽。色青白者佳。王勃詩。山長曉岫。青白行簡。賦。流晶表異。</p>
<p>書。</p>
<p>高明柔克。白居易贊。但獲天機。則與化爭。　冠子。上及太清。</p>
<h3>滑石</h3>
<p>味甘寒。主身熱溲　。女子乳難癃閉。利小便。蕩胃中積聚寒熱。益精氣。久服輕身耐飢長年。生山谷。</p>
<p>蕩穢滌瑕。滑為滯導。上合三焦。兩之九竅。可以樂飢。使我高蹈。白山卷山。鮮結皓耀。</p>
<p>宋務先疏。滌瑕蕩穢。黃庭經。上合三焦道飲漿。周禮。疾醫兩之以九竅。詩。可以樂飢。</p>
<p>左傳。使我高蹈。名醫曰。生掖北白山。或卷山。水經注。粉水皓耀鮮潔。</p>
<h3>石膽</h3>
<p>味酸寒。主明目。目痛金創。諸癇痙。女子陰蝕痛。石淋寒熱。崩中下血。諸邪毒瓦斯。</p>
<p>令人有子。煉餌服之。不老。久服增壽神仙。能化鐵為銅成金銀。（御覽引作合成）一名畢石。生山谷。</p>
<p>質青喻膽。羌道磷磷。星中弧建。日紀庚辛。永令麋壽。宜爾麟振。仙人狡獪。變化金銀。</p>
<p>御覽。生羌道或句青山。禮。仲春之月。昏弧中。旦建星中。名醫曰。二月庚子辛丑日采。</p>
<p>詩。綏我眉壽。古作麋。又麟之趾。振振公子。神仙傳。王方平曰。不喜復作如此狡獪變化也。</p>
<h3>空青</h3>
<p>味甘寒。主青盲耳聾。明目利九竅。通血脈。養精神。久服輕身延年不老。能化銅鐵鉛錫作金。生山谷。</p>
<p>銅液熏空。三春浮聚。決牖益聰。披云快睹。常奉金仙。傳言玉女。曠矣高懷。軒軒韶舉。</p>
<p>名醫曰。銅精熏則生空青。其腹中空。三月中旬采。真誥。耳者體之牖。有決牖之術。</p>
<p>世說。若披雲霧而睹青天。岑參詩。常愿奉金仙。詞曲。名傳言玉女。世說。何其軒軒韶舉。</p>
<h3>曾青</h3>
<p>味酸小寒。主目痛。止淚出。風痹利關節。通九竅。破症堅積聚。久服輕身不老。能化金銅。生山谷。</p>
<p>逾八百載。是生青曾。光回呼吸。積破瘕症。珠連累累。金化層層。啟關解節。妙合而凝。</p>
<p>淮南子。青天八百歲生青曾。黃庭經注。常存日月於兩目。使光與身合則通真矣。陶弘景曰。形累累如黃連相綴。費冠卿記。層層倚空。周子說。妙合而凝。</p>
<h3>禹餘糧</h3>
<p>味甘寒。主咳逆。寒熱煩滿。下痢赤白。血閉症瘕大熱。煉餌服之不飢。輕身延年。</p>
<p>生池澤及山島中。</p>
<p>蠱為穀飛。糧亦羽化。等潤川流。敷榮岩罅。赤散余霞。黃吹晚　。知白辨名。禹功休訝。</p>
<p>左傳。穀之飛亦為蠱。晉書傳。好道者皆謂之羽化。陶弘景曰。有殼重疊。中有細末如蒲黃。又一種有節而色赤。范成大詩。早　與晚　。道德經。知其白。名醫曰。一名白余糧。</p>
<p>按神農經。自非夏禹也。</p>
<h3>太一余糧</h3>
<p>味甘平。主咳逆上氣。症瘕血閉漏下。除邪氣。久服耐寒暑。不飢輕身。飛行千裡若神仙。一名石　。生山谷。</p>
<p>貴神食氣。亦具干　。腦含雪化。甲脫云浮。行輕千裡。采及九秋。豐饒遺滯。棲畝弗收。</p>
<p>史記書。天神貴者太一。詩。干　以愆。庚辛玉冊。石黃性熱。有處其雪先消。吳普曰。</p>
<p>生太山上。有甲。甲中有白。九月采取。詩。彼有遺秉。此有滯穗。左思賦。余糧棲畝而弗收。</p>
<h3>白石英</h3>
<p>味甘微溫。主消渴。陰痿不足。咳逆。胸鬲間久寒。益氣除風濕痹。久服輕身長年。生山谷。</p>
<p>誰削六棱。吹霜煉雪。搖影朝陽。搏華夕月。西華　。東封突兀。開鑿登探。如指紛結。</p>
<p>名醫曰。生華陰山谷。及太山。如指長二三寸。六面如削。白澈有光。文心雕龍。吹霜噴露。二儀錄。蕭史造煉雪丹。御覽。久服通日月光。李為賦。乍搖紫影。歐陽詹賦。搏華上浮。沈　期詩。太史漏金探文。命泯開鑿。</p>
<h3>紫石英</h3>
<p>味甘溫。主心腹咳逆邪氣。補不足。女子風寒在子宮。絕孕十年無子。久服溫中。</p>
<p>輕身延年。生山谷。</p>
<p>盤根奪紫。比象樗蒲。色兼　質。質亞　。腹池　解。心府春蘇。十年乃字。門設桑弧。（字本程氏伊芳川說易。作字育之字。）</p>
<p>陶弘景曰。石色重澈。下有根。吳普曰。達頭如樗蒲。寇宗　曰。色紫而不勻。郭璞曰。</p>
<p>石似玉。黃庭經。小腹為玉池。淮南子。智者心之府也。易。十年乃字。禮。男子生。桑弧蓬矢六。以射天地四方。又設弧於門左。</p>
<h3>青石赤石黃石白石黑石脂等</h3>
<p>味甘平。主黃膽泄利。腸癖膿血。陰蝕下血。赤白邪氣。癰腫疽痔。惡創。頭瘍疥搔。久服補髓益氣。肥健不飢。輕身延年。五石脂各隨五色補五臟。生山谷中。</p>
<p>名別五符。主治異道。　雁將雛。　鹽　。粉漬膚凝。飴調面澡。曾說赤須。生不知老。</p>
<p>吳普曰。一名五色符。色如　。雁雛方言。雁自關而東。謂之　。成公綏賦。似鴻雁之將雛。說文。　小　也。左傳。晉文公夢楚子伏己而　其腦。詩。膚如凝脂。世說。杜宏治面如凝脂。列仙傳。赤須子好食石脂。易林。生不知老。</p>
<h3>白青</h3>
<p>味甘平。主明目。利九竅。耳聾。心下邪氣令人吐。殺諸毒三蟲。久服通神明。輕身延年不老。生山谷。</p>
<p>三十六水。魚目縈中。挺英融鐵。稟異吹銅。氣宣管龠。毒制彭蟲。靜聽熟視。條達均通。</p>
<p>仙經。三十六水。方中時有。蘇恭曰。形似魚目。圓如鐵珠。曹植賦。融鐵挺英。劉禹錫文。稟異吹銅。傅子。心有管龠。宣室志。彭者三尸之姓。劉伶頌。靜聽不聞雷霆之聲。熟視不見太山之形。阮籍論。陰陽調達均通。</p>
<h3>扁青</h3>
<p>味甘平。主目痛明目。折跌癰腫。金創不瘳。破積聚。解毒瓦斯。利精神。久服輕身不老。生山谷。</p>
<p>朱崖朱提。斯石有扁。質謝藍成。品分蔥淺。蹈刃夷瘳。攻堅濡　。時有中空。還同萬選。</p>
<p>名醫曰。生朱崖朱提。詩。有扁斯石。北史傳。青成藍。藍謝青。爾雅注。青蔥淺青也。</p>
<p>蘇恭曰。形扁作片而色淺。腹中亦時有空者。中庸。白刃可蹈也。詩。靡有夷瘳。魏志傳注。</p>
<p>攻堅易於折枯。人物志。擬疑難則濡　而不盡。唐書傳。張荐猶青銅錢。萬選萬中。</p>
<h3>昌蒲</h3>
<p>味辛溫。主風寒濕痹。咳逆上氣。開心孔。補五臟。通九竅。明耳目。出聲音。久服輕身。不忘不迷惑。延年。一名昌陽。生池澤。</p>
<p>一陽來復。昌本先萌。百陰感氣。九節敷榮。饗宜菹醢。候紀催耕。靈台清暢。悅耳流聲。</p>
<p>呂氏春秋。冬至後。菖始生。百草之先生者。曲術。感百陰之氣為菖蒲。名醫曰。一寸九節者良。周禮注。昌本切之四寸為菹。莊子注。靈台者心也。清暢故憂患不能入。枚乘七發。</p>
<h3>鞠華</h3>
<p>味苦平。主頭風眩腫目痛欲脫淚出。皮膚死肌。惡風濕痹。久服利血氣輕身耐老延年。一名節華。生川澤及田野。</p>
<p>女節女華。是生女幾。采周四時。德包五美。自葉流根。抗莖敷蕊。飲雜芳醪。精調瓊靡。</p>
<p>崔實月令。女節女華菊花之名。山海經。女幾之山。其草多菊　。名醫曰。正月采根。</p>
<p>三月采葉。五月采莖。九月采花。十一月采實。鐘會贊。菊有五美。西京雜記。飲菊花酒令人長壽。揚雄反騷。精瓊靡與秋菊兮。</p>
<h3>人參</h3>
<p>味甘微寒。主補五臟。安精神。定魂魄。止驚悸。除邪氣。明目。開心益智。久服輕身延年。一名人銜。一名鬼蓋。生山谷。</p>
<p>搖光散采。涓涓蒙蒙。三丫穎擢。五葉陰濃。紫云團蓋。明月當空。迎年佩結。求我嬰童。</p>
<p>春秋。運斗樞。搖光星散而為人參。卓異記。紫衣童子歌。山涓涓兮樹　。明月愁兮當夜空。遂於古松下得參一本。高麗人贊。三丫五葉。背陽向陰。禮斗威儀。下有人參。上有紫氣。清異錄。咸通後士風。正旦未明。佩紫赤囊。中盛人參。號迎年佩。易。童蒙求我。</p>
<h3>天門冬</h3>
<p>味苦平。主諸暴風濕偏痹。強骨髓。殺三蟲。去伏尸。久服輕身。益氣延年。一名顛勒。生山谷。</p>
<p>天門地門。異名分土。引蔓春朝。乘絲夜雨。重沐美鬈。更堅疾齲。玉壘星橋。牆蘼非伍。</p>
<p>抱朴子。或名地門冬。書。分土為三。蘇頌曰。春生藤蔓。大如釵股。其葉如絲杉而細散。朱子詩。西窗夜來雨。列仙傳。赤松子服天門冬。齒落更生。細發復出。詩。其人美且鬈。說文。發好貌。陸游詩。齲齒雖小疾。梁簡文帝啟。逮自星橋見。珍玉壘。救荒本草。牆蘼乃營實苗。爾雅。指為門冬。或古書錯簡也。</p>
<h3>甘草</h3>
<p>味甘平。主五臟六腑。寒熱邪氣。堅筋骨。長肌肉。倍力。金創　解毒。久服輕身延年。生川穀。</p>
<p>春仲秋仲。蠲吉除　。名符甘美。義致中和。草木蕪穢。乳石偏頗。雖固必解。國老皤皤。</p>
<p>名醫曰。二月八月除日采。一名蜜甘。一名美草。中庸。致中和。甄權曰。治七十二種乳石毒。解一千二百種草木毒。調和眾藥有功。漢書傳。蕪穢不治。書。無偏無頗。管子。雖固必解名醫曰。一名國老。班固詩。皤皤國老。</p>
<h3>乾地黃</h3>
<p>味甘寒。主折跌絕筋傷中。逐血痹。填骨髓。長肌肉。作湯。除寒熱積聚除痹。生者尤良。久服輕身不老。一名地髓。生川澤。</p>
<p>藥之膏油。莫如地髓。露咽甘滋。光存夜視。櫪馬駒生。頷絲兒喜。安用金芝。內熱一洗。</p>
<p>蘇軾尺牘。藥之膏油。莫如地黃。又詩。咽作瑞露珍。抱朴子。楚文子服地黃八年。夜視有光。又韓子治用地黃苗喂五十歲老馬。生二駒。陸游詩。兒稚喜語翁。雪頷生黑絲。寄聲山中友。安用求金芝。蘇軾詩。愿餉內熱子。一洗胸中塵。</p>
<h3>術</h3>
<p>味苦溫。主風寒濕痹。死肌痙疸。止汗除熱消食。作煎餌。久服輕身。延年不飢。一名山薊。生山谷。</p>
<p>子欲絕穀。當服山精。紫花標色。綠葉抽萌。朝煙夜火。悟拙激清。余香滿室。空甑塵生。</p>
<p>淮南子。朮草者。山之精。服之令人長生絕穀。故神農藥經曰。子欲長生。當服山精。</p>
<p>庾肩吾啟。綠葉抽條。紫花標色。梅堯臣詩。夜火煮石泉。朝煙遍岩窟。柳宗元詩。悟拙甘自足。激清愧同波。邵寶詩。嚼罷不知香滿室。范成大詩。摩挲萊蕪甑。塵生不須拂。</p>
<h3>菟絲子</h3>
<p>味辛平。主續絕傷。補不足。益氣力肥健。汁去面　。久服明目。輕身。延年。一名菟蘆。生川澤。</p>
<p>求系求援。施於松柏。金線垂黃。瓊花間白。感氣傳形。辭根成魄。下有茯苓。千秋藪澤。</p>
<p>國語叔向曰。求系既系矣。求援既援矣。詩。施於松柏。詩疏。蔓連草上。生黃赤如金。</p>
<p>庚辛玉冊。有花白色微紅。抱朴子。下有伏兔之根。無此在下。則絲不得生於上。然實不屬也。淮南子。千秋之松。下有茯苓。上有菟絲。牛膝。味苦酸。主寒濕痿痹。四肢拘攣。膝痛不可屈伸。逐血氣傷熱。火爛墮胎。久服輕身耐老。一名百倍。生川穀。</p>
<p>膝以形似。本赤莖方。枝枝相對。葉葉相當。四肢美暢。百倍堅強。功資注下。合散扶傷。</p>
<p>陶弘景曰。有節似膝。故以為名。吳普曰。葉如夏藍。本赤。李時珍曰。其苗方莖。蘇頌曰。節葉兩兩相對。古詩。枝枝相覆蓋。宋子侯詩。花花自相對。葉葉自相當。易。美在其中。而暢於四肢。史記傳。蔡澤百體堅強。新論。從高注下。後漢書傳。劉陶合散扶傷。</p>
<h3>茺蔚子</h3>
<p>味辛微溫。主明目益精。除水氣。久服輕身。莖主癮疹癢。可作浴湯。一名益母。</p>
<p>一名大札。生池澤。</p>
<p>詩　有　。施於中穀。植茂春融。枯摧夏燠。括目益明。澡身具浴。用利坤貞。載生載育。</p>
<p>詩注。有　。　也。即今益母草。詩。施於中穀。李時珍曰。春初生苗。夏至後即枯。</p>
<p>其功宜於婦人。易注。坤貞之所利。詩。載生載育。</p>
<h3>女萎</h3>
<p>味甘平。主中風暴熱。不能動搖。跌筋結肉諸不足。久服去面黑　。好顏色潤澤。輕身不老。生山谷。</p>
<p>瑞昭禮備。象著威儀。柔筋釋結。腴貌生姿。直標竹箭。垂比纓蕤。表青裡白。熒曜春熙。</p>
<p>瑞應圖。葳蕤者。禮備至則生。嵇康論。染骨柔筋。人物志。能在釋結。吳儆詩。腴貌偉視聽。嵇康詩。顧盼生姿。</p>
<p>郭表青裡白。亦類黃精。名醫曰。一名熒。立春後采。</p>
<h3>防葵</h3>
<p>味辛寒。主疝瘕腸泄膀胱。熱結溺不下。咳逆溫瘧。癲癇驚邪狂走。久服堅骨髓益氣輕身。一名梨蓋。生川穀。</p>
<p>若防若葵。審名辨類。瘕結石堅。腹逆水　。頓席清涼。遂澄朗慧。介祉除邪。時維濯禊。</p>
<p>蘇恭曰。根葉似葵。香味似防風。故名防葵。說文。　水不利也。黃庭經。飄飄三帝席清涼太清。神仙眾經。要略其意。明澄朗慧。吳普曰。三月三日采根。風俗通。禊者。潔也。已者。祉也。邪病已去。祈介祉也。劉孝綽詩。濯禊元已初。</p>
<h3>茈胡</h3>
<p>味苦平。主心腹去腸胃中結氣。飲食積聚寒熱邪氣。推陳致新。久服輕身。明目益精。一名地熏。（蘇恭曰。茈古柴字。）</p>
<p>求辭沮澤。美著華陽。懷新　白。耐老花黃。尾蟠鼠伏。香引鶴翔。陶蒸靈氣。上達中強。</p>
<p>戰國策。今求柴胡桔梗於沮澤。則累世不得一焉。呂氏春秋。菜之美者。華陽之芸。陶潛詩。良苗亦懷新。蘇頌曰。七月開黃花。根有赤毛如鼠尾。雷　論。茈胡生處。多有白鶴綠鶴來翔。是香直上云間。柳宗元文。靈氣陶蒸。周禮。矢人中強則揚。</p>
<h3>麥門冬</h3>
<p>味甘平。主心腹結氣。傷中傷飽。胃絡脈絕。羸瘦短氣。久服輕身。不老不飢。生川穀。及堤阪。</p>
<p>佳隸階除。凌冬叢碧。貫磊　珠。麩苞　麥。烏韭西秦。羊蓍東越。一枕清風。手煎靈液。</p>
<p>范成大詩。門冬如佳隸。長年護階除吳普曰。一名忍冬。一名忍凌。范成大詩。杳杳入叢碧。蘇頌曰。有須在根。如連珠形。左思賦注。珠十貫為一　。陶弘景曰。根似　麥。玉篇。</p>
<p>麩麥殼。　大麥也。名醫曰。秦名烏韭。越名羊蓍。蘇軾詩。一枕清風直萬錢。知是東坡手自煎。郭璞詩。鐘山出靈液。獨活。味苦平。主風寒所擊。金創止痛。賁豚癇　。女子疝瘕。久服輕身耐老。一名羌活。一名羌青。一名護羌使者。生川穀。</p>
<p>面風獨立。顧盼中搖。蠶頭奮簇。鞭節垂梢。護關紫艷。緣棧黃嬌。石擘壤沃。易葉同條。</p>
<p>吳普曰。此藥。有風花不動。無風自搖。劉禹錫詩。面風搖羽扇。易。君子以獨立不懼。</p>
<p>五燈會元。外寂中搖。易簡方曰。用紫色有蠶頭鞭節者。顏延之賦。垂梢植發。蘇頌曰。隴西者紫色。西蜀者黃色。葉黃者是夾石上所生。葉青者是土脈中所生。禮。貫四時而不改柯易葉。漢書傳。同條共貫。</p>
<p>車前子。味甘寒無毒。主氣癃止痛。利水道小便。除濕痹。久服輕身耐老。一名當道。生平澤。</p>
<p>當道輪旋。如匙薄有。穗結鼠拖。跡遺牛後。精化仙衣。春盈女手。作藥天中。宜男相反。</p>
<p>救荒本草。一名車輪菜。蘇頌曰。春初生苗。葉布地如匙面。中抽數莖。長穗如鼠尾。</p>
<p>詩。</p>
<p>薄言有之。詩疏。喜在牛跡中生。名醫曰。一名牛遺。神仙服食經。一名地衣。雷之精也。</p>
<p>一名羽化。白居易詩。　春來盈女手。張籍詩。開州午日車前子。作藥人皆道有神。提要錄。五月五日午時為天中節。名醫曰。強陰益精。令人有子。章　詞。今朝斗草得宜男。</p>
<h3>木香</h3>
<p>味辛。主邪氣。辟毒疫。溫鬼強志。主淋露。久服不夢寤魘寐。生山谷。</p>
<p>形符地數。香達天垂。五葉五節。五根五枝。魘驚夜靖。瘴毒朝披。嘗余掛齒。分割蜜脾。</p>
<p>易。地數五。三洞珠囊。青木香。一株五根。一根五枝。一枝五節。一節五葉。故名五香。</p>
<p>燒之上徹九天也。隋書傳。吐穀渾多瘴氣。獻青木香以御霧露。蘇頌曰。形如枯骨。黏牙者良。名醫曰。一名蜜香。</p>
<p>薯蕷。味甘溫。主傷中。補虛羸。除寒熱邪氣。補中益氣力。長肌肉、久服耳目聰明。</p>
<p>輕身不飢延年。一名山芋。生山谷。</p>
<p>景山升山。紫藤蕃秀。云膩香酥。虹晴春透。白玉能延。黃金共壽。小　頃筐。鼎烹察候。</p>
<p>山海經曰。景山其草多薯蕷。又升山其草多薯蕷。龔　歌。綠薜紫藤湘色子。種玉綿延春透髓。晴虹歲晚寒不起。四氣調神。經夏三月。此謂蕃秀。張　詞。云香酥膩老來便。廣雅。玉延薯蕷也。江淹頌。黃金共壽。朱子詩。小　頃筐可代耕。石鼎何妨手自烹。</p>
<h3>薏苡仁</h3>
<p>味甘微寒。主筋急拘攣。不可屈伸。風濕痹下氣。久服輕身益氣。其根下三蟲。一名解蠡。生平澤及田野。</p>
<p>名稱解蠡。擲米如珠。津液渴解。身健衰扶。玉匙流滑。金井秋初。奇才勿棄。後載盈車。</p>
<p>神仙傳。麻姑擲米皆成丹砂。蘇頌曰。一名薏珠子。梅堯臣詩。偶病相如渴。為飲可扶衰。</p>
<p>陸游詩。滑欲流匙香滿屋。奇才從古棄草菅。高士談詩。井邊薏苡吐秋珠。後漢書傳。</p>
<p>馬援大軍還。以南方薏苡實載之一車。</p>
<p>澤瀉。味甘寒。主風寒濕痹。乳難消水。養五臟。益氣力。肥健。久服耳目聰明。不飢。</p>
<p>延年輕身。面生光。能行水上。一名水瀉。一名芒芋。一名鵠瀉。生池澤。采　彼汾。瀉如澤水。獨植修莖。雙分歧尾。光鑒留顏。騰波舉趾。牛舌牛唇。分形具美。</p>
<p>詩。彼汾一曲。言采其　。李時珍曰。去水曰瀉。如澤之瀉水也。蘇頌曰。獨莖而長。</p>
<p>葉似牛舌。陶弘景曰。尾間必有兩歧為好。曹植賦。飛花鑒於天庭。謝莊詩。金丹玉液豈留顏。</p>
<p>左思賦。騰波沸涌。詩。四之日舉趾。爾雅。　牛唇。南史傳。柳惲可謂具美。</p>
<h3>遠志</h3>
<p>味苦溫。主咳逆傷中。補不足。除邪氣。利九竅。益智慧。耳目聰明。不忘強志。倍力。久服輕身不老。葉名小草。一名棘菀。一名　繞。一名細草。生山谷。喻志決遠。出處何差。近洛玉粲。浮泗丹葩。根疑鹿食。苗雜龍沙。醒心月朗。倍力風加。</p>
<p>荀子。人主必有足使喻志決疑於遠方者。然後可。世說。郝隆答桓公。處則為遠志。出則為小草。蘇頌曰。河洛陝西郡有之。開白花。泗州者花紅。根如蒿根。苗如麻黃。書疏。惟洛食近洛。而其兆得吉。劉楨賦。　玉粲以耀目。書。浮於泗。列仙傳。顏　丹葩。詩。呦呦鹿鳴。食野之蒿。廣雅。龍沙麻黃也。記事珠。遠志為醒心杖。陸機詩。明月一何朗。法書要錄。風加而眾草靡。</p>
<h3>龍膽</h3>
<p>味苦澀。主骨間寒熱。驚癇邪氣。續絕傷。定五臟。殺蠱毒。久服益智不忘。輕身耐老。一名陵游。生山谷。</p>
<p>茹苦若飴。味宜嘗膽。葵葉陽傾。竹枝露泫。銀蒜菀垂。金鈴孰撼。夏茂冬藏宿根勿剪。</p>
<p>陳造詩。茹苦耐煎熬。李　歌。嘗膽不苦味若飴。馬志曰。葉如龍葵。味苦如膽。故名。</p>
<p>蘇頌曰。四月生葉如嫩蒜。細莖如竹枝。七月開花如牽牛。作鈴鐸狀。冬後結子。苗便枯。曹植表。葵藿之傾葉太陽。王勃詩。露泫竹潭枝。歐陽修詩。銀蒜鉤帘宛地垂。李商隱詩。</p>
<p>鷹掣撼金鈴。詩。勿剪勿伐。</p>
<h3>細辛</h3>
<p>味辛溫。主咳逆頭痛腦動。百節拘攣。風濕痹痛死肌。久服明目。利九竅。輕身延年。一名小辛。生山谷。</p>
<p>華陰五沃。小辛少辛。纖根獨立雙葉非倫。椒聊含馥。葵影交新。杜衡貌似。劃偽核真。</p>
<p>名醫曰。生華陰山谷。管子。五沃之土。群藥生少辛。馬融賦。蹉纖根。李當之曰。細辛一根一葉相連。雷　論。雙葉者。服之害人。晉書傳。非卿倫也。夢溪筆談。嚼之習習如椒。寇宗曰。葉如葵。赤黑色。駱賓王序。披玉葉以交新。蘇頌曰。今人多以杜衡為之。唐書傳贊。劃偽以真。</p>
<h3>石斛</h3>
<p>味甘平。主傷中。除痹下氣。補五臟。虛勞羸瘦。強陰。久服濃腸胃。輕身延年。一名林蘭。生山谷。</p>
<p>幽谷熏風。敷芬布暢。整插金釵。攢叢翠障。林竊蘭名。節如竹狀。潤說千年。神恬津藏。</p>
<p>詩。出於幽谷。柳公權聯句。熏風自南來。蘇頌曰。五月生苗。張協賦。和風穆以布暢。</p>
<p>百卉蔚而敷芬。劉綺詩。整插補余空。李時珍曰。蜀人呼為金釵花。江淹賦。攢叢石徑。蘇軾詩。亂山橫翠障。蘇恭曰。石斛如竹節間生葉。李時珍曰。俗稱為千年潤。元　詩。神恬津藏滿。</p>
<h3>巴戟天</h3>
<p>味辛微溫。主大風邪氣。陰痿不起。強筋骨。安五臟。補中增志益氣。生山谷。</p>
<p>森森戟列。巴峽蜀天。連珠的　。三蔓蔥芊。秋風斂實。冬日揚鮮。山　著白。假紫夤緣。</p>
<p>李白詩。列戟何森森。沈　期詩。西南出巴峽。杜甫詩。蜀天常夜雨。蘇恭曰。根如連珠。</p>
<p>俗名三蔓草。經冬不枯。司馬相如傳。的　江靡。顏延之詩。積翠亦蔥芊。蘇頌曰。至秋結實。潘尼賦。收華斂實。顧愷之賦。含馨揚鮮。蘇頌曰。山　根色白。土人以醋煮之色紫。</p>
<p>雜巴戟。唐書傳。李泌著白者。山人也。唐書紀。假紫及緋。孟浩然詩。沙岸曉夤緣。</p>
<h3>白英</h3>
<p>味甘寒。主寒熱入疸。消渴補中益氣。久服輕身延年。一名穀菜。生山谷。</p>
<p>白幕排風。五丫蔓繞。葉展春妍。莖繁夏懊。花粲秋高。根蟠冬杪。雜綴　珠。赤光目了。</p>
<p>陳藏器曰。一名白幕。李時珍曰。俗名排風子。言其功用。蘇恭曰。蔓生葉長而五丫。</p>
<p>名醫曰。春采葉。夏采莖。秋采花。冬采實。裴澄詩。映林初展葉。白居易詩。春妍景麗草樹光。</p>
<p>張協賦。繁莖　密。謝靈運賦。夏涼寒燠。沈約詩。閑幌望高秋。蔡　詩。乃復見冬杪。郭璞曰。子赤色如耳　珠。蘇恭曰。一名鬼目草。韓駒詩。但存雙目了。</p>
<h3>白蒿</h3>
<p>味甘平。主五臟邪氣。風寒濕痹。補中益氣。長毛髮令黑。療心縣。少食常飢。久服輕身。耳目聰明。不老。生山澤。</p>
<p>留青還白。匪莪伊芳蒿。秋　瑟瑟。寒水迢迢。蓼零露　。荐雜溪毛。吳酸調淪。清羨吾饕。</p>
<p>蘇恭曰。白蒿所在有之。粗於青蒿。至秋白於眾蒿。武帝內傳。還白留青。詩。匪莪伊芳蒿。顏延之詩。秋　冬未至。楊炯賦。風蕭蕭兮瑟瑟。沈約詩。開襟濯寒水。蘇軾詩。迢迢澗水隨人急。詩。零露　兮。左傳。澗溪沼　之毛。蘋蘩蘊藻之菜。可荐於鬼神。大招注。</p>
<p>蒿蔞。吳人善調酸淪為齏。許有孚詩。或羨吾饕是清福。</p>
<h3>赤箭</h3>
<p>味辛溫。主殺鬼精物。蠱毒惡氣。久服益氣力。長陰肥健。輕身增年。一名離母。一名鬼督郵。生川穀。</p>
<p>標異赤芝。稈如立箭。角　羊蕃。膚函龍見。豆粒還筒。芋魁鋪練。風定自搖。應辭夏扇。</p>
<p>謝靈運賦。既標異於前章甄權曰。一名赤箭芝。張耒詩。遺稈如立箭。夢溪筆談。肉色堅白如羊角色。詩。其角　。劉商詩。塞馬蕃羊臨霜霰。柳宗元文。仁函於膚。孝經。援神契德。至於水泉。則黃龍見。蘇頌曰。其皮黃白色名曰龍皮。結子如豆粒大。至夏不落。透入莖中。潛生土內。根如芋魁。有游子十二枚。周環之。李時珍曰。俗名還筒子。李損之詩。匝地如鋪練。陶弘景曰。有風不動。無風自搖。李益詩。涼軒辭夏扇。</p>
<h3>子</h3>
<p>味苦微寒。主五臟瘀血。腹中水氣臚張。留熱風寒濕痹。身體諸痛。久服輕身延年不老。生川穀。</p>
<p>凌冬落實。材取充　。菊疏葉薄。艾拾莖粗。毒辟荒虺。仙詫距　。宣通三氣。心安故廬。</p>
<p>名醫曰。十月采實。左傳。我落其實。而取其材。蘇軾詩。郁蔥佳氣夜充　。李時珍曰。</p>
<p>葉似菊葉而薄。莖如艾莖而粗。皮日休詩。疏菊臥煙莖。駱賓王啟。拾艾幽人。陶弘景曰。種此辟蛇。沈　期詩。截荒虺。吳普曰。　食之神仙。黃帝內經曰。風寒食三氣雜至。合而為痹。范成大詩。即境心安是故廬。</p>
<h3>析子</h3>
<p>味辛微溫。主明目。目痛淚出。除痹。補五臟。益精光。久服輕身不老。一名蔑析。一名大蕺。一名馬辛。生川澤。及道旁。</p>
<p>川潦道周。萋然美盛。七葉乖和。五輪瞀病。積瀉傾杯。明回借鏡。續壽標靈。樂含腹詠。</p>
<p>詩箋。葛覃葉。萋然。喻其容色美盛也。甄權曰。治肝家積聚。史記傳。肝左三葉。右四葉。蘇軾詩。吾於五輪間。莊子。適有瞀病。黃帝內經曰。肝脈微急為肥。氣在脅下若覆杯。</p>
<p>新論。人目短於自見。故借鏡以觀形。歐陽修帖子。寶曲標靈日。萬壽續天長。吳志傳。胡綜心歌腹詠。樂於歸附。吳普曰。五月五日采。治腹脹。</p>
<h3>實</h3>
<p>味苦平。主益氣。充肌膚。明目。聰慧先知。久服不飢不老。輕身。生山谷。草之壽。端植靈　。神圓龜守。奇表云垂。是名大慧。可以前知。青逾艾實。榮逮秋期。</p>
<p>埤雅。草之多壽者。故字從　。唐書傳。馮定端凝若植。論衡。猶靈　神龜。易。　之德圓而神。史記傳。　生滿百莖者。下必有神龜守之。其上常有青云覆之。康子玉賦。覆青云以表奇。杜甫賦。九天之云下垂。李鼎偶談。是名大慧。中庸。可以前知。蘇頌曰。秋後有花。結實如艾實。詩。秋以為期。赤芝。味苦平。主胸中結。益心氣。補中。增慧智。不忘。</p>
<p>久食輕身不老。延年神仙。一名丹芝。黑芝。味鹹平。主癃利水道。益腎氣。通九竅聰察。</p>
<p>久食輕身不老。延年神仙。一名元芝。青芝。味酸平。主明目補肝氣。安精魂仁恕。久食輕身不老。延年神仙。一名龍芝。白芝。味辛平。主咳逆上氣。益肺氣。通利口鼻。強志意。</p>
<p>勇悍安魄。久食輕身不老。延年神仙。一名玉芝。黃芝。味甘平。主心腹五邪。益脾氣安神。</p>
<p>忠信和樂。久食輕身不老。延年神仙。一名金芝。紫芝。味甘溫。主耳聾。利關節。保神益精氣。堅筋骨。好顏色。久服輕身。不老延年。一名木芝。生山谷。</p>
<p>三秀六芝。慈仁上瑞。肪白珊紅。金黃羽翠。漆抹　云。筍萌紫帔。大藥可求。龜龍百歲。</p>
<p>爾雅注。芝一歲三華。瑞草。宋書志。王者慈仁則生。抱朴子。赤者如珊瑚。白者如截肪。</p>
<p>黑者如澤漆。青者如翠羽。黃者如紫金。氣和暢則生。玉莖紫筍。束晰詩。　重云。稽神錄。報盈以繡羽紫帔。蘇軾詩。古來大藥不可求。蘇轍詩。龜龍百歲豈知道。</p>
<h3>卷柏</h3>
<p>味辛溫。生山谷。主五臟邪氣。女子陰中寒熱痛。症瘕血閉。絕子。久服輕身。和顏色。一名萬歲。生山谷石間。</p>
<p>含春時發。蒔植無稽。白石鑿鑿。芳草萋萋。斑窺豹隱。拳屈雞棲。長生萬歲。名與柏齊。</p>
<p>梁簡文帝賦。草含春而色動。易。以時發也。唐書志。司苑掌園囿蒔植。書。無稽之言勿聽。</p>
<p>詩。白石鑿鑿。楚辭。芳草生兮萋萋。晉書傳。管中窺豹。時見一斑。吳普曰。一名豹足。</p>
<p>蘇頌曰。春生苗似柏葉而細。拳屈如雞足。李時珍曰。俗名長生不死草。</p>
<h3>藍實</h3>
<p>味苦寒。主解諸毒。殺蠱　。注鬼螫毒。久服頭不白。輕身。生平澤。</p>
<p>三刈　盈。芳滋悅染。角蘊青濃。蕤垂紅淺。　毒冰消。蠱　霧斂。黑發春新。丹和九轉。</p>
<p>李時珍曰。歲可三刈。五六月開花成穗。細小淺紅色。結角長寸許。如小豆角。詩。不盈一。王季友詩。芳藍滋疋帛。粱簡文帝文。悅染笙歌。唐書傳。瓦解冰消。王勃序。群疑霧斂。王建詩。春來黑發新。洞冥記。和九轉之丹服之。</p>
<h3>芎</h3>
<p>味辛溫。主中風入腦。頭痛。寒痹筋攣緩急。金創。婦人血閉。無子。生川穀。</p>
<p>穿林間覓。橫理春分。蛇床蕊碎。雀　紋紛。翠含清露。香繞黃云。調羹淪茗。御濕功勤。</p>
<p>蘇軾詩。穿林間覓野芎苗。李時珍曰。清明後。宿根生苗。分其枝而橫理之。蘇頌曰。</p>
<p>七八月開碎白花如蛇床子。根黃黑色作雀腦狀。蘇軾詩。濯濯翠莖滿。　清露涵。黃庭堅詩。</p>
<p>一穗黃云繞幾。宋祁贊。可糝於羹。韓琦詩。時摘嫩苗烹賜茗。左傳注。鞠　所以御濕。</p>
<h3>蘼蕪</h3>
<p>味辛溫。主咳逆。定驚氣。辟邪惡。除蠱毒鬼注。去三蟲。久服通神。一名薇蕪。生川澤。</p>
<p>將寄所思。行吟澤畔。　秋風。霏霏清旦。翠掬衣沾。香通鼻觀。松菊齊儔。椒蘭並粲。</p>
<p>張翥詩。擬折芳馨寄所思。史記傳。屈原行吟澤畔。湛方生賦。　微扇。李賀詩。沙上蘼蕪花。秋風已先發。孟郊詩。草色瓊霏霏。曾肇詩。采采乘清旦。趙嘏詩。掬翠香盈袖。孟遲詩。莫送香風入客衣。陳樵詩。此時鼻觀通。蘇籀詩。介特有如松。繁華匪慚菊。離騷。</p>
<p>覽椒蘭其若茲兮。</p>
<h3>黃連</h3>
<p>味苦寒。主熱氣目痛。　傷泣出。明目。腸　腹痛下痢。婦人陰中腫痛。久服令人不忘。一名王連。生川穀。</p>
<p>珠連九節。色以黃標鷹　欲脫。雉尾方翹。斷涼滌暑。御孽辟妖。味能忘苦。導利中焦。</p>
<p>韓保升曰。節高若連珠。蘇頌曰。宣城九節者為勝。根黃葉如小雉尾。李時珍曰。如鷹雞爪形而堅實。王微贊。斷涼滌暑。江淹頌。御孽辟妖。長靈久視。僧智舷詩。不是性味移。頭陀能忘苦。張元素曰。去中焦濕熱。</p>
<h3>絡石</h3>
<p>味苦溫。主風熱。死肌癰傷。口乾舌焦。癰腫不消。喉舌腫。水漿不下。久服輕身明目。潤澤好顏色。不老延年。一名石鯪。生川穀。</p>
<p>青蔓連延。龍鱗結絡。灌植靈根。疏通幽龠。身鏡華精。神庭灼爍。得此石交。煙霞向托。</p>
<p>蘇恭曰。此物冬夏常青。其莖蔓延繞樹石側。名醫曰。一名石龍藤。吳普曰。一名鱗石。</p>
<p>郭璞賦。龍鱗結絡。黃庭經。灌溉五華植靈根。注。舌本也。禮。疏通知遠。沈約詩。歌幽龠且。未調真誥。目者身之鏡。面者神之庭。黃庭經。通利華精。注。目精也。蔡邕賦。榮華灼爍。史記傳。蘇秦喜此而得石交。陸龜蒙詩。且向煙霞托。</p>
<h3>蒺藜子</h3>
<p>味苦溫。主惡血。破症結積聚。喉痹乳難。久服長肌肉。明目輕身。一名旁通。一名屈人。一名止行。一名豺羽。一名升推。生平澤或道旁。</p>
<p>屈人疾利。布地緣牆。據之破結。走且妨僵。林森豺羽。波　菱芒。象形鐵鑄。渠答鋼。</p>
<p>李時珍曰。其刺傷人甚疾利也。陶弘景曰。多生道旁及牆頭。其葉布地。子有刺狀如菱。</p>
<p>易。據於蒺藜。蘇軾碑。汗流籍　走且僵。李子卿賦。戈矛林森。白居易詩。鏡動波　菱。爾雅翼。　蒺藜起於隋。謂之渠答。李觀文。　鋼之利器。</p>
<h3>黃</h3>
<p>味甘微溫。主癰疽。久敗創。排膿止痛。大風癩疾。五痔鼠　。補虛小兒百病。一名戴糝。生山谷。</p>
<p>通理三焦。甘先五變。赤白流同。短長形辨。細韌柔綿。緩抽修箭。苜蓿根堅。豈容托援。</p>
<p>易。君子黃中通理。王好古曰。是上中下內外三焦之藥。淮南子。味有五變。甘其主也。</p>
<p>日華子曰。赤水　。白水　。功用並同。蘇頌曰。今河東陝西州郡多有之。根長二三尺。木短而理橫。其皮折之如綿。李時珍曰。以堅實如箭竿者良。王好古曰。苜蓿根味苦。堅脆宜審。盧仝詩。托援交情重。</p>
<h3>肉蓯蓉</h3>
<p>味甘微溫。主五勞七傷。補中除莖中寒熱痛。養五臟。強陰益精氣。多子。婦人症瘕。久服輕身。生山谷。</p>
<p>陰陽司命。福祿叢生。名假肉食。體遍鱗紋。妄言馬瀝。雜啖羊羹。蓯蓉中道。補益功成。</p>
<p>日華子曰。治男子絕陽。女子絕陰。吳普曰。一名黑司命。韓保升曰。出肅州福祿縣沙中。</p>
<p>左傳。肉食者鄙。南史紀。齊高帝鱗紋遍其體。蘇頌曰。舊說是野馬遺瀝所生。陶弘景曰。</p>
<p>以作羊羹補虛乏。李時珍曰。補而不峻。故有蓯蓉之號。中庸。蓯蓉中道。</p>
<h3>防風</h3>
<p>味甘溫無毒。主大風頭眩痛。惡風風邪。目盲無所見。風行周身。骨節疼痛煩滿。久服輕身。一名銅芸。生川澤。</p>
<p>叉尾叉頭。區分無隱。荽散香芬。蘿攢房緊。美比珊瑚。堅同蚯蚓。三十六風消。神光炯炯。</p>
<p>名醫曰。叉尾者令人痼疾。叉頭者令人發狂。論語。吾無隱乎爾。蘇頌曰。五月開細白花。</p>
<p>中心攢聚作大房。似蒔蘿花。實如胡荽子。李時珍曰。嫩苗辛甘而香。時人呼為珊瑚菜。陶弘景曰。節堅如蚯蚓頭者良。日華子曰。治三十六般風。陸游詩。炯炯神光夕照梁。</p>
<h3>蒲黃</h3>
<p>味甘平。主心腹膀胱寒熱。利小便。止血消瘀血。久服輕身益氣力。延年神仙。生池澤。</p>
<p>碧抽煙劍。極浦遙汀。梗端環抱。蕊粉飄零。盈握香綻。揚采金熒。下余白　。筍蔌含馨。</p>
<p>陸龜蒙詩。旋抽煙劍碧參差。周針賦。傍極浦。依遙汀。蘇頌曰。夏抽梗於叢葉中。花抱梗端。花中蕊屑。細若金粉。中心入地。白　。啖之甘脆。蔣防賦。帶環抱之珥。謝惠連賦。</p>
<p>從風飄零。詩。其蔌維何。維筍及蒲。</p>
<h3>香蒲</h3>
<p>味甘平。主五臟心下邪氣。口中爛臭。堅齒明目聰耳。久服輕身耐老。一名睢。生池澤。</p>
<p>冒水茸茸。叢生春乍。肥茁紅浮。脂凝白亞。菡　東西。蜻蜓高下。先攻心邪。神奇臭花。</p>
<p>蘇頌曰。春初生嫩葉。出水時紅白茸茸然。謝　詩。閑廁秋菡萏。姚合詩。東西分艷影相連。薛蕙詩。蜻蜓高下逐。荀子。我先攻其邪心。莊子。化臭腐為神奇。</p>
<h3>續斷</h3>
<p>味苦微溫。主傷寒。補不足。金創癰傷。折跌續筋骨。婦人乳難。久服益氣力。一名龍豆。一名屬折。生山谷。</p>
<p>斷者可續。責實循名。四棱莖直。相對葉生。紅參白膩。赤抱黃明。煙塵瘦折。露汁浮罌。</p>
<p>禮疏。一成而不可變。斷者不可復續也。淮南子。循名責實。蘇頌曰。苗干四棱。葉兩兩相對而生。開花紅白色。根赤黃色。張翰詩。素質參紅。秦觀詞。輕紅膩白。申時行賦。初抱赤兮若傾。墨經。黃者曰黃明松品。李時珍曰。色赤而瘦。折之有煙塵者良。陶弘景曰。七月八月采。根有汁。洞冥記。露汁如珠。沈與求詩。出沒沙際如浮罌。</p>
<h3>漏蘆</h3>
<p>味苦鹹寒。主皮膚熱。惡創疽痔濕痹。下乳汁。久服輕身益氣。耳目聰明。不老延年。一名野蘭。生山谷。</p>
<p>候紀白藏。稱奇守黑。麻莢支分。角蒿盈尺。寒浸菊華。秋澄蓮碧。突兀喬山。上清靈宅。</p>
<p>爾雅。秋為白藏。李時珍曰。秋後即黑。異於眾草。白居易賦。守其黑所以稱奇。蘇恭曰。</p>
<p>七八月後皆黑。異於眾草。葉似角蒿。生莢。長似細麻之莢。蘇頌曰。秦州者花似單葉寒菊。海州者花紫碧如單葉蓮花。名醫曰。生喬山。陶弘景曰。黃帝所葬處。云笈七簽上清靈宅。</p>
<h3>營實</h3>
<p>味酸溫。主癰疽惡創。結肉跌筋。敗創熱氣。陰濕不瘳。利關節。一名薔薇。一名薔麻。一名牛棘。生川穀。</p>
<p>異名牛棘。艷說雞苗。青珠碎簇。紅顆香饒。金櫻懷核。赤杜分條。和酸捩齒。陰蝕潛消。</p>
<p>花史。許司馬後圃。薔薇根下。如雞五色。呼為玉雞苗。李時珍曰。結子成簇。生青熟紅。</p>
<p>其核有毛。如金櫻子核。方岳詩。真珠碎簇玉蝴蝶。蘇　詩。香饒點便風。韓保升曰。子若杜棠子。禮。其有核者。懷其核。新論。分條布葉。陸游詩。村醪捩齒酸。</p>
<h3>天名精</h3>
<p>味甘寒。主瘀血血瘕欲死。下血止血。利小便。久服輕身耐老。一名麥句薑。一名蝦蟆藍。一名豕首。生川澤。</p>
<p>豕首彘顱。義難研括。氣厭狐臊。功稱鹿活。面皺非吹。衣黏不脫。通化瘀痂。長嬴采掇。</p>
<p>爾雅。　豕首。名醫曰。一名彘顱。五月采。陶弘景序。研括煩省。李時珍曰。嫩苗綠色。似皺葉菘芥。微有狐氣。一名皺面草。結實如蒿子。狐氣最黏人衣。蘇恭曰。即活鹿草也。爾雅。夏為長嬴。</p>
<h3>決明子</h3>
<p>味鹹平。主青盲。目淫膚赤白膜。眼赤痛淚出。久服益精光輕身。生川澤。</p>
<p>龍門嘉種。香霧盈畦。金錢無數。翠羽初齊。青披細角。綠印簇蹄。黑甜一枕。明決昏。</p>
<p>名醫曰。生龍門。黃庭堅詩。後皇富嘉種。吳寬詩。畦間香霧正氤氳。杜甫詩。　葉滿枝翠羽蓋。開花無數黃金錢。李時珍曰。結角如初生豉豆。角中子數十粒。參差相連。狀如馬蹄。青綠色。以明目之功而名。蘇軾詩。一枕黑甜余。虞淳熙詩。午夜失昏　。</p>
<h3>丹參</h3>
<p>味苦微寒。主心腹邪氣。腸鳴幽幽如走水。寒熱積聚。破症除瘕。止煩滿益氣。一名蟬草。生山谷。</p>
<p>自抱丹心。方棱青疊。獨干叢根。一枝五葉。腸罷轆轤。身輕蹀躞。紅紫紛紛。飛蛾形接。</p>
<p>吳融詩。皇恩自抱丹心報。蘇頌曰。莖方有棱。青色。一苗數根。李時珍曰。一枝五葉。</p>
<p>小花成穗如蛾形。紅紫色。陸龜蒙詩。愁因轆轤轉。蘇軾詩。蹀躞身輕山上走。蕭炳曰治風軟腳可逐奔馬。故名奔馬草。列子。形接為事。</p>
<h3>茜根</h3>
<p>味苦寒。主寒濕風痹。黃膽。補中。生川穀。</p>
<p>茹蘆在阪。蔓引山龍。刺含寸節。筋束方空。別尊染絳。分劑留紅。用祈多積。千戶侯封。</p>
<p>爾雅注。茹蘆芽搜今之茜也。詩疏。茹蘆。徐州人謂之牛蔓。朱震亨曰。一名過山龍。</p>
<p>李時珍曰。十二月生苗。蔓延數尺。方莖中空有筋。外有細刺。數寸一節。白虎通德論。可以染絳。別尊卑也。晉書傳。華佗心解分劑。埤雅。麈尾留紅。韓保升曰。根紫赤色。禮。不祈多積。史記傳。千畝卮茜。其人與千戶侯等。</p>
<h3>飛廉</h3>
<p>味苦平。主骨節熱。脛重酸疼。久服令人身輕。一名飛輕。生川澤。</p>
<p>取象神禽。飛走名伙。箭羽輕揚。綿茸旁裹。葉刻殘棱。毛浮碎顆。頓洗清涼。百骸安妥。</p>
<p>李時珍曰。飛廉神禽之名。能致風氣。名醫曰。一名飛雉。一名伏兔。一名伏豬。陶弘景曰。莖輕有皮似箭羽。葉多刻缺。夢溪筆談。根如牛蒡而綿。頭有白茸。韓保升曰。花紫色子毛白。蘇軾詩。清涼洗煩煎。</p>
<h3>五味子</h3>
<p>味酸溫。主益氣。咳逆上氣。勞傷羸瘦。補不足。強陰益男子精。生山谷。</p>
<p>含春締架。引蔓抽莖。蓮華貌似。豌豆實成。味殊口爽。濟自心平。品珍北產。白撲霜輕。</p>
<p>梁簡文帝賦。草含春而動色。盧鴻一歌。資人力之締架。蘇頌曰。春初生苗。引赤蔓於高木。三四月開花類蓮華。七月成實如豌豆許大。道德經。五味令人口爽。左傳。先王之濟五味。以平其心。李時珍曰。北產者良。雷　論。小伙皮皺。泡有白撲鹽霜一重為真。</p>
<h3>旋華</h3>
<p>味甘溫。主益氣。去面　黑色。媚好。其根味辛。主腹中寒熱邪氣。利小便。久服不飢輕身。一名筋根華。一名金沸。生平澤。</p>
<p>截寸苗生。浹旬可數。疏細纏枝。虛圓旋鼓。筋力剛堅。容顏媚嫵。被隴交塍。　鋤刈取。</p>
<p>寇宗　曰。其根寸截置土。灌溉涉旬。苗生田野間甚多。最難鋤刈。治之又生。李時珍曰。</p>
<p>千葉者色粉紅。俗呼纏枝牡丹。其花不作瓣狀。如軍中所吹鼓子。故有旋華鼓子之名。名醫曰。根主續筋。南人呼為續筋根。管子。強力剛堅。元好問詩。意態工媚嫵。庾信詩。被隴文瓜熟。交塍香穗低。蘇軾說。　鋤　艾。相尋於上。詩箋。錯薪我欲刈取之。</p>
<h3>蘭草</h3>
<p>味辛平。主利水道。殺蠱毒。辟不祥。久服益氣輕身。不老通神明。一名水香。生池澤。</p>
<p>沅湘紉　。溱洧湔裾。斜拋燕剪。初浴雞蘇。福祥云集。毒蠱風除。千金良是。九畹息誣。</p>
<p>九歌。浩浩沅湘。離騷。紉秋蘭以為　。詩疏。秉　即蘭香草。梁簡文帝詩。湔裾出樂游。</p>
<p>馬志曰。其葉有歧。俗呼燕尾香。李時珍曰。開花成穗。如雞蘇。花紅白色。梁簡文帝序。</p>
<p>云集霧會。唐書傳贊。霆掃風除。方回說。古之蘭草。即今之千金草。陸游詩。洛陽二頃言良是。楊慎曰。世以如萱蒲者為蘭。九畹之受誣久矣。</p>
<h3>蛇床子</h3>
<p>味苦平。主婦人陰中腫痛。男子陰痿。濕癢。除痹氣。利關節。癲癇惡創。久服輕身。一名蛇米。生川穀及田野。</p>
<p>濕　幽墟。飢蛇凝戀。芎葉槎丫。蒿枝峭茜。百結同窠。雙粒合片。蘼弱蕪繁。令人目黃　詩。蒼榛　幽墟。李時珍曰。蛇虺喜臥於下。食其子。蘇軾詩。飢蛇不汝放。李邕妻溫氏表。歲時凝戀。韓保升曰。下濕地皆有。葉似小葉芎　。蘇頌曰。三月生苗。作叢似蒿枝。每枝有花頭百余結同一窠。李時珍曰。其子兩片合成。淮南子。亂人者。蛇床之與蘼蕪。張名由詩。令人心目　。</p>
<h3>地膚子</h3>
<p>味苦寒。主膀胱熱。利小便。補中益精氣。久服耳目聰明。輕身耐老。一名地葵。</p>
<p>生平澤及田野。</p>
<p>星精散采。宛轉沿涯。千心春滿。獨帚風斜。舌捫鴨　。眠起蠶沙。商秋斂實。沐浴光華。</p>
<p>蘇頌曰。星之精也。一名獨帚。一名鴨舌草。八月　干成可采。土宿指南。一名千心草。</p>
<p>韓愈詩。宛轉沿涯到深處。日華子曰。子色青。似一眠初起蠶沙之狀。潘尼賦。商秋授氣。</p>
<p>收華斂實。甄權曰。去熱風可作湯沐浴。黃庭經。體生光華氣香蘭。</p>
<h3>景天</h3>
<p>味苦平。主大熱。火創身熱。煩邪惡氣。華。主女人漏下赤白。輕身明目。一名戒火。</p>
<p>一名慎火。生川穀。</p>
<p>枝折經旬。柔莖苒苒。氣自含涼。功施止焰。寓秀庭除。棲芬屋廣。火母名奇。丹砂就斂。</p>
<p>寇宗　曰。折枝置土中。澆溉旬日便生。王粲賦。挺柔莖之苒苒。傅咸賦。氣泠泠以含涼。</p>
<p>范筠詩。止焰或有施。卞敬宗贊。寓秀閑庭。謝靈運賦。夕棲芬而氣敷。蘇頌曰。南北皆有之。種於中庭。或盆置屋上。名醫曰。一名火母。日華子曰。可　朱砂。</p>
<h3>茵陳</h3>
<p>味苦平。主風濕寒熱。邪氣熱結黃膽。久服輕身。益氣耐老。生邱陵阪岸上。</p>
<p>生生不息。陳陳相因。冬藏根蟄。春度萌伸。葉覓八角。餅荐三晨。　蠲黃濕。耳食仙。</p>
<p>易。生生之謂易。禮。流而不息。漢書志。陳陳相因。陳藏器曰。此雖蒿類。經冬不死。</p>
<p>更因舊苗而生。故名茵陳。雷　論。凡使須用葉有八角者。李時珍曰。淮揚人二月三日采茵陳苗和粉作餅食之。史記年表。此與以耳食無異。名醫曰。白兔食之仙。</p>
<h3>杜若</h3>
<p>味辛微溫。主胸隔。下逆氣。溫中。風入腦戶。頭痛多涕淚出。久服益精。明目輕身。一名杜衡。生川澤。</p>
<p>葵狀蘼馨。煙霏露　。幽　崇岡。素英綠葉。香逐馬蹄。形猜鴨　。悅茂茲榮。金芝鄰接。</p>
<p>山海經。天帝之山有草焉。狀如葵。臭如蘼蕪。名曰杜衡。杜甫詩。露　思藤架。煙霏想柱叢。嵇康序。仰眺崇岡。俯察幽　。劉圻父詩。素英綠葉紛可喜。爾雅疏。杜土鹵形如馬蹄。俗呼馬蹄香。雷　論。鴨蹀草根相似。味效不同。謝　賦。覽茲榮之茂悅。廁金芝於芳叢。名醫曰。一名若芝。杜甫詩。鄰接意如何。</p>
<h3>沙參</h3>
<p>味苦微寒。主血積驚氣。除寒熱。補中益肺氣。久服利人。一名知母。生川穀。</p>
<p>文希志取。美識參形。尖長排齒。紫白懸鈴。乳流　液。肺沃神醒。孕金伏火。風扇泠泠。</p>
<p>名醫曰。一名文希。一名志取。一名識美。陶弘景曰。與人參主療頗同。故有參名。李時珍曰。葉尖長如枸杞葉而小。有細齒。開小紫花。狀如鈴鐸。亦有白花者。根莖皆有白汁。俗名羊婆奶。束晰賦。　液濡澤。李咸用歌。風搖兩拂精神醒。牛宏歌。孕金成德。李頎詩。</p>
<p>心窮伏火陽精丹。葛洪詩。洞陽泠泠風佩清。</p>
<h3>白兔藿</h3>
<p>味苦平。主蛇虺蜂蠆　狗。菜肉蠱毒注。一名白葛。生山谷。</p>
<p>搗藥山端。思防凌觸。衙聚潮蜂。溪盤霧蝮。螈狗攫腓。蠱蠶入腹。飲汁塗創。喜莫予毒。</p>
<p>古歌詩。采取神藥山端。白兔搗蝦蟆丸。易。君子以思患而豫防之。云笈七簽。遇物凌觸。</p>
<p>埤雅。蜂有兩衙應潮。淮南子。　蛇游霧而動。左傳。國人逐螈狗。春秋後語。徐之狗。攫公孫子之腓。吳志傳。蟲入其腹。李　曰。煮汁飲。搗末敷諸毒。阿含經。塗創不貪其味。</p>
<p>左傳。而後喜可知也。曰莫予毒也已。</p>
<h3>徐長卿</h3>
<p>味辛溫。主鬼物百精蠱毒。疫疾邪惡氣溫瘧。久服強悍輕身。一名鬼督郵。生山谷言名名物。以作爾庸。寄懷幽石。別訪仙蹤。桑苗纖繞。柳葉　茸。蠲疫驅瘧。不若不逢。</p>
<p>家語。高辛生而自言其名。周禮。辨其名物。詩。以作爾庸。吳普曰。一名石下長卿。</p>
<p>蘇頌曰。一名別仙蹤。韓保升曰。苗似小桑。蘇恭曰。葉似柳兩葉相當。繁欽賦。微條纖繞。李商隱詩。垂柳碧　茸。李華賦。養命蠲疫。楊萬裡詩。不須杜句能驅虐。左傳。川澤山林。</p>
<p>不逢不若。</p>
<h3>石龍芻</h3>
<p>味苦微寒。主心腹邪氣。小便不利淋閉。風濕鬼注惡毒。久服補虛羸。輕身。耳目聰明。延年。一名龍須。一名草續斷。一名龍珠。生山谷。</p>
<p>芻束游龍。抽簪孰綰。直插鳧茈。別清鼠莞。織席增涼。翦須補滿。九節多珠。洮　恆產。</p>
<p>詩。生芻一束。曹植賦。宛若游龍。王勃詩。隨興欲抽簪。李時珍曰。俗名西王母簪。</p>
<p>狀如鳧茈。苗直上。爾雅。鼠莞龍芻之小者。功用相同。韓保升曰。生莖如　。可為席。陸云詩。芳滸增涼。唐書傳李績疾。帝自剪須以和藥。名醫曰。補內不足。痞滿以九節多珠者良。</p>
<p>水經注。自洮　三百裡中。地草遍是龍須。孟子。無恆產而有恆心者。</p>
<h3>薇銜</h3>
<p>味苦平。主風濕痹。歷節痛。驚癇吐舌。悸氣賊風。鼠　癰腫。一名糜銜。生川澤。</p>
<p>叢如茺蔚。瘥驗鹿銜。有無風動。大小條芟。心平驚悸。氣導和　。撮量三指。後飯無。</p>
<p>蘇恭曰。此草叢生似茺蔚。一名鹿銜鹿。有疾銜此草即瘥。有大小二種。水經注。魏與錫山多生此草。有風不偃。</p>
<p>無風獨搖。岐伯曰。病名酒風。麋銜五分。合以三指。撮為後飯。李時珍曰。後飯者。先服藥也。禮。無　言。</p>
<h3>雲實</h3>
<p>味辛溫。主泄利腸　。殺蟲蠱毒。去邪惡結氣。止痛除熱。華。主見鬼精物。多食令人狂走。久服輕身通神明。生川穀。</p>
<p>綠莢黃華。實蕃平澤。黏刺空中。高叢累尺。堅裹紋斑。醒含粒白。祝哽　根。聲通嗌。</p>
<p>李時珍曰。三月開黃花。莢長三寸許。有子五六粒。黃黑斑紋。濃殼白仁。極堅有腥氣。</p>
<p>莖中空有刺。韓保升曰。所在平澤有之。蘇恭曰。叢生高五六尺。後漢書紀。祝哽在前陳旅吟。根蔫鮮玉生汗。方言。　嗌。噎也。李時珍曰。根治骨哽及喉痛。</p>
<h3>王不留行</h3>
<p>味苦平。主金創。止血逐痛。出刺。除風痹內寒。久服輕身耐老。增壽。生山谷行不俟駕。速甚郵傳。薺根黃並。麥地青連。花開金剪。子玩珠圓。貫通脈絡。乳竇濺濺。</p>
<p>論語。不俟駕而行。孟子。速於置郵而傳命。蘇頌曰。根黃色如薺根。李時珍曰。多生麥地中。子生白。熟黑。正圓如細珠。日華子曰。一名剪金花。朱子序。脈絡貫通。溫庭筠歌。乳竇濺濺通石脈。張元素曰。下乳引導。用之通血脈。</p>
<h3>升麻</h3>
<p>味甘辛。主解百毒。殺百老物殃鬼辟溫疾障邪毒蠱。久服不夭。一名周升麻。生山谷。</p>
<p>聚上曰升。奔魑走魅。深壅多須。紛垂素穗。雞骨拾堅。禽心藏智。新婦慚形。小星充備。</p>
<p>易。聚而上者謂之升。庾信賦。奔魑走魅。蘇頌曰。根如蒿根。黑色多須。四五月著花似鳥誤食中毒。急飛小有殊。詩。　彼</p>
<h3>青</h3>
<p>味甘寒。主五臟邪氣。風寒濕痹。益氣補腦髓。堅筋骨。久服耳目聰明。不飢不老。</p>
<p>巨勝苗也。生川穀。</p>
<p>秋畦播種。先擷豐苗。蔬菹涎滑。發沐云飄。丫歧分尾。銳末垂　。內守堅固。清夢逍遙李時珍曰。秋間取巨勝子。種畦中。如生菜之法。候苗出采食滑美。本草所著者。茹蔬之功。葉有本團而末銳者。有本團而末三丫形者。陸游詩。湘湖　長涎正滑。寇宗　曰。以湯浸良久涎出。婦人以之沐發。汪元量詩。鳳釵墮錦烏云飄。黃庭經。內守堅固真之真。吳普曰。一名夢神。</p>
<h3>姑活</h3>
<p>味甘溫。主大風邪氣。濕痹寒痛。久服輕身。益壽耐老。一名冬葵子。</p>
<p>姑云徐徐。當生者活。濕燥寒溫。風驅邪遏。菜匪冬葵。煙祛野葛。雞以精名。義難曲括。</p>
<p>孟子。謂之姑徐徐云耳。說苑。扁鵲醫趙太子。言當生者活耳。陶弘景曰。冬葵非菜之冬葵。李時珍曰。野葛折之。青煙出者名固活。蘇恭曰。一名雞精。羅湖野錄。形於尺素。尤為曲括。</p>
<h3>別羈</h3>
<p>味苦微溫。主風寒濕痹。身重四肢疼酸。寒邪歷節痛。生川穀。</p>
<p>藍田玉暖。小燠別枝。　身重。酸痹愁羈。融通百節。安暢全肢。青逵春日。涼吹秋期。</p>
<p>（魯猥切。　呼最切。）</p>
<p>李商隱詩。藍田日暖玉生煙。晉書志。小燠不書。名醫曰。一名別枝。廣韻。　腫大也。</p>
<p>博雅。酸痛也。任　行狀。表裡融通。蘇軾詩。遇境即安暢。名醫曰。二月八日采。劉臻妻頌。青逵升震。唐太宗詩。涼吹肅離宮。</p>
<h3>屈草</h3>
<p>味苦。主胸脅下痛。邪氣。腹間寒熱。陰痹。久服輕身。益氣耐老。生川澤。屈軼堯庭。均榮一借。息臥愆時。陰陽淪謝。濯濯虛鳴。油油就化。雪棧屏山。訪宜午夏。</p>
<p>帝王世紀。黃帝時有草生庭。佞人入則指之。名曰屈軼。張友正賦。儻一借於吹噓。愿均榮於動植。黃帝素問。背胸邪系陰陽左右。胸脅痛而不得息。不得臥。又大腸病者。腸中切痛而鳴濯濯。元結歌。元化油油兮。誰知其然。陸游詩。雪棧屏山日月游。名醫曰。生漢中。</p>
<p>五月采。</p>
<h3>淮木</h3>
<p>味苦平。主久咳上氣。腸中虛羸。女子陰蝕。漏下赤白沃。一名百歲城中木。生山谷。</p>
<p>城中百歲。樟上長生。枝銜肌肉。理具縱橫。云封索異。赤柱標名。似朴似桂。藥味傳精。</p>
<p>李當之曰。是樟樹上寄生。樹大銜枝在肌肉。桐君曰。狀如厚朴。色似桂白。其理一縱一橫。名醫曰。生太山。史記傳。天子封太山。有白云起封中。於邵序。搜奇索異。李時珍曰。</p>
<p>一名赤桂。後漢書。標名為證。陸龜蒙詩。僧傳藥味精。</p>
<h3>牡桂</h3>
<p>味辛溫。主上氣咳逆結氣。喉痹吐吸。利關節。補中益氣。久服通神。輕身不老。生山谷。</p>
<p>山啟招搖。百藥備使。豐肉結心。茸毛細齒。棗實孰傳。主形差擬。辛螫中存。成林卓峙。</p>
<p>山海經。招搖之山多桂。說文。桂百藥之長。左傳。寡君使蓋備使。郭璞曰。一名肉桂。</p>
<p>一名桂心。李時珍曰。葉堅硬有毛如鋸齒。拾遺記。暗河紫桂。實大如棗。桂海虞衡志。凡木葉心皆一縱理。獨桂有兩紋形如圭。呂氏春秋。桂枝之下無雜木。味辛故也。曹植文。殊略卓峙。</p>
<h3>菌桂</h3>
<p>味辛溫。主百病。養精神。和顏色。為諸藥先聘通使。久服輕身不老。面生光華。媚好常如童子。生山谷。</p>
<p>聘通特達。品著南交。筒規圓竹。香雜申椒。呼父稱祖。易髦還髫。炊薪喻貴。生柿莫淆。</p>
<p>徐陵書。圭璋特達。通聘河陽。名醫曰。生交趾。正圓如竹。蘇恭曰。大小枝皮。俱是筒。</p>
<p>離騷。雜申椒與菌桂兮。水經注。桂父象人也。服桂得道。搜神記。彭祖七百歲常食芝桂。</p>
<p>周伯琦詩。擊壤喧髦髫。戰國策。楚國薪貴於桂。李時珍曰。葉如柿葉而尖。楊萬裡詩。滿山柿葉正堪書。</p>
<h3>松脂</h3>
<p>味苦溫。主疽惡創。頭瘍白禿疥搔風氣。安五臟。除熱。久服輕身。不老延年。一名松膏。一名松肪。生山谷。</p>
<p>當暑凌寒。流英瀝液。飛狀龍形。沉凝虎魄。香泛煙清。燈明光射。苓菊功同。和丸麗澤。</p>
<p>宋高宗贊。凌寒逾茂。當暑陰森。張衡賦。漱飛泉之瀝液。咀石菌之流英。抱朴子。松樹之三千歲者。聚脂狀如龍形。名曰飛節芝。博物志。松脂淪入地中。千歲化為虎魄。蘇軾詩。</p>
<p>縹緲松香泛蠟煙。戴石屏詩。松明夜當燈。蘇頌曰。道人服餌。或合茯苓菊花為丸。易疏。</p>
<p>兩澤相連。潤說之盛。故曰麗澤。</p>
<h3>槐實</h3>
<p>味苦寒。主五內邪氣熱。止涎唾。補絕傷。五痔火創。婦人乳瘕。子藏急痛。生平澤。</p>
<p>律移寒火。精散虛星。莢連珠綴。花裊金零。孟冬舉燭。上巳推　。參三取二。顯證長齡。</p>
<p>周禮注。冬取槐檀之火。李嶠詩。暮律移寒火。春秋說題辭。槐虛星之精。李時珍曰。</p>
<p>其實作莢。如連珠。白居易詩。裊裊黃花枝。麻九疇詩。槐花滿地黃金冷。梁書傳。庾肩吾食槐實以十月上巳日采。名醫曰。可作神燭。王泠然判對。既失推　之典。雷　論。凡采實。只取三子及兩子者。莊子。勿參以三。左傳。子犯曰。臣取二。梁武帝詩。顯證表長齡。</p>
<h3>枸杞</h3>
<p>味苦寒。主五內邪氣。熱中消渴。周痹。久服堅筋骨。輕身不老。一名杞根。一名地骨。一名枸忌。一名地輔。生平澤。</p>
<p>枸刺杞條。兼名會對。秋果垂紅。春苗籠黛。仙杖晨飛。靈　夜吠。山北山南。詩人多慨。</p>
<p>李時珍曰。枸杞。二樹名。此物棘如枸之刺。莖如杞之條。故兼名之。爾雅。妃合會對也。</p>
<p>詩疏。苞杞其子。秋熟正赤。蘇頌曰。春生苗葉。劉禹錫詩。翠黛葉生籠石　。殷紅子熟照銅瓶。名醫曰。一名仙人杖。史子玉賦。仙杖飛空。蘇軾詩。靈　或夜吠。詩。南山有杞。</p>
<p>又陟彼北山。言采其杞。江淹詔。永言多慨。</p>
<h3>柏實</h3>
<p>味甘平。主驚悸。安五臟。益氣。除濕痹。久服令人悅。澤美色。耳目聰明。不飢不老。輕身延年。生山谷。</p>
<p>秉陰西指。托向東尊。球捎星綴。麥裂霜繁。香霏聞妙。釀熟含溫。赤松習服。後雕同論。</p>
<p>許贊歌。秉陰吸陽。六書精蘊。木皆屬陽。而柏向陰指西。名醫曰。生太山尤良。舊唐書志。位當東向之尊。張　詩。捎球紫袖輕。范成大詩。垂垂萬星球。李時珍曰。其實成球。霜後四裂。中有數子。大如麥粒。蕭祗詩。霜繁綠更滋。杜甫詩。心清聞妙香。蘇軾詩。坐對柏子香。雷　論。凡使柏子。先以酒浸。緩火煎成膏為度。楊侃賦。椒桂含溫。列仙傳。赤松子好食柏。論語。歲寒。然後知松柏之後雕也。</p>
<h3>茯苓</h3>
<p>味甘平。主胸脅逆氣。憂恚驚邪恐悸。心下結痛。寒熱煩滿。咳逆。口焦舌乾。利小便。久服安魂養神。不飢延年。一名茯菟。生山谷。</p>
<p>霰結九秋。根尋夜燎。云粉中堅。彤絲上繞。磊　龜。　蹲鳥。抱木和神。攸處不擾。</p>
<p>李益詩。下結九秋霰。史記傳。伏苓在菟絲之下。夜捎菟絲去之。篝燭記其處。明即掘取之。吳融詩。金鼎曉煎云漾粉。王微贊。彤絲上薈。張　詩。龜　鳧伏自磊　。廣韻。　張羽貌。蘇軾賦。象鳥獸之蹲伏。名醫曰。抱根者名茯神。楊炯賦。保性和神。左傳。各有攸處。德用不擾。</p>
<h3>榆皮</h3>
<p>味甘平。主大小便不通。利水道。除邪氣。久服輕身。不飢。其實尤良。一名零榆。生山谷。</p>
<p>夢占福祿。火易陳新。土宜五沃。雨濯三春。屑能濟饉。錢或療貧。歲收千匹。朮叩齊民。</p>
<p>夢書。榆火君德至也。夢其葉滋茂。福祿存也。春明退朝錄。周禮四時變火。唐惟清明取榆柳火以賜近臣戚裡。管子五沃之土。其榆條長泛勝之。書。三月榆莢雨。農桑通訣。昔豐沛歲飢。以榆皮作屑煮食之。民賴以濟。李玉英詩。滿地榆錢不療貧。齊民要術。種榆法。能種一頃。歲收千匹。酸棗。味酸平。主心腹寒熱邪結。氣聚。四肢酸痛。濕痹。久服安五臟。輕身延年。生川澤。</p>
<p>高者　（音刺）重。（平聲）低者　並。渴自含津。瞑方解酲。醯乞分缸。梅調佐鼎。</p>
<p>養小取材。場師奚哂。</p>
<p>李時珍曰。棗性高。故重　。棘性低。故並　。李杲曰。調榮衛。生津液。馬融頌。含津吐榮。群芳譜。生用令人不眠。淮南子。醯酸不慕蚋。史記傳。醯醬千缸。鮑照詩。食梅常苦酸。唐明皇詩。鹽梅已佐鼎。左傳。我落其實。而取其材。孟子。養其　棘。則為賤場師焉。</p>
<h3>柏木</h3>
<p>味苦寒。主五臟腸胃中結熱黃膽。腸痔。止泄利。女子漏下赤白。陰陽蝕創。一名檀桓。生山谷。</p>
<p>葉侔椿紫。色亞梔黃。生金麗水。負陰抱陽。通中染卷。元吉垂裳。木芝著品。冬茂房商。</p>
<p>韓保升曰。黃柏葉如紫椿。元　詩。散亂梔黃萼。李時珍曰。知母佐黃柏。有金水相生之義。張元素曰。苦濃微辛。陰中之陽。晉書志。萬物負陰而抱陽。易。君子黃中通理。窗間記。聞寫書紙以柏染之辟蠹。曰黃卷。易。黃裳元吉。李質賦。融至道以垂裳。陶弘景曰。道家入木芝品。掌禹錫曰。經冬不凋。出房商等州。</p>
<h3>乾漆</h3>
<p>味辛溫。無毒。主絕傷。補中續筋骨。填髓腦。安五臟。五緩六急。風寒濕痹。生漆去長蟲。久服輕身耐老。生川穀。</p>
<p>數樹婆娑。迎刃殊快。滴瀝方稠。晶華增累。性共膠堅。質妨蟹敗。散授青黏。樊阿攝餌。</p>
<p>王維詩。婆娑數株樹。晉書傳。迎刃而解。水經注。鐘乳穴滴瀝不斷。蕭文山詩。天以晶華累爾形。後漢書傳。膠漆自謂堅。淮南子。蟹之敗漆。魏志傳。樊阿從華佗求服食益人者。</p>
<p>佗授以漆葉青黏散。抱朴子。青黏即葳蕤。許敬宗表。微如攝餌。</p>
<h3>五加皮</h3>
<p>味辛溫。主心腹疝氣腹痛。益氣療　。小兒不能行。疽創陰蝕。一名豺漆。</p>
<p>數符天地。五葉交加。麂籬疏密。豺節杈丫。文章作酒。金玉滿車。煮鹽加豉。固壽無涯。</p>
<p>易。天數五。地數五。李時珍曰。五葉交加者良。蘇頌曰。今江淮吳中。往往以為藩籬。</p>
<p>陸游詩。疏疏麂眼籬。名醫曰。一名豺節。杜甫賦。突杈丫而皆折。巴蜀異物志。名文章草。</p>
<p>贊曰。文章作酒。能成其味。煮石經。孟綽子董士固相與言曰。愿得五加一把。不用金玉滿車。唐慎微曰。金鹽五加也。玉豉地榆也。煮石而餌長生之藥。耿　詩。山固壽無涯。</p>
<h3>蔓荊實</h3>
<p>味苦微寒。主筋骨間寒熱痹拘攣。明目堅齒。利九竅。去白蟲。久服輕身耐老。小荊實亦等。生山谷。</p>
<p>蔓引水濱。植分青赤。星散玉衡。云涵金宅。穗吐花紅。蒂披膜白。欣聚三株。還為和適。</p>
<p>蘇恭曰。蔓荊生水濱。李時珍曰。青者為荊。赤者為　。春秋運斗樞。玉衡星散為荊。</p>
<p>江淹頌。金荊佳樹。涵云宅仙。蘇頌曰。花作穗。淡紅色。雷　論。凡使實去蒂下白膜一重。孝子傳。古有兄弟欲分異。見三荊同株，嘆曰。木猶欣聚。況我而殊哉。還為雍和。呂氏春秋。</p>
<p>聲出於和。和出於適。</p>
<h3>辛夷</h3>
<p>味辛溫。主五臟身體。寒風頭腦痛。面　。久服下氣。輕身明目。增年耐老。一名辛矧。一名侯桃。一名房木。生川穀。</p>
<p>潛苞蓄銳。攢紫團紅。夭桃斂實。健筆書空。吐高灼日。送謝搖風。迎春玉蕊。功豈從同。</p>
<p>韓愈詩。潛苞絳實坼。李翰論。含光蓄銳。謝　詩。發萼初攢紫。李賀詩。細綠及團紅。</p>
<p>名醫曰。似東桃而小。潘尼賦。收華斂實。陳藏器曰。北人呼為木筆。方千詩。春物誘材歸健筆。歐陽炯詩。勢欲書空映早霞。韓琦詩。辛夷吐高花。徐鉉詩。晴後日高偏照灼。韓愈書。迎繁送謝別有意。江淹賦。搖風忽起。苕溪漁隱叢話。木筆色紫。二月方開。迎春白色。</p>
<p>立春已開。自是二種。公羊傳。其余從同同。</p>
<h3>桑上寄生</h3>
<p>味苦平。主腰痛。小兒背強癰腫。安胎充肌膚。堅發齒。長須眉。其實明目輕身。通神。一名寄屑。一名寓木。一名宛童。生山谷。</p>
<p>瞻彼菀柔。夤緣苞系。共氣分形。緣根附蒂。柳紫稽疑。苕青殊裔。豆實香稠。蒼梧酒劑。</p>
<p>詩。菀彼桑柔。唐書傳贊。蘿蔦夤緣。易。系於苞桑。梁元帝書。分形共氣。梅堯臣賦。</p>
<p>緣根兮附蒂。群芳譜。柳寄生亦紫藤。書。七稽疑。詩。苕之華。其葉青青。魏志紀。包舉殊裔。</p>
<p>蘇頌曰。結子黃綠色。如小豆。汁稠者良。潯梧雜佩。桑寄生酒。出梧州。張正見詩。浮蟻擅蒼梧。謂此。</p>
<h3>杜仲</h3>
<p>味辛平。主腰脊痛。補中益精氣。堅筋骨。強志。除陰下癢濕。小便余瀝。久服輕身耐老。一名思仙。生山谷。</p>
<p>杜父仙去。嘉蔭翹思。紫封巨植。白折輕絲。足知為屨。牙效烹葵。形兼榆柘。酥蜜相宜。</p>
<p>李時珍曰。昔有杜仲。服此得道。因以名之。晉書傳。杜預眾庶賴之。號曰杜父。蘇軾詩。</p>
<p>幽人得嘉蔭。曹植詩。翹思遠退人。令狐楚詩。猶識紫泥封。蘇軾詩。不盡長林與巨植。群芳譜。皮色紫而潤。陶弘景曰。折之多白絲者佳。孟子。不知足而為屨。蘇頌曰。木可為履。益腳。初生嫩葉。可食。謂之　牙。葉亦類柘。詩。七月烹葵及菽。爾雅。杜仲曼榆也。</p>
<p>雷論。凡使用酥蜜和塗。</p>
<h3>女貞實</h3>
<p>味苦平。主補中。安五臟。養精神。除百疾。久服肥健。輕身不老。生山谷。貞固稱名。</p>
<p>凍青類族。德育陰精。質森剛木。蠟放花凝。鵒來果熟。珠貫累累。牛李同馥。易。貞固足以干事。又其稱名也。雜而不越。李時珍曰。凍青女貞別種。易。君子以類族。辨物典術。女貞木者。少陰之精。說文。楨剛木也。李時珍曰。</p>
<p>近時以放蠟蟲。呼為蠟樹。</p>
<p>芳譜。凡采蠟樹上如凝霜。謂之蠟花。李時珍曰。女貞實。　鵒喜食之。累累滿樹。黑似牛李子。</p>
<h3>木蘭</h3>
<p>味苦寒。主身大熱在皮膚中。去面熱赤　。酒　。惡風　疾。陰下癢濕。明耳目。一名林蘭。生山谷。</p>
<p>利通舟楫。分劑刀圭。蘭如同臭。蓮不污泥冰堅雪白。鶴唳猿啼。花身依舊。慚愧　黎。</p>
<p>述異記。潯陽七裡洲。有魯班刻木蘭舟。庾信詩。量藥用刀圭。李時珍曰。其香如蘭。其花如蓮。易。同心之言。其臭如蘭。周敦頤說。出污泥而不染。成公綏賦。峨峨堅冰。霏霏白雪。李華賦。鶴既唳兮猿復啼。陸龜蒙詩。幾度木蘭舟上望。不知原是此花身。王播詩。慚愧黎飯後鐘。</p>
<h3>蕤核</h3>
<p>味甘溫。主心腹邪氣。明目。目赤痛傷淚出。久服輕身。益氣不飢。生山谷。</p>
<p>莖附蕤蕤。叢生刺勁。充耳垂　。明眸引鏡。鑽豈攻堅。懷非致敬。函穀巴西。云舒星映。</p>
<p>韓保升曰。蕤子附莖生。李時珍曰。花實蕤蕤下垂。故謂之蕤。郭璞曰。叢生有刺。實如耳。紫赤可食。詩。充耳　瑩。於　詩。天與雙明眸。王融序引鏡皆明目。晉書傳。王戎家有好李。恆鑽其核。論語。鑽之彌堅。禮。其有核者懷其核。左傳。勤禮莫如致敬。名醫曰。生函穀及巴西。吳普曰。八月采。孔稚圭啟。綠葉云舒。朱實星映。</p>
<h3>橘柚</h3>
<p>味辛溫。主胸中瘕熱。逆氣。利水穀。久服去臭下氣。通神。一名橘皮。生山谷。</p>
<p>識小識大。相保歲寒。珠胎　郁。鐳斗霜攢。貞心榮麗。仁崽甘酸。璇樞散采。云夢翹觀。</p>
<p>書傳。小曰橘。大曰柚。論語。賢者識其大者。不賢者識其小者。白居易詩。應能保歲寒。</p>
<p>劉克莊詩。淡月珠胎明璀璨。李時珍曰。橘從　。內赤外黃。香霧紛郁。有似乎　云。廣州記。鐳柚實大如斗。方回詩。滿頤霜雪攢。李紳詩。不隨寒暑換貞心。虞羲詩。榮麗在中州。</p>
<p>群芳譜。名仁崽者。柚類也。黃庭堅詩。如食橘柚知甘酸。春秋運斗樞。璇樞星散為橘。呂氏春秋。果之美者。有云夢之柚。</p>
<h3>發</h3>
<p>味苦溫。主五癃。關格不通。利小便水道。療小兒癇。大人　。仍自還神化。</p>
<p>髓海精華。冠年儀表。理淨千梳。割分一繚。化儼伏雞。神驅飛鳥。余　僮僮。堆云妝曉。</p>
<p>素問注。腦者髓之海。發者腦之華。雷　論。發　是男子年二十以來。無疾患於頂心剪下者。淮南子。行為儀表。蘇軾詩。理發千梳淨。晉書傳。割而分之。唐書傳。貴妃楊氏引刀斷一繚發。名醫曰。合雞子黃煎之。消為水。參同契。伏雞用其卵。陳藏器曰。生人發掛果樹上。烏鳥不敢來食其實。詩。不屑　也。詩傳。被之僮僮。編發為之。薛士隆賦。發堆云兮鬢蟬翼。溫庭筠詩。懶逐妝成曉。</p>
<h3>龍骨</h3>
<p>味甘平。主心腹。鬼注精物老魅。咳逆泄利。膿血。女子漏下。症瘕堅結。小兒熱氣驚癇。齒。主小兒大人驚癇。　疾狂走。心下結氣。不能喘息。諸痙。殺精物。久服輕身。</p>
<p>通神明延年。生山谷。</p>
<p>形留曠澤。升憶景云。挺奇煉蛻。厲漱編齦。駿同　市。象類身焚。用潛施溥。枯朽靈芬。</p>
<p>拾遺記。南潯之國有洞穴。中有毛龍。時蛻骨於曠澤之中。易疏。龍吟則景云出。權德輿序。挺神奇。祛物怪。告練蛻之地。晉書傳。所以漱石。欲厲其齒。李禎詩。香齦皓齒疑貝編。黃庭堅詩。千金市骨今何有。士或不償五　皮。左傳。象有齒以焚其身。易。潛龍勿用。</p>
<p>又德施溥也。晉書傳。榮加枯朽。馮衍賦。揚屈原之靈芬。</p>
<h3>麝香</h3>
<p>味辛溫。主辟惡氣。殺鬼精物。溫瘧蠱毒。癇　。去三蟲。久服除邪。不夢寤厭寐。</p>
<p>生山谷。</p>
<p>蘊結寒香。山農珍貴。跡逐松陰。勝餐柏味。剔爪如遺。噬臍斯畏。遠射氛氳。園林屏氣。</p>
<p>埤雅。麝夏月食蛇多。至寒香滿。李時珍曰。麝居山。獐居澤。以此為別。周禮。掌葛以時。征材於山農。郭登詩。物生遭遇即珍貴。黃列子游獵九江。逐跡尋穴。韓　詩。香麝松陰裡。陶潛詩。餐勝如歸。陶弘景曰。常食柏葉。蘇頌曰。第一生香。自以爪剔出者。名遺香。其次臍香。乃捕取之。詩。棄予如遺。左傳。後君噬臍。詩。無獨斯畏。馬祖常詩。月華遠射離離白。唐闕名賦。籠流麝之氛氳。蘇頌曰。香聚處。草木不生。過園林。瓜果不實。</p>
<p>論語。屏氣似不息者。</p>
<h3>牛黃</h3>
<p>味苦平。主驚癇寒熱。熱盛狂　。除邪逐鬼。生平澤。</p>
<p>如狂怒吼。中美珍黃。通靈角折。感結心臟。蝶飛占異。駝類知防。隱名丑寶。養晦韜光。</p>
<p>陶弘景曰。神牛出入鳴吼者有黃。郝經詩。叫吼怒如狂。左傳。子服惠伯曰。中美能黃。</p>
<p>揚子。其德珍黃。劉基詩。文犀亦有通靈角。易林。蹇牛折角。王逸歌。憂懷感結重嘆憶。詩。中心藏之。酉陽雜俎。有人得牛所吐黃。剖之中有物。如蝶飛去。李時珍曰。駝黃相類。</p>
<p>而功不及牛。屬丑故隱其名。禮。又敢與知防。名醫曰。無令見日月光。詩。遵養時晦。孔融詩。美玉韜光。</p>
<h3>熊脂</h3>
<p>味甘微寒。主風痹不仁。筋急。五臟腹中積聚。寒熱。羸瘦。頭瘍白禿。面　。久服強志。不飢輕身。生山谷。</p>
<p>威示共侯。行知適館。導氣枝懸。蟄冬穴暖。玉共酥凝。膏流霜滿。燃照爭明。短檠休伴。</p>
<p>周禮。大射諸侯則共熊侯。李時珍曰。熊行山中。雖數千裡必有　伏之所。山中人謂之熊館。詩。適子之館兮。漢書傳注。古之仙者。為導引之事。若熊之攀枝自懸也。酉陽雜俎。冬蟄不食。陶弘景曰。熊脂乃背上肪。色白如玉。陸游詞。雪暖酥凝。沈約詩。夙昔玉霜滿。</p>
<p>日華子曰。燃燈煙損人眼。程俱詩。何人勸之照。燭燎皆爭明。陸游詩。且作短檠伴。</p>
<h3>白膠</h3>
<p>味甘平。主傷中勞絕。要痛羸瘦。補中益氣。婦人血閉無子。止痛安胎。久服輕身延年。一名鹿角膠。</p>
<p>斑龍解角。候屆鳴蟬。粲磋勁質。活火新煎。銀膏瑩細。瓊液凝鮮。　潤化。卻老留年。</p>
<p>澹寮方。鹿一名斑龍。禮。仲夏鹿角。解蜩始鳴。謝偃賦。徒觀其粲兮如　。沈約詩。</p>
<p>梢風有勁質。蘇軾歌。君不見。昔時李生好客手自煎。貴從活火發新泉。郝經詩。斫開細雪銀膏瑩。李白詩。一餐咽瓊液。鮑照詩。霜素凝鮮。易。天地　。春秋元命包。開神潤化洛陽。伽藍記。孤松既可卻老。半石亦可留年。</p>
<h3>阿膠</h3>
<p>味甘平。主心腹內崩勞極。洒洒如瘧狀。腰腹痛。四肢酸疼。女子下血。安胎。久服輕身益氣。一名傅致膠。</p>
<p>上選珍皮。犀兕方駕。坤性歸柔。坎功流下。滲漉膏凝。消堅形化。　黑珀黃。經春歷夏。</p>
<p>名醫曰。出東阿縣。煮牛皮作之。傅休奕賦。選珍皮之上翰。左傳。牛則有皮。犀兕尚多漢書傳。車騎不得方駕。易。坤為子母牛。道德指歸論。歸柔去剛。水動流下。易。坎為水。</p>
<p>水經注。東阿有井。濟水所注。水清而重。其性趨下。司馬相如書。滋液滲漉。爾雅疏。膏凝曰脂。漢書傳。消堅甚於湯雪。莊子。其形化。其心與之然。李時珍曰。凡造膠十二月二三月為上。黃透如琥珀。黑如　玉者良。夏月亦不濕軟。倪瓚詩。經春歷夏又嗟秋。</p>
<h3>丹雄雞</h3>
<p>味甘微溫。主女人崩中。漏下赤白沃。補虛溫中。止血通神。殺毒。辟不祥。頭。</p>
<p>主殺鬼。東門上者尤良。肪。主耳聾。腸。主遺溺。　裹黃皮。主泄利。屎白。主消渴。</p>
<p>傷寒寒熱。黑雌雞。主風寒濕痹。五緩六急。安胎。翮羽。主下血閉。雞子。主除熱火瘡癇。可作虎魄神物。雞白蠹肥脂。生平澤。</p>
<p>巽權金畜。棲桀棲塒。雄鳴應節。雌伏知慈。尾交孳化。翼長孚期。不聞拾芥。挾巧何奇。</p>
<p>易。巽以行權漢上。易傳。巽位在巳。王於酉。故雞又為金畜。詩。雞棲於塒。又雞棲於桀。</p>
<p>九家易。風應節而變。雞時至而鳴。淮南子。慈雌嘔暖覆伏。柳宗元碑。不自知其慈。書傳。孳尾乳化曰孳。交接曰尾。左傳。子西曰。勝如卵。余翼而長之。埤雅。鳥之孚卵。皆如其期。陶弘景曰。用欲　子黃白混雜煮作極似琥珀。惟不拾芥耳。司馬光序。挾巧取奇。</p>
<h3>雁肪</h3>
<p>味甘平。主風攣拘急。偏枯氣不通利。久服益氣不飢。輕身耐老。一名　肪。生池澤北鄉南翔。知時識序。烹舍能鳴。繳加何取。截玉雪凝。釀松泉煮。強健筋骸。躡風高舉。</p>
<p>禮。季冬之月。雁北鄉。魏文帝歌。行群燕辭。歸雁南翔。成公綏賦序。奇其應氣而知時。</p>
<p>莊子。命豎子殺雁而烹之。主人曰。殺不能鳴者。史記世家。楚人有好以弱弓微繳加歸雁之上者。頃襄王召而問之。對曰。見鳥六雙。以王何取。魏文帝書。美玉白如截肪。李損之詩。凝階似截肪。陸游詩。汲泉小瓮釀松肪。陳鑒賦。筋骸強健。陶潛詩。愿言躡清風。高舉尋吾契。</p>
<h3>石蜜</h3>
<p>味甘平。主心腹邪氣。諸驚癇　。安五臟諸不足。益氣補中。止痛解毒。除眾病。和百藥。久服強志輕身。不飢不老。一名石飴。生山谷。</p>
<p>倒懸家室。供課尊王。分喧潮應。申喙花忙。甜珍一滴。暖割千房。諧和旨味。百藥攢芳。</p>
<p>魏書傳。管輅射覆卦成曰。家室倒懸。此蜂窠也。黃庭堅詩。稚蜂趨衙供蜜課。蘇軾詩。</p>
<p>中有王子蜂中尊。謝翱詩。分喧刺蜜煙。埤雅。蜂有兩衙應潮。柳宗元對。不足以申吾喙。李商隱詩。蜂亦為花忙。冷齋夜話。仲殊曰。錢如蜜。一滴也甜。陸游詩。花殘新蜜釀千房。</p>
<p>唐書傳。門下充旨味者多矣。元禎詩。蜂連宿露攢芳久。</p>
<h3>蜂子</h3>
<p>味甘平。主頭風。除蠱毒。補虛羸傷中。久服令人光澤好顏色不老。大黃蜂子。主心腹復滿痛。輕身益氣。土蜂子。主癰腫。一名蜚零。生山谷。</p>
<p>類自殊形。尾皆垂穎。馮木虛懸。　泥幽屏。毒菌生光。叢桑匿影。白蛹蠶瑩。饋來荒憬。</p>
<p>歐陽修賦。異類殊形。埤雅。蜂毒在尾。垂穎如鋒。曹植賦。上不馮木。陶弘景碑。七度虛懸。蘇頌曰。大黃蜂子作房在大木間。埤雅。土蜂好　泥作房。韓愈詩。即此是幽屏。酉陽雜俎。嶺南毒菌。夜有光。經雨即腐。化為蜂。水經注。延水有桑林為叢桑河。云笈七簽。</p>
<p>隱地八術。一曰藏形匿影。詩疏。蒲蘆負桑蟲。以成其子。嶺表錄異。蜂兒揀狀如蠶蛹。瑩白者鹽炒曝乾。寄京洛以為方物。賀知章詩。荒憬盡懷忠。</p>
<h3>蜜蠟</h3>
<p>味甘微溫。主下利膿血。補中續絕傷金創。益氣不飢耐老。生山谷。</p>
<p>荒崖采采。蒙纊纏腰。支飢淡泊。嚼味寂寥。技羞梔貌。奢戒薪燒。何來靈雀。蜜塞相招。</p>
<p>顧況序。采蠟怨奢也。荒岩之間。纊蒙其身。腰藤造險。又詩。采采者蠟。博物志。食蠟半斤。支十日飢。高駢詩。淡泊供需不在求。楞嚴經。味如嚼蠟。李商隱詩。紅壁寂寥崖蜜盡。柳宗元文。梔其貌。蠟其言。以求賈技於朝。晉書傳。石崇奢靡相尚。以蠟代薪。博物志。南方諸山。余蠟在石。有鳥群來啄之殆盡。名曰靈雀。人謂之蜜塞。</p>
<h3>牡蠣</h3>
<p>味鹹平。主傷寒寒熱。溫瘧洒洒。驚恚怒氣。除拘緩。鼠　。女子帶下赤白。久服強骨節。殺邪氣。延年。一名蠣蛤。生池澤。</p>
<p>榮粹不知。止渴推厲。　房分。嵯峨山勢。纖指紛柔。圓蹄懸綴。鯤化何殊。神雕百歲。</p>
<p>南史傳。車螯蚶蠣。不悴不榮。張元素曰。蛤蠣之厲。能止渴也。張衡賦。望　以徑廷。</p>
<p>說文。嵯峨山高貌。蘇頌曰。海旁附石而生。　相連如房。呼為蠣房。初生止如拳石。漸長嶄岩如山。俗名蚝山。每房有肉。大者如馬蹄。小者如人指面。潘岳賦。冉弱紛柔。泛舟錄。鵝管懸綴。莊子。北冥有魚。其名曰鯤。化而為鳥。其名曰鵬。陶弘景曰。云是百歲雕所化。</p>
<h3>龜甲</h3>
<p>味鹹平。主漏下赤白。破症瘕　瘧。五痔陰蝕。濕痹。四肢重弱。小兒囟不合。久服輕身不飢。一名神屋。生池澤。</p>
<p>列前重寶。藏六懷靈。守　云覆。致墨炎熒。質兼金玉。神炳丹青。圖形捍難。借氣益齡。</p>
<p>禮。龜為前列。史記傳。留神龜以為重寶。雜阿含經。如龜藏六。宋書傳。謝靈運稟氣懷靈。史記傳。　滿百莖。神龜守之。青云覆之。周禮。揚火以作。龜致其墨。說苑。熒熒不絕。炎炎奈何。又靈龜紋五色。似玉似金。孝經。援神契。效象洛龜。擢書丹青。周禮疏。龜蛇為　。龜有甲能捍難。吳球曰。龜板補陰。借其氣也。唐明皇詩。益齡仙井合。</p>
<h3>桑螵蛸</h3>
<p>味鹹平。主傷中。疝瘕陰痿。益精生子。女子血閉。腰痛五淋。利小便水道。一名蝕。生桑枝上。采蒸之。</p>
<p>巨偉維桑。蟄蟲依固。細　中藏。乳蛆外附。綃狀輕飄。房看分注。蠶稠梅黃。驤首齊騖。</p>
<p>傅咸賦。以厥樹之巨偉。詩。維桑與梓。禮。蟄蟲始振。漢書傳。易可依固。詩疏。螟蛉。俗謂之桑　。色青而細小。李時珍曰。螳螂驤首奮臂。深秋乳子如蛆。黏著樹枝。其狀輕飄如綃。重重有隔房。後漢書傳。羽翼外附。庾信銘。八溪分注。禮。仲夏之月螳螂生。李白詩。五月梅始黃。蠶稠桑柘空。溫庭筠詩。班馬方齊騖。</p>
<h3>海蛤</h3>
<p>味苦平。主咳逆上氣。喘息煩滿。胸痛寒熱。一名魁蛤。</p>
<p>秋深爵化。海錯叢殘。盈窺月滿。貯拾潮寒。飾妝成帳。護汁堆盤。靈稱白水。王母中餐。</p>
<p>禮。季秋之月。爵入大水為蛤。孔平仲詩。鮮蛤實海錯。新論。叢殘小語。呂氏春秋。</p>
<p>月望。則蚌蛤實。群陰盈。梅堯臣詩。拾貯寒潮退。飛燕外傳。以蛤妝五成金霞帳。蘇軾詩。我哀籃中蛤。閉口護殘汁。歐陽修詩。累累盤中蛤。漢武內傳。西王母曰。次藥有白靈蛤。釋卿云詩。挑薺備中餐。</p>
<p>文蛤。主惡瘡蝕五痔。</p>
<p>種別沙田。潮汐增暈。虹采開明。錦囊充　。風愛來熏。雷驚驟震。節物新時。吳鄉饋贐。</p>
<p>周必大詩。東海沙田種蛤珧西溪叢語。文蛤一潮生一暈。曹植詩。蚌蛤被濱涯。光采如錦虹。李涉詩。元蚌初開影暫明。盧綸詩。彩蛤攢錦囊。山棲志。充　崖　。戴表元詩。莎　南風寅蛤來。史記紀。南風之熏兮。南越志。凡蛤開口。聞雷不復閉口。孔武仲詩。新時節物故依然。夢溪筆談。文蛤即吳人所食花蛤。孟子。辭曰饋贐。</p>
<h3>蠡魚</h3>
<p>味甘寒。主濕痹。面目浮腫。下大水。一名　魚。生池澤。（初學記引作鱧）</p>
<p>稱水厭。禮斗靈嘉。疏經誤鯇。具性通蛇。七星首戴。雙礪形差。附生鰻子。聚沫吹沙。</p>
<p>李時珍曰。道家指為水厭。齋　所忌。夜朝北斗。有自然之禮。故為之鱧。宋送神歌。</p>
<p>靈有嘉兮。爾雅疏。鱧鯇並列訓鱧。一名鯇非。陶弘景曰。言是公蠣蛇所化。猶通蛇性。爾雅翼。首有七點作北斗之狀。水經注。林邑范文為奴時。於澗水得兩鱧。挾歸托云蠣石。郎至魚前。見是兩石。埤雅。鰻子附鱧而生。李夷亮賦。聚沫紆徐。爾雅疏。鯊　魚狹而小。張口吹沙。</p>
<h3>鯉魚膽</h3>
<p>味苦寒。主目熱赤痛。青盲明目。久服強悍。益志氣。生池澤。</p>
<p>三十六鱗。披膽加志。弗共冰棲。非調飴味。熊可和丸。獺亦分器。苦口功同。懸珠目治。</p>
<p>蘇頌曰。脅鱗一道無大小。皆三十六鱗。漢書傳。路溫舒披大膽。新書　俯而加志。晉書紀。武帝銜膽棲冰。李　歌。嘗膽不苦味若飴。唐書傳。柳仲郢母。和熊膽丸使夜咀咽。說文。獺膽分卮。史記世家。毒藥苦口利於病。漢書傳。東方朔目若懸珠。穀梁傳。六　先數聚辭也。目治也。李時珍曰。熊膽明目去翳。蘇頌曰。獺膽主治目翳。視物不明。</p>
<h3>藕實莖</h3>
<p>味甘平。主補中養神。益氣力。除百疾。久服輕身耐老。不飢延年。一名水芝丹。</p>
<p>生池澤。</p>
<p>冰絲玉節。蟄臥川阿。紅裳獨立。翠扇交摩。中藏魚目。仰露蜂窠。水羞相輩。痊起沉。</p>
<p>於慎行詩。冰絲欲斷鮫人縷。陶弼詩。誰將玉節栽。馮璧詩。蟄臥時奮迅。王勃賦。誓畢賞於川阿。李綱賦。紅裳影斜。韓　詩。香囊獨立紅。許渾詩。煙開翠扇清風曉。京房易傳。</p>
<p>相摩而鳴。高啟聯句。魚目微光皎。張楫詩。飛盡黃蜂露蜜房。劉孝威啟。凡厥水羞。莫敢相輩。謝　詩。已覺沉　痊。</p>
<h3>大棗</h3>
<p>味甘平。主心腹邪氣。安中。養脾肋十二經。平胃氣。通九竅。補少氣少津液。身中不足。大驚四肢重。和百藥。久服輕身長年。葉覆麻黃。能令出汗。生平澤。</p>
<p>早遂修虔。剝乘豳侯。百益陳功。千回急就。染齒黃蒸。投心紅皺。萬歲嘉名。參肴觴壽魏書傳。棗者早遂朕意。左傳。女贄不過榛栗棗修。以告虔也。詩。八月剝棗。清異錄。</p>
<p>百益一損者棗。杜甫詩。一日上樹能千回。史記傳。今怠而不急就。嵇康論。齒居晉而黃。謂棗故也。魏書傳注。黃侔蒸栗。南史傳。投臣以赤心。孟郊聯句。紅皺晒檐瓦。宋書傳。三佛齊貢萬歲棗。王安石詩。廣庭觴聖壽。以此參肴蔌。</p>
<h3>葡萄</h3>
<p>味甘平。主筋骨濕痹。益氣倍力。強志。令人肥健。耐飢忍風寒。久食輕身不老延年。可作酒。生山谷。</p>
<p>托根福地。引竹交穿。青紛綬結。紫瑩珠懸。云漿清滑。玉盞涼鮮。荔枝同嚼。風月無邊。</p>
<p>宋祁賦。托崤函之福地。韓愈詩。莫辭添竹引龍須。劉禹錫歌。繁葩組綬結。唐彥謙詩。</p>
<p>珠帳高懸夜不收。劉禹錫詩。味敵五云漿。洪希又詩。醍醐縱美輸清滑。顧阿瑛詩。葡萄玉盞酌西涼。李夢陽詩。酒酣試取冰丸嚼。不說天南有荔枝。張　詞。風月無邊是醉鄉。</p>
<h3>蓬</h3>
<p>味酸平。主安五臟。益精氣。長陰令堅強志倍力。有子。久服輕身不老。一名覆盆。</p>
<p>生平澤。</p>
<p>舊干新叢。同功分紀。刺類鉤懸。蔓牽角犄。逐節葵青。成簇椹紫。蠶老蛇殘。莓非倫擬。</p>
<p>庾肩吾詩。新叢入望苑。舊干冠層城。李時珍曰。蓬　覆盆。一類二種。分早熟晚熟。</p>
<p>功用相近。藤蔓繁衍。莖有倒刺。逐節生葉。如小葵葉。面青背白。結實成簇。熟則紫黯如椹。</p>
<p>又懸鉤樹莖。有倒刺。實亦相類。孟詵以為即覆盆誤。袁桷詩。勢如鹿角掎。吳瑞曰。地莓蠶老時紅熟。一名蛇殘。韓保升曰。子赤儼若覆盆。唐書傳。劉洎勢不倫擬。</p>
<h3>雞頭實</h3>
<p>味甘平。主濕痹。腰脊膝痛。補中除暴疾。益精氣。強志。令耳目聰明。久服輕身。不飢耐老神仙。一名雁啄實。生池澤。</p>
<p>橐韜川植。論斗剝膚。　毛青涌。雞啄紅敷。盤輪縐　。囊截明珠。上池華液。挹注囁嚅。</p>
<p>周禮疏。川澤植物宜膏物。蓮芡之實有橐韜者。黃庭堅詩。明珠論斗煮雞頭。易。剝床以膚。王叟岩詩。琉璃涌出青毛　。李時珍曰。芡。生紫花。在苞頂如雞啄。葉貼水。皺文如。宋文同詩。芡盤圓圓如碧輪。薑特立詩。明珠截錦囊。東坡雜記。吳子野云。食芡必枚嚙而細嚼。終日囁嚅。足以致上池之水。使人華液通流。轉相挹注。</p>
<h3>胡麻</h3>
<p>味甘平。主傷中虛羸。補五內。益氣力。長肌肉。填髓腦。久服輕身不老。一名巨勝。葉名青　。生川澤。</p>
<p>種督兒曹。　先嘉耦。八拗生殊。四宜具有。燭持溪頭。杯流洞口。綠葉華滋。沐宜螓首。</p>
<p>梅堯臣詩。胡麻養氣血。種以督兒曹。唐慎微曰。俗傳胡麻須夫婦同種則茂盛。左傳。</p>
<p>嘉耦曰妃。雞肋編。胡麻性有八拗。雨　時薄收。大旱方熟。開花向下。結子向上。炒焦壓榨。</p>
<p>才得生油。膏車則滑。鑽針乃澀。戴元表賦。芘本近仁。向明近智。蹈約而不移。近信在困。而能恭近義以為君子之道。四宜乎。拾遺記。背明之國。有通明麻食者夜行不持燭。是巨勝也。曹唐詩。吃盡溪頭巨勝花。神仙記。劉晨阮肇入天台采藥。見一杯流下。有胡麻飯。</p>
<p>陸龜蒙詩。不敢窺洞口。古詩。綠葉發華滋。寇宗　曰。青　葉湯浸。婦人以之梳發。詩。</p>
<p>螓首蛾眉。</p>
<h3>麻</h3>
<p>味辛平。主五勞七傷。利五臟。下血寒氣。多食令人見鬼狂走。久服通神明。輕身。</p>
<p>一名麻勃。麻子。味甘平。主補中益氣。肥健不老神仙。生川穀。</p>
<p>穗垂勃勃。慮事前知。候春早晚。辨值雄雌。　陳朝事。犬荐秋時。和丸向日。幽燭魑。</p>
<p>名醫曰。麻勃花上勃勃者。陶弘景曰。朮家合服。逆知未來事。陳藏器曰。早春種曰春麻子。晚春種為秋麻子。李時珍曰。麻子有雄雌。雄者為　。雌者為苴。周禮注。朝事之籩。其實　。熬麥曰　。麻曰　。禮。孟秋之月。食麻與犬。孟銑曰。生麻子杵丸。向日服。滿百日。即能見鬼。云笈七簽。紫晨幽燭明。劉基詩。翔　魑。</p>
<h3>冬葵子</h3>
<p>味甘寒。主五臟六腑寒熱。羸瘦五癃。利小便。久服堅骨。長肌肉。輕身。延年。</p>
<p>解露抽心。傾陽衛足。莩秀浮香。英輕染綠。柏子修容。椒聊辟毒。朝種暮生。火焦地熟。</p>
<p>李時珍曰。古人采葵。必待露解。故曰露葵。孟銑曰。其心有毒忌食。孔平仲詩。燒地草抽心。曹植表。若葵藿之傾葉太陽。左傳。葵猶能衛其足。鮑照賦。柔莩爰秀。杜甫詩。香宜配碧葵。李時珍曰。子輕虛如榆莢仁。梁元帝詩。露沾疑染綠。陶隱居方。冬葵子柏子仁等分。治面上　瘡。武王帶銘。火滅修容。千金方。冬葵子煮汁。辟蜀椒毒。博物志。葵子火炒令爆　撒熟地。朝種暮生。</p>
<h3>莧實</h3>
<p>味甘寒。主青盲明目。除邪。利大小便。去寒熱。久服益氣力。不飢輕身。一名馬莧標高易見。指事深論。種需雨候。老怯風掀。丹還跛鱉。格壓膏　。荇呼哂誤。韭化機存。</p>
<p>王十朋詩。標高語更妙。埤雅。莧之莖葉高碩易見。其字從莧。指事也。陸游詩。農事更深論洛陽。花木記。穀雨栽五色莧。王安石詩。紫莧凌風怯。貴耳集。紅莧為跛鱉之還丹。方岳詩。琉璃蒸乳壓　膏。未抵齋廚格調高。顏氏家訓詩。參差荇菜。博士皆以參差者。莧菜也。呼人莧為人荇。可笑之甚。淮南子。老韭之為莧也。萬物皆出於機。皆入於機。</p>
<h3>瓜蒂</h3>
<p>味苦寒。主大水身面四肢浮腫。下水。殺蠱毒。咳逆上氣。食諸果病在胸腹中。皆吐下之。生平澤。</p>
<p>美實蠲煩。秋除抱蒂。花謝跗環。瓞綿蔓系。齒沁余香。鼻披雙綴。青綠垂檐。東來風脆。</p>
<p>劉子　詩。美實蠲煩喜及時。杜甫詩。許以秋蒂除。仍看小童抱。農書。大曰瓜。小曰瓞。</p>
<p>跗曰環。（注脫花處）蒂曰嚏。（注系蔓處）李東陽詩。冰齒余香嚼未殘。龍魚河圖。瓜有兩蒂。兩鼻者殺人。雷　論。凡使瓜蒂取青綠色。瓜氣足時采得。系屋東有風處吹之。</p>
<h3>瓜子</h3>
<p>味甘平。主令人悅澤。好顏色。益氣不飢。久服輕身耐老。一名水芝。生平澤。</p>
<p>長身皤腹。　瓣名齊。絮披虛練。囊貯排犀。花紅　面。酒苦明睇。瓜雌蒂曲。擷高種棲。</p>
<p>鄭安曉詩。霜皮露葉護長身。左傳。皤其腹。廣雅。冬瓜　也。其子謂子　。吳普曰。</p>
<p>瓜子一名瓣。李時珍曰。瓤謂之瓜練。白虛如絮。子謂之瓜犀。在瓤中成列。多能鄙事。白瓜仁加桃花服食。面紅清。苦酒漬曝。日服方寸匕明目。齊民要術。冬瓜蒂彎曲貼肉者雌瓜也。</p>
<p>取子收高燥處留作種。</p>
<h3>苦菜</h3>
<p>味苦寒。主五臟邪氣。厭穀。胃痹。久服安心。益氣聰察。少臥。輕身耐老。一名荼草。一名選。生山谷。</p>
<p>菜美天香。游冬景邁。黃訛龍葵。白猜馬薤。和米炊香。浮羹嚼快。如薺如飴。苦甘深喟。</p>
<p>李時珍曰。一名天香菜。埤雅。此草經冬不凋。故名游冬。傅休弈歌。歲晏景邁。顏氏家訓。江南別有苦菜。乃爾雅　黃　也。河北謂之龍葵。梁世講禮者。以此當之大誤。兼明書月令。孟夏苦菜秀。孔穎達云。菜似馬薤而花白。味極苦。今驗四月秀者。野人呼為苦　。</p>
<p>春初取煮和米粉作餅食之。月令所書苦菜。即苦　也。穎達所見。別是一物。不可引以解此。黃正色詩。嫩綠浮羹　讓滑。王惲詩。今朝過喜一嚼快。詩。誰謂荼苦。其甘如薺。又堇荼如飴。李祁詩。幽然發深喟。</p>
<h2>卷二中經</h2>
<h3>雄黃</h3>
<p>味苦平寒。主寒熱。鼠　。惡創。疽痔。死肌。殺精物。惡鬼邪氣。百蟲毒勝五兵。</p>
<p>煉食之。輕身神仙。一名黃金石。生山谷。</p>
<p>丹雄蘊石。精結陽巒。五兵制勝。百毒除殘。威申虎爪。色映雞冠。桃枝辟禳。怪祟奚千。</p>
<p>吳普曰。生山之陽。是丹之雄。唐書傳。蘇　居中制勝。吳志傳。周瑜除殘去穢。葛洪曰。</p>
<p>女人病邪。雄黃松脂熔化。以虎爪攪之。夜燒取愈。蘇恭曰。宕昌武都者佳。塊方數寸。明徹如雞冠。集簡方。家有邪氣者。雄黃水。以東南桃枝。咒洒滿屋則絕跡。易林。家多怪祟。</p>
<h3>石硫黃</h3>
<p>味酸溫。主婦人蝕陰。疽痔惡血。堅筋骨。除頭禿。能化金銀銅鐵奇物。生山谷。</p>
<p>尊比陽侯。礬精翕斂。焦土凝堅。溫泉瀉瀲。猛著黃芽。光騰紫焰。金液丹成。因時稽檢。</p>
<p>葛洪曰。四黃惟陽侯為尊。吳普曰。是礬水石液燒令有紫焰者。易注。諍翕翕斂也。魏書傳。悅般國。南界。有火山。山旁皆焦。溶流數十裡乃凝堅。即石硫黃也。博物志。凡水有石硫黃。其泉則溫。趙冬曦賦。鑿連岩而瀉瀲。李時珍曰。其猛毒為七十二石之將。外家謂之陽侯。亦曰黃芽。泊宅編。金液丹。乃流黃煉成。純陽之物。痼冷者所宜。今夏至人多服之。反為大患。元史傳。曹鑒稽檢有方。</p>
<h3>雌黃</h3>
<p>味辛平。主惡瘡。頭禿痂疥。殺毒蟲虱。身癢邪氣諸毒。煉之久服輕身。增年不老。</p>
<p>生山谷。</p>
<p>同山雌伏。武都之陰。變分連錫。熏藉精金。助功婦順。避地群侵。純黃不雜。土德層深。</p>
<p>名醫曰。生武都與雄黃同山生。其陰山有金。金精熏則生雌黃。後漢書傳。趙溫曰。焉能雌伏。丹房鑒源。雌黃變錫。史記傳。長沙出連錫。陶弘景曰。仙經無單服法。惟以合丹少雄黃。飛煉成丹。土宿指南。陽石。相距五百年而結。造化有夫婦之道。故曰雌雄。雷　論。凡修事勿令婦人雞犬及臭穢之地犯之。鐘會賦。純黃不雜。韓保升曰。雌黃法土故色黃。水經注。山岫層深。</p>
<h3>水銀</h3>
<p>味辛寒。主疥　痂瘍。白禿殺皮膚中虱。墮胎。除熱。殺金銀銅錫毒。熔化還復為丹。久服神仙不死。生平土。</p>
<p>爍質洪爐。　流煙盡。伏戀鉛凝。含收椒引。采莧東　。披沙內蘊。　女丹還。性全韜隱列仙傳。寧封子爍質洪爐。蘇頌曰。采粗次朱砂。作爐　養。承水覆盆。煙飛於上。</p>
<p>流於下。土宿指南。朱砂伏於鉛。硫戀於鉛。寇宗　曰。得鉛則凝。國語。土氣含收。丹藥秘訣。遺失在地。以川椒末引之。韓保升曰。馬齒莧。節葉間有水銀。然至難燥。向日東晒之。陶弘景曰。水銀有別出沙地者。李嶠詩。向日披沙盡。權德輿文。和易內蘊。杜甫詩。</p>
<p>女縈新裹。注。　也。白居易詩。黃芽　女大還丹。宋新論。能韜隱其質。故致全性也。抱朴子。丹砂燒之成水銀。積變又還成丹砂。</p>
<h3>石膏</h3>
<p>味辛微寒。主中風寒熱。心下逆氣。驚喘。口乾苦焦。不能息。腹中堅痛。除邪鬼。</p>
<p>產乳、金創。生山谷。</p>
<p>斂塵雨霽。棋布林皋。云溶孕采。玉潔浮醪。潤當吻燥。結解膚撓。調封丹鼎。固密堅牢。</p>
<p>解琬詩。雨霽微塵斂。陶弘景曰。石膏皆在地中。雨後時時自出。如棋子者最佳。莊子。</p>
<p>山林歟。皋壤歟。程伯子詩。乞與云膏洗俗腸。鄭惟忠賦。丹青孕采。常建詩。玉膏澤人骨。</p>
<p>張華詩。浮醪隨觴轉。蘇軾賦。疑吻燥而當膏。孟子。不膚撓。名醫曰。治皮膚熱。腸胃中結。</p>
<p>胡震亨曰。火　細研醋調。封丹鼎。固密勝於脂膏。蘇軾詩。也知不作堅牢玉。</p>
<h3>磁石</h3>
<p>味辛寒。主周痹風濕。肢節中痛。不可持物。洗洗酸消。除大熱煩滿。及耳聾。一名元石。生山谷。</p>
<p>鐵質堅頑。磁君引並。山辨陰陽。石分動靜。煉畏伏砂。歸催懸井。受制庚辛。南針指丙。</p>
<p>淮南子。磁石能引鐵。吳普曰。一名磁君。李時珍曰。磁石生山之陰。元石生山之陽。</p>
<p>形雖相似。性各不同。磁石能吸鐵。元石不能吸鐵。余冬敘錄。丹砂伏磁石。水克火也。淮南子。磁石懸井。亡人自歸。寇宗　曰。磁石磨鐵鋒。能指南。然常偏丙位。蓋丙為大火。庚辛受其制。物類相感耳。</p>
<h3>凝水石</h3>
<p>味辛寒。主身熱腹中積聚邪氣。皮中如火燒。煩滿水飲之。久服不飢。一名白水石。生山谷。</p>
<p>凝寒冰冱。積鹵石生。色兼青黑。理具縱橫。蜂窠孔細。馬齒棱瑩。溝渠六角。同類元精。</p>
<p>名醫曰。一名寒水石。鹽之精也。李時珍曰。夏月研末煮湯。入瓶。懸井底即成冰。陶弘景曰。鹵地所生。蘇恭曰。有縱理橫理二種。蘇頌曰。有孔竅若蜂窠。丹房鑒源。石塊有齒棱如馬牙硝。清瑩如水精。亦有青黑色者。夢溪筆談。太陰元精石生鹽澤之鹵。溝渠土內。稟積陰之氣。凝結皆六角。</p>
<h3>陽起石</h3>
<p>味鹹微溫。主崩中漏下。破子藏中血。症瘕結氣。寒熱腹痛。無子。陰痿不起。補不足。句攣。一名白石。生山谷。</p>
<p>氣結　蒸。山恆陽霽。根駐云叢。鋒銷雪瘞。鑿選野狼牙。毒祛蛇蛻。握白提清。芟除黑翳。</p>
<p>揚雄文。　云而散　蒸。注。氣上出也。潘岳賦。陽霽則吐霞耀日。蘇頌曰。齊州陽起山。常有溫暖氣。盛冬大雪。此山獨無。陶弘景曰。甚似雲母。但濃異耳。李嶠詩。山類叢云起。庚辛玉冊。尖似箭鏃者力強。置大雪中。倏然沒者為真。李時珍曰。輕松如野狼牙者佳。</p>
<p>李之才曰。使用惡蛇蛻皮。抱朴子。懷黃握白。提清挈肥。日華子曰。凡入藥凝白者佳。蘇恭曰。今用純黑如炭者誤矣。</p>
<h3>孔公孽</h3>
<p>味辛溫。主傷食不化。邪結氣。惡創疽　痔。利九竅。下乳汁。一名通石。生山谷石垂芽孽。亡是呼公。角森　。房妙空空。寐回遽覺。音審宣通。如調靈龠。呼吸中充。</p>
<p>李時珍曰。孔竅空通。附垂於石。如木之芽孽。俗訛為孔公。漢書傳。齊言亡是公者。</p>
<p>無是人也。宋書傳。公何見呼為公。陶弘景曰。孽大如牛羊角。長二三尺。詩。其角　。李時珍曰。孽為鐘乳之房。論語。空空如也。莊子。成然寐蘧公覺。名醫曰。治傷食病常欲眠睡。甄權曰。能使喉聲圓亮。江總碑。老驚靈龠。蘇軾詩。外慕漸少由中充。</p>
<h3>殷孽</h3>
<p>味辛溫。主爛傷瘀血。泄利。寒熱。鼠　。症瘕結氣。一名薑石。生山谷。仰漱飛根。潛萌隱孽。指列薑蟠。脈通乳結。床設桷　。花霏霜雪。　土脂凝。清涼散熱。</p>
<p>名醫曰。殷孽鐘乳根也。云笈七簽。仰餐飛根。李時珍曰。殷隱也。生於石上。隱然如木之孽。又如生薑。新芽頓長。若列指狀。蘇恭曰。根蟠結如薑。呂氏春秋。血脈欲其流通也。</p>
<p>韓愈文。大者為　。細者為桷。蘇恭曰。石床鐘乳。水滴下凝積如筍狀。久漸與上乳相接為柱。石花乳水滴石上。散如霜雪。皆與殷孽同功。土殷孽服之亦同鐘乳。而不發熱。名醫曰。</p>
<p>生高山　土之陰。色白如脂。唐明皇序。嘗散熱之饌。</p>
<h3>鐵精</h3>
<p>平。主明目。化銅。鐵落。味辛平。主風熱惡創。瘍疽創痂疥氣在皮膚中。鐵主堅肌耐痛。生平澤。</p>
<p>稟陽就燥。氣弗交陰。紫塵吹焰。烏液留砧。柔能繞指。堅自安心。山盈渥赭。索廣窺深。</p>
<p>土宿指南。鐵稟太陽之氣。而陰氣不交。故燥而不潔。易。火就燥。陶弘景曰。鐵精出灶中如塵。紫色輕者為佳。蘇恭曰。鐵落是鍛家燒鐵砧上。鍛之皮甲落者。滋液黑於余鐵。又名鐵液。劉琨詩。何意百煉剛。化為繞指柔。日華子曰。生鐵鎮心。安五臟。管子。其上有赭。其下有鐵。詩。赫如渥赭。文心雕龍。才欲窺深。辭務索廣。</p>
<h3>理石</h3>
<p>味辛寒。主身熱。利胃。解煩。益精明目。破積聚。去三蟲。一名立制石。生山谷。</p>
<p>橫理庚庚。移名立制。脈貫峽封。層分土漬。青縷絲明。赤膚肌膩。迭用柔剛。同歸一致。</p>
<p>史記紀。大橫庚庚。逸周書。以移其名。蘇恭曰。此石夾兩石間如石脈。開用之。或在土中重疊而生。皮正赤肉白。名醫曰。一名肌石。李時珍曰。石膚有軟硬二種。理石順理而微。</p>
<p>硬者長紋細直如絲而明潔。色帶微青。與軟石膏一類通用。</p>
<h3>長石</h3>
<p>味辛寒。主身熱。四肢寒厥。利小便。通血脈。明目去翳眇。下三蟲。殺蠱毒。久服不飢。一名方石。生山谷。</p>
<p>嵬然卓立。豈恃依憑。縱如排齒。解或方棱。云飛片片。玉琢層層。熱中頓解。淵靜清凝。</p>
<p>淮南子。嵬然不動。論語。如有所立卓爾。唐書傳。足可依憑。蘇恭曰。不附石而生。</p>
<p>端然獨處。狀同石膏而濃大。縱理而長紋似馬齒。蘇頌曰。方解石與長石為一物。李時珍曰。擊之則片片橫碎。光瑩如雲母。名醫曰。光而潤澤玉色。孟子。不得於君則熱中。云笈七簽。</p>
<p>本真清凝。嶷然淵靜。</p>
<h3>膚青</h3>
<p>味辛平。主蠱毒。及蛇菜肉諸毒惡創。生山谷。</p>
<p>藍謝何常。青推膚受。燒入春痕。光留雨後。蟲　腥污。瘍痍毒垢。群穢清除。有瘳無咎。</p>
<p>北史傳。青成藍。藍謝青。師何常。在明經。名醫曰。一名推青。論語。膚受之訴不行焉。</p>
<p>僧惠崇詩。春入燒痕青。唐球詩。巫山雨後青。魏志傳。司馬朗清除群穢。唐書傳。天下庶有瘳乎。</p>
<h3>乾薑</h3>
<p>味辛溫。主胸滿咳逆上氣。溫中止血。出汗。逐風濕痹。腸　下利。生者尤良。久服去臭氣。通神明。生川穀。</p>
<p>膻腥拂徹。味美和調。柔尖日瑩。老辣霜驕。含辛比桂。御濕分椒。贈甘非意。雪謗神超。</p>
<p>張衡賦。蘇　紫薑。拂徹膻腥。呂氏春秋。和之美者。楊朴之薑。劉子　詩。映日瑩如空。</p>
<p>柔尖帶淺紅。長編晏享曰。薑桂之性。到老愈辣。徐淮詩。秋氣挾霜驕。文心雕龍。桂薑同地。辛在本性孝經。援神契椒薑御濕。梅堯臣詩。贈辛非贈甘。此意當自求。朱子詩。薑云能損心。此謗誰能雪。請論去穢功。神明看朝徹。</p>
<h3>耳實</h3>
<p>味甘溫。主風頭寒痛。風濕周痹。四肢句攣痛。惡肉死肌。久服益氣。耳目聰明。</p>
<p>強志輕身。一名胡　。一名地葵。生川穀。</p>
<p>耳食長生。推求賤質。延蔓　垂。結叢盤密。薄采頃筐。判離盈室。下箸忘飢。依稀奴橘。</p>
<p>史記年表。此與以耳食無異。晉書傳。求媒陽之美。談推沙礫之賤質。蘇軾記。藥至賤而為世要用。無若蒼耳長生藥也。詩箋。葛覃延蔓穀中。詩疏。今人謂之耳　草。李嶠詩。忘憂自結叢。廣雅。　耳叢生如盤。詩。采采卷耳。不盈頃筐。離騷。　綠以盈室兮。判獨離而不服。李白詩。他筵不下箸。此席忘朝飢。杜甫詩。依稀橘奴跡。陸龜蒙詩。舊栽奴橘老。</p>
<h3>葛根</h3>
<p>味甘。主消渴身大熱嘔吐諸痹。起陰氣。解諸毒。葛穀主下利十歲以上。一名雞齊根。生川穀。</p>
<p>雞齊鹿藿。庇本繁滋。臂伸蜷曲。　絕紛披。累依桂樹。枯花萱枝。秋登穀似。齠齔扶羸。</p>
<p>名醫曰。一名鹿藿。左傳注。葛　庇其本根。　蔓繁滋者。以本枝蔭庇之多。蘇頌曰。</p>
<p>根形大如手臂。庾信表。一枝蜷曲。蘇恭曰。葛根入土五六寸以上者名葛　。有微毒。服之令人吐。說苑。王　懸軀絕　。許有壬詩。筐　荐紛披。劉向九嘆。葛　累於桂樹兮。張時徹詩。</p>
<p>愿留枯根株。化作萱花枝。李時珍曰。葛穀是實。八九月采之。詩。式穀似之。庾信碑。未逾齠齔。宋史傳。李瀆扶羸養疾。</p>
<h3>栝蔞根</h3>
<p>味苦寒。主消渴身熱。煩滿大熱。補虛安中。續絕傷。一名地蔞。生川穀及山陰。</p>
<p>果　兼名。幽根蟠結。粉沁秋霜。花霏瑞雪。枯潤津回。陰純體潔。入夏筋凝。毒防鹵嚙。</p>
<p>李時珍曰。栝蔞即果裸轉音。木上曰果。地下曰　。此物蔓生附木。故得兼名。潔白如雪。</p>
<p>故名瑞雪。蘇頌曰。一名天花粉。沈約詩。幽根未蟠結。成無己曰。潤枯燥而通行津液。</p>
<p>李杲曰。純陰解煩渴。傅咸賦。體潔性真。李時珍曰。夏月掘者有筋無粉。不堪用。名醫曰。</p>
<p>生鹵地者有毒。</p>
<h3>苦參</h3>
<p>味苦寒。主心腹結氣。症瘕積聚。黃膽。溺有餘瀝。逐水除癰腫。補中明目止淚。一名水槐。一名苦　。生山谷及田野。</p>
<p>駢莖三五。萌　春催。　名別菜。葉類驕槐。疏風齒固。遏氣腰　。患增偏勝。化變心裁。</p>
<p>蘇頌曰。根三五莖並生。春生冬凋。李時珍曰。與菜苦　同名異物。陶弘景曰。葉極似槐葉。別錄。一名驕槐。史記傳。齊大夫病齲齒。以苦參湯日漱三升。出入其風。胡震亨曰。苦參峻補陰或致腰重者。氣降而不升也。</p>
<p>張從正曰。苦參久服必有偏勝氣增之患。易。化而裁之謂之變。</p>
<h3>當歸</h3>
<p>味甘溫。主咳逆上氣。溫瘧寒熱。癬在皮膚中。婦人漏下絕子。諸惡創瘍金創。煮飲之。一名干歸。生川穀。</p>
<p>各有攸歸。身其余幾。細摘蠶頭。肥收馬尾。望遠遲遲。相招　。血海增光。地仙是韙。</p>
<p>陳承曰。能使氣血各有所歸。當歸之名出此。李時珍曰。治上用頭。治下用尾。治中用身。</p>
<p>左傳。身其余幾。蘇恭曰。似細葉芎　者。名蠶頭。不堪用。似大葉芎　者。名馬尾。</p>
<p>古諺。遠望可以當歸。孟郊詩。意恐遲遲歸。古今注。古人相招以文無當歸也。摯虞賦。氣而愈新。云仙雜記。竇淝以當歸為地仙。圓曰。使血海增光。</p>
<h3>麻黃</h3>
<p>味苦溫。主中風傷寒頭痛。溫瘧發表出汗。去邪熱氣。止咳逆上氣。除寒熱破症堅積聚。一名龍沙。</p>
<p>雄雌類辦。根雜赤黃。暖無積雪。輕自浮陽。護營通衛。減熱含涼。推行尼止。理妙難量。</p>
<p>蘇頌曰。麻黃有二種。雄者不結子。雌者結子。僧繼洪曰。中牟有麻黃之地。冬不積雪。</p>
<p>泄內陽也。張元素曰。氣味俱薄。輕清而浮陽也。李時珍曰。其根皮色黃赤。內護於營。外通於衛。為發散火鬱之藥。孟浩然詩。緒風初減熱。傅咸賦。氣泠泠以含涼。易。推而行之謂之通。孟子。止或尼之。李時珍曰。麻黃發汗。根節止汗。物理之妙。不可測度。</p>
<h3>通草</h3>
<p>味辛平。主去惡蟲。除脾胃寒熱。通利九竅血脈關節。令人不忘。一名附支。生山谷。（今名木通）</p>
<p>藤支萬年。中通營腠。引蔓漿流。解吹氣透。甘受白藏。辛咀紫濃。活　名同。根尋天壽。</p>
<p>甄權曰。一名萬年藤。韓愈詩。經紀肖營腠。陶弘景曰。繞樹藤生。汁白。莖有細孔。</p>
<p>含一頭吹之。氣出彼頭者良。李時珍曰。有紫白二色。紫者皮濃味辛。白者皮薄味甘。皆能通利。蘇頌曰。爾雅活　即通脫水也。李杲曰。通脫木亦有通草之名。與木通同功用。蘇頌曰。</p>
<p>天壽根出台州。</p>
<h3>芍藥</h3>
<p>味苦平。主邪氣腹痛。除血痹。破堅積寒熱疝瘕。止痛利小便。益氣。生山谷及邱陵。</p>
<p>階翻綽約。花色隨科。金濃脂膩。紫瘦脈多。將離謔贈。具味滋和。酸收甘緩。深察弗訛。</p>
<p>謝　詩。紅藥當階翻。李時珍曰。芍藥猶　約也。根之赤白。隨花之色。古今注。芍藥有二種。金芍藥色白多脂。木芍藥色紫多脈。一名將離。故將別以贈之。詩。伊芳其相謔。司馬相如賦。芍藥之和具而後御之。成無己曰。白補而赤瀉。白收而赤散。酸以收之。甘以緩之。</p>
<p>武王鑰銘深察訛。</p>
<h3>蠡實</h3>
<p>味甘平。主皮膚寒熱。胃中熱氣。風寒濕痹。堅筋骨。令人嗜食。久服輕身。花葉去白蟲。一名劇草。一名三堅。一名豕首。生川穀。</p>
<p>挺出荒郊。弗勞鋤墾。帚擁三堅。叢攢一本。倒薤參差。束蒲苯　。解異寒溫。事權益損。</p>
<p>蘇恭曰。月令荔挺出即此。蘇軾詩。荒澀旋鋤墾。爾雅。　馬帚也。何遜七召。擁帚者繼足。李時珍曰。荒野中就地叢生。一本二三十莖。廣雅馬薤荔也。庾肩吾序。參差倒薤。說文。荔似蒲而小。詩。不流束蒲。張衡賦。苯　蓬茸。韓保升曰。性寒。蘇頌曰。大溫有奇效。淮南子。益損者。其王者之事與。</p>
<h3>瞿麥</h3>
<p>味苦寒。主關格諸癃結。小便不通。出刺決癰腫。明目去翳。破胎墮子。下閉血。一名巨句麥。生山谷。（今名石竹）</p>
<p>輕逾秀麥。蘭菊通鄰。亂抽玉瘦。碎剪霞新。蜂憐色好。麝過香勻。春風買斷。還較霜筠。</p>
<p>陶弘景曰。子頗似麥故名。名醫曰。一名大蘭。爾雅。瞿麥大菊也。張詠詩。昔年吟社偶通鄰。王安石詩。種玉亂抽青節瘦。林逋詩。碎片英英剪海霞。獨孤及詩。游蜂憐色好。杜甫詩。麝香眠石竹。陸龜蒙詩。買斷春風是此花。張耒詩。謂爾勝霜筠。</p>
<h3>元參</h3>
<p>味苦微寒。主腹中寒熱積聚。女子產乳余疾。補腎氣。令人目明。一名重台。生川穀。</p>
<p>上下樞機。控清引濁。高節竹萌。垂陰柳弱。腸系鹿蟠。根潛蠶　。渙散氤氳。香馥百濯。</p>
<p>張元素曰。元參乃樞機之劑。管領諸氣。上下清肅而不濁。左思賦。控清引濁。蘇頌曰。</p>
<p>莖方大有節若竹。高五六尺。葉對生如槐柳而尖長。吳普曰。一名鹿腸。李時珍曰。宿根多地蠶喜食之。故其中空。張元素曰。治胸中氤氳之氣。無根之火。馬志曰。合香家用之。故俗名馥草。</p>
<h3>秦艽</h3>
<p>味苦平。生寒熱邪氣。寒濕風痹。肢節痛。下水。利小便。生山谷。</p>
<p>飛烏山畔。糾植交紛。苣青葉布。葛紫花芬。中剔沖土。左隱羅文。實成月計。化速。</p>
<p>名醫曰。生飛烏山谷。蘇頌曰。根土黃色而相交糾。葉青色如萵苣。葉花紫色似葛花。</p>
<p>當月結子。陶弘景曰。中多沖土。用宜破去。根作羅紋。李時珍曰。以左紋者良。漢書紀。月計有餘。易。天地　。萬物化醇。</p>
<h3>百合</h3>
<p>味甘平。主邪氣腹脹。心痛。利大小便。補中益氣。生山谷。</p>
<p>蒜結蓮含。夜深香引。四向旁歧。中逢合緊。味勝蹲鴟。化傳結蚓。似柳如萱。蒔連畦畛。</p>
<p>陶弘景曰。根如胡蒜。爾雅翼。狀如白蓮花。陳淳詩。夜深香滿屋。李時珍曰。此物花葉根皆四向。名醫曰。一名中逢花。宋闕名詩。軟溫甚蹲鴟。歲時廣記。或云是蚯蚓相纏結變作之。群芳譜。山丹紅花。葉如柳葉。卷丹。花如萱花。根俱似百合而迥別。石貫賦。致誠不味於畦畛。</p>
<h3>知母</h3>
<p>味苦寒。主消渴熱中。除邪氣。肢體浮腫。下水補不足益氣。一名　母。一名連母。</p>
<p>一名野蓼。一名地參。一名水參。一名水浚。一名貨母。一名　母。生川穀。</p>
<p>宿根分系。厥狀虻　。呼聆眾母。踵接群兒。蒸收火定。熱濯陰滋。槐砧適性。鑌鐵相違。</p>
<p>李時珍曰。宿根之旁生子根。如虻　之狀。禮。子產猶眾人之母也。名醫曰。一名兒草。</p>
<p>又名兒踵草。李杲曰。其用有四療。有汗之骨蒸。瀉無根之腎火。止虛勞之熱。滋化源之陰。</p>
<p>雷論。凡使於槐砧挫細。勿犯鐵器。</p>
<h3>貝母</h3>
<p>味辛平。主傷寒煩熱。淋瀝。邪氣。疝瘕。喉痹。乳難。金創。風痙。一名空草。陟彼阿邱。物融心會。葉接苗生。根連蒂薈。采候熟葫。聚陳編貝。精結丹龍。筋摧脈害。</p>
<p>詩。陟彼阿邱。詩注。采虻貝母也。主療郁結之疾。江休復詩。心會境物融。蘇頌曰。</p>
<p>葉隨苗出。詩疏。貝母子在根下。連累相著。蘇恭曰。蒜熟時采之良。爾雅翼。大蒜為葫。陶弘景曰。形似聚貝子。雷　論。貝母中有獨顆者名丹龍精。誤服令人筋脈不收。</p>
<h3>白</h3>
<p>味辛溫。主女人漏下赤白。血閉陰腫。寒熱風頭。侵目淚出。長肌膚潤澤。可作面脂。一名芳香。生川穀。</p>
<p>騷人連詠。志潔稱芳。風回養鼻。煙迷褰裳。蘅蘭共攬。蕭艾休攘。采遴黃澤。秋思江鄉。</p>
<p>離騷。扈江離與辟　兮。又豈惟紉乎蕙芷。又雜杜衡與芳　。史記傳。屈原其志潔。故其稱物芳。李群玉詩。風回日暮吹芳　。荀子。側載　。所以養鼻也。范成大詩。蘋　迷煙路。謝混詩。褰裳順蘭　。司馬相如賦。蘅蘭　若。九章。攬大薄之芳　。張衡賦。珍蕭艾於重笥兮。謂蕙　之不香。蘇頌曰。以黃澤者為佳。僧德祥詩。一時秋思入江鄉。</p>
<h3>淫羊藿</h3>
<p>味辛寒。主陰痿絕傷。莖中痛。利小便。益氣力。強志。一名剛前。生山谷。</p>
<p>九葉三枝。植謀背水。紫溢柔須。青敷細齒。蹩　騰騫。　奮起。放杖逍遙。剛前振靡。（邱庚切　枯懷切）</p>
<p>蘇頌曰。一名三枝九葉草。韓保升曰。言生處不聞水聲者良。葉青似杏葉。根紫色有須。</p>
<p>羅隱啟。更謀背水。李時珍曰。葉薄而細齒。柳宗元詩。蹩　皆騰騫。集韻。　人有力貌。</p>
<p>日華子曰。一名放杖草。</p>
<h3>黃芩</h3>
<p>味苦平。主諸熱黃膽。腸　泄利。逐水下血閉。惡創疽蝕火瘍。一名腐腸。生川穀。</p>
<p>修條尾似。黠鼠奔　。黃深北塞。黔雜西原。枯飄利表。堅實滋源。督郵耐苦。決躁疏煩。</p>
<p>陶弘景曰。一名鼠尾芩。蘇恭曰。一名　尾芩。李時珍曰。子芩新根。今謂之條芩。或言北芩深黃。西芩色黔。黔乃黃黑之色也。易林。沙漠北塞。岑參詩。西原驛路掛城頭。李杲曰。黃芩之中枯而飄者。利氣消痰。清肌表之熱。實而堅者。養陰退陽。瀉火補水。滋其化源。記事珠。一名苦督郵。易。震為決躁。中論。疏煩以理之。</p>
<h3>狗脊</h3>
<p>味苦平。主腰背強關機緩急。周痹寒濕。膝痛。頗利老人。一名百枝。生川穀。</p>
<p>強扶百枝。舒拳如蕨。赤脈簇須。金茸歧骨。髀膂僨盈。筋骸超越。黃　康強。清秋健鶻。</p>
<p>名醫曰。一名強膂。一名扶筋。李時珍曰。葉似大葉蕨。蘇軾詩。韭芽戴土拳如蕨。吳普曰。葉端圓。青赤。皮白有赤脈。雷　論。凡修事火燎去須。蘇頌曰。根黑色。多歧。似狗脊骨。陳鑒賦。髀膂僨盈。劇談錄。田膨郎且善超越。詩。黃　台背。書。身其康強。蘇舜欽詩。氣勁健鶻橫清秋。</p>
<h3>石龍芮</h3>
<p>味苦平。主風寒濕痹。心腹邪氣。利關節。止煩滿。久服輕身。明目不老。一名魯果能。一名地椹。生川澤石邊。</p>
<p>連叢泉石。陰濕潛涵。堇滑滌　。葚熟咀甘。劣區河北。勝選山南。天雄名假。亦共龍參。</p>
<p>劉孝勝詩。連叢去本葉。李時珍曰。多生近水下濕地。方言。潛涵沉也。掌禹錫曰。爾雅言苦堇即此。禮。堇萱粉榆兔　以滑之。蘇恭曰。實如桑椹。故又名地椹。山南者粒大。</p>
<p>河北者細劣於山南。又天雄亦名石龍芮。韓維詩。插芳咀甘。李白詩。龍參若護禪。</p>
<h3>茅根</h3>
<p>味甘寒。主勞傷虛羸。補中益氣。除瘀血血閉。寒熱。利小便。其苗主下水。一名蘭根。一名茹根。生山谷田野。</p>
<p>猗彼菅茅。白華潔質。三脊標靈。連茹匯吉。誘喻麇包。光留螢出。布地針穿。春郊比櫛。</p>
<p>詩。白華菅兮。白茅束兮。易疏。白茅用潔白之茅。史記書。江淮之間。一茅三脊。呂岩說。有靈茅賦。易。拔茅茹以其匯征吉。詩。野有死麇。白茅包之。有女懷春。吉士誘之。李時珍曰。其根夜視有光。腐則變為螢火。蘇頌曰。春生茅。布地如針。俗謂之茅針。詩。其比如櫛。</p>
<h3>紫菀</h3>
<p>味苦溫。主咳逆上氣。胸中寒熱結氣。去蠱毒。痿　。安五臟。生山谷。</p>
<p>有菀其特。上氣夷瘳。紫深節潤。白賁毛柔。山疏春暮。水注東流。羊須練色。漫易牽牛。</p>
<p>詩。有菀其特。靈樞經曰。風寒舍於肺。發咳上氣。詩。靡有夷瘳。日華子曰。根作節紫色。潤軟為佳。陶弘景曰。本有白毛。根甚柔細。名醫曰。三月采根。陰乾。雷　論曰。凡使用東流水洗淨。有白如練色者名羊須草。自然不同。孟子。以羊易之。李時珍曰。一名夜牽牛。</p>
<h3>紫草</h3>
<p>味苦寒。主心腹邪氣。五疸。補中益氣。利九竅。通水道。一名紫丹。一名紫芙。生山谷。</p>
<p>黃白青沙。紫根密擁。利野興鋤。春耕分壟。色耀花前。堅憑石重。幾見雅銜。蘭香嘉種。</p>
<p>群芳譜。紫草宜黃白軟良之地。及青沙地。秋耕深細。至春又轉耕之。逐壟下子。李時珍曰。此草花紫根紫。未花時采根。色鮮明。以石壓扁曝乾。　呼為雅銜草。蘇恭曰。苗似蘭香。</p>
<h3>敗醬</h3>
<p>味苦平。主暴熱火創。赤氣疥搔。疽痔。馬鞍熱氣。一名鹿腸。生川穀。</p>
<p>叢生岡嶺。敗味含嘉。淺深菘葉。碎簇芹花。酸鹹並具。甘苦交加。謂鹿呼馬。命意紛拿。</p>
<p>蘇恭曰。此藥多生岡嶺間。陶弘景曰。根作陳敗豆醬氣故名。李時珍曰。初時葉布地似菘菜。</p>
<p>葉綠色面深背淺。頂開白花成簇如芹花。根味微苦帶甘。日華子曰。味酸。名醫曰。咸微寒。一名鹿首。又名馬草。史記紀。趙高謂鹿為馬。莊子。呼我馬也。而謂之馬。朱子書。辯說紛拿。</p>
<h3>白蘚</h3>
<p>味苦寒。主頭風。黃膽咳逆。淋瀝。女子陰中腫痛。濕痹死肌。不可屈伸。起止行步。生川穀。</p>
<p>莖類槐茱。遠搜棧閣。春孕堅凝。炎蒸虛惡。膻近白羊。累垂金雀。表裡融通。黃消風卻。</p>
<p>蘇頌曰。根青葉稍白。如槐。亦似茱萸。李洞詩。棧閣交冰柱。陶弘景曰。以蜀中者為良。</p>
<p>俗呼白羊蘚。蘇恭曰。皮白而心實。根宜三月采。若四五月采。便虛惡矣。李時珍曰。此草根白色作羊膻氣。其子累累如椒。日華子曰。名金雀兒椒。為諸黃風痹要藥。任　行狀。表裡融通。</p>
<h3>酸醬</h3>
<p>味酸平。主熱煩滿。定志益氣。利水道。產難吞其實立產。一名醋醬。生川澤。</p>
<p>苦　苦　。中貯山櫻。風搖鈴動。珠耀燈明。洛神鳴　。王母垂纓。胚胎熱解。如達全生。</p>
<p>陳藏器曰。一名苦　。小者名苦　。寇宗　曰。殼中子大如櫻紅色。李時珍曰。其花如杯。</p>
<p>結一鈴。殼。凡五棱。一枝一顆。下懸如燈籠之狀。掌禹錫曰。關中人謂之洛神珠。一名王母珠。李白詞。素女明珠　。王起賦。解彼珠纓。聖濟總錄。治婦人胎熱。詩。先生如達。</p>
<p>禮。父母全而生之。</p>
<h3>紫參</h3>
<p>味苦辛寒。主心腹積聚。寒熱邪氣。通九竅。利大小便。一名牡蒙。生山谷。</p>
<p>三輔幽芳。青赤彌穀。飛羽翩翻。歧蹄排蹴。濃積陰沉。堅消心腹。火炙根溫。紫光熠煜。</p>
<p>范計然曰。紫參出三輔。以青赤色為善。錢起序。紫參幽芳也。五葩連萼。狀飛禽羽舉。</p>
<p>張衡賦。眾鳥翩翻。蘇恭曰。葉似羊蹄。何遜七召。亦左排而右蹴。李時珍曰。氣味俱濃。陰也沉也。甄權曰。治心腹堅脹。蘇頌曰。三月采根。火炙紫色。柳宗元。晉問日晶熠煜。</p>
<h3>槁本</h3>
<p>味辛溫。主婦人疝瘕。陰中寒腫痛。腹中急。除風頭痛。長肌膚。說顏色。一名鬼卿。一名地新。生山谷。</p>
<p>疇生五臭。潤澤程功。本儕禾槁。論若芎　。毒披瘴霧。郁散寒風。四肢安暢。泮渙冬烘。</p>
<p>管子。五臭疇生槁本。名醫曰。潤澤療風邪。流於四肢。禮。程功積事。蘇恭曰。根上苗下似禾槁。淮南子。論人者若芎　之與槁本也。陳元素曰。太陽經風藥其氣雄壯。寒氣鬱於本經。頭痛必用之。治霧露之清。邪中於上焦。蘇軾詩。遇境即安暢。王太真賦。牢落泮渙。</p>
<p>摭言。頭腦冬烘。</p>
<h3>石葦</h3>
<p>味苦平。主勞熱邪氣。五癃閉不通。利小便水道。一名石　。生山谷石上。</p>
<p>靜寄陰森。離披險罅。　質堅柔。金星映射。水遠潺　。聲休叱　。蟠石久要。渾忘凋謝。</p>
<p>陶潛詩。靜寄東軒。溫庭筠詩。畫壁陰森九子堂。韋應物詩。草木曉離披。李時珍曰。</p>
<p>多生陰崖險罅處。柔韌如皮。亦有金星者。凌冬不凋。名醫曰。生山谷石上。不聞水聲人聲者良。正韻。潺　水流貌。一曰水流聲。史記傳。項王喑啞叱　。易。通卦驗下如蟠石。論語。</p>
<p>久要不忘。張昱詩。芳容有凋謝。</p>
<h3>萆</h3>
<p>味苦平。主腰背痛。強骨節。風寒濕周痹。惡創不瘳。熱氣。生山谷。</p>
<p>百枝赤節。質異名仍。花研眾采。葉鏤三棱。春秋分擷。虛實搜征。金根鐵角。味辦淄澠。</p>
<p>吳普曰。一名百枝。名醫曰。一名赤節。與狗脊同名。二月八月采根。蘇頌曰。花有黃紅白三種。葉作三叉。蘇恭曰。此有二種。莖有刺者根實。無刺者根虛。軟為勝。博物志。菝與萆　相亂。李時珍曰。菝　江浙人謂之金剛根。楚人謂之鐵菱角。列子。口將爽者先辨淄澠。</p>
<h3>白薇</h3>
<p>味苦平。主暴中風。身熱肢滿。忽忽不知人。狂惑邪氣。寒熱酸痛。溫瘧洗洗。發作有時。生川穀。</p>
<p>春草纖微。分陰屬婦。紅顫輕花。青歸細柳。煩洗清涼。狂回攻掊。禊節三三。秉蘭共友。</p>
<p>爾雅。　春草也。李時珍曰。微　音相近。微細也。其根細而白也。王好古曰。古方多用以治婦人。易。分陰分陽。詩。至於屬婦。蘇頌曰。根葉俱青。頗類柳葉。六七月。開紅花。</p>
<p>蘇軾詩。清涼洗煩煎。宋濂詩。良劑急攻掊。名醫曰。三月三日采根。韓詩外傳。鄭國之俗。</p>
<p>上巳秉蘭草。祓除不祥。宋書志。魏以後但用三月三日。</p>
<h3>水萍</h3>
<p>味辛寒。主暴熱身癢。下水氣。勝酒。長須發。消渴。久服輕身。一名水華。生池澤陌花漠漠。池水油油。風翻星亂。月逗云浮。鋪茵鴨睡。開翠鱗游。莫言湮梗。豈逐群流。</p>
<p>李時珍曰。季春楊花入水所化。楊云鶴賦。嗟楊花之漠漠。元　詩。池光漫油油。庾肩吾詩。風翻乍青紫。趙昂賦。月上兮處處疑星。錢起詩。浮云正似萍。云林異景志。太原少尹。</p>
<p>樊千裡。載數車浮萍。入池為鴨作茵褥。楊基詩。魚跳翠乍開。常　賦。同乎漂梗之人。南濠詩話引。魏仲先益池萍詩。免得漂然逐眾流。</p>
<h3>王瓜</h3>
<p>味苦寒。主消渴內痹。瘀血。月閉。寒熱酸疼。益氣愈聾。一名土瓜。生平澤。</p>
<p>俯矚籬垣。蔓牽瓞濯。花小黃勻。葉圓青濯。甫降青霜。紛垂赤雹。三五根連。壅培。</p>
<p>名醫曰。生魯地田野。及人家牆垣。詩箋。瓜瓞。瓜小狀似　。故謂之瓞。李時珍曰。</p>
<p>其蔓多須。葉圓如蹄有尖。面青背淡。江西人栽之沃土。六七月開小黃花成簇。王勃序。紫電青霜。寇宗　曰。瓜殼徑寸。長二寸許。七八月熟。紅赤色。今人謂之赤雹子。細根上又生淡黃根。三五相連。漢書傳注。　瘠薄之地。</p>
<h3>地榆</h3>
<p>味苦微寒。主婦人乳　痛。七傷帶下病。止痛。除惡肉。止汗。療金創。生山谷。</p>
<p>平原榆布。特立莖苗。寶珠安用。玉豉常調。陽驕霧斂。金鑠石銷。茗香釀熟。藕佐山肴。</p>
<p>蘇頌曰。平原山澤處處有之。苗初生布地。獨莖直上。葉似榆葉。古詞。寧得一把地榆。</p>
<p>安用明月寶珠。煮石經。何不食石用玉豉。注。地榆也。群芳譜。此草霧而不渝。太陽氣盛故也。燒灰能鑠金石。其根作飲若茗汁。釀酒。其葉又可炸食。歐陽修記。山肴野蔌。</p>
<h3>海藻</h3>
<p>味苦寒。主癭瘤氣頭下核。破散結氣。癰腫症瘕堅氣。腹中上下鳴。下十二水腫。一名落首。生池澤。</p>
<p>托身洪流。藏修潔澡。縈帶蘿牽。如云發繞。火藉光明。鑒形丑好。似組似綸。偕功海島。</p>
<p>嵇康詩。俯　綠藻。托身洪流。禮。藏焉修焉。埤雅。藻水草之有紋者。字從澡。言自潔如澡也。杜甫詩。徑石相縈帶。昭明太子詩。牽蘿下石磴。爾雅注。一名海蘿。詩。　發如云。陶弘景曰。生海島。黑色如亂髮。書注。藻火。藻。取其潔。火取其明也。閻復啟。藻鑒垂光。劉禹錫賦。彼多方兮。自生丑好。李時珍曰。爾雅云。綸似綸。組似組。東海有之。</p>
<p>即昆布也。性味相近。主療一致。</p>
<h3>澤蘭</h3>
<p>味苦微溫。主乳婦內衄。中風余疾。大腹水腫。身面四肢浮腫。骨節中水。金創。癰腫。創膿。一名虎蘭。一名龍棗。生大澤傍。</p>
<p>猗猗蘭靄。秋發幽香。南陔葉並。九畹莖方。遺思紉佩。具浴　湯。竊名蓀芷。引類都梁。</p>
<p>嵇康詩。猗猗蘭靄。蘇頌曰。七月開花紫白色。束晰詩。循彼南陔。言采其蘭。吳普曰。</p>
<p>二月生苗。赤節。四葉相值。蘇恭曰。莖方節紫。離騷。紉秋蘭以為佩。又。余既滋蘭之九畹兮。九歌。浴蘭湯兮沐芳。又。折芳馨兮遺所思。禮。三日則　湯請浴。遁齋閑覽。楚辭所詠之蘭。或以為猗蘭。或以為都梁香。當以澤蘭為止。楊慎序。人家盆植如蒲萱者。蘭之別種。曰蓀與芷耳。九畹之受誣。千載矣。爾雅翼。今之蘭草都梁香也。</p>
<h3>防己</h3>
<p>味辛平。主風寒溫瘧。熱氣。諸癇。除邪。利大小便。一名解離。生川穀。</p>
<p>如葛延緣。水驅風障。輻解文分。莖通氣壯。險健思防。敵仇善將。丁足腥聞。木強弗尚。</p>
<p>李當之曰。其根如葛蔓延。陳藏器曰。治風用木防己。治水用漢防己。蘇頌曰。破之文作車輻解。莖甚嫩。折其莖。一頭吹之。氣從中貫。如木通然。</p>
<p>李杲曰。防己如險健之人。首為亂階。若善用之。亦可御敵。易。君子以思患而豫防之。</p>
<p>黃庭堅詩。不戰者善將。雷　論。凡使。勿用黃腥皮皺有丁足者。書。腥聞在上。陶弘景曰。黑點木強者不佳。</p>
<h3>款冬花</h3>
<p>味辛溫。主咳逆上氣。善喘。喉痹。諸驚癇。寒熱邪氣。一名橐吾。一名顆凍。一名虎須。一名兔奚。生山谷。</p>
<p>類形　茆。保質三冬。兔奚鑽凍。蜂斗能容。豐肥萼直。茂悅冰封。陰蒸陽煦。心似寒松。</p>
<p>陶弘景曰。其形如宿　。詩疏。茆江東人。謂之　。傅咸賦。獨保質而全形。李時珍曰。</p>
<p>一名鑽凍。蘇頌曰。十二月開花。黃青紫萼。初出如菊花。通直而肥。又有紅花。葉如荷而斗直。大者容一升。小者容數合。俗呼蜂斗葉。述征記。洛水款冬花。茂悅層冰之中。郭璞贊。陽煦陰蒸。蘇軾詩。知君心似後雕松。</p>
<h3>牡丹</h3>
<p>味辛寒。主寒熱。中風。螈　痙驚癇。邪氣。除症堅。瘀血留舍腸胃。安五臟。療癰創。一名鹿韭。一名鼠婦。生山谷。</p>
<p>百兩精金。丹延植盛。荊棘同儔。琅　是競。艷思移姿。真香失性。枯燥形全。四經順令。</p>
<p>陶弘景曰。土人謂之百兩金。李時珍曰。丹州延州以西。及褒斜道中最多。與荊棘無異。</p>
<p>其根入藥最良。白居易詩。根本是琅　。蘇頌曰。世人欲花之詭異。秋冬移接。培以壤土。至春盛開。其狀百變。其根性殊失本真。不可入藥。溫庭筠詩。裁成艷思偏應巧。蘇軾詩。真香亦竟空。蘇頌曰。山牡丹。莖梗枯燥。李時珍曰。治手足少陰厥陰四經伏火。</p>
<h3>馬先蒿</h3>
<p>味平。主寒熱。鬼注。中風濕痹。女子帶下病無子。一名馬屎蒿。生川澤。</p>
<p>先緣新近。藍以高瞻。麻花紫艷。豆角青尖。牡因子辨。邪遠名嫌。馬通臭味。煉石炎炎。</p>
<p>蘇恭曰。一名馬新蒿。晏子蒿。草之高者也。掌禹錫曰。七月開花。似胡麻花而紫赤。</p>
<p>八月生角。似豆角銳而長。李時珍曰。馬先蒿。牡嵩。原是二種。詩疏。所謂有子者。乃馬先蒿。而復引無子之牡蒿釋之。誤矣。蒿氣如馬矢。先乃矢之訛。新又先之訛也。北史傳。</p>
<p>食采有邪蒿。邢峙令去之曰。此菜有不正之名。禮。禮不諱嫌名。漢書傳注。以馬通熏之馬矢也。名醫曰。一名煉石草。陶弘景曰。又名爛石。詩赫赫炎炎。</p>
<h3>積雪草</h3>
<p>味苦寒。主大熱惡創癰疽。浸淫赤　。皮膚赤身熱。生川穀。</p>
<p>葉葉特生。沿溪縈碧。海挹蘇融。雪霏寒積。重疊錢圓。參差荇坼。茶飲辛香。風生兩腋。</p>
<p>蘇恭曰。此草蔓生溪澗側。倪瓚詩。冷文縈碧暮煙和。蘇頌曰。一名海蘇。陶弘景曰。</p>
<p>積雪草。以寒涼得名。寇宗　曰。形如水荇。葉葉各生。今人謂之連錢草。蔡邕表。前後重疊。</p>
<p>詩。參差荇菜。蘇頌曰。江浙人多以作茶飲。庚辛玉冊。引蔓摶地。香如細辛。盧仝詩。惟覺兩腋習習清風生。</p>
<h3>女菀</h3>
<p>味辛溫。主風洗洗霍亂。泄利。腸鳴。上下無常處。驚癇寒熱百疾。生川穀或山陽。</p>
<p>負陰尚白。集菀噓枯。金清肺潔。玉潤膚腴。名題織女。形易妝嫫。五辛味濁。遠屏沾濡。</p>
<p>老子。負陰而抱陽。禮。殷人尚白。名醫曰。一名白菀。一名織女菀。國語。人皆集於菀。</p>
<p>己獨集於枯。後漢書傳。孔公緒噓枯吹生。搜神記。金清則義。南史傳。劉遵內含玉潤。肘後方。治人面黑令白。忌五辛。手太陰氣分藥也。肺熱。則面紫黑。肺清。則面白。白居易詩。妝嫫徒費黛。晉書志。我志沾濡。</p>
<h3>王孫</h3>
<p>味苦平。主五臟邪氣。寒濕痹。四肢疼酸。膝冷痛。生川穀。</p>
<p>餌之延年。終南具有。呼聽多孫。訛沿兩牡。摩頂河車。剝膚旱藕。夜合黃昏。名同物否。</p>
<p>唐書傳。薑撫言終南山有旱藕。餌之延年。甘守誠曰。牡蒙也。（王孫別名）易名以神之耳。</p>
<p>詩。終南何有。吳普曰。楚名王孫。齊名長孫。又名海孫。名醫曰。一名黃孫。易林。受福多孫。詩。並驅從兩牡兮。李時珍曰。古方所用牡蒙。是紫參。後人所用牡蒙。乃王孫。葉生巔頂。類紫河車葉。孟子。摩頂放踵。易。剝床以膚。李時珍曰。一名黃昏與夜合。名同物異。</p>
<h3>蜀羊泉</h3>
<p>味苦微寒。主頭禿。惡創熱氣。疥搔痂癬。蟲療齲齒。生川穀。</p>
<p>沃饒西蜀。陰濕萌生。蚓吹流腫。蜂綴堅莖。細區鼠跡。滑誤鴉睛。功收漆嚙。塗浴兼營。</p>
<p>盧思道詩。西蜀稱天府。由來擅沃饒。蘇恭曰。俗名漆姑。生陰濕地。顏延之詩。惠浸萌生。摘元方。蚯蚓氣吹者。搗入黃丹　之。李時珍曰。黃蜂作窠。　漆姑草為蒂。陳藏器曰。</p>
<p>漆姑葉細。多生石邊。蘇恭曰。搗塗漆瘡。羊泉乃大草。漆姑草如鼠跡大。生階墀間。乃同名也。蘇頌曰。或言老鴉眼睛草。李時珍謂此乃龍葵也。性滑如葵。蘇誤認。耳生漆瘡者。</p>
<p>煎湯浴之。</p>
<h3>嚼床</h3>
<p>微鹹寒。主腰脊痛。不得著床。俯仰艱難。除熱可作浴湯。生川穀及田野。</p>
<p>錯認香　。　搓氣劣。平澤熟田。方莖對節。縱豎脊堅。引伸腰折。麻直蘇舒。澡身止熱。</p>
<p>李時珍曰。原野甚多。方莖對節。大葉似香　。搓之不香。蘇恭曰。此草生平澤熟田。</p>
<p>沈約賦。既縱豎而橫構。劉因詩。會經堅脊度危關。易。引而伸之。晉書傳。陶潛曰。我豈能為五斗米折腰。吳普曰。一名爵麻。別錄曰。一名香蘇。顏延之頌。類麻能直。李時珍曰。蘇性舒暢。故謂之蘇。禮。儒有澡身而浴德。</p>
<h3>假蘇</h3>
<p>味辛溫。主寒熱鼠　。瘰　生創。破結聚氣。下瘀血。除濕痹。一名鼠　。生川澤。（今名荊芥）</p>
<p>如蘇久假。味亦辛溫。旅生掇野。樹藝澆園。藏同鼠朴。毒禁魚飧。摘蔬閑覓。礙石盤根。</p>
<p>蘇恭曰。氣味辛香。如蘇。孟子久假而不歸。後漢書注。野穀不因種植而生。曰旅生。</p>
<p>柳宗元詩。掇野代嘉肴。周禮。大司徒二曰樹藝。庾信賦。石堰水而澆園。李時珍曰。荊芥原是野生。今為世用。遂多栽蒔。布子生苗。炒食。戰國策。應侯曰。周人謂鼠未臘者為朴。公羊傳。趙盾方食魚飧。輟耕錄。凡食河豚。不可食荊芥。蘇軾詩。穿林間覓野芎苗。方千詩。</p>
<p>須知礙石作盤根。蘇頌曰。又有石荊芥。生山石間。體性相近。</p>
<h3>翹根</h3>
<p>味甘。寒平。主下熱氣。益陰精。令人面悅好。明目。久服輕身耐老。生平澤。</p>
<p>根若揚翹。作甘和苦。產憶高嵩。性同曲枸。冠玉增容。披云快睹。記佚形忘。久荒榛莽。</p>
<p>鄭曼季詩。春草揚翹。書。稼穡作甘。周禮。食醫凡和夏多苦。太平御覽。作味苦平。</p>
<p>名醫曰。生嵩高山。二八月采。吳普曰。采以作蒸。飲酒病患。詩疏。南山有枸。多枝而曲。能敗酒味。南史傳。鮑泉面如冠玉。趙良器賦。光近侍以增容。世說。若披雲霧而睹青天。</p>
<p>陶弘景曰。方藥不用。俗無識者。李白詩。嵯峨蔽榛莽。</p>
<h3>桑根白皮</h3>
<p>味甘寒。主傷中。五勞六極。羸瘦崩中。脈絕。補虛益氣。葉。主除寒熱出汗。</p>
<p>桑耳黑者。主女子漏下赤白汁血病。症瘕積聚。陰補陰陽寒熱。無子。五木耳名　。益氣不飢。輕身強志。生山谷。</p>
<p>東方神木。公桑女桑。休哉苞系。沃若條揚。寄生耳黑。構接衣黃。附疏五　。志奮功襄。</p>
<p>（音軟）</p>
<p>說文通釋。桑東方自然神木之名。禮。天子諸侯必有公桑蠶室。詩。猗彼女桑。宋史志。歡愿休哉。易。休否系於苞桑。詩。其葉沃若。又。以伐遠揚。傳。條陽也。陶弘景曰。桑耳又呼為桑上寄生。群芳譜。桑木將槁。黃衣構葉。則葉大五　。槐耳。榆耳。柳耳。柘耳。</p>
<p>楊櫨耳。李時珍曰。桑　以下。功性則一也。</p>
<h3>竹葉</h3>
<p>味苦平。主咳逆上氣。溢筋急。惡瘍。殺小蟲。根。作湯益氣止渴。補虛下氣。汁。</p>
<p>主風　。實。通神明。輕身益氣。</p>
<p>縹節黃苞。露凝寒濕。綠助秋聲。粉含瀝汁。繃錦龍獰。蔬珠鳳粒。千畝胸中。森森玉立。</p>
<p>韓愈詩。縹節已儲霜。黃苞猶掩翠。方千詩。露凝寒色濕遮門。李白詩。綠竹助秋聲。</p>
<p>王維詩。綠竹含新粉。蘇軾詩。槁竹欲瀝汁。楊萬裡詩。錦繃半脫娟娟玉。朱子詩。縛得獰龍並寄我。陳造詩。密砌玉粒綴旒珠。韓詩外傳。鳳皇食竹實。蘇軾詩。渭川千畝在胸中。白居易詩。玉立竹森森。</p>
<h3>茱萸</h3>
<p>味辛溫。主溫中下氣。止痛咳逆。寒熱。除濕血痹。逐風邪。開腠理。根殺三蟲。一名。生山谷。</p>
<p>白藏節授。朱實紛敷。囊盛充佩。鈴系含珠。高山九日。東舍三株。匹椒和菊。香滿杯盂。</p>
<p>孫楚賦。白藏授節。王維詩。朱實山下開。潘岳賦。華實紛敷離騷。　（茱萸別名）</p>
<p>又欲充夫佩幃。易洞林。郭璞射覆曰。子如小鈴含元珠。按文言之。是茱萸。續齊諧記。今人九日登高飲酒。帶茱萸囊。始於桓景。雜五行書。舍東種茱萸三株。延年益壽。宋祁贊。</p>
<p>椒桂之匹。徐鉉詩。長和菊花酒。成都古今記。蜀人進酒投艾子一粒。香滿盂　。</p>
<h3>卮子</h3>
<p>味苦寒。主五內邪氣。胃中熱氣。面赤酒炮。　鼻白賴。赤癩。創瘍。一名木丹。生川穀。</p>
<p>雪瑩傾卮。熏風吹度。圓腦含苞。直棱分數。黃燦柔金。紅嫣染素。木戟鉤枝。同方類附。</p>
<p>蔣梅邊詩。清淨法身如雪瑩。李時珍曰。卮酒器也。卮子象之。沈周詩。熏風吹結子。</p>
<p>雷論。凡使。須要如雀腦者為上。蘇頌曰。皮薄而圓小。刻房七棱至九棱者佳。司馬相如賦。</p>
<p>鮮支黃爍。李杲曰。丹書言卮子柔金。李商隱詩。側近嫣紅伴柔綠。群芳譜。實如訶子。中仁深紅。可染　帛。名醫曰。木戟。生山中。葉如卮子。有名未用。新論。盤根鉤枝。陸機論。同方者以類附。</p>
<h3>蕪荑</h3>
<p>味辛。主五內邪氣。散皮膚骨節中淫淫溫行毒。去三蟲。化食。一名無姑。一名　塘。生川穀。</p>
<p>山榆束莢。心赤維嘉。　鹽香溢。醞醬辛加。臭攻齒。蛀。暖化腹瘕。　潭山徑。箭羽槎丫說文。梗山　榆有束莢可為蕪荑者。范子計然云蕪荑在地。赤心者善。詩。維其嘉矣。</p>
<p>蘇頌曰。此榆乃大氣臭。今人采實。以鹽漬則失氣味。儀禮。　鹽振祭。李時珍曰。醞為醬味尤辛。危氏得效方。蟲牙。以蕪荑安蛀孔即除。仁齋直指方。腹中鱉瘕。用蕪荑及暖胃理中之劑。五代史。胡嶠自契丹歸。入大山。一大林長二三裡皆蕪荑。枝葉有芒刺如箭羽。岑參文。</p>
<p>如戟槎丫。</p>
<h3>枳實</h3>
<p>味苦寒。主大風在皮膚中。如麻豆苦癢。除寒熱結。止利。長肌肉。利五臟。益氣輕身。生川澤。</p>
<p>種枳編籬。鸞棲詎擬。　碧移情。楓紅著美。大小殊功。速詳具理。山叩崇吾。食宜孫子。</p>
<p>陸游詩。種枳為籬草結廬。李商隱詩。枳嫩棲鸞葉。列子。有大木焉。其名為　。樹碧而冬生。渡淮而北化而為枳。王逢詩。楓葉殷紅枳實肥。寇宗　曰。枳實小。則其性酷而速。大則其性詳而緩。山海經。崇吾之山有木焉。其實如枳。食之宜子孫。</p>
<h3>厚朴</h3>
<p>味苦溫。主中風傷寒頭痛。寒熱驚悸。氣血痹死肌。去三蟲。</p>
<p>不殘純朴。龍梓儲珍。半出黃槲。層蔽蒼榛。白凝膚濃。紫透鱗皴。從容典職。佐助薑辛。</p>
<p>莊子。純朴不殘。蘇頌曰。厚朴以龍州梓州為上。葉如槲葉。鱗皴而濃。張衡文。遠國儲珍。郝經詩。半出黃槲峴。名醫曰。一名榛。李白詩。蒼榛蔽層邱。李時珍曰。膚白肉紫。釋無可詩。枝干怪鱗皴。紀異錄。盧端制既懷厚朴之才。宜典從容之職。日華子曰。凡入藥須用薑汁炙浸。</p>
<h3>秦皮</h3>
<p>味苦微寒。主風寒濕痹。洗洗寒氣。除熱。目中青翳白膜。久服頭不白。輕身。生川穀。</p>
<p>小木芩高。溯源秦產。釵股黍苗。羸愈蝸　。兩鬢春新。雙眸月滿。試泛碧流。詳披青簡。</p>
<p>李時珍曰。木小而岑高。故又名　皮。或云本出秦地。白居易詩。根稀比黍。苗稍剛同釵股。（自注祝蒼華發神也）淮南子。　木色青翳。而裸愈蝸　。此皆治目之藥。王建詩。春來黑發新。蘇軾詩。觀書眼如月。蘇恭曰。取皮漬水成碧色。著紙皆青色者真。庾肩吾詩。羽陵青簡出。</p>
<h3>秦</h3>
<p>味辛溫。主風邪氣。溫中。除寒痹。堅齒發。明目。久服輕身。好顏色。耐老增年。</p>
<p>通神。生川穀。</p>
<p>五行五義。光散衡星。通神御濕。貽我懷馨。調漿介壽。塗屋蕃丁。月正元日。作頌鐫銘。</p>
<p>東坡詩注。吳真君服椒歌。其椒應五行。其仁通五義。春秋運斗樞。玉衡星散為椒。孝經援神契。椒薑御濕。詩。貽我握椒。宋書傳。臧燾幽蘭懷馨。僧。宗林詩。調漿美著。騷經上。成公綏銘。永介眉壽。漢官儀。椒房取其實。蔓延四民。月令正月之旦。子孫各上椒酒。</p>
<p>劉臻妻有元日獻椒花頌。</p>
<h3>山茱萸</h3>
<p>味酸平。主心下邪氣。寒熱溫中。逐寒濕痹。去三蟲。久服輕身。一名蜀棗。生山谷。</p>
<p>名亦茱萸。性殊治療。梅葉綠稠。杏枝紅鬧。　棘同酸。荊桃襲貌。春氣半含。雀酥同調。</p>
<p>寇宗　曰。山茱萸與吳茱萸甚不相類。治療大不相同。未知何緣命名。孟子。其性與人殊。</p>
<p>蘇頌曰。葉如梅有刺。二月開花如杏。四月實如酸棗。薛能詩。辭林綠尚稠。遁齋閑覽。</p>
<p>張子野曰。得非紅杏枝頭鬧尚書耶。爾雅注。荊桃今櫻桃。李時珍曰。陶弘景注。山茱萸及櫻桃皆言似胡頹子。凌冬不雕。即雀酥也。吳人呼為半含春。儼如山茱萸。酸澀亦同。</p>
<h3>紫葳</h3>
<p>味酸微寒。主婦人產乳余疾。崩中症瘕。血閉寒熱。羸瘦。養胎。生川穀。（即凌霄花）</p>
<p>翹翹高艷。勢客夤緣。龍鱗濕　。蜴足輕堅。拂云翠繞。斗日紅妍。差池臭味莫解縈纏。</p>
<p>梅堯臣賦。慕高艷而仰翹。三柳軒雜識。凌霄花為勢客。趙汝回詩。夤緣直上照殘霞。</p>
<p>陸游詩。老蔓煙濕蒼龍鱗。群芳譜。得木而上。即高數丈。須如蠍虎。足附樹上甚堅牢。白居易詩。朝為拂云花。楊繪詩。強攀紅日斗妍明。曾鞏詩。固知臭味非相類。其奈縈纏不自由。左傳。吾臭味也。而曷敢差池。</p>
<h3>豬苓</h3>
<p>味甘平。主　瘧。解毒蠱蛀不祥。利水道。久服輕身耐老。一名　豬屎。生山谷。</p>
<p>氣感木余。楓根采掇。　采苞零。瓊腴囊括。圓比竹丸。拳如松撥。升降咸宜。滌煩療渴。</p>
<p>李時珍曰。亦是木之余氣所結。他木皆有。楓樹為多。其塊零落而下。陶弘景曰。其皮黑色肉白。而實者佳。陸龜蒙詩。更賦錦苞零。易。括囊無咎。李時珍曰。雷丸竹之余氣所結。一曰竹苓。群芳譜。古松枯槎不復上生者。謂之茯苓。撥有大如拳者。李時珍曰。豬苓淡滲。升而能降。國史補。滌煩療渴。所謂茶也。</p>
<h3>白棘</h3>
<p>味辛寒。主心腹痛。癰腫潰膿止痛。一名棘針。生川穀。莖如粉白。低列思名。針穿直刺。爪利鉤縈。鴇來肅肅。</p>
<p>蠅止營營。景風　至。赤實心誠。</p>
<p>蘇恭曰。白棘根如粉白。李時珍曰。列生而低者。為棘。觀名可辨。名醫曰。一名棘針。</p>
<p>爾雅翼。棘刺有直者。鉤者。群芳譜。一名赤龍爪。詩。肅肅鴇翼。集於苞棘。又營營青蠅。</p>
<p>止於棘。白虎通德論。景風至棘造實。陳留耆舊傳。夫棘中心赤。外有刺。象我言有棘。而赤心之至誠也。</p>
<h3>龍眼</h3>
<p>味甘平。主五臟邪氣。安志。厭食。久服強魂。聰明。輕身不老。通神明。一名益智。生山谷。</p>
<p>旁挺幽姿。莫如南土。金飾蜜脾。玉流膏乳。星結良宵。珠還合浦。益智策勛。呼奴誰侮。</p>
<p>劉子　詩。幽姿旁挺綠婆娑。詩。莫如南土。宋玨詩。外裹黃金飾。荔枝譜。龍目叢生。</p>
<p>玉露流晨。李商隱詩。紅露花房白蜜脾。蘇軾詩。平地走膏乳。廣東志。澄海縣。七夕酒集。</p>
<p>多用龍眼。謂之結星。風土記七日為良日。蘇軾詩。又恐珠還浦。名醫曰。一名益智。王象晉詩。況兼益智策勛殊。南方草木狀。一名荔枝奴。孟子。誰敢侮之。</p>
<h3>松蘿</h3>
<p>味苦平。主　怒邪氣。止虛汗頭風。女子陰寒腫病。一名女蘿。生山谷。蒼顏老叟。玉女肩隨。陰籠月逗。風卷云垂。披衣結帶。補屋搴帷。歲寒相保。千載心期。</p>
<p>僧。法潛指松曰。此蒼顏叟。爾雅蒙玉女注。女蘿別名。禮。則肩隨之。杜牧詩。晝陰籠近山。於鵠詩。深蘿月不通。王融詩。因風卷復垂。新論。碧蘿附於青松。以茂凌云之葉。劉刪詩。學帶非難結。為衣或易披。杜甫詩。牽蘿補茅屋。又。高蘿成帷幄。白居易詩。應能保歲寒。朱子詩。心期本自幽。</p>
<h3>衛矛</h3>
<p>味苦寒。主女子崩中下血。腹滿汗出。除邪殺鬼毒。蟲注。一名鬼箭。生山谷。</p>
<p>儼樹屯防。日閑捍衛。植植矛森。三棱羽綴。香罨薪燔。苦調酥制。箭以神名。威能驅厲。</p>
<p>歐陽修文。歷覽亭障。屯防之要。易日閑輿衛。李時珍曰。釋名言。齊人謂箭羽為衛。</p>
<p>此物干有三羽。如箭羽矛刃自衛之狀故名。生山石間。小株成叢。寇宗　曰。人家多燔之遣祟。</p>
<p>雷論。凡使用酥拌制。廣雅。一名神箭。范成大詩。猶有餘威可驅厲。</p>
<h3>合歡</h3>
<p>味甘平。主安五臟。利心志令人歡樂無憂。久服輕身。明目得所欲。生山谷。</p>
<p>植根庭畔。夏景長暄。游纓蘸暈。翦翠滋繁。來歡蠲忿。迎晝合昏。有情多種。共宿雙鴛。</p>
<p>吳師道詩。植根向庭畔。韓琦詩。況茲夏景長。袁桷詩。馬嘶不動游纓聳。（系名馬纓花）韓琦詩。紅白開成蘸暈花。雍裕之詩。蝶猶迷翦翠。杜牧詩。柯葉自滋繁。易林。來歡致福。</p>
<p>嵇康論。合歡蠲忿。周禮注。迎暑以晝。求諸陽。陳藏器曰。其葉至暮即合。故名合昏。花史。遜頓國。有情樹。亦晝開夜合。杜甫詩。合歡尚知時。鴛鴦不獨宿。歐陽修詞。雙鴛池沼水溶溶。</p>
<h3>白馬莖</h3>
<p>味鹹平。主傷中脈絕陰不起。強志益氣。長肌肉肥健。生子。眼。主驚癇腹滿瘧疾。當殺用之懸。蹄。主驚邪螈　。乳難。辟惡氣。鬼毒。蟲注。不祥。生平澤。</p>
<p>骨市千金。余亦汲引。力集強莖。春方游牝。風入霜蹄。燭流鏡　。照夜銀花。解銜脫。</p>
<p>黃庭堅詩。千金市骨今何有。沈約序。每存汲引。陳藏器曰。取銀色無病白馬。春月游牝時。力勢正強者。杜甫詩。風入四蹄輕。又。霜蹄千裡駿。梁簡文帝序。眼含流燭。陳束賦。</p>
<p>頻兩瞳之夾鏡。說文。　目精也。明皇雜錄。上所乘有照夜白。白居易詩。頷綴銀花尾曳絲。</p>
<p>洪希文歌。脫　解銜就茅屋。</p>
<h3>鹿茸</h3>
<p>味甘溫。主漏下惡血。寒熱驚癇。益氣強志。生齒不老。角。主惡瘡癰腫。逐邪惡氣。留血在陰中。</p>
<p>角仙茸客。備物藥籠。春萌茄紫。香染瓊紅。折歧誤馬。戴異稱龍。何緣解縶。養性從容。</p>
<p>清異錄。華清宮鹿。人呼為角仙。談薈。武宗十玩鹿為茸客。唐書傳。元行沖曰。愿以小人備一藥石。狄仁傑曰。君正吾藥籠中物。埤雅。鹿茸嫩者為茄子茸。珍其難得。堅者如紅玉。至六十年必懷瓊角。下唐類函。荊楚之地。其鹿似馬。當解角時。望之無辨。乾寧記。鹿與游龍相戲。必生異角。則鹿得稱龍。蘇轍詩。何緣解韁縶。埤雅。鹿者仙獸。常自能樂性。</p>
<h3>牛角</h3>
<p>下閉血瘀血。疼痛。女人帶下血。髓補中填骨髓。久服增年。膽可丸藥。</p>
<p>性炳純離。彎環折角。筋粹骨余。風摧霜剝。精結中堅。璞攻外鑠。瀝膽調塗。釜鳴蛙卻。</p>
<p>李嶠表。煥炳於純離之畜。高啟詞。爾牛角彎環。漢書傳。朱云折其角。李時珍曰。角者筋之粹。骨之余。　又角之精也。石介頌。霜剝風裂。張衡賦。結精遠游。易林。建心中堅。</p>
<p>黃庭堅詩。攻璞愿良玉。孟子。非由外鑠我也。淮南子。牛膽塗熱釜。即鳴。岣嶁書。蛙得牛膽則不鳴。</p>
<h3>羊角</h3>
<p>味鹹溫。主青盲明目。殺疥蟲。止寒泄。辟惡鬼虎野狼。止驚悸。久服安心益氣。輕身。生川穀。（　牝羊也）</p>
<p>弗求童　。　思來。觸藩奮抵。懸莢嫌猜。假犀飾帶。縮錫揚灰。橘綠迭對。漠北誰栽。</p>
<p>詩箋。俾出童　。脅以無然之物。詩。爾羊來思。其角　。易。羝羊觸藩。羸其角。</p>
<p>埤雅。羝性好觸突。故從抵省。南史。江東謂　羊角為皂莢。鮑照詩。不受外嫌猜。益部方物略記。龍羊角。黑質白紋。以為帶胯。其用亂犀。丹房鑒源。　羊角灰縮。賀。賀錫也。出賀州。漢饒歌。當風揚其灰。楊允雜詠注。橘綠羊或四角。或六角。謂之迭角羊。其角相對。</p>
<p>輟耕錄。漠北種羊角。能產羊。賈島詩。無窮草樹昔誰栽。</p>
<h3>牡狗陰莖</h3>
<p>味鹹平。主傷中陰痿不起。令強熱大生子。除女子帶下十二疾。一名狗精膽。</p>
<p>主明目。</p>
<p>敝蓋何須。東方烹狗。陰固剛中。陽生啟後。譬馬春通。如牛風誘。照膽調漿。秋毫析剖。</p>
<p>禮。敝蓋不棄。為埋狗也。又。烹狗於東方。祖陽氣之發於東方也。張華詩。固陰寒節升。</p>
<p>易。以剛中也。春秋考異。郵狗三月而生。陽生於三。晉書志。永啟厥後。周禮注。中春通淫。合馬之牝牡也。左傳疏。風馬牛者。牝牡相誘謂之風。庾信賦。照膽照心。聖濟總錄。</p>
<p>上伏日采狗膽酒服之。治目中膿水。孟子。明足以察秋毫之末。</p>
<p>味鹹寒。主明目益氣。起陰去惡血。注下辟蠱毒。惡鬼不祥。安心氣。常不厭寐。</p>
<p>生川穀。</p>
<p>效奇西域。節角伸靈。痕蹙圓握。鳴集側聽。摧牙縷解。擊石冰零。智工懸木。防患宵瞑。</p>
<p>張說表。效奇靈囿。爾雅疏。　大羊。今出建平宜都諸蠻中。及西域。有兩角一角者。</p>
<p>角甚多節蹙　圓繞。晉書載記。龍以屈伸為靈。蘇頌曰。節如人手指握痕。陳藏器曰。耳邊聽之集集鳴者良。庾信賦。落角摧牙。唐古今注記序。冰渙縷解。書。予擊石拊石。寰宇志。貘骨充佛牙。物不能破。以　羊角擊之即碎。金剛石百煉不消。　羊角扣之即冰泮也。埤雅。</p>
<p>羊夜則懸木角上。以防患也。</p>
<h3>犀角</h3>
<p>味苦寒。主百毒蟲注。邪鬼障氣。殺鉤吻鴆羽蛇毒。除邪不迷惑厭寐。久服輕身。生山谷。</p>
<p>美著梁山。善蠲怒忿。理感天通。氣涵星暈。照水卻塵。志寒解慍。珍飾腰垂。胡為粉紊。</p>
<p>爾雅。南方之美者有梁山之犀。杜陽編。同昌公主有犀帶之。令人蠲忿怒。抱朴子曰。</p>
<p>通天犀有白理如線。廣州志。世言犀望星。而星入角。晉書傳。溫嶠過牛渚。然犀角照之。見水族。述異記。卻塵犀置角於坐。塵埃不入。開元遺事。交趾國進辟寒犀。時方盛寒。溫溫有暖氣。關尹子。心忿者猶忘寒。白孔六帖。唐文宗延李訓盛暑講易。取辟暑犀置坐。颯然生涼。孔平仲詩。風為解慍清。蘇軾詩。腰犀一一通。歸田錄。人氣粉犀。</p>
<h3>燕屎</h3>
<p>味辛平。主蠱毒鬼注。逐不祥邪氣。破五癃。利小便。生平穀。</p>
<p>燕燕。飛啄差池。營巢泥帶。哺乳花遺。瘧寒吸氣。疰　調脂。避知戊己。表瑞迎厘。</p>
<p>（堂練切）</p>
<p>漢書傳。童謠。燕燕尾　。燕飛來。燕啄矢。詩。差池其羽。杜牧詩。何處營巢夏將半。</p>
<p>劉兼詩。江畔春泥帶雨銜。盧諶賦。銓先後而均哺。梁簡文帝詩。銜花落北戶。陳藏器曰。</p>
<p>燕屎和酒。令人吸氣勿入口。厭瘧寒疾。名醫曰。和青羊脂丸治疰。聞見後錄。燕營巢避戊己日。肅詮詩。表瑞玉筐中。</p>
<h3>天鼠屎</h3>
<p>味辛寒。主面癰腫。皮膚洗洗時痛。腸中血氣。破寒熱積聚。除驚悸。一名鼠　。</p>
<p>一名石肝。生山谷。</p>
<p>鼠證飛仙。宵游晝掩。蚊蚋睛收。星砂肝斂。幽洞培堆。空階疏點。天廁星沉。效靈夕焰。</p>
<p>馬志曰。一名飛鼠。蘇恭曰。一名仙鼠。拾遺記。太液池傍。起宵游宮。司馬相如賦。</p>
<p>門閣晝掩。李時珍曰。其屎皆蚊蚋眼也。陶弘景曰。一名黑砂星。陳子昂詩。幽洞無留行。王安石詩。一株臨路雪培堆。陸游詩。疏點空階雨。步天歌。左足下。四天廁。臨廁下。一物天屎沉。張衡賦。亦有天屎。質黃效靈。梁元帝詩。百枝凝夕焰。</p>
<h3>皮</h3>
<p>味苦平。主五痔陰蝕。下血赤白。五色血汁不止。陰腫痛引要背。酒煮殺之。生川穀。</p>
<p>蹄鼠跡。蜷　森森。栗　叢刺。芡裹簇針。跳身虎避。仰腹鵲擒。睥睨蒙美。留豹同欽。</p>
<p>陶弘景曰。　足似　蹄者佳。鼠跡次之。李時珍曰。蜷　則形如栗房芡房。埤雅。栗有。自裹。蘇轍詩。紫苞青刺攢　毛。晉書傳。時人語崔洪。叢生棘刺。酉陽雜俎。鬻刺者印上簇針。漢書傳。跳身遁者數矣。淮南子。　使虎申。蘇恭曰。　惡鵲聲。仰腹受啄。淮南子。天下之美人。若使之蒙　皮。人莫不睥睨而掩鼻。五代史傳。王彥章曰。豹死留皮。</p>
<h3>露蜂房</h3>
<p>味苦平。主驚癇螈　。寒熱邪氣。　疾鬼精蠱毒。腸痔火熬之良。一名蜂腸。生山谷。</p>
<p>育毒藏精。倒懸固圉。一寸樓台。四開門戶。偃月斜縈。抱香分貯。雀卵莫容。　神托輔。</p>
<p>魏志傳。管輅射覆。家室倒懸。藏精育毒。此蜂房也。左傳。亦聊以固吾圉也。元亭涉筆。</p>
<p>蜂房為一寸樓台。劉詵賦。千門萬戶。環向四開。又。斜縈偃月。溫庭筠詩。蜂重抱香歸。</p>
<p>淮南子。蜂房不容雀卵。韓詩外傳。稷蜂不螫。社鼠不熏。非以稷蜂社鼠之神也。其所托者然也。故聖人求賢者以自輔。</p>
<h3>鱉甲</h3>
<p>味鹹平。主心腹症瘕堅積。寒熱。去痞、息肉、陰蝕、痔、惡肉。生池澤。</p>
<p>浮津穹脊。慕臭紛紛。知希九肋。愿妄重裙。形還沃莧。煙解驅蚊。魚飛神守。擐甲策勛。</p>
<p>埤雅。鱉之所在。上有浮沫。名鱉津。爾雅翼。形圓而穹脊。皮日休紀。群小茸茸。如慕臭之鱉。摭言。沅江鱉甲。九肋者希。五代史補。僧謙光曰。但愿得鱉長兩重裙。唐類函。鱉甲包置濕地。以赤莧汁沃之。即化生。李時珍曰。燒煙熏蚊即化。埤雅。魚滿三百六十。龍即引飛出水內。鱉則魚不復去。故一名神守。鐘會文。擐甲厲兵。潘岳文。誄德策勛。</p>
<h3>蟹</h3>
<p>味鹹寒。主胸中邪氣熱結痛。　僻面腫。敗漆燒之致鼠。生池澤。</p>
<p>集浪搖江。秋風乍起。聳衛雙敖。橫行八跪。月孕金膏。霜酣丹髓。杯藥分香。藏風忌柿。</p>
<p>蟹譜。濟鄆人。夜執火紛集水濱。謂之蟹浪。江側對引兩舟。施綱徐行。謂之搖江。江淹賦。乍秋風兮暫起。沈約歌。八神聳衛。爾雅翼。八足折而容俯。謂之跪。兩敖倨而容仰。謂之敖。黃魯直詩。怒目橫行與虎爭。羅氏曰。蟹腹虛實。應月盛衰。徐陵碑。金膏未熔。黃庭堅詩。想見霜臍當大嚼。龍虎經。丹髓流為汞。陸龜蒙詩。藥杯應阻蟹敖香。李時珍曰。</p>
<p>同柿食動風。</p>
<h3>柞蟬</h3>
<p>味鹹寒。主小兒驚癇夜啼。　病寒熱。生楊柳上。</p>
<p>柳都美蔭。蛻穢揚清。過枝音曳。抱葉身輕。月斜露飽。風急秋驚。清高冠飾。樂召琴聲。</p>
<p>陸龜蒙詩。全仗柳為都。莊子。蟬得美蔭而忘其身。郭璞贊。潛蛻棄穢。曹植賦。惟夫蟬之清素兮。方千詩。蟬曳殘聲過別枝。賈島詩。早蟬孤抱芳槐葉。沈鵬詩。依樹愧身輕。子夜歌。斜月垂光照。羅隱詩。風棲露飽今如此。盧照鄰詩。急響送秋風。漢書志注。武冠侍臣附蟬為文者。取其清高。後漢書傳。有以酒食召蔡邕者。至門潛聽客彈琴曰。以樂召我而有殺心何也。客曰。我向鼓弦見螳螂方捕鳴蟬。</p>
<h3>蠐螬</h3>
<p>味鹹微溫。主惡血血瘀。痹氣。破折血在脅下堅滿痛。月閉。目中淫膚。青翳白膜。</p>
<p>一名　蠐。生平澤。</p>
<p>不母而生。　僂俯。濕鬱根株。熱蒸糞土。變食還明。雜羹通乳。莫誤蝤蠐。殊形柳腐。</p>
<p>李時珍曰。宋齊邱言。蠐螬不母而生。久則羽化。其狀如蠶。生樹根及糞土中。皆濕熱之氣熏蒸而化。言　者。其狀肥也。晉書傳。中書郎盛沖母王氏失明。婢取蠐螬蒸熟與食。母目即開。陶弘景曰。同豬蹄作羹食。下乳汁。蘇恭曰。一名蝤蠐。生腐柳中。韓保升曰。以木中所生者為勝。生產既殊。主療亦別。</p>
<h3>烏賊魚骨</h3>
<p>味鹹微溫。主女子漏下赤白經汁。血閉陰蝕腫痛。寒熱症瘕。無子。生池澤。</p>
<p>東游棄袋。海畔浮漂。化由　。骨類螵蛸。纜風須勁。　墨腹消。縱橫紋辨。白勝英瑤。</p>
<p>陳藏器曰。海人云是秦王東游棄算袋於海所化。曹操樂府。流澌浮漂。蘇頌曰。陶隱居言。此是鳥所化。爾雅。　鳥　。李時珍曰。骨名海螵蛸。色白脆。爾雅疏。螵蛸螳螂卵也。日華子曰。魚遇風波。即以兩須下注黏石如纜。故名纜魚。蘇頌曰。魚腹中有墨。能吸波　墨。令水溷黑以自衛。雷　論。沙魚骨亦相似。紋順者真。橫者假。宋史志。有美英瑤。</p>
<h3>白僵蠶</h3>
<p>味鹹。主小兒驚癇夜啼。去三蟲。滅黑　。令人面色好。男子陰瘍病。生平澤。</p>
<p>三起三眠。忽摧風擾。馬首猶瞻。蛾眉罷掃。繭室休營。絲腸自繞。湯鑊辭烹。知幾及早。</p>
<p>李時珍曰。蠶三起三眠。二十七日而化。病風死者。其色自白。荀卿賦。此夫身女好而頭馬首者與。左傳。惟余馬首是瞻。趙孟　詩。蛾眉何娟娟。杜甫詩。淡掃蛾眉朝至尊。埤雅。蠶以繭自衣。亦謂之室。釋。惠洪歌。肺腸已作金絲光。史記傳。藺相如請就湯鑊。蘇軾詩。不須更說知幾早。</p>
<h3>魚甲</h3>
<p>味辛微溫。主心腹症瘕。伏堅積聚。寒熱。女子崩中。下血五色。小腹陰中相引痛。創疥死肌。生池澤。</p>
<p>肖生十二。五色潛　。橫飛沖岸。鼾睡盤渦。更傳砰磕。雨召滂沱。平鱗鏟甲。敢肆么麼。</p>
<p>埤雅。　身具十二生肖肉。說文。　水蟲紋五色。背毛皆有鱗甲。曹植啟。　江東之潛。</p>
<p>李時珍曰。性能橫飛。不能上騰。杜甫詩。紫鱗沖岸躍。陳藏器曰。性嗜睡。恆閉目。力至猛。能攻江岸。唐彥謙詩。安寢正鼾睡。楊炯詩。盤渦轉深穀。晉安海物記。　宵鳴如桴鼓。</p>
<p>江淮之間。或謂之　更。袁桷詩。院吏傳更寫制時。潘岳賦。鼓鼙　隱以砰　。爾雅翼。</p>
<p>能吐霧致雨。詩。俾滂沱矣。庾信賦。平鱗鏟甲。李時珍曰。老者善變妖魅。歐陽修詩。膽大身么麼。</p>
<h3>樗雞</h3>
<p>味苦平。主心腹邪氣。陰痿。益精強志。生子。好色。補中。輕身。生川穀。行列秋梢。寒　同候時協雞鳴。氣含樗臭。六足鱗差。雙飛斑糅。莎羽樊中。聲煩色陋。</p>
<p>名醫曰。生河內樗樹上。七月采。陶弘景曰。形似寒　而小。李時珍曰。其鳴以時。故以雞名。此物六足重翼。翼灰黃有斑點。居樗樹上。布列成行。蘇頌曰。一名莎雞。飛而振羽。</p>
<p>索索有聲。人或蓄之樊中。李時珍曰。莎雞居草間。如蟋蟀之類。蘇頌所引殊誤。</p>
<h3>蛞蝓</h3>
<p>味鹹寒。主賊風　僻。軼筋及脫肛。驚癇攣縮。一名陵蠡。生池澤。</p>
<p>蝸螺寄殼。名假形殊。屈伸雙角。　單軀。跡留涎滑。胎托腥污。毒蟲局促。　腦膚。</p>
<p>說文。附裸背負殼者為蝸牛。無殼者曰蛞蝓。寇宗　曰。蝸牛四角。蛞蝓二角。身肉只一段。毒蟲行所過之路。觸其涎即死。博雅。　。垢濁也。宋書傳。王僧達單軀弱嗣。李時珍曰。俗名托胎蟲。鐵圍山叢談。嶠南多蜈蚣。見托胎蟲即局促不行。蟲乃登其首。陷其腦。</p>
<p>王孝籍書。毒螫　膚。</p>
<h3>石龍子</h3>
<p>味鹹寒。主五癃邪結氣破。石淋下血。利小便水道。一名蜥蜴。生山谷。</p>
<p>析易陰陽。荊山盈數。魚躍浮交。蟬棲巧捕。召雨含冰。興云擁霧。從壁上觀。守宮丹注。</p>
<p>埤雅。蜴善變易。有陰陽析易之義。名醫曰。生荊州山石間。抱朴子。虺蜴盈數。異物志。</p>
<p>魚跳躍。蜥蜴從草中下依。近共浮水而相合。古今注。善於樹上捕蟬食之。卦爻名義注。與龍通氣。故可祈雨。與蛇同形。故能吐雹。倦游雜錄。京師久旱以瓮貯水。插柳枝泛蜥蜴。</p>
<p>小兒呼曰蜥蜴蜥蜴。興云吐霧。說文。在壁者曰　蜓。史記紀。諸將皆從壁上觀。博物志。</p>
<p>蜥蜴食以朱砂。體盡赤。搗點女人肢體。終身不滅。故曰守宮。</p>
<h3>木虻</h3>
<p>味苦平。主目赤痛。　傷淚出。瘀血血閉。寒熱酸　。無子。一名魂常生川澤。</p>
<p>蚊為民害。虻亦　愁。嶺南霧集。塞北塵浮。卷從木葉。化起溪流。蜩蟬形似。鼓翼鳴秋。</p>
<p>埤雅。　害民。故曰蚊。虻害蚊。故曰虻。陳藏器曰。塞北亦有。嶺南極多。從木葉中出。</p>
<p>卷葉如子。形圓。著葉上。破之。初出如白蛆。漸大子化。折破便飛。即能嚙物。揚雄文。</p>
<p>霧集雨散。辛德源詩。扇舉細塵浮。酉陽雜俎。南方溪澗中多水蛆。長寸余。色黑。夏末變為虻。蘇恭曰。綠色如蜩蟬。李時珍曰。以翼鳴其聲虻虻。韓愈序。以蟲鳴秋。</p>
<h3>蜚虻</h3>
<p>味苦微寒。主逐瘀血。破下血。積堅。痞症瘕。寒熱。通利血脈及九竅。生川穀。</p>
<p>蠶蛹生蛾。營飛逞快。飽飫血腥。猛同針蠆。毒化堅凝。苦攻瘀敗。譬彼多藏。濃亡堪喟。</p>
<p>陳藏器曰。木虻是葉內者。蜚虻是已飛者。正如蠶蛹與蛾耳。梁武帝詩。黃鳥營飛時。</p>
<p>陶弘景曰。啖牛馬血。因其腹滿。掩取干之。寇宗　曰。大如蜜蜂。腹凹褊。微黃綠色。李時珍曰。虻食血而治血。成無己曰。血結不行者。以苦攻之。老子。多藏必濃亡。</p>
<h3>蜚廉</h3>
<p>味鹹寒。主血瘀。症堅寒熱。破積聚。喉咽痹。內寒。無子。生川澤。</p>
<p>負盤腹赤。名美香娘。稻花朝采。薑味中藏。寒逃屋角。飛愛燈光。中神保守。夷食稱良。</p>
<p>蘇恭曰。一名負盤。名醫曰。腹下赤。李時珍曰。俗呼香娘子。爾雅翼。此物好以清旦食稻花。日出則散。陶弘景曰。有兩三種。以作廉薑氣者為真。本生草中。八九月知寒。多逃入人家屋裡。李時珍曰。兩翅能飛。喜燈火光。其氣甚臭。徐之才曰。立夏之先。蜚廉生為參苓使。主腹中七節。保神守中。西南夷食之。亦有謂也。</p>
<h3>蟲</h3>
<p>味鹹寒。主心腹寒熱洗洗。血積症瘕。破堅。下血閉。生子大良。一名地鱉。生川澤。</p>
<p>墉壁濕生。含污漬涅。揚簸張箕。蹣跚跛鱉。襁負兒嬉。街游壤別。牝牡燈蛾。妍媸媚悅。</p>
<p>名醫曰。生沙中。及人家牆壁下。土中濕處。拾遺記。滯污漬涅。皆如新浣。寇宗　曰。</p>
<p>一名簸箕蟲。詩。維南有箕。不可以簸揚。陶弘景曰。形扁如鱉。故名土鱉。玉篇。蹣跚。旋行貌。荀子。跛鱉千裡。蘇恭曰。無甲而有鱗。小兒多捕以負物為戲。埤雅。　逢申日則過街。故名過街。曹植賦。邦換壤別。李時珍曰。與燈蛾相牝牡。蘇軾詩。妍媸本在君。我豈相媚悅。</p>
<h3>伏翼</h3>
<p>味鹹平。主目瞑明目。夜視有精光。久服令人喜樂。媚好無憂。一名蝙蝠。生山谷。</p>
<p>肉芝仙飫。飲乳浮銀。倒飛垂腦。服氣調神。穴分鼠鳥。候變宵晨。漫推甲子。亦守庚申。</p>
<p>蘇恭曰。仙經列為肉芝。述異記。千歲之後。體白如銀。山洞有乳窟。飲汁而得長生。</p>
<p>參同契。采浮銀至寶於西方。拾遺記。岱輿山蝙蝠。有倒飛腹向天者。有腦重頭垂者。寇宗　曰。此善服氣。冬月不食。唐明皇詩。芝桂欲調神。正法念經。譬如蝙蝠。入穴為鼠。出穴為鳥。烏台詩案。蝠以日入為旦。日出為夕。陶潛詩。淹留忘宵晨。獨異志。明皇朝有張果老。不知歲數。道士葉靜能曰。此混沌初分。白蝙蝠精變化。自然論。蝙蝠夜值庚申則伏。許渾詩。</p>
<p>年長漫勞推甲子。夜深誰共守庚申。</p>
<h3>梅實</h3>
<p>味酸平。主下氣。除熱煩滿。安心肢體痛。偏枯不仁。死肌。去青黑志。惡疾。生川穀。</p>
<p>迎雨搖風。著枝疊累。捩齒津回。顰眉渴止。膾獸多春。和羹具美。酸點百人。升盤桃李。</p>
<p>風土記。夏至前為迎梅雨。風俗通。五月為落梅風信。雷思霈詩。半點微酸已著枝。漢書傳。嘉瑞疊累。陸游詩。村醪捩齒酸。峨眉山志。累累梅實。可以回津。黃庭堅詩。北客未嘗眉自顰。羅隱詩。曾與將軍止渴來。禮。膾獸用梅。又。春多酸。書。若作和羹。爾為鹽梅。南史傳。柳惲可謂具美。淮南子。百梅足以為百人酸。黃庭堅詩。得升桃李盤。</p>
<h3>大豆黃卷</h3>
<p>味甘平。主濕痹。筋攣膝痛。生大豆。塗癰腫。煮汁飲。殺鬼毒止痛。赤小豆。</p>
<p>主下水。排癰腫膿血。生平澤。（黃卷豆　也）</p>
<p>吉陬壬癸。罨豆孚生。玉攢　磔。冰脆牙萌。粥分口數。算布心精。殊形慧辨。莢穀通名。</p>
<p>李時珍曰。壬癸日以井華水浸大豆。候生芽用。詩疏。既方既皂。謂孚甲始生。方岳詩。</p>
<p>平明先視玉　磔。一夜怒長堪冰苴。田家五行。煮赤豆粥。大小人口皆食之。謂之口數粥。以驅疫。吳志傳。趙達治九宮一算之術。取小豆數升。播席上。立處其數。吳志傳。顧譚心精體密。左傳。周子有兄而無慧。不能辨菽麥。注。豆麥殊形易別。群芳譜。豆莢穀之總名也。</p>
<h3>粟米</h3>
<p>味鹹微寒。主養腎氣。去胃脾中熱。益氣。陳者味苦。主胃熱消渴。利小便。</p>
<p>比德陽精。粱甘穀續。冠鳳游龍。升金斗玉。天雨書成。地藏兵足。一穗三千。新田綏福。</p>
<p>管子。粟可以比君子之德。春秋說題辭。米者陽精。李時珍曰。粱即粟也。周禮疏。犬宜粱者。味甘而微寒。說文。粟之為言續也。續於穀也。拾遺記。背明國有鳳冠粟。游龍粟。閩志。唐時泉人客洛陽為羽衣。寄書遺以粟米半升。還家視之。金粟也。李白詩。雖有數斗玉。不如一盤粟。淮南子。倉頡作書而天雨粟。周禮注。九穀俱藏。以粟為主。神農之教曰。</p>
<p>帶甲百萬。無粟弗能守也。北方水土深濃。窖地而藏。群芳譜。諺云穀三千。一穗之實。至三千顆。言多也。易林。新田宜粟。以綏百福。</p>
<h3>黍米</h3>
<p>味甘溫。主益氣補中。多熱令人煩。</p>
<p>精移火轉。多黍豐蕃。新嘗荐廟。春釀盈樽。起鐘率度。吹律回溫。設桃雪賤。穀長宜尊。</p>
<p>春秋說題辭。精移火轉生黍。詩。豐年多黍多　。禮。仲夏之月。天子以雛嘗黍。先荐寢廟。說文。黍可為酒。從禾入水為意。曹鄴詩。黑黍春來釀酒飲。漢書志。度者本起黃鐘之長。以子穀　黍中者。一黍之廣。度之九十分。</p>
<p>黃鐘之長。列子。鄒衍在燕。吹律而溫氣。至今傳名曰黍穀。家語。魯哀公以黍雪桃。</p>
<p>孔子曰。黍五穀之長也。君子以賤雪貴。不聞以貴雪賤。</p>
<h3>蓼實</h3>
<p>味辛溫。主明目溫中。耐風寒。下水氣。面目浮腫。癰瘍。馬蓼。去腸中蛭蟲。輕身。生川澤。</p>
<p>間白分紅。垂珠穗密。辛佐盤陳。香濡腹實。莖矗塗斑。葉標記墨。安故蠕蟲。葵甘不食。</p>
<p>劉克莊詩。分紅間白汀洲晚。梅堯臣詩。無香結珠穗。寇宗　日。春初以水浸濕。懸火上使暖。生紅芽。備五辛盤。禮疏。濡豚包苦實。謂破其腹。實蓼於中。陶弘景曰。馬蓼莖斑葉大。李時珍曰。每葉中間有黑跡如墨點。方士呼為墨記草。楚辭芳草譜。蓼蟲不知徙乎葵菜。言蓼辛葵甘。蟲各安其故。不知遷也。易。井渫不食。</p>
<h3>蔥實</h3>
<p>味辛溫。主明目。補中不足。其莖可作湯。主傷寒寒熱出汗中風面目腫。　。味辛溫。主金創。創敗。輕身不飢耐老。生平澤。</p>
<p>脂膏相潤。切實醯柔。鹿胎白潔。龍角青浮。強宗霆擊。實政風流。金銀蘊實本末捐投。</p>
<p>禮。脂用蔥。膏用　。又。切蔥若　。實諸醯以柔之。李時珍曰。一名鹿胎蔥。蘇頌曰。一名龍角蔥。後漢書傳。龐參曰。拔大本薤者。欲吾擊強宗也。蔡邕碑。討惡如霆擊。晉書傳。庾亮啖薤留曰以種。陶侃嘆曰。非惟風流。兼有為政之實。酉陽雜俎。山上有蔥。下有銀。山上有薤。下有金。禮。為君子擇蔥　。則絕其本末。</p>
<h3>水蘇</h3>
<p>味辛微溫。主下氣。辟口臭。去毒辟惡。久服通神明。輕身耐老。生池澤。似荏如蘇。水濱漱嚙。虛植方莖。叢生對節。齒錯參差。腦含辛烈。調飪烹雞。　苴名別。</p>
<p>李時珍曰。蘇乃荏類。此草似蘇。好生水旁。三月生苗。方莖中虛。色青。葉對節生。</p>
<p>寇宗曰。葉槎牙如雁齒。吳瑞曰。俗呼龍腦薄荷。梅堯臣詩。膻腥失調飪。李時珍曰。其葉辛香。可以煮雞。故名雞蘇。名醫曰。一名芥　。一名芥苴。</p>
<h2>卷三下經</h2>
<h3>鍛石</h3>
<p>味辛溫。主疽瘍。疥搔。熱氣惡創。癩疾。死肌墮眉。殺痔蟲。去黑子息肉。一名堊灰。生山谷。</p>
<p>靈根椎鑿。鍛灶薪炊。水蒸濡化。風散靈吹。禁嚴度釀。塗解填肌。潛藏龍骨。歷久探奇。</p>
<p>劉孝孫詩。高嶂接云根。論衡。以椎系鑿。陶弘景曰。近山生青白石。作灶燒之。晉書傳。</p>
<p>荀勖曰。此是勞薪所炊。蘇頌曰。又名石　。有二種。風化者。置風中自解。水化者。以水沃之熱蒸而解。揚雄文。從風濡化。王履詩。滿山松樹送靈吹。陶弘景曰。灰性至烈。以度酒飲。則腹痛下利。蘇恭曰。療瘡生肌。李時珍曰。古墓中鍛石。名地龍骨尤佳。王維詩。</p>
<p>探奇不覺遠。</p>
<h3>石</h3>
<p>味辛。大熱。主寒熱。鼠　。蝕創死肌。風痹腹中堅。一名青分石。一名立制石。一名固羊石。出山谷。</p>
<p>山訊皋塗。特生澤乳。朝飼肥蠶。夕陳毒鼠。握雪寒凝。涵星光煦。文鸛營巢。求溫庇處。</p>
<p>山海經。皋塗之山。有白石焉。其名曰　。李時珍曰。石有蒼白二種。蒼者多特生。吳普曰。一名澤乳。郭璞曰。蠶食則肥。鼠食則死。丹房鑒源。握雪　石。盛寒時有髓。李時珍曰。</p>
<p>石有金星銀星等名。俱是一物。但以形色立名。容齋隨筆。文鸛伏卵。取石置巢中。以助溫氣。列子。避寒求溫。高啟詞。庇處密固。</p>
<h3>鉛丹</h3>
<p>味辛。微寒。主上逆胃反。驚癇　疾。除熱下氣。煉化還成九光。久服通神明。生平澤。（今名黃丹）</p>
<p>青金澀固。良冶銷熔。分形點醋。還質披蔥。霜砒毒伏。汞釜泥封。鹽砂決擇。元液沖融。</p>
<p>說文。鉛青金也。王好古曰。澀可去脫而固氣。寇宗　曰。鉛丹化鉛而成。禮。良冶之子。</p>
<p>丹房鑒源。炒鉛丹法。用土硫黃硝石。熔鉛成汁。下醋點之。待為末則成丹。若轉丹為鉛。</p>
<p>用蔥白汁拌丹。　成金汁。傾出即還鉛矣。日華子曰。鉛丹伏砒。陶弘景曰。塗丹釜所須。</p>
<p>李時珍曰。凡用須漂去硝鹽。飛去砂石。王　文。方融元液。</p>
<h3>粉錫</h3>
<p>味辛寒。主伏尸毒螫。殺三蟲。一名解錫。錫鏡鼻。主女子血閉。症瘕伏腸絕孕。生山谷。</p>
<p>鉛質銀光。生香和粉。糟瓮懸蒸。風爐扇緊。裂鼻通精。照心開蘊。為賊為媒。救　裁準。</p>
<p>說文注。銀色而鉛質也。庾信詩。和粉雜生香。桂海虞衡志。以黑鉛著糟瓮中罨化之。</p>
<p>謂之桂粉。李時珍曰。鉛錫一類也。熔片安水甑內。鹽泥固濟。風爐安火封養。即成粉。薑質賦。裂鼻之芬。子華子。肺之精其竅上通於鼻。古鏡銘。照心照膽保千春。元樂章。提綱開蘊。土宿指南。五金之中。獨錫易制。失其藥則為賊。得其藥則為媒。梁簡文帝論。救頭痛之。裴度書。有所裁準。</p>
<h3>代赭</h3>
<p>味苦寒。主鬼注賊風。蠱毒。殺精物惡鬼。腹中毒邪氣。女子赤沃漏下。一名須丸。</p>
<p>生山谷。</p>
<p>鐵精上達。灌水流丹。祥凝牛角。澤潤雞冠。罨金色瑩。拭劍光寒。余糧並產。牡蠣謾。</p>
<p>管子。山上有赭。其下有鐵。山海經。石脆之山。灌水出焉。中有流赭。注。今人以塗牛角云辟惡。名醫曰。色如雞冠。有澤者良。崔　曰。代赭陽石也。罨金色益赤。張華。以之拭劍。色益精明。與太乙余糧並生山峽中。蘇頌曰。真者難得。以左顧牡蠣代使。九章。或謾而不疑。</p>
<p>戎鹽。主明目。目痛。益氣堅肌骨。去毒蠱。大鹽令人吐。鹵鹽。味苦寒。主大熱消渴狂煩。除邪及下蠱毒。柔肌膚。生池澤。</p>
<p>天產咸鹺。希蹤明潔。凝樹飴甘。留潮石結。煮海飛霜。吹熏散雪。金鼎羹調。和梅就列。</p>
<p>禮。煮鹽之尚貴天產也。又鹽曰咸鹺。陸云賦。清和明潔。群動希蹤。唐書傳。黑水。</p>
<p>有鹽泉。氣蒸薄。鹽凝樹顛。李時珍曰。飴鹽生於戎地。味甘美。李當之曰。戎鹽是海潮澆山石。經久凝著石上者。急就篇注。夙沙氏煮海為鹽。張融賦。飛霜暑路。虞舜歌。南風之熏兮。曹植啟。離若散雪。蘇頌曰。解州池鹽。得南風則宿夕成。王安石詩。金鼎重調鹽。</p>
<p>閻伯　賦。可以和梅羹之調鼎。</p>
<h3>白堊</h3>
<p>味苦溫。主女子寒熱。症瘕目閉。積聚。生山谷。</p>
<p>堊分五色。白善稱材。浣衣雪潔。漫鼻風摧。繢開粉本。瓷重陶坯。蚩尤戰罷。山聚余灰。</p>
<p>蘇頌曰。堊有五色。入藥惟白者耳。名醫曰。一名白善士。管子注。稱材。材稱其用也。</p>
<p>寇宗曰。京師人用浣以衣。莊子。郢人堊漫其鼻。匠石運斤成風。盡堊而鼻不傷。陶弘景曰。即今畫家用者。蘇軾詩。粉本遺墨開明窗。李時珍曰。用燒白瓷器坯者。周文璞詩。雕鐫若陶坯。拾遺記。黃帝除蚩尤。聚骨如岳。數年後骨白如灰。故有白堊之山。</p>
<h3>冬灰</h3>
<p>味辛。微溫。主黑子去　息肉。疽蝕疥搔。一名藜灰。生川澤。</p>
<p>爐撥三冬。寒灰沉質。火荻輝揚。燃藜煙密。　水漚絲。吹莩縵室。心地澄然。酒杯淋溢。</p>
<p>杜甫詩。蟄龍三冬臥。鮑照詩。寒灰滅更燃。寇宗　曰。冬灰經三四月方撒爐。其灰力燥體重。抱朴子。火荻數千束。因猛風而燔之。陸云詩。厥輝愈揚。漢書傳。劉向校書天祿閣。</p>
<p>有老人植青藜杖。吹杖端煙然。陶弘景曰。諸蒿藜積聚煉作之。性烈。荻灰尤烈。周禮注。</p>
<p>水漚絲。以灰所　水也。後漢書志。候氣之法。布緹縵室中。每律各一。以葭莩灰抑其內端。氣至者灰去。李山甫詩。心地澄然一聚灰。蘇軾詩。趙子飲酒如淋灰。一年十萬八千杯。</p>
<h3>青琅</h3>
<p>味辛平。主身癢。火創癰傷。疥搔死肌。一名石珠。生平澤。</p>
<p>美珍西北。氣感陰陽。紅浮鐵網。青耀昆岡。珠非川媚。玉訝淵藏。獻分楚寶。禮重東方。</p>
<p>爾雅。西北之美者。有昆侖墟之　琳琅　。庚辛玉冊。生南海崖石內。自然感陰陽之氣而成。蘇頌曰。取珊瑚。先作鐵網沉水底。貫中而生琅　。明瑩若珠之色。而狀森植。列子。珠之樹叢生。李時珍曰。生於水者。為珊瑚。生於山者為琅　。可碾為珠。故得珠名。陸機賦。水懷珠而川媚。莊子。藏珠於淵。唐書志。楚州獻寶玉十三。八曰。琅　珠。周禮。以青禮東方。</p>
<h3>附子</h3>
<p>味辛溫。主風寒咳逆。邪氣溫中。金創。破症堅積聚血瘕。寒熱痿　。拘攣膝痛。不能行步。生山谷。</p>
<p>附母旁萌。嚴冬盈積。蹲坐形端。乳垂甄摘。力薄縮拳。側生連脈。畏惡猥多。禱神祈獲。</p>
<p>韓保升曰。烏頭旁如芋散生者。為附子。陶弘景曰。冬月采。楊天惠記。附子之形。以蹲坐正節。角少為上。有節多鼠乳者。次之。七月采者。謂之旱水。拳縮而小。是未成者。</p>
<p>又</p>
<h3>烏頭</h3>
<p>味辛溫。主中風惡風。洗洗出汗。除寒濕痹。咳逆上氣。破積聚寒熱。其汁煎之名射罔。殺禽獸。一名奚毒。一名即子。一名烏喙。生山谷。（今草烏頭）</p>
<p>如飴詠堇。頭喙分名。橐藏毒用。箭敷鋒迎。讒姬置肉。奇士揚觥。法窮釀造。不事鋤耕。</p>
<p>陳藏器曰。一名堇。詩。堇荼如飴。吳普曰。形如烏之頭。有兩歧相合。如烏之喙。是附子角之大者。淮南子曰。天下之物。莫凶於雞毒。良醫橐而藏之。有所用也。陶弘景曰。搗汁敷箭。射禽獸十步即倒。汪機曰。鋒銳捷利。國語。驪姬置堇於肉。明皇十七事。上謂力士曰。吾聞飲堇汁不死者。乃奇士也。以汁進。張果飲進二卮。醇然如醉。李時珍曰。根苗花實。與川烏頭同。此系野生。無釀造之法。楊天惠記。附子之田。歲以善田。一再耕之。</p>
<h3>天雄</h3>
<p>味辛溫。主大風寒濕痹。　節痛。拘攣緩急。破積聚邪氣。金創。強筋骨。輕身健行。一名白幕。生山谷。</p>
<p>朋附稱雄。易資獨托。盈握尖錐。豐臍絡幕。象眼形微。雞腸勇躍。忌見離群。如蠶僵箔。</p>
<p>劉禹錫表。實無朋附。李時珍曰。種附子。變出其形。長而不生子。故曰天雄。長而尖者。</p>
<p>謂之天錐。入藥須有象眼者良。其臍乃向上生苗處。楊天惠記。以豐實盈握者勝。釋名。幕絡也。淮南子注。取天雄、納雄雞腸中搗食之。令人勇。陳承曰。蜀人種附子忌生。此如養蠶。而或白僵之意。禮。離群而索居。</p>
<h3>半夏</h3>
<p>味辛平。主傷寒寒熱。心下堅。下氣。喉咽腫痛。頭眩胸脹。咳逆腸鳴止汗。一名地文。一名水玉。生川穀。</p>
<p>候生夏半。水玉明涵。白芍圓上。綠竹隅三。芥消涎滑。薑瀹咀甘。火風寒濕。餅曲詳諳。</p>
<p>李時珍曰。月令五月。半夏生。當夏之半也。水玉以形名。杜甫詩。明涵客衣靜。吳普曰。</p>
<p>白華圓上。蘇頌曰。生江南者。花似白芍藥。莖端三葉淺綠色。似竹葉。論語。不以三隅反。雷　論。用白芥子末。浸湯洗去涎滑。陶弘景曰。須用生薑以制其毒。韓維詩。插芳咀甘不知去。白飛霞曰。治風痰。火痰。濕痰。寒痰。李時珍曰。洗去皮垢。浸七日。或和作餅。或造為曲。賈島詩。星名未詳諳。</p>
<h3>虎掌</h3>
<p>味苦溫。主心痛。寒熱結氣。積聚伏梁。傷筋痿拘緩。利水道。生山谷。（今名天南星）</p>
<p>布地荑科。萌生毒卉。翹企蛇頭。細抽鼠尾。圓掌威伸。繁星光煒。由跋根新。體孱才菲。</p>
<p>謝靈運賦。散葉荑科。國語。逆節萌生。柳宗元記。嘉葩毒卉。蘇頌曰。初生作穗直上如鼠尾。花似蛇頭。結子自落布地。一子生一窠。蘇恭曰。根似扁柿。四畔有圓牙。看如虎掌。</p>
<p>傅咸表。威風得伸。庾闡詩。繁星如散錦。李時珍曰。虎掌因葉形似之。非根也。南星因根圓白。形如老人星狀。故名由跋。是南星之新根。其氣未足。不堪服食。梁蕭賦。才菲而體孱。</p>
<h3>鳶尾</h3>
<p>味苦平。主蠱毒邪氣。鬼注諸毒。破症瘕積聚。去水。下三蟲。生山谷。</p>
<p>烏鳶於止。挾勢如飛。碧分尾斷。黃裹頭垂。殖區修短。壤異磽肥。紛敷花色。強利從違。</p>
<p>吳普曰。一名烏鳶。大學。於止知其所止。詩。如飛如翰。蘇恭曰。闊短不抽長莖。花紫碧色。根皮黃。肉白。左傳。雄雞自斷其尾。韓保升曰。草名鳶尾。根名鳶頭。李時珍曰。此即射干之苗。非別種也。肥地者。莖長根粗。瘠地者。莖短根瘦。其花自有數色。諸家皆是強分耳。</p>
<h3>大黃</h3>
<p>味苦寒。主下瘀血閉。寒熱。破症瘕積聚。留飲宿食。蕩滌腸胃。推陳致新。通利水穀道。調中化食。安利五臟。生山谷。</p>
<p>色美黃良。西羌東蜀。牛舌伸舒。羊蹄躑躅。斑緊波旋。紫鋪錦縟。劍戟中心。頑堅凌觸。</p>
<p>李時珍曰。一名黃良。蘇恭曰。西羌蜀地者佳。白居易詩。東蜀殊歡渥。蘇頌曰。作緊片如牛舌形。蘇恭曰。根紅者。似宿羊蹄。雷　論。凡使細切。以文如水旋斑。緊重者良。益部方物略記。紫地錦文為最。范成大詩。中有將軍劍戟心。云笈七簽遇物凌觸。</p>
<h3>葶藶</h3>
<p>味辛寒。主症瘕積聚結氣飲食寒熱破堅。一名大室。一名大適。生平澤及田野。</p>
<p>朋儕靡草。亭室何須。黍粒黃細。薺莢青粗。異根歧角。別植長須。種分甘苦。酸味休渝。</p>
<p>禮注。靡草薺葶藶之屬。蘇頌曰。春生苗葉。高六七寸。似薺。枝莖俱青。結角子扁小如黍粒。微長。黃色。又有一種狗芥草。葉近根下。作歧生。角細長。取時必須分別。周禮注。</p>
<p>莢物薺莢之屬。雷　論。凡使勿用赤須子真相似。寇宗　曰。有甜苦二種。經言。味辛甜者。</p>
<p>不當入藥。治體以行水走泄為用。藥性論。不當言味酸。</p>
<h3>桔梗</h3>
<p>味辛微溫。主胸脅痛如刀刺。腹滿腸鳴幽幽。驚恐悸氣。生山谷。</p>
<p>沮澤庸求。有無心攝。關內葵根。嵩高杏葉。梗直疏通。蜜甘調燮。承載功同。巨川舟楫。</p>
<p>戰國策。求桔梗於沮澤。則累世不得一焉。蘇恭曰。桔梗薺　葉有差互者。有三四對者。</p>
<p>皆一莖直上。惟以根有心為別耳。蘇頌曰。關中所出。根黃皮似蜀葵。葉如菊。群芳譜。生嵩高山谷及冤句。根如指大。葉似杏葉。李時珍曰。此草之根。結實而梗直故名。名醫曰。甘草一名蜜甘。張元素曰。為肺部引經。與甘草同行。譬如鐵石入江。非舟楫不載。諸藥有此一味。不能下沉也。</p>
<h3>莨蕩子</h3>
<p>味苦寒。主齒痛出蟲。肉痹拘急。使人健行見鬼。多食令人狂走。久服輕身。走及奔馬。強志益力通神。一名橫唐。生川穀。</p>
<p>逐邪藏毒。放宕習聞。含苞罌貯。散粟房分。馳追蹀躞。胎乳　。飲和國老。解瞀銷棼。</p>
<p>陳藏器曰。取子曝乾。空腹水下。能除邪逐風。勿令子破。令人發狂。李時珍曰。服之令人狂浪放宕故名。蘇頌曰。殼作罌子狀。如小石榴。房中子至細。青白色。如粟米粒。篇海。</p>
<p>蹀躞。馬行貌。六書故。嗜進連步貌。易。天地　。史記。王美人懷子。久而不乳。淳於意。飲以莨蕩藥一撮。旋乳。張仲景曰。水莨蕩誤食令人狂亂。以甘草汁解之。莊子。飲入以和。名醫曰。甘草一名國老。</p>
<h3>草蒿</h3>
<p>味苦寒。主疥搔痂癢。惡創。殺虱留熱在骨間。明目。一名青蒿。一名方潰。生川澤。</p>
<p>氣早春陽。三秋余力。松檜香鄰。蓬藜群植。美詠鹿鳴。臭含　息。庚伏元辰。懸庭充食。</p>
<p>李時珍曰。青蒿得春木少陽之氣最早。夢溪筆談。此蒿深青如松檜之色。深秋余蒿並黃。</p>
<p>此蒿猶青。禮藜莠蓬蒿並興。詩。呦呦鹿鳴。食野之蒿。韓保升曰。其氣息似　臭。故名　蒿。月令通纂。伏內庚日。采青蒿懸於門庭辟邪。冬至元旦為末服。亦良。</p>
<h3>旋覆花</h3>
<p>味鹹溫。主結氣。脅下滿。驚悸。除水。去五臟間寒熱。補中下氣。一名金沸草。</p>
<p>一名戴椹。生川穀。</p>
<p>菊黃柳綠。善盜庚先。旋回羅疊。覆下錢圓。金垂滴滴。水近濺濺。香芬鼻觀。目忌延緣。</p>
<p>蘇頌曰。葉似柳根細。六月開花如菊。深黃色。爾雅。　盜庚。李時珍曰。庚者金也。</p>
<p>夏開黃花。盜竊金氣也。寇宗　曰。花圓而覆下。故名旋覆。群芳譜。一名疊羅金。李時珍曰。</p>
<p>花形如金錢菊。水澤邊生。俗傳露水滴下即生。故名滴滴金。趙孟　詩。妙香清鼻觀。酉陽雜俎。李衛公言。嗅其花能損目。莊子。延緣葦間。</p>
<h3>藜蘆</h3>
<p>味辛寒。主蠱毒。咳逆。泄利。腸　。頭瘍。疥搔。惡創。殺諸蠱毒。去死肌。一名蔥苒。生山谷。</p>
<p>大葉微根。相連節短。黎裹棕心。白憨蔥管。景仰山高。遲回水緩。吐嚏交通。頓驅風癉。</p>
<p>吳普曰。大葉小根相連。李時珍曰。黑色曰藜蘆。裹黑皮故名。根際似蔥。俗名蔥管藜蘆。</p>
<p>北人謂之憨蔥。蘇頌曰。初生苗葉似棕心。又似蔥白。此有二種。生高山者為佳。一種水藜蘆。生溪澗石上。不中藥用。</p>
<p>凡使服錢許。則惡吐。又能通頂。令人嚏。李時珍曰。吐風痰者也。</p>
<h3>鉤吻</h3>
<p>味辛溫。主金創乳　。中惡風。咳逆上氣。水腫。殺鬼注蠱毒。一名野葛。生山谷。</p>
<p>預儲蕹汁。救撲炎煬。箭噴裂吻。蔓繞屠腸。避棲飛鳥。飽飫肥羊。黃精益壽。美惡分詳。</p>
<p>陳藏器曰。蕹菜搗汁。解野葛毒。李時珍曰。滇人謂之火把花。言其性熱如火。東方朔文。</p>
<p>吹天火之炎煬。吳普曰。赤莖如箭。蘇恭曰。蔓生與白花藤相類。蘇舜欽詩。獠工裂吻燥。</p>
<p>戰國策。聶政抉目屠腸。陶弘景曰。鉤人喉吻。牽挽人腸。五符經言。飛鳥不得集。蘇恭曰。羊食其苗。大肥。物有相伏如此。博物志。人信鉤吻殺人。不信黃精益壽。不亦惑乎。李時珍曰。此以二草。美惡對待而言。陶氏。雷氏。韓氏。言相似者誤。</p>
<h3>射干</h3>
<p>味苦平。主咳逆上氣。喉痹咽痛。不得消息。散急氣。腹中邪逆。食飲大熱。一名烏扇。一名烏蒲。生川穀。</p>
<p>竹節薑根。庭台夏遍。紫蝶斜飛。烏蒲低扇。緣木身輕。臨城竿緣。異獸喬柯。同名角炫。</p>
<p>土宿指南。一名扁竹葉。如側手掌形。根亦如之。日華子曰。根形似高良薑。五六七月采。</p>
<p>陶弘景曰。人家庭台多種之。李時珍曰。今人所種。多是紫花者。呼為紫蝴蝶。其葉叢生。</p>
<p>橫鋪如烏翅及扇之狀。陳藏器曰。射干之名有三。此是草名。佛經。射干貂　是惡獸。能緣木。阮公詩云。射干臨層城。是樹殊高碩。蘇頌曰。別有射干。莖梗疏長。正如射人長竿狀。此不入藥。舒元輿賦。角炫紅缸。</p>
<h3>蛇合</h3>
<p>味苦微寒。主驚癇。寒熱邪氣。除熱。金創。疽痔鼠　。惡瘡頭瘍。一名蛇銜。生山谷。（合當作含）</p>
<p>高岡濕隰。細葉黃花。青含蛇口。紫折龍牙。傷連斷指。惡剪積瘕。澀酸竟命。知時滅瑕。</p>
<p>蘇頌曰。生土石上或下濕地。陶弘景曰。用細葉有黃花者。李時珍曰。根名女青。葉似龍牙而小。背紫色。異苑。昔有田父。見一蛇被傷。一蛇含此草著瘡上。經日蛇愈。抱朴子。蛇銜膏連已斷之指。直指方。研敷身面惡癬根斷。雷　論。勿用有柏尖葉者。號竟命草。其味澀酸。令人吐血。速服知時子可解。淮南子。抑微滅瑕。</p>
<h3>恆山</h3>
<p>味苦寒。主傷寒。寒熱。熱發溫瘧鬼毒。胸中痰結。吐逆。一名互草。生山谷。（今名常山）</p>
<p>藥以山名。儼尊北岳。橫節圓莖。白花青萼。就燥陽　。流濕陰濁。雞骨浮黃。功專已瘧。</p>
<p>李時珍曰。恆山乃北岳名。豈此藥始產於此歟。蘇恭曰。莖圓有節。二月生白花青萼。</p>
<p>其草暴燥。色青白堪用。若遇陰便黑爛郁壞。易。水流濕。火就燥。陶弘景曰。細實黃者。謂之雞骨。用之最勝。蘇頌曰。此藥為治瘧之最要者。</p>
<h3>蜀漆</h3>
<p>味辛平。主瘧及咳逆寒熱。腹中症堅痞結。積聚邪氣。蠱毒鬼注。生川穀。（即恆山苗）</p>
<p>漆何望蜀。互草新苗。轉丸縈結。傾酒醇調。蠱驅毒解。瘴御氣消。蜜香涼沁。甘飲相招。</p>
<p>後漢書傳。敕岑彭曰。既平隴。復望蜀。陶弘景曰。采得常山苗。縈結作丸。得時燥者佳。</p>
<p>雷論。以酒浸一宿。曝乾用。李時珍曰。嶺南瘴氣。寒熱所感。邪在營衛。欲除根本。非此藥不可。蘇頌曰。天台有一種土常山苗。味甘。人用為飲。又名蜜香草。性涼益人。非此苗也。</p>
<h3>甘遂</h3>
<p>味甘寒。主大腹疝瘕腹滿。面目浮腫。留飲宿食。破症堅積聚。利水穀道。一名主田。生川穀。</p>
<p>白體赤膚。名甘汁毒。節逐珠連。圓旋指掬。結散心胸。塗周臍腹。相反相成。道通水穀。</p>
<p>蘇頌曰。苗短小而葉有汁。根皮赤肉白。作連珠。大如指頭。張元素曰。此泄水之聖藥。</p>
<p>水結胸中。非此不除。但有毒不可輕用。李時珍曰。張仲景治心下留飲。與甘草同用。保命集。凡水腫未消者。以甘遂末塗腹繞臍。服甘草水即消。王　曰。一切腫毒。敷甘遂末。飲甘草汁即愈。二物相反。而感應如此。</p>
<h3>白蘞</h3>
<p>味苦平。主癰腫。疽瘡。散結氣。止痛除熱。目中赤。小兒驚癇溫瘧。女子陰中腫痛。一名兔核。一名白草。生山谷。</p>
<p>干同芷白。喜雜林蕪。枝端五葉。藤蔓多株。狡藏兔核。信應雞孚。遏癰斂潰。質赤何殊。</p>
<p>陶弘景曰。根如白芷。說文注。初生根干為芷。李白詩。林壑久已蕪。蘇恭曰。蔓生。</p>
<p>枝端有五葉。一株下有十許根。劉迎詩。人思狡兔藏三窟。說文注。卵孚也。如期不失信也。</p>
<p>蘇頌曰。生苗多在林中。根如雞卵而長。三五枚同窠。又一種赤斂。花實功用皆同。但表裡俱赤耳。</p>
<h3>青葙子</h3>
<p>味苦微寒。主邪氣。皮膚中熱。風搔身癢。殺三蟲。子名草決明。療唇口青。一名草蒿。一名萋蒿。生平穀。</p>
<p>鄰接胡麻。葙　音詭。高聳雞冠。尖垂兔尾。雁過秋紅。桃霏夏紫。披決光明。昭昭覺視。</p>
<p>李時珍曰。此草多生於胡麻地中。胡麻葉亦名青　。音相近。豈以其相似而然耶。花葉似雞冠。苗似莧。故謂之雞冠莧。梢間出花。穗尖長。如鼠尾。又一種名雁來紅。其葉九月鮮紅。望之如花。故名。陳藏器曰。又一種名桃朱術。花紫。五月五日。婦人收子帶之。為夫所愛。急就篇。刃端可以披決。淮南子。覺視於昭昭之宇。</p>
<h3>菌</h3>
<p>味鹹平。主心痛。溫中。去長蟲。白　。蟯蟲。蛇螫毒。症瘕諸蟲。一名　蘆。生池澤。</p>
<p>深秋叢葦。過雨繁釘。輕虛酥脆。表裡光熒。攻蛔羹　。御虺塵腥。桑菰竹蓐。和美同馨。</p>
<p>李時珍曰。　當作　。蘆葦之屬。此菌生於其下故名。韓保升曰。秋雨以時即有。汪藻詩。</p>
<p>累累萬釘繁。蘇恭曰。其菌色白輕虛。表裡相似。楊萬裡詩。酥莖嬌脆手輕拾。外台秘要。</p>
<p>蛔蟲攻心。羊肉　和食之效。李質賦。極驚蛇而走虺。元好問詩。鬧嫌人跡帶塵腥。潘之恆譜。埋桑木於土中。澆以米汁生菰。竹蓐。生朽竹根節。得溽濕之氣而成。呂氏春秋。和之美者。越駱之菌。</p>
<h3>白芨</h3>
<p>味苦平。主癰腫。惡創。敗疽。瘍陰。死肌。胃中邪氣。賊風鬼擊。痱緩不收。一名甘根。一名連芨草。生川穀。</p>
<p>科茁獨莖。根偏連芨。舌吐紅尖。臍凝白汁。菱角歧分。螺紋旋密。陽中之陰。秋金收翕。</p>
<p>李時珍曰。其根白色。連及而生。但一科止抽一莖。開花勻紅色。中心如舌。其根如菱角。</p>
<p>有臍。如鳧茈之臍。又如扁螺旋紋。性澀。而收得秋金之令。李杲曰。此陽中之陰也。</p>
<h3>大戟</h3>
<p>味苦寒。主蠱毒。十二水腫滿。急痛。積聚中風。皮膚疼痛。吐逆。一名邛鉅。</p>
<p>儼森列戟。鋒畏喉　。凝漿中注。直干高充。披綿藏穎。攢紫搖溶。附生宣泄。薺　消融。</p>
<p>左傳。富父終甥　其喉以戈。李時珍曰。其根辛苦。戟人咽喉故名。生平澤。甚多。直莖高二三尺。中空。折之有白漿。杭州紫大戟為上。北方綿大戟。根皮柔韌。甚峻利。范成大詩。山頭云氣尚披綿。駱賓王序。藏穎重岩。謝　詩。發萼初攢紫。李商隱詩。黃河搖溶天上來。王好古曰。此為瀉水之藥。濕勝者苦燥除之也。雷　論。凡使勿用附生者。誤服令人泄氣。即煎薺　湯解之。</p>
<h3>澤漆</h3>
<p>味苦微寒。主皮膚熱。大腹水氣。四肢面目浮腫。丈夫陰氣不足。生川澤。</p>
<p>科獨枝分。柔莖茂接。白骨白漿。綠花綠葉。鳳采輝翔。貓睛朗捷。制乳伏砂。益陰鬯浹。</p>
<p>李時珍曰。一科分枝成叢。柔莖如馬齒莧。有白汁黏人。其根白色。有硬骨。土宿指南。</p>
<p>一名綠葉綠花草。一名五鳳草。一名貓兒眼睛草。李時珍曰。莖頭凡五葉。中分中抽。小莖五枝。復有小葉承之齊整如一。故名五鳳葉。圓而黃綠。頗似貓睛。五月采。伏鐘乳。結丹砂。利丈夫陰氣。楊嗣復序。鬯浹於幽遐。</p>
<h3>茵芋</h3>
<p>味苦溫。主五臟邪氣。心腹寒熱。羸瘦如瘧狀。發作有時。諸關節風濕痹痛。生川穀莞蒲茵蓐。比類差參。細萌銀莽。密蔭石楠。赤塗霞　。白碎星含。解搜風癇。頓換春酣。</p>
<p>名醫曰。一名莞草。詩箋。小蒲之席也。漢書傳。車茵蓐也。韓愈詩。應對多差參。陶弘景曰。莖葉狀銀莽草而細軟。日華子曰。形似石楠樹葉。蘇頌曰。春生苗高三四尺。莖赤。夏四月開細白花。李時珍曰。古人治風癇妙品。今人罕知。朱子詩。莫將寒苦換春酣。</p>
<h3>貫眾</h3>
<p>味苦微寒。主腹中邪熱氣諸毒。殺三蟲。一名貫節。一名貫渠。一名百頭。一名虎卷。一名扁符。生山谷。</p>
<p>水曲山陰。暑寒獨適。中貫連卷。旁生滋益。翹尾摩翎。攢頭伏脊。煮豆療飢。　羹通嗌。</p>
<p>李時珍曰。多生山陰近水處。其根一本而眾枝貫之。吳普曰。貫中冬夏不凋。黑聚相連卷。</p>
<p>旁行生。蘇頌曰。葉綠色。似雞翎。又名鳳尾草。陶弘景曰。毛芒金似老鴟頭。韓保升曰。</p>
<p>苗似狗脊。郭璞贊。翹尾翻飛。王履詩。金仙已跨摩云翎。元好問詩。攢頭爭似與春爭。喬宇記。俯首伏脊。黃庭堅書。荒年以貫眾煮黑豆。日啖五七粒。能食百草木枝葉。有味可飽。禮。毋　羹。王　曰。有食魚羹。為骨所鯁。飲貫眾濃汁而消。</p>
<h3>蕘花</h3>
<p>味苦平寒。主傷寒溫瘧。下十二水。破積聚大堅症瘕。蕩滌腸胃中留癖飲食。寒熱邪氣。利水道。生川穀。</p>
<p>小株叢簇。花茁繁饒。鮮榮黃濕。燥曝白飄。桃僵李代。莞毒名淆。雍州土沃。岡嶺傾翹。</p>
<p>李時珍曰。小株花成簇。生蕘者饒也。其花繁饒也。生時色黃。干則色白。或言無蕘花。</p>
<p>以桃花代之。取其利耳。古樂府。李樹代桃僵。陶弘景曰。形似芫花。而極細。韓保升曰。以雍州者為上。生岡原上苗高二尺許。王融頌。葵藿微志徒傾翹。</p>
<h3>牙子</h3>
<p>味苦寒。主邪氣。熱氣。疥搔。惡瘍。創痔。去白蟲。一名野狼牙。生川穀。</p>
<p>擬狀蛇　。因時分選。春夏葉舒。秋冬根卷。嚙猛貪野狼。喙森噬犬。腐濕生衣。　咀刪翦。</p>
<p>韓保升曰。苗似蛇莓而濃大。汪機曰。蛇莓一名蛇　。楊炎曰。治蟲瘡。六月以前采葉。</p>
<p>以後用根生　咀。千金方。射工中人。冬取根。夏取葉。搗汁飲。名醫曰。一名野狼齒。一名野狼子。中濕腐爛。生衣者殺人。吳普曰。一名犬牙。呂溫狀。刪剪奇邪。</p>
<h3>羊躑躅</h3>
<p>味辛溫。主賊風在皮膚中淫淫痛。溫瘧惡毒諸痹。生川穀。</p>
<p>玉枝春盎。遍野紛黃。猛方說虎。擊獨驚羊。瓜花五出。桃葉分張。映山錦繡。別照紅妝。</p>
<p>名醫曰。一名玉枝。三月采花。蘇恭曰。似旋花色黃。李時珍曰。一名老虎花。一名驚羊。</p>
<p>古今注。羊見之則躑躅分散。韓保升曰。花似瓜花五出。葉似桃葉。蘇頌曰。嶺南蜀道遍生。深紅色。如錦繡然。李時珍曰。紅者山　躅。一名映山紅。與此別類。江總詩。初日照紅妝。</p>
<h3>商陸</h3>
<p>味辛平。主水脹。疝瘕痹。熨除癰腫。殺鬼精物。一名　根。一名夜呼。生川穀。</p>
<p>占爻。剛柔貫綜。事鬼焉能。象人而用。雜鯉湯烹。摘蔬畦種。赤目摧筋。功難決壅。</p>
<p>易疏。莧陸　。剛上柔下也。王肅曰。莧陸。一名商陸。何承天書。貫綜幽明。論語。</p>
<p>焉能事鬼。蘇恭曰。赤者能見鬼神。孟子。為其象人而用之也。名醫曰。如人形者有神。陶弘景曰。切根雜鯉魚煮湯。療水腫。李時珍曰。昔人以為蔬。取白根及紫色者。擘破作畦栽之。雷　論。一種赤目苗葉相類。傷筋骨不可服。陳嘉謨曰。療水貼腫。其效如神。中論。決壅導滯。</p>
<h3>羊蹄</h3>
<p>味苦寒。主頭禿疥搔除熱女子陰蝕。一名東方宿。一名連蟲陸。一名鬼目。生川澤。</p>
<p>野行采　。黃赤盈蹊。秋冬心茂。花葉顏齊。牛舒長舌。羊奮歧蹄。潔　制　。煉士能稽。</p>
<p>詩。我行其野。言采其　。詩疏。　牛　。今之羊蹄也。李時珍曰。根長近尺。赤黃色。</p>
<p>入夏起苔花。葉一色。夏至即枯。秋深即生。凌冬不死。葉長尺余。似牛舌之形。寇宗　曰。</p>
<p>葉可潔治。　石子名金蕎麥。燒煉家用以制　。</p>
<h3>蓄</h3>
<p>味辛平。主浸淫。疥搔疽痔。殺三蟲。生山谷。</p>
<p>扁蔓綿延。道周細潔。藜植赤莖。麥含粉節。餌誤研丹。灰猶煉雪。呷醋童嬰。頓蘇蛔嚙。</p>
<p>吳普曰。一名扁蔓。韋應物詩。綿延稼盈疇。新論。好行細潔。爾雅注。似小藜赤莖節。</p>
<p>好生道旁。蘇頌曰。苗似瞿麥。李時珍曰。節間有粉。方士呼為粉節草。燒灰煉霜用。孟詵曰。服丹石沖眼者。搗汁服之。小兒蛔咬心。醋煎空心服。</p>
<h3>野狼毒</h3>
<p>味辛平。主咳逆上氣。破積聚飲食。寒熱。水氣。惡創。鼠　。疽蝕。鬼精。蠱毒。</p>
<p>殺飛蟲走獸。一名續毒。生山谷。</p>
<p>六陳舉一。九種心平。衡量重實。芟夷浮輕。飲昏食餮。獸怪禽驚。防葵濫廁。　茹纏縈。</p>
<p>馬志曰。此與麻黃橘皮半夏枳實吳茱萸為六陳也。孟子舉一而廢百也。和劑局方。治九種心痛。一蟲。二蛀。三風。四悸。五食。六飲。七冷。八熱。九氣。名醫曰。陳而沉水者良。</p>
<p>韓保升曰。根輕浮者劣。王續詩。此日長昏飲。玉篇。餮。貪食也。唐太宗詩。怖獸潛幽壑。驚禽散碧空。蘇頌曰。今人用枯朽野狼毒當防葵。大誤。李時珍曰。　茹如續隨子之狀。或以其根。為野狼毒者非是。</p>
<h3>白頭翁</h3>
<p>味苦溫。主溫瘧狂易。寒熱症瘕。積聚癭氣。逐邪止痛。療金創。一名野丈人。一名胡王使者。生山谷。</p>
<p>陌上行行。儼逢群叟。紫注藥顏。皓盈蓬首。摩頂憐兒。免身贈婦。百節噓和。遐不黃。</p>
<p>應璩詩。古有行道人。陌上見三叟。陶弘景曰。近根有白茸。狀似白頭老翁故名。蘇頌曰。</p>
<p>根紫色深。如蔓菁。黃滔詩。微紅見藥顏。朱子詩。興來亂插飛蓬首。孟子。摩頂放踵而為之。張籍詩。身老特憐兒。葛洪曰。治小兒禿瘡。史記。世家。趙朔婦。免身生男。秦嘉有贈婦詩。張仲景曰。治婦人產後痢虛。甄權曰。治百節骨痛。宋祁序。噓和吐妍。詩。遐不黃。寇宗　曰。新安山中。賣白頭翁丸。言服之壽考。</p>
<h3>鬼臼</h3>
<p>味辛溫。主殺蠱毒。鬼注精物。辟惡氣不祥。逐邪。解百毒。一名爵犀。一名馬目毒公。一名九臼。生山谷。</p>
<p>羞寒自蔽。八角靈奇。面青背赤。東向西垂。繁星側比。巨眼斜窺。瓊田芝熟。三臼忘飢。</p>
<p>益都方物略記。根莖綴花蔽葉。自隱名為羞寒花。李時珍曰。丹爐家采根制汞。其葉八角者最靈。高啟詩。靈奇務窮搜。丹房鑒源。莖端生葉。面青背赤。蘇頌曰。一葉如傘。旦時東向。及暮則西傾隨日出沒也。根如南星。八九枚側比相疊。陶弘景曰。根白處如馬眼而柔。</p>
<p>潤山谷詩注。玉芝一名瓊田草。即鬼臼。煮面皮。裹一臼吞之。數日不飢。啖三臼可辟穀也。</p>
<h3>羊桃</h3>
<p>味苦寒。主　熱身暴赤色。風水。積聚。惡瘍。除小兒熱。一名鬼桃。一名羊腸。生川穀。</p>
<p>萇楚纖柔。弱依林莽。細麥風搖。夭桃春蕩。水漾滑涎。陸鋪平掌。具釀　湯。揩磨癢。</p>
<p>陶弘景曰。山野多有。詩。隰有萇楚即此。詩疏。其枝莖弱。過一尺引蔓於樹上。爾雅注。</p>
<p>子如小麥。亦似桃形。韓保升曰。花葉皆似桃。李時珍曰。其條浸水。有滑涎。葉大如掌。</p>
<p>陳藏器曰。根浸酒。治風熱。蘇恭曰。煮汁洗風癢效。黃庭堅詩。揩磨　癢風助威。</p>
<h3>女青</h3>
<p>味辛平。主蠱毒。逐邪惡氣。殺鬼溫瘧。辟不祥。一名雀瓢。</p>
<p>青殊蘿　。是草非藤。苗經蛇嚙。根亦龍騰。飲難瓢貯。系合囊承。蠲　攘穢。福祿胥膺。</p>
<p>（莫臥切）</p>
<p>名醫曰。蛇含根也。李時珍曰。女青有二。一是藤生。似蘿　者。一是草生。即蛇含根也。</p>
<p>又有大小二種。小者是蛇銜。用苗莖。葉大者為龍銜。用根。蘇恭曰。子似瓢形。大如棗許。葛洪曰。搗女青末三角。絳囊盛之。正月上寅日。懸帳中吉。陶弘景曰。帶此一兩。則疫癘不犯。郝經詩。蕩攘邪穢蠲　。陸云詩。福祿是膺。</p>
<h3>連翹</h3>
<p>味苦平。主寒熱鼠　。瘰　癰腫。惡創癭瘤。結熱蠱毒。一名異翹。一名蘭華。一名軹。一名三廉。生山谷。</p>
<p>小大翹分。形藏闔捭。榆葉狹長。蓮房中解。熱散心涼。聲通耳駭。芬馥含仁。脫莖瀟洒。</p>
<p>蘇恭曰。此有兩種。大翹生下濕地。小翹生岡原之上。長安惟用大翹子。鬼穀子。乃可捭。</p>
<p>乃可闔。蘇頌曰。青葉狹長。如榆葉。結實似蓮。內作房瓣。剖之則中解。其實才干。振之皆落。不著莖也。甄權曰。除心家客熱。王好古曰。治耳聾渾渾　。李時珍曰。其中有仁甚香。</p>
<h3>茹</h3>
<p>味辛寒。主蝕惡肉。敗創死肌。殺疥蟲。排膿惡血。除大風熱氣。善忘不樂。生川穀。</p>
<p>茹根牽引。色尚黃勻。金漿漆汁。青顆白仁。博聞強記。靜臥安身。能痊馬疥。飛　驚塵。</p>
<p>范子計然云。出武都。黃色者善。陶弘景曰。初斷時汁出凝黑如漆。李時珍曰。本作蘆。</p>
<p>其根牽引之貌。破之有黃漿。結實如豆大。生青熟黑。中有白仁。禮。博聞強記而讓。陶弘景文。可以安身靜臥。寇宗　曰。治馬疥尤善。虞集歌。飛鞍驚塵遍南陌。</p>
<h3>烏韭</h3>
<p>味甘寒。主皮膚。往來寒熱。利小腸膀胱氣。生山谷石上。</p>
<p>漠漠斑斑。石苔熏發。青冪毛衣。翠披卷發。養愛云陰。紋添雨歇。屋　飄游。幽情超越。</p>
<p>白居易詩。漠漠斑斑石上苔。臨川志熏發而起。陳藏器曰。生大石及木陰處。青翠茸茸。</p>
<p>日華子曰。一名石衣。蘇恭曰。一名石發。蘇子卿詩。丹水浴毛衣。詩。卷發如蠆。蘇軾詩。</p>
<p>昨日云除重。李白詩。野涼疏雨歇。李時珍曰。烏韭是瓦松之生於石上者。與垣衣屋游同類。崔融賦。瓦松產於屋　之上。錢起詩。幽步更超越。</p>
<h3>鹿藿</h3>
<p>味苦平。主蠱毒。女子腰腹痛不樂。腸癰瘰　瘍氣。生山谷。</p>
<p>溷生麥隴。名共葛苗。蔓紛淮豌。莢纈蜀椒。黃香氣潤。粉紫風飄。喜招鹿飼。漫具烹調。</p>
<p>（豌音剜）</p>
<p>陶弘景曰。葛苗一名鹿藿。蘇恭曰。苗似豌豆。而引蔓長。農書。豌豆大者。名淮豆。</p>
<p>爾雅注。葉似大豆。蔓延生根黃而香。李時珍曰。多生麥地。三月開淡粉紫花。結小莢。其子大如椒子黑色。生熟皆可食。豆葉曰藿。鹿喜食之故名。陸游詩。豉香鹽白自烹調。</p>
<h3>蚤休</h3>
<p>味苦微寒。主驚癇。搖頭弄舌。熱氣在腹中。　疾癰創。陰蝕。下三蟲。去蛇毒。一名蚩休。生川穀。</p>
<p>如轉河車。休哉蚤捷。七葉一枝。重台三疊。掌運趺承。頭昂舌貼。氣朗天清。長生陳牒。</p>
<p>蘇頌曰。一名紫河車。李時珍曰。蟲蛇之毒治之。即休。故有此名。陳嘉謨曰。一名七葉一枝花。蘇恭曰。一名重台。葉有二三層者。日華子曰。治胎風。手足搐掣。服食經。紫河車。根切塊。水煮。風乾。每服三丸。五更初。面東致祝。連進三服。即能休糧。祝辭曰。天朗氣清金雞鳴。吾今服藥欲長生。</p>
<h3>石長生</h3>
<p>味鹹微寒。主寒熱。惡創。火熱。辟惡氣。不祥鬼毒。一名丹草。生山谷。石有時泐。草獨長留。色逾檜澤。地旁蕨柔。丹沙名異。元漆光浮。KT　筋細紫。藥物何求。</p>
<p>周禮。石有時以泐。益部方物記。長生草生山陰。蕨地修莖。茸葉色似檜而澤。經冬不凋。</p>
<p>李時珍曰。一名丹沙草。陶弘景曰。葉似蕨而細如龍須。黑如光漆。蘇恭曰。市人以KT筋草</p>
<h3>陸英</h3>
<p>味苦寒。主骨間諸痹。四肢拘攣。疼酸。膝寒痛。陰痿。短氣不足。腳腫。生川穀。</p>
<p>蒴　敷華。蕭秋啟候。五葉纏枝。百枚貯豆。水節清肥。木心虛秀。粲兮三英。骨風效奏。</p>
<p>蘇恭曰。此即蒴　也。古方惟言。陸英後人不識耳。蘇頌曰。爾雅榮而不實。謂之英。</p>
<p>此物英名。當是其花。名醫云。宜秋采。正是其花時也。李時珍曰。每枝有五葉。寇宗　曰。子初青。如綠豆顆。每朵如盞而大。生一二百子。蘇恭曰。此葉似芹。及接骨花三物。亦同類芹。名水英。接骨名木英樹。此三英也。水英根葉肥大。主治骨風。木英體輕虛無心。續筋骨。除風痹。詩。三英粲兮。</p>
<h3>藎草</h3>
<p>味苦平。主久咳。上氣喘逆。久寒驚悸。痂疥。白禿。瘍氣。殺皮膚小蟲。生川穀。</p>
<p>王芻貢草。忠藎名垂。掬盈綠采。染變金姿。服垂　綬。穀訪青衣。莎呼鴟腳。竹誤猗猗。</p>
<p>爾雅。綠王芻。李時珍曰。古者貢草。入染人。故謂之王芻。而盡忠者。謂之藎臣也。</p>
<p>詩。</p>
<p>終朝采綠。不盈一掬即此。草本綠色可染黃。名醫曰。染作金色。漢書注。諸侯　綬。　草似艾可染。因以名綬。蘇恭曰。生青衣川穀。青衣縣。在益州西。掌禹錫曰。即綠蓐草也。</p>
<p>今呼為鴟腳莎。詩云。綠竹猗猗是也。資暇集。綠竹王芻也。今為辭賦。皆引猗猗。入竹事大誤。</p>
<h3>牛扁</h3>
<p>味苦微寒。主身皮創熱氣。可作浴湯。殺牛虱小蟲。又療牛病。生川穀。芮堇形同。</p>
<p>平蕪扁毒。捫虱爬搔。牽牛觳觫。細搗油塗。含溫湯沐。建草赤莖。水中短竹。</p>
<p>蘇恭曰。此藥似堇草石龍芮輩。生平澤。或名扁毒。歐陽修文。不足爬搔於蟣虱。孟子。</p>
<p>有牽牛而過堂下者。又。吾不忍其觳觫。蘇頌曰。其根苗搗末。油調殺蟣虱。陳藏器曰。虱建草。莖赤。治蟣虱蟲瘡。又水竹。葉生水中。葉如竹而短。亦去蟣虱。</p>
<h3>夏枯草</h3>
<p>味苦辛寒。主瘰　。鼠　。頭瘡。破症散癭。結氣腳腫。濕痹輕身。一名夕句。一名乃東。生川穀。</p>
<p>方莖對節。鐵色非污。三冬孳茂。九夏摧枯。理通陽復。氣感陰徂。臭郁茺蔚。榮悴潛符。</p>
<p>李時珍曰。其莖微方。葉對節生。一名鐵色草。蘇恭曰。冬至後生葉。三四月開花作穗。</p>
<p>五月便枯。梁元帝纂要。冬曰三冬。夏曰九夏。晉書志。陽氣生而孳茂。柳宗元牒。力易摧枯。胡震亨曰。此草稟純陽之氣。得陰氣則枯。臭郁草即茺蔚也。兩物俱入夏即枯。夏枯先枯而無子。臭郁後枯而結子。五燈會元。潛符蜜證。</p>
<h3>芫花</h3>
<p>味辛溫。主咳逆上氣。喉鳴喘。咽腫短氣。蠱毒鬼瘧。疝瘕癰腫。殺蟲魚。一名去水。生川穀。</p>
<p>去水功收。毒亦滋濃。白沃星榆。青　風柳。擷趁春先。蓄宜歲久。薄醉游魚。花開秋後。</p>
<p>左傳。以濃其毒。名醫曰。一名毒魚。蘇頌曰。根入土深三五寸。白色似榆根。春生苗。</p>
<p>葉小而尖。似楊柳枝葉。二月開紫花。劉憲詩。官樹似星榆。袁凱詩。雨蒲風柳自紛然。韓保升曰。葉未生時。采花晒乾。葉生花落。即不堪用。李時珍曰。留數年陳久者良。又有醉魚草。七八月開花成穗。紅紫色。儼如芫花。漁人采以毒魚。色狀氣味。與芫花同。但花開時不同為異耳。</p>
<h3>巴豆</h3>
<p>味辛溫。主傷寒溫瘧寒熱。破症瘕結聚堅積。留飲痰癖。大腹水脹。蕩練五臟六腑。</p>
<p>開通閉塞。利水穀道。去惡內。除鬼毒蠱注邪物。殺蟲魚。一名巴叔。生川穀。</p>
<p>如菽如豆。蜀棧凌云。棱尖雄辨。細緊雌分。房開雙瓣。線起縱紋。療牛肥鼠。物性偏欣。</p>
<p>李時珍曰。此物出巴蜀。形如菽豆故名。有棱及兩頭尖者是雄。緊小者是雌。用之得宜。</p>
<p>皆有功效。蘇頌曰。木高一二丈。五六月結實作房。一房有二瓣。或一子或三子。戎州出者殼上有縱紋。隱起如線一道至二三道。牛經。巴豆研油灌之。療牛疫。陶弘景曰。鼠食之肥。</p>
<p>物性相耐如此。</p>
<h3>蜀</h3>
<p>味辛溫。主邪氣咳逆溫中。逐骨節皮膚死肌寒濕痹痛下氣。久服之。頭不白。身輕增年。生川穀。</p>
<p>使者含丸。馨香下抑。葉疊滑堅。枝森刺棘。浮艷衣紅。搖光瞳黑。一合一開。茂州嘉植。</p>
<p>清異錄。一名含丸使者。服椒訣。其氣馨香。其性下行。蘇頌曰。本似茱萸而小。有針刺。葉堅而滑。寇宗　曰。凡用蜀椒。去裡面黃殼。取紅用。李時珍曰。其子光黑。如人之瞳子。他椒不似之。四川志。各州俱有。以茂州出者為佳。其殼一開一合者最妙。孟郊詩。嘉植鮮危柯。</p>
<h3>皂莢</h3>
<p>味辛鹹溫。主風痹死肌。邪氣風頭。淚出。利九竅。殺精物。生川穀。</p>
<p>長垂脂濃。短具牙形。鐵封蕃茂。篾束飄零。熏煙溽散。調酒風停。蒼鱗百歲。去垢常青。</p>
<p>李時珍曰。一種長而肥濃多脂。一種小如豬牙。不結實者。樹鑿一孔。入生鐵三五斤。</p>
<p>泥封之。即結實。其樹多刺。難以上采。以篾束之。一夜自落。寇宗　曰。溽暑久雨。合蒼朮燒煙辟邪疫。簡要方。中風口噤。溫酒調服少許。張耒詩。不緣去垢須青莢。自愛蒼鱗百歲根。</p>
<h3>柳華</h3>
<p>味苦寒。主風水黃膽面熱黑。一名柳絮。葉主馬疥痂創。實主潰癰逐膿血。子汁療渴。生川澤。</p>
<p>濯濯依依。荑生春坻。黃拂鱗皴。白沾絨洗。日照垂纓。風吹擲米。愛想當年。甘棠澤比。</p>
<p>劉詵詩。楊柳濯濯弄輕陰。詩。楊柳依依。夏小正。正月柳　傳。　者發孚也。群芳譜。</p>
<p>初生寸余。開黃花。鱗起　上。甚細碎。漸次生葉。長成。花中結細子。如粟米大。細扁而黑。上帶白絮如絨。隨風飛舞。薛能詩。條綠似垂纓。離筵日照輕。陸游詩。復似麻姑行擲米。南史傳。楊柳風流可愛。似張緒當年時。南齊書傳。王敬則。於北館種楊柳。虞長耀曰。北人以為甘棠。</p>
<h3>楝實</h3>
<p>味苦寒。主溫疾傷寒。大熱煩狂。殺三蟲疥瘍。利小便水道。生山谷。</p>
<p>低昂紅紫。花信風周。金鈴搖曳。珠彈輕柔。資供雛食。善種雌求。區分肉核。性不相謀。</p>
<p>韓愈詩。紅紫相低昂。歲時記。花信風。始梅花。終楝花。李時珍曰。實名金鈴子。孟浩然詩。王孫挾珠彈。蘇頌曰。三四月開花紅紫色。實如彈丸。南史傳。凡所資供。一無所受。</p>
<p>農書。　雛食其實。淨住子能生善種。詩。尚求其雌。蘇恭曰。雌雄二種。雌者有子。雷論。凡使肉不使核。使核不使肉。論語。道不同不相為謀。</p>
<h3>郁李仁</h3>
<p>味酸平。主大腹水腫。面目四肢浮腫。利小便水道。根主齒斷腫。齲齒堅齒。一名爵李。生川穀。</p>
<p>白白朱朱。香繁條軟。微扇風和。晴烘日暖。蜜漬核香。湯溫根短。不受肥污。爰宜潔盥。</p>
<p>趙　詩。朱朱白白綴繁枝。白居易詩。香繁條軟弱。陶潛詩。春風扇微和周翰詩。晴烘始空。花史。性喜暖日和風。澆用清水。以性潔故也。雷　論。核仁去皮尖。用生蜜浸一宿。研膏用之。日華子曰。根治小兒身熱。作湯浴之。公羊傳注。潔白而不受污。金史志。爰潔其盥。</p>
<h3>莽草</h3>
<p>味辛溫。主風頭癰腫。乳癰疝瘕。除結氣疥搔。殺蟲魚。生山谷。</p>
<p>性工迷　。椒臭堪憎。茁空花實。蔓繞蘿藤。黠藏鼠磔。毒肆蟲　。攻熏剪氏。蠹物胥懲。</p>
<p>陶弘景曰。莽本作　。李時珍曰。食之令人迷　故名。山人以之毒鼠。又謂之鼠莽。寇宗曰。</p>
<p>揉之其臭如椒。蘇頌曰。若石楠。而葉稀無花實。一說藤生。繞石木間。既謂之草藤生者是也。周禮。剪氏掌除蠹物。以攻KT　攻之。以　草熏之。</p>
<h3>雷丸</h3>
<p>味苦寒。主殺三蟲。逐毒瓦斯。胃中熱。利丈夫。不利女子。作摩膏。除小兒百病。生山谷。</p>
<p>苓寓松根。丸藏竹　。擊豈聞雷。添還過雨。疏利宜男。提防近女。稚子分甘。累累膏乳。</p>
<p>李時珍曰。竹之余氣所結。猶松根之伏苓。霹靂擊物。精氣所化。此物生土中。殺蟲逐邪。</p>
<p>猶之雷斧雷楔也。蘇轍詩。過雨時添好子孫。馬志曰。疏利男子元氣。不疏利女子藏氣。曹植頌。草號宜男。國語。是謂遠男而近女。杜甫詩。筍根稚子無人見。洪炎詩。分甘須剩。蘇軾詩。累累似桃李。一一流膏乳。</p>
<h3>桐葉</h3>
<p>味苦寒。主惡蝕創著陰皮。主五痔。殺三蟲。華。主敷豬創。飼豬肥大三倍。生山谷。</p>
<p>土宜五沃。拱把嘉桐。朝陽合抱。參極空中。涼瓊夏蔭。濡毳冬融。令儀君子。瑞應廂東。</p>
<p>管子。五沃之土。其木宜桐。孟子。拱把之桐梓。夏侯湛賦。植嘉桐乎庭前。詩。於彼朝陽。陳翥詩。合抱由滋此。嵇康賦。參辰極而高驤。易緯。桐枝空中。高啟詩。涼瓊夏葉舒。</p>
<p>徐茂詩。濡毳桐枝別作葩。廣州志。白桐華有白毳。淹漬緝織為布。詩。其桐其椅。其實離離。豈弟君子。莫不令儀。瑞應圖。王者任用賢良。梧桐生於東廂。</p>
<h3>梓白皮</h3>
<p>味苦寒。主熱去三蟲。葉搗敷豬創。飼豬肥大三倍。生山谷。</p>
<p>楸茂赤章。梓疏白理。內拱尊王。長生著美。牧豢豬肥。伐奇牛徙。順孝孫曾。敬恭鄉裡。</p>
<p>詩疏。楸之疏理。白色而生子者為梓。李時珍曰。赤者為楸。木理白者為梓。爾雅翼。</p>
<p>植於林。諸木皆內拱。埤雅。梓木為木王。禮斗威儀。君乘火而王。其政和平。梓為長生。王續詩。閑田且牧豬。元中記。終南山有梓樹。秦文公伐之。中有青牛。逐之入澧水。雜五行書。舍西種梓楸各五根。子孫順孝。黃庭堅贊。以福孫曾。詩。維桑與梓。必恭敬止。</p>
<h3>石南</h3>
<p>味辛苦。主養腎氣。內傷陰衰。利筋骨皮毛。實。殺蠱毒。破積聚。逐風痹。一名鬼呂。生山谷。</p>
<p>清溪文石。聳異傾妍。葉苞花孕。花散葉遷。染斑雨漬。籠旭陰圓。別儔交讓。餌想夫憐。</p>
<p>胡汾詩。本自清溪石上生。漢書志注。碭山出文石。孟郊詩。聳異敷庭際。傾妍來坐隅。</p>
<p>寇宗曰。冬有二葉。為花苞。苞既開。中有十五余花。花才罷。舊葉全脫。漸生新葉。蘇頌曰。葉青黃色。有紫斑。雨多則並生。陰翳可愛。不透日氣。吳寬詩。別種為交讓。名醫曰。</p>
<p>女子不可久服。令思男楊維楨詩。猶唱想夫憐。</p>
<h3>黃環</h3>
<p>味苦平。主蠱毒。鬼注。鬼魅。邪氣在臟中。除咳逆寒熱。一名凌泉。一名大就。</p>
<p>生山谷。</p>
<p>西蜀生芻。汁黃苗赤。蟠曲藤纏。　累葛　。旋轉環圓。縱文輻坼。野狼跋魚浮。臨淵坐獲。</p>
<p>名醫曰。生蜀郡山谷。吳普曰。一名生芻。生苗正赤。葉有汁黃白。根黃色。蘇恭曰。</p>
<p>今園庭亦種之。作藤生大者。根莖六七寸。根亦葛類。花實與葛同。格物總論。藤附大木。蟠曲而上。詩。南有　木。葛　累之。李時珍曰。葉黃而圓故名。吳普曰。根黃色。縱理如車輻解。陶弘景曰。子名野狼跋。搗以雜木。投水中。魚皆浮出。漢書傳。臨淵羨魚。儀禮。獲者坐而獲。</p>
<h3>疏</h3>
<p>味辛寒。主身皮膚中熱。除邪氣。止遺溺。可作浴湯。生山谷及田野。故邱墟地。</p>
<p>異稱巨骨。附寄荒墟。雙雙對待。節節空疏。刺猜枸杞。莢判楊櫨。三熏三浴。冰雪肌膚。</p>
<p>名醫曰。一名巨骨。張望詩。荒墟人跡稀。蘇恭曰。其子八九月熟。必兩兩相對。張憲詩。</p>
<p>萬古晨昏常對待。李當之曰。一名空疏。皮白中空。時時有節。馬志曰。　疏枸杞相似。</p>
<p>疏有刺。枸杞無刺。蘇恭曰。楊櫨一名空疏。其子有莢。名醫曰。除胃中熱。可作浴湯。國語。三熏三浴之。莊子。肌膚若冰雪。</p>
<p>鼠李。主寒熱。瘰　創。生田野。</p>
<p>締構烏巢。緣林鼠咽。周角條垂。畸零枝戀。紫蓄漿濃。綠凝染練。　梓名同。北山偏擅。</p>
<p>蘇頌曰。即烏巢子也。高啟詩。林驚緣樹鼠。寇宗　曰。子於條上四邊生。生青熟紫。至秋葉落子尚在枝。李時珍曰。其實附枝如穗。人采其嫩者。取汁染成綠色。名醫曰。一名鼠梓。說文。　鼠梓。詩。北山有　。李時珍曰。苦楸一名鼠梓。與此不同。</p>
<h3>藥實根</h3>
<p>味辛溫。主邪氣。諸痹疼酸。續絕傷。補骨髓。一名連木。生山谷。</p>
<p>藥紛諸子。木以連名。花同春發。實獨秋成。絕者復續。虧以求盈。既消蠱疰。亦解蛇縈。</p>
<p>漢書志。諸子之言。紛然淆亂。蘇頌曰。黃藥子出嶺南。秦州出者。紅藥子。施州出者赤藥子。七月開白花。蘇恭曰。開州出苦藥子。皆相類。李時珍曰。藥實子雖似黃藥。苦藥。微有不同。二藥子不結子。此則樹之子也。禮記疏。斷者不可續。論衡。不嫌虧以求盈。蘇盈曰。除蠱疰蛇毒。</p>
<h3>欒華</h3>
<p>味苦寒。主目痛。淚出傷　。消目腫。生川穀。</p>
<p>作樹以欒。染人　漚。榮槿青丫。喬槐黃覆。籠聚浮泡。丸圓傾豆。通利華精。重明瞀。</p>
<p>廣韻。作樹以欒。周禮。以　水漚其絲。蘇恭曰。五月六月收花。染黃色甚鮮明。葉似木槿。花黃似槐。殼似酸漿。實如豌豆。圓黑堅硬。宋書志。雨水方降木槿榮。爾雅。槐棘丑喬。李時珍曰。酸漿。一名燈籠草。一名天泡草。拾遺記。背明國有傾離豆。葉垂覆地。黃庭經。通利華精調陰陽。（華精目精也）韓愈詩。淚目苦　瞀。</p>
<h3>蔓椒</h3>
<p>味苦溫。主風寒濕痹。　節疼。除四肢厥氣。膝痛。一名家椒。生川穀。及邱塚間。</p>
<p>亦椒似。刺　人衣。豢聞說彘。俗聽呼　。臨風蔓弱。含露叢依。氣蒸湯浴。汗雨頻揮。</p>
<p>陶弘景曰。俗呼為　子。似椒而小。裴迪詩。丹刺　人衣。李時珍曰。此椒氣如豕。故有彘椒椒諸名。枝軟如蔓。其子叢生。莊子。祝宗人說彘曰。吾將三月　汝。漢樂府。妃呼。爾雅疏。郁氣謂鬱蒸之氣也。禮。　湯請浴。國語。揮汗成雨。陶弘景曰。可以蒸病出汗。</p>
<h3>豚卵</h3>
<p>味苦溫。主驚癇癲疾。鬼注蠱毒。除寒熱。賁豚。五癃。邪氣攣縮。一名豚顛。懸蹄。主五痔。伏熱在腸。腸癰內蝕。</p>
<p>豢息么　。采收下體。祭設冬先。納從咸比。操酒穰穰。涉波彌彌。琢　分施。百骸湔洗。</p>
<p>說文。豕息也。豢以穀。爾雅注。最後生者。呼為么豚。李時珍曰。牡豬小者。多　去卵。</p>
<p>易釋文。豕去勢。曰　。詩。無以下體。禮。孟冬之月。祭先腎。保生要錄。咸納腎。</p>
<p>千金方。除陰莖中痛。史記傳。淳於　見禳田者。操一豚蹄。酒一盂。祝曰。穰穰滿家。詩。</p>
<p>涉波矣。又。河水彌彌。宋濂序。雕肝琢腎。周邦彥賦。或　蹄而折　。徐積詩。五臟孰云可湔洗。百骸終恐生蟲窠。</p>
<h3>麋脂</h3>
<p>味辛溫。主癰腫。惡創死肌。寒風濕痹。四肢拘緩不收。風頭腫氣。通腠理。一名官脂。生山谷。</p>
<p>麋游澤　。喜聽音操。性迷群牝。體蓄凝膏。輕冰涼散。活火研熬。機心久謝。自潤嬉敖。</p>
<p>後漢書志。注。麋十千為群。掘食草根。其處成泥。名曰麋　。埤雅。麋喜音聲。白虎通德論。麋為獸迷惑。陶弘景曰。麋一牡輒交十余牝。其脂墮地。水經注。凝膏下垂。望齊冰雪。韋充賦。暗斷輕冰。周禮注。夏獻麋。麋膏散。散則涼。陸游詩。活火生新焰。齊民要術。啖炙肥者細研熬之。杜甫詩。機心忘已久。何事驚麋鹿。後漢書傳。孔奮身處脂膏。不能以自潤。蘇軾詩。脫略萬事惟嬉敖。　鼠。主墮胎。令人產易。生平穀。儼說胎禽。高居下赴。翼蝠身狐。耳麋首兔。鳴雜宵更。飛攜乳哺。感氣相催。回睛目注。</p>
<p>宋史志。偉茲胎禽。爾雅注。能從高赴下。不能從下上高。狀如小狐。似蝙蝠。肉翅。</p>
<p>山海經注。一名耳鼠。麋耳。兔首。李時珍曰。喜夜鳴。說文。言飛走。且乳之鳥。又名飛生。</p>
<p>寢其皮。懷其爪。皆能催生。食之不昧。可御百毒。棗據詩。回睛盼曲阿。韓倨詩。南盡遠目注。</p>
<h3>六畜毛蹄甲</h3>
<p>味鹹平。主鬼注蠱毒。寒熱驚癇。　狂走。駱駝毛尤良。</p>
<p>六畜遂字。四體分施。附膚燎墜。剔腹益姿。圓歧蹄辨。攫裂甲披。明駝溫縟。避暑毛吹。</p>
<p>漢書傳。六畜遂字。孟子。施於四體。燕書。賈堅彎弓射牛於百步之外。附膚落毛。柳文。覆墜之易如燎毛。抱朴子。剔腹背無益之毛。虞裕文。干陽也。故馬蹄圓。淮南子。牛歧蹄而戴角。宋書傳。熊羆厲爪蓄攫裂之心。酉陽雜俎。明駝千裡足。多誤作鳴字。埤雅。駝毛縟溫濃。夏退毛盡。乃能避熱。韓愈詩。吁無吹毛刃。</p>
<h3>蝦蟆</h3>
<p>味辛寒。主邪氣。破症堅血癰腫。陰創。服之不患熱病。生池澤。</p>
<p>拖紫紆青。池泓閣閣。禮掌焚灰。仙傳竊藥。食鷓身痊。背芝光爍。五日良儲。辟兵祛瘧。</p>
<p>卞彬賦。紆青拖紫。石介詩。數尺流水滿池泓。洪駒父詩。閣閣已在茲。周禮。蟈氏掌去蛙黽。焚牡　以灰洒之。張衡文。羿請不死之藥於西王母。嫦娥竊之以奔月。是為蟾蜍。投荒雜錄。南方水族。狀如蛙。食之味美如鷓鴣。治虛勞。道書。蟾蜍萬世。背生芝草為世瑞。抱朴子。肉芝者萬歲蟾蜍。五月五日午時取之。陰乾帶於身。辟五兵。物類相感志。五月五日收蝦蟆治瘧。蘇軾詩。爭儲百藥良。張詠詩。劇談夜祛瘧。</p>
<h3>馬刀</h3>
<p>味辛微寒。主漏下赤白。寒熱。破石淋。殺禽獸賊鼠。生池澤。（即齊蛤）</p>
<p>喧撈泥浦。巧類刀裁。夜侵燈影。寒孕珠胎。瓊研粉細。紫吐唇開。短長狹正。眾體兼該。</p>
<p>元稹詩。泥浦喧撈蛤。蘇頌曰。多生沙泥中。張　詩。夜蚌侵燈影。埤雅。蚌孚乳以秋。</p>
<p>其孕珠若懷妊然。謂之珠胎。蘇恭曰。殼煉粉得火良。孔平仲詩。報君以淮南紫唇之蛤。李時珍曰。其形像刀。其類甚多。長短斜正。性味功用皆同。傅咸賦。體該眾妙。</p>
<h3>蛇蛻</h3>
<p>味鹹平。主小兒百二十種驚癇。螈　。　疾。寒熱。腸痔。蟲毒。蛇癇。火熬之良。</p>
<p>一名龍子衣。一名蛇符。一名龍子單衣。一名弓皮。生川穀及田野。</p>
<p>似之而非。它蟲靈蛻。雪電藏形。風雷偃勢。蚓蟻失乘。　蛆殘噬。凡骨登仙。飽餐脫滯。</p>
<p>莊子。蛇蛻也。似之而非也。說文。它從蟲而長。郭璞贊。靈蛻乘煙。白居易賦。鱗甲晶以雪色。睛眸　其電光。李紳詩。已應蛻骨風雷後。韓非子。云罷霧霽。龍蛇與蚓蟻同矣。則失其所乘也。關尹子。　蛆食蛇。陸游詩。凡骨已蛻身自輕。夏侯湛序。棄俗登仙。爾雅翼。</p>
<p>草居。恆飢。每得食稍飽。輒蛻殼。避暑錄話。神仙升舉。形滯難脫。</p>
<h3>蚯蚓</h3>
<p>味鹹寒。主蛇瘕。去三蟲。伏尸。鬼注蠱毒。殺長蟲。仍自化作水。生平土。飲泉食塊。心慧操廉。碧云晴漏。翠雨濕沾。逶迤春畫。綰結冬潛。泥封六一。莫保觸鹽。</p>
<p>東方虯賦。上食塵塊。下飲淵泉。淮南子食土者。無心而慧。孟子。充仲子之操。則蚓而後可者也。任士林賦。碧云晴漏。陳旅詩。檐曲細含翠雨涼。李德裕賦。入虛白而逶迤。蘇軾歌。春蚓秋蛇隨意畫。易林。綰結難解。禮。仲冬之月蚯蚓結。歲時記。五月五日午時於韭畦取蚯蚓干之。謂之六一泥。治魚鯁。東方虯賦。　泥塗以自保。觸鹽滋而罔全。寇宗曰。被其毒者。以鹽湯浸之。並飲鹽水。</p>
<p>味辛平。主久聾。咳逆。毒瓦斯出刺出汗。生川穀。</p>
<p>咽咽　。情殷負子。穴地纖腰。撲花小尾。本異末同。情傳精委。蛛網塵封。營巢蘆葦。</p>
<p>唐闕名賦。　鼓翅。咽咽傳意。詩。螟蛉有子。果裸負之。墨客揮犀。穴地為巢者名。元　詩。纖腰軟無力。李賀詩。黃蜂小尾撲花歸。唐闕名賦諒末同而本異。齊邱文。</p>
<p>之蟲。螟蛉之子。傳其情。交其精。薛道衡詩。暗牖懸蛛網。柳宗元詩。硯匣留塵盡日封。</p>
<p>陶弘景曰。一種蜂黑色。腰甚細。銜泥於人屋及器物邊作房。生子如粟米大。捕取草上青蜘蛛十余枚。滿中仍塞口。其一種。入蘆管中者。亦取草上青蟲也。</p>
<h3>蜈蚣</h3>
<p>味辛溫。主鬼注。蠱毒。啖諸蛇蟲魚毒。殺鬼物。老精溫瘧。去三蟲。生山谷。</p>
<p>冬寒閉蟄。春暖昭蘇。赤連歧尾。黑簇雙須。禁施荒虺。畏制垂蛛。誤攫毒嚙。桑沃鹽塗。</p>
<p>左傳。閉蟄而蒸。禮。蟄蟲昭蘇。李時珍曰。蜈蚣冬蟄春出。歧尾雙須。韓保升曰。黑頭。赤足者良。博物志。蛇虺見之。而蟠伏似施禁法。沈　期詩。截荒虺。鶴林玉露。蜘蛛以溺射之即死。蘇軾詩。落月出柳看垂蛛。陶弘景曰。被嚙者。以桑汁白鹽塗之。</p>
<h3>水蛭</h3>
<p>味鹹平。主逐惡血。瘀血。月閉。破血瘕。積聚。無子。利水道。生池澤。</p>
<p>三斷三成。清泠水性。鹵汁攜行。寒菹任病。龜宅安歸。鮫巢莫令。一紀超形。人功物命。</p>
<p>博物志。水蛭三斷而成三物。白居易詩。清泠由水性。陶弘景曰。蛭有數種以水中者為佳。</p>
<p>李時珍曰。山行。攜繭鹵汁一筒。避諸蛭。新書。楚惠王食寒菹而得蛭。遂吞之。病不為傷。嵇康詩。坎井蝤蛭宅。神龜安所歸。王令詩。蛟龍宜自宅。蚓蛭莫令巢。神仙傳。桓君謂陶隱居曰。君修本草。用虻蟲水蛭輩為藥。功雖及人。而害物命。以此一紀後方得解形。</p>
<h3>斑蝥</h3>
<p>味辛寒。主寒熱鬼注。蠱毒鼠　。惡創疽蝕。死肌。破石癃。一名龍尾。生川穀。</p>
<p>四時變化。蝥刺當秋。喙尖赤注。甲畫斑留。豆花涼晚。藍汁香浮。曾聞采葛。亭長前修。</p>
<p>古詩。四時更變化。李時珍曰。一名　蝥。言其毒如矛刺也。春秋繁露。怒氣為清而當秋。</p>
<p>雷論。斑蝥甲上一畫黃。一畫黑。嘴尖處。有一小赤點。在豆葉上食豆汁。孟淑卿詩。豆花雨過晚生涼。李時珍曰。中斑蝥毒者。以藍靛汁解之。范成大詩。生香風外浮。太平御覽。春食莞花為莞青。夏食葛花為亭長。秋食豆花為斑蝥。冬入地中為地膽。蘇頌曰。四蟲皆是一類。隨時變化耳。賈逵書。景仰前修。</p>
<h3>貝子</h3>
<p>味鹹平。主目翳。鬼注蟲毒。腹痛下血。五癃利水道。燒用之。生池澤。水陸居分。</p>
<p>陰陽象審。儀錫百朋。貨區五品。文瑩羅珠。言成織錦。御害靈奇。天然異稟。</p>
<p>爾雅。貝居陸焱。在水　。六書精蘊。背穹而渾以象天之陽。腹平而折以象地之陰。詩箋。</p>
<p>貨貝五貝為朋。錫百朋。得祿多也。漢書志。王莽為貨貝五品。南州異物志。文若羅珠。不磨而瑩。詩。成是貝錦。相貝經。徑尺之貝。靈奇之秘寶。其次則御害一也。陳琳箋。此乃天然異稟。</p>
<h3>石蠶</h3>
<p>味鹹寒。主五癃。破石淋。墮胎。內解結氣。利水道除熱。一名沙虱。生池澤。</p>
<p>蠶形石化。亦育中阿。候無眠起。樂在風波。身環泥繭。羽化灰蛾。云師雨虎。相蕩相摩。</p>
<p>馬志曰。石蠶生海岸石旁。狀如蠶。其實石也。李時珍曰。與此不同。詩。在彼中阿。</p>
<p>韓保升曰。此蟲所在。水石間有之。埤雅。蠶三眠三起。張志和詞。樂在風波不用仙。寇宗　曰。作絲繭長寸許。以蔽其身。其色如泥。陳藏器曰。春夏羽化。作小蛾水上飛。李時珍曰。</p>
<p>霍山有云師。狀如蠶。長六寸。雨虎。狀如蠶。長七八寸。皆石蠶之類。易。剛柔相摩。八卦相蕩。</p>
<h3>雀瓮</h3>
<p>味甘平。主小兒驚癇。寒熱結氣。蠱毒鬼注。一名躁舍。</p>
<p>五色　。白涎凝凍。蛹閉專房。蛾穿破瓮。附愛榴甘。墜添棘重。同寄桑蛸。風搖日弄。</p>
<p>名醫曰。一名　房。八月采。陳藏器曰。背有五色斑毛。能螫人。欲老者。口中吐白汁。</p>
<p>凝聚漸堅。正如雀卵。其蟲以瓮為繭。在中成蛹。夏月羽化而出。作蛾放子。曹鄴詩。專房莫相妒。元稹詩。破瓮嫌防路。李時珍曰。此蟲處處有之。惟取石榴樹上。及棘枝上。房內有蛹者。正如螵蛸。取桑上者耳。萬楚詩。日弄長飛鳥。風搖不卷花。</p>
<h3>蜣螂</h3>
<p>味鹹寒。主小兒驚癇螈　。腹脹寒熱。大人　疾狂易。一名　蜣。火熬之良。生池澤。</p>
<p>深睛昂鼻。附母飛行。圓催丸轉。光撲燈明。久諳飽穢。忽化飢清。野狐覓食。暗聽鐘聲。</p>
<p>韓保升曰。此類多種。以鼻高目深者入藥。莊子。　蜣之智。在於轉丸。陶弘景曰。俗名推丸。寇宗　曰。腹翼有小黃。子附母而飛。晝伏夜出。見燈光則來。狐喜食之。抱朴子曰。</p>
<p>鳴蟬潔飢。不羨蜣螂穢飽。李時珍曰。柞蟬有轉丸化成者。蘇軾詩。洪鐘起暗室。能作殷床聲。</p>
<h3>螻蛄</h3>
<p>味鹹寒。主產難。出肉中刺。潰癰腫下哽噎。解毒除惡創。一名蟪蛄。一名天螻。一名。夜出者良。生平澤。</p>
<p>穢穴聲來。陰生夏至。一技無成。五能徒備。晝伏宵行。雄升雌墜。磨鐵相招。烙驚赤地。</p>
<p>蘇頌曰。穴地糞壤中而生。禮注。孟夏螻蟈鳴。陰氣動於夏。應之而鳴也。蔡邕文。碩鼠（螻蛄別名）五能。不成一技。注。能飛不能上屋。能緣不能窮木。能游不能度穀。能穴不能藏身。能走不能絕人。山海經。　宵飛而晝伏。爾雅正義。雄者善鳴善飛。雌者不能飛翔。食風與土類。從磨鐵致蛄。物相感也。李時珍曰。燒地令赤。置螻於上。任其跳死。覆者雄。仰者雌也。</p>
<h3>馬陸</h3>
<p>味辛溫。主腹中大堅症。破積聚息肉。惡創白禿。一名百足。生川穀。（即馬　大蜈蚣也）</p>
<p>翠屏搖曳。逃影岩嵌。避蝸涎滑。羨蛇足芟。步嗤鱉跛。醉解雞饞。食牛氣壯。鳴鼓聲嚴。</p>
<p>嶺南異物志。珠崖人。每晴明。見海中遠山羅列如翠屏。東西不定。悉蜈蚣也。高啟詩。</p>
<p>罔兩忌影逃岩嵌。玉匣記。蝸牛登蜈蚣背。以涎繞之。其足自落。莊子。　憐蛇。注。以有而羨無也。黃庭堅詩。百足馬　笑鱉跛。束晰記。雞以蜈蚣為酒。食之即醉。異物志東南海中。</p>
<p>蜈蚣長數丈。能啖牛。裡人秋冬間。鳴鼓燃火炬。以驅逐之。</p>
<h3>地膽</h3>
<p>味辛寒。主鬼注。寒熱鼠　。惡瘡死肌。破症瘕墮胎。一名　青。生川穀。寂歷冬心。披尋寒膽。蠢動陽舒。蟄藏陰慘。　尾霞拖。烏頭云　。蟻垤同封。垂精接感。</p>
<p>江淹賦。連　冬心。寂歷冬暮。朱子詩。肝膽不勝寒。禮注。春之言蠢。蠢動。生之貌也。</p>
<p>云笈七簽。禽蟲蟄藏。以不食而全。劉峻論。陽舒陰慘。李時珍曰。此莞青亭長之類。冬月入蟄者。黑頭赤尾。蘇軾詩。霞拖弄修帔。張衡賦。云師　以交集。陶弘景曰。出涼州。狀如大馬蟻有翼。淮南子。蟻知馬垤。歐陽修跋。垂精接感。分源而流。</p>
<h3>鼠婦</h3>
<p>味酸溫。主氣癃。不得小便。婦人月閉血症。癇　寒熱。利水道。一名負蟠。一名威。生平穀。</p>
<p>訛沿鼠婦。稱溷雞群。足垂多跡。脊蹙橫紋。伴蛸寄寂。抱瓮持勤。赤頭青股。丹戩形分。</p>
<p>陶弘景曰。爾雅。名鼠婦。言鼠在坎中。背多黏負。今訛為婦。李時珍曰。俗名地雞。</p>
<p>白居易詩。未曾回眼向雞群。寇宗　曰。多足大者三四分。背有橫紋蹙起。詩。伊芳威在室。　蛸在戶。黃庭堅詩。寄寂喧哄間。蘇頌曰。在下濕處瓮器底。及土坎中。黃庭堅文。持勤補拙。名醫曰。丹戩生蜀郡。青股赤頭。狀如鼠婦。</p>
<h3>熒火</h3>
<p>味辛微溫。主明目。小兒火創傷熱氣。蠱毒鬼注通神。一名夜光。生池澤。</p>
<p>開闔光浮。悠揚腐化。雙影池中。獨征月下。羅扇輕揚。斑帘疏罅。冠將和丸。武威扶藉。</p>
<p>蘇軾詩。惟有孤螢自開闔。葛長庚詩。俯仰浮光幾點星。劉禹錫詩。千門九陌飛悠揚。</p>
<p>禮。</p>
<p>季夏之月。腐草為螢。紀少瑜詩。臨池影更雙。潘岳賦。翩翩獨征。駱賓王詩。含暉疑泛月。杜牧詩。輕羅小扇撲流螢。杜甫詩。帘疏巧入坐人衣。神仙感應篇。務成子螢火丸。主辟疾病。諸毒兵刃。盜賊凶害。一名冠將丸。又名武威丸。郝經詩。扶藉不絕聖。</p>
<h3>衣魚</h3>
<p>味鹹溫無毒。主婦人疝瘕。小便不利。小兒中風項強。背起摩之。一名白魚。生平澤。</p>
<p>膚黃粉白。歧尾游　。朽憐瓜化。靜效魚沉。巧藏衣笥。緣結書林。發環脈望。空悟鑽尋。</p>
<p>爾雅。　白魚。爾雅翼。　始則黃色。既老則身有粉。視之如銀。寇宗　曰。其形似魚。</p>
<p>尾分二歧。酉陽雜俎。張周見壁上瓜子化為壁魚。始知列子朽瓜化魚之言不誣也。許渾詩。魚沉水中靜。李時珍曰。白魚喜藏衣帛書紙中。書。惟衣裳在笥。元好問詩。書林結後緣。酉陽雜俎。脈望如發卷之無端。乃衣魚三食神仙字所化。參同契注。鑽尋故紙。以望得悟。</p>
<h3>彼子</h3>
<p>味甘溫。主腹中邪氣。去三蟲。蛇螫蠱毒。鬼注伏尸。生山谷。（彼當作　即榧實）</p>
<p>裴然成章。霜松雪柏。牡壯騰華。牝虛孕核。想像蜂黃。驅除蟲白。外澤中貞。金盤荐席。</p>
<p>李時珍曰。　亦作　。木名文。木裴然成章。故謂之榧。宋史傳。張　曰。李仁甫如霜松雪柏。蘇恭曰。其木如柏。其理似松。爾雅翼。木有牝牡。牡者華而牝者實。葉適歌。坐對蜂兒還想像。孟詵曰。治寸白蟲日食七枚。七日蟲化為水。劉子　詩。外澤中貞期是似。蘇軾詩。粲為金盤實。</p>
<h3>桃核仁</h3>
<p>味苦平。主瘀血。血閉。瘕邪。殺小蟲。桃花殺注惡鬼。令人好顏色。桃鳧。微溫。主殺百鬼精物。桃毛。主下血瘕。寒熱積寒。無子。桃蠹。殺鬼邪惡不祥。生川穀。</p>
<p>練精五木。靈藥遼東。壤藏仁白。牆覆花紅。枝留果碩。膽拭毛茸。竹檠梢掛。允彼飛蟲。典術。桃者。五木之精。章孝標詩。求師飽靈藥。他日訪遼東。孔平仲詩。食桃棄其核。</p>
<p>下與糞壤藏。劉克莊詩。歲歲春風花覆牆。易。碩果不食。禮疏。桃曰膽之。拭治去毛。令色青滑如膽也。種樹書。桃生小蟲。以多年竹燈。檠掛樹梢。即自落。詩。允彼桃蟲。</p>
<h3>杏核仁</h3>
<p>味甘溫。主咳逆。上氣雷鳴。喉痹下氣。產乳金創。寒心賁豚。生川穀。遣嫁春婚。卜收秋獲。花簇金丹。餳調冰酪。羊熟酥含。蟲殲油灼。聰利怡神。華滋咀嚼。</p>
<p>文昌雜錄。王員外家。杏花多不實。一媒嫗曰。來春嫁了此杏。冬深攜酒至云。是婚家撞門酒。辭祝再三。來春結子無數。文獻通考。杏多實不蟲者。來年秋禾實。李時珍曰。杏金丹方。杏熟收仁研汁。入釜火煎。十日起白霜。霜盡金花出。丹乃成。玉燭寶典。寒食研杏仁得酪。以餳沃之。陳基詩。冰酪賜來初。開河記。麻叔謀以羊同杏酪蒸之。謂曰。含酥蠻。</p>
<p>扶壽方。蛆蟲入耳。搗杏仁泥。以油調滴。野人閑話。辛夤孫夢神告以食杏。令其聰利。和津咀嚼。老而輕健。郭璞賦。咀嚼華滋。</p>
<h3>腐婢</h3>
<p>味辛平。主　瘧。寒熱邪氣。泄利。陰不起。病酒。頭痛。生漢中。</p>
<p>感秋氣腐。畏日憎花。和羹亦有。飲酒無涯。樹尋莖曲。葛引藤斜。草木臭味。群婢紛嘩。</p>
<p>名醫曰。小豆花也。七月采。掌禹錫曰。有腐氣故名。齊民要術。豆花憎見日。見日則黃爛根焦。詩。亦有和羹。心鏡。治諸疾用花同豉汁。五味煮羹食。千金方。加葛花等分。水調服。飲酒不醉。陶弘景曰。海邊小樹。狀如梔子。莖葉多曲。氣臭腐。能療瘧。土人呼為腐婢。蘇恭曰。腐婢相承。以為葛花。消酒大勝。左傳。譬於草木。君之臭味也。史記世家。</p>
<p>桓子嘆曰。夫子罪我。以群婢故也。元好問詩。不來堅坐看紛嘩。</p>
<h3>苦瓠</h3>
<p>味苦寒。主大水。面目四肢浮腫。下水令人吐。生川澤。</p>
<p>柔蔓弱條。凌霄秋系。其落無容。不才共濟。蹄踐情移。穰灰性制。肥白輪　。淨無翳。</p>
<p>麻九疇詩。弱條柔蔓漸縈回。范　詩。凌霄必有為。莊子。憂其瓠落無所容。國語。苦瓠不材。與人共濟而已。汪機曰。有原種是甘變為苦者。俗謂牛馬踐踏之故。蘇恭曰。服苦瓠過分。吐利不止者。以黍穰灰汁解之。凡用苦瓠。以細理瑩淨。無　翳者佳。僧道衍詩。嫩瓠肥白才　。陸游詩。家園瓜瓠漸輪　。</p>
<h3>水靳</h3>
<p>味甘平。主女子赤沃。止血養精。保血脈益氣。令人肥健嗜食。一名水英。生池澤。</p>
<p>潔清是尚。菜美芹荑。瓊田玉本。碧澗青泥。豆加芬實。盤饋春齊。至尊思獻。德遍氓黎。</p>
<p>詩疏。采芹尚潔清也。呂氏春秋。菜之美者。云夢之芹。朱子詩。瓊田何日種。玉本一時生。高啟詩。飯煮憶青泥。羹炊思碧澗。周禮。加豆之實。芹菹兔醢。四時寶鏡。東晉李鄂。</p>
<p>立春日以蘆菔芹菜為菜盤相饋貽。嵇康書。野人有快炙背而美芹子者。欲獻之至尊。詩。群黎百姓。遍為爾德。</p>
