<header><h1>神農本草經百種錄</h1></header>
<dl class="元資料" data-type="book">
<div><dt>作者</dt><dd>徐大椿</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1644/1911">公元1644年至公元1911年</data></dd></div>
<div><dt>底本</dt><dd>出自《四庫全書》文淵閣本（<a href="https://www.kanripo.org/ed/KR3e0098/WYG/000">掃描及文字化版</a>）。電子文本修訂自永諸藏書。</dd></div>
<div><dt>品質</dt><dd>80%</dd></div>
</dl>
<h2>序</h2>
<p>百物與人殊體，而人藉以養生卻病者，何也？蓋天地亦物耳，惟其形體至大，則不能無生。其生人也得其純，其生動物也得其雜，其生植物也得其偏。顧人之所謂純者，其初生之體然耳。及其感風寒暑濕之邪，喜怒憂思之擾，而純者遂漓，漓則氣傷，氣傷則形敗，而物之雜者、偏者，反能以其所得之性補之、救之。聖人知其然也，思救人必先知物。蓋氣不能違理，形不能違氣，視色別味，察聲辨臭，權輕重，度長短，審形之事也。測時令，詳嗜好，分盛衰，別土宜，求氣之術也。形氣得而性以得。性者，物所生之理也，由是而立本草、制湯劑以之治人。有餘瀉之，不足補之，寒者熱之，熱者寒之，溫者清之，清者溫之，從者反治，逆者正治。或以類相從，或畏忌各矯其弊以復於平。其始則異，其終則同。夫天地生之，聖人保之，造化之能，聖人半之，天地不能專也。漢末張仲景《金匱要略》及《傷寒論》中諸方，大半皆三代以前遺法，其用藥之義，與《本經》吻合無間。審病施方，應驗如響。自唐以後，藥性不明，方多自撰，如《千金方》、《外臺祕要》之屬，執藥治病，氣性雖不相背，而變化已鮮。沿及宋元藥品日增，性未研極，師心自用，謬誤相仍。即用《本經》諸種，其精微妙義，多所遺漏。是以方不成方，藥非其藥，間有效用，亦偶中而非可取，必良由《本經》之不講故也。余竊悲焉，欲詳為闡述，其如耳目所及無多，古今名實互異，地土殊產，氣味不同。且近世醫人所不常用之藥，無識別而收採者。更有殊能異性，義在隱微，一時難以推測，若必盡解全經，不免昧心誣聖。是以但擇耳目所習見不疑，而理有可測者，共得百種，為之探本溯原，發其所以然之義，使古聖立方治病之心，灼然可見，而其他則闕焉。後之君子，或可因之而悟其全，雖荒陋可嗤，而敬慎足矜也。</p>
<p>乾隆元年歲在柔兆執徐余月上弦松陵徐大椿題於揚子江舟次</p>
<h2>凡例</h2>
<p class="首行凸出1字 縮進1字">一、錄此百種，原以辨明藥性，闡發義蘊，使讀者深識其所以然，因此悟彼，方藥不致誤用，非備品以便查閱也。覽者勿以不載常用之藥為疑。</p>
<p class="首行凸出1字 縮進1字">一、諸藥有獨具之性者，則用詳解。其兼長可互見者，俱不重出，推類自明。</p>
<p class="首行凸出1字 縮進1字">一、此解亦間有與前人相同者，但彼只釋其所當然，而未推測其所以然。知所當然，則用古之方，能不失古人之意；知所以然，則方可自製，而亦能合古人製方之義也。故此解皆著其所以然之故，而淺近易曉者則略焉。</p>
<p class="首行凸出1字 縮進1字">一、所解諸藥，乃就市中所有，審形辨味，以合經義。至古今土產各殊，或有尚非正義與尚有遺義者，則俟知者正之。</p>
<p class="首行凸出1字 縮進1字">一、諸藥有所出地名，雜以後漢時郡縣，陶隱居疑為仲景、元化等所記。是《本經》所載，已不皆神農以來所產之地矣。今之所產，又大半非漢時所產之地。欲盡考其實，固無從也，故不復列而解之。</p>
<p class="首行凸出1字 縮進1字">一、《本經》所載，一名甚多，因無可解，故亦不列。</p>
<p class="首行凸出1字 縮進1字">一、品第及字樣，俱依明重刻宋大觀刊唐慎微本所載白字《本經》。考陶隱居本草，有朱書墨書之別，朱書為《神農本經》，墨書為《名醫別錄》。開寶間重定印本，於《本經》易朱書為白字，《大觀》本遵之。雖未必無傳訛，而取其古，猶勝於近刻也。</p>
<p class="首行凸出1字 縮進1字">一、詳解只此百種，余亦頗有略為解者，以資人者淺，一概不存。</p>
<h2>上品</h2>
<h3>丹砂</h3>
<p>味甘，微寒。<span class="註"><small class="雙行小字">甘言味，寒言性，何以不言色與氣？蓋入口則知其味，入腹則知其性，若色與氣則在下文主治之中可推而知之也。</small></span>主身體五臟百病。<span class="註"><small class="雙行小字">百病者，凡病皆可用，無所禁忌，非謂能治天下之病也。凡和平之藥皆如此。</small></span>養精神。<span class="註"><small class="雙行小字">凡精氣所結之物，皆足以養精神。人與天地同，此精氣以類相益也。</small></span>安魂魄。<span class="註"><small class="雙行小字">亦入心，重鎮怯。</small></span>益氣。<span class="註"><small class="雙行小字">氣降則藏，藏則益。</small></span>明目。<span class="註"><small class="雙行小字">凡石藥皆能明目，石者金氣所凝，目之能鑒物，亦金氣所成也。又五臟之精皆上注於目，目大小眥屬心，丹砂益目中心臟之精。</small></span>殺精魅邪惡鬼。<span class="註"><small class="雙行小字">大赤為天地純陽之色，故足以辟陰邪。</small></span>久服，通神明，不老。能化為汞。<span class="註"><small class="雙行小字">石屬金，汞亦金之精也。凡上品之藥，皆得天地五行之精以成其質。人身不外陰陽五行，採其精氣以補真元，則神靈通而形質固矣。但物性皆偏，太過不及，反足為害，苟非通乎造化之微者，未有試而不斃者也。</small></span></p>
<span class="註"><p>此因其色與質以知其效者。丹砂正赤，為純陽之色。心屬火，色赤，故能入心，而統治心經之證。其質重，故又有鎮墜氣血之能也。凡藥之用，或取其氣，或取其味，或取其色，或取其形，或取其質，或取其性情，或取其所生之時，或取其所成之地，各以其所偏勝而即資之療疾，故能補偏救弊，調和臟腑。深求其理，可自得之。</p></span>
<h3>雲母</h3>
<p>味甘平。主身皮死肌。<span class="註"><small class="雙行小字">雲母色白屬金，故為肺經之藥。又肺主皮毛，雲母薄疊如皮，亦與肺合也。</small></span>中風寒熱，如在車船上。<span class="註"><small class="雙行小字">肺氣震蕩，此能鎮之。</small></span>除邪氣，安五臟。<span class="註"><small class="雙行小字">亦清鎮之功。</small></span>益子精。<span class="註"><small class="雙行小字">肺為腎源。</small></span>明目。<span class="註"><small class="雙行小字">目白屬肺，此能益目中肺臟之精。</small></span>久服輕身延年。<span class="註"><small class="雙行小字">肺旺則氣旺，故有此效。</small></span></p>
<span class="註"><p>雲母雖有五色，而白其正色也。白屬金，金生水，故雲母之上常生雲氣。雲者，地氣上升，欲為雨而未成雨者也。肺屬金而在上，為人身水源，與雲母相類，故為肺金之藥。</p></span>
<h3>石鐘乳</h3>
<p>味甘溫。主欬逆上氣。<span class="註"><small class="雙行小字">鐘乳石體屬金，又其象下垂而中空，故能入肺降逆。</small></span>明目。<span class="註"><small class="雙行小字">能益目中肺臟之精。</small></span>益精。<span class="註"><small class="雙行小字">能引肺氣入腎。</small></span>安五臟，通百節，利九竅。<span class="註"><small class="雙行小字">降氣則臟安，中虛則竅通。</small></span>下乳汁。<span class="註"><small class="雙行小字">鐘乳即石汁如乳者所溜而成，與乳為類，故能下乳汁也。</small></span></p>
<span class="註"><p>此以形為治。石為土中之精，鐘乳石液所凝，乃金之液也，故其功專於補肺。以其下垂，故能下氣。以其中空，故能通竅。又肺朝百脈，肺氣利則無所不利矣。自唐以前，多以鐘乳為服食之藥，以其能直達腎經，驟長陽氣，合諸補腎之品，用以房中之術最妙。但此乃深巖幽谷之中，水溜凝結而成，所謂金中之水，其體至陰，而石藥多悍，性反屬陽，故能補人身陰中之火。陰火一發，莫可制伏，故久服毒發，至不可救。惟昇煉得宜，因證施治，以交肺腎子母之臟，實有殊能也。</p></span>
<h3>礬石</h3>
<p>味酸寒。<span class="註"><small class="雙行小字">礬石味澀而云酸者，蓋五味中無澀，澀即酸之變味，澀味收斂亦與酸同，如五色中之紫，即紅之變色也。</small></span>主寒熱。<span class="註"><small class="雙行小字">寒熱為肝經之疾，酸能收斂肝氣。</small></span>洩痢白沃。<span class="註"><small class="雙行小字">亦收澀之功。陰蝕惡瘡。味烈性寒，故能殺濕熱之蟲，除濕熱之毒。</small></span>目痛。<span class="註"><small class="雙行小字">制火清金。</small></span>堅骨齒。<span class="註"><small class="雙行小字">斂氣固精。</small></span>煉餌服之，輕身不老增年。<span class="註"><small class="雙行小字"></small></span></p>
<span class="註"><p>此以味為治，礬石之味最烈，而獨成一味，故其功皆在於味。</p></span>
<h3>朴硝</h3>
<p>味苦寒。<span class="註"><small class="雙行小字">朴硝味鹹而云苦者，或古時所產之地與今不同，故味異耶，抑或以鹹極而生苦耶。</small></span>主百病，除寒熱邪氣。<span class="註"><small class="雙行小字">邪氣凝結則生寒熱，硝味鹹苦能輭　堅，而解散之。</small></span>逐六腑積聚結固留癖。<span class="註"><small class="雙行小字">硝質重性輕而能透發鬱結，置金石器中尚能滲出，故遇積聚等邪，無不消解也。</small></span>能化七十二種石。<span class="註"><small class="雙行小字">此輭　堅之甚者。</small></span>煉餌服之，輕身神仙。<span class="註"><small class="雙行小字">消盡人身之滓穢，以存其精華，故有此效。</small></span></p>
<span class="註"><p>硝者，消也。朴硝乃至陰之精，而乘陽以出，其本水也，其標火也。遇濕則化為水，遇火則升為火，體最清而用最變，故丹家重之。石屬金，硝遇火則亦變火。蓋無火之性，而得火之精氣者也。火鑠金，故能化石。</p></span>
<h3>滑石</h3>
<p>味甘寒。主身熱。<span class="註"><small class="雙行小字">寒能除熱。</small></span>洩澼。<span class="註"><small class="雙行小字">滑石，能滑利大小腸，分清水穀。水穀分，則洩澼愈矣。</small></span>女子乳難。<span class="註"><small class="雙行小字">乳亦水類，滑石利水且能潤竅，故有通乳之功。</small></span>癃閉，利小便。<span class="註"><small class="雙行小字">滑利小腸。</small></span>蕩胃中積聚寒熱。<span class="註"><small class="雙行小字">滑利大腸，凡積聚寒熱由蓄飲垢膩成者，皆能除之。</small></span>益精氣。<span class="註"><small class="雙行小字">邪去則津液自生。</small></span>久服輕身，耐飢長年。<span class="註"><small class="雙行小字">通利之藥，皆益胃氣。胃氣利，則其效如此。</small></span></p>
<span class="註"><p>此以質為治，凡石性多燥，而滑石體最滑潤，得石中陰和之性以成，故通利腸胃，去積除水，解熱降氣。石藥中之最和平者也。</p></span>
<h3>禹餘糧</h3>
<p>味甘寒。主欬逆。<span class="註"><small class="雙行小字">補中降氣，不使上逆。</small></span>寒熱。<span class="註"><small class="雙行小字">除脾胃氣虛，及有濕滯之寒熱。</small></span>煩滿。<span class="註"><small class="雙行小字">補脾之功。</small></span>下赤白。<span class="註"><small class="雙行小字">質燥性寒，故能除濕熱之疾。</small></span>血閉癥瘕。<span class="註"><small class="雙行小字">消濕熱所滯之瘀積。</small></span>大熱。<span class="註"><small class="雙行小字">熱在陽明者必甚，此能除之。</small></span>煉餌服之，不飢。<span class="註"><small class="雙行小字">其質類穀粉而補脾土，所以謂之糧而能充飢也。</small></span>輕身延年。<span class="註"><small class="雙行小字">補養後天之效。</small></span></p>
<span class="註"><p>禹餘糧，色黃、質膩、味甘，乃得土氣之精以生者也。故補益脾胃，除熱燥濕之功為多。凡一病各有所因，治病者必審其因而治之，所謂求其本也。如同一寒熱也，有外感之寒熱，有內傷之寒熱，有雜病之寒熱，若禹餘糧之所治，乃脾胃濕滯之寒熱也。後人見本草有治寒熱之語，遂以治凡病之寒熱，則非惟不效，而且有害。自宋以來，往往蹈此病，皆本草不講之故耳。</p></span>
<h3>紫石英</h3>
<p>味甘溫。主心腹欬逆。<span class="註"><small class="雙行小字">甘能和中，重能降氣。</small></span>邪氣。<span class="註"><small class="雙行小字">散風寒。</small></span>補不足。<span class="註"><small class="雙行小字">補心血之不足。</small></span>女子風寒在子宮，絕孕十年無子。<span class="註"><small class="雙行小字">子宮屬衝脈、血海，風寒入於其中，他藥所不能及，紫石英色紫入血分，體重能下達，故能入於衝脈之底。風寒妨孕，溫能散寒驅風也。</small></span>久服溫中，輕身延年。<span class="註"><small class="雙行小字">補血納氣之功。</small></span></p>
<span class="註"><p>此以色為治，色紫則入心，心主血，故能補血。其降氣而能入下焦，則質重之效也。</p></span>
<h3>五石脂：青石、赤石、黃石、白石、黑石脂等。</h3>
<p>味甘平。主黃疸，洩痢腸澼，膿血陰蝕。<span class="註"><small class="雙行小字">皆濕氣在太陰、陽明之病也。</small></span>下血赤白。<span class="註"><small class="雙行小字">收澀之功。</small></span>邪氣。<span class="註"><small class="雙行小字">正氣斂則邪氣除。</small></span>癰腫，疽痔，惡瘡，頭瘍，疥瘙。<span class="註"><small class="雙行小字">此皆濕鬱所生之毒，能除濕則諸病亦退。</small></span>久服，補髓益氣，肥健不飢，輕身延年。<span class="註"><small class="雙行小字">斂精氣而燥脾土，故有此效。</small></span>五石脂各隨五色補五臟。<span class="註"><small class="雙行小字">性治略同，而所補之臟各異。</small></span></p>
<span class="註"><p>石脂得金土雜氣以成，故濕土之質，而有燥金之用。脾惡濕，燥能補之。然其質屬土，不至過燥，又得秋金斂藏之性，乃治濕之聖藥也。</p></span>
<h3>扁青</h3>
<p>味甘平。主目痛，明目。<span class="註"><small class="雙行小字">養肝之功。</small></span>折跌癰腫，金瘡不瘳。<span class="註"><small class="雙行小字">收澀斂肌之功。</small></span>破積聚。<span class="註"><small class="雙行小字">消肝邪也。</small></span>解毒氣，利精神。久服，輕身不老。<span class="註"><small class="雙行小字">精氣所結之物，故能除毒，益精，增年也。</small></span></p>
<span class="註"><p>《內經》云：「五臟六腑之精，皆上注於目。」故目雖屬肝之竅，而白乃肺之精也。五行之中，火能舒光照物，而不能鑒物，惟金之明，乃能鑒物。石體屬金，故石藥皆能明目，而扁青生於山之有金處，蓋金氣精華之所結也，又色青屬肝，於目疾尤宜。凡草木中，得秋金之氣者亦然。凡物精華所結者，皆得天地清粹之氣以成，而穢濁不正之氣不得干之，故皆有解毒之功。其非精華所結，而亦能解毒者，則必物性之相制，或以毒攻毒也。</p></span>
<h3>菖蒲</h3>
<p>味辛溫。主風寒。<span class="註"><small class="雙行小字">辛能散風，溫能驅寒。</small></span>濕痺。<span class="註"><small class="雙行小字">芳燥能除濕。</small></span>欬逆上氣。<span class="註"><small class="雙行小字">開竅下逆。</small></span>開心孔。<span class="註"><small class="雙行小字">香入心。</small></span>補五臟。<span class="註"><small class="雙行小字">氣通和，則補益。</small></span>通九竅，明耳目，出音聲。<span class="註"><small class="雙行小字">芳香清烈，故走達諸竅而和通之，耳目喉嚨皆竅也。</small></span>久服輕身。<span class="註"><small class="雙行小字">氣不阻滯則身體通利。</small></span>不忘，不迷惑，延年。<span class="註"><small class="雙行小字">氣通則津液得布，故不但能開竅順氣，且能益精養神也。</small></span></p>
<span class="註"><p>菖蒲能於水石中橫行四達，辛烈芳香，則其氣之盛可知，故入於人身，亦能不為濕滯痰涎所阻。凡物之生於天地間，氣性何如，則入於人身，其奏效亦如之。蓋人者得天地之和氣以生，其氣血之性，肖乎天地，故以物性之偏者投之，而亦無不應也。餘可類推。</p></span>
<h3>菊花</h3>
<p>味苦平。主風，頭眩腫痛，目欲脫，淚出。<span class="註"><small class="雙行小字">芳香上達，又得秋金之氣，故能平肝風而益金水。</small></span>皮膚死肌。<span class="註"><small class="雙行小字">清肺疏風。</small></span>惡風濕痺。<span class="註"><small class="雙行小字">驅風散濕。</small></span>久服，利血氣，輕身，耐老，延年。<span class="註"><small class="雙行小字">菊花晚開晚落，花中之最壽者也，故其益人如此。</small></span></p>
<span class="註"><p>凡芳香之物，皆能治頭目肌表之疾。但香則無不辛燥者，惟菊得天地秋金清肅之氣，而不甚燥烈，故於頭目風火之疾，尤宜焉。</p></span>
<h3>人參</h3>
<p>味甘，微寒。主補五臟，安精神，定魂魄，止驚悸。<span class="註"><small class="雙行小字">有形無形，無一之不補也。</small></span>除邪氣。<span class="註"><small class="雙行小字">正氣充則邪氣自除。</small></span>明目。<span class="註"><small class="雙行小字">五臟六腑之精皆上注於目，此所云明乃補其精之效，非若他藥，專有明目之功也。</small></span>開心益智。<span class="註"><small class="雙行小字">人參氣盛而不滯，補而兼通，故能入心孔而益神明也。</small></span>久服，輕身延年。<span class="註"><small class="雙行小字">補氣之功。</small></span></p>
<span class="註"><p>人參得天地精英純粹之氣以生，與人之氣體相似，故於人身無所不補。非若他藥有偏長而治病各有其能也。凡補氣之藥皆屬陽，惟人參能補氣，而體質屬陰，故無剛燥之病，而又能入於陰分，最為可貴。然力大而峻，用之失宜，其害亦甚於他藥也。今醫家之用參救人者少，殺人者多。蓋人之死於虛者，十之一二，死於病者，十之八九。人參長於補虛，而短於攻疾。醫家不論病之已去未去，於病久或體弱，或富貴之人，皆必用參。一則過為謹慎，一則借以塞責，而病家亦以用參為盡慈孝之道。不知病未去而用參，則非獨元氣不充，而病根遂固，諸藥罔效，終無愈期，故曰殺人者多也。或曰：「仲景傷寒方中病未去而用參者不少，如小柴胡、新加湯之類，何也？」曰：「此則以補為瀉之法也。」古人曲審病情至精至密，知病有分有合。合者邪正併居，當專於攻散；分者邪正相離，有虛有實。實處宜瀉，虛處宜補。一方之中，兼用無礙，且能相濟，則用人參以建中生津，托出邪氣，更為有力。若邪氣尚盛而未分，必從專治，無用參之法也。況用之亦皆入疏散藥中，從無與熟地、萸肉等藥同入感證方中者。明乎此，而後能不以生人者殺人矣。人參亦草根耳，與人殊體，何以能驟益人之精血。蓋人參乃升提元氣之藥，元氣下陷，不能與精血流貫，人參能提之使起，如火藥藏於砲內不能升發，則以火發之。若砲中本無火藥，雖以砲投火中不發也，此補之義也。</p></span>
<h3>甘草</h3>
<p>味甘平。主五臟六腑寒熱邪氣。<span class="註"><small class="雙行小字">甘能補中氣，中氣旺則臟腑之精皆能四布，而驅其不正之氣也。</small></span>堅筋骨，長肌肉，倍力。<span class="註"><small class="雙行小字">形不足者補之以味，甘草之甘為土之正味，而有最厚，故其功如此。</small></span>金瘡尰。<span class="註"><small class="雙行小字">脾主肌肉，補脾則能填滿肌肉也。</small></span>解毒。<span class="註"><small class="雙行小字">甘為味中之至正味，正則氣性宜正，故能除毒。</small></span>久服，輕身延年。<span class="註"><small class="雙行小字">補後天之功。</small></span></p>
<span class="註"><p>此以味為治也，味之甘，至甘草而極。甘屬土，故其效皆在於脾。脾為後天之主，五臟六腑皆受氣焉。脾氣盛，則五臟皆循環受益也。</p></span>
<h3>乾地黃</h3>
<p>味甘寒。主折跌絕筋，傷中，逐血痺。<span class="註"><small class="雙行小字">行血之功。</small></span>填骨髓。<span class="註"><small class="雙行小字">血足能化精，而色黑歸腎也。</small></span>長肌肉。<span class="註"><small class="雙行小字">脾統血，血充則肌肉亦滿矣。</small></span>作湯，除寒熱積聚。<span class="註"><small class="雙行小字">血充足則邪氣散，血流動則凝滯消。</small></span>除痺。<span class="註"><small class="雙行小字">血和利則經脈暢。</small></span>生者尤良。<span class="註"><small class="雙行小字">血貴流行，不貴滋膩，故中古以前用熟地者甚少。</small></span>久服，輕身不老。<span class="註"><small class="雙行小字">補血之功。</small></span></p>
<span class="註"><p>地黃色與質皆類血，故入人身則專於補血。血補則陰氣得和，而無枯燥拘牽之疾矣。古方只有乾地黃、生地黃，從無用熟地黃者。熟地黃乃唐以後製法，以之加入溫補腎經中藥頗為得宜，若於湯劑及養血、涼血等方甚屬不合。蓋地黃專取其性涼而滑利流通，熟則膩滯不涼全失其本性矣。又仲景《傷寒》一百十三方，惟復脈用地黃。蓋傷寒之病，邪從外入，最忌滋滯，即使用補，必兼疏拓之性者，方可入劑，否則邪氣向裏，必有遺害。今人一見所現之證，稍涉虛象，便以六味湯為常用之品，殺人如麻，可勝長嘆。</p></span>
<h3>朮</h3>
<p>味苦溫。主風寒濕痺，死肌。<span class="註"><small class="雙行小字">氣厚而兼辛散，故能除邪而利筋脈肌膚也。</small></span>痙。<span class="註"><small class="雙行小字">平肝風。</small></span>疸。<span class="註"><small class="雙行小字">去濕。</small></span>止汗。<span class="註"><small class="雙行小字">固肌膚。</small></span>除熱。<span class="註"><small class="雙行小字">益脾陰。</small></span>消食。<span class="註"><small class="雙行小字">健脾氣。</small></span>作煎餌久服，輕身延年，不飢。<span class="註"><small class="雙行小字">脾胃充則體強健而不易飢也。</small></span></p>
<span class="註"><p>朮者，土之精也。色黃，氣香，味苦而帶甘，性溫，皆屬於土，故能補益脾土。又其氣甚烈，而芳香四達，故又能達於筋脈肌膚，而不專於建中宮也。</p></span>
<h3>菟絲子</h3>
<p>味辛平。主續絕傷。<span class="註"><small class="雙行小字">子中有絲不斷，故能補續筋骨。</small></span>補不足，益氣力肥健。<span class="註"><small class="雙行小字">滑潤有脂膏，自能生精益氣而長肌肉也。</small></span>汁去面䵟。<span class="註"><small class="雙行小字">亦滑澤之功。</small></span>久服，明目，輕身延年。<span class="註"><small class="雙行小字">生精則目明而強且壽也。</small></span></p>
<span class="註"><p>子中之最有脂膏者，莫如菟絲。且炒熟則芳香又潤而不滑，故能補益肝脾也。凡藥性有專長，此在可解不可解之間，雖聖人亦必試驗而後知之，如菟絲之去面䵟，亦其一端也。以其辛散邪，則辛散之藥甚多；以其滑澤耶，則滑澤之物亦甚多，何以他藥皆不能去而獨菟絲能之？蓋物之生，各得天地一偏之氣，故其性自有相制之理。但顯於形質氣味者，可以推測，而知其深藏於性中者，不可以常理求也。故古人有單方及秘方，往往以一二種藥治一病而得奇中，及視其方，皆不若經方之必有經絡奇偶配合之道，而效反神速者，皆得其藥之專能也。藥中如此者極多，可以類推。</p></span>
<h3>牛膝</h3>
<p>味苦酸。<span class="註"><small class="雙行小字">此止言味而不言性，疑闕文也。後凡不言性者倣此。</small></span>主寒濕痿痺，四肢拘攣，膝痛不可屈伸。<span class="註"><small class="雙行小字">皆舒筋行血之功。</small></span>逐血氣。<span class="註"><small class="雙行小字">破瘀血也。</small></span>傷熱火爛。<span class="註"><small class="雙行小字">清熱也。</small></span>墮胎。<span class="註"><small class="雙行小字">降血氣也。</small></span>久服，輕身耐老。<span class="註"><small class="雙行小字">血和之功。</small></span></p>
<span class="註"><p>此乃以其形而知其性也。凡物之根皆橫生，而牛膝獨直下，其長細而韌，酷似人筋，所以能舒筋通脈，下血降氣，為諸下達藥之先導也。筋屬肝，肝藏血，凡能舒筋之藥，俱能治血，故又為通利血脈之品。</p></span>
<h3>柴胡</h3>
<p>味苦平。主心腹，去腸胃中結氣。<span class="註"><small class="雙行小字">輕揚之體，能疏腸胃之滯氣。</small></span>飲氣積聚。<span class="註"><small class="雙行小字">疏腸胃之滯物。</small></span>寒熱邪氣。<span class="註"><small class="雙行小字">驅經絡之外邪。</small></span>推陳致新。<span class="註"><small class="雙行小字">總上三者言之，邪去則正復也。</small></span>久服，輕身，明目益精。<span class="註"><small class="雙行小字">諸邪不能容，則正氣流通，故有此效。</small></span></p>
<span class="註"><p>柴胡，腸胃之藥也。觀經中所言治效，皆主腸胃，以其氣味輕清，能於頑土中疏理滯氣，故其功如此。天下惟木能疏土，前人皆指為少陽之藥，是知其末，而未知其本也。張仲景小柴胡湯專治少陽，以此為主藥何也？按傷寒傳經次第，先太陽，次陽明，次少陽。然則少陽雖在太陽、陽明之間，而傳經乃居陽明之後，過陽明而後入少陽，則少陽反在陽明之內也。蓋以所居之位言，則少陽在太陽、陽明之間，以從入之道言，則少陽在太陽、陽明之內，故治少陽與太陽，絕不相干，而與陽明為近，如小柴胡湯之半夏、甘草，皆陽明之藥也。惟其然，故氣味須輕清疏達，而後邪能透土以出，知此則仲景用柴胡之義明，而柴胡為腸胃之藥亦明矣。</p></span>
<h3>麥門冬</h3>
<p>味甘平。主心腹結氣。<span class="註"><small class="雙行小字">解枯燥之結氣。</small></span>傷中傷飽，胃絡脈絕。<span class="註"><small class="雙行小字">補續胃中之陰氣。</small></span>羸瘦短氣。<span class="註"><small class="雙行小字">補胃則生肌，清火則益氣。</small></span>久服，輕身耐老，不飢。<span class="註"><small class="雙行小字">後天足則體健而能耐飢也。</small></span></p>
<span class="註"><p>麥門冬甘平滋潤，為純補胃陰之藥。後人以為肺藥者，蓋土能生金，肺氣全恃胃陰以生。胃氣潤，肺自資其益也。</p></span>
<h3>車前子</h3>
<p>味甘寒。主氣癃，止痛，利水道、小便。<span class="註"><small class="雙行小字">專利下焦氣分。</small></span>除濕痺。<span class="註"><small class="雙行小字">濕必由膀胱出，下焦利則濕氣除。</small></span>久服，輕身耐老。<span class="註"><small class="雙行小字">氣順濕除，則肢體康強也。</small></span></p>
<span class="註"><p>凡多子之藥皆屬腎，故古方用入補腎藥中。蓋腎者，人之子宮也。車前多子，亦腎經之藥。然以其質滑而氣薄，不能全補，則為腎府膀胱之藥。膀胱乃腎氣輸洩之道路也。</p></span>
<h3>木香</h3>
<p>味辛。主邪氣，辟毒疫溫鬼。<span class="註"><small class="雙行小字">氣極芳烈，能除邪穢不祥也。</small></span>強志。<span class="註"><small class="雙行小字">香氣通於心。</small></span>主淋露。<span class="註"><small class="雙行小字">心與小腸為表裏，心氣下交與小腸，則便得調矣。</small></span>久服，不夢寐、魘寐。<span class="註"><small class="雙行小字">心氣通則神魂定。</small></span></p>
<span class="註"><p>木香以氣勝，故其功皆在乎氣。《內經》云：「心主臭。」凡氣烈之藥皆入心。木香，香而不散，則氣能下達，故又能通其氣於小腸也。</p></span>
<h3>薏苡仁</h3>
<p>味甘微寒。主筋急拘攣，不可屈伸，風濕痺。<span class="註"><small class="雙行小字">專除陽明之濕熱。</small></span>下氣。<span class="註"><small class="雙行小字">直達下焦。</small></span>久服，輕身益氣。<span class="註"><small class="雙行小字">陽明氣利則體強而氣充也。</small></span>其根下三蟲。<span class="註"><small class="雙行小字">除陽明濕熱所生之蟲。</small></span></p>
<span class="註"><p>薏苡仁甘淡沖和，質類米穀，又體重力厚，故能補益胃氣，舒筋除濕中虛，故又能通降濕熱使下行。蓋凡筋急痺痛等疾，皆痿證之類。《內經》治痿，獨取陽明。薏苡為陽明之藥，故能已諸疾也。</p></span>
<h3>澤瀉</h3>
<p>味甘寒。主風寒濕痺。<span class="註"><small class="雙行小字">凡挾水氣之疾，皆能除之。</small></span>乳難。<span class="註"><small class="雙行小字">乳亦水，利水故能通乳也。</small></span>消水。<span class="註"><small class="雙行小字">使水歸於膀胱。</small></span>養五臟，益氣力。<span class="註"><small class="雙行小字">水氣除則臟安而氣生也。</small></span>肥健。<span class="註"><small class="雙行小字">脾惡濕，脾氣燥，則肌肉充而肥健也。</small></span>久服，耳目聰明，不飢，延年輕身，面生光。<span class="註"><small class="雙行小字">皆滌水除濕之功。</small></span>能行水上。<span class="註"><small class="雙行小字">水氣盡，則身輕而入水不沒矣。</small></span></p>
<span class="註"><p>澤瀉乃通利脾胃之藥，以其淡滲能利土中之水，水去則土燥而氣充，脾惡濕故也。但氣濕必自膀胱而出，澤瀉能下達膀胱，故又為膀胱之藥。</p></span>
<h3>遠志</h3>
<p>味苦溫。主欬逆。<span class="註"><small class="雙行小字">氣滯之欬。</small></span>傷中，補不足。<span class="註"><small class="雙行小字">心主榮，榮氣順則中焦自足。</small></span>除邪氣，利九竅。<span class="註"><small class="雙行小字">辛香疏達，則能辟穢通竅也。</small></span>益智慧，耳目聰明，不忘，強志。<span class="註"><small class="雙行小字">心氣通則精足神全矣。</small></span>倍力。<span class="註"><small class="雙行小字">心氣盛則脾氣亦強，而力生也。</small></span>久服，輕身不老。<span class="註"><small class="雙行小字">氣和之效。</small></span></p>
<span class="註"><p>遠志氣味苦辛，而芳香清烈，無微不達，故為心家氣分之藥。心火能生脾土，心氣盛，則脾氣亦和，故又能益中焦之氣也。</p></span>
<h3>龍膽</h3>
<p>味苦澀。主骨間寒熱。<span class="註"><small class="雙行小字">治肝邪犯腎之寒熱。</small></span>驚癇邪氣。<span class="註"><small class="雙行小字">肝火犯心之邪。</small></span>續絕傷。<span class="註"><small class="雙行小字">斂筋骨之氣。</small></span>定五臟。<span class="註"><small class="雙行小字">斂臟中之氣。</small></span>殺蠱毒。<span class="註"><small class="雙行小字">除熱結之氣。</small></span>久服，益智不忘。<span class="註"><small class="雙行小字">收斂心中之神氣。</small></span>輕身耐老。<span class="註"><small class="雙行小字">熱邪去而正氣歸，故有此效。</small></span></p>
<span class="註"><p>藥之味澀者絕少，龍膽之功皆在於澀，此以味為主也。澀者，酸辛之變味，兼金木之性者也，故能清斂肝家之邪火。人身惟肝火最橫，能下挾腎中之游火，上引包絡之相火，相持為害。肝火清，則諸火漸息，而百體清寧矣。</p></span>
<h3>細辛</h3>
<p>味辛溫。主欬逆。<span class="註"><small class="雙行小字">散肺經之風。</small></span>頭痛腦動。<span class="註"><small class="雙行小字">散頭風。</small></span>百節拘攣，風濕痺痛，死肌。<span class="註"><small class="雙行小字">散筋骨肌肉之風。</small></span>久服，明目，利九竅。<span class="註"><small class="雙行小字">散諸竅之風。</small></span>輕身長年。<span class="註"><small class="雙行小字">風氣除，則身健而壽矣。</small></span></p>
<span class="註"><p>此以氣為治也，凡藥香者，皆能疏散風邪。細辛氣盛而味烈，其疏散之力更大。且風必挾寒以來，而又本熱而標寒。細辛性溫，又能驅逐寒氣，其疏散上下之風邪，能無微不入，無處不到也。</p></span>
<h3>石斛</h3>
<p>石斛其說不一，出盧江六安者色青，長二三寸，如釵股，世謂之金釵石斛，折之有肉而實，咀之有膩涎黏齒，味甘淡，此為最佳。如市中長而黃色及枯槁無味者，皆木斛也。因近日無不誤用，故附記於此。味甘平。主傷中。<span class="註"><small class="雙行小字">培脾土。</small></span>除痺。<span class="註"><small class="雙行小字">治肉痺。</small></span>下氣。<span class="註"><small class="雙行小字">使中氣不失守。</small></span>補五臟虛勞。<span class="註"><small class="雙行小字">後天得養，則五臟皆補也。</small></span>羸瘦。<span class="註"><small class="雙行小字">長肌肉。</small></span>強陰。<span class="註"><small class="雙行小字">補脾陰。</small></span>久服，厚腸胃。<span class="註"><small class="雙行小字">腸胃為中臟之府。</small></span>輕身延年。<span class="註"><small class="雙行小字">補益後天之效。</small></span></p>
<span class="註"><p>凡五味各有所屬，甘味屬土，然土實無味也。故《洪範》論五行之味，潤下作鹹，炎上作苦，曲直作酸，從革作辛，皆即其物言之。惟於土則曰稼穡作甘，不指土，而指土之所生者，可知土本無味也，無味即為淡，淡者五味之所從出，即土之正味也，故味之淡者，皆屬土。石斛味甘而實淡，得土味之全，故其功專補脾胃，而又和平不偏也。</p></span>
<h3>蓍實</h3>
<p>味苦平。主益氣，充肌膚。<span class="註"><small class="雙行小字">得天地之和氣以生，故亦能益人之正氣而強健也。</small></span>明目，聰慧先知。<span class="註"><small class="雙行小字">蓍草神物，揲之能前知。蓋得天地之靈氣以生，故亦能益人之神明也。</small></span>久服，不飢，不老輕身。<span class="註"><small class="雙行小字">氣足神全，故有此效。</small></span></p>
<span class="註"><p>此因其物之所能，以益人之能也。昔聖人幽贊於神明而生蓍，此草中之神物也。服之則補人之神，自能聰慧前知，食肉者鄙，不益信夫。</p></span>
<h3>黃連</h3>
<p>味苦寒。主熱氣。<span class="註"><small class="雙行小字">除熱在氣分者。</small></span>目痛，眥傷淚出，明目。<span class="註"><small class="雙行小字">除濕熱在上之病。</small></span>腸澼，腹痛下利。<span class="註"><small class="雙行小字">除濕熱在中之病。</small></span>婦人陰中腫痛。<span class="註"><small class="雙行小字">除濕熱在下之病。</small></span>久服，令人不忘。<span class="註"><small class="雙行小字">苦入心，能補心也。</small></span></p>
<span class="註"><p>苦味屬火，其性皆熱，此固常理。黃連至苦，而反至寒，則得火之味，與水之性者也，故能除水火相亂之病。水火相亂者，濕熱是也。凡藥能去濕者，必增熱，能除熱者，必不能去濕。惟黃連能以苦燥濕，以寒除熱，一舉兩得，莫神於此。心屬火，寒勝火，則黃連宜為瀉心之藥，而反能補心何也？蓋苦為火之正味，乃以味補之也。若心家有邪火，則此亦能瀉之，而真火反得寧，是瀉之即所以補之也。苦之極者，其性反寒，即《內經》亢害承制之義。所謂火盛之極，反兼水化也。</p></span>
<h3>黃耆</h3>
<p>味甘微溫。主癰疽，久敗瘡，排膿止痛。<span class="註"><small class="雙行小字">除肌肉中之熱毒。</small></span>大風癩疾。<span class="註"><small class="雙行小字">去肌肉中之風毒。</small></span>五痔，鼠瘻。<span class="註"><small class="雙行小字">去肌肉中之濕毒。</small></span>補虛。<span class="註"><small class="雙行小字">補脾胃之虛。</small></span>小兒百病。<span class="註"><small class="雙行小字">小兒當補後天。後天者，肌肉之本也。</small></span></p>
<span class="註"><p>黃耆甘淡而溫，得土之正味、正性，故其功專補脾胃。味又微辛，故能驅脾胃中諸邪。其皮最厚，故亦能補皮肉，為外科生肌長肉之聖藥也。</p></span>
<h3>肉蓯蓉</h3>
<p>陶隱居云：「是馬精落地所生，後有此種則蔓延者也。」味甘，微溫。主五勞七傷，補中。<span class="註"><small class="雙行小字">補諸精虛之證。</small></span>除莖中寒、熱痛。<span class="註"><small class="雙行小字">莖中者，精之道路也。精虛，則有此痛，補精則其病自已矣。</small></span>養五臟，強陰，益精氣，多子。<span class="註"><small class="雙行小字">五臟各有精，精足則陰足，而腎者又藏精之所也，精足則多子矣。</small></span>婦人癥瘕。<span class="註"><small class="雙行小字">精充則邪氣消，鹹能輭　堅也。</small></span>久服，輕身。<span class="註"><small class="雙行小字">精足之功。</small></span></p>
<span class="註"><p>此以形質為治也，蓯蓉象人之陰，而滋潤黏膩，故能治前陰諸疾，而補精氣。如地黃色質象血，則補血也。</p></span>
<h3>防風</h3>
<p>味甘溫。主大風，頭眩痛，惡風，風邪。<span class="註"><small class="雙行小字">風病無不治也。</small></span>目盲無所見。<span class="註"><small class="雙行小字">風在上竅也。</small></span>風行周身。<span class="註"><small class="雙行小字">風在偏體也。</small></span>骨節疼痛。<span class="註"><small class="雙行小字">風在筋骨也。</small></span>煩滿。<span class="註"><small class="雙行小字">風在上焦也。</small></span><span class="註"><small class="雙行小字">風氣除則有此效。</small></span></p>
<span class="註"><p>凡藥之質輕而氣盛者，皆屬風藥，以風即天地之氣也。但風之中人，各有經絡，而藥之受氣於天地，亦各有專能，故所治各不同。於形質氣味細察而詳分之，必有一定之理也。防風治周身之風，乃風藥之統領也。</p></span>
<h3>續斷</h3>
<p>味苦微溫。主傷寒。<span class="註"><small class="雙行小字">苦溫能散寒。</small></span>補不足。<span class="註"><small class="雙行小字">補傷損之不足。</small></span>金瘡癰傷，折跌，續筋骨。<span class="註"><small class="雙行小字">肌肉筋骨有傷，皆能治之。</small></span>婦人乳難。<span class="註"><small class="雙行小字">通滯之功。</small></span>久服，益氣力。<span class="註"><small class="雙行小字">強筋骨也。</small></span></p>
<span class="註"><p>此以形為治。續斷有肉有筋，如人筋在肉中之象，而色帶紫黑，為肝腎之色，故能補續筋骨。又其性直下，故亦能降氣以達下焦也。</p></span>
<h3>決明子</h3>
<p>味鹹平。主青盲，目淫膚赤白膜，眼赤痛，淚出。<span class="註"><small class="雙行小字">凡目病內外等證，無所不治。</small></span>久服，益精光。<span class="註"><small class="雙行小字">不但能治目邪，而且能補目之精也，皆鹹降清火功。</small></span>輕身。<span class="註"><small class="雙行小字">火清則體健也。</small></span></p>
<span class="註"><p>決明生於秋，得金氣之正。其色極黃，得金之色，其功專於明目，詳上扁青條內。夫金之正色，白而非黃，但白為受色之地，乃無色之色耳。故凡物之屬金者，往往借土之色以為色，即五金亦以黃金為貴，子肖其母也。草木至秋，感金氣則黃落，故諸花實之中，凡色黃而耐久者，皆得金氣為多者也。</p></span>
<h3>丹參</h3>
<p>味苦微寒。主心腹邪氣。<span class="註"><small class="雙行小字">赤走心，故能逐心腹之邪。</small></span>腸鳴幽幽如走水。<span class="註"><small class="雙行小字">心與脾不和則鳴。</small></span>寒熱積聚，破癥除瘕。<span class="註"><small class="雙行小字">赤走血，凡血病凝結者無不治之。</small></span>止煩滿。<span class="註"><small class="雙行小字">心氣不舒。</small></span>益氣。<span class="註"><small class="雙行小字">益心氣。</small></span></p>
<span class="註"><p>此以色為治也，赤走心，心主血，故丹參能走心以治血分之病。又辛散而潤澤，故能通利而滌邪也。</p></span>
<h3>五味子</h3>
<p>味酸溫。主益氣。<span class="註"><small class="雙行小字">氣斂則益。</small></span>欬逆上氣。<span class="註"><small class="雙行小字">肺主氣，肺氣斂則欬逆除，而氣亦降矣。</small></span>勞傷羸瘦，補不足。<span class="註"><small class="雙行小字">氣斂藏，則病不侵而身強盛矣。</small></span>強陰。<span class="註"><small class="雙行小字">氣斂則歸陰。</small></span>益男子精。<span class="註"><small class="雙行小字">腎主收藏，而精者腎之所藏者也，故收斂之物無不益腎。五味形又似腎，故為補腎之要藥。</small></span></p>
<span class="註"><p>此以味為治也，凡酸味皆斂，而五味酸之極，則斂之極，極則不止於斂，而且能藏矣。藏者冬之令，屬腎，故五味能補腎也。</p></span>
<h3>蛇床子</h3>
<p>味苦平。主婦人陰中腫痛，男子陰痿、濕癢。<span class="註"><small class="雙行小字">皆下體濕毒之病。</small></span>除痺氣，利關節<span class="註"><small class="雙行小字">節。除濕痰在筋骨之證。</small></span>癲癇。<span class="註"><small class="雙行小字">除濕痰在心之證。</small></span>惡瘡。<span class="註"><small class="雙行小字">亦濕毒所生。</small></span>久服輕身。<span class="註"><small class="雙行小字">濕去則身輕。</small></span></p>
<span class="註"><p>蛇床生陰濕卑下之地，而芬芳燥烈，不受陰濕之氣，故入於人身，亦能於下焦濕氣所歸之處，逐其邪而補其正也。</p></span>
<h3>沙參</h3>
<p>味苦，微寒。主血積。<span class="註"><small class="雙行小字">肺氣上逆之血。</small></span>驚氣。<span class="註"><small class="雙行小字">心火犯肺。</small></span>除寒熱。<span class="註"><small class="雙行小字">肺家失調之寒熱。</small></span>補中。<span class="註"><small class="雙行小字">肺主氣，肺氣和則氣充而三焦實也。</small></span>益肺氣。<span class="註"><small class="雙行小字">色白體輕故入肺也。</small></span>久服利人。<span class="註"><small class="雙行小字">肺氣清和之效。</small></span></p>
<span class="註"><p>肺主氣，故肺家之藥氣勝者為多。但氣勝之品必偏於燥，而能滋肺者，又膩滯而不清虛，惟沙參為肺家氣分中理血之藥，色白體輕，疏通而不燥，潤澤而不滯，血阻於肺者，非此不能清也。</p></span>
<h3>菌桂</h3>
<p>味辛溫。主百病。<span class="註"><small class="雙行小字">言百病用之得宜皆有益也。</small></span>養精神。<span class="註"><small class="雙行小字">通達臟腑，益在內也。</small></span>和顏色。<span class="註"><small class="雙行小字">調暢血脈，益在外也。</small></span>為諸藥先聘通使。<span class="註"><small class="雙行小字">辛香四達，引藥以通經絡。</small></span>久服，輕身不老。<span class="註"><small class="雙行小字">血脈通利之效。</small></span>面生光華，媚好常如童子。<span class="註"><small class="雙行小字">血和則潤澤也。</small></span></p>
<span class="註"><p>寒氣之鬱結不舒者，惟辛溫可以散之。桂性溫補陽而香氣最烈，則不專於補而又能驅逐陰邪。凡陰氣所結，能與藥相拒，非此不能入也。人身有氣中之陽，有血中之陽。氣中之陽，走而不守；血中之陽，守而不走。凡藥之氣勝者，往往補氣中之陽；質勝者，往往補血中之陽。如附子暖血，肉桂暖氣，一定之理也。然氣之陽勝則能動血，血之陽勝則能益氣，又相因之理也。桂氣分藥也，而其驗則見於血，其義不曉然乎。</p></span>
<h3>松脂</h3>
<p>味苦溫。主疽惡瘡，頭瘍白禿，疥瘙。<span class="註"><small class="雙行小字">除濕火所化之病。</small></span>風氣。<span class="註"><small class="雙行小字">香散風。</small></span>安五臟。<span class="註"><small class="雙行小字">補脂液。</small></span>除熱。<span class="註"><small class="雙行小字">性耐寒暑。</small></span>久服，輕身，不老延年。<span class="註"><small class="雙行小字">松多脂而壽故也。</small></span></p>
<span class="註"><p>松之精氣在皮，故其脂皆生於皮。其質黏膩似濕，而性極燥，故凡濕熱之在皮膚者，皆能治之。凡癰疽瘡疥之疾，皆皮膚濕火所鬱，必腐肉傷皮，流膿結痂而後愈。松之皮，日易月新，脂從皮出，全無傷損，感其氣者，即成膿脫痂而愈。義取其象之肖也。</p></span>
<h3>槐實</h3>
<p>味苦寒。主五內邪氣熱。<span class="註"><small class="雙行小字">清浮游不歸根之火。</small></span>止涎唾。<span class="註"><small class="雙行小字">清肺經濕火。</small></span>補絕傷。<span class="註"><small class="雙行小字">陽明主機關，此能滋養陽明也。</small></span>五痔，火瘡，婦人乳瘕。<span class="註"><small class="雙行小字">皆陽明燥金之疾。</small></span>子臟急痛。<span class="註"><small class="雙行小字">亦陽明經脈之病。</small></span></p>
<span class="註"><p>槐當秋而實，得金之令。色黃，得金之色，故其性體清肅，乃手太陰、手陽明之要藥也。金衰則為火所侮，凡有餘之火，不能歸藏其宅，必犯肺與大腸，得此清肅之氣以助之，則火不能傷而自歸其宅，不治火而火自退，此從本之治，醫之良法也。</p></span>
<h3>柏實</h3>
<p>味甘平。主驚悸。<span class="註"><small class="雙行小字">清心經之游火。</small></span>安五臟。<span class="註"><small class="雙行小字">滋潤之功。</small></span>益氣。<span class="註"><small class="雙行小字">壯火食氣，火寧則氣益也。</small></span>除風濕痺。<span class="註"><small class="雙行小字">得秋金之令能燥濕平肝也。</small></span>久服，令人潤澤美色，耳目聰明。<span class="註"><small class="雙行小字">滋潤皮膚及諸竅。</small></span>不飢不老，輕身延年。<span class="註"><small class="雙行小字">柏之性不假灌溉而能壽也。</small></span></p>
<span class="註"><p>柏得天地堅剛之性以生，不與物變遷，經冬彌翠，故能寧心神斂心氣，而不為邪風游火所侵剋也。人之生理謂之仁，仁藏於心。物之生機在於實，故實亦謂之仁。凡草木之仁，皆能養心氣，以類相應也。</p></span>
<h3>茯苓</h3>
<p>古注茯苓，皆云松脂入地所結，無苗葉花實。今之茯苓，皆有蔓可種，疑古今有異同也。味甘平。主胸脅逆氣，憂恚，驚邪恐悸，心下結痛，寒熱，煩滿，欬逆。<span class="註"><small class="雙行小字">皆脾虛不能化水，痰飲留結諸經之疾。</small></span>口焦，舌乾。<span class="註"><small class="雙行小字">胸有飲，則水下聚而津液不升。</small></span>利小便。<span class="註"><small class="雙行小字">淡滲利水道。</small></span>久服，安魂養神，不飢延年。<span class="註"><small class="雙行小字">心脾和通之效。</small></span></p>
<span class="註"><p>茯苓生山谷之中，得松柏之餘氣，其味極淡，故為調補脾陰之藥，義見石斛條下。凡人邪氣鬱結，津液不行，則為痰為飲。痰濃稠為火之所結，飲清稀為水之所停，故治痰則鹹以降之，治飲則淡以利之。若投以重劑，反拒而不相入，惟茯苓極輕淡，屬土，土勝水能疏之滌之，令從膀胱以出，病漸去而不覺也。觀仲景豬苓湯等方，五苓散義自見矣。</p></span>
<h3>蘗木</h3>
<p>味苦寒。主五臟、腸胃中結熱，黃疸，腸痔，止洩痢，女子漏下赤白，陰陽蝕瘡。<span class="註"><small class="雙行小字">皆陽明表裏上下所生濕熱之疾。</small></span></p>
<span class="註"><p>黃蘗極黃，得金之色，故能清熱。其味極苦，苦屬火，則又能燥濕。凡燥者未有不熱，而寒者未有不濕，惟黃柏於清熱之中而兼燥濕之效。蓋黃色屬金，陽明為燥金，故其治皆除陽明濕熱之疾，氣類相感也。</p></span>
<h3>乾漆</h3>
<p>味辛溫。主絕傷，補中，續筋骨，填髓腦。<span class="註"><small class="雙行小字">補續筋骨中之脂膏。</small></span>安五臟。<span class="註"><small class="雙行小字">實臟中之脂膏。</small></span>五緩六急。<span class="註"><small class="雙行小字">調和筋骨。</small></span>風寒濕痺。<span class="註"><small class="雙行小字">漆得寒反堅，得濕反燥，故能除寒熱也。</small></span>生漆去長蟲。<span class="註"><small class="雙行小字">生漆著人肌膚即腐爛，故亦能腐蟲。</small></span>久服，輕身耐老。<span class="註"><small class="雙行小字">漆入地不朽，其質耐久，故有此效。</small></span></p>
<span class="註"><p>此以質為治。漆，樹脂也。凡草木之脂最韌而不朽者，莫如漆。人身中非氣非血而能充養筋骨者，皆脂膏也。氣血皆有補法，而脂膏獨無補法，則以樹之脂膏力最厚者補之。而脂膏之中，凡風寒濕熱之邪，留而不去者，得其氣以相助，亦并能驅而滌之也。</p></span>
<h3>辛夷</h3>
<p>味辛溫。主五臟，身體寒熱。<span class="註"><small class="雙行小字">清氣下陷之疾。</small></span>頭風腦痛。<span class="註"><small class="雙行小字">升散風邪。</small></span>面䵟<span class="註"><small class="雙行小字">䵟。去皮毛之風滯。</small></span>久服，下氣，輕身，明目，增年耐老。<span class="註"><small class="雙行小字">清氣上升則濁氣下降，而百體清寧，可永年矣。</small></span></p>
<span class="註"><p>辛夷與眾木同植，必高於眾木而後已，其性專於向上，故能升達清氣。又得春氣之最先，故能疏達肝氣。又芳香清烈，能驅逐邪風頭目之病。藥不能盡達，此為之引也。</p></span>
<h3>桑上寄生</h3>
<p>味苦平。主腰痛。<span class="註"><small class="雙行小字">得桑之氣，亦能助筋骨也。</small></span>小兒背強。<span class="註"><small class="雙行小字">驅脊間風。</small></span>癰腫。<span class="註"><small class="雙行小字">和血脈。</small></span>安胎。<span class="註"><small class="雙行小字">胎亦寄母腹者也。</small></span>充肌膚，堅髮齒，長鬚眉。<span class="註"><small class="雙行小字">養皮毛之血脈。</small></span>其實主明目。<span class="註"><small class="雙行小字">桑性驅風，肝為風臟，而開竅於目，風去則目明也。</small></span>輕身通神。<span class="註"><small class="雙行小字">寄生乃感風露之氣以生，故服之亦有清虛之妙應。</small></span></p>
<span class="註"><p>寄生乃桑之精氣所結，復生小樹於枝間，有子之象焉，故能安胎。其性與桑相近，故亦能驅風養血。其生不著土，資天氣而不資地氣，故能滋養血脈於空虛之地，而取效更神也。</p></span>
<h3>杜仲</h3>
<p>味辛平。主腰脊痛，補中，益精氣，堅筋骨，強志。<span class="註"><small class="雙行小字">其質堅韌者，其精氣必足，故亦能堅定人身之筋骨氣血也。</small></span>除陰下癢濕。<span class="註"><small class="雙行小字">補皮利濕。</small></span>小便餘瀝。<span class="註"><small class="雙行小字">堅溺管之氣。</small></span>久服，輕身耐老。<span class="註"><small class="雙行小字">強健肢體。</small></span></p>
<span class="註"><p>杜仲，木之皮。木皮之韌且厚者此為最，故能補人之皮。又其中有絲連屬不斷，有筋之象焉，故又能續筋骨。因形以求理，則其效可知矣。</p></span>
<h3>髮髲</h3>
<p>味苦溫。主五癃，關格不通，利小便、水道。<span class="註"><small class="雙行小字">滑潤疏通之效。</small></span>療小兒癇，大人痓，仍自還神化。<span class="註"><small class="雙行小字">滋養絡脈。</small></span></p>
<span class="註"><p>髮為血之餘，而經中所治之疾，皆主通利經便之功，何也？蓋心與小腸為表裏，心主血，髮為血之餘，則不能入心，而能入小腸，以小腸為心之出路也。且髮亦毛類，肺主皮毛，而為水源，故能利水，非一定之理乎！其治癇、痓，則瀉心家之痰飲，及滋潤血脈之功也。《金匱要略》方治小便閉淋，用滑石、亂髮，知用藥悉遵《本經》者，惟仲景一人而已。</p></span>
<h3>龍骨</h3>
<p>鹹甘平。主心腹鬼疰，精物老魅。<span class="註"><small class="雙行小字">純陽能制陰邪。</small></span>欬逆。<span class="註"><small class="雙行小字">斂氣滌飲。</small></span>洩痢膿血，女子漏下。<span class="註"><small class="雙行小字">收澀之功。</small></span>癥瘕堅結。<span class="註"><small class="雙行小字">龍性善入，能穿破積滯。</small></span>小兒熱氣驚癇。<span class="註"><small class="雙行小字">斂火安神。</small></span>齒：主小兒、大人驚癇，癲疾狂走。<span class="註"><small class="雙行小字">與骨同義，但齒則屬腎、屬骨，皆主閉藏，故於安神凝志之效尤多。</small></span>心下結氣，不能喘息。<span class="註"><small class="雙行小字">收降上焦游行之逆氣。</small></span>諸痙。<span class="註"><small class="雙行小字">心經痰飲。</small></span>殺精物。<span class="註"><small class="雙行小字">義亦與骨同。</small></span>久服，輕身，通神明，延年。<span class="註"><small class="雙行小字">龍能飛騰變化且多壽，故有此效。</small></span></p>
<span class="註"><p>龍得天地純陽之氣以生，藏時多，見時少。其性至動而能靜，故其骨最黏澀，能收斂正氣。凡心神耗散，腸胃滑脫之疾，皆能已之。陽之純者，乃天地之正氣，故在人身亦但斂正氣，而不斂邪氣。所以仲景於傷寒之邪氣未盡者，亦用之。後之醫者於斯義，蓋未之審也。人身之神屬陽，然神非若氣血之有形質可補瀉也，故治神為最難。龍者乘天地之元陽出入，而變化不測，乃天地之神也。以神治神，則氣類相感，更佐以寒熱溫涼補瀉之法，雖無形之病，不難治矣。天地之陽氣有二：一為元陽之陽，一為陰陽之陽。陰陽之陽，分於太極既判之時，以日月為升降，而水火則其用也，與陰為對待，而不并於陰，此天地并立之義也。元陽之陽，存於太極未判之時，以寒暑為起伏，而雷雨則其用也，與陰為附麗而不雜於陰，此天包地之義也。龍者，正天地元陽之氣所生，藏於水，而不離乎水者也。故春分陽氣上，井泉冷，龍用事而能飛；秋分陽氣下，井泉溫，龍退蟄而能潛。人身五臟屬陰，而腎尤為陰中之至陰，凡周身之水皆歸之，故人之元陽藏焉。是腎為藏水之腎，而亦為藏火之臟也，所以陰分之火動而不藏者，亦用龍骨，蓋借其氣以藏之，必能自反其宅也。非格物窮理之極者，其孰能與於斯。</p></span>
<h3>麝香</h3>
<p>味辛溫。主辟惡氣。<span class="註"><small class="雙行小字">香氣盛，則穢氣除。</small></span>殺鬼精物。<span class="註"><small class="雙行小字">香能勝邪。</small></span>溫瘧。<span class="註"><small class="雙行小字">香散邪風。</small></span>蠱毒。<span class="註"><small class="雙行小字">香能殺蟲。</small></span>癇痓。<span class="註"><small class="雙行小字">香通經絡。</small></span>去三蟲。<span class="註"><small class="雙行小字">蟲皆濕穢之所生，故亦能除之。</small></span>久服，除邪，不夢寤魘寐。<span class="註"><small class="雙行小字">魘寐由心氣閉塞而成，香氣通達則無此患。</small></span></p>
<span class="註"><p>此以氣為治，麝喜食香草，其香氣之精，結於臍內，為諸香之冠。香者氣之正，正氣盛，則自能除邪辟穢也。</p></span>
<h3>牛黃</h3>
<p>味苦平。主驚癇。<span class="註"><small class="雙行小字">通心化痰。</small></span>寒熱，熱盛狂痓。<span class="註"><small class="雙行小字">清心家之熱痰。</small></span>除邪逐鬼。<span class="註"><small class="雙行小字">心氣旺，則邪氣自不能容也。</small></span></p>
<span class="註"><p>牛之精氣不能運於周身，則成牛黃，屬土，故其色黃也。凡治痰涎，皆以補脾為主，牛肉本能健脾化痰，而黃之功尤速。又黃必結於心下，故又能入手少陰、厥陰之分，以驅邪滌飲，而益其精氣也。</p></span>
<h3>白膠</h3>
<p>味甘平。主傷中勞絕，腰痛羸瘦。<span class="註"><small class="雙行小字">皆骨節虛寒之證。</small></span>補中益氣。<span class="註"><small class="雙行小字">補血則中氣自足也。</small></span>婦人血閉無子，止痛，安胎。<span class="註"><small class="雙行小字">補衝脈血海之功。</small></span>久服，輕身延年。<span class="註"><small class="雙行小字">精足血滿，故有此效。</small></span></p>
<span class="註"><p>鹿之精氣全在於角，角本下連督脈。鹿之角，於諸獸為最大，則鹿之督脈最盛可知，故能補人身之督脈。督脈為周身骨節之主，腎主骨，故又能補腎。角之中皆實以血，衝為血海，故又能補衝脈，衝脈盛而腎氣強，則諸效自臻矣。</p></span>
<h3>阿膠</h3>
<p>味甘平。主心腹內崩。<span class="註"><small class="雙行小字">血脫之疾。</small></span>勞極洒洒如瘧狀。<span class="註"><small class="雙行小字">勞倦則脾傷而血虧，此肝脾之寒熱，故如瘧也。</small></span>腰腹痛，四肢酸疼。<span class="註"><small class="雙行小字">血枯之疾。</small></span>女子下血，安胎。<span class="註"><small class="雙行小字">養血則血自止而胎安。</small></span>久服，輕身益氣。<span class="註"><small class="雙行小字">補血則氣亦充。</small></span></p>
<span class="註"><p>阿井為濟水之伏流，濟之源為沇水，自沇水以至於阿井，伏見不常。若《夏書》所謂溢為滎，出於陶邱北者，皆伏流從下汎上者也。阿井在陶邱北三百里，泉雖流而不上，尤為伏脈中之靜而沉者，過此則其水皆上汎成川，且與他泉水亂而不純矣。故阿井之水，較其旁諸水重十之一二不等。人之血脈，宜伏而不宜見，宜沉而不宜浮。以之成膠，真止血調經之上藥也。其必以驢皮煎者，驢肉能動風，肝為風臟而藏血，乃借風藥以引入肝經也。又凡皮皆能補脾，脾為後天生血之本，而統血，故又為補血藥中之聖品。</p></span>
<h3>丹雄雞</h3>
<p>味甘微溫。主女人崩中漏下，赤白沃。<span class="註"><small class="雙行小字">補脾疏肝。</small></span>補虛溫中，止血。<span class="註"><small class="雙行小字">滋養血脈。</small></span>頭：主殺鬼。<span class="註"><small class="雙行小字">雞得清肅之氣而頭為之會，故能除鬼邪。</small></span>東門上者尤良。<span class="註"><small class="雙行小字">東門上者，東門上所磔雞頭，取陽方之生氣也。</small></span>肶胵裹黃皮：微寒，主洩利。<span class="註"><small class="雙行小字">雞食沙石亦能消化，故治食積不化之洩利。</small></span>屎白：主消渴。<span class="註"><small class="雙行小字">雞善食而不善飲，其腸胃不能容水，故主消渴。</small></span>傷寒寒熱。<span class="註"><small class="雙行小字">治傷寒有食邪之寒熱。</small></span></p>
<span class="註"><p>凡血肉之物，鮮屬金者，惟雞於十二支屬酉，而身輕能飛，其聲嘹亮，於五音屬商，乃得金氣之清虛者也。五臟之氣，木能疏土，金能疏木，雞屬金，故能疏達肝氣。本血肉之物，故又能不剋伐而調養肝血也。</p></span>
<h3>石蜜</h3>
<p>石蜜，野蜂於崖間石隙中採花所作也，疑古時未有養蜂之法，則以崖蜜為上，而土木中之蜜不用。今人養蜂收蜜，其法最良，功同石蜜也。味甘平。主心腹邪氣，養胃和中。諸驚癇痓。<span class="註"><small class="雙行小字">定心平肝。</small></span>安五臟諸不足，益氣補中。<span class="註"><small class="雙行小字">百花之精，臟腑經絡皆受益也。</small></span>止痛。<span class="註"><small class="雙行小字">甘能緩痛。</small></span>解毒。<span class="註"><small class="雙行小字">香能辟穢惡之毒。</small></span>除眾病。<span class="註"><small class="雙行小字">諸花之性俱全。</small></span>和百藥。<span class="註"><small class="雙行小字">諸花之性俱化。</small></span>久服，強志輕身，不飢，不老。<span class="註"><small class="雙行小字">精神充足故也。</small></span></p>
<span class="註"><p>蜜者，採百花之精華而成者也。天地春和之氣，皆發於草木，草木之和氣，皆發於花。花之精英，釀而為蜜，和合眾性則不偏，委去糟粕則不滯。甘以養中，香以理氣，真養生之上品也。但其性極和平，於治疾則無速效耳。凡天地之生氣，皆正氣也。天地之死氣，皆邪氣也。正則和平，邪則有毒。毒者，敗正傷生之謂。蜜本百花之蕊，乃生氣之所聚，生氣旺，則死氣不能犯，此解毒之義也。</p></span>
<h3>桑螵蛸</h3>
<p>味鹹平。主傷中疝瘕。<span class="註"><small class="雙行小字">瘀血凝結中焦。</small></span>陰痿。益精生子。<span class="註"><small class="雙行小字">補益腎氣。</small></span>女子血閉。<span class="註"><small class="雙行小字">和通血脈。</small></span>腰痛。<span class="註"><small class="雙行小字">強腎之經。</small></span>通五淋，利小便水道。<span class="註"><small class="雙行小字">通腎之府。</small></span></p>
<span class="註"><p>桑螵蛸，桑上螳螂所生之子也。螳螂於諸蟲中最有力，而其子最繁，則其腎之強可知。人之有子，皆本於腎，以子補腎，氣相從也。桑性最能續傷和血，螵蛸在桑者，得桑之性，故有養血逐瘀之功。</p></span>
<h3>藕實莖</h3>
<p>一氣相通，莖與實無異，非若他藥之根實各殊也。味甘平。主補中。<span class="註"><small class="雙行小字">味甘淡得中土之性。</small></span>養神。<span class="註"><small class="雙行小字">氣香而中虛。</small></span>益氣力。<span class="註"><small class="雙行小字">脾腎旺則氣血強。</small></span>除百疾。<span class="註"><small class="雙行小字">中和之性無偏雜之害也。</small></span>久服，輕身耐老，不飢延年。<span class="註"><small class="雙行小字">和平之效。</small></span></p>
<span class="註"><p>藕者水土之精也，故能養脾胃之陰。生水底污泥之中，而無處不香，無節不通，故又能疏達脾胃之氣，而滋其血脈。濕而不滯，香而不燥，果中之聖品也。</p></span>
<h3>橘柚</h3>
<p>味辛溫。主胸中瘕熱逆氣。<span class="註"><small class="雙行小字">開達上焦之氣。</small></span>利水穀。<span class="註"><small class="雙行小字">通利中焦之滯。</small></span>久服，去臭，下氣，通神。<span class="註"><small class="雙行小字">芳香辛烈，自能辟穢邪而通正氣也。</small></span></p>
<span class="註"><p>橘柚通體皆香，而皮辛肉酸，乃肝脾通氣之藥也。故凡肝氣不舒，剋賊脾土之疾，皆能已之。凡辛香之藥皆上升，橘柚實酸，酸主斂，故又能降氣，不專於散氣也。</p></span>
<h3>大棗</h3>
<p>味甘平。主心腹邪氣，安中養脾。<span class="註"><small class="雙行小字">建立中氣，則邪氣自除。</small></span>助十二經，平胃氣。<span class="註"><small class="雙行小字">十二經皆受津液於脾胃，脾胃盛則十二經皆充也。</small></span>通九竅。<span class="註"><small class="雙行小字">補而不滯。</small></span>補少氣、少津液，身中不足。<span class="註"><small class="雙行小字">周身血氣無不補也。</small></span>大驚。<span class="註"><small class="雙行小字">甘能緩急。</small></span>四肢重。<span class="註"><small class="雙行小字">脾虛則重，旺則輕也。</small></span>和百藥。<span class="註"><small class="雙行小字">百藥氣味不齊而甘能調之。</small></span>久服，輕身長年。<span class="註"><small class="雙行小字">皆補益後天之功。</small></span></p>
<span class="註"><p>棗味甘，而肉厚色赤，得火之色，土之味，故能建立中焦，溫養脾胃，為後天之本。萬物生於土，土氣充盈，諸經自皆受益矣。</p></span>
<h3>葡萄</h3>
<p>味甘平。主筋骨濕痺，益氣倍力。<span class="註"><small class="雙行小字">強筋燥濕。</small></span>強志。<span class="註"><small class="雙行小字">肝藏魂。</small></span>令人肥健，耐飢，忍風寒。久服輕身，不老延年。<span class="註"><small class="雙行小字">皆培補肝脾之效。</small></span>可作酒。<span class="註"><small class="雙行小字"></small></span></p>
<span class="註"><p>此以形為治，葡萄屈曲蔓延，冬卷春舒，與筋相似，故能補益筋骨。其實甘美，得土之正味，故又能滋養肌肉。肝主筋，脾主肉，乃肝脾交補之藥也。</p></span>
<h3>雞頭實</h3>
<p>味甘平。主濕痺，腰脊膝痛。<span class="註"><small class="雙行小字">下焦濕痰之疾。</small></span>補中，除暴疾。<span class="註"><small class="雙行小字">暴疾皆生於中氣不足，中氣足則無此疾矣。</small></span>益精氣，強志。<span class="註"><small class="雙行小字">肝腎足則心氣亦寧也。</small></span>令耳目聰明。<span class="註"><small class="雙行小字">充溢諸竅。</small></span>久服，輕身，不飢，耐老神仙。<span class="註"><small class="雙行小字">脾腎兼旺則諸效自臻矣。</small></span></p>
<span class="註"><p>雞頭生於水中，而其實甘淡，得土之正味，乃脾腎之藥也。脾惡濕而腎惡燥，雞頭雖生水中，而淡滲甘香，則不傷於濕。質黏味澀，而又滑澤肥潤，則不傷於燥。凡脾腎之藥，往往相反，而此則相成，故尤足貴也。</p></span>
<h2>中品</h2>
<h3>石硫黃</h3>
<p>味酸溫。主婦人陰蝕。<span class="註"><small class="雙行小字">陰濕所生之疾，惟陽燥之物能已之。</small></span>疽痔，惡血。<span class="註"><small class="雙行小字">亦下焦陰分之濕所生病也。</small></span>堅筋骨。<span class="註"><small class="雙行小字">壯筋骨之陽氣。</small></span>除頭禿。<span class="註"><small class="雙行小字">殺髮根濕氣所生之蟲。</small></span>能化金、銀、銅、鐵奇物。<span class="註"><small class="雙行小字">火剋金也。</small></span></p>
<span class="註"><p>硫黃乃石中得火之精者也。石屬陰，而火屬陽，寓至陽於至陰，故能治陰分中寒濕之疾。其氣旺而性暴，故又能殺蟲而化諸金也。</p></span>
<h3>水銀</h3>
<p>味辛寒。主疥瘻，痂瘍白禿，殺皮膚中虱。<span class="註"><small class="雙行小字">解皮毛中濕熱之毒。虱亦濕熱所生也。</small></span>墮胎。<span class="註"><small class="雙行小字">至重能墮胎，又胎氣始生，肝氣養之，金剋木則傷肝而胎墜也。</small></span>除熱，殺金、銀、銅、錫毒。<span class="註"><small class="雙行小字">得五金之精氣，故能除其毒也。</small></span>溶化還復為丹。<span class="註"><small class="雙行小字">水銀出於丹砂中者為多，故亦可煉成丹石，金精得火變化不測，鉛汞皆如此。</small></span>久服，神仙不死。<span class="註"><small class="雙行小字">以其不朽而能變化也。</small></span></p>
<span class="註"><p>水銀，五金之精也。得五金之精氣而未成質，煉之，亦能為金銀等物。其所治，皆皮膚熱毒之疾。蓋肺屬金，而主皮毛，亦以氣相感也。丹家爐鼎之術，以水銀與鉛為龍虎，合煉成丹，服之則能長生，久服飛昇羽化。自《參同契》以後，其說紛紛，高明之士，為所誤者不一而足。夫水銀乃五金之精，而未成金體者也。凡金無不畏火，想水銀則百煉如故，以其未成金質，中含水精，故火不得而傷之。其能點化為黃白者，亦因藥物所煉，變其外貌，非能真作金銀也。今乃以其質之不朽，欲借其氣以固形體，真屬支離。蓋人與萬物，本為異體。借物之氣，以攻六邪，理之所有，借物之質，以永性命，理之所無。術士好作聰明，談天談易，似屬可聽，實則伏羲畫卦，列聖繫辭，何嘗有「長生」二字，此乃假托大言，以愚小智，其人已死，詭云尚在。試其術者，破家喪身，未死則不悟，既死則又不知。歷世以來，昧者接踵，總由畏死貪生之念，迫於中而反以自速其死耳。悲夫！</p></span>
<h3>磁石</h3>
<p>味辛寒。主周痺，風濕，肢節中痛，不可持物，洗洗酸消。<span class="註"><small class="雙行小字">味辛則散風，石性燥則除濕，其治酸痛等疾者，以其能堅筋骨中之正氣，則邪氣自不能侵也。</small></span>除大熱。<span class="註"><small class="雙行小字">寒除熱。</small></span>煩滿。<span class="註"><small class="雙行小字">重降逆。</small></span>及耳聾。<span class="註"><small class="雙行小字">腎火炎上則耳聾，此能降火歸腎。</small></span></p>
<span class="註"><p>凡五行之中，各有五行，所謂物物一太極也。如金一行也，銀色白屬肺，金色赤屬心，銅色黃屬脾，鉛色青屬肝，鐵色黑屬腎。石也者，金土之雜氣，而得金之體為多。何以驗之？天文家言星者金之散氣，而星隕即化為石，則石之屬金無疑。而石之中亦分五金焉，磁石乃石中之鐵精也，故與鐵同氣，而能相吸，鐵屬腎，故磁石亦補腎。腎主骨，故磁石堅筋壯骨；腎屬冬令，主收藏，故磁石能收斂正氣，以拒邪氣。知此理，則凡藥皆可類推矣。</p></span>
<h3>陽起石</h3>
<p>味鹹微溫。主崩中漏下。<span class="註"><small class="雙行小字">寒滑之病。</small></span>破子臟中血，癥瘕結氣，寒熱腹痛，無子。<span class="註"><small class="雙行小字">凡寒凝血滯之病，皆能除之。</small></span>陰痿不起，補不足。<span class="註"><small class="雙行小字">強腎補陽益氣。</small></span></p>
<span class="註"><p>陽起石得火不燃，得日而飛；硫黃得日無焰，得火而發。皆為火之精，而各不同。蓋陽起石稟日之陽氣以成，天上陽火之精也；硫黃稟石之陽氣以成，地上陰火之精也。所以硫黃能益人身陰火之陽，陽起石能益人身陽火之陽也。五行各有陰陽，亦可類推。</p></span>
<h3>乾薑</h3>
<p>味辛溫。主胸滿。<span class="註"><small class="雙行小字">寒邪之在胸者則散之。</small></span>欬逆上氣。<span class="註"><small class="雙行小字">辛能潤肺降逆。</small></span>溫中止血。<span class="註"><small class="雙行小字">血得暖而歸經。</small></span>出汗。<span class="註"><small class="雙行小字">辛能散逐寒氣，使從汗出。</small></span>逐風濕痺。<span class="註"><small class="雙行小字">治寒邪之在筋骨者。</small></span>腸澼下利。<span class="註"><small class="雙行小字">治寒邪之在腸胃者。</small></span>生者尤良。<span class="註"><small class="雙行小字">辛散之品，尤取其氣性之清烈也。</small></span>久服，去臭氣，通神明。<span class="註"><small class="雙行小字">辛甚氣烈，故能辟穢通陽。</small></span></p>
<span class="註"><p>凡味厚之藥主守，氣厚之藥主散。乾薑氣味俱厚，故散而能守。夫散不全散，守不全守，則旋轉於經絡臟腑之間，驅寒除濕，和血通氣，所必然矣。故性雖猛峻，而不妨服食也。</p></span>
<h3>苦參</h3>
<p>味苦寒。主心腹結氣。<span class="註"><small class="雙行小字">苦入心，以散熱結之氣。</small></span>癥瘕積聚。<span class="註"><small class="雙行小字">苦極則能洩。</small></span>黃疸。<span class="註"><small class="雙行小字">寒能除鬱熱。</small></span>溺有餘瀝。<span class="註"><small class="雙行小字">心通於小腸，心火除則小腸鬱塞之氣通矣。</small></span>逐水。<span class="註"><small class="雙行小字">小腸通則水去。</small></span>除癰腫。<span class="註"><small class="雙行小字">諸瘡皆屬心火，心火清則癰腫自去也。</small></span>補中。<span class="註"><small class="雙行小字">《內經》云：「脾苦濕，急食苦以燥之。」即此義也。</small></span>明目止淚。<span class="註"><small class="雙行小字">寒清肝火，苦除肝濕。</small></span></p>
<span class="註"><p>此以味為治也，苦入心，寒除火，故苦參專治心經之火，與黃連功用相近。但黃連似去心臟之火為多，苦參似去心腑小腸之火為多。則以黃連之氣味清，而苦參之氣味濁也。</p></span>
<h3>當歸</h3>
<p>味甘溫。主欬逆上氣。<span class="註"><small class="雙行小字">潤肺氣。</small></span>溫瘧寒熱，洗洗在皮膚中。<span class="註"><small class="雙行小字">皆風寒在血中之病。</small></span>婦人漏下絕子。<span class="註"><small class="雙行小字">榮血不足之病。</small></span>諸惡瘡瘍，金瘡。<span class="註"><small class="雙行小字">榮血火鬱及受傷之病。</small></span>煮飲之。<span class="註"><small class="雙行小字">煮飲則能四達以行諸經。<del>○</del>按：血在經絡之中流行不息，故凡用行血補血之藥，入湯劑者為多，入丸散者絕少。故古人治病，不但方不可苟，即法亦不可易也。</small></span></p>
<span class="註"><p>當歸辛香而潤，香則走脾，潤則補血，故能透入中焦榮氣之分，而為補榮之聖藥。<del>○</del>當歸為血家必用之藥，而《本經》無一字及於補血養血者，何也？蓋氣無形可驟生，血有形難速長。凡通閉順氣，和陰清火，降逆生津，去風利竅，一切滋潤通和之品，皆能令陰氣流通，不使亢陽致害，即所以生血也。當歸辛芳溫潤，兼此數長，實為養血之要品，惟著其血充之效，則血之得所養，不待言而可知。此等當參全經而悟其理。</p></span>
<h3>麻黃</h3>
<p>味苦溫。主中風傷寒，頭痛溫瘧，發表出汗，去邪熱氣。<span class="註"><small class="雙行小字">凡風寒之在表者，無所不治，以能驅其邪，使皆從汗出也。</small></span>止欬逆上氣。<span class="註"><small class="雙行小字">輕揚能散肺邪。</small></span>除寒熱。<span class="註"><small class="雙行小字">散榮衛之外邪。</small></span>破癥堅積聚。<span class="註"><small class="雙行小字">散臟腑之內結。</small></span></p>
<span class="註"><p>麻黃，輕揚上達，無氣無味，乃氣味之最清者，故能透出皮膚毛孔之外，又能深入積痰凝血之中。凡藥力所不到之處，此能無微不至，較之氣雄力厚者，其力更大。蓋出入於空虛之地，則有形之氣血，不得而御之也。</p></span>
<h3>芍藥</h3>
<p>味苦。主邪氣腹痛。<span class="註"><small class="雙行小字">肝氣乘脾則痛，斂肝氣則痛除。</small></span>除血痺。<span class="註"><small class="雙行小字">肝邪凝滯之病。</small></span>破堅積，寒熱疝瘕。<span class="註"><small class="雙行小字">肝邪結聚之氣。</small></span>止痛。<span class="註"><small class="雙行小字">血和則痛止。</small></span>利小便。<span class="註"><small class="雙行小字">肝氣下達於宗筋，故小便亦利。</small></span>益氣。<span class="註"><small class="雙行小字">肝氣斂則受益。</small></span></p>
<span class="註"><p>芍藥花大而榮，得春氣為盛，而居百花之殿，故能收拾肝氣，使歸根反本，不至以有餘肆暴，犯肺傷脾，乃養肝之聖藥也。</p></span>
<h3>玄參</h3>
<p>味苦微寒。主腹中寒熱，積聚。<span class="註"><small class="雙行小字">皆火氣凝結之疾。</small></span>女子產乳餘疾。<span class="註"><small class="雙行小字">產後血虧，衝脈之火易動。清血中之火，則諸疾平矣。</small></span>補腎氣，令人目明。<span class="註"><small class="雙行小字">除陰分之火，則頭目清明矣。</small></span></p>
<span class="註"><p>玄參色黑屬腎而性寒，故能除腎家浮游上升之火。但腎火有陽有陰，陽火發於氣分，火盛則傷氣。《內經》所謂「壯火食氣」是也。陰火發於血分，火盛則傷血。《內經》所謂「諸寒之而熱者，取之陰」是也。產後血脫則陰衰，而火無所制，又不可以寒涼折之；氣血未寧，又不能納峻補之劑。惟玄參寧火而帶微補，用之最為的當也。</p></span>
<h3>百合</h3>
<p>味甘平。主邪氣，腹脹心痛。<span class="註"><small class="雙行小字">肺氣不舒之疾。</small></span>利大小便。<span class="註"><small class="雙行小字">肺為水源。</small></span>補中。<span class="註"><small class="雙行小字">甘能補脾。</small></span>益氣。<span class="註"><small class="雙行小字">肺主氣，補肺則氣益矣。</small></span></p>
<span class="註"><p>此以形為治也，百合色白而多瓣，其形似肺，始秋而花，又得金氣之全者，故為清補肺金之藥。</p></span>
<h3>白芷</h3>
<p>味辛溫。主女人漏下赤白，血閉，陰腫。<span class="註"><small class="雙行小字">風在下焦而兼濕熱之證。</small></span>寒熱。<span class="註"><small class="雙行小字">風在榮衛。</small></span>風頭侵目淚出。<span class="註"><small class="雙行小字">風在上竅。</small></span>長肌膚，潤澤可作面脂。<span class="註"><small class="雙行小字">風氣乾燥，風去則肌肉生而潤澤矣。</small></span></p>
<span class="註"><p>凡驅風之藥，未有不枯耗精液者。白芷極香，能驅風燥濕，其質又極滑潤，能和利血脈而不枯耗，用之則有利無害者也。蓋古人用藥，既知藥性之所長，又度藥性之所短，而後相人之氣血，病之標本，參合研求，以定取舍，故能有顯效而無隱害。此學者之所當殫心也。</p></span>
<h3>黃芩</h3>
<p>味苦平。主諸熱，黃疸。<span class="註"><small class="雙行小字">大腸經中之鬱熱。</small></span>腸澼洩痢。<span class="註"><small class="雙行小字">大腸府中之鬱結。</small></span>逐水。<span class="註"><small class="雙行小字">水在腸中者。</small></span>下血閉。<span class="註"><small class="雙行小字">血之在陽明者使從大便出。</small></span>惡瘡疽蝕，火瘍。<span class="註"><small class="雙行小字">陽明主肌肉，凡肌肉熱毒等病，此皆除之。</small></span></p>
<span class="註"><p>此以形色為治，黃芩中空而色黃，為大腸之藥，故能除腸胃諸熱病。黃色屬土屬脾，大腸屬陽明燥金，而黃芩之黃屬大腸，何也？蓋胃與大腸為出納水穀之道，皆統於脾。又金多借土之色以為色。義詳決明條下，相參益顯也。</p></span>
<h3>狗脊</h3>
<p>味苦平。主腰背強，關機緩急，周痺，寒濕膝痛。<span class="註"><small class="雙行小字">凡邪氣之在骨節間者皆能治之。</small></span>頗利老人。<span class="註"><small class="雙行小字">老人精血衰，則筋骨空隙中尤不能舒展，故於此藥為尤宜也。</small></span></p>
<span class="註"><p>此以形為治，狗脊徧體生毛而多節，頗似狗之脊。諸獸之中，惟狗狡捷，而此藥似之。故能入筋骨機關之際，去其凝滯寒濕之氣，而使之強健利捷也。形同而性亦近，物理蓋可推矣。</p></span>
<h3>紫草</h3>
<p>味苦寒。主心腹邪氣。<span class="註"><small class="雙行小字">去心腹熱邪。</small></span>五疸。<span class="註"><small class="雙行小字">濕熱在血中。</small></span>補中益氣。<span class="註"><small class="雙行小字">榮家之熱清，則中焦和利。</small></span>利九竅。<span class="註"><small class="雙行小字">諸竅不為邪熱所閉。</small></span>通水道。<span class="註"><small class="雙行小字">心氣通於小腸。</small></span></p>
<span class="註"><p>紫草色紫而走心，心主血，又其性寒，故能治血家之熱。</p></span>
<h3>水萍</h3>
<p>味辛寒。主暴熱。<span class="註"><small class="雙行小字">得水之氣，故能除熱。</small></span>身癢。<span class="註"><small class="雙行小字">濕熱在皮膚。</small></span>下水氣。<span class="註"><small class="雙行小字">萍入水不濡，故能滌水。</small></span>勝酒。<span class="註"><small class="雙行小字">水氣盛則酒氣散矣。</small></span>長鬚髮。<span class="註"><small class="雙行小字">益皮毛之血氣。</small></span>主消渴。<span class="註"><small class="雙行小字">得水氣之助。</small></span>久服輕身。<span class="註"><small class="雙行小字">亦如萍之輕也。</small></span></p>
<span class="註"><p>水萍生於水中，而能出水上，且其葉入水不濡，是其性能敵水者也。故凡水濕之病，皆能治之。其根不著土，而上浮水面，故又能益皮毛之疾。</p></span>
<h3>澤蘭</h3>
<p>味苦微溫。主乳婦內衄。<span class="註"><small class="雙行小字">清陽明經絡濕熱之邪。</small></span>中風餘疾。<span class="註"><small class="雙行小字">氣溫體輕，故能散餘風。</small></span>大腹水腫，身面四肢浮腫，骨節中水。<span class="註"><small class="雙行小字">統治內外一切水病。</small></span>金瘡，癰腫，瘡膿。<span class="註"><small class="雙行小字">亦皆濕毒之病。</small></span></p>
<span class="註"><p>澤蘭生於水中，而芳香透達，節實莖虛，能於人經絡受濕之處，分疏通利，無所隔礙。蓋其質陰而氣陽，故能行於人身之陰，而發之於陽也。</p></span>
<h3>牡丹</h3>
<p>味辛寒。主寒熱，中風瘈瘲、痙，驚癇邪氣。<span class="註"><small class="雙行小字">皆肝氣所發之疾。</small></span>除癥堅，瘀血留舍腸胃。<span class="註"><small class="雙行小字">色赤走血，氣香能消散也。</small></span>安五臟。<span class="註"><small class="雙行小字">五臟皆血氣所留止，血氣和則無不利矣。</small></span>療癰瘡。<span class="註"><small class="雙行小字">清血家之毒火。</small></span></p>
<span class="註"><p>牡丹為花中之王，乃木氣之最榮澤者，故能舒養肝氣，和通經脈，與芍藥功頗近。但芍藥微主斂，而牡丹微主散，則以芍藥味勝，牡丹氣勝。味屬陰，而氣屬陽也。</p></span>
<h3>吳茱萸</h3>
<p>味辛溫。主溫中下氣。<span class="註"><small class="雙行小字">風寒上逆。</small></span>止痛。<span class="註"><small class="雙行小字">散寒濕之痛。</small></span>欬逆寒熱。<span class="註"><small class="雙行小字">寒邪入肺。</small></span>除濕血痺。<span class="註"><small class="雙行小字">辛能燥濕，溫能行血也。</small></span>逐風邪，開腠理。<span class="註"><small class="雙行小字">辛香散風通竅。</small></span></p>
<span class="註"><p>吳茱萸味極辛，辛屬金，金平木，故為驅逐肝風之要藥。但肝風有二，一為挾寒之風，一為挾火之風。吳茱萸性溫，於挾寒之風為宜，此又不可不審也。</p></span>
<h3>梔子</h3>
<p>味苦寒。主五內邪氣。<span class="註"><small class="雙行小字">熱邪之氣。</small></span>胃中熱氣。<span class="註"><small class="雙行小字">黃色入陽明，性寒能清熱。</small></span>面赤，酒皰皶鼻，白癩，赤癩，瘡瘍。<span class="註"><small class="雙行小字">此皆肌肉之病，乃陽明之表證也。</small></span></p>
<span class="註"><p>梔子正黃，亦得金色，故為陽明之藥。但其氣體清虛，走上而不走下，故不入大腸而入胃，胃在上焦故也。胃家之蘊熱，惟此為能除之。又胃主肌肉，肌肉有近筋骨者，有近皮毛者，梔子形開似肺，肺主皮毛，故專治肌肉熱毒之見於皮毛者也。</p></span>
<h3>鹿茸</h3>
<p>味甘溫。主漏下惡血。<span class="註"><small class="雙行小字">血中之陽不能固攝。</small></span>寒熱。<span class="註"><small class="雙行小字">陽虛。</small></span>驚癇。<span class="註"><small class="雙行小字">心火虧少。</small></span>益氣強志。<span class="註"><small class="雙行小字">補血之功。</small></span>生齒，不老。<span class="註"><small class="雙行小字">補腎之效。</small></span>角：主惡瘡癰腫。<span class="註"><small class="雙行小字">拓血中之毒。</small></span>逐邪惡氣。<span class="註"><small class="雙行小字">拓陰邪之氣。</small></span>留血在陰中。<span class="註"><small class="雙行小字">陰絡之凝滯，得熱而運行也。</small></span></p>
<span class="註"><p>鹿茸之中，唯一點胚血，不數日而即成角，此血中有真陽一點，通督脈，貫腎水，乃至靈至旺之物也，故入於人身為峻補陽血之要藥。又其物流動生發，故又能逐瘀通血也。餘義見白膠條下。鹿茸氣體全而未發洩，故補陽益血之功多。鹿角則透發已盡，故拓毒消散之功勝。先後遲速之間，功效輒異，非明乎造化之機者，不能測也。</p></span>
<h3>犀角</h3>
<p>犀有山犀、水犀二種，而水犀為妙。味苦寒。主百毒蟲疰。<span class="註"><small class="雙行小字">殺邪氣之蟲。</small></span>邪鬼。<span class="註"><small class="雙行小字">靈氣辟邪。</small></span>瘴氣。<span class="註"><small class="雙行小字">鬱熱之毒。</small></span>殺鉤吻、鴆羽、蛇毒。除邪。<span class="註"><small class="雙行小字">一切草木蟲鳥之毒皆除之。</small></span>不迷惑，魘寐。<span class="註"><small class="雙行小字">解心經熱邪，通心竅。</small></span></p>
<span class="註"><p>牛屬土，而犀則居水，水無獸，惟犀能伏其中，則其得水土之精可知。凡物之毒者，投水土則毒自化。犀得水土之精，故化毒之功為多，而其角中虛有通靈之象，故又能養心除邪也。</p></span>
<h3>伏翼</h3>
<p>味鹹平。主目瞑，明目，夜視有精光。<span class="註"><small class="雙行小字">存養肝經陰氣之精。</small></span>久服，令人喜樂媚好無憂。<span class="註"><small class="雙行小字">肝氣和則樂。</small></span></p>
<span class="註"><p>凡有翼能飛之物，夜則目盲。伏翼又名天鼠，即鼠類也，故日出則目瞑而藏，日入則目明而出，乃得陰氣之精者也。肝屬厥陰，而開竅於目，故資其氣以養肝血，而濟目力，感應之理也。物有殊能，必有殊氣，皆可類推。</p></span>
<h3>蚱蟬</h3>
<p>古人用蟬，今人用蛻，氣性亦相近。味鹹寒。主小兒驚癇夜啼，癲病，寒熱。<span class="註"><small class="雙行小字">皆小兒風熱之疾。</small></span></p>
<span class="註"><p>蚱蟬感涼風清露之氣以生，身輕而聲嘹亮，得金氣之發揚者也。又脫落皮殼，亦屬人身肺經之位，故其性能清火驅風，而散肺經之鬱氣。若其質輕虛，尤與小兒柔弱之體為宜也。蚱蟬日出有聲，日入無聲，止夜啼，取其意也。</p></span>
<h3>白僵蠶</h3>
<p>味鹹。主小兒驚癇夜啼。<span class="註"><small class="雙行小字">風痰之病。</small></span>去三蟲。<span class="註"><small class="雙行小字">風氣所生之蟲。</small></span>滅黑䵟，令人面色好。<span class="註"><small class="雙行小字">能去皮膚之風斑，令潤澤。</small></span>男子陰瘍病。<span class="註"><small class="雙行小字">下體風濕。</small></span></p>
<span class="註"><p>蠶，食桑之蟲也。桑能治風養血，故其性亦相近。僵蠶感風而僵，凡風氣之疾，皆能治之，蓋借其氣以相感也。僵蠶因風以僵，而反能治風者，何也？蓋邪之中人也，有氣而無形，穿經透絡，愈久愈深，以氣類相反之藥投之，則拒而不入，必得與之同類者，和入諸藥，使為鄉道，則藥力至於病所，而邪與藥相從，藥性漸發，邪或從毛空出，或從二便出，不能復留矣，此即從治之法也。風寒暑濕，莫不皆然，此神而明之之道，不專恃正治奏功也。</p></span>
<h2>下品</h2>
<h3>附子</h3>
<p>味辛溫。主風寒欬逆邪氣。<span class="註"><small class="雙行小字">寒邪逆在上焦。</small></span>溫中。<span class="註"><small class="雙行小字">除中焦之寒。</small></span>金瘡。<span class="註"><small class="雙行小字">血肉得暖而合。</small></span>破癥堅積聚，血瘕。<span class="註"><small class="雙行小字">寒氣凝結，血滯於中，得熱乃行也。</small></span>寒濕踒躄，拘攣，膝痛不能行步。<span class="註"><small class="雙行小字">此寒邪之在下焦筋骨間者。</small></span></p>
<span class="註"><p>凡有毒之藥，性寒者少，性熱者多。寒性和緩，熱性峻速，入於血氣之中，暴烈性發，體益不支，臟腑嬌柔之物，豈能無害，故須審慎用之。但熱之有毒者，速而易見；而寒之有毒者，緩而難察，尤所當慎也。</p></span>
<h3>半夏</h3>
<p>味辛平。主傷寒寒熱。<span class="註"><small class="雙行小字">寒熱之在肺胃間者。</small></span>心下堅，下氣。<span class="註"><small class="雙行小字">辛能開肺降逆。</small></span>咽喉腫痛，頭眩。<span class="註"><small class="雙行小字">開降上焦之火。</small></span>胸脹，欬逆，腸鳴。<span class="註"><small class="雙行小字">氣降則通和，故能愈諸疾。</small></span>止汗。<span class="註"><small class="雙行小字">澀斂肺氣。</small></span></p>
<span class="註"><p>半夏色白而味辛，故能為肺經燥濕之藥。肺屬金，喜斂而不喜散，蓋斂則肺葉垂而氣順，散則肺葉張而氣逆。半夏之辛，與薑桂之辛迥別，入喉則閉不能言，塗金瘡則血不復出，辛中帶澀，故能疏而又能斂也。又辛之斂，與酸之斂不同，酸則一主於斂，辛則斂之中有發散之意，尤與肺投合也。</p></span>
<h3>大黃</h3>
<p>味苦寒。主下瘀血，血閉。<span class="註"><small class="雙行小字">除血中熱結之滯。</small></span>寒熱。<span class="註"><small class="雙行小字">血中積滯之寒熱。</small></span>破癥瘕積聚。<span class="註"><small class="雙行小字">凡腹中邪氣之積，無不除之。</small></span>留飲宿食，蕩滌腸胃，推陳致新。<span class="註"><small class="雙行小字">凡腹中飲食之積，無不除之。</small></span>通利水穀，調中化食。<span class="註"><small class="雙行小字">助腸胃運化之力。</small></span>安和五臟。<span class="註"><small class="雙行小字">邪積既去，則正氣自和。</small></span></p>
<span class="註"><p>大黃色正黃而氣香，得土之正氣正色，故專主脾胃之疾。凡香者，無不燥而上升。大黃極滋潤達下，故能入腸胃之中，攻滌其凝結之邪，而使之下降，乃驅逐停滯之良藥也。</p></span>
<h3>葶藶</h3>
<p>味辛寒。主癥瘕，積聚結氣。<span class="註"><small class="雙行小字">水飲所結之疾。</small></span>飲食寒熱，破堅逐邪。<span class="註"><small class="雙行小字">亦皆水氣之疾。</small></span>通利水道。<span class="註"><small class="雙行小字">肺氣降則水道自通。</small></span></p>
<span class="註"><p>葶藶滑潤而香，專瀉肺氣，肺為水源，故能瀉肺，即能瀉水。凡積聚寒熱從水氣來者，此藥主之。大黃之瀉從中焦始，葶藶之瀉從上焦始。故《傷寒論》中承氣湯用大黃，而陷胸湯用葶藶也。</p></span>
<h3>旋覆花</h3>
<p>味鹹溫。主結氣脅下滿，驚悸。<span class="註"><small class="雙行小字">除中上二焦結閉之疾。</small></span>除水。<span class="註"><small class="雙行小字">鹹能潤下。</small></span>去五臟間寒熱。<span class="註"><small class="雙行小字">五臟留結不通所生之寒熱。</small></span>補中下氣。<span class="註"><small class="雙行小字">開氣下達，皆鹹降之功。</small></span></p>
<span class="註"><p>此以味為治，凡草木之味，鹹者絕少。鹹皆治下，鹹而能治上焦者尤少。惟此味鹹而治上，為上中二焦之藥。鹹能輭　堅，故凡上中二焦凝滯堅結之疾，皆能除之。凡體輕氣芳之藥，往往能消之，疾無不因鬱遏而成。《內經》云：「火鬱則發之。」輕芬之體能發散，故寒熱除也。</p></span>
<h3>藜蘆</h3>
<p>味辛寒。主蠱毒。<span class="註"><small class="雙行小字">味烈殺蟲。</small></span>欬逆，洩痢腸澼。<span class="註"><small class="雙行小字">除濕熱之疾。</small></span>頭瘍，疥瘙，惡瘡，殺諸蟲毒，去死肌。<span class="註"><small class="雙行小字">皆殺蟲之功。</small></span></p>
<span class="註"><p>凡有毒之藥，皆得五行剛暴偏雜之性以成。人身氣血，乃天地中和之氣所結，故服毒藥者，往往受傷。瘡疥等疾，久而生蟲，亦與人身氣血為類，故人服之，而有傷氣血者，必能殺蟲。惟用之得其法，乃有利而無弊，否則必至於兩傷，不可不慎也。又毒之解毒，各有所宜。如燥毒之藥，能去濕邪；寒毒之藥，能去火邪。辨證施治，神而明之，非僅「以毒攻毒」四字，可了其義也。</p></span>
<h3>白芨</h3>
<p>味苦平。主癰腫，惡瘡，敗疽傷陰，死肌。<span class="註"><small class="雙行小字">解毒生肌。</small></span>胃中邪氣。<span class="註"><small class="雙行小字">養胃驅邪。</small></span>賊風鬼擊，痱緩不收。<span class="註"><small class="雙行小字">和筋逐風。</small></span></p>
<span class="註"><p>此以質為治，白芨氣味沖淡和平，而體質滑潤又極黏膩。入於筋骨之中，能和柔滋養，與正氣相調，則邪自退也。</p></span>
<h3>貫眾</h3>
<p>味苦微寒。主腹中邪熱氣。<span class="註"><small class="雙行小字">寒能除熱。</small></span>諸毒。<span class="註"><small class="雙行小字">邪熱之毒。</small></span>殺三蟲。<span class="註"><small class="雙行小字">濕熱所生之蟲。</small></span></p>
<span class="註"><p>貫眾生於山澗之中，得天地清陰之氣，故能除蘊熱濕穢之疾。其體中虛而清芳，故能解中焦之毒。人身之蟲，皆濕熱所生。濕熱除，則諸蟲自消也。</p></span>
<h3>連翹</h3>
<p>味苦平。主寒熱。<span class="註"><small class="雙行小字">火氣所鬱之寒熱。</small></span>鼠瘻瘰癧，癰腫惡瘡，癭瘤結熱。<span class="註"><small class="雙行小字">皆肝經熱結之證。</small></span>蠱毒。<span class="註"><small class="雙行小字">濕熱之蟲。</small></span></p>
<span class="註"><p>凡藥之寒熱溫涼，有歸氣分者，有歸血分者。大抵氣勝者治氣，味勝者治血。連翹之氣芳烈，而性清涼，故凡在氣分之鬱熱，皆能已之。又味兼苦辛，應秋金之令，故又能除肝家留滯之邪毒也。</p></span>
<h3>夏枯草</h3>
<p>味苦辛寒。主寒熱，瘰癧，鼠瘻頭瘡。<span class="註"><small class="雙行小字">火氣所發。</small></span>破癥，散癭結氣。<span class="註"><small class="雙行小字">火氣所結。</small></span>腳腫濕痺。<span class="註"><small class="雙行小字">濕熱之在下者。</small></span>輕身。<span class="註"><small class="雙行小字">濕火退則身健也。</small></span></p>
<span class="註"><p>此以物稟之氣候為治，又一義也。凡物皆生於春，長於夏，惟此草至夏而枯。蓋其性稟純陰，得少陽之氣勃然興發，一交盛陽，陰氣將盡，即成熟枯槁。故凡盛陽留結之病，用此為治，亦即枯滅，此天地感應之妙理也。凡藥之以時候榮枯為治者，俱可類推。</p></span>
<h3>水蛭</h3>
<p>味鹹平。主逐惡血、瘀血，月閉，破血瘕積聚。<span class="註"><small class="雙行小字">諸敗血結滯之疾皆能除之。</small></span>無子。<span class="註"><small class="雙行小字">惡血留於子宮則難孕。</small></span>利水道。<span class="註"><small class="雙行小字">水蛭生於水中故也。</small></span></p>
<span class="註"><p>凡人身瘀血方阻，尚有生氣者易治，阻之久，則無生氣而難治。蓋血既離經，與正氣全不相屬，投之輕藥，則拒而不納，藥過峻，反能傷未敗之血，故治之極難。水蛭最喜食人之血，而性又遲緩善入，遲緩則生血不傷，善入則堅積易破，借其力以攻積久之滯，自有利而無害也。</p></span>
<h3>桃核仁</h3>
<p>味苦甘平。主瘀血，血閉，瘕，邪氣。<span class="註"><small class="雙行小字">凡血滯之疾皆除之。</small></span>殺小蟲。<span class="註"><small class="雙行小字">敗血所生之蟲。</small></span></p>
<span class="註"><p>桃得三月春和之氣以生，而花色最鮮明似血，故凡血鬱血結之疾，不能調和暢達者，此能入於其中而和之、散之。然其生血之功少，而去瘀之功多者，何也？蓋桃核本非血類，故不能有所補益。若瘀血皆已敗之血，非生氣不能流通，桃之生氣，皆在於仁，而味苦又能開洩，故能逐舊而不傷新也。</p></span>
