<header><h1>千金食治</h1></header>
<dl class="元資料" data-type="book">
<div><dt>作者</dt><dd>孫思邈</dd></div>
<div><dt>朝代</dt><dd>唐</dd></div>
<div><dt>年份</dt><dd><data value="618/907">公元618年至公元907年</data></dd></div>
</dl>
<h2>序</h2>
<p>昔神農遍嘗百藥，以辨五苦六辛之味，逮伊芳尹而湯液之劑備。黃帝欲創九針，以治三陰三陽之疾，得岐伯而砭艾之法精。雖大聖人有意於拯民之瘼，必待賢明博通之臣，或為之先，或為之後，然後聖人之所為，得行於永久也。醫家之務，經是二聖二賢而能事畢矣。後之留意於方術者，苟知藥而不知灸，未足以盡治療之體：知灸而不知針，未足以極表裡之變，如能兼是聖賢之　者，其名醫之良乎！有唐真人孫思邈者，乃其人也。以上智之材，抱康時之志，當太宗治平之際，思所以佐後庇民之事，以謂上醫之道，真聖人之政而王官之一守也。而乃祖述農、黃之旨，發明岐、摯之學，經掇扁鵲之《難》，方采倉公之《禁》，前仲景《黃素》，元化《綠　》，葛仙翁之《必效》，胡居士之《經驗》，張苗之《藥對》，叔和之《脈法》，皇甫謐之《三部》，陶隱居之《百一》。自余郭玉、范汪、僧坦、阮炳，上極文字之初，下訖有隋之世，或經或方，無不采摭。集諸家之所秘要，去眾說之所未至。成書一部，總三十卷，目錄一通。臟腑之論，針艾之法，脈證之辨，食治之宜。始婦人而次嬰孺；先香港腳而後中風、傷寒、癰疽、消渴、水腫；七竅之、五石之毒、備急之方、養性之術，總篇二百三十二門，合方論五千三百首，莫不十全可驗，四種兼包。濃德過於千金，遺法傳於百代。使二聖二賢之美，不墜於地，而世之人得以階近而至遠，上識於三皇之奧者，孫真人善述之功也。</p>
<p>然以俗尚險怪，我道純正，不述剖腹易心之異；世務徑省，我書浩博，不可道聽塗說而知，是以學寡其人，寢以紛靡；賢不繼世，簡編斷缺；不知者以異端見黜，好之者以闕疑輟功。恭惟我朝以好生為德，以廣愛為仁，乃詔儒臣，正是墜學。臣等術謝多通，職專典校，於是請內府之秘書，探《道藏》之別錄，公私眾本，搜訪幾遍，得以正其訛謬，補其遺佚。文之重復者削之，事之不倫者緝之，編次類聚，　月功至。綱領雖有所立，文義猶或疑阻。是用端本以正末，如：</p>
<p>《素問》、《九墟》、《靈樞》、《甲乙》、</p>
<p>《太素》、《巢源》、諸家《本草》、前古脈書、《金匱玉函》、《肘後備急》、謝士秦《刪繁方》、劉涓子《鬼遺論》之類，事關所出，無不研核。尚有所闕，而又溯流以討源，如：《五鑒經》、</p>
<p>《千金翼》、《崔氏纂要》、《延年秘錄》，《正元廣利》、《外台秘要》、《兵部手集》、夢得《傳信》之類。凡所派別，無不考理，互相質正，反覆稽參；然後遺文疑義，煥然悉明。書雖是舊，用之惟新，可以濟函靈，裨乃聖好生之治；可以傳不朽，副主上廣愛之心；非徒為太平之文致，可佐皇極之錫福。校讎既成，繕寫伊芳始，恭以上進，庶備親覽。</p>
<p><u>太子右贊善大夫臣高保衡</u></p>
<p><u>尚書都官員外郎臣孫奇</u></p>
<p><u>尚書司封郎中充秘閣校理臣林億等謹上。</u></p>
<h2>序論第一</h2>
<p>仲景曰：人體平和，惟須好將養，勿妄服藥。藥勢偏有所助，令人臟氣不平，易受外患。</p>
<p>夫含氣之類，未有不資食以存生，而不知食之有成敗；百姓日用而不知，水火至近而難識。余慨其如此，聊因筆墨之暇，撰五味損益食治篇，以啟童稚，庶勤而行之，有如影響耳。</p>
<p>河東衛汛記曰：扁鵲云人之所依者形也，亂於和氣者病也，理於煩毒者藥也，濟命扶危者醫也。安身之本，必資於食；救疾之速，必憑於藥。不知食宜者，不足以存生也；不明藥忌者，不能以除病也。斯之二事，有靈之所要也，若忽而不學，誠可悲夫！是故食能排邪而安臟腑，悅神爽志，以資血氣。若能用食平　，釋情遣疾者，可謂良工。長年餌老之奇法，極養生之術也。</p>
<p>夫為醫者當須先洞曉病源，知其所犯，以食治之；食療不愈，然後命藥。藥性剛烈，猶若御兵；兵之猛暴，豈容妄發。發用乖宜，損傷處眾；藥之投疾，殃濫亦然。高平王熙稱：食不欲雜，雜則或有所犯；有所犯者，或有所傷；或當時雖無災苦，積久為人作患。又食啖　肴，務令簡少，魚肉、果實，取益人者而食之。凡常飲食，每令節儉，若貪味多餐，臨盤大飽，食訖覺腹中彭亨短氣，或致暴疾，仍為霍亂。又夏至以後，迄至秋分，必須慎肥膩、餅　、酥油之屬，此物與酒漿、瓜果理極相仿。夫在身所以多疾者，皆由春、夏取冷太過，飲食不節故也。又魚　諸腥冷之物，多損於人，斷之益善。乳、酪、酥等常食之，令人有筋力、膽干，肌體潤澤。卒多食之，亦令臚脹、泄利、漸漸自已。</p>
<p>黃帝曰：「五味入於口也，各有所走，各有所病。酸走筋，多食酸，令人癃，不知何以然？」</p>
<p>少俞曰：「酸入胃也，其氣澀以收也。上走兩焦，兩焦之氣澀，不能出入，不出即流於胃中，胃中和溫，即下注膀胱，膀胱走胞，胞薄以　，得酸則縮卷，約而不通，水道不利，故癃也。陰者積筋之所終聚也，故酸入胃，走於筋也。」</p>
<p>「咸走血，多食咸令人渴，何也？」答曰：「咸入胃也，其氣走中焦，注於諸脈。脈者血之所走也，與咸相得即血凝，凝則胃中汁泣，汁泣則胃中干渴。渴則咽路焦，焦故舌乾喜渴。血脈者中焦之道也，故咸入胃，走於血。」</p>
<p>「辛走氣，多食辛令人慍心，何也？」答曰：「辛入胃也，其氣走於上焦，上焦者受使諸氣而營諸陽者也。薑、韭之氣，重至榮衛，榮衛不時受之，卻溜於心下，故慍。慍、痛也。辛者與氣俱行，故辛入胃而走氣，與氣俱出，故氣盛也。」</p>
<p>「苦走骨，多食苦，令人變嘔，何也？」答曰：「苦入胃也，其氣燥而涌泄，五穀之氣皆不勝苦。</p>
<p>苦入下管，下管者三焦之道，皆閉則不通，不通故氣變嘔也。齒者骨之所終也，故苦入胃而走骨，入而復出，齒必黧疏。」</p>
<p>「甘走肉，多食甘，令人惡心。何也？」答曰：「甘入胃也，其氣弱劣，不能上進於上焦，而與穀俱留於胃中，甘入則柔緩，柔緩則蛔動，蛔動則令人惡心。</p>
<p>其氣外通於肉，故甘走肉，則肉多粟起而胝。」</p>
<p>黃帝問曰：「穀之五味所主可得聞乎？」伯高對曰：「夫食風者則有靈而輕舉；食氣者則和靜而延壽；食穀者則有智而勞神；食草者則愚痴而多力；食肉者則勇猛而多嗔。是以肝木青色宜酸；心火赤色宜苦；脾土黃色宜甘；肺金白色宜辛；腎水黑色宜咸。內為五臟，外主五行，色配五方。」</p>
<p>五臟所合法：肝合筋，其榮爪；心合脈，其榮色；脾合肉，其榮唇；肺合皮，其榮毛；腎合骨，其榮發。</p>
<p>五臟不可食忌法：多食酸則皮槁而毛夭；多食苦則筋急而爪枯；多食甘則骨痛而發落；多食辛則肉胝而唇褰；多食咸則脈凝泣而色變。</p>
<p>五臟所宜食法：肝病宜食麻、犬肉、李、韭；心病宜食麥、羊肉、杏、薤；脾病宜食稗米、牛肉、棗、葵；肺病宜食黃黍、雞肉、桃、蔥；腎病宜食大豆黃卷、豕肉、栗、藿。</p>
<p>五味動病法：酸走筋，筋病勿食酸；苦走骨，骨病勿食苦；甘走肉，肉病勿食甘；辛走氣，氣病勿食辛；咸走血，血病勿食咸。</p>
<p>五味所配法：米飯甘，麻酸，大豆咸，麥苦，黃黍辛，棗甘，李酸，栗咸，杏苦，桃辛，牛甘，犬酸，豕咸，羊苦、雞辛，葵甘，韭酸，藿咸、薤苦、蔥辛。</p>
<p>五臟病五味對治法：肝苦急，急食甘以緩之；肝欲散，急食辛以散之；用酸瀉之，禁當風。心苦緩，急食酸以收之；心欲　，急食咸以　之；用甘瀉之，禁溫食濃衣。脾苦濕，急食苦以燥之；脾欲緩，急食甘以緩之；用苦瀉之，禁溫食飽食，濕地濡衣。肺苦氣上逆息者，急食苦以泄之；肺欲收，急食酸以收之，用辛瀉之；禁無寒飲食、寒衣。腎苦燥，急食辛以潤之，開腠理，潤致津液通氣也；腎欲堅，急食苦以結之，用咸瀉之，無犯　HT　，無熱衣溫食。</p>
<p>是以毒藥攻邪，五穀為養，五肉為益，五果為助，五菜為充。精以食氣，氣養精以榮色；形以食味，味養形以生力，此之謂也。</p>
<p>神臟有五，五五二十五種；形臟有四方、四時、四季、四肢，共為五九四十五，以此輔神，可長生久視也。</p>
<p>精順五氣以為靈也，若食氣相惡則傷精也；形受味以成也，若食味不調，則損形也。是以聖人先用食禁以存性，後制藥以防命也，故形不足者，溫之以氣；精不足者，補之以味，氣味溫補，以存形精。</p>
<p>岐伯云：陽為氣，陰為味。味歸形，形歸氣，氣歸精，精歸化。精食氣，形食味，化生精。氣生形，味傷形，氣傷精，精化為氣，氣傷於味。陰味出下竅，陽氣出上竅。味濃者為陰，味薄者為陰之陽；氣濃者為陽，氣薄者為陽之陰。味濃則泄，薄則通流；氣薄則發泄，濃則秘塞。壯火之氣衰，少火之氣壯，壯火食氣，氣食少火，壯火散氣，少火生氣。味辛、甘，發散為陽；酸、苦涌泄為陰。陰勝則陽病，陽勝則陰病，陰陽調和，人則平安。</p>
<p>春七十二日，省酸增甘，以養脾氣；夏七十二日，省苦增辛，以養肺氣；秋七十二日，省辛增酸，以養肝氣；冬七十二日，省咸增苦，以養心氣；季月各十八日，省甘增咸，以養腎氣。</p>
<h2>果實第二（二十九條）</h2>
<p>檳榔：味辛、溫、澀、無毒。消穀逐水；除淡　；殺三蟲，去伏尸；治寸白。</p>
<p>豆蔻：味辛、溫、澀、無毒。溫中，主心腹痛，止吐嘔，去口氣臭。</p>
<p>蒲桃：味甘、辛、平、無毒。主筋骨濕痹：益氣，倍力，強志，令人肥健，耐飢，忍風寒。久食輕身不老，延年。治腸間水，調中。可作酒，常飲益人。逐水，利小便。</p>
<p>覆盆子：味甘、辛、平、無毒。益氣、輕身、令發不白。</p>
<p>大棗：味甘、辛、熱、滑、無毒。主心腹邪氣，安中養脾氣，助十二經，平胃氣；通九竅；補少氣，少津液，身中不足；大驚；四肢重；可和百藥，補中益氣，強志，除煩悶，心下懸，治腸　。久服輕身，長年不飢，神仙。</p>
<p>生棗：味甘、辛。多食令人熱渴，氣脹。若寒熱羸瘦者，彌不可食，傷人。</p>
<p>藕實：味苦、甘、寒、無毒。食之令人心歡，止渴，去熱；補中養神，益氣力，除百病。</p>
<p>久服輕身，耐老，不飢，延年。一名水芝。生根寒，止熱渴，破留血。</p>
<p>雞頭實：味甘、平、無毒。主濕痹，腰脊膝痛；補中；除暴疾；益精氣，強志意，耳目聰明。</p>
<p>久服輕身，不飢，耐老，神仙。</p>
<p>芰實：味甘、辛、平、無毒。安中，補五臟；不飢，輕身。一名菱。黃帝云：七月勿食生菱芰，作蟯蟲。</p>
<p>栗子：味鹹、溫、無毒。益氣，濃腸胃，補腎氣，令人耐飢。生食之，甚治腰腳不遂。</p>
<p>櫻桃：味甘、平、澀。調中益氣。可多食，令人好顏色，美志性。</p>
<p>橘柚：味辛、溫、無毒。主胸中瘕滿，逆氣，利水穀，下氣，止嘔咳；除膀胱留熱，停水，破五淋，利小便；治脾不能消穀，卻胸中，吐逆霍亂，止瀉利，去寸白。久服去口臭，下氣，通神。輕身長年。一名橘皮，陳久者良。</p>
<p>津符子：味苦、平、滑。多食令人口爽，不知五味。</p>
<p>梅實：味酸、平、澀、無毒。下氣，除熱煩滿，安心；止肢體痛，偏枯不仁，死肌，去青黑志，惡疾；止下利；好唾口乾；利筋脈。多食壞人齒。</p>
<p>柿：味甘、寒、澀、無毒。通鼻、耳氣，主腸　不足，及火瘡、金瘡止痛。</p>
<p>木瓜實：味酸、咸、溫、澀，無毒。主濕痹氣，霍亂大吐下後腳轉筋不止。其生樹皮無毒，亦可煮用。</p>
<p>榧實：味甘、平、澀、無毒。主五痔，去三蟲，殺蠱毒、鬼疰惡毒。</p>
<p>甘蔗：味甘、平、澀、無毒。下氣和中，補脾氣，利大腸，止渴，去煩，解酒毒。</p>
<p>棗：味苦、冷、澀、無毒。多食動宿病，益冷氣，發咳嗽。</p>
<p>芋：味辛、平、滑、有毒。寬腸胃、充肌膚，滑中。一名土芝，不可多食，動宿冷。</p>
<p>烏芋：味苦、甘、微寒、滑，無毒。主消渴、癉熱；益氣。一名藉姑，一名水萍，三月采。</p>
<p>杏核人：味甘、苦、溫、冷而利、有毒。主咳逆上氣；腸中雷鳴；喉痹；下氣；產乳金瘡，寒心奔　，驚癇，心下煩熱；風氣去來，時行頭痛，解肌，消心下急；殺狗毒。五月采之。其一核兩人者害人，宜去之。杏實尚生，味極酸，其中核猶未硬者，采之暴干食之，甚止渴，去冷熱毒。扁鵲云：「杏人不可久服，令人目盲，眉發落，動一切宿病。」</p>
<p>桃核人：味苦，甘、辛、平、無毒。破瘀血，血閉　瘕，邪氣，殺小蟲，治咳逆上氣，消心下硬，除卒暴聲血，破　瘕，通月水，止心痛。七月采，凡一切果核中有兩人者並害人，不在用。其實味酸，無毒，多食令人有熱。黃帝云：「飽食桃入水浴，成淋病」。</p>
<p>李核人：味苦、平、無毒。主僵仆躋，瘀血骨痛。實：味苦、酸、微溫、澀、無毒。除固熱，調中，宜心，不可多食，令人虛。黃帝云：「李子不可和白蜜食，蝕人五內」。</p>
<p>梨：味甘、微酸、寒、澀、有毒。除客熱氣，止心煩。不可多食，令人寒中。金瘡、產婦勿食，令人萎困、寒中。</p>
<p>林檎：味酸、苦、平、澀、無毒。止渴、好唾。不可多食，令人百脈弱。</p>
<p>柰子：味酸、苦、寒、澀、無毒。耐飢、益心氣。不可多食，令人臚脹。久病患食之，病尤甚。</p>
<p>安石榴：味甘、酸、澀、無毒。止咽燥渴。不可多食，損人肺。</p>
<p>枇杷葉：味苦、平、無毒。主　不止，下氣。正爾削取生樹皮嚼之，少少咽汁亦可，煮汁冷服之，大佳。</p>
<p>胡桃：味甘、冷、滑、無毒。不可多食，動痰飲，令人惡心，吐水、吐食。</p>
<h2>菜蔬第三（五十八條）</h2>
<p>枸杞葉：味苦、平、澀、無毒。補虛羸，益精髓。諺云：「去家千裡勿食蘿摩、枸杞。」</p>
<p>此則言強陽道，資陰氣速疾也。</p>
<p>蘿摩：味甘、平。一名苦丸。無毒。其葉濃大，作藤，生摘之，有白汁出。人家多種，亦可生啖，亦可蒸煮食之。補益與枸杞葉同。</p>
<p>瓜子：味甘、平、寒、無毒。令人光澤，好顏色，益氣，不飢，久服輕身耐老；又除胸滿心不樂；久食寒中。可作面脂。一名水芝，一名白瓜子，即冬瓜人也。八月采。</p>
<p>白冬瓜：味甘、微寒、無毒。除少腹水脹，利小便、止消渴。</p>
<p>凡瓜味甘、寒、滑、無毒。去渴，多食令陰下癢濕生瘡，發黃膽。黃帝云：「九月勿食被霜瓜，向冬發寒熱及溫病。」初食時即令人欲吐也，食竟，心內作停水，不能自消，或為反胃。凡瓜入水沉者，食之得冷病，終身不瘥。</p>
<p>越瓜：味甘、平、無毒。不可多食，益腸胃。</p>
<p>胡瓜：味甘、寒、有毒。不可多食，動寒熱，多瘧病，積瘀血熱。</p>
<p>早青瓜：味甘、寒、無毒。食之去熱煩。不可久食，令人多忘。</p>
<p>冬葵子：味甘、寒、無毒。主五臟六腑寒熱羸瘦，破五淋，利小便；婦人乳難，血閉。久服堅骨，長肌肉，輕身延年。十二月采葉，甘、寒、滑、無毒。宜脾，久食利胃氣；其心傷人，百藥忌食心，心有毒。黃帝云：「霜葵陳者生食之，動五種流飲，飲盛則吐水。」凡葵菜和鯉魚　食之害人。四季之月土王時，勿食生葵菜，令人飲食不化，發宿病。</p>
<p>莧菜實：味甘、寒、澀、無毒。主青盲，白HT　、明目；除邪氣；利大小便，去寒熱，殺蛔蟲。久服益氣力，不飢，輕身。一名馬莧，一名莫實，即馬齒莧菜也。治反花瘡。</p>
<p>小莧菜：味甘、大寒、滑、無毒。可久食，益氣力，除熱。不可共鱉肉食，成鱉瘕；蕨菜亦成鱉瘕。</p>
<p>邪蒿：味辛、溫、澀、無毒。主胸膈中臭惡氣，利腸胃。</p>
<p>苦菜：味苦、大寒、滑、無毒。主五臟邪氣，厭穀胃癉，腸　；大渴熱中；暴疾：惡瘡。久食安心、益氣、聰察，少臥，輕身，耐老、耐飢寒。一名荼草，一名選，一名游冬。冬不死。四月上旬采。</p>
<p>薺菜：味甘、溫、澀、無毒。利肝氣，和中；殺諸毒。其子：主明目、目痛，淚出。其根：主目澀痛。</p>
<p>蕪菁及蘆菔菜：味苦、冷、澀、無毒。利五臟，輕身益氣，宜久食。蕪菁子：明目，九蒸暴，療黃膽，利小便。</p>
<p>久服神仙。根：主消風熱毒腫。不可多食，令人氣脹。</p>
<p>菘菜：味甘、溫、澀、無毒。久食通利腸胃，除胸中煩，解消渴。本是蔓菁也，種之江南即化為菘，亦如枳橘，所生土地隨變。</p>
<p>芥菜：味辛、溫、無毒。歸鼻。除腎邪；大破咳逆，下氣；利九竅，明耳目，安中；久食溫中。又云：寒中。其子；味辛，辛亦歸鼻，有毒。主喉痹，去一切風毒腫。黃帝云：「芥菜不可共兔肉食，成惡邪病」。</p>
<p>苜蓿：味苦、平、澀、無毒。安中，利人四體，可久食。</p>
<p>荏子：味辛、溫、無毒。主咳逆，下氣，溫中，補髓。其葉：主調中，去臭氣。九月采，陰乾用之。油亦可作油衣。</p>
<p>蓼實：味辛、溫、無毒。明目、溫中；解肌，耐風寒；下水氣面目浮腫，卻癰疽。其葉：辛，歸舌。治大小腸邪氣；利中，益志。黃帝云：「蓼食過多有毒，發心痛。和生魚食之令人脫氣，陰核疼痛求死。婦人月事來，不用食蓼及蒜，喜為血淋、帶下。二月勿食蓼，傷人腎。」扁鵲云：「蓼，久食令人寒熱，損骨髓，殺丈夫陰氣，少精」。</p>
<p>蔥實：味辛、溫、無毒。宜肺。辛，歸頭。明目，補中不足。其莖白：平、滑、可作湯，主傷寒寒熱，骨肉碎痛。能出汗；治中風，面目浮腫，喉痹不通。安胎。殺桂。其青葉：溫、辛、歸目。除肝中邪氣，安中，利五臟；益目精；發黃膽，殺百藥毒。其根須：平。主傷寒頭痛。蔥中涕及生蔥汁：平、滑。止尿血，解藜蘆及桂毒。黃帝云：食生蔥即啖蜜，變作下利。食燒蔥並啖蜜，擁氣而死。正月不得食生蔥，令人面上起游風。</p>
<p>格蔥：味辛、微溫、無毒。除瘴氣惡毒。久食益膽氣，強志。其子：主泄精。</p>
<p>薤：味苦、辛、溫、滑、無毒。宜心，辛歸骨。主金瘡瘡敗，能生肌肉。輕身不飢，耐老。</p>
<p>菜芝也。除寒熱，去水氣，溫中，散結氣；利產婦病患。諸瘡中風寒水腫，生搗敷之。KT　骨在咽不下者，食之則去。黃帝云：「薤不可共牛肉作羹食之，成瘕疾。韭亦然。十月、十一月、十二月、勿食生薤，令人多涕唾」。</p>
<p>韭：味辛、酸、溫、澀、無毒。辛歸心，宜肝。可久食。安五臟，除胃中熱。不利病患，其心腹有固冷者食之必加劇。其子：主夢泄精，尿色白，根：煮汁以養發。黃帝云：「霜韭凍不可生食，動宿飲，飲盛必吐水。五月勿食韭，損人滋味，令人乏氣力。二月、三月宜食韭，大益人心。」</p>
<p>白　荷：味辛、微溫、澀、無毒。主中蠱及瘧病。搗汁服，二合日二。生根：主諸瘡。</p>
<p>菜：味甘、苦、大寒、無毒。主時行壯熱，解風熱惡毒。</p>
<p>紫蘇：味辛、微溫、無毒。下氣，除寒中。其子尤善。</p>
<p>雞蘇：味辛、微溫、澀、無毒。主吐血、下氣。一名水蘇。</p>
<p>羅勒：味苦、辛、溫、平、澀，無毒。消停水，散毒瓦斯。不可久食，澀榮衛諸氣。</p>
<p>蕪荑：味辛、平、熱、滑，無毒。主五內邪氣，散皮膚骨節中淫淫溫行毒，去三蟲，能化宿食不消，逐寸白，散腹中溫溫喘息。一名無姑，一名。盛器物中甚辟水蛭，其氣甚臭，此即山榆子作之。凡榆葉：味甘、平、滑，無毒。主小兒癇，小便不利，傷暑熱困悶，煮汁冷服。生榆白皮：味甘、冷、無毒。利小便，破五淋。花：主小兒頭瘡。</p>
<p>胡荽子：味酸、平，無毒。消穀，能復食味。葉不可久食，令人多忘。華佗云：「胡荽菜，患胡臭人，患口氣臭，　齒人食之加劇；腹內患邪氣者彌不得食，食之發宿病，金瘡尤忌」。</p>
<p>海藻：咸、寒、滑、無毒。主癭瘤結氣，散頸下鞭核痛者，腸內上下雷鳴，下十二水腫，利小便，起男子陰氣。</p>
<p>昆布：味鹹、寒、滑、無毒。下十二水腫，癭瘤結氣，　瘡，破積聚。</p>
<p>茼蒿：味辛、平，無毒。安心氣，養脾胃。消痰飲。</p>
<p>白蒿：味苦、辛、平，無毒。養五臟，補中益氣，長毛髮。久食不死，白兔食之仙。</p>
<p>吳葵：一名蜀葵。味甘、微寒、滑、無毒。花：定心氣；葉：除客熱，利腸胃。不可久食，鈍人志性。若食之，被狗嚙者，瘡永不瘥。</p>
<p>藿：味鹹、寒、澀，無毒。宜腎，主大小便數，去煩熱。</p>
<p>香薷：味辛、微溫。主霍亂，腹痛吐下；散水腫；煩心，去熱。</p>
<p>甜瓠：味甘、平、滑，無毒。主消渴、惡瘡，鼻、口中肉爛痛。其葉：味甘、平，主耐飢。扁鵲云：「患香港腳虛脹者，不得食之，其患永不除。」</p>
<p>：味甘、寒、滑，無毒。主消渴、熱痹。多食動痔病。</p>
<p>落葵：味酸、寒、無毒。滑中、散熱實，悅澤人面。一名天葵，一名蘩露。</p>
<p>蘩蔞：味酸、平、無毒。主積年惡瘡、痔不愈者。五月五日日中采之，即名滋草，一名雞腸草，干之燒作焦灰用。扁鵲云：「丈夫患惡瘡，陰頭及莖作瘡膿爛，疼痛不可堪忍，久不瘥者，以灰一分，蚯蚓新出屎泥二分，以少水和研，緩如煎餅面，以泥瘡上，干則易之。禁酒、面、五辛並熱食等。」黃帝云：「蘩蔞合　食之，發消渴病，令人多忘。」別有一種近水渠中溫濕處，冬生，其狀類胡荽，亦名雞腸菜，可以療痔病，一名天胡荽。</p>
<p>蕺：味辛、微溫、有小毒。主蠷　尿瘡。多食令人氣喘，不利人腳，多食腳痛。</p>
<p>葫：味辛、溫，有毒。辛歸五臟，散癱疽，治　瘡，除風邪，殺蠱毒瓦斯，獨子者最良。黃帝云：「生葫合青魚　食之，令人腹內生瘡，腸中腫，又成疝瘕。多食生葫，行房傷肝氣，令人面無色。四月、八月勿食葫，傷人神，損膽氣，令人喘悸，脅肋氣急，口味多爽。」</p>
<p>小蒜：味辛、溫，無毒。辛歸脾、腎。主霍亂，腹中不安，消穀，理胃氣，溫中，除邪痹毒瓦斯。五月五日采，曝乾。葉：主心煩痛，解諸毒，小兒丹　。不可久食，損人心力。黃帝云：「食小蒜啖生魚，令人奪氣，陰核疼求死。三月勿食小蒜，傷人志性。」</p>
<p>茗葉：味苦鹹、酸、冷，無毒。可久食，令人有力，悅志，微動氣。黃帝云：「不可共韭食，令人身重」。</p>
<p>蕃荷葉：味苦、辛、溫、無毒。可久食，卻腎氣，令人口氣香　。主辟邪毒，除勞弊。形瘦疲倦者不可久食，動消渴病。</p>
<p>蒼耳子：味苦，甘、溫。葉：味苦、辛，微寒、澀，有小毒。主風寒頭痛，風濕痹、四肢拘急攣痛；去惡肉死肌；膝痛、溪毒。久服益氣，耳目聰明、強志、輕身。一名胡　、一名地葵、一名　、一名常思。蜀人名羊負來，秦名蒼耳，魏人名只刺。黃帝云：「戴甲蒼耳，不可共豬肉食，害人；食甜粥，復以蒼耳甲下之，成走注，又患兩脅。</p>
<p>立秋後忌食之。」</p>
<p>食茱萸：味辛、苦、大溫、無毒。九月采，停陳久者良。其子閉口者有毒，不任用。止痛下氣，除咳逆，去五臟中寒冷，溫中，諸冷實不消。其生白皮：主中惡，腹痛，止齒疼。其根細者：去三蟲，寸白。黃帝云：「六月、七月勿食茱萸，傷神氣，令人起伏氣。」咽喉不通徹，賊風中人，口僻不能語者，取茱萸一升，去黑子及合口者，好豉三升，二物以清酒和煮四、五沸，取汁，冷，服半升，日三，得小汗瘥。蠆螫人，嚼茱萸封上止。</p>
<p>蜀椒：味辛，大熱，有毒。主邪氣，溫中下氣，留飲宿食；能使痛者癢，癢者痛。久食令人乏氣，失明。主咳逆；逐皮膚中寒冷；去死肌：濕痹痛；心下冷氣；除五臟六腑寒，百骨節中積冷，溫瘧；大風汗自出者，止下利，散風邪。合口者害人，其中黑子有小毒，下水。仲景云：「熬用之。」黃帝云：「十月勿食椒，損人心，傷血脈。」</p>
<p>乾薑：味辛、熱、無毒。主胸中滿，咳逆上氣，溫中；止漏血；出汗；逐風濕痹；腸　下利，寒冷腹痛，中惡，霍亂，脹滿，風邪諸毒，皮膚間結氣；止唾血。生者尤良。</p>
<p>生薑：味辛、微溫、無毒。辛歸五臟，主傷寒頭痛，去淡下氣，通汗，除鼻中塞，咳逆上氣，止嘔吐，去胸膈上臭氣，通神明。黃帝云：「八月、九月匆食薑，傷人神，損壽。」胡居士云：「薑殺腹內長蟲，久服令人少志少智，傷心性。」</p>
<p>堇葵：味苦、平，無毒。久服除人心煩急，動痰冷，身重，多懈惰。</p>
<p>芸台。味辛、寒、無毒。主腰腳痹。若舊患腰腳痛者，不可食，必加劇。又治油腫丹毒。益胡臭解禁之輩出五明經。其子主夢中泄精。與鬼交者。胡居士云：「世人呼為寒菜甚辣」。胡臭人食之，病加劇。隴西氐羌中多種食之。</p>
<p>竹筍。味甘、微寒、無毒。主消渴，利水道，益氣力，可久食，患冷人食之心痛。</p>
<p>野苣。味苦、平、無毒。久服輕身少睡。黃帝云：不可共蜜食之，作痔。白苣，味苦平，無毒，益筋力。黃帝云：不可共酪食，必作蟲。</p>
<p>茴香菜：味苦，辛微、寒澀、無毒。主霍亂，辟熱除口氣。臭肉和水煮，下少許，即無臭氣。</p>
<p>故曰：「茴香。」醬臭末中亦香。其子：主蛇咬瘡久不瘥，搗傅之。又治九種　。</p>
<p>蕈菜，味苦、寒、無毒。主小兒火丹諸毒腫，去暴熱。</p>
<p>藍菜：味甘、平、無毒。久食大益腎，填髓腦，利五臟，調六腑。胡居士云：「河東隴西羌胡多種食之，漢地鮮有。」其葉：長大濃，煮食甘美，經冬不死，春亦有英。其花黃，生角結子。子：甚治人多睡。</p>
<p>竹葉：味苦、平、澀、無毒。主浸淫，疥瘙、疽痔、殺三蟲，女人陰蝕。扁鵲云：「煮汁與小兒冷服，治蛔蟲」。</p>
<p>芹菜：味苦、酸、冷澀，無毒。益筋力，去伏熱。治五種黃病，生搗絞汁冷服一升，日二。</p>
<p>黃帝云：「五月五日勿食一切菜，發百病。凡一切菜，熟煮熱食時病瘥；後食一切肉並蒜，食竟行房，病發必死；時病瘥後未健，食生青菜者手足必青腫；時病瘥未健，食青菜竟行房，病更發必死。十月勿食被霜菜，令人面上無光澤，目澀痛，又瘧發心痛、腰疼、或致心瘧，發時手足十指爪皆青，困痿。」</p>
<h2>穀米第四（二十七條）</h2>
<p>薏苡人：味甘、溫、無毒。主筋拘攣，不可屈伸，久風濕痹下氣。久服輕身益力。其生根，下三蟲。《名醫》云：「薏苡人除筋骨中邪氣不仁，利腸胃，消水腫，令人能食。」一名HT　，一名感米，蜀人多種食之。</p>
<p>胡麻，味甘、平、無毒。主傷中虛羸，補五內，益氣力，長肌肉，填髓腦，堅筋骨；療金瘡、止痛；及傷寒溫瘧，大吐下後虛熱困乏。久服輕身不老，明耳目，耐寒暑，延年。作油微寒，主利大腸，產婦胞衣不落生者；摩瘡腫；生禿髮、去頭面游風。一名巨勝，一名狗虱，一名方莖、一名鴻芷。葉：名青　，主傷暑熱。花：主生禿髮。七日采最上頭者，陰乾用之。</p>
<p>白麻子：味甘、平、無毒。宜肝，解中益氣，肥健不老。治中風汗出；逐水，利小便；破積血，風毒腫，復血脈；產後乳余疾；能長發、可為沐藥。久服神仙。</p>
<p>：味甘、微溫、無毒。補虛冷，益氣力：止腸鳴；咽痛；除唾血；卻卒嗽。</p>
<p>大豆黃卷：味甘、平、無毒。主久風濕痹筋攣，膝痛；除五臟，胃氣結積，益氣，止毒；去黑痣、面　，潤澤皮毛。宜腎。生大豆：味甘、平、冷、無毒。生搗淳酢和塗之，治一切毒腫，並止痛。煮汁冷服之，殺鬼毒，逐水脹、除胃中熱，卻風痹，傷中，淋露，下瘀血，散五臟結積內寒，殺烏頭，三建，解百藥毒；不可久服，令人身重。其熬屑：味甘、溫、平、無毒。主胃中熱，去身腫，除痹；消穀、止腹脹。</p>
<p>九月采。黃帝云：「服大豆屑忌食豬肉，炒豆不得與一歲已上，十歲已下小兒食，食竟啖豬肉，必擁氣死。」</p>
<p>赤小豆：味甘、咸、平、冷、無毒。下水腫，排膿血。一名赤豆。不可久服，令人枯燥。</p>
<p>青小豆：味甘、咸、溫、平、澀、無毒。主寒熱，熱中，消渴；止泄利，利小便；除吐逆，卒　，下腹脹滿。一名麻累，一名胡豆。黃帝云：「青小豆合鯉魚　食之，令人肝至五年成干，　病。</p>
<p>大豆豉：味苦、甘、寒、澀、無毒。主傷寒頭痛，寒熱，辟瘴氣惡毒，煩躁滿悶，虛勞喘吸，兩腳疼冷，殺六畜胎子諸毒。</p>
<p>大麥：味鹹、微寒、滑、無毒。宜心。主消渴，除熱。久食令人多力，健行。作　、溫，消食和中。熬末，令赤黑，搗作　，止泄利；和清酢漿服之，日三，夜一服。</p>
<p>小麥：味甘、微寒、無毒。養肝氣；去客熱，止煩渴咽燥；利小便；止漏血，唾血；令女人孕必得。易作曲，六月作者溫、無毒，主小兒癇食不消，下五痔蟲，平胃氣，消穀，止利。作面：溫，無毒，不能消熱止煩。不可多食，長宿癖，加客氣，難治。</p>
<p>青粱米：味甘、微寒、無毒。主胃痹，熱中；除消渴，止泄利，利小便；益氣力，補中，輕身長年。</p>
<p>黃粱米：味甘、平、無毒。益氣，和中，止泄利。人呼為竹根米，又卻當風臥，濕寒中者。</p>
<p>白粱米：味甘、微寒、無毒。除熱，益氣。</p>
<p>粟米：味鹹、微寒、無毒。養腎氣，去骨痹，熱中，益氣。</p>
<p>陳粟米：味苦。寒、無毒。主胃中熱，消渴，利小便。</p>
<p>丹黍米：味苦、微溫、無毒。主咳逆上氣，霍亂，止泄利，除熱，去煩渴。</p>
<p>白黍米：味甘、辛、溫、無毒。宜肺、補中益氣。不可久食，多熱，令人煩。黃帝云：「五種黍米、合葵食之，令人成痼疾」。又以脯臘著五種黍米中藏儲食之。云：「令人閉氣」。</p>
<p>陳廩米：味鹹，酸、微寒、無毒。除煩熱，下氣，調胃，止泄利。黃帝云：「久芷脯臘安米中，滿三月，人不知，食之害人。」</p>
<p>米：味苦、微溫、無毒。主寒中，下氣，除熱。</p>
<p>秫米：味甘、微寒、無毒。主寒熱，利大腸，治漆瘡。</p>
<p>酒：味苦、甘、辛、大熱、有毒。行藥勢，殺百邪，惡氣。黃帝云：「暴下後飲酒者，膈上變為伏熱；食生菜飲酒，莫灸腹，令人腸結。」扁鵲云：「久飲酒者腐腸爛胃，潰髓蒸筋，傷神損壽；醉當風臥，以扇自扇，成惡風；醉以冷水洗浴，成疼痹。大醉汗出，當以粉粉身，令其自干，發成風痹。</p>
<p>常日未沒食訖，即莫飲酒，終身不乾嘔。飽食訖，多飲水及酒，成痞僻。」</p>
<p>豆：味甘、微溫、無毒。和中下氣。其葉：平，主霍亂，吐下不止。</p>
<p>稷米：味甘、平、無毒。益氣安中，補虛、和胃、宜脾。</p>
<p>粳米，味辛、苦、平、無毒。主心煩、斷下利，平胃氣，長肌肉。溫，又云：生者冷，燔者熱。</p>
<p>糯米：味苦、溫、無毒。溫中，令人能食，多熱，大便硬。</p>
<p>酢：味酸、溫、澀、無毒。消癰腫，散水氣，殺邪毒，血運。扁鵲云：多食酢，損人骨。能理諸藥消毒。</p>
<p>喬麥：味酸，微寒、無毒。食之難消，動大熱風。其葉：生食動刺風，令人身癢。黃帝云：「作面和豬、羊肉熱食之，不過八、九頓，作熱風，令人眉須落，又還生，仍希少。涇　已北，多患此疾」。</p>
<p>鹽：味鹹、溫、無毒。殺鬼蠱邪，注毒瓦斯，下部　瘡；傷寒寒熱，能吐胸中痰　，止心腹卒痛；堅肌骨。不可多食，傷肺喜咳，令人色膚黑，損筋力。扁鵲云：「鹽能除一切大風疾痛者，炒熨之」。</p>
<p>黃帝云：「食甜粥竟，食鹽即吐，或成霍亂」。</p>
<h2>鳥獸第五(四十條)</h2>
<p>（附蟲、魚）</p>
<p>人乳汁：味甘、平、無毒。補五臟，令人肥白悅澤。</p>
<p>馬乳汁：味辛、溫、無毒。止渴。</p>
<p>牛乳汁：味甘、微寒、無毒。補虛羸、止渴。入生薑、蔥白，止小兒吐乳。補勞。</p>
<p>羊乳汁：味甘、微溫、無毒。補寒冷，虛乏，少血色。令人熱中。</p>
<p>驢乳：味酸、寒。一云大寒，無毒。主大熱，黃膽，止渴。</p>
<p>母豬乳：平、無毒。主小兒驚癇，以飲之神妙。</p>
<p>馬、牛、羊酪：味甘、酸、微寒、無毒。補肺臟，利大腸。黃帝云：「食甜酪竟，即食大酢者，變作血瘕及尿血。」華佗云：「馬、牛、羊、酪，蚰蜒入耳者，灌之即出。」</p>
<p>沙牛及白羊酥：味甘、微寒、無毒。除胸中客氣，利大、小腸，治口瘡。</p>
<p>牛酥：味甘、平、無毒。去諸風濕痹，除熱，利大便，去宿食。</p>
<p>醍醐：味甘、平、無毒。補虛，去諸風痹，百練乃佳。</p>
<p>甚去月蝕瘡。添髓補中填骨，久服增年。</p>
<p>熊肉：味甘、微寒、微溫、無毒。主風痹不仁，筋急五緩。若腹中有積聚，寒熱羸瘦者，食熊肉病永不除。其脂：味甘、微寒。治法與肉同。又去頭瘍白禿，面　，食飲嘔吐。久服強志不飢，輕身長年。黃帝云：「一切諸肉煮不熟，生不斂者，食之成瘕。熊及豬二種脂，不可作燈，其煙氣入人目失明，不能遠視。」</p>
<p>羊角：味酸、苦、溫、微寒、無毒。主青盲，明目；殺疥蟲；止寒泄；心畏驚悸。除百節中結氣，及風傷蠱毒；吐血；婦人產後余痛；燒之，殺鬼魅，辟虎野狼。久服安心、益氣、輕身；勿令中濕有毒。髓：味甘、溫，無毒。主男子女人傷中，陰陽氣不足，卻風熱，止毒，利血脈，益經氣。以酒和服之亦可，久服不損人。</p>
<p>青羊膽汁：冷、無毒。主諸瘡，能生人身脈；治青盲、明目。肺，平。補肺、治嗽；止渴；多小便；傷中，止虛補不足；去風邪。肝：補肝、明目。心：主憂恚，膈中逆氣。腎：補腎氣虛弱，益精髓。頭骨：主小兒驚癇，煮以浴之，蹄肉：平，主丈夫五勞七傷。肉：味苦、甘，大熱、無毒。主暖中止痛，字乳余疾，及頭腦中大風汗自出，虛勞寒冷，能補中益氣力，安心止驚；利產婦，不利時患人。頭肉：平。主風眩瘦疾：小兒驚癇；丈夫五勞七傷，其骨：熱、主虛勞寒中羸瘦，其宿有熱者，不可食。</p>
<p>生脂：止下痢脫肛，去風毒；婦人產後腹中絞痛。肚：主胃反；治虛羸；小便數；止虛汗。黃帝云：「羊肉共酢食之傷人心，亦不可共生魚、酪和食之，害人。凡一切羊蹄甲中有珠子白者名『羊懸筋』，食之令人癲。」白羊黑頭，食其腦，作腸癰。羊肚共飯飲常食，久久成反胃，作噎病。</p>
<p>甜粥共肚食之，令人多唾，喜吐清水。羊腦、豬腦、男子食之損精氣少子，若欲食者研之如粉，和醋食之，初不如不食佳。青羊肝和小豆食之，令人目少明。一切羊肝生共椒食之，破人五臟，傷心，最損小兒。彌忌水中柳木及白楊木，不得銅器中煮　羊肉，食之，丈夫損陽，女子絕陰。</p>
<p>暴下後不可食羊肉髓及骨汁，成煩熱難解還動利。凡六畜五臟著草自動搖，及得咸酢不變色，又墮地不汗，又與犬，犬不食者，皆有毒，殺人。六月勿食羊肉，傷人神氣。</p>
<p>沙牛髓：味甘、溫、無毒。安五臟、平胃氣，通十二經脈，理三焦，約溫骨髓，補中，續絕傷，益氣力；止泄利，去消渴，皆以清酒和暖服之。肝：明目。膽：可丸百藥，味苦、大寒、無毒。</p>
<p>除心腹熱渴，止下利，去口焦燥，益目精。心：主虛忘。腎：去濕痹，補腎氣，益精。齒：主小兒牛癇。肉：味甘、平、無毒。主消渴，止唾涎出，安中益氣力，養脾胃氣，不可常食，發宿病。自死者不任食。喉嚨：主小兒啤。</p>
<p>黃犍、沙牛、黑牯牛尿：味苦、辛、微溫、平、無毒。主水腫腹腳俱滿者，利小便。黃帝云：「烏牛自死北首者，食其肉害人。一切牛盛熱時卒死者，總不堪食，食之作腸癰患」。甲蹄牛：食其蹄中拒筋，令人作肉刺。獨肝牛肉：食之殺人。牛食蛇者獨肝，患疥。牛、馬肉食，令人身體癢。牛肉共豬肉食之，必作寸白蟲。直爾黍米、白酒、生牛肉共食，亦作寸白，大忌。人下利者食自死牛肉必劇。一切牛、馬乳汁及酪，共生魚食之，成魚瘕。六畜脾，人一生莫食。十二月勿食牛肉，傷人神氣。</p>
<p>馬心：主喜忘。肺：主寒熱，莖痿。肉：味辛、苦、平、冷、無毒。主傷中；除熱；下氣、長筋、強腰脊、壯健、強志、利意，輕身不飢。黃帝云：「白馬自死，食其肉害人。白馬玄頭，食其腦令人癲。白馬鞍下烏色徹肉裡者，食之傷人五臟。下利者，食馬肉必加劇。白馬青蹄，肉不可食。一切馬汗氣及毛不可入食中，害人。諸食馬肉心煩悶者，飲以美酒則解，白酒則劇。五月勿食馬肉，傷人神氣。」野馬陰莖：味酸、咸、溫、無毒。主男子陰痿縮，少精。肉：辛、平、無毒。主人馬癇，筋脈不能自收，周痹，肌不仁。病死者不任用。</p>
<p>驢肉：味酸、平、無毒。主風狂，愁憂不樂，能安心氣。病死者不任用。其頭燒卻毛，煮取汁，以浸曲釀酒，甚治大風動搖不休者。皮膠亦治大風。</p>
<p>狗陰莖：味酸、平、無毒。主傷中，丈夫陰痿不起。</p>
<p>狗腦：主頭風痹，下部　瘡，鼻中　肉。肉：味酸、咸、溫、無毒。宜腎、安五臟，補絕傷勞損，久病大虛者，服之輕身，益氣力。黃帝云：「白犬合海　食之，必得惡病。白犬自死不出舌者，食之害人。犬、春月多狂，若鼻赤起而燥者，此欲狂，其肉不任食。九月勿食犬肉，傷人神氣。」</p>
<p>卵：味甘、溫、無毒。除陰莖中痛，驚癇，鬼氣，蠱毒、除寒熱，賁豚、五癃、邪氣攣縮。一名：　顛。陰乾，勿令敗。　肉：味辛、平、有小毒。不可久食，令人遍體筋肉碎痛，乏氣。大豬後腳懸蹄甲：無毒。主五痔，伏熱在腹中，腸癰內蝕。取酒浸半日，灸焦用之。大豬四蹄：小寒、無毒。主傷撻諸敗瘡。母豬蹄：寒、無毒。煮汁服之，下乳汁，甚解石藥毒。大豬頭肉：平、無毒。補虛乏氣力，去驚癇鬼毒，寒熱、五癃。腦：主風眩。心：平、無毒。主驚邪、憂恚，虛悸、氣逆；婦人產後中風，聚血氣驚恐。</p>
<p>腎：平、無毒。除冷利，理腎氣，通膀胱。肝：味苦、平、無毒。主明目。豬喙微寒、無毒。主凍瘡痛癢。肚：微寒，無毒。補中益氣，止渴，斷暴利虛弱。腸：微寒、無毒。主消渴，小便數，補下焦虛竭。其肉間脂肪：平、無毒。主煎諸膏藥，破冷結，散宿血，解斑蝥、元青毒。豬洞腸：平、無毒。主洞腸挺出血多者。　豬肉：味苦、酸、冷、無毒。主狂病多日不愈。凡豬肉：味苦、微寒，宜腎，有小毒，補腎氣虛竭，不可久食，令人少子精，發宿病，弱筋骨，閉血脈，虛人。肌有金瘡者，食之，瘡尤甚。豬血：平、澀、無毒。主卒下血不止，美清酒和炒服之。又主中風絕傷，頭中風眩及諸淋露，賁肫暴氣。黃帝云：「凡豬肝、肺，共魚　食之，作癰疽。豬肝共鯉魚腸，魚子食之，傷人神。」</p>
<p>腦：損男子陽道，臨房不能行事。八月勿食豬肺及　，和食之，至冬發疽。十月勿食豬肉，損人神氣。</p>
<p>鹿頭肉：平。主消渴，多夢妄見者。生血：治癰腫。莖筋：主勞損。蹄肉：平。主腳膝骨中疼痛，不能踐地。骨：主內虛，續絕傷，補骨，可作酒。髓：味甘、溫。主丈夫婦人傷中，脈絕，筋急痛，咳逆，以酒和服。腎：平。主補腎氣。肉：味苦、溫、無毒。補中，強五臟，益氣力。肉生者：主中風口僻不正，細細銼之，以薄僻上。華佗云：「和生椒搗薄之，使人專看之正，則急去之，不爾復牽向不僻處」。角：錯取屑一升，白蜜五升，溲之，微火熬，令小變色，暴干，更搗篩，服方寸匕，日三，令人輕身，益氣力，強骨髓，補絕傷。黃帝云：「鹿膽白者食其肉害人。白鹿肉不可和蒲白作羹食，發惡瘡。五月勿食鹿肉，傷人神氣。」胡居士云：「鹿性驚烈，多別良草。怕食九物，余者不嘗。群處必依山崗，產歸下澤。饗神用其肉者，以其性烈清淨故也。」凡餌藥之人，不可食鹿肉，服藥必不得力，所以然者，以鹿常食解毒之草，是故能制毒，散諸藥故也。九草者：葛葉花、鹿蔥、鹿藥、白蒿、水芹、甘草、齊頭蒿、山瘡耳、薺　。</p>
<p>獐骨：微溫、無毒。主虛損、泄精。肉：味甘、溫、無毒。補益五臟。髓：益氣力，悅澤人面。獐無膽，所以怯弱多驚恐。黃帝云：「五月勿食獐肉，傷人神氣。」</p>
<p>麋脂：味辛、溫、無毒。主癰腫、惡瘡、死肌、寒熱、風寒濕痹，四肢拘緩不收，風頭腫氣，通腠理，柔皮膚，不可近男子陰，令痿。一名宮脂。十月取。黃帝云：「生　肉共蝦汁合食之，令人心痛；生　肉共雉肉食之，作固疾。」</p>
<p>虎肉：味酸。無毒。主惡心欲嘔，益氣力，止多唾，不可熱食，壞人齒。虎頭骨：治風邪。</p>
<p>虎眼睛：主驚癇。</p>
<p>豹肉：味酸、溫、無毒。宜腎，安五臟，補絕傷；輕身益氣，久食利人。</p>
<p>狸肉：溫、無毒。補中，輕身益氣，亦治諸注。黃帝云：「正月勿食虎、豹、狸肉，傷人神，損壽」。</p>
<p>兔肝：主目喑。肉：味辛、平、澀、無毒。補中益氣，止渴。兔無脾，所以能走，蓋以屬二月建卯木位也，木克土，故無脾焉。馬無脾，亦能走也。黃帝云：「兔肉和獺肝食之三日必成遁尸；共白雞肝、心食之，令人面失色。一年成癉黃；共薑食，變成霍亂；共白雞肉食之，令人血氣不行。二月勿食兔肉，傷人神氣。」</p>
<p>生鼠：微溫、無毒。主　折，續筋補骨。搗薄之，三日一易。</p>
<p>獺肝：味甘、有小毒。主鬼疰、蠱毒；卻魚鯁；止久嗽，皆燒作灰，酒和服之。獺肉：味甘、溫、無毒。主時病疫氣，牛馬時行病，皆煮取汁，停冷服之，六畜灌之。</p>
<p>狐陰莖：味甘、平、有小毒。主女子絕產，陰中癢，小兒陰　，卵腫。肉並五臟及腸肚：味苦、微寒、有毒。主蠱毒寒熱、五臟固冷；小兒驚癇；大人狂病見鬼。黃帝云：「麝肉共鵠肉食之，作　瘕」。</p>
<p>野豬青蹄不可食；及獸赤足者不可食；野獸自死北首伏地不可食；獸有歧尾不可食。家獸自死，共汁食之，作疽瘡。十一月勿食經夏臭脯，成水病，作頭眩，丈夫陰痿。甲子日勿食一切獸肉，大吉。鳥飛投人不肯去者，口中必有物，開看無者，拔一毛放之，大吉。一切禽獸自死無傷處不可食。</p>
<p>三月三日勿食鳥獸五臟及一切果菜五辛等物，大吉。</p>
<p>丹雄雞肉：味甘、微溫、無毒。主女人崩中漏下，赤白沃；補虛，溫中；能愈久傷、乏瘡不肯瘥者，通神，殺惡毒。</p>
<p>黃雌雞肉：味酸、咸、平、無毒。主傷中，消渴；小便數而不禁，腸　泄利；補益五臟，絕傷五勞，益氣力。</p>
<p>雞子黃：微寒。主除熱、火灼、爛瘡、　。可作琥魄神物。</p>
<p>卵白汁：微寒。主目熱赤痛；除心下伏熱，止煩滿；咳逆；小兒泄利；婦人產難，胞衣不出，生吞之。</p>
<p>白雄雞肉：味酸、微溫、無毒。下氣，去狂邪，安五臟，傷中，消渴。</p>
<p>烏雄雞肉：味甘、溫、無毒。補中，止心痛。</p>
<p>黑雌雞肉：味甘、平、無毒。除風寒濕痹、五緩六急，安胎。</p>
<p>黃帝云：「一切雞肉和魚肉汁食之，成心瘕。雞具五色者，食其肉必狂。若有六指四距，玄雞白頭，家雞及野雞鳥生子有文，八字雞及野鳥死不伸足爪，此種食之害人。雞子白共蒜食之，令人短氣。</p>
<p>雞子共鱉肉蒸，食之害人。雞肉、獺肉共食作遁尸，注藥所不能治。食雞子啖生蔥，變成短氣。雞肉、犬肝、腎共食害人。生蔥共雞、犬肉食，令人穀道終身流血。烏雞肉合鯉魚肉食，生癰疽。雞、兔、犬肉和食必泄利。野雞肉共家雞子食之，成遁尸，尸鬼纏身，四肢百節疼痛。小兒五歲已下飲乳未斷者，勿食雞肉。二月勿食雞子，令人常惡心。丙午日食雞、雉肉，丈夫燒死，目盲，女人血死，妄見。四月勿食暴雞肉，作內疽在胸腋下出漏孔，丈夫少陽，女人絕孕，虛勞乏氣。八月勿食雞肉，傷人神氣。」</p>
<p>雉肉：酸、微寒、無毒。補中益氣，止泄利。久食之令人瘦觜，主蟻　。黃帝云：「八月建酉日食雉肉，令人短氣。八月勿食雉肉，損人神氣。」</p>
<p>白鵝脂：主耳卒聾，消以灌耳。毛：主射工水毒。肉：味辛、平、利五臟。</p>
<p>肪：味甘、平、無毒。主風虛寒熱。肉：補虛乏，除客熱，利臟腑，利水道。黃帝云：「六月勿食　肉，傷人神氣。」</p>
<p>鴛鴦肉：味苦、微溫、無毒。主　瘡，清酒浸之，炙令熱，以薄之，亦炙服之。又治夢思慕者。</p>
<p>雁肪味甘、平、無毒。主風攣拘急，偏枯，血氣不通利。肉：味甘、平、無毒。久服長發、鬢、須、眉，益氣不飢，輕身耐暑。黃帝云：「六月勿食雁肉，傷人神氣。」</p>
<p>越燕屎：味辛、平、有毒。主殺蠱毒，鬼注，逐不祥邪氣；破五癃，利小便。熬香用之，治口瘡。肉不可食之，入水為蛟龍所殺。黃帝云：「十一月勿食鼠肉，燕肉，損人神氣。」</p>
<p>石蜜：味甘、平、微寒，無毒。主心腹邪氣，驚癇痙，安五臟，治諸不足，益氣補中；止腹痛；解諸藥毒；除眾病，和百藥；養脾氣；消心煩，食飲不下；止腸　；去肌中疼痛；治口瘡；明耳目。久服強志、輕身、不飢、耐老、延年、神仙。一名石飴，白如膏者良，是今諸山崖處蜜也。青赤蜜：味酸，　食之令人心煩。其蜂黑色，似虻。黃帝云：「七月勿食生蜜，令人暴下，發霍亂。」蜜蠟：味甘、微溫、無毒。主下利膿血，補中：續絕傷，除金瘡；益氣力，不飢、耐老。白蠟：主久泄　瘥後重見血者，補絕傷，利小兒，久服輕身不飢。生於蜜房或木石上。惡芫花、百合。此即今所用蠟也。</p>
<p>蝮蛇肉：平、有毒。釀酒、去癩疾、諸九　、心腹痛，下結氣，除蠱痛。其腹中吞鼠：平、有小毒，主鼠　。</p>
<p>原蠶雄蛾：味鹹、溫、有小毒。主益精氣，強男子陽道，交接不倦，甚治泄精。不用相連者。</p>
<p>魚：味甘、無毒。主百病。</p>
<p>鰻鱺魚：味甘、大溫、有毒。主五痔　，殺諸蟲。</p>
<p>魚肉：味甘、大溫。黑者無毒。主補中養血，治瀋唇。五月五日取。頭骨：平，無毒。燒服，止久利。</p>
<p>魚：平、無毒。主少氣吸吸，足不能立地。黃帝云：「四月勿食蛇肉、　肉，損神害氣。」</p>
<p>烏賊魚骨：味鹹、微溫、無毒。主女子漏下赤白經汁，血閉，陰蝕腫痛，寒熱　瘕，無子；驚氣入腹，腹痛環臍，丈夫陰中痛而腫，令人有子。肉：味酸、平、無毒。益氣強志。</p>
<p>鯉魚肉：味甘、平、無毒。主咳逆上氣；癉黃；止渴。黃帝云：「食桂竟，食鯉魚肉害人；腹中宿症病者，食鯉魚肉害人」。</p>
<p>鯽魚：味甘、平、無毒。主一切瘡，燒作灰，和醬汁傅之，日二；又去腸癰。</p>
<p>黃帝云：「魚白目不可食之；魚有角，食之發心驚害人：魚無腸、膽、食之三年，丈夫陰痿不起，婦人絕孕；魚身有黑點不可食；魚目赤，作　食，成瘕病，作　食之害人。一切魚共菜食之作蛔蟲、蟯蟲；一切魚尾，食之不益人，多有勾骨，著人咽害人；魚有角，白背，不可食。凡魚赤鱗不可食；魚無腮不可食；魚無全腮，食之發癰疽；　魚不益人，其尾有毒，治齒痛。　魚有毒，不可食之。二月庚寅日勿食魚，大惡；五月五日勿以鯉魚子共豬肝食，必不消化，成惡病；下利者食一切魚，必加劇致困難治；穢飯、　肉、臭魚不可合食之害人。三月勿食鮫龍肉及一切魚肉，令人飲食不化，發宿病，傷人神氣，失氣，恍惚。」</p>
<p>鱉肉：味甘、平、無毒。主傷中益氣，補不足，療腳氣。黃帝云：「五月五日以鱉子共鮑魚子食之，作癉黃；鱉腹下成五字，不可食；鱉肉、兔肉和芥子醬食之損人；鱉三足，食之害人；鱉肉共莧、蕨菜食之，作鱉瘕害人。」</p>
<p>蟹殼：味酸、寒、有毒。主胸中邪熱，宿結痛，　僻，面腫，散漆，燒之致鼠。其黃：解結散血、愈漆瘡，養筋益氣。黃帝云：「蟹目相向足斑者，食之害人。十二月勿食蟹、鱉，損人神氣」。</p>
<p>又云：「黽、鱉肉共豬肉食之害人。秋果菜共黽肉食之，令人短氣；飲酒食黽肉，並菰白菜，令人生寒熱。六甲日勿食龜、鱉之肉，害人心神。螺、蚌共菜食之，令人心痛，三日一發。蝦　共豬肉食之，令人常惡心多唾，損精色。蝦無須，腹下通烏色者食之害人，大忌！勿輕！十一月，十二月，勿食蝦、蚌著甲之物」。</p>
