<header><h1>授權聲明</h1></header>

<p>本站收錄之資料以<a href="http://creativecommons.tw/pdm">公眾領域</a>之典籍文本為主，<strong>本站所有對公眾領域文本之篩選、編排、標點、附註等一切編輯，均<a href="http://creativecommons.tw/cc0">釋出至公眾領域</a>，您可以自由使用</strong>。</p>

<p>本站自行創作之文本，例如各介紹、說明頁面或本站自行整理之資料頁面，皆以<a href="https://creativecommons.org/licenses/by/4.0/deed.zh_TW">創用CC-姓名標示4.0</a>授權釋出。</p>

<p>轉載或引用本站資料前，請檢查各頁底標示之授權狀態，並請注意：一、<strong>內嵌之圖片或多媒體素材，可能有不同於文本的授權狀態</strong>；二、雖已盡量小心，本站之授權標示仍無法保證沒有錯誤，您可能需要自行確認實際授權狀態，以免侵權。使用上如有疑問，可<a href="mailto:jichengtw@gmail.com">聯絡我們</a>處理。</p>

<h2>相關法規參考</h2>

<ul>
  <li>公眾領域之內容，包括無著作財產權（如標語及通用之符號、名詞、公式、數表、表格、簿冊或時曆）或著作財產權已消滅者（大多數國家法律定為存續至著作人身亡後 50 年），任何人皆可自由使用而不受著作財產權之限制（但可能受其他法律限制，如著作人格權等）。</li>
  <li>根據<a href="https://law.moj.gov.tw/LawClass/LawSingle.aspx?Pcode=J0070017&FLNO=79">中華民國著作權法第 79 條</a>，公眾領域之著作經製版印刷及依法登記者，享有專屬製版權 10 年。例如某書局於民國 80 年出版《老子》且依法登記，則該書局享有專屬製版權至民國 90 年，其間擅自影印、重製可能構成侵權。</li>
  <li>根據<a href="https://law.moj.gov.tw/LawClass/LawSingle.aspx?Pcode=J0070017&FLNO=7">中華民國著作權法第 7 條</a>：「就資料之選擇及編排具有創作性者為編輯著作，以獨立之著作保護之」。因此，對公眾領域的古籍文本做篩選、重編章節段落、添加標點、註釋等，若被認定為具有創作性，則視為「編輯著作」而受著作財產權保護。</li>
  <li>除取得著作權人之授權以外，著作之「合理使用」不受著作財產權之限制，詳見<a href="https://law.moj.gov.tw/LawClass/LawSearchNoIf.aspx?PC=J0070017&SNo=44-65">中華民國著作權法第 44-65 條</a>。
</ul>
