<header><h1>資料下載</h1></header>

<ul>
  <li><a href="../files/archive/book-20180111.7z">笈成資料庫典籍原始檔 2018/01/11 打包版</a> (65.6 MB)</li>
  <li><a href="../files/jc_1_4_8_all.7z">笈成檢閱系統 1.4.8 及資料檔</a> (67.7 MB)</li>
</ul>
