<dl class="元資料" hidden>
<div><dt>標題</dt><dd>中醫笈成</dd></div>
</dl>

<h2>最新消息</h2>
<ul>
  <li>2018/03/10：重新開放《笈成資料庫》。</li>
  <li>2018/03/04：因主機當掉，暫時關閉《笈成資料庫》，舊資料打包檔可至<a href="download.html">資料下載</a>頁面下載。</li>
  <li>2018/03/01：新版《中醫笈成》上線。原《<a href="../jcw">笈成資料庫</a>》轉為封存。</li>
  <li>2013/11/04：《笈成資料庫》更新系統核心引擎至 DokuWiki rc2013-10-28 "Binky"。</li>
  <li>2013/01/31：釋出《笈成檢閱系統》主程式 v1.4.8。</li>
  <li>2012/07/22：站址遷移至 jicheng.tw。</li>
  <li>2011/01/13：《笈成資料庫》及《笈成檢字系統》上線。關閉原《笈成檢閱系統小站》。</li>
  <li>2011/01/13：釋出《笈成檢閱系統》主程式 v1.4.7。</li>
  <li>2009/02/13：《笈成檢閱系統小站》上線。首次發布《笈成檢閱系統》主程式 v1.2.0。</li>
</ul>

<p>中醫笈成是收集、整理中醫藥典籍的自由資料庫，也整理相關醫家、中藥、方劑、歌訣資料。</p>

<p>本站台建議使用現代瀏覽器（Firefox ≥ 52、Chrome ≥ 55、Sarfari ≥ 10.1、Opera ≥ 42、Edge）以 1024x768 以上解析度瀏覽。</p>
