<header><h1>女科指要</h1></header>
<dl class="元資料" data-type="book" hidden></dl>
<h2>卷一</h2>
<h3>經候門</h3>
<p>沖為血海，任主胞胎，女子十四歲而腎氣充，天癸至，任脈通，太衝脈盛，月事以時下。三旬一至者，象月之盈虧也。衝任之脈起於少陰，為經血之宗，脾為主化之源，心統諸經之血，胃為水穀之海，生血之大源。外無風寒暑濕之侵，內無七情郁結之擾，則經氣清和而氣振血盈，乃能及時孕子。如經行受邪，則經氣錯亂，血液凝泣而經閉腹痛、潮熱咳嗽，鼻衄吐血，泄瀉白淫，漸成勞瘵。若經後受邪，當與產後同論。</p>
<h4>經閉</h4>
<p>月事不來者，胞之絡脈閉也。胞脈者，屬心而絡於胞，中氣上迫肺心，氣不得下通，或寒閉其經，熱壅其絡，痰凝子宮，氣滯胞脈而血瘀血枯皆能令女子經閉。</p>
<p>腎脈微澀為不月，肝脈緊澀為經閉，滑數熱壅，細澀寒疵。</p>
<p>調經必先去病，血熱者，宜清涼以利血脈；血寒者，宜溫熱以資化源；血瘀者，宜破宜消；血枯者，宜潤宜補。</p>
<p>主以四物湯，血滯換赤芍加延胡索，熱加山梔、丹皮，寒加炮薑、肉桂，瘀加桃仁、五靈脂，虛加阿膠、黃明膠，風加荊芥、防風，濕加蒼朮、白芷，暑加香薷、藿香，氣滯加木香、香附。</p>
<p><u>四物湯</u></p>
<p>治血虛經閉脈虛澀者。</p>
<p>熟地（五錢）　白芍（二錢，酒炒）　川芎（一錢）　當歸（三錢）</p>
<p>水煎去渣溫服。</p>
<p>經血虛少，衝任欠盈，不能應時而下，故月經不至，是為虛閉焉。熟地補陰滋血，白芍斂陰和血，當歸養經中之血以資衝任，川芎行血中之氣以通經脈也。水煎溫服，務使血榮經潤，則溝滿渠通而月事必應時而下，豈復有虛閉之患乎。</p>
<p><u>玉燭散</u></p>
<p>治胃熱血枯經閉、便結，脈洪澀者。</p>
<p>生地（五兩）　當歸（三兩）　白芍（一兩半，炒）　川芎（一兩）　大黃（三兩）　芒硝（一兩半）</p>
<p>甘草（一兩）</p>
<p>制為散，水煎四錢，去渣食前服。</p>
<p>血液干枯，經脈壅閉，故胃氣結熱而大便燥結，月事不來焉。調胃承氣湯力能瀉熱通腸。四物湯功　養血潤燥，合之以治燥熱經閉。為散水煎，使胃熱頓化，則經氣清和而經血自生，經脈榮潤，何有血枯經閉之患哉。</p>
<p><u>三和湯</u></p>
<p>治心火上行，胞脈閉塞，月信不通，脈澀數者。</p>
<p>生地（五錢）　當歸（二錢）　白芍（一錢半）　川芎（一錢）　連翹（一錢半）　梔子（一錢半）　黃芩（二錢）　朴硝（一錢）　薄荷（一錢半，泡）　甘草（一錢）</p>
<p>水煎去渣溫服。</p>
<p>勞心耗血，心火上行，故胞脈閉塞，月事不能下通焉。涼膈散以導熱清心，四物湯以養血通閉，調胃承氣湯以下熱滋干，故曰三和，以和其不和也。水煎溫服，使心火下降則腎水上朝而津液得全，胞脈無閉塞之患，月事無不通之虞矣。</p>
<p><u>二黃散</u></p>
<p>治經脈不通，脈數澀者。</p>
<p>大黃（三兩）　生地（六兩）</p>
<p>制為散，好酒下三錢。</p>
<p>血熱腸枯，津液燥結，故能食肌消，經脈不能通利焉。大黃破瘀結以瀉熱通經，生地涼血熱以滋陰化結，為散酒調，使結化熱除，則陰血得滋而經脈無不通之患矣。</p>
<p><u>二氣丸</u></p>
<p>治經閉脈數澀，左右強弱不調者。</p>
<p>大黃（四兩末）　當歸（一兩末）　白芍（二兩末，酒炒）</p>
<p>先以大黃煎汁去渣熬膏入藥末和丸，淡醋細嚼三錢，米飲漱口咽下。</p>
<p>熱瘀不清，經血暗耗，故經脈閉遏月事不行焉。當歸養既耗之血，白芍斂熱傷之陰，大黃淨汁熬膏入藥丸服，醋以引之入肝，飲以漱之和胃，使熱化血榮，則衝任蓄泄有權，何患經閉不通乎。</p>
<p><u>五補丸</u></p>
<p>治胞脈虛閉，月事不來，脈虛澀者。</p>
<p>熟地（二兩）　人參（二兩）　牛膝（一兩）　茯苓（一兩）　地骨皮（一兩）</p>
<p>制為末，煉蜜丸，好酒溫服三錢。</p>
<p>氣虛不能鼓運榮血而胞脈閉遏，血氣暗耗，故月事不來焉。人參補心氣兼生血脈，熟地補心陰能滋衝任，茯苓清治節以化氣，骨皮退肌熱以資營，復需牛膝之下行，以通經氣之虛閉也。煉蜜以丸之，醇酒以行之，使陽春煥發，則溝滿渠通而胞脈無虛閉之患，月事無不通之害矣。</p>
<p><u>衛生湯</u></p>
<p>治營衛兩虛，經水不至，脈虛軟者。</p>
<p>當歸（三錢）　黃　（五錢，蜜炙）　白芍（一錢半，酒炒）　炙草（一錢）</p>
<p>水煎溫服，虛甚加人參。</p>
<p>營衛兩虛，血氣不足而衝任欠盈，經脈不至，故月事不來焉。黃　壯氣實衛，當歸養血益營，白芍斂陰和血，炙草緩中益胃也。水煎溫服，使血氣內充，則衝任蓄泄有權而經脈無不至，月事無不來矣。虛甚加人參以扶元益氣，俾氣能生血而溝滿渠通焉，豈有經閉之患乎。</p>
<p><u>柏子仁丸</u></p>
<p>治思慮成勞，血耗月經不通，脈濡澀者。</p>
<p>柏子仁（二兩，炒）　熟地（三兩）　牛膝（一兩）　卷柏（一兩）　澤蘭（一兩）　續斷（一兩）</p>
<p>咀為末煉蜜丸，米飲下三錢。</p>
<p>思慮傷心，心血虛耗，故心火獨旺而月事虧損不來焉。柏子仁養心潤燥，熟地黃壯水滋血，澤蘭通利血脈，卷柏活血通經，續斷補經虛續絡絕，牛膝以下行通利經脈也，蜜丸以潤之，飲下以和之，俾心氣得養，則胃氣調和而津血自布，心火自降，經脈自通，可無勞瘵之虞矣。</p>
<p><u>澤蘭湯</u></p>
<p>治血虧經閉，脈澀者。</p>
<p>當歸（二錢）　白芍（一錢半，酒炒）　炙草（一錢）　澤蘭（三錢）</p>
<p>水煎去渣溫服。</p>
<p>思慮勞心，干血內結，新血不生，故血失滋榮而經閉不通焉。當歸養血榮心，白芍斂陰和血，炙草益胃氣以生新血，澤蘭利結血以通經脈也。水煎溫服，使結化血行，則思郁自解，而新血日漸滋生，何有血涸經閉之患哉。</p>
<p><u>通經丸</u></p>
<p>治經閉不月，腹中結塊，脈澀實者。</p>
<p>大黃（一兩，制）　歸尾（二兩）　乾漆（一兩，燒煙盡）　桃仁（一兩，去皮尖）　三棱（一兩，醋炒）　蓬朮（一兩，醋炒）　丹皮（一兩）　肉桂（一兩，去皮）　牛膝（一兩）　麝香（一錢）</p>
<p>制為末，皂角一兩、芫花一兩煎濃汁搗糊丸，米飲下二錢。</p>
<p>血瘀結塊，挾蓄水而衝任氣閉血脈不流，故月事不行焉。歸尾破血以通經脈，桃仁破血以潤燥堅，乾漆化堅結之血積，肉桂通衝任之經閉，蓬朮破堅凝，三棱削結塊，牛膝下行通利，丹皮涼血通經，麝香通閉遏之竅，大黃通血結之幽，皂角通關利竅，芫花瀉水泄閉也。煎汁糊丸，米飲調下，無不使瘀化氣行，則堅積自散而經氣鼓運，營血輸化，何經閉不月，結塊堅凝之不退哉。</p>
<h4>痛經</h4>
<p>月經之至如潮汐之往來，不愆其期，故謂之月經，亦謂之月信。以通陰陽，以行血氣，以榮養於一身，蓋血氣充滿，陰陽和平則經候調而形體盛，舊血不去，新血不生也。若外虧衛氣之充捍而邪客於表，內乏營血之灌溉而邪著於裡，邪之所湊，留而不去則血氣暗傷，經候錯亂，將行之際在表則身先疼痛，在裡則小腹疼痛，或蓄熱或凝寒，寒者色必紫，熱者色必鮮，血虛者色必淡，血瘀者多作塊，然血為氣配，隨氣而行，塊血亦有氣滯者，陰從陽化也，至陽極似陰，紫黑亦有血熱者，若挾水挾痰，經必異色。</p>
<p>寒凝緊盛，遲細虛寒，熱結於血或洪或數，血少挾熱弦數澀芤，水停沉細，滑必痰凝，風冷脈浮，沉則氣滯。</p>
<p>經前腹痛，氣血之滯。經後刺疼，血室之虛。</p>
<p>血熱者，清之涼之，血瘀者，破之利之，寒者宜溫宜散，虛者宜補宜培，痰凝搜滌，水停決壅，風宜疏風理血，氣宜調理肝脾。</p>
<p>痛經在表主以趁痛散，在裡主以八物湯，血滯換赤芍，挾瘀加桃仁，血熱加梔丹，血寒加薑桂，血虛四物湯，肝鬱逍遙散，腎虛地黃湯。</p>
<p><u>趁痛散</u></p>
<p>治經行惡寒身痛，脈浮細澀者。</p>
<p>附子（一兩，炮）　防風（一兩）　白芍（一兩半，酒炒）　當歸（二兩）　虎骨（一兩）</p>
<p>白芷（一兩）　白朮（一兩半，炒）　茯苓（一兩）　續斷（一兩）　本（一兩）　甘草（五錢）</p>
<p>為散生薑三片，大棗三枚，煎服三錢。</p>
<p>營衛兩虛，外邪留戀而內干衝任，故必惡寒身痛然後經行。附子扶陽以御外寒，白芍建中以實衛氣，當歸養血以通衝脈，白芍斂陰以滋任脈，虎骨追風，續斷續筋雄絡，　本散太陽之邪，白芷散陽明之邪，防風散風於表，甘草緩中於裡，茯苓清治節，薑棗和營衛也。為散煎服，使外邪解散，則衝任調和而經行一如常度，何患惡寒身痛之不除哉。</p>
<p><u>八物湯</u></p>
<p>治經行臍腹絞痛，脈弦澀者。</p>
<p>熟地（五錢）　當歸（二錢）　白芍（一錢半，酒炒）　川芎（一錢）　檳榔（一錢）　木香（一錢）</p>
<p>延胡（一錢半，酒炒）　苦楝（一錢半，酒炒）</p>
<p>水煎去渣溫服。</p>
<p>血虧氣滯，挾濕熱而內干衝任，故臍腹作痛，然後經行。熟地補血滋腎，當歸養血榮肝，白芍斂陰以調衝任，川芎活血以通血海，檳榔破滯氣於三陰，木香調諸氣於六腑，苦楝瀉濕熱，延胡行血滯。水煎溫服，使血氣調和，則濕熱自化而天癸自行，何臍腹絞痛之不除哉。</p>
<p><u>烏藥湯</u></p>
<p>治經行氣滯疼痛，脈沉澀者。</p>
<p>烏藥（一錢）　香附（二錢，炒）　木香（一錢）　當歸（二錢）　甘草（五分）</p>
<p>水煎去渣溫服。</p>
<p>經氣凝滯，經血澀少，不能輸化於經，故滿腹作痛，然後經行焉。烏藥順九天之氣，香附行厥陰之經，木香調中氣，甘草緩中州，當歸養血脈以濡潤於經也。水煎溫服，使滯化氣行，則經絡調和而經候如常，何氣滯痛經之不除哉。</p>
<p><u>薑黃散</u></p>
<p>治血冷血凝腹痛經愆脈緊澀者。</p>
<p>薑黃（一兩）　白芍（一兩，酒炒）　官桂（一兩）　川芎（一兩）　延胡（一兩，酒炒）　丹皮（一兩）</p>
<p>紅花（六錢）　當歸（二兩）　蓬朮（六錢）</p>
<p>為散，酒煮三錢溫服。</p>
<p>血凝寒結於衝任而滯於胞門，故臍腹緊痛經候不調焉。薑黃散血氣之滯，白芍斂陰血之耗，寒凝久則鬱熱生，既用官桂以溫經散寒，既需丹皮以涼血化熱，川芎行血海以調經，延胡化血滯以通經，蓬朮破氣消堅，當歸養經榮脈，紅花活血以行經水也。為散以散之，酒煮以行之，使凝寒頓散，則血結自消而臍腹緊痛無不退，月候愆期無不調矣。</p>
<p><u>痛經琥珀散</u></p>
<p>治月經壅滯，心腹疼痛不可忍，脈牢者。</p>
<p>三棱（一兩）　蓬朮（一兩）　寄奴（一兩）　赤芍（一兩）　地黃（一兩）　丹皮（一兩）　當歸（二兩）</p>
<p>蒲黃（一兩）　官桂（一兩）　菊花（一兩）</p>
<p>棱赤蓬奴五物同黑豆一升，生薑片半　，醋四升，煮豆爛，焙乾入下五品為散，每服二、三錢，酒煮溫下。</p>
<p>血氣堅凝，月經壅滯，故經水來時先心腹疼痛不可忍焉。三棱破氣中之血，蓬朮破血中之氣，二味均破氣破血為攻實削堅之劑，苟無實結不可輕試。蒲黃破瘀血以通經，赤芍散血滯以瀉火，熟地滋暗耗之陰，寄奴破逗留之血，當歸養血脈以榮經，丹皮涼血熱以散滯，官桂溫經化氣，菊花散熱涼肝，黑豆平補腎臟，生薑溫散壅結也。醋以丸之，酒以行之，使血氣壅滯頓散，則月經自無閉塞之患，何經水來時先心腹疼痛之不可忍哉。</p>
<p><u>經驗方</u></p>
<p>治臍腹疼痛，月經不調脈數者。</p>
<p>木通（一錢半）　赤芍（一錢半）　靈脂（一錢半）</p>
<p>醋一杯，酒三杯煎服。</p>
<p>心氣不降，血積於肝，故小水不快而臍腹疼痛，月經不調焉。木通降心火以通利小便，赤芍瀉肝火以行散積血，靈脂乃濁穢之物，　能破血以降濁陰也。醋以收之，酒以行之，務使積血消散，則腹痛自除而溺竅通利，小便無不快，月經無不調矣。</p>
<h4>潮熱、蒸熱、寒熱</h4>
<p>陰虛生內熱，陽盛生外熱，陰虛即血虛不能維陽而潮熱有時，陽盛乃邪盛留連經絡而發熱無已時，邪傳膽府則寒熱往來，邪陷血室則發熱而且必語妄，熱傳陽明則熱盛於中而神昏多汗，外熱雖潮，語妄特甚。熱傳血分則熱煽厥陰而潮熱雖微語妄一如陽明，是為熱入血室，至於血瘀血枯，無論有邪無邪，皆能令女子潮熱。</p>
<p>尺脈洪大陽陷入陰，寸大尺衰陰虛陽盛，血虛脈虛，血枯脈澀，澀大血瘀，洪數熱蒸。</p>
<p>血瘀宜決之，血虛宜補之，血熱當涼以解之，血枯則潤以養之。</p>
<p>虛證主以逍遙散，實證主以龍膽瀉肝湯，邪在膽分小柴胡湯隨證加減，邪陷血室小柴胡東加生地、丹皮，熱伏陽明白虎東加柴胡、生地，熱甚加梔、丹、川、連，熱入血室四物加柴胡、梔、丹。</p>
<p><u>逍遙散</u></p>
<p>治血虛潮熱月事不調，脈弦虛者。</p>
<p>柴胡（五分）　白芍（一錢半，湯炒）　甘草（五分）　當歸（二錢）　白朮（一錢半，炒）　茯苓（一錢半）　荷葉（三錢）</p>
<p>水煎去渣溫服。</p>
<p>血虛不能維陰而陽郁不伸，故潮熱有時，月事澀少不調焉。當歸養血脈以榮衝任，白芍斂營陰以和肝脾，柴胡疏腠解鬱，甘草和胃緩中，白朮健脾土以生血，茯苓清治節以和中，加以荷葉之升陽和胃，水煎溫服，務使經血內充，則虛陽退藏而潮熱自解，何患經水澀少月事不調乎。</p>
<p><u>地骨皮散</u></p>
<p>治血風氣虛，寒熱經少，脈弦虛浮者。</p>
<p>地骨皮（一兩）　柴胡（五錢）　桑皮（五錢）　前胡（三錢）　人參（六錢）　黃　（一兩，蜜炙）</p>
<p>五茄（一兩）　白芍（一兩，炒）　枳殼（一兩，炒）　炙草（一兩）　桂心（五錢）　茯苓（一兩）</p>
<p>為散生薑三片，水煎三錢溫服。</p>
<p>血風氣虛，營衛不振，故寒熱無時，經水澀少不行焉。人參扶元以通血脈，黃　補氣以益衛陽，前胡散風解表，柴胡疏腠達邪，白芍斂營陰以資衝任，桂心溫營血以散外邪，地骨皮清肌退熱，桑白皮清肺肅金，炙草緩中和胃，枳殼化滯寬胸，茯苓清治節，五茄理經絡，生薑溫衛氣以散外邪也。煎散溫服，俾氣充邪解，則營衛調而寒熱解，經水可無澀少不行之患矣。</p>
<p><u>柴胡散</u></p>
<p>治寒熱經少，體瘦肢節疼痛，脈數弦浮軟澀者。</p>
<p>柴胡（五錢）　黃　（一兩，蜜炙）　鱉甲（二兩，醋炙）　白朮（一兩，炒）　麥冬（一兩，去心）</p>
<p>人參（一兩）　生地（三兩）　赤芍（一兩）　赤苓（一兩）　桔梗（五錢）　枳殼（五錢，炒）　甘草（一兩，炒）</p>
<p>地骨皮（一兩）　桑皮（一兩）</p>
<p>為散生薑一片水煎三錢，去渣服。</p>
<p>邪鬱經府，經久不解而氣虛邪陷，故寒熱經少體瘦肢節疼痛焉。其原始於任勞多郁，傷氣滯血而邪得留戀不解耳。人參扶元補氣，黃　補中托邪，生地滋陰生血，赤芍破血散滯，柴胡疏腠理以達邪，白朮健脾土以強胃，鱉甲滋肝陰兼散結氣，麥冬潤肺燥兼清心火，桑白皮清肺氣，地骨皮退肌熱，桔梗清咽利膈，赤苓滲濕和營，枳殼瀉滯氣以寬胸，甘草緩中州以和胃，生薑溫衛氣而散外邪也。煎三錢溫服，使郁散氣充，則邪得外解而寒熱自除，肢節疼痛無不退，何體瘦經少之足患哉。</p>
<h4>鼻衄</h4>
<p>鼻為陽明之部，氣血俱多之鄉，衝任又附於陽明為經血之海，或邪盛於經遏熱動血，或血虛於裡陽旺迫血，皆能令人血出於鼻而謂之衄，衄久不止，天癸亦致澀少，且鼻為肺竅，火刑金者必兼咳嗽而漸甚。</p>
<p>浮洪者邪盛於經，澀數者血虛於臟，虛數乃血為熱迫，軟數是血不歸經。</p>
<p>邪盛於經者清之疏之，血虛於臟者滋之止之，血不歸經補氣攝血以引其歸臟，血為熱迫清熱養血以吸其歸經。</p>
<p>主以舉輕古拜散，血熱犀角地黃湯，血虛四物湯，血虛熱上迫滋肝涼八味，經寒血上走白芍理陰煎，傷溫黑膏法，分解傷寒建中東加黃　。</p>
<p><u>加味舉輕古拜散</u></p>
<p>治鼻衄，脈浮數者。</p>
<p>荊芥（一兩，炒黑）　生地（五兩）　黃芩（一兩）　當歸（二兩）　白芍（一兩，炒）　丹皮（一兩）</p>
<p>茜草（二兩）　枳殼（六錢，炒黑）　甘草（六錢）</p>
<p>制為散，茅根湯下三錢（古方荊芥一味炒即名舉輕古拜散）。</p>
<p>風熱傷於營分致蘊熱內迫而血動於經，故衄血而身熱不解，天癸不調焉。黑荊疏風理血，生地壯水涼血，黃芩清熱止血，白芍斂陰和血，當歸養血脈益營，丹皮平相火涼血，枳殼瀉滯氣以降下，茜草化滯血以止衄，生草瀉火以緩其中也。為散以散之，茅根以涼之，俾風熱外解，則經氣清和而營血自固，鼻衄無不上，身熱無不解，何天癸不漸調哉。風動迫血，一味黑荊亦可止。</p>
<p><u>涼八味丸</u></p>
<p>治相火鼻紅脈虛尺旺者。</p>
<p>生地（五兩）　萸肉（一兩半）　澤瀉（一兩）　丹皮（一兩半）　茯苓（一兩半）　山藥（三兩，炒）</p>
<p>黃柏（一兩半，鹽水炒）　知母（一兩半，鹽水炒）</p>
<p>制為末蜜丸，茅花湯下三五錢。</p>
<p>腎水不足相火上炎而血不能藏，故鼻衄淋漓，經血漸少將成損疾焉，生地壯水滋陰，萸肉澀精秘氣，黃柏清濕熱以堅腎臟，知母清燥火以益腎水，茯苓清肺氣，山藥壯脾陰，丹皮平相火以涼血熱，澤瀉利膀胱以降濁陰，蜜丸以潤燥，金茅花湯以止衄血也，使腎水充足則相火退藏而陰血寧靜，何有鼻衄淋漓經血漸少之患乎。</p>
<p><u>理陰煎</u></p>
<p>治陽虛血走，脈細數者。</p>
<p>熟地（五錢）　當歸（三錢，醋炒）　炮薑（五分，鹽水炒）　肉桂（五分，鹽水炒）</p>
<p>水煎去渣溫服。</p>
<p>陽虛之人脈絡空虛而榮血散溢，故血得上出於鼻，天癸不能下行焉。熟地補陰以吸經血之上溢，當歸養血以歸營血之亂行，肉桂鹽水炒以統攝其血，炮薑鹽水炒以止澀其血也。水煎溫服，使血暖陽回，則陽能統血而血不外走，何有衄血之患，天癸無不漸來矣。</p>
<h4>帶下</h4>
<p>任脈為病，女子帶下赤白，衝任傷帶脈不能收引，傷於氣分則為白帶，傷於血分則為赤帶。良由思想無窮，所愿不得意，淫於外入房太甚，宗筋弛縱發為筋痿，久為白淫，白淫即白帶之甚者，淫溢不止，常如米泔或如黏膠，以及勞傷元氣或肝木乘脾，或濕痰下注，或濕熱傷陰，或寒濕傷臟，皆能令女子帶下。</p>
<p>風令脈浮，濕令脈緩，濕熱洪澀，滑則痰注，虛衰脈弱，滑脫虛微，大則勞傷，脈脫者不治。</p>
<p>扶元理濕為主，養陰澀脫為佐，疏風清濕熱，升陽實脾腎，當隨證治法則存乎其人。</p>
<p>主以二陳二術湯，氣虛加參　，血虛加歸地，挾熱加牡蠣、黃柏，挾寒加益智、炮薑，赤帶加白芍、阿膠，濕熱加炒柏、黑荊。衝任兩虛地黃湯，肝脾兩虛逍遙散，心脾兩虛歸脾湯，脾肺兩虛補中益氣湯。</p>
<p><u>解帶湯</u></p>
<p>治濕熱白帶，脈緩澀者。</p>
<p>當歸（二兩）　蒼朮（一兩，炒）　白芍（一兩半，炒）　香附（二兩，醋炒）　茯苓（一兩）　丹皮（一兩）</p>
<p>白朮（二兩，炒）　川芎（一兩，炒）　甘草（五錢）</p>
<p>制為散空心米飲服三錢。</p>
<p>衝任為濕熱所傷而帶脈不能收引，故帶下色白淫溢不已焉。蒼朮燥濕強脾，白朮健脾燥濕，當歸養血榮經脈，白芍斂陰和血脈，茯苓滲濕以清經氣，丹皮涼血以清伏熱，香附調氣解鬱，川芎活血調經，甘草緩中以和胃氣也。</p>
<p>為散以散之，米飲以和之，使脾胃調和則濕熱自化而帶脈完固，何帶下之淫溢不已哉。</p>
<p><u>側柏樗皮丸</u></p>
<p>治帶下脈數澀者。</p>
<p>黃連（五錢）　白朮（一兩，炒）　黃柏（五錢，炒）　柏葉（一兩，炒）　白芍（一兩，炒）　白芷（三錢，燒灰）　香附（一兩，醋炒）　椿皮（二兩，炒）</p>
<p>制為末粥丸米飲下三錢。</p>
<p>濕熱傷於衝任，帶脈不能收引，故帶下赤白淫溢不止焉。黃連清熱燥濕，白朮燥濕健脾，黃柏清下焦之濕熱，柏葉燥血分之濕熱，白芍斂陰和血，香附調氣解鬱，白芷燥濕升陽，椿皮澀脫以止帶下也，粥以丸之，飲以下之，使脾胃調和則濕熱自化而經脈清和帶脈完固，帶下無不自止矣。</p>
<p><u>蒼柏辛芎散</u></p>
<p>治白帶兼頭風鼻涕，脈弦數者。</p>
<p>蒼朮（一兩，炒）　辛荑（一兩）　川芎（五錢）　黃柏（一兩，酒炒）　南星（一兩，制）　半夏（一兩，制）　滑石（五錢）　黃芩（一兩，酒炒）　牡蠣（三兩，　）</p>
<p>制為散，米飲煎下三錢。</p>
<p>風濕襲傷頭腦，抑遏清陽之氣，帶脈不能收引，故頭痛涕出，帶下淫溢焉。蒼朮燥濕強脾兼舉清陽之氣，辛荑輕陽解熱兼泄內伏之風，南星散痰於胸膈，半夏燥痰於腹脅，黃芩清上焦之濕熱，黃柏清下焦之濕熱，滑石利竅以除上甚之濕熱，牡蠣澀脫以攝帶脈之不收，川芎之辛下行血海上行頭角也。為散煎服，使風濕外解則遏熱頓化而清陽無抑遏之患，帶脈有約束之權，何頭痛鼻涕不除，帶下淫溢不已哉。</p>
<p><u>當歸澤蘭丸</u></p>
<p>治赤白帶下，經愆無子，脈數澀弦者。</p>
<p>香附（一斤童便、醇酒、薑汁、釅醋各浸四兩，經宿晒乾）　熟地（四兩）　當歸（三兩）　白芍（二兩，炒）</p>
<p>川芎（一兩）　生地（四兩）　白朮（二兩，炒）　澤蘭（二兩）　艾葉（一兩，醋炒）　黃芩（一兩，炒黑）</p>
<p>為末醋丸，白湯煎下三錢。</p>
<p>血虧氣滯，天癸愆期而帶脈不能收引，故赤白帶下，經久不能生子焉。熟地補陰滋血，生地涼血滋陰，當歸養血脈以榮經，白芍斂營陰以和血，川芎行血中之氣，艾葉暖子宮之血，澤蘭去宿生新，白朮健脾燥濕，黃芩清肺氣以肅生水之源，香附解鬱結以調衝任之氣，醋以丸之，湯以下之，使經脈有資則血氣調和而天癸無不如度，帶脈約束有權，何赤白帶之不除哉，自此帶愈經調，天下應無不孕之婦矣。</p>
<p><u>止帶丸</u></p>
<p>治冷熱不調，經愆帶下，脈軟數弦澀者。</p>
<p>人參（一兩）　當歸（一兩）　白朮（一兩，炒）　山藥（一兩，炒）　川芎（六錢）　杜仲（一兩，炒）</p>
<p>香附（一兩，炒）　青黛（六錢）　破故紙（一兩，炒）　牡蠣（一兩）　續斷（一兩）　椿皮（一兩，炒）</p>
<p>制為末煉蜜丸，米飲下三錢，腹痛加延胡、小茴，肥人加薑製半夏，瘦人加酒炒黃柏，冬月加乾薑，夏月加黃柏。</p>
<p>冷熱不調，血氣不足而衝任少衝和之氣，帶脈不能約束，故天癸愆期，帶下淫溢焉。人參扶元補氣，當歸養血榮經，白朮健脾氣以燥濕，山藥補脾元以益陰，川芎活血調經脈，香附調氣解鬱結，青黛解鬱清熱，故紙補火暖腎，杜仲壯腰膝以強腎，續斷續筋絡以壯肝，牡蠣澀脫益陰，椿皮澀脫止帶也。蜜丸以潤之，飲下以和之，使血氣內充則冷熱自調而天癸無不如度，帶下無不自止矣。腹痛加延胡、小茴溫經活血，肥人加半夏燥濕化痰，瘦人加黃柏清熱存陰，冬月加乾薑溫中卻寒，夏月加黃柏以清下燥濕，此隨證救逆法，亦因時從證法。</p>
<p><u>蓯蓉菟絲丸</u></p>
<p>治赤白帶下，脈弦浮數者。</p>
<p>蓯蓉（一兩，酒洗，蒸）　菟絲（二兩，焙）　覆盆（一兩，炒）　蛇床（一兩，炒）　當歸（二兩，焙）</p>
<p>白芍（一兩，炒）　川芎（一兩，焙）　牡蠣（一兩，　）　烏賊骨（一兩，　）　黃芩（一兩，炒）　防風（六錢，炒）　五味（五錢，炒）　艾葉（五錢，炒）</p>
<p>制為末，煉蜜丸，鹽湯下三錢。</p>
<p>血虧濕熱，帶脈不能收引，故赤白帶下，淫溢不止焉。肉蓯蓉溫腎潤燥，菟絲餅補腎填精，覆盆子固溺竅，蛇床子祛濕熱，當歸養血榮經脈，白芍斂陰和血脈，川芎行血中之氣，防風疏坎陷之風，牡蠣澀脫益陰，烏賊澀血止帶，黃芩清熱燥濕，五味斂液收津，艾葉以溫胞門也。煉蜜以丸之，鹽湯以下之，使潤下之性速歸腎臟，是補其母而木榮土潤，則濕熱自化而經脈清和帶脈完固，何赤白帶之淫溢不已哉。</p>
<p><u>暖宮妙應丸</u></p>
<p>治赤白帶久不孕，脈虛澀者。</p>
<p>熟地（四兩）　當歸（二兩）　白芍（一兩半，炒）　川芎（八錢）　龍骨（一兩，　）　丹皮（一兩）</p>
<p>牡蠣（二兩，　）　茯苓（一兩）　赤石脂（二兩，醋　）　艾葉（一兩，炒黑）</p>
<p>制為末，醋丸，米飲下三錢。</p>
<p>血虛濕熱帶脈不收，故赤白帶下，經久而子宮虛衰不孕焉。熟地補陰滋血，當歸養血榮經，川芎行血中之氣，白芍斂營中之陰，茯苓滲濕以清子室，丹皮涼血以平相火，龍骨、牡蠣收澀精氣以止白帶，艾灰、石脂止澀赤帶以溫子宮也。醋丸飲下，使濕熱化而血脈充，則子宮雄壯而赤白帶下無不止，安有不孕之婦哉。</p>
<h4>崩漏</h4>
<p>陰虛陽搏謂之崩，血滲氣泄謂之漏，或勞傷元氣，氣不統血，或虧損肝脾，血不歸經，或七情郁結血液偏滲，或風熱外乘血為邪迫，所謂陽絡傷則血外溢，陰絡傷則血內滲也。忽然暴下勢不可遏謂之崩，經血不住淋漓不斷謂之漏。</p>
<p>崩脈多芤，漏脈必澀，數為血熱，軟則氣虛，風乾衝任，脈必浮弦，冷結胞門，脈則沉細，若夾瘀血，澀滯無疑。</p>
<p>崩宜扶元，澀血升舉清陽。漏宜調理其經，血清自止，瘀當清補，熱當清涼，風則疏之，冷則溫之，至隨證治法則審病制宜。</p>
<p>主以補陰益氣煎加白芍血余灰，挾風加炒黑荊芥，挾熱加炒黑丹皮，挾寒加黑薑灰，氣虛倍人參加炙黃　，血滑加敗棕灰、赤石脂，腹痛加廣木香、香附，血滯加醋炒延胡灰，真如確有血瘀可加蒲黃灰、五靈脂灰，俱宜醋炒以斂之，此在崩症亦當先理血氣為主，若屬大虛即漏症，便當補澀，慎毋執一法也。</p>
<p><u>補陰益氣煎</u></p>
<p>治崩漏氣血兩虧，清陽下陷，脈軟弦微數者。</p>
<p>生地（五錢）　人參（一錢半）　當歸（三錢，醋炒）　升麻（三分，醋炒）　山藥（三錢，炒）　柴胡（五分，醋炒）　炙草（八分）　陳皮（一錢半）　炒黑荷葉（一張）</p>
<p>水煎去渣，溫服。</p>
<p>氣血兩虧，清陽下陷而血不歸經，故崩而且漏不能遽止焉。生地滋陰壯水，力能涼血止血，人參扶元補氣又能舉陷升陽，山藥補脾益陰，當歸養血歸經，升麻升陽明清氣，柴胡升少陽清氣，陳皮利氣和中，炙草緩中和胃也。</p>
<p>佐炒黑荷葉者，亦升陽止血之意，水煎溫服，使血氣內充，則脾胃受蔭而血自歸經，何致清陽下陷而崩且漏哉。</p>
<p><u>清熱地黃湯</u></p>
<p>治血崩煩熱，脈洪澀者。</p>
<p>生地（五錢）　黃連（一錢半，炒黑）　白芍（一錢半，醋炒）　荊芥（一錢半，炒黑）　知母（一錢半，炒黑）　黃柏（一錢半，炒黑）　當歸（三錢，醋炒）　丹皮（一錢半，炒黑）　地榆（三錢，炒炭）</p>
<p>水煎去渣溫服。</p>
<p>血虧伏熱迫血妄行，故煩熱不止，血崩特甚焉。生地滋陰壯水，黃連降火清心，黃柏清相火之熾，知母潤血氣之燥，荊芥散火之伏以理血，白芍斂血之走以存陰，丹皮灰涼血止血，醋當歸養血吸血，地榆炭澀血以定血也。水煎溫服，使伏火化而血氣充則煩熱自退而血無妄行之患，何血崩之不止哉。</p>
<p><u>金華散</u></p>
<p>治暴崩腹痛，脈數澀大者。</p>
<p>當歸（三兩，醋炒）　蒲黃（一兩半，炒黑）　乾薑（六錢，炮黑）　桂心（六錢，炒黑）　黃連（六錢，炒黑）　石膏（六錢，煨過）　靈仙（六錢，炒黑）</p>
<p>為散米飲下三錢。</p>
<p>冷熱不調，血瘀衝任，故腹痛心煩，暴崩不止焉。薑、桂溫衝任之寒，膏、連平肝胃之熱，當歸醋炒養血歸經，蒲黃炒黑破瘀止血，靈仙走經絡以調經也。為散以散其瘀，飲下以和其胃，使胃氣調和，則冷熱無不調而血無瘀逆之患，何煩痛不除，暴崩不止乎。</p>
<p><u>荊芥散</u></p>
<p>（新制）</p>
<p>治崩漏腹痛，脈弦浮數者。</p>
<p>生地（五錢，炒炭）　荊芥（五錢，炒灰）　白芍（一錢半，醋炒）　白朮（一錢半，炒炭）　當歸（三錢，醋炒）　木香（一錢）　茯苓（一錢半）　血余灰（三錢）　敗棕灰（三錢）　荷葉（三錢，炒灰）</p>
<p>水煎去渣溫服，血熱加丹皮灰，血滯加延胡灰，血中氣滯加香附灰，血氣虛脫加赤石脂，咳嗽加桑皮，氣虛加人參，陰血虛加阿膠珠、蒲黃灰炒，胃中寒加炮薑炭，淡鹽水炒。</p>
<p>任勞傷中，挾風邪而衝任不調，經血失守，故腹痛崩漏不止焉。生地炭涼血滋血兼去血中之濕以止血，荊芥灰和血疏風能去經絡之濕以撫血，當歸身養血歸經，白芍藥斂陰和血，白朮炭健脾燥濕，廣木香調氣醒脾，血余灰去瘀生新以除漏，敗棕灰澀血固經以定崩，白茯苓滲濕和脾，荷葉灰升陽止血也。水煎溫服，血熱加丹皮灰以涼血止血，血滯加醋炒香附炭以調血中之氣亦兼止血，血氣滑脫加醋　赤石脂以澀滑脫之血，最能固下，咳嗽加桑皮以肅金氣，虛加人參以扶元陰，血虛加阿膠以補任脈之陰，蒲黃灰炒以止衝脈之血，胃中寒加炮薑以暖中宮之冷，淡鹽水炒以攝虛陽之動，且能堅腎以固衝任之虛脫也。此乃時下調治腹痛崩漏之法，或夾寒熱，或夾頭痛，無非一味荊芥可以了事，故不具載加減，法中觀其隨證調治，無不頭頭是道。</p>
<p><u>十灰散</u></p>
<p>治血崩不止，脈緩澀。</p>
<p>錦片（一兩，炒灰）　木賊（一兩，炒灰）　棕灰（一兩）　柏葉（一兩，炒灰）　乾漆（一兩，炒灰）</p>
<p>鯽鱗魚（一兩，炒灰）　鯉鱗魚（一兩，炒灰）　血余（一兩，炒灰）　當歸（二兩，炒灰）　艾葉（一兩，炒灰）</p>
<p>為散，米飲下三錢。</p>
<p>血虛挾瘀經脈不調而經氣失守，故經血偏滲血崩不止焉。錦片灰止經血以榮經絡，木賊灰舒陽氣以舉下陷，棕皮灰澀脫止血，柏葉灰涼血止血，乾漆灰去瘀血，血余灰生新血，鯽鱗魚灰理血中之濕以止血，當歸、艾葉灰理子宮之血以除崩也。為散米飲下使瘀血頓化則新血自生，而經氣完固，血無妄行之患，何血崩之不止哉。</p>
<p><u>立效散</u></p>
<p>治血崩不止，脈澀者。</p>
<p>當歸（三兩）　連花蕊（三兩）　棉花子（二兩，炒）　紅花（一兩）　茅花（三兩）</p>
<p>為散，每服三錢，水煎去渣溫服。</p>
<p>久郁傷肝，不能藏血，故血不歸經崩下不止焉。棉花子散滯氣力能解鬱開結，連花蕊涼心氣，性善澀血固經，紅花生新去宿，當歸養血歸經，茅花輕揚止血以定崩下也。為散水煎，務使肝鬱結散則經脈調和而經氣完復，血不妄行，何崩下之不除乎。</p>
<h3>陰腫門</h3>
<p>北方黑色入通於腎，開竅於二陰，厥陰之脈下循陰器，是前陰之部，乃厥陰肝脈所主，少陰腎氣所貫也。故腎虛濕熱乘注則玉門漫腫名曰陰腫。肝鬱濕熱相搏則陰腫疼痛名曰陰痛，如燥火下乘但痛不腫亦曰陰痛。濕熱生蟲則陰中作癢名曰陰癢。濕熱傷血則陰內生瘡名曰陰瘡。元虛下脫則陰挺出名曰陰挺，或濕熱下迫，或虧損肝脾亦皆令人挺出。冷結胞門，元陽暗損則陰中常覺冰冷名曰陰冷。下元虛衰膀胱不約則遺尿名曰遺溺。熱傷衝任，血滲膀胱則尿血曰溺血。濕熱乘脬風冷外遏則陰中留結如菌如茄名曰陰痔。胃實脬虛則陰氣下泄氣迫聲喧名曰陰吹。腎虛肝火凌脾，不能統攝津血而交接出血名曰陰蝕。</p>
<h4>脈法</h4>
<p>風浮熱數濕細緊寒，若輕經氣滯郁脈必弦澀，瘀脈澀大，洪澀火灼。</p>
<h4>治法</h4>
<p>調營化氣佐以理濕扶元，郁則疏之，瘀則行之，熱則清之，冷則溫之，虛甚者補而調之，下陷者舉而升之，隨證治法則審方酌治。</p>
<h4>用藥</h4>
<p>陰腫四苓東加青、陳、柴胡稍，陰痛龍膽瀉肝東加知、柏、敗龜板，陰癢逍遙散加龜板、梔子、生蛤粉，陰瘡二妙散加萆　、知母、敗龜板，陰挺補中益氣東加龍骨牡蠣粉，陰冷八味丸加小茴、巴戟肉，遺溺八味丸去澤瀉加益智、覆盆子，溺血黑逍遙散換生地加地榆炭、荊芥灰，陰痔內服逍遙散，外以銅綠散絹裹納陰中，陰吹先服豬膚發煎後以歸芍地黃湯調理，陰蝕朝以歸芍地黃湯，暮以補陰益氣煎，日久兼程，庶可奏績。</p>
<h4>選方</h4>
<p><u>加味四苓湯</u></p>
<p>治前陰漫腫，脈弦者。</p>
<p>茯苓（三錢）　白朮（一錢半，炒黑）　豬苓（一錢半）　柴胡稍（五分）　澤瀉（一錢半）　青皮（一錢半，炒）</p>
<p>陳皮（一錢半）　橘核（三錢，炒）</p>
<p>水煎去渣溫服。</p>
<p>脾土虛衰，不能制濕而肝氣滯於厥陰，故前陰兩拗漫腫焉。白朮　培脾土以制濕，茯苓滲利濕邪以安中，豬苓利三焦之濕，澤瀉利膀胱之濕，青皮破滯氣以平肝，陳皮利中氣以和胃，柴胡稍達下以升陽散滯，廣橘核入肝以散結消腫也。水煎溫服，使土強制濕，則濕化氣調而肝脾無滯結之患，何陰腫之不退哉。</p>
<p><u>加味逍遙散</u></p>
<p>治陰癢脈弦虛數者。</p>
<p>柴胡（六錢，鹽水炒）　白芍（二兩，炒）　白朮（一兩半，制）　當歸（三兩）　茯苓（一兩）　炙草（四錢）　山梔（二兩炒）　丹皮（一兩半）　蛤殼（三兩，生研）</p>
<p>為散，白雷丸三錢，煎湯調下三錢。</p>
<p>肝脾血虛，濕熱下注，故陰內生蟲而作癢難忍，得溺則暫解片時焉。蛤殼生研利少陰之濕熱，柴胡鹽制解肝膽之虛陽，當歸養血榮經，白芍斂陰和血，白朮培土制濕，茯苓滲濕和脾，丹皮涼血以清相火，山梔降熱以清濕火，炙甘草以緩中和胃也。白雷丸湯調下取其清熱殺蟲使熱化蟲消，則濕亦得泄而津血四布，肝脾無不皆受其蔭，豈有濕熱下注以成陰癢之苛哉。</p>
<p><u>加味二妙散</u></p>
<p>治陰內生瘡，脈細數者。</p>
<p>蒼朮（一兩，炒）　黃柏（二兩，鹽水炒）　龜板（二兩，鹽水炒）　萆　（二兩）　知母（二兩，鹽水炒）</p>
<p>為散，人中白煎湯，調下三錢。</p>
<p>濕熱內甚，浸淫不化而下注陰中，故陰內生瘡焉。蒼朮燥濕強脾以治瘡，黃柏清熱燥濕以存陰，知母清熱壯水，萆利濕釐清，龜板滋陰壯水以清濕熱下注之源也。人中白湯調下使小便清利則濕熱自化而經府清和，何陰內生瘡之足患哉。</p>
<p><u>濟陰摻藥方</u></p>
<p>治陰瘡濕爛脈緩者。</p>
<p>黃丹（一兩）　枯礬（三兩）　蓄（一兩，炒灰）　本（一兩）　蛇床子（二兩）　荊芥（一兩）</p>
<p>白蛇皮（六錢，燒灰）　硫黃（一兩）</p>
<p>為末干摻藥溶，蔥礬湯洗拭再摻之。</p>
<p>濕氣內淫，挾風毒而陰瘡濕爛，故膿汁淋漓不能自己焉。黃丹生肌燥濕，硫黃燥濕殺蟲，　本升陽勝濕，枯礬卻濕排膿，荊芥疏血分風邪，蛇床瀉陰中濕熱，蛇皮善脫皮膚，炒黑亦能勝濕，　蓄專瀉水濕炒灰，亦可排膿，藥末以摻之，蔥礬湯以洗之，務使濕化風消，則經府清和而陰瘡濕爛無不平復，何膿汁淋漓之不已哉。</p>
<h2>卷二</h2>
<h3>種子門</h3>
<p>男女媾精，萬物化生，胎雖孕於精血，實賴先天一氣結成，所謂二五之精妙合而凝也。惟精凝其血，是精勝為男。血聚其精，是血勝為女。駢胎品胎乃精氣之分岐四射而血凝之，亦非一路焉。男有不可為父者，得陽氣之虧。女有不可為母者，得陰氣之塞。故種子之法，男以補腎填精為要，女以養血調經為先，使精血充足，經候無愆，則男無不父，女無不母矣。</p>
<h4>脈法</h4>
<p>督脈生病，女子不孕，少陰脈微弱澀，年少得之為無子，中年得之為絕產，肥人脈細胞有寒飲，故令少子，瘦人脈澀，沖無余血故不能孕。</p>
<h4>治法</h4>
<p>男貴養精，女宜調血，經前腹痛須調氣兼以活血，經後腹痛宜補血或兼益氣。陰虛者，滋陰壯水以調元氣，陽虛者，補腎扶陽以生精血。</p>
<h4>用藥</h4>
<p>主以四物東加砂仁、香附、杜仲、續斷，血瘀加桃仁、原紅花，血虛加阿膠、黃明膠，血熱加山梔、丹皮，寒加炮薑、肉桂，氣滯加木香、香附，氣虛加人參、黃　，虛寒秦艽、桂，虛熱先期湯，各隨脈證調治，庶克有子。</p>
<h4>選方</h4>
<p><u>加味種子四物湯</u></p>
<p>治衝任兩虛不孕，脈虛澀者。</p>
<p>熟地（五錢）　當歸（三錢）　白朮（一錢半，炒）　川芎（一錢）　白芍（一錢半，炒）　茯苓（一錢半）</p>
<p>阿膠（三錢，麥炒）　香附（二錢，酒炒）　續斷（三錢，酒炒）　炙草（五分）</p>
<p>水煎去渣，沖炒黃砂仁末五分溫服。</p>
<p>衝任兩虛不能交媾水火，是胞中血少氣澀，故無以孕精而娠焉。熟地補陰滋血，當歸養血榮經，川芎活衝脈之血，白芍斂任脈之陰，白朮健脾生血，阿膠補血益陰，香附調氣解鬱，炙草緩中益胃，茯苓滲濕以清於室，續斷續筋以雄經脈也。水煎溫服，稍佐砂仁，調胃醒脾，使脾胃調和則血室充足而氣無滯澀之患，何有衝任不調，媾精不孕哉。</p>
<p><u>調經種玉湯</u></p>
<p>治血虛挾滯不孕，脈澀弦者。</p>
<p>熟地（五錢）　吳茱（一錢，醋炮炒）　白芍（一錢半，酒炒）　川芎（一錢）　當歸（三錢）　香附（二錢，酒炒）　茯苓（一錢半）　丹皮（一錢半）　陳皮（一錢半）　延胡（一錢半，酒炒）</p>
<p>水煎去渣溫服。</p>
<p>血虧挾滯冷熱不調，致天癸愆期，故不能成孕焉。熟地補陰滋血，當歸養血榮經，川芎活衝脈之血以調經，白芍斂任脈之陰以和絡，延胡活血滯，香附調氣滯，吳茱溫肝逐冷，陳皮利氣和胃，丹皮涼血退熱，茯苓滲濕和中也。水煎溫服，使血活滯行，則寒消熱化而天癸如其常度，無不媾精而成孕矣。如過期色淡加炮薑、肉桂以溫經暖血，血先期色鮮加條芩、梔子以清熱涼血，此隨症加減之法，無不絲絲入扣。</p>
<p><u>增損三才丸</u></p>
<p>治血少無孕，脈軟澀者。</p>
<p>天冬（三兩，去心炒）　熟地（五兩）　人參（一兩半，蒸）　遠志（一兩半，焙）　茯苓（一兩半，蒸）</p>
<p>鹿角（一兩半，酥炙）　北味（一兩，焙）</p>
<p>為末煉蜜丸，溫酒下三錢，年老加混元衣酒洗炙末。一方加白馬莖，酒洗炙末。一方加熟附子，鹽水炒黑。</p>
<p>一方加麥冬酒浸蒸。一方加續斷酒炒。一方加沉香磅因末蒸。</p>
<p>血少經枯，不能滋榮百脈，故子宮干澀無以媾精而孕子焉。天冬清心潤肺兼能益陰壯水，熟地滋補陰血，更能榮養經脈，人參扶元補氣，遠志通腎交心，茯苓滲濕以清子室，北味收斂以滋津液，鹿角壯督脈以暖胞門也。</p>
<p>蜜丸酒下，使血榮經潤，則子宮無枯澀之患而天癸如其常度，無不媾精而孕育矣。年老加混元衣大補血氣，白馬莖之扶陽，熟附子之補火，麥門冬之潤燥，川續斷之接續經脈，沉香末之溫融下焦，因形定診，無不頭頭是道。</p>
<p><u>青蒿烏雞丸</u></p>
<p>治潮熱食少，經愆無子，脈軟弦數者。</p>
<p>青蒿（一斤）　人參（四兩）　黃　（四兩，蜜炙）　當歸（四兩）　香附（一斤，制）　茯苓（二兩）</p>
<p>川芎（二兩）　白朮（四兩，制）　丹皮（二兩）　白芍（二兩，炒）　鱉甲（六兩，醋製）　地骨皮（三兩）</p>
<p>艾葉（二兩，醋炒）</p>
<p>制為末，取白絲毛烏骨雄雞一只，去腸垢留腹入熟地八兩，好酒煮爛去骨，同前藥焙脆為末，仍用煮雞酒糊熟糯粉，干濕可丸余酒收入，仍用溫酒下三五錢。</p>
<p>氣虛不能鼓運其血，致熱遏經中而潮熱食少，天癸愆期，故不能生子焉。人參扶元補氣，黃　實衛補中，白朮健脾土以鼓運乎血，當歸養血脈以營運乎經，川芎行血中之氣，白芍斂經脈之陰，香附調氣解鬱，鱉甲散結滋陰，牡丹皮涼血以平相火，地骨皮清肌以退潮熱，茯苓滲濕兼清子室，艾葉理血　暖子宮，青蒿解鬱熱而直清肝膽也。熟地煮雞得水木同氣，引領諸藥扶陰益血鼓運營氣，即以煮雞酒丸，仍用好酒送下，使氣壯血行，則衝任融和而營衛調適，其潮熱無不退，飲食無不增，何患天癸不調，不能生子耶。</p>
<p><u>紫河車丸</u></p>
<p>治虛寒不孕，脈軟弱者。</p>
<p>紫河車（一具，白酒洗，銀針挑淨紫筋）　大熟地（八兩）　當歸身（四兩）　白芍藥（二兩，酒炒）</p>
<p>冬白朮（四兩，制）　淮山藥（四兩，炒）　金香附（二兩，酒炒）　揀人參（四兩）　紫石英（二兩，醋炒）</p>
<p>甘枸杞（四兩）　蘄艾葉（二兩，醋炒）　小川芎（二兩）</p>
<p>各藥同河車入陳酒煮爛，收干晒脆為細末，蜜丸溫酒下三五錢。</p>
<p>氣血兩虧子宮不暖，致天癸愆期無以孕育而生子焉。熟地補陰滋血，人參補氣扶元，當歸養血榮經，白朮健脾生血，川芎行血海以調經，白芍斂陰血以和絡，香附調氣解鬱，山藥補脾益陰，蘄艾葉理血氣以溫血室，紫石英澀血氣以暖子宮，甘枸杞滋培腎臟，紫河車大補血氣，入酒煮爛，收焙煉蜜以丸之，溫酒以下之，俾血氣內旺則子宮溫暖而衝任融和，天癸無不調，自能孕育而生子矣。</p>
<p><u>調生丸</u></p>
<p>治年久不孕，脈數緊澀者。</p>
<p>熟地（五兩）　當歸（三兩）　白芍（兩半，酒炒）　川芎（一兩）　澤蘭（二兩）　白朮（兩半，炒）</p>
<p>石斛（二兩）　乾薑（一兩，炒）　丹皮（一兩，酒炒）　肉桂（一兩，去皮）　延胡（二兩，酒炒）</p>
<p>制為末，淡醋丸，溫酒下三錢。</p>
<p>血虧挾滯冷熱不調，致經愆腹痛不能孕生焉。熟地補陰滋血，當歸養血榮經，川芎行血海以調經，白芍斂陰血以和脈，丹皮涼血熱，白朮健脾丸元，石斛補虛退熱，乾薑溫胃散寒，澤蘭通利經脈，肉桂溫暖營血，延胡索化血滯以調和經脈也，醋丸以收之，酒下以行之，使冷熱並化則經氣調和而腹痛無不退，天癸無不調，何有不能生子之患哉。</p>
<h2>卷三</h2>
<h3>胎前門</h3>
<h4>脈法</h4>
<p>婦人身有疾而無邪脈者妊子也，脈滑疾而不月者亦妊子也，沉數胎熱，浮數兼風，脈或澀弱胎恐難成。</p>
<h4>治法</h4>
<p>胎動者按之，胎弱者養之，熱壅氣逆宜清熱養血順氣健脾。胎或下墮急當升舉，傷寒雜病均據經按法，切勿傷犯胎氣為主。</p>
<h4>用藥</h4>
<p>主以安胎飲，氣逆加紫蘇梗、黑枳殼，腹脹加大腹皮、黑枳殼，腹痛加木香、白芍，腰痛加生地、杜仲，脅痛加柴胡、橘葉，心痛加白蔻、砂仁，身熱紫蘇湯，嘔惡加半夏，泄瀉加白朮，痢下加香連，下血加連芍，傷寒不解陽旦湯，傷溫熱陷黑膏湯，至尋常調理，安胎飲最當。</p>
<h4>惡阻</h4>
<p>妊娠脾胃虛弱爽氣而痰涎內滯，致惡心眩暈嘔吐涎飲，惡食擇食謂之惡阻。血弱不能配氣而氣逆嘔吐亦為惡阻，均當見於二三月時。</p>
<p>脈沉氣滯，滑為痰阻，緊是寒侵，數乃熱壅，脈若弦虛肝木乘脾。</p>
<p>流濕化氣以治其標，健脾和血以療其本，寒宜溫調，熱當清降，氣虛血虛補養滋培。</p>
<p>主以二陳湯，胸滿加枳殼，脾虛加白朮，氣鬱加香附，氣虛加人參，氣不順加蘇梗、烏藥，腹中痛加木香、砂仁，脾虛異功散，胃虛人參橘皮湯，脾胃兩虛六君子湯，氣血兩虛半夏茯苓湯。</p>
<p><u>半夏茯苓湯</u></p>
<p>治妊娠惡阻脈軟弦者。</p>
<p>半夏（一錢半，制）　熟地（三錢，砂仁末炒）　人參（八分）　白芍（一錢半，炒）　川芎（一錢）</p>
<p>陳皮（一錢半）　白朮（錢半，炒）　茯苓（一錢半）　全福花（一錢半，絹包）　桔梗（三分）</p>
<p>水煎去渣溫服，挾熱加黃芩，挾寒加生薑。</p>
<p>妊娠二三月氣血兩虧，脾胃不運，挾痰飲而嘔吐涎沫眩暈倦怠謂之惡阻。人參扶元補氣，白朮健脾生血，川芎行血中之氣，白芍斂脾胃之陰，熟地補陰滋血，茯苓滲濕溫中，桔梗清咽利膈，陳皮利氣和胃，半夏醒脾胃以豁痰，旋覆花理風氣以滌飲，水煎溫服，使脾胃調和則血氣內充而痰涎自化，何惡阻不退妊娠不寧乎。挾熱加黃芩，挾寒加生薑，均是隨證調治之法。</p>
<p><u>縮砂二陳湯</u></p>
<p>治妊娠惡阻脈弦滑者。</p>
<p>半夏（一錢半，制）　茯苓（一錢半）　陳皮（一錢半）　甘草（五分炙）　烏梅（三錢）　砂仁（八分，炒黃）　生薑（二片）　紅棗（四枚）</p>
<p>水煎去渣溫服。</p>
<p>妊娠痰飲內滯擾動於中，故氣逆嘔吐，飲食少思，此惡阻之由於痰飲焉。半夏快脾胃以消痰，茯苓滲濕氣以滌飲，陳皮利氣和胃，炙草益胃緩中，烏梅斂逆氣以收津液，砂仁醒脾胃以安胎氣，生薑、紅棗溫胃養心兼調營衛，水煎溫服，務使痰化飲消，則逆氣頓平而脾胃調和，豈有飲食不進，惡阻不除乎。</p>
<p><u>參橘散</u></p>
<p>（即人參橘皮湯）</p>
<p>治惡阻心煩腹悶脈軟弦滯者。</p>
<p>人參（一兩）　厚朴（一兩制）　白朮（二兩炒）　茯苓（一兩半）　麥冬（三兩，去心）　陳皮（一兩半）</p>
<p>甘草（五錢，炙）　生薑（五片）　竹茹（一兩）</p>
<p>制為散，水煎三錢，去渣溫服。熱盛者加炒黑山梔。</p>
<p>妊娠脾肺兩虧，不能運化濕熱而嘔吐心煩，腹中滿悶，此惡阻之由於氣虧濕熱焉。人參補脾肺之虛，厚朴除中州之滿，白朮趁脾運濕，麥冬潤肺清心，炙草緩中益胃氣，茯苓滲濕和脾氣，陳皮利氣和中，竹茹清熱解鬱，生薑散豁痰涎也，為散水煎。熱甚加炒山梔以清降之，務使濕熱頓化則元氣內充而運化有權，何患服滿不退，心煩嘔吐不除乎。</p>
<h4>胎動不安</h4>
<p>妊娠胎動不安由衝任經虛胎氣不固，或過飲房勞致損，或舉重跌躅致傷，或喜怒過傷血脈，或熱藥損動胎元，然母病而致胎動者，俱治其母而胎自安，胎有病而致動母疾者，只安其胎而母病無不愈。又當以形色驗之，面赤舌青為子死母活，面青舌赤為母死子活，舌面俱青子母皆死，面舌俱赤母子皆活。</p>
<p>胎動不安脈必急疾，肝脾血虛脈必弦虛，胎損脈澀，觸擊脈緊。</p>
<p>清熱養血順氣安胎，宜以靜勝其動，總使脾腎完固則胎自安寧。</p>
<p>主以安胎散加生地、白芍、麥冬、牡蠣，氣逆加枳殼，氣陷加柴胡，氣滿加腹皮，氣虛加人參，煩渴加知母，潮熱加山梔，肝脾兩虛而挾熱者，加味逍遙散，衝任兩虛而微熱者，生熟地黃丸，衝任兩虛而熱甚者，知柏四物湯，衝任兩虛而挾寒者，膠艾四物湯。</p>
<p><u>安胎散</u></p>
<p>治胎動脈微數者。</p>
<p>條芩（一兩半）　白朮（一兩半，炒）　當歸（二兩）　甘草（八錢）</p>
<p>制為散，水煎五錢，去渣早暮兼進以胎安為度。</p>
<p>妊娠衝任脈虛，虛火迫動胎元，故胎動不安，是胎動因於虛熱焉。白朮健脾生血，當歸養血榮胎，甘草瀉火緩急，條芩清熱安胎也。為散水煮，俾熱化血榮則衝任完固而胎得所養，胎無不安，何胎動之有哉。</p>
<p><u>生熟地黃丸</u></p>
<p>治胎動脈虛數者。</p>
<p>生地（五兩）　熟地（五兩）　天冬（三兩，去心）　麥冬（三兩，去心）　當歸（三兩）　白芍（一兩半，炒）　茯神（一兩半，去木）　白朮（一兩半，炒）　知母（一兩半，炒）　牡蠣（三兩，生）</p>
<p>制為末，煉蜜糊丸，米飲下五錢。</p>
<p>妊娠肝腎兩虛，陰血不足，衝任為虛熱內迫而胎失所養，故胎動不安，是胎動因於血虛有熱焉。生地滋陰壯水，熟地補血滋陰，天冬清心潤肺以益腎水，麥冬潤肺清心以生津液，當歸養血榮衝脈，白芍斂陰固任脈，茯神滲濕安神，白朮健脾生血，知母清熱潤燥以安胎，牡蠣潛熱益陰以固胎也。煉蜜以丸之，米飲以下之，俾陰血內充則虛熱潛藏而衝任完固，何胎動之有哉。</p>
<p><u>十聖散</u></p>
<p>治胎動脈虛軟者。</p>
<p>熟地（五兩）　人參（一兩半）　黃　（三兩，蜜炙）　白朮（一兩半，炒）　當歸（三兩）　白芍（一兩半，酒炒）　川芎（一兩）　續斷（三兩）　甘草（五錢，炙）　砂仁（一兩，炒）</p>
<p>制為散，水煎五錢，去渣服。</p>
<p>妊娠氣血大虧，不能滋榮胎息，故胎動不安，是胎動因於氣血大虧焉。人參扶元補氣，黃　補氣固中，熟地補血以滋衝任，白朮健脾以生血氣，當歸養血榮經脈，白芍斂陰安胎息，川芎調血海，續斷續經筋脈，炙草緩中益胃，砂仁開胃醒脾也。為散水煎，使脾胃調和則氣血內充而胎得所養，胎無不寧，何胎動之足慮哉。</p>
<h4>漏胎</h4>
<p>妊娠經水澀少不斷，飲食精神如故，此血盛有餘謂之胎漏，胎長必自愈。如衝任經虛不能約束經血，或勞役房室致損血脈，均能今孕婦漏胎，必常覺淋漓不斷。</p>
<p>血盛脈滑動數胎漏，血虛脈澀胎漏動傷損，勞役傷中脈必軟數，胎或觸損緊澀無疑。</p>
<p>清熱養胎以澄其源，固經澀血以潔其流，損者養之，勞者益之，羸弱者滋培之，觸動者調護之，清陽若陷，急當升舉胎氣，或逆清降必需。</p>
<p>主以安胎飲，氣虛加人參，血虛培熟地，血熱換生地，氣鬱加香附，氣陷加柴胡，氣逆加連灰，邪傷血室加荊芥灰，血竅滑脫加赤石脂，勞役傷脾補中益氣湯，若傷營氣補陰益氣，煮最捷。</p>
<p><u>漏胎安胎飲</u></p>
<p>治漏胎脈軟數者。</p>
<p>熟地（五錢）　黃　（三錢，蜜炙）　當歸（三錢，醋炒）　川芎（一錢）　白芍（一錢半，醋炒）　艾葉（八分，醋炒黑）　阿膠（三錢，血佘灰炒）　地榆（三錢，炒炭）　甘草（五分）　荷葉水煮去渣溫服。</p>
<p>妊娠血氣兩虧，衝任不能操蓄泄之權而血得漏泄於外，故漏胎下血不已焉。熟地補血以滋養其胎，黃　補氣以固攝其血，當歸養血榮衝任，白芍斂陰止漏血，川芎行血海以升陽，阿膠補陰血以安胎，艾葉振衝任之陽，陽密則漏血自止，荷葉舉陽明之陽，陽舉則陷下可回，甘草緩中和胃，地榆澀血止漏也，水煎溫服，俾血氣內充則衝任完固而胎得所養，何漏胎之足患哉。</p>
<p><u>如聖湯</u></p>
<p>治漏胎腹痛脈虛微澀者。</p>
<p>鯉魚皮（三錢，炒灰）　熟地（五錢）　當歸（三錢）　白芍（一錢半，酒炒）　川芎（一錢）　阿膠（三錢，蒲黃炒）　續斷（三錢，炒灰）　甘草（五分）</p>
<p>水煎去渣溫服。</p>
<p>妊娠經血有虧，不能滋養其胎，故胎動腹痛漏血不止焉。熟地補血滋榮衝任以養胎，當歸養血榮養血脈以安胎，川芎行血中之氣而腹痛可除，續斷續經脈之傷而漏血自止，阿膠補血以滋衝任之陰，白芍斂陰以止漏胎之血，生甘草緩中和胃，鯉魚皮利水釐清也。水煎溫服，俾經血內充則經氣調和而胎得所養腹痛自退，胎動漏血無不並止矣。</p>
<h4>心腹脹滿</h4>
<p>（子腫、子懸、子氣附）</p>
<p>妊娠脾虛停濕敷化無權，故令心腹脹滿，或子臟冷小腹如扇亦令脹滿，是為子滿子脹。胎熱氣壅，濕熱不化，上湊心胸而脹滿者為子懸。土不制水，水散皮膚，頭面手足盡皆浮腫謂之子腫。指按不凹，分娩即退，此胎氣壅閉，謂之子氣。</p>
<p>脹滿脈沉，沉伏子氣，子懸脈數，子腫脈浮緩或澀，若屬臟寒脈必沉細。</p>
<p>健脾化氣為主，兼以內外分消，勿犯胎氣為善，濕熱者清之，寒濕者溫之，若屬子氣必分娩而後安。</p>
<p>主以紫蘇飲去甘草，脾虛加白朮，腹脹加濃撲，血虛加生地，腹痛加木香，脾虛濕盛四苓散加蘇梗、香附、木香、砂仁，肝木乘脾逍遙散加蘇梗、大腹、木香、砂仁，胃虛少食人參養胃湯，脾虛腹脹六君子湯，濕熱脹滿芩連二術湯，寒濕脹滿仲景附子湯。</p>
<p><u>紫蘇飲</u></p>
<p>治孕婦浮腫，胎動脈浮者。</p>
<p>紫蘇（一錢半）　大腹皮（一錢半）　川芎（八分）　白芍（一錢半，酒炒）　當歸（三錢）　人參（八分）</p>
<p>陳皮（一錢半）　炙草（五分）　生薑（三片）　蔥白（三枚）</p>
<p>水煎去渣溫服。</p>
<p>胎氣內壅，風邪外束，血氣不足以養胎，故胎動浮腫焉。紫蘇理血氣以散腫，大腹理滯氣以安胎，當歸養血榮胎，白芍斂陰和血，川芎行血海善調血中之氣，人參補脾肺長養胎息之元，陳皮利氣和中，炙草緩中益胃，生薑散表邪，蔥白通陽氣也。水煮溫服，使風邪外解，則血氣清和而胎氣自順，胎得所養，胎動無不安，浮腫無不退矣。</p>
<p><u>千金鯉魚湯</u></p>
<p>治妊娠浮腫溺澀脈虛者。</p>
<p>鯉魚（一尾，去鱗腸）　當歸（三錢）　白芍（一錢半，酒炒）　白朮（二錢炒）　茯苓（三錢）　橘紅（一錢半）</p>
<p>先將鯉魚一尾，白水煎汁三升，入藥煮至一升，去渣溫服。</p>
<p>妊娠肝脾兩虛不能輸化以制其濕散，遍身浮腫小便澀少焉。鯉魚下氣利水，橘紅化氣利肺，當歸養肝血以榮經，白芍斂肝陰以安胎，白朮健脾制濕，茯苓清肺和脾，煮魚汁入藥，務使肝脾氣化，則濕運氣調而小水自快，何患浮腫不退，胎孕不安乎。</p>
