<header><h1>古方匯精</h1></header>
<dl class="元資料" data-type="book">
<div><dt>作者</dt><dd>愛虛老人</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1644/1911">公元1644年至公元1911年</data></dd></div>
</dl>
<h2>弁言</h2>
<p>難經云。望而知之謂之神。聞而知之謂之聖。神聖之精意。不可得而傳矣。然醫之道備乎陰陽氣化。盡物性以盡人性。而顯著者則在方書。慨自青囊未傳。肘後未得。而古方之流播於世者。亦皆難闡其精焉。而莫謂無精之可闡也。且夫上藥養命。中藥養性。下藥治病。</p>
<p>治病之藥。苟不通性命之故。則病亦安可治哉。然則病之治。治以方。而養命養性。所謂方之精也。嗟乎。靈樞素問。非不載籍極博而為人所樂稱。第恐得其粗而遺其精。而古人之良法美意。不能面稽於千百載以上。則亦如廣陵散之絕而不彈已。惟能得乎其精。則方之極奇辟者。固以精而得精。方之極平淡者。更以不精而得精。況由參考諸方。推求善本。是又合古人之精而得精。並精古人之精而為精。此所謂匯精也。昔孫思邈有千金翼方。陶宏景有集驗五卷。皆流傳後世。獲濟甚多。施藥之功。又不若刊方流濟之功為最大。是編顏之曰匯精。</p>
<p>即</p>
<p><u>嘉慶九年歲次甲子三月京江尊仁堂刊送</u></p>
<h2>凡例</h2>
<p>一古今方書。汗牛充棟。經驗方本。刊刻亦多。茲於各方本擇其屢效屢驗者。分內外婦兒四免。</p>
<p>一內外諸方。婦兒通用。其有專屬婦兒者。列為專門。至婦人胎產。小兒初生。尤為緊要。</p>
<p>一奇急一門。症非常見。倉猝奇險。遲則難救。故遍采諸方以盡周急之義。</p>
<p>一望聞問切。缺一不可。是編於各方下詳列形症。不及脈理。蓋脈理難言。而形症易曉。</p>
<p>有一古今元氣不同。醫宗各家詳言之矣。茲所輯方。總以固養元氣為主。其症因客感。治宜攻視一是編所錄之方。俱系參考諸書。擇其善本。詳加校訂。以免訛錯。采用者切勿妄議加減。</p>
<p>一編內如六味八珍補中歸脾等方。習見諸書。原無庸載。茲因治症需用極多。查閱他本。</p>
<p>一一是編分定目錄。編定號數。其有一方兼治數症。一症參用數方者。各於湯引下。注明見前一是編簡冊無多。俱系經驗。或村居僻處。醫遠難求。或客旅舟車。便於攜帶。尤為得濟。</p>
<p>一編內除煎劑各方。臨症取用。其余各門類膏丹丸散。有一方兼治眾症。費少功多者。</p>
<p>有藥窮。</p>
<h2>卷一</h2>
<h3>內症門</h3>
<p>方首內症。內有自內出者七情之所傷。有由外感者。六氣之所客。而不但已也。凡飲食勞郁。皆觸於外而中於內。凡風痹淫濕。皆積於內而達於外。矧元氣日益薄。真精日易耗。</p>
<p>其稟不應輯</p>
<h4>大造丸（一）</h4>
<p>（治腎虛腰疼。羸瘦。　怯諸症。）</p>
<p>白朮　苡仁　沙苑子（各二兩）</p>
<p>各取淨末。用杜仲四兩。熬膏為丸。每服四錢。酒下。</p>
<h4>坎離既濟丹（二）</h4>
<p>（治心腎不交。徹夜無寐。骨蒸汗泄。陰陽兩虧諸症。）</p>
<p>川連（二兩）　肉桂（一兩）　炙甘草（五錢）</p>
<p>各取淨末。蜜丸。每晚服三錢。酒下。</p>
<h4>滋元飲（三）</h4>
<p>（治一切風痹攣痿。腰膝酸楚。筋脈不通。周身疼痛。並遺精白濁諸症。）</p>
<p>熟地（八兩）　麥冬（四兩）　萸肉（八錢）　龍骨（一兩）　元參　南沙參（各三兩）</p>
<p>牛膝　虎骨各取末。用南棗六兩。去皮核煮爛。同熟地杵膏為丸。每服三錢。酒下。</p>
<h4>五益膏（四）</h4>
<p>（治諸虛百損。）</p>
<p>玉竹　黃　（蜜炙）　白朮（土炒各一斤）　熟地（酒洗）　枸杞子（酒洗各八兩）</p>
<p>上方。文火煎熬成膏。每早晚二錢。用酒一杯。或開水一杯。調下。</p>
<h4>回元飲（五）</h4>
<p>（治經年頭疼。終朝眩暈。諸虛百損。火嗽潮熱等症。）</p>
<p>熟地（十兩）　萸肉（四兩）　北五味　麥冬　甘菊（各二兩）　川芎　元參　山藥　當歸（各三各取末。蜜丸。每服三錢。鹽湯下。</p>
<h4>益元煎（六）</h4>
<p>（治男婦小兒。一切食積。腹脹氣弱。血衰諸症。）</p>
<p>白朮（一斤）　建曲（六兩）　扁豆　廣皮　麥芽　茯苓（各八兩）　小蟬肝（四兩即水雞肝）</p>
<p>蜜丸。每服一錢五分。米飲調下。</p>
<h4>贊化血余丹（七）</h4>
<p>（此藥大補氣血、烏須發。壯形體。有培元贊化之功。）</p>
<p>血余（炙）　熟地（各八兩蒸搗）　枸杞　當歸　鹿角膠（炒成珠）　菟絲子（制）　杜仲（鹽水炒）</p>
<p>甲）　胡桃仁（上煉蜜丸。每服二錢。開水送下。精滑加白朮山藥各三兩。便溏。去蓯蓉。加補骨脂酒炒陽虛痿弱。加制附子五錢。上肉桂一兩。</p>
<h4>六味地黃丸（八）</h4>
<p>（治腎水虧損。小便淋閉。頭目眩暈。腰腿酸軟。陰虛發熱。自汗盜汗、憔悴瘦血失音。水泛為痰。病為腫脹。壯水治火之劑也。）</p>
<p>熟地（八兩蒸搗）　山茱萸　山藥（各四兩）　丹皮　白茯苓　澤瀉（各三兩）</p>
<p>上為細末。和地黃膏。加煉蜜為丸。如桐子大。每服四錢。空心食前。開水。淡鹽湯任下。</p>
<p>焦。</p>
<h4>玉液散（九）</h4>
<p>（治大便下血。）</p>
<p>柞樹皮　白芍　當歸（各二錢）　地榆　丹參（各一錢五分）　熟地（五錢）　葛根（八分）</p>
<p>甘草共為末。和勻。每服五錢。烏梅湯調下。</p>
<p>一方。</p>
<p>槐花（炒黑）　扁柏葉（炒黑）　陳棕灰（各等分）</p>
<p>共為末。每服一錢。鮮生地五錢。搗汁沖湯和服。</p>
<h4>補中益氣湯（十）</h4>
<p>（治勞倦傷脾。中氣不足。清陽不升。外感不解。體倦食少。寒熱瘧痢。氣虛不症。）</p>
<p>當歸（一錢）　甘草（炙）　陳皮（各五分）　升麻　柴胡（各四分）　黨參（蜜水炙）</p>
<p>黃（蜜水炙各三錢）　白朮（一錢五分炒）</p>
<p>引加薑一片。棗三枚。</p>
<h4>調理益氣湯（十一）</h4>
<p>（治濕熱所傷。體重煩悶。口失滋味。或痰嗽稠黏。寒熱不調。體倦少食。脾虛泄瀉等症。兼治虛人瘧痢。）</p>
<p>黃　（蜜水炙）　黨參（各一錢五分焙）　蒼朮（一錢炒）　橘紅（五分）　木香（煨）</p>
<p>柴胡升麻引加薑皮一分。小紅棗三枚。空心服。</p>
<h4>歸脾湯（十二）</h4>
<p>（治思慮傷脾。不能攝血。致血妄行。或健忘怔忡。驚悸盜汗。嗜臥少食。或大便溏心脾疼痛。瘧痢郁結。或因病用藥失宜。克伐傷脾。以致變症者。俱宜服之。）</p>
<p>黨參（焙）　黃　（蜜炙）　炒白朮（各一錢五分）　當歸　茯苓（各一錢）　炒棗仁（一錢二分）</p>
<p>引加圓眼肉七枚。煎成。食遠服。如無痛郁等症。去木香。如燥熱多汗。並去遠志。加柴胡</p>
<h4>八珍湯（十三）</h4>
<p>（治氣血兩虛。肌熱火嗽。皮寒骨痛。病後失調。飲食不香。兼治婦人經水不調。赤帶等症。）</p>
<p>黨參（蜜水炙）　熟地（各三錢）　當歸　白朮（各一錢五分）　炙甘草（五分）　川芎（八分）</p>
<p>白引加薑一片。棗二枚。或粳米百粒。白水煎服。</p>
<h4>當歸補血湯（十四）</h4>
<p>（治血氣損傷。或因攻伐致虛、肌熱口渴。目赤面紅。脈大而虛。重按全無。及飽勞役者。）</p>
<p>炙黃　（一兩）　當歸（三錢）</p>
<p>白水煎。食遠服。</p>
<h4>黃六一湯（十五）</h4>
<p>（治陰陽俱虛。盜汗等症。）</p>
<p>炙黃　（六錢）　炙甘草（一錢）</p>
<p>白水煎。食遠服。</p>
<h4>斂氣歸源飲（十六）</h4>
<p>（治盜汗不止。）</p>
<p>黃　（蜜炙）　黑豆　浮麥各等分。煎服。</p>
<h4>五福飲（十七）</h4>
<p>（治五臟氣血虧損。日晡潮熱。陰虛盜汗。脾胃不香。瘧痢反復。經久不愈。怔忡心遺精滑脫等症。）</p>
<p>黨參（蜜炙五錢）　熟地（三錢）　當歸　炒白朮（各一錢五分）　炙甘草（一錢）</p>
<p>引加生薑一片。水煎。食遠溫服。</p>
<h4>六味回陽飲（十八）</h4>
<p>（治陰陽離脫。或中風不語。或胃口冷痛肢寒汗溢。諸凡危症。）</p>
<p>黨參（桂圓肉拌煮）　大熟地（各一兩）　制附子　炮薑（各一錢）　炙甘草（八分）　當歸身（四白水。用武火煎。溫服。如肉振汗多者。加炙黃　五錢。或一兩。泄瀉加烏梅二個。或北五</p>
<h4>六味異功煎（十九）</h4>
<p>（治脾胃虛寒。嘔吐泄瀉痹濕等症。）</p>
<p>白朮（三錢）　茯苓（一錢五分）　炙甘草（八分）　乾薑（四分炒）　陳皮（一錢）　黨參（桂圓肉白水煎服。</p>
<h4>壽脾煎（二十）</h4>
<p>（治脾虛不能攝血等症。凡憂思鬱怒積勞。及誤用攻散之藥。犯損脾陰。以致中氣虧神魂不寧。大便脫血不止。或婦人無火崩淋等症。凡兼嘔惡。尤為危候。速宜用此。單氣。則統攝固而血自歸源。此歸脾湯之變方。其效如神。若犯此症。再用寒涼。胃氣必無不即死者。）</p>
<p>白朮（三錢）　遠志（五分制）　乾薑（炒黑）　炙甘草（各一錢）　當歸　山藥（各二錢）　棗仁（白水煎服。一二劑。下血未止。加地榆一錢五分。大便滑脫不禁者。加醋炒文蛤一錢。</p>
<p>小便者。</p>
<p>陰</p>
<h4>金水六君煎（二十一）</h4>
<p>（治肺腎虛寒。水泛為痰。或年邁陰虛。氣血不足。外受風寒咳嗽嘔惡。多痰喘茯苓　當歸（各二錢）　熟地（三錢）　陳皮（八分）　製半夏（一錢五分）　炙甘草（五分）</p>
<p>引加生薑一大片。食遠溫服。如大便不實。去當歸加山藥二錢。如痰盛氣滯。胸膈不快。加白芥子七分。如陰寒盛。嗽不愈。加北細辛五分。如兼表邪寒熱。加柴胡一錢。</p>
<h4>香砂六君子湯（二十二）</h4>
<p>（治中氣虛滯。惡心脹滿。或過服涼藥。以致食少作嘔等症。）</p>
<p>黨參（三錢炙）　茯苓（一錢）　白朮（炒）　製半夏（各一錢五分）　陳皮（八分）　砂仁（六分）</p>
<p>引加生薑一片。水煎服。</p>
<h4>歸芍二陳湯（二十三）</h4>
<p>（治痰飲嘔惡。風寒咳嗽。或頭眩心悸。或中脘不快。或吃生冷凍飲料酒過多。脾胃症。）</p>
<p>當歸　白芍（炒）　廣皮　茯苓（各一錢）　炙甘草（五分）　法製半夏（三錢）</p>
<p>引加生薑一片。棗二枚。食遠服。</p>
<h4>和兌飲（二十四）</h4>
<p>（治新久咳嗽。未經見血者。三五服可漸愈。）</p>
<p>生薑汁（一小匙）　白蜜（二匙）</p>
<p>二味和勻。重湯頓服。</p>
<h4>綠豆飲（二十五）</h4>
<p>（治諸火症熱毒。煩渴喘嗽諸症。）</p>
<p>用綠豆不拘多寡。寬湯煮糜爛。入鹽少許。或蜜亦可。任意飲食之。日三四次。此物性非苦寒。不傷脾胃。且善於解毒除煩。退熱止渴。大利小水。乃淺易之最佳最捷者也。</p>
<h4>逍遙散（二十六）</h4>
<p>（治肝脾血虛。及鬱怒傷肝。少血目暗。發熱脅痛等症。）</p>
<p>當歸（一錢五分）　白芍（一錢）　白朮　茯神（各一錢二分）　甘草（四分）　柴胡（六分）</p>
<p>引加生薑一片。水煎服。</p>
<p>照方。加丹皮炒山梔仁。各七分。白水煎或加薑皮半分。名加味逍遙散。治肝脾血虛發熱。</p>
<h4>徙薪飲（二十七）</h4>
<p>（治三焦浮火。肌裡伏熱。時或嗆嗽。痰涎滿口。或舌破牙齦腫痛等症。）</p>
<p>陳皮　丹皮（各八分）　黃芩（炒）　黃柏（各一錢）　赤芍　麥冬（去心）　赤茯苓（各一錢五分）</p>
<p>白水煎。食遠溫服。如多郁。氣逆傷肝。脅痛甚。致下血者。加青皮炒梔各四分。</p>
<h4>益氣培元飲（二十八）</h4>
<p>（治遺精白濁。溺下砂淋。莖中癢痛。腰膝酸痛諸症。是症由於精滿自溢。濕熱胱者。十不一二。由於氣虛。思慮過。勞役傷。或強任房事。或病後失調。攻伐之過臟氣而成斯症者。十居八九。此古今元氣不同之一。以是方與補中湯。（方見前十）相之。</p>
<p>可以漸愈。接服六味地黃湯。（方見前八）加慎調攝。自無反復。切勿誤投通利之藥黃通草之類。致益虧損。慎之切慎之。）</p>
<p>大熟地　制杜仲（各三錢）　丹皮（八分）　茯苓（一錢二分）　淮山藥（二錢）　建澤瀉（五分）</p>
<p>引加薑皮半分。南棗三枚。</p>
<h4>偏痹症治法（二十九）</h4>
<p>凡偏痹症初起。卒然痰壅昏迷。撒手遺便遺溺。牙關緊閉。用豬牙皂研細末。吹鼻內。</p>
<p>取嚏西黃珍用蒸</p>
<h4>（附）活絡飲（三十）</h4>
<p>淮牛膝　明天麻（各一錢）　防風（八分）　紅花（四分）　生赤首烏　制赤首烏　生黃熟黃分）</p>
<p>引加虎膠八分。淡酒一杯。頓化和服。</p>
<p>上方日服一劑。計服五劑。每日照後方蒸熨法。日三次。蒸熨五日。手足漸可屈伸。半身稍存留</p>
<h4>（附）蒸熨方（三十一）</h4>
<p>真淨檀香一兩。銼碎煎湯。隔布單。以半身置布單上熏蒸。加全當歸六兩。丹參牛膝桂枝。</p>
<p>亦</p>
<h4>祛風散（三十二）</h4>
<p>（治歷節風痛。晝夜不止。半身不遂等症。）</p>
<p>虎脛骨（一兩炙酥為末）　沒藥（五錢為末）</p>
<p>二味和勻。每服一錢。溫酒調服。</p>
<h4>（附）藥酒方（三十三）</h4>
<p>黑料豆（一升形小如腰子樣者佳）　油松節（四兩銼碎）　白蜜（一斤）</p>
<p>取好陳麥燒酒十五斤。重湯煮一炷香。出火氣。早晚隨量溫飲。</p>
<h4>滋源飲（三十四）</h4>
<p>（治飲食下咽即消。心煩咽渴。面赤舌燥。徹夜無寐。小便赤澀。大便燥結等症。）</p>
<p>鮮生地（一兩搗汁）　洋參（二錢蜜炙）　甘草（五分微炙）　棗仁（炒）　茯神　麥冬（各二錢去用洋參等五味。白水煎成。沖生地汁服。日二劑。旬日取效。接服六味丸（方見前八）</p>
<p>可愈。</p>
<h4>戊己丸（三十五）</h4>
<p>（治反胃膈噎。）</p>
<p>熟地（八兩杵膏）　萸肉（三兩）　當歸　麥冬（去心）　苡仁　牛膝（各二兩）　白芥子　元參（各取淨末。用生薑六兩。取汁。和煉蜜。同熟地杵膏為丸。每服二錢。漸加至三四錢。</p>
<p>老米一方。用貓胎胞。新瓦炭火炙干。研細末。每服三分。好酒送下。粒米不下者。五六次愈。</p>
<p>一方。用陳倉米一斗。同山黃土炒。令米熟。去土為末。以粟米煎湯調下。再用白水牛喉管醋紙一方。治翻胃吐食。用韭汁二杯。薑汁一杯。牛乳一杯。三味調和溫服。日服一二次。</p>
<p>三五均忌</p>
<h4>扶中丸（三十六）</h4>
<p>（治經年膨脹。）</p>
<p>茯苓（六兩）　洋參　大麥芒（各四兩）　苡仁（三兩）　制附子（一兩）　蘿卜子　大黃（各八錢）</p>
<p>各取淨末和勻。每服五錢。薑一片。同煎服。</p>
<p>一方。用鯉魚重斤許者一尾。去腸雜。清水洗淨拭乾。將小紅豆填滿魚腹。不著鹽醬煮熟。</p>
<p>一方。治腹脹水腫。用亞腰葫蘆一個。蓮子燒灰存性。為末。每服一錢。食前溫酒下。</p>
<p>不飲一方。治通身腫脹。用葶藶子四兩。炒為末。棗肉為丸。如桐子大。桑皮湯下。十五丸。</p>
<p>日一方。用黃牛糞。男子用牝牛。婦人用牡牛。取糞。浸清水中七日。換水七次。去其穢氣。</p>
<h4>羌活桂枝煎（三十七）</h4>
<p>（治時行感冒。惡寒發熱。舌上無苔。或苔滑白色。口中發黏作臭。肢冷無汗等羌活（六分）　桂枝（五分）　炮薑（二分）　焦蒼朮（一錢二分）　當歸　蘇梗　藿梗白芍（炒）</p>
<p>引加小紅豆一撮。須蔥白一錢。照投二劑。汗下雙解。如腹痛。小腹脹痛。小便閉。大便結。加熟附子五分。木通一錢。青蒿五分。解後。脾胃不香。六君（方見前二十二）歸芍二陳（方見前二十三）等湯。酌投數劑。</p>
<h4>溫濕丸（三十八）</h4>
<p>（治暑濕傷脾。寒熱似瘧。面目紅赤。肌膚火熱。二便燥結。一劑知。二劑效。）香薷　茯苓（各二錢）　青蒿　白朮（各一錢五分）　厚朴（一錢）　陳皮（八分）　甘草（六分）</p>
<p>葛根（八分）</p>
<p>引薑皮二分。荷蒂一枚。煎湯和服。</p>
<h4>抑郁丸（三十九）</h4>
<p>（治寒濕內傷。因而哮喘氣促。面黃肌腫。三服取效。）</p>
<p>赤苓　豬苓　白朮　苡仁（各三錢）　澤瀉（二錢）　肉桂（五分）</p>
<p>各取淨末。蜜丸。每服四錢。薑一片。煎服。</p>
<h4>龍虎雙降散（四十）</h4>
<p>（治時行瘟疫。失心顛狂。一切火熱蘊結重症。）</p>
<p>大黃　天花粉（各六兩）　元參（十兩）　麥冬（去心）　滑石（各五兩）　銀柴胡　荊芥丹參（各取淨末。和勻。每服八錢。地漿煎服。</p>
<h4>辟瘟神方（四十一）</h4>
<p>乳香　蒼朮　細辛　川芎　甘草　降香　檀香（各一兩）</p>
<p>共研細末。棗肉為丸。芡實大。晒乾佩之辟瘟。燒之辟疫辟穢。</p>
<h4>太乙紫金丹（四十二）</h4>
<p>（是藥解諸毒。療諸瘡。利關竅。治百病。起死回生。效難盡述。制之濟人。功山慈菇（洗去毛皮淨焙二兩）　川文蛤（一名五倍子洗淨焙一兩）　麝香（揀去毛皮干研淨三錢）</p>
<p>續隨子仁白取上者上藥各擇精品。於淨室中制畢。候端午七夕重陽或天月德。天醫黃道。上吉之辰。修合。</p>
<p>凡入大乳缽內。再研數百轉。方入細石臼中。漸加糯米濃湯。調和。軟硬得中。方用杵搗千余下。至光潤為度。每錠一錢。每服一錠。病勢重者。連服二錠。以取通利。後用溫粥補之。</p>
<p>修合時。除合藥潔淨之人。余俱忌見。此藥總在精誠潔淨為效。</p>
<p>一治一切飲食藥毒。蠱毒。瘴氣。惡菌。河豚。中毒自死牛馬豬羊六畜等肉。人誤食之。</p>
<p>必一治山嵐瘴氣。煙霧癘疫。最能傷人。感之才覺不快。惡寒發熱。欲嘔不嘔。即磨一錠服之一治癰疽發背。對口疔瘡天蛇無名腫毒。蛀節紅絲等疔。及楊梅瘡。諸風癮疹。新久痔瘡。</p>
<p>一治陰陽二毒。傷寒心悶。狂言亂語。胸膈塞滯。邪毒未出。瘟疫煩亂髮狂。喉閉喉風。</p>
<p>俱一治赤白痢疾。肚腹泄瀉急痛。霍亂絞腸痧。及諸痰喘。用薑湯磨服。</p>
<p>一治男婦急中顛邪。渴叫奔走。鬼交鬼胎鬼氣鬼壓。失心狂亂。豬羊顛風。俱用石菖蒲五分一治中風中氣。口眼歪斜。牙關緊閉。言語謇澀。筋脈攣縮。骨節腫。遍身疼痛。行步艱難一治自縊。溺死。驚死。壓死。鬼魅迷死。但心頭微熱。未冷者。俱用生薑一錢。續斷一錢一治一切惡蛇。風犬。毒蠍。溪澗豬惡等蟲。傷人。隨即發腫。攻注遍身。甚者毒瓦斯入裡一治新久瘧疾。臨發先時。取桃柳枝頭。各七個。用東流水。煎湯磨服即愈。</p>
<p>一治小兒急慢驚風。五疳五痢。脾病黃腫。癮疹瘡瘤。牙關緊閉。用薄荷五分。煎水磨濃。</p>
<p>一治牙痛。酒磨塗痛上仍含少許。良久咽下。</p>
<p>一治小兒父母遺毒。生下百日內。皮塌爛斑。穀道眼眶損爛者。用清水磨塗。</p>
<p>一治跌撲損傷。松節五錢。無灰好酒。研和沖服。</p>
<p>一治年深月久。頭脹頭疼。太陽痛。偏頭風痛。及時瘡愈後。毒瓦斯攻注。腦門作脹者。</p>
<p>俱用一治婦女經水不通。紅花四分。煎湯和服。加酒一杯下。</p>
<p>一治凡遇天行疫症。延街巷傳染者。用桃根湯磨濃。擦入鼻孔。次服少許。任入病家。</p>
<p>再不一治傳尸勞瘵。諸藥不能禁忌。每早磨服一錠。至三次後。逐下惡物尸蟲。異形怪類而愈。</p>
<h4>妙靈丹（四十三）</h4>
<p>麝香　蟾酥　雄黃　母丁香　朱砂（各五錢）　真茅朮（一兩米泔浸透剖去皮淨研末）</p>
<p>上方宜於午月午日。或擇天德。月德。天醫。黃道吉日。修制。各藥取淨細末。用真麥燒酒一治各種急痧。用七丸。輕用五丸。薑湯下。</p>
<p>一治胃疼。用四五丸。</p>
<p>一治男婦陰症。用二十一丸。</p>
<p>一治傷寒時氣。用七丸。</p>
<p>一治肚疼。用七丸。（以上俱薑湯下）</p>
<p>一治喉痹。用五丸。未愈。再五丸。</p>
<p>一治喉風。五丸。未愈。再五丸。（以上俱薄荷湯下）</p>
<p>一治小兒急慢驚風。一歲一丸。淡薑湯和下。</p>
<h4>六合定中丸（四十四）</h4>
<p>藿香葉　蘇葉（各六兩）　厚朴（薑汁炒）　枳殼（各三兩）　木香（另研細末）　生甘草　檀香（各研細末。煉蜜為丸。朱砂為衣。每重二錢。大人一粒。小兒半粒。</p>
<p>一治中暑。大人用陳皮青蒿各八分。小兒各五分。煎湯化服。</p>
<p>一治霍亂吐瀉轉筋。百沸湯。兌新汲水。和勻化服。</p>
<p>一治感冒頭疼發熱。用連皮薑三片。煎湯化服。</p>
<p>一治心口飽脹嘔吐。用連皮薑三片。煎湯化服。</p>
<p>一治痢疾腹瀉。用開水化。溫服。（水要微溫。過熱不效。）</p>
<p>一治一切瘧疾。不論遠年近日。用向東桃枝一寸。帶皮生薑三片。煎湯化服。</p>
<p>一治胃口不開。飲食少進。開水化服。</p>
<p>一治四時瘟疫。春冬用薑一片。夏秋用黑豆一錢。甘草五分。煎湯化服。</p>
<p>一治時氣發瘢。風熱痧疹。俱用薄荷湯下。大人用八分。小兒用五分。</p>
<p>一治小兒驚風。薄荷湯下。</p>
<p>一治小兒吐乳發熱。山楂二分。燈心一分。煎湯下。</p>
<p>一治男婦心胃寒疼。吳茱萸四分。煎湯下。</p>
<p>一治飲食傷者。萊菔子二分。煎湯下。</p>
<h4>新太和丸（四十五）</h4>
<p>枳殼　焦楂肉　麥芽　赤茯苓　蘇梗（各二兩）　桔梗（三兩）　甘草（八錢）　當歸　赤芍（各各取淨末。蜜水疊丸。如彈子大。每重一錢五分。</p>
<p>一治偶感氣滯。薑湯下。</p>
<p>一治頭痛身重。傷於風者。加蔥白湯下。</p>
<p>一治冒暑者。新荷葉煎湯下。</p>
<p>一治頭痛惡寒。肌熱無汗。蔥白湯下。</p>
<p>一治風寒客感愈後。脾胃氣滯等症。薑湯下。</p>
<p>一方（治傷寒結胸）</p>
<p>陳酒糟（六兩）　生薑　水菖蒲根（各四兩）　鹽（二兩）</p>
<p>共搗炒熱為餅。敷胸前痛處。以熨斗熨之。內響即去。如口渴。任吃茶水。待大便下惡物愈</p>
<h4>通脈化痰飲（四十六）</h4>
<p>（治中風暑毒。並一切惡毒。干霍亂卒暴之症。）</p>
<p>童便（為君）　生薑汁（為佐）</p>
<p>二味和勻溫服。立解。每童便一小盞。入薑汁一匙。蓋童便降火。薑汁開痰下氣也。</p>
<h4>正柴胡飲（四十七）</h4>
<p>（凡外感風寒。發熱惡寒。頭疼身痛。　瘧初起等症。血氣和平。宜從平散者。此之。）</p>
<p>柴胡　陳皮（各一錢）　防風（八分）　甘草（四分）　赤芍（一錢五分）　生薑渣（七分）</p>
<p>白水煎熱服。頭痛者。加川芎一錢。熱而兼渴者。加葛根一錢。嘔惡者。加製半夏一錢五分分。</p>
<h4>柴陳煎（四十八）</h4>
<p>（治傷風兼寒。咳嗽發熱。痞滿多痰等症。）</p>
<p>柴胡（八分）　製半夏（一錢五分）　陳皮　茯苓（各一錢）　甘草（四分）　生薑（一片）</p>
<p>白水煎。食遠溫服。寒勝者。加細辛五分。風勝氣滯者。加蘇葉一錢。冬月寒勝者。加麻黃</p>
<h4>歸葛飲（四十九）</h4>
<p>（治陽明溫暑時症。大熱大渴。津液枯涸。陰虛不能作汗等症。）</p>
<p>當歸（五錢）　干葛（一錢五分）</p>
<p>白水煎。用冷水浸涼。徐服之。得汗即解。</p>
<h4>歸柴飲（五十）</h4>
<p>（治營虛不能作汗。及真陰不足。外感寒邪等症。）</p>
<p>當歸（五錢）　柴胡　西黨參（各一錢五分）　炙甘草（五分）　陳皮（一錢）</p>
<p>引加生薑一錢。大便多溏者。去當歸。以炒白朮三錢代之。</p>
<h4>清脾飲（五十一）</h4>
<p>（治癉瘧脈來弦數。單熱不寒。或熱多寒少。口苦咽乾。小便赤澀。）</p>
<p>製厚朴　青皮（各八分）　製半夏（一錢）　炒白朮（各一錢五分）　草果仁（四分）　柴胡（六分）</p>
<p>上藥瘧未發。先時煎服。忌生冷油膩。並通治瘧症。寒多者。加肉桂五分。熱多者。加川連</p>
<h4>驅瘧飲（五十二）</h4>
<p>（治瘧疾初起。寒熱骨痛。肢冷氣逆。）</p>
<p>柴胡　秦艽（各六分）　炒蒼朮　川貝　藿香葉（各一錢）　羌活　桂枝（各五分）　夏曲茯苓引蔥一根。薑一片。照服二劑。得有透汗。去羌活桂枝。引去蔥。方內蒼朮加五分。外加生後方</p>
<h4>何人飲（五十三）</h4>
<p>（截瘧如神。凡氣血俱虛。久瘧不止。立效。）</p>
<p>何首烏　黨參（各四錢）　當歸（一錢五分）　陳皮（一錢）　煨薑（八分）</p>
<p>白水煎。先時溫服之。善飲者以酒一杯。浸一宿。次早加水一鐘煎服。尤妙。再煎不必用酒</p>
<h4>休瘧飲（五十四）</h4>
<p>（此止瘧最妙之劑。若汗散既多。元氣不復。或以衰老。或以弱質。瘧不能止。俱宜此。化暴善後之第一方也。其他症加減。俱宜如法。）</p>
<p>黨參（四錢）　炒白朮（三錢）　當歸（二錢）　炙甘草（八分）　製首烏（五錢）</p>
<p>白水煎。食遠服。留渣再煎。露一宿。次早溫服一茶盞。飯後食遠。再服一盞。如陽虛多寒宜腎山者</p>
<h4>消瘧飲（五十五）</h4>
<p>（治三日久瘧。）</p>
<p>鮮首烏（五錢打碎）　白甘葛（二錢）　甘草　細茶（各一錢）</p>
<p>陰陽水。慢火煎一復時。露一宿。清晨服。</p>
<h4>固元利關煎（五十六）</h4>
<p>（治陰陽久瘧。）</p>
<p>香附（三錢）　紅花（四分）　製首烏（五錢）　炙黃　（一錢五分）</p>
<p>白水煎。露一宿。清晨熱服。</p>
<h4>調氣平胃散（五十七）</h4>
<p>（治胃氣不和。脹滿腹痛。）</p>
<p>陳皮（七分）　煨木香（二分）　烏藥　甘草（各三分）　砂仁（四分）　白豆蔻　白檀香　製厚朴引薑渣六分。水一鐘半。煎成。食遠服。</p>
<h4>香砂枳朮丸（五十八）</h4>
<p>（治一切食積。胸悶氣逆。）</p>
<p>香附子　苡仁（各四兩）　茅山蒼朮　赤茯苓　蛀神麯（各二兩）　麥芽（一兩五錢）　砂仁廣上藥各取淨末。水泛丸。每服二錢。淡薑湯下。</p>
<h4>香連丸（五十九）</h4>
<p>（治痢疾。不拘紅白腹痛。俱可服。）</p>
<p>川連（四兩）　吳萸（三兩）　廣木香（二兩）</p>
<p>各取淨末。神麯打糊為丸。每服一錢二分。薑皮湯下。</p>
<p>一方用木香四兩。苦參酒炒六兩。共為末。甘草一斤熬膏。糊丸。如桐子大。每服三錢。</p>
<p>白水瀉。豬苓澤瀉各三分。煎湯下。</p>
<h4>玉壺丸（六十）</h4>
<p>（治下痢危症。）</p>
<p>白芍　當歸（各五錢）　赤苓（三錢）　枳殼（五分）　檳榔　甘草　車前子（各二錢）</p>
<p>蘿卜子（各取末。蜜水疊丸。如桐子大。每服二錢。紅痢。黃連二分。湯下。白痢。木香三分。</p>
<p>湯下</p>
<h4>豁脾煎（六十一）</h4>
<p>（治痢疾。）</p>
<p>蒼朮（一錢二分）　藿梗　當歸（各一錢）　厚朴（五分炒）　神麯　楂肉（各二錢）　廣皮（七分）</p>
<p>引加煨黑薑一片。粟殼四分。如腹痛。臍下急痛。按之愈痛。此實痢熱痢也。方內加生大黃內加三五劑。加慎調理。</p>
<h4>一味金花煎（六十二）</h4>
<p>（治熱毒血痢。）</p>
<p>金銀花藤（四錢）</p>
<p>白水濃煎。溫服。</p>
<h4>保和益元散（六十三）</h4>
<p>（治噤口痢。）</p>
<p>糯稻一升。炒出白花去殼。再加薑汁拌濕。再炒為末。每服一錢五分。白湯調下。</p>
<h4>取填飲（六十四）</h4>
<p>（治血痢如注。並初起作痢腹痛。下如土朱豬肝色者。）</p>
<p>夏枯草（五錢）　紅花（二分）</p>
<p>白水煎濃湯。入真砂糖一錢。調和空心服。三服愈。</p>
<p>一方治泄瀉垂危。用豇豆葉陰乾為末。令患者少停飲食。口覺發干。濃煎一大壺。如茶飲之一方治赤白久痢。用雞子以醋煮一晝夜。空腹食之。兼治小兒疳症。</p>
<p>一方治赤白痢。用乾薑於火內燒焦黑。不可成炭。放瓷瓶內。閉冷為末。青蒿葉陰乾為末。</p>
<p>附方　治瀉痢脫肛。用蝸牛燒灰。豬脂和敷。立縮。</p>
<p>又方　蟬殼為末。菜油調敷。加內服補中湯。（方見前十）</p>
<h4>九味羌活湯（六十五）</h4>
<p>（治四時不正之氣。感冒風寒。憎寒壯熱。頭疼身痛。口渴咽乾等症。）</p>
<p>羌活　防風（各六分）　蒼朮（一錢）　白芷（四分）　川芎（五分）　生地（一錢五分）　黃芩（七引加薑一片。棗一枚。煎成熱服取汗。有汗者去蒼朮。加白朮一錢五分。渴甚者。加葛根一</p>
<h4>化毒丸（六十六）</h4>
<p>（治天行瘟疫。及喉痹頸面暴腫諸症。）</p>
<p>直僵蠶（一兩炒為末）　川大黃（二兩酒拌晒為末）</p>
<p>生薑汁。和蜜水為丸。彈子大。每服一粒。每粒重一錢五分。真菊花葉五錢。搗汁沖湯調服</p>
<h4>回春散（六十七）</h4>
<p>（治陰症。取汗即愈。）</p>
<p>白礬（一錢）　黃丹（八分）　胡椒（二分）　芒硝（一分）</p>
<p>用陳釅醋和糊。攤在手心。男左女右。側身蜷腿。手合陰處。出汗即解。勿吃冷水。如不愈</p>
<h4>純陽救苦湯（六十八）</h4>
<p>（治男婦陰症神效。）</p>
<p>生薑（一兩切片）　大黑豆（五錢炒熟）</p>
<p>水煮數沸。濾去薑豆。取汁服之。汗出即愈。</p>
<h4>理中湯（六十九）</h4>
<p>（治太陰病。自利不渴。陰寒腹痛。短氣咳嗽。霍亂嘔吐。飲食難化。胸膈噎塞。或疾瘴氣瘟疫。中氣虛損。久不能愈。或中虛生痰等症。）</p>
<p>黨參（五錢桂圓七枚煎汁煮干）　白朮（三錢炒）　乾薑（八分炒）　炙甘草（一錢）</p>
<p>白水煎溫服。如前症輕者。分兩可酌減半。</p>
<h4>風火雙解散（七十）</h4>
<p>（治頭風兩太陽疼。）</p>
<p>川芎　白芷　熟石膏（各等分為末）</p>
<p>每服三錢。熱茶調下。食遠服。</p>
<h4>探吐飲（七十一）</h4>
<p>（治干霍亂。手足溫者。入口即吐。氣絕復通。）</p>
<p>炒鹽一撮。和童便溫服。</p>
<h4>開鬱散（七十二）</h4>
<p>（治驚痰瘀血。流滯心竅。及憂郁氣結。致成失心癲癇諸症。）</p>
<p>真鬱金（三錢）　生明礬（一錢五分）</p>
<p>為末。青竹葉湯調服。蓋鬱金入心去血。明礬能化頑痰也。</p>
<h4>開元固氣丸（七十三）</h4>
<p>（治各種疝氣。）</p>
<p>西黨參　上綿　（炙）　焦白朮　川楝肉（鹽酒炒）　蛀青皮　當歸身（各四兩酒炒）　小茴香（熟地（五各取末。煉蜜為丸。淡酒下。每服四錢。</p>
<p>一方。疝初起。寒熱疼痛如欲成囊癰者。用新鮮地骨皮（即枸杞子根）生薑各四兩。共搗如泥</p>
<h4>辟寒煎（七十四）</h4>
<p>（治寒疝。攻心急痛。）</p>
<p>木香（一錢）　青皮　香附　蒼朮　黑丑（取頭末）　元胡索（各二錢）　大茴香（七分）　良薑（陳酒二杯。煎至一杯。空心溫服。立止。</p>
<p>一方。用川楝子取肉。炒為末。每服三錢。空心陳酒調服。</p>
<h4>游山散（七十五）</h4>
<p>（治心脾痛。）</p>
<p>草果　元胡索　五靈脂　沒藥上各等分為末。每服三錢。溫酒調下。</p>
<p>一方治卒然心痛。牙關緊閉欲絕。用老蔥白五根。搗汁。送入咽中。再灌麻油四兩。但得下咽即蘇。如系蟲痛。上　白點為驗。照用掃蟲煎（方見後八十）化蟲散（方見後八十一）</p>
<p>等方自愈</p>
<h4>和胃飲（七十六）</h4>
<p>（治胃氣痛。）</p>
<p>淡吳萸（四分）　川連　乾薑（各二分）　橘皮　當歸　白芍（各一錢）　桂枝（同白芍炒）</p>
<p>炙草白水煎服。凡胃痛虛寒者多。實熱者少。虛寒者。口多清涎。得熱飲。痛可稍緩。實熱者。</p>
<p>實熱者易解。梔子清肝散（方見後七十七）主之。或加味逍遙散。（方見前二十六）一帖可愈。</p>
<p>虛寒者難治。暫愈復發。以是方與補中湯。（方見前十）間進之。加服六味桂附丸。（方見前八）斯可漸愈。其有寒而實者。肢冷面白氣促。勺飲下咽即吐。方內去黨參。加法製半夏三錢。溫飲而</p>
<h4>梔子清肝散（七十七）</h4>
<p>（治胃痛由於實熱者。）</p>
<p>柴胡（六分）　山梔子（炒黑）　黃芩（炒）　廣皮（各七分）　甘草（三分）　白芍（一錢醋炒）</p>
<p>引薑汁一大匙沖服。</p>
<h4>清金下痰丸（七十八）</h4>
<p>（治風疾癇疾。）</p>
<p>白礬（一兩）　陳松蘿茶（五錢）</p>
<p>為末。蜜丸。如桐子大。一歲十丸。大人五十丸。茶湯下。久服痰自大便出。即愈。</p>
<h4>桐丸（七十九）</h4>
<p>（治男女感受風濕。或嗜飲冒風。內濕外邪。傳於四肢。脈胳壅塞不舒。以致疼痛。不能步履。或兩手牽絆。不能仰舉。凡辛勞之人。常患此症。狀似風癱。服全愈。或單用臭梧桐二錢煎湯飲。以酒過之。連服十劑。其痛即瘥。或煎湯洗手足草（八兩炒磨末）　地梧桐（俗名臭梧桐不論花葉梗子俱可用取切碎晒乾炒磨末一斤）</p>
<p>上二味和勻。煉蜜丸。梧桐子大。開水下。四錢。忌食豬肝羊血番菇等物。</p>
<h4>掃蟲煎（八十）</h4>
<p>（治諸蟲上攻。胸腹作痛。凡驗蟲症。視其目無精光。面色灰白。肌膚消瘦。頰時火胸脅作痛。肚腹攪脹。飲食易餓。餓時痛甚。得食稍止。唇焦舌燥。上　有白點者。真也。照方投二三劑。取吐下而愈。）</p>
<p>吳茱萸　青皮　小茴香（各一錢炒）　檳榔　烏藥（各一錢五分）　細榧肉（三錢敲碎）</p>
<p>烏梅（上將前八味。用白水煎。去渣。隨入後二味。再煎三四沸。攪勻。徐徐服之。如惡心作吐</p>
<h4>化蟲散（八十一）</h4>
<p>（治症同前。）</p>
<p>雷丸（八分）　檳榔　鶴虱（各一錢）　使君子（一錢五分）　輕粉（四分）</p>
<p>上為末。分二服。晚刻以精豬肉一兩。切片。用皂角泡湯浸一宿。至五更慢火炙透。蘸香油</p>
<h4>消痞簡易方（八十二）</h4>
<p>（專治痞疾。）</p>
<p>荸薺（一百個）　花頭海蜇（三斤）</p>
<p>各洗淨。入沙鍋內。同水煮一日。冬天一夜。單食荸薺自消。</p>
<h4>厭紅溫胃飲（八十三）</h4>
<p>（治一切血症。凡傷酒食飽。低頭掬損。吐血不止。甚至妄行。口鼻俱出。但聲未失者悉效。並治鼻血。舌上及齒縫出血。用吹糝即止。）</p>
<p>百草霜（二錢）</p>
<p>研細。糯米湯調下。</p>
<h4>清涼散（八十四）</h4>
<p>（治舌上出血。）</p>
<p>蒲黃灰　槐花末各等分。研細干糝舌上。加用鮮生地五錢搗汁。白湯沖服。</p>
<h4>惜紅飲（八十五）</h4>
<p>（治鼻血不止。）</p>
<p>陳京墨（酒磨汁）</p>
<p>外用五味子四分。麥冬一錢。煎湯和服可止。</p>
<p>一方。用新白芨一薄片。貼眉心即止。重者換貼一次。</p>
<p>一方。用血余燒灰存性為末。吹入立止。</p>
<h4>小便秘（八十六）</h4>
<p>（是症多由感冒傷寒。瘧痢變症。其冷熱可以蔥熨法試之。冷秘。蔥熨即通。熱秘。</p>
<p>通旋秘。）</p>
<p>柴胡（六分）　木通（五分）　茯苓（一錢）　甘草（四分）</p>
<p>冷秘加熟附子三分。熱秘加黃芩知母車前各五分。急流水煎服。</p>
<p>一方。治冷秘。蔥白切炒熱。包帛內。慢揉臍下。即通。</p>
<p>一方。治熱秘。萵苣菜搗爛。貼臍上立通。</p>
<h4>清溲飲（八十七）</h4>
<p>（治小便血。）</p>
<p>荷葉蒂（七枚）</p>
<p>燒灰。酒調服。</p>
<h2>卷二</h2>
<h3>外科門</h3>
<p>症有內。復有外。外之形症。可一望而知。而亦有表裡寒熱虛實之別。大抵發於臟者陰也。</p>
<p>之偶多急陰。</p>
<p>大為應手因不其源</p>
<h4>仙方活命飲（一）</h4>
<p>（治一切癰疽。不論陰陽惡毒。未成即消。已成即潰。化膿生肌。散瘀消腫。乃聖藥也。）</p>
<p>穿山甲　銀花（各二錢）　皂角刺　歸尾（各一錢五分）　赤芍　陳皮　甘草節　天花粉貝母酒水各半煎服。</p>
<h4>六味湯（二）</h4>
<p>（治癰疽發背疔瘡。並一切無名腫毒。未成者消。已成者潰。最危之症。三服全愈。）</p>
<p>生地黃　生黃　生甘草　白芷（炒）　當歸（炒）　穿山甲（炒各三錢）</p>
<p>患在頭面。加川芎五錢。手足。加桂枝五錢。中部。加杜仲五錢。下部。加牛膝五錢。</p>
<p>上連引七味。依方稱準。分量不可增減。善飲者。用黃酒二碗。煎一碗。不善飲者。酒水各</p>
<h4>萬靈丹（三）</h4>
<p>茅朮（八兩）　全蠍　明天麻　石斛　當歸　炙甘草　川芎　羌活　荊芥　防風　麻黃北細共為細末。煉蜜丸。丸分三等。一兩作四丸。一兩作六丸。一兩作九丸。朱砂六錢為衣。收凡遇惡瘡癰疽發背等症。用連須蔥白九枝。煎一茶杯。看患者年歲老壯。病勢緩急等之丸。未成隨消。已成即高腫而潰。如無須發散者。只用熱酒化服。服後避風。</p>
<p>忌冷物。房事。孕婦勿服。</p>
<h4>醒消丸（四）</h4>
<p>（治一切癰疽腫毒。初起即消。）</p>
<p>乳香　沒藥（各一兩）　麝香（去油一錢五分）　雄精（五錢）</p>
<p>共研和。黃米飯一兩。搗爛。入末。再搗。為丸。蘿卜子大。晒乾。忌烘。每服三錢。</p>
<p>熱陳</p>
<h4>犀黃丸（五）</h4>
<p>（治乳岩。瘰　。痰核。橫　。流注。肺癰。小腸癰。等症。）</p>
<p>即醒消丸內。除去雄精。加犀黃三分。如前法為丸。每服三錢。熱陳酒送下。患生上部。</p>
<p>臨</p>
<h4>益氣養營煎（六）</h4>
<p>（治疽患漫腫多日。腳散頂平。）</p>
<p>川芎　生甘草節（各一錢）　當歸　銀花　茯苓　生黃　（各二錢）　炙山甲（一錢五分）</p>
<p>荊芥用蔥一枝。酒半杯。早晚每投一劑。外治須急聚根腳。中敷玉樞丹。（即太乙紫金丹。</p>
<p>見前錢。</p>
<h4>金銀花酒（七）</h4>
<p>（治癰疽。發背。疔瘡。等患。不論生在何處。初起服之。重者減輕。輕者消散。）</p>
<p>鮮忍冬花（連藤一兩即金銀花）　大甘草節（五錢）</p>
<p>用白水二碗。文武火慢煎。至一碗。入無灰酒一大碗。再煎十數沸。去渣。分為三服。</p>
<p>一日終不留一</p>
<h4>一味濟陰散（八）</h4>
<p>（治癰疽。發背。一切瘡毒。紅色高腫。屬陽者。）</p>
<p>槐花（淨米一升炒焦為末）</p>
<p>分作二服。將一服。每日好酒服四五錢。一服。老酒煎。調敷患處。四五日即愈。</p>
<h4>一味升陽散（九）</h4>
<p>（治癰疽。發背。一切瘡毒。白色漫腫。屬陰者。）</p>
<p>遠志肉（四兩）</p>
<p>將二兩。用陳酒二碗。煎至一碗。又投好酒半碗。臨睡時溫服。將渣。同下存遠志肉二兩。</p>
<p>七服</p>
<h4>消毒神效散（十）</h4>
<p>（治發背。癰疽。乳癰。一切外患。初起即散。已成者。搽三次。收小出毒隨愈鮮山岳（五兩不見水）　土朱　松香　白洋糖（各一兩）　全蠍（十個）</p>
<p>上共搗爛圍之。留頂。藥上蓋紙。周時一換。</p>
<h4>一味消毒散（十一）</h4>
<p>（治癰疽腫毒。）</p>
<p>陳小粉。不拘分兩。年久者佳。炒黃黑色。研以陳米醋。調熬如黑漆狀。瓦罐收用。紙攤。</p>
<h4>解凝散（十二）</h4>
<p>（治氣凝血滯。癰疽初起。堅硬可散。）</p>
<p>遠志　真菊葉（各三錢）　荊芥　全當歸　丹參（各五分）</p>
<p>上藥各取淨末。和勻研細。蜜酒蔥汁調敷。每藥末一錢。加入真川貝二分。芒硝四厘。</p>
<p>敷痰</p>
<h4>腫毒熱癤方（十三）</h4>
<p>（治一切癰癤紅腫。疼痛難忍者。）</p>
<p>陳京墨（醋磨汁）每墨汁半小杯。和入豬膽汁一小匙。生薑蘸。頻塗患處。定痛消腫神驗。</p>
<h4>赤小豆散（十四）</h4>
<p>（治癰疽初起。敷之即消。）</p>
<p>遠志（八錢）　首烏皮（一兩）　赤小豆（一兩五錢）　紅花（八分）　荊芥（三錢）</p>
<p>各取末和勻。每藥末一兩。加真麝香四分。蔥酒汁調敷。</p>
<h4>星辛散（十五）</h4>
<p>（治一切外症初起。色淡浮腫。）</p>
<p>生南星　生大黃　北細辛上藥等分。蔥汁醋鹵熬稠。調敷。</p>
<h4>錦蓉散（十六）</h4>
<p>（治一切外症初起。紅熱火症。）</p>
<p>錦紋大黃（十六兩）　白芷（四兩）　芙蓉葉（三兩）　元參（二兩）</p>
<p>各取淨末。研至無聲為度。用蔥汁黃蜜調敷。</p>
<h4>蓉豆散（十七）</h4>
<p>（治一切外症初起。）</p>
<p>芙蓉葉。或根或花。鮮者搗爛。干者研末。赤小豆研末。等分。用蜜調塗四圍。中間留頂。</p>
<h4>沖和膏（十八）</h4>
<p>（治外症初起。堅腫色淡。）</p>
<p>赤芍（二兩）　白芷　防風（各一兩）　獨活（三兩）　龍腦（三錢）　石菖蒲（一兩五錢）</p>
<p>各取淨末。以瓷瓶收貯。不可泄氣。臨用時。薑汁鹵醋調敷。一日一換。</p>
<h4>沖和散（十九）</h4>
<p>（凡人環跳穴處。及兩膝附骨等處。感受風寒濕氣。面上不熱。漫腫無頭。皮色不變。</p>
<p>微覺酸痛攣拘。若不即治。變生貼骨等癰。難以收功。急用此藥。祛寒逐濕透出外絡。提移他處出毒。即有成管成漏。亦能逐漸收功。屢用皆效。）</p>
<p>紫荊皮（五兩炒）　赤芍藥（二兩炒）　香白芷（一兩晒燥忌火炒）　獨活（一兩五錢炒）　石菖蒲上依法。共為末。篩細。以好酒和蔥五莖。煎滾調搽。不必留頂。一日一換。以腫消不痛為</p>
<h4>無名腫毒方（二十）</h4>
<p>生大黃。取整者。用青布包裹扎緊。於五月五日午時。入露天糞坑內。浸至十二日。午時取</p>
<h4>坎宮錠（二十一）</h4>
<p>（治一切癰疽漫腫無頭。根腳不聚等症。用敷患處。四圍。）</p>
<p>胡黃連（焙）　芙蓉葉（晒脆或烘）　兒茶　真熊膽　文蛤（焙黑）　真西黃（各三錢）</p>
<p>辰砂（水各研細末。和勻。再乳。用生大黃五錢。鹵醋一茶杯。健豬膽二枚滴汁。三味熬稠膏作錠。</p>
<h4>陽和湯（二十二）</h4>
<p>（治一切陰疽色白。不起發。勢將內陷者。飲之立救。並寒凝痰核。根深難潰。與犀丸。（見前五號）間服。取效。）</p>
<p>熟地（一兩）　白芥子（二錢）　鹿角膠（三錢）　肉桂　生甘草（各一錢）　薑炭　麻黃（各五分）</p>
<p>水酒各半煎服。加法製半夏（一錢五分）。陳皮（八分）尤妙。</p>
<h4>金鎖比天膏（二十三）</h4>
<p>（治癰疽發背。無名腫毒。疔瘡。鼠串。馬刀。瘰　。紫疥。紅絲。鴉焰漏睛腿血氣。內外　瘡。魚口便毒。楊梅結核。金瘡杖瘡。蛇蠍蟲咬。虎犬人傷。頑瘡久流膿血。萬般爛瘡。風寒痰濕。四肢疼痛。乳癖乳岩。其未破者。用蔥椒湯。已湯洗淨。貼之。如初發勢重。將膏剪去中心。留頭出氣不必揭起。一膏可愈一毒。</p>
<p>見火。必須重湯化開。）</p>
<p>山甲（一具或淨甲一斤）　劉寄奴（去根切絲）　野麻根　蒼耳草（連根葉子）　紫花地丁各草藥鮮者為妙。用真麻油十二斤。將四斤先煎穿山甲枯焦。余八斤浸各藥。冬七日。</p>
<p>春秋斤。</p>
<p>兩。</p>
<p>待</p>
<h4>神效桑枝炙（二十四）</h4>
<p>治發背不起。或瘀肉不潰。此陽氣虛弱。用桑枝捻著。吹熄其焰。用火炙患處。片時。</p>
<p>日三瘡。</p>
<p>余毒用之</p>
<h4>神仙熏照方（二十五）</h4>
<p>雄黃　朱砂　真血竭　沒藥（各一錢）　麝香（二分）</p>
<p>上五味研細末。用棉紙卷為粗捻。約長尺許。每捻中入藥三分裹定。以真麻油潤透。點灼瘡自紅暈外圈。周遭徐徐照之。以漸將捻收入瘡口上。所謂自外而內也。更以引毒瓦斯。此是手法。此藥氣從火頭上出。內透瘡中。則毒隨氣散。自條。漸加至五七條。瘡勢漸消。可漸減之。熏罷。隨用後敷藥。</p>
<h4>敷藥方（二十六）</h4>
<p>車前草　草　金銀花　五爪龍草上四味鮮草。等分。同搗爛。加多年陳小粉。仍加飛鹽少許。共調為稠糊。敷瘡上。中留一單用</p>
<h4>艾葉回陽散（二十七）</h4>
<p>（治陰疽發背。陷下不痛者。）</p>
<p>用真艾葉一斤。硫黃。雄黃末。各五錢。水同煮半日。搗極爛。乘溫敷上。再煮再易。</p>
<p>十余</p>
<h4>隔皮取膿法（二十八）</h4>
<p>（凡患毒深遠。刀難直取。並患人畏懼開刀者。俟膿熟時用此法甚善。如膿不從毛竅出者。若用藥塗之。其不塗藥之處。旁邊綻出一洞。自會出膿。）</p>
<p>驢蹄皮（一兩即腳底剔下者是炒用）　蕎麥面（一兩）　草烏（四錢刮去皮研）</p>
<p>共為末。和勻。加食鹽五錢。以水糊作薄餅。瓦上炙微黃色。再研細。以醋調攤白紙上。</p>
<p>貼</p>
<h4>黑龍丹（二十九）</h4>
<p>（治一切惡瘡怪毒。或生於橫肉筋窠之間。因擠膿用力太過。以致　肉突出。如梅如翻花紅赤。久不縮入。此乃損傷筋脈使然。不明其義。輒以降蝕腐化。但去其小者。復出大者。屢蝕屢突。經年不愈。用此方。立可奏效。）</p>
<p>大熟地（切片烘乾炒枯）　烏梅肉（炒炭）</p>
<p>上以枯熟地末一兩。配烏梅炭三錢。共研極細。摻膏藥上貼之。不過三五日。其　肉收進。隨用地栗生肌粉（見後三十八）糝膏上。貼患處。收口。即愈。凡陰虛。腎氣不足之人。</p>
<p>或患脫內症</p>
<h4>烏金膏（三十）</h4>
<p>巴豆一斤。去殼衣。淨肉。放鍋內。炒化為油。去火毒。凡瘡腐爛。將油薄搽其上。其腐自</p>
<h4>清涼膏（三十一）</h4>
<p>（治一切瘡瘍潰後。宜用之。）</p>
<p>當歸（二兩）　白芨　白芷　木鱉子　黃柏　白蘞　乳香　白膠香（各五錢）　黃丹（五兩）</p>
<p>用真淨麻油十二兩。煎前六味。槐柳枝順攪。油熟丹收。然後下乳香膠香二味。</p>
<h4>蜣龍丸（三十二）</h4>
<p>（治一切遠年瘡毒。起管成漏。膿血時流。久不收口。服此自能收功。）</p>
<p>韭菜地上蛐　（十六兩以酒洗淨泥）　蜣螂（八個即推車蟲又名扒　蟲）　穿山甲（一兩麻油炒上末共和勻再研。煉蜜為丸。桐子大。大人每服八分。小兒每服五分。俱開水送下。服藥未</p>
<h4>玉紅膏（三十三）</h4>
<p>（治一切癰疽發背。對口。大毒。膿潰已盡。腐去孔深。洞見膈膜者。用此填塞瘡口自能生肌。長肉。收口。）</p>
<p>當歸（二兩）　白芷（五錢）　紫草（二錢）　甘草（一兩二錢）</p>
<p>用麻油十六兩。將前藥浸七日。煎至藥枯漉去渣。將油再熬。至滴水成珠。下白蠟二兩。</p>
<p>攪陷</p>
<h4>八寶丹（三十四）</h4>
<p>（治口舌潰爛。並一切瘡毒。癰疽。發背。膿潰毒盡。未全完口者。摻膏上貼肌散並效。）</p>
<p>西牛黃　明血珀（各二分）　生珍珠　朱砂　兒茶（各一錢二分）　人中白（二錢　）　馬勃（八各為淨末和勻。研至無聲為度。</p>
<h4>香蠟生肌膏（三十五）</h4>
<p>用白丁香（一錢即公麻雀屎）　麻油一兩。黃蠟三錢。熬成膏。遇諸瘡不收口。將此膏填滿瘡</p>
<h4>膿潰生肌散（三十六）</h4>
<p>（治癰疽膿毒潰盡。肌肉不生。每用少許摻膏上。）</p>
<p>生龍骨（三錢）　螵蛸　熟石膏（各二錢）　干胭脂　陳鍛石　象皮（各一錢　）　浮干石（六分）</p>
<p>各為淨末。研細如飛面。</p>
<h4>乳沒生肌散（三十七）</h4>
<p>紅升　血竭　生乳香　生沒藥　麝香　冰片各等分。研細。</p>
<h4>生肌地栗粉（三十八）</h4>
<p>（治一切外患潰後。余肉已盡。新肌未生。摻膏上。可漸收口。）</p>
<p>荸薺（一兩去皮磨粉）　真象牙屑　川貝　雲苓（各五錢）</p>
<p>上藥取末和勻。再研極細。</p>
<h4>穿骨散（三十九）</h4>
<p>（治貼骨疽患。起自環跳血。又名縮腳疽。皮色不異。腫硬作痛者是。）</p>
<p>白芥子不拘分兩搗粉。用白酒釀調敷。內服陽和湯（見前二二）每日一劑。四五服可消。</p>
<p>消後忌開和（見</p>
<h4>子龍丸（四十）</h4>
<p>甘遂（面裹煨熟）　白芥子（炒研末）　大戟（取杭州紫大戟水煮軟去骨用）</p>
<p>各等分蜜丸。如芥子大。日服三次。每服三分。淡薑湯送下。忌與甘草同服。虛人禁服。</p>
<h4>小金丹（四十一）</h4>
<p>（治流注痰核。瘰　。乳岩。橫　。等症。初起。服之即消。）</p>
<p>白膠香　草烏　五靈脂　地龍　木鱉（各制末一兩五錢）　乳香　沒藥　當歸身（各淨末七錢以糯米粉一兩二錢。為濃糊。和諸藥末。千捶為丸。如芡實大。一料約為二百五十丸。</p>
<p>晒乾用小丸作</p>
<h4>鳳眉透腦二疽治法（四十二）</h4>
<p>鳳眉疽發在兩目之間。形長皮赤。痛引腦戶。二目合縫。透腦疽發在額上。發際之間。</p>
<p>多發（見前</p>
<h4>大棗丸（四十三）</h4>
<p>（治風濕熱毒。癰疽等患。日久潰爛。將見內腑者。）</p>
<p>山羊糞（晒乾炒炭存性磨粉八兩）</p>
<p>上用大棗去皮核。淨肉八兩。不用煮。搗爛如泥。和前粉捶成丸。每服四錢。黑棗湯下。</p>
<p>服</p>
<h4>（附）血癤方（四十四）</h4>
<p>初起形如赤豆大。色極紅。若皮一穿破。血向外射。必致殞命。急覓大蟾一只。剝皮貼癤上</p>
<h4>（附）血箭方（四十五）</h4>
<p>一竅如針眼。出水不止。或生肘上。或生眼角。用真麻油四兩。無灰酒八兩。和勻熱服。</p>
<p>其</p>
<h3>疔毒類</h3>
<p>按疔瘡。乃外科迅速之病。有朝發夕死。或隨發隨死。或三五日不死。至一月半月而終死者功。</p>
<p>若不指明。貽誤非淺。</p>
<p>火焰疔。多生唇口手掌指節間。其發初生一點紅黃小泡。抓動癢痛非常。左右肢體麻木。</p>
<p>重紫燕疔。多生手足腰脅筋骨之間。初生便作紫泡。次日破流血水。三日後串筋爛骨。疼痛苦黃鼓疔。其發初生黃泡。光亮明潤。四邊紅色纏繞。患多生口角腮頰。眼泡上下。及太陽正噦。</p>
<p>白刃疔。其發初生白泡。頂硬梗突。破流脂水。時痛時癢。易腐易陷。重則腮損咽焦。</p>
<p>毛聳黑靨疔。多生耳竅。胸腹腰腎。偏僻軟肉之間。其發初生黑斑紫泡。毒串皮膚。漸攻肌肉。</p>
<p>之病紅絲疔。起於手掌節間。初起形如小瘡。漸發紅絲。上攻手膊。令人多生寒熱。甚則惡心嘔凡治疔毒。貴在乎早。更易痊可。倘若分辨不清。以生黃豆令病患嚼之。不腥。乃疔毒也。</p>
<h4>神驗疔毒丸（一）</h4>
<p>（治一切疔毒。）</p>
<p>大黃　巴豆（去心皮生用）　雄黃（各三錢）</p>
<p>上三味。共合一處。用石臼杵。搗爛如泥。以飛羅面、陳醋、煮糊。同藥搗極細爛為丸。</p>
<p>如水不至並炙爆辛熱。飲酒房事。至七日方好。不可疏忽。有金線巴豆最妙。</p>
<h4>拔疔散（二）</h4>
<p>（治疔瘡。一時疼痛非常。亦陽症也。但忽生之時難辨。以生黃豆嚼之。不知腥臭。</p>
<p>是疔毒。其瘡頭必發黃泡。中或現紫黑之色。更須細看。泡中必有紅白一線。通於泡外。</p>
<p>約疔生足上。紅線由足入臍。疔生手上。紅線由手入心。疔生唇上。紅線由唇入喉。如見此紅線之盡處。用瓷鋒刺出毒血。免毒瓦斯攻心。白線不必刺破。）</p>
<p>甘菊花　紫花地丁（各一兩）</p>
<p>用水煎服一劑。紅白線退。二劑。疔毒消。三劑。全愈。若已潰者。亦用此方。加當歸二兩</p>
<h4>皂礬丸（三）</h4>
<p>（治一切五色疔瘡。初起。或有小白頭一粒。或癢或麻木。憎寒發熱。及疔毒走黃。</p>
<p>陷昏憒嘔惡等症。）</p>
<p>豬牙皂（切碎研細末）　白礬（生研極細各三錢）　真干蟾酥（一兩切片）</p>
<p>上將蟾酥。用滴花燒酒浸軟。加入礬皂二末。和勻搗為丸。如綠豆大。晾干。收貯。每服一粒。</p>
<h4>拔疔秘方（四）</h4>
<p>鰣魚靨。用手拈下。不見水。陰乾收貯。用時以銀針撥開疔頭。將一片貼上。以清涼膏（見收功。</p>
<p>一方用銀朱。濫雞屎。各一錢。荔枝肉。烏梅肉。各十個。蝸牛十條。先用麝香塗疔口。</p>
<p>將</p>
<h4>菊花散（五）</h4>
<p>（治疔腫惡瘡。危急垂死者。）</p>
<p>用菊花葉。或根不拘分兩。搗汁。酒沖熱服。取汗。渣敷患處。</p>
<h4>清裡散（六）</h4>
<p>（治癰疽疔毒。內攻患處。麻木。嘔吐。昏憒。牙關緊閉。有奪命之功。）</p>
<p>熟石膏（五錢）　徽州上等松蘿茶（一兩）</p>
<p>為末。大人服三五錢。小兒服二錢。生蜜調和。空心熱酒送下。立效如神。日進二服。</p>
<p>有回</p>
<h4>回疔散（七）</h4>
<p>（治一切疔毒走黃。神昏。發腫。）</p>
<p>用土蜂窩。有子者。一兩。蛇蛻一條。泥裹火　。存性。為末。研和。每服二錢。開水下。</p>
<h4>疔瘡走黃（八）</h4>
<p>疔瘡誤食豬肉走黃。法在不治。急搗芭蕉根汁服之。可救。</p>
<h4>救唇湯（九）</h4>
<p>（治唇上生疔。或口角。或上下唇。最宜速治。否則火毒炎炎。且難飲食。往往有腐潰而死者。兼治頭面上疔。）</p>
<p>紫花地丁　金銀花（各一兩）　白果（二十個）　桔梗　生甘草　知母（各三錢）</p>
<p>用水煎服。未潰者三劑。潰者五劑。取效。</p>
<p>一治各種疔毒。及癰疽腫毒。初起用白菊花。連根一株。（去泥淨）蒲公英（無葉。取根。</p>
<p>紫一治疔腫流火。並一切外患。紅腫　痛。取煤塊黑亮者研極細末。陳醋調敷。干則頻頻潤濕一治石片疔毒。是症多由患外症起。蒜艾炙之過度。火氣內逼。風因火發。致肉如石片飛去患處一治鼻內疔。用爛黃雞屎。荔枝肉。同搗爛。塗患處。即愈。</p>
<p>一治指頭蛇疔。用生雞蛋一個。去白用黃。以荔枝肉。嚼爛攪勻。裝入殼內。套指頭上。</p>
<p>即一治烏茄疔。是症由農家糞地上。經烈日晒過。赤足行走。受此熱毒。必至足趾腫痛。</p>
<p>似潰</p>
<h3>瘋痰瘡毒類</h3>
<h4>營衛保和丸（一）</h4>
<p>（專治大麻瘋症。）</p>
<p>元參　熟地　蒼朮　蒼耳子　苡仁　茯苓（各四兩）　銀花（六兩）　生甘草（一兩）　荊芥四兩。煎汁跌丸。百沸湯下。每服四錢。日再服。分早晚。患者忌生冷鹽醋。宜白淡。</p>
<h4>大瘋丸（二）</h4>
<p>（治大麻瘋症。服者須吃白淡。艱於忌口者。不效。）</p>
<p>大楓子（不可見火）　小胡麻　白蒺藜（去刺各二十兩）　蒼朮　荊芥（晒各六兩）　牛膝川斷去頭足三兩）上各取末。用白鳳仙花葉。六兩。煎汁跌丸。每早三錢。毛尖茶下。</p>
<h4>風痛藥酒方（三）</h4>
<p>（治風寒濕氣。乘虛入於筋骨。日夜疼痛。不拘遠年近日皆效。）</p>
<p>熟地　丹參　秦艽　當歸　杜仲（炒）　牛膝　枸杞子（各二兩）　川芎　羌活　防風　天麻（擇道地之藥。如法制度。俱晒極干。用陳酒二十斤。將一半同藥隔湯煮。大線香三炷。</p>
<p>待冷</p>
<h4>大麻瘋方（四）</h4>
<p>（全身發腫。須眉脫落。兩腳臭爛。是方並治。）</p>
<p>用大蟾一只。泥裹燒熟。去泥。乘熱。放瓷碗內。以滾黃酒沖入。即用碗蓋蓋之。泡半時。</p>
<p>一方用扁柏葉。九蒸九晒。為末。每服一錢。一日三服。滾水下。忌鹽醬。</p>
<p>一方治大麻瘋症。遍體生瘡。用水浮萍。漉起。入稀布口袋。浸長流水中三日。取起每萍葉</p>
<h4>鵝掌風方（五）</h4>
<p>用連須蔥白。搗汁半斤。熬成四兩。入好蜜四兩。再熬一半。每晚搽之。終身忌食鵝肉。</p>
<h4>鶴膝風方（六）</h4>
<p>（由於外感寒濕。本質未潰者。敷此可消。如小兒先天不足。或大人氣血久衰。須五益膏。（見前內症四號。）用牛膝（一兩五錢）全歸（一兩）虎脛骨（五錢）。浸無灰酒三斤。</p>
<p>每晚一杯。化膏五錢服之。外敷此方。乃可取效。）</p>
<p>用肥皂（二個去子）　五倍子（去灰）　皮硝各一兩。共研末。用頭酒糟四兩。砂糖一兩。</p>
<p>薑一方用白鳳仙連根葉搗汁一大碗。同薑汁對熬。入廣膠四兩。和化成餅。貼裹患處。冷即烘</p>
<h4>紫白癜方（八）</h4>
<p>用芝麻花。同自己小便。頻擦患處。過半日。洗去如失。</p>
<h4>遍體瘋癢方（九）</h4>
<p>胡麻　威靈仙　何首烏　苦參　石菖蒲（各三錢）　甘草（二錢）</p>
<p>共為末。每服三錢。陳酒下。</p>
<h4>瘰痰核內消方</h4>
<p>上真鉛三兩。鐵器內炒。取黑灰。陳醋調塗。以舊帛貼之。頻換。去惡水。半月取效。</p>
<p>不痛</p>
<h4>蹲鴟丸（十）</h4>
<p>（治男婦大小。頸項下。耳前後結核瘰塊。連珠　串。不疼不痛。或破。微疼。皮赤爛。久不收口。年近者。一料收功。年遠者。服兩料全愈。）</p>
<p>真香梗芋艿（十斤去皮不見火切片晒極干）</p>
<p>上磨為末。以開水法丸。早晚每服三錢。甜酒送下。如不吃酒者。米湯調下。或吃芋艿干片</p>
<h4>三妙散（十一）</h4>
<p>（治結核瘰　。遍滿脖項。神效。）</p>
<p>夏枯草　金銀花　蒲公英（各五錢）</p>
<p>水酒各半煎服。</p>
<h4>濕痰流注神方（十二）</h4>
<p>陳膽星（二錢）　川貝　僵蠶（炒）　銀花　槐花（炒）　五倍子（各三錢）　橘紅　秦艽防風（鮮者十粒打痰在背。加羌活五分。在脅。加柴胡五分。在頭頂胸前。加夏枯草三錢。在肚腹。如赤芍二仁各用河水九碗。煎三碗。早、午、晚。各服一碗。痰在心之上。食後服。在心之下。食前服。</p>
<p>鵝、不可二錢五</p>
<h4>十全大補湯（十三）</h4>
<p>黨參　白朮　茯苓　川芎　當歸　白芍　熟地　黃　（各一錢）　炙甘草（五分）　肉桂（三分）</p>
<p>白水煎服。</p>
<h4>消痰丸（十四）</h4>
<p>（治痰患初起可消。已成膿者。服之減輕。）</p>
<p>山甲（炙）　大黃　明礬（各十六兩）　杏仁霜　當歸身（各八兩）　川芎（四兩）</p>
<p>各取淨細末。水法為丸。每服三錢。白湯下。</p>
<h4>石珍散（十五）</h4>
<p>（治一切火瘡。天泡瘡。）</p>
<p>石膏（　四兩）　青黛　黃柏（各一兩二錢）　井泥（晒乾八錢）</p>
<p>各取淨末。研細和勻收貯。用生地汁調敷。</p>
<h4>天泡瘡方（十六）</h4>
<p>用蠶豆莢殼。炙灰。菜油調搽。或用蓮蓬殼灰。井水調敷。俱效。</p>
<h4>蛤粉散（十七）</h4>
<p>（治頭面耳周身忽生黃栗。破流脂水。頃刻延開。多生痛癢。此因日晒風吹。暴感濕或因內傷濕熱之物。風動火生。）</p>
<p>石膏（　）　蛤粉（各一兩）　黃柏（生研）　五倍子（各五錢）</p>
<p>共研極細末。麻油調搽。一二日全愈。</p>
<h4>瘡久不愈效方（十八）</h4>
<p>（不拘膿顆疥瘡俱效。）</p>
<p>大生地　赤首烏（各三錢）　當歸身　淨銀花　炒白芍（各一錢五分）　生甘草（六分）</p>
<p>川芎（水煎。沖酒一杯。間日一劑。</p>
<h4>又洗藥方（十九）</h4>
<p>苦參（六錢）　地膚子（二兩）　川椒（一錢五分）</p>
<h4>又擦藥方（二十）</h4>
<p>芙蓉葉　菊葉（各六錢）　荊芥穗（一錢）　生甘草（二錢）　銀花（三錢）</p>
<p>研極細末。用茶油調勻。頻擦之。芙蓉菊葉。鮮者更妙。</p>
<h4>牛皮癬癩方（二十一）</h4>
<p>土槿皮（一斤勿見火晒乾磨末）以好燒酒十斤。加榆面四兩。浸七日為度。不時蘸酒搽擦。</p>
<p>二</p>
<h4>漆瘡方（二十二）</h4>
<p>螃蟹唾沫蘸搽。或磨刀水泥塗之。或用杉水煎湯洗。或用蟹殼同滑石末蜜調敷。並效。</p>
<h4>燙瘡膏（二十三）</h4>
<p>（治湯火燙傷。）</p>
<p>全當歸　梔子（各六錢）　槐枝（十四寸）　榆皮（八錢）</p>
<p>菜油八兩熬膏。隔水化開。塗傷處。</p>
<h4>水石散（二十四）</h4>
<p>（治一切湯火燙破。）</p>
<p>寒水石　赤石脂等分為末。用菜油調搽。破爛有水者。將末洒患處。</p>
<h4>汗斑方（二十五）</h4>
<p>密陀僧為末。以隔年陳醋調搽。</p>
<h4>兩腋狐臭方（二十六）</h4>
<p>明礬細末擦之。浴後及出汗後。再用搽擦。常擦可愈。</p>
<h4>檳黃散（二十七）</h4>
<p>（專治遠年大小　瘡。臭爛難收口者。先敷此藥。俟瘡口平滿。肉轉紅色。再貼夾紙膏。）</p>
<p>檳榔　黃柏　蒼朮　黃丹各等分為末。和勻菜油調搽。</p>
<h4>夾紙膏（二十八）</h4>
<p>（治　瘡收口。）</p>
<p>定粉（四兩）　糠青（三錢）　紅土（八錢）</p>
<p>各取末。先將桐油熬熱。再下末藥。攪勻。以濃紙二面拖上。待干出火氣。驗瘡之大小剪貼</p>
<h4>血風濕爛瘡方（二十九）</h4>
<p>黃柏末。甘草末。各五錢。輕粉二錢研細。糞池中舊磚瓦。洗淨。以炭火燒紅。淬入醋內。</p>
<h4>血瘋散（三十）</h4>
<p>（專治遠年近日。爛腿。血瘋等瘡。）</p>
<p>煙膠　紅土（各四兩）　水龍骨（二兩）</p>
<p>各為細末。和勻桐油調敷。間日一換。蔥水洗。</p>
<h4>腳墊傷痛方（三十一）</h4>
<p>人走長路緊急。被石塊腳底墊腫。不能行走。痛不可忍。急用舊草鞋底。浸尿桶內一夜。</p>
<p>將腳</p>
<h4>香港腳成漏方（三十二）</h4>
<p>腳跟一孔。有水流出。其痛異常。以人中白　研摻之。即愈。</p>
<h4>香港腳攻注方（三十三）</h4>
<p>急取大田螺數個。搗爛。敷於兩足股上。便覺冷趨至足而安。</p>
<h4>治腳粗如木桶方（三十四）</h4>
<p>用鳳仙花葉梗。多多搗汁。煎濃以筆塗之。以消為度。</p>
<h4>香港腳疼痛方（三十五）</h4>
<p>用廣膠三兩。薑蔥各半斤。搗汁另將陳酒糟。取汁一二兩。或用米醋一碗。和陳糟舂。</p>
<p>用細一方治兩足痛如刀剜。不可忍。不紅腫者。是症由於濕熱積於皮裡。氣不得達。先用生薑切</p>
<h4>痔瘡方（三十六）</h4>
<p>大生地　馬齒莧　象糞　魚腥草　槐花　野茄根　鳳尾草（各二兩）　全當歸　銀花　胡黃連　野菊花　五倍子　密陀僧　龍骨　黃芩（各一兩五錢）　白芷　赤芍　防風　元參　荊芥（各共炒研為細末。用瓷罐收貯。封口。勿泄氣。每用五錢。加冰片三分。研細和勻。真麻油調</p>
<h4>乳岩治法（三十七）</h4>
<p>此症男婦皆有。因憂鬱積忿而成。始而乳內結核。不痛不癢。或二年。或四五年不消。</p>
<p>其核和湯。</p>
<p>作一抽早孔貼不痛</p>
<h4>千金托裡散（三十八）</h4>
<p>（治一切癰疽疔毒。乳岩乳癤。日久不起發。或膿出不快。內因寒鬱等症。）</p>
<p>黨參（四錢）　生黃　熟黃　白芷　當歸（各一錢五分）　上官桂（五分）　川芎　桔梗（各引加菊葉蒲公英各一錢五分。</p>
<p>一方治乳癰串爛。年久不愈。洞見內腑者。取搖船之櫓。上首手捏處舊藤箍剪下。陰陽瓦上一方治心窩成漏。潰腐浸淫。經久不愈。用地栗生肌粉。（見前外症三八）看瘡大小。</p>
<p>日日搽</p>
<h3>梅瘡丹毒類</h3>
<h4>梅瘡初起方（一）</h4>
<p>用豆腐四兩。中心開孔。入杭粉二錢。盛一碗內。蒸熱。先將蔥三根。略煨。嚼下。後吃完近則</p>
<h4>梅瘡七帖散（二）</h4>
<p>金銀花（三兩）　生豬油（一兩）　土茯苓（四兩忌鐵器打碎）　直僵蠶（七條研）　皂莢子（七粒共作一劑。三次煎服。早晨空心。用水六茶杯。煎三杯服。午前。四杯煎二杯服。臨臥二杯帖。</p>
<h4>治梅瘡經驗方（三）</h4>
<p>生羊肉四斤。用水十大碗。煮熟去肉留湯。撇淨油珠。用土茯苓四兩。入湯內煮。見金紅色金銀花　防風　葶藶　桔梗　大黃（各一錢）　木瓜（二錢）</p>
<p>用前湯煎半炷香時候。勻作三碗。早、午、晚。各服一碗。連服三次。可愈。如瘡稍輕者。</p>
<h4>梅毒生肌散（四）</h4>
<p>軟石膏　白龍骨（各三錢）　海螵蛸（一錢）　松香（五分）</p>
<p>共研細末。用粗夏布包末藥撲患處。</p>
<h4>丹石結毒方（五）</h4>
<p>凡服過房術丹石之藥。變生淫濕廣瘡。醫復圖功敏捷。投以隱藥治之。致成結毒。終身不愈所悶勿第</p>
<h4>結毒穿鼻方（六）</h4>
<p>龜板（真酒漿炙三次取淨末二兩）　朱砂（水飛過研細末各二錢）　九孔石決明（童便淬取淨上依法制。和勻。用黃米飯。搗為丸。如桐子大。每服一錢土茯苓一兩五錢。煎湯。和好酒</p>
<h4>中宮丸（七）</h4>
<p>（治楊梅丹毒初起。及久害俱效。）</p>
<p>黃土（三十二兩）　赤苓皮（六兩）　生大黃　槐花（各八兩）　明礬　生甘草（各四兩）</p>
<p>為淨末。水法為丸。桐子大。每服三錢。用土茯苓二兩。煎湯送下。</p>
<h4>鼻疳穿爛方（八）</h4>
<p>明礬（瓦上　過）　鹿角（各一錢）　人發（五錢燈上燒灰存性）</p>
<p>各為細末。花椒湯洗患處。敷。將藥末干糝之。如不收口。加瓦松燒灰五錢。和入敷之。</p>
<h4>銀青散（九）</h4>
<p>（治男子下疳。疼極潮癢。女子陰戶兩旁淫濕。瘡瘍膿水淋漓。紅瘰腫疼。並治玉莖瘡蛀腐。及小兒痘疤橫爛。並痘後余毒不清。滿頭發黃泡等瘡。用此皆效。）</p>
<p>白螺殼（取牆頭上白色者佳火　揀去泥研細取淨末一兩）　橄欖核（火　存性研取淨末）</p>
<p>寒水上共研勻。以瓷瓶盛貯。勿使出氣。臨用時以麻油調搽。其濕處。干摻之。神效。</p>
<h4>橫方（十）</h4>
<p>用菜油三兩。入少年男子頭發三錢。銅杓煎枯去渣。用去殼雞蛋三枚。放碗內。後滾油傾入</p>
<h4>礬蠟丸（十一）</h4>
<p>（突生肛癰腫痛。若離寸許。名偷糞鼠。若生於穀道前。陰囊後。名騎馬癰。極為痛乃惡症也。男女患之。皆同治法。）</p>
<p>生白礬　白蠟上藥等分為末。陳米飯為丸。每服五錢。空心開水送下。止痛消毒。三服取效。若既潰者。</p>
<h3>喉口類</h3>
<h4>治咽喉紅腫疼痛痰壅聲啞方（一）</h4>
<p>用鮮土牛膝根一兩。或二三兩洗淨去泥。搗汁。開水沖服。重症可減。輕症可愈。加服大甘</p>
<h4>大甘桔湯（二）</h4>
<p>桔梗（八分）　甘草（一錢二分）　牛蒡子　射干（各六分）　防風　元參（各四分）</p>
<p>白水煎服。熱甚者加黃芩。去防風亦可。</p>
<p>一方用土牛膝根。將人乳搗爛。吹入。如口不開者。其蛾在左吹左鼻。在右吹右鼻。</p>
<p>一方用自己指甲。左剪三個。右剪四個。將銀器燒紅。放甲在內。　為末。男左女右。</p>
<p>吹鼻</p>
<h4>解疫清金飲（三）</h4>
<p>（治風火客感時行喉症。）</p>
<p>蘇薄荷　蘇橘紅　牛子　丹皮（各一錢）　桔梗　赤芍　大貝（各一錢五分）　花粉（一錢二分）</p>
<p>投數劑。兼用吹散可愈。</p>
<h4>濟陰化痰飲（四）</h4>
<p>（治陰虛火灼。憂思郁慮。致成喉症。）</p>
<p>小生地（三錢）　銀花　元參（各一錢五分）　廣皮（七分）　遠志　柴胡（各八分）　桔梗（一錢投五七劑。兼用吹散可愈。</p>
<p>二症愈後。俱服清咽抑火丸（見後十八）旬日。以杜後患。</p>
<h4>清咽雙和飲（五）</h4>
<p>（治一切喉症初起。）</p>
<p>桔梗　銀花（一錢五分）　當歸（一錢）　赤芍（一錢二分）　生地　元參　赤苓（各二錢）</p>
<p>荊芥引加燈心一分。地漿水煎。</p>
<h4>膽貝散（六）</h4>
<p>（治咽喉乳蛾。一切喉症。吹之立效。）</p>
<p>川貝母　生石膏（各三錢）　花粉（七分）　芒硝（八分）</p>
<p>上藥各為細末。用雄豬膽一枚調勻。風乾。研細末。</p>
<h4>活命神方（七）</h4>
<p>（專治喉風喉痹單蛾雙蛾等症。但陰虛喉痛者不可用。）</p>
<p>當門子　新江子仁（去油）　真大泥冰片　麻黃（各一錢）　細辛　山豆根（各五分）　真西牛黃各取淨末。遇症。用蘆管吹之。</p>
<h4>點喉神效法（八）</h4>
<p>（治喉間腫痛。或爛。出血。大發寒熱等症。）</p>
<p>用井華水四碗。入剔牙松葉一握。煎至三碗。用人中白三錢。研極細。每碗入一錢。調勻。</p>
<h4>治喉蛾方（九）</h4>
<p>枯礬（二錢）　桑繭（燒灰）　雞肫皮（各一錢燒灰）　喜蛛壁窩（二十一個燒灰）　珍珠（三分豆共研末。無聲為度。用蘆管吹之。</p>
<p>一方治患喉蛾。已經氣絕。心頭微溫者。於冬天三九時候。取老豬婆糞。放屋上。日晒夜露</p>
<h4>治喉風方（十）</h4>
<p>（舌大如脬。即時不救。立死者。）</p>
<p>冰片（一分）　火硝　硼砂（各三分）　僵蠶（五分）　膽礬　青黛（各二分）共為細末。吹入即解。</p>
<p>一方凡患乳蛾。咽喉腫痛。刺少商穴。血出即松。（少商穴。在大拇指頭甲蓋旁。間一韭菜一方凡生乳蛾者。頭頂發內。必有紅泡一個。用銀針挑破。出血毒泄。吹藥尤效。</p>
<h4>治喉癬方（十一）</h4>
<p>（喉症惟此最遲。久則失音。不可救。）</p>
<p>西牛黃　冰片（各一分）　山羊血（二分）　川連　燈草灰（各五分）　橄欖核灰　血珀（各三分）</p>
<p>共為細末。每一茶匙藥。用一茶匙蜜調之。放舌尖上徐徐咽下。一日五次。兩月可愈。</p>
<p>或加</p>
<h4>蜒蝣梅方（十二）</h4>
<p>將瓦罐貯霜梅半罐。僅數以蜒蝣入之。藏好。患咽喉症者。取梅一枚。含舌底。即有清水流</p>
<h4>立解咽喉腫塞方（十三）</h4>
<p>用夏枯草花十斤。水梨肉一百斤。同煮膏貯瓮中。埋地下。一年後取出。患者含少許。</p>
<p>即消</p>
<h4>走馬喉痹方（十四）</h4>
<p>用土牛膝根。搗汁漱之。（對節方梗綠葉有紋者是）或用牽牛鼻繩燒灰吹之。</p>
<h4>咽喉閉塞方（十五）</h4>
<p>臘月初一取豬膽五六枚。用　黃連　青黛　薄荷　僵蠶　白礬　朴硝（各五錢）　裝入膽內。</p>
<p>待風</p>
<h4>碧雪丹（十六）</h4>
<p>（治一切風痹蛾癬。時行諸喉症。俱可用吹。已經潰爛者。倍珍珠。加珀琥四分。真金藤八分，俱要研細。）</p>
<p>土牛膝根（鮮者五兩干者七兩）　銀花葉（鮮者四兩干者六兩）　白蘿卜苗（四兩如無苗即用去以上四味。用囊盛之。入長流水。浸一宿取起。帶水磨。攪勻。澄清取粉。每粉一兩為一料遠志（八分去心甘草水泡）　僵蠶（甘草水泡去水上浮涎）　硼砂　真川貝　馬勃（各五分）</p>
<p>西（四分）</p>
<p>以上遠志。桔梗。丹皮。僵蠶。四位。用文火焙。余各生研。極細。無聲為度。並前粉和勻三厘</p>
<h4>十葉散（十七）</h4>
<p>芙蓉葉　荷葉　蕉葉　菊葉　銀花葉　紫蘇葉　柳葉　槐葉　冬桑葉　天名精葉各應時采鮮者風乾為末。候十葉備齊。等分和勻。瓷瓶收貯。猝遇喉症。外用蘆管吹之。內桔梗湯。或開水調下。每服七分。如遇無名火毒。　腫紅赤。兼可敷消。取井華水。</p>
<p>處。</p>
<h4>清咽抑火丸（十八）</h4>
<p>生地（六兩）　丹皮　麥冬　金果欖　元參（各四兩）　連翹（去心）　山梔（各二兩）</p>
<p>甘草（一兩五錢）　川黃連（五錢）</p>
<p>各取淨末和勻。煉蜜為丸。桐子大。每服三錢。開水下。</p>
<h4>口舌瘡方（十九）</h4>
<p>用黃連、炮薑灰、青黛、兒茶各等分。為末。摻之。</p>
<h4>舌方（二十）</h4>
<p>卒然舌大硬腫。咽喉腫閉。即時氣絕。名曰　舌。至危之症。急用皂礬。不拘多少。以新瓦草霜</p>
<h4>唇裂血出方（二十一）</h4>
<p>用黃柏末。以薔薇根汁調塗。</p>
<h4>骨槽風方（二十二）</h4>
<p>患在腮內牙根。形同貼骨疽者是。初起若誤認牙疼。多服生地石膏。以致爛至牙根。延爛咽湯犀黃退出。</p>
<p>散</p>
<h4>二陳湯（二十三）</h4>
<p>橘紅（五錢）　製半夏（二錢）　茯苓（一錢）　炙甘草（五分）</p>
<h4>陽和丸（二十四）</h4>
<p>肉桂（五錢）　麻黃（一錢五分）　薑炭（三錢）</p>
<p>取末。蜜水跌丸。如綠豆大。每服六分。和二陳湯內同煎。或送下。</p>
<h4>推車散（二十五）</h4>
<p>取推車蟲。炙研。每一錢。入乾薑末五分。研和吹。</p>
<h4>保元湯（二十六）</h4>
<p>肉桂（五分）　生黃　（四錢）　生甘草（八分）</p>
<p>若膿濃。接服陽和湯。（見前外症門二十二）</p>
<h4>棗甲生肌散（二十七）</h4>
<p>指甲（五錢）　用紅棗去核。逐個包甲。以長發（五錢）扎棗。同象皮薄片（五錢）瓦上炙。</p>
<p>溶成</p>
<h4>人中白散（二十八）</h4>
<p>（治男婦大小。口舌糜爛。走馬牙疳。並咽喉腫痛。牙床腐潰。等症。）</p>
<p>真青黛　硼砂　人中白　粉兒茶（各一錢）　元明粉　馬勃　龍腦　薄荷葉（各五分）　梅花冰共研勻。碾極細。擦之。如病甚者。可加西黃（三分）珍珠（五分）其效尤捷。咽喉病。</p>
<p>以蘆管</p>
<h4>牙痛分經治法煎方（二十九）</h4>
<p>生地　甘草　防風　熟石膏　荊芥　牡丹皮　青皮（各一錢）</p>
<p>上門牙屬心。加黃連（五分）麥冬（一錢）。下門牙屬腎。加黃柏知母（各一錢）。上邊牙屬胃。</p>
<p>加枳殼（活（各八分）。下左盡牙屬肝。加柴胡（五分）黃芩山梔（各七分）。</p>
<h4>牙痛漱口方（三十）</h4>
<p>生石膏末　麥冬（各五錢）　牛膝　青鹽（各一錢）</p>
<p>上四門牙心火。加條芩木通燈心。下四門牙腎火。加知母黃柏元參。左邊上牙膽火。加膽草脾火一方凡人無病。忽然齒長妨食。名曰髓溢。以白朮煎湯漱口即瘥。</p>
<h4>陰虛牙痛方（三十一）</h4>
<p>赤芍　元參（各一錢二分）　銀花（一錢）　生甘草（四分）</p>
<p>引加燈心一分。桂圓肉五枚。</p>
<h4>牙痛散（三十二）</h4>
<p>月石　火硝各等分。取淨末。每藥一兩。外加冰片三分。擦之。</p>
<h4>蟲牙散（三十三）</h4>
<p>雄黃（五錢）　蓽茇（八錢）　上冰片（八分）</p>
<p>各取淨末。和勻瓷瓶收貯。牙齒蟲蛀作痛用擦之。</p>
<h4>口舌糜腐方（三十四）</h4>
<p>大紅薔薇花葉晒乾。或隔水焙燥。（忌火炒）研末和冰片少許。搽擦。如冬月。無葉用根。</p>
<p>亦</p>
<h4>牙疳方（三十五）</h4>
<p>舊紅褐子（燒灰）　甘蔗皮（燒灰）　紅棗肉　壁　窩（土牆上者佳炙）　狗屎內骨頭（燒灰各七俱用陰陽瓦。焙為末。先將瘡。用米泔水煎洗。後用甘草湯候溫。洗淨。然後吹藥。</p>
<h3>耳目類</h3>
<h4>耳膿方（一）</h4>
<p>用胭脂（產濟寧州如銀朱樣紫色者可用棉胭脂油胭脂俱不可用）　枯礬（飛過者）　釘鏽粉。等</p>
<h4>耳後出血方（二）</h4>
<p>凡人耳後發際搔癢。小竅出血。用止血藥不效者。此名發泉。取多年糞桶箍。燒灰。敷之立</p>
<h4>治耳內干痛時或有膿耳外紅腫結KT方（三）</h4>
<p>內治服歸芍地黃丸。（即內症八號六味地黃丸加歸芍）銀花（八分）炒梔（五分）生甘草（三分）鉤外治用干胭脂（燒存性）枯礬（各五分）海螵蛸（一錢）麝香（一分）共為末。用鵝管吹入耳內。</p>
<h4>眼患效方（四）</h4>
<p>赤芍　銀花　白蒺藜（去刺）　丹皮　當歸　石決明（取九孔者火　）　蒙花（各一錢）</p>
<p>生地（羊肝（五錢如如翳障久患。不能常服煎劑者。照方。以分作錢。以錢作兩。外加生地（二兩）丹參（二兩）蟬用桑葉（四兩）</p>
<h4>清肺散（五）</h4>
<p>（治肺金氣盛克肝。黑珠連生白星。昏花澀痛。）</p>
<p>桑白皮　元參　薄荷　黃芩　白蒺藜（去刺）　紫蘇（各一錢）　白蔻仁（五分研）　甘草（三分）</p>
<p>水煎。食後服。</p>
<h4>滋腎飲（六）</h4>
<p>（治腎肝虛損。精血枯竭瞳人散大。目視無光。）</p>
<p>熟地（三錢）　天冬（二錢去心）　五味子（五分研）　枸杞子　川黃柏（青鹽水拌炒）</p>
<p>黑大豆（水煎。五更時服。</p>
<h4>推云散（七）</h4>
<p>（治風寒外侵。火熱內熾。肝竅不利。赤痛日久。漸生外障翳膜。）</p>
<p>防風　木賊草　秦皮　荊芥　羌活　白蒺藜（去刺炒）　蟬殼（去土）　僵蠶（去絲炒）</p>
<p>元參水煎。食遠服。</p>
<h4>偏風散（八）</h4>
<p>（治偏風。不拘左右。頭目疼痛。赤澀怕亮。惡風眼眶漸小。甚至害目。俗名半　頭痛。治之極效。）</p>
<p>蘇葉　羌活　防風　荊芥　蟬殼　川芎　細辛（各一錢）　柴胡（七分）　僵蠶（炒）　松蘿茶（加蔥頭三枚。水煎。半飢時。熱服。護暖取汗。避風一二日。</p>
<h4>眼中肉方（九）</h4>
<p>蛇蛻一條。以麻油炒黃色。勿使焦黑。加綠豆三合。炒。（真砂糖一兩。用水一碗。）煎成。</p>
<h4>眼瞠成漏方（十）</h4>
<p>凡眼下空處。生癤。出膿。流水不干。日久成漏。諸藥不應者。以柿餅。去皮。取肉。</p>
<p>搗爛</p>
<h4>洗眼方（十一）</h4>
<p>杏葉（十片）</p>
<p>無根水一碗。煎八分。澄清洗之。洗至一年。目如童子。</p>
<p>洗目日期正月（初八）　二月（初十）　三月（初五）　四月（初一）　五月（初五）　六月（初七）　七月（初如遇閏月。照前月日期。若用桑葉。不若銀杏葉之妙。</p>
<h4>眼中堆起肉翳方（十二）</h4>
<p>向屠戶取豬鼻頭上尖。沿邊一道皮。　研為末。用好酒。每早下三錢。兩日後退淨。</p>
<h4>眼內白珠夾起紅翳方（十三）</h4>
<p>用羚羊角。磨四分。杭菊花六分。煎湯調下。三四服。自退。</p>
<h4>昏花眼方（十四）</h4>
<p>用童便。浸菊花洗之。</p>
<h3>跌打傷損類</h3>
<h4>跌傷接骨方（一）</h4>
<p>用大活蟹一只。腳爪全。搗爛。沖熱酒。盡量飲醉。再以渣罨患處。半日。骨內有聲。</p>
<p>即接五分一方治跌打閃挫傷損不出血。但外有青腫紫色者。先用蔥白搗爛。炒熱敷痛處。隨用生大黃</p>
<h4>跌打接骨敷藥方（二）</h4>
<p>（此方百試百驗。不可輕視。勿以藥料甚賤。而忽之也。）</p>
<p>梔子（炒黑）　面（各三錢）　生軍（不可見火）　沒藥（各二錢）　劉寄奴　薄荷骨　川烏草烏各藥槌爛。加醋一小杯。和勻。炒熱。敷患處。外骨斷處。用夾板夾緊。對時一換。若傷骨醋。</p>
<p>一方治跌打損傷。碎骨在皮內作膿。用田螺捶爛。加酒糟同搗。四圍敷上。中留一孔。</p>
<p>其骨</p>
<h4>止血定痛散（三）</h4>
<p>（治跌打損傷。皮破血流。）</p>
<p>真檀香　陳礦灰　雲苓（各一兩）　蟬蛻（去頭足水飛）　蛇蛻（去頭足水飛）　生半夏（各三錢）</p>
<p>研細末。無聲為度。瓷瓶收貯。遇跌傷。取末糝患處。立可止血定痛。結痂後。用真麻油調</p>
<h4>生肌定痛散（治同前）（四）</h4>
<p>真紫檀香　丹參　雲苓（各一兩）　降香　遠志（各五錢）　琥珀　血蠍（各三錢）</p>
<p>取末和勻糝患處。止血定痛。如傷手傷風。延蔓橫害。每藥末一錢。加蟬蛻蛇蛻各三厘。</p>
<p>糝一方治跌打損傷。皮破血出。倉猝不及用藥。取真白蠟。淨白糖霜各等分。研細糝破處。</p>
<p>立</p>
<h4>金刀散（五）</h4>
<p>（治一切跌破血流不止。及刀斧所傷。用之止血定痛生肌。）</p>
<p>松香　夏果　劉寄奴各等分為細末。和勻。糝傷處。</p>
<h4>刀斧傷出血不止方（六）</h4>
<p>用陳鍛石同韭菜搗爛。陰乾研細。每末一兩。加紫黑降香節。銼三錢。和勻。糝患處。</p>
<p>立刻</p>
<h4>金瘡血出不止方（七）</h4>
<p>用紫黑降香節。銼末微炒。出汗。五倍子打碎炒黃色。各等分。為細末。糝之。</p>
<h4>破傷手足方（八）</h4>
<p>用自己小便。淋傷處。雖痛甚。立止。</p>
<h4>外科膏子（九）</h4>
<p>（治一切跌打損傷。湯火傷爛。將翎毛塗上。即愈。）</p>
<p>麻油（八兩）　雞蛋黃（一個）　頭發（三錢）　朱砂（水飛）　銀朱（各一錢水飛）　黃蠟（六錢）先將油。入無硝硫砂鍋內。文火煎。後入蛋黃。熬化盡。再入頭發剪寸長。以箸順攪。</p>
<p>化盡</p>
<h4>從高墜下跌悶不醒方（十）</h4>
<p>甘松　三柰　白芷等分為末。每服一錢二分。滾水灌下。立蘇。</p>
<h4>接骨入骱方（十一）</h4>
<p>骨碎補　川續斷　威靈仙（各一兩）</p>
<p>用陳酒二斤。煎數沸濾清。隨量熱飲之。以盡醉為度。並將藥渣搗爛。熨揉傷處。扎三日愈</p>
<h4>一綠散（十二）</h4>
<p>（治打撲傷損眼泡。赤腫疼痛。）</p>
<p>芙蓉葉　生地各等分。共搗爛。敷眼泡上。或為末。以雞蛋清調勻。敷亦可。</p>
<h4>七厘散（十三）</h4>
<p>（治一切跌打傷損。樹木山石傷折。）</p>
<p>歸尾（二兩）　兒茶（六分）　朱砂　乳香　沒藥（各二錢八分）　紅花　雄黃（各八錢）　冰片各為極細末。和勻。以瓷瓶收貯。每服七厘。燒酒調。百花酒送下。並用酒調敷傷處。</p>
<h4>參紫金丹（十四）</h4>
<p>（此丹提補元氣。健壯脾胃。止渴生津。增長精神。和通筋血。傷重而氣虛者。</p>
<p>之。）</p>
<p>上黃　（炙）　黨參（各四兩）　丁香　當歸（酒洗）　血竭　骨碎補　北五味（各一兩）　五加皮煉蜜為丸。每服三錢。早晚淡黃酒化服。童便亦可。</p>
<h4>三黃寶蠟丸（十五）</h4>
<p>（專治跌打損傷。刀箭槍傷。一切棒瘡破損。風傷刑傷。急血奔心。及瘋犬毒蟲馬。瘀血凝滯。痰迷心竅。危在頃刻。諸險症。）</p>
<p>天竺黃（天竺黃乃竹之精液結成如黃土著竹成片者是）　紅芽大戟　劉寄奴　血竭（各三兩）</p>
<p>硝（一兩）藤黃（四兩用秋露水隔水滾十數次去浮沉取中將山羊血拌入晒乾）　山羊血（一兩研細入藤黃上藥各為細末。分兩要足。如無真天竺黃。即以九轉膽星三兩。並醋炙瓦楞子一兩代之。</p>
<p>用器如藥</p>
<h4>琥珀丸（十六）</h4>
<p>（治跌打損傷。五臟有瘀血在內。不能飲食。不大便者。）</p>
<p>大黃（酒炒）　桃仁（去皮尖）　蘇木（搗末）　薑黃（各二兩）　朴硝　檳榔　黑丑（半生半熟）</p>
<p>桂烏藥（各五共為極細末。將朴硝化水。去渣。面糊為丸。綠豆大。朱砂為衣。每服三錢。大便行三次後</p>
<h4>內傷酒藥方（十七）</h4>
<p>（治跌打及勞傷太過。腹脅腰膝。筋骨肢體。疼痛無力。不拘遠年近日。男女老效。）</p>
<p>紅花　桃仁（炒）　秦艽　續斷　廣木香　砂仁（炒）　牡丹皮　威靈仙（各一兩）　當歸五加（各二兩）</p>
<p>擇道地藥。制過。晒乾。用陳酒二十斤。將一半。同藥隔湯煮大線香三炷。待冷定取開。將所存之酒。沖入封固。每日早晚。隨意溫服一二杯。</p>
<h4>熨方（十八）</h4>
<p>（凡跌打損傷。不論新久。先用此方熨傷處。輕者不必再用藥。重者先用此方。再擦藥服藥更妙。）</p>
<p>面皮（一斤做面筋洗下者便是）</p>
<p>干炒熱。用　包噴酒在　上熨。再噴再熨。俟血脈行動。再擦藥服藥。則更效。傷重者。</p>
<p>先</p>
<h4>治打綿臀方（十九）</h4>
<p>以錫箔用無根井水濕過。鋪杖處。以手掌著力拍打即消。</p>
<p>一方用木耳四兩。炒黃為末。蜜調敷患上。</p>
<h4>棒瘡膏（二十）</h4>
<p>用麻油四兩。煎滾。入雞子黃三個。熬枯撈去。再入洗淨血余五錢。又熬枯撈去。下白蠟五</p>
<h4>杖瘡方（二十一）</h4>
<p>杖畢。即用童便。陳酒各一鐘。和勻。溫服。免血衝心甚妙。即用蔥。切爛炒熱。搭杖處。</p>
<p>其氣</p>
<h4>杖後敷藥方（二十二）</h4>
<p>樟冰（七錢五分）　生大黃（末七錢）　生半夏（末三錢）</p>
<p>生豬油搗和。攤草紙上。貼之。扎緊。一宿。用蔥椒湯洗。</p>
<h4>夾棍傷方（二十三）</h4>
<p>急用熱童便一桶。將足浸之。如冷。用燒紅磚二塊。淬之即熱。直浸至童便面上。浮起白油內五錢（）。共為末。用牛膝一錢五分。煎酒調下。三錢。</p>
<h4>內傷久發方（二十四）</h4>
<p>凡跌仆夯傷。胸脅腰肋等處。並肩挑負重。失足蹬筋。初時不覺。延至經年累月。忽後疼痛毒。</p>
<p>湯頓三</p>
<h2>卷三</h2>
<h3>婦科門</h3>
<p>婦人之症。與男子同。而有不同者。立天之道。曰陰與陽。立地之道。曰柔與剛。婦人之不血孕何慘</p>
<h4>益母丸（一）</h4>
<p>（治婦人赤白帶下。惡露淋漓不止。及胎前產後諸症。）</p>
<p>益母草（方梗對節生葉葉類火麻四五月間開紫花是白花非）</p>
<p>於五月間。采取晒乾。連根莖葉。勿犯鐵器。磨為細末。煉蜜丸。如彈子大。每服一丸。</p>
<p>用熱酒和童便化下。若臨產時。倉卒未合。只用生益母草。搗汁。入蜜少許。服之。其效甚大。或用砂鍋。文武火。熬成膏。如黑砂糖色。入瓷罐收貯。每服二三匙。或酒或童便。調下。亦妙。</p>
<h4>歸神湯（二）</h4>
<p>（治婦人夢交盜汗。心神恍惚。四肢乏力。飲食少進諸症。）</p>
<p>黨參（二錢）　白朮（一錢半）　白茯苓　歸身（各一錢）　炒棗仁　陳皮（各八分）　甘草（五分）</p>
<p>上羚羊角、琥珀、二味不煎。余藥煎熟去渣。入二末和勻。食前服。</p>
<h4>八珍養血丸（三）</h4>
<p>（治月候不調。赤白帶下。皮寒骨熱。肢體倦怠。並一切崩淋干血等症。）</p>
<p>上炙　大生地　白朮　丹參（各三兩）　當歸　陳阿膠　茯神　雲茯苓　白芍（各一兩五錢）</p>
<p>各取末。杜仲十兩熬膏。和煉蜜為丸。每服四錢。淡酒下。如症勢重者。早三錢。薑湯下。</p>
<h4>加味歸脾丸（四）</h4>
<p>（治脾不統血。以致妄行。並心悸怔忡。胃口不調。飲食不香。陰虛寒熱以及產經行乖舛諸症。）</p>
<p>黨參　黃　（炙）　白朮（炒）　雲苓　炒棗仁（各二兩）　遠志　當歸（各一兩）　廣木香（煨）</p>
<p>各取末。用桂圓肉四兩煎汁。小紅棗六兩。去皮核。煮爛和丸。每服二錢。早服。鍋焦粉湯</p>
<h4>一味生新飲（五）</h4>
<p>（治干血癆症。）</p>
<p>全當歸（五錢酒洗）</p>
<p>水酒各半。濃煎。分早晚服。半月取效。前症由於先天不足。兼之七情所傷。照方服。</p>
<p>加湯丸並</p>
<h4>一味厭紅散（六）</h4>
<p>（治血崩不止。）</p>
<p>陳棕（三錢燒灰存性）</p>
<p>陳酒調下。前症由氣不攝血。照方服。加用補中湯。（見內症十號）八珍湯。（見內症十三）相</p>
<h4>種玉酒（七）</h4>
<p>（治婦女經水不調。氣血乖和。不能受孕。或生過一胎。停隔多年。服此藥酒百日。</p>
<p>即能懷孕。如氣血不足經滯痰凝者。服至半年。無不見效。受胎後加服泰山磐石散。（見後全當歸（五兩切片此能行血養血）　遠志肉（五兩用甘草湯洗此能散血中之滯行氣消痰）</p>
<p>上二味。用稀夏布袋盛之。以甜三白酒十斤浸之。七日為度。每晚隨量溫飲之。慎勿間斷將</p>
<h4>蕎脂丸（八）</h4>
<p>（凡閨女在室行經。並無疼痛。及出嫁後。忽患痛經。漸至滋蔓。服藥罔效。此乃少新娘。男女不知禁忌。或經將來時。或行經未淨。遂爾交媾。震動血海之絡。損及衝任。</p>
<p>致瘀滯凝結。每致行經。斷難流暢。是以作疼。名曰逆經痛。患此難以受孕。醫不明此。</p>
<p>寒猜熱。論虛論實。混治無效。惟投以此方多神應。痛止經調。俱得產育。）　蕎麥（五升淘去灰晒燥磨節去粗皮取淨面聽用蕎麥補衝任脈絡且兼化瘀滯）　畫邊胭脂（二兩此系蘇木茜草紅花佐以烏梅煎染綿繭而成取其溫潤之氣威而不猛。）</p>
<p>上將畫邊胭脂。煎濃汁。搗和蕎麥淨面為丸。如桐子大。每早服五錢。開水下。忌食豬肝羊</p>
<h4>一味利關散（九）</h4>
<p>（治赤白沙淋諸症。）</p>
<p>真赤茯苓五錢為末。空心豆腐漿調下。</p>
<h4>一味歸經飲（十）</h4>
<p>（治月經逆上。出於口鼻。）</p>
<p>韭汁一小杯。和童便溫服。吐血咯血昏暈等症。服此方亦能取效。</p>
<h4>探胎飲（十一）</h4>
<p>（婦人經水不來三月疑似用此驗之。）</p>
<p>川芎（不拘多少為末不見火）</p>
<p>空心煎艾湯調下五分。覺腹中動。則有胎也。臍之下血動者。乃血瘕也。不動者。血凝也。</p>
<h4>泰山磐石散（十二）</h4>
<p>（治婦人氣血兩虛。或肥而不實。或瘦而血熱。或肝脾素虧。怠惰少食。屢有墮此方和平。兼養脾胃氣血。覺有熱者。倍黃芩。少用砂仁。覺胃弱者。多用砂仁。</p>
<p>更宜戒惱怒欲事。屏酒醋辛熱之物。可保無墮。）</p>
<p>黨參（焙）　糯米（各三錢）　黃　（蜜炙）　川斷　黃芩（各一錢）　川芎　甘草（蜜炙）　砂仁（白水煎服。但常有孕。隔三五日。常用一服。過四個月。方保無虞。其藥渣可傾入河池內。</p>
<h4>千金保孕丸（十三）</h4>
<p>（治妊婦腰背痛。慣墮胎。服此可免半產之患。）</p>
<p>川續斷（二兩酒拌炒）　濃杜仲（四兩切片用白糯米炒斷絲）</p>
<p>上共為末以山藥四兩糊丸。如桐子大。每服八九十丸。用米湯空心送下。戒惱怒。忌食酒醋徐東皋曰。婦女凡懷胎兩三月。慣會墮落。名曰小產。此由體弱。氣血兩虛。臟腑火多。</p>
<p>血煎郁胎</p>
<h4>護胎飲（十四）</h4>
<p>（治經虛漏胎。）</p>
<p>川芎（六分）　歸身　炒白芍　雲苓（各一錢）　上黨參（蜜炙）　大生地（炙各三錢）</p>
<p>焦白朮（一分）</p>
<p>南棗產。</p>
<p>亦能平善</p>
<h4>安胎飲（十五）</h4>
<p>（妊娠五七個月。用數服可保全產。）</p>
<p>黨參　白朮　當歸　熟地　川芎　白芍　陳皮　炙甘草　紫蘇　炙黃芩（各一錢）</p>
<p>引加薑五分。白水煎服。</p>
<h4>銀苧酒（十六）</h4>
<p>（治妊娠胎動欲墮。腹痛不可忍。及胎漏下血。）</p>
<p>苧根（二兩）　紋銀（五兩）　酒（一碗）</p>
<p>如無苧之處。用茅草根五兩。加水煎之。如不善飲者水煎。加酒飲之亦可。</p>
<h4>益母地黃湯（十七）</h4>
<p>（治妊娠跌墜。腹痛下血。）</p>
<p>黃　（炒）　生地　益母草　當歸（各二錢）</p>
<p>引加薑二分。白水煎服。</p>
<h4>束胎丸（十八）</h4>
<p>（懷胎七八個月。恐胎氣展大難產。用此扶母氣。束兒胎。自然易產。然必胎氣強盛者乃可服。）</p>
<p>條黃芩（酒炒勿太熟冬月一兩夏月半兩）　白朮（三兩）　陳皮（二兩）　白茯苓（七錢五分）</p>
<p>上為末。粳米粥糊丸。桐子大。每服五十丸。白湯下。</p>
<h4>芎歸補中湯（十九）</h4>
<p>（治氣血俱虛半產。）</p>
<p>川芎　炙黃　當歸　白朮（炒）　黨參　白芍（炒）　炒杜仲　炒阿膠（各一錢）　艾葉（二分）</p>
<p>白水煎服。</p>
<h4>保安煎（二十）</h4>
<p>（治婦人難產。橫生逆產。以致六七日不下者。或嬰兒已死腹中。命在垂危。照方服立刻即下。保全母子兩命。服之無不效驗。此方異人所授。愿以救世活人每見收生穩婆手取割。立傷產婦。深可惻憫。切忌切忌。如臨月二三日前覺行走動履不安。預服一劑保萬全。此方屢試屢驗。活人無數矣。）</p>
<p>當歸（酒洗）　川芎（各一錢五分）　厚朴（薑汁炒）　蘄艾（各七分）　菟絲子（一錢四分）</p>
<p>川貝炒白芍（水一鐘。薑三片。煎八分。預服者空心服。臨產者隨時服。</p>
<h4>固元飲（二十一）</h4>
<p>（治妊娠三月後。胎動下血。或因傾跌欲墮。服此俱可保安。）</p>
<p>大生地（四錢）　川芎（六分）　歸身　川續斷　雲苓（各二錢）　炒白芍　制杜仲　丹參（各一白朮（一錢三分）　炙草（四分）煎成。加淡酒半小杯沖服。胎生者安。如已死腹中。方去川續斷。</p>
<p>加敗龜板（三錢炙）、血余</p>
<h4>一味通瘀飲（二十二）</h4>
<p>（治小產後惡露不行。小腹脹痛等症。）</p>
<p>丹參（六錢酒浸一宿炒）</p>
<p>每取二錢煎成一小盞。和入童便淡酒各半小杯。更加薑汁一滴。每早服一次。三次為度。</p>
<p>凡兼進</p>
<h4>疏解散（二十三）</h4>
<p>（治妊娠傷寒初起。項強惡寒肢冷骨節酸痛身體倦怠。默默不語。投是藥一劑。肢體和。得汗未透。再一劑自然汗解。解後無庸他藥。服芎歸。（見前十九號）八珍。（見內症三）等湯。數劑。可以保安。如他症悉除。惟余煩渴。投加味逍遙散（見內症二六）二劑愈。）</p>
<p>川芎（一錢）　全歸（二錢）　建曲　夏曲　生黃　（各一錢五分）　砂仁（四分）　枳殼（炒）</p>
<p>防引煨薑一片。蔥白三錢。</p>
<h4>正氣飲（二十四）</h4>
<p>（治妊娠瘧。）</p>
<p>荊芥（炒）　川芎（各八分）　當歸　建曲　夏曲　赤芍（各一錢五分）　蒼朮（炒）　白朮（各二（四分尖）</p>
<p>引加薑皮（二分）蔥白（三寸）二劑後。瘧發漸早漸輕。去蔥白、桂枝、荊芥、枳殼、建曲、夏曲。加黨參、大生地、法製半夏（各三錢）、柴胡（六分）、炙甘草（八分）、引去薑皮。換薑（一錢五分）。瘧先時服。二劑應止。如未止。日進芎歸湯。（見前十九）一劑。瘧先時投五福飲（見內症十七）一劑。自然漸止。止後投八珍湯（見內症十三）數劑。可以保安。</p>
<h4>祛邪化滯煎（二十五）</h4>
<p>（治妊娠痢。）</p>
<p>川芎　黃芩（各八分）　當歸　炒白朮（各一錢五分）　建曲　夏曲（各二錢）　藿梗　雲苓（各一錢）　赤芍（一錢二分）　煨木香（四分）　炙草（三分）引加薑皮（半分）、砂仁殼（二分）、冬瓜皮（五分）投二劑化滯祛邪。和調營衛。痢應可止。如未止。用歸芍六君湯。（即前內症二二香砂六君湯去藿香砂仁換當歸白芍各一錢）和入香連丸（見內症五九）</p>
<p>一錢。服三五劑自愈。愈後加服八珍湯（見內症十三）數劑。</p>
<h4>疏風利陰煎（二十六）</h4>
<p>（治產婦中風。不省人事。口吐涎沫。手足螈　。）</p>
<p>歸身（四錢）　荊芥穗（一錢五分）</p>
<p>上藥為末。每服二錢。水一盞。酒童便各一小杯。煎成灌之。下咽即解。</p>
<h4>萬應無憂散（二十七）</h4>
<p>（胎前臨產之月。間一日服一劑。臨產時。有力之家。照方加好人參七分。無力上炙黃　二錢。）</p>
<p>當歸身（三錢）　焦術　炒黃芩（各一錢五分）　廣皮（五分）　益母草　大熟地（各二錢）　大川</p>
<h4>紫氣丹（二十八）</h4>
<p>（治橫生逆產難產者。）</p>
<p>全當歸（一兩）　川芎　柞樹皮（各五錢）　紅花（二錢）　炙黃　（三錢）　敗龜板（一個炙）照分兩每料蜜成三丸。</p>
<p>每服一丸。丹參二錢煎湯服。若膏粱體弱甚加人參二錢。藜藿體不加即產也。</p>
<h4>佛手散（二十九）</h4>
<p>（治懷孕六七個月。因跌磕傷胎。腹中疼痛。口噤昏悶。或心腹飽滿。血上衝心。及後腹痛發熱頭疼諸症。）</p>
<p>當歸（五錢）　川芎（三錢）水一盞。酒一小杯。同煎。照服一二劑。胎生者安。胎死者下。</p>
<p>如橫生倒產。子死腹中者。</p>
<p>如黑馬料豆五錢炒焦。乘熱淬入酒水中。加童便一杯煎服。</p>
<h4>當歸芍藥湯（三十）</h4>
<p>（治妊娠心腹急痛。或去血過多。眩暈等症。）</p>
<p>當歸　白芍（炒）　白朮（炒）　茯苓　澤瀉（各一錢）　川芎（二錢）　白水煎服。</p>
<h4>加味芎歸湯（三十一）</h4>
<p>（治分娩交骨不開。或五七日不下垂死者。）</p>
<p>生過男女婦人發（三錢燒灰存性）　自死龜板（一個炙酥用）　川芎（七錢）　當歸（一兩）水煎服。不問生死胎俱下。</p>
<h4>仙傳通津救命至靈丹（三十二）</h4>
<p>（治裂胞生。及難產數日。血水已干。產戶枯澀。命在垂危者。服之神桂圓肉（六兩去核）　生牛膝梢（一兩用酒一杯浸搗爛）將桂圓肉煎濃汁。沖入牛膝酒內服之。停半日即產。</p>
<h4>平胃散（三十三）</h4>
<p>（治胎死腹中。其舌多見青黑。口中甚穢而嘔。腹中不動。只覺陰冷重墜者是。）</p>
<p>厚朴（薑汁炒）　陳皮（各三錢）　朴硝（五錢）　炒甘草（一錢二分）　蒼朮（三錢米泔水浸去皮出。萬不一方用朴硝末三錢。以熱酒和童便調服。立下。或用佛手散（見前二九）調服。亦妙。</p>
<h4>陽和生化湯（三十四）</h4>
<p>（治產後惡露不行。兒枕作痛。並一切血暈諸症。是方一產下。即服之。留渣再時不論冬夏。人不論強弱。俱宜照服。切勿加減。小產亦宜照服。）</p>
<p>當歸（五錢）　炙草（五分）　炮薑（四分）　川芎（二錢）　丹參（一錢五分）　桃仁（九粒去皮尖）</p>
<h4>紫霞丹（三十五）</h4>
<p>（治產後血暈驚風。一切危症。）</p>
<p>熟地　川芎（各四錢）　當歸（八錢）　黑荊芥（一錢炒）　炮薑（五分）　丹參（一錢五分）</p>
<p>桃仁一方治產後血崩大下不止。用蒲黃炒黑為末二錢。以川芎當歸各二錢煎湯調服。</p>
<p>一方治產後血不止。用百草霜（取燒野草者）一錢。酒調和入八珍湯（見內症十三）內溫服。</p>
<p>一方治產後昏暈。急將亂髮浸陳醋燒於床前。立蘇。即取童便一碗溫服。可保無虞。</p>
<h4>養營惜紅煎（三十六）</h4>
<p>（治產後鼻中流血不止。）</p>
<p>歸尾（三錢）　川芎（一錢五分）　荊芥穗（一錢炒黑）　血余灰（五分）煎成。加陳京墨酒磨汁半小杯。童便一小杯。和溫服。</p>
<p>一方用本人頂心發（三五莖）紅絨線（三五莖）合扎右手中指節上。令極緊即止。此乃瘀血逆行</p>
<h4>華佗愈風散（三十七）</h4>
<p>（治產後中風。口噤手足抽掣。角弓反張。或血暈不省人事。四肢強直。或心吐瀉欲死。）</p>
<p>荊芥穗（除根不用焙乾為末）</p>
<p>每服三錢。童便調服。口噤則挑牙灌之。齦噤則不必研末。只將荊芥用童便煎。俟微溫。</p>
<p>灌一方用黑豆五錢。炒至煙起。再入連根蔥頭五個。同炒。隨入好酒一杯。水一盞。煎成溫服</p>
<h4>邪滯雙解散（三十八）</h4>
<p>（治產後瘧。）</p>
<p>川芎（六分）　當歸　建曲　夏曲　炒蒼朮（各一錢五分）　枯穀芽　炒白芍　藿香葉（各一錢）</p>
<p>木三分。二劑後。瘧來已正。方內加升麻炙柴胡各四如未止。再投二劑。接服休瘧飲（見內症五四）與漸愈。</p>
<h4>快脾飲（三十九）</h4>
<p>（治產後痢。）</p>
<p>當歸　建曲　夏曲（各一錢）　老蘇梗（四分）　赤苓塊（二錢）　丹皮（八分）　藿梗（六分）</p>
<p>淡廣皮（七分）、丹參（二錢）、砂仁殼四劑。</p>
<p>取和解而愈。</p>
<h4>當歸補血湯（四十）</h4>
<p>（產後大補陰血。退血虛發熱如神。）</p>
<p>黃　（一兩蜜炙）　當歸（三錢）水二碗。煎一碗。一服立愈。分兩不可加減。</p>
<h4>通脈湯（四十一）</h4>
<p>（治乳少。或無乳。）</p>
<p>生黃　（一兩）　當歸　白芷（各五錢）七孔豬蹄一對。煮湯。吹去浮油。煎藥一大碗服之。</p>
<p>覆面睡即有乳。或未效。再一服無不通體壯者加好紅花五分。以消惡露。</p>
<p>一方用雄豬白胰一個。切碎。炒半熟。沖入黃酒一碗。頓熱空心連胰服之。兩三次效。　是方體壯者宜之。</p>
<p>一方用赤小豆（四錢）煎湯頻飲。即通。　是方體弱者宜之。</p>
<h4>吹乳飲（四十二）</h4>
<p>（治乳癰初起。）</p>
<p>蒲公英（一兩）　金銀花藤（二兩）搗汁。和熱酒服。留渣敷患處。</p>
<h4>開鬱流氣散（四十三）</h4>
<p>（治乳硬如石。）</p>
<p>槐花（三錢炒）　遠志（三錢）</p>
<p>上為末。每日陳酒調服。半月取效。外用遠志蔥蜜餅敷之。（遠志蔥蜜餅敷法。見外症六號</p>
<h4>益血和中散（四十四）</h4>
<p>（治乳岩乳癤初起。）</p>
<p>用敗龜板　存性。每服三錢。糖拌。好酒送下。盡醉。即消。</p>
<h4>托裡散（四十五）</h4>
<p>（治乳　潰爛。至見臟腑。）</p>
<p>雄鼠糞（兩頭尖者是炒）　露蜂房（　）　土楝樹子（經霜者炒川練不用）</p>
<p>上等分為末。每服三錢。酒下。間三日一服。數日膿盡。瘡口漸收。</p>
<h4>治妊娠小便不通</h4>
<p>腹脹如鼓。數日垂死。用豬脬吹脹。以鵝毛管子安上。插入陰孔。捻脬氣後。加服補中湯（見前內症十）一二劑。</p>
<h4>治產後陰翻</h4>
<p>用澤蘭葉五錢。煎濃湯熏洗。即收。</p>
<h4>治產後陰腫</h4>
<p>此症皆因下體受風。形似生毒。紅赤腫疼。用蔥白（一兩）研膏。入乳香（一錢）</p>
<p>敷貼患處。即消。</p>
<p>一方用羌活防風各一兩。煎湯熏下體。亦消。</p>
<h4>治子腸不收</h4>
<p>用蓖麻仁（十四粒）研膏。敷頭頂心。腸收上。即速去之。去之不速。恐生變異慎之慎之。</p>
<h4>治產後肉線下垂</h4>
<p>此症因產婦用力太過垂出肉線。痛徹心脾。急搗連皮老薑三斤。入麻油二以熟絹。盛起肉線。納入產戶。乃以絹袋盛薑。就近熏之。冷則更換。漸次縮二日可愈。斷則不治。</p>
<h4>治乳脹不回</h4>
<p>用大麥芽炒黃。煎服。神效。</p>
<h4>治乳懸怪症</h4>
<p>產後兩乳忽長。細小如腸。垂過小腹。痛不可忍。用川芎當歸各二錢濃煎頻服味燒熏。令病者吸之。又以蓖麻子一粒。研爛。貼其頭頂。當漸收上。既收復舊。</p>
<p>蓖麻子。</p>
<h3>附錄達生論</h3>
<p>臨產六字真言。一曰睡。二曰忍痛。三曰慢臨盆。</p>
<p>初覺腹痛。先自家拿穩主意。要曉得此是人生必然之理。極容易之事。不必驚慌。但看痛一慢。</p>
<p>若認此時第一忍疼為主。不問是試痛。是生產。忍住疼。照常吃飯睡覺。痛得極熟。自然易生。</p>
<p>至囑替不到此時必要養神惜力為主。能上床安睡。閉目養神最好。若不能睡。暫時起來。或扶人緩行小以無論遲早。切不可輕易臨盆用力。切不可聽穩婆說孩兒頭已在此。以致臨盆早了。誤盡大事母不產門或曰。大便時亦須用力。如何生產不用力。不知大便呆物。必須人力。小兒自會轉動。</p>
<p>必要腹中兒未用力亦萬萬不可用力。然亦非全不用力。但當用力。只一盞茶時耳。其余皆不可亂動者也。即如大便。未到其時。縱用力亦不能出。而況於人乎。</p>
<p>或問何以知此一盞茶時而用力乎。曰。此時自是不同。若小兒果然逼到產門。則渾身骨節疏臨盆跳動下便或曰。早一時斷乎不可矣。不知遲了一時。可不妨否。曰不妨。若果當其時。必無不出之理少或曰。倘或兒到產門。而大人睡下。豈不有礙。曰更好。蓋小兒向下時。而大人坐立。</p>
<p>則小他或曰。不宜用力。已聞教矣。不知先誤用力。以致橫生倒產。有法治之否。曰。急令安睡。</p>
<p>曰之曰或曰。盤腸生是何緣故。曰。用力之過。蓋因產母平日氣虛。及到臨時。用力努掙。渾身氣得有或曰。穩婆不必用乎。曰。既有此輩。亦不能不用。但要我用他。不可他用我。全憑自家作熟。</p>
<p>一等稍房中只要曾生育過老嫗二人。有氣力。抱腰女人二名。或一人靜以守之。米粥時進。以飽為度。</p>
<p>或問服藥有益無損否。曰。安得無損。鼠兔二丸。大耗氣而兼損血。回生丹大破血而兼損氣損多血如世或曰。依此言。世間總無難產者耶。曰。偶亦有之。或因母太虛。胎養不足。血氣不完。</p>
<p>或火氣衣或問臨產時。飲食如何。曰。此時心內憂疑。腹中疼痛。甚至精神疲困。口中失味。全要好之。</p>
<p>豈冬月天冷。產母經血。得冷則凝。致兒不能下。此害最深。故冬月生產。下部不可脫去棉衣暖則盛夏。產婦宜溫涼得宜。不可過涼。致增疾病。不可人多。熱氣逼襲。令產母心煩。熱血沸將產。最戒曲身眠臥。雖甚腹痛。宜強為踮立。散步房中。或憑幾立。切戒曲腰。以阻兒轉難產而動子結凡手先出。名曰橫生。足先出。名曰倒生。救法。急令產母仰臥。略以鹽塗兒手心足心。</p>
<p>仍以香油抹之。輕輕送入。即便自轉順生。不可任其久出。久則手足青而子傷。難以送入。</p>
<p>亦不可妄用催生方藥。蓋手足之出。非藥可治。又切勿誤聽凶婦。用刀斷手。一斷。子必腹中亂攪而傷母矣。</p>
<p>或問試痛何故。曰。兒到七八個月。手足五官全備。已能動彈。或母腹中有火。或起居不時然安月才生生足。</p>
<p>寒及或問何以知其試痛。曰。只看痛法一陣緊一陣者正生也。一陣慢一陣。或乍緊乍慢者。</p>
<p>皆試或問傷食受寒。何以辨之。曰。傷食者。當臍而痛。手按之更痛。或臍旁有一梗。寒痛多在或問將試痛。認作正生。其害如此。倘將正生。認作試痛。以致過時。不亦有害乎。曰。</p>
<p>無如大全方曰。婦人懷孕。有七八個月生者。有一年二年乃至四年而後生者。不可不知。</p>
<p>朱丹溪先生云。產後以大補氣血為主。雖有他症。以末治之。</p>
<p>陳無擇曰。兒下時。切不可遽然平臥。必須靠坐良久。俟惡露下行。方可安臥。不然。</p>
<p>恐血以黃其暖枕流子曰。交骨不開。多因用力太早。逼兒頭在戶口也。但數日不下者。服藥後。閉目靜養雖屬宜節孕已知覺。即宜用布一幅。六七寸闊。長視人肥瘦。約纏兩道。橫束腰間。直至臨盆之時。</p>
<p>且常可任五無論胎墮。子母不保。幸而生育。必有胎驚臍風之病。多致夭折。萬一成人。恆遭顛癇惡疾。藥不能療。與其生後疼愛。不若胎中保護。慎之慎之。</p>
<p>一受胎後。不可登高上梯。恐傾跌有損。不可伸手高處取物。恐胎傷而子啼腹中。如子腹中生男生女。夫命所招。與婦何干。倘或連胎生女。不可在旁咨嗟嘆息。令其氣苦。致病傷生產後莫妙於熱酒對童便。或腹痛甚。用陽和生化湯。無不愈者。再用馬料豆。炒至煙出。</p>
<p>用或問產後胞衣不下。乃極惡之症。可以損命。有諸。曰不妨。不必服藥。亦不必驚恐。</p>
<p>若胞剪斷向下下矣之。</p>
<p>小產重於大產。一切調理並如產後法。</p>
<p>薛立齋先生云。小產重於大產。大產如粟熟自脫。小產如生采。破其皮殼。斷其根蒂也。</p>
<p>但小產數日後。忽然渾身大熱。面紅眼赤。口大渴。欲飲涼水。晝夜不息。此血虛之症。</p>
<p>宜用</p>
<h2>卷四</h2>
<h3>兒科門</h3>
<p>赤子初生。百脈未周。賴母乳哺之。而其膚革未充。精髓未滿。恆易招客忤。究其根原。</p>
<p>有病長輯</p>
<h4>小兒初生集要十則</h4>
<p>一小兒初生。先濃煎黃連甘草湯。用軟絹。或絲綿包指。蘸藥。摳退場門中惡血氣。或不及。</p>
<p>一小兒生下。不出聲者。急看上　有泡。即用銀簪挑破。絲棉拭去血。勿令入喉。可活。</p>
<p>一方切不可斷臍。以棉衣包兒。用火紙捻燒臍。待兒氣轉回。方可斷臍。</p>
<p>一兒生未乳之前。用淡豆豉。濃煎與服。可下胎毒。最妙。乳後亦可服。且能助養脾氣。</p>
<p>消一初生小兒。不尿。乃胎熱也。取大蔥白。切四片。取乳汁半盞。同煎片時。分作四服。</p>
<p>即一初生小兒。大小便不通。以致腹脹欲死。急令人以開水漱口。吸咂兒前後心。並手足心。</p>
<p>一小兒生下。遍身無皮。用白米粉干撲之。候皮生。乃止。</p>
<p>一小兒周歲之內。謂之芽兒。切忌頻浴。以致濕熱之氣鬱聚不散。身生赤游丹毒。如胭脂塗生白一凡浴兒時。須四圍遮好。謹避風寒。又須掩好肚臍。勿令潮濕。否則風邪入臍。流毒心脾敷之一小兒忽然驚搐。當令平臥於床席之上。任其牽動。不可抱緊。蓋風與痰相激而逆行。</p>
<p>筋絡之。</p>
<h4>馬蘭膏（一）</h4>
<p>（治小兒兩足紅赤。游風流火。如足至小腹。手至胸膛。多致不救。急用此方救之。</p>
<p>不失一。並治大人。兩腿赤腫。流火。或濕熱伏於經絡。皮上不紅不腫。其痛異常。病者叫腿熱。他人按之極冷。此謂伏氣之病。急用此膏搽之。立愈。）</p>
<p>馬蘭頭（不拘多少冬季無葉取根亦可）</p>
<p>上用水洗去泥。搗爛絞汁。以雞毛蘸汁搽之。干則再換。如頸項腿肋縫中潰爛。以此汁調飛</p>
<h4>六一散方（二）</h4>
<p>滑石（五錢）　朱砂（六分）　甘草（一錢）</p>
<p>研末和勻。</p>
<h4>金黃散（三）</h4>
<p>（治小兒胎毒。赤游丹毒。用生黃蜜調敷。）</p>
<p>川黃連　藍石　寒水石　黃柏　芙蓉葉（各五錢）　景天　鬱金（各一錢五分）　大黃（一兩）各取淨末。研細和勻。外敷內服皆可。內服每服五分。甘草節四分。煎湯和蜜調下。</p>
<p>一方治胎毒濕爛。用薔薇花梗。連皮去葉。炙研細末。茶油調敷。</p>
<p>一方治小兒月內　瘡。滿頭及渾身脫皮者。用多年尿缸內紅色磚。焙乾為末。或香油或麻油一方治小兒丹毒。用馬齒莧或藍澱搗敷之。</p>
<h4>治撮口方（四）</h4>
<p>穿山甲（用尾上甲三片羊油炙黃色）　蠍梢（七個）共為細末。人乳調塗乳上。令兒吮之。</p>
<p>用濃衣包裹。汗出即愈。</p>
<h4>預治小兒臍風馬牙經驗方（五）</h4>
<p>枯礬　硼砂（各二錢五分）　冰片　麝香（各五厘）　朱砂（二分）</p>
<p>共為末。凡小兒生下。洗浴過。用此藥糝臍上。每日換尿布時。仍糝此末。糝完一料。</p>
<p>永無</p>
<h4>紫蘆散（六）</h4>
<p>（治小兒竹衣胎　。凡無皮膿血淋漓。及胎中遺毒。赤剝楊梅等瘡。並治婦女為丈夫瘡所過。結毒之氣。漸至陰戶濕爛。流血不止。沿至產門。外繞肛門。腫硬潰膿。出水不疼痛不堪。將此藥搽之。每一小便。勢必沖去。須要勤搽。漸漸自愈。極驗如神。若毒者。配入珍珠一錢五分。西黃一錢。其效更捷。）大冰頭（五分）　紫甘蔗皮（燒存性取淨末）　粉口兒茶（各五錢）　真綠豆粉（要炒燥）　濃川黃甘石（火　一兩黃連汁內淬三次童便內淬四次）　赤石上共為細末。用麻油入雞子黃。煎黑。去黃。候冷。調搽。即愈。假如麻油二兩。入雞子黃</p>
<h4>解毒丸（七）</h4>
<p>西牛黃（三分）　乳香（燈草炒）　沒藥（燈草炒各五分）　山慈菇（一錢）　朱砂　雄黃（各七分）</p>
<p>上共研勻。煉蜜為丸。每丸約重三分。每日以金銀花煎湯。調服一丸。如欲稀痘。候瘡好後凡治胎　。須過周歲之外。方可搽此藥。周歲之內。神氣未足。適遇變病。反歸咎也。</p>
<h4>胎癩（八）</h4>
<p>先用豬膽煎湯。浴淨。再用宮粉。水調。塗於碗內。晒乾。用艾熏至老黃色。取下為末。</p>
<p>絹</p>
<h4>胎毒害眼（九）</h4>
<p>凡新產小兒。兩目紅赤。澀閉腫爛不開。以蛐　泥搗塗囟門。干則再換。不過三次。即愈。</p>
<h4>鉤藤飲（十）</h4>
<p>（治小兒臟寒夜啼。陰極發燥。）</p>
<p>鉤藤鉤　茯神　茯苓　當歸　川芎（各一錢）　木香（煨四分）　甘草（五分）薑一片。</p>
<p>棗二枚。水煎服。若心經有熱。臉紅便赤。去木香加朱砂（一分）、木通（五分）、赤</p>
<h4>當歸散（十一）</h4>
<p>（治夜啼不乳。）</p>
<p>黨參（五分）　當歸（四分）　白芍（三分）　炙甘草　桔梗　陳皮（各二分）白水煎服。</p>
<h4>燈花散（十二）</h4>
<p>（治小兒夜啼。）</p>
<p>燈草不拘多少。燒灰存性。用燈草湯調下。或塗兒上　。</p>
<h4>止汗散（十三）</h4>
<p>（治小兒睡而自汗。）</p>
<p>舊蒲扇燒灰存性。為末。每服三錢。溫酒調下。</p>
<h4>嬰兒胎疝方（十四）</h4>
<p>凡小兒初生發疝。只見啼哭。不見病形。延至一周兩歲始知是疝。諸醫不效。用麻櫪樹上之平地一方於午日午時。以腳盆盛熱水。安於中堂。隨抱小兒。將卵放水內一浸。再將小兒在於中收小</p>
<h4>惺惺散（十五）</h4>
<p>（治小兒傷寒時氣。風熱頭痛。目眵多睡。痰壅咳嗽喘急。或痘疹已出未出。疑似之黨參　茯苓　白朮（炒）　甘草　北細辛　川芎　桔梗（炒）</p>
<p>各等分為末。每服二錢。入薄荷葉五分。水煎服。</p>
<h4>異功散（十六）</h4>
<p>（止渴消暑。生津補胃。）</p>
<p>豬苓　澤瀉（各三錢）　黨參　白朮　茯苓（各五錢）　陳皮（二錢半）　朱砂（一錢）</p>
<p>上為末。蜜丸。芡實大。每服一丸。燈心竹葉湯化下。</p>
<h4>七味安神丸（十七）</h4>
<p>（治心經蘊熱驚悸。）</p>
<p>黃連　當歸身　麥冬（去心炒）　白茯苓　甘草（各五錢）　朱砂（飛一兩）　冰片（二分半）</p>
<p>上為末。白湯浸蒸餅。和　豬心血。搗丸。黍米大。每服十丸。燈心湯下。</p>
<h4>急慢驚風（十八）</h4>
<p>（須真正驚風。始用有神效。）</p>
<p>用朱砂輕粉等分。水飛。研細。在秋分後寒露前取青蒿根內蟲。（不拘條數。以足和藥為度走者</p>
<h4>千金散（十九）</h4>
<p>（治小兒一切驚症。）</p>
<p>制膽星　甘草（各一錢）　天麻　川黃連　朱砂　冰片（各二錢）　全蠍　僵蠶（各錢半）</p>
<p>真西各取淨末和勻。研至無聲為度。每服一分。金銀湯下。</p>
<h4>急救回春散（二十）</h4>
<p>（治小兒慢驚慢脾風症。）</p>
<p>遠志　白僵蠶　制附子　天麻　乾薑　朱砂（各八分）　白芥子　制膽星　黑甘草（各一錢）</p>
<p>各取末。和勻。研極細。每服二分。用金銀器。並黨參、白朮（各一錢）、真橘紅（五分）</p>
<p>煎凡小兒急驚。面紅氣促。痰壅。手足抽搐。無涕淚。而哭聲高碩。此雖中氣不通。而症發於陽。</p>
<p>千金散（方見前十九）、惺惺散（方見前十五）、安神丸（方見前十七）可治。如氣促。</p>
<p>面肢冷。時或屢搐。目珠磁瞪。此慢驚也。寒痰風毒。入於胞絡。急用回春散治之。又有慢脾風者。或因寒邪風毒。入於肝經。致傷脾土。或因攻散之過。肝風內眩。脾胃因虛其見症也。終日閉目。似睡非睡。鼻微　。氣微急。手足時冷時熱。鼻尖冷。虎口紋數日不大便。或解糞水。小便清。或混白色。速照方制服。間進六君（即內症二君湯去藿香砂仁）、理中（方見內症六十九）等湯。</p>
<h4>保嬰丹（二十一）</h4>
<p>（稀痘。）</p>
<p>纏豆藤（或黃豆或綠豆梗上纏繞細紅藤是也於八月生氣日擇取陰乾聽用二兩）　防風　荊芥穗竺黃（真復以此汁上另用紫草二兩。入水二碗。煎膏至小半碗。入砂糖一大匙。將前各藥為細末。同紫草膏。</p>
<p>發熱</p>
<h4>稀痘仙方（二十二）</h4>
<p>（是方神驗異常。有一人家。上下小兒數十。出痘奇險。惟服此藥者。皆得安吉。）</p>
<p>青蒿子（八十一粒）　朱砂（三分淨）　甘草（三錢）　綠豆粉（真者一錢）</p>
<p>上將青蒿子、甘草、二味文火烘乾。研。水飛細。同朱砂、豆粉、和勻。於七月七日清晨。</p>
<p>研極牛膝數次加赤豆。　腎有毒。加黑豆。　上部不起發。加薄荷。　有驚。加鉤藤。　下部不起發。</p>
<p>牛膝。　不紅活。加紅花。　是方。藥無難制。依分兩。可數十料一合。後按症加者。照分兩倍之。</p>
<h4>胡荽酒（二十三）</h4>
<p>（辟穢氣。使痘疹出快。）</p>
<p>用胡荽四兩。以好酒二盞。煎一二沸。令乳母口含。噴兒遍身。或噴頭面。房中須燒胡荽香尤能</p>
<h4>養血化斑湯（二十四）</h4>
<p>（治白疹。白痘。）</p>
<p>當歸身　黨參　炙生地（各一錢）　紅花（四分）　蟬蛻（五分）加生薑一片。白水煎。</p>
<p>溫服。</p>
<h4>四味消毒飲（二十五）</h4>
<p>（治痘瘡熱甚。毒瓦斯壅遏。）</p>
<p>黨參　炙甘草　黃連　牛蒡子（各等分）</p>
<p>上為粗末。每服一錢。加薑一片水煎。去渣。不拘時溫服。</p>
<h4>十二味異功散（二十六）</h4>
<p>（治元氣虛寒。小兒痘疹色白。寒戰切牙。泄瀉喘嗽等症。）</p>
<p>黨參　丁香　木香　肉豆蔻　陳皮　厚朴（各二錢半）　白朮　茯苓　官桂（各二錢）　當歸（上每服二錢。薑一片。棗二枚。水煎服。</p>
<h4>保嬰濟痘神丹（二十七）</h4>
<p>白豆（俗名雀豆顏色淨白似苡米乃佳）　赤豆　綠豆（各三兩俱連殼甘草煎汁浸一宿晒研）</p>
<p>蟬（一兩五各取末。用胡荽一兩。酒浸一宿。煎汁。跌丸。如黍米大。辰砂五錢。為衣。每服一錢。</p>
<p>初</p>
<h4>痘顆倒陷帶火干收蒸法（二十八）</h4>
<p>柴胡　真降香　檀香（各一兩）　蔥（二十莖）　全歸（二兩）　蒸籠膏（五錢）煎湯。</p>
<p>加淡黃酒二兩。傾浴桶內。將兒置浴桶上。隔被單蒸。日三次。蒸後目微活。漸有啼可望起色。加內服瀉毒飲。</p>
<h4>瀉毒飲（二十九）</h4>
<p>（治痘粒干收。）</p>
<p>大生地　元參　全歸（各一兩）　淨銀花（八錢）　生甘草（五錢）　法製半夏（三錢）</p>
<p>加金汁半酒杯。辰砂一分。沖服。二劑。照前蒸方。兩日六次。痘瘡復起。貫漿不足。或多此火有餘而氣虛也。接服托裡益氣湯。</p>
<h4>托裡益氣湯（三十）</h4>
<p>（治痘漿不足。）</p>
<p>淨銀花　元參（各二錢）　人中黃（五錢）　鮮蘆根（八錢）　上黃　（飯鍋蒸熟三錢）</p>
<p>柴胡升</p>
<h4>生地益陰煎（三十一）</h4>
<p>元參　銀花　赤芍　白茯苓（各二錢）　歸身　甘菊（各一錢五分）　丹皮（八分）　生地（五錢）</p>
<p>上方與後方相間服之。可投十余劑。以杜痘後諸患。</p>
<h4>參朮和脾飲（三十二）</h4>
<p>西黨參（三錢）　於朮（酒拌土微炒）　銀花（各一錢五分）　橘皮（一錢）　嫩桑芽（七粒無芽用上方與前方間服。</p>
<h4>救逆痘良法（三十三）</h4>
<p>（痘至七八朝。或十朝。或十七八朝。灰陷倒塌。抓破無血。空殼無漿。目開不損處。如焦木灰紅。危篤垂死。醫皆袖手者。）</p>
<p>老白雄雞冠血（不拘多少多更妙）　白酒釀（十匙）　胡荽汁（二十匙）三味攪和。隔湯頓熱。徐徐服之。停一時。皮膚紅活。即有另發大痘。目復閉。面復腫。其出。漸思飲食。初與米飲。次與黃　粥飲。不必更服他藥也。　服一次。</p>
<p>再服一次。必活。倘面紅氣喘。此痘毒由裡達表。不必驚懼。誤認變症。</p>
<h4>痘瘡黑陷（三十四）</h4>
<p>凡心煩氣喘。妄語見鬼。以不落水豬心血。和冰片（不拘分兩。以足和為度。）丸如芡實大。</p>
<p>紅活</p>
<h4>痘爛生蛆（三十五）</h4>
<p>用嫩柳葉。鋪席上墊臥。蛆盡出而愈。</p>
<h4>五福化毒丹（三十六）</h4>
<p>（治胎毒及痘後。頭面生瘡。眼目腫痛。）</p>
<p>生地黃　天門冬　麥門冬　元參　熟地黃（各三兩）　甘草　甜硝（各二兩）　青黛（一兩五錢）</p>
<p>上為末煉蜜丸。芡實大。每服一丸。白湯。或薄荷湯下。</p>
<h4>痘疔散（三十七）</h4>
<p>雄黃（一錢）　紫草（三錢）</p>
<p>上為細末。胭脂汁調。用銀簪腳。挑破黑痘。入藥在內。極效。</p>
<h4>痘疹入目（三十八）</h4>
<p>用黑狗耳刺血。滴眼中。其瘡自落。</p>
<h4>痘後目翳（三十九）</h4>
<p>天花粉、蛇蛻、洗焙。等分為末。用羊肝披開。入藥在內。米泔煎熟切食。旬日即愈。</p>
<h4>痘風眼癬（四十）</h4>
<p>諸藥不效者。用蛔蟲一條。洗淨捶爛。以夏布絞取汁。加冰片少許。調搽。隨愈。如無蛔蟲</p>
<h4>痘後耳內腥臭作膿（四十一）</h4>
<p>此痘之余也。取銀花甘草濃煎。調人中黃服之。耳內用麻油蘸沁之。</p>
<h4>痘後癰毒（四十二）</h4>
<p>用赤小豆末。雞子清塗敷。</p>
<h4>風熱雙和飲（四十三）</h4>
<p>（治痧疹初起。發熱。微覺惡寒。肌栗。面赤。咳嗽。腹微疼。）</p>
<p>葛根　銀花葉　丹皮（各一錢）　紫蘇葉　柴胡（各八分）　麥芽　夏曲　建曲（各半）</p>
<p>赤芍（引新荷葉一片。蘆根汁半酒杯。干胡荽四分。無新荷葉。用桑芽一錢代之。初見點。投三劑再二劑。</p>
<p>蘇葉換蘇粳（八分）、炒荊芥換桔梗（一錢二分）、赤苓減（一錢）、銀花葉換銀花（一錢五分）、赤引去新</p>
<h4>化蟲散（四十四）</h4>
<p>（治疳積生蟲。）</p>
<p>五穀蟲（一錢瓦焙乾）　使君肉（五個切片焙）等分炒研為末。用紅棗。去皮核。煮爛為丸。</p>
<p>每末一錢。用棗二枚。每粒重一錢五分。清米一方治小兒疳積。用雞內金不落水。剝下。炙灰研細。黃糖拌食。兩三次即愈。</p>
<p>一方用大蟾一只。放瓶內。將紙封口。過七日。再將鮮活五穀蟲洗淨。入瓶中。任蟾食盡。</p>
<h4>疳膨食積仙方（四十五）</h4>
<p>朱砂（三分為末）　朴硝　雞內金（各五錢）共研和。每服三分。人中白四分。煎湯調服。</p>
<h4>治猴猻疳方（四十六）</h4>
<p>川黃連　甘草（各三錢）　胡桃（七個連殼打爛）用水煎二次。濾清。熬成膏。每日服四五次。每次四五匙。至重者。二料全愈。</p>
<h4>猴子疳方（四十七）</h4>
<p>（是症。從肛門。或陰囊邊。紅暈爛起。漸至皮膚不結靨。若眼梢口旁亦紅。不早必至爛死。凡有此症。切忌洗浴。只用軟絹蘸甘草湯揩淨用藥。雖延蔓遍身。可救。）</p>
<p>綠豆粉（一兩）　膘珠（一錢）　輕粉（一錢五分）　冰片（二分）　西黃（一分）研細。將金汁調。鵝毛蘸敷。如無金汁。雪水亦可。甘草燈草湯亦可。內服化毒丹。</p>
<h4>化毒丹（四十八）</h4>
<p>元參　桔梗　赤苓（各二錢）　黃連　龍膽草　薄荷　青黛　連翹（各一錢）　甘草（五分）</p>
<p>加燈草二十寸煎服。</p>
<h4>乳母煎藥方（四十九）</h4>
<p>（小兒患猻疳。乳母亦宜服藥。）</p>
<p>川連　木通（各五分）　銀花　赤芍　當歸（各錢半）　甘草　牛膝　黑山梔（各一錢）</p>
<p>薄荷（新汲水煎服。</p>
<h4>生熟地黃湯（五十）</h4>
<p>（治疳眼閉合不開。）</p>
<p>生地黃　熟地黃（各五錢）　川芎　赤茯苓　枳殼　杏仁（去皮尖）　川黃連　半夏曲　天麻上每服二三錢。引用黑豆十五粒。薑二分。水煎服。</p>
<h4>羊肝散（五十一）</h4>
<p>（治疳氣入眼。並痘後眼脬腫痛羞明。）</p>
<p>密蒙花（二錢）　青葙子　決明子　車前子（各一錢炒）</p>
<p>上為末。用羊肝一大頁。薄批糝上。濕紙裹。煨熟。空心食之。</p>
<h4>小兒語遲（五十二）</h4>
<p>孫真人云。凡小兒四五歲。只會叫人。不能言語者。以赤小豆研末。酒調。塗於舌下。</p>
<p>二三</p>
<h4>小兒頭上黃水瘡及禿痂神效方（五十三）</h4>
<p>松香（二兩為末入蔥管內用線扎定水煮溶化去蔥候干）　黃丹（水飛一兩）　宮粉（炒）</p>
<p>無名異共為細末。香油調搽。極效。</p>
<p>一方治禿瘡。每剃頭後。以銀匠店中。漬銀水。熱洗一遍。用豬腳爪　末。麻油調敷。</p>
<p>三四</p>
<h4>爛瘡成孔（五十四）</h4>
<p>凡小兒。或頭面遍身。形似楊梅瘡者。用蒸糯米甑上氣水。滴下。以盤盛取。搽之。數日即</p>
<h4>小兒軟癤（五十五）</h4>
<p>用大芋頭一個。搗如泥。敷之。</p>
<h4>疳瘡方（五十六）</h4>
<p>（若沸滿口中。爛穿面孔。諸藥不治者。尤效。）</p>
<p>用紫荊葉。九月采者佳。炙灰存性。每灰（二錢）加冰片（三厘）糝上即生肌肉。</p>
<h4>馬鳴散（五十七）</h4>
<p>（治走馬疳。）</p>
<p>人中白（即尿缸底白　也以物刮取新瓦盛之火　如白鹽乃佳五錢）　五倍子（生者一錢另用一入礬於內上為極細末。先以濃米泔水。浸洗瘡口。以此吹糝之。</p>
<p>一方用人龍在瓦上焙乾。研細。加青黛少許。冰片少許。研勻。吹入。即愈。</p>
<p>一方用陳京墨。　煙盡。加冰片少許。搽上即愈。</p>
<h4>益陰養榮膏（五十八）</h4>
<p>（治童子癆。初起發熱咳嗽。陰虛盜汗。脾胃不香。遺精咯血等症。）</p>
<p>密刺海參、大淡菜、建蓮肉、南棗。各八兩。文武火熬。須晝夜不斷火。俟成膏。去渣。</p>
<p>每</p>
<h4>小兒健脾丸方（五十九）</h4>
<p>（治小兒脾胃不健。飲食不香。或嗜食無厭。病後或斷乳後失調。俱宜常服。）</p>
<p>淮山岳　建蓮肉　鍋焦粉　白朮　黨參　茯苓（各二兩）　神麯　須穀芽　五穀蟲　山楂（各熬化為丸。如彈子大。日二粒。</p>
<h3>附錄變蒸考</h3>
<p>凡兒生後。必有變蒸之期。其發熱吐瀉。與病無異。若誤認為疾。妄投藥餌。以致蒸長之氣之弊凡初生至三十二日為一變。六十四日為一蒸。</p>
<p>人有三百六十五骨。內除手足中四十五碎骨。余止三百二十數。自生下一日。則生十段。</p>
<p>十氣。屬足少陰經。主身熱。面耳　俱冷。唇起白屬足太陽經。主寒熱發而頻噴嚏。　乳。多嗔九十六日。則三變。而生丁心臟氣。屬手少陽經。主體熱汗出。恐畏虛驚。一百二十八日。</p>
<p>乙肝足少二百二十四日。則七變。而生辛肺臟氣。屬手太陰經。主情思　惶。而愛多哭。二百五十六二百八十八日。則九變。而生己脾臟氣。屬足太陰經。主身熱吐瀉。三百二十日。則十變三日共五百七十六日。變蒸始定。寸脈乃生。可以診視。兒始成人。</p>
<p>變者。變生五臟。而易其情態也。蒸者。蒸養六腑。而長其骨節也。凡變。始得之一日。</p>
<p>以冷兼蒸者。必上唇微腫。如臥蠶類。身體壯熱。或乍熱乍涼。唇口鼻干。哽氣吐逆而脈亂汗。或不汗。不食。時驚。多啼。　乳。自始得之一日。至十三日。變蒸既足。方無所其三大蒸者。必唇口乾燥。咳嗽喘急。悶亂。哽氣。腹疼。身體骨節皆疼。或目上視。時多驚悸。然七日之內有病。但數呵其囟門。勿輕服藥。若有不驚不熱。無他苦者。是受胎壯實而暗變也。</p>
<h2>卷五</h2>
<h3>奇急門</h3>
<p>奇急者何。凡症必審色脈。察表裡。而倉猝中不及審察。莫知何經。莫名何症。所以奇。</p>
<p>所效一救自縊。徐徐抱住解下。不得用刀剪斷繩。上下安被。放倒。微微捻正喉嚨。以手掩其口其胸竹管灌。</p>
<p>此百一救溺死。先以刀斡開溺者口。橫放箸一只。令其牙銜之。使可出水。又令一健夫。屈溺人仰臥臍糞水即一救凍死。及冬月落水。微有氣者。脫去濕衣。隨解活人熱衣包暖。用米炒熱。囊盛。</p>
<p>熨心氣回一救壓死。及墜跌死。心頭溫者。急扶坐起。將手提其發。用生半夏末。吹入鼻內。少蘇。</p>
<p>一救中惡魘死。不得近前呼叫。但唾其面。不醒。即咬腳跟。及拇指。略移動臥處。徐徐喚一方凡溺縊魘死。急取韭菜搗汁。灌鼻中。得皂角末。麝香同灌。更捷。</p>
<p>一救自刎斷喉。自刎者。乃迅速之變。須早救之。遲則額冷氣絕。不救矣。初刎時。急用油以女人刀湯急用濃蔥湯。軟絹蘸洗傷處。挹干。用KT　子腳。挑玉紅膏。（方見外科三三）放手心上捺化。捺傷口。再用舊棉花薄片蓋之。外用長黑膏貼裹。周遭交扎不脫。近喉刀口兩旁。再用膏藥長四寸。闊二寸。豎貼兩頭。黏貼好肉。庶不脫落。外再用絹帶圍裹三轉。針線縫頭。</p>
<p>冬月三日。夏月二日。用蔥湯洗挹換藥。自然再不疼痛。其肉漸從兩頭長合。內服八珍湯。</p>
<p>（方見日。</p>
<p>單</p>
<h4>（附）桃花散方</h4>
<p>多年陳鍛石（三兩）　大黃（一兩五錢切片）</p>
<p>上同炒至鍛石紅色。去大黃。研極細備用。</p>
<h4>中暑昏眩煩悶欲絕方</h4>
<p>取陰涼道上干土。做一圈。圍在病患臍外。使少壯撒尿於內。片時即醒。醒後不可進冷湯。</p>
<p>一方掘地深三尺。取新汲水。傾入攪濁。名地漿。飲數甌。即解。並解一切惡毒。</p>
<h4>中寒厥冷僵仆方</h4>
<p>急以繩束蔥二斤切去兩頭。如餅式。火上燒熱安臍下。上用火熨之。即蘇。或米。或灶灰。</p>
<h4>刮痧方</h4>
<p>用青銅大錢一個。系絨線。另碗盛豆油。及真燒酒。和勻。將錢蘸油酒。刮手足骨節彎。</p>
<p>脈惡一方治痧脹。用礬和開水溫飲。或灌下。取吐瀉而愈。</p>
<h4>羊毛疹方</h4>
<p>是症所以異於痧脹者。惟於眼角辨之。痧脹、目珠青色。羊毛疹、多黃色。痧脹、指甲多青灌下</p>
<h4>五竅出血方</h4>
<p>凡耳目口鼻一齊出血。名曰上虛下竭。死在須臾。不及用藥。先將冷水當面　幾口。如系婦即止</p>
<h4>走精黃病方</h4>
<p>（是症面目俱黃。多睡。舌紫甚而裂。若爪甲黑者死。）</p>
<p>淡豆豉（五錢）　牛膝（一兩）煎汁。以帛蘸擦舌。去黑皮一層。再濃煎豉湯飲之。</p>
<h4>卒然肚黑方</h4>
<p>凡大人小兒。其肚皮驟然青黑色。人事昏迷。此乃血氣失養。風寒乘之。所變怪形。真危惡又有危。</p>
<h4>治截腸方</h4>
<p>大腸頭拖出寸余。痛苦之極。直候干自退落。又拖出。名為截腸病。若腸盡則不治。但初截槐</p>
<h4>臂竅出血方</h4>
<p>炒甲片。研末罨之。</p>
<h4>鷺鷥瘟方</h4>
<p>（兩腮腫脹。憎寒惡熱者是。）</p>
<p>外用赤豆半升為末。水調敷。或搗側柏葉敷。薄荷煎濃湯熱服。</p>
<h4>解毒散</h4>
<p>（解一切毒。並蛇虎瘋犬咬等傷。毒瓦斯內攻。眼黑口噤足僵目直。勢在垂危等症。）</p>
<p>明礬（一兩）　甘草（一兩）共為末。每服二錢。開水送下。並外擦患處。有起死回生之功。</p>
<h4>瘋犬咬傷方</h4>
<p>（咬傷額角。及人中、虎口、不治。七八歲者不治。男三十日後不治。女二十七治。上部難治。下部易治。）天南星（取白而光者）　防風（各切碎炒研）等分和勻。每服三錢。</p>
<p>日二服。若到第七日。毒瓦斯已聚腹中。於半飢時。以滾水拌藥。陳酒大便中放出血塊而愈。外用溫茶洗。杏仁（不拘分兩去皮尖）同黃砂忌食牛、羊、豬、雞、魚、蝦、海味、生冷、油膩、面食、燒酒、赤香菌、茄子、蔥蒜、辛辣。一切發風動氣之物。及鑼鼓聲。以百二發無救。慎之慎之。</p>
<h4>凡瘋犬咬傷</h4>
<p>最怕七日一發。發時形狀天本無風。病者但覺風大。要入幔蒙頭躲避。此非吉七之日。無此畏風情形。方為可治。如被咬時。即至無風處。以小便洗淨齒垢。敷當即服韭菜汁一碗。隔七日再服一碗。於四十九日內。共服七碗。凡春末夏初。</p>
<p>人被咬者。無出上法。更須忌鹽醋百二十日。一年內須忌豬肉魚腥。終身忌狗肉保全。否則十有九死。如誤服斑蝥。以致小便疼痛。急用涼水調六一散（見幼科服之。二三次。痛止。</p>
<p>一治毛竅節次出血。少間不出。即皮脹如臌。口鼻眼目俱脹合。病名脈溢。用生薑汁二大匙一治遍身忽肉出如錐。既癢且痛。不能飲食。此名血擁。若不早治。潰而膿出。以蔥管青皮一治身上及頭面上浮腫。如蛇伏狀者。用雨滴磉階上苔痕水化噙之。蛇形立消。</p>
<p>一治腰間忽起紅泡。名白蛇纏腰。若不早治。被其纏到。不救。急用蛇殼一條。燒灰存性。</p>
<p>一治眼見諸般飛禽走獸。以手撲捉則無。乃肝膽邪火為患。以棗仁、羌活、元明粉、青葙子一治鼻中毛。晝夜可長一二寸。漸漸粗圓如繩。痛不可忍。雖忍痛摘去一莖。後即更生。</p>
<p>此時。</p>
<p>開水送下十粒。自然脫落。</p>
<p>一人忽然手足心。齊凸腫硬。此心脾腎三經。冷熱不和所致。以花椒鹽醋敷之。即愈。</p>
<p>一手十指節斷壞。惟有筋連。皮內蟲行如燈心。長數尺。遍身綠毛。名曰血余。以茯苓（五一凡指爪抓傷面目。以橄欖核磨水。搽之過宿。則無痕跡。</p>
<p>一人咬傷痛。用荔枝核焙研篩細糝之。外用荔肉蓋貼。雖落水亦不爛。神效。再用青州柿餅一咬破牙黃入內。必至糜爛。急用人尿。浸二三時。洗出牙黃。再照前方敷糝。神效。</p>
<p>一咬傷指頭。久則手指脫爛。急用熱尿入瓶。將指浸之。一夕即愈。如爛用夾蛇龜殼。</p>
<p>燒灰一誤斷指頭。用降香細末糝之。包以絲棉。七日不可落水冒風。不必再換。一次即痊。</p>
<p>一箭頭針刺。入肉不出。用蓖麻子。去殼。搗爛敷之。癢即出。</p>
<p>又方用巴豆仁（略炙）與蜣螂同研塗之。痛定。覺微癢。待癢不可忍。便搖動拔出。以定痛生一竹木瓦刺入肉內不出者。用煨鹿角末以水調敷之。立出。久者不過一夕即出。</p>
<p>又方用大活蝦七個。搗爛塗之。一時刺隨蝦出。</p>
<p>一鬼箭打。用山梔（七個炒）、桃頭（七個）、面（炒）共捍餅貼患上。次日取下。作七丸。</p>
<p>投一重物壓打。青腫紫赤血痕疼痛。用蘇木煎汁。磨真降香塗之。不可落水。連搽數日。</p>
<p>其腫消散。即愈。此藥軍中宜多備。以治刀斧損傷。大妙。</p>
<p>一湯炮火燒。用蚶子殼　研細末。配冰片少許。如濕處燥敷。干處麻油調搽。數次收功。</p>
<p>真一湯燙火燒油烙。用雞子清磨上好京墨塗患處。上用三層濕紙蓋之。則不起泡。覺冷如冰水一燙火傷。用醋調黃土敷之。效。</p>
<p>一熱酒燙。用陳米炒焦為末。黑糖調敷。立效。</p>
<p>一銃子入肉。用蜂蜜不拘多少。沖好酒飲。醉即出。如無用黃蠟亦可。</p>
<p>一方用舊銷銀罐。同水銀研入患處。其鉛即化。隨水銀出。</p>
<p>一誤吞金器。胸膈痛不可忍。以羊頸骨　末。每服三錢。米飲下。過夜。其器即隨大便取下一誤吞金銀。用真輕粉五錢。研細末。水調下。能令金銀從大便出。</p>
<p>一誤吞鐵物。用燒櫪炭帶紅研細。以砂糖調服二三錢。立愈。</p>
<p>一誤吞銅物及銅錢。多食荸薺核桃。自能消化。</p>
<p>一誤吞針。用米飲調炭末三錢。</p>
<p>一誤吞木屑。搶喉不下。用鐵斧磨水灌下。效。</p>
<p>一碗　入腹。用羊腳骨（五錢）炙灰研細。置土地下。冷透。開水送下。</p>
<p>一瓷鋒嵌腳。用三角白果。去殼衣心。不拘多少。浸菜油內。用時。搗餅貼之。再易而愈。</p>
<p>一骨鯁。用烏梅肉五倍子各等分。搗爛為丸。彈子大。每服一丸。含口內。其骨自化。</p>
<p>一骨鯁在咽。痛不可忍。不能飲食。垂危者。用栗子著肉衣（五錢研）、乳香（二錢研）、引一諸般骨鯁。用象牙屑。以新汲水一盞。浮牙屑水上。吸之。骨自下。</p>
<p>一天絲入目。用木梳垢。不拘分兩。為一丸。放眼角邊即出。或刺手指血。塗眼內。將燈草一雞冠子落眼中。急仰臥。研濃墨。滴眼中。須臾隨墨水眼淚流出。</p>
<p>一毒蛇咬。先吃麻油二碗。令毒瓦斯不隨血走。然後用土貝母五錢為末。酒調服。令患者盡醉又方用鳳仙花一株。連根葉。入獨囊大蒜一個。又入人涎唾。同搗爛。空傷口。圍之。</p>
<p>毒水一被虎咬抓傷。以蠶豆葉搗敷。如無葉時。以枯蠶豆水浸軟、連皮搗敷。亦妙。</p>
<p>一猢猻抓傷。潰爛。以金毛狗脊焙研末摻之。或麻油調搽。立愈。</p>
<p>一馬咬傷。潰腐。以馬齒莧一握。煎湯。日日服之。以愈為度。瘡口。以打馬鞭子。或籠頭一豬咬。潰爛。以龜板炙研細。麻油調搽。立愈。</p>
<p>一貓咬。或抓傷。以薄荷搗汁。或研末。搽糝漸愈。</p>
<p>一鼠咬。用吳萸擦貓鼻。取涎塗之。或以貓毛燒灰。香油調搽。愈。</p>
<p>一蜈蚣咬。用雞冠血塗之。或用一大蜘蛛。置患處。自吮其毒。</p>
<p>又方。用生甘草末。生蜜調搽。或用傘紙燒煙。熏患處。並效。</p>
<p>一諸蟲咬。用生甘草末。生蜜調搽。立效。</p>
<p>一蠍子傷。用杏仁（七粒）、蔥白（三寸）搗爛。津唾調敷。立愈。</p>
<p>一蠍子螫。用蝸牛（即蜒蚰蟲）搗塗。或用生半夏水磨敷。俱效。</p>
<p>一蜈蜂叮刺。宜急口嚼栗子敷之。或用生芋艿或芋梗葉擦之。立能止痛。</p>
<p>一壁鏡咬。毒人多死。以桑柴灰水。煎三四滾。濾汁。調白礬敷之。立瘥。</p>
<p>一蜴KT　（俗名揚辣子）刺人。毛飛入肉。作痛。先以水塗患處。隨用馬齒莧搗爛敷之。</p>
<p>一二次一壁虎入耳。以雞冠血滴耳內。即出。</p>
<p>一壁虎咬。用大黃醋磨搽。</p>
<p>一臭蟲入耳。以鱉甲燒煙熏耳。其蟲立死。無害。過後可服菊花湯兩三日。以杜火氣之患。</p>
<p>一諸蟲入耳。用皂角末吹入耳中。或以菜油滴耳內。並效。</p>
<p>一中蜘蛛毒遍身發腫。飲靛青汁。即解。將蜘蛛投入靛汁。即化為水。</p>
<p>一中天蛇毒（天蛇。即草間黃花蜘蛛是。或遭其毒。又為露水所濡。因至通身潰爛。號呼欲多一受蚯蚓毒。形如麻風。須眉脫落。或夜間被內作鳴。急用鹽湯。或鍛石湯。淨洗。若小兒一蠶嚙人。毒入肉中。令人發寒熱。以苧麻葉搗汁塗之。</p>
<p>一諸色惡蟲咬傷。用薑汁先洗患處。再用明礬、雄黃、為末。擦之。</p>
<p>一中諸毒。凡覺中毒。即以生豆試之。不聞腥氣。即是。</p>
<p>一解砒毒。用綠豆粉（四兩）、黃泥（四兩篩淨）將兩味研極細。用雞子清調勻。仍用綠豆泡一服砒未久者。取雞蛋二十個。打入碗內。攪勻。入明礬末。三錢。灌之。吐則再灌。</p>
<p>吐盡盡則灌。</p>
<p>又方。倉猝間。急以清油多灌之。</p>
<p>又方。用荊芥四兩。煎濃湯服下。即愈。</p>
<p>一中水銀毒。飲以地漿水。立愈。</p>
<p>一中鉛粉毒。以砂糖調水服。或搗蘿卜汁飲之。</p>
<p>一中輕粉毒。有至角弓反張者。用生扁豆水浸一時。漉起。搗取汁。和地漿飲之。即愈。</p>
<p>一誤食銀硝。漸爛腸胃。延日垂死。用飴糖四兩。熬作丸。不時以麻油送下。服完。再合。</p>
<p>一解鹽鹵毒。用生豆腐漿灌之。再以鵝翎絞喉。探吐即活。</p>
<p>又方。急灌米泔水幾碗。或生黃豆漿亦可。勢垂危者。以活雞或鴨兩三只。斷去頭。塞於口一誤食桐油。嘔泄不止。急飲熱酒。即解。</p>
<p>一燒酒毒。用白蘿卜汁。或熱尿灌之。或用錫蓋氣水一杯灌下。即解。</p>
<p>一燒酒醉死。急用生蚌瀝水灌之。或取井底泥罨心胸。或以新布蘸浸新汲水罨之。熱則再易一中面毒。飲生蘿卜汁。即解。</p>
<p>一中花椒毒。氣悶欲絕者。以地漿水解之。</p>
<p>一過食白果。多成風醉。用白鯗頭煎湯服。一二次。愈。</p>
<p>一中野蕈毒。急取鮮銀花藤葉。搗取汁。生飲。如無鮮銀花。取干者。煎濃汁飲之。如誤食一中鉤吻毒。（鉤吻。生池旁。似芹菜。惟莖有毛。以此別之。俗名毛腳鴨兒芹。）中其毒者一中半夏毒。滿口疼痛。火熱。飲食難下。諸醫不效。用老生薑汁半杯。忍疼呷下。候片刻一中巴豆毒。症見口乾面赤。五心煩熱。下利不止。用綠豆煎湯。冷服即愈。或芭蕉根葉。</p>
<p>一中附子毒。飲生綠豆汁。或用田螺搗碎。調水服。即解。</p>
<p>一誤食木鱉子。發抖欲死。急用香油一盞。和白糖一兩。灌之。</p>
<p>一中斷腸草毒。服熱羊血碗許。總宜吐盡為妙。</p>
<p>又方。用生雞子二三枚。吞下。急以升麻湯灌吐。即效。</p>
<p>一凡人家園圃。豢養仙鶴。其鶴或傍樹枝。或臥叢草。將頭搔癢。遺有頂毒。黏在樹草間。</p>
<p>一中斑蝥毒。腹痛嘔吐。煩躁欲死。以生雞子清。三四枚。灌下。</p>
<p>一解諸藥毒。用蠶蛻紙燒灰研細。每以一錢。冷水調下。少頃再服。雖面青脈絕。腹脹吐血一百毒所中。用綠豆甘草等分。水煎服。可解。</p>
<p>一驗下蠱。中毒。令病患含一黑大豆。豆脹皮脫者是。凡嚼黑大豆不腥。白礬味甘。皆中毒一中牛肉毒。用烏柏樹根皮酒煎服。或野菊花。連根搗汁服。</p>
<p>一中河豚魚毒。用橄欖汁、蘆根汁、糞清、飲之。俱可解。</p>
<p>一中蟹毒。用紫蘇煮汁解之。或藕汁、蒜汁、亦妙。</p>
<p>一食毒鱉。飲藍汁數碗。或靛青水。亦妙。</p>
<p>一誤食螞蝗子。肚疼黃瘦。減食。用田中泥一兩。加雄黃二錢為丸。分作四服。白滾湯送下一吞螻蟻。成漏不合。用穿山甲炙研敷。有婦人項上忽腫一塊。漸至乳上。偶用刀破腫處。</p>
<p>一中老汁物毒。必生癰疽發背。常飲松蘿茶。即解。</p>
