<header><h1>女科秘旨</h1></header>
<dl class="元資料" data-type="book">
<div><dt>作者</dt><dd>輪印禪師</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1771/1711">公元1771年至公元1711年</data></dd></div>
</dl>
<h2>卷一</h2>
<h3>安胎論</h3>
<p>凡孕婦脾胃旺。氣血充足。則胎安產正。子亦多壽。何用安胎。若氣血衰。脾胃弱。而飲食少。則虛症百出。或孕成數墜。而子不壽。是必資藥力以助母胎。並壽子也。夫精血會凝而成孕。精氣蒸胃而遂嘔。血少肝虛。加愛醋物。胃氣受傷。厭阻飲食。若人素弱。嘔阻。橘半量加。稟孕而然。竹瀝。薑汁。胎痛宜緩。少加帶殼砂仁。胎漏宜涼。須用地黃生熟。至若傾撲動胎下血。膠艾宜加。怒氣胎遂上衝。木香為使。小便短澀成淋瀝。安榮不應用升提。若還滯血流於脬。逍遙。梔子宜加入。子腫面目虛浮。而肢體水氣。全生白朮堪醫。子煩心驚膽怯。而時見悶煩。竹葉安胎可療。天仙藤治子氣。腳縫水出。人虛多用術參。羚羊角理子癇。項強筋搐。應用人參竹瀝。脾氣虛而胎壓尿胞。則臍腹痛而小便淋閉。安胎飲雖宜。法當升提探吐。脾氣弱而轉運淹遲。則飲食停而胃家脹嘔。安胎飲力緩加參。平胃調和。又若胸滿腹脹。便閉遍身浮腫。鯉魚湯治胎水攸宜。恐脾胃氣虛。四君。五皮為佐。胎氣上攻。心腹脹痛。紫蘇飲療子懸甚當。若食少晡熱。逍遙加味相。兼柴前梅連為丸。骨蒸勞熱可退。</p>
<p>當歸六黃作引。盜汗晡熱堪除。孕成屢墮。因母血弱。不能分蔭其胎。娩子無氣。由母氣虛。僅可滋榮於己。老夫得其少婦。須寡欲以候經期。壯陽若遇衰陰。必宜頻藥以全胎力。參朮條芩。為安胎之聖藥。芎歸懷熟。實補血之良規。佐以蘇葉。陳皮。可為常服之方。孕成六月之前。其胎尚未轉運。茯苓性降。不宜多用。黃　肥胎。豈可常加。香附雖胎喘宜加。久服虛人有害。砂仁可止嘔定痛。多用動血行胎。歷考丹溪之論。不過數言。安胎之方。止於三四。若能加減治病。可以十全八九矣。</p>
<h3>辨胎歌</h3>
<p>肝為血兮肺為氣。血為榮兮氣為衛。榮衛和諧胎必成。血衰氣盛未有體。寸微關滑尺帶數。</p>
<p>流利往來如雀啄。孕婦之脈已見形。數月懷耽休認錯。三部浮沉平正等。尺按不絕胎其確。(無止方是)　滑而且散三月胎。(散者。心脈三月。心胞養胎故爾。)　但滑不散五月母。(經云。婦人手少陰脈動甚者妊也。動如豆厥厥動搖也。心主血。胎成則血聚護胎。故心脈動。</p>
<p>或亦有不動而是胎者。乃作足少陰非也。蓋動者壯婦血盛也。不動者弱婦血少也。陰搏陽別謂之有子。左陰右陽。尺陰寸陽。沉陰浮陽。搏者淤觸於手也，胎必熱故脈搏。陰者胎之所居也。婦人時時衄血而轉筋者。軀。衄時嚏而動者。非軀。婦人寸口脈波浮而大。榮反弱。</p>
<p>浮大氣強。反弱血少。孤陽獨呼。陰不能吸。二氣不停。衛強榮弱。積為陰寒。陽為聚熱。</p>
<p>陽盛不潤。經絡不足。陰虛陽旺。故令少血。時發喘淅。咽燥汗出。或溲稠數。多吐涎沫。</p>
<p>乃是重虛津液。漏泄經血。三月不來。名曰居經。非軀也。)　諸陽為男諸陰女。左右分明肺腎取。(左盛男。右盛女。左右俱盛一男一女。)　左手帶縱兩個兒。右手帶橫一雙女。(夫乘妻為縱。妻乘夫為橫。)　左手脈逆生三男。右手脈盛生三女。(子乘母為逆氣。母乘子為順氣。)又男胎居左。女胎居右。胎之所居。氣血聚焉。其脈滑利而盛。故左盛則男。右盛則女。嘗觀癰癤發上則寸脈盛。發下則尺脈盛。發左則左脈盛。發右則右脈盛。此所以悟胎居之理也。</p>
<h4>驗胎散</h4>
<p>真雀腦芎(一兩)　當歸(全用七錢)　為細末。作兩股。濃煎膠湯一盞。酒調服。服後二三時覺臍腹作動。此有胎也。動罷即愈。安穩無虞。如不是。胎不動。所滯惡物自行。如一服不覺。再煎紅花湯調下。一服必效。</p>
<h4>探胎散</h4>
<p>皂角(去皮)　炙甘草(各一錢)　黃連(五分)　為末。溫酒調服。有胎則吐。無胎不吐。</p>
<p>一法經水三月不行。用川芎(三錢)　為末。煎艾湯調服。服後一時腹內微動。非胎不動。大約尺脈調而不月水者。孕也。如經閉。脈必不正。或不至。</p>
<h3>養胎</h3>
<p>婦人童幼。天癸未行之先屬少陰。天癸既行屬厥陰。天癸既絕屬太陰。或妊娠養胎。始於厥陰者。是祖氣生化之原也。陰陽配合。故次及少陽膽經。五行相生。正是肝膽之木。次及胞絡。三焦之火。歷脾、腎、肺、大腸、胃、膀胱而終十月之期焉。惟手少陰、太陽、二經。無專養者。君主之官。無為而已。</p>
<p>一月肝足厥陰經。</p>
<p>二月膽足少陽經。</p>
<p>三月胞絡手厥陰經。</p>
<p>四月三焦手少陽經。</p>
<p>五月脾足太陰經。</p>
<p>六月胃足陽明經。</p>
<p>七月肺手太陰經。</p>
<p>八月大腸手陽明經。</p>
<p>九月腎足少陰經。</p>
<p>十月膀胱足太陽經。</p>
<p>按回回國。譯天文書。七曜相照。所屬與前不同。今並載以備參考。(初時胎宮極熱。將外膚蒸干後為胞衣。)一月土星照。</p>
<p>二月木星照。(色變紅。)三月火星照。(心肝腦成。)四月太陽照。(身體全成。)五月金星照。(毛髮成。)六月水星照。(舌動。口開。)七月太陰照。(此月胎中有力。若是月生。養得長成。)八月又土星照。(土星性燥。胎氣動。兒昏沉。是月生。養不長成。)九月又水星照。(熱潤。有力轉動。)十月既足。氣全力生。</p>
<h3>安胎</h3>
<p>安胎之法。以養血氣。理脾胃為主白朮益脾以培萬物之母。條芩固中瀉火氣。能滋子戶之陰。使火不妄動。所以為安胎聖藥。砂仁安胎以其止痛行氣故耳。勞神動怒。情欲之火。俱能墮胎。推原其本。皆因於熱。火能消物。造化自然。古方謂風冷傷於子宮。而墮。未達病情者也。如慣墮胎之婦。或中氣不調。食少。且不必養血。先理脾胃。次服補中益氣湯。使氣血自生。因母病而動胎者。但治母病。其胎自安。因胎病而致母病者。但安胎則母病自愈。胎多在三月分而墮者。爾時手厥陰心胞絡。主養胎元。勞心多慮。心胞絡虛。不能養胎則墮治。</p>
<p>宜兼制火。用四物東加黃柏。元參。白朮。條芩。左脈微弱。身痛。夜熱。腰痛。胎不安。</p>
<p>屬血虛。用四物湯。加杜仲。黃芩。白朮。秦艽。</p>
<p>右脈寸關大而無力。似滑。且不流利。倦怠懶於言動。屬氣虛。用補中益氣湯。加山藥。杜仲。條芩。</p>
<p>兩手脈俱弱。胎常墜。屬氣血兩虛。用八珍湯。加山梔。杜仲。續斷。條芩。白朮。孕婦忽然不痛。單用　。糯米。(佛手散方見秘要。)孕婦下赤汁。屬血虛有火。正方用子芩。當歸。川芎。煎服。若奇兵則用銀苧酒。</p>
<h4>銀苧酒</h4>
<p>苧根(去黑皮研碎五錢)　白銀(一兩)　以水酒各半煎服。</p>
<p>治胎動不安。一法取苧根。如足趾大者一尺煎服。即愈。丹溪云。以苧根能補血行滯也。</p>
<p>懷胎宜養血。益氣。健脾。清火。當常服固胎飲。</p>
<h4>固胎飲</h4>
<p>川芎(一錢)　當歸　白芍　熟地(各二錢)　人參　白朮　陳皮　甘草(各一錢)　少佐黃連。</p>
<p>黃柏。桑上羊兒藤。(要七葉完全者)　糯米(一錢)　如見血不安。加阿膠。痛而氣滯。加縮胎至七月後。宜服方。</p>
<h4>束胎丸</h4>
<p>黃芩(酒炒夏月一兩秋七錢冬五錢)　茯苓(七錢五分)　白朮(二兩)　陳皮(三兩)　為末。粥丸。每服錢五分。</p>
<p>胎至臨月。服束胎散易產。</p>
<h4>束胎散(即達生散。)</h4>
<p>人參　陳皮(各五分)　白朮　白芍　全當歸(各一錢)　炙甘草(二分)　蘇葉(五分)　大腹皮(二錢)難產之婦。多氣血虛弱。榮衛澀滯使然。是方用人參。白朮。甘草以益氣。當歸。芍藥。以益血。紫蘇。腹皮。陳皮。以疏滯氣。　則其生易矣。如腹脹或痛。加砂仁。枳殼。青蔥(五葉)。黃楊腦(七個)。有火加黃芩。頭目眩悶。加川芎。如氣虛。倍參。朮。氣實加香附。倍陳皮。血虛倍當歸。加地黃。形實倍紫蘇。性急加黃連。熱極加黃芩。濕痰加海石。半夏。</p>
<p>食積加山楂。食後易飢加黃楊腦。腹痛加木香。官桂。黃芩。(冬月不可用桂)臨產當服補血順氣藥。使胎易產。</p>
<h4>保生無憂散</h4>
<p>(兼治小產瘀血腹痛。)南木香　當歸　川芎　白芍　枳殼　乳香　血余(即頭發洗淨　灰各等分)　水煎日二服。(均用五分)</p>
<h3>小產</h3>
<p>半產多在三個月。及五七月。除跌撲損傷外。若前次懷胎三個月而墮者。下次有孕。如期復然。蓋先於此時受傷。故後期必應。乘其虛也。必須預服健脾、益氣、養榮藥於一有孕之日。日日不可缺乃可。</p>
<p>胎元不足倦怠。或胎動不安。或身微熱。減食。</p>
<h4>單氏安胎散</h4>
<p>人參　當歸　懷熟地(各二錢)　白朮(二錢五分)　條芩(八分)　陳皮　蘇葉(各四分)　砂仁(三分)　如煩渴。加麥冬(一錢)　棗(五枚)　水煎服。如腰疼脾腿痛。必一日夜服三帖可安嘔吐痰水。心煩悶。頭重。目眩。惡聞食氣。胎動。腰腹痛。下血等症。用四物東加黃　。</p>
<p>白朮。甘草。黃芩。阿膠。人參。桑寄生。(如無真寄生。以續斷代之。)</p>
<h2>卷二</h2>
<h3>惡阻</h3>
<p>懷孕三月。惡心而阻隔飲食是也。亦有六七個月。尚病嘔者治同。然肥人責之痰。瘦人責之火。俱宜二陳湯。加白朮。黃芩。或加香附。砂仁。薑汁。竹茹。與吐家同。如或因氣者。</p>
<p>脈必沉　。治兼舒郁。加撫芎。香附。不可過用辛藥。妊娠稟受怯弱。便有阻病。狀如病酒。</p>
<p>顏色如故。脈息和順。但覺肢體沉重。頭目昏眩。擇食惡食。好酸鹹物。若甚者。則作寒熱。心下憤悶。嘔吐痰水。恍惚不支。古名惡阻。治先脾胃而清火。化痰。如吐甚者。愈止愈吐。仲景云。停藥月余自安。</p>
<p>孕婦飲食失宜。停滯作嘔。宜和平消導。不可作惡阻治。如脾胃弱者。加人參。白朮。治惡阻必用大半夏湯。加減如頭眩痰多。加旋覆花。有火加薑汁。炒黃連。竹茹。</p>
<h4>大半夏湯</h4>
<p>半夏　陳皮　茯苓(各二錢五分)　生薑(一錢)　水煎服。</p>
<p>日久津液損。胃燥干噦。不納湯水。用二陳湯合四物湯。加竹瀝。薑汁。潤以降之。</p>
<p>此症右脈必弦數。左脈必微弱。昧者謂半夏犯胎。地黃膩膈。乃知常而不達變也。</p>
<p>吐多脈弱。體倦不納穀。用六君子湯。加麥　。生薑。</p>
<p>左脈弦急。心下脹悶。惡心不止者。挾肝氣上衝也。宜茯苓湯下抑青丸。</p>
<h4>抑青丸</h4>
<p>黃連(一兩)　為末。丸如麻子大。每服白湯下二三十丸。</p>
<p>左脈弱而嘔。當服理血歸脾藥。蓋以無陰而作嘔也。</p>
<p>脅脹或寒熱往來。面色青黃。此木克土也。宜六君子東加柴胡。桔梗。枳殼。兼腰痛胎欲墮。宜二陳湯合四物湯。加白朮。黃　。黃芩。阿膠。</p>
<p>如脹悶。加縮砂仁。</p>
<p>吐而心煩。用竹茹。麥冬。前胡。橘紅。蘆根。煎湯徐服。</p>
<p>因食冷物。及涼藥。吐不止。以丁香。炮薑。加半夏湯溫之。惡阻漸退。則徐服後方。</p>
<h4>歸芩參附湯</h4>
<p>當歸(三錢五分)　川芎(一錢七分)　茯苓　人參　生地　香附子(各二錢)　白朮(一錢五分)黃芩(七分)　麥冬(一錢五分)　薑棗引。</p>
<p>吐雖定。每食粥則口酸。此肝火盛。宜用川芎。陳皮。梔子。(炒)　茯苓。生薑。煎湯下抑青丸。</p>
<p>吐定之後。須用大補。宜人參。白朮。當歸。黃　。陳皮。茯苓。煎服。如有火加條芩。腰痛加杜仲。川斷。每日一服。</p>
<p>暈眩倦怠。</p>
<h4>單參橘飲</h4>
<p>人參(一錢)　橘紅　藿香　甘草(各四分)　白朮　當歸(各二錢)　半夏(八分)　砂仁(三分)竹茹(四分)　如肥人加竹瀝(半匙)</p>
<h4>仲仁治惡阻方</h4>
<p>人參　陳皮　竹茹(各一錢)　麥冬　木瓜(各三錢)　藿香(五分)　枇杷葉(三大片無則蘆根代之)一法妊娠惡食。以所思食任意食之。必愈。</p>
<h3>胎痛</h3>
<p>孕婦腹中不時作痛。或小腹重墜。名曰胎痛。宜地黃當歸湯主之。如不應。加人參。白朮。</p>
<p>陳皮。如因血氣。加砂仁。因中氣虛下墜而作痛。則服補中益氣湯。</p>
<h4>地黃當歸湯</h4>
<p>熟地(三錢)　當歸(一錢)　煎服。</p>
<p>腹作痛升動。先將砂仁(二錢炒)　研末。白湯調服。即時痛止。或入前方煎服。其效如神。</p>
<p>壯實婦人。兩手脈平和。飲食如故。都無所苦。而經暗下。此血氣旺。養胎之余血也。兒大能飲自不來矣。不必治。然亦不可使之多下。當和血、涼血、健脾為主。用佛手散加黃　。</p>
<p>白朮。如不已。加阿膠。去血多。用八珍湯。加膠。艾。一說壯盛婦胎漏。腰腿不酸痛。</p>
<p>過於小心。只服安胎飲。孕婦經水蓄於胎。若下漏則本於氣衰。而不能循於經也。胎干則子損矣。若因熱。用逍遙散。因肝火。用柴胡山梔散。因脾火。用加味歸脾湯。因脾氣虛不能攝血。用補中益氣湯。</p>
<p>胎漏有母因宿疾。子臟為風冷所乘。血氣失度。使胎不安而下血者。有榮經風勝。經血喜動。而時下者。此二症。若作漏胎治。胎必墮。若以一藥治風可止。即不治風亦無害。又有衝任脈虛。不能制經血。則月水時下。若不早治。使血盡則人斃矣。更有氣血虛。血熱風熱。肝火脾火。脾胃虛陷。濕熱鬱怒等而致。治者宜詳察之。</p>
<p>大怒傷肝而動血者。宜用佛手散加梔子(炒)、白芍。蓋以佛手散胎動能安。胎損能下也。</p>
<p>胎漏經血妄行。淋漓不已。</p>
<h4>桑寄生散</h4>
<p>當歸(酒炒)　桑寄生　川斷　白朮　香附(醋炙)　阿膠(蛤粉炒)　川芎　人參　白茯苓(各一錢)　甘草(五分炙)　薑(一片)　煎服(桑寄生安胎妙品。若他樹寄生。有毒不用。)</p>
<h3>胎漏下血</h3>
<h4>陸氏胎漏方</h4>
<p>當歸　川芎(各二錢)　人參(七分)　白朮(一錢五分)　茯苓(一錢)　黃　(五錢炙)　升麻(五分)　香附(三錢)　加薑棗引。若胎不轉動。去白朮加蘇梗(五分)</p>
<h4>二黃散</h4>
<p>生地　熟地(各等分)　為末。煎白朮。枳殼湯。食前服。每服二錢。</p>
<h3>跌撲傷胎</h3>
<p>胎為跌撲所傷。以逐污生新為主。服佛手散神效。如腹動加益母子。服下痛止。母子俱安。</p>
<p>若胎已損。則污血頻下。再加香附。(童便制)　益母草。陳皮。煎濃汁服。系從高墜下。腹痛。下血。煩悶。加生地。黃　。補以安之。若腹內大痛。下血。加人參。白朮。茯苓。炙甘草。陳皮。砂仁(研)服。痛甚加五靈脂一錢。</p>
<p>搐犯胎不安。腰腹痛。或下漿水。血水。或上搶心氣促。用四物湯。加阿膠。黃　。棗薑引。</p>
<p>損傷胎。腰腹痛。經血淋漓。胎下墜。</p>
<h4>陸氏傷胎方</h4>
<p>當歸(三錢)　川芎　香附　黃芩(各二錢)　升麻(一錢)　砂仁(一錢五分)　薑（三片）　棗(二個)單氏治傷胎腹痛。先服安胎散。日二帖。如不止。再服膠艾安胎飲。</p>
<h4>膠艾安胎飲</h4>
<p>人參　條芩　阿膠(蛤粉炒)　熟地(各一錢)　白朮　當歸(各二錢)　川芎(八分)　紫蘇　陳皮甘草(各四分)　艾葉(八片)　加薑棗引。如感寒頭痛。加連須。蔥頭(四個)　腹痛減去艾葉。加帶殼砂仁(四分)胎偶有所傷動。痛不可忍。</p>
<h4>救急方</h4>
<p>縮砂(連殼炒黑)　為末。熱酒調服二錢。或米飲亦可。服後腹中覺熱。胎即安。屢試驗。</p>
<h3>毒藥傷胎</h3>
<p>誤服毒藥。傷胎欲墮。</p>
<h4>甘豆竹葉湯</h4>
<p>甘草　黑豆　淡竹葉(各等分)　煎濃汁服。</p>
<p>服毒藥草藥。下血胎動。</p>
<h4>奪命丹</h4>
<p>(並治小產。子死腹中)丹皮　茯苓　桂枝　桃仁　赤芍(各等分)　為末丸。淡醋湯嚼下。</p>
<h3>胎動</h3>
<p>下血而腹重胎動。此胎欲墮也。治宜行氣安胎。急服佛手散。加砂仁。如脈大有火。加黃芩。白朮。腹痛下黃汁。加黃　。川芎(各一兩)　糯米(一合)　水一升。煮至半升服。</p>
<p>孕婦脈弦急。憎寒壯熱。唇爪俱青。面黃黑色。是胎氣損也。當問胎動否。若不動反覺上攻。搶心悶絕。或下血。當作死胎治之。</p>
<h3>滿悶</h3>
<p>有外感風寒。內傷飲食者。用藿香正氣散。有食傷脾胃者。用六君子湯。有陽氣壅滯者。用紫蘇飲。又有常多怒氣。胸腹滿悶。服順氣藥而甚者。宜參歸芩朮湯。</p>
<h4>參歸芩朮湯</h4>
<p>當歸　人參(各二錢)　川芎　黃芩(各八分)　白朮(二錢)　甘草　紫蘇　陳皮(各四分)　木香(二分)心腹脹滿。氣衝心膈煩悶。並腹脹滿。兩脅妨悶。不下飲食。四肢無力。</p>
<h4>倉公下氣湯</h4>
<p>羌活　赤芍　赤苓　甘草　半夏　檳榔(各八分)　桂心(四分)　蘇梗(六分)　青皮　陳皮大腹皮　桑白皮(各一錢)　和勻。每服三錢。薑三片。棗一個。煎服。心腹脹滿。氣衝心膈。煩悶。四肢無力。不思飲食。</p>
<h4>訶黎勒散</h4>
<p>訶黎勒　赤苓　前胡(各一錢)　陳皮　大腹皮　桑白皮(各七分)　枳殼　川芎　白朮(各五分)　研末。每服四錢。薑棗引。</p>
<p>孕六七月時。脈弦發熱。其胎愈脹。腹痛惡寒。小腹如扇。此子臟虛寒也。</p>
<h4>附子湯</h4>
<p>附子(八分)　人參　白朮　茯苓(各一錢)　芍藥(一錢)　水煎服。</p>
<h3>子腫</h3>
<p>面目虛浮。四肢作腫如水。此皆脾虛不運。清濁不分所致。以補脾分利為主。當多用參朮。</p>
<p>單氏云。或水瀉所致。當服全生白朮散。</p>
<h4>全生白朮散</h4>
<p>陳皮　白朮　薑皮　大腹皮　茯苓皮(各五分)如大便不實。加澤瀉。山藥。扁豆。秦艽。有火加子芩為末。每服米湯下二錢。</p>
<p>胎水。尋常脾虛腫滿。</p>
<h4>五皮飲</h4>
<p>大腹皮　桑皮　茯苓皮　陳皮　薑皮(各等分)　加木香。濃煎汁半盞服。</p>
<p>(〔吳按〕或有以五加易桑皮者。亦妥。)妊娠腹大。胎間有水氣。</p>
<h4>三因鯉魚湯</h4>
<p>白朮(五兩)　茯苓(四兩)　當歸　川芎(各二兩)　銼片。以鯉魚一尾洗淨。煮汁。將藥和勻。每服四錢。用魚汁盞半。薑三片。陳皮少許。煎藥空心服。</p>
<p>治子腫。</p>
<h4>單氏全生白朮散</h4>
<p>白朮　當歸(各二錢)　人參(一錢)　川芎(八分)　甘草(三分)　陳皮(四分)　大腹皮　茯苓皮(各七分)　研末服。</p>
<p>大約胸腹脹。小水不通。遍身浮腫。宜三因鯉魚湯。若虛弱以四君子湯。治面目虛浮。肢體如水氣。宜全生白朮散。如不應。用六君子湯。治脾胃虛。濕熱。下部作腫。宜補中益氣湯。</p>
<p>加茯苓。治腿足腫。喘悶。或指縫出水。宜天仙藤散。治脾肺氣滯。宜加味歸脾湯。佐以加味逍遙散。治脾氣虛。宜補中益氣湯。</p>
<h3>子氣</h3>
<p>懷胎三月以後。兩足浮腫。行步艱難。食不甘味。且喘狀如水氣。名曰子氣。古方一主於濕。大率浮腫。因脾虛者多。若喘則因肺腎。蓋以脾主四肢。脾氣虛弱。不能制水。而發腫。</p>
<p>肺腎少母氣滋賴。則氣促滿悶。治宜補兼分利。與子腫互考。日腫夜消。如血虛更健脾兼養其血。用川芎。當歸。茯苓。白朮。白芍。陳皮。秦艽。如心下脹。是濁氣礙於上焦。加厚朴。貝母。香附。前胡。大腹皮。蘇葉等。一二味。若喘加杏仁。甚者加炒蘇子。</p>
<p>按此症始自兩足。漸至喘悶似水。足趾出水。謂之子氣。乃婦人素有風氣。或衝任有血風。</p>
<p>不可作水。妄投湯藥。當以天仙藤散主之。</p>
<h4>天仙藤散</h4>
<p>天仙藤(即青木香洗略炒)　香附(炒)　陳皮　甘草　烏藥(各等分)　和勻為末。每服三錢。</p>
<p>薑三片。蘇葉三片。木瓜三片。同煎空心服。三服後腫消。此方單氏作煎湯。加紫蘇四分。如虛加人參。白朮。當歸。如不效。兼服補中健脾之藥。</p>
<p>(〔吳按〕以後三味。另煎水。送前藥末。)</p>
<h2>卷三</h2>
<h3>子懸</h3>
<p>胎氣不和。濁氣舉胎。而上湊。胸腹脹滿。謂之子懸。然必面不赤。目不青者方是。不然則胎壞矣。</p>
<h4>紫蘇飲</h4>
<p>蘇葉(八分)　人參　大腹皮　川芎　白芍　陳皮(去白)　甘草(各一錢)　當歸(酒浸二錢)薑(三片)　蔥白(一根)　空心服。此症挾氣者多。非紫蘇。腹皮。陳皮。川芎。無以疏其氣。非當歸。白芍。無以利其血。氣利血流而胎自下矣。邪之所湊。其氣必虛。故用人參、甘草補之。一補一瀉。推陳而致新也。</p>
<h4>單氏子懸方</h4>
<p>人參(一錢)　白朮　當歸(各二錢)　黃芩　川芎(各八分)　紫蘇　陳皮　砂仁　甘草(各四分)　如有氣加木香(三分)　薑水煎。</p>
<p>子懸症。雖以紫蘇飲主之。若飲食不甘。兼以四君子。若內熱晡熱。兼以逍遙散。若胃火所致。則用四君子湯。加黃芩。枳殼。柴胡。梔子。若脾郁所致。則用歸脾湯。加柴胡。枳殼。</p>
<h3>子煩</h3>
<p>心中煩懣不寧者是也。責之心虛有火。簡易方以竹葉湯主之。若左手寸脈微弱。則服柏子養心丸。或調補心丹。臨臥服。</p>
<h4>竹葉湯</h4>
<p>白茯苓(二錢)　防風(八分)　麥冬　黃芩(各一錢)　竹葉(九片)　心驚膽怯。煩悶不安。</p>
<p>人參　棗仁(各一錢)　白朮　當歸(各二錢)　黃芩　遠志(各八分)　川芎(七分)　懷生地(一錢五分)　竹葉(十片)　陳皮(三分)　麥冬(一錢)　甘草(四分)　薑棗引。如煩渴加竹茹一丸。有痰加竹瀝。薑汁。虛多用人參。脾常瀉。減去生地。麥冬。棗仁。</p>
<p>夫人肺臟寒而熱乘於心。則令心煩。停痰積飲。在心胸之間。或沖於心。亦令心煩。若熱而煩者。但熱而已。若有痰飲而煩者。嘔吐涎沫。惡聞食氣。煩躁不安也。治內熱用竹葉湯。痰滯用二陳湯。加白朮。黃芩。枳殼。氣滯用紫蘇飲。氣鬱用分氣飲。</p>
<p>加。通於舌。若孕婦臟腑氣虛。榮衛不理。陰陽隔絕。熱乘於心脾。津液枯少。故心煩而口乾也。若系胃經實火。竹葉石膏湯。系胃經虛火。人參黃　散。系胃經虛。補中益氣湯。系脾氣鬱結。加味歸脾湯。系肺經虛熱。紫蘇飲。系肝經火動。加味逍遙散。系腎經火動。加味地黃丸。</p>
<p>(〔吳按〕煩輕躁重。躁為陰虛。陽無所附。虛陽外越。孤陰失守。久則暴脫。經云陰虛無驟補法。計在潛陽。此至精微之旨也。)</p>
<h3>子癇</h3>
<p>孕婦痰涎壅盛阻塞。或時發搐。不省人事。名曰子癇。治宜清氣化痰為主。蓋此症因於氣者多。治法與癇症同。惟劑稍小耳。若惡心甚者。煎二陳湯探吐。吐定則理氣化痰。兼用黃芩。白朮。保胎。古方羚羊角散。葛根湯。藥味偏於辛散。治者當因時制宜可也。</p>
<p>(〔吳按〕癇者。俗名羊顛瘋。皆痰火凝聚心胞男女皆有。最難除根。孕婦子癇。又當別論。)</p>
<h4>羚羊角散</h4>
<p>羚羊角(一錢)　當歸(二錢)　獨活　五加皮　茯神(各八分)　棗仁　米仁(各一錢)　防風(五分)　川芎　杏仁(各七分)　木香(二分)　甘草(四分)　如虛加人參。若痰氣盛緩。而人參薑引。如痰多。加竹瀝。薑汁。脾胃弱。加白朮(二錢五分)　研末服。</p>
<p>治臨月因發風疹。悶憤不識人。吐逆眩倒。</p>
<p>(〔吳按〕疹必兼咳。以咳止為毒盡。總當辛涼托散。使其外達。而免內陷。不可輕忽。)</p>
<h4>葛根湯</h4>
<p>葛根　貝母　丹皮(各一錢)　木防己(六分)　防風(八分)　當歸　川芎　茯苓(各二錢)　桂枝(五分)　澤瀉　甘草　獨活　石膏(各四分)　人參(八分)　水煎服。忌海藻。粉菜。酢物孕婦無故忽然僵撲。左脈微數。而右脈滑大者。是血虛。陰火炎上。鼓動其痰。四物湯養血。加芩連降火。兼用二陳湯化痰下氣。或加竹瀝薑汁。</p>
<h3>子淋</h3>
<p>此症以茯苓、燈心、條芩為主。若痰閉上焦。寸關必滑。宜探吐以提之。然必胸膈迷悶乃可(〔吳按〕不可過於通利。亦不宜急用升提。只用萆　釐清飲最妥。)日久倦怠。右脈微弱。屬氣虛。用人參。黃　。白朮。麥冬。茯苓。加梔子。知母。條芩等。清火藥。</p>
<p>左脈細數形羸。每便則痛。屬血虛。用四物湯。加黃柏。知母。條芩。濟生方中。治子淋症。用安榮散。煎麥冬湯下。但滑石、細辛二味稍峻。人之虛實。氣血各有不同。達士變而通之可也。(安榮散方具秘要中。)</p>
<h4>單氏子淋方</h4>
<p>人參　茯苓　通草(各一錢)　白朮　當歸　麥冬(各二錢)　甘草(四分)　燈心(五分)　如有痰。宜清肺金。加黃芩(七分)</p>
<h3>淋閉</h3>
<p>臍腹作脹。小便淋閉。蓋孕婦胎系於腎之間。虛熱而成斯疾。若項強筋攣。語澀痰盛。用羚羊角。小便淋痛澀少。用安榮散。肝經風熱。用加味逍遙散。腿足轉筋。而小便不利。急服八味丸。遲則不救。服燥藥而小便頻數。或不利。用生地。茯苓。牛膝。黃柏。知母。川芎。當歸。甘草。煎湯。頻數而黃。用四物湯。加黃柏。知母。五味。麥冬。元參。肺氣虛而短少。用補中益氣湯。加山藥。麥冬。陰挺痿痹而頻數。用地黃丸。熱結膀胱而不利。用五苓散。脾肺燥不能小便。用生黃芩。清肺熱。膀胱陽虛。陰無所化。用腎氣丸。膀胱陰虛。</p>
<p>陽無所生。用滋腎丸。</p>
<h4>滋腎丸</h4>
<p>肉桂(一兩五錢)　黃柏(三兩)　知母(二兩)　共研末為丸。</p>
<h3>溺血</h3>
<p>形體勞苦。或過食炒炙等物。小便中帶血。宜清膀胱。</p>
<p>(〔吳按〕小水帶血。頻數而痛。為血淋。小水清長。帶血不痛。為虛火。)</p>
<h4>加味逍遙散</h4>
<p>當歸(二錢)　白芍　柴胡(各一錢)　茯苓　丹皮　山梔(各七分)　白朮(一錢五分)　炙草(四分)</p>
<h3>遺尿</h3>
<p>孕婦遺尿。有虛與熱之分。醫者當審其因。如系脬中有熱。用加味逍遙散。系脾肺氣虛。用補中益氣湯。加益智。系肝腎陰虛。宜六味丸。</p>
<p>如孕遺尿。</p>
<h4>白薇散</h4>
<p>白薇　白芍(等分)　為末。米飲送下。空心服。</p>
<p>遺尿不知而出。</p>
<h4>桑螵蛸散</h4>
<p>桑螵蛸(七個)　炒黃。研為細末。空心米飲下二錢。</p>
<h3>轉胞</h3>
<p>孕婦六個月以後。覺胎墜。一邊小水不通。其症有因火。有氣虛。有痰滯。有血虛。</p>
<p>兩寸脈弦急。或兩尺弦急有力。兼口乾心煩等火症者。屬熱。宜用冬葵子。滑石。梔子。木通。條芩。白朮。以清之。外以冬葵子。滑石。梔子為末。以田螺研成膏。或生蔥搗膏貼臍上。立通。</p>
<p>(〔吳按〕譬如水壺。若貯水太滿。則傾之不出。去其上蓋。其嘴即通。亦此理也。)右三部微弱無力。或氣口虛大。兼倦怠不食者。屬氣虛。以補中益氣湯。服下探吐。以提其氣。</p>
<p>左脈不足。或澀而數。兼夜熱心煩。或大腸閉者屬血虛。宜四物湯。加黃芩。知母。黃柏。</p>
<p>調益元散服。</p>
<h4>益元散</h4>
<p>滑石(六錢)　生甘草(一錢)　共為末。加入前藥服。</p>
<p>(〔吳按〕此系六一散。而益元散尚有朱砂也。)肥盛婦人。右寸脈沉滑。症兼惡心心脹。小水不利。屬痰滯。以二陳湯。加青皮。升麻。柴胡。煎服探吐。使藥汁與痰同出。然後用參　大補之。</p>
<p>大抵有孕小水不利。月分淺者當清之。兼保胎。月分多而虛者當補之。兼升提。治分兩途。</p>
<p>稟賦弱者。憂悶多食濃味者。庸有之。法用四物。二陳。四君子湯。去茯苓。煎服探吐。上竅通。下竅自利。(此症匯載甚詳。須當合看。)陸氏謂轉胞系脾氣下陷。塞住胞戶。以致小水不利。非熱閉之故。宜用二陳湯。加芎。歸。</p>
<p>參．術。煎服探吐。如不通。再服再探吐。以小水已利為度。然後用上藥。加升麻十余帖。如倦。六味丸宜日服三次。每見治此症。服利小便或通大便藥。以致胎墮而殞婦命者。豈不惜哉(〔吳按〕升麻可暫用以升提。不可多服而受害。)單氏云。轉胞由脾胃氣虛。以致胎壓尿胞。</p>
<h4>單氏轉胞方</h4>
<p>白朮　生地(各一錢五分)　陳皮(去白)　甘草　柴胡　升麻(各四分)　人參　半夏(各一錢)川芎(八分)　當歸(二錢)　薑(一片)一方　白蘿卜子(炒香)　白湯吞下立通。</p>
<p>一法　空心屢飲鹽湯探吐。則氣上升。使下通行。亦一治法。</p>
<h3>中風</h3>
<p>孕婦口噤項強。手足縮攣。言語謇澀。痰涎壅盛，不省人事。可作中風治。用羚羊角散。若無痰言語如常。但見似中風症。多是血燥類風。切不可以風治。誤人性命。</p>
<p>有毒藥傷胎。狀類中風。牙關緊閉。口不能言。兩手強直握拳。頭低自汗。身微熱。其脈浮而軟。若作中風治。必死。宜用白扁豆二兩。生去皮為末。取新汲水調下。立愈。</p>
<p>中風症中腑者。多著四肢。脈浮惡寒。拘急不仁。宜汗之。中臟者多著七竅。唇緩失音。耳聾鼻塞。宜下之。表裡皆和。宜治在經。以大藥養之。而佐以安胎。</p>
<p>(〔吳按〕中風有真類之分。中臟者多不治。若中腑血脈經絡為真中。而中皮毛偏枯。為類中。肥人居多。又有瘦人血虛火燥。木旺生風。為內風。虛風。尤難調理。更有遍身關節走痛。為歷節風。蓋風為百病之長。變態最多。當尋源施治。況胎產遇此危症。尤當立方周到。庶可保全母子性命也。)孕婦中風。</p>
<h4>防風散</h4>
<p>防風　葛根(各二錢)　桑寄生　羚羊角(各三錢)　細辛(四分)　當歸(三錢)　菊花(一錢五分)　漢防己(錢半)　秦艽(錢半)　桂心(六分)　茯神(三錢)　甘草(一錢)　和勻。每服八錢。加薑五片煎好。入竹瀝半合溫服。</p>
<p>(〔吳按〕以朱砂雄黃末酒沖服。外以艾灸手足大指尖上。)</p>
<h3>中惡</h3>
<p>孕婦忽然心腹刺急絞痛。如鬼擊之狀。不可按摩。悶絕欲死。或衄或吐血。以調補正氣為主。治用金銀藤煎湯飲神效。或用熟艾拳大一丸。煮汁頻服。</p>
<p>中惡心腹疼痛。</p>
<h4>當歸散</h4>
<p>當歸　川芎(各二兩)　丁香(六錢)　青皮(一兩)　吳茱萸(五錢用桔梗湯泡炒黑)　共和勻為末。溫酒調。每服五錢。</p>
<h4>木香散</h4>
<p>生地(二錢)　枳殼　木香(各七錢五分)　和勻為末。溫酒下三錢。</p>
<h4>苦梗散</h4>
<p>苦梗(一兩炒)　生薑(五錢)　水煎服。</p>
<p>又方　男子汗衣(燒灰存性)　百沸湯調服。</p>
<p>一法　用鹽水探吐。或用灶心土為末。井水調服。(二錢)</p>
<p>心主脈屬火。肝主筋屬氣。氣火相熾。則為　。治法平脈降火。兼養氣血。用鉤藤東加柴胡。山梔。黃芩。白朮。若風痰上涌。加竹瀝。南星。半夏。如風邪急搐。加全蠍。僵蠶。若虧損氣血。宜八珍湯。加鉤藤。山梔若無力抽搐。角弓反張。汗出如珠等症。此肝經絕也不治。</p>
<p>(〔吳按〕　者即剛柔二痙。如類中風。乃傷寒之變症也。)</p>
<h3>鉤藤湯</h3>
<p>鉤藤　當歸　茯苓　人參(各一錢)　桔梗　桑寄生(各五分)　水煎服。忌豬肉。炒。煎。若煩熱加石膏一錢五分。臨產加桂心(四發)</p>
<h3>眩暈</h3>
<p>肝熱上攻太陽穴。胸膈涎壅。頭旋。目眩暈。或腮項腫核。</p>
<p>(〔吳按〕兩腮腫核為　腮。以靛花。柿油。調塗。即消。柿油乃補傘人所用。)</p>
<h4>消風散</h4>
<p>石膏　防風　羌活　甘菊　川芎　羚羊角　當歸　白芷　荊芥穗　大頭黃芩(各一錢)　炙甘草　芽茶(各五分)　水煎食遠服。</p>
<p>治諸風熱困倦。時發昏眩。</p>
<h4>犀角散</h4>
<p>犀角　揀參(各錢半)　山梔仁　羌活　黃連　青黛(各八分)　川芎　茯苓　白芷　甘草(各一錢)　生薑(三片)　研食遠服三錢。</p>
<h2>卷四</h2>
<h3>心痛</h3>
<p>風寒邪氣痰飲交結。而傷心支結。則乍寒乍止者是。當審其因而治。如飲食所傷。用平胃散加枳殼。山楂。</p>
<h4>火龍散</h4>
<p>川楝子　小茴香(炒各三錢)　艾葉末(鹽炒一錢五分)　水煎服。</p>
<p>卒然心痛。欲死不可忍。</p>
<h4>白朮湯</h4>
<p>白朮　白芍(各二兩)　黃芩(一兩五錢)　分三帖煎服。或沉香降氣湯。或茯苓補心湯。或四七湯。或紫蘇飲。或延胡為末調服。皆可治。</p>
<p>治臨產卒然心痛。</p>
<h4>歸苓散</h4>
<p>當歸　川芎　茯苓(各三錢)　厚朴(一錢五分)　水煎服。</p>
<h3>心腹痛</h3>
<p>多由風寒。濕熱。痰飲。與臟氣相擊。上衝於心則心痛。下攻於腹則腹痛。攻痛不已。則胎動矣。宜用金沸草湯。若胎氣鬱結。加香附。川芎。如飲食傷滯。用六君子湯。加紫蘇。枳殼。如怒氣傷肝。加柴胡。山梔。若郁結傷脾。用歸脾湯。加枳殼。山梔。</p>
<p>孕婦腹中不時作痛。小腹重墜。多由血虛氣陷。閑有兼寒熱者。</p>
<h4>單氏加味安胎散</h4>
<p>人參(一錢五分)　白朮　熟地(各二錢)　川芎(八分)　紫蘇　當歸　甘草　陳皮(各四分)薑引。如兼寒加吳茱萸。或乾薑(五分)　砂仁(一錢五分)　研末服。</p>
<p>孕婦腹中絞痛。</p>
<h4>當歸芍藥散</h4>
<p>芍藥(半斤)　當歸　茯苓　白朮(各四兩)　澤瀉　川芎(各二兩)　共研末。每服二兩。用薑三片棗一枚。煎水送。</p>
<h3>小腹痛</h3>
<p>此症如因風寒所搏。用紫蘇飲。加生薑。系氣血虛。加八珍湯。系中氣虛。用補中益氣湯。</p>
<p>如脹痛。用安胎飲。加升麻。白朮。服之不應。兼服補中益氣湯。</p>
<h3>腰腹背痛</h3>
<p>風冷乘虛入滯則痛。若使腰痛甚則墮胎矣。如因外邪所傷。用獨活寄生湯。因氣血滯郁。用紫蘇飲。加枳殼。因勞傷元氣。用八珍湯。加杜仲。砂仁。阿膠。艾葉。因脾腎陰虛。加白朮。補骨脂。因肝火所傷。用小柴胡湯。加白朮。枳殼。山梔。因肝脾郁結。用歸脾湯。加柴胡。枳殼。</p>
<p>治腰痛不可忍。</p>
<h4>神效通氣散</h4>
<p>破故紙(瓦上焙五錢熟為末)　胡桃(一個)　空心溫酒嚼下三錢。</p>
<h3>子鳴</h3>
<p>此症或云兒口含臍帶上疙瘩。因母高舉臂脫出。故啼。令母曲腰就地。如拾物狀。仍令入兒口即止。</p>
<h4>子鳴散</h4>
<p>空房鼠窟前後土為細末。研麝香(一二厘)　入內。酒下二錢。</p>
<h4>又方</h4>
<p>黃連煎汁呷。(上二方麝香開竅。黃連性寒。俱宜酌用。)</p>
<h3>積聚</h3>
<p>岐伯云。大積大聚其可犯也。衰其大半而止。過者死。故重身毒之。有故無損。亦無殞也。</p>
<h4>香附海粉丸</h4>
<p>醋煮香附(四兩)　桃仁(去皮尖)　蛤粉(醋煮)　白朮(各一兩)　為末。面糊丸服。</p>
<h3>咳嗽</h3>
<p>嗽有風寒、痰熱、虛損、氣喘之異。咳有心肝、脾、腎、肺之分。治當知其因。審所屬。則咳嗽止。而胎自安矣。</p>
<p>肺咳則喘息有聲。甚者唾血。(肺藏氣而應息。故喘息有聲。肝絡逆。故吐血。)心咳心痛。喉仲介介如梗狀。甚者咽腫喉痹。(小腸失氣。)肝咳則兩脅下痛。甚至不可轉。轉則兩脅下滿。(嘔水膽汁。)脾咳右脅下痛。隱隱引肩。甚則不可動。動則咳劇。(胃嘔而食蟲出。)腎咳則腰背引痛。甚則咳涎。膀胱遺溺(三焦腹滿。不欲飲食。)治嗽因風寒。</p>
<h4>寧肺止嗽飲</h4>
<p>天冬(二錢)　桔梗　紫蘇　甘草(各四分)　知母(一錢)　杏仁(十粒)　桑皮(八分)　因痰嗽。加橘紅(四分)　竹瀝。薑汁。因熱嗽去杏仁。加黃芩(八分)　因虛嗽。加紫菀。款冬(各五分)　因喘夜嗽加麻黃(蜜炙三分)　虛損嗽加栝蔞(一個)　竹瀝。薑汁。若心胸不舒。加貝母。百合(各一錢)治嗽不止。胎不安。</p>
<h4>止嗽紫菀湯</h4>
<p>杏仁(二錢)　甘草(八分)　紫菀　桑皮(各二錢)　桔梗　天冬(各一錢)　水煎服。</p>
<p>治嗽帶血。</p>
<h4>止嗽涼血飲</h4>
<p>紫菀　知母　白朮　麥冬　當歸(各一錢)　陳皮　甘草(各四分)　黃芩　犀角(各八分)　天冬(二錢)　如喘加栝蔞(一錢)治肺癰。咳嗽喘急。</p>
<h4>苦梗散</h4>
<p>桔梗　紫蘇　桑枝　貝母　人參　甘草(各五錢)　天冬　赤苓(各一兩)　麻黃(二錢五分)共研末。每服四錢。加薑引。</p>
<p>治胎氣壅滯。咳嗽喘急。</p>
<h4>馬兜鈴散</h4>
<p>馬兜鈴　桔梗　人參　甘草　貝母(各五錢)　橘紅　大腹皮　桑皮　紫蘇(各二兩)　五味子(二錢)　共研末。每服四錢。加薑三片。如不嗽而喘。當求別治。</p>
<h3>霍亂</h3>
<p>吐瀉頻腹痛。服六和湯。次用丹溪安胎飲。</p>
<h4>丹溪安胎飲</h4>
<p>白朮　當歸　熟地(各二錢)　川芎　條芩(各八分)　人參(一錢)　紫蘇　陳皮　甘草(各四分)　砂仁(三分)　薑棗引。</p>
<p>治內傷飲食。外感風寒。用藿香正氣散。若因食滯。用平胃散。如果系脾胃損傷。陽氣虛寒。手足厥冷。必須溫補。然後詳審。毋使胎動。</p>
<h3>不語</h3>
<p>重身九月而喑。不必服藥。月足當復。蓋少陰之脈貫腎絡舌本。胞系了戾。故不能言。</p>
<h3>泄瀉</h3>
<p>此症以六君子湯為君。如因米飯傷。加穀芽。面食傷。加麥芽。肉食傷。加山楂。兼寒熱作嘔。肝木侮脾土。加柴胡。生薑。兼嘔腹痛。手足逆冷。乃寒侮土。加薑桂。如不應。再服錢氏益黃散。若瀉黃色。乃脾土之真色。加木香。薑。桂。若瀉在五更清晨。飲食少思。乃脾腎虛弱。五更服四神丸。日閑服白朮散。如不應。或愈而復作。飲食少思。用八味丸。補命門火。以生脾土。至如元氣下陷。發熱作渴。肢體倦怠。則用補中益氣湯。</p>
<h3>痢</h3>
<p>痢下黃水。乃土色。此脾氣下陷。當升補中氣。兼青黃色。乃木克土。泄肝補脾。黃兼白。</p>
<p>此子令母虛。宜補脾胃。黃兼黑。此水侮土。必溫補脾胃。黃兼赤色。當補母益子。宜補中益氣。至於腸胃虛弱。風寒客之。須胃風湯。或胎不安。急補胃自安。凡安胎之藥。臨病制宜。不拘膠艾之類。</p>
<h4>歸芍湯</h4>
<p>當歸　白芍(各二錢)　黃芩(八分)　白朮(三錢)　川芎(三錢)　澤瀉(一錢五分)　水煎服。</p>
<p>。勿用滑石。如症急必須用者。不拘此例。</p>
<h3>瘧疾</h3>
<p>妊娠患瘧。多傷乎胎。宜早治。若系飲食停滯。宜用六君子湯。加桔梗。蒼朮。藿香。外邪多而飲食少。用藿香正氣散。外邪少而飲食多。用人參養胃湯。勞傷元氣。用補中益氣湯。</p>
<p>鬱怒所傷。用小柴胡兼歸脾湯。若木旺侮於土。久而不愈。用六君子湯。佐以安胎藥。仍參三陽三陰而治之。</p>
<h4>單氏治胎前患瘧方。</h4>
<p>半夏(七分)　草果　青皮(各五分)　烏梅(一個)　人參　黃芩(各一錢)　白朮　當歸(各二錢)紫蘇　甘草(各四分)　藿香(五分)　薑引。</p>
<h3>煩渴</h3>
<p>心脾二經。氣行口舌。孕婦臟腑氣虛。榮衛不理。陰陽隔絕。熱乘於心脾。津液枯少。故令煩躁而口乾也。若胃經實火。竹葉石膏湯。胃經虛熱。人參黃　散。胃經氣虛。補中益氣湯。肺經虛熱。紫蘇飲。肝經火動。加味逍遙散。腎經火動。加味地黃丸。孕婦煩熱。兼咽間作痛。用知母散。加山梔。</p>
<h4>知母散</h4>
<p>黃　赤茯苓　子芩(各七錢五分)　門冬　知母　甘草(各五錢)　共研末。每服四錢。竹瀝</p>
<h3>熱病</h3>
<p>孕婦口乾。不得臥。用丹溪安胎飲。加麥冬。甘葛。</p>
<p>壅熱。心神煩躁。口乾渴。</p>
<h4>參芩犀角湯</h4>
<p>人參　知母　麥冬　梔子仁(各一錢)　甘草　條芩(各五分)　栝蔞根　犀角(各八分)　如夏令加竹瀝(五匙)　薑汁(二匙)　沖服。</p>
<p>熱病嘔吐不食。胸中煩躁。</p>
<h4>蘆根湯</h4>
<p>蘆根　葛根(各一錢五分)　人參　麥冬　知母(各一錢)　竹茹(一丸)　梔子(一錢)　蔥白三斑出赤黑色。小便如血。氣急欲絕。此胎落矣。</p>
<h4>青黛豆豉湯</h4>
<p>梔子　黃芩　升麻(各一錢)　青黛(七分)　淡豆豉(四十九粒)　生地(二錢)　杏仁(十粒)石膏(一錢五分)　蔥白七寸。</p>
<p>熱病。骨節疼痛。不急治。則胎落。</p>
<h4>葛根湯</h4>
<p>葛根　石膏(各二錢)　升麻(三分)　前胡(八分)　青黛(八分)　如有痰。加竹瀝。薑汁。</p>
<h3>胎蒸</h3>
<p>面腫赤色。口苦咽乾。日晡寒熱。日漸羸瘦。胎氣不見升動。用銀柴胡。胡黃連。各一錢。</p>
<p>煎服。治從氣血虛。加味。</p>
<p>治胎不轉動。</p>
<h4>芎歸蘇苓湯</h4>
<p>當歸(二錢)　川芎　枳殼　茯苓　砂仁(各一錢)　蘇葉(五分)</p>
<h3>吐衄</h3>
<p>凡憂思驚怒。傷其臟腑。氣升於上。血隨而溢。心悶胸滿。久而不已。至墮胎則不治矣。若系肝經怒火。先用小柴胡湯。加山梔。生地。次用前藥。合四物湯。後用加味逍遙散。系肝經風熱。用防風。子芩丸。系心經有熱。用朱砂安神丸。系心氣不足。用補心湯。系思慮傷心。用妙香散。系胃經有火。犀角地黃湯。系膏粱積熱。加味清胃散。系郁結傷脾。用加味歸脾湯。系肺經有火。黃芩清肺飲。系子氣不攝血。補中益氣湯。系腎經虛火。加味六味丸</p>
<h4>加味逍遙散</h4>
<p>當歸　芍藥(各二錢)　黃芩(八分)　白朮　柴胡　甘草(各一錢)　薄荷　加山梔(各四分)丹皮(六分)</p>
<h4>防風子芩丸</h4>
<p>條芩(炒焦)　防風(等分)　為末。酒糊丸。米飲下。或溫酒亦可。</p>
<h4>朱砂安神丸</h4>
<p>黃連(酒炒六分)　朱砂(五錢)　炙甘草(五分)　生地　當歸(各三錢五分)　為末。糊丸。每服十五丸。</p>
<h4>補心湯</h4>
<p>人參　茯苓(各二錢)　甘草(一錢)　桂心(五分)　麥冬(二錢)　紫石英(　)　赤小豆(各一錢)　大棗(七枚)</p>
<h4>妙香散</h4>
<p>甘草(二錢)　遠志　山藥　茯苓　茯神　黃　(各一兩)　人參　桔梗(各五錢五分)　辰砂(三錢)　麝香(二錢)　木香(二錢五分)為末。溫酒下二錢。</p>
<h4>犀角地黃湯</h4>
<p>犀角(八分)　丹皮(一錢五分)　生地　白芍(各二錢)</p>
<h4>加味清胃散</h4>
<p>升麻(四分)　黃連(三分)　丹皮(五分)　生地　當歸(各二錢)</p>
<h4>加味歸脾湯</h4>
<p>人參　白朮　茯神　黃　棗仁(各一錢五分)　炙甘草　木香(各五分)　當歸　遠志(各一錢)　龍眼肉(二錢五分)　加丹皮山梔(各一錢)　薑棗引。</p>
<h4>清肺飲</h4>
<p>五味　黃　(各二錢)　歸身　麥冬　生地　人參(各一錢)治男婦諸血逆上。</p>
<h4>必勝散</h4>
<p>熟地　小薊(並根用)　人參　蒲黃(炒)　川芎　當歸(各五錢)　烏梅肉(五錢)　煎不拘時服治吐衄或破傷失血。驀患口噤。項強。背直。類中風症。此皆由失血而然。</p>
<h4>單氏吐衄方</h4>
<p>人參　當歸　白朮(各二錢)　生地　條芩　天麻(各二錢)　陳皮　防風　荊芥(各四分)　麥</p>
<h3>爽期</h3>
<p>婦人懷胎有七月八月而似欲生者。宜涼血安胎。有過一年二年數年而不生者。宜補血行氣治月分未足。痛甚欲產。</p>
<h4>知母丸</h4>
<p>(兼治難產子煩。)知母(為末)　蜜丸。溫酒下。或米飲亦可。每服二十丸。日三服。</p>
<h4>槐子丸</h4>
<p>槐子　蒲黃(等分)　為末。蜜丸。溫酒下二十丸。以痛止為度。</p>
<h4>又方</h4>
<p>梁上塵　灶突煤。同為末。空心溫酒下。二三錢。</p>
<p>(〔吳按〕灶突煤。即百草霜。燒草者佳。)治過期不產。</p>
<h4>加味四物湯</h4>
<p>川芎　當歸　熟地　白芍(各二錢)　香附(錢半)　桃仁　枳殼(各七分)　縮砂　紫蘇(各一錢)</p>
<h2>卷五</h2>
<h3>有孕婦家預知修合</h3>
<p>益母丸。催生丸散。鹿角灰。大料參歸湯。生化湯。</p>
<h3>臨產須知</h3>
<p>痛陣未緊。交骨未開。雖胞水來。不可臨盆。　若胞水來久。交骨猶未開。宜服大料參歸湯。並補助氣血飲食。　產戶開。兒頭未正。不可服催生丸散。　服催生藥。不可用敗血、耗氣、香竄等劑。　兒下胞停。不可臥倒。宜頻服生化湯。　胞下後。不可令寒氣入腹。更緊防賊風入產戶。　產畢。將燒紅秤錘入醋瓶。以瓶嘴向產母鼻孔熏之。可免血暈。並解穢氣。產後月內。宜戒怒氣。勿受驚恐。勿勞神力。謹慎飲食。</p>
<h3>論產後調護</h3>
<p>婦人病倍男子。以胎產之症偏多也。在胎前雖宜慎謹。然時日尚寬。苟非危急症。猶可漸漸挽回。且不至終身受累。若夫產後。少有不謹。或醫治失宜。禍同反掌。即幸不至損命。目前受苦非小。終身得病恆多。故特列章首。普告產婦。並事產者鄭重自持。庶幾彼此不至後悔</p>
<h3>論治血塊</h3>
<p>產後血塊。產科所當首重。毋視為輕症而忽之。蓋因孕成余血。若產婦壯旺而產易。則兒下後。亦隨而俱下。必不至久停作痛。多由產母送兒送胞勞倦之甚。或調護失宜。或腹欠溫暖所致。若不加意調理。變症百出。論治此症。在古方偏用蘇木。棱術。以迅攻之。在時俗多用生地。紅花。以急行之。或用蘇木。牛膝。以大破之。此三者重虛產婦。非徒無益。並致產後危急大症。無異操刀殺人。蓋產後血塊雖宜消。新血亦宜生。必須行中帶補。化中有生者。方稱善治。是則生化湯一方。能使塊消而痛止。神清而氣復。實新產之至寶也。即世用山楂、砂糖消塊。薑椒、艾、酒定痛。亦能致淋、崩、昏、暈等症。皆非良劑。又如氣脹用烏藥。香附。以順之。枳殼厚朴。以舒之。甚有用青皮。枳實。蘇子。以下氣定喘。芩。連。梔。柏。以退熱除煩若夫血枯便實。反用承氣湯下之而愈結。汗多小便澀短。反用五苓散通之而愈秘。此則更無足論。蓋產後諸症。總以生化湯為君。其余不過隨症加減。治產後者。慎毋執偏門。遵古方。予於此條下。分症立方。可考而用也。</p>
<h3>產後血暈</h3>
<p>分娩後。眼見黑花。頭眩昏暈。不知人事。謂之血暈。其因有三。一由勞倦甚而氣竭神昏。</p>
<p>二由血大脫而氣絕暈厥。三由痰火乘虛泛上。而神氣不清。此三者。皆魂不隨神往來。而機運幾息也。醫者若偏信古方。認暈為惡血搶心。而輕用散血之劑。或偏認為痰火。而無補。</p>
<p>專一消降之方。此誤人之命者也。當急服大料生化湯。先行塊定痛。如實系形色脫。或汗多而暈脫。皆急服生化湯一帖後。即加人參二三錢。如系勞倦甚而暈。及血崩氣脫而暈。並連灌兩帖後。加人參二三錢。斷不可疑參為補。而緩用。如或真系痰火乘虛泛上而暈。可於生化湯內。加橘紅四分。若虛甚亦加人參。如系肥人多痰。再加竹瀝七分。生薑汁少許。以上三等暈症。並不可用破血等方。如塊痛甚。將藥煎送益母丸。或鹿角灰。或元胡散。或獨產後形色脫暈。或汗多脫暈。</p>
<h4>加參生化湯</h4>
<p>川芎　當歸(各四錢)　薑炭　炙甘草(各四分)　桃仁(十粒)　人參(三錢)　荊芥(四分)　棗(一枚)　煎服。如脈脫形脫將絕之症。可加人參(三四錢)　頻灌救。汗多亦然。若無汗不脫。只服大料生化湯。不必加參。如左手足脈脫。亦系危症。必須加參。如血塊痛甚。加肉桂(七分)　渴加麥冬(一錢)　五味子(十粒)　汗多加麻黃根(一錢)　如塊不痛。可參、　並用凡治產後諸危急症。必一日一夜。頻服三四帖。方可扶危變吉。否則若照常則不及矣。</p>
<h3>產後厥</h3>
<p>產時用力過多。勞倦傷脾。(經曰脾中臟也。)　脾乃中臟。不能注於四旁。(四旁心肝肺腎也。)　故逆厥而氣上行。(經曰。厥氣上行。滿脈去形。)　經云。陽氣衰於上則為寒厥。</p>
<p>神氣浮越。去身而將散。非大補不能回陽而復神。豈數錢芎歸而能扶救將絕之氣血耶。必用加參生化湯。倍人參。連服二三帖。則氣血旺而神氣生。厥自止矣。若服藥反渴。另用多參。生脈散代茶。以助救臟燥。此經驗之確論。毋得有議。如四肢逆冷。泄痢類傷寒陰症。又難用四逆湯。則用人參生化湯。加附子一片。以回陽止逆。又可行參歸之功。下立二方。分新產後發厥。塊痛未止。不用　朮方。</p>
<h4>加參生化湯</h4>
<p>川芎　人參(各二錢)　當歸(四錢)　炙草(五分)　薑炭(四分)　桃仁(十二粒)　棗(二枚)連服二帖。</p>
<p>產後發厥。塊痛已除方。</p>
<h4>滋榮益氣復神湯</h4>
<p>人參　當歸(各三錢)　黃　白朮　麥冬　川芎(各一錢)　炙草　陳皮(各四分)　五味子(十粒)　熟地(二錢)　附子(五分)　如汗多加麻黃根。棗仁(各一錢)　大便不通。加肉蓯蓉(大抵產後暈厥二症相類。皆由氣血並竭。神將去而機運幾息。僅有一絲之生意耳。若非重方急服。豈能挽回將絕之元神耶。但暈在臨盆症急。雖甚於厥。然能頻灌生化湯幾帖。先補血分之虧。即時塊化血旺。而神清暈止。產婦精神復矣。若夫汗多氣促。形脫症見。則參、　必須加也。至厥在分娩之後。氣血兩竭。宜用倍參生化湯。並補氣血之虧。止厥以復神。又非偏補血分之可愈也。要之暈有塊痛。　、朮未可遂加。厥無塊痛。　、朮、地黃並用無疑也。</p>
<h3>產後血崩</h3>
<p>產後血大來。當審血之紅紫。神形色之虛實。如血紫有塊。乃當去之敗血。止留反作痛。不可論崩。如鮮紅之血大來。乃是驚傷心不能主血。怒傷肝不能藏血。勞傷脾不能統血歸經耳。當以崩治。先宜頻服生化湯幾帖。則行中有補。血寧生旺矣。若形脫或多汗氣促。宜服倍參生化湯以益氣。斯陽生而陰長矣。此非棕灰等之可止者。再如產已半月外患崩。又宜升舉大補湯治之。</p>
<p>分娩後血崩。</p>
<h4>生血止崩湯</h4>
<p>川芎(一錢)　當歸(去尾四錢)　薑炭(四分)　炙甘草　荊芥　烏梅(　灰)　蒲黃(炒各五分)桃仁(十粒)　棗(二枚)　煎服。忌薑。椒。熱物。並生冷。如鮮血大來。加白芷(五分)血竭形脫。並汗多氣促。俱加人參(三四錢)　若無汗不脫不促。只服生化湯多幾帖。則血自寧。世有言芎歸但能活血不可治崩。此誤人之論。</p>
<p>塊痛已除。血崩。</p>
<h4>滋榮益氣止崩湯</h4>
<p>黃　白朮　人參　當歸　生地　麥冬　川芎(各一錢)　陳皮　炙草　升麻　白芷　荊芥穗(各四分)　黃連(四分)　如汗多加麻黃根(一錢)　浮麥(一撮)大便不通加肉蓯蓉(一錢)禁用大黃。如有氣磨木香(一錢)　痰加貝母(六分)　竹瀝。薑汁。寒嗽加杏仁。桔梗。知母(各一錢)　驚悸加棗仁。柏子仁(各一錢)　傷面食加麥芽(一錢)　傷米食加神麯(一錢)傷肉食加山楂。砂仁。(各八分)　身熱不可用芩。連。黃柏。傷食及怒氣。均不可專用耗散無補之方。宜上方加減。藥引俱用棗。煎服。</p>
<h3>產後短氣似喘</h3>
<p>凡產血脫勞倦之甚。氣無倚恃而呼吸止息。違其常度。世有妄論痰火。反用散氣化痰之方。</p>
<p>誤人夭折多矣。夫肺受脾稟。運氣生脈。通水道。順呼吸。清肅上下。調和榮衛。而為平人之常候也。值產血氣脫。呼吸短。言語不相接續。似喘危症。當大補氣血為主。如有塊痛。不可加朮。若無塊痛。可用生化湯。加熟地(二錢)　附子(一片)　去桃仁。如足冷加熟附子(一錢)　黃　。白朮(各一錢五分)　陳皮(四分)分娩後即患氣短。有塊痛。</p>
<h4>加參生化湯</h4>
<p>川芎(二錢)　當歸(四錢)　炙甘草(五分)　薑炭(四分)　桃仁(十粒)　人參(一錢)　棗(二枚)　服二三帖後。加減。</p>
<p>產後氣短促。無塊痛。</p>
<h4>續氣養榮湯</h4>
<p>黃　白朮　川芎(各一錢)　當歸(四錢)　人參(三錢)　陳皮　炙甘草　薑炭(各四分)　熟地(二錢)　如足冷加熟附子(五分)</p>
<h2>卷六</h2>
<h3>產後妄言妄見</h3>
<p>產後妄言妄見。由氣血兩虛。而神魂無依也。夫心藏神主血。而言乃心之聲也。心有血而神存則言不妄發。又肝藏血。而目乃肝之竅也。目得血而司視。則瞳　而視正。若夫產後血氣暴竭。則心神失守。故言語無倫。肝魂無依。則瞳　無見。況心為一身之主。目乃百脈之形。虛症見於心目。則十二官失其職可知矣。是以視聽言動。皆有虛妄。專治法當論塊痛有無。症候緩急。若塊痛未除。連服生化湯二三帖。化塊定痛。繼服加參生化湯。或補中益氣湯。加以安神定志之藥調治之。若產日久。形氣血氣俱虛。即當大補為主。使生養氣血。寧神定志。服至藥力充足。其症可愈。病家毋求速效。醫者毋論邪祟。若噴以法水。驚以法尺。</p>
<p>多致不救。屢治此症。服藥至十余帖方見效。朱丹溪云。病虛有似邪祟是也。又云。欲泄其邪。先補其虛。調其氣。次論諸疾。此古人治產後虛症。及年老虛喘。弱人妄言妄見症之用產後塊痛未除。患妄言妄見。</p>
<h4>寧神生化湯</h4>
<p>川芎　茯神　柏子仁(各一錢)　當歸(三錢)　薑炭　炙草(各四分)　桃仁(十二粒)　人參(二錢)　益智(炒八分)　陳皮(三分)　棗(二枚)產後塊痛已止。患妄言妄見。</p>
<h4>滋榮養氣復神湯</h4>
<p>黃　白朮　人參　麥冬　川芎　棗仁　茯神　柏子仁　益智(炒)　當歸　熟地(各二錢)炙草　陳皮(三分)　蓮子(八粒)　五味子(七粒)　元眼肉(八個)　棗(二個)大凡產後患崩血脫。短氣似喘氣脫。妄言妄見神脫。三症雖有血陰氣陽之分。其精散神去無異。比前暈症。治可少緩。然亦危症也。若非濃藥妥方頻服。失之者多矣。若醫者誤論氣實痰火。皆誤人也。如新產有血塊痛三症。並用加參生化湯。此行中有補斯免滯血虛暈之失也。其塊痛既止。宜用升舉大補藥。少佐黃連清火。以治崩脫。攝氣歸源也。宜用滋榮益氣復神湯。少佐痰藥。以清心火。寧君主之官也。每見人妄論氣脫妄言之症。誤用氣實痰火方藥。屢夭人命。故重復錄告。倘執論痰氣而致病愈重者。或能試以補劑。救之猶可活也。毋害(〔吳按〕治病先分虛實。尤以脈為憑。經云。血脫有生血之機。尤須補氣。而氣脫亦應加入補血藥。所謂陰陽互相為根。不可偏重也。)</p>
<h3>產後傷食</h3>
<p>凡產形體勞倦。脾胃俱傷。是以新產之後。禁膏粱遠濃味。食粥茹蔬。乃切務也。不善調治之家。唯慮產婦之虛。以多食為有益。以濃味為補本。產婦不思而強與。致饜食則有傷。胃雖納受。脾難轉輸。食停痞塞。酸噯惡食。治宜保元為主。溫補氣血。健脾助胃。審傷何物。佐以消導。使脾氣腹而轉輸。散積則滯物行而胃始思食。夫飲食　脾虛之滋味。在產後未嘗不藉此為補助。但勞倦傷食。不勝甘飫。薄味漸進。運化易速。乃事產者不知此意。業已受傷。須知服生化湯。佐神麯。麥芽。以消面食。山楂。砂仁。以消肉食。吳茱萸。肉桂。</p>
<p>以消冷物。如此則補消並濟。無有不安。屢見治產者不重產虛人弱。唯知速消傷物。反損其氣。益增滿悶。一帖不效。又加峻藥。一醫無功。又更一醫。先後方類。輕症加重。致使少食之人反虛。而絕不思食者。十常八九。病家自歸數命。醫家以為盡技。惜哉。</p>
<p>產後塊痛未消。服下方以消食。</p>
<h4>加味生化湯</h4>
<p>川芎(二錢)　當歸(五錢)　薑炭(五分)　炙甘草(五分)　桃仁(十粒)　傷面飯。加神麯。麥芽。(炒用各一錢)　傷肉食。加山楂。砂仁(各五分)　傷寒冷物作痛。加吳茱萸。肉桂(五分)　如虛甚。加人參(一二錢)塊痛已止。服下方以消食。</p>
<h4>健脾消食生化湯</h4>
<p>川芎　神麯(各一錢)　當歸　人參(各二錢)　炙草　麥芽(各五分)　白朮(一錢五分)　傷肉食加山楂。砂仁。</p>
<p>傷寒冷物。加吳茱萸。肉桂。如停寒物日久。脾胃虛弱。恐藥不能運用。可用炒神麯研末。</p>
<p>乘熱以綢帕包。揉按胸腹間。冷則熨斗熨之。</p>
<p>傷食誤服消導藥。致絕粥幾日。並雜症誤服消耗。以致絕食者。俱用長生活命丹可救。如系服寒藥傷者。加薑(三大片)　(長生活命丹具秘要。)</p>
<h3>產後忿怒</h3>
<p>凡產後因忿怒氣逆。胸膈不舒。血塊又痛。宜用生化湯去桃仁。臨服時磨木香(二分)　入藥服之。則血塊自化。怒氣自散。並治而不悖也。若輕產重氣。偏用香附。烏藥。枳殼。香。</p>
<p>砂。之類。以散氣行塊。則元氣反損而滿悶益增。非善治產者也。又如怒後即食。胃弱停悶。當審所傷何物。於對症之藥。加一二味於生化湯中。無有不治。慎毋用克削消積丸。瀉氣之方。以散氣化食。否則虛弱產婦。重傷元氣。害不可勝言者矣。</p>
<h4>木香生化湯</h4>
<p>川芎(二錢)　當歸(六錢)　薑炭(四分)　木香(臨服磨二分)　陳皮(二分)產後無塊痛。受氣傷食。服下方。</p>
<h4>健脾化食散氣湯</h4>
<p>白朮(二錢)　當歸(三錢)　川芎(一錢)　薑炭　炙草(各四分)　人參(二錢)　陳皮(三分)如傷肉食。加山楂。砂仁。傷飯食。加神麯。傷面食加麥芽。傷寒冷物。脅下作痛加肉桂。</p>
<p>愈消則愈增滿悶。必攻補並行。方可化滯進食。但時醫所見。只知消耗。而疑人參為補。而不敢用。誤人多矣。故屢治誤服散氣消導藥。致使少食思食之人。反絕食。日久者。皆用長生活命丹而活者甚多。</p>
<p>產後忿怒氣逆。及產後停食二症。善治者。重產而輕怒。治以補氣血為主。佐以順氣調氣。</p>
<p>則怒郁散而元不損。非徒恃用消導。則停滯行而胃思穀。此治產後忿怒傷食之良法也。若專一理氣消食。非惟氣脹不散。停食不消。則正氣尤減。食甚至絕穀不救。</p>
<h3>產後類瘧</h3>
<p>產後寒熱往來。每日應期而發。其症類瘧。切不可用瘧疾方藥治之。夫氣血虛。而寒熱更作。元氣弱而外邪或侵。雖寒來股栗。湯火不能溫。熱如燔炙。水冰不能寒。或晝輕夜重。或日晡寒熱。雖所見症與瘧同。其治法必當滋榮益氣。以退寒熱。有汗急當止汗。只頭有汗。</p>
<p>不及於足。此乃孤陽絕陰之症。須當加當歸地黃之劑。如陽明惡寒。頭痛。無汗。宜於生化東加羌活。防風。蓮須。蔥白。以散之。慎不可作瘧治。而用柴胡清肺飲等方。至常山、草果等藥。更害人不可用。</p>
<p>產後寒熱有汗。每午後應期而發。類瘧。</p>
<h4>滋榮益氣扶正湯</h4>
<p>人參　熟地(各二錢)　黃　白朮　川芎　麥冬　麻黃根(各一錢)　當歸(三錢)　陳皮(四分)　炙甘草(五分)　日間煎服。夜間兼服六味地黃丸。清湯下。</p>
<p>(〔吳按〕麻黃根雖散中有收。又能止汗。究系猛藥。不宜重用。以他藥代之便妥。)產後寒熱往來。頭痛無汗。類瘧。</p>
<h4>加減養胃湯</h4>
<p>冬白朮　甘草　藿香(各四分)　白茯苓　川芎　陳皮(各一錢)　半夏(八分)　當歸(三錢)人參(一錢五分)　薑(一片)　如有痰加竹瀝。薑汁。半夏曲。如質弱兼服河車丸。若久瘧無汗不愈。兼服參朮膏。</p>
<h3>產後類傷寒二陽症</h3>
<p>產後七日內。發熱。頭痛。惡寒。毋專論為傷寒太陽症。發熱頭疼。脅痛。毋專論為傷寒少陽症。二者皆由氣血兩虛。陰陽不和而類外感。治者慎勿輕產後。執偏門。而用麻黃湯以治類太陽症。又勿用柴胡湯以治類少陽症。且產婦血脫之後。而重發汗。則虛虛之禍。有不可勝言者。昔仲景云。亡血家不可發汗。丹溪云。產後切不可發表。二先生非謂產婦真無傷寒之病也。非謂麻黃。柴胡。方之不對症也。誠恐後學業偏門而輕產後。執成方以發表耳。雖明知產後真感風寒。其生化湯內芎薑亦能散之。又內經云。西北之氣散而發之。東南之氣收而溫之。所謂病同而治異也。其經意謂東南人柔弱。而西北之人強盛，患病有異也。惟產後虛勞。治法不分南北。概用甘溫以大補。少佐散劑。雖有他症。以末治之。又不可拘執以誤人。</p>
<p>(〔吳按〕經云二陽之病發心脾。乃指內傷。亦有發熱惡寒。不可混入外感。況產後耶學人當細心講究。)</p>
<h3>產後發熱頭疼</h3>
<h4>加味生化湯</h4>
<p>川芎(一錢五分)　當歸(三錢)　甘草　薑炭　羌活　防風(各四分)　桃仁(十粒)　服二帖。</p>
<p>如無塊痛。去桃仁。若二帖後。頭疼。身熱不除。加白芷(八分)　細辛(二分)　若發熱不止。頭疼如破。加蓮須。蔥頭(五個)　若虛甚加人參(二三錢)</p>
<h3>產後類傷寒陽明及三陰症。</h3>
<p>產後潮熱。有汗。大便不通。毋專論為傷寒陽明症。口燥咽乾而渴。毋專論為傷寒少陰症。</p>
<p>腹滿。咽乾。大便實。毋專論為傷寒太陰症。又汗出。譫語。便閉。毋專論為胃中燥屎宜下。此數症多由勞倦傷脾。運化稽遲。氣血枯竭。腸腑燥涸。乃虛症類實。當補之症。治者毋執偏門。輕產後妄議三承氣湯。以治類三陰症。間有少壯產婦。患此症而誤下。幸而無妨。</p>
<p>若虛弱產婦。亦復誤下。多致不救者。或因氣血虛脹。誤下反結。又有血少數日。大便不通。誤服攻下。而泄不止者。危哉。</p>
<p>(〔吳按〕六經病症當查究傷寒論。則表裡分明。所以學人博覽群書。一以貫之。)</p>
<h3>產後類三陰傷寒症</h3>
<h4>養正通幽湯</h4>
<p>人參(二錢五分)　當歸(六錢)　炙草(五分)　桃仁(十五粒)　蓯蓉(酒洗去甲)　麻仁(炒各一錢)　陳皮(四分)如汗多便實。加黃　。麻黃根。人參。(各一錢)　口燥渴。加麥冬。人參(各一錢)　腹滿。</p>
<p>嗌干。便實。加麥冬(一錢)　枳殼(六分)　人參(二錢)　汗出。譫語。便實。乃氣血並竭。</p>
<p>精神失守。宜養榮安神。加茯苓。棗仁。遠志(各一錢)　人參。白朮。(各二錢)　黃　。柏子仁。(各一錢)　以上大便燥結症。非用芎、歸、人參至數斤。難見全效。</p>
<p>大抵產後。虛中傷寒。口傷寒物。外症雖見。頭痛。發熱。或脅痛。腰疼。是外感。宜汗。</p>
<p>猶宜重產。亡血。禁汗。仲景傷寒論。亡血家禁汗。禁下。豈產後而可汗下乎。惟宜生化湯量為加減。調理方謂無失。又如大便秘結。猶當重產亡血。禁下。長沙論傷寒之不可汗。不可下者。非謂不當汗不當下。無奈脫血後。萬萬不敢耳。</p>
<h3>產後大便不通。</h3>
<h4>潤腸粥</h4>
<p>蘇子(一合去殼)　新米(二合)　煮粥食。潤腸即通。</p>
<h2>卷七</h2>
<h3>產後類中風</h3>
<p>產後血氣暴虛。百骸少血濡養。率爾口噤牙緊。手足筋脈攣搐。症類中風。類痙癇。脈雖虛大。虛火泛上。有痰皆當以末治之。毋執偏門而用治風消痰之方。以重虛產婦。治法先當服生化湯。以生旺新血。如見危症。三帖後。加參益氣。以救血脫也。如有痰有火。少佐橘紅、炒黃芩之劑。竹瀝、薑汁亦可。切忌黃連、黃柏並用。</p>
<p>產後血少。口噤項強筋搐。類中風。</p>
<h4>滋榮活絡湯</h4>
<p>川芎(一錢五分)　當歸(三錢)　熟地　人參(各二錢)　甘草　陳皮　羌活(各四分)　黃茯神　天麻　麥冬(各一錢)　荊芥　防風(各四分)　黃連(薑汁炒八分)　有痰加半夏曲。竹瀝。薑汁。渴加麥冬。葛根。</p>
<p>產後中風。恍惚語澀。四肢不利。</p>
<h4>天麻丸</h4>
<p>天麻　防風(各五錢)　茯神　棗仁　人參　遠志　山藥　柏子仁　門冬(各一錢)　川芎　羌活(各七錢)　細辛(四錢)　南星曲　半夏曲　石菖蒲(各八錢)　當歸(二兩)　共為末。蜜丸。朱砂為衣。清湯每服六七十丸。</p>
<h3>產後汗</h3>
<p>凡分娩時汗出。由勞傷脾。驚傷心。恐傷肝也。內經云。搖體勞苦。汗出於脾。驚而奪精。</p>
<p>汗出於心。有所恐懼。汗出於肝。產婦多兼此三者而汗出。不須即加斂汗之劑。能寧神而汗自止。若血塊作痛。　朮未可遽加。宜服生化湯二三帖。以消痛。隨服加參生化湯。以止虛汗。若分娩後倦甚。　然汗出。形色又脫。此亡陽脫汗也。又當縱權速灌加參生化湯。倍用人參。以救危急。毋拘塊痛。夫汗乃心之液。榮於內為血。發於外為汗。值產婦亡血之後。又多汗。由勞驚恐懼所傷。神虛而不能鎮守其液也。治當健脾而斂水液之精歸脾。益榮衛以噓血歸源。灌溉四肢。不使其妄行而為外汗。在雜症雖有自汗盜汗之分。其當歸六黃湯不可不至腰足。乃危惡之症。必難療。</p>
<h3>產後虛汗不止</h3>
<h4>麻黃根湯</h4>
<p>人參　當歸(各二錢)　黃　(一錢五分)　白朮　麻黃根　牡蠣(各一錢)　桂枝　炙甘草(各五分)　浮小麥(一撮)如虛脫汗多。手足冷。加熟附子(一片)　薑棗(四分)　渴加麥冬。五味子(各六分)　肥白人產後多汗。加竹瀝。薑汁以清痰火。若惡風寒。加防風(五分)　血塊不痛。加熟地(三錢)　暮服八味丸。(六味加五味子炙黃　。)凡產後汗不止。由產亡陰血。而陽氣偏盛故也。內經云。陽加於陰則發汗。因而遇風。變為螈者有之矣。其治尤難。是以產後多汗之家。更宜謹避風寒也。</p>
<h3>產後盜汗</h3>
<p>產後睡夢中汗多。醒來即止。猶盜瞰人睡而出盜。謂之盜汗。此非自汗之比。在雜症論云。</p>
<p>自汗陽虧。盜汗陰虧。然當歸六黃湯。又非產後盜汗方也。治當兼血分藥品調理之。乃稱善</p>
<h4>止汗散</h4>
<p>人參(二錢)　當歸(三錢)　熟地(一錢五分)　麻黃根　黃連(酒炒各五分)　浮小麥(一大撮)牡蠣(　研五分)　小麥面(炒黃研)</p>
<h3>產後口渴或兼小便不利</h3>
<p>凡產後口燥咽乾而渴。或兼小便不利。由產時失血。或汗多所致。是無水也。夫水穀入胃。</p>
<p>脾肺散精。清氣為津液。其氣通心。受火色變為血。下行膀胱為小便。值產亡血而又汗多。</p>
<p>且勞倦傷脾。不能為胃行其津液。生化之氣不運。滲泄之令不行。是以上無津液。而有嗌干燥渴之症。下氣不升。而有胃腎閉關之候。治法必當助脾益肺。升舉氣血。則氣化流行。陽升陰降。水入經而為血為液。穀入胃而氣長脈行。自然津液充而便利調矣。若認咽乾口燥為火。而用芩、連、梔、柏以降之。認小便閉澀為水滯。而用五苓散以通之。皆非也。必因其勞損而溫之益之。因其渴燥而濡之行之。量度病情。而施治無失也。</p>
<h4>生津止渴益水散</h4>
<p>人參　麥冬　生地　當歸(各三錢)　五味(十粒)　黃　(一錢五分)　茯苓(八分)　甘草　升麻(各四分)　葛根(一錢)　汗多加浮麥。麻黃根。棗仁(各一錢)　如渴甚加生脈散代茶。不</p>
<h3>產後遺尿</h3>
<p>凡產後遺尿。由氣血大虛。不能約束。宜用八珍湯。加升麻。柴胡。甚者加熟附子(一片)(〔吳按〕曾有接生者以手入內。探扶小兒。損傷尿胞。以致終身滲漏。可不慎哉。)又有生理不順。誤損尿胞膀胱者。用參、　為君。歸、芎為臣。桃仁、茯苓陳皮為佐。以豬羊尿胞煎湯煎藥。須百服漸安。</p>
<h4>薛氏補脬飲</h4>
<p>黃絲絹(一尺碎剪)　白牡丹根皮(為末)　白芨末(各一錢)　水煎。至絹爛如飴。服之靜臥。</p>
<p>不可作聲。如作聲則不效。</p>
<h3>產後類痙</h3>
<p>產後汗出多而變痙症。口噤不開。背強而直。身反。氣息如絕。宜速服下方。</p>
<h4>加減生化湯</h4>
<p>川芎　麻黃根(各一錢)　當歸(四錢)　桂枝　防風　甘草　羌活(各五分)　人參(二錢)　附子(一片)　羚羊角　天麻(各八分)產後中風。無汗類痙。</p>
<h4>芎歸活風湯</h4>
<p>川芎　當歸(各三錢)　防風　羌活(各五分)　棗仁(一錢)</p>
<h3>產後泄瀉</h3>
<p>產後泄瀉非雜症。有食泄。洞泄。濡泄。濕泄。各如注下之論。大率屬氣虛。食積。與濕也。氣虛宜補。食積宜消。濕則宜燥。然惡露未淨。遽難驟補。驟消。驟燥。當先服生化湯二三帖。以化舊生新。內加茯苓以利水道。俟血化生。然後補氣。消食。燥濕。以分水道。始無澀滯虛虛之失。若產經旬日外。方論雜症。猶量人虛實而施治也。如痛下清水。腹鳴米飲不化者。以寒泄治。如糞黃色。赤色。肛門作痛。以熱泄治。有因飲食過多。傷脾成瀉。噫氣臭如敗卵者。以食積泄治。又有脾氣久虛少食。食下腸鳴腹急。盡下所食之物方寬快者。</p>
<p>以虛寒泄治。治法寒則溫之。熱則清之。脾傷食積。分利健脾。兼消補虛。方謂善於調治。</p>
<p>產後虛泄。眼昏不識人。弱甚形脫。必用下方。</p>
<h4>丹溪回生方</h4>
<p>(即附子理中湯。)白朮　茯苓(各二錢)　人參(三錢)　附子(一錢)產後血塊未消。患瀉。</p>
<h4>健脾利水生化湯</h4>
<p>川芎　茯苓(各二錢)　當歸(四錢)　薑炭　炙甘草(各五分)　桃仁(十粒)　蓮子(八粒)產後血塊已消。患瀉。</p>
<h4>加減生化湯</h4>
<p>川芎(一錢)　當歸　白朮(各二錢)　薑炭　炙甘草(各四分)　茯苓(一錢五分)　人參(三錢)肉果(一個制)　陳皮(五分)　澤瀉(八分)　如寒泄痛加砂仁(二錢)　熱泄加黃連(炒一錢)瀉水腹痛。米飲不化。加砂仁。山楂。麥芽。(各二錢)　瀉有噯酸臭氣諭狻；汲喟琢『籩馗僱礎Ｇ凹　匾　畏　４思　輝偃搿Ｋ　歐揭恢　摹Ｗ炔垢焉。</p>
<p>產痢無後重。但日久不止。宜六君子湯。加木香。肉果。</p>
<p>產後赤白痢臍下痛。宜用當歸。厚朴。黃連。肉果。甘草。桃仁。川芎。煎服。</p>
<p>產後痢久色白。屬血氣。宜四物湯。加荊芥。人參。(痢久而形色羸白。故屬血虛。)產後痢。形體羸困。心腹絞痛。宜用薤白。石榴皮。當歸。黃連。地榆。煎服。如腹痛不止。用溫湯布蘸暖腹則緩。</p>
<p>噤口痢。</p>
<h4>香蓮丸</h4>
<p>黃連(為末)　蓮肉(研粉)　各半和勻。或酒丸。或酒調送。每服四錢。</p>
<p>(〔吳按〕古香連丸。乃黃連木香。與此不同。)</p>
<h3>附產後積滯</h3>
<p>產後滯下積滯。雖腹痛至極。不可用大黃等藥下之。致傷胃氣。遂不可救。宜服下方。</p>
<h4>補血消滯湯</h4>
<p>人參　芍藥　當歸(各二錢)　紅曲(一錢)　升麻(四分)　益母草(二錢)　加炙甘草(一錢)滑石(二三錢)　足矣。若惡露未淨兼用乳香。沒藥。(各二錢五分)　砂仁末(一錢)　血虛加阿膠。(蛤粉炒二錢)久之自愈。</p>
<h2>卷八</h2>
<h3>產後霍亂</h3>
<p>產後霍亂。由勞傷氣血。臟腑虛損。不能運化食物。乃感風冷所致。凡陰陽升降不順。清濁亂於腸胃。冷熱不調。正邪相搏。上吐下瀉。名曰霍亂。</p>
<p>產後塊痛未除患霍亂。</p>
<p>(〔吳按〕此病多發於夏秋之間。若吐瀉一齊俱作為真霍亂。必用附子理中湯。或轉筋加木瓜。緩治則無救。)</p>
<h4>生化六和湯</h4>
<p>川芎(二錢)　當歸(四錢)　乾薑　甘草　陳皮　藿香(各四分)　砂仁(六分)　茯苓(一錢)薑(三片)　煎服。</p>
<p>產後霍亂吐瀉。手足逆冷。無塊痛。</p>
<h4>附子散</h4>
<p>白朮　人參(各一錢)　當歸(二錢)　陳皮　炮薑　丁香　甘草(各四分)　附子(五分)　為末。粥飲調。每服二錢。</p>
<p>產後霍亂。吐瀉不止。無塊痛。</p>
<h4>溫中湯</h4>
<p>人參　白朮　當歸　厚朴(各二錢)　乾薑(八分)　茯苓(三錢)　草豆蔻(一錢)　薑(三片)</p>
<h3>產後嘔逆不食</h3>
<p>人之胃腑為水穀之海。水穀化精。以為氣血。榮潤臟腑。產後勞傷臟腑。寒邪易乘於腸胃。</p>
<p>則氣逆嘔吐。而不下食也。又有瘀血未淨而嘔者。亦有痰氣入胃。胃口不清而嘔作。醫者能隨症調治。斯無失矣。</p>
<p>產後嘔逆不食。</p>
<h4>加減生化湯</h4>
<p>川芎(一錢五分)　當歸(三錢)　炮薑　炙草(各五分)　砂仁(五分)　淡竹葉(七片)　薑汁(二匙)產後七日外。患嘔逆不食。</p>
<h4>溫胃丁香散</h4>
<p>當歸　白朮(各二錢)　炙薑　丁香　陳皮　炙草(各四分)　人參(一錢)　前胡　藿香(各四分)　薑(三片)　煎服。</p>
<p>產後咳逆。嘔吐。心忡。目眩。</p>
<h4>石蓮散</h4>
<p>石蓮子(去穀一兩五錢)　茯苓(一兩)　丁香(五錢)　為末。米飲下二錢。</p>
<h3>產後口渴</h3>
<p>產婦虛弱。口渴氣</p>
<h4>生津益液湯</h4>
<p>人參　麥冬　茯苓(各二錢)　大棗(二枚)　小麥　竹葉(各六分)　栝蔞根　甘草(各一錢)</p>
<h3>產後水腫</h3>
<p>產後水氣。手足浮腫。皮膚閑光熒色。乃脾虛不能制水。腎虛不能行水故也。治必大補氣血為主。佐以蒼朮。白朮。茯苓。補脾。如壅滿用半夏。陳皮。香附。監之。虛加人參。木通。有熱加麥冬。黃芩。以清肺金。</p>
<p>(〔吳按〕按之窩而不起者氣也。按之無窩。隨手起者水也。以此分別。乃要訣耳。)產後七日外水腫。</p>
<h4>健脾利水補中益氣湯</h4>
<p>人參(二錢)　白朮(三錢)　茯苓　白芍(各一錢)　陳皮(五分)　木瓜(八分)　紫蘇　木通大腹皮　蒼朮　厚朴(各四分)　如大便不通。加郁李仁。麻仁。(各一錢)　寒邪濕熱氣傷表無汗。腫。宜補氣血方中。加薑皮。半夏。紫蘇。以表汗。　產後風濕。客傷脾經。氣血凝滯。以致面目虛浮。四肢腫脹氣喘。宜服五皮飲。</p>
<h3>產後怔忡驚悸</h3>
<p>此由產中憂驚勞倦。去血過多。則心中躁動不寧。謂之怔忡。若惕惕然而驚。中心怯怯。如人將捕之之狀。謂之驚悸。治此二症。惟調和脾胃。補養心血。使志定氣寧。氣舒心安而病愈矣。然在分娩後。血塊未消。宜服生化湯。且大補以行血塊。血旺則怔定驚平。不必加定志安神之藥。如塊痛消止後。患此症。宜服下方。</p>
<h4>加減養榮湯</h4>
<p>川芎　當歸(各二錢)　茯神　棗仁　人參　麥冬　遠志肉　黃　白朮(各一錢)　元眼肉(八個)　陳皮　炙草(各四分)　如虛煩。加竹茹(一團)　痰加竹瀝。薑汁。</p>
<p>產後心血不寧。驚悸不安。</p>
<h4>養心湯</h4>
<p>黃　麥冬　棗仁　柏子仁(各一錢)　茯神　川芎　遠志肉(各八分)　當歸(二錢)　五味(十粒)　人參(一錢五分)　炙草(四分)　薑(二片)　煎服。兼服安神丸。</p>
<h4>安神丸</h4>
<p>黃連(酒炒)　生地　歸身(各三錢)　炙草(五分)　為末。蒸餅糊丸。如綠豆大。朱砂(二錢)為衣。每服四十丸。</p>
<h3>產後骨蒸</h3>
<p>產後骨蒸。先用清骨散作湯藥服。後以保真丸作湯藥服。</p>
<h4>清骨散</h4>
<p>柴胡　前胡　黃連　烏梅(去核各二錢)　豬脊髓(一條)　豬苦膽(一個)　韭菜白(十根各寸上藥四味為末。將髓膽韭同搗成泥。入童便一盞。熬稀糊入藥末。搗為丸。如綠豆大。名清骨丸。每服三四十丸。清湯下。如上膈熱多食後服。凡男女骨蒸。俱可服。惟上症須作湯藥服。效更速耳。</p>
<h4>保真丸</h4>
<p>黃　川芎　地骨皮(各六分)　人參　白朮　當歸　天冬　麥冬　白芍　枸杞　知母　生地(各二錢)　茯苓　黃柏(炒各八分)　甘草(五分)　五味(十粒)　此丸方。上症加棗(三個)作煎藥服。</p>
<p>骨蒸勞熱。服清骨散作湯藥。不應。再服下方。</p>
<h4>加味大造丸</h4>
<p>人參　當歸　山藥　枸杞(各一兩)　麥冬　石斛(酒蒸各八錢)　銀柴胡(六分)　生地(二兩)胡黃連(五錢)　黃柏(酒炒七錢)　另將門冬。地黃。先搗如泥。加紫河車(一具)　如系蒸熟者亦另搗。然後入諸藥末。和勻。搗勻為丸。若焙乾河車則為末入藥。搗勻蜜丸。</p>
<h3>產後心痛</h3>
<p>產後心痛。即胃脘疼。以胃脘在心之下。因傷寒氣及冷物而作痛。且氣近於心。故俗呼為心痛。殊不知心為君主之官。主血行氣。統馭臟腑。血氣盛則泰然安。血不足則怔忡。驚悸。</p>
<p>而不安。心豈可痛乎。若真心痛。手足青黑色。旦發夕死。夕發旦死。昔已論之詳矣。治法當散胃中之寒氣。消胃中之冷物。必用生化湯為主。而以散寒消食佐之。無有不安。若綿綿而痛。可按而止。又無塊痛在腹。則當論虛而加補也。其產後心痛腹痛二症。因寒食與氣上攻於心則心痛。下攻於腹則腹痛。二症治法。大約相同。均當用生化東加肉桂。吳茱萸等熱藥。以溫散之可也。</p>
<p>(〔吳按〕心者君主之官。痛則無救。凡俗名心痛。皆胃脘氣痛也。婦女最多。甚至嘔逆發厥。用胡索。五靈脂。丹參。當歸。名加味拈痛散。屢效。)</p>
<h4>加減生化湯</h4>
<p>川芎(一錢)　當歸(三錢)　炙薑(五分)　肉桂　吳茱萸　砂仁(各八分)　如傷食作痛。可照上傷食症條加減。下腹痛亦仿此。</p>
<h3>產後腹痛</h3>
<p>凡產後腹痛。先問血塊有無。若無塊痛。因遇風冷。乘虛入腹作痛。宜服加味生化湯。若有血塊痛。只服生化湯調元胡索末(一錢)　塊痛消止。產後遇風寒。乘虛入腹作痛。</p>
<h4>加味生化湯</h4>
<p>川芎(二錢)　當歸(四錢)　炙甘草　炙薑(各四分)　桂枝(七分痛止減去)　防風(七分)　吳茱萸(六分)　白豆蔻(五分)　如服之塊未消。再煎一服。送失笑散(一錢)</p>
<h3>產後小腹痛</h3>
<p>產後虛中感寒飲冷。寒氣下攻。則小腹作痛。又有血塊作痛者。亦有產後血虛。臍下痛者。</p>
<p>並宜加減生化湯治之。</p>
<h4>加減生化湯</h4>
<p>川芎(二錢)　當歸(三錢)　乾薑　甘草(各四分)　桃仁(十粒)　有血塊痛。本湯送元胡索散(一錢)　亦治寒氣痛。無血塊痛。但小腹痛。又可按而少止者。屬血虛。上方加熟地(三錢)延胡索　肉桂(各一錢)　為末。</p>
<h3>產後指節頭痛</h3>
<p>凡產後虛勞。指節疼頭痛。汗不止。</p>
<h4>豬腎參湯</h4>
<p>人參　黃　(各二錢)　生薑(一錢)　淡豉(一錢)　韭白(一錢)　當歸(三錢)　用豬腎(二個)先將腎煮熟。取汁二碗。煎藥八分盞。溫服。</p>
<h3>產後遍身痛</h3>
<p>由產後百節開張。血脈流散。氣弱則經絡間血多阻滯。累日不散。故筋骨急引。諸節不利。</p>
<p>至腰背不能轉側。手足不能動履。或身熱。頭痛。若誤作傷寒發表使汗出。則筋脈動惕。手足厥冷。變症百出矣。</p>
<h4>通痛散</h4>
<p>當歸(三錢)　甘草(三分)　黃　白朮　牛膝　獨活　肉桂(各八分)　韭白(五根)　薑(三</p>
<h3>產後腰痛</h3>
<p>凡婦人腎位系胞。腰為腎府。至產勞傷腎氣。損動胞絡。或虛未平復。而風寒乘之。二者皆產後感風寒。腰痛不可轉側。</p>
<h4>養榮壯腎湯</h4>
<p>當歸(二錢)　獨活　桂心　川芎　杜仲　川斷(各八分)　防風(四分)　桑寄生(二錢)　生薑(三片)　兩帖後痛未止。屬腎虛。加熟地(三錢)產後日久氣虛。腰疼腎弱。服加味大造丸。</p>
<h3>產後淋</h3>
<p>由產後氣弱。熱客於脬中。內虛則小便頻數。熱則小便淋澀作痛。名曰淋。產後冷、熱、膏</p>
<h4>茅根湯</h4>
<p>白茅根(一兩)　瞿麥　茯苓(各五錢)　葵子　桃膠　人參(各一錢五分)　滑石(一錢)　紫貝(二個)　石首魚頭(四個)　燈心(一團)　先將石首魚頭研末。藥熟入魚首末。空心服。產後淋。小便痛。及血淋。</p>
<h4>白茅湯</h4>
<p>白茅根　瞿麥　車前子　冬葵子(各二錢)　通草(七分)　鯉魚齒(一百個)　先將魚齒研末。</p>
<p>藥熟入末。空心服。</p>
<h3>產後小便數</h3>
<p>由脬內宿有冷氣。因產發動。冷氣入脬。致小便數也。</p>
<p>小便數及遺尿。</p>
<h4>益智散</h4>
<p>益智(大者二十個)　為末。每服二錢　米湯下。</p>
<h4>桑螵蛸散</h4>
<p>桑螵蛸(炒三十個)　人參　黃　(各三錢)　鹿茸　牡蠣　赤石脂(各一兩)　為末。每服二錢，空心下。</p>
<h3>產後流注</h3>
<p>產後惡露流於腰臂腿足關節之處。或漫腫。或結塊。久則腫起作痛。肢體倦怠。治法急用蔥熨方。以治外腫。內服參歸生化湯。以散滯血。毋緩也。治流注已成。自潰未成自消。</p>
<h4>參歸生化湯</h4>
<p>川芎(一錢五分)　當歸(三錢)　炙甘草(五分)　人參(二錢)　黃　(一錢五分)　肉桂(四分)馬蹄香(二錢)</p>
<h4>蔥熨法</h4>
<p>生蔥(一握)　搗爛。炙熟作餅敷腫處。用濃布　二三層蓋上。以熨斗微火熨之。</p>
<p>流注漫腫微痛。屬形氣病氣俱不足。最難治。若已成膿。或未成膿。或不潰。此氣血虛也。</p>
<p>宜服人參湯。如憎寒惡寒氣虛也。宜十全大補湯。如日晡內熱。宜四物湯。加人參。白朮。</p>
<p>丹皮。如嘔逆胃氣虛。宜六君子東加炮薑。如食少體倦。脾氣虛也。宜補中益氣湯。加倍升麻。如四肢逆冷。小便頻數。腎氣虛也。</p>
<p>宜補中益氣東加益智仁。</p>
<h3>陰蝕五疳</h3>
<p>婦人陰戶中生瘡。名曰　瘡。或痛。或癢如蟲行狀。濃汁淋露。陰蝕幾盡者。心腎煩郁。腎氣虛弱。致血氣留滯。經云。諸痛瘡瘍皆屬於心。治當補心養胃。外以藥熏洗。</p>
<h4>千金陰蝕散</h4>
<p>當歸　川芎　芍藥　地榆　甘草(各等分)用水五升。煎至二升。去渣熏洗。日三次。夜一次。</p>
<h4>又方</h4>
<p>豬油(十斤)　水(一桶)　煮極熟。以汁浸瘡。冷再易熱者。不過三五次可愈。</p>
<p>蝦蟆　兔屎(等分)　為末。敷瘡亦良。</p>
<p>(〔吳按〕兔屎別名望月砂。為洗眼要藥。)</p>
<h2>女科後序</h2>
<p>余岳丈陳貞甫太守。乃閩中修園先生後裔。素以醫名。自幼受其指教。粗得皮毛。但醫書汗牛充棟。惟擇其最善者而從之。嘗考岐黃。治病專精針灸。伊芳尹始傳湯液。漢自仲景後。</p>
<p>初分門類。而婦幼乃有專科。然皆醫國壽民。存心利濟。非如近世射利之徒。私秘良方。行同市儈。所以人多輕視而醫學埽地矣。光緒乙酉冬。吳君幼筠。以家藏竹林寺婦科秘本。擬將鋟板。以廣流傳。由翁君式如見示。屬為校訂。詳細讀之。胎產諸症。備舉無遺。其方亦屬王道。並非離奇。但非一手所著。不敢斷鶴續鳧。強為連貫。況抄本訛誤。句讀難明。湯丸顛倒。分兩參差。所關非細。千裡毫厘。因稍加修飾。補短截長。酌添分兩。配合君臣。</p>
<p>庶秘方可稱全璧。苟居家者。既獲此書。再益以達生福幼等編。則窮僻之鄉。審症用藥。較以性命付諸庸醫之手。得失奚如。吾知書成後。胎前諳治法。產後多良方。久秘之本。竟得廣傳。豈非生民之慶幸也哉。校竣。序其緣起而歸之。</p>
<p><u>光緒丙戌年。春正月。仁和禮堂曹秉綱。序於鄂匏齋。</u></p>
