<header><h1>市隱廬醫學雜著</h1></header>
<dl class="元資料" data-type="book">
<div><dt>作者</dt><dd>王嚴士</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1644/1911">公元1644年至公元1911年</data></dd></div>
</dl>
<h2>趙敘</h2>
<p>歲寒居士，夙好儒書，素研醫術。不因人熱，靡顧世非，隨證處方，惟求其是，往往奏效甚奇。一日，出示所撰《醫學雜著》一卷。蕩滌膚辭，獨標精義，針砭痛下，藥石交投。雖全豹未窺，而一斑已見。余因慫恿登梨，出以問世。所謂醫行仁術，亦惻隱之心所不能已耳。</p>
<p>豈以求名哉？</p>
<p><u>癸丑初夏揚子趙永年謹敘</u></p>
<h2>題詞</h2>
<p>叔和家學傳三世，彥伯奇方聚一龕。垂老著書耽市隱，不將鴻寶例淮南。保赤應在養老先，人心慈孝本同然。請將彭氏延年術，並入莊家福幼編。非關人世亦炎涼，心氣元來自感傷。</p>
<p>省識性情中有藥，醫和醫緩具真方。多君一片活人心，三絕韋編字字金。對客不妨彈古調，天涯到處有知音。</p>
<p><u>癸丑俗佛日拳石山人謝逢源題</u></p>
<h2>弁言</h2>
<p>不　父兄師友，莫不知醫。自幼見聞，略識門徑，中年以往，糊口四方。稍稍涉獵方書，窺測《素》、《靈》微旨。家人有恙，藉以自治。親故見招，不能固卻。世方多故，遂棄青氈。二十年來，漸深閱歷。爰抒心得，用告病家。不能阿傳時流，安敢背違先哲？亦聊資考鏡云爾!</p>
<p><u>玉峰歲居士書於吳門市隱廬時在癸丑清和月</u></p>
<h2>苦口婆心語</h2>
<p>古語云；對病發藥。然則，藥之當中乎病也，明矣。夫病有寒熱虛實，即藥有溫涼攻補，汗吐和下。苟中乎病，病自去矣。從未有不究病因，不問病狀，而概以不著痛癢，無甚寒溫之籠統十數藥，一例投之，可望去病者。乃病家習聞其說，以為此穩當之方也。醫者樂藏其拙，以售其欺，亦以此為穩當之方也。於是乎桑、丹、梔、豉等味，不待搖筆，而已畢集於腕下矣。不知此數味者，（病輕者可服，而亦可不服。）即不病者服之，亦無害也。倘病必以藥愈者，而僅以此投之，遷延日久，使病益深，愈治愈壞，至不可起，誰執其咎。無如積習既深，牢不可破，即有對病之藥，怯者驚焉，愚者惑焉，妄者議焉，忌者謗焉。此病之所以不可治也。</p>
<p>炳按：桑葉辛涼泄表，去風瀉火。丹皮辛苦微寒，入手足厥陰，瀉血中伏熱，治中風驚癇，除煩熱，退無汗骨蒸，為吐衄必用之藥。山梔炒黑苦寒，瀉心肺之邪熱，治心煩懊　不眠。</p>
<p>考：桑葉輕清，治上焦氣分，主治風熱，即風溫也。（古方少用。）至於丹皮、山梔兩藥，仲景方用者非一，何可泥定三物必不可用？執哉!最可怪者，不問何病，皆稱發疹，皆用豆豉、豆卷以表散之。至十數劑不止，必使病者汗出如漿，舌黑劫津，神昏熱陷。不得已，乃用紫雪、至寶等丹以開泄之，而不可救矣。夫偶感發熱，膈間煩悶，清其熱可愈。何至必出疹子？其所以必曰出疹者，蓋以此哄嚇病家，欲用豆豉等味耳!豈知豆豉、豆卷，近皆用麻黃湯制，與古人之桑葉，井華水制者，溫涼迥別。如果出疹，而以麻黃溫之，可乎不可，此溫證之所以轉展必重也。且其所指為疹，皆痱子（俗名　子）耳、蚊跡耳，水晶虛　耳。故不曰斑而獨曰疹者，取其易於混淆也。不然，疹由熱而發，必當清裡熱，必不當溫散以助熱。古方俱在，本草可稽，奈何以豆豉、豆卷奉為治疹無上之妙品哉？炳按；豆卷用麻黃浸漬，《吳醫匯講》中亦有此說，然亦是耳食也。邵步青《四時病機》載：一味豆卷湯，治濕病一身盡痛，服之得汗，熱解痛去，用之有效。淡豆豉鹹寒解熱，與蔥白頭、蘇葉同用則發表；與人中黃、銀花同用解疫毒；與薤白同用治痢；與鮮生地同打名黑膏，治熱入營分，液干不能作汗，以養陰濟汗。以上皆鑿鑿可驗之法，莫輕視豆為無用之物。如產後之豆淋酒，能治產後虛邪身熱，得汗熱解。菜中黃豆芽，生外症人誤食，其發如雞魚。此格致變化之不可思議者。</p>
<p>今有以傷寒名家者，見人兩三日發熱，必指曰：此傷寒也。及視所處之方，則仍豆豉耳、豆卷耳；不然，則牛蒡耳、蟬衣耳；又不然，則浮萍耳、桑葉耳、枇杷葉耳，佐之以陳、夏、藿、朴，進之以石斛、沙參，而其技畢矣，其術窮矣。其病亦將不可為矣。然尚有背水之一戰，曰紫雪丸、濂珠粉、至寶丹、牛黃丸也。</p>
<p>炳按：此言溫證，何等溫病也，亦不指明。至疹子乃時氣溫病，熱入營分則發疹，疹與膚平，周身密密。痧子則幼稚為多，形如疹子，而膚捫之頭粒微尖，乃風熱由肺胃氣分，傳入營絡而發。</p>
<p>白　形如濂珠，晶瑩光亮。初病即見，乃濕鬱衛分，汗出不徹之故。當理氣分之邪。日久熱不解而發白　，邪雖欲從外達，氣液已傷，必得甘濡養中。疹色不可紫萎，白　不可白如枯骨。疹子、痧子發透，熱減神清，胸悶松，咳嗽暢，神安有寐為吉。若煩擾不寐，氣粗（為喘之兆）。胸悶熱焦灼，皆屬危險難治。透疹方分寒暖，痧子亦然。未見必用豆豉、豆卷。</p>
<p>且二藥各自為主，斷無連類而用者。</p>
<p>不知傷寒之論，倡自仲景。傷寒之方，亦傳自仲景。治傷寒者，宜必宗仲景矣。傷寒解表之劑，則有桂枝、麻黃、葛根、柴胡等湯。傷寒清裡之劑，則有芩連、白虎、承氣等湯。傷寒利濕之劑，則有五苓、豬苓、茯苓、甘草等湯。傷寒溫中之劑，則有四逆、理中、真武、附子等湯。今傷寒家皆不用也。</p>
<p>炳按：羅謙甫治冬溫，謂秋燥余氣，上刑肺金，陰氣先傷。故邪得入少陰之經。蓋溫則氣泄，寒則氣收，二氣本相反也。用蔥豉東加枇杷葉、杏仁、象貝、花粉、甘桔。若先冬溫，嚴寒外束，身熱喘嗽，面目浮腫，喉仲介介如梗。惟仲景麻杏石甘湯一方，散表寒，清裡熱。</p>
<p>因先生大惡輕清之藥，故引此比例。</p>
<p>仲景《傷寒論》入手說：傷寒營無汗，發表用麻黃湯；風傷衛有汗，用桂枝湯解肌；風寒兩傷營衛，煩燥汗不出，用大青龍，風寒雙解。此言太陽經病證方藥。葛根，陽明表藥。柴胡，少陽和解藥。清裡，芩、連清心胃之熱。白虎，清陽明經熱。承氣，下陽明府滯以下邪熱。五苓、豬苓、茯苓、甘草等湯，是利水之劑。理中、溫中。四逆、真武、附子等三方，救逆法。今病非正傷寒，不當用此法，故不用也。</p>
<p>而獨用一梔子豉湯。不知傷寒方中之梔子用生，用以探吐，非用以發汗。後世改用焦梔，已非古法。然以之清肺泄熱，亦屬治溫良品。近世復易以麻黃水制之豆豉，則藥性大變，利害迥殊。而傷寒家偏視為不祧之俎豆。如果傷寒在太陽經，用以代麻黃，雖非正法，尚為無害；至傳入陽明，即不可用矣。況用以治溫熱乎？乃何以不論有汗、無汗與汗多、汗少，又不論風、寒、暑、濕、燥、火之六淫，喜、憂、怒、思、悲、驚、恐之七情，並不論勞傷、瘡瘍之雜證，而謂梔豉一湯，豆卷、桑葉數味，可以治百病。而四時皆宜，有是理乎？此非余誣人之言也。請觀於藥鋪中購藥之方，其不曰發疹子者有幾，不用此數味者有幾，亦可以啞然失笑矣。</p>
<p>炳按：炒黑梔用以除煩解熱，使心肺之邪，從小便解。亦無醫以梔豉作表劑觀者，豆豉不用麻黃湯浸漬，不必嘵嘵不休。亦未見吳醫不論溫病六氣七情，有汗無汗，汗多汗少，三因內外，而皆用梔豉湯。豆卷、桑葉，可治四時百病者，真誣人矣，無其實事，先生亦當啞然自笑也。</p>
<p>或曰：誠如君言，病必無發疹乎？曰：否。夫輕者為疹，發於肺；重者為斑，發於胃。</p>
<p>此皆肺胃熱毒所蘊。不然，則為溫燥之藥所逼而出也。然而此症亦不多見，治宜用石膏、犀角、生地、元參、升麻、大青等味，以清火透斑化疹。仲景之白虎化斑湯，《活人》之元參升麻湯，節庵之青黛消斑飲，皆治斑疹之祖方也。何一不用清涼化毒之品，何一方用溫散發汗之藥。今人一言斑疹，皆曰涼藥不可服，服則遏住斑疹不能出。病家熟聞其言，深信不疑。醫者遂大書特書其豆豉、豆卷，病者亦大吃特吃其豆豉、豆卷。至輕者重，重者死，至死猶曰汗未暢出也，斑疹未透也。嗚呼!本不當汗，而必欲劫其汗；本無斑疹，而必欲發其斑疹。以膠柱鼓瑟之人，行刻舟求劍之術，雖欲不死於其藥，其可得耶？當其未死，或有以石膏等味進者，病家必大詫而不服其藥，群醫必圜視而起，以為嫁禍之地。至萬無可為，而始稍稍與服之，則藥誤已深，藥力不及，卒不可救。遂交相詬病，引以為戒。眾口一辭，莫能與辨。人誰肯壞一己之聲名，為不甚關切之人，力戰群疑，以救其垂死之性命哉？則亦惟立而視其死而已矣。</p>
<p>然則，病家何以不悟耶？曰：有故。病家所聞者，無非發疹也，表散也，多出汗也。而此外則從未聞也。此醫曰然，彼醫亦曰然。此方是藥，彼方亦是藥。即親友之涉獵方書者，亦與時醫之所見略同。聚蚊成雷，積非為是。安望其能聽之聰哉？是故居今之世，而欲醫道之行，非曲意徇人不能。然而稍有學問志氣者，必不肯為。人且嫌其固執矣。而巧言令色，阿意曲從者，於是乎名節日隆，而聲價日高。不任其責，坐收其利。中人以下，誰不樂為？彼賄通奴婢，交結師巫者無論已。舉世皆然，焉得不受其欺哉？徐洄溪曰：人之誤藥而死，半由於天命，半由於病家。醫者不過依違順命以成其死，並非造謀之人。故殺人之罪，醫者不受也，豈不然乎？夫人精神充足，氣血和平，是謂無病。焉用服藥？至於服藥，必有偏勝不舉之處。醫者便當視其所偏之處而補救之，使之適得其平。溫涼攻補，隨病而施，無所成見，期於中病而已。</p>
<p>豈容狐疑首鼠哉？譬如劇盜，當剿不剿，盜將不可制矣；譬如飢民，當撫不撫，民且亦從亂矣。今之治病者，無乃類是。更有一種醫中之鄉愿，專使藥中之奴婢，不溫不涼，不攻不補，以為趨避逢迎之術，病家每樂與之周旋。豈知藥不能殺人者，必不能起人於死而生之。遷延貽誤，何獨非殺人哉？且夫世所謂能殺人者，石膏、大黃、麻黃、肉桂、附子、人參之屬也。今皆屏不敢用，即有引用古方者，但取其一二不關緊要之味，謂師某法，用某方，其實未嘗師其法，用其方也。並有不知其全方者。如旋覆代赭、竹葉石膏、小柴胡等湯之不知其人參。黑膏湯之但知有生地、豆豉二味，不知又有豬膚、雄黃、麝香三味也。（載在《外台秘要》以治陽毒發斑。）他若溫而兼補，則如理中湯之以薑附合人參也。清而兼補，則如白虎湯之以石膏加人參也。散而兼補，則如清暑益氣湯之以升、葛合參、　也。寒溫並用，則如瀉心湯之芩、連薑、附，左金丸之黃連、吳萸是也。表裡兩解，則如大青龍湯之麻、桂、石膏，白虎湯之加桂枝、柴胡是也。汗下並行，則如大胡柴湯之柴胡、大黃，又如柴胡加芒硝湯、桂枝加大黃湯是也。更有如清熱燥濕之用蒼朮白虎湯，攻下和中之用調胃承氣湯之類，不勝枚舉。要在方中乎病耳。何一不可用之藥，而故為疑忌乎？今之醫者，論藥不論病，用方不用藥。但云某藥太補，某藥太瀉，某藥太溫，某藥太涼，某藥太熱，某藥太表，某藥太散，某藥太燥，某藥太膩，某藥太攻，某藥太消。去其偏勝，得其中和，誠無愈於粥飯矣!何必服藥哉？此皆不知藥為病設，專為補偏救弊之用故也。</p>
<p>於是乎有當用不用以致誤者，不當用而用以致誤者，有當用而輕用以致誤者，有不當用反重用以致誤者。誤之淺深不同，其為不識病情則一也。今夫病名不同，則治病之方與藥，自不得而同。倘謂病寒者不可溫。病熱者不可涼，病虛者不可補，病實者不可攻，通乎不通。倘謂病寒者反宜涼，病熱者反宜溫，病虛者反宜攻，病實者反宜補，通乎不能。倘謂病無論寒熱虛實，我將以不溫、不涼、不攻，不補之藥，約略治之，而可盡去其攻補溫涼之味，通乎不通。</p>
<p>乃不通之論，在不通者聞而信之，原不足為奇。最奇者，號為通人，而亦信不通之語。則無怪乎不通之論充塞乎宇宙，而日殺不辜，無人顧問也。</p>
<p>今設有病熱者於此，不問其虛熱實熱，表熱裡熱，而惟以藥汗之，未有不以為宜然者。</p>
<p>豈知表有寒可汗。表無寒不可汗，不可汗而汗之，是愈虛其表，而熱愈熾也。</p>
<p>本欲清其熱，反使增其熱，病家亦可以悟矣，然而不悟也。況乎虛熱之宜用甘溫以退者，更無人能解者乎？有如婦人產後，惡露暢行，血虛發熱，不可汗也。汗之則表虛而熱陷；不可清也，清之則熱不解而變症雜出矣。芎歸、獨參、四君、四物、八珍、十全大補湯之所以為產後良劑也。又如小兒病後，臟腑空虛，陰寒發熱，日輕夜重，不可以汗，不可以清，與產後同。輕則逐寒蕩驚湯，重則加味理中、附桂八味、十全大補等湯，以退虛熱。方中且重用薑、桂、丁、附之熱品矣。彼但見其外之熱，不察其內之虛，孤陽無傳，寒極似火，不且詫為怪事哉。雖然，溫補之劑，苟不中病，為禍甚烈，不可以不細審焉。當視其色，聽其聲，察其氣，觀其飲食，問其二便，驗其舌苔，核其脈症，而虛實之熱判矣。若在產後，須通其瘀，瘀既暢行，腹不作痛，便當進補。體虛而瘀未暢行者，尤當兼補氣血以行之，氣行血行而瘀亦行也。此理甚明，人所易曉，而醫者往往不知，是可怪也!是非病家之多疑忌，故為此畏首畏尾之狀乎？不然，則是不識病之虛實也。</p>
<p>傷寒初起一二日，邪在太陽，無汗以麻黃湯以汗之。有汗者名中風，不用麻黃以發汗，而用桂枝以解肌，芍藥之酸收，甘草之甘平以和之，仲景法也。今之治風溫、濕溫有自汗者皆汗之，此何法也？且不用涼散而用溫散，或加生地、石斛之滋膩，與病相反，此又何法也？汗之不已，濕與熱鬱蒸於內，舌必變灰，灰而干燥，固宜存津以救陰。在經宜白虎，在腑宜承氣，非獨沙參、生地、石斛足以塞其責也。灰而濕潤，正宜香燥以化濕，苦寒以泄熱。於此而誤認為干灰，而以干灰之法治之，謂為防其劫津，豈知濕盛於內，行將內閉，香燥之不暇，焉有濕邪未化，津液先劫之理!若妄以沙參、麥冬、生地、石斛等味，與豆鼓、豆卷同劑而投，必至濕蒙熱盛，神昏不省，復以犀角、牛黃、紫雪、至寶等品，以引邪入心，而內閉死矣。嗚呼!寒也，溫也，風也，濕也，病名既異，治豈得而同哉？自夫人以發汗為治百病良法，而風溫、濕溫，遂成不治之症。苟初起有不用發汗之藥者，病家先已疑之矣。夫濕病無速愈之理，稍淹時日，必更他醫，必曰此失表也。急表之，已恐弗及，表之而病益重益危，至不可救，仍舊咎於前醫之未表，疹不能速發，病家亦深信之。切齒於前醫，反自恨不早延後醫發散之為誤。後有病者，必不敢再延前醫，而惟後醫之發散是從，雖連殺數人不悟也。是故，殺人而人不知，殺人而名日起，殺人而利愈獲，即曰病家迫之使然，然豈竟無天道哉？他日者，以此道殺其家之人，即以此道自殺其身。因種於前，果結於後。勿真謂誤人無罪，而操刀妄割也。</p>
<p>余曩客婁東，見死於病者，無非此藥，心竊哀之。此苦口婆心語之所以作也。今來郡城，名醫林立，當不似吾前之所見，而容或亦有類於此者，病家不可以不知也。苟聞吾語而默察之，亦可以窺破其伎倆矣。（己酉秋杪，鞠坪氏識。）</p>
<p>今亦有不可解者。蘇城之病，無一不是陰虧，無方不用洋參、石斛。即舌苔垢膩，不思飲食，濕阻中焦，而亦以此投之。至脾為濕困，神倦胃呆，則以為虛而補之以人參。及胸膈飽悶，不能進食，又以為虛不受補，而束手無策矣。嗚呼!貧家患此，不藥可愈；而富室則百無一免，至死猶不知其誤。是以醫膽愈大，醫心愈粗，不必視病，早已胸有成方。一若既為蘇人，即不當病陽虛，而必為陰虧者，豈不可笑!然則，蘇城藥肆中，一切香燥溫熱寒涼之品可不備，醫書中，凡治風寒暑濕燥火之方可盡刪。洵如是也，何不懸一滋陰之方於藥肆中，使凡有病者皆服之，免得延醫切脈，多此紛紜擾攘之為愈乎？嗟嗟!謬種流傳，遂成風氣，此亦劫運使然，非人力所易挽回。而吾所以嘵嘵不置者，亦欲使不在劫中者，得吾說而憬然自悟爾。甚矣!蘇城之洋參、石斛，與太倉之豆豉、豆卷，用藥不同，誤人無異，余故連類書之，以告兩地之患病者。（辛亥初夏，鞠坪又識。）</p>
<h2>論濕溫證用藥之誤</h2>
<p>人有積濕，或因脾虛不能運化，或因喜啖濃肥，恣飲茶酒之故。蓋濕蘊則生熱，無寒熱者，謂之濕熱病。先寒後熱，有汗而熱不解者，謂之濕溫證。雖在傷寒門內，不得用傷寒方中治太陽經證之桂枝、麻黃湯，此盡人皆知者也。其脈必濡大而數，其舌苔必白膩轉為黃膩，或見濕灰，口雖覺干，不能多飲；或含水而不欲下咽，此因濕盛於中，故不能飲，熱勝於濕，故口覺干也。夫濕為病之本，熱乃濕所化；然則治濕溫者，必芳香以燥之，苦寒以泄之，淡滲以利之，為一定之理，毫無疑義者也。今之治濕溫者反是，其方必用豆豉、生地，名曰黑膏湯。欲以豆豉表汗，生地泄熱也。不知今之豆豉，不用桑葉制，而用麻黃制，是以熱助熱也。生地性黏膩，滯痰涎，是以濕助濕也。助之不已，則濕愈盛而熱愈熾，時覺口渴，（熱熾故也。）舌苔垢膩，其至灰黑，（濕盛故也。黑為水色。）神志昏迷，口多囈語。（皆熱熾濕盛之見象。）醫者不知其為藥所誤，見其昏迷囈語，以為必發疹子，而重用豆豉、豆卷（亦麻黃制。）等以汗之，不恤竭力以助其熱；見其舌灰口渴，以為防其劫津，而重用沙參、石斛等以潤之，不恤竭力以助其濕。至此而昏迷愈甚，舌色愈灰，痰涎上涌，命在頃刻，萬無生理。醫乃手足無措，無以名之，名之曰肺閉，而用紫雪丹、至寶丹、牛黃丸、濂珠粉、烏犀角，一服再服，使濕熱之邪，盡引入心包，遂一厥而不復醒矣。豈知濕為陰邪，為濁邪；暑為陽邪，為清邪。清陽之邪，有氣無質，可用紫雪等丹開泄而去；陰濁之邪，有氣有質，不可用開泄，一開泄則邪陷心包，死不旋踵矣!嗚呼!濕溫一症，始誤於豆豉，生地等之助熱助濕，繼誤於豆卷、石斛等之助熱助濕。終誤於紫雪、至寶等之引邪入心，以置之必死之地，而豈知濕溫本非死證耶。</p>
<p>濕溫非死證，而今之患濕溫者，往往致死豈非服藥之誤乎。今夫病名曰濕，即不當以助濕之藥以治濕病，雖甚庸愚，必知之也。病名曰溫，即不當以助溫之藥以治溫病，雖甚庸愚，必知之也。而病者乃不之知，醫者亦不之知，醫之有時名者，更不之知，豈不大可怪耶!且夫濕為陰邪，陰盛者陽必衰，未有陽衰而可以滋陰者也。陰愈滋則（濕愈）盛，以滋陰者治濕，是猶灌鹵於地，而望其燥也。愚孰甚哉!然則如何而可治濕溫乎？曰：始未化火，則用朴、朮、陳、夏等以香燥之；繼而化火，則用連、芩、梔、翹等以苦泄；終而濕降，則用茯苓、通草、澤瀉、車前子等以淡滲之，始終不當發汗。蓋濕家自有汗，不可再發其汗也。始終不當滋陰，滋陰是以水濟水，無益而有害也。無如邪說中人，深入骨髓，愚人無主，聽命庸醫，忠告之言，茫然不省。吾未如之何已!嘗過一富翁之門，見其傾有藥渣，中有金斛，不以為意。既而見有霍斛矣，既而見有鮮斛矣，最後見有鐵皮風斛矣。余乃嘆曰：當此濕令，病多濕溫，投此不已，病其殆哉。未幾，翁果死。蓋人參與石斛連投，惟恐其津之劫也。然而聞之者，不以為誤，一若與其以燥濕生，無寧以滋陰死者。嗚呼!滋陰之說，中於人心，雖死不悔。吾安得運萬千廣長舌，登生公說法壇，使頑石一齊點頭哉？</p>
<h2>麻證喉痛以喉證治之必死說</h2>
<p>（麻證，俗名痧子，必兼喉痛。醫家恫喝人曰：爛喉痧者，此也。）</p>
<p>治麻證之喉痛，與治鬱火之喉痛大異。蓋麻證風熱，其邪襲肺，故必鼻塞涕清，咳嗽眼紅，聲啞喉痛，面紅花雜，身或作癢。一見此症，須用升、柴、前、葛、羌、獨等品，提毒祛風透發之，一劑喉痛止，二劑余邪盡矣。若早用寒涼之品，以徹去其皮毛之熱，使麻不能乘汗外達，遂至溫邪內踞，欲出不出，毒火上炎，喉嚨腐爛。醫者不知其為麻也，外吹珠黃以遏之，內服犀、羚、芩、連以制之，使邪無一毫之出路。始若稍安，終必不治，群相詫曰以喉證死。（有謂，近今喉證以古方治之不效，不如以熱藥從治者，殺人愈速，不可不知。）而不知麻證不早透發，以致毒邪攻喉而死。其實非喉證也，而以喉證之藥治之，豈能有效乎？是以治喉痛者，必先辨其是否麻證；如果麻也，用夏禹鑄天保采薇湯方加減治之，無不透發而愈者。即喉痛目赤，亦放膽投之，不庸疑慮，屢試屢驗。《鐵鏡》所謂聖莫聖於天保采薇湯，神莫神於天保采薇湯也。大忌寒涼，如犀、羚、芩、連、柏、石、珠、黃之類。倘系喉證由於鬱火，則升、柴、羌、獨等升提溫燥之品，均屬切忌。輕者清肺養陰，一劑即痊；重則犀、羚、珠、黃，皆為要品。蓋治病貴先辨證，猶之作文，貴先識題。不識何題而便作文，文必不取，所失者僅一己之名。不辨何證而便治病，病必不治，所誤者乃眾人之命。嗚呼!醫者奈何以人　之命，試我之藥，屢誤而終不悟也!炳按：論痧痘（前輩陳飛霞有《痧痘金針篇》），論喉痧者，有（葉天士、李純修、高錦庭、計壽喬、祖鴻范、王步山、屠尊彝。）陳耕道著有《爛喉疫痧草》，皆可為痧痘喉痧金針。</p>
<p>執一夏禹鑄天保采薇，以為手到病治，他書皆可不讀，我恐誤人也不淺。此病之門徑未窺，難與之辨，不議。</p>
<p>原注云：光緒二十八年春夏間，以喉證死者，比戶皆然，幾成大疫。其實真喉證十不得一二，大半皆麻證也。余所見者，麻證為多用天保采薇東加減治之，無不轉危為安。然以此方告人，人反不敢用。有某醫者，余嘗舉以語之。彼笑曰：不必用此，以生軍磨汁飲之，可內消耳。余知其不可與語也，遂置之不辨。既而，其家連死數人，皆以此症。問所用藥，則惟珠、黃、犀、羚、芩、連、大青等味耳。想必生軍汁亦用過不驗矣。噫!師心自用，善言不入，為人猶不宜若是，而況行醫。吾愿世之講究衛生者，慎毋一覺喉痛，便延醫治，而奉珠、黃、犀、羚貴重之樂，為無上之妙品，以自戕其性命也。（王鞠坪識。）</p>
<h2>附錄天保采薇湯方</h2>
<p>羌活　前胡　製半夏　陳皮　柴胡　赤芍　茯苓　川芎　枳殼　制川朴　桔梗　蒼朮升麻　葛根　藿香　獨活　甘草方內柴、前、升、葛，為必用之藥。濕盛者，朴、夏、陳、朮，亦不可少。骨節酸楚者，風淫於內也，羌、獨為主；倘已化燥，舌上少津，則朴、夏、陳、朮等燥品，宜從刪減。不可執一不化也。（鞠坪又識。）</p>
<h2>急慢驚風辨</h2>
<p>急驚實熱，慢驚虛寒；急驚驟發，慢驚漸成。急驚生於壯實之體，慢驚因於不足之軀。</p>
<p>急驚之熱，如火燒，必面赤口渴，喜冷凍飲料，聲壯氣粗，大便或閉結，或洞泄，小便短赤而熱，甚至四肢厥冷，面色轉青，熱極似寒之象也。治宜瀉火為急。（莫妙於夏禹鑄之《幼科鐵鏡》。）慢驚之寒，是真陽告竭，譬如隆冬冰合，未易解疑，非用附、桂、薑、椒，斷難挽救，況虛陽上浮，亦必發熱，其熱夜盛朝淡，溫和而不烙手，面色桃紅，或白或青，口鼻中無莽莽之熱氣，舌必滋潤，苔必淡白，或微紅，口不作渴，即飲亦不多，喜熱不喜冷，是謂虛熱，甚至有唇裂出血，寒極似火者，治宜引火歸原，大劑扶正，庶乎有濟。（莫妙於莊在田之《福幼編》。）若誤認實熱為虛熱，而投以溫補；誤認虛熱為實熱，而投以寒涼，皆必死之道也。</p>
<p>炳按：此雖陳言，申說有理。</p>
<h2>產前以攻病為安胎說</h2>
<p>產前有病，以安胎為第一義，人盡知之。不知胎之所以不安者，病為之耳。病不去，則胎不安，雖日用安胎之藥無效也。然則欲安胎者，必先審病之所由來而攻去之，病去胎安，其效甚捷。並非安胎之藥，卻是安胎之方；竟有礙胎之味，反收安胎之功者，此豈膚淺者所能識哉？即如厚朴、枳殼、半夏，皆為孕婦所忌。然濕滿氣逆者，舍此不為功。甚至大黃、芒硝、枳實、乾薑、桂、附，更非孕婦所宜，然熱閉寒滯者，非此不能治。昔黃帝問於岐伯曰：婦人重身，毒之如何？岐伯對曰：有故無殞，亦無殞也。大積大聚，其可犯也。衰其大半而止。有故無殞者，言有病者無損乎胎也。亦無殞者，言於產母亦無損也。蓋有病者病能當藥，藥雖有毒，無損乎胎，亦無損於母。然必大積大聚，乃可投之，又宜得半而止，不宜過劑，以傷其正氣也。用藥者奈何不師軒岐大法，而依違顧忌，俟病日深，致不可救，以卒殞其胎耶!</p>
<h2>產後以甘溫退虛熱說</h2>
<p>產後之有寒熱，因於感冒風寒者十之二三，因於氣血兩虛，氣虛則陽衰而外生寒，血虛則陰竭而內生熱，寒熱交作，虛風自動，而痙厥不止者十之七八。果系風寒外感，則必頭疼腦脹，項背牽強，畏風無汗，食物變味，當於四物湯中，量加荊、蘇等味，以散寒祛風，不可重劑表散。若系氣血兩虛，誤認為風寒而表散之，未有不汗出心悸不寐，而病日益深者。蓋汗為心之液，心為血所生，汗愈出則血愈虧，心無血心養，安得不驚悸不寐乎？此百病之所以叢生也。然則將奈何？曰：惡露未清，腹中結痛，按之有塊者，治宜去瘀生新，生化湯、佛手散、加味芎歸湯，其主方也。惡露既清，時寒時熱，腹中安舒，口和知味，舌苔淡白，脈象沉細，面白如紙，唇無血色，自汗盜汗，頭暈耳鳴，心悸不寐，皆屬虛象，非大補氣血，未易挽回。八珍湯、十全大補湯，加龍、蠣、棗、茯，其主方也。總之，瘀未淨，則以行瘀為主；瘀已淨，則以補血為要。補血之方，必兼補氣者，蓋氣為血之帥，古人謂治風先治血，補血先補氣，補血湯之所以重用黃　也。氣行血行而瘀亦行，故虛體之行瘀，亦必先補氣血，丹溪為產後無得令虛，當大補氣血為先。雖有雜症，以末治之。知其要矣。</p>
<p>炳按：吳鞠通云：老人、產後、小兒、虛人，如兵家無糧之師，利速戰。然眼明手快，談何容易耶？</p>
<h2>為虛弱人及幼孩治實證遇當用克伐之藥者宜早宜重說</h2>
<p>世為虛弱人及幼孩治實證，往往當克伐之藥而不敢用，即用亦必躊躇再四，不敢重其分量，藥不勝病，同於未用，自以為謹慎，此大誤也。不知虛弱人當初病時，其正氣尚可支持，不於此時用重藥以直攻其病之所在，而一二劑蕩平之，以急挽其垂盡之元氣，而徐養其將耗之精神，乃優柔不斷，養癰成患，甚至借寇兵而資盜糧，坐令正氣大虧，攻之不可，補之不能，束手無策，豈非謹慎之誤，更甚於魯莽乎？至於幼孩，或寒或熱，或風或痰，或積滯，有不能不用大寒、大溫、大散、大消之品者，愈宜早，愈宜重。蓋小兒臟腑未充，氣體柔嫩，病易實，亦易虛。初病多實，久病多虛，實病不攻，待其虛而攻之，已無及矣。況小兒不肯服藥，十有八九；即服，亦不得多，非大劑濃煎，必不勝病。姑息養奸，需為事賊，眼明手快，是在醫者，尤在病家，若孤疑不決，首鼠兩端，以昏憒為老成，以觀望為持重，庸臣誤國，亦正類是，豈獨時醫也哉？</p>
<h2>小兒難治之症有四說</h2>
<p>小兒氣體結實，感受風寒，因而發熱，熱盛生風，風盛生痰，忽然痙厥，不省人事，此謂急驚，外治用針用刮，用推用拿；內治用清用瀉，用消用開，即能清醒。如陣云四合，雷雨大作，霹靂一聲，云開雨止，轉瞬睛明，其來也忽，其去也突。故治急驚者，似難而實易。所難治者，厥惟四焉。一曰慢驚。或因先天腎水不充，或因後天脾土不足，臟腑空虛，腠理不密，風寒易感，時寒時熱，穀食少進，大便溏泄；或因斷乳太早雜食傷脾，或痘後疹後痧後瘧後痢後，及一切大病久病之後，正氣大虧，皆能成慢驚。而又莫速於大吐大瀉之後，竟有一日即成慢驚者，不可不知也。治法與急驚正大相反，莫善於莊在田之《福幼編》，惟溫惟補，大劑連進，乃可挽回。稍有遲疑，必不可救。而醫家、病家，皆以為奇聞，此其所以難也。二曰痧子。痧子一症，輕者避風，不藥能愈；重者辛散，亦可透發。體虛者扶正以達邪，火盛者滋陰以助汗，幼科書在，本不難治。自夫人誤認痧子之喉痛為喉證，不用辛散，專用寒涼以治其內，珠黃以治其外，使痧毒不能外達於皮毛，則必上攻於咽喉，竟成不治之症，而難治矣。（詳見前麻證喉痛說。）</p>
<p>炳按：小兒之病，亦難言也。余十五年前，治朱姓子，半夜來請，小兒五歲，面赤身熱，脈數大汗，舌亦紅，有白虎證見象。但余在外房擬方，（連余一日內七醫診視，六用清涼。）問藥曾吃過否？曰：揀兩方已各吃一帖矣，無效也。而片刻瀉七次矣。余乃定人參、附子、炒乾薑、於朮、炙草、茯苓、煨木香為主藥。余回家已四鼓後，是方一劑，熱退汗止瀉定而愈。</p>
<p>三曰痘證。近年牛痘盛行，痘科專家，幾同絕響。一二種痘之人，大都粗工，下苗以外，茫無所知。適或痘不穩順，及時行天花，急而求方，彼惟以犀、羚、連、芩等一派寒涼之品投之，使血凝氣滯，痘漿冰擱，塌陷而死，其變甚速。治法始終當以補氣血扶陽氣為要義，用藥以溫補少加發散為首務。莊在田《遂生編》，實為痘科聖書，非他家所能及也。四曰臍風。此症因產時受風，有生下即成者，有遲至百日者，七日內最易犯此，尤宜時刻留心。但見眉心有一點黃色，便是臍風，臍上必現青筋，即速施治，不治則黃至鼻端，不治則黃至嘴唇，不治則鴉聲撮口，哭不成聲，咀乳無力。急治之，猶或十能活一。治法莫妙於《幼科鐵鏡》之燈火十三　，與《廣生編》之四等　法。治之得法，頃刻可愈。余嘗親手試之，非臆度也。以上四症治法，皆詳見余所輯《保赤要言》中。今復表而出之，欲使病家知四症雖難治，要皆有可治之法，勿視為難而竟不治也。總之，治得其法，則難者亦易；治不得法，則易者亦難。難易之別，亦視其治之如何耳!</p>
<h2>夾陰證邪說害人論</h2>
<p>今人於年輕有室之人，一經發熱，治之不應，必指為夾陰證，改用附、桂、參、地大熱大補之品以殺之。病家亦咎病患之不慎，而不怨醫者之誤治，故醫者樂言夾陰，為卸過之地，而冤死者多矣。有父母者，或歸咎於媳，而無可置辨，則銜恨輕生，造孽何可勝道!不知房勞或遺精之後，感受風寒，亦必由太陽經入，仍屬陽邪，其熱必甚，兼以躁悶煩渴，尤宜清熱散邪，豈可反用熱藥!炳按：房室之後病發熱，為夾陰證。然古來不信者甚多。考《張氏醫通》、《傷寒纘緒》，有夾陰一條，必外症少腹痛，陽物縮，足脛冷為真。出小建中加減炒制用之。但張云：真傷寒可治，三時之病此者，長沙復生，不能　指也。有以上見證者，確有此病，雖少腹痛減，足脛已暖，陽縮已伸，仍不能救也。我親手治之。葉天士云：病前病中奪精者，陰氣先傷，如寒時覺其寒盛，熱時覺其熱熾，（此初起也日淺。）及病甚化熱，津液必易涸也，皆是內虛，陽邪傳入陰經，即不死，傷寒偏死下虛人也。古語亦非數劑可愈之症。若用桂、附、參、地，必胸悶作惡，減食煩熱，但大熱大補之藥，陰虛之體，服之無病生病矣。徐靈胎當時與葉氏爭名。著作亦言之過甚，如先生一樣耳，讀書自具眼目為要，雙眼自將秋水洗，一生不受古人欺。袁子才句，余甚佩之。</p>
<p>若果真中三陰，則斷無壯熱之理，必有惡寒倦臥，厥冷喜熱等症，方可用溫散。然亦終無用滋補之法。徐洄溪論之詳矣。奉勸醫者勿輕言夾陰以害人，病家勿輕信夾陰以自害。按證施治。毋事張皇，庶幾天下多一生人，即地下少一冤鬼，亦相得之道也。至於夾陰二字，本屬庸人杜撰，置之不辨可爾。</p>
<h2>陰證忌用寒涼說</h2>
<p>內外兩證，皆分陰陽。陽證實熱，陰證虛熱。實熱易治，虛熱難療。若以治實熱者治虛熱，未有不誤者也。然而治虛熱者，往往以實熱之藥誤人而不悟。何故？蓋實熱者，表裡皆熱；虛熱者，表熱而裡不熱。人但見其表之熱，即不問其裡之如何，概以寒涼投之，以為彼既發熱，治以寒涼，人必不能議我，病家亦深以為然，而豈知虛宜補而寒宜溫哉？炳按：藥之寒熱溫涼，即天之春夏秋冬。寒，冬氣也；熱，夏氣也；涼，秋氣也。溫，春氣也。藥之大略，如石膏、寒水石、大黃、芩、連、膽草、川柏，皆大寒，冬氣也。附子、薑、桂、吳萸、胡椒等熱藥，夏氣也。炙草、黃　、杞子，溫和藥品，如春氣和煦也；赤芍、丹皮、連翹、梔子等等微寒，秋氣也。溫熱兩字，要皆分嘗。至於陰證陽證，外科宜分，傷寒時氣亦宜分，調理雜證，則一言難盡耳。甘溫能治大熱，李東垣說也。</p>
<p>若甘溫可退虛熱之說，固耳所未聞。熱則如何而知其虛熱，曰：脈必浮大而數，數為熱象，而浮大則虛象也。重按不實，中無火也。面紅足冷，陽上越也。溲清便溏，神志不亂，則非實火可決矣。奈何復以寒涼投之邪，至如外科之有陰證，其辨尤易，不紅、不痛、不腫者，謂之陰證。腫而不痛、痛而不紅、不熱者，謂之陰證。初起不紅腫痛，三五日後漸紅腫痛者，亦謂之陰證。瘰　、乳岩、流注、貼骨、鶴膝、橫　、骨槽、惡核、失榮、馬刀、石疽之屬，皆屬陰虛，盡在陰疽之類。其要在三五日內，察其皮色之變與不變，熱與不熱，以分其陰陽。不可因其三五日後之發陽，遂誤為陽證，而以寒涼之藥，逼邪內陷。治法：宜用麻黃以開其腠理，薑、桂以解其凝結，熟地以滋其陰虛。其說詳載於《外科全生集》。本無庸贅述，因世之治陰疽者，多用寒涼，故特揭之。又鼠　、痰　，均屬陰證，最忌鹹寒。如海藻、昆布之類。今人無不用此，名醫且然，其他則又何責，可為長嘆息者也。</p>
<p>炳按：昆布、海藻，含有碘質，能散堅結，解凝痰、痰核、鼠　，可與行氣化痰調肝藥相互而用，不可同陰柔寒凝藥同用。</p>
<h2>血證不盡屬火論</h2>
<p>人有感暑傷氣，忽然吐血盈碗者，有勞力受傷，逢節吐血者，有傷怒傷肝，沖口而出，一時昏暈欲絕者，有脾不統血，血不歸經，溢入胃而吐出者，有感冒風寒，咳嗆破絡，由肺咯出者，皆為可治之症。惟有房勞過度，思慮傷神，吐心腎之血者，十無一治其余諸血，皆當審其症因而施治法，或清或溫，或補或瀉，或攻或散，或和或通，不膠成見，惟病是視，以調其營衛，和其三焦，使氣歸血附，此引血歸經之法也。</p>
<p>炳按：此說藍本好，尚無語病。惟瘀留不肯復出，必溜入肺臟，而咳嗽變癆，先生未知也。所以吐血之後，一有咳嗽，醫治甚難也。</p>
<p>今之治血證者，不問何因，皆稱火盛血淫，驟用寒涼之品以直折之，非不暫止，而血未歸經，往往變為勞瘵不起之症。不知血歸經，則血行而不吐；血不歸經，雖強遏住之，積久亦必吐也。猶治水然，不順水之性，而宣之使通，乃逆水之性，而防之使止，其有不橫決而四溢者哉？是故寒涼之藥，用之得當，其效甚速；用不得當，為害亦深，血證其一端也。</p>
<h2>喉證亦有陰寒論</h2>
<p>治喉證者，不敢用溫藥，與血症同。不知喉證之因乎風熱者十之七，因乎鬱火者十之三。果系鬱火喉痛，自宜用寒涼之品以折之，挾風者，即當兼散其風。自有白喉忌表之說行，並祛風之藥亦不敢用，因豆豉之為害，而誤會牛蒡之不可服，於是乎一見喉痛，不問其為風為寒，一味以犀、羚、珠、黃、馬勃、射干、板藍、大青等極寒極涼之品為方，遂成一篇刻板文字矣。以喉科名者，莫不皆然。並有妄指為白喉以駭人者，豈知白喉之症，因於煤毒，北方專用煤燒，故有此症。南方不常見也。今有忽然喉中作響，響如打鼾，舌色白而不腫，頃刻即死者，人皆不知其為何症，諸書皆稱肺絕。近人名為肺閉。其實腎經中寒，陰證喉痹，誤服寒涼以致死耳。如服桂薑湯立愈。桂薑湯專治頃刻而起，前無毫恙者，此虛寒陰火之症，非實火也。治法用肉桂、炮薑、炙草各五分，同研細末，共歸碗內，取滾湯沖入，仍將碗頓於滾水，掉藥口許，漫以咽下，立愈。或以生川附切片，塗白蜜，（名三因蜜附子）。火炙透黑收貯，臨用取如細粟一粒，口含咽津，亦立刻痊愈。又方：無論冬夏，用四逆湯、（附子、乾薑、炙草。）薑附理中等湯。（白朮、人參、炙草、加薑附。）自愈。切忌表散、清降、寒下等劑。如非寒證，誤用薑、桂、附，則不可救，是以辨證為尤要。薑桂湯、蜜附片治法，見《外科全生集》；四逆湯等治法，見《良方集要》。因此症最易誤治，故特表而出之。</p>
<p>炳按：喉證風熱為多，夾痰夾濕夾溫，厲有霉毒，種種不一也。尋常有表邪咳嗽，身熱脈弦數，頭痛，均疏散中參清咽解毒，亦非一味涼劑者，故前人無不以肺胃感風熱證，以先散後清立法。《白喉論》初見瀏陽張紹修著立五方。其表也，葛根、桑葉、連翹、牛蒡、制蠶、蟬衣。其清也，黃芩、生地、銀花、膽草、馬勃、青果、土茯苓、石膏，只用三錢，後子午香室忌表抉微，連桑葉、薄荷亦忌，所立養陰八柱湯，大生地、白芍、麥冬、元參等寒涼滋膩，抑遏風熱，禍害病患，所云服三因蜜附子者，名少陰腎傷寒，急者一周時，不及救也。</p>
<p>《外科全生集》、《良方集要》，皆簡單引用之書，法脈甚小。</p>
<h2>暑病有宜用參者論</h2>
<p>盛夏酷熱，爍石流金，汗出過多，未有不傷氣者。內經云：熱傷氣。又云：壯火食氣。</p>
<p>故治之必顧氣分，補氣之藥，孰有過於參哉？孫真人生脈散，東垣清暑益氣湯，丹溪十味香薷飲，皆人人共見之方，未有不用參者。至人參白虎湯，乃《金匱》中　門專主之方，《金匱》乃醫聖仲景之書，是不足法，更何法也？今人見中暑之症，往往疑為時邪而不敢用，不知四時不正之氣，如春當暖反涼，夏當熱反寒，秋當涼反熱，冬當寒反溫，感而病者，謂之時邪。暑乃六氣中之一氣，本天地之正熱，應時而至，人或不慎，感之而病，是直中暑而已。不得混謂之時邪也。竟有霍然撩亂，上吐下瀉，汗出如油，陽微欲絕，非重用參、附，不能挽救者。猶記亡友劉南士云：其兄文星，精堪輿之學，七月初，為人相地，在羅店地方，中暑霍亂，吐瀉交作，十指螺紋盡癟，危在頃刻，醫盡束手。適有友人周介儒，在其地處館，視之，以為氣虛欲脫也。重用一味高麗參，煎湯服之，吐瀉頓止，螺紋盡綻。及南士聞信趕至，已愈矣。皆驚以為奇，而不知非奇也，人特不細思耳。蓋文星體素肥胖，外有餘者，中氣必不足；又當秋暑方張之日，履地勞苦之事，氣之傷也決矣。既經大吐、大瀉、大汗，舍參無別法矣。其效之神速，不亦宜乎？或曰；暑天豈無穢濁之氣，何可用參以補住之？　余曰：此病之所以貴乎看也，果有穢濁，原不可補。不知當大吐瀉之後，即有穢濁，亦必盡去，此時不補其氣，更有何法可用？況亦有本無穢濁，而僅感暑氣，體虛不克支持者乎？奈何執暑天不可用補之說，坐令有可治之法，而聽其不治也。</p>
<h2>傷寒正名論</h2>
<p>今人見發熱數日不涼，即混名之曰傷寒。而不辨其為風、為寒、為濕、為熱、為溫，一例以豆豉、豆卷、牛蒡、沙參、生地、洋參、石斛投之，此大謬也。不知此數病者，雖隸於傷寒門類，皆由傷寒傳變，不得混名之曰傷寒，而以冬至以前所發之真傷寒治之。況其所用者，並非傷寒方，且其所視者，亦並非傷寒症，特欲以傷寒兩字愚病家耳。《素問》曰：熱病者，皆傷寒之類也。又曰：人之傷於寒也，則為熱病。人傷於寒，而傳為熱，何也？寒甚則生熱也。又曰：凡病傷寒而成溫者，先夏至日為病溫；後夏至日為病暑。《難經》五十八難曰：傷寒有五，有中風；有傷寒；有濕溫；有熱病；有溫病，傷寒為病之總名。五者乃病之分證。仲景《傷寒》論其始曰：太陽之為病，脈浮，頭項強痛而惡寒。其後乃一一分別治之。</p>
<p>有所謂中風者，太陽病，發熱汗出，惡風脈緩者是也；有所謂傷寒者，太陽病，或已發熱，或未發熱，必惡寒體痛嘔逆，脈陰陽俱緊者是也，病自傷寒來，故用桂枝、麻黃之辛溫，以祛風而散寒。有所謂濕痹者，太陽病，關節疼痛而煩，脈沉而細者是也。有所謂　病者，太陽中熱，其人汗出，惡寒身熱者是也；有所謂溫病者，太陽病，發熱而渴，不惡寒者是也。</p>
<p>其病亦自傷寒來。其方如葛根之辛涼，石膏之辛甘寒，黃芩、黃連、大黃之諸苦寒者皆治之。今人既不辨傷寒症中之為風、為寒、為濕、為熱，為溫，又不問《傷寒論》中，以何者為主方。</p>
<p>炳按：傷寒正名，剿撮《傷寒論》開場白。引用《難經》傷寒有五語，做一篇文字，實要罵用豆卷、豆豉、牛蒡、沙參、生地、洋參、石斛之醫耳。余無自己一言半語，表張醫理，跡近謗書。總之，藥之酸甘鹹辛苦之味，寒熱溫涼補散消奪等等之性，有是病，即用是藥。古來名手，不越規矩，如偏愛偏憎，早用寒涼，抑遏病邪，固屬誤人；而偏喜補燥，使邪亦不外達，助熱化火劫津，亦所不免矣。且著書，此等言語不宜說，因自遇有痧疹未透，可不用牛蒡，溫熱無汗，不用豆豉，熱病化火，不用生地、石斛救液乎？轉覺寫方時自有抵觸。</p>
<p>而惟以豆豉、豆卷、洋參、石斛等味，為治傷寒之良劑，並治百病之妙藥，豈不可笑哉？孔子曰：名不正則言不順。余愿治病者，必先正其病之名，然後定其方所主。勿混言之曰傷寒，而以無關於傷寒之藥誤人也。陸九芝先生有傷寒有五論，其說甚詳且精，略舉其凡，以破夫傷寒愚人之術焉。</p>
<p>炳按：傷寒一症，何人不知，傷寒一書，何醫不看。漢後王叔和集勒成書，以後注述闡揚張氏之書，有其名而無其書者，不知凡幾，即書尚存，專攻一世，不能盡讀，一書莫說多，以四十卷為則，請讀三顧，能否上口背出乎？要之既為醫，傷寒病理，不可不知耳。</p>
<p>江浙少真正傷寒，故不必泥定傷寒看病，再者，世運日變，兩間氣化亦變遷，前賢未盡之理，亦須後人糾正。如王安道、劉河間、朱丹溪治四時發熱之病，已遍用辛涼苦寒，救濟前人辛溫香燥之弊。至清代古吳葉先生香岩，闡發治溫，又以甘濡立法化邪，其實杭嘉湖亦從此法。王士雄駁吳鞠通《條辨》，病名題旨未清，乃言曰冬傷於寒，至春發者曰溫病；夏至後發者曰熱病。冬春感風熱之邪，而病者首先犯肺，名曰風溫。其病於冬者曰冬溫，病於春者曰春溫，即葉氏所論者，是亦名時氣溫病。夏至後所發熱病，在《內經》亦曰暑，以其發於暑令也。故仲景以夏月感暑成病者名曰　。蓋暑　者，皆熱之類也。然尚有濕溫一條未言，但濕溫即濕熱也。須分兩條，一者其人常傷於濕，因而感　熱為之濕溫，病苦妄言，治在足太陰，不可發汗。汗出必不能言、耳聾。前賢主以蒼朮石膏湯之用蒼朮、石膏、知母、甘草，但此病不易治。其時令濕熱，亦曰濕溫，葉氏有論，薛生白有暑濕者，條分縷晰，亦曰濕熱病論三十八條。余是附入。傷寒有五，《難經》有中風，有傷寒，有濕溫，有熱病，有溫病，而不知內傷寒症有五，一停飲、二傷食、三香港腳、四虛煩、五內癰也。同傷寒十二證，一冬溫，二寒疫，三瘟疫，四溫病，五熱病，六風溫，七溫瘧，八濕溫，九中　，十溫毒，十一風濕，十二痙病。見清代《醫宗金鑒》傷寒心法要訣欲正名，亦當知此。</p>
