<header><h1>傷寒補例</h1></header>
<dl class="元資料" data-type="book">
<div><dt>作者</dt><dd>周學海</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1644/1911">公元1644年至公元1911年</data></dd></div>
</dl>
<h2>敘</h2>
<p>傷寒。病因也。非病證也。以因為名。求本也。傷寒見證。變化無端。非仲景六經主證。所能賅括。後人拘執。</p>
<p>凡不在仲景文內者。概不敢求之傷寒。間有窺見一隙。又不敢顯違眾論。但曲為之說曰。是傷寒雜證也。夫傷寒之證自雜安得復有傷寒雜證者也。晉唐諸賢。以溫病熱病。本於傷寒之轉變而別。以溫毒與寒毒相對待。至哉言乎。</p>
<p>溫病熱病。且以為本於傷寒。況其本寒證者乎。學人能知傷寒見證。不止仲景原文。仲景文外。尚有傷寒證治。庶乎其可與讀傷寒之論。治傷寒之病矣乎。王叔和作傷寒例。以明即病為傷寒伏氣變為溫熱之事。用意甚盛。惜其語焉不詳。揆之事例。仍多未備。學海讀內經後。讀仲景書。參以臨診。覺於傷寒偏死下虛人一語。稍有領會。於是有見輒錄。積久成帙。雖無深義。要是拾遺發覆之一端。名曰傷寒補例。不敢補仲景也。補叔和云爾。</p>
<p><u>乙巳孟冬健之記</u></p>
<h2>卷上</h2>
<h3>傷寒論難讀並宜補大旨</h3>
<p>醫惟實事。弗尚空談。仲景書。所以傳世不朽者。以其言皆實事。百家莫及也。然缺略難讀。尤在敘證太簡。</p>
<p>常與方藥不相對。近賢多以方釋證。惟成氏能先證後藥。亦未能大暢厥旨。非成氏拙於注釋。實仲景之文。有難釋者也。前人謂初學。必先讀傷寒論。以立根本。予獨謂不然。當先讀內經難經。接讀金匱。參以外台千金。而後及傷寒論。以考其變。即如每節首署太陽病云云。有直指發熱惡寒項背強痛者。有謂先見太陽病。今又接見下文諸證者。有謂本是太陽病。今忽轉見下文諸證者。果有日久及發汗吐下後等語。猶有轉接之跡可尋。無之。便苦上下不貫矣。況夫邪氣之何以發為太陽病少陽陽明三陰病也。三陽三陰病之何以各見某證也。發汗吐下後之何以變見某證也。某證之何以應用某方、加減某藥也。一概不曾道破。間有一二。亦斷碎而不續。此雖智者。不能得其脈絡之所在。而責之初學。不亦難乎。王叔和作傷寒例。僅提其綱。陶節庵作六書與全生集。未竟其緒。深望世有高賢。取仲景書。合之內經。參之諸家。補發其所未備。三陽三陰病上補發邪氣來路。病下補發轉證機括。某方主之。上下補發。對治氣宜切定實事。勿談空理。國中末候。條理分明。使讀者對書如對病患焉。確有可循。不致眩惑。斯生靈之幸也。小子愚陋。愧不及此。僅發其端。以待來者。</p>
<h3>三陽三陰分經名義</h3>
<p>經也者。分野之謂也。猶孟子所謂經界。在人身謂之部位。無專物而命物者也。部位既定。於是筋與脈之行於太陽少陰之部者。命曰太陽之筋。太陽之脈。少陰之筋。少陰之脈。行於陽明太陰之部者。命曰陽明之筋。陽明之脈。太陰之筋。太陰之脈。行於少陽厥陰之部者。命曰少陽之筋。少陽之脈。厥陰之筋。厥陰之脈。故靈樞經脈經筋兩篇。並冠以經者。以筋之與脈。皆分經而行。非筋脈之外。別有所為經也。大者為經。支者為絡。以脈之大者。</p>
<p>各據專部。故得獨被以經之名。非以經絡相對。屹然二物也。然則三陰三陽。果本於何義而有此名也。曰本於天地四象也。陰陽離合論曰。聖人南面而立。前曰廣明。後曰太衝。太衝之地。名曰少陰。少陰之上。名曰太陽。中身而上。名曰廣明。廣明之下。名曰太陰。太陰之前。名曰陽明。厥陰之表。名曰少陽。太陰之後。名曰少陰。少陰之前。名曰厥陰。由此觀之。前曰陽明者。陽者。表也。明者。盛也。耳目之精。手足之用。皆聚於前。故曰陽明。</p>
<p>其裡太陰。人身背為陽。腹為陰。居腹之裡。故曰至陰。後曰太陽者。太者。至也。陽者。表也。居背之表。而又為耳目手足之所不及。在人身為至遠。故曰太陽。遠之也。其裡少陰。少者。小也。居背之裡。稍近於前。故曰少陰。兩側曰少陽者。分據兩側。部位狹隘。故曰少陽。其裡厥陰。厥者。逆也。前後之交。兩氣相觸故也。是故陰陽者。表裡之雅名。太少厥陰者。前後兩側之雅名耳。三陽經之氣血。亦營運於三陰。三陰經之氣血。亦營運於三陽。不得以表裡分經之陰陽。為氣血本性之陰陽也。氣血之陰陽。當各從其臟腑之本體求之。與分經之陰陽。兩不相涉者也。故至真要大論曰。以名命氣。以氣命處。而言其病。謂以四象陰陽之名。命於六氣。以六氣陰陽之名。</p>
<p>命於人身上下表裡之處。處即經之義也。蓋天下無無名之物也。必分立諸名。而後便於討論病機焉。言者。討論之謂也。由是推之。命燥金曰陽明。濕土曰太陰。特假其名而已。非燥金之氣屬陽。濕土之氣屬陰。而居前也。命寒水曰太陽。君火曰少陰。亦假其名而已。非寒水屬陽。君火屬陰。而居後也。命相火曰少陽。風木曰厥陰。亦假其名而已。非相火屬陽。風木屬陰。而居兩側也。總之三陰三陽分經。只是人身分野之空名。非如筋脈之有專物也。</p>
<p>邪在分野。是為腠理。是為表病。故無論三陰三陽。當其邪在分野。見證只在軀殼之外。必其邪入經脈。見證乃及臟腑之中。其有未入經脈。遽見裡證者。是邪氣直中三焦也。三焦者。裡之分野也。三陰三陽者。外之分野也。分野者。衛之部也。經脈者。營之道也。</p>
<p>此義諸家發明。不一而足。西醫解剖。見無所為六經者。便誚中醫誕妄。而不自知其疏陋也。略看醫書小本。</p>
<p>便肆狂吠。中國士子且然。於西醫乎何責。易曰。聖人有以見天下之賾。而擬諸其形容。象其物宜。是故謂之象。</p>
<p>至哉言乎。聖人通於天地萬象之本。無不可以陰陽者也。如高下之升降浮沉也。前後之向背表裡也。往來之順逆也。</p>
<p>清濁寒熱也。牝牡雌雄也。凡屬對待之象。皆可命以陰陽之名。豈特分經而已哉。即心肺為陽。肝腎為陰。脾胃六腑為至陰。亦陽清陰濁之一端耳。清者多靜而居裡濁者多動而居表。故又有陽濁陰清之說。若不開拓心胸。洞見本原。而欲執一義以印萬象。亦安往而不窒乎。萬象可通於一義而不能拘於一義者也。有體之陰陽。有性之陰陽。有氣之陰陽。有象之陰陽。有數之陰陽。有部位之陰陽。有功用之陰陽。有角立之陰陽。有相生之陰陽。有交變雜錯之陰陽。故曰。陰陽者。數之可十。推之可百。引之可千。推之可萬。然其要。一也。知其要者。一言而終不知其要。流散無窮。</p>
<h3>傷寒重病多是下焦伏寒</h3>
<p>傷寒中。有一種極顯極要之義。仲景未曾道破。後人暗中摸索。全未道著。只有傷寒偏死下虛人一語是從已敗之後。歸咎於病患自己之不慎。而不知其治法之差。用藥之誤也。夫冬傷於寒者。大率傷於下焦膝脛也。若傷於頭面肩背。是陽氣刻刻升越之道。未有不立見惡寒發熱者。早傷暮病。夕傷朝病。一汗即邪散而解。且有不汗而自解者。烏有深入於裡。而為六經傳變。種種幻證者乎。其所以傳變者。正為邪伏於下。與陽氣不相沖激。得以宴然久據。侵淫於裡。久而上越。過膝入腹。陽氣不得安窟。乃始發病或再加以上焦新感。則其發愈暴。治此者。必選溫散藥中之沉降下行者。或溫散而佐以沉降之品。導之下行。使邪氣之自下而上者。仍退返於下而出焉。則邪氣下退。</p>
<p>元氣歸窟而身安矣。所謂沉降下行之品者。威靈仙獨活吳萸沉香牛膝澤瀉之屬是也。若專以麻桂發其上。上焦得汗。</p>
<p>則上焦元氣愈空。下焦邪氣。愈因之而上移。是非逐邪也。直驅正以引邪耳。故前人以邪氣由太陽下行入少陰。為深入吾正以邪氣由太陽少陰上行入陽明太陰。為深入也。凡發汗後。腹脹滿。及水藥不得入口者。是不僅中焦濕邪。</p>
<p>為汗所動。而下焦寒邪上越。與中焦之濕邪相搏也。發汗或吐或下後。心下逆滿。氣上衝胸。及眩悸　振者。是不僅上焦之清陽經絡之津液。為汗所擾而下焦寒邪上越。百脈之氣血。舉為其所逆亂。不得循經也。下後。脈促胸滿。</p>
<p>及胸滿煩驚不得小便。譫語。身重不可轉側者。是上脘藥力。與下焦寒邪。兩寒相搏陽氣遏於中焦。而不得舒也。</p>
<p>辨脈篇中。脈浮而大。醫反下之。又飲冷水。水寒相得。其人即　。事正類此。即所謂太陽隨經。瘀熱在裡。以致蓄血發黃。亦是寒邪上爭。血脈不得下行之故。總因麻桂。只能發上焦之表汗。不能搜下焦之伏寒。而傷寒為病。</p>
<p>率是邪伏下焦。日久鬱極。有觸乃發。不在上焦陽氣出入之沖道。是以藥力不能與之相值。反虛上焦正氣為邪氣辟升騰猖獗之路。又何怪乎橫肆傳變。不可方物哉。或曰太陽病初起。項背強痛。非上焦病乎。此時未聞膝脛有所苦也。曰項背強痛。正以下焦邪氣上衝。而擎之與新感相搏而然。是時兩髀以下。必　脹疼痛異常矣。安得謂無苦。</p>
<p>果無苦也。不過尋常感冒而已。何待古今諸賢。費如許心力。故治傷寒。起手必察下焦元氣之虛實寒熱。虛而寒者。</p>
<p>是真陽不足。即所謂下虛也。溫搜兼補之。虛而熱者。是燥火也。溫搜兼潤化之。實而寒者。重溫搜之。實而熱者。</p>
<p>是邪在外絡。而內藏瘀熱也。溫搜而兼清化之。藥力達於病所。使邪從何道而入者。仍從何道而出。而上焦新感之風寒。即溫搜之藥。自能隨帶而解散之。此外如病患脾肺素弱。上焦表濕膠固。中焦痰水凝結。或溫熱久蘊於中焦或虛火常沖於頭面。皆可隨證加藥。且明斯義也。凡傷寒而兼香港腳。兼疝氣。兼痞塊兼飲癖。兼心胃氣痛者。舉可賅而治之不犯手矣。即有血塊。及脫血症。亦可加行血藥。以合治之。而不犯上焦矣。縱橫揮洒。無不如志。何至變證蜂起。觸處棘手哉。每見冬月傷寒者。至雨水驚蟄後。或暴嘔吐。或暴呃逆。或暴喘促。或暴瀉泄。或暴眩暈心懸。或兩腿無力。數武即喘。或二便猝閉。又忽大下。無端煩躁。夜不安眠。或上熱下冷。煩躁氣喘。半夜後。</p>
<p>又兩足轉熱如焚。此皆遍身筋骨　痛。兩髀以下尤甚。第身雖發熱而往來無定。不似表證。世遂以為雜病。未有知是冬寒下伏者。若加以上焦新感。重見惡寒發熱。又專以為表證。專以麻桂發之。轉見氣浮作喘。兩腿　腫。元氣不根矣。更有夏暑內伏。交冬。寒邪自下上衝。而始發病者。其證。胸中煩熱。如破皮狀。兩足徹冷如冰。及夜轉熱如焚。此寒暑相搏。三焦之血絡瘀痹也。益無有知其病情者。</p>
<h3>伏寒觸發與傷寒時溫脈證並病機異同</h3>
<p>久寒下伏。有因新感風寒而觸發。有因春月時陽上升而觸發。有因飲食勞倦而觸發。新感觸發。外證與傷寒相似。而不同者。上焦傷寒。惡寒發熱。遍身筋絡。拘急疼痛。而頭項為甚。脈象沉緊而數。呼吸稍促。而不甚粗。</p>
<p>常欲仰臥。展布四體。伏寒雖已發熱。心常凜凜畏寒。筋骨諸節。　脹痛。而兩髀以下。膝脛為甚。脈象浮弦而大。重按反小。起伏應指戰栗。呼吸喘粗。身熱足冷。胸雖煩躁。而兩足常欲蜷曲。不能伸展。時陽與飲食勞倦觸發。外證與冬溫春溫相似。而不同者。時溫。大熱氣粗。久撫肌裡灼手。脈象洪緩而數。來疾去遲。舌苔滿黃。</p>
<p>渴欲冷凍飲料。時時欲嘔。筋骨微脹而不痛。神識不清。不待胸滿。即不思食。伏寒微熱。動即氣喘。寒熱往來。久撫肌裡不熱。或反冷如冰。脈象洪緩而遲。其來不盛。而去甚疾。沉候與尺後反緊。舌苔前黃後白。表黃裡白。渴不欲飲。或欲熱飲。少腹氣衝。暴大嘔吐。筋骨疼脹。神識清明。食稍減而易飢。以上皆初起見證也。血氣尚未濁亂。邪正尚未混淆。是傷寒溫病。與伏寒之最要關頭。入手辨症不差。施治不誤。刻期可已。過此失治。變證蜂涌。</p>
<p>高下相引。表裡相攻。斑疹隱見。而痰嗽頻仍。口爛齦蝕。而臍痛腹瀉。寒熱之真假難明。虛實之淺深莫辨。心慌手亂。顧此失彼。鮮不敗者。</p>
<p>舊說辨傷寒溫病有曰。溫病從裡。傷寒從表。又曰。溫病分三焦。傷寒分六經。予更續之曰。傷寒重證。自下而上。溫病重證。自上而下。傷寒死證。自上而下。溫病死證。自下而上。傷寒在下而不上。輕證也。在上而不下。</p>
<p>輕之輕也。溫病在上而不下。輕證也。在下而不上。輕重之間。未可知也。夫溫病發於伏氣者。由口鼻吸受。伏於膈上膜原。侵淫三焦血分。其即病者。亦由口鼻散布肺胃。消灼津液。血分濁惡也。傷寒發於伏氣者。由足脛浸受。</p>
<p>伏於筋絡骨節。侵淫肌膜氣分。其即病者。乃由腠理布於上焦。閉遏陽氣氣分搏激也。傷寒伏氣變為溫病者。非寒能化溫也。其人本體氣血多熱。寒伏於下。陽氣不得下通。三焦菀熱。日積月盛。及至發病。只見三焦熱證。不見下焦寒象。且有清利上熱。自能借逐下寒者。故雖有髀脛　脹痛諸證。前人往往皆強屬於溫。而不敢議其為寒也。</p>
<p>若下寒太盛。上熱不及借逐者。當俟熱勢半減後。加藥分治之。須得內經病所遠而中道氣味之者。食而過之之義。</p>
<p>否則溫去寒存。上嘔下利。中焦隔塞。有合偏死下虛人之說矣。其實非下虛也。乃下寒而失治耳。</p>
<h3>即病伏氣直中傳經四證異同</h3>
<p>伏氣即病直中傳經之說聚訟紛紜。全在文字上計校。不在實事上指陳。或曰。中而即病為傷寒。久伏化熱為溫病。或曰。三陽在表。三陰在裡。邪氣何能飛度。而直中三陰。或曰。傷寒卒病。以寒邪傷人最為毒厲也。三時感冒。不必傳經。即傳經。亦不似傷寒之急。夫中而即病。即感冒之類也。伏氣有淺深之別。或伏寒於冬。至春夏而發病。或伏寒於前月。至後月而發病。皆謂之伏氣。皆有化熱不化熱之辨。何得一言伏氣。便專屬於溫病。與傷寒截然無涉。況三時溫涼濕熱。腠理疏豁。傳經反遲。冬寒腠理密致。裡氣充實。傳經反急。理不可通。遂歸咎於邪氣之毒厲。更造為越經傳錯經傳諸說。以回護之。此皆所謂遁詞。中有所蔽故也。蓋嘗思之。仲景論中。明明有六經中風之文。豈風能直中。寒反不能直中耶。中而即病者。其機有二。一傷於上焦。正當陽氣衝道。朝傷夕病。夕傷朝病。其證先惡寒而後發熱。謂之太陽病。（惡寒發熱一時齊發。所謂發熱惡寒者。發於陽也。陽指上焦）遷延失治。為諸變幻。謂之傳經。此前人所已言也。一傷於下焦。不當陽氣衝道。其證或微惡寒而不發熱。或微發熱而甚惡寒。或寒熱往來無定。（此時尚無大熱。所謂無熱惡寒者。發於陰也。陰指下焦。）二三日不解。邪氣乘太陽經氣。上入項背。乃大發熱。（至此乃大發熱。故有或已發熱、或未發熱之辨。）而成正太陽病矣。亦有入少陽而為寒熱煩躁。亦有入陽明而為便秘譫語。亦有直入三陰太陽。見證獨重。謂之太陽病。各經見證獨重。謂之直中。遷延失治。為諸變幻。謂之傳經。太陽病有傳經。直中三陰。亦有傳經也。故三陽亦有裡證。三陰亦有表證。此前人言之而未詳者也。伏氣發病者。其機亦有二。一為觸發。一為晚發。詳見前後篇文。大抵邪氣。偏伏下焦肌肉之分。</p>
<p>附著筋骨血脈之外。不與陽氣相值。故往往必待有大氣以觸之。而後發病。其機甚厲。可表可裡。化寒化熱。全視體氣強弱。為之轉移。或隨太陽經氣。上行項背。而為太陽表證。或直沖膀胱小腸。而為太陽裡證。其證小便猝閉而氣喘。轉為　腫發黃。或直入少腹命門。而為少陰證。或沖過少陰旁溢血脈。血脈逆亂。而為厥陰證。此二者。</p>
<p>所謂偏死下虛人也。其證下利。四逆蜷曲自溫。氣上撞心。兩肋堅脹。轉為口爛蝕齦。自汗不止。臍築湫痛。五液注下。或厥陰氣血強壯。不肯受邪。邪氣外行。而為少陽證。血脈細絡燥嗇。故其脈弦細。其證寒熱往來。轉為癮疹。或循少腹之前表。上行胸胃之膜絡。而為陽明證。或循少腹之前裡。上行膈膜之分野。而為太陰證。如此者。</p>
<p>邪氣雖行經分。實與臟腑相近。　籬盡撤。聽其所之。正氣失權傳變最速。此又前人言之而未詳者也。仲景論中。</p>
<p>專敘足六經見證。其手六經見證皆屬裡病者。正以伏氣先發於足。必待上行入裡。而後及於手經也。又太陽傳陽明少陽。皆屬熱證。三陰皆屬寒證者。正以邪氣外行於表。即裡陽內菀而為熱。直攻於裡。即裡陽下泄而為寒也。若如上焦傷寒。必待傳陽已遍。而後入陰。則陽明少陽。早已化熱。三陰之菀熱。當更甚矣。何反忽轉為寒也。又太陽病。頭痛至七日以上自愈者。以行其經盡故也。若欲作再經者。針足陽明使經不傳。則愈。舊注以邪氣傳遍六經為經盡。後有斥之。以為行其經盡。非傳經也。邪氣之行於本經者盡也。似矣。然七日之義無著。殊不知此謂諸經不受病耳。如太陽病頭痛。次日行陽明。而陽明不受。又次日行少陽。而少陽不受。又次日行太陰少陰厥陰。而三陰不受。始終止於頭痛。邪淺易散。故自愈作再經者。邪重不得散菀熱欲轉病。故針足陽明。使經不傳以泄菀氣也。</p>
<p>是太陽病中傳變之一端未可以為傷寒傳經之總例。此等緊要關節。向來俱未覷破。總緣於病所從來之路。與其所轉化之機未能悉心近取遠譬。確見實際故但能各執經文之一語。以相攻擊。而不能切合病家之情形。以征適用也。不適用三字。本於嘉善俞氏。知言哉。知言哉。</p>
<h3>晚發是傷寒正病</h3>
<p>晚發。緩發也。與即病相對待。又與觸發相對待。專邪自發。不感外氣。本是傷寒中之正病。成注謂後來之疾也。語意不明。他家更以傷寒雜證釋之。殊不知此乃下焦伏寒。日久化濕。留連淫溢。以漸上行。故病之來勢甚緩。</p>
<p>停蓄於中。至六七日。結為水氣。與即病惡寒發熱之表證不同。又不似觸發者之暴急也。自脈陰陽俱緊。口中氣出。</p>
<p>唇口乾燥。蜷臥足冷。以下。皆晚發見證。不知者分作兩截。專以若脈遲至六七日不欲食。屬之。晚發。是泥於此為晚發之句。不知此乃從六七日後。追思而通括之。只作一讀連下成句。晚發二字。是現成語氣猶言此因晚發。以致水停故也。六七日句。與上文七日以來句。八日以上句平列。皆晚發轉證。（一寒盛而陽氣爭之。一寒濕兩盛。</p>
<p>陽氣不能自持。一寒去而濕存也。）只因此為晚發句倒裝於此。遂致眩惑。若提在勿妄治也前。便自曉然。大抵此病。寒邪久伏。菀為夾濕。濕性濡滯。故其勢甚緩其脈甚遲。其證寒多熱少。神昏肢　。遷延日久。有誤作虛證。</p>
<p>而用補者。予曾延醫。見讀醫隨筆。寒濕下受。直傷少陰。變證多端。搜治匪易。篇中又有汗病篇。亦晚發之病也。</p>
<p>當參觀之。茲不贅錄。夫前言脈陰陽俱緊者。寒盛也。此言脈遲者。寒勢稍衰而濕盛也。</p>
<p>按晚發。只訓緩發寒中夾濕。以病勢之緩立名。非以發時之遲取義。冬月伏寒。發於春夏。固為晚發。上月伏寒。發於下月。亦為晚發。事所常有。不必怪說。不但本章是晚發。即前自脈浮而遲。後至病六七日。手足三部。</p>
<p>脈皆至章。亦皆是晚發之類。清邪中上濁邪中下章。是邪入血分。榮衛不通。初起似可麻黃升麻湯主之。本章是邪在氣分。上熱下寒。三轉證中。以吐利為最危。脈浮而遲章。是濕搏於表。中氣不足。口噤躁擾章。是濕結膻中。</p>
<p>熱搏於裡。即汗病篇所說是也。</p>
<h3>兩感有三</h3>
<p>兩感有三。有陰陽兩感。有臟腑兩感。有寒溫兩感。陰陽兩感者陰陽兩經。並感於寒毒也。素問靈樞所說兩感。</p>
<p>並是此義。此有故。寒先伏於下焦。新寒復中於上焦。上下兩邪相引。故邪由陰道而上衝。新邪由陽道而內入。亦有同時並感者。必由薄衣露處。及冒寒遠行。勞力汗出。邪氣乘虛而入。此時邪氣。直是漫天蓋地而來。何暇輾轉傳經。由淺漸進。又何暇陰陽勻配。范我馳驅哉。故太陽少陰兩病。未必不兼見陽明太陰證。陽明太陰兩病。未必不兼見少陽厥陰證。然邪氣究須有從入之先道。細審機括。亦自有孰正孰兼孰重孰輕之辨。</p>
<p>臟腑兩感者。外經與臟腑。同感於寒毒。非傳腑傳臟之謂也。此或由飲食傷於腸胃。或由呼吸入於膻中。故小兒當風飲食。當風啼哭。極宜慎之。外既感受風寒。而又內寒上衝於肺下侵於腎。於是惡寒發熱。筋骨強痛之中。</p>
<p>又有咳嗽嘔吐瀉泄腹痛之苦。仲景先救其裡。後攻其表。是緩治也。急者溫中發表並用。風擾於中。其勢極惡。霍亂轉筋。非桂不足以制之。</p>
<p>寒溫兩感者。寒溫兩毒相伏。非傷寒化溫。溫病轉寒之謂也。外邪所傷謂之毒。內氣所化。不得謂之毒。即不得謂之兩感傷寒有初起即見寒死證。無初起即見熱死證。其有熱死者。日久失治也。否則先有溫邪內伏也。溫病有初起即見熱死證。無初起即見寒死證。其有寒死者。日久失治也。否則先有寒邪下伏也。常有秋月久晴燥邪由呼吸伏於膻中。霜降以後。天氣乍寒。腠理開豁。邪氣乘之。其證寒熱強痛。而初起即神識昏迷。譫語氣粗。口渴索水。</p>
<p>又有夏月伏暑。為秋涼所遏。不得發越。入冬感寒而發病者。其證胸中煩熱。如破皮狀兩足如冰入夜轉熱如焚。煩躁不能安眠。此暑毒在血之故。又有冬月寒伏下焦。入春感於風溫而發病者。其證初起上見喘粗。聲如瓮中。漸見面目　腫。神識昏迷反胃乾嘔也。大法先治其溫。後治其寒。與真寒假熱。真熱假寒諸治法不同。</p>
<h3>水氣凌心即是三焦傷傷寒雜病皆有之</h3>
<p>史載之論水氣凌心。證治甚詳。讀醫隨筆。已備錄之。近年歷驗。似於病機稍有確見。史載之敘疫痢水氣凌心者。初起寒甚。大熱不退。心中凜凜。時時嘔惡。治以肉桂白芷細辛茯苓諸品。此水氣凌心。證治之樞要也。巢氏病源候論。言噤黃隱黃初起。心中寒栗。口噤齒介。神識冥漠。不知東西。殺人甚速。此水氣凌心之急證也。又近見瘧疾。有寒起於少腹。不復轉熱而死者。香港腳。有氣起於少腹。上衝急喘而死者。此皆水氣凌心之類。大抵此病。</p>
<p>病機有輕重緩急之別。而皆由於真陽不足。如前所言。噤黃香港腳者。是命門真火不足。膀胱陰邪暴漲。上攻於心也。</p>
<p>其證氣高目努。口噤肢戰。其脈尺中動搖如豆。若遇寒月。一經四肢作冷。即苦心寒凜栗。或遇感冒。一經惡寒發熱。即苦心氣迫塞者。是陽明衝任血虛。血中蓄水。膻中陽微。不堪寒氣侵逼也。其脈左寸動搖。或右寸鼓搏。又有肺氣與少陽經氣。為風寒所襲。脈絡乍閉。仆倒不省者。此肝腎陽明大氣。為邪所攝也。下焦無病。上焦不虛。</p>
<p>大氣得轉。即復省矣。其脈兩寸丸丸。或乍見短縮。大凡病中覺冷氣侵心。如受霜雪。及心懸心悸。情緒孤危。張惶失措者。皆陽明不足。膻中虛寒也。氣喘及左寸脈或短或斷者邪已逼心也。尺脈斷者。邪發下焦也。不短不斷而來勢郁勃不揚。如物制之者外邪內撲也。並宜開上納下。法如菖蒲遠志細辛白芷附子肉桂桃仁半夏茯苓鹿角龜版紫石英之屬選用之。</p>
<p>前文久成。因推求所以脈見丸丸不續之故。忽憶辨脈篇。形冷惡寒三焦傷之義。正與此合。此節是倒卷文例。</p>
<p>陽動則汗出。陽已透陰。所謂陽加於陰謂之汗。又脈盛而滑者。汗且出也。陰動則發熱。陽欲透陰。能與陰爭。而不肯服也。至於身形作冷。心情惡寒。膻中凜凜。如受霜雪侵逼狀。是陽氣欲熄而不振矣。古說皆以三焦為命門。</p>
<p>上屬於心。主三焦傷者。命門元陽之氣。為寒水所犯。而其根不固。心主血脈之氣。為寒水所犯。而其氣不續。氣為寒傷。血為水傷。故脈來指下。丸丸動搖不能長續也。其動必應指少力。與金匱動則為驚。弱則為悸相近。弱字承動說下。謂動而弱也。諸氣衝心。皆為惡證。寒水凌犯尤惡。以其能撲滅生陽之氣也。或膀胱水邪。自下上逆。</p>
<p>或風寒。由呼吸挾水飲而亂於膻中。其勢能令命火上浮。心火下熄。任督二脈分絕而不交。史載之謂寒邪所傷。雖治愈亦不能久。其謂此乎。西醫謂凡以霍亂絞腸痧死者。剖視內膜白縐如久受水浸狀。此由涼風遏暑。汗閉不得出之故。亦水邪泛溢。三焦受傷之一征也。</p>
<p>又有兩證。與水氣凌心相似。一為火鬱。一為風痰入絡。總歸於血虛。火鬱者。內經所謂諸禁鼓栗。如喪神守。</p>
<p>皆屬於火。是也。此證急發者。為風寒內撲。陽氣乍郁。即水氣凌心之類。常發者。是血虛而氣不能宣。陽氣久郁。</p>
<p>化為陰火。一經觸發。即內灼於心。心孔鼻竅。如煙熏火燎刻不可堪也。風痰者。是體弱。血少。或久患脫血。血去。水存。菀為痰涎。侵於膜絡。絡無血護。遂淫。淫內癢習。習應心。心氣張惶。不能自持矣。此血虛。化風生痰。肺困氣滯。而膜絡乏力也。其脈象。遲　。兼見洪長。而細審帶弦。按之反細。其病情。觸物皆畏。遇事難任。</p>
<p>怯弱迫塞之苦。直同心痿。遠甚心悸。其病機。日落時。及天陰與乍涼為甚。其兼證。常苦筋骨脹痛。走注無定。</p>
<p>其始多起於暑月貪涼太過。及秋月患瘧痢　疹汗出不徹之故。治法。以補血導氣行水強筋為主。隨四時加減。佐以導引針灸。調其飲食起居。需以歲月。僅堪末減。罕能除根。古百合病近似之。而百合困肺。絕不可用。予身患之。</p>
<p>又迭見親友患之。甚矣風痰入絡之奇苦而難治也。</p>
<h3>無端暴喘即是寒入命門傷寒雜病皆有之</h3>
<p>無寒熱他病。飲食如常。忽然大喘。有行動即喘。靜臥稍減者。有行動稍可。不能正臥者。此二大病也。皆寒濕冷痰。注入命門之故。前證由於冬月伏寒。或多年久濕。自膝脛上衝少腹。過膀胱而入肺。亦有外循太陽經上行脊背而入肺者。必先見咳嗽。邪氣自下上逆。元氣浮動。不能歸窟。故動甚也。後證由於冷痰發於陽明。循衝任而下溜。必先見兩乳間。隱隱不舒之兆。或發於脊背。循腰腎而下溜。必先有兩腰內隱隱　脹之兆。冷痰有形。自上下撲。元氣遏抑。正臥則膻中氣愈不續。故臥甚也。治法。前證宜仿寒濕香港腳疝氣奔豚法。逐邪下出。兼咳者。兼仿小青龍法。輕劑飯後。微開其上。後證宜生鹿角紫石英肉桂澤瀉直搗命門。佐生附子石菖蒲以溫陽明衝任。狗脊獨活刀豆以溫腰脊。古方如赤丸大建中湯。大烏頭煎黑錫丹。破陰丹。半硫丸。三石寒食散。皆良方也。待痰開喘定。再視轉證。而隨調之。曾診謝婦患前證。其脈兩寸短縮。關後洪弦。隱指動搖。如戰栗狀。以法治之。畏藥峻不肯服。逾月而逝。時在於春。又診楊某患後症。其脈左關陷而不起。兩尺厥厥動搖。斷而不續。以法治之。三劑喘定。脈起且續矣。卻嫌太盛。戒曰。宜靜養。而以斂陽安陰之藥調之。勿懈也。奔走酒食如故。又止藥半月。喘復發。自服麻杏石甘湯而逝。時在於秋。楊自命精醫者也。予為言病勢甚險。根甚深。機甚微。將來邪氣出路。或在二便。或在於肺。幸發於秋。尚可從容調治。若發於春。神丹不及也。楊頗謂然。且HT　示背有痰瘤。大如覆碗數十年。今忽消。以征冷痰下溜之妙識也。而竟中途易轍。天命乎。人事乎。又程某因冶游宵征。忽於夜半後。</p>
<p>冷氣自臍上衝。心慌氣浮。腦頂高搖。自汗不止。勢如欲脫。以生附子肉桂子胡蘆巴桑螵蛸。加山萸牛膝一劑定。</p>
<p>連十劑已。又楊某因先患熱病。重用茯苓澤瀉而愈。遂畏溫藥如鴆砒。一日胸痹氣窒。上下不續呼吸抬肩。勢欲作喘。予曰。非沉香肉桂不可。勉強服之。一劑定。四五劑已。此非自病。但因藥誤。故挽回較易也。</p>
<p>又按暴喘與前篇水氣凌心證。若勢急藥力不及施。勢重藥力不能制。須灸膻中關元。並灸肩井缺盆大椎極效。</p>
<p>關元在臍下三寸。以名中食三指橫度取之。又嘗治風濕入絡。氣痹似喘。分上下前後灸法。厥功甚偉。附錄於此。</p>
<p>凡脊背氣下引。不能升提甚至尾間兩臀墜脹者。灸肓門胃倉。兼灸章門。肓門當腰外兩旁各三寸所季肋骨上縫中。</p>
<p>胃倉又在其上一肋骨縫中也。胸前氣下陷。不能升提。甚至臍腹墜脹者。灸關元及臍旁肓俞及章門。或兼灸乳下兩旁食竇。胸背繞肩上氣壅塞。呼吸不舒者。灸肩井大椎缺盆。亦或兼灸食竇及膈俞也。若鼓脹作喘者。灸上諸穴外。</p>
<p>並灸水分天樞水道。及挾尻上兩旁也。每灸諸穴後。皆兼灸肩井各二三壯。以防火氣上衝。</p>
<h2>卷下</h2>
<h3>傷寒論讀法十四條</h3>
<p>傷寒。非奇病也。傷寒論。非奇書也。仲景據其所見。筆之於書。非既有此書。而天下之人。依書而病也。其三陰三陽。轉變之處。前人往往詞涉硬派。一似暗有鬼物。指使邪氣。如何傳法。並不得如何傳法。讀者。須消去此等臆見。每讀一段。即設一病者於此。以揣其病機治法。而後借證於書。不得專在文字上安排。</p>
<p>第一須辨傷寒為何等病。此本四時皆有之病也。但三時多有挾溫挾濕挾燥挾風之異。其氣不專於寒。其膚腠疏松。初傷即兼二三經。再傳而六經已遍。惟冬時腠理固密。寒邪必先傷皮膚。以漸深入。故謂三時傷寒。治法不同。</p>
<p>則可。謂三時無傷寒則不可。仲景是專論冬時傷寒。惟即病於冬。與遲病於春。中多相間錯出。未曾分析其遲病於春者。亦系專指寒病。未及化熱者。與內經冬傷於寒。春必病溫之旨不同。</p>
<p>第二須辨論中寒熱二字。為何等氣。寒者。天地之邪氣也。熱者。人身之正氣也。為寒邪所束。不得宣發。郁結而成與寒邪是兩氣。非寒能化熱也。與溫熱病。傷於天地之熱邪者不同。寒邪既散。即當陽氣伸而熱解。其有不解者。正氣久困。經脈凝滯。不能自運。抑或誤治使然。</p>
<p>第三須將傳字看得活。非邪氣有腳。能自國中轉變。步伐止齊也。病證變見何象。即為邪傷何經。如少陽主行津液。津液灼干。即少陽證。陽明主運渣滓。渣滓燥結。即陽明證。讀者須思何以頭痛嘔吐暈眩脅脹。何以大便秘結潮熱自汗。不得渾之曰。邪入少陽故爾也。邪入陽明故爾也。當在氣化上推求。不得專在部位上拘泥。</p>
<p>第四須辨初傷。有三陽。有兩感。有直中。太陽行身之後。而主表。其時陽明少陽。決無不傷。內經曰。中於項則下太陽。中於面則下陽明。中於頰則下少陽。中於陽則溜於經。中於陰則溜於腑。即仲景所敘太陽中風。鼻鳴乾嘔。豈專太陽。但邪在大表。治法。不外麻桂葛根。故不必多立名色。兩感直中。皆因其人陽氣之虛。或邪氣之猛也。太陽少陰。陽明太陰。皆有兩感。少陽厥陰。兩感殊少。直中亦然。少厥兩感。即陽氣蔑矣。直中與兩感不同者。兩感是一陰一陽同病。其邪相等。直中是邪甚於陰也。其陽一斷無不傷。但陰分之病。較兩感為急。</p>
<p>第五須識傷營傷衛。不能判然兩途。仲景風則傷衛。寒則傷營。只略敘於麻黃證中。不過分析風寒所傷之偏重如此。其意側重在寒。是串說。非平說。況夫中風脈緩自汗。汗即營也。營液外泄。桂枝湯是充助營氣之劑。傷寒脈緊無汗。是衛氣為寒所拘。麻黃輕迅。是過營透衛以開表。其力正注於衛。何得謂風傷衛不傷營。寒傷營不傷衛。</p>
<p>更何得以此劈分兩大綱。○按冬月腠理閉密。寒邪以漸而深。初傷皮膚。只在氣分。此時發之。不必得汗。其邪自散。次傷肌肉。乃在津液。邪與汗俱。汗出邪退。次傷經脈。乃入血分。既入經脈。則或竄筋骨。或潰三焦而據臟腑。亦有已及筋骨。而仍未入經脈之中者。故三陰亦有表證可汗也。既入經脈。必連臟腑。非可專恃汗法矣。其未入經脈時。所稱太陽病、陽明病、少陽病、及三陰病者。只是三陽三陰之部。非經也。</p>
<p>第六須辨寒熱傳化之機。初傷固總是寒。日久有寒邪內陷者。是其人本內寒也。有寒去熱不解者。是其人陰不足也。寒邪內陷必下利。即所謂陰傳太陰也。其實即陽明之下陷耳。繼即少陽之氣陷。繼即少陰之氣陷。至厥陰肝氣亦陷。無復生機矣。始終總不離乎下利。若利早止於厥陰未陷之前。即不得死。止於厥陰已陷之後。息高時冒。</p>
<p>陰氣竭矣。熱氣不解必秘結。必自汗。即所謂陽傳陽明也。此時太陰之津液。必已虧矣。治之失法。而少陰之精又虧。厥陰之血又虧。始終總不離乎秘結。非邪至陽明。即無復傳也。總不離乎陽明耳。</p>
<p>第七須識傷寒溫病始異終同之說。不可執也。此只說得熱傳陽明一邊。其寒傳太陰。迥乎不同。傷寒有寒死證。</p>
<p>無熱死證。陽明內實。非死證也。其有死者。皆由誤治若溫熱病。則有自然一成不變之熱死證。</p>
<p>第八須識合病並病之中。有真假之不同。前人分別合病並病。語多牽強。當是兩陽同感。謂之合病。由此連彼謂之並病。更有邪氣未及彼經。而彼經為之擾動者。其見證必有虛實之不同。如素胃寒者。一傷於寒。即口淡。即便滑。素陰虛者。一傷於寒。熱氣內菀。即喘喝。即口渴。豈真邪傳陽明太陰耶。但散其寒。諸證即瘳。亦有略須兼顧者。必其內虛之甚。預杜邪氣內陷之路也。</p>
<p>第九須求寒熱氣化之真際。六經傳次。本不必依仲景篇次也。無如前人越經傳表裡傳等語。說得過泥。並未靠定各經。切發其所以然。如少陽主經脈之津液。經脈灼干即見少陽證。太陰主腸胃之津液。腸胃灼干。即見太陰證。</p>
<p>陽明主腸胃之渣滓。渣滓燥結。即見陽明證。厥陰主津膜之津液。筋膜枯索。即見厥陰證。少陰主下焦之氣化津液。</p>
<p>津竭氣散。即見少陰證。此從熱化也。從寒化者。陽氣不足而下泄。寒水淫溢而上逆總是何臟受傷。即何經見證。</p>
<p>第十寒化熱化。各視本體之陰陽虛實。此語淺而極真。論中誤汗後。有為內寒者。有為內熱者。誤下後亦有內寒者。有內熱者。若執過汗亡陽、過下亡陰之例。便不可通。故讀者以隨文生義為貴。夫六經乘虛而傳。寒熱隨偏而化也。</p>
<p>第十一須知表裡之說。有形層之表裡。有經絡之表裡。有臟腑之表裡。有氣化之表裡。形層即前所謂皮膚肌肉筋骨。所謂部分也。邪在三陰之部。裡而仍表。仍宜汗解。邪入三陽之經。表而已裡。只有清化。即和解也。少陽半表半裡。亦有數解。以部位言。則外在經絡。而內連三焦也。以氣化言。則表寒未清。而裡熱已盛也。總是氣化燥結之象。</p>
<p>第十二須知手經足經。並無分別。足經部位大。邪氣在表尚在經脈之外。其氣是一大片。故見足經證。邪入經脈之中。反多見手經證矣。大抵足經證見者。多在軀殼之外。手經證見者。多關臟腑之中。足證有在經者。手證絕少在經也。經者。身形之事也。臟腑者。神明氣化之事也。</p>
<p>第十三須知三陰三陽。只是經絡表裡之雅名。於臟腑氣血之陰陽。不相涉也。若謂邪入三陽。即為傷陽。邪入三陰。即為傷陰。則差矣。內經心為太陽。肝為少陽。肺為少陰。腎為太陰。脾與六腑為至陰。此以氣血清濁言之。</p>
<p>今人已不講。其實各經各臟各腑之中。各有陰陽。此說甚長。細讀內經。自能辨之。</p>
<p>第十四讀書須知闕疑。論中敘證。有極簡者。有極繁者。有方證不合者。有上下文義不貫者。一經設身處境。</p>
<p>實在難以遵行。安知非錯簡脫簡耶。不必枉費心機。以俟將來之閱歷。即如少陽陽明合病。自下利者。黃芩湯。太陽誤下利不止者。此協熱利也。承氣湯。此必內有伏熱。三焦腸胃。穢氣鬱濁。頗似溫病之發於伏邪者。於傷寒自利。及誤下而利者。殊不合格。又太陽誤下結胸。正宜兼開兼降。以宣內陷之陽。而開邪氣之結。乃反用甘遂巴豆以重泄之。是以一誤為不足。而又益之也。又太陽陽明合病。自利者。葛根湯。不下利但嘔者。葛根東加半夏。既不下利。何以仍用原方。是原方只治合病。並非治下利也。前文何必特署下利字樣。此類宜詳思之。前人只說三陽合病。皆有下利絕不說合病所以下利之故。此之謂半截學問。</p>
<p>總之。讀傷寒論。只當涵泳白文。注家無慮數十。以予所見二十余種。皆不免穿鑿附會。言似新奇。莫能見之行事。鄙見只當分作四層。曰傷寒初起本證治法。曰傷寒初起兼證治法。曰傷寒日久化寒。並誤治化寒證治。曰傷寒日久化熱。並誤治化熱證治。其霍亂風濕食復勞復。以雜證附之。再參之陶節庵書。及各家論溫熱書。互相考證。</p>
<p>庶於讀書有條理。而臨診亦可有徑途矣。蓋經脈部位。與夫形層表裡淺深之事。固不可不講。而究不可過執也。著力仍在氣化上。此書在唐以前已非一本。其章節離合。本無深意。讀者只應各就本文思量。不必牽扯上下文。積久自能融會貫通。</p>
<h3>南北傷寒溫病異治</h3>
<p>傷寒溫病南北證治。其大綱有不同者。北方天地之氣化皆燥。人身呼吸腠理之間。皆燥化也。燥之為政。清泠而堅削。故其治。常宜兼滋血而舒筋。南方天地之氣化皆濕。人身呼吸腠理之間。皆濕化也。濕之為政。混濁而壅滯。故其治。常宜兼清血而堅筋。又南人乍北。多患瘧痢。北人乍南。多患傷寒溫熱。所以然者。腠理水濕之邪。</p>
<p>為天氣所斂。不得熏蒸發泄。透入血脈。氣困血滯則為瘧。氣陷血潰則為痢。下焦久伏之寒。為地氣所沖。升騰上越。或盈溢於三焦。或散布於脈絡。寒盛而中焦無熱。即為下寒觸發之傷寒。中焦積熱。同時沖發。即為寒溫相伏之溫病。凡如此者。雖有新感表證。俱不宜重用發汗。瘧痢。並和血行氣以化濕。傷寒。溫降而微清之。溫熱。先清而後溫降之。或曰。子嘗論瘧痢皆宜透汗。今乃謂雖有新感。不宜重汗。何也。曰南方瘧痢。皆是夏伏暑濕。交秋發病。其時濕熱熏蒸。腠理疏豁。若不振衛陽以御表邪。邪氣浸灌。來源不斷。病何由愈。若至北方。氣燥肌斂。</p>
<p>邪氣來源已斷。故只宜從裡化。不得逆其氣以虛其表。暗損真元。豈竟不汗哉。不得辛溫重劑強汗耳。傷寒溫熱何如。曰此必有大汗。然亦非發散之謂也。溫之清之。微散以導之待時自作。若迫而汗之。氣行而邪不能從。汗出而熱不得退。致成壞病。誰之咎乎。大凡壞病率由治上遺下。治氣遺血故也。</p>
<h3>附治瘧宜破血發汗</h3>
<p>瘧者。風涼暑濕之邪。伏於血脈之中而作也。涼濕為尤重。先傷於暑濕。復傷於風涼。迫濕深入。故邪氣既外據筋絡骨節之一處。而其內入者。又隨血脈以上下。此血與筋骨受病之一處。相觸即發病矣。血行有常度。故其發有定時。漸早者陽氣漸盛。血行漸速也。漸宴者。濕勝氣困。血行漸遲也。病之輕重。在邪氣之微甚。正氣之強弱。</p>
<p>不在部位之淺深高下焉。逐日為輕。間日三日為重之說。不足據也。治法必重以破血之品。散惡血以搜伏邪。使邪氣無容藏之地。加發汗之品。使通身上下。透汗以托邪外出。雖濕徹衾褥不忌也。第其汗宜多而不宜急。急者。下咽即汗。逆亂正氣。反不能與邪相值。必下午及臨臥連次服藥。俟藥力　百脈。半夜後接服一次。以助其力。依舊熟睡。於睡態朦朧之中。溱溱周浹濕散暑消百脈得鬯。汗自漸減。撤衾換衣。衣宜稍濃。仍令手足常溫。微汗。</p>
<p>續續直過。前日發病之時。而不斷也。則愈矣。傷寒論所謂先其時發汗是也。夷堅志曰。暑毒困脾。濕氣連腳。不泄則痢。不痢則瘧。獨煉雄黃蒸餅和藥。甘草作湯。服之安樂。困脾者。困血也。連腳。故汗。必過膝也。每仿其法。應手輒效。又吾鄉俗以生鹿血酒服。截瘧奇效。此固山深水寒體氣所宜。熱盛者未可概施。亦可見瘧邪在血。</p>
<p>治瘧之必溫通血脈也。</p>
<h3>附治痢宜和營衛養筋膜</h3>
<p>王損庵論治痢。必和營衛。其義甚精。喻嘉言逆流挽舟之法。即從此脫化。蓋痢疾或由生冷內傷。胃絡血痹。</p>
<p>或由風濕外束。暑郁血亂。無論赤白。皆濕熱搏結於血分。而筋膜之力弛。氣化之行滯也。濕盛則血滯而氣困。熱盛則膜腫而血溢。以破血之品疏營。而邪氣無伏藏之地。以發汗之品宣衛。而邪氣有宣泄之路。表裡之脈絡既通。</p>
<p>其痢宜止。而有不止者。三焦筋膜之力。久為濕熱熏蒸。　腫弛緩。不能自束。故為涎為血。時時淫溢自下而不固也。以酸苦之味堅斂之。乃能收功。內經謂下利身大熱者死。陳修園謂兼外感者先發之。史載之謂疫痢水邪犯心。</p>
<p>惡寒發熱者難治。用細辛白芷肉桂附子。皆和營衛之類也。凡痢止而飲食不復者。濕熱未清也。飲食如常。大便作墜者。腸腫未消。血絡痹也。腫痹之久。流為休息。休息之久。轉為腸痿。休息者。血絡不淨。膜力不復也。噤口者。濕熱太盛。胃脘血痹而腫也。腸膜微痿。酸苦堅之。某老醫治痢後脫肛。以白芍四錢為君。即上。若腸體全痿。</p>
<p>氣不能貫。右尺中沉之分。應指丸丸。　弱無力。內經所謂按之如丸泥。大腸氣予不足也。大便脫血及血痢重久者有之。</p>
<h3>男婦傷寒溫病舌黑異治</h3>
<p>男婦氣血異體。證治亦有大端不同者。男子氣壯。血不易瘀。舌黑耳聾。血絡痹也。為熱入血室。舌卷囊縮。</p>
<p>血痹之甚筋失養也。亦有未及化熱。兩肋血絡先痹者。其證舌苔忽黃忽白。必帶灰黑。小便忽閉忽通。煩躁不能安眠。或有一邊不良於眠。其脈忽長忽短。忽洪忽緊。全無定象。必得明醫。善攻其血。乃可治之。未有瘀不化黑不退。而病能愈者也。若婦人血盛。常有經水適來適斷。與病相觸。肝胃之絡。最易停瘀。舌黑譫語。事所常有。但耳不聾。乳不縮。不為敗證。即耳微聾而譫妄狂躁者。亦邪正相搏之象。惟聲息低微。不能轉側。乃在所忌。其舌或藍或灰或黑。有僅在一偏。有全體皆透。均不得據為凶候。故治婦科傷寒溫病。起手即宜兼和血以防之。否則。</p>
<p>病愈而絡瘀不淨。積為胃痛腰疼痼疾。又世以黑而芒刺為熱。濕潤為寒。然瘀血舌黑。雖熱而不生芒刺。有煙癮人。</p>
<p>雖寒而亦見燥裂。在察其兼證以別之。蓋男子之血。必因寒而瘀。因熱而瘀。因溫病過服寒劑。遏熱閉絡而瘀。女子不必因寒因熱邪。與血不必相入。而血能自瘀。故病愈。而黑不退者有之。</p>
<h3>附讀傷寒論雜記四篇</h3>
<p>傳經必始太陽終厥陰者。太陽主氣。厥陰主血也。邪氣初傷。必在於氣。漸深必及於血。血脈者。臟腑之道路也。邪既入血。遂聽其入腑入臟而不可御矣。治之必以行血活絡。使血絡松活。邪乃易消。養津強膜。使津膜相養。</p>
<p>正氣乃固。否則血死氣散水停筋弛。臟腑之腠理系絡。漸見腫硬。無噓　之氣。以相循環。無伸縮之力以自兜裹。</p>
<p>而肩助引痛。不能轉側。一邊不能眠。唇面青黑。　腫氣喘。小澀大滑。臍築湫痛。五液注下。諸敗證見矣。故少陰一經。雖多死證而偏屬於寒。猶可溫化。厥陰死證寒熱夾雜不清。無從著手。由是言之。太陽病。只是表之氣分。</p>
<p>病不必拘於膀胱小腸經也。厥陰病。只是裡之血分病。不必拘於肝與心主經也。推之陽明太陰少陽少陰。莫不皆然。</p>
<p>故曰當在氣化上講求。勿在部位上拘泥。（上傳經始太陽終厥陰解）</p>
<p>傷於寒毒為傷寒。傷於溫毒為溫病。與傷寒傳化之溫病。治法大異而小同。溫毒起手須用涼散。接手即宜苦寒以化之。鹹寒以潤之。甘寒以補之。而收功焉。甚有迭用苦寒。如吳又可所謂俟熱邪復淤到胃。再三下之者。傷寒轉化之溫。乃正氣所化。是無根之邪。不宜重用驅逐。不但無須涼散。即苦寒亦不宜早用。更不宜迭用。故有下不厭遲之說。王叔和傷寒例。剖析界限極明。後人反從而斥之。何也。至於瘟疫別是天地一種乖戾之氣。或偏於濕。</p>
<p>或偏於燥。或偏於寒。不專屬熱也。初起。即在血分。血分。濁惡甚於溫病末候。與溫病為別派。如慎柔五書辨虛損癆瘵之例相似。虛損無蟲而瘵有蟲。溫熱無蟲而疫有蟲。一常氣。一奇氣也。惟其奇也。故豬瘟不死雞。雞瘟不死牛。其傷人也。或專殺貴逸。或專殺勞賤。或專殺強壯。或專殺幼稚。有不可以常理喻者。溫病重症與瘟疫輕症。</p>
<p>往往相似。即　疹軟腳大頭粗頸。溫病亦間有此症。大抵溫病必由漸而成。氣候專屬於熱。瘟疫一起即見。氣候寒熱燥濕並有之。又有瘴毒溪毒。與瘟疫異源同派。疫有寒有熱。多偏於燥。瘴亦有寒有熱而多偏於濕。一發於天氣。</p>
<p>一發於地氣也。（上寒溫疫瘴解）</p>
<p>辨脈篇。脈浮而大。醫反下之。更飲冷水。其人即KT　。此節是仲景作論本旨。族人誤死於傷寒者。誤以治溫法治之也。寒水相搏。胃氣愈促。能無呃乎。曾診龔某。正與此合。二月。先忽大吐。喉傷礙食。以為火也。用涼劑。遂發寒熱。以為春溫也。加重之。遂作呃。三日邀診。脈來。弦長挺互。應指戰栗。沉分。尺中尤甚。呃聲頻仍。氣從臍下直上撞心。曰。此下焦伏寒。乘時陽而上越。為涼藥所抑而作呃耳。三日內當轉關。否則再七日可危。以生附子肉桂子細辛吳萸羌活獨活胡蘆巴破故紙。加澤瀉牛膝導之。囑令停溫急服。三日復診。其父喜迎於門口。呃大減矣。小便鬯矣。筋骨痛減。能自起坐矣。及入診。見面色枯黃。唇舌燥萎。脈來　長。無神搖擺尤甚。</p>
<p>驚曰。得毋改方乎。乃言小兒體弱。尊方力大。前日頭煎。分三次服。每次皆呃止。熟睡兩時。夜得微汗。昨日某醫來。以尊方一劑已足。改用平補。視之。則大劑參　歸術。加薑汁膽汁也。我避中焦。急趨下焦。彼補中焦。升提下焦。況術尤動氣所忌。病患自室中大喊曰。自服彼方小便復閉。胸滿氣急難受也。此時若肯重服黑錫丹破陰丹。</p>
<p>或可希冀。勉照前方加竹茹知母與之。應期見鬼而逝。（上妄下變呃）</p>
<p>平脈之平讀若駢。猶辨也。</p>
<p>關猶部也。寸關尺三部謂之三關。動脈見於關上無頭尾者。謂形圓如豆。分見於各關之上。而不能通長有頭尾也。</p>
<p>微脈名。又不甚也。以句中有無而字別之。</p>
<p>若或也。發汗若下之。又此以曾經發汗若吐若下若亡血。</p>
<p>坐猶因也。但坐汗出不徹故也。如陌上編。歸來怨新婦。但坐觀羅敷。又無因而突然也。以手把刃。坐作瘡也。如鮑照蕪城賦。孤蓬自振。驚沙坐飛。</p>
<p>反脈名。來微去大故名反。又金匱來近去遠故曰反。</p>
<p>又不應也。脈浮而大。醫反下之。又復也。少陰病。始得之。反發熱。脈沉者謂既始得之。復有發熱表證也。</p>
<p>太陽病。項背強KT　KT　。反汗出惡風者。謂既項背KT　KT　。復汗出惡風也。又卻也。語助詞。</p>
<p>其數先微。脈反但浮。謂其脈先微後數。卻始終只在於浮也。又脈濡而弱。弱反在關。濡反在巔。（上字訓正誤）</p>
<h3>牢脈病機</h3>
<p>牢脈。為氣血交困。寒濕深固之極象。當脈證初起之時。未見困憊。人每忽之。而不知其機之甚危。勢之甚急也。凡寒之所在。則脈弦。今堅大搏擊。見於極沉。裡寒可知。然病患。往往不自覺其內寒。而反苦內熱者。以此寒。不在臟腑。而在陰絡也。陰絡者。筋骨之間。內膜之部也。胸肋骨縫之中。隱隱拘急而不適。俯仰搖扭之際。</p>
<p>隱隱牽絆而不和。因此軀殼之表裡隔塞。不得交通。表氣散於表。不得交於裡。故四肢乏力。皮膚微腫。搔之。如有所隔。自腰以上。流汗不止。裡氣結於裡。泄於裡。不得通於表。故胸膈支滿。稍動即喘。大便溏秘無定。此皆風濕內襲。浸淫日深。大率由於先經勞力汗出。當風受邪。繼又勞力汗出。邪氣欲出未盡。續又受邪。如此更迭反復。以致邪氣。跋前　後。不得入於裡。亦不得閉於表。而獨留滯於夾縫之筋膜。故此脈此證。多見於沖冒風露。</p>
<p>寢處卑濕。勞心勞力。表裡交瘁之人。仲景辨脈篇。寸口脈。陰陽俱緊。清邪中下。濁邪中下一節。前後敘證。全是榮衛隔絕。氣困血滯。無一不與牢脈主病相合。治法。當深明陰陽開合之樞。先以行氣化血。舒筋活絡為主。始見聲如瓮中。鼻流清涕。狀如傷風。是陽氣內振也。繼見寒熱忽作。狀如瘧疾。是陽氣外達也。繼見寐中多汗。清涼似水。是邪氣漸出也。繼見大便滑墜。微似痢疾。是內膜溫舒結痰下注也。急以強筋固氣之劑調之。蓋先撐筋膜之邪氣於表。而後收臟腑之正氣於裡。迭為君臣。需以歲月。乃克有濟。若遷延日久。百脈已痹。病勢已急。其能待乎。寒熱互攻。氣血交敗。未有甚於此脈此證者。仲景所謂臍築湫痛。下如汗泥。即失治。而筋弛血潰者也。</p>
<h3>發汗別法</h3>
<p>別法。非通法也。我獨用之。聊記以備一格焉。予脾肺氣弱。久困濕邪。平時常苦體重氣短而脈遲。及患感冒如傷寒瘧疾之類。即心氣迫塞難堪。急用防風浮萍二活威靈仙水葒子苦杏仁牛膝。甚者加麻黃川芎炒白芷。因有便血證。不敢犯細辛桂枝。又加炒白芥子石菖蒲焦山楂以開痰。桃仁茜草以和血。貫眾老鸛草以化濕。慮中氣之不充也。酌加山藥龍骨薺　菟絲子以助脾肺。慮元氣之不固也。又加桑螵蛸冬蟲夏草龜版以安下元。邪氣漸退。即加牡蠣鱉甲以和肝。而防虛陽上越。屢試輒效。且無病後虛弱。久待調理之患。又嘗治木匠某。感冒發熱。依常力作不休。數日困極求診。呼吸喘促。臘槁無汗。身熱如焚。久撫反涼。六脈浮散。僅在皮毛。不分起伏。一息不知十幾至也。若以正汗法發之。必汗出而氣脫。破故紙益智仁並鹽水炒菟絲子淮山藥巴戟天狗脊牛膝木瓜山萸肉。加羌防麻辛一劑。天明得汗。脈息勻調矣。汗漏不止。以附子桂枝湯與之。遂愈。此勞力傷寒重證也。帶病力作勞。傷筋骨。元氣外越。不能歸窟。故不僅助脾肺。而必注意肝腎。大凡汗出。不徹以致邪浮正結。相搏於皮毛之間。必先斂之。而後發之何者。陰陽開合之機。必先一　。而後能一噓也。此中微妙。全在會心。</p>
