<header><h1>醫方論</h1></header>
<dl class="元資料" data-type="book">
<div><dt>作者</dt><dd>費伯雄</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1865">公元1865年</data></dd></div>
</dl>
<h2>序</h2>
<p>欲救人而學醫則可，欲謀利而學醫則不可。我若有疾，望醫之救我者何如？我之父母妻子有疾，望醫之相救者何如？易地以觀，則利心自澹矣！利心澹則良心現，良心現斯畏心生。</p>
<p>平時讀書必且研以小心也，臨症施治不敢掉以輕心也。夫而後以局外之身引而進之局內，而痛癢相關矣！故醫雖小道而所系甚重，略一舉手人之生死因之，可不儆懼乎哉！近年以來，疊遭兵火，老成多半凋殘，學醫者紛紛日起，吾恐其無有師承而果於自用也。</p>
<p>故於拙刻《醫醇剩義》中先標一「醇」字，此非不求有功，但求無過之謂。若僅如是，淺陋而已矣，庸劣而已矣，何足以言「醇」乎！吾之所謂"醇"者，在義理之的當，而不在藥味之新奇。如仲景三承氣湯頗為峻猛，而能救人於存亡危急之時，其峻也正其醇也，此吾之所謂「醇」也。夫學難躐等而法有正宗，初學人此法，成就者亦此法，先後共此一途。行遠自邇，不惑於他歧，如是而已矣。第書籍散失，學人難於博觀而約取之。鄉曲之士，每以《醫方集解》一書奉為枕秘，甫經臨症輒檢用之。殊不知，集中可用之方固多，而不可用者亦不少，漫無別擇，草菅人命矣！茲於所集各方之後，逐加評論，蓋欲為初學定范圍，非敢為高明下針砭也，且欲學人澹其謀利之欲，發其救人之心，猶前志云。</p>
<p><u>同治四年十月武進費伯雄晉卿甫題於古延陵之寓齋</u></p>
<h2>發凡</h2>
<p>一、是編專為初學而設，但取《醫方集解》所選之方，逐一評論，其余概不旁及。</p>
<p>一、是編但載一方一論，與原書對看自明，其主治與注釋，一概不錄，以歸簡便。</p>
<p>一、學醫而不讀《靈》、《素》，則不明經絡，無以知致病之由；不讀《傷寒》、《金匱》，則無以知立方之法而無從施治；不讀金、元四大家，則無以通補瀉溫涼之用，而不知變化。《集解》所選之方，原以仲景及四家為宗。其余所收者，不過張、王、許、錢、嚴、陶數人而已，本未嘗博采群書也。然於此而得其醇，化其偏，觸類引伸，亦可以無大過。有志之士，欲求更上一層，則自有由博返約之法在。</p>
<p>一、雄以駑駘下質，何敢以管窺之見妄議古人。然欲為初學折衷一是，則僭妄之罪所不敢辭！</p>
<h2>卷一</h2>
<h3>補養之劑</h3>
<h4>六味地黃丸</h4>
<p>地黃（砂仁酒拌、九蒸九晒）八兩　山茱肉（酒潤）山藥四兩　茯苓（乳拌）　丹皮　澤瀉三兩蜜丸。</p>
<p>此方非但治肝腎不足，實三陰並治之劑。有熟地之膩補腎水，即有澤瀉之宣泄腎濁以濟之；有萸肉之溫澀肝經，即有丹皮之清瀉肝火以佐之；有山藥收攝脾經，即有茯苓之淡滲脾濕以和之。藥止六味，而大開大合，三陰並治，洵補方之正鵠也。</p>
<h4>附桂八味丸</h4>
<p>熟地八兩　山茱肉四兩　山藥四兩　茯苓三兩　丹皮三兩　澤瀉三兩　附子一兩　肉桂一兩蜜丸。</p>
<p>附桂八味為治命腎虛寒之正藥，亦導龍歸海之妙法。然虛陽上浮，火無所附者，必於脈象細參，或脈洪大，而重按甚弱；或寸關洪大，而兩尺獨虛細者宜之。否則抱薪救火，必成燎原之勢矣。</p>
<h4>知柏八味丸</h4>
<p>大熟地八兩　山茱肉四兩　山藥四兩　茯苓三兩　澤瀉三兩　牡丹皮三兩　知母二兩黃柏二兩蜜丸。</p>
<p>知柏八味雖云壯水制火，究竟苦寒太過，徒傷胃氣，水亦無以滋生，不如用介類潛陽生精益髓之法為妥。或腎有邪火，強陽不萎等症，可以暫用。</p>
<h4>七寶美髯丹</h4>
<p>何首烏赤白各一斤（去皮、切片、黑豆拌、九蒸九晒）白茯苓（乳拌）半斤　牛膝（酒浸、同首烏第七次蒸至第九次）　當歸（酒洗）　枸杞（酒蒸）　菟絲子（酒浸蒸）各半斤　破故紙（黑芝麻同拌炒）四兩蜜丸。</p>
<p>此溫補命腎、兼攝納下元之劑。地黃補腎中之陰，首烏補腎中之陽，各為君藥，不可合並，用各有當也。</p>
<h4>還少丹</h4>
<p>熟地二兩　山藥一兩五錢　牛膝（酒浸）一兩五錢　枸杞（酒浸）兩半　山茱肉　茯苓（乳拌）杜仲（薑汁炒）　遠志（去心）　楮實（酒蒸）　五味子（炒）　小茴香（炒）　巴戟天（酒浸）　肉蓯蓉（酒浸）各一兩　石菖蒲五錢加棗肉，蜜丸。</p>
<p>此方以溫補脾腎為主，參以潤肺金而通山澤，用意極佳。微嫌遠志、菖蒲二味開透太過，與羸乏盜汗等症不宜，不如酌用丹參、柏仁之類為妥。</p>
<h4>黑地黃丸</h4>
<p>蒼朮（酒浸）　熟地黃一斤　五味子半斤　乾薑（春冬一兩，秋七錢，夏五錢）</p>
<p>棗肉蜜丸。</p>
<p>此方去脾濕，潤腎燥，極為老潔，然濕勝者為宜，血虛者，尚宜酌量加減。</p>
<h4>虎潛丸</h4>
<p>黃柏（鹽酒炒）半斤　知母（鹽酒炒）三兩　熟地黃三兩　虎脛骨（酥炙）一兩　龜板（酥炙）四兩　鎖陽（酒潤）　當歸（酒洗）一兩五錢　牛膝（酒蒸）　白芍（酒炒）　陳皮（鹽水潤）二兩羯羊肉酒煮爛搗丸，冬加乾薑一兩。</p>
<p>虎潛丸，息肝腎之虛風。風從虎，虎潛則風息也。惟知柏苦寒，用以泄腎經之邪火則可；若謂補腎滋陰，則予不以為是，不如用枸、菟等類為佳。</p>
<h4>天真丸</h4>
<p>精羊肉七斤（去筋膜脂皮，批開，入下藥末）　肉蓯蓉　山藥各十兩　當歸（酒洗）十二兩天冬一斤為末，安羊肉內縛定，用無灰酒四瓶，煮，令酒干，入水二斗，煮爛再入後藥。</p>
<p>黃　五兩　人參三兩　白朮二兩為末，糯米飲作餅，焙乾和丸，溫酒下。</p>
<p>此用血肉有情之品，以形補形。喜其不用地黃之滋膩，平調營衛，而不礙脾胃，故極為妥善。</p>
<h4>三才封髓丹</h4>
<p>天門冬　熟地黃各二兩　人參一兩　黃柏（酒炒）三兩　砂仁一兩五錢　甘草（炙）七錢五分面糊丸，用蓯蓉五錢切片，酒一大盞，浸一宿，煎湯送下。</p>
<p>此方治龍雷之火不安，夢遺走泄則可，若腎氣久虛，精宮不固者，豈得再用苦寒！斷宜補腎納氣之法為是。</p>
<h4>大造丸</h4>
<p>紫河車一具　敗龜板二兩（童便浸三日，酥炙黃）　黃柏（鹽酒炒）　杜仲（酥炙）各一兩五錢　牛膝（酒浸）　天冬（去心）　麥冬（去心）　人參各一兩　地黃二兩（茯苓、砂仁六錢同煮，去之）</p>
<p>夏加五味子五錢，酒煮，米糊丸；女人去龜板，加當歸二兩，乳煮，糊丸。</p>
<p>方中用茯苓、砂仁二味，制地黃最佳。但恐黃柏苦寒，傷損脾胃，漸致食少、溏泄，則金氣更傷，此不可以不慮也，不如減去為佳。</p>
<h4>補天丸</h4>
<p>紫河車一具　黃柏（酒炒）　龜板（酥炙）三兩　南杜仲（薑汁炒）　牛膝（酒浸）一兩陳皮一兩冬加乾薑五錢，夏加炒五味子一兩，酒糊為丸。</p>
<p>河車為生人造命之原，用之以補先天，並非假後天以濟先天也。加減之法頗佳。但黃柏宜除去。</p>
<h4>人參固本丸</h4>
<p>人參二兩　天冬（炒）　麥冬（炒）　生地　熟地四兩蜜丸。</p>
<p>此方治火旺克金者為宜，若脾胃虛弱，宜參用培土生金之法。</p>
<h4>參乳丸</h4>
<p>人參末　人乳粉等分蜜丸。</p>
<p>平補氣血，一壯水之源，一益氣之主。後人兩儀膏，從此化出。</p>
<h4>天王補心丹</h4>
<p>生地四兩（酒洗）　人參　玄參（炒）　丹參（炒）　茯苓（一用茯神）　桔梗　遠志（炒）各五錢　酸棗仁（炒）　柏子仁（炒，研去油）　天冬（炒）　麥冬（炒）　當歸（酒洗）　五味子（炒）各一兩蜜丸，彈子大，朱砂為衣。一方有石菖蒲四錢，無五味子；一方有甘草。此方原為心血不足，怔忡健忘等症而設，故收斂之藥不嫌太重，有桔梗載藥上浮，遠志開通心氣，二味已足。減去石菖蒲者為是，否則開泄太猛，非虛人所宜也。</p>
<h4>孔聖枕中丹</h4>
<p>敗龜板（酥炙）　龍骨（研末入雞腹煮一宿）　遠志　九節菖蒲各等分為末，每服酒調一錢。</p>
<p>體壯、氣濁、痰多者可服。若體氣不甚強者，加當歸、芍、丹參、柏仁等，方可久服。</p>
<h4>大補陰丸</h4>
<p>黃柏（鹽酒炒）　知母（鹽水炒）四兩　熟地（酒蒸）　敗龜板（酥炙）六兩豬脊髓和蜜丸。</p>
<p>此治陰火熾盛，以致厥逆者則可，至內傷虛熱，則斷不可用。</p>
<h4>滋腎丸（又名通關丸）</h4>
<p>黃柏（酒炒）二兩　知母（酒炒）一兩　肉桂一錢蜜丸。</p>
<p>坎之為象，一陽居二陰之中，故真陽奠安而不妄動。腎水大虧，不能制火，飛龍上亢，故喘急而小便秘。此方用知、柏以象二陰，用肉桂以象一陽，仍取坎卦之義，以通生化之原。</p>
<p>意義極精，非尋常導龍歸海法也。</p>
<h4>斑龍丸</h4>
<p>鹿角膠　鹿角霜　菟絲子　柏子仁　熟地黃等分為末，酒化膠為丸。一方加補骨脂，一方加鹿茸、肉蓯蓉、陽起石、附子、黃　、當歸、棗仁、辰砂。</p>
<p>鹿角、菟絲，陰中之陽也，地黃陰中之陰也，用以補腎，不偏不倚。若加入陽起石、辰砂等燥烈之品，則劫陰耗氣，全失立方之旨矣。</p>
<h4>龜鹿二仙膏</h4>
<p>鹿角十斤　龜板五斤　枸杞二斤　人參一斤先將鹿角龜板鋸截、刮淨、水浸、桑火熬煉成膠；再將人參、枸杞熬膏和入，每晨酒服三錢。</p>
<p>峻補氣血，不寒不燥，又能益髓固精，誠補方中最妙者也。</p>
<h4>補火丸</h4>
<p>石硫黃一斤　豬大腸二尺將硫黃為末實豬腸中，煮爛三時，取出去皮，蒸餅為丸如梧子大。每服十丸。</p>
<p>硫黃一味，道家尊之為金液，蓋以硫黃為火之精，其性純陽。《丹經》云：陰氣一分不盡不仙，故學仙者欲絕陰以歸純陽，必煉絕陰丹服之，以破除陰氣。此道家燒煉之方，非尋常可用之藥。嘗見士大夫功成名就，妄想長生，燒煉硫黃、辰砂等物，按時服食。乃服之日久，無不腹脹面青，腸胃崩裂而死，可不戒哉！若寒疫陰厥，猝急之時，當病投之，功效大而且</p>
<h4>唐鄭相國方</h4>
<p>破故紙十兩（酒蒸為末）　胡桃肉二十兩（去皮爛研）</p>
<p>蜜調如飴，每晨酒服一大匙。不能飲者熱水調。忌芸苔、羊肉。</p>
<p>本方加杜仲一斤，生薑炒蒜四兩，名青娥丸。本方加杜仲、胡蘆巴、小茴香、萆　，名喝起丸。</p>
<p>喘與咳，由於痰隨氣升；腰腳痛，由於氣不納腎。方中二味溫腎納氣，則喘咳自平，腰腳自強矣。青娥、喝起二方亦俱有意義。</p>
<h4>二至丸</h4>
<p>冬青子（即女貞實。冬至日采，不拘多少，陰乾，蜜酒拌蒸，過一宿，粗皮擦去，晒乾為末）　旱蓮草（夏至日采，不拘多少，搗汁熬膏，和前藥為丸）</p>
<p>臨臥酒服。一方加桑椹子為丸，或熬膏和入。</p>
<p>二至丸，取意甚佳，尚嫌力量淺薄，加入天冬、地黃、人參，以三才合二至始為得力。</p>
<h4>扶桑丸</h4>
<p>嫩桑葉（去蒂、洗淨、晒乾）一斤（為末）　巨勝子（即黑脂麻，淘淨）四兩將脂麻擂碎熬汁，和蜜煉至滴水成珠，入桑葉末為丸。</p>
<p>此即世所謂桑麻丸也。去風明目，烏髭黑發，頗為有功，至稱駐顏益壽，則譽之太過，殊為失實矣。</p>
<h4>參苓白朮散</h4>
<p>人參　白朮（土炒）　茯苓　甘草（炒）　山藥各二斤　陳皮　扁豆（炒）一斤半　薏仁（炒）一斤　砂仁一斤　桔梗一斤　蓮肉（炒，去心）一斤為末。每三錢，棗湯或米飲調服。</p>
<p>此健脾和胃之正藥也。惟扁豆性劣，宜減去，嘗見瘧愈之後服扁豆者，無不復發，此可知也。</p>
<h4>妙香散</h4>
<p>山藥（薑汁炒）二兩　人參　黃　遠志（炒）　茯神　茯苓一兩　桔梗三錢　甘草二錢　木香二錢五分　麝香一錢　辰砂二錢（另研）</p>
<p>為末，每服二錢。酒下。</p>
<p>此方頗有作意，但參　之固，終不敵麝香之開，誠恐耗散心氣，神不能藏，君火不安，相火亦動。以之開解驚悸郁結則有餘，以治夢遺失精則不足。不如減去，加沉香、琥珀等為佳。</p>
<h4>玉屏風散</h4>
<p>黃　（炙）　防風一兩　白朮（炒）二兩為末，每服三錢。</p>
<p>此固表去風藥，用以實表則可，若云加減即可代桂枝、麻黃等湯，則表實而邪無出路，斷斷不可。此等議論，誤人不淺，必不可從。</p>
<h4>四君子湯</h4>
<p>人參　白朮（土炒）　茯苓二錢　甘草一錢薑三片、棗二枚煎。本方加陳皮名異功散，再加半夏名橘半六君子湯，本方加木香、藿香、干葛名七味白朮散，本方除人參加白芍名三白湯，本方合四物名八珍湯，又加黃　、肉桂名十全大補湯。</p>
<p>四君子湯中正和平，為補方中之金科玉律。至加減有法者，如異功散之理氣，橘半六君之去痰，香砂六君之溫胃，加竹瀝、薑汁之治半身不遂，七味白朮散之去熱治瀉，均極妥善。</p>
<p>三白湯治內傷尚可，若謂治外感亦為奇方，則吾不信也。至於合四物為八珍，增黃　、肉桂為十全大補，用各有當，皆不可磨滅之良方也。</p>
<h4>升陽益胃湯</h4>
<p>黃　二兩　人參　甘草（炙）　半夏一兩（脈澀者用）　白芍（炒）　羌活　獨活　防風五錢　陳皮四錢　白朮（土炒）　茯苓　澤瀉　柴胡三錢　黃連二錢薑、棗煎。</p>
<p>東垣論飢飽勞役，陽陷入陰，面黃氣弱，發熱者，當升舉陽氣，以甘溫治之。此真卓識確論，為治陽虛發熱者開一大法門。惟方中輒用升、柴，恐上實下虛者更加喘滿。在東垣必能明辨，當病而投。後人若執定此法，一概施之，則誤人不淺矣。</p>
<h4>補脾胃瀉陰火升陽湯</h4>
<p>黃　蒼朮（泔浸，炒）　甘草（炙）　羌活一兩　升麻八錢　柴胡一兩五錢　黃連（酒炒）五錢　黃芩（炒）　人參七錢　石膏少許每服三錢或五錢。</p>
<p>《東垣十書》，予最為服膺，以其重脾胃為正法眼藏也。如此方中升、柴、黃連、黃芩、石膏等，皆非可輕投，後人但師其意，不泥其方可耳。</p>
<h4>補肺湯</h4>
<p>人參　黃　（蜜炙）　五味子（炒）　紫菀一錢　桑白皮（蜜炙）　熟地二錢入蜜少許和服。</p>
<p>此方但為肺氣久虛以致咳嗽而設，其他咳嗽之症，不一而足，不可混施。方中有補有瀉，用意亦佳，但桑皮、紫菀之薄弱，豈能敵參、　、熟地之滯膩，獨不慮助痰為病乎？至謂熟地壯水，免得子盜母氣則可；謂為「化痰之妙品」，則佐使正未合也。</p>
<h4>百合固金湯</h4>
<p>生地黃一錢　熟地黃三錢　麥冬一錢五分　百合　當歸　貝母　芍藥（炒）　生甘草一錢玄參　桔梗八分此方金水相生，又兼養血。治肺傷咽痛失血者最宜。李士材謂：「清金之後，急宜顧母」，識解尤卓。予謂：咽痛一定，急當培土生金也。</p>
<h4>紫菀湯</h4>
<p>紫菀（洗淨，炒）　阿膠（蛤粉炒）　知母　貝母二錢　桔梗　人參　茯苓　甘草五分五味子十二粒此方治氣極、久咳、失血極佳。若肺癰，便當去五味子，以肺氣壅塞成癰，不宜收斂也。</p>
<h4>秦艽扶羸湯</h4>
<p>柴胡二錢　秦艽　人參　當歸　鱉甲（炙）　地骨皮錢半　紫菀　半夏　甘草（炙）一錢薑、棗煎。</p>
<p>所載見症乃陰陽兩虛、碎金不鳴之候，並無表症，且體虛自汗，元氣更傷。柴胡、秦艽、半夏、生薑乃辛散之品，重傷其陰，吾恐危亡隨之矣。</p>
<h4>黃鱉甲散</h4>
<p>黃　（蜜炙）　鱉甲（炙）　天冬五錢　秦艽　柴胡　地骨皮三錢　桑白皮　紫菀　半夏二錢五分　茯苓三錢　芍藥　生地黃　知母　甘草（炙）三錢五分　人參　桔梗　肉桂一錢五分薑煎。</p>
<p>此方過於繁雜不足法也。</p>
<h4>秦艽鱉甲散</h4>
<p>鱉甲（炙）一兩　秦艽　知母　當歸　柴胡　地骨皮一兩　烏梅一個　青蒿五葉風為天之氣，中人最速，鬱而為熱，固當清散，但深入骨裡者，千萬中無一二，蓋骨蒸乃陰虛，非外風在骨也</p>
<h4>益氣聰明湯</h4>
<p>黃　人參五錢　葛根　蔓荊子三錢　白芍　黃柏二錢（如有熱煩亂，春月漸加，交夏倍之。如脾虛去之，熱淋少用）　升麻錢半　炙甘草一錢臨臥服。</p>
<p>此方重脾胃而兼治肝腎，立意最精，但升麻似乎過重，酌減其半亦可以升清開竅矣。</p>
<h4>羊肉湯</h4>
<p>當歸　白芍　牡蠣（　）一兩　龍骨（　）五錢　生薑二兩　附子（炮）二兩　桂枝七錢五分每服一兩，羊肉四兩，加蔥白煮服。</p>
<p>此方斂陰生陽，補虛固脫，色色周到，洵為佳制。</p>
<h3>發表之劑</h3>
<h4>麻黃湯</h4>
<p>麻黃（去節）三兩　桂枝二兩　杏仁七十枚（去皮尖）　甘草一兩（炙用）</p>
<p>先煮麻黃數沸，去沫，內諸藥煎。熱服。覆取微汗，中病即止，不必盡劑。</p>
<p>仲景立方之祖，醫中之聖也。所著《傷寒》、《金匱》諸書，言言典要，為後人度盡金針。</p>
<p>即如傷寒太陽一症，頭緒最繁，有風傷衛者，有寒傷營者，有風寒兩傷營衛者。不得其解，無所措手。今觀其用桂枝湯治風傷衛，用麻黃湯治寒傷營，大青龍湯治風寒兩傷營衛。劈分三項，開三大法門，後人察脈辨症，謹守成規，庶不至於僨事。但仲景本為隨受隨發，冬月之正傷寒而設，非可以此法混施於春溫、溫疫等症。後人不明此理，一概混投，誤人實多。</p>
<p>於是辨論者紛紛而起，遂將溫症寒症糾纏不已。愈辨愈明者固多，愈辨愈晦者亦不少。予則以為春溫歸春溫，溫疫歸溫疫，傷寒歸傷寒，各分門類劃然了然，不必互相引證，反使人多所惶惑也。</p>
<h4>桂枝湯</h4>
<p>桂枝　芍藥　生薑三兩　甘草三兩（炙）　大棗十二枚。</p>
<p>此治風傷衛，解表之輕劑也，加減之法最多。細看注中之方，凡仲景所加減者，無不絲絲入扣，至後人之法，亦盡有可用，但須細心參酌，因症而施，始為得之。</p>
<h4>大青龍湯</h4>
<p>麻黃六兩　桂枝　甘草二兩（炙）　杏仁四十枚（去皮尖）　石膏一塊（如雞子大）　生薑三兩　大棗十二枚此為風寒兩傷營衛而設，即麻黃東加石膏、薑、棗也。麻黃湯中本用桂枝，可見仲景治寒未嘗不兼治風，則風寒兩傷營衛者用麻黃湯亦足矣，而必加石膏等三味者蓋因風寒兩傷營衛，非但傷風傷寒之可比，鬱熱必倍加。故用石膏體重味輕，以瀉鬱熱；薑、棗甘溫，以反佐之</p>
<h4>小青龍湯</h4>
<p>麻黃（去節）　桂枝　芍藥（酒炒）　細辛　甘草（炙）乾薑三兩　半夏　五味子半升此方全為外有風、內蓄水而設。所以不用石膏者，因水停胃中，不得復用石膏以益胃之寒。故一變而為辛散，外去風而內行水，亦名曰青龍者，亦取發汗，天氣下為雨之義也。</p>
<h4>葛根湯</h4>
<p>葛根四兩　麻黃　生薑三兩　桂枝　芍藥　甘草二兩（炙）　大棗十二枚太陽症無汗宜用麻黃湯矣，乃變其法，於桂枝湯中加葛根、麻黃二味，此中奧義全在「惡風」二字。但惡風而不惡寒，則不在寒傷營之例，乃太陽表症未解，將入陽明之象。故用麻黃以發汗，桂枝以去風，參用葛根，以阻其入陽明之路。若拋荒本經之病，而預用引經之藥，便為開門揖盜，仲景斷不為也。</p>
<h4>麻黃附子細辛湯</h4>
<p>麻黃　細辛二兩　附子一枚（炮）</p>
<p>此症機竅，全在「反發熱，脈沉」五字。蓋太陽之邪，初傳少陰，故脈症如此。方中用細辛、附子溫腎，以捍衛本經，格外來之邪不使深入；用麻黃以散太陽之邪，使之仍從原路而出。只此三味，而治法之妙如此，非仲景其孰能之？</p>
<h4>升麻葛根湯</h4>
<p>升麻三錢　葛根　芍藥二錢　甘草一錢（炙）</p>
<p>加薑煎。</p>
<p>此方用升麻、葛根以升散陽明。又恐升提太過，致人喘滿，故用芍藥、甘草，酸收甘緩以佐之。究竟互相牽制，不如獨用葛根為君，加牛蒡、連翹、桔梗、薄荷等。斑疹、時疫，則加馬勃、青黛等，未為不可也。</p>
<h4>柴葛解肌湯</h4>
<p>柴胡　葛根各三錢　羌活一錢　白芷一錢　黃芩三錢　芍藥　桔梗　甘草各一錢加薑三片，棗二枚，石膏一錢，煎服。</p>
<p>此證無脅痛、耳聾之象，與少陽無涉，乃首用柴胡，開門揖盜，一忌也；大青龍湯用石膏，全為煩躁而設，輒用石膏以傷胃氣，二忌也。此方斷不可用。</p>
<h4>柴胡升麻湯</h4>
<p>柴胡　前胡　黃芩六錢　升麻五錢　桑皮四錢　葛根四錢　荊芥七錢　赤芍　石膏一兩加薑三片，豉二十粒，煎。</p>
<p>升麻之為物，用以治天行癘疫，化毒消斑則可；尋常陽明症中，不可輕用。且用石膏為君，意在清肺胃耳，獨不慮寒胃太過，其變更不可問乎！</p>
<h4>九味羌活湯</h4>
<p>羌活　防風　蒼朮一錢五分　細辛五分　川芎　白芷　生地　黃芩　甘草一錢加生薑、蔥白煎。</p>
<p>此方用以代麻桂等湯，實為穩妥。但地黃滋膩太過，不如仍用桂枝湯中之芍藥，斂陰而不滋膩也。至其辛散燥烈，陰虛氣弱者忌用，則固自言之矣！</p>
<h4>十神湯</h4>
<p>麻黃四兩　葛根十四兩　升麻　川芎　白芷　紫蘇　甘草　陳皮　香附　赤芍各四兩每服三錢，加薑五片，蔥三莖煎。</p>
<p>時邪瘟疫，天行之癘氣也。故此方於升散中多用芳香辟穢之品，辛烈善走，雖有芍藥、甘草，不能制之。不可作陽經外感之通劑用也。</p>
<h4>神朮散</h4>
<p>蒼朮（制）　防風二兩　甘草（炙）一兩加薑、蔥煎。本方除蒼朮，加白朮二兩，不用蔥，名白朮湯。</p>
<p>神朮、白朮二方，乃治寒傷脾胃，濕淫於裡之妙法。夾有外感受寒無汗者加蔥白，受風有汗者去蔥白。動有法度，正不必謂其可代麻黃、桂枝二法也。</p>
<h4>太無神朮散</h4>
<p>蒼朮（泔浸）　厚朴（薑汁炒）各一錢　陳皮二錢　甘草（炙）　藿香　石菖蒲各一錢五分</p>
<h4>蔥豉湯</h4>
<p>蔥白一握　豉一升解表通陽最為妥善。勿以其輕淡而忽之。</p>
<h4>人參敗毒散</h4>
<p>人參　羌活　獨活　柴胡　前胡　川芎　枳殼　桔梗　茯苓一兩　甘草五錢每服一兩，加薑三片，薄荷少許煎。</p>
<p>此不過尋常固本治標法耳，用之於虛人感冒則可，若表裡俱實，則不增劇為幸，尚望病之輕減乎？傷寒用人參，仲景本有成法，並非以人參助元氣，為驅邪之主也。嵐瘴則濕毒為多，亦非感冒可比。至疫癘之氣，中人更烈，陽毒則有發熱、煩躁、斑疹等症，陰毒則有面青、腹痛、下利等症。若用此方治陽毒，既無清火解邪之功，以之治陰毒，又無回陽急救之力，均未見其可。予於喻西江先生最為服膺，豈敢輕議。但謂表藥中有用人參之法則可，若謂表藥中用人參更為得力，則不敢阿私所好也。</p>
<h4>川芎茶調散</h4>
<p>薄荷八錢　川芎　荊芥四錢　羌活　白芷　甘草（炙）一錢　防風錢五分　細辛一錢每三錢，食後茶調服。</p>
<p>輕揚解表，三陽並治，兼用細辛，並能散寒。惟虛人宜去此一味，蓋細辛善走，誠恐重門洞開，反引三陽之邪內犯少陰，此不可以不慮也。</p>
<h4>再造散</h4>
<p>人參　黃　桂枝　甘草　附子（炮）　細辛　羌活　防風　川芎　煨薑　棗此方但可施於常時之不能作汗者。若在冬月，而脈見浮緊，便是太陽之寒傷營，此方斷不可用。注中又引東垣、丹溪治虛人感冒，多用補中益氣加表藥，予不以為然。蓋親見喜用升柴者殺人無數，故不得不加意慎重。非偏執己見，不喜升柴，實不敢泥紙上之成方，誤目前之人命也。</p>
<h4>大羌活湯</h4>
<p>羌活　獨活　防風　細辛　防己　黃芩　黃連　蒼朮　白朮　甘草（炙）三錢　生地黃知母　川芎一兩每服五錢，熱飲。</p>
<p>兩感傷寒，一日太陽、少陰，二日陽明、太陰，三日少陽、厥陰，古方俱有加減治法，但予意更有進者。若至二日，而前症未解，則是四經合病；三日而前症未解，則是六經俱病矣。四經合病者，既未有成方；而六經俱病者，更難於措手。仲景以後，豈復有補天浴日手段？大羌活湯，漫無分別，亦不過盡人事而已！</p>
<h4>桂枝羌活湯</h4>
<p>桂枝　羌活　防風　甘草等分　每服五錢瘧發在處暑前，宜從時瘧治。且《內經》只分邪在肌表，在衛、在營，初無六經之說，更不</p>
<h3>涌吐之劑</h3>
<h4>瓜蒂散</h4>
<p>甜瓜蒂（炒黃）　赤小豆共為末，熱水或酸齏水調下。</p>
<p>「高者因而越之」，經有明訓，即吐法也。後人視為畏途，久置不講，殊不知痰涎在胸膈之間，消之匪易，因其火氣上衝之勢，加以吐法，使傾筐倒篋而出之，則用力少而成功多，瓜蒂散之類是也。且吐必有汗，故並可治風治黃。惟注中「食填太陰，欲吐不出」二語，須與申明：蓋飲食必先入胃，食填太陰者，非既出胃而入脾也，乃胃氣窒塞，使脾氣不通耳。</p>
<p>又必新入之食，尚為完穀，故可用吐，若經宿之後，將為燥糞滯於胃中，便宜攻下，豈可尚用吐法乎！</p>
<h4>參蘆散</h4>
<p>人參蘆（研為末）</p>
<p>水調下一、二錢。或加竹瀝和服。</p>
<p>化痰清火，頗為平穩，但用以涌吐，恐力尚不逮也。</p>
<h4>梔子豉湯</h4>
<p>梔子十四枚　淡豉四合服令微吐。</p>
<p>注中治傷寒汗吐下後，虛煩不眠，懊　身熱等症。「汗吐下後」一語，宜善體會，蓋言或汗後，肌表雖解而裡熱未除；或吐後，痰氣雖平，而陽邪未去；或下後，裡滯雖退而表邪未清。乃指一節而言，並非謂三法並用之後也。今人死煞句下，往往誤認三法並施，雖有壯夫，豈能堪此？且三法並用之後，豈尚有餘邪未清者乎？不參活句，謬以千裡矣！仲景用梔子，令上焦之熱邪委宛而下；用豆豉以開解肌理。真超凡入聖之方，其各種加減之法，亦俱有精義，不得草草讀過。</p>
<h4>稀涎散</h4>
<p>皂角四挺（去皮弦炙）　白礬一兩共為末，溫水調下五分，或加藜蘆。</p>
<p>治上焦用涌吐之法，此義本之《內經》，而方則出於仲景。古人體氣壯實，不妨用之，後世機心日開，嗜欲日甚，元氣大傷，稟受甚薄，一經涌吐，汗而且喘，百變叢生。後人不敢輕用，蓋亦慎重之道。即如稀涎散，性最猛烈，用以救猝急痰症，方足以斬關奪門，然尚有醒後緩投藥餌，痰不可盡攻之戒！可知虛人及尋常之症不可輕用吐法也。</p>
<h4>干霍亂吐方</h4>
<p>燒鹽　熱童便三飲而三吐之。</p>
<p>痧症至元而始著。元以前，但有霍亂之名，無所謂「痧症」也。欲吐不得，欲瀉不得，陰陽顛倒，氣閉血凝，症極危險，故不可進藥餌穀食。燒鹽、童便以吐之是也。然必須外用針刺人中、少商、委中、舌尖等處，再用手揉其穴，令血能多出，則毛竅方開，而氣始得漸達。</p>
<h3>攻裡之劑</h3>
<h4>大承氣湯</h4>
<p>大黃四兩（酒洗）　芒硝三合　枳實五枚　厚朴半斤先煎朴、實，將熟內大黃，煮二、三沸，傾碗內和芒硝服。</p>
<p>攻下之法，原因實症俱備，危在旦夕，失此不下，不可復救。故用斬關奪門之法，定難於俄頃之間，仲景所以有急下存陰之訓也。乃後人不明此義，有謂於攻下藥中，兼行生津潤導之法，則存陰之力更強，殊不知一用生津滋潤之藥，則互相牽制，而蕩滌之力輕矣！此譬如寇盜當前，恣其焚掠，所過為墟，一旦聚而殲之，然後人得安居，而元氣可以漸復。是去實可以保陰，乃相因之理，方得「存」字真解。並非謂攻實即是補陰，並可於攻下中寓養陰法也。仲景制大承氣湯，用枳實開上焦，用厚朴通中焦，芒硝理下焦，而以大黃之善走者統率之，以蕩滌三焦之堅實，正聚寇盡殲之大法。而又恐藥力太猛，非可輕投，故又有欲用大承氣，先與小承氣之訓。夫以仲景之神靈，豈尚待於先試，實恐後人審症未確，藉口成法，孟浪輕投，不得不諄諄告誡，此實慎重民命之婆心也。至於三陰多可下之症，三陽惟正陽明可下，少陽必不可下，而陽明中夾有太陽、少陽症者，亦斷不可下。惟太陽症脈緊、惡寒、無汗、腹痛者，乃陰氣凝結營分，亦可用溫、用下。細看方書，宜下忌下之條，慎重斟酌，始為得之。</p>
<h4>小承氣湯</h4>
<p>大黃四兩　厚朴二兩　枳實三枚（麩炒）</p>
<p>此治邪在中、上兩焦之正法也。注中但有譫語潮熱、喘滿等症，而無腹脹堅滿之象，故減去芒硝，不使伐無病之地以劫陰。略一加減，必有精義，規矩方圓之至也。</p>
<h4>調胃承氣湯</h4>
<p>大黃（酒浸）　芒硝一兩　甘草（炙）五錢少少溫服。</p>
<p>此治邪在中下焦之正法也。注中「惡熱口渴、腹滿，中焦燥實」數語，最宜著眼。可見病在脾胃，全與上焦無涉，若雜入枳、朴以犯上焦，則下焦之濁氣必隨感而上，反致喘逆者有之矣！去枳、朴，加甘草，使之專入脾胃，而又緩芒、黃善走之烈，謹慎周詳，毫發無憾。</p>
<h4>大陷胸湯</h4>
<p>大黃二兩　芒硝一升　甘遂一錢（為末）</p>
<p>先煮大黃去滓，內芒硝，煮一、二沸，內甘遂末，溫服。</p>
<p>傷寒下之早，則反為結胸。蓋緣邪尚未入陽明，若先下之，則邪未去而徒傷胃氣，邪反得乘虛入胃，而為結胸。或熱勝、寒勝、痰勝、濕勝，諸瀉心湯參酌用之，最為妥善。此症仲景用瀉心、承氣諸法，而用大陷胸湯者，因三焦俱實，而又有水氣，故不得不改用此方。</p>
<p>觀胃至前後兩條，有云：「或重汗而復下之，不大便，五六日，舌上燥渴」，此則津液大傷，近於陽結。又云：「或無大熱，但頭微汗出，脈沉」，為水結胸，則近於陰結。此二條，似不堪此峻劑矣！丹溪亦微有不滿之意，後人自當以慎重為宜。</p>
<h4>小陷胸湯</h4>
<p>黃連一兩　半夏半升　栝蔞一枚小陷胸湯非但治小結胸，並可通治夾滯時邪，不重不輕，最為適用。</p>
<h4>大陷胸丸</h4>
<p>大黃八兩　芒硝　葶藶（炒）　杏仁（去皮尖）各半升合研取如彈丸一枚，別搗甘遂末一錢，白蜜二合，煮服。</p>
<p>變湯為丸，加葶藶、杏仁以泄肺氣，是專為上焦喘滿而設。</p>
<h4>十棗湯</h4>
<p>芫花（炒）　甘遂　大戟等分　大棗十枚先煮棗去滓，內前藥末，或棗肉為丸。</p>
<p>十棗湯乃逐水之峻劑，非大實者不可輕試。至河間之三花神　丸，除大棗而加大黃、黑丑，已是一味峻猛，不復留脾胃之余地，更加輕粉，則元氣搜刮殆盡，病雖盡去，而人亦隨亡。可知仲景以十棗命名，全賴大棗之甘緩，以救脾胃，方成節制之師也。</p>
<h4>三物備急丸</h4>
<p>巴豆霜　大黃　乾薑等分蜜丸。</p>
<p>此不過猝急備用方耳，姑存之以備一法。</p>
<h4>砂丸</h4>
<p>砂　巴豆（去油）　三棱　乾薑　白芷五錢　木香　青皮　胡椒二錢五分　大黃　乾漆（炒）一兩　檳榔　肉豆蔻一個為末。釅醋二升，煮巴豆五、七沸再下三棱、大黃末同煎五、七沸，入　砂，熬成膏，和諸藥杵丸綠豆大，每五丸薑湯下。</p>
<p>凡積聚之成，多由陽虛氣弱。陽分虛則不能化濁，而陰氣日凝；氣分弱則不能和營，而血脈閉塞。種種積聚，由此而成。施治之法，當以通陽理氣為第一義。若但用攻劫峻劑，吾見其立敗也。</p>
<h4>木香檳榔丸</h4>
<p>木香　檳榔　青皮（醋炒）　陳皮（去白）　枳殼（炒）　黃柏（酒炒）　黃連（茱萸湯炒）　三棱（醋煮）　莪朮（醋煮）五錢　大黃（酒浸）一兩　香附　黑牽牛二兩　芒硝水丸。一方加當歸，酒洗。</p>
<p>此較　砂丸已從輕減，但峻烈之品尚多，試問病退之後，元氣尚存幾許？即有加當歸一味，一潤而十攻，豈尚能有濟乎？此等方法注中原載施壯實之人，究竟壯實之人患此症者絕少，大抵皆脾虛氣弱者多。斷不可藉口於經驗之方，而任意輕投也。</p>
<h4>枳實導滯丸</h4>
<p>大黃一兩　枳實（麩炒）　黃芩（酒炒）　黃連（酒炒）　神麯（炒）五錢　白朮（土炒）　茯苓二錢　澤瀉三錢蒸餅為丸。</p>
<p>治濕熱蘊結，腹痛泄瀉，頗為得力。但黃芩、黃連尚在可減之律，恐苦寒太過，反傷中、上二焦也。</p>
<h4>倒倉法</h4>
<p>黃牡牛肉（肥嫩者）二、三十斤切碎、洗淨，用長流水、桑柴火煮糜爛，濾去渣，取淨汁，再入鍋中，文武火熬至琥珀色，則成矣。擇一靜室明快不通風者，令病患先一夜不食，坐其中，每飲一鐘，少時又飲，積數十鐘。病在上者必吐，病在下者必利，病在中者吐而且利。視所出物可盡病根，乃止吐利。後必渴，不得與湯，其小便必長，取以飲之，名輪回湯，非惟止渴，兼滌余垢。行後解退倦臥覺飢，先與米飲，次與稀粥，三日後漸進濃粥軟飯。戒牛肉數年。</p>
<p>倒倉法，乃實脾之法也。牛性屬土，最能補脾，脾氣實則中州之轉輸利便而垢滯無所容留。故在上者迫之仍從上出，在下者迫之仍從下出，正盛邪消，理固然也。</p>
<h4>蜜煎導法</h4>
<p>蜂蜜用銅器微火熬，頻攪勿令焦，候凝如飴，捻作挺子，頭銳如指。摻皂角末少許，乘熱納穀道中，用手抱住，欲大便時去之。</p>
<p>陰液虧損，魄門燥結，故以此潤之。</p>
<h4>豬膽導法</h4>
<p>豬膽一枚取汁入醋少許，用竹筒長三、四寸以下，半納穀道中，將膽汁灌入肛中，頃當大便。</p>
<p>膽汁苦寒，瀉火而潤燥，故熱結便秘者宜之。</p>
<h3>表裡之劑</h3>
<h4>大柴胡湯</h4>
<p>柴胡八兩　半夏半升　黃芩　芍藥三兩　生薑五兩　大棗十二枚　枳實四枚　大黃（酒浸）二兩大柴胡為發表攻裡之劑。可見表症未解，雖裡症甚急，不宜專於攻下，置表症於不問也。</p>
<p>然究竟攻裡之力倍於解表，從此可悟立方之法，當相其緩急輕重而投之，則不拘成法中，自然處處合法矣。</p>
<h4>柴胡加芒硝湯</h4>
<p>小柴胡東加芒硝六兩傷寒再傳，少陽之症未解，胃中又有實熱，故用芒硝以蕩其余波，較大柴胡為輕減矣。</p>
<h4>桂枝加大黃湯</h4>
<p>桂枝東加大黃一兩，芍藥三兩太陽誤下，不專屬胃而入於脾，故仍用桂枝以解太陽之邪，加大黃以去太陰之實。</p>
<h4>水解散</h4>
<p>麻黃四兩　桂心　甘草（炙）　白芍二兩　大黃　黃芩三兩瘟疫有直中而無傳經，初起便有數經合病者，故發表攻裡不嫌太早也。</p>
<h4>防風通聖散</h4>
<p>防風　荊芥　連翹　麻黃　薄荷　川芎　當歸　白朮　白芍（炒）　山梔（炒黑）　大黃（酒浸）　芒硝五錢　黃芩　石膏　桔梗一兩　甘草二兩　滑石三兩加生薑、蔥白煎。</p>
<p>雖云通治一切內外諸邪，然必如注中表裡三焦俱實者方可用。否則硝、黃之峻烈，石膏、滑石之沉寒，尋常之症豈能堪此？雙解散已除去大黃、芒硝，而石膏、滑石二味，予意尚以為</p>
<h4>葛根黃連黃芩湯</h4>
<p>葛根半斤　甘草（炙）　黃芩二兩　黃連二兩太陽誤下，熱入陽明，故於解表中，清陽明之熱以止利。</p>
<h4>三黃石膏湯</h4>
<p>石膏一兩五錢　黃芩　黃連　黃柏七錢　梔子二十個　麻黃　淡豉二合每服一兩，薑三片，棗二枚，細茶一撮煎服。</p>
<p>三焦鬱熱，毒火熾盛，非三黃、石膏不足以祛之。尤妙在麻黃、豆豉開解肌表，使鬱火通行。此正如清風滌煩，非發風助火也。</p>
<h4>五積散</h4>
<p>白芷　陳皮　厚朴六分　當歸　川芎　芍藥　茯苓　桔梗八分　蒼朮　枳殼七分　半夏麻黃四分　乾薑　肉桂（重表者用桂枝）　甘草三分加薑、蔥煎。</p>
<p>仲景治傷寒，發表則麻黃、桂枝，溫中則乾薑、附子，簡當的確，開後學無限法門。此方不過發表溫中耳，而藥味繁多，通治五積，豈有一人之身，五積咸備，而尚能有活者乎？若其人只有一積，或多則二積，豈可以五積並治者治之乎？後人於本方再合人參敗毒散，名曰五積交加散，則更不解所謂矣。</p>
<h4>麻黃白朮湯</h4>
<p>青皮　陳皮　黃連（酒炒）　黃柏（酒炒）　甘草（炙）　升麻二分　柴胡　桂枝　人參黃　厚朴　蒼朮（泔浸）　白朮（土炒）　豬苓三分　茯苓　澤瀉　吳萸四分　白蔻　炒曲各五分　麻黃（不去節）六分　杏仁四粒分二服。</p>
<p>藥須對症而發。見一症，治一症，合病則合治之，並病則並治之，如是而已，未聞可以六經通治也。方中藥有二十二味，補散溫涼，一齊用到。即如升、柴、麻、桂等，豈不與喘促無力相妨乎？黃連、黃柏等豈不與臍有動氣、小腹急痛相戾乎？不謂東垣老人亦有此等方，何況自檜以下。</p>
<h4>參蘇飲</h4>
<p>人參　紫蘇　干葛　前胡　半夏（薑汁炒）　茯苓七錢五分　陳皮（去白）　甘草　枳殼（麩炒）　桔梗　木香二錢每五錢加薑、棗煎。</p>
<p>補散兼行，風痰並解，當病即止，不為過量，制方最佳。</p>
<h4>香蘇飲</h4>
<p>香附（炒）　紫蘇二錢　陳皮（去白）一錢　甘草七分加薑、蔥煎。</p>
<p>外疏風而內行氣，正以輕松流利為佳，不必動輒峻劑也。</p>
<h4>茵陳丸</h4>
<p>茵陳　梔子　鱉甲　芒硝二兩　大黃五兩　常山　杏仁（炒）三兩　巴豆一兩（去心皮，炒）豆豉五合蜜丸。</p>
<p>天行厲氣，取效每有不可以常理論者。至　瘧及赤白痢，自有正法治之，何必冒險以冀幸，汪　庵反以為佳方，吾不解也。</p>
<h2>卷二</h2>
<h3>和解之劑</h3>
<h4>小柴胡湯</h4>
<p>柴胡八兩　半夏半升　人參　甘草　黃芩　生薑三兩　大棗十二枚少陽為半表半裡之經。邪在表者可汗，邪在裡者不可汗也；邪在表者可吐，邪在裡者不可吐也；邪在裡者可下，邪在表者不可下也。須知此之所謂半表半裡者，乃在陰陽交界之所，陽經將盡，　乎欲入太陰，營衛不和，陰陽交戰，並非謂表裡受邪，若大柴胡可表可下例也。仲景嘉惠後世，獨開和解一門，俾後人有所持循，不犯禁忌。蓋和者，和其裡也；解者，解其表也。和其裡，則邪不得內犯陰經；解其表，則邪仍從陽出。故不必用汗吐下之法，而陰陽不爭，表裡並解矣。小柴胡湯乃變大柴胡之法，而別出心裁，用人參以固本，又用甘草、薑、棗以助脾胃，又用黃芩以清裡熱，使內地奠安，無復返顧之慮。我既深溝高壘，有不戰而屈人之勢，而又用柴胡以專散少陽之邪，用半夏消痰行氣以化逆，譬之自守已固，而又時出游騎，以蹴踏之，使之進無所得，退無所據，有不冰消瓦解者乎？此則仲景立方之微意，非通於神明者不能也。注中凡仲景所加減之方，皆精當不磨，有專治而無通治，此其所以可貴也，學人須細細參之，則於和解一門，思過半也。</p>
<h4>黃連湯</h4>
<p>黃連（炒）　乾薑（炒）　桂枝　甘草三兩　人參二兩　半夏半升　大棗十二枚變薑連瀉心之法而為升降陰陽之法。寒熱並用，補散兼行，和法之最佳者。</p>
<h4>黃芩湯</h4>
<p>黃芩三兩　芍藥　甘草二兩　大棗十二枚古未有治下利之方，自仲景立此法，以調和腸胃為主，後人踵事而增，藥味太多，失之龐雜者不免矣。</p>
<h4>芍藥甘草湯</h4>
<p>白芍藥　甘草（炙）各四兩不通則痛。腹中不和，氣逆而有濁陰，此但用甘酸化陰之法，而逆氣自消，亦高明柔克之義</p>
<h4>栝蔞薤白白酒湯</h4>
<p>栝蔞一枚　薤白三兩　白酒四斤薤白通陽，栝蔞散團結之氣，再加白酒以行氣血，自能消陰翳而開痹結。故不必用辛散耗血之品，以傷至高之元氣也。</p>
<h4>溫膽湯</h4>
<p>陳皮（去白）　半夏（薑製）　茯苓　甘草　枳實（麩炒）　竹茹加薑煎。</p>
<p>膽為清靜之府，又氣血皆少之經。痰火擾之，則膽熱而諸病叢生矣。溫膽者，非因膽寒而與為溫之也，正欲其溫而不熱，守其清靜之故常。方中用二陳、竹茹即是此意。</p>
<h4>逍遙散</h4>
<p>柴胡　當歸（酒拌）　白芍（酒炒）　白朮（土炒）　茯苓一錢　甘草（炙）五分加煨薑、薄荷煎。</p>
<p>逍遙散，於調營扶土之中，用條達肝木，宣通膽氣之法，最為解鬱之善劑。五臟惟肝為最剛，而又於令為春，於行為木，具發生長養之機。一有怫鬱，則其性怒張，不可復制；且火旺則克金，木旺則克土，波及他臟，理固宜然。此於調養之中，寓疏通條達之法，使之得遂其性而諸病自安。加丹參、香附二味，以調經更妙，蓋婦人多郁故也。</p>
<h4>六和湯</h4>
<p>砂仁　藿香　厚朴　杏仁　半夏　扁豆　木瓜　人參　白朮　赤苓　甘草　薑棗扁豆一味，古方多用之，以其有清暑利濕、健脾之功也。予以為扁豆之性最劣，減去扁豆、人參二味更妙。</p>
<h4>藿香正氣散</h4>
<p>藿香　紫蘇　白芷　大腹皮　茯苓三兩　白朮（土炒）　陳皮　半夏曲　厚朴（薑製）　桔梗二兩　甘草一兩每服五錢。</p>
<p>辟穢祛邪，兼治瘴氣。由其芳烈之性，足以勝之，而又兼用化痰利濕之品，以顧脾胃。</p>
<p>中州一和，則客邪自解矣。</p>
<h4>三解湯</h4>
<p>柴胡　麻黃（去節）　澤瀉各三錢一日一作之瘧，邪在衛；間日一作之瘧，邪在營；三陰大瘧，則邪在腑。皆由先受熱、後受寒所致，故陰陽交爭。《內經》之訓，昭然如揭日月。後人紛紛聚訟，各出己見，反致拋荒</p>
<h4>清脾飲</h4>
<p>青皮　厚朴（醋炒）　柴胡　黃芩（炒）　半夏（薑製）　茯苓　白朮（土炒）　甘草（炙）　草果加薑煎。</p>
<p>瘧一症，《內經》論之甚詳，從無一語及臟，可見瘧邪斷無入臟之理。《巢氏病源》妄為分發，識者譏之。清脾飲，變小柴胡之制而用黃芩，蓋欲其清營分之熱邪，使之仍從衛出耳。並非病在脾經清脾以治瘧也。</p>
<h4>黃連阿膠丸</h4>
<p>黃連一兩　茯苓二兩阿膠（炒）一兩為末，水熬阿膠為丸。</p>
<p>黃連阿膠之法，開於仲景。但阿膠一味，所重者在井水，而不在驢皮。因濟水伏流，惟阿井通於濟，故有平肝滋腎之功。後來射利之徒，更將牛、羊、豬、犬雜皮，一概入膠，敗人脾胃，不如不用為佳。</p>
<h4>薑茶飲</h4>
<p>生薑　陳細茶每味約三錢，濃煎服。</p>
<p>此亦調和陰陽之法。病輕淺者可用。</p>
<h4>蘆根湯</h4>
<p>蘆根一斤　竹茹一斤　生薑二兩　粳米一合此治熱鬱胃中、作嘔作吐則可。若云治寒冷傷胃，則予不敢深信。</p>
<h4>陰陽水</h4>
<p>沸湯　井水各半鐘和服。</p>
<p>此法甚佳，極平淡，極神奇，屢用屢效之方也。</p>
<h4>甘草黑豆湯</h4>
<p>甘草二兩　黑豆半升但稱解藥毒而已，非治病之方也。</p>
<h3>理氣之劑</h3>
<h4>補中益氣湯</h4>
<p>黃　（蜜炙）一錢五分　人參　甘草（炙）一錢　白朮（土炒）　陳皮（留白）　當歸五分　升麻二分　柴胡三分薑三片、棗二枚煎。</p>
<p>氣也者，人之所賴以生者也。大氣積於胸中，歸於丹田，呼出則由心達肺，吸入則由肝納腎，無一處不到，無一息或停。故宗氣為一身之主，外護肌表，則為衛氣；內統血脈，則為營氣；散布於各臟腑，則為各臟腑之氣。人能順而養之，則氣平而血亦和，尚何疾病之有？無如七情擾於中，六淫侵於外，斯百變叢生，而鬱氣、逆氣、動氣、滯氣、痞氣、燥氣、寒氣、痰氣、濕氣、水氣種種氣病，指不勝屈矣。醫者當細心剖析，對症施治，方免貽誤。汪庵於理氣門中，首選補中益氣湯，誠以東垣辨內傷、外感剴切詳明，使人於陽虛發熱之症不誤作傷寒妄汗妄下，保全無限民命，實為功於千古。即如此方，於主治注中，治一切清陽下陷，中氣不足之症。臨後二語，明白了當，本無謬訛。若使東垣，遇陰虛發熱及上實下虛之症，亦斷不用此方。乃不善學人，每有先入之見，膠執於中，一遇發熱，不論陽虛陰虛，不論上實下實，遂謂甘溫能除大熱，動輒參、　、升、柴，為害非小。《醫貫》曰：「讀傷寒書而不讀東垣書，則內傷不明而殺人多矣；讀東垣而不讀丹溪書，則陰虛不明而殺人多矣。</p>
<p>」此誠持平之論也。夫學醫而知宗仰東垣，不可謂非有志之士，然尚不可預有成心，又況峻烈之品，險怪之法，豈可輕試乎哉？</p>
<h4>烏藥順氣散</h4>
<p>烏藥　橘紅二錢　麻黃（去節）　川芎　白芷　桔梗　枳殼（炒）一錢　僵蠶（去絲嘴，炒）　炮薑　甘草（炙）五分加薑蔥煎。</p>
<p>中風之症，皆由氣血虧虛，外風乘隙而入，便當著意調營，使風從衛出；又或痰火內蘊，外風乘之，便當清營、化痰、息風、理氣。此方多用升散於養血化痰，二義闕然，與注中治中風等症未為合法也。</p>
<h4>蘇子降氣湯</h4>
<p>蘇子　半夏　前胡　厚朴（薑炒）　橘紅　當歸一錢　甘草（炙）　肉桂五分加薑煎。</p>
<p>此等方施之於濕痰壅塞、中脘不舒者，尚嫌其太燥。乃注中主治虛陽上攻、喘嗽嘔血等症，是益火加薪。吾見其立敗也。</p>
<h4>木香順氣湯</h4>
<p>木香　草蔻仁　益智　蒼朮二分　厚朴四分　青皮　陳皮　半夏　吳茱萸（湯泡）　乾薑二分茯苓　澤瀉二分　升麻　柴胡一分　當歸五分東垣此方，升清降濁，使中脘開通，極有意義。但辛燥太過，宜酌用之。</p>
<h4>四磨湯</h4>
<p>檳榔　沉香　烏藥　人參等分，濃磨，煎三、四沸，溫服。</p>
<p>四磨湯，原為氣逆喘急而設。若用人參，不如勿服之為佳矣。除人參，加木香、枳實者為宜，且於氣厥者尤合。</p>
<h4>越鞠丸</h4>
<p>香附（醋炒）　蒼朮（泔浸炒）　撫芎　神麯（炒）　梔子（炒黑）</p>
<p>等分曲糊為丸。</p>
<p>凡郁病必先氣病。氣得流通，郁於何有？此方注云：統治六郁。豈有一時而六郁並集者乎？須知古人立方不過昭示大法。氣鬱者，香附為君；濕鬱者，蒼朮為君；血鬱者，川芎為君；食鬱者，神麯為君；火鬱者，梔子為君。相其病在何處，酌量加減，方能得古人之意，而不泥古人之方。讀一切方書，皆當作如是觀。</p>
<h4>七氣湯</h4>
<p>半夏（薑汁炒）五錢　厚朴（薑汁炒）三錢　茯苓四錢　紫蘇二錢加薑棗煎。</p>
<p>七情受病，兼有痰涎，一時舉發則有之。理氣化痰，開解鬱結，七氣湯所以為佳也。</p>
<h4>四七湯</h4>
<p>人參　官桂　半夏一錢　甘草五分加薑煎。</p>
<p>越鞠丸治氣實之郁，四七湯治氣虛之郁。虛則寒生，不可謂氣病絕無寒症也。備此一法，庶無偏勝之患。</p>
<h4>代赭旋覆湯</h4>
<p>旋覆花三兩　代赭石一兩　人參二兩　甘草三兩　半夏半升　生薑五兩　大棗十二枚汗吐下後，中虛氣逆，不可再攻。故用重以鎮之，甘以緩之，辛以散之之法。</p>
<h4>丁香柿蒂湯</h4>
<p>丁香　柿蒂二錢　人參一錢　生薑五片呃逆之症非一端。若腎氣不收，厥逆而上，頭汗微喘，當用大劑參附以收攝真陽，此治連珠發呃之要法，非丁香、柿蒂等所能勝任也。若因寒犯胃，氣鬱而呃者，則此方為宜。丹溪乃以相火上衝之呃為辭，豈呃逆之症，但有火呃，竟無寒呃乎？是又過當之談矣。</p>
<h4>橘皮竹茹湯</h4>
<p>橘皮　竹茹　人參　甘草　半夏　麥冬　赤苓　枇杷葉加薑棗煎。</p>
<p>此則治痰火之呃，而不可以治胃寒之呃。若誤用之，則輕者增劇。</p>
<h4>定喘湯</h4>
<p>白果二十一枚（炒黃）　麻黃　半夏（薑製）　款冬花三錢　桑皮（蜜炙）　蘇子二錢　杏仁（去皮尖）　黃芩一錢五分　甘草一錢加薑煎。</p>
<p>治痰先理氣，不為疏泄，則膠固不通。此定喘用麻黃之意也。</p>
<h3>理血之劑</h3>
<h4>四物湯</h4>
<p>當歸（酒洗）　生地三錢　芍藥二錢　芎　一錢五分血之取義，一為榮。榮者，發榮也，非血則無以潤臟腑、灌經脈、養百骸，此滋長之義也。一為營。營者，營壘也。非血則無以充形質、實腠理、固百脈，此內守之義也。水穀之精，聚於中焦，受氣變化，然後成血，日生幾何？不知調養，而反行耗散，血病多多矣。或目睛流血，耳中出血，鼻中衄血，口中吐血，舌痛出血，牙宣出血，毛竅出血，小溲溺血，大便瀉血，或崩漏，或痔漏，或蓄血如狂，或血痞作脹，或經閉不通，或妄行血脫，以致跌撲之傷血、瘡瘍之潰血。病既種種不同，治病之法，或補之，或養之，或涼之，或溫之，或散之，或破之，立方須一一對症。理血門以四物湯為主方，藥雖四味，而三陰並治。當歸甘溫養脾，而使血有統；白芍酸寒斂肝，而使血能藏；生地甘寒滋腎，而益血；川芎辛溫通氣，而行血。調補血分之法，於斯著矣，乃或有譽之太過，毀之失實者，不可以不辨也。譽之過者，謂能治一切亡血及婦人經病。夫亡血之症，各有所由起，此方專於補血滋腎而已，無他手眼。不溯其源，而逐其流，豈能有濟？至婦人經病，多有氣鬱、伏寒、痰塞等，正未可以陰寒之品一概混投，此譽之太過也。毀之失實者，謂川芎一味，辛散太過，恐血未生而氣先耗。殊不知亡血之人脾胃必弱，若無川芎為之使，則陰寒之品，未能滋補而反以礙脾，此毀之失實也。至精求之，以為凡治血症，當宗長沙法，兼用補氣之藥，無陽，則陰無以生，此論最確。又恐執定有形之血不能速生，無形之氣所當急固，遂至補氣之藥多於補血，是又矯枉過正，反坐拋荒本位之失矣！此愈不可不知也。</p>
<h4>當歸補血湯</h4>
<p>黃　（炙）一兩　當歸（酒洗）二錢空心服。</p>
<p>當歸補血湯，黃　多於當歸五倍，以之專治氣分，尚恐滿中。若云養血，則輕重尚宜斟酌</p>
<h4>歸脾湯</h4>
<p>人參　白朮（土炒）　茯神　棗仁（炒）　龍眼肉二錢　黃　（炙）一錢五分　當歸（酒洗）一錢　木香　甘草（炙）五分　遠志一錢薑、棗煎。</p>
<p>歸脾湯專治心脾，陰中之陽藥。故不用地黃、白芍。後人加作黑歸脾，殊失立方之旨矣。</p>
<h4>養心湯</h4>
<p>黃　（蜜炙）　茯苓　茯神　當歸（酒洗）　半夏曲　川芎一兩　甘草（炙）一錢　柏子仁（去油）　酸棗仁（炒）　遠志　（去心）　五味子　人參　肉桂二錢五分每服五錢。</p>
<p>方中心經藥為多，而其余佐使，亦能配合，引入心臟。故專以養心為名，制方極有意義。</p>
<h4>人參養營湯</h4>
<p>人參　白朮　黃　（蜜炙）　甘草（炙）　陳皮　桂心　當歸（酒拌）一錢　熟地　五味子（炒）　茯苓七分　遠志五分　白芍一錢五分加薑、棗煎。</p>
<p>此實三陰並補，氣血交養之劑。注中但言治脾肺兩經，未免掛漏。論者但議其及肺與不及肺，抑末也。</p>
<h4>龍腦雞蘇丸</h4>
<p>雞蘇葉一兩六錢　生地黃六錢　麥冬四錢　蒲黃（炒）　木通　阿膠（炒）　銀柴胡二錢甘草一錢五分　黃　一錢　人參一錢先將木通、柴胡浸二日，熬汁；地黃浸汁，熬膏；再加蜜三兩，煉過和丸。</p>
<p>清鬱熱而瀉濕火，此方最佳。惟近日之阿膠斷不可用，柴胡、黃　，再為酌減，斯盡善矣。</p>
<h4>咳血方</h4>
<p>青黛（水飛）　栝蔞仁（去油）　海石（炒黑）　山梔（炒黑）　訶子肉等分為末，蜜丸。噙化。嗽甚加杏仁。</p>
<p>咳嗽痰血，固屬君相之火犯肺。此方但清火而不治血，乃去所擾則自安之義。然業經失血則肺已大傷，豈可置之不論不議。去訶子而加清養肺陰之藥，始為得之。</p>
<h4>獨聖散</h4>
<p>白芨為末，每服二錢，臨臥糯米湯下。</p>
<p>肺壞能補，惟有白芨，此「獨聖」之所以得名也。</p>
<h4>清咽太平丸</h4>
<p>薄荷十兩　川芎　防風　犀角　柿霜　甘草二兩　桔梗三兩蜜丸。</p>
<p>於清涼中寓升散之法，非特火鬱則發之，亦非此不能清解上焦也。</p>
<h4>還元水</h4>
<p>童便。</p>
<p>取十一、二歲無病童子，不茹葷辛，清澈如水者，去頭尾，熱飲。冬則用湯溫之，或加藕汁和服。</p>
<p>童便乃真陰，又無嗜欲，以之滋腎降火，誠治血之妙品。</p>
<h4>麻黃人參芍藥湯</h4>
<p>桂枝五分　麻黃　黃　甘草（炙）　白芍各一錢　人參三分　大麥冬三分　五味子五粒當歸五分熱服。</p>
<p>麻黃人參湯，非教人補中當用散藥，正教人散中當用補藥也。氣血虧弱之人，易受外感，風寒深入，不得不為表散。若徑用麻桂等湯，發汗後，虛陽欲絕矣。東垣立此方，以治虛人之</p>
<h4>犀角地黃湯</h4>
<p>生地黃一兩五錢　白芍一兩　丹皮　犀角二錢五分每服五錢。</p>
<p>犀角化斑解毒，涼血清心，又能引地黃直達腎經，壯水制火，故吐衄症中多用之。然治心腎則有餘，而非肺肝之正藥，若治衄血等，不如羚羊角之效。至謂升麻可代犀角，則其說尤謬。既有鬱火，再加風藥，逼血上升，不旋踵而敗矣！</p>
<h4>桃仁承氣湯</h4>
<p>桃仁五十粒（去皮尖，研）　大黃四兩　芒硝　甘草　桂枝一兩此方《準繩》以為當用桂，喻西江等以為當用枝。予則以為主治注中有「外症不解」一語，此四字最為著眼，有桃仁、大黃、芒硝、甘草以治裡，必當用桂枝以解表。仲景立方固無遺</p>
<h4>抵當湯</h4>
<p>水蛭三十個（豬脂熬黑）　虻蟲三十個（去頭足翅）　桃仁二十枚（去皮尖，研）　大黃四兩（酒浸）</p>
<p>此症雖瘀熱結於少腹極陰之處，不得以裡症名之，蓋膀胱乃太陽本經之病，非由太陽傳裡之症。但水蛭、虻蟲二味，人不敢用，即代抵當丸，尚嫌其太峻。</p>
<h4>槐花散</h4>
<p>槐花（炒）　側柏葉（杵）　荊芥（炒黑）　枳殼（炒）</p>
<p>等分為末，每三錢米飲下。</p>
<p>陳修園云：「五臟各有守經之血，六腑無血，試看豬、羊腸胃中，豈有一絲一點之血？世人謂巨口吐紅為胃血者，妄也。」此說頗有識解，惜其但見得一層，尚遺漏一層。予特申明之，夫五臟主藏，故各有守臟之血；六腑主傳，故無守腑之血。方其無病之時，胃中納水穀，大小腸傳糟粕。腸胃中本無血也，血但流灌於腑外，以榮養之。《經》所謂「洒陳六腑」，此一語不得滑口讀過。迨至火勢沖激，或濕熱熏蒸，逼血入於腑中，腑不能容，隨受亦隨出矣。故血淋、尿血，血之由小腸而出者也；瀉血、痔血，血之由大腸而出者也。大小腸既有血症，而胃獨無血症，有是理乎？胃經之血隨火上升，直從食管而出，往往盈碗、盈盆。至內傷之血，則由肺經氣管而出，自是兩途。故胃血易治，肺血難治。數千年來，從未有將無血而有血之故徹底發明者，予故因論槐花散一方，而詳及之。</p>
<p>槐花散，寒涼太過，腸風下血，中氣必虛，再用陰寒，血更凝結。方中去柏葉，加參、朮、當歸、陳皮、甘草，庶有瘳乎？</p>
<h4>秦艽白朮散</h4>
<p>秦艽　白朮　歸尾（酒洗）　桃仁（研）一兩　枳實（面炒）　皂角子（燒，存性）　澤瀉五錢　地榆三錢面糊丸。</p>
<p>凡痔漏之疾，多起於濕熱下注，然又有本體陰虛者。一味去風燥濕，反致劫陰。況服皂角子者，令人每發眩暈。此方立意雖佳，然陰虛者，未可輕投也。</p>
<h4>芍藥湯</h4>
<p>芍藥一兩　歸尾　黃芩　黃連五錢　大黃三錢　木香　檳榔　甘草（炙）二錢　桂一錢五分此即通因通用之法。濕熱鬱蒸，氣血瘀壅，故下利而後重。行血理氣，則血止而後重自除矣。</p>
<h4>蒼朮地榆湯</h4>
<p>蒼朮（泔浸炒）三兩　地榆（炒黑）一兩每一兩煎。</p>
<p>一燥濕，一涼血，亦治下利之正法。然止此二味，尚未足以扶土和營也。</p>
<h4>小薊飲子</h4>
<p>小薊　蒲黃（炒黑）　藕節　滑石　木通　當歸　生地黃　梔子（炒）　淡竹葉　甘草各五分清心與小腸之熱，滋腎水而通膀胱，自可以治淋而止痛。</p>
<h4>復元羌活湯</h4>
<p>柴胡五錢　當歸　栝蔞根　穿山甲（炮）二錢　甘草　紅花二錢　桃仁五十（去皮尖，研）　大黃一兩（酒浸）</p>
<p>每服一兩，加酒煎。</p>
<p>治跌撲損傷之法，破瘀第一，行氣次之，活血生新又次之。此方再加一、二味行氣之藥更佳</p>
<h3>祛風之劑</h3>
<h4>小續命湯</h4>
<p>防風一錢二分　桂枝　麻黃　杏仁（去皮尖，炒研）　芎　（酒洗）　白芍（酒炒）　人參甘草（炙）　黃芩（酒炒）　防己八分　附子四分每服三錢，加薑、棗煎。</p>
<p>天地之氣，鬱而必宣。風也者，乃大塊噫氣，鼓蕩萬物者也。然有和風，有烈風，有怪厲之風，有微柔之風。和風，則不疾不徐，人縱感之，不為大害；烈風，則咸知畏避，受者反少；怪厲之風本不常有；惟微柔之風，最易中人，微則難防，柔則善入。虛人腠理不密，外風乘隙而投，由表及裡，病亦由淺入深。前於《醫醇剩義》中已將中絡、中經、中腑、中臟之症，縷析條分，茲不復贅。但於各方後，竊附管見。小續命湯，乃治六經中風之通劑，方中補氣血，去風寒，清濕熱之藥俱備，非各分門類之專方。易老加減法，亦不過示人以用藥之大凡。至於入腑、入臟之症，則固未嘗議及也。</p>
<h4>侯氏黑散</h4>
<p>菊花四十分　防風　白朮十分　桔梗八分　人參　茯苓　當歸　川芎　乾薑　桂枝　細辛牡蠣　礬石三分上末，用溫酒調方寸匕，服二十日；再冷服四十日，共六十日止。則藥積腹中矣。</p>
<p>此方佳處，全在平肝息風。內風不動，則不與外風勾結，此便是阻截之法。喻西江盛稱其用牡蠣、礬石堵御之妙。予請為進一解，當實衛氣以為城垣，當養營血以堅壁壘。若使藥積腹中，以為堵截，吾恐風不得入者，氣血亦由此不通。無怪誤解填塞空竅者之滋議也。</p>
<h4>大秦艽湯</h4>
<p>秦艽　石膏二兩　當歸（酒洗）　白芍（酒炒）　川芎　生地（酒洗）　熟地　白朮（土炒）　茯苓　甘草（炙）　防風　黃芩（酒炒）　羌活　獨活　白芷一兩　細辛五錢每服一兩。</p>
<p>此方劉宗濃與喻嘉言俱謂其風藥太多，不能養血、益筋骨；汪　庵又謂：用此方者，取效甚多。各執一見。予謂方中四物咸備，不可謂無血藥也，若中風初起，表邪重者，用之尚可取效。然石膏、細辛二味必須減去。</p>
<h4>三生飲</h4>
<p>生南星一兩　生川烏（去皮）五錢　生附子（去皮）五錢　木香二錢每服一兩，加人參一兩煎。</p>
<p>「邪之所湊，其氣必虛」是也，然邪往從之，虛處轉實，又何說邪？東垣謂：中風非外風，乃本氣自病，太屬偏執。此等峻猛之藥，雖有人參，氣虛者能任受耶？如喻嘉言之加減為宜。</p>
<h4>地黃飲子</h4>
<p>熟地黃　巴戟（去心）　山茱萸　肉蓯蓉（酒浸）　附子（炮）　官桂　石斛　茯苓　遠志麥冬　石菖蒲　五味子等分，每服五錢，入薄荷少許，薑、棗煎服。</p>
<p>清肝氣以益水之源，納腎氣以制火之僭。水能涵木，孤陽不升則心氣通，而舌喑自解矣。</p>
<p>惟足廢不能行，尚當加壯筋利節之藥。至其不用風藥，正恐以助火，故特為迸去，未可議之也。</p>
<h4>順風勻氣散</h4>
<p>白朮二錢　烏藥一錢五分　人參　天麻五分　沉香（磨）三分　白芷　蘇葉　木瓜　青皮甘草（炙）三錢加薑煎。</p>
<p>順風勻氣，全是氣分藥，並無活血舒筋之藥。以之順氣疏風則可，若治半身不遂，口眼斜，當加血藥舒筋為是。</p>
<h4>丸</h4>
<p>草　以五月五日、七月七日、九月九日采者佳。不拘多少，揀去粗莖，留枝、花、葉、實，酒拌蒸晒九次，蜜丸。</p>
<p>之性，一味搜風逐濕。若風濕相摶、腿足麻痹，及諸濕瘡皆可用。以治中風　僻，徒益之燥耳。</p>
<h4>牽正散</h4>
<p>白附子　僵蠶　全蠍等分為末，每二錢酒調服。</p>
<p>但口眼　斜，而別無他症，則經絡臟腑均未受傷，乃太陽、陽明兩經之風痰蘊熱所致。</p>
<p>三藥直走內絡，祛風化痰，極為得力，故不必加血藥也。</p>
<h4>如聖散</h4>
<p>羌活　防風　白芷　柴胡　甘草　黃芩　半夏　川芎　芍藥　當歸　烏藥加薑煎。入薑汁、竹瀝服。柔痙加白朮、桂枝，剛痙則加蒼朮、麻黃，口噤、切牙、大便實加大黃。</p>
<p>活血祛風，化痰清熱，剛柔二痙，加減亦有法。此節庵方之佳者。</p>
<h4>獨活湯</h4>
<p>獨活　羌活　防風　細辛　桂心　白薇　當歸　芎　半夏　人參　茯神　遠志肉　菖蒲五錢　甘草（炙）二錢五分每服一兩，加薑、棗煎。</p>
<p>此以息肝風為第一義，養心神次之，化痰清熱又次之，方法極有條理。</p>
<h4>小活絡丹</h4>
<p>川烏（炮去臍皮）　草烏（炮去皮）　膽星六兩　地龍（洗焙乾）　乳香（去油）　沒藥（另研）三兩三錢酒丸。</p>
<p>藥力頗峻，果有頑痰、死血則可用。若寒濕流筋及血不養筋者，不可誤投。</p>
<h4>消風散</h4>
<p>荊芥　陳皮（去白）　厚朴（薑汁炒）　甘草（炙）五錢　防風　羌活　藿香　僵蠶（洗炒）　蟬蛻　川芎　人參　茯苓二兩為末，每服三錢，茶湯下。</p>
<p>風熱上攻，治當清解，過用辛散，是發風助火矣，殊非正法也。</p>
<h4>清空膏</h4>
<p>黃芩（酒炒）　黃連（酒炒）　羌活　防風一兩　柴胡七錢　川芎五錢　甘草（炙）一兩五錢為末，每服三錢，茶調如膏，白湯送下。</p>
<p>如少陰頭痛，加細辛；太陰頭痛、脈緩、有痰，去羌活、防風、川芎、甘草，加半夏；如偏頭痛，服之不愈，減羌活、防風、川芎一半，加柴胡一倍；如自汗、發熱、惡熱而渴，此陽明頭痛，只與白虎湯，加白芷。</p>
<p>此則寓清涼於升散中，為治風熱之大法。若陽明頭痛、少陰厥痛、血虛頭痛，又當別用方法矣。</p>
<h4>胃風湯</h4>
<p>人參　白朮（土炒）　茯苓　當歸（酒炒）　芎　桂（炒）　芍藥（酒炒）</p>
<p>等分，加粟米百余粒煎。</p>
<h4>東垣胃風湯</h4>
<p>升麻一錢二分　麻黃（不去節）一錢　白芷一錢二分　葛根一錢　柴胡五分　羌活五分本五分　蒼朮五分　蔓荊五分　草蔻五分　黃柏五分　當歸五分　炙甘草五分加薑、棗煎易老胃風湯，養血柔肝，補脾和胃，並無一味風藥，而治法特妙。蓋緣肝木太旺，動而生風，犯胃克脾，故見飧泄腸風等症，但須肝木一和，則內風自息。若東垣之胃風湯，純用風藥，且燥亦太過，不及遠矣。</p>
<h4>上中下通用痛風丸</h4>
<p>川芎一兩　黃柏（酒炒）　蒼朮（泔洗）　南星（薑製）　二兩　桃仁（去皮尖，搗）</p>
<p>神麯（炒）防己　白芷一兩　羌活　威靈仙（酒拌）三錢　龍膽草一兩　桂枝三錢　紅花二錢面糊丸。</p>
<p>此於風寒濕之外，又兼治痰與血。丹溪原自謂通劑，不過舉此以示大法。病有專在何經者，必須對症立方，不得用此通共之劑，反傷無病之處也。</p>
<h4>史國公藥酒方</h4>
<p>羌活　防風　白朮（土炒）　當歸（酒洗）　川牛膝（酒浸）　川萆　杜仲（薑汁炒）</p>
<p>松節（杵）　虎脛骨（酥炙）　鱉甲（酥炙）　晚蠶砂（炒）二兩　秦艽　蒼耳子（炮捶碎）</p>
<p>四兩　枸杞五兩　茄根八兩（蒸熟）</p>
<p>為粗末，絹袋盛，浸無灰酒三十斤，煮熟退火毒服，每日數次，常令醺醺不斷。</p>
<p>此酒祛風利濕頗有力，於實症為宜。若氣虛者當加補氣藥，血虛者當加補血藥。</p>
<h4>蠲痹湯</h4>
<p>黃　（蜜炙）　當歸（酒洗）　赤芍（酒炒）　羌活　防風　片子薑黃（酒炒）　甘草（炙）</p>
<p>加薑棗煎。</p>
<p>營衛不虧，風何由入？不調營衛，而多用風藥者，非升痰即助火。此方營衛兼顧，而又能祛風利濕，痹症中之善方也。</p>
<h4>三痹湯</h4>
<p>人參　黃　茯苓　甘草　當歸　川芎　白芍　生地黃　杜仲（薑汁炒）　桂心　川牛膝川續斷　細辛　秦艽　川獨活　防風等分，加薑棗煎。</p>
<p>峻補氣血，而祛風、除寒、利濕之法悉寓乎其中，本末兼該，誠治痹之上策也。</p>
<h4>獨活寄生湯</h4>
<p>獨活　桑寄生　秦艽　防風　細辛　當歸（酒洗）　芍藥（酒炒）　川芎（酒洗）　熟地杜仲（薑汁炒）　牛膝　人參　茯苓　甘草　桂心等分，每服四錢。</p>
<p>獨活，取其獨立不搖，不須依傍；寄生取其附木而生，大得依傍。二者相濟，又能利筋節而祛風。再兼平補營衛，疏通寒濕，用意頗為周到。</p>
<h4>沉香天麻丸</h4>
<p>羌活五錢　獨活四錢　沉香　益智仁　川烏二錢　附子（炮）　天麻　防風　半夏三錢當歸　甘草　僵蠶一錢五分每服五錢，薑三片煎。</p>
<p>以之治風寒痰厥則可，若因風化火，兼有痰涎者，斷不可用。</p>
<h4>通頂散</h4>
<p>藜蘆　甘草（生用）　細辛　人參　川芎一錢　石膏五錢為末，用一字吹入鼻中，有嚏者肺氣未絕，可治。</p>
<p>不過欲其通陽開竅耳，然太覺煩瑣，不如皂莢散之便捷也。</p>
<h4>烏梅擦牙關方</h4>
<p>烏梅揩擦牙齦，涎出即開。</p>
<p>木旺則克土，木燥則筋急，泄木緩筋，則土鬱自開矣。</p>
<h2>卷三</h2>
<h3>祛寒之劑</h3>
<h4>理中湯</h4>
<p>白朮（陳壁土炒）二兩　人參　乾薑（炮）　甘草（炙）一兩每服四錢。自利腹痛者加木香，不痛利多者倍加白朮，渴者倍白朮，蜷臥沉重利不止加附子，腹滿去甘草，嘔吐去白朮加半夏、薑汁，臍下動氣則去朮加桂，悸加茯苓，陰黃加茵陳，寒結胸加枳實。本方等分蜜丸，名理中丸。</p>
<p>寒有外感、有傳經、有直中、有痼冷。外感之寒先病在表，後傳入裡，必發熱而惡寒，此傷寒之寒病也；直中之寒，手足厥冷，並不發熱；痼冷在內，遇寒而發，暴猝厥逆，其勢尤重，此中寒門之寒病也。施治之法，傷寒一門，在表者宜辛散，傳裡者宜辛溫。中寒一門，則每用辛熱回陽急救之法。此傷寒、中寒治法之分也。理中湯，治傷寒太陰病，腹痛、便溏等症，亦通治中脘虛寒。惟云治結胸吐蛔，感寒霍亂，此兩條則宜去人參、甘草，量加厚朴、</p>
<h4>四逆湯</h4>
<p>附子一枚（生用）　乾薑一兩　甘草（炙）二兩冷服。面赤加蔥九莖，腹痛加芍藥二兩，咽痛加桔梗一兩，利止，脈不出加人參二兩，嘔吐生薑二兩。</p>
<p>四逆湯為四肢厥逆而設。仲景立此方，以治傷寒之少陰症。若太陰之腹痛下利、完穀不化，厥陰之惡寒不汗、四肢厥冷者亦宜之。蓋陰慘之氣深入於裡，真陽幾幾欲絕，非此純陽之品，不足以破陰氣而發陽光。又恐薑附之性過於燥烈，反傷上焦，故倍用甘草以緩之。立方之法，盡美盡善。後人分傳經為熱厥，直中為寒厥，程郊倩譏之。然亦有未可盡非者。仲景曰：「傷寒一二日至四五日而厥者，必發熱，應下之。」此明明說厥逆在前，發熱在後，及至發熱則不復厥冷，乃傷寒失下之症，故蕩滌邪滯，則發熱自退，本非為厥而不熱者言也。</p>
<p>程氏又云：「下之者，下其熱，非下其厥也，遇發熱則可下，遇厥則萬不可下。」此數語最為明白了當，可見傳經之邪亦自有當下者，但不可概謂之熱厥耳。四逆者，必手冷過肘，足冷過膝，脈沉細無力，腹痛下利等象咸備，方可用之，否則不可輕投。</p>
<h4>當歸四逆湯</h4>
<p>當歸　桂枝　芍藥　細辛三兩　甘草（炙）　通草二兩　大棗二十五枚仲景又曰：其人素有久寒者加吳茱萸二升、生薑半斤，酒六升，和煮，名四逆加吳茱萸生薑厥陰為藏血之經，故當歸四逆湯以和營為主，加桂枝、細辛以和衛，營衛和則厥自解矣。</p>
<p>雖有寒而不加薑附者，恐燥烈太過，劫陰耗血也。</p>
<h4>四逆散</h4>
<p>柴胡　芍藥（炒）　枳實（麩炒）　甘草（炙）</p>
<p>等分為末，水調飲。</p>
<p>四逆散乃表裡並治之劑。熱結於內，陽氣不能外達，故裡熱而外寒，又不可攻下以礙厥。</p>
<p>故但用枳實以散鬱熱，仍用柴胡以達陽邪，陽邪外泄，則手足自溫矣。</p>
<h4>真武湯</h4>
<p>附子（炮）一枚　白朮（炒）三兩　茯苓　白芍（炒）　生薑三兩北方曰幽都，乃陰寒濕濁之地，賴真武之神，運用水火以鎮攝之，濁陰方漸得解散。此方取名真武，乃專治腎臟之劑。坎之為象，一陽居二陰之中。水中之火，是為真火，此火一衰，則腎水泛濫。停於下焦，則腹痛自利；水氣犯中焦，則作噦，欲吐不吐；水氣犯上焦，則咳嗽、心悸、頭眩。方中薑、附以助真陽，用苓、朮以制二陰，水氣一收，則上中下三焦俱無病矣。</p>
<h4>白通加人尿豬膽汁湯</h4>
<p>蔥白四莖　乾薑一兩　附子（炮）一枚　人尿五合　豬膽汁一合少陰病，下利脈微。服白通湯後，利不止，厥逆無脈，此為陰寒過甚，陽氣將絕之候。</p>
<p>加人尿、豬膽汁者，以類相從之義也。服後脈暴出，則陽氣盡泄，孤立無依，故隨脫而死。</p>
<p>脈微續者，陽氣漸回，以次可復，故得生。外用蔥艾熨灸氣海、關元。表裡通陽，亦為善策。</p>
<h4>吳茱萸湯</h4>
<p>吳茱萸（泡）一升　人參三兩　大棗十二枚　生薑六兩吳茱萸辛烈善降，得薑之溫通，用以破除陰氣有餘矣。又恐辛燥太過，耗氣劫陰，故用人參、大棗之甘緩以濟之，又能補土扶陽，使濁陰不得上干清道，治法更為周到。</p>
<h4>大建中湯</h4>
<p>蜀椒二合　乾薑四兩　人參二兩煎，去滓，內飴糖一升，微煎溫服。</p>
<p>非人參不能大補心脾，非薑椒不能大祛寒氣，故曰大建中。又有飴糖之甘緩以殺薑椒之辛燥。非聖於醫者，不辨有此。</p>
<h4>十四味建中湯</h4>
<p>黃　（蜜炙）　人參　白朮（土炒）　茯苓　甘草（蜜炙）　半夏（薑製）　當歸（酒洗）　白芍（酒炒）　熟地　川芎　麥冬　肉蓯蓉　附子　肉桂加薑棗煎。</p>
<p>於十全大補中又加四味，究竟陽藥太多，若以治陰虛之勞瘠，非抱薪救火乎？至樂令建中湯，加柴胡、細辛之開透善走，欲其建立中氣，不亦難乎！</p>
<h4>小建中湯</h4>
<p>桂枝　生薑三兩　芍藥六兩　甘草（炙）一兩　大棗十二枚入飴糖一升，微火解服。</p>
<p>肝木太強，則脾土受制。脾陽不運，虛則寒生，陰氣日凝，陽氣日削，故見腸鳴、泄瀉、腹痛等症。小建中湯之義，全在抑木扶土。當從吳氏之說，用肉桂而不用桂枝。肉桂溫裡，桂枝解表，用各有當也。且肉桂性能殺木，合芍藥以制肝，又用薑、棗、甘草、飴糖之甘溫以補脾，斯中州之陽氣發舒，而陰寒盡退矣。</p>
<h4>白朮附子湯</h4>
<p>白朮二兩　甘草一兩　附子（炮）一枚每服五錢。　薑五片、棗一枚煎。</p>
<p>此為治腎風之藥，腎為水臟，得火則平，而濁陰退所矣。若肝風頭眩，則當用養血之劑。</p>
<p>誤用此方，則風火相搏，而病益劇，不可不知也。</p>
<h4>益元湯</h4>
<p>附子（炮）　乾薑　艾葉　黃連　知母　人參　麥冬　五味子　甘草加薑、棗、蔥白煎，入童便一匙，冷服。</p>
<p>戴陽者，陰不抱陽、虛陽上浮，幾幾欲絕。若誤作熱症治，立見敗壞。此方用薑、附、艾葉</p>
<h4>回陽救急湯</h4>
<p>附子（炮）　乾薑　肉桂　人參五分　白朮　茯苓一錢　半夏　陳皮七分　甘草二分五味子九粒加薑煎，入麝三厘調服。無脈加豬膽汁，泄瀉加升麻、黃　，嘔吐加薑汁，吐涎沫加鹽炒吳茱萸。</p>
<p>此方治中寒之緩症則可。若云救急，則薑附中又合六君、五味子，反令薑、附之性多所牽制，不如四逆湯，為能斬關奪門也。</p>
<h4>四神丸</h4>
<p>破故紙（酒浸一宿，炒）四兩　五味子（炒）三兩　肉豆蔻（面裹煨）二兩　吳茱萸（鹽湯泡）一兩用大棗百枚、生薑八兩，切片同煮爛，去薑，取棗肉搗丸。每服二錢，臨臥鹽湯下。</p>
<p>命門為日用之火，所以薰蒸脾胃，運化穀食。若腎瀉者，宜二神丸。脾瀉者，若由木旺克土，則吳茱萸能散厥陰之氣，用以抑木則可；非此則不如去五味子，吳萸，加茴香，木香者之為佳也。</p>
<h4>感應丸</h4>
<p>木香　肉豆蔻　丁香一兩五錢　乾薑（炮）　百草霜一兩　杏仁一百四十粒（去皮尖）　巴豆七十粒（去心、皮、膜、油）</p>
<p>巴豆、杏仁另研，同前藥末和勻，用好黃蠟六兩溶化，重絹濾去渣，好酒一升，於砂鍋內煮數沸，候酒冷蠟浮，用清油一兩，銚內熬熟，取蠟四兩同化成汁，就銚內和前藥末乘熱拌勻，丸如豆大。每服三十丸，空心薑湯下。</p>
<p>制方之法，極有巧思，然走者太走，而澀者太澀，偏師陷陣，終不如堂堂正正之為得也。</p>
<p>譽之者嘆為雖有巴豆，服之不瀉，此不過藉蠟性為之封固耳，吾不敢以為神妙也。</p>
<h4>導氣湯</h4>
<p>川楝子四錢　木香三錢　茴香二錢　吳茱萸一錢（湯泡）</p>
<p>長流水煎。</p>
<p>此為治疝之通劑，有川楝子苦寒，濟以茴香、木香、吳萸之辛溫，肝腎並顧，寒濕盡祛，至為妥善。</p>
<h4>天台烏藥散</h4>
<p>烏藥　木香　茴香（鹽炒）　良薑（炒）　青皮五錢　檳榔二個　川楝子十個　巴豆七十一粒先以巴豆微打破，同川楝麩炒黑，去麩及巴豆，同余藥為末，酒下一錢。</p>
<p>治疝大法，當溫腎柔肝，兼治寒濕，何至用巴豆之峻攻，不及導氣湯遠矣。</p>
<h4>疝氣方</h4>
<p>吳茱萸　枳殼　梔子　山楂（炒）　荔枝核（　）</p>
<p>等分為末。空心，長流水下二錢。</p>
<p>此方亦平易近人，雖無近效，然較之烏藥散要穩妥多矣。</p>
<h4>橘核丸</h4>
<p>橘核　川楝子　海藻　海帶　昆布　桃仁二兩　延胡索　厚朴　枳實　木通　桂心　木香五錢酒糊丸鹽湯或酒下。</p>
<p>此乃治　疝之專劑。理氣、破血、軟堅、行水之法俱備，其知痛楚者不可誤用。</p>
<h3>清暑之劑</h3>
<h4>四味香薷飲</h4>
<p>香薷一兩　厚朴（薑汁炒）　扁豆（炒）五錢　黃連（薑炒）三錢冷服。</p>
<p>暑濕　三氣，初學不能分別，多致錯誤，今為明白言之。時當夏令，天氣下降，地氣上升，人處其中。暑上侵而濕下襲，暑為天之氣，濕乃地之氣，其熱之甚者則為　，此三氣之分也。今就暑病門中，先論暑症，雖有冒暑、傷暑、中暑、伏暑等名，不過略分輕重，其為陽邪則一也，其因暑而貪涼受風者便是傷風，因暑而食冷受寒者便是傷寒，但與冬月之傷風、傷寒治法不同。因暑傷風，當辛涼表散；因暑傷寒當於清解中參用溫藥，此為正法。四味香薷飲，乃治感冒暑氣、陽邪遏抑之劑，即冬月傷風中用桂枝、荊、防之例。今人誤以香薷為涼藥，不論是何暑病，首先用之，殊可怪嘆。</p>
<h4>清暑益氣湯</h4>
<p>黃　一錢　人參一錢　白朮（炒）五分　蒼朮一錢　神麯五分（炒）　陳皮　青皮（麩炒）　甘草（炙）　麥冬　五味子　當歸（酒洗）　黃柏（酒炒）　澤瀉各二分　升麻一錢　葛根三分薑棗煎。</p>
<p>清暑益氣湯，藥味龐雜，補者補而消者消，升者升而瀉者瀉，將何所適從乎？且主治下，有胸滿氣促一條，則黃　、升麻在所當禁。予謂此等症，但須清心養胃，健脾利濕足矣，何必如此小題大做。東垣先生，予最為服膺，惟此等方不敢阿好。</p>
<h4>生脈散</h4>
<p>人參　麥冬五分　五味子七粒肝主氣，心主血。生脈散養心肺之陰，使氣血得以榮養一身；而又有酸斂之品，以收耗散之氣，止汗定咳。虛人無外感者，暑月宜之。</p>
<h4>六一散</h4>
<p>滑石六兩　甘草一兩為末，冷水或燈心湯調下。本方加辰砂，名益元散；加薄荷，名雞蘇散；加青黛，名碧玉散。</p>
<p>六一散，施之於體壯熱盛，濃濃太過之人則可。若體虛氣弱者，則寒傷脾而滑傷腎，反致飲食減少，津虧作渴。至益元散、雞蘇散、碧玉散，亦同此例也，不可因夏月而一概混投。</p>
<h4>縮脾飲</h4>
<p>砂仁　草果（煨去皮）　烏梅　甘草（炙）四兩　扁豆（炒研）　干葛二兩。</p>
<p>方中辛燥太過，用以健脾去濕則可。若謂清暑、除煩、止渴，吾不謂然。</p>
<h4>消暑丸</h4>
<p>半夏一斤（醋五斤煮干）　茯苓　甘草　半斤（生用）</p>
<p>薑汁糊丸，勿見生水。熱湯下。</p>
<p>消暑丸不治暑而治濕，使濕去而暑亦降，用意甚佳。然必須兼清解之藥一、二味為得。</p>
<h4>大順散</h4>
<p>乾薑　桂　杏仁（去皮尖）　甘草等分。</p>
<p>先將甘草用白砂炒，次入薑、杏炒過，去砂，合桂為末。每服二錢。</p>
<p>此即治暑月之傷寒也。因暑傷寒，故但治寒而不治暑。</p>
<h3>利濕之劑</h3>
<h4>五苓散</h4>
<p>豬苓　茯苓　白朮（炒）十八銖　澤瀉一兩六銖半　桂五錢濕為地之氣，其中人也緩，其入人也深，其為病也不可以疾而已。坐臥卑濕，汗漬雨淋，此濕之自外來者也；多食濃膩，過嗜茶酒，此濕之自內生者也。治濕必先理脾，脾土健運，始能滲濕，此定法也。又須分利，使濁陰從下而出，亦定法也。五苓散，仲景本為脈浮、小便不利、微熱、消渴、表裡有病者而設。方中宜用桂枝，不可用肉桂。後人遂通治諸濕、腹滿、水飲、水腫、嘔逆、泄瀉、水寒射肺或喘或咳、中暑煩渴、身熱頭痛、膀胱熱、便秘而渴、霍亂吐瀉、痰飲濕症、身痛身重等症。總之治寒濕則宜用肉桂，不宜用桂枝。若重陰生陽，積濕化熱，便當加清利之藥，並桂枝亦不可用矣。至加減之附方，各有宜稱，亦當細細參之。</p>
<h4>豬苓湯</h4>
<p>豬苓　澤瀉　茯苓　滑石　阿膠各一兩五苓散治濕濁不化，故用術桂，以通陽而化濁；豬苓湯治陽邪入裡，故用滑石、阿膠，以降熱而存津。至於統治少陰下利，六七日，咳而嘔渴，心煩不得眠，乃借瀉膀胱以清腎臟，是活用之法，而非正治也。</p>
<h4>茯苓甘草湯</h4>
<p>茯苓　桂枝二兩　甘草一兩　生薑二兩茯苓宜於獨重，以其能滲濕安神也。薑桂性溫，開解腠理，能逐水氣從毛竅而出，用甘草以補土和中，方法特妙。</p>
<h4>小半夏加茯苓湯</h4>
<p>半夏一升　茯苓三兩　生薑半斤古人立方，有藥味少而分兩重者，專走一門，為功甚巨，如半夏等湯是也。痰去，則眩悸自</p>
<h4>加味腎氣丸</h4>
<p>熟地四兩　茯苓三兩（乳拌）　山藥（炒）　丹皮（酒炒）　山萸肉（酒潤）　澤瀉（酒浸）　川牛膝（酒浸）　車前子（炒）　肉桂一兩　附子（制）五錢蜜丸。</p>
<p>此方之妙，全在導龍歸海。命腎之火衰微，濁陰日漸凝結，始則小便不利，繼則水氣泛溢，腹脹肢腫。但用分利之劑，徒然耗正劫陰，小便仍不能利，惟用附桂以直達命腎，使命門之火得以熏蒸脾胃，腎中之真陽發越，則腎氣通暢，而寒水亦行，小便通，則泛濫之水如眾流赴壑矣。人但知水能克火，而不知火亦能制水，發陽光以消陰翳，此類是也。</p>
<h4>越婢湯</h4>
<p>麻黃六兩　石膏八兩　生薑三兩　甘草二兩　大棗十二枚風與水在皮膚之間，故但腫而脹，變小青龍之制，使風、水俱從毛竅而出，故名越婢。</p>
<p>越婢者，悅脾也。</p>
<h4>防己黃湯</h4>
<p>防己　黃　一兩　白朮七錢五分　甘草五錢（炙）</p>
<p>每服五錢，加薑棗煎。</p>
<p>去風先養血，治濕先健脾，此一定之法。此症乃風與水相乘，非血虛生風之比。故但用治風逐水健脾之藥，而不必加血藥。但得水氣去而腠理實，則風水亦不能獨留矣。</p>
<h4>腎著湯</h4>
<p>乾薑（炮）　茯苓四兩　甘草（炙）　白朮（炒）二兩方中但燥濕健脾，而不用溫腎之藥。緣此症乃積濕下注於腎，非腎之寒水為病也。若虛寒之體，即少加附子、杜仲亦可。</p>
<h4>舟車丸</h4>
<p>黑牽牛四兩（炒）　大黃二兩（酒浸）　甘遂（面裹煨）　大戟（面裹煨）　淨芫花（醋炒）　青皮（炒）　橘紅一兩　木香五錢　輕粉一錢水丸。</p>
<p>仲景十棗湯，已極峻厲，此更厲而加厲，縱形氣俱實，豈能堪此。予謂此等症全是陰結，非陽不通，宜用附桂兼疏肝逐水之劑。此等方法萬不可用。</p>
<h4>疏鑿飲子</h4>
<p>羌活　秦艽　檳榔　大腹皮　茯苓皮　椒目　木通　澤瀉　赤小豆　商陸等分加薑皮煎疏鑿飲，名色甚佳，用藥亦較舟車丸已輕一等，然吾見服商陸者，必然大瀉，胸腹驟寬，不逾時而復脹，萬無生理。蓋逐水自前陰而出者得生，自後陰而出者必死，學人慎之哉！</p>
<h4>實脾飲</h4>
<p>白朮（土炒）　茯苓　甘草（炙）　厚朴（薑炒）　木香　附子　大腹皮　草豆蔻　木瓜片　黑薑加薑棗煎主治條下，有色悴聲短、口不渴、二便利數語，則此症乃脾腎虛寒。當用香砂六君，合溫腎滲濕之劑。若徒事破氣利濕，色悴者不更加憔悴乎。</p>
<h4>五皮飲</h4>
<p>五加皮　地骨皮　茯苓皮　大腹皮　生薑皮此亦為水邪客於皮膚而設。以其病不在上，故不用發汗逐水之法，而但利小便也。</p>
<h4>麥門冬湯</h4>
<p>麥門冬五十枚（薑炒）　粳米五十粒麥門冬湯，解之者多談玄理，予則謂初起便見喘滿，則明是清肅之令不能下行，故水溢高原也。擬以桑白皮、栝蔞皮、苡仁米等代之，亦未為不可。</p>
<h4>羌活勝濕湯</h4>
<p>羌活　獨活一錢　川芎　本　防風　甘草（炙）五分　蔓荊子三分此為治在表之濕，故獨用風藥。關節利則濕除矣，且屬外來之淺恙，本不在健運分消之例。</p>
<h4>中滿分消丸</h4>
<p>厚朴（炒）一兩　枳實（炒）　黃連（炒）　黃芩（炒）　半夏（薑製）五錢　陳皮　知母（炒）四錢　澤瀉三錢　茯苓　砂仁二錢　乾薑二錢　薑黃　人參　白朮（炒）　甘草（炙）</p>
<p>豬苓一錢蒸餅丸，焙熱服。</p>
<p>中滿分消丸，解者謂治熱脹，此不過脾胃失職，積濕所化之熱耳，並非實火也。若有實火，則水氣安得橫行，濁陰豈得復盛乎？惟其寓補脾胃之法於分消解散之中，不傷元氣，極為正法。</p>
<h4>中滿分消湯</h4>
<p>川烏　乾薑　生薑　黃連　人參　當歸　澤瀉　青皮　麻黃　蓽澄茄　柴胡二錢　吳茱萸草蔻仁　厚朴　黃　黃柏五分　益智仁　木香　半夏　茯苓　升麻三分熱服。</p>
<p>此方於大隊溫補中，用黃連、黃　，所謂從權以寒熱藥下之也。於中又升散，又分利，雖屬開鬼門，潔淨府之法，究竟歧路太多矣。</p>
<h4>大橘皮湯</h4>
<p>滑石六錢　甘草一錢　赤茯苓一錢　豬苓　白朮（土炒）　澤瀉　桂五分　陳皮一錢五分木香　檳榔三分加薑煎，每服五錢利小便，即所以實大腸，使小腸之水滲入膀胱，而不入大腸，則五苓散中肉桂一味尤為得力也。</p>
<h4>茵陳蒿湯</h4>
<p>茵陳六兩　大黃二兩（酒浸）　梔子十四枚（炒）</p>
<p>凡發黃症，二便不利者，用大黃；若二便如常，當去大黃用黃連；至寒濕陰黃，則又當於分利中用熱藥矣。</p>
<h4>八正散</h4>
<p>車前子　木通　瞿麥　蓄　甘草梢　梔子（炒黑）　滑石　大黃加燈草煎。</p>
<p>此方治實火下注小腸、膀胱者則可。若陰虛夾濕火之體，便當去大黃，加天冬、丹參、丹皮</p>
<h4>萆釐清飲</h4>
<p>川萆　石菖蒲　烏藥　益智仁等分　甘草梢　減半入鹽，食前服。</p>
<p>凡淋症，皆由於濕熱，小便頻數，其為腎虛夾熱可知，但當於滋腎中加清利之藥。若烏藥、益智仁之溫澀，是反行禁錮而非釐清。解者謂此以疏泄為禁止，吾不謂然。</p>
<h4>琥珀散</h4>
<p>滑石二錢　琥珀　木通　蓄　木香　當歸　鬱金（炒）一錢為末服。</p>
<p>上焦之熱下注小腸、膀胱，精道與溺道混淆，故成淋症。此於清利中少加氣藥，以釐清濁，</p>
<h4>防己飲</h4>
<p>防己　木通　檳榔　生地（酒炒）　川芎（炒）　白朮（炒）　蒼朮（鹽炒）　黃柏（酒炒）　甘草梢　犀角食前服。</p>
<p>濕熱為病，不宜調補，亦不宜攻下。此方於健脾燥濕中，寓滋陰涼血之法，最為合度。</p>
<h4>當歸拈痛方</h4>
<p>茵陳（酒炒）　羌活　防風　升麻　葛根　蒼朮　白朮　甘草（炙）　黃芩（酒炒）　苦參（酒炒）　知母（酒炒）　當歸　豬苓　澤瀉空心服疏風所以勝濕，健脾所以滲濕，通小便所以利濕。上下中三焦之濕盡去，則熱亦解散，而遍身之痛止矣。此不治痛，而痛自止之法也。</p>
<h4>禹功散</h4>
<p>黑牽牛四兩　茴香一兩（炒）</p>
<p>為末，每一錢薑汁調下。</p>
<p>此方峻猛，不可輕用。</p>
<h4>升陽除濕防風湯</h4>
<p>蒼朮（泔浸）四錢　防風二錢　茯苓　白朮　芍藥一錢薑棗煎。</p>
<p>但升陽實脾，而濁陰自化，尤妙在不用升麻，最為的當。</p>
<h3>潤燥之劑</h3>
<h4>瓊玉膏</h4>
<p>地黃四斤　茯苓十二兩　人參六兩　白蜜二斤先將地黃熬汁，去渣，入蜜煉稠，再將參苓為末，和入磁罐封，水煮半日，白湯化服。</p>
<p>燥者，燥烈也，不能滋潤也。喻嘉言作涼字解，予於《醫醇剩義》中已詳論之。如瓊玉膏之潤燥亦善策也，人參、地黃氣血並補，金水相生；又加茯苓以寧心而補土，則水升火降，而</p>
<h4>炙甘草湯</h4>
<p>甘草（炙）四兩　生薑　桂枝三兩　人參　阿膠（蛤粉炒）二兩　生地黃一斤　麥冬（去心）　麻仁半斤（研）　大棗十二枚水、酒各半煎。內阿膠烊化服。</p>
<p>或疑薑桂之辛溫，恐不可以潤燥，不知此方仲景原為傷寒脈結代，余邪未解者而設。故溫散與清潤並行，使外邪清，則正氣醒，而血脈復也。</p>
<h4>麥門冬湯</h4>
<p>麥門冬七升　半夏一升　人參三兩　甘草二兩　大棗十二枚　粳米三合半夏之性，用入溫燥藥中則燥，用入清潤藥中，則下氣而化痰。胃氣開通，逆火自降，與徒用清寒者，真有霄壤之別。</p>
<h4>活血潤燥生津湯</h4>
<p>當歸　白芍　熟地一錢　天冬　麥冬　栝蔞各八分　桃仁（研）　紅花五分生津養血，本潤燥之正法。但桃仁、紅花雖云活血，恐其破血耳。</p>
<h4>清燥湯</h4>
<p>黃　一錢五分　蒼朮（炒）一錢　白朮（炒）　陳皮　澤瀉五分　人參　茯苓　升麻三分當歸（酒洗）　生地　麥冬　甘草（炙）　神麯（炒）　黃柏（酒炒）　豬苓二分　柴胡黃連（炒）一分　五味子九粒每服五錢方名清燥湯，而所用之藥，乃有二朮、陳皮、黃柏、神麯等。以此清燥，非抱薪救火乎？不知此症之要，全在肺金受濕熱之邪一語。蓋熱為積濕所化，濕不去則熱不清，徒用清滋，留濕即以留熱，故毅然用燥濕之品，使濕去而熱亦清，此其所以為清燥乎？</p>
<h4>滋燥養榮湯</h4>
<p>當歸（酒洗）一錢　生地　熟地　芍藥（炒）　黃芩（酒炒）　秦艽一錢　防風　甘草五分若大便風秘，便可用秦艽、防風；若大便如常，便當減去。風藥善走與火鑠肺金不宜。</p>
<h4>搜風順氣丸</h4>
<p>大黃（九蒸九晒）五兩　火麻仁　郁李仁（去皮）　山藥（酒蒸）　山茱肉　車前子　牛膝（酒蒸）二兩　菟絲子（酒洗）　獨活　防風　檳榔　枳殼（麩炒）一兩蜜丸。</p>
<p>此不過因大腸秘結，以之潤腸通氣耳，乃本方自注：「久服則可百病皆除。」安有大黃、檳榔之峻下，而可以常服者乎？</p>
<h4>潤腸丸</h4>
<p>大黃　歸尾　羌活五錢　桃仁（研）　火麻仁（去殼）一兩蜜丸。</p>
<p>此以通為潤，非專於清潤也。伏火燥結，得滌蕩而始清，不待潤而燥自除矣。</p>
<h4>通幽湯</h4>
<p>當歸身　升麻　桃仁（研）　紅花　甘草（炙）一錢　生地黃　熟地五分雖云病在幽門，亦無專治幽門之藥，不外調和氣血，開通胃府，清升濁降，而上下自安。</p>
<p>惟不用香燥攻下，最為有識。</p>
<h4>韭汁牛乳飲</h4>
<p>韭菜汁　牛乳等分，時時呷之。</p>
<p>韭汁祛瘀生新，又能開通胃氣；牛乳補血潤燥，兼通大腸。不用辛熱，劫陰傷津，洵為良法。</p>
<h4>黃湯</h4>
<p>黃　熟地　芍藥　五味子　麥冬三兩　天冬　人參　甘草三錢　茯苓一兩每服三錢。加烏梅、薑、棗煎。</p>
<p>氣血並補，斂陰生津，極為有力。惟方既有五味，不必再加烏梅。</p>
<h4>消渴方</h4>
<p>黃連　天花粉　生地汁　藕汁　牛乳將黃連、花粉為末調服。</p>
<p>治胃熱消渴，無花粉宜重用，黃連當用胡連，蓋川連但能瀉心火，生津止渴不如胡連之為佳也。</p>
<h4>地黃飲子</h4>
<p>人參　黃　（蜜炙）　甘草（炙）　生地　熟地　天冬　麥冬　枇杷葉（蜜炙）　石斛　澤瀉枳殼（麩炒）</p>
<p>等分，每服三錢。</p>
<p>此方妙處在清金潤肺，以益水之源；又有澤瀉、枳殼以泄鬱熱。斯渴止而煩躁亦除矣。</p>
<h4>白茯苓丸</h4>
<p>茯苓　黃連　花粉　萆　熟地　人參　覆盆子　玄參一兩　石斛　蛇床子七錢五分雞　三十具蜜丸，磁石湯送下。</p>
<p>金水俱傷，方成下消。蛇床子燥烈如火，萬不可用，即雞　之消導、磁石之鎮墜，皆非此症所宜。</p>
<h4>桑白皮等汁十味煎</h4>
<p>桑白皮一斤　地骨皮三斤（合煎）　生地汁五升　麥冬汁二升　生葛根汁　竹瀝三升　生薑汁　白蜜一升　棗膏一升　牛酥三合頗有清肺化痰、除熱止咳之力。但久虛者恐其滑腸。或再加茯苓、懷藥、苡仁等，培土正以生金也。</p>
<h4>治久嗽方</h4>
<p>白蜜二斤　生薑二斤（取汁）</p>
<p>先秤銅銚，知斤兩訖，納蜜、薑汁，微火熬，令薑汁盡，惟有蜜斤兩在則止，每含如棗大一丸，日三服。</p>
<p>肺有伏寒，久咳不止者可用。若陰虛者不宜。</p>
<h4>豬膏酒</h4>
<p>豬脂　薑汁各二升（熬取三升，再入酒）　酒五合分三服。</p>
<p>不過有此一法耳，若欲以此取效，吾恐其不能也。</p>
<h4>麻仁蘇子粥</h4>
<p>火麻仁　紫蘇子等分洗淨，合研，再用水研取汁煮粥啜。</p>
<p>氣血虧虛，不可通利，惟此潤導之法最宜。</p>
<h2>卷四</h2>
<h3>瀉火之劑</h3>
<h4>黃連解毒湯</h4>
<p>黃連　黃芩　黃柏　梔子各等分此治實邪實火、表裡俱盛之劑。故用黃芩瀉肺火，黃連瀉心火，黃　瀉腎火，又用梔子，令上焦之熱邪委婉而下。三焦通治，藥力頗峻。若表裡俱熱、胸痞、便秘、譫語者，便當去去而熱亦退。須細辨之。</p>
<h4>附子瀉心湯</h4>
<p>大黃一兩　黃連　黃芩一兩　附子一枚（去皮）</p>
<p>傷寒痞滿，在心胸而不在胃，故用三黃以瀉痞而去熱；然惡寒、汗出、陽氣亦虛，故用附子溫腎固陽。寒熱並用，各有精義，非仲景其孰能之。</p>
<h4>半夏瀉心湯</h4>
<p>半夏半升　黃連一兩　黃芩　甘草（炙）　人參　乾薑三兩　大棗十二枚此為誤下胸痞而設。陽邪鬱於上焦，既不能下，又不能仍從毛竅而出，惟有苦寒瀉熱之法，方能消痞解邪。而又恐陽邪既去，濁陰上干，故於清瀉中參入辛溫，以預截後患，此所以為</p>
<h4>白虎湯</h4>
<p>石膏一斤　知母六兩　甘草二兩　粳米六合先煮石膏數十沸，再投藥、米。米熟湯成，溫服。</p>
<p>同一石膏也，合麻黃用之，則為青龍；合知母用之，則為白虎。一則欲其興云致雨以解外邪；一則欲其清肅肺胃，蕩滌內熱，義各有當也。然用此方者，必須審而又審，自汗而渴，脈大有力，數者咸備，方可與之。若一誤投，禍不旋踵。蓋緣此症為濕熱鬱蒸，故有汗而煩熱不解。既有汗，故不可表，表則陽脫；亦不可下，下則耗陰。惟有大清肺衛之熱為正法也。</p>
<h4>竹葉石膏湯</h4>
<p>竹葉二把　石膏一斤　人參三兩　甘草（炙）二兩　麥冬一斤　半夏半升　粳米半升加薑煎。</p>
<p>治肺胃虛熱，故加人參、麥冬，加竹葉者，恐虛陽內犯胞絡也。</p>
<h4>升陽散火湯</h4>
<p>柴胡八錢　防風二錢五分　葛根　升麻　羌活　獨活　人參　白芍五錢　炙甘草三錢生甘草三錢每服五錢。加薑、棗煎。</p>
<p>郁結之火，逆而折之，則其勢愈激而上升。此則全用風藥解散，蓋火得風力而升，亦因風力</p>
<h4>涼膈散</h4>
<p>連翹四兩　大黃（酒浸）　芒硝　甘草二兩　梔子（炒黑）　黃芩（酒炒）　薄荷一兩為末，每服三錢。加竹葉，生蜜煎。</p>
<p>解此方者，但云此上、中二焦瀉火之藥。既下焦無病，豈得輕用芒硝？觀仲景三承氣湯，邪在上者，不用芒硝可知也。殊不知主治條下有「大小便秘」一語，則下焦安得不並治乎？</p>
<h4>當歸龍薈丸</h4>
<p>當歸（酒洗）　龍膽草（酒洗）　梔子（炒黑）　黃連（炒）　黃柏（炒）　黃芩（炒）</p>
<p>一兩大黃（酒浸）　青黛（水飛）　蘆薈五錢　木香二錢　麝香五分蜜丸，薑湯下。</p>
<p>苦寒之至，無以復加，此等峻劑，豈可輕試？予意去三黃二香，庶幾可用耳。</p>
<h4>龍膽瀉肝湯</h4>
<p>龍膽草（酒炒）　黃芩（炒）　梔子（酒炒）　澤瀉　當歸（酒炒）　車前子　木通　生地（酒炒）　柴胡　生甘草肝膽火盛，濕熱鬱蒸者，此方為宜。下部發病者尤妙。</p>
<h4>左金丸</h4>
<p>黃連六兩（薑汁炒）　吳茱萸一兩（鹽水炒）</p>
<p>水丸。</p>
<p>此方之妙全在苦降辛開，不但治脅痛、肝脹、吞酸、疝氣等症，即以之治時邪、霍亂、轉筋</p>
<h4>瀉青丸</h4>
<p>龍膽草　山梔（炒）　大黃（酒蒸）　川芎　當歸（酒洗）　羌活　防風等分，蜜丸。竹葉湯下。</p>
<p>肝性至剛，宜柔而不宜伐。此方但瀉肝經之鬱火則可，若以之治驚恐、筋痿等症，吾未見其</p>
<h4>瀉黃散</h4>
<p>防風四兩　藿香七錢　山梔（炒黑）一兩　石膏五錢　甘草二錢上末微炒，香酒調服。</p>
<p>有風藥以散伏火，有清藥以瀉積熱。而又用甘緩以和中，使不傷正氣，此法頗佳。</p>
<h4>清胃散</h4>
<p>生地　丹皮　黃連　當歸　升麻涼血解熱，升陽散火。胃氣清，則諸病自除矣。</p>
<h4>甘露飲</h4>
<p>生地　熟地　天冬　麥冬　石斛　茵陳　黃芩　枳殼　枇杷葉　甘草等分每服五錢。</p>
<p>治胃虛發熱，兼有血症者則可。若積濕化熱，又無血症者，當去地黃，加花粉、茯苓等為佳。</p>
<h4>瀉白散</h4>
<p>桑白皮　地骨皮一錢　甘草五分　粳米百粒易老加黃連。</p>
<p>肺金有火，則清肅之令不能下行，故洒淅寒熱，而咳嗽喘急。瀉肺火而補脾胃，則又顧母法</p>
<h4>導赤散</h4>
<p>生地　木通　甘草梢　淡竹葉等分煎。</p>
<p>心經之火，每移於小腸，表裡相傳也。故治小腸之火，必兼清心，此為定法。</p>
<h4>蓮子清心飲</h4>
<p>石蓮肉　人參　黃　茯苓　柴胡三錢　黃芩（炒）　地骨皮　麥冬　車前子　甘草（炙）二錢空心服。</p>
<p>柴胡散肝膽之陽邪，木不助火，則心氣亦安，又有參　足以制之。故雖發熱煩渴而不相妨也。</p>
<h4>導赤各半湯</h4>
<p>黃連　黃芩　犀角　知母　山梔　滑石　甘草　茯神　麥冬　人參加燈心、薑、棗煎。</p>
<p>越經症乃心經之熱邪，上而通肺，本與小腸無關，其必兼瀉小腸者，欲令上焦之邪俱從小腸出也。</p>
<h4>普濟清毒飲</h4>
<p>黃芩（酒炒）　黃連（酒炒）五錢　陳皮（去白）　甘草（生用）　玄參二錢　連翹　板藍根　馬勃　鼠黏子　薄荷一錢　僵蠶　升麻七分　柴胡　桔梗二錢為末，湯調，時時服之。</p>
<p>天行癘氣，最為酷烈。病在上焦者，天氣中人，必於上也。此方清熱解毒，祛癘疫之氣最為精當。</p>
<h4>清震湯</h4>
<p>升麻　蒼朮五錢　荷葉一枚雷頭風者，本風陽上擾之症，故宜升散而不宜清寒。</p>
<h4>紫雪</h4>
<p>黃金百兩　寒水石　石膏　滑石　磁石（水煮）三斤　（搗，煎去渣，入後藥）　升麻　玄參甘草（炙）半斤　犀角　羚羊角　沉香　木香五兩　丁香一兩（並搗挫，入前藥汁中煎，去渣，入後藥）　朴硝　硝石各一斤（提淨入前藥汁中，微火煎，不住手將柳木攪，候汁欲凝，再入後藥）辰砂三兩（研細）　麝香一兩二錢（研細入前藥拌勻）</p>
<p>合成退火氣。冷水調服，每一二錢。</p>
<p>清火解毒。清神辟穢，色色俱備，治溫疫熱毒瘴氣極佳。</p>
<h4>人參清肌散</h4>
<p>人參　白朮　茯苓　甘草（炙）　當歸　赤芍　柴胡　干葛　半夏曲加薑、棗煎。</p>
<p>四君以補氣，歸芍以養血，營衛調則虛煩自退。加柴葛者，因潮熱無汗，欲使陽明之邪從肌表出也。</p>
<h4>白朮除濕湯</h4>
<p>人參　赤茯苓　甘草（炙）　柴胡五錢　白朮一兩　生地黃　地骨皮　知母　澤瀉七錢每服五錢。</p>
<p>濕勝必化熱，重陰生陽也。此方名曰「除濕」，而清熱之法悉寓乎其中，此真善於清熱者。</p>
<h4>清骨散</h4>
<p>銀柴胡一錢五分　胡黃連　秦艽　鱉甲（童便炙）　地骨皮　青蒿　知母二錢　甘草（炙）五分病至骨蒸勞熱，全是有陽無陰矣。大劑養血尚恐不及，徒用清涼，豈能有濟。且反傷胃氣，非善治也。</p>
<h4>石膏散</h4>
<p>石膏研細，每夕新汲水服方寸匕，取熱退為度。</p>
<p>石膏非可常服之物，前哲雖有是方，吾不取也。</p>
<h4>二母散</h4>
<p>知母（炒）　貝母（炒）</p>
<p>等分，為末服。古方二母各一兩，加巴霜十粒，薑三片，臨臥白湯嚼服。</p>
<p>但用二母，力亦淺薄，古方加巴霜十粒，尤為不倫。</p>
<h4>利膈湯</h4>
<p>薄荷　荊芥　防風　桔梗　甘草　人參　牛蒡子（炒）</p>
<p>等分為末，每服二錢，或加僵蠶。</p>
<p>痰火閉塞，故成咽痛，寒涼遏抑，益之病耳。此用輕清解散之法，全不用寒涼，最為妙法。</p>
<h4>甘桔湯</h4>
<p>甘草二兩，桔梗一兩，或等分。</p>
<p>甘、桔二味，為咽喉必用之藥。至於加味之法，則當隨症而施。</p>
<h4>玄參升麻湯</h4>
<p>玄參　升麻　甘草各等分玄參清上焦浮游之火，升麻升陽而解毒，甘草清熱而解毒。藥只三味，簡而能到。</p>
<h4>消斑青黛飲</h4>
<p>青黛　黃連　犀角　石膏　知母　玄參　梔子　生地　柴胡　人參　甘草加薑、棗煎。</p>
<p>消毒化斑，頗為有力。若實火熾盛，則地黃、人參尚宜酌減。</p>
<h4>玉屑無憂散</h4>
<p>玄參　黃連　荊芥　貫眾　茯苓　甘草　山豆根　砂仁　滑石五錢　硼砂　寒水石三錢為末，每一錢先挑入口，徐以清水咽下。</p>
<p>此治實火、實痰之重劑。若虛火聚於咽喉，閉結不通者，萬不可用。</p>
<h4>香連丸</h4>
<p>黃連二十兩（吳茱萸十兩同炒，去茱萸用）　木香四兩八錢醋糊丸，米飲下。</p>
<p>裡急後重者，氣不通也，此亦苦降辛開之法。</p>
<h4>白頭翁湯</h4>
<p>白頭翁二兩　秦皮　黃連　黃柏三兩香連丸治氣分不通之後重，此則治熱傷營血之後重，故但清降而不用氣分藥。</p>
<h4>腎熱湯</h4>
<p>磁石（　紅）　牡蠣（鹽水煮）　白朮（炒）五兩　麥冬　芍藥四兩　甘草一兩　生地汁蔥白　大棗十五枚分三服。</p>
<p>清寒重鎮，所以斂陰退火，加以健脾和胃，故為有制之師。</p>
<h4>辛夷散</h4>
<p>辛夷　白芷　升麻　本　防風　川芎　細辛　木通　甘草等分為末，每服三錢，茶調下。</p>
<p>辛散太過，疏風散寒則宜之，非瀉火門中之法。</p>
<h4>蒼耳散</h4>
<p>白芷一兩　薄荷　辛夷五兩　蒼耳子（炒）二錢五分為末，食前蔥茶湯調下二錢。</p>
<p>鼻淵一症有為火爍，有為風乘，有為寒侵，種種不同。此但可施於風乘者耳，亦非瀉火門中之法也。</p>
<h3>除痰之劑</h3>
<h4>二陳湯</h4>
<p>半夏（薑製）二錢　陳皮（去白）　茯苓一錢　甘草五分加薑煎。</p>
<p>痰之為病最烈，痰之為病亦最多。積濕與鬱火二者為生痰之大源。其余或因風，或因寒，或因氣，或因食，變怪百出，隨感而生，難可枚舉。治痰大法，濕則宜燥，火則宜清，風則宜散，寒則宜溫，氣則宜順，食則宜消。二陳湯為治痰之主藥，以其有化痰理氣、運脾和胃之功也。學人隨症加減，因病而施，則用之不窮矣。</p>
<h4>潤下丸</h4>
<p>廣陳皮（去白）八兩（鹽水浸洗）　甘草二兩（蜜炙）</p>
<p>蒸餅糊丸。</p>
<p>此治痰而兼停飲者。</p>
<h4>桂苓甘術湯</h4>
<p>茯苓四兩　桂枝　白朮二兩　甘草一兩此治痰而兼有風者。</p>
<h4>清氣化痰丸</h4>
<p>半夏（薑製）　膽星一兩五錢　橘紅　枳實（麩炒）　杏仁（去皮尖）　栝蔞仁（去油）</p>
<p>黃芩（酒炒）　茯苓一兩薑汁糊丸，淡薑湯下。</p>
<p>此治痰而兼有火者。</p>
<h4>順氣消食化痰丸</h4>
<p>半夏（薑製）　膽星一斤　青皮　陳皮（去白）　萊菔子（生用）　蘇子（炒）　山楂（炒）　麥芽（炒）　神麯（炒）　杏仁（去皮尖，研）　葛根　香附（制）各一兩薑汁糊蒸餅為丸。</p>
<p>此治痰而兼有食者。</p>
<h4>清肺飲</h4>
<p>杏仁（去皮尖）　貝母　茯苓一錢　桔梗　五味子　甘草　橘紅五分加薑煎。</p>
<p>此治痰而兼有濕火者。</p>
<h4>金沸草散</h4>
<p>旋覆花　前胡　細辛一錢　荊芥一錢五分　半夏五分　赤茯苓六分　甘草（炙）三分加薑、棗煎。</p>
<p>此治痰而兼疏風者。</p>
<h4>百花膏</h4>
<p>百合　款冬花等分蜜丸。</p>
<p>此治痰而兼清熱者。</p>
<h4>三仙丹</h4>
<p>南星曲　半夏曲四兩　香附二兩糊丸。</p>
<p>此治痰而兼理氣者。</p>
<h4>半夏天麻白朮湯</h4>
<p>半夏（薑製）　麥芽一錢五分　神麯（炒）　白朮（炒）一錢　蒼朮（泔浸）　人參　黃（蜜製）　陳皮　茯苓　澤瀉　天麻五分　乾薑三分　黃柏二分（酒洗）</p>
<p>每服五錢。</p>
<p>此治痰而兼熄風者。</p>
<h4>茯苓丸</h4>
<p>半夏曲一兩　茯苓一兩（乳拌）　枳殼五錢（麩炒）　風化硝二錢五分薑汁糊丸。</p>
<p>此治痼結之頑痰，非大實者不可輕投。</p>
<h4>控涎丹</h4>
<p>甘遂（去心）　大戟（去皮）　白芥子等分為末糊丸，臨臥薑湯服。</p>
<p>此治痰而兼逐水者，亦不可輕用。</p>
<h4>三子養親湯</h4>
<p>紫蘇子　白芥子　萊菔子各微炒研煎服。</p>
<p>此治痰而兼降氣者。</p>
<h4>滌痰湯</h4>
<p>半夏（薑製）　膽星二錢五分　橘紅　枳實　茯苓二錢　人參　菖蒲一錢　竹茹七分　甘草五分加薑煎。</p>
<p>此治痰而兼去風清心者。</p>
<h4>礞石滾痰丸</h4>
<p>青礞石一兩　沉香五錢　大黃（酒蒸）　黃芩八兩上將礞石打碎，用朴硝一兩同入瓦罐，鹽泥固濟，晒乾，火　，研末，和諸藥水丸。</p>
<p>此治實痰實火者。</p>
<h4>牛黃丸</h4>
<p>膽星　全蠍（去足焙）　蟬蛻二錢五分　牛黃　白附子　僵蠶（洗焙）　防風　天麻一錢五分　麝香五分煮棗肉和水銀五分細研，入藥末為丸，荊芥薑湯下。</p>
<p>此治痰而兼熄風清心者。</p>
<h4>辰砂散</h4>
<p>辰砂一兩　乳香　棗仁五錢溫酒調下。</p>
<p>此治痰而兼定驚者。</p>
<h4>白金丸</h4>
<p>白礬三兩　鬱金七兩　薄荷糊丸。</p>
<p>此治痰而兼解鬱者。</p>
<h4>青州白丸子</h4>
<p>白附子（生用）　南星（生用）二兩　半夏（水浸生衣，生用）一兩　川烏（去皮臍生用）五錢為末，絹袋盛之，水擺出粉。未盡，再搖再擺，以盡為度。貯磁盆，日晒夜露，春五日、夏三日、秋七日、冬十日。晒乾，糯米糊丸如綠豆大，每服二十丸，薑湯下。</p>
<p>此治痰而兼祛風者。</p>
<h4>星香散</h4>
<p>膽星八錢　木香二錢為末服。</p>
<p>此治痰而兼行氣者。</p>
<h4>常山飲</h4>
<p>常山（燒酒炒）二錢　草果（煨）　檳榔　知母　貝母一錢　烏梅二個　薑三片　棗一枚半酒半水煎，露一宿，日未出時，面東空心溫服。</p>
<p>此治痰而兼分陰陽者。瘧不可截，用此方者，每貽後患，大率邪伏於內，脾氣受傷，致成脹滿者多矣。</p>
<h4>截瘧七寶飲</h4>
<p>常山（酒炒）　草果（煨）　檳榔　青皮　厚朴　陳皮　甘草等分，用酒水各一鐘煎熟，絲棉蓋之，露一宿，於當發之早，面東溫服。</p>
<p>較前方之用知母、烏梅者稍可，然亦非正法也。</p>
<h3>消導之劑</h3>
<h4>平胃散</h4>
<p>蒼朮（泔浸）二錢　厚朴（薑炒）　陳皮（去白）　甘草（炙）一錢加薑棗煎。</p>
<p>人非脾胃無以養生。飲食不節，病即隨之。多食辛辣則火生，多食生冷則寒生，多食濃濃則痰濕俱生。於是為積聚，為脹滿，為瀉痢，種種俱見。平胃散乃治脾胃之聖劑，利濕化痞，消脹和中，兼治時疫瘴氣，燥而不烈，故為消導之首方</p>
<h4>枳朮丸</h4>
<p>白朮三兩（土蒸）　枳實一兩（麩炒）</p>
<p>為末，荷葉包陳米飯煨干為丸。</p>
<p>一補脾，一去實，簡當有法，勿以其平易而忽之。</p>
<h4>保和丸</h4>
<p>山楂三兩　神麯（炒）　茯苓　半夏一兩　陳皮　萊菔子（微炒）　連翹五錢曲糊丸，麥芽湯下。</p>
<p>此亦和中消導之平劑，惟連翹一味可以減去。</p>
<h4>健脾丸</h4>
<p>人參　白朮（土炒）二兩　陳皮　麥芽（炒）一兩　枳實三兩　山楂一兩五錢神麯糊丸，米飲下。</p>
<p>此乃補中用消之法，正其善於用補也。否則滯濁之氣不清，縱有補劑必且格而不入矣。</p>
<h4>枳實消痞丸</h4>
<p>枳實（麩炒）　黃連（薑汁炒）五錢　厚朴（薑炒）四錢　半夏曲　麥芽（炒）　人參　白朮（土炒）甘草（炙）　茯苓三錢　乾薑二錢蒸餅糊丸。</p>
<p>此方佳處全在薑連，苦辛便能平木，否則全不關照肝經。主治條下：「右關脈弦」一語，其</p>
<h4>痞氣丸</h4>
<p>黃連八錢　厚朴五錢　吳茱萸三錢　白朮（土炒）　黃芩二錢　茵陳（酒炒）　乾薑（炮）</p>
<p>砂仁一錢五分　人參　茯苓一錢　澤瀉一錢　川烏（炮）　川椒（炒）五錢　桂　巴豆霜四分蜜丸，燈草湯下。</p>
<p>攻補兼行，而又苦辛開降，頗有意義。惟川烏、巴霜則斷不可用。</p>
<h4>葛花解酲湯</h4>
<p>葛花　豆蔻　砂仁一錢　木香一分　青皮　陳皮　人參白朮（炒）　茯苓四分　神麯（炒）　乾薑　豬苓　澤瀉三分補脾利濕，又兼快胃，故能治吐瀉痞滿等症。用葛花者，所以解酒毒。</p>
<h4>鱉甲飲</h4>
<p>鱉甲（醋炙）　白朮（土炒）　黃　芎　白芍（酒炒）　檳榔　草果（面煨）　厚朴陳皮　甘草等分，薑三片、棗一枚、烏梅少許煎。</p>
<p>此亦攻補並行之劑。但欲去瘧母，故以鱉甲為君耳。</p>
<h3>收澀之劑</h3>
<h4>赤石脂禹餘糧湯</h4>
<p>赤石脂　禹餘糧等分　杵碎煎。</p>
<p>利在下焦者，小腸之水不從膀胱化出也。故仲景有「服此湯，復利不止，當利其小便」</p>
<p>之訓。</p>
<h4>桃花湯</h4>
<p>赤石脂一斤　乾薑一兩　粳米一升病在下焦，腎藏虛寒。下利膿血，不由傳經，亦非協熱。故用收澀而兼甘溫，乃仲景之變例也。</p>
<h4>訶子飲</h4>
<p>御米（去蒂，蜜炒）五分　訶子（去核）七分　乾薑（炮）六分　橘紅五分上末，空心服。</p>
<p>粟殼、訶子，性皆寒澀，故用乾薑、橘皮以通陽。此從桃花湯化出。</p>
<h4>真人養臟湯</h4>
<p>罌粟殼（去蒂，炙）三兩六錢　訶子（面裹，煨）一兩三錢　木香二兩四錢　肉豆蔻（面裹，煨）五兩　肉桂八錢　人參　白朮（炒）　當歸六錢　白芍（炒）　一兩六錢　生甘草一兩八錢每服四錢。</p>
<p>此亦澀中寓溫之法，加入補氣補血之藥，於久病正虛者尤宜。</p>
<h4>當歸六黃湯</h4>
<p>當歸　生地　熟地　黃芩　黃柏　黃連等分，黃　加倍。</p>
<p>此氣血平補，而兼瀉火之劑。並無澀藥，不宜收入澀門。</p>
<h4>牡蠣散</h4>
<p>牡蠣（　研）　黃　麻黃根一錢　浮小麥百粒煎服。</p>
<p>固表清煩，即以止汗，此法是也。</p>
<h4>柏子仁丸</h4>
<p>柏子仁（炒研，去油）二兩　人參　白朮　半夏　五味子　牡蠣　麻黃根一兩　麥麩五錢棗肉丸，米飲下五十丸，日三服。</p>
<p>養心陰而實肌表，故能補虛止汗。</p>
<h4>茯菟丹</h4>
<p>菟絲子十兩　五味子八兩　石蓮肉　白茯苓三兩　山藥六兩將菟絲子用酒浸，浸過余酒煮山藥糊為丸。</p>
<p>亦補腎澀精之平劑，腎氣虛寒者可用。若有火者，則菟絲尚宜酌易。</p>
<h4>治濁固本丸</h4>
<p>蓮須　黃連二兩　黃柏　益智仁　砂仁　半夏（薑製）　茯苓一兩　豬苓二兩　甘草（炙）三兩寓澀於利，用意甚佳。濕熱不去則濁無止時，徒用澀藥反致敗精塞竅矣。</p>
<h4>水陸二仙丹</h4>
<p>金櫻膏（熬膏）一斤　芡實一斤（蒸熟為粉）</p>
<p>和丸。</p>
<p>亦能澀精固氣，但力量甚薄　尚須加味。</p>
<h4>金鎖固精丸</h4>
<p>沙苑蒺藜（炒）　芡實（蒸）　蓮須二兩　龍骨（酥炙）　牡蠣（鹽水煮一日一夜，粉）一兩蓮子粉為糊丸。</p>
<p>潛陽納氣，火不動則精宮自固矣。</p>
<h4>人參樗皮散</h4>
<p>人參　樗根白皮（東引者，去粗皮，醋炒）</p>
<p>等分為末，米飲或酒調下。</p>
<p>日久血虛濕退者方可。若濕熱尚重，則留邪為害。</p>
<h4>桑螵蛸散</h4>
<p>人參　茯苓　遠志　石菖蒲（鹽炒）　桑螵蛸（鹽炒）　龍骨（　）　龜板（酥炙）　當歸等分為末。臨臥服二錢，人參湯下。</p>
<p>交通心腎，去虛熱而固精，此方最佳。</p>
<h3>殺蟲之劑</h3>
<h4>烏梅丸</h4>
<p>烏梅三百個　細辛　桂枝　人參　附子（炮）　黃柏六兩　黃連一斤　乾薑十兩　川椒當歸四兩苦酒浸烏梅一宿，去核蒸熟，和藥蜜丸。</p>
<p>蟲無濕不生，觀腐草為螢可知也。殺蟲之中兼燥濕利濕之法，非深達本源者能之乎？</p>
<h4>集效丸</h4>
<p>大黃（炒）一兩五錢　鶴虱（炒）　檳榔　訶子皮　木香　蕪荑（炒）　乾薑（炒）　附子七錢五分蜜丸，食前烏梅湯下。婦人醋湯下。</p>
<h4>雄檳丸</h4>
<p>雄黃　檳榔　白礬等分飯丸，每五分食遠服藥性稍烈，虛人忌之。</p>
<h4>化蟲丸</h4>
<p>鶴虱　胡粉　苦楝根（東引，未出土者）　檳榔一兩　蕪荑　使君子五錢　枯礬二錢五分為末酒煮面糊作丸，量人大小服之。</p>
<p>亦是殺蟲之法，但不如前二方之為佳。</p>
<h4>使君子丸</h4>
<p>使君子（去殼）二兩　南星（薑製）　檳榔一兩上藥合炒。如食生米，用麥芽一斤炒；食茶葉，用茶葉炒；食炭土，用炭土炒。取藥為末，蜜丸。每晨沙糖水送下。</p>
<p>於殺蟲之中，從其類而餌之，治法殊妙。</p>
<h4>獺肝丸</h4>
<p>獺肝一具，陰乾為末。水服二錢，日三次。</p>
<p>以幽通幽，而又能隨月盈縮，故獨為靈異。</p>
<h4>消渴殺蟲方</h4>
<p>苦楝根，取新白皮一握，切、焙，入麝香少許煎，空心服。</p>
<p>蟲病消渴，症不常有，麝香尤屬非宜。</p>
<h3>明目之劑</h3>
<h4>滋陰地黃丸</h4>
<p>熟地一兩　生地一方一兩五錢，一方七錢五分　柴胡八錢　黃芩（酒炒）　當歸（酒洗）</p>
<p>五錢　天冬　地骨皮　五味子三錢　人參二錢　黃連（酒炒）三錢　甘草（炙）　枳殼（麩炒）二錢蜜丸。</p>
<p>養陰補血，兼清風火。用五味子所以收耗散之氣而使瞳神復舊也。</p>
<h4>加減駐景丸</h4>
<p>枸杞子　五味子　車前子（炒）二兩　楮實子　川椒（炒）一兩　熟地　當歸五兩　菟絲子八兩（酒浸）</p>
<p>蜜丸酒下。</p>
<p>方法甚佳，惟川椒一味辛辣耗氣，必須減去。</p>
<h4>定志丸</h4>
<p>遠志　菖蒲二兩　人參　茯苓一兩蜜丸，朱砂為衣。張子和方無菖蒲，加茯神、柏子仁、棗仁亦名定志丸。酒糊丸。</p>
<p>定志丸，以張子和之所加者為佳。</p>
<h4>地芝丸</h4>
<p>生地（焙）　天冬四兩　枳殼（炒）　甘菊花（去蒂）二兩　蜜丸，茶清或酒下。</p>
<p>枳殼一味，並非欲其寬腸去滯，欲其合甘菊使藥力上行也。</p>
<h4>人參益胃湯</h4>
<p>黃　人參一兩　甘草（炙）八錢　白芍（炒）　黃柏（酒炒）三錢　蔓荊子二錢每四錢，日二服。</p>
<p>此方極善，但於內障一層尚少著意，加穀精、石決斯為得耳。</p>
<h4>消風養血湯</h4>
<p>荊芥　蔓荊子　菊花　白芷　麻黃　防風　桃仁（去皮尖）　紅花（酒炒）　川芎五分　當歸（酒洗）　白芍（酒炒）　草決明　石決明　甘草一錢目赤腫痛，自宜疏風清火。川芎一味辛散太過，宜減去，加蟬衣、桑葉、丹皮。</p>
<h4>洗肝散</h4>
<p>薄荷　羌活　防風　當歸　川芎　梔子　大黃　甘草（炙）</p>
<p>等分，為末，每服二錢。</p>
<p>有大黃之寒下，則川芎在所不忌。</p>
<h4>補肝散</h4>
<p>夏枯草五錢　香附一錢每服五錢，臘茶下。</p>
<p>肝無補法，養血便是補肝。此方但行氣而不養血，負此名矣。</p>
<h4>撥雲退翳丸</h4>
<p>當歸一兩五錢　川芎　地骨皮　白蒺藜　荊芥　密蒙花　甘菊花　羌活　木賊一兩　川椒一錢五分　天花粉　蔓荊子　薄荷　甘草（炙）五錢　枳實五錢　黃連　蛇蛻　蟬蛻三錢蜜丸。</p>
<p>去川椒、蛇蛻，加蕤仁、石決為宜。</p>
<h4>石膏羌活散</h4>
<p>羌活　荊芥　白芷　本　細辛　川芎　蒼朮　甘菊　密蒙花　菜子　麻子　木賊　黃芩石膏　甘草等分為末，每服一、二錢。</p>
<p>但有辛散，並無滋養，非法也。</p>
<h4>防風飲子</h4>
<p>黃連（炒）　甘草（炙）　人參一錢　當歸一錢五分　葛根　防風五分　細辛　蔓荊子三分食後服。</p>
<p>此較前方為勝，以其有人參一味也。</p>
<h4>羊肝丸</h4>
<p>夜明砂（淘淨）　蟬蛻　木賊（去節）　當歸一兩（酒洗）　羊肝四兩搗爛為丸。</p>
<p>以目入目，且能散瘀去障，故為有法。</p>
<h4>兔矢湯</h4>
<p>兔矢二錢，茶清調服。</p>
<p>兔矢一味甚有意，但需加養血藥。</p>
<h3>經產之劑</h3>
<h4>表實六合湯</h4>
<p>四物湯四兩（每味一兩）　麻黃　細辛五錢胎前有病，若至危急，方顧母而罔顧子，否則雖有外邪，必不可損傷胎氣。如此症，表實無汗，雖從太陽發表例，而必用四物，乃正法也。</p>
<h4>膠艾湯</h4>
<p>阿膠芎　甘草二兩　艾葉　當歸三兩　芍藥四兩　乾地黃六兩水五升，酒三升，煮取三升，內阿膠烊化。</p>
<p>有四物以補血，而又加膠艾以和陰陽，故為止崩漏、腹痛之良法。</p>
<h4>鉤藤湯</h4>
<p>鉤藤勾　當歸　茯神　人參一錢　桔梗一錢五分　桑寄生五分息風清火兼通筋節，妙在安養心神，所以能保胎氣。</p>
<h4>羚羊角散</h4>
<p>羚羊角（屑）一錢　獨活　防風　芎　當歸　棗仁　（炒）　茯神　杏仁　苡仁五分　木香甘草二分半加薑煎。</p>
<p>熄風清火，至為有法。若去苡仁，加貝母亦可。</p>
<h4>紫蘇飲</h4>
<p>蘇葉一錢　當歸七分　芎　芍藥　人參　陳皮　大腹皮五分　甘草二分加薑煎。腹痛加木香、延胡索。</p>
<p>胎氣上逆，自當寬中下氣。加木香者猶可，加元胡索則不可，以其破血礙胎也。</p>
<h4>天仙藤散</h4>
<p>天仙藤（即生木香藤，微炒）　香附（炒）　烏藥　陳皮　甘草（炙）</p>
<p>等分，加紫蘇三葉，木瓜、生薑各三片，空心煎服。</p>
<p>疏通血氣，兼以去風，不加利濕藥者，恐傷胎也。</p>
<h4>白朮散</h4>
<p>白朮一錢　薑皮　陳皮　茯苓皮　大腹皮五分為末，米飲下。</p>
<p>健脾和胃，使水氣從皮膚而出，故消腫而不礙裡。</p>
<h4>竹葉湯</h4>
<p>麥冬一錢五分　茯苓　黃芩一錢　人參五分　淡竹葉十片清心解煩，養正補虛，節節入解。</p>
<h4>紫菀湯</h4>
<p>紫菀　天冬一錢　桔梗五分　甘草（炙）　桑白皮　杏仁三分　竹茹二分入蜜溫服。</p>
<p>清潤肺氣，亦為平妥。</p>
<h4>參朮飲</h4>
<p>當歸　熟地　芎　芍藥　人參　白朮　甘草（炙）　陳皮　半夏加薑煎，空心服。</p>
<p>調養營衛，化痰理氣，清升濁降，則胎與胞自安矣。</p>
<h4>黑神散</h4>
<p>熟地　歸尾　赤芍　蒲黃（炒）　桂心　乾薑（炒）　甘草四兩　黑豆（炒，去皮）半升每服二錢，酒、童便各半煎。</p>
<p>此方當去熟地，加桃仁方為得力。</p>
<h4>失笑散</h4>
<p>蒲黃　五靈脂等分為末。</p>
<p>產後以去瘀為最要，此方得之。</p>
<h4>清魂散</h4>
<p>澤蘭葉　人參三分　川芎五分　荊芥一錢　甘草（炙）三分為末，溫酒調下。</p>
<p>荊芥乃治血暈之聖藥，調氣血而去外風，則神自清矣。</p>
<h4>返魂丹</h4>
<p>五月五日、六月六日或小暑日，益母草花正開時，連根采收。陰乾，用花葉及子，石臼搗末，蜜丸。或搗汁，於砂鍋內文武火熬成膏服。忌鐵。</p>
<p>祛瘀生新則有之，畢竟祛瘀之力倍於生新。產後用以祛惡露則可，若謂其有種種功效，未免譽之太過。</p>
<h4>當歸羊肉湯</h4>
<p>黃　一兩　人參　當歸三錢　生薑五錢用羊肉一斤，煮汁去肉，入前藥煎服。</p>
<p>肉血有情，補形補氣，故元氣斂而汗自收。</p>
<h4>當歸散</h4>
<p>當歸　芎　芍藥　黃芩一斤　白朮半斤為末，酒調服。</p>
<p>養營血，清血熱，健脾胃而安胎。懷孕者最宜。</p>
<h4>啟宮九</h4>
<p>芎　白朮　半夏曲　香附一兩　茯苓　神麯五錢　橘紅　甘草一錢粥丸。</p>
<p>痰塞於宮，不能孕育，故以化痰行氣之法，以通其塞。</p>
<h4>達生散</h4>
<p>當歸（酒洗）　芍藥（酒炒）　人參　白朮（土炒）　陳皮　紫蘇一錢　甘草（炙）二錢大腹皮三錢入青蔥五葉，黃楊腦子七個煎。</p>
<p>於峻補氣血中，疏通流利，使氣血不壅滯，自無留難之患。</p>
<h4>豬蹄湯</h4>
<p>豬蹄一只，通草（即木通）一兩，煮食潤而兼通，較用王不留行及甲片者為妥。</p>
<h4>人參荊芥散</h4>
<p>人參　白朮　熟地　酸棗仁　鱉甲（童便炙）　羚羊角　枳殼　柴胡　荊芥五分　防風甘草芎　當歸　桂心三分加薑煎。</p>
<p>於滋補之中用升散之法，故風去而血不傷，良劑也。</p>
<h4>柏子仁丸</h4>
<p>柏子仁（去油）　牛膝（酒浸）　卷柏各五錢　澤蘭續斷二兩　熟地一兩蜜丸，米飲下。</p>
<p>去卷柏，加當歸、丹參、茺蔚子等為佳。</p>
<h4>芎歸六君子湯</h4>
<p>當歸　芎　人參　白朮　茯苓　甘草　橘紅　半夏加薑煎。</p>
<p>行血補氣而兼消痰，則經水自無阻滯矣。</p>
<h4>連附四物湯</h4>
<p>四物湯　加香附、黃連。黃連以清血熱，香附以通厥陰，不涼不燥　最為合法。</p>
<h4>固經丸</h4>
<p>龜板（炙）四兩　芍藥（酒炒）　黃柏（酒炒）三兩　黃芩（炒）二兩　香附（童便酒炒）　樗皮（炒）一兩五錢酒丸。</p>
<p>龜板、黃柏、黃芩，多服令人絕產，此等方斷不可用。</p>
<h4>升陽舉經湯</h4>
<p>補中益氣東加白芍、黑梔子、薑三片、棗三枚煎。</p>
<p>升陽退熱，調和氣血，故亦能止崩漏。</p>
<h4>如聖散</h4>
<p>棕櫚（燒）　烏梅一兩　黑薑一兩五錢為末，每服二錢，烏梅湯下。</p>
<p>氣不攝血，當以補氣為先，截止太過，獨不慮積瘀為患乎？</p>
<h4>牡丹皮散</h4>
<p>丹皮　桂心　歸尾　延胡索三分　牛膝　赤芍　莪朮六分　三棱四分水酒各半煎。</p>
<p>祛瘀破結，本治瘕之正法，惟體弱者宜酌減。</p>
<h4>正氣天香散</h4>
<p>香附八錢　烏藥二錢　陳皮　蘇葉一錢　乾薑五分每五、六錢煎。</p>
<p>解鬱散氣，血自流行，再加當歸一味亦可。</p>
<h4>抑氣散</h4>
<p>香附四兩　陳皮二兩　茯神　甘草（炙）一兩為末，每服二錢。</p>
<p>輕淺小方，服之亦無害，</p>
<h4>固下丸</h4>
<p>樗皮一兩五錢　白芍五錢　良薑（　黑）　黃柏（　黑）三錢粥丸，米飲下。</p>
<p>但可施於濕熱下注者耳，若營衛虧損者不可服。</p>
<h4>當歸煎丸。</h4>
<p>當歸　熟地　白芍（炒）　赤芍（炒）一兩　阿膠　續斷　牡蠣（　）一兩　地榆（炒黑）三錢醋糊丸，米飲下。</p>
<p>此治虛人之帶下，尚當加氣分藥一、二味。</p>
<h4>白芷散</h4>
<p>白芷一兩　海螵蛸二個（　）　胎發一錢（　）</p>
<p>為末，酒調下二錢。</p>
<p>胎發一味，極有意義，用先天之血余，以治赤帶也。</p>
