<header><h1>小品方</h1></header>
<div class="元資料" data-type="book" hidden></div>
<h2>序</h2>
<p>《經方短劇》一部，連藥性灸法合十二卷。古之舊方者，非是術人逆作方，以待未病者也。皆是當疾之時，序其源由診候之，然後依藥性處方耳。病者得愈，便記所主治，序為方說，奏上官府，仍為舊典也。今之學人相與同難，用舊方治病，病如方說，藥物依方，而不悉驗者，共論是病有古今，不言異鄉殊氣，質耐不同。同病患痛癢，所苦相似，而得之根源實別異。且人有苦樂強弱，用藥不等，而得差是同。既差之後，實各記其方所治神驗，方說略同，其藥寒溫補利乖背。或先於嶺南服之得益，傳往淮北為治反害。夫用故方之家，唯信方說，不究藥性，亦不知男女長少殊耐、所居土地溫涼有早晚不同，不解氣血浮沉深淺應順四時、食飲五味以變性情。唯見方說相應，不知藥物隨宜，而一概投之，此為遇會得力耳，實非審的為效也。是以《黃帝經》教四海之民，為治異品，此之謂也。今若欲以方術為學人，當精看大品根本經法，隨宜制方處針灸，病者自非壽命應終，毒害已傷生氣，五勞七傷已竭氣血者，病無不愈也。若不欲以方術為學，但以備身防急者，當依方訣，看此《經方短劇》一部為要也。今先記述上古已來舊方，卷錄多少采取可承案者，為《短劇》成法焉。</p>
<p>《華佗方》有十卷</p>
<p>《張仲景辨傷寒並方》有九卷，而世上有不啻九卷，未測定幾卷，今且以目錄為正。</p>
<p>《張仲景雜方》有八卷</p>
<p>《黃素方》有二十五卷</p>
<p>《葛氏所撰方》有四卷</p>
<p>《阮河南所撰方》有十五卷</p>
<p>《遼東都尉廣所撰備急方》、《中古備急》並合為二卷</p>
<p>《楊氏所撰方》有九卷有《雜撰方》七卷有《治下湯丸散方》十卷有《治婦人方》十三卷有《治少小雜撰方》三十卷有《治眼方》五卷有《雜膏方》十卷</p>
<p>《范東陽所撰方》有一百九卷，是范安北過江後撰集也。</p>
<p>上十六件，皆是《秘閣四部書目錄》所載錄者也。</p>
<p>《羊中散所撰方》有三十卷，是元嘉中於新安郡所集，皆是江東得效者，於世乃可即用。</p>
<p>《秦承祖所撰要方》二十卷，多是范東陽集中單省者耳。且首數又少，於次第治不得周悉，不足傳也。</p>
<p>上二件，並是元嘉中撰也。一切諸貴家皆各自撰集服藥方也，終歸是大集中事及術士所增損耳，不可悉錄也。</p>
<p>謹案經傳撰古今經方、治病舊典，觀歷代相紹，聖人雖異軌殊跡，治化同源，療病之理，其教亦然。是以神農使於草石，黃帝施而治病則同，是以為異軌同源者也。歷代撰集，文跡皆悉存，而術有神人真氣，藥有游仙所餌，方有延年益壽，法有民間救急，自古至今，去聖久遠，雅有其文，無有傳授之者。漢末有張仲景，意思精密，善詳舊效，通於往古，自此以來，未聞勝者。夫學術之驗，皆依智慧開悟，心意安審，尋詳經法，得其變者，非為治病悉應須如此多方也，正是記錄開辟以來異軌同源，歷代所集服藥余方隨積耳。</p>
<p>研尋治病終歸以藥為方，《本草》藥相傳所用者，復可數十物。而方集有數百卷，卷有百余首者，皆是古之明術者詳經察病，隨宜處方，或藥物數同其稱分為異，或煮取升合為變通耳。疾愈方積，歷代如此，自然成多也。</p>
<p>後來學人，例不案經，多尋方說，隨就增損，其方首數既多，藥物所殊至微，或說同而方異，或方同而說乖；或先是老人服之得效，今有少年病與之相似；或是女子先病服之有益，今有產婦病與之相似；方說病證可服，而人長少盛衰相傳加藥。其藥物雖是所宜，而於本方更成相犯。或欲除其煩重，於本方便成不便。一方積經增損，轉生偽異。其說雖與病會，其藥物久改初始。是以中古諸方，用藥多有畏惡相犯，反毒相觸，良由此也。</p>
<p>今更詳諸古方，撰取十卷可承案者，又撰本草藥性，要物所主治者一卷，臨疾看之，增損所宜，詳藥性寒溫以處之；並灸法要穴為一卷，合為十二卷，為《經方短劇》一部，以備居家野間無師術處，臨急便可即用也。僮幼始學治病者，亦宜先習此短劇，則為開悟有漸，然後可看大品也。</p>
<h2>卷第一</h2>
<h3>述增損舊方用藥犯禁決</h3>
<p>《經》說：合藥慎勿合相反畏惡相殺者，不能除病，反傷人命。檢舊方相犯者甚多，今依方用之，乃未見有入口即斃者。凡服犯禁忌藥，亦恐病不即除，久遠潛為害也。如反藥禁所說，以相對者服之即甚耳。諸方既合雜多物，其勢應小微，故得不即斃也。</p>
<p>《經》說：藥物有陰賊者，令人羸瘦，陰痿短氣，傷壞五內。夫服相反畏惡之藥，雖不即斃，然久遠潛害，亦可如此，豈可不避者焉。尋古之處方，皆當明審經禁，不應合其相反畏惡也。恐特是野間山郡官典，醫輩相傳，以意增損，故有犯禁藥耳。</p>
<p>凡病自有外候危急而反易瘥者，服一方即瘥，亦有不治自若瘥者，與此相會，便稱方神驗，相承推之為舊方，皆不卻除其犯禁藥物而服之，其實不能除病也。且輕命者多不信脈，亦云診脈是精妙之術，非不博者所能解，不至辨之士所能究。亦相承見經方是官典醫所執傳，便謂仍決必是施教，教民治病，非但慈於疾苦，亦以以強於國也。</p>
<p>寒食大散難將息者，由栝蔞惡乾薑故也。夫服此藥者，皆是虛冷之人也。虛冷為患，其疾多端，有患咳嗽上氣積年者，宜除栝蔞用紫菀二兩代之，積服兩劑無不皆瘥也。若患腳弱冷痹緩弱者，以石斛二兩代之栝蔞也，為治甚效，且無險迕，以為良決也。其余眾病，除去栝蔞而已。若虛熱渴利痔血不可盡從者也。大理宜知此決也。</p>
<p>茯苓惡白蘞，而鎮心丸用之。茯苓主憂恚驚怒恐悸，心下結痛，是鎮心所宜也。白蘞治癰腫心驚癇不如茯苓，今宜除白蘞也。</p>
<p>麻子惡茯苓，而骨填煎用之。麻子主補中益氣，復血脈，破石淋。若疾源須此治者，留麻子去茯苓。若心下結痛，憂恚驚怒恐悸者，去麻子用茯苓也。</p>
<p>紫菀惡遠志，而補心湯用之。遠志主傷中，補不足，益智慧，補心宜用遠志。若患咳嗽上氣者，可以余主咳藥代遠志，用紫菀也。</p>
<p>牛黃惡龍骨，而治小兒方用之。若下利者，可去牛黃留龍骨。若壯熱驚癇者，宜去龍骨留牛黃也。</p>
<p>芍藥惡芒硝，而治小兒方用之。芍藥主益氣，止邪氣腹痛，作優利，除堅積聚耳。須此治者，當去芒硝用芍藥。若壯熱結寒實毒瓦斯者，可留芒硝去芍藥也。</p>
<p>乾薑惡黃連，而斷下利方悉用之。若暴冷下者，可以吳茱萸代乾薑也。夫是久寒積冷有飲水者，服茱萸喜先下飲水去，然後下止耳。大理宜知如此也。</p>
<p>烏頭與半夏相反，而諸湯皆用之。烏頭主中風洒洒惡寒、濕痹積聚、咳逆上氣。須此治者，留烏頭去半夏。若患傷寒寒熱，喉痹咽痛，　胸脹，咳逆，心下結堅，當用半夏。大都此二物為治相似，會宜去一種也。</p>
<p>藜蘆與細辛、人參相反，而烏頭丸用之。藜蘆主殺蠱毒諸蟲，除咳逆腸　下利，若須此治者，留藜蘆去細辛、人參。若患久風風頭，肢節痛，心神虛者，去藜蘆留細辛、人參也。</p>
<p>藜蘆惡大黃，而露宿丸用之。大黃主調中，破除諸積聚，須此治者，留大黃除藜蘆也。</p>
<p>若須藜蘆為治者，宜除大黃也。</p>
<p>石惡細辛，而附子丸用之。　石主寒熱鼠痿蝕瘡，死肌肉痹，腹中積聚結堅，令人發熱。若須此治者，留　石去細辛。若患風痹拘攣，緩弱膝痛，咳逆，堅瘕積聚者，可除　石留防己惡細辛，而治風湯悉用之。防己主中風傷寒，溫瘧洒洒寒熱，諸癇，利大小便。若須厚朴惡澤瀉，而前胡丸用之。厚朴主中風，傷寒頭痛，寒熱驚氣，死肌血痹，去三蟲。</p>
<p>若須此治者，留厚朴去澤瀉。若須補養益氣力者，留澤瀉去厚朴也。</p>
<p>皂莢惡人參，而通草丸用之。皂莢主風痹死肌，風頭淚出，利九竅，下水氣，殺精物魔鬼，咳逆上氣。須此治者，留皂莢去人參。若須補五臟、安精神者，留人參去皂莢也。</p>
<p>礬石惡牡蠣，而卻煩丸用之。礬石主瘡蝕及咽痛，堅齒骨。須此治者，留礬石去牡蠣。</p>
<p>若患傷寒寒熱，溫瘧，洗洗惡寒，憂恚驚怒，氣結心痛，鼠　，女子去赤白浚下血者，留牡蠣去當歸惡　茹，而治瘡方用之。當歸主咳逆上氣，溫瘧寒熱，洗洗在皮膚中，婦人漏下絕孕，諸瘡痙金瘡痛。須此治者，用當歸。若欲食惡肉殺蟲者，用　茹也。</p>
<p>甘草反海藻、甘遂、大戟、芫花，凡四物亦反甘草，而諸湯皆用之。甘草不只治病，宜是通部制百藥耳。須此四物為治者，除甘草用犀角屑亦佳。</p>
<p>上前件舊方用藥犯經禁者，略見凡十七條，其所不見者甚多。若看方有所見，便應依此決卻除之，然後可服耳。藥性要物亦已甲乙注名也，故復重記述之，大法宜知此決也。</p>
<h3>述舊方合藥法</h3>
<p>合湯用半夏，先稱量，然後洗，令去滑也；合丸散皆炮之，如三建法，削去焦皮也。</p>
<p>合湯、丸、散、酒用烏頭、附子、天雄法，皆熱灰中炮令坼，削去焦皮也。</p>
<p>合湯藥用麻黃者，皆先折去節，然後稱之：當先煮，斷取沫。不去節與沫，令人咳。</p>
<p>合湯用桂、厚朴、黃柏諸木皮者，皆削去外粗皮也。</p>
<p>合藥用巴豆者，剝皮去心，熬令紫色。用巴豆多於余藥，不可下篩者，皆別冶如脂，以冶散中，更舂令調，然後與蜜也。用少者，可合舂之。</p>
<p>合藥用杏仁，皆湯漬剝去皮，核中有雙仁者，不可用也。</p>
<p>合丸散多不可篩者，亦別冶令如脂，以散合冶之。</p>
<p>合藥用石葦者，皆以湯漬刮洗去外黃毛也。不去毛令人反淋。</p>
<p>石藥合湯酒者，細舂之為末，綿絹裹煮之。</p>
<p>合湯用膠，炙令焦，沸如浮石狀也，煮湯半熟內之，令消盡。</p>
<p>合湯用膠糖蜜臘膏類髓者，皆成湯內烊令和調也。</p>
<p>合湯用血及酒者，皆熟納之，然後絞取湯也。</p>
<p>附子一枚者，以重三分為準也。</p>
<p>甘草一尺者，若數寸者，以頭徑一寸為準也。去赤皮炙之令不吐。</p>
<p>桂一尺若數寸者，以濃二分廣六分為準也。</p>
<p>麻黃一束者、一把者、一握者，並以三兩為準也。</p>
<p>厚朴一尺及數寸者，以濃三分廣一寸為準也。</p>
<p>黃柏一片者，以重二兩為準也。</p>
<p>人參一枚者，以重二分為準也。</p>
<p>生薑、乾薑累數者，以一支為準也。</p>
<p>用艾及葉物一莒者，輕重二升為準也。</p>
<p>方寸匕散者，作丸準梧子十枚也。</p>
<p>二大豆多可準一刀圭也。</p>
<p>四刀圭以準一撮也。</p>
<p>服湯云一杯者，以三合酒杯子為準也。</p>
<p>上舊方上分齊自有不注明者，合之便應依此法也。</p>
<h3>述看方及逆合備急藥決</h3>
<p>尋百病之生違和，共緩急理殊，救治不同。緩者年月乃劇，急者不延時即劇。緩者久而自瘥，急者不救即殞。或有見藥欲服未詳之，頃而致逝者。此比甚眾尋方，學之要以驗速為貴。</p>
<p>夫欲執術者，皆宜善識暴卒病侯，看方宜先解救急要說，次精和緩，末詳輔衛，此則要矣。是以官府有成合見藥者，以備倉卒也。凡多口數家，亦宜其然也。</p>
<p>夫病之根源，有風、有寒、有冷、有熱、有濕、有勞、有損、有傷、有醉酒、有飲食、有驚怖恐懼怵惕憂恚、有產乳落胎　墮吐下去血、有貪餌五石，皆為病之根源也，為患生諸枝條耳。既不脈之本不知根源也。但問人男女長少依方說，方說有半與病相會便可服也。宜有增凡病劇者人必弱，人弱則不勝藥，處方宜用分兩單省者也。病輕者人則強，勝於藥，處方宜用分量重復者也。</p>
<p>凡久病者，日月已積，必損於食力，食力既弱，亦不勝藥，處方宜用分量單省者也。新病者日月既淺，雖損於食，其穀氣未虛，猶勝於藥，處方亦宜用分兩重復者也。</p>
<p>少壯者，病雖重，其人壯，氣血盛，勝於藥，處方宜用分兩重復者也。雖是優樂人，其人驟病，數服藥則難為藥勢，處方亦宜如此也。</p>
<p>衰老者，病雖輕，其氣血衰，不勝於藥，處方亦宜用分兩單省者也。雖是辛苦人，其人希病，不經服藥者，則易為藥勢，處方亦宜如此也。</p>
<p>夫人壯病輕，而用少分兩方者，人盛則勝於藥勢，方分兩單省者則不能制病，雖積服之，其勢隨消，終不制病，是以宜服分兩重復者也。</p>
<p>夫衰老虛人，久病病重，而用多分兩方者，人虛衰氣力弱則不堪藥，藥未能遣病而人氣力先疲，人疲則病勝，便不敢復服，則不得力也，是以宜服分兩單省者也。</p>
<p>女子婦人，其治異品，女子年十六以上則有月病，其是月病來日，得風寒冷濕，四時之病相協者，皆應自說之，不爾治相觸會，便致增困也，處方者亦應問之，是月病來限有他疾者，其方在婦人方卷上。其是凡曰有疾者故同余人方耳。</p>
<p>江西、江北，其地早寒，寒重於江東，令人陽氣早伏，內養腎氣。至春解亦晚，腠理閉密，外不受邪濕，故少患腳弱上氣，無甚毒螫也。</p>
<p>江東、嶺南晚寒寒輕，令人陽氣不伏，腎氣弱，且冬月暖，熏於肌膚，腠理開疏而受邪濕，至春解陽氣外泄，陰氣倍盛於內，邪濕乘之，故多患上氣、四肢痿弱及溫瘧、發黃，多諸毒螫也。</p>
<p>凡用諸方欲隨土地所宜者，俱是治一冷病，共方用溫藥分兩多者，宜江西、江北；用溫藥分兩少者，宜江東，嶺南也。所以方有同說而異藥者，皆此之類也。</p>
<p>《經方短劇》有十二卷，所治皆周遍眾病也。其中秘要者，是第六一卷，治四時之病，周員終竟，四時無究，終極為最要也。</p>
<p>夫病有重　，而不妨氣力食飲，而行走如常者；自有休強人，小病便妨食飲眠臥致極者，其中有輕者消息自瘥，服湯不過一兩劑而瘥者也。小重者二月卅日可瘥者，既不解脈，得病之始亦無以得知，其應經一月卅日也。唯望五日三日得瘥耳，亦不可日日服湯也。</p>
<p>自有病源已除，而人氣力未展平復者，正宜消息者，五三日中乃復，依所宜投湯耳。</p>
<p>自有小盛之人，不避風涼，觸犯禁忌，暴竭精液，雖得微疾，皆不可輕以利藥下之，一利便竭其精液，因滯著床席，動經年歲也。初始皆宜與平藥治也，宜利者乃轉就下之耳。唯小兒不在此例，大法宜如此也。</p>
<p>夫長宿人病宜服利湯藥者，未必頓盡一劑也，皆視其利多少，且消息之於一日之寬也。</p>
<p>病源未除者，明後更合一劑，不必服盡，但以前後利勢相成耳。氣力堪盡劑者，則不制也。</p>
<p>病源宜服利藥治取除者，服湯之後宜將丸散也，時時服湯助丸散耳。</p>
<p>夫病是服利湯得瘥者，從此以後慎不中服補湯也，得補病勢即還復成也，重就利之，其人則重弊也。若初瘥，氣力未展平復者，當消息之。宜服藥者，當以平和藥逐和之也。若垂平復欲將補益丸散者，自可以意量耳。</p>
<p>夫有常患之人，不妨行走，氣力未衰，欲將補益，冷熱隨宜丸散者，乃可先服利湯下，便除胸腹中瘀積痰實，然後可將補藥。復有虛人，積服補藥，或中實食為害者，可止服利藥除之。復有平實之人，暴虛空竭者，亦宜以微補藥止以和之，而不可頓補也，暴虛微補，則易平也，過補喜痞結為害也。</p>
<p>夫極虛極勞病應服補湯者，風病應服治風湯者，此皆非五三劑可知也。自有滯風洞虛，積服數十劑及至百余劑，乃可瘥者也，然應隨宜增損之，以逐其體寒溫澀利耳。</p>
<p>要方第一卷所治如下：調三焦諸方治胸痹諸方治胸脅痰冷氣滿諸方治心腹脹滿冷痛諸方治下利諸方治咳嗽上氣諸方治氣逆如奔豚狀並諸湯方治虛滿水腫諸方上七件</p>
<h3>治胸痹諸方</h3>
<p>橘皮湯，治胸痹方。胸痹之候，胸中　如滿，噎塞，習習如癢，喉中澀，唾燥嘔沫是也。</p>
<p>橘皮（一升）　枳實（三兩）　生薑（半斤）</p>
<p>上三物，以水五升，煮取二升，分再服。</p>
<p>栝蔞子湯，治胸痹方。</p>
<p>栝蔞子（一枚）　枳實（三兩）　半夏（四兩，洗）　薤白（三斤）</p>
<p>凡四物，以水一斗，煮取四升，分四服，日三夜一。</p>
<h3>治胸脅痰冷氣滿諸方</h3>
<p>通氣湯，主胸脅滿氣噎方。</p>
<p>半夏（八兩，洗）　生薑（六兩）　桂肉（三兩）　吳茱萸（三十枚）</p>
<p>凡四物，以水八升，煮取三升，分三服。</p>
<p>半夏麥門冬湯，治胸滿短氣方。</p>
<p>半夏（一升，洗）　麥門冬（一升）　生薑（八兩）　桂肉（二兩）　蔥白（一虎口）</p>
<p>蜜（二合）　淡竹葉（一虎口）　甘草（一兩）</p>
<p>凡八物，切，以水一斗，煮取三升，分三服。</p>
<p>茱萸湯，治胸中積冷，心下痰水，煩滿汪汪，不下飲食，心胸應背欲痛方。</p>
<p>生薑（五兩）　人參（一兩）　半夏（三兩，洗）　桂肉（三兩）　吳茱萸（三兩）　大棗（三十枚）　甘草（一兩，炙）</p>
<p>凡七物，以水九升，煮取三升，納白蜜五合，分三服。</p>
<p>生薑湯，治中冷失聲，及服諸冷物食冷，心下強痛，或上氣方。</p>
<p>生薑（一升）　半夏（五兩，洗）　附子（二兩，炮）　吳茱萸（三百枚）</p>
<p>凡四物，以水五升，煮取二升半，分三服。</p>
<p>半夏橘皮湯，治胸中冷痰氣滿，不欲食飲方。</p>
<p>半夏（五兩，洗）　橘皮（二兩）　桂肉（四兩）　茯苓（三兩）　人參（一兩）　白朮（三兩）</p>
<p>生凡九物，以水八升，煮取三升半，分四服。</p>
<p>半夏茯苓湯，治胸膈心腹中痰水冷氣，心下汪洋漕煩，或水鳴多吐，口清水自出，心脅弦急脹痛，不欲食，此皆胃氣受冷故也，其脈喜沉弦細遲，方悉主之。若宜取利者，加大黃；須半夏（五兩，洗）　生薑（五兩）　茯苓（三兩）　旋覆花（一兩）　細辛（二兩）　橘皮（二兩）</p>
<p>桂凡十一物，以水九升，煮取三升，分三服。病者先時喜有水下者，用術三兩，除旋覆花，去下便調瘥也。</p>
<p>半夏枳實湯，治冷熱久癖，實不能飲食，心下虛滿，狀如水氣方。</p>
<p>半夏（四兩，洗）　枳實（五枚）　朮（三兩）　桂肉（二兩）　前胡（四兩）　生薑（四兩）　茯苓（凡八物，以水八升，煮取三升，分三服。</p>
<p>茱萸湯，治胃脘有寒病，煩滿不受飲食，飲食嘔逆方。</p>
<p>吳茱萸（五兩）　蜀椒（一合）　桂肉（一兩）　大棗（二十枚）　半夏（一升，洗）　人參（一兩）　小麥（一升）</p>
<p>凡七物，以水一斗，煮小麥令熟，納諸藥，煮取三升，分三服。</p>
<p>茱萸湯，治胃中冷，胸中逆滿方。</p>
<p>吳茱萸（一兩）　甘草（一兩）　桂肉（一兩）　梔子（七枚）　生薑（三兩）　當歸（一兩）　生竹葉（一把）　麥門冬（一兩）　芍藥（一兩）</p>
<p>凡九物，以水六升，煮取二升二合，分三服。</p>
<p>茱萸湯，治胸中少氣，晝日少瘥，夜臥欲絕，腰背喜痛，手足逆冷，食不得味，時時嘔吐，陰不足陽有餘方。</p>
<p>吳茱萸（一升）　甘草（一兩）　五味子（一兩）　人參（三分，一方一兩）　生薑（二兩）</p>
<p>凡五物，以水四升，煮取一升六合，分再服。</p>
<p>游氣湯，治五臟有餘寒虛氣、勞氣、驚憂氣，其人喜悸，胸中熱，上下無常，多悲傷，氣流四肢常腫，齊四邊核赤腫，小便不利方。</p>
<p>厚朴（四兩）　桂肉（五兩）　人參（二兩）　茯苓（四兩）　半夏（二兩，洗）　黃芩（二兩）</p>
<p>生薑（八兩）　陳枳實（五枚）　甘草（二兩）</p>
<p>凡九物，以水一斗，煮取四升，分三服。</p>
<p>治胸脅不利，腹中脹，氣急妨悶，半夏湯方。</p>
<p>半夏（一升，洗去滑）　生薑（一斤，合皮切）　桂心（六兩）　檳榔仁（二兩，末。）</p>
<p>上四味，細切，以水八升，煮取二升四合，絞去滓，分溫五服，服別相去如人行六七裡進一服，快利為度。忌羊肉、餳、生蔥、油膩。</p>
<h3>治心痛腹脹滿冷痛諸方</h3>
<p>治腹氣滿，厚朴湯方。</p>
<p>厚朴（八兩）　陳枳實子（五枚）　甘草（三兩）　桂肉（二兩）　大黃（三兩）　生薑（三兩）</p>
<p>大棗（十枚）</p>
<p>凡七物，以水一斗，煮取三升，分三服。</p>
<p>溫脾湯方，治除冷實，腸胃中實，始作滯下，腹痛自下佳。</p>
<p>乾薑（三兩）　附子（三兩）　人參（三兩）　大黃（三兩）　甘草（二兩）</p>
<p>凡五物，以水六升，煮取三升，分三服。</p>
<p>溫胃湯，治胃氣不平，時脹滿，或嘔，不能飲食方。</p>
<p>附子（一兩，炮）　當歸（一兩）　乾薑（五分）　椒（三合）　厚朴（半兩）　人參（一兩）　橘皮（一兩）　芍藥（一兩）　甘草（一兩）</p>
<p>凡九物，以水九升，煮取三升，分三服。</p>
<p>當歸大黃湯，治冷氣牽腰背脅內痛，少腹堅，小便難且不禁，尺脈牢實者方。</p>
<p>當歸（三兩）　乾薑（一兩）　吳茱萸（五合）　桂肉（三兩）　芍藥（二兩）　人參（一兩）　大黃（凡八物，以水八升，煮取三升，分三服。</p>
<p>芍藥湯，治虛羸腹中痛，補益氣力方。</p>
<p>芍藥（三兩）　茯苓（二兩半）　當歸（二兩）　生薑（二兩）　麥門冬（二兩）　桂肉（一兩）</p>
<p>大棗（二十枚）　甘草（一兩）</p>
<p>凡八物，以水八升，煮取三升，分三服。</p>
<p>治寒疝心腹疼方。夫寒疝腹中痛，逆冷，手足不仁，若一身疼痛，灸刺諸藥所不治者，桂枝東加烏頭湯主之。</p>
<p>桂肉（三兩）　芍藥（三兩）　甘草（二兩）　生薑（三兩）　大棗（十二枚）　烏頭（五枚，破之，以蜜一升，煎取五合，湯成納之）</p>
<p>凡六物，以水七升，煮取二升半，納蜜煎，分服五合，日三。</p>
<p>解急蜀椒湯，主寒疝心痛如刺，繞臍絞痛，腹中盡痛，白汗自出，欲絕方。</p>
<p>蜀椒（三百枚，二枚）</p>
<p>大棗（三十枚）　甘凡七物，以水七升，煮取三升，湯成熱服一升，不瘥復服一升，數用治心痛最良。一說寒氣心腹痛，槎攪困急欲死，解結逐寒下氣止痛方良。</p>
<p>芎　湯，治卒寒，腹中拘急痛方。</p>
<p>芎　（一兩）　當歸（一兩）　桂肉（一兩）　黃芩（半兩）　芍藥（一兩）　乾薑（半兩）　杏仁（三凡八物，以水五升，煮取二升，分再服。</p>
<p>當歸湯，主心腹絞痛，諸虛冷氣滿方。</p>
<p>當歸（三兩）　乾薑（四兩）　甘草（二兩）　芍藥（三兩）　厚朴（三兩）　黃　（二兩）　蜀椒（一凡十物，以水一斗，煮取三升二合，強人服一升，羸人服八合，大冷者加附子一枚。</p>
<p>治寒冷腹痛，茱萸湯方。</p>
<p>茱萸（二升）　甘草（一兩）　人參（一兩）　桂肉（一兩）　生薑（一斤）　半夏（一兩，洗）</p>
<p>小麥（一斤）　當歸（二兩）</p>
<p>凡八物，以水一斗五升，煮取三升，服一升，日三。</p>
<p>治久寒堅，數吐下之，止痛溫中，七物當歸湯方。</p>
<p>當歸（三兩）　芍藥（三兩）　乾地黃（二兩）　乾薑（二兩）　人參（二兩）　阿膠（一兩）　黃（三兩）</p>
<p>凡七物，以勞水一斗，煮取三升，服七合，日三。</p>
<p>治寒疝腹中痛，及諸脅痛裡急，當歸生薑羊肉湯主之方。</p>
<p>當歸（三兩）　生薑（三兩）　芍藥（三兩）　羊肉（三斤）</p>
<p>凡四物，以水一斗二升，煮肉令熟爛，出肉納諸藥，煎取三升，服七合，日三，試用驗。</p>
<p>治脅下偏痛發熱，其脈弦，此寒也，當以溫藥下其寒，大黃附子湯方。</p>
<p>大黃（三兩）　附子（三枚）　細辛（二兩）</p>
<p>凡三物，以水三升，煮取二升，分再服。</p>
<p>溫中當歸湯方，治暴冷，心腹刺痛，面目青，肉冷汗出，欲霍亂吐下，脈沉細者，及傷寒毒冷，下清水，變作青白滯，及先作青白滯後，復清水者悉主之，此方可以調諸冷病也。</p>
<p>當歸（二兩）　人參　乾薑　茯苓　厚朴　青木香　桂肉　桔梗　芍藥　甘草（各上十味，切，以水八升，煮取三升，分溫三服，日三服，不耐青木香者，以犀角一兩代之凡厥心痛，與背相引，喜螈　，如物從後觸其心，身傴僂者，腎心痛也。</p>
<p>厥心痛，腹脹滿，心痛尤甚者，胃心痛也。</p>
<p>厥心痛，痛如錐針刺其心，心痛甚者，脾心痛也。</p>
<p>厥心痛，色蒼蒼如死灰狀，不得嘆息者，肝心痛也。</p>
<p>厥心痛，臥若從居心間痛，動作痛益甚，色不變，肺心痛也。</p>
<p>真心痛，手足清至節，心痛甚，旦發夕死，夕發旦死。</p>
<p>心腹中痛，發作種聚，行來上下，痛有休止，腹中熱，喜涎出，是蛔蟲咬也。</p>
<p>九痛丸，主九種心痛，一蟲心痛，二注心痛，三風心痛，四悸心痛，五食心痛，六飲心痛，七冷心痛，八熱心痛，九生來心痛，方悉主之。並治冷腫上氣，落馬墮車方。</p>
<p>附子（二兩）　巴豆仁（一兩）　生野狼毒（一兩，炙令極香，抨）　人參（一兩）　乾薑（一兩）　吳茱萸（一兩）</p>
<p>六味蜜和，空腹服如梧子三丸，卒中惡腹痛，口不言，二日一服。連年積冷，流注心胸者，亦服之，好好將息，神驗。</p>
<p>又方桃白皮煮汁，空腹以意服之。</p>
<p>凡暴心痛，面無色，欲死方。</p>
<p>以布裹鹽如彈丸，燒令赤，置酒中消，服之。</p>
<p>治兩脅痛方。</p>
<p>以熱湯浸兩手足，冷又浸之。</p>
<p>七氣丸，治七氣。七氣為病，有寒氣、怒氣、喜氣、憂氣、恚氣、愁氣、熱氣。此七氣為病，皆生積聚，堅牢如壞在腹中，心痛煩怨，不能飲食，時去時來，發作有時，每發痛欲絕也熱病上蕩心，短氣欲絕，不得息；其恚氣則積聚心下，不得食飲；其喜氣則不可疾行久立；其憂氣則不可苦作，臥不安席；其愁氣則恕忘，置物四旁，不復憶處，四肢手足跗腫，不得舉。亦治產生早起中風余疾也。</p>
<p>大黃（十分，炮）　人參（三分）　椒（二分，熬）　半夏（三分，炮）　烏頭（五分，炮）　桔梗分）　芎（三分）　紫菀（三分）　甘草（三分）　石膏（三分）　柴胡（三分）　桃仁（三分）</p>
<p>凡十七物，冶合下篩，和以蜜，酒服如梧子三丸，日三，不知，稍增以知，至十丸為度。</p>
<p>治伏梁心積方。</p>
<p>銅器盛白馬尿一升，旦旦服之，妙。</p>
<p>治凡所食不消方。</p>
<p>取其余類燒作末，酒服方寸匕，便吐去宿食，即瘥。陸光錄說：有人食桃，有不消作病，時</p>
<h3>治下利諸方</h3>
<p>黃連湯，治春月暴熱，解脫飲冷，或眠濕地，中冷腹痛，下青黃汁，疲極欲死方。</p>
<p>黃連（四兩）　當歸（三兩）　乾薑（三兩）　厚朴（二兩）</p>
<p>凡四物，切，以水七升，煮取三升，分三服。</p>
<p>治冷徹赤白滯下不斷，變成赤黑血汁，如爛魚腸，腹痛枯瘦，不能飲食方。</p>
<p>黃連（四兩）　吳茱萸（三兩）　當歸（三兩）　石榴殼（二兩）</p>
<p>凡四物，以水三升，漬黃連一宿，明旦更加三升水，煮取三升，分三服。</p>
<p>治雜下方。第一下赤；二下白；三下黃；四下青；五下黑；六固病下，下如瘀赤血；七久下；八下不可止；九連年下；十卒下；十一下少血數；十二霍亂而下；十三下如舍水；十四下已則煩；十五息下，一作一止；十六下而不欲食；十七食無數，但下者；十八下但欲飲水；十九重下；二十雜錯不可名狀，合二十種下，江夏太守以此法治，是下盡愈方。</p>
<p>黃連（一兩）　黃柏（一兩）　熟艾（一兩）　附子（一兩，炮）　甘草（一兩）　乾薑（二兩）</p>
<p>烏梅（二十枚，去核取肉，熬之）</p>
<p>凡七物，合搗下篩，蜜和丸，如大豆，飲服十丸，漸漸至二十丸，日三。</p>
<p>青要結腸丸，治熱毒下不絕，不問久新，悉治之方。</p>
<p>苦參　橘皮　阿膠（炙）　獨活　芍藥　黃連　藍青（一方乾薑四分代）　鬼臼　黃柏甘草（各四分）</p>
<p>凡十物，合搗下篩，蜜烊膠和之，並手捻作丸，如梧子，干以飲服十丸，日三，不知稍增。</p>
<p>久卒赤白下方。</p>
<p>燒馬屎一丸作灰，分服。酒、水隨意服。已試，良。</p>
<p>治青下、白下，薑附散方。</p>
<p>乾薑　附子（炮）　皂莢（炙，去子）</p>
<p>上三味，等分，搗篩為散，飲服方寸匕，不過再服即愈。亦可丸服。</p>
<h3>治咳嗽上氣諸氣</h3>
<p>治咳嗽，紫菀七味湯方。</p>
<p>紫菀（半兩）　五味子（一兩）　桂心（二兩）　杏仁（七十枚，去皮尖兩仁，碎）　乾薑（四兩）　麻黃（四兩，去節）　甘草（二兩，炙）</p>
<p>上藥切，以水九升，前取二升半，去滓，溫服七合，日三服。忌海藻、菘菜、生蔥、蒜、面、腥膩。</p>
<p>治咳，生薑五味子湯方。</p>
<p>五味子（五合）　生薑（八兩）　紫菀（一兩）　半夏（二兩，洗）　吳茱萸（一兩）　款冬花（半兩）　細辛（一兩）　附子（一枚，炮）　茯苓（四兩）　甘草（二兩，炙）　桂心（一兩）</p>
<p>上十一味，切，以水一斗，煮取五升，分溫三服。老人可服五合。忌海藻、菘菜、豬肉、冷水、羊肉、餳、生菜、醋物、生蔥。</p>
<p>治咳逆，喉中如水雞聲，貝母湯方。</p>
<p>貝母　甘草（炙，各二兩）　麻黃（去節）　桂心（各四兩）　半夏（洗）　乾薑（各三兩）　杏仁（七十枚，去尖皮兩仁者熬）</p>
<p>上七味，切，以水二斗三升，先煮麻黃，得十沸，納藥，煮取三升，溫服七合，日三。</p>
<p>忌海藻、菘菜、生蔥、羊肉、餳。</p>
<p>治咳而上氣，咽中如水雞聲，射干麻黃湯方。</p>
<p>射干（十二枚）　麻黃（去節）　生薑（各四兩）　紫菀（三兩）　款冬花（三兩）　細辛（三兩）</p>
<p>五味子（半升）　半夏（如大錢許，八枚，洗）　大棗（七枚，擘）</p>
<p>上九味，切，以東流水一斗二升，煮取三升，分三服。忌羊肉、餳、生菜。</p>
<p>治咳嗽上氣，呼吸攀繩，肩息欲死，覆杯湯方。</p>
<p>麻黃（四兩）　甘草（二兩）　乾薑（二兩）　桂肉（二兩）　貝母（二兩）</p>
<p>凡五物，以水八升，煮取二升，再服即愈。</p>
<p>沃雪湯，治上氣不得息臥，喉中如水雞聲，氣欲絕方。</p>
<p>麻黃（四兩）　細辛（二兩）　五味子（半升）　乾薑（四兩）　半夏（四兩）　桂心（一兩）</p>
<p>凡六物，以水一半，煮取三升，分服一升，投杯即得臥，一名投杯湯。令得汗，汗多喜不得眠，汗者一服，消息後服。</p>
<h3>治氣逆如奔豚狀並諸湯方</h3>
<p>黃帝問金冶子曰：驚為病，如奔豚，其病奈何？金冶子對曰：驚為奔豚，心中踴踴，如車蓋驚，人所恐，五臟不定，食飲輒嘔，氣滿胸中，狂痴欲走，閉眼謬言，開眼妄語，或張面目，不相取與，眾師不知，呼有所負，奔豚湯主之。黃帝曰：善。</p>
<p>黃帝問金冶子曰：憂思奔豚，何以別之？金治子對曰：憂思奔豚者，氣滿支心，心下煩亂，不欲聞人入聲，發作有時，乍差乍劇，吸吸短氣，手足厥逆，內煩結痛，溫溫欲嘔，眾師不知，呼有觸忤，奔豚湯主之。黃帝曰：善。</p>
<p>師曰：病如奔豚者，氣從少腹起，上衝喉咽，發作欲死，復還生，皆從驚恐得之，腎間有膿故也。</p>
<p>師曰：病有奔豚，有吐膿，有驚怖，有火邪，此四部病者，皆從驚發。得之火邪者，桂枝加龍骨牡蠣湯主之。若新亡財，為縣官所捕迫，從驚恐者，治用鴟頭鉛丹，復余物未定，所言奔豚者，病患氣息逆喘迫上，如豚奔走之狀，奔豚湯主之。</p>
<p>治卒傷損，食下則覺胸中偏痛，栗栗然，水漿下亦爾，問病與相應，急作此方。</p>
<p>生李根（一斤，細銼之）　麥門冬（一升，去心）　人參（二兩）　桂心（二兩）　甘草（二兩，炙）</p>
<p>上五味，　咀，以水一斗，煮取三升，分三服。忌海藻、菘菜、生蔥。</p>
<p>奔豚湯，治虛勞五臟氣之損，游氣歸上，上走時若群豚相逐憧憧，時氣來便自如坐驚夢，精光竭不澤，陰痿，上引少腹急痛，而乍熱赤色，喜怒無常，耳聾，目視無精光方。</p>
<p>葛根（八兩，干者）　生李根（切，一升）　人參（三兩）　半夏（一升，洗）　芍藥（三兩）</p>
<p>當歸（二兩）　桂心（五兩）　生薑（二片）　甘草（炙，二兩）</p>
<p>上九味，切，以水二斗，煮得五升，溫服八合，日三，不知稍增至一升，日三。忌羊肉、餳、生蔥、海藻、菘菜等。</p>
<p>所言如奔豚之狀者，是病患氣如豚奔走，氣息喘迫上逆之狀也。湯方用奔豬者，謂雄豚斗子是，先逐之，使奔之，然後殺取血及臟合藥也。葛根奔豚湯方。</p>
<p>葛根（八兩，干者）　生李根（一升，去皮）　人參（三兩）　朮（二兩）　半夏（一升，洗，炙）　芍藥（三兩）　當歸（二兩）　桂肉（五兩）　生薑（一斤）　甘草（二兩）</p>
<p>凡十物，以豚汁二斗，煮得五升，溫服八合，日三。</p>
<p>牡蠣奔豚湯，治奔豚，氣從少腹起衝胸，手足逆冷方。</p>
<p>牡蠣（三兩，熬）　桂心（八兩）　李根白皮（一斤，切）　甘草（三兩，炙）</p>
<p>上四味，切，以水一斗七升，煮取李根皮，得七升，去滓，納余藥再煮，取三升，分服五合，日三夜再。忌生蔥、海藻、菘菜。</p>
<p>治手足逆冷，胸滿氣促，從臍左右起，鬱冒者，奔豚湯方。</p>
<p>甘草（四兩，炙）　李根白皮（一斤，切）　葛根（一斤）　黃芩（三兩）　桂心（二兩）　栝蔞（二兩）　人參（二兩）　芎　（一兩）</p>
<p>上八味，切，以水一斗五升，煮取五升，去滓，溫服一升，日三夜再。忌海藻、菘菜、生蔥。</p>
<p>又方，桐君說。</p>
<p>伏出雞卵殼中白皮　梨木灰　麻黃（去節）　紫菀（各等分）</p>
<p>上四味，搗下篩，作丸、散，隨宜酒服十丸，如梧子，散者方寸匕。治三十年喉中結氣咳逆立瘥也。亦可水煮為湯，以意分之。</p>
<h3>治虛滿水腫諸方</h3>
<p>治水腫，大豆湯方。</p>
<p>大豆（三升）</p>
<p>上一味，以水六升，煮令熟，出豆澄汁，更納美酒五升，微火煎如餳，服一升，漸增之，令小下。</p>
<p>桃皮酒，治水腫方。</p>
<p>桃皮（三斤，剝去上黑皮，取裡黃皮）　女曲（一升）　秫米（一升）</p>
<p>上三味，以水三斗，煮桃皮，令得一斗，以五升汁漬女曲，五升汁蒸飯，釀如酒法，熟漉去滓，可服一合，日三。耐酒者增之，以體中有熱為候，小便多者即是病去，便愈。忌生冷、酒、面，一切毒物。</p>
<p>麝香散，治水腫方。</p>
<p>麝香（三銖）　芫花（三分，熬）　甘遂（三分）</p>
<p>上三味，合下篩，酒服錢半邊匕，老小錢邊三分匕。亦可丸服之，強人如小豆十丸，老人五丸。</p>
<p>治水腫，商陸膏方。</p>
<p>商陸根（一斤，生者）　豬膏（一斤，先煎，可有二升）</p>
<p>上二味，合煎令黃，去滓，以摩腫。亦可服少許。忌犬肉。</p>
<p>小女曲散，治利後虛腫水腫者，服此藥小便得利，止腫亦消方。</p>
<p>女曲（一升，生用）　乾薑　細辛　椒目　附子（炮）　桂心（各一兩）</p>
<p>上六味，為散，酒服方寸匕，不知，服二、三匕，日三。</p>
<p>產後虛滿者大良。忌豬肉、生蔥、生菜。</p>
<p>麻黃甘草湯，治皮中涌水，面目身體虛腫方。</p>
<p>麻黃（去根節，二兩）　甘草（一兩）</p>
<p>上　咀三錢，水一杯，煮麻黃五沸，納甘草八分，煎服，汗出，慎風冷。有人患氣促，積久不瘥，遂成水腫，服之效。此治表實，老人和虛人不可用之，宜詳。</p>
<p>十水丸，治水腫方。腫從頭起，名為白水，其根在肺，椒目主之；腫從胸起，名為黃水，其根在脾，甘遂主之；腫從面起，名為青水，其根在肝，大戟主之；腫從腹起，名為氣水，乍實乍虛，其根在腸，芫花主之；腫從股起，名為黑水，其根在腎，玄參主之；腫從面起至足，名為懸水，其根在膽，赤小豆主之；腫從內起，堅塊，四肢腫，名為石水，其根在膀胱，桑根主之；腫從四肢起，腹腫，名為風水，其根在胃，澤漆主之；腫從腹起，名為冷水，其根在小腸，巴豆主之；腫從胸中起，名為赤水，其根在心，葶藶主之。</p>
<p>上十種，隨其病始所在，增其所主藥皆一分，巴豆四分，去心皮，冶末，合下篩，蜜丸，服如梧子三丸，得下為度，不下日三。亦可作散末，食服半錢匕，大便利，明朝復服如法，再服病愈。即禁飲食，但得食於魚耳。</p>
<p>十水散，治水腫方。先從腳腫，名曰清水，其根在心，葶藶子主之；先從陰腫，名曰勞水，其根在腎，澤漆主之；先從腹腫，名曰冷水，其根在大腸，蜀椒主之；先從面目腫，名曰氣水，其根在肺，桑根主之；先從手足腫，名曰心水，其根在小腸，巴豆主之；先從口唇腫，名曰黃水，其根在胃，大戟主之；先從脅腫，名曰飲水，其根在肝，芫花主之；先從腰腫，名曰肝水，其根在膈，甘遂主之；先從胸腫，名曰石水，其根在脾，茯苓主之；先從背腫，名曰鬼水，其根在膽，雄黃主之。</p>
<p>上十物，分等，主十水。隨腫所從始，案方偏加藥二分，合搗下篩。空腹以水服方寸匕，當下。水多者，減服；下少者，益之。</p>
<p>蔥豆洗湯，治虛熱及石熱，當風露臥，冷濕傷肌，熱菹在裡，變成熱風水病，心腹腫滿，氣急不得下頭，小便不利，大便難，四肢腫，如皮囊盛水，晃晃如老蠶色，陰卵堅腫如斗，莖腫生瘡如死鼠，此皆虛損，腎中有熱，強取風冷，濕損脾胃故也。納依方服諸利水藥，外宜以此湯洗四肢竟，以蔥豆膏敷之，別以豬蹄湯洗陰莖瘡爛處及卵腫也。</p>
<p>蔥（合青白切，一升）　蒺藜子（一升，舂碎）　赤小豆（一升）　菘菜子（一升，舂碎）　蒴（切，五升）　巴豆（一百枚，合心皮，打碎）</p>
<p>上六物，以水一石二斗，煮取八斗，以淋洗身腫處。蔥豆膏，豬蹄湯方在本方。</p>
<p>葶藶子回神酒，治風水通身洪腫，肉如裂者，服之小便利，自隨消方。</p>
<p>春時釀清酒五斗（一方五升，）葶藶子三升，熬，著酒中漬再宿，便服一合，以漸增之，病去，小便利，腫自消滅及縮也。神良，有驗。若不得春酒，余極好酒亦佳。</p>
<p>水腫尿泣，用烏犍牛尿半升，空腹飲，小便利良。</p>
<h2>卷第二</h2>
<p>要方第二卷所治如下：治頭面風（論雜風狀）諸方治喉痛（喉痹）諸方治暴厥似風諸方（待考）</p>
<p>治中風喑　不隨痛腫諸方治狂妄噤痙諸方治腳弱諸方上六件</p>
<h3>治頭面風（論雜風狀）諸方</h3>
<p>說曰：風者，四時五行之氣也，分布八方，順十二月，終三百六十日。各以時從其鄉來為正風，在天地為五行，在人為五臟之氣也。萬物生成之所順，非毒厲之氣也。人當觸之過，不勝其氣，乃病之耳，雖病然有自瘥者也，加治則易愈。其風非時至者，則為毒風也，不治則不能自瘥焉。今則列其證如下：春甲乙木，東方清風，傷之者為肝風，入頭頸肝俞中。為病多汗，惡風，喜怒，兩脅痛，惡血在內，飲食不下，肢節時腫，顏色蒼，泄，嗌干鼽衄。</p>
<p>夏丙丁火，南方湯風，傷之者為心風，入胸脅腑臟心俞中。為病多汗，惡風，憔悴，喜悲，顏色赤，洞泄清穀。</p>
<p>仲夏戊己土，同南方湯風，傷之者為脾風，入背脊脾俞中。為病多汗，惡風，肌肉痛，身體怠惰，四去不欲動，不嗜食，顏色黃，　因人虛實之變。陽氣有餘，陰氣不足者，則內外生熱，在中者令人喜飢。若陽氣不足，陰氣有餘者，則內如有寒從中出，腸鳴而痛。</p>
<p>秋庚辛金，西方涼風，傷之者為肺風，入肩背肺俞中。為病多汗，惡風，寒熱，咳動肩背，顏色白，霈然病瘧，晝瘥夕甚。</p>
<p>冬壬癸水，北方寒風，傷之者為腎風，入腰股四肢腎俞中。為病多汗，惡風，腰脊骨肩背頸項痛，不能久立，便出曲難不利，陰痹，按之不得小便，腹脹，面龐然有澤，腫，時眩，顏上四時正氣之風，平人當觸之過，得病證候如此。</p>
<p>四時風總名：春九十日清風，夏九十日湯風，秋九十日涼風，冬九十日寒風，其氣分布八方，亦各異名也。太一之神，隨節居其鄉各四十五日，風云皆應之。今列其風名如下：東北方艮之氣，立春王，為條風，一名凶風，王四十五日。</p>
<p>東方震之氣，春分王，為明庶風，一名嬰兒風，王四十五日。</p>
<p>東南方巽之氣，立夏王，為清明風，一名弱風，王四十五日。</p>
<p>南方離之氣，夏至王，為景風，一名大弱風，王二十七日，合仲夏也。</p>
<p>仲夏中央之氣，主立八方之氣，戊己王十八日，合夏至合四十五日，風名同。</p>
<p>西南方坤之氣，立秋王，為涼風，一名謀風，王四十五日。</p>
<p>西方兌之氣，秋分王，為閶闔風，一名剛風，王四十五日。</p>
<p>西北方乾之氣，立冬王，為不周之風，一名折風，王四十五日。</p>
<p>北方坎之氣，冬至王，為廣莫風，一名大剛風，王四十五日。</p>
<p>上八方之風，各從其鄉來，主長養萬物，民眾少死病也。</p>
<p>八方風不從其鄉來，而從沖後來者，為虛邪，賊害萬物，則民眾多死病也。故聖人說避邪如避矢也。邪者，風也。今人壽夭多病，是不知避邪也。為病證候如下：凶風之氣內舍大腸中，外在脅腋骨下四肢節解中，書本遺其病證，今無也。</p>
<p>嬰兒風為病，令人筋紉濕。其氣內舍肝中，外在筋中。</p>
<p>弱風為病，令人體重。其氣內舍胃中，外在肉中。</p>
<p>大弱風為病，令人發熱。其氣內舍心中，外在脈中。</p>
<p>謀風為病，令人弱，四肢緩弱也。其氣內舍脾中，外在肌中。</p>
<p>剛風為病，令人燥，燥者枯燥瘦瘠也。其氣內舍肺中，外在皮中。</p>
<p>折風為病，則因人，脈絕時而泄利，脈閉時則結不通，喜暴死也。其氣內舍小腸中，外在右手太陽中。</p>
<p>大剛風為病，令人寒，寒者患冷，不能自溫也。其氣內舍腎中，外在骨中、脊膂筋中也。</p>
<p>上八風，從其沖後來者，為病如此。</p>
<p>新食竟取風為胃風，其狀惡風，頸多汗，膈下塞不通，食飲不下，脹滿，形瘦，腹大，失衣因醉起風為漏風，其狀惡風，多汗，少氣，口乾渴，近衣則身熱如火燒，臨食則汗流如雨，骨節解惰，不欲自營。</p>
<p>新沐浴竟取風為首風，其狀惡風，面多汗，頭痛。</p>
<p>新房室竟取風為泄風，其狀惡風，汗流沾衣。</p>
<p>勞風之為病，喜在肺，使人強上，惡風，寒戰，目脫，涕唾出，候之三日中及五日中，不精明者是也。七八日則微有清黃膿涕如彈丸大，從口鼻中出為善也，若不出則傷肺。</p>
<p>風者其氣喜行而數變，在人肌膚中，內不得泄，外不得散，因人動靜乃變其性，其證如下：有風遇寒則食不下，遇熱則肌肉消，寒熱。</p>
<p>有風遇陽盛則不得汗，遇陰盛則汗自出。</p>
<p>肥人有風，肌肉濃則難泄，喜為熱中目黃。</p>
<p>瘦人有風，肌肉薄則恆外行，身中寒，目淚出。</p>
<p>有風遇實則腠理閉，則內伏，令人熱悶；若因熱食，汗欲通，腠理得開，其風自出，則覺肉中如針刺，步行運力欲汗，亦如此。</p>
<p>有風遇虛，腠理開則外出，淒然如寒狀，覺身中有如水淋，時如竹管吹處。</p>
<p>治口眼相引　僻者方。</p>
<p>以生鱉血塗之，以桑鉤鉤吻邊掛著耳也。血干復塗之，用白酒勝血。</p>
<p>眼眶動，口唇動，偏　，皆風入脈故也，急服小續命湯，摩神明膏。</p>
<h3>治喉痛（喉痹）諸方</h3>
<p>治喉痹，卒不得語方。</p>
<p>濃煮桂汁服一升，覆取汗。亦可末桂著舌下，大良。</p>
<p>又方取炊甑蓽燒作屑，三指撮，少水服之，即效。</p>
<p>又方濃煮大豆汁含之，無豆煮豉亦良。</p>
<p>治喉痹者，喉裡腫塞痹痛，水漿不下入，七八日即殺人，治之方。</p>
<p>熬杏仁熟搗，蜜丸如彈子，含咽其汁，亦可搗杏仁末，帛裹含之。</p>
<p>治喉中卒毒攻痛方。</p>
<p>章陸根，切，炙令熱，隔布熨之，冷轉易，立愈。苦酒熱熬敷喉，亦療喉痹。</p>
<p>治喉諸病方。</p>
<p>雞子一枚，破，以黃白攪，吞之瘥。</p>
<h3>治中風喑不隨痛腫諸方</h3>
<p>小續命湯，治卒中風欲死，身體緩急，口目不正，舌強不能語，奄奄惚惚，精神悶亂，諸風服之皆驗，不令人虛方。</p>
<p>甘草（一兩）　麻黃（一兩）　防風（一兩半）　防己（一兩）　人參（一兩）　黃芩（一兩）</p>
<p>桂心（一兩）　附子（一枚，大者，炮）　芎　（一兩）　芍藥（一兩）　生薑（五兩）</p>
<p>上十一物，以水九升，煮取三升，分三服，甚良。不瘥更服三四劑必佳。取汗隨人風輕重虛實也。有人腳弱服此方，至六七劑得瘥。有風疹家，天陰節變輒合之，可以防喑　也。</p>
<p>羌活湯，治中柔風，身體疼痛，四肢緩弱，欲作不隨方。</p>
<p>羌活（三兩）　桂肉（三兩）　生薑（六兩）　乾地黃（三兩）　葛根（三兩）　芍藥（三兩）　麻黃（二兩，去節）　甘草（二兩。）</p>
<p>凡八物，以清酒三升，水五升，煮取三升，酒服五合，日三。</p>
<p>治中風不語方。</p>
<p>獨活一兩，酒二升，煎一升，大豆五合，炒有聲，以藥酒熱投，蓋之良久，酒服三合，未瘥再服。</p>
<h3>治狂妄噤痙諸方</h3>
<p>遠志湯，治中風，心氣不定，驚悸，言語謬誤，恍恍惚惚，心中煩悶，耳鳴方。</p>
<p>遠志（三兩，去心）　茯苓（二兩）　獨活（四兩）　甘草（二兩）　芍藥（三兩）　當歸（二兩）</p>
<p>桂黃（三兩）</p>
<p>凡十二物，以水一斗二升，煮取四升，服八合，人羸可服五合，日三夜一。</p>
<p>張仲景三黃湯，治中風手足拘攣，百節疼煩，發作心亂，惡寒引日，不欲飲食，秘方。</p>
<p>麻黃（五分，去節）　獨活（五分）　細辛（一分）　黃　（二分）　黃芩（三分）</p>
<p>凡五物，以水五升，煮取二升，分再服。一服即小汗出，兩服大汗出，即愈。</p>
<p>治卒發狂方。</p>
<p>用其人著地，以冷水淋其面，終日淋之。</p>
<h3>治腳弱諸方</h3>
<p>風毒中人，多不即覺，或因眾病乃覺也。其狀或有見食嘔吐、憎聞食臭，或有腹內痛兼下，或胸中衝悸，不欲見光明，或精神昏憒，或喜妄語錯亂，或壯熱頭痛，或身酷冷、　疼，或治轉筋方。</p>
<p>以白醋煮粉，令一沸，因以洗足腓至足，立愈。</p>
<p>脈浮大者，病在表；沉細者，病在裡。其脈浮大緊駛者，三品之中最惡脈也。</p>
<p>香港腳脈三種，以緩脈為輕，沉緊為次，洪數者為下。</p>
<h2>卷第三</h2>
<p>要方第三卷所治如下：治渴利諸方治虛勞諸方治夢泄諸失精眾方治多汗諸方治百病後虛煩擾不得眠諸方上五件</p>
<h3>治渴利諸方</h3>
<p>論曰：消渴者，原其發動，此則腎虛所致，每發即小便至甜，醫者多不知其疾，所以古方論亦缺而不言，今略陳其要。按《洪范》稼穡作甘。以物理推之，淋餳醋酒作脯法，須臾即皆能甜也。足明人食之後，滋味皆甜，流在膀胱，若腰腎氣盛，則上蒸精氣，氣則下入骨髓，其次以為脂膏，其次為血肉也。其余別為小便，故小便色黃，血之余也。臊氣者，五臟之氣；咸潤者，則下味也。腰腎既虛冷，則不能蒸於上，穀氣則盡下為小便者也。故甘味不變，其色清冷，則肌膚枯槁也。猶如乳母，穀氣上泄，皆為乳汁。消渴疾者，下泄為小便，此皆精氣不實於內，則便羸瘦也。</p>
<p>又肺為五臟之華蓋，若下有暖氣蒸即肺潤，若下冷極，即陽氣不能升，故肺干則熱，故</p>
<p>《周易》有否卦，乾上坤下，陽阻陰而不降，陰無陽而不升，上下不交，故成痞也。譬如釜中有水，以火暖之，其釜若以板蓋之，則暖氣上騰，故板能潤也。若無火力，水氣則不上，此板終不可得潤也。火力者，則為腰腎強盛也。常須暖將息，其水氣即為食氣，食氣若得暖氣，即潤上而易消下，亦免干渴也。是故張仲景云：宜服此八味腎氣丸，並不食冷物及飲冷水，今亦不復渴，比頻得效，故錄正方於後耳。</p>
<p>凡此疾與香港腳，雖同為腎虛所致，其香港腳始發於二三月，盛於五六月，衰於七八月。凡消渴，始發於七八月，盛於十一月、十二月，衰於二月、三月，其故何也？夫香港腳者，擁疾也，消渴者，宣疾也，春夏陽氣上，故擁疾發，即宣疾愈也。秋冬陽氣下，故宣疾發，即擁疾愈也。審此二者，疾可理也。又宜食者，每間五六日空腹一食餅，以精羊肉及黃雌雞為，此可溫也。若取下氣，不食肉，菜食者，宜煮牛膝、韭、蔓菁；又宜食雞子、馬肉，此物微擁，亦可療宣疾也。擁之過度，便發香港腳，猶如善為政者，寬以濟猛，猛以濟寬，隨事制度，使寬猛得所，定之於心，口不能言也。</p>
<p>又庸醫或令吃栝蔞粉，往往經服之，都無一效。又每至椹熟之時，取爛美者，水淘去浮者餐之，候心胸間氣為度，此亦甚佳。生牛乳暖如人體，渴即細細呷之亦佳。</p>
<p>張仲景云：足太陽者，是膀胱之經也，膀胱者是腎之腑也，而小便數，此為氣盛，氣盛則消穀，大便硬；衰則為消渴也。</p>
<p>男子消渴，飲一斗水，小便亦得一斗，宜八味腎氣丸主之，神方。消渴人宜常服之。</p>
<p>乾地黃（八兩）　薯蕷（四兩）　茯苓（三兩）　山茱萸（五兩）　澤瀉（四兩）　牡丹皮（三兩）</p>
<p>附上藥搗篩，蜜和丸，如梧子大，酒下十丸，少少加，以知為度，忌豬肉、冷水、蕪荑、胡荽、酢物、生蔥。</p>
<p>說曰：少時服五石諸丸散者，積經年歲，人轉虛耗，石熱結於腎中，使人下焦虛熱，小便數利，則作消利。消利之病，不渴而小便自利也，亦作消渴，消渴之疾，但渴不利也。又作渴利，渴利之病，隨飲小便也。又作強中病，強中病者，莖長興，終不痿，溺液自出。亦作癰疽之病。凡如此等，宜服豬腎薺　湯，制其腎中石勢，將餌鴨通丸便瘥也。</p>
<p>豬腎薺　湯豬腎（一具）　大豆（一升）　薺　石膏（各三兩）　人參　茯神（一作茯苓）　磁石（綿裹）　知母　葛根　黃芩　栝蔞根　甘草（各二兩）</p>
<p>上十二味，　咀，以水一斗五升，先煮豬腎、大豆取一斗，去滓下藥，煮取三升，分三服，渴乃飲之，下焦熱者，夜輒合一劑，病勢漸歇即止。</p>
<p>鴨通湯方白鴨通（五升，沸湯二斗半淋之，澄清取二斗汁）　麻黃（八兩）　豉（三升）　冷石（二兩）</p>
<p>甘草（五兩）　石膏（三兩）　梔子仁（二十枚）</p>
<p>上六味，　咀，以鴨通汁煮六升，去滓，納豉三沸，分服五合，若覺體冷小便快，闊其間。</p>
<p>若熱猶盛，小便赤促，服之不限五合。宜小勞之，漸進食，不可令食少，但勿便多耳。</p>
<p>鉛丹散，治消渴，止小便方。</p>
<p>鉛丹（二分）　栝蔞（十分）　澤瀉（五分）　石膏（五分）　赤石脂（五分）　白石脂（五分）</p>
<p>胡粉（二分）　甘草（十分）</p>
<p>凡八物，冶下篩，酒服方寸匕，日三。不知稍增，年壯服半匕。得病一年，服藥一日愈，二年二日瘥。甚者夜以水服，勿用酒。</p>
<p>治日飲一石許，小便不通，栝蔞丸方。</p>
<p>栝蔞（三分）　鉛丹（三分）　葛根（三分）　附子（一分，炮）</p>
<p>凡四物，冶下篩，蜜丸如梧子，飲服十丸，日三。</p>
<p>治消渴方。</p>
<p>取活螺三斗，以江水一石養之，傾取冷汁，飽飲之。經日放去，更取新者漬之。</p>
<p>夫內消之為病，皆熱中所作也，小便多於所飲，令人虛極短氣。內消者，食物皆消作小便去，而不渴也，治之枸杞湯。</p>
<p>枸杞枝葉（一斤，冬根三兩）　栝蔞根（三兩）　石膏（三兩，一方無）　黃連（三兩）</p>
<p>甘草（二兩）</p>
<p>凡五物，切，以水一斗，煮取三升。一服五合，日三。</p>
<p>治小便多，晝夜數十起方。</p>
<p>小豆生霍（一把）</p>
<p>凡一物，搗絞取汁，頓飲三升便愈。亦治小兒利。</p>
<p>消渴家忌食豬肉。</p>
<h3>治虛勞諸方</h3>
<p>黃　湯，治虛勞，胸中客熱，冷癖痞滿，宿食不消，吐噫，脅間水氣，或流飲腸鳴，不生肌肉，頭痛，上重下輕，目視　，惚惚志損，常躁熱，臥不得安，少腹急，小便赤余瀝，臨黃　（三兩）　人參（一兩）　芍藥（二兩）　生薑（半斤）　肉桂（三兩）　大棗（十四枚）　當歸（一兩）　甘草（一兩，炙）</p>
<p>上八味，切，以水一斗，煮取四升，分四服。有寒加厚朴二兩。忌生蔥、海藻、菘菜。</p>
<p>增損腎瀝湯，治腎氣不足，消渴引飲，小便過多，腰背疼痛方。</p>
<p>腎（一具，豬羊並得）　遠志（二兩）　麥門冬（一升，去心）　人參（二兩）　五味子（二合）</p>
<p>澤瀉（二兩）　乾地黃（二兩）　茯苓（一兩）　桂心（二兩）　當歸（二兩）　芎　（二兩）　黃芩（一兩）　芍藥（一兩）　生薑（三兩）　棗（二十枚）　螵蛸（二十枚，炙）　雞　裡黃皮（一兩）</p>
<p>上十七味，以水一斗五升，煮腎取一斗三升，去腎煎藥取三升，去滓，分三服。忌生蔥、蕪荑、酢物。</p>
<p>加減腎瀝湯，治大虛內不足，小便數，噓　焦　，引水漿，膀胱引急方。</p>
<p>腎（一具，豬羊並可用）　遠志（二兩，去心）　麥門冬（一升，去心）　人參（一兩）</p>
<p>大棗（四十枚）　芎　（二兩）　五味子（二兩）　當歸（二兩）　澤瀉（二兩）　桂心（四兩）　乾薑（二兩）　乾地黃（三兩）　黃連（二兩）　桑螵蛸（二十枚）　龍骨（二兩）　甘草（三兩，炙）</p>
<p>上十六味，切，以水一斗五升，如常法煎取三升，去滓，分三服。忌海藻、菘菜、生蔥、豬黃　湯，治虛勞少氣，小便過多方。</p>
<p>黃　（二兩）　麥門冬（二兩，去心）　大棗（三十枚，擘）　芍藥（二兩）　乾地黃（二兩）　黃芩（一兩）　桂心（二兩）　生薑（二兩）　當歸（二兩）　甘草（二兩，炙）</p>
<p>上十味，切，以水九升，煮取三升，去滓，分三服，忌海藻、菘菜、生蔥、蕪荑、豬肉、冷水。</p>
<p>治心虛驚悸，羸瘦者方。</p>
<p>荊瀝二升，火煎至一升六合，分作四服，日三夜一。</p>
<p>腎虛腰痛，治之方。</p>
<p>牡丹（二分，去心）　萆　（三分）　白朮（三分）　桂心（三分）</p>
<p>上四味，搗篩，以酒服方寸匕，日三。亦可作湯服之。忌生蔥、胡荽、桃李、雀肉等。</p>
<p>治腰痛少氣，陰弱寒冷，小便清冷瀝滴，陰下濕癢，少腹急，無子息方。</p>
<p>甘草（十四分，炙）　續斷（三分）　麥門冬（三分）　薯蕷（三分）　附子（三分，炮）　乾薑（二分）　棘刺（四分）</p>
<p>上七味，搗篩，酒服方寸匕，日三。忌豬肉、冷水、海藻、菘菜。</p>
<p>治腰痛，皆積年痛者方。</p>
<p>乾地黃（十分）　白朮（五分）　乾漆（五分）　桂心（八分）　甘草（五分，炙）</p>
<p>上五味，搗末，以酒服方寸匕，日三。忌桃李、雀肉、生蔥、海藻、菘菜、蕪荑等。</p>
<p>治卒腰痛不得俯仰方。</p>
<p>鹿角（長六寸，燒）</p>
<p>上一味，搗篩為末，以酒服方寸匕。</p>
<p>腰疼方。</p>
<p>鱉甲（一枚，炙令黃，刮削令淨潔）</p>
<p>上一味，搗篩，空腹以湯、飲、酒服方寸匕，日三。忌人莧菜治腰中常冷如帶錢方。</p>
<p>甘草　乾薑（各二兩）　茯苓　朮（各四兩）</p>
<p>水五升，煮取三升，分溫為三服。</p>
<h3>治夢泄諸失精眾方</h3>
<p>龍骨湯，治夢失精，諸脈浮動，心悸少急，隱處寒，目眶疼，頭發脫者，常七日許一劑，至良方。</p>
<p>龍骨　甘草（炙，各二分）　牡蠣（三分，熬）　桂心　芍藥（各四分）　大棗（四枚，擘）</p>
<p>生薑（五分）</p>
<p>上七味，切，以水四升，煮取一升半，分再服，虛羸浮熱汗出者除桂，加白薇三分、附子三分炮，故曰二加龍骨湯。忌海藻、菘菜、生蔥、豬肉、冷水。</p>
<p>薰草湯，治夢失精方。</p>
<p>薰草　人參　乾地黃　白朮　芍藥（各三兩）　茯神　桂心　甘草（炙。各二兩）</p>
<p>大棗（十二枚，擘）</p>
<p>上九味，切，以水八升，煮取三升，分為二服，每服如人行四五裡。一方又有茯苓三兩。</p>
<p>忌桃李、雀肉、大酢、海藻、菘菜、生蔥。</p>
<p>韭子湯，治失精方。</p>
<p>韭子（一升）　龍骨（三兩）　赤石脂（三兩）</p>
<p>凡三物，以水七升，煮取二升半，分三服。</p>
<p>龍骨散，治男子失精，百術不治方。</p>
<p>龍骨（大如指，赤理錦紋者）　熏草（二兩）　桂肉（二兩）　乾薑（二兩）</p>
<p>凡四物，下篩，酒服方寸匕，日三，神良。</p>
<h3>治多汗方</h3>
<p>治大病後，虛汗出不禁方。</p>
<p>粢粉豉凡二物，分等，火熬令焦，燒故竹扇如掌大，取灰合冶，以絹囊盛，敷體立止，最驗。</p>
<p>當先熬豉末之，與粉等也。</p>
<p>治大病之後，虛汗不可止方。</p>
<p>杜仲　牡蠣凡二物，分等，冶之，向暮臥以水服五錢匕，汗止者不可復服，令人干燥。</p>
<p>治發汗後，遂漏汗不止，其人惡風，小便難，四肢微急，難以屈伸，此為胃干也，桂枝東加附子主之方。</p>
<p>大棗（十四枚，擘）　桂枝（三兩）　附子（一枚，碎之八片）</p>
<p>凡三物，以水七升，煮取三升，分三服。</p>
<h3>治百病後虛煩擾不得眠諸方</h3>
<p>流水湯，主虛煩不得眠方。</p>
<p>半夏（二兩，洗十遍）　粳米（一升）　茯苓（四兩）</p>
<p>上三味，切，以東流水二斗，揚之三千遍，令勞，煮藥，取五升，分服一升，日三夜再。</p>
<p>忌羊肉、餳、醋物。有半夏必須著生薑四兩，不爾，戟人咽，不審古方，何以如此，今改正之。</p>
<p>大烏梅湯，治被下之以後，虛煩燥不得眠，劇者顛倒，心中懊　方。</p>
<p>大烏梅（十四枚，擘）　好豉（七合）</p>
<p>凡二物，以水四升煮梅，令得二升半，納豉令四五沸，得一升半，分二服。</p>
<h2>卷第四</h2>
<p>要方第四卷所治如下：治霍亂諸方治中惡諸方治食毒諸方治中蠱毒諸方治吐下血鼻衄尿血諸方治發黃患淋諸方上六件</p>
<h3>治霍亂諸方</h3>
<p>霍亂吐痢，心煩，亂髮湯主之方。</p>
<p>亂髮（一枚，如鴨子大，燒令焦）　人參（一兩）　吳茱萸（一升）　甘草（一兩，炙）</p>
<p>上四味，切，以水三升，酒二升，煮取二升，絞去滓，溫服五合。忌海藻、菘菜。</p>
<p>治霍亂吐痢，已服理中及四順湯不解者，以竹葉湯方。</p>
<p>竹葉（一虎口，寸切之）　小麥（一升）　生薑（十兩）　甘草（一兩，炙）　人參（一兩）　附子（一兩，炮）　肉桂（二兩）　當歸（二兩）　芍藥（一兩）　白朮（三兩）　橘皮（二兩）</p>
<p>上十一味，以水一斗半，先煮小麥、竹葉，取八升汁，去滓，納諸藥，煮取二升半，分三服。吐痢後腹滿，加厚朴二兩，炙；上氣，加吳茱萸半升，瘥。理中、四順則大熱，熱毒霍亂宜竹葉湯。忌生蔥、海藻、菘菜、豬肉、桃李、雀肉等。</p>
<p>霍亂吐痢而汗出，小便復利，或下利清穀，裡外無熱，脈微欲絕，或惡寒，四肢拘急，手足厥逆，四逆加豬膽湯主之方。</p>
<p>甘草（二兩，炙）　乾薑（半兩，炮）　附子（一枚，生去皮，破八片）　豬膽汁（半合）</p>
<p>上四味，切，以水二升，煮取一升四合，溫分再服。無豬膽，以羊膽代之。強人可與大附子一枚，乾薑加至三兩。若吐之後，吸吸少氣者，及下而腹滿者，加人參一兩，諸藥皆減為一兩。如證者，亦宜與理厥人參湯佳。忌海藻、菘菜、豬肉。</p>
<p>四順湯，與前治同，常用此方。</p>
<p>人參（三兩，一方二兩）　乾薑（三兩，一方一兩）　甘草（三兩，一方一兩，炙）　附子（二兩，《范汪方》用一兩）</p>
<p>上四味，切，以水六升，煮取二升，絞去滓，溫分三服。轉筋肉冷，汗出嘔噦者良。忌海藻、菘菜、豬肉。《范汪方》云：利甚者加龍骨二兩炒。</p>
<p>白丸，治霍亂嘔吐及暴痢良方。</p>
<p>半夏（三兩，洗）　附子（四兩，炮）　乾薑（四兩，炮）　人參（三兩）　桔梗（二兩）</p>
<p>上五味，作散，臨病和之，若吐痢不止者，以苦酒和之，飲服二丸如梧子，不瘥復服，耐藥者加之以意，下者以蜜和丸亦得。忌豬羊肉、餳。</p>
<p>理中湯，治霍亂吐下，脹滿，食不消，心腹痛方。</p>
<p>人參（三兩）　白朮（三兩）　甘草（三兩，炙）　乾薑（三兩）</p>
<p>上四味，以水六升，煮取三升，絞去滓，溫分三服。不瘥，頻進兩三劑。遠行防霍亂，作丸如梧子，服二十丸。散服方寸匕，酒服亦得。若轉筋者，加石膏三兩。忌海藻、菘菜、桃李、雀肉等。</p>
<p>治心腹暴痛，及宿食不消，或宿冷煩滿，成霍亂方。</p>
<p>作鹽湯三升，使極咸，熱飲一二升，刺吐，令宿食盡，不吐復服，吐訖復飲，三吐乃佳，須淨乃止，勝諸湯丸。</p>
<p>霍亂腹疼吐下方。</p>
<p>取桃葉，冬天用皮，絞取汁，一服一杯，立愈。亦可濃煮，飲三升。</p>
<p>治霍亂腹痛，脹滿短氣，不得吐下，灸不效者，熱伏心臟中，煩悶郁郁者方。</p>
<p>可取白粉，水和如糜汁，傾之頓飲一升許，即吐者便愈。不吐者刺吐之。永不吐者，皆危也。無粉者，折秫米取汁。</p>
<p>治霍亂洞下腹痛方。</p>
<p>以艾一把，以水三升，煮得一升，頓服之良。</p>
<p>霍亂臍上築者，腎氣動也，先治氣，理中湯去朮加桂。凡方加朮者，以內虛也；加桂者，恐作奔豚也，理中湯方。</p>
<p>人參（三兩）　甘草（三兩，炙）　白朮（三兩）　乾薑（三兩，炮）</p>
<p>上四味，切，以水八升，煮取三升，去滓，溫服一升，日三夜一。若臍上築者，腎氣動也，去朮加桂心四兩；吐多者，去朮加生薑三兩；若下多者，復用術，悸者加茯苓二兩；若病先時渴喜得水者，加朮合前成四兩半；若腹中痛者，加人參合前成四兩半；若惡寒者，加乾薑合前成四兩半；若腹滿者，去朮加附子一枚，炮去皮、破六片。服湯後一食頃，飲熱粥一升許，汗微出自溫，勿發揭衣被也。忌海藻、菘菜、桃李、雀肉等。</p>
<p>霍亂臍上築者，以吐多故也，若吐多者，理中湯主之，如前法加減。霍亂四逆，吐少嘔多者，附子粳米湯主之方。</p>
<p>附子（一枚，炮去皮，破六片）　半夏（半升，洗，完用）　甘草（一兩，炙）　大棗（十枚，擘）　粳米（半升）</p>
<p>上五味，切，以水八升，煮米熟，去滓，溫服一升，日三。忌羊肉、豬肉、海藻、菘菜、餳。</p>
<p>霍亂卒吐下不禁，脈暴數者，人參湯主之方。</p>
<p>人參（二兩）　茯苓（二兩）　葛根（二兩）　橘皮（二兩）　麥門冬（去心，二兩，）</p>
<p>甘草（二兩，炙）</p>
<p>上六味，切，以水五升，煮取二升，絞去滓，溫分三服。忌海藻、菘菜、酢物。</p>
<p>扶老理中散，並作丸，長服亦得，治羸老冷氣惡心，食飲不化，腹虛滿，拘急短氣，及霍亂吐逆，四肢厥冷，心煩，氣悶，流汗，悉主之方。</p>
<p>人參（五兩）　乾薑（六兩）　白朮（五兩）　麥門冬（六兩，去心）　附子（三兩，炮）　茯苓（三兩）　甘草（五兩，炙）</p>
<p>上七味，作散，臨病煮取三合，白湯飲和方寸匕。一服不效又服。常將蜜丸酒服，如梧子二十丸。忌海藻、菘菜、豬肉、桃李、雀肉、大醋。</p>
<p>治乾嘔逆噦，手足厥冷，橘皮湯方。</p>
<p>橘皮（四兩）　生薑（半斤）</p>
<p>凡二物，以水七升，煮取三升，一服一升，湯下咽即愈。</p>
<p>霍亂多寒，手足寒厥，脈絕，茱萸四逆湯主之方。</p>
<p>吳茱萸（二升）　當歸（三兩）　芍藥（二兩）　桂心（四兩）　細辛（二兩）　生薑（半斤）</p>
<p>通草（二兩）　甘草（二兩）</p>
<p>凡八物，以水四升，清酒四升，合煮取三升，分四服。</p>
<p>治霍亂，或引飲，飲輒乾嘔方。</p>
<p>生薑五兩，以水五升，煮令得二升半，分再服，良。</p>
<p>又方煮高良薑飲之，大佳。</p>
<p>治霍亂煩渴者方。</p>
<p>粢米汁泔，飲數升，立瘥。</p>
<p>又方取新汲冷水飲之。</p>
<p>治中熱，暴下利，霍亂變熱，心煩脈數者方。</p>
<p>飲新出井水一升，立愈。飲多益善。此治，是胃中多熱者也。無熱者，慎之，不可與也。</p>
<p>薺湯，治先有石熱，因霍亂吐下，服諸熱藥，吐下得止，因空虛，仍變煩，手足熱，口燥，欲得水，吐逆迷悶，脈急數者，及時行熱病後，毒未盡，因霍亂吐下，仍發熱煩悶，胸心欲破裂者方。</p>
<p>薺　（二兩）　人參（二兩）　厚朴（二兩）　知母（二兩）　栝蔞（二兩）　葛根（二兩）　枳實（芩（二兩）</p>
<p>甘草（二兩）</p>
<p>凡十四物，以水八升，煮取三升，分五服。</p>
<p>治霍亂煩擾，未得吐下方。</p>
<p>煮香薷汁濃，熱飲之。</p>
<p>霍亂吐下，汗出肉冷轉筋，嘔逆煩悶，欲得冷水者方。</p>
<p>可與厚朴、葛根飲，進沾喉中而已。慎勿與米飲及粥，但與此單行飲，以代米飲水漿也。</p>
<p>又方取藿香一把，以水四升，煮取一升，頓服立愈。</p>
<p>又方煮青木香汁飲，至佳。</p>
<p>若霍亂注痢不止，而轉筋入腹欲死者方。</p>
<p>生薑三兩，搗破，以酒一升，煮三四沸，頓服之。</p>
<p>霍亂轉筋入腹，不可奈何方。</p>
<p>極咸作鹽湯，於槽中暖漬之，則瘥。</p>
<p>又方以醋煮青布，　之腳膝，冷復易之又方蓼一把，去兩頭，以水二升，煮取一升，頓服。</p>
<p>治霍亂轉筋方。</p>
<p>可以白　煮粉，及熱洗之。</p>
<p>治霍亂嘔　，氣厥不得喘息，豉湯方。</p>
<p>豉（一升）　半夏（一兩，洗）　生薑（二兩）　人參（一兩）　柴胡（一兩）　甘草（一兩，炙）</p>
<p>上六物，切，以水五升，煮取二升半，溫服七合，忌羊肉、餳、海藻、菘菜等。</p>
<p>治卒道中得霍亂，無有方藥，氣息危急，醫視舍去，皆云必死，治之方。</p>
<p>蘆蓬茸一大把，煮令味濃，頓服二升則瘥。已用有效。食中魚蟹毒者，服之尤良。</p>
<p>治霍亂，諸藥不能治，亂髮湯方。</p>
<p>亂髮（握如雞子，熬令焦）　小蒜（十四枚）　附子（一兩，炮）　甘草（三兩，炙）</p>
<p>上四味，切，以水六升，煮取三升，去滓，溫分三服。忌豬肉、海藻、菘菜。</p>
<p>凡霍亂，醫所不治方。</p>
<p>童女月衣，合血燒，酒服方寸匕，秘方。湯藥灸周　不瘥，服之立愈。</p>
<h3>治中惡諸方</h3>
<p>治中惡，心痛，胸脅　痛，喘急湯方。</p>
<p>桃東行枝白皮（一虎口，）　真珠（一兩，研）　梔子仁（十四枚）　生薑（二兩）　當歸桂心（各三兩）　附子（一兩，炮）　香豉（五合）　吳茱萸（五合）</p>
<p>上九味，切，以水八升，煮取二升，去滓，納真珠，分二服。忌豬肉、生蔥、生血物。</p>
<p>五疰湯，主卒中賊風、遁尸、鬼邪，心腹刺痛，大腹急方。</p>
<p>大黃（三兩，別漬）　甘草（二兩，炙）　烏頭（十枚，炮，削皮）　生薑（半斤）　桂心（四兩）</p>
<p>上八味，切，以水九升，煮取三升，烏頭別納蜜中煎，令得一升，投著湯中，去滓，分服三合。如人行三十裡又一服，日三。不知，可至四合。王尹威數用之。忌海藻、菘菜、豬肉、生蔥。</p>
<p>大岩蜜湯，治中風，身如角弓反張，並主卒心腹絞痛方。</p>
<p>茯苓　芎　當歸　甘草（各一兩，炙）　桂心（二兩半）　梔子（十四枚，擘）　吳茱萸（三兩）　細辛　乾薑　乾地黃（各二兩）</p>
<p>上十味，切，以水八升，煮取三升，分為三服，相去如行十裡頃。若痛甚者，加羊脂三兩，當歸、芍藥、人參各一兩，心腹脹滿堅急者，加大黃三兩。忌酢、生蔥、生菜、海藻、菘菜、蕪荑等。</p>
<p>又大岩蜜湯，治中惡，腹中絞痛，並飛尸遁疰，發作無時，發則搶心，脹滿，脅下如刀錐刺，並主少陰傷寒方。</p>
<p>甘草（炙）　干黃　細辛　乾薑　當歸　羊脂（青羊脂更勝）　桂心　茯苓　吳茱萸芍藥（各一兩）　梔子（十五枚，擘）</p>
<p>上十一味，切，以水八升，煮取三升，去滓，納脂，溫分三服。忌海藻、菘菜、生蔥、生菜、蕪荑、酢物。</p>
<h3>治食毒諸方</h3>
<p>食飲養小至長，甚難逆迕，致變甚速，豈可不慎！治諸食中毒者，唯黃龍湯及屎汁無不治也，飲馬尿汁亦良。</p>
<p>治人食菜及果子，中蛇毒方。</p>
<p>大豆，末，以酒漬，取汁半升服之。</p>
<p>又方以雞血和真鐵精，吞如梧子大一丸。</p>
<p>治食魚中毒方。</p>
<p>煮橘皮，涼飲之，佳。</p>
<p>食魚中毒，冬瓜汁最驗。</p>
<p>又方舂馬鞭草，飲汁一升，即消去。</p>
<p>又方生薑葉亦佳。</p>
<p>治食魚　及生肉，住胸膈中不化，吐之不出，便成症方。</p>
<p>厚朴（二兩）　大黃（一兩）</p>
<p>凡二物，以酒二升，煮得一升，盡服之，立消。</p>
<p>食魚中毒，面腫煩亂，及食鱸魚肝中毒欲死方。</p>
<p>銼蘆根，舂取汁，多飲乃良。並治蟹毒。</p>
<p>中鮐　魚毒方。</p>
<p>燒　魚皮水服之，無見皮壞刀裝取之。一名鮫魚皮。食諸鮑魚中毒亦用之。</p>
<p>治食六畜肉中毒方。</p>
<p>取其畜干屎末，水服佳。</p>
<p>若自死六畜毒方。</p>
<p>水服黃柏末方寸匕。</p>
<p>食六畜鳥獸方。</p>
<p>頭垢一錢匕，起死人。</p>
<p>又方飲豉汁數升良。</p>
<p>治食野菜、諸脯肉、馬肝、馬肉毒方。</p>
<p>以頭垢棗核大，含之咽汁，能起死人，或曰白湯下亦可。</p>
<p>中萵苣毒、中諸藥毒、　犬傷人，並飲生薑汁即解。</p>
<h3>治中蠱毒諸方</h3>
<p>治中蠱毒諸方。人有養畜蠱毒以病患，凡診法：中蠱狀，令人心腹切痛，如有物嚙，或吐下血，不即治之，食人五臟，盡即死矣。欲知是蠱與非，當令病患唾水，沉者是，浮者非也。</p>
<p>治蠱方。</p>
<p>鼓皮（廣五寸，長一尺）　薔薇根（五寸，如足拇指大，細切）</p>
<p>上二味，以水一升，清酒三升，煮取一升，頓服之，當下蠱，即愈。</p>
<p>又方土瓜根，大如拇指，長三寸，切，以酒半升，漬一宿，一服當吐下。</p>
<p>又方皂莢三挺，長一尺者，炙，去皮子，美酒一升，漬一宿，去滓，頓服。</p>
<p>又方取薺　根，搗為末，以飲服方寸匕。</p>
<p>治蠱方。</p>
<p>櫸樹皮（廣五寸，長一尺）　蘆薇根（五寸，如人足父指大者）</p>
<p>凡二物，切，以水一升，清酒三升，煮取一升，頓服，當下蠱。</p>
<p>治中蠱毒，吐血、或下血，皆如爛肝方。</p>
<p>根（三兩）　荷根（三兩）</p>
<p>上二味，　咀，以水四升，煮取二升，去滓，頓服即愈。又當自知蠱主姓名。</p>
<p>又方巴豆（一枚，去皮心，熬）　豉（三粒）　釜底墨（方寸匕）</p>
<p>上三味，搗，分作三丸，飲下一丸，須臾當下蠱毒。不下更服一丸。</p>
<p>治中蠱吐血方。</p>
<p>苦瓠一枚，以水二升，煮取一升，分服，當吐蠱，如蝦蟆蝌蚪之類。苦瓠毒，可臨時量用之。</p>
<p>又方雄黃（研）　釜月下黃土　獺犴（炙，各如棗）　斑蝥（十四枚，去足翅，熬）</p>
<p>上四味，搗末，以酪漿服之，分為三四服，則吐蝦蟆。</p>
<p>治中蠱，心痛，吐血，欲死方。</p>
<p>鹽一升，淳苦酒一升，煮令消和，一服立吐，蠱毒出。已用良驗。</p>
<p>治蠱毒，腹痛，注下赤血，躑躅散方。</p>
<p>羊躑躅　乾薑　藜蘆（熬）　附子（炮）　巴豆（去皮心，熬）　野葛皮　肉桂　丹砂（研）</p>
<p>雄黃（研）　蜈蚣（炙，各一分）</p>
<p>上十味，搗為散，以水服一刀圭。不知，加一粟米。忌豬肉、蘆筍、生血物、生蔥、狸肉。</p>
<p>治蠱下血欲死方。</p>
<p>薔薇根（銼，一升）　牛膝（五株）　連翹子（一升）　蠟（一彈子許）</p>
<p>上四味，切，以水四升，煮取三升，分三服，即愈。</p>
<p>治諸蠱，大便下血，日數十行方。</p>
<p>巴豆（二七枚，去心皮，熬）　藜蘆（炙）　附子（炮）　芫青（去足翅，熬）　礬石（各二分，上五味，搗下篩，別研巴豆如膏，和相得，以綿裹一大豆許，內下部中，日二三，愈。</p>
<p>忌豬肉、蘆筍、狸肉。</p>
<p>治蠱已食下部，肚盡腸穿者。</p>
<p>取長股蝦蟆青背一枚，雞骨一分，燒為灰，合納下部，令深入。</p>
<p>治時歲蠱注，毒下，諸湯煎不能治，欲死者方。</p>
<p>乾薑（二兩）　附子（二兩，炮）　黃連（二兩）　礬石（二兩）</p>
<p>凡四物，為散，酒服方寸匕，日三。亦可以飲服。</p>
<p>又方黃連（一分）　面（二分）</p>
<p>凡二物，冶末，蜜丸，水服如梧子。</p>
<p>雄黃丸，治蠱注，四肢浮腫，肌膚消索，咳逆，腹大如水狀，漏泄，死後注易家人方。</p>
<p>一名蠱脹方。</p>
<p>雄黃（研）　巴豆（去心皮，熬）　莽草（炙）　鬼臼（各四分）　蜈蚣（三枚，炙）</p>
<p>上五味，搗篩為末，蜜和，更搗三千杵，藥成，密器封之，勿令泄氣。宿勿食，服如小豆一丸，不知加一丸。當先下清水，蟲長數寸，及下蛇，或如壞雞子，或白如膏，下訖後，作蔥豉粥，鴨羹補之。忌生魚、生菜、豬肉、蘆筍、冷水。暖食將養也。</p>
<p>治飲中蠱毒，令人腹內堅痛，面目青黃，淋露骨立，病變無常方。</p>
<p>豬肝一具，蜜一升，共煎之令熟，分為二十服，秘方。</p>
<p>又方取棗木心，銼得一斛，著釜中淹之，令上有三寸水，煮取二斗，澄取清，微火煎得五升，宿勿食，旦服五合，則吐蠱毒出。</p>
<p>治蠱似蛔方。</p>
<p>雄黃（研）　麝香（研）</p>
<p>上二味，各如大豆許，取生羊肺如指大，以刀開，取雄黃等末，以肺裹吞之。</p>
<p>治有人食新變魚取飽中毒，病心腹痛，心下堅，發熱煩冤，欲得水沃身，動搖如魚得水狀，有人診病云是蠱，家云野中相承無此毒，不作蠱治之，遂死。</p>
<h3>治吐下血鼻衄尿血諸方</h3>
<p>治吐血方。</p>
<p>用東向　荷根，搗絞取汁一二升，頓服立愈。</p>
<p>亦治蛄毒痔血，婦人腰腹痛，大起後出清血也。</p>
<p>治吐血、汗血，大小便血，竹茹湯方。</p>
<p>竹茹（二升）　甘草（六分）　當歸（六分）　芎　（六分）　黃芩（六分）　桂心（一兩）　朮（一兩）　人參（一兩）　芍藥（一兩）</p>
<p>凡九物，以水一斗，煮取三升，分四服。</p>
<p>治汗出如水漿，及汗血、衄血、吐血、小便血殆死，都梁香散方。</p>
<p>都梁香（二兩）　紫菀（一兩）　桂肉（一兩）　人參（一兩）　生竹茹（一兩）　肉蓯蓉（一兩）</p>
<p>乾地黃（二兩）</p>
<p>凡七物，冶篩，以水服方寸匕。</p>
<p>治吐血內崩，上氣，而色如土方。</p>
<p>乾薑、阿膠各（二兩）　艾（一把）</p>
<p>上四味，　咀，以水五升，煮取一升，納馬通汁一升，煮取一升，頓服。</p>
<p>治下血，連歲不愈方。</p>
<p>黃連（半斤）</p>
<p>上一味，搗末，以雞子白和為餅子，微火炙令黃黑，復搗篩，飲服方寸匕，日三，有效。</p>
<p>下清血，痿黃失色，醫不能治者，皆瘥。忌豬肉。</p>
<p>諸下血者，先見血後見便，此為遠血，宜服黃土湯；若先見便，後見血，此是近血，宜服赤小豆散。</p>
<p>赤小豆散方。</p>
<p>赤小豆（三升，熬）　當歸（三兩）</p>
<p>凡二物，冶篩，服方寸匕，日三。</p>
<p>黃土湯方灶中黃土（半升，綿裹）　甘草（三兩，炙）　乾薑（二兩）　黃芩（一兩）　阿膠（三兩，炙）</p>
<p>乾地黃（五兩，一方三兩）</p>
<p>凡六物，以水一斗，煮取三升，分三服。</p>
<p>斷血諸方所云：下血者，其從腹裡出者，悉為下血也。有痔病，血從孔邊出者，別尋痔方。</p>
<p>治鼻衄血出數斗，眩冒，劇者不知人方。</p>
<p>乾薑屑，龍骨末，吹之即止。</p>
<p>又方取亂髮五兩，燒之冶末，取如棗核，著筒頭，吹著鼻孔中。不止，益末吹之，並服方寸匕，日三，甚者夜二。</p>
<p>又方未龍骨為散，著葦筒中，吹鼻孔中即斷。苦從耳出亦可吹之。</p>
<p>又治鼻衄積年，夜臥起，而肩頭有凝血數升，眾治不瘥方。</p>
<p>舂　葉，絞取汁，日飲三升，不過四五飲愈，神良。</p>
<p>治小便血，菟絲丸方。</p>
<p>菟絲子　蒲黃　乾地黃　白芷　荊實　葵子　敗醬　當歸　茯苓　芎　（各二兩）</p>
<p>上十味，合搗為末，以白蜜和丸，如梧子大，飲服二丸，日三服。不知，加至五六丸。</p>
<p>劉洪　方。已效，常服。忌酢物、蕪荑。</p>
<p>生地黃湯，治小便血方。</p>
<p>生地黃（半斤）　柏葉（一把）　黃芩（二兩）　膠（二兩）　甘草（二兩）</p>
<p>凡五物，以水七升，煮取三升，絞去滓，納膠令烊，取二升半，分三服。</p>
<h3>治發黃患淋諸方</h3>
<p>黃膽，麻黃醇酒湯主之方。</p>
<p>麻黃（一大把，去節，綿裹）</p>
<p>上一味，美清酒五升，煮取二升半，去滓，頓服盡。《古令方》云：傷寒熱出表，發黃疸，宜汗之則愈。冬月用酒，春宜用水煮之，良。</p>
<p>治黃膽，身目皆黃，皮膚曲塵出，三物茵陳蒿湯方。</p>
<p>茵陳蒿（一把）　梔子（二十四枚，擘）　石膏（一斤，完者）</p>
<p>上三味，以水八升，煮取二升半，去滓，以猛火燒石膏，令正赤，投湯中，沸定取清汁，適寒溫服一升。自覆令汗出周身，遍以溫粉粉之則愈。若不汗，更服一升，汗出乃愈也。</p>
<p>凡人無故，忽然振寒，便發黃，皮膚黃曲塵出，小便赤少，大便時閉，氣力無異，食飲不妨，已服諸湯，余熱不除，久黃者，苦參散方。</p>
<p>苦參（一兩）　黃連（一兩）　葶藶子（熬）　瓜蒂　黃芩　黃柏　大黃（各一兩）</p>
<p>上一味，搗為散，飲服方寸匕，當大吐，吐者日一服，不吐日二，亦得下，服藥五日知，可消息，不知更服。忌豬肉、冷水。</p>
<p>黃家腹滿，小便不利而赤，身汗出者，表和裡實也，宜下之，大黃黃柏皮梔子硝石湯方。</p>
<p>大黃（四分）　黃柏（四兩）　肥梔子（十五枚，擘）　硝石（四兩，末）</p>
<p>上四味，切，以水六升，煮三物，得二升半，去滓，納硝石更煎取一升，先食頓服盡。</p>
<p>黃家日晡發熱，而反惡寒，此為女勞得之，膀胱急，小腹滿，身體盡黃，額上反黑，足下熱，因作黑疸，大便必黑，腹臚脹滿如水狀，大便黑溏者，此女勞之病，非水也，腹滿者難治，硝石礬石散主之方。</p>
<p>硝石（熬黃）　礬石（燒令汁盡）</p>
<p>上二味，等分，搗，絹篩，以大麥粥汁和服方寸匕，日三。重衣覆取汗，病隨大小便去，小便正黃，大便正黑也。大麥則須是無皮麥者。</p>
<p>治黃膽之為病，日晡所發熱惡寒，小腹急，體黃，額黑，大便黑溏泄，足下熱，此為女勞也，腹滿者難治方。</p>
<p>滑石（五兩，碎研）　石膏（五兩，研）</p>
<p>上二味，為散，以大麥粥汁服方寸匕，日三，小便極利則瘥。</p>
<p>地膚湯，治下焦諸結熱，小便赤黃，數起出少，大痛或便血者，溫病後余熱，及霍亂後當風取熱，過度飲酒房勞，及步行冒熱，冷凍飲料逐熱，熱結下焦及散石熱動關格，少腹堅，胞脹如斗大，諸淋服之即通方。</p>
<p>地膚草（三兩）　知母　豬苓（去皮）　瞿麥　黃芩　升麻　通草（各二兩）　海藻（一兩）　葵子（一升）　枳實（二兩，炙）</p>
<p>上十味，切，以水九升，煮取三升，分三服。大小行皆閉者，加大黃三兩；婦人房勞，腎中有熱，小便難不利，腹滿痛，脈沉細者，加豬腎一具。</p>
<p>治淋，榆皮湯方。</p>
<p>榆皮（半斤）　滑石（二兩，一方一兩）　黃芩（一兩，一方二兩）　甘草（炙）　瞿麥（各二兩）　葵子（一升）</p>
<p>上六味，切，以水一斗，煮取三升，溫服一升，旦服。忌海藻、菘菜。</p>
<p>治石淋方。</p>
<p>取附船底苔，大如鴨子，以一區半水煮取一區，一服一升，日三。</p>
<p>治石淋方。</p>
<p>浮石取滿一手，搗為末，以水三升，苦酒一升，煮取二升，澄清，溫服一升，不過再三服，石即便出。</p>
<p>治石淋神方。</p>
<p>車前子二升，以絹囊盛，以水八升，煮取三升，盡服之。日移一丈。石子當出，宿不食，飲之良。</p>
<p>又方生　莖葉，合搗取汁，服一升，日三。</p>
<p>小便不通及關格方。</p>
<p>取生土　根，搗取汁，以少水解之於筒中，吹納下部即通，秘方。</p>
<p>治小便閉方。</p>
<p>豉半升，水四升，煮一沸，去滓，一服立愈，通。</p>
<p>治小便不通方。</p>
<p>熬鹽令熱，納囊中，以熨少腹上。</p>
<p>卒小便不通及胞轉方。</p>
<p>車前草一斤，水一斗，煮取四升，分四服。</p>
<h2>卷第五</h2>
<p>要方第五卷所治如下：丸散酒煎膏諸方治下利諸方治咳嗽諸方（待考）</p>
<p>治上氣如奔豚諸方治心腹胸脅中病諸方治虛補養（腎虛腰疼）諸方治渴利諸方治風諸方治邪狂顛諸方上八件</p>
<h3>治下利諸方</h3>
<p>烏梅丸，治雜下方。第一下赤；二下白；三下黃；四下青；五下黑；六固病下，下如瘀赤血；七久下；八下不可止；九連年下；十卒下；十一下少血數；十二霍亂而下；十三下如舍水；十四下已則煩；十五息下，一作一止；十六下而不欲食；十七食無數，但下者；十八下但欲飲水；十九重下；二十雜錯不可名字。合二十種下。江夏太守以此法治，是下盡愈方。</p>
<p>黃連（一兩）　黃柏（一兩）　熟艾（一兩）　附子（一兩）　甘草（一兩）　乾薑（二兩）　烏梅（凡七物，合搗下篩，蜜和丸，如大豆，飲服十丸，漸至二十丸，日三。</p>
<p>青要結腸丸，治熱毒下不絕，不問久新，悉治之方。</p>
<p>苦參　橘皮　阿膠（炙）　獨活　芍藥　黃連　藍青（一方乾薑四分代）　鬼臼黃柏　甘草（各四分）</p>
<p>凡十物，合搗下篩，蜜烊膠和之，並手捻作丸，如梧子，干以飲服十丸，日三，不知稍增。</p>
<p>薑附散，治青下、白下方。</p>
<p>乾薑　附子（炮）　皂莢（炙去子）</p>
<p>上三味，等分，搗篩為散，飲服方寸匕，不過再服即愈。亦可丸服。</p>
<h3>治上氣如奔豚諸方</h3>
<p>治手足逆冷，胸滿氣促，從臍左右起，鬱冒者方，桐君說。</p>
<p>伏出雞卵殼中白皮　梨木灰　麻黃（去節）　紫菀（各等分）</p>
<p>上四味，搗下篩，作丸、散，隨宜酒服十丸，如梧子，散者方寸匕。治三十年喉中結氣咳逆立瘥也。亦可水煮為湯，以意分之。</p>
<h3>治心腹胸脅中病諸方</h3>
<p>九痛丸，主九種心痛。一蟲心痛，二注心痛，三風心痛，四悸心痛，五食心痛，六飲心痛，七冷心痛，八熱心痛，九生來心痛，方悉主之。並治冷腫上氣，落馬墮車方。</p>
<p>附子（二兩）　巴豆仁（一兩）　生野狼毒（一兩，炙令極香、抨）　人參（一兩）　乾薑（一兩）</p>
<p>食茱萸（一兩）</p>
<p>六味，蜜和，空腹服如梧子三丸。卒中惡腹痛，口不言，二日一服。連年積冷，流注心胸者，亦服之，好好將息，神驗。</p>
<p>七氣丸，治七氣。七氣為病，有寒氣、怒氣、喜氣、憂氣、恚氣、愁氣、熱氣。此七氣為病，皆生積聚，堅牢如壞在腹中，心痛煩怨，不能飲食，時去時來，發作有時，每發痛欲絕也。其寒氣則吐逆，心下脹滿；其熱氣則慌惚悶亂，常如眩冒，失精；其怒氣則不可當，熱病上蕩心，短氣欲絕，不得息；其恚氣則積聚心下，不得食飲；其喜氣則不可疾行久立；其憂氣則不可苦作，臥不安席；其愁氣則怒，忘置物四傍，不復憶處，四肢手足　腫，不得舉。亦治產生早起，中風余疾也。</p>
<p>大黃（十分，炮）　人參（三分）　椒（二分，熬）　半夏（三分，熬）　烏頭（五分，熬）　桔梗（三分）　細辛（三分）　茱萸（三分，熬）　乾薑（三分）　菖蒲（三分）　茯苓（三分）　芎（四分）　紫菀（三分）　甘草（三分）　石膏（三分）　柴胡（三分）　桃仁（三分）</p>
<p>凡十七物，冶，合下篩，和以蜜，酒服如梧子三丸，日三，不知稍增以知，至十丸為度。</p>
<h3>治虛補養（腎虛腰疼）諸方</h3>
<p>腎虛腰痛治之方。</p>
<p>牡丹（二分，去心）　萆　（三分）　白朮（三分）　桂心（三分）</p>
<p>上四味，搗篩，以酒服方寸匕，日三。亦可作湯服之。忌生蔥、胡荽、桃李、雀肉等。</p>
<p>治腰痛少氣，陰弱寒冷，小便清冷瀝滴，陰下濕癢，少腹急，無子息方。</p>
<p>甘草（十四分，炙）　續斷（三分）　麥門冬（三分）　薯蕷（三分）　附子（三分，炮）　乾薑（二分）　棘刺（四分）</p>
<p>上七味，搗篩，酒服方寸匕，日三。忌豬肉、冷水、海藻、菘菜。</p>
<p>治腰痛，皆積年痛者方。</p>
<p>乾地黃（十分）　白朮（五分）　乾漆（五分）　桂心（八分）　甘草（五分，炙）</p>
<p>上五味，搗末，以酒服方寸匕，日三。忌桃李、雀肉、生蔥、海藻、菘菜、蕪荑等。</p>
<p>治卒腰痛不得俯仰方。</p>
<p>鹿角（長六寸，燒）</p>
<p>上一味，搗篩為末，以酒服方寸匕。</p>
<p>腰疼方。</p>
<p>鱉甲（一枚，炙令黃，刮削令淨潔。）</p>
<p>上一味，搗篩，空腹以湯、飲、酒服方寸匕，日三。忌人莧菜。</p>
<h3>治渴利諸方</h3>
<p>男子消渴，飲一斗水，小便亦得一斗，宜八味腎氣丸主之，神方，消渴人宜常服之。</p>
<p>乾地黃（八兩）　薯蕷（四兩）　茯苓（三兩）　山茱萸（五兩）　澤瀉（四兩）　牡丹皮（三兩）</p>
<p>附子（三兩，炮）　桂心（三兩）</p>
<p>上藥搗篩，蜜和丸，如梧子大，酒下十丸，少少加，以知為度。忌豬肉、冷水、蕪荑、胡荽、酢物、生蔥。</p>
<p>栝蔞丸，治日飲一石許，小便不通方。</p>
<p>栝蔞（三分）　鉛丹（三分）　葛根（三分）　附子（一分）</p>
<p>凡四物，冶下篩，蜜丸如梧子，飲服十丸，日三。</p>
<p>鉛丹散，治消渴，止小便方。</p>
<p>鉛丹（二分）　栝蔞（十分）　澤瀉（五分）　石膏（五分）　赤石脂（五分）　白石脂（五分）　胡粉（二分）　甘草（十分）</p>
<p>凡八物，冶下篩，酒服方寸匕，日三。不知稍增，年壯服半匕。得病一年，服藥一日愈，二年二日瘥。甚者，夜以水服，勿用酒。</p>
<h3>治風諸方</h3>
<p>丹參膏，治傷寒時行賊風惡氣方。</p>
<p>在外即肢節麻痛，喉咽痹，寒入腹則心急脹滿，胸脅痞塞。內則服之，外則摩之。並癱緩不隨，風濕痹不仁，偏枯拘屈，口　耳聾齒痛，頭風痹腫，腦中風動且痛，若癰結核漏瘰堅腫未潰，敷之取消，及丹疹諸腫無頭欲狀骨疽者，摩之令消，及惡結核走身中者，風水游腫，亦摩之。其服者如棗核大，小兒以意減之，日五服，數用之悉效。</p>
<p>丹參　蒴　（各三兩）　莽草葉　躑躅花（各一兩）　秦膠　獨活　烏頭　川椒　連翹　桑白皮　牛膝（各二兩）</p>
<p>十二物，以苦酒五升，油麻七升　煎令苦酒盡，去滓，用如前法，亦用豬脂同煎之。若是風寒冷毒，可用酒服。若毒熱病，但單服，牙齒痛單服之，仍用綿裹嚼之，比常用豬脂煎藥。有小兒耳後　子，其堅如骨，已經數月不盡，以帛塗膏貼之，二十日消盡，神效無比。</p>
<h3>治邪狂顛諸方</h3>
<p>別離散，治男子女子風邪，男夢見女，女夢見男，交歡日久成勞。悲愁憂恚，怒喜無常，日漸羸瘦，連年歲月，深久難治，或半月或數月日，復發者方。</p>
<p>楊上寄生（三兩，炙）　菖蒲　細辛　附子（炮）　乾薑　薊根　天雄（炮）　桂心（各一兩）</p>
<p>白朮（二兩）　茵芋（二兩）</p>
<p>上十味，合搗下篩，以酒服半方寸匕，日三，不飲酒，用童子小便調服，合藥勿令婦人見之，勿令病患見。見者，令邪氣不去，禁之為驗。忌生蔥、生菜、豬羊肉、桃李、雀肉、餳等物。</p>
<p>治鬼魅，四物鳶頭散方。</p>
<p>東海鳶頭（是由跋）　黃牙石（又名金牙）　莨菪　防葵（各一分）</p>
<p>上藥搗下篩，以酒服方寸匕。欲令病患見鬼，增防葵一分；欲令知鬼主者，復增一分，立有驗。防葵、莨菪並令人迷惑慌惚如狂，不可多服。</p>
<p>治癲疾發作，僵仆不知人言語，妄見鬼方。</p>
<p>莨菪子三升，清酒五升漬，出曝乾，復納，汁盡，曝乾，搗冶末，空腹服四分匕，日三。</p>
<p>治卒癲疾，癲狂莨菪散方。</p>
<p>莨菪子三升，末之，酒一升漬多日，出搗之，以向汁和，絞去滓，湯上煎令可丸，服如小豆三丸，日三，口面當覺急，頭中有蟲行者，額及手足應有赤色處，如此必是瘥候，若未見，服取盡矣。</p>
<h2>卷第六</h2>
<p>要方第六卷所治如下：治冬月傷寒諸方治春夏溫熱病諸方治秋月中冷（瘧病）諸方上三件</p>
<h3>治冬月傷寒諸方</h3>
<p>論曰：古今相傳，稱傷寒為難治之病，天行溫疫是毒病之氣，而論治者，不別傷寒與天行溫疫為異氣耳。云傷寒是雅士之辭，云天行溫疫是田舍間號耳，不說病之異同也。考之眾經，其實殊矣。所宜不同，方說宜辨，是以略述其要焉。</p>
<p>《陰陽大論》云：春氣溫和，夏氣暑熱，秋氣清涼，冬氣冰冽，此則四時正氣之序也。</p>
<p>冬時嚴寒，萬類深藏，君子周密，則不傷於寒。觸冒之者，乃名傷寒耳。其傷於四時之氣，皆能為病，以傷寒為毒者，以其最成殺癘之氣也。中而即病者，名曰傷寒；不即病者，寒毒藏於肌膚中，至春變為溫病，至夏變為暑病。暑病者，熱極重於溫也。是以辛苦之人，春夏多溫熱病者，皆由冬時觸冒寒冷之所致，非時行之氣也。凡時行者，春時應暖而反大寒，夏時應熱而反大冷，秋時應涼反而大熱，冬時應寒而反大溫，此非其時而有其氣。是以一歲之中，長幼之病多相似者，此則時行之氣也。</p>
<p>王叔和曰：傷寒之病，逐日淺深，以施方治。今世人得傷寒，或始不早治，或治不對病，或日數久淹，困乃告醫。醫又不知次第而治之，則不中病。皆以臨時消息制方，無不效也。</p>
<p>今搜采仲景舊論，錄其證候、診脈聲色、對病真方有神驗者，擬防世急也。又土地高下，寒溫不同；物性剛柔，餐居亦異。是故黃帝興四方之問，岐伯舉四治之能，以訓後賢，開其未悟，臨病之工，宜須兩審也。</p>
<p>陳廩丘云：或問：得病連服湯藥發汗，汗不出如之何？答曰：醫經云：連發汗，汗不出者死。吾思可蒸之，如蒸中風法。蒸濕之氣於外迎之，不得不汗出也。後以問張苗，苗云：曾有人作事疲極汗出臥單簟，中冷得病，但苦寒蜷，諸醫與丸、散、湯，四日之內，凡八發汗，汗不出，苗令燒地布桃葉蒸之，即得大汗，於被中就粉敷身極燥，乃起便愈。後數以此發汗，汗皆出也。人性自有難使汗出者，非但病使其然，蒸之無不汗出也。</p>
<p>詔書發汗白薇散，治傷寒二日不解方。</p>
<p>白薇（二兩）　麻黃（七分，去節）　杏仁（去皮尖，熬）　貝母（各三分）</p>
<p>上四味，搗散，酒服方寸七，自覆臥，汗出則愈。</p>
<p>雞子湯，治發汗後二三日不解，頭痛肉熱方。</p>
<p>麻黃（一兩，去節）　甘草（一分，炙）</p>
<p>上二味，切，以水二升，扣雞子白令置於水內，合和令勻，納藥復攪令和，上火煎之，勿動，煎至一升，適寒溫頓服之。蓋覆汗出，粉敷之有效。忌海藻、菘菜。</p>
<p>葛根湯，治病三四日不瘥，身體毒熱方。</p>
<p>葛根（八兩）　生薑（三兩）　龍膽　大青（各半兩）　桂心　甘草（炙）　麻黃（去節，各二兩）　葳蕤　芍藥　黃芩　石膏（碎）　升麻（各一兩）</p>
<p>上十二味，切，以水一斗，先煮葛根、麻黃取八升，掠去沫，然納余藥，煮取三升，分三服，日二夜一服。忌海藻、菘菜、生蔥。</p>
<p>治傷寒六七日，其人大下，寸脈沉遲，手足厥逆，下部脈不至，咽喉痛不利，唾膿血，泄利不止者，麻黃升麻湯方。</p>
<p>麻黃（二兩半，去節）　升麻（五分）　當歸（五分）　知母　葳蕤（一作菖蒲）　黃芩（各三分）　麥門冬（去心，一作天門冬）　桂心　芍藥　乾薑　石膏（碎）　甘草（炙）　茯苓　白朮（各上十四味，切，以水一斗，先煮麻黃減二升，掠去上沫，納諸藥，煮取三升，去滓，溫分三服，相去如炊三斗米頃，令盡，汗出便愈。忌海藻、菘菜、生蔥、醋、桃李、雀肉等。</p>
<p>治傷寒七八日，內實瘀熱結，身黃如橘，小便不利，腹微脹滿，茵陳湯下之方。</p>
<p>茵陳（六兩）　梔子（十四枚）　大黃（三兩）　石膏（一斤）</p>
<p>上四味，　咀，以水一斗二升煮茵陳，得五升，去滓，納梔子、大黃，煎取三升，分服一升，日三。小便當利，如皂莢沫狀，色正赤，當腹減，黃悉隨小便去也。</p>
<p>葳蕤湯，治冬溫及春月中風、傷寒，則發熱，頭眩痛，喉咽乾，舌強，胸內疼，心胸痞滿，腰背強方。</p>
<p>葳蕤（二兩）　石膏（三分，末，綿裹）　白薇（二兩）　麻黃（二兩，去節）　獨活（二兩）　杏仁（二兩，去皮尖兩仁）　芎　（二兩）　甘草（二兩，炙）　青木香（二兩，無可用麝香一分代之）</p>
<p>上九味，切，以水八升，煮取三升，分三服，取汗。若一寒一熱者，加朴硝一分及大黃三兩下之。忌海藻、菘菜。</p>
<p>茅根橘皮湯，治春夏天行傷寒，胃冷變　方。</p>
<p>白茅根（切，一升）　橘皮（三兩）　桂心（二兩，切）</p>
<p>上三味，切，以水六升，煮取三升，去滓，溫分三服，數數服之，盡復合之，　止乃停，取微汗。有熱減桂心一兩。忌生蔥。</p>
<p>芍藥地黃湯，治傷寒及溫病，應發汗而不發之，內瘀有蓄血者，及鼻衄，吐血不盡，內余瘀血，面黃，大便黑者，此主消化瘀血方。</p>
<p>芍藥（三兩）　生地黃（半斤）　牡丹（二兩）　犀角（一兩，屑）</p>
<p>上四味，切，以水九升，煮取三升，分三服。其人喜忘如狂者，加地黃三兩、黃芩三兩。</p>
<p>其人脈大來遲，腹不滿，自言滿者，為無熱，但依方服，不須黃芩也。忌蕪荑、胡荽。</p>
<p>治傷寒鼻衄不止，茅花湯主之方。</p>
<p>茅花（一大把）</p>
<p>上以水八升，煮取三升，分三服，即瘥。若無茅花，取茅根代之亦可。</p>
<p>治傷寒身熱，衄血，嘔逆，麥門冬湯主之方。</p>
<p>麥門冬　石膏　寒水石（各三兩）　甘草（二兩）　桂心（一兩）</p>
<p>上五味，切，以水一斗，煮取三升，分三服。</p>
<p>服桂枝湯大汗後，煩渴熱不解，脈洪大者，屬白虎加人參湯方。</p>
<p>知母（六兩）　甘草（二兩，炙）　石膏（一升，碎，綿裹）　人參（二兩）　粳米（一升）。</p>
<p>上五味，切，以水一斗二升，煮米熟，去米，納諸藥，煮取六升，去滓，溫服一升，日三。忌海藻、菘菜。</p>
<p>射干湯，主春冬傷寒，秋夏中冷，咳嗽曲拘，不得氣息，喉嗚啞失聲，干嗽無唾，喉中如哽者方。</p>
<p>射干（二兩）　半夏（五兩，洗）　杏仁（二兩，去皮尖兩仁）　乾薑（二兩，炮）　甘草（二兩，炙）　紫菀（二兩）　肉桂（二兩）　吳茱萸（二兩）　當歸（二兩）　橘皮（二兩）　麻黃（二兩，去上十二味，切，以水一斗，煮取三升，去滓，溫分三服。始病一二日者可服此湯，汗後重服勿汗也。病久者，初服可用大黃二兩。初秋夏月豪雨冷，及天行暴寒，熱喜伏於內，宜生薑四兩代乾薑，除茱萸，用枳實二兩炙。忌羊肉、海藻、菘菜、餳、生蔥。</p>
<p>漏蘆連翹湯，治傷寒熱毒，變作赤色癰疽、丹疹、腫毒，及眼赤痛生障翳，悉主之方。</p>
<p>兼治天行。</p>
<p>漏蘆（二兩）　連翹（二兩）　黃芩（二兩）　麻黃（去節，二兩）　白蘞（二兩）　升麻（二兩）</p>
<p>甘草（二兩，炙）　大黃（二兩，切）　枳實（三兩，炙）</p>
<p>上九味，切，以水九升，煮取三升，去滓，溫分三服。相去二食頃更服。熱盛者，可加芒硝二兩。忌海藻、菘菜等物。</p>
<p>秦皮湯，治毒病沖眼，忽生赤翳，或白，或腫膚起，或赤痛不得視光，痛入心肝，或眼外浮腫如吹，汁出，生膜覆珠子方。</p>
<p>秦皮（二兩）　前胡（二兩）　常山（二兩）　黃芩（二兩）　升麻（二兩）　芍藥（二兩）　白薇（二兩）　枳實（二兩，炙）　大黃（三兩）　甘草（二兩，炙）</p>
<p>上十味，以水八升，煮取三升，分三服，相去二食頃更服。若盛熱者，可加芒硝二兩。</p>
<p>忌海藻、菘菜、生蔥、生菜。</p>
<p>犀角湯，治熱毒下黃赤汁，及赤如腐爛血，及赤滯如魚腦，腹痛壯熱，諸藥無效方。</p>
<p>黃柏（一兩半）　黃芩（一兩半）　白頭翁（一兩）　黃連（二兩）　當歸（一兩）　牡蠣（一兩半，熬）　犀角（屑，半兩）　艾葉（半兩）　石榴皮（一兩半）　桑寄生（一兩）　甘草（一兩，炙）</p>
<p>上十一味，切，以水八升，煮取三升，分三服。忌豬肉、冷水、海藻、菘菜。</p>
<p>治濕熱為毒，及太陽傷寒，外熱內虛，熱攻腸胃，下黃赤汁，及如爛肉汁及赤滯，壯熱腸痛者，諸熱毒下良方。</p>
<p>梔子（十四枚）　豉（一升）　薤白（一虎口）</p>
<p>凡三物，切，以水四升，煮梔子、薤白令熟，納豉，煎取二升半，分三服。</p>
<p>麥奴丸，治傷寒五六日以上不解，熱在胸中，口噤不能言，唯欲飲水，為敗傷寒，醫所不治方。</p>
<p>麻黃（去節）　大黃　芒硝　灶突中墨　黃芩（各二分）　麥奴　梁上塵　斧底黑（各一分）</p>
<p>上八味，搗篩，蜜和如彈丸，以新汲水五合研一丸，病者渴欲飲水，但極飲冷水，不節升數，須叟當寒，寒訖汗出則愈。若日移五丈不汗，依前法服一丸，以微利止。藥勢盡乃食，當陽毒湯，治傷寒一二日，便成陽毒，或服藥吐下之後，變成陽毒。身重腰背痛，煩悶不安，狂言，或走，或見神鬼，或吐血下利。其脈浮大數，面赤斑斑如錦紋，喉咽痛，唾膿血。</p>
<p>五日可治，至七日不可治也，宜服升麻湯方。</p>
<p>升麻（二分）　當歸（二分）　蜀椒（汗，一分）　雄黃（研）　梔子　桂心（各一分）</p>
<p>甘草（二分，炙）　鱉甲（大如手一片，炙）</p>
<p>上八味，切，以水五升，煮取二升半，分三服，如人行五裡久再服，溫覆手足，毒出則汗，汗出則解，不解重作，服亦取得吐佳。陰毒去雄黃。忌海藻、菘菜、生蔥、莧菜。</p>
<p>陰毒湯，治傷寒初病一二日，便結成陰毒，或服湯藥六七日以上至十日，變成陰毒。身重背強，腹中絞痛，喉咽不利，毒瓦斯攻心，心下堅強，短氣不得息，嘔逆，唇青面黑，四肢厥冷，其脈沉細緊數，仲景云：此陰毒之候，身如被打，五六日可治，至七日不可治，宜服甘草湯方。</p>
<p>甘草（炙）　升麻　當歸（各二分）　蜀椒（一分，出汗）　鱉甲（大如手一片，炙）</p>
<p>上五味，切，以水五升，煮取二升半，分再服，如人行五裡頃復服，溫覆當出汗，汗出則愈。若不得汗，則不解，當重服令汗出。忌海藻、菘菜、莧菜。</p>
<p>青葙子散，治熱病有　；下部生瘡方。</p>
<p>青葙（一兩）　蘆（四兩）　野狼牙（三分）　橘皮（二分）　蓄（二分，切之）</p>
<p>上五味，搗下篩，粥飲和合服兩錢匕，日三，不知稍增之。</p>
<p>治食勞復方。</p>
<p>葛根五兩，以水五升，煮取二升，冷，分三服。</p>
<p>治百合之病，諸藥不能治，若得藥則劇而吐痢，如有神靈所加也。身體仍和，脈微數，每尿時輒頭痛，六十日乃愈。尿頭不痛，淅淅然者，四十日愈。尿快然，但頭眩者，二十日愈。其證或未病而預見，或病四五日而出，或病二十日、一月日復見者，悉治之。</p>
<p>發汗已，更發者，百合知母湯主之方。</p>
<p>百合（七枚，擘）　知母（三兩）</p>
<p>上二味，以泉水洗，先漬百合經一宿，上當白沫，瀉卻其汁，更以好泉水二升，煮取一升，去滓，置之一處，別以泉水二升，煮知母取一升，去滓，二味汁相和，煮取一升半，分溫再服之。</p>
<p>下之已，更發者，百合滑石代赭湯主之方。</p>
<p>百合（七枚，擘，以泉水漬一宿，上當白沫出，去之）　滑石（三兩，碎）　代赭（如彈丸一枚，碎）</p>
<p>上三味，先以泉水二升，煮百合取一升，去滓，置一廂，又以泉水二升，煮和二味，取一升，去滓，合煎，取一升半，分再服。</p>
<p>吐之已，更發者，百合雞子湯主之方。</p>
<p>百合（七枚）</p>
<p>上一味，依前法，泉水二升，煮取一升，去滓，扣雞子一枚，取中黃，納百合湯中，攪令調，溫再服之。</p>
<p>不吐、不下、不發汗，病形如初，百合生地黃湯主之方。</p>
<p>百合（七枚）</p>
<p>上一味，依前法漬，以泉水二升，煮取一升，出地黃汁一升，二味汁相和，煮取一升半，溫分再服。一服中病者，更勿服也，大便當出惡沫。</p>
<p>凡百合病見於陰，而以陽法攻之，其陰不得解也，復發其汗，此為逆，其病難治。見於陽而以陰法攻之，其陽不得解也，復下之，其病不愈。</p>
<p>百合病，經一月不解，變成渴者方。</p>
<p>百合根（切，一升）</p>
<p>上一味，以水一斗，漬之一宿，以汁洗病患身也。洗身訖，食白湯餅，勿與鹽豉也。渴不瘥，可用栝蔞根並牡蠣等份為散，飲服方寸匕，日三服。</p>
<p>百合病，變腹中滿痛者方。</p>
<p>但取百合根，隨多少熬令色黃，末，飲服之方寸匕，日三，滿消痛止。</p>
<p>治百合病變熱者方。</p>
<p>百合一兩，滑石三兩，為末，飲服方寸匕。微利乃良。</p>
<p>治狐惑，薰草黃連湯方。</p>
<p>黃連（四兩，去皮）　薰草（四兩）</p>
<p>上二味，切，以白漿一斗，漬之一宿，煮取二升，去滓，分為二服。忌豬肉、冷水。</p>
<p>其人脈數無熱，微煩，默默但欲臥，汗出，得之三四日，眼赤如鳩眼者；得之七八日，其四黃黑，能食者，膿已成也，治之方。</p>
<p>以赤小豆三升，漬之，令生牙足，復干之，加當歸三兩，末，漿水服方寸匕，日三。</p>
<h3>治春夏溫熱病諸方</h3>
<p>茅根湯，治溫病有熱，飲水暴冷　者方。</p>
<p>茅根　葛根（各切半升）</p>
<p>上二味，以水四升，煮取二升，稍溫飲之，　止則停。</p>
<p>治溫病熱未除，重被暴寒，寒毒入胃，熱蘊結不散，變　者方。</p>
<p>單煮梓皮，稍稍飲之佳。溫病積飲冷，冷結胃中，熱入腎中，變壯熱大　者，服梓皮溫得止也。夫腎中有熱者，病瘥後，足心皮喜剝脫去，頭髮禿落，是其證也。</p>
<p>茅根橘皮湯，治春夏天行寒毒傷於胃，胃冷變　方。</p>
<p>白茅根（切，一升）　橘皮（三兩）　桂心（二兩）　葛根（二兩）</p>
<p>上四味，切，以水六升，煮取三升，分溫服三合，數連服之，盡復合，　止乃停耳。微有熱減桂一兩。</p>
<p>知母解肌湯，治溫熱病頭痛，骨肉煩疼，口燥心悶者；或是夏月天行毒，外寒內熱者；或已下之，余熱未盡者；或熱病自得痢，有虛熱煩渴者方。</p>
<p>麻黃（二兩，去節）　知母（三兩）　葛根（三兩）　石膏（三兩，碎，裹）　甘草（二兩，炙）</p>
<p>上五味，切，以水七升，煮取三升，分為三服。若已下及自得下，虛熱未歇者，除麻黃，加知母、葛根，病熱未除因夢泄者，可除麻黃加白薇、人參各二兩則止。忌海藻、菘菜。</p>
<p>葛根橘皮湯，治冬溫未即病，至春被積寒所折，不得發，至夏得熱，其春寒解，冬溫毒始發出，肌中斑爛癮疹如錦紋而咳，心悶嘔，但吐清汁，宜服此湯則靜方。</p>
<p>葛根（二兩）　橘皮（二兩）　杏仁（二兩，去尖皮及兩仁）　麻黃（二兩，去節）　知母（二兩）　黃芩（二兩）　甘草（二兩，炙）</p>
<p>上七味，切，以水七升，煮取三升，分溫三服，嘔悶吐當先定，便且消息。忌海藻、菘菜。</p>
<p>治溫毒發斑。赤斑者五死一生，黑斑者十死一生，大疫難救，黑奴丸方。</p>
<p>麻黃（三兩，去節）　大黃（二兩）　芒硝（一兩，別下）　黃芩（一兩）　釜底墨（一兩，研入）</p>
<p>上七味，搗末，用蜜和如彈子大，新汲水五合，研一丸服之。若渴但與水，須臾當寒，寒訖便汗，則解。日移五丈不覺，更服一丸。此治六日胸中常大熱口噤，名壞病，醫所不治，服治天行，若已五六日不解，頭痛壯熱，四肢煩疼，不得飲食，大黃湯方。</p>
<p>大黃（半兩）　黃連（半兩，去毛）　黃柏（半兩）　梔子（半兩，擘）</p>
<p>上四味，切，以水八升，煮取六七沸，納豉一升，蔥白七莖，煮取三升，分三服。此許推然方，神良。又治傷寒已五六日，頭痛壯熱，四肢煩疼，取汗，並宜老小。忌豬肉、冷水。</p>
<p>正朝屠蘇酒法，令人不病溫疫。</p>
<p>大黃（五分）　川椒（五分）　朮　桂（各三分）　桔梗（四分）　烏頭（一分）　菝（二分）</p>
<p>七物細切，以綃囊貯之，十二月晦日正中時，懸置井中至泥，正曉拜慶前出之，正旦取藥置酒中，屠蘇飲之於東向。藥置井中能迎歲，可世無此病，此華佗法。武帝有方驗中，從小至大，少隨所堪，一人飲一家無患，飲藥三朝。一方有防風一兩。</p>
<p>屠蘇酒，此華佗方也。元旦飲之，辟疫癘一切不正之氣。</p>
<p>造法：用赤朮、桂心七錢五分，防風一兩，菝　五錢，蜀椒、桔梗、大黃五錢七分、烏頭二錢五分，赤小豆十四枚，以三角絳囊盛之，除夜懸井底，元旦取出置酒中，煎數沸。舉家東向，從少至長，次第飲之，藥滓還投井中，歲飲此水，一世無病。</p>
<h3>治秋月中冷（瘧病）諸方</h3>
<p>治山瘴瘧，陵鯉甲湯。南方山嶺溪源，瘴氣毒作，寒熱發作無時，痿黃腫滿，四肢痹弱，皆山毒所為也，並主之方。</p>
<p>陵鯉甲，（十片，炙）　烏賊魚骨（去甲）　鱉甲（炙，各一兩）　常山（三兩）　附子（一枚，炮）</p>
<p>上五味，切，以酒三升，漬之一夕，先瘧發前，稍稍服之，勿絕藥味，兼以塗身體，斷雜人，勿食飲，過時乃得通人，進飲食。忌莧菜、生蔥、生菜、豬肉。</p>
<p>常山湯，治　瘧先寒戰動地，寒解壯熱，日日發及間日發並斷方。</p>
<p>鱉甲（一兩，炙）　淡竹葉（切，三升，洗）　常山（三兩）　甘草（炙，三兩）　久酒（三升）</p>
<p>上五味，切，以酒漬藥，刀置上覆頭安露地，明旦以水七升，煮取三升，分五服。比未發前令盡，當吐，吐極傷多，不必盡劑，但斷人，禁飲食，得吐過時乃佳。忌人莧、海藻、菘菜、生蔥、生菜。</p>
<p>治瘧，雞子常山丸方。</p>
<p>取雞子一枚，斷開頭，出黃及白令盡，置小鐺子中；又取常山細末，量滿前空殼，又傾鐺子中；又量白蜜還令滿殼，復傾鐺子中，三味同攪，微火煎之，勿停手，微冷可丸則停，丸如梧子，如病患午時發，己時服三十丸，欲至發時又服三十丸，用飲汁下，欲吐任吐，亦如前。服訖，更不發者，不須服。服後禁脂膩、油面、生菜、瓜果七日。</p>
<p>竹葉常山湯，治溫瘧。壯熱微寒，溫瘧之候也。壯熱後如覺微寒，或癉瘧依時手足冷，少時便壯熱，亦有手足煩熱乾嘔者，　瘧先大寒後大熱者，並主之。神效。尤宜乳下小兒亦瘥方。</p>
<p>常山（三兩，切）　淡竹葉（一握）　小麥（一升）</p>
<p>上三味，以水五斗，漬一宿，明旦煮取二升，溫分三服。忌生蔥、生菜。</p>
<h2>卷第七</h2>
<p>要方第七卷所治如下：治女子眾病諸方治婦人無兒諸方（待考）</p>
<p>治妊胎諸方治產後諸方治嫗人諸血崩滯下宿疾諸方上五件</p>
<h3>治女子眾病諸方</h3>
<p>古時婦人病易治者，嫁晚腎氣立，少病不甚有傷故也。今時嫁早，腎根未立而產，傷腎故也。是以今世少婦有病，必難治也。早嫁早經產，雖無病者亦夭也。</p>
<p>婦人長血。</p>
<p>諸方說三十六疾者，十二症、九痛、七害、五傷、三痼不通是也。何謂十二症？是所下之物一曰狀如膏；二曰如黑血；三曰如紫汁；四曰如赤肉；五曰如膿痂；六曰如豆汁；七曰如葵羹；八曰如凝血；九曰如清血，血似水；十曰如米泔；十一曰如月浣，乍前乍卻；十二曰經度不應期也。何謂九痛？一曰陰中痛傷；二曰陰中淋瀝痛；三曰小便即痛；四曰寒冷痛；五曰經來即腹中痛；六曰氣滿痛；七曰汁出陰中，如有蟲嚙痛；八曰脅下分痛；九曰腰胯痛。</p>
<p>何謂七害？一曰窮孔痛，不利；二曰中寒熱痛；三曰小腹急堅痛；四曰藏不仁；五曰子門不端，引背痛；六曰月浣乍多乍少；七曰害吐。何謂五傷？一曰兩脅支滿痛；二曰心痛引脅；三曰氣結不通；四曰邪思淺利；五曰前後痼寒。何謂三痼？一曰羸瘦不生肌膚；二曰絕產乳；三曰經水閉塞。白堊丸，主婦人三十六疾，病各異同治之方。</p>
<p>白堊（三分）　龍骨（三分）　芍藥（二分）　黃連（三分）　當歸（二分）　茯苓（三分）　黃芩（二分）　瞿麥（二分）　白蘞（二分）　石葦（二分）　甘草（二分）　牡蠣（二分）　細辛（二分）</p>
<p>附子（二分）　禹餘糧（二分）　白石脂（二分）　人參（二分）　烏賊骨（二分）　桂心（四分）　白芷（四分）　大黃（二分）</p>
<p>二十一味，下篩，蜜丸如梧子，未食服十丸，日二，不知稍增，服藥二十日知，三十日百病悉愈。</p>
<h3>治妊胎諸方</h3>
<p>凡婦人虛羸，血氣不足，腎氣少弱，或當風取冷太過，心下有淡水者，欲有胎便喜病阻。</p>
<p>何謂欲有胎？其人月水尚來，顏色肌膚如常，而沉重憒悶，不用飲食，不知其患所在，脈理順時平和，則是欲有胎也。如此經二月日後，便常不通，即結胎也。</p>
<p>阻病者，患心中憒憒，頭重眼眩，四肢沉重懈墮，不欲執作，惡聞食氣，欲啖咸酸果實。</p>
<p>多臥少起，世謂惡食，其至三四月日已上皆大劇，吐逆，不能自勝舉也。此由經血既閉，水漬於臟，臟氣不宣通，故心煩憒悶，氣逆而嘔吐也。血脈不通，經絡否澀，則四肢沉重，挾風則頭目眩也。覺如此候者，便宜服半夏茯苓湯，數劑後將茯苓丸。淡水消除，便欲食也。</p>
<p>既得食力，體強氣盛，力足養胎，母便健矣。古今治阻病方有數十首，不問虛實冷熱長少殆死者，活於此方。</p>
<p>半夏茯苓湯，治妊身阻病，心中憒悶，空煩吐逆，惡聞食氣，頭重，四肢百節疼煩沉重，多半夏（五兩）　生薑（五兩）　茯苓（三兩）　旋覆花（一兩）　橘皮（二兩）　細辛（二兩）　芎（二兩）　人參（二兩）　芍藥（二兩）　乾地黃（三兩）　澤瀉（二兩）　甘草（二兩）</p>
<p>凡十二物，以水一斗，煮取三升，分三服。若病阻積日月不得治，及服藥冷熱失候，病變客熱，煩渴，口生瘡者，除橘皮、細辛，用前胡、知母各二兩。若變冷下者，除乾地黃、用桂肉二兩。若食少胃中虛生熱，大行閉寒，小行赤少者，宜加大黃三兩，除地黃加黃芩一兩，余藥依方。服一劑得下後消息者，氣力冷熱，更增損方，調定即服一劑湯，便急將茯苓丸，令得能食，便強健也。</p>
<p>茯苓丸，治妊身阻病，患心中煩悶，頭重眩目，憎聞飯氣，便嘔逆吐悶顛倒，四肢委熱，不自勝持，服之即效，要先服半夏茯苓湯兩劑，後將茯苓丸也。</p>
<p>茯苓（一兩）　人參（二兩）　桂肉（二兩）　乾薑（二兩）　半夏（二兩）　橘皮（一兩）　白朮（二兩）　枳實（二兩）　葛根屑（一兩）　甘草（二兩）</p>
<p>凡十物，搗篩，蜜和丸如梧子，飲服二十丸，漸至三十丸，日三。</p>
<p>治妊娠五月日，舉動驚愕，動胎不安，下在小腹，痛引腰胳，小便疼，下血，安胎當歸湯方。</p>
<p>當歸　阿膠（炙）　芎　人參（各一兩）　大棗（十二枚，擘）　艾（一虎口）</p>
<p>上六味，切，以酒、水各三升，合煮取三升，去滓，納膠令烊，分三服，腹中當小便緩瘥也。</p>
<p>治妊娠重下，痛引腰背，安胎止痛湯方。</p>
<p>當歸　膠（炙）　乾地黃　黃連　芍藥（各一兩）　雞子（一枚）　秫米（一升）</p>
<p>上七味，切，以水七升，攪雞子令相得，煮秫米令如蟹目沸，去滓，納諸藥，煮取三升，分四服。忌蕪荑。</p>
<p>膠艾湯，治損動母，去血腹痛方。</p>
<p>膠（一斤，炙）　艾葉（一莒）</p>
<p>上二味，以水五升，煮取二升半，分三服。</p>
<p>安胎寄生湯，治流下方。</p>
<p>桑上寄生（五分）　白朮（五分）　茯苓（四分）　甘草（十分，炙）</p>
<p>上四味，切，以水五升，煮取二升半，分三服。若人壯者，可加芍藥八分、足水二升。</p>
<p>若胎不安，腹痛端然有所見，加乾薑四分，即安。忌海藻、菘菜、酢物、桃李、雀肉等。</p>
<p>苧根湯，治勞損動胎，腹痛去血，胎動向下方。</p>
<p>苧根　乾地黃（各二兩）　當歸　芍藥　阿膠（炙）　甘草（炙，各一兩）</p>
<p>上六味，切，以水六升，煮取二升，去滓，納膠烊，分三服。忌海藻、菘菜、蕪荑治妊娠數月日，猶經水時時來者，名曰漏胞；苦因房室勞有所去，名曰傷胎，視說要知如此，小豆散治數傷胎將用之方。</p>
<p>赤小豆（五升，濕地種之令生牙，干之）。</p>
<p>上一物，下篩，懷身數月日，經水尚來，以溫酒服方寸匕，日三，得效便停。</p>
<p>治妊身腹中冷，胎不安方。</p>
<p>甘草　當歸（各二兩）　乾薑（三兩）　大棗（十二枚）</p>
<p>凡四物，以水五升，煮取三升，分三服。</p>
<p>治母有勞熱，動胎，胎不安，去血，手足煩方。</p>
<p>生甘竹皮（二升）　當歸（二兩）　芎　（一兩）　黃芩（半兩）</p>
<p>凡四物，以水一斗，煮竹皮取六升汁，去滓納煎，取三升，分三服。</p>
<p>治妊身心腹刺痛方。</p>
<p>鹽燒令赤熟，三指撮，酒服之，立瘥。</p>
<p>又方燒棗十四枚，冶末，以小便服之，立愈。</p>
<p>治妊身腰痛如折方。</p>
<p>大豆三升，以酒三升，煎取二升，服之。</p>
<p>治妊娠患子淋，宜下，地膚大黃湯。</p>
<p>地膚草　大黃（各三兩）　知母　黃芩　茯苓（一作豬苓）　芍藥　枳實（炙）　升麻　通草甘草（炙，各二兩）</p>
<p>上十味，切，以水八升，煮取三升，分三服。得下後淋不好瘥，還飲地膚葵根汁。忌海藻、菘菜、酢物。</p>
<p>又方豬苓（五兩）</p>
<p>上一味，搗篩，以白湯三合和一方寸匕為一服，漸至二匕，日三夜二盡。不差，宜轉下之，服甘遂散。</p>
<p>治妊娠子淋，大小便並不利，氣急，已服豬苓散不瘥，宜服甘遂散下之方。</p>
<p>太山赤皮甘遂（二兩）</p>
<p>上一味，搗篩，以白蜜二合和，服如大豆粒，多覺心下煩，得微下者，日一服之，下後還將豬苓散；不得下，日再服，漸加，可至半錢匕，以微下為度，中間將豬苓散、黃柏寄生湯，在治子淋方中。</p>
<p>治妊娠患子淋，小便數，出少，或熱痛酸疼及足煩，地膚飲方。</p>
<p>地膚草三兩　以水四升，煮取二升半，分三服，日三，日一劑。</p>
<p>治妊娠忽悶，眼不識人，須臾醒，醒復發，亦仍不醒者，名為　病，亦號子癇病，亦號子冒，葛根湯。若有竹近可速辦者，當先作瀝汁，後辦湯也；其竹遠不可即辦者，當先辦湯。</p>
<p>此二治會得其一種。其竹瀝偏治諸痙絕起死也，非但偏治妊娠產婦絕死者有效，小兒忽癇痙金瘡，治之亦驗。作竹瀝法：取新伐青淡竹斷之，除兩頭節，留中央一節，作片，以磚並側，令竹兩頭虛，布列其上，燒中央，兩頭汁出，以器承之，取服。</p>
<p>主痙至冒葛根湯，治妊娠臨月，因發風痙，忽悶憒不識人，吐逆眩倒，小醒復發，名為子癇病方。</p>
<p>貝母　葛根　牡丹（去心）　木防己　防風　當歸　芎　桂肉（切，熬）　茯苓　澤瀉甘草（炙，各二兩）　獨活　石膏（碎）　人參（各三兩）</p>
<p>上十四味，切，以水九升，煮取三升，分二服。貝母令人易產，若未臨月者升麻代之。</p>
<p>忌海藻，菘菜、酢物。</p>
<p>治妊娠得病，事須去胎方。</p>
<p>麥　一升，末，和煮二升，服之即下，神效。</p>
<p>又方七月七日法曲三升，煮兩沸，宿不食，旦頓服即下。</p>
<p>治羸人欲去胎方。</p>
<p>甘草（炙）　乾薑　人參　芎　生薑　桂心　蟹爪　黃芩（各一兩）</p>
<p>上八味，切，以水七升，煮取二升，分三服。忌海藻、菘菜、生蔥。</p>
<p>婦人得溫病，欲去腹中胎方。</p>
<p>取雞子一枚扣之，以三指撮鹽，量雞子中，服之立出。</p>
<p>又方取井底泥，手書其腹，立出，神良。</p>
<p>治妊婦日月未至，欲產方。</p>
<p>搗知母和蜜為丸，如梧子，服一丸，痛不止，更服一丸。</p>
<p>治妊身欲去之，並斷產方。</p>
<p>栝蔞　桂心（各三兩）　豉（一升）</p>
<p>上三味，切，以水四升，煮取一升半，分服之。</p>
<p>又方附子二枚，搗為屑，以淳苦酒和，塗之右足，去之，大良。</p>
<p>斷產方。</p>
<p>故布方圓一尺，燒屑，以酒飲服之，終身不產。</p>
<p>治月未足，胎死不出，母欲死方。</p>
<p>大豆醋煮，服三升，死兒立出，分二服之。</p>
<p>又方桃白皮如梧子大，服一丸，立出。</p>
<p>又方好書墨三寸，末，頓服。</p>
<p>又方鹽一升，雞子二枚和，頓服之。</p>
<p>又方瞿麥一把，煮令二三沸，飲其汁，立產。一方下篩，服方寸匕。</p>
<p>治子死腹中方。</p>
<p>服水銀二兩，立出。</p>
<p>又方搗芎　，酒服方寸匕，神良。</p>
<p>又方蟻室土三升，熬令熱，袋盛　心下，胎即下。</p>
<p>又方灶中黃土三指撮，酒服之，立出。</p>
<p>治母子俱死者，產難及胎不動轉者方。</p>
<p>榆白皮（三兩）　葵子（五合）　甘草（炙）　桂心（各一兩）</p>
<p>上四味，切，以水四升，煮取二升，服一升，須臾不產，更服一升。忌海藻、菘菜、生蔥。</p>
<p>治產難歷日，氣力乏盡，不能得生，此是宿有病方。</p>
<p>赤小豆（二升）　膠（二兩）</p>
<p>上二味，以水九升，煮豆令熟，取汁，納膠令烊，一服五合，不覺，不過再，即產。</p>
<p>又方取馬銜一枚，覺痛即令左手持之。</p>
<p>又方取槐東引枝，手把之。</p>
<p>又方手捉鸕　頭，甚驗。</p>
<p>治難產三日不出者方。</p>
<p>吞皂莢子二枚亦效。</p>
<p>治產難數日欲絕，秘方。</p>
<p>書奏作兩行字，凡二十字，文曰：帝乙生子，司命勿止，即出其胞及其子，無病其母。</p>
<p>封其中央，以朱印之，令產婦持之。</p>
<p>治產難方。</p>
<p>取其父衣以覆井，即出。神良。</p>
<p>又方小麥二七枚，吞之即出。</p>
<p>又方出蠶種布三寸，燒作散，酒服方寸匕，立出。</p>
<p>又方蘇一合，以酒和服，即出。</p>
<p>又方燒兔毛末，服方寸匕，即生。</p>
<p>又方燒大刀環令熱，以酒沃之，取一升服之，救死。</p>
<p>又方陳葵子三指撮，酒服。</p>
<p>治橫產及側，或手足先出方。</p>
<p>可持粗針，針兒手足，入二分許，兒得痛，驚轉即縮，自當回順。</p>
<p>治橫生方。</p>
<p>栝蔞實中子一枚，削去尖者，以水漿吞之，立產。</p>
<p>治逆產方。</p>
<p>鹽塗兒足底，又可急搔爪之。並以鹽摩產婦腹上，即愈。</p>
<p>又方鹽和粉塗兒兩足下，即順矣。</p>
<p>又方以彈丸二枚，搗末，三指撮，溫酒服。</p>
<p>又方取車　中膏，畫腋下及掌心。</p>
<p>治逆產方燒兒父手足十指爪甲，冶末服之。</p>
<p>又方取生艾半斤，清酒四升，煮取一升，頓服之，則順生。若不飲酒，用水。</p>
<p>子上迫心方。</p>
<p>取弩弦縛心下即出。</p>
<p>預服散，令易生，母無疾病。未生一月日前預服，過三十日行步動作如故，兒生墮地皆不自覺，甘草散方。</p>
<p>甘草（八分，炙）　黃芩　大豆卷　粳米　麻子仁　乾薑　桂心（各二分）　吳茱萸（二分）</p>
<p>上八味，搗散，酒服方寸匕，日三。忌海藻、菘菜、生蔥。</p>
<p>治婦人易生產，飛生丸方。</p>
<p>飛生（一枚）　槐子　故弩箭羽（各十四枚）</p>
<p>上三味，搗末，蜜丸桐子大，覺便以酒服二丸，即易產。</p>
<p>又方。</p>
<p>取蛇蛻皮，著衣帶中，鑒鼻系衣帶，臨欲產時左手持馬銜，右手持飛生毛，令易產。</p>
<p>令易產方。</p>
<p>燒藥杵令赤，納酒中飲之。</p>
<p>產婦易產方。</p>
<p>馬銜一枚，覺痛時右手持之。</p>
<p>又方蛇脫皮，頭尾完具者一枚，覺痛時以絹囊盛，繞腰，甚良。</p>
<p>治胞衣不出方。</p>
<p>取皂莢搗末，著鼻孔中，嚏，即出。</p>
<p>又方鹿角末三指撮，酒服之。</p>
<p>又方取夫單衣蓋井上，立出。</p>
<p>又方KT　兒衣不出，吞此符吉。</p>
<p>治胞衣不出方。</p>
<p>井中土，如梧子大，吞之。</p>
<p>治胞衣不出方。</p>
<p>以水煮弓弦，飲之一升許。</p>
<p>治胞衣不出，並兒橫倒死腹中，母氣欲絕方。</p>
<p>半夏（二兩，洗）　白蘞二兩上二味，搗篩，服方寸匕。小難一服，橫生二服，倒生三服，兒死四服，亦可加代赭、瞿麥各二兩。</p>
<p>又方小豆、小麥相和，濃煮汁飲之，立出。</p>
<h3>治產後諸方</h3>
<p>夫死生皆有三日也，古時婦人產，下地坐草，法如就死也。即得生產，謂之免難也。親屬將豬肝來慶之，以豬肝補養，五日內傷絕也，非慶其兒也。</p>
<p>婦人產後盈月者，以其產生，身經暗穢，血露未淨，不可出戶牖、至井灶所也，亦不朝神祗及祠祀也。盈月者，非為數滿三十日，是跨月故也。若是正月產，跨二月入三月，是跨月耳。</p>
<p>婦人產時，骨分開解，是以子路開張，兒乃得出耳。滿百日乃得完合平復也。婦人不自知，唯盈月便云是平復，合會陰陽，動傷百脈，則為五勞七傷之疾。</p>
<p>治產後而乳無汁者，下乳散方最驗。</p>
<p>鐘乳（五分）　通草（五分）　漏蘆（二分）　桂心（二分）　栝蔞（一分）　甘草（一分）</p>
<p>凡六物，搗篩，飲服方寸匕，日三。</p>
<p>又方石膏三兩，以水三升，煮三沸，一日飲令盡，良。</p>
<p>產後虛羸，令人肥白健壯。</p>
<p>羊脂（二斤）　生地黃汁（一斗）　薑汁（五升）　白蜜（三升）</p>
<p>煎如飴，溫酒服一杯，日三。</p>
<p>治產後漏血不息方。</p>
<p>蜂房　故KT　船竹茹凡二物，分等，皆燒末，以酪及漿服方寸匕，日三。</p>
<p>治產後小便不禁方。</p>
<p>取雞子燒作灰，酒服，日三。</p>
<p>治產後遺尿，不知出方。</p>
<p>白薇　芍藥（各一分）</p>
<p>上二味，搗散，以酒服方寸匕，日三。</p>
<p>治產後遺尿，不知出時方。</p>
<p>取胡燕巢中草燒末，服半錢匕，水酒無在，亦治男子。</p>
<p>又方取礬石、牡蠣分等，下篩，酒服方寸匕，日三。</p>
<p>治產後小便數方。</p>
<p>取衣、書中白魚蟲三十枚，末之，以綿裹納陰中，良。</p>
<p>治產後陰脫方。</p>
<p>以鐵精敷上，多少令調，以火炙布令暖，熨肛上，漸納之。</p>
<p>又方用鱉血，燒地令熱，血著上，使病患坐之，良。</p>
<p>治產後中風冷，成腫欲死方。</p>
<p>取鼠壤四升，熬令熱，以囊貯，著腹上，亦著陰上下，使熱氣入腹中，良。</p>
<p>大豆紫湯，主婦人產後中風，困篤，或背強口噤，或但煩熱，苦渴，或頭身皆重，或身癢，劇者嘔逆直視，此皆因風冷濕所為方。</p>
<p>大豆三升，炒令炮斷，預取器盛清酒五升，沃熱，豆中訖，漉去豆，得余汁盡服之。溫覆取微汗出，身體才潤則愈。一以去風，二則消血結云。周德成妻妊胎，觸KT　因傷折，胎死在腹中三日，困篤，服此酒即瘥。後治無不佳。</p>
<p>治產後中寒，風痙，通身冷，直口噤不知人方。</p>
<p>白朮四兩，酒三升，煮取一升，去滓，頓服。忌桃李、雀肉等。</p>
<p>治產後中風，虛人不可服它藥者，一物若獨活湯主之，及一物白蘚湯主之，亦可與獨活合煮之方。</p>
<p>獨活三兩，以水三升，煮取一升，分服，奈酒者，亦可酒、水等煮之。用白蘚皮亦依此法。</p>
<p>治產後風虛方。</p>
<p>獨活、白蘚皮各三兩，水三升，煮三升，分三服。耐酒者，入酒同煮。</p>
<p>治產後中風、語澀，四肢拘急方。</p>
<p>羌活三兩，為末，每服五錢，水、酒各半盞，煎去滓，溫服。</p>
<p>治產後忽痙，口噤面青，手足強及張者方。</p>
<p>與竹瀝汁一升即醒，中風者尤佳。</p>
<p>治產後中柔風，舉體疼痛，自汗出者，及余百疾方。</p>
<p>獨活（八兩）　當歸（四兩）</p>
<p>上二味，　咀，以酒八升，煮取四升，去滓，分四服，日三夜一，取微汗。若上氣者，加桂心二兩，不瘥更作。</p>
<h3>治嫗人諸血崩滯下宿疾諸方</h3>
<p>治婦人崩中，晝夜十數行，醫所不能治方。</p>
<p>芎　（八兩）</p>
<p>上一味，切，以酒五升，煮取三升，分三服。不飲酒，水煮亦得。</p>
<p>治崩中去血方。</p>
<p>舂生薊根汁一升，溫頓服之。亦可以酒煮。隨意服之。</p>
<p>又方舂地黃汁一升，溫頓服之。即止。</p>
<p>治婦人暴崩中去血不息方。</p>
<p>牡蠣（熬令赤）　兔骨（炙，各十分）</p>
<p>上二味，搗篩為散，以酒服方寸匕，妙。</p>
<p>治婦人五崩，下赤、白、青、黃、黑，大棗湯方。</p>
<p>大棗（百枚）　黃　（三兩）　膠（八兩）　甘草（一尺）</p>
<p>凡四物，以水一斗，煮取三升半，納膠令烊，分三服。</p>
<p>治漏下神方。</p>
<p>取槐耳燒，搗下篩，酒服方寸匕，日三，立愈。</p>
<p>治婦人漏下病不斷，積年困篤方。</p>
<p>取鵲重巢柴，合燒末，服方寸匕，日三。鵲重巢者，去年在巢中產，今歲更在其上復作巢是也。</p>
<h2>卷第八</h2>
<p>要方第八卷所治如下：治少小百病諸湯方治少小疾病諸丸散眾方治少小百病薄　洗浴膏散針灸諸方法上三件</p>
<h3>治少小百病諸湯方</h3>
<p>凡人年六歲以上為小，十六以上為少，三十以上為壯，五十以上為老，其六歲以下經所不載，所以乳下嬰兒有病難治者，皆為無所承據也。中古有巫妨者，立小兒《顱囟經》，以占夭壽，判疾病死生，世相傳授，始有小兒方焉。</p>
<p>兒新生出腹，先以指斷口中惡血，去之，便洗浴，斷齊竟，KT　袍訖，未與朱蜜也，取甘草如手中指一節許，打碎，以水二合，煮取一合，以綿纏沾取與兒吮之，如朱蜜法。連吮，計可得一蜆殼入腹止，兒當快吐，吐去胸中惡汁也。吐後消息，計如飢渴，頃復更與之。</p>
<p>若前服及更與並不吐者，但稍與，盡此一合止。得吐惡汁，令兒心神智慧無病。都不吐者，是不含惡血者，勿復與之。</p>
<p>小兒初生三日，可與朱蜜方，令兒鎮精神魂魄。</p>
<p>真珠精煉研者，如大豆多，以赤蜜一蜆殼和之。以綿纏沾取，與小兒吮之，得三沾止。</p>
<p>一日令盡此一豆多耳，作三日與之，則用三大豆多也。不宜多，多則令兒脾胃冷，腹脹。</p>
<p>朱蜜與竟，即可與牛黃。牛黃益肝膽，除熱定驚，辟惡氣也。作法如朱蜜，多少一法同也。</p>
<p>凡初生兒，其口中舌上有白物如米屑，名為鵝口，及鼻外亦有。此由兒在胞中之時，其母嗜嚼米使之然也。此物當時不去之，兒得吞者化為蟲也，宜便去之，治之方。</p>
<p>以發纏釵頭，沾井花水撩拭之，三四旦，如此便脫去也。猶不去者，可煮栗蒺汁，令濃，以拭如上法。若春冬無栗蒺者，可煮栗樹皮，用如上法，皆良。一云：釵頭著在者，屠蘇水中，勿令兒口中落入吞。</p>
<p>兒初生之時，有口中吞下膜如石榴子中隔者，連其舌下，名之連舌，當時不　斷者，後喜令兒言語不發轉舌也，治之方。</p>
<p>可以爪　斷之，微有血出無害，若血出不止者，可燒發作末敷之，血止良。</p>
<p>乳母者，其血氣為乳汁也。五情善惡，血氣所生也。乳兒者，皆宜慎喜怒。</p>
<p>夫乳母形色所宜，其候甚多，不可悉得。今但令不狐臭、癭瘤、　癭、氣味、蝸蚧、癬瘙、白禿、癘瘍、　唇、耳聾、鼽鼻、癲眩，無此等病者，便可飲兒也。師見其故灸盤，便知治小兒宿食不消，發熱，九味當歸湯方。</p>
<p>當歸　甘草（炙）　芍藥　人參　桂心　黃芩　乾薑（各一分）　大棗（五枚）　大黃（二分）</p>
<p>上藥切，以水一升半，煎取六合，去滓，分服，增減量之。</p>
<p>治少小咳嗽，腹脹，七物小五味子湯方。</p>
<p>五味子（碎）　紫菀（各二分）　黃芩　甘草（炙）　麻黃（去節）　生薑　桂心（各一分）</p>
<p>上藥，　咀，以水一升，煮取七合，分五服，忌如常法。</p>
<p>治少小十日以上，至五十日，卒得暴咳，吐乳嘔逆，晝夜不得息，四物湯方。</p>
<p>桔梗　紫菀（各三分）　甘草（一分，炙）　麥門冬（七分，去心）</p>
<p>上藥，切，以水一升，煮取六合，去滓，分五服，以瘥為度。</p>
<p>治小兒中冷及傷寒暴咳嗽，或上氣咽喉鳴氣逆者，或惡寒鼻塞清水出，紫菀湯方。</p>
<p>紫菀　杏仁（去皮尖）　甘草（炙）　黃芩　麻黃（去節）　橘皮　桂心　青木香　當歸（各一兩）　大黃（三分）</p>
<p>上十味，切，以水三升，煮取九合，去滓，一歲以上，至五歲兒以意量之，分服。</p>
<p>治小兒小便不通，地膚子湯方。</p>
<p>地膚子（一分）　瞿麥　冬葵子（各二分）　知母　黃芩　豬苓　海藻　橘皮　升麻　通草（各一分半）　大黃（八分）</p>
<p>上十一味，切，以水二升，煮取一升，大小多少量與服。忌如常法。</p>
<p>治少小夏月藥大下後，胃中虛熱渴，唯可飲麥門冬湯方。</p>
<p>麥門冬（去心）　甘草（炙，各四分）　枳實（炙）　黃芩　人參（各三分）　龍骨（六分）</p>
<p>上六味，切，以水二升，煮取九合，去滓，分溫服。</p>
<p>治少小未滿百日，傷寒，身熱，衄，嘔逆，五味麥門冬湯方。</p>
<p>麥門冬（去心）　石膏　寒水石（各三分）　甘草（二分，炙）　桂心（一分）</p>
<p>上藥，切，以水一升，煮取八合，分服，效。</p>
<p>治少小小便不利，莖中痛欲死方。</p>
<p>牛膝大把，無多少，煮作飲，飲之立愈，有驗。</p>
<p>治小兒客忤方。</p>
<p>吞麝香如大豆，立愈。</p>
<p>又方取熱馬矢一丸，絞取汁飲，兒下便愈。</p>
<p>又方取衣中白魚十枚，末，以塗母乳頭，令兒飲之，入咽即愈。</p>
<p>治小兒數歲不行方。</p>
<p>取棗哺之，日三，便起。</p>
<p>治小兒誤吞鐵珠子如狸豆大者，經年不以為害，後病瘦瘠，食不生肌膚，時下痢，或寒熱，服諸藥自治來，反劇不效。有師診之云：是吞物不消，作法服眾藥，所吞物不去，終不瘥。令其家中察之，云：兒近歲常弄十六具鐵珠，覺失一顆，慮是吞之，從來積歲，實不以為疑之。</p>
<p>師六診乃信，是故令病矣。為處湯藥，所患即瘥，復與將治，其兒肌膚充悅，而忘說其方，具記之。</p>
<p>又有一家女子，六七歲許，患腹痛，其母與摩按之，覺手下有一橫物在兒肉裡，正平橫爾。問兒曰：那得針在肉中，大驚怪。脫衣看之，肉完淨無有刺處，按之兒亦不患針痛，惟覺腹裡痛耳。其母即以爪甲重重介之，乃橫物折爪下兩段，亦不偏痛。迎師診之共察，若吞針刺物者。其嬰兒時，不經鯁礙，惟恐養兒時，母常帶針，裸抱橫兒體，針入兒肌膚中，兒縱覺痛啼呼，與乳臥息便止，遂成不覺，今因腹痛，摩之知耳。鐵得土木濕，皆生屑易朽，針在人肉中經數歲，肉得血氣，皆朽也，故介之即折，令患腹痛不安，但治腹痛，服溫中湯下心腹痛瘥。後長大嫁。因產乳，不聞道針處為患。故記之。</p>
<h3>治少小疾病諸丸散眾方</h3>
<p>治小兒夜啼，一物前胡丸方。</p>
<p>前胡（隨多少）</p>
<p>上一味，搗篩，蜜丸如大豆，服一丸，日三，加至五六丸，以瘥為度。</p>
<p>又方以妊娠時食飲偏有所思者以哺兒則愈。</p>
<p>治少小夜啼，至明即安寢，夜輒啼，芎　散方。</p>
<p>芎　（二分）　朮（二分）　防己（二分）</p>
<p>凡三物，搗下篩，二十日兒未能服散者，以乳汁和之，服如麻子一丸。兒大能服散者，服之多少以意節度。</p>
<p>治四五歲兒，因食及在胎中宿熱，乳母飲食粗惡辛苦，乳汁不起兒，哺不為肌膚，心腹痞滿，痿黃瘦瘠，四肢痿　繚戾，服之令充悅方。</p>
<p>芍藥（十分，炙令黃）　黃　鱉甲（炙）　人參（各四分）　柴胡（八分）　茯苓（六分）　甘草（炙）　乾薑（各二分，如熱以枳實代）</p>
<p>上八味，搗篩，蜜和為丸如大豆，服五丸，日二服。忌如常法。</p>
<p>治少小咳嗽，晝瘥夜甚，初不得息，不能復啼，四物款冬丸方。</p>
<p>款冬花　紫菀（各一兩半）　伏龍肝（一分）　桂心（二分）</p>
<p>上藥搗篩，蜜和如泥，取如棗核大，塗乳頭，令兒飲之，日三。</p>
<p>治少小熱痢不止，梔子丸方。</p>
<p>梔子仁（七枚）　黃連（五分）　黃柏（三分，炙）　礬石（四分，燒）　大棗（四枚，炙令黑）</p>
<p>上五味，末之，以蜜丸，空腹服小豆許七丸，瘥。如未除更服。忌如常法。</p>
<p>治少小壯熱渴痢，八味龍骨散方。</p>
<p>龍骨（研）　甘草（炙）　赤石脂　寒水石　大黃　石膏　桂心　栝蔞（各三分）</p>
<p>上藥，搗散，以水及酒五合，煮取二合，量大小分服之，效。</p>
<p>治小兒盜汗方。</p>
<p>麻黃根（三分）　故扇（燒作屑，一分）</p>
<p>冶合乳汁，飲三分匕，大人方寸匕，日三。</p>
<p>治少小淋瀝，形羸不堪大湯藥者。</p>
<p>枳實三兩，炙，篩，兒三歲以上服方寸匕，兒小以意稍服之，有驗。</p>
<p>牡丹散，治頹，偏大，氣脹方。</p>
<p>牡丹　防風　桂心　豉（熬）　鐵精分等，合搗下，服方寸匕，小兒一刀圭，二十日愈。大良。嬰兒以乳汁和如大豆與之。</p>
<h3>治少小百病薄洗浴膏散針灸諸方法</h3>
<p>治少小齒落不生方。</p>
<p>取牛屎中大豆二七枚，小開頭皮小許，以次注齒根，數度即當生。</p>
<p>又方取雌鼠屎二七枚，以一枚試齒根處，盡此止，二十一日齒當生。雌鼠屎，頭尖是也。</p>
<p>治小兒口爛瘡方。</p>
<p>取羊乳，細細瀝口中，不過三度瘥。</p>
<p>治小兒舌上瘡方。</p>
<p>烏賊魚骨，燒末，以雞子黃和塗之，至喉咽舌下，遍敷，即瘥止。</p>
<p>治小兒唇腫，及口赤生白瘡爛方。</p>
<p>清旦研桑木白皮，取汁，以塗兒唇口，即瘥。</p>
<p>治小兒重舌方。</p>
<p>以赤小豆屑酒和，敷舌上。</p>
<p>又方燒亂髮作末，敷舌上良。</p>
<p>又方用以栗哺之良。</p>
<p>小兒刺懸癰方。</p>
<p>可以綿纏長針，末刃如粟，以刺決之，令氣泄之，去清黃血汁良。一刺止之，消息一日，不消又刺之，不過三刺自消。</p>
<p>治小兒蓐內赤眼方。</p>
<p>生地黃薄切，冷水浸，以貼之，妙。</p>
<p>又方取羊子肝，薄切，以井花水浸，以貼之，妙。</p>
<p>又方取黃柏以乳浸，點之。</p>
<p>治小兒解顱方。</p>
<p>蟹骨　白蘞（各二分）</p>
<p>凡二物，下篩，以乳汁和，塗上立愈。</p>
<p>治小兒頭不生發方。</p>
<p>揪菜中心，無多少，搗絞取汁，塗頭上。</p>
<p>治小兒白禿方。</p>
<p>搗揪菜中心，取汁以塗頭，立生。</p>
<p>治小兒丹毒方。</p>
<p>水中苔，搗敷之。</p>
<p>又方芒硝納湯中，取汁拭上。</p>
<p>治小兒　瘡方。</p>
<p>豬牙車骨年久者，捶碎，炙令髓出，熱取塗之。</p>
<p>馬骨燒灰和油，敷小兒耳瘡、頭瘡、陰瘡、瘭疽有漿如火灼。敷乳頭飲兒，止夜啼。</p>
<p>治少小陰頹，白頭翁敷之神效方。</p>
<p>生白頭翁根，不問多少，搗之，隨偏處以敷之，一宿當作瘡，二十日愈。</p>
<p>治小兒頹方。</p>
<p>先將兒至碓頭，祝之曰：坐汝令兒某甲稱兒名陰頹也。故灸汝三七，一灸訖，便牽小兒令莖以下向碓，囊縫當陰以所著處，灸縫上七壯，日可消，有驗。</p>
<p>又左右髀直行灸所極皆四處，隨年壯。</p>
<p>又方小兒騎碓軸前，齊陰莖頭前灸，有年壯。</p>
<p>又云：《葛氏方》但灸其土。</p>
<p>又方灸莖上向小腸脈。</p>
<p>又方灸手小指頭七壯，隨瘥，左右也。</p>
<p>治小兒盜汗方。</p>
<p>黃連（三分）　貝母（二分）　牡蠣（二分）</p>
<p>凡三物，粉一升，合搗下篩，以粉身。</p>
<p>治少小身熱，李葉湯方。</p>
<p>李吐無多少，咀　，以水煮，去滓，浴兒，避目及陰處。</p>
<p>《玄中記》曰：天下有女鳥，一名姑獲，又名釣星鬼也。喜以陰雨夜過飛鳴，徘徊人村裡，喚得來也。是鳥淳雌無雄，不產，喜落毛羽於庭中，置入兒衣中便使兒作癇，必死，即化為其兒也。是以小兒生至十歲，衣裳不可露，七八月尤忌之。</p>
<h2>卷第九</h2>
<p>要方第九卷所治如下：治服寒食散方治寒食散發動諸方治服傳病諸決（待考）</p>
<p>上三件</p>
<h3>治服寒食散方</h3>
<p>服草木之藥則速發，須調飲食；金石者則遲起而難息。其始得效者，皆是草木盛也，金石乃延引日月。草木少時便息，石勢猶自未盛。其有病者不解消息，便謂頓休，續後更服，或得病固藥微，倍復增石，或便雜服眾石，非一也。石之為性，其精華之氣，則合五行，乃益五臟，其濁穢便同灰土。但病家血氣虛少，不能宣通更陳瘀，便成堅積。若其精華氣不發，則冷如冰。而病者服之望石入腹即熱，既見未熱，服之彌多。既見石不即效，便謂不得其力，至後發動之日，都不自疑是石，不肯作石消息，便作異治者，多致其害。</p>
<p>道弘道人制《解散對治方》，說草石相對之和，有的能發動為證，世人逐易，不逆思尋古今方說，至於動散，臨急便就服之，即不救疾，便成委禍。大散由來早難將之藥，夫以大散難將，而未經服者，乃前有慎耳。既心期得益，苟就服之，已服之人，便應研習救解之宜，異日動之，便得自救也。夫身有五石之藥，而門內無解救之人，輕信對治新方，逐易服之，從非棄是，不當枉命誤藥邪？檢《神農本草經》，說草石性味，無對治之和，無指的發動之說，按其對治之和，亦依本草之說耳。且大散方說主患，注藥物，不說其所主治，亦不說對和指的發動之性也。覽皇甫士安撰《解散說》及將服消息節度，亦無對和的發之說也。復有稟丘家，將溫法以救變敗之色，亦無對和的動之說。若以藥性相對為神者，栝蔞惡乾薑，此是對之大害者。道弘說對治而不辨此，道弘之方焉可從乎？今不從也。當從皇甫節度，自更改栝蔞，便為良矣。患熱則不服其藥，惟患冷者服之耳，自可以除栝蔞。若虛勞腳弱者，以石斛十分代栝蔞；若風冷上氣咳者，當以紫苑十分代栝蔞。二法極良。若雜患常疾者，止除栝蔞而已，慎勿加余物。</p>
<h3>治寒食散發動諸方</h3>
<p>論曰：凡服五石散，及鐘乳諸石丹藥等，既瘥節度，觸動多端，發動雖殊，將攝相似。</p>
<p>比來人遇其證，專執而治之，或取定古法，則與本性有違，或取決庸醫，則昧於時候，皆為自忤。遂推石過，深省其理，未曰合宜。每尋古醫，互相晦見，直言沐浴，實未探微，寒溫適情，蓋須自度，隨時之義，易所通焉。故陶正白云：昔有人服寒食散，檢古法以冷水淋身滿二百罐，登時韁斃。又有取汗，乃於狹室中四角安火，須臾則殞。據茲將息。豈不由人，追之昔事，守株何甚！今列篇章，幸擇長而錄用耳。寒食藥得節度者，一月輒解，或二十日解，堪溫不堪寒，即已解之候也。其失節度者，或頭痛欲裂，為服藥食溫作癖，宜急下之。</p>
<p>又若手腳卒患頑癖者，為犯熱經久故也。</p>
<p>急與冷水洗，飲熱清酒，進冷食即止。一法飲冷清酒亦止。</p>
<p>又若體上生瘡，結氣腫痛不得動者，為自勞太過也。宜服香豉飲法。</p>
<p>香豉（三升）　蔥白（一虎口）</p>
<p>上二味，以水三升，煮三沸服之。不止，乃至三四劑，自止。</p>
<p>又若腰痛欲折，兩目欲脫者，為熱上肝膈，腰腎冷極故也。宜服黃連飲法。</p>
<p>黃連　甘草（炙，各一兩）　葳蕤（二兩）</p>
<p>上三味，切，以水三升，煮取一升，去滓，納朴硝一兩，頓服，得微利止。</p>
<p>又若眩冒欲倒者，為衣濃犯熱故也。宜冷水淋頭並洗之，須臾即愈。</p>
<p>又若腳疼欲折者，為久坐溫處故也。宜常須單床行役，並以冷水洗浴即止。</p>
<p>又若腹脹欲裂者，為久坐下熱，衣溫失食故也。宜數冷食冷洗，當風取冷，須臾即瘥。</p>
<p>又心痛如刺者，為應食不食，應洗不洗，寒熱相擊，氣結不通，填於心中故也。宜數飲熱酒，任性多少，酒氣行，經絡通達，淋以冷水，又冷淹手中，搭著苦處，溫復易之，須臾解也。解後仍速與冷食，食多益善。於諸痛之中，心痛最急，宜速救之。</p>
<p>又若發急，遍身熱如湯火，或氣結不識人，時倒，口噤不開，不自覺知者，救之要以熱酒隨其性灌之。卒不得下者，當打去齒灌之，咽中寒盛，酒入必還出，但灌勿止，半日許以酒下氣徹乃蘇。酒卒不下者。難可救矣。</p>
<p>又若下痢如寒中者，為行止食飲犯熱所致，宜速脫衣，冷食、冷凍飲料、冷水洗即瘥。</p>
<p>又若百節酸疼者，為臥處太濃，又蓋覆被衣，溫不脫故也。但單床薄被單衣，或以冷水洗，勿著新衣，著故垢衣，雖冬寒常須散發受風，仍以冷石熨其衣，勿系帶，若犯此，酸悶者，急入冷水浴，勿忍病而畏冷，兼食冷飯。</p>
<p>又若兢顫惡寒，或發熱如溫瘧者，為失食忍飢，失洗不行，又食臭穢故也。宜急飽冷食，冷又若惡食臭如死物氣者，為食溫作癖故也。宜急以三黃湯下之，若不下，終不瘥。</p>
<p>又若咽中痛，鼻中塞，清涕出者，為衣溫近火故也。但速脫衣，取冷當風，以冷石熨咽鼻當自瘥。不須洗也。</p>
<p>又若胸脅滿，氣上嘔逆者，為飢而不食，藥氣上衝故也。速與冷水洗，食冷飯止。</p>
<p>又若食便吐出，不得安住者，由癖故也。宜急以甘草飲下之，不下當危人命爾。甘草飲法。</p>
<p>甘草（二兩，炙）　大黃（三兩，別漬）　黃芩（二兩）</p>
<p>上三味，切，以水三升，煮三兩沸，去滓，分服，以利為度。</p>
<p>又若大便難，腹中堅如盤蛇者，為犯溫積久，腹中有干糞不去故也。宜銷酥蜜膏服一二升，津潤腹內即下。若不可，服大黃、朴硝等下之。</p>
<p>又若患淋者，為久坐溫處，或乘鞍馬，坐處大熱，熱入膀胱故也。但冷食，冷水洗，冷石熨腹，不過一日即瘥止。</p>
<p>又若寒栗頭掉，不自支持者，為食少，藥氣溢於肌膚，五臟失守，百脈搖動，與正氣相競故也。宜強飲熱酒以和其脈，強食冷食以定其臟，強行以調其關節，強洗以宣其擁滯，即瘥。</p>
<p>又若小便稠數者，為熱食及啖諸熱餅肉之屬故也。宜冷水洗腹，兼服梔子湯法。</p>
<p>梔子仁（二兩）　甘草（炙）　芒硝（湯成下）　黃芩（各二兩）</p>
<p>上四味，切，以水五升，煮取二升，分溫二服，取利即瘥。</p>
<p>又若失氣不可禁止者，為犯溫不時洗故也。但冷水洗之即瘥。</p>
<p>又若遺糞不自覺者，為熱氣入胃，大腸不禁故也。當冷洗即瘥。</p>
<p>又若目痛如刺者，為熱氣衝肝上眼故也。但數冷食，清朝溫小便洗之，不過三日即瘥止。</p>
<p>又若耳鳴如風聲，又有汁出者，為自勞過度，陽事不節，氣上耳故也。宜數飲食補之，節禁陽事即瘥。</p>
<p>又若口中傷爛，舌強而燥，不得食味者，為食少穀氣不足，藥氣積在胃管故也。宜急作豉湯服之，豉湯法。</p>
<p>香豉（二升）　葳蕤　甘草（炙，各二兩）　麥門冬（去心）　小柏（各三兩）</p>
<p>上五味，切，以水六升，煮取二升，分溫三服，能頓服益佳。再合為度。</p>
<p>又若關節強直不可屈伸，可久停息，不自勞泄，藥氣不散，漸侵筋血故也。出力使溫，冷洗即瘥止。</p>
<p>又若得傷寒溫瘧者，為犯熱故也，宜以常治藥救之無咎，但勿服熱藥耳。其傷寒瘧藥等，皆除破癖，不與寒食相妨，故通服也。凡服寒食，雖已熱解而更病者，要先以寒食救之，終不中冷。</p>
<p>又若飲酒不解，食不得下，乍寒乍熱，不洗便熱，洗之復寒，甚者數十日，輕者數日，晝夜不得寢寐，愁悲恚怒，自驚跳悸，恍惚忘誤者，為犯溫積久，寢處失節，食熱作藥，內熱與藥並行，寒熱交爭，雖以法救之，終不可解也。昔皇甫氏曾餌此散，每發即欲自刑，尊親制之，乃免斯禍，強令飲食，其熱漸除。縱家有寒熱藥，發急皆忘，雖素聰明，發皆頑冥，告令難喻，為茲斃者，不可勝數。遂檢家兄士元救急之法，合三黃湯服之，大下便瘥止，而錄之。又若脫衣便寒，著衣便熱，為脫著之間失適故也。小寒自可著，小溫便可脫即止；洗則了然瘥矣，應洗忽忌之，忍則病成也。</p>
<p>又若齒齦腫，唇爛，牙齒搖痛，頰車噤，為坐犯熱故也。宜時救之，可當風張口，使冷氣入咽，漱寒水即瘥。</p>
<p>又若脈洪實，或斷絕不足似死脈，或細數弦快，其所犯非一，此脈無醫不識也。熱多則弦快，有癖則洪實，急痛則斷絕。凡寒食藥熱，率常如此，自無所苦，非死。唯勤節度為妙。</p>
<p>又若大便稠數，為坐久失節度將死之候也。如此難治矣。可與前大黃黃芩梔子芒硝湯下之，當十有一生耳。可為必死之治，不可不利，致死，令人恨也！又若人已困而脈不絕，為藥氣盛行於百脈，人之真氣已盡，藥氣尚自行，故不絕，非生氣也。死後體因溫如生人肌，腹中雷鳴，顏色不變，一兩宿乃作死人也。</p>
<p>又若周體患腫，不能回轉者，為久坐不行，又不飲酒，藥氣滯在皮膚之內，血脈不通故也。宜飲酒，冷水洗，自勞即瘥。若不能行者，遣人扶持強行，使肢節調暢乃止。亦不得令過度，使反發熱，或反熱者還當洗之。</p>
<p>又若食患冷不可下者，為久冷食，口中不知味故也。當作白酒糜多著蘇，熱食一兩頓，若小悶者，還令冷凍飲料食，即瘥止。</p>
<p>又若下部臭爛者，為坐荐席濃熱故也。當坐冷水中，即瘥。</p>
<p>又若夜眠不得睡者，為食少熱在內故也。服梔子湯方。</p>
<p>梔子仁（十四個）　大黃（三兩）　黃芩（二兩）</p>
<p>上三味，切，以水五升，煮取三升，去滓，分三服，微利，又當數進冷食，自得眠睡。</p>
<p>又若嘔逆，咽喉中傷，清血出者，為臥溫及食熱故也。但飲冷水、冷石熨咽喉，即瘥。</p>
<p>又若藥發，輒安臥不與人語者，為熱盛食少，失其性故也。但與熱酒，冷洗，冷食，自勞便瘥。</p>
<p>又若四肢面目浮腫者，為飲食溫，久不自勞力。藥與正氣相隔故也。但飲熱溫。冷食。</p>
<p>自勞洗浴即瘥。</p>
<p>又若鼻中有氣如孵雞子臭者，為著衣溫故也。或陰囊臭爛，為坐熱故也。入冷水中即瘥，宜脫衣洗浴即自瘥。</p>
<p>又若卒目暗無所見者，為飲食居處太溫故也。但脫衣，冷洗，冷身，須臾瘥止。</p>
<p>又若身肉處痛，痛無常處，如游風者，為犯熱所作，非風冷故也。宜冷洗，以冷石熨之自瘥。</p>
<p>又若服藥心悶亂者，為服溫藥與疾爭力故也，法當大吐，如或不吐，病當至死，若吐不絕，可食冷食飲，自然瘥也。若絕不識人，口復不開者，亦當斷齒以熱酒灌之。入咽吐出者，更又若嗜寐不覺者，為久坐熱悶故也。宜冷洗、冷食即瘥。</p>
<p>又若肌膚堅如石，不可屈伸，為熱食，溫臥作癖，五臟隔閉，血脈不通故也。急服前三黃湯下之，食冷食，飲熱酒，自勞，即瘥。</p>
<p>又若臂腳偏急痛苦者，為久坐臥溫熱，不自移轉，氣入肺脾胃故也。宜勤以二布巾淹冷水搭之，覺溫則易，如此不過三日即瘥。</p>
<p>又若患腹背熱，如手如杯如盤許大者，以冷石隨處熨之。</p>
<p>又若腳指間生瘡者，為履襪太溫故也。當以腳踐冷地，以冷水洗足瘥。</p>
<p>又若口熱痛煩悶者方。</p>
<p>生雞子（五枚）</p>
<p>上一味，頓服之，即便愈。</p>
<p>或寒熱累月，張口大呼，眼視高，精候不與人相當，日用水百余石澆洗不解者，坐不能自勞，又飲冷酒，復食溫故也。譬如　人，乃心下更寒，以冷救之愈劇者，氣結成冰，得熱熨，飲熱湯，冰消氣散，　人乃心解。令藥熱聚心，乃更寒戰，亦如　之類也。速與熱酒，寒解氣通，酒兩行於四肢，周體悉溫，然後以冷水三斗洗之，KT　然了也。</p>
<p>或有氣斷絕不知人，時蹶，口不可開，病者不自知，當須旁人救之，要以熱酒為性命之本，不得下者，　去齒，以熱酒灌含之，咽中塞逆，酒入復還出者，但與勿止也，出復納之，如解寒食散發，或頭痛，或心痛，或腹痛，或胸脅腫滿，或寒或熱，或手足冷，或口噤，或口瘡爛，或目赤，或乾嘔惡食氣便嘔吐，或狂言倒錯，不與人相當，或氣上欲絕，進退經時，散發百端，服前胡湯得下便愈方。</p>
<p>前胡（二兩）　芍藥（三兩）　黃芩（二兩）　大棗（二十枚）　甘草（二兩）　大黃（二兩）</p>
<p>凡六物，以水八升，煮取二升半，分三服。心脅堅滿，加茯苓二兩；胸中滿塞急，加枳子一兩；連吐，胸中冷，不用食，加生薑三兩；虛乏口燥，加麥門冬二兩。若加藥者，加水作九升也。解散三黃湯，治散盛，熱實不除，心腹滿，小便赤，大行不利，圯逆衝胸中，口焦黃連（二兩）　黃芩（二兩）　大黃（一兩）　甘草（二兩）　芒硝（二兩）</p>
<p>凡五物，以水五升，煮取二升半，納芒硝令烊，分三服。</p>
<p>小三黃湯，是由來舊方，與前治同，殺石勢勝前方，除實不如也。</p>
<p>大黃（一兩）　梔子（十四枚）　黃芩（二兩）　豉（三升）</p>
<p>凡四物，以水六升，先煮三物，令數沸，以　豉納湯中，取二升，分再服。</p>
<p>增損皇甫梔子豉湯，治人虛石盛，特折石勢除熱方。</p>
<p>豉（一升半）　梔子（十四枚）　黃芩（二兩半）</p>
<p>凡三物，以水六升，煮取三升，去滓，納豉，令得二升，分三服。</p>
<p>解散熱發，身如火燒，黃芩湯方。</p>
<p>黃芩（三兩）　甘草（一兩）　枳實（二兩）　厚朴（一兩）　栝蔞（一兩）　芍藥（一兩）　梔子（十四枚）</p>
<p>凡七物，以水七升，煮取二升半，分三服。</p>
<p>解散除熱，止煩殺毒，單行薺　湯方。</p>
<p>薺　（半斤）</p>
<p>凡一物，以水一斗，煮取三升，分三服。停冷凍飲料之。</p>
<p>解散除熱，單行凝水石湯方。</p>
<p>凝水石（四兩）</p>
<p>凡一物，以水四升，煮取二升半，服七合，日三。</p>
<p>解散甘草湯，治散發煩悶不解方。</p>
<p>甘草（二兩）　黃芩（二兩）　大黃（二兩）</p>
<p>凡三物，以水五升，煮取二升，分三服。</p>
<p>治口中干燥，渴嘔不下食方。</p>
<p>蘆根多少，煮取濃汁，以粟作粥漿，服多少任意。</p>
<p>解散失節度，口中發瘡方。</p>
<p>黃芩（三兩）　升麻（二兩）　石膏（五兩，末）</p>
<p>凡三物，以水六升，煮取三升，去滓，極冷，以嗽口中，日可十過。若喉咽有瘡，稍稍咽之佳。</p>
<p>治口瘡，小柏湯方。</p>
<p>龍膽（三兩）　黃連（二兩）　小柏（四兩）</p>
<p>凡三物，以水四升，先煮龍膽、黃連，取二升；別漬小柏，令水淹潛，投湯中和，稍含之。</p>
<p>治散發，心痛，腹脹，兼冷動熱，相格不消，甘草湯方。</p>
<p>甘草（二兩）　栝蔞（二兩）　朮（二兩）　枳實（二兩）　梔子仁（二兩）</p>
<p>凡五物，以水七升，煮取二升，分三服。</p>
<p>單行甘草湯方。</p>
<p>甘草（四兩）</p>
<p>凡一物，以水五升，煮之折半，冷之，頓服盡，當大吐。患心腹痛，服諸藥無效者，宜服此湯。</p>
<p>解散二物麻子豉湯，治人虛勞，下焦有熱，骨節疼煩，肌急內圯，小便不利，大行數少，吸吸口燥，少氣，折石熱方。</p>
<p>豉（二升），麻子（五合，擂取人）</p>
<p>凡二物，研麻子仁，以水四升，煮取一升半，分服五合，日三便愈。神驗。</p>
<p>治通身發瘡，擘折，經日用水，不得息者方。</p>
<p>銼胡　，煮溫，溫漬尤良。冬取根煮飲之。</p>
<p>解散除熱，熱結腫堅，起始欲作癰，升麻湯方。</p>
<p>升麻　大黃　芍藥　枳實（各二兩）　黃芩（三兩）　甘草　當歸（各一兩）</p>
<p>凡七物，以水八升，煮取二升半，分三服，快下，腫即消。</p>
<p>解散發振動，煩悶嘔逆，人參湯方。法議道人所增損方，用如此。</p>
<p>人參（二兩）　甘草（二兩）　朮（二兩）　黃芩（一兩）　栝蔞（二兩）</p>
<p>凡五物，以水七升，煮取二升，分三服。</p>
<p>白薇湯，治寒食藥發，胸中澹酢乾嘔煩方。</p>
<p>白薇（二兩）　半夏（二兩，洗）　乾薑（一兩）　甘草（半兩）</p>
<p>凡四物，以酢五升，煮取三升，分服五合。夫酢酒能令石朽爛。</p>
<p>治酒熱發熱法，積飲酒，石熱因盛，數散行經絡中，使氣力強，腎家有熱，欲為勞事，勞事多，使腎虛，則熱盛。熱盛心下滿，口焦燥，欲飲，飲隨嘔吐，不安飲食也。</p>
<p>宜飲葛根湯，安穀神，除熱止吐渴也。</p>
<p>解散閉悶結，小便不通如淋方。</p>
<p>大黃（一兩）　麻子仁（半斤）　芍藥（一兩）　茯苓（二兩）　黃芩（一兩）</p>
<p>凡五物，以水五升，煮取二升半，分再服。</p>
<p>解散小便不通，神良方。</p>
<p>桑螵蛸（三十枚）　黃芩（一兩）</p>
<p>凡二物，以水一升，煮取四合，頓服之。</p>
<p>解散除熱，小便數少，單行葵子湯方。亦治淋閉不通，三歲葵子亦可用。</p>
<p>陳葵根（切，一升）</p>
<p>以水三升，煮取二升，暖如人肌稍服之。</p>
<p>解散除熱止利，黃連湯方。</p>
<p>甘草（一兩）　黃連（二兩）　升麻（一兩）　梔子（十四枚）　豉（五合）</p>
<p>凡五物，以水五升，煮取一升半，分再服。</p>
<p>治散熱盛渴方。</p>
<p>生地黃（一斤）　小麥（二升）　竹葉（切，一升）　枸杞根（一斤）</p>
<p>凡四物，切，以水一斗，煮取九升，渴者飲之。</p>
<p>呂萬舒解熱止渴，飲地黃汁方。</p>
<p>生地黃（一斤）　小麥（三斤）　枸杞根（二斤）</p>
<p>凡三物，以水一斗，煮取二斗汁，渴者飲之。</p>
<p>單行枸杞白皮湯，解散除熱止渴方。</p>
<p>枸杞根白皮十斤，以水三斗，煮取一斗，分服一升。</p>
<p>薺　湯，華佗解藥毒，或十歲，或三十歲而發熱，或燥燥如寒，欲得食飲，或不用飲食。</p>
<p>華佗散法有：石硫黃熱，郁郁如熱，澆洗失度，錯服熱藥，劇者擗裂；　石熱，燥燥如戰；紫石英勢，悶暗喜臥，起無氣力，或時欲寒，皆是府氣所生，臟氣不和，宜服此湯。</p>
<p>薺　（四兩）　甘草（一兩）　人參（一兩）　藍子（一兩）　茯苓（一兩）　芍藥（一兩）　黃芩（一凡八物，切，以水一斗，先煮蕪菁子得八升，絞去滓，煮藥得三升半，分服七合，日三。</p>
<p>若體寒，倍人參，減黃芩用半兩也。若氣嗽，倍茯苓，減薺　去一兩。</p>
<p>應楊卅所得吳解散，單行蔥白湯方。藥沉體中數年更發，治之方。</p>
<p>生蔥白（一斤）</p>
<p>凡一物，以水八升，煮取四升，分服一升，使一日盡之。明日便當溫食飲於被中，不後發，便為知也。不過三劑都愈也。</p>
<p>治散熱，氣結滯，經年不解，數發者方。</p>
<p>胡　葉（半斤）</p>
<p>凡一物，以水七升，煮取二升半，分作三服。盡一劑便愈。</p>
<p>治服食傳病諸決（待考）</p>
<h2>卷第十</h2>
<p>要方第十卷所治如下：治哽誤吞物諸方治誤為火湯熱膏所傷諸方治熱　諸方治溺水未死諸方治入井塚鬱冒諸方治自經未死諸方治服毒藥吞金未死諸方治射公毒諸方治丹疹毒腫諸方治瘭疽諸方治代指似瘭疽諸方治風熱毒腫（熱瘡）諸方治洪燭瘡諸方治　蝮尿生瘡諸方治釘毒瘡（　疥癬惡瘡）諸方治（惡核）惡肉惡脈諸方治氣腫（氣痛）諸方治緩疽諸方治附骨疽與賊風相似諸方治KT　病似疽諸方治癰癤　諸方治乳癰妒乳生瘡諸方治耳眼鼻口齒諸方治癭病諸方治瘰　諸方治頹脫肛痔下部諸疾眾方治狐臭諸方治手足腋下股恆濕諸方治身　有氣口瘡諸方治面　瘡瘢諸方治面　黑痣諸方治白癜赤疵諸方治蟲獸狗馬毒諸方治被壓迮墮　折斫刺（金瘡）諸方上三十四件</p>
<h3>治哽誤吞物諸方</h3>
<p>治諸鯁方。</p>
<p>豬膏如雞子大，吞之，不瘥復吞，不過再三便去。</p>
<p>又方取薤白湯煮半熟，小嚼之令柔，以系繩系中央，提繩置即吞薤白，下喉牽出，鯁即隨出也。</p>
<p>又方取虎骨燒作屑，溫白飲服方寸匕，良。若無骨，可用虎牙齒，亦佳。</p>
<p>治諸哽方。</p>
<p>作竹篾刮令滑，綿纏納咽中，令至哽處，可進退引之，哽即出。</p>
<p>治魚骨哽在喉中，眾法不能去者方。</p>
<p>取飴糖丸如雞子黃大吞之，不去又吞，亦漸大作丸，比用得效也。</p>
<p>治魚骨哽方。</p>
<p>含水獺骨，立出。</p>
<p>又方魚網覆頭立下。</p>
<p>治鯁魚骨橫喉中，六七日不出方。</p>
<p>鯉魚鱗皮合燒作屑，以水服，即出。</p>
<p>治吞錢留咽中者方。</p>
<p>取白灰搗下篩，溫白飲服方寸匕，即下去。</p>
<p>又方艾蒿五兩，細銼，水五升，煮取一升，頓服便下。</p>
<p>治誤吞錢方。</p>
<p>搗火炭末，服方寸匕，則出。</p>
<p>治吞銀　及釵者方取白糖二斤，漸食盡，即出。</p>
<p>又方取水銀一兩。分三服，銀　便下去。</p>
<p>又方以胡粉一兩，和水銀一兩，冶調，分再服。水銀能消金銀。</p>
<p>治誤咽針方。</p>
<p>取精吸針磁石末，溫白飲服一方寸匕。解曰：磁石特能吸取針。難云：含吞針哽在喉中，而服磁石末入腹耶。若含磁石口中者。或吸針出耳。二理詳取其義焉。</p>
<p>治食中吞發結喉不出方。</p>
<p>取梳頭發燒，服一錢匕。</p>
<h3>治誤為火湯熱膏所傷諸方</h3>
<p>治卒被火燒，苦劇悶絕不識人方。</p>
<p>取新熱小便，飲一升，及冷水和蜜飲之，口噤不開者，可拗開灌之，其悶瘥，然後治外乃善。</p>
<p>治卒被火燒，苦劇悶絕不識人方。</p>
<p>冷水解蜜飲之，噤痙挾口與之。</p>
<p>又梔子膏方梔子（三十枚）　白蘞（五兩）　黃芩（五兩）</p>
<p>三物，　咀，以水五升，麻油一升，合煎令水氣竭，去滓冷之，以淋瘡，火熱毒則去，肌皮得寬。</p>
<p>治火燒成瘡方。</p>
<p>白糖燒灰粉之，即燥，易瘥。</p>
<h3>治熱諸方</h3>
<p>夏月中熱　死。凡中　死，不可使得冷，得冷便死，治之方。</p>
<p>以屈革帶繞　人臍，使三四人尿其中，令溫。亦可用泥土屈草，亦可扣瓦碗底若脫車　，以著　人臍上，取令尿不得流去而已。此謂道路窮急無湯，當令人尿其中。仲景云：欲使多人尿，取令溫，若有湯便可與之。仲景云：不用泥及車　，恐此物冷。　即在夏月，得熱土泥暖車　亦可用也。</p>
<p>治中熱　方。</p>
<p>取路上熱塵土，以壅其心上，小冷復易之，氣通乃止。</p>
<p>又方濃煮蓼飲之，至二升，良效。</p>
<h3>治溺水未死諸方</h3>
<p>治溺死，若身尚暖者方。</p>
<p>取灶中灰兩石余，以埋人，從頭至足，出七孔，即活。</p>
<p>又方便脫取暖釜覆之，取溺人伏上，腹中出水便活也。</p>
<p>治溺死方。</p>
<p>屈死人兩腳著人肩上，以死人背向生人背，負持走，吐出水便活。</p>
<p>治溺死一宿者，尚可活方。</p>
<p>倒懸解衣，挑去臍中垢，極吹兩耳，即活。</p>
<p>治溺水死，已經二宿者，可活方。</p>
<p>搗皂莢作末，以綿裹，納死人下部中，須臾牽出，即活也。</p>
<p>治溺水死方。</p>
<p>以灶灰布著地，令濃五寸，以甑倒覆灰上，以溺人覆伏甑上，口中水當出也。覺水出，復更別熬灰令暖，量之溺人口中水已出極多，便去甑，即以暖灰壅溺人通身，但退場門鼻耳。</p>
<p>小時便蘇醒，則活也。</p>
<p>又方令二健人抱溺人倒臥，瀝溺人水出盡，便活也。</p>
<h3>治入井塚鬱冒諸方</h3>
<p>治入井塚悶冒方。</p>
<p>凡五月六月，井中及深塚中皆有伏氣，入中令人郁悶殺人。如其必須入中者，先以雞鴨雜鳥毛投之，直下至底，則無伏氣。毛若徘徊不下，則有毒瓦斯也。亦可納生六畜等置中，若有毒，其物即死。必須入，不得已，當先以酒，若無，以苦酒數升，先洒井塚中四邊畔，停少時，然後可入。若覺中有此氣，郁悶奄奄欲死者，還取其中水洒人面，令飲之；又以灌其頭及身體，即活。若無水，取他水用也。</p>
<h3>治自經未死諸方</h3>
<p>治自縊死方。</p>
<p>傍人見自經者，未可輒割繩，必可登物令及其頭，即懸牽頭發，舉其身起，令繩微得寬也；別使一人，堅塞兩耳，勿令耳氣通；又別使一人，以蔥葉針其鼻中，吹令通；又別使一人，嚙死人兩踵根，待其蘇活乃止也。</p>
<p>又方治自經死，慎勿割繩也。繩卒斷，氣頓泄去，便死，不可復救也。徐徐抱死人，漸漸揉令繩漸寬也，然後解下之。心下尚溫，取雞雌雄無在，拔翅毛去，勿令得飛也，置地逐之，竟宅走雞，令極，久久者其冠當黑，止，急以尺物拔死人口開，便攣雞頭上割雞冠斷取血，臨死人口中，至喉咽氣便通。</p>
<p>治自縊死方。</p>
<p>以　衣若氍KT　濃氈物覆其口鼻抑之，令兩人極力吹其兩耳，一炊頃可活也。</p>
<h3>治服毒藥吞金未死諸方</h3>
<p>治服金屑取死未絕者方。</p>
<p>知覺是服金者，可以一兩水銀，瀉其口中，搖動令入喉咽裡，便微接死人如坐形，令水銀下流，金則消成泥，須臾從下部出也。未出之頃，死人亦蘇醒矣。可三過服之，便活也。</p>
<h3>治射公毒諸方</h3>
<p>射公，二名短狐，三名溪毒。其蟲形如甲蟲，有一長角，橫在口前如弩擔臨，其角端曲如上弩，以氣為矢，因水勢以射人。射人時，人或聞其在水中鉍鉍作聲也。要須得水沒其口，便中人猶緩；七月八月其毒大盛，中人甚急；八九月許，有寒露微霜者，其毒向衰，至十月乃息也。此蟲畏鵝，鵝能食之，聞鵝聲，便不敢來也。水上流有鵝浴氣響，鵝矢、毛羽流下，其便走去也。船行入溪，宜將鵝自隨，山溪家居，皆養白鵝也。凡入山溪水中采伐者，裝鵝屎、帶鵝毛，以辟之也。此蟲利耳而盲目，凡人入溪源取水及浴，經涉渡溪者，皆宜以木石遙擲水中作聲，其蟲應聲虛射，毒便泄去也。擲水法，唯多過左右廣擲之，蟲放毒盡，然後過溪也。山源之間，多有此蟲，大雨洪潦之時，其逐水流落之人家及道上牛馬跡小水中停住，人行陸地多不意悟，或逐柴薪竹木來，人喜不覺之，得病便作它治，乃誤致死也。</p>
<p>射公中人初始證候：先寒熱惡冷，吹KT　，筋急痙強，頭痛目疼，狀如傷寒，亦如中尸，便不能語，朝旦小蘇，晡夕輒劇，寒熱悶KT　，是其證也。初得三四日尚可活，急者七日死，緩者至二七日，遠不過三七日皆死也。此蟲有大小，小者毒微，射人不即作瘡，人多不知是射公毒；其大者毒猛，中人乃即可成瘡耳。其瘡初或如豆粒黑子，或如火燒，或如溺，或痛如針刺，而未見瘡處，或成瘡皆肉中有穿空如火針孔也。其射人遠者，及中人影者，毒小寬也。</p>
<p>射公中人腰以上去人近者多死，中人腰以下者小寬也。縱不死者，皆百日乃可保瘥耳。</p>
<p>治之如下：治射公中人，寒熱，或發瘡，或偏在一處，有異於常方。</p>
<p>取赤莧合莖葉搗之，絞取汁，服七合，日四五服，良。此是莧菜之赤大者也。</p>
<p>又方單煮犀角飲，以折其毒熱也。</p>
<p>治射公中人方。</p>
<p>取鬼臼目葉一把，納苦酒中，沾濕之竟，熟搗絞取汁，服一升，日三。</p>
<p>又方犀屑（二兩）　烏扇根（二兩）　升麻（三兩）</p>
<p>凡三物，　咀，以水四升，煮取一升半，分再服，相去一炊頃，盡更作。</p>
<p>又方取水菘，搗絞取汁，服一升，日三，即瘥。</p>
<p>又方取生茱萸莖葉一虎口握之，斷去握前後，余握中央，便熟搗絞，以水三升，煮取一升七合，頓服之，神效。</p>
<p>治射公中人，已有瘡者方。</p>
<p>取蜈蚣大者一枚，小炙之，搗末，苦酒和敷瘡上，良。</p>
<p>又方取斑蝥一枚，火燒搗末，苦酒和敷上。</p>
<p>又方取芥子，搗令熟，苦酒和，濃塗瘡上半日。</p>
<p>又方取野狼牙葉，冬取根，搗之令熟，薄所中處，又飲四五六合汁，防毒，恐入內也。</p>
<h3>治丹疹毒腫諸方</h3>
<p>丹毒者，方說一名天火也，肉中忽有赤如丹塗之色也，大者如手掌大，其劇者竟身體，亦有痛癢微腫者方。</p>
<p>用赤小豆二升，舂下篩，以雞子白和如泥塗之，小干復塗之，逐手消也，竟身者倍合之，盡復作，內宜服漏蘆湯。</p>
<p>漏蘆湯方漏蘆（二兩）　白蘞（二兩）　黃芩（二兩）　白薇（二兩）　枳實（二兩）　升麻（二兩）　芍藥（二兩）　大黃（二兩）　甘草（二兩）　麻黃（二兩）</p>
<p>凡十物，　咀，以水一斗，煮取三升，分三服。若是窮地無藥之處，依說增損易服之，及用後單行方也。能以鋒針　去血，然後敷藥大良。增損方法：無漏蘆用梔子十枚，無白蘞亦可略耳，無黃芩亦用梔子，漏蘆、黃芩並無者，但以梔子一物亦足已之。無升麻用犀屑，無犀屑用蛇銜，無大黃用芒硝，無麻黃用葛根，無葛根用石膏，無白薇用知母，無知母用葳蕤，無葳蕤用枳實，芍藥、甘草亦可略耳，都無藥但得大黃單服之亦大善。</p>
<p>升麻湯，治丹疹諸毒腫，　漬方。</p>
<p>升麻（二兩）　黃芩（二兩）　梔子（二十枚）　漏蘆（二兩）　蒴　根（五兩）　芒硝（二兩）</p>
<p>凡六物，　咀，以水一斗，煮取七升，停冷分用，漬　恆濕也。</p>
<p>升麻膏，治丹疹諸毒腫熱瘡方。</p>
<p>升麻（二兩）　黃芩（二兩）　梔子（二十枚）　白蘞（二兩）　漏蘆（二兩）　枳實（三兩，炙）</p>
<p>連翹（二兩）　朔　根（四兩）　芒硝（二兩）　蛇銜（三兩）</p>
<p>凡十物，切，舂碎細細，以水三升，漬半日，以豬脂五升煎令水氣竭，去滓，敷諸丹毒腫熱瘡上，日三。若急須之，但合水即煎之。</p>
<p>治丹諸單行方，或得一物瘥。</p>
<p>水苔　生蛇銜　生地黃　生菘葉　蒴　葉　五葉藤　慎火草　浮萍草　豆豉（水和）　大黃（水和）　梔子（水和）　黃芩（水和）　芒硝（水和）</p>
<p>上十三味，但得一物搗以貼之，即瘥。赤小豆末和雞子白塗之，無雞子水和用之。</p>
<p>又方新附淋草（半斤）　蛇退皮（一條）　露蜂房（三兩）</p>
<p>上三味，以水一斗，煮取四升，以帛拓洗之，隨手消，神妙，經用效，故附此卷傳之。</p>
<p>又方煮粟取濃汁以洗之，妙。</p>
<p>又方取曲　糞，水和如泥塗之。</p>
<p>治白疹方。</p>
<p>宜煮蒴　湯，與少酒以浴，佳。</p>
<p>又方以酒煮石楠草拭之。</p>
<p>又方水煮礬石汁拭之。</p>
<p>治赤疹方。</p>
<p>宜生地銜草塗之最驗，大法如治丹諸方。</p>
<p>治腫毒初起方。</p>
<p>敗龜板一枚，燒研，酒服四錢。</p>
<h3>治瘭疽諸方</h3>
<p>疽者，肉中忽生一黯子，小如豆粒，小者如米粒粟，劇者如梅李大，或赤或黑，或青或白，其黯狀實脈，脈有根而不浮腫也。痛慘應心，其根極深，達肉肌也，小久不治，便四面悉腫，　黯KT　紫黑色，能爛壞筋骨也。毒流散逐脈走入臟腑則殺人。南方人名為　著毒，得著濃肉處皆即割去之，亦燒鐵令赤，爍　上令焦如炭，亦灸黯　上百壯為佳。單舂酸摹葉薄其四面，以防其長也。飲葵根汁、藍青汁、犀角汁、升麻汁、竹瀝汁、黃龍湯諸單治，能折其熱耳。內外治法依治丹毒方也。</p>
<p>疽著指頭者，其先作黯　，然後腫赤黑黯KT　，慘痛入心是也。代指者，其先腫，欣欣熱痛，色不黯KT　也。</p>
<h3>治代指似瘭疽諸方</h3>
<p>代指者，其狀先腫，　熱痛，色不黯KT　，然後緣爪甲邊結膿，劇者爪皆脫落，亦謂之代指病也。</p>
<p>代指無毒，正由人筋骨中熱盛撮結故耳。吳人名遭指，野夫名為土盧，即皆是代指疾也，治之方。</p>
<p>單煮甘草汁漬之，或用芒硝湯漬之，搗青菜汁拓之，但得一種浸拓之即瘥。</p>
<p>代指疼痛，豬膏和白　土敷之。</p>
<h3>治風熱毒腫（熱瘡）諸方</h3>
<p>有風熱毒相薄為腫，其狀先腫，　熱，上生瘭漿如火爍者，名風熱毒也。治之如治丹毒法也。</p>
<p>熱瘡者，起瘡便生白膿是也。</p>
<h3>治洪燭瘡諸方</h3>
<p>有洪燭瘡，身上忽生瘭漿，如沸湯洒，劇者竟頭面，亦有胸脅腰腹通體如火湯爍，瘭漿起者是也，治之法。</p>
<p>急宜服漏蘆湯下之，外宜以升麻湯浴，但倍分多煮之以浴　之，其間敷升麻膏佳。若窮地無藥者，但依治丹法，用單行草菜方也。</p>
<h3>治蝮尿生瘡諸方</h3>
<p>有　蝮蟲尿人影，便令人病也。其狀身中忽有處慘痛如芒刺，亦如蟲所吮螫，然後起細作聚，如茱萸子狀也，其　邊赤，中尖有白膿如粟粒是也。亦令人皮肉急劇，惡寒壯熱，劇者連起，竟腰脅胸背也。</p>
<p>初得便以水摩犀角塗之，以止其毒，治之如火丹法，並諸草菜單行治也。</p>
<p>蝮尿人，初未發瘡之時，欲與射公相似，射公瘡止有一處黯黑，　蝮瘡促促連聚作痛，法亦小疹，以為異耳，然非殺人疾也。</p>
<p>形似　蝮，亦象　疽。</p>
<h3>治釘毒瘡（疥癬惡瘡）諸方</h3>
<p>治　癬疥惡瘡方。</p>
<p>水銀　礬石　蛇床子　黃連（各二兩）</p>
<p>四物搗篩，以臘月豬膏七合，並下水銀攪萬度，不見水銀膏成，敷瘡並小兒頭瘡，良。</p>
<p>治濕　疥瘡方。</p>
<p>胡燕窠大者，用抱子處土，為末，以淡鹽湯洗拭，干敷之，日一上。</p>
<h3>治（惡核）惡肉惡脈諸方</h3>
<p>有惡核病者，肉中忽有核，累累如梅李核狀，小者如豆粒，皮肉中慘痛，左右走人身中，壯熱，索索畏寒是也。與諸瘡痕、瘰　、結筋相似，其瘡痕、瘰　要因瘡而生，是緩疾無毒。</p>
<p>其惡核病，卒然而起，有毒，不治入腹，煩悶則殺人。南方多有此疾，皆是風月受溫風，至春夏有暴冷相搏，氣結成此毒也。</p>
<p>宜服五香連翹湯，以小豆薄塗之得消也。亦煮五香湯去滓，時時洗漬之，消化之後，以丹參膏敷，余核令消盡，不消盡者，還敷小豆薄也。</p>
<p>五香連翹湯，治惡脈及惡核、瘰　、風結諸核腫氣痛方。</p>
<p>青木香（二兩）　麝香（半兩）　沉水香（二兩）　薰陸香（一兩）　雞舌香（一兩）　連翹子（二兩）　射干（二兩）　升麻（二兩）　獨活（二兩）　寄生（二兩）　大黃（三兩）　甘草（二兩）</p>
<p>淡竹瀝（二升）</p>
<p>凡十三物，　咀，以水九升，煮藥汁水減半許，可納竹瀝汁，又克取三升，分三服。</p>
<p>丹參膏，治惡脈及惡核、瘰　、風結諸核腫痛方。</p>
<p>丹參（二兩）　蒴　根（二兩）　草（半兩）　秦艽（一兩）　獨活（一兩）　躑躅花（半兩）</p>
<p>蜀椒（半兩）　白芨（一兩）　牛膝（一兩）　菊花（一兩）　木防己（一兩）　烏頭（一兩）</p>
<p>凡十二物，細切為善，以苦酒二升，漬之一宿，夏月半日，急疾即煎之，以豬膏四升，煎令苦酒竭，勿令暴焦熬也，去滓，以膏塗諸疾上，日五六，至良。</p>
<p>有惡肉病，身中忽有肉如赤豆粒，突出便長，推出不息，如牛馬乳，亦如雞冠狀也。不治其為自推出不肯止，亦不痛癢也。此由春冬時受惡風入肌脈中，變成此疾也。</p>
<p>治之宜服漏蘆湯，外燒鐵爍之，日日稍爍，令焦盡也。爍竟，以升麻膏敷之，積日乃瘥耳。</p>
<p>治惡脈病方。</p>
<p>宜服五香連翹湯及竹瀝湯，　去惡血，敷丹參膏，積日則瘥，亦以白雄雞屎塗之。</p>
<h3>治氣腫（氣痛）諸方</h3>
<p>有氣腫病，其狀如癰，無頭虛腫色不變，皮上急痛，手裁著便覺痛，此由體熱當風，復被暴冷涼折之，結成氣腫也。宜服五香連翹湯，白針氣寫之，敷蒺藜薄，亦可用小豆薄，並得消也。</p>
<p>蒺藜薄方蒺藜子二升，下篩，以麻油和如泥，熬令焦黑，以塗細故熟布上，剪如腫大，勿開頭，之。無蒺藜可舂小豆下篩，雞子白和，塗腫上，干復塗之，並得消也。</p>
<p>有氣痛病，身中忽有一處痛，如打棵之狀，不可堪耐，亦左右走身中，發作有時，痛發時則小熱，痛靜時便覺其處如冷水霜雪所加，此皆由冬時受溫風，至春復暴寒涼來折之，不成溫病，乃變作氣痛也。</p>
<p>宜先服五香連翹湯數劑，及竹瀝湯，摩丹參膏，又以白酒煮楊柳樹皮，暖熨之，有赤氣點點見處，宜　去血也，其間將白薇散。</p>
<p>小竹瀝湯，治氣痛方。</p>
<p>淡竹瀝（二升）　夜干（二兩）　杏仁（二兩）　茵芋（半兩）　黃芩（半兩）　白朮（二兩）　木防己（二兩）　防風（二兩）　秦艽（二兩）　茯苓（三兩）　麻黃（一兩）　獨活（二兩）</p>
<p>枳實（二兩）</p>
<p>凡十五物，　咀，以水九升，煮藥折半，乃可納竹汁，煮取三升，分四服，少嫩人分作五服。</p>
<p>白薇散，治風熱相搏結氣痛，左右走身中，或有惡核疹起者，積服湯余熱未平復，宜此白薇散以消余熱方。</p>
<p>白薇（六分）　葳蕤（四分）　當歸（四分）　麻黃（三分）　秦艽（五分）　天門冬（四分）　蜀椒（二分）　木防己（四分）　紫胡（三分）　草（二分）　獨活（四分）　枳實（四分）</p>
<p>烏頭（二分）　朮（六分）　人參（四分）　夜干（六分）　山茱萸（四分）　青木香（四分）　防風（六分）</p>
<p>白芷（凡二十物，搗下絹篩，以酢漿服方寸匕，漸至二匕，日三。少嫩人隨長少減服之。毒微者，可用酒也。</p>
<h3>治緩疽諸方</h3>
<p>治緩疽方。</p>
<p>初作宜服五香連翹湯，　去血，以小豆薄塗之，其間數以　針去血，又薄之，取消良也。</p>
<p>不消，色未變青KT　者，以練石薄薄之。若失時不得消已爛者，猶服五香連翹湯及漏蘆湯下之，隨熱多少投方也。外以升麻湯　洗之，敷升麻膏。若生臭惡肉者，可以單行一物白茹散敷之。青黑肉去盡便敷也。好肉熟生，但敷生麻膏良。肉不生，敷單行一物黃　散也。</p>
<p>若敷白　茹散積日，青黑惡肉不盡者，可以漆頭赤皮　茹散取半錢匕，和雜三大錢匕白　茹散中合冶之，稍以敷之，惡肉去盡，還淳用白　茹散也。視好肉欲生，可敷黃　散也。</p>
<p>白　茹散漆頭　茹散黃　散上三方，並一物單行，隨多少舂下篩用耳。</p>
<p>治緩疽，初作即以小豆薄塗之，亦消也。</p>
<h3>治附骨疽與賊風相似諸方</h3>
<p>附骨疽，一名　疽，以其無頭附骨成膿故也。又名癰疽，以其廣大竟體有膿故也。附骨急疽，與賊風實相似也。其附骨疽者，由人體盛有熱，久當風冷入骨解中，風與熱相搏，其始候，為欲眠、沉重、惚惚耳。急者熱多風少，緩者風多熱少也。</p>
<p>賊風者，其人體平無熱，中暴風冷，則骨解深痛。附骨疽久者則腫見結膿，賊風久則枯或結瘰　，以此為異也。是附骨疽而作賊風治，則益其病，深膿多也。是賊風而作附骨疽治，則加其冷，風增遂成瘰　、偏枯、攣曲之疾也。</p>
<p>附骨急疽者，其痛處壯熱，體中乍寒乍熱，索索惡寒不用熱，小便或赤，大便或難，無汗也。即得治下去熱，便得消也。縱不消盡，亦得浮淺近外易得壞潰，其不復附骨也。賊風之證，但痛應骨不可按抑，痛處不壯熱，體不仁，乍寒乍熱，但覺體KT　以冷，欲得熱，熱熨痛處即小寬，時有汗也。即得針灸熨，服治風溫藥，便效也。</p>
<p>初得附骨疽，即服漏蘆湯下之，敷小豆薄得消也。下利，利已虛而腫處未消者，可除大黃用生地黃及乾地黃也。熱漸退余風未歇者，可服五香連翹湯除大黃也。余熱未消，可敷升麻膏佳。若失時不消成膿者，用火針膏散如治癰法也。</p>
<h3>治KT病似疽諸方</h3>
<p>治KT　病方。</p>
<p>宜服漏蘆湯自下，外以鋒針數　去血氣，針瀉其結核處，敷小豆薄則消，皆可依治丹法消之，亦用治癰三物甘焦薄薄也。及至潰成膿，火針、敷膏散，亦如治癰法之。</p>
<h3>治癰癤諸方</h3>
<p>《經》言：寒氣客於經絡之中，則血氣凝澀不行，壅結則為癰疽也，不言熱之所作。其成癰久，寒化為熱，熱盛則肉腐爛為膿也。依經診候之，由人體中有熱，被寒冷搏之，血脈凝澀不行，熱氣擁結則為癰疽也。是以治癰疽方有灸法者，治其始。其始，中寒未成熱之時也。其用冷薄貼者，治其熱已成，以消熱使不成膿也。今人多不悟，其始不用溫治及灸法也。</p>
<p>今出要方，以治其成形者耳。赤色腫有尖頭者，根廣一寸以還，名為癤；其廣一寸以上者，便為小癰也；其如豆粒大為　。</p>
<p>治作癰令消方。</p>
<p>取鹿角就磨刀石上水摩之，以汁塗，燥復塗，則消也。內宜服連翹湯下。</p>
<p>又方生舂小豆下篩，雞子白和如泥塗之。</p>
<p>治始作癰，正赤熱痛方。</p>
<p>單燒鹿角作未，苦酒和薄之，干復塗之，自消。</p>
<p>又方單搗大黃，苦洒和薄之，溫則易。</p>
<p>治癰及癤始結腫赤熱方。</p>
<p>水摩半夏塗之，燥更塗，得KT　便消也。山草中自可掘取半夏乃佳，神驗。</p>
<p>有石癰者，始微堅，皮核相親著，不赤，頭不甚尖，微痛熱，熱漸自歇，便極堅如石，故謂石癰，難消，又不自熟，熟皆可百日中也。</p>
<p>初作便服防己連翹湯，白針氣寫之，敷練石薄，積日可消。若失時不得治，不可消。已有膿者，亦用此薄，則速潰，膿淺易為火針。諸癰潰後用膏散，依治緩疽法，初作即以小豆薄塗之，亦消也。</p>
<p>治癰結腫堅如石，或如大核，色不變，或作石癰不消者方。</p>
<p>鹿角（八兩，燒作灰）　白蘞（二兩）　粗理黃色磨石片（一斤）</p>
<p>燒石極令赤，納五升苦酒中，復燒，燒竟復更納苦酒中，令減半止，搗石作末，並鹿角屑、白蘞屑，以余苦酒和如泥，濃塗癰上，才干更塗，取消也。</p>
<p>治石癰方。</p>
<p>單磨鹿角、半夏塗，不如上方佳也。</p>
<p>治始發諸癰疽發背及乳癰方。</p>
<p>半夏末，雞子白和，塗良。生者神驗，以水和塗之。</p>
<p>有　者，始結腫與石癰相似，所可為異者，其一種中按之壘壘有數核便是也。</p>
<p>初作喜不痛、不熱，即以練石薄敷之，內服防己連翹湯下之，便可得消。若失時不治結膿者，亦以練石薄薄令速熟，熟用火針、膏散，如治癰法。初作即以小豆薄塗之，亦消。</p>
<p>又桐君說：赤小豆　白蘞　黃芩　黃　牡蠣凡五物，分等，下篩，酒服方寸匕。</p>
<h3>治乳癰妒乳生瘡諸方</h3>
<p>治乳癰方。</p>
<p>大黃（二分）　草（二分）　伏龍肝（二分）　生薑（二分）</p>
<p>凡四物，合篩，以薑並舂治，以醋和，塗乳最驗。</p>
<p>單地黃煎，主補虛除熱，散乳石癰疽瘡癤等熱方。</p>
<p>生地黃隨多少，取汁於銅缽中重湯上煮，勿蓋釜，令氣得泄，煎去半，更以新布濾絞，去粗滓穢又煎，令如餳成矣。此用地黃須肥大味濃者，作煎甘美，東南地黃堅細味薄，作煎咸不美。</p>
<p>治奶發諸癰疽發背及乳方。</p>
<p>神效水磨。</p>
<p>治妒乳方。</p>
<p>以雞子白和小豆散，塗乳房，令冷，以消結也。</p>
<p>又宜以赤龍皮湯、天麻草湯洗之，敷黃連胡粉膏。</p>
<p>赤龍皮湯槲樹皮切三升，以水一斗，煮取五升，夏月冷用之，秋冬溫之，分以洗乳。</p>
<p>天麻草湯天麻草切五升，以水一斗五升，煮取一斗，隨寒溫分洗乳。</p>
<p>治妒乳方。</p>
<p>黃芩　白蘞　芍藥（各等分）</p>
<p>上三味，下篩，漿水服一錢五匕，日三。若右乳結將去左乳汁，左乳結即將去右乳汁，服即又方柳白皮，酒煮令熱，以熨上即消。</p>
<p>又方苦酒磨升麻，若青木香若檀香，以摩上並良。一味即得，佳。</p>
<p>又方已入腹者，麝香、薰陸香、青木香、雞舌香各一兩、以水四升，煮取二升，分再服。忌蒜、面、酒、牛馬豬肉。</p>
<p>治妒乳方。</p>
<p>生地黃汁以薄之。</p>
<p>又方葵根搗為末，服方寸匕，日三。</p>
<p>治婦人乳毒方。</p>
<p>敗龜甲一枚，燒研，酒服四錢。</p>
<h3>治耳眼鼻口齒諸方</h3>
<p>治耳聾方。</p>
<p>巴豆（十四枚，去心皮）　松脂（半兩，練去滓）</p>
<p>凡二物，合搗，取如黍米粒大，著簪頭著耳中，風聾即愈。勞聾當汁出，癢後乃愈。數用有聾有五種：風聾者，掣痛；勞聾者，黃汁出；干聾者，耵聹生；虛聾者，蕭蕭作聲；聾者，膿汁出，治之方。</p>
<p>鯉魚腦如小豆，綿裹塞良。</p>
<p>治風聾耳中鳴方。</p>
<p>但用鯉魚腦，竹筒盛，塞頭，蒸令烊，以灌耳即愈。</p>
<p>又方附子、菖蒲分等，搗，以綿裹塞兩耳，甚良。</p>
<p>治　耳出膿汁散方。</p>
<p>礬石（三兩，燒汁令盡）　黃連（一兩）　烏賊骨（一兩）</p>
<p>上三物，搗冶下篩，如棗核大，綿裹塞耳，日二。</p>
<p>耳中膿血出作　耳，治之不愈，是有蟲也，治之方。</p>
<p>鯉魚腸一具，細銼之，以酢三升，合搗，布裹，以塞兩耳，食頃當聞痛，痛則看，應有白蟲出著藥，乃去故藥，更著新者，須蟲盡乃止。</p>
<p>治蟲入耳者方。</p>
<p>取椒一撮末之，以半升酢漿漬取汁，溫灌耳中，行十四步，蟲則出。</p>
<p>又方醬苦酒漿汁灌之。</p>
<p>又方綿裹白膏塞耳，蟲則死，著綿出。</p>
<p>又方用車轂脂塗耳孔，蟲則出。</p>
<p>治蚰蜒入耳方。</p>
<p>炒麻子，葛囊盛之，傾耳枕之，蟲聞香則出。</p>
<p>治蜈蚣入耳方。</p>
<p>炙豬肉掩耳，即出。</p>
<p>治眼漠漠，黃連洗湯方。</p>
<p>黃連（二兩）　秦皮（二兩）　蕤仁（半兩）</p>
<p>上三味，　咀，水三升，煮取一升半，絞去滓，適寒溫以洗目，日四五度。又加升麻二兩，治目卒不所見方。</p>
<p>銼梓木煮，以洗目，日三。</p>
<p>治目清肓無所見方。</p>
<p>以赤鯉魚膽並腦，雜真珠合和，綿取注　中。</p>
<p>治目痛方。</p>
<p>以鹽湯洗之，良。</p>
<p>又方以　荷根取汁，著竹筒中，著目中，即愈。</p>
<p>治眼風結腫合，或眼生翳，人口吹之，睛中牽引疼痛，白睛赤起出，或黑變黃，從下上覆半睛者，秦皮湯方。</p>
<p>秦皮（洗）　黃連（各二分）　黃柏（三分）　大棗（五枚）　蕤仁（二分）</p>
<p>上五味，切，以水二升，煮取一升，以洗眼，忌豬肉。</p>
<p>治眼膚肉生覆瞳子者方。</p>
<p>取針燒令赤，爍著膚上，不過三爍縮也。有令人割之三復生，不如爍之良。</p>
<p>治眼中生息肉並白赤障翳散方。</p>
<p>貝子（十枚，燒）　真珠（一分）</p>
<p>凡二物，冶下篩，爪取如小豆，著翳上，病患正仰眼，他人與之，可再三，經一食久拭之，神良。</p>
<p>治目為物所中方。</p>
<p>羊膽、雞膽、魚膽，皆可用注之。</p>
<p>治目為物所中傷，有熱痛而暗方。</p>
<p>斷生地膚草汁注之，冬日煮干取汁注也。</p>
<p>治鼻中窒塞香膏方。</p>
<p>白芷　當歸　芎　細辛　辛夷　通草　桂心　薰草（各三分）</p>
<p>上八味，　咀，以苦酒漬一宿，以豬膏一升煎，以白芷色黃成膏，濾去滓，取少許點鼻中，或綿裹納鼻中，以瘥止。</p>
<p>治鼻中塞肉，通草散方。</p>
<p>通草（半兩）　真珠（六銖，碎）　礬石（一兩，燒）　細辛（一兩）</p>
<p>上四物，搗末，以綿裹如棗核，沾散如小豆，並綿頭納鼻中，日三，取瘥。</p>
<p>治緊唇方。</p>
<p>俗諺言：良方善技，出於阿氏。是余少時觸風，乘馬行獵，數苦緊唇，人教纏白布作大燈炷，著空斧中燒布，斧刃有汗出，以指瀝取塗唇即瘥。</p>
<p>治齒蟲，腐棘刺漱湯方。</p>
<p>腐爛棘針二百枚，即是棗木刺朽落地者，用一物，以水二升，煎取一升，含之即瘥，日四五治甘蟲食齒根方。</p>
<p>伏龍肝置石上，著一撮鹽，須臾化為水，以面展取，待凝濃，取納病上。</p>
<p>又方皂莢去皮塗上，蟲出。</p>
<p>治有飲酒醉吐，牙後涌血射出，不能禁者方。</p>
<p>取小釘燒令赤，正注血孔上，一注即斷。釘當令赤，不赤能不斷也。</p>
<h3>治癭病諸方</h3>
<p>癭病者，始作與癭核相似。其癭病喜當頸下，當中央不偏兩邊也，乃不急　然，則是癭也。中國人息氣結癭者，但重　無核也，長安及襄陽蠻人，其飲沙水，喜癭有核瘰瘰耳，無根，浮動在皮中，其地婦人患之，腎氣實，沙石性合於腎，則令腎實，故病癭也。北方婦人飲沙水者，產乳其於難，非針不出。是以比家有不救者，良由此也。治癭方。</p>
<p>小麥一升，醇苦酒一升，漬小麥令釋，漉出暴燥，復漬使苦酒盡，暴麥燥，搗篩，以海藻三兩別搗，以和麥末令調，酒服方寸匕，日三。禁鹽、生魚、生菜、豬肉。</p>
<p>治癭瘤諸　，昆布丸方。</p>
<p>昆布（八兩，炙）　海藻（七兩，洗，炙）　小麥（一升，熬）　海蛤（五兩）　松蘿（四兩）　連翹（二兩）　白頭翁（二兩）</p>
<p>上七物，搗下篩，和蜜丸如梧子，服十丸，日三。稍加三十丸。</p>
<h3>治瘰諸方</h3>
<p>治三十歲瘰　癭方。</p>
<p>海藻一斤，絹囊盛，好清酒二斗漬之，春夏二宿，服二合，酒盡復以酒二斗漬之，飲如上法。此酒盡爆海藻令燥，末，服方寸匕，日三，藥無所禁，一劑不愈更作，不過三劑也。</p>
<h3>治頹脫肛痔下部諸疾眾方</h3>
<p>牡丹五等散，治頹疝陰卵偏大，有氣上下脹大，行走腫大為妨，服此方良驗。</p>
<p>牡丹（去心）　防風　桂心　豉（熬）　黃柏（各一分）</p>
<p>凡五物，冶下篩，酒服一刀圭匕，二十日愈，治少小頹疝最良，嬰兒以乳汁和如大豆與之，牡丹散，治　偏大氣脹方。</p>
<p>牡丹　桂心　防風　鐵精　豉（熬，各等分）</p>
<p>上五味，搗篩，酒和方寸匕服之。小兒一刀圭，二十日愈。嬰兒以乳汁和大豆與之，大效。</p>
<p>忌生蔥、胡荽。</p>
<p>治脫肛驗方。</p>
<p>蒲黃（二兩）　豬膏（三合）</p>
<p>凡二物，搗，合和敷肛上，當迫納之，不過再三便愈。</p>
<p>治脫肛熏方。</p>
<p>以女萎一升，以器中燒，坐上，熏肛門，即愈。</p>
<p>治若腸隨肛出，轉廣不可入，一尺來者方。</p>
<p>搗生栝蔞，取汁溫服之，以豬肉汁洗手，隨抑按，自得入。</p>
<p>若腸隨肛出方。</p>
<p>熬鍛石令熱，布裹熨之，隨按令入，冷即易。</p>
<p>治五痔散，主酒客勞及損傷，治下部中傍孔，起居血縱橫出及肉方。</p>
<p>赤小豆（四分，熬）　黃　（三分）　附子（炮）　白蘞　桂心（各一分）　芍藥　黃芩（各二分）</p>
<p>上七味，搗為散，以酒服方寸匕，日三，止血大驗。</p>
<p>又方藜蘆　大黃　黃連（各半兩）　練木子（十四枚）　桃仁（十四枚，去皮）　巴豆（四枚，去皮心）</p>
<p>上七味，　咀，以豬肪一升，煎三沸下，去滓，敷贅肉上，日三。外著此膏，內服紫參丸，常並行。</p>
<p>治五痔，大便肛邊清血出，紫參丸，治久不瘥服之無不瘥方。</p>
<p>紫參　秦艽　亂髮灰　紫菀　厚朴（炙，以上各一兩）　本（二兩）　雷丸（半斤）　白芷（一兩）　蟲（半兩，熬）　石南（半兩，炙）　貫眾（三兩，去毛）　豬後懸蹄甲（十四枚，炙）</p>
<p>虻蟲（半兩，去翅足熬）</p>
<p>上十三味，搗篩，以羊脊骨中髓合豬脂各半升煎，和丸如梧子，未食，酒服十五丸，日再。亦可飲下。劇者夜一服。四日肛邊癢止，八日膿血盡，鼠乳悉愈，滿六十日終身不復發。</p>
<p>久服益善。有痔病十八年，肛出長三寸，服此方即愈。亦治脫肛。有人熱，可除羊髓，以赤蜜代。禁生冷、魚肉。</p>
<p>治穀道中癢痛痔瘡，槐皮膏方。</p>
<p>槐皮（五兩）　甘草　當歸　白芷（各二兩）　陳豉　桃仁（各五十粒，去皮）　赤小豆（二合）</p>
<p>上七味，銼，以豬脂二升煎，候白芷黃膏成，去滓，以塗之，日三度。</p>
<h3>治狐臭諸方</h3>
<p>治胡臭漏腋。有天生胡臭，有為人所染臭者，天生者難治，為人所染者易瘥，然須三年敷白礬散勿止，並服五香丸，乃可得瘥。勿言一度敷藥即瘥，只可敷藥時暫得一度瘥耳。凡胡臭人通禁食芸苔、五辛，治之終身不瘥，胡臭方。</p>
<p>辛夷　芎　細辛　杜蘅　蒿本（各二分）</p>
<p>上五味，　咀，以苦酒漬之一宿，煎三日，取汁敷之，欲敷臨時，以瘥為度。</p>
<p>治人體及腋下狀如狐　氣，世謂之胡臭方。</p>
<p>燒好礬石末，絹囊盛之，常以粉腋下，不過十度。</p>
<p>令人香方。</p>
<p>甘草　松樹根及皮　大棗　甜瓜子凡四物，分等，末，服方寸匕，日三。二十日覺效，五十日身體並香，百日衣服床幃皆香。</p>
<h3>治手足腋下股恆濕諸方</h3>
<p>治漏腋，腋下及足心手掌陰下股裡恆如汗濕致臭者，六物胡粉膏方。</p>
<p>干商陸（一兩）　干枸杞白皮（半兩）　乾薑（半兩）　滑石（一兩）　甘草（半兩）　胡粉（一兩）</p>
<p>上六物，冶末，以苦酒和塗腋下，微汗出易衣，復更著之，不過三便愈。或一歲復發，發復塗之，不可多塗與，傷人腋也。</p>
<p>漏腋方。</p>
<p>正朝旦以小便洗。</p>
<h3>治面瘡瘢諸方</h3>
<p>治面　，木蘭散方。</p>
<p>木蘭皮一斤，漬以著三年酢中，趣令沒之，百日出木蘭皮，曝燥，搗為散，服方寸匕，日三。</p>
<p>治面　方。</p>
<p>土瓜，冶以水銀、胡粉、青羊脂，分等，和敷面上，日二，有效。</p>
<p>又方胡粉（二分）　水銀（四分）</p>
<p>以豬膏和研，敷面，天曉以布拭去，勿洗水。</p>
<p>治面上惡瘡術。</p>
<p>胡粉（五兩，熬）　黃柏（五兩）　黃連（五兩）</p>
<p>三物，冶下篩，粉面瘡上，日三，滅瘢方。</p>
<p>雞矢白（一兩）　辛夷仁（四分）　白附子（二分）　細辛（二分）</p>
<p>上四味，酒浸一宿，以羊脂六合，微火煎三上三下，去滓，傷瘢以甘草洗訖塗之。</p>
<p>又方鷹屎白一兩，研，白蜜和塗瘢上，日三。</p>
<h3>治面黑痣諸方</h3>
<p>治面　方。</p>
<p>白蜜和茯苓塗滿之，七日便瘥。</p>
<p>又方杏仁去皮，冶令細，雞子白和之，敷經宿拭去。</p>
<p>治面黯，滅瘢痕，除　，去黑痣方。</p>
<p>薺　（二分）　桂心（一分）</p>
<p>上二味，搗篩，以酢漿水服方寸匕，日一止即脫，又服梔子散瘥。</p>
<h3>治蟲獸狗馬毒諸方</h3>
<p>治蜂螫人方。</p>
<p>取蜘蛛塗瘡上。</p>
<p>又方以活蜘蛛放毒上，其自嗽毒。</p>
<p>治蜂螫人方。</p>
<p>斫　木取白汁塗之。桑汁亦良。</p>
<p>治蜈蚣螫人方。</p>
<p>嚼鹽塗之效，又以鹽拭瘡上，蜈蚣未遠不得去。</p>
<p>又方嚼大蒜若小蒜，或桑白汁以塗之。亦以麻履底土揩之，良。</p>
<p>又方取屋中土，以水和敷之。</p>
<p>治蜈蚣螫人方。</p>
<p>割雞冠血塗之。</p>
<p>又方以鹽湯漬之，即愈。</p>
<p>治蠣螫人方。</p>
<p>取屋　下土，以水和敷之，立愈。</p>
<p>治竹中青　蛇螫人方。</p>
<p>雄黃　乾薑上二味，各等分，搗篩，以射　和之，著小竹管中帶之行，有急便用敷瘡，兼治諸蛇毒。</p>
<p>治蛇螫人，牙折入肉中不出，痛不可堪方。</p>
<p>取蝦蟆肝以敷上，立出。</p>
<p>蛇入人口中不出方。</p>
<p>艾灸蛇尾即出。若無火，以刀周匝割蛇尾，截令皮斷，乃將皮倒脫，即出。</p>
<p>入山草避眾蛇方。</p>
<p>乾薑　生麝香　雄黃三物搗，以小囊帶之，男左女右，則蛇逆走避人，不敢近也。人為蛇侵者，可以此治之，大良。</p>
<p>治熊虎爪牙所傷毒痛方。</p>
<p>燒青布以熏瘡口，毒即出，仍煮葛根汁令濃，以洗瘡，日十度。並搗葛根為散，煮葛汁以服方寸匕，日五，甚者夜二。</p>
<p>治虎毒方。</p>
<p>燒婦人月水污衣，末，敷瘡中。</p>
<p>又方嚼栗塗，神良。</p>
<p>治狂犬咬人方。</p>
<p>刮野狼牙或虎牙骨末，服方寸匕。已發狂如　犬者，服此藥即愈。</p>
<p>又方頭發、　皮燒作灰，末，等分，和水飲一杯。若或已目赤口噤者，可折齒灌之。</p>
<p>又方搗地黃汁飲之，並塗瘡上，過百日止。</p>
<p>治　狗嚙人方。</p>
<p>取杏仁熬令黑，冶，著瘡中，佳。</p>
<p>眾治不瘥，毒攻人煩亂，喚已作犬聲者方。</p>
<p>髑髏骨燒灰末，以東流水和服方寸匕，以活止。</p>
<p>凡狂犬咬人，七日輒應一發，過三七日不發則免也。要過百日乃為大免，每至七日輒當搗薤汁飲二三升，又當終身禁食犬肉、蠶蛹。若食此發則不可救之。瘡未瘥之間，亦忌食生魚、諸肥膩肉及諸冷食。但於飯下蒸生魚及就膩器中食便發。不宜飲酒，能過一年乃佳。</p>
<p>若重發者治之方。</p>
<p>生食蟾蜍膾，絕良。亦可燒炙食之，不必令其人知。初得嚙，便為此，則不發。剝作膾，吞蒜齏下也。</p>
<p>又方搗生薑汁一升以來服之，佳。</p>
<p>禁飲酒、食豬肉、生菜、　。</p>
<p>治馬咋踏方。</p>
<p>搗車前草葉薄之。</p>
<p>治馬咬人及踏人作瘡，毒腫熱痛方。</p>
<p>取馬鞭稍三尺，鼠矢二七枚，燒末，以豬膏和塗之，立愈。</p>
<p>治剝死馬，馬骨傷人手，毒攻欲死方。</p>
<p>取死馬腹中屎以塗之，即瘥。</p>
<p>治馬骨所刺，及馬血入人攻瘡中，毒痛欲死方。</p>
<p>人糞泥之，又搗馬莧敷之。</p>
<p>治馬汗入人瘡方。</p>
<p>煮沸湯及熱以漬之，冷復易之。</p>
<p>治馬骨所刺，及為馬所踏咋，為馬汗血毛垢矢溺入人瘡中，及人有創而近馬物，毒瓦斯入創中，先針刺傷出新血數過，嗽去之，研豉作湯令小沸，以漬創。</p>
<p>又方可用熱灰汁。</p>
<p>又方煮馬莧草洗之，並服汁。</p>
<p>又方以車前草葉搗敷之。</p>
<h3>治被壓迮墮折斫刺（金瘡）諸方</h3>
<p>治為人所打擊，若見鎮迮，頭破腦出已死，尚有氣在胸心間方。</p>
<p>取豚血及熱灌腦中，令滿瘡裡，無豚者唯趣得熱血而灌之。</p>
<p>又方服水銀如大豆，即活。</p>
<p>治被打擊，有瘀血在腹內久不消，時時發動方。</p>
<p>大黃（二兩）　乾地黃（四兩）</p>
<p>上二味，搗散為丸，以酒服三十丸，日再。為散服亦妙。</p>
<p>若久宿血在諸骨節及脅肋外不去者方。</p>
<p>牡丹　虻蟲（去足熬，等分）</p>
<p>上二味，搗末，以酒服方寸匕，血化成水。忌胡荽。</p>
<p>又方鐵一斤，酒三升，煮取一升服之。又燒令赤，投酒服之。</p>
<p>治從高墮下，腹中崩傷，瘀血滿，斷氣方。</p>
<p>服蒲黃方寸匕，日五六過。</p>
<p>又方舂生地黃，酒沃取汁，稍服，甚良。</p>
<p>治從高墮，若為重物所鎮迮，得瘀血方。</p>
<p>作大豆紫湯，如產婦法服之。</p>
<p>治從高墮下，若為重物所頓迮，得瘀血方。</p>
<p>豆豉三升，沸湯二升，漬之食頃，絞去滓，納蒲黃三合投中，攪調，頓服之，不過三四服，神良。</p>
<p>治　折四支骨方。</p>
<p>若有聚血在折上，以刀破去之，不可冷食也。舂大豆，以豬膏和塗聚血上，燥復易之。</p>
<p>又方燒鼠屎　豬膏和，敷血上，甚良。</p>
<p>治腕折四肢骨碎，及筋傷蹉跌方。</p>
<p>生地黃不限多少，爛搗熬之，以裹傷處，以竹編夾裹令遍，縛令急，勿令轉動，一日可十易，三日瘥。若血聚在折處，以刀子破去血。</p>
<p>治凡脫折、折骨諸瘡腫者，慎不可當風臥濕，及多自扇，若中風則發痙，口噤殺人，若已中此，覺頸項強，身中急束者，急服此方。</p>
<p>竹瀝飲三二升，若口已噤者，可以物拗開納之，令下。禁冷凍飲料食及飲酒。竹瀝卒燒難得多，可合束十許枚，並燒中央，兩頭承其汁，投之可活。</p>
<p>凡以八九月刺手足，以犯惡露，殺人不輕也，治之方。</p>
<p>用生竹若桑枝兩三枚，郁著火中為推引之令極熱，研碎斷之正，以頭注創口上，熱盡復易著一枚，盡三枚，則創當正白爛，及取薤白搗，以綿裹之，著熱灰中，使極熱，乃去綿取薤以薄創上，以布帛急裹之。若創故腫者，更為之。若已中水及惡露風寒腫痛者，以鹽數合，急折著創上，以火炙之，令熱達創中畢，以臘納竹管中，以管貯熱灰中炮之，臘烊以灌創。</p>
<p>若無鹽、薤者，但膜便可單用。</p>
<p>治惡露創方。</p>
<p>取蒲若敗青布於小口器中，若坎中，燒以熏之，創中汁出則愈。</p>
<p>治狐刺方。</p>
<p>以熱蠟灌瘡中，又煙熏之，令汁出愈。此狐所溺之木，猶如蛇螫也。</p>
<p>金創無大小冬夏，始傷血出方。</p>
<p>便以白灰濃敷之，仍裹，若創甚深，不欲便令合者，納少滑石，滑石令創不時合，又止痛，亦可內少少牡蠣。若卒無白灰，可用凡灰。已膿，中有蟲，白灰敷之，日三，蟲當出。</p>
<p>故並州劉田方，蓋常秘之。</p>
<p>金創，腸胃脫出，欲令入法。</p>
<p>取人糞干末，以粉腸上，即入。</p>
<p>金創被筋絕，令還續方。</p>
<p>取蟹頭中腦及足中肉髓熬之，納創中，筋即生續之。</p>
<p>治金瘡中風方。</p>
<p>蜀椒量瘡大小，用面作餛飩，　灰中炮令熟，及熱開一小口，當瘡上掩之，即引風出，可多作取瘥。</p>
<p>治被毒箭傷方。</p>
<p>雄黃末敷之，當沸汁出，即愈。</p>
<p>又方食麻子數升，愈。搗飲其汁亦佳。</p>
<p>又方但多食生葛根自愈，食無限。不能，或搗生葛，絞取汁飲之。干者，煮取飲之。</p>
<p>又方煮蘆根汁飲一二升。</p>
<p>卒被毒箭方。</p>
<p>舂藍汁飲之，亦灌創，　箭得藍即醒。</p>
<p>又方服蒲黃二合許，血亦下。</p>
<p>治箭金在喉咽胸背隔中及在諸處不出方。</p>
<p>牡丹（一分）　白蘞（一分）</p>
<p>末，酒服方寸匕，日三，自出。</p>
<p>又方取婦人月經衣已污者，燒末，酒服方寸匕，日三，立出。</p>
<p>治金瘡，箭在肉中不出方。</p>
<p>半夏（三兩，洗）　白蘞（三兩）</p>
<p>上二味，下篩，以酒服方寸匕，日三。淺者十日出，深者二十日出，終不住肉中。</p>
<p>治箭金及折針不出方。</p>
<p>以鼠腦塗之。</p>
<p>又方以鼠婦塗之。</p>
<p>又方以螻蛄腦塗之。</p>
<p>治箭、醫針在肉中方。</p>
<p>細刮象牙屑，以水和之如杏，著折針上，即出。亦治竹木刺不出者。</p>
<h2>卷第十一</h2>
<h3>述用本草藥性</h3>
<p>味合則成毒，未必即殺人即病也，皆經久乃害耳。唯見朝食至暮無害，便謂書記非實，甚可哀。</p>
<p>倉公述曰：味合則成毒，毒合則成藥，未必即殺人，及即病也，皆經久乃害耳。</p>
<p>堇汁，味甘寒無毒，主馬毒瘡，搗汁洗之並服之。堇，菜也。</p>
<p>倉公對黃帝曰：大豆多食，令人身重。</p>
<p>丹砂，一名鎮粉，燒朱砂作水銀，上黑煙名也。</p>
<p>金牙，一名黃石牙。</p>
<p>薯蕷，一名土荼根，一名茅荼根。</p>
<p>牛膝，一名牛唇。</p>
<p>丹參，一名逐馬，人病腰痛，服之則能起走逐馬，故以名之。</p>
<p>天名精，一名天精，一名天無青。</p>
<p>酸漿，一名苦　子。</p>
<p>薺　，一名鹿隱忍，根名也。</p>
<p>水　，水中大馬　，一名馬菜，一名馬葉。</p>
<p>蝦蟆，一名去甫，一名苦　，一名仇道。</p>
<p>蓬　，一名大莓礪石，一名磨刀石。</p>
<p>牡蒙，一名王孫。</p>
<p>涉厘，水中粗苔也。</p>
<p>麥門冬，垣衣為使。</p>
<p>防葵多服，令人迷惑，恍惚如狂。</p>
<h2>卷第十二</h2>
<h3>灸法要穴</h3>
<p>《經》說：夫病以湯藥救其內，針灸營其外。夫針術須師乃行，其灸則凡人便施。為師解經者，針灸隨手而行，非師所解文者，但依圖詳文則可灸。野間無圖不解文者，但遂病所在便灸之，皆良法。但避其面目四肢顯露處，以瘡瘢為害耳。</p>
<p>黃帝曰：灸不三分，是謂徒啞。解曰：此為作炷欲令根下廣三分為適也。減此為不覆孔穴上，不中經脈，火氣則不能遠達。今江東及嶺南地氣濕（溫），風寒少，當以二分以還，極一分半也，遂人形闊狹耳。嬰兒以意作炷也。</p>
<p>凡八木之火，皆害人肌血盤脈骨髓，不可以灸也。大上用陽燧之火，其次KT　石之火，天陰以槐木之火為良也。陽遂是火珠耀日取火也。天陰無日時，則鑽槐木取火也。今世但令避此八木之火耳，當用人間相傳之火也。以摩膏布纏延之，以艾莖延之皆良也。相傳之火者，皆非臨時鑽截所得也，皆眾薪雜木延之，已變以木勢厲不復為害，是可用也。</p>
<p>《蝦蟆經》云：松木之火以灸即根難愈；柏木之火以灸即多汁；竹木之火以灸即傷筋，多壯肉傷；橘木之火以灸即傷皮肌；榆木之火以灸即傷骨，多壯即骨枯；枳木之火以灸即陷脈，多壯即脈淳；桑木之火以灸即傷肉；棗木之火灸即傷髓，多壯即髓消。</p>
<p>《黃帝經》曰：禁不可灸者有十八處，而《明堂》說便不禁之，今別記之如下：頭維，禁不可灸；承光，禁不可灸；腦戶，禁不可灸；風府，禁不可灸；門，禁不可灸；耳門，耳中有膿及適抵無灸；人迎，禁不可灸；絲竹空，灸之不幸，使人目小及盲；承泣，禁不可灸；脊中，禁不可灸；乳中，禁不可灸；石門，女子禁不可灸；氣街，灸之不幸，不得息；淵腋，灸之不幸，生腫蝕；天府，禁不可灸；經渠，禁不可灸；地五會，禁不可灸；伏兔，禁不可灸。</p>
<p>曹氏說不可灸者如下：玉枕者，人音聲之所經從，無病不可灸，灸則聲不能語。若有疾，可灸五十壯。</p>
<p>維角者，在眼後發際上至角脈上是也，人眼精之所，心通神為明者也。不可妄灸，灸則令失明，此則頭維也。</p>
<p>精明者，名為郎井，在眼本　隱中可容豆者，人眼神光之所歸息也。無病不可灸，灸則失明反赤；有病可灸七壯至十四壯。</p>
<p>舌根，在頤下廉泉之後，當結喉上仰著下頤當舌根下去結喉一寸，長人可一寸半，咽吞口味時，按之有怒肉起是也，人聲息之亭候。無病不可灸，灸則令氣澀語不轉；有病可灸七壯至十四壯。</p>
<p>結喉，在頸下陰喉頭突起　者也，人五臟榮衛之所統也。無病不可灸，灸則妖鳴語不成音；有疾可灸七壯。</p>
<p>胡脈，在頸本邊，主乳中脈上是也，一名榮聽，人五臟血氣之注處也。無病不可多灸，灸熟則血氣決泄不可止；有疾可灸五十壯。</p>
<p>天突者，名為天瞿，復名身道，是體精之衢路也。無病不可灸，灸則傷聲反喑；有疾可灸五十壯。</p>
<p>神府者，人神之明堂也。無病不可灸，灸則少氣之短，使人無精守；有疾可灸百壯。此則鳩尾，一名龍頭是也。</p>
<p>臣攬者，名為神精，人筋脈之所交也。不可妄灸，灸則令人不能舉臂；有疾可灸百壯。</p>
<p>關元者，下焦陰陽宗氣之奧室也。婦人無疾不可妄灸，灸則斷兒息；有疾可灸百壯。</p>
<p>血海者，名為沖使，在膝內骨上一夫陷中，人陰陽氣之所由從也。無病不可灸，灸男則陽氣衰，女則絕產，不欲動搖肢節也；有疾可灸五十壯。</p>
<p>足太陰者，人陽精之房沖也。無病不可灸，灸男則陽氣衰，女則令絕產；有疾可灸五十壯。</p>
<p>丘墟者，名為蹄溪，在外踝下少耶近前是也，人聲室之房源。無病不可灸，灸則氣下不能上通，令喑不能言；有疾可灸十四壯。</p>
<p>上二十穴，曹氏說云無病不可灸，灸則為害也。尋不病者，則不應徒然而灸，以痛苦為玩者也，皆病至不獲已灸耳，便是未詳曹氏此說也。</p>
<p>師述曰：孔穴去病，有近遠也。頭病即灸頭穴，四肢病即灸四肢穴，心腹背脅亦然，是以病其處即灸其穴，故言有病者可灸，此為近道法也。遠道針灸法，頭病皆灸手臂穴，心腹病皆灸脛足穴，左病乃灸右，右病皆灸左，非其處病而灸其穴，故言無病不可灸也，非其身都無病而徒灸者也。故言其穴所在之處無病不橫為遠道穴灸，苟犯其禁耳。意為如此，幸可更詳也。</p>
<p>腹背宜灸五百壯，四肢則但去風邪，不宜多灸，七壯至七七壯止，不得過隨年數。如巨闕、鳩尾雖是胸腹之穴。灸不過七七壯，艾炷不須大，以竹箸頭作炷，正當脈上灸之。若灸胸腹，艾炷大灸多，令人永無心力。如頭頂穴若灸多，令人失精神。臂腳穴灸多，令人血脈枯竭，四肢細瘦無力。既復失精神，又加於細瘦，即脫人真氣。</p>
<p>膝目四穴，膝內外目，一膝有二穴，各有犢鼻兩旁陷者中，如猴猻眼者是也。</p>
<p>曲尺二穴，在一腳趺上，脛之下，接腕曲屈處，對大指歧，當踝前兩筋中央陷中是也。</p>
<p>風府一穴，在項後發際下，小入發中，當兩盤中央陷中是也。</p>
<p>大椎上節以上，屬頸崇骨也。大椎與崇骨相接處，其節最高碩也。</p>
<p>巨闕，在龍頭骨下一寸是也。</p>
<p>灸心痛方；心懊　，徹痛煩逆，灸心俞百壯。</p>
<p>心痛如刀刺，氣結，灸鬲俞七壯。</p>
<p>心痛胸痹，灸膻中百壯。</p>
<p>心痛冷氣上，灸龍頭百壯。在心鳩尾頭上行一寸半。</p>
<p>心痛惡氣上，脅急痛，灸通谷五十壯。乳下二寸。</p>
<p>心痛暴絞急絕欲死，灸神府百壯。附心鳩尾正心，有忌。</p>
<p>心痛暴惡風，灸巨闕百壯。</p>
<p>心痛胸脅滿，灸期門，隨年壯。</p>
<p>心痛堅煩氣結，灸大倉百壯。</p>
<p>大便閉塞，氣結心滿方。</p>
<p>灸石關百壯。</p>
<p>又方灸足大都隨年壯治　方。</p>
<p>灸腋下聚毛中五十壯。</p>
<p>又方灸石關穴五十壯。</p>
<p>泄利食不消，不作肌膚，灸脾俞，隨年壯。</p>
<p>泄注便膿血，五色重下，灸小腸俞百壯。</p>
<p>泄利不禁，少腹絞痛，灸丹田穴百壯。在臍下二寸。</p>
<p>灸咳嗽法。</p>
<p>灸肩井穴百壯，在肩上陷解中大骨前。</p>
<p>又方灸大杼穴隨年壯，在項第一椎下兩旁各一寸半陷者中。</p>
<p>又方灸肺俞隨年壯，在第三椎下兩旁各一寸半。</p>
<p>又方灸風門熱府穴百壯，在第二椎下兩旁各一寸半。</p>
<p>又方灸天突穴五十壯，在結喉下五寸宛宛中。</p>
<p>又方灸玉堂穴百壯，在紫宮下一寸六分。</p>
<p>又方灸膻中穴五十壯，在玉堂下一寸六分，兩乳間陷者中。</p>
<p>又方灸云門穴五十壯，在巨骨下氣戶兩旁各二寸陷者中，橫去旋機旁六寸。</p>
<p>又方灸中府穴五十壯，肺募也，在云門下一寸。</p>
<p>又方灸巨闕穴五十壯，在鳩尾穴下五分。</p>
<p>又方灸期門穴五十壯，在去巨闕五分，舉臂取之。</p>
<p>又方灸俞府穴，在旋機旁各二寸。</p>
<p>又方灸或中穴，在輸府下一寸六分。</p>
<p>又方灸氣戶穴，在去旋機旁各四寸。</p>
<p>灸水病法。</p>
<p>灸膈俞百壯，三報。在第七椎下兩旁一寸半。</p>
<p>又方灸脾俞百壯，在十一椎下兩旁一寸半。</p>
<p>又方灸意舍百壯，在當臍孔中央是也。</p>
<p>眼　動，口唇動，偏　，皆風入脈故也。</p>
<p>灸吻邊橫紋赤白際逐左右風乘不收處，灸隨年壯，日日報之，三報且息。三日不效，復三報之。</p>
<p>灸喑不能言方：天聰，在亞會後一寸半，前項穴也。</p>
<p>天窗，在前項前一寸半，亞會一名也。</p>
<p>百合。</p>
<p>卒狂言鬼語方。</p>
<p>以甑帶急合縛兩手父指，便灸左右脅下，對屈肘頭，兩火俱起，灸七壯。須臾鬼語自云姓名，乞得去，徐徐詰問，乃解其手也。</p>
<p>狂　詈　打人方。</p>
<p>灸口兩吻邊燕丸處赤白際各一壯，並灸背胛間，名臣攬，三壯，三日一報之。</p>
<p>又方灸陰囊下縫三十壯，女人者灸陰會也。</p>
<p>灸癲病狂病方：陰莖上宛宛中三壯。</p>
<p>大指上叢毛中七壯或九壯。</p>
<p>足小指本節前七壯。</p>
<p>囊下縫上二七壯。</p>
<p>背脈在直鼻中上灸三十壯，三報。</p>
<p>脊窮下尻骨頭。</p>
<p>灸消渴法。</p>
<p>灸關元一處，又挾兩旁各二寸二處，各灸三十壯，五日一報，至百五十壯。</p>
<p>灸腰痛法：令病患正　立，以竹杖柱地，度至臍，以度注地背，正灸脊骨上，隨年壯。灸竟藏竹，勿令人得之。灸丈夫痔下血及脫肛不入，及息下長泄利，婦人女子月崩去血，乍止乍發，及滯下淋瀝，長去赤白雜汁，皆灸此。</p>
<p>又挾兩旁各一寸復灸之，為橫三穴間一寸也。</p>
<p>又灸腰目，小耶在尻上左右陷處是也。</p>
<p>治霍亂嘔噦吐逆，良久不止方。</p>
<p>灸巨闕並太倉各五十壯。</p>
<p>起死：吐且下利者，灸兩乳連黑外近腹白肉際各七壯，亦可至二七壯。</p>
<p>若吐止而利不止者，灸臍一夫納中七壯。</p>
<p>又云：臍下一寸，二七壯。</p>
<p>若煩悶湊滿者，灸心厭下三寸七壯，名胃管。</p>
<p>又方以鹽納臍中，上灸二七壯。</p>
<p>若繞臍痛急者，灸臍下三寸三七壯，名關元，良。</p>
<p>灸黃膽法。</p>
<p>灸脾俞百壯，穴在第十一椎下兩旁一寸半。</p>
<p>又方灸手太陰，隨年壯，穴在手小指端。</p>
<p>又方灸錢孔百壯，穴度乳至齊中，屈肋頭骨是。</p>
<p>又方灸胃管百壯，穴在鳩尾齊中。</p>
<p>病石淋齊下三十六種病，不得小便方。</p>
<p>灸關元三十壯。</p>
<p>又方灸大敦三十壯，在足大指端，去爪甲如韭葉。</p>
<p>又方灸氣門三十壯。</p>
<p>治淋病，不得小便，陰上絞痛方。</p>
<p>灸足太衝五十壯。在足太指本節後二寸。</p>
<p>又方灸懸泉，一名中封，十四壯。中封在足內踝前一寸。</p>
<p>治小便不通方。</p>
<p>以鹽滿齊，灸上三壯。</p>
<p>治遺尿灸穴。</p>
<p>灸遺道，在挾玉泉五分，隨年壯。</p>
<p>又方灸陽陵泉、陰陵泉，隨年壯。在膝下一寸。</p>
<p>治耳聾方。</p>
<p>灸聽會穴，在耳前陷中。</p>
<p>男頹有腸頹、卵脹、有水頹、氣頹四種。腸頹、卵脹難瘥，氣頹、水頹針灸則易瘥也。</p>
<p>男陰卵偏大，頹方。</p>
<p>灸肩井並灸關元百壯。</p>
<p>又方灸玉泉百壯，在關元下一寸。</p>
<p>又方灸足太陽五十壯，並灸足太陰五十壯，有驗。</p>
<p>頹病，陰卒腫者方。</p>
<p>合並足，縛兩大趾令爪相並，以艾丸灸兩爪端方角處一丸，令頓在兩爪角上也。令丸半上爪上佳。灸七壯愈。</p>
<p>治　犬咬人方。</p>
<p>先嗍去惡血，乃須灸瘡中十壯，明日以去日灸一壯，滿百日乃止，忌酒。</p>
<p>治　狗嚙人方。</p>
<p>嗽去其惡血，灸其處百壯，以後當日灸百壯。血不出者小刺傷之，灸百壯乃止。</p>
