<header><h1>醫中一得</h1></header>
<dl class="元資料" data-type="book">
<div><dt>作者</dt><dd><data value="顧爾元拜">清·梁溪七世家醫雅亭氏顧爾元拜撰</data></dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
</dl>
<h2>《醫中一得》提要</h2>
<p>夫醫之為道，貴手實驗。裘君吉生藏書至數千種，不以大部湊集眾說之書為重，恒調單本小冊之著作在往出自心得，多有發明之處，如外科王洪緒《全生集》、內症王清任《醫林改增》等，立論不多，要皆獨具創見，尤以所載方法無不歷經試驗，遂有不屈不撓之學說垂示於人。此書係顧儀卿先生所著，為裘君假錄於同社曹炳章君。亦因其所論皆屬心得，刊以禆益醫林也。 </p>
<h2>《醫中一得》序</h2>
<p>詩曰：我思古人，實獲我心。獲之為言，得也，有得於心也。聖人之於學也，未得則發憤而忘食，已得則樂之而忘憂。學貴乎有得也如是。醫之為道，亦何獨不然。奧稽古聖上自軒歧中及仲景為醫中之聖，聖則得之全也。厥後劉河間、李東垣、朱丹溪輩各執一見，各成一家。亦各有所得而為之也。迄今如葉香岩之批刻陶氏《全生集》，徐靈胎又評點《葉氏方案》，孰非有得於心而為之歟？余雖業醫半生，碌碌於醫道，茫無所得。每念前人，不勝惶愧，乃無何而儀卿宗台來，手執其所著《醫中一得》示余，余受而讀之，其中癉瘧一說發前人之所未發，葛升一方制前人之所未制。至如產後房勞與蓐勞異，既有明辨，又有定方，余以之治人，無不應手，知儀鄉先生固有得於心而為之也。一得之所以名書也，原世之閱是書者，勿以管見視之。以之行世，參以己見，旁推類及，或者更有所得，並不止一得，何莫非是書之有所稗益而垂之不替耶？是為序。</p>
<p>癸亥仲春月，梁溪七世家醫雅亭氏顧爾元拜撰，時年七十有四 </p>
<h2>癉瘧淺說</h2>
<p>時交夏至以後，連日身體發熱，午後更甚，至夜半出汗稍和，明日午後仍復大熱，心胸懊儂，舌胎黃膩，脈數而洪，或有上午即大熱者，或有大熱前手足厥冷而熱者，人皆稱為瘴瘧。方中無不用表裏雙解，以傷寒之法治之。其感邪極輕者，雖不藥亦愈。如稍重者，屢投無效。藉云：瘴瘧本難速愈，必延至月餘，元氣津液大傷，熱仍不解。一病癒淹，無從措手，殊不知傷暑與傷寒病本不同，治亦各異。葉氏云：暑為無形之氣，先從口鼻而入，法當輕揚解散。此語深得治此症之法。切思暑氣入鼻，必先犯肺，入口必先犯胃。然肺胃熱邪清之散之，似可易愈，何以治之無效？蓋肺與脾為子母清與脾為表裏，故肺胃之病最易及脾。午後更劇者，陽明之見端也。辰刻亦屬陽明，巳屬太陰，每日如是者，脾主信也。胃為腑，脾為臟，其病纏綿不已者，在腑易愈，在臟難愈也。且暑必夾濕，脾又惡濕，溫在脾，不易去也。治法當以辛諒解散為主，用藥宜輕清上升，不宜重濁下降。經所謂火鬱發之是也。夫脾為坤土，其氣本升，既為淫熱所蘊，已失健運之機，若早用普降之藥遏住熱邪，阻其上升之性，勢必其邪由表入裏，變成下痢而難愈矣。是以治當純用辛涼解表，務令將辟經所沾暑濕之邪導其仍從麻胃而出，所貴提邪外越，勿使引邪人裏，是為要著。尤不可雜以裏藥下藥，雜則藥便有所牽制，其力不專，難以奏效，更防邪易陷脾耳。因此症從無專治之法，茲特本諸前賢參以己意，聊擬一方，通病用之，多能獲效，奉勸高明，請嘗試之。</p>
<p>葛升湯 治熱勢起伏，有汗不解方。</p>
<p>葛根一錢五分 升麻八分 連翹。錢 杏仁去皮尖，二錢 炒牛蒡子三錢 六一散三錢廣皮一錢 蟬衣去足，一錢 川通草四分 香薷一錢 引用蘆根一兩 荷花露一兩 鮮荷便一尺 鮮佛手一錢</p>
<p>分量視人強弱加減。虛弱之體升麻量減，強壯之人升麻酌增。</p>
<p>以上之味平淡無奇，人人皆用。惟升麻為此方必用之藥，與六一散通草能提脾家之暑濕，使之外達肺胃。葛根、蘆根為涼散陽明之專藥，杏仁為心果，連翹能清心包絡熱，香薷、荷梗、荷露清其暑，廣皮、佛手開其氣。蟬得秋氣最先，乃金風奏而炎暑消之意。更與牛蒡為解散暑風之佐使也。若大熱前先手足厥冷者，病機已兼少陽，當加柴胡四分。時交白露而發病者，方中須加赤芍藥一錢五分，乃邪氣入營故也。再加薄荷一錢，以往香薷之不逮。若深秋後脈不甚洪，口不甚渴，當去蘆根四錢，小兒則分量酌減。此方連服三劑或五劑，重者即輕，輕者即愈。或有變為瘧疾，數日而愈者。若但熱無汗，脈洪數而懊煩者，不用此方，用大青龍湯去薑棗加葛根，因暑蘊於中而外為寒所束也。</p>
<p>此方之用神，全在升麻一味。蓋暑必夾濕，若脾中蘊濕則清氣不升，濁氣不降，暑濕之邪交阻則外壯熱而內懊儂，舌胎黃膩，大便秘結，小便短少諸症見矣。惟升麻升其清氣則濁亦易降，並助葛根諸藥滌邪外散，可以效靈。如無升麻則難奏效。或云升麻非常用之藥，抑恐陰虛之人提動肝陽，故不敢輕投。不知升麻入肺、脾、胃、大腸四經，非同柴胡之入肝膽可比，可以無慮。東垣先生亦常用之。惟胃虛氣逆嘔吐者，自宜慎用耳。且此症兩候之內，若能早用此方，可無邪閉邪陷之虞，亦無氣粗痙厥之險，業醫者未可輕視也。又云：表裏雙解亦是前人之法，何以此症獨不可用？答云：先表後裏，古人治病貴有次第。表未解未可攻裏，仲師亦嘗言之。若邪勢表輕裏重者，偶用雙解是專意攻裏帶疏表也。表重者斷無此法。況治傷署之症，務令將脾家所蘊之邪導其仍從肺胃而出，若用裏藥，不外檳榔、枳實、焦查、神麯、厚朴之類，性燥入脾，雖與肺胃之藥同用，而藥方有所牽制，不能提邪外越。裏藥若輕，尚無大患，倘或重投多服，則津液愈虧，元氣愈弱。正虛邪陷，雖有良醫，難為方矣。若雜下藥則熱邪陷脾，易成滯下，此所以諄諄奉勸世之業醫者考之於書，揆之於理，驗之於病，深望明哲之士穎悟而信從之。務將舊日所習之成法為之一變，則病者幸甚。</p>
<h2>附錄：澄江華墅鎮俯恬吳君閱此寄來書並答書</h2>
<p>儀卿先生閣下：兩奉教言，浣讀大著，發前人之所未發，啟後學之所未悟，業已黏之通行，廣布仁風於大地矣。另附跋語於尾，並將臆見質之有導，尚析指教為幸。立論明暢，皆窮源探本之言，用藥輕清，有批郤導窾之妙。洵為暑門寶筏，治暍良方。有禆來茲，功德不淺。江浙卑下之地，交春分以後即有熱蒸濕鬱之氣，足以病人到五六七月尤甚，俗謂之濕溫，即暑濕熱三氣合病也，經謂先夏至為病溫，故曰濕溫。後夏至為病暑，故曰傷暑。若暑濕潛伏三焦募原，乃半表半裏之界，至處署後新涼外束，伏熱內動而發者，謂之伏暑。其候最難速愈，大抵轉瘧則輕，人裏則重。從古無人發明此理，雖潔古以動靜分陰陽，東垣以升得溫燥為清暑，按之今病，殊為未備。淮河間劉氏理法清真如天水散、桂苓甘露飲，誠為三焦之妙劑，借引其端而未竟其緒。喻氏以暑濕熱三氣匯為一門，言之頗詳，而於伏暑一症蓋闕如也。意者自宋元明以來，其證尚少耶，抑當時有是病而以傷寒混治耶。聞張鳳逵有《暑症》一書，購之未得，惟葉香岩前輩以江蘇人言江蘇病，獨辟鴻溕，如曰暑與濕皆地中之氣，無形無質，從口鼻吸受，不宜以重藥推銷。又曰：仲景傷寒先辨六經，河間溫暑必究三焦，以手經為重，忌足六經藥。片言扼要，允為後學津梁。瑛每見秋後伏暑，最屬糾纏，患者極多，必轉瘧乃愈。若轉滯下，乃邪陷二腸，宜宗喻氏逆流挽舟法，百無一失。若不先行逆挽，勢必愈趨愈下，變為不治者甚多。又有早用黃連、石膏，致邪陷厥陰，變為痙厥神昏而成壞病者，十中僅救一二。瑛目擊心傷，蘊於中者久矣。著有《伏邪論用代暑芻言》《痧麻》及《爛喉丹痧指迷》等說，俟脫稿後錄呈，削政為荷。再接癉瘧之說，《內經》與《金匱》所言大略相同，皆陰氣先絕，陽氣獨發，但熱不寒耳。惟《內經》言肺素有熱，《金匱》言氣藏於心，要不外心營肺衛之旨，細繹之，似冬令金水兩虧之人，邪伏手太陰，足少陰，至春三而發。有寒熱往來者，有但熱不寒者，有咳嗽者，有咳久失血者，與熱病溫病兩感之病同源異流。治不得法，或誤散或誤補，遷延時日，每成損怯，故日令人消鑠肌肉。似與暑病不符。貴邑明醫甚多，以暑病為癉瘧，其得之師承口授乎？抑別有所闡發經義而云熱乎？循名核實，不能無疑，尚祈明以教我，曷勝幸甚。</p>
<p>甫恬先生閣下：接誦手書，藉悉起居安善，動定鹹宜，以欣以慰。所呈癉瘧淺說，皆屬膚淺之論，或即為患者之一得亦未可知，乃蒙嘉獎過當，實覺汗顏。惟方中之葛根升麻並未論及，竊有所疑。然鄙意以為此方之關鍵全在此二味，蓋葛根為涼散陽明之專藥，若不以升麻、六一散佐之，尚不足以升舉脾胃之暑濕，使之外達。六一散中滑石亦屬陽明之藥，必用六分而佐以甘草一分者，欲令滑石導入脾經，方能將脾之暑濕外泄也。古人制方之義如此，後人以為濕家忌甘草而專用滑石，大失此方之旨矣。古方中用升麻者甚多，何今之醫士都畏而不用耶？即爛喉痧亦須用升麻。《傷寒論》中有越婢湯，以後諸家不明其義，強為解釋，不知婢乃脾字之訛，越婢者，為發越脾氣之義，故方中兼用薑棗，亦從脾經導邪之意，猶六一散之用甘草也。夫脾為坤土，位居中宮，為營血之源，上這則可傳肺胃，下陷則易入肝腎。病機之出入，醫家之挽回，須在此參究耳。所以東垣先生亦著意乎此。至於癉瘧之名，乃通稱，其實即傷暑也。此亦仍其舊而已。若無汗而用大青龍湯，亦自有說。世皆以暑月忌用麻黃者，蓋以麻黃性溫，非夏令所宜。又以夏月腠理已開，若再用麻黃，恐有汗多亡陽之慮，不知傷寒中之用大青龍因寒已化火，故有口渴脈洪煩躁之證。以麻黃、桂校發汗為君，而以石膏之辛涼佐之，取龍騰雨降之意。此症脈洪數，口渴無汗相同，若不用麻黃、桂枝發汗，石膏清熱，則汘無從出，而邪無從解。濕熱蘊伏中宮，津液日傷，元氣日耗，變症不可測矣。故必用斬關奪隘法以救之。不過傷寒以麻黃、桂枝為君，石膏為臣，此症當以石膏為君，麻黃、桂枝為臣，分量有輕重，貴在臨症權衡也。經云：肺素有熱，邪尚在衛。《金匱》言：氣藏於心則入營矣。若不辨明營衛經絡，概從氣分發散，尚屬隔膜，焉能愈病？所謂治不得法也。更有此種熱邪，尚從上年伏於營中，冬令閉藏，至春而劇，醫者當市其或在脾經，或在肝腎，對症用藥，方能獲效。若邪伏在脾胃營分，則右關之脈沉分必獨洪數，先輩有以葛根、犀角並用，葛根散邪，犀角清熱，二味為君，參入地味，最為合法。至或有咳嗽者，或有咳久失血者，皆屬熱伏營分之徵。若遷延時日，每成損怯，及令人消爍肌肉，總是陰分為伏熱所傷之故。若不知清熱而但知用補，則大謬矣。清熱總須邪有出路，不可一味寒涼，此病乃從前所伏之邪暑，病為暑月新受之氣，故病不符，治各不同也。愚意如此，未識高明以為何如？還當有以教我為幸。高論中云：伏暑症必轉瘧乃愈，若轉滯下，變為不治者多。此亦顯而易見者。蓋少陽為半表半裏六經之樞機。轉瘧者，是太陰之邪傳變少陽，由陰出陽也，故易愈。若轉為滯下，則太陰而傳入厥陰矣，故難治。可見伏邪亦應分六經，若河間之究三焦，似言受病之始，尚非伏邪之確論也。敗毒方中之用柴胡、羌活，亦是從陰經導出陽經之意。故曰逆流挽舟，是從趨下之勢而挽之使上也。由此悟入，一隅三反矣。 </p>
<h2>俯恬吳君又有書來並答書</h2>
<p>儀卿先生大人閣下：閏月接展，還云詳論癉瘧，因夏秋忙甚，未遑握管，致稽裁復，抱疚無如。正深渴想，十月中又奉手教，誦悉福履，恒綏潭禧晉吉，以欣以慰。承惠《風雷集》及大著《醫中一得》，浣讀之下，仰見仁人用心，志在濟世。至產後房勞論，發千古不發之蘊，誠為醫中暗室一燈，尤徵學識精進，不勝欣佩之至。惟荷蒙雅愛，垂問諄諄，謂如有別說，或尚有未到處，統祈示悉改正，不致貽誤後人，更見虛懷若穀。瑛敢不以三十年臨證考核之苦衷，心有所悟者為知己告？謹將下詢原由及癉瘧二字不可以傷暑混同立論之處，另單呈核，伏祈鑒定，正其纓，存其真，為幸。瑛與閣下，交有年矣，何幸而得此益友也。日後拙作告竣，寄閱之後尚望匡以不逮是荷。竊思醫以活人，筆之於書，傳之於後，立言宜萬世無弊。若擇之不精，便有偏而不全之處。敢將管窺之見與平日臨症有得合於古而可信於今者，印證高明，尚祈賜教為荷。高論云：癉瘧之名乃通稱，其實即傷暑也。亦仍其舊而已。竊謂癉瘧本於《內經》仲景，特發明《金匱》，蓋實有是症也。考《說文》：癉者，勞也，因勞生熱（即《內經》陰虛生內熱也）。故勞字從火從力，謂有所過用其力，則君相二火上越高顛，其病為熱。此雖臆說，似與陰氣孤絕，陽氣獨發二句頗合。因其但熱不寒，故曰癉。作止有時，故曰 瘧。大抵腎水不足，素多內熱之人，冬不藏精，寒伏少陰，至春夏陽升氣暖，邪尋出路而發於心肺，從上焦而達之也。喻氏論癉瘧，主以甘寒，言之未能十分透徹。徐忠可謂與溫瘧同一機局，沈圖南謂癉瘧亦微有灑漸惡寒，至但熱不寒，心陽發病，肺邪不能復，心為寒，故但熱不寒。又曰：白虎加桂枝湯即前癉瘧而出方也。喻氏謂心肺兩陽合邪，故但熱不寒。鄙意瘁瘧即瘧病中之一症，《內經》列於瘧論，仲景發明於瘧門，謂傷暑乃癉瘧中之兼症則可，謂癉瘧即傷暑則不可。既登梨棗，似直立言無弊，不可拘於俗稱也。謹奉勸分作二說，以為後學之一助。近診患癉瘧者甚眾，非若傷暑寒輕熱重，或寒熱往來者可比。高論中有「經云肺素有熱，邪尚在衛，起至此病，乃從前所伏之邪止」一段甚為明晰，可請將大著正其名曰《傷暑淺說》，另著《癉瘧淺說》發明《內經》《金匱》奧旨，以啟後人，庶幾名實不混。高論越婢乃脾字之訛，為發越脾氣，其說甚正。此一節發明脾胃病機，誠為治法之關鍵。大青龍有興云致雨之能。說本柯氏，用之傷暑宜石膏為君，尤見卓識。鄙意麻黃雖與石膏同用，似非暑病所宜，用之於二三月癉瘧之壯熱無汗、大渴脈數大者似安。高論中邪伏脾胃營分則右關之脈沉分必獨洪數，此明言之至確者，先輩有以葛根、犀角並用。尤為癉瘧中陽明少陽經之的方。來劄云：方中葛根、升麻並未論及，竊有所疑。然鄙意以為此方之關鍵全在此二味云云。細繹尊方，所主在脾，本東垣清暑益氣湯來。東垣所論者脾胃也，立法全在中焦，一味升陽為主。如果邪在足陽明之經，葛根乃一定之主藥。若在陽明之府，非葛根所宜。升麻為手陽明之主藥，若邪在上中二焦，又恐藥過病所，反傷無病之所。至香薷芳香清透之品，為傷暑之主藥，於伏暑又非所宜。鄙意宜憑脈辨症，隨症活法去取，有是病則用是藥，所重在識症。醫者識得真辨得明，不患無治法。嘗考方者，則也，仿也，有一定不易之方，有隨時交易之方。一定不易者，如胃家實用承氣，太陽病無汗用麻黃，有汗用桂枝，不拘方氏三大綱之說是也。隨時變易者，以古方如明文時文取來看樣，不可直鈔一篇名作以應試。又如畫家仿某人法、某人筆意是也。許學士云：予嘗讀仲景書，用仲景法，未嘗執仲景方。羅太無云：用古方譬如拆舊料添新料，必經匠氏之手方善。來書云：伏邪亦應分六經，若河間之究三焦。似言受病之始尚非伏邪之確論，此言專主手少陽一經是也。試暢言之。河間溫熱主乎三焦，其說有二：一則專言手少陽經也，蓋一歲有六氣，自春分至小滿為二之氣，手少陰君火主令，其候溫甚化火，自小滿至大暑為三之氣，少陽相火主令，其候熱甚化暑。故溫暑必從手經先受，亦猶傷寒必從足經先入也。此不獨天時一定之運氣，亦人身同氣相求之至理。故葉氏論溫熱曰：溫邪上受，首先犯肺。力辨以足經藥治手經病之謬。又日：河間法至精至妙，後醫未讀其書，焉能治病臻效。惜乎專以陶書六經治病等語，其嘆服也如此。況三焦與手厥陰為表裏，暑先入心，故逆傳心胞最易。人身一小天地，誰日不然，此實發明《內經》五運六氣之奧旨，有功後學不淺。一則統人身上中下之三焦而言，不專主乎手少陽一經立論也。經曰：上部天，中部人，下部地。又曰：上焦如霧，中焦如漚，下焦如瀆。是人身之有三焦，猶天地之有三元也。試以太陽經而論。起於目內毗，上額交巔，則自頭項至心肺之俞，太陽經之上焦也，自背至腰脊命門穴，太陽經之中焦也，自腎俞至足少陰穴，太陽經之下焦也。舉一經而六經皆有，上中下可以類推矣。故上焦法天，純乎清氣，在臟為心肺之部，上焦之邪必在初感，其病淺，藥用輕宣透達，藥重反過病所。上焦失治，傳及中焦，其病深矣。中焦法人，為氣交之中清濁之界，在臟為脾胃之部，其受邪也，陽明獨多，如省垣都會，萬物輻揍也。有在經在腑之別，不可混治。實投攻下，熱用寒涼，虛進參耆，寒宜薑附，癉癘可破可逐，濕熱可清可燥。中焦失治，傳入下焦，傷及血分，其病篤矣。下焦法地，純是濁 陰，在臟為肝腎之部，藥用滋填。火則清之，寒則溫之，濕則利之。下焦失治，傷及肝腎，十難救一矣。仲景六經發明於前，河間三焦輔翼於後。一經一緯，如日中天。仲景六經非專為傷寒設，此內傷外感不能舍六經而言症言治也。舉足經而手經亦包括在內矣。河間三焦非止為溫暑設，凡外感內傷亦不能外三焦而言清言濁也。明得三焦而十二經皆在其中矣。所以時賢吳鞠通著《溫病條辨》，汪瑟蒼侍郎詳加評點，發明上中下三焦症治，虛實寒熱，不憚煩言，良以世之人不明溫暑指歸，不究三焦深淺，特為喚醒，彈克遵循，誠醫門之一火炬也。質之高明，未識以為然否也。高論產後房勞可為萬世規，則補氣通血一句乃不刊之論也。兩方一治全實者，一治半虛半實者。雞冠一味尤徵。格物精確，讀此明快之書，令人心開目爽，捨下家秘女科中采有經驗之方，宜於藜霍而不宜於膏粱。尊方則貧富皆可用，惟已成咳嗽寒熱者，未識有何妙法。室女經閉成勞有血枯而閉者，郁損而聞者，尤為難治。統祈教以不逮，曷勝幸甚！</p>
<p>俯恬先生閣下：接讀手書，藉悉交棋佳暢與序更新，欣慰奚似，承示教言，皆有根據，並無杜撰，足徵學有淵源。凡讀古人書，應先胸有識見，引伸觸類，融會貫通，當悟乎書之外，勿泥乎書之中，方為善讀書人。若以癉瘧為勞症，為陰虛生內熱而發，及冬不藏精，寒伏少陰等說，恐非。夏月所發之病，識之不真則治之下的。無怪遇此症延之日久而無效矣。此則但熱不寒者則為癉瘧，寒熱往來者則為瘧疾。二症俱由傷暑得來，暑濕之邪傳入太陰，與陽明合病則成癉瘧。暑濕之邪傳入太陰，與少陽合病則成瘧疾。所謂夏傷於暑，秋必痎瘧也。知病在大陰少陽，須用柴芩，是將太陰之邪提歸少陽測知病在太陰陽明，須用升葛，是將太陰之邪提歸陽明也。何以此病之邪不離太陰脾經者？蓋則每日起伏如是，乃脾主信故也。因此症敝邑之醫皆稱癉瘧，若別立名目，人必不知指何症而言，是以仍其舊也。人身有二火二土，腎火生脾土，心火生日土，脾胃二土位居中宮，一陰一陽，一表一裏，一臟一腑，一升一降，運行一身，相須為用，即身中之太極，猶河圖之五十居中也。經曰：飲人於胃，遊溢精氣，上輸於脾，脾氣散精，上歸於肺，通調水道，下輸膀胱，水精四布，五經並行。此之謂也。自濕熱蘊阻脾經測不能與目相配行其津液矣。仲師云：陰氣孤絕者，是太陰之氣孤絕也。陽氣獨發者，是陽明之氣獨發也。陽明之陽亢而無配，故但熱不寒也。玩孤獨二字，便明下即云邪氣內藏於心，外合分肉之間，心為胃之母，肌肉為胃所主也。內藏於心，故煩冤。外舍分肉，故肌肉消爍也。非指陽明而何所指乎？即如白虎加桂枝湯，非陽明藥乎，非足經藥乎？加桂枝者，為石膏之反佐，以助辛散之力，兼能人營發汗也。若無汗之癉瘧必須發汗，則邪始透達。若不用麻黃、桂枝，將有何藥以令發汗乎？如不得汗，則邪從何解乎？仲師之立麻杏甘石湯方，亦為熱邪在肺而設。若本陽虛之體，麻黃原不可輕用，恐再亡陽也。夏月表疏，不可重虛其表，古人之言似因有汗者而發。若無汗而熱邪蘊結不解，而用數錢之石羔，少位數分之麻黃，亦屬經權之道。若恐汗出不止，則止汗之方甚多。邪解之後選而用之，亦無不可也。若但用麻黃而不兼用枝枝，尚恐汗不速發，蓋以汗為陰液，麻黃但能入氣分而桂校則兼入營分矣。故桂枝湯中無麻黃，而麻黃湯中有桂枝也。因風傷衛不可用麻黃，寒傷營須兼用桂枝也。癉瘧為夏至以後之病，若在二三月間，尚無癉瘧。惟溫病則有之，所謂冬傷於寒，春必病溫也。若夏月之症，即將太陰所沾暑濕之邪及早提歸陽明，清而散之，又何有伏邪竊發，自冬至春變成難治之症哉。無汗之癉瘧兩候內有大青龍去薑棗加葛根，若兩候外則忌用，恐津液已傷，不可強逼其汗，重亡津液也。脈洪數而實，仍煩冤者，參用白虎加桂枝湯等方，後此再用甘寒之法可矣。吳鞠通《溫病條辨》論症立方，其說理精透處固屬不少，其間未是處亦不能無。瑜 不掩瑕，未可一概論也。茲因心力不逮，惜不能通本批評耳。至室女經閉成勞與產後房勞症不月同，而所以不月則不同。經云二陽之病發心脾，有不得隱曲，女子不月，此因不得隱曲則肝木鬱而不伸，肝鬱則病及於所生、病及於所克，故發於心脾也。心主血，脾統血，肝藏血，三臟均鬱，故不月也。此症當從木鬱達之之例，宜用加味逍遙散參入桃仁、紅花、延胡、貝母、生地之類。十數劑後，再用通瘀決津大黃（庶/蟲）蟲丸之屬以治之。體極弱者，亦可加用人參，務須藥及病所，不可病重藥輕，當以經通為斷耳。若已成咳嗽者，是木火刑金，未可與感冒並論也。詩曰涉彼阿邱言采其虻虻，即貝母能活鬱也，故宜參入。愚意如此，還請高明有以教之。知閣下好學深思，旁搜博采，更兼虛以待人，故敢以鄙陋之見冒昧直陳，蓋彼此討論，庶能於此道鞭逼入細，不致貽誤後人。或可藉為啟悟而有種來茲，未可知也。癉瘧，魏柏卿注為熱毒，則視溫瘧較重。仲師治瘟瘧用白虎加桂枝湯，則癉瘧用大青龍去薑棗加葛根可類推。去薑棗者，薑性烈，棗膩滯也。此獨為癉瘧初起立法。若延至日久，則症已變而治法亦變矣。《金匾》癉瘧條中云：陰氣孤絕，陽氣獨發。此二句是仲師發明癉瘧之病源，蓋陰陽不相配為之孤，往來不相通為之絕，陰氣孤絕故陽氣獨發也。此所以脾不能為胃行其津液而為病也。若非如此解，須知仲師原文一字不苟，孤絕二字甚重，試細思之人，可陰氣孤絕耶？白虎加枝枝湯與大青龍湯，其中所用桂枝均當去皮而用本，蓋皮性大熱，本性溫和也。</p>
<p>大青龍加味湯</p>
<p>石膏六錢 麻黃八分 枝枝四分，去皮 杏仁去皮尖，三錢甘草五分葛根一錢五分 分兩臨症加減。 </p>
<h2>產後房勞論（俗稱產母病）</h2>
<p>婦人生產二三月後，身忽發熱，逾時暫解。數日後身又發熱，仍復暫解。始則數日一發熱，繼則兩三日即發熱。後則連日脈數身熱，不能暫解，身體困倦，飲食漸減，面色萎黃，或似外感，或似內傷，咸為蓐勞。但蓐勞乃產後月內之病，因坐草艱難所致。此則生產二三月後之病，與蓐勞似同而實異，俗稱產母病也。醫者調治，始用發表疏解治之，不應，旋用養陰清熱，後用健脾開胃補虛等藥，總歸無效。其人日見困頓，熱仍不解，脈象虛數，沉分帶弦，一病淹淹，漸成勞怯，遍考方書，既無確論，又無專方，醫家無所折衷，只好束手坐視而已，殊不知此症都由生產一月之內，八脈空虛，惡露未盡，夫婦同房，致將惡露阻住子宮，不能盡去，是以血絡日漸瘀積，則氣亦生滯，一身氣血不能晝夜流通，而營衛不調，身熱作矣。初不甚覺，以後血愈積則身愈熱，身愈熱則氣愈弱，而血愈積，遂成干血勞症而難治類。療治之法不外補氣通血四字而已，蓋氣為血帥，若氣不足則瘀難通，故補氣通血不可偏廢也。失血熱則行，血寒則滯，若但知養陰清熱則血更滯，而熱更甚。熱久不解，勢必血漸涸而氣愈餒，欲望不成，勞症得乎。謹錄兩方，臨症加減，聊為此症之規法，庶幾後之學者有所適從焉。</p>
<p>延胡索散 專治婦人產後房勞。</p>
<p>延胡索二錢 生赤芍二錢 生蒲黃二錢上肉桂二錢 琥珀二線 當歸二錢 紅花二錢 右藥用好醋浸一宿，共為細末，每服二錢，七眼而盡，陳酒送下。如虛弱者，用參湯送下。</p>
<p>八珍加味湯</p>
<p>川芎一錢 全當歸醋炒，三錢 赤芍一線五分 熟地四錢 人參三錢 雲茯苓三錢 冬術土炒，三錢 炙甘草六分 廣陳皮一錢 桃仁泥三錢 新絳一錢 蘇木一線五分 五靈臘三錢 上桂心五分 延胡索一錢五分</p>
<p>引用生薑三片，大棗二枚，青蔥管三根。再加大紅雞冠花一兩，如用干者減半。</p>
<p>以上之方，補氣用四君子，補血用四物 湯，行氣用陳皮、延胡，行血用桃仁、新絳、蘇木、五靈脂。用桂心者，血得溫則不滯也。引用薑棗，和其營衛，青蔥管直走衝脈，紅雞冠《綱目》但言活血，卻能引領眾藥導入子宮，為此症必用之專藥。因其形假豬勝中之生窠，故為子宮之引經。此說得自宜興屠漸齋先生所傳，非臆說也。如無人參，以潞黨參八錢代之，加酒一杯煎服，十劑必有效驗。如月分尚淺，氣血少弱，則服前方。若月分已多，氣血大傷，則服後方。</p>
<p>咸豐四年仲秋錫山顧文山氏識</p>
<h2>附錄醫士王君癉瘧辨論</h2>
<p>細讀尊論所云：癉瘧多由伏暑而成，如暑必挾濕，邪伏太陰，太陰與陽明合病則為癉瘧，太陰與少陽合病則成瘧疾，以及陰氣孤絕，陽氣獨發等說，皆極明暢，佩服之至。然以愚見觀之，伏署自有伏署之病，癉瘧古有癉瘧之名。錫邑醫家所稱癉瘧伏暑之病居多。澄江諸醫所稱伏暑，其間亦有癉瘧，何以辨之？須知癉瘧熱症也，細玩經文，如肺素有熱，及邪氣內藏於心，外合分肉之間，熱而少氣煩冤，消爍肌肉等句，則知夏秋癉瘧暑熱居多。暑傷氣，故云少氣，暑先人心，故云邪氣內藏於心。古方白虎湯、竹葉石膏湯乃癉瘧正治之法也。近時薛一瓢立清瘧飲，亦從清解立法。至於白虎加桂枝，必見大熱煩渴，而又背獨惡寒，骨節煩疼，方可加用程云來《金匱注解｝）謂白虎清氣，桂枝入營，治在心營肺衛，徒屬紙上空談，令人好看。恐尚非確論也。若夫伏暑初起，微寒微熱，起臥自如，舌有白苔，胃能飲食，食亦無礙，不食亦不饑，淹纏旬日而後病勢漸重，此真所謂伏暑，乃濕熱二字為病也。治暑病與伏暑，喻嘉言暑門諸方論可云詳備，再參薛生白濕熱論三十三條，新法頗多，可應無窮之變。高明諒必洞悉，茲不煩縷述矣。按古語暑屬火，暑必挾濕，暑傷氣，暑喜歸心，暑邪留戀上中，彌漫三焦等說，為治各各不同，故治暑之方溫清消補，解散通利，亦種種不一，統以見證為憑，未易一言盡也。尊論升葛亦創一新法，確有意義，可法可傳，有稗來學。世多明哲，自有定評，無俟鄙人誦也。</p>
<p><u>答書</u></p>
<p>接閱尊論，至為明晰，欽佩奚似。惟此症自夏至以後至初秋發者，謂之癉瘧。自深秋至初冬發者，謂之伏暑。其實皆傷暑得來。伏暑者，秋涼已深，暑邪伏於營分也。而尊見以為伏暑，自有伏暑之病，癉瘧古有癉瘧之名，似以此病忽分為二矣。然則古有癉瘧之名，自有癉瘧之實，將以何症為癉瘧耶？抑古有癉瘧而今無癉瘧耶？捧讀之下，令人不能無疑。仲師制白虎加桂枝湯，自有深義，而足下以程云來注解為紙上空談，則從古聖賢所論都在紙上，豈亦謂之空談而不能見諸實事耶？僕非精於此道，亦非行道之人，然既有疑，不能不問，還當明以教我為幸。</p>
<p>《黃帝內經》，千古不磨之作，所言經絡臟腑腧穴、陰陽五行、運氣，非神聖不能道隻字。仲景《傷寒》《金匱》亦千古不磨之作，有論有證，有方有法，多一味便不是此方，異一脈便不是此證，非神聖不能道隻字。第《內經》所言者是體，仲景所言者是用。此二書實體用相須之要道也。癉瘧一症，《內經》《金匾》俱載之，但未竟其詳耳。大凡四時為病，冬月即發者謂之正傷寒。然冬寒而反暖，即有冬溫，至於冬傷於寒，至春變溫，至夏變熱，即謂之伏氣矣。故發於春末夏初者，便謂之溫熱病。溫熱病中間或有溫癉瘧之形舉，俗所稱春溫似瘧，春溫癉瘧，濕溫似瘧，濕溫癉瘧。或師承相授，或習俗相傳，亦非漫然而稱之也。大抵夏至以後而病熱者，謂之熱病，新書《溫病條辨》中所云暑溫是也。挾濕者謂之濕溫，濕溫症治，古方用蒼朮白虎，則知無濕。而但熱者，白虎湯是治暑熱之正法矣。今時酷暑炎蒸，忽起涼風雷雨而病者，是暑熱為暴寒遏伏，先用香薷解表，數劑之後，忽變大熱大煩大渴，而又背獨惡 寒，骨節煩疼，白虎加桂枝恰當。由是觀之，白虎湯治暑熱之正方，挾濕則加蒼朮，兼寒則加桂枝，豈不明且確也。程云來注解白虎清氣，桂枝入營，非不有理，然欠暢達。鄙人無學，何敢批駁前賢。然而認證用藥，要歸著實。如柯氏《來蘇集》改正越婢湯證，非有膽識者不能讀古人書，須自具見識，勿為古人瞞過者，類如此。夫大暑以後，立秋初際，每多但熱不寒，即是癉瘧。寒熱往來，便為瘧疾。當此之時，其治尚易，因暑邪內伏未深也。逮至秋分之後，寒露霜降，則邪伏遞深，而其為病亦重矣。夫豈伏暑門中而無癉瘧之症哉！仲景云：太陽病，或已發熱，或未發熱，必惡寒體痛，嘔逆脈緊，無汗者，名曰傷寒。若脈緩，有汗者，名曰中風。是從傷寒中分出中風也。若夫癉瘧，是熱症也，雖當初起，必見熱重煩冤，舌紅無苔，或有苔而亦甚薄，與伏暑之初起微熱，淹淹舌上苔滑者不同。由是觀之，雖屆深秋，其病初起，熱重煩冤者，即屬癉瘧，便不得謂之伏暑矣。暑濕內蘊，微熱淹淹，舌苔白膩，雖係秋初，便與伏暑相類，但不名伏暑而名濕熱病耳。尤在涇解風傷衛、寒傷營二句，云：寒之淺者僅傷於衛風，而甚者並及於營。衛之實者，風亦難泄，衛之虛者，寒猶不固。古稱大青龍治風寒兩傷營衛之法，詎知是中風衛實之方。風為陽邪，內鬱化火，煩躁特甚，故用石膏。衛實無汗，發熱惡寒，故用麻桂。此語獨超千古。又有暑病解云：暑屬火，暑必挾濕，故陰虛多火者暑即寓於火之中。陽虛多濕者，暑即伏於濕之內。此亦名言，非同泛泛。由是觀之，患癉瘧者，陰虛火盛之人為多，即經旨肺素有熱之來路也。患伏暑者，陽虛濕勝之人不少，即濕性滯濡之意也。惟濕鬱必化熱，六氣皆從火化，故濕熱伏暑，病亦有化燥而用清法者，不可不知。乃若癉瘧燥熱居多，清解是其正法。清解維何，辛涼是也。如薄荷、牛蒡、桔梗、連翹、豆卷、青蒿、竹葉、蘆根等味因其病方初起，後人不敢用白虎開場，但用輕清涼解，取意則同，而命劑懸殊矣。儀翁先生好學深思，特舉葛升為癉瘧開首之法，豈不另具卓見。第伏暑之病，邪居足太陰脾為多，用升葛從脾胃提出伏邪，頗有意義。若癉瘧邪居手太陰肺為最多，肺主一身氣化，為清肅之臟，似宜輕清解散為穩。病情變化，不可勝數，處方定法，統以見症為憑。故癉瘧見虛者，加沙參、麥冬、洋參之屬，挾濕者，加蘆根、滑石、川通草之流。果熱甚而大煩大渴者，則竟用白虎。熱甚而挾虛，則白虎加人參或竹葉石膏之類。熱甚煩渴，過飲水而挾濕者，河間五苓三石甘露飲最妙。如上症挾濕而又停濁者，子和甘露飲尤妙。要皆不離肺熱二字，而後傳佈三焦，生津降火，補氣養陰，總以肺胃為主，未及脾腎。又為病濕後培元之著矣。此癉瘧症治之大略，未足為明者道也。雖然病變無常，方難執一，以余閱歷，同一病也，而體氣不同則洽法變矣。張璐玉《醫通》有兼症晰義兩卷，最為明晰，暇日觀之，足令人心機活潑。叨居愛末，冒昧直言，伏祈垂察是荷。</p>
<p><u>答書</u></p>
<p>接閱高論，引證明備，說理精詳，足徵學問淵深，欽佩奚似！然《內經》《金匱》以及後賢方論諸書，苟從事於醫者，無人不覽，無煩贅述也。鄙人因見夏秋所患傷暑之症日久淹纏，變症莫測，醫家治之，不能速愈，是以稍抒所見，發此微論，專指有汗之癉瘧、無汗之癉瘧二症而言，並未旁及他病也。若是春溫、冬溫、濕溫、溫熱等症，或有傷寒中來者，或有感冒時邪者，或有伏邪感新邪而發者，症不一端，治不一法。若欲縷晰條分，非一紙所能盡，《溫病條辨》中亦已言其大略矣。夏秋之症，有但熱不寒而無起伏者，有乍寒乍熱而無定時者，俱與癉瘧有別，不得以癉瘧之例一概治之。此中有冬傷於寒，邪伏在內，至夏感暑引動而發者。有極重之症不可不知，即論夏月傷暑之病亦多，而瘁瘧則暑病中之尤甚者也。古人謂夏傷於暑，秋必痎瘧，未嘗言夏傷於暑，春必痎瘧也。可見瘧疾為秋月之病而非春月之病明矣。夫春月之病亦有似瘧者，乃傷寒中之涉及少陽而然也，如竟與秋後瘧疾同論則誤矣。更有營衛虛而往來寒熱者，此係大虛之候必於脈象見之，應當議補，醫者亦不可不知。《內經》《金匱》將癉瘧列入瘧症一門，則癉瘧為夏秋之病而非春月之病亦明矣。古人謂先夏至為病溫，後夏至為病暑。可見時令亦不可不論，七月為之初秋，九月為之深秋。若以初秋之病為伏暑，轉以深秋之病為癉瘧而不為伏暑，並為春間亦有癉瘧，不知出於何書，望為明示，以廣見聞。若習俗相傳，雖有師承口授，終非前賢確論，未可信為實然也。傷暑之症本應有汗，若癉瘧而至無汗，必因內蘊暑邪，外為涼風所遏，則肺氣不達，腠理閉塞，故致無汗，其有汗之癉瘧尚須辛涼解表，至於無汗之癉瘧則非牛蒡、薄荷、桔梗、豆卷等所能勝任矣。非不知更為穩當，其如屢投無效，何舉世茫然罔覺，不能一悟，良可慨已。因而想到大青龍湯去薑棗加葛根為法，方中重用石膏為君，少加麻桂為反佐，則無汗之癉瘧庶能發汗而邪可解矣。反佐者如白通湯之用豬膽汁，滋腎丸之用桂心是也。癉瘧魏柏卿注為熱毒，視溫瘧較重。仲師論溫瘧用白虎加桂枝湯，則無汗之癉瘧用大青龍去薑棗加葛根亦可類推。去薑棗者，薑性更烈，棗恐膩滯也。加葛根者，涼散陽明之邪也。不過傷寒以麻桂為君，癉瘧以石膏為君，若用數錢石膏而以數分麻桂為反佐，亦可無慮。且無汗癉瘧，必熱勢起伏，日有定時，口渴煩冤，脈洪數，重按實者方可用，若似癉瘧，原不可用，當須識此，不可誤也。古人處方，此一味重、彼一味輕，與此一味輕、彼一味重便即法不同而治各異，醫者貴在臨症權衡也。況此獨為癉瘧初起立法，若延至日久，則症已變而治法亦變矣，豈可膠柱鼓瑟哉。《金匱》溫瘧條中有筋骨煩疼，若謂背獨惡寒則未之及也。至癉瘧之初起，病情已載癉瘧淺說內，茲不復贅。至於病變無常，方難執一，無人不知，不待言矣。從前二弟媳素本耐性，偶患瘧疾，因將出汗，心中煩躁，遂令打扇，以致汗不得出，邪不能達，終日煩躁異常，遂請令業師醫治。議用麻杏甘石湯似矣。鄙意欲加桂枝數分，伊囿於俗見，堅執不肯，以致不效，至今深悔。可見業醫者貴有膽識，獨具卓見，方能超乎流俗，不致貽誤無窮斯可矣。鄙人並非好為辨論，因世俗醫之一道皆是浮光掠影，隨聲附和，毫無實際，不能獨出己見。此等本不足與深談，惟旭翁先生博學明理，超出庸眾，心存濟世，歷練已深，故敢將鄙見直陳。蓋醫理本不易明，若能彼此討論，刻意精求，庶或差少錯誤也。未識高明以為何如？荒謬之見，不知所云，還請教以不逮為幸。</p>
<p>接閱高論，謂時令不可不論。誠然，誠然。夫春溫、夏熱、秋涼、冬寒，四時之正氣也。然春正月餘寒未解，交驚蟄節而後陽氣方升。秋七月餘暑未消，交白露節而後陰氣始降。夏至一陰生，正為熱盛之候。冬至一陽生，正是寒極之時。蓋剝不極則不復，理勢使然也。經云：先夏至日者為病溫，後夏至日者為病暑。由是推之，則知先秋分日者為病暑，後秋分日者為病涼(補天石有秋涼傷寒之說，涼極而後燥，交九十月燥病方生)。先冬至日者為病燥(喻嘉言補秋燥論謂經文脫卻長夏傷干濕，以致後人不明秋傷於燥、冬生咳嗽云云)，後冬至日者為病寒。先春分日者為病寒，後春分日者為病溫矣。常見春末夏初溫病流行，闔門傳染，屢經反覆，延至夏至後小暑節仍有戰汗而愈者，原屬溫邪，非關傷暑，此則病之餘氣，非時之餘氣也。又常見夏至以後起病有似溫邪。延及小暑節，熱勢朝和，過午則盛，但熱不寒，竟與癉瘧相同，此溫暑之交，抑或所謂溫瘧耶。喻氏云：夏傷於暑，長夏傷於濕。由是推之，初秋癉瘧，夏傷於暑之為病也，深秋伏暑，長夏傷於濕之為病也。癉瘧由乎夏傷暑，故熱症多而病勢重，病重故不易速愈也。伏暑由乎長夏傷濕，故濕症多而病勢緩，緩則淹纏，故亦不易速愈耳。</p>
<p>再閱高論，所云無汗之癉瘧必因內蘊暑邪，外為涼風阻遏，肺氣不達，腠理閉塞，亦誠確論。借用大青龍湯，重用石膏，少佐麻桂，亦無不可，但必重用石膏清肺胃之熱，則知癉瘧責重肺胃無疑矣。尊見亦明知癉瘧病在肺胃，第以為肺胃之病意見相同，不遑多贅。至於白虎加桂枝，骨節煩疼，見《金匱》背獨惡寒句，見傷寒審證集，引證用方要歸著實，此即著實處也。語云：讀書多不如臨症多。果能讀書、臨症二者皆到，更為美備，惜言之易而行之難。其惟終日勞勞，荒疏無學，辱承教示，冒瀆粗陳，伏維歎政。</p>
<p><u>答書</u></p>
<p>《金匱》癉瘧條中云：陰氣孤絕，陽氣獨發。此二句是仲師發明癉瘧之病原；蓋陰陽不相配為之孤，往來不相通為之絕。陰氣孤絕故陽氣獨發也。此所以脾不能為胃行其津液而為病也。若非如此解，須知仲師原文一字不苟。《內經》云：陰氣先傷。此特易以孤絕二宇，其義甚重，試細思之，人可陰氣孤絕耶？此等精義從來未經人道，雖讀仲師書，猶之未讀耳。書義未明，何能識病？既不識病，何能治病？徒誇臨症多無益也。可見醫之一道，行之固難，言之亦非易，須知此症因脾為暑濕所阻，不能為胃行其津液，為病則其病在脾之暑濕可知。然則脾之暑濕將何從而使之也乎了其暑濕先既從肺胃而入脾，自必仍從脾而達之肺胃，方為正治也。醫亦知從肺胃達邪，然於無汗之癉瘧，但用牛蒡、薄荷、前胡、桔梗等，恐不勝任，方中並夾入厚朴、檳榔、焦查、神麯、枳實等類，以為非此不能解其滿悶，消其積滯。不知此等之藥其性溫燥耗氣，既非暑濕之邪所宜，並恐牽制肺胃之藥不能得力，又恐屢投多服更傷元氣津液，是邪未達而正已傷。並因正傷而邪易入裏，貽誤可勝言哉！從以為胸中懊儂煩滿，必須積去而邪可解，殊不知邪解而煩滿自除，此所以治病必求其本也。古人治暑濕，制六一、五苓、四苓等散為法，蓋以暑中之濕宜滲宜利之故耳。至於白虎加桂枝湯，後人不明制方之義，以為既用白虎以治熱邪，何以參入桂枝之辛溫，殊不可解。苦思力索，想到必因背獨惡寒之故，其為穎悟獨神，隨令一人唱之，百人和之，矜為著實之處。不知仲師於白虎湯加入桂枝大有深意，因濕瘧之濕熱蘊阻中宮，若投白虎，恐或格拒，必用桂枝之性溫為石膏之反佐，又以桂枝之味辛助石膏之辛散，並能入營發汗，更將陽明之熱邪導其從太陽之表、太陽之裏而出，以為溫瘧之引路也。若必待背獨惡寒方始用白虎加桂枝湯，倘遇溫瘧而背不惡寒之症，竟不能用此方，坐失機宜，貽誤不少矣。夏月傷暑之症甚多，而癉瘧為暑病中之最重最難冶者，歷來名醫不少，獨於癉瘧略而不詳，以致後人罔有指歸，只得恪守師承口授之妙法，表裏雙解，不辨經絡，不明營衛，不分虛實，概以世俗所用之藥，世俗所用之方雜進亂投，以致邪氣由表入裏，變成或痢或閉或陷之病而不一悟，深可哀也。即如屢承明示，亦不過博采群書所載夏秋各症為言，並未專指癉瘧一症，究竟如何治法方為的確，以使無學人頓開茅塞也。鄙見如此，特請大才斧政，如以為不然，還祈指示何處未是，何處不從理上說來，何妨細加駁斥，使之佩服。眼見之多，胸中之亮，為囑，佇望佇望。按《素問》瘧論帝曰：癉瘧何如？岐伯曰：癉瘧者，肺素有熱，氣盛於身，厥逆上衝，中氣實而不外泄，因有所用力，腠理開，風寒舍於皮膚之內，分肉之間而發。發則陽氣盛，陽氣盛而不衰則病矣。其氣不及於陰，故但熱而不寒。 張介賓注云：肺素有熱者，陽盛氣實之人也。故邪中於外，亦但在陽分而不及於陰，則但熱不寒也，</p>
<p>又按：邪氣內藏於心而外舍於分肉之間，令人消爍脫肉，故命曰癉瘧。帝曰：善。注云：氣藏於心，陽之藏也。熱在肌肉之間，故令有消爍。然則癉瘧之所舍者在肺心兩經耳。 其但熱而不寒，在陰氣先絕，陽氣獨發，則少氣煩冤，手足熱而欲嘔，名曰癉瘧。注云：癉，熱也。陽邪獨亢，故但熱不寒而煩冤少氣，表裏俱病，故手足熱而欲嘔，以熱邪及於胃也。</p>
<p>愚按：此《內經》專言癉瘧之病原也。首條所云肺素有熱，以風寒舍於皮膚之內，分肉之間而發等文，即世俗所謂新涼引動伏熱，先宜解表。</p>
<p>儀翁先生所云無汗之癉瘧宜仿大青龍湯，重用石膏，反佐麻桂，內清肺熱而外散風寒，深與經旨相合。再按第二條邪氣內藏於心而外舍於分肉之間，即儀翁先生所引白虎加桂枝症也。肺主氣，白虎專清氣分之邪熱，桂枝能入心營，引領白虎入營清熱，外解分肉之邪，論理甚合，似乎不必有骨節煩疼、背獨惡寒之見症。然醫者之用古方，必憑症憑脈，更合之以病情而後用之。若但任意測度病情，舍症舍脈而曰某病在某經，必用某藥，吾恐論理雖是而用藥則非矣。 </p>
<h2>附薛生白先生論溫瘧、癉瘧辨白虎加桂枝之不合</h2>
<p>薛生白曰：溫瘧癉瘧，噬金匱》云：但熱不寒，以桂枝白虎湯主治。程云來解云：用桂枝於白虎湯中，引白虎之辛涼而出入營衛，制其陽邪之亢害。此論理之當，然究屬紙上空談，余屢用不應，則知是方不中病情，投之不見其撤熱之功，反見其營熱煩躁之害。細推其理，瘧為久伏之邪，非一劑二劑可愈之症，石膏徒足以郁邪，桂枝反熱其營，故不中病情也。余制一方，治溫瘧癉瘧頗效，今載是編，告之後人。</p>
<p>清瘧飲方</p>
<p>青蒿 蜀漆 知母 括蔞根 淡芩 鱉甲 丹皮 </p>
<p>再按；第三條但熱而不寒者，陰氣先絕，陽氣獨發，則少氣煩冤，手足熱而欲嘔。愚按：陰氣先絕，即首條肺素有熱之對面也。肺屬金而位居上焦，陰自上生，陽從下長，故肺為水之上源。肺素有熱，則水源絕，陰氣不生故曰陰氣先絕。陰氣絕則陽獨亢，故曰陽氣獨發。陽氣獨發，故但熱而不寒，令人少氣。肺主氣，熱傷氣也。煩冤者，心為陽臟，即第二條邪氣內藏於心之見症也。手足熱而欲嘔，因四肢為諸陽之本，胃為兩陽合明之經，故手足熱而欲嘔也。細玩經文，則知癉瘧為熱邪，外為風寒引動則病發。其病在心肺胃三經，並未言及足太陰脾字樣。注云：癉熱也。則知真正癉瘧但有熱而無濕，其不干足太陰脾明矣。其有挾濕者，在初秋仍屬暑病，在深秋即屬伏暑，又非真正癉瘧矣。語云：名不正則言不順，欲正癉瘧之治，先正癉瘧之名。尊論云：書義未明，何能識病？今因將《內經》原文並先賢注解抄錄呈政，伏祈明察是荷。</p>
<p><u>答書</u></p>
<p>尊見以為陰氣孤絕是手太陰肺經之陰氣孤絕，並非足太陰脾經之陰氣孤絕。但《內經》云陰氣先絕而仲師特易以陰氣孤絕，自有深義。若如此說，則孤字無著落矣。孤字無著落則獨字亦無著落矣。且肺之陰氣孤絕是竟為盡絕之絕，若肺之陰氣盡絕尚得為之人耶？前所言足太陰脾經之陰氣孤絕是脾中為濕熱所阻，不與胃相配，乃隔絕之絕也。且此病之邪，若未及太陰脾經，何以熱勢起伏，每日如是乎？常見治不得法，每致邪易入裏面成滯下，此症既與脾無涉，則滯下亦與脾無涉乎。此真所謂任意測度矣。脾主四肢，手足熱者，即邪熱蘊脾之見症也。至於白虎加桂枝湯，乃仲師所制之方，其義非尋常所能測識。仲師為醫中之聖，如薛生白不過近時之名家耳。若以仲師之方為不足法，而以薛氏之說為大可師，是子貢賢於仲尼矣。癉瘧既為熱邪，是暑病無疑矣。若云無濕，則暑必夾濕之謂何？不過濕有輕重也。舌苔之黃膩即是濕熱之見症。若夏月之症壯熱無汗，口渴煩躁，脈象洪數，邪勢起伏有常而不為之癉瘧，將如何之？病而為之真正癉瘧乎？考之《內經》《金匱》，溫瘧與癉瘧大有不同。癉瘧乃夏月傷暑之症，溫瘧自傷寒中來，化火而成熱症。因骨節疼煩，故用白虎加桂枝湯，而薛生白以清瘧飲統治二症，稱為頗效，有識者似未敢深信。葉氏云；青蒿減柴胡一等。自有此說，醫家凡病中須用柴胡者，則以青蒿代之，多所貽誤。蓋柴胡入氣分，青蒿入營分，柴胡主升，青蒿主降，大有分別也。不過柴胡、青蒿俱屬少陽經藥耳。若邪入營分而寒熱往來，自用青蒿以清泄膽經之熱為宜。若瘧邪初起，尚在氣分，早用青蒿有引邪入營反致淹纏之慮，醫者亦不可不知。愚見如此，還請高明斧政為荷。</p>
<p>七月中，若能於無病時將此葛升湯原方分半月內預服三劑，則暑邪表散，秋後不致患癉瘧瘧疾，並無伏邪矣。已試過幾人。</p>
<h2>送子神效方</h2>
<p>原傳之方係四川用成都府崔照磨，年七十歲，赴京遇戶部郎中周士富相敘，二人同庚，得傳此方。崔照磨妻年已七十，服之面如童年，經水復來，一交成孕，連生二子，奇怪已極。有崔附張遴寡婦陳氏年六十二歲不信，吃藥偶亦試之，果若童年，隨即有孕，更怪矣。奈孤陰無陽，墮胎而無骨。又有諸學士妻趙氏年已四十五歲，服此藥連生四子，神化莫測，真仙方也。此藥添精補髓，更治五勞七傷，功難盡述。今係贛州府金太守面看此方，力勸制服，據有武官總爺年老無子，因服此方，連生二子。人在世間，方便第一，不可秘密，宜傳此方，功德無量。</p>
<p>澄茄二兩 蜘蛛十四個，陰乾 母丁香二兩 山萸肉二西四錢 巴戟肉二兩 當歸二兩牡蠣二兩，煅 大茴香二兩 乾漆二兩，炒 大熟地二兩四錢 威靈仙二兩 全蠍五錢，去尾 車前子二兩 雲苓一兩四錢 龍骨二兩 蛇床子一兩四錢 萆薢四錢 肉蓯蓉二兩四錢 桑螵蛸一兩四錢 遠志肉二兩 沉香三錢 木通二兩四錢廣木香一兩四錢 菟絲子二兩 馬蘭花八分，陰乾研 燈草五分</p>
<p>右藥念陸味各研極細末，煉蜜為丸，如綠豆大。</p>
<p>煎方</p>
<p>桂枝三錢 甘草二錢 白芍三錢 薑皮二錢 共一兩，再加白糖飴二錢，大棗三枚 右藥每月到轉經期服一帖，此方甚靈，近來眼見已效三人。</p>
<h2>葛升湯驗案</h2>
<p>子家女孩年十四歲，於七月初忽然患病，三日後始行告知，嘔吐不止，胸中懊依極甚，晝夜不安。切其脈沉細而數，自言心中覺熱而外身不熱。請醫看視，方中雖有發表之藥，而參入川朴、磨枳實、萊菔子等味，以為表裏雙解。予為斷不可用，即用葛升湯。因其吐不止，方中去升麻，以淡芩三錢代之。外不熱而脈不揚，去蘆根再加薄荷根四錢，玉樞丹四分，磨沖，希其得汗邪解。服兩劑後，頭上稍有微汗，吐雖止而懊依如故。再四躊躇，細思此症，必因內蘊暑邪，外為寒氣所遏，是以身不熱而脈沉細數，懊儂者，即暑邪所伏也，遂於原方中去玉樞丹，加入桂枝木六分，蘆根四錢，取白虎桂枝之意。服後即一汗而解。加蘆根而少用者，因桂枝辛溫，非暑日所宜，故以蘆根監制也。後遇此等症，可以為法。</p>
<p>咸豐八年，陸氏外甥方官年七歲，秋患有汗癉瘧，與服葛升湯五劑，熱退而愈。停數日又發熱如故，思此症愈後不致再發，必是飲食不慎之故。細詢之，方知山藥兩假白糖共食，則脾家邪復之，故又將服葛升湯三劑而愈。停五日又發，再四詢云：惟飲粥，並未食他物。再詢其將何物下粥，云：是門口所買鹽老蔔，不知是魚鹵所浸，是以如此。又令服葛升湯三劑而愈。乃知癉瘧條中言明飲食消息止之，而飲食又能發之也。</p>
<p>壬戌七月中，鄧姓外孫全官忽發熱，上午和下午甚有汗不解數日。後即用葛升湯五六劑即愈。其兄少蓉亦如此，發熱，有汗不解，亦用葛升湯，因有微寒，加柴胡，數劑而愈。此即癉瘧治法也。</p>
<p>孫女適王氏產後甫滿月，入月杪忽發熱，上午和下午甚，稍有汗不解，大便自瀉，一日數次，背覺微寒，脈兩手緊而數，此因內有伏暑，外受風寒，所以如此。用葛升湯加桂枝五分，赤芍一錢五分，炒黑荊芥穗一錢五分。三劑而脈靜身涼，肚腹亦好。</p>
<p>余孫保安，八月杪亦患癉瘧四五日矣。脈象洪數，亦用葛升湯，原方加赤芍，六劑，脈和身涼矣。初服嘔去，第二日仍原方分三次服，即不嘔矣。</p>
<p>陸外孫之子百六官七歲，於閏八月內忽大瀉後變痢，或赤或白，臍中痛，日中二十餘次，夜則十餘次。藥用蘇梗、青皮、陳皮、通草、藿香、大腹皮、生熟砂仁、赤苓、澤瀉、枳殼、花檳榔，再令刮背腎俞穴，在命門兩旁、兩大腸俞穴、背脊第十六椎下兩旁各開一寸五分，兩小腸俞穴在背脊十八椎下兩旁各開一寸五分。蓋因今年痢疾是疫症，故用痢疾治法。用前方二劑後減去小半，後將原方加煨葛根、升麻兩劑，即截然而止。深秋伏邪晚發，初起熱勢起伏，不甚發揚，脈亦細數而沉，數日後即大熱，亦當用葛升湯加赤芍藥。如兼痢或瀉者，兼用痢疾痧刮，針法亦效。 </p>
<h2>誤服生鴉片煙並非真死說</h2>
<p>自鴉片煙之流入內地，而於水火刀繩砒毒之外頓添一速死之途。且近日之煙實在為害不淺，其死於此者亦較諸物為尤眾。殊不知此物但能迷人醉人，並不能死人也。夫煙之害，莫甚於廣東。道光七八年間，有三水縣人住在省城客店，因貧服生煙而死。店主不能收歿，專人赴三水告其親屬，及親屬趕到，店中死者已先一日活轉。其死去三日四夜。又廣東老仵作云：凡吃煙死者，棺殮後倘因事開棺檢驗，從無平正仰臥之屍，非伏即側。蓋煙性既過，其人醒轉則必翻騰求出，而棺蓋已合，遂至真斃。故凡服煙乍死者，皆非真死也，豈不冤哉？現在廣東新刊套板《洗冤錄》，內明著救治之方。曰：輕者心中發躁，但用活鴨血或糞汁或醬油或涼水或明礬、雄黃研末灌之，無弗愈者。若服多，毒重身冷氣絕，似乎已死，但支體柔軟則臟腑經絡之氣仍是流通，實在未死，速將屍安放陰冷無太陽之地(一經日照即不可救)，撬開牙齒，用箸橫在屍口，將金汁或涼水頻頻灌之。再以冷水在胸前摩擦，仍將頭髮解散浸在冷水盆內，自然得活。已目擊救活數人，凡七日之內身不僵硬者，切勿棺殮云云。《洗冤錄》為宮中驗用之書，非隨口傳說者可比。倘肯廣為傳播，實今世活人第一要事。閱者試思未死活埋之苦，則傳播之心不能已矣。又用淨銀花五錢，生軍三錢，膽礬三錢，藜蘆三錢，生甘草一西，水煎，蜂蜜五錢沖服。每能戒煙毒。</p>
<p>《醫中一得》終 </p>
