<header><h1>傷寒懸解</h1></header>
<dl class="元資料" data-type="book">
<div><dt>作者</dt><dd>黃元御</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1644/1911">公元1644年至公元1911年</data></dd></div>
</dl>
<h2>卷首</h2>
<h3>仲景微旨</h3>
<h4>寒溫異氣</h4>
<p>傷寒溫病各不同氣素問生氣通天論陰陽之要陽密乃固陽強不能密陰氣乃絕因於露風乃生寒熱是以冬傷於寒春必病溫金匱真言論精者身之本也故藏於精者春不病溫冬傷於寒即冬不藏精之變文也陽生於春而長於夏收於秋而藏於冬冬時地下之溫暖者陽氣之密藏也人於此際宜順天時以藏陽氣蟄藏者腎精之職精密則陽藏矣冬不藏精陽氣疏泄天當極寒之際人行盛暑之令相火炎蒸精液消亡是謂冬傷於寒此緣冬時腎精不秘陽飛火騰傷其寒水蟄藏之令氣非感冒寒邪冬時不病也一交春夏木火司氣內熱愈增偶因風露侵傷郁其內熱則為溫病（春為溫病夏為熱病時令不同名目雖殊實一證也）病因外感而根原內傷感在經絡而傷在臟腑故病傳三陽即內連三陽之腑病傳三陰即內連三陰之臟在臟在腑但熱無寒以其原有內熱因表鬱而裡發也六日經盡則臟腑經絡表裡皆熱故曰三陰三陽五臟六腑皆受病也（素問熱論語）傷寒中風本無內熱但因風寒外感而發病在經絡不在臟腑陽盛而後傳陽明之腑陰盛而後傳太陰之臟其視溫病之熱自內發者不同而病傳陽腑則為熱病入陰臟則為寒（名曰病入實裡氣之自病也）其視溫病之表裡皆熱者亦不同也叔和混熱病於傷寒（叔和敘例引熱病之文以釋傷寒寒熱病論）遂致後來傳經為熱之訛注傷寒者數十百家無不背仲景而遵叔和一論之誤遺禍千古此雖叔和之謬而實後人之愚仲景傷寒昭如日星後人一字不解無怪其狐惑於邪說也（仲景而後醫法失傳非第傷寒雜病亦爾祖派已訛孫支愈繆庸妄接踵不可勝數也）</p>
<h4>傳經大凡</h4>
<p>傷寒傳經一日太陽二日陽明三日少陽四日太陰五日少陰六日厥陰日傳一經亦與溫病相同所謂發於陽者七日愈發於陰者六日愈一定之數也六日經盡邪退正復汗出而解傷寒之常其與溫病不同者溫病邪感於經絡而熱生於臟腑傷寒中風原無裡邪不必定傳臟腑陽旺而後傳腑陰旺而後傳臟（名曰傳腑傳臟實臟腑之自病也）此不同也太陽經所謂傷寒一日太陽受之脈若靜者為不傳此不傳三陰之臟也傷寒二三日陽明少陽證不見者為不傳此不傳陽明之腑也少陽篇所謂傷寒三日少陽脈小者欲已也此不傳陽明之腑也傷寒三日三陽為盡三陰當受邪其人反能食不嘔此為三陰不受邪此不傳三陰之臟也傷寒中風不傳臟腑則有之無不傳經之理程氏以為傷寒不傳經果不傳經則仲景所謂發於陽者七日愈發於陰者六日愈太陽病頭痛至七日以上自愈者以行其經盡故也諸語不盡相刺繆乎人之裡氣無虧二三日內或經傳陽明而汗解或經傳少陽而汗解亦偶爾見之此不過千百之十一未可以概尋常傷寒之家也</p>
<h4>解期早晚</h4>
<p>傷寒六經既盡自然汗解其六七日後經盡而不解者此非陽盛而入腑即陰盛而入臟也程氏以為傷寒無定經而其傳其解亦無定日或從太陽而陽明或從太陽而少陽不必捱經或數日方過陽明或數日仍在太陽不必刻期或從太陽而解或從陽明而解不必遍周此皆入腑入臟之病而誤以為經病故議論悖繆如此表邪汗解則已未經汗解則經熱內郁日積日盛明日自當傳於陽明後日自當傳於少陽六日六經必然之事以六經部次相捱經熱不泄勢必捱經而內傳安有數日猶在太陽數日方過陽明之理又安有或從太陽而陽明或從太陽而少陽之理更安有或從太陽而解或從陽明而解之理惟入腑入臟則傳無定所解無定期邪盛則傳正復則解耳程氏較傷寒諸家稍有幾微之明而誤以裡病為經病其於病傳病解之際語語悖繆他如節　嘉言輩則夢魘之人耳</p>
<h4>寒熱死生</h4>
<p>溫病在臟在腑總是內熱傷寒中風原無內熱臟腑和平寒熱不偏營衛不至內陷故六經既盡自能汗解陽盛則腑熱內作從此但熱而不寒陰盛則臟寒裡動從此但寒而不熱入腑入臟則營衛內陷當機攸伏解無定期矣陽盛而腑熱則吉其死者陽亢而失下也陰盛而臟寒則凶其生者陰退而用溫也陽生陰殺顯見之理後世庸工乃至滋陰而伐陽泄火而補水一臨傷寒先有傳經為熱之語橫塞胸中至於證脈陰陽絲毫不解人隨藥死枉殺多矣</p>
<h4>營衛殊病</h4>
<p>肝司營血肺司衛氣營行脈中衛行脈外而總統於太陽之一經者以太陽在六經之表主一身之皮毛故也風則傷衛衛秉肺金之氣其性清降而收斂得風邪之疏泄而衛氣愈斂則營鬱而發熱裡陽素旺者多傳陽明之腑裡陽非旺不入腑也寒則傷營營秉肝木之氣其性溫升而發散得寒邪之束閉而營血愈發則衛鬱而惡寒裡陰素旺者多傳太陰之臟裡陰非旺不入臟也陰陽均平不入臟腑營衛無內陷之路是以經盡而汗解太陰主營陽明主衛脾為生血之本胃為化氣之原也營血之不陷者太陰之旺衛氣之不陷者陽明之旺太陰虛則腑熱作而營氣陷陽明虛則臟寒動而衛氣陷衛氣陷者陽復則生陰勝則死營氣陷者陰復則生陽勝則死陰陽勝復之中生死攸關不可不察也</p>
<h4>六經分篇</h4>
<p>傷寒六經分篇非皆經病也六經之病總統於太陽一經其不入臟腑而但在經脈者雖遍傳六經而未經汗解則必有太陽之表證既有太陽表證則不拘傳至何經凡在六七日之內者中風俱用桂枝傷寒俱用麻黃此太陽之經病而實統六經之經病不須另立六經之法也惟陽盛亡陰而入陽明之腑陰盛亡陽而入太陰之臟他經之裡證已作而太陽之表邪未罷此在太陽則為壞病而在諸經則為本病故於太陽立壞病之門而於太陽之外又設諸經之篇陽明篇全言腑病陽明之經病如葛根湯證乃腑病之連經非第經病也若桂枝麻黃二證則太陽之所統而復述於陽明者也三陰篇全言臟病太陰之桂枝少陰之麻黃細辛厥陰之麻黃升麻諸證皆臟病之連經非第經病也少陽篇半言臟病半言腑病少陽居半表半裡之中乃表裡之樞機陰陽之門戶陽盛則入腑陰盛則入臟少陽之經病如小柴胡湯證乃臟病腑病之連經非第經病也蓋其胸脅痞硬是陽明太陽俱有之證緣其臟腑脹滿壅礙膽經降路經腑郁迫故心脅痞硬而其寒熱往來吐利並作寒多則太陰病熱多則陽明病吐多則陽明病利多則太陰病若但在少陽之經而不內連於臟腑不至如柴胡諸證之劇也若麻黃一證則太陽之所統而復述於少陽者也</p>
<h4>六氣司令</h4>
<p>人有十二經仲景傷寒但立六經者從六氣也少陰少陽陽明手經司氣而足經從化者也厥陰太陰太陽足經司氣而手經從化者也傷寒六經皆言足經而不言手經以足經周遍於身其部大手經祗行兩手其部小其實兩經同氣病則皆病主其大者以概小者非足病而手安也諸言四肢厥逆疼痛則手亦在其內未嘗不病也足太陽（膀胱）以寒水主令手太陽（小腸）之火從而化寒手陽明（大腸）以燥金主令足陽明（胃）之土從而化燥手少陽（三焦）以相火主令足少陽（膽）之木從而化火足太陰（脾）</p>
<p>以濕土主令手太陰（肺）之金從而化濕手少陰（心）以君火主令足少陰（腎）之水從而化火足厥陰（肝）以風木主令手厥陰（心包）之火從而化風此六經之常也病則太陽是寒陽明是燥少陽是火太陰是濕厥陰是風而惟少陰則不從熱化而從寒化以火勝則熱水勝則寒病則水能勝火而火不勝水故從壬水而化寒不從丁火而化熱也至於陽明陽盛則從庚金而化燥陰盛則從己土而化濕不皆燥盛也（陽明上編是燥盛者陽明下編是濕盛者）至於少陽陽盛則火旺而傳腑陽虛則火衰而傳臟不皆火勝也</p>
<h4>一氣獨勝</h4>
<p>六氣和平則一氣不至獨勝諸氣敗北一氣獨勝故見一腑一臟之病陽莫盛於陽明陰莫盛於少陰曰陽明之為病是少陰之水負而趺陽土盛者也曰少陰之為病是趺陽土負而少陰水勝者也土勝水負則為順水勝土負則為逆陽明腑病是土勝之證三陰臟病是水勝之證燮理陰陽補瀉水土之奧仲景既沒後世庸工一絲不解也</p>
<h4>篇章次第</h4>
<p>傷寒次第亂於叔和傷寒之亡亡於次第紊亂而下士不解也使次第非亂則傷寒雖元讀之不過二三年無不解矣仆於破裂紛亂之中條分縷晰復其次第之舊縱與仲景篇次未必悉合然而源委明白脈絡清楚傷寒之理著仲景之法傳矣叔和而後注傷寒者數十百家著作愈多而傷寒愈亡其中惟郊　程氏頗識傷寒溫病之殊傳經為熱之訛而於三陰之病亦稍有解悟較之前人可謂庸中矯矯者矣惜理障太多疑叢滿腹其所解者百分之一至於仲景全理未始升堂而睹奧也</p>
<h2>卷一</h2>
<h3>脈法上編</h3>
<p>微妙在脈不可不察（素問語）凡虛實之變遷寒熱之消長表裡之進退陰陽之勝復氣機一動無不形之於脈而太陰行氣於三陰陽明行氣於三陽（素問語）臟病則取之於寸口（寸口手太陰之脈在手大指魚際之下）腑病則取之於衝陽（衝陽足陽明之脈在足次趾陷谷之上）寸口在手衝陽在足手足之動脈氣原於經絡而神通於臟腑故精於脈者不飲上池之水而操隔垣之明仲景脈法大含元氣纖入無倫文字隱深義理奧衍較之六經病證更為難解所謂微妙而元通也呂覽有言精而熟之神將告之非神將告之也精而熟之也精熟仲景脈法游心於虛靜之宇動指於沖漠之庭以此測病亦不啻鬼謀而神告已</p>
<h4>脈法上編提綱（脈法一）</h4>
<p>脈氣流行應乎漏刻呼吸有數動靜無差是為平脈一有病作而浮沉遲數大小滑澀諸變生焉乖常失度偏而不和始於毫厘之參差成於度量之懸隔仲景脈法自微而著由始及終精粗悉具洪纖畢陳可謂法全而意備矣而其變化紛紜絕態殊狀總不出此一章中蓋下窮其委而此約其要也問曰脈有三部陰陽相乘營衛氣血在人體躬呼吸出入上下於中因息游布津液流通隨時動作效象形容春弦秋浮冬沉夏洪察色觀脈大小不同一時之間變無常經尺寸參差或短或長上下乖錯或存或亡病輒改移進退低昂心迷意惑動失紀綱愿為具陳令得分明脈有三部寸關尺也陰陽相乘陰盛則乘陽位陽盛則乘陰位也呼吸出入上下於中呼出為上吸入為下也因息游布津液流通脈因氣息之呼吸而游布於周身脈行則津液流通於上下也隨時動作效象形容脈隨四時動作各有其效象而形容之春弦秋浮冬沉夏洪正形其四時之象也察色觀脈大小不同察其色而觀其脈脈有大小之不同也一時之間變無常經脈變之速無一定也尺寸參差或短或長之不同上下乖錯或存或亡之各異病輒隨之改易進退低昂於此生焉此中心迷意惑動失紀綱愿為具陳其意令得分明也師曰子之所問道之根源脈有三部尺寸及關營衛流行不失銖分出入升降漏刻周旋水下百刻一周循環當復寸口虛實見焉變化相乘陰陽相干風則浮虛寒則牢堅沉潛水蓄支飲急弦動則為痛數則熱煩設有不應知變所緣三部不同病各異端太過可怪不及亦然邪不空見中必有奸當察表裡三部別焉知其所舍消息診看料度臟腑獨見若神為子條記傳與賢人子之所問乃醫道之根源脈有三部尺寸及關也營衛之流行有一定之度數無銖兩分寸之差其出入升降應乎漏刻以為周旋漏水下百刻乃日之一周一日之中自寅至丑脈氣循環五十周共計八百一十丈明日寅時初刻復出於寸口謂之一大周脈之虛實大小俱見於此其間變化之相乘陰陽之相干可得而言也如中風則脈浮虛傷寒則脈緊牢蓄水則脈沉潛支飲則脈弦急脈動則為痛脈數則為熱煩此一定之理也設有不應知其變易之所由緣必有其故也三部之脈各有所主其為病不同脈之太過固可怪脈之不及亦復然凡脈邪無空見之理一見脈邪中必有奸審察內外表裡之異上下三焦之別知其病所舍止在於何處當消息而診看之即氣之度數而料度臟腑之虛實獨見之明若神為子條記其詳傳與後之賢人此提脈法之綱以下各章申明此義所謂條條記錄者也</p>
<h4>脈法二</h4>
<p>師曰呼吸者脈之頭也初持脈來疾去遲此出疾入遲名曰內虛外實也初持脈來遲去疾此出遲入疾名曰內實外虛也脈之流行氣鼓之也一息脈六動氣行六寸人之經絡六陽六陰以及任督兩蹺計長一十六丈二尺平人一日一夜一萬三千五百息一日百刻二百七十息漏水下二刻脈行十六丈二尺是為一周一萬三千五百息水下百刻脈行五十周共計八百一十丈一日之度畢矣（義詳靈樞脈度營氣五十營諸篇）故呼吸者脈之頭也（頭猶綱領之謂）醫以平人之呼吸準疾人之遲數則陰陽虛實見焉如初持脈來疾而去遲來者出也去者入也此出疾而入遲也出者出於外也即其出以知其外入者入於內也即其入以知其內其出疾而入遲故名曰內虛外實也初持脈來遲去疾此出遲而入疾故名曰內實外虛也（此明首章呼吸出入之義）</p>
<h4>脈法三</h4>
<p>寸口脈浮為在表沉為在裡數為在腑遲為在臟假令脈遲此為在臟也表為陽裡為陰故表脈浮而裡脈沉腑為陽臟為陰故腑脈數而臟脈遲浮數沉遲陰陽自然之性也（此審察表裡料度臟腑之義）</p>
<h4>脈法四</h4>
<p>寸口脈浮而緊浮則為風緊則為寒風則傷衛寒則傷營營衛俱傷骨節煩疼當發其汗也寸口脈浮而緊病在表也浮則為中風緊則為傷寒以風性浮而寒性緊所謂風則浮虛寒則牢堅也中風則傷衛氣傷寒則傷營血營衛俱傷而骨節煩痛當發汗以解風寒此桂麻各半之證也（此明審察表裡之義）</p>
<h4>脈法五</h4>
<p>脈浮而大心下反硬有熱屬臟者攻之不令發汗屬腑者不令溲數溲數則大便硬汗多則熱愈汗少則便難脈遲尚未可攻脈浮而大是太陽陽明之脈也若心下反硬則有陽明之腑邪也蓋少陽之經自胃口而行兩脅少陽經氣侵逼陽明之腑腑氣壅遏逆而上行礙少陽下行之路經腑郁迫結於胸脅故心下痞硬若腑熱傷及臟陰則攻之不令發汗若但是腑熱則攻不必急而不令其溲數溲數則其津液亡而大便硬汗多則營消而熱愈增汗少則腑熱鬱而大便難是以不令汗尿而用攻下第攻亦有時臟宜急攻（陽明少陰急下三證以緩攻之則腑熱傷及臟陰不可救矣）腑宜緩攻而一見脈遲則內熱未實尚未可攻也（此明料度臟腑之義）</p>
<h4>脈法六</h4>
<p>師曰脈肥人責浮瘦人責沉肥人當沉今反浮瘦人當浮今反沉故責之肥人肌肉豐濃故脈氣沉深瘦人肌肉減薄故脈氣浮淺沉者浮而浮者沉是謂反常反常則病故責之</p>
<h4>脈法七</h4>
<p>趺陽脈緊而浮浮為氣緊為寒浮為腹滿緊為絞痛浮緊相搏腸鳴而轉轉即氣動膈氣乃下少陰脈不出其陰腫大而虛也趺陽足陽明脈動衝陽氣衝人迎大迎衝陽在足趺上故謂之趺陽趺陽脈緊而浮浮為氣逆緊為氣寒以土位居中在於浮沉之間氣不應浮浮則為胃氣之逆土性和緩脈不應緊緊則為胃氣之寒胃主降濁胃逆脈浮則胃氣壅塞濁氣不降是以腹滿胃主受盛胃寒脈緊則胃氣逼窄木邪迫侵故為絞痛浮緊相合腸鳴而轉轉則氣滯行動膈間痞塞之氣乃下及其寒邪沖突後注魄門而為泄利則滿痛稍減頃而寒凝氣滯痛滿又作此因於腎陽之虛也若少陰脈出則腎陽續復少陰脈不出則腎陽澌滅其陰器必腫大而虛也緣水寒木鬱陷而不升故陰器腫大（肝主筋前筋者諸筋之宗也足少陰脈動太谿陰谷太谿在內踝後陰谷在膝後　中內側）</p>
<h4>脈法八</h4>
<p>少陰脈不至腎氣微少精血奔氣促迫上於胸膈宗氣反聚血結心下陽氣退下熱歸陰股與陰相動令身不仁此為尸厥當刺期門巨闕少陰腎脈不至則腎氣微弱而少精血腎中陰氣逆奔促逼清道上於胸膈胸中宗氣為腎陰所迫反聚而不散氣聚則血凝故血結心下血結而遏其清陽不得上奉故陽氣退下肝氣不達鬱而生熱歸於陰股與下之陰氣兩相郁動令身不仁身之所以靈覺者以清陽之升發也今結血迷心清陽淪陷故身無知覺而不仁也此為尸厥（史扁鵲傳虢太子病尺厥即此）當刺厥陰之期門任脈之巨闕下泄陰股之鬱熱上通心下之結血令其清陽上達神氣通暢則明白如初矣</p>
<h4>脈法九</h4>
<p>趺陽脈微而緊緊則為寒微則為虛微緊相搏則為短氣少陰脈弱而澀弱者微煩澀者厥逆趺陽脈微而緊緊則為胃氣之寒微則為胃氣之虛微緊相合虛而且寒濁陰凝塞清氣不升則為短氣胃氣虛寒腎陽必敗少陰脈弱而澀弱則血虛而微煩澀則血寒而厥逆也</p>
<h4>脈法十</h4>
<p>趺陽脈不出脾不上下體冷膚硬趺陽脈不出胃氣虛敗則脾不營運中脘滯塞不能上下升降故身冷膚硬以陽虛不能外達無以溫分肉而柔肌膚也</p>
<h4>脈法十一</h4>
<p>趺陽脈滑而緊滑者胃氣實緊者脾氣強持實擊強痛還自傷以手把刃坐作瘡也趺陽脈滑而緊滑者胃氣之實緊者脾氣之強一實一強兩者不和必至相擊持胃氣之實擊脾氣之強強不受擊則痛還自傷譬之以手抱刃自傷坐作金瘡也（此陰陽相干之義乃太過不及之可怪者）</p>
<h4>脈法十二</h4>
<p>趺陽脈沉而數沉為實數消穀緊者病難治趺陽脈沉而數沉為內實數則消穀是胃陽之盛者也設使兼緊者則病為難治矣緊者陽為邪鬱而不達也（風寒外束甲木鬱迫故見緊象）</p>
<h4>脈法十三</h4>
<p>趺陽脈大而緊者當即下利為難治趺陽脈大而緊者胃陽為膽經所郁不能容納水穀當即下利此為難治（汗下宜忌篇脈大而緊者陽中有陰也當下之宜大承氣湯即此證也）</p>
<h4>脈法十四</h4>
<p>寸口脈陰陽俱緊者法當清邪中於上焦濁邪中於下焦清邪中上名曰潔也濁邪中下名曰渾也陰中於邪必內栗也表氣微虛裡氣不守故使邪中於陰也陽中於邪必發熱頭痛項強頸攣腰痛脛酸所為陽中霧露之氣故曰清邪中上濁邪中下陰氣為栗足膝厥冷溺便妄出表氣微虛裡氣微急三焦相溷內外不通上焦怫鬱臟氣相薰口爛食齦也中焦不治胃氣上衝脾氣不轉胃中為濁營衛不通血凝不流若衛氣前通者小便赤黃與熱相搏因熱作使游於經絡出入臟腑熱氣所過則為癰膿若陰氣前通者陽氣厥微陰無所使客氣內入嚏而出之聲　咽塞寒厥相逐為熱所壅血凝自下狀如豚肝陰陽俱厥脾氣孤弱五液注下下焦不闔清便下重令便數難臍築湫痛命將難全寸口脈尺寸俱緊者此有外邪之迫束也寸緊者法當清邪中於上焦尺緊者法當濁邪中於下焦清邪潔清名曰潔也濁邪混濁名曰渾也下焦陰中於邪必陽氣內虛而戰栗也此因表氣之微虛裡氣之不守故使邪中於陰部也上焦陽中於邪必發熱頭痛項強頸攣腰痛脛酸所謂陽中霧露之氣也故曰清邪中上濁邪中下以其同類之相感召金匱霧傷於上濕傷於下正此意也清邪中上則為內熱濁邪中下則為內寒上熱下寒陰陽俱病而陽病則輕陰病則重以邪之清濁不同也今以濁邪之中下者言之陰中於邪內寒而栗陽不下達足膝逆冷氣不下攝便溺妄出此其表氣微虛故外邪乘襲不能斂閉裡氣亦微郁作滿急故三焦溷亂內外不通三焦俱病其狀自別其上焦之怫鬱也熱蒸於臟臟氣相薰口爛食齦也此以上焦外有表邪之感內有下寒之逼火鬱於上故證見如此其中焦之不治也胃氣逆行而上衝脾氣鬱陷而不轉胃中為濁氣所填營衛滯塞不通血因凝而不流以營衛流行賴乎中氣之運中氣不運故氣血阻隔也若衛陽前通乎下者氣降於水則小便赤黃衛氣將通而未通必鬱而為熱衛氣與臟中之熱相合衛氣所到之處熱亦隨之是因熱而作使也衛與熱游於經絡出入臟腑熱氣所過則蒸腐而為癰膿是衛陽通而熱傷於內也若裡陰前通於上者陽氣厥寒而微弱不能作熱陰無所使下焦客氣之內入於胸膈者沖動肺氣上逆嚏而出之出之不及乃聲　而咽塞下焦寒厥攻逐於上為上熱所壅寒熱相搏前之凝血自下狀如豚肝陰陽俱致厥逆濁氣不降清氣不升則脾氣孤弱不能統攝五臟之精液五液奔注而下泄是裡陰通而寒傷於內也其下焦之不闔也清便下重令便數而艱難臍上築起而湫痛緣清氣下陷則重墜而便數而寒凝氣滯不能順下故便難而腹痛是其命將難全也</p>
<h4>脈法十五</h4>
<p>脈陰陽俱緊者口中氣出唇口乾燥蜷臥足冷鼻中涕出舌上苔滑勿妄治也到七日以來其人微發熱手足溫者此為欲解到八日以上反大發熱者此為難治設使惡寒者必欲嘔也腹內痛者必欲利也表寒外束脈尺寸俱緊者寸緊則陽鬱而上熱尺緊則陰鬱而下寒上熱故口中氣出唇口乾燥鼻中涕出舌上苔滑下寒故蜷臥足冷如此勿妄治也六日經盡七日以來而其人微發熱手足溫者是表裡之寒退是為欲解若到八日以上反大發熱者是表裡之寒俱盛經陽郁逼而熱發也此為難治設使惡寒者表寒外束胃鬱而氣逆必欲嘔也腹內痛者裡寒內凝脾鬱而氣陷必下利也</p>
<h4>脈法十六</h4>
<p>脈陰陽俱緊者至於吐利其脈猶不解緊去入安此為欲解若脈遲至六七日不欲食此為晚發水停故也為未解食自可者為欲解脈陰陽俱緊經迫腑郁至於吐利裡氣松和病應解也而脈緊不去則病必不解必其脈緊已去而入安和此為欲解也若其緊去而脈遲至六七日不欲食此為晚發內有水停故也蓋陰盛脈遲雖時下無病後必作病特發之晚耳緣水停在內無不作病之理故為未解若緊去而食自可者是內無停水為欲解也</p>
<h4>脈法十七</h4>
<p>趺陽脈浮而澀少陰脈如經也其病在脾法當下利何以知之若脈浮大者氣實血虛也今趺陽脈浮而澀故知脾氣不足胃氣虛也以少陰脈弦而浮才見此為調脈故稱如經也若反滑而數者故知當屎膿也趺陽脈浮而澀此陽明脈之失常而少陰脈之如經也（經即常也）其病應在脾脾病法當下陷而為利何以言之若脈浮而大者氣實而血虛也此為陽盛陽盛則脾不病今趺陽脈不浮大而浮澀故知脾氣不足胃氣之虛也胃陽虛則脾陰盛是以脾當下陷而為利蓋陽盛則腑陽主令而脾不用事故病在胃陰病則臟陰司權而胃不用事故病在脾也以少陰脈弦而浮則少陰病緣水不生木而木鬱於水故脈見弦浮是少陰不調之脈也才見此浮澀便為調脈故稱如經也以少陰主藏斂澀者臟氣之得令也而澀中帶浮是水溫而胎木氣也少陰最調之脈若反滑而數者則木鬱而生下熱必傷陰分而便膿血乃為少陰失常之脈也</p>
<h4>脈法十八</h4>
<p>趺陽脈遲而緩胃氣如經也趺陽脈浮而數浮則傷胃數則動脾此非本病醫特下之所為也營衛內陷其數先微脈反但浮其人必大便硬氣噫而除何以言之本以數脈動脾其數先微故知脾氣不治大便硬氣噫而除今脈反浮其數改微邪氣獨留心中則飢邪熱不殺穀潮熱發渴數脈當遲緩脈因前後度數如法病者則飢數脈不時則生惡瘡也趺陽脈遲而緩是胃如常也若趺陽脈浮而數非復胃家常脈矣浮則傷胃數則動脾以胃為陽明而主降故數不傷胃浮則氣逆而傷胃脾為太陰而主升故浮不動脾數則陰爍而動脾趺陽脈本遲緩今忽見浮數胃傷而脾動是何以故蓋此非胃家本病乃醫特下之所為也若下之而營衛內陷其數先化為微脈之浮數者反但浮而不數是今之浮而數者先為浮而微也其人必大便堅硬氣噫而除何以知之本以脾為陰土數脈最動胃氣若浮數先為浮微此不過胃氣之弱約結不舒下則糞粒堅小上則氣化凝滯而脾氣未動則中脘一通上下皆愈故知脾氣不治便硬氣噫而除以其上通則下達也今者脈反浮而數改其微是不浮微而浮數則脾氣動矣脈浮數則邪熱獨留薰灼脾陰心液稍耗心中則飢心中雖飢卻不消食緣此為邪熱不殺穀但覺潮熱發渴耳蓋數非胃家常病脈當見遲緩脈乃前後復數如法出入升降按乎漏刻土氣衝和病者則穀消而覺飢此中氣之復非邪氣獨留之飢也若數脈動脾精血消亡其害非小不止熱渴而已當不時而生惡瘡也</p>
<h4>脈法十九</h4>
<p>寸口脈微而澀微者衛氣不行澀者營氣不足營衛不能相將三焦無所仰身體痹而不仁營氣不足則煩疼口難言衛氣虛則惡寒數欠三焦不歸其部上焦不歸者噫而吞酢中焦不歸者不能消穀引食下焦不歸者則遺溲寸口脈微而澀微者衛氣之不行澀者營氣之不足營衛者所以上下回周以煦濡於三焦者也營衛俱虛不能相將而行則三焦無所仰賴身體痹著而不仁矣營氣不足無以滋養筋骨則煩痛而口難言衛氣虛衰不能當陽秉令則惡寒而數欠伸（欠者開口呵氣陰陽之相引也日暮陰盛吸引上焦之陽陽氣雖虛未至下陷隨引而隨升升則欠作人將睡時陽為陰引欲下而不能下多作呵欠義見靈樞口問）於是三焦失養不歸其部上焦之陽不歸則噫氣而吞酢中焦之陽不歸則不能消穀而引食下焦之陽不歸則膀胱失約而遺溲三焦手少陽相火衰微故見證如此</p>
<h4>脈法二十</h4>
<p>趺陽脈浮而芤浮者衛氣虛芤者營氣傷其身體瘦肌肉甲錯浮芤相搏宗氣衰微四屬斷絕趺陽脈浮而芤浮者衛氣之虛芤者營氣之傷營衛者所以薰膚充身而澤毛衛虛而營傷故其身體瘦削肌肉甲錯以其氣血衰損而不榮也營衛化生於水穀水穀之化氣血其大氣之搏而不行者積於胸中名曰宗氣以貫心肺而行呼吸（義見靈樞）心主營肺主衛宗氣乃營衛之根本也今浮芤相合營衛俱虛是宗氣之衰微也如是則無以榮養乎四旁四屬斷絕失其所秉也（芤者脈之中空失血之診）</p>
<h4>脈法二十一</h4>
<p>脈弦而大弦則為減大則為芤減則為寒芤則為虛寒虛相搏此名為革婦人則半產漏下男子則亡血失精脈弦而大弦則為減大則為芤減則陽氣不足而為寒芤則陰血不充而為虛寒虛相搏此名為革革者如鼓之皮外實而內空也衛統於肺營藏於肝衛衰則外減營衰則內芤減者衛衰而氣寒也芤者營衰而血虛也氣血虛寒脈如皮革婦人見此則半產漏下男子見此則亡血失精以其中氣頹敗不能交濟水火水下寒而火上熱水木下陷則內為虛寒火金上逆則外為弦大金水不藏而木火善泄故胎墮而經漏血脫而精遺也（漏下者非月期而血下崩如堤防崩潰而水暴流漏如銅壺漏滴而水續下也）</p>
<h4>脈法二十二</h4>
<p>寸口脈微而澀微者衛氣衰澀者營氣不足衛氣衰面色黃營氣不足面色青營為根衛為葉營衛俱微則根葉枯槁而寒栗咳逆唾腥吐涎沫也寸口脈微而澀微者衛氣之衰澀者營氣之不足衛生於胃衛衰則戊土虛而面色黃營藏於肝營不足則乙木枯而面色青營為衛根衛為營葉營衛俱微則根葉枯槁而寒栗咳逆唾腥吐涎諸證皆作以土敗不能生金故也</p>
<h4>脈法二十三</h4>
<p>寸口脈微而緩微者衛氣疏疏則其膚空緩者胃氣實實則穀消而化水也穀入於胃脈道乃行水入於經其血乃成營盛則其膚必疏三焦絕經名曰血崩寸口脈微而緩微者衛氣之疏疏則其皮膚空豁而不密致緩者胃氣之實實則穀消而化水也（靈樞津液五別中熱則胃中消穀腸胃充廓故胃緩也）血脈者水穀之所化生穀入於胃布散於外脈道乃行水入於經變化而赤而血乃成穀消水化而入血脈則營成矣肺主氣氣盛則清涼而收斂肝主血血盛則溫暖而發散營為衛根二氣調和則營不獨盛營血獨盛則血愈溫散而氣不清斂汗孔開泄是以其膚必疏疏則三焦經絡之血盡化汗液泄於毛皮是以名曰血崩所謂奪汗者勿血奪血者勿汗汗即血之醞釀而成者也</p>
<h4>脈法二十四</h4>
<p>寸口脈弱而緩弱者陽氣不足緩者胃氣有餘噫而吞酸食卒不下氣填於膈上也寸口脈弱而緩弱者陽氣之不足緩者胃氣之有餘有餘者胃氣上逆壅滿不降名為有餘實則胃陽之不足也上脘壅滯則噫氣吞酸食卒不下濁氣填塞於膈上也（吞酸者胃氣痞塞乙木不得升達鬱而為酸也）</p>
<h4>脈法二十五</h4>
<p>寸口脈弱而遲弱者衛氣微遲者營中寒營為血血寒則發熱衛為氣氣微者心內飢飢而虛滿不能食也寸口脈弱而遲弱者衛氣之微遲者營中寒營為血血寒則溫氣外泄而發熱衛為氣氣微則心內空虛而若飢然陽虛氣滯胃口痞滿雖飢而不能食也</p>
<h4>脈法二十六</h4>
<p>趺陽脈伏而澀伏則吐逆水穀不化澀則食不得入名曰關格趺陽脈伏而澀伏則胃虛不能化穀而吐逆澀則胃逆不能納穀而食不得入名曰關格水穀不化而吐逆是反胃之病食不得入而噎塞是膈噎之病伏者胃氣之鬱伏陽衰於下故不化穀澀者胃氣之凝澀陰填於上故不納食</p>
<h4>脈法二十七</h4>
<p>寸口脈浮而大浮為虛大為實在尺為關在寸為格關則不得小便格則吐逆寸口脈浮而大浮為虛大為實既虛而又實者人身之氣實則清空而虛則痞塞所謂實則虛而虛則實也（子華子語）蓋陰平陽密則陽交於陰而不見浮大陰盛陽虛則陽泄於外而浮大見焉其浮者陽之內虛也其大者陽之外實也此脈在尺則陽氣下陷而為關在寸則陰氣上逆而為格關者陰閡於下清氣沉鬱而不升也肝木一陷疏泄之令莫行故不得小便格者陽浮於上濁陰沖塞而不降也胃土既逆受盛之官失職故吐逆也靈樞脈度陰氣太盛則陽氣不能榮也故曰關陽氣太盛則陰氣不能榮也故曰格以陽氣下降而化濁陰陰氣上升而化清陽清陽升則水利而不癃濁陰降則穀入而不嘔陰盛於下致陽陷而不升故肝氣下鬱而水不行陽盛於上緣陰逆而不降故胃氣上鬱而食不下也</p>
<h4>脈法二十八</h4>
<p>寸口脈浮大醫反下之此為大逆浮則無血大則為寒寒氣相搏則為腹鳴醫乃不知而反飲冷水令汗大出水得寒氣冷必相搏其人即KT凡寸口脈浮大則非裡實之證而醫反下之此為大逆浮則無血大則為寒蓋裡氣虛寒故脈浮而大也裡寒凝澀則木氣衝激而為腹鳴醫乃不知以其血寒發熱而反飲以冷水令汗大出水得裡之寒氣寒冷相合搏結不散其人即咽喉噎塞氣閉而食阻也KT與噎通漢書賈山至言祝KT　在前祝鯁在後</p>
<h4>脈法二十九</h4>
<p>趺陽脈浮浮則為虛虛浮相搏故令氣KT　言胃氣虛竭也脈滑則為噦此為醫咎貴虛取實守空迫血脈浮鼻中燥者必衄也趺陽脈浮浮則為虛虛浮相合故令氣KT　緣胃氣虛竭則痞塞不通也若脈滑則胃氣上逆而為噦此為醫工之咎以浮則為虛反責其內虛以為實而下以取之浮則無血反守其中空以為滿而汗以遏之陽亡陰升填塞清道故非噎即噦也若脈浮鼻中干燥者必將為衄以中虛而氣逆故血隨氣升而為衄也</p>
<h4>脈法三十</h4>
<p>脈浮而大浮為風虛大為氣強風氣相搏必成癮疹身體為癢癢者名泄風久久為痂癩脈浮而大浮則風氣之虛風泄於外也大為衛氣之強氣閉於內也外風與內氣相搏風外泄而氣內閉營郁不宣必成癮疹蓋風性疏泄而氣性收斂風欲泄而氣閉之泄之不透則營鬱而為熱血熱外發則為斑點而不能透發郁於皮腠之內隱而不顯是為癮疹之家營郁衛閉欲發不能則身體為癢癢者是為泄風素問風論外在腠理則為泄風泄風者風之欲泄而不透者也風不透泄經血鬱熱久而營氣蒸腐則為痂癩風論風與太陽俱入行諸脈俞散於分肉之間與衛氣相干其道不利故使肌肉憤　而有瘍衛氣有所凝而不行故其肉有不仁也癩者營氣熱腐其氣不清故使鼻柱壞而色敗皮膚瘍潰風寒客於脈而不去名曰癩風肺統衛氣而主皮毛開竅於鼻是以鼻柱壞而皮膚潰也</p>
<h4>脈法三十一</h4>
<p>脈浮而滑浮為陽滑為實陽實相搏其脈數疾衛氣失度浮滑之脈數疾發熱汗出者此為不治脈浮而滑浮為陽滑為實陽與實合脈必數疾衛氣失度浮滑之脈加以數疾再復發熱汗出者陰陽消亡此為不治難經脈一呼三至曰離經四至曰奪精五至曰死六至曰命絕正此浮滑數疾之脈也</p>
<h2>卷二</h2>
<h3>脈法下編</h3>
<p>脈理精微發於上編而其名義之紛賾形象之遷化診候之機緘望切之竅妙所未詳悉者設為問答發於此篇澄心渺慮傳茲奧旨誠崆峒訪道之仙梯赤水求珠之秘渡也後世醫理無傳半緣脈法不解仲景脈法家藏而戶收白首不解則終身不靈是胼拇支指之呼吸不應也豈仲景傳脈之心哉</p>
<h4>脈法下編提綱</h4>
<p>營衛之消息是不一端臟腑之乘除是不一致支派分別不可紀極而溯本窮源不過陰陽二者而已診陰陽之異同判死生之懸殊生之與死孰美孰惡陰之與陽孰貴孰賤解此章之義則以下諸章決生斷死之方起死回生之法悉具於此矣</p>
<h4>脈法三十二</h4>
<p>問曰脈有陰陽何謂也答曰凡脈大浮數動滑此名陽也脈沉澀弱弦微此名陰也凡陰病見陽脈者生陽病見陰脈者死陽道實陰道虛大浮數動滑者此名陽也沉澀弱弦微者此名陰也陽主生陰主死陰病見陽脈者陰盛而陽氣之來復也陽病見陰脈者陽浮而陰氣之內盛也陽復者生陰盛者死陽貴陰賤訓垂先聖至婦人女子皆知人之為陽鬼之為陰獨至後世醫家反經亂道貴陰賤陽庸妄接踵以誤天下宋元以來千年之久遂無一人稍解此理者何下愚之多而上智之少耶</p>
<h4>脈法三十三</h4>
<p>脈有陽結陰結者何以別之答曰其脈浮而數不能食不大便者此為實名曰陽結也期十七日當劇其脈沉而遲不能食身體重大便反硬名曰陰結期十四日當劇脈浮而數不能食不大便此為陽實名曰陽結陽實而無陰以和之其氣必結期十七日當劇也脈沉而遲不能食身體重大便反硬名曰陰結陰盛而無陽以和之其氣必結期十四日當劇也陰盛大便當溏不溏而硬故謂之反凡大便秘澀糞若羊矢者皆陰結之證也十七日劇者火為陽大衍之數地二生火天七成之合而為九積至二九為十八日則火氣盛矣陽性疾故不及期而劇也十四日劇者水為陰大衍之數天一生水地六成之合而為七積至二七十四日則水氣盛矣陰性遲故及期而劇也此言陰陽之大數不必泥也</p>
<h4>脈法三十四</h4>
<p>脈來緩時一止復來者名曰結脈來數時一止復來者名曰促脈陽盛則促陰盛則結此為病脈曰病脈者以其陰陽之偏也</p>
<h4>脈法三十五</h4>
<p>脈靄靄如車蓋者名曰陽結也脈累累如循長竿者名曰陰結也脈瞥瞥如羹上肥者陽氣微也脈縈縈如蜘蛛絲者陽氣衰也脈綿綿如瀉漆之絕者亡其血也脈靄靄郁動如車蓋之升沉者名曰陽結也脈累累不平如循長竿之硬節者名曰陰結也脈瞥瞥虛飄如羹上之油珠者陽氣微也脈縈縈細弱如蜘蛛之輕絲者陽氣衰也脈綿綿斷續如瀉漆之頻絕者亡其血也</p>
<h4>脈法三十六</h4>
<p>陰陽相搏名曰動陽動則汗出陰動則發熱形冷惡寒者此三焦傷也若數脈見於關上上下無頭尾如豆大厥厥動搖者名曰動也陰陽相搏二氣鬱勃而動蕩名曰動陽氣動則陽升於陰衛泄而汗出陰氣動則陰閉於陽衛鬱而熱發動雖在陽脈之中而實陰陽所俱有也脈動而見形冷惡寒者此三焦之陽氣傷也若脈數見於關上上下無頭尾如豆大厥厥動搖者此名曰動動者氣鬱於中不能升降也關所以候中焦關上不動者中氣之治升降推遷之得政也蓋陰升於寸則遂其上浮之性不至為動陽降於尺則遂其下沉之性不能為動惟陰欲升脾土虛而不能升陽欲降胃土弱而不能降則二氣鬱於關上而見動形上下無頭尾如豆大厥厥動搖者二氣虛弱不能升降之狀也關者陰陽出入之關陰自此升而為陽陽自此降而為陰此實陰陽升降之樞軸故曰關乃中氣之所變現也（關上動數如豆厥厥動搖上下不至尺寸此死脈也）</p>
<h4>脈法三十七</h4>
<p>陽脈浮大而濡陰脈浮大而濡陰脈與陽脈同等者名曰緩也寸為陽尺為陰尺寸浮大而柔濡上下同等不至偏虛彼此不爭是以安緩也</p>
<h4>脈法三十八</h4>
<p>問曰翕奄沉名曰滑何謂也師曰沉為純陰翕為正陽陰陽合和故令脈滑關尺自平陽明脈微沉飲食自可少陰脈微滑滑者緊之浮名也此為陰實其人必股內汗出陰下濕也翕者浮動之意脈正浮動忽然而沉其名曰滑沉為純陰翕為正陽陽升於寸則為浮陰降於尺則為沉陰陽和合故令或浮或沉而脈滑如是者關尺之脈必自均平也關為陰陽之交浮沉之中關平則陰陽和合而為滑尺平則沉而不滑也（關平則滑尺平則沉關不平則沉尺不平則滑）若使關不平陽明脈微沉陰氣稍盛矣而未至大盛食飲猶自可也尺不平少陰脈微滑雖稱曰滑其實乃緊而浮之名也此為腎家之陰實不能溫升肝木木氣鬱動故令脈滑非陰陽和合之滑也肝氣鬱動於下焦不遂其發生之性風木疏泄其人必股內汗出陰器之下常濕也</p>
<h4>脈法三十九</h4>
<p>脈浮而緊者名曰弦也弦者狀如弓弦按之不移也脈緊者如轉索無常也緊為寒脈傷寒則脈緊以寒性閉藏而不發也冬時寒盛水冰地坼脈緊之義也腎主蟄藏故尺脈沉緊及關而浮緊變為弦便是春木發生之象弦雖按之不移然緊中帶浮已非沉緊之形如轉索之不息者矣上章緊之浮名也具此弦意尺本沉緊而忽然滑者則不專於沉兼有浮升之狀是弦見於尺弦應在關而見於尺者木欲升而不能升也故名滑而不名弦及其漸升於關則陰陽相半浮緊兩平不曰緊曰滑直名曰弦矣</p>
<h4>脈法四十</h4>
<p>問曰曾為人所難緊脈從何而來師曰假令亡汗若吐以肺裡寒故令脈緊也假令咳者坐飲冷水故令脈緊也假令下利以胃中虛冷故令脈緊也汗吐傷其胸中之陽肺寒則脈緊也咳者中寒而胃逆下利者中寒而脾陷冷水下利泄其胃陽則脈緊也</p>
<h4>脈法四十一</h4>
<p>寸口衛氣盛名曰高營氣盛名曰章高章相搏名曰綱衛氣弱名曰　營氣弱名曰卑　卑相搏名曰損衛氣和名曰緩營氣和名曰遲遲緩相搏名曰沉寸口寸以候衛衛氣盛者名曰高衛主氣氣盛則崇高也尺以候營營氣盛名曰章營主血血盛則章顯也高章相合名曰綱是諸陽脈之首領也衛氣弱名曰　者　怯則柔退也　卑相合名曰損是諸陰脈之削弱者也衛氣和名曰緩營氣和名曰遲緩遲者是從容之謂對緊數言也遲緩相合名曰沉人之元氣宜秘不宜泄泄則浮而秘則沉素問生氣通天論陰陽之要陽密乃固陰平陽秘精神乃治陽藏之機全在乎土土運則陰升而陽降也緩遲者土氣之沖和土和則中樞運轉陰常升而陽常降也陽降則根深而不拔是謂陽密陽密則脈沉是陽旺而脈沉非陰盛而脈沉也</p>
<h4>脈法四十二</h4>
<p>寸口脈緩而遲緩則陽氣長其色鮮其顏光其聲商毛髮長遲則陰氣盛骨髓生血滿肌肉緊薄鮮硬陰陽相搏營衛俱行剛柔相得名曰強也寸口脈緩而遲緩為衛盛緩則陽氣長進其色鮮明其顏光潤其聲清越其毛髮修長遲為營盛遲則陰氣盛盈骨髓滋生血海充滿肌肉緊薄鮮硬如是則陰陽相抱而不離營衛俱行而無阻是剛柔之相得名曰強也</p>
<h4>脈法四十三</h4>
<p>問曰經說脈有三菽六菽重者何謂也師曰脈以指按之如三菽之重者肺氣也如六菽之重者心氣也如九菽之重者脾氣也如十二菽之重者肝氣也按之至骨者腎氣也假令下利寸口關上尺中悉不見脈然尺中時一小見脈再舉頭者腎氣也若見損脈來至為難治三菽五菽數語難經五難之文脈病患以指按之如三菽之重者肺氣也如六菽之重者心氣也肺主皮心主脈其脈俱浮也如九菽之重者脾氣也脾主肉脈在浮沉之間也如十二菽之重者肝氣也按之至骨者腎氣也肝主筋腎主骨其脈俱沉也肺心為陽肝腎為陰假令下利陰病也寸口關上尺中悉不見脈陽氣脫也然尺中時一小見脈再舉頭者腎氣也腎氣未絕猶可治若再見損脈來至便為難治損脈者遲脈也難經一呼一至曰離經二呼一至曰奪精三呼一至曰死四呼一至曰命絕此損之脈也</p>
<h4>脈法四十四</h4>
<p>問曰東方肝脈其形何似師曰肝者木也名厥陰其脈微弦濡弱而長是肝脈也肝病自得濡弱者愈也假令得純弦脈者死何以知之以其脈如弦直此是肝臟傷故知死也肝者木也居東方其位在左經名厥陰其脈微弦濡弱而長是肝脈也肝病自得濡弱者是有胃氣故愈假令得純弦脈者無胃氣也故死何以知之以其脈如弓弦之直此是肝臟之傷不得土氣之滋榮故知死也素問平人氣象論平肝脈來濡弱招招如揭長竿曰肝平死肝脈來急益勁如新張弓弦曰肝死正此意也</p>
<h4>脈法四十五</h4>
<p>南方心脈其形何似師曰心者火也名少陰其脈洪大而長是心脈也心病自得洪大者愈也假令脈來微去大故名反病在裡也脈來頭小本大故名覆病在表也上微頭小者則汗出下微本大者則為關格不通不得尿頭無汗者可治有汗者死心者火也居於南方其位在上經名少陰其脈洪大而長是心脈也心病自得洪大者是心火得令故愈火陽也陽位於外而根於內假令脈來微而去大來者主裡去者主表是外實而內虛也故名反此病在裡也脈來頭小而本大本來主裡頭去主表是內實而外虛也故名覆此病在表也或表或裡所不洪大之處則病在焉反復者陰不宜偏勝而陽不宜偏負今陰勝陽負是陰陽之反復猶顛倒也上微而頭小者則表陽不固而汗出下微而本大者則陰陽關格而不通不得小便頭無汗者陽未至絕也故可治有汗則陽絕故死經所謂絕汗出也</p>
<h4>脈法四十六</h4>
<p>西方肺脈其形何似師曰肺者金也名太陰其脈毛浮也肺病自得此脈若得緩遲者皆愈若得數者則劇何以知之數者南方火火克西方金法當壅腫為難治也肺者金也居於西方其位在右經名太陰其脈如毛而氣浮也肺病自得毛浮之脈金得令也得緩遲之脈土生金也故皆愈若得數脈者則劇何以知之數者南方火也火克西方之金金被火刑法當壅腫此為難治也</p>
<h4>脈法四十七</h4>
<p>師曰立夏得洪大脈是其本位其人病身體苦疼重者須發其汗若明日身不疼不重者不須發汗若汗　自出者明日便解矣何以言之立夏得洪大脈是其時脈故使然也四時仿此火旺於夏立夏得洪大脈是其本位之盛也其人病身體苦疼痛而沉重者風寒鬱其皮毛也（立夏濕動濕鬱則身重也）須發其汗若至明日身不疼不重者外邪欲解不須發汗也俟之必汗自出若汗　然自出者明日便解矣何以言之立夏得洪大脈是其脈之應時故使然也四時解期仿此類推</p>
<h4>脈法四十八</h4>
<p>問曰二月得毛浮脈何以據言至秋當死師曰二月之時脈當濡弱反得毛浮者故知至秋死二月肝用事肝屬木故應濡弱反得毛浮者是肺脈也肺屬金金來克木故知至秋死他皆仿此二月之時脈當濡弱反得毛浮之脈是木虛而金承（素問木位之下金氣承之）故知至秋死也蓋二月肝木用事肝屬木應當濡弱濡弱者陽氣方生木將昌盛之象反得毛浮者是肺脈也肺屬金金來克木春時肝木雖虛猶承令氣之旺秋則木更衰而金愈盛故知至秋當死他臟死期仿此類推</p>
<h4>脈法四十九</h4>
<p>問曰脈有殘賊何謂也師曰脈有弦緊浮滑沉澀此六脈名曰殘賊能為諸脈作病也殘賊者殘害而賊克之也脈弦緊浮滑沉澀木旺則脈弦土虛者忌之水旺則脈緊火虛者忌之表盛則脈浮裡虛者忌之裡盛則脈沉表虛者忌之血盛則脈滑氣虛者忌之氣盛則脈澀血虛者忌之此六脈名為殘賊能為諸脈作病也</p>
<h4>脈法五十</h4>
<p>寸口諸微亡陽諸濡亡血諸弱發熱諸緊為寒諸乘寒者則為厥鬱冒不仁以胃無穀氣脾塞不通口急不能言戰而栗也諸微亡陽陽虛則脈微也諸濡亡血血脫則脈濡也諸弱發熱脈弱則血虛而發熱也諸緊為寒脈緊則陰盛而生寒也諸乘寒者則為厥鬱冒不仁寒水旺盛而諸臟諸腑乘之因乘而愈盛寒氣發作侵侮脾胃則四肢厥逆怫鬱昏冒而無知覺以胃無穀氣水邪莫畏脾土寒濕氣塞不通故一身頑昧而弗用口急不能言語戰搖而寒栗也</p>
<h4>脈法五十一</h4>
<p>問曰濡弱何以反適十一頭師曰五臟六腑相乘故令十一問曰何以知乘腑何以知乘臟師曰諸陽浮數為乘腑諸陰遲澀為乘臟也濡弱者脈之最虛何以反居十一種之先濡弱木象木居五行之先此以五臟六腑因其濡弱而相乘故令脈具十一之形像也如濡弱而見弦是肝臟之乘也見微弦是膽腑之乘也心脈鉤脾脈緩肺脈毛腎脈石仿此類推言脈得濡弱則五臟六腑皆來相乘故濡弱之中兼具十一之象而濡弱常在十一之先也何以知乘我者為腑為臟凡諸陽脈浮數者為乘於腑諸陰脈遲澀者為乘於臟也（陰陽以尺寸言）</p>
<h4>脈法五十二</h4>
<p>問曰脈有相乘有縱有橫有逆有順何謂也師曰水行乘火金行乘木名曰縱火行乘水木行乘金名曰橫水行乘金火行乘木名曰逆金行乘水木行乘火名曰順也脈有臟腑相乘（上章）而相乘之中有縱有橫有逆有順水行乘火金行乘木是乘其所勝名曰縱火行乘水木行乘金是乘其所不勝名曰橫水行乘金火行乘木是子乘其母名曰逆金行乘水木行乘火是母乘其子名曰順也</p>
<h4>脈法五十三</h4>
<p>傷寒腹滿譫語寸口脈浮而緊此肝乘脾也名曰縱刺期門傷寒腹滿譫語是脾病也寸口脈浮而緊見肝家之弦脈此肝木乘脾土也名曰縱當刺厥陰之期門以泄肝氣脈浮而緊者名曰弦也（脈法三十九）肝脈弦故知為肝乘</p>
<h4>脈法五十四</h4>
<p>傷寒發熱嗇嗇惡寒大渴欲飲水其腹必滿自汗出小便利其病欲解此肝乘肺也名曰橫刺期門傷寒發熱嗇嗇惡寒大渴欲飲水其腹必滿是肺病也自汗出小便利見風木之疏泄此肝乘肺金也名曰橫亦當刺厥陰之期門以泄肝熱肺統衛氣而性收斂肝司營血而性疏泄發熱惡寒大渴腹滿是金氣斂閉而木不能泄也汗出便利是木氣發泄而金不能收也營泄而衛宣故其病欲解</p>
<h4>脈法五十五</h4>
<p>問曰病有洒淅惡寒而復發熱者何答曰陰脈不足陽往從之陽脈不足陰往乘之曰何以陽不足答曰假令寸口脈微名曰陽不足陰氣上入於陽中則洒洒惡寒也曰何以陰不足答曰假令尺脈弱名曰陰不足陽氣下陷入陰中則發熱也洒淅惡寒而復發熱者太陽之病也陰脈不足陽往從之則為發熱陽脈不足陰往乘之則為惡寒假令寸口脈微名曰陽不足陰氣乘虛而上入於陽中則洒洒而惡寒也假令尺脈弱名曰陰不足陽氣乘虛而下陷於陰中則發熱也蓋寸主衛尺主營營行脈中而盛於下衛行脈外而盛於上一定之理也病則衛閉而不得外達乃內乘陰位而陽遂虛營擾不得內守乃外乘陽位而陰遂虛陰位虛而陽乘之陽郁於內則發熱陽位虛而陰乘之陰束於外則惡寒此營衛易位之故也</p>
<h4>脈法五十六</h4>
<p>陽脈浮陰脈弱者則血虛血虛則筋急也其脈沉者營氣微也其脈浮而汗出如流珠者衛氣衰也營氣微者加燒針則血流而不行更發熱而煩躁也寸為陽尺為陰陽脈浮陰脈弱者則血虛血以養筋血虛則筋急陰脈曰弱不曰浮則脈沉可知其脈沉者營氣之微也營微而陽乘之此所以發熱之原也而陽脈之浮亦非陽盛其脈浮而汗出如流珠者衛氣之衰衛衰而陰乘之者所以惡寒之原也營氣微者必發熱若加燒針以爍其血則血之流者必燥結而不行衛氣阻郁遂乃更發熱而益以煩躁是發熱之故也陽虛於上則脈浮以其不根於下也陰虛於下則脈沉以其不根於上也陰陽俱盛者寸不甚浮有關以降之尺不甚沉有關以升之故陰陽不盛於尺寸而盛於關上以關者陰陽之中氣升降浮沉之樞軸也</p>
<h4>脈法五十七</h4>
<p>脈浮而數浮為風數為虛風為熱虛為寒風虛相搏則洒淅惡寒也脈浮而數浮為風之在表數為陽虛而陰乘也風則陽鬱而為熱虛則陰束而為寒風虛相合陽內閉而為熱則陰外束而為寒是洒淅惡寒之故也</p>
<h4>脈法五十八</h4>
<p>師曰病患脈微而澀者此為醫所病也大發其汗又數大下之其人亡血病當惡寒後乃發熱無休止時夏月盛熱欲著復衣冬月盛寒欲裸其身所以然者陽微則惡寒陰弱則發熱此醫發其汗令陽氣微又大下之令陰氣弱五月之時陽氣在表胃中虛冷以陽氣內微不能勝冷故欲著復衣十一月之時陽氣在裡胃中煩熱以陰氣內弱不能勝熱故欲裸其身又陰脈遲澀故知亡血也病患寸脈微而尺脈澀者此為醫所病也大發其汗又數大下之其人不但脫氣而又亡血病當先見惡寒後乃發熱無休止時其惡寒也反甚於夏夏月盛熱欲著復衣其發熱也反甚於冬冬月甚寒欲裸其身所以然者陽氣內微則惡寒陰氣內弱則發熱此醫發其汗使陽氣內微又數下之令陰氣內弱五月之時夏令正旺而陽氣在表胃中虛冷以陽氣之內微不能勝冷故欲著復衣十一月之時冬令正旺而陽氣在裡胃中煩熱以陰氣之內弱不能勝熱故欲裸其身又診其脈遲澀故知其亡血也</p>
<h4>脈法五十九</h4>
<p>諸脈浮數當發熱而洒淅惡寒若有痛處飲食如常者此內熱蓄積而有癰膿也諸脈浮數應當發熱而洒淅惡寒若有痛處飲食如常者此內熱蓄積而有癰膿也蓋鬱熱在內不得外發故內腐為膿而陽遏不達故見惡寒也</p>
<h4>脈法六十</h4>
<p>問曰脈病欲知愈未愈者何以別之答曰寸口關上尺中三處大小浮沉遲數同等雖有寒熱不解者此脈陰陽為和平雖劇當愈寸口關上尺中三處大小浮沉遲數同等是無偏陰偏陽之弊雖有寒熱不解而此脈陰陽和平即現下之病甚劇亦當自愈以其脈之不病也陰病見陽脈則生者陰極陽復所以生也陽病見陰脈則死者陰盛陽脫外見煩躁脈真病假所以死也若陽極陰復病脈皆真則又主生不主死蓋緣陰陽二氣絕則必死偏則可生平則病愈三部同等平而不偏是以愈也</p>
<h4>脈法六十一</h4>
<p>問曰凡病欲知何時得何時愈答曰假令半夜得病者明日日中愈日中得病者半夜愈何以言之日中得病半夜愈者以陽得陰則解也半夜得病明日日中愈者以陰得陽則解也日中得病今日半夜愈者以日中陽盛而病得夜半陰盛以濟之則解也夜半得病明日日中愈者以半夜陰盛而病得日中陽盛以濟之則解也</p>
<h4>脈法六十二</h4>
<p>病六七日手足三部脈皆至大煩而口噤不能言其人躁擾者必欲解也若脈和其人大煩目重瞼內際黃者此欲解也病而手足脈俱不至純陰無陽至六七日手足三部脈皆至是陽回於四末也微陽初復升於群陰之中而為陰邪所遏力弱不能遽升郁勃鼓蕩之際大煩口噤不能言語躁不安者必欲解也蓋陰陽一有復機終當戰勝而出重圍萬無久郁之理也若脈至而再見調和其人陽復不能遽升而大煩一見目重瞼內際黃者此欲解也蓋太陽膀胱之經起於目之內　瞼內際黃者陽明戊土司職衛氣衛氣發達而陽出於目也目重者眼皮濃重也人睡初醒眼皮必濃以陽氣出於目也（足脈足厥陰之五裡在毛際外女子取太衝在大趾本節後二寸陷中足少陰之太谿在內踝後足太陰箕門在魚腹上足陽明之跗陽在足跗上即趺陽也見素問三部九候論中）</p>
<h4>脈法六十三</h4>
<p>問曰傷寒三日脈浮數而微病患身涼和者何也答曰此為欲解也解以夜半脈浮而解者　然汗出也脈數而解者必能食也脈微而解者必大汗出也傷寒三日脈浮數而微病患身復涼和者此為欲解也解於夜半蓋脈之浮數身之煩熱俱屬陽證乃脈之浮數漸有微意身之煩熱已變涼和是邪熱之漸退而陰氣之續復也待至夜半則陰旺而全復故解於此際而其解也形狀不同其脈浮而解者表陽之旺然汗出也其脈數而解者裡陽之旺必能食也其脈微而解者表裡之陽俱虛必戰搖振栗而大汗出也</p>
<h4>脈法六十四</h4>
<p>問曰病有戰而汗出因得解者何也答曰脈浮而緊按之反芤此為本虛故當戰而汗出也其人本虛是以發戰以脈浮故當汗出而解也若脈浮而數按之不芤此人本不虛若欲自解但汗出耳不發戰也病有戰而汗出因得解者以脈浮而緊是傷寒之脈而按之反芤此為本氣之虛本虛則陽氣鬱於陰邪不能透發故當戰栗而後汗出也其人本虛是以汗前發戰以其脈浮則病在皮毛故當汗出而解也若脈浮而數按之不芤此其人本不虛若欲自解但安臥而汗出耳不至發戰也</p>
<h4>脈法六十五</h4>
<p>問曰病有不戰而汗出解者何也答曰脈大而浮數故知不戰汗出而解也脈大而浮數陽氣盛旺陰邪不能遏郁故不戰而汗解也</p>
<h4>脈法六十六</h4>
<p>問曰病有不戰不汗出而解者何也答曰其脈自微此以曾經發汗若吐若下若亡血以內無津液此陰陽自和必自愈故不戰不汗出而解也其脈自微弱則表裡無邪此以曾經發汗吐下亡血失津陰不濟陽未免煩熱時作然表裡邪去病根已除遲而津液續復陰陽自和必當自愈故不戰不汗而亦解</p>
<h4>脈法六十七</h4>
<p>脈浮而遲面熱赤而戰栗者六七日當汗出而解反發熱者差遲遲為無陽不能作汗其身必癢也脈浮而遲面色熱赤而身體戰栗者陽郁欲發虛而不遽發故面熱而身搖待至六七日經盡陽復當汗出而解若反熱者則解期差遲以脈遲是為無陽無陽則但能發熱而不能作汗氣鬱皮腠其身必癢也（陽復則病愈陽虛則解遲陽盡則命絕此下命絕數章發明首章陽病見陰脈者死之義病無陽復而死者亦無陽盡而生者也）</p>
<h4>脈法六十八</h4>
<p>寸口脈微尺脈緊其人虛損多汗知陰常在絕不見陽也寸口脈微陽氣衰也尺脈緊陰氣盛也虛損多汗衛敗而不斂也脈證見此是絕陰而無陽也</p>
<h4>脈法六十九</h4>
<p>脈浮而洪身汗如油喘而不休水漿不下形體不仁乍靜乍亂此為命絕也脈浮而洪陽不根陰也身汗如油難經所謂絕汗乃出（引靈樞語）大如貫珠轉出不流也喘而不休氣不歸根也水漿不下胃氣敗也形體不仁營衛之敗也乍靜乍亂神明之敗也</p>
<h4>脈法七十</h4>
<p>又未知何臟先受其災若汗出發潤喘而不休者此為肺先絕也陽反獨留形體如煙薰直視搖頭者此為心絕也唇吻反青四肢習者此為肝絕也環口黧黑柔汗發黃者此為脾絕也溲便遺失狂言目反直視者此為腎絕也命絕者（上章）未知何臟先受其災肺主氣而藏津若汗出發潤喘而不休者津液脫而氣絕根此為肺先絕也心為火而藏神若陽反獨留形體如煙薰直視搖頭者火獨光而神明敗此為心絕也肝色青而主風若唇吻反青四肢　習者木克土而風淫生（左傳云風淫末病　習者風氣發而四末戰搖也）此為肝絕也脾竅於口而色黃若環口黧黑柔汗發黃者水侮土而氣外脫此為脾絕也腎主二便而藏志若溲便遺失狂言反目直視者腎陽脫而志意亂此為腎絕也腎與太陽膀胱為表裡太陽起於目　行身之背目反直視者即為診要經終論太陽之脈其終也戴眼反折是也</p>
<h4>脈法七十一</h4>
<p>又未知何臟陰陽先絕若陽氣前絕陰氣後竭者其人死身色必青陰氣前絕陽氣後竭者其人死身色必赤腋下溫心下熱也青者木色肝腎皆陰也赤者火色心肺皆陽也腋下心下者陽之部溫熱者陽之氣也</p>
<h4>脈法七十二</h4>
<p>師曰寸脈下不至關為陽絕尺脈上不至關為陰絕此皆不治決死也若計其余命生死之期期以月節克之也尺寸之脈發現於上下而氣根於中焦中焦者所以升降陰陽而使之相交其脈現於關上若寸脈下不至關則陽根下斷是謂陽絕尺脈上不至關則陰根上斷是謂陰絕此皆不治決死也此際雖生命之余耳若計算其余命生死之期期以月之節氣克之如木弱忌金火弱忌水一交金水之節氣則死期至矣</p>
<h4>脈法七十三</h4>
<p>傷寒咳逆上氣其脈散者死謂其形損故也咳逆上氣是胃土上逆肺金不降肺主氣而性收脈散者金氣之不收也氣敗則死蓋氣所以薰膚而充身氣散則骨枯肉陷而形損故也</p>
<h4>脈法七十四</h4>
<p>師曰脈病患不病名曰行尸以無王氣卒眩仆不識人者短命則死人病脈不病名曰內虛以無穀神雖困無苦脈病患不病名曰行尸以其脈病而無王氣倘卒然眩仆不識人者值其人之短命則死矣人病脈不病者名曰內虛以其穀神之不旺病在形骸而不在精神雖困無妨也</p>
<h4>脈法七十五</h4>
<p>問曰上工望而知之中工問而知之下工脈而知之愿聞其說師曰病家人請云病患若發熱身體疼病患自臥師到診其脈沉而遲者知其瘥也何以知之表有病者脈當浮大今脈反沉遲故知其愈也假令病患云腹內卒痛病患自坐師到脈之浮而大者知其瘥也何以知之裡有病者脈當沉而細今脈浮大故知其愈也發熱身痛自臥是表病也診脈沉遲知表病瘥也以表有病者脈當浮大今不浮大而反沉遲故知其愈也腹痛是裡病也診脈浮大知裡病瘥也以裡有病者脈當沉細今不沉細而反浮大故知其愈也（此提望聞問切之綱下章詳發）</p>
<h4>脈法七十六</h4>
<p>師曰病患家來請云病患發熱煩極明日師到病患向壁臥此熱退也設令脈不和處言已愈發熱煩極必不得臥向壁靜臥此煩熱已去也假令脈猶未和亦頃當自愈此可處言已愈也（此望知之法也）</p>
<h4>脈法七十七</h4>
<p>設令向壁臥聞師到不驚起而盼視若三言三止脈之咽唾者此詐病也設令脈自和處言汝病太重當須服吐下藥針灸數十百處乃愈向壁安臥是無病邪聞師到不驚起而盼視若三言三止脈之咽唾者此詐病也設令脈自和平亦處言汝病太重當須服大吐大下之藥針灸數十百處以恐怖之則立言自愈矣</p>
<h4>脈法七十八</h4>
<p>師持脈病患欠者無病也脈之呻者病也言遲者風也搖頭言者裡痛也行遲者表強也坐而伏者短氣也坐而下一腳者腰痛也裡實護腹如懷卵物者心痛也平人神倦若睡則欠呵非病證也故欠者無病身有痛苦則呻故呻者有病內風者內濕外燥語言蹇澀故言遲為風心腹痛極則頭搖故頭搖言者裡痛也陽性輕清表郁氣濁故言重而行遲短氣者身仰則氣愈短故坐而身伏腰痛則身彎不敢直故坐則下一腳心痛則用手護腹形如懷抱卵物也（此望聞之法也）</p>
<h4>脈法七十九</h4>
<p>問曰人病恐怖者其脈何狀師曰脈形如循絲累累然其面白脫色也腎主恐素問氣厥論恐則氣下下之極則腎也少陰之脈微細恐怖少陰之氣動故脈細如絲累累然驚懼不安之象也恐主於腎而六脈俱細蓋諸臟奪氣改而從腎也肝藏血而主色色者血之華也肝氣下（恐則氣下）而營血陷不能華也木虛而金氣乘之故色脫而面白白者金色也（此望切之法也）</p>
<h4>脈法八十</h4>
<p>人愧者其脈何類師曰脈浮而面色乍白乍赤愧發於心動火炎故面乍赤赤者心之色也火炎金傷故面色乍白白者金之色也心肺之脈俱浮心肺氣動是以脈浮人愧而汗出者心動火炎而刑肺氣故氣泄而為汗也（此望切之法也）</p>
<h4>脈法八十一</h4>
<p>人不飲其脈何類師曰脈自澀唇口乾燥也素問經脈別論飲入於胃游溢精氣上輸於脾脾氣散精上歸於肺通調水道下輸膀胱水精四布五經並行蓋水入於胃胃陽蒸動化為精氣游溢升騰上輸於脾脾氣散此水精上歸於肺肺氣宣化氤氳和洽所謂上焦如霧也肺氣清肅則經絡通調霧氣不滯降於膀胱而化尿溺人身身半以上水少氣多是謂氣道身半以下氣少水多是謂水道氣水一也上下陰陽之分耳水道通調下輸膀胱水滓注瀉溲便前行所謂下焦如瀆也水氣之由經而下行也渣滓輸於膀胱而精華滋於經絡洒於臟腑潤於孔竅濁者下而清者上水精四布五經並行是以經脈流利而不澀唇口滑澤而不燥不飲則經絡失滋故脈自澀孔竅不潤故唇口乾燥也（此亦望切之法）</p>
<h4>脈法八十二</h4>
<p>師曰伏氣之病以意候之今月之內欲有伏氣假令舊有伏氣當須脈之若脈微弱者當喉中痛似傷非喉痹也病患雲實喉中痛雖爾今復欲下利伏氣者氣之伏藏而未發也凡病之發必舊有伏藏之根氣之欲伏未形於脈故應以意候之見其脈氣沉郁凝澀則今日之內恐其欲有伏氣自此埋根作異日之病基也假令舊有伏氣已形於脈當須脈之若脈微弱者是少陰之伏氣也少陰之病法當咽痛而復下利以腎司二便而脈循咽喉也病於陰分則下利病及陽分則咽痛陰在下而性遲陽在上而性疾下利未作咽喉先見故當喉中痛也其狀似乎喉傷實非厥陰火升之喉痹也征之病患自雲實咽中痛陽分之病見矣雖爾陰分之病猶未作也今且復欲下利遲則亦作矣（此於望聞問切之外廣以意候之法也）</p>
<h4>脈法八十三</h4>
<p>問曰脈有災怪何謂也師曰假令人病脈得太陽與形證相應因為作湯比還送湯如食頃病患乃大吐下利腹中痛師曰我前來不見此證今乃變易是名災怪問曰緣何作此吐利答曰或有舊時服藥今乃發作故為此災怪耳脈證無差而吐利忽作誠為怪異大抵藥經人手容有別緣或者婢外家冤讎毒行曖昧事未可料也</p>
<h2>卷三</h2>
<h3>太陽經上編（五十三章）</h3>
<h4>太陽本病</h4>
<p>太陽以寒水主令統領六經膀胱者太陽之腑太陽者膀胱之經六經之次三陰在裡三陽在表太陽主皮毛之分次則陽明次則少陽次則太陰少陰厥陰總以太陽為主陽盛於外在外之陽謂之衛氣衛者衛外而為固也衛氣之內則為營血營者營運而不息也營司於肝為衛之根衛司於肺為營之葉營衛二氣化於中宮飲食入胃游溢精氣傳輸經絡精專者行於脈中命曰營氣　悍者行於脈外命曰衛氣營衛分司於金木而皆統於太陽故太陽經病有傷衛傷營之不同衛氣為陽營血為陰然血升而化神魂是陰含陽也故肝血溫暖而升散氣降而化精魄是陽含陰也故肺氣清涼而降斂人之汗孔冬闔而夏開者以肝心主營木火旺於春夏則營血溫散而竅開肺腎主衛金水旺於秋冬則衛氣清斂而竅闔寒去溫來而木火不得發泄衛氣斂閉而孔竅常闔襲之以風氣欲斂而不能斂故傷在衛氣熱退涼生而金水不得斂藏營血發散而孔竅常開侵之以寒血欲散而不能散故傷在營血風傷衛者因於氣涼而竅閉也寒傷營者因於天溫而竅開也春夏而竅開則病寒而不病風秋冬而竅闔則病風而不病寒故秋冬寒盛而非不中風春夏風多而亦有傷寒靈樞歲露四時八風之中人也故有寒暑寒則皮膚急而腠理閉暑則皮膚緩而腠理開因其開也其入深其病患也卒以暴因其閉也其入淺其病患也徐以遲開則傷營閉則傷衛以營深而衛淺也風性疏泄而寒性閉塞氣性收斂而血性發揚衛斂而竅閉中風則氣欲斂而風泄之是以有汗風愈泄而氣愈欲斂故內遏營血而生裡熱營泄而竅開傷寒則血欲泄而寒束之是以無汗寒愈束而血愈欲泄故外閉衛氣而生表寒人之本氣不郁則不盛郁則陽虛之人臟陰內盛而為寒陰虛之人經陽外盛而為熱是傳腑傳臟之由來也而其入腑入臟必先施於皮毛故六經之病總起於太陽一經以其在外而先傷也邪在營衛失於解散則或入於腑或入於臟視其人之裡氣為分途陽衰則入太陰而為寒陰衰則入陽明而為熱無異路也貴於營衛方病初治不瘥則後日諸變無自生矣衛行脈外而內交於營營行脈中而外交於衛營衛調和是謂平人寒邪傷營則營血束閉其衛氣故衛鬱而生表寒風邪傷衛則衛氣遏閉其營血故營鬱而生裡熱營衛外發則病解營衛內陷則病進陷而敗沒則死也傷寒中風之死證皆營衛之陷敗也衛氣之外發賴乎經中之陽盛營血之外發賴於臟中之陰盛陽統於陽明陰統於太陰陽明之經氣旺則衛氣外發而汗出其陽虛者衛郁欲發而不能則振栗戰搖而後汗出其再虛者寒戰而不見汗出是陽不勝陰衛氣將陷當泄陰而扶陽開皮毛而發衛氣太陰之經氣旺則營氣外發而汗出其陰虛者營郁欲發而不能則煩躁怫鬱而後汗出其更虛者躁悶而不見汗出是陰不勝陽營氣將陷當泄陽以扶陰開肌表而發營血陽盛於腑陰盛於臟衛氣之陷者以其臟陰盛而內寒也營血之陷者以其腑陽盛而內熱也太陽為六經之長兼統營衛方其營衛初病外解經絡內調臟腑使臟寒不動腑熱不作異日無入臟入腑之患是善治太陽者也　太陽經病不過風寒二者而已風用桂枝寒用麻黃風而兼寒寒而兼風則有桂麻各半之方風而火鬱寒而水停則有大小青龍之制風寒已解而內燥則有白虎清金之法風寒未透而內濕則有五苓利水之劑風寒外散血熱裡郁則有桃核承氣抵當湯丸之設此皆太陽風寒之本病處治之定法也人之本氣不偏陽郁不至極熱陰郁不至極寒本氣稍偏病則陰盛而為寒陽盛而為熱而以溫涼補泄挽其氣化之偏皆可隨藥而愈不經誤治斷不至遂成壞病熟悉仲景太陽本病諸法則風寒之證解於太陽一經無復壞事已</p>
<h4>太陽經提綱一（太陽一）</h4>
<p>太陽為六經之綱領其經行身之背其氣主一身之皮毛故病則脈浮頭項強痛而惡寒緣邪在本經但病其經脈所行之部分而不及於他經也在經失解自此而內傳二陽裡入三陰腑熱作則脈浮大臟寒作則脈沉細寒熱鬱發諸病叢生太陽之脈證然後變耳若其初感腑熱未作臟寒未動之時太陽之病情未改證狀猶存則只有脈浮頭項強痛惡寒而已即合病於別經別經病見而太陽未罷亦必見太陽之脈證也揣太陽之脈證而分太陽之風寒何至淆亂於別經亡羊於歧路也仲景提太陽之綱只此一語而太陽之情狀了了所謂握片言而居要也太陽之為病脈浮頭項強痛而惡寒太陽在表故脈浮其經行身之背起於睛明（在目內　足太陽經之穴名）自頭下行而走足病則經氣上郁壅塞不降故強痛也風寒閉其營衛氣鬱不能透泄則外見惡寒寒者太陽之令氣也</p>
<h4>風寒總綱一（太陽二）</h4>
<p>病有發熱惡寒者發於陽也無熱惡寒者發於陰也發於陽者七日愈發於陰者六日愈以陽數七陰數六也此中風傷寒之總綱也衛氣為陽風傷衛氣是發於陽也衛傷則遏閉營血而生內熱營血為陰寒傷營血是發於陰也營傷則束閉衛氣而生外寒故中風之初先見發熱傷寒之初先見惡寒中風內熱而營血不宣亦外見惡寒傷寒外寒而衛氣不達乃續見發熱中風非無外寒究竟內熱多而外寒少傷寒非無內熱究竟內熱少而外寒多營司於肝木木升則火化木火同情故肝血常溫衛司於肺金金降則水生金水同性故肺氣常涼肝藏營血而脾為生血之本中風營病臟陰衰者多傳陽明而為熱肺藏衛氣而胃乃化氣之源傷寒衛病腑陽弱者多傳太陰而為寒風傷衛者營郁裡熱若經中陰旺則營氣不至內蒸故七日經盡而自愈寒傷營者衛郁表寒若經中陽旺則衛氣不至內陷故六日經盡而自愈此風寒之順證在經而不入於臟腑者也若中風陽盛而入於腑傷寒陰盛而入於臟則營衛方憂其內陷非補泄以救其偏不能應期而愈也六日七日水火之成數大衍之數天一生水地六成之地二生火天七成之火陽也故數七水陰也故數六滿其成數是以病愈也</p>
<h4>風寒總綱二（太陽三）</h4>
<p>病患身大熱反欲得近衣者熱在皮膚寒在骨髓也身大寒反不欲近衣者寒在皮膚熱在骨髓也申明上章寒熱之義陰盛則內寒外熱內寒故欲近衣陽盛則內熱外寒內熱故不欲近衣以其欲不欲而內外之寒熱見焉經所謂臨病患問所便也（素問語）上章發熱惡寒無熱惡寒者言其外也風傷衛者多內熱寒傷營者多外寒恐人略內而詳外故發此章</p>
<h4>太陽中風（十五章）</h4>
<p>風者天地發生之氣也皮毛未開風氣外客傷其衛陽則竅開而衛泄衛性降斂衛欲閉而風泄之欲閉不得則內乘陰位而遏營血是以病也（曰風泄者風閉其衛營鬱而外泄也）</p>
<h4>太陽中風一（太陽四）</h4>
<p>太陽病發熱汗出惡風脈緩者名為中風太陽之經有營衛之分營行脈中衛行脈外風寒客之各有所傷風則傷衛寒則傷營衛傷則閉其營血故發熱營傷則閉其衛氣故惡寒營為寒閉則無汗衛為風鼓則有汗以衛氣初閉營郁猶得外泄也汗出衛泄是以表虛而惡風寒性凝澀傷寒則皮毛閉塞故脈緊風性動蕩傷風則經氣發泄故脈緩</p>
<h4>太陽中風桂枝湯證</h4>
<p>肺通衛氣風傷於衛行其疏泄之令衛氣不斂是以有汗衛愈泄而愈閉閉而不開則營鬱而發熱桂枝湯所以通經絡而泄營郁也</p>
<h4>太陽中風桂枝一（太陽五）</h4>
<p>太陽病頭疼發熱汗出惡風者桂枝湯主之風為陽邪衛為陽氣風邪中人則陽分受之故傷衛氣衛秉肺氣其性收斂風鼓衛氣失其收斂之職是以汗出風愈泄而衛愈斂則內遏營血鬱蒸而為熱是衛氣被傷而營血受病也故傷在衛氣而治在營血桂枝湯甘草大棗補脾精以滋肝血生薑調臟腑而宣經絡芍藥清營中之熱桂枝達營中之郁也汗者營衛之所蒸泄孔竅一開而營郁外達則中風愈矣</p>
<h4>桂枝湯（一）</h4>
<p>桂枝（三兩去皮）　芍藥（一兩）　甘草（二兩炙）　大棗（十二枚劈）　生薑（三兩）</p>
<p>上五味　咀以水七升微火煮取三升去滓適寒溫服一升服已須臾　稀粥一升余以助藥力溫覆令一時許通身　微有汗出益佳不可令如水流漓病必不除若一服汗出病瘥停後服不必盡劑若不汗更服依前法又不汗後服小促其間半日許令三服盡若病重者一日一夜服周時觀之服一劑盡病證猶在者更作服若汗不出者可服至二三劑禁生冷黏滑肉面五辛酒酪臭惡等物</p>
<h4>銖兩升斗考</h4>
<p>漢書律歷志量者龠合升斗斛也本起於黃鐘之龠用度瞰審其容以子穀　黍中者千有二百實其龠以井水準其概合龠為合十合為升十升為斗十斗為斛而五量嘉矣權者銖兩斤鈞石也一龠容千二百黍重十二銖兩之為兩二十四銖為兩十六兩為斤三十斤為鈞四鈞為石而五權謹矣一千二百黍為一龠重今之一錢七分合龠為合今之三錢四分也十合為升今之三兩四錢也一龠重十二銖今之一錢七分也兩之為兩今之三錢四分也</p>
<h4>桂枝證二（太陽六）</h4>
<p>太陽中風陽浮而陰弱陽浮者熱自發陰弱者汗自出嗇嗇惡寒淅淅惡風翕翕發熱鼻鳴乾嘔者桂枝湯主之寸為陽尺為陰營候於尺衛候於寸風泄衛氣故寸脈浮邪不及營故尺脈弱風愈泄而氣愈閉故營鬱而發熱氣愈閉而風愈泄故營疏而汗出嗇嗇淅淅者皮毛振栗之意翕翕盛也猶言陣陣不止也肺主皮毛開竅於鼻皮毛被感肺氣壅遏旁無透竅故上循鼻孔而鼻竅窄狹泄之不及故沖激作響而為鼻鳴衛氣閉塞郁其胃氣獨陰不降故生乾嘔桂枝泄其營郁則諸證愈矣</p>
<h4>桂枝證三（太陽七）</h4>
<p>太陽病發熱汗出者此為營弱衛強故使汗出欲救邪風者桂枝湯主之營弱衛強即上章陽浮陰弱之義衛閉而遏營血也邪風者經所謂虛邪賊風也風隨八節而居八方自本方來者謂之正風不傷人也自沖後來者謂之賊風傷人者也如夏至風自南來是正風也若來自北方是沖後也義詳靈樞九宮八風篇</p>
<h4>桂枝證四（太陽八）</h4>
<p>病患臟無他病時發熱自汗出而不愈者此為衛氣不和也先於其時發汗則愈桂枝湯主之陽明腑病汗愈出而胃愈燥故發熱汗出而病不愈病患臟氣平和無他胃熱之證時發熱自汗出而不愈者此為衛氣得風鬱勃而不和也當先於其時以桂枝發汗則愈遲恐變生他病也</p>
<h4>桂枝證五（太陽九）</h4>
<p>病常自汗出者此為營氣和營氣和者外不諧以衛氣不共營氣和諧故耳以營行脈中衛行脈外復發其汗營衛和則愈宜桂枝湯病常自汗出者營氣疏泄此為營氣之和然營氣自和者必外與衛氣不相調諧以衛被風斂內遏營血不與營氣和諧故耳以營行脈中衛行脈外衛鬱而欲內斂營鬱而欲外泄究之衛未全斂而營未透泄是以有汗而風邪不解復發其汗使衛氣不閉營氣外達二氣調和則病自愈宜桂枝湯也衛閉而營郁則營不和衛未全閉而營得汗泄此為營氣猶和然此之和者衛被風斂而未全閉也閉則營氣不和矣以衛常欲斂不與營氣和諧終有全閉之時汗之令營郁透發則二氣調和也</p>
<h4>桂枝證六（太陽十）</h4>
<p>太陽病初服桂枝湯反煩不解者先刺風池風府卻與桂枝湯則愈風池足少陽穴風府督脈穴在項後大椎之上督與太陽同行於背而足少陽經亦行項後兩穴常開感傷最易感則傳之太陽太陽中風之病皆受自兩穴服桂枝湯風應解矣反煩不解者風池風府必有內閉之風不能散也先刺以泄兩穴之風再服桂枝無不愈矣</p>
<h4>桂枝證七（太陽十一）</h4>
<p>太陽病外證未解脈浮弱者當以汗解宜桂枝湯太陽病失於解表經熱不泄則自表達裡然裡證雖成而外證不能自解凡脈見浮弱者猶當汗解宜桂枝湯也外解後審有裡證乃可議下耳脈浮弱即前章陽浮陰弱之義</p>
<h4>桂枝證八（太陽十二）</h4>
<p>太陽病外證未解者不可下也下之為逆欲解外者桂枝湯主之太陽病外證未解雖有裡證不可下也下之衛陽內陷此之為逆欲解外者不越桂枝也外解已然後裡證可議下否耳</p>
<h4>桂枝證九（太陽十三）</h4>
<p>夫病脈浮大問病者言但便硬耳設利之為大逆硬為實汗出而解何以故脈浮當以汗解陽明腑病脈浮大（陽明篇二陽合病脈浮大上關上）病脈浮大是有腑證乃問病者但言覺便硬耳未至痛滿也則非急下之證設遽利之此為大逆蓋便硬雖內實而表證尚在猶須汗出而解不宜下也此何以故其脈大縱屬內實而脈浮則當以汗解也</p>
<h4>桂枝證十（太陽十四）</h4>
<p>欲自解者必當先煩乃有汗而解何以知之脈浮故知汗出解按宛鄰本原脫此一條今補於此文在太陽篇也黃氏注不可考大抵亦上條意</p>
<h4>桂枝證十一（太陽十五）</h4>
<p>太陽病未解脈陰陽俱停必先振栗汗出而解但陽脈微者先汗出而解但陰脈微者下之而解若欲下之宜調胃承氣湯（方在陽明二十）</p>
<p>太陽表證未解脈忽尺寸俱停止而不動者此氣虛不能外發營衛鬱閉之故也頃之必先振栗戰搖而後汗出而解其未停止之先尺寸之脈必有大小不均若但寸脈微弱者是陽郁於下必陽氣升發汗出而後解此先振栗而後汗出者也若但尺脈微弱者是陰虛腸燥下竅堵塞得汗不解必下之通其結燥使胃熱下泄而後解陽明病腑熱蒸發則汗出表解今太陽病表證未解是內熱未實此時若欲下之宜於汗後用調胃承氣硝黃甘草調其胃腑之燥熱也</p>
<h4>忌桂枝十二（太陽十六）</h4>
<p>酒客病不可與桂枝湯得湯則嘔以酒客不喜甘故也大棗甘草甘味動嘔也</p>
<h4>忌桂枝證十三（太陽十七）</h4>
<p>凡服桂枝湯吐者其後必吐膿血也大凡服桂枝湯即吐者胸膈濕熱鬱遏桂枝益其膈熱下咽即吐緣其胃氣上逆心下痞塞肺郁生熱無路下達桂枝辛溫之性至胸而出不得入胃腑而行經絡是以吐也其後濕熱瘀蒸必吐膿血此宜涼辛清利之劑不宜辛溫也</p>
<h4>忌桂枝證十四（太陽十八）</h4>
<p>桂枝本為解肌若其人脈浮緊發熱汗不出者不可與也常須識此勿令誤也桂枝本解肌表以散風邪若其人脈浮而緊發熱汗不出者是寒傷營血營傷則束其衛氣是當去芍藥之泄營血而用麻黃以泄衛氣桂枝不可與也與之表寒不解反益經熱是謂之誤風家用桂枝所以不助經熱者以其皮毛無寒孔竅不閉無須麻黃發表但以芍藥之酸寒泄其營血桂枝之辛溫通其經絡血熱自能外達若傷寒服之衛郁莫泄經熱愈增是助邪也</p>
<h4>太陽傷寒（九章）</h4>
<p>寒者天地閉藏之氣也皮毛未合寒氣內入傷其營陰則竅闔而營閉營性升發營欲泄而寒閉之欲泄不能則外乘陽位而束衛氣是以病也</p>
<h4>太陽傷寒一（太陽十九）</h4>
<p>太陽病或已發熱或未發熱必惡寒體疼嘔逆脈陰陽俱緊者名曰傷寒陽郁則發熱陰氣外束則惡寒寒閉皮毛經氣不得通達則壅遏而為痛經絡鬱閉衛氣遏逼濁陰上逆則為嘔逆經脈束迫不得發越則尺寸俱緊</p>
<h4>太陽傷寒麻黃湯證</h4>
<p>肝藏營血寒傷於營行其閉藏之令營血不宣是以無汗營愈閉而愈泄泄而不通則衛鬱而寒生麻黃湯所以開皮毛而泄衛郁也</p>
<h4>太陽傷寒麻黃證一（太陽二十）</h4>
<p>太陽病頭痛發熱身疼腰痛骨節疼痛惡寒無汗而喘者麻黃湯主之寒為陰邪營為陰氣陰邪中人則陰分受之故傷營血血秉肝氣其性疏泄寒閉營陰失其疏泄之權是以無汗寒愈閉而血愈泄則外束衛氣閉藏而為寒是營血被傷而衛氣受病也故傷在營血而治在衛氣麻黃湯甘草保其中氣桂枝發其營郁麻黃泄其衛氣杏仁利其肺氣降逆而止喘也孔竅一開而衛郁外達則傷寒愈矣　衛氣為陽外行皮毛營血為陰內行經絡肺藏氣而主衛肝藏血而司營肺金收斂肝木疏泄陰陽自然之性也肝性疏泄而營血之內守者肺氣斂之也肺氣收斂而衛陽之外發者肝氣泄之也收斂則無汗疏泄則有汗風傷衛氣衛病而非營病也然衛被風斂則內閉營陰營氣不通是以發熱故以桂枝泄經熱而達營郁氣病而用血藥者以氣傷而累血也寒傷營血營病而非衛病也然營為寒束則外閉衛陽衛陽不宣是以惡寒故以麻黃泄表寒而達衛郁血病而用氣藥者以血傷而累氣也桂枝泄其肝血麻黃泄其肺氣營衛分屬於肺肝而統司於太陽故太陽風寒之初治首以桂枝麻黃二方為定法也</p>
<h4>麻黃湯（二）</h4>
<p>麻黃（三兩去節）　桂枝（一兩去皮）　甘草（一兩炙）　杏仁（七十枚湯泡去皮尖及兩仁者）</p>
<p>上四味以水九升先煮麻黃減二升去上沫內諸藥煮取二升半去渣溫服八合覆取微似汗不須　飲余如桂枝法將息</p>
<h4>麻黃證二（太陽二十一）</h4>
<p>脈浮者病在表可發汗宜麻黃湯脈浮而數者可發汗宜麻黃湯浮為在表表被風寒則宜汗浮數即浮緊之變文緊則必不遲緩亦可言數是傷寒之脈當以麻黃發汗也</p>
<h4>麻黃證三（太陽二十二）</h4>
<p>傷寒發汗宜解半日許復煩脈浮數者可更發汗宜桂枝湯（方在太陽三）</p>
<p>傷寒服麻黃發汗已解乃半日許復煩脈見浮數是衛郁已泄而營郁不達可更發汗以泄其營宜桂枝湯也</p>
<h4>麻黃證四（太陽二十三）</h4>
<p>傷寒不大便六七日頭痛有熱者與承氣湯（太陽入陽明去路）其小便清者知不在裡仍在表也當須發汗（此麻黃證）若頭痛者必衄宜桂枝湯（方在太陽五此麻黃證中又有用桂枝者）</p>
<p>陽明腑病胃燥便難傷寒不大便至六七日頭痛而有熱者是有陽明裡證宜與承氣湯以泄裡熱然陽明病小便當赤若小便清者則病不在裡猶在表也當須發汗以解表寒若頭痛不已者是衛郁不得旁泄而逆沖頭面故致頭痛及其郁迫莫容自尋出路必將沖突鼻竅以泄積郁衛氣上泄升逼營血是為衄證此宜以桂枝泄其營郁使不閉束衛氣衛氣松緩則衄證免矣</p>
<h4>麻黃證五（太陽二十四）</h4>
<p>太陽病脈浮緊發熱身無汗自衄者愈發熱無汗而脈浮緊是宜麻黃發汗以泄衛郁若失服麻黃皮毛束閉衛郁莫泄蓄極思通勢必逆沖鼻竅而為衄證自衄則衛泄而病愈矣</p>
<h4>麻黃證六（太陽二十五）</h4>
<p>傷寒脈浮緊不發汗以致衄者宜麻黃湯主之浮緊之脈應當發汗失不發汗衛郁莫泄因而致衄是緣不早服麻黃故至此當先以麻黃發之勿俟其衄也</p>
<h4>麻黃證七（太陽二十六）</h4>
<p>太陽病脈浮緊無汗發熱身疼痛八九日不解表證仍在此當發汗麻黃湯主之服藥已微除其人發煩目瞑劇者必衄衄乃解所以然者陽氣重故也發熱無汗脈浮緊而身疼痛此麻黃湯證失不早服至八九日不解而表證仍在此當發汗宜麻黃湯若衛氣閉塞泄之不透服藥之後病僅微除其人猶覺煩躁昏暈未能全解劇者衛郁升突必至鼻衄衄乃盡解所以然者久病失解陽氣之郁遏太重故也</p>
<h4>忌麻黃證八（太陽二十七）</h4>
<p>脈浮緊者法當身疼痛宜以汗解之假令脈尺中遲者不可發汗何以知之然以營氣不足血少故也（太陽入少陰去路）</p>
<p>衛候於寸營候於尺尺中遲者營氣不足以肝脾陽虛而血少故也汗泄營中溫氣則生亡陽諸變故不可發汗然者答辭與難經然字同義</p>
<h4>太陽風寒雙感證（四章）</h4>
<p>太陽病風則桂枝寒則麻黃乃有風寒雙感之證爰垂桂麻各半之方營衛兼發風寒俱去脈法風則傷衛寒則傷營營衛俱傷當發其汗此之謂也若夫風多而寒少則有桂二麻一之劑仍是各半法度因病而小變者也至於內熱微而表寒輕桂麻各半之法不相合矣用桂枝之二越婢之一微宣表寒而輕清裡熱此頗似大青龍法而實亦不同義更妙也則桂麻各半所以繼桂麻二方之後桂枝越婢開青龍一方之先也</p>
<h4>桂枝各半證一（太陽二十八）</h4>
<p>太陽病得之八九日如瘧狀發熱惡寒熱多寒少其人不嘔清便欲自可一日二三度發脈浮緩者為欲愈也脈微而惡寒者此陰陽俱虛不可更發汗更下更吐也面色反有熱色者未欲解也以其人不得小汗出身必癢宜桂枝麻黃各半湯（清與圊通）</p>
<p>如瘧狀者營陰衛陽之相爭陽郁於內則發熱陰郁於中則惡寒蓋風寒雙感營衛俱傷寒傷營則營欲泄風傷衛則衛欲閉營欲泄而不能泄則斂束衛氣而為寒衛欲閉而不能閉則遏閉營血而為熱及其衛衰而營血外發又束衛氣營衰而衛氣內斂又遏營血此先中於風而後傷於寒營泄衛閉彼此交爭故寒熱往來形狀如瘧也太陽病得之八九日之久證如瘧狀發熱惡寒發熱多而惡寒少此風多於寒衛傷頗重而營傷頗輕如其寒熱不能頻作是後章桂二麻一之證也若其人上不嘔下不泄則中氣未傷寒熱一日二三度發則正氣頗旺頻與邪爭脈微和緩則邪氣漸退是為欲愈無用治也若其脈微弱而又惡寒者此衛陽營陰之俱虛蓋營虛則脈微衛虛則惡寒（後章此無陽也即解此句）虛故不可更以他藥發汗吐下也如其發熱脈浮是後章桂枝越婢之證也若外不惡寒而面上反有熱色者是陽氣蒸發欲從外解而表寒鬱迫未欲解也使得小汗略出則陽氣通達面無熱色矣以其正氣頗虛不得小汗陽郁皮腠莫之能通是其身必當發癢解之以桂枝麻黃各半湯　營衛俱傷前後四章三證而於首章內一證三變伏下三章之線下三章分承首章而發明之</p>
<h4>桂枝麻黃各半湯（三）</h4>
<p>桂枝（一兩十六銖）　芍藥（一兩）　甘草（一兩炙）　大棗（四枚）　生薑（一兩）　麻黃（一兩）　杏仁（三十四枚去皮尖及兩仁者）</p>
<p>上七味以水五升先煮麻黃一二沸去上沫內諸藥煮取一升八合去滓溫服八合</p>
<h4>桂枝越婢證二（太陽二十九）</h4>
<p>形作傷寒其脈不弦緊而弱弱者必渴被火者必譫語弱者發熱脈浮解之當汗出愈此申明上章之義前章發熱惡寒發熱多而惡寒少是形作傷寒也傷寒脈當弦緊乃脈微而惡寒（微即弱之變文）其脈不弦緊而弱必緣血虛血虛脈弱者必滿若被火薰愈爍其血不止渴也必作譫語脈弱是以發熱偏多脈法諸弱發熱是也發熱是營氣之虛而惡寒是衛氣亦虛也故上章謂之陰陽俱虛然虛而外見惡寒非無表證有表證脈必浮如其發熱而脈浮則陰陽雖俱虛而解之之法究當令其汗出而愈但發汗另有善方不可以他藥發表耳下章桂枝二越婢一湯則美善而無弊矣</p>
<h4>桂枝越婢證三（太陽三十）</h4>
<p>太陽病發熱惡寒熱多寒少脈微弱者此無陽也不可更汗宜桂枝二越婢一湯此申明上二章之義前證發熱惡寒熱多寒少形作傷寒而其脈不弦緊而微弱者以血藏於肝而內胎君火實以陰質而抱陽氣血虛脈弱是無陽也其惡寒雖少不可不解發熱既多不可不清但不可更以他藥發汗宜桂枝二越婢一湯重泄營血輕泄衛氣而兼清內熱則表裡全瘳矣此無陽也即前章陰陽俱虛意此不可更汗發明前章不可更發汗更下更吐句義言尋常汗吐下法俱不可更用當另有汗法桂枝越婢是也（此章包上發熱脈浮意）二章是首章脈微惡寒一條治法</p>
<h4>桂枝二越婢一湯（四）</h4>
<p>桂枝（十八銖）　芍藥（十八銖）　甘草（十八銖）　大棗（四枚）　生薑（一兩三錢）　麻黃（十八銖）　石膏（十四銖）</p>
<p>上七味　咀以水五升先煮麻黃三沸去上沫內諸藥煮取二升溫服一升</p>
<h4>桂二麻一證四（太陽三十一）</h4>
<p>服桂枝湯大汗出脈洪大者與桂枝湯如前法若形如瘧日再發者桂枝二麻黃一湯此總申明上三章之義如服桂枝湯大汗出而表未解而脈又洪大（洪大即脈浮之變文）是表有寒而裡有熱此亦桂枝越婢證可與桂枝湯如前法而加越婢也若前證之形如瘧狀而無洪大之脈寒熱日僅再發不能二三度者是正氣虛不能頻與邪爭也其風邪多而寒邪少宜桂枝二麻黃一重泄營血而輕泄衛氣乃為合法也此章是首章一日二三度發者一條治法以其不能二三度發是為未欲愈故也　前章脈微脈弱脈浮脈微弱脈洪大總對弦緊言微弱即不弦緊洪大即浮意勿泥</p>
<h4>桂枝二麻黃一湯（五）</h4>
<p>桂枝（一兩七銖）　芍藥（一兩六銖）　甘草（一兩二銖）　大棗（五枚）　生薑（一兩六銖）　麻黃（十六銖）　杏仁（十六枚去皮尖）</p>
<p>上七味以水五升先煮麻黃一二沸去上沫內諸藥煮取二升去滓溫服一升日再服</p>
<h4>太陽傷寒大青龍證（二章）</h4>
<p>太陽中風脈緩頭痛汗出而不煩躁此其脈緊身痛無汗而煩躁者衛閉而營不能泄也故其脈證似傷寒太陽傷寒脈緊身疼此其脈緩而身不疼者營閉而衛不能泄也故其脈證似中風中風衛閉而營郁陽盛者固宜青龍然當防其腎陰之旺故立真武之法傷寒營閉而衛郁陰盛者固宜真武然當防其胃陽之旺故垂青龍之方靈通變化元妙無窮也首章名曰中風次章名曰傷寒俗手妄繆以為風寒雙感誤世非小也</p>
<h4>大青龍證一（太陽三十二）</h4>
<p>太陽中風脈浮緊發熱惡寒身疼痛不汗出而煩躁者大青龍湯主之（太陽入陽明去路）若脈微弱汗出惡風者不可服也服之則厥逆筋惕肉　此為逆也以真武湯救之（方在少陰十九太陽入少陰去路）</p>
<p>營性發揚而寒性固澀傷寒營欲發而寒閉之故脈緊而無汗衛性斂閉而風性疏泄中風衛欲閉而風泄之故脈緩而有汗太陽中風脈緊身痛寒熱無汗脈證悉同傷寒此衛陽素旺氣閉而血不能泄也衛氣遏閉營鬱熱甚故見煩躁大青龍湯甘草大棗補其脾精生薑杏仁降其肺氣麻桂泄其營衛之鬱閉石膏清神氣之煩躁也蓋氣欲閉而血欲泄血強而氣不能閉則營泄而汗出氣強而血不能泄則營閉而無汗營熱內郁外無泄路是以脈緊身痛寒熱無汗而生煩躁異日之白虎承氣諸證皆以經熱之內傳者也早以青龍發之則內熱不生矣若脈微弱而汗出惡風者中風之脈證如舊而陽虛陰旺不可服此服之汗出亡陽則四肢厥逆筋惕肉　為害非輕矣蓋四肢秉氣於脾胃陽亡土敗四肢失溫所以逆冷筋司於肝肝木生於腎水而長於脾土水寒土濕木鬱風動故筋脈振惕而皮肉　動真武湯苓朮燥土而泄濕附子溫經而驅寒芍藥清肺而息風也</p>
<h4>大青龍湯（六）</h4>
<p>麻黃（六兩）　桂枝（二兩）　甘草（二兩炙）　大棗（十二枚）　生薑（三兩）　杏仁（五十枚）　石膏（雞子大一塊打碎）</p>
<p>上七味以水九升先煮麻黃減二升去上沫內諸藥煮取三升溫服一升取微似汗汗出多者溫粉朴之（牡蠣粉止身汗）一服汗出者停後服汗多亡陽遂虛惡風煩躁不得眠也</p>
<h4>大青龍證二（太陽三十三）</h4>
<p>傷寒脈浮緩身不疼但重乍有輕時無少陰證者大青龍湯主之傷寒脈浮緊身疼痛緣表被寒束而經氣壅塞也此脈浮緩而身不痛但覺體重而已然亦乍有輕時是非外寒之微而實裡熱之盛再於他處征之別無少陰證者宜大青龍外發表寒而內清裡熱也　風脈浮緩浮緊者必傳入陽明以營鬱而生裡熱衛閉而不能泄也寒脈浮緊浮緩者必傳入陽明以衛鬱而生裡熱營泄而不能外閉也（陽明腑熱則氣蒸汗泄寒不能閉）中風多傳陽明若其脈微弱無陽明證而將入少陰則又用真武陽明多傳少陰若其脈浮緩無少陰證而將入陽明又用青龍風寒對舉參伍盡變立法精矣傷寒陽明太陰脈俱浮緩（陽明篇脈浮而緩手足自溫者是謂系在太陰至七八日大便硬者為陽明病也）大青龍之浮緩則陽明之緩非太陰之緩也脈法寸口脈微而緩緩者胃氣實實則穀消而水化也靈樞津液五別中熱則胃中消穀腸胃充廓故胃緩胃緩是以脈緩緩者胃氣之脈也或改此條作小青龍證不通之極脈法緊則為寒小青龍證內外皆寒其脈必緊安有浮緩之理</p>
<h4>太陽傷寒小青龍證</h4>
<p>（三章　太陽入太陰少陰去路）</p>
<p>中風大青龍之證外有風而內有熱也傷寒之小青龍證表有寒而裡有水也大小青龍外之解表則同而內之溫清大異大青龍可以泄裡熱而不可以溫內寒小青龍所以佐大青龍之不逮也傷寒之人或表邪外鬱而宿水裡發或渴飲涼水而停留不消是以多有水氣之證以其熱渴雙解表裡之寒小青龍乃不易之法也</p>
<h4>小青龍證一（太陽三十四）</h4>
<p>傷寒表不解心下有水氣乾嘔發熱而咳或渴或利或噫或小便不利少腹滿或喘者小青龍湯主之傷寒表證不解而水停心下阻肺胃降路胃氣上逆而生乾嘔肺氣上逆而生咳嗽或火升金燥而為渴或氣阻肺脹而為喘或濁氣上噯而為噫或清氣下泄而為利或小便不利而少腹滿急凡此皆水氣瘀格之故宜小青龍湯甘草培其中氣麻桂發其營衛芍藥清其風木半夏降逆而止嘔五味細辛乾薑降逆而止咳也</p>
<h4>小青龍湯（七）</h4>
<p>麻黃（三兩）　桂枝（三兩）　芍藥（三兩）　甘草（二兩炙）　半夏（三兩洗）　五味（半升）　細辛（三兩）　乾薑（二兩）</p>
<p>上八味以水一斗先煮麻黃減二升去上沫內諸藥煮取三升去滓溫服一升　若微利者去麻黃加芫花如雞子大熬令赤色（下利者水邪侮土加芫花以泄水也）若渴者去半夏加栝蔞根三兩（栝蔞根清金止渴也）若噫者去麻黃加附子一枚炮（寒水侮土濁氣上逆則為噫加附子暖水而降逆也）小便不利少腹滿者去麻黃加茯苓四兩（茯苓以泄滿也）若喘者加杏仁半斤去皮尖（杏仁利肺而止喘也）</p>
<h4>小青龍證二（太陽三十五）</h4>
<p>太陽病小便利者以飲水多必心下悸小便少者必苦裡急也申明上章小便不利少腹滿之義小便利者津液滲泄則必發燥渴渴而飲水多者土濕木鬱必心下動悸木鬱不能泄水而小便少者水積少腹必苦腹裡滿急也</p>
<h4>小青龍證三（太陽三十六）</h4>
<p>傷寒心下有水氣咳而微喘發熱不渴小青龍湯主之服湯已渴者此寒去欲解也服湯已而渴者表寒已解裡水亦去津液乍耗是以作渴渴者是表解寒去水積化汗而外泄也大青龍證是表陽之盛內有火氣小青龍證是裡陽之虛內有水氣陰陽一偏逢郁即發大小青龍外解風寒而內泄水火感證之必不可少者也</p>
<h4>太陽傷寒白虎證四章</h4>
<p>（太陽入陽明去路）</p>
<p>陽盛之人表寒裡熱則用大青龍表寒解而裡熱盛於是有白虎清金之法肺金清而胃熱消可無異日陽明之證矣至於汗後陽虛之渴則於白虎而加人參涼金益氣生津化水清滌煩渴之妙超人巧而絕天工制方立法神化難追然白虎湯證雖皆傷寒之條其實來自中風者多如服桂枝湯大汗出後大煩渴不解脈洪大者白虎加人參湯主之其為風證甚明以中風多傳陽明白虎湯證乃承氣證之初氣也</p>
<h4>白虎證一（太陽三十七）</h4>
<p>傷寒脈滑而厥者裡有熱也白虎湯主之四肢厥逆而脈見遲澀是為裡寒厥而脈滑是裡有熱也蓋燥熱內郁侵奪陰位陰氣浮散外居肢節故肢冷而脈滑白虎湯石膏清金而退熱知母潤燥而泄火甘草粳米補中而化氣生津而解渴也胃陽素盛之人陰虛火旺一被感傷經熱內蒸津液消爍則成陽明下證而胃火未盛肺津先傷是以一見渴證先以白虎涼金泄熱滋水滌煩膈熱整肅則不至入胃而致煩熱亡陰之害矣白虎證即將來之大承氣證而裡熱未實從前之大青龍證而表寒已解者也表寒已解故不用麻黃裡熱未實故不用硝黃</p>
<h4>白虎湯（八）</h4>
<p>石膏（一斤）　知母（六兩）　甘草（二兩）　粳米（六合）</p>
<p>上四味以水一升煮米熟湯成去滓溫服一升日三服</p>
<h4>白虎證二（太陽三十八）</h4>
<p>傷寒脈浮滑此裡有熱表有寒也白虎湯主之此申明上章未顯之義脈滑者裡有熱也厥者表有寒也此不言厥者診脈浮滑已知是表寒外束裡熱內郁不必問其肢節之厥熱矣若裡熱外發則脈變實緩不復浮滑也浮滑者陽氣鬱格之象也此之表寒乃陰氣之外浮非寒邪之外淫不然表寒未解無用白虎之理</p>
<h4>白虎證三（太陽三十九）</h4>
<p>傷寒脈浮發熱無汗其表不解者不可與白虎湯渴欲飲水無表證者白虎加人參湯主之脈浮發熱無汗是表未解也此合用大青龍雙解表裡不可與白虎湯但清其裡若渴欲飲水而無表證者是汗出而熱退也汗後陽泄宜防知膏伐陽白虎而加人參清金益氣生津化水汗後解渴之神方也</p>
<h4>白虎加人參湯（九）</h4>
<p>石膏（一斤碎）　知母（六兩）　甘草（二兩）　粳米（六合）　人參（三兩）</p>
<p>於白虎湯內加人參三兩余依白虎湯方法</p>
<h4>白虎證四（太陽四十）</h4>
<p>傷寒無大熱口燥渴心煩背微惡寒者白虎加人參湯主之表解故無大熱背微惡寒即前章表有寒也陽乘陰位而生裡熱則陰乘陽位而生表寒遠則客於肢節近則浮於脊背脊背肢節皆陽位也</p>
<h4>太陽風寒五苓散證三章（太陽入太陰去路）</h4>
<p>太陽表證未解而裡有水氣小青龍五苓散皆解表泄水之劑而小青龍之表藥則用麻黃五苓散之表藥則用桂枝其裡水則同而表證之風寒則異也小青龍但用麻黃發汗以泄水其於大便微利者方用芫花小便不利者方用茯苓五苓散則兼用二苓澤瀉泄水以發汗以風家內熱燥渴甚於傷寒是以燥勝其濕則火亦偏旺濕勝其燥則水亦偏多其傳陽明而用白虎燥盛者也其傳太陰而用五苓濕盛者也傷寒多傳太陰病水者固眾中風多傳陽明病水者亦繁此燥證之所以少而濕證之所以多也（溫疫水證最多亦以飲冷不消故也）</p>
<h4>五苓散一（太陽四十一）</h4>
<p>中風發熱六七日不解而煩有表裡證渴欲飲水水入則吐者名曰水逆五苓散主之中風發熱六七日經盡不解而且煩渴思飲外而發熱是有表證內而作渴是有裡證內渴欲飲水而水入則吐者是有裡水瘀停也此名水逆由舊水在中而又得新水以水濟水正其所惡兩水莫容自當逆上也五苓散桂枝行經而發表白朮燥土而生津二苓澤瀉行水而泄濕也多服暖水蒸泄皮毛使宿水亦從汗散表裡皆愈矣</p>
<h4>五苓散（十）</h4>
<p>茯苓（十八銖）　豬苓（十八銖）　澤瀉（一兩六銖）　白朮（十八銖）　桂枝（半兩去皮）</p>
<p>上五味為末以白飲和服方寸匕日三服多飲暖水汗出愈</p>
<h4>五苓證二（太陽四十二）</h4>
<p>傷寒汗出而渴者五苓散主之不渴者茯苓甘草湯主之傷寒汗後陽虛濕動君相二火浮升故作燥渴其渴者濕邪較甚故用五苓不渴者濕邪較輕茯苓甘草湯苓桂薑甘泄水而疏木和中而培土防其濕動而生水瘀也</p>
<h4>茯苓甘草湯（十一）</h4>
<p>茯苓（二兩）　桂枝（二兩）　生薑（二兩）　甘草（一兩炙）</p>
<p>上四味以水四升煮取二升去滓分溫三服</p>
<h4>五苓證三（太陽四十三）</h4>
<p>病在陽應以汗解之反以冷水　之灌之其熱被卻不得去彌更益煩肉上粟起意欲飲水反不渴者服文蛤散若不瘥者與五苓散寒實結胸無熱證者與三物小陷胸湯（方在太陽一百十七）白散亦可服五苓散證水飲在內郁格經陽而生外熱病在陽分應當以汗解之使裡水化汗病可立愈乃反以冷水　之灌之皮膚得冷汗孔皆闔表熱被冷水卻逐而不得外去彌更益其煩躁衛郁欲發升於孔竅而外寒闔秘不能透發於是沖突皮膚肉上如粟粒凝起經熱內蒸煩熱作渴意欲飲水而停水在內其實反不渴者宜服文蛤散文蛤利水解渴也若不瘥者則是水旺濕多文蛤不能勝任仍與五苓散若寒邪上逆實結胸膈肺郁生熱而外無熱證則表邪已退宜與小陷胸湯黃連栝蔞泄熱而滌郁半夏降逆而開結也白散桔梗貝母清降其虛熱巴豆溫破其實寒令其涌泄而去以絕根株亦可服也</p>
<h4>文蛤散（十二）</h4>
<p>文蛤（五兩）</p>
<p>上一味杵為散以沸湯五合和方寸匕</p>
<h4>白散（十三）</h4>
<p>桔梗（三分）　貝母（三分）　巴豆（一分去皮煮研如脂）</p>
<p>上二味為末內巴豆更於臼中杵之以白飲和服強人半錢匕弱者減之病在膈上必吐在膈下必利不利進熱粥一杯利過不止進冷粥一杯身熱皮粟不解欲引衣自覆者若以水　之洗之益令熱不得去當汗而不汗則煩假令汗已出腹中痛與芍藥三兩如上法（汗出腹痛者血亡而木燥也芍藥清風木而潤血燥）</p>
<h4>太陽傷寒抵當湯證（四章太陽入陽明去路）</h4>
<p>風寒外感有上焦之熱有下焦之熱有氣分之熱有血分之熱上焦氣分之熱白虎可清上焦血分之熱承氣可下而膀胱熱結病在下焦血分則於承氣而加破血之藥於是有桃核承氣抵當湯丸之設傷寒之病在於衛氣氣鬱則生寒中風之病在乎營血血鬱則生熱熱結血分是中風之證非傷寒之證也至於陽盛之人傷寒而有此則抵當用丸而不用湯以其下熱不如中風之甚也</p>
<h4>桃核承氣證一（太陽四十四）</h4>
<p>太陽病不解熱結膀胱其人如狂血自下下者愈其外不解者尚未可攻當先解外外解已但小腹急結者乃可攻之宜桃核承氣湯太陽病表證不解經熱內蒸而結於膀胱膀胱者太陽之腑水腑不清膀胱素有濕熱一因表郁腑熱內發故表熱隨經而深結也熱結則其人如狂緣膀胱熱結必入血室血者心所主胎君火而孕陽神血熱則心神擾亂是以狂作也若使瘀血自下則熱隨血泄不治而愈不下則宜攻之如其外證不解者尚未可攻攻之恐表陽內陷當先解外證外證已除但余小腹急結者乃可攻之宜桃核承氣湯桂枝桃仁通經而破血大黃芒硝下瘀而泄濕甘草保其中氣也</p>
<h4>桃核承氣湯（十四）</h4>
<p>桃仁（五十枚去皮尖）　桂枝（二兩去皮）　甘草（二兩炙）　大黃（四兩）　芒硝（二兩）</p>
<p>上五味以水七升煮取二升半去滓內芒硝更上火微沸下火先食溫服五合日三服當微利</p>
<h4>抵當證二（太陽四十五）</h4>
<p>太陽病六七日表證猶存脈微而沉反不結胸其人如狂者以熱在下焦少腹當硬滿小便自利者下血乃愈所以然者以太陽隨經瘀熱在腹裡故也抵當湯主之六七日經盡之期表證猶存脈微而沉已無表脈寸脈浮關脈沉當病結胸乃反不結胸而其人如狂者以熱不在上焦而在下焦也熱結下焦其少腹必當硬滿若是小便自利是熱結血分下血乃愈以太陽表邪隨經內入瘀熱在裡宜抵當湯水蛭虻蟲桃仁大黃破瘀而泄熱也</p>
<h4>抵當湯（十五）</h4>
<p>大黃（三兩酒浸）　水蛭（三十枚熬）　虻蟲（三十枚熬去翅足）　桃仁（三十枚）</p>
<p>上四味為末水五升煮取三升去滓溫服一升不下再服</p>
<h4>抵當湯證三（太陽四十六）</h4>
<p>太陽病身黃脈沉結少腹硬小便不利者為無血也小便自利其人如狂血證諦也抵當湯主之身黃脈沉結少腹硬是皆血瘀之脈證血司於肝血結木鬱賊傷己土則發黃色緣木主五色入土為黃故也然使小便不利則三者乃膀胱濕熱之瘀是茵陳五苓證非血證也小便自利其人如狂血證已諦故宜抵當</p>
<h4>抵當證四（太陽四十七）</h4>
<p>傷寒有熱少腹滿應小便不利今反利者為有血也當下之不可余藥宜抵當丸身有熱而少腹滿多是木鬱陽陷疏泄不行應當小便不利今反利者是有血瘀當下然滿而未硬下不必急減抵當之分兩變湯為丸緩攻可也</p>
<h4>抵當丸（十六）</h4>
<p>大黃（二兩）　水蛭（二十枚）　虻蟲（二十五枚）　桃仁（二十五枚）</p>
<p>上四味杵分為四丸以水一升煎一丸取七合服之　時當下血若不下者連服</p>
<h4>太陽傳經</h4>
<p>傷寒中風一日太陽二日陽明三日少陽四日太陰五日少陰六日厥陰日傳一經六日而遍此定數也諸所謂不傳者言不傳臟腑並非不傳經絡傷寒惟傳經一事訛謬百出道理未為難解自是醫法不明耳</p>
<h4>傳經一（太陽四十八）</h4>
<p>太凡病若發汗若吐若下若亡血若亡津液陰陽自和者必自愈發汗吐下亡血亡津不無損傷而邪退正復陰陽調和不至偏勝必自愈也病非陰勝則陽勝和而不偏所以自愈</p>
<h4>傳經二（太陽四十九）</h4>
<p>太陽頭痛至七日以上自愈者以行其經盡故也若欲再作經者針足陽明使經不傳則愈七日以上自愈者即發於陽者七日愈之謂六日六經俱盡故至七日自愈素問熱論所謂七日太陽病衰頭痛少愈也陽莫盛於陽明陽明之經陽鬱熱盛則六經俱遍而鬱熱未衰雖不入腑而經邪猶旺不肯外發勢必再傳六經針足陽明之經瀉其鬱熱則經不再傳自然愈矣</p>
<h4>傳經三（太陽五十）</h4>
<p>風家表解而不了了者十二日愈素問熱論七日巨陽病衰頭痛少愈八日陽明病衰身熱少愈九日少陽病衰耳聾微聞十日太陰病衰腹減如故則思飲食十一日少陰病衰渴止不滿舌乾已而嚏十二日厥陰病衰囊縱少腹微下大氣皆去病已愈矣中風表解自當即愈設不了了則余熱未盡俟至十二日經邪盡解無不愈矣風寒與溫熱之病裡氣不同而其經脈之絡屬傷受之日期無有不同也</p>
<h4>傳經四（太陽五十一）</h4>
<p>傷寒二三日陽明少陽證不見者為不傳也傷寒一日太陽二日陽明三日少陽此定法也二日三日無不傳陽明少陽之理若陽明少陽之裡證不見者是但傳三陽之經而不傳陽明之腑也　陽明病皆腑病非經病故曰陽明之為病胃家實也胃家一實則病邪歸腑終始不遷雖未嘗不傳三陰之經而不復入三陰之臟所謂陽明中土萬物所歸無所復傳以其陽盡而陰退也至於葛根湯證則腑病之連經而胃熱之未實者即其桂枝麻黃二證亦陽明之經病未成陽實之腑病者也二三日中不見陽明胃家實證此為不傳陽明之腑也少陽病小柴胡證皆臟腑病之連經亦非但是經病緣臟腑經絡表裡郁迫故柴胡諸證久而不罷有至八九日以及十三日且有過經十余日者若不連臟腑但在經絡則三日少陽四日已見太陰經病證五日已見少陰經病證六日經盡而汗解何得少陽一經之證如此久遠而不退乎即其麻黃一證亦少陽之經病未成內連臟腑之證者也二三日中不見少陽柴胡證此亦為不傳陽明之腑也</p>
<h4>傳經五（太陽五十二）</h4>
<p>傷寒一日太陽受之脈若靜者為不傳頗欲吐若煩躁脈急數者為傳也浮緊之脈斷不能靜設脈若安靜者為不內傳若經邪鬱迫陽明少陽之經胃氣上逆頗欲作吐與夫煩躁不寧脈候急數者是其表邪束迫之重與經氣鬱遏之極此為必將內傳也　太陽經病裡氣和平陽不偏盛則不內傳於腑陰不偏盛則不內傳於臟傷寒一日太陽受之脈若安靜者為不傳謂不傳於臟腑非謂不傳於六經也程氏以為溫病傳經傷寒不傳經果不傳經是傷寒一日病在太陽若脈候安靜則一日而汗解也既是傷寒安有一日即解之理若不經汗解六經部次相連安有太陽既病但在此經絕不捱經而內傳者乎其謂數日仍在太陽數日方過陽明支離不通矣又言或從太陽而陽明或從太陽而少陽陽明在太陽少陽之間既過陽明而傳少陽陽明何以不病若不過陽明何由而及少陽後世庸妄舊有直中陰經之說未知三陽在表何由超越三陽而內及陰經也此皆下愚之胡談不足深辨也</p>
<h4>太陽解期（太陽五十三）</h4>
<p>太陽病欲解時從巳至未上巳午未太陽得令之時故解於此</p>
<h2>卷四</h2>
<h3>太陽經中篇（五十六章）</h3>
<h4>太陽壞病</h4>
<p>太陽風寒有正治之法桂枝麻黃是也陽偏盛者恐異日之入陽明則有大青龍白虎湯早清其燥熱陰偏勝者恐異日之入三陰則有小青龍五苓散預去其濕寒處治不瘥病在太陽一經自當應藥而解不成壞病醫不知此實其實而虛其虛若汗若吐若下若溫針補瀉異施遂成壞病非復太陽本色矣壞病者即後日之陽明與三陰也陽盛而泄其陰則入陽明陰盛而亡其陽則入三陰桂枝麻黃之證變為亢陽孤陰是以曰壞至於陽明俟其腑熱內實一下而愈猶為逆中之順然而腑邪傷陰失於急下亦伏當機則順中之逆正自不少若夫三陰陰盛陽負動懼危亡則逆居強半而順不十且仲景於是有救逆之法隨證處治轉逆為從元通微妙良工苦心矣</p>
<h4>太陽壞病提綱一（太陽五十四）</h4>
<p>桂枝麻黃太陽風寒主方也若至三日之久正將入陽明太陰之期業經汗下溫針而病仍不解則事當大壞未必猶在太陽即太陽未罷而亦未必尚屬太陽桂麻之證是宜審觀脈證另立新法故總立壞病之綱詳開救逆之門也太陽病三日已發汗若吐若下若溫針仍不解者此為壞病桂枝不中與也觀其脈證知犯何逆隨證治之太陽病治之得法當解於本經不至入腑傳臟而成壞病若至三日之久已經發汗吐下溫針諸治而病不解則不在太陽定緣誤治入別經而成壞病當觀其脈證知其所犯何逆隨證治之曰壞病者非太陽之本病故也</p>
<h4>壞病提綱二（太陽五十五）</h4>
<p>本發汗而復下之此為逆也若先發汗治不為逆先本下之而復汗之為逆若先下之治不為逆申明上章逆字之義風寒外閉宜辛溫發散而不宜下燥熱內結宜苦寒攻下而不宜汗若表邪未解裡邪復盛則宜先汗而後下若裡邪急迫表邪輕微則宜先下而後汗錯則成逆矣若治法得宜先後不失不為逆也</p>
<h4>太陽壞病入陽明去路（十五章）</h4>
<p>陽明從燥金化氣陽旺之人表郁則燥動然不經誤治津液未耗燥氣之作何至遽盛及其汗下溫針傷津亡液燥氣大發經腑合邪乃成下證雖不如三陰之險然陰虧陽亢亦伏危機未可率然也</p>
<h4>太陽壞病入陽明桂枝證一（太陽五十六）</h4>
<p>太陽病先發汗不解而復下之脈浮者不愈浮為在外而反下之故令不愈今脈浮故知在外當須解外則愈桂枝湯主之（方在太陽五）</p>
<p>太陽病先發汗不解而復下之設內有腑熱則下之當愈若使脈浮則表邪未解必不能愈以浮為邪在表遺其外邪而反下之故令不愈當須解外則愈宜主桂枝也　此太陽表證未罷而內有腑證固當下也然必外解而後可下若發汗未解而遽下之設脈猶見浮則外必不愈故仍以桂枝解外</p>
<h4>發汗亡津證二（太陽五十七）</h4>
<p>大下之後復發汗小便不利者亡津液故也勿治之得小便利必自愈膀胱者州都之官津液藏焉氣化則能出矣土濕金鬱氣不化水土濕木鬱不能行水皆令小便不利小青龍五苓散證之小便不利悉緣土濕而水停則小便之不利必因濕旺若汗下之後而見小便之不利是津液亡泄燥而非濕也然別無熱渴之證則其燥未甚勿用治之俟其津液續復得小便一切必自愈也汗下之後小便不利陽虛之人則陽亡而病濕陰虛之人則陰亡而傷燥此不見陽亡濕動之證故知是亡津傷燥也此亦人參白虎證而燥熱未作則病勢最輕故不須治之</p>
<h4>麻杏甘石證三（太陽五十八）</h4>
<p>發汗後不可更行桂枝湯若汗出而喘無大熱者可與麻黃杏仁甘草石膏湯主之汗後表寒未解鬱其肺氣熱蒸皮毛竅開而不能透泄故汗出而喘表得汗泄故外無大熱麻黃發表杏仁降逆石膏清金甘草培土則表裡俱解矣此亦大青龍證之輕者以在汗後故不用青龍汗後不可行桂枝亦大概言之他如發汗已解半日許復煩可更發汗宜桂枝湯未嘗必禁桂枝也</p>
<h4>麻黃杏仁甘草石膏湯（十七）</h4>
<p>麻黃（四兩）　杏仁（三十枚）　甘草（二兩炙）　石膏（半斤碎綿裹）</p>
<p>上四味以水七升先煮麻黃減二升去上沫內諸藥煮取二升去滓溫服一升</p>
<h4>汗後作喘證四（太陽五十九）</h4>
<p>發汗後飲水多者必喘以水灌之亦喘推原上章喘字之義汗出亡津液燥渴飲水飲水太多而汗後陽虛不能消散水停則肺氣壅遏故必喘以水灌之皮毛外閉肺氣鬱阻故亦喘也</p>
<h4>麻杏甘石證五（太陽六十）</h4>
<p>下後不可更行桂枝湯若汗出而喘無大熱者可與麻黃杏仁甘草石膏主之下後表寒未解鬱其肺氣肺郁生熱蒸發皮毛而不能透泄故汗出而喘表寒裡熱宜麻杏甘石雙解之可也下後不可行桂枝亦大概言之他如傷寒醫下之續得下利清穀章救表宜桂枝湯又傷寒大下後復汗心下痞章解表宜桂枝湯太陽病先發汗不解而復下之脈浮者不愈章當須解外則愈桂枝湯主之未嘗必禁桂枝也</p>
<h4>人參白虎證六（太陽六十一）</h4>
<p>服桂枝湯大汗出後大煩渴不解脈洪大者白虎加人參湯主之（方在太陽三十九）</p>
<p>服桂枝湯後汗出表解而津液亡泄裡熱則增是宜白虎清裡而大汗之後大作煩渴而脈又洪大是亡津而氣亦泄也津由氣化靈樞決氣上焦開發宣五穀味薰膚充身澤毛若霧露之溉是為氣此當益氣以生津故加人參素問談熱論脈燥疾不為汗衰者死以精氣消亡無以滲灌其枯燥也白虎而加人參使清氣降洒化而為露滋潤枯涸滌洗煩躁莫善於此矣</p>
<h4>人參白虎證七（太陽六十二）</h4>
<p>傷寒若吐若下後七八日不解熱結在裡表裡俱熱時時惡風大渴舌上干燥而煩欲飲水數升者白虎加人參湯主之（方在太陽三十九）</p>
<p>吐下之後氣奪津傷七八日不解燥熱內盛而自裡達表表裡俱熱熱蒸竅泄時時惡風舌上干燥而心內焦煩欲飲水數升之多主以人參白虎清金而泄熱化氣而生津也</p>
<h4>表裡俱虛證八（太陽六十三）</h4>
<p>太陽病先下之而不愈因復發汗以此表裡俱虛其人因致冒冒家汗出則自愈所以然者汗出表和故也得裡未和然後下之太陽病先下之而不愈傷其陰液因復發汗傷其陽津表陽裡陰以此俱虛表陽虛則陰氣外束裡陰虛則陽氣內郁陽氣內鬱而不外達其人因致昏冒冒家汗出則自愈所以然者汗出則衛氣外達經脈和暢陰退而陽宣也表和之後得裡未和然後下之</p>
<h4>調胃承氣證九（太陽六十四）</h4>
<p>發汗後惡寒者虛故也不惡寒反惡熱者實也當和胃氣與調胃承氣湯（方在陽明二十）</p>
<p>陽虛之人汗則亡陽陰虛之人汗則亡陰汗後惡寒者氣泄而陽虛故也故防入少陰不惡寒反惡熱者津傷而陽實故也是已入陽明將成大承氣證宜早以調胃承氣和其胃氣預奪其實也</p>
<h4>陰陽俱虛證十（太陽六十五）</h4>
<p>太陽病中風以火劫發汗邪風被火熱血氣流溢失其常度兩陽相薰灼其身發黃陽盛則欲衄陰虛則小便難陰陽俱虛竭身體則枯燥但頭汗出劑頸而還腹滿微喘口乾咽爛或不大便久則譫語甚者至噦手足躁擾捻衣摸床小便利者其人可治太陽中風以火劫發汗邪風一被火熱血氣流溢而失其常度外劫之火與內郁之陽兩相薰灼其身發黃上之陽盛則欲衄下之陰虛則小便難陰液陽津俱至虛竭身體則枯燥不潤陽氣上燔但頭汗出際頸而還裡氣　鬱而為脹滿肺氣壅阻而為微喘火炎於上口乾而咽爛其時或不大便久則衛郁莫泄濁氣薰心而為譫語甚者胃氣衝逆而為嘔噦或手足躁擾捻衣摸床凡此諸證總以表裡壅遏熱無泄路故郁悶懊　煩亂如是宜以辛涼之藥雙泄表裡若小便利者是陰氣未絕其人可治也　此證濕熱鬱蒸宜以麻黃石膏泄其表熱大黃芒硝泄其裡熱半夏生薑降其逆豬苓滑石滲其濕表裡雙清則神氣慧爽矣</p>
<h4>炎熱入胃證十一（太陽六十六）</h4>
<p>太陽病二日反躁反熨其背而大汗出火熱入胃胃中水竭躁煩必發譫語十余日振栗自下利者此為欲解也故其汗從腰以下不得汗欲小便不得反嘔欲失溲足下惡風大便硬小便當數而反不數及大便已頭卓然而痛其人足心必熱穀氣下流故也太陽病皮毛被感表郁為熱內尚無熱俟其表熱傳胃日久失清乃見煩躁今二日之內方入陽明不應躁而反躁其胃陽素盛可知乃不用清涼反熨其背而大汗出火炎就燥邪熱入胃胃中水竭乃生煩躁燥熱薰心必發譫語若十余日後微陰內復忽振栗而自下利則胃熱下泄此為欲解也方其熨背取汗火熱蒸騰上雖熱而下則寒故從腰以下絕無汗意外寒鬱其內熱故膀胱閉澀欲小便而不得陽氣升泄不根於水膀胱無約時欲失溲如此則小便當數而反不數者津液枯也水枯則大便干硬便干腸結胃熱不得下達故氣逆作嘔火熱上逆故足下逆冷而惡風寒及振栗下利大便已行則穀氣宣暢四達頭痛而火從上散足熱而陽從下達胃中燥熱解散無余緣穀氣以便通而下流故也便通而頭痛者如壚底壅塞火焰不升一通則火即上炎也</p>
<h4>火邪圊血證十二（太陽六十七）</h4>
<p>太陽病以火薰之不得汗其人必躁到經不解必清血名為火邪（清與圊同）</p>
<p>太陽病當以汗解乃以火薰之又不得汗內熱愈增其人必躁到經盡之期當解而不解熱傷血分必當圊血此名火邪也</p>
<h4>火逆助邪證十三（太陽六十八）</h4>
<p>脈浮宜以汗解用火灸之邪無從出因火而盛病從腰以下必重而痹名火逆也脈浮宜以汗解乃用火灸之邪無從出因外火而更盛病從腰以下必重濁而痹塞此名火逆</p>
<h4>火逆吐血證十四（太陽六十九）</h4>
<p>脈浮熱甚反灸之此為實實以虛治因火而動故咽燥吐血脈浮熱甚當汗之以泄其熱反灸之此為實證實證而用灸是實以虛治也內之實熱因外火而大動必傷陰氣故咽燥而吐血</p>
<h4>火邪內攻證十五（太陽七十）</h4>
<p>微數之脈慎不可灸因火為邪則為煩逆追虛逐實血散脈中火氣雖微內攻有力焦骨傷筋血難復也微數之脈營血虛虧慎不可灸誤灸而因火為邪則為煩躁而氣逆追陰氣之已虛逐陽火之原實因令血散脈中耗亡失守一灸之火雖微而其煎熬內攻則甚有力焦骨傷筋日就枯槁營血消爍終難復舊也</p>
<h4>太陽壞病入太陰去路（一十一章）</h4>
<p>太陰以濕土主令陰盛之人病在太陽表郁則濕動然不經誤治則胃陽未虧濕氣之作猶俟漸成及夫汗下溫針陽亡陰旺濕邪勃興土敗水侮危證疊出防微杜漸之法不可不亟講也</p>
<h4>太陽壞病入太陰五苓散證一（太陽七十一）</h4>
<p>太陽病發汗後大汗出胃中干躁煩不得眠欲得飲水者少少與之令胃氣和則愈（此太陽入陽明去路將成白虎證者）若脈浮小便不利熱微消渴者五苓散主之（方在太陽四十一）</p>
<p>發汗後陽盛之人陰亡土燥則入陽明而成白虎證陰盛之人陽亡土濕則入太陰而成五苓證如汗後胃中干燥煩不得眠欲得飲水此將來之人參白虎證也宜少少與飲以在大汗之後陽氣新虛也設燥熱已甚少水不救盛火則用白虎若燥熱未甚得少水和胃則煩渴自愈無事白虎也若汗後脈浮小便不利熱微消渴則太陰之象已見端倪宜以五苓燥土而行水蓋陽格於外表證未解是以脈浮濕動於內木氣不達是以小便不利木鬱風動耗傷肺津是以消渴此之消渴消少水而頻飲不能大消以其濕盛而熱微也</p>
<h4>五苓散證二（太陽七十二）</h4>
<p>發汗已脈浮數煩渴者五苓散主之（方在太陽四十一）</p>
<p>發汗已熱隨汗散乃脈見浮數而證見煩渴是汗出陽虛土濕而火升也蓋火秘陽蟄全恃乎土陽亡濕動肺胃不降君火升炎故脈證如此宜以五苓燥土泄濕若未汗而見浮數煩渴之脈證則宜大青龍而不宜五苓矣</p>
<h4>甘草乾薑證三（太陽七十三）</h4>
<p>傷寒脈浮自汗出小便數心煩微惡寒腳攣急反與桂枝湯欲攻其表此誤也得之便厥咽中干躁煩吐逆者作甘草乾薑湯與之以復其陽若厥愈足溫者更作芍藥甘草湯與之其腳即伸若胃氣不和譫語者少與調胃承氣湯若重發汗復加燒針者四逆湯主之（方在太陰三）</p>
<p>脈浮自汗裡熱外泄也小便數則大便必硬心煩者胃熱之薰沖也陽明病雖得之一日惡寒將自罷即自汗出而惡熱微惡寒者表未全解自汗雖出而未能遽發也亦是調胃承氣證（陽明篇上太陽病若吐若下若發汗微煩小便數大便因硬與小承氣湯和之愈陽明病不吐不下心煩者可與調胃承氣湯即此證）醫以脈浮自汗病象太陽中風證反與桂枝東加附子而增桂枝以攻其表此大誤也得之汗多陽亡使手足厥冷咽喉干燥陽氣離根而生煩躁胃氣上逆而作嘔吐作甘草乾薑湯與之甘草培土而補中乾薑溫胃而降逆陽回肢暖是以厥愈足溫其腳之攣急緣其木燥而筋縮也更作芍藥甘草湯與之甘草舒筋而緩急芍藥清風而潤燥其腳自伸若胃氣不和土燥譫語少與調胃承氣則胃氣調和矣桂枝發汗是為一逆若不以薑甘回陽而重發其汗或復加燒針以大亡其陽是為再逆當速用四逆以回陽薑甘加附子水土雙溫也</p>
<h4>甘草乾薑湯（十八）</h4>
<p>甘草（四兩炙）　乾薑（二兩炮）</p>
<p>上　咀以水三升煮取一升五合去滓分溫再服</p>
<h4>芍藥甘草湯（十九）</h4>
<p>芍藥（四兩）　甘草（四兩炙）</p>
<p>上　咀以水三升煮取升半去滓分溫再服</p>
<h4>甘草乾薑證四（太陽七十四）</h4>
<p>問曰證象陽旦按法治之而增劇厥逆咽中干兩脛拘急而譫語師言夜半手足當溫兩腳當伸後如師言何以知此答曰寸口脈浮而大浮則為風大則為虛風則生微熱虛則兩脛攣病證象桂枝因加附子參其間增桂令汗出附子溫經亡陽故也厥逆咽中干煩躁陽明內結譫語煩亂更飲甘草乾薑湯夜半陽氣還兩足當溫脛尚微拘急重與甘草芍藥湯爾乃脛伸以承氣湯微溏則止其譫語故知病可愈此復述上章設為問答證象陽旦即證象桂枝之互文（金匱產後中風數十日不解頭痛惡寒時時有熱乾嘔汗出雖久陽旦證續在耳可與陽旦湯林億以為即桂枝湯按證是桂枝湯無疑）按法治之即上章以桂枝攻其表及此章因加附子增桂令汗出也寸口脈浮而大浮則為風大則為虛載在脈法（脈法寸口脈浮而緊浮則為風緊則為寒脈弦而大大則為芤芤則為虛也）所謂風則浮虛也（脈法語）風則生其微熱虛則兩脛攣急病與桂枝湯證形象符合而熱微足攣又似陽虛因增桂枝而加附子以發其表附子溫經汗多亡陽是以厥逆咽乾而生煩躁汗出津枯胃腑燥結是以譫語煩亂不知寸口脈浮大是陽明之裡實（陽明篇大便硬者脈浮而緩為陽明病傷寒三日陽明脈大三陽合病脈浮而大）而非太陽之表虛誤以桂附發汗重亡其陽裡實變而為裡虛更飲甘草乾薑陽回足溫重與芍藥甘草湯即脛伸少與調胃承氣變結糞為微溏止其譫語藥良法精應手愈矣何不可知之有（喻嘉言誤會陽旦陰旦二湯謂桂枝加黃芩為陽旦東加桂枝為陰旦湯按法用之即桂枝加黃芩之法所以得之便厥誤在黃芩仲景即行桂枝之法增桂枝令其汗出更加附子溫經悖繆極矣嗣後醫書俱襲其說皆載陽旦陰旦二方不通之至仲景自有桂枝加桂湯不名陰旦陰旦之名荒唐怪誕所謂不知而妄作也）</p>
<h4>汗後吐逆證五（太陽七十五）</h4>
<p>發汗後水藥不得入口為逆若更發汗必吐下不止汗出陽泄土敗胃逆水藥不得入口是謂逆治若更發汗陽敗土崩太陰吐利之證必將俱作無有止期矣</p>
<h4>汗後吐逆證六（太陽七十六）</h4>
<p>病患脈數數為熱當消穀引食而反吐者此以發汗令陽氣微膈氣虛脈乃數也數為客熱不能消穀以胃中虛冷故吐也陰陽互根陽虛脫根升浮於上是以脈數數為客熱升浮不能消化水穀故作嘔吐緣其陽亡而胃中虛冷也</p>
<h4>吐後生煩證七（太陽七十七）</h4>
<p>太陽病吐之但太陽病當惡寒今反不惡寒不欲近衣此為吐之內煩也太陽病傷寒中風表邪外閉營衛不達當見惡寒吐傷胃氣裡陽上逆外達皮毛故反不惡寒而欲去衣被此為吐之令陽火離根而內煩故也</p>
<h4>吐後作吐證八（太陽七十八）</h4>
<p>太陽病當惡寒發熱今身自汗出不惡寒發熱關上脈細數者以醫吐之過也一二日吐之者腹中飢口不能食三四日吐之者不喜糜粥欲食冷食朝食暮吐以醫吐之所致也此為小逆吐傷胃陽虛浮無根故關脈細數一二日胃病尚淺吐則傷輕胃中虛餒故飢而胃氣上升故不能食三四日胃病頗深吐則傷重陽火虛浮故不喜糜粥欲食冷食而胃中虛冷不能化穀故朝食暮吐此亦過吐傷胃是謂小逆遲則微陽續復逆氣乃下也汗吐下溫針諸逆之中惟吐為輕凡胸腹之內腐敗壅塞隔礙真陽郁悶懊　頭痛心煩吐之清氣通暢即刻輕安最妙之法也即吐之過當中虛內煩亦無汗下亡陽諸禍一溫中氣虛煩立止最易治療故曰小逆也</p>
<h4>身疼下利證九（太陽七十九）</h4>
<p>傷寒醫下之續得下利清穀不止身疼痛者急當救裡後身疼痛清便自調者急當救表救裡宜四逆湯（方在太陰三）救表宜桂枝湯（方在太陽五）</p>
<p>傷寒表病下之敗其裡陽續得下利清穀不止已成太陰自利而身體疼痛表證未解是表裡皆病然急當救裡不暇及表也救裡之後利止便調然後表之身疼痛者急當救之蓋表邪不解恐裡陰復鬱而生寒故救之宜急救裡宜四逆以溫中救表宜桂枝以解外傷寒而不用麻黃者裡陽既虛不敢過汗也（此與太陰下利腹脹滿章彼此互文救表即攻表攻表即發表）</p>
<h4>新加湯證十（太陽八十）</h4>
<p>發汗後身疼痛脈沉遲者桂枝加芍藥生薑各一兩人參三兩新加湯主之汗泄血中溫氣陽虛肝陷故脈沉遲經脈凝澀風木鬱遏故身疼痛新加湯甘草補其脾精桂枝達其肝氣芍藥清風木之燥生薑行經絡之瘀人參補肝脾之陽以溫營血而充經脈也</p>
<h4>新加湯（二十）</h4>
<p>桂枝（三兩）　甘草（二兩炙）　大棗（十二枚）　芍藥（四兩）　生薑（四兩）　人參（三兩）</p>
<p>於桂枝湯內加芍藥生薑各一兩人參三兩余依前法</p>
<h4>葛根連芩證十一（太陽八十一）</h4>
<p>太陽病桂枝證醫反下之利遂不止脈促者表未解也喘而汗出者葛根黃連黃芩湯主之太陽病桂枝證有表邪而無裡邪醫反下之敗其中氣利遂不止此當溫裡若脈促者是表未解也蓋病在經絡不解表而攻裡表陽承裡虛而內陷為裡陰所拒不得下達表裡束迫故見促象（脈來數時止復來者曰促）若喘而汗出者是胃氣上逆肺阻而為喘肺郁生熱氣蒸而為汗也雖內有四逆證外有桂枝證而熱在胸膈二方俱不能受宜葛根連芩湯主之葛根達陽明之郁芩連清君相之火胸膈整肅然後中下之寒徐可議溫也　桂枝證解表而用葛根以喘而汗出胸膈鬱蒸宜葛根之辛涼不宜桂枝之辛溫也</p>
<h4>葛根黃連黃芩湯（二十一）</h4>
<p>葛根（半斤）　黃連（三兩）　黃芩（二兩）　甘草（二兩炙）</p>
<p>上四味以水八升先煎葛根減二升入諸藥煮取二升去滓分溫再服</p>
<h4>桂枝去芍藥證十二（太陽八十二）</h4>
<p>太陽病下之後脈促胸滿者桂枝去芍藥湯主之若微惡寒者去芍藥方中加附子湯主之下後脈促表邪未解是宜桂枝而益以胸滿則陽衰胃逆濁氣衝塞去芍藥之酸寒以解表邪若微惡寒者則不止脾陽之虛而腎陽亦敗加附子之辛溫以驅裡寒也</p>
<h4>桂枝去芍藥湯（二十二）</h4>
<p>桂枝（三兩）　甘草（二兩）　生薑（三兩）　大棗（十二枚）</p>
<p>於桂枝方內去芍藥余依前法</p>
<h4>桂枝去芍藥加附子湯（二十三）</h4>
<p>桂枝（三兩）　甘草（二兩）　大棗（十二枚）　生薑（三兩）　附子（一枚炮去皮）</p>
<p>於桂枝湯方內去芍藥加附子一枚去皮破八片余依前法</p>
<h4>桂枝厚朴杏子證十三（太陽八十三）</h4>
<p>太陽病下之微喘者表未解故也桂枝加厚朴杏子湯主之表病而攻其裡裡陰上逆而表邪未解肺氣鬱阻是以發喘桂枝加厚朴杏子降沖逆而破壅塞也</p>
<h4>桂枝加厚朴杏子湯（二十四）</h4>
<p>桂枝（三兩）　芍藥（三兩）　甘草（二兩）　大棗（十二枚）　生薑（三兩）　厚朴（二兩）　杏仁（五十枚去皮尖）</p>
<p>於桂枝湯方內加厚朴二兩杏仁五十枚去皮尖余依前法</p>
<h4>桂枝厚朴杏子證十四（太陽八十四）</h4>
<p>喘家作桂枝東加厚朴杏子仁平素喘家胃逆肺阻作桂枝湯解表宜加朴杏降逆而破壅也</p>
<h4>桂枝去桂加茯苓白朮證十五（太陽八十五）</h4>
<p>服桂枝湯或下之仍頭項強痛翕翕發熱無汗心下滿微痛小便不利者桂枝去桂加茯苓白朮湯主之服桂枝湯後或又下之仍復頭項強痛發熱無汗甚似表證未解而加以心下滿痛小便不利是非風邪之外束實緣濕邪之內動也蓋土虛濕旺脾陷而肝鬱不能泄水故小便不利胃逆而膽郁不能降濁故心下滿痛濁氣衝塞故頭痛發熱桂枝去桂枝之解表加茯苓白朮泄濕而燥土也</p>
<h4>桂枝去桂加茯苓白朮湯（二十五）</h4>
<p>芍藥（三兩）　甘草（二兩）　大棗（十二枚）　生薑（三兩）　茯苓（二兩）　白朮（三兩）</p>
<p>於桂枝湯方內去桂枝加茯苓白朮各三兩余依前法煎服小便利則愈</p>
<h4>厚朴薑夏參甘證十六（太陽八十六）</h4>
<p>發汗後腹脹滿者厚朴生薑甘草半夏人參湯主之胃不偏燥脾不偏濕脾升胃降中氣轉運胸腹沖和故不脹滿汗泄中氣陽虛濕旺樞軸不運脾陷胃逆則生脹滿厚朴生薑甘草半夏人參湯人參甘草補中而扶陽朴夏生薑降濁而行郁也</p>
<h4>厚朴生薑甘草半夏人參湯（二十六）</h4>
<p>厚朴（一斤去皮）　生薑（半斤）　甘草（二兩炙）　半夏（半升洗）　人參（一兩）</p>
<p>上五味以水一斗煮取三升去滓溫服一升日三服</p>
<h4>梔子厚朴證十七（太陽八十七）</h4>
<p>傷寒下後心煩腹滿臥起不安者梔子厚朴湯主之下傷中氣樞軸不運是以腹滿陽明上逆濁陰不降腐敗壅塞宮城不清是以心煩煩極則臥起不安梔子厚朴湯厚朴枳實泄滿而降逆梔子吐濁瘀而除煩也</p>
<h4>梔子厚朴湯（二十七）</h4>
<p>梔子（十四枚劈）　厚朴（四兩薑炙）　枳實（四枚水浸去穰炒）</p>
<p>以上三味以水二升半煮取一升半去滓分二服溫進一服得吐者止後服</p>
<h4>梔子乾薑證十八（太陽八十八）</h4>
<p>傷寒醫以丸藥大下之身熱不去微煩者梔子乾薑湯主之大下敗其中氣濁陰上逆瘀生腐敗阻格君火不得下秘故身熱而心煩梔子乾薑湯乾薑降逆而溫中梔子吐瘀而除煩也</p>
<h4>梔子乾薑湯（二十八）</h4>
<p>梔子（十四枚）　乾薑（一兩）</p>
<p>上二味以水三升半煮取升半去滓分三服溫進一服得吐者止後服</p>
<h4>梔子香豉證十九（太陽八十九）</h4>
<p>發汗若下之而煩熱胸中窒者梔子豉湯主之汗下敗其中氣胃土上逆濁氣填瘀君火不得下行故心宮煩熱胸中窒塞梔子豉湯香豉調中氣而開窒塞梔子吐濁瘀而除煩熱也</p>
<h4>梔子豉湯（二十九）</h4>
<p>梔子（十四枚劈）　香豉（四兩綿裹）</p>
<p>上二味以水四升先煎梔子得二升半內豉煮取一升半去渣分二服溫進一服得吐者止後服</p>
<h4>梔子香豉證二十（太陽九十）</h4>
<p>發汗吐下後虛煩不得眠若劇者必反復顛倒心中懊　者梔子豉湯主之若少氣者梔子甘草豉湯主之若嘔者梔子生薑豉湯主之發汗吐下土敗胃逆君火不降故虛煩不得臥眠劇則陳菀填塞濁氣薰心故反復顛倒心中懊　梔子豉湯吐其瘀濁則陽降而煩止矣若少氣者加甘草以益氣若嘔者加生薑以止逆也</p>
<h4>梔子甘草豉湯（三十）</h4>
<p>梔子（十四枚）　香豉（四兩綿裹）　甘草（二兩）</p>
<p>於梔子豉湯內加甘草二兩余依前法得吐者止後服</p>
<h4>梔子生薑豉湯（三十一）</h4>
<p>梔子（十二枚）　香豉（四兩綿裹）　生薑（五兩）</p>
<p>於梔子豉東加入生薑五兩余依前法得吐止後服</p>
<h4>忌梔子證二十一（太陽九十一）</h4>
<p>凡用梔子湯病患舊微溏者不可與服之梔子苦寒之性泄脾胃而滑大腸凡用梔子諸湯設病患舊日脾陽素虛大便微溏者不可與服也</p>
<h4>太陽壞病入少陰去路（十七章）</h4>
<p>少陰以寒水而化君火平人水火交則腎水溫陰盛之人水旺火衰腎氣原寒病在太陽表陽外郁內寒已動一有汗下溫針之逆陽亡土敗寒水無制水邪泛溢死不旋踵扶陽明而抑少陰良工當思患而預防也</p>
<h4>太陽壞病入少陰桂枝附子證一（太陽九十二）</h4>
<p>太陽病發汗遂漏不止其人惡風小便難四肢微急難以屈伸者桂枝加附子湯主之衛陽汗泄皮毛失斂是以汗漏不止表虛是以惡風汗亡血中溫氣木鬱不能行水是以小便難陽亡土敗不能溫養四肢是以四肢微急難以屈伸腎主五液入心為汗腎氣者諸陽之本汗漏不止則腎中陽根泄而不藏桂枝加附子湯桂枝達肝木之郁陷芍藥斂風氣之疏泄薑甘大棗補脾精而和中氣附子暖腎水以益陽根也</p>
<h4>桂枝加附子湯（三十二）</h4>
<p>桂枝（三兩）　芍藥（三兩）　甘草（二兩）　大棗（十二枚）　附子（一枚炮破八片）　生薑（三兩）</p>
<p>於桂枝湯內加附子一枚破八片余依前法</p>
<h4>芍藥甘草附子證二（太陽九十三）</h4>
<p>發汗病不解反惡寒者虛故也芍藥甘草附子湯主之汗泄血中溫氣木鬱陽陷故表病不解而反加惡寒芍藥甘草附子湯芍藥清風而斂營血甘草培土而榮木氣附子暖水以補溫氣也</p>
<h4>芍藥甘草附子湯</h4>
<p>芍藥（三兩）　甘草（三兩炙）　附子（一枚炮破八片）</p>
<p>以上三味以水五升煮取一升五合去滓溫服</p>
<h4>內外俱虛證三（太陽九十四）</h4>
<p>下之後復發汗必振寒脈微細所以然者以內外俱虛故也申明上章惡寒之義汗下亡陽必身體振寒而經脈細微所以然者以下傷其內汗泄其外內外之陽俱虛故也</p>
<h4>苓桂術甘證四（太陽九十五）</h4>
<p>傷寒若吐若下後心下逆滿氣上衝胸起則頭眩脈沉緊發汗則動經身為振振搖者茯苓桂枝白朮甘草湯主之吐傷胃陽則病上逆濁氣衝塞故心逆滿陽氣浮升而無根故起則頭眩下泄脾陽則病下陷風木抑郁故脈沉緊木愈鬱而愈升升發太過而不得平故氣上衝胸又復發汗以亡經中之陽溫氣脫泄木枯風動於是身體振搖勢如懸旌此緣於水旺土濕而風木鬱動也苓桂朮甘湯苓朮泄水桂枝疏木而甘草補中也</p>
<h4>茯苓白朮桂枝甘草湯（三十四）</h4>
<p>茯苓（四兩）　甘草（二兩炙）　桂枝（二兩）　白朮（二兩）</p>
<p>上四味以水六升煮取三升去滓分溫三服</p>
<h4>真武湯證五（太陽九十六）</h4>
<p>太陽病發汗汗出不解其人仍發熱心下悸頭眩身　動振振欲擗地者真武湯主之（方在少陰十九）</p>
<p>陽虛之人發汗過多土敗陽飛則頭目眩暈風木動搖則心悸肉　蓋木生於水而長於土水寒土濕木鬱風生是以悸動根本搖撼則悸在臍間枝葉振搖則悸在心下振振欲擗地者風動神搖欲穴地以自安也木鬱風動原於土濕而水寒真武湯生薑降濁而止嘔苓朮泄水而燥土芍藥清風而安振搖附子溫腎水以培陽根也（真武湯治少陰病內有水氣腹痛下利小便不利四肢沉重疼痛或嘔者）</p>
<h4>桂枝甘草證六（太陽九十七）</h4>
<p>發汗過多其人叉手自冒心心下悸欲得按者桂枝甘草湯主之汗亡心液火泄神虛故叉手自冒其心（冒者覆也）汗多陽亡溫氣泄脫風木不寧而土敗胃逆濁氣填塞風木上行升路郁阻故心下動悸欲得手按以寧神宇桂枝甘草湯桂枝疏木而安動搖甘草補土以培根本也</p>
<h4>桂枝甘草湯（三十五）</h4>
<p>桂枝（四兩）　甘草（二兩炙）</p>
<p>上二味以水二升煮取一升去滓頓服</p>
<h4>陽虛耳聾證七（太陽九十八）</h4>
<p>未持脈時病患叉手自冒心師因教試令咳而不咳者此必兩耳聾無聞也所以然者以重發汗虛故如此五臟陰也陰中有陽清陽升發開竅五官濁陰下降七竅空靈故能聞見汗傷中氣肝脾不升肺胃不降清陽下陷濁陰上逆濁氣堙塞聽宮障蔽是以聾也</p>
<h4>身重心悸證八（太陽九十九）</h4>
<p>脈浮數者法當汗出而愈若下之身重心悸者不可發汗若自汗出乃解所以然者尺中脈微此裡虛須表裡實津液自和便自汗出愈浮數之脈當以汗解設在下後而見身重心悸之證雖有浮數之脈不可發汗當使其自汗出乃愈蓋水旺土濕則身體重濁木鬱風生則心下悸動以其傷肝脾之陽故也所以然者寸口雖見浮數而尺中則脈微弱寸口主表尺中主裡寸口浮數雖為表實而尺脈微弱則為裡虛須裡氣漸復表裡俱實則裡氣內拒表氣外發邪無內陷之慮便自汗出而愈醫家於此貴有實裡解表之法雖汗出而無虛虛之嫌則以人巧而代天工矣</p>
<h4>桂苓甘棗證九（太陽一百）</h4>
<p>發汗後其人臍下悸者欲作奔豚茯苓桂枝甘草大棗湯主之汗亡血中溫氣風木鬱動是以振悸枝葉不寧則悸在心下根本不安則悸在臍間臍下振悸根本撼搖則奔豚欲作矣奔豚者風木奔騰狀如驚豚上衝胸膈及乎咽喉腹脅心首諸病皆作喘呼閉塞七竅火生病勢凶惡莫此為劇仲景扁鵲以為腎邪（仲景霍亂臍上築者腎氣動也扁鵲難經腎之積曰奔豚）其實純是肝氣蓋木氣奔沖原於陽亡而水寒也苓桂甘棗湯茯苓桂枝泄癸水而疏乙木甘草大棗補脾精以滋肝血也</p>
<h4>茯苓桂枝甘草大棗湯（三十六）</h4>
<p>茯苓（半斤）　桂枝（四兩）　甘草（二兩炙）　大棗（十二枚）</p>
<p>上四味以甘瀾水一斗先煮茯苓減二升內諸藥煮取三升去滓溫服一升日三服作甘瀾水法取水二斗置大盆內以杓揚之水上有珠子五六千顆相逐取用之</p>
<h4>桂枝加桂證十（太陽一百零一）</h4>
<p>燒針令其汗針處被寒核起而赤者必發奔豚氣從少腹上衝心者灸其核上各一壯與桂枝加桂湯更加桂二兩汗後陽虛脾陷木氣不舒一被外寒閉其針孔風木鬱動必發奔豚若氣從少腹上衝心胸便是奔豚發作宜先灸核上各一壯散其外寒即以桂枝加桂湯更加桂枝以疏風木而降奔豚也（桂枝加桂者於桂枝湯內更加桂枝也）</p>
<h4>桂枝加桂湯（三十七）</h4>
<p>桂枝（五兩）　芍藥（三兩）　甘草（二兩）　大棗（十二枚）　生薑（三兩）</p>
<p>於桂枝湯內更加桂枝二兩共五兩余依前法</p>
<h4>桂枝加桂證十一（太陽一百零二）</h4>
<p>太陽病下之後其氣上衝者可與桂枝湯用前法若不上衝者不可與之下後其氣上衝是奔豚發作也可與桂枝湯用如前法疏風木而降奔沖若不上衝者奔豚未作不可與前湯也</p>
<h4>桂枝去芍藥加蜀漆龍骨牡蠣證十二（太陽一百零三）</h4>
<p>傷寒脈浮醫以火迫劫之亡陽必驚狂起臥不安者桂枝湯去芍藥加蜀漆龍骨牡蠣救逆湯主之汗多亡陽君火飛騰神魂失歸是以驚生濁氣上逆化生敗濁迷塞心宮是以狂作桂枝加蜀漆龍骨牡蠣湯桂枝甘草疏木而培中生薑大棗補脾而降逆蜀漆吐腐瘀而療狂龍骨牡蠣斂神魂而止驚也</p>
<h4>桂枝去芍藥加蜀漆龍骨牡蠣湯（三十八）</h4>
<p>桂枝（三兩去皮）　甘草（二兩炙）　大棗（十二枚）　生薑（三兩）　蜀漆（三兩洗去腥）　龍骨（四兩）　牡蠣（五兩熬）</p>
<p>上為末以水一斗二升先煮蜀漆減二升內諸藥煮取三升去滓溫服一升</p>
<h4>溫針亡陽證十三（太陽一百零四）</h4>
<p>太陽傷寒者加溫針必驚也溫針發汗亡陽土敗胃逆神魂無歸必生驚悸也</p>
<h4>桂枝甘草龍骨牡蠣證十四（太陽一百零五）</h4>
<p>火逆下之因燒針煩躁者桂枝甘草龍骨牡蠣湯主之火劫發汗是為火逆火逆之證下之亡其裡陽又復燒針發汗亡其表陽神氣離根因而煩躁不安桂枝甘草龍骨牡蠣湯桂枝甘草疏乙木而培中脘龍骨牡蠣斂神氣而除煩躁也</p>
<h4>桂枝甘草龍骨牡蠣湯（三十九）</h4>
<p>桂枝（一兩）　甘草（二兩）　龍骨（二兩）　牡蠣（三兩）</p>
<p>上為末以水五升煮二升半去滓溫服八合日三服</p>
<h4>茯苓四逆證十五（太陽一百零六）</h4>
<p>發汗若下之病仍不解煩躁者茯苓四逆湯主之汗下亡陽土敗水侮陽氣拔根擾亂無歸故生煩躁茯苓四逆湯茯苓參甘泄水而補土乾薑附子溫脾而暖腎也</p>
<h4>茯苓四逆湯（四十）</h4>
<p>茯苓（六兩）　人參（一兩）　甘草（二兩炙）　乾薑（一兩五錢）　附子（一枚去皮）</p>
<p>上五味以水五升煮取二升去滓溫服七合日三服</p>
<h4>乾薑附子證十六（太陽一百零七）</h4>
<p>下之後復發汗晝日煩躁不得眠夜而安靜不嘔不渴無表證脈微沉身無大熱者乾薑附子湯主之汗下亡陽土敗水侮微陽拔根不得下秘故晝日煩躁不得眠夜而陽氣歸根是以安靜溫氣脫泄乙木鬱陷故脈象沉微而身無大熱乾薑附子湯乾薑溫中以回脾胃之陽附子溫下以復肝腎之陽也</p>
<h4>乾薑附子湯（四十一）</h4>
<p>乾薑（一兩）　附子（一枚生用去皮破八片）</p>
<p>上二味以水三升煮取一升去滓頓服</p>
<h4>禹餘糧證十七（太陽一百零八）</h4>
<p>汗家重發汗必恍惚心亂小便已陰疼與禹餘糧丸（方缺）</p>
<p>平素汗家液亡神虛重發其汗陽亡神敗必恍惚心亂濕動木鬱小便後陰痛以木鬱於水疏泄不暢便後滯氣凝澀故尿孔作痛禹餘糧斂陽神於陰精蟄君火而達風木也</p>
<h4>太陽壞病入厥陰去路（一章）</h4>
<p>厥陰以風木主令陰盛之人病在太陽木鬱將發一有汗下溫針之逆陽敗水寒乙木失溫生氣不遂厥陰之病相繼作矣</p>
<h4>太陽壞病入厥陰胃冷吐蛔證一（太陽一百零九）</h4>
<p>病患有寒復發汗胃中冷必吐蛔臟腑素有積寒復發汗以亡胃陽胃冷不能安蛔必吐蛔蟲蟲因木化厥陰木鬱則生蛔蟲素問厥陰者陰之絕陽厥陰以至陰之臟寒極吐蛔則水騰而火不能復中伏當機是以內外感傷諸病一見吐蛔便屬險證陽絕則死陽復則生惟溫病吐蛔是熱非寒與余證不同也</p>
<h2>卷五</h2>
<h3>太陽經下編（二十五章）</h3>
<h4>太陽壞病結胸痞證</h4>
<p>太陽之病不解於太陽而入陽明之腑太陰之臟寒熱之偏勝危機伏藏是皆太陽之壞病也然悠忽失治離表傳裡俟其入於陽明而用承氣入於太陰而用四逆猶有救壞之方至於未成陽明下早而為結胸將成太陰誤下而為痞則陽明不成為陽明太陰不成為太陰承氣四逆方俱不可用是為壞中之壞莫可救挽者也仲景於此變承氣四逆而為陷胸瀉心法挽逆為順至德神功無以加矣</p>
<h4>太陽壞病結胸痞證提綱一（太陽一百一十）</h4>
<p>病發於陽者多入陽明而為熱病發於陰者多入太陰而為寒病發於陽俟其表證已解內熱既實而用下乃不為早下早則表陽陷而為結胸此陽明之壞病也病發於陰始終不可用下誤下則裡陰升而為痞此太陰之壞病也病發於陽而反下之熱入因作結胸病發於陰而反下之因作痞所以成結胸者以下之太早故也承病有發熱惡寒者發於陽也無熱惡寒者發於陰也來（在太陽首篇）病發於陽風傷衛也風傷衛氣遏逼營血而生內熱臟陰衰者多傳於陽明當其經熱方盛法宜解表俟至表熱傳胃乃可攻下邪之內傳腑熱未成胸熱先作以陽盛於上也熱未入腑下之若早中氣受傷升降倒置胃土上逆膽木不得下行君相合邪為病而金肺熱愈隆而皮毛不泄經絡之熱遂內入胸膈經腑之氣兩相拒格硬滿作痛是為結胸病發於陰寒傷營也寒傷營血束閉衛氣而生外寒腑陽弱者多傳於太陰誤下則脾陽下陷陰邪上填堵塞心下是謂痞證未下之前經熱非盛故下後原無熱入但痞滿不消久而鬱甚則生熱耳內傷脾虛之證往往心下痞滿誤投寒涼其痞愈甚即此病也結胸上熱下寒而下寒不甚故用陷胸湯泄上焦之濕熱痞證亦上熱下寒而下寒較重故用瀉心湯清上而溫下結胸證惟陽明少陽有之以陽旺而生上熱也（陽明上逆則少陽不降二氣鬱升膈熱壅逼皮毛不泄故經熱內入）痞證惟太陰有之以陰旺而生下寒也結胸因於下早痞證因於誤下大不同也（結胸痞證總因胃氣不舒甲木上逆但有陰陽之分）</p>
<h4>太陽壞病結胸證（十二章）</h4>
<p>結胸者異日之陽明今日下早而成者也胃腑燥熱汗亡其陰則成陽明胸膈濕熱下陷其陽則成結胸若遲延數日濕被燥奪表寒已解腑熱既實一下而愈何至於此故太陽而見陽明之證寧遲遲而用承氣勿匆匆而用陷胸蓋結胸乃陽明之壞病也陽明之病在腹結胸之病在胸承氣泄下焦之燥熱陷胸泄上焦之濕熱高下不同燥濕亦異也</p>
<h4>太陽壞病結胸大陷胸證一（太陽一百一十一）</h4>
<p>太陽病脈浮而動數浮則為風數則為熱動則為痛數則為虛頭痛發熱微盜汗出而反惡寒者表未解也醫反下之動數變遲膈內拒痛胃中空虛客氣動膈短氣煩躁心中懊　陽氣內陷心下因硬則為結胸大陷胸湯主之若不結胸但頭汗出余處無汗劑頸而還小便不利者身必發黃也太陽病脈浮而兼動數浮則為表中於風數則為營郁發熱動則為經氣莫泄郁迫而生疼痛數從浮見尚非內實是以曰虛其證頭痛發熱微盜汗出而反惡寒者表邪未解故也醫不解表而反下之動數之脈變而為遲則胃氣敗矣陽敗胃逆礙膽木降路逆衝胸膈膽胃相拒則膈內疼痛甲木下行化相火而歸癸水相火在水是為下焦主氣今陽敗胃虛甲木逆行以下焦主氣客居膈上衝動不已此拒痛所由來也心肺之氣以下降為順胃膽逆阻心肺莫降相火上炎助君火而刑辛金則煩躁懊　氣短胸盈膈熱鬱發皮毛不開經中陽氣亦遂內陷經腑之熱彼此壅塞心中堅凝是為結胸肺金鬱遏霧氣淫蒸津液淤濁化生痰涎大陷胸湯硝黃清其鬱熱甘遂決其痰飲胸中邪熱推蕩無余矣若其不成結胸但頭上汗出余處無汗劑頸而還下見小便不利者是苦寒泄其脾陽濕氣內鬱而無降路身必發黃也表熱傳胃則為陽明證陽明有陽而無陰故病燥熱表熱入膈則為結胸證結胸上陽而下陰故病濕熱臟氣發舒則津液流溢臟氣堙塞則痰涎凝結無二理也按大陷胸證表陽即陷而經邪未解是宜內清胸膈之熱外解皮毛之邪使上郁之裡熱固自裡散內陷之表陽還從表出仲景用大陷胸湯但泄上焦濕熱而不用表藥是救急之法此處尚可變通愚意用石膏甘遂枳實麻黃雙解表裡得仲景法外之意矣　程氏曰結胸證用枳實理中丸甚效欲破其結而軟其堅則黃芩栝蔞牡蠣為佳</p>
<h4>大陷胸湯（四十二）</h4>
<p>大黃（六兩）　芒硝（一升）　甘遂（一錢匕）</p>
<p>上二味以水六升先煎大黃取二升去滓內芒硝煮一二沸內甘遂末溫服一升得快利止後服</p>
<h4>大陷胸證二（太陽一百一十二）</h4>
<p>傷寒六七日結胸熱實脈沉而緊心下痛按之石硬者大陷胸湯主之傷寒六七日後結胸而膈熱內實心下滿痛按之如石之硬者是真大陷胸證也結胸之脈寸浮而關沉後章寸脈浮關脈沉名曰結胸是也脈沉而緊指關上言抵當湯證脈微而沉反不結胸蓋結胸之脈關上必沉也後章小結胸病正在心下脈浮滑者太陽病下之脈浮者必結胸也皆指寸脈言</p>
<h4>大陷胸證三（太陽一百一十三）</h4>
<p>太陽病重發汗而復下之不大便五六日舌上燥而渴日晡時小有潮熱從心下至少腹硬滿而痛不可近者大陷胸湯主之結胸證攻下後下寒逼熱在上病但在胸不至少腹此從心上至於少腹硬滿而痛是結胸而兼陽明腑證也合之舌上燥渴日晡潮熱全是胃腑燥熱但小有潮熱腑邪尚輕故用陷胸而不用承氣也</p>
<h4>大陷胸丸證四（太陽一百一十四）</h4>
<p>結胸者項亦強如柔痙狀下之則和宜大陷胸丸胸膈痞塞濕熱薰沖俯則痛甚故項常反折狀如柔痙大陷胸丸硝黃蕩其結熱杏仁破其滯氣葶藶泄其水飲變湯為丸病連項頸恐湯之速下也</p>
<h4>大陷胸丸（四十三）</h4>
<p>大黃（半斤）　芒硝（半升）　葶藶（半升熬）　杏仁（半升去皮熬）</p>
<p>上四味搗篩二味內杏仁芒硝合研如脂合散取如彈丸一枚別搗甘遂末一錢匕白蜜二合水二升煮取一升溫頓服之一宿乃下如不下更服取下為效禁如藥法</p>
<h4>結胸忌下證五（太陽一百一十五）</h4>
<p>結胸證其脈浮大者不可下下之則死結胸之脈寸浮關沉寸浮則上熱關沉則中寒上熱甚而中寒不甚則浮多而沉少是以可下若其脈浮大絕無沉意是非無中寒也乃中寒之極陽氣全格於上是以但見浮大而不見其沉下之中氣敗竭必死無疑也結胸可以下愈者下焦之陽未至絕根故推陷其上郁之陽使之通達於下以接下焦之根是以愈也其脈浮大則陽已絕根於下是中虛外寒之診下之所以速其死也</p>
<h4>結胸煩躁證六（太陽一百一十六）</h4>
<p>結胸證悉具煩躁者亦死遷延日久結胸證無一不具若見煩躁則熱極矣上熱極者下寒必極如是者雖不下而亦死非死於上熱非死於下寒乃死於中氣之敗也</p>
<h4>小結胸證七（太陽一百一十七）</h4>
<p>小結胸病正在心下按之則痛脈浮滑者小陷胸湯主之小結胸病正在心下位與大結胸同但按之則痛未如大結胸之不按亦痛也脈則浮滑亦不如大結胸之寸浮關沉白虎湯證脈浮滑者此裡有熱表有寒也此雖不如大結胸之熱實而亦有裡熱較之大結胸證同而病輕小陷胸湯黃連泄熱半夏降逆而滌飲栝蔞清金而去垢是即大陷胸之制變而從輕者也</p>
<h4>小陷胸湯（四十四）</h4>
<p>黃連（一兩）　半夏（半升洗）　栝蔞實（大者一枚）</p>
<p>上三味以水六升先煮栝蔞內諸藥煮出三升去滓分溫三服</p>
<h4>臟結證八（太陽一百一十八）</h4>
<p>問曰病有結胸有臟結其狀何如答曰按之痛寸脈浮關脈沉名曰結胸也何謂臟結答曰如結胸狀飲食如故時時下利寸脈浮關脈細小沉緊名曰臟結舌上白苔滑者難治結胸證不按亦痛前章膈內拒痛從心下至小腹硬滿而痛心下不按亦痛也此曰按之痛者按之則痛劇耳寸脈浮者膈上有熱也關脈沉者腹中寒也臟結如結胸狀病因陰邪逆沖即太陰之心下結硬而上無熱者也其脈寸浮關沉亦與結胸無異加以脈小細緊則陰邪獨結而無陽也關主中焦人之衛氣出於下焦升清陽於濁陰者中焦也宗氣出於上焦降濁陰於清陽者中焦也今關脈細小沉緊則積寒內結有陰無陽是謂死陰故名臟結心竅於舌白苔滑者心火敗而肺津凝也金性收斂得火以溫之則霧氣飄洒而不凝所謂相克而實相成也火衰則肺氣不布而津液郁濁膠塞心宮故舌上苔生滑者氣滯而津凝也土燥則津枯而黃澀金濕則液凝而白滑寒熱之分也舌苔白滑火敗金鬱是以難治</p>
<h4>臟結證九（太陽一百一十九）</h4>
<p>病脅下素有痞連在臍旁痛引少腹入陰筋者此名臟結死肝脈行於兩脅素有痞者肝氣之郁結也臍當脾胃之交中氣所在脅下之痞連在臍旁土敗木鬱肝邪之乘脾也肝主筋自少腹而結陰器前陰者宗筋之聚肝氣鬱結則痛引少腹而入陰筋土木鬱迫痞塞不開此名臟結久而木賊土崩必主死矣</p>
<h4>臟結證十（太陽一百二十）</h4>
<p>臟結無陽證不往來寒熱其人反靜舌上苔滑者不可攻也臟結之證陰勝則寒陽復則熱寒為當機熱則生兆陰陽相爭多見煩躁復之過者邪熱如焚亦有下證若絕無陽證不往來寒熱其人反靜舌上苔滑者是為絕陰不可攻也肝膽同氣寒熱往來而生煩者膽木之陽復也寒熱不作而反靜者肝木之陰勝也</p>
<h4>結胸脈法十一（太陽一百二十一）</h4>
<p>太陽病下之其脈促不結胸者此為欲解也脈浮者必結胸也脈緊者必咽痛脈弦者必兩脅拘急脈細數者頭痛未止脈沉緊者必欲嘔脈沉滑者協熱利脈浮滑者必下血太陽病下之裡邪既去經熱不得內傳而表邪未解經熱不能外達表裡迫束故脈見促象而不結胸者則表陽未陷經氣鬱勃必當外發為汗此為欲解也若寸脈浮者陰邪逆沖膈熱鬱迫必作結胸脈緊者表熱被束邪火上燔必苦咽痛肝膽之經旁循脅肋其脈象為弦脈弦者木氣不舒必兩脅拘急脈細數者陽虛不能下秘為濁陰沖逼升浮無根頭痛發作必當未止脈沉緊者胃氣鬱迫容納失職必作嘔吐脈沉滑者脾陽郁陷肝木疏泄必協熱下利脈浮滑者乙木升發而生氣不暢鬱而生風疏泄失藏必病下血也</p>
<h4>結胸變證十二（太陽一百二十二）</h4>
<p>太陽病二三日不得臥但欲起心下必結脈微弱者此本有寒分也反下之若利止必作結胸未止者四日復下之此作協熱利也太陽病二三日正傳陽明少陽之時但欲起不能臥外煩如是知其心下必結蓋病入陽明少陽胃逆膽壅經氣鬱迫故心下結硬相火上炎是以煩生若脈見微弱此必有寒氣在內格其陽火乃反下之寒盛脾虧必當下利若下利已止脾氣不陷而寒邪在中不得下泄必當上逆膽胃壅塞則病結胸若下利未止脾氣方陷四日見其外熱愈甚而復下之則裡寒益增外熱更劇寒益增而利益甚此作協熱利也結胸與協熱利皆有寒分之邪在內寒邪上衝則胃逆而為結胸寒邪下泄則脾陷而為協熱利其病標異而本同協熱利者內寒協合外熱而下利也</p>
<h4>太陽壞病痞證（十二章）</h4>
<p>痞者異日之太陰今日誤下而成者也陽性虛而陰性實人之心下虛空者清陽升而濁陰降也升降清濁之權在乎中氣下傷中氣升降失職濁氣上逆則生　脹清氣下降則生飧泄故痞證與下利兼見悉因中氣之敗也太陰之證腹滿自利腹滿者痞之根本而未至成痞下之而胸下結硬乃成痞焉痞乃太陰之壞病也太陰臟寒溫宜四逆陽旺寒消自無余事及其成痞則下寒而兼上熱四逆不受故變為瀉心清上溫下寒熱並用靈思妙解神化無窮矣</p>
<h4>太陽壞病痞證人參桂枝湯證一（太陽一百二十三）</h4>
<p>太陽病外證未解而數下之遂協熱而利利下不止心下痞硬表裡不解者桂枝人參湯主之太陽病外證不解而數下之外熱不退而內寒亦增遂協合外熱而為下利利而不止清陽既陷則濁陰上逆填於胃口而心下痞硬緣中氣虛敗不能分理陰陽升降倒行清濁易位是裡證不解而外熱不退是表證亦不解表裡不解當內外兼醫桂枝人參湯桂枝通經而解表熱參朮薑甘溫補中氣以轉升降之機也太陰之胸下結硬即痞證也自利益盛即下利不止也中氣傷敗痞與下利兼見人參湯（即理中湯）助中氣之推遷降陽中之濁陰則痞消升陰中之清陽則利止是痞證之正法諸瀉心則因其下寒上熱從此而變通者也</p>
<h4>桂枝人參湯（四十五）</h4>
<p>桂枝（四兩）　人參（三兩）　白朮（三兩）　甘草（三兩）　乾薑（三兩）</p>
<p>上五味以水九升先煮四味取五升內桂更煮取三升溫服一升日再夜一服</p>
<h4>大黃黃連瀉心湯證二（太陽一百二十四）</h4>
<p>傷寒大下後復發汗心下痞惡寒者表未解也不可攻痞當先解表表解方可攻痞解表宜桂枝湯（方在太陽五）攻痞宜大黃黃連瀉心湯傷寒下後復汗陽亡土敗遂成痞證而外見惡寒者表未解也蓋陰氣外束陽郁不達則見惡寒外見惡寒則內必發熱內熱痞郁法應攻之而表未解者不可攻也當先解表表解乃可攻痞解表宜從中風例用桂枝湯病在汗下後是以不用麻黃攻痞宜大黃黃連瀉心湯去其痞郁之上熱也　上章用桂枝人參湯雙解表裡此用桂枝湯解表大黃黃連攻痞者以上則外熱而內寒此則外寒而內熱攻補不同也溫中解表可以並用攻裡發表不可雙行故仲景於宜攻之病而有表證皆先表而後下</p>
<h4>大黃黃連瀉心湯（四十六）</h4>
<p>大黃（二兩）　黃連（一兩）</p>
<p>上二味以麻沸湯漬之去滓分溫再服</p>
<h4>附子瀉心證三（太陽一百二十五）</h4>
<p>脈浮而緊而復下之緊反入裡則作痞按之自濡但氣痞耳心下痞按之濡其脈關上浮者大黃黃連瀉心湯主之心下痞而復惡寒汗出者附子瀉心湯主之脈浮而緊應以汗解而復下之緊反入裡浮緊變為沉緊則作痞證痞證陽氣格郁必生上熱陰氣凝塞必生下寒寒熱相逼二氣摶結則心下石硬而關脈沉緊是當用諸瀉心清上溫下之法若按之心下自濡診之關上脈浮者是下寒未生但是陽氣痞塞郁生上熱宜用大黃黃連瀉其上熱無用溫藥也若下寒已生則心下不濡而關上不浮其上熱逼蒸別無去路是必開其皮毛泄而為汗如是心下痞硬而復惡寒汗出者是其下寒已動宜附子瀉心湯大黃芩連泄其上熱附子溫其下寒也此以下傷其中氣土敗胃逆膽心不降君相二火皆升大黃泄胃而降逆黃連瀉其心火黃芩瀉其膽火第曰瀉心者相火以君火為主也</p>
<h4>附子瀉心湯（四十七）</h4>
<p>附子（一枚炮去皮破別煮取汁）　大黃（二兩）　黃連（一兩）　黃芩（一兩）</p>
<p>上四味下三味以麻沸湯二升漬之須臾絞去滓內附子汁分溫再服</p>
<h4>十棗湯證四（太陽一百二十六）</h4>
<p>太陽中風下利嘔逆表解者乃可攻之其人　汗出發作有時頭痛心下痞硬滿引脅下痛乾嘔短氣汗出不惡寒者此表解裡未和也十棗湯主之太陽中風下利嘔逆是有水濕在內於法可攻然必表邪外解乃可攻之其人內有水氣格陽於外氣蒸竅泄　汗出者而陰陽勝復發作有時水飲阻格濁氣不降頭為之痛陰邪上填心下痞結硬滿而引脅下疼痛胃氣上逆而生乾嘔肺氣上逆而苦短氣使非水飲郁格何以至此若其　汗出而不復惡寒者是表邪已解而裡氣未和也宜十棗湯大棗保其脾精芫遂大戟泄其水飲也</p>
<h4>十棗湯（四十八）</h4>
<p>大棗（十枚）　芫花　甘遂　大戟上三味等分各搗篩為散以水一升半先煮大棗肥者十枚取八合去滓內諸藥末強人服一錢匕羸人服半錢平旦溫服若下少病不除者明日更服加半錢得快下利後糜粥自養</p>
<h4>生薑瀉心證五（太陽一百二十七）</h4>
<p>傷寒汗出解之後胃中不和心下痞硬干噫食臭脅下有水氣腹中雷鳴下利者生薑瀉心湯主之傷寒汗出解後胃中不和心下痞硬水穀不消陳宿停留濁氣衝胸而乾嘔食臭膽邪克土土虛不能制水水鬱膽部而積於脅下土敗木賊陰氣激宕腹中雷鳴而病下利者生薑瀉心湯生薑半夏降其濁陰黃芩黃連清其心膽薑甘參棗溫補中氣以轉樞軸也</p>
<h4>生薑瀉心湯（四十九）</h4>
<p>生薑（四兩）　半夏（半升）　黃芩（一兩）　甘草（三兩炙）　黃連（一兩）　人參（三兩）　乾薑（一兩）　大棗（十二枚）</p>
<p>上八味以水一斗煮取六升去滓再煎服三升溫服一升日三服</p>
<h4>甘草瀉心湯證六（太陽一百二十八）</h4>
<p>傷寒中風醫反下之其人下利日數十行穀不化腹中雷鳴心下痞硬而滿乾嘔心煩不得安醫見其心下痞謂病不盡復下之其痞益甚此非結熱但以胃中虛客氣上逆故使硬也甘草瀉心湯主之傷寒中風應當解表醫反下之敗其中氣水穀不化土木皆郁升降倒行脾陷而賊於乙木則腹中雷鳴而下利胃逆而迫於甲木則心下痞硬而乾嘔君相二火皆升而心煩醫以痞為結熱而復下之其痞益甚不知此非結熱但以胃中陽虛不能堤障陰邪陰中客氣上逆陽位故使心下結硬也甘草瀉心湯甘草薑棗補中而溫下寒半夏芩連降逆而清上熱也</p>
<h4>甘草瀉心湯（五十）</h4>
<p>甘草（四兩）　大棗（十二枚）　乾薑（三兩）　半夏（半升洗）　黃芩（三兩）　黃連（一兩）</p>
<p>上六味以水一斗煮取六升去滓再煎取三升溫服一升日三服</p>
<h4>石脂禹餘糧證七（太陽一百二十九）</h4>
<p>傷寒服湯藥下利不止心下痞硬服瀉心湯已復以他藥下之利不止醫以理中與之利益甚理中者理中焦此利在下焦赤石脂禹餘糧湯主之復利不止者當利其小便傷寒誤服寒涼湯藥傷其中氣利下不止心下痞硬服瀉心湯已下利未止謂其中有積熱復以他藥下之陽氣脫陷下利不止醫又意中寒以理中與之其利益甚理中者但理中焦此之下利在於下焦滑脫何以能止宜赤石脂禹餘糧湯固下焦之滑脫利乃可止也若使復利不止者必由土濕水停前竅不通而後注二腸當利其小便水道開而穀道合矣</p>
<h4>赤石脂禹餘糧湯（五十一）</h4>
<p>赤石脂（一斤）　禹餘糧（一斤碎）</p>
<p>上二味以水六升煮取二升去滓三服</p>
<h4>五苓散證八（太陽一百三十）</h4>
<p>本以下之故心下痞與瀉心湯痞不解其人渴而口煩躁小便不利者五苓散主之（方在太陽四十二）</p>
<p>本以攻下之故得心下痞證是宜服瀉心乃與瀉心湯而痞不解其人土濕水停口渴心煩小便不利者宜五苓散泄水燥土以利小便土燥則中氣轉運濁降清升痞硬自消也　痞證必兼下利上章復利不止者當利其小便利小便之法五苓散是也五苓證痞與下利兼醫此但言痞而不言下利者省文也</p>
<h4>旋覆代赭證九（太陽一百三十一）</h4>
<p>傷寒發汗若吐若下解後心下痞硬噫氣不除者旋覆花代赭石湯主之傷寒汗吐下解後心下痞硬噫氣不除以外證雖解而汗下傷中土敗胃逆礙膽經降路胃口痞塞肺氣鬱蒸而化痰飲胃土壅遏而生噦噫旋覆花代赭石湯參甘大棗補其中脘半夏薑赭降其逆氣旋覆花行痰飲而開鬱濁也濁氣上填痞悶噫氣以旋覆花代赭石補虛降逆噫氣立除若除後再用則病下陷不可常服也</p>
<h4>旋覆花代赭石湯（五十二）</h4>
<p>旋覆花（三兩）　代赭石（一兩）　生薑（五兩）　半夏（半斤洗）　甘草（三兩炙）　人參（二兩）　大棗（十二枚）</p>
<p>上七味以水一斗煮取六升去滓再煎取三升溫服一升日三服</p>
<h4>瓜蒂散證十（太陽一百三十二）</h4>
<p>病如桂枝證頭不痛項不強寸脈微浮胸中痞硬氣上衝咽喉不得息此為胸有寒也當吐之宜瓜蒂散諸亡血家不可與病如桂枝湯證但頭不痛項不強寸脈微浮其內則心中痞硬氣上衝於咽喉不得喘息此為心有寒痰阻塞竅隧故令肺氣壅塞不得布散也法當吐之宜瓜蒂散香豉行其滯小豆泄其濕瓜蒂涌其寒痰若諸亡血之家血慣上逆不可與也</p>
<h4>瓜蒂散（五十三）</h4>
<p>瓜蒂（一分熬）　赤小豆（一分）</p>
<p>上二味各別搗篩為散已合治之取一錢匕以香豉一合用熱湯七合煮作稀糜去滓取汁合散溫頓服之不吐者少少加得快利乃止</p>
<h4>經脈動惕證十一（太陽一百三十三）</h4>
<p>傷寒吐下後發汗陽虛煩脈甚微八九日心下痞硬脅下痛氣上衝咽喉眩冒經脈動惕者久而成痿吐下而又發汗陽虛生煩脈甚微弱至八九日心下痞硬脅下疼痛緣陽亡土敗胃氣上逆礙膽經降路膽脈自胃口而循兩脅膽經壅塞故心下痞而脅下痛胃口堵塞肺氣不得下行故上衝咽喉肺胃上逆陽氣升浮旋轉不寧故頭目眩冒濁氣鬱蓄而不疏通經脈莫容故動惕不安如是者久而成痿蓋肝司營血而主筋脈血旺筋柔是以不痿甲木逆升相火上炎乙木下降鬱而生風營血瘀澀經氣不暢風木抑遏是以動搖久而經脈失養故成痿病也　素問痿病治痿獨取陽明陽明者五臟六腑之海主潤宗筋宗筋主束骨而利機關也衝脈者經絡之海主滲灌溪穀與陽明合於宗筋陰陽總宗筋之會會於氣衝而陽明為之長皆屬於帶脈而絡於督脈故陽明虛而宗筋縱帶脈不引故足痿不用也陽明下降則化金水金水收藏相火下秘而溫腎肝木氣滋榮故筋脈輕健而不痿軟陽明不降胃逆膽升火泄而水寒生氣枯槁筋脈不榮是以成痿</p>
<h4>表裡俱虛證十二（太陽一百三十四）</h4>
<p>太陽病醫發汗遂發熱惡寒因復下之心下痞表裡俱虛陰陽氣並竭無陽則陰獨復加燒針因胸煩面色青黃膚　者難治令色微黃手足溫者易愈太陽病醫發其汗營衛俱虛衛氣內陷則發熱營血外束則惡寒醫見汗之不愈因復下之陽亡土敗心下痞結汗泄其表下泄其裡表裡俱虛內外之氣並竭表裡陽亡但有獨陰復加燒針以泄心肺之氣因而胸膈生煩若面色青黃皮膚　動者是土敗木賊風動而經郁也其病難治若色微黃而不青手足溫暖而不冷是土氣續復而無木邪四末陽回而非獨陰其病易愈也</p>
<h2>卷六</h2>
<h3>陽明經上編（五十章）</h3>
<h4>陽明實證</h4>
<p>陽明以戊土而化氣於燥金陽明者胃之經胃者陽明之腑陽明病有經有腑經主傳輸而腑主受盛病在太陽之經若胃陽非旺則二日陽明三日少陽六日經盡汗解不入陽明之腑此總統於太陽一經不論二三四日俱系桂枝麻黃之證雖二日陽明之時亦不得謂之陽明病以其明日則傳少陽後日則傳太陰非陽明中土無所復傳之證也若胃陽素盛經邪內傳此方謂之陽明病蓋正陽當令則太少無權而三陰退避自此而永留胃腑終始不遷所謂陽明中土無所復傳也方其腑熱未實經病不罷是為葛根湯證及其胃熱鬱蒸汗出表解潮熱痛滿但用承氣攻下別無余事使非下早裡虛萬無意外之變感病之百不一失甚可慶慰者也然而物忌盛滿亢則害生於此遷延失下久而陰為陽並精液消亡土焦水涸亦歸於死仲景所以示早攻之戒而又垂急下之條早攻則陽去而入陰緩下則陰盡而陽亢遲速均失也是故承氣之法妙在緩急恰宜之交使夫病去而人存是在良工焉</p>
<h4>陽明經提綱一（陽明一）</h4>
<p>胃為燥土燥則生熱病在三陽不論何經之感郁其內熱胃病即作以胃家之陽實也顧陰易盛而陽易虧故胃有實熱而非無虛冷實熱則陽神用事並陰而歸陽虛冷則陰邪司權出陽而入陰非一致也然名為陽明以其兩陽合明而極盛也居陽實之名而有陽虛之實則陽明不成為陽明徒負虛聲矣是以胃家之實可曰陽明之為病至於胃中之虛是名為陽明而實為太陰尚可曰陽明之為病乎仲景於陽明之為病冷熱虛實兩立而俱存之而提綱則曰胃家實也其崇陽黜陰之意具見於文字之外矣陽明之為病胃家實也胃者陽明之腑陽明之為病全緣胃家之陽實陽實則病至陽明腑熱鬱發病邪歸胃而不復他傳非他經之不病也三陽之陽莫盛於陽明陽明之邪獨旺不得屬之他經也胃家之實而病歸胃腑終始不遷故曰陽明之為病若胃陽非實則今日在陽明之經明日已傳少陽之經後日已傳太陰之經未可專名一經曰陽明之為病也</p>
<h4>陽明提綱二（陽明二）</h4>
<p>傷寒三日陽明脈大傷寒一日太陽二日陽明三日少陽陽明之脈大少陽之脈弦細若三日正傳少陽之時不見少陽弦細之脈而見陽明之大脈知其傳於陽明之腑矣</p>
<h4>陽明外證一（陽明三）</h4>
<p>問曰陽明病外證云何答曰身熱汗自出不惡寒反惡熱也裡熱外發則身熱熱氣薰蒸則汗自出汗出表解但熱無寒故不惡寒反惡熱此後全是內熱為害與外寒無關也</p>
<h4>陽明外證二（陽明四）</h4>
<p>問曰病有得之一日不發熱而惡寒者何也答曰雖得之一日而寒將自罷即自汗出而惡熱也得陽明病之一日太陽表證未罷則猶見惡寒以胃熱未盛故也遲則胃熱隆盛孔竅蒸泄惡寒將自罷即自汗出而惡熱也</p>
<h4>陽明外證三（陽明五）</h4>
<p>問曰惡寒何故自罷答曰陽明居中土也萬物所歸無所復傳始雖惡寒二日自止此為陽明病也感傷三陽則為熱傳之三陰則為寒以陽盛於腑陰盛於臟腑病則熱臟病則寒也感證一傳胃腑則胃熱日增不復再傳三陰而為寒緣陰盛之人三陽方病於外三陰即應於中傳陰則後之惡寒無有止期此但入三陰為寒不入胃腑為熱者也陽盛之人太陽被感腑熱鬱生其始熱未極盛猶見惡寒俟至二日熱盛之極氣蒸汗泄則惡寒自止此但入胃腑為熱不入三陰為寒者也陽盛則生陰盛則死陰莫盛於少陰陽莫盛於陽明病入三陰死多生少雖用薑附回陽難保十全無失最可慮也一傳胃腑則正陽司氣三陰無權萬不一死至為吉兆俟其胃熱盛實一用承氣攻下自無余事陽貴陰賤正為此也</p>
<h4>陽明外證四（陽明六）</h4>
<p>傷寒發熱無汗嘔不能食而反汗出　然者是轉屬陽明也太陽傷寒經證未解發熱無汗嘔不能食緣寒邪束迫胃氣壅逆故無汗而嘔食不能下也而反汗出　然者必因胃腑有熱蒸其皮毛是為轉屬陽明也</p>
<h4>陽明外證五（陽明七）</h4>
<p>傷寒脈浮而緩手足自溫者是為系在太陰太陰者身當發黃若小便自利者不能發黃至七八日大便硬者為陽明病也傷寒轉系陽明者其人　然微汗出也太陽傷寒陽旺則傳陽明陰旺則傳太陰若脈浮而緩手足自溫是陽明太陰所同且以系之太陰然太陰身當發黃緣濕土被郁必見黃色雖脾胃俱有黃證而胃之發黃乃太陰濕土所傳也若小便自利者則濕去又不能發黃太陰陽明何從別之必驗之大便太陰之大便自利陽明之大便則硬至七八日大便硬者此為陽明病也又太陰無汗傷寒轉系陽明者其人　然微汗出也（此與太陰至七八日暴煩下利條彼此互文）</p>
<h4>陽明來路一（陽明八）</h4>
<p>問曰病有太陽陽明有正陽陽明有少陽陽明何謂也答曰太陽陽明者脾約是也正陽陽明者胃家實是也少陽陽明者發汗利小便已胃中燥煩熱大便難是也陽明之病或自太陽傳來或自少陽傳來或由本經自入自太陽來者謂之太陽陽明太陽陽明者小便數而大便難膀胱津涸脾胃失潤因而脾氣約結糞粒堅小也本經自入者謂之正陽陽明正陽陽明者胃家陽實不俟別經之傳一有表邪外郁腑熱自發也自少陽來者謂之少陽陽明少陽陽明者發汗利水膽液枯槁因而胃中燥熱大便艱難也太陽陽明者寒水之枯少陽陽明者相火之旺正陽陽明者燥金之盛也</p>
<h4>陽明來路二（陽明九）</h4>
<p>問曰何緣得陽明病答曰太陽病若發汗若下若利小便此亡津液胃中干燥因轉屬陽明不更衣內實大便難者是名陽明也陽明病來自太陽者多少陽者少陽盛之人太陽病感汗下利水亡其津液以致胃中干燥因而轉屬陽明燥熱內實大便堅硬此名為陽明也</p>
<h4>陽明來路三（陽明十）</h4>
<p>本太陽病初得時發其汗汗先出不徹因轉屬陽明也太陽病汗出透徹則表解而裡氣亦達若汗出不徹表邪未解腑熱鬱生因而轉屬陽明也</p>
<h4>陽明來路四（陽明十一）</h4>
<p>二陽並病太陽初得病時發其汗汗先出不徹因轉屬陽明續自微汗出不惡寒若太陽病證不罷者不可下下之為逆如此可小發汗設面色緣緣正赤者陽氣拂鬱在表當解之薰之若發汗不徹不足言陽氣拂鬱不得越當汗不汗其人煩躁不知痛處乍在腹中乍在四肢按之不可得其人短氣但坐以汗出不徹故也更發汗則愈何以知汗出不徹以脈澀故知也病傳陽明之腑而太陽表證未罷謂之二陽並病以太陽初病發汗不徹經熱內蒸因而轉屬陽明續自微汗出而不惡寒便是腑熱作矣腑熱宜下若太陽表證不罷者不可下下則表陽內陷此之謂逆如此可小發汗以泄其表設表邪外盛面色緣緣正赤者此陽氣拂鬱在表不得出路鬱蒸頭面之故當內解外薰令其透徹不得小汗以致邪留若發汗不徹陽氣拂鬱不得外越其人胃氣內遏必至煩躁又覺疼痛其痛不知其處或在腹中或在四肢按之絕不可得而且隧路壅阻呼吸短氣凡此諸證皆坐以汗出不徹故也更發其汗則愈此何以知是汗出之不徹以其脈澀故知之也澀者陽鬱而不滑利也拂鬱抑郁之意漢書鄒陽傳太後拂鬱泣血楚辭七諫沉江心拂鬱而內傷　薰法以盆盛滾水入被熱薰取汗最捷宜於下部用之</p>
<h4>陽明經病腑病汗下總綱一（陽明十二）</h4>
<p>病患煩熱汗出則解又如瘧狀日晡時發熱者屬陽明也脈實者宜下之脈浮虛者宜發汗下之與大承氣湯發汗宜桂枝湯（方在太陽五）</p>
<p>太陽表證未解而生煩熱汗出則煩熱解矣乃汗後又如瘧狀每日日晡時發熱者此屬陽明也（日晡申戍之交陽明旺盛之時也漢書天文志正月旦決八風旦至食為麥食至　為稷　至晡為黍晡至下晡為菽下晡至日入為麻各以其時用云色占種所宜按日晡在日　之後下晡在日入之前正申酉戍燥金得令之時也）陽明有經證有腑證經證表熱外發其脈浮虛腑證裡熱內結其脈實脈實者宜下之以泄其裡熱脈浮虛者宜發汗以泄其表熱下之與大承氣湯大黃芒硝破結而泄熱厚朴枳實降濁而消滿也發汗宜桂枝湯薑甘大棗補脾精而和中氣桂枝芍藥通經絡而泄營郁也</p>
<h4>陽明經病（七章腑病連經）</h4>
<p>陽明自太陽傳來水入於腑全是經病經病宜汗其未離太陽之經則用麻桂其將入陽明之腑則加葛根陽明一見吐利雖未是裡實可下之證然而經迫腑郁已是胃熱將成之根故用葛根雙解經腑之郁此證得法自無離經入腑之患矣</p>
<h4>陽明經病桂枝證一（陽明十三）</h4>
<p>陽明病脈遲汗出多微惡寒者表未解也可發汗宜桂枝湯（方在太陽五）</p>
<p>脈遲汗出惡寒是太陽中風脈證故宜桂枝而多汗已屬胃陽之盛故曰陽明病也</p>
<h4>麻黃證二（陽明十四）</h4>
<p>陽明病脈浮無汗而喘者發汗則愈宜麻黃湯（方在太陽二十）</p>
<p>脈浮無汗而喘是太陽傷寒脈證故宜麻黃　太陽經病內傳陽明之腑陽明之腑邪未實太陽之經邪未罷是宜用太陽表藥即裡有下證而表病未解亦不可下當先以麻桂表其風寒然後議下也　風脈浮緩寒脈浮緊遲者緩之變文也風脈不言浮寒脈不言緊省文也太陽傳陽明緩緊之中必兼大象以傷寒三日陽明脈大前章已經提明故此不及</p>
<h4>麻黃證三（陽明十五）</h4>
<p>太陽與陽明合病喘而胸滿者不可下麻黃湯主之太陽與陽明合病經迫腑郁胃逆肺脹故喘而胸滿宜麻黃湯麻黃發表而散汗杏仁降逆而止喘不可下也</p>
<h4>桂枝葛根證四（陽明十六）</h4>
<p>太陽病項背強KT　KT　反汗出惡風者桂枝加葛根湯主之陽明經行身之前自頭下膈而走足太陽經行身之後自頭下項循背而走足太陽經病頭痛項強而已不至KT　KT　緣太陽表病不解鬱遏陽明經腑之氣不得順降逆衝胸膈背者胸之腑也胸膈脹滿則項背壅阻愈格太陽下行之路故KT　KT　不柔葛根泄陽明之經氣降逆而達郁也</p>
<h4>桂枝加葛根湯（五十四）</h4>
<p>桂枝（三兩）　芍藥（二兩）　甘草（二兩炙）　大棗（十二枚）　生薑（三兩切）　葛根（四兩）</p>
<p>上六味以水一斗先煮葛根減二升去上沫內諸藥煮取三升去滓溫服一升覆取微似汗不須啜粥</p>
<h4>葛根證五（陽明十七）</h4>
<p>太陽病項背強KT　KT　無汗惡風者葛根湯主之營為寒傷閉束二陽衛氣葛根湯葛根泄陽明之衛麻黃泄太陽之衛桂枝芍藥通經絡而清營血薑甘大棗和中氣而補脾精也</p>
<h4>葛根湯（五十五）</h4>
<p>葛根（四兩）　麻黃（二兩）　桂枝（二兩）　芍藥（二兩）　甘草（二兩）　生薑（三兩）　大棗（十二枚）</p>
<p>上七味　咀以水一斗先煮麻黃葛根減二升去上沫內諸藥煮取三升去滓溫服一升覆取微似汗不須啜粥余如桂枝法將息及禁忌</p>
<h4>葛根證六（陽明十八）</h4>
<p>太陽與陽明合病者必自下利葛根湯主之太陽表寒外束經絡壅迫郁遏陽明胃氣不能容納水穀已化之食必當注泄而下葛根麻黃泄二陽之衛郁以松裡氣也</p>
<h4>葛根半夏證七（陽明十九）</h4>
<p>太陽與陽明合病不下利但嘔者葛根加半夏湯主之二陽合病經迫腑郁不能容納水穀未化之食必當涌吐而上半夏降胃逆而止嘔吐也</p>
<h4>葛根加半夏湯（五十六）</h4>
<p>葛根（四兩）　麻黃（三兩炮去黃汗焙）　桂枝（二兩）　芍藥（二兩）　甘草（二兩）　生薑（三兩）　大棗（十二枚）　半夏（半升洗）</p>
<p>上八味以水一斗先煮葛根麻黃減二升去上沫內諸藥煮取二升去滓溫服一升覆取微似汗</p>
<h4>陽明腑病（二十七章）</h4>
<p>陽明病自經傳腑腑病宜下其經證未罷猶見惡寒則宜先汗而後下經證已解惡寒不作而潮熱汗出全是腑證當相其緩急而用下法也</p>
<h4>陽明腑證調胃承氣證一（陽明二十）</h4>
<p>太陽病三日發汗不解蒸蒸發熱者屬胃也調胃承氣湯主之太陽病二日陽明三日少陽此但傳經絡而不入臟腑發汗則解矣乃當三日少陽之期發汗不解而反蒸蒸發熱者此不在經而在胃也宜早以調胃承氣調之免後此之用大承氣此大承氣之初證也</p>
<h4>調胃承氣湯（五十七）</h4>
<p>大黃（三兩清酒浸去皮）　甘草（二兩炙）　芒硝（半斤）</p>
<p>上三味　咀以水三升煮取一升去滓內芒硝更上火微煮令沸少少溫服</p>
<h4>大承氣證二（陽明二十一）</h4>
<p>二陽並病太陽證罷但發潮熱手足　汗出大便難而譫語者下之則愈宜大承氣湯二陽並病太陽經證既罷但有陽明腑證潮熱汗出大便難而譫語全是胃腑燥熱閉塞不通下之泄其胃熱則愈宜大承氣湯也潮熱即日晡發熱按時發作期如潮信也</p>
<h4>大承氣湯（五十八）</h4>
<p>大黃（四兩）　芒硝（三兩）　枳實（五枚炙）　厚朴（半斤炙去皮）</p>
<p>上四味以水一斗先煮枳朴取五升去滓內大黃煮取二升去滓內芒硝更上火微一兩沸分溫再服得下余勿服</p>
<h4>小承氣湯證三（陽明二十二）</h4>
<p>陽明病脈遲雖汗出不惡寒者其身必重短氣腹滿而喘有潮熱者此外欲解可攻裡也手足　然而汗出者此大便已硬也大承氣湯主之若汗多微發熱惡寒者外未解也其熱不潮未可與承氣湯若腹大滿不通者可與小承氣湯微和胃氣勿令大泄下陽明病而見脈遲是濕旺之診雖汗出不惡寒者表證已解然而裡熱未成以其土濕也其身必重濁濡滯迨至胃熱已盛燥奪其濕肺腑壅遏短氣腹滿而喘有潮熱者此外證欲解可攻裡也再驗其手足　然而汗出者此胃熱盛實大便已硬也宜以大承氣泄之蓋四肢秉氣於胃胃寒則四肢厥冷胃熱則四肢氣蒸汗泄故手足汗出是為胃熱之極大便硬也若汗雖多猶微發熱而惡寒者外未解也不可攻裡即外已解而其熱不潮尚非可下之時未可與承氣湯若腹中大滿不通者急不能待可與小承氣湯微和胃氣通其大滿而止勿令大泄下也</p>
<h4>小承氣湯（五十九）</h4>
<p>大黃（四兩）　厚朴（二兩）　枳實（二枚煮）</p>
<p>以上三味以水四升煮取一升二合去滓分溫三服初服湯當更衣不爾者盡飲之更衣者勿服也</p>
<h4>小承氣證五（陽明二十三）</h4>
<p>太陽病若吐若下若發汗微煩小便數大便因硬者與小承氣湯和之愈吐下發汗傷其津液微覺心煩小便數行大便因硬者此將來之大承氣證宜早以小承氣湯和之即愈也</p>
<h4>調胃承氣證五（陽明二十四）</h4>
<p>陽明病不吐不下心煩者可與調胃承氣湯不因吐下而心煩者胃陽原盛所謂正陽陽明也燥土耗傷津液則煩心煩即譫語之根甚則譫語此亦大承氣之初證也</p>
<h4>亡津便硬證六（陽明二十五）</h4>
<p>陽明病本自汗出醫更重發汗病已瘥尚微煩不了了者此大便必硬故也以亡津液胃中干燥故令大便硬當問其小便日幾行若本小便日三四行今日再行故知大便不久出今為小便數少以津液當還胃中故知不久必大便也本自汗出又重發其汗熱隨汗泄病已瘥矣尚微煩而不了了者此過汗亡津胃中干燥大便必硬當問其小便一日幾行若小便前多而今少則大便必不久出以津液還入胃中腸胃滋潤故也</p>
<h4>蜜煎導證七（陽明二十六）</h4>
<p>陽明病自汗出若發汗小便自利者以為津液內竭雖硬不可攻之當須自欲大便宜蜜煎導而通之若土瓜根及與大豬膽汁皆可為導本自汗出若又發其汗或小便自利者此為津液內竭非胃熱土燥可比大便雖硬不可攻之當須自欲大便結而不下宜蜜煎導而通之若土瓜根（土瓜根汁入少水筒吹入肛門大便立通）及與大豬膽汁皆可為導也</p>
<h4>蜜煎導方（六十）</h4>
<p>蜜（七合）</p>
<p>上一味入銅器中微火煎之稍凝似飴狀攪之勿令焦著欲可丸並手捻作挺令頭銳大如指長二寸許當熱時急作冷則硬以內穀道中以手急抱欲大便時去之</p>
<h4>豬膽方（六十一）</h4>
<p>大豬膽（一枚）</p>
<p>上一味瀉汁和醋少許以灌穀道中如一食頃當大便出</p>
<h4>麻仁丸證八（陽明二十七）</h4>
<p>趺陽脈浮而澀浮則胃氣強澀則小便數浮澀相摶大便則難其脾為約麻仁丸主之陽明胃經自頭走足行於足趺動脈曰衝陽故名趺陽陽盛則脈浮浮則胃氣強壯也血虛則脈澀澀則風木疏泄而小便數也浮澀相合土燥水枯大便則難其脾氣約結而糞粒堅小此太陽陽明之證也（八章太陽陽明者脾約是也）宜麻仁丸麻仁杏仁潤燥而滑腸芍藥大黃清風而泄熱厚朴枳實行滯而開結也</p>
<h4>麻仁丸方（六十二）</h4>
<p>麻子（二升）　芍藥（半斤）　杏仁（一升熬別作脂）　大黃（一斤去皮）　厚朴（一斤）　枳實（半斤炙）</p>
<p>上六味為末煉蜜丸桐子大飲服十丸日三服漸加以和為度</p>
<h4>大承氣證九（陽明二十八）</h4>
<p>得病二三日脈弱無太陽柴胡證煩躁心下硬至四五日雖能食與小承氣湯少少與微和之令小安至六日與承氣湯一升若不大便六七日小便少者雖不能食但初頭硬後必溏未定成硬攻之必溏須小便利屎定硬乃可攻之宜大承氣湯得病二三日脈弱而無太陽少陽表證乃煩躁而心下硬滿是非少陽之證而實陽明之證也蓋膽胃之經自頭走足悉由胃口下行少陽病則以甲木而迫戊土陽明病則以戊土而遏甲木經氣不降痞結胃口皆有心下硬滿之證而此則無少陽表證而見煩躁故定屬陽明而不關少陽也至四五日雖猶能食然腑邪已成可以小承氣湯少少與和之令其煩躁少安至六日邪實之時與承氣湯一升以利之則腑熱泄矣若不大便六七日計期可下而小便少者則大便必不硬便硬腸結胃熱不得下泄濁氣薰沖必不能食此證雖不能食然胃非干燥其大便初頭結硬阻濁氣下泄之路故不能食其後必是稀溏未至結硬而遽攻之必成溏泄須小便利後津亡土燥屎定全硬乃可攻之宜大承氣湯也</p>
<h4>小承氣證十（陽明二十九）</h4>
<p>陽明病潮熱大便微硬者可與大承氣湯不硬者不可與之若不大便六七日恐有燥屎欲知之法少與小承氣湯湯入腹中轉失氣者此有燥屎乃可攻之若不轉失氣此但初頭硬後必溏攻之必脹滿不能食也欲飲水者與水則噦其後發熱者必大便復硬而少也以小承氣和之不轉失氣者慎不可攻也燥屎阻礙滯氣之郁遏者多小承氣泄其壅滯隧道略通故轉失穢氣此當以大承氣攻之若不轉失氣則胃無燥屎攻之敗其中氣必脹滿不能食也與水則噦亦不能飲雖其後陽回發熱大便堅矣而糞必少也以其不能食故亦止可以小承氣湯和之不可攻也</p>
<h4>小承氣證十一（陽明三十）</h4>
<p>陽明病譫語發潮熱脈滑而疾者小承氣湯主之因與承氣一升腹中轉失氣更服一升若不轉失氣勿更與之明日不大便脈反微澀者裡虛也為難治不可更與承氣湯也脈滑而疾者血熱而陽旺也脈反微澀者血寒而陽虛也</p>
<h4>大承氣證十二（陽明三十一）</h4>
<p>傷寒若吐若下後不解不大便五六日上至十余日日晡所發潮熱不惡寒獨語如見鬼狀若劇者發則不識人循衣摸床惕而不安微喘直視脈弦者生澀者死微者但發熱譫語耳大承氣湯主之若一服利止後服煩躁之極則循衣摸床木燥風生則惕而不安氣阻肺熱則微喘血枯系結則直視弦則木氣猶存故生澀則營血已槁故死</p>
<h4>亡津譫語證十三（陽明三十二）</h4>
<p>傷寒四五日脈沉而喘滿沉為在裡而反發其汗津液越出大便為難表虛裡實久則譫語熱在裡則脈沉胃氣壅遏則肺阻而為喘氣滯而為滿誤汗亡津表陽虛而裡熱實久則神氣煩亂而為譫語</p>
<h4>大承氣證十四（陽明三十三）</h4>
<p>汗出譫語者以有燥屎在胃中此為風也須下之過經乃可下之下之若早語言必亂以表虛裡實故也下之則愈宜大承氣湯汗多耗其胃津糟粕失潤結為燥屎阻塞胃氣胃熱不泄消耗心液故作譫語此為木燥而風生也胃熱宜下俟六日之外已過經期而後下之下之若早裡熱未實語言必亂而為鄭聲以其汗多津亡表虛裡實經中清氣不敵腑中邪火之旺原有譫語之根裡實未至而遽下之故實家之譫語變為虛家之鄭聲也</p>
<h4>調胃承氣證十五（陽明三十四）</h4>
<p>傷寒十三日不解過經譫語者以有熱也當以湯下之若小便利者大便當硬而反下利胃脈調和者知醫以丸藥下之非其治也若自下利者脈當微厥今反和者此為內實也調胃承氣湯主之十三日已過再經之期而作譫語是有內熱當下若小便利者其大便當硬而反下利而脈又調和者知醫以丸藥下之內熱未泄非其治也若內虛而自下利者脈當微厥而不調（脈法厥者初來大漸漸小更來漸漸大是也）今反調和者此為內實也內實宜湯不宜丸當服調胃承氣湯也</p>
<h4>大承氣證十六（陽明三十五）</h4>
<p>陽明病下之心中懊　而煩胃中有燥屎者可攻腹微滿初頭硬後必溏不可攻之若有燥屎者宜大承氣湯下之而心中懊　而煩胃中有燥屎者可再攻也平人燥屎俱在大腸陽明病熱盛津枯糟粕在胃已成結燥不須至腸故曰胃中有燥屎內無燥屎胃氣未至郁遏故腹不大滿也</p>
<h4>大承氣證十七（陽明三十六）</h4>
<p>陽明病譫語有潮熱反不能食者胃中必有燥屎五六枚也宜大承氣湯下之若能食者但硬耳燥屎結塞濁氣上衝則不能食</p>
<h4>大承氣證十八（陽明三十七）</h4>
<p>病患小便不利大便乍難乍易時有微熱喘冒不得臥者有燥屎也宜大承氣湯土燥水枯則小便不利氣有通塞則大便乍難乍易胃熱內燔則肌表時有微熱胃氣鬱遏則喘阻昏冒不得寢臥此有燥屎堵塞之故也素問腹中論不得臥而息有音者是陽明之逆也足三陽者下行今逆而上行故息有音也陽明者胃脈也胃者六腑之海其脈亦下行陽明逆不得從其道故不得臥也</p>
<h4>大承氣證十九（陽明三十八）</h4>
<p>病患不大便五六日繞臍痛煩躁發作有時者此有燥屎故使不大便也胃氣鬱遏無泄之竅故繞臍作痛</p>
<h4>大承氣證二十（陽明三十九）</h4>
<p>大下後六七日不大便煩不解腹滿痛者此有燥屎也所以然者本有宿食故也宜大承氣湯本有宿食未消被胃火煉成燥屎阻礙腸胃之竅胃氣以下行為順下竅不通胃氣壅遏不得降泄逆為上行故生煩躁而滿痛也</p>
<h4>大承氣證二十一（陽明四十）</h4>
<p>陽明少陽合病必下利其脈不負者順也負者失也互相克賊名為負也脈滑而數者有宿食也當下之宜大承氣湯陽明少陽合病膽經郁迫胃氣壅遏失其受盛之職故必下利甲木為賊土氣未敗則脈不負不負為順負則木賊土敗是之為失負者互相克賊之名宿食阻礙經氣浮蕩故振滑而數胃主受盛脾主消化水穀入胃以脾土之濕濟胃土之燥燥濕互濟陰陽交蒸是以消爛腐化中無宿物陽明病胃強脾弱燥奪其濕未及腐化已成結硬是宿食者雖太陰之咎而實陽明之過也</p>
<h4>三陽合病證二十二（陽明四十一）</h4>
<p>三陽合病脈浮大上關上但欲眠睡目合則汗太陽傳陽明少陽陽明腑病而太少之經邪未解是為三陽合病太陽之脈浮陽明之脈大膽氣候於左關胃氣候於右關膽胃不降二氣逆行故脈上關上膽熱則甲木克土土氣困乏故欲眠睡平人寐則陽氣內蟄三陽合病陽盛於外寐時陽氣不斂鬱蒸而開皮毛故目合則汗也</p>
<h4>汗多亡津二十三（陽明四十二）</h4>
<p>脈陽微而汗出少者為自和也汗出多者為太過陽脈實因發其汗多出者亦為太過太過為陽絕於裡亡津液大便因硬也脈陽微（寸為陽）而汗出少是陽不亢而津未耗故為自和陽脈實而汗出多是陽既亢而津又泄故為太過陽絕於裡者極盛而無其匹也</p>
<h4>胃熱陽絕證二十四（陽明四十三）</h4>
<p>脈浮而芤浮為陽芤為陰浮芤相摶胃氣生熱其陽則絕浮者陽盛而不藏也芤者陰虛而內空也（外實中空謂之芤）浮芤相合陽亡陰枯定以胃氣生熱其陽獨絕而無倫也</p>
<h4>大承氣證二十五（陽明四十四）</h4>
<p>發汗不解腹滿痛者急下之宜大承氣湯發汗不解是非表證乃胃陽之實也汗之愈亡其陰燥屎阻其胃火傷及太陰故腹滿而痛陽亢陰亡則成死證故當急下之　此下三章與少陰急下三章彼此互文是陽明之陽亢而傷陰者陽未盛而下早則亡其陽陽已亢而下遲則亡其陰故有緩攻之法又有急下之條　此與少陰六七日腹脹不大便章義同</p>
<h4>大承氣證二十六（陽明四十五）</h4>
<p>陽明病發熱汗多者急下之宜大承氣湯腎主五液入心為汗發熱汗多木枯土燥傷及少陰故當急下此與少陰口燥咽乾章義同</p>
<h4>大承氣證二十七（陽明四十六）</h4>
<p>傷寒六七日目中不能了了睛不和無表裡證大便難身微熱者此為實也急下之宜大承氣湯肝竅於目目中不了了睛不和是胃火傷及厥陰血亡木枯目系干硬是以睛直無表裡證表無寒熱裡無滿痛者身熱雖微而腑熱則劇故當急下　此與少陰自利清水色純青章義同　陽明之病胃家實也篇中脈實者下之以表虛裡實故也此為內實也此為實也皆發明胃家實之義</p>
<h4>陽明瘀血抵當證一（陽明四十七）</h4>
<p>陽明病其人喜忘者必有蓄血所以然者必有久瘀血故令喜忘屎雖硬大便反易其色必黑宜抵當湯下之（方在太陽四十五）</p>
<p>魂知來魄藏往以肺主魄而生水腎水蟄藏陽神下秘故往事藏蓄而不忘燥熱傷血瘀結不流阻格陽神下蟄之路陽泄神飛水精失藏是以喜忘此必有瘀血在下傷其冬藏之氣熱在血室不及大腸是以便易（血海熱結不歸於下故不及腸）黑者水氣之郁腎水下郁故糞見黑色宜抵當湯下其蓄血也</p>
<h4>抵當證二（陽明四十八）</h4>
<p>病患無表裡證發熱七八日雖脈浮數者可下之假令已下脈數不解合熱則消穀善飢至六七日不大便者有瘀血也宜抵當湯（方在太陽四十五）若脈不解而下利不止必協熱而便膿血也病患無表證之惡寒無裡證之滿痛乃發熱至七八日之久是必有裡熱雖脈見浮數者亦可下之蓋浮數雖是表脈而外無表證則不得作表脈論也假令已下而脈數不解表裡合熱消穀善飢至六七日不大便者此非胃熱必有瘀血也緣脈數系有裡熱下之而脈數不解裡熱不清是裡熱不在中焦氣分而在下焦血分宜抵當湯下其瘀血若服抵當脈數猶然不解而加以下利不止此血分傷深必將協合外熱而便膿血也</p>
<h4>熱入血室證三（陽明四十九）</h4>
<p>陽明病下血譫語者此為熱入血室但頭汗出者刺期門隨其實而泄之　然汗出而愈心藏神而神之魂藏於血血熱則心神昏亂而作譫語但頭汗出者陽盛於上而表不能閉也頭上無汗則熱鬱血分不得外泄宜刺期門以泄血熱刺其實處而泄之令其　然汗出則愈也期門肝脈之穴在於乳上肝藏血故刺厥陰之期門（此婦人病金匱入婦人雜病中）</p>
<h4>陽明解期（陽明五十）</h4>
<p>陽明病欲解時從申至戍上申酉戍陽明得令之時故解於此</p>
<h2>卷七</h2>
<h3>陽明經下編（三十三章）</h3>
<h4>陽明虛證</h4>
<p>陽明從燥金化氣是為燥土太陰以濕土主令是為濕土脾胃以膜相連（素問語）感應最捷胃家實則燥土司氣而濕以化燥胃中虛則濕土主令而燥土亦化濕燥則陽明之證也濕則太陰之證也而化氣之燥究不敵主令之濕雜證濕居其九而燥不得一蓋胃家之陽實非風寒鬱為內熱則不病也惟傷寒有胃家實證乃胃家之實者未能強半而胃中之虛者不止十三實則始終於陽明所謂陽明中土無所復傳承氣之的證也虛則病在陽明而陽衰氣退太陰脾臟將起而代秉其權是名為陽明而實則太陰無所復傳者自此而傳變無窮四逆真武之證悉伏於此矣陽明為陽盛之經猶且虛實之相半況乎太陽為三陽之終少陽為三陽之始此將盛方長之氣則動入三陰未可屈指也蓋脾陰胃陽勝負之機在乎中氣臨病而不知中氣見陽明之經熱昧陽明之腑冷汗下燒針孟浪錯繆中氣一敗禍生不測雖胃家之實攻泄之早猶且陽去而入陰矧胃中之虛汗下一誤有不亡神失國而登鬼錄者哉老子有言治人事天莫若嗇醫家寶嗇中氣不肯孟浪輕泄則燥濕移易虛實貿遷金書玉訣盡在此矣</p>
<h4>陽明虛證提綱（陽明五十一）</h4>
<p>飲食者胃家之能事也胃氣右降上脘清虛而善容受是以能食陽莫盛於陽明陽盛而土燥則胃降而善納陽虛而土濕則胃逆而不食不能食者是胃土濕而腎水寒也土克水土性濕而水寒陽盛則土燥而克水陰盛則水寒而侮土以腎家之寒移於土位則病中寒中寒者水勝而土負胃敗而氣逆故不能食胃主受盛脾主消克食穀不化者脾家之弱絕粒不食者胃家之虛凡病一見不食則責陽明而不責太陰以其受盛之失職也陽明病若能食名中風不能食名中寒陽明之為病胃家實也胃實則當能食若能食者名為中風是風中於表也不能食者名為中寒是寒生於裡也陽明承氣之證來自中風者多能食者腑中陽旺乃異日胃家燥熱之根不能食者是陽虛而中寒胃陽已不用事脾陰將司其權不得與實家之中風並論也　下編胃中虛冷與上編胃家實也虛實相對實者陽明之始基虛者太陰之初氣也</p>
<h4>中風瘕泄證一（陽明五十二）</h4>
<p>陽明病若中寒不能食小便不利手足　然汗出此欲作固瘕大便初硬後溏所以然者胃中冷水穀不別故也陽明病若中寒不能食土濕而小便不利手足陽泄而　然汗出此寒氣凝結欲作堅固之　瘕大便必初硬後溏所以然者胃中寒冷不能蒸化水穀水穀不別俱入二腸而成泄利故也凡水寒土濕陰氣凝結瘕塊堅硬多病溏泄服暖水燥土之劑陽回泄止寒消塊化續從大便而出滑白黏聯狀如痰涕是即固瘕之泮解而後行者也五十七難所謂大瘕泄者即此</p>
<h4>四逆證二（陽明五十三）</h4>
<p>脈浮而遲表熱裡寒下利清穀者四逆湯主之（方在太陰三）若胃中虛冷不能食者飲水則噦水寒侮土胃中虛冷不能食者飲水則以水濟水必發噦也</p>
<h4>胃中虛冷證三（陽明五十四）</h4>
<p>陽明病不能食攻其熱必噦所以然者胃中虛冷故也以其人本虛故攻其熱必噦外熱內寒誤謂內熱而攻之土敗胃逆必發嘔噦</p>
<h4>胃中寒冷證四（陽明五十五）</h4>
<p>傷寒大吐大下之極虛復極汗出者以其人外氣拂鬱復與之水以發其汗因得噦所以然者胃中寒冷故也吐下亡陽中氣極虛而衛泄失斂復極汗出者以其人表陽拂鬱離根外浮誤謂表邪復與之水以發其汗土敗胃逆故作嘔噦</p>
<h4>噦而腹滿證五（陽明五十六）</h4>
<p>傷寒噦而腹滿視其前後知何部不利利之則愈噦而腹滿陽明之濁氣不降太陰之清氣不升也前後二陰必有不利之部前部不利利其水道後部不利利其穀道腹滿之病不過氣水停郁二者而已</p>
<h4>身癢無汗證六（陽明五十七）</h4>
<p>陽明病法多汗反無汗其身如蟲行皮中狀者此以久虛故也氣虛不能透發郁於皮腠故癢如蟲行也</p>
<h4>咳嘔厥逆證七（陽明五十八）</h4>
<p>陽明病反無汗而小便利二三日咳而嘔手足厥者必苦頭痛若不咳不嘔手足不厥者頭不痛無汗則陽氣內虛小便利則陽氣下虛經所謂水泉不止者是膀胱不藏也（素問語）二三日後胃陽愈虛氣逆咳嘔手足厥冷濁氣上壅必苦頭痛不咳不嘔手足不厥逆者濁氣未逆故頭不痛</p>
<h4>咳逆咽痛證八（陽明五十九）</h4>
<p>陽明病但頭眩不惡寒故能食而咳其人必咽痛若不咳者咽不痛陽明以下行為順上行為逆胃土上逆陽氣不降浮越無根是以頭眩表解故不惡寒胃陽未敗故能食胃土上逆肺金壅　則為咳咳則相火逆沖是以咽痛不咳者相火未沖故咽不痛</p>
<h4>吳茱萸證九（陽明六十）</h4>
<p>食穀欲嘔者屬陽明也吳茱萸湯主之得湯反劇者屬上焦也土敗胃逆則作嘔吐食穀欲吐者屬陽明也吳茱萸湯人參大棗培土而補中茱萸生薑溫胃而降逆若得湯反劇者則由上焦之痞熱非關中焦之虛寒也</p>
<h4>吳茱萸湯（六十三）</h4>
<p>吳茱萸（一升洗）　生薑（六兩）　人參（三兩）　大棗（十二枚）</p>
<p>上四味以水七升煮取二升去滓溫服七合日三服</p>
<h4>嘔多忌攻證十（陽明六十一）</h4>
<p>傷寒嘔多雖有陽明證不可攻之傷寒經腑郁迫不能容受是以作嘔嘔緣土虛胃逆雖有陽明裡證不可攻之也</p>
<h4>五苓散證十一（陽明六十二）</h4>
<p>太陽病寸緩關浮尺弱其人發熱汗出復惡寒不嘔但心下痞者此以醫下之也如其不下者病患不惡寒而渴者此轉屬陽明也小便數者大便必硬不更衣十日無所苦也渴欲飲水少少與之但以法救之渴者宜五苓散（方在太陽四十一）</p>
<p>太陽病寸緩關浮猶是中風之脈而尺弱則腎氣不充其人發熱汗出復惡寒不嘔太陽表證未解而但有心下痞者此以醫誤下而成痞非陽明也如其心痞不因攻下外不惡寒而內有渴證者此是太陽表解轉屬陽明也蓋太陽之病表未解而誤下則成痞陽明之病不俟攻下而胃氣上逆壅礙膽經降路亦成痞而胃逆必嘔土燥必渴胃熱外蒸必不惡寒合觀諸證故知是轉屬陽明若其小便數者其大便必硬然尺弱腎寒原非陽旺雖不更衣十日亦無所苦也其渴欲飲水止可少少與之但以法稍救其口舌乾燥而已緣其渴是土濕而非火升非土燥而水涸宜以五苓散泄水而燥土也</p>
<h4>心下硬滿證十二（陽明六十三）</h4>
<p>陽明病心下硬滿者不可攻之攻之利遂不止者死利止者愈心下痞者太陰之證太陰病腹滿而吐自利益甚下之必胸下結硬是也陽明之病而見太陰心下硬滿之證陰盛陽弱故不可攻之攻之脾陽陷敗利遂不止者死陽回利止者則愈也</p>
<h4>寒熱脈緊證十三（陽明六十四）</h4>
<p>陽明中風口苦咽乾腹滿微喘發熱惡寒脈浮而緊若下之則腹滿小便難也陽明中風而口苦咽乾是有少陽證腹滿是有太陰證發熱惡寒脈浮而緊脈證又與傷寒太陽中風大青龍湯相似此在陽明腑熱外蒸應當汗出而脈緩乃脈緊而惡寒者是衛氣外斂胃家陽虛而不能發也外有甲木之克裡有太陰之侵而經腑雙郁不得發越陽明至此困憊極矣若復下之則遂成太陰之證腹滿而小便難也法詳下章豬苓湯一段</p><h4>梔子白虎豬苓證十四（陽明六十五）</h4>
<p>陽明病脈浮而緊咽燥口苦腹滿而喘發熱汗出不惡寒反惡熱身重若發汗則躁心憒憒反譫語若加燒針必怵惕煩躁不得眠若下之則胃中空虛客氣動膈心中懊　舌上苔者梔子豉湯主之（方在太陽八十九）若渴欲飲水口乾舌燥者白虎加人參湯主之（方在太陽三十九）若脈浮發熱渴欲飲水小便不利者豬苓湯主之陽明病脈浮而緊有太陽證咽燥舌乾有少陽證腹滿有太陰證發熱汗出不惡寒反惡熱則胃熱外發矣但有太陰腹滿則土濕頗旺未免身重耳濕盛陽虛汗下燒針俱屬不可若發汗則陽亡躁生神敗心　而反譫語若加燒針汗去陽亡必怵惕煩躁不得眠臥若下之則陽亡土敗胃中空虛不能堤防陰邪下焦客氣遂逆動於膈下拒格胸中之陽心中懊　而生瘀濁心竅於舌瘀濁在心舌上苔生者宜梔子豉湯涌瘀濁而清煩熱也若下後陰亡渴欲飲水口乾舌燥者宜白虎加人參湯清金而泄熱益氣而生津也若下後陽旺而土濕脈浮發熱渴欲飲水小便不利者宜豬苓湯二苓滑澤利水而瀉濕阿膠潤木而清風也土濕木遏郁生下熱是以發熱木氣堙塞疏泄不行故小便不利木鬱風生肺津傷耗是以發渴風氣發揚是以脈浮腹滿身重之人下之陽敗濕增故見證如此此申明上章腹滿小便難之義</p>
<h4>豬苓湯（六十四）</h4>
<p>豬苓（去皮）　茯苓　澤瀉　滑石（碎）　阿膠（各一兩）</p>
<p>上五味以水四升先煎四味取二升去滓內下阿膠烊消溫服七合日三服</p>
<h4>汗多亡陽證十五（陽明六十六）</h4>
<p>發汗多若重發汗者亡其陽譫語脈短者死脈自和者不死汗多亡陽神敗而發譫語脈短者陽絕乃死脈自和者陽復則生此申明上章發汗則躁心憒憒反譫語之義</p>
<h4>譫語喘滿證十六（陽明六十七）</h4>
<p>直視譫語喘滿者死下利者亦死直視譫語陽亡而神敗也喘滿則胃逆而陽上脫下利則脾陷而陽下脫是以皆死</p>
<h4>譫語鄭聲證十七（陽明六十八）</h4>
<p>夫實則譫語虛則鄭聲鄭聲重語也陽實則為譫語陽虛則為鄭聲鄭聲之義語之繁絮重復者實者上編之胃家實是也虛者本篇之胃中虛冷是也此申明上亡陽譫語之義</p>
<h4>梔子豉證十八（陽明六十九）</h4>
<p>陽明病下之其外有熱手足溫不結胸心中懊　飢不能食但頭汗出者梔子豉湯主之（方在太陽八十九）</p>
<p>下傷中氣陽浮於表故外有熱而手足溫胃中空虛客氣動膈故成結胸（義在結胸）今不成結胸只覺心中懊　飢不能飲食者膈下之陰與膈上之陽逼迫鬱蒸而生瘀濁故也膈熱薰騰故頭上汗出此宜梔子豉湯吐瘀濁而清煩熱也此申明六十五章若下之胃中空虛客氣動膈心中懊　舌上苔者梔子豉湯主之一段之義</p>
<h4>白虎證十九（陽明七十）</h4>
<p>三陽合病腹滿身重難以轉側口不仁而面垢譫語遺尿發汗則譫語下之則額上生汗手足逆冷（此陽明入太陰去路）若自汗者白虎湯主之（方在太陽三十七此陽明承氣初證）</p>
<p>六十五章脈浮而緊為太陽證咽燥口乾為少陽證發熱汗出不惡寒反惡熱為陽明證是三陽合病也而其腹滿身重以至難以轉側則太陰證脾竅於口陽虛濕盛開闔蹇澀故口不仁木主五色土濕木鬱氣色晦暗是以面垢神明不慧是以譫語膀胱失約是以遺尿（此補六十五章未詳之義也）若發汗則為鄭聲之譫語（此復申明若發汗則心憒憒反譫語一段）若下之則額上生汗手足厥冷陽泄而土敗（此復申明上章手足溫頭汗出之義而推展之頭汗肢溫是陽虛而上熱額汗肢冷是陽泄而外寒也）若汗不止頭額而通身自汗者則津亡而土燥宜白虎湯泄熱而清金也此復申六十五章白虎湯之義</p>
<h4>汗多胃燥證二十（陽明七十一）</h4>
<p>陽明病汗出多而渴者不可與豬苓湯以汗多胃中燥豬苓湯復利其小便故也六十五章渴而小便不利者乃與豬苓湯若汗出多而渴者則應白虎不可與豬苓湯以汗多則胃中已燥豬苓湯復利其小便以亡津也此申明上章及六十五章豬苓湯之義</p>
<h4>口燥欲衄證二十一（陽明七十二）</h4>
<p>陽明病口燥但欲漱水不欲咽此必衄口乾而漱水不咽以熱在經而不在腑經熱不泄此必衄也</p>
<h4>鼻燥欲衄證二十二（陽明七十三）</h4>
<p>脈浮發熱口乾鼻燥能食者則衄脈浮發熱表寒外束口乾鼻燥經熱內蒸能食則熱不在腑經熱不能旁泄則上衄也</p>
<h4>脈浮盜汗證二十三（陽明七十四）</h4>
<p>陽明病脈浮而緊者必潮熱發作有時但浮必盜汗出脈浮而緊太陽之脈陽明得之必潮熱按時而發以表寒鬱其腑熱也若但浮而不緊則外無表寒而內無裡熱寐時衛氣不入陰分皮毛失斂經熱蒸泄必盜汗出凡盜汗之家皆陰盛臟寒陽不內交者也</p>
<h4>汗解緊愈證二十四（陽明七十五）</h4>
<p>陽明病初欲食小便反不利大便自調其人骨節疼翕翕如有熱狀奄然發狂　然汗出而解者此水不勝穀氣與汗共並脈緊則愈初欲食是有穀氣小便不利大便自調骨節疼（濕流關節故疼）是土濕而水停也穀氣勝則汗出水氣勝則汗不出乃翕翕如有熱狀忽然發狂　然汗出而解者此穀氣欲發水氣鬱熱而不能發是以躁亂髮狂究之水氣不勝穀氣故　然汗出汗出而水氣亦隨汗泄與汗共並於外表寒與裡水皆去脈緊自愈也</p>
<h4>發熱色黃證二十五（陽明七十六）</h4>
<p>陽明病面合赤色不可攻之必發熱色黃小便不利也表寒外束郁其經熱則面見赤色此可汗而不可攻以面之赤色是經熱而非腑熱腑熱則毛蒸汗泄陽氣發越面無赤色攻之則陽敗濕作而表寒未解濕鬱經絡必發熱色黃小便不利也</p>
<h4>無汗發黃證二十六（陽明七十七）</h4>
<p>陽明病無汗小便不利而心中懊　者身必發黃飲入於胃胃陽蒸動化而為氣氣降則水化陽氣升發則化水之氣外泄而為汗陽氣收藏則氣化之水下注而為尿汗出水利濕熱發泄故不發黃無汗而小便不利濕氣莫泄鬱而生熱薰蒸於上則心中懊　身必發黃也</p>
<h4>微汗發黃證二十七（陽明七十八）</h4>
<p>陽明病被火額上微汗出小便不利者必發黃陽明病無汗是陽虛而土濕者以火薰發汗但額上微汗出而身上無汗小便不利者濕無泄路鬱而生熱必發黃也</p>
<h4>茵陳蒿證二十八（陽明七十九）</h4>
<p>陽明病發熱汗出者此為熱越不能發黃也但頭汗出身無汗劑頸而還小便不利渴飲水漿者此為瘀熱在裡身必發黃茵陳蒿湯主之（方在太陰十二）</p>
<p>汗出而濕熱發泄則不發黃但頭汗而身無汗濕熱莫泄而小便又復不利故身必發黃茵陳蒿湯茵陳利水而泄濕梔子大黃除煩而蕩熱也</p>
<h4>脈遲發黃二十九（陽明八十）</h4>
<p>陽明病脈遲食難用飽飽則微煩頭眩必小便難此欲作穀疸雖下之腹滿如故所以然者脈遲故也陰勝則脈遲陽虛胃逆飲食不甘故難以至飽飽則脾不能化中焦鬱滿濁氣不降故心煩頭眩土濕木鬱必小便艱難此欲作穀疸緣穀氣陳宿是以鬱而發黃也雖下之而腹滿不減以其陰盛而脈遲故也</p>
<h4>柴胡麻黃證三十（陽明八十一）</h4>
<p>陽明中風脈弦浮大而短氣腹都滿脅下及心痛久按之氣不通鼻干不得汗嗜臥一身及面目悉黃小便難有潮熱時時噦耳前後腫刺之小瘥外不解病過十日脈續浮者與小柴胡湯（方在少陽二）脈但浮無余證者與麻黃湯（方在太陽二十）若不尿腹滿加噦者不治陽明病脈弦浮大弦為少陽浮為太陽大為陽明脈是以三陽合病而氣短腹都滿則太陰證少陽之脈自胃口而布脅肋膽胃郁遏故脅下及心作痛經氣痞塞故久按之而氣不通表寒外束相火鬱升而刑肺金故鼻干不得汗（肺竅於鼻）膽木刑胃土氣困乏故嗜臥濕土賊於甲木土木皆郁故一身及面目悉黃土濕木鬱疏泄不行故小便難胃氣壅遏故發潮熱胃腑郁迫濁氣上逆故時嘔噦少陽脈循兩耳經氣逆行壅塞不降故耳前後腫經鬱熱盛故刺之小瘥而外證不解病過十日之外脈自裡達表續續外浮者是未傳陽明之腑太陰之臟猶在少陽之經也宜小柴胡湯柴胡黃芩清半表之火參甘大棗補半裡之陽生薑半夏降胃逆而止嘔噦也若脈但浮而不弦又無少陽諸證者則全是太陽病與麻黃湯以泄表郁中風而用麻黃者發汗以泄太陰之濕也（金匱風濕諸證俱用麻黃）若不尿腹滿而愈加嘔噦者水賊土敗不可治也</p>
<h4>小柴胡證三十一（陽明八十二）</h4>
<p>陽明病發潮熱大便溏小便自可胸脅滿不去者小柴胡湯主之（方在少陽二）</p>
<p>陽明胃腑為少陽經邪所郁陽氣遏逼故發潮熱糟粕莫容故便滑溏胃逆膽壅經氣不降故胸脅滿結宜小柴胡湯半補陽明之裡氣半泄少陽之表邪也</p>
<h4>小柴胡證三十二（陽明八十三）</h4>
<p>陽明病脅下硬滿不大便而嘔舌上白苔者可與小柴胡湯（方在少陽二）上焦得通津液得下胃氣因和身　然而汗出解也陽明為少陽所遏下脘之氣陷則病溏泄上脘之氣逆則病嘔吐胃逆而津液不降心部瘀濁故舌起白苔由肺胃壅塞而上焦不通也柴芩泄少陽經邪松其郁迫故上焦通而津液下胃氣和而汗出解也</p>
<h2>卷八</h2>
<h3>少陽經上編（二十二章）</h3>
<h4>少陽本病</h4>
<p>少陽以甲木而化氣於相火經在二陽三陰之間陰陽交爭則見寒熱久而陽勝陰敗但熱而無寒則入陽明陰勝陽敗但寒而無熱則入太陰小柴胡清解半表而杜陽明之路溫補半裡而閉太陰之門使其陰陽不至偏勝表邪解於本經是謂和解少陽之經自頭走足下行則相火蟄藏而溫腰膝上逆則相火燔騰而焚胸膈相火升炎津血易耗是以少陽之病獨傳陽明者多大柴胡湯治少陽之經而兼陽明之腑者以此溫針汗下亡津耗血之法俱少陽之所切忌恐其陰傷而入陽明也然太陽少陽合病則有嘔利之條嘔利者非太陽少陽之病而實陽明之病也緣甲木鬱則克戊土胃以倉廩之官而被甲木之邪經迫腑郁不能容納故病上嘔而下利究之胃病則氣逆逆則為嘔脾病則氣陷陷則為利嘔多者少陽傳陽明之病利多者少陽傳太陰之病也然則少陽之傳太陰者正自不乏其義見於第十八章曰傷寒六七日其人煩躁者陽去入陰也則篇中不必瑣及而大旨炳然矣</p>
<h4>少陽經提綱（少陽一）</h4>
<p>少陽之氣化於相火其經自頭走足病則氣逆而火炎升燎咽喉而上燔頭目少陽之兼證不一而口苦咽乾目眩則為主證以相火之上郁故也病情遞變而三者不變病狀善移而三者不移緣相火不得下秘離本根而上浮故口苦咽乾頭目旋轉而不寧也是則少陽之他證皆在於或然之中而少陽之三者則處於必然之例提綱揭三證以概少陽少陽雖幻化無常然或有殊狀而必無遁情矣少陽之為病口苦咽乾目眩也足少陽之經起目銳　下頸合缺盆口咽目皆少陽經脈之所循少陽以下行為順病則經氣壅遏逆循頭面相火燔騰故見證如此苦者火之味炎上作苦也眩者相火離根升浮旋轉之象也（素問標本病傳論肝病頭目眩肝膽同氣也）</p>
<h4>少陽經病小柴胡證一（少陽二）</h4>
<p>傷寒五六日中風寒熱往來胸脅苦滿嘿嘿不欲飲食心煩喜嘔或心中煩而不嘔或渴或腹中痛或脅下痞硬或心下悸小便不利或不渴身有微熱或咳者小柴胡湯主之傷寒五六日又中風邪此在太陽即風寒雙感桂麻各半證也風寒在表逼遏少陽經氣於是少陽病作少陽經在太陽陽明之裡三陰之表表則二陽故為半表裡則三陰故為半裡半表者居二陽之下從陽化氣而為熱半裡者居三陰之上從陰化氣而為寒人之經氣不郁則不盛郁則陽盛而生熱陰盛而生寒經氣鬱迫半表之衛欲發於外而營氣束之不能透發故閉藏而生表寒半裡之營欲發於外而衛氣遏之不能透發故鬱蒸而生裡熱蓋寒傷營則營束其衛而生表寒及其營衰則寒往而熱又來矣風傷衛則衛遏其營而生裡熱及其衛衰則熱往而寒又來矣一往一來勝負不一此所以往來寒熱也少陽經脈下胸貫膈由胃口而循脅肋病則經氣鬱遏而克戊土戊土脹塞礙膽經降路經脈壅阻故胸脅苦滿戊土被賊困乏堙瘀故嘿嘿不欲飲食甲木既逆相火上燔而戊土升填君火又無下濟之路是以心煩胃土上逆濁氣不降是以喜嘔或相火薰心而胃未甚逆是以心煩而不嘔或相火刑肺是以渴生或土寒木燥土木逼迫是以腹痛或經氣盤塞而脅下痞硬或土濕木鬱心下悸動而小便不利或肺津未耗而內不作渴太陽未罷而心有微熱或胃逆肺阻而生咳嗽凡此諸病總是少陽中郁表裡不和之故小柴胡湯柴芩清半表而泄甲木參甘棗溫半裡而補己土生薑半夏降胃逆而止嘔吐也　少陽在半表半裡之間半裡之陰虛則自陽明之經而入於陽明之腑半裡之陽虛則自太陰之經而入太陰之臟小柴胡柴芩清泄半表使不入於陽明參甘溫補半裡使不入於太陰則邪解於本經而無入陰入陽之患是之謂和解表裡也蓋木病則傳土所謂病則傳其所勝也（素問語）少陽與陽明太陰為鄰防其克土而傳陽明故以柴芩泄半表而清陽明防其克土而傳太陰故以參甘補半裡而溫太陰於是表裡雙解矣</p>
<h4>小柴胡湯</h4>
<p>柴胡（半斤）　黃芩（半斤洗）　半夏（半斤洗）　人參（三兩）　甘草（三兩）　生薑（三兩）　大棗（十二枚）</p>
<p>上七味以水一斗二升煮取六升去滓再煎取三升溫服一升日三服　若胸中煩而不嘔去半夏人參加栝蔞實一枚（栝蔞實滌淤而清煩）若渴者去半夏加人參合前成四兩半栝蔞根四兩（人參栝蔞根益氣而生津清金而止渴）若腹痛者去黃芩加芍藥三兩（芍藥泄甲木而清相火息風燥而止腹痛）若脅下痞硬去大棗加牡蠣四兩（牡蠣軟堅而消痞硬）若心下悸小便不利者去黃芩加茯苓四兩（茯苓泄水而去濕濕去則木達風息悸動自安）若不渴外有微熱者去人參加桂三兩溫覆取微似汗愈（桂枝解太陽之表邪）若咳者去人參大棗生薑加五味子半斤乾薑二兩（五味子乾薑降逆氣而止咳）</p>
<h4>小柴胡證二（少陽三）</h4>
<p>血弱氣盡腠理開邪氣因入與正氣相搏結於脅下正邪分爭往來寒熱休作有時默默不欲飲食臟腑相連其痛必下邪高痛下故使嘔也小柴胡湯主之少陽之病緣太陽陽明之經外感風寒經氣鬱勃逼侵少陽少陽之經因於二陽之侵血弱氣盡腠理開泄二陽經邪因而內入與本經正氣兩相搏戰經氣鬱迫結滯脅下少陽之經自頭走足脈循脅肋病則經氣不降橫塞脅肋此胸脅苦滿脅下痞硬之故也正氣病則正亦為邪陰鬱而為寒是為陰邪陽鬱而為熱是為陽邪邪正分爭休作有時此往來寒熱之故也分爭之久正氣困乏精神衰倦靜默無言飲食不思此默默不欲飲食之故也脾臟胃腑以膜相連一被木邪則胃氣上逆脾氣下陷脾氣既陷則肝氣抑遏而克脾土其痛必在下部此腹中作痛之故也胃土既逆則上脘填塞君火不降濁氣涌翻於是心煩而喜嘔吐胃土逆則邪高脾下陷則痛下痛下而邪高此心煩喜嘔之故也是皆小柴胡證宜以主之　邪氣入內者正氣病而成邪是即邪氣之內傳非必風寒之裡入也</p>
<h4>小柴胡證三（少陽四）</h4>
<p>傷寒中風有柴胡證但見一證便是不必悉具總結上二章柴胡諸證言</p>
<h4>小柴胡證四（少陽五）</h4>
<p>傷寒四五日身熱惡寒頸項強脅下滿手足溫而渴者小柴胡湯主之頸項強是太陽之病而肝膽主司筋脈相火旺則筋脈燥急少陽之經自頭下行而循頸項故亦有頸項強證脅下滿者少陽之病手足溫者陽明之病四肢秉氣於胃胃陽盛旺則手足溫而手少陽自手走頭足少陽自頭走足故亦有手足溫證是宜小柴胡湯也</p>
<h4>小柴胡證五（少陽六）</h4>
<p>嘔而發熱者小柴胡湯主之少陽經氣不舒侵迫陽明胃腑胃氣上逆必作嘔吐相火鬱蒸是以發熱少陽之經往來寒熱此但云發熱而不言寒是半表之陽盛而將傳於陽明者是宜小柴胡湯泄其表熱也</p>
<h4>柴胡桂枝證六（少陽七）</h4>
<p>傷寒六七日發熱微惡寒肢節煩疼微嘔心下支結外證未去者柴胡桂枝湯主之太陽病發熱惡寒骨節疼痛此發熱惡寒肢節煩痛者以太陽之外證未去而相火旺於半表故惡寒不甚甲木侵克戊土土主四肢故痛在四肢素問太陰陽明論四肢皆秉氣於胃胃與四肢氣脈流通則疼痛不作胃病而氣不四達四肢經絡壅滯不行是以痛生節者四肢之溪穀經氣鬱遏溪穀填塞故痛在骨節相火鬱發是以煩生也少陽經自胃口旁下脅肋故心下支結（支結者旁支偏結也）經病多而腑少故微嘔不甚此皆少陽之病而微見惡寒則太陽之外證未去也宜柴胡合桂枝雙解太少之經邪也　小柴胡加減外有微熱者加桂枝此微惡寒即外有微熱之互文少陽以相火化氣寒往則純是發熱若但熱無寒則發熱更劇無發熱而兼惡寒者微有惡寒或外熱輕微便是太陽外證未去故與桂枝湯合用傷寒而不用麻黃者以其惡寒之微也</p>
<h4>柴胡桂枝湯（六十六）</h4>
<p>柴胡（四兩）　黃芩（一兩五錢）　人參（一兩五錢）　半夏（二合五勺）　大棗（六枚）　生薑（一兩五錢）　桂枝（一兩五錢）　芍藥（一兩五錢）　甘草（一兩炙）</p>
<p>上九味以水七升煮三升溫服</p>
<h4>小柴胡證（少陽八）</h4>
<p>太陽病十日已去脈浮細而嗜臥者外已解也設胸滿腹痛者與小柴胡湯脈但浮者與麻黃湯（方在太陽二十）</p>
<p>太陽病十日以外脈浮細而嗜臥者是太陽之外證已解也表邪離太陽而入少陽故浮緊變而為浮細少陽之脈弦細也膽熱者善眠是其嗜臥必入少陽設其胸滿脅痛者又見少陽經證宜與小柴胡湯若脈但浮而不細者則未入少陽而猶是太陽宜與麻黃湯也</p>
<h4>小柴胡證八（少陽九）</h4>
<p>傷寒陽脈澀陰脈弦法當腹中急痛者先用小建中湯不瘥者與小柴胡湯主之甲乙同氣甲木不降則寸脈澀乙木不升則尺脈弦甲木上逆而克戊土法當痛見於胸膈乙木下陷而克己土法當痛見於腹脅木氣枯燥是以其痛迫急肝膽合邪風火鬱發中氣被賊勢難延緩宜先用小建中湯膠飴甘棗補脾精而緩急痛薑桂芍藥達木鬱而清風火若不瘥者仍與柴胡再泄其相火也此申明首章腹痛者加芍藥之義</p>
<h4>小建中湯（六十七）</h4>
<p>桂枝（三兩）　芍藥（六兩）　甘草（二兩炙）　大棗（十二枚）　生薑（三兩）　膠飴（一升）</p>
<p>上六味以水七升煮三升去滓內膠飴更上微火消解溫服一升日三服</p>
<h4>小柴胡證九（少陽十）</h4>
<p>嘔家不可與建中湯以甜故也素慣嘔家不可與建中湯以桂甘飴棗之甜最動嘔吐也</p>
<h4>屬陽明證十（少陽十一）</h4>
<p>服柴胡湯已渴者屬陽明也以法治之服柴胡湯已半表之熱清應當不渴渴者胃腑燥熱屬陽明也以法治之去其燥熱則胃病不成矣</p>
<h4>黃芩半夏證十一（少陽十二入陽明去路）</h4>
<p>太陽與少陽合病自下利者與黃芩湯若嘔者黃芩加半夏生薑湯太陽與少陽合病少陽經氣鬱而克戊土土病而下脘不容自下利者與黃芩湯甘草大棗補其脾精黃芩芍藥泄其相火恐利亡脾陰以致土燥而入陽明也若嘔者黃芩加半夏生薑湯降胃逆而止嘔吐也</p>
<h4>黃芩湯（六十八）</h4>
<p>黃芩（三兩）　芍藥（二兩）　甘草（二兩炙）　大棗（十二枚）</p>
<p>上四味以水一斗煮取三升去滓溫服一升日再夜一服若嘔者加半夏半斤生薑三兩</p>
<h4>黃芩加半夏生薑湯（六十九）</h4>
<p>黃芩（三兩）　芍藥（二兩）　甘草（二兩）　大棗（十二枚）　半夏（半升）　生薑（三兩）</p>
<p>於黃芩湯方內加半夏生薑余依黃芩湯服法</p>
<h4>大柴胡證十二（少陽十三入陽明去路）</h4>
<p>傷寒發熱汗出不解心下痞硬嘔吐而下利者大柴胡湯主之傷寒表證發熱汗出當解乃汗出不解是內有陽明裡證熱自內發非關表寒汗去津亡則燥熱愈增矣心中痞硬是膽胃兩家之郁塞也嘔吐而下利者是戊土迫於甲木上下二脘不能容納水穀也吐利心痞自是太陰證而見於發熱汗出之後則非太陰而陽明也大柴胡湯柴芩芍藥清少陽之火枳實大黃泄陽明之熱生薑半夏降胃逆而止嘔吐也</p>
<h4>大柴胡湯（七十）</h4>
<p>柴胡（半斤）　黃芩（三兩）　芍藥（三兩）　半夏（半斤洗）　生薑（五兩）　大棗（十二枚）　枳實（四枚炙）　大黃（二兩）</p>
<p>上八味以水一斗二升煮取六升去滓再煎溫服一升日三服</p>
<h4>大柴胡證十三（少陽十四入陽明去路）</h4>
<p>傷寒五六日頭汗出微惡寒手足冷心下滿口不欲食大便硬脈細者此為陽微結必有表復有裡也脈沉亦在裡也汗出為陽微假令純陰結不得復有外證悉入在裡此為半在表半在裡也脈雖沉緊不得為少陰病所以然者陰不得有汗今頭汗出故知非少陰也可與小柴胡湯設不了了者得屎而解傷寒五六日頭汗出微惡寒手足冷心下滿口不欲食（嘿嘿不欲飲食）大便硬脈細者（包下沉緊）　此為陽明經之微結以少陽陽明兩經郁迫結於胃口故心下滿脹經熱薰蒸故頭上汗出必有少陽之表證如汗出惡寒肢冷心滿之類復有陽明之裡證如大便硬之類也蓋少陽與陽明合病戊土不能勝甲木必傳陽明胃腑故決有裡證其脈之沉主在裡也汗出為陽經之微結假令純是陰分之結（陽以少陽經言陰以陽明腑言）必不得復有外證如汗出惡寒之類應當悉入在裡既有外證此為半在裡半在表也其脈雖沉緊亦不得為少陰病所以然者少陰病不得有汗今頭汗出故知非少陰而實少陽也此大柴胡證先與小柴胡湯以解少陽之經邪設服後猶不了了者再以承氣泄陽明之腑邪得屎而解矣</p>
<h4>調胃承氣證十四（少陽十五入陽明去路）</h4>
<p>太陽病過經十余日心中溫溫欲吐而胸中痛大便反溏腹微滿郁郁微煩先此時自極吐下者與調胃承氣湯（方在陽明二十）若不爾者不可與但欲嘔胸中痛便溏者此非柴胡證以嘔故知極吐下也太陽病過經十余日應不在少陽其心中溫溫欲吐而胸中痛大便反溏腹微滿郁郁微煩又似少陽柴胡證（胃土迫於膽木其見證如此）豈有少陽證如此之日久者若先此時自己曾極吐下者則是少陽之傳陽明少陽之經證微在陽明之腑證已成可與調胃承氣湯無事柴胡也以少陽之傳陽明經迫腑郁必見吐下大柴胡證吐下盛作正是少陽陽明經腑雙病之秋故大柴胡柴胡與承氣並用雙解經腑之邪此已吐下在先僅存欲吐便溏止是少陽余波故不用柴胡而用承氣若非由自極吐下而得者便是太陰證不可與承氣也所以知其自吐下來者以今日之欲吐與便溏少陽之余波猶在故也</p>
<h4>少陽傳經一（少陽十六）</h4>
<p>傷寒三日少陽脈小者欲已也傷寒一日太陽二日陽明三日少陽陽明篇傷寒三日陽明脈大若三日而見少陽之小脈不見陽明之大脈是不傳陽明之腑而病欲已也此與太陽經傷寒一日太陽受之脈若靜者為不傳義同言六經俱遍邪不裡傳自能汗解也</p>
<h4>傳經二（少陽十七）</h4>
<p>傷寒三日三陽為盡三陰當受邪其人反能食不嘔此為三陰不受邪也傷寒一日一經六日六經俱遍則正復邪退汗出而解其不應期而解者陽盛而入陽明之腑陰盛而入三陰之臟者也少陽居陽明太陰之介陽盛則入於腑陰盛則入於臟於傷寒三日病在少陽之時候之少陽脈小不傳陽明之腑是陽不偏盛使陰氣偏盛當入三陰之臟是時三陽既盡三陰當受邪矣若其人反能食不嘔此為三陰之臟不受外邪再俟三日但傳三陰之經自能應當汗解也太陰為病腹滿而吐食不下是臟病而非經病也故仲景曰以其臟有寒故也陽明篇皆言腑病（其經病皆有腑證也）三陰篇皆言臟病並非經病也陰陽和平臟腑可以不傳經無不傳之理所謂發於陽者七日愈發於陰者六日愈必然之數也六經經證總統於太陽一經凡中風在六日之內不拘何經皆宜桂枝傷寒在六日之內不拘何經皆宜麻黃惟入臟入腑則陰陽偏勝愈期不齊而法亦百變不窮矣蓋入臟入腑而後太陽證罷不入臟腑而在經絡萬無太陽遽罷但有別經表證者所謂表者止有皮毛一層皮毛即開太陽已罷則經如何不罷若皮毛未開太陽何緣遽罷太陽不罷是以六經俱盡總宜麻桂也程氏謂傷寒一日太陽受之脈若靜者為不傳傷寒三日少陽脈小者欲已也傷寒三日三陰當受邪其人反能食不嘔此為三陰不受邪也為經亦不傳悖謬之至</p>
<h4>傳經三（少陽十八入三陰去路）</h4>
<p>傷寒六七日無大熱其人煩躁者此為陽去入陰也傷寒六七日經盡之期外無大熱而其人煩躁者此為陽去而入二陰之臟也臟陰旺則陽氣離根而失歸必至煩躁</p>
<h4>婦人熱入血室一（少陽十九）</h4>
<p>婦人中風發熱惡寒經水適來得之七八日熱除而脈遲身涼胸脅下滿如結胸狀譫語者此為熱入血室當刺期門隨其實而泄之婦人中風發熱惡寒而值經水適來之時及得病七八日後發熱已除而脈遲身涼是當解矣乃胸脅之下脹滿如結胸之狀而作譫語者此為熱入血室熱不在上而在下也當刺厥陰之期門隨其經中之實處而泄之以肝主藏血肝膽同氣此與陽明刺期門章義同</p>
<h4>熱入血室二（少陽二十）</h4>
<p>婦人中風七八日續得寒熱發作有時經水適斷者此為熱入血室其血必結故使如瘧狀發作有時小柴胡湯主之婦人中風七八日後續得寒熱往來發作有時之證而值經水適斷之時者此為熱入血室其血必當瘀結熱結血分少陽之經氣不得外達陰陽交爭互相束閉故使寒熱如瘧發作有時也小柴胡湯發少陽之經邪熱去則血可自下不下然後用抵當攻之上章因經水適來而熱入是血實之時此因經水適斷而熱入是血虛之時實宜清泄虛宜涼補</p>
<h4>熱入血室三（少陽二十一）</h4>
<p>婦人傷寒發熱經水適來晝日明了暮則譫語如見鬼狀者此為熱入血室無犯胃氣及上二焦則自愈婦人傷寒發熱而值經水適來之時晝日清白明了暮則譫語如見鬼狀者此為熱入血室以血為陰夜則陽氣潛入陰分血熱發作故譫妄不明也熱邪在下治之勿犯中焦胃氣及上焦清氣必自愈也</p>
<h4>少陽解期（少陽二十二）</h4>
<p>少陽病欲解時從寅至辰上寅卯辰少陽得令之時故解於此</p>
