<header><h1>格致餘論</h1></header>
<dl class="元資料" data-type="book">
<div><dt>作者</dt><dd>朱震亨</dd></div>
<div><dt>朝代</dt><dd>元</dd></div>
</dl>
<h2>格致餘論序。</h2>
<p>素問，載道之書也。詞簡而深義，去古漸遠，衍文錯簡仍或有之，故非吾儒不能讀，學者以易心求之，宜其茫若望洋，淡如嚼蠟，遂直以為古書不宜於今，厭而棄之，相率以為局方之學問，有讀者又以濟其方技漫不之，省醫道隱晦，職此之由，可歎也。震亨三十歲時，因母之患脾疼，眾工束手，由是有志於醫，遂取素問讀之三年似有所得，又二年，母氏之疾以藥而安，因追念先子之內傷，伯考之瞀悶，叔考之鼻衄，幼弟之腿痛，室人之積痰，一皆歿於藥之誤也，心膽摧裂，痛不可追，然猶慮學之未明，至四十歲復取而讀之，顧以質鈍，遂朝夕鑽研，決其所可疑，通其所可通，又四年而得羅太無諱，知悌者為之師，因見河間戴人，東坦海藏諸書，始悟濕熱相火為病甚多，又知醫之為書，非素問無以立論，非本莫無以立方，有方無論，無以識病，有論無方，何以模倣，夫假說問答，仲景之書也，而詳於外感。明著性味，東垣之書也，而詳於內傷。醫之為書至是始備，醫之為道至是始明，由是不能不致疑於局方也，局方流行自宋迄今，罔間南北，翕然而成，俗豈無其故哉，徐而思之，濕熱相火，自王太僕注文，已成湮沒，至張李諸老，始有發明，人之一身，陰不足而陽有餘，雖諄諄然見於素問，而諸老猶未表章，是宜局方之盛行也，震亨不揣蕪陋，陳於編冊，并述金匱之治法，以證局方未備，間以已意附之於後，古人以醫為吾儒格物致知一事，故目其篇曰格致餘論，未知其果是否耶，後之君子幸改而正諸。</p>
<h2>格致餘論  元  丹溪朱震亨著。</h2>
<h3>飲食色欲箴序。</h3>
<p>傳曰：飲食男女，人之大欲存焉，予每思之男女之欲，所關甚大，飲食之欲，於身尤切，世之淪胥陷溺於其中者，蓋不少矣。苟志於道，必先於此究心焉，因作飲食色欲二箴，以示弟姪，并告諸同志云。</p>
<h3>飲食箴。</h3>
<p>人身之貴，父母遺體，為口傷身，滔滔皆是，人有此身，飢渴洊興迺作，飲食以遂其生睠，彼昧者因縱口味，五味之過，疾病蜂起，病之生也，其機甚微，饞涎所牽，忽而不思病之成也，飲食俱廢，憂貽父母，醫禱百計，山野貧賤淡薄，是諳動作不表，此身亦安，均氣同體，我獨多病，悔悟一萌，塵開鏡淨日，即飲食易之，象辭養小失大，孟子所譏，口能致病，亦敗爾德，守口如瓶，服之無斁。</p>
<h3>色欲箴。</h3>
<p>惟人之生，與天地參，坤道成女，乾道成男，配為夫婦，生育攸寄。血氣方剛，惟其時矣。成之以禮，接之以時，父子之親，其要在茲，睠彼昧者，徇情縱欲，惟恐不及，濟以燥毒，氣陽血陰，人身之神，陰平陽祕，我體長春，血氣幾何，而不自惜，我之所生，翻為我賊，女之耽兮，其欲實多，閨房之肅，門庭之和，士之耽兮，其家自廢，既喪厥德，此身亦瘁，遠彼帷薄，放心乃收，飲食甘美，身安病瘳。</p>
<h3>陽有餘陰不足論。</h3>
<p>人受天地之氣，以生天之陽氣為氣，地之陰氣為血，故氣常有餘，血常不足，何以言之，天地為萬物父母，天大也，為陽而運於地之外，地居天之中，為陰，天之大氣舉之日實也，亦屬陽而運於月之外，月缺也，屬陰，稟日之光以為明者也，人身之陰氣，其消長視月之盈缺，故人之生也，男子十六歲而精通，女子十四歲而經行，是有形之後猶有待於乳哺，水穀以養，陰氣始成，而可與陽氣為配，以能成人，而為人之父母，古人必近三十二十而後嫁娶，可見陰氣之難於成，而古人之善於攝養也。禮記注曰：惟五十然後養陰者，有以加。內經曰：年至四十，陰氣自半，而起居衰矣。又曰：男子六十四歲而精絕，女子四十九歲而經斷，夫以陰氣之成止，供給得三十年之視聽言動已先虧矣。人之情欲無涯，此難成易虧之陰氣若之何而可以供給也。經曰：陽者，天氣也，主外，陰者，地氣也，主內。故陽道實，陰道虛。又曰：至陰虛，天氣絕，至陽盛，地氣不足。觀虛與盛之所在，非吾之過。論主閑藏者，腎也。司疏泄者，肝也。二臟皆有相火，而其系上屬於心，心，君火也。為物所感則易動，心動則相火亦動，動則精自走。相火翕然，而雖不交會，亦暗流而疏泄矣，所以聖賢只是教人收心，養心，其旨深矣。天地以五行更迭衰旺而成四時，人之五臟六腑亦應之而衰旺。四月屬已，五月屬午，為火大旺，火為肺金之夫，火旺則金衰。六月屬未，為土大旺。土為水之夫，土旺則水衰。況腎水常藉肺金為母，以補助其不足，故內經諄諄於資其化源也，古人於夏必獨宿而淡味，兢兢業業於愛護也，保養金水二臟，正嫌火土之旺爾。內經曰：冬不藏精者，春必病溫，十月屬亥，十一月屬子，正火氣潛伏閉藏，以養其本然之真，而為來春發生升動之本，若於此時恣嗜欲以戕賊，至春深之際，下無根本，陽氣輕浮，必有溫熱之病。夫夏月火土之旺，冬月火氣之伏，此論一年之虛耳。若上弦前下弦後，月廓月空，亦為一月之虛，大風大霧，虹霓飛電，暴寒暴熱，日月薄蝕，憂愁忿怒，驚恐悲哀，醉飽勞倦，謀慮勤動，又皆為一日之虛，若病患初退，瘡痍正作，尤不止於一日之虛。今日多有春末夏初，患頭痛腳軟，食少體熱，仲景謂春夏劇，秋冬差，而脈弦大者，正世俗所謂注夏病。若犯此四者之虛似難免，此夫當壯年便有老態，仰事俯育，一切隳壞興言，至此深可驚懼，古人謂不見所欲，使心不亂。夫以溫柔之盛於體，聲音之盛於耳，顏色之盛於目，馨香之盛於鼻，誰是鐵漢心不為之動也，善攝生者，於此五箇月出居於外，苟值一月之虛，亦宜暫遠帷幕，各自珍重，保全天和，期無負敬身之教幸甚。</p>
<h3>治病必求其本論。</h3>
<p>病之有本，猶草之有根也，去葉不去根，草猶在也，治病猶去草，病在臟而治腑病，在表而攻裏，非惟戕賊胃氣，抑且資助病邪，醫云乎哉。族叔祖年七十，稟甚壯，形甚瘦，夏末患泄利至深秋，百方不應，予視之曰：病雖久而神不悴，小便澀少而不赤，兩手脈俱澀而頗弦，自言鬲微悶，食亦減。因悟曰：此必多年沉積，僻在胃腸，詢其平生喜食何物，曰：我喜食鯉魚三年無一日缺，予曰：積痰在肺，肺為大腸之臟，宜大腸之本不固也，當與澄其源而流自清，以茱萸，陳皮，青蔥，蔍苜根，生薑煎濃湯，和以沙糖，飲一碗許，自以指探喉中，至半時辰吐痰半升許，如膠，是夜減半次，早又飲又吐半升而利止，又與平胃散加白朮黃連，旬日而安，東陽王仲延遇諸途來告曰：我每日食物必屈曲，自鬲而下且硬澀作微痛，它無所苦，此何病？脈之右甚濇而關尤沉，左卻和。予曰：汙血在胃脘之口，氣因鬱而為痰，此必食物所致，明以告我。彼亦不自覺，予又曰：汝去臘食何物為多，曰：我每日必早飲點剁酒兩三盞，逼寒氣。為製一方，用韭汁半銀盞，冷飲細呷之，盡韭葉半斤而病安，已而果然。又一鄰人，年三十餘，性狡而躁，素患下疳瘡，或作或止，夏初患自利，鬲上微悶，醫與治中湯兩帖，昏悶若死，片時而甦，予脈之兩手皆濇，重取略弦似數。予曰：此下疳瘡之深重者，與當歸龍薈丸，去麝四帖而利減，又與小柴胡去半夏，加黃連芍藥川芎生薑煎五六帖而安，彼三人者俱是濇脈，或弦或不弦，而治法迥別，不求其本，何以議藥。</p>
<h3>濇脈論</h3>
<p>人一呼脈行三寸，一吸脈行三寸，呼吸定息脈行六寸，一晝一夜一萬三千五百息，脈行八百一十丈，此平人血氣運行之定數也，醫者欲知血氣之病與不病，非切脈不足以得之，脈之狀不一，載於脈經者二十有四，浮沉芤滑，實弦緊洪，微緩濇遲，伏濡弱數，細動虛促，結代革散，其狀大率多兼見，人之為病有四，曰寒曰熱，曰實曰虛，故學脈者，亦必以浮沉遲數為之綱，以察病情，此不易之論也，然濇之見固多虛寒，亦有痼熱為病者。醫於指下見有不足之氣象，便以為虛，或以為寒，孟浪與藥，無非熱補，輕病為重，重病為死者多矣。何者人之所藉以為生者，血與氣也。或因憂鬱，或因厚味，或因無汗，或因補劑，氣騰血沸，清化為濁，老痰宿飲，膠固雜糅，脈道阻澀不能自行，亦見濇狀。若重取至骨，來似有力，且帶數。以意參之於證驗之形氣，但有熱證當作痼熱可也，此論為初學者發，圓機之士必以為贅，東陽吳子，方年五十，形肥味厚，且多憂怒，脈常沉濇。自春來得痰氣病，醫認為虛寒，率與燥熱香竄之劑，至四月間兩足弱，氣上衝，飲食減，召我治之，予曰：此熱鬱而脾虛，痿厥之證作矣，形肥而脈沉，未是死證，但藥邪大盛，當此火旺，實難求生，且與竹瀝下白朮膏，盡二斤，氣降食進，一月後大汗而死，書此以為諸賢覆轍戒。</p>
<h3>養老論。</h3>
<p>人生至六十七十以後，精血俱耗，平居無事已有熱證何者？頭昏目眵，肌痒溺數，鼻涕牙落，涎多寐少，足弱耳聵，健忘眩運，腸燥面垢，髮脫眼花，久坐兀睡，未風先寒，食則易飢，笑則有淚，但是老境無不有此。或曰：局方烏附丹劑，多與老人為宜，豈非以其年老氣弱下虛，理宜溫補。今子皆以為熱，烏附丹劑將不可施之老人耶。余曉之曰：奚止烏附丹劑不可妄用，至於好酒膩肉，溼麵油汁，燒炙煨炒，辛辣甜滑，皆在所忌，或曰：子何愚之甚耶，甘旨養老，經訓具在，為子為婦，甘旨不及，孝道便虧，而吾子之言若是，其將有說以通之乎？願聞其略。予愀然應之曰：正所謂道並行而不悖者，請詳言之。古者井田之法行，鄉閭之教興，人知禮讓，比屋可封，肉食不及幼壯，五十纔方食肉，強壯恣饕，比及五十，疾已蜂起，氣耗血竭，筋柔骨痿，腸胃雍閼，涎沫充溢，而況人身之陰，難成易虧，六七十後，陰不足以配陽，孤陽幾欲飛越，因天生胃氣尚爾留連，又藉水穀之陰，故羈縻而定耳，所陳前證皆是血少，內經曰：腎惡燥，烏附丹劑非燥而何，夫血少之人，若防風半夏蒼朮香附，但是燥劑，且不敢多，況烏附丹劑乎。或者又曰：一部局方悉是溫熱養陽，吾子之言無乃繆妄乎。予曰：局方用燥劑為劫溼病也，溼得燥則豁然而收，局方用煖劑為劫虛病也，補腎不如補脾，脾得溫則易化而食味進，下雖暫虛亦可少回，內經治法亦許用劫，正是此意。蓋為質厚而病淺者設，此亦儒者用權之意，若以為經常之法，豈不大誤，彼老年之人，質雖厚，此時亦近乎薄，病雖淺，其本亦易以撥，而可以劫藥取速效乎，若夫形肥者，血少形瘦者，氣實間或有可用劫藥者，設或失手，何以取救，吾甯稍遲，計出萬全，豈不美乎，烏附丹劑其不可輕餌也明矣，至於飲食尤當謹節，夫老人內虛脾弱，陰虧性急，內虛胃熱則易飢而思食，脾弱難化則食已而再飽，陰虛難降則氣鬱而成痰，至於視聽言動皆成廢懶，百不如意，怒火易熾，雖有孝子順孫，亦是動輒扼腕，況未必孝順乎，所以物性之熱者，炭火製作者，氣之香辣者，味之甘膩者，其不可食也明矣。雖然腸胃堅厚，福氣深壯者，世俗觀之，何妨奉養，縱口固快一時，積久必為災害，由是觀之多不如少，少不如絕爽口，作疾厚味措毒，前哲格言猶在人耳，可不慎與，或曰：如子之言，殆將絕而不與，於汝安乎。予曰：君子愛人以德，小人愛人以姑息，況施於所尊者哉，惟飲與食，將以養生，不以致疾，若以所養，轉為所害，恐非君子之所謂孝與敬也，然則如之何則可，曰：好生惡死，好安惡病，人之常情，為子為孫，必先開之以義理，曉之以物性，旁譬曲喻，陳說利害，意誠辭確，一切以敬慎行之，又次以身先之，必將有所感悟，而無扞格之逆矣，吾子所謂絕而不與，施於有病之時，尤是孝道，若無病之時，量酌可否以時而進，某物不食，某物代之，又何傷於孝道乎，若夫平居閑話，素無開導，誘掖之言，及至飢腸已鳴，饞涎已動，飲食在前，馨香撲鼻，其可禁乎。經曰：以飲食忠養之，忠之一字，恐與此意合，請勿易看過，予事老母，固有愧於古者，然母年踰七旬，素多痰飲，至此不作，節養有道，自謂有術，只因大便燥結，時以新牛乳豬脂和糜粥中進之，雖以暫時滑利，終是膩物積多，次年夏時鬱為粘痰，發為脇瘡，連日作楚，寐興隕穫，為之子者，置身無地，因此苦思而得節養之說，時進參朮等補胃補血之藥，隨天令加減，遂得大腑不燥，面色瑩潔，雖覺瘦弱，終是無病，老境得安，職此之由也，因成一方，用參朮為君，牛膝芍藥為臣，陳皮茯苓為佐，春加川芎，夏加五味黃芩麥門冬，冬加當歸身，倍生薑，一日或一帖，或二帖，聽其小水纔覺短少，便進此藥，小水之長如舊，即是卻病捷法，後到東陽，因聞老何安人，性聰敏，七十以後稍覺不快，便卻粥數日，單進人參湯數帖而止，後九十餘無疾而卒，以其偶同，故筆之以求是正。</p>
<h3>慈幼論。</h3>
<p>人生十六歲以前，血氣俱盛，如日方升，如月將圓，惟陰長不足，腸胃尚脆而窄，養之之道不可不慎，童子不衣裘帛，前哲格言具在人耳，裳下體之服，帛溫軟甚於布也，蓋下體主陰，得寒涼則陰易長，得溫煖則陰暗消，是以下體不與帛絹夾厚溫煖之服，恐妨陰氣，實為確論，血氣俱盛，食物易消，故食無時，然腸胃尚脆而窄，若稠粘乾硬，酸鹹甜辣，一切魚肉，木果溼麵，燒炙煨炒，但是發熱難化之物，皆宜禁絕，只與乾柿熟菜白粥，非惟無病，且不縱口，可以養德，此外生栗味鹹，乾柿性涼，可為養陰之助，然栗大補，柿大澀，俱為難化，亦宜少與，婦人無知，惟務姑息，畏其啼哭，無所不與，積成痼疾，雖悔何及，所以富貴驕養，有子多病，迨至成人，筋骨柔弱有疾，則不能忌口以自養，居喪則不能食素以盡禮，小節不謹，大義亦虧，可不慎歟。至於乳子之母，尤宜謹節飲食，下咽乳汁便通，情欲動中，乳脈便應，病氣到乳汁，必凝滯，兒得此乳疾，病立至，不吐則瀉，不瘡則熱，或為口縻，或為驚搐，或為夜啼，或為腹痛，病之初來，其溺必甚少，便須詢問，隨證調治，母安亦安，可消患於未形也，夫飲食之擇，猶是小可，乳母稟受之厚薄，情性之緩急，骨相之堅脆，德行之善惡，兒能速肖，尤為關係，或曰可以已矣，曰未也，古之胎教具在方冊，愚不必贅，若夫胎孕致病，事起茫昧，人多玩忽，醫所不知，兒之在胎，與母同體，得熱則俱熱，得寒則俱寒，病則俱病，安則俱安，母之飲食起居，尤當慎密，東陽張進士，次子二歲，滿頭有瘡，一日瘡忽自平，遂患痰喘，予視之曰：此胎毒也，慎勿與解利藥，眾皆愕然，予又曰：乃母孕時所喜何物？張曰：辛辣熱物是其所喜，因口授一方，用人參，連翹，芎，連，生甘草，陳皮，芍藥，木通濃煎沸湯，入竹瀝。與之數日而安，或曰何以知之，曰：見其精神昏倦，病受得深，決無外感，非胎毒而何，予之次女，形瘦性急，體本有熱，懷孕三月，適當夏暑，口渴思水，時發小熱，遂教以四物湯，加黃芩，陳皮，生甘草，木通，因懶於煎煮，數帖而止，其後此子二歲，瘡痍遍身，忽一日，其瘡頓愈，數日遂成痎瘧，予曰：此胎毒也，瘡若再作，病必自安，已而果然，若於孕時，確守前方，何病之有。又陳氏女，八歲時得癇病，遇陰雨則作，遇驚亦作，口出涎沬，聲如羊鳴，予視之曰：此胎受驚也，其病深痼，調治半年病亦可安，仍須淡味以佐藥功，與燒丹元，繼以四物湯，入黃連，隨時令加減，半年而安。</p>
<h3>夏月伏陰在內論。</h3>
<p>天地以一元之氣，化生萬物，根於中者曰神機，根於外者曰氣血，萬物同此一氣，人靈於物，形與天地參而為三者，以其得氣之正而通也，故氣升亦升，氣浮亦浮，氣降亦降，氣沉亦沉，人與天地同一槖籥，子月一陽生，陽初動也，寅月三陽生，陽初出於地也，此氣之升也，巳月六陽生，陽盡出於上矣，此氣之浮也，人之腹屬地氣，於此時浮於肌表，散於皮毛，腹中虛矣，經曰：夏月經滿，地氣溢滿，入經絡受血，皮膚充實，長夏氣在肌肉，所以表實，表實者，裏必虛，世言夏月伏陰在內，此陰字有虛之義，若作陰冷看，其誤甚大，或日以手捫腹，明知其冷，非冷而何，前人治暑病有三龍丸，大順散，桂苓丸，單煮良薑與縮脾飲，用草果等，皆行溫熱之劑，何吾子不思之甚也，曰春夏養陽，王太僕謂春食涼，夏食寒，所以養陽也。其意可見矣，若夫涼臺水館，大扇風車，陰水寒泉，果冰雪涼之傷，自內及外，不用溫熱病，何由安詳，玩其意，實非為內伏陰而用之也，前哲又謂，升降浮沉則順之，寒熱溫涼則逆之，若於夏月火令之時，妄投溫熱，甯免實實虛虛之患乎，或曰：巳月純陽。於理或通，五月一陰，六月二陰，非陰冷而何，予曰：此陰之初動於地下也，四陽浮於地上，燔灼焚燎，流金爍石，何陰冷之有，孫真人製生脈散，令人夏月服之，非虛而何。</p>
<h3>豆瘡陳氏方論。</h3>
<p>讀前人之書，當知其立言之意，苟讀其書，而不知其意，求適於用不可得也，豆瘡之論，錢氏為詳，歷舉源流經絡，明分表裏虛實，開陳其施治之法，而又證以論辯之言，深得著書垂教之體，學者讀而用之，如求方圓於規矩，較平直於準繩，引而伸之，觸類而長之，可為無窮之應用也，今人不知致病之因，不求立方之意，倉卒之際，據證檢方，漫爾一試，設有不應，并其書而廢之，不思之甚也，近因局方之教久行，素問之學不講，抱疾談醫者，類皆喜溫而惡寒，喜補而惡解利，忽得陳氏方論，皆燥熱補劑，其辭確其文簡，懽然用之，翕然信之，遂以為錢氏不及陳氏遠矣，或曰：子以陳氏方為不足歟。曰：陳氏方誠一偏論。雖然亦可謂善求病情者，其意大率歸重於太陰一經，蓋以手太陰屬肺，主皮毛也，足太陰屬脾，主肌肉。肺金惡寒而易於感脾，胃土惡溼而無物不受，觀其用丁香官桂，所以治肺之寒也，用附朮半夏，所以治脾之溼也，使其肺果有寒，脾果有溼，而兼有虛也，量而與之，中病則止，何傷之有，今也不然，徒見其瘡之出，遲者，身熱者，泄瀉者，驚悸者，氣急者，渴思飲者，不問寒熱虛實，率投木香散異功散，間有偶中，隨手獲效，設或誤投，禍不旋踵，何者，古人用藥製方，有向導，有監制，有反佐，有因用，若錢氏方，固未嘗廢，細辛丁香白朮參耆等，率有監制輔佐之藥，不專務於溫補耳，然其用涼寒者多，而於輔助一法略開端緒，未曾深及，癡人之前不可說夢，錢氏之慮至矣，亦將以候達者，擴充推廣而用，雖然渴者用溫藥，痒塌者用補藥，自陳氏發之，迥出前輩，然其多用桂附丁香等燥熱，恐未為適中也，何者，桂附丁香輩當有寒而虛，固是的當，虛而未必寒者，其為害當何如耶，陳氏立方之時，必有挾寒而豆瘡者，其用燥熱補之固其宜也，今未挾寒而用一偏之方，甯不過於熱乎，予嘗會諸家之粹，求其意而用之，實未敢據其成方也，試舉一二以證之，從子六七歲，時患豆瘡，發熱微渴，自利，一小方脈視之，用木香散，每帖又增丁香十粒，予切疑焉，觀其出遲，固因自利而氣弱，察其所下皆臭滯陳積，因腸胃熱蒸而下也，恐非有寒而虛，遂急止之，已投一帖矣，繼以黃連解毒湯加白朮與十帖，以解丁香之熱，利止瘡亦出，其後肌常有微熱，而手足生癰癤，與涼劑調補，踰月而安，又一男子年十六七歲，發熱而昏，目無視，耳無聞，兩手脈皆豁大而略數，知其為勞傷矣。時里中多發豆者，雖不知人，與藥則飲，與粥則食，遂教參耆當歸白朮陳皮大料濃煎，與之飲，至三十餘帖，豆始出，又二十餘帖，則成濃泡，身無全膚，或曰病勢可畏，何不用陳氏全方治之，余曰：此但虛耳。無寒也。只守前方，又數十餘帖而安，後詢其病因，謂先四五日恐有出豆之病，遂極力樵採，連日出汗甚多，若用陳氏全方，甯無後悔，至正甲申春，陽氣早動，正月間，邑間豆瘡不越一家，卒投陳氏方，童幼死者百餘人，雖由天數，吾恐人事亦或未之盡也。</p>
<h3>痛風論。</h3>
<p>氣行脈外，血行脈內，晝行陽二十五度，夜行陰二十五度，此平人之造化也，得寒則行遲而不及，得熱則行速而太過，內傷於七情，外傷於六氣，則血氣之運，或遲或速而病作矣，彼痛風者，大率因血受熱，已自沸騰，其後或涉冷水，或立溼地，或扇取涼，或臥當風寒涼，外搏熱血，得寒，汗濁凝澀，所以作痛，夜則痛，其行於陰也，治法以辛熱之劑，流散寒溼，開發腠理，其血得行，與氣相和，其病自安，然亦有數種，治法稍異，謹書一二以證予言。東陽傅文，年踰六十，性急作勞，患兩腿痛甚，動則甚痛，予視之曰：此兼虛證，當補血溫血，病當自安，遂與四物湯，加桃仁陳皮牛膝生甘草煎，入生薑研潛行散，熱飲三四十帖而安。又朱宅閫內，年近三十，食味甚厚，性躁急，患痛風攣縮數月，醫禱不應，予視之曰：此挾痰與氣，證當和血疏氣導痰，病自安。遂以潛行散，入生甘草，牛膝，炒枳殼，通草，陳皮，桃仁，薑汁煎，服半年而安，又鄰鮑六年二十餘，因患血痢，用澀藥取效後，患痛風，叫號撼鄰，予視之曰：此惡血入經絡證，血受溼熱，久必凝濁，所下未盡留滯，隨道所以作痛，經久不治，恐成偏枯，遂與四物湯，加桃仁，紅花，牛膝，黃芩，陳皮，生甘草煎，入生薑研，潛行散入少，酒飲之，數十帖又與，刺委中，出黑血，近三合而安，或曰：比見鄰人，用草藥研酒飲之，不過數帖，亦有安者，如子之言，類皆經久取效，無乃太迂緩乎。予曰：此劫病草藥，石上采石絲為之君，過山龍等佐之，皆性熱而躁者，不能養陰，卻能燥溼，病之淺者，溼痰得燥則開，熱血得熱則行，亦可取效，彼病深而血少者，愈劫愈虛，愈劫愈深，若朱之病是也，子以我為迂緩乎。</p>
<h3>痎瘧論。</h3>
<p>內經謂，夏傷於暑，秋傷於風，必有痎瘧，痎瘧，老瘧也，以其隔兩日一作，纏綿不休，故有是名，前賢具有治法，然皆峻劑，有非稟受性弱，居養所移者，所宜用也。惟許學士，方有用參耆等補劑，而又不曾深論，後學難以推測，因見近年以來，五十歲以下之人，多是怯弱者，況嗜慾縱恣十倍於前，以弱質而得深病，最難為藥，始悟常山烏梅砒丹等為劫痰之劑，若誤用之，輕病為重，重病必死，何者，夫三日一作，陰受病也，作於子午卯酉日，少陰瘧也，作於寅申巳亥日，厥陰瘧也，作於戌丑未日，太陰瘧也，瘧得於暑，當以汗解，或涼臺水閣，陰木冷地，他人揮扇，泉水澡浴，汗不得泄，鬱而成痰，其初感也，胃氣尚強，全不自覺，至於再感，懵然無知，又復恣意飲食，過分勞動，竭力房事，胃氣大傷，其病乃作，深根固蔕，宜其難愈，病者欲速愈，甘辛峻劑，醫者欲急利，遽便將投，殊不知感風感暑，皆外邪也，當以汗解，所感既深，決非一二升汗可除，亦有胃氣少回，已自得汗，不守禁忌，又復觸冒，舊邪未去，新邪又感，展轉沉滯，其病愈深，況來求治者，率皆輕試速效劫病之藥，胃氣重傷，吾知其難免於禍矣，由是甘為遲鈍，範我馳驅，必先以參朮陳皮芍藥等補劑，輔以本經之藥，惟其取汗，若得汗而體虛，又須重用補劑以助之，俟汗出通身，下過委中，方是佳兆，仍教以澹飲食，省出入，避風就溫，遠去帷薄，謹密調養，無有不安，若感病極深，雖有大汗所感之邪，必自臟。傳出至腑，其發也，必亂而失期，亦豈是佳兆，故治此病，春夏為易，秋冬為難，易非有他，也以汗之，難為優劣也。或曰：古方用砒丹烏梅常山得效者，不為少子，以為不可用乎，予曰：腑受病者淺，一日一作，間一日一作者，是胃氣尚強，猶可與也，彼三日一作者，病已在臟矣，在臟者難治，以其外感猶可治也，而可用劫藥以求速效乎，前歲憲僉詹公，稟其壯，形甚強，色甚蒼，年近六十二，月得痎瘧，召我視之，知其飫於醲肥者，告之曰：須遠色，食淡調理，浹月得大汗乃安，公不悅，一人從旁曰：此易耳，數日可安，與劫藥三五帖，病退旬日，後又作，又與又退，綿延至冬，病猶未除，又來求治，予知其久得藥，痰亦少，惟胃氣未完，又天寒汗未透，遂以白朮粥和丸，與二斤，令其遇飢時且未食，取一二百丸以熱湯下，只與白粥調養，盡此藥，當大汗而安，已而果然，如此者甚多，但藥略有加減，不必盡述。</p>
<h3>病邪雖實胃氣傷者勿使攻擊論。</h3>
<p>凡言治國者，多借醫為諭，仁哉，斯言也，真氣，民也，病邪，賊盜也，或有盜賊，勢須剪除而後已，良相良將，必先審度兵食之虛實，與時勢之可否，然後動，動涉輕妄，則吾民先困於盜，次困於兵，民困而國弱矣。行險僥倖，小人所為，萬象森羅，果報昭顯，其可不究心乎，請舉一二以為凡例，永康呂親，形瘦色黑，平生喜酒，多飲不困，年近半百，且有別館，忽一日大惡寒，發戰，且自言渴，卻不飲，予診其脈，大而弱，惟右關稍實略數，重取則濇，遂作酒熱，內鬱不得外泄，由表熱而不虛也，黃耆一物，以乾葛湯煎與之，盡黃耆二兩，乾葛一兩，大得汗，次早安矣。又葉先生患滯下，後甚逼迫，正合承氣證，予曰：氣口虛，形雖實而面黃稍白，此必平昔食過飽而胃受傷，寧忍一兩日辛苦，遂與參朮陳皮芍藥等補藥十餘帖，至三日後胃氣稍完，與承氣兩帖而安，苟不先補完胃氣之傷，而遽行承氣，吾恐病安之後，寧免瘦憊乎。又一婢，色紫稍肥，性沉多憂，年近四十，經不行三月矣，小腹當中有一氣塊，初起如栗，漸如炊餅，予脈之，兩手皆濇，重取卻有，試令按其塊，痛甚，捫之高半寸，遂與千金消石丸，至四五次，彼忽自言乳頭黑，且有汁，恐有娠，予曰：非也，濇脈無孕之理，又與三五帖，脈之稍覺虛豁，予悟曰：藥太峻矣，令止前藥，與四物湯，倍加白朮，佐以陳皮至三十帖，候脈完，再與消石丸，至四五次，忽自言塊消一暈，便令莫服，又半月，經行痛甚，下黑血半升，內有如椒核數十粒，乃塊消一半，又來索藥，以消餘塊，余曉之曰：勿性急，塊巳開矣，不可又攻，若次月，經行當盡消矣，次月經行下少黑血塊，又消一暈，又來問藥，余曰：但守禁忌，至次月必消盡，巳而果然。大凡攻擊之藥，有病則病受之，病邪輕而藥力重，則胃氣受傷，夫胃氣者，清純沖和之氣也，惟與穀肉菜果相宜，蓋藥石皆是偏勝之氣，雖參耆輩，為性亦偏，況攻擊之藥乎，此婦胃氣自弱，好血亦少，若塊盡而卻藥，胃氣之存者幾希矣，議論至此，醫云乎哉。</p>
<h3>治病先觀形色然後察脈問證論。</h3>
<p>經曰：診脈之道，觀人勇怯，肌肉皮膚能知其情，以為診法也，凡人之形，長不及短，大不及小，肥不及瘦，人之色，白不及黑，嫩不及蒼，薄不及厚，而況肥人濕多，瘦人火多，白者肺氣虛，黑者腎氣足，形色既殊，臟腑亦異，外證雖同，治法迥別，所以肥人貴脈浮，瘦人貴脈沉，躁人疑脈緩，緩人疑脈躁，以其不可一概觀也。試陳一二，可以例推，東陽陳兄，露筋，體稍長，患體虛而勞，頭痛甚，至有決別之言，余察其脈弦而大帶數，以人參白朮為君，川芎陳皮為佐，至五六日未減，眾皆訝之，以藥之不對也，余曰藥力有次第矣，更少俟一二宿當自安，忽其季來，問曰：何不少加黃耆，予咲不答，又經一宿，忽自言病頓愈，予脈之覺指下稍盛，又半日，病者言膈上滿，不覺飢，視其腹紋巳隱矣，予曰：夜來藥中莫加黃耆否？曰：然，止與三帖。遂速與二陳湯，加厚朴枳殼黃連以瀉其衛，三帖而安，又浦江義門鄭兄，年二十餘，秋間大發熱，口渴妄言，妄見病佀邪鬼，七八日後召我治，脈之兩手，洪數而實，視其形肥，面赤帶白，卻喜露筋，脈本不實，涼藥所致，此因勞倦成病，與溫補藥自安，曰柴胡七八帖矣，以黃耆附子湯，冷與之飲，三帖後困倦鼾睡，微汗而解，脈亦稍軟，繼以黃耆白朮湯，至十日脈漸收歛而小，又與半月而安，夫黃耆補氣藥也，此兩人者，一則氣虛，一則氣實，便有宜不宜存焉，可不審乎。</p>
<h3>大病不守禁忌論。</h3>
<p>病而服藥，須守禁忌，孫真人千金方言之詳矣，但不詳言所以守禁忌之由，敢陳其略，以為規戒，夫胃氣者，清純沖和之氣，人之所賴以為生者也，若謀慮神勞，動作形苦，嗜欲無節，思想不遂，飲食失宜，藥餌違法，皆能致傷，既傷之後，須用調補，恬不知怪，而乃恣意犯禁，舊染之證，與日俱積，吾見醫將日不暇給，而傷敗之，胃氣無復完全之望，去死近矣，予族叔，形色俱實，痎瘧，又患痢，自恃強健能食，絕無忌憚，一日召我曰：我雖病，卻健而能食，但苦汗出耳。汝能止此汗否？予曰：痎瘧，非汗出不能愈也，可慮者，正在健與能食耳，此非痢也，胃熱善消，脾病不化，食積與病勢已甚矣，此時節擇飲食以養胃氣，省出入以避風寒，候汗透而安。叔曰：世俗謂無飽死痢，我今能食，何謂可慮？余曰：痢而能食者，知胃氣未病也，故言不死，非謂恣食不節擇者，不從所言，恣口大嚼，遇渴又多啖水果，如此者月餘後，雖欲求治，不可著手矣，淹淹又月餘而死。內經以驕恣不倫於理為不治之病，信哉，又周其姓者，形色俱實，患痢，善食而易飢，大嚼不擇者五日矣，予責之曰：病中當調補自養，豈可滋味戕賊，遂教之只用蘿蔔喫粥耳，少與調治半月而安。</p>
<h3>虛病痰病有似邪崇論。</h3>
<p>血氣者，身之神也，神既衰乏，邪因而入，理或有之，若夫血氣兩虧，痰客中焦，妨礙升降不得運用，以致十二官各失其職，視聽言動皆有虛妄，以邪治之，其人必死吁哉，冤乎誰執其咎，憲幕之子，傅兄年十七八，時暑月，因大勞而渴，恣飲梅漿，又連得大驚三四次，妄言妄見病佀邪鬼，診其脈兩手皆虛，弦而帶沉數，予曰：數為有熱，虛弦是大驚，又梅酸之漿，鬱於中脘，補虛清熱，導去痰滯，病乃可安，遂與人參，白朮，陳皮，茯苓，芩，連等濃煎湯，入竹瀝薑汁，與旬日，未效，眾皆尤藥之不審，余脈之，知其虛之未完，與痰之未導也。仍與前方，入荊瀝，又旬日而安。外弟，歲一日，醉飽後亂言，妄語妄見，詢之係伊亡兄附體，言生前事甚的，乃叔在邊叱之曰：非邪，食腥與酒太過，痰所為耳，灌鹽湯一大碗，吐痰一二升，汗因大作，困睡一霄而安。又金氏婦，壯年暑月赴筵，婦乃姑，詢其坐次失序，遂赧然自愧，因成此病，言語失倫，其中又多間一句曰：奴奴不是，脈皆數而弦，余曰：此非邪，乃病也，但與補脾清熱導痰，數日當自安，其家不信，邀數巫者噴水而咒之，旬餘而死，或問曰：病非邪而邪治之，何遽至於死。余曰：暑月赴宴，外境蒸熱，辛辣適口，內境鬱熱，而況舊有積痰加之，愧悶其痰與熱，何可勝言，今乃驚以法尺，是驚其神而血不寧也。噴以法水，是審其體密，其膚使汗不得泄也。汗不泄則蒸熱內燔，血不得寧，則陰消而陽不能獨立也，不死何俟。或曰：外臺祕要有禁咒一科，庸可廢乎。予曰：移精變氣，乃小術耳，可治小病，若內有虛邪，外有實邪，當用正大之法，自有成式，昭然可考，然符水氣，膈上熱痰一呷涼，胃熱得之，豈不清快，亦可居安，若內傷而虛，與冬嚴寒，符水下咽，必冰胃而致害，彼鬱熱在上，熱邪在表，須以汗解，率得清冷，膚腠固密，熱何由解，必致內攻，陰陽離散，血氣乖爭，去死為近。</p>
<h3>面鼻得冷則黑論。</h3>
<p>諸陽聚於頭，則面為陽中之陽，鼻居面中央，而陽明起於額中，一身之血運到面鼻陽部，皆為至清至精之血矣。酒性善行而喜升，大熱而有峻急之毒，多酒之人，酒氣熏蒸，面鼻得酒，血為極熱，熱血得冷，為陰氣所搏，汗濁凝結滯而不行，宜其先為紫，而後為黑色也，須用融化滯血，便之得流，滋生新血，可以運化，病乃可愈，予為酒製四物湯，加炒片茯苓，陳皮，生甘草，酒紅花，生薑煎調，五靈脂末飲之，氣弱者加酒黃耆，無有不應者。</p>
<h3>胎自墮論。</h3>
<p>陽施陰化，胎孕乃成，血氣虛損，不足榮養，其胎自墜，或勞怒傷情，內火便動，亦能墜胎，推原其本，皆因於熱，火能消物，造化自然，病源乃謂風冷傷於子臟而墯，此未得病情者也，予見賈氏婦，但有孕至三箇月左右必墯，診其脈，左手大而無力，重取則濇，知其少血也，以其妙年，只補中氣，使血自榮，時正初夏，教以濃煎白朮湯，下黃芩末一錢，服三四十帖，遂得保全而生，因而思之，墯於內熱而虛者，於理為多，日熱日虛，當分輕重，好生之工，幸毋輕視。</p>
<h3>難產論。</h3>
<p>世之難產者，往往見於鬱悶安佚之人，富貴奉養之家，若貧辛苦者，無有也，方書止有瘦胎飲一論，而其方為湖陽公主作也，實非極至之言，何者見有此方，其難自若，予族妹，苦於難產，後遇胎孕，則觸而去之，余甚憫焉，視其形肥而勤於針指，搆思旬日，忽自悟曰：此正與湖陽公主相反，彼奉養之人，其氣必實，耗其氣使和平故易產，今形肥知其氣虛，久坐知其不運，而其氣愈弱，久坐胞胎，因母氣不能自運耳，當補其母之氣，則兒健而易產，今其有孕至五六箇月，遂於大全方紫蘇飲，加補氣藥，與十數帖，因得男而甚快，後遂以此方，隨母之形色性稟，參以時令加減與之，無不應者，因名其方曰：大達生散。</p>
<h3>難產胞損淋瀝論。</h3>
<p>常見尿胞，因收生者不謹，以致破損，而得淋瀝病，遂為廢疾，一日有徐姓婦，壯年得此，因思肌肉破傷在外者，且可補完，胞雖在腹，恐亦可治，遂診其脈虛甚，曰難產之由，多是氣虛，難產之後，血氣尤虛，試與峻補，因以參朮為君，芎歸為臣，桃仁陳皮黃耆茯苓為佐，而煎以豬羊胞中湯，極飢時飲之，但劑率用一兩，至一月而安，蓋是氣血驟長，其胞自完，恐稍遲緩，亦難成功。</p>
<h3>胎婦轉胞病論。</h3>
<p>轉胞病，胎婦之稟受弱者，憂悶多者，性急躁者，食味厚者，大率有之，古方皆用滑利疏導藥，鮮有應效，因思胞為胎所墯，展在一邊，胞系了戾不通耳，胎若舉起，懸在中央，胞系得疏，水道自行，然胎之墜下必有其由，一日吳宅寵人患此，脈之兩手似濇，重取則弦，然左手稍和，余曰：此得之憂患，濇為血少氣多，弦為有飲，血少則胞弱而不能自舉，氣多有飲，中焦不清而溢，則胞之所避而就下，故墜。遂以四物湯，加參朮半夏陳皮生甘草生薑空心飲，隨以指探喉中，吐出藥汁，俟少頃氣定，又與一帖，次早亦然，如是與八帖安，此法未為的確恐偶中耳。後又歷用數人亦效，未知果如何耶，仲景云：婦人本肥盛，且舉自滿全羸瘦，且舉空減，胞系了戾，亦致胞轉，其義未詳，必有能知之者。</p>
<h3>乳硬論。</h3>
<p>乳房，陽明所經，乳頭厥陰所屬，乳子之母，不知調養，怒忿所逆，鬱悶所遏，厚味所釀，以致厥陰之氣不行，故竅不得通，而汁不得出，陽明之血沸騰，故熱甚而化膿，亦有所乳之子，膈有滯痰，口氣焮熱，含乳而睡，熱氣所吹，遂生結核，於初起時，便須忍痛，揉令稍軟，吮令汁透，自可消散，失此不治，必成癰癤，治法悚厥陰之滯，以青皮清陽明之熱，細研石膏行汗。濁之血，以生甘草之節消腫導毒，以瓜蔞子或加沒藥，青橘葉，皂角刺，金銀花，當歸，或湯或散，或加減隨意消息，然須以少酒佐之，若加以艾火兩三壯於腫處，其效尤揵。彼庸工喜於自衒，便用針刀引惹拙痛，良可哀憫，若夫不得於舅姑，憂怒鬱悶，昕夕積累，脾氣消阻，肝氣橫逆，遂成隱核，如大棋子，不痛不痒，數十年後方為瘡陷，名曰妳岩，以其瘡形嵌凹似岩穴也，不可治矣。若於始生之際，便能消釋病根，使心清神安，然後施之以治法，亦有可安之理，予族姪婦，年十八時，曾得此病，察其形脈稍實，但性急躁，伉儷自諧，所難者，後姑耳，遂以本草單方，青皮湯，間以加減四物湯，行以經絡之劑，月而安。</p>
<h3>受胎論。</h3>
<p>成胎以精血之後，先分男女者，褚澄之論，愚切惑焉，後閱李東垣之方，有曰：經水斷後一二日，血海始淨，精勝其血，感者成男，四五日後，血脈已旺，精不勝血，感者成女，此確論也。易曰：乾道成男，坤道成女，夫乾坤陰陽之青性也，左右陰陽之道路也，男女陰陽之儀象也，父精母血，因感而會精之施也，血能攝精成其子，此萬物資始於乾元也，血成其胞，此萬物資生於坤元也，陰陽交媾，胎孕乃凝，所藏之處，名曰子宮，一系在下，上有兩岐，一達於左，一達於右，精勝其血則陽為之，主受氣於左子宮，而男形成。精不勝血，則陰為之主，受氣於右子宮，而女形成，或曰：分男分女吾知之矣。男不可為父，女不可為母，與男女之兼形者，又若何而分之耶，余曰：男不可為父，得陽氣之虧者也，女不可為母，得陰氣之塞者也，兼形者，由陰為駁氣所乘而成其類不一，以女凾男有二，一則遇男為妻，遇女為夫，一則可妻而不可夫，其有女具男之全者，此又駁之甚者，或曰駁氣所乘，獨見於陰，而所乘之形又若是之不同耶。予曰：陰體及虛，駁氣易於乘也，駁氣所乘，陰陽相混，無所為主，不可而左，不可屬右，受氣於兩岐之間，隨所得駁氣之輕重而成之，故所兼之形有不可得而同也。</p>
<h3>人迎氣口論。</h3>
<p>六陽六陰，脈分屬左右，手心小腸肝膽腎膀胱，在左主血，肺大腸脾胃命門三焦，在右主氣，男以氣成胎，故氣為之主，女以血成胎，故血為之主，若男子久病，氣口充於人迎者，有胃氣也，病雖重可治，女子久病，人迎充於氣口者，有胃氣也，病雖重可治，反此者逆，或曰人迎在左，氣口在右，男女所同，不易之位也，脈法讚曰：左大順男，右大順女，何子言之悖耶，曰：脈經一部，王叔和諄諄於教醫者，此左右以醫者為主，而言若主於病者，奚止千里之謬。</p>
<h3>春宣論。</h3>
<p>春，蠢也。陽氣升浮，草木萌芽，蠢然而動，前哲謂春時人氣在頭，有病宜吐，又曰：傷寒大法，春宜吐。宣之為言揚也，謂吐之法自上出也，今之世俗，往往有瘡痍者，膈滿者，蟲積，以為不於春時宣瀉，以毒藥不可愈也，醫者遂用牽牛，巴豆，大黃，枳殼，防風輩為丸，名之曰，春宣丸，於二月三月服之，得下利而止，於初瀉之時，臟腑得通，時暫輕快，不知氣升在上，則在下之陰甚弱，而用利藥戕賊其陰，其害何可勝言，況仲景用承氣湯等下藥，必有大滿大實，堅有燥屎，轉失氣下，逼迫而無表證者，方行此法，可下之證未悉具，猶須遲以待之，泄利之藥，其可輕試乎，余伯考，形肥骨瘦，味厚性沉，五十歲輕於聽信，忽於三月半，贖春宣丸一帖，服之下兩三行，每年率以為常，至五十三歲時，七月初炎熱之甚，無病暴死，此豈非妄認春宣為春瀉而致禍耶，自上召下曰宣，宣之一字，吐也明矣。張子和先生巳詳論之，昔賢豈妄言哉，詳之審訂無疑，後之死者，又有數人愚，故表而出之，以為後人之戒。</p>
<h3>醇酒宜冷飲論。</h3>
<p>醇酒之性，大熱大毒，清香美味，既適於口，行氣和血，亦宜於體，由是飲者不自覺其過於多也，不思肺屬金性畏火，其體脆，其位高，為氣之主，腎之母，木之夫，酒下咽膈，肺先受之，若是醇者，理宜冷飲，過於肺入於胃，然後漸溫，肺先得溫，中之寒可以補氣，一益也。次得寒中之溫，可以養胃，二益也，冷酒行遲，傳化以漸，不可恣飲，三益也。古人終日百拜，不過三爵，既無酒病，亦免酒禍，今余稽之於禮，經則曰：飲齊視冬時飲其酒也。視，猶比也，冬時，寒也。參之內經則曰：熱因寒用，厥旨深矣。今則不然，不顧受傷，只圖取快，蓋熱飲有三樂存焉，膈滯通快，喉舌辛美，蓋行可多，不知酒性喜升，氣必隨之，痰鬱於上，溺澀於下，肺受賊邪，金體必燥，恣飲寒涼，其熱內鬱，肺氣得熱，必大傷耗，其始也病淺，或嘔吐，或自汗，或瘡痍，或鼻查，或自泄，或心脾痛，尚可發散而去之，若其久也，為病深矣。為消，為渴，為內疸，為肺痿，為內痔，為鼓脹，為失明或喘哮，為勞嗽，為癲癇，亦為難明之病，倘非具眼，未易處治，可不謹乎。或曰：人言一盞冷酒，須二盞血乃得。行酒不可冷飲明矣。余曰：此齊東之語耳，今參之於經，證之以理，發之為規，戒子以為迂耶。</p>
<h3>癰疽當分經絡論。</h3>
<p>六陽經六陰經之分布周身，有多氣少血者，有少氣多血者，有多氣多血者，不可一概論也，若夫要害處，近虛怯薄處，前哲已曾論及，惟分經之言未聞也，何則？諸經惟少陽厥陰經之生癰疽，理宜預防，以其多氣少血，其血本少，肌肉難長，瘡久未合，必成死證，其有不思本經少血，遽用驅毒利藥，以伐其陰分之血，禍不旋踵矣。請述一二成敗之跡，以告來者，余從叔父，平生多慮，質弱神勞，年近五十，忽左膊外側廉上，起一小紅腫，大約如栗，予視之曰：慎勿輕視，且生與人參大料作湯，得二三斤為好，人未之信，謾進小帖，數服未解而止，旬餘，值大風拔木，瘡上起一道紅如線，繞至背胛，直抵右肋，予曰：必大料人參，少加當歸，川芎，陳皮，白朮等補劑與之，後與此方兩月而安。又東陽李兄，年踰三十，形瘦膚厚，連得憂患，又因作勞，且過於色，忽左腿外側廉上一紅腫，其大如栗，一醫問其大腑堅實，與承氣兩帖下之，不效，又一醫教與大黃硃，生粉草，麒麟竭，又二三帖，半月後召予視之，曰：事去矣。又一李兄，年四十餘而面稍白，神甚勞，忽脇下生一紅腫如桃，一人教用神劑，眾笑且排於是，流氣飲，十宣散，雜而進之，旬餘，召予視之。予曰：非惟不與補藥，抑且多得解利，血氣俱憊矣。巳而果然，或曰：太陽經非多血少氣者乎，何臀癰之生，初無甚苦，往往間有不救者，吾子其能治之乎？予曰：臀居小腹之後，而又在其下，此陰中之陰也。其道遠，其位僻，雖曰多血，氣運不到，氣既不到，血亦罕來，中年之後，不可生癰，纔有痛腫，參之脈證，但見虛弱，便與滋補，血氣無虧，可保終吉，若用尋常驅熱拔毒紓氣之藥，虛虛之禍，如指諸掌。</p>
<h3>脾約丸論。</h3>
<p>成無巳曰：約者，結約之約。胃強脾弱，約束津液，不得四布，但輸膀胱，故小便數而大便硬，故曰脾約，與此丸，以下脾之結，燥腸潤結，化津流入胃，大便利，小便少而愈矣。愚切有疑焉，何者？既曰約，脾弱不能運也，脾弱則土虧矣，必脾氣之散，脾血之耗也。原其所由，久病大下，大汗之後，陰血枯槁，內火燔灼，熱傷元氣，又傷於脾而成此證，傷元氣者，肺金受火氣無所攝傷，脾者，肺為脾之子，肺耗則液竭，必竊母氣以自救，金耗則木寡於畏，土欲不傷，不可得也。脾失轉輸之令，肺失傳送之官，宜大便秘而難下，小便數而無藏蓄也。理宜滋養陰血，使孤陽之火不熾，而金行清化，木邪有制，脾土清健而運行，精液乃能入胃，則腸潤而通矣。今以大黃為君，枳實厚朴為臣，雖有芍藥之養血，麻仁杏仁之溫潤為之佐，使用之熱甚而氣實者，無有不安，愚恐西北二方，地氣高厚，人稟壯實者可用，若用於東南之人，與熱雖盛而血氣不實者，雖得暫通，將見脾愈弱而腸愈燥矣。後之欲用此方者，須知在西北以開結為主，在東南以潤燥為主，慎勿膠柱而調瑟。</p>
<h3>鼓脹論</h3>
<p>心肺，陽也，居上，肝腎，陰也，居下。脾居中，亦陰也，屬土。經曰：飲食入胃，游溢精氣，上輸於脾，脾氣散精，上歸於肺，通調水道，下輸膀胱，水精四布，五經並行，是脾具坤靜之德，而有乾健之運，故能使心肺之陽降，腎肝之陰升，而成天地交之泰，是為無病之人，今也，七情內傷，六淫外侵，飲食不節，房勞致虛，脾土之陰受傷，轉輸之官失職，胃雖受穀不能運化，故陽自升，陰自降，而成天地不交之否，於斯時也，清濁相混，隨道壅塞，氣化濁血，瘀鬱而為熱，熱留而久，氣化成濕，濕熱相生脹滿，經曰：鼓脹是也。以其外雖堅滿。中空無物。有侶於鼓，其病膠固，難以治療，又名曰蠱，若蟲侵蝕，有蠱之義，驗之治法，理宜補脾，又須養肺金以制木，使脾無賊邪之慮，滋腎水以制火，使肺得清化之令，卻鹽味以防助邪，斷妄想以保母氣，無有不安，醫不察病起於虛，急於作效，衒能希賞，病者苦於脹急，喜行利藥以求一時之快，不知寬得一日半日，其腫愈甚，病邪甚矣。真氣傷矣。去死不遠，古方惟禹餘糧丸，又名石中黃丸，又名紫金丸，制肝補脾，殊曰切當，亦須隨證，亦須順時加減用之，余友俞仁叔，儒而醫，連得家難，年五十得此疾，自制禹餘糧丸服之，予診其脈，弦濇而數緊，此丸新製，煆之火邪尚存，溫熱之藥太多，宜自加減，不可執方，俞咲曰：今人不及古人，此方不可加減，服之一月，口鼻見血色，骨立而死。又楊兄年近五十，性嗜好酒，病瘧半年，患脹病，自察必死，來求治，診其脈弦而濇重，則大瘧未愈，手足瘦而腹大如蜘蛛狀，予教以參朮為君，當歸川芎芍藥為臣，黃連陳皮茯苓厚朴為佐，生甘草些少，作濃湯飲之，一日定三次，彼亦嚴守戒忌，一月後瘧因汗而愈，又半年小便長而脹愈，中間稍有加減，大意只是補氣行濕。又陳氏年四十餘，性嗜酒，大便時見血，於春間患脹，色黑而腹大，其形如鬼，診其脈數而濇重似弱，予以四物湯，加黃連，黃芩，木通，白朮，陳皮，厚朴，生甘草作湯與之，近一年而安，一補氣，一補血，餘藥大率相出入皆獲安，以保天壽，或曰氣無補法，何子補氣而獲安，果有說以通之乎，予曰：氣無補法，世俗之言也，以氣之為病，痞悶壅塞，以難於補，恐增病勢，不思正氣虛者，不能運行邪滯，所著而不出，所以為病，經曰：壯者氣行則愈，怯者著而成病。苟或氣怯不用補法，氣何由行。或曰：子之藥審則審矣，何效之遲也？病者久在床枕，必將厭子之迂而求速效者矣。予曰：此病之起，或三五年，或十餘年，根深矣，勢篤矣，欲求速效，自求禍耳，知王道者，能治此病也。或曰：脹病將終，不可與利藥耶。予曰：灼知其不因於虛，受病亦淺，脾胃尚壯，積滯不痼，而又有可下之證，亦宜略與疏導，若授張子和濬川散，禹功丸，為例，行迅攻之策，實所不敢。</p>
<h3>疝氣論。</h3>
<p>疝氣之甚者，睪丸連小腹急痛也，有痛在睪丸者，有痛在五樞穴邊者，皆足厥陰之經也，或有形，或無形，或有聲，或無聲，有形無爪，有聲如蛙，自素問以下，歷代名醫皆以為寒，蓋寒主收引，經絡得寒，故引不行，所以作痛，理固然也。有得寒而無疝者，又必有說以通之可也，予嘗屢因門戶雪上有霜，沒臍之水，踼冰徒涉，不曾病此，以予素無熱在內也，因而思之，此證始於濕熱在經，鬱而至久，又得寒氣外束，濕熱之邪不得疏散，所以作痛，若只作寒論，恐為未備，或曰厥陰一經，其道遠，其位卑，鬱積濕熱，何由而致，予曰：大勞則火起於筋，醉飽則火起於胃，房勞則火起於腎，大怒則火起於肝，本經火積之久，母能生子虛，濕氣便盛，厥陰屬木，係於肝，為將軍之官，其性急速，火性且又暴，為寒所束，宜其痛之大暴也，愚見有用烏頭梔子等分，作湯用之，其效亦敏，後因此方隨證與形加減用之，無有不應，然濕熱又須分多少而始治，但濕者腫多，㿗病是也，又有挾虛而發者，當以參為用，而以疏導藥佐之，診其脈有甚沉緊，而大豁無力者是也，其痛亦輕，惟覺重墜牽引耳。</p>
<h3>秦桂丸論</h3>
<p>無子之因，多起於婦人，醫者不求其因起於何處，遍閱古方，惟秦桂丸，其辭確，其意專，用藥溫熱，近乎人情，欣然授之，銳然服之，甘受燔灼之禍，猶且懵然不悔，何者陽精之施也，陰血能攝之，精成其子，血成其胞，胎孕乃成，今婦人之無子者，率由血少不足以攝精也，血之少也，固非一端，然欲得子者，必須補其陰血，使無虧欠，乃可推其有餘，以成胎孕，何乃輕用熱劑煎熬，臟腑血氣沸騰，禍不旋踵矣。或曰春氣溫和則萬物發生，冬氣寒凜則萬物消殞，非秦桂丸之溫熱，何由得子臟溫暖而成胎耶。予曰：詩言婦人和平則樂有子，和則氣血不乖，平則陰陽不爭，今得此藥，經血轉紫黑，漸成衰少，或先或後，始則飲食驟進，久則口苦而乾，陰陽不平，血氣不和，疾病蜂起，焉能成胎，縱使成胎，生子亦多病而不壽，以秦桂丸之能耗損天真之陰也，戒之慎之，鄭廉使之子年十六，求醫曰：我生七箇月，患淋病，五日七日必一發，其發也大痛，捫地叫天，水道方行，狀如漆和粟者，約一盞許，然後定診其脈，輕則濇，重則弦，視其形瘦而稍長，其色青而蒼，意其父必因多服下部藥，遺熱在胎，留於子之命門而然，遂以紫雪和黃柏，細末丸，梧子大，晒十分乾，而與二百丸作一服，率以熱湯下，以食物壓之，又經半日，痛大作，連腰腹，水道乃行，下如漆和粟者一大碗許，其病減十分之八，後張子忠以陳皮一兩，桔梗木通各半兩，作一帖與之，又下漆粟者一合許，遂安，父得燥熱，且能病子，況母得之者乎，余書此以證東垣紅絲瘤之事。</p>
<h3>惡寒非寒病惡熱非熱病論。</h3>
<p>經曰：惡寒戰慄皆屬於熱。又曰：禁慄如喪神守皆屬於火。惡寒者，雖當炎月，若遇風霜，重綿在身，自覺凜凜，戰慄禁慄，動搖之貌，如喪神守，惡寒之甚。原病式曰：病熱甚而反覺自冷，此為病熱，實非寒也，或曰：往往見有得熱藥而少愈者，何也？予曰：病熱之人，其氣炎上，鬱為痰飲，抑遏清道，陰氣不升，病熱尤甚，積痰得熱，亦為暫退，熱勢助邪，其病益深，或曰：寒熱如此，誰敢以寒涼與之，非殺之而何。予曰：古人遇戰慄之證，有以大承氣下燥糞而愈者。惡寒戰慄明是熱證，但有虛實之分耳。經曰：陰虛則發熱，夫陽在外為陰之衛，陰在內為陽之守，精神外馳，嗜慾無節，陰氣耗散，陽無所附，遂致浮散於肌表之間，而惡熱也。實非有熱當作陰虛治之，而用補養之法可也，或曰：惡寒非寒，宜用寒藥。惡寒非熱，宜用補藥。甚駭耳目，明示我之法可乎。予曰：進士周本道，年踰三十，得惡寒病，服附子數日而病甚，求予治，診其脈弦而佀緩，予以江茶入薑汁，香油些少，吐痰一升許，減綿大半，周甚喜。予曰：未也，燥熱巳多，血傷亦深，須淡食以養胃，內觀以養神，則水可生，而火可降，彼勇於仕進，一切務外，不守禁忌。予曰：若多與補血，涼熱亦可稍安，內外不靜，腎水不生，附毒必發，病安後，官於婺城，巡夜胃寒，非附子不可療，而性怕生薑，只得以豬腰子作片，煮附子與三帖而安。予曰：可急歸，知其附毒易發，彼以為迁，半年後果發背而死。又司丞叔，平生腳自踝以下常覺熱，冬不可加綿於上，常自言曰：我稟質壯，不怕冷。予曰：此足三陰之虛，宜早斷欲事，以補養陰血，庶乎可免。笑而不答。年方五十，患痿半年而死。觀此二人，治法蓋可知矣，或曰傷寒病，惡寒惡熱者，亦是虛耶。予曰：若病傷寒者，自外入內，先賢論之詳矣。</p>
<h3>經水或紫或黑論。</h3>
<p>經水者，陰血也，陰必從陽，故其色紅，稟火色也。血為氣之配，氣熱則熱，氣寒則寒，氣升則升，氣降則降，氣凝則凝，氣滯則滯，氣清則清，氣濁則濁，往往見有成塊者，氣之凝也。將行而痛者，氣之滯也。來後作痛者，氣血俱虛也。色淡者亦虛也，錯經妄行者，氣之亂也，紫者氣之熱也，黑者熱之甚也，人但見其紫者黑者。作痛成塊者，率指為風冷，而行溫熱之劑，禍不旋踵矣。良田病源論，月水諸病，皆曰風冷乘之，宜其相習而成俗也，或曰黑北方水之色也，紫淡於黑，非冷而何，予曰：經曰：亢則害，承乃制。熱甚者必兼水化，所熱則紫甚則黑也。況婦人性執而見鄙，嗜欲加倍，臟腑厥陽之火，無日不起，非熱而何，若夫風冷必須外得，設或有之，蓋千百而一二者也。</p>
<h3>石膏論。</h3>
<p>本草藥之命名，固有不可曉者，中間亦多有意義。學者不可以不察，以色而名者，大黃，紅花，白前，青黛，烏梅之類是也。以形而名者，人參，狗脊，烏頭，貝母，金鈴子之類是也。以氣而名者，木香，沉香，檀香，麝香，茴香之類是也。以質而名者，厚朴，乾薑，茯苓，生熟地黃之類是也。味而名者，甘草，苦參，淡竹葉，龍膽草，苦酒之類是也。以能而名者，百合，當歸，升麻，防風，滑石之類是也。以時而名者，半夏，茵陳，冬葵，寅雞，夏枯草之類是也。以石膏火煆細研，醋調封丹，爐其固密甚於脂。苟非有膏，焉能為用，此兼質與能而得名，正與石脂同意。閻孝忠妄以方解石為石膏，況石膏其味甘而辛，本陽明經藥，陽明主肌肉，其甘也能緩脾益氣，止渴去火，其辛也能解肌出汗，上行至頭，又入手太陰手少陽，彼方解石者，止有體重質堅性寒而巳，求其所謂有膏而可為三經之主治者焉在哉？醫欲責效，不亦難乎。</p>
<h3>脈大必病進論。</h3>
<p>脈血之所為屬陰，大，洪之別名，火之象屬陽，其病得之於內傷者，陰虛為陽所乘，故脈大當作虛治之，其病得之於外傷者，邪客於經脈亦大，當作邪勝治之。合二者而觀之，皆病證方長之勢也，謂之病進，不亦宜乎，海藏云：君侵臣之事也。孰為是否，幸有以教之。</p>
<h3>生氣通天論病因章句辯。</h3>
<p>禮記曰：一年視離經。謂離析經理，在乎章句之絕，內經生氣通天論，病因四章，第一章，論因於寒，欲如運樞，以下三句與上文意不相屬，皆衍文也。體若燔炭，汗出而散，兩句當移在此，夫寒邪初客於肌表，邪鬱而為熱，有似燔炭，得汗則解，此仲景麻黃湯之類是也，第二章，論因於暑，暑者，君火為病，火主動則散，故自汗煩渴而多言也。第三章，論因於濕，濕者，土濁之氣，首為諸陽之會，其位高而氣清，其體虛。故聰明得而係焉，濁氣熏蒸，清道不通，沉重而不爽利，似乎有物，以蒙冒之失而不治，濕鬱為熱，熱留不去，大筋軟短者，熱傷血不能養筋，故為拘攣，小筋弛長者，濕傷筋不能束骨，故為痿弱，因於濕，首如裹。各三字為句，濕熱不攘以下各四字為句，文正而意明，第四章，論因於氣，為腫，下文不序病證，蓋是脫簡，四維相代二句，與上文意不相屬，亦衍文也。王太僕曰：暑熱濕氣三病，皆以為發於傷寒之毒，次第相仍，輾轉生病，五叚通為一章，余有疑焉，暑病不治，伏而生熱，熱久生濕，濕久氣病，蓋有之矣。內經止有冬傷於寒不即病，至夏有熱病之言，未聞寒毒伏藏，至夏發於暑病，至於濕病，亦蒙上文之熱，謂反濕其首，望濕物裹之，望除其熱，當以因於濕，首為句，如裹濕又為句，則濕首之濕，裹濕之濕，皆人為也，與上下文列言寒暑之病，因文義舛乖，不容於不辯，或曰先賢言溫濕寒濕風濕矣。未聞有所謂濕熱病者攻之。內經亦無有焉，吾子乃無失之迂妄耶。予曰：六氣之中，濕熱為病，十居八九，內經發明濕熱，此為首出，至真大要論曰：濕上甚而熱。其間或言濕而熱在中者，或曰熱而濕在中者，此聖人愛人，論道之極致，使天下後世不知濕熱之治法者。太僕啟之也。君其歸取原病式，熟讀而審思之，幸甚。</p>
<h3>太僕章句。</h3>
<p>因於寒，欲如運樞，起居如驚，神氣乃浮。</p>
<p>因於暑，汗煩則喘喝，靜則多言，體若燔炭，汗出而散。</p>
<p>因於濕首（句），如裹濕（句），熱不攘（句），大筋軟短，小筋弛長，緛短為拘，弛長為痿。</p>
<p>因於氣為腫（云云）。</p>
<h3>新定章句。</h3>
<p>因於寒，體若燔炭，汗出而散。</p>
<p>因於暑，汗煩喘喝，靜則多言。</p>
<p>因於濕（句），首如裹（句），濕熱不攘（句），大筋緛短，小筋弛長，緛短為拘，弛長為痿。</p>
<p>因於氣為腫（云云）。</p>
<h3>倒倉論。</h3>
<p>經曰：腸胃為巿，以其無物不有，而穀為最多，故謂之倉，若積穀之室也。倒者，傾去積舊而滌濯，使之潔淨也。胃居中屬土，喜容受而不能自運者也，人之飲食，過適口之物，寧無過量而傷積之乎，七情之偏，五味之後，寧無傷於沖和之德乎。糟粕之餘，停痰瘀血互相糾纏，日積月深，鬱結成聚，甚者如核桃之穰，諸般奇形之蟲，中宮不清矣。土德不和矣。誠於中，形於外，發為難瘓，為勞瘵，為蠱脹，為癩疾，為無名奇病，先哲製為萬病丸，溫白丸等劑，攻補兼施，寒熱並用，期中病情，非不工巧，然不若倒倉之為便捷也。以黃牡牛擇肥者，買一二十斤，長流水煮麋爛，融入湯中為液，以布濾，由滓取淨汁，再入鍋中，文火熬成琥珀色，則成矣。每飲一鍾，少時又飲，如此者，積數十鍾，寒月則重湯，溫而飲之。病在上者，欲其吐多，病在下者，欲其利多，病在中者，欲其吐下俱多，全在活法而為之緩急多寡也，須先置一室，明快而不通風者，以安病人。視所出之物可盡，病根則止，吐利後，或渴，不得與湯，其小便必長，取以飲病者，名曰輪迴酒，與一二碗，非惟可以止渴，抑且可以滌濯餘垢，睡一二日，覺飢甚乃與粥淡食之，待三日後，始與少菜羹，自養半月，覺精神渙發，形體輕健，沉痾悉安矣。甚後須五年忌牛肉。吾師許文懿，始病心痛，用藥燥熱香辛，如丁附桂薑輩，治數十年而足攣痛甚，且惡寒而多嘔，甚而至於靈砂黑鍚黃芽歲丹，繼之以艾火十餘萬，又雜治數年而痛甚，自分為癈人矣。眾工亦技窮矣。如此者又數年，因其煩渴惡食者一月，以通聖散與半月餘，而大腑逼迫後重，肛門熱氣如燒，始時下積滯如五色爛錦者，如柏燭油凝者，近半月而病似退，又半月而略思穀，而兩足難移，計無所出，至次年三月，遂作此法，節節如應，因得為全人，次年再得一男，又十四年以壽終其餘。與藥一婦人，久年腳氣吐利而安，又鎮海萬戶蕭伯善公，以便濁而精不禁，親與試之有效。又臨海林兄，患久嗽吐紅，發熱消瘦，眾以為瘵，百方不應，召予視之，脈兩手弦數，日輕夜重，計無所出，亦因此而安，時冬月也。第二年得一子。牛，坤土也，黃，土之色也，以順為德而效法乎，健以為功者，牡之用也，肉者，胃之樂也，熟而為液無形之物也，橫散入肉絡，由腸胃而滲透肌膚，毛竅爪甲無不入也，積聚久則形質成依附，腸胃回薄曲折處，以為栖泊之窠臼，阻礙津液氣血，薰蒸燔灼成病，自非剖腸刮骨之神妙，熟能去之，又豈合勾銖兩之丸散，所能竅犯其藩墻戶牖乎，竊詳肉液之散，溢腸胃受之，其厚皆倍於前，有似乎腫，其回薄曲折處，非復向時之舊，肉液充滿流行，有如洪水泛漲，其浮茌陳朽，皆推逐蕩漾，順流而下，不可停留。表者因吐而汗，清道者自吐而涌，濁道者自泄而去，凡屬滯礙，一洗而定。牛肉全重厚和順之性，盎然渙然，潤澤枯槁，補益虛損，寧無精神渙發之樂乎，正似武王克商之後，散財發粟以賬殷民之仰望也，其方出於西域之異人，人於中年後，亦行一二次，亦卻疾養壽之一助也。</p>
<h3>相火論。</h3>
<p>太極動而生陽，靜而生陰，陽動而變陰，靜而合而生。水火木金土各一，其性惟火有二，曰：君火，人火也。曰：相火，天火也。火內陰而外陽，主乎動者也，故凡動皆屬火，以名而言，形氣相生，配於五行，故謂之君，以位而言，生於虛無，守位稟命，因其動而可見，故謂之相，天主生物，故恒於動，人有此生，亦恒於動，其所以恒於動，皆相火之為也。見於天者，出於龍雷則木之氣，出於海則水之氣也，具於人者，寄於肝腎二部，肝屬木而腎屬水也。膽者，肝之腑。膀胱者，腎之腑。心胞絡者，腎之配三焦，以焦言而下焦司肝腎之分，皆陰下者也，天非此火不能生物，人非此火不能有生，天之火雖出於木，而皆本乎地，故雷非伏龍，非蟄海，非附於地，則不能鳴不能飛不能波也，鳴也飛也波也動而為火者也。肝腎之陰悉具相火，人而同乎天也，或曰：相火天人之所同。何東垣以為元氣之賊，又曰：火與元氣不兩立，一勝則一負，然則如之何而可以使之無勝負也。曰：周子曰：神發知矣。五性感物而萬事出，有知之後，五者之性為物所感，不能不動，謂之動者，即內經五火也。相火易起五性，厥陽之火相扇，則妄動矣。火起於妄，變化莫測，無時不有，煎熬真陰，陰虛則病，陰絕則死，君火之氣，經以暑與濕言之，相火之氣，經以火言之，蓋表其暴悍酷烈有甚於君火者也。故曰：相火，元氣之賊。周子又曰：聖人定之以中正仁義而主靜。朱子曰：必使道心常為一身之主，而人心每聽命焉。此善處乎火者，人心聽命乎道心，而又能主之以靜，彼五火之動皆中節，相火惟有裨補造化，以為生生不息之運用耳，何賊之有，或曰：內經相火注曰：少陰少陽矣。未嘗言及厥陰太陽，而吾子言之何邪。曰：足太陽少陰東垣嘗言之矣。治以炒蘗，取其味辛，能瀉水中之火是也。戴人亦言：膽與三焦，尋火治肝和胞絡，都無異此。歷指龍雷之火也，予亦備述天人之火，皆生於動，如上文所云者，實推廣二公之意。或曰：內經言火不一，往往於六氣見之，言臟腑者未之見也。二公豈它有所㨿耶，子龍為我言之乎。經曰：百病皆生於風寒暑濕燥火之動而為變者。岐伯歷舉病機一十九條，而屬火者五，此非相火之為病之出於臟腑者乎。攷諸內經，少陽病為瘛瘲，太陽病時昡仆，少陰病瞀暴瘖，鬱冒不知人，非諸熱瞀瘛之屬火乎，少陽病，惡寒鼓慄，膽病振寒。少陰病，洒淅惡寒，振慄。厥陰病，洒淅振寒，非諸禁鼓慄，如喪神守之屬火乎，少陽病，嘔逆，厥氣上行。膀胱病，衝頭痛，太陽病，厥氣上衝胸，小腹控睪，引腰脊上衝心。少陰痛，氣上衝胸，嘔逆。非諸逆衝上之屬火乎，少陽病，讝妄。太陽病，讝妄。膀胱病，狂顛，非諸躁狂越之屬火乎。少陽病，胕腫善驚。少陰病，瞀熱以酸，胕腫不能久立，非諸病胕腫疼酸驚駭之屬乎。又原病式文曰：諸風掉眩，屬於肝火之動也。諸氣膹鬱，病痿，屬於肝火之升也。諸濕腫滿，屬於脾火之勝也。諸痛痒瘡瘍，屬於心火之用也。是皆火之為病，出於臟腑者然也，注文未之發耳，以陳無擇之通敏，且以暖熾論君火日用之火，言相火而又不曾深及，宜乎後之人不無聾瞽也，悲夫。</p>
<h3>左大順男右大順女論。</h3>
<p>肺主氣，其脈居右寸，脾胃命門三焦，各以氣為變化運用，故皆附焉。心主血，其脈居左寸，肝膽腎膀胱，皆精血之隧道筦庫，故亦附焉。男以氣成胎，則氣為之主，女挾血成胎，則血為之主。男子久病，右脈充於左者，有胃氣也，病雖重可治。女子久病，左脈充於右者，有胃氣也，病雖重可治，反此者虛之甚也，或曰：左心小腸肝膽腎膀胱右，肺大腸脾胃命門三焦，男女所同，不易之位也。脈法贊曰：左大順男，右大順女，吾子之言，非惟左右，例置似以大為充，果有說以通之乎？曰：大，本病脈也。今以大為順，蓋有充足之義，故敢以充言之。脈經一部，諄諄於教，為醫者爾。此左右當以醫者為言，若主於病，奚止於千里之謬。或曰：上文言肝心出左，脾肺出右，左主司官，右主司府，下文言左為人迎，右為氣口，皆以病人之左右而為言，何若是之相反耶。曰：脈經第九篇之第五章，上文大浮數動長滑沉濇弱弦短微，此言形狀之陰陽，下文關前關後等語，又言部位之陰陽，陰附陽，陽附陰，皆言血氣之陰陽，同為論脈之陰陽，而所指不同若此，上下異文，何足疑乎，讚曰：陰病治官非治血乎，陽病治胕非治氣乎，由此參考，或恐於經意有合。</p>
<h3>茹淡論。</h3>
<p>或曰：內經謂精不足者，補之以味。又曰：地食人以五味。古者年五十食肉，子今年邁七十矣。盡卻鹽醯，豈中道乎？何子之神茂而色澤也。曰：味有出於天賦者，有成於人為者，天之所賦者，若穀菽菜果，自然沖和之味，有食人補陰之功，此內經所謂味也。人之所謂者，皆烹飪調和，偏厚之味，有致疾伐命之毒，此吾子所疑之味也。今鹽醯之卻，非真茹淡者。大麥與栗之鹹，粳米山藥之甘，蔥薤之辛，之類皆味也。子以為淡乎，安於沖和之味者，心之收，火之降也。以偏厚之味為安者，欲之縱火之勝也，何疑之有，內經又曰：陰之所生，本在五味，非天賦之味乎。陰之五官，傷在五味，非人為之味乎，聖人防民之具於是，為備凡人飢則必食，彼粳米甘而淡者，土之德也，物之屬陰而最補者也。惟可與菜同進，經以菜為充者，恐於飢時頓食，或慮過多，因致胃損，故以菜助其充足，取其疏通而易化，此天地生物之仁也。論語曰：肉雖多，不使勝食。氣傳曰：賓主終日百拜，而酒三行以避酒禍。此聖人施教之意也。蓋穀與肥鮮同進，厚味得穀為助，其積之也久，寧不助陰火而致毒乎，故服食家在卻穀者，則可不卻穀而服食，未有不被其毒者。內經謂久而增氣，物化之常，氣增而久夭之由也。彼安於厚味者，未之思爾，或又問精不足者，補之以味，何不言氣補，曰味陰也，氣陽也，補精以陰，求其本也。故補之以味，若甘草，白朮，地黃，澤瀉，五味子，天門冬之類皆味之厚者也，經曰：虛者補之。正此意也。上文謂形不足者溫之以氣，夫為勞倦所傷，氣之虛，故不足。溫者，養也。溫存以養。使氣自充，氣完則形完矣。故言溫不言補，經曰：勞者溫之。正此意也。彼為局方者不知出此。凡諸虛損證，悉以溫熱佐輔補藥，名之曰溫補，不能求經旨者也。</p>
<h3>吃逆論。</h3>
<p>吃病，氣逆也。氣自臍下，直衝上出於口，而作聲之名也。書曰：火炎上。內經曰：諸逆衝上，皆屬於火。東垣謂火與元氣不兩立，又謂火，氣之賊也。古方悉以胃弱言之，而不及火，且以丁香，柿蒂，竹茹，陳皮等劑治之，未審孰為降火，孰為補虛，人之陰氣，依胃為養，胃土傷損，則木氣侮之矣。此土敗木賊也，陰為火所乘，不得內守，木挾相火乘之，故直衝清道而上，言胃弱者，陰弱也。虛之甚也，病人見此似為死證，然亦有實者，不可不知，敢陳其說。趙立道年近五十，質弱而多怒，七月炎暑，大飢索飯，其家不能急具，因大怒，兩日後得滯下病，口渴，自以冷水調生蜜飲之甚快，滯下亦漸緩，如此者五七日，召予視，脈稍大不數，遂令止蜜水，渴時但令以人參白朮煎湯，調益元散與之，滯下亦漸收，七八日後，覺倦甚發吃，予知其因，下久而陰虛也。令其守前藥，然滯下尚未止，又以煉蜜飲之，如此者三日，吃猶未止，眾皆尤藥之未當，將以薑附飲之。予曰：補藥無速效，附子非補陰者，服之必死，眾曰：冷水飯多得無寒乎？予曰：炎暑如此飲涼非寒，勿多疑，待以日數，力到當自止。又四日而吃止，滯下亦安。又陳擇仁，年近七十，厚味之人也。有久喘病，而作止不常，新秋患滯下，食大減，至五七日後吃作。召予視，脈皆大豁，眾以為難。予曰：形瘦者，尚可為。以人參白朮湯下大補丸，以補血。至七日而安，此二人者，虛之為也。又一女子，年踰笄，性躁，味厚，暑月因大怒而吃作，每作則舉身跳動，神昏不知人，問之，乃知暴病，視其形氣俱實，遂以人參蘆煎湯飲一碗，大吐頑痰數碗，大汗昏睡一日而安。人參入手太陰，補陽中之陰者也，蘆則反爾，大瀉太陰之陽，女子暴怒，氣上肝，主怒。肺主氣，經曰：怒則氣逆，氣因怒逆，肝木乘火侮肺，故吃大作而神昏，參蘆喜吐，痰盡氣降而火衰，金氣復位，胃氣得和而解，麻黃發汗，節能止汗，穀屬金，糠之性熱，麥屬陽，麩之性涼，先儒謂，物物具太極，學者其可不觸類而長引而伸之乎。</p>
<h3>房中補益論</h3>
<p>或問千金方有房中補益法，可用否？予應之曰：傳曰：吉凶悔吝，生乎動。故人之疾病，亦生於動，其動之極也，病而死矣。人之有生，心為火居上，腎為水居下，水能升，而火能降，一升一降，無有窮巳，故生意存焉，水之體靜，火之體動，動易而靜難，聖人於此未嘗忘言也，儒者立教曰：正心，收心，養心，皆所以防此火之動於妄也。醫者立教，恬澹虛無，精神內守，亦所以遏此火之動於妄也。蓋相火藏於肝腎陰分，君火不妄動，相火惟有稟命守位而已，焉有燔灼之虐燄，飛走之狂勢也哉。易兌取象於少女，兌，說也。遇少男。艮為咸，咸無心之感也，艮，止也。房中之法，有艮止之義焉。若艮而不止，徒有戕賊，何補益之有，竊詳千金之意，彼壯年貪縱者，水之體，非向日之靜也。故著房中之法為補益之助，此可用於質壯心靜，遇敵不動之人也。苟無聖賢之心，神仙之骨，未易為也。女法水，男法火，水能制火，一樂於與一樂於，取此自然之理也。若以房中為補，殺人多矣。況中古以下，風俗日偷，資稟日薄，說夢向癡，難矣哉。</p>
<h3>天氣屬金說。</h3>
<p>邵子曰：天依地，地依天，天地自相依附，內經曰：大氣舉之也。夫自清濁肇分，天以氣運於外而攝水，地以形居中而浮水者也，是氣也，即天之謂也。自其無極者觀之。故曰：大氣至清至剛至健，屬乎金者也。非至剛不能攝此水，非至健不能運行無息，以舉地之重，非至清其剛健不能長，上古而不老。或曰：子以天氣為屬金者，固易卦取象之義，何至遂以屬金言之乎。善言天者，必有證於人，善言大者，必有譬於小，願明以告我。曰：天生萬物，人為貴，人形象天，可以取譬，肺主氣，外應皮毛，內經謂陽為外衛，非皮毛乎？此天之象也。其包裹骨肉腑臟於其中，此地之象也。血行於皮裏肉腠，晝夜周流無端，此水之象也，合三者而觀，非水浮地，天攝水，地懸於中乎。聖人作易，取金為氣之象，厥有旨哉。</p>
<h3>張子和攻擊注論</h3>
<p>愚閱張子和書，惟務攻擊，其意以為正氣不能自病，因為邪所客，所以為病也。邪去正氣自安，因病有在上，在中，在下，深淺之不同，立為汗吐下三法以攻之，初看其書，將謂醫之法盡於是矣。後因思內經有謂之虛者，精氣虛也。謂之實者，邪氣實也。夫邪所客，必因正氣之虛，然後邪得而客之，苟正氣實，邪無自入之理。由是於子和之法，不能不致疑於其間，又思內經有言，陰平陽秘，精神乃治。陰陽離決，精氣乃絕。又思仲景有言，病當汗解，診其尺脈濇，當與黃耆建中湯補之，然後汗之。於是以子和之書，非子和之筆也，馳名中土，其法必有過於朋輩者，何其書之所言，與內經仲景之意，若是之不同也。於是決意於得名師以為之依歸，發其茅塞，遂遊江湖，但聞某處有某名醫，便往拜而問之，連經數郡，無一人焉。後到定城，始得原病式東垣方稿，乃大悟子和之孟浪然，終未得的，然之議論，將謂江浙間無可為師者，泰定乙丑夏，始得聞羅太無并陳芝岩之言，遂住拜之，蒙叱罵者五七次，趑趄三閱月，始得降接，因觀羅先生治一病僧，黃瘦倦怠，羅公診其病，因乃蜀人出家，時其母在堂，及遊浙，右經七年，忽一日，念母之心不可遏，欲歸無腰纏，徒爾朝夕西望而泣，以是得病，時僧二十五歲，羅令其隔壁泊宿，每日以牛肉豬肚甘肥等，煮糜爛與之，凡經半月餘，且時以熨喻之言勞之。又曰：我與鈔十錠，作路費，我不望報，但欲救汝之死命爾。察其形稍甦，與桃仁承氣，一日三帖下之，皆是血塊痰積方止。次日只與熟菜稀粥將息，又半月，其人遂如故，又半月餘，與鈔十錠遂行，因大悟，攻擊之法，必其人充實，稟質本壯，乃可行也。否則邪去而正氣傷，小病必重，重病必死。羅每日有求醫者，來必令其診視脈狀，回稟羅，但臥聽口授，用某藥治某病，以某藥監某藥，以某藥為引經，往來一年半，並無一定之方，至於一方之中，自有攻補兼用者，亦有先攻後補者，有先補後攻者，又大悟，古方治今病，焉能吻合，隨時取中，其此之謂乎。是時羅又言，用古方治今病，正如拆舊屋揍新屋，其材木非一，不再經匠氏之手，其可用乎，由是又思許學士釋微論曰：予讀仲景書，用仲景之法，然未嘗守仲景之方，乃為得仲景之心也。遂取東垣方稿，手自抄錄，乃悟治病人，當如漢高祖蹤秦暴，周武王蹤商之後，自非發財散粟，與三章之法，其受傷之氣，惓憊之人，何由而平復也，於是定為，陰易乏，陽易亢，攻擊宜詳審，正氣須保護，以局方為戒哉。</p>
<p>終。</p>
