<header><h1>幼科折衷</h1></header>
<dl class="元資料" data-type="book">
<div><dt>作者</dt><dd>秦景明</dd></div>
<div><dt>朝代</dt><dd>明</dd></div>
<div><dt>年份</dt><dd><data value="1368/1644">公元1368年至公元1644年</data></dd></div>
</dl>
<h2>凡例</h2>
<p>一是編之作，因幼科諸書，非偏寒偏熱之誤，便喜補喜瀉之殊，予故僭而折衷之，因命曰《幼科折衷》。</p>
<p>一凡諸病總論，皆采《內經》要旨以為提綱，繼之以歷代名醫可法之語，間或附以己意成篇，亦從本來，非臆說也。</p>
<p>一每論之首，錄舊人總括四句，使後學臨症時，便識其概，其向缺者予自補之。詞雖鄙俚，但便誦習耳。</p>
<p>一論首脈法，皆采王叔和《脈經》要語，本經缺者，則於歷代名醫諸書，采其可法者，以附錄之。其一、二歲未可論脈，則有三關指脈形，在下卷「脈法」論內。</p>
<p>一論首諸方，大概某病用某藥，故止錄諸方，為後學設繩墨。其分量重輕，並修合服法，大略不書，欲學人隨機應變，因時制宜，決不可妄執古方，以治今病也。</p>
<p>一凡諸書，有可采句，論中未能盡述，俱補遺於論之首，以便參閱。</p>
<p>一痘疹一書，或坊刻，或家傳，種種不一，然多有可采處，予另有《痘疹折衷》一集，茲不編入。</p>
<p>一幼科與大方症，用藥原無大異，予有《內科折衷》，亦須兼看。</p>
<p>一此集本為幼學而設，當善藏之，不可輕傳外人，反取謗詈。</p>
<p>一論中稍有疑難字眼，悉照海篇直音注解，以便初學人之誦讀。</p>
<h2>記錄十四科</h2>
<p>古醫十四科，而今亡之矣。自宋元以來，止用十三脈。其十四科者，中有脾胃一科也。今亦終莫之續。</p>
<p>考《醫政》，其一為風科，二為傷寒科，三為大方脈科，四為小方脈科，五為婦人胎產科，六為針灸科，七為眼科，八為咽喉口齒科，九為瘡瘍科（即是外科），十為正骨科，十一為金鏃科，十二為養生科（即今修養家，導引按摩咽納是也），十三為祝由科（《經》曰：「移精變氣者，可祝由而已」，即今符祝禳禱，道教是也）。</p>
<h2>初生護養</h2>
<p>十月嬰兒初孕育，肌膚未實陰未足；正當生下未啼時，急以拭去胎液毒；黃連甘草朱蜜佳，免致斑瘡夭死速。五六日間臍未干，縱然炎熱休頻浴；但將故絮遮其身，下體單寒常露足；見些風日有何妨，月裡頻啼才是福。胎毒胎熱得以伸，熱氣隨啼無蘊蓄；勿令過愛不置懷，免與新綿重被復。昧者重綿尚恐寒，乳哺不離猶恐哭。但見微風便是寒，才聞音響時驚愕；做出疾病不可言，所以富兒多命促。吾嘗諳此歷驗之，故此子孫多易鞠。</p>
<p>凡小兒病，宜先觀形症神色，然後察脈，假如肝之為疾則面青，心之為病則面赤，脾之為病則面黃，肺之為病則面白，腎之為病則面黑。先要分別五臟形症，須看稟受盈虧、胎氣虛實，明其標本而治之，無不可者。</p>
<p>（附：小兒食物所宜）</p>
<p>鯽魚　鰻魚（殺蟲）　田雞　鴨　肚子　肺頭　火肉　風魚　蓮肉　芡實　榧子（殺蟲）　熟棗熟栗　圓眼　山藥　扁豆　小KT　糕小兒食物所忌蜜同瓜　水紅菱　白蒲棗　荔枝　硬蠶豆　油膩物　汁淘飯　粽子　雞（生蟲）　面食　糯食　蛋桃子古廟凶祠不可入，入之則神驚；狂禽異獸不可戲，戲之則神恐；斗爭之處不可近，近之則心偏枯；枯木大樹之下不可息，防久陰之　觸入。</p>
<p>〔附方〕</p>
<p><u>稀豆方</u></p>
<p><u>三豆湯</u></p>
<p>　赤小豆　大黑豆　綠豆　甘草（各一升），以三豆淘淨，用水八升，煮豆熟為度，逐日空心，任意吃豆飲汁七日，永不出。</p>
<p><u>油飲子</u></p>
<p>（童子用）　真麻油（一斤）　逐日飲盡，永不出。</p>
<p>以上二方，出扁鵲倉公書。</p>
<p><u>龍鳳膏</u></p>
<p>　烏雞卵一個　地龍一條（活而細者方用）以蛋開一小孔，入地龍在內，夾皮紙糊，為飯KT，蒸熟去蚓，與兒吃之，每歲立春日，食一枚亦可。蚯蚓惟白頸者可用，誤用殺人。</p>
<p>小兒初生臍帶脫落，取置新瓦上，用炭火四圍，燒至煙盡放土地上，用瓦盞之類蓋之，存性研為細末，預將朱砂透明者，為極細末，水飛過。臍帶若有五分重，朱砂用二分五厘；生地黃、當歸身，煎濃汁，一、二蜆殼，調和前兩味，抹兒上　間，及乳母乳頭上，一日之內，至晚食盡，次日大便遺下穢污濁垢之物，終身永無瘡疹及諸疾，生一子，則得一子，十分妙法也。</p>
<h2>入門審候歌</h2>
<p>觀形察色辨因由，陰弱陽強發硬柔；若是傷寒雙足冷，要知有熱肚皮求。鼻冷便知是瘡疹，耳冷應知風熱症；渾身皆熱是傷寒，上熱下冷傷熱病。</p>
<p>五指梢頭冷，驚來不可當；若逢中指熱，必定是傷寒；中指獨自冷，麻痘症相傳；女右男分左，分明仔細看。</p>
<h2>觀面部五色</h2>
<p>面赤為風熱，面青驚可詳，心肝形此見，脈症辨溫涼。脾怯黃疳積，虛寒　白光。若逢生黑氣，腎敗命須亡。</p>
<p>小兒三歲以下有病，須看男左女右手虎口三關。從第二指側看，第一節名風關，第二節名氣關，第三節名命關。</p>
<p>辨其紋色，紫者屬熱，紅者屬寒，青者驚風，白者疳病，黑者中惡，黃者脾之困也。若現於風關為輕，氣關為重，過於命關則難治矣。</p>
<h2>三關脈紋主病歌</h2>
<p>紫黑紅傷寒，青驚白是疳，黑時因中惡，黃即困脾端。</p>
<p>又：青色大小曲，人驚並四足；赤色大小曲，水火飛禽撲；紫色大小曲，傷米面魚肉；黑色大小曲，脾風微作搐。</p>
<h2>上卷</h2>
<h3>急慢驚風</h3>
<p>（附：慢脾）</p>
<p>總括　面紅卒然渾身熱，唇黑牙關氣如絕；目翻搐搦喉有聲，此是急驚容易決。</p>
<p>又：陰虛陽盛病已深，吐余瀉後睡揚睛；神昏搐緩涎流甚，此症分明是慢驚。</p>
<p>脈法　浮數洪緊為急驚，沉遲散緩為慢驚。虎口紋青紫為驚風，情勢彎入裡者為順，出外者為逆。</p>
<p>《醫學綱目》云：搐一也，而有晨夕之分，表裡之異。身熱力大者為急驚，身冷力小者為慢驚。仆地作聲，醒時多沫者為癇；頭目仰視者為天吊；角弓反張為　，而治各不同也。</p>
<p>看手法，風關青黑如懸針，主水驚，易治；氣關赤色如懸針，主疳病，兼肺臟積熱，猶可治；命關凡有此脈不問五色，皆是危症。又三關通度如懸針，主慢驚，難治；風關青如魚刺，易治，乃初驚之候，黑色難治；氣關青如魚刺，主疳癆、身熱，易治；命關青如魚刺，主虛風邪傳脾，難治。三關青是四足驚，赤是水驚，黑是人驚。</p>
<p>驚風有四症八候。四症者，驚、風、痰、熱是已。八候者，搐、搦、掣、顫、反、引、竄、視是已。搐者兩手伸縮；搦者十指開合；掣者勢若相撲；顫者頭偏不正；反者兩手仰向後；引者臂若開弓；竄者目直視怒視；視者睛露不活。四症已具，八候生焉。四症既無，八候安有。</p>
<p>急驚風大叫三兩聲者心絕，難治。急驚四肢俱軟者不治；急驚鼻中出血者為熱將散，易治；口中出血，則難治。大小便秘者易治，尿屎遺者難治；關黑紋直者死。</p>
<p>四肢厥冷，二便不禁，服　胃回陽以治之。治之不效，乃稱不治。予曾治而效，不可因其有此症，便說不治也。</p>
<p>《內經》曰：諸風掉眩，皆屬肝木。蓋小兒系純陽之體，為其真水未旺，心火已炎，肺金受制而無以平木，故肝木常有餘，而脾土常不足也。為父母者，或失於保養，抱子當風，近於熱地，或辛辣多食，衣衾過濃，邪熱鬱蒸，積於心，傳於肝，再受人物驚觸。未發之時，夜臥不穩，睡中或笑或哭，嚙齒咬乳，鼻額有汗，氣促痰鳴，忽爾悶絕，目直上視，口噤不開，手足搐掣，此熱甚而然，沉兼面紅脈數可辨。蓋心有熱而肝有風，風主乎動，火得風，則煙焰起，二陽相鼓，風火相搏。肝藏魂，心藏神，因熱則神魂易動，故發驚也。心主乎神，獨不受觸，遇有驚則發熱，熱極生風，故能成搐，名曰急驚，以寬氣飲、三解散去參主之。如暴感此證，未別陰陽虛實，先用五苓散和寬氣飲，少加寬熱飲，三藥合用，薑汁沸湯調灌即解。大抵治搐之法，以寬氣為妙，氣順則搐停，此自然之理。乎嘗感慨諸人，每見驚風搐作，不明標本，混為一症，遽用金石腦麝蜈蠶蛇蠍大寒搜風等劑，投之耗傷真氣，其症益甚，多致勿救。殊不知驚生於心，風生於肝，搐始於氣，是為三症。其驚與風，首已詳及。所謂搐始於氣者，蓋因風寒暑濕燥火之氣，有一不順，便蓄於喉靨間，搏於心肺，傳入肝經，其氣上不能升，下不能降，使津液鬱滯，不得流行，故痰涎壅蔽而作搐也，亦宜寬氣飲治之。</p>
<p>病有相似而實不同，此余素所經驗。近有小兒先覺身熱，少頃便僵仆不知人事，目睛上視，口唇牽動，狀如驚風，掣跳不止。一醫以驚風治之，食頃間屢醒屢搐，故招予視之。予問曰：兩日熱否？病家曰：前日時發熱，至傍晚方止，昨日無恙，不意今午後熱，遂成驚風。予曰：此宿食頑痰膠固於中，榮衛不行，邪正相攻，乃瘧疾也。以金石鎮驚之藥投之，寧無助火為患乎。命渠且勿服藥，恐藥毒交攻，病勢交劇，至下午少減，以二陳東加楂麥青皮檳榔葛防服之，至次日瘧作而余症悉退，又服消痰散表之藥，四劑而痊愈。</p>
<p>然當知所以受病。如病在驚，驚由痰熱得，只可退熱化痰，其驚自止；病在風，風由驚作，只可利驚化痰，其風自散；病在痰涎，急須退熱化痰，若也有搐，須用截風散驚，此不治之症也。</p>
<p>東垣云：小兒瀉青有驚，當先補其土，後瀉其木，其風木旺症，右關脈洪大，掌中熱，腹皮熱者是也。今立一方黃益黃散主之。人參甘草黃　各等分，此三味皆溫補脾土，益元氣，甘能瀉火。《內經》云：熱淫於內，以甘瀉之，以酸收之。白芍藥酸寒，能瀉火，酸能瀉肝木而大補肺金。所補得金木之位，土旺則火虛矣。風木何由而來克土，然後瀉邪，火旺能實其木，木旺故來克土，當於心經中，以甘溫補土之源；更於脾土中瀉火以甘寒，補金以酸涼，故致脾土中金旺火衰，則風木自虛也矣。</p>
<p>有傷風後發搐者，口中氣出熱，呵欠煩悶，手足動搖，此氣血未實，不能勝任故也，治當先發散，大青膏主之。</p>
<p>有傷食後發搐者，身溫多睡，或嘔吐不思乳食，此食滯而氣亦因之而滯，故發搐也，當先定搐，加羌活、防風、兼下瀉青丸，後用白餅子下其食，漸用異功散養其氣。</p>
<p>有欲出麻痘而發搐者，身溫多睡，或嘔吐不欲飲食，此乃熱乘於心，心火炎上，故目睛上竄。其症耳葉鼻尖手足梢冷，噴嚏眼澀，睡中驚跳是也，但無痰涎為異耳。治法當平肝木，利小便。平肝木則風自去，利小便則心熱除。風熱既退，則痘出而搐愈矣，宜導赤散加白芍、防風、荊芥之類。</p>
<p>有痘後發搐者，此氣血虛弱，復感風寒熱毒交滯，且不敢發散清利，不治者多矣。</p>
<p>有小兒聞聲即掣跳者，乃肝肺不足，魂魄不安，故神有不穩，非謂驚也，可服犀角地黃丸。</p>
<p>又有小兒心氣虛怯，神不安定，連並掣跳者，可服四君子東加辰砂少許服之。</p>
<p>暑風一症，因夏日感冒風熱太甚，致面垢唇紅，脈沉細數，忽發驚搐，不省人事，治用消暑清心飲、辰砂五苓散及抱龍丸。</p>
<p>慢驚屬陰，陰主乎靜而搐緩，故曰慢驚。或得於大病之余，或傳誤轉之後，目慢神昏，手足偏動，口角流涎；或口氣冷緩；或囟門陷下，睡則揚睛；或半開半合，此真陽消耗而陰邪獨盛，陰盛生寒，寒為水化，水生肝木，木為風化，木克脾土，胃為脾之腑，故中有風，螈　漸生，兩肩微聳，兩手垂下，時復動搖不已也。此症有汗者必不治。故仲景曰：陰不得有汗。蓋陰症無汗，有汗者亡陽耳。治法不可一概用藥。如吐瀉得之，則理中東加木香以溫其中，五苓散以導其水；如臟寒泄瀉得之，則先與朮附湯；下積取轉得之，則先與調氣湯調和脾胃；如外感風寒，則可與桂枝湯、葛根湯，其他可類推矣。然慢驚雖屬陰，視其淺深如何，不可純用溫藥及燥烈之劑。惟於平胃氣中加截風定搐之劑，如全蠍、僵蠶、白附、天麻、南星等劑為良方。若吐不止，可投定吐飲；瀉不止，宜服六柱散、五苓散；若痰多唇白，四肢如冰，不醒人事，方可回陽，用固真湯速灌之，以生胃氣。胃氣既回，投醒脾散，徐徐調理。</p>
<p>慢脾之候，面青額汗，舌卷低頭，眼合不開，困睡中搖頭吐舌，頻嘔腥臭，噤口切牙，手足微搐而不收，或身冷，或身熱，其脈沉細。蓋由慢驚之後，吐瀉損脾，病傳已極，總歸虛處，惟脾所受，故曰慢脾。若逐風則無風可逐，若療驚則無驚可療，但脾間涎痰虛熱往來，其眼合者，脾困氣乏，神志昏迷，痰涎壅滯然耳，世所謂難療者是也。大要生胃回陽，金液丹、生附四君子湯酌而用之，胃氣漸復，仍服醒脾散、異功散之類。諸藥不效者，如有太衝脈，則取百會穴灸之可也。</p>
<p>急驚不治症（口中出血，通關不嚏，間或亦有生者）：眼睛反轉，口中出血，兩手擺挑，肚腹搐動，或神緩而摸體尋衣，或症篤而神昏氣促，噴藥不下，通關不嚏，心中熱痛，忽大叫者，不治。</p>
<p>慢驚不治症：四肢厥冷，面黯神慘，鴉聲魚口，口生白瘡，發直搖頭，眼不轉睛，頭項軟，二便不禁，手足一邊牽引者，不治。</p>
<p>慢脾不治同。</p>
<p>補遺凡遇驚風發搐時，聽其自動自止，不可搶緊，使其氣得通暢。不然，定有驚癱之症。</p>
<p>急驚用藥，先與截風定搐，次與下熱。熱去則無風，風去則不搐。傷風傷寒之症，熱極不能發搐，但牙關不緊，此為似搐。</p>
<p>小兒驚風握拳者，此胸中有毒涎耳！須看男左女右。男子握大指於內為順，叉指者惡症也。其吉凶雖不盡系此，然亦有驗。</p>
<p>〔附方〕</p>
<p><u>寬氣飲</u></p>
<p>　枳殼（炒）　枳實　人參　甘草</p>
<p><u>三解散</u></p>
<p>　人參　防風　天麻　茯神　山梔　白附　大黃　赤芍　黃芩　僵蠶　全蠍　枳殼　甘草　實者加大黃、藿香，虛者加人參。</p>
<p><u>五苓散</u></p>
<p>　白朮　豬苓　茯苓　澤瀉　肉桂</p>
<p><u>寬熱飲</u></p>
<p>　玄明粉　枳殼　大黃　甘草</p>
<p><u>黃　益黃散</u></p>
<p>　人參　黃　甘草　白芍　陳皮　黃連　白茯苓</p>
<p><u>大青膏</u></p>
<p>　白附　青黛　天麻　全蠍　朱砂　烏蛇　麝香　天竺　大青葉</p>
<p><u>瀉青丸</u></p>
<p>　當歸　膽草　川芎　山梔　羌活　防風　大黃</p>
<p><u>白餅子</u></p>
<p>　滑石　輕粉　半夏　南星　巴豆（四十粒，去皮尖，水一升，煎水盡為度，研入藥內為餅）</p>
<p><u>異功散</u></p>
<p>　人參　甘草　白朮　茯苓　陳皮　木香</p>
<p><u>導赤散</u></p>
<p>　生地　木通　甘草　竹葉</p>
<p><u>犀角地黃丸</u></p>
<p>　天冬　麥冬　茯苓　茯神　前胡　柴胡　人參　玄參　生地　川芎　天麻　羌活　防風　甘草</p>
<p><u>四君子湯</u></p>
<p>　人參　白朮　茯苓　甘草</p>
<p><u>消暑清心飲</u></p>
<p>　藿香　澤瀉　白朮　茯苓　肉桂　辰砂</p>
<p><u>牛黃抱龍丸</u></p>
<p>　西牛黃（二錢）　天竹黃（一兩）　琥珀（七錢）　陳膽星（一兩）　僵蠶（六十個）　川貝（一兩）　枳殼（一兩）　茯神（六錢）　沉香（五錢）　制腰黃（五錢）　麝香（一錢）　飛辰砂（一兩）　金箔（三分）　竹瀝丸　去西黃、南星、天蟲，名琥珀抱龍丸；余加制軍五錢、蟬衣五十只，生甘草湯丸，名赤抱龍丸。</p>
<p><u>理中湯</u></p>
<p>　人參　白朮　乾薑　炙甘草</p>
<p><u>朮附湯</u></p>
<p>　白朮　附子　甘草</p>
<p><u>調氣湯</u></p>
<p>　木香　香附　人參　陳皮　藿香　甘草</p>
<p><u>桂枝湯</u></p>
<p>　桂枝　芍藥　生薑　甘草　大棗</p>
<p><u>葛根湯</u></p>
<p>　干葛　麻黃　芍藥　桂枝　甘草</p>
<p><u>定吐飲</u></p>
<p>　半夏　生薑　薄桂</p>
<p><u>六柱散</u></p>
<p>　人參　茯苓　木香　白朮　肉果　熟附子</p>
<p><u>固真湯</u></p>
<p>　人參　附子　白朮　茯苓　山藥　黃　肉桂　甘草</p>
<p><u>醒脾散</u></p>
<p>　木香　全蠍　白附　天麻　石蓮　菖蒲　茯苓　白朮　人參　甘草</p>
<p><u>金液丹</u></p>
<p>　舶上硫黃十兩，研細入罐內，　過用。</p>
<p><u>生附四君子湯</u></p>
<p>　人參　白朮　茯苓　甘草　生附子（如前藥四分中之一）</p>
<h3>疳積</h3>
<p>總括　五疳五臟五般看，治法詳推事不難；若見面黃肌肉瘦，齒焦發豎即為疳。</p>
<p>又曰：凡養小兒宜戒謹，酒肉油膩偏生病；生冷硬物涼水漿，不與自無疳癖症。</p>
<p>脈法　脈單細為疳勞，虎口脈紋白為疳。氣關青如魚刺，主疳癆；氣關赤色如懸針，主疳病，兼肺臟積熱。</p>
<p>《內經》曰：數食肥，令人內熱。數食甘，令人中滿，其病因肥甘所致，故名曰疳。若夫小兒乳哺未息，胃氣未全，父母不能調攝，惟務姑息，舐犢之愛，遂令恣食肥甘生冷，積滯膠固，以致身熱體瘦，面色萎黃，或肚大青筋，蟲痛瀉痢，而諸疳之症作矣。</p>
<p>錢仲陽曰：諸疳皆脾胃之病，內亡津液而作也。因大病後，或吐瀉後，以藥下之。脾胃虛弱，內無津液而成。且小兒病疳，大都庸醫之所壞也。小兒身發虛熱，皆當依本臟而補其母，則子自安。假令日中潮熱，是心經虛熱也。肝為心之母，宜先補肝，肝實而後瀉心。心得母氣，則內平而潮熱愈矣。醫見潮熱，妄謂其實，乃以諸冷藥利之。利既多矣，不能禁約，而精液內亡，即成為疳也。</p>
<p>又，錢仲陽曰：肝疳，一名筋疳，白膜遮睛，或瀉血而瘦，用地黃丸；心疳，面黃頰赤，身體壯熱，用安神丸；脾疳，一名肥疳，體黃瘦削，皮膚干燥，面有瘡疥，腹大嗜土，用益黃散；腎疳，一名骨疳，肢體削瘦，遍生瘡疥，喜臥濕地，用地黃丸；肺疳，一名氣疳，喘嗽氣促，口鼻生瘡，用益黃散。按仲陽此論皆補其母也，亦當參看。</p>
<p>又，仲陽曰：凡小兒疳在內，目腫腹脹瀉痢青白，體漸瘦弱；疳在外，鼻下赤爛，頻紐鼻耳，或肢體生瘡。鼻瘡以蘭香散敷之。用蘭香藥二錢，燒存性，用青黛輕粉各五錢為細末，干敷之。又白粉散，用烏側骨末一匙，白及末二匙，輕粉一匙，為末和勻，用冷茶洗瘡，拭乾敷之，此醫口外疳瘡者。</p>
<p>又有小兒幼小缺乳，與食粥飯太早，耗傷真氣，亦能成疳，其病關於五臟。因脾家一臟有積不治，傳之余臟，而成五疳之疾，故有五疳之分焉。</p>
<p>肝疳即風疳，其症搖頭揉目，白膜遮睛，面青多淚，頭焦發立，遍身瘡癬是也，宜服天麻丸。</p>
<p>心疳即驚疳，其症壯熱臉紅，口舌生瘡，五心煩熱，盜汗發渴，切牙虛驚是也，宜用茯神丸。</p>
<p>脾疳即食疳，其症身面俱黃，肚大腳細，吐逆中滿，水穀不消，泄下酸臭，合面困睡，減食吃泥是也，宜用靈脂丸。</p>
<p>肺疳即氣疳，其症咳嗽喘逆，壯熱惡寒，皮膚粟生，鼻癢流涕，咽喉不利，頤爛氣脹，泄瀉頻，並毛焦吐血是也，宜用化　丸。</p>
<p>腎疳即急疳，其症腦熱肌削，手足如冰，寒熱時來，滑瀉肚腹痛，口鼻干渴，齒齦生瘡，爪黑面黧，身多瘡疥是也，宜用地黃丸。</p>
<p>大抵疳之為症，頭皮光急，毛髮焦稀，面黃唇白，身汗口渴，尿白瀉酸，肚脹潮熱，皆其候也。</p>
<p>蛔蟲者，失乳飯早，或食肉太早，以致停蓄積滯，化而為蟲，其症皺眉多啼，嘔吐清水，腹中作痛，肚脹青筋，唇口紫黑，腸頭濕癢是也，化蟲丸主之。</p>
<p>脊疳者，蟲蝕脊膂，身熱羸黃，積中生熱，煩渴下利，拍背如鼓鳴，脊骨如鋸齒，或十指生瘡，頻吃爪甲是也，下蟲丸主之。</p>
<p>腦疳者，腦中素受風熱，生下乳哺失常，頭皮光急，頭瘡如餅，頭熱如火，發直如穗，遍身多汗，腮腫囟高是也。</p>
<p>臨產多欲亦然，最易損兒眼，龍膽丸主之。</p>
<p>疳腫脹者，虛中有積，其毒與氣並交，故令肚腹緊張，由是脾腹受濕，或冷熱不調，虛中不能宣導，故令頭面四肢浮腫是也，褐子丸主之。</p>
<p>疳癆者，潮熱往來，五心煩熱，手足心及胸前熱而發瘡，盜汗骨蒸，嗽喘枯悴是也。其症渴而復瀉，飲水惡食，肚硬如石，面色如銀，不可治矣，急服黃　湯。</p>
<p>無辜疳者，腦後項邊有核如彈，按之轉動，軟而不疼，其間有蟲，如米粉，宜速破而去之，免蟲隨熱氣流散，淫食臟腑，以致肢體癰瘡，便利膿血，壯熱羸瘦，頭露高骨是也。以針刺破膏藥貼之，然後服蚵皮丸。</p>
<p>丁奚者，手足極細，項小骨高尻削，體痿腹大臍突，號哭胸陷，或生穀　是也。</p>
<p>哺露者，虛熱往來，頭骨分開，翻食吐蟲，煩渴嘔噦，柴骨瘦露是也。其候皆因脾胃久虛，不能消化水穀，以致精神減損，無以榮其氣血，而成此二症也，十全丹主之。</p>
<p>症者，因兒生後周　，母復有孕，血氣所蔭，分之兩端，是故胚胎漸傷，乳汁成毒，兒吻致疾，斂萃其氣，郁傷其神，令兒面黃腹脹，微微下利，寒熱來去，毛髮　，日漸黃瘦，精神不悅，乃是飲母　乳故也。宜速斷乳，平胃氣，和血脈可也，服龍膽湯。</p>
<p>〔附方〕</p>
<p><u>安神丸</u></p>
<p>　麥門冬　馬牙硝　白茯苓　山藥　寒水石　甘草　朱砂　片腦　為丸服。</p>
<p><u>益黃散</u></p>
<p>　陳皮（一錢）　青皮　訶子皮　甘草（各五分）　丁香（二分）</p>
<p>共為末，水煎服，加人參、白朮各一錢服，效。</p>
<p><u>天麻丸</u></p>
<p>　青黛　黃連　天麻　蘆薈　膽草　防風　川芎　蟬殼　全蠍　麝香　五靈脂　夜明砂</p>
<p><u>茯神丸</u></p>
<p>　茯神　蘆薈　琥珀　赤茯苓　鉤藤　麝香　遠志　蝦蟆　黃連　菖蒲</p>
<p><u>靈脂丸</u></p>
<p>　砂仁　白蔻　麥芽　莪朮　青皮　陳皮　使君子肉　蝦蟆　五靈指</p>
<p><u>化　丸</u></p>
<p>　蕪荑　蘆薈　青黛　川芎　白芷梢　蝦蟆灰　胡黃連</p>
<p><u>地黃丸</u></p>
<p>　熟地　赤茯苓　山藥　丹皮　山茱萸　使君肉　當歸　川芎　川楝子</p>
<p><u>化蟲丸</u></p>
<p>　蕪荑　鶴虱　檳榔　蝦蟆　蘆薈</p>
<p><u>下蟲丸</u></p>
<p>　木香　桃仁　蕪荑　檳榔　鶴虱　輕粉　蝦蟆　使君肉　新苦楝根皮</p>
<p><u>龍膽丸</u></p>
<p>　膽草　生麻　防風　赤茯苓　油發　青黛　黃連　蘆薈　苦楝根</p>
<p><u>褐子丸</u></p>
<p>　卜子　陳皮　青皮　檳榔　黑丑　赤茯苓　莪朮　木香　五靈脂　一方用三棱、胡椒、神麯，無黑丑、赤茯苓、靈脂。</p>
<p><u>黃　湯</u></p>
<p>　黃　當歸　川芎　芍藥　生地　蝦蟆　鱉甲　人參　茯苓　陳皮　柴胡　半夏　使君子肉</p>
<p><u>蚵皮丸</u></p>
<p>　蟾蜍一個，要腹大不鳴不跳，身多癩者，取糞蛆置桶中，即將蝦蟆打殺，放在蛆中，任與之食。一日一夜，以布袋包蛆，置水流急處，浸一宿，取來瓦上炙為末，入麝香一匙，飯糊為丸，每服二十丸。</p>
<p><u>十全丹</u></p>
<p>　陳皮　青皮　莪朮　川芎　白蔻　檳榔　蘆薈　蝦蟆　五靈脂　木香　使君子</p>
<p><u>龍膽湯</u></p>
<p>　膽草　鉤藤　柴胡　桔梗　芍藥　川芎　茯苓　人參　大黃　甘草</p>
<h3>諸吐</h3>
<p>（女子嘔吐甚者死，以其陰在上故也）</p>
<p>總括　面青唇白冷為真，熱吐腥酸頭額溫；停食作痰嘔乳逆，不宜尿濕燥紅唇。</p>
<p>脈法　脈浮而遲，氣少不語者難治。</p>
<p>《內經》曰：諸嘔吐酸，暴注下迫，皆屬於火。河間曰：胃膈熱甚則為嘔，火氣炎上之象也。夫吐謂有物無聲，噦謂有聲無物，嘔者謂有物有聲也，前人以吐為屬火，此特其一端耳。吐屬太陽，多血少氣，乃血病；噦屬少陽，多氣少血，乃氣病；嘔屬陽明，多血多氣，氣血俱病也。</p>
<p>冷吐者，片乳不消，多吐而少出，脈息沉微，面白眼慢，氣緩神昏，額上有汗。此因風寒入胃，或食生冷，或傷宿乳，胃虛不納而出，宜溫胃去寒，理中湯、定吐飲。如不虛，以參香飲治之。</p>
<p>熱吐者，面赤唇紅，吐次少而出多，乳食不消而色黃，遍體熱甚，或因暑氣在胃，或食熱物，精神不悅而多煩渴躁，宜服香薷飲。</p>
<p>諸吐者，眼胞浮，面微黃，足冷肚熱，晝輕夜重。兒大者，脈沉緩。此宿乳滯胃，故吐黃酸水，或有清痰。脈實而滑，為食積所傷，吐酸　氣，或宿食並出。兒小　乳不化，宜三棱散。</p>
<p>傷風嗽吐，有熱生風，有風生痰，痰結胸中，肺氣不順，連嗽不止，和痰吐出，此為嗽吐。痰壅而作，乃為實症，宜去風化痰，先服小柴胡湯。若瀉久脾虛，土不生金，面白唇燥，干嗽乾嘔，無痰可去，溫補為上，用茯苓厚朴湯、惺惺散。</p>
<p>傷乳吐者，才飲乳後即吐，或少停而吐，此因乳飲無度，脾氣虛弱，不能運化，譬之小器盛物，滿則溢也。更當節乳，投三棱散。</p>
<p>嘔家多渴，胃之津液干也，欲飲水以自救，宜少與之，不可多也，多則反吐，謂之水逆，宜五苓散。</p>
<p>有時惡心常吐清水，心胃作痛，得食即暫止，飢則甚者，此胃中有蛔蟲也，宜檳榔散。大抵嘔吐，第一要節乳，徐徐用藥調治。蓋節者樽節之節，無過飽也。如不明此理，動輒斷一二日，以致餒甚而胃虛，反致不救者多矣，切須知之。</p>
<p>丹溪曰：胃中有熱，膈中有痰，令人時常嘔吐清水，作噯氣吞酸等症，用二陳湯，加薑汁、炒黃連、山梔、蒼朮、川芎、香附、砂仁、神麯、山楂。少加木香以行滯氣，加薑，水煎服。批：嘔家聖藥生薑信矣，然氣逆作嘔，生薑散之；痰與水作嘔，半夏逐之。生薑治寒證最佳，然熱嘔不可無烏梅也。</p>
<p>凡病嘔吐，切不可下，以其逆之故也，此丹溪之論。而東垣乃云：吐而大便不通，則利大便，上藥在所當禁。二說相反，要當審其通與不通而治耳。</p>
<p>〔附方〕</p>
<p><u>理中湯</u></p>
<p>　見驚風症內。</p>
<p><u>定吐飲</u></p>
<p>　見驚風症內。</p>
<p><u>參香飲</u></p>
<p>　人參　沉香　丁香　藿香　薑汁</p>
<p><u>香藿飲</u></p>
<p>　香藿　扁豆　厚朴　黃連</p>
<p><u>三棱散</u></p>
<p>　人參　莪朮　三棱　陳皮　枳殼　香附　青皮　益智　神麯　穀芽　半夏　大黃　紫蘇　甘草</p>
<p><u>小柴胡湯</u></p>
<p>　半夏　黃芩　柴胡　人參　薄菏　甘草</p>
<p><u>茯苓厚朴湯</u></p>
<p>　茯苓　厚朴　半夏　甘草</p>
<p><u>惺惺散</u></p>
<p>　人參　桔梗　茯苓　白朮　防風　川芎　細辛　膽星　天花粉　甘草</p>
<p><u>五苓散</u></p>
<p>　見驚風症內。</p>
<p><u>檳榔散</u></p>
<p>　黑錫炒成灰，檳榔末各等分，米飲調服，苦楝湯下亦可。</p>
<p><u>和中桔梗湯</u></p>
<p>　茯苓（一錢）　半夏（七分）　陳皮（八分）　白朮（八分）　生薑（九片）　枳實（八分炒）</p>
<p>厚朴（八分，薑汁炒）　桔梗（八分）</p>
<p><u>荊黃散</u></p>
<p>　荊芥（二錢）　人參（一錢）　甘草（五分）　大黃（六分）　加檳榔末（一錢）　木香（五分）</p>
<p><u>二陳湯</u></p>
<p>　茯苓　半夏　陳皮　甘草　白朮</p>
<h3>諸瀉</h3>
<p>總括　脾虛胃弱病根成，水穀如何運化行；清濁相干應吐瀉，久傳虛瀉使風生。</p>
<p>脈法　泄主脈緩時，小結者生，浮大者死。</p>
<p>《內經》曰：春傷於風，夏必飧泄。又曰：濕勝則濡泄。夫脾胃同濕土之化，主腐熟水穀，胃氣和平，飲食入胃，清氣則輸於脾土，歸於肺金，行於百脈而成營衛。若飲食一傷，起居不時，損其胃氣，則上升精華之氣反下降而為飧泄矣！（批：大凡瀉屬氣虛、火、痰、食積，瀉水而腹不滿者是濕。飲食入胃不行，完穀不化是氣虛；腸鳴瀉水，痛一陣，瀉一陣是火；或瀉或不瀉，或多或少是痰；腹痛甚而瀉，瀉後痛減是食積。）</p>
<p>暴泄非陰，久泄非陽。諸書皆以泄瀉宜利小便，此乃萬古不易之定論。若久瀉脾虛，陽氣衰弱，伏於陰中，若用淡滲之藥是降之又降，抑其陰而重竭其陽，則陽愈削而精神愈短矣。宜用升陽氣藥，以羌活獨活柴胡升麻防風甘草治之。</p>
<p>大法寒濕之勝，助風以平之。又曰：下者舉之，得陽氣升騰而病去矣，此東垣治法。</p>
<p>冷瀉多是白水，瀉密而少，腹痛而鳴，眉皺目慢，面帶白色，額上汗多，此為冷瀉，用守中湯、益中膏。</p>
<p>熱瀉大便黃色，如筒吊水，瀉過即止，半日復然，心煩口渴小便黃少，食乳必粗，此為熱瀉，用五苓散及香茹飲。</p>
<p>傷食瀉因飲食過多，有傷脾氣，遂成泄瀉。故大便不聚，臭如破卵，宜三棱散。</p>
<p>水瀉謂之洞瀉，乃陰陽不順，水穀不分，瀉黃水而小便少，番次密而無度，此為冷熱相激，清濁渾亂。或因乳有熱氣，遂以哺之，令兒脾胃不和，水穀交雜而下，以　咀五苓散加薏苡、車前子、半夏水薑煎服，後用香薷飲。妙！積瀉者脾氣虛弱，乳食入胃不能運化，積滯日久，又為冷食所傷，傳之大腸遂成泄瀉。留連不止，諸藥無效，蓋以積在脾胃，積既未除何由得愈。宜先去積後止瀉，瀉止實脾則病除矣。三棱散、香橘餅、參苓白朮散。</p>
<p>（批：燥濕，四苓散加蒼朮，倍加白朮。甚者二術炒為末，水飲調服。氣虛用人參、白朮、芍藥。火宜伐火利小水，四苓加滑石、黃芩、梔子、木通。痰用海石、青黛、黃芩、神麯為丸服。或用吐，以提其清氣。食積宜消導疏滌之，神麯、大黃、枳實之類。水瀉用蒼朮、厚朴、陳皮、茯苓、豬苓、澤瀉、地榆，甘草，冬加乾薑。胃不和者用胃苓湯。世以澀藥治瀉，病久而虛者可，若初得必變他症，為禍不小。不知瀉多因於濕，利小水者為上。）</p>
<p>驚瀉者糞青如苔，稠若膠黏，不可便止，但鎮心益肝，和脾胃，消乳食，斯為治矣，投三解散、五苓散，水薑倉米煎服。</p>
<p>疳積　瀉，其候面赤，萎黃，肚脹腳弱，頭大項小，發稀直豎，肌肉削瘦，不思飲食，晝涼夜熱，或腹內有　瘕氣塊，瀉則顏色不等，其臭異常。其瀉有時或一月半月一番，自瀉自止，先用當歸散加三棱、陳皮煎服，次投三棱散。</p>
<p>俗云：受肚瀉，乃飲食滿腹、脾弱運化不及，故積滿而瀉，瀉盡而止，後又如是，宜調脾胃，節飲食為上。</p>
<p>〔附方〕</p>
<p><u>守中湯</u></p>
<p>　桔梗　蒼朮　甘草　薑汁</p>
<p><u>益中湯</u></p>
<p>　肉果　丁香　砂仁　訶子　陳皮　青皮　馬芹　甘草</p>
<p><u>五苓散</u></p>
<p>　見驚風症內。</p>
<p><u>香薷飲</u></p>
<p>　見諸吐症內。</p>
<p><u>三棱散</u></p>
<p>　莪朮　三棱　益智　陳皮　神麯　麥芽　甘草　嗽加半夏。</p>
<p><u>香橘餅</u></p>
<p>　木香　陳皮　青皮　厚朴　砂仁　神麯　麥芽　三棱</p>
<p><u>參苓白朮散</u></p>
<p>　人參　茯苓　白朮　砂仁　薏苡　蓮肉　扁豆　甘草　桔梗　山藥</p>
<p><u>三解散</u></p>
<p>　見驚風症內。</p>
<p><u>當歸散</u></p>
<p>　當歸　赤芍　大黃　川芎　麻黃　甘草</p>
<p><u>四苓散</u></p>
<p>　澤瀉　豬苓（去皮）　白朮　茯苓　加木通，水煎服。或為末，白湯調下。</p>
<h3>吐瀉</h3>
<p>總括　小兒吐瀉有多般，不可將來一例看；若見神昏目慢候，慢脾驚搐要提防。</p>
<p>脈法　洪者為熱，弦者為痛。微弱漸遲者死，漸大者生。若有宿食留飲，氣口脈必弦滑。</p>
<p>《內經》曰：脾虛則瀉，胃虛則吐。又曰：食滯於胃口者為吐，食滯於大小腸者為瀉。又曰：諸嘔吐酸，暴注下迫，皆屬於熱。</p>
<p>錢仲陽曰：吐乳瀉黃，傷熱乳也：吐乳瀉青，傷冷乳也，皆當下之。則知虛實寒熱皆能成吐瀉之症。又有傷風吐瀉，身溫、乍涼乍熱、多睡氣粗，大便黃白色，嘔吐乳食不消，更兼咳嗽。先服大青膏發散，後用益黃散和胃。若吐瀉身熱多睡，能乳吐痰，飲水不止，大便黃水，此胃虛之症，先用白朮散生津止渴，後用大青膏發散風邪。</p>
<p>錢仲陽曰：小兒初生三日內吐瀉，身熱不思乳食，大便青白，乳食不消或白色，是傷乳，當下之，然後和胃。夏至後吐瀉身熱，或傷熱，或傷乳，吐乳不消，瀉深黃色，宜香薷散之類。小兒傷食及濕熱作吐瀉者，須以胃苓湯進，反覺平安。</p>
<p>凡遇小兒吐瀉，惟恐脾虛生風之患。《心鑒》云：兒分長幼，察病虛實。有吐瀉三五日發風者，有一日半日而發者，大抵女孩以吐為急，男子以瀉為迫。若氣虛暴瀉暴吐，才作便得之。惟有疳瀉不成，風候久則終於虛乏不治矣。但瀉宜實脾為主，吐以生胃為本，截風之藥略加用之。凡驚藥及寒涼之藥初不可用。大熱藥慎勿妄投。</p>
<p>錢氏不分寒熱吐瀉，而曰皆當下，恐未妥當，不若傷熱者用五苓散以導其逆，傷冷者用理中湯以溫其中，自然平復。</p>
<p>〔附方〕</p>
<p><u>胃苓湯</u></p>
<p>　蒼朮　白朮　豬苓　澤瀉　厚朴　陳皮　茯苓　甘草　加桂少許</p>
<p><u>大青膏</u></p>
<p>　見驚風症內。</p>
<p><u>益黃散</u></p>
<p>　見疳積症內。</p>
<p><u>五苓散</u></p>
<p>　去肉桂，用甘草。</p>
<p><u>理中湯</u></p>
<p>　俱見驚風症內。</p>
<h3>霍亂吐瀉</h3>
<p>總括　病患霍亂事堪驚，吐利交並又轉筋；心腹痛疼時眩暈，宜分干濕審三因。</p>
<p>脈法　脈來浮洪者可治，微而遲者難生。</p>
<p>《內經》曰：太陰所至為中滿，霍亂吐下有土鬱之發，民病嘔吐霍亂注下（濕土霍亂即仲景五苓散、理中湯之類）。</p>
<p>有水土不及，風乃大行，民病霍亂飧瀉。體重腹痛筋骨強並（土虛風勝霍亂，即羅謹甫桂苓散、白朮散之類）。有熱至則身熱霍亂吐下（熱霍亂即《活人書》香薷飲之類）。</p>
<p>仲景曰：邪在上焦則吐，在下焦則瀉，邪在中焦則既吐且瀉。夫小兒霍亂之候，皆因飲食內有所傷，外有所感，陽不升，陰不降，乘膈而成，故卒然吐瀉並作，揮霍撩亂矣。為病之源有三：吐者　也，心火炎上之疾也；瀉者濕也，濕土注下之疾也；轉筋者風也，木火撓亂之疾也。由夏秋之間，濕熱大作，風涼乘之，入於脾胃。三氣俱作所以上吐下瀉而轉筋也。治法以生薑細切，漬以新汲水，調益元散頓服之可愈，或五苓散、桂苓甘露飲。切勿與穀食米飲，如飲下咽立死。待瀉後飢甚可與稀粥。</p>
<p>霍亂亦有病症不同，有心腹卒痛、吐利寒熱、頭痛眩暈，先心痛則先吐，先腹痛則先利，心腹並痛則吐利俱作，甚則轉筋入腹則斃。蓋陰陽反戾，清濁相干，陽氣暴升，陰氣頓墜，陰陽痞膈，上下奔趨。治之惟宜溫暖，更詳其所因而調之。因風則惡風有汗，因寒則惡寒無汗；濕則重著；暑則熱煩，此外因所致。元氣不足，郁聚痰飲，痞膈滿悶，隨其腸瀉而作，此內因所致。其或飽餐恣飲填脹停凝而發，此非內外因也。</p>
<p>小兒夏日多食生冷，因脾虛不能運化，加以外感風寒，則揮霍撩亂，上吐下瀉也，令人倉卒，躁擾痛悶，似有鬼神，然實非鬼神，乃飲食痞膈，上下不通，將欲吐瀉，故如是也。（批：霍亂死者胸中尚有暖氣，急以鹽填臍內，灸之不計壯數，此法灸之立蘇。）</p>
<p>錢仲陽謂吐乳瀉黃是傷熱乳，吐乳瀉青是傷冷乳，皆當下之。詳夫此理，乃迎奪之法也。不若傷熱者用五苓散以導其逆，傷冷者用理中湯以溫其中，自然平復。（批：干霍亂吐、瀉不通，最為難治，用軟雞翎蘸清油探喉中即吐，或鹽湯白礬湯灌之亦可。）</p>
<p>《經》云：濕霍亂死者少，干霍亂死者多。夫干霍亂者，忽然心腹脹滿，胸脅刺痛，欲吐不吐，欲利不利，是俗謂之絞腸痧，最難治，死在須臾，升降不通故也。治法先疏利，或吐提其氣，最是良法。更宜刺委中並十指出血妙，委中在足膝腕內約紋中動脈便是。</p>
<p>〔附方〕</p>
<p><u>益元散</u></p>
<p>（即天水散加朱砂）　滑石（六兩）　甘草（一兩）　朱砂</p>
<p><u>桂苓甘露飲</u></p>
<p>　即五苓散加滑石　甘草　寒水石　白湯調服。</p>
<p><u>桂苓白朮散</u></p>
<p>　即甘露飲加滑石。</p>
<p><u>玉露散</u></p>
<p>　治口渴身熱大小便不利。</p>
<p>寒水石（二兩）　石膏（二兩）　甘草（三錢）</p>
<p>為細末飛過，麥冬湯下。</p>
<p><u>香薷飲</u></p>
<p>　見諸吐症內。</p>
<p><u>丹溪方</u></p>
<p>蒼朮　厚朴　陳皮　乾薑（各一錢半）　滑石（三錢）　白朮（二錢）　木通（一錢）　炙甘草　薑煎服。</p>
<h3>瘧疾</h3>
<p>（瘧母詳細當與積聚參看）</p>
<p>總括　面黃發豎瘧之因，外感風寒暑濕成；內郁七情飢餓後，故令寒熱往來生。</p>
<p>脈法　瘧脈因弦，微則為虛，代散則死。</p>
<p>《內經》曰：夏暑汗不出者，秋成風瘧。又曰：夏傷於暑，秋必　瘧。丹溪曰：　瘧皆生於風。此前人論瘧之大概也。殊不知風寒暑濕邪自外來，飲食居處邪由內作，豈特夏傷於暑，秋必發瘧哉！蓋傷之淺者近而暴，傷之深者遠而為，　者久瘧也。要知瘧之寒熱，乃陰陽之二氣互相勝負而作也。邪並於巨陽則陰實陽虛，故寒作；邪並於巨陰則陽實而陰虛故熱作，此陰陽相移也。病氣舍於皮膚與衛氣並居，衛氣者日行陽、夜行陰，此氣得陽而外出，得陰而內薄，是以日作，此受之淺也。其氣之舍深，薄於五臟，陽氣獨發，陰邪內著，陰與陽終爭不得出，故間日作，此受之深也。邪氣與衛氣客於六腑，而有時相失，不能相爭，故休數日乃作，此受之最深也。然瘧之狀不一，足太陽瘧（膀胱經）令人腰痛頭重，寒從背起，先寒後熱，　然，熱止汗出乃已；足少陽瘧（膽經）令人身體解　，寒不甚，熱不甚，惡見人，見人則惕惕然，熱多汗甚；足陽明瘧（胃經）令人先淅淅寒，寒久乃熱，熱去汗出，喜見日月，火氣乃快；然足太陰瘧（脾經）令人不樂，好太息，不嗜食，多寒熱，汗出，病至則喜嘔，嘔已乃衰；足少陰瘧（腎經）令人嘔吐甚，熱多寒少，欲閉戶而處，其病難矣；足厥陰瘧（肝經）令人腰痛，小腹滿，小便不利，如癃非癃也，數便意，恐懼氣不足，腹中悒悒，此六經之瘧也。肺瘧者令人寒，寒甚熱，熱間善驚，如有所見；心瘧者令人煩甚，欲得清水，反寒多不甚熱；肝瘧者令人色蒼蒼然太息，其狀若死者；脾瘧者令人寒，腹中痛，熱則腸鳴，鳴已汗出；腎瘧者令人洒洒然腰脊痛，宛轉大便難，目眩眩然，此五臟之瘧也。</p>
<p>東垣云：寒瘧屬太陰，熱瘧屬陽明，風瘧屬少陰，溫瘧屬厥陰。又作於子午卯酉日者屬少陰，作於寅申巳亥日者屬厥陰，作於辰戌丑未日者屬太陰，蓋三日一作故耳。而丹溪又有食瘧、痰瘧、風瘧、暑瘧、老瘧、瘧母之名，皆不越乎五臟六腑經之所主也，但所感不同耳！然因其所挾而立名也。今並及之，以備參考。若夫小兒抱持解脫，不避風寒，又冒暑濕，致令邪氣客於皮膚，痰飲乳食潰於臟腑。初起雖先於消導，然抉胃氣為本，後隨其得病所由而調理之。如邪瘧及暫發者，可散可截。虛瘧及久者，宜補氣血，若過服截藥，致傷脾胃則必延綿不休。凡熱多寒少，無汗者，桂枝麻黃各半湯。汗多者，柴胡桂枝湯。汗多而渴者，白虎加桂枝湯。小便赤，熱多寒少者，小柴胡湯。寒多熱少者，用清脾飲、養胃湯。久不止者，鬼哭散止之。熱多汗出，腹痛而渴者，大柴胡湯下之。久瘧不愈，腸中結塊者，鱉甲飲調之。凡脾虛而患瘧者，不論三陰六經，悉以六君子湯為主，熱多加柴胡、山梔、黃芩，甚者加知母、地骨皮、鱉甲。寒多加乾薑、肉桂。有汗加黃　、浮麥。無汗加蒼朮、葛根。元氣下陷及肝木乘脾並加升麻、柴胡為善。若用青皮、常山、草果之類，正氣益虛，邪氣益深而變症百端矣。</p>
<p>有小兒瘧疾，變作虛浮，外腎腫大，或食傷脾胃，以致浮腫。夫浮者脾之外應也，宜大腹皮湯、草果飲治之。然後以實脾補劑進之可也。若乳母七情六欲不調及飲食不節，或寒熱似瘧，肝火熾盛，致兒為患者，又當治其乳母斯無誤矣。</p>
<p>有陰虛症，每日午後惡寒發熱，似乎瘧者，至晚亦得汗而解，若作瘧治，而用常山、草果等藥，誤矣！且陰虛脈虛濡而數，瘧脈弦數為辨耳。有癖痞而為寒熱似瘧者，亦不可作瘧治也。</p>
<p>（批：久瘧則元氣虛損，若誤服清脾飲，多致不起，慎之。截瘧飲亦不宜服。瘧後食少無力，面黃身弱，以四君子東加二陳湯、薑汁炒黃連、枳實。若草果常山性猛善驅逐，病患稍虛者勿用。）</p>
<p>瘧脈弦數腎胃虛，外感內傷共有之，歸芎人參鱉甲飲，半朴檳青甘草施。二術烏梅薑黑豆，桃枝煎酒露飲之。寒多加桂因寒盛，熱多柴苓酒炒宜。渴加知母天花粉，元氣不足升麻提。夜發升麻加桔梗，久瘧常山草果隨。截法常山蒼厚朴，陳皮黃連檳榔果，七味烏梅酒水煎，何首茯苓三四兩，二三陳朴不須言，十分甘草煎宿露，藥飲空心瘧遇仙。</p>
<p>〔附方〕</p>
<p><u>桂枝麻黃各半湯</u></p>
<p>　桂枝　白芍　麻黃　甘草　杏仁　生薑　大棗</p>
<p><u>柴胡桂枝湯</u></p>
<p>　柴胡　桂枝　黃芩　半夏　人參　甘草</p>
<p><u>白虎加桂枝湯</u></p>
<p>　石膏　知母　桂枝　甘草</p>
<p><u>小柴胡湯</u></p>
<p>　見諸吐症內（去薄荷）。</p>
<p><u>清脾飲</u></p>
<p>（初起者宜服）　蒼朮　半夏　草果　青皮　黃芩　柴胡　厚朴　陳皮　茯苓　枳殼　紫蘇　甘草</p>
<p><u>養胃湯</u></p>
<p>（病虛者宜服）　藿香　蒼朮　厚朴　半夏　陳皮　草果　茯苓　人參　甘草</p>
<p><u>鬼哭散</u></p>
<p>　大腹皮　常山　茯苓　鱉甲</p>
<p><u>大柴胡湯</u></p>
<p>　柴胡　黃芩　半夏　芍藥　枳實　甘草　大黃（酒製）</p>
<p><u>鱉甲飲</u></p>
<p>（李自才用何首烏紅白各半，酒煎服）白朮　陳皮　草果　川芎　芍藥檳榔　黃芩　厚朴　鱉甲　甘草</p>
<p><u>六君子湯</u></p>
<p>　人參　白朮　茯苓　甘草　陳皮　半夏</p>
<p><u>大腹皮湯</u></p>
<p>　枳殼　蒼朮　檳榔　甘草　三棱　蓬朮　大腹皮</p>
<p><u>草果飲</u></p>
<p>　厚朴　青皮　草果　藿香　半夏　丁香　甘草　乾薑　神麯</p>
<h3>痢疾</h3>
<p>（附：脫肛）</p>
<p>總括　痢名滯下古來言，赤白腸中痛可憐；補澀濃腸須緩用，治之當以痢為先。</p>
<p>脈法　《內經》曰：腸癖下血，身熱則死，寒則生。腸癖下白沫，脈沉則生，浮則死。</p>
<p>《內經》曰：溲而便膿血，知氣行而血止也。又曰：少陽在泉，火淫所勝，民病注泄赤白。錢仲陽曰：瀉痢黃赤黑皆熱也。瀉痢青白，米穀不化皆冷也。丹溪曰：赤痢屬血，自小腸來；白痢屬氣，自大腸來，皆屬濕熱之氣。如夏秋之間，溽暑時行，此濕熱之氣，生於外感者也。恣飲酒酪生冷，耽嗜肉食肥甘，此濕熱之氣，生於內傷者也。內外交感乃成痢疾。若諸書概以赤為熱、白為寒則誤矣。其有白痢得卒熱而愈者，亦原素稟虛弱，腸胃虛寒耳。然有手足指冷，時欲飲熱為驗也。其有赤白兼下者，氣血俱病也。下如豆汁色者，濕勝也。如五色之相染，五臟俱受病也。純血者，熱毒入深也。魚腦色者，脾虛不運，陳積脫滑下凝也。如鼻涕凍膠者，臟腑虛脫滑也。如白膿者，虛坐弩圊而出，氣受熱邪瘀結也。如屋漏水，塵腐色者，元氣憊弱之甚也。後重裡急，至圊而不能便下，窘迫痛甚，大腸經氣滯不通，濕熱內甚也。後重裡急，初病元氣未虛，裡急甚者下之，下後余積未清，不可驟補，宜化滯清熱蕩滌之，直候積盡，方可調補氣血。今人不問新久，便行止澀，為害不淺。善治者辨明寒熱虛實氣血之症，而行汗下清溫補澀之法可也。</p>
<p>丹溪曰：瀉屬脾而痢屬腎，先水瀉而後膿血者，此脾傳腎，賊邪難愈。先膿血而後水瀉者，此腎傳脾，微邪易愈。</p>
<p>凡久痢用溫藥止之，然須以陳皮為佐，恐澀則常作痛也。夏秋之間，忽有暴寒，折於暴熱無所發散，客於皮膚之中，發於外則為瘧，發於內則為痢，內外俱發則為瘧痢耳。</p>
<p>有初病挾外感者，發熱惡寒身首俱痛，此為表症，宜以微汗而解，則痢自止。不止者以柴苓湯和之，不可遽下遽止也。</p>
<p>初得而腹痛窘迫者，此肺金之氣鬱於大腸之間，實者必推蕩之。此通因通用之法，宜大承氣湯或謂胃承氣湯以下之。</p>
<p>下後不止者，以河間芍藥湯和之。</p>
<p>下痢赤積，身熱腹痛，裡急後重者，宜芍藥湯調天水散；下痢白積腹痛，裡急後重者，用芍藥、黃連湯調天水散；血痢久不止者，宜煎四物湯下黃連阿膠丸。有下黑積中常有紫黑色而又痛甚者，此屬死血症，宜桃仁承氣湯下之。如受痛既久，氣血俱傷，故纏綿而赤白兼下，脾胃氣陷或經年者，名休息痢，宜阿膠梅連丸。有積毒之氣上衝而嘔惡者，清解為主，人參敗毒散。有胃氣虛寒而嘔惡者，溫補為主，附子理中湯。噤口者因脾胃濕熱之毒，熏蒸清道而上，以致胃口閉塞，而成不食之症。亦有脾胃虛而不能食者，亦有誤服痢藥致藥毒犯胃而不食者，亦有服溫澀藥太早邪氣閉遏胃口而不食者。或用石蓮肉以通心氣，敗毒散以散毒邪，山藥以補脾胃。果能開胃口而進飲食乎！其毒瓦斯上衝者，宜丹溪方，以人參、黃連二味呷之，得一口下咽便好。一方加石蓮肉。其脾胃虛者，用仁齋法以參苓白朮散加石菖蒲末、陳粳米湯調下。此方有蓮肉、山藥，胸次一開自然能食。有時疫作痢，傳染相似，宜推明運氣之勝負以治之。所謂勝負者，不越六氣之變也。四時疫痢，宜首用敗毒散加陳皮、陳倉米，名倉廩湯，隨所勝之氣加減用之。</p>
<p>（批：河間曰：行血則便膿血自愈，和氣則後重自除。）</p>
<p>《病機要》曰：後重則宜下，腹痛則宜和，身重則宜除濕，脈弦則宜去風。</p>
<p>痢屬濕熱與食積，芩連白芍皆入此。木香枳殼佐檳榔，主方便用甘草炙。腹痛當歸縮砂仁，後重生芍炒滑石。紅入桃仁芎與歸，白增炒滑茯苓朮。初起欲下倍大黃，食積山楂加枳實。如力倦氣少惡食，此為挾虛症，宜用白朮歸身尾，甚者加人參、陳皮補之，虛回而痢自止。</p>
<p>腹痛因肺金之氣鬱在大腸，實則可下，虛則桔梗發之。有積毒之氣上衝而嘔惡者，清解為主，人參敗毒散。有胃氣虛寒而嘔惡者，溫補為主，附子理中湯。</p>
<p>夫痢雖有赤白之分，總是暑而成，初下皆宜利之，而以川黃連為君，川連能去心經伏熱，亦去脾經濕熱。條芩去大腸經熱，主治下痢膿血。白芍和脾血而治腹痛，川歸益血止痛，檳榔治滯氣而除後重，木香、枳殼行滯寬中，山楂、麥芽消導食積，或加大黃芒硝，小水不利或加滑石木通，皆治痢之通劑也。白痢濕熱傷氣分，用白朮益脾氣，陳皮理滯氣，茯苓滑石滲濕熱之氣。久則胃弱氣虛，必以四君子加黃芩為主劑。赤痢濕熱傷血分，用歸芎養血、地榆涼血、桃仁活血中之滯。久亦胃弱氣虛，必以四物加阿膠為主劑。如赤白相兼，氣血俱傷用四君子、陳皮以理氣，四物、桃仁以理血。</p>
<p>小便赤澀者，小腸經濕熱勝也，用木通、澤瀉、梔子以利之。大便燥澀者，大腸經濕熱甚也，用蒼朮、槐花、條芩以清之。又有久痢後重不除，此大腸下墜、氣虛下陷也，用升麻、參、　以提其氣，活血行氣之劑斷不可用。亦有寒痢者，用理中及薑桂之類，如諸劑調理，日久不愈，此屬虛寒脫滑，可於溫寒補虛中，復加龍骨、赤石脂、栗殼、烏梅、訶子、肉果收澀之藥而自愈矣。</p>
<p>〔附方〕</p>
<p><u>柴苓湯</u></p>
<p>　柴胡　茯苓　半夏　黃芩　白朮　澤瀉　人參　枳實　甘草</p>
<p><u>大承氣湯</u></p>
<p>　大黃　厚朴　枳實　芒硝</p>
<p><u>調胃承氣湯</u></p>
<p>　芒硝　大黃　甘草</p>
<p><u>河間芍藥湯</u></p>
<p>　木香　芍藥　黃芩　黃連　大黃　檳榔　桂枝　歸尾　甘草</p>
<p><u>天水散</u></p>
<p>　滑石（六兩，水飛）　甘草一兩（為末）</p>
<p><u>芍藥黃連湯</u></p>
<p>　黃連　當歸　芍藥　甘草</p>
<p><u>四物湯</u></p>
<p>　熟地　當歸　芍藥　川芎</p>
<p><u>黃連阿膠丸</u></p>
<p>　黃連　阿膠　茯苓</p>
<p><u>桃仁承氣湯</u></p>
<p>　大黃　桂枝　芒硝　桃仁　甘草</p>
<p><u>阿膠梅連丸</u></p>
<p>　阿膠　赤茯苓　烏梅　白芍　黃柏　黃連　乾薑　當歸</p>
<p><u>人參敗毒湯</u></p>
<p>　柴胡　桔梗　人參　羌活　獨活　川芎　茯苓　枳殼　前胡　甘草</p>
<p><u>理中湯</u></p>
<p>　見驚風症，加附子。</p>
<p><u>又方</u></p>
<p>　赤芍（三錢）　山楂肉（三錢）　甘草（一錢半）　木香（七分）　檳榔（一錢）</p>
<p><u>人參白朮散</u></p>
<p>　人參　白朮　茯苓　桔梗　黃連　藿香　苡仁　砂仁　山藥　扁豆　甘草一說治腹痛，老薑、細茶各三錢煎服。</p>
<p><u>奇方</u></p>
<p>　紅菱四支連殼打碎，老薑三錢，加酒一鐘燉熟，和紅糖服即止。</p>
<p>治痢久不愈者用白蘿卜取汁一鐘，蜜一鐘共煎滾，調勻服立止。</p>
<p><u>又奇方</u></p>
<p>　落帚葉煎湯，連葉服，即愈。</p>
<p>又旱蓮汁和酒飲，立愈。</p>
<p>又王瓜藤灰酒下，即愈。</p>
<p>又服八灰散，即止。</p>
<p><u>八灰散</u></p>
<p>　棕灰　發灰　蓮蓬　艾　當歸頭　松皮　側柏　椿根皮</p>
<p><u>又奇方</u></p>
<p>　王瓜藤（連莖葉經霜者），晒乾作灰，出火毒，以香油調，納臍中即愈。</p>
<p><u>又金華散</u></p>
<p>　專治紅白痢，久不愈者，服之神效。椿根白皮二兩，用臭者去粗皮，向東南取松花三錢、地榆二錢、干荷葉二錢，貼水陰乾，用其中段，為細末，每服三分。紅痢蜜調，白痢黑糖調，紅白蜜糖調，後加溫湯少許，空心服。</p>
<p>忌面食葷腥油膩物。</p>
<h4>附：脫肛</h4>
<p>（總括　肛門露出久難收，再感風傷事可憂；況是先傳脾胃弱，更詳冷熱易為瘳。）</p>
<p>夫肺與大腸相為表裡，肛者，大腸之魄門是也。</p>
<p>巢氏曰：實熱則為大便閉結，虛寒則肛門脫出。有因痢久，裡急後重，努力肛開，為外風所吹。或伏暑作瀉，腸滑不禁。或稟賦怯弱，易於感冷，亦令大腸虛脫。凡小兒所患瀉病，皆因暑濕風熱，乘脾胃虛而得。蓋風屬木，肝木勝則制土，土主脾胃，虛而受制。又濕喜傷脾，因虛受濕，不能分別清濁，水穀交雜則為洞瀉。洞瀉既久，大腸亦虛。大腸乃手陽明燥金，土虛不能生金，金氣既虛則傳送之道亦虛。或又為風冷所襲，致肛門脫而不收。法當補脾溫胃，宜補中益氣湯倍加木香、白芍、粟殼、砂仁、地榆之類，外用伏龍肝敷之及蓖麻膏貼囟門使引上，令其自收，如收盡仍以水洗去其膏。及有濕熱積滯於大腸，未經疏蕩亦成此疾，宜芍藥湯少加大黃以瀉其積滯之氣，痢止而肛不復脫矣，外宜蟠龍散敷之。大凡手足指熱者屬熱，指寒者屬虛，亦是一看法。</p>
<p>久痢不止，將核桃殼燒灰存性為末，看大小，酒服之。或用山楂為末，紅者白糖拌，白者紅糖拌亦妙。</p>
<p>大抵治痢疾，一二日元氣未虛，治宜疏通積滯，此通因通用之法。三四日後不可疏通，恐元氣虛也，當清熱解毒、調養脾胃為主。</p>
<p>〔附方〕</p>
<p><u>補中益氣湯</u></p>
<p>　白朮　當歸　人參　陳皮　柴胡　升麻　黃　甘草</p>
<p><u>伏龍肝</u></p>
<p>（治陰症）　伏龍肝（一兩）　鱉頭骨（一錢半）　百藥煎（二錢）</p>
<p>共焙為末，用一錢至三錢，煎紫蘇湯待溫洗，和清油調敷患處，先用荊芥、生蔥、五倍子末，煎水候溫浴之，輕與擦干，然後敷藥。</p>
<p><u>芍藥湯</u></p>
<p>　白芍　澤瀉　薄桂　甘草</p>
<p><u>蟠龍散</u></p>
<p>　干地龍（蟠如錢樣者佳，一兩）　風化朴硝（二錢）</p>
<p><u>淨方</u></p>
<p>　香附　荊芥　皂角　煎水淨。</p>
<p><u>又方</u></p>
<p>　五倍末　朴硝　大腹皮　煎水淨，以赤石脂末之摻芭蕉葉，托上亦好。</p>
<h3>咳嗽</h3>
<p>（附：龜胸龜背）</p>
<p>總括　咳嗽雖然分冷熱，連聲因肺感風寒；眼浮痰盛喉中響，戲水多因汗未干。</p>
<p>脈法　關上脈微為咳，浮緩為傷風，脈緊為寒嗽，浮直者生，浮軟者死。</p>
<p>《內經》曰：五臟六腑皆令人咳，非獨肺也。蓋皮毛者肺之合也，皮毛先受邪氣，邪氣聽從其合也。五臟之咳久乃移於六腑。</p>
<p>又《病機要》云：咳謂無痰而有聲。肺氣傷而不清也。嗽謂無聲而有痰，脾濕動而生痰也。咳嗽謂有聲有痰，因傷肺氣動於脾濕，故咳而嗽也。</p>
<p>《經》又云：秋傷於濕，冬必咳嗽。大抵素秋之氣宜清而肅，今反動之則氣上衝而為咳嗽，甚則動於脾濕而為痰也。</p>
<p>夫肺居至高之上，主持諸氣，屬金而畏火者也。清虛高潔覆蓋五臟，乾金之象，外主皮毛，司腠理開合，護衛一身，如天之覆物體之至輕清者也。或外因六淫之邪相侵，內因七情之氣相忤，則肺金受傷，而清純之氣擾亂妄動為火為痰，咳嗽之病從茲作矣。</p>
<p>小兒日內咳嗽痰壅，睡中不寧，亦因產後感風而得，但不可過用發散之劑，先解表，後服惺惺散。</p>
<p>小兒汗出未干，遽爾戲水，亦至傷風咳嗽。外症眼胞微浮，額陷痰鳴，亦宜疏風化痰、解利邪熱，小柴胡湯可也。</p>
<p>錢仲陽曰：嗽者肺感微寒，八九月間肺氣正旺，若面赤身熱，其病為實，宜葶藶丸下之。久嗽不宜下。若在冬月，則傷風嗽，宜麻黃湯汗之。面赤飲水咳嗽吐膿痰，咽喉不利者，以甘桔湯清之。先咳後喘，面腫身熱肺氣盛也，以瀉白散平之。嗽而吐痰涎乳者，以白餅子下之。</p>
<p>潔古云：嗽而兩脅痛者屬肝經，用小柴胡湯。咳而嘔苦水者屬膽經，用黃芩半夏生薑湯。咳而喉中如梗者屬心經，用甘桔湯。咳而失氣者屬小腸，用芍藥甘草湯。咳而右脅痛者屬脾經，用升麻湯。咳而嘔大蟲者屬胃經，用烏梅丸。咳而喘息吐血者屬肺經，用麻黃湯。咳而遺尿者屬膀胱經，用茯苓甘草湯。咳而腹滿不欲食，面腫氣逆者，屬三焦，用異功散。若咳嗽流涕，外邪傷肺也，先用參蘇飲。喘嗽面赤，心火刑肺也，用人參平肺散及六味地黃丸。嗽而吐青綠水，肝木乘脾也，用異功散加柴胡、桔梗。咳而吐痰乳，脾肺氣傷也，用六君子東加桔梗。若嗽吐膿痰者，熱蘊於肺而成肺癰也，用桔梗湯。嗽而涕吐帶血，甚則血溢，宜清金降火，此火乘肺也。凡風邪外傷，法當先表散而後實腠理。其用下藥，非邪傳於內，及胃有實熱者不宜輕用。面色白，脈短澀者，肺之本症也，易治。面色赤，脈洪數者，火刑金也，難治。</p>
<h4>附：龜胸龜背</h4>
<p>龜胸之候因風痰停飲，聚積心胸，再感風熱，肺為諸臟之華蓋，居於膈上，水氣泛溢，則肺為之浮，日久凝而為痰，停滯心胸，兼以風痰內發，其外症唇紅面赤，咳嗽喘促，致胸高如覆掌，名曰龜胸。其乳母多食五辛亦能成此疾。先服寬氣飲入薑汁蔥湯調服；次清肺飲、如意膏為治。如服藥後目睛直視，痰涎上壅，兼以發搐則難治矣。</p>
<p>龜背者，初生嬰孩或未滿半周，客風吹脊傳入髓，故感此症，錢仲陽雖有龜尿點背之言，然終成痼疾者多矣。</p>
<p>批：丹溪曰：咳嗽遇冬而發者，寒包熱也，解表熱自除。有咳至極時嘔吐乳食與痰出盡方定，此名風痰壅盛，肝木克脾土，宜以南星、半夏、陳皮、天麻、白附子、僵蠶之類。風寒嗽者，鼻塞聲重畏寒。火嗽者有聲，痰少面赤。癆嗽者盜汗，夜多寒熱。肺脹嗽者，動嗽則喘滿氣急。痰嗽者，動便有痰聲，痰出嗽止。</p>
<p>咳分春夏與秋冬，痰癆火食及寒風。俱用二陳來作主，生薑五片最先鋒。春杏芍芩柴五味，夏苓支柏五味攻。秋添蒼芩五味杏，桂枝蘇葉細辛冬。癆用四物紫菀杏，五味人參及款冬。嗽久除嗽加粟殼，干嗽之時難奏功。上夜屬陰加四物，黃柏知母五味宗。五更嗽發屬食積，神麯山楂枳實從。嗽得出時加半夏，不出去半貝母逢。</p>
<p>〔附方〕</p>
<p><u>小柴胡湯</u></p>
<p>　見諸吐症內。</p>
<p><u>葶藶丸</u></p>
<p>（肺實氣喘用）　葶藶子（隔紙略炒）　防己　黑豆（炒）　杏仁面（炒去皮尖）　搗膏一兩為末，取蒸棗肉搗和為丸，麻子大，每服五六丸，薑湯下。</p>
<p><u>麻黃湯</u></p>
<p>（冬用）　桂枝　杏仁　麻黃　甘草</p>
<p><u>甘桔湯</u></p>
<p>（咽喉熱痛用）　桔梗　甘草</p>
<p><u>瀉白散</u></p>
<p>（肺有熱、氣喘用　）地骨皮　桑白皮　甘草</p>
<p><u>白餅子</u></p>
<p>（下痰用）　見驚風症內。</p>
<p><u>黃芩半夏生薑湯</u></p>
<p>　黃芩　芍藥　半夏　生薑　甘草</p>
<p><u>芍藥甘草湯</u></p>
<p>　芍藥（三錢）　甘草（二錢）　葛根　升麻</p>
<p><u>升麻湯</u></p>
<p>　升麻　芍藥　葛根　甘草</p>
<p><u>烏梅丸</u></p>
<p>　蜀椒　細辛　附子（制）　桂枝　人參　當歸　黃柏　乾薑</p>
<p><u>茯苓甘草湯</u></p>
<p>　茯苓（二錢）　甘草（一錢）　桂枝（二錢半）　生薑（五片）</p>
<p><u>異功散</u></p>
<p>　見驚風症內。</p>
<p><u>參蘇飲</u></p>
<p>　紫蘇　前胡　陳皮　半夏　干葛　茯苓　枳殼　桔梗　人參　甘草</p>
<p><u>人參平肺散</u></p>
<p><u>六味地黃丸</u></p>
<p>　熟地　丹皮　茯苓　山藥　澤瀉　山茱萸</p>
<p><u>六君子湯</u></p>
<p>　見瘧疾症內。</p>
<p><u>寬氣飲</u></p>
<p>　見驚風症內。</p>
<p><u>清肺飲</u></p>
<p>　人參　柴胡　杏仁　桔梗　赤芍　荊芥　枳殼　桑皮　五味　麻黃　旋覆花</p>
<p><u>如意膏</u></p>
<p>　半夏　南星　俱薑製，蜜丸，用薑蜜送下。</p>
<h3>傷積</h3>
<p>（附：傷食）</p>
<p>總括　頭痛身熱腹微脹，足冷神昏只愛眠；因食所傷脾氣弱，下宜遲緩表為先。</p>
<p>脈法　右手氣口脈大於人迎一二倍為傷食，宿食不消，則右關脈沉而滑，虎口脈紋而黃色為脾家有積，小兒脈沉者為乳不消。</p>
<p>《內經》曰：飲食自倍，脾胃乃傷。小兒所患積症皆因乳哺不節，過食生冷堅硬之物，脾胃不能克化，停積中脘，外為風寒所傷，或因夜臥失蓋，致頭疼面黃身熱，眼胞微腫，腹痛膨脹，足冷肚熱，喜睡神昏，不思飲食，或嘔或噦，口噫酸氣，大便酸臭，此皆為積所傷。有食飽傷脾，脾氣稍虛，拘留難化，停而不去，遂成其積，積敗為痢。</p>
<p>仁齋曰：小兒有積，面目黃腫，肚熱脹滿，覆睡多困，叫啼不食或大腸閉澀，小便如油，或便利不噤，糞白而酸臭，皆積症也，然有乳積、食積、氣積、驚積，須當辨明。吐乳、瀉乳，其氣酸臭，此由啼叫未已，以乳與兒，停積不化，是為乳積。肚皮帶熱，渴瀉或嘔，此由飲食無度，多餐過飽，飽後即睡得之，是為食積。腹痛叫啼，痢如　渤，此因觸忤其氣，營衛不和，淹涎日久得之，是為氣積。有時時瀉下清水，如生草汁，是受驚而後有積，煩悶啾唧，常似生嗔，名為驚積，因受病日久而積成之。或額上有汗，喘息煩渴，潮熱往來，肚腹有熱，睡中覺腹內有物跳動者是也。然積有虛有實，虛則渾身微熱，不思飲食，昏昧神緩，抱起如睡；實則吐熱糞閉，囟腫喉塞，痰壅涎鳴，熱毒發瘡，推此可見矣。其傷乳傷食而身熱者，惟肚腹之熱為甚。人知傷積足冷肚熱，糞酸極臭，而夜間有熱，傷積之明驗，人所不知也。其或變症，面黑，瀉黑，久瀉未已，肚腹脹滿，氣出粗大，手心生瘡，瘦弱柔軟，皆不可療。小兒消積多用青皮，然青皮最能發汗，有汗者切勿多與之。小兒諸疾皆乳食無度，過於傷飽，以致不能克化，留而成積。初得之時，不問乳積、食積、氣積，進以消積丸，其驚以辰砂膏或青龍丸，量輕重而疏導之，仍以調氣和脾胃取愈。蓋脾胃已傷，又以藥傷之，使營運之氣減削，食愈難消，故致深劇。《五常政大論》曰：大毒治病，十去其六；小毒治病，十去其七；常毒治病，十去其八；無毒治病，十去其九。穀肉果瓜菜食養之，物必無使過之，傷其正也。凡人以胃氣為本，惟治病亦然。</p>
<p>小兒脾胃有虛有實，虛則嘔吐不食之症，實則痞滿內實之症。虛者益之，實者損之，欲得其平則可矣。胃虛用木香丁皮厚朴肉豆蔻之類，胃實用桔梗枳殼柴胡大黃等劑。若夫胃中停寒則停，薑官桂丁香，又不可缺，貴在酌量。但以大小分劑與之，夫是謂之平。蓋心者脾之母，進食不止於和脾，益火能生土，當以心藥入於脾胃中，庶幾得之，古人進食方劑多用益智者此也。</p>
<h4>附：傷食</h4>
<p>凡小兒飲食停滯中焦不化而發熱者必惡食也，或暖氣作酸，或惡聞食味，或欲吐不吐，或吐之不盡，或惡心，或氣短痞悶，或胃口作疼，或心下痞滿、按之則痛，此皆停食之候也。若感寒邪者，則左手人迎（左關）氣口（右關）俱大。</p>
<p>外症頭痛惡寒拘急，中脘痞滿、或吐或嘔或痛者，以藿香正氣散或人參養胃湯，或木香砂仁之類。若肉食不化，必加棠子（即山楂肉）末；面食不化者加神麯、麥芽；生冷肉食不化者加草果、砂仁、枳實、青皮主之。如食在胃口上，未入於胃，乃可吐之，不吐則消導之，待食下胃變化糟粕，外症已解乃可下其食也，宜三黃枳實丸。熱多者大柴胡湯，如無外感，但只傷食者方可下之。凡治夾食傷寒不可先攻其食，且先發散寒邪，次可消導之也。</p>
<p>〔附方〕</p>
<p><u>消積丸</u></p>
<p>　白朮　陳皮　青皮　益智　神麯　三棱　丁香　茴香</p>
<p><u>辰砂膏</u></p>
<p>　硼砂　辰砂　真珠　全蠍　馬牙硝（各一錢）　麝香（一匙）</p>
<p><u>青龍丸</u></p>
<p>　青黛　茯神　蘆薈　南星　麝香　輕粉　全蠍　朱砂為衣，薄荷湯下。</p>
<p><u>藿香正氣散</u></p>
<p>　藿香　厚朴　白芷　半夏　桔梗　茯苓　紫蘇　白朮　陳皮　大腹皮　甘草</p>
<p><u>人參養胃湯</u></p>
<p>　人參　半夏　陳皮　茯苓　蒼朮　厚朴　藿香　肉果</p>
<p><u>三黃枳實丸</u></p>
<p>　枳實　黃連　大黃　陳皮　白朮　黃芩　草豆蔻</p>
<p><u>大柴胡湯</u></p>
<p>　見瘧疾症內。</p>
<h3>傷寒</h3>
<p>總括　傷寒之候有多般，一概推詳便覺難；面目俱紅時噴涕，氣粗身熱是傷寒。</p>
<p>脈法，《難經》曰：傷寒之脈，陰陽俱盛而緊澀，浮澀而緊為傷寒。</p>
<p>傷寒傷風何以判，寒脈緊澀風浮緩。傷寒惡寒風惡風，傷風自汗寒無汗。陽屬膀胱並胃膽，陰居脾腎更連肝。浮長弦細沉微緩，脈症先將表裡看。</p>
<p>凡論脈息，若早晨小，至晚反大，病為未愈；若早晨大，至晚反小，病欲愈。所謂大則病進，小則病退也。</p>
<p>《內經》曰：人之傷於寒也，則為病熱，熱雖甚不死，若日傳二經病名兩感，兩感於寒者則不免於死矣。第大人與小兒病原治法雖相去不遠，然用藥不可太熱，蓋小兒系純陽之體。仲景云：春氣融和，夏氣炎熱，秋氣清涼，冬氣凜冽，此四時正氣之序也。冬時嚴寒，萬類深藏，君子固密，不傷於寒，觸冒之者乃名傷寒。其傷於四時之氣皆能為病。冬受寒毒之氣，其即時而病者，頭疼身疼肌熱惡寒，此為正傷寒。（自批：傷寒一日在太陽，腰脊頭痛不可當；二日陽明胃家熱，目痛鼻干眠不得；三日少陽傳膽經，胸脅疼痛耳聾鳴；四日太陰脾受病，腹滿咽乾傳裡應；五日少陰腎家病，口燥舌乾煩渴定；六日厥陰肝經盡，舌卷囊縮傳裡症。）其不即時病者，寒毒藏於肌膚之間，致春夏陽氣發生，則寒毒於陽氣相搏於榮衛之間，其病與冬時即病無異。但至春而發名曰瘟病，至夏而發名曰熱病。陽熱未盛，寒為所制，故病為溫。陽熱已盛，寒不能制，故病為熱，此均謂之傷寒也。又春時應暖而反寒，夏應熱而反冷，秋應涼而反熱，冬應寒而反溫，此非時而有其氣，病無長幼率相似者，此俗謂之天行是也。小兒感冒寒邪者，多因乳母解脫衣服，飲食起居不避風寒，或夏秋之間天氣盛熱，乳母當風取涼，致風寒之氣傷之，是以亦病傷寒也。然小兒是患此，口不能言其致病之由，脈不能診其必然之理，但只煩啼發熱而已，視之其不可盡心乎？故初得之時，以虎口指紋之紅色驗之。長而童稚，則以一指按其三關，按左手人迎之緊盛而斷之，斯得之矣！陶節庵曰：凡症有頭痛惡寒，皆是傷寒，無則皆非也，何則？傷寒惡寒，傷食惡食，理固然也。惟在冬時，惡寒殊甚，蓋冬時為正傷寒，寒風猛冽，觸之者惡寒殊甚。其余時月，雖惡寒亦微也。蓋冬時之氣寒，腠理微密，非辛溫不可，故以桂枝等藥治之。然風與寒常相因，寒則傷榮，惡寒頭痛，脈浮緊而無汗，則用麻黃湯開發腠理，以散邪得汗即愈。</p>
<p>風則傷衛，頭痛惡風，脈浮緩而自汗，則用桂枝湯先塞腠理以發邪，汗止即愈。</p>
<p>《經》曰：甘辛發散為陽者是也，若夫榮衛俱傷，又非此二湯所能治也，須大青龍湯。然此湯太峻，亦有可代之者，其非冬時，有惡寒頭痛之症，宜羌活沖和湯，辛涼之劑兼表裡以和之，兼可代大青龍湯也。過此則少陽陽明二經，在乎半表半裡（肌肉）之間，脈亦不沉不浮，外症至陽明則有咽痛、鼻干、不得眠之症，脈似洪而長以葛根升麻湯治之。在少陽則心脅痛而耳聾，脈見弦數，以小柴胡東加減而和解之。本方有加減法，此二經不從標本從乎中也，余常以小柴胡東加葛根、芍藥治少陽陽明俱病，如拾草芥，過此不已則傳陽明之本，為入裡矣，便作實熱治之。其外症悉罷，謂無頭痛惡寒，脈見沉實不浮，譫語惡熱，六七日不大便，口燥咽乾而渴，輕則大柴胡湯，重則大承氣湯選用。</p>
<p>《傷寒蘊要》曰：凡小兒傷寒則怕寒，拘急，發熱，合為一，翕翕然在表，晝夜不止，直待汗出方解，其惡寒惡風，必偎人藏身，引衣密隱，鼻塞多涕，是為表症，宜微汗之，解肌湯、蕭氏小青龍湯、敗毒散之類。惡熱內實者必出頭露面揚手擲足、掀衣氣粗煩渴燥糞，是為裡症，宜疏利之，小柴胡湯、四順飲之類。若頭額冷、手足涼、口氣冷、面色黯淡、瀉痢青白，是為陰症，宜與溫之，五積散、理中湯之類。重者四逆湯主之。夾驚者因驚之時而又感風邪，或因傷寒發熱，以致熱極生風，是熱乘於心。心主血脈，心神易動，為熱所乘，故發搐也，慎勿與治驚之劑，宜疏解之，王氏薄荷散、人參羌活散之類，甚者抱龍丸主之。夾食者先傷於寒，後傷於食，或先傷於食，後傷於寒，以致發熱氣粗，口氣噯氣，肚熱腹脹，上熱下冷或大便酸　，並宜解散，次與消導，甚則推蕩之，先用敗毒散，後用藿香正氣散加神麯、麥芽、棠　子、砂仁、香附之類。如不愈以大柴胡湯下之。</p>
<p>湯氏曰：大凡小兒傷寒治法，周歲以前，熱輕者服惺惺散，周歲以後須急解表，微汗為妙，在一晝夜得汗方保無虞。</p>
<p>今之醫士多不表汗，致令五六日不除，入於經絡，搏於血氣，變傳多症，或生驚風，漸致危篤，傷生害命，可不慎乎？然表裡不可不知，蓋表裡不分，汗下差誤。古人云：桂枝下咽，陽盛即斃；承氣入胃，陰盛乃亡。傷寒有表症、有裡症、有半在表半在裡症、有表裡二症俱見、有無表裡症。然表者宜汗，有裡者宜下，在半表半裡者宜和解，表裡俱見，隨症滲泄，無表裡者，大柴胡湯下之。</p>
<p>其表症者發熱惡寒，身首俱痛，無汗、脈浮、項強、腰脊痛，此足太陽膀胱經受病也，宜汗之。然傷寒發表，當隨病輕重而汗之。頭痛發熱兼驚，只用蔥白湯主之，甚則麻黃各半湯、解肌湯之類。</p>
<p>其表症惡熱不惡寒，手足心並腋下　汗出，胃中干涸，燥糞細聚，潮熱大便結，小便如常，腹滿而喘，煩躁而渴，脈實而滑，內熱而譫語，此屬足陽明胃經也，宜下之，可用大小承氣並四順飲、洗心散斟酌而用之。</p>
<p>其在半表半裡者，心下滿，口不欲食，大便堅，脈沉細，是裡症，當下。其人頭汗出，微惡寒，手足冷，即當汗。</p>
<p>此兩症俱見者，仲景所謂半在表半在裡也，小柴胡湯主之。太陽病不解，傳入少陽，脅下　滿，乾嘔不能食，往來寒熱，尚未吐下，診其脈弦緊者，小柴胡湯主之。此屬足少陽膽經也，宜和解之。其表裡兩症俱見者，病患脈浮而大，是表症，當汗，其人發熱，煩渴，小便赤，是裡症，當下，此是表裡症俱見，五苓散主之。又傷寒不大便，六七日頭痛有熱者，是裡症，當下；其人小便清者，知不在裡，仍在表，須當發汗，此是兩症俱見，即未可下，宜與桂枝湯。又太陽病，醫反下之，因而腹痛，是有表復有裡，仲景用桂枝加芍藥湯，痛甚者桂枝加大黃湯。或腹滿時痛，尺寸脈俱沉者，此屬足太陰脾經也，自利不渴當溫之，宜四逆湯、理中湯。</p>
<p>其無表裡症者，傷寒四五日，以後及至過經，無表裡症又無裡症，未可下，但非汗症，亦非下症者，皆用小柴胡湯，隨症加減用之。至十余日外，用小柴胡湯不愈者，若大便堅看可下，則用大柴胡湯下之。仲景云：六七日目中了了，睛不和，無表裡症，大便難，身微熱，此謂實也，宜當下大承氣湯；若不渴，不口燥、舌乾，而脈沉者，急溫之，宜四逆湯，此屬足少陰腎經也。</p>
<p>其表裡寒熱者，身大熱而反欲得衣，熱在皮膚，寒在骨髓也，宜先與溫膽湯。寒已，次以小柴胡東加桂以治其表。</p>
<p>又身大寒而反不欲近衣，寒在皮膚，熱在骨髓也，宜先與白虎東加人參，熱除，次以桂枝麻黃各半湯。又厥陰症，脈浮緩者，必囊不縮，外症必發熱惡寒似瘧為欲愈，宜桂枝麻黃各半湯。若脈尺寸俱沉短者，必囊縮，毒瓦斯入臟，宜承氣湯下之。厥陰病其脈微浮，為欲愈，不浮為未愈，宜小建中湯，此屬足厥陰肝經也。然以表裡症內，似三陰三陽之症，而疏於各症之下，非所以盡備六經之大法也，當以活人書《傷寒論》為主，其瘧症亦與大方同，其暑症玉露散主之，亦與大方同，第劑分大小耳。《口議》有脫甲散，大能散熱扶表，真良方也。</p>
<p>〔附方〕</p>
<p><u>麻黃湯</u></p>
<p>　見咳嗽症內。</p>
<p><u>桂枝湯</u></p>
<p>　見驚風症內。</p>
<p><u>大青龍湯</u></p>
<p>　桂枝　麻黃　石膏　杏仁　甘草　生薑　大棗</p>
<p><u>羌活沖和湯</u></p>
<p>　蒼朮　白芷　細辛　生地　羌活　防風　茯苓　川芎　甘草</p>
<p><u>葛根升麻湯</u></p>
<p>　升麻　葛根　芍藥　甘草</p>
<p><u>小柴胡湯</u></p>
<p>　見諸吐症內。</p>
<p><u>大柴胡湯</u></p>
<p>　見瘧疾症內。</p>
<p><u>大承氣湯</u></p>
<p>　見痢疾症內。</p>
<p><u>解肌湯</u></p>
<p>　干葛　桂枝　芍藥　麻黃　黃芩　甘草</p>
<p><u>小青龍湯</u></p>
<p>　麻黃　赤芍　半夏　細辛　乾薑　桂枝　五味　甘草</p>
<p><u>敗毒散</u></p>
<p>　見痢疾症內，或去茯苓用黃芩。</p>
<p><u>四順湯</u></p>
<p>　當歸　大黃　赤芍　甘草</p>
<p><u>五積散</u></p>
<p>　麻黃　蒼朮　陳皮　白芷　人參　茯苓　桂枝　桔梗　半夏　白芍　當歸　厚朴　川芎　乾薑　枳殼甘草</p>
<p><u>理中湯</u></p>
<p>　見驚風症內。</p>
<p><u>四逆湯</u></p>
<p>　附子　乾薑　甘草（炙）</p>
<p><u>薄荷散</u></p>
<p>　金櫻　葛根　薄荷　甘草　骨碎補</p>
<p><u>人參羌活散</u></p>
<p>　人參　羌活　赤芍　赤茯苓　柴胡　前胡　獨活　川芎　桔梗　甘草　蒼朮　枳殼</p>
<p><u>抱龍丸</u></p>
<p>　膽星　天竹黃　雄黃　朱砂　麝香　甘草為丸</p>
<p><u>藿香正氣散</u></p>
<p>　見積滯症內</p>
<p><u>惺惺散</u></p>
<p>　見諸吐症內。</p>
<p><u>蔥白湯</u></p>
<p>　葛根　芍藥　知母　川芎</p>
<p><u>桂枝麻黃各半湯</u></p>
<p>　見瘧疾症內。</p>
<p><u>小承氣湯</u></p>
<p>　大黃　枳實　厚朴</p>
<p><u>洗心散</u></p>
<p>　麻黃　大黃　白芍　當歸　白朮　荊芥　甘草</p>
<p><u>小柴胡湯</u></p>
<p>　見諸吐症內。</p>
<p><u>五苓散</u></p>
<p>　見驚風症內。</p>
<p><u>桂枝湯</u></p>
<p>　風驚風症內。</p>
<p><u>桂枝芍藥湯</u></p>
<p>　桂枝　干葛　芍藥　大棗　甘草</p>
<p><u>桂枝大黃湯</u></p>
<p>　桂枝　芍藥　大黃　甘草</p>
<p><u>溫膽湯</u></p>
<p>　竹茹　枳實　半夏　陳皮　甘草　生薑</p>
<p><u>白虎湯</u></p>
<p>　石膏　知母　人參　甘草　粳米</p>
<p><u>小建中湯</u></p>
<p>　膠飴　桂枝　芍藥　甘草　生薑　大棗</p>
<p><u>玉露散</u></p>
<p>　見霍亂症內。</p>
<p><u>脫甲散</u></p>
<p>　柴胡　當歸　膽草　茯苓　人參　知母　川芎　甘草</p>
<h3>熱症</h3>
<p>總括　發熱無過先有餘，次傳不足始成虛；身中有熱先除熱，熱裡逢虛先補虛。</p>
<p>脈法　脈沉而數者骨間有熱，欲以腹按清冷也，小兒八九至為發熱，浮大數風熱，有力為實，無力為虛。</p>
<p>《內經》曰：陽勝則外熱，陽虛則外寒，陰勝則內寒，陰虛則內熱，陰陽相勝則寒熱往來。</p>
<p>又曰：陽不足則先寒後熱，陰不足則先熱後寒，陰陽不歸其分，則寒熱交爭也。</p>
<p>又曰：肝熱病者左頰先赤，心熱病者額先赤，脾熱病者鼻先赤，肺熱病者右頰先赤，腎熱病者頤先赤，病雖未發，其症已先見於面矣。（自批：治六經熱方：治心熱用瀉心湯，治肝熱用瀉青丸，治脾熱用瀉黃丸，治肺熱用瀉白散，治腎熱用滋腎地黃丸，治小腸熱用導赤散。）夫熱有輕重不同，有所謂翕翕發熱者，若合羽取覆，其熱在外屬表，乃風寒客於皮膚，陽氣拂鬱所致，宜發汗而散之。有所謂蒸蒸發熱者，若熏蒸之氣，其熱在內，屬裡，乃陽氣下陷而入陰中也，法當攻下以滌之。表症未罷邪氣傳裡，裡未作實是為半表半裡之間，則表裡俱發熱而又輕於裡，純在表也。發熱惡寒發於陽也，無熱惡寒發於陰也。夫小兒生稟純陽，血氣壯實，五臟易生熱也，熱各有不同故治亦不同焉。</p>
<p>潮熱者或午時發熱，或日晡發熱，發時如潮水之應不差也。</p>
<p>《傷寒論》云：潮熱實熱也，當利大便。若虛症亦能潮熱，必須進以溫補之劑。脈實者宜大柴胡下之，脈虛浮數者百解散汗之，若發熱而嘔者小柴胡湯主之。</p>
<p>驚熱者遍身發熱，面青自汗，心悸不寧，脈數煩躁，顛叫恍惚，以錢氏驚風丸、安神丸主之。</p>
<p>夜熱者但夜間發熱，是陰中有陽邪也，宜進元戎四物二連湯。但夜間發熱症候多端，先要辨其虛實，明其表裡，方可投藥，若概用元戎湯不妥。</p>
<p>余熱者謂寒邪未盡之遺熱也。仁齋曰：傷寒汗下後而熱又來乃表裡俱虛，氣不歸元，陽浮於外，不可再用涼藥，蓋熱去則寒起，叔和解之詳矣。宜和胃氣，使陽氣收斂歸內，其熱自止，宜參苓白朮散主之。</p>
<p>食熱者手心熱，肚腹先熱，噯氣吐乳，大便酸臭，宜下積丸。</p>
<p>疳症者形瘦多渴，骨蒸盜汗，瀉泄無常，肚大腳弱是也，宜胡黃連之類，當參看疳積門調治之。</p>
<p>壯熱者一向不止，表裡俱熱，煩渴躁喘氣粗，甚則發驚癇也，宜火府丹、通聖散。</p>
<p>煩熱者心煩不安，五心煩熱，小便赤澀，宜一粒金丹主之。</p>
<p>積熱者眼胞浮腫，面黃足冷，發熱從頭至肚為甚，治法詳傷積論中。</p>
<p>風熱者呵欠面赤，風邪客於皮毛，入於臟腑，則惡風發熱，目澀多睡。陽氣有餘，身熱無汗；陰氣有餘，身寒有汗；陰陽有餘，無汗而寒。《素問》曰：汗出而身熱者，風熱也，宜清解散、犀角丸主之。</p>
<p>虛熱者因病後發熱無時，面色青白，困倦少力，瀉泄多尿，虛汗自出，恍恍神慢者是也。</p>
<p>凡病久則血氣虛，氣虛則發厥，血虛則發熱，氣血皆虛則手足厥而身熱也。宜服錢氏白朮散或四君子湯，甚者宜行從治之法，以薑附之類佐之，經所謂甘溫除大熱是也。</p>
<p>變蒸熱者，溫溫微熱，氣粗，驚，少吮乳，瀉黃，上唇尖有水珠狀是也，不必服藥。如兼他症者當以所感之候略為和解。</p>
<p>癖熱者，涎嗽飲水，由乳食不消，伏結於中致成癖塊也，詳在積聚門中矣。</p>
<p>寒熱者，症如瘧狀，陰陽相勝也，詳瘧症篇。</p>
<p>血熱者，《全嬰方》云：已午間熱，遇夜則涼是也，服六合湯。</p>
<p>麻痘熱者，面赤足冷，身發壯熱，呵欠煩悶，咳嗽腰疼，嘔吐作驚，腹痛自痢，中指鼻尖耳冷是也。</p>
<p>〔附方〕</p>
<p><u>瀉心湯</u></p>
<p>　黃連一兩為末，清水調服五分。</p>
<p><u>瀉青丸</u></p>
<p>　見驚風症內。</p>
<p><u>瀉黃丸</u></p>
<p>　藿香　山梔　石膏　防風　甘草</p>
<p><u>瀉白散</u></p>
<p>　見咳嗽症內。</p>
<p><u>滋腎地黃丸</u></p>
<p>　黃柏　知母　桂枝</p>
<p><u>導赤散</u></p>
<p>　見驚風症內。</p>
<p><u>大柴胡湯</u></p>
<p>　見瘧疾症內。</p>
<p><u>小柴胡湯</u></p>
<p>　見諸吐症內。</p>
<p><u>百解散</u></p>
<p>　干葛　麻黃　黃芩　桂枝　赤芍藥　甘草</p>
<p><u>涼驚丸</u></p>
<p>　黃連　防風　川芎　薄荷　大黃　膽草　蜜丸，青黛為衣。</p>
<p><u>安神丸</u></p>
<p>　見疳積症內。</p>
<p><u>元戎四物二連湯</u></p>
<p>　當歸　芍藥　川芎　黃連　生地　胡黃連</p>
<p><u>參苓白朮散</u></p>
<p>　見諸瀉症內。</p>
<p><u>下積丸</u></p>
<p>　丁香　砂仁　川巴豆　使君子</p>
<p><u>火府丹</u></p>
<p>　生地　木通　黃芩　甘草</p>
<p><u>通聖散</u></p>
<p>　防風　荊芥　當歸　芍藥　薄荷　黃芩　連翹　石膏　滑石　川芎　麻黃　桔梗　朴硝　山梔　大黃白朮　甘草</p>
<p><u>一粒金丹</u></p>
<p>　人參　犀角　琥珀　玳瑁　防風　茯苓　冰片　朱砂　寒水石　甘草　米糊為丸，金箔為衣，麥冬湯下。</p>
<p><u>清解散</u></p>
<p>　防風　天麻　前胡　茯苓　桔梗　枳殼　細辛　柴胡　川芎　甘草</p>
<p><u>犀角丸</u></p>
<p>　犀角　珍珠　防風　羌活　茯神　大黃　天竺黃　朱砂　甘草　立夏前宜服。</p>
<p><u>錢氏白朮散</u></p>
<p>　人參　白朮　茯苓　藿香　干葛　木香　甘草</p>
<p><u>四君子湯</u></p>
<p>　見驚風症內。</p>
<p><u>六合湯</u></p>
<p>　當歸　川芎　大黃　熟地</p>
<h3>痧症</h3>
<p>總括　斑症總言因胃熱，赤生黑死分明別；忽如錦片出肌膚，濕毒發時別兩脅。</p>
<p>脈法　脈陽浮而數，陰實而大。</p>
<p>《內經》曰：少陰所致為瘍疹。夫少陰所致者，君火有餘，熱令火行，戊子戊午之歲也，在人則心主之。心火太過則制己所勝，而燒灼肺金。又肺主皮毛，故紅色如錦，見於皮膚之間，心火侮而乘之之色也。</p>
<p>《經》又曰：疹屬於脾。故《金鏡錄》謂毒盛於脾，熱流於心，乃知心脾肺俱受病而發者，其欲出之時，腮紅眼赤，壯熱憎寒，身體疼痛，嘔吐泄瀉，咳嗽煩渴是其候也。當服開豁腠理湯，使之易出。如頭面愈多，鮮明勻淨，精神爽朗，吉之兆也，服前藥即愈矣。若痧色紫紅干燥暗晦，或未出透，身熱煩悶，聲啞喘急，隱隱不出，出而復隱，此危急之兆也。（批：看時氣加之，有云：火熱入內，血化為斑。）急將前方加炒黑麻黃、羌活之類發之，如不復出，或喘更甚，此不治之症也。</p>
<p>《活幼心書》曰：斑症有二，有瘟毒發斑，有胃爛發斑。瘟毒發斑者其癮疹如錦紋片，出於兩腋之下，兩腋者氣之道路，故瘟毒隨氣之道路而先出，其症咳嗽煩悶或嘔清水，此因冬時感冒寒毒，停於肌肉之間，至春陽氣發動而行於外，名為瘟毒發斑，以百解散及牛蒡東加陳皮、黃連之類。</p>
<p>胃爛發斑，初因傷寒下早，熱毒乘虛入裡，乃當下而不下，亦致熱毒內蒸於胃，胃受熱毒則發於皮膚。斑之赤者可療，黑者十死一生，治法同前。其病大便堅燥，不可輕用藥下之，或用蜜煎豬膽導之，則自來矣。如微瀉者不必治之，正假此以泄熱毒也。若痧發後瀉痢不止，此又熱毒下陷之故，當以五苓散去桂加芩、連、芍藥、木通之類，毒解熱退瀉痢自止，不可用燥澀溫補之劑。古人云：可汗不可下，可表不可補是也。</p>
<p>痧後壯熱氣促不止者，此余毒留連未盡也，須用解火清金之劑，以竹葉、石膏、門冬、知母、芩、連、玄參、桔梗、陳皮、枳殼、天花粉、牛蒡之類。</p>
<p>痧後咳嗽不止者，二陳加栝蔞、桔梗、玄參、黃芩治之。渴則門冬、花粉，喘則蘇子、桑皮可也。</p>
<p>痧出過三日後不沒者，此內有實熱也，加清利之藥則自消矣，四物東加芩、連、牛蒡之類。</p>
<p>凡出痧之時，大忌生冷葷腥之食、風寒水濕之氣，苟有不謹，最為深患。間有犯之而獲愈者，此內稟之氣實，外感之邪輕耳。余雖不敏，驗之屢矣，當慎守此戒。</p>
<p>有一種初出淡紅潤色，酷似痘疹，但粒頭尖小為異，此為赤痘。有初出尖小而頭白光亮有清水，此為水痘，此二者皆屬心火流於脾肺，最為易出易靨，極稱輕症。但恐變瘡瘍，膿水潰壞，此皆不避風絕葷耳，以四物加荊芥、防風、芩、連之類。</p>
<p>〔附方〕</p>
<p><u>開豁腠理湯</u></p>
<p>　陳皮　天花粉　防風　荊芥　桔梗　枳殼　前胡　干葛　紫蘇　羌活　甘草　升麻</p>
<p><u>百解散</u></p>
<p>　見熱症內。</p>
<p><u>牛蒡湯</u></p>
<p>　牛蒡　大黃　防風　荊芥　薄荷　甘草</p>
<p><u>五苓散</u></p>
<p>　見驚風症內。</p>
<p><u>二陳湯</u></p>
<p>　見諸吐症內。</p>
<p><u>四物湯</u></p>
<p>　見痢疾症內。</p>
<h3>喘症</h3>
<p>（附：　）</p>
<p>總括　喘為惡候古今傳，氣急形症看須詳；白虎梅花自解急，一服可散病必痊。</p>
<p>脈法　脈浮遲滑人生活，澀數微虛命必傾，脈宜浮遲不宜急，脈數有熱喘咳吐血，上氣不得臥者死，上氣面浮腫有息，脈浮大不治，又加刺尤甚。</p>
<p>《內經》曰：諸逆衝上，皆屬於火。又曰：起居如故而息有音者，此肺之脈絡逆也。</p>
<p>河間曰：火氣甚為夏熱，衰為冬寒，故病寒則息衰而氣微，病熱則氣盛而息粗。又寒水為陰，主乎遲緩；熱火為陽，主乎急數。是以寒則息遲氣微，熱則息數氣粗而為喘也。大抵哮以聲響名，喘以氣息言，促以氣短論也。夫喘促喉中如水雞聲者謂之哮，氣促而連續不能以息者謂之喘，雖然，未有不由痰火內郁、風寒外來而致者。有傷寒肺氣壅盛發喘者是表不解也，以麻黃、杏仁、甘草、石膏之類，辨真寒熱而治之。</p>
<p>有傷風咳嗽肺虛而發喘者，以麻黃杏仁甘草三物東加減而治之。</p>
<p>其因驚發喘，逆觸心肺，暴急張口，虛煩神困則以化痰定喘丸主之。</p>
<p>又有哮吼喘者，喉間如拽鋸之聲，可服梅花飲子。其食鹽酸而喘者，啖之以生豆腐。有熱者治之以清涼定喘之劑。</p>
<p>凡喘與脹二症相因，必皆小便不利，喘則必生脹，脹必生喘。要分標本先後，如先喘而後脹者主乎肺，先脹而後喘者主乎脾。蓋肺金司降，外主皮毛，肺朝百脈，通調水道，下輸膀胱。肺既受邪則失降下之令，故小便漸短，致水溢皮膚而生脹滿，此則喘為本而脹為標，治當清金降火為主，而行水次之。脾土惡濕而主肌肉，土能克木。若脾土受傷，不能制水，則水溢妄行，浸漬肌肉。水既上溢，則邪反侵肺，氣不能降而生喘矣。此則脹為本而喘為標，治當實脾行水為主，而清金次之。若肺症而用燥脾之藥，則金燥而喘愈甚。脾病而用清金之藥則脾寒而脹益增矣，可不辨哉。</p>
<p>丹溪曰：久病發喘，故用人參、阿膠、五味；新病氣實，故用桑白皮、麻黃、杏仁。</p>
<p>有痰者，凡喘便有痰聲，降痰為先。有氣喘者，呼吸急促而無痰聲，降氣為主。</p>
<p>有胃虛者，抬肩擷肚，喘而不休，和胃消痰為主。有火痰者，乍進乍退，得食則減，食已則喘，降火清金為主。</p>
<p>上氣燥而喘者為肺脹，欲作風水，發汗則愈。一云咳而上氣肺脹，其脈沉，心下有水氣也。</p>
<p>（批：喘有三，熱喘發於夏，不發於冬；冷喘則遇冬而發；水喘停飲，胸膈滿悶，腳先腫也。）</p>
<p>錢仲陽曰：腫脹內有大喘者，重也。何以然？腎水盛而克退脾土，土勝心火，心又勝肺，肺為心克故喘。或問曰：心刑肺，肺本先虛，今何喘實？曰：此有二，一者肺水喘，此五臟之逆。二者腎水氣逆上行，旁侵於肺，故令大喘，此皆難治。</p>
<p>〔附方〕</p>
<p><u>化痰定喘丸</u></p>
<p>　雄黃　朱砂　蟬衣　全蠍　僵蠶　南星　白附　輕粉</p>
<p><u>梅花飲子</u></p>
<p>　硼石　芒硝　人參　甘草　辰砂　麝香　馬牙香　冰片　末之，以瓷器貯好，麥門冬湯下，氣喘咳嗽桑白皮湯下，平時薄荷湯下。</p>
<h4>附：</h4>
<p>總括　小兒　為啼時，食以酸鹹又乳之，因是肺經傷水濕，風痰結聚早為醫，諸病原來有藥方，惟愁　最難當，麻黃桑杏尋蘇子，白果冬花更又良，甘草黃芩同半夏，水煎百沸必須薑，病患遇此仙方藥，服後方知定喘方。</p>
<p>一症，本為寒濕所浸，未經發散，邪傳心肺，變而為熱。有熱生風，有風生痰，痰結不化，因循日久，成為軟塊，圓如豆粒，遂成痰母。推本其原，或啼哭未休，遽與乳食，或食以酸鹹，氣鬱不利，致令生痰，或節令變遷，風寒暑濕襲之，或墮水中，水入鼻口，傳之於肺，故痰發而風隨之，風痰潮緊，氣促而喘，乃成痼疾，急宜去風化痰，以知母湯、如意膏治之。</p>
<p>〔附方〕</p>
<p><u>知母湯</u></p>
<p>　訶子　知母　貝母　羌活　滑石　大黃　麻黃　葶藶　甘草</p>
<p><u>如意膏</u></p>
<p>　半夏　赤茯苓　枳殼　朴硝　用硝風化，以生薑打糊為丸，綠豆大，淡薑湯下。</p>
<h3>症</h3>
<p>總括　原來　病屬膀胱，口噤如癇身反張；此是傷風感寒濕，故分病症有柔剛。</p>
<p>脈法　太陽病發，其脈沉而細者為痙。</p>
<p>《內經》曰：諸痙項強皆屬於濕。又曰：諸暴強直皆屬於風。《原病式》曰：筋勁強直而不柔和也，夫肝木屬風而主筋。《經》曰，諸暴強直皆屬於風，理宜然也。其所謂諸痙項強而屬於濕者何與？蓋太陽經濕甚則兼風，化亢則害，承乃制也，故知痙之為病，濕為本，風為標耳，其症項背強直，腰身反張，垂頭螈　，口噤不語，發熱腹痛，鎮日不醒，其狀可畏，病在足太陽經。剛痙無汗，柔痙有汗。其症面紅眼赤，牙緊口張，痰涎壅盛，昏潰煩渴，小便赤澀，先譫語而發者，此剛痙也；其大便滑泄，不渴不語，先手足冷而發者，此柔痙也。柔痙為之解肌，剛痙為之發汗，並以小續命東加減療之。其間一症，身體壯熱，譫語，口乾，手足反微寒，大便滑泄，此為剛柔不反之症。無汗干葛湯主之，有汗桂枝加葛根湯主之。無汗則用麻黃，有汗慎勿用也。若痰塞氣盛則南星、半夏、茯苓以消其痰，枳實、陳皮、紫蘇以順其氣。痰消則風止，氣順則神清，然後察熱之輕重而解利之。熱輕者敗毒散，熱重者小柴胡湯解之。壯熱有汗、胸滿、口噤、切牙而大便秘者為內實，大承氣湯下之，後用大柴胡湯解之。痙最難痊，十救其一，過三日則難治。</p>
<p>（自批：痙則齊身強直，癇則手足冰冷。強直反如弓，神昏似中風，涎流唇口難，螈　與癇同。）</p>
<p>剛柔二痙，如陰隔陽、陽隔陰之類。</p>
<p>補遺：此痙多由亡血，筋無所榮，故邪得以襲之，所以傷寒汗下過多，與夫病瘡人及產後致此病者概可見矣。</p>
<p>《內經》云：太陽所謂強直引背者，陽氣太上而爭，故強上也，出「脈解」篇。足少陰之筋循脊內挾背上至項，其病主癇　反痙，在外者不能俯，在內者不能仰。故陽病者，腰反折不能俯；陰病者，不能仰，治在燔針。</p>
<p>〔附方〕</p>
<p><u>小續命湯</u></p>
<p>　麻黃　人參　黃芩　川芎　芍藥　杏仁　防己　肉桂　防風　附子　甘草</p>
<p><u>葛根湯</u></p>
<p>　見驚風症內。</p>
<p><u>敗毒散</u></p>
<p>　見痢疾症內。</p>
<p><u>小柴胡湯</u></p>
<p>　見諸吐症內。</p>
<p><u>大承氣湯</u></p>
<p>　見痢疾症內。</p>
<p><u>大柴胡湯</u></p>
<p>　見瘧疾症內。</p>
<h3>癇症</h3>
<p>總括　六種驚癇陰與陽，胎狂六畜食留藏；痰迷胞絡心神亂，至寶安神壯志湯。</p>
<p>脈法　脈弦為風癇，脈浮為陽癇，脈沉為陰癇。</p>
<p>凡癲狂脈虛者可治，脈實者死。又小兒脈緊者是風癇，如雀啄者。風癇，又云驚風三次便為癇。虎口脈紋如弓反外者主痰熱，夾驚，夾食，睡臥不穩，風癇之症。</p>
<p>《內經》曰：巨陽之厥則首腫頭重，足不能行，發為　仆，是蓋陽氣逆亂，故令人卒。然暴仆而不知人，氣復則醒，此則癇之類也。小兒為風邪所傷，驚怪所觸，乳哺失節，停滯經絡，故成癇也。其候神氣拂鬱，瞪眼直視，面目牽引，口噤涎流，肚腹緊張，手足搐掣，似生似死，或聲或默，或項背反張，或腰脊強直，但四肢柔軟，發而時醒者為癇。若一身強硬，終日不醒，則為痙　矣。所謂六畜癇者，咽喉風痰所梗，聲自如此，其理甚明，謂之六畜，特強名耳。</p>
<p>又稱五癇，病關五臟，當察五臟之色，觀五臟之症，合之心中便了了矣，總之為驚、風、食三種治之。</p>
<p>驚癇者，震駭恐懼，打墜積驚，其初驚叫犬啼，恍惚失魂是也。</p>
<p>風癇者，汗出解脫，風邪乘虛，其初屈指如計數，有熱生風是也。</p>
<p>食癇者，食時得驚，停宿結滯，其初吐乳不哺，大便酸臭，或結成乳癖，先寒後熱者是也。</p>
<p>又有陰陽之別。陽病脈浮，面色光澤，病在六腑，身體有熱，抽掣啼叫是也，易治；陰病脈沉，面色黯晦，病在五臟，身體無熱，手足清冷，不抽掣啼叫是也，難治。或以仰臥屬陽，覆臥屬陰亦可參驗。蓋陽症不可用溫，陰症不可用寒也。</p>
<p>有狂癇者，亦屬陽症。《難經》曰：重陽則狂。至長，成小兒才發時，妄言不食而歌，甚則逾牆上屋，棄衣而走，或一日或二日方醒，始因冒熱感風，風熱內蓄，久則風痰壅結，上迷心也。蓋心乃神之舍，偶為邪熱攻逼，則神失守而昏亂，名曰狂癇。當疏風化熱，清心平肝，鎮心下痰可也。</p>
<p>癇症皆因神氣未固，驚則神不守舍。或飲食失節，脾胃受傷，積為痰飲，以致痰迷心竅而作。治法當尋火尋痰而治，宜服鎮驚清心之劑。如痰涎膠固者，此藥未能驅逐。在上者用吐法，吐後方用前藥，痰實在裡者亦須下之。</p>
<p>補遺癲癇即頭眩也，痰在膈間則眩微不仆，痰溢膈上則眩甚仆倒於地而不知人，名曰癲癇。徐嗣伯曰：大人曰顛，小人曰癇，其是一疾也。但癇症中作聲及醒時吐涎沫，醒後又再發，時作時止而不休為異耳。</p>
<p>《內經》曰：人生而有癲疾者，名曰胎病，此得之在母腹中時，其母有所大驚，氣上而不下，積氣並居，故令子驚為顛疾。</p>
<p>又《內經》曰：春脈者肝也，春脈太過，為病在外，善怒，忽眩冒而癲痰，脈來弦實而強為太過，甚則忽忽善怒，眩冒而癲痰。</p>
<p>〔附方〕</p>
<p><u>胎癇正發之劑</u></p>
<p>　天將子　天麻　蠍梢　防風　辰砂　麝香　末之，乳汁調服。</p>
<p><u>安心神之劑</u></p>
<p>　菖蒲　石膏　犀角　人參　遠志　茯苓　白蘇子　甘草</p>
<p><u>疏熱解表清利之劑</u></p>
<p>　獨活　羌活　天麻　人參　荊芥　防風　川芎　甘草</p>
<p><u>化風丹</u></p>
<p>（治口噤身反目直吐涎）　人參　南星　天麻　羌活　獨活　防風　川芎　荊芥　甘草</p>
<p><u>鐵粉丸</u></p>
<p>（治癇發無時，吐沫心悶）　龍齒　輕粉　天麻　南星　沒藥　牛黃　麝香</p>
<p><u>豬膽南星散</u></p>
<p>　用南星一味，濕紙裹煨，研末，將雄豬膽汁調化，連服之。</p>
<p><u>牛黃膏</u></p>
<p>　南星　全蠍　蟬蛻　僵蠶　天麻　白附子　防風　麝香</p>
<p><u>鎮心丹</u></p>
<p>　辰砂五錢為細末，用豬心血和勻，以蒸餅裹劑蒸熟，取出為丸，如桐子大，每服十丸，臨臥時服。</p>
<h3>積聚</h3>
<p>總括　積常有處聚無常，　有明形瘕假肌；四病所生俱是積，身中氣血各遭傷。</p>
<p>脈法　小兒脈伏結為物聚。</p>
<p>錢氏曰：小兒脈沉細為癖積。</p>
<p>脈經曰：脈來細而附骨者積也。</p>
<p>《內經》曰：積聚留飲痞膈，中滿濕積，霍亂吐下，　瘕堅硬腹滿，皆太陽濕土，乃脾胃之氣積聚之根也。</p>
<p>丹溪曰：塊乃有形之物，氣不能成形，痰與食積死血也。在中為痰飲，在右為食積，在左為死血，治法行氣開血為主。按此大略之言不可大拘也。夫小兒熱氣蘊於胸膈之間，留飲聚於腰脅之內，由是榮衛不能流行，臟腑不得宣通，脹滿而致癖結，勢使然耳！或時發壯熱是也。故瘧家中脘多蓄黃水，日久而後結癖，寒熱不已者，以此大抵臟腑和平，榮衛調暢則津液自然流通，縱使多飲水漿不能為病，惟乳食失節，三焦關膈，以致水漿停滯，腸胃不得宣行，冷氣搏之，乃結聚而成癖也。治療之法實則水晶丸下之，候所作形症消盡，便可攻補兼施。《經》云：大積大聚乃可攻也，衰其半而止之是也。氣弱者先調脾胃，如前下之，若虛甚用三棱散、化癖丸漸消之，順適陰陽，以平為期，然先補後瀉，行迎奪之法，去其陳寒冷積，若面黃唇白，發豎肌瘦，乃為虛極不可輕下，徐徐用藥消化調理為上，古人所謂養正則積自除也。積症寒熱似瘧，肚腹疼痛，面黃肌瘦，其候未可作瘧治，又不可峻取，亦不可太補。峻取則耗散元氣，津液虛損；太補則積溫成熱，轉生他症。治先發散，調和中氣，緩急次序下之，勿傷其胃。</p>
<p>（批：久瘧後腹中有塊者宜服藿香正氣散，用二陳東加柴胡葛朴蘇青檳果楂，先發散之，然後服鱉甲散治之，然亦漸加人參之類以保其元氣。）</p>
<p>〔附方〕</p>
<p><u>治瘧癖</u></p>
<p>　生地　白芍　陳皮　川芎　黃芩　半夏（以上各一錢）　甘草（五分）　酸炙鱉甲（二錢）　水薑煎服。</p>
<p><u>水晶丸</u></p>
<p>　南星　半夏　滑石　益智　巴豆霜</p>
<p><u>三棱散</u></p>
<p>　見諸吐症內。</p>
<p><u>化癖丸</u></p>
<p>　陳皮　莪朮　三棱　青皮　枳殼　檳榔　白朮　丁香　細辛　廣木香</p>
<p><u>藿香正氣散</u></p>
<p>　見傷積症。</p>
<p><u>二陳湯</u></p>
<p>　見諸吐症。</p>
<p><u>鱉甲散</u></p>
<p>　見瘧疾症內。</p>
<h3>黃膽</h3>
<p>總括　發黃暑濕蒸脾得，內外因分治最良；更有胎元生便見，切宜多服地黃湯。</p>
<p>脈法　脈沉，渴欲飲水，小便不利，皆發黃。凡發黃，寸口無脈，鼻氣冷，並不可治。</p>
<p>《內經》曰：中央黃色，入通於脾。又曰：諸濕腫滿皆屬於脾土。夫黃膽為病，肌肉必虛腫而色黃，蓋濕熱鬱積於脾胃之中，久而不散，故土色行於面與肌膚也。脾主肌肉，肺主皮毛，母能令子虛，母病而子亦病矣。故有諸中者必形諸外。其症雖分為五，終無寒熱之異。</p>
<p>丹溪曰：同是溫熱如　曲相似，正經所謂知其要者一言而終是也。外有傷寒熱病，陽明內實，失於汗下，故使濕熱拂鬱內甚，令人發黃病也。或有疳瀉亦主皮黃發豎，肚青筋肌肉消瘦身必發黃。此因疳而有是症，仍以疳症治之自愈。</p>
<p>治疸之法用五苓散倍加菌陳服之，或茵陳湯及茯苓滲濕湯之類，無不應手獲效。又曰濕在上宜汗、在下宜利小便，或二法並用，使上下分消。</p>
<p>又有小兒生下，遍體俱黃，惟面目　濃如金色，身發壯熱，名為胎黃，因未產之前母受極熱，母子俱宜服生地黃湯。</p>
<p>疸有五：有黃膽、有黃汗、有酒疸、有穀疸、女勞疸。</p>
<p>〔附方〕</p>
<p><u>五苓散</u></p>
<p>　見瘧疾症內。</p>
<p><u>茵陳湯</u></p>
<p>　茵陳蒿（一兩）　梔子（三大枚）　大黃（三錢）</p>
<p><u>茯苓滲濕湯</u></p>
<p>　黃連　黃柏　梔子　防己　白松　蒼朮　青皮　陳皮　枳實　茵陳　澤瀉　豬苓　赤茯苓</p>
<p><u>生地黃湯</u></p>
<p>　生地　赤芍　川芎　當歸　天花粉</p>
<p><u>白玉散</u></p>
<p>（治酒疸）　黑丑　甘遂（各五錢）　水煎五更時服。</p>
<h3>諸血</h3>
<p>總括　九道何為血妄行，只因抑鬱熱邪生；隨經施治明虛實，氣順如常血自行。</p>
<p>脈法　吐血脈滑小弱者生，實大者死。</p>
<p>《內經》曰：清者為榮，濁者為衛。榮行脈中，衛行脈外。蓋榮者水穀之精氣也，和調於五臟，洒陳於六腑，故能入於脈。夫榮者陰血也，所注在心，統化在脾，藏納在肝，宣布在肺，輸瀉在腎。灌溉一身，滋養百脈。諸經由此而生毓焉。然血之所統者氣也。氣主　之，血主濡之，是以氣行則血行，氣止則血止，陽生陰長，夫倡婦隨之道也。若氣一傷則變症百出，故妄行則吐衄，衰涸則虛勞，降下則便紅，熱陷則溺赤，滲於腸胃則為腸風。陰虛陽搏則為崩漏，此皆氣有殄戾之乖，而血有滲溢之患也，養陰者可不先知養陽之道乎。</p>
<p>巢氏曰：吐血者是熱氣盛而血虛，熱乘於血，血性得熱則流散妄行，氣逆則血隨氣上，故令吐血也。或食飽之後，脾胃內冷不能消化，忽吐所傷之物，氣血相沖，因傷肺胃亦令吐血。若久嗽氣逆，面目浮腫而吐血，是肺虛損也，服柏枝飲、犀角地黃湯。</p>
<p>衄血者是五臟熱結所為也，血隨氣行，通流臟腑，冷熱調和，不失常道，無有壅塞，亦不流溢，血得寒而凝結，得熱而流散，熱乘於血，血隨氣發溢，出於鼻竅也。又有因傷寒瘟疫，諸陽受病不得發越，熱毒停聚五臟，故從鼻出也，龍膽丸、柏皮湯、膠黃散治之。</p>
<p>大便下血者，是大腸熱結，損傷所為也。臟氣既傷，風邪自入，或蓄熱，或積冷，或濕熱藏於脾胃，或疳食傷於臟腑，因茲疳熱冷濕互作，致動血氣停流於內，凝聚無歸，滲入腸中，故大便下血也。或有腹脹，冷氣在內攻，亦令大便下血。又因風冷乘虛，客入脾胃，或瘀血在於腸間，濕毒下如豆汁。又疳傷於臟，亦能便血。若上焦心肺積熱，流注於大腸，亦令大便下血也。</p>
<p>亡血者，脾熱必渴，久則血虛，其人必肌體萎黃，頭發不黑，宜五倍丸服之。</p>
<p>溺血者，蓋心主血，與小腸相合，血之流行，周遍經絡，循環臟腑，若熱聚膀胱，血滲入胞，故小便出血也，火府丹服之。如實熱用清心蓮子飲，虛熱用六味地黃丸。</p>
<p>（批：血溢、血泄、諸蓄妄症，其治也，當以大黃、桃仁行血破瘀之劑，折其銳氣而後區別治之。善醫者每治失血蓄妄，必先以快藥治之。或問失血復下，虛何以當？曰：血既妄行，迷失故道，不去蓄利，以妄為常，曷以御之，且去者自去，生者自生。）</p>
<p>補遺：</p>
<p>《內經》曰：陽明厥逆，喘嗽身熱，善驚、衄血、吐血。又曰：脾遺熱於肝，則為驚衄。胞移熱於膀胱，則為癃而溺血。小兒吐血者，榮衛氣逆也，榮衛相濟，不失常道，有所勝則致妄行血水也，決東則東、決西則西。氣之使血，其勢然也。</p>
<p>〔附方〕</p>
<p><u>柏枝飲</u></p>
<p>（治吐血衄血）　干柏枝　干藕節　為末入蜜，沸湯調下。一方加白芍、犀角汁同服。</p>
<p><u>犀角地黃湯</u></p>
<p>　犀角　赤芍　丹皮　生地</p>
<p><u>龍膽丸</u></p>
<p>（止血）　黃連　膽草</p>
<p><u>枯皮湯</u></p>
<p>　柏皮　山梔　甘草</p>
<p><u>膠黃散</u></p>
<p>（治口鼻耳出血）　阿膠（一兩）　蒲黃（五錢）加生地汁服。</p>
<p><u>五倍丸</u></p>
<p>　以五倍末之，蜜丸，綠豆大，一歲用十丸，米湯空心下。</p>
<p><u>火府丹</u></p>
<p>　見熱症內。</p>
<p><u>清心蓮子飲</u></p>
<p>　黃芩　門冬　骨皮　甘草　車前子　石蓮　茯苓　黃　柴胡　如虛加人參。</p>
<h3>頭痛</h3>
<p>（附：頸項強痛）</p>
<p>總括　頭痛先須辨六經，濕痰風火夾邪侵；氣虛血少兼寒濕，識者尤當審厥真。</p>
<p>脈法　《脈經》云：陽熱則頭疼。又曰：寸口脈浮，中風發熱頭痛，脈緊頭痛是傷寒，脈緊上寸口者風頭痛。《脈訣》云：頭痛短澀應須死，浮滑風痰皆易除。</p>
<p>《內經》曰：寸口脈中短者曰頭痛。</p>
<p>子和曰：頭痛不止，夫三陽受病，皆胸膈有痰之致，蓋指病之壅鬱於上而言也。</p>
<p>《內經》曰：春氣者病在頭，蓋天氣在上，知病氣亦升於上也，其法當吐，謂吐之所以宣達在上之邪。</p>
<p>仲景云：大法春宜吐是也，此特治頭痛之一法耳。按頭痛之症有自外而生者，如風寒暑濕之邪；有自內而生者，如氣血痰飲之動。然人有三陽三陰之異，而又皆以風藥治之者，總其大體而言之，高巔之上，惟風可到耳。故太陽頭痛者，惡風寒，脈浮緊，痛在巔頂兩額角；少陽頭痛者往來寒熱，脈弦，痛連耳根；陽明頭痛者，發熱自汗，脈浮長大，痛連目頰齒；太陰頭痛者，必有痰，體重或腹痛，脈沉，頭重；少陰頭痛者，足冷氣逆為寒厥，脈沉細；厥陰頭痛者吐痰沫厥冷，脈浮緩，痛引目系，此六經頭痛多挾外邪者也。血虛頭痛者，自魚尾上攻頭痛也；氣虛頭痛者，耳鳴九竅不利也；真頭痛者，痛甚入連於腦，手足寒至節，旦發夕死、夕發旦死也。</p>
<p>有厥逆頭痛者，所犯大寒內至骨髓，髓者以腦為主，腦逆故令頭痛齒亦痛也。</p>
<p>痰厥頭痛者，頭苦痛如裂，眼黑頭旋惡心，煩悶，目不敢開，如在風云中，此足太陰痰厥頭痛也。凡此之類，種種不同，更　大方，究其所因，斯無一偏之弊矣。</p>
<p>丹溪云，頭痛大率屬痰，甚者火多，有可吐者可下者。腎虛則頭痛，肝虛則頭暈。</p>
<p>〔附方〕</p>
<p><u>太陰經頭痛方</u></p>
<p>　本　川芎　羌活　獨活　麻黃</p>
<p><u>少陽經頭痛方</u></p>
<p>　柴胡　半夏　黃芩　人參　甘草</p>
<p><u>陽明經頭痛方</u></p>
<p>　升麻　芍藥　干葛　甘草　加石膏、白芷煎服。</p>
<p><u>太陰經頭痛方</u></p>
<p>　蒼朮　半夏　南星　川芎　蔓荊子</p>
<p><u>少陰經頭痛方</u></p>
<p>　麻黃　附子　細辛</p>
<p><u>厥陰經頭痛方</u></p>
<p>　麻黃　羌活　吳茱萸　本　升麻　黃　黃連　黃芩　當歸　黃柏　川芎　細辛　柴胡半夏　紅花　蒼朮　蔓荊子</p>
<p><u>芎歸湯</u></p>
<p>　即四物湯去地黃、芍藥，一方加柴胡、羌活、酒芩、蔓荊子</p>
<p><u>四君子湯</u></p>
<p>　人參　白朮　茯苓　甘草</p>
<p><u>羌活黑附湯</u></p>
<p>　麻黃　僵蠶　黃柏　羌活　蒼朮　防風　甘草　升麻　白芷　黃　黑附子</p>
<p><u>痰厥二陳湯</u></p>
<p>　加減　陳皮　半夏　蔓荊子　蒼朮　南星　防風　茯苓　甘草</p>
<h4>附：頸項強痛</h4>
<p>總括　項病原來風濕居，失枕閃挫亦因之；左血右痰須記取，詳分虛實是靈機。</p>
<p>《內經》曰：春風生於春，病在肝俞在頸項。又曰：諸頸項強皆屬於濕。戴氏曰：項痛非是風邪即是氣挫，亦有落枕而成痛者，宜服和氣之劑，亦有挫閃及久睡失枕而致項強不可轉移者，此由腎虛不能生肝，肝虛無以養筋、故機關不利，宜服補腎之劑。亦有患筋急項不能轉側者，此必從足起。《經》言：十二經各有筋，惟足太陽之經自足至項故也。《準繩》曰：頸項強急、發熱惡寒之症，多因風寒客三陽經也，寒搏則筋急，風搏則筋弛，左多屬血，右多屬痰，並宜驅邪湯。若動則微痛，脈弦而數實，右為甚，此痰熱客三陽經也，宜消風豁痰湯；若動則微痛，脈弦而澀，左為甚，作血虛邪客太陽陽明經治，宜疏風滋血湯。</p>
<p>〔附方〕</p>
<p><u>驅邪湯</u></p>
<p>　麻黃　桂枝　杏仁　甘草　防風　羌活　獨活　川芎　本　柴胡　家葛　白芷　升麻　生薑　薄荷水煎服（又方多加紫金藤）。</p>
<p><u>消風豁痰湯</u></p>
<p>　黃芩（酒炒）　羌活　紅花　半夏（薑製）　陳皮　白茯苓　甘草　獨活　防風　白芷　家葛　柴胡升麻　生薑　煎服（又方多加紫金藤）。</p>
<p><u>疏風滋血湯</u></p>
<p>　當歸　川芎　白芍藥　熟地黃　羌活　獨活　紅花　牛膝　防風　白芷　家葛　升麻　甘草柴胡　桃仁　生薑　煎服（又方多加紫金藤）。</p>
<h3>腹痛</h3>
<p>總括　脾經不睦胃家虛，邪正交爭氣不舒；熱痛面紅並尿赤，冷知青白口唇黧。</p>
<p>脈法　陰弦則腹痛，弦急則小腹痛，尺脈緊則臍小腹痛，尺脈伏則小腹痛。</p>
<p>瘕疝痛心腹痛，痛不息，脈細小遲者生，緊實大者死；腹痛脈反大而長者死；臍下大痛、人中黑者死。</p>
<p>《內經》曰：寒氣入經則稽遲，澀而不行，客於脈外則血少，客於脈中則氣鬱，故卒然而痛云。</p>
<p>按《內經》言，寒邪外客而痛者，甚為詳悉，未能盡述，後學自宜檢閱。</p>
<p>《原病式》曰：熱鬱於內則腹滿堅結而痛，不可例言為寒也。</p>
<p>丹溪曰：如腹痛欲以物按住者屬虛寒；如手不可按者，屬實熱。痛類不同詳列於後：有鎖腸痛者，一月後，嬰兒忽乳不下咽，肚硬如石，面赤如朱，撮口而哭，面青，唇黑，手足口氣俱冷是也，始因斷臍時不緊系，故為風冷所乘，症亦危急，以白芍藥湯、烏梅散投之，日久則難愈。更參考臍風症內，論　瘕痛，乃積久所致，亦能成疳，此皆榮衛俱虛，外則感受風寒，內則過傷乳食，停滯既久，不能克化。邪並於陰為　，陰則專靜凝而不移；邪並於陽為瘕，假物象形，動而不息。此二症若久而不治，亦成脾疳積，或兩脅間有塊如石，按之則痛，不按則輕，或面黃肌瘦肚硬而脹，及有青筋，晝涼夜熱，蒸熱無時，乳食減少，愛吃土泥，或大便酸瀉，痛則身冷如冰。法當調脾養胃，用醒脾散；磨積理疳，用化癖丸；治　瀉，沒石子丸。然此積滯之疾，非七劑可療，必須次第調理，日久自然平復矣。</p>
<p>痛者，始則腹內一小長塊，其硬如臂，從腰纏轉，或左或右，良久痛甚，則見於皮下，不思乳食。其症先因有痰，表解未盡，遽爾下之太過，氣虛寒搏，郁結而成，法宜益氣。脾虛用參苓白朮散、沉香檳榔丸。為治蛔蟲動痛，口吐清水涎沫，或時吐蟲，痛不堪忍，其疾因食肥甘葷腥太早，故胃寒蟲動作痛，其蟲吐出，或生或死。兒小者此痛若甚，亦致危難，先以理中東加烏梅煎服，使胃暖不逆，次使君子丸。有兒大者，面　白色而帶黃，肉食倍進，肌體消瘦，腹中時痛，此有血鱉蛔蟲集乎其間，以二聖丸下之可也。</p>
<p>又有胃受極寒極熱，亦令蟲動，或微痛，或不痛，遽然吐出，法當安蟲為上，若治蟲反傷胃氣，固不可也。因寒而動者，用理中東加烏梅煎。因熱而動者，用五苓散加烏梅，水薑煎服。</p>
<p>積痛者腹中隱隱而痛，面黃不食，兒大吐酸溲氣，先治積滯，後調脾胃，其痛自止，仍辨虛實。和解治法詳傷積論。</p>
<p>癖痛者　瘕　癖，四症大同小異，總名積聚。詳見積聚論中。</p>
<p>臟寒痛附胎寒論內。</p>
<p>盤腸內吊痛在夜啼論內。</p>
<p>吊腎偏墜痛，當理腎和氣，論在陰囊腫內。</p>
<p>寒疝痛詳在疝症內。</p>
<p>〔附方〕</p>
<p><u>白芍藥湯</u></p>
<p>　芍藥　澤瀉　薄桂　甘草</p>
<p><u>烏梅散</u></p>
<p>　鉤藤　乳香　元胡　沒藥　烏梅肉　粉草</p>
<p><u>醒脾散</u></p>
<p>　人參　砂仁　黃芩　藿香　白朮　丁香　南星　甘草</p>
<p><u>化癖丸</u></p>
<p>　見積聚症內。</p>
<p><u>沒石子丸</u></p>
<p>　沒藥　赤石脂　訶子</p>
<p><u>參苓白朮散</u></p>
<p>　見霍亂症內。</p>
<p><u>沉香檳榔丸</u></p>
<p>　沉香　檳榔　木香　丁香　三棱　莪朮　神麯　厚朴　蒼朮　青皮　陳皮　砂仁　益智　枳殼良薑　香附　穀芽　使君子</p>
<p><u>理中湯</u></p>
<p>　見驚風症內。</p>
<p><u>使君子丸</u></p>
<p>　檳榔　大黃　使君子　酸石榴皮</p>
<p><u>二聖丸</u></p>
<p>　檳榔（一兩）　巴豆（十五粒，去殼膜心，略去油）　入檳榔木杵丸，如綠豆大，服後蟲下，飲稀粥自安，或用黑丑亦可。</p>
<p><u>五苓散</u></p>
<p>　見驚風症內。</p>
<h3>胃脘痛</h3>
<p>（附：心痛）</p>
<p>總括　心痛原來在胃脘，若還真者是膏肓；九種根因須審問，寒食蟲火更多防。</p>
<p>脈法　洪大屬火，熱滑大屬痰，右手實屬積，沉滑有食，弦遲有寒。沉細而實者可治，堅大而實，浮大而長，滑而利，數而緊皆難治。其心痛手足俱青至節者不治。</p>
<p>《內經》曰：少陽司天，風行於地，心痛、胃脘痛、膈不通。又云：木鬱之發，民病胃脘當心而痛，上交兩脅，膈臆不通，食飲不下，蓋風木之氣被郁，發則太過，故民病有土敗木賊之候也。然心與胃各一臟，其病形不同，因胃脘痛處在心下，故有當心而痛之名，乃丹溪有胃脘痛即心痛，此言非也。蓋胃是真濕土也，胃居中焦，稟沖和之氣，多氣多血，是水穀之海，為三陽之總司，五臟六腑十二經脈皆受氣於此，是以壯則氣行而愈，弱則著而成病。其沖和之氣，變至偏寒偏熱，因之水穀不消，停留水飲食積，真氣相搏，以致清陽不升，濁陰不降，而肝木之邪，得以乘機侵侮，而為病矣。然致病之因多因縱恣腹口，喜好辛酸生冷煎　脆硬之物，朝傷暮損，日積月深，自郁成積，自積成痰，痰火煎熬，血亦妄行，痰血相雜，妨礙升降，故胃脘作痛。俗醫不究其源，例以辛香燥熱之劑治之，以火濟火，遂成危劇，良可痛哉！古方有九種心痛：曰飲、曰食、曰風、曰冷、曰熱、曰悸、曰蟲、曰疰、曰去來痛。夫所謂冷者特一耳！貴在醫者神悟，不可例以熱藥治之也，詳其所由，皆在胃脘而實不在心也，有寒、熱、火、實、死血、食積、痰、蟲之異耳。</p>
<p>寒厥痛者，手足冷而通身冷汗出，便利溺清，或大便利而不渴，氣微力弱，宜以朮附湯溫之。</p>
<p>熱厥痛者，身熱足冷，痛甚則煩躁而吐，額自汗出，脈洪大，宜以金鈴子散加減之。</p>
<p>火實痛者，因氣而食，卒然發痛，大便或閉，久而注悶，心胸高起，按之愈痛，不能飲食，宜微利之。</p>
<p>死血痛者，痛有常處，不動移者是也。</p>
<p>食積者，痛甚欲大便，去後痛減者是也。</p>
<p>痰痛者，隱隱然，痛得辛熱湯則暫止者，此痰也。</p>
<p>真心痛者，必死不可治。蓋謂包絡引邪入於心之正經耳。夫心之臟，君火也。是神靈之舍與手少陰之經，皆不得而受傷故也。又平時喜食熱物，以致死血留於胃口，作痛者宜桃仁承氣湯下之。</p>
<p>補遺丹溪曰：凡胃脘痛必用溫藥，此是郁結不行，阻氣不運，故痛在下者多屬濕，宜溫利之。</p>
<p>大凡心痛須分新久，若明知身受寒氣、口吃寒物而得者，於初得之時，當溫散或溫利。若病得之稍久則成郁，久郁則成熱，熱久而生火，《原病式》中備言之矣。若欲行溫散溫利，寧無助火添病耶，由是多以山梔為熱藥之向導，則邪易伏，病易退，正氣伏而愈矣！用山梔十五枚（大者九枚），去皮炒黑，煎，佐以薑汁，令辣服之，或加川芎一錢，或以二陳加川芎、蒼朮、倍子煎服，甚者加乾薑，輕者以麻黃桂枝之類散之。氣虛人胃脘作痛，草豆蔻丸服之。</p>
<p>〔附方〕</p>
<p><u>草豆蔻丸</u></p>
<p>　草豆蔻　橘紅　人參　乾薑　黃　益智　當歸　青皮　澤瀉　半夏　桃仁　麥芽　神麯　薑黃柴胡為末，炊餅和為丸，薑湯下，加吳茱萸、生熟甘草。</p>
<p><u>朮附湯</u></p>
<p>　見驚風症內。</p>
<p><u>金鈴子散</u></p>
<p>　金鈴子肉　元胡索（各一兩）　為末，服之，痛止服枳朮丸。</p>
<p><u>枳朮丸</u></p>
<p>　枳實　白朮</p>
<p><u>桃仁承氣湯</u></p>
<p>　見痢疾症內。</p>
<h3>腫脹</h3>
<p>總括　古今議定有脾虛，大抵多從溫熱為；十種根因各調理，詳分補瀉在臨機。</p>
<p>脈法　水病浮大者可治，細微者難治；腹脹脈浮者易治，病虛則難療也。</p>
<p>《內經》曰：諸濕腫滿，皆屬於脾。又曰：諸腹脹大皆屬於熱。夫脾喜燥而惡濕，常感濕氣，濕蘊為熱，熱久又生濕，濕熱相生而腫脹矣！其所受病者，何也？蓋人所賴以生者水穀也，水則腎主之，穀則脾主之，惟腎虛不能行水，脾虛不能制水，胃與脾合，胃為水穀之海，因虛不能傳化，故腎水泛溢浸漬脾土，於是三焦停滯，經絡壅塞，水滲於皮膚；注於肌肉而成腫脹也。腫乃水腫，脹乃腹脹，須分別治之。</p>
<p>腫之病不一，洛陽稱腫為痼疾，知病之危惡甚矣。有感濕作腫，有風閉塞作腫，有食積作腫，有病後作腫，總宜補中行濕利小便。身有熱者，水氣在表，可汗；實者，水氣在裡，可利小便，切不可輕下以耗真氣。</p>
<p>《經》曰：壯者氣行則愈，怯者著而成病也。若遍身浮腫，煩渴，小便赤澀，大便閉結，此屬陽水，先五皮湯，次四磨東加生枳殼，重者疏鑿飲子。若遍身腫，不煩渴，大便溏，小便少，不澀赤，此屬陰水，宜實脾散，或木香流氣飲主之。陽水病兼陰症者，脈必沉數；陰水病兼陽症者，脈必沉遲。氣若陷下用二陳加升提之藥，能使大便潤而小便長，如腹脹少加厚朴佐之，氣不運加木通、木香、陳皮以調之。有小兒初腫，便覺痰嗽喘急，此屬肺腎所主，宜先解表散，次投定喘消痰利便之劑，用商陸丸。《內經》曰：開鬼門，潔淨府，此之謂也。</p>
<p>夫脹者，因飲食勞倦損傷脾胃，不能運化精微，以制水穀，聚而不散，故成脹也。實者可下之，其症時時飲水，能食，小便黃，時微喘，脈伏，而實是也。其脾初虛而後有積，治宜先補脾，然後下之，下後又補脾即愈也，不可補肺，恐生虛耳。</p>
<p>盧氏云：《醫鏡》以水腫隸屬於腎肝胃而及脾，又肺金盛而生水，水溢妄行，豈理也哉。</p>
<p>夫脾土受病，肺為之子，固不能自盛而生水，然肺金氣清而能生水，則滋長腎陰，奉行降令，為生化之源，何病腫之有？今為腫亡水，乃腐濁之氣滲透經絡，流注溪穀，灌入隧道，血亦因之而化水，欲藉土以制之，導腎氣以利之，殊不知脾病則金氣衰，木寡於畏而來侮土，脾欲不病不可得矣，治法宜清心經之火補養脾土，全運化之職。肺金下降，滲道開通，其精之清者，復生為氣血，為精液。敗濁者在上為汗，在下為溺，以漸而分消矣。</p>
<p>（批：《經》曰：至陰者腎水也，少陰者冬脈也，其本在腎，其末在肺，皆積水也。又曰：腎者，胃之關也，關門不利，故聚水而成其類也。）</p>
<p>王節齋云：先喘而後脹者主乎肺，先脹而後喘者主乎脾。</p>
<p>凡腫病見大便滑泄，唇黑，缺盆平，臍突，足平，背平，或肉硬或手掌平，又或男從腳腫下而上，女從身上腫而下，並不治也。</p>
<p>遍身光腫，指按成窟，舉手即滿者，屬脾虛不能制水，水漬妄行故也，治當補脾，脾氣實則自健運，不可妄下。</p>
<p>治腫大，法宜補中行濕、利小便，以參朮為君，蒼朮、陳皮、茯苓為臣，黃芩、麥冬為使以制肝，少加厚朴以制腹脹。氣滯加木香、木通，氣陷加升麻、柴胡提之，血虛補血，痰盛利痰，隨症加減為妙。</p>
<p>早寬暮急屬陰虛，早用四物加參朮，夕用地黃丸加膝前車桂附之類；早急暮寬屬陽虛，早用六君子湯，夕用地黃丸，如前加減。</p>
<p>東垣云：寒脹多，熱脹少，皆主於脾胃。</p>
<p>〔附方〕</p>
<p><u>五皮湯</u></p>
<p>　五加皮　地骨皮　茯苓皮　薑皮　大腹皮　一方去加皮加桑皮。</p>
<p><u>四磨湯</u></p>
<p>　木香　沉香　台烏　檳榔　枳殼</p>
<p><u>疏鑿飲子</u></p>
<p>　赤小豆　大腹皮　茯苓皮　椒目　澤瀉　木通　商陸　羌活　檳榔　秦艽</p>
<p><u>實脾散</u></p>
<p>　白朮　香附　木香　草果　木瓜　檳榔　茯苓　薑皮　甘草</p>
<p><u>木香流氣飲</u></p>
<p>　方未見。</p>
<p><u>二陳湯</u></p>
<p>　見諸吐症內。</p>
<p><u>商陸丸</u></p>
<p>　商陸（一兩）　黃連（五錢）　薑汁為丸，紫蘇湯下。</p>
<p><u>解表散</u></p>
<p>　麻黃　杏仁　赤茯苓　川芎　防風　枳殼　甘草</p>
<h2>下卷</h2>
<h3>汗症</h3>
<p>總括　小兒自汗症多端，切莫將為一例看，要識陰陽虛實候，勤勤調理自平安。</p>
<p>脈法　脈大而虛浮而濡者，在尺為自汗，在寸為盜汗。傷寒脈陰陽俱緊當無汗，若自汗為亡陽之症，不治。</p>
<p>《內經》曰：心之液為汗。《原病式》曰：心熱則汗出。東垣云：西南坤土也，在人為脾胃。夫人之汗，猶天地之雨，陰滋其濕則為霧露為雨也。按《內經》獨主於心，而東垣又指脾胃而言，何也？蓋心為君火主熱，脾胃屬土主濕，濕熱相搏為汗明矣，亦如地之濕氣為雲霧，而上升於天，若不下降則不成霖雨也。夫五臟皆令人出汗，獨心與脾胃主其濕熱，此乃總司耳。故《經》曰：飲食飽甚，汗出於胃；驚而奪精，汗出於心；持重遠行，汗出於腎；疾走恐懼，汗出於肝；搖體勞苦，汗出於脾。若自汗與盜汗者，病雖似而實不同也，細詳於後。</p>
<p>（凡汗出發潤，一不治也；汗出如油，二不治也；汗凝如珠，三不治也。通身出汗謂之熱越，熱氣越於四體也。睡熟汗出，醒而收者為盜汗。丹溪云：自汗屬氣虛，人參黃　，少佐以桂枝湯，虛甚附子湯亦可。盜汗屬血虛，當歸六黃湯神效。火氣上蒸，胃中之濕亦然作汗，涼膈散主之。）</p>
<p>小兒脾虛自汗，多出額上，沾黏人手，速救胃氣，服全蠍觀音散。</p>
<p>脾虛瀉自汗，遍身冷，而出有時，遇瀉則無，瀉過則有，此候大虛，急當以參苓白朮散服之。</p>
<p>肺虛自汗，右臉色多　白，肺脈按之無力，久因咳嗽連聲不已，乃肺經虛氣上壅致令汗出，宜補肺散為治，及以藿香飲調脾，此又益母救子之義也。</p>
<p>慢驚自汗，遍體俱有，其冷如冰，此症已危，詳慢驚論內。</p>
<p>有實症自汗，外因感受風邪發熱，無問昏醒，浸浸自汗出，當用百解散，或間投五苓散。</p>
<p>有小兒無疾，睡中汗出如水，覺而經久不干，此名積症盜汗，脾冷所致，用三棱散。</p>
<p>有時時冷汗微出，發根如貫珠，而額上　然，此為驚汗，宜抱龍丸及茯神東加麻黃根服。</p>
<p>有睡中汗自出者，曰盜汗，此陽虛所致，久不已，令人羸脊枯瘦，心氣不足，津液妄出故也，用茯神東加黃　煎服。</p>
<p>〔附方〕</p>
<p><u>當歸六黃湯</u></p>
<p>　當歸　生地　熟地　黃　黃連　黃芩　黃柏</p>
<p><u>涼膈散</u></p>
<p>　桔梗　薄荷　甘草　梔子　連翹　大黃　芒硝</p>
<p><u>全蠍觀音散</u></p>
<p>　蓮肉　人參　扁豆　天麻　防風　全蠍　羌活　白芷　木香　黃　茯苓　神麯　甘草</p>
<p><u>參苓白朮散</u></p>
<p>　見霍亂症內。</p>
<p><u>補肺散</u></p>
<p>　阿膠　茯苓　鈴　糯米　杏仁　甘草</p>
<p><u>藿香飲</u></p>
<p>　人參　半夏　赤茯　甘草　蒼朮　陳皮　藿香　厚朴</p>
<p><u>百解散</u></p>
<p>　見熱症內（一方加升麻）</p>
<p><u>五苓散</u></p>
<p>　見驚風症內。</p>
<p><u>三棱散</u></p>
<p>　見諸吐症內。</p>
<p><u>抱龍丸</u></p>
<p>　見驚風症內。</p>
<p><u>茯神湯</u></p>
<p>　茯神　人參　當歸　甘草</p>
<h3>疝症</h3>
<p>（宜與囊腫參看）</p>
<p>總括　疝有七症君須記，狐　寒水筋血氣；總之寒氣結而成，丹溪獨斷濕熱致。</p>
<p>脈法　寸口脈弦而緊，弦則衛氣不行，衛氣不行則惡寒；緊則不欲飲食，弦緊相搏，則為寒疝。</p>
<p>《內經》曰：腎脈太急沉，肝脈太急沉，皆為疝。又曰：三陽結為瘕，三陰結為疝。（批：怒則氣上，喜則氣緩，悲則氣消，恐則氣下，寒則氣收，熱則氣泄，勞則氣耗，思則氣結。）</p>
<p>《難經》曰：任脈之為病，其內苦結，男子為七疝。夫謂七疝者，寒、水、筋、血、氣、狐、　是也。自《素問》而下，俱稱寒氣結聚之所為，故令臍腹絞痛也。而丹溪獨斷為濕熱焉，或者熱鬱於中，寒束於外者有矣，宜五苓散加茴香、橘核、金鈴子、檳榔、木通之類，斯愈矣。又或肝經濕熱而拗腫痛者，服龍膽瀉肝湯。</p>
<p>〔附方〕</p>
<p><u>五苓散</u></p>
<p>　見驚風症內。</p>
<p><u>龍膽瀉肝湯</u></p>
<p>　膽草　澤瀉　車前子　木通　生地　當歸　梔子　黃芩　甘草</p>
<p><u>治疝神方</u></p>
<p>　用胡麻根搗汁，入無灰酒調下，以渣塗疝四圍，效。（朱仁甫傳）</p>
<h3>滯頤</h3>
<p>總括　滯頤之症口流涎，脾家有熱涌而然；亦有胃寒而作者，蟲痛涎流濕熱兼。</p>
<p>《內經》曰：足太陰之經通於口。蓋脾之液為涎，小兒口流涎出而積於頤間者，因脾家受病，不能收攝耳。凡作渴飲冷者屬實熱，宜瀉胃火；作渴飲湯者屬虛熱，宜補中氣。若脾經實熱而廉泉不能約制者，用牛黃清心丸。（自批：藥鋪中不可用，以其藥味不純也。不如用萬氏牛黃清心丸較穩。）脾經虛熱而廉泉不能統攝者，用六君子加木香。胃經實熱而蟲動津涎流出者，用瀉黃散；虛熱用五味異功散。大便閉結，用四順清涼飲。食積內熱，用大安丸。</p>
<p>〔附方〕</p>
<p><u>六君子湯</u></p>
<p>　見瘧疾症內。</p>
<p><u>瀉黃散</u></p>
<p>　見熱症內。</p>
<p><u>五味異功散</u></p>
<p>　人參　白朮　茯苓　陳皮　甘草</p>
<p><u>四順清涼飲</u></p>
<p>（即四順飲）　見傷寒症內。</p>
<p><u>大安丸</u></p>
<p>　即保和丸加白朮　神麯　山楂　半夏　茯苓　陳皮　連翹　卜子</p>
<h3>五淋</h3>
<p>（附：便濁）</p>
<p>總括　淋痛雖然分五種，要明各類在詳明；曰膏曰冷同其症，血石均為熱一般。</p>
<p>脈法　少陰脈數，女子則陰中生瘡，男子則為氣淋。脈細而緊，小便澀滯，常有餘瀝不盡，此為氣淋，其鼻準色黃者，知其為小便難而成淋也。</p>
<p>《內經》曰：清陽出上竅，濁陰出下竅。故清陽不升則濁陰不降，而成淋閉之患矣。先哲以滴水之器譬之，上竅閉則下竅不出，此理甚明，故東垣使灸百會，丹溪使吐以提其氣之橫格，是皆開上竅之法也。</p>
<p>《原病式》曰：淋者小便澀痛也，熱客膀胱，郁結不能滲泄也。</p>
<p>巢氏曰：諸淋皆腎虛所致，腎與膀胱為表裡，俱主水，水入小腸，下於胞，行於陰，為小便也。膀胱熱則津液內溢，水道不通，停積於胞。腎氣熱則澀，故令水道不利，小便淋瀝，故謂之淋。其狀小便出少而數，其小腹急痛引臍是也。</p>
<p>膏淋者，小便時有肥脂似膏，而浮於小便之上，此腎虛不能制其肥液而下行也。</p>
<p>冷淋者，必先戰栗而後小便，此亦腎虛而下焦受冷，冷氣入胞，與正氣交爭，故小便澀而戰栗也。</p>
<p>熱淋者，是下焦有熱，熱氣搏於腎，流入於胞，其溺黃多而澀，間有鮮血也。</p>
<p>血淋者，熱之極也。心者血之主，外行經絡內行臟腑，熱盛失其常道，心與小腸為表裡，故下流而入於胞，則為血淋。</p>
<p>石淋者，腎主水，水結則化為石，腎為熱所乘，遇小便則莖中痛，不得流利，痛引小腹，則砂石從小便出。甚則塞痛，令人昏悶，遍身有汗而後醒，此痛之使然也，並以局方五淋散及香芎丸、木通散、五苓散、導赤散選而用之。如腎虛者，六味地黃丸加鹿茸、川牛膝，名補腎地黃丸。</p>
<p>小腸有氣則小便脹，小腸有血則小便澀，小腸有熱則小便痛，治當行滯清熱疏利小便，不可用補氣藥，氣得補則愈脹，血得補則愈澀，熱得補則愈盛。此兩段正巢氏所謂諸淋皆腎虛所致也。</p>
<p>〔附方〕</p>
<p><u>五淋散</u></p>
<p>　赤芍　赤茯苓　山梔　當歸　甘草</p>
<p><u>香芎丸</u></p>
<p>　香附　川芎　海金砂　赤茯苓　滑石　枳殼　澤瀉　石韋　檳榔</p>
<p><u>木通散</u></p>
<p>　木通　滑石　黑丑</p>
<p><u>五苓散</u></p>
<p>　見驚風症內。</p>
<p><u>導赤散</u></p>
<p>　生地　木通　黃芩　赤茯　甘草</p>
<p><u>補腎地黃丸</u></p>
<p>　即六味地黃丸加鹿茸、川牛膝。</p>
<h4>附：便濁</h4>
<p>小便白如米泔者，內乳哺失節，有傷於脾，致令清白不分而色白也，久則成疳，此亦心膈伏熱兼而得之，茯苓散主之可也。</p>
<p>又云小便白如米泔者，乃脾胃受寒而得，脾屬陰，脾遇寒則飲食愈積滯而不化，胃氣愈乖戾而不和，致使傳送失常，水火不濟，故色白也。</p>
<p>〔附方〕</p>
<p><u>茯苓散</u></p>
<p>　三棱　莪朮　砂仁　赤茯苓　青皮　陳皮　滑石　甘草</p>
<h3>蟲症</h3>
<p>總括　蟲雖濕熱感而生，亦因傷積借成形；九種蟲名宜認曉，追安二字可詳行。</p>
<p>脈法　蟲脈當沉細而弦，今反洪大即知蛔蟲甚也，脈沉實者生，虛大者死。</p>
<p>《內經》曰：腸胃為市，無物不受，無物不包。又曰：飲食自倍，腸胃乃傷。夫飲食不能謹節，則早損暮傷，自傷成積，積久成熱，濕熱相生，而諸般奇形之蟲，各從五行之氣而化生矣，若腐草為螢是也。其蟲或臟腑虛弱而動，或食肥甘而動，或胃冷而動，或胃熱而動。動則往來上下，腹痛攻心，絞痛叫哭，仰身揮手，心神悶亂，吐涎味沫，或吐清水，腹上青筋是其候也。</p>
<p>巢氏曰：蛔蟲，九蟲之一也，生生不息，多則貫心，便能殺人，以追蟲丸、安蟲散主之。</p>
<p>九蟲形症：一曰伏蟲，長四寸許，為諸蟲之主；二曰蛔蟲；三曰白蟲，長四五寸許，母子相生，其形轉大而長，亦能殺人；四曰內蟲，狀如爛杏，生之令人心煩；五曰肺蟲，其狀如蠶，令人咳嗽；六曰　蟲，狀如蝦蟆，令人嘔吐咳逆；七曰弱蟲，又名膈蟲，狀如瓜瓣，令人多睡；八曰赤蟲，狀如生肉，令人腸鳴；九曰蟯蟲，狀如菜蟲，形至微細，居廣腸，多則為痔，劇則為癩。因人瘡處以生，又如鼷鼠、應聲蟲之類，未易悉舉。（批：上唇有瘡曰惑，蟲食其臟；下唇有瘡曰狐，蟲食其肛。）</p>
<p>〔附方〕</p>
<p><u>追蟲丸</u></p>
<p>　檳榔　蕪荑　雷丸　定粉　鶴虱　使君子肉</p>
<p><u>安蟲丸</u></p>
<p>　鶴虱　檳榔　胡粉　白礬　川楝根　半生半熟，食前米飲調服。</p>
<h3>目症</h3>
<p>總括　生下經旬目見紅，蓋因胎受熱兼風；涼肝心藥斯為妙，疝氣痘瘡宜別攻。</p>
<p>脈法　左手脈洪數，心火炎上也；關弦而洪，肝火盛也。</p>
<p>《內經》曰：睹五臟六腑之精，榮衛魂魄之所常營也，神氣之所常主也。</p>
<p>又曰：諸脈皆屬於目，目得血而能視。五臟六腑之精氣，皆上注於目而為精。故黑睛屬肝，白睛屬肺，瞳仁屬腎，上下胞屬脾，兩　屬心，而內　又屬膀胱。五臟五色各有所司，若因邪氣所並，則五臟之精皆失所司，不能歸明於目矣。</p>
<p>錢氏曰：目內赤者，乃心家積熱上攻，宜導赤散加赤茯苓主之；淡黃者，心虛熱，生犀散主之；青者，肝熱，瀉青丸主之；黃者，脾熱，瀉黃散主之。夫純陽之子，始生旬月，忽兩目俱紅，炷爛澀癢成翳，此因在胎，為母感受風熱，傳於心肝而得也，以導赤散加當歸、防風、薄荷、荊芥、大黃。目無睛光，及白睛多、黑睛少者，肝腎俱不足也，用地黃丸加鹿茸。晝視通明，夜視罔見者，因稟陽氣衰弱，遇夜陰盛，則陽愈衰，故不能視也，用沖和養胃湯。</p>
<p>有熱極夾風，則目赤腫痛，晝夜不開，驚啼不已，先用九仙散水薑蔥煎服，外以黃連膏點之。若痘瘡之後，眼生翳障，昏澀流淚，或浮腫不開，此痘瘡余毒攻肝也，用瀉肝散或四物東加防風、蔓荊、荊芥、柴胡、白芷之類。</p>
<p>若天行時症，暴赤腫痛，晝夜苦甚，久則昏朦，治法先以九仙散解表，次用小柴胡湯去半夏加大黃、薄荷、生地、竹葉，並投草龍膽散。</p>
<p>血眼者，因久咳不已，以至眼目兩眶紫黑，如被物傷損，眼白紅赤如血，謂之血眼，治之當用生地及黑豆汁，研成膏，掩眼上，而眼眶黑自消，其血皆自眼淚而出，真良方也。</p>
<p>河間曰：在腑則為表，當除風散熱；在臟則為裡，當養血安神。如暴失明，昏澀翳膜眵淚，斑入眼，皆風熱也，此肝氣盛、而發在表也，當散而去之。若昏弱不欲視物，內障見黑花，瞳子散大在裡也，血少神勞，腎虛也，宜養血補水安神以調之。</p>
<p>〔附方〕</p>
<p><u>導赤散</u></p>
<p>　一見驚風症內，一見五淋症內。</p>
<p><u>生犀散</u></p>
<p>　生犀　柴胡　干葛　赤芍　地骨皮　甘草</p>
<p><u>瀉青丸</u></p>
<p>　見驚風症內。</p>
<p><u>瀉黃散</u></p>
<p>　見熱症內。</p>
<p><u>沖和養胃湯</u></p>
<p>　柴胡　人參　當歸　升麻　乾薑　干葛　白朮　甘草　羌活（各一兩）　防風（五錢）　五味（一錢）　黃　（一兩五錢）　茯苓（二錢）　白芍（六錢）</p>
<p><u>九仙散</u></p>
<p>　柴胡　蒼朮　赤芍　荊芥　麻黃　川芎　薄荷　旋覆花　甘草</p>
<p><u>黃連膏</u></p>
<p>　用川連二錢五分，雞子一枚，箸頭扎一孔，取瓦盞盛之，入黃連和勻，　一時，見黃色，以絹濾過成膏，患者仰臥，令人挑一匙許，頻點目內，覺口中苦滿舌上，是藥之驗也。痘瘡余毒攻眼，眼眵多熱俱妙。</p>
<p><u>瀉肝散</u></p>
<p>　當歸　川芎　芍藥　防風　蒺藜　甘菊　木賊草　荊芥　黃連　蔓荊子　甘草</p>
<p><u>四物湯</u></p>
<p>　見痢疾症內。</p>
<p><u>小柴胡湯</u></p>
<p>　見諸吐症內。</p>
<p><u>草龍膽散</u></p>
<p>　膽草　甘菊　草決明　荊芥　防風　木賊草　甘草</p>
<h3>耳症</h3>
<p>總括　五般膿水屬腎生，火熱上蒸積而成；更有耳聾耳鳴者，皆為陰虛火上升。</p>
<p>脈法　左寸洪數，心火上炎，兩尺洪數，相火上炎也。</p>
<p>《內經》曰：腎者，作強之官，技巧出焉。又曰：耳為腎之外候，一曰腎通竅於耳，夫耳者乃宗脈之所聚，腎氣之所通，小兒腎臟盛而有熱氣上衝於耳,津液壅結，則生膿汁也。然有五般，黃膿出者，謂之耵耳；紅膿出者謂之膿耳；耳內干臭者，謂之冱耳；白膿出者謂之纏耳；裡而虛鳴有青膿出者，謂之囊耳。病雖有五，其源則一，或由風水入耳，而內有積熱上壅而成者，若不速治，久則成聾矣，以蔓荊子散服之，外用敷藥。</p>
<p>凡耳聾耳鳴者，皆屬於熱，陰虛火動也，治宜瀉南方之火，補北方之水，無有不安矣。錢云：腎有補而無瀉有旨哉。</p>
<p>〔附方〕</p>
<p><u>蔓荊子散</u></p>
<p>　升麻　木通　赤芍　桑皮　生地　麥冬　前胡　甘菊　赤茯苓　蔓荊子　甘草</p>
<p><u>黃龍散</u></p>
<p>　（敷藥）　礬　龍骨末　黃丹（炒，各五錢）　麝香（一匙）</p>
<h3>鼻症</h3>
<p>總括　鼻屬肺兮體至清，鼻塞皆因風熱侵；忽然窒塞聲音重，此是風寒外感因。</p>
<p>脈法　右寸浮洪而數為鼻衄，左寸浮緩為傷風，鼻塞流清涕。</p>
<p>《內經》曰：西方白色入通於肺，開竅於鼻。又曰：鼻者肺之外候。丹溪曰：肺之為臟其位高，其體脆，性惡寒又惡熱，故小兒鼻塞者，由肺氣通於鼻氣為陽。若氣受風寒，停滯鼻間，則成鼻塞，氣寒而津液不收則多鼻涕。若冷風久不散，濃涕結聚，使鼻不聞香臭，則為　鼻。若夾熱則鼻干，皆阻礙乳。凡產芽兒，三朝五日，六晨一臘，忽然鼻塞吻乳不能開口呼吸者，多是乳母安睡之時不知所持，鼻中出息吹著兒囟或洗浴用水溫冷，氣不得通，氣邪所感，致兒鼻多塞也。</p>
<p>節齋云：鼻塞不聞香臭，或但遇寒月多塞，或略感風寒便塞，不時舉發者，俗皆以為肺寒，而用解表通利辛溫之劑。</p>
<p>不效，殊不知此是肺經素有火邪火鬱，甚則喜得熱而惡見寒，故遇寒便塞，遇感便發也。治法清金降火為主，而佐以通氣之劑。若如常，鼻塞不聞香臭者，再審其平素只作肺熱治之，清金降火清痰，或丸藥噙化，或末藥輕調緩服，無不效矣。其平素無鼻塞之症，一時遇感風寒而致窒塞、聲重或流清涕者，自作風寒治。</p>
<p>鼻瘡者壅熱傷肺，肺主氣通於鼻，風濕之氣乘虛客於皮毛，入於血脈，故鼻下兩旁瘡濕癢爛，是名鼻　，其瘡不痛，汁所流處，卻又成瘡，以澤瀉散服之，以清金散敷之。一方用熊膽泡湯，以新小筆蘸點鼻。</p>
<p>〔附方〕</p>
<p><u>開關散</u></p>
<p>　香附　川芎　荊芥　僵蠶　細辛　牙皂　為末，蔥白搗成膏，用紅白絹攤，乘夜睡貼囟門。</p>
<p><u>川芎膏</u></p>
<p>　川芎　細辛　本　白芷　杏仁　麝香　甘草</p>
<p><u>牛黃犀角散</u></p>
<p>　牛黃　犀角　川芎　升麻　細辛　麻黃　朱砂　冰片　麝香　甘草　蜜丸服。</p>
<p><u>澤瀉散</u></p>
<p>　澤瀉　鬱金　梔子　甘草</p>
<p><u>青金散</u></p>
<p>　銅青　生硫磺（各一錢）　一方用生白礬去硫磺。</p>
<h3>喉痹</h3>
<p>總括　喉中腫痛稱喉痹，實因相火沖逆至；急須刺破涌其痰，並敷立效散而愈。</p>
<p>脈法　兩寸脈浮而溢者，喉痹也，脈微而伏者死。</p>
<p>《內經》曰：一陰一陽結謂之喉痹。王注謂一陰即厥陰，肝與胞絡是也。一陽即少陽，膽與三焦是也，四經皆有相火存焉。子和曰：膽與三焦尋火治，肝與胞絡都無異。東垣曰：火與元氣不兩立，一勝則一負。蓋元氣一虛，則相火隨起而喉痹等暴病作矣。夫喉之為會厭者，經謂之吸門是也，以其司呼吸，主升降，為人身緊關之橐龠門戶也。若夫卒然腫痛，水漿不入，言語不通，死在須臾，誠可驚駭。其會厭之兩旁腫者，俗謂之雙乳蛾，易治；會厭之一邊腫，俗謂之單乳蛾，難治，古方通謂之喉痹，皆相火之所沖逆耳。治之先必大涌其痰，或以針刺其患處，此急則治標之法也。用藥者必須以桔梗、甘草、玄參、升麻、防風、羌活、荊芥、薄荷、山豆根之類服之，以立效散敷之可也。</p>
<p>〔附方〕</p>
<p><u>立效散</u></p>
<p>　硼砂　龍腦　雄黃　朴硝　俱為末，干摻。</p>
<p><u>一方</u></p>
<p>　治喉痹，用韭菜地上蚯蚓數條，活入蜂蜜內，沒半日，去蚓即時服蜜並泥，效。</p>
<p><u>一急救散</u></p>
<p>　用木鱉一個，以新汲水磨滴入喉中便退，後用湯藥調治之。</p>
<h3>口病</h3>
<p>總括　孩兒胎受諸般熱，熱壅三焦病在舌；或成鵝口症堪憂，用藥更雖針刺裂。</p>
<p>脈法　右關脈洪數者口瘡，或為重舌、木舌。</p>
<p>《內經》曰：中央黃色，入通於脾，開竅於口，藏精於脾，故病在舌。夫口之為病，重舌者，心脾俱有熱也。心候於舌而主血，脾之脈絡出於舌下。（批：脾之脈絡系舌旁，肝之脈絡系舌本，心之脈絡系舌根。）若心熱則血氣俱盛，附於舌根，重生壅出如舌而短小是也。有生頰裡及上　者，名曰重　；生齒根者，名曰重齦，皆當刺去其血，而用真蒲黃敷之，或發灰或馬牙硝或硼砂敷之，或竹瀝浸黃柏點之。</p>
<p>木舌者，臟腑壅滯，心脾積熱，熱氣上衝，故令舌腫，漸漸脹大塞滿口中，是為木舌，若不急療必致害人。用朴硝二分，霜紫一分、白鹽半分同研，用竹瀝水調敷，單用腦子亦效。</p>
<p>弄舌者，脾臟微熱，令弄絡微緊，時時舒舌。治之，勿用冷藥下之，當少與瀉黃散服，亦或飲水。醫疑為熱，以冷藥下之，非也。飲水者脾胃虛，津液少也，又加肌瘦面黃，五心煩熱，即為瘦疳，宜胡黃連丸。如大病未愈，用藥後弄舌者凶。又有舌上白苔並黑色者，用硼砂末摻之，熱甚者加腦子。</p>
<p>口糜者，乃膀胱移熱於小腸，故不小便，上為口糜。心胃壅熱，水穀不轉，下傳小腸，以導赤散去小腸熱，五苓散瀉膀胱熱，二劑合用可也。</p>
<p>鵝口者，初生小兒，口內白屑，舌上如鵝之口，此乃胎熱，而心脾最盛，熏發於口也，葛氏以發纏指頭，蘸井華水揩拭之，以黃丹　過，出火毒，摻患處。</p>
<p>口瘡者，乃小兒將養過溫，心臟積熱，熏蒸於上，故成口瘡也。宜南星末醋調，塗兩足心，乳母宜服洗心散、瀉心湯。</p>
<p>丹溪曰：小兒口瘡不下食，眾以狐惑治之，必死。（批：上唇有瘡，曰惑蟲食其臟；下唇有瘡，曰狐蟲食其肛。）須以礬湯於腳上浸半日，頓寬。以黃柏蜜炙、薑蠶炒為末，敷之立下乳而安。</p>
<p>舌者心之官，心熱則生瘡破裂，肝壅則血出如壅，脾閉則白苔如雪，熱則腫滿，風則強木，口合不開，四肢壯熱，氣喘語澀，皆其候也。</p>
<p>舌忽腫退場門外，俗名蜈蚣毒，用雄雞血一小盞，抹之即縮入，舌長過寸，研冰片敷之即收。</p>
<p>口瘡以桑樹汁塗之得愈，吞咽亦無妨也，大人小兒俱效。</p>
<p>〔附方〕</p>
<p><u>瀉黃散</u></p>
<p>　見熱症內。</p>
<p><u>胡連丸</u></p>
<p>　胡黃連　宣黃連（各五錢）　麝香（一匙）　蘆薈（一錢）　朱砂（二錢半）</p>
<p><u>導赤散</u></p>
<p>　見五淋症內。</p>
<p><u>五苓散</u></p>
<p>　見驚風症內。</p>
<p><u>洗心散</u></p>
<p>　見傷寒症內。</p>
<p><u>瀉心湯</u></p>
<p>　見諸熱症內。</p>
<h3>大便結</h3>
<p>總括　小兒便結哭聲高，津液不潤為火熬；急投煎劑並導法，免使兒遭日夜號。</p>
<p>脈法　陽結脈沉實而數，陰結脈浮而遲。</p>
<p>《內經》：北方黑色，入通於腎，開竅於二陰，藏精於腎。又曰：腎主大便，大便難者，取足少陰。夫腎主五液，津液潤則大便如常，若飢飽失節，勞役過度，損傷胃氣及食辛熱味濃之物而助火邪，伏於血中，耗散真陰，津液虧少，故大便燥結。楊氏曰，邪熱入裡，則內有燥糞，三焦伏暑則津液中干，此大腸之夾熱也。宿食留滯則腹脹痛悶，胸痞欲嘔，熱氣燔灼，則內受風熱，堅燥閉塞，熱宜疏利三黃丸，積宜消積丸，惟胸中活法治之。</p>
<p>小兒初生，腹脹欲絕，大小便不通，急令婦人漱口，吸咂兒胸前背心手足腹臍下，共七處，以紅赤色為度，須臾自通。</p>
<p>〔附方〕</p>
<p><u>消積丸</u></p>
<p>　見傷積症內。</p>
<p><u>三黃丸</u></p>
<p>　黃連　黃芩　大黃（酒蒸晒九次）等分為末，蜜丸。</p>
<h3>陰囊腫</h3>
<p>（宜與疝症參看）</p>
<p>總括　厥陰少陰寒激搏，致令腫縮宜溫藥；光浮不痛作虛醫，赤腫須憑涼劑卻。</p>
<p>《內經》曰：　癃疝膚脹者，陰氣盛而脈脹不通也。今小兒陰莖全縮不見，有陰囊光腫不痛，此因肝腎氣虛，用橘仁煎湯，調金鈴散，或勻氣散。觀《內經》之言，乃陰氣盛而致，此吊縮者，筋急也。筋遇寒則引縮，遇熱則弛張，故三因所用方法，以寬小腸氣，疏風為治。然此乃坐陰潤之地，感風濕而得，用當歸散加檳榔蒼朮服，或服鉤藤膏，並以立消散敷之。</p>
<p>陰囊腫痛而引縮者，蓋諸筋會於陰器，邪客於厥陰、少陰之經，與冷氣相搏而成。治之不早則成固疾，如腰曲腹痛冷汗自出，陰囊內二子吊縮入腹，痛止方出，名曰內吊，用烏梅散、勻氣散、金鈴散為治。</p>
<p>有外腎無故而膚囊腫大，不燥不痛，光亮如燈，此名氣虛所致，亦用勻氣散調治。</p>
<p>一症外腎皮囊赤腫通明，及女兒陰戶腫脹，乃心熱所傳，皆以木通散、導赤散為治，以朴硝散敷之。（批：小兒七日腎縮，乃初生受寒氣所致，用硫磺、茱萸各五錢，研末，大蒜調塗腹，仍以蛇床子微煙熏之。）</p>
<p>〔附方〕</p>
<p><u>金鈴散</u></p>
<p>　三棱　莪朮　青皮　陳皮　赤茯　茴香　木香　檳榔　枳殼　鉤藤　金鈴子　甘草</p>
<p><u>勻氣散</u></p>
<p>　桔梗　陳皮　砂仁　茴香　僵蠶　甘草</p>
<p><u>當歸散</u></p>
<p>　見吐瀉症內。</p>
<p><u>鉤藤膏</u></p>
<p>　鉤藤　玄胡索　當歸　乳香　薄桂　麝香　甘草</p>
<p><u>立消散</u></p>
<p>　赤小豆　赤芍　風化硝　枳殼　商陸　各為末，敷之，乃以五苓散加車前子及米仁煎服。</p>
<p><u>烏梅散</u></p>
<p>　見腹痛症內。</p>
<p><u>木通散</u></p>
<p>　木通　蓄　大黃　甘草　山梔　赤茯　瞿麥　滑石　車前仁　黃芩</p>
<p><u>導赤散</u></p>
<p>　見五淋症內。</p>
<p><u>朴消散</u></p>
<p>　大黃　牡礪　朴硝　為末，水調敷。</p>
<h3>小便閉</h3>
<p>（附：遺溺尿床）</p>
<p>總括　膀胱不利稱邪熱，清肺資源是所宜；多尿遺溺為虛冷，溫補收濕任所施。</p>
<p>脈法　小便閉者，其脈盛大而實者生，虛澀而細者死。</p>
<p>《內經》曰：膀胱不利為癃閉。夫小便閉而不通者，皆邪熱為病也。分在氣在血而治之，以渴與不渴而辨之。如渴而小便不利者，熱在上焦肺之分，故渴而小便不利也。夫小便者，是足太陽膀胱經所主也，長生於申，申者西方金也，肺金生水。若肺中有熱，不能生水，是絕其水之源。《經》云，虛則補其母，宜清肺而資其化源，須用茯苓、澤瀉、琥珀、燈心、通草、車前子、木通、瞿麥、　蓄之類，以清肺氣，瀉其火，資水之上源也。如不渴，小便不通者，熱在下焦血之分，故不渴而大便燥，小便不通也。熱閉於下焦者，腎也、膀胱也，乃陰中之陰，陰受熱邪，閉塞其流。易老云：寒在胸中，則遏絕不入；熱在下焦，則填塞不便。須用感北方寒水之化，氣味俱陰之藥，以除其熱，泄其閉塞，如黃柏、知母、肉桂之類，以補腎與膀胱，而資其化源。若服淡滲之藥，何能補重陰之不足哉！夫用大苦寒之藥者，治法當寒因熱用耳。曾氏曰：小便閉而不通，有陰陽二症。陰閉者為冷濕乘虛入裡，因而不通，名曰陰閉，以白芍藥湯，加南木香及用炒鹽，以絹包熨臍四圍，並投五苓散，入靈砂末，溫鹽湯空心服。陽閉者，因暴熱所逼，澀而不通，名曰陽閉，以五苓散加車前子、燈心煎服，及益元散、木通散。</p>
<p>又癃閉與淋閉不同。蓋癃者乃五內氣虛受熱壅滯，宣化不行，非澀非痛，但閉不通，腹脹緊滿，亦用五苓散加車前、木通服，或貼薑餅於臍上，取效。不拘陰陽二症，悉能療之。</p>
<p>小兒初生無尿者，因母食糟酒炙　辛毒之物，熱氣流於胎中，兒因食血，故生下肚脹、膨臍、腎腫，如覺臍四旁有青黑色及撮口，即不可救矣。如無青黑色，不飲乳者，用蔥白頭寸大者，分作四服，用乳汁半小盞同煎，片時分作四次服即通，不飲乳服之即吃。</p>
<p>楊氏曰：腎主水，膀胱為之腑，水滿膀胱，通泄於小腸也。然小腸應於心，蓋陰不可無陽，水不可無火。水火既濟，上下相交，榮衛流行，水道開合，不失所司矣。若心腎不濟，陰陽不調，故內外關膈，而水道澀，傳送失道，則水道滑。</p>
<p>熱則不通，冷則不禁。其熱甚者，小便閉而全無，熱微者小便難而　。有腎與膀胱俱虛，客熱乘之，水道澀焉，自令心氣旺甚，小便壅遏，用赤茯苓、車前、麥冬、燈心之類清利之。</p>
<p>〔附方〕</p>
<p><u>白芍藥湯</u></p>
<p>　見腹痛症內。</p>
<p><u>五苓散</u></p>
<p>　見驚風症內。</p>
<p><u>益元散</u></p>
<p>　見霍亂症內。</p>
<p><u>木通散</u></p>
<p>　見大便症內。</p>
<p><u>薑豉餅</u></p>
<p>　生薑（一兩，切細）　生蔥（五根，切碎）　淡豆豉（七錢，潤）　生鹽（二錢）　生蒜（七個，切碎）　穿山甲（五錢，制）　酒麩糟（一燈盞），如無，以好酒代用，杵搗爛，捻作餅子二寸間，用微火烘熱，帶熱貼臍上，以絹兜住，如冷依前法，再以火烘暖亦好。</p>
<h4>附：遺溺尿床</h4>
<p>《原病式》曰：遺尿不禁者為冷。《內經》曰：膀胱不約為遺溺。仁齋曰：小便者，津液之余也。腎主水，膀胱為津液之腑，腎與膀胱俱虛而冷氣乘之，故不能拘制其水，出而不禁，此謂遺尿；睡裡自出者，謂之尿床。此皆腎與膀胱，虛而挾冷所致也，以雞腸散主之，然益智、破故紙之類，亦不可缺。</p>
<p>亦有熱客於腎部及膀胱，火邪妄動，水不得寧，故不能禁而頻數來也，治當補膀胱陰血，瀉火邪為主，而佐以收澀之劑，如牡蠣、山茱萸、五味之類。病本屬熱，故宜瀉火，因水不足，故火動而致小便多，小便既多，水益虛，故宜補血瀉火。補血治其本也；收之、澀之，治其標也。</p>
<p>〔附方〕</p>
<p><u>雞腸散</u></p>
<p>　桂（一錢五分）　龍骨（二錢五分）　牡蠣（　灰）　茯苓　桑螵蛸（炒，各五錢）　雞腸一具（燒存性，男用雌，女用雄）上為極細末，仍以雞肫皮一具，雞腸一具，燒存性，研為極細末，每用前藥一錢，以溫酒調化，食前服。</p>
<p>又方　雞肫皮（一具）　雞腸（一具，燒）　豬胞（炙焦，男用雌、女用雄）為末，酒調服。</p>
<h3>麻木</h3>
<p>總括　木本濕熱死血因，手麻原屬氣家虛；忽然十指麻木也，濕痰死血胃中虛。</p>
<p>脈法　脈浮而濡屬氣虛，關前得之麻在上體，關後得之麻在下體也。脈浮而緩屬濕，為麻痹；脈緊而浮屬寒，為痛痹；脈澀而芤屬死血，為木，不知痛癢。</p>
<p>《內經》曰：風寒濕三氣合而為痹。故風氣勝為行痹，寒氣勝者為痛痹，濕氣勝者為著痹。（自批：《內經》注雖合為痹，發起亦殊也。風則陽受之，故為痹行；寒則陰受之，故為痹痛；濕則皮肉筋受之，故為皮著而不去也。）河間曰：留著不去，四肢麻木拘攣也。</p>
<p>岐伯曰：痛者，寒氣多也，有寒故痛也。其不痛不仁者，病久入深，榮衛之行濕，經絡時疏故不痛，皮膚不榮故不仁。夫所謂不仁者或周身或四肢唧唧然，麻木不知痛癢，如繩扎縛初解之狀，古方名為麻痹是也。</p>
<p>丹溪曰：麻是氣虛，木是濕痰、死血，然則曰麻曰木者，以不仁中而分三也。雖然亦有氣血俱虛，但麻而不木者，亦有虛而感濕；麻木兼作者，又有因虛而風寒濕三氣乘之。故周身掣痛，並麻木並作者，古方謂之周痹，治法宜先汗後補也，然當以類推而治之，不可執一見也。</p>
<p>如十指麻木是胃中有濕痰死血，宜二陳東加蒼朮、桃仁、紅花，少加附子行經，又宜四物東加蒼朮、白朮、陳皮、茯苓、羌活、紅花、蘇木之類。</p>
<p>如手足俱麻木，並指尖麻者，皆痰滯經絡也，宜二陳東加竹瀝、薑汁、白芥子，以祛痰火散風氣。</p>
<p>麻用補中益氣東加當歸、木香、香附、青皮、川芎，少加桂枝行經。</p>
<p>木用四物湯，並二陳東加桃仁、紅花，二方俱宜。用竹瀝、薑汁、白芥子，以行經至脅肋，達痰之所在也。</p>
<p>〔附方〕</p>
<p><u>二陳湯</u></p>
<p>　見諸吐症內。</p>
<p><u>四物湯</u></p>
<p>　見痢疾症內。</p>
<p><u>補中益氣湯</u></p>
<p>　見脫肛症內。</p>
<h3>驚癱鶴膝</h3>
<p>總括　風濕流傳骨節間，痛兼心悸是驚癱；若於腕脛多疼重，凝結成團鶴膝看。</p>
<p>《內經》曰：頑弱名緩風疼，重名濕痹。小兒驚癱者，因驚風之際手腳動掣，當聽其自然，然後療之，免生異症。</p>
<p>或父母見其病勢可畏，從而按伏之，豈知筋者肝之合也，臨病發時，若按束其手足，則筋不舒伸，遂至經絡為風所閉，終為廢人。又有四肢痿痹不仁，致手足梢脹痛不堪忍者，此風毒之氣使然。故傳曰：風淫末疾是也。凡小兒心悸不常，及遍身腫痛，或手足不遂，此為驚癱之候也。若治之稍遲，至臂腕膝脛骨節之間，流結頑核，或膝大而腫，肉消骨露如鶴之膝狀，或為癰為節，此名鶴膝候也。以上形症並宜發汗為先，使腠理開通，則氣熱可除，有濕亦去，用百解散和五苓散倍加麻黃，微得汗為度，次祛風散及獨活東加桑寄生投服，使風不生而痰不作，愈矣！若為癰為癤疼重者，用黑牽牛，半生半炒略研，煎無灰酒調下，五苓散以除流注之寒濕。</p>
<p>〔附方〕</p>
<p><u>百解散</u></p>
<p>　見熱症內。</p>
<p><u>五苓散</u></p>
<p>　見驚風症內。</p>
<p><u>祛風散</u></p>
<p>　防風　南星　半夏　黃芩　甘草</p>
<p><u>獨活湯</u></p>
<p>　當歸　白朮　黃　薄桂　牛膝　獨活　甘草</p>
<h3>諸瘡</h3>
<p>總括　滿頭及額生如癩，但用連床得安瘥；通身糜爛更多煩，一抹金塗無不快。</p>
<p>《內經》曰：諸痛癢瘡皆屬於心火，火鬱內發致有斯疾。蓋心主乎血，血熱生風，熱鬱內甚遞相傳襲，故火能生土。</p>
<p>血注陽明，陽明主肌肉，風熱與血熱相搏，發見皮膚，其名不一。有黃膿而白者，土生金，母歸子也。始生微癢而熱輕，腫痛、潰爛為熱極。血凝化水，氣滯成膿。甚則寒熱作而飲食減，此尤為可慮。宜宣瀉風毒、涼心經、解胃熱，用當歸散加黃連、升麻、干葛、薑、蔥、燈心煎服，及牛蒡湯，塗以四黃散、一抹金。</p>
<p>若頭散生成片，常常燥癢，毛髮稀少，有類白屑，此因積熱上攻，名曰禿瘡。雖生於頭，世人只知以藥外敷得愈，不逾旬月，其瘡又發，何為而然？蓋頭乃諸陽所會之處，洪范五行，火曰炎上，熱毒上攻，兩陽相灼，故瘡生於頭，法當解陳　之積熱，導心經之煩躁，斯可矣。宜百解散，倍加五和湯、薑、蔥、燈心煎服，次以連床散塗之，及四黃散亦可。</p>
<p>有遍身糜爛成片，甚至煩躁衣不可著，蓋風火內郁於陽明，流毒於外，名曰風熱瘡，用百解散加五和湯，入何首烏、荊芥、白芷煎服，及牛蒡湯。疏滌腸胃，解散風熱，其瘡自愈，不致再生。外敷以四黃散及連麻散。湯火瘡，先用人參羌活散發表，次以去霜膏塗之，即效。</p>
<p>有小兒瘡瘍遍身，頭上瘡蓋如餅，此為胎氣熱毒所感，宜以犀角解毒丸加減療之。然最忌敷藥洗浴，恐其入腹，為患不淺。</p>
<p>至若瘡瘍作楚，潮熱不止，此雖系脾虛，亦因肺氣受損，先以理脾補虛，然後復治其瘡瘍，以當歸解毒湯治之。</p>
<p>〔附方〕</p>
<p><u>當歸散</u></p>
<p>　見諸瀉症內。</p>
<p><u>牛蒡湯</u></p>
<p>　見淋症內。</p>
<p><u>四黃散</u></p>
<p>　黃連　黃柏　黃芩　大黃　滑石　五倍子　用香油調敷。</p>
<p><u>一抹金</u></p>
<p>　蘆薈　蛇床　黃丹（水飛過，各三錢）　硫磺　赤石脂　白礬（火　）　五倍　黃柏（各二錢半）　輕粉（五分）　豬油或清油調。</p>
<p><u>百解散</u></p>
<p>　見熱症內。</p>
<p><u>五和湯</u></p>
<p>　當歸　赤茯苓　大黃　枳殼　甘草</p>
<p><u>連床散</u></p>
<p>　黃連　蛇床　五倍　輕粉　用荊芥和蔥，煮水候涼洗，拭乾後即敷藥。</p>
<p><u>人參羌活散</u></p>
<p>　見傷寒症內。</p>
<p><u>玄霜膏</u></p>
<p>　用好糯米五升，將堅硬鐵器盛貯，見天處以雪水浸一二日，不問腐爛仍取出，於竹器內，將水淋過，晒乾、焦炒、研為末，用新汲水調敷之，如干燥又以雞毛蘸水拂瘡，使瘡潤痛減。藥少再塗用，自然取效。一名玄霜散，炒透黑色，煙青為度。</p>
<p><u>犀角解毒丸</u></p>
<p>　犀角　黃連　玄參　桔梗　連翹　薄荷　大力子　當歸　山梔　甘草　生地　黃芩　赤芍　天花粉（各一兩）</p>
<p>為末服。</p>
<p><u>當歸解毒湯</u></p>
<p>　陳皮　當歸　赤茯　山楂　黃柏　知母　柴胡　人參　金銀花</p>
<h3>丹毒</h3>
<p>總括　小兒氣弱肌膚薄，熱毒乘虛來發作；急須退熱與消風，毒散風消自安樂。</p>
<p>《內經》曰：赤紫丹瘤，皆心火內鬱而發。赤如丹砂，故名丹毒。蓋心主血，熱為血之媒，謂應火而色赤也，乃心家血熱盛以動之，是以游走遍體。其乳母過食酒面煎炒之物，或烘衣著兒，不候冷而著亦成此疾。自腹生出四肢者易治，自四肢生入腹者難療。當急令人隨患處遍吮毒血，各聚一處砭出之，急服解毒散加紫草茸，外用白玉散敷之。惟百日內忌砭，以其肌肉難任也。大抵治小兒丹毒，必先服表藥，內解熱毒，方可塗散，恐毒無所泄，入裡為患耳。</p>
<p>驚丹者，小兒百日之內、半歲以上，忽兩眼胞紅暈微起，面帶青黯色，向夜煩啼，或臉如胭脂，此伏熱在內。亦有臉不紅者，始則居胎之時，母受重驚，邪傷胎氣遞相傳襲。降生之後，復受熱毒，或再有驚有熱，熱氣內蘊，形之於外，初時散生滿面，狀如水痘，腳微紅而不壯熱，出沒休息無定，次到頸項赤如丹砂，名曰驚丹。以四聖散先洗其目，次用百解散，以解驚熱。丹毒甚則以四物東加黃芩之類。如驚丹發至胸膈乳間，微有痰嗽作搐，急宜宣熱拔毒，免至內流，為害不淺，以五和東加生地、升麻、燈心之類。如此調治，不生他症，投萬安飲主之。</p>
<p>有身上發時，亦如前症，不甚燥癢，但見出浮於遍體，神昏不悅，名陰濕毒症，此二症不問赤白，若入腹多致為害，不可輕視為常耳。</p>
<p>（砭法：治丹毒色赤游走不定，令口吮毒血聚一處，用細瓷器擊碎，取有鋒者，以箸頭劈開夾之，用線縛定，兩指輕撮箸，稍令瓷芒，在聚血處再用一箸頻擊，刺出毒血，輕者止用口吮出毒，用藥敷之。如患在頭者不用砭法，止用針側臥挑患處，以出毒血，遲則入腹難起矣。）</p>
<p>〔附方〕</p>
<p><u>解毒散</u></p>
<p>　牛蒡子　甘草　荊芥　防風　犀角</p>
<p><u>白玉散</u></p>
<p>　滑石　寒水石（各三錢五分）</p>
<p><u>四聖散</u></p>
<p>　黃連　秦皮　木賊　燈心</p>
<p><u>百解散</u></p>
<p>　見熱症內。</p>
<p><u>四物湯</u></p>
<p>　見痢疾症內。</p>
<p><u>五和湯</u></p>
<p>　見諸瘡症內。</p>
<p><u>萬安飲</u></p>
<p>　人參　當歸　黃　防風　柴胡　枳殼　半夏　芍藥　黃芩　甘草</p>
<p><u>狗癬疥方</u></p>
<p>　用松柏節劈開，雞卵取油，片席一塊如碗大，剪洞一個如手大，以松節放在洞邊，將末香放在松節上取油。</p>
<h3>風毒</h3>
<p>總括　諸風夾熱隱皮膚，凝結難為陡頓除；項頰腫須護喉舌，內疏風熱外宜塗。</p>
<p>《內經》曰：榮氣不從，逆於肉內，乃生癰腫。夫小兒風毒者，因驚風之後風從氣行，血從氣使，毒瓦斯蓄於皮膚，流結而為腫毒，遂結頑核赤色，多成腮頰之間，或耳根骨節之處，重則成癰癤，謂之遁毒風。宜以當歸散倍加枳殼、大黃，或皂角刺、薄荷之類。如結在腮頰者，治用烏豉膏含化，以護咽喉，外則敷以拂毒散。若因跌仆損傷皮膚，風邪侵襲患處面發腫者，謂之破血傷風，可投疏風散、活血散之類。</p>
<p>夫瘰　之症，《內經》謂之結核，究其所因，丹溪所謂五味之濃，郁氣之積，曰風、曰熱，與血相搏而結成者，其始生於耳後、頦下至項者，此出足陽明胃經來也，此曰瘰　；生於缺盆胸側，或在兩脅者，此出手足少陽經來也，此曰馬刀，俱當從其所因究治。其小兒幼弱不堪針灸，但以服餌塗貼之劑，施之可也，然須服引經之藥，以除根本，可獲全功耳。此症服藥，須當臥在床褥，每日作十次咽，服畢安臥。蓋取藥力在膈上故也。若發於喉下，如帶橫纏者，乃纏喉風也，宜服化毒湯及烏豉膏含化以護咽喉外，但依遁毒風治法。如服藥後散止不定，或上頭頂，或游面目，而反復來喉下，如赤紫微浮，中有白突者，陽症變陰，亢則必害，謂之赤游風毒，亦難治矣。</p>
<p>〔附方〕</p>
<p><u>當歸散</u></p>
<p>　見諸瀉症內。</p>
<p><u>烏豉膏</u></p>
<p>　綿川烏（水浸透去皮臍，五錢炮制）　玄明粉（二錢）　淡豉（三錢）　水浸潤，飯上蒸透杵爛為膏。</p>
<p><u>拂毒散</u></p>
<p>　半夏　貝母　大黃　朴硝　五倍　上為末醋調敷</p>
<p><u>疏風散</u></p>
<p>　荊芥　防風　甘草　蔥湯調服。</p>
<p><u>活血散</u></p>
<p>　當歸　川芎　生地　紅花　赤芍　蘇木</p>
<p><u>升麻調經湯</u></p>
<p>（治陽明經）　升麻　干葛　膽草　黃芩　黃柏　歸尾　桔梗　連翹　白芍　知母　黃連　白朮三棱　甘草（秤一半為丸，一半作蚊蛆秤五錢）　煎湯送下前丸。</p>
<p><u>連翹散</u></p>
<p>　柴胡　連翹　歸尾　白芍　生黃芩　白朮　天花粉　膽草　炙甘草　三棱　蒼朮　黃連　煎湯服法如前。</p>
<p><u>化毒湯</u></p>
<p>　桔梗　薄荷　荊芥　甘草　牙硝　朴硝　硼砂　雄黃　山豆根　朱砂　為細末，每用一匙或五分，干點舌下，或溫湯濃調，少與含吞亦可。</p>
<h3>夜啼</h3>
<p>總括　夜啼四症驚為一，無淚見燈心煩熱；面目頰青臍下痛，面黧大哭是神乾。</p>
<p>脈法　虎口脈紋不見，如云塵色者是客忤，鬼祟之脈，必然夜啼。</p>
<p>盤腸氣發先腰曲，無淚叫啼眼干哭，口開腳冷上唇烏，額上汗流珠碌碌。</p>
<p>《內經》曰：心藏神，神安則臟和。夫小兒晝得精神安，夜則穩睡。若心熱驚熱，或風寒之邪乘之，則精神不得安定，故致夜啼叫不已也。</p>
<p>心熱者，見燈愈啼，面紅多淚，無燈則稍息。蓋火者陽物也，心熱遇火，兩陽相搏，才有燈而啼甚，故《經》曰火痰風生乃能兩此其義也。宜涼心安神，用三解散（見驚風。去參，用薄荷湯下）。驚熱者，為衣衾太濃或抱於熱處久坐，致生煩悶，邪熱攻心。心藏神，神安則和，神亂則驚，治法退熱鎮心則自安矣，用牛蒡散、抱龍丸。</p>
<p>有遇黃昏後至更盡時，哭多啼少；有啼聲不已，直到天明，乃胎中受寒。遇夜則陰勝而陽微，故腰曲額汗，眼中無淚，面瑩白而頰青，伏臥而啼，入盤腸內吊之症，名曰寒疝，治法去宿冷、溫下焦，白芍藥湯及鉤藤丸。</p>
<p>誤觸禁忌而夜啼者，面色紫黑，氣鬱如怒，呼時若有恐懼及睡中驚惕，兩手抱母，大哭不休。此誤觸惡祟神祗，目有所睹，口不能言故耳！古云：忽然兩手形無見，定知唐突惡神明。乃知此症者，宜兩指紋俱隱而不見，治法先解表，用百解散，次驅邪鎮心，用蘇合香丸、抱龍丸。</p>
<p>啼與哭亦有別，啼而不哭是痛，故直聲來往而無淚；哭而不啼是驚，故連聲不絕而多淚。又曰啼而不哭者是煩，哭而不啼者為燥。</p>
<p>面青目白，腰曲而啼，捫腹覺冷，此必感寒肚疼也。</p>
<p>面赤心躁，小便赤澀，口中及腹俱熱，間或有汗，仰身而啼，此熱症也。</p>
<p>又有乳到兒口即啼，身體頭額皆熱，須看口內無瘡，必然喉舌腫痛。</p>
<p>〔附方〕</p>
<p><u>牛蒡湯</u></p>
<p>　見淋症內。</p>
<p><u>抱龍丸</u></p>
<p>　見驚風症內。</p>
<p><u>白芍藥湯</u></p>
<p>　見腹痛症內，加鉤藤亦好。</p>
<p><u>鉤藤丸</u></p>
<p>　見囊腫症內。</p>
<p><u>百解散</u></p>
<p>　見熱症內。</p>
<p><u>蘇合香丸</u></p>
<p>　白朮　烏犀　香附　朱砂　訶子　檀香　安息　沉香　麝香　丁香　青木香　蘇木香　蘇合油薰木香為末，蜜丸，梧桐子大。</p>
<h3>症</h3>
<p>總括　失音之症古名　，大抵多因病後成；補瀉隨時加減用，地黃丸服有音聲。</p>
<p>《內經》曰：舌者，音之機也；喉者，音之關也。小兒卒然無音，乃寒氣客於會厭，則厭不能發，發不能出，致其門闔不啟，故無音也。若咽喉音聲如故，而舌不能運轉言語，則為舌　。此乃風冷之邪克於皮之絡，或中於舌下廉泉穴所致。蓋舌乃心之苗，心發聲為言，風邪阻塞其經絡，故舌不能轉運也。若舌本不能轉運言語，而喉中聲嘶者則為喉　，此亦為風冷所客，使氣道不通，故聲不得發，而喉無音也。然或因風痰阻塞，或因心經氣虛，或因脾之絡受風，或因風痰滯於脾之絡，或因脾氣不足，或胃中清氣不升，皆足以致　。大抵此症有稟父腎氣不足不能言者；有乳母五志之火遺兒、熏閉清道不能言者；或兒病津液耗損，會厭干涸不能言者；或腎氣不充，虛火上炎，傷肺不能言者；有驚風中風不能言者。若遺熱於津液耗者，用七味白朮散；清氣不升者用補中益氣湯；稟腎不足與虛火傷肺者，用六味地黃丸。若仰首咳嗽肢體羸瘦，目白睛多，或兼解顱呵欠、切牙等症，悉屬腎虛，非地黃丸不能救也。</p>
<p>若患吐瀉或大病後，雖有聲而不能言，又能咽物，有不能咽者非失音，此腎怯不能上接於陽也，當以參朮溫補之劑主之。《保嬰集》云，小兒五六歲，心氣不足而不能言用菖蒲丸，口噤不能言者，用地黃丸。</p>
<p>三十二問，解顱。仲陽謂生下囟不合，腎氣衰也，長必少笑。更有目白睛多，　白身瘦者，多愁少喜也，余見腎虛症。楊氏曰：小兒年大，頭縫開解而不合者，腎主髓，腦為髓海，腎氣有虧，腦髓不足，所以頭顱開而不能合也。人乏腦髓，如木無根，凡得此者不遠千日，亦有數歲，乃成廢人。故有此症亦不可束手待死也，宜與錢氏地黃丸，仍用天南星，微炮為末，米醋調敷於緋帛，烘熱貼之，亦良法也。</p>
<p>三十三問，囟陷囟填。囟陷者始因臟腑有熱，渴飲水漿致成泄瀉，久則血氣虛損不能上衝腦髓，故囟陷如坑不能平滿，用狗頭骨炙黃為末，雞子清調敷之。囟填者囟門腫起也，脾主肌肉，乳哺不常，飢飽無度，或寒或熱，乘於脾家，致使臟腑不調，其氣上衝，為之填脹，囟突而高，如物堆起，毛髮短黃自汗是也。若寒氣上衝則牢靳，熱氣上衝則柔軟。寒者溫之，熱者涼之。劑量輕重，兼與調氣。小兒肝盛風熱交攻亦然，此症未易退瘥，或熱症用大連翹散主之。有表熱症柴胡散主之，又有封囟散掩之。</p>
<p>論曰：小兒胃和沖和則腦髓充盛，囟頂漸合。若胃熱熏蒸臟腑，則渴而引飲，因致泄利。今臟腑壅熱，血氣虛弱，不能上衝腦髓，所以囟陷也，用當歸散、地黃丸。</p>
<p>齒遲、語遲、行遲：齒遲者腎氣不足；語遲者心氣不足；行遲者稟受不足。</p>
<p>天柱骨倒：項軟者胎氣不足。大病後後項軟即天柱骨倒也。或吐瀉之余，傷寒失表，脾受風熱者，速與祛風追熱，及以強筋之劑。</p>
<p>（小兒肌體雄壯，不為瘦瘁，忽然項軟傾倒，此名下竄，皆因肝腎氣虛，客邪侵入臟腑，傳於筋骨，故成此疾。蓋肝主乎筋，腎主乎骨，筋骨俱弱則項軟、垂下無力，亦名天柱骨倒，與五軟相類，不過調元散、補腎地黃丸。）</p>
<p>〔附方〕</p>
<p><u>七味白朮散</u></p>
<p>　人參　白朮　茯苓　藿香　木香　干葛　甘草</p>
<p><u>補中益氣湯</u></p>
<p>　見脫肛症內。</p>
<p><u>六味地黃丸</u></p>
<p><u>菖蒲丸</u></p>
<p>　治心氣不足，不能言語。</p>
<p>石菖蒲　赤石脂（各三錢）　人參（五錢）　丹參（二錢）　天冬　麥門冬（各一兩）</p>
<p><u>連翹散</u></p>
<p>　見風毒症內。</p>
<p><u>柴胡散</u></p>
<p><u>封囟散</u></p>
<p>　人參（二錢）　甘草（二錢）　門冬（二錢）　膽草（一錢，酒炒）　防風（一錢）　柴胡（五分）</p>
<p><u>當歸散</u></p>
<p>　見諸瀉症內。</p>
<p><u>地黃丸</u></p>
<p><u>調元散</u></p>
<p>　人參　茯苓　茯神　白朮　白芍　熟地　當歸　黃　川芎　石菖蒲　山藥　甘草</p>
<p><u>補腎地黃丸</u></p>
<p>　見五淋症內。</p>
<h3>胃氣虛寒</h3>
<p>總括　胃冷皆因稟賦虛，或因大病久成之；急須溫補扶元氣，免得　羸請藥師。</p>
<p>《內經》曰：胃為水穀之海，六腑之大源也。人身氣血臟腑，俱由胃氣而生。故東垣之法一以脾胃為主，所謂補腎不若補脾是也。在小兒雖得乳食，然水穀之氣未全，猶仗胃氣，胃氣一虛則四臟俱失所養矣，故丹溪謂小兒多脾胃之疾也。若面色　白，目無睛光，口中氣冷不食，吐水，肌瘦腹痛，此胃氣虛寒之症也，用五味異功散主之。若大便不實，兼脾虛也，加乾薑溫之。中滿不利，脾不運也，加木香開之。命門火衰，不能生土者，用八味地黃丸補之，稟賦胃氣不足亦用此丸。蓋下焦真陽充盛則上升，脾元自然溫蒸水穀矣，《內經》所謂益火之源，以消陰翳，正此藥也。</p>
<p>〔附方〕</p>
<p><u>五味異功散</u></p>
<p>　見驚風症內（去木香）。</p>
<p><u>八味地黃丸</u></p>
<p>　即六味地黃丸加肉桂、附子各一兩。</p>
<h3>小兒初生諸症</h3>
<p>（附：小兒五軟）</p>
<p>總括胎熱　三朝旬外月余兒，目閉胞浮症可推；常作呻吟煩躁起，此為胎熱定無疑。</p>
<p>胎寒　孩兒百日胎寒候，足曲難伸兩手拳；口冷腹膨身戰栗，晝啼不已夜滋煎。</p>
<p>胎黃　小兒生下胎黃症，母感熱毒傳而成；急服地黃犀角散，黃退身冷命可生。</p>
<p>胎驚　胎驚亦是胎中得，產婦乖常調理失；面澤目光可生也，眉間黑色真太急。</p>
<p>臍風　臍風早受入臍中，七日之間驗吉凶；若見腹疼臍突起，惡聲口撮是為風。</p>
<p>臍突　嬰兒生下旬余日，臍突光浮非大疾；穢水停中明所因，徐徐用藥令消釋。</p>
<p>臟寒　手兼足冷面微青，腹痛腸鳴泄瀉頻；蓋為生時感寒濕，夜多啼切日常輕。</p>
<p>黃帝曰：若我不能察其幼小者。夫生知之聖猶曰難之，何哉？蓋芽兒初生，骨肉未堅，五臟未充，正如水上之泡、草頭之露耳。初生七日之內，天地八風之邪，豈能速害？良由在胎之時，母失愛護，或勞動氣血，飢飽失時，冷熱相制，憂愁驚怖，以致損傷胎氣，故降生之後，便有胎熱、胎寒、胎驚者，諸病生焉，外因浴洗、拭口、斷臍、炙囟之不得法，或抱持驚恐，乳哺寒溫之失宜，致令噤口、臍風、鎖肚、不乳等症，病患致此，亦難療矣，故黃帝猶曰難之，謂別是一家調理耳！吾輩當明生死形候，察藥性之寒溫，探病患之深淺，小心治之，慎勿謂七日之內所患不治，而輕棄之也。</p>
<p>胎熱者，小兒降生之後，痰涎氣急，眼閉目赤，眼胞浮腫，神困呵欠，呃呃作聲，遍體作熱，小便赤，大便不通，時復驚煩。此因胎中受熱，誤服溫劑，致令熱蓄於內，薰蒸胎氣，故有此症。宜先以木通散與母服，小兒服地黃膏，不可用涼藥攻之，以致他病，乳母並忌辛辣酒面。</p>
<p>胎寒者，初生百日內，覺口冷腹痛，身起寒栗，時發栗戰，曲足握拳，晝夜啼哭，或口噤不開，名曰胎寒。或產母喜啖生冷、瓜果，或胎前外感風寒暑濕，過服涼藥，內傷胎氣，致兒生後昏昏多睡，間或吮乳瀉白，宜當歸散定其痛，白朮散養其胃，芍藥湯去寒濕，乳母宜忌口。</p>
<p>胎黃者，生下遍體面目皆黃，狀如金色，大便不通，小便如血，此胎黃也。亦因其母受熱而傳於胎，一有此症，母子皆宜服地黃湯。有生下百日及半周，不因病而身黃者，此胃熱也。若自生而身黃者，胎疸也。《經》云：諸疸皆熱，色深黃是也，犀角散主之。若淡黃兼白者，此胃怯也，白朮散主之。</p>
<p>胎驚者，因胎婦調攝乖常，母有所觸，胎必感之。其候日內溫肚翻眼，握拳噤口切牙，身腰強直，涎沫嘔吐，搐掣驚啼，或頰赤、面青、眼合。凡胎風眼合不可誤作慢脾，妄用溫藥。眉間黑黯者不治。以豬乳細研，牛黃、麝香各少許調抹入口即愈矣。</p>
<p>鎖肛者，由胎中受熱，熱毒壅盛，結於肛門，閉而不通，無復滋潤，所以如此。若第三日不通，急令婦人漱口，吸咂兒前後心，並臍下、手足心共七處，凡四五次。仍以輕粉五分，蜜少許溫水化開，時服少許，以通為度。如又不通，即是肛門內合，當以金簪或玉簪刺入肛門二寸許，以蘇合丸少許納入孔中，糞出為快也。若腹膨脹不能乳食，作呻吟聲一至七日，可保生也。</p>
<p>臍風者，因斷臍之後，被風寒水濕之氣入於臍，流於脾，遂令肚腹脹滿，臍腫身體重著，四肢柔直，日夜多啼，不能吮乳，甚則發為風搐。臍邊青黑，撮口不開，關為內搐，爪甲黑者即死，宜千金龍膽湯主之。</p>
<p>臍突一症，非臍風也，蓋因洗浴系臍不緊，穢水侵入於內，生後旬日外，臍忽光得如吹，捻動微響，或夜臥驚啼，急用大黃牡蠣各半兩，焙為末，再以朴硝勻均，用田螺浸水調，或一錢或二錢，塗腫處即消。（批：小兒初生遍身無皮，是紅肉，用米炒為細粉，干撲，候生皮止。又有身如魚泡如水晶，碎則成水流滲，用蜜陀僧研細，羅底拍取細者，干撲。）</p>
<p>臟寒一症，頗類胎寒，但手足稍冷，唇面微青，額汗，不乳，至夜多啼，腹瀉青水，只無口冷戰栗之異，用藥與胎寒同。</p>
<p>撮口者，由胎氣挾熱，風邪入臍，流毒心脾之經，故令舌弱唇青，聚口撮面，飲食不進。若口出白沫而四肢冷者不可救藥，其或肚脹青筋，吊腸卵疝，內氣引痛，皆腸胃郁結不通致之，治法貴乎疏利。撮口最為急候，七日之內見之尤甚，以辰砂膏利之或用撮風散。</p>
<p>撮風者，眼禁口開，啼聲漸少，舌上聚肉，如粟米狀，吮乳不得，口吐白沫，大小便皆通，自盈月至一百二十日見此，名曰犯風噤。依法將護，防於未然。但有此症，急看兒上　有點子，先以指甲刮破，次用辰砂全蠍散之類。如口噤不開，服諸藥不效，有用生南星去皮臍，研為極細末，龍腦少許合和，用指蘸生薑汁，於大牙根上擦之，立開。凡臍風、撮口、噤風三者，雖異而受病之源則一也，大抵裡氣鬱結，壅閉不通，並宜服淡豉汁與吃，取下胎毒。《千金方》云：小兒初生，其病高盛，若有微患，即須下之。若不與下則成大疾，難為療矣，以紫霜丸量而與之。</p>
<p>〔附方〕</p>
<p><u>木通散</u></p>
<p>　見囊腫症內（去　蓄）。</p>
<p><u>地黃膏</u></p>
<p>　山梔仁（一兩五錢）　綠豆粉（一兩五錢）　粉草（六錢）　生地（一兩五錢）　加蜜（一兩半），二味同放瓷器內，煎成膏，入前藥為丸，麥冬湯下。</p>
<p><u>當歸散</u></p>
<p>　當歸　薄桂　川芎　薑　甘草　木通　香附　乳汁調下。</p>
<p><u>白朮散</u></p>
<p>　見熱症（加山藥）</p>
<p><u>白芍湯</u></p>
<p>　見腹痛症（加鉤藤）</p>
<p><u>地黃湯</u></p>
<p>　天花粉　生地　茵陳　赤芍　赤茯苓　甘草　豬苓　澤瀉　當歸</p>
<p><u>犀角散</u></p>
<p>　犀角　茵陳　升麻　生地　膽草　寒水石　天花粉　甘草</p>
<p><u>千金龍膽湯</u></p>
<p>　膽草　鉤藤　柴胡　黃芩　蜣螂（去翅足）　甘草　芍藥　茯苓　桔梗　黃連</p>
<p><u>辰砂膏</u></p>
<p>　馬牙硝　辰砂　硼砂　全蠍　玄明粉　麝香　真珠　共為末，用黑棗肉成膏，每服一豆許，驚用金銀、薄荷，潮熱用甘草湯，月內兒以乳汁調敷乳上吮下。</p>
<p><u>撮風散</u></p>
<p>　赤腳蜈蚣一條（去口，炙黃色）　朱砂　僵蠶　蠍尾（各一錢）　麝香少許　為末，竹瀝調下一匙，凡臍風、撮口、噤口俱治。</p>
<p><u>紫霜丸</u></p>
<p>　代赭石　赤石脂　巴霜　杏仁</p>
<p><u>消乳丸</u></p>
<p>　砂仁　陳皮　三棱　莪朮　神麯　麥芽　香附</p>
<h4>附：小兒五軟</h4>
<p>軟者，胎氣不固，精髓不充，為六淫所襲也。頭頂軟者，腎虛所致也。或因吐瀉，脾弱而得，脾胃為主，六君子加肉桂、炮薑。風邪侵入，祛風為主。</p>
<p>手軟者，兩手筋縮不能屈伸，薏苡仁、當歸、秦艽、棗仁、防風、羌活、荊芥為末，芡實湯下。</p>
<p>腳軟者，骨髓不滿，氣血不足，筋弱不能束骨而行也，宜地黃丸加牛膝、虎骨、鹿茸、五加皮為主。</p>
<p>身軟者，肉少皮寬，飲食不為肌膚，補脾主之。</p>
<p>口軟者，心神不足，故不能言語也，人參、石菖蒲、麥冬、遠志、川芎、當歸各二錢，乳香、朱砂各一錢，蜜丸。</p>
<p>又有稟氣不足而蕊不生者，宜補腎丸或十全大補東加知母、黃柏主之。</p>
<p>〔附方〕</p>
<p><u>六君子湯</u></p>
<p>　見瘧疾症內。</p>
<p><u>補腎地黃丸</u></p>
<p>　見五淋症內。</p>
<p><u>十全大補湯</u></p>
<p>　當歸　川芎　生地　白芍　人參　白朮　茯苓　甘草　黃　肉桂</p>
<p><u>肥兒丸</u></p>
<p>　蒼朮（一兩，米泔浸炒）　厚朴（一兩，薑汁炒）　山楂肉（一兩）　黃連（一兩，薑汁炒）　陳皮（一兩，去白）　甘草（五錢，炙）　神麯（一兩炒）　麥芽（一兩）　白朮（八錢，炒）　山藥（一兩）　半夏（一兩，制）　木香（六錢）　砂仁（六錢，炒）　蓮肉（二兩，去心）　胡黃連（五錢）　銀柴胡（五錢）　白茯苓（一兩）　使君子肉（一兩）　上為末，蜜丸如綠豆大，陳皮湯服。</p>
<p><u>四味丸</u></p>
<p>　白朮　茯苓　胡黃連　蘆薈</p>
<h3>脈法</h3>
<p>錢仲陽曰：小兒之脈氣不和則弦急，傷食則沉緩，虛驚則促急，風則浮，冷則沉細，脈亂則不治。</p>
<p>《水鏡訣》云：陰陽運合，男女成形，已分九竊四肢，乃生五臟六腑，部分既別，逆順難明，若憑寸口之浮沉，必乃橫亡於孩子。須明虎口，別看三關，審詳用藥，始無差誤。未至三歲看虎口，食指第一節名風關，脈見初病易治；第二節名氣關，脈見病深難治；第三節名命關，脈見死不治。三關青是四足驚，赤是水驚，黑是人驚，紫色瀉痢，黃色雷驚，三關通度是極驚之症，必死。或青或紅，有紋口線一直者，是乳食傷脾，必發驚熱。左右一樣者，是驚與積發。齊有三條，或散是肺生風痰，或是　聲，有赤是傷寒及嗽，如紅火是瀉，紅黑相兼主下痢，黑青多白痢赤痢，紅色紫色相兼加口渴，虎口脈紋亂，主胃氣不和。青是驚與積，青黑發慢驚，脈入掌乃內釣，指紋曲裡風盛，彎外食積。此論三歲以上之法，若三歲以下更用一指按高骨，乃分三關，定其息數呼吸，七八至為平脈，九至不安，十至危。因浮主風，沉遲主虛寒，實主有熱，緊主癲癇，洪主熱盛，沉緩主虛瀉，微遲有積有蟲，遲澀主胃脘不和，沉主乳食難化，沉細主乳積停滯，緊弦主腹中熱痛，牢實主大便閉結。沉而數者骨中有熱，弦長是肝肺有風，緊數乃驚風為患，四肢掣顫，浮洪乃胃口有熱，沉緊主腹痛有寒，虛澀者有氣，又主慢驚，芤主大便利血。四歲以下用一指滾轉，尋三部以關為準，七八歲移指少許，九歲次第依三關部位尋取，十一十二歲亦同，十四十五歲依大方脈部位診視。凡看脈先定浮沉遲數、陰陽冷熱。沉（裡）遲（寒）為陰，浮（表）數（熱）為陽，更兼看部位。青主驚風，白主虛瀉，赤主痰熱，黑色病深，黃主脾疳，以此相參察療治，庶無誤也！（批，以下形脈不可專執，以此投劑，然亦不可不知，故附諸名。以下俱參辨脈形治也。）</p>
<p>流珠形（批：流珠形只一點紅色，在食指風關之側）：主飲食所傷，內熱欲吐，或腸鳴自利，煩躁啼哭，用助胃膏消飲食、分陰陽，若消食而病仍作，用香砂助胃膏以補其脾胃。</p>
<p>環珠形（批：環珠形比流珠形大）：主脾虛停食，胸膈脹滿，煩渴發熱。用五味異功散加山楂、枳實健脾消食，後用六君子湯調養中氣。</p>
<p>長珠形（批：長珠形圓長，以上非謂圈子，總皆紅脈貫氣如此）：主脾傷，飲食積滯，肚腹作痛，寒熱不食，先用大安丸消其積滯，次用異功散健其脾氣。</p>
<p>來蛇形（批：來蛇形即是長珠形散，一頭大、一頭尖）：主脾胃，脾濕熱中脘不利，乾嘔不食，此疳邪內作，先用四味肥兒丸，治疳後用四君子湯補脾。</p>
<p>去蛇形（批：去蛇亦如此，分上下朝，故曰來蛇去蛇）：主脾虛食積吐瀉，煩渴氣短，喘急不食，困倦，先用六君子東加枳實健脾消積，次以七味白朮散調補胃氣。</p>
<p>弓反裡形（批：角弓反張向裡為順，向外為逆）：主感冒寒邪，哽氣出氣，驚悸困倦，四肢梢冷，小便赤色，咳嗽吐涎，先用惺惺散助胃氣、祛外邪，後以五味異功散加茯神、當歸養心血、助胃氣。若外邪既解，而驚悸指冷，脾氣受損也，宜用七味白朮散補之。若悶亂氣粗，喘促哽氣者，難治，脾虛甚故也。</p>
<p>弓反外形：主痰熱，心神恍惚，夾驚夾食，風癇痰盛，先以天麻防風丸祛外邪，又用五味異功散調中氣。</p>
<p>形（批：　形直上）：主風熱生痰，發搐，先用抱龍丸，如未應，用牛黃清心丸。若傳於脾肺，或過用風痰之藥，而見一切諸症者，專調補脾胃。</p>
<p>魚骨形（批：魚骨分開）：主驚痰發熱，先用抱龍丸治之，如未應，屬肝火實熱，少用抑青丸以清肝，隨用六味丸以補肝。或發熱少食，或痰盛發搐，乃肝木克脾土，用六君子東加柴胡，補脾土以制肝木。</p>
<p>水字形（批：水字形即三脈並見）：主風驚食積，胸膈煩躁，頓悶少食，或夜啼痰盛，口噤搐搦，此脾胃虛弱、飲食積滯而木克土也。先用大安丸消導飲食，次以六君鉤藤補中清肝。若已服消導化痰等劑而病不愈者，用四君、升麻、柴胡、鉤藤升補脾氣，平制肝木。</p>
<p>針形（批：針形即過關一二米許）：主心肝熱極生風，驚悸煩悶，困倦不食，痰盛搐搦。先用抱龍丸祛風化痰，次用六君子湯、鉤藤平肝實脾。</p>
<p>透關射指形（批：透指命脈曲裡）：主驚風痰熱聚於胸膈，乃脾肺虧損，痰邪乘聚，先用牛黃清心丸清脾肺化痰涎，次用六君子東加桔梗、山藥，補脾土益肺金。</p>
<p>透關射甲形（批：射甲命脈向外）：主驚風肝木剋制脾土之敗症，急用六君、木香、鉤藤、官桂溫補脾土，未應即加附子以回陽氣，多得生者。嘗聞古人云，小兒為芽兒，如草之芽，水之泡，蓋因臟腑脆嫩，口不能言，最難投劑，當首視面色而知其屬，次驗虎口以辨其因，實為治法之簡要也。</p>
<p>（虎口脈紋歌：）</p>
<p>（小兒食積辨三關，男左女右一般看。要知初氣中風候，末是命門易亦難。要知虎口氣紋脈，到指看形分五色。黃紅安樂五臟和，紅紫依稀有損益。紫青傷食氣虛損，青黑之時症候極。忽然純黑在其間，好手醫人心膽寒。指紋深青主驚悸，青亦相半急驚看。青而深紫神形縮，來去不定慢驚干。紫黑青紋或隱隱，似出不出慢脾端。淺青之色腹中痛，青黑內吊驚搐開。淡紅下痢或吐瀉，腹痛不食病尤難。深紫驚哭紅驚熱，赤紅相半是傷寒。淺紫煩渴或吐痢。紋彎傷乳病相干。彎紋入裡順且可，出外透甲絕脈看。風關魚刺驚青治，氣主疳勞熱易痊。命關青主虛風治，風入脾兼肺主難。風見懸針主水驚，氣關疳亦肺煩生。命關一見未可治，紫紅微微如是輕。風關水是驚入肺，咳嗽生痰潮熱生。氣見涎痰積不化，命驚疳積哭亦傾。乙字風關肝受驚，氣關亦主受驚侵。命關若是慢脾病，總是靈丹命不存。風見蛔蟲疳積聚，小便閉結腹虛膨。氣關作渴主瀉痢，命若逄之定見傾。環形風見肝疳積，氣見須知吐逆侵。病久定因疳入胃，命關若見死無生。一見流珠膈熱多，三焦不慢瀉頻過。煩躁哭啼時欲吐，腸鳴自利可調和。來蛇中脘不調和，積氣攻攢乾嘔多。若見去蛇時瀉痢，脾虛飲食不消磨。弓反裡形頭目重，寒邪驚裡小便黃。四肢倦怠兼相冷，逐冷疏風便得康。弓反外形痰熱病，夾驚夾食及風癇。心神驚悸神志倦，用藥寧心便得痊。）</p>
<p>（紫熱紅傷寒，青驚白色疳，黑時因中惡，黃即困脾端。）</p>
<p>半歲以下於額前眉端發際之間，以無名指三指候之，兒頭在左舉右手，兒頭在右舉左手，食指在上，中指在中，無名指在下。三指熱，外感風、鼻塞咳嗽；三指冷，外感寒，內傷飲食，發熱吐瀉。食中熱主上熱下冷，中指熱主夾驚，食指熱主食滯。</p>
<p>〔附方〕</p>
<p><u>助胃膏</u></p>
<p>　木香　乾薑　炙草　山藥　蓮肉　白朮　茯苓　肉果　訶子　神麯　麥芽　人參　砂仁　丁皮　白蔻為末蜜丸，如芡實大。</p>
<p><u>五味異功散</u></p>
<p>　見驚風症。</p>
<p><u>六君子湯</u></p>
<p>　見瘧症。</p>
<p><u>大安丸</u></p>
<p>　見滯頤症。</p>
<p><u>四味丸</u></p>
<p>　見五軟症。</p>
<p><u>四君子湯</u></p>
<p>　見驚風症。</p>
<p><u>七味白朮散</u></p>
<p>　見　症。</p>
<p><u>惺惺散</u></p>
<p>　見諸吐症。</p>
<p><u>天麻防風丸</u></p>
<p>　天麻　防風　半夏　川芎　蘆薈　青黛　黃連　五靈　蟬蛻　全蠍　麝香　夜明砂</p>
<p><u>抱龍丸</u></p>
<p>　見驚風症。</p>
<p><u>牛黃清心丸</u></p>
<p>　見滯頤症內。</p>
<p><u>抑青丸</u></p>
<p>　黃連　吳茱萸　湯浸一宿為末，水泛為丸。大瀉肝火，治左脅作痛。</p>
<h3>脈要論</h3>
<p>男子不可久瀉，女子不可久吐。左手屬陽，右手屬陰也。關前屬陽，關後屬陰也。汗多亡陽，下多亡陰。諸陰為寒，諸陽為熱。人迎者，左手關前一分是也；氣口者，右手關前一分是也。人迎以候天之六氣，風寒暑濕燥火之外感也；人迎浮盛則為傷風也，緊盛則傷寒也，洪大則傷暑也，沉細則傷濕也，虛數則傷熱也。氣口以候人之七情，喜怒憂思悲恐驚之內傷也。喜者脈散也，怒者脈激也，憂者脈澀也，思者脈結也，悲者脈緊也，恐者脈沉也，驚者脈動也。人迎脈緊盛，大於氣口一倍為外感，風與寒皆屬於表為陽也、腑也。氣口脈緊盛，大於人迎一倍，為傷食，為勞倦，皆屬於裡，為陰也、臟也。人迎氣口俱緊盛，此為夾食傷寒，為內傷外感也。男子久病氣口充於人迎者，有胃氣也；女子久病，人迎充於氣口者，有胃氣也，病雖重可治，反此則逆。外因者，六淫之邪也；內因者，七情之氣也；不內外因者，飲食勞倦跌仆也。</p>
<p>六脈者，浮沉遲數滑澀也。浮者為陽，在表為風、為虛也；沉者為陰，在裡為濕、為實也；遲者在臟，為寒、為冷、為陰也；數者為熱、為燥、為陽，在腑也；滑者血多氣少也；澀者氣多血少也，澀為氣遏滯。中風宜浮遲，忌急實也。</p>
<p>傷寒宜洪大，忌沉細也。咳嗽宜浮澀，忌沉伏也。腹脹宜浮大，忌虛小也。下痢宜虛小，忌浮洪也。狂疾宜實大，忌沉細也。霍亂宜洪大，忌微遲也。消渴宜數大，忌虛小也。水氣宜洪大，忌沉細也。鼻衄宜沉細，忌浮大也。腹疼痛宜沉細，忌浮大也。上氣浮腫宜浮滑，忌微細也。頭痛宜浮長，忌短澀也。喘急宜浮滑，忌脈澀也。吐血宜沉弱，忌實大也。</p>
<p>金瘡宜微細，忌緊數也。中惡宜緊細，忌浮大也。中毒宜數大，忌微細也。腸癖宜沉遲，忌急疾也。內傷宜弦，忌小弱也。風痹宜虛濡，忌緊急也。溫病發熱忌微小也。腹中有積忌虛弱也。病熱忌脈靜也，病泄忌脈大也。翻胃宜浮緩，忌沉濡也。咳逆宜浮緩，忌弦急也。諸氣宜浮緊，忌虛弱也。痞滿宜滑脈，忌澀脈也。婦人帶下宜遲滑，忌虛浮也。婦人妊娠宜洪大，忌沉細也。勞怯宜小緩，忌弦數也。產婦面赤舌青母活子死也，面青舌赤母死子活也，面舌俱青口唇沫出，子母俱死也。婦人已產宜小實，忌虛浮也。婦人虛勞，右寸數者危也。魚口氣急者死也，循衣摸床者死也。口臭不可近者死也，舌卷卵縮者死也，眼目直視者死也，面無光牙根黑者死也，汗出身體不涼者死也，頭面痛卒視無見者死也，黑色入耳目鼻漸入口者死也。溫病大熱，脈細小者死。溫病汗出不足者死也，瘦脫形，發熱脈堅急者死也。人病脈不病者名內為虛也，脈病患不病者名行尸也。若閉目不欲見人，宜弦急而長，忌浮短而澀也。病若開目而渴，心下悸者宜緊實而數，忌浮澀而微也。病若譫言妄語身嘗有熱，脈宜洪大，忌手足厥冷，脈細而微也。傷寒舌黑者死也，久病汗出不收者死也。</p>
<h3>小兒哺乳宜慎擇論</h3>
<p>夫初生小兒藉乳為命，其哺乳之法，不可不慎。（批：不特乳要慎，而小兒乳母亦要留心，凡乳母稟賦之濃薄，性情之緩急，骨相之堅脆，德性之善惡，兒能連背，大為關系，不知漸染，既久識性不問，猶如接木之造化然也，故亦不可不擇信哉。）蓋乳者，榮血之所化也，故乳母尤宜謹節，飲食下咽，乳汁便通，情欲動中，乳汁便應，病氣到乳汁必凝滯，兒得此乳，疾病立至。不吐則瀉，不瘡則癤，或為口糜，或為驚搐，或為夜啼，或為腹痛。病之初來，其溺必甚少，便須詢問端的，隨症調治，母安則子安，可消患於未形也。故乳母夏不欲熱，熱則致吐逆；冬不欲寒，寒則致咳痢；母不欲怒，怒則上氣癲狂；母不欲醉，醉則令身熱腹痛。母方吐下而乳，則致虛羸。母有積熱而乳，則變黃不能食。新房而乳，則瘦脊交頸不能行。新浴而乳，則發吐　神困。傷熱乳則瀉黃，傷冷乳則瀉青。冷熱不調停積胸膈，結為痰飲，遂成壯熱。壯熱不已，乃成驚癇。兒啼未定，遽以乳哺，氣逆不消，因成乳癖。懷妊而乳，至令黃瘦、腹大、腳弱，名曰病。大抵哺乳不可太飽，故俗云：若要小兒安，須帶三分飢與寒是也。</p>
<h3>護養法</h3>
<p>巢氏曰：小兒初生肌膚未實，宜用舊絮護其背，不可太暖，更宜數見風日，則血氣剛強，肌肉致密。若藏於重幃密室，或濃衣過暖，則筋骨軟脆，不任風寒，多易致病。衣服當隨寒熱加減，但令背暖為佳，亦勿令出汗，恐表虛風邪易傷。哺乳亦不宜過飽，若宿滯不化，用消乳丸治之。陳氏所謂忍三分寒，吃七分飽，頻揉肚，少洗浴，要肚暖、頭涼，皆至論也。須令乳母預慎七情六淫、濃味炙　，則乳汁清寧，兒不致疾，否則陰陽偏勝，氣血沸騰，乳汁敗壞，必生諸症。若屢用藥餌，則臟腑陰損，多變敗症，可不慎歟。大抵保嬰之法，未病則調治乳母，既病則審治孩兒，亦必兼治其母為善。</p>
<p>〔附方〕</p>
<p><u>消乳丸</u></p>
<p>　見初生諸症內。</p>
<h3>變蒸</h3>
<p>巢氏曰：小兒變蒸者，以長氣血也，變者上氣，蒸者體熱。仲陽曰：變者，易也。又云變蒸者，自內而長，自下而上，又身熱，故每變畢即覺性情有異於前。何者？長生臟腑意智故也，何謂三十二日長骨肉、添精神？人有三百六十五骨，以象天數，以應期歲，以分十二經絡。自初生至三十二日，一變生癸，屬足少陰經。腎藏精與志。六十四日，二變一蒸生壬，屬太陽經膀胱腑，其發耳與　冷，腎與膀胱合，俱主於水，地六成之。至九十六日，三變生丁，屬手少陰經，心藏神，其性為喜。至一百二十八日，四變二蒸生丙，屬手太陽經小腸腑，其發汗出而微驚，心與小腸合為火，地二生火，天七成之。至一百六十日，五變生乙，屬足厥陰經，肝藏魂喜哭。至一百九十二，六變三蒸生甲，屬足少陽經膽腑，其發目不閉而赤，肝與膽合主木，天三生木，地八成之。</p>
<p>至二百二十四日，七變生辛，屬手太陰經，肺藏魄。至二百五十六日，八變四蒸生庚，屬手陽明經大腸腑，其發膚熱而汗、或不汗，肺與大腸合生金，地四生金，天九成之。至二百八十八日，九變生己，屬太陰經，脾藏意與智。至三百二十日，十變五蒸生戊，屬足陽明經胃腑，其發不食，腹痛而吐乳，脾與胃主土，天五生土，地十成之。又手厥陰經心包絡為臟、手少陽三焦為腑，此一臟一腑俱無狀，故不變而不蒸也。前十變五蒸，乃天地之數以生成之。此後如生齒能言，知喜怒，故云始全也。《太倉》云：氣入四肢，長碎骨於十變，設六十四日為一大蒸，計三百八十四日，長其經脈。手受血故能持物，足受血故能行立。《經》云：變且蒸，謂蒸畢而足一歲之日有餘也。師曰：不汗而熱者發其汗，大吐者微止，不可別治。又六十四日為二大蒸，計四百四十八日。又六十四日為三大蒸，計五百十二日，至五百七十六日，變蒸既畢，兒乃成人也。變者生五臟也，蒸者養六腑也。變蒸者上氣，蒸者體熱。每經一變一蒸，情態即異，輕者發熱微汗，其狀似驚，重則壯熱，脈亂而數，或汗或吐，或煩啼燥渴，輕者五六日解，重者七八日解，其候與傷寒相似。亦有變蒸之余，續感寒邪者，但變蒸則耳冷　冷，上唇發泡如濁珠，若寒邪搏之，則寒熱交爭，腹中作痛而啼叫之聲日夜不絕。</p>
<p>變者，易也。蒸於肝，則目眩微赤；蒸於肺，則嚏嗽毛聳。凡五臟六腑、筋脈骨節，循環各有證應，其治法平和者，微表之；實熱者，微利之，可服紫丸、黑散、柴胡湯。有汗無熱並吐瀉不乳多啼者，當歸散、調氣散主之。變蒸之外，小兒體貌情態自然、平和，大抵人得中和之道，以為純粹，陰陽所得，剛柔兼濟。氣血和而百脈順，所以心智益通，精神俱備，臟腑充實，形體固壯，齒細發黑，聲洪睡穩，此乃受氣充之，稟性得中而無疾耳。前症蓋小兒所不免者，雖無藥亦可也。前藥峻厲，非惟臟腑不勝，抑且反傷氣血。余嘗見一小兒，至一變發熱有痰，投抱龍丸一粒卒至不救，觀此可驗，慎之！慎之！其有不熱不驚，略無症候而暗變者，蓋受胎氣壯實故也。</p>
<p>〔附方〕</p>
<p><u>紫丸</u></p>
<p>　即紫霜丸，見小兒初生諸疾。</p>
<p><u>黑散</u></p>
<p>　麻黃　大黃　杏仁</p>
<p><u>柴胡湯</u></p>
<p>　人參（三錢）　甘草（二錢）　門冬（二錢）　膽草（一錢，酒炒）　防風（一錢）　柴胡（五分）</p>
<p><u>當歸散</u></p>
<p>　見諸瀉症內。</p>
<p><u>調氣散</u></p>
<p>　木香　香附　人參　陳皮　火香　甘草</p>
<h3>五臟虛實所主論</h3>
<p>錢氏曰：心主驚，實則叫哭發熱，飲水而搐；虛則困臥，悸動不安，心痛多叫，手足動搖驚悸。心氣熱則心胸亦熱，欲言不能，而有就涼之意，故合面臥。心熱視其睡，口中氣溫或合面而睡，及上竄搖頭切牙，皆心熱也，導赤散主之。</p>
<p>心實則氣上下滯，合臥則氣不通，故喜仰臥，則氣得上下通也，瀉心湯主之。</p>
<p>肝主風，實則目直大叫，呵欠項急煩悶；虛則切牙呵欠。氣熱則外生風，氣溫則內生風。肝熱則手尋衣領及亂捻物。</p>
<p>肝有風，則目連扎不搐，得心熱則搐。治肝，瀉清丸；治心，導赤散。肝熱甚，目反強直而搐，治與有風同。凡病或新或久皆引肝風，風動而主於頭目連扎也。若熱入目，牽其筋脈，兩　俱緊，不能轉視，故目直也。若得心熱則搐，以其子母俱有實熱，風火相搏故也。</p>
<p>潔古云：肝主謀勇，熱則尋衣捻物，目連扎，直視不能轉視，或極則身反強直，皆實熱也。目者，肝之竅，肝屬木，木性急故如此。</p>
<p>錢氏曰：脾主困。病則困睡、身熱、飲水；虛則吐瀉生風。</p>
<p>肺主喘，實則悶亂喘促，有飲水者，有不飲水者；虛則哽氣長出氣。肺熱手掐眉目鼻面，肺盛復有風冷，胸滿短氣，氣急則喘嗽上氣，當先散肺熱，後散風冷。肺只傷寒則不胸滿，肺熱唇深紅色，治之散虛熱。肺臟怯唇白色，當補。若悶亂氣粗，喘促哽氣者難治，肺虛損故也。脾肺病久則虛而唇白，脾者，肺之母，母子皆虛不能相營故曰怯。肺主唇，唇白而澤者吉，如枯骨者死。</p>
<p>潔古云：肺主氣，溫則壯熱，飲水喘悶，鼻干燥，手捫眉面，瀉白散主之。胸滿短氣，氣急喘嗽上氣，皆是肺氣有餘，復感風邪之所傷，謂之微邪，先瀉而後發散之。</p>
<p>錢氏曰：腎主虛，無實也。惟瘡疹，腎實則黑陷。腎虛兒本虛怯，由胎氣不成則神不足，目中白睛多，其囟即解自開也，面色　白，此皆難養，不過八八之數，若恣色欲，多不及四旬而亡。或有因病而致，腎虛者非也。又腎氣不足則下竄，蓋骨重，惟欲下墜而縮身也。腎，水陰也，腎虛則畏明，宜補之。</p>
<p>潔古云：下竄者，腎氣不足。兩足熱，不喜衣覆足。然此者，臍以下皆腎之所主，緣心氣下行於腎部也，此乃腎不足而心有餘，宜地黃丸主之。</p>
<p>〔附方〕</p>
<p><u>導赤散</u></p>
<p>　見五淋症內。</p>
<p><u>瀉心湯</u></p>
<p>　見熱症內。</p>
<p><u>瀉青丸</u></p>
<p>　見驚風症內。</p>
<p><u>瀉白散</u></p>
<p>　見咳嗽症內。</p>
<h3>五臟相勝之邪論</h3>
<p>錢氏曰：肝臟病見秋，木旺，肝強勝肺也，宜補肺瀉肝，輕則肝病退，重者唇白而死。</p>
<p>肺病見春，金旺，肺強勝肝，當瀉肺，輕者肺病退，重者目淡青，必發驚，更有赤者，發搐為肝怯，當目淡青也。</p>
<p>心病見冬，火旺，心強勝腎，當補腎瀉心，輕者心病退，重者下竄不語，腎氣怯也。</p>
<p>腎病見夏，水勝火，腎勝心也，宜瀉腎，輕者腎病退，重者悸動當搐也。</p>
<p>脾病見四時，皆仿此治之。順者易治，逆者難治。脾怯面目赤黃，五臟相反，當隨症治之。</p>
<p>一肺病又見肝症，切牙多呵欠者，易治。肝虛不勝肺故也。若目直大叫哭，項急煩悶者，難治。蓋肺病久則虛冷，肝強實而反勝肺，視病之邪久虛實，虛則補母，實則瀉子，斯得之矣。</p>
<p>潔古云：肝勝肺則肝病，身熱發搐，又見肺虛喘而氣短，病見於申酉戌時，是肝真強也。</p>
<p>《內經》曰：受所制而不能制，謂之真強，法當補脾肺而瀉肝，導赤散、瀉黃散主之。</p>
<p>按劉宗濃云：此皆五臟相勝，病機不離五行生剋制化之理。蓋小兒初生襁褓，未有七情六欲，只是形體脆弱，血氣未定，臟腑精神未完，所以有臟氣虛實勝乘之病，但世俗不審此理，往往遇是即指為外感內傷而用藥，致枉死者多矣，悲夫！然錢氏論之太略，潔古補之，今特參附，以惠無窮云。</p>
<p>〔附方〕</p>
<p><u>導赤散</u></p>
<p>　見驚風症內，一見五淋症內。</p>
<p><u>瀉黃散</u></p>
<p>　見熱症內。</p>
<h3>五臟子母虛實鬼賊微正論</h3>
<p>潔古云：在邪前者為實邪，子能令母實，但賊傷於母，其子又引母所克，妻來相助，故曰實邪也；在後者為虛邪，母引子之鬼賊至，由母能令子虛也。《內經》曰：母能令子虛、子能令母虛，正此之謂也。</p>
<p>妻來乘夫為微邪，夫來乘妻為賊邪，法當瀉鬼補本臟。本臟自病為正邪，宜虛則補之、實則瀉之。《內經》云：滋苗者必固其本，伐下者必枯其上。逆其根，伐其本，則敗其真矣！按劉宗濃云，此五行生克之通論也，義見《難經》五十難及後五臟補瀉治要論，宜參考之。</p>
<h3>五臟補瀉之法論</h3>
<p>潔古云：心主熱，自病或大熱，瀉心湯主之。實則煩熱，黃連瀉心湯主之；虛則驚悸，生犀散主之。</p>
<p>肺乘心為微邪，喘而壯熱，瀉白散主之。</p>
<p>肝乘心為虛邪，風熱，煎大青膏，下大青丸。</p>
<p>脾乘心為實邪，瀉利身熱，瀉黃散主之。</p>
<p>腎乘心為賊邪，恐怖惡寒，安神丸主之。</p>
<p>按劉宗濃云：乘者猶乘車之乘也。大抵五臟之病相乘伏匿，隱顯莫測，以上俱言本病乘勝之道，故以五臟之治要附下，宜參考焉。</p>
<p>凡心臟得病，必先調其肝腎兩臟，腎者心之鬼，肝者心之母，肝氣通則心氣和，肝氣滯則心氣逆，此心病先來求於肝，清其源也，五臟受病必先傳其所勝，水能勝火，則腎之受邪，必傳於心，故先治腎逐其邪也，當退腎氣、抑肝氣兩方，或診其脈，肝腎兩臟俱和而心自生疾，然後審心之虛實治之。</p>
<p>肺主燥，自病則喘嗽，燥則潤之，實則喘而氣盛，瀉白散主之，虛則喘而少氣，先益黃散而後阿膠散。</p>
<p>心乘肺為賊邪，熱而喘嗽，先地黃丸，次導赤散，後阿膠散主之。</p>
<p>肝乘肺為微邪，惡風眩目，昏憒喘嗽，羌活散主之。</p>
<p>腎乘肺為實邪，憎寒而嗽，清利，百部丸主之。</p>
<p>脾乘肺為虛邪，體重吐痰泄瀉，參苓白朮散主之。</p>
<p>凡肺之得病，先觀心經之虛實。若心火炎上鑠金，即當先抑心氣後服肺藥，若心氣和更看脾脈，若脾氣虛冷，即不能相生，而肺之生氣不足則風邪易感，故患肺寒者皆脾虛得之，若脾氣盛實則亦痞膈中焦，而大腸與肺表裡不能相通。</p>
<p>夫中焦熱膈則肺與大腸不通，其熱毒之氣必上蒸於肺而生痰。故患肺熱者多脾實得之，心氣盛者瀉之，脾氣虛者益之，脾氣實者通之，然後隨其脈之寒熱以治之，故有益心氣、益脾氣、通脾氣三藥，若診其脈氣，心脾兩臟俱和而肺自生痰，則但察肺之虛實而治之。</p>
<p>肝主風，自病則風搐拘急。肝若急，急食甘以緩之，佐以酸苦，以辛散之，實則風搐力大，瀉青丸主之，虛則風抽力少，地黃丸主之。</p>
<p>心乘肝為實邪，壯熱而搐，利驚丸主之。</p>
<p>肺乘肝為賊邪，氣盛則前伸，吹欠微搐，法當瀉肺，先補本臟。補肝，地黃丸主之；瀉肺，瀉白散主之。</p>
<p>脾乘肝為微邪，多睡體重而搐，先當定搐，瀉青丸主之，搐止再見後症，則別立法以治之。</p>
<p>腎乘肝為虛邪，憎寒呵欠而搐，羌活膏主之。</p>
<p>凡肝得病，必先察其肺腎兩臟，知其病之所因，方可治療。蓋腎者肝之母，金者木之賊，今肝之得病，若非腎水不能相生，必是肺金鬼來相攻，不得不詳審而求之。故其來在肺，先治其肺，攻其鬼也；其來在腎，先治其腎，滋其根也，然後審肝家本臟之虛實而治之。</p>
<p>脾主濕，自病則泄瀉多睡，體重昏倦，脾若濕，急食甘以緩之，實則泄下赤黃，睡不露睛，瀉黃散主之。虛則泄瀉白色，睡則露睛，白朮散主之。</p>
<p>肝乘脾為賊邪，風瀉而吐，茯苓半夏湯主之。</p>
<p>心乘脾為虛邪，壯熱體重而瀉，羌活黃芩蒼朮甘草湯主之。</p>
<p>肺乘脾為實邪，能食不大便而嘔嗽，煎檳榔大黃湯，下葶藶丸。</p>
<p>腎乘脾為微邪，惡寒泄瀉，理中湯之類。</p>
<p>凡脾之得病，先察其心肝兩臟之虛實，根其源之所起，然後救療。蓋肝為脾之鬼，心為脾之母，肝氣盛則鬼勝，心氣虧則脾之生氣不足，盛者抑之，虧則補之，所以有抑肝氣、益心氣兩法。診其脈，肝心兩臟俱和，則是脾自生疾也，察其脈虛實而治之。</p>
<p>腎主寒，自病則足經寒而逆。人之五臟惟腎無實，小兒瘡疹變黑陷，則是腎實，水克退心火，是以水能制火也心乘腎為微邪，內熱不惡寒，桂枝湯主之。</p>
<p>肺乘腎為虛邪，拘急、氣搐、身寒，理中湯主之。</p>
<p>脾乘腎為賊邪，體重泄瀉身寒，理中丸主之。</p>
<p>肝乘腎為實邪，喘嗽皮濕身寒，百部丸主之。</p>
<p>本臟虛弱是自己正令不行，乃為鬼賊所克害，當補本臟之正氣。假令肺病喘嗽時，於初春見之，法當補腎，見於夏救肺，見於秋瀉肺，見於冬補心、瀉本臟，乃名寒嗽。大抵五臟各至本位即氣盛，不可更補，到所克位不可更瀉。</p>
<p>又按劉氏云，五行之間惟有腎之一臟，母盛而子反受邪，而物之性有不可一概論者，肺腎是也。何則肺屬金，應於皮毛所主者氣。腎屬水，主於骨髓，所藏者精。氣之輕浮，能上而不能下；精之沉重，能下而不能上，此物性之自然。</p>
<p>今肺之盛，其熱之作也，氣得熱則上蒸於肺不能下，生於腎而肺受邪矣，急宜清涼以解之，使肺氣溫和，自能下生於腎，此腎病必先求之於肺。若肺和而腎忽然受病者，不過脾之濕，刑於腎而生病，所以有解肺熱、去脾邪兩藥，若脾肺兩臟俱和而腎自生病，亦察其本臟虛實而治之。</p>
<p>〔附方〕</p>
<p><u>瀉心湯</u></p>
<p>　見熱症內。</p>
<p><u>牛犀散</u></p>
<p>　見目症內。</p>
<p><u>瀉白散</u></p>
<p>　見咳嗽症內。</p>
<p><u>大青丸</u></p>
<p>　見驚風症內。</p>
<p><u>瀉黃散</u></p>
<p>　見熱症內。</p>
<p><u>安神丸</u></p>
<p>　見疳積症（去山藥）。</p>
<p><u>益黃散</u></p>
<p>　見疳積症內。</p>
<p><u>阿膠散</u></p>
<p>　阿膠　大力子　鈴子　杏仁　糯米　甘草</p>
<p><u>導赤散</u></p>
<p>　生地　木通　淡竹葉　甘草</p>
<p><u>羌活散</u></p>
<p>　防風　羌活　白芷　荊芥　川芎　地骨皮　炙草　連翹　大腹皮　鼠黏子　柴胡</p>
<p><u>百部丸</u></p>
<p>　百部　麻黃　杏仁</p>
<p><u>參苓白朮散</u></p>
<p>　見諸瀉症內。</p>
<p><u>瀉青丸</u></p>
<p>　見驚風症內。</p>
<p><u>利驚丸</u></p>
<p>　膽草　防風　蘆薈　南星　鉤藤　牙硝　鐵粉　樟腦　麝香　青黛</p>
<p><u>白朮散</u></p>
<p>　見熱症內。</p>
<p><u>茯苓半夏湯</u></p>
<p>　白茯　陳皮　黃芩　半夏　甘草　加薑煎</p>
<p><u>葶藶丸</u></p>
<p>　見咳嗽症內。</p>
<p><u>理丸中</u></p>
<p>　見驚風症內。</p>
<p><u>桂枝湯</u></p>
<p>　見驚風症內。</p>
<h3>五臟伏敵喜傷諸病論</h3>
<p>心所伏者腎，所敵者肺，所喜者苦，所傷者咸，應三變八蒸之臟。和則性情悅樂，疾則驚癇恐悸，虛躁啼叫，譫語狂煩，涎流口角，痘主紅斑。</p>
<p>肝所伏者肺，所敵者脾，所喜者酸，所傷者辛辣，應初變六蒸之臟。和則魄壯意智生，疾主風，變搐搦，眼目腫赤而疼痛，痘主水泡。</p>
<p>肺所伏者心，心所敵在肝，所喜者辣，所傷者焦苦，應二變七蒸之臟。和則喜歡，氣爽神清魂強，疾主喘滿、咳嗽，傷寒，虛痰壅盛，痘主膿泡。</p>
<p>脾所伏者肝，所敵者腎，所喜者甘，所傷者酸，應四變九蒸之臟。和則消穀氣、美飲食，疾主嘔噦，疳積，虛痢痞癖，潮熱不思乳食，痘主有疹。</p>
<p>腎之所伏者脾，所敵者心，所喜者咸，所傷者甘，應五變十蒸之臟。和主行坐嬉笑語言，疾主崩砂黑齒，截發切牙，耳膿汁，痘主黑陷。</p>
<h3>驗五臟氣絕症</h3>
<p>《全幼心鑒》云：凡小兒囟門腫陷，汗出不流，如珠如油，舒舌退場門，舌腫發驚，瀉黑黯血，發直如麻，皮膚無血色，此心絕也，壬癸日死。</p>
<p>頭重啼哭無淚，及病不哭下淚，爪甲青黑，眼深如陷，舌卷囊縮，發搐目斜，連唇口動，手如抱頭之狀，或腳面平直。《素問》云：其華在爪，其充在筋，肝絕也，庚辛日死。</p>
<p>人中滿黑，唇焦枯燥，及唇干紫黑，唇不蓋齒面腫，尿血舌縮或卷，鼻孔開張，齒禁冷汗如油，撮口如囊，面如土色，四肢逆冷，狀如溫石，吃乳不收，瀉糞赤黑，脾絕也，甲乙日死。</p>
<p>有熱咽湯水並藥食，喉中鳴，是胃脘直不能蔭肺，此症諸書少有累，曾試之，並不能治。</p>
<p>目直青鮮，氣喘不回，吃食噎嗽，痰涎塞口，喉中鳴響，鼻塞不通及干黑燥，肺脹胃膈，頭汗四肢冷，肺絕也，丙丁日死。</p>
<p>面黑唇垂，眼黑青腫，目無光彩，耳葉青黃焦枯，齒疳，發落疏黃，皮燥膚黑，驚風，咳乳戛齒，泄氣，黑色繞口，腎絕也，戊己日死。</p>
<h3>運氣總論</h3>
<p>太極肇分而有陰陽。夫陰陽者，天地之道也，萬物之綱紀，變化之父母，生殺之本始，神明之府也。故物生謂之化，物極為之變，陰陽不測謂之神。然天地者，萬物之上下也；左右者，陰陽之道路也；水火者，陰陽之征兆也；金木者，生成之始終也。陰陽五行流為十干、五化之運，寒暑燥濕風火之氣，周流天地間而為萬物之源，人則稟其精而圊於兩間，所以具五臟六腑，以應五運六氣之數也。五運者，金木水火土也；六氣者，風寒暑濕燥火也。聖人仰觀五天云色，天干取運，地支取氣。天干有十，配合則為五運；地支十二，對沖則為六氣。所以然者，天有陰陽，地亦有陰陽。天以陽生陰長，地以陽殺陰藏。陽中有陰、陰中有陽。人在氣交之中，身半以上，天之分也，天氣主之；身半以下，地之分也，地氣主之。其生五，其氣三，三而成天，三而成地，三而成人，三而三之則為九，九九成會，故生九竅九臟而應之也。</p>
<p>天有三百六十五日，人有三百六十五骨節。天有五行御五位，以生寒暑燥濕風，人有五臟化五氣，以生喜怒憂思恐。在天為玄，玄生神；在人為道，道生智；在地為化，化生五味。神在天為風，在地為木，在人為怒。神在天為熱，在地為火，在人為喜。神在天為濕，在地為土，在人為思。神在天為燥，在地為金，在人為憂。神在天為寒，在地為水，在人為恐。寒暑五氣更立，各有所先，非其位則邪，當其位則正。陰陽之神不可得而見也，支干之跡不可得而求之也。天氣始於甲，地氣始於子，天地相合則為甲子，故甲子者干支之始也。天氣終於癸，地氣終於亥，天地相合則為癸亥，故癸亥者干支之末也。陰陽相兼，剛柔相須，是以甲子之後，乙丑繼之；壬戌之後，癸亥繼之，三十年為一紀，六十年為一周。有主運焉，有客運焉，有主氣焉，有客氣焉。主運主氣，萬載不易。客運客氣，與歲遞遷。自天支兄弟次序言之，甲乙東方木也，丙丁南方火也，戊己中央土也，庚辛西方金也，壬癸北方水也。故木為初之運，火為第二運，土為第三運，金為第四運，水為第五運，此主運也。自其夫婦配合言之，甲與己合而化土，乙與庚合而化金，丙與辛合而化水，丁與壬合而化木，戊與癸合而化火。故甲己之歲，土運統之；乙庚之歲，金運統之；丙辛之歲，水運統之；丁壬之歲，木運統之；戊癸之歲，火運統之，此客運也。假如甲己年為土運，初之運即土也。土生金，二之運即金也。金生水，三之運即水也。水生木，四之運即木也。木生火，五之運即火也。與一運各主七十二日零五刻，此天干在上為陽，所以主乎運也。又以地支循環次序言之，寅卯屬春木也，巳午屬夏火也，辰戌丑未屬四季土也，申酉屬秋金也，亥子屬冬水也。</p>
<p>故風為初之氣，火為二之氣，暑為三之氣，濕為四之氣，燥為五之氣，寒為終之氣，此主氣也。自其對沖定位言之，子對午而為少陰君火，丑對未而為太陰濕土，寅對申而為少陽相火，卯對酉而為陽明燥金，辰對戌而為太陽寒水，巳對亥而為厥陰風木。故子午之歲君火主之，丑未之歲濕土主之，寅申之歲相火主之，卯酉之歲燥金主之，辰戌之歲寒水主之，巳亥之歲風木主之，此客氣也。假令子午少陽君火司天，陽明燥金司地，上者右行，太陰濕土為天之左間，厥陰風木為天之右間，所以面南而命其位也。下者左行，太陽寒水為地之左間，少陽相火為地之右間，所以面北而命其位也。一氣在上，一氣在下，二氣在左，二氣在右。地之初間為初之氣，天之右間為二之氣，司天為三之氣，天之左間為四之氣，地之右間為五之氣，司地為終之氣。每一歲主旺六十日八十七刻半有奇，此地支在下為陰，所以主乎氣也。然客運之流行也，有太過焉，有不及焉。太過之年，甲丙戊庚壬，五陽干也；不及之年，乙丁己辛癸，五陰乾也。太過至大寒前十三日交，名曰先天；不及至大寒後十三日交，名曰後天；平氣之年正大寒日交，名曰齊天。客氣升降也，有正化焉，有對化焉。正化之歲，謂午未申酉辰亥之年也；對化之歲，謂子丑寅卯戌巳之年也。正化者，令之實，從本，其數生；對化者，令其虛，從標，其數成。假令甲子年，甲為土運，統主一年，子為君火，專司一歲。一期三百六十五日零二十五刻，正合周天三百六十五度四分度之一也。一期之中，主運於位，而相次於下；客運以氣，而周流於上。客氣加於主運之上，主運臨於客氣之下，天時所以不齊，民病所以由生也。</p>
<p>六甲年，土運太過則雨濕流行，濕病乃生，腎水受邪，治當除濕以補腎，六己年，土運不及則木氣乘旺，反見風化，風病乃行，治當益脾以平木。六丙年，水運太過則寒氣大行，寒病乃生，心火受邪，治當逐寒以補心。六辛年，水運不及則土氣乘旺，反見濕化，濕病乃行，治當補腎以除濕。六戊年，火運太過則熱氣大行，熱病乃生，肺金受邪，治當降火以補肺。六癸年，火運不及則水氣乘旺，反見寒化，寒病乃行，治當補心以逐寒。六庚年，金運太過，則燥氣流行，燥病乃生，肝木受邪，治當清燥以補肝。六乙年，金運不及則火氣乘旺，反見熱化，熱病乃行，治當清肺以降火。六壬年，木運太過則風氣大行，風病乃生，脾土受邪，治當平木以補脾。六丁年，木運不及則金氣乘旺，反見燥化，燥病乃行，治當補肝以清燥，此客運之治化也。太陽寒水，治宜辛熱，陽明燥金，治宜苦溫；少陽相火，治宜鹹寒；太陰濕土，治宜苦熱；少陰君火，治宜鹹寒；厥陰風木，治宜辛涼，此六氣之治法也。然運氣之所以有變者，氣相得則和，不相得則病。又有相得而病者，以下臨上，不當位也。五行相生者必相得，相克者為不相得。上臨下為順，下臨上為逆。司天克運則順，運克司天則逆。氣克運則順，運克氣則逆。運氣相同曰天符，天氣生運曰順化，天氣克運曰天刑，運生天氣曰小逆，運克天氣曰不和，運臨本氣之位曰歲會天符，歲會相合曰太乙天符，運與四孟月相同曰支德符，運與交司日相合，曰干德符。太過之運加地氣，曰同天符。不及之運加地氣，曰同歲會。大要陽年先天時化，則己強而以氣勝實，故不勝者受邪。陰年後天時化，則己弱而以氣休衰，故勝已者未克。被克之後，必待時而復也。行復於所勝，則己不可前，故待得時，則子當旺，然後子為母復仇也。《經》曰：亢則害，承乃制，制則生化，外列盛衰，害則敗亂，生化大病。又曰：有餘而往，不足隨之；不足而往，有餘從之。知迎知隨，氣可與期。又曰：出入廢，則神機滅絕；升降息，則氣立孤危。故非出入，則無以生長壯老已；非升降，則無以生長化收藏，是以升降出入，無器不有。四有長守，反之則災害至矣。雖然順逆災害，盡皆天之氣運所為也。地在人之下，大氣舉之也。天六動而不息，地五靜而有守。推之歷日，依前交氣，常為與歲之主氣。又曰：地氣若司天在泉，左右間輪行而君主氣之上者，曰天氣客氣也。客氣乃行歲中天命主氣，主奉客氣之天而已。客勝主則從；主勝客則逆，二者有勝而無復已。《經》曰：先主其年，以明其氣。每年先主運氣，審其太過不及，然後以地之主氣為本，天之客氣加臨上為標，以求六化之變，如氣之勝也。微者隨之，甚者制之，氣之涌也。和者平之，暴者奪之，皆隨勝氣，安其屈狀，以平為期。抑考褚氏有曰：大堯作甲子，隸首作數志，歲月日對遠近，故以當年為甲子歲，冬至為甲子月，朔為甲子日，夜半為甲子時。積一十百千萬六，有條而不紊，皆人所為也。</p>
<p>人嬰異氣，疾難預擬，吾未見其是也，吁此一偏之見也。不知天時，非凡夫所可度。人身資大化，以生明堂。詩曰：甲膽乙肝丙小腸，丁心戊胃己脾鄉，庚屬大腸辛屬肺，壬屬膀胱癸腎臟，三焦亦向壬宮寄，胞絡同歸入癸方。又云，肺寅大卯胃辰經，脾巳心午小未中，申膀酉腎心包戌，亥三子膽丑肝通。觀此二詩，則天地人身無時不相流通，故一氣不合不能生化。天有六氣，人以三陰三陽而上奉之，臟為陰，而其數奇，以應五運，蓋五行質具於地，而氣則行於天也；腑為陽，而其數偶，以應六氣，蓋六淫雖降於天，而勢必充於地也。子午為天地之中，正君火位焉，手少陰心、足少陰腎居之。辰戌為七政之魁，正寒水位焉，手太陽小腸、足太陽膀胱居之。然火從水化，水從腎至，故少陰為臟位，與太陽隔，而氣相合為腑也。丑未為歸藏之標，本濕土位焉，足太陰脾、手太陰肺居之。卯酉為日月之道路，燥金位焉，足陽明胃、手陽明大腸居之。然子隨母居，土旺金盛，故太陰為臟位、與陽明隔、而氣相合為府也。巳亥為天地之門戶，風木位焉，足厥陰肝、手厥陰心包絡居之。寅申握生化之始終，相火位焉，足少陽膽、手少陽三焦居之。然相火寄與肝腎，膽者肝之府，心包絡者腎之配，故厥陰為藏位，與少陽隔、而氣相合為腑也。南北三陽司天，則皆寸不應；三陰在泉，則皆尺不應；地政三陽司天，則皆尺不應；三陰在泉，則皆寸不應，寸不應者皆為沉脈也。由此觀之，經絡臟腑，脈病藥治，無非運氣之所為也。非只一歲也，雖一時一刻之短，而必行之氣莫不存；非特一物也，雖一毫一芒之細，而五行之化莫不載。上達於天，則有五星倍減之應；下推於地，則有草木蟲肓之驗。奈何俗醫，不知醫之源者，全然不識運氣為何物，不知醫之變方，又泥時執鈴方以害人。要之，有在天之運氣，有在人之運氣。天時勝，則舍人之病，而從天之時；人病勝，則舍天之時，而從人之病。張子曰：病如不是當年氣，看與何年運氣同，只向其年求治法，方知都在至真中。扁鵲曰：陰淫寒疾，陽淫熱疾，風淫未疾，晦淫惑疾，明淫心疾，雨淫腹疾。《經》曰：必先歲氣，毋伐天和。又曰：不知年之所加，氣之盛衰，不可以為工，學人合而觀之，更精於脈症，乃自得之。噫！儒之道，博約而已矣；醫之道，運氣而已矣，學人可不由此入門而求其蘊奧耶。</p>
<p>〔另方〕</p>
<p><u>滋水益元湯</u></p>
<p>　白芍藥　當歸　生地　熟地　丹皮　茯苓　五味子</p>
<p><u>逍遙散</u></p>
<p>　黑山梔　生地　當歸　柴胡　茯神　甘草　牡丹皮</p>
<p><u>四逆湯</u></p>
<p>　乾薑　白朮　甘草　肉桂或附子</p>
<p><u>清暑益氣湯</u></p>
<p>　黃　（一錢）　升麻（一錢）　蒼朮（一錢，炒）　當歸（五分）　白朮（五分，炒）　神麯（五分）　干葛（五分）　門冬（五分，去心）　五味子（七粒，搗）　陳皮（五分）　人參（五分）　甘草（三分）　澤瀉（三分）　青皮（三分）　黃柏（三分）</p>
<h2>附錄</h2>
<h3>六氣之圖</h3>
<p><a href="_files/p03-b8a3.bmp">圖</a></p>
<p><a href="_files/p03-b8a1.bmp">六氣之圖</a></p>
<h3>逐年五運六氣圖</h3>
<p><a href="_files/p03-b8a2.bmp">逐年五運六氣圖</a></p>
<p>大寒木運始行初，清明前三火運居，芒種後三土運是，立秋後六金運推，立冬後九水運伏，周而復始萬年知。</p>
<p>大寒厥陰氣之初，春分君火二之偶，小滿少陽分三氣，太陰大暑四相呼，秋分陽明五之位，太陽小雪六之余。</p>
