<header><h1>金瘡秘傳禁方</h1></header>
<dl class="元資料" data-type="book" hidden></dl>
<h2>秘書源流</h2>
<p>是書稱禁書耶？因禁故秘之也。夫謂之曰：秘閉之不欲傳也。書則為大道之公也，何以不發，於焚燒乎！非耶！稱之曰禁者，出自朝廷宮禁之中也，非使禁之而不行也。蓋夫厭胡元久穢於中華，我太祖高皇帝應運而生，掃蕩腥膻，除殘伐偽，親冒矢石。當時武將不愛命，破釜沉舟，缺槍之下，沉舟破釜之後，難免鋒鏑死傷，瘡痍痛苦之厄。又產異人如中山等以佐之，隨傷輕重制方，隨手應病其間，實有起死回生之奇。太祖不忍使民肝腦塗地，用選無不屢驗者。命采錄禁中，為生民立命也。時劉青田預軍國大計，君臣一體，亦得集之，因上曾錄之。故稱禁書而秘於家，民間罕得傳寫，今幸文武公後裔某者，仰體今上如天之仁，相與業青囊輩，討論軒岐，謀試昔秘奇方。予因偶記之，得一則計一，日積月累，謹成快焉。</p>
<p>此禁外傳之始，惜非全書，特豹文之數斑耳，予遂因而酷好此，恐後人將有覆酷之用，乃筆之篇首，開卷先入目，使之為秘書，不敢輕濫，又使知是方所自源流云云。</p>
<h2>劉國師禁方</h2>
<p>一煎水洗，二相度損處，三拔伸，四或用刀入骨，五捺正，六用黑龍散通，七用風流散填瘡，八夾縛，九服藥，十再洗，十一再用黑龍散通，十二或再用風流散填瘡口，十三再夾縛，十四仍前用服藥治之。</p>
<p>凡腦骨傷碎，輕輕用手撙令平正，若皮不破，黑龍散敷貼，若破用風流散填瘡口，絹片包之，不可見風，著水恐成破傷風。若水風入腦成破傷風，則必破發頭疼，不復可治。在發內者，須剪去發敷之。</p>
<p>凡頭骨跌碎陷下者，用鮮虎脂四兩、川芎五錢煎，好酒入脂熱服，即頭暈疼。</p>
<p>凡跌損小腹有瘀血作痛者，用當歸五錢、大黃五錢、桃仁七粒、紅花一撮，用酒一碗同煎，五更早服。</p>
<p>凡跌傷小便不通，用小桐子樹根二兩，切碎，水、酒各半煎服，即通。</p>
<p>凡指頭斷者，湊上須端正，外用草藥水，蠟燭（草藥名）內膜包裹完固，候皮肉接上，再用膏藥貼之，收口生肌藥搽之。</p>
<p>凡喉頸刎斷者，用銀絲縫合，外用草藥敷之，一日一換。二次，待皮肉相合，再換膏藥貼之，上生肌散，內服上部湯藥。</p>
<p>凡刀斧損傷腸胃突出者，用麻油、藥和水，浸濕青布，搭在腸上，候軟托邊拔入。凡手腳傷骨出者，皆有兩脛，若一脛斷可，兩脛俱斷決不可治矣。</p>
<p>凡傷損重者，大概要拔伸捺正，或取開捺正，然後縛貼頓塗夾縛。拔伸當相近本體損處，不可別去一節骨上。</p>
<p>凡拔伸且要相度左右骨如何出，有正拔伸者，有斜拔伸者。</p>
<p>凡左右損處，只相度骨縫，仔細捻捺忖度，便見大概。要骨頭歸舊，要撙捺皮相就入骨。</p>
<p>凡認損處，只須揣摸骨頭平正，便可見。</p>
<p>凡拔伸或用一人，或用二三人，看難易何如。</p>
<p>凡皮破骨出差舊，拔伸不入，撙捺相近爭一二分，用快刀割些捺入骨，不須差。又人拔伸不入，割肉自爛碎了，可以入骨，骨入之後，用黑龍散貼瘡之四圍腫處，留瘡口別用風流散填。所用刀最要快利，剜刀、雕刀皆可。</p>
<p>凡骨碎斷，須看本處平正何如？大抵骨低是骨不曾傷損，左右看骨方是損處。要拔伸捺正，用藥貼縛，要平正方是。</p>
<p>凡夾縛三兩日，冬四五日，解開用熱藥水泡洗，去舊藥時，不可驚動損處，仍用黑龍散敷夾縛，大概傷重者方如此。</p>
<p>凡腫是血作，用熱藥水洗，用黑龍散敷貼。</p>
<p>凡傷重破者，用風流散填、更塗；未破處，用黑龍散貼，須用杉木皮夾縛上。令一人默含冷水一口噴之，一驚，自然收入，然後用銀絲縫之上草藥（內服口部藥）。</p>
<p>凡大人小兒頂門打開碎者，不可用草藥，用止血散搽之即止。（內服末藥，萬無一失）</p>
<p>凡上身初跌破血出，用四味草藥敷上，內服末藥加接骨丹三分。</p>
<p>凡中身初跌損，先服末藥加接骨丹五分，輕者七日後服煎藥，重者十四日服前藥。</p>
<p>凡下體初跌損，先服末藥同中治。</p>
<p>凡不時閃挫外貼膏藥而服末藥。</p>
<p>凡腦骨傷碎，在頭腦骨上則可治，在太陽穴乃是命處，斷然不可治也。又云：治跌傷上法，先將藥以末藥搽口外，將傘紙貼以頭，將傷上又將杉樹皮緊縛定。</p>
<p>凡肩甲骨出，相度如何整治，用椅當圈住脅，仍以軟衣被綿罩，使一人捉定，兩人拔伸，卻墜下手腕，又著曲手著腕，絹片縛之。</p>
<p>凡金井骨在脅之下，有損不可夾縛，須是捺正平令安，貼平正，用黑龍散貼，絹片縛。</p>
<p>兩脅骨亦如之。</p>
<p>凡跨骨從臀上出者，可用兩人挺定腿拔伸，乃用腳捺入，如跨骨從襠內出，不可整理矣凡手骨出者，看如何出，若骨出向左，則向右邊拔入，骨向右出則向左。</p>
<p>凡拔伸捺正，要軟物如絹片墊之。</p>
<p>凡皮裡有碎骨，只用黑龍散敷貼，後來皮肉自爛碎，骨必然自出來，然後方愈。</p>
<p>凡骨打斷或筋斷有破處，用風流散填塗。卻用針線縫合其皮四圍，用黑龍散貼之。</p>
<p>凡夾縛用杉樹皮開如指大，四圍排均，用繩帶緊縛，必一二度，仍須緊縛。</p>
<p>凡平處骨碎皮不破用藥貼。縛夾大概看曲轉折之處不可夾縛，恐愈後不能伸曲正，用黑貼帛片包縛，使其曲轉屈伸，便於患者自有知覺。如指斷正用苧麻夾縛，腿上用苧麻繩須如錢大。</p>
<p>凡貼藥用板子一片將皮紙或油紙以水調黑龍散攤勻在上，然後卷之損處。</p>
<p>凡用杉木皮浸約如指大，疏排均勻，周匝用小繩三度緊縛，三日一次，如前淋洗換塗貼藥。</p>
<p>凡曲轉如手腕凹手指之類要曲伸轉動用藥貼，以絹片包裹之後時時運動，蓋能動則能伸，能伸則自能曲也。</p>
<p>凡損一月，尚可整理，久則不能治矣。</p>
<p>凡損不可吃草藥，吃則所損出骨不能如舊。</p>
<p>凡跌損腸肚中瘀血，且服散藥。四物湯之類。</p>
<p>凡跌損大小便不通未可便服接骨丹藥，蓋接骨方藥大約濕熱，又用酒調服，反助燥結，服四物湯更看如何。又服大成東加木通。如大小便未通，又加朴硝，通後卻服接骨丹藥。</p>
<p>凡傷重者，未服損藥，先服氣藥和勻氣散之類，是也。</p>
<p>凡渾身無故損痛是風損，當服風損散藥如排風湯之類。</p>
<p>凡服損藥不可吃生冷及牛羊諸魚，若吃牛肉痛不可治。</p>
<p>凡服損藥湯散必須熱服，熱便生血氣行易接骨耳。</p>
<p>凡用酒調藥不拘有灰無灰，生熱皆可。</p>
<p>凡藥三四月煉不可合，五月尤甚，存散藥隨時旋丸。</p>
<p>凡收藥丸子末子並用罐收入廚內，以火焙之。</p>
<p>凡損忌用火炙，如用之則醫不得服藥不效矣。慎之！慎之！諸藥惟小紅丸大活血丹最貴。</p>
<p>蓋其間用乳香沒藥貴重，大活血丹內，若無亦可有則更佳。楓香可代乳香用。</p>
<p>凡所用藥材有外產者，有土產者，用各不同，如當歸土與川不同，丸子宜土，末子宜川來道地者。</p>
<p>一傷腰笑不止及傷閃腰不能轉動，宜服尋痛散加紅花、蘇木、嫩桑葉、牛膝、忍冬藤，共為末入尋痛內服效。</p>
<p>一破傷風牙關緊急，口閉手足拘攣，諸藥不效。此為風氣關塞萬否而不能通行四肢，即用消風散治之。</p>
<p>一打傷重血氣上攻口眼鼻中皆出血者，即用紅花破血散加木鱉子、紫金皮服之效。</p>
<p>一他傷外血破打傷肚腹，傷重陰血腸外脂膏，腹內痛如不治其人日漸羸瘦，如怯正服此藥。</p>
<p>大黃　朴硝　金砂　虻蟲　卷柏葉　上　咀，薑三片，童便、水各半，煎七分服。</p>
<p>一傷血結大小便不通，諸藥不能奏效，即服此。大黃　木通　紅花　上咀片，水煎此藥，當通諸損應妙。</p>
<p>一刀傷破瘡口不合，此藥洗之。</p>
<p>香附子　厚朴　羌活　紫金皮　共咀片，入薑蔥煎水洗一打傷破青紫腫如饅者，用老茄通黃者六兩，切作片，干為末，臨睡時，酒吞三茶匙，一夜即消之。</p>
<p>一破傷風用杏仁去皮留尖為末，小麥面和井花水刷上即消。</p>
<p>一倒須箭射入骨痛抽箭扯帶筋出腫痛欲死，服此有命也。</p>
<p>大黃　黃連　全蠍　乳香　劉一治毒藥箭射入肉，急服此，名曰追毒神樓散，更用另煎藥竹筒吸之否則毒瓦斯入肉必死莫救。</p>
<h3>追毒神樓散</h3>
<p>連翹　知母　甘草　白芷　獨活　上咀薑三片。</p>
<h3>箭吸筒藥</h3>
<p>夏枯草　千層樓　烏　樹皮　鐵骨稍（如無不用）　血見愁　山水牛　上水二碗刮薄薄苦竹筒服去風散及搽生肌散。</p>
<p>一治箭入皮肉用麻藥定整骨，取出箭頭，名曰昏昏散。山黃花　香附子　川芎　黃土上共為細末，每服一錢五分，酒調服，以草烏自然汁解之，或醋調冷水解之。</p>
<p>治火燎。糞淬苦竹筌者，或被苦竹槍殺傷有火毒走痛腫痛，服諸藥不效，此藥大效，名曰無價千金散。</p>
<h3>無價千金散</h3>
<p>木瓜　僵蠶　全蠍　側柏葉　川芎　白芷　防己　黃連　共咀片，每服七錢，薑三片、蔥三根，水、酒各半鐘，煎七分溫服，以香辛散頻頻洗去瘡毒，上生肌散。</p>
<p>一殺傷瘡口深者，於及及散內加入大黃、草烏搽瘡口上，此二味為末用蜜調貼瘡口四圍，住痛去舊血，生新血，瘡口燥生肌散不能入，用此藥貼之其肉自生滿也。</p>
<p>一殺破肚腹腸出者，治之已結口，肚內作痛，不能飲食，此是攪了腸也。缺治法。</p>
<p>一跌糞門膀胱大小便不通，日輕夜重，潮熱往來，宜服五苓散。</p>
<p>一傷重麻藥內加血竭　生磨，若胸膈有血膨悶，多服麻藥，不知何麻藥。</p>
<p>一傷輕者，不必用麻藥，只加血竭服。</p>
<h3>生肌散加減定式</h3>
<p>白芷（新者小者去皮）作極細末，一兩一包，名曰千金散。乳香、沒藥各二錢五分，瘡口瘡痛加一錢血竭、白芨或加歸尾作末入前藥內，又能住痛生肌，如瘡口乾用麻油調搽。</p>
<h3>尋痛散</h3>
<p>治百般傷損折斷肢骨，常常服之。</p>
<p>乳香　沒藥　木香　川芎　川歸　茴香　木瓜　虎骨（一</p>
<h3>五通</h3>
<p>治傷重及血瘀歸肚攻作悶脹，急宜灌之。連服巴豆七粒（去殼以油紙七重包打去油），生薑一腹中瘀血就將冷粥湯補之，如不住，用水洗口面手足即止。</p>
<h2>秘傳葉保太仙授接骨奇方臨症口訣</h2>
<p>凡被殺腸破出者，可效。百不下死。用真麻油搽醫人之手送腸入，如腸出久被風吹脹干入者，用麻油搽腸待潤滑用手伴送入肚，急須傷口捻住，用線或銀絲縫好，用收口止血藥敷，仍以膏藥貼外少頃腹中作響聲乃腸復故位，然腹之傷否目難見，不待屎出難治，雖小有針孔亦不可救。藥試之法，取好燒酒令傷人吃一小鐘或二三口，醫人嗅聞傷處，若作酒氣即腸破傷，萬不可治，切莫妄施湯藥，自取庸凡之誚也。</p>
<p>凡人腳蓋骨乃另生者，或跌打磕碎或脫出治之之法。極難施巧合，用物亦做成一箍以蓋骨大箍住蓋骨，用長線織帶縛定，護膝再縛愈日取箍。</p>
<p>凡割喉見者必驚惶，多皆奔避，束手待斃，枉死多焉。殊不知事勢雖凶死中可活，於被時，不問氣食二喉急令人以手扶住其頭，托湊喉管緊捻不令氣出，急用大針穿銀絲隔寸許一縫合訖，用收口藥敷膏藥貼外，愈日銀系自脫出，其人家銀系多或不備業此者，當預置備以全好生之心耶！凡從高墜下，昏沉不蘇，形如已死，但未氣絕者，俱可效。治急進接骨丹，薑蔥油酒調若墜之時盡力叫喊聲聞遠近，身上油汗如雨，此內傷五臟，萬不救一。死在旦夕之間，切勿貪利害名。</p>
<p>凡隨跌撲打傷損臃腫之處，不肯令人著手摸看或腫硬難辨，肉內骨損醫人用手緩緩捻腫久，腫暫軟消如骨損肉內有聲，醫者用左手仰掌把捉被傷之手，挺直不可讓退，恐畏疼不肯再伸直，用右手施捻骨果碎，用藥膏貼訖，外再用做鞋硬荀箬層，再外添用紙重包好以布織長帶纏扎。如欲換藥，解開照前扎縛，倘止傷腫只用末藥方服，膏貼。如痛不可忍者，服藥及膏藥各加乳香末藥好。</p>
<p>凡骨折刺出肉外折處兩頭必如利鋒，須先用藥麻定，然後用銼銼去兩頭尖頭，按入用藥外荀箬數層，如法扎縛，再服湯散，筋骨脈絡相生，其骨自然堅固矣。若因患者畏懼疼痛，醫者畏難苟安不銼去尖鋒，潦草按入皮肉患處正欲生長肌肉，而一或勞動則尖芒復，新肉又重作掀，以致日久傷口不合，常流清水或膿血，頻仍是誰之過歟？可不慎哉！凡手腕出臼者，醫人用左手仰掌托捻被傷手臂，用右手拿住下節手近肘處，一把拿定，不可令被傷者於低矮去處坐定，自兩手指相叉抱膝上，將膝借力著實一襯其手臂，隨手直前輕輕一放兩手就入故位，若假他人扯拽反受痛苦，未必就入臂臼也。</p>
<p>凡肩脛之間其骨謂之天井骨，此骨若折必一頭高蹺不相平，服以膏貼之用紙數層鋪襯，施以薄薄杉板壓或用粉匝板以長布帶穿縛在腋下緊緊系拴，仍服接骨丹，愈日任意挑負無害。</p>
<p>頭顱乃百骸之尊，一身之主。或被跌打顱裂，骨陷有出白漿如髓者，見者可畏，多信為出其能生乎？往往待斃者多矣。吁特未加察耳。非髓也，髓外之漿也，治如常法倍下落得打，陷骨自起，裂顱自合，功用之妙有如是。夫凡切人術者，蓋亦察而知之全而生之也。</p>
