<!-- panel -->
<div id="panel" hidden>
  <div id="panel-close-wrapper">
    <a id="panel-close">關閉</a>
  </div>
  <div id="panel-main">
    <fieldset id="panel-main-view">
      <legend>檢視</legend>
      <div>
        <label>版式:</label>
        <select id="useAncient" size="1">
          <option value="false" selected>今版</option>
          <option value="true">古版</option>
        </select>
      </div>
      <div>
        <label>註:</label>
        <select id="useZhu" size="1">
          <option value="auto" selected>自動</option>
          <option value="true">顯示</option>
          <option value="false">不顯示</option>
        </select>
      </div>
      <div>
        <label>疏:</label>
        <select id="useShu" size="1">
          <option value="auto" selected>自動</option>
          <option value="true">顯示</option>
          <option value="false">不顯示</option>
        </select>
      </div>
      <div>
        <label>校:</label>
        <select id="useJiao" size="1">
          <option value="auto" selected>自動</option>
          <option value="true">顯示</option>
          <option value="false">不顯示</option>
        </select>
      </div>
      <div>
        <label>編號:</label>
        <select id="useNumbering" size="1">
          <option value="auto" selected>自動</option>
          <option value="hanging">懸掛</option>
          <option value="inline">行內</option>
          <option value="none">不顯示</option>
        </select>
      </div>
    </fieldset>
    <fieldset id="panel-main-display">
      <legend>呈現樣式</legend>
      <div>
        <label>直書:</label>
        <select id="useVertical" size="1">
          <option value="auto" selected>自動</option>
          <option value="false">橫書</option>
          <option value="true">直書</option>
        </select>
      </div>
      <div>
        <label>字體:</label>
        <select id="useFont" size="1">
          <option value="auto" selected>自動</option>
          <option value="default">預設</option>
        </select>
      </div>
      <div>
        <label>字級:</label>
        <select id="fontSize" size="1">
          <option value="16" selected>小</option>
          <option value="20">中</option>
          <option value="24">大</option>
          <option value="32">巨</option>
        </select>
      </div>
    </fieldset>
    <fieldset id="panel-main-toc">
      <legend>目錄</legend>
      <div id="panel-main-toc-list"></div>
    </fieldset>
  </div>
</div>