<header><h1>針經指南</h1></header>
<dl class="元資料" data-type="book">
<div><dt>作者</dt><dd>竇漢卿</dd></div>
<div><dt>朝代</dt><dd>元</dd></div>
<div><dt>年份</dt><dd><data value="1295">公元1295年（元·元貞元年）</data></dd></div>
</dl>
<h2>序</h2>
<p>夫醫者以愈疾為良，其愈疾之理，莫妙乎針。故知針者，有決病之功，立效之能。且夫之士，宜審而刺之，莫縱臣瞻，妄為施設，非徒無益，而又害之。要在定孔穴以精於心，以取神功而應於手，信知除　見於目下，決病在於手中。是以軒岐開端，越人知要，素問隱其奧，難經彰其妙，況為針者，豈曰小補之哉。</p>
<p>人受陰陽以生，一歲之日有三百六十五日，肢節亦分三百六十有五穴，象周天之度也。</p>
<p>古神聖成天之功，立民之命，爰作針法。針某穴，療某病，手得之，心應之，非天下之至神，孰能與於此。盧扁尚矣，此法罕傳。余先人心友竇先生，以針法活人甚多。嘗著八穴真經，演之為論為賦，鉤深索隱，披泄言蘊，後學之士，得此一卷書而熟讀之者，思過半矣。余於壬辰冬，被旨來南，遍歷閩中諸郡，求其所謂針法者，皆不獲。舊篋中得先生之遺書，敬用鋟梓，以廣其傳。先生名傑字漢卿，古　肥鄉人，官至太師，以醫學傳於世云。</p>
<p><u>時元貞元　</u></p>
<h2>針經標幽賦</h2>
<p>拯救之法，妙用者針。察歲時於天道，定形氣於予心。春夏瘦而刺淺，秋冬肥而刺深。</p>
<p>不窮經絡陰陽，多逢刺禁；既論臟腑虛實，須向經尋。原夫起自中焦，水初下漏，太陰為始，至厥陰而方終；穴出云門，抵期門而最後。正經十二，別絡走三百余支；正側偃伏，氣血有六百余候。手足三陽，手走頭而頭走足；手足三陰，足走腹而胸走手。要知迎隨，須明逆順；況陽之分；氣盛血多者，陽明之位。先詳多少之宜，次察應至之氣。輕滑慢而未來，沉澀緊而已至。既至也，量寒熱而留疾；未至者，據虛實而　氣。氣之至也，若魚吞鉤鉺之浮沉；氣未至也，似閉處幽堂之深邃。氣速至而效速，氣遲至而不治。觀夫九針之法，毫針最微，七星可應，眾穴主持。本形金也，有蠲邪扶正之道；短長水也，有決疑開滯之機。定刺象木，或斜或正；口藏比火，進陽補羸。循機捫而可塞以象土，實應五行而可知。然是一寸六分，包含妙理；雖細擬於毫發，同貫多歧。可平五臟之寒熱，能調六腑之虛實。拘攣閉塞，遣八邪而去矣；寒熱痛痹，開四關而已之。凡刺者，使本神朝而後入；既刺也，使本神定而氣隨。神不朝而勿刺，神已定而可施。定腳處，取氣血為主意；下手處，認水木是根基。天地人三才也，涌泉同璇璣百會；上中下三部也，大包與天樞地機。陽蹺陽維並督脈，主肩背腰腿在表之病；陰蹺陰維任帶沖，去心腹脅肋在裡之疑。二陵二蹺二交，似續而交五大；兩間兩商兩井，相依而列兩支。足見取穴之法，必有分寸；先審自意，以覲肉分。或伸屈而得之，或平直而安定。在陽部筋骨之側，陷下為真；在陰分　之間，動脈相應。取五穴用一穴而必端；取三經使一經而可正。頭部與肩部詳分，督脈與任脈異定。明標與本，論刺深刺淺之經；住痛移疼，取相交相貫之徑。豈不聞臟腑病，而求門海俞募之微；經絡滯，而求原別交會之道。更窮四根三結，依標本而刺無不痊；但用八法五門，分主客而針無不效。八脈始終連八會，本是紀綱；十二經絡十二原，是為樞要。一日刺六十六穴之法，方見幽微；一時取十二經之原，始知要妙。原夫補瀉之法，非呼吸而在手指；速效之功，要交正而識本經。交經繆刺，左有病而右畔取；瀉絡遠針，頭有病而腳上針。巨刺與繆刺各異，微針與妙刺相通。觀部分而知經絡之虛實，視沉浮而辨臟腑之寒溫。且夫先令針耀而慮針損；次藏口內而欲針溫。目無外視，手如握虎；心無內慕，如待貴人。左手重而多按，欲令氣散；右手輕而徐入，不痛之因。空心恐怯，直立側而多暈；背目沉掐，坐臥平而沒昏。推於十干十變，知孔穴之開合；論其五行五臟，察日時之旺衰。伏如橫弩，應若發機。陰交陽別，而定血暈；陰蹺陰維，而下胎衣。痹厥偏枯，迎隨俾經絡接續；漏崩帶下，溫補使氣血依歸。靜以久留。停針候之。必準者，取照海治喉中之閉塞；端的處，用大針治心內之呆痴。大抵疼痛實瀉，癢麻虛補。體重節痛而俞居，心下痞滿而井主。心脹咽痛，針太衝而必除；脾痛胃疼，瀉公孫而立愈。胸滿腹痛刺內關，脅疼肋痛針飛虎。筋攣骨痛而補魂門；體熱勞嗽而瀉魄戶。頭風頭痛，刺申脈與金門；眼癢眼痛，瀉光明與地五。瀉陰止盜汗，治小兒骨蒸；刺偏歷利小便，醫大人水蠱。中風環跳而宜刺，虛損天樞而可取。由是午前卯後，太陰生而疾溫；離左酉南，月死朔而速冷。循捫彈怒，留吸母而堅長；爪下伸提，疾呼子而噓短。動退空歇，迎奪右而瀉涼；推內進搓，隨濟左而補暖。慎之大患危疾，色脈不順而莫針；寒熱風陰，飢飽醉勞而切忌。望不補而晦不瀉，弦不奪而朔不濟。精其心而窮其法，無灸艾而壞其皮；正其理而求其原，免投針而失其位。避灸處而加四肢，四十有九；禁刺處而除六俞，二十有二。抑又聞高皇抱疾未瘥，李氏刺巨闕而得蘇；太子暴死為厥，越人針維會而復醒。肩井曲池，甄權刺臂痛而復射；懸鐘環跳，華佗刺　足而立行。秋夫針腰俞，而鬼免沉　；王纂針交俞而妖精立出。刺肝俞與命門，使瞽士視秋毫之末；取少陽與交別，俾聾夫聽夏蚋之聲。嗟夫！去聖逾遠，此道漸墜。或不得意而散其學，或愆其能而犯禁乎童蒙之心啟。</p>
<h2>流注通玄指要賦</h2>
<p>必欲治病，莫如用針，巧運神機之妙，工開聖理之深。外取砭針，能蠲邪而扶正；中含，善回陽而倒陰。原夫絡別支殊，經交錯綜，或溝池溪穀以歧異，或山海丘陵而隙共。斯流派以難揆，在條綱而有統。理繁而昧，縱補瀉以何功；法捷而明，日迎隨而得用。且如行步難移，太衝最奇。人中除脊膂之強痛，神門去心性之呆痴。風傷項急，始求於風府；頭暈目眩，要覓於風池。耳閉須聽會而治也，眼痛則合谷以推之。胸結身黃，取涌泉而即可；腦昏目赤，瀉攢竹以偏宜。但見苦兩肘之拘攣，仗曲池而平掃；四肢之懈惰，憑照海以消除。牙齒痛呂細堪治，頭項強承漿可保。太白宣導於氣衝，陰陵開通於水道。腹痛而脹，奪內庭以休遲；筋轉而疼，瀉承山而在早。大抵腳腕痛，昆侖解愈；股膝疼，陰市能醫。癇發顛狂兮，憑後谿而療理；瘧生寒熱兮，仗間使以扶持。期間罷胸滿血膨而可已，勞宮退胃翻心痛以何疑。稽夫大敦去七疝之偏墜，王公謂此；三裡卻五勞之羸瘦，華佗言斯。固知腕骨祛黃，然骨瀉腎。行間治膝腫目疾，尺澤去肘疼筋緊。目昏不見，二間宜取；鼻窒無聞，迎香可引。肩井除兩臂難任，絲竹療頭疼不忍。咳嗽寒痰，列缺堪治；眵　冷淚，臨泣尤準。髖骨將腿痛以祛殘，腎俞把腰疼而瀉盡。</p>
<p>越人治尸厥於維會，隨手而蘇；文伯瀉死胎於陰交，應針而殞。聖人於是察麻與痛，分實與虛，實則自外而入也，虛則自內而出歟。以故濟母而裨其不足，奪子而平其有餘。觀二十七經絡，一一明辨；據四百四之疾證，件件皆除。故得夭枉都無，躋斯民於壽域；幾微已判，彰往古之玄書。抑又聞心胸病，求掌後之大陵；肩背患，責肘前之三裡。冷痹腎收，取足陽明之土；連臍腹痛，瀉足少陰之水。脊間心後者，針中渚而立痊；脅下肋邊者，刺陽陵而即止。頭項痛，擬後谿以安然；腰腳疼，在委中而已矣。夫用針之士，於此理苟能明焉，收祛邪之功而在乎捻指。</p>
<h2>針經直說</h2>
<p>手太陽小腸經：踝中（脘骨是也。）　肩解（背後縫是也。）</p>
<p>手陽明大腸經：上柱骨（缺盆外橫骨是也。）　（顴外是也，顴謂項骨也。）</p>
<p>足厥陰肝經：足跗（足面是也。）脅（腋下是也。）　（屈心是也。）巔（頭心是也。）</p>
<p>人迎（氣顙上兩旁動脈是也。）股（大腿是也。）督脈（從人中入巔下項是也）</p>
<p>足少陽膽經：頰車（寧車卷兩二穴是也。）髀厭（膝下腿上節處是也。）輔骨（膝外是也。）絕骨（外踝上是也。）三毛（大指上三毛是也。）馬刀挾癭（胳肘底胳KT　是也。）</p>
<p>足少陰腎經：內（腿肚是也。）痿厥（節弱是也。）</p>
<p>手少陰心經：銳骨（掌下節骨是也。）</p>
<p>手厥陰心包絡經：心包（包裹心之肉是也。）大動（心動是也。）</p>
<p>手太陰肺經：胃口（賁門是也。）腋下　內（臂節是也。）</p>
<p>足太陽膀胱經：膊（肩後是也。）膂（脊內旁肉是也。）髀樞（髀骨節是也。）</p>
<p>足陽明胃之經：頤後下廉（頤下周環是也。）乳內廉（乳內中間是也。）賁響腹脹（氣上撞是也。）上曰膺下曰胸，　骨（　骨是也。）身以前（只是身前身後也，又曰面前皆後是也。）</p>
<p>手少陽三焦經：膻中（胸乳之間是也。）</p>
<p>足太陰脾經：核骨（孤拐骨是也。）　骨（脛足骨是也。）得後（大便是也。）與氣（下氣是也。）</p>
<p>若擬得與下氣注解為說文理，反害經意，不可宗則。王冰之解《素問》，後之明者，多有議論取舍，豈止此一云焉。</p>
<h2>絡說</h2>
<p>絡一十有五，有橫絡、有經絡，一萬八千。有孫絡，不知其紀。</p>
<p><u>絡穴說</u></p>
<p>絡穴正在兩經中間，假令立身叉手取之，大指次指端盡處，手腕後高骨縫間列缺是也。</p>
<p>內為手太陰肺經，外為手陽明大腸經，列缺穴交兩經之中。若刺絡穴，表裡皆活，他皆仿此。</p>
<p><u>絡穴辨</u></p>
<p>流注六十六穴內，無此一十五絡穴，一十二經，每經絡各有一絡穴，外有三絡穴。陽蹺絡在足太陽經，陰蹺絡在足少陰經，脾之大絡，在足太陰絡，此一十五絡穴之辨。</p>
<h2>交經辨</h2>
<p>足厥陰肝經上內踝八寸，交出足太陰脾經之後，足太陰脾經，卻交出足厥陰肝經之前。</p>
<h2>氣血問答</h2>
<p>予問：脈之理果是氣耶，果是血耶？答曰：氣血之波瀾，身體之橐　，此說特未契理。</p>
<p>脈者陌也，魂魄之生，氣血之府也，天地之祖，萬物之宗，此說極有氣味，吾常擬此。予問：經之理，果何意耶？答曰：經者氣血經歷之路也，故曰經。予問：身寸之寸擬何寸為寸？答曰：以中指大指相屈如環，取內側紋兩角為寸，各隨大小取之。問：手太陰經起自肺何耶？答曰：食入於胃，輸精於脾，播氣於肺，此之謂也。問曰：周身之穴各有兩，如補瀉時只刺病所？兩穴俱刺耶？答曰：不然，隨病左右而補瀉之，左則左補瀉，右則右補瀉。問曰：何為絡？答曰：橫者為絡，絡穴一十有五。問：針經云，灸幾壯，針訖而復灸何也？答曰：針則針，灸則灸，若針而弗灸，若灸而弗針。問曰：榮衛之理果何為耶？答曰：難經云，血為榮，氣為衛，榮行脈中，衛行脈外。問：捻針之法有左有右，何謂之左？何謂之右？答曰：以大指次指相合，大指往上進，謂之左；大指往下退，謂之右，如內針時須索一左一右。</p>
<h2>手足三陰三陽表裡支干配合</h2>
<p>（系晝夜百刻十二時定體之圖說）</p>
<p>手太陰肺經配手陽明大腸經相為表裡立手為上：手太陰肺經，五穴為陰穴，大指內側角起，少商、魚際、太淵、經渠、尺澤。肺屬金，在支為未，在干為辛。　手陽明大腸經，六穴為陽穴，從大指次指內仙角起，商陽、二間、三間、合谷、陽谿、曲池。大腸屬金，在支為卯，在干為庚，此之謂陰陽表裡支干配合也。</p>
<p>手厥陰心包絡經配手少陽三焦經相為表裡立手為中：手厥陰心包絡經，五穴為陰穴，從中指之端起，中衝、勞宮、大陵、間使、曲澤。心為巳，在干為乙。　手少陽三焦經，六穴為陽穴，從小指之端，去爪甲角起，關衝、液門、渚、陽池、支溝、天井。三焦屬火，在支為寅，在干為甲，此之謂陰陽表裡支干配合也。</p>
<p>手少陰心經配手太陽小腸經相為表裡立手為下：手少陰五穴為陰穴，從小指內側角起，少衝、少府、神門、靈道、少海。心屬火，在支，在干為丁。　手太陽小腸經，六穴為陽穴，從小指之端，去爪甲分起，少澤、前谷、後谿、腕骨、少海。小腸屬火，在支為辰，在干為丙，此之謂陰陽表裡支干配合也。</p>
<p>足厥陰肝經配足少陽經相為表裡：足厥陰肝經上內踝八寸，交出太陰之後，此所謂交經五穴為陰穴，從足大趾端起，大敦、行間、太衝、中封、曲泉。肝屬木，在支為亥，在干為乙。　足少陽膽經，六穴為陽穴，從小趾次趾之端起，竅陰、俠谿、臨泣、丘墟、陽輔、陽陵泉。膽屬木，在支為申，在干為甲，此之謂陰陽表裡支干配合也。</p>
<p>足太陰脾經配足陽明胃經相為表裡：足太陰脾經，卻交入厥陰之前，五穴為陰穴，從大趾內側端起，隱白、大都、太白、商陰陵泉。脾屬土，在支為丑，在干為己。　足陽明胃經，六穴為陽穴，從足大趾之端起，厲兌、內庭、陷谷、衝陽、解谿、三裡。胃屬土，在支為酉，在干為戊，此之謂陰陽表裡支足少陰腎經配足太陽膀胱經相為表裡：足少陰腎經，五穴為陰穴，從足心陷中起，涌泉、然谷、太谿、復溜、陰谷。腎屬水，為子，在干為癸。足太陽膀胱經，六穴為陽穴，從小趾外側起，至陰、通谷、束骨、京骨、昆侖、委中。膀胱屬火，在支為戌，在干為壬，此之謂陰陽表裡支干相配合也。</p>
<p>此手足三陰三陽，十二經、六十六穴，井滎俞經合，配金木水火土，經絡流注，或交，，表裡內外，支干配合，諸家針經圖說，分析講解，故從而述其大概。質之於先生而證之，力所不逮，理所未同，復被教誨指訣，僅得泮然冰解，沛然川決，胸臆有學問，幸不致相自矛盾。凡刺孔穴，各有所據經絡，究所系疾證，日辰禁忌，虛實補瀉，不可不察，深明經之分，孔穴所在，如此者，百無一殆。</p>
<p>手少陽三焦經，手厥陰心包絡經直說：手少陽三焦經，諸陽氣之父，屬腑。</p>
<p>手厥陰心包絡經，諸陰血之母，屬臟。</p>
<h2>流注八穴序</h2>
<p>交經八穴者，針道之要也。然不知孰氏之所述，但序云：乃少室隱者之所傳也，近代往之彌驗。予少時嘗得其本於山人宋子華，以此術行於河淮間四十一年。起危篤患，隨手應者，豈勝數哉！予嗜此術，亦何啻伯倫之嗜酒也，第恨斯學之初，心術未償，手法未成，而兵火荐至，家藏圖籍，與其的本悉亡之，今十五年矣，切求而莫之獲。近日得之於銅台碑字王氏家，其本悉如舊家所藏，但一二字訛及味之，亦無所害矣。予復試此，此一一精捷，疾莫不瘳，苟診視之，明俾上下合而攻之，如會王師，擒微奸，捕細盜，雖有不獲者，寡矣。噫！神乎哉是術也，今得之，亦天之濃予於是也，多矣。然予之所嗜，非欲以借此而私己之為也，蓋欲民生，舉無癢癇疾痛，痼羸殘瘵之苦而為之也。惟學人亦嗜是焉如是，非予所敢知也。</p>
<h2>定八穴所在</h2>
<p>公孫二穴，足太陰脾之經。在足大趾內側本節後，一寸陷中。令病患坐蜷兩足底，相對取之。合內關穴。</p>
<p>內關二穴，手厥陰心包之經，在手掌後二寸。令病患穩坐，抑手取之。獨會。</p>
<p>臨泣二穴，足少陽膽之經，在足小趾次趾本節後一寸陷中。一云：去俠谿一寸五分。令病患垂足取之。亦合於外關。</p>
<p>外關二穴，手少陽三焦經，在手腕後二寸，別起心主。令病患穩坐，覆手取之。獨會。</p>
<p>後谿二穴，手太陽小腸之經，在手小指外側本節後陷中。令病患穩坐，覆手取之。合申脈。</p>
<p>申脈二穴，足太陽膀胱經，在足外踝下赤白肉陷中。令病患垂腳坐取之，側臥取亦得。</p>
<p>合於後谿穴。</p>
<p>照海二穴，足少陰腎之經，在足內踝下赤白肉際陷中。令病患穩坐，足底相對取之。合列缺。</p>
<p>列缺二穴，手太陰肺之經，在手腕後一寸半。兩手相叉指頭盡處，筋骨罅間取之是。合照海。</p>
<p>公孫穴主治二十七證：九種心痛　心胃痰膈涎悶　心胃臍腹痛並脹　三焦胃脅肋疼痛　心脾產後血迷　心主胎衣不下　小腸胃泄瀉不止　大腸胃氣疼痛　心胃裡急後重　大腸三焦傷寒結胸　小腸心水膈酒痰　肝胃中滿不快反胃嘔吐　胃腹脅脹滿痛　脾胃腸風下血　大腸包絡大人小兒脫肛不收　大腸肺氣膈　心肺食隔不下　胃脾食積疼痛　胃脾癖氣並小兒食癖　小腸心主小枕痛　小腸三焦酒癖　胃三焦腹鳴　小腸胃血刺痛　肝脾小兒脾瀉　脾腎瀉腹痛　大腸胃胸中刺痛　心瘧疾心痛　心包絡上件病證，公孫悉主之。先取公孫，後取內關。</p>
<p>內關二穴，主治二十五證：中滿不快　心胃傷寒不解　心主心胸痞滿　肝胃吐逆不定　脾胃胸滿痰膈　肺心腹痛　胃泄瀉滑腸　大腸酒痰膈痛　心主米穀不化　胃橫豎　氣　肝胃小兒脫肛　大腸肺九種心痛　心主胃脅肋痛　肝膽婦人血刺痛　肝腸鳴　大腸積塊痛　肝脾男子酒癖　脾肺水膈並心下痞痛　脾胃氣膈食不下　胃心肺腹肋脹痛　脾胃心主腸風下血　大腸傷寒結胸　胃裡急後重　小腸食膈不下食　心主胃瘧疾寒熱（新添有驗）　膽上件病證，內關悉主之。</p>
<p>臨泣穴，主治二十五證：足趺腫痛　胃手足麻　小腸三焦手指戰掉　肝心主赤眼並冷淚　膀胱咽喉腫痛　三焦手足攣急　肝腎脅肋痛　膽牙齒痛　胃大腸手足發熱　胃心主解利傷寒　膀胱腿胯痛　膽腳膝腫痛　胃肝四肢不遂　膽頭風腫　膀胱頭項腫　膀胱浮風搔癢　肺身體腫　腎胃身體麻　肝脾頭目眩暈　膀胱筋攣骨痛　肝胃頰腮痛　大腸雷頭風　膽眼目腫痛　肝心中風手足不舉　腎耳聾　腎膽上件病證，臨泣悉主之。先取臨泣，後取外關。</p>
<p>外關二穴，主治二十七證：肢節腫痛　腎臂膊冷痛　三焦鼻衄　肺手足發熱　三焦手指節痛不能屈　三焦眉棱中痛　膀胱手足疼痛　胃產後惡風　腎胃傷寒自汗　胃肺頭風　膀胱四肢不遂　膽胃筋骨疼痛　肝腎迎風淚出　肝赤目疼痛　肝心腰背腫痛　腎手足麻痛並無力　胃眼腫　心頭風掉眩痛　膀胱傷寒表熱　膀胱破傷風　胃肝手臂痛　大腸三焦頭項痛　小腸盜汗　心主目翳或隱澀　肝產後身腫　胃腎腰胯痛　腎雷頭風　膽上件病證，外關悉主之。</p>
<p>後谿二穴，主治二十四證：手足攣急　肝手足顫掉　肝三焦頭風痛　三焦膀胱傷寒不解　膀胱盜汗不止　肺心中風不語　包絡肝牙齒痛　胃大腸癲癇吐沫　胃腰背強痛　腎筋骨痛　肝胃咽喉閉塞　腎肺胃腮頰腫痛　胃小腸傷寒項強或痛　膀胱膝脛腫痛　腎手足麻　胃眼赤腫　肝心傷寒頭痛　膀胱表汗不出　肺胃沖風淚下　肝膽破傷風搐　肝產後汗出惡風　肺喉痹　腎肝腳膝腿痛　胃手麻痹　大腸上件病證，後谿悉主之。先取後谿，後取申脈。</p>
<p>申脈二穴，主治二十五證：腰背強痛　膀胱　肢節煩痛　腎肝手足不遂　胃膽　傷寒頭痛　膀胱身體腫滿　胃　頭面自汗　胃癲癇　肝　目赤腫痛　膀胱傷風自汗　胃　頭風癢痛　膽眉棱痛　膀胱　雷頭風　膽手臂痛　大腸　臂冷　三焦產後自汗　腎　鼻衄　肺破傷風　肝　肢節腫疼　腎肝腿膝腫痛　胃　耳聾　腎手足麻　膽　吹奶　胃洗頭風　膀胱　手足攣　肝腎產後惡風　腎上件病證，申脈悉主之。先取申脈，後取後谿。</p>
<p>列缺穴，主治三十一證：寒痛泄瀉　脾婦人血積或敗血　肝咽喉腫痛　胃死胎不出及衣不下　肝牙齒腫痛　胃大腸小腸氣撮痛　小腸脅癖痛　肝肺吐唾膿血　肺咳嗽寒痰　肺氣　胃食噎不下　胃臍腹撮痛　脾心腹痛　脾腸鳴下痢　大腸痔癢痛漏血　大腸腹痛瀉痢　脾產後腰痛　腎肝產後發狂　心產後不語　心包絡米穀不化　脾腎男子酒癖　胃肝乳癰腫痛　胃婦人血塊　肝腎溫瘧不瘥　膽吐逆不止　脾胃小便下血　小腸小便不通　膀胱大便閉塞　大腸大便膿血　大腸胸膈痛痞　心胃諸積聚膿痰膈　心胃上件病證，列缺悉主之。先取列缺，後取照海。</p>
<p>照海二穴，主治二十九證：喉嚨閉塞　胃小腹冷痛　腎肝小便淋澀並不通　膀胱婦人血暈　肺腎膀胱氣痛　膀胱胎衣不下　腎臍腹痛　脾小腹脹滿　小腸腸癖下血　大腸飲食不納反胃吐食　胃男子癖並酒積　肺肝腸鳴下痢腹痛　大腸中滿不快　胃食不化　胃婦人血積　腎主心兒枕痛　胃肝難產　腎肝泄瀉　脾嘔吐　胃酒疾　脾氣　胃氣塊　脾肝腎酒痹　胃肝氣膈　心主大便不通　大腸食勞黃　脾胃腸風癢　大腸癖痛　肝肺足熱厥　心主上件病證，照海悉主之。先取照海，後取列缺。</p>
<p>上法先刺主證之穴，隨病左右上下所在取之，仍循捫導引，按法祛除，如病未已，必求合穴，未已，則求之須要停針待氣，使上下相接，快然失其所苦，而後出針。</p>
<h2>真言補瀉手法</h2>
<p>補法：左手掐穴，右手置針於穴上，令病患咳嗽一聲，針入透於腠理，令病患吹氣一口，隨吹分寸，待針頭沉緊時，轉針頭以手循捫，覺氣至，卻回針頭向下，覺針頭沉緊，令病患吹氣一口，隨吸出針乃閉其穴（謂一手急然孔是也。）虛羸氣弱癢麻者補之。</p>
<p>瀉法：左手掐穴，右手置針於穴上，令病患咳嗽一聲，針入腠理，復令病患吸氣一口，隨吸氣至分寸，覺針沉緊，轉針頭向病所，覺氣至病退，便轉針頭向下，以手循捫，覺針沉悶，令病患吹氣一口，隨吹氣一口，徐出其針不閉其穴，命之曰瀉。豐肥堅硬疼痛者瀉之。</p>
<p><u>素問瀉必用方補必用員</u></p>
<p>夫瀉必用方，以氣方盛也，以月方滿也，以日方溫也，以身方定也，以息方吸而內針。</p>
<p>及復後其方吸而轉針，及復後其方呼而徐引針，故曰瀉。</p>
<p>夫補必用員，員者行也，行者移也。行謂行不宣之氣，移謂移未復之脈。故刺必中其榮，及復後吸而推針至血，故員與方非針也。余不知聖人之意，請後之明達之士詳究焉。</p>
<p><u>春夏刺淺秋冬刺深</u></p>
<p>《內經》曰：病有浮沉，刺有淺深，各正其理，無是其道。然春夏為陽，其氣在外，人氣亦浮，凡刺者，故淺取之。秋冬為陰，其氣在內，人氣在臟，凡刺者，故當深取之。又言：春夏各致一陰，秋冬各致一陽。秋冬各致一陽者，謂春夏為陽，謂陰所養，故刺之各致一陰。秋冬為陰，謂陽所養，故刺之各致一陽。春夏溫必致一陰者，謂下針深刺至腎肝之部，得其氣針便出之，是以引持之陰也。秋冬寒必致一陽者，謂下針淺刺至心肺之部，得氣推而內之良久出針，是推內之陽也。故《素問》曰：春夏養陽，秋冬養陰也。</p>
<p><u>呼吸補瀉</u></p>
<p>補瀉者，言呼吸出內以為其法。然補之時，從衛取氣也。取者，言其有也。《素問》曰：必先捫而循之，切而散之，推而按之，彈而弩之，爪而下之，通而取之。外別其門，以閉其神呼盡內針，靜以久留。以氣至為故，如待貴賓，不知日暮，其氣以至，適而自護。候吸引針，氣不得出，各在其處，推闔其門，令神氣存，大氣留止，故命曰補，是取其氣而不令氣大出也。當瀉之時，從榮置氣也，置其氣而不用也。故《素問》曰：吸則內針，無令氣忤，靜以久留，無令邪有。吸則轉針，以得氣為故，候呼引針，呼盡乃去，大氣皆出，故命曰瀉。</p>
<p>瀉者，是置其氣而不用也。若陽氣不足，而陰血有餘者，當先補其陽，而後瀉其陰。陰血不足而陽氣有餘者，當先補其陰，而後瀉其陽。以此則陰陽調和，榮衛自然通行，此為針之要也。</p>
<p><u>寒熱補瀉</u></p>
<p>假令補冷，先令病患咳嗽一聲，得入腠理。復令病患吹氣一口，隨吹下針，至六七分，腎肝之部，停針。徐徐良久復退針一豆許，乃捻針，問病患覺熱否？然後針至三四分，及心肺之部，又令病患吸氣內針，捻針，使氣下行至病所。卻外捻針，使氣上行，直達所針穴一二寸，乃吸而外捻針出，以手速按其穴，此為補。</p>
<p>夫病後熱者，治之以寒也何如？須其寒者，先刺入腸之分，後得氣推內至陰之分。復令病患地氣入而天氣出，謹按生成之息數足，其病患自覺清涼矣。夫病惡寒者，治之以熱也何如？須其熱者，先刺入陰之分，後得氣徐引針，至陽之分，復令病患天氣入而地氣出，亦謹按生成之息數足，其病患自覺知暖矣。</p>
<p><u>生成數法</u></p>
<p>（生五加）</p>
<p>冷補之時，使氣至病，更用生成之息數，令病患鼻中吸氣出，自覺熱矣。</p>
<p>當熱瀉之時，使氣至病，更用生成之息數，令病患鼻中出氣，口中吸氣，按所病臟腑之數，自覺清涼矣。</p>
<p><u>手指補瀉</u></p>
<p>經云：凡補瀉，非必呼吸出內，而在乎手指何謂也。故動、搖、進、退、搓、盤、彈、捻、循、捫、攝、按、爪、切者是也。今略備於後：動：動者，如氣不行，將針伸提而已。</p>
<p>退：退者，為補瀉欲出針時，各先退針一豆許，然後卻留針，方可出之，此為退也。</p>
<p>搓：搓者，凡令人覺熱，向外針似搓線之貌，勿轉太緊。治寒而裡臥針，依前轉法，以為搓也。</p>
<p>進：進者，凡不得氣，男外女內者，及春夏秋冬各有進退之理，此之為進也。</p>
<p>盤：盤者，為如針腹部，於穴內輕盤搖而已，為盤之也。</p>
<p>搖：搖者，凡瀉時，欲出針，必須動搖而出者是也。</p>
<p>彈：彈者，凡補時，可用大指甲輕彈針，使氣疾行也。如瀉，不可用也。</p>
<p>捻：捻者，以手捻針也。務要識乎左右也，左為外，右為內，慎記耳。</p>
<p>循：循者，凡下針於屬部分經絡之處，用手上下循之，使氣血往來而已是也。經云：推之則行，引之則止。</p>
<p>捫：捫者，凡補時，用手捫閉其穴是也。</p>
<p>攝：攝者，下針如氣澀滯，隨經絡上，用大指甲上下切其氣血，自得通行也。</p>
<p>按：按者，以手捻針無得進退，如按切之狀是也。</p>
<p>爪：爪者，凡下針用手指作力置針，有準也。</p>
<p>切：切者，凡欲下針，必先用大指甲左右於穴切之，令氣血宣散，然後下針，是不傷榮衛故也。</p>
<p><u>迎隨補瀉</u></p>
<p>經云：東方實而西方虛，瀉南方而補北方，何謂也？此實母瀉子之法，非只刺一經而已。假令肝木之病實，瀉心火之子，補腎水之母，其肝經自得其平矣。五臟皆仿此而行之。</p>
<h2>夫婦配合</h2>
<p>大言陰與陽，小言夫與婦，陰日陰時則當刺陰乾，陽日陽時則當刺陽干，故陰陽者氣血也。</p>
<p>陰日血先氣後，陽日氣先血後。經云：榮行脈中，衛行脈外。故陰日雖遇陽時，刺陰乾者何也？蓋陰日血先行引氣，後隨血入脈中而行，此為婦有氣，夫往從之者，故陰乾是也。故陽日雖遇陰時，刺陽干者何也？蓋陽日氣先行引血，後隨氣流注在脈外而行，此為夫有氣，婦往從之者，故陽干是也，如斯之論，此之謂也。</p>
<h2>古法流注</h2>
<p>經云：其氣始從中焦注手太陰陽明，陽明注足陽明太陰；太陰注手少陰太陽，太陽注足太陽太陰；少陰注手心主少陽，少陽注足少陽厥陰；厥陰注還於手太陰。如環無端，周流不息，晝夜行流，與天同度。此法如氣血所王之經絡，於一經中井滎俞經合，迎隨而補瀉之。亦用東方實而西方虛，瀉南方而補北方是也。</p>
<h2>雜忌法</h2>
<p>雜忌法有數端。經云：惡於針石者，不可與言於至巧；氣血羸劣者，不可刺；久病篤危者，不可刺；大寒大熱、大風大雨、大飢大飽、大醉大勞，皆不可刺。然大寒無刺，令病患於無風暖室中，啜以粥食，飲以醪酪，令病患無畏寒氣，候氣血調勻，然後可刺。如此刺之，無疾不愈。余皆仿此而行之。經云：無刺漉漉之汗，無刺混混之脈，無刺　之熱，此之謂也。</p>
<h2>針灸避忌太一之圖序</h2>
<p>經曰：太一日游，以冬至之日，始居於葉蟄之宮。從其宮數所在，日徙一處，至九日復一。常如是無已，周而復始，此乃太一日游之法也。其旨甚明，別無所隱。奈行針之士，無有知者，縱有知者，秘而不傳，致使聖人之法，罕行於世，良可嘆也。仆雖非醫流，平昔嘗留心於醫，言之聞之徹知其詳。知而不述豈仁乎？輒以短見，遂將逐節太一所直之日，編次成圖。其圖如目，入節得主之日，從其宮至所在之處，首一終九，日徙一宮，至九日復反於一。周而復始，如是次而行之。計每宮各得五日，九之則一節之日悉備。今一一條次，備細具於逐宮之內，使觀者臨圖，即見逐節太一所直之日在何宮內，乃知人之身體所忌之處，庶得行針之士，知而避之，俾人無忤犯太一之凶，此仆之本意也。仆誠非沽名者，以年齒衰朽，恐身歿之後，聖人之法湮沒於世，故編此圖，發明厥旨，命工鐫石傳其不朽，貴得其造與時偕行焉，覽者勿以自炫見謂。曾人走丙子歲上元日，平水閉邪　叟述。</p>
<h2>冬至葉蟄宮說</h2>
<p>冬至葉蟄宮圖按周身立法，取九宮方位。離為上部，中州為中部，坎為下部，巽坤為二肩兌為左右脅，乾艮為左右二足。太一游至處，禁忌針灸。（若起葉蟄宮，取冬至一日為首，他皆仿此。）</p>
<p><a href="_files/p06-d17a1.bmp">太一血忌之圖</a></p>
<p>經曰：身形之應九野，左足應立春，其日戊寅、己丑；左脅應春分，其日乙卯；左手應，其日戊辰、己巳；喉首頭應夏至，其日丙午；右手應立秋，其日戊申、己未；右脅應秋分，其日辛酉；右足應立冬，其日戊戌，己亥；腰尾於竅應冬至，其日壬子；六腑膈下三藏應州，其大概禁太一所在之日及諸戊巳。凡此九者，善候入正，所主左右上下，身體有疾病瘡腫欲治，無以其所直之日刺之，是謂天忌日。</p>
<h2>附：針灸雜說</h2>
<p><u>月內人神所在之圖</u></p>
<p>（新添逐日辰忌）</p>
<p>一日在足大指厥陰分，刺之跗腫。</p>
<p>二日在足外踝少陽分，刺之經筋緩。</p>
<p>三日在股內少陰分，刺之少腹痛。</p>
<p>四日在腰太陽分，刺之腰僂無力。</p>
<p>五日在口太陰分，刺灸之舌強。</p>
<p>六日在兩手陽明分，刺之咽喉不利（一云在足小指。）</p>
<p>七日在內踝少陰分，刺灸之陰經筋急。</p>
<p>八日在手腕太陽分，刺灸之腕不收。</p>
<p>九日在尻厥陰分，刺灸之病結。</p>
<p>十日在腰背太陽分，刺灸之腰背僂。</p>
<p>十一日在鼻柱陽明分，刺灸之齒面腫。</p>
<p>十二日在發際少陽分，刺之令人耳重聽。</p>
<p>十三日在牙齒少陰分，刺灸之氣寒。</p>
<p>十四日在胃脘陽明分，刺之氣腫。</p>
<p>十五日在遍身，不宜補瀉，針灸大忌。</p>
<p>十六日在胸太陽分，刺之逆息。</p>
<p>十七日在氣衝陽明分，刺之難息。</p>
<p>十八日在股內少陰分，刺之引陰氣痛。</p>
<p>十九日在足趺陽明分，刺灸之發腫。</p>
<p>二十日在內踝少陰分，刺之經筋攣。</p>
<p>二十一日在手小指太陽分，刺之手不仁。</p>
<p>二十二日在足外踝少陽分，刺之經筋緩。</p>
<p>二十三日在肝及足厥陰分，刺之發轉筋。</p>
<p>二十四日在手陽明分，刺灸之咽喉中不利。</p>
<p>二十五日在足陽明分，刺灸之胃氣脹。</p>
<p>二十六日在胸太陰分，刺灸之令人喘嗽。</p>
<p>二十七日在膝陽明分，刺之足經厥逆。</p>
<p>二十八日在陰少陰分，刺之少腹急痛。</p>
<p>二十九日在膝脛厥陰分，刺之筋痿少力。</p>
<p>三十日在足趺，此日忌針灸。</p>
<p><u>每月血支</u></p>
<p>正月丑　二月寅　三月卯　四月辰五月巳　六月午　七月未　八月申九月酉　十月戌　十一月亥　十二月子</p>
<p><u>每月血忌</u></p>
<p>正月丑　二月未　三月寅　四月申五月卯　六月酉　七月辰　八月戌九月巳　十月亥　十一月午　十二月子</p>
<p><u>定十二支人神</u></p>
<p>子目丑耳寅胸前，卯齒辰腰巳手間，午心未足申頭上，酉膝戌陰亥在脛，此是人神十二支，針灸避之獲康安。</p>
<p><u>釋運氣定日下血氣法</u></p>
<p>井滎逐日奪時功，十日循還是一宮。血氣相迎行臟腑，通流十干本元宗。陽日從衛先行氣，陰日從榮血可通。陽日氣先脈出外，陰日脈內血先從，氣先血後還行腑，行臟榮先氣後攻。陽干五行補五腑，陰乾行臟五行同。井滎流注俞經合，用建通流日下窮。連轉五遭成五十，遍行臟腑五行終。</p>
<p><u>釋流注逐日時開穴法</u></p>
<p>甲竅陰，乙大敦，丙少澤，丁少衝，戊厲兌，己隱白，庚商陽，辛少商，壬至陰，癸涌</p>
<p><u>釋流注十二經絡所屬法</u></p>
<p>手太陰肺經穴：少商魚際與太淵，經渠尺澤肺相連（肺之經辛）。</p>
<p>手陽明大腸經穴：商陽二三間合谷（四穴），陽谿曲池大腸原（大腸經庚）。</p>
<p>手少陰真心經穴：少衝少府屬於心，神門靈道少海尋（心之經丁）。</p>
<p>手太陽小腸經穴：少澤前谷後谿腕，陽各小海小腸經（小腸經丙）。</p>
<p>足厥陰肝經穴：大敦行間太衝看，中封曲泉於肝（肝之經乙）。</p>
<p>足少陽膽經穴：竅陰俠谿臨泣膽，丘墟陽輔陽陵泉（膽之經甲）。</p>
<p>足太陰脾經穴：隱白大都太白脾，商丘陰陵切要知（脾之經己）。</p>
<p>足少陰腎經穴：涌泉然谷太谿穴，復溜陰谷腎之經（腎之經癸）。</p>
<p>足陽明胃經穴：厲兌內庭陷骨胃，衝陽解谿三裡隨（胃之經戊）。</p>
<p>足太陽膀胱經穴：至陰通谷束京骨（二穴），昆侖委中是膀胱（膀胱經壬）。</p>
<p>手厥陰心包經穴：中衝勞宮心包絡，大陵間使曲澤傳（心包絡經乙）。</p>
<p>手少陽三焦經穴：關衝液門並中渚，陽池支溝天井原（三焦經申）。</p>
<p><u>釋流注十二經動脈源穴所出法</u></p>
<p>甲出丘墟乙太衝，丙歸腕骨是原中，丁出大陵原內過，戊胃衝陽氣可通，己出太白庚合谷，辛緣本出太淵同。壬歸京穀期中過，癸出之時太谿空。</p>
<p><u>十二經配十二支</u></p>
<p>寅屬肺，卯屬大腸，辰屬胃，巳屬脾，午屬心，未屬小腸，申屬膀胱，酉屬腎，戌屬心主，亥屬三焦，子屬膽，丑屬肝。</p>
<p><u>十二經配合</u></p>
<p>膀胱配腎，膽配肝，脾配胃，肺配大腸，心包絡配三焦，心配小腸。</p>
<p><u>論九針孔穴應候訣</u></p>
<p>九針者，上應天地，下應四時陰陽。</p>
<p>一天　二地　三人　四時　五音　六律　七星　八風　九野身形以應：一皮，二肉，三脈，四筋，五聲音，六陰陽，七睛齒，八風，九竅。</p>
<p>九針各有攻病之能：一　針，二員針，三　針，四鋒針，五鈹針，六圓利針，七毫針，</p>
<p><u>旁通十二經穴流注孔穴圖</u></p>
<p>肺　心　肝　脾　腎　心包絡春刺井（木）少商　少衝　大敦　隱白　涌泉　中衝夏刺滎（火）魚際　少府　行間　大都　然谷　勞宮季夏刺　（土）太淵　神門　太衝　太白　太谿　大陵秋刺經（金）經渠　靈道　中封　商丘　復溜　間使冬刺合（水）尺澤　少海　曲泉　陰陵泉　陰谷　曲澤大腸　小腸　膽　胃　膀胱　三焦所出為井（金）商陽　少澤　竅陰　厲兌　至陰　關衝所流為榮（水）二間　前谷　俠谿　內庭　通谷　液門所注為　（木）三間　後谿　臨泣　陷谷　束骨　陽池所行為經（火）陽谿　陽谷　陽輔　解谿　昆侖　支溝所入為合（土）曲池　少海　陽陵泉　三裡　委中　天井</p>
<p><u>離合真邪直說</u></p>
<p>古有離合真邪云者，蓋聖人欲使其真邪相離，而勿合之謂也。若邪入於真，真受其蛀，遂其純一之真，真之遂，則其所謂真也。罹害有不可言者，真被乎邪，則邪竊其柄，而肆其橫遂之邪。邪之既橫，則其邪為患，復可勝言哉。嗚呼！真邪之不可合也如此。胡為真，胡為邪？真之為言也：天理流行，賦與萬物，得以為生者皆真也，聖人保如持盈；邪之為言也：天地間非四時五行之正氣，而差臻迭至者皆邪也。聖人避之，猶避矢石，其防微杜漸之嚴，如此者淵乎旨哉。蓋真立則邪退，邪厲則真殘；邪固可除，真先其養以之道，無須異求。</p>
<p>但飲食男女，節之以限；風寒暑濕，御示以時；復能實慈恕以愛人，虛中而應物，念慮必為之防，舉止必為之敬，如斯內外交養周備，則吾之生，不求生而生，無斯壽而壽矣。不然，攝養少或不嚴，則六邪乘隙競入，諸疾交生，眾害並作，則吾生之真，所與存者幾希。故聖人憂之，為揆度權衡機宜所在，示以克邪之方，使屏之如雪污，拔刺而無遺者以此。古人有云：植德務滋，除惡務本，亦此意也。然去之邪之方，經所具存，再拜、遺詮敬謹錄。</p>
<h2>竇漢卿流注指要後序</h2>
<p>望聞問切，推明得病之原；補瀉迎隨，揭示用針之要。予余是學，自古迄今，雖常覃思以研精，竟未鉤玄而索隱。俄經傳之暇日，承外舅之訓言，亡了（按《衛生寶鑒》作云及）世紛，續推兵擾。其人也，神無依而心無定；或病之，精必奪而氣必衰。兼方國以亂而隔殊，藥物絕商而那得。訪歷市而求方，不若　功立排疾勢。既已受教，遂敏求師，前後僅十七年，無一二真個輩。後避屯於蔡邑，方獲訣於李君（名源巨川）。其人以針道救疾也，除疼痛於目前，愈瘵疾於指下。信所謂伏如橫弩，應若發機，萬舉萬全，百發百中者也。加以好生之念。素無竊利之心。嘗謂予曰：天寶不付於非仁，聖道須傳於賢者。仆不自揆，遂伸有求之懇，獲垂無吝之誠。授穴之所秘者，四十有二；療疾而弗瘳者，萬千無一。遂銘諸心，而著之髓，務拯其困，而扶其危。而後除疼痛迅若手拈，破結聚渙如冰釋。夫針者也，果神矣哉！然念茲穴俞西或忘，借其聲律則易記。輒裁八韻，賦就一篇。詎敢匿於己私，庶共傳於同志。</p>
<p><u>歲次壬辰重九前二日題。</u></p>
