<header><h1>內經評文</h1></header>
<dl class="元資料" data-type="book">
<div><dt>作者</dt><dd>周學海</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1896">公元1896年</data></dd></div>
</dl>
<h2>卷一</h2>
<h3>九針十二原第一（法天）</h3>
<p>黃帝問於岐伯曰。余子萬民。養百姓。而收租稅。余哀其不給。而屬有疾病。（略頓）余欲勿使被毒藥。無用砭石。</p>
<p>欲以微針通其經脈。調其血氣。營其逆順出入之會令。可傳於後世。必明為之法。令終而不滅。久而不絕。易用難忘為之經紀。異其章。別其表裡。為之終始。令各有形。先立針經。愿聞其情。（以上第一節總冒全篇）岐伯答曰。臣請推而次之。令有綱紀。始於一終於九焉。請言其道小針之要。易陳而難入粗守形。上守神。神乎神。客在門。未睹其疾。惡知其原。刺之微。在速遲。粗守關。上守機。機之動。不離其空。空中之機。清靜而微。其來不可逢。其往不可追。知機之道者。不可掛以發。不知機道。叩之不發。知其往來。要與之期。粗之暗乎。妙哉工獨有之。往者為逆。來者為順。</p>
<p>明知逆順正行無問逆而奪之。惡得無虛追而濟之。惡得無實之迎。隨之以意和之。針道畢矣。（以上第二節渾寫大意全篇綱領也觀其隨手分合舒卷自如筆底純是靈氣往來）凡用針者。虛則實之。滿則泄之。宛陳則除之。（宛音義並同郁菀之省字也）邪勝則虛之。大要曰。徐而疾則實。疾而徐則虛。言實與虛。若有若無。察後與先。若存若亡。為虛與實。若得若失。虛實之要九針最妙補瀉之時以針為之。瀉。曰。必持內之。放而出之。排陽得針。邪氣得泄。按而引針。是謂內溫。血不得散。氣不得出也。（隨手帶出氣字尚在無意之間）補曰。隨之。隨之意。若妄之。若行若按。如蚊虻止。如留如還。去如弦絕。令左屬右。其氣故止。外門以閉。中氣乃實。必無留血。急取誅之。持針之道堅者為寶。正指直刺。</p>
<p>無針左右。神在秋毫。屬意病者。審視血脈。刺之無殆。方刺之時。必在懸陽。及與兩衛。神屬勿去。知病存亡。血脈者在　橫居視之獨澄切之獨堅。（以上第三節緊跟虛實中明用針補瀉之法）九針之名各不同形一曰　針。長一寸六分。二曰員針。長一寸六分。三曰　針。長三寸半。四曰鋒針。長一寸六分。五曰鈹針。長四寸。廣二分半。六曰員利針。長一寸六分。七曰毫針。長三寸六分。八曰長針。長七寸。九曰大針。長四寸。　針者。頭大末銳。去瀉陽氣。（氣字越點越認真）員針者。針如卵形。揩摩分間。不得傷肌肉。以瀉分氣。　針者。鋒如黍粟之銳。主按脈勿陷。以致其氣。鋒針者。刃三隅以發痼疾鈹針者。末如劍鋒。以取大膿。員利針者。大如　。且員且銳。中身微大。以取暴氣。毫針者。</p>
<p>尖如蚊虻喙。靜以徐往。微以久留之而養。以取痛痹。長針者。鋒利身薄。可以取遠痹。大針者。尖如挺。其鋒微員。</p>
<p>以瀉機關之水也。九針畢矣。（以上第四節敘九針之名數體用也是本題之正面）夫氣之在脈也。邪氣在上。濁氣在中。清氣在下。（至此遂捉住氣字不放矣）故針陷脈。則邪氣出。針中脈。則濁氣出。針大深。則邪氣反沉。病益（據小針解二字是衍）故曰皮肉筋脈。各有所處。病各有所宜。各不同形。各以任其所宜。無實無虛。損不足而益有餘是謂甚病病益甚。取五脈者死。取三脈者　。奪陰者死。奪陽者狂。針害畢矣。刺之而氣不至。無問其數刺之。而氣至乃去之。勿復針。針各有所宜。各不同形。各任其所為。刺之要。氣至而有效。效之信。若風之吹云。明乎若見蒼天。刺之道畢矣。（以上第五節分兩段一敘針害一敘針效九針之義畢矣是前半篇）黃帝曰。愿聞五臟六腑所出之處。岐伯曰。五臟五　五五二十五　。六腑六　。六六三十六　。經脈十二絡脈十五。凡二十七氣以上下。所出為井。所溜為滎。所注為　。所行為經。所入為合。二十七氣所行。皆在五　也。節之交。三百六十五會。知其要者。一言而終。不知其要。流散無窮。所言節者神氣之所游行出入也。非皮肉筋骨也。觀其色察其目。知其散。復一其形。聽其動靜。知其邪正。右主推之。左持而御之。氣至而去之。凡將用針必先診脈視氣之。劇易乃可以治也。五臟之氣已絕於內。而用針者反實其外是謂重竭。</p>
<p>重竭必死。其死也靜。治之者。輒反其氣。取腋與膺。五臟之氣已絕於外。而用針者。反實其內是謂逆厥。逆厥則必死。</p>
<p>其死也燥。治之者。反取四末。刺之害。中而不去則精泄。（傷於深也）不中而去則致氣（傷於淺也不字原誤作害深淺之說詳素問刺齊論）精泄則病益甚而　致氣則生為癰瘍。（以上第六節論針必審氣是針與原之交際全篇之中樞也）五臟有六腑。六腑有十二原。十二原出於四關。四關主治五臟。五臟有疾。當取之十二原。十二原者五臟之所以稟三百六十五節氣味也。五臟有疾也。應出十二原。十二原各有所出。明知其原睹其應而知五臟之害矣。陽中之少陰。肺也。（造句順逆有法若云肺者陽中之少陰也文氣便不峻）其原出於太淵。太淵二。陽中之太陽。心也。其原出於大陵。大陵二。陰中之少陽。肝也。其原出於太衝。太衝二。陰中之至陰。脾也。其原出於太白。太白二。陰中之太陰。腎也。其原出於太谿。</p>
<p>太谿二。膏之原。出於鳩尾。鳩尾一。肓之原。出於脖　。脖　一。凡此十二原者。主治五臟六腑之有疾者也。脹取三陽飧泄取三陰（以上第七節實發十二原亦本題正面也末忽帶出治法以起下文經文篇法每多如此）今夫五臟之有疾也。譬猶刺也。猶污也。猶結也。猶　也。刺雖久猶可拔也。污雖久猶可雪也。結雖久猶可解也。　雖久猶可決也。或言久疾之不可取者。非其說也。夫善用針者。取其疾也。猶拔刺也。猶雪污也。猶解結也。猶決　也。疾雖久猶可畢也。言不可治者。未得其術也。（此段本可以數語了之乃故意繁復其詞逐句也字著紙欲飛）刺諸熱者。如以手探湯。刺寒清者。如人不欲行。陰有陽疾者。（謂裡分有上逆之熱邪也）取之下陵三裡。正往無殆。氣下乃止。不下。復始也疾高而內者取之陰之陵泉。疾高而外者取之陽之陵泉也。</p>
<p>通篇只重九針。十二原只是帶敘。前半筆力堅整自見挺拔。後半筆氣清超一往無前。是極酣暢之文。此篇敘九針之體與其用也。九針之用在於審氣之虛實順逆。而調之。前半每於起筆見崢嶸。後半每於收筆見勁切。</p>
<h3>本輸第二（法地）</h3>
<p>黃帝問於岐伯曰。凡刺之道。必通。十二經脈之所終始。絡脈之所別處。五輸之所留。六腑之所與合。四時之所出入。五臟之所溜處。闊數之度。淺深之狀。高下所至。愿聞其解。岐伯曰。請言其次也。肺出於少商。少商者。手大指端內側也。為井木。溜於魚際。魚際者。手魚也。為滎。注於太淵。太淵。魚後一寸。陷者中也。為　行於經渠。經渠。</p>
<p>寸口中也。動而不居。為經。入於尺澤。尺澤。肘中之動脈也。為合。手太陰經也。心出於中衝。中衝者。手中指之端也。為井木。溜於勞宮。勞宮。掌中中指本節之內間也。為滎。注於大陵。大陵。掌後兩骨之間。方下者也。為　。行於間使。間使之道。兩筋之間。三寸之中也。有過則至。無過則止。為經。入於曲澤。曲澤。肘內廉下。陷者中也。屈而得之。為合。手少陰也。肝出於大敦。大敦者。足大趾之端。及三毛之中也。（是其穴有兩處也皆可刺之經脈云起於大指叢毛之中蓋以三毛者為主矣）為井木。溜於行間。行間。足大趾間也。為滎。注於太衝。太衝。行間上二寸。陷者中也。為　。行於中封。中封。內踝之前一寸半。陷者之中。使逆則宛使和則通。搖足而得之。為經。（使者氣之流通於經脈者也素問曰主不明則十二官危使道閉塞而不通宛已見前篇）入於曲泉。曲泉輔骨之下。大筋之上也。屈膝而得之。為合。足厥陰也。脾出於隱白。隱白者。足大趾之端內側也。為井木。溜於大都。大都。本節之後下。陷者中也。為滎。</p>
<p>注於太白。太白。宛骨之下也。為　。行於商丘。商丘。內踝之下。陷者中也。為經。入於陰之陵泉。陰之陵泉。輔骨之下。陷者中也。伸而得之。為合。足太陰也。腎出於涌泉。涌泉者。足心也。為井木。溜於然谷。然谷。然骨之下者也。為滎。注於太谿。太谿。內踝之後。跟骨之上。陷者中也。為　。行於復溜。復溜。上內踝二寸。動而不休。為經。</p>
<p>入於陰谷。陰谷。輔骨之後。大筋之下。小筋之上者。按之應手。屈膝而得之。為合。足少陰經也。膀胱出於至陰。至陰者。足小趾之端也。為井金。溜於通谷。通谷。本節之前。外側也。為滎。注於束骨。束骨。本節之後。陷者中也。</p>
<p>為。過於京骨。京骨。足外側大骨之下。為原。行於昆侖。昆侖。在外踝之後。跟骨之上。為經。入於委中。委中。</p>
<p>中央。為合。委而取之。足太陽也。膽出於竅陰。竅陰者。足小趾次趾之端也。為井金。溜於俠谿。俠谿。足小趾次趾之間也。為滎。注於臨泣。臨泣。上行一寸半。（自俠谿直上行一寸半也）陷者中也。為　。過於丘墟。丘墟。外踝之前下。陷者中也。為原。行於陽輔。陽輔。外踝之上。輔骨之前。及絕骨之端也。為經。入於陽之陵泉。陽之陵泉。在膝外。陷者中也。為合。伸而得之。足少陽也。胃出於厲兌。厲兌者。足大趾次趾之端也。為井金。溜於內庭。內庭。</p>
<p>次趾外間也。為滎。注於陷谷。陷谷。者上中趾內間（中趾內間即次趾外間在兩趾之中本節之後且上云次趾外間下云上行二寸正當以內庭起數不當牽及中趾反使人無所審其處也）上行二寸。陷者中也。為　。過於衝陽。衝陽。足跗上五寸。</p>
<p>陷者中也。為原。搖足而得之。行於解谿。解谿。上衝陽一寸半。陷者中也。為經。入於下陵。下陵。膝下三寸。　骨外。三裡也。為合。復下三裡三寸為巨虛上廉。復下上廉三寸為巨虛下廉。也大腸屬上。小腸屬下。足陽明胃脈也。大腸小腸皆屬於胃。是足陽明也。三焦者上合手少陽。出於關衝。關衝者。手小指次指之端也。為井金。溜於液門。液門。</p>
<p>小指次指之間也。為滎。注於中渚。中渚。本節之後。陷中者也。為　。過於陽池。陽池。在腕上。陷者中也。為原。</p>
<p>行於支溝。支溝。上腕三寸。兩骨之間。陷者中也。為經。入於天井。天井。在肘外大骨之上。陷者中也。為合。屈肘乃得之。三焦下　。在於足太陽之前。少陽之後。（太陽原作大指考邪氣臟腑病形篇曰三焦病者候在足太陽之外大絡在足太陽少陽之間取委陽於大指何涉）出於　中外廉名曰委陽。是太陽絡也。手少陽經也。三焦者足少陽。太陰之所將太陽之別也。（太陰之陰原注一本作陽今尋本篇前後文義非陰誤陽乃太誤少也少陰腎也三焦之氣發於腎而通於膽故曰將將者氣化之相通相使也以臟腑之氣言也其經氣別行於足太陽故曰別別者經氣之所分所注也）上踝五寸。別入貫　腸。出於委陽。並太陽之正入絡膀胱約下焦。（謂三焦下　非有專脈乃足少陽少陰之合氣以行於太陽之別絡上踝貫　出委陽遂並太陽之正經入絡膀胱約下焦也）實則閉癃。虛則遺溺。遺溺則補之。閉癃則瀉之。手太陽小腸者上合於太陽。出於少澤。少澤。小指之端也。為井金。溜於前谷。前谷。在手外廉。本節前。陷者中也。為滎。注於後谿。後谿。在手外側。本節之後也。為　。過於腕骨。腕骨。在手外側。腕骨之前。為原。行於陽谷。陽谷。在銳骨之下。陷者中也。為經。入於小海。小海。在肘內大骨之外。去端半寸。陷者中也。伸臂而得之。為合。手太陽經也。大腸上合手陽明。出於商陽。</p>
<p>商陽。大指次指之端也。為井金。溜於本節之前二間。為滎。注於本節之後三間。為　。過於合谷。合谷。在大指歧骨之間。為原。行於陽谿。陽谿。在兩筋間。陷者中也。為經。入於曲池。在肘外輔骨陷者中也。屈臂而得之。為合。手陽明也。是謂五臟六腑之　。五五二十五　。六六三十六　也。六腑皆出足之三陽上合於手者也。（總釋前文上合之義即巨虛上廉下廉及三焦下　之事也。以上敘十二經之終始而五臟所溜即在其中是就各經直敘之）缺盆之中。任脈也。名曰天突。一次任脈側之動脈。足陽明也。名曰人迎。二次脈。手陽明也。名曰扶突。三次脈。手太陽也。名曰天窗。四次脈。足少陽也。名曰天容。五次脈。手少陽也。名曰天牖。六次脈。足太陽也。名曰天柱。七次脈。頸中央之脈。督脈也。名曰風府。腋內動脈。手太陰也。名曰天府。腋下三寸。手心主也。名曰天池。刺上關者　不能欠刺下關者欠不能刺犢鼻者屈不能伸刺兩關者伸不能屈。（以上敘絡脈別處闊數之度是合各經而橫排之）足陽明挾喉之動脈也。其　在膺中。手陽明。次在其　外。不至曲頰一寸。（謂膺中稍外上直於面在下至曲頰一寸之前也下文均如此說）手太陽。當曲頰。</p>
<p>足少陽。在耳下。曲頰之後。手少陽。出耳後。上加完骨之上。足太陽。挾項大筋之中。發際。陰尺動脈。在五裡。五之禁也。（以上敘五輸所留）肺合大腸。大腸者傳道之府。心合小腸。小腸者受盛之府。肝合膽。膽者中精之府。脾合胃。胃者五穀之府。腎合膀胱。膀胱者津液之府也。少陽屬腎。腎上連肺故將兩臟。（少陽二字前人皆以三焦為解經固明言三焦屬膀胱矣但揆此處上下文義似當作太陽並無深義蓋果指三焦則少陽之上必有脫字兩臟之下必有一腑也明於文理者試詳思之將義見前節）三焦者中瀆之府也。水道出焉。屬膀胱是孤之府也。（謂屬膀胱而同合於腎無專合之臟故曰孤也）</p>
<p>是六腑之所與合者。（以上作六腑之合以下作四時出入深淺之義）春取絡脈諸滎大經分肉之間甚者深取之。間者淺取之。</p>
<p>夏取諸　孫絡肌肉皮膚之上。秋取諸合。余如春法。冬取諸井諸　之分。欲深而留之。此四時之序。氣之所處。病之所舍。藏之所宜也。轉筋者立而取之可令遂已痿厥者張而刺之可令立快也。</p>
<p>內經此等文字直是天造地設。其廣大博濃直是天無不覆地無不載。非三代上不能作。非三代上之聖人不能作讀者須細玩其板處繁復處接換處。再總觀其大處雄處。略無變化卻無處不變化。如汪洋大海魚龍百怪隱見出沒於其中而人莫能測也。又如青天無云平沙萬裡一望無際不見邱壑而人處其中自覺氣清神旺浩然而百骸俱暢。此篇敘十二經氣穴之所在。</p>
<p>以明臟腑之氣相灌輸也。</p>
<h3>小針解第三（法人）</h3>
<p>所謂易陳者。易言也。難入者。難著於人也。粗守形者。守刺法也。上守神者。守人之血氣有餘不足可補瀉也。神客者。正邪其會也。神者正氣也。客者邪氣也。在門者。邪循正氣之所出入也。未睹其疾者。先知邪正何經之疾也。惡知其原者。先知何經之病。所取之處也。刺之微在數遲者。徐疾之意也。粗守關者。守四肢而不知血氣正邪之往來也。</p>
<p>上守機者。知守氣也。機之動不離其空中者。知氣之虛實。用針之徐疾也。空中之機清淨以微者。針以得氣。密意守氣勿失也。其來不可逢者。氣盛不可補也。其往不可追者。氣虛不可瀉也。不可掛以發者。言氣易失也。扣之不發者。言不知補瀉之意也。血氣已盡。而氣不下也。知其往來者。知氣之逆順盛虛也。要與之期者。知氣之可取之時也。粗之者。冥冥不知氣之微密也。妙哉工獨有之者。盡知針意也。往者為逆者。言氣之虛而小。小者逆也。來者為順者。言形氣之平。平者順也。明知逆順正行無問者。言知所取之處也。迎而奪之者。瀉也。追而濟之者。補也。所謂虛則實之者。</p>
<p>氣口虛而當補之也。滿則泄之者。氣口盛而當瀉之也。宛陳則除之者。去血脈也。邪勝則虛之者。言諸經有盛者。皆瀉其邪也。徐而疾則實者。言徐內而疾出也。疾而徐則虛者。言疾內而徐出也。言實與虛若有若無者。言實者有氣。虛者無氣也。察後與先若亡若存者。言氣之虛實。補瀉之先後也。察其氣之已下與常存也。為虛與實若得若失者。言補則然若有得也。瀉則恍然若有失也。夫氣之在脈也。邪氣在上者。言邪氣之中人也高故邪氣在上也。濁氣在中者。言水穀皆入於胃。其精氣上注於肺。濁溜於腸胃。言寒溫不適。飲食不節。而病生於腸胃。故命曰。濁氣在中也。清氣在下者。</p>
<p>言清濕地氣之中人也。必從足始。故曰。清氣在下也。針陷脈則邪氣出者。起之上。（謂起其陷而使之上也又疑上當作止謂起之即止無或過也又終始篇有取之上之文謂正取其陷脈之上也三說難定俟高明正之）針中脈則邪氣出者。取之陽明合也。針大深則邪氣反沉者。言淺浮之病。不欲深刺也。深則邪氣從之入。故曰反沉也。皮肉筋脈各有所處者。言經絡各有所主也。取五脈者死。言病在中。氣不足。但用針盡大瀉其諸陰之脈也。取三陽之脈者。唯言盡瀉三陽之氣。令病患然不復也。奪陰者死。言取尺之五裡。五往者也。奪陽者狂。正言也。（正字疑當作狂）睹其色。察其目。知其散復。</p>
<p>一其形。聽其動靜者。言上工知相五色於目。有知調尺寸小大緩急滑澀。以言所病也。知其邪正者。知論虛邪與正邪之風也。右主推之。左持而御之者。言持針而出入也。氣至而去之者。言補瀉氣調而去之也。調氣在於終始一者。持心也。</p>
<p>節之交三百六十五會者。絡脈之滲灌諸節者也。所謂五臟之氣。已絕於內者。脈口氣內絕。不至反取其外之病處。與陽經之合。有留針以致陽氣。陽氣至則內重竭。重竭則死矣。其死也無氣以動。故靜。所謂五臟之氣。已絕於外者。脈口氣外絕不至反取其四末之輸。有留針以致其陰氣。陰氣至則陽氣反入。入則逆。逆則死矣。其死也。陰氣有餘故躁。所以察其目者。五臟使五色循明。（循即修字）循明則聲章。聲章者則言。聲與平生異也。（此句文義與六節藏象論不同）</p>
<p>詮釋之中夾以議論。筆仗堅峭朴濃爾雅尚難抗行。世必謂秦漢諸子為之。試取呂氏春秋淮南子諸篇及鄭孔注疏讀之。</p>
<p>豈能望其肩背。此篇釋九針十二原之義也可見古人口誦心維服膺不舍之意。</p>
<h3>邪氣臟腑病形第四（法時）</h3>
<p>黃帝問於岐伯曰。邪氣之中人也奈何。岐伯答曰。邪氣之中人高也。黃帝曰。高下有度乎。岐伯曰。身半以上者邪中之也。身半以下者濕中之也。故曰。邪之中人也。無有常中於陰則溜於腑中於陽則溜於經。黃帝曰。陰之與陽也。異名同類。上下相會。經絡之相貫。如環無端。邪之中人。或中於陰。或中於陽。上下左右。無有恆常。其故何也。岐伯曰。諸陽之會皆在於面。邪之中人也。方乘虛時。及新用力。若飲食汗出腠理開。而中於邪中於面則下。陽明中於項則下。太陽中於頰則下。少陽其中於膺背兩脅亦各下其經。黃帝曰。其中於陰奈何。岐伯答曰。中於陰者常從臂　始。夫臂與　其陰皮薄。其肉淖澤。故俱受於風獨傷其陰。黃帝曰。此故傷其臟乎。岐伯答曰。身之中於風也。不必動臟也。</p>
<p>故邪入於陰經。則臟氣實邪氣入而不能客故還之於腑。故中陽則溜於經。中陰則溜於腑。黃帝曰。邪之中人臟。奈何。</p>
<p>岐伯曰。愁憂恐懼。則傷心形寒。寒飲則傷肺以其兩寒。相感中外皆傷故氣逆。而上行有所墮墜。惡血留內。有所大怒。</p>
<p>氣上而不下。積於脅下。則傷肝。有所擊仆。若醉入房。汗出當風。則傷脾。有所用力舉重。若入房過度。汗出浴水。</p>
<p>則傷腎。黃帝曰。五臟之中風。奈何。岐伯曰。陰陽俱感邪。乃得往。黃帝曰。善哉。（以上敘邪氣臟腑之義是發明病之機也陰陽臟腑四項本自極對而布局運筆參差曲背變幻不測卻是風水相遭毫無造作豈非至文）黃帝問於岐伯曰。首面與身形也。屬骨連筋同血合於氣耳。天寒則裂地凌冰。其卒寒。或手足懈惰。然而其面不衣。何也。岐伯答曰。十二經脈。</p>
<p>三百六十五絡。其血氣皆上於面而走空竅。其精陽氣上走於目而為睛。其別氣走於耳而為聽。其宗氣上出於鼻而為臭。</p>
<p>其濁氣出於胃。走唇舌而為味。其氣之津液。皆上熏於面。而皮又濃。其肉堅。故大熱甚寒。不能勝之也。（以上為前半篇敘邪氣臟腑正意余意俱到下乃敘病形也）黃帝曰。邪之中人。其病形何如。岐伯曰。虛邪之中身也。洒淅動形。正邪之中人也微。先見於色。不知於身。若有若無。若亡若存。有形無形。莫知其情。黃帝曰。善哉。（此從邪氣卸到病形是全篇之中樞也）黃帝問於岐伯曰。余聞之。見其色。知其病。命曰明。按其脈。知其病。命曰神。問其病。知其處。命曰工。余愿聞見而知之。按而得之。問而極之。為之奈何。岐伯答曰。夫色脈與尺之相應也。如桴鼓影響之相應也。不得相失也。此亦本末根葉之出候也。故根死則葉枯矣。色脈形肉。不得相失也。故知一則為工。知二則為神。知三則神且明矣。（此段提唱色脈尺三項為病形提綱是後半篇之總冒。色脈尺三項平提下文分敘卻重在脈上）黃帝曰。愿卒聞之。</p>
<p>岐伯答曰。色青者其脈弦也。赤者其脈鉤也。黃者其脈代也。白者其脈毛。黑者其脈石。見其色而不得其脈。反得其相勝之脈。則死矣。得其相生之脈。則病已矣。黃帝曰五臟之所生。變化之病形。何如。岐伯答曰先定其五色五脈之應。</p>
<p>其病乃可別也。（此段敘色字帶定脈字五色所主病形只渾寫一筆頓住）黃帝曰色脈已定。別之奈何。岐伯曰。調其尺之緩急小大滑澀。而病變定矣。（調字重讀尺原作脈今尋上下文義改之上云色脈已定此處固當言尺下文方不嫌突且所謂調者即合色脈以參之之謂也故下文跟定脈字）黃帝曰。調之奈何。岐伯答曰。脈急者尺之皮膚亦急。脈緩者尺之皮膚亦緩。脈小者尺之皮膚亦減而少氣。脈大者尺之皮膚亦賁而起。脈滑者尺之皮膚亦滑。脈澀者尺之皮膚亦澀。凡此變者有微有甚。</p>
<p>故善調尺者不待於寸。善調脈者不待於色。能參合而行之者。可以為上工。上工十全九。行二者為中工。中工十全七。</p>
<p>行一者為下工。下工十全六。（此段跟定脈字敘尺字尺膚所主病形亦只用渾寫頓住。以上色尺兩項病形俱用略筆留於下文五脈發揮）黃帝曰。請問脈（脈字重讀是總承上六個脈字來前人蓋因此句而將前文尺字妄改作脈字）之緩急小大滑澀之病形。何如。岐伯曰。臣請言五臟之病變也。心脈急甚者。為螈　。微急為心痛引背。食不下。緩甚。為狂笑。微緩。</p>
<p>為伏梁。在心下。上下行。時唾血。大甚。為喉　。微大為心痹引背。善淚出。小甚為善噦。微小為消癉。滑甚為善渴。</p>
<p>微滑為心疝引臍。小腹鳴。澀甚為喑。微澀為血溢。維厥。耳鳴顛疾（維厥即肢厥也四肢謂之四維）肺脈急甚。為顛疾。</p>
<p>微急為肺寒熱。怠惰。咳唾血。引腰背胸。若鼻息肉不通。緩甚為多汗。微緩為痿　偏風。頭以下汗出不可止。大甚為脛腫。微大為肺痹。引胸背。起惡日光。小甚為泄。微小為消癉。滑甚為息賁。上氣。微滑為上下出血。澀甚為嘔血。</p>
<p>微澀為鼠　。在頸。支腋之間。下不勝其上。其應善　矣。肝脈。急甚。為惡言。微急。為肥氣。在脅下。若覆杯。緩甚。為善嘔。微緩。為水瘕痹也。大甚。為內癰。善嘔衄微大。為肝痹。陰縮。咳引小腹。小甚。為多飲。微小。為消癉。滑甚。為　疝。微滑。為遺溺。澀甚。為溢飲。微澀。為螈攣筋痹。脾脈急甚。為螈　。微急。為膈中。食飲入而還出。後沃沫。緩甚。為痿疾。微緩。為風痿。四肢不用。心慧然若無病。（此燥病也燥極風生內不濡心外不濡筋也心失所養筋脈內弛神明外散其脈微弦而長按之　而薄帶散故曰微緩）大甚。為擊仆。微大。為疝氣。腹裹大。（腹裹肚囊也作裡誤）膿血在腸胃之外。小甚。為寒熱微小為消癉。滑甚。為　癃。微滑。為蟲毒　蠍。腹熱。澀甚。為腸潰微澀。為內。多下膿血。（潰　二字脈經互易為是）腎脈。急甚。為骨癲疾。微急。為沉厥。奔豚。足不收。不得前後。緩甚。</p>
<p>為折脊微緩。為洞。洞者食不化。下嗌還出。大甚。為陰痿。微大。為石水。起臍以下至小腹　然。上至胃脘。死不治。小甚。為洞泄微小。為消癉。滑甚。為癃　。微滑。為骨痿。坐不能起。起則目無所見。澀甚。為大癰。微澀。為不月。沉痔。（以上詳敘六脈微甚之病即補敘五色尺膚所主之病也前敘色尺筆勢下趨如過脈文字接敘六脈筆勢即堂堂正大是色尺必以脈為主也五臟即暗承五色六變微甚即隱賅尺膚讀者須目光四射乃得）黃帝曰。病之六變者。刺之奈何。岐伯答曰。諸急者多寒。緩者多熱。大者多氣少血。小者血氣皆少。滑者陽氣盛微有熱。澀者多血少氣微有寒。是故刺急者。</p>
<p>深內而久留之。刺緩者。淺內而疾發針。以去其熱。刺大者。微瀉其氣。無出其血。刺滑者。疾發針而淺內之。以瀉其陽氣。而去其熱。刺澀者。必中其脈。隨其逆順而久留之。必先按而循之。已發針。疾按其　。無令其血出。以和其脈。</p>
<p>諸小者。陰陽形氣俱不足。勿取以針。而調以甘藥也。黃帝曰。余聞五臟六腑之氣滎輸所入為合。令何道從入。入安連過。愿聞其故。岐伯答曰。此陽脈之別。入於內。屬於腑者也。黃帝曰。滎輸與合。各有名乎。岐伯答曰。滎輸治外經。</p>
<p>合治內腑。黃帝曰。治內腑奈何。岐伯曰。取之於合。黃帝曰。合各有名乎。岐伯答曰。胃合於三裡。大腸合入於巨虛上廉。小腸合入於巨虛下廉。三焦合入於委陽。膀胱合入於委中央。膽合入於陽陵泉。黃帝曰。取之奈何。岐伯答曰。</p>
<p>取之三裡者。低跗取之。巨虛者。舉足取之。委陽者。屈伸而索之。委中者。屈而取之。陽陵泉者。正豎膝。予之齊。</p>
<p>下至（至直也）委陽之陽取之。（謂坐而正豎其膝折其脛引線與膝後大筋相齊又折而下直委陽之外是穴也）取諸外經者。</p>
<p>申而從之。（　申當作揄伸骨空論注云揄搖也謂或搖或伸而尋之也）黃帝曰。愿聞六腑之病。（前文說得天花亂綴讀者幾忘其遺卻六腑矣讀至此乃愕然）岐伯答曰。面熱者。足陽明病。魚絡血者。手陽明病。兩跗之上。脈堅陷者。足陽明病。此胃脈也。大腸病者。腸中切痛而鳴。濯濯冬日重感於寒。即泄。當臍而痛。不能久立。與胃同候。取巨虛上廉。</p>
<p>胃病者。腹　脹。胃脘當心而痛。上支兩脅。膈咽不通。食飲不下。取之三裡也。小腸病者。小腹痛腰脊控睪而痛。時窘之後。（窘迫於後陰也）當耳前熱。若寒甚若獨肩上熱甚。及手小指次指之間熱。若脈陷者。此其候也。手太陽病也。</p>
<p>取之巨虛下廉。三焦病者。腹氣滿。小腹尤堅。不得小便。窘急溢則水。留則為脹。候在足太陽之外大絡。大絡在太陽少陽之間。亦見於脈。取委陽。膀胱病者。小腹偏腫而痛。以手按之。即欲小便而不得。肩上熱。若脈陷。及足小趾外廉及脛踝後皆熱。若脈陷。取委中央。膽病者。善太息。口苦嘔宿汁。心下澹澹。恐人將捕之。嗌中　然數唾。在足少陽之本末。亦視其脈之陷下者灸之。其寒熱者取陽陵泉。（以上敘六腑病形逐段攙入上節鉤連有致）黃帝曰。刺之有道乎。岐伯答曰。刺此者必中氣穴。無中肉節。中氣穴則針染於巷中肉節則皮膚痛。補瀉反。則病益篤。中筋則筋緩邪氣不出。與其真相搏。亂而不去。反還內著。用針不審以順為逆也。</p>
<p>前半敘邪氣後半敘病形而各以臟腑。緯之尤妙在前從腑卸臟中用樞紐。後從臟卸腑中用樞紐。中間從邪氣卸病形中用樞紐。遂使板局極活。令讀者迷不知其本指之所在。此篇敘邪氣之傷。有淺深與病形之各異也。初看似略無奇處。細讀乃無處不奇。靈樞八十一篇布局之穿插變幻如此篇者不過三四而已。詎可以平淡忽之。</p>
<h2>卷二</h2>
<h3>根結第五（法音）</h3>
<p>岐伯曰。天地相感。寒暖相移。陰陽之道。孰少孰多。陰道偶陽道奇。發於春夏。陰氣少。陽氣多。陰陽不調。何補何瀉。發於秋冬。陽氣少。陰氣多。陰氣盛而陽氣衰。故莖葉枯槁。濕雨下歸。（刺節真邪曰熱則滋雨而在上根　少汁義正與此相證）陰陽相移。何瀉何補。奇邪離經不可勝數不知根結五臟六腑折關敗樞開闔而走陰陽大失不可復取。九針之玄。要在終始。故能知終始一言而畢。不知終始。針道咸絕。（以上總括大意是通篇之總冒也）太陽根於至陰。結於命門。命門者目也。陽明根於厲兌。結於顙大。顙大者鉗耳也。少陽根於竅陰。結於窗籠。窗籠者。耳中也。太陽為開陽明為闔。少陽為樞故開折。則內節瀆而暴病起矣。故暴病者。取之太陽。視有餘不足。瀆者。皮肉宛　而弱也。（宛　音郁焦蓄　也）闔折。則氣無所止息而痿疾起矣。故痿疾者。取之陽明。視有餘不足。無所止息者。真氣稽留。邪氣居之也。樞折。即骨繇而不安於地。故骨繇者。取之少陽。視有餘不足。骨繇者。節緩而不收也。所謂骨繇者。搖故也。當窮其本也。太陰根於隱白結於太倉。少陰。根於涌泉。結於廉泉。厥陰根於大敦。結於玉英。絡於膻中。太陰為開厥陰為闔。少陰為樞。故開折。則倉廩無所輸。膈洞。膈洞者取之太陰。視有餘不足。故開折者。氣不足而生病也。闔折。</p>
<p>即氣絕而喜悲。悲者取之厥陰。視有餘不足。樞折。則脈有所結而不通。不通者取之少陰。視有餘不足。有結者皆取之不足。（以上根結之事畢矣下乃推論陰陽多少之事）足太陽根於至陰。溜於京骨。注於昆侖。入於天柱飛揚也。足少陽根於竅陰。溜於丘墟。注於陽輔。入於天容光明也。足陽明根於厲兌。溜於衝陽。注於下陵。入於人迎豐隆也。手太陽根於少澤。溜於陽谷。注於少海。入於天窗支正也。手少陽根於關衝。溜於陽池。注於支溝。入於天牖外關也。手陽明根於商陽。溜於合谷。注於陽谿。入於扶突偏歷也。此所謂十二經者。盛絡皆當取之。（此節敘三陽之盛絡是陽多之極致也）</p>
<p>一日一夜五十營。以營五臟之精不應數者名曰狂生。所謂五十營者。五臟皆受氣。持其脈口。數其至也。五十動而不一代者。五臟皆受氣。四十動一代者。一臟無氣。三十動一代者。二臟無氣。二十動一代者。三臟無氣。十動一代者。四臟無氣。不滿十動一代者。五臟無氣。予之短期。要在終始。所謂五十動而不一代者。以為常也。以知五臟之氣。予之短期者。乍數乍疏也（此節敘五臟之無氣是陰少之極致也。二節固是分敘陰陽多少而上節每條承前節根字此節以五十營承上十二經草蛇灰線鉤連有致）黃帝曰。逆順五體者。言人骨節之小大。肉之堅脆。皮之濃薄。血之清濁。氣之滑澀。</p>
<p>脈之長短。血之多少。經絡之數。余已知之矣。此皆布衣匹夫之士也。夫王公大人血食之君。身體柔脆。肌肉軟弱。血氣悍滑利。其刺之徐疾淺深多少。可得同之乎。岐伯答曰。膏粱菽藿之味。何可同也。氣滑即出疾。氣澀則出遲。氣悍則針小而入淺。氣澀則針大而入深。深則欲留。淺則欲疾。以此觀之。刺布衣者深以留之。刺大人者微以徐之。此皆因氣之　悍滑利也。（此節言膏粱菽藿之治不同者是為形氣有餘不足立影也）黃帝曰。形氣之逆順奈何。岐伯曰。形氣不足病氣有餘。是邪勝也。急瀉之。形氣有餘病氣不足。急補之。形氣不足病氣不足。此陰陽氣俱不足也。不可刺之。刺之則重不足。重不足則陰陽俱竭。血氣皆盡。五臟空虛。筋骨髓枯。老者絕滅。壯者不復矣。形氣有餘病氣有餘。此謂陰陽俱有餘也。急瀉其邪。調其虛實。故曰有餘者瀉之。不足者補之。此之謂也。故曰刺不知逆順。真邪相搏滿而補之。</p>
<p>則陰陽四溢。腸胃充郭。肝肺內　。陰陽相錯。虛而瀉之。則經脈空虛。血氣竭枯。腸胃HT　辟。皮膚薄著。毛腠天　。</p>
<p>予之死期。故曰用針之要。在於知調陰與陽。調陰與陽。精氣乃光。合形與氣。使神內藏。故曰上工平氣。中工亂脈。</p>
<p>下工絕氣危生。故曰下工不可不慎也。必審五臟變化之病。五脈之應。經絡之實虛。皮之柔粗而後取之也。</p>
<p>以陰陽為綱領以補瀉為注腳。前半重發陰陽。後半重發補瀉。如兩大比文式中間加一樞紐。與前後文似不相續。深得事外間。情通體筆亦堅老不蔓不支。</p>
<h3>壽夭剛柔第六（法律）</h3>
<p>黃帝問於少師曰。余聞人之生也。有剛有柔。有弱有強。有短有長。有陰有陽。愿聞其方。少師答曰。陰中有陰。</p>
<p>陽中有陽。審知陰陽。刺之有方。得病所始。刺之有理。謹度病端。與時相應。內合於五臟六腑。外合於筋骨皮膚。是故內有陰陽外亦有陰陽。在內者。五臟為陰六腑為陽在外者筋骨為陰皮膚為陽。故曰病在陰之陰者。刺陰之滎輸。病在陽之陽者。刺陽之合。病在陽之陰者。刺陰之經。病在陰之陽者。刺絡脈。故曰病在陽者。命曰風。病在陰者。命曰痹。</p>
<p>陰陽俱病。命曰風痹。病有形而不痛者陽之類也。無形而痛者陰之類也。無形而痛者其陽完而陰傷之也急治其陰無攻其陽。有形而不痛者。其陰完而陽傷之也。急治其陽無攻其陰。陰陽俱動。乍有形。乍無形。加以煩心。命曰陰勝其陽。</p>
<p>此謂不表不裡。其形不久。黃帝問於伯高曰。余聞形氣。病之先後。外內之應。奈何。伯高答曰。風寒傷形。憂恐忿怒傷氣。氣傷臟。乃病臟。寒傷形。乃應形。風傷筋脈。筋脈乃應。此形氣外內之相應也。黃帝曰。刺之奈何。伯高答曰。</p>
<p>病九日者。三刺而已。病一月者。十刺而已。多少遠近。以此衰之久痹不去身者。視其血脈。盡出其血。黃帝曰外內之病。難易之治。奈何。伯高答曰。形先病而未入臟者。刺之半其日。臟先病而形乃應者刺之倍其日。此外內難易之應也。</p>
<p>黃帝問於伯高曰。余聞形有緩急。氣有盛衰。骨有大小。肉有堅脆。皮有濃薄其以立壽夭。奈何。伯高曰。形與氣相任則壽不相任則夭。皮與肉相果則壽。不相果則夭。血氣經絡勝形則壽。不勝形則夭。黃帝曰。何謂形之緩急。伯高答曰。</p>
<p>形充而皮膚緩者則壽。形充而皮膚急者則夭。形充而脈堅大者順也。形充而脈小以弱者氣衰。衰則危矣。若形充而顴不起者骨小。骨小而夭矣。形充而大肉　堅而有分者肉堅。肉堅則壽矣。形充而大肉無分理不堅者肉脆。肉脆則夭矣。此天之生命。所以立形定氣而視壽夭者。必明乎此。立形定氣。而後以臨病患。決死生。黃帝曰。余聞壽夭。無以度之。</p>
<p>伯高答曰。牆基卑高。不及其地者。不滿三十而死。其有因加疾者。不及二十而死也。黃帝曰。形氣之相勝。以立壽夭奈何。伯高答曰。平人而氣勝形者壽。病而形肉脫。氣勝形者死。形勝氣者危矣。黃帝曰。余聞刺有三變。何謂三變。</p>
<p>伯高曰。有刺營者。有刺衛者。有刺寒痹之留經者。黃帝曰。刺三變者奈何。伯高答曰。刺營者出血。刺衛者出氣。刺寒痹者內熱。黃帝曰。營衛寒痹之為病奈何。伯高答曰。營之生病也。寒熱少氣。血上下行。衛之生病也。氣通時來時去。怫愾賁響。風寒客於腸胃之中。寒痹之為病也。留而不去時痛而皮不仁。黃帝曰。刺寒痹內熱奈何。伯高答曰。刺布衣者。以火　之。刺大人者。以藥熨之。黃帝曰。藥熨奈何。伯高答曰。用　酒二十斤。蜀椒一升。乾薑一斤。桂心一斤。凡四種。皆　咀。漬酒中。用綿絮一斤。細白布四丈。並內酒中。置酒馬矢　中。蓋封塗。勿使泄。五日五夜。</p>
<p>出布綿絮。曝乾之。干復漬。以盡其汁。每漬。必　其日。乃出干。干並用滓與綿絮。復布為復巾。長六七尺為六七巾。</p>
<p>則用之。生桑炭炙巾以熨寒痹所刺之處。令熱入至於病所寒。復炙巾以熨之。三十遍而止。汗出。以巾拭身。亦三十遍。</p>
<p>止起步內中。無見風。每刺。必熨。如此。病已矣。此所謂內熱也。</p>
<p>通篇以風痹立論。苦無條理層次。其接縫斗　之處。亦無意義可尋。不得以文法求之矣。而事理自為學人所宜究。</p>
<h3>官針第七（法星）</h3>
<p>凡刺之要。官針最妙。九針之宜各有所為。長短大小各有所施也。不得其用病。弗能移疾淺針。深內傷良肉。皮膚為癰。病深針淺。病氣不瀉。支為大膿。病小針大。氣瀉太甚。疾必為害。病大針小。氣不瀉泄。亦復為敗。失針之宜。</p>
<p>大者瀉。小者不移。已言其過。請言其所施。（以上總括大意以下分敘其事）病在皮膚。無常處者。取以　針於病所。膚白。勿取。病在分肉間。取以員針於病所。病在經絡痼痹者。取以鋒針。病在脈。氣少。當補之者。取之　針於井滎分輸。病為大膿者。取以鈹針。病痹氣暴發者。取以員利針。病痹氣痛而不去者。取以毫針。病在中者。取以長針。病水腫不能通關節者。取以大針。病在五臟固居者。取以鋒針。瀉於井滎分輸。取以四時。（此節分敘各病所宜用之法）凡刺有九。以應九變。（以原作日誤古字相近）一曰輸刺。輸刺者。刺諸經滎輸臟　也。二曰遠道刺。遠道刺者。病在上。取之下。刺腑　也。三曰經刺。經刺者。刺大經之結絡經分也。四曰絡刺。絡刺者。刺小絡之血脈也。五曰分刺。分刺者。</p>
<p>刺分肉之間也。六曰大瀉刺。大瀉刺者。刺大膿以鈹針也。七曰毛刺。毛刺者。刺浮痹皮膚也。八曰巨刺。巨刺者。左取右。右取左。九曰　刺。　刺者。刺燔針。則取痹也。（此節分敘各法所主治之病）凡刺有十二節以應十二經。一曰偶刺。偶刺者。以手直心若背。直痛所。一刺前。一刺後。以治心痹。刺此者。傍針之也。二曰報刺。報刺者。刺痛無常處也。上下行者。（四字是詮釋痛無常處也經文每多如此）直內。無拔針。以左手隨病所按之。乃出針。復刺之也。三曰恢刺。恢刺。直刺傍之。舉之。前後恢筋急。以治筋痹也。四曰齊刺。齊刺者。直入一。旁入二。以治寒氣小深者。或曰三刺。三刺者。治痹氣小深者也。五曰揚刺。（長刺節論作陰刺甲乙經作陽刺）揚刺者。正內一。旁內四。而浮之。以治寒氣之博大者也。六曰直針刺。直針刺者。引皮乃刺之。以治寒氣之淺者也。七曰輸刺。輸刺者。直入直出。稀發針而深之。以治氣盛而熱者也。八曰短刺。短刺者。刺骨痹。稍搖而深之。致針骨所。以上下摩骨也。九曰浮刺。浮刺者。</p>
<p>旁入而浮之。以治肌急而寒者也。十曰陰刺。陰刺者。左右牽刺之。以治寒厥。中寒厥。足踝後。少陰也（言陰刺以治寒厥為中寒也足踝後少陰是申言寒厥專刺踝後太谿也）十一曰旁針刺。旁針刺者直刺旁刺各一。以治留痹久居者也。十二曰贊刺。贊刺者直入直出。數發針而淺之出血。是謂治癰腫也。（此節敘刺法之外應十二經並用針之手法也）脈之所居深不見者。刺之微內。針而久留之。以致其空脈氣也。脈淺者勿刺。按絕其脈。乃刺之。無令精出。獨出其邪氣耳。所謂三刺則穀氣出者。先淺刺。絕皮以出。陽邪再刺。則陰邪出者。少益深絕皮。致肌肉未入分肉間也。已入分肉之間。</p>
<p>則穀氣出。故刺法曰。始刺淺之。以逐邪氣而來。血氣後刺深之。以致陰氣之邪。最後刺極深之。以下穀氣此之謂也。</p>
<p>故用針者。不知年之所加。氣之盛衰。虛實之所起。不可以為工也。（此節敘刺法淺深之宜是統釋五臟十二節淺深手法之大義也不作通篇之結束而作中間之樞紐是篇法之變幻）凡刺有五。以應五臟。一曰半刺。半刺者。淺內而疾發針。無針傷肉。如拔毛狀。取皮氣。此肺之應也。二曰豹文刺。豹文刺者。前後左右針之。中脈為故。以取經絡之血者。此心之應也。三曰關刺。關刺者。直刺左右盡筋上。（謂直刺又左右之其深盡筋上也）以取筋痹。慎無出血。此肝之應也。或曰淵刺。一曰豈刺。四曰合谷刺。合谷刺者。左右雞足。針於分肉之間。以取肌痹。此脾之應也。五曰輸刺。輸刺者。直入直出。深內之至骨。以取骨痹。此腎之應也。（此節敘刺法之內應五臟並用針之手法也）</p>
<p>平鋪直敘條理井然。首節從反面渾寫大意籠罩全篇。次節敘九針功用。為下文安根。下三節暢發用針手法。夾敘夾議不必互相照顧而自成文理。此篇敘用針之手法也。重刺字不重針字。故第四節特詳淺深之義。</p>
<h3>本神第八（法風）</h3>
<p>黃帝問於岐伯曰。凡刺之法。先必本於神。血脈營氣精神。此五臟之所藏也。至其淫　。離臟則精失。魂魄飛揚。</p>
<p>志意恍亂。智慮去身者。何因而然乎。天之罪與人之過乎。何謂德氣生精神魂魄心意志思智慮。請問其故。（以上用淡筆以統冒全篇大意）岐伯答曰。天之在我者。德也。地之在我者。氣也。德流氣薄而生者也。（流充溢也薄鼓舞也）故生之來謂之精。兩精相搏謂之神。隨神往來者。謂之魂。並精而出入者。謂之魄。所以任物者謂之心。心有所憶謂之意。意之所存謂之志。因志而存變。謂之思。因思而遠慕。謂之慮。因慮而處物。謂之智。故智者之養生也。必順四時。而適寒暑和喜怒。而安居處節陰陽。而調剛柔如是則邪僻不至。長生久視是故怵惕思慮者。則傷神。神傷則恐懼流淫而不止。</p>
<p>因悲哀動中者。竭絕而失生喜樂者。神憚散而不藏愁憂者。氣閉塞而不行。盛怒者。迷惑而不治。恐懼者。神蕩憚而不收。（此節凡三段源流俱備云垂海立氣象萬千是通篇之上游精神結聚之處也）心怵惕思慮。則傷神。神傷則恐懼自失。破脫肉。毛悴色夭。死於冬。脾憂愁而不解則傷意。意傷則　亂。四肢不舉。毛悴色夭。死於春。肝悲哀動中則傷魂。</p>
<p>魂傷則狂忘不精。不精則不敢正當人。陰縮而攣筋。兩脅骨不舉。毛悴色夭。死於秋。肺喜樂無極則傷魄。傷魄則狂。</p>
<p>狂者意不存人。皮革焦。毛悴色夭。死於夏。腎盛怒而不止則傷志。志傷則喜忘。其前言腰脊不可以俯仰屈伸。毛悴色夭。死於季夏。恐懼而不解則傷精。精傷則骨　痿厥。精時自下。是故五臟主藏精者也。不可傷。傷則失守。而陰虛。</p>
<p>陰虛則無氣。無氣則死矣。是故用針者察觀病患之態。以知精神魂魄之存亡。得失之意五者以傷針不可以治之也。（此節接論五臟之傷而不可治者）肝藏血。血舍魄。肝氣虛則恐實則怒。脾藏營。營舍意。脾氣虛則四肢不用。五臟不安。實則腹脹。經溲不利。心藏脈。脈舍神心氣虛則悲。實則笑不休。肺藏氣。氣舍魄。肺氣虛則鼻塞不利。少氣。實則喘喝。</p>
<p>胸盈仰息。腎藏精。精舍志。腎氣虛則厥。實則脹。五臟不安。必審五臟之病形以知其氣之虛實謹而調之也。（此節接論五臟之虛實而宜調者）</p>
<p>以神字為主。以五臟為骨。以傷字虛實字為次第。從源頭說起。層遞而下浩然沛然之中。鑄詞仍自精湛。非惟才大。</p>
<p>實由理熟。是極正大光明文字。此篇言五臟之神不可傷。傷之者。其死各有期。其神未傷而氣有虛實者可審而調之也。</p>
<h3>終始第九（法野）</h3>
<p>凡刺之道。畢於終始。明知終始。五臟為紀（四字似衍）陰陽定矣。陰者主臟。陽者主腑。陽受氣於四末。陰受氣於五臟。故瀉者迎之。補者隨之。知迎知隨。氣可令和。和氣之方。必通陰陽。五臟為陰。六腑為陽。（先從陰陽臟腑說到氣復從氣說到陰陽臟腑小小段落用筆亦有往復回環之致）傳之後世。以血為盟。敬之者昌。慢之者亡。無道行私。必得夭殃。謹奉天道。請言終始。（以上敘陰陽補瀉大意總冒通篇）終始者。經脈為紀。持其脈口人迎以知陰陽。有餘不足。</p>
<p>平與不平。天道畢矣。所謂平人者。不病。不病者。脈口人迎應四時也。上下相應而俱往來也。六經之脈不結動也。本末之寒溫之相守司也。形肉血氣必相稱也。是謂平人少氣者。脈口人迎俱小而不稱尺寸也。如是者則陰陽俱不足。補陽則陰竭。瀉陰則陽脫。如是者。可將以甘藥。不可飲以至劑。如此者弗灸。（據此是古法固以灸為補也）不已者。因而瀉之。則五臟氣壞矣。（此節凡三段總敘平與不平一段分敘平字一段不足一段而以有餘一層留於下文發揮支對參差詳略互出極篇法之變幻。少氣者一段前半句法與上段起處作對待後半句法與下節收處作對待）人迎一盛。病在足少陽。一盛而躁。</p>
<p>病在手少陽。人迎二盛。病在足太陽二盛而躁。病在手太陽。人迎三盛。病在足陽明。三盛而躁。病在手陽明。人迎四盛。且大且數。名曰溢陽。溢陽為外格。脈口一盛。病在足厥陰。厥陰一盛而躁。在手心主。脈口二盛。病在足少陰。</p>
<p>二盛而躁。在手少陰。脈口三盛。病在足太陰。三盛而躁。在手太陰。脈口四盛。且大且數者。名曰溢陰。溢陰為內關。</p>
<p>內關不通。死不治。人迎與太陰脈口俱盛四倍以上。命曰關格。關格者。與之短期。人迎一盛。瀉足少陽。而補足厥陰。</p>
<p>二瀉一補。日一取之。必切而驗之。疏取之上。（上指所驗之病脈上也）氣和乃止。人迎二盛。瀉足太陽。而補足少陰。</p>
<p>二瀉一補。二日一取之。必切而驗之。疏取之上。氣和乃止。人迎三盛。瀉足陽明。而補足太陰。二瀉一補。日二取之。</p>
<p>必切而驗之。疏取之上。氣和乃止。脈口一盛。瀉足厥陰。而補足少陽。二瀉一補。日一取之。必切而驗之。疏取之上。</p>
<p>氣和乃止。脈口二盛。瀉足少陰。而補足太陽。二補一瀉。二日一取之。必切而驗之。疏取之上。氣和乃止。脈口三盛。</p>
<p>瀉足太陰。而補足陽明。二補一瀉。日二取之。必切而驗之。疏取之上。氣和乃止。所以日二取之者。陽明主胃大富於穀氣。故可日二取之也。人迎與脈口俱盛。四倍以上。命曰陰陽俱溢。如是者不開。（據此是古法固以刺為瀉也）則血脈閉塞氣無所行流淫於中。五臟內傷如此者。則變易而為他病矣。（此節敘有餘將病與治法分作兩截寫上節則平與不足兩項連寫詳略懸殊無理而有趣蓋凡事之對待而頭緒多寡不同者均可用此體例也）凡刺之道氣調而止。補陰瀉陽。音氣益彰。</p>
<p>耳目聰明。反此者。血氣不行。（此下當接邪氣來也緊而疾至其脈皆實下再當接凡刺之屬三刺至穀氣）所謂氣至而有效者。</p>
<p>瀉則益虛。虛者脈大如其故。而不堅也。堅如其故者。適雖言故（故字疑誤）病未去也。補則益實。實者脈大如其故而益堅也。大如其故而不堅者。適雖言快病未去也。故補則實。瀉則虛。痛雖不隨針。病必衰去。必先通十二經脈之所生病。而後可得傳於終始矣。故陰陽不相移。虛實不相傾。取之其經。（以下當接陰盛而陽虛文義相屬也）凡刺之屬。三刺至穀氣。邪僻妄合。陰陽易居。逆順相反。沉浮異處。四時不得。稽留淫　。須針而去。故一刺則陽邪出。再刺則陰邪出。三刺則穀氣至。穀氣至而止。所謂穀氣至者。已補而實。已瀉而虛。故以知穀氣至也。邪氣獨去者。陰與陽未能調而病知愈也。故曰補則實。瀉則虛。痛雖不隨針。病必衰去矣。（此下當接所謂氣至而有效者正申釋此段之義也）陰盛而陽虛。先補其陽。後瀉其陰。而和之。陰虛而陽盛先補其陰。後瀉其陽而和之。（此下當接故曰從腰以上者）三脈動於足大趾之間必審其實虛。虛而瀉之。是謂重虛。重虛病益甚。凡刺此者。以指按之。脈動而實且疾者。疾瀉之。虛而徐者。</p>
<p>則補之。反此者。病益甚。其動也。陽明在上。厥陰在中。少陰在下。（自三脈動於足大趾之間至重虛病益甚當在此下）</p>
<p>膺中膺。背　中背。肩膊虛者。取之上。重舌。刺舌柱。以鈹針也。手屈而不伸者。其病在筋。伸而不屈者。其病在骨。在骨守骨。在筋守筋。補須（補須二字疑有脫誤下文所敘乃一人之病虛實互見而各據於一偏者非可以補字統之也）</p>
<p>一方實。深取之。稀按其　。以極出其邪氣。一方虛。淺刺之。以養其脈。疾按其　。無使邪氣得入。（自凡刺此者至此當在後一刺陽也之下）邪氣來也緊而疾。穀氣來也徐而和。脈實者。深刺之。以泄其氣。脈虛者。淺刺之。使精氣無得出。以養其脈。獨出其邪氣。刺諸痛者。其脈皆實。（自邪氣來也至此當在前反此者血氣不行之下。自三脈動於足大趾之間至此皆前後文錯簡今各分移前後擅易經文非徒論文亦欲明理也讀者諒之）故曰從腰以上者。手太陰陽明皆主之。從腰以下者。足太陰陽明皆主之。病在上者下取之。病在下者高取之。病在頭者取之足。病在腰者取之　。病生於頭者頭重。</p>
<p>生於手者臂重。生於足者足重。治病者先刺其病。所從生者也。春氣在毛。夏氣在皮膚。秋氣在分肉。冬氣在筋骨。刺此病者。各以其時為齊。故刺肥人者。以秋冬之齊。刺瘦人者。以春夏之齊。病痛者陰也。痛而以手按之不得者陰也。</p>
<p>深刺之。病在上者陽也。病在下者陰也。癢者陽也。淺刺之。病先起陰者。先治其陰。而後治其陽。病先起陽者。先治其陽。而後治其陰。刺熱厥者。留針反為寒。刺寒厥者。留針反為熱。刺熱厥者。二陰一陽。刺寒厥者。二陽一陰。所謂二陰者。二刺陰也。一陽者。一刺陽也。（前文凡刺此者至少陰在下再自三脈動於足大趾之間至重虛病益甚再自膺　中膺至無使邪氣得入當依次移置於此）久病者。邪氣入深。刺此病者。深內而久留之。間日而復刺之。必先調其左右。去其血脈。刺道畢矣。（自凡刺之道氣調而止至此新訂次序當分兩節上節從凡刺之道至可得傳於終始矣是重發氣字下節從故陰陽不相移至此是重發陰陽補瀉之事也）凡刺之法。必察其形氣。形肉未脫。少氣而脈又躁。躁厥者必為繆刺之。散氣可收聚氣可布。深居靜處。占神往來。閉戶塞牖。魂魄不散。精氣之分。專意一神。毋聞人聲。以收其精。必一其神。</p>
<p>令志在針。淺而留之。微而浮之。以移其神。氣至乃休。男內女外。堅拒勿出。謹守勿內。是謂得氣。凡刺之禁。新內勿刺。新刺勿內。已醉勿刺。已刺勿醉。新怒勿刺。已刺勿怒。新勞勿刺。已刺勿勞。已飽勿刺。已刺勿飽。已飢勿刺。</p>
<p>已刺勿飢。已渴勿刺。已刺勿渴。大驚大恐。必定其氣乃刺之乘車來者。臥而休之。如食頃。乃刺之。出行來者。坐而休之。如行十裡頃。乃刺之。凡此十二禁者。其脈亂氣散。逆其營衛。經氣不次。因而刺之。則陽病入於陰。陰病出為陽。則邪氣復生。粗工勿察。是謂伐身。形體淫　。乃消腦髓。津液不化。脫其五味。是謂失氣也。太陽之脈其終也。</p>
<p>戴眼反折螈　。其色白絕皮乃絕汗。絕汗則終矣。少陽終者。耳聾。百節盡縱。目系絕。目系絕。一日半則死矣。其死也。色青白乃死。陽明終者。口目動作。喜驚。妄言。色黃。其上下之經。盛而不行。則終矣。少陰終者。面黑齒長而垢。腹脹閉塞。上下不通。而終矣。厥陰終者。中熱。嗌干。喜溺。心煩甚。則舌卷卵上縮。而終矣。太陰終者。腹脹。</p>
<p>閉不得息。氣噫。善嘔。嘔則逆。逆則面赤。不逆則上下不通。上下不通。則面黑皮毛　。而終矣。</p>
<p>以經氣終始為綱。以虛實補瀉為緯。前敘經脈陰陽之氣。虛實之診。隨手拖到治法中間。即接敘刺法。處處跟定氣字後。分敘得氣失氣兩段。是從補瀉推出。末敘六經終證。近承失氣。遠映關格。有神龍掉尾之勢。通篇看似散亂不續無意為文。而局陣自工。其訓詞之深濃。每讀一句。即令人涵味不盡。以煉字精也。篇中有意緒不相承接者。略依事理重訂。而分注之。以待高明之指正。</p>
<h2>卷三</h2>
<h3>經脈第十</h3>
<p>雷公問於黃帝曰。禁脈之言。（經有禁服篇所敘皆脈事疑彼處服字誤有謂脈字誤者恐未必然）凡刺之理。經脈為始。</p>
<p>營其所行。制其度量。內次五臟。外別六腑。愿盡聞其道。黃帝曰。人始生。先成精。精成而腦髓生。骨為干。脈為營。</p>
<p>筋為剛。肉為牆。皮膚堅而毛髮長。穀入於胃。脈道以通。血氣乃行。雷公曰。愿卒聞經脈之始生。黃帝曰。經脈者。</p>
<p>所以能決死生。處百病。調虛實。不可不通。肺手太陰之脈。起於中焦。下絡大腸。還循胃口上膈。屬肺。從肺系橫出腋下。下循　內。行少陰心主之前。下肘中。循臂內上骨下廉。入寸口。上魚。循魚際。出大指之端。其支者。從腕後。</p>
<p>直入次指內廉。出其端。是動則病。肺脹滿膨膨。而喘咳上氣。缺盆中痛。甚則交兩手而瞀。此為臂厥。是主肺所生病者。咳逆上氣。喘喝。煩心。胸滿。　臂內前廉痛厥。掌中熱。氣盛有餘。則肩背痛。風寒。汗出中風。小便數而欠。</p>
<p>氣虛。則肩背痛寒。少氣不足以息。溺色變為此諸病。盛則瀉之。虛則補之。熱則疾之。寒則留之。陷下則灸之。不盛不虛。以經取之。盛者寸口大三倍於人迎。虛者則寸口反小於人迎也。大腸手陽明之脈。起於大指次指之端。循指上廉。</p>
<p>出合谷兩骨之間。上入兩筋之中。循臂上廉。入肘外廉。上　外前廉。上肩。出　骨之前廉。上出於柱骨之會上。下入缺盆。絡肺。下膈。屬大腸。其支者。從缺盆上頸。貫頰。入下齒中。還出。挾口。交人中。左之右。右之左。上挾鼻孔。是動則病。齒痛。頸腫。是主津液所生病者。目黃。口乾。鼽衄。喉痹。肩前　痛。大指次指痛不用。氣有餘。則當脈所過者熱腫。虛則寒栗不復。為此諸病。盛則瀉之。虛則補之。熱則疾之。寒則留之。陷下則灸之。不盛不虛。以經取之。盛者人迎大三倍於寸口。虛者人迎反小於寸口也。胃足陽明之脈。起於鼻之交　中。（　鼻莖也交　中者鼻莖起處山根是也左右脈交於此兒科謂山根有青脈者肝熱非也人皆有脈第皮薄者脈露故易受風邪）旁納太陽之脈。下循鼻外。</p>
<p>入上齒中。還出。挾口。環唇。下交承漿。卻循頤後下廉。出大迎。循頰車。上耳前。過客主人。循發際。至額顱。其支者。從大迎前下人迎。循喉嚨。入缺盆下膈。屬胃。絡脾。其直者。從缺盆下乳內廉。下挾臍。入氣街中。其支者。</p>
<p>起於胃口。下循腹裡。下至氣街中而合。以下髀關。抵伏兔。下膝臏中。下循脛外廉。下足跗。入中趾內間。其支者。</p>
<p>下廉三寸而別下入中趾外間。其支者。別跗上。入大趾間。出其端。是動則病。洒洒振寒。善呻。數欠。顏黑。病至則惡人與火。聞木聲則惕然而驚。心欲動。獨閉戶塞牖而處。甚則欲上高而歌。棄衣而走。賁響腹脹。是謂　厥。是主血所生病者狂瘧。溫淫汗出。鼽衄。口　。唇胗。頸腫。喉痹。大腹水腫。膝臏腫痛。循膺乳氣街股伏兔　外廉足跗上皆痛。中趾不用。氣盛。則身以前皆熱。其有餘於胃。則消穀善飢。溺色黃。氣不足。則身以前皆寒栗。胃中寒。則脹滿。</p>
<p>為此諸病。盛則瀉之。虛則補之。熱則疾之。寒則留之。陷下則灸之。不盛不虛。以經取之。盛者人迎大三倍於寸口。</p>
<p>虛者人迎反小於寸口也。脾足太陰之脈。起於大趾之端。循趾內側白肉際。過核骨後。上內踝前廉。上　內。循脛骨後。</p>
<p>交出厥陰之前。上膝股內前廉。入腹屬脾。絡胃。上膈。挾咽。連舌本。散舌下。其支者。復從胃別上膈。注心中。是動則病。舌本強。食則嘔。胃脘痛。腹脹。善噫。得後與氣則快然如衰。身體皆重。是主脾所生病者。舌本痛。體不能動搖。食不下。煩心。心下急痛。溏瘕泄。水閉黃膽。不能臥。強立。股膝內腫厥。足大趾不用。為此諸病。盛則瀉之。</p>
<p>虛則補之。熱則疾之。寒則留之。陷下則灸之。不盛不虛。以經取之。盛者寸口大三倍於人迎。虛者寸口反小於人迎也。</p>
<p>心手少陰之脈。起於心中。出屬心系。下膈。絡小腸。其支者。從心系上挾咽。系目系。其直者。復從心系。卻上肺。</p>
<p>下出腋下循　內後廉。行手厥陰心主之後。下肘內。循臂內後廉。抵掌後銳骨之端。入掌內後廉。循小指之內。出其端。</p>
<p>是動則病。嗌干。心痛。渴而欲飲。是為臂厥。是主心所生病者。目黃。脅痛。　臂內後廉痛厥。掌中熱痛。為此諸病。</p>
<p>盛則瀉之。虛則補之。熱則疾之。寒則留之。陷下則灸之。不盛不虛。以經取之。盛者寸口大再倍於人迎。虛者寸口反小於人迎也。小腸手太陽之脈。起於小指之端。循手外側。上腕。出踝中。直上。循臂骨下廉。出肘內側兩筋之間。上循外後廉。出肩解。繞肩胛。交肩上。入缺盆。絡心。循咽。下膈。抵胃。屬小腸。其支者。從缺盆循頸。上頰。至目銳　。卻入耳中。其支者。別頰。上　。（　音拙面骨之出者即顴後連耳之橫骨也）抵鼻。至目內　。斜絡於顴。是動則病。嗌痛。頷腫。不可以顧。肩似拔。　似折。是主液所生病者。耳聾。目黃。頰腫。頸頷肩　肘臂外後廉痛。為此諸病。盛則瀉之。虛則補之。熱則疾之。寒則留之。陷下則灸之。不盛不虛。以經取之。盛者人迎大再倍於寸口。虛者人迎反小於寸口也。膀胱足太陽之脈。起於目內　。上額。交巔。其支者。從巔至耳上角。（謂至耳之上角非至耳又上日角也三焦條同）其直者。從巔入絡腦。還出。別下項。循肩　內。挾脊。抵腰中。入循膂。絡腎。屬膀胱。其支者。從腰中下挾脊。貫臀。入　中。其支者。從　內左右別下貫胛。挾脊內。過髀樞。循髀外。從後廉下合　中。以下貫　內。</p>
<p>（為足跟　為腓腸腿肚也原本俱誤作　）出外踝之後。循京骨。至小指外側。是動則病。沖頭痛。目似脫。項似拔。</p>
<p>脊痛。腰似折。髀不可以曲。　如結。　如裂。是為踝厥。是主筋所生病者痔瘧。狂癲疾。頭囟項痛。目黃。淚出。鼽衄。項背腰尻　腳皆痛。小趾不用。為此諸病。盛則瀉之。虛則補之。熱則疾之。寒則留之。陷下則灸之。不盛不虛。</p>
<p>以經取之。盛者人迎大再倍於寸口。虛者人迎反小於寸口也。腎足少陰之脈。起於小趾之下。邪走足心。出於然谷之下。</p>
<p>循內踝之後。別入跟中。以上　內。出　內廉。上股內後廉。貫脊。屬腎。絡膀胱。其直者。從腎上貫肝膈。入肺中。</p>
<p>循喉嚨。挾舌本。其支者。從肺出絡心。注胸中。是動則病。飢不欲食。面如漆柴。咳唾則有血。喝喝而喘。坐而欲起。</p>
<p>目KT　KT　如無所見。心如懸。若飢狀。氣不足則善恐。心惕惕如人將捕之。是為骨厥。是主腎所生病者。口熱。舌乾。咽腫。上氣。嗌干及痛。煩心。心痛。黃膽。腸　。脊股內後廉痛。痿厥。嗜臥足下熱而痛。為此諸病。盛則瀉之。</p>
<p>虛則補之。熱則疾之。寒則留之。陷下則灸之。不盛不虛。以經取之。灸則強食生肉。緩帶被發。大杖重履而步。盛者寸口大再倍於人迎。虛者寸口反小於人迎也。心主手厥陰心包絡之脈。起於胸中。出屬心包絡。下膈。歷絡三焦。其支者。循胸出脅。下腋三寸。上抵腋下。循　內。行太陰少陰之間。入肘中。下臂。行兩筋之間。入掌中。循中指。出其端。其支者。別掌中。循小指次指。出其端。是動則病。手心熱。臂肘攣急。腋腫。甚則胸脅支滿。心中　大動。面赤。目黃。喜笑不休。是主脈所生病者。煩心。心痛。掌中熱。為此諸病。盛則瀉之。虛則補之。熱則疾之。寒則留之。</p>
<p>陷下則灸之。不盛不虛。以經取之。盛者寸口大一倍於人迎。虛者寸口反小於人迎也。三焦手少陽之脈。起於小指次指之端。上出兩指之間。循手表腕。出臂外兩骨之間。上貫肘。循　外。上肩。而交出足少陽之前。（前原作後誤）入缺盆。</p>
<p>布膻中。散絡心包。下膈。循屬三焦。其支者。從膻中上出缺盆。上項。系耳後。直上。出耳上角。以屈下頰。至　。</p>
<p>其支者。從耳後入耳中。出走耳前。過客主人前。交頰。至目銳　。是動則病。耳聾渾渾　。嗌腫。喉痹。是主氣所生病者。汗出。目銳　痛。頰痛。耳後肩　肘臂外皆痛。小指次指不用。為此諸病。盛則瀉之。虛則補之。熱則疾之。</p>
<p>寒則留之。陷下則灸之。不盛不虛。以經取之。盛者人迎大一倍於寸口。虛者人迎反小於寸口也。膽足少陽之脈。起於目銳　。上抵頭角。下耳後。循頸。行手少陽之前。至肩上。卻交出手少陽之後。入缺盆。其支者。從耳後入耳中。出走耳前。至目銳　後。其支者。別銳　。下大迎。合於手少陽。抵於　。下加頰車。下頸。合缺盆。以下胸中。貫膈。</p>
<p>絡肝。屬膽。循脅裡。出氣街。繞毛際。橫入髀厭中。其直者。從缺盆下腋。循胸。過季脅。下合髀厭中以下循髀陽。</p>
<p>出膝外廉。下外輔骨之前。直下。抵絕骨之端。下出外踝之前。循足跗上。入小趾次趾之間。其支者。別跗上。入大趾之間。循大趾歧骨內。出其端。還貫爪甲。出三毛。是動則病。口苦。善太息。心脅痛。不能轉側。甚則面微有塵。體無膏澤。足外反熱。是為陽厥。是主骨所生病者。頭痛。頷痛。目銳　痛。缺盆中腫痛。腋下腫。馬刀俠癭。汗出振寒。</p>
<p>瘧胸脅肋髀膝外至脛絕骨外踝前及諸節皆痛。小趾次趾不用。為此諸病。盛則瀉之。虛則補之。熱則疾之。寒則留之。</p>
<p>陷下則灸之。不盛不虛。以經取之。盛者人迎大一倍於寸口。虛者人迎反小於寸口也。肝足厥陰之脈起於大趾叢毛之際。</p>
<p>上循足跗上廉。去內踝一寸。上踝八寸。交出太陰之後。上　內廉。循股陰。入毛中過陰器。抵小腹。挾胃。屬肝。絡膽。上貫膈。布脅肋。循喉嚨之後。上入頏顙。連目系。上出額。與督脈會於巔。其支者。從目系下頰裡。環唇內。其支者。復從肝別貫膈上注肺。是動則病。腰痛不可以俯仰。丈夫　疝。婦人少腹腫。甚則嗌干。面塵。脫色。是主肝所生病者。胸滿。嘔逆。飧泄。狐疝。遺溺。閉癃。為此諸病。盛則瀉之。虛則補之。熱則疾之。寒則留之。陷下則灸之。</p>
<p>不盛不虛。以經取之。盛者寸口大一倍於人迎。虛者寸口反小於人迎也。手太陰氣絕。則皮毛焦。太陰者行氣而溫於皮毛者也。故氣不榮。則皮毛焦。皮毛焦則津液去皮節。津液去皮節者。則爪枯毛折。毛折者。則毛先死。丙篤丁死。火勝金也。手少陰氣絕。則脈不通。脈不通則血不流。血不流則髦色不澤。故其面黑如漆柴者。血先死。壬篤癸死。水勝火也足太陰氣絕者。則脈不榮肌肉。唇舌者。肌肉之本也。脈不榮則肌肉軟。肌肉軟則舌萎人中滿。人中滿則唇反。唇反者肉先死。甲篤乙死。木勝土也。足少陰氣絕。則骨枯。少陰者。冬脈也。伏行而濡骨髓者也。故骨不濡則肉不能著也。骨肉不相親。則肉軟卻。肉軟卻故齒長而垢。發無澤。發無澤者骨先死。戊篤己死。土勝水也。足厥陰氣絕則筋絕。</p>
<p>厥陰者肝脈也。肝者筋之合也。筋者聚於陰氣而脈絡於舌本也。故脈弗榮則筋急。筋急則引舌與卵。故唇青舌卷卵縮。</p>
<p>則筋先死。庚篤辛死。金勝木也。五陰氣俱絕。則目系轉。轉則目運。目運者為志先死。志先死則遠一日半死矣。六陽氣絕。則陰與陽相離。離則腠理發泄絕汗乃出。故旦占夕死。夕占旦死。經脈十二者。伏行分肉之間深而不見其常見者。</p>
<p>足太陰過於內踝之上無所隱故也。（內原作外誤陰脈不行外踝且內踝上有大青脈直上至膝始漸隱當即是也）諸脈之浮而常見者。皆絡脈也。六經絡手陽明。少陽之大絡。起於五指間。上合肘中飲酒者。衛氣先行皮膚。先充絡脈。絡脈先盛。</p>
<p>故衛氣已平。營氣乃滿。而經脈大盛脈之卒然動者。皆邪氣居之。留於本末。不動則熱。不堅則陷且空。不與眾同。是以知其何脈之動也。雷公曰。何以知經脈之與絡脈異也。黃帝曰。經脈者常不可見也。其虛實也。以氣口知之脈之見者。</p>
<p>皆絡脈也。雷公曰。細子無以明其然也。黃帝曰。諸絡脈皆不能經大節之間。必行絕道。而出入復合於皮中。其會皆見於外。故諸刺絡脈者。必刺其結上。甚血者。雖無結。必急取之。以瀉其邪而出其血。留之。發為痹也。凡診絡脈。脈色青則寒且痛。赤則有熱。胃中寒。手魚之絡多青矣。胃中有熱。魚際絡赤。其暴黑者。留久痹也。其有赤有黑有青者。</p>
<p>寒熱氣也。其青短者。少氣也。凡刺寒熱者。皆多血絡。必間日而一取之。血盡乃止。乃調其虛實。其小而短。少氣甚者。瀉之則悶。悶甚則仆。不得言。悶則急坐之也。手太陰之別。名曰列缺。起於腕上分間。並太陰之經。直入掌中。</p>
<p>散入於魚際。其病。實則手銳掌熱。虛則欠KT　小便遺數。取之去腕半寸。別走陽明也。手少陰之別。名曰通裡。去腕一寸半。別而上行。循經。入於心中。系舌本。屬目系。其病。實則支膈。虛則不能言。取之掌後一寸。別走太陽也。</p>
<p>手心主之別。名曰內關。去腕二寸。出於兩筋之間。循經以上。系於心包絡。心系。實則心痛。虛則為頭強。取之兩筋間也。手太陽之別。名曰支正。上腕五寸。內注少陰。其別者。上走肘。絡肩　。實則節弛肘廢。虛則生　。小者如指痂疥。取之所別也。手陽明之別。名曰偏歷。去腕三寸。別入太陰。其別者。上循臂。乘肩　。上曲頰。遍齒。其別者。</p>
<p>入耳。合於宗脈。實則齲聾。虛則齒寒。痹隔。取之所別也。手少陽之別。名曰外關。去腕二寸。外繞臂。注胸中。合心主。實則肘攣。虛則不收。取之所別也。足太陽之別。名曰飛陽。去踝七寸。別走少陰。實則鼽窒。頭背痛。虛則鼽衄。取之所別也。足少陽之別。名曰光明。去踝五寸。別走厥陰。下絡足跗。實則厥。虛則痿　。坐不能起。取之所別也。足陽明之別。名曰豐隆。去踝八寸。別走太陰。其別者。循脛骨外廉。上絡頭項。合諸經之氣。下絡喉嗌。其病氣逆。則喉痹瘁喑。實則狂顛。虛則足不收。脛枯。取之所別也。足太陰之別。名曰公孫。去本節之後一寸。別走陽明。</p>
<p>其別者。入絡腸胃。厥氣上逆。則霍亂。實則腸中切痛。虛則鼓脹。取之所別也。足少陰之別。名曰大鐘。當踝後。繞跟。別走太陽。其別者。並經上走於心包下。外貫腰脊。其病氣逆。則煩悶。實則閉癃。虛則腰痛。取之所別也。足厥陰之別。名曰蠡溝。去內踝五寸。別走少陽。其別者。經脛。上睪。結於莖。其病氣逆。則睪腫卒疝。實則挺長。虛則暴癢。取之所別也。任脈之別。名曰尾翳。下鳩尾。散於腹。實則腹皮痛。虛則癢搔。取之所別也。督脈之別。名曰長強。挾膂。上項。散頭上。下當肩胛左右。別走太陽。入貫膂。實則脊強。虛則頭重高搖之。挾脊之有過者。取之所別也。脾之大絡。名曰大包。出淵腋下三寸。布胸脅。實則身盡痛。虛則百節盡皆縱。此脈若羅絡之血者皆取之。脾之大絡脈也。凡此十五絡者。實則必見。虛則必下視之。不見求之上下。人經不同絡脈異所別也。（如此鉅制以十字結之何等神勇）</p>
<p>此篇如時藝兩截題做法前敘十二經。後敘十五絡。中間由經卸絡。恰似中渡。洋洋洒洒浩氣直行。其敘經脈。曲折處筆力。輕捷醒豁。毫發畢見。試問。視禹貢事緒。孰繁孰詳。筆力孰醒孰快。虛實二字。一線到底是謀篇之密也。而排比鋪張之中。自有曲折雋永之致。讀之但覺靈光滿紙。實處皆虛。板處皆活。運筆之妙千古無兩。</p>
<h3>經別第十一</h3>
<p>黃帝問於岐伯曰。余聞人之合於天道也。內有五臟。以應五音五色五時五味五位也。外有六腑。以應六律。六律建陰陽諸經。而合之十二月。十二辰。十二節。十二經水。十二時。十二經脈者。此五臟六腑之所以應天道。夫十二經脈者。人之所以生。病之所以成。人之所以治。病之所以起。學之所始。工之所止也。粗之所易。上之所難也。請問其離合出入奈何。岐伯稽首再拜曰。明乎哉問也。此粗之所過。上之所息也。請卒言之。足太陽之正別入於　中。其一道下尻五寸。別入於肛。屬於膀胱散之腎。循膂。當心入散。直者。從膂上出於項。復屬於太陽。此為一經也。足少陰之正。</p>
<p>至中。別走太陽而合。上至腎。當十四　。出屬帶脈。直者。系舌本。復出於項。合於太陽。此為一合成。以諸陰之別。皆為正也。足少陽之正繞髀。入毛際。合於厥陰。別者。入季脅之間。循胸裡。屬膽。散之肝。上貫心。以上挾咽。</p>
<p>出頤頷中。散於面。系目系。合少陽於外　也。足厥陰之正。別跗上。上至毛際。合於少陽。與別俱行。此為二合也。</p>
<p>足陽明之正。上至髀入於腹裡。屬胃。散之脾。上通於心。上循咽。出於口。上　。還系目系。合於陽明也。足太陰之正。上至髀。合於陽明。與別俱行。上結於咽。貫舌中。此為三合也。手太陽之正。指地。別於肩解。入腋。走心。</p>
<p>系小腸也。手少陰之正。別入於淵腋兩筋之間。屬於心。上走喉嚨。出於面。合目內　。此為四合也。手少陽之正。指天。別於巔。入缺盆。下走三焦。散於胸中也。手心主之正。別下淵腋三寸。入胸中。別屬三焦。出循喉嚨。出耳後。</p>
<p>合少陽完骨之下。此為五合也。手陽明之正。從手循膺乳。別於肩　。入柱骨。下走大腸。屬於肺。上循喉嚨。出缺盆。</p>
<p>合於陽明也。手太陰之正。別入淵腋少陰之前。入走肺。散之太陽。上出缺盆。循喉嚨。復合陽明。此六合也。</p>
<p>據事直書條理分明疏暢之中自見蒼老。通篇無一字非實事。無一句不排比。卻無一字一句板滯者。嘆其筆力之清雄也。</p>
<h3>經水第十二</h3>
<p>黃帝問於岐伯曰。經脈十二者。外合於十二經水。而內屬於五臟六腑。夫十二經水者。其有大小深淺廣狹遠近。各不同。五臟六腑之高下小大。受穀之多少。亦不等。相應奈何。夫經水者。受水而行之。五臟者。合神氣魂魄而藏之。</p>
<p>六腑者。受穀而行之。受氣而揚之。經脈者。受血而營之。合而以治奈何。刺之深淺。灸之壯數。可得聞乎。岐伯答曰。</p>
<p>善哉問也。天至高不可度。地至廣不可量。此之謂也。且夫人生於天地之間。六合之內。此天之高。地之廣也。非人力之所度量而至也。若夫八尺之士。皮肉在此。外可度量切循而得之。其死可解剖而視之。其臟之堅脆。腑之大小。穀之多少。脈之長短。血之清濁。氣之多少。十二經之多血少氣。與其少血多氣。與其皆多血氣。與其皆少血氣。皆有大數。</p>
<p>其治以針艾。各調其經氣。固其常有合乎。黃帝曰。余聞之。快於耳。不解於心。愿卒聞之。岐伯答曰。此人之所以參天地而應陰陽也。不可不察。足太陽外合於清水。內屬於膀胱。而通水道焉。足少陽外合於渭水。內屬於膽。足陽明外合於海水。內屬於胃。足太陰外合於湖水。內屬於脾。足少陰外合於汝水。內屬於腎。足厥陰外合於澠水。內屬於肝。</p>
<p>手太陽外合於淮水。內屬於小腸。而水道出焉。手少陽外合於漯水。內屬於三焦。手陽明外合於江水。內屬於大腸。手太陰外合於河水。內屬於肺。手少陰外合於濟水。內屬於心。手心主外合於漳水。內屬於心包。凡此五臟六腑十二經水者。外有源泉而內有所稟。此皆內外相貫。如環無端。人經亦然。故天為陽。地為陰。腰以上為天。腰以下為地。故海以北者為陰。湖以北者為陰中之陰。漳以南者為陽。河以北至漳者為陽中之陰。漯以南至江者為陽中之太陽。此一隅之陰陽也。所以人與天地相參也。黃帝曰。夫經水之應經脈也。其遠近淺深。水血之多少各不同。合而以刺之。奈何。岐伯答曰。足陽明五臟六腑之海也。其脈大血多氣盛熱壯刺此者不深。弗散不留不瀉也。足陽明刺深六分。留十呼。足太陽深五分。留七呼。足少陽深四分。留五呼。足太陰深三分。留四呼。足少陰深二分。留三呼。足厥陰深一分。留二呼。</p>
<p>手之陰陽。其受氣之道近。其氣之來疾。其刺深者。皆無過二分。其留皆無過一呼。其少長大小肥瘦以心撩之。（言淺深多少雖有定數又當揣人之少長肥瘦而意為增損之也）命曰法天之常。灸之亦然。灸而過此者。得惡火則骨枯脈澀。刺而過此者則脫氣。黃帝曰。夫經脈之小大。血之多少。膚之濃薄。肉之堅脆。及　之大小。可為量度乎。岐伯答曰。其可為量度者。取其中度也。不甚脫肉而血氣不衰也。若夫所度之人　瘦。而形肉脫者。惡可以度量刺乎。審切循捫按視其寒溫盛衰而調之是謂因適而為之真也。（此即所謂以心撩之也）</p>
<p>比經脈於經水。無甚深義。不過擬議遠近。淺深多少之象數耳。後幅論刺法之淺深。及取穴之量度。詞極圓活筆亦生動。</p>
<h2>卷四</h2>
<h3>經筋第十三</h3>
<p>足太陽之筋。起於足小趾。上結於踝。邪上。結於膝。其下。循足外側。結於踵。上循跟。結於　。其別者。結於外。上　中內廉。與　中並。上結於臀。上挾脊。上項。其支者。別入結於舌本。其直者。結於枕骨。上頭。下顏。</p>
<p>結於鼻。其支者。為目上綱。（綱或作網誤此謂目上胞內開闔之筋也）下結於　。（　音求即顴也）其支者。從腋後外廉。</p>
<p>結於肩　。其支者。入腋下。上出缺盆。上結於完骨。其支者。出缺盆。邪上。出於　。其病。小指支。（支撐拄不便也）</p>
<p>跟腫痛。　攣。脊反折。項筋急。肩不舉。腋支缺盆中紐痛。不可左右搖。治在燔針劫刺。以知為數。以痛為輸。名曰仲春痹也。足少陽之筋。起於小趾次趾。上結外踝。上循脛外廉。結於膝外廉。其支者。別起外輔骨。上走髀。前者結於伏兔之上。後者結於尻。其直者。上乘　季脅。（季脅二字乃　之注也經文每多如此）上走腋前廉。系於膺乳。結於缺盆。直者。上出腋。貫缺盆。出太陽之前。循耳後。上額角。交巔上。下走頷。（篇中頷字皆與常說不同乃指眉後陷中開口合口其處即為之振撼也一作　）上結於　。支者。結於目　。為外維。其病。小指次指支。轉筋。引膝外轉筋。膝不可屈伸。　筋急。前引髀。後引尻。即上乘　。季脅痛。上引缺盆膺乳。頸維筋急。從左之右。右目不開。上過右角。</p>
<p>並蹺脈而行左。絡於右故傷左角。右足不用命曰。維筋相交。治在燔針劫刺。以知為數。以痛為輸。名曰孟春痹也。足陽明之筋。起於中三趾。結於跗上。邪外上。加於輔骨。上結於膝外廉。直上。結於髀樞。上循脅。屬脊。其直者。上循。結於（缺此缺謂缺其文也馬注作缺盆誤以上下文部位推之當在伏兔之下）其支者。結於外輔骨。合少陽。其直者。</p>
<p>上循伏兔。上結於髀。聚於陰器。上腹而布。至缺盆而結。上頸。上挾口。合於　。下結於鼻。上合於太陽。太陽為目上綱。陽明為目下綱。其支者。從頰結於耳前。其病。足中趾支。脛轉筋。腳跳堅。伏兔轉筋。髀前腫。　疝。腹筋急。</p>
<p>引缺盆及頰。卒口僻急者。目不合。熱則筋縱。目不開。頰筋有寒。則急引頰。移口有熱。則筋弛縱緩。不勝收故僻。</p>
<p>治之以馬膏。膏其急者。以白酒和桂以塗。其緩者。以桑鉤鉤之。即以生桑灰置之坎中。高下以坐等。以膏熨急頰。且飲美酒。啖美炙肉。不飲酒者。自強也。為之三拊而已。治在燔針劫刺。以知為數。以痛為輸。名曰季春痹也。足太陰之筋。起於大趾之端。內側。上結於內踝。其直者。絡於膝內輔骨。上循陰股。結於髀。聚於陰器。上腹。結於臍。循腹裡。結於肋散於胸中。其內者。著於脊。其病。足大趾支。內踝痛。轉筋痛。膝內輔骨痛。陰股引髀而痛。陰器紐痛。</p>
<p>上引臍。兩脅痛。引膺中。脊內痛。治在燔針劫刺。以知為數。以痛為輸。命曰孟秋痹也。足少陰之筋。起於小趾之下。</p>
<p>並足太陰之筋。邪走內踝之下。結於踵。與太陽之筋合而上結於內輔之下。並太陰之筋。而上循陰股。結於陰器。循脊內挾膂。上至項。結於枕骨。與足太陽之筋合其病。足下轉筋。及所過而結者。皆痛及轉筋。病在此者。主癇螈及痙。</p>
<p>在外者。不能俯。在內者。不能仰。故陽病者。腰反折不能俯。陰病者不能仰。治在燔針劫刺。以知為數。以痛為輸。</p>
<p>在內者熨引飲藥。此筋折紐。紐發數甚者。死不治。名曰仲秋痹也。足厥陰之筋。起於大趾之上。上結於內踝之前。上循脛。上結內輔之下。上循陰股。結於陰器。絡諸筋。（厥陰主筋為諸筋之所系屬也）其病。足大趾支。內踝之前痛。內輔痛。陰股痛。轉筋。陰器不用。傷於內則不起。傷於寒。則陰縮入。傷於熱。則縱挺不收。治在行水清陰氣。其病轉筋者。治在燔針劫刺。以知為數。以痛為輸。命曰季秋痹也。手太陽之筋起於小指之上。結於腕。上循臂內廉。結於肘內銳骨之後。彈之應小指之上。入結於腋下。其支者。後走腋後廉。上繞肩胛。循頸。出足太陽之前。結於耳後完骨。</p>
<p>其支者。入耳中。直者。出耳上。下結於頷。上屬目外　。其病。小指支。肘內銳骨後廉痛。循臂陰。入腋下。腋下痛。</p>
<p>腋後廉痛。繞肩胛引頸而痛。應耳中鳴。痛引頷。目瞑良久乃得視。（篇中獨此句是氣化之病）頸筋急。則為筋　頸腫。</p>
<p>寒熱在頸者。（似當作寒熱在頸者則為筋　頸腫）治在燔針劫刺。以知為數。以痛為輸。其為腫者。復而銳之。本支者上曲牙。循耳前。屬目外　。上頷結於角。其病當所過者支。轉筋。治在燔針劫刺。以知為數。以痛為輸。（此四十一字與手少陽之筋文重復且支者上本字即舌本之本字錯衍之跡顯然）名曰仲夏痹也。手少陽之筋。起於小指次指之端。結於腕。</p>
<p>上循臂結於肘。上繞　外廉。上肩。走頸。合手太陽。其支者。當曲頰入系舌本。其支者。上曲牙。循耳前。屬目外　。</p>
<p>上乘頷。結於角。其病。當所過者即支。轉筋。舌卷。治在燔針劫刺。以知為數。以痛為輸。名曰季夏痹也。手陽明之筋。起於大指次指之端。結於腕。上循臂。上結於肘外。上　。結於　。其支者。繞肩胛。挾脊。直者。從肩　上頸。</p>
<p>其支者。上頰。結於　。直者。上出手少陽之前。上左角。絡頭。下右頷。其病。當所過者支痛及轉筋。肩不舉。頸不可左右視。治在燔針劫刺。以知為數。以痛為輸。名曰孟夏痹也。手太陰之筋。起於大指之上。循指上行。結於魚後。</p>
<p>行寸口外側。上循臂。結肘中。上　內廉。入腋下。出缺盆。結肩前　。上結缺盆。下結胸裡。散貫賁。合賁下。（甲乙經作脅下當是賁膈也其下無可合也抑或言合於賁下之脅處也）抵季脅。其病。當所過者支。轉筋。痛甚。成息賁。脅急。</p>
<p>吐血。治在燔針劫刺。以知為數。以痛為輸。名曰仲冬痹也。手心主之。筋起於中指。與太陰之筋並行。結於肘內廉。</p>
<p>上臂陰。結腋下。下散前後。（前後脅前後也故下云挾脅下文前及胸痛前似當訓膺）挾脅。其支者。入腋。散胸中。結於臂。（臂字可疑詳見下條足太陰條有結於臍循腹裡結於肋散於胸中之文臂或肋之訛也）其病。當所過者支。轉筋。前及胸痛。息賁。治在燔針劫刺。以知為數。以痛為輸。名曰孟冬痹也。手少陰之筋起於小指之內側。結於銳骨。上結肘內廉。</p>
<p>上入腋。交太陰。挾乳裡。結於胸中。循臂。（胸之下臍之上無臂也臂字必誤）下系於臍。其病。內急。心承伏梁。（此挾乳裡結胸中之病也）下為肘綱。其病。當所過者支。轉筋。筋痛。治在燔針劫刺。以知為數。以痛為輸。（下為肘綱句是遙承上結肘內廉來隨即接敘其證治也下文又遙承伏梁說敘事組織斷續有趣。又按循臂下為肘綱是一串事疑本條有脫文錯簡）其成伏梁。唾血膿者。死不治。經筋之病。寒則反折筋。急熱則筋弛縱不收。陰痿不用。陽急則反折。陰急。則俯不伸。　刺者刺寒急也。熱則筋縱不收。無用燔針。名曰季冬痹也。足之陽明手之太陽。筋急則口目為　。　急不能卒視。治皆如上方也。</p>
<p>十二排直起直落。不提不束。此種文格內經獨多。其摩繪曲折之妙。與經脈同。而彼以雄闊勝此以堅朴勝。筋病起於寒熱。成於燥濕。其見證則拘急緩縱支。轉痿痛。俯仰屈伸而以癇痙。偏廢口　。　急為重也。篇中多有錯脫處。宜細考之。</p>
<h3>骨度第十四</h3>
<p>黃帝問於伯高曰。脈度言經脈之長短。何以立之。伯高曰。先度其骨節之大小廣狹長短。而脈度定矣。黃帝曰。愿聞眾人之度。人長七尺五寸者。其骨節之大小長短。各幾何。伯高曰。頭之大骨。圍二尺六寸。胸圍四尺五寸。腰圍四尺二寸。發所覆者。顱至項。尺二寸。發以下至頤。長一尺。君子終折。（甲乙經作參折蓋君子發際常高於眾人則發所覆者不及尺二寸發以下至頤不止一尺矣故須參互而折數之）結喉以下。至缺盆中。長四寸。缺盆以下。至　KT　。長九寸。</p>
<p>過則肺大不滿。則肺小。　KT　以下至天樞。長八寸。過則胃大不及。則胃小。天樞以下。至橫骨。長六寸半。過則回腸廣長不滿則狹短。橫骨長六寸半。橫骨上廉以下。以至內輔之上廉。長一尺八寸。內輔之上廉以下。至下廉。長三寸半。內輔下廉。下至內踝。長一尺三寸。內踝以下至地。長三寸。膝　以下至跗屬。長一尺六寸。跗屬以下至地。長三寸。故骨圍大則太過。小則不及。角以下。至柱骨。長一尺。行腋中不見者。長四寸。腋以下至季脅。長一尺二寸。季脅以下至髀樞。長六寸。髀樞以下至膝中。長一尺九寸。膝以下至外踝。長一尺六寸。外踝以下至京骨。長三寸。京骨以下至地。長一寸。耳後當完骨者。廣九寸耳前當耳門者。廣一尺三寸。兩顴之間。相去七寸。兩乳之間。廣九寸半。</p>
<p>兩髀之間。廣六寸半。足長一尺二寸。廣四寸半。肩至肘。長一尺七寸。肘至腕。長一尺二寸半。腕至中指本節。長四寸。本節至其末。長四寸半。項發以下至背骨。長二寸半。膂骨以下至尾　。二十一節。長三尺。上節長一寸四分分之一。奇分在下。故上七節。至於膂骨。九寸八分分之七。（以文義推之上句當是一寸四分又十分分之一也下句當是九寸八分又十分分之七也經文詞簡意晦數不吻合）此眾人骨之度也。所以立經脈之長短也。是故視其經脈之在於身也。其見浮而堅。其見明而大者。多血細而沉者。多氣也。（以理推之當是其見浮而堅者多氣明而大者多血細而沉者少氣也第原文義亦可通未敢擅改）</p>
<p>本論脈度也。卻通篇只說骨度。而脈度僅於首尾見之。結末數語。忽然離開。與前文似斷似續。使堆垛盡化煙云。</p>
<p>篇中句句皆實事。卻句句皆虛境。讀時須胸中牢記。目中注視。是為脈度立根。便覺字字皆立於空中。</p>
<h3>五十營第十五</h3>
<p>黃帝曰。余愿聞五十營。奈何。岐伯答曰。天周二十八宿。宿三十六分。人氣行一周。千八分（以天度起脈度是言其體也）日行二十八宿。人經脈上下左右前後二十八脈。周身十六丈二尺。以應二十八宿。（以日度起脈度是言其動也天日漏三層愈逼愈緊漏字一層即從天日中提出以作五十營之準者也故百刻正與五十營相映）漏水下百刻。以分晝夜。故人一呼脈再動。氣行三寸一吸。脈亦再動氣行三寸。呼吸定息氣行六寸十息。氣行六尺。日行二分二百七十息。氣行十六丈二尺。氣行交通於中。一周於身。下水二刻日行二十五分。五百四十息。氣行再周於身。下水四刻日行四十分。二千七百息。氣行十周於身。下水二十刻日行五宿二十分。一萬三千五百息。氣行五十營於身。水下百刻日行二十八宿。漏水皆盡而脈終矣。所謂交通者並行一數也。故五十營備得盡天地之壽矣。凡行八百一十丈也。</p>
<p>寥寥二百余字。有許多故事。許多議論涵蓋其中。題只五十營。三字篇中幻出許多數目字。是烘托極熱鬧者。</p>
<h3>營氣第十六</h3>
<p>黃帝曰。營氣之道內穀為寶。穀入於胃。乃傳之肺。流溢於中。布散於外。其精專者。行於經隧。常營無已終而復始。是謂天地之紀。故氣從太陰出。注手陽明。上行。注足陽明。下行至跗上。注大趾間。與太陰合。上行抵脾。從脾注心中。循手少陰出腋。下臂。注小指。合手太陽。上行乘腋。出　。內注目內　。上巔。下項。合足太陽。循脊。下尻。下行注小指之端。循足心。注足少陰。上行注腎。從腎注心。外散於胸中。循心主脈。出腋。下臂。出兩筋之間。</p>
<p>入掌中。出中指之端。還注小指次指之端。合手少陽。上行。注膻中。散於三焦。從三焦注膽。出脅。注足少陽。下行。</p>
<p>至跗上。復從跗注大趾間。合足厥陰。上行。至肝。從肝上注肺。上循喉嚨。入頏顙之竅。究於畜門。其支別者。上額。</p>
<p>循巔。下項中。循脊。入　。是督脈也。絡陰器。上過毛中。入臍中。上循腹裡。入缺盆。下注肺中。復出太陰。此營氣之所行也。逆順之常也。</p>
<p>先提大意。作冒後詳敘其事。亦行文常格。筆意潔淨可喜。</p>
<h3>脈度第十七</h3>
<p>黃帝曰。愿聞脈度。岐伯答曰。手之六陽。從手至頭。長五尺。五六三丈。手之六陰從手至胸中。三尺五寸。三六一丈八尺。五六三尺。合二丈一尺。足之六陽。從足上至頭。八尺。六八四丈八尺。足之六陰。從足至胸中。六尺五寸。</p>
<p>六六三丈六尺。五六三尺。合三丈九尺。（手足各以六陰六陽紀數是各經左右兩脈氣行有先後矣而蹺脈陰陽只敘其一此事乃本經中一大疑團也）蹺脈從足至目。七尺五寸。二七一丈四尺。二五一尺。合一丈五尺。督脈任脈。各四尺五寸。二四八尺。二五一尺。合九尺。凡都合一十六丈二尺此氣之大經隧也。經脈為裡。支而橫者為絡。絡之別者為孫。盛而血者疾誅之。盛者瀉之虛者飲藥以補之。（以上為第一節論脈度而以治法束之是實發題面之文）五臟常內閱於上七竅也。故肺氣通於鼻。肺和則鼻能知臭香矣。心氣通於舌。心和則舌能知五味矣。肝氣通於目。肝和則目能辨五色矣。脾氣通於口。脾和則口能知五穀矣。腎氣通於耳。腎和則耳能聞五音矣。五臟不和。則七竅不通。六腑不和。則留為癰。故邪在腑。則陽脈不和。陽脈不和。則氣留之。氣留之。則陽氣盛矣。陽氣太盛。則陰不利。陰脈不利。則血留之。血留之。</p>
<p>則陰氣盛矣。（此熱盛灼津而血澀者也）陰氣太盛。則陽氣不能榮也。故曰關。陽氣太盛。則陰氣弗能榮也。故曰格。陰陽俱盛。不得相榮。故曰關格。關格者。不得盡期而死也。（以上為第五節是接發內溉臟腑外濡腠理之常變也）黃帝曰。</p>
<p>蹺脈安起安止。何氣榮之。岐伯答曰。蹺脈者少陰之別。起於然骨之後。上內踝之上。直上循陰股。入陰。上循胸裡。</p>
<p>入缺盆。上出人迎之前。入　。屬目內　。合於太陽陽蹺而上行。氣並相還。則為濡目。氣不榮。則目不合。（以上為第二節是接敘蹺脈之起止以補首節未盡之義也）黃帝曰。氣獨行五臟。不榮六腑。何也。岐伯答曰。氣之不得無行也。如水之流。如日月之行不休。故陰脈榮其臟。陽脈榮其腑。如環之無端莫知其紀終而復始。其流溢之氣內溉臟腑外濡腠理。</p>
<p>（以上為第四節因上編營氣內注只言五臟不及六腑而疑之也）黃帝曰。蹺脈有陰陽。何脈當其數。岐伯答曰。男子數其陽。女子數其陰。當數者為經。其不當數者為絡也。（以上為第三節即第二節之尾也）</p>
<p>詞氣圓潤靜雅。足供揣摩。獨怪承接有於理解難通之處。僭擬移置分注篇中。以俟高明指正。</p>
<h3>營衛生會第十八</h3>
<p>黃帝問於岐伯曰。人焉受氣。陰陽焉會何氣為營。何氣為衛。營安從生。衛於焉會。老壯不同氣。陰陽異位。愿聞其會。（以上總冒提清全篇頭緒以下浩然直往窮原竟委不必回顧提筆而自曲折赴節）岐伯答曰。人受氣於穀。穀入於胃。</p>
<p>以傳與肺。五臟六腑。皆以受氣。其清者為營。濁者為衛。營在脈中。衛在脈外。營周不休。五十而復大會。陰陽相貫。</p>
<p>如環無端。衛氣行於陰二十五度。行於陽二十五度。分為晝夜。故氣至陽而起。至陰而止。故曰。日中而陽隴。為重陽。</p>
<p>夜半而陰隴。為重陰。故太陰主內。太陽主外。各行二十五度。分為晝夜。夜半為陰隴。夜半後而為陰衰。平旦陰盡。</p>
<p>而陽受氣矣。日中而陽隴。日西而陽衰。日入陽盡。而陰受氣矣。夜半而大會。萬民皆臥。命曰合陰。平旦陰盡。而陽受氣。如是無已。與天地同紀。（以上三意一氣貫注直起直住為第一節）黃帝曰。老人之不夜瞑者。何氣使然。少壯之人不晝瞑者。何氣使然。岐伯答曰。壯者之氣血盛。其肌肉滑氣。道通營衛之行。不失其常。故晝精而夜瞑。老者之氣血衰。其肌肉枯氣道澀。五臟之氣相搏其營氣衰少。而衛氣內伐。故晝不精。夜不瞑。（以上專發少壯不同氣義精詞湛為第二節亦直起直收與上節為一正一反一常一變）黃帝曰。愿聞營衛之所行。皆何道從來。岐伯答曰。營出於中焦衛出於下焦。黃帝曰。愿聞三焦之所出。岐伯答曰。上焦出於胃上口。並咽以上。貫膈而布胸中。走腋。循太陰之分而行。還至陽明。上至舌。下足陽明。常與營俱行於陽二十五度。行於陰亦二十五度為一周也。故五十度而復大會於手太陰矣。黃帝曰。人有熱飲食下胃。其氣未定。汗則出。或出於面。或出於背。或出於身半。其不循衛氣之道而出何也。岐伯曰。</p>
<p>此外傷於風。內開腠理。毛蒸理泄衛氣走之。固不得循其道。此氣　悍滑疾見開而出。故不得從其道。故命曰漏泄。（上焦為宗氣所會本節似言衛氣者宗氣本營衛之所令也故上半節言其常與營俱下半節又怪其不循衛道也）黃帝曰。愿聞中焦之所出。岐伯答曰。中焦亦並胃中出上焦之後。此所受氣者泌糟粕。蒸津液化其精微。上注於肺脈。乃化而為血。以奉生身莫貴於此。故獨得行於經隧。命曰營氣。黃帝曰。夫血之與氣。異名同類。何謂也。岐伯答曰。營衛者。精氣也。</p>
<p>血者。神氣也。故血之與氣。異名同類焉。故奪血者無汗。奪汗者無血。故人生有兩死。而無兩生。黃帝曰。愿聞下焦之所出。岐伯答曰。下焦者。別回腸注於膀胱。而滲入焉。故水穀者。常並居於胃中。成糟粕而俱下於大腸。而成下焦。</p>
<p>滲而俱下。濟泌別汁。循下焦而滲入膀胱焉。黃帝曰。人飲酒。酒亦入胃。穀未熟而小便獨先下。何也。岐伯答曰。酒者。熟穀之液也。其氣悍以清故後穀而入。先穀而液出焉。黃帝曰。善。余聞上焦如霧。中焦如漚下焦如瀆。此之謂也。</p>
<p>（三節暢敘榮衛生會分三焦而又各推其變當作一節讀之若分三節文氣便促而弱矣）</p>
<p>布局則前單後雙。運意則前總後分。兩截似各不相顧。而實大氣盤旋。真力彌滿不拘於分提分應之成法。全以議論駕馭。其閑筆力又足以副之。詞旨圓潤。理致深密。耐人涵泳。局陣整肅。尤有正笏垂紳之度。此篇暢發榮衛之源流正變也。前兩節合提筆數項而總敘之一正一變。後分三焦。中敘之又各一正一變也。若拘拘於分。應提筆轉支節矣。</p>
<h3>四時氣第十九</h3>
<p>黃帝問於岐伯曰。夫四時之氣。各不同形。百病之起。皆有所生。灸刺之道。何者為定。岐伯答曰。四時之氣。各有所在。灸刺之道。得氣穴為定。故春取經血脈分肉之間。甚者深刺之。間者淺刺之。夏取盛經孫絡。取分間。絕皮膚。</p>
<p>秋取經　。邪在腑。取之合。冬取井滎。必深以留之。溫瘧。汗不出。為五十九　。風　膚脹。為五十七　。取皮膚之血者。盡取之。飧泄。補三陰之上。補陰陵泉。皆久留之。熱行乃止。轉筋於陽。治其陽。轉筋於陰。治其陰。皆卒刺之。徒　。先取環穀下三寸。以鈹針針之。已刺而　之而內之。入而復之。以盡其　。（中有脫文）必堅。來緩則煩　。</p>
<p>來急則安靜。間日一刺之。　盡乃止。飲閉藥。方刺之時。徒飲之。方飲無食。方食無飲。無食他食。百三十五日。著痹不去久寒不已。卒取其三裡。骨為干（三字是經脈篇文誤衍於此）腸中不便取三裡。盛瀉之。虛補之。癘風者。素刺其腫上。已刺。以銳針針其處。按出其惡氣。腫盡乃止。常食。方食無食他食。腹中常鳴。氣上衝胸。喘不能久立。邪在大腸。刺肓之原。巨虛上廉三裡。小腹控睪引腰脊。上衝心。邪在（甲乙經有小腸也三字）小腸者。連睪系。屬於脊。</p>
<p>貫肝肺。絡心系。氣盛則厥逆。上衝腸胃。熏肝。散於肓。結於臍。故取之肓原以散之。刺太陰以予之。取厥陰以下之。</p>
<p>取巨虛下廉以去之。按其所過之經以調之。善嘔。嘔有苦。長太息心中　。恐人將捕之。邪在膽。逆在胃。膽液泄。</p>
<p>則口苦。胃氣逆。則嘔苦。故曰嘔膽。取三裡以下胃氣。逆則刺少陽血絡。以閉膽逆。卻調其虛實。以去其邪。飲食不下。膈塞不通。邪在胃脘。在上脘則刺抑而下之。在下脘則散而去之。小腹痛腫。不得小便。邪在三焦約。取之太陽大絡。視其絡脈與厥陰小絡結而血者腫。上及胃脘。取三裡。睹其色。察其以。（以目之訛也古目字相近）知其散復者。視其目色。以知病之存亡也。一其形。聽其動靜者。持氣口人迎。以視其脈堅且盛且滑者。病日進。脈軟者。病將下。諸經實者。病三日已。氣口候陰。人迎候陽也。</p>
<p>筆力堅卓。惟結末一段語意無屬筆致。亦與上文不一律。</p>
<h2>卷五</h2>
<h3>五邪第二十</h3>
<p>邪在肺。則病皮膚痛。寒熱。上氣。喘汗出。咳動肩背。取之膺中外　。背三節五臟之傍。以手疾按之快然乃刺之。</p>
<p>取之缺盆中以越之。邪在肝。則兩脅中痛。寒中。惡血在內行。善掣節。時腳腫。取之行間以引脅下。補三裡以溫胃中。</p>
<p>取血脈以散惡血。取耳間青脈以去其掣。邪在脾胃。則病肌肉痛。陽氣有餘。陰氣不足。則熱中善飢。陽氣不足。陰氣有餘。則寒中腸鳴腹痛。陰陽俱有餘。若俱不足。則有寒有熱。皆調於三裡。邪在腎。則病骨痛。陰痹。陰痹者。按之而不得。腹脹。腰痛。大便難。肩背頸項痛。時眩。取之涌泉昆侖。視有血者。盡取之。邪在心。則病心痛。喜悲。時眩仆。視有餘不足而調之其輸也。（以一也字結束五項）</p>
<p>五項直起直結。經文常格。妙在每項中間皆有曲筆。遂覺行間字字皆有生氣。</p>
<h3>寒熱病第二十一</h3>
<p>皮寒熱者。不可附席。毛髮焦。鼻槁。臘不得汗。（臘皮膚干燥也）取三陽之絡。以補手太陰。肌寒熱者。肌痛。毛髮焦。而唇槁。臘不得汗。取三陽於下以去其血者。補足太陰以出其汗。骨寒熱者。病無所安。汗注不休。齒未槁。取其少陰於陰股之絡。齒已槁。死不治。骨厥亦然痹骨。舉節不用而痛。汗注。煩心。取三陰之經補之。身有所傷。血出多及中風寒。若有所墮墜。四肢懈惰不收。名曰體惰。取其小腹臍下三結交。三結交者。陽明太陰也。臍下三寸。關元也。厥痹者。厥氣上及腹。取陰陽之絡。視主病者。瀉陽補陰也。頸側之動脈人迎。人迎。足陽明也。在嬰筋之前。嬰筋之後。手陽明也。名曰扶突。次脈。足少陽脈也。名曰天牖。次脈。足太陽也。名曰天柱。腋下動脈。臂太陰也。名曰天府。陽迎（迎當作逆）頭痛。胸滿不得息。取之人迎。暴喑。氣　。取扶突與舌本。出血。暴聾。氣蒙。耳目不明。</p>
<p>取天牖。暴攣。癇眩。足不任身。取天柱。HT　癉。內逆。肝肺相搏。血溢鼻口。取天府。此為天牖五部。（以上從寒熱搭到骨厥即接敘骨痹體惰厥痹之證治各不相顧之中自有草蛇灰線之妙其筆致之順逆向背亦無情而有情也以下諸篇皆當以此意讀之看似平鋪直敘其中自具開合斷續之體）臂陽明有入　遍齒者。名曰大迎。下齒齲。取之臂。惡寒。補之。不惡寒。</p>
<p>瀉之。足太陽有入　遍齒者。名曰角孫。上齒齲。取之在鼻與　前。方病之時。其脈盛。盛則瀉之。虛則補之。一曰取之出鼻外。足陽明有挾鼻入於面者。名曰懸顱。屬口。對入。系目本。視有過者取之。損有餘。益不足。反者益甚。足太陽有通項入於腦者。正屬目本。名曰眼系。頭目苦痛。取之在項中兩筋間。入腦。乃別陰蹺陽蹺。陰陽相交。陽入陰。</p>
<p>陰出陽。交於目銳　。陽氣盛則　目。陰氣盛則瞑目。（以上敘陽明太陽二經齒痛目痛之證治而末條又帶敘二蹺偏勝有關於目之事是板中有活也）熱厥。取足太陰少陽。皆留之。寒厥。取足陽明少陰於足。皆留之。舌縱涎下。煩　。取足少陰。振寒洒洒。鼓頷。不得汗出。腹脹。煩　。取手太陰。刺虛者刺其去也。刺實者刺其來也。春取絡脈。夏取分腠。</p>
<p>秋取氣口。冬取經輸。凡此四時。各以其時為齊絡脈治皮膚。分腠治肌肉氣口。治筋脈經輸。治骨髓五臟。（以上敘熱厥寒厥證治也收句整肅與上節同）身有五部。伏兔一。腓二。腓者　也。背三。五臟之　四。項五。此五部有癰疽者死。</p>
<p>病始手臂者。先取手陽明太陰而汗出。病始頭首者。先取項太陽而汗出。病始足脛者。先取足陽明而汗出。臂太陰。可汗出。足陽明。可汗出。故取陰而汗出甚者止之於陽。取陽而汗出甚者止之於陰。凡刺之。害中而不去。則精泄不中而去。則致氣精泄。則病甚。而　致氣。則生為癰疽也。（以上敘癰疽之證治筆力爽健非常曰汗出者所謂汗之則瘡已是治瘡疽之例也其論陰陽止汗之義尤精以藥則桂枝湯生脈散之辨也）</p>
<p>自此以下四篇及雜病篇皆敘事文體。須玩其整散斷續。錯綜變化之妙各項毫不相顧。而自然不形支節。其故由於筆勢順逆向背。相承相激。行間勃有生氣也。</p>
<h3>癲狂第二十二</h3>
<p>目　外決於面者為銳　。在內近鼻者為內　。上為外　。下為內　。（經中凡敘癲狂皆關於目故特提唱之第嫌篇中少連綴少發明耳）癲疾始生。先不樂。頭重痛。視舉。目赤甚作極。已而煩心。候之於顏。取手太陽陽明太陰。血變而止。</p>
<p>（作極蓋言身之躁動不安非有所作為而令疲極也）癲疾始作。而引口。啼呼喘悸者。候之手陽明太陽。左強者攻其右。</p>
<p>右強者攻其左。血變而止。癲疾始作。先反僵。因而脊痛。候之足太陽陽明太陰手太陰。血變而止。治癲疾者。常與之居。察其所當取之處。病至。視之。有過者。瀉之。置其血於瓠壺之中。至其發時。血獨動矣。不動。灸窮骨二十壯。</p>
<p>窮骨者　骨也。骨癲疾者。　齒諸　分肉皆滿。而骨居。汗出。煩　。嘔多沃沫。氣下泄。不治。筋癲疾者。身倦攣急。</p>
<p>大刺項大經之大杼脈。嘔多沃沫。氣下泄。不治。脈癲疾者。暴仆。四肢之脈。皆脹而縱。脈滿。盡刺之。出血。不滿。</p>
<p>灸之。挾項太陽。灸帶脈於腰。相去三寸。諸分肉本輸。嘔多沃沫。氣下泄。不治。癲疾者疾發如狂者。死不治。狂始生先自悲也。喜忘苦怒善恐者。得之憂飢。治之取手太陰陽明。血變而止。及取足太陰陽明。狂始發少臥。不飢自高賢也。自辯智也。自尊貴也。善罵詈。日夜不休。治之。取手陽明太陽太陰舌下少陰。視之。盛者。皆取之。不盛。釋之也。狂言驚善笑。好歌樂妄行不休者得之。大恐治之。取手陽明太陽太陰。狂目妄見耳妄聞善呼者。少氣之所生也。治之取手太陽太陰陽明足太陰頭兩　。狂者。多食善見鬼神。善笑。而不發於外者。得之有所大喜。治之。取足太陰太陽陽明。後取手太陰太陽陽明。狂而新發未應如此者。先取曲泉左右動脈及盛者。見血。有頃。巳不已。以法取之。灸骨二十壯。風逆HT　。四肢腫。身漯漯。唏然時寒。飢則煩。飽則善變。取手太陰表裡。足少陰陽明之經。肉清取滎骨清取井經也。厥逆為病也。足HT　清。胸若將裂。腸若將以刀切之。煩而不能食。脈大小皆澀。暖取足少陰。清取足陽明。</p>
<p>清則補之。溫則瀉之。厥逆腹脹滿。腸鳴。胸滿不得息。取之下胸二肋咳而動手者。與背　以手按之立快者。是也。內閉不得溲。刺足少陰太陽與　上。以長針。氣逆。則取其太陰陽明厥陰。甚取少陰陽明動者之經也。少氣。身漯漯也。</p>
<p>言吸吸也。骨　體重。懈惰不能動。補足少陰。短氣。息短不屬。動作氣索。補足少陰。去血絡也。</p>
<p>後半帶敘厥逆。亦如前篇之帶敘癰疽也。二篇乃紀事文中之極有聲色有氣焰者。</p>
<h3>熱病第二十三</h3>
<p>偏枯。身偏不用而痛。言不變。志不亂。病在分腠之間。巨針取之。益其不足。損其有餘。乃可復也。痱之為病也。</p>
<p>身無痛者。四肢不收。智亂不甚。其言微知。可治。甚則不能言。不可治也。病先起於陽。後入於陰者。先取其陽。後取其陰。浮而取之。熱病三日。而氣口靜。人迎躁者。取之諸陽五十九刺。以瀉其熱。而出其汗。實其陰。以補其不足者。身熱甚。陰陽皆靜者。勿刺也。其可刺者。急取之。不汗出則泄。所謂勿刺者。有死征也。熱病七日八日。脈口動喘而短者。急刺之。汗且自出。淺刺手大指間。熱病七日八日。脈微小。病者溲血。口中干。一日半而死。脈代者。一日死。熱病已得汗出。而脈尚躁喘。且復熱。勿刺膚。喘甚者死。熱病七日八日。脈不躁。躁不散數後三日中有汗。三日不汗。四日死。未曾汗者。勿腠刺之。熱病先膚痛。窒鼻。充面。取之皮。以第一針五十九。苛軫鼻。索皮於肺。不得索之火。火者心也。熱病。先身澀。倚而熱。煩　。干唇口嗌。取之皮。以第一針五十九。膚脹。口乾。寒（寒字疑誤衍然熱病實有時噤栗者此文簡意晦矣）汗出。索脈於心。不得索之水。水者腎也。熱病。嗌干。多飲。善驚。臥不能起。取之膚肉。以第六針五十九。目　青。索肉於脾。不得索之木。木者肝也。熱病。面青。腦痛。手足躁。取之筋間。</p>
<p>以第四針。四逆。筋　。目浸。索筋於肝。不得索之金。金者肺也。熱病數驚。螈　而狂。取之脈。以第四針。急瀉有餘者。癲疾。毛髮去。索血於心。不得索之水。水者腎也。熱病。身重。骨痛。耳聾。而好瞑。取之骨。以第四針。五十九刺。骨痛。不食。嚙齒。耳青。索骨於腎。不得索之土。土者脾也。熱病。不知所痛。耳聾。不能自收。口乾。陽熱甚。陰頗有寒者。熱在髓。死不可治。熱病頭痛。顳　目HT　。脈痛。善衄。厥熱病也。取之以第三針。視有餘不足。</p>
<p>寒熱。痔熱。病體重。腸中熱。取之以第四針。於其　及下諸指間。索氣於胃絡得氣也。熱病。挾臍急痛。胸脅滿。取之涌泉與陰陵泉。以第四針。針嗌裡。熱病。而汗且出。及脈順可汗者。取之魚際太淵大都太白。瀉之則熱去。補之則汗出。汗出太甚取內踝。上橫脈以止之。熱病已得汗而脈尚躁盛。此陰脈之極也。死其得汗而脈靜者生。熱病脈尚盛躁而不得汗者。此陽脈之極也。死脈盛躁。得汗靜者生。熱病不可刺者有九。一曰汗不出。大顴發赤。噦者死。二曰泄而腹滿甚者死。三曰目不明。熱不已者死。四曰老人嬰兒熱而腹滿者死。五曰汗不出。嘔。下血者死。六曰舌本爛。熱不已者死。七曰咳而衄。汗不出。出不至足者死。八曰髓熱者死。九曰熱而痙者死。腰折螈　齒噤　也。凡此九者不可刺也。所謂五十九刺者。兩手外內側各三。凡十二　。五指間各一。凡八　。足亦如是。頭入發一寸旁三分各三。凡六　。</p>
<p>更入發三寸邊各五。凡十　。耳前後口下者各一。凡六　。（凡六　三字移置項中一之上方合五十九之數且耳前後左右各二口兩角下各一正凡六　也）項中一巔。上一。囟會一。發際一。廉泉一。風池二。天柱二。氣滿。胸中喘息。取足太陰大趾之端。去爪甲如薤葉。寒則留之。熱則疾之。氣下乃止。心疝。HT　痛。取足太陰厥陰。盡刺去其血絡。喉痹。舌卷。口中干。煩心。心痛。臂內廉痛。不可及頭。取手小指次指爪甲下。去端如韭葉。目中赤痛。從內　始。取之陰蹺。</p>
<p>風痙。身反折。先取足太陽及　中及血絡。出血。中有寒。取三裡。癃。取之陰蹺及三毛上及血絡。出血。男子如蠱。</p>
<p>女子如阻。（甲乙作阻脈經令人嗜甘如阻婦狀阻即懷娠之稱謂其經阻不行也作　誤考字書無　字。按此濕熱內壅之病也）</p>
<p>身體腰脊如解。不欲飲食。先取涌泉。見血。視跗上盛者。盡見血也。</p>
<p>此篇前後文意不續。當有錯簡。</p>
<h3>厥病第二十四</h3>
<p>厥頭痛。面若腫。起而煩心。取之足陽明太陰。厥頭痛頭脈痛。心悲。善泣。視頭動脈及盛者。刺盡去血。後調足厥陰。厥頭痛。貞貞頭重而痛。瀉頭上五行。行五。先取手少陰。後取足少陰。厥頭痛。意善忘。按之不得。取頭面左右動脈。後取足太陰。厥頭痛。項先痛。腰脊為應。先取天柱。後取足太陽。厥頭痛。頭痛甚。耳前後脈涌。有熱。瀉出其血。後取足少陽。真頭痛。頭痛甚。腦盡痛。手足寒至節。死不治。頭痛不可取於　者。有所擊墮。惡血在於內。</p>
<p>若肉傷。痛未已。可則刺。不可遠取也。頭痛不可刺者。大痹為惡。日作者。可令少愈。不可已。頭半寒痛。先取手少陽陽明。後取足少陽陽明。厥心痛。與背相控。善螈。如從後觸其心。傴僂者。腎心痛也。先取京骨昆侖。發針。不已。</p>
<p>取然谷。厥心痛。腹脹。胸滿。心尤痛甚。胃心痛也。取之大都太白。厥心痛。痛如以錐針刺其心。心痛甚者。脾心痛也。取之然谷太谿。厥心痛色蒼蒼如死狀。終日不得太息。肝心痛也。取之行間太衝。厥心痛。臥若徒居。心痛間。動作痛益甚。（言但可臥或無事自坐也若痛時動作其痛益甚矣）色不變。肺心痛也。取之魚際太淵。真心痛。手足清至節。</p>
<p>心痛甚。旦發夕死。夕發旦死。心痛不可刺者。中有盛聚。不可取於　。腸中有蟲瘕及蛟　。皆不可取以小針。心腸痛。作痛。（當是心腹懊　作痛）腫聚往來。上下行。痛有休止。腹熱。喜渴。涎出者。是蛟　也。以手聚按而堅持之。</p>
<p>無令得移。以大針刺之。久持之。蟲不動。乃出針也。　腹　痛。形中上者。（謂滿腹　痛必正刺其腫聚往來之形上也）</p>
<p>耳聾無聞。取耳中。耳鳴。取耳前動脈。耳痛不可刺者。耳中有膿。若有干耵聹。耳無聞也。耳聾。取手小指次指爪甲上與肉交者。先取手。後取足。耳鳴。取手中指爪甲上。左取右。右取左。先取手。後取足。足髀不可舉。側而取之。</p>
<p>在樞合中。以員利針。大針不可刺。病注下血。取曲泉。風痹淫濼。病不可已者。足如履冰。時如入涿中。股脛淫濼。</p>
<p>煩心。頭痛。時嘔。時　眩。已汗出。久則目眩。悲以喜恐。短氣。不出三年。死也。（淫濼洗洗然　疼而無力也）</p>
<p>以頭痛心痛為主。耳痛各病附之氣焰。不及前篇。而亦有風檣陣馬之勢。敘事文能見氣勢。即馬班亦難之。</p>
<h3>病本第二十五</h3>
<p>先病而後逆者治其本。先逆而後病者治其本。先寒而後生病者治其本。先病而後生寒者治其本。先熱而後生病者治其本。先泄而後生他病者治其本。必且調之。乃治其他病。先病而後中滿者治其標。先病後泄者治其本。先中滿而後煩心者治其本。有客氣有同氣。大小便不利治其標。大小便利治其本。病發而有餘。本而標之。先治其本。後治其標。病發而不足。標而本之。先治其標。後治其本。詳察間甚。以意調之。間者並。行甚者獨行。先小大便不利而後生他病者。</p>
<p>治其本也。</p>
<p>文本無奇。義亦甚淺。而造句堅潔。可喜客氣同氣並行。獨行。真比精金百煉。</p>
<h3>雜病第二十六</h3>
<p>厥挾脊而痛者。至頂。頭沉沉然。目　然。腰脊強。取足太陽　中血絡。厥胸滿。面腫。唇漯漯。HT　言難。甚則不能言。取足陽明。厥氣走喉。而不能言。手足清。大便不利。取足少陰。厥而腹向向然。多寒氣。腹中HT　HT　。</p>
<p>便溲難。取足太陰。嗌干。口中熱。如膠。取足少陰。膝中痛。取犢鼻以員利針。發而間之。針大如　。刺膝無疑。喉痹。不能言。取足陽明。能言。取手陽明。瘧。不渴。間日而作。取足陽明。渴而日作。取手陽明。齒痛。不惡清飲。</p>
<p>取足陽明。惡清飲。取手陽明。聾而不痛者。取足少陽。聾而痛者。取手陽明。衄而不止。　血流。取足太陽。　血。（有脫字疑脫不流二字）取手太陽。不已。刺宛骨下。不已。刺　中。出血。腰痛。痛上寒。取足太陽陽明。痛上熱。取足厥陰。不可以俯仰。取足少陽。中熱而喘。取足少陰　中血絡。喜怒而不欲食。言益小。刺足太陰。怒而多言。刺足少陽。　痛。刺手陽明與　之盛脈。出血。項痛。不可俯仰。刺足太陽。不可以顧。刺手太陽也。小腹滿大。上走胃。至心。淅淅身時寒熱。小便不利。取足厥陰。腹滿。大便不利。腹大。亦上走胸嗌。喘息喝喝然。取足少陰。腹滿。食不化。腹向向然。不能大便。取足太陰。心痛引腰脊。欲嘔。取足少陰。心痛。腹脹嗇嗇然。大便不利。取足太陰。心痛。</p>
<p>引背不得息。刺足少陰。不已。取手少陽。心痛。引小腹滿。上下無常處。便溲難刺足厥陰。心痛。但短氣不足以息。</p>
<p>刺手太陰。心痛當九節刺之。按已刺。按之。立已。不已。上下求之。得之立已。　痛。刺足陽明曲周動脈。見血。立已。不已。按人迎於經。立已。氣逆上。刺膺中陷者與下胸動脈。腹痛。刺臍左右動脈。已刺。按之。立已。不已。刺氣街。已。刺。按之。立已。痿厥。為四末束　。乃疾解之。日二不仁者。十日而知。無休。病已止。噦以草刺鼻嚏。</p>
<p>嚏而已。無息而疾迎引之。立已。大驚之。亦可已。（噦呃也下所敘皆尋常止呃之法原作歲誤）</p>
<p>此篇條目極繁。獨以老干無枝之筆行之。字字堅實紀事文正宗也。數篇刺法多系繆刺。今猶有傳之者。</p>
<h3>周痹第二十七</h3>
<p>黃帝問於岐伯曰。周痹之在身也。上下移徙隨脈。其上下左右相應。間不容空。愿聞此痛。在血脈之中邪。將在分肉之間乎。何以致是。其痛之移也。間不及下針。其　痛之時。不及定治。而痛已止矣。何道使然。愿聞其故。（以上是總冒上下左右並提周眾不分下乃以左右上下分周眾發之）岐伯答曰。此眾痹也。非周痹也。黃帝曰。愿聞眾痹。岐伯對曰。此各在其處更發更止。更居更起。以右應左。以左應右。非能周也。更發更休也。黃帝曰。善刺之奈何。岐伯對曰。</p>
<p>刺此者。痛雖已止。必刺其處。勿令復起。帝曰。善。愿聞周痹何如。岐伯對曰。周痹者。在於血脈之中。隨脈以上。</p>
<p>隨脈以下。不能左右各當其所。黃帝曰。刺之奈何。岐伯對曰。痛從上下者。先刺其下以過之。後刺其上以脫之。痛從下上者。先刺其上以過之。後刺其下以脫之。黃帝曰。善。此痛安生。何因而有名。岐伯對曰。風寒濕氣客於外。分肉之間。迫切而為沫。沫得寒則聚。聚則排分肉而分裂也。分裂則痛。痛則神歸之。神歸之則熱。熱則痛解。痛解則厥。</p>
<p>厥則他痹發。發則如是。帝曰。善。余已得其意矣。（當有未得其事也愿卒聞之岐伯對曰十三字）此內不在臟而外未發於皮。獨居分肉之間。真氣不能周。故命曰。周痹故刺痹者。必先切循其下之六經。視其虛實。及大絡之血結而不通。及虛而脈陷空者。而調之。熨而通之。其螈堅轉引而行之。黃帝曰。善余已得其意矣。亦得其事也。</p>
<p>筆氣清暢。一往無前。左縈右拂。自饒情致。</p>
<h3>口問第二十八</h3>
<p>黃帝閑居。辟左右而問於岐伯曰。余已聞九針之經。論陰陽逆順。六經已畢。愿得口問。岐伯避席再拜曰。善乎哉問也。此先師之所口傳也。黃帝曰。愿聞口傳。岐伯答曰。夫百病之始生也。皆生於風雨寒暑。陰陽喜怒飲食。居處大驚卒恐則血氣分離。陰陽破散。經絡厥絕。脈道不通。陰陽相逆。衛氣稽留。經脈虛空。血氣不次。乃失其常。論不在經者。請道其方。黃帝曰。人之欠者。何氣使然。岐伯答曰。衛氣晝日行於陽。夜半則行於陰。陰者主夜。夜者臥。陽者主上。陰者主下。故陰氣積於下。陽氣未盡。陽引而上。陰引而下。陰陽相引。故數欠陽氣盡。陰氣盛。則目瞑。陰氣盡。而陽氣盛。則寤矣。瀉足少陰補足太陽。黃帝曰。人之噦者。何氣使然。岐伯曰。穀入於胃。胃氣上注於肺。今有故寒氣與新穀氣俱。還入於胃。新故相亂。真邪相攻。氣並相逆。復出於胃。故為噦。補手太陰。瀉足少陰。黃帝曰。</p>
<p>人之唏者。何氣使然。岐伯曰。此陰氣盛而陽氣虛。陰氣疾而陽氣徐。陰氣盛而陽氣絕。故為唏。補足太陽。瀉足少陰。</p>
<p>黃帝曰。人之振寒者。何氣使然。岐伯曰。寒氣客於皮膚。陰氣盛。陽氣虛。故為振寒。寒栗。補諸陽。黃帝曰。人之噫者。何氣使然。岐伯曰。寒氣客於胃。厥逆從下上。散復出於胃。故為噫。補足太陰陽明。一曰補眉本也。黃帝曰。</p>
<p>人之嚏者。何氣使然。岐伯曰。陽氣和利。滿於心。出於鼻。故為嚏。補足太陽榮眉本。一曰眉上也。黃帝曰。人之者。何氣使然。岐伯曰。胃不實。則諸脈虛。諸脈虛。則筋脈懈惰。筋脈懈惰。則行陰。用力。氣不能復。故為　因其所在補分肉間黃帝曰。人之哀而泣涕出者。何氣使然。岐伯曰。心者。五臟六腑之主也。目者。宗脈之所聚也。上液之道也。口鼻者。氣之門戶也。故悲哀愁憂。則心動。心動則五臟六腑皆搖。搖則宗脈感。宗脈感則液道開。液道開故泣涕出焉。液者。所以灌精濡空竅者也。故上液之道開則泣。泣不止則液竭。液竭則精不灌。精不灌則目無所見矣。故命曰奪精。補天柱經俠頸。黃帝曰。人之太息者。何氣使然。岐伯曰。憂思則心系急。心系急則氣道約。約則不利。故太息以伸出之。補手少陰心主足少陽。留之也。黃帝曰。人之涎下者。何氣使然。岐伯曰。飲食者。皆入於胃。胃中有熱則蟲動。蟲動則胃緩。胃緩則廉泉開。故涎下。補足少陰。黃帝曰。人之耳中鳴者。何氣使然。岐伯曰。耳者。宗脈之所聚也。故胃中空則宗脈虛。虛則下溜脈有所竭者。故耳鳴。補客主人。手大指爪甲上與肉交者也。黃帝曰。人之自嚙舌者。何氣使然。岐伯曰。此厥逆走上。脈氣輩至也。少陰氣至則嚙舌。少陽氣至則嚙頰。陽明氣至則嚙唇矣。視主病者。則補之。凡此十二邪者。皆奇邪之走空竅者也。故邪之所在。皆為不足。故上氣不足。腦為之不滿。耳為之苦鳴。</p>
<p>頭為之苦傾。目為之眩。中氣不足。溲便為之變。腸為之苦鳴。下氣不足。乃為痿厥心　。補足外踝下留之。黃帝曰。</p>
<p>治之奈何。岐伯曰。腎主為欠。取足少陰。肺主為噦。取手太陰足少陰。唏者。陰與陽絕。故補足太陽。瀉足少陰。振寒者。補諸陽。噫者。補足太陰陽明。嚏者。補足太陽眉本。　因其所在。補分肉間。泣出。補天柱經俠頸。俠頸者。</p>
<p>頭中分也。太息。補手少陰心主足少陽。留之。涎下。補足少陰。耳鳴。補客主人手大指爪甲上與肉交者。自嚙舌。視主病者則補之。目眩頭傾。補足外踝下。留之。痿厥心　。刺足大趾間上二寸。留之。一曰足外踝下。留之。</p>
<p>前提後束中間十二排。平鋪直敘之中自有浩氣流行之概。其論人身氣機相引之理。勝於近日西醫之說萬萬矣。乃聖人僅以為余事耳。或謂西醫詳於形而味於氣固矣。即形亦正未能詳也。洗冤錄尚非聖人之所作也。而能辨骨之制命。不制命此亦形之事也。西人知之乎。西醫之聖者僅勝於今醫之庸者。</p>
<h2>卷六</h2>
<h3>師傳第二十九</h3>
<p>黃帝曰。余聞先師有所心藏。弗著於方。余愿聞而藏之。則而行之。上以治民。下以治身。使百姓無病。上下和親德澤下流。子孫無憂。傳於後世。無有終時。可得聞乎。岐伯曰。遠乎哉問也。夫治民與自治。治彼與治此。治小與治大。治國與治家。未有逆而能治之也。夫惟順而已矣。順者。非獨陰陽脈論。氣之逆順也。百姓民眾皆欲順其志也。（以上提唱順字大意下乃實敘其事）黃帝曰。順之奈何。岐伯曰。入國問俗。入家問諱上堂問禮。臨病患問所便。黃帝曰。</p>
<p>便病患奈何。岐伯曰。夫中熱消癉則便寒。寒中之屬則便熱。胃中熱則消穀。令人懸心善飢。臍以上皮熱。腸中熱則出黃如糜。臍以下皮熱。胃中寒則腹脹。腸中寒則腸鳴飧泄。胃中寒腸中熱。則脹而且泄。胃中熱腸中寒。則疾飢。小腹痛脹。（頓住是歇後語氣）黃帝曰。胃欲寒飲。腸欲熱飲。兩者相逆。便之奈何。且夫王公大人血食之君。驕恣從欲。輕人而無能禁之。禁之則逆其志。順之則加其病。便之奈何。治之何先。岐伯曰。人之情。莫不惡死而樂生。告之以其敗。</p>
<p>語之以其善。導之以其所便。開之以其所苦。雖有無道之人。惡有不聽者乎。黃帝曰。治之奈何。岐伯曰。春夏先治其標。後治其本。秋冬先治其本。後治其標。黃帝曰。便其相逆者奈何。岐伯曰。便此者。食飲衣服。亦欲適寒溫寒無淒愴。暑無出汗。食飲者。熱無灼灼。寒無滄滄。寒溫中適故氣將持。乃不致邪僻也。（以上為前半篇論治之貴順也）黃帝曰。本臟以身形肢節　肉。候五臟六腑之小大焉。今夫王公大人臨朝即位之君而問焉。誰可捫循之而後答乎。岐伯曰。</p>
<p>身形支節者。臟腑之蓋也。非面部之閱也。（謂尚有面部之閱無待捫循者也筆妙）黃帝曰。五臟之氣。閱於面者。余已知之矣。以肢節知。而閱之奈何。（言以肢節知五臟六腑而亦有閱於面也其法奈何）岐伯曰。五臟六腑者。肺為之蓋。巨肩陷咽。候見其外。黃帝曰。善。岐伯曰。五臟六腑。心為之主。缺盆為之道。　骨有餘。以候　KT　。黃帝曰。善。岐伯曰。肝者。主為將。使之候外。欲知堅固。視目小大。黃帝曰。善。岐伯曰。脾者。主為衛。使之迎糧。視唇舌好惡。</p>
<p>以知吉凶。黃帝曰。善。岐伯曰。腎者。主為外。使之遠聽。視耳好惡。以知其性。黃帝曰。善。愿聞六腑之候。岐伯曰。六腑者。胃為之海。廣骸大頸張胸。五穀乃容。鼻隧以長。以候大腸。唇濃人中長。以候小腸。目下果大。其膽乃橫。鼻孔在外。膀胱漏泄。鼻柱中央起。三焦乃約。此所以候六腑者也。上下三等臟安且良矣。</p>
<p>前論治病之貴順。後論臟腑之外閱。兩截各不相顧。篇法無可言者。惟用筆堅厚朴直之中自饒溫潤委婉之致。令人讀之不厭。</p>
<h3>決氣第三十</h3>
<p>黃帝曰。余聞人有精氣津液血脈。余意以為一氣耳。今乃辨為六名。余不知其所以然。岐伯曰。兩神相搏。合而成形。常先身生。是謂精。何謂氣。岐伯曰。上焦開發。宣五穀味。熏膚充身澤毛。若霧露之溉是謂氣。何謂津。岐伯曰。</p>
<p>腠理發泄。汗出溱溱。是謂津。何謂液。岐伯曰。穀入氣滿。淖澤注於骨。骨屬屈伸。泄澤。補益腦髓。皮膚潤澤。是謂液。何謂血。岐伯曰。中焦受氣取汁。變化而赤。是謂血。何謂脈。岐伯曰。壅遏營氣。令無所避是謂脈。黃帝曰。</p>
<p>六氣者有餘不足。氣之多少。腦髓之虛實。血脈之清濁。何以知之。岐伯曰。精脫者。耳聾。氣脫者。目不明。津脫者。</p>
<p>腠理開。汗大泄。液脫者。骨屬屈伸不利。色夭。腦髓消。脛　。耳數鳴。血脫者。色白。夭然不澤。其脈空虛此其候也。黃帝曰。六氣者。貴賤何如。岐伯曰。六氣者。各有部主也。其貴賤善惡。可為常主。然五穀與胃為大海也。（言六氣各主其部而互相資無貴賤也但發源於五穀與胃耳）</p>
<p>前後兩截均以六項平敘。板實之中自饒腴味。尤妙在末尾用單筆作結探原星宿悠然不盡。使通身經脈皆活。此經文極謹嚴之作。</p>
<h3>腸胃第三十一</h3>
<p>黃帝問於伯高曰。余愿聞六腑傳穀者。腸胃之小大長短。受穀之多少。奈何。伯高曰。請盡言之。穀所從出入淺深遠近長短之度。唇至齒。長九分。口廣二寸半。齒以後至會厭。深三寸半。大容五合。舌重十兩。長七寸。廣二寸半。</p>
<p>咽門重十兩。廣一寸半。至胃。長一尺六寸。胃紆曲屈。伸之。長二尺六寸。大一尺五寸。徑五寸。大容三斗五升。小腸後附脊。左環。回周疊積。其注於回腸者。外附於臍上。回運環反十六曲。大二寸半。徑八分分之少半。長三丈二尺。</p>
<p>回腸當臍左環。回周疊積而下回運環反十六曲。大四寸。徑一寸寸之少半。長二丈一尺。廣腸傅脊。以受回腸。左環疊積。上下辟。大八寸。徑二寸寸之大半。長二尺八寸。腸胃所入至所出。長六丈四寸四分。回曲環反。三十二曲也。</p>
<p>此當與下編合為一也。中間疊積。或作葉積。或作葉脊。皆字之訛也。回運環下。或少反字。胃之容三斗五升而三。</p>
<p>或作二今皆正之。不必曲解也。</p>
<h3>平人絕穀第三十二</h3>
<p>黃帝曰。愿聞人之不食。七日而死。何也。伯高曰。臣請言其故。胃大一尺五寸。徑五寸。長二尺六寸。橫屈。受水穀三斗五升。其中之穀。常留二斗。水一斗五升。而滿上焦泄氣出。其精微　悍滑疾下焦。下溉諸腸。小腸大二寸半。</p>
<p>徑八分分之少半。長三丈二尺。受穀二斗四升。水六升三合合之大半。回腸大四寸。徑一寸寸之少半。長二丈一尺。受穀一斗。水七升半。廣腸大八寸。徑二寸寸之大半。長二尺八寸。受穀九升三合八分合之一。腸胃之長。凡五丈八尺四寸。受水穀九斗二升一合合之大半。此腸胃所受水穀之數也。平人則不然。胃滿則腸虛。腸滿則胃虛。更虛更滿。故氣得上下。五臟安定。血脈和利。精神乃居。故神者。水穀之精氣也。故腸胃之中。當留穀二斗。水一斗五升。故平人日再後。後二升半。一日中五升。七日。五七三斗五升。而留水穀盡矣。故平人不食飲。七日而死者。水穀精氣津液皆盡故也。</p>
<p>先敘事後發論。詞旨潔淨精微。</p>
<h3>海論第三十三</h3>
<p>黃帝問於岐伯曰。余聞刺法於夫子。夫子之所言。不離於營衛血氣。夫十二經脈者。內屬於腑臟。外絡於肢節。夫子乃合之於四海乎。岐伯答曰。人亦有四海十二經水。經水者皆注於海。海有東西南北。命曰四海。黃帝曰。以人應之。</p>
<p>奈何。岐伯曰。人有髓海。有血海。有氣海。有水穀之海。凡此四者。以應四海也。黃帝曰。遠乎哉夫子之合人於天地四海也。愿聞應之奈何。岐伯答曰。必先明知陰陽。表裡榮輸。所在四海定矣。黃帝曰。定之奈何。岐伯曰。胃者水穀之海。其輸。上在氣街。下至三裡。衝脈者為十二經之海其輸。上在於大杼。下出於巨虛之上下廉。膻中者。為氣之海。</p>
<p>其輸。上在於柱骨之上下。前在於人迎。腦為髓之海其輸。上在於其蓋。下在風府。黃帝曰。凡此四海者。何利何害。</p>
<p>何生何敗。岐伯曰。得順者生。得逆者敗。知調者利。不知調者害。黃帝曰。四海之逆順奈何。岐伯曰。氣海有餘者。</p>
<p>氣滿。胸中　息。面赤。氣海不足。則氣少不足以言。血海有餘。則常想其身大。怫然不知其所病。血海不足。亦常想其身小。狹然不知其所病。水穀之海有餘。則腹滿。水穀之海不足。則飢不受穀食。髓海有餘。則輕勁多力。自過其度。</p>
<p>髓海不足。則腦轉。耳鳴。脛　。眩冒。目無所見。懈怠安臥。黃帝曰。余已聞逆順。調之奈何。岐伯曰。審守其輸。</p>
<p>而調其虛實。無犯其害。順者得復。逆者必敗。黃帝曰。善。</p>
<p>布局整暇運筆清挺。此與本神決氣皆敘內傷證也。而此篇摹繪尤妙。</p>
<h3>五亂第三十四</h3>
<p>黃帝曰。經脈十二者。別為五行。分為四時。何失而亂。何得而治。岐伯曰。五行有序。四時有分。相順則治。相逆則亂。黃帝曰。何謂相順。岐伯曰。經脈十二者。以應十二月。十二月者。分為四時。四時者。春秋冬夏。其氣各異。</p>
<p>營衛相隨。陰陽已和。清濁不相干。如是則順之而治。黃帝曰。何謂逆而亂。岐伯曰。清氣在陰。濁氣在陽。營氣循脈。</p>
<p>衛氣逆行。清濁相干。亂於胸中是謂大　。故氣亂於心則煩心密嘿。俯首靜伏。亂於肺。則俯仰喘喝。接手以呼。亂於腸胃。則為霍亂。亂於臂脛。則為四厥。亂於頭。則為厥逆。頭重眩仆。黃帝曰。五亂者。刺之有道乎。岐伯曰。有道以來。有道以去。審知其道。是謂身寶。黃帝曰。善。愿聞其道。岐伯曰。氣在於心者。取之手少陰心主之輸。氣在於肺者。取之手太陰滎。足少陰輸。氣在於腸胃者。取之足太陰陽明。不下者。取之三裡。氣在於頭者。取之天柱大杼。</p>
<p>不知。取足太陽滎輸。氣在於臂足。取之先去血脈。後取其陽明少陽之滎輸。黃帝曰。補瀉奈何。岐伯曰。徐入徐出。</p>
<p>謂之導氣。補瀉無形。謂之同精。是非有餘不足也。亂氣之相逆也。（疾而徐之為瀉徐而疾之為補此徐入徐出無分補瀉但導其逆氣和其精氣以其病非有餘不足而起於一時之逆亂也）黃帝曰。允平哉道。明乎哉論。請著之玉版。命曰治亂也。</p>
<p>運筆布局與前篇同。通體一氣直下。而前後各頓四句。便有曲致。此等文須看煉句之清健。尤看著字之精確有一字松泛。即全體為之懦而不振。</p>
<h3>脹論第三十五</h3>
<p>黃帝曰。脈之應於寸口。如何而脹。岐伯曰。其脈大堅以澀者。脹也。黃帝曰。何以知臟腑之脹也。岐伯曰。陰為臟陽為腑。黃帝曰。夫氣之令人脹也在於血脈之中邪。臟腑之內乎。岐伯曰。三者皆存焉。然非脹之舍也。黃帝曰。愿聞脹之舍。岐伯曰。夫脹者。皆在於臟腑之外。排臟腑而郭胸脅脹。皮膚故命曰脹。黃帝曰。臟腑之在胸脅腹裹之內也。</p>
<p>若匣匱之藏禁器也。各有次舍異名而同處。一域之中。其氣各異。愿聞其故。黃帝曰。未解其意。再問。岐伯曰。夫胸腹。臟腑之郭也。膻中者。心主之宮城也。胃者。太倉也。咽喉小腸者。傳送也。胃之五竅者。閭裡門戶也。廉泉玉英者。津液之道也。故五臟六腑者。各有畔界。其病各有形狀。營氣循脈。衛氣逆行。為脈脹。衛氣並脈循分。為膚脹。</p>
<p>三裡而瀉。近者一下。遠者三下。無問虛實。工在疾瀉。黃帝曰。愿聞臟腑之脹形也。岐伯曰。夫心脹者。煩心短氣。</p>
<p>臥不安。肺脹者。虛滿而喘咳。肝脹者。脅下滿而痛。引少腹脾脹者。善噦。四肢煩　。體重。不能勝衣。臥不安。腎脹者。腹滿引背。央央然。腰髀痛。六腑脹。胃脹者。腹滿。胃脘痛。鼻聞焦臭。妨於食。大便難。大腸脹者。腸鳴而痛。濯濯冬日重感於寒則飧泄不化。小腸脹者。少腹　脹。引腰而痛。膀胱脹者。少腹滿而氣癃。三焦脹者。氣滿於皮膚中。輕輕然而不堅。膽脹者。脅下痛脹。口中苦。善太息。凡此諸脹者。其道在一。明知逆順。針數不失。瀉虛補實。</p>
<p>神去其室。致邪失正。真不可定。粗之所敗。謂之天命。補虛瀉實。神歸其室。久塞其空。謂之良工。黃帝曰。脹者焉生。何因而有。岐伯曰。衛氣之在身也。常然並脈。循分肉行有逆順陰陽相隨。乃得天和。五臟更始四時循序。五穀乃化。然後厥氣在下。營衛留止。寒氣逆上真邪相攻。兩氣相搏。乃合為脹也。黃帝曰。善。何以解惑。岐伯曰。合之於真。三合而得。帝曰。善。夫子言無問虛實。工在疾瀉。近者一下。遠者三下。今有其三而不下者。其過焉在。岐伯對曰。此言陷於肉肓而中氣穴者也。不中氣穴。則氣內閉。針不陷肓。則氣不行上越。中肉。則衛氣相亂。陰陽相逐。其於脹也。當瀉不瀉。氣故不下。三而不下。必更其道。氣下乃止。不下復始。可以萬全。烏有殆者乎。其於脹也。必審其胗。當瀉則瀉。當補則補。如鼓應桴。惡有不下者乎。（胗即診也診即證也即指五臟六腑之脹形也）</p>
<p>通篇俱以逆取勢。不獨起筆也。乍讀似雜亂無次。細尋皆銜接而下。其清在骨。其雄在神。</p>
<h3>五癃津液別第三十六</h3>
<p>黃帝問於岐伯曰。水穀入於口。輸於腸胃。其液別為五。天寒衣薄。則為溺與氣。天熱衣濃。則為汗。悲哀氣並。</p>
<p>則為泣中熱胃緩則為唾。邪氣內逆。則氣為之閉塞而不行。不行則為水脹。余知其然也。不知其何由生。愿聞其道。岐伯曰。水穀皆入於口。其味有五。各注其海。津液各走其道。故三焦出氣。以溫肌肉。充皮膚為其津。其流而不行者。</p>
<p>為液。天暑衣濃則腠理開。故汗出。寒留於分肉之間。聚沫。則為痛。天寒則腠理閉。氣濕不行。水下溜於膀胱。則為溺與氣。五臟六腑。心為之主。耳為之聽。目為之候。肺為之相。肝為之將。脾為之衛。腎為之主外。故五臟六腑之津液。盡上滲於目。心悲氣並。則心系急。心系急。則肺舉。肺舉則液上溢。夫心系與肺。不能常舉。乍上乍下。故咳而泣出矣。中熱則胃中消穀。消穀則蟲上下作。腸胃充郭。故胃緩。胃緩則氣逆。故唾出。五穀之津液。和合而為膏者。</p>
<p>內滲入於骨空。補益腦髓。而下流於陰股。陰陽不和。則使液溢而下流於陰。髓液皆減而下。下過度則虛。虛故腰背痛而脛　。陰陽氣道不通。四海塞閉。三焦不瀉。津液不化。水穀並行腸胃之中。別於回腸。留於下焦。不得滲膀胱。則下焦脹。水溢則為水脹。此津液五別之逆順也。</p>
<p>一問一答布局無奇。措詞亦無甚精警處。五癃五津之癃也。氣之逆行。曰厥津之逆行。曰癃津液別者。津與液之質有五種之不同也。</p>
<h3>五閱五使第三十七</h3>
<p>黃帝問於岐伯曰。余聞刺有五閱。以觀五氣。五氣者。五臟之使也。五時之副也。愿聞其五使。當安出。岐伯曰。</p>
<p>五官者。五臟之閱也。黃帝曰。愿聞其所出。令可為常。岐伯曰。脈出於氣口。色見於明堂。五色更出。以應五時。各如其常。經氣入藏必當治裡黃帝曰。善。五色獨決於明堂乎。岐伯曰。五官以辨。闕庭必張。乃立明堂。明堂廣大。蕃蔽見外。方壁高基。引垂居外。五色乃治。平博廣大。壽中百歲。見此者。刺之必已。如是之人者。血氣有餘。肌肉堅致。故可苦以針。黃帝曰。愿聞五官。岐伯曰。鼻者肺之官也。目者肝之官也。口唇者脾之官也。舌者心之官也。耳者腎之官也。黃帝曰。以官何候。岐伯曰。以候五臟。故肺病者。喘息鼻張。肝病者。　青。脾病者。唇黃。心病者。舌卷短。顴赤。腎病者。顴與顏黑。黃帝曰。五脈安出五色安見其常色殆者如何。岐伯曰。五官不辨闕庭不張。小其明堂。</p>
<p>蕃蔽不見。又埤其牆。牆下無基。垂角去外。如是者。雖平常殆。況加疾哉。黃帝曰。五色之見於明堂以觀五臟之氣。</p>
<p>左右高下。各有形乎。岐伯曰。腑臟之在中也。各以次舍。左右上下。各如其度也。</p>
<p>步步搜拶節節展開。用筆有官止神行之妙。但鑄詞不甚精湛耳。五閱五臟之外部也。即五官五使五臟之氣化也。即五色通篇注重在五官之五色。其明堂一層。前作陪筆。後作補筆。是文字烘托法。</p>
<h3>逆順肥瘦第三十八</h3>
<p>黃帝問於岐伯曰。余聞針道於夫子。眾多畢悉矣。夫子之道應若失。而據未有堅然者也。夫子之問學熟乎。將審察於物而心生之乎。（言用針之應與失未有確然先見之據也而能無失者此由於問學之熟乎抑隨時審物而心生之乎下乃兩答之也）岐伯曰。聖人之為道者。上合於天。下合於地。中合於人事。必有明法。以起度數。法式檢押。乃後可傳焉。故匠人不能釋尺寸而意短長。廢繩墨而起平直也。工人不能置規而為員。去矩而為方知用此者。固自然之物易用之。教逆順之常也。（言此乃自然之事易曉之說針道得失之常也）黃帝曰。愿聞自然奈何。岐伯曰。臨深決水。不用功力。而水可竭也。循掘決沖。而經可通也。此言氣之滑澀。血之清濁。行之逆順也。（此逆順指氣之來往與上文異）黃帝曰。愿聞人之白黑肥瘦小長。各有數乎。岐伯曰。年質壯大。血氣充盈。膚革堅固。因加以邪。刺此者。深而留之。此肥人也。廣肩腋。項肉薄。濃皮而黑色。唇臨臨然。其血黑。以濁其氣澀。以遲其為人也。貪於取與。刺此者。深而留之。多益其數也。黃帝曰。刺瘦人奈何。岐伯曰。瘦人者。皮薄色少。肉廉廉然。薄唇輕言。其血清。氣滑易脫於氣。易損於血。</p>
<p>刺此者淺而疾之。黃帝曰。刺常人奈何。岐伯曰。視其白黑。各為調之。其端正敦濃者。其血氣和調。刺此者無失常數也。黃帝曰。刺壯士真骨者奈何。岐伯曰。刺壯士真骨。堅肉緩節監監然。此人重。則氣澀血濁。刺此者。深而留之。</p>
<p>多益其數。勁則氣滑血清。刺此者。淺而疾之。（重骨體濃重也勁骨體輕捷也）黃帝曰。刺嬰兒奈何。岐伯曰。嬰兒者其肉脆。血少氣弱。刺此者。以豪針。淺刺而疾發針。日再可也。黃帝曰。臨深決水奈何。岐伯曰。血清氣滑。疾瀉之則氣竭焉。黃帝曰。循掘決沖奈何。岐伯曰。血濁氣澀。疾瀉之則經可通也。黃帝曰脈行之逆順奈何。岐伯曰。手之三陰。</p>
<p>從臟走手。手之三陽。從手走頭。足之三陽。從頭走足。足之三陰。從足走腹。黃帝曰。少陰之脈獨下行。何也。岐伯曰。不然。夫衝脈者。五臟六腑之海也。五臟六腑皆稟焉。其上者。出於頏顙。滲諸陽。灌諸精。其下者。注少陰之大絡。出於氣街。循陰股內廉。入　中。伏行　骨內。下至內踝之後屬而別。（屬所也言內踝後之處所也）其下者。並於少陰之經。滲三陰。其前者。伏行出跗屬。下循跗。入大趾間。滲諸絡而溫肌肉。故別絡結。則跗上不動。不動則厥。厥則寒矣。黃帝曰。何以明之。岐伯曰。五官導之。（五官二字誤據經意當是循而二字）切而驗之。其非必動。（非邪氣也經脈曰脈之卒然動者皆邪氣居之）然後乃可明逆順之行也。黃帝曰。窘乎哉聖人之為道也。明於日月。微於毫厘。其非夫子。孰能道之也。</p>
<p>此篇論刺法之逆順。外視其人之肥瘦。內視經脈之行度也。法有堅據。因人而施。篇法整齊。詞旨清暢。言針道所以無失者。由於問學之熟。而臨診又須審物生心也。兩層串說。</p>
<h3>血絡論第三十九</h3>
<p>黃帝曰。愿聞其奇邪而不在經者。岐伯曰。血絡是也。黃帝曰。刺血絡而仆者。何也。血出而射者。何也。血少黑而濁者。何也。血出清而半為汁者。何也。發針而腫者。何也。血出若多若少而面色蒼蒼者。何也。發針而面色不變而煩者。何也。多出血而不動搖者。何也。愿聞其故。岐伯曰。脈氣盛而血虛者。刺之則脫氣。脫氣則仆。血氣俱盛。</p>
<p>而陰氣多者。其血滑。刺之則射。陽氣蓄積。久留而不瀉者。其血黑以濁。故不能射。新飲而液滲於絡。而未合和於血也。故血出而汁別焉。其不新飲者。身中有水。久則為腫。陰氣積於陽。其氣因於絡。故刺之血未出而氣先行。故腫。</p>
<p>陰陽之氣。其新相得。而未和合。因而瀉之。則陰陽俱脫。表裡相離。故脫色而蒼蒼然。刺之血出多色不變而煩　者。</p>
<p>刺絡而虛經虛經之屬於陰者。陰脫故煩　。陰陽相得。而合為痹者。此為內溢於經。外注於絡。（言陰陽不虛實相傾而病痹痛者此其血多而內外俱壅也）如是者。陰陽俱有餘。雖多出血。而弗能虛也。黃帝曰。相之奈何。岐伯曰。血脈者盛。</p>
<p>堅橫以赤。上下無常處。小者如針。大者如筋。則而瀉之。萬全也。故無失數矣。失數而反。（反即脹論所謂必更其道也）</p>
<p>各如其度。黃帝曰。針入而肉著者。何也。岐伯曰。熱氣因於針。則針熱。熱則肉著於針。故堅焉。</p>
<p>布局與五癃津液別同。而詞旨修潔過之。末段敘不動搖。獨用另筆。可悟行文斷續之妙。</p>
<h3>陰陽清濁第四十</h3>
<p>黃帝曰。余聞十二經脈。以應十二經水者。其五色各異。清濁不同。人之血氣若一。應之奈何。岐伯曰。人之血氣苟能若一。則天下為一矣。惡有亂者乎。黃帝曰。余問一人。非天下之眾。岐伯曰。夫一人者。亦有亂氣。天下之眾。</p>
<p>亦有亂人。其合為一耳。黃帝曰。愿聞人氣之清濁。岐伯曰。受穀者濁。受氣者清。清者注陰。濁者注陽。濁而清者上出於咽。清而濁者則下行。清濁相干命曰亂氣。黃帝曰。夫陰清而陽濁。濁者有清。清者有濁。清濁別之奈何。岐伯曰。</p>
<p>氣之大別。清者上注於肺。濁者下走於胃。胃之清氣。上出於口。肺之濁氣。下注於經。內積於海。黃帝曰。諸陽皆濁。</p>
<p>何以濁甚乎。岐伯曰。手太陽獨受陽之濁。手太陰獨受陰之清。其清者上走空竅。其濁者下行諸經。諸陰皆清。足太陰獨受其濁。黃帝曰。治之奈何。岐伯曰。清者其氣滑。濁者其氣澀。此氣之常也。故刺陰者深而留之。刺陽者淺而疾之。</p>
<p>清濁相干者。以數調之也。</p>
<p>筆清而健。可謂雷霆走精銳冰雪淨聰明。</p>
<h2>卷七</h2>
<h3>陰陽系日月第四十一</h3>
<p>黃帝曰。余聞天為陽。地為陰。日為陽。月為陰。其合之於人。奈何。岐伯曰。腰以上為天。腰以下為地。故天為陽。地為陰。故足之十二經脈。以應十二月。月生於水。故在下者為陰。手之十指。以應十日。日主火。故在上者為陽。</p>
<p>黃帝曰。合之於脈奈何。岐伯曰。寅者正月之生陽也。主左足之少陽。未者六月。主右足之少陽。卯者二月。主左足之太陽。午者五月。主右足之太陽。辰者三月。主左足之陽明。巳者四月。主右足之陽明。此兩陽合於前。故曰陽明。申者七月之生陰也。主右足之少陰。丑者十二月。主左足之少陰。酉者八月。主右足之太陰。子者十一月。主左足之太陰。</p>
<p>戌者九月。主右足之厥陰。亥者十月。主左足之厥陰。此兩陰交盡。故曰厥陰。甲主左手之少陽。己主右手之少陽。乙主左手之太陽。戊主右手之太陽。丙主左手之陽明。丁主右手之陽明。此兩火並合。故為陽明。庚主右手之少陰。癸主左手之少陰。辛主右手之太陰。壬主左手之太陰。故足之陽者。陰中之少陽也。足之陰者。陰中之太陰也。手之陽者。</p>
<p>陽中之太陽也。手之陰者。陽中之少陰也。腰以上者為陽。腰以下者為陰。其於五臟也。心為陽中之太陽。肺為陽中之少陰。肝為陰中之少陽。脾為陰中之至陰。腎為陰中之太陰。黃帝曰。以治奈何。岐伯曰。正月二月三月。人氣在左。</p>
<p>無刺左足之陽。四月五月六月。人氣在右。無刺右足之陽。七月八月九月。人氣在右。無刺右足之陰。十月十一月十二月。人氣在左。無刺左足之陰。黃帝曰。五行以東方甲乙木王春。春者蒼色。主肝。肝者足厥陰也。今乃以甲為左手之少陽。不合於數。何也。岐伯曰。此天地之陰陽也。非四時五行之以次行也。且夫陰陽者。有名而無形。故數之可十。</p>
<p>離之可百。散之可千。推之可萬。此之謂也。</p>
<p>此篇之義。今無可考而筆自清利可喜。</p>
<h3>病傳第四十二</h3>
<p>黃帝曰。余受九針於夫子。而私覽於諸方。或有導引行氣喬（喬即蹺字）摩灸熨刺KT　飲藥之一者。（諸方之書各明其一法也）可獨守耶。將盡行之乎。岐伯曰。諸方者。眾人之方也。非一人之所盡行也。黃帝曰。此乃所謂守一勿失萬物畢者也。今余已聞陰陽之要。虛實之理。傾移之過。可治之屬。愿聞病之變化。淫傳絕敗。而不可治者。可得聞乎。</p>
<p>岐伯曰。要乎哉問道。昭乎其如日醒。窘乎其如夜瞑。能被而服之。神與俱成。畢將服之。神自得之。生神之理。可著於竹帛。不可傳於子孫。黃帝曰。何謂日醒。岐伯曰。明於陰陽。如惑之解。如醉之醒。黃帝曰。何謂夜瞑。岐伯曰。</p>
<p>喑乎其無聲。漠乎其無形。是故折毛髮。理正氣。橫傾淫邪泮衍血脈傳溜大氣入臟。腹痛下淫可以致死不可以致生。黃帝曰。大氣入臟奈何。岐伯曰。病先發於心。一日而之肺。三日而之肝。五日而之脾。三日不已死。冬夜半。夏日中。</p>
<p>病先發於肺。三日而之肝。一日而之脾。五日而之胃。十日不已。死。冬日入。夏日出。病先發於肝。三日而之脾。五日而之胃。三日而之腎。三日不已。死。冬日入。夏早食。病先發於脾。一日而之胃。二日而之腎。三日而之膂膀胱。</p>
<p>十日不已。死。冬人定。夏晏食。病先發於胃。五日而之腎。三日而之膂膀胱。五日而上之心。二日不已。死。冬夜半。</p>
<p>夏日　。病先發於腎。三日而之膂膀胱。三日而上之心。三日而之小腸。三日不已。死。冬大晨。夏晏晡。病先發於膀胱。五日而之腎。一日而之小腸。一日而之心。二日不已。死。冬雞鳴。夏下晡。諸病以次相傳如是者。皆有死期。不可刺也。間一臟及二三四臟者。乃可刺。</p>
<p>布局運筆。緩急得宜。操縱有力。</p>
<h3>淫邪發夢第四十三</h3>
<p>黃帝曰。愿聞淫邪泮衍。奈何。岐伯曰。正邪從外襲內。而未有定舍。反淫於臟不得定處。與營衛俱行。而與魂魄飛揚。使人臥不得安。而喜夢氣淫於腑。則有餘於外。不足於內。氣淫於臟則有餘於內。不足於外。黃帝曰。有餘不足有形乎。岐伯曰。陰氣盛則夢涉大水而恐懼。陽氣盛則夢大火而燔KT　。陰陽俱盛則夢相殺。上盛則夢飛。下盛則夢墮。</p>
<p>甚飢則夢取。甚飽則夢予。肝氣盛則夢怒。肺氣盛則夢恐懼哭泣飛揚。心氣盛則夢善笑恐畏。脾氣盛則夢歌樂。身體重不舉。腎氣盛則夢腰脊兩解不屬。凡此十二盛者至而瀉之立已。厥氣客於心。則夢見邱山煙火。客於肺。則夢飛揚。見金鐵之奇物。客於肝。則夢山林樹木。客於脾。則夢見邱陵大澤。壞屋風雨。客於腎。則夢臨淵。沒居水中。客於膀胱。</p>
<p>則夢游行。客於胃。則夢飲食。客於大腸。則夢田野。客於小腸。則夢聚邑沖衢。客於膽。則夢斗訟自刳。客於陰器。</p>
<p>則夢接內。客於項。則夢斬首。客於脛。則夢行走而不能前。及居深地　苑中。客於股肱。則夢禮節拜起。客於胞　。</p>
<p>則夢溲便。凡此十五不足者。至而補之立已也。</p>
<p>布局如時文之兩大比者。每比中又各有十二排十五排。所謂大陣包小陣。大營包小營也。文勢如怒潮涌上千夫辟易。</p>
<h3>順氣一日分為四時第四十四</h3>
<p>黃帝曰。夫百病之所始生者。必起於燥濕寒暑風雨陰陽喜怒飲食居處。氣合而有形得藏而有名。余知其然也。夫百病者。多以旦慧晝安夕加夜甚何也。岐伯曰。四時之氣使然。黃帝曰。愿聞四時之氣。岐伯曰。春生夏長。秋收冬藏。</p>
<p>是氣之常也。人亦應之。以一日分為四時。朝則為春。日中為夏。日入為秋。夜半為冬。朝則人氣始生。病氣衰。故旦慧。日中人氣長。長則勝邪。故安。夕則人氣始衰。邪氣始生。故加。夜半人氣入臟。邪氣獨居於身。故甚也。黃帝曰。</p>
<p>其時有反者何也。岐伯曰。是不應四時之氣。臟獨主其病者。是必以臟氣之所不勝時者。甚以其所勝時者。起也。黃帝曰。治之奈何。岐伯曰。順天之時。而病可與期。順者為工。逆者為粗。黃帝曰。善。余聞刺有五變。以主五輸。愿聞其數。岐伯曰。人有五臟。五臟有五變。五變有五輸。故五五二十五輸。以應五時。黃帝曰。愿聞五變。岐伯曰。肝為牡臟。其色青。其時春。其音角。其味酸。其日甲乙。心為牡臟。其色赤。其時夏。其日丙丁。其音徵。其味苦。脾為牝臟。其色黃。其時長夏。其日戊己。其音宮。其味甘。肺為牝臟。其色白。其音商。其時秋。其日庚辛。其味辛。腎為牝臟。其色黑。其時冬。其日壬癸。其音羽。其味鹹。是為五變黃帝曰。以主五輸奈何。岐伯曰。藏主冬。冬刺井。</p>
<p>色主春。春刺滎。時主夏。夏刺輸。音主長夏。長夏刺經。味主秋。秋刺合。是謂五變。以主五輸。黃帝曰。諸原安合。</p>
<p>以致六輸。岐伯曰。原獨不應五時。以經合之。以應其數。故六六三十六輸。黃帝曰。何謂藏主冬。時主夏。音主長夏。</p>
<p>味主秋。色主春。愿聞其故。岐伯曰。病在藏者。取之井。病變於色者。取之滎。病時間時甚者。取之輸。病變於音者。</p>
<p>取之經。經滿而血者。病在胃及以飲食不節得病者。取之於合。故命曰味主合。是謂五變也。</p>
<p>先將本題正面敘畢。即從時字折出藏字。以下藏時合發。窮原竟委。五花八門有風檣陣馬之勢。</p>
<h3>外揣第四十五</h3>
<p>黃帝曰。余聞九針九篇。余親授其詞。頗得其意。夫九針者。始於一而終於九然未得其要道也。夫九針者。小之則無內。大之則無外深。不可為下。高不可為蓋。恍惚無窮。流溢無極。余知其合於天道人事四時之變也。然余愿雜之毫毛。渾束為一。可乎。岐伯曰。明乎哉問也。非獨針道焉。夫治國亦然。黃帝曰。余愿聞針道。非國事也。岐伯曰。夫治國者。夫惟道焉。非道何可小大深淺。雜合為一乎。黃帝曰。愿卒聞之。岐伯曰。日與月焉。水與鏡焉。鼓與響焉。</p>
<p>夫日月之明。不失其影。水鏡之察。不失其形。鼓響之應。不後其聲。動搖則應和。盡得其情。黃帝曰。窘乎哉。昭昭之明不可蔽。其不可蔽。不失陰陽也。合而察之。切而驗之。見而得之。若清水明鏡之不失其形也。五音不彰。五色不明。五臟波蕩。若是。則外內相襲。若鼓之應桴。響之應聲。影之似形。故遠者司外揣內。近者司內揣外。是謂陰陽之極。天地之蓋。請藏之靈蘭之室。弗敢使泄也。</p>
<p>筆機清利而理無發明。但極稱針法之神妙耳。</p>
<h3>五變第四十六</h3>
<p>黃帝問於少俞曰。余聞百疾之始起也。必生於風雨寒暑。循毫毛而入腠理。或復還。或留止。或為風腫汗出。或為消癉。或為寒熱。或為留痹。或為積聚奇邪淫溢。不可勝數。愿聞其故。夫同時得病。或病此。或病彼。意者天之為人生風乎。何其異也。少俞曰。夫天之風者。非以私百姓也。其行公平正直。犯者得之。避者得無。殆非求人。而人自犯之。黃帝曰。一時遇風。同時得病。其病各異愿聞其故。少俞曰。善乎哉問。請論以比匠人。匠人磨斧斤礪刀。削斫材木。木之陰陽。尚有堅脆。堅者不入。脆者皮弛。至其交節。而缺斤斧焉。夫一木之中。堅脆不同。堅者則剛。脆者易傷。況其材木之不同。皮之濃薄。汁之多少。而各異邪。夫木之早花先生葉者。遇春霜烈風。則花落而葉萎。久曝大旱。</p>
<p>則脆木薄皮者。枝條汁少而葉萎。久陰淫雨。則薄皮多汁者。皮潰而漉。卒風暴起。則剛脆之木。枝折杌傷。（杌通　字）</p>
<p>秋霜疾風。則剛脆之木。根搖而葉落。凡此五者。各有所傷。況於人乎。黃帝曰。以人應木奈何。少俞答曰。木之所傷也。皆傷其枝。枝之剛脆而堅。未成傷也。人之有常病也。亦因其骨節皮膚腠理之不堅固者。邪之所舍也。故常為病也。</p>
<p>黃帝曰。人之善病風厥漉汗者。何以候之。少俞答曰。肉不堅。腠理疏。則善病風。黃帝曰。何以候肉之不堅也。少俞答曰。　肉不堅而無分理者粗理。粗理而皮不致者腠理疏。此言其渾然者。黃帝曰。人之善病消癉者。何以候之。少俞答曰。五臟皆柔弱者。善病消癉。黃帝曰。何以知五臟之柔弱也。少俞答曰。夫柔弱者。必有剛強。剛強多怒。柔者易傷也。（此言臟氣之相凌也）黃帝曰。何以候柔弱之與剛強。少俞答曰。此人薄皮膚而目堅固以深者。長沖直揚。其心剛。</p>
<p>剛則多怒。怒則氣上逆。胸中蓄積。血氣逆留。　皮充肌。血脈不行。轉而為熱。熱則消肌膚。故為消癉。此言其人暴剛而肌肉弱者也。黃帝曰。人之善病寒熱者。何以候之。少俞答曰。小骨弱肉者。（據下文此句缺色字一層）善病寒熱。</p>
<p>黃帝曰。何以候骨之小大。肉之堅脆。色之不一也。少俞答曰。顴骨者。骨之本也。顴大則骨大。顴小則骨小。皮膚薄而其肉無　。其臂懦懦然。其地色殆然。不與其天同色。污然獨異。此其候也。然後臂薄者。其髓不滿故善病寒熱也。（地地閣也天天庭也然後猶而又也寒熱壬水云瘧也據此可知瘧邪之源流與治法矣）黃帝曰。何以候人之善病痹者。少俞答曰。</p>
<p>粗理而肉不堅者。善病痹。黃帝曰。痹之高下有處乎。少俞答曰。欲知其高下者。各視其部。（詳後五色篇中）黃帝曰。</p>
<p>人之善病腸中積聚者。何以候之。少俞答曰皮膚薄而不澤。肉不堅而淖澤。如此腸胃惡。惡則邪氣留止。積聚乃傷。脾胃之間。寒溫不次邪氣稍至　積留止大聚乃起。（積聚多在胃小腸之外絡由內傷飲食外感寒濕表裡相迫血氣以凝也凡暑天形勞大渴飲冷最易成積以內血沸騰得冷乍遏故也）黃帝曰。余聞病形。已知之矣。愿聞其時。少俞答曰。先立其年。以知其時。時高則起。時下則殆。（高下面骨之滿陷也此即風鑒家面部分年之事也）雖不陷下。當年有沖通。其病必起。（沖通流年克犯生命也此即星命家干支生克之事也先立其年謂先立其人之生年也）是謂因形而生病。五變之紀也。</p>
<p>專以形之堅脆論人之病。反覆詳明氣充詞沛。結筆推出時字。仍歸到形字。筆力尤見遒勁。</p>
<h3>本藏第四十七</h3>
<p>黃帝問於岐伯曰。人之血氣精神者。所以奉生而周於性命者也。經脈者。所以行血氣。而營陰陽。濡筋骨利關節者也。衛氣者。所以溫分肉充皮膚肥腠理司關闔者也。志意者。所以御精神收魂魄適寒溫和喜怒者也。是故血和則經脈流行。營覆陰陽筋骨勁強關節清利矣。衛氣和則分肉解利。皮膚調柔腠理致密矣。志意和則精神專直魂魄不散。恚怒不起。</p>
<p>五臟不受邪矣。寒溫。和則六腑化穀。風痹不作。經脈通利。肢節得安矣。此人之常平也。五臟者。所以藏精神。血氣魂魄者也。六腑者。所以化水穀而行津液者也。此人之所以具受於天也。無愚智賢不肖無以相倚也。然有其獨盡天壽。</p>
<p>而無邪僻之病。百年不衰。雖犯風雨卒寒。大暑猶有弗能害也。有其不離屏蔽室內。無怵惕之恐。然猶不免於病何也。</p>
<p>愿聞其故。岐伯曰。窘乎哉問也。五臟者。所以參天地副陰陽而運四時化五節者也。五臟者。故有小大高下堅脆端正偏傾者。六腑亦有小大長短濃薄結直緩急。凡此二十五者。各不同。或善或惡。或吉或凶。請言其方。心小。則安。邪弗能傷。易傷以憂。心大。則憂不能傷。易傷於邪。心高。則滿於肺中　而善忘。難開以言。心下。則藏外。易傷於寒。</p>
<p>易恐以言。心堅。則臟安守固。心脆。則善病消癉熱中。心端正。則和利難傷。心偏傾。則操持不一。無守司也。肺小。</p>
<p>則少飲。不病喘喝。肺大。則多飲。善病胸痹。喉痹逆氣。肺高。則上氣肩息咳。肺下。則居賁迫肝。善脅下痛。肺堅。</p>
<p>則不病咳上氣。肺脆。則苦病消癉。易傷。肺端正。則和利難傷。肺偏傾。則胸偏痛也。肝小。則臟安。無脅下之病。</p>
<p>肝大。則逼胃迫咽。則苦膈中且脅下痛。肝高。則上支賁切脅。　為息賁。肝下。則逼胃。脅下空。脅下空。則易受邪。</p>
<p>肝堅。則臟安難傷。肝脆。則善病消癉。易傷。肝端正。則和利難傷。肝偏傾。則脅下痛也。脾小。則臟安。難傷於邪也。脾大。則苦湊　而痛。不能疾行。脾高。則　引季脅而痛。脾下。則下加於大腸。下加於大腸。則臟苦受邪。脾堅。</p>
<p>則臟安難傷。脾脆。則善病消癉。易傷。脾端正。則和利難傷。脾偏傾。則善滿善脹也。腎小。則臟安難傷。腎大。則善病腰痛。不可以俯仰。易傷以邪。腎高。則苦背膂痛。不可以俯仰。腎下。則腰尻痛。不可以俯仰。為狐疝。腎堅。</p>
<p>則不病腰背痛。腎脆。則苦病消癉。易傷。腎端正。則和利難傷。腎偏傾。則苦腰尻痛也。凡此二十五變者。人之所苦常病也。黃帝曰。何以知其然也。岐伯曰。赤色。小理者心小。粗理者心大。無　KT　者心高。　KT　小短舉者心下。</p>
<p>KT　長者心下堅。　KT　弱小以薄者心脆。　KT　直下不舉者心端正。　KT　倚一方者心偏傾也。白色。小理者肺小。粗理者肺大。巨肩反膺陷喉者肺高。合腋張脅者肺下。好肩背濃者肺堅。肩背薄者肺脆背膺濃者肺端正。脅偏疏者肺偏傾也。青色。小理者肝小。粗理者肝大。廣胸反　者肝高。合脅兔　者肝下。胸脅好者肝堅。脅骨弱者肝脆。膺腹好相得者肝端正。脅骨偏舉者肝偏傾也。黃色。小理者脾小。粗理者脾大。揭唇者脾高。唇下縱者脾下。唇堅者脾堅。</p>
<p>唇大而不堅者脾脆。唇上下好者脾端正。唇偏舉者脾偏傾也。黑色。小理者腎小。粗理者腎大。高耳者腎高。耳後陷者腎下。耳堅者腎堅。耳薄不堅者腎脆。耳好前居牙車者。腎端正。耳偏高者腎偏傾也。凡此諸變者持則安減則病也。帝曰。善然非余之所問也。愿聞人之有不可病者。至盡天壽。雖有深憂大恐。怵惕之志。猶不能減也。甚寒大熱。不能傷也。其有不離屏蔽室內。又無怵HT　之恐。然不免於病者。何也。愿聞其故。岐伯曰。五臟六腑邪之舍也。請言其故。五臟皆小者。少病苦　心。大愁憂。五臟皆大者。緩於事。難使以憂。五臟皆高者。好高舉措。五臟皆下者。好出人下。</p>
<p>五臟皆堅者。無病。五臟皆脆者。不離於病。五臟皆端正者。和利得人心。五臟皆偏傾者。邪心而善盜。不可以為人平。</p>
<p>反復言語也。黃帝曰。愿聞六腑之應。岐伯答曰。肺合大腸。大腸者皮。其應心合小腸。小腸者脈其應肝合膽。膽者筋其應脾合胃。胃者肉其應腎合三焦膀胱。三焦膀胱者腠理。毫毛其應。黃帝曰。應之奈何。岐伯曰。肺應皮。皮濃者大腸濃。皮薄者大腸薄。皮緩腹裹大者大腸大而長。皮急者大腸急而短。皮滑者大腸直。皮肉不相離者大腸結。心應脈。</p>
<p>皮濃者脈濃。脈濃者小腸濃。皮薄者脈薄。脈薄者小腸薄。皮緩者脈緩。脈緩者小腸大而長。皮薄而脈波小者。小腸小而短。諸陽經脈皆多紆屈者。小腸結。脾應肉。肉　堅大者胃濃。肉　麼者胃薄。肉　小而麼者胃不堅。肉　不稱身者胃下。胃下者下管約不利。肉　不堅者胃緩。肉　無小裹累者胃急。肉　多小裹累者胃結。胃結者上管約不利也。肝應爪。爪濃色黃者膽濃。爪薄色紅者膽薄。爪堅色青者膽急。爪濡色赤者膽緩。爪直色白無約者膽直。爪惡色黑多紋者膽結也。腎應骨。密理濃皮者三焦膀胱濃。粗理薄皮者三焦膀胱薄。疏腠理者三焦膀胱緩。皮急而無毫毛者三焦膀胱急。</p>
<p>毫毛美而粗者三焦膀胱直。稀毫毛者三焦膀胱結也。黃帝曰。濃薄美惡皆有形。愿聞其所病。岐伯答曰。視其外應以知其內藏則知所病矣。（起極宏敞結極涵蓄）</p>
<p>起節詞義精湛。入後頭緒極繁。而馭之以整云垂海立氣象萬千。其篇法詞藻。均極可觀。如大將登壇千軍萬馬中。</p>
<p>自有弱扇綸巾之度。</p>
<h2>卷八</h2>
<h3>禁服第四十八</h3>
<p>（經脈篇引作禁脈）</p>
<p>雷公問於黃帝曰。細子得受業。通於九針六十篇。旦暮勤服之。近者編絕。久者簡垢。然尚諷誦弗置。未盡解於意矣。外揣言渾束為一。未知所謂也。夫大則無外。小則無內。大小無極。高下無度。束之奈何。士之才力。或有濃薄。</p>
<p>智慮褊淺。不能博大深奧。自強於學若細子。細子恐其散於後世。絕於子孫。敢問約之奈何。黃帝曰。善乎哉問也。此先師之所禁。坐私傳之也。割臂歃血之盟也。子若欲得之。何不齋乎。雷公再拜而起曰。謹聞命於是也。乃齋宿三日而請曰。敢問今日正陽。細子愿以受盟。黃帝乃與俱入齋室。割臂歃血。黃帝親祝曰。今日正陽。歃血傳方。有敢背此言者。反受其殃。雷公再拜曰。細子受之。黃帝乃左握其手。右授之書。曰。慎之慎之。吾為子言之。凡刺之理。經脈為始。營其所行。知其度量。內刺五臟。外刺六腑。審察衛氣。為百病母。調諸虛實。虛實乃止。瀉其血絡。血盡不殆矣。</p>
<p>雷公曰。此皆細子之所以通。未知其所約也。黃帝曰。夫約方者。猶約囊也。囊滿而弗約。則輸泄。方成弗約。則神與弗俱。雷公曰。愿為下材者。勿滿而約之。黃帝曰。未滿而知約之。以為工。不可以為天下師。雷公曰。愿聞為工。黃帝曰。寸口主中。人迎主外。兩者相應。俱往俱來。若引繩。大小齊等。春夏人迎微大。秋冬寸口微大。如是者。名曰平人。人迎大一倍於寸口。病在足少陽。一倍而躁。在手少陽。人迎二倍。病在足太陽。二倍而躁。病在手太陽。人迎三倍。病在足陽明。三倍而躁。病在手陽明。盛則為熱。虛則為寒。緊則為痛痹。代則乍甚乍間。盛則瀉之。虛則補之。</p>
<p>緊痛則取之分肉。代則取血絡。具飲藥。陷下則灸之。不盛不虛。以經取之。名曰經刺。人迎四倍者。且大且數。名曰溢陽。溢陽為外格。死不治。必審按其本末。察其寒熱。以驗其臟腑之病。寸口大於人迎一倍。病在足厥陰。一倍而躁。</p>
<p>在手心主。寸口二倍。病在足少陰。二倍而躁。在手少陰。寸口三倍。病在足太陰。三倍而躁。在手太陰。盛則脹滿。</p>
<p>寒中。食不化。虛則熱中。出糜。少氣。溺色變。緊則痛痹。代則乍痛乍止。盛則瀉之。虛則補之。緊則先刺而後灸之。</p>
<p>代則取血絡而後調之。陷下則徒灸之。陷下者脈血結於中。中有著血。血寒故宜灸之。不盛不虛。以經取之。寸口四倍者。名曰內關。內關者。且大且數。死不治。必審察其本末之寒溫。以驗其臟腑之病。通其營輸。乃可傳於大數。大數曰。盛則徒瀉之。虛則徒補之。緊則灸刺。且飲藥。陷下則徒灸之。不盛不虛。以經取之。所謂經治者。飲藥。亦曰灸刺。脈急則引脈大以弱則欲安靜用力無勞也。</p>
<p>前路紆徐。後路整肅。極奔放又極謹嚴。字裡行間具陰陽開合之妙。此篇約萬病延醫之法於人迎寸口。惜今失傳不能用也。合難經覆溢關格之義。參之人迎似關前寸口。似即關後。其以大小倍數分三陰三陽。當是浮中沉之事也。恨無明文可證之。</p>
<h3>五色第四十九</h3>
<p>雷公問於黃帝曰。五色獨決於明堂乎。小子未知其所謂也。黃帝曰。明堂者。鼻也。闕者。眉間也。庭者。顏也。</p>
<p>蕃者。頰側也。蔽者。耳門也。其間欲方大。去之十步。皆見於外。如是者。壽必中百歲。雷公曰。五官之辨奈何。黃帝曰。明堂骨高以起。平以直。五臟次於中央。六腑挾其兩側。首面上於闕庭。王宮在於下極。五臟安於胸中。真色以致。病色不見。明堂潤澤以清。五官惡得無辨乎。雷公曰。其不辨者。可得聞乎。黃帝曰。五色之見也。各出其色部。</p>
<p>部骨陷者。必不免於病矣。其色部乘襲者。雖病甚。不死矣。雷公曰。官五色。奈何。黃帝曰。青黑為痛。黃赤為熱。</p>
<p>白為寒。是謂五官。雷公曰。病之益甚。與其方衰。如何。黃帝曰。外內皆在焉。切其脈口滑小緊以沉者。病益甚。在中。人迎氣大緊以浮者。其病益甚。在外。其脈口浮滑者。病日進。人迎沉而滑者。病日損。其脈口滑以沉者。病日進。</p>
<p>在內。其人迎脈滑盛以浮者。其病日進。在外。脈之浮沉。及人迎與寸口氣小大等者。病難已。病之在臟。沉而大者易已。小為逆。病在腑。浮而大者。其病易已。人迎盛堅者傷於寒。氣口甚堅者傷於食。雷公曰。以色言病之間甚。奈何。</p>
<p>黃帝曰。其色粗以明。沉夭者為甚。其色上行者。病益甚。其色下行。如云徹散者。病方已。五色。各有臟部。有外部。</p>
<p>有內部也。色從外部走內部者。其病從外走內。其色從內走外者。其病從內走外。病生於內者。先治其陰。後治其陽。</p>
<p>反者益甚。其病生於陽者。先治其外。後治其內。反者益甚。其脈滑大以代而長者。病從外來。目有所見。志有所惡。</p>
<p>此陽氣之並也。可變而已。（變謂移精變氣也）雷公曰。小子聞風者。百病之始也。厥逆者。寒濕之起也。別之奈何。黃帝曰。當候闕中。薄澤為風。沖濁為痹。在地為厥。此其常也。各以其色言其病。雷公曰。人不病卒死。何以知之。黃帝曰。大氣入於臟腑者。不病而卒死矣。雷公曰。病小愈而卒死者。何以知之。黃帝曰。赤色出兩顴。大如母指者。病雖小愈。必卒死。黑色出於庭。大如母指。必不病而卒死。雷公再拜曰。善哉。其死有期乎。黃帝曰。察色以言其時。（以上為前半篇論色論部論病論死大義已晰下文乃申釋之耳）雷公曰。善乎。愿卒聞之。黃帝曰。庭者。首面也。闕上者。</p>
<p>咽喉也。闕中者。肺也。下極者。心也。直下者。肝也。肝左者。膽也。下者。脾也。方上者。胃也。（下謂面王即鼻準也方上謂正當鼻準之上即準上低扼之處凡胃氣虛陷者其處必低陷可征也方義與前本　篇大陵掌後兩骨之間方下者也義相同舊以為迎香者失之）中央者。大腸也。挾大腸者。腎也。當腎者。臍也。面王以上者。小腸也。面王以下者。膀胱子處也。顴者。肩也。顴後者。臂也。臂下者。手也。目內　上者。膺乳也。挾繩而上者。背也。循牙車以下者。股也。</p>
<p>中央者。膝也。膝以下者。脛也。當脛以下者。足也。巨分者。股裡也。巨屈者。膝臏也。此五臟六腑肢節之部也。各有部分。有陰陽。用陰和陽。用陽和陰。當明部分。萬舉萬當。能別左右。是謂大道。男女異位。故曰陰陽。審察澤夭。</p>
<p>謂之良工。沉濁為內。浮澤為外。黃赤為風。青黑為痛。白為寒。黃而膏潤為膿。赤甚者為血。痛甚為攣。寒甚為皮不仁。五色各見其部。察其浮沉。以知淺深。察其澤夭。以觀成敗。察其散搏。以知遠近。視色上下。以知病處。積神於心。以知往今。故相氣不微。不知是非。屬意勿去乃知新故。色明不粗。沉夭為甚。不明不澤。其病不甚。其色散。駒駒然未有聚。其病散而氣痛。聚未成也。腎乘心。心先病。腎為應。色皆如是。男子色（色黑色也跟腎乘心說來）在於面王。為小腹痛。下為卵痛。其圜直為莖痛。高為本。下為首。狐疝　陰之屬也。女子在於面王。為膀胱子處之病。散為痛。搏為聚。方員左右。各如其色形。其隨而下至胝。為淫。有潤如膏狀。為暴食不潔。左為左。右為右。其色有邪。</p>
<p>聚散而不端。面色所指者也。色者。青黑赤白黃。皆端滿。有別鄉。別鄉赤者。其色赤大如榆莢。在面王。為不月。其色上銳首空。上向。下銳。下向。在左右。如法。以五色命臟。青為肝。赤為心。白為肺。黃為脾。黑為腎。肝合筋。</p>
<p>心合脈。肺合皮。脾合肉。腎合骨也。（以上二節為後半篇詳列面色之部詳敘察色之法皆申釋前半篇之義其詞繁不殺看似蕪雜而實句句皆指點神情）</p>
<p>頭緒既繁。布局亦散。然細審其賓主輕重之理。斷續脫卸之法。自覺起伏奇正。步步相生中間有正敘。有帶敘。有補敘。有插敘。忽分忽合。忽即忽離。官止神行。極行文變化之能事。</p>
<h3>論勇第五十</h3>
<p>黃帝問於少俞曰。有人於此。並行並立。其年之長少等也。衣之濃薄均也。卒然遇烈風豪雨。或病。或不病。或皆病。或皆不病。其故何也。少俞曰。帝問何急。黃帝曰。愿盡聞之。少俞曰。春青風。夏陽風。秋涼風。冬寒風。凡此四時之風者。其所病各不同形。黃帝曰。四時之風。病患如何。少俞曰。黃色薄皮弱肉者。不勝春之虛風。白色薄皮弱肉者。不勝夏之虛風。青色薄皮弱肉。不勝秋之虛風。赤色薄皮弱肉。不勝冬之虛風也。黃帝曰。黑色不病乎。少俞曰。</p>
<p>黑色而皮濃肉堅。固不傷於四時之風。其皮薄而肉不堅。色不一者。長夏至而有虛風者病矣。其皮濃而肌肉堅者。長夏至而有虛風。不病也。其皮濃而肌肉堅者。必重感於寒外內皆然。乃病。黃帝曰。善。黃帝曰。夫人之忍痛與不忍痛者。</p>
<p>非勇怯之分也。夫勇士之不忍痛者。見難則前。見痛則止。夫怯士之忍痛者。聞難則恐。遇痛不動。夫勇士之忍痛者。</p>
<p>見難不恐。遇痛不動。夫怯士之不忍痛者。見難與痛。目轉面　。恐不能言。失氣驚。（句有脫字）顏色變化。乍死乍生。</p>
<p>余見其然也。不知其何由。愿聞其故。少俞曰。夫忍痛與不忍痛者。皮膚之薄濃。肌肉之堅脆緩急之分也。非勇怯之謂也。黃帝曰。愿聞勇怯之所由然。少俞曰。勇士者。目深以固。長沖直揚。三焦理橫。其心端直。其肝大以堅。其膽滿以傍。怒則氣盛而胸張。肝舉而膽橫。　裂而目揚。毛起而面蒼。此勇士之所由然者也。黃帝曰。愿聞怯士之所由然。</p>
<p>少俞曰。怯士者。目大而不減。陰陽相失。其焦理縱。　KT　短而小。肝系緩其膽不滿。而縱腸胃挺。脅下空。雖方大怒氣不能滿其胸。肝肺雖舉。氣衰復下。故不能久怒。此怯士之所由然者也。黃帝曰。怯士之得酒。怒不避勇士者。何臟使然。少俞曰。酒者水穀之精。熟穀之液也。其氣　悍。其入於胃中。則胃脹。氣上逆滿於胸中肝浮膽橫。當是之時。</p>
<p>固比於勇士。氣衰則悔。與勇士同類。不知避之。名曰酒悖也。</p>
<p>前後兩截不續。前論五色之人。後論勇怯之性。前論外邪之傷。後論中情之變。筆致醒快生動可喜。</p>
<h3>背第五十一</h3>
<p>黃帝問於岐伯曰。愿聞五臟之　。出於背者。岐伯曰。胸中大　。在杼骨之端。肺　在三焦之間。心　在五焦之間。</p>
<p>膈在七焦之間。肝　在九焦之間。脾　在十一焦之間。腎　在十四焦之間。皆挾脊相去三寸所。則欲得而驗之。按其處。應在中而痛解。乃其　也。灸之則可。刺之則不可。氣盛則瀉之。虛則補之。以火補者。毋吹其火須自滅也。以火瀉者。疾吹其火。傳其艾須。其火滅也。</p>
<p>簡淨。揣應在中而痛。解及灸可。刺不可。句是本篇之前。當有脫簡。必是專論結痛之病也。</p>
<h3>衛氣第五十二</h3>
<p>黃帝曰。五臟者。所以藏精神魂魄者也。六腑者。所以受水穀而化行物者也。其氣內干五臟而外絡肢節其浮氣之不循經者。為衛氣其精氣之行於經者。為營氣陰陽相隨外內相貫如環之無端亭亭　乎孰能窮之。然其分別陰陽。皆有標本虛實所離之處。能別陰陽十二經者。知病之所生。候虛實之所在者。能得病之高下。知六腑之氣街者。能知解結契紹於門戶。能知虛實之堅軟者。知補瀉之所在。能知六經之標本者。可以無惑於天下。岐伯曰。博哉聖帝之論。臣請盡意悉言之。足太陽之本。在跟以上五寸中。標在兩絡命門。命門者目也。足少陽之本。在竅陰之間。標在窗籠之前。窗籠者耳也。足少陰之本。在內踝下上三寸中。標在背　。與舌下兩脈也。足厥陰之本。在行間上五寸所。標在背　也。足陽明之本。在厲兌。標在人迎。頰挾頏顙者也。（頰下當有脫字揣文義是申釋人迎穴在頰下挾頏顙之處也）足太陰之本。</p>
<p>在中封前上四寸之中。標在背　。與舌本也。手太陽之本。在外踝之後。標在命門之上一寸也。手少陽之本。在小指次指之間上二寸。標在耳後上角下。外　也。手陽明之本。在肘骨中。上至別陽。標在顏下合鉗上也。手太陰之本。在寸口之中。標在腋內動也。手少陰之本。在銳骨之端。標在背　也。手心主之本在掌後兩筋之間二寸中。標在腋下。下三寸也。凡候此者。下虛則厥。下盛則熱。上虛則眩。上盛則熱痛。故實者絕而止之。虛者引而起之。請言氣街。胸氣有街。腹氣有街。頭氣有街。脛氣有街。故氣在頭者。止之於腦。氣在胸者。止之膺與背　。氣在腹者。止之背　與衝脈於臍左右之動脈者。氣在脛者。止之於氣街與承山踝上以下。取此者。用毫針。必先按而在。久應於手。乃刺而予之。</p>
<p>所治者。頭痛眩仆。腹痛中滿暴脹。及有新積。痛可移者易已也。積不痛難已也。</p>
<p>文氣如天馬行空。蹈厲無前。氣盛言宜極行文之樂事。通篇是多少者。字卻不厭復以氣盛也。篇中依事理而立言。</p>
<p>不拘拘於分應提筆也。用意與營衛生會大同。</p>
<h3>論痛第五十三</h3>
<p>黃帝問於少俞曰。筋骨之強弱。肌肉之堅脆。皮膚之濃薄。腠理之疏密。各不同。其於針石火　之痛何如。腸胃之濃薄堅脆亦不等。其於毒藥何如。愿盡聞之。少俞曰。人之骨強筋弱肉緩皮膚濃者。耐痛。其於針石之痛。火　亦然。</p>
<p>黃帝曰。其耐火　者。何以知之。少俞答曰。加以黑色而美骨者。耐火　。黃帝曰。其不耐針石之痛者。何以知之。少俞曰。堅肉薄皮者。不耐針石之痛。於火　亦然。黃帝曰。人之病。或同時而傷。或易已。或難已。其故何如。少俞曰。</p>
<p>同時而傷其身多熱者。易已。多寒者。難已。黃帝曰。人之勝毒。何以知之。少俞曰。胃濃色黑。大骨及肥者。皆勝毒。</p>
<p>故其瘦而薄胃者。皆不勝毒也。</p>
<p>此篇起訖鶻突。義無歸宿。頗似他處錯簡。或本篇前後有脫簡也。</p>
<h3>天年第五十四</h3>
<p>黃帝問於岐伯曰。愿聞人之始生。何氣築為基。何立而為　。何失而死。何得而生。岐伯曰。以母為基。以父為　。</p>
<p>失神者死。得神者生也。黃帝曰。何者為神。岐伯曰。血氣已和。營衛已通。五臟已成。神氣舍心魂魄畢具乃成為人。</p>
<p>黃帝曰。人之壽夭各不同。或天壽。或卒死。或病久。愿聞其道。岐伯曰。五臟堅固。血脈和調。肌肉解利。皮膚致密營衛之行不失其常呼吸微。徐氣以度行六腑。化穀津液。布揚各如其常。故能長久。黃帝曰。人之壽百歲而死。何以致之。岐伯曰。使道隊以長。基牆高以方。通調營衛。三部三裡起。骨高肉滿。百歲乃得終。黃帝曰。其氣之盛衰。以至其死。可得聞乎。岐伯曰。人生十歲。五臟始定。血氣已通。其氣在下。故好走。二十歲。血氣始盛。肌肉方長。故好趨。三十歲。五臟大定。肌肉堅固。血氣盛滿。故好步。四十歲。五臟六腑。十二經脈。皆大盛以平定。腠理始疏。榮華頹落。發頗斑白。平盛不搖。故好坐。五十歲。肝氣始衰。肝葉始薄。膽汁始減。目始不明。六十歲。心氣始衰。苦憂悲。血氣懈惰。故好臥。七十歲。脾氣虛。皮膚枯。八十歲。肺氣衰。魄離。故言善誤。九十歲。腎氣焦。四臟經脈空虛。百歲。五臟皆虛。神氣皆去。形骸獨居而終矣。黃帝曰。其不能終壽而死者何如。岐伯曰。其五臟皆不堅。使道不長。空外以張。喘息暴疾。又卑基牆。薄脈少血。其肉不石。數中風寒。血氣虛。脈不通。真邪相攻。亂而相引。故中壽而盡也。（與上節收句有直壓橫勒之異此文情向背相映之致出於天籟之自然者也）</p>
<p>義精矣。而琢句堅卓短峭。在經文中別是一格。通篇層遞而下。末忽用反筆兜裹文陣。亦奇凡文之一反一正相對待者。古多一詳一略。如此篇壽夭兩項。相平既於壽上。分年詳敘則夭上。無待分敘矣。此等只作滾串文字。不得以對待視之。</p>
<h3>逆順第五十五</h3>
<p>黃帝問於伯高曰。余聞氣有逆順。脈有盛衰。刺有大約。可得聞乎。伯高曰。氣之逆順者。所以應天地陰陽四時五行也。脈之盛衰者。所以候血氣之虛實有餘不足。刺之大約者。必明知病之可刺。與其未可刺。與其已不可刺也。黃帝曰。候之奈何。伯高曰。兵法曰。無迎逢逢之氣。無擊堂堂之陣。刺法曰。無刺　之熱。無刺漉漉之汗。無刺渾渾之脈。無刺病與脈相逆者。黃帝曰。候其可刺奈何。伯高曰。上工刺其未生者也。其次刺其未盛者也。其次刺其已衰者也。</p>
<p>下工刺其方襲者也。與其形之盛者也。與其病之與脈相逆者也。故曰方其盛也。勿敢毀傷。刺其已衰。事必大昌。故曰上工治未病。不治已病。此之謂也。</p>
<p>如此短幅通體俱用排比而不嫌板滯者。氣盛故也。</p>
<h3>五味第五十六</h3>
<p>黃帝曰。愿聞穀氣有五味。其入五臟。分別奈何。伯高曰。胃者。五臟六腑之海也。水穀皆入於胃。五臟六腑。皆稟氣於胃。五味各走其所喜。穀味酸。先走肝。穀味苦。先走心。穀味甘。先走脾。穀味辛。先走肺。穀味鹹。先走腎。</p>
<p>穀氣津液已行營衛。大通乃化糟粕。又次傳下。黃帝曰。營衛之行奈何。伯高曰。穀始入於胃。其精微者。先出於胃之兩焦以溉。五臟別出兩行。營衛之道。其大氣之摶而不行者。積於胸中。命曰氣海。出於肺循喉咽。故呼則出。吸則入。</p>
<p>天地之精氣其大數常出。三入一故穀不入半日則氣衰。一日則氣少矣。黃帝曰。穀之五味。可得聞乎。伯高曰。請盡言之。五穀。　米甘。麻酸。大豆咸。麥苦。黃黍辛。五果。棗甘。李酸。栗咸。杏苦。桃辛。五畜。牛甘。犬酸。豬咸。</p>
<p>羊苦。雞辛。五菜。葵甘。韭酸。藿咸。薤苦。蔥辛。五色。黃色宜甘。青色宜酸。黑色宜咸。赤色宜苦。白色宜辛。</p>
<p>凡此五者各有所宜。五宜所言五色者。脾病者。宜食　米飯牛肉棗葵。心病者。宜食麥羊肉杏薤。腎病者。宜食大豆黃卷豬肉栗藿。肝病者。宜食麻犬肉李韭。肺病者。宜食黃黍雞肉桃蔥。五禁。肝病禁辛。心病禁咸。脾病禁酸。腎病禁甘。肺病禁苦。肝色青。宜食甘。　米飯牛肉棗葵皆甘。心色赤。宜食酸。犬肉麻李韭皆酸。脾色黃。宜食咸。大豆豕肉栗藿皆咸。肺色白。宜食苦麥羊肉杏薤皆苦。腎食品店黑。宜色辛。黃黍雞肉桃蔥皆辛。</p>
<p>用筆與天年篇同。而布陣尤奇。前從五味說到營衛。隨即接敘營衛是本題裡面一層卻提於題前發之。及入五味。正面先敘五物與五色之人所宜。是言平人所宜也。次敘五病宜禁。正義畢矣。又復敘五臟色所宜。自是諄復申明之意。獨怪敘五物。不厭繁復。反略於五禁。不與前五宜作對待。而詳於後五宜與前五宜似對不對。使人目眩。極寓奇於正之妙。</p>
<p>精悍之色不可逼視。</p>
<h2>卷九</h2>
<h3>水脹第五十七</h3>
<p>黃帝問於岐伯曰。水與膚脹鼓脹腸覃石瘕石水。何以別之。岐伯答曰。水始起也。目窠上微腫。如新臥起之狀。其頸脈動。時咳。陰股間寒。足脛腫。腹乃大。其水已成矣。以手按其腹隨手而起如裹水之狀。此其候也。黃帝曰。膚脹何以候之。岐伯曰。膚脹者。寒氣客於皮膚之間。　然不堅。腹大。身盡腫。皮濃。按其腹　而不起。腹色不變。此其候也。鼓脹何如。岐伯曰。腹脹。身皆大。大與膚脹等也。色蒼黃腹筋起。此其候也。腸覃何如。岐伯曰。寒氣客於腸外與衛氣相搏。氣不得營因有所系。癖而內著惡氣乃起　肉乃生。其始生也。大如雞卵。稍以益大。至其成。如懷子之狀。久者離歲。按之則堅。推之則移。月事以時下。此其候也。石瘕何如。岐伯曰。石瘕生於胞中。寒氣客於子門。</p>
<p>子門閉塞。氣不得通。惡血當瀉不瀉。　以留止。日以益大。狀如懷子。月事不以時下。皆生於女子。可導而下。黃帝曰。膚脹鼓脹可刺邪。岐伯曰。先瀉其脹之血絡。後調其經。刺去其血絡也。（通篇缺石水結筆缺水均別詳）</p>
<p>前提後束中間分敘筆陣整暇。</p>
<h3>賊風第五十八</h3>
<p>黃帝曰。夫子言賊風邪氣之傷人也。令人病焉。今有其不離屏蔽。不出室穴之中。卒然病者。非不離賊風邪氣。其故何也。岐伯曰。此皆嘗有所傷於濕氣。藏於血脈之中。分肉之間。久留而不去若有所墮墜。惡血在內而不去卒然。喜怒不節。飲食不適。寒溫不時。腠理閉而不通。其開而遇風寒。則血氣凝結。與故邪相襲。則為寒痹。其有熱。則汗出。</p>
<p>汗出。則受風。雖不遇賊風邪氣。必有因加而發焉。黃帝曰。今夫子之所言者。皆病患之所自知也。其毋所遇邪氣。又毋怵惕之所志。卒然而病者。其故何也。唯有因鬼神之事乎。岐伯曰。此亦有故邪。留而未發。因而志有所惡。及有所慕。血氣內亂。兩氣相搏。其所從來者微。視之不見。聽而不聞。故似鬼神。黃帝曰。其祝而已者。其故何也。岐伯曰。</p>
<p>先巫者。因知百病之勝。先知其病之所從生者。可祝而已也。</p>
<p>通篇一氣貫注筆筆凌空。前半筆勢馳騁。後半筆勢緊縮極操縱之能。</p>
<h3>衛氣失常第五十九</h3>
<p>黃帝曰。衛氣之留於腹中。蓄積不行。苑蘊不得常所。使人支脅。胸中滿。喘呼逆息者。何以去之。伯高曰。其氣積於胸中者。上取之。積於腹中者。下取之。上下皆滿者。旁取之。黃帝曰。取之奈何。伯高對曰。積於上。瀉大迎天突喉中。積於下者。瀉三裡與氣街。上下皆滿者。上下取之。與季脅之下一寸。重者。雞足取之。診視其脈。大而弦急。</p>
<p>及絕不至者。及腹皮急甚者。不可刺也。黃帝曰善。黃帝問於伯高曰。何以知皮肉氣血筋骨之病也。伯高曰。色起兩眉薄澤者。病在皮。唇色青黃赤白黑者病在肌肉。營氣霈然者。病在血脈。（脈一作氣非此即上編傷於濕氣藏於血脈之中也）</p>
<p>目色青黃赤白黑者。病在筋。耳焦枯如受塵垢者。病在骨。黃帝曰。病形何如。取之奈何。伯高曰。夫百病變化。不可勝數。然皮有部。肉有柱。血氣有輸。骨有屬。黃帝曰。愿聞其故。伯高曰。皮之部。輸於四末。肉之柱。在臂脛諸陽分肉之間。與足少陰分間。血氣之輸。輸於諸絡氣血留居。則盛而起。筋部無陰無陽。無左無右。候病所在。骨之屬者。</p>
<p>骨空之所以受益而益腦髓者也。黃帝曰。取之奈何。伯高曰。夫病變化。浮沉深淺。不可勝窮。各在其處。病間者淺之。</p>
<p>甚者深之。間者小之。甚者眾之。隨變而調氣。故曰上工。黃帝問於伯高曰。人之肥瘦大小寒溫。有老壯少小。別之奈何。伯高對曰。人年五十以上為老。二十以上為壯。十八以上為少。六歲以上為小。黃帝曰。何以度知其肥瘦。伯高曰。</p>
<p>人有肥。有膏。有肉。黃帝曰。別此奈何。伯高曰。　肉堅。皮滿者肥。　肉不堅。皮緩者膏。皮肉不相離者肉。黃帝曰。身之寒溫何如。伯高曰。膏者。其肉淖。而粗理者身寒。細理者身熱。脂者。其肉堅。細理者熱。粗理者寒。黃帝曰。其肥瘦大小奈何。伯高曰。膏者。多氣而皮縱緩。故能縱腹垂腴。肉者。身體容大。脂者。其身收小。黃帝曰。三者之氣血多少。何如。伯高曰。膏者多氣。多氣者熱。熱者耐寒。肉者多血。多血則充形。充形則平。脂者其血清。氣滑少。故不能大。此別於眾人者也。黃帝曰。眾人奈何。伯高曰。眾人皮肉脂膏。不相加也。血與氣不能相多。故其形不小不大。各自稱其身。命曰眾人。黃帝曰。善。治之奈何。伯高曰。必先別其三形。血之多少。氣之清濁。而後調之。</p>
<p>無失常經。是故膏人。縱腹垂腴。肉人者。上下容大。脂人者。雖脂不能大也。</p>
<p>前後三事文義不貫。文氣亦不接續。</p>
<h3>玉版第六十</h3>
<p>黃帝曰。余以小針為細物也。夫子乃言上合之於天。下合之於地。中合之於人。余以為過針之意矣。愿聞其故。岐伯曰。何物大於天乎。夫大於針者。惟五兵者焉。五兵者死之備也。非生之具。且夫人者。天地之鎮也。其不可不參乎。</p>
<p>夫治民者。亦唯針焉。夫針之與五兵。其孰小乎。黃帝曰。病之生時。有喜怒不測。飲食不節。陰氣不足。陽氣有餘。</p>
<p>營氣不行。乃發為癰疽。陰陽不通。兩熱相搏。乃化為膿。小針能取之乎。岐伯曰。聖人能不使化者。為知邪不可留也。</p>
<p>（言聖人能不使化膿者為知邪不可留而早治之也待膿已成豈小針之治乎）故兩軍相當。旗幟相望。白刃陳於中野者。此非一日之謀也。能使其民。令行禁止。士卒無白刃之難者。非一日之教也。須臾之得也。夫至使身被癰疽之病。膿血之聚者。不亦離道遠乎。夫癰疽之生。膿血之成也。不從天下。不從地出。積微之所生也。故聖人自治於未有形也。愚者遭其已成也。黃帝曰。其已形。不予遭。膿已成。不予見。為之奈何。岐伯曰。膿已成。十死一生。故聖人弗使已成。</p>
<p>而明為良方。著之竹帛。使能者踵而傳之後世。無有終時者。為其不予遭也。黃帝曰。其已有膿血而後遭乎。不導之以小針治乎。岐伯曰。以小治小者其功小。以大治大者多害。故其已成膿血者。其唯砭石鈹鋒之所取也。黃帝曰。多害者。</p>
<p>其不可全乎。岐伯曰。其在逆順焉。黃帝曰。愿聞逆順。岐伯曰。以為傷者。其白眼青。黑睛小。是一逆也。內藥而嘔者。是二逆也。腹痛渴甚。是三逆也。肩項中不便。是四逆也。音嘶色脫。是五逆也。除此五者為順矣。黃帝曰。諸病皆有逆順。可得聞乎。岐伯曰。腹脹。身熱。脈大。是一逆也。腹鳴而滿。四肢清泄。其脈大。是二逆也。衄而不止。</p>
<p>脈大。是三逆也。咳且溲血。脫形。其脈小勁。是四逆也。咳脫形。身熱。脈小以疾。是五逆也。如是者。不過十五日而死矣。其腹大脹。四末清。脫形。泄甚。是一逆也。腹脹。便血。其脈大。時絕。是二逆也。咳。溲血。形肉脫。脈搏。是三逆也。嘔血。胸滿引背。脈小而疾。是四逆也。咳嘔。腹脹且飧泄。其脈絕。是五逆也。如是者。不及一時而死矣。工不察此者而刺之。是謂逆治。黃帝曰。夫子之言針甚駿。以配天地。上數天文。下度地紀。內別五臟。外次六腑。經脈二十八會。盡有周紀。能殺生人。不能起死者。（二句承上啟下在有意無意之間不能起死即暗指前諸逆也）夫子能反之乎。岐伯曰。能殺生人。不能起死者也。黃帝曰。余聞之。則為不仁。然愿聞其道。弗行於人。岐伯曰。是明道也。其必然也。如刀劍之可以殺人。如飲酒之使人醉也。雖勿診猶可知矣。黃帝曰。愿卒聞之。岐伯曰。人之所受氣者穀也。穀之所注者胃也。胃者水穀氣血之海也。海之所行云氣者天下也。胃之所出氣血者。經隧也。經隧者五臟六腑之大絡也。迎而奪之而已矣。黃帝曰。上下有數乎。岐伯曰。迎之五裡。中道而止五至而已。五往而臟之氣盡矣。故五五二十五而竭其輸矣。此所謂奪其天氣者也。非能絕其命而傾其壽者也。（句義與上下不續非字疑當作是字）黃帝曰。愿卒聞之。岐伯曰。　門而刺之者。死於家中。入門而刺之者。死於堂上。黃帝曰。善乎方。明哉道。請著之玉版。以為重寶。傳之後世。以為刺禁。令民勿敢犯也。</p>
<p>帝先疑小針之無大功也。而岐伯極稱之下。乃接敘癰疽之重者。諸病之逆者。皆非小針所能治。以詰小針之果。無大功也。末乃推論針害以結之通篇一氣。貫注前後。尤筆致紆徐婉轉關生深情　。</p>
<h3>五禁第六十一</h3>
<p>黃帝問於岐伯曰。余聞刺有五禁。何謂五禁。岐伯曰。禁其不可刺也。黃帝曰。余聞刺有五奪。岐伯曰。無瀉其不可奪者也。黃帝曰。余聞刺有五過。岐伯曰。補瀉無過其度。黃帝曰。余聞刺有五逆。岐伯曰。病與脈相逆。命曰五逆。</p>
<p>黃帝曰。余聞刺有九宜。岐伯曰。明知九針之論。是謂九宜。黃帝曰。何謂五禁。愿聞其不可刺之時。岐伯曰。甲乙日自乘。無刺頭。無發　於耳內。丙丁日自乘。無振埃於肩喉廉泉。戊己日自乘四季。無刺腹。去爪瀉水。庚辛日自乘。</p>
<p>無刺關節於股膝。壬癸日自乘。無刺足脛。是謂五禁。黃帝曰。何謂五奪。岐伯曰。形肉已奪。是一奪也。大奪血之後。</p>
<p>是二奪也。大汗出之後。是三奪也。大泄之後。是四奪也。新產及大血之後。是五奪也。此皆不可瀉。黃帝曰。何謂五逆。岐伯曰。熱病。脈靜。汗已出。脈盛躁。是一逆也。病泄。脈洪大。是二逆也。著痹不移。　肉破。身熱。脈偏絕。</p>
<p>是三逆也。淫而奪形。身熱。色夭然白。及後下血　。血　篤重。是謂四逆也。（淫舊注房室過度也竊謂腸　沃沫精遺淋瀝盜汗之類皆是謂津氣蕩　而不收者也）寒熱奪形。脈堅搏。是謂五逆也。</p>
<p>前提其五後敘其三其二。絕無交代篇法不足言矣。而筆自謹嚴。按九宜詳前官針篇。</p>
<h3>動第六十二</h3>
<p>黃帝曰。經脈十二。而手太陰足少陰陽明獨動不休。何也。岐伯曰。是明胃脈也。（言諸動脈皆胃氣所貫也故下文三項皆跟定胃字）胃為五臟六腑之海。其清氣上注於肺。肺氣從太陰而行之其行也。以息往來。故人一呼脈再動。一吸脈亦再動。呼吸不已。故動而不止。黃帝曰。氣之過於寸口也。上出焉息。下入焉伏。（出入原作十八今從甲乙經改）何道從還。不知其極。岐伯曰。氣之離臟也。卒然如弓弩之發。如木之下。岸上於魚以反衰。其余氣衰散以逆上。故其行微。</p>
<p>黃帝曰。足之陽明。何因而動。岐伯曰。胃氣上注於肺。其悍氣上衝頭者。循咽。上走空竅。循眼系。入絡腦。出　。</p>
<p>下客主人。循牙車。合陽明。並下人迎。此胃氣別走於陽明者也。故陰陽上下。其動也。若一故陽病而陽脈小者。為逆陰病而陰脈大者。為逆。故陰陽俱靜。俱動。若引繩相傾者病。黃帝曰。足少陰何因而動。岐伯曰。衝脈者。十二經之海也。與少陰之大絡。起於腎。下出於氣街。循陰股內廉。邪入　中。循脛骨內廉。並少陰之經。下入內踝之後。入足下。其別者。邪入踝。出屬跗上。入大趾之間。注諸絡以溫足脛。此脈之常動者也。黃帝曰。營衛之行也。上下相貫。</p>
<p>如環之無端。今有其卒然遇邪氣及逢大寒。手足懈惰。其脈陰陽之道。相輸之會。行相失也。氣何由還。岐伯曰。夫四末陰陽之會者。此氣之大絡也。四街者。氣之徑路也。故絡絕。則徑通四末解。則氣從合相輸如環。黃帝曰。善。此所謂如環無端。莫知其紀。終而復始。此之謂也。</p>
<p>前三節分敘脈氣之源流。後節總敘經氣之變。氣充詞沛機神流暢。據此則人迎果系結喉兩旁動脈矣。與寸口分陰陽。</p>
<p>以大小分順逆。後世實難遵用。</p>
<h3>五味論第六十三</h3>
<p>黃帝問於少俞曰。五味入於口也。各有所走。各有所病。酸走筋。多食之令人癃。咸走血。多食之令人渴。辛走氣。</p>
<p>多食之令人洞心。苦走骨。多食之令人變嘔。甘走肉。多食之令人　心。余知其然也。不知其何由。愿聞其故。少俞答曰。酸入於胃其氣澀以收。上之兩焦弗能出入也。不出即留於胃中。胃中和溫則下注膀胱。膀胱之胞薄以懦。得酸則縮綣。約而不通。水道不行。故癃。陰者。積筋之所終也。故酸入而走筋矣。黃帝曰。咸走血。多食之令人渴。何也。少俞曰。咸入於胃。其氣上走中焦。注於脈。則血氣走之。血與咸相得則凝。凝則胃中汁注之。注之則胃中竭。竭則咽路焦。故舌本干而善渴。血脈者。中焦之道也。故咸入而走血矣。黃帝曰。辛走氣。多食之令人洞心。何也。少俞曰。辛入於胃其氣走於上焦。上焦者。受氣而營諸陽者也。薑韭之氣熏之。營衛之氣。不時受之。久留心下。故洞心。辛與氣俱行。故辛入而與汗俱出。黃帝曰。苦走骨。多食之令人變嘔。何也。少俞曰。苦入於胃五穀之氣。皆不能勝苦。苦入下脘。三焦之道皆閉而不通。故變嘔。齒者骨之所終也。故苦入而走骨。故入而復出。知其走骨也。黃帝曰。甘走肉。</p>
<p>多食之令人　心。何也。少俞曰。甘入於胃。其氣弱小不能上。至於上焦而與穀留於胃中者。令人柔潤者也。胃柔則緩。</p>
<p>緩則蟲動。蟲動則令人　心。其氣外通於肉。故甘走肉。</p>
<p>思清筆健不染纖塵。</p>
<h3>陰陽二十五人第六十四</h3>
<p>黃帝曰。余聞陰陽之人。何如。伯高曰。天地之間。六合之內。不離於五。人亦應之。故五五二十五人之政。而陰陽之人不與焉。其態又不合於眾者五。余已知之矣。愿聞二十五人之形。血氣之所生。別而以候。從外知內。何如。岐伯曰。悉乎哉問也。此先師之秘也。雖伯高猶不能明之也。黃帝避席遵循而卻曰。余聞之。得其人弗教。是謂重失。得而泄之。天將厭之。余愿得而明之。金匱藏之。不敢揚之。岐伯曰。先立五形金木水火土。別其五色異其五形之人。而二十五人具矣。黃帝曰。愿卒聞之。岐伯曰。慎之慎之。臣請言之。木形之人。比於上角。似於蒼帝。其為人蒼色。小頭。長面。大肩背。直身。小手足。好有才。勞心。少力。多憂。勞於事。能春夏。不能秋冬。秋冬感而病生。足厥陰佗佗然。太角之人。比於左足少陽。少陽之上遺遺然。左角之人。比於右足少陽。少陽之下隨隨然。　角之人。比於右足少陽。少陽之上推推然。判角之人。比於左足少陽。少陽之下括括然。火形之人。比於上徵。似於赤帝。其為人赤色。</p>
<p>廣KT　。脫面。（脫疑銳字）小頭。好肩背髀腹。小手足。行安地。疾心。行搖肩背。肉滿。有氣。輕財。少信。多慮。</p>
<p>見事明。好顏。急心。不壽。暴死。能春夏。不能秋冬。秋冬感而病生。手少陰核核然。質徵之人。比於左手太陽。太陽之上肌肌然。少徵之人。比於右手太陽。太陽之下　然。右徵之人。比於右手太陽。太陽之上鮫鮫然。質判之人。</p>
<p>比於左手太陽。太陽之下支支頤頤然。土形之之人。比於上宮。似於上古黃帝。其為人黃色。圓面。大頭。美肩背。大腹。美股脛。小手足。多肉。上下相稱。行安地。舉足浮。安心。好利人。不喜權勢。善附人也。能秋冬。不能春夏。</p>
<p>春夏感而病生。足太陰敦敦然。太宮之人。比於左足陽明。陽明之上婉婉然。加宮之人。比於左足陽明。陽明之下坎坎然。少宮之人。比於右足陽明。陽明之上樞樞然。左宮之人。比於右足陽明。陽明之下兀兀然。金形之人。比於上商。</p>
<p>似於白帝。其為人方面。白色。小頭。小肩背。小腹。小手足。如骨發。踵外骨輕。身清廉。（此十字中疑有誤字今以如骨發句踵外骨輕句身清廉句如骨發者謂手足瘦如骨支也踵外骨輕即後外踝瘦無肉及跟空者也）急心。靜悍。善為吏。能秋冬。不能春夏。春夏感而病生。手太陰敦敦然。　商之人。比於左手陽明。陽明之上廉廉然。右商之人。比於左手陽明。陽明之下脫脫然。左商之人。比於右手陽明。陽明之上監監然。少商之人。比於右手陽明。陽明之下嚴嚴然。水形之人。比於上羽。似於黑帝。其為人黑色。面不平。大頭。廉頤。小肩。大腹。動手足發。行搖身。下尻長。背延延然。</p>
<p>不敬畏。善欺　人。戮死。能秋冬。不能春夏。春夏感而病生。足少陰汗汗然。太羽之人。比於右足太陽。太陽之上頰頰然。少羽之人。比於左足太陽。太陽之下紆紆然。眾之為人。比於右足太陽。太陽之下　然。桎之為人。比於左足太陽。太陽之上安安然。是故五形之人。二十五變者。眾之所以相欺者。是也。（相欺謂難辨也）黃帝曰。得其形。不得其色。何如。岐伯曰。形勝色。色勝形者。至其勝時年加。感則病。行失則憂矣。（感邪則病行失則有所喪而憂行失即為奸事也）形色相得者。富貴大樂。黃帝曰。其形色相勝之時年加。可知乎。岐伯曰。凡年忌。下上之人。（即前節所敘諸陽上下之人）大忌常加七歲十六歲二十五歲三十四歲四十三歲五十二歲六十一歲。皆人之大忌。不可不自安也。感則病。</p>
<p>行失則憂矣。當此之時。無為奸事。是謂年忌。黃帝曰。夫子之言脈之上下。血氣之候。以知形氣。奈何。岐伯曰。足陽明之上。血氣盛。則髯美長。血少氣多。則髯短。故氣少血多。則髯少。血氣皆少。則無髯。兩吻多畫。足陽明之下。</p>
<p>血氣盛。則下毛美長。至胸。血多氣少。則下毛美短。至臍。行則善高舉足。足趾少肉。足善寒。血少氣多。則肉而善瘃。血氣皆少。則無毛。有則稀。枯悴。善痿厥足痹。足少陽之上。血氣盛。則通髯美長。血多氣少。則通髯美短。血少氣多。則少髯。血氣皆少。則無髯。感於寒濕。則善痹。骨痛爪枯也。足少陽之下。血氣盛。則脛毛美長。外踝肥。</p>
<p>血多氣少。則脛毛美短。外踝皮堅而濃。血少氣多。則　毛少。外踝皮薄而軟。血氣皆少。則無毛。外踝瘦無肉。足太陽之上。血氣盛。則美眉。眉有毫毛。血多氣少。則惡眉。面多少理。血少氣多。則面多肉。血氣和則美色。足太陽之下。血氣盛。則跟肉滿。踵堅。氣少血多。則瘦。跟空。血氣皆少。則喜轉筋。踵下痛。手陽明之上。血氣盛。則髭美。</p>
<p>血少氣多。則髭惡。血氣皆少。則無髭。手陽明之下。血氣盛。則腋下毛美。手魚肉以溫血氣皆少。則手瘦以寒。手少陽之上。血氣盛。則眉美以長。耳色美。血氣皆少。則耳焦惡色。手少陽之下。血氣盛。則手卷多肉以溫。血氣皆少。</p>
<p>則寒以瘦。氣少血多。則瘦以多脈。手太陽之上。血氣盛。則口多須。面多肉以平。血氣皆少。則面瘦惡色。手太陽之下。血氣盛。則掌肉充滿。血氣皆少。則掌瘦以寒。黃帝曰。二十五人者。刺之有約乎。岐伯曰。美眉者。足太陽之脈血氣多。惡眉者。血氣少。其肥而澤者。血氣有餘。肥而不澤者氣有餘。血不足。瘦而無澤者。氣血俱不足。審察其形氣有餘不足而調之。可以知逆順矣。黃帝曰。刺其諸陰陽奈何。岐伯曰。按其寸口人迎。以調陰陽。切循其經絡之凝澀。</p>
<p>結而不通者。此於身皆為痛痹。甚則不行。故凝澀。凝澀者。致氣以溫之。血和乃止。其結絡者。脈結。血不和。決之乃行。故曰氣有餘於上者。導而下之氣不足於上者。推而休之。休字疑誤官能曰上氣不足推而揚之。其稽留不至者。因而迎之。必明於經隧。乃能持之。寒與熱爭者。導而行之。其宛陳。血不結者。側而予之。必先明知二十五人。則血氣之所在。左右上下刺約畢也。</p>
<p>敘二十五人之形。而以年忌束之。敘氣血多少之應。而以刺法結之。層次井井。一氣貫注中間。許多堆垛而行神如空蹈厲無前。自有掉臂游行之樂。</p>
<h2>卷十</h2>
<h3>五音五味第六十五</h3>
<p>右徵與少徵。調右手太陽上。左商與左徵。調左手陽明上。少徵與太宮。調左手陽明上。右角與太角。調右足少陽下。太徵與少徵。調左手太陽上。眾羽與少羽。調右足太陽下。少商與右商。調右手太陽下。桎羽與眾羽。調右足太陽下。少宮與太宮。調右足陽明下。判角與少角。調右足少陽下。　商與上商。調右足陽明下。　商與上角。調左足太陽下。上徵與右徵同。穀麥。畜羊。果杏。手少陰。臟心。色赤。味苦。時夏。上羽與太羽同。穀大豆。畜彘。果栗。足少陰。臟腎。色黑。味鹹。時冬。上宮與太宮同。穀稷。畜牛。果棗。足太陰。臟脾。色黃。味甘。時季夏。上商與右商同。穀黍。畜雞。果桃。手太陰。臟肺。色白。味辛。時秋。上角與太角同。穀麻。畜犬。果李。足厥陰。臟肝。色青。味酸。時春。太宮與上角同。右足陽明上。左角與太角同。左足陽明上。少羽與太羽同。右足太陽下。左商與右商同。左手陽明上。加宮與太宮同。左足少陽上。質判與太宮同。左手太陽下。判角與太角同。左足少陽下。太羽與太角同。右足太陽上。太角與太宮同。右足少陽上。右徵少徵質徵上徵判徵。右角　角上角太角判角。右商少商　商上商左商。少宮上宮太宮加宮左宮。眾羽桎羽上羽太羽少羽。　黃帝曰。婦人無須者。無血氣乎。岐伯曰。衝脈任脈。皆起於胞中。上循背裡。為經絡之海。其浮而外者。循腹右上行。會於咽喉。別而絡唇口。血氣盛。則充膚熱肉。血獨盛。則淡滲皮膚生毫毛。今婦人之生。有餘於氣。不足於血。以其數脫血也。衝任之脈。不榮口唇。故須不生焉。黃帝曰。士人有傷於陰。陰氣絕而不起不用。然其須不去。其故何也。宦者獨去。何也。愿聞其故。岐伯曰。宦者去其宗筋。傷其衝脈。血瀉不復。皮膚內結。唇口不榮。故須不生。黃帝曰。其有天宦者。未嘗被傷。不脫於血。然其須不生。其故何也。岐伯曰。此天之所不足也。其任沖不盛。宗筋不成。有氣無血。唇口不榮。故須不生。黃帝曰。善乎哉。聖人之通萬物也。若日月之光影。音聲鼓響。聞其聲而知其形。其非夫子。孰能明萬物之精。是故聖人視其顏色。黃赤者多熱氣。</p>
<p>青白者少熱氣。黑色者多血少氣。美眉者太陽多血。通髯極須者少陽多血。美須者陽明多血。此其時然也。夫人之常數。</p>
<p>太陽常多血少氣。少陽常多氣少血。陽明常多血多氣。厥陰常多氣少血。少陰常多血少氣。太陰常多血少氣。此天之常數也。</p>
<p>此似續敘前篇未盡之意也。第五音配合與上編異。與六元正紀又異。未喻指南。</p>
<h3>百病始生第六十六</h3>
<p>黃帝問於岐伯曰。夫百病之始生也。皆生於風雨寒暑清濕喜怒。喜怒不節則傷臟。風雨則傷上。清濕則傷下。三部之氣。所傷異類。愿聞其會。岐伯曰。三部之氣各不同。或起於陰。或起於陽。請言其方。喜怒不節。則傷臟。臟傷則病起於陰也。清濕襲虛。則病起於下。風雨襲虛。則病起於上。是謂三部。至於其淫　。不可勝數。黃帝曰。余固不能數。故問先師。愿卒聞其道。岐伯曰。風雨寒熱。不得虛邪。不能獨傷人。卒然逢疾風豪雨而不病者。蓋無虛。故邪不能獨傷人也。此必因虛邪之風。與其身形兩虛相得。乃客其形兩實相逢。眾人肉堅其中。於虛邪也。因於天時與其身形參以虛實。大病乃成。氣有定舍。因處為名。上下中外分為三員。（以上為第一節是敘病之源統冒全篇）是故虛邪之中人也。始於皮膚。皮膚緩則腠理開。開則邪從毛髮入。入則抵深。深則毛髮立。毛髮立則淅然。故皮膚痛。留而不去。則傳舍於絡脈。在絡之時。痛於肌肉。其痛之時息。大經乃代。（息長久也代氣弱不振也歲露論曰經氣結代）留而不去。傳舍於經。在經之時。洒淅喜驚。留而不去。傳舍於輸。在輸之時。六經不通四肢。則肢節痛。腰脊乃強。留而不去。傳舍於伏沖之脈。在伏沖之時。體重身痛。留而不去。傳舍於腸胃。在腸胃之時。賁響腹脹。多寒則腸鳴飧泄。食不化。</p>
<p>多熱則溏。出麋。留而不去傳舍於腸胃之外。募原之間。留著於脈。稽留而不去息而成積。或著孫脈。或著絡脈。或著經脈。或著輸脈。或著於伏沖之脈。或著於膂筋。或著於腸胃之募原。上連於緩筋。（募原夾膜之中空者也緩筋臟腑之系絡也西書謂之網油）邪氣淫　。不可勝論。（以上為第二節敘邪之由淺漸深是敘病之舍也）黃帝曰。愿盡聞其所由然。岐伯曰。其著孫絡之脈而成積者。其積往來上下。臂手。孫絡之居也。浮而緩。不能句積而止之。故往來移行。腸胃之間。</p>
<p>水湊滲注灌。濯濯有音。有寒則　滿雷引。故時切痛其著於陽明之經。則挾臍而居。飽食則益大。飢則益小。其著於緩筋也。似陽明之積。飽食則痛。飢則安。其著於腸胃之募原也。痛而外連於緩筋。飽食則安。飢則痛。其著於伏沖之脈者。揣之應手而動。發手則熱氣下於兩股。如湯沃之狀。其著於膂筋。在腸後右。飢則積見。飽則積不見。按之不得。</p>
<p>其著於輸之脈者。閉塞不通。津液不下。孔竅干壅。此邪氣之從外入內。從上下也。（以上為第三節敘病之症也大義已晰下文乃補敘病機也病機者病源與病舍病證之交際也前敘病源是敘其所由生下敘病機是敘其所由成）黃帝曰。積之始生至其已成。奈何。岐伯曰。積之始生得寒。乃生厥。乃成積也。黃帝曰。其成積奈何。岐伯曰。厥氣生足　。　生脛寒。</p>
<p>脛寒則血脈凝澀。血脈凝澀則寒氣上入於腸胃。入於腸胃則　脹。　脹則腸外之汁沫迫聚不得散。日以成積卒然多食飲則腸滿。起居不節。用力過度。則絡脈傷陽。絡傷則血外溢。血外溢則衄血。陰絡傷則血內溢。血內溢則後血腸胃之絡傷。則血溢於腸外。腸外有寒。汁沫與血相搏。則並合凝聚。不得散而積成矣。卒然外中於寒。若內傷於憂怒。則氣上逆。氣上逆。則六輸不通。溫氣不行。凝血蘊裡而不散津液。澀滲著而不去而積皆成矣。（此病機之自外而內也是生於陽）</p>
<p>黃帝曰。其生於陰者奈何。岐伯曰。憂思傷心。重寒傷肺。忿怒傷肝。醉以入房。汗出當風。傷脾。用力過度。若入房汗出。浴則傷腎。（此病機之自內而成也是生於陰）此內外三部之所生病者也。（以上第四五節是敘內外之病機當作一節讀）黃帝曰。善。治之奈何。岐伯答曰。察其所痛。以知其應。有餘不足。當補則補。當瀉則瀉。毋逆天時。是謂至治。</p>
<p>通篇論積也。來蹤去跡層次井井。其筆堅凝。其氣浩瀚。三部之事。或分或合。操縱屈伸。無不如志。可稱理達詞舉。</p>
<h3>行針第六十七</h3>
<p>黃帝問於岐伯曰。余聞九針於夫子。而行之於百姓。百姓之血氣。各不同形。或神動而氣先針行。或氣與針相逢。</p>
<p>或針已出。氣獨行。或數刺乃知。或發針而氣逆。或數刺病益劇。凡此六者。各不同形。愿聞其方。岐伯曰。重陽之人。</p>
<p>其神易動。其氣易往也。黃帝曰。何謂重陽之人。岐伯曰。重陽之人。　高高。言語善疾。舉足善高。心肺之臟氣有餘。陽氣滑盛而揚。故神動而氣先行。黃帝曰。重陽之人。而神不先行者。何也。岐伯曰。此人頗有陰者也。黃帝曰。</p>
<p>何以知其頗有陰也。岐伯曰。多陽者多喜。多陰者多怒。數怒而易解。故曰頗有陰。其陰陽之離合難。故其神不能先行也。黃帝曰。其氣與針相逢奈何。岐伯曰。陰陽和調。而血氣淖澤滑利。故針入而氣出。疾而相逢也。黃帝曰。針已出而氣獨行者。何氣使然。岐伯曰。其陰氣多而陽氣少。陰氣沉而陽氣浮者。（當有其氣兩字）內藏。故針已出氣乃隨其後。</p>
<p>故獨行也。黃帝曰。數刺乃知。何氣使然。岐伯曰。此人之多陰而少陽。其氣沉而氣往難。故數刺乃知也。黃帝曰。針入而氣逆者。何氣使然。岐伯曰。其氣逆與其數刺病益甚者。非陰陽之氣。浮沉之勢也。此皆粗之所敗。工之所失。其形氣無過焉。</p>
<p>起手分提。中後一一分頂。布局措詞毫無奇異妙。在前五段皆形氣之事。末段非形氣之過也。筆勢於平中見側。使通篇精神迸露。此篇與陰陽二十五人篇通天篇義相發明當互觀之。</p>
<h3>上膈第六十八</h3>
<p>黃帝曰。氣為上膈者。食飲入而還出。余已知之矣。蟲為下膈。下膈者。食　時乃出。余未得其意。愿卒聞之。岐伯曰。喜怒不適。食飲不節。寒溫不時。則寒汁流於腸中。流於腸中則蟲寒。蟲寒則積聚。守於下管。則腸胃充郭。衛氣不營。邪氣居之。人食則蟲上食。蟲上食則下管虛。下管虛則邪氣勝之。積聚已留。留則癰成。癰成則下管約。其癰在管內者。即而痛深。其癰在外者。則癰外而痛。浮癰上皮熱。黃帝曰。刺之奈何。岐伯曰微按其癰。視氣所行。先淺刺其旁。稍內益深。還而刺之。無過三行。察其沉浮。以為深淺。已刺必熨。令熱入中。日使熱內。邪氣益衰。大癰乃潰。伍以參禁。以除其內。恬淡無為。乃能行氣。後以鹹苦。化穀乃下矣。（此句重在後字若早用鹹苦則大誤矣血得咸則凝而苦又令人嘔也）</p>
<p>陳義既高鑄詞亦潔源流俱備。使讀者無簡略之憾。</p>
<h3>憂恚無言第六十九</h3>
<p>黃帝問於少師曰。人之卒然憂恚。而言無音者。何道之塞。何氣出行。使音不彰。愿聞其方。少師答曰。咽喉者。</p>
<p>水穀之道也。喉嚨者。氣之所以上下者也。會厭者。音聲之戶也。口唇者。音聲之扇也。舌者。音聲之機也。懸雍垂者。</p>
<p>音聲之關也。頏顙者。分氣之所泄也。橫骨者。神氣所使。主發舌者也。故人之鼻洞涕出不收者。頏顙不開分氣失也。</p>
<p>是故厭小而薄。則發氣疾。其開闔利。其出氣易。其厭大而濃。則開闔難。其氣出遲。故重言也。人卒然無音者。寒氣客於厭。則厭不能發。發不能下至。（似當作上至）其開闔不致。故無音。黃帝曰。刺之奈何。岐伯曰。足之少陰。上系於舌。絡於橫骨。終於會厭。兩瀉其血脈。濁氣乃辟。會厭之脈。上絡任脈。取之天突。其厭乃發也。</p>
<p>文體直而少。曲而事理頗精。唇口之內分析。功用莫詳於此矣。嘗論會厭關於督脈。讀此乃自信其說之不誤也。</p>
<h3>寒熱第七十</h3>
<p>黃帝問於岐伯曰。寒熱瘰　。在於頸腋者。皆何氣使生。岐伯曰。此鼠　也。皆寒熱之毒瓦斯留於脈。而不去者也。</p>
<p>黃帝曰。去之奈何。岐伯曰。鼠　之本皆在於臟。其末上出於頸腋之間。其浮於脈中。而未內著於肌肉。而外為膿血者。</p>
<p>易去也。黃帝曰。去之奈何。岐伯曰。請從其本引其末。可使衰去。而絕其寒熱。審按其道以予之。徐往徐來以去之。</p>
<p>其小如麥者。一刺知。三刺而已。黃帝曰。決其生死奈何。岐伯曰。反其目視之。其中有赤脈。上下貫瞳子。見一脈。</p>
<p>一歲死。見一脈半。一歲半死。見二脈。二歲死。見二脈半。二歲半死。見三脈。三歲而死。見赤脈。不下貫瞳子。可治也。</p>
<p>前三篇各論一事。理所宜察。而文無可觀。</p>
<h3>邪客第七十一</h3>
<p>黃帝問於伯高曰。夫邪氣之客人也。或令人目不瞑不臥出者。（疑當作不汗出者）何氣使然。伯高曰。五穀入於胃也。</p>
<p>其糟粕津液宗氣分為三隧。故宗氣積於胸中。出於喉嚨。以貫心肺。而行呼吸焉。營氣者泌其津液。注之於脈。化以為血。以榮四末。內注五臟六腑以應刻數焉。衛氣者。出其悍氣之　疾而先行於四末。分肉皮膚之間而不休者也。晝日行於陽。夜行於陰。常從足少陰之分間。行於五臟六腑。今厥氣客於五臟六腑。則衛氣獨衛其外。行於陽。不得入於陰。</p>
<p>行於陽則陽氣盛。陽氣盛則陽蹺陷。不得入於陰。陰虛。故目不瞑。黃帝曰。善。治之奈何。伯高曰。補其不足。瀉其有餘。調其虛實。以通其道。而去其邪。飲以半夏湯。一劑。陰陽已通。其臥立至。黃帝曰。善。此所謂決瀆壅塞。經絡大通。陰陽和得者也。愿聞其方。伯高曰。其湯方。以流水千裡以外者。八升。揚之萬遍。取其清五升。煮之。炊以葦薪。火沸。置秫米一升治半夏五合。徐炊。令竭為一升半。去其滓。飲汁一小杯。日三。稍益。以知為度。故其病新發者。覆杯則臥。汗出則已矣。久者。三飲而已也。（今人用此湯不依此法故或效或不效）黃帝問於伯高曰。愿聞人之肢節。以應天地。奈何。伯高答曰。天圓地方。人頭圓足方以應之。天有日月。人有兩目。地有九州。人有九竅。天有風雨。人有喜怒。天有雷電。人有音聲。天有四時。人有四肢。天有五音。人有五臟。天有六律。人有六腑。天有冬夏。</p>
<p>人有寒熱。天有十日。人有手十指。辰有十二。人有足十趾莖垂以應之。女子不足二節。以抱人形。（虛其位以懷孕人形）</p>
<p>天有陰陽。人有夫妻。歲有三百六十五日。人有三百六十節。地有高山。人有肩膝。地有深穀。人有腋　。地有十二經水。人有十二經脈。地有泉脈。人有衛氣。地有草　。人有毫毛。天有晝夜。人有臥起。天有列星。人有牙齒。地有小山。人有小節。地有山石。人有高骨。地有林木。人有募筋。地有聚邑。人有　肉。歲有十二月。人有十二節。地有四時不生草。人有無子。此人與天地相應者也。黃帝問於岐伯曰。余愿聞持針之數。內針之理。縱舍之意。　皮開腠理。</p>
<p>奈何。脈之屈折出入之處焉。至而出焉。至而止焉。至而徐焉。至而疾焉。至而入。六腑之輸於身者。余愿盡聞少序（二字有誤）別離之處。離而入陰。別而入陽。此何道而從行。愿盡聞其方。岐伯曰。帝之所問。針道畢矣。黃帝曰。愿卒聞之。岐伯曰。手太陰之脈。出於大指之端。內屈。循白肉際。至本節之後太淵。留以淡。外屈。上於本節下內屈。與陰諸絡會於魚際。數脈並注。其氣滑利。伏行壅骨之下。外屈。出於寸口而行。上至於肘內廉。入於大筋之下。內屈。</p>
<p>上行　陰。入腋下。內屈走肺。此順行逆數之屈折也。心主之脈。出於中指之端。內屈。循中指內廉。以上。留於掌中。</p>
<p>伏行兩骨之間。外屈出兩筋之間。骨肉之際。其氣滑利。上二寸。外屈。出行兩筋之間。上至肘內廉。入於小筋之下。</p>
<p>留兩骨之會上。入於胸中。內絡於心脈。黃帝曰。手少陰之脈獨無　。何也。岐伯曰。少陰。心脈也。心者。五臟六腑之大主也。精神之所舍也。其臟堅固。邪弗能容也。容之則心傷。心傷則神去。神去則死矣。故諸邪之在於心者。皆在於心之包絡。包絡者心主之脈也。故獨無　焉。黃帝曰。少陰獨無　者。不病乎。岐伯曰。其外經病而臟不病。故獨取其經於掌後銳骨之端。其余脈出入屈折。其行之徐疾。皆如手少陰心主之脈行也。故本　者。（本如原道原毀之原是發明之義也）皆因其氣之虛實疾徐以取之。是謂因沖而瀉。因衰而補。如是者。邪氣得去。真氣堅固。是謂因天之序。黃帝曰。持針縱舍奈何。岐伯曰。必先明知十二經脈之本末。皮膚之寒熱。脈之盛衰滑澀。其脈滑而盛者病日進。虛而細者久以持。大以澀者為痛痹。陰陽如一者病難治。其本末尚熱者。病尚在其熱已衰者。其病亦去矣。持其尺。察其肉之堅脆小大滑澀寒溫燥濕。因視目之五色。以知五臟。而決死生。視其血脈。察其色。以知其寒熱痛痹。黃帝曰。持針縱舍。</p>
<p>余未得其意也。岐伯曰。持針之道。欲端以正。安以靜先知虛實。而行疾徐。左手執骨。右手循之。無與肉果。（果果累也）瀉欲端以正。補必閉膚。輔針導氣。邪得淫　。真氣得居。黃帝曰。　皮開腠理奈何。岐伯曰。因其分肉。左別其膚微內而徐端之。適神不散。邪氣得去。黃帝問於岐伯曰。人有八虛。各何以候。岐伯答曰。以候五臟。黃帝曰。候之奈何。岐伯曰。肺心有邪。其氣留於兩肘。肝有邪。其氣留於兩腋。脾有邪。其氣留於兩髀。腎有邪。其氣留於兩　。</p>
<p>凡此八虛者。皆機關之室。真氣之所過。血絡之所游。邪氣惡血。固不得住留。住留則傷筋絡骨節。機關不得屈伸。故病攣也。</p>
<p>通篇筆致夭矯如神龍之蜿蜒空中。惜文義前後不相承理法無可揣摩。</p>
<h3>通天第七十二</h3>
<p>黃帝問於少師曰余嘗聞人有陰陽。何謂陰人。何謂陽人。少師曰。天地之間。六合之內。不離於五。人亦應之。非徒一陰一陽而已也。而略言耳。口弗能遍明也。黃帝曰。愿略聞其意。有賢人聖人心。能備而行之乎。（謂今但愿聞其略將來有賢聖之人當能備而行之句拙而晦疑心字誤）少師曰。蓋有太陰之人。少陰之人。太陽之人。少陽之人。陰陽和平之人。凡五人者。其態不同。其筋骨氣血各不等。黃帝曰。其不等者。可得聞乎。少師曰。太陰之人。貪而不仁。下齊湛湛。（自下以齊於眾）好內而惡出。心和而不發。不務於時。動而後之。此太陰之人也。少陰之人。小貪而賊心見人有亡。常若有得。好傷好害。見人有榮。乃反慍怒。心疾而無恩。此少陰之人也。太陽之人。居處於於。好言大事。無能而虛說。志發於四野。舉措罔顧是非。為事如常自用。事雖敗而常無悔。此太陽之人也。少陽之人。　諦。好自貴。有小小官。則高自宜。好為外交。而不內附。此少陽之人也。陰陽和平之人。居處安靜。無為懼懼。無為欣欣。婉然從物。</p>
<p>或與不爭。與時變化。尊則謙謙。譚而不治。是謂至治。古之善用針艾者。視人五態乃治之。盛者瀉之。虛者補之。黃帝曰。治人之五態奈何。少師曰。太陰之人。多陰而無陽。其陰血濁。其衛氣澀。陰陽不和。緩筋而濃皮。不之疾瀉。</p>
<p>不能移之。少陰之人。多陰少陽。小胃而大腸。六腑不調。其陽明脈小。而太陽脈大。必審調之。其血易脫。其氣易敗也。太陽之人。多陽而少陰。必謹調之。無脫其陰。而瀉其陽。陽重脫者易狂。陰陽皆脫者暴死。不知人也。少陽之人。</p>
<p>多陽少陰。經小而絡大。血在中。而氣外實陰而虛陽。獨瀉其絡脈。則強氣脫而疾。中氣不足。病不起也。（強氣即衛氣也）陰陽和平之人。其陰陽之氣和。血脈調。謹診其陰陽。視其邪正。安容儀。審有餘不足。盛則瀉之。虛則補之。不盛不虛。以經取之。此所以調陰陽。別五態之人者也。黃帝曰。夫五態之人者。相與無故。卒然新會。未知其行也。何以別之。少師答曰。眾人之屬。不如五態之人者。故五五二十五人。而五態之人不與焉。五態之人。尤不合於眾者也。</p>
<p>黃帝曰。別五態之人奈何。少師曰。太陰之人。其狀　然黑色。念然下意。臨臨然長大。　然未僂。此太陰之人也。</p>
<p>少陰之人。其狀清然竊然。固以陰賊。立而躁　。行而似伏。此少陰之人也。太陽之人。其狀軒軒儲儲。反身折　。此太陽之人也。少陽之人。其狀立則好仰。行則好搖。其兩臂兩肘。則常出於背。此少陽之人也。陰陽和平之人。其狀委委然。隨隨然。　然。愉愉然。HT　HT　然。豆豆然。眾人皆曰君子。此陰陽和平之人也。（讀陰陽二十五人篇行針篇及此篇知人之性情皆分於血氣即聖賢所謂血氣之性也）</p>
<p>布局與二十五人篇同。而篇幅較短。搏　尤覺有力。足供揣摩。先敘性情。後敘形態。有倒入之勢。文陣與本臟亦相似。</p>
<h2>卷十一</h2>
<h3>官能第七十三</h3>
<p>黃帝問於岐伯曰。余聞九針於夫子。眾多矣。不可勝數。余推而論之。以為一紀。余司誦之。子聽其理。非則語余。</p>
<p>請正其道。令可久傳。後世無患。得其人乃傳。非其人勿言。岐伯稽首再拜曰。請聽聖王之道。黃帝曰。用針之理。必知形氣之所在。左右上下。陰陽表裡。血氣多少。行之逆順。出入之合。謀伐有過。知解結。知補虛瀉實。上下氣門。</p>
<p>明通於四海。審其所在。寒熱淋露。以輸異處。審於調氣。明於經隧。左右肢絡。盡知其會。寒與熱爭。能合而調之。</p>
<p>虛與實鄰。知決而通之。左右不調。把而行之。明於逆順。乃知可治。陰陽不奇。故知起時。審於本末。察其寒熱。得邪所在。萬刺不殆。知官九針。刺道畢矣。明於五輸。徐疾所在。屈伸出入。皆有條理。言陰與陽。合於五行。五臟六腑。亦有所藏。四時八風。盡有陰陽。各得其位。合於明堂。各處色部。五臟六腑。察其所痛。左右上下。知其寒溫。</p>
<p>何經所在。審皮膚之寒溫滑澀。知其所苦。膈有上下。知其氣所在。先得其道。稀而疏之。稍深以留。故能徐入之。大熱在上。推而下之。從下上者。引而去之。視前痛者。常先取之。大寒在外。留而補之。入於中者。從合瀉之。針所不為。灸之所宜。上氣不足。推而揚之。下氣不足。積而從之。陰陽皆虛。火自當之。厥而寒甚。骨廉陷下。寒過於膝。</p>
<p>下陵三裡。陰絡所過。得之留止。寒入於中。推而行之。經陷下者。火則當之。結絡堅下。火所治之。不知所苦。兩蹺之下。男陰女陽。良工所禁。針論畢矣。用針之服。必有法則。上視天光。下司八正。以辟奇邪。而觀百姓。審於虛實。</p>
<p>無犯其邪。是得天之露。遇歲之虛。救而不勝。反受其殃。故曰必知天忌。乃言針意。法於往古。驗於來今。觀於窈冥。</p>
<p>通於無窮。粗之所不見。良工之所貴。莫知其形。若神仿佛。邪氣之中人也。洒淅動形。正邪之中人也微。先見於色。</p>
<p>不知於其身。若有若無。若亡若存。有形無形。莫知其情。是故上工之取氣。乃救其萌芽。下工守其已成。因敗其形。</p>
<p>是故工之用針也。知氣之所在。而守其門戶。明於調氣。補瀉所在。徐疾之意。所取之處。瀉必用員。切而轉之。其氣乃行。疾而徐出。邪氣乃出。伸而迎之。遙大其穴。氣出乃疾。補必用方。外引其皮。令當其門。左引其樞。右推其膚。</p>
<p>微旋而徐推之。必端以正。安以靜。堅心無解。欲微以留。氣下而疾出之。推其皮。蓋其外門。真氣乃存。用針之要。</p>
<p>無忘其神。（此處當有岐伯贊嘆數語）雷公問於黃帝曰。針論曰。得其人乃傳。非其人勿言。何以知其可傳。黃帝曰。各得其人。任之其能。故能明其事。雷公曰。愿聞官能。奈何。黃帝曰。明目者。可使視色。聰耳者。可使聽音。捷疾辭語者。可使傳論語。徐而安靜。手巧而心審諦者。可使行針艾。理血氣而調諸逆順。察陰陽而兼諸方。緩節柔筋而心和調者。可使導引行氣。疾毒言語輕人者。可使唾癰咒病。爪苦手毒。為事善傷者。可使按積抑痹。各得其能。方乃可行。</p>
<p>其名乃彰。不得其人。其功不成。其師無名。故曰得其人乃言非其人勿傳。此之謂也。手毒者。可使試按龜。置龜於器下。而按其上。五十日而死矣。手甘者。復生如故也。</p>
<p>措詞之板實。全經中無有甚於此者。而偏能運實於虛。化板為活。布局之巧。可謂妙想天開。</p>
<h3>論疾診尺第七十四</h3>
<p>黃帝問於岐伯曰。余欲無視色持脈。獨調其尺。以言其病。從外知內。為之奈何。岐伯曰。審其尺之緩急。小大滑澀肉之堅脆。而病形定矣。視人之目窠上。微癰。如新臥起狀。其頸脈動。時咳。按其手足上。　而不起者。風水膚脹也。尺膚滑其淖澤者。風也。尺肉弱者解　。安臥脫肉者寒熱。不治。尺膚滑而澤脂者。風也。尺膚澀者。風痹也。尺膚粗如枯魚之鱗者。水　飲也。尺膚熱甚。脈盛躁者。病溫也。其脈盛而滑者。汗且出也。尺膚寒。其脈小者。泄少氣。</p>
<p>尺膚炬然。先熱後寒者。寒熱也。尺膚先寒。久持之而熱者。亦寒熱也。肘所獨熱者。腰以上熱。手所獨熱者。腰以下熱。肘前獨熱者。膺前熱。肘後獨熱者。肩背熱。臂中獨熱者。腰腹熱。肘後粗以下三四寸熱者。腸中有蟲。掌中熱者腹中熱。掌中寒者腹中寒。魚上白肉有青血脈者。胃中有寒。尺炬然熱。人迎大者。當奪血。尺堅大。脈小甚。少氣　。</p>
<p>有加。立死。目赤色者。病在心。白在肺。青在肝。黃在脾。黑在腎。黃色不可名者。病在胸中。診目痛。赤脈從上下者太陽病。從下上者陽明病。從外走內者少陽病。診寒熱。赤脈上下至瞳子。見一脈。一歲死。見一脈半。一歲半死。</p>
<p>見二脈。二歲死。見二脈半。二歲半死。見三脈。三歲死。診齲齒痛。按其陽之來。有過者獨熱。在左左熱。在右右熱。</p>
<p>在上上熱。在下下熱。診血脈者。多赤多熱。多青多痛。多黑為久痹。多赤多黑多青皆見者寒熱。身痛而色微黃。齒垢黃。爪甲上黃。黃膽也。安臥。小便黃赤。脈小而澀者。不嗜食。人病。其寸口之脈。與人迎之脈小大等。及其浮沉等者。病難已也。女子。手少陰脈動甚者。妊子嬰兒病。其頭毛皆逆上者必死。耳間青脈起者掣痛。大便赤瓣飧泄。脈小者。手足寒。難已。飧泄。脈小。手足溫。泄易已。四時之變。寒暑之勝。重陰必陽。重陽必陰。故陰主寒。陽主熱。</p>
<p>故寒甚則熱。熱甚則寒。故曰寒生熱。熱生寒。此陰陽之變也。故曰冬傷於寒。春生癉熱。春傷於風。夏生飧泄腸　。</p>
<p>夏傷於暑。秋生　瘧。秋傷於濕。冬生咳嗽。是謂四時之序也。</p>
<p>條列事類而用筆之長短伸縮無理法可尋。不及前卷寒熱癲狂諸篇矣。至其事理明備業道者。宜詳察之。</p>
<h3>刺節真邪第七十五</h3>
<p>黃帝問於岐伯曰。余聞刺有五節。奈何。岐伯曰。固有五節。一曰振埃。二曰發　。三曰去爪。四曰徹衣。五曰解惑。黃帝曰。夫子言五節。余未知其意。岐伯曰。振埃者。刺外經。去陽病也。發　者。刺腑輸。去腑病也。去爪者。</p>
<p>刺關節肢絡也。徹衣者。盡刺諸陽之奇輸也。解惑者。盡知調陰陽。補瀉有餘不足相傾移也。黃帝曰。刺節言振埃。夫子乃言刺外經去陽病。余不知其所謂也。愿卒聞之。岐伯曰。振埃者。陽氣大逆。上滿於胸中。懷　肩息。大氣逆上。</p>
<p>喘喝坐伏。病惡埃煙。KT　不得息。請言振埃。尚疾於振埃。黃帝曰。善取之何如。岐伯曰。取之天容。黃帝曰。其咳上氣。窮　胸痛者。取之奈何。岐伯曰。取之廉泉。黃帝曰。取之有數乎。岐伯曰。取天容者。無過一裡。取廉泉者。</p>
<p>血變而止。（裡字義無考或往之訛也）帝曰。善哉。黃帝曰。刺節言發　。余不得其意。夫發　者。耳無所聞。目無所見。</p>
<p>夫子乃言刺腑輸去腑病。何輸使然。愿聞其故。岐伯曰。妙乎哉問也。此刺之大約。針之極也。神明之類也。口說書卷。</p>
<p>猶不能及也。請言發　。尚疾於發　也。黃帝曰。善。愿卒聞之。岐伯曰。刺此者。必於日中。刺其聽宮。中其眸子。</p>
<p>聲聞於耳。此其輸也。黃帝曰。善。何謂聲聞於耳。岐伯曰。刺之。以手堅按其兩鼻竅。而疾偃之。其聲必應於針也。</p>
<p>黃帝曰。善。此所謂弗見為之。而無目視。見而取之。神明相得者也。黃帝曰。刺節言去爪。夫子乃言刺關節肢絡。愿卒聞之。岐伯曰。腰脊者身之大關節也。肢脛者人之管以趨翔也。莖垂者身中之機。陰精之候。津液之道也。故飲食不節。喜怒不時。津液內溢。乃下流於睪。血道不通。日大不休。俯仰不便。趨翔不能。此病滎然有水。不上不下。鈹石所取。形不可匿常不得蔽。故命曰去爪。帝曰。善。黃帝曰。刺節言徹衣。夫子乃言盡刺諸陽之奇輸。未有常處也。愿卒聞之。岐伯曰。是陽氣有餘而陰氣不足。陰氣不足則內熱。陽氣有餘則外熱。內熱相搏。熱於懷炭。外畏綿帛。不可近身。又不可近席。腠理閉塞。則汗不出。舌焦唇槁。臘干嗌燥。飲食不讓美惡。黃帝曰。善。取之奈何。岐伯曰。取之於其天府大杼。三　。又刺中膂以去其熱。補足手太陰以出其汗。熱去汗稀疾於徹衣。黃帝曰。善。黃帝曰。刺節言解惑。夫子乃言盡知調陰陽。補瀉有餘不足相傾移也。惑何以解之。岐伯曰。大風在身。血脈偏虛。虛者不足。實者有餘。輕重不得。傾側宛伏。不知東西。不知南北。乍上乍下。乍反乍覆。顛倒無常甚於迷惑。黃帝曰。善。取之奈何。</p>
<p>岐伯曰。瀉其有餘。補其不足。陰陽平復。用針若此疾於解惑。黃帝曰。善。請藏之靈蘭之室。不敢妄出也。（以上論刺節之義已畢）黃帝曰。余聞刺有五邪。何謂五邪。岐伯曰。病有持癰者。有容大者。有狹小者。有熱者。有寒者。是謂五邪。黃帝曰。刺五邪奈何。岐伯曰。凡刺五邪之方。不過五章。痹熱消滅。腫聚散亡。寒痹益溫。小者益陽。大者必去。請道其方。凡刺癰邪。無迎隴。易俗移性。不得膿。詭道更行。去其鄉。不安處所。乃散亡。諸陰陽過癰者。（過者盛也癰者壅也）取之其輸。瀉之。凡刺大邪。日以小。奪其有餘。乃益剽。通針其邪。肌肉親。視之毋有。反其真。刺諸陽分肉間。凡刺小邪。日以大補其不足。乃無害。視其所在。迎之界。遠近盡至。其不得外。侵而行之。乃自費。刺分肉間。凡刺熱邪。越而蒼。出游不歸。乃無殃。針為開通。辟門戶。使邪得出。病乃去凡刺寒邪。日以溫。徐往徐來。</p>
<p>致其神。門戶已閉。氣不分。虛實得調。其氣存也。黃帝曰。官針奈何。岐伯曰。刺癰者。用鈹針。刺大者用鋒針。刺小者用員利針。刺熱者用　針。刺寒者用毫針也。（以上論五邪及其治法下又申明寒熱兩偏之治法即從五邪推出言之以漸漸引入真邪作結也）請言解論。（解論譬喻也原作解論非謂以比譬之說申明前旨）人與天地相應。與四時相副者。人參天地。故可為解。下有漸洳。上生葦蒲。此所以知形氣之多少也。陰陽者。寒暑也。熱則滋雨而在上。根　少汁。人氣在外。皮膚緩。腠理開。血氣減。汗大泄。皮淖澤。寒則地凍水冰。人氣在中。皮膚致。腠理閉。汗不出。血氣強。肉堅澀。當是之時。善行水者不能往冰。善穿地者不能鑿凍。善用針者亦不能取四厥。血脈凝結。堅搏不往來者。亦未可即柔。故行水者必待天溫。冰釋凍解。而水可行。地可穿也。人脈猶是也。治厥者。必先熨。調和其經。掌與腋。肘與腳。</p>
<p>項與脊。以調之。火氣已通。血脈乃行。然後視其病脈。淖澤者。刺而平之。堅緊者。破而散之。氣下乃止。此所以解結者也。用針之類。在於調氣。氣積於胃。以通營衛。各行其道。宗氣留於海。其下者注於氣街。其上者走於息道。故厥在於足。宗氣不下。脈中之血。凝而留止。弗之火調。弗能取之。用針者。必先察其經絡之實虛。切而循之。按而彈之。視其應動者。乃後取之。而下之。六經調者。謂之不病。雖病。謂之自已也。一經上實下虛而不通者。此必有橫絡盛加於大經。令之不通。視而瀉之。此所謂解結者也。上寒下熱。先刺其項太陽。久留之。已刺。則熨項與肩胛。令熱下合。乃止。此所謂推而上之者也。上熱下寒。視其虛脈而陷之於經絡者。取之。氣下乃止。此所謂引而下之者也。大熱遍身。狂而妄見。妄聞妄言。視足陽明及大絡。取之。虛者補之。血而實者瀉之。因其偃臥。居其頭前。以兩手四指挾按頸動脈。久持之。卷而切推。下至缺盆中而止。復如前。熱去乃止。此所謂推而散之者也。（以上為中半篇承上啟下以下乃發真邪）黃帝曰。有一脈生數十病者。或痛。或癰。或熱。或寒。或癢。或痹。或不仁。變化無窮。其故何也。</p>
<p>岐伯曰。此皆邪氣之所生也。黃帝曰。余聞氣者。有真氣。有正氣。有邪氣。何謂真氣。岐伯曰。真氣者所受於天與穀氣並而充身也。正氣者。正風也。從一方來。非實風。又非虛風也。邪氣者。虛風之賊傷人也。其中人也深。不能自去正風者。其中人也淺。合而自去。其氣來柔弱。不能勝真氣。故自去虛邪之中人也。洒淅動形。起毫毛而發腠理。其入深。內搏於骨。則為骨痹。搏於筋。則為筋攣。搏於脈中。則為血閉不通。則為癰。搏於肉。與衛氣相搏。陽勝者則為熱。陰勝者則為寒。寒則真氣去。去則虛。虛則寒搏於皮膚之間。其氣外發。腠理開。毫毛搖。氣往來行。則為癢。留而不去則為痹。衛氣不行。則為不仁。虛邪遍容於身半。其入深。內居營衛。營衛稍衰。則真氣去。邪氣獨留。發為偏枯。其邪氣淺者。脈偏痛。虛邪之入於身也深。寒與熱相搏。久留而內著寒勝其熱。則骨疼肉枯。熱勝其寒。則爛肉腐肌為膿。內傷骨。內傷骨為骨蝕。有所疾。前筋筋屈不得伸。（經筋篇有下散前後與前及胸痛之文。）邪氣居其間而不反。</p>
<p>發為筋溜有所結。氣歸之。衛氣留之。不得反。津液久留。合而為腸溜。久者數歲乃成。以手按之。柔也。有所結。氣歸之。津液留之。邪氣中之。凝結。日以易甚。（易變易也流走無定之謂也故下接云連以聚居馬注謂同益未協）連以聚居。</p>
<p>為昔瘤。（久瘤也上筋溜腸溜俱宜作瘤即　塊也又見下卷九針論中）以手按之。堅有所結。深中骨。氣因於骨。骨與氣並。</p>
<p>日以益大。則為骨疽。有所結。中於肉。宗氣歸之。邪留而不去。有熱則化而為膿。無熱則為肉疽。凡此數氣者。其發無常處而有常名也。（五個有所即懸空指其處而言之以無常處故也）</p>
<p>三千字只以四節盡之。每節各有五排卻不嫌板。所謂大陣包小陣。大營包小營。筆力堅悍古朴千古無兩。前半論刺節。後半論真邪。中間以五邪寒熱作樞紐。筆筆皆系實事。不見承接轉換之跡。求道者。最宜先讀此種文字。為其字字留目也。</p>
<h3>衛氣行第七十六</h3>
<p>黃帝問於伯高曰。愿聞衛氣之行。出入之合。何如。伯高曰。歲有十二月。日有十二辰。子午為經。卯酉為緯。天周二十八宿。而一面七星。四七二十八星。房昴為緯。虛張為經。（張當是星）是故房至畢為陽。昴至心為陰。陽主晝。</p>
<p>陰主夜。故衛氣之行一日一夜。五十周於身。晝日行於陽二十五周。夜行於陰二十五周。周於五臟是故平旦陰盡陽氣出於目。目張則氣上行於頭。循項。下足太陽。循背。下至小指之端。其散者。別於目銳　。下手太陽。下至手小指之間外側。其HT　者。別於目銳　。下足少陽。注小指次指之間。以上循手少陽之分側下至小指之間。別者。以上至耳。前合於頷脈。注足陽明。以下行。至跗上。入五指之間。其HT　者。從耳下。下手陽明。入大指之間。入掌中。其至於足也。</p>
<p>入足心。出內踝。下行陰分。復合於目。故為一周。（據此經義是手足三陽同時並行而又從足太陽足陽明同時並入於陰分也三陽者陽經之部分也陰分者陰經之部分也）是故日行一舍。人氣行一周與十分身之八。日行二舍。人氣行三周於身與十分身之六。日行三舍。人氣行於身五周與十分身之四。日行四舍。人氣行於身七周與十分身之二。日行五舍。人氣行於身九周。日行六舍。人氣行於身十周與十分身之八。日行七舍。人氣行於身十二周與十分身之六。日行十四舍。人氣二十五周於身。有奇分。與十分身之二。陽盡於陰。陰受氣矣。其始入於陰。當從足少陰注於腎。腎注於心。心注於肺。</p>
<p>肺注於肝。肝注於脾。脾復注於腎為一周也。是故夜行一舍。人氣行於陰臟一周與十分藏之八。亦如陽行之二十五周。</p>
<p>而復合於目。陰陽一日一夜。合有奇分十分身之二。與十分藏之二。是故。人之所以臥起之時有早晏者。奇分不盡故也。</p>
<p>黃帝曰。衛氣之在於身也。上下往來不以期候氣。而刺之奈何。（上衣冠文物敘有期矣此言不以期者上乃氣所行之期此指氣所在之期以明刺法也氣所行者手足六陽同時並出難專所在也氣所在者氣所最盛之部即氣所往來交會之部也起處出入二字是言身與臟氣之內外也此來往二字是專言身氣之上下也）伯高曰。分有多少。日有長短。春秋冬夏。各有分理。然後常以平旦為紀。以夜盡為始。是故一日一夜。水下百刻。二十五刻者半日之度也。（晝日之半也一日一夜四分之）常如是。毋已。日入而止。隨日之長短。各以為紀而刺之。謹候其時。病可與期。失時反候。百病不治。故曰刺實者。刺其來也。</p>
<p>刺虛者。刺其去也。此言氣存亡之時。以候虛實而刺之也。是故謹候氣之所在而刺之。是謂逢時。病在於三陽。必候其氣。在於陽而刺之。病在於三陰必候其氣在陰分。而刺之水下一刻。人氣在太陽。水下二刻。人氣在少陽。水下三刻。</p>
<p>人氣在陽明。水下四刻。人氣在陰分。水下五刻。人氣在太陽。水下六刻。人氣在少陽。水下七刻。人氣在陽明。水下八刻。人氣在陰分。水下九刻。人氣在太陽。水下十刻。人氣在少陽。水下十一刻。人氣在陽明。水下十二刻。人氣在陰分。水下十三刻。人氣在太陽。水下十四刻。人氣在少陽。水下十五刻。人氣在陽明。水下十六刻。人氣在陰分。水下十七刻。人氣在太陽。水下十八刻。人氣在少陽。水下十九刻。人氣在陽明。水下二十刻。人氣在陰分。水下二十一刻。人氣在太陽。水下二十二刻。人氣在少陽。水下二十三刻。人氣在陽明。水下二十四刻。人氣在陰分。水下二十五刻。人氣在太陽。此半日之度也。從房至畢。一十四舍。水下五十刻。日行半度。日行一舍。水下三刻與七分刻之四。（以每刻十五分計之其七分之四當八分五七一四二而仍有奇分也五十營篇以下水四刻日行四十分是日行一舍又九分舍之一而亦仍有奇分也故常以日加宿上即人氣在太陽者特大略而已非密率也）大要曰。常以日之加於宿上也。人氣在太陽。是故日行一舍。人氣行三陽及與陰分。（此句行字與前半篇行字不同然究未免相混）常如是無已。天地同紀。紛紛HT　HT　。</p>
<p>終而復始。一日一夜。水下百刻而盡矣。（總以水刻為主者以其數相合而無奇零也）</p>
<p>言明且清氣疏以達。妙在通篇實事。皆以議論行之。化板為活。舉重若輕。是何等神勇。</p>
<p>篇中敘衛氣行度。看似不合。故戴同甫。以水下一刻人氣在太陽。以下為衍文。且謂當作一刻在三陽。二刻在三陰。</p>
<p>方符二刻一周之數。此得其一而未得其一也。經義前後本是兩截。前敘衛氣出於目。下足太陽。其散者。下手太陽。其散者。下足少陽。上手少陽。其別者。下足陽明。其散者。下手陽明。又云。其至於足也。從足心入行陰分。是手足三陽同時並行。本無分於先後。而又從足太陽足陽明同時並入行於陰分也。何有一刻太陽。二刻少陽。三刻陽明之事。更何有待至四刻始行陰分之事。此戴氏一刻三陽。二刻三陰之說為不謬矣。然當云一刻行三陽。二刻行三陰。不當云在三陽。在三陰也。後敘衛氣之在身也。上下往來各有常期。乃是候其所在。而刺之又別一義。與前文全不相涉。刺法雖已失傳。而文義具在。澄心靜思自能覷破。再所稱手足太陽少陽陽明。皆以部分言。非以經絡言也。陰分陽分統為晝行於陽。內行五臟。乃為夜行於陰。</p>
<h3>九宮八風第七十七</h3>
<p><a href="_files/pt33a1.bmp">合八風虛實邪正</a></p>
<p>立秋二（玄委西南方）　秋分七（倉果西方）　立冬六（新洛西北方）　夏至九（上天南方）　招搖中央　冬至一（葉蟄北方）　立夏四（陰洛東南方）　春分三（倉門東方）　立春八（天留東北方）</p>
<p>太一常以冬至之日。居葉蟄之宮。四十六日。明日居天留。四十六日。明日居倉門。四十六日。明日居陰洛。四十五日。明日居天宮。四十六日。明日居玄委。四十六日。明日居倉果。四十六日。明日居新洛。四十五日。明日復居葉蟄之宮。曰冬至矣。太一日游。以冬至之日。居葉蟄之宮。數所在日。從一處。至九日。復反於一。常如是。無已。終而復始。太一移日。天必應之以風雨。以其日風雨則吉。歲美民安少病矣。先之則多雨。後之則多旱。太一在冬至之日有變。占在君。太一在春分之日有變。占在相。太一在中宮之日有變。（在中宮之日無考張景岳以為四季土王之日以六元正紀大論王冰注考之張說不為無本第以八宮之日數推之殊覺未安）占在吏。太一在秋分之日有變。占在將。太一在夏至之日有變。占在百姓。所謂有變者。太一居五宮之日。大風折樹木。揚沙石。各以其所主占貴賤。因視風所來而占之。</p>
<p>風從其所居之鄉來。為實風。主生長。養萬物。從其沖後來。為虛風。傷人者也。主殺主害者。謹候虛風而避之。故聖人日避虛邪之道。如避矢石然。邪弗能害此之謂也。是故太一入徙立於中宮。乃朝八風以占吉凶也。風從南方來。名曰大弱風。其傷人也。內舍於心。外在於脈。其氣主為熱。風從西南方來。名曰謀風。其傷人也。內舍於脾。外在於肌。</p>
<p>其氣主為弱。風從西方來。名曰剛風。其傷人也。內舍於肺。外在於皮膚。其氣主為燥。風從西北方來。名曰折風。其傷人也。內舍於小腸。外在於手太陽脈。脈絕則溢。脈閉則結不通。善暴死。（絕字只作極字解是熱極而血沸者也）風從北方來。名曰大剛風。其傷人也。內舍於腎。外在於骨與肩背之膂筋。其氣主為寒也。風從東北方來。名曰凶風。其傷人也。內舍於大腸。外在於兩脅腋。骨下及肢節。風從東方來。名曰嬰兒風。其傷人也。內舍於肝。外在於筋紐。其氣主為身濕。風從東南方來。名曰弱風。其傷人也。內舍於胃。外在肌肉。其氣主為體重。此八風者。皆從其虛之鄉來。</p>
<p>乃能病患。（揣此文義似太一居八宮之口皆先立於中宮而後徙也）三虛相搏。則為暴病卒死。兩實一虛。病則為淋露寒熱。</p>
<p>犯其雨濕之地。則為痿。故聖人避風如避矢石焉。其有三虛而偏中於邪風。則為擊骨偏枯矣。（此篇之義即中風之病本也當與素問風論合看而三虛之義尤宜致思也後世真中類中刺刺不休終是明昧參半之論夫四時之氣八方之動寒熱燥濕皆謂之風而惟燥最厲則以三虛相搏故也內外之風皆生於燥靜觀者當會心不遠耳）</p>
<p>先敘所居之宮。次敘所占之變。繼敘所主之病。愈拶愈切於身。行文節節有提有束。每節尾與次節有山斷云連之勢。</p>
<p>一氣貫注官止神行。文之極疏暢者。</p>
<h2>卷十二</h2>
<h3>九針論第七十八</h3>
<p>黃帝曰。余聞九針於夫子。眾多博大矣。余猶不能寤。敢問九針焉生。何因而有名。岐伯曰。九針者。天地之大數也。始於一而終於九。故曰一以法天。二以法地。三以法人。四以法時。五以法音。六以法律。七以法星。八以法風。</p>
<p>九以法野。黃帝曰。以針應九之數。奈何。岐伯曰。夫聖人之起天地之數也。一而九之。故以立九野。九而九之。九九八十一。以起黃鐘數焉。以針應數也。一者天也。天者陽也。五臟之應天者肺。肺者五臟六腑之蓋也。皮者肺之合也。</p>
<p>人之陽也。故為之治針。必大其頭而銳其末。令無得深入。而陽氣出。二者地也。人之所以應土者肉也。故為之治針。</p>
<p>必其身而員其末。令無得傷肉分。傷則氣竭。三者人也。人之所以成生者血脈也。故為之治針。必大其身而員其末。</p>
<p>令可以按脈勿陷。以致其氣。令邪氣獨出。四者時也。時者四時八風之客於經絡之中。為瘤病者也。故為之治針。必其身而銳其末。令可以瀉熱出血。而痼病竭。五者音也。音者冬夏之分。分於子午。陰與陽別。寒與熱爭。兩氣相搏。</p>
<p>合為癰膿者也。故為之治針。必令其末如劍鋒。可以取大膿。六者律也。律者調陰陽四時。而合十二經脈。虛邪客於經絡。而為暴痹者也。故為之治針。必令尖如　。且員且銳。中身微大。以取暴氣。七者星也。星者人之七竅。邪之所客於經而為痛痹。舍於經絡者也。故為之治針。令尖如蚊虻喙。靜以徐往。微以久留。正氣因之。真邪俱往。出針而養者也。八者風也。風者人之股肱八節也。八正之虛風。八風傷人。內舍於骨解腰脊節腠之間。為深痹也。（腠下原有理字昧者妄增刪之）故為之治針。必長其身鋒其末。可以取深邪遠痹。九者野也。野者人之節解。皮膚之間也。淫邪流溢於身。</p>
<p>如風水之狀而溜。不能過於機關大節者也。故為之治針。令小大如挺。其鋒微員。以取大氣之不能過於關節者也。黃帝曰。針之長短有數乎。岐伯曰。一曰　針者。取法於布針。去末寸半。卒銳之。長一寸六分。主熱在頭身也。二曰員針。</p>
<p>取法於絮針。　其身而卵其鋒。長一寸六分。主治分肉間氣。三曰　針。取法於黍粟之銳。長三寸半。主按脈取氣。令邪出。四曰鋒針。取法於絮針。　其身鋒其末。長一寸六分。主癰熱出血。五曰鈹針。取法於劍鋒。廣二分半。長四寸。</p>
<p>主大癰膿。兩熱爭者也。六曰員利針。取法於　針。微大其末。反小其身。令可深內也。長一寸六分。主取癰痹者也。</p>
<p>七曰毫針。取法於毫毛。長一寸六分。主寒熱痛痹在絡者也。八曰長針。取法於綦針。長七寸。主取深邪遠痹者也。九曰大針。取法於鋒針。其鋒微員。長四寸。主取大氣不出關節者也。針形畢矣。此九針大小長短法也。黃帝曰。愿聞身形應九野。奈何。岐伯曰。請言身形之應九野也。左足應立春。其日戊寅己丑。左脅應春分。其日乙卯。左手應立夏。</p>
<p>其日戊辰己巳。膺喉首頭應夏至。其日丙午。右手應立秋。其日戊申己未。右脅應秋分。其日辛酉。右足應立冬。其日戊戌己亥。腰尻下竅應冬至。其日壬子。六腑膈下三臟應中州。其大禁。大禁太乙所在之日及諸戊己。凡此九者。善候八正所在之處。所主左右上下體體有癰腫者。欲治之。無以其所直之日潰治之。是謂天忌日也。形樂志苦。病生於脈。</p>
<p>治之以灸刺。形苦志樂。病生於筋。治之以熨引。形樂志樂。病生於肉。治之以針石。形苦志苦。病生於咽喝。（咽即噎字喝者喘也）治之以甘藥。形數驚恐。筋脈不通。病生於不仁。治之以按摩醪藥。是謂五形。五臟氣。心主噫。肺主咳。</p>
<p>肝主語。脾主吞。腎主欠。六腑氣。膽為怒。胃為氣逆噦。大腸小腸為泄。膀胱不約為遺溺。下焦溢為水。五味。酸入肝。辛入肺。苦入心。甘入脾。咸入腎。淡入胃。是謂五味。五並。精氣並肝則憂。並心則喜。並肺則悲。並腎則恐。</p>
<p>並脾則畏。是謂五精之氣。並於臟也。五惡。肝惡風。心惡熱。肺惡寒。腎惡燥。脾惡濕。此五臟氣所惡也。五液。心主汗。肝主泣。肺主涕。腎主唾。脾主涎。此五液所出也。五勞。久視傷血。久臥傷氣。久坐傷肉。久立傷骨。久行傷筋。此五久勞所病也。五走。酸走筋。辛走氣。苦走血。咸走骨。甘走肉。是謂五走也。五裁。病在筋。無食酸。病在氣。無食辛。病在骨。無食咸。病在血。無食苦。病在肉。無食甘。口嗜而欲食之。不可多矣。必自裁也。故命曰五裁。</p>
<p>五發。陰病發於骨。陽病發於血。陰病發於肉。陽病發於冬。陰病發於夏。五邪。邪入於陽則為狂。邪入於陰則為血痹。</p>
<p>邪入於陽。轉則為癲疾。邪入於陰。轉則為喑。陽入之於陰。病靜。陰出之於陽。病喜怒。五藏。心藏神。肺藏魄。肝藏魂。脾藏意。腎藏精志也。五主。心主脈。肺主皮。肝主筋。脾主肌。腎主骨。陽明多血多氣。太陽多血少氣。少陽多氣少血。太陰多血少氣。厥陰多血少氣。少陰多氣少血。故曰刺陽明出血氣。刺太陽出血惡氣。刺少陽出氣惡血。刺太陰出血惡氣。刺厥陰出血惡氣。刺少陰出氣惡血也。足陽明太陰為表裡。少陽厥陰為表裡。太陽少陰為表裡。是謂足之陰陽也。手陽明太陰為表裡。少陽心主為表裡。太陽少陰為表裡。是謂手之陰陽也。（以上俱見素問宣明五氣論血氣形志論兩篇中）</p>
<p>條列事類。以整飭出之是經文定律也。文境平正博大絕人攀躋。前三節自是題中正義形志。以下亦用針者。所必講也。故類聚之。</p>
<h3>歲露論第七十九</h3>
<p>黃帝問於岐伯曰。經言夏日傷暑。秋必病瘧。瘧之發也以時。其故何也。岐伯對曰。邪客於風府。循膂而下。衛氣一日一夜。常大會於風府。其明日。日下一節。故其作日晏。此其先客於脊背也。故每至於風府。則腠理開。腠理開則邪氣入。邪氣入則病作。此所以日作也。衛氣之行風府也。日下一節。二十一日。下至尾底。二十二日入脊內。注於伏沖之脈。其行九日。出於缺盆之中。其氣上行。故其病稍益早也。至其內搏於五臟。橫連募原其道遠其氣深。其行遲。</p>
<p>不能日作。故次日乃蓄積而作焉。黃帝曰。衛氣每至於風府。腠理乃發。發則邪入焉。其衛氣日下一節。則不當風府。</p>
<p>奈何。岐伯曰。風府無常。衛氣之所應。必開其腠理。氣之所舍。即其腑也。黃帝曰。善。夫風之與瘧也。相與同類。</p>
<p>而風常在。而瘧特以時休。何也。岐伯曰。風氣留其處。瘧氣隨經絡沉以內搏。故衛氣應乃作也。帝曰。善。（此論瘧而映帶風字是客筆）黃帝問於少師曰。余聞四時八風之中人也。故有寒暑。寒則皮膚急而腠理閉。暑則皮膚緩而腠理開。</p>
<p>賊風邪氣因得以入乎。將必須八正虛邪。乃能傷人乎。少師答曰。不然。賊風邪氣之中人也。不得以時。然必因其開也。</p>
<p>其入深。其內極病。其病患也卒暴。因其閉也。其入淺以留。其病也徐以遲。黃帝曰。有寒溫和適。腠理不開。然有卒病者。其故何也。少師答曰。帝弗知邪入乎。雖平居。其腠理開閉緩急。其故常有時也。黃帝曰。可得聞乎。少師曰。</p>
<p>人與天地相參也。與日月相應也。故月滿。則海水西盛。人血氣積。肌肉充。皮膚致。毛髮堅。腠理　。（　義當同翕）</p>
<p>煙垢著。當是之時。雖遇賊風。其入淺不深。至其月郭空。則海水東盛。人氣血虛。其衛氣去。形獨居。肌肉減。皮膚縱。腠理開。毛髮殘。　理薄。煙垢落。當是之時。遇賊風則其入深。其病患也卒暴。黃帝曰。其有卒然暴死者何也。</p>
<p>少師答曰。三虛者。其死暴疾也。得三實者。邪不能傷人也。黃帝曰。愿聞三虛。少師曰。乘年之衰。逢月之空。失時之和。因為賊風所傷。是謂三虛。故論不知三虛。工反為粗。黃帝曰。愿聞三實。少師曰。逢年之盛。遇月之滿。得時之和。雖有賊風邪氣。不能危之也。命曰三實。黃帝曰。善乎哉論。明乎哉道。請藏之金匱。然此一夫之論也。（此風之乘虛而入非天行之時病也與九宮八風篇義同在本篇仍是主中賓）黃帝曰。愿聞歲之。所以皆同病者。何因而然。少師曰。</p>
<p>此八正之候也。黃帝曰。候之奈何。少師曰。候此者。常以冬至之日。太一立於葉蟄之宮。其至也。天必應之以風雨者矣。風雨從南方來者為虛風。賊傷人者也。其以夜半至也。萬民皆臥。而弗犯也。故其歲民少病。其以晝至者。萬民懈惰。而皆中於虛風。故萬民多病。虛邪入客於骨。而不發於外。至其立春陽氣大發。腠理開。因立春之日。風從西方來。</p>
<p>萬民又皆中於虛風。此兩邪相搏。經氣結代者矣。故諸逢其風而遇其雨者。命曰遇歲露焉。因歲之和而少賊風者。民少病而少死。歲多賊風邪氣。寒溫不和。則民多病而死矣。黃帝曰。虛邪之風。其所傷貴賤何如。候之奈何。少師答曰。</p>
<p>正月朔日。太一居天留之宮。其日西北風。不雨。人多死矣。正月朔日。平旦北風。春民多死。正月朔日。平旦北風行。</p>
<p>民病多者十有三也。正月朔日。日中北風。夏民多死。正月朔日。夕時北風。秋民多死。終日北風。大病。死者十有六。</p>
<p>正月朔日。風從南方來。命曰旱鄉。從西方來。命曰白骨。將國有殃。人多死亡。正月朔日。風從東方來。發屋揚沙石。</p>
<p>國有大災也。正月朔日。風從東南方行。春有死亡。正月朔日。天和溫不風。　賤。民不病。天寒而風。　貴。民多病。</p>
<p>此所謂候歲之風。HT　傷人者也。二月丑不風。民多心腹病。三月戌不溫。民多寒熱。四月巳不暑。民多癉病。十月申不寒。民多暴死。諸所謂風者。皆發屋折樹木揚沙石起毫毛髮腠理者也。（後半篇所論諸風乃指時行之病與九宮八風篇不同讀者詳之）</p>
<p>先以瘧陪說入八風正義。後首詳三虛三實。次備敘風邪傷人之情。條列風邪傷人之候。汪洋浩瀚文中鉅觀。此篇義凡三變。上截重在人氣。中截天氣人氣並重。下截重在天氣分野。中峰變陰晴。眾壑殊文境有煙云往來。乍陰乍陽之妙。</p>
<h3>大惑論第八十</h3>
<p>黃帝問於岐伯曰。余嘗上於清冷之台。中階而顧。匍匐而前。則惑。余私異之。竊內怪之。獨暝獨視。安心定氣。</p>
<p>久而不解。獨博獨眩。（博義難通當是轉之訛也）被發長跪。俯而視之。後久之不已也。卒然自上。何氣使然。岐伯對曰。</p>
<p>五臟六腑之精氣。皆上注於目。而為之精。精之窠為眼。骨之精為瞳子。筋之精為黑眼。血之精為絡。其窠氣之精為白眼。肌肉之精為約束裹擷。筋骨血氣之精。而與脈並為系。上屬於腦後。出於項中。故邪中於項。因逢其身之虛。其入深則隨眼系。以入於腦。入於腦則腦轉。腦轉則引目系急。目系急則目眩以轉矣。邪中其精。其精不相比也。則精散。</p>
<p>精散則視歧。視歧見兩物。目者。五臟六腑之精也。營衛魂魄之所常營也。神氣之所生也。故神勞則魂魄散。志意亂。</p>
<p>是故瞳子黑眼法於陰。白眼赤脈法於陽也。故陰陽合傳而精明也。目者。心之使也。心者。神之舍也。故神精亂而不轉。</p>
<p>卒然見非常處。精神魂魄散不相得。故曰惑也。黃帝曰。余疑其然。余每之東苑。未曾不惑。去之則復。余唯獨為東苑勞神乎。何其異也。岐伯曰。不然也。心有所喜。神有所惡。卒然相感則精氣亂。視誤故惑神移乃復。是故間者為迷。</p>
<p>甚者為惑。黃帝曰。人之善忘者。何氣使然。岐伯曰。上氣不足。下氣有餘。腸胃實而心肺虛。虛則營衛留於下。久之不以時上。故善忘也。黃帝曰。人之善飢而不嗜食者。何氣使然。岐伯曰。精氣並於脾。熱氣留於胃。胃熱則消穀。穀消故善飢。胃氣逆上。則胃脘寒。（寒似當作實）故不嗜食也。黃帝曰。病而不得臥者。何氣使然。岐伯曰。衛氣不得入於陰。常留於陽。留於陽則陽氣滿。陽氣滿。則陽蹺盛。不得入於陰。則陰氣虛。故目不瞑矣。黃帝曰。病而目不得視者。何氣使然。岐伯曰。衛氣留於陰。不得行於陽。留於陰則陰氣盛。陰氣盛。則陰蹺滿。不得入於陽。則陽氣虛。故目閉也。黃帝曰。人之多臥者。何氣使然。岐伯曰。此人腸胃大。而皮膚濕。而分肉不解焉。腸胃大則衛氣留久。皮膚濕則分肉不解其行遲。夫衛氣者。晝日常行於陽。夜常行於陰。故陽氣盡則臥。陰氣盡則寤。故腸胃大。則衛氣留久。</p>
<p>皮膚濕。分肉不解。則行遲。留於陰也。久其氣不清則欲瞑。故多臥矣。其腸胃小。皮膚滑以緩。分肉解利。衛氣之留於陽也久。故少瞑焉。黃帝曰。其非常經也。卒然多臥者。何氣使然。岐伯曰。邪氣留於上焦。上焦閉而不通已。食若飲湯。衛氣留久於陰而不行。故卒然多臥焉。黃帝曰。善治此諸邪奈何。岐伯曰。先其臟腑。誅其小過。後調其氣。盛者瀉之。虛者補之。必先明知其形志之苦樂。定乃取之。</p>
<p>重論眩惑附論諸邪。而以治法結之。篇法數見不鮮矣。運筆自夭矯可喜。</p>
<h3>癰疽第八十一</h3>
<p>黃帝曰。余聞腸胃受穀。上焦出氣。以溫分肉。而養骨節。通腠理。中焦取汗如露上注溪穀。而滲孫脈。津液和調變化而赤是為血。血和則孫脈先滿。孫脈滿溢。乃注於絡脈。絡脈皆盈。乃注於經脈。陰陽已張。因息乃行。行有經紀周有道理。與天合約不得休止。切而調之。從虛去實。瀉則不足。疾則氣減。留則先後。從虛去虛。補則有餘。血氣已調。形氣乃持。余已知血氣之平與不平。未知癰疽之所從生。成敗之時。死生之期。各有遠近。何以度之。可得聞乎。（以上敘血之源流跌入癰疽以起下文）岐伯曰。經脈留行不止。與天同度。與地合紀。故天宿失度。日月薄蝕。地經失紀。</p>
<p>水道流溢。草　不成。（　蓋　之訛也見邪客篇　音宜　草鹿蔥也一名宜男）五穀不殖。徑路不通。民不往來。巷聚邑居。則別離異處。血氣猶然。請言其故。夫血脈營衛。周流不休。上應星宿。下應經數。寒邪客於經絡之中。則血泣。</p>
<p>血泣則不通。不通則衛氣歸之不得復反。故癰腫寒氣化為熱。熱勝則腐肉。肉腐則為膿。膿不瀉則爛筋。筋爛則傷骨。</p>
<p>骨傷則髓消。不當骨空。不得泄瀉。血枯空虛則筋骨肌肉不相榮。經脈敗漏熏於五臟。臟傷故死矣。（以上承上文敘癰疽之本末跟定血字而緯之以寒熱統冒下文）黃帝曰。愿盡聞癰疽之形與忌曰名。岐伯曰。癰發於嗌中。名曰猛疽。猛疽。</p>
<p>不治。化為膿。膿不瀉。塞咽。半日死。其化為膿者。瀉則合豕膏。冷食。三日而已。發於頸。名曰天疽。其癰大以赤黑。不急治。則熱氣下入淵腋。前傷任脈。內熏肝肺。熏肝肺。十余日而死矣。陽留大發。消腦留項。名曰腦爍。其色不樂。項痛而如刺以針。煩心者。死不可治。發於肩及　。名曰疵癰。其狀赤黑。急治之。此令人汗出至足。不害五臟。</p>
<p>癰發四五日。逞　之。發於腋下。赤堅者。名曰米疽。治之以砭石。欲細而長。疏砭之。塗以豕膏。六日已。勿裹之。</p>
<p>其癰堅而不潰者。為馬刀俠癭。急治之。發於胸。名曰井疽。其狀如大豆。三四日起。不早治。下入腹。不治。七日死矣。發於膺。名曰甘疽。色青。其狀如　實栝蔞。常苦寒熱。急治之。去其寒熱。十歲死。死後出膿。發於脅。名曰敗疵。敗疵者。女子之病也。灸之。其病大癰膿。治之。其中乃有生肉。大如赤小豆。銼　翹草根各一升。以水一斗六升煮之。竭為取三升。則強飲。濃衣坐於釜上。令汗出至足。已發於股脛。名曰股脛疽。其狀不甚變。而癰膿搏骨。不急治。三十日死矣。發於尻。名曰銳疽。其狀赤堅大。急治之。不治。三十日死矣。發於股陰。名曰赤施。不急治。六十日死。在兩股之內。不治十日而當死。發於膝。名曰疵癰。其狀大癰。（謂鋪大而壅硬也）色不變。寒熱。如堅石。勿石。</p>
<p>石之者死。須其柔。乃石之者生。諸癰疽之發於節而相應者。（謂痛應於丙之臟腑也）不可治也。發於陽者。百日死發於陰者。三十日死。發於脛。名曰兔嚙。其狀赤至骨急治之。不治。害人也。發於內踝。名曰走緩。其狀癰也。色不變。</p>
<p>數石其輸。而止其寒熱。不死。發於足上下。名曰四淫。其狀大癰。急治之。百日死。發於足傍。名曰厲癰。其狀不大。</p>
<p>初如小指。發急治之。去其黑者。不消。輒益。不治。百日死。發於足指。名脫癰。其狀赤黑。死不治。不赤黑。不死。</p>
<p>不衰。急斬之。不則死矣。（以上只敘形名而缺其忌當有脫文甲乙經中詳之）黃帝曰。夫子言癰疽。何以別之。岐伯曰。</p>
<p>營衛稽留於經脈之中。則血泣而不行。不行則衛氣從之而不通。壅遏而不得行。故熱。大熱不止。熱勝則肉腐。肉腐則為膿。然不能陷。骨髓不為　枯。五臟不為傷。故命曰。癰。黃帝曰。何謂疽。岐伯曰。熱氣　盛。下陷肌膚筋髓枯。</p>
<p>內連五臟血氣竭。當其癰下。筋骨良肉。皆無余。故命曰。疽。疽者。其上之皮夭以堅。堅如牛領之皮癰者。其皮上薄以澤此其候也。</p>
<p>前後總敘。中間分敘。常法也。而詞旨修潔格律謹嚴。中間許多條目卻首尾一氣貫注。煉氣歸神豈徒才大。按疽者索而陷也。癰者壅而盛也。林屋山人以平起堅軟。辨其形以疼痛麻木。辨其情以赤白鮮黯辨其色。以陰陽寒熱辨其氣。</p>
<p>大致與經旨不悖。而於熱氣渾盛下陷肌膚之義未備者。蓋癰疽皆起於津液之燥結。而微甚判之一寒而燥結。一熱而燥結。</p>
<p>寒則內陷。熱則外壅。故淺深不同。經統言熱者。以其統歸於燥結也。林屋劈分寒熱者惡其混也。</p>
<h2>跋</h2>
<p>上內經評文。凡素問篇八十一卷二十四。唐王啟玄所分卷也。靈樞篇八十一卷十二。相傳亦啟玄分卷。或曰宋史崧所分也。失古九九之義矣。其遺篇傳於宋之劉溫舒。世遂謂溫舒偽作。非也蓋溫舒以前為啟玄學人之所作也。始未必敢僭以補經。而指為遺篇是溫舒之過。然聖經日湮舊文所存無分真偽。皆可珍惜則附經以傳固未可濃非也。大論諸篇古本內經所無啟玄。並內經篇數而取此以益之後人。因張仲景有陰陽大論之語謂即此是也。當不謬矣。又有斥為偽作者。夫大論既見稱於仲景。雖非內經本文要自古聖之精旨也。相附以傳得至不沒啟玄之功。何可誣哉。故居今之日。猶獲見大論遺篇之文者。非二公之力殆不及此。靈樞缺脫彌甚史崧取皇甫士安針灸甲乙經文補之亦猶是愛古之深情。利世之盛意也。且夫古籍之散佚也。每覽歷代藝文之志考之於世百不存一二。彼以一生心血之所聚。既已見稱當時得列名於史官矣。</p>
<p>猶尚不能永其傳其他又何論焉。後之人宜有不勝惋惜之情者矣。乃反肆口詆　不遺余力。若必欲使世不存其書而後快。</p>
<p>此其用心何在也。茲者取兩經全文而評之。極知淺陋無可觀第。其用心世或有能諒之者。雖然生斯世也。不能揚風振烈抗跡於古之大丈夫。而區區於尋行數墨之間。猶且俯首脅肩折腰。瞠目求諒於不知誰何之人。其亦委瑣之至矣。撫躬自念能無　然慚恧也乎。</p>
<p>誥授通議大夫。賜進士出身。三品銜在任。候補知府。江南揚州府。糧捕河務水利。同知皖南建德周學海　之。識於秦郵工次。</p>
