<header><h1>秘傳劉伯溫家藏接骨金瘡禁方</h1></header>
<dl class="元資料" data-type="book" hidden></dl>
<h2>序</h2>
<p>體仁子曰：「是書何謂而秘稱禁書？」蓋緣外無獨秘，故以禁書名之也。非秘而不行之所緣元胡久穢中土，我朝太祖高皇帝，愛念民生，平胡滅虜，掃蕩膻腥。惟是諸臣不但恐懼，所向無前。然當破釜焚舟之後，未免瘡痍困苦。我太祖臨戎則心苦，有切膚之痛，故恆破錢糧巨萬，招致方外名人及諸奇醫，並求接骨出鏃、內傷跌仆、金瘡種種異術，遍尋起死回生之妙訣，不待言而心懇切矣。又擇選經驗者，錄出成帙，藏之禁中，以為國家征伐斗戰之備用。時青田先生與聞國家大事，君臣魚水，而得禁藏於家。予乃與裔孫松石翁交好數十年，一日偶談岐黃之學，因嘆青囊秘方不得復見於時。翁云：「吾祖有禁方一冊，等閑不以示人，用之輒獲奇驗。」乃出是書，授予視之。書雖不多，然皆出於岐黃外，別傳秘方奇法，非時醫所能覷其藩離者也。予何幸而得之，謹當世世寶之勿替也。恐後之子孫不知，或有遺棄之者，故特序其所出之源流云耳。</p>
<p><u>時宣德二年小春望日謹序</u></p>
<h2>論跌治法</h2>
<p>凡人在高處跌下，俗名倒栽蔥。天靈蓋未破者，可救；如穿者，三魂已散，七魄全無，歸位，呼吸雖有，是候死之症也。治法灸丹田穴。凡仰天跌下，背脊骨斷者，其人坐臥不寧，雖然勢重，其神不散，急宜治之無妨。若過七日而醫治，則難以救之，必喪黃泉也。其治法：必用空屋一間，上有著力之處，將帶懸之梁上，以人扶起，患者倒背，將兩條腳帶從兩脅兜轉，腳帶在臂上兜起，懸空吊之，前用兩條，後用兩條，即將人吊起，其人自直。用海板一塊，長三尺許，放於背上，又另將腳帶胸前綁一道，腰下綁一道，內綁一道，共三道，連人帶板而綁，其人一吊自直。而就板綁之，其直非常，輕輕放下，仰天而臥，不可搖動。</p>
<p>用藥七服，七日後輕輕將腳帶放下，其板則不可去。再用七日，輕輕抽去板，二十一日方可搖動其腰脊，自接上也。再以別藥以去其傷而並補之為妙。</p>
<p>仆心跌去，有跌斷胸膀骨者，即攙起仰臥不用動手，即用接骨丹七服，其骨自接，不拘。其骨不斷者，只用七厘散三服，不拘服別藥而愈。凡跌斷肋骨，不用動手，照前法而治之。先以膏藥貼患處，即用行傷打藥去盡瘀血，後服接骨丹七服，其骨凸出，照後用藥酒去傷一月而愈。凡頂骨跌斷而陷下者，用鮮虎脂四兩，川芎五錢，酒煎服。凡打碎頂門，不可用草藥，恐其潰爛，宜用止血散摻之，次服上部末藥。凡食喉傷者不治。傷氣喉者，先用銀絲縫好，外用草藥敷之，日換二次。候其皮肉並合，方用生肌散，外貼膏藥，服上部末藥湯。</p>
<p>凡人腸出者，用麻油以青布搭上候軟，先用手托住腸子，令人含水一口，默向患人面上一噴，其人一驚，其腸自入。用銀絲縫好，外敷草藥，內服中部末藥湯。一法腸出者，用原酒釀數斤，以布浸透，將布搭於腸上，看腸上之布微微熱氣，即泡熱薑湯與患人服下，薑湯入處即能收進，湯力行到，其腸即收完矣。若腸穿者，可用鮮桑白皮打線，縫好其肚上，破處亦以此法縫之，外以血竭末敷上自愈。此法秘傳。凡人指斷者，須湊上，用水蠟燭內膜包裹，待內骨接上方用生肌散以膏藥貼之。凡人身初跌損血出，用草藥先內服上部末藥，加接骨丹三分同服下。凡中部初跌損，先服中部末藥加接骨丹五分。輕者七日後服煎藥，重者二七日後服煎藥。</p>
<p>凡下體初跌損，治法同中部，服下部末藥。凡人偶然閃挫損傷，不拘周身上下，各宜自裁治服，或敷、或貼、或服藥等類。如重者加接骨丹三分，輕者則不可用也。</p>
<h2>論斗毆穴道</h2>
<p>凡斗毆周身穴道難以盡述，特纂其要，智者當深察之不可忽也。霸王開鎖一拳，即咽喉也。若悶者，即在腦後百勞上一寸，左手襯在穴上，用右手不論輕重連打數下即醒。如不醒激用艾灸之，其穴在腦骨下一寸五分，以麝香連灸四五次而醒，即用順氣散。如不醒則無救矣。或灸丹田穴。</p>
<p>封喉在霸王開鎖下三寸，用手橫打外去者是也。如悶者在霸王開鎖穴下半寸，用左手叉項，右手扳住頭，往後一扳即醒，後用順氣散。兩氣眼在隔孔上下，後氣眼照前氣眼是也。</p>
<p>打上氣眼悶倒者，照前手襯打後氣眼，打後氣眼還拳即打前氣眼，打前上氣眼即打後下氣眼，打後上氣眼即打前下氣眼。若打左邊須打右邊，若打右邊須打左邊。若不醒照前法灸肩井穴，醒後服順氣散。打血海，其穴往上第八根肋骨空所為下血海也，第十根肋骨空所為中血海，腋窩中間為上血海也。若打下血海輕者三年死，重者一年死，再重者三月死。打中血海輕者一年死，重者半年死，再重者兩月死。打上血海輕者一月死，重者五日死，再重者即死。其穴不拘上下左右，打傷俱要吐鮮血而死，急宜治之無妨。即用行傷打藥行血十三味一帖為上，後用歸血入筋藥，若遲之則無救矣。打霍肺，其穴在下氣眼傍一寸是也，內空而外實，若拳打重者，打進肋骨不拘幾根，亦用十三味藥一帖，後用接骨丹，其骨自然凸出，再用行藥，補藥亦可。肋骨不斷者，亦用十三味一帖，後用補肺丸為妙。人參五錢，白芍五錢，厚朴五錢，前胡一兩，以上研為細末蜜丸如綠豆大，每服一錢，空</p>
<h3>行血歸經散</h3>
<p>打血海者用。橘紅　牛膝　荊芥（各五錢）　防己　生地　五加皮（各一兩）　甘草　川芎　桔梗（各三錢）　當歸（四錢）</p>
<h3>順氣散</h3>
<p>陳皮　木香　厚朴　前胡　神麯（炒）　生地　川芎　石菖蒲　五加皮　白豆蔻　杜仲（鹽水炒）　以上各五錢，共為細末。每服一錢，好酒送下。</p>
<h3>掃腸丸</h3>
<p>打盤腸者用。蘇木　木通　皂礬（火　）　五加皮（各一兩）　紅花　澤瀉　前胡（各五錢）　當錢）　核桃肉（半斤）　以上共為細末，為丸如桐子大。每服二十丸，陳酒送下，如大便出糞黑者</p>
<h3>護心七厘散</h3>
<p>打翻肚並黑虎透心者用，大凡打重者，宜先服此藥一服。接骨蟲（不拘多少入壇內餓二洗淨入酒釀內醉死，晒乾為末備用）</p>
<p>鬧羊花（不拘多少用燒酒浸透晒乾用）　人參　桔梗棗仁　甘草　黃　以上各等分為細末，肥壯者每服三分，瘦弱者每服二分，酒沖，臨臥時服下，切宜避風。</p>
<h3>十三味行藥方</h3>
<p>不拘重傷，凡有瘀血者俱宜用。紅花　桃仁　蘇木　當歸　松節　五加皮　骨碎補　牛枳殼　木通　澤瀉　前胡　大生軍　通草　水煎，空心服。如行過以米粥湯補之，如灸後則血熱，可加黃柏。</p>
<h3>加減地黃丸</h3>
<p>人參　熟地　猴薑　當歸　棗仁　茯苓　山藥　枸杞　杜仲　牛膝　生地　山萸　杏仁川斷　破故紙　共為末，蜜丸桐子大。每服三錢，早晚白湯送下。</p>
<h3>接骨奪命丹</h3>
<p>如死有微氣者，灌入可治。自然銅　古老錢（各醋　七次，各三錢）　地鱉蟲（五錢）　黃麻（燒灰，三錢）　大黃（酒煎，五錢）　桃仁　當歸尾　紅花（各一錢）　骨碎補（去毛，酒蒸）　乳香沒藥　血竭　兒茶　朱砂　雄黃（各三錢）　麝香（五分）　共為細末，入瓷瓶內，以蠟封好，勿令泄氣，遇症有微氣者，即用此藥，元酒釀送下即活，連進數服即愈。</p>
<h3>接骨丹</h3>
<p>小拳雞一只，干拔去毛，搗爛入官桂末，再搗勻敷骨斷處，一周時其骨接上矣，即去之。如時間過長，恐生多骨而長出。</p>
<p>（作接骨膏亦可）　雞一只，去淨肉，將全身骨酥油炙為末。每服三錢，酒送下。又骨末三錢，取熱雞血調敷患處，再以生雞皮綁縛，經一周時即去之。</p>
<h3>接骨膏</h3>
<p>血余　胡椒　百草霜　虎骨（各一錢）　麝香（五厘）　共為末，糯米煮粥搗勻敷患處，若加生地、地鱉蟲更妙。</p>
<h3>黎洞丸</h3>
<p>牛黃（三分）　大黃（一錢）　天竺黃（二錢）　雄黃（一錢）　藤黃（三分，銅絲打燈火上燒）　鬱金（二分）</p>
<p>言（二分）　白三七（二錢）　唐魏（一錢）　兒茶（三錢）　共為末蜜丸，每丸六分，藏固聽用，老人服一分，壯者三分，弱者二分，幼小者一分。女人壯者二分，幼小者服一分。</p>
<h3>四骨散</h3>
<p>治跌打損傷之後，筋骨疼痛不能伸縮者。雞骨節　虎骨節　犬骨節　龍骨　共為細末，入下部末藥內，服後用寬筋湯。</p>
<h3>地龍散</h3>
<p>治夾打不痛，並治筋骨疼痛。地龍（去淨土，酒炒，五分）　桑寄生（一錢）　乳香　沒藥（去一分）　牛膝　紅花　木香（各二錢）　歸尾　羌活（各二錢五分）　以上共為細末，每服一錢，熱酒</p>
<h3>趁痛丸</h3>
<p>治跌仆損傷及走注歷節諸風、軟風疼痛等症。草烏（去皮臍，一兩）　熟地（或生地亦可）</p>
<p>半夏曲　白僵蟲　烏藥（各五錢）　並晒乾為末，酒糊為丸桐子大。每服七丸，空心日午臨臥溫酒送下。如傷損處，薑汁和酒研十丸塗患處。猝中倒者，薑汁、青茶研化七丸灌下即醒。若加地龍、血竭尤妙。</p>
<h3>閃腰挫氣方</h3>
<p>不拘年月淺深，一服即效。歸身　羌活　蠍尾　骨碎補　劉寄奴　紅花　莪朮　沒藥（研去油沖服）　赤芍　丹皮　澤蘭　牛膝（各一錢）　生地（二錢）　甘草（五錢）　桃仁（一錢）　酒煎服取汗，忌油煎發物。</p>
<h2>論治法</h2>
<p>凡跌打損傷跌仆，男人傷上部易治，下部難療，以氣上升故也。女人傷下部者易治，上療，以血下降故也。凡傷須驗在何處，按其受傷深淺，明其受毒久新。男子氣從左轉屬陽，女於血從右轉屬陰，須辨明氣血之分為最要。傷前體者死速，傷背肩者死緩；傷左邊者氣促面黃浮腫，傷右邊者氣促而面少血。其死症，痰多者死，眼白者死，唇吊者死，失枕者死，糞者死，口臭者死，斜睹者死，氣響者死，喘急胸高者死，耳鼻赤急者死，飲食不進者皆屬死症也。</p>
<h3>續筋方</h3>
<p>先將斷筋湊好相對，用旋覆花汁塗之，仍用搽敷包好。</p>
<h3>取箭頭入骨肉方</h3>
<p>用巴豆、蜣螂同搗敷之，少頃發癢可取。</p>
<h3>用藥歌</h3>
<p>阿膠兮女人聖藥，藕節吐血之良方。炒蒲黃嘔血可用，骨斷兮須求土鱉。薑黃破血能止瘀血賴丹皮蘇木。大黃便閉而可行，生地黃善生新血。破風不醒　一味，跌打後忌薑蔥麻油。瘡不斂象皮血竭，古錢三七為仙藥，延胡索號曰神品無差。手損兮桂枝急用，瘀血在腸桃歸須下。散腫兮荊芥為美，止痛兮滴乳堪夸。頭頂引以川芎，足損須用牛膝。補血止血兮薑，消血積三棱莪朮。理腰傷兮炒杜仲，旋覆花續斷療筋，見腫消能除青腫。橄欖灰止血尤良，柿霜餅血流者無殃。烏藥二香順氣之良，金刀澤蘭跌仆無雙。後人若問作歌者，卻是漢庭張子房。</p>
<h2>脈診</h2>
<p>凡欲識跌打重傷死生，必先察其六脈，起者生，遲細者生，洪大者死；堅強者生，小弱者死，大者二十日死。若命脈和緩關脈實，雖傷重不妨命，脈虛促雖輕亦死。</p>
<h2>辨生死</h2>
<p>凡跌打傷有不治者五，不知痛癢兼發戰者，一不治也；天柱骨折及太陽二穴傷者，二不治也；小腹帶斷心傷破陰囊穿者，三不治也；傷食喉，四不治也；汗出如油盡力叫喊者，五不治也。凡人手足俱有兩脛，若一脛斷者可治，兩脛俱斷者，則不治。大抵骨碎與斷，要看明傷處平正如何，凡骨低是骨不曾傷，左右再看方知傷處，先須拔捺端正，方用外藥。凡認傷處則骨頭平正，便見左右損處，則相度骨縫，仔細捻捺骨歸舊處。頂門雖破骨未入內，可治。</p>
<p>凡耳後受傷不治。食飽受傷三日不死可治。心胸緊痛，青色未裹心，此乃偏心受傷，可治。</p>
<p>男子兩乳受傷，可治，宜急救之，若女人則不治。腹內受傷吐糞者不治。凡氣出而不收兼眼不閉者，不治。凡腎子受傷入腹者不治。正皮破未入腹者可治。正心口青腫者不治。挾脊斷者亦不治之症也。</p>
<h2>拔捺法</h2>
<p>凡手腕出骱者，醫人用左手仰掌托捻被傷手臂，又用右手在下節手近處骱一把，拿定其退縮，盡力一扯，即入故位，方服接骨丹，仍貼膏藥。凡肩臂脫骱者，令患者低處坐定，自用兩手叉定抱膝上，將膝借力一扯，視其臂隨手直前輕輕放兩手，就入骱，方服接骨丹，仍貼膏藥。凡肩胛骨出，用椅當圈住脅，又用軟衣棉被鋪好，再令人捉住，兩手伸卻，墜下手腕，絹布縛之。凡肩井骨在脅下有損，不可夾縛，須捺平正妥貼，以黑龍散敷絹布包好，脅骨亦如此。凡手骨出，須看如何出，若骨向左者，須向右捺入骨，若向右則向左邊捺入。</p>
<p>凡腦骨碎，輕輕用手捺平正。若不破，用烏龍散；若破，則用桃花散填口，以絹包之。不可著風水，犯之則破傷風。倘在發內，宜剪去發敷藥。凡跨骨從臀上出，可用人挺定援伸，方捺入。若跨骨從襠內出，則不可治矣。凡傷重者，大概要拔伸捺正，或取開捺正，然後用桃花散、黑龍散，再夾縛。大抵拔伸要近處，不可覆在第二節骨上。凡拔伸全要相度左右骨如何出，或當正拔伸者，或當斜拔者，凡拔伸或用一人，或用三人，要看傷勢輕重難易如何。</p>
<h2>修整法</h2>
<p>凡骨跌折又出肉外，折處兩頭必如鋒刀，或長短不齊，不能復入，用麻藥麻定方用銼之用小鋸鋸齊，然後按入。方用敷藥及膏，外加棉紙數層，再以粉板夾好，過一二日換膏藥，日進接骨丹兩服。若遇熱天用清茶洗淨，勿令阻氣。若脛骨別出在內者，難治，在外者，用手法推入舊處，方服藥。凡跌打腫處，患者不肯令人著手摸者，又腫硬難辨肉內骨之碎否，必須以麻藥服之。然後用手捻其腫處，如骨肉有聲即是骨碎，以刀割開，如有血出，再用止血散，並麻藥麻住，然後取出碎骨，以別骨補好，膏藥貼之，外用油紙包好，與淡鹽湯一杯服之，待醒後再服接骨丹藥。凡陰子跌出有血者，先用桃仁散止血，以線縫好，再以膏貼之，傷一月內尚可正理，久則難治。</p>
<h2>夾縛法</h2>
<p>凡夾縛，夏二日、冬四五日解開，用溫水洗去舊藥，洗時不可驚動傷處，仍用黑龍散敷平處骨碎皮不破，可用黑龍散貼敷夾縛，若曲折處其勢不可夾縛，恐愈後不能伸曲，可用黑龍散敷貼以便曲伸。凡跌破以末藥敷口，又用傘紙包好，再用杉木皮縛定。凡夾縛，用杉木皮如指闊，四邊排勻，方用繩扎緊三五道，宜粗。如縛指須用苧麻，若杉木皮用尿浸過方用凡腳膝蓋骨乃另生者，如跌碎或跌出者，當用物做成一箍，如蓋骨大蓋在上面，以長帶縛定，外用護膝，又縛如日去之。</p>
<h2>醫治法</h2>
<p>凡重傷必用藥水洗過敷藥，輕者不洗亦可。凡腹破腸出者，醫得其法，一日不死，醫者麻油搽手，然後送腸納入。倘若腸出外風吹而腸脹干不入，即將麻油搽腸滋潤，又用一人托住其腸，再用一人暗含冷水一口，當面一噴，其人必驚，而托腸之人要乘勢將腸一推推入，自然收好，即捻定傷口，用銀絲或絲線縫口。先用止血散，後貼收口膏藥，少頃腹內作響乃腸復位。腸雖歸復內中，傷否目力難知，即取火酒一小杯，令患者飲之，使人嗅其傷處，若聞火酒氣味，其傷不可治矣。線縫時不可露一毫針，孔如稍露亦不可治，慎之，凡頭顱骨破碎，雖白漿流出，不在太陽穴邊可治，用上部末藥倍加黃荊子，或有孔血出不止，先用血見愁杵爛搽上，日換二次，孔小貼膏藥，孔大則搽三日見紅色，見紅色加收口藥，加在膏藥上貼之。</p>
<p>凡出血用桃花散，不止可用三七塞之，另圍桃花散。凡骨碎筋斷皮破，破處俱用桃花散塗四邊，縫好以黑龍散敷之。</p>
<p>凡打後作痛，宜用大黃五錢，桃仁三錢，杏仁三錢，歸尾一錢，甘草梢五錢，酒煎空心服。凡大小便不通，用通理湯或川芎蘇木湯。</p>
<h2>宜忌類</h2>
<p>凡渾身無故作痛，宜服排風湯。凡服傷損藥，須忌生冷、牛羊一切發物，服藥必乘熱服血行運而骨易接。凡跌打處痛腫，此是血凝住，宜用熱藥湯洗之，外敷黑龍散。凡皮裡有碎骨，宜用黑龍散，久骨自出。凡傷重宜服順氣散，不可遽服接骨丹藥等類。凡傷不拘輕重忌服草藥，犯之即取出不能如舊。凡跌打後大便不通，忌服接骨丹，炒藥熱爆又兼酒調，則反助火益勢，且服四物湯待其勢定。如大便不通宜用承氣東加木通、朴硝以通為度，方服接骨丹。凡頂骨碎不可用草藥，宜以止血散搽之，內服上部末藥，又用鮮蟹、虎骨四兩、川芎五錢，用好酒煎服。凡傷處最忌布絹包，恐日後干血膠黏難以換藥，用油紙傘紙包好極妥安。</p>
<p>無藥處一時折骨，宜權用糯米飯加酒藥薑蔥同搗，熨斗熨熱包夾安好，內服老酒使血不凝，然後取藥醫治。凡正骨，骨整用烏龍散敷四圍，桃花散敷填瘀口，次用傘紙包好夾縛。</p>
<h3>洗藥方</h3>
<p>（骨斷皮破者，先用此藥煎湯洗，後方服麻藥）　赤芍藥（五錢）　延胡索（五錢）　當歸（三錢）</p>
<p>（三錢）　蒼朮（一兩）　荊芥（四兩）　外加防風、槐枝、花椒、蔥、艾共切片，每服用一兩，水五升，加荷葉二片煎八分，去渣淋洗。內服麻藥方，先用此藥麻倒，方可以刀割開。若血涌出，以桃花散止之，用外麻藥敷上，使患者不知疼痛，方可割至損處，又用桃花散圍敷割處，外邊再用收口膏藥貼好，與淡鹽湯服之。</p>
<h3>內麻藥方</h3>
<p>川烏（三錢）　草烏（三錢）　大半夏（五錢）　南星（五錢）　黃麻（一錢）　鬧羊花（九分，酒浸七次）　蟾酥（酒浸化，一錢）　芋艿葉汁拌藥晒乾共為末，每服八厘。</p>
<h3>外麻藥方</h3>
<p>（名芋艿散）</p>
<p>川烏（一錢）　草烏（一錢）　大半夏（三錢）　南星（三錢）　鬧羊花（一錢）　黃麻根汁　芋艿葉汁　蓖麻根汁　三葉汁拌藥晒乾，須拌七次共為末，醋調敷割肉，或加雄黃少許，蟾酥五分。</p>
<h3>桃花散</h3>
<p>（止血）　古鍛石（一升，入牛膽內十七次）　大黃四兩（入銅鍋內炒至灰如花色，取出置地一夜而出火毒，研末填疼口並及四邊）。</p>
<h3>黑龍散</h3>
<p>（又名烏龍散）　穿山甲（灰炒，六兩）　丁皮（六兩）　當歸（二兩）　百草霜（五錢）　枇杷葉（去毛）</p>
<p>五錢　共為細末焙收，用時薑汁調和，四邊油紙包好，杉木皮縛緊，服淡鹽湯，待醒來服調</p>
<h3>調氣散</h3>
<p>木香　烏藥　厚朴（薑製）　白芷　青皮　杏仁（去皮尖）　陳皮　前胡　蒼朮（米泔水浸炒）　桔梗　甘草梢　加薑三片，棗二枚，水二鐘煎八分，空心服，次服接骨丹。</p>
<h3>接骨丹</h3>
<p>土鱉蟲（火酒醉死焙乾，三錢）　自然銅（火　醋浸十四次，三錢）　骨碎補（去毛尖，五錢）　血炙，三錢）　當歸尾（酒洗，五錢）　乳香（去油，三錢）　沒藥（去油，三錢）　硼砂（二錢）　大半夏（湯泡三錢）　共為細末，每服一分，陳酒送下。</p>
<h3>續筋丹</h3>
<p>土鱉蟲　三七　血竭　龍骨　共為細末，用唾津調搽。</p>
<h3>玉龍散</h3>
<p>（又名接骨丹）　人中白一味醋　七次，研末用。</p>
<h3>上部末藥</h3>
<p>小川芎（五錢）　蔓荊子（二錢五分）　赤芍（四錢）　白芷（四錢）　歸尾（四錢）　以上共為細末，每服，加麻油炒黃荊子三分，若重傷加接骨丹三分，酒調飽腹服下。輕傷只用接骨丹一分。一方加升麻二錢五分、仙人紫五分（　、酒送蔥頭過服）。</p>
<h3>中部末藥</h3>
<p>杜仲（童便浸炒，五錢）　赤茯苓（六錢）　生地（六錢）　秦艽（六錢）　桃仁（三錢）　紅花（三錢）　延索（六錢）　歸尾（八錢）　赤芍（五錢）　紫荊皮（酒拌炒，一兩）　共為末，每服一錢，加炒荊子五分，若重傷加接骨丹五分，輕傷加接骨丹三分，酒調，半飢飽送下。又一方去延胡　白芷　紫荊血梗　桃仁　紅花　加甘草　黃　陳皮　白朮　血裡梗　臨服沖入炒黃荊子五錢、仙人紫八分，一日兩服，薑過口。</p>
<h3>下部末藥</h3>
<p>牛膝（一兩）　黃荊子（炒，一兩）　當歸尾（八錢）　防風（七錢）　獨活（七錢）　赤芍（六錢）　秦艽（六錢）</p>
<p>共為細末，每服一錢五分。若重傷加接骨丹八分，輕者五分，和酒送下。凡骨碎者以接骨丹加入，若骨不碎斷只用玉龍散加入。一方鐵線藤、防風、陳皮、白芷各等分，臨服加仙人紫一錢，日兩服，蔥白過口（前藥失記血裡梗，無過山龍、黃荊子、紫荊皮）。</p>
<h3>上部傷藥</h3>
<p>川芎　陳皮　花粉　茯苓　白芷　當歸　蔓荊子　防風　赤芍　五加皮　黃麻花　甘草過山龍　或加升麻、　本、南星、威靈仙、半夏，薑三片，水兩碗煎服。</p>
<h3>中部傷藥</h3>
<p>杜仲　紅花　桃仁　防風　歸尾　官桂　甘草梢　赤茯苓　生地　赤芍　過山龍　枳殼或加破故紙、桔梗，水酒煎，半飢服。</p>
<h3>下部傷藥</h3>
<p>牛膝　肉桂　五加皮　生地　海桐皮　獨活　秦艽　赤芍　防風　防己　歸尾　甘草梢或加木瓜、厚朴、陳皮，水酒煎，空心服下。</p>
<h3>止血草藥方</h3>
<p>血見愁　三七　馬蘭頭　旱蓮草　共搗爛塗敷。</p>
<h3>膏藥方</h3>
<p>凡跌打骨碎皮破者不用。片香（二斤）　真麻油（一兩）　當歸（一兩）　紅花（五錢）　白芷（五錢）　川芎（三錢）</p>
<p>蘇木（三錢）　杜仲（二錢）　破故紙（二錢）　木瓜（二錢）　牛膝（五錢）　羌活（五錢）　防風（五錢）</p>
<p>荊芥（五錢）　續斷（五錢）　生地（五錢）　五加皮（二錢）　威靈仙（三錢）　大黃（一兩）　紫荊皮（五錢）</p>
<p>麻黃（五錢）　發灰（五錢）　黃柏（五錢）　苦參（五錢）　黃氈（四兩）　細料藥：百草霜（四兩）　乳香沒藥　甘松　山柰　大黃各等分　再加蔥薑汁各四腕。</p>
<h3>收口膏藥方</h3>
<p>麻油（一斤）　川芎（一兩）　赤芍（一兩）　防風（一兩）　荊芥（一兩）　白芷（一兩）　大黃（一兩）</p>
<p>黃柏（八（二錢）　天花粉（二錢）　黃丹（四兩）　水粉（四兩）　細料藥：珍珠　海螵蛸　血竭　龍骨　兒茶　輕粉　土鱉蟲共研細末，撒在膏上貼。</p>
<h3>活血住痛散</h3>
<p>肉桂　歸尾　甘草梢　川芎　杜仲　木瓜　虎骨　羌活　獨活　乳香　沒藥　白芷　生烏藥　水、酒各一碗煎，加童便服。氣喘加沉香，頭疼倍加川芎，虛汗加麻黃根、浮小麥、白朮、黃　，寒重加乾薑，小便不通加車前子、木通。熱重加柴胡、梔子仁，笑不止加杜仲、破故紙，寒不退加人參、白芍、麻黃，胸緊加枳殼、桔梗，熱不退加彭芥、梔子、薄荷，肚內有血塊加三棱、莪朮、香附，語言恍惚暈去加朱砂、遠志，傷頭出血多加生地，嘔吐飲食不進加藿香、砂仁、丁香、半夏、若痛不進飲食加人參，口中血腥氣加阿膠，如不止用生丁香嚼之，口內吐出糞及食飽傷胃加丁香、草果、半夏、砂仁，如不效是腸斷出血，周身麻木，不知人事時或昏悶，加倍人參或獨用參湯亦可。</p>
<h3>通利湯</h3>
<p>大小便閉用。歸尾　紅花　桃仁　豬苓　澤瀉　木根　甘草梢　赤芍　桔梗　枳殼大黃　芒硝　車前子　薑三片，水酒煎服。</p>
<h3>又方桃仁桔梗湯</h3>
<p>桃仁（三十五粒）　桔梗　杏仁　大黃（煨，各七錢）　車前子　當歸（各五錢）　紅花　蘇木　芒硝（各五錢）　木通　豬苓　澤瀉（各三錢）　加薑三片，水酒煎服。</p>
<h3>排風湯</h3>
<p>肉桂　赤芍　白芍　川當歸　川芎　蘚皮　杏仁　甘草　獨活　防風　麻黃　白茯苓薑三片，水酒煎服。</p>
<h3>陰紅湯</h3>
<p>（治婦人傷，瘀血不散，腹脹大小便不通，悶亂欲絕，用此藥。待瘀血盡後方用前藥）</p>
<p>阿膠　發灰　沒藥　酒煎加童便服。</p>
<h3>尋痛散</h3>
<p>（骨斷折可常服，閃腰亦可服）　乳香　沒藥　木香　川芎　歸尾　杜仲　肉桂　續斷虎骨（炭火　，火酒淬）　古銅錢（火　醋淬七次）　共研細末，每服酒調服兩匙。</p>
<h3>紫金散</h3>
<p>（骨不碎折者可用）　紅肉消　骨碎補　無名異（醋拌）　續斷　歸尾　牛膝　桃仁　蒲黃牡丹皮　川芎　杜仲　蘇木　紅花（各等分）　共為末，每服三錢酒送下。</p>
<h3>麻黃散</h3>
<p>（治破傷風發寒熱）　肉桂（三分）　乾薑（四分）　麻黃（去節，一分）　半夏（薑製，七分）　陳皮（八分）　蒼朮（五分）　桔梗（七分）　川芎（七分）　枳殼（七分）　薑三片煎服。</p>
<h3>消風散</h3>
<p>（治破傷風牙關緊閉）　川當歸（一錢）　川芎（八分）　南星（五分）　甘草（七分）　防風（七分）　陳皮（分）　羌活（一錢）　半夏（五分）　白芷（八分）　芍藥（八分）　升麻（一錢）　桔梗（五分）　加生薑三片煎服。</p>
<p>又方　皂角末吹鼻內，男左女右。</p>
<p>又方　杏仁泡去皮尖，搗爛，火酒調敷患處。</p>
<p>又方　蘿卜葉搗爛包破處。</p>
<h3>龍骨散</h3>
<p>（治跌壞醫好後筋不伸）　雞骨節　虎骨節　犬骨節　龍骨　海桐皮（各八錢）　共研末入下部末藥，內加牛膝（炒，二兩）　黃荊子（二兩）　續斷（八分）　秦艽　羌活　川當歸（各六錢）</p>
<h3>寬筋湯</h3>
<p>（治前症日進一服）　肉桂　牛膝　薑黃　黃　白茯苓　獨活　海桐皮　川當歸　川斷生地　酒煎，空心服。</p>
<p>川烏（一錢）　草烏（一錢）　雄黃（二錢）　蟾酥（七分）　芋葉（七分）　半夏（一錢）　黃麻花（五分）</p>
<p>共為末敷肉上。</p>
<h3>跌傷陰囊方</h3>
<p>古銅錢　油胡桃共為細末，陳酒送下。</p>
<h3>千金丸</h3>
<p>專治跌打損傷，血氣攻心，作痛作悶；或產後惡露不盡，腸中如刀刺；或月經不通，小塊，瘀血久成痞塊。用童便半盅，水半盅，共煎七分，少頃再進一服，惡血自下。男子受刑悶，童便，好酒送下。小腸疝氣，赤白痢疾，用米醋合煎三滾，加水一盅，再煎七分，溫服。蒲黃（炒，一兩）　五靈脂（醋炒，一兩）　延胡索（一兩）　木香（五錢）　共為末，醋糊丸，重者五錢，輕者三錢。</p>
<h3>秘傳接骨君臣散</h3>
<p>（黃末藥，此系葉寶太家傳秘方）　白芷　川芎　桂枝（酒拌）　杜仲（酒炒）　牛膝（酒炒，各三錢）　續斷（酒洗）　防風（各二錢）　防己（二錢）　獨活　秦艽（各五錢）　甘草梢（一錢）　木瓜（一錢）</p>
<p>花粉（二錢）　共為末。又將牡丹皮五錢、薑黃一兩為末，另加明黃末配延胡索六錢、骨碎補四錢、生地五錢。</p>
<p>（紅末藥）　紫金皮一味，醋炒為末。</p>
<h3>黑神散</h3>
<p>（黑末藥）　黃荊子（香油炒為末，瓷瓶收貯），黑末藥名桃紅散，痛甚加乳香（炙）、沒藥（炙）、血竭共研。</p>
<h3>灰末藥</h3>
<p>（名接骨丹與前方同）　土鱉蟲（火酒醉死，焙乾，一錢）　骨碎補（去毛，一錢）　自然銅（醋四次，三錢）　血竭（炙，三錢）　歸尾（酒浸，五錢）　乳香　沒藥（俱炙）　半夏（湯泡，三錢）　白硼砂（二錢）　共研細末收貯。新瘀血攻心加巴霜、大黃末，每服一分，酒服。</p>
<p>（白末藥，骨不斷者可用）　人中白一味，醋　研細用。</p>
<p>凡跌打損傷，不甚傷，骨不斷碎者，用黃末藥八分、紅末藥六分、黑末藥八分、桃花散五分、白末藥二分、薑五錢，蔥白五莖取汁入酒內，加麻油兩匙調服，外貼膏藥。</p>
<p>凡跌打重傷，骨碎折將危者，先用灰末藥一服，大黃，用灰末藥一分發黃末藥，加巴霜黃末調下五分。瘀血盡後去巴霜、大黃，用灰末藥一分發黃末藥八分、紅末藥六分、桃仁末五分，酒調下。</p>
<p>（凡頭破見髓俱可服）　川芎　白芷　桔梗　羌活　防風　川當歸　赤芍　或加黃荊子、生地、五加皮、甘草，或加升麻、　本、南星、花粉、蔓荊子，再加薑三片，水酒煎服。</p>
<p>（凡手、腰、遍身傷俱可用）　杜仲　桂枝　紅花　桃仁　烏藥　薑黃　甘草　丹皮　生地赤芍　歸尾　續斷　秦艽　加皮　或加補骨脂，薑三片，水酒煎服。</p>
<p>（凡腿足傷俱可服）　牛膝　獨活　海桐皮　肉桂　防己　歸尾　赤芍　甘草梢　五加皮黃續斷　生地　丹皮　防風　紅花　薑三片，水酒煎服。凡痛甚加乳香，沒藥三部同用。</p>
<h3>桂枝湯</h3>
<p>（凡傷手者用）　桂枝　歸尾　獨活　赤芍　靈仙　防風　陳皮　紅花　生地　防己　五加皮　赤茯苓　水酒煎服。</p>
<h3>海桐皮散</h3>
<p>（傷足用）　歸尾　赤芍　生地　防風　陳皮　木瓜　牛膝　防己　赤茯苓　肉桂　五加皮天花粉　海桐皮　水酒煎服。</p>
<h3>蔓荊散</h3>
<p>（治跌打傷壞眼目，瘀血脹腫，疼痛難忍）　升麻　白芷　川芎　蔓荊　本　甘草　木賊生地　紅花　當歸　白朮　水酒煎服。</p>
<h3>杏仁散</h3>
<p>（治跌打瘀血在腹肚內作痛）　生地（五錢）　桃仁（去皮尖，二錢）　杏仁（去皮尖，二錢）　歸身（一錢）　甘草梢（五錢）　水煎服。如不散，加柏子根三錢，再服。</p>
<h3>車前散</h3>
<p>（治跌打後大小便不通）　木通　車前　大黃　朴硝　甘草梢　歸尾　生地　桃仁　紅花芍藥　枳殼　天門冬　水酒煎服。</p>
<h3>麝香膏</h3>
<p>（骨碎皮破者不用）　紅花　白芷　桃仁　牛膝　歸尾　桂枝　杜仲　續斷　獨活　防風地荊芥　大黃　五加皮　靈仙　紫荊皮　苦參　黃柏　發灰（各三錢）　蔥薑汁（各三碗）　黃占（二兩）　百草霜（一兩）　細藥：麝香　沒藥　麻黃（各三錢）　同研入膏攤貼。</p>
<h3>收口膏</h3>
<p>（皮破者可用）　大黃　黃連　黃芩　苦參（各一兩）　白松香（二斤）　白醋（四兩）　麻油（十兩）</p>
<p>節（五錢）　先用麻油七兩，留三兩，看膏老嫩加減；將大黃、草節五味切片，入鍋內略炒取起，將松香溶化，入炒過藥片同熬，滾久以麻布濾去渣。絞布須長六尺，使人牽扯，又用淨水一缸，絞油須內水，將膏在水中扯成塊，取作三、四塊，仍漸漸入鍋內溶化，其膏帶水氣，油化必盛滿鍋，鍋必用大者方妙，倘鍋小、火急、膏滿，急用大扇扇之自定，切不可以水潑，恐傷人。直待油化紅黃，漸漸化盡，其澄清如鏡面可照人，方成膏。又須滴入水中，試老嫩如何，以膏貼手，不黏肉為度。老者加油，嫩者加松香，看老嫩得宜。以篩過百草霜，收到膏再加細藥：土鱉蟲（一兩）　海螵蛸（煮七次）　兒茶　血竭　龍骨（各五錢）　珍珠（一錢）　象皮（，五分）　乳香　沒藥（各一錢）</p>
<h3>藥酒方</h3>
<p>（治跌打損傷）　川當歸　赤芍　川芎　牛膝　杜仲　紫荊皮　何首烏　威靈仙　肉桂沒藥　薑黃　虎骨　獨活　海桐皮　五加皮　生地　烏藥　桃仁　紅花　丹皮　續斷　防甘草梢　乾薑　秦艽　防風　羌活　落得打　三七根　地鱉蟲（各五錢）　以絹袋盛之瓶內，加好酒二十斤，隔水煮三枝香取出，早晚服之，每日二次。</p>
<h3>內麻藥至寶方</h3>
<p>凡俗整骨，必先用麻藥將患者麻倒，不知疼痛，方可用利刀割開取出碎骨。若血出來，桃花散止之。若有微痛再用外麻藥，方可挫鋸修治整理。如有缺欠，以他骨補之，又上續筋丹。割處用桃花散圈，割處用收口膏藥貼好，方以淡鹽湯服，又服一捻金。內外麻藥方，俱在前查用可也。</p>
<h3>一捻金</h3>
<p>川當歸　骨碎補　生地　牛膝　五加皮　放杖行　桃仁　紅花　羌活　獨活　防風　桔虎骨　龜板　肉桂　靈仙　甘草梢　杜仲　川芎　黃荊子　夫功皮　乳香　沒藥　赤芍　烏藥落得打　上藥共為末，每服三錢，酒調下。</p>
<h3>血竭散</h3>
<p>（治跌打傷，血從口出）　干荷葉　發灰　茅根　韭根　血竭　上各等分，酒煎加童便。</p>
<h3>跌打服熱過多轉生痰熱</h3>
<p>甘草　肉桂　細茶　麻黃　杏仁　桔梗　荊芥　燈心　水煎服　如痰盛加半夏、桑白皮</p>
<h3>附子湯</h3>
<p>治傷損少愈轉症傷寒，或陰或陽，宜進此藥。若四肢俱冷，是危症也。若不受此藥，乃之症。川芎　升麻　麻黃　木通　藿香　白朮　紅花　歸尾　牛膝　砂仁　丁香（各一錢五分）</p>
<p>紫蘇（二錢）　甘草（三分）　肉桂（五分）　附子（五分）　薑（三片，煨）　蔥頭（三枚）　水煎服，出汗為度。</p>
<h3>損傷冒風四肢疼痛</h3>
<p>川芎　桔梗　生地　歸尾　牛膝　紅花　白芷　紫蘇　麻黃　升麻　甘草梢　細辛　橘紅香附　赤芍　木通　肉桂　白朮　加蔥薑酒調服。</p>
<h3>黃湯</h3>
<p>治接骨後日久無力不能行走。人參　黃　白朮　枸杞　牛膝　續斷　肉桂　當歸（各等分）　甘草（三分）　水兩盅，煎八分，空心服下。</p>
<h3>人咬傷方</h3>
<p>栗子肉嚼爛敷之。</p>
<h3>抓破臉皮方</h3>
<p>用輕粉、生薑　自然汁調敷。</p>
<h3>頭皮破出血不止方</h3>
<p>用柿花搗爛敷患處。</p>
<h3>跌傷風方</h3>
<p>木瓜　甘草　銀花　蟬蛻　僵蠶　全蠍　穿山甲　防風　白芷　連芥　花粉　薄荷　黃柏草仁　黃芩　酒煎服。</p>
<p>又方　黃連　黃柏　黃芩　白蘞　梔子　雞尾灰　煎好加酒一杯服。</p>
<h3>破傷風</h3>
<p>用　草一味煎湯服，用酒煎服，名　酒。</p>
<h3>勝金丹</h3>
<p>肉桂（童便浸，二兩）　丹皮（酒炒，一兩）　歸尾（酒洗，七錢）　桃仁　紅花　赤芍　烏藥　延薑黃（酒浸，各五錢）　乳香　沒藥（去油，各一兩）　三棱　蓬莪朮　續斷（酒浸，各三錢）　香附炒，三錢）　劉寄奴　澤瀉　紫荊皮　青皮　砂仁（炒，各三錢）　生地（酒浸，三錢）　木香（三錢）</p>
<p>甘草（一錢）　射蟲（研白用，五分）　蒲黃（三錢）　蘇木汁酒　童便（各一碗）　大黃膏一碗，和藥為丸如圓眼大，症重三丸，輕者一丸，須以大金箔為衣。頭傷川芎湯下，腰傷杜仲湯下，足傷牛膝湯下。上藥尋常酒下，孕婦忌服。</p>
<h3>重傷方</h3>
<p>桃仁　厚朴　枳殼　桂皮　生地　紅花　赤芍　乳香　沒藥　大黃　童便同酒煎服。若口吐血，須加側柏、丹皮、蒲黃。</p>
<h3>一匙金</h3>
<p>古文錢（醋　七次，大者一個）　地鱉蟲（一錢）　乳香　沒藥（各三錢）　人中白（五分）　五味和勻研末，紅甜瓜子（炒）與上藥配對，每服一匙酒下。</p>
<h3>杖丹膏</h3>
<p>大黃　黃柏　紅花　歸尾　續斷　蘇木　肉桂　獨活　銀花　白芷　丹皮　胎發　半夏　赤芍連芥　防風　生地　白芨　白蘞　骨碎補　麻油六斤，將前藥酒浸七日，入內熬至枯色，取起再熬至滴水成珠，以飛丹三斤收成膏。</p>
<h3>火湯膏</h3>
<p>細茶　乳香　沒藥　小狗骨灰（各一兩）　兒茶　樟腦　血竭　象皮（各五錢）　輕粉（二錢）　麝香（五分）　上共研，入膏攪勻，入瓦瓶內埋土中半月，方可攤貼。</p>
<h3>又膏方</h3>
<p>川烏　草烏　赤芍　白芷　白芨　烏藥　肉桂　紅花　骨碎補　蘇木　川芎（各一兩）　大兩）　紫荊皮（四兩）　麻油（三斤）　將藥切片浸七日，入鍋內熬至黑色，去渣，下薑汁、童便、蔥汁、苧根汁、金不換汁各一碗，再熬至滴水成珠，取起稱過如重三斤半，下飛丹一斤、水粉半斤，收成膏，加乳香、沒藥各七錢、麝香一錢五分，攪和冷收瓶內埋土中，半月取貼。</p>
<h3>鐵布衫丸</h3>
<p>乳香　沒藥（各一兩）　胎骨（二錢）　自然銅（醋　十四次，三錢）　地鱉蟲（焙末，五錢）　無名異洗，一兩）　每味共研細末，取用再加歸尾六兩，蘇木節四兩，好酒四碗，童便二碗入砂鍋內，慢火熬膏一碗，去渣，紅色砂糖半斤攪勻，入前六味為丸，如圓眼核大，辰砂為衣。每服二、三丸，好酒送下，未杖前服。有訣：鐵布衫丸沒乳香，胎骨蘇木自然良，土鱉無名蜜為丸，可救人間屈杖傷。胎骨丸服杖後傷，狗骨一條預收藏，收入瓦罐加醋熬，外用鹽泥固封良，以鹽和水泥密塗，文武火　三枝香。羊胎一個入罐中，外口須用鹽泥封，文武火　用心看，一枝香時用方同。獨腳將軍亦加醋，鹽泥封口入罐中，文武火　須用心，一枝香時與前同。取胎骨蜜丸焙末，各自收貯如下：</p>
<h3>胎骨丸方</h3>
<p>狗胎末（一兩五錢）　羊胎末（五錢）　三七末（一兩）　獨腳將軍末（一兩）　胎骨（二錢五分）　烏梢蛇送下，朝夕服。</p>
<h3>杖丹服法</h3>
<p>即用前下部末藥二錢，加落得打草三錢，空心陳酒送下，若先服藥，打無名異一錢五分（便炒不拘多少），極重者服此藥，膿血從大便出矣。</p>
<h3>杖打煎藥方</h3>
<p>厚朴（三錢）　枳殼（三錢）　歸尾（三錢）　生蒲黃（一錢）　桃仁（三錢）　紅花（一錢五分）　老酒煎，空心服，渣再煎，打極重者二、三服。</p>
<h3>麻藥方</h3>
<p>（此系不在《寶書》內）　鬧羊花（五錢）　川烏（二錢）　草烏（二錢）　大半夏（二錢）　川椒（二錢）</p>
<p>胡椒（二錢）　共為細末，每服一分，陳酒送下，隨量飲酒，醒則藥力已退，即為麻汁藥。</p>
<h3>雞鳴散</h3>
<p>（治一切損傷，血積疼痛難忍）　一兩大黃七粒桃，五錢歸尾不相饒，細酒煎來雞鳴服，所有瘀血即時消。</p>
<h3>傷元活血湯</h3>
<p>（從高墜下，脅肋痛楚難禁，不省人事者用此）　活血花粉草柴胡，大黃川甲與當歸，紅花桃仁為細末，小酒煎來敗血催。</p>
<h3>大承湯</h3>
<p>（跌撲瘀血深入臟腑，昏沉不省者用此）　大承枳殼大黃硝，蘇木紅花厚朴草，木通當歸與陳皮，水煎服之果為寶。</p>
<h3>調中二陳湯</h3>
<p>（行過宜服此藥，調理補養）　理中陳腹半夏苓，芎歸防芍草　芩，檳桔二和青紅花，蘇木紫蘇木香烏。</p>
<h3>奪命丹</h3>
<p>奪命丹內朴硝黃，蘇木歸尾甘草良，陳皮肉桂紅花等，殼通乳沒共煎嗜。</p>
<h3>活血通氣湯</h3>
<p>活血通氣青陳芍，木香乳沒歸芎索，紅花丹參並桂枝，便酒同煎治跌磕。</p>
<h3>跌打損傷危甚者用此</h3>
<p>乳香　沒藥　紅花（各一錢）　土鱉蟲七個。共為末，重者一錢，輕者五分，陳酒送下，出度。若金器重傷後，或手足接骱後，筋骨雖愈而不能伸屈者，當用自然銅燜醋　淬十次亦用，陳酒送下，隨量飲可也，若不能伸曲者，飲服後能徐徐伸曲也。</p>
<p>紅花　當歸　生地　續斷　秦艽　蘇木　五加皮　桃仁　廣皮　烏藥　米仁　虎骨　蘇梗杜仲　牛膝　地骨皮（各五錢）　加廣木香（三錢）　好酒十斤浸。</p>
