<header><h1>外科醫鏡</h1></header>
<dl class="元資料" data-type="book">
<div><dt>作者</dt><dd>高思敬</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1644/1911">公元1644年至公元1911年</data></dd></div>
</dl>
<h2>裘序</h2>
<p>醫之道下儕於藝，上通乎儒，與天地權生息之機，為國家培治與之本，責甚重焉，事甚難焉。內科然，外科亦何獨不然。余先嚴以儒理究心方脈，頗行世。粵孽既清後，命余旁通醫術，謂可全己全人。爾時云程思渴，喜習科舉文，未遑讀刀圭書，遂不果。迄今年近甲錄，席帽依然，二十年來，走俗抗塵，毫無寸進，惟是間覽方書，學范文正公之存心，不取值，不夸功，求診者亦絡繹戶外。至談醫則不敢知，誠重之也，誠難之也。張君貞庵，世業儒，上承祖硯，積學能文，行醫非其志，緣母氏患臀疽外症，遂習外科，雖未必擅湔腸刮骨之能，著理腦解顱之效，而五行明理，六氣辨淫，膏丹精潔，應手即瘥。董仙之名頗　，有時采摭前賢之精義，考驗心得之元微，自成一家言，以儒為醫，析理若鏡，名曰《外科醫鏡》。謂鏡吾之得失焉可，即謂鏡人之死生焉亦無不可。夫秘術不宣者，庸醫之窄量也；著書行世者，良醫之苦心也。張君玉字親編，金針暗度，雖僅寸鱗片爪，而回春妙手，已見一斑。余縱不習見張君之醫，明鏡不疲屢照，而即此為母學醫孝也，以醫濟世仁也。仁孝性成，其視余之重拂親心。老大而仍不知醫者，相去何如耶。書既成，將付剞劂，問序於余。夫余之於是科，固東坡所云扣　捫燭者也。烏乎序！然張君既抱道而隱於醫，對症檢方，高懸醫鏡，倪日廣其所傳，以作救世慈航，行見消疹氣之流行，躋斯民於仁壽，必有不僅以醫名世者，是編特其嚆矢焉耳。余之敏，樂援筆而為之序。</p>
<p><u>時光緒癸未季秋下浣歲進士候選訓導侍生裘光照日林氏題贈</u></p>
<h2>自序</h2>
<p>子不幸幼失怙，承大父訓，習舉業，思以儒自見。歲戊午秋，慈親患臀疽，診之諸方家，悉急外治，於本原上並不究心，綿延幾一歲，不能效。母氏頗憤甚，顧謂予曰：若輩誤我，兒其干此事，無使患是者受母苦。余思醫不任醫，猶誤人於此，則儒不任儒。其誤天下，當如何耶？遂危儒術，從母命，日萃《靈》、《素》內典，下逮百家諸書。凡外形者必洞其內蘊，於虛實陰陽母少昧。後散施其技於人，人往往得少治。余故檢經驗數過者，無論古所有，今所創，悉裒成一帙，簽之曰醫鏡，蓋實欲自鏡其得失焉。予客春患咯血瀕危，奉母氏祝天發愿公是書，遂霍然愈。余意病適當愈耳，不則必母氏誠感也，豈天竟欲使予以此術見邪。余於是書固不吝，特恐余之誤人不自知者，轉使人復誤人也，則與向之業儒不任儒，卒以誤天下也何異。余是以躊躇至今也。適宋君子云見之，力勸余成母志。今因自署其顛末，竊又愿世之不余誤者，並能匡余所誤焉，幸甚。</p>
<p><u>時光緒癸未仲秋清河貞庵氏書於剡山麓之鶴年堂</u></p>
<h2>癰疽提綱</h2>
<p>《內經》曰：諸痛癢瘡，皆屬於心。蓋心主血而行氣，氣血凝滯而發毒，治宜先辨陰陽。若腫　痛甚，煩渴飲冷，發熱便閉，脈洪數而實者為陽證。雖嚴冬必用清涼，以解熱毒。若不腫不痛，脈細惡寒，嘔吐不食，泄瀉盜汗，四肢厥冷，是為陰證。雖盛夏必用辛熱，以助陽氣。若微腫微痛，似潰不潰，時出清膿者，為半陰半陽之證，亦用辛熱以補胃氣，此治法之大要也。又有用寒遠寒，用熱遠熱，假者反之，雖違其時，必從其證。若執常法，無不誤矣。（癰疽二毒，陰陽各殊。紅癰乃陽實之證，氣血熱而毒滯。白疽乃陰虛之證，氣血寒而毒凝。斯二證判若霄壤，治法一誤不啻冰炭之相投。予歷閱方書，多以癰疽並治，蒙混之極，貽害無窮，業是科者可不審諸。今將癰疽類，方臚列於下。）</p>
<h2>癰疽真假例論</h2>
<p>（前篇言陰陽者，有表裡虛實寒熱之變。雖病情已見其梗概，而陰陽之中又有真證假證之辨焉。真者，陽也，皆火毒也，而或有似陰之象。假者，陰也，皆寒疽也，而或有似陽之象。因遇此易疑，故再悉其蘊於下。）</p>
<p>瘡口高突，作疼止有一點，黃頭露形者，此真象也。</p>
<p>瘡口作癢，既而變痛，（今世俗傳說癢變痛謂陰證變陽者，非也。）旁出無數小頭，大勢平陂，而無高突之狀，止現圓圓一線之紅影，或脈來急數者，此假象也。（凡患虛甚者脈多數，此當以表裡虛實辨陰陽，不可因其脈數誤認熱證。數與速同）</p>
<p>膿出紅黃而作痛者，真象也。</p>
<p>膿出不多，形色紫黑；或瘡口作黯淡之狀，不痛不癢者，此假象也。</p>
<p>瘡將收口，云蒸霧起，肉擁皮皺，雖或有膿，而黃紅中有膿，旁無膿者，此真象也。</p>
<p>坎陷色滯，膿少血多，兩旁皮膚全無潤澤之氣，或外邊皮肉生滿，而中央仍復作疼，或中不滿而作癢，旁反痛者，皆假象也。</p>
<p><u>降癰活命飲</u></p>
<p>（新方）　治一切癰毒。（發背及無名等證，初起即消，已成即潰，百發百中，此余新定首方也。）</p>
<p>金銀花（一兩）　當歸（五錢）　生黃　（三錢）　甘草（二錢生）　乳香（二錢去油）　沒藥（一錢去油）</p>
<p>白芷（一錢）　防風（七分）　山甲（三片炒）　黃明膠（五錢即牛皮膠用蛤粉拌炒成珠此味較古之蠟礬丸更勝）</p>
<p>酒水各半煎服。</p>
<p><u>托裡散</u></p>
<p>（新方）　治同前證。（已成未潰者服之不傳惡證）</p>
<p>人參（三錢）　生黃　（五錢）　當歸（三錢）　甘草（二錢生）　制乳香（一錢）　制沒藥（一錢）</p>
<p>穿山甲（三片炒）　牛皮膠（五錢，黃明者佳，用牡蠣粉炒成珠。）</p>
<p>酒水煎服。</p>
<p><u>托裡散</u></p>
<p>（新方）　治同前證。</p>
<p>金銀花（一兩）　人參（五錢）　生黃　（五錢）　黃明膠（五錢，炒成珠，濁臭者勿用。）　甘草（三錢生）</p>
<p>山甲（三片炒）　當歸（三錢）</p>
<p>酒水煎服。</p>
<p><u>托裡十宣散</u></p>
<p>（新方）　治同前證。（外因風寒感冒，內因氣血虛損，隨至難消難膿難潰者，並效。）</p>
<p>人參（三錢）　生黃　（五錢）　當歸（三錢）　官桂（五分）　川芎（八分）　防風（一錢）　白芷（一錢）</p>
<p>山甲（三片炒）　黃明膠（五錢，炒珠）　甘草（二錢，生）</p>
<p>酒水煎服。</p>
<p><u>轉陽化毒湯</u></p>
<p>（新方）　治前證已潰。（誤服涼劑，傳變陰證者。）</p>
<p>人參（五錢）　黃　（五錢生）　遠志（三錢）　金銀花（一兩）　生甘草（三錢）　肉桂（一錢，寒甚倍用。）　黃明膠（五錢，炒成珠）</p>
<p>水煎服。（一孔連茹，妻年及四旬背患一毒膿出反疼，醫者不解，涼劑罔效，再加大黃下之，變證蜂起。延予診視，瘡色灰陷，泄瀉不止。予曰：潰後臟腑已虧，復為誤下所傷耳。遂以前方倍用肉桂與服一劑而痛止，十劑諸證悉愈。陳良甫曰：潰後一毫涼毒不可吃。朱丹溪又曰：補托元氣為主。此古法昭然，若輩竟置之不論，視人命如草菅，可慨也！）</p>
<p><u>補正理癰湯</u></p>
<p>（新方）　治同前證。（氣血虧損，膿水淋漓久而不愈者，婦人血脈虛弱尤屬相宜）</p>
<p>人參（三錢）　當歸（三錢）　炒白朮（三錢，膿多不斂，改用山藥）　茯苓（二錢）　甘草（二錢生）</p>
<p>黃（五錢，鹽水拌炒。）　肉桂（一錢）　川芎（八分）　熟地（五錢）　牛皮膠（五錢，炒珠）</p>
<p>薑引水煎服。（愈後立誓，戒食牛肉切切！）</p>
<p><u>陽和湯</u></p>
<p>（許真君）　治一切陰疽。（發背對口流注，痰核瘰　失榮，乳岩橫　附骨石疽等證此第一神方也）</p>
<p>懷熟地（一兩）　鹿角膠（三錢）　白芥子（二錢）　生甘草（一錢，本方無此味俗加之）　上　桂（一錢）</p>
<p>炮薑（五分）　淨麻黃（五分）</p>
<p>酒水各半煎，去滓用鹿角膠化溶，和　桂沖服。或隨量再飲酒數杯，謹戒房事，服至病愈為止。無論冬夏皆宜，不可妄行增減。若體虛極者，肉桂、炮薑可加一二倍用，或加附子更妙。按瘍科別錄所載陰疽諸方，皆不及此。</p>
<p>存心濟世者宜寶之。</p>
<p><u>陽和救急湯</u></p>
<p>（新方）　治前證發背。（已潰賦稟虛弱，或誤服涼劑，傳變倒陷不化膿腐垂危等證）</p>
<p>大熟地（一兩）　鹿角膠（三錢）　白芥子（二錢）　上　桂（二錢）　附子（一二錢）　炮薑（一二錢）</p>
<p>人參（三五錢）　當歸（三錢便溏改用冬術）</p>
<p>水煎服。如大便溏泄者，加北五味。（二十粒）</p>
<p><u>十補保真湯</u></p>
<p>（新方）　治同前證。（膿血大潰，精神耗損，或年邁素稟虛弱，或涼藥克伐太甚，瘡形癟慘陰寒至極等證。癟葉匹蔑切音瞥肉枯貌）</p>
<p>大熟地（一兩）　山藥（三錢）　枸杞（三錢）　山萸肉（三錢）　鹿角膠（三錢）　白芥子（二錢）</p>
<p>人參（三五錢）</p>
<p>當歸（三錢，便溏者總之，或改用冬術亦可。）　桂（一二錢）　附子（二三錢）</p>
<p>水煎服。如便泄甚者。加補骨脂。（三錢酒炒）</p>
<p><u>固本異功煎</u></p>
<p>（新方）　治同前證。（潰爛不堪，氣血虧損，或因涼藥克伐，嘔吐泄瀉，形狀野狼狽危極等證，此參天救本之功有難以盡述者也。）</p>
<p>大熟地（五錢）　白朮（三錢）　山藥（三錢）　人參（三錢）　生黃　（三錢）　枸杞（三錢）</p>
<p>萸肉（三錢）　補骨脂（二錢）　棗仁（二錢炒）　甘草（二錢生）　上　桂（二錢）　淡附子（一錢）　或加炮薑（一錢）</p>
<p>水煎服。</p>
<p><u>陽和二陳湯</u></p>
<p>　治濕痰流注。（耳後陰疽、骨槽風、乳疽等證，少腹緩疽尤驗）</p>
<p>半夏（三錢九制佳）　廣橘紅（三分）　白芥子（二錢骨槽風改用僵蠶）　茯苓（二錢）　甘草（一錢生）</p>
<p>上桂（一錢）　炮薑（五分）　淨麻黃（三分）</p>
<p>水煎服。（取陽和丸以配二陳湯故名之）</p>
<p><u>陽和化堅湯</u></p>
<p>（新方）　治骨槽風證。</p>
<p>鹿角膠（五錢）　炒僵蠶（二錢搜風）　白芥子（二錢）　甘草（一錢生）　上　桂（一錢）　炮薑（五分）</p>
<p>麻黃（三分）</p>
<p>酒水煎服。</p>
<p><u>陽和救絕湯</u></p>
<p>（新方）　治同前證。（誤服涼劑致肌肉堅凝腐臭者）</p>
<p>人參（三錢）　白朮（三錢）　茯苓（三錢）　製半夏（三錢）　廣橘紅（三分）　僵蠶（二錢炒）　甘草（一錢生）　上　桂（一錢）　炮薑（五分）　淨麻黃（三分）</p>
<p>水煎服。</p>
<p><u>茄蒂飲</u></p>
<p>　治對口癰毒。</p>
<p>鮮茄蒂（七個白種更佳）　鮮何首烏（一兩）　水煎服，二三劑，未成即消，已破能拔膿生肌收口。雖患盤八九寸大者亦效。</p>
<p><u>托裡化毒散</u></p>
<p>（新方）　治同前證鮮何首烏（一兩）　當歸（三錢）　甘草（二錢生）　沒藥（一錢）　乳香（一錢）　茄蒂（七個干者倍用）</p>
<p>人參（三錢）　黃　（五錢生）</p>
<p>水煎服。</p>
<p><u>敷藥方</u></p>
<p>　治同前證。</p>
<p>活鯽魚（一尾去腹雜與鱗）　百齒霜（三錢即婦人篦下發垢）　或加獨核肥皂（一個去核弦筋無則用雄豬眼梢肉亦可）　共搗爛，濃敷患處。不論初起已潰，留一孔出氣，一二日即愈。</p>
<p><u>七聖湯</u></p>
<p>（新方）　治對口陰疽。（俗云落頭疽也）</p>
<p>人參（五錢）　黃　（五錢生）　當歸（三錢）　何首烏（一兩）　白芥子（二錢）　上　桂（一錢）</p>
<p>鹿角膠（五錢）</p>
<p>水煎服。</p>
<p><u>扶危固本湯</u></p>
<p>（新方）　治同前證。（爛延纏頸歷久不愈者）</p>
<p>大熟地（五錢）　何首烏（五錢）　當歸（三錢便溏改用山藥或冬術亦可）　人參（三錢）　黃　（三錢生）</p>
<p>枸杞（三錢）　山萸肉（三錢）　鹿角膠（三錢）　白芥子（二錢）　生甘草（二錢）　上　桂（二錢）　淡附子（二錢）　炮薑（一錢）</p>
<p>水煎服。</p>
<p><u>化毒漏蘆飲</u></p>
<p>（新方）　治喉外生癰。（與喉內癰同治）</p>
<p>漏蘆（二錢）　連翹（二錢）　元參（二錢）　牛蒡子（二錢）　大黃（隨證酌用）　生甘草（八分）</p>
<p>犀角（一錢此味不可用升麻代之）　黃芩（一錢）　藍葉（或青黛亦可）</p>
<p>水煎服。如腫熱甚，加芒硝。</p>
<p><u>消　救目湯</u></p>
<p>（王普三）　治眼生　翳。</p>
<p>石蟹（錢半生研末）　連翹（錢半）　羚羊角（一錢）　草決明（一錢）　白蒺藜（一錢）　防己（一錢）</p>
<p>茺蔚子（一錢）　龍膽草（五分酒炒）　木賊草（五分）　甘菊花（八分）　水煎服。無論　肉及紅筋白膜云翳等眼證，驗試如神，百發百中之秘方也。（惟體虛者忌服）</p>
<p><u>碧云散</u></p>
<p>　治同前證。</p>
<p>鵝不食草（二錢即石胡荽）　青黛（一錢）　川芎（一錢）</p>
<p>共為細末。令患者先含溫水一口，將藥少許搐入鼻中，（或新白布泡水蘸藥入鼻中亦可）以淚出為度，數次即愈。</p>
<p><u>滋陰養目湯</u></p>
<p>　治陰虛目痛。</p>
<p>大熟地（五錢）　山萸肉（五錢）　葳蕤（五錢即玉竹）　枸杞子（三錢）　甘菊花（三錢）　當歸（三錢）</p>
<p>白芍（三錢）　柴胡（五分）　車前子（二錢）　白芥子（二錢）</p>
<p>水煎服。</p>
<p><u>經驗方</u></p>
<p>　治鼻淵腦漏。（是證也，鼻流濁涕不止，名鼻曰淵。乃風熱爍腦而液下滲，此腎虛之證也。經曰腦滲為涕，又曰膽移熱於腦。《原病式》曰：如以火爍金，熱極則化為水。然究其原，必腎陰虛而不能納氣歸元，故火無所畏上迫肺金，由是津液之氣不得下降，並於孔竅轉為濁涕，津液為之逆流矣。治當以此方主之。）</p>
<p>刀豆子（一名挾劍豆味甘平無毒）　存性為末，用酒（白湯亦可）調服三錢。甚者不過三服即愈。（此方取其納氣歸元而漏自止也）</p>
<p><u>參茸地黃湯</u></p>
<p>（新方）　治前證久漏。</p>
<p>懷熟地（一兩）　山萸肉（四錢）　山藥（四錢）　白茯苓（三錢）　丹皮（三錢）　澤瀉（三錢）　人參（二錢）　鹿茸（二錢或用鹿角膠亦可）</p>
<p>水煎服。</p>
<p><u>化疔漏蘆湯</u></p>
<p>（新方）　治鼻內生疔。</p>
<p>漏蘆（錢半）　白蘞（一錢）　黃芩（一錢）　連翹（一錢）　犀角（一錢）　赤芍（一錢）　桔梗（一錢）</p>
<p>甘草（八分生）</p>
<p>水煎服。</p>
<p><u>救唇湯</u></p>
<p>　治反唇疔毒。</p>
<p>紫花地丁（一兩）　金銀花（一兩）　白果（二十個去殼）　桔梗（二錢）　甘草（二錢生）　知母（一錢）</p>
<p>水煎服。（此方並治頭面口角疔，不論已潰未潰皆效。）</p>
<p><u>化疔救唇湯</u></p>
<p>（新方）　治同前證。</p>
<p>金銀花（五錢）　鮮生地（三錢）　白果（十個去殼）　桔梗（二錢）　當歸（二錢）　赤芍（一錢）　犀角（一錢）　生甘草（一錢）</p>
<p>水煎服。（《心法》曰：凡疔生唇上，即看腿彎委中穴有紫筋起者，急用銀針刺出血，亦愈。因並錄以備參用。）</p>
<p><u>玉女煎</u></p>
<p>　治實火牙痛。</p>
<p>石膏（五錢）　知母（二錢）　元參（二錢）　生地（三錢）　麥冬（三錢）</p>
<p>水煎服。</p>
<p><u>清胃飲</u></p>
<p>（新方）　治同前證。</p>
<p>元參（三錢）　生地（五錢）　麥冬（三錢）　骨碎補（一錢）　山藥（三錢）　茯苓（三錢）　丹皮（二錢）　天花粉（八分）</p>
<p>水煎服。</p>
<p><u>滋陰地黃湯</u></p>
<p>　治虛火牙痛。</p>
<p>大熟地（一兩）　毛薑（四錢即骨碎補）　山藥（四錢）　茯苓（三錢）　牡丹皮（三錢）　澤瀉（三錢）</p>
<p>麥冬（三錢）　北五味（一錢）　肉桂（隨宜加用）</p>
<p>水煎服。</p>
<p><u>救舌湯</u></p>
<p>　治舌上生癰。</p>
<p>鮮生地（四錢）　赤芍（錢半）　牡丹皮（一錢）　犀角（一錢）　連翹（一錢）　麥冬（一錢）　黑山梔（一錢）　木通（一錢）　川連（六分）　甘草（八分，生）</p>
<p>水煎服，消。大便閉實加大黃。</p>
<p><u>涼血四神煎</u></p>
<p>（新方）　治舌上出血。</p>
<p>槐花（三錢）　生地（四錢）　丹皮（二錢）　茯苓（二錢）</p>
<p>水煎服。（此方並治重舌甚效）</p>
<p><u>解毒地黃湯</u></p>
<p>（新方）　治上　懸癰。</p>
<p>鮮生地（四錢功專散血與乾地黃從治稍別）　赤芍（錢半）　丹皮（一錢）　犀角（一錢）　黃芩（一錢）</p>
<p>黃柏（一錢）　梔子（一錢）　川連（六分）　甘草（八分生）</p>
<p>水煎服。</p>
<p><u>荊芥敗毒散</u></p>
<p>（任HT　波）　治時毒喉痛。（斑疹腮腫藥治風痰咳嗽，頭痛發熱等證。）</p>
<p>荊芥（錢半）　防風（錢半）　桔梗（錢半）　赤芍（錢半）　牛蒡子（二錢）　金銀花（二錢）　浙貝母（二錢）　連翹（二錢）　薄荷（一錢）　生甘草（八分）　青果（一個）</p>
<p>水煎服。如病勢甚者，加羚羊角（錢半），萬年青（一葉），腮腫加馬屁勃（一錢），咳嗽加杏仁（三錢），痰多加橘紅。（一錢）。</p>
<p><u>涼膈散</u></p>
<p>（任HT　波）　治前證內陷。（三焦受邪者）</p>
<p>大黃（五錢，錦文佳）　芒硝（三錢）　連翹（三錢）　梔子（二錢）　薄荷（一錢）　川連（六分）　甘草（八分，生）</p>
<p>水煎服。如火甚者，加羚羊角或犀角，隨宜用之。</p>
<p><u>犀角消毒飲</u></p>
<p>（任HT　波）　治同前證。（喉痛丹疹並項腫如蝦蟆瘟者）</p>
<p>牛蒡子（二錢）　金銀花（二錢）　連翹（二錢）　梔子（二錢）　荊芥（錢半）　赤芍（錢半）　僵蠶（錢半）　生甘草（八分）　犀角（一錢）　柴胡（一錢）　萬年青（一葉）</p>
<p>水煎服。如大便閉結，加生大黃（四錢）利之。</p>
<p><u>普濟消毒飲</u></p>
<p>（任HT　波）　治同前證。（並二便閉結，若通利而病勢重者亦宜之）</p>
<p>羚羊角（三錢）　知母（三錢）　連翹（三錢）　生大黃（三錢）　牛蒡子（二錢）　僵蠶（二錢）　薄荷（錢半）　川連（六分）</p>
<p>馬屁勃（八分）　生甘草（八分）</p>
<p>水煎服。如病勢甚者，即加犀角（錢半）、大黃（倍用），或加金汁更妙。（凡時毒愈後，再宜養陰調理，兼清涼解毒為主，大忌油面辛辣及一切發物。調理方見下。）</p>
<p><u>調理方</u></p>
<p>（任HT　波）</p>
<p>小生地（四錢）　地骨皮（三錢）　元參（三錢）　生甘草（八分）　白芍（二錢）　麥冬（二錢去心）</p>
<p>丹皮（二錢）　忍冬藤（五錢）</p>
<p>水煎服。</p>
<p><u>增補消毒飲</u></p>
<p>　治同前證。</p>
<p>牛蒡子（二錢）　金銀花（二錢）　連翹（二錢）　元參（二錢）　荊芥（錢半）　僵蠶（錢半）　桔梗（錢半）　薄荷（一錢）　板藍根（一錢）　馬屁勃（八分）　生甘草（八分）</p>
<p>水煎服。如病甚便秘者，去桔梗加生軍（三錢，即大黃。）</p>
<p><u>又神方</u></p>
<p>（任HT　波）　治同前證。</p>
<p>荊芥（錢半）　薄荷（錢半）　連翹（二錢）　蟬退（一錢）　人中黃（三錢）　西湖柳（一兩）　忍冬藤（一兩）　萬年青（一葉）</p>
<p>水煎服。一二劑後，如病勢不退，即加犀角（一錢），生大黃（三錢），下之自愈，妙不盡述。（小兒分兩酌量減用）</p>
<p><u>鎮陰地黃湯</u></p>
<p>（章虛穀）　治陰火喉痹。</p>
<p>大熟地（一兩）　山萸肉（四錢）　山藥（四錢）　茯苓（三錢）　丹皮（三錢）　澤瀉（三錢）　淡附子（一錢）　上　桂（一錢）　淮牛膝（三錢）　牡蠣（三錢　）</p>
<p>水煎冷服。（一儒者，年甫卅齡，病陰虛喉痛。諸醫皆用辛涼之藥，不效比。予診之，其脈沉細而數大，便日行二三次。予曰：此相火上勝，兩足必冷。察之果然，遂以前湯服之一劑，知十劑已。倘不治其本，而妄事從標，清理其有不喪生者，幾希矣。）</p>
<p><u>引火湯</u></p>
<p>（雷真君）　治同前證。</p>
<p>懷熟地（三兩）　山萸肉（一兩）　麥冬（五錢去心）　北五味（二錢）　上　桂（二錢或嫌味辣改用附子亦可）　淮牛膝（三錢）　車前子（三錢）</p>
<p>水煎冷服。（倘證純系虛寒而無假陽之候不必冷服恐促亡陽也）</p>
<p><u>抑火湯</u></p>
<p>（新方）　治同前證。</p>
<p>熟地（一兩）　山萸肉（五錢）　麥冬（五錢）　北五味（二錢）　山藥（五錢）　茯苓（五錢）　紫石英（三錢）　上　桂（一錢）</p>
<p>水煎服。</p>
<p><u>調理方</u></p>
<p>（即三陸同補湯　陳遠公）　治同前證。</p>
<p>熟地（一兩）　山萸肉（五錢）　麥冬（五錢）　北五味（二錢）　薏仁（五錢）　上　桂（二錢）　人參（一錢）　白芥子（三錢）　茯苓（五錢）　白朮（五錢）</p>
<p>水煎服。</p>
<p><u>增補引火湯</u></p>
<p>　治同前證。</p>
<p>懷熟地（三兩）　巴戟天（一兩引火）　麥冬（一兩）　五味子（二錢）　茯苓（五錢）</p>
<p>水煎服。</p>
<p><u>清露飲</u></p>
<p>　治陰虛咽瘡。（鄭樞扶曰：咽瘡一證，乃真陰虧竭，相火無制上客咽喉，遂致喉痹咽瘡痰壅煩，躁聲啞諸證作矣。俗曰：火燒灶門是也。斯時若以六味補水，則真水不能驟生，以生脈保肺而久炎之肺，又非參麥能療，以八味降火而喉中關陝難受，桂附之性以滋腎丸互治水火，而水火不能既濟，惟急用此方治之，使水火各司乃職得以浚其源，而安其流能導龍歸海，使五行各有相生之象，然後再按前方施治，自能獲效。患者亟宜早圖，遲則病入膏肓，雖盧、扁亦莫如之何矣。）</p>
<p>熟地（二錢）　生地（一錢）　天冬（一錢）　麥冬（一錢）　釵石斛（八分）　枳殼（八分麩炒）　桔梗（八分）　甘草（六分，生）　枇杷葉（一片，去毛）</p>
<p>水煎服。</p>
<p><u>引陽潛陰湯</u></p>
<p>　治同前證。（脈弦數尺部獨大者，宜之）</p>
<p>熟地（一兩，海石粉搗）　金石斛（三錢）　北沙參（三錢）　麥冬（三錢）　生白芍（三錢）　龜版（五錢）　山藥（五錢）　白茯苓（三錢）</p>
<p>水煎服。（凡陰虛咽瘡，不必兼用外治，恐吹藥辛散反增腐爛也）</p>
<p><u>栝蔞散</u></p>
<p>（新方）　治婦人乳癰。（又名妒乳）</p>
<p>栝蔞（一個，滌痰緩肝）　當歸（三錢）　甘草（二錢，生）　乳香（一錢，制）　沒藥（一錢制）　青皮（一錢）　柴胡（八分）　遠志（錢半，去心）</p>
<p>酒水煎服。</p>
<p><u>又方</u></p>
<p>　治同前證。</p>
<p>土貝母（三錢）　白芷（錢半）　乳香（一錢）　沒藥（一錢）　歸身（二錢）</p>
<p>酒水煎服。</p>
<p><u>一粒仙丹</u></p>
<p>　治同前證。（吹乳例治）</p>
<p>巴豆（一粒去油）　冰片（少許）　用飯黏捏成丸，雄黃為衣，將丸捏扁，貼印堂。（即眉心）外以百順膏如錢大蓋之。夏貼三個時辰，春秋冬貼一日，揭去之，神驗無匹。</p>
<p><u>和乳養營煎</u></p>
<p>（新方）　治前證久潰。</p>
<p>當歸（三錢）　白芍（三錢酒炒）　冬術（三錢土炒）　熟地（五錢）　人參（二錢）　茯苓（二錢）　川芎（錢半）　甘草（一錢生）　香附（三錢薑汁製）　夏枯草（三錢產後改用益母草一兩）</p>
<p>水煎服。</p>
<p><u>通乳湯</u></p>
<p>（新方）　治乳汁不通。（或經絡凝滯，將成癰腫者。）</p>
<p>牡蠣（三錢炒）　川貝（二錢去心）　胡桃肉（一個）</p>
<p>水煎加酒服。</p>
<p><u>解懸湯</u></p>
<p>　治產婦乳懸。</p>
<p>人參（五錢）　當歸（一兩）　川芎（五錢）　荊芥（一錢炒黑）　益母草（五錢）　麥冬（三錢）　炮薑（五分）</p>
<p>水煎服。</p>
<p><u>陽和化岩湯</u></p>
<p>（新方）　治婦人乳岩。（破則不治）</p>
<p>鹿角膠（五錢消岩聖藥）　土貝（三錢）　白芥子（二錢）　甘草（一錢生）　上　桂（一錢）　炮薑炭（五分）　麻黃（三錢）　胡桃肉（三個）</p>
<p>酒水煎服。</p>
<p><u>完臂湯</u></p>
<p>（新方）　治兩臂生癰。</p>
<p>當歸（五錢）　白芍（五錢）　柴胡（二錢）　羌活（二錢）　半夏（二錢制）　白芥子（二錢）　陳皮（一錢）　秦艽（二錢）　附子（三分）</p>
<p>水煎服。</p>
<p><u>衛臂散</u></p>
<p>　治前證已潰。</p>
<p>黃　（一兩生）　當歸（五錢）　防風（一錢）　白芥子（三錢）　白芍（五錢）　茯苓（五錢）　熟地（五錢）　枸杞（三錢）　薏仁（三錢）</p>
<p>水煎服。</p>
<p><u>銀花解毒湯</u></p>
<p>（新方）　治手指疔毒。</p>
<p>金銀花（五錢）　鮮生地（三錢）　當歸（二錢）　赤芍（一錢五分）　天花粉（二錢）　柴胡（一錢）</p>
<p>黃芩（一錢）　升麻（一錢）　犀角（一錢）　麥冬（一錢）　知母（一錢）　生甘草（一錢）</p>
<p>水煎服。（一醫之為道，死生攸系。如服我之藥不效，或反增劇，則必自深痛懲，求得病情，庶可補過，以立功耳。歲光緒辛巳春，同裡史性婦指患脫疽狀類疔瘡，余一時膚見議進前湯一劑，次日復診，其腫痛轉甚。</p>
<p>始悟此屬疽也，法當大反前轍，改用陽和湯服之一劑知，五劑已。若醫者立意膠柱，竟無轉計，必至禍不旋踵。</p>
<p>陽和湯方見前）</p>
<p><u>又新方</u></p>
<p>　治同前證。</p>
<p>鮮生地（五錢）　麥冬（三錢）　紫花地丁（五錢）　當歸（三錢）　金銀花（一兩）　知母（二錢）　甘草（二錢生）</p>
<p>水煎服。（外治切不可輕用割截法，恐致殞命。）</p>
<p><u>又方</u></p>
<p>　治同前證。</p>
<p>雄豬膽（一個取汁）　白礬末（五分或用雄黃）　共入雞蛋殼內攪勻，套患指上，即止痛如神。但須擇好雄豬膽，切勿誤用瘟豬及母豬者。</p>
<p><u>滌腸湯</u></p>
<p>（新方）　治大腸生癰。（右足屈即是此證）</p>
<p>大黃（六錢，錦文佳）　歸尾（三錢）　赤芍（三錢）　桃仁（二十粒去皮尖）　延胡索（二錢）　紅花（一錢）　木香（八分）　冬瓜子（三錢或肥皂核仁亦可，取其性主滑，憩能滌腸垢也）</p>
<p>水煎服。</p>
<p><u>五利大黃湯</u></p>
<p>（新方）　治同前證。</p>
<p>大黃（六錢）　丹皮（三錢）　冬瓜子（三錢）　桃仁（二十粒）　滑石（三錢十劑日滑可去著此味是也）</p>
<p>水煎服。如下後虛乏者，宜參用參　地黃湯。（方未載）</p>
<p><u>又方</u></p>
<p>　治同前證。</p>
<p>滑石（三錢）　皂刺（三錢）　大黃（六錢）</p>
<p>水煎服。</p>
<p><u>泄毒八正散</u></p>
<p>（新方）　治小腸生癰。（左足屈即是此症）</p>
<p>滑石（六錢）　大黃（三錢銼炒）　劉寄奴（三錢）　琥珀（一錢末）　木通（一錢）　車前子（三錢）</p>
<p>甘草（三錢生）　肉桂（一分，不宜多用，取其氣引入膀胱從水道出也）</p>
<p>水煎服。</p>
<p><u>疏浚飲</u></p>
<p>（新方）　治同前證。</p>
<p>大黃（三錢）　劉寄奴（三錢）　琥珀（一錢，末）　生甘草（一錢）</p>
<p>水煎服。</p>
<p><u>又方</u></p>
<p>　治同前證。</p>
<p>大黃（三錢）　皂刺（三錢）　滑石（六錢）</p>
<p>水煎服。</p>
<p><u>理疝至奇湯</u></p>
<p>（新方）　治小腸疝氣。</p>
<p>沙參（一兩）　白芍（三錢）　柴胡（一錢）　橘核（一錢）　肉桂（一錢）　穀樹葉（三月三日或五月五日采取陰乾，要擇如云版式者四錢）</p>
<p>水煎服。</p>
<p><u>又新方</u></p>
<p>　治同前證。</p>
<p>穀樹葉（四錢）　胡盧巴（三錢）　蒔蘿（一錢即小茴香）</p>
<p>水煎服。</p>
<p><u>宣毒散</u></p>
<p>（新方）　治下部便毒。（騎馬癰等證初起膿未成者宜急服之）</p>
<p>大黃（五錢生）　白芷（二錢）　山甲（三片炒）　黃明膠（五錢）</p>
<p>酒水各半煎服。</p>
<p><u>祛毒至神湯</u></p>
<p>（新方）　治騎馬懸癰。</p>
<p>金銀花（二兩）　人參（五錢）　當歸（五錢）　甘草（三錢生）　牛皮膠（五錢）　山甲（三片炒）　大黃（五錢潰後忌用恐泄真氣也）</p>
<p>水煎服。</p>
<p><u>提肛湯</u></p>
<p>（新方）　治脫肛下墜。</p>
<p>熟地（五錢）　黃　（三錢蜜炙）　西黨參（三錢）　冬術（二錢土炒）　當歸身（二錢）　茯苓（二錢）</p>
<p>川芎（一錢）　白芍（一錢）　升麻（五分）　柴胡（五分）</p>
<p>水煎服。</p>
<p><u>泄毒救莖湯</u></p>
<p>（新方）　治陰莖疳蝕。</p>
<p>滑石（二錢）　甘草梢（一錢能緩莖中痛）　扁蓄（四錢）</p>
<p>水煎服。</p>
<p><u>五寶散</u></p>
<p>（新方）　治同前證。</p>
<p>橄欖核（二錢　）　寒水石（二錢）</p>
<p>上冰片（一分）　西牛黃（一分）　廉珠（三分無則用　石決明代之）　上共研勻，收儲瓷瓶，弗令泄氣。</p>
<p>臨時用麻油調搽，（如濕處則干摻）神效無比。</p>
<p><u>暗治飲</u></p>
<p>（新方）　治婦人陰蝕。（又名　瘡）</p>
<p>當歸（五錢）　白芍（三錢）　茯苓（三錢）　炒梔子（錢半）　柴胡（八分）　海螵蛸（二錢即烏賊骨）</p>
<p>水煎服。</p>
<p><u>逍遙八物湯</u></p>
<p>（新方）　治同前證。</p>
<p>人參（二錢）　柴胡（一錢）　白芍（三錢）　歸身（三錢）　海螵蛸（三錢）　山藥（三錢）　茯苓（三錢）　甘草（一錢生）　肉桂（隨宜加用）</p>
<p>水煎服。</p>
<p><u>　癢湯</u></p>
<p>　治同前證。</p>
<p>蛇床子（一兩）　川椒（三錢）　白礬（三錢）水煎乘熱熏之，溫則洗之，數日即愈，其效如神，宜珍之。</p>
<p><u>仙遺糧湯</u></p>
<p>　治楊梅毒瘡。</p>
<p>土茯苓（一兩）　金銀花（五錢）　薏仁（二錢）　僵蠶（二錢）　宣木瓜（二錢）　白蘚皮（一錢）　木通（一錢）　肥皂核（去殼七粒按別錄載用皂角子亦其類也）</p>
<p>水煎服。無論久近輕重，潰爛穿頂，及誤用輕粉致害者，悉能治之。（忌食諸物未載）</p>
<p><u>升氣去濕湯</u></p>
<p>　治香港腳下注。</p>
<p>人參（三錢）　白朮（三錢）　黃　（一兩生）　防風（一錢）　肉桂（一錢）　薏仁（五錢）　芡實（五錢）　陳皮（五分）　柴胡（一錢）　茯苓（五錢）　半夏（二錢制）</p>
<p>水煎服。</p>
<p><u>顧足湯</u></p>
<p>　治同前證。</p>
<p>黃　（一兩生）　薏仁（一兩）　芡實（五錢）　白朮（一兩）　茯苓（五錢）　肉桂（五分）　防風（五分）　車前子（五錢）　白芥子（三錢）</p>
<p>水煎服。</p>
<p><u>順導湯</u></p>
<p>（新方）　治香港腳衝心。（此證狀類傷寒切勿誤治）</p>
<p>茯苓（五錢）　澤瀉（五錢）　肉桂（三分）　木瓜（一錢）　吳茱萸（一錢）　車前子（三錢）</p>
<p>水煎服。</p>
<p><u>全趾飲</u></p>
<p>（新方）　治足趾療毒。（趾亦作指）</p>
<p>淮牛膝（三錢）　鮮石斛（三錢）　金銀花（一兩）　元參（五錢）　甘菊花（五錢）　當歸（五錢）　茯苓（三錢）　生甘草（二錢）</p>
<p>水煎服。</p>
<p><u>托裡完趾湯</u></p>
<p>（新方）　治前證已潰。</p>
<p>人參（二錢）　黃　（五錢生）　遠志（三錢去心）　金銀花（一兩）　茯苓（三錢）　牛膝（三錢）　釵石斛（三錢）</p>
<p>水煎服。</p>
<p><u>扶正驅邪散</u></p>
<p>（新方）　治孕婦足腫。（一名子氣非水也，俟分娩後勿藥亦愈。）</p>
<p>白朮（二錢）　當歸（二錢）　人參（一錢）　香附（一錢，炒）　烏藥（一錢）　木瓜（一錢）　茯苓（一錢）　陳皮（五分）　紫蘇（五分）　甘草（五分，炙用）</p>
<p>生薑（三片）</p>
<p>水煎服。如脾氣虛弱者，宜後方補中益氣湯。</p>
<p><u>加減補中益氣湯</u></p>
<p>　治同前證。</p>
<p>人參（五錢）　白朮（五錢）　當歸（三錢）　生黃　（三錢）　甘草（五分，生）　柴胡（一錢）　升麻（三分）　陳皮（三分）　茯苓（一兩）</p>
<p>水煎服。</p>
<p><u>陽和湯</u></p>
<p>　治孕婦陰疽。</p>
<p>熟地（一兩護胎聖藥）　鹿角膠（三錢）　白芥子（二錢）　甘草（一錢生）　上　桂（一錢）　炮薑（五分。以上二味。本草注明墮胎得熟地陰藥以護之，斷無傷胎之患。經所謂有故無殞是也。）　麻黃（五分）　水煎服。（一馬某妻尹氏孕才三月，腋患一疽皮色，如常延予，診之脈遲而弱，此陰寒沉困之候。議用前湯治之，馬某駭曰：婦人重身，輒用麻黃發表及薑桂熱藥，得毋有礙於胎乎？余曰：有故無殞，何必過慮。某曾猶豫莫決，即另延數醫，皆曰以保胎為主，薑桂大非所宜，竟襲安胎之劑，與服直至腰　腹痛胎動不安，復延予。診閱其前醫方案而戒之曰：藥與病相違，何能濟事。仍令服陽和湯一劑胎安，五劑膿潰，十劑痊愈。《內經》所謂治病必求其本。洵哉斯言。）</p>
<p><u>消癰護產湯</u></p>
<p>（新方）　治產後癰毒。</p>
<p>當歸（一兩）　川芎（五錢）　金銀花（五錢）　蒲公英（三錢）　荊芥（一錢）　生甘草（二錢）</p>
<p>水煎服。</p>
<p><u>回陽救產湯</u></p>
<p>（新方）　治產後陰疽。</p>
<p>人參（三錢）　當歸（一兩）　川芎（五錢）　荊芥（一錢）　上　桂（一錢）　益母草（三錢）</p>
<p>水煎服。</p>
<p><u>大溫中飲</u></p>
<p>（莊在田）　治痘後陰疽。（經云：痘稟於陰，而成於陽，譬之種豆必賴天氣陽和，地上溫暖，而後發生。人身之痘亦猶是也。痘之將出，全仗真陽托送斯時，總宜培補氣血疏通經絡，毒瓦斯盡化為膿痘後，無余毒矣。痘師不明此理，皆謂，涼藥可以解毒。豈知痘乃胎中陰毒，得陽氣則行，得涼藥則滯。毒瓦斯因涼藥留滯於肌肉之間，痘後所以發為大疽，名曰：痘毒。皮色不變者居多，當以此方治之。其色紅而帶紫者，用荊防地黃湯愈之。然陰證多，陽證少痘後並未見有陽證之毒也。）</p>
<p>熟地（五錢）　冬術（三錢）　山藥（三錢）　西黨參（三錢）　生黃　（二錢）　白芥子（一錢原方用柴胡恐其清利故易之）　甘草（一錢生）　上　桂（一錢）　炮薑（五分）　淨麻黃（五分）</p>
<p>水煎服。（一小兒痘後滿頭潰爛，名曰虛陽貫頂，又曰：發疸。清膿血水經年不愈，此乃出痘時，誤服涼藥，中宮受寒，陽無所依，上衝頭頂。譬之，火爐中以水潑之，則熱氣必上衝，其理一也。宜用大溫中飲與大補元煎相間服之，引火歸元，十劑可愈。大補元煎方未載。）</p>
<p><u>荊防地黃湯</u></p>
<p>（莊在田）　治痘後癰毒。（此證不多見方亦備參）</p>
<p>熟地（四錢）　山藥（二錢）　丹皮（一錢）　茯苓（一錢）　山萸肉（一錢）　荊芥（一錢）　防風（一錢）　甘草（一錢，生）</p>
<p>水煎服。</p>
<p><u>解毒至神湯</u></p>
<p>（新方）　治漆瘡腫腐。（木形人每患此證）</p>
<p>元參（二錢）　知母（二錢）　石膏（二錢）　連翹（二錢）　牛蒡子（二錢）　大黃（二錢生）　枳殼（一錢）　川連（六分）　甘草（八分生）　淡竹葉（二十片）</p>
<p>水煎服。如火甚者加芒硝。</p>
<p><u>又方</u></p>
<p>　治同前證。</p>
<p>白果樹葉（芒硝亦可）　煎湯洗浴，立刻消腫。倘愈後不守禁忌，瘡疤復萌，變為頑瘋癬癩者，急用旱蓮草。</p>
<p>（一名醴腸）如前洗數次亦愈。（忌浴熱水兼戒口味為要）</p>
<p><u>潑火湯</u></p>
<p>（新方）　治湯火灼傷。</p>
<p>當歸（五錢）　丹皮（三錢）　生地（五錢）　甘草（一錢）　地榆（三錢）　槐花（二錢）　茯苓（五錢）</p>
<p>水煎服。或用白蘿卜搗取自然汁，（童便亦可）串服。如傷重便秘者，再加生軍。（五錢）　倘山居僻陬，倉卒無藥，止飲蘿卜汁亦效。（昔有錦衣楊永興，廚下夜遭回，祿凡睡此房者，或已死，或將死，灌以生蘿卜汁，良久悉愈。其效如斯，特錄。）</p>
<p><u>祛痛散</u></p>
<p>　治同前證。</p>
<p>地榆（研細末）　用麻油調敷傷處。若遇已破，即以干末摻上，立效如神。或生大黃末，用桐油調敷亦可。</p>
<p><u>又方</u></p>
<p>　治同前證。</p>
<p>生鴉片（即烏煙）　敷之，立刻清涼止痛。有人被火藥燒傷，百藥不效，後用此方而愈。</p>
<p><u>勝靈丹</u></p>
<p>　治金瘡出血。</p>
<p>龍眼核（去黑皮）　研極細末摻之，即止血定痛收口，為金瘡第一藥也。（西平氏云：此藥系西秦巴裡坤營中救愈多人，按龍眼核治金刃傷之功效，甚驗。查《本草綱目》及《別集本草》俱未記載，可知世間有用之材，自古迄今湮沒者，不可勝計矣。惜哉！）</p>
<p><u>二妙膏</u></p>
<p>　治同前證。（或跌磕出血功效甚速，並無留瘀之弊。）</p>
<p>白蠟（一兩）　藤黃（三錢）</p>
<p>上用麻油四兩溶化，塗傷處立愈。此方定痛止血，及湯火傷皆效。（腳跟擦破亦治）</p>
<p><u>玉真散</u></p>
<p>　治破傷中風。（是證也，因破傷皮肉被風邪襲入經絡，初起寒熱交作，牙關緊急，甚則角弓反張，口吐涎沫，傷處變為干陷，其毒內攻使然。當以此方治之，如或不效，用奪命飲下之使風從大便而出，庶幾得生矣。）</p>
<p>南星（薑汁炒）　防風　白芷　天蟲（即僵蠶炒斷絲）</p>
<p>上藥等分，研極細末。每服三錢。童便和好酒調下。（或改作煎劑亦可，取其湯者蕩也。）凡跌打損傷，內有瘀血者亦效。</p>
<p><u>奪命飲</u></p>
<p>（新方）　治同前證。</p>
<p>當歸（二錢）　白芷（二錢）　僵蠶（二錢炒）　明天麻（二錢）　蟬蛻（二錢）　大黃（五錢）　桃仁（二十粒）　羌活（二錢）　防風（一錢）　南星（錢半制）　麻黃（五分）</p>
<p>水煎服。甚者五劑痊愈。（如未愈去大黃再服）　外以清和膏蓋之。</p>
<p><u>地榆敗毒散</u></p>
<p>（沈雨蒼）　治中癲犬毒。（癲犬之患，大抵自驚蟄後，蛇蟲出洞。霜降後，蛇蟲入洞。出必吁氣，入必吸氣，吐納之毒瓦斯，常留於洞口，犬性喜嗅其毒，從口鼻吸入，遂發癲。名　犬，頸硬、頭低、耳垂、尾彈、直向前行，不返身顧後。若人觸其毒，急則七日發作，緩則七七日或至百日發作，卒病心腹痛，神識不清，痛極，無聊自咬肌肉，甚至嚼瓷器，衣服，慘狀難言。欲辨是證，用蒲扇向病患重掮，見風即身縮戰栗畏懼，又或鳴鑼聞聲，亦驚惕不安，皆其驗也。）</p>
<p>西黨參（三錢）　羌活（三錢）　獨活（三錢）　柴胡（三錢）　前胡（三錢）　甘草（三錢）　茯苓（三錢）　枳殼（二錢炒用）　撫芎（二錢）　桔梗（二錢）　生地榆（一兩）　紫竹根（一把）　生薑（三片）</p>
<p>水煎服。（歲道光丙午，冬路經湘潭，見米船伙卒病，心復剜痛，煩躁欲死，百藥罔效，醫亦不識何疾。適同舟醴陵客以蒲扇向病患一掮，大呼曰：殆哉，此癲犬略發，乃死證也，速用地榆敗毒散，大劑濃煎。如牙關緊閉，以烏梅肉擦之，自開急灌一劑，而神識清，再劑，其病若失此目擊經驗者。）</p>
<p>（據醴客云：凡遇癲犬不及趨避，或被咬銜衣即中毒瓦斯，但覺畏風情形，或在七日進藥一劑，如病患頭上有紅發，宜拔去之，至二七日嚼生黃豆。如口覺腥味心惡欲嘔是毒已淨，不必再服，否則必有留毒未淨，急再進一劑，至三七日仍用豆照前，嚼試服至三劑，留毒盡化為膿血，從大便而出，永保無虞。孕婦亦可服。）</p>
<p><u>捷徑方</u></p>
<p>　治同前證。</p>
<p>萬年青（此花盆內多栽之，其葉闊，約一二寸，高約八九寸，老而且濃者是也。）連根搗取汁，服一二碗許，即腹中毒瓦斯已成血塊，從大便出。無論久近皆效，一切不忌，亦仙方也。（俗謂產小狗，此無稽之論，不足信也。）</p>
<p><u>祛毒散</u></p>
<p>　治毒蛇咬傷。</p>
<p>白芷（五錢）　麥冬（一兩去心）</p>
<p>水煎服。滓敷傷處，雖垂死者亦活，此蛇咬第一方也。（鄰村丁全齡被毒蛇咬傷，臂腫如股，少刻身脹黃黑色勢，已瀕危，照此方煎湯灌之，覺腹中聲響，惡水自傷口流出，腫消神清，次日全愈。予乃記之，每治蛇咬多驗。）</p>
<p><u>百順膏</u></p>
<p>（新方）　治癰疽發背，及一切無名腫毒。初起者消，已潰者愈，並頑惡疔瘡，輒皆奇效，誠瘍科之寶藥也。</p>
<p>大蝦蟆（二只，即老蟾酥多者佳。）　木芙蓉葉（三兩，重陽日采用，或根皮，或花，俱妙。）</p>
<p>上藥用麻油一斤，照常熬枯，濾去渣，將油稱準，凡藥油（二兩）入炒過鉛粉（一兩如數派算）以桑枝攪勻，熬至滴水取丸不黏指為度，（按《別錄》載滴水成珠一說，不可執為定法，恐膏過老耳。）傾入水中，去火性。</p>
<p>凡遇頑惡爛瘡，先用蔥椒湯洗淨貼之，既善拔膿，又能止痛，且易生肌也。此予獨得之秘，百發百中，故取義百順。（愈後，立誓戒食蝦蟆，並刊送勸善錄若干部以抵物命，庶不負陰　也，貞庵氏又識）</p>
<p><u>清和膏</u></p>
<p>（新方）　治癰疽發背，及陰陽不和等毒。初起能活血定痛，散瘀消腫，潰後即拔膿去腐，生肌長肉，誠外科之秘方也。</p>
<p>木芙蓉（五兩，重陽日采葉或根皮或花俱妙。）　紫荊皮（三兩）　獨活（二兩）　南星（兩半）　赤芍（兩半）　白芷（一兩）　上藥用麻油（二斤）熬枯。濾去渣，將油再熬沸，徐徐投入炒飛黃丹，（一斤）或鉛粉亦可。（按《別錄》皆云：熬至滴水成珠，方下黃丹非是，今依許楣君據占法校正）以桑枝攪勻，至滴水取丸不黏指為度，傾入水中去火性。攤用。</p>
<p><u>靈應膏</u></p>
<p>（新方）　治癰疽發背，及一切潰爛等瘡，功能長肉生肌收口，誠外科之妙藥也。</p>
<p>象皮（陸錢切片）　穿山甲（六錢）　男子發（一兩二錢）　牛蒡草（三兩）　血竭（二錢）　兒茶（二錢）</p>
<p>白膠香（四錢，即芸香去油研末。）</p>
<p>上藥用麻油二斤，將象皮、山甲、男發、牛蒡草煎枯，濾去渣，將油稱準，凡藥油（一斤）入炒飛黃丹。</p>
<p>（八兩）攪勻熬至滴水取丸不黏指為度，離火再入血竭、兒茶、芸香等末攪勻，傾水中去火性。臨用重湯燉攤。</p>
<p><u>紫金膏</u></p>
<p>（新方）　治癰疽發背後，對口大毒，潰爛不堪，洞見內膜者。（膿出如蟹吐沫者，是膜破也。</p>
<p>不治）用此填塞瘡孔，即能拔毒去肌收口，誠瘍科之要藥也。</p>
<p>當歸（二兩）　白芷（五錢）　癩蝦蟆（一只眼紅腹無八字紋者勿用）</p>
<p>牛蒡草（三兩根莖葉）　上藥用麻油一斤，浸五日，入銅杓內慢火熬至藥枯，瀝去渣，將油再熬沸，下白蠟（二兩）溶化，次下血竭（四錢研末）攪勻，離火半冷，再下白膠香。（四錢去油研末）攪成膏，收儲瓷器。浸水中三日，拔去火性，聽用，愈陳愈佳。凡瘡口深陷，以新棉絮蘸塗此膏塞之。（仍食，調補氣血內服藥餌。）</p>
<p><u>隔蒜灸法</u></p>
<p>　治一切癰疽惡瘡。（先宜對證服托裡煎劑免致火毒內攻）</p>
<p>獨頭蒜（切片約二文錢濃）安瘡頭上，用艾壯灸之。若瘡發勢大，以蒜搗爛攤患處，將艾鋪上燒之，蒜敗再易，不計壯數，總要痛者灸至不痛，不痛者灸至痛為止。凡癰疽諸瘡，皆因寒邪客於經絡，營衛壅遏不行，以致寒熱相搏，用艾蒜灸之，一使毒瓦斯解散，二使好肉不壞，三瘡口易斂，直一舉而三善備矣。（李迅曰：癰疽者灸勝於用藥。但頭上及腰旁陷中，皆當禁忌，恐以火濟火，反貽害也。）</p>
<p>歌曰：瘍科隔蒜灸稱奇，頭屬六陽腰屬腎，傳與醫人莫浪施，此為禁忌總宜知。</p>
<p><u>洗心滌慮良方</u></p>
<p>　治不忠不孝，無仁無義，恨天怨地，謗聖毀賢，瞞心昧己，刻剝成家。刁唆爭訟，向背乖宜，妒人親近，妄說是非，逞凶橫行，恃勢凌善，及一切奸盜邪淫等證。</p>
<p>依方修治，無不應驗。</p>
<p>孝順（十分）　陰　（全用）　恩惠（隨施）　慎言（一味）　仔細（十分）　忠直（一塊）　安分（時用）</p>
<p>戒淫（去心）　仁義（廣用）　老實（一個）　好心（一片）　小心（一點）　戒賭（洗淨）　信行（全用）</p>
<p>和氣（一團）　方便（不拘多少）　熱腸（一條）　忍耐（百個）</p>
<p>上藥用心細研，加波羅蜜為丸，如菩提子大，隨時引用益友三個，平心湯徐徐溫服。切忌笑裡刀，暗中箭，平地風波。（歲光緒丙子春，予往杭州采藥，偶憩西陵路亭，見貼應驗良方一張，載云其方來自化人府、勸人縣、靈山會上，《大藏經》中，　治一切性情之病，惜其字頗殘缺，因揭歸每於缺處補以己意，特附卷末，仰體先哲一片婆心以博濟於元窮也。然則後之閱是方者，更當何如樂善耶，又予之所濃望也然則後之閱是方者，更當何如樂善耶！又予之所濃望也。貞庵氏謹識。）</p>
<p>歌曰：紫府仙人授寶方，洗心滌慮養真湯，世間用得諸般藥，萬禍千災化吉祥。</p>
