<header><h1>兒科醒</h1></header>
<dl class="元資料" data-type="book">
<div><dt>作者</dt><dd>芝嶼樵客</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1644/1911">公元1644年至公元1911年</data></dd></div>
</dl>
<h2>序</h2>
<p>且言之無關於民生。不足以傳於後世。與無補於當時者。雖言如弗言也。是故役神敝精言著書。而無所用於天下者。君子不為焉。醫之為道也。聖人所以前民用而傳後世者也。夫豈小道云爾哉。粵自黃帝三代而下。賢哲吐辭為經。　炳炳。其泐為成書也已彰彰矣。而吾徒尚何言哉。尚何言哉。雖然。言今之醫而吾心戚矣。言今之兒醫而吾心益大戚矣。何則人有所欲喻於當世者。而當世先有所執持而莫能明。有所欲白於斯人者。而斯人亦有所膠固而不能解。則予愈不得不憬然而心惻矣。嗟乎嗟乎。古今來因陋就簡。錮蔽沉溺。與夫抱憤懣而不能明。就危亡而不知悟。若是者豈少哉。予弟子芝嶼。受予意為兒科書。蓋憫童稚之無辜。而挽當時之陋習也。其言綜前賢之奧旨。發金匱之英華。別徑分門。　若觀火。精純泮渙。法簡而該。此誠可以大補當時傳後世以衛民生者矣。夫豈役神敝精而無所用於天下哉。且夫人之惑溺而莫能破其懵昧者。誠以成書龐雜。靡所適從。簡陋苟安。訛傳沿習。衢談巷說。比比而然。苟得乎婦人女子之情。通乎閑闥閨闈之見。則其所挾持而噪為良醫者。正其惑溺於己而濃誣於人者也。</p>
<p>悲夫。晚近之人。師心立說。妄意著書。蔑古成法。爭鳴新奇。揆之於古人折臂折肱之義。</p>
<p>不已大謬不然乎。無怪乎惑溺者而終莫之破已。吾於是益不禁怦然心動矣。苟以局中之見。參一局外之觀。則以己之赤子。為人之赤子。以己之輕意肆志。為人之輕意肆志。則固未有不涕泣而　罵者。則吾知是編之出。必有始則戚然悲。慨然嘆者。而繼則可知其輾然喜。</p>
<p>翻然笑也。吾安得默默而不言乎。是可見信於天下。是可大白於天下。華陽山人序。</p>
<h2>題辭</h2>
<p>這段功非小。憫孩提惺惺救世。許多頭腦。藥當通神原有據。此意須人探討。壽群生幾行頭眼底。誰人分曉。痘疹痧麻童稚劫。只是沉冤不少。是書成金針度了。斯世斯人如夢覺。</p>
<p>便晨鐘那抵斯編好。保赤子。長生道。（調寄金縷曲）</p>
<p><u>賜福謹題。</u></p>
<h2>凡例</h2>
<p>一幼科古稱啞科。以其言語不通病情難測。故諺云。寧治十男子。不治一婦人。寧治十婦人。不治一小兒。蓋甚言其難也如此。然果能扼其要領。則亦何難之有。是書所列。雖似限於篇幅。然深得提綱之妙。讀者幸毋忽焉。</p>
<p>一小兒醫自仲陽而下。代不乏人。然可傳可守者。僅數家而已。是書所集。頗多采錄。</p>
<p>誠以理之所在。有不容另措一詞者。讀者慎毋以剿襲陳言見誚。</p>
<p>一治病莫要於辨寒熱虛實。而小兒之病。亦只惟表裡二症而已。果能於表裡症中辨出寒熱虛實。則自是高手。學人熟玩此書。自有會悟處。</p>
<p>一驚風一症。前人鑿空而談。遂成千古疑城。千篇一律。比比皆然。雖間有辟之者。又未足以大破其惑。故遺禍至今。無有底止。是書辨列。實具苦心閱者慎毋漠視。</p>
<p>一近世謂有病宜餓。傳訛襲謬。大率皆出自庸醫婦人之口。自此說行。因餓而死者不知予甚傷之。因述不可餓論。然所援引。悉本聖經賢論。非予臆見。宜為醫所共知。世有賢者。果能同予矯得此偏。則積德不淺矣。予尤於此有濃望焉。</p>
<p>一痘瘡果能不事寒涼攻下。則失手處自少。自痘疹正宗出。而死者更多。</p>
<p>非至愚者。必不宗其說。予於論內。尤殷殷致意焉。</p>
<p>一種痘。誠為避危就安。萬全良法。有力之家。固知早種。而單寒之子。欲種弗能。今堂舉行此法。廣為貧家兒女種痘。悉奏全功。良堪嘉尚。一切章程。載在論中。吾愿有力仁人。在在行之。則造福不小矣。</p>
<p>一是書旁稽遠核。言簡意該。化出成書。參以心得。故能出深入淺。法密方純。雖多引陳言。然發前人所未發者。正復不少。讀者其亦細心而體玩之</p>
<h2>總論第一</h2>
<p>易曰。天地　。萬物化醇。男女構精。萬物化生。蓋人之生也。必稟天地之正氣以成形。藉陰陽之化育而賦命。而上古元氣渾龐。太和洋溢。八風正而寒暑調。六氣和而雨　若。人情朴實。風俗貞純。是以上古之民。恆多壽而少病。即內經所謂上古之人。和於陰陽。</p>
<p>明於朮數。起居有度。不妄作勞。春秋皆度百歲而去者是也。迨於後世。元氣漸薄。風俗煩偷。人情穿鑿。名利有不時之擾。嗜欲多無厭之求。是以近日之民。恆多病而少壽。即內經所謂中古之人。以酒為漿。以妄為常。醉以入房。以欲竭其精。以耗散其真。不知持滿。不時御神。未至半百而衰者是也。夫以黃帝之時。即稱中古。迄今復數千年來。權其氣化。不更薄耶。是凡習兒醫者。須知今昔氣運不同。稟賦根　愈薄。凡於小兒之病。更宜加意培植。保護元氣。不可妄用攻伐之劑。以貽人夭札之禍也。乃近日幼科。不明此理。動輒攻伐。</p>
<p>而又絕其乳食。其呱呱者。口不能言。任醫冤殺。束手待斃。底於死亡。悲夫。此等惡習。</p>
<p>不知始自何人。遂至相習成風。流禍無已。愚夫愚婦。溺於其說。至死不悟。為嬰兒之大患而惟揚屬為尤甚。吁可恨也。至若書稱若藥弗瞑眩。厥疾弗瘳。此蓋當時因事取譬之辭。非教人謂芽兒者。如草木之萌芽。其一點方生之氣甚微。栽培護養。惟恐不及。而堪加之以剝削之撓。施之以斧斤之利乎。此誠不可也。原夫易無妄九五爻辭云。無妄之疾。勿藥有喜。象曰。無妄之藥。不可試也。觀此則知聖人或亦有以鑒夫瞑眩之非。故特示勿藥有喜之戒。而我夫子亦有未達不敢嘗之語。又張仲景先生傷寒論內。亦有勿藥為中工之訓。又張子和著儒門事親書。其中有語友人陳敬之云。小兒有病。不如勿用庸醫。但恐妻外家怪其不醫。宜用湯浸蒸餅令軟。丸作白丸。給其妻外家。以為真藥。服之以聽天命。最為上藥。後丙戌歲。群兒病泄瀉。用藥者皆死。惟敬之守子和之戒。其兒雖病。得以無恙。以上所引。一為聖人之至訓。一為名醫之精論。載在簡冊。昭於日月。人第習而不察耳。夫以傷寒劇病。抑且可以勿藥。而況小兒氣血幾何。豈可委之以庸醫之手。試之以無妄之藥乎。此子和之所以教敬之之不服藥為愈也。仆承師訓。久憫於此。欲效忠告之良謀。用救方今之惡習。爰列若干門於後。以貽夫世之貴小兒而好服藥者。奉為金鑒云。</p>
<h2>延醫法論第二</h2>
<p>凡診小兒之法。諸書皆以面部及手紋為識病之資。其所援引。率皆渺昧難憑。煩瑣無要於諸大家所謂望聞問切四者之診。置聞問切三者於不講。可得謂之為良醫乎。夫小兒言語不通。病情難識。則尤當以望聞問切為延醫之要。蓋望其形色。則有以知其邪正之盛衰。審其聲音。則有以別其稟賦之強弱。詢其向背。則有以識其性情之好惡。察其脈息。則有以明其表裡之寒熱。苟能細心求之。則表裡寒熱虛實。皆得其真。用藥自無不當。奈何近日幼科。</p>
<p>學術更淺。一遇小兒有病。不是從事於表。便是攻伐其裡。迨至真陽外越。虛熱日增。則清涼並進。一味胡猜。不獨望聞問切四者不知。抑且置虛寒二症於不問。嗟乎。曾不知邇來氣化日薄。今人稟賦更虛。加以嬰兒氣血未堅。臟腑柔絕。些小病痛。其元氣已不能支。而堪庸劣之徒。寒熱不分。虛實莫辨。妄意揣摩。任情剝削者乎。茲則掀翻底蘊。直指精微。專以望聞問切四者為綱。以揭明表裡寒熱虛實六者之要。俾學人有所依據。庶幾不致顛倒混施。誅伐無過。或於嬰兒有濃幸矣。至於用藥之法。寧勿藥。毋過劑。寧輕。毋重。毋偏寒毋偏熱。毋過散。毋過攻。須遵內經邪之所湊。其氣必虛之訓。時以保護元氣為主。知乎此。</p>
<p>於嬰兒延醫之道。思過半矣。至於虛寒敗症。則非峻用溫補。不可挽回。毋得稍涉因循。致令不救。此又不可不知也。</p>
<h2>表論第三</h2>
<p>小兒表症。謂外感風寒。其見證必先發熱。然發熱之證有三。最宜詳辨。不可一概混同也。其在冬月感於寒者。頭痛。身痛。項背強。惡寒。壯熱無汗。脈浮而緊。此太陽表證。</p>
<p>藥得法。一汗即解。詳見實論。其感於風者。頭痛鼻塞。流涕。發熱。或有汗惡風。或無汗惡寒。或咳嗽乾嘔。脈浮而數。或緊。此四時之感冒是也。治法不可大發散。微表之即已如易簡參蘇飲。惺惺散之類主之。大抵近日人情。愛護小兒者眾。富貴之家。重衣濃褥。貧賤之子亦皆衣絮。以致汗液不斷。腠理疏泄。偶觸微風。即成感冒。是以邇來小兒。冬月感寒之症。百無一二。而傷風發熱之症恆多也。至若內因於虛。發熱之症極多。最為疑似。</p>
<p>人殊不知。更宜詳辨。如陽虛生寒。陰虛發熱。血虛發躁而熱。氣虛自汗不能食而熱。氣虛注夏而熱。暑濕合病而熱。汗後陰虛。陽無所附而熱。汗後陽虛。陰無所附而熱。陽氣下入陰中。晝安靜。夜煩躁而熱。重陽無陰。夜安靜。晝煩躁而熱。以上諸症。同一發熱也。若誤表之必死。其次則又有變蒸之熱。將發痘疹之熱。亦同一發熱也。而援守各異。每見庸醫。一遇發熱。動皆表散。殊不知病有微甚。熱有虛實。雖同一發熱。而治法殊途。攻補迥。業幼科者。於臨症之際。務宜細心體認。必先問其病之新久。曾未服藥。以及一切愛惡狀。然後再察其熱之溫壯。形之強弱。脈之虛實。色之夭澤。合四者以決之。庶無誤人於夭札也。蓋外感為暴病。其發熱也驟。必手背熱。脈浮。身熱無汗。仍須分別虛實以治之。詳見虛實門。若無手背熱脈浮身熱無汗等症。或發熱已久。則非外感證矣。治者審焉。</p>
<h3>附方</h3>
<p>易簡參蘇飲　感感冒發熱頭痛。與因痰飲凝積。發而為熱。並宜服之。亦治中脘痞悶。</p>
<p>嘔逆惡心。小兒室女。尤宜服之。</p>
<p>前胡　人參（如無以好黨參代之）　紫蘇　干葛　半夏　茯苓（各三分）　枳殼　陳皮　甘草　桔梗　木香（各二分）</p>
<p>上　咀。每服四錢。水一盞。生薑七片。棗一枚。煎至六分。去渣服。</p>
<p>惺惺散　治小兒傷寒人參　白朮（炒）　茯苓　甘草　北細辛　川芎　桔梗（炒各等分）</p>
<p>上為末。每服二錢。入薄荷五葉。水煎服（一方有防風天花粉。）</p>
<h2>裡論第四</h2>
<p>凡治小兒裡症。亦惟宜忌二字而已。要在辨之明而見之確耳。夫小兒元氣無多。臟腑脆若夫當下而不下。則津液消爛。所謂急下以救胃中津液是也。不當下而下。則裡氣受傷。邪反乘虛內陷。其禍更甚。今將宜忌諸形症。辨晰於左。如稟氣素實。汗不解。發熱譫語。舌苔黃濃。渴而引飲。大便秘。小便赤。腹滿拒按。手足心熱。脈沉而實此為陽邪入裡。宜下之。雖二三日。若見上項諸症。亦宜下之。如調胃承氣湯。四順清涼飲之類。少少與之。貴在與病相值。恐多下亡陰也。不可拘於庸醫下不厭遲之說。謬稱穩當。必待至七日之後始下也。</p>
<p>如太陽證。表未罷。脈浮大惡寒者。此邪在表。雖十余日。亦不宜下。嘔多者不可下。太陽陽明合病。喘而胸滿者。不可下。惡水者。不可下。稟賦虛者。不可下。逆厥者。不可下。</p>
<p>仲景先生云。日數雖多。但有表證而脈浮者。猶宜發汗。日數雖少。若有裡證而脈沉者。即宜下之。此不可不知也。此外有因氣虛陽脫而譫語者。乃大虛之症。當用參附之劑。不得認為實症。而誤下之也。慎之慎之。至於傷食停積。小兒雖間亦有之。然皆必由脾虛不運而致。</p>
<p>經所謂邪之所湊。其氣必虛者是矣。每見庸醫肆行克伐。或遇表證。亦云有裡。以致小兒外邪未解。裡氣已傷。往往變症蜂起而不可救。受此害者。不知凡幾。殊堪痛恨。曾不知下者。下其邪耳。非飲食積滯之謂也。世人陰受此害者比比矣。故特表而出之。兼詳實論。</p>
<h3>附方</h3>
<p>調胃承氣湯　治太陽陽明。不惡寒。反惡熱。大便秘結。日晡潮熱。（凡陽明病有二證在經者當解肌。入腑者當攻下。）</p>
<p>大黃　芒硝　甘草（各等分）。</p>
<p>上　咀。每用一二錢。量兒大小。水煎消息服之。</p>
<p>四順清涼飲　治大人小兒血脈壅實。臟腑生熱。面赤煩渴。睡臥不寧。大便秘結。</p>
<p>大黃　當歸　芍藥　甘草（各等分）</p>
<p>上　咀。量兒大小。每服一二錢。水煎服。</p>
<h2>寒論第五</h2>
<p>小兒屬寒之症。有外感。有內傷。有症變虛寒。三者不同。治法各異。假如內傷。必由脾土虛寒。或稟賦不足。或將護失宜。或乳哺不節。以致食不運化。</p>
<p>而見清冷吐瀉者。但察其面色萎黃。肢涼神倦。脈沉無力。安靜不渴。此屬陽虛生寒。</p>
<p>宜五君子煎。理中湯主之。抑或能食之兒。過餐生冷。而見上項諸症者。亦理中湯主之。至若症變虛寒。則由元氣素虛。五臟虧損。或因寒涼克伐。陽氣受傷。而見面青唇黯。吐瀉手足並冷者。此屬脾土虛寒。乾薑理中湯主之。若面色　白。吐瀉腹痛。口鼻氣冷者。屬寒水侮土。益黃散主之。若更兼吃逆。手足指冷。用六君子東加炮薑肉桂。如不應。急加附子。其次。或以病後。或以吐瀉。或以誤用藥餌。或受風寒。而致氣微神緩。昏睡露睛。痰鳴氣促。驚跳搐搦。如俗所謂慢驚者。此屬脾腎虛寒之候。宜溫補之。詳見辨驚風之誤論。再其次。則脾腎虛寒之甚。以致吐瀉不止者。宜附子理陰煎。或六味回陽飲。量兒大小與之。若但泄瀉不止者。宜胃關煎主之。</p>
<p>第吐瀉之症。亦間有屬熱者。但當以手足寒溫脈象遲數。面色青赤。渴與不渴為辨。至如外感寒邪。則其病在表。宜詳表論。茲不復贅。此外。則又有初生小兒。百日之內。覺口冷腹痛。身起寒粟。時發戰栗。曲足握拳。</p>
<p>晝夜啼哭不已。或口噤不開者。名曰胎寒。亦或生後昏昏多睡。間或　乳瀉白。若不早治。</p>
<p>心變虛寒敗症。宜以沖和飲。當歸散。合和水煨薑煎服之。使之微泄。泄行。進勻氣散調補。泄止氣勻。神安痛定。手足舒伸。次用參苓白朮散。以養胃氣。白芍藥湯。去其寒濕。乳母宜節生冷凍飲料食。庶易瘥也。又手足稍冷。唇面微青。額上汗出。罔顧乳食。至夜多啼。夜重日輕。腹痛腸鳴。泄瀉清水。間有不泄。頗似前症。但無口冷寒戰者。名曰臟寒。亦在百日之內有之。</p>
<p>皆因臨產在地稍久。冷氣侵逼。或以涼水攙湯洗兒。或斷臍帶短而又結縛不緊。為寒氣所傷。如此宜以白芍藥湯。及沖和飲。加鹽炒茴香茱萸水薑煎。乳母同服。又胃中虛冷。面色白。腹痛不思食者。益黃散主之。若不下利。調中丸主之。大都小兒病症。虛寒者多。凡一見面色青白。肢冷神疲。脈沉無力。蜷曲而臥。食少不渴。聲音遲緩者。皆是虛寒之候。</p>
<p>急宜溫補業。幼科者。毋得狃於俗見。謬謂小兒陽體多熱。不敢溫補。致多害事。宜深戒之</p>
<h3>附方</h3>
<p>五君子煎　治脾胃虛寒嘔吐泄瀉而兼濕者。</p>
<p>人參　白朮（炒）　茯苓　乾薑（各等分）　炙甘草（減半）</p>
<p>上　咀。水煎服。</p>
<p>理中湯　治太陰病。自利不渴。陰寒腹痛。短氣咳嗽。霍亂嘔吐。飲食難化。胸膈噎塞。或瘧疾瘴氣瘟疫。中氣虛損。久不能愈。或中虛生寒等證。</p>
<p>人參　白朮（炒）　乾薑（炒）　炙甘草（各三兩）</p>
<p>上為末。每服二三錢。水煎溫服。</p>
<p>益黃散　治脾胃虛寒。（又名補脾散）</p>
<p>陳橘皮（一兩）　青橘皮　訶子肉　甘草（各半兩銼炒）　丁香（二錢）</p>
<p>上為細末。每服二錢。水一盞。煎至六分。食前溫服。東垣先生云。閻孝忠編集錢氏方。以益黃散補土。又言風旺必克脾土。當先實其脾。昧者不審脾中寒熱。一例用補脾藥。又不審藥中有丁香青皮。辛熱大瀉肺金。脾虛之症。豈可反瀉其子。惟寒水反來侮土。中寒嘔吐。</p>
<p>腹痛瀉痢青白。口鼻中氣冷。益黃散神治之藥也。如因服熱藥巴豆之類過劑損其脾胃。或因暑天傷熱積熱損其脾胃。而成吐瀉。口鼻中氣熱而成慢驚者。不可服之。</p>
<p>六君子湯　治脾胃虛弱。飲食少思。或久患瘧痢。或食飲難化。或嘔吐吞酸。或咳嗽喘促。若虛火等證。須加炮薑。其功尤速。</p>
<p>人參　白朮（炒）　茯苓（各二錢）　炙甘草　製半夏　陳皮（各一錢）</p>
<p>上薑棗水煎。</p>
<p>附子理陰煎　治真陰虛弱。脹滿嘔噦。（有物無聲曰吐。有聲無物曰噦。有物有聲曰嘔。）痰飲惡心。</p>
<p>吐瀉腹痛。及命門火衰。陰中無陽等證。</p>
<p>熟地（三五七錢或一二兩）　當歸（二三錢或五七錢）　制附子（一二三錢）　炙甘草（一二乾薑（炒黃一二錢）或加肉桂（一二錢）</p>
<p>水二鐘煎七八分熱服。（此方系理陰煎加附子。故名附子理陰煎。其理陰煎功用甚宏。</p>
<p>詳見本書。茲未細錄。）</p>
<p>六味回陽飲　治陰陽將脫等症。</p>
<p>人參（一二兩或數錢）　制附子（二三錢）　炮乾薑（二三錢）　炙甘草（一錢）</p>
<p>熟地（五錢或一兩）　當歸身（三錢如泄瀉者或血動者以冬術易之多多益善）</p>
<p>水二鐘。武火煎七八分溫服。如肉振汗多者加炙黃　四五錢。或一兩。</p>
<p>或冬白朮三五錢。如泄瀉者。加烏梅二枚。或北五味二十粒。亦可。如陽虛上浮者。加茯苓二錢。如肝經鬱滯者。加肉桂二三錢。</p>
<p>胃關煎　治脾腎虛寒作瀉。或甚至久瀉腹痛不止。冷痢等症。</p>
<p>熟地（三五錢或一兩）　山藥（炒二錢）　白扁豆（炒二錢）　炙甘草（一二錢）</p>
<p>焦乾薑（一二三錢）　吳茱萸（制五七分）　白朮（炒一二三錢）</p>
<p>水二鐘。煎七分。食遠溫服。瀉甚者。加肉豆蔻一二錢。面炒用。或破故紙亦可。氣虛甚者。加人參隨宜用。陽虛下脫不固者。加制附子一二三錢。腹痛甚者。加木香七八分。或加厚朴八分。滯痛不通者。加當歸二三錢。滑脫不禁者。加烏梅二個。或北五味子二十粒。</p>
<p>若肝邪侮脾者。加肉桂一二錢。</p>
<p>沖和飲　治感冒風寒。頭疼發熱。肩背拘急。惡心嘔吐。腹痛膨脹。兼寒濕相搏。四肢拘急。冷氣侵襲。腰足疼痛。</p>
<p>蒼朮（米泔水浸一宿去粗皮銼片炒微黃色一兩二錢）　人參（去蘆）　前胡（去蘆）　桔梗（炒各五錢）</p>
<p>枳殼（去穰麩炒微黃色）　麻黃（去節）　陳皮（去白各三錢）　川芎　白芷半夏（湯洗七次薑汁浸晒乾炒）　當歸（酒洗）　薄桂（去粗皮）　赤茯苓（去皮）</p>
<p>白芍藥（各一錢半）　乾薑　厚朴（去粗皮薑汁浸一宿慢火炒干各二錢）　甘草（炙七錢半）</p>
<p>上銼。每服二錢。水一盞。薑二斤。蔥白一根。煎七分。無時溫服。傷冷惡心嘔吐。煨薑同煎。開胃進食。加棗子煎。空心溫投。寒疝痛。入鹽炒茱萸茴香同煎。</p>
<p>當歸散　順調氣血。和解表裡。爽利心腹。疏理百病。及治溫熱停積自痢。</p>
<p>煩躁不寧。</p>
<p>當歸（去蘆酒洗）　赤芍藥（各二兩）　甘草（半生半炙一兩）　大黃（半生半泡一兩二錢）　川芎　麻黃（制各半兩）</p>
<h2>熱論第六</h2>
<p>小兒屬熱之症。脈必洪數而實。色赤作渴。煩躁飲冷。聲音雄壯。二便秘結。然其中有屬虛經實熱。宜瀉心散以清心火。若色微赤。困臥驚悸。熱渴飲湯。則屬心經虛熱。宜秘旨安神丸以生心血肝熱。則左臉青赤。項強頓悶。目札螈　。此屬肝經風熱。宜柴胡清肝散主之若色微赤。倏熱切牙。則屬肝經虛熱。宜地黃丸主之。肺熱。則右臉赤。或主風邪。氣粗咳便不利。乃脾肺燥熱。不能化生腎水。宜黃芩清肺飲主之。若哽氣出氣。唇白氣短。則屬肺經虛熱。宜五味異功散主之。脾熱。則鼻赤身熱。飲水。乳食如常。屬脾胃實熱。宜瀉黃散熱理脾。若色微赤。身涼飲湯。乳食少思。則屬脾經虛熱。宜五味異功散補中健脾。腎熱。</p>
<p>則頦間色赤。足不欲覆。若腎與膀胱。氣滯熱結而小便不通者。宜五苓散主之。若色微赤。</p>
<p>則屬膀胱陽虛。陰無所化。宜六味地黃丸主之。至若吐瀉二症。間有因於熱者。亦宜詳辨。</p>
<p>假如吐乳色黃。不能受納。此屬胃經有熱。宜先用瀉黃散。次用人參安胃散。然當驗其手指熱。則屬胃熱。若手指冷。則屬胃寒矣。宜兼詳寒論。至如因熱而瀉者。則必大便。黃赤有沫。小便赤少。口乾煩躁。宜四苓散主之。如更兼右腮色赤。飲冷者。屬胃經實熱。宜瀉黃散主之。若右腮微赤。喜熱惡冷。則屬胃經虛熱矣。宜白朮散主之。若右腮及額間俱赤。</p>
<p>屬心脾翕熱。宜瀉黃散加炒黑黃連。若左頰右腮俱赤。屬肝火乘脾。宜四君子東加柴胡。大抵瀉症最傷元氣。若熱瀉過甚。必變虛寒。宜兼參寒論。蓋始病而熱者。邪氣勝則實也。終變為寒者。真氣奪則虛也。久病而熱者。內真寒而外假熱也。久瀉元氣虛寒。急宜溫補。不得誤執熱論。再如陽虛發躁。內實真寒。而外似熱症者。如目赤作渴。身熱惡衣。揚手擲足。欲投於水。但診其脈。洪數無倫。重按無力。是為假熱。宜急投參附之劑。引火歸元。若誤進清涼。入口必死。症之疑似。有如此者。醫者可不慎歟。此外。如胎毒火丹。口瘡重舌。衄血便血。以及疳熱等症。雖亦云屬熱。然皆各有虛實之不同。是亦不可不明察之也。</p>
<h3>附方</h3>
<p>瀉心散　治心經實熱。</p>
<p>黃連上為末。每服五分。臨臥溫水調下。</p>
<p>秘旨安神丸　治心血虛而睡中驚悸。或受驚嚇而作。</p>
<p>人參　半夏（制）　酸棗仁（炒）　茯神（各一錢）　當歸（酒洗）</p>
<p>橘紅　赤芍藥（炒各七分）　五味子（杵五粒）　甘草（炙三分）</p>
<p>上為末。薑汁糊丸。芡實大。每服一丸。生薑湯下。</p>
<p>柴胡清肝散　治肝膽三焦風熱怒火。或乍寒乍熱。往來寒熱發熱。或頭發瘡毒等症。</p>
<p>柴胡（一錢半）　黃芩（炒一錢）　人參（一錢）　川芎（一錢）</p>
<p>山梔（炒一錢半）　連翹（五分）　甘草（五分）　桔梗（八分）</p>
<p>上水煎服。</p>
<p>地黃丸　治腎肝血虛。燥熱作渴。小便淋秘。痰氣上壅。或風客淫氣。患瘰　結核。或四肢發搐。眼目　動。或咳嗽吐血。頭目眩暈。或咽喉燥痛。口舌瘡裂。或自汗盜汗。便血諸血。或稟賦不足。肢體瘦弱。解顱失音。或畏明下竄。五遲五軟。腎疳肝疳。</p>
<p>或早近女色。精血虧耗。五臟齊損。凡屬腎肝諸虛不足之症。宜用此以滋化源。其功不可盡述。</p>
<p>熟地黃（八錢杵膏）　山茱萸肉　干山藥（各四錢）　澤瀉　牡丹皮　白茯苓（各三錢）</p>
<p>上為末。入地黃膏。量加米糊丸。桐子大。每服數錢。量兒大小。溫水空心化下。行遲鶴膝。加鹿茸牛膝五加皮。</p>
<p>參蘇飲　治感冒發熱頭痛。傷風咳嗽。傷寒嘔吐。胸膈不快。痰飲凝結。</p>
<p>紫蘇　前胡　陳皮　製半夏　干葛　茯苓　枳殼（炒）　桔梗　人參（各三分）　甘草（一分）</p>
<p>上為末。每用一二錢。薑棗水煎服。</p>
<p>瀉白散地骨皮　桑白皮（炒各一兩）　甘草（炙一錢）</p>
<p>上為末。每服一二錢。入粳米百粒。水煎。</p>
<p>黃芩清肺飲　治肺熱。小便不利。宜用此清之。</p>
<p>梔子　黃芩（減半）</p>
<p>上為末。每服一二錢。水煎。如不利。加鹽豉二十粒。</p>
<p>五味異功散　治脾胃虛寒。飲食少思。嘔吐。或久患咳嗽。虛浮氣逆。腹滿等症。</p>
<p>人參　白朮（炒）　茯苓（各等分）　甘草（炙）　陳皮（減半）</p>
<p>上加薑棗。水煎服。</p>
<p>瀉黃散　治脾熱吐舌。</p>
<p>藿香葉　甘草（各七分半）　山梔（一錢）　石膏（五分）　防風（二錢）</p>
<p>上用蜜酒微炒為末。每服一二錢。水煎。</p>
<p>五苓散　治暑熱煩躁。霍亂泄瀉。小便不利而渴。淋澀作痛。下部濕熱。</p>
<p>白朮　豬苓　茯苓（各七分半）　肉桂（五分）　澤瀉（一錢二分）</p>
<p>上為細末。每服一二錢。水煎。</p>
<p>人參安胃散　治脾胃虛弱。傷熱乳食嘔吐。瀉痢。</p>
<p>人參（一錢）　黃　（二錢）　生甘草　炙甘草（各五分）</p>
<p>白芍藥（酒炒七分）　白茯苓（四分）　陳皮（三分）　黃連（炒二分）</p>
<p>上每服二三錢。水煎。</p>
<p>四苓散（即前五苓散去肉桂）</p>
<p>白朮散　治脾胃氣虛。作渴飲湯。或因吐瀉。津液虧損。煩渴引飲。或脾胃虛弱。腹脹瀉渴。弄舌流涎。手足指冷。宜服之。和胃氣。生津液。</p>
<p>人參　白朮（炒）　藿香葉　木香　甘草　白茯苓（各一兩）　干葛（二兩）</p>
<p>上為末。每服二錢。水煎。</p>
<p>四君子湯　治脾胃虛弱。飲食少思。或大便不實。體瘦面黃。或胸膈虛痞。吞酸痰嗽。</p>
<p>人參　白朮（炒）　茯苓（各二錢）　甘草（炙一錢）</p>
<p>上加薑棗水煎服。或加粳米百粒。</p>
<p>惺惺散（方見表論）</p>
<h2>虛論第七</h2>
<p>小兒虛症。無論病之新久。邪之有無。但見面色青白。恍惚神疲。口鼻虛冷。噓氣怫鬱。肢睛。屈體而臥。手足指冷。聲音短怯。脈象緩弱虛細。是皆屬虛之症。急宜溫補脾胃為要。</p>
<p>仍須分別以治之。如氣虛者。四君子湯。血虛者。四物湯。氣血俱虛者。八珍湯。氣虛自汗者。四君子湯。血虛發躁者。當歸補血湯。表虛者。宜固其氣。裡虛者。宜實其中。陽虛惡寒者。宜溫分肉。陰虛發熱者。宜滋腎肝。脾肺氣虛者。四君子湯。五味異功散。補中益氣湯。肝腎血虛者。六味丸。加味四物湯。汗後陰虛。陽無所附而熱者。四物加參　。汗後陽虛。陰無所附而熱者。四君加芎歸。久事表散。而身熱不退者。陽氣虛也。補中益氣湯。過用攻下。而滑泄不禁者。脾腎虛也。六神散。胃關煎。又虛必生寒。宜詳寒論。至於虛熱。</p>
<p>亦詳見熱論。此外虛症尚多。詳見各條。宜並玩之。</p>
<h3>附方</h3>
<p>四物湯　治血虛營弱。一切血病。當以此為主。</p>
<p>熟地黃　當歸（各三錢）　川芎（一錢）　白芍藥（二錢）</p>
<p>水二鐘。煎服。</p>
<p>八珍湯　治氣血兩虛。調和陰陽。</p>
<p>人參　白朮　茯苓（等分）　炙甘草（減半）　熟地　當歸（等分）　白芍（減半）　川芎（倍減）</p>
<p>水煎。或加薑棗粳米同煎。</p>
<p>當歸補血湯　治血氣損傷。或因誤攻致虛。肌熱口渴。目赤面紅。脈大而虛。重按全無。及病因飢飽勞役者。</p>
<p>黃　（炙一兩）　當歸（三錢）</p>
<p>水一鐘半。煎八分服。</p>
<p>補中益氣湯　治勞倦傷脾。中氣不足。清陽不升。外感不解。體倦食少。寒熱瘧痢。氣虛不能攝血等症。</p>
<p>人參　黃　（炙）　白朮（炒）　甘草（炙各一錢五分）　當歸（一錢）　陳皮（五分）　升麻　柴胡（各三分）</p>
<p>上加薑棗。水煎。空心午前服。</p>
<p>加味四物湯（即前四物湯。加山梔柴胡丹皮。）</p>
<p>六神散　治面青啼哭。口出氣冷。或泄瀉不乳。腹痛曲腰。四肢厥冷。</p>
<p>人參　白朮（炒）　山藥（炒各五錢）　白茯苓　白扁豆（炒各一兩）　甘草（炙二錢）</p>
<p>上為末。每服二三錢。薑棗水煎。</p>
<p>四君子湯（方見熱論）</p>
<p>五味異功散（方見熱論）</p>
<p>六味丸（方見熱論）</p>
<p>胃關煎（方見寒論）</p>
<h2>實論第八</h2>
<p>小兒屬實之症。惟表裡食積。三者而已。蓋表邪實者。必頭項體痛。腰痛背強。壯熱無汗。脈象浮緊有力。宜從表散。如在冬月。宜羌活沖和湯主之。若在春夏秋三時。則宜易簡參蘇飲。或惺惺散之類主之。若兼倦怠昏睡。則屬正不勝邪。宜四柴胡飲。或五柴胡飲之類主之。裡邪實者。必舌胎黃濃。口燥唇瘡。作渴喜飲。大小便秘。腹痛拒按。聲音洪壯。伸體而臥。睡不露睛。手足指熱。脈象沉數有力。宜從攻下。如調胃承氣湯。或四順清涼飲之類主之。若汗後身熱不退。脈象弦洪數實。大便堅秘者。柴胡飲子。夫所謂實者。邪氣實耳。非元氣有餘之謂也。醫者臨症之際。果屬實邪。於應表應下之藥。皆當作小劑。少少與之。要在中病即止。不可過劑。務宜顧定元氣。斯無孟浪僨事之非。至於飲食停積。必寸口脈浮大。按之反澀。腹皮熱。大便　臭。然必由脾虛不運而致。於消導藥中。慎毋損及中氣。宜多溫中健脾之品。俾得自強不息之妙。如消乳丸。香橘餅。理中湯之類主之。</p>
<p>若傷食甚而或兼濃味積熱者。宜大安丸。少少與之。俟食積稍消。仍當以五味異功散調補之。此外如目直大叫。項急煩悶。肝之實也。瀉青丸。抑肝散主之。若筋急血燥。抽搐勁強。</p>
<p>斜視目瞪。則屬肝之虛矣。地黃丸主之。叫哭發熱。飲水而搐。心之實也。導赤散。瀉心湯主之。若驚惕不安。則屬心之虛矣。秘旨安神丸主之。困睡身熱。飲水。脾之實也。瀉黃散主之。若嘔吐泄瀉。不食痞滿。倦臥。牙緊流涎。手足牽動。則屬脾之虛矣。</p>
<p>益黃散。或六君子加炮薑木香主之。悶亂喘促。飲水。肺之實也。瀉白散主之。若氣促多汗。則屬肺之虛矣。四君子湯。或五味異功散主之。腎無實。惟痘瘡黑陷。為邪氣實而腎則虛也。</p>
<p>地黃丸主之。若二便不禁。津液枯槁。聲喑目戴。肢體厥逆。腎虛極也。補中益氣湯。兼六味地黃丸主之。大抵小兒實症無多。若稟賦素虛。或病患已久。或過服克伐之劑。皆當作虛症施治。不得概以為實也。慎之慎之。</p>
<h3>附方</h3>
<p>羌活沖和湯　治四時不正之氣。感冒風寒。憎寒壯熱。頭痛身痛。口渴。人人相似者。</p>
<p>此方主寒發熱。宜此方治之。以代麻黃湯用。太陽經之神藥也。</p>
<p>羌活　防風　蒼朮　白芷　川芎生地　黃芩　甘草　細辛（減半）</p>
<p>上加薑棗。水煎。熱服取汗。</p>
<p>四柴胡飲　治元氣不足。或忍飢勞倦。而外感風寒。或六脈緊數微細。正不勝邪等症。</p>
<p>必須慎之慎之。</p>
<p>柴胡（一二三錢）　甘草（炙一錢）　生薑（三五七片）　當歸（二三錢瀉者少用）</p>
<p>用之）</p>
<p>水二鐘。煎七八分。溫服。如胸膈滯悶。加陳皮一錢。</p>
<p>五柴胡飲　脾土為五臟之本。凡中氣不足。而外邪有不散者。非此不可。此與四柴胡飲相表裡。但四柴胡飲止調氣分。此則兼培血氣。以逐寒邪。尤切於時用者也。凡傷寒瘧疾痘瘡。皆所宜用。</p>
<p>柴胡（一二三錢）　當歸（二三錢）　熟地（三五錢）　白朮（二三錢）</p>
<p>白芍（炒用一錢五分）　甘草（炙三錢）　陳皮（酌用或不必用）</p>
<p>水一鐘半。煎七分。食遠熱服。寒勝無火者。減芍藥。加生薑三五七片。或炮乾薑一二錢。</p>
<p>或再加桂枝一二錢。則更妙。脾滯者。減白朮。氣虛者。加人參隨宜。腰痛者。加杜仲。頭痛者。加川芎。勞倦傷脾陽虛者。加升麻一錢。</p>
<p>柴胡飲子　解肌熱蒸熱積熱。或汗後余熱。脈洪實弦數。大便堅實者。</p>
<p>柴胡　人參（各五分）　黃芩　白芍（各七分）</p>
<p>當歸（一錢）　甘草（四分）　大黃（八分）</p>
<p>上每服一二錢。水煎。按此方用藥頗善。但大便如常者。勿得輕用大黃。消乳丸　治嘔吐。消乳食。脈沉者。傷食不化也。</p>
<p>香附（炒）　砂仁　陳皮　神麯（炒）</p>
<p>甘草（炙）　麥芽（炒等分）</p>
<p>上為末。米糊丸。黍米大。每服二十丸。薑湯下。</p>
<p>香橘餅　治傷冷積瀉。</p>
<p>木香　青皮（各一錢）　陳皮（二錢半）　厚朴神麯（炒）　麥芽（炒各半兩）</p>
<p>上為末。蜜和為餅。每服一枚。米飲調下。病久及元氣虛者勿用。</p>
<p>大安丸　治飲食酒積停滯。胸膈痞滿腹脹。</p>
<p>神麯（炒）　陳皮　半夏（制）　茯苓（各一兩）</p>
<p>山楂肉（蒸晒三兩）　連翹　蘿卜子（炒各五錢）　白朮（二兩）</p>
<p>上為末。粥丸綠豆大。量大小。每服一二十粒。米飲下。（一方尚有炒麥芽一兩。黃五錢。）</p>
<p>瀉青丸　治肝膽火。並小兒急驚發搐。眼赤睛疼。</p>
<p>龍膽草　當歸　川芎　防風羌活　山梔　大黃（等分）</p>
<p>上為末。煉蜜丸桐子大。量大小。每服十丸。</p>
<p>抑肝散　治肝經虛熱發搐。或發熱切牙。或驚悸寒熱。或木乘土而嘔吐痰涎。腹脹少食。睡不安。</p>
<p>軟柴胡　甘草（各五分）　川芎（八分）　當歸白朮（炒）　茯苓　釣藤鉤（各一錢）</p>
<p>上水煎。子母同服。以蜜丸。名抑青丸。</p>
<p>導赤散　治心火。及小腸熱證。小便赤澀而渴。</p>
<p>生地　木通　生甘草（各等分）</p>
<p>上加竹葉二十片。水煎服。（一方加人參麥門冬。）</p>
<p>易簡參蘇飲（方見表論）</p>
<p>惺惺散（方見表論）</p>
<p>調胃承氣湯（方見裡論）</p>
<p>四順清涼飲（方見裡論）</p>
<p>理中湯（方見寒論）</p>
<p>五味異功散（方見熱論）</p>
<p>地黃丸（方見熱論）</p>
<p>瀉心湯（即瀉心散方見熱論）</p>
<p>秘旨安神丸（方見熱論）</p>
<p>瀉黃散（方見熱論）</p>
<p>益黃散（方見寒論）</p>
<p>六君子湯（方見寒論）</p>
<p>瀉白散（方見熱論）</p>
<p>四君子湯（方見熱論）</p>
<p>補中益氣湯（方見虛論）</p>
<h2>辨驚風之誤論第九</h2>
<p>小兒急慢驚風之說。古書不載。後人妄立名目。概用金石腦麝之品。貽害至今。殺人不知凡幾。雖代有名哲。因世俗膠結既久。猝難更正。故著作之家。不得不仍以驚風二字目之矣。</p>
<p>夫小兒形氣未充。易生恐怖。又何嘗無驚嚇之症。是凡驟聞異聲。驟見異形。或跌撲叫呼。</p>
<p>雷聲鼓樂。雞鳴犬吠。一切聞所未聞。見所未見。皆能致病。治法急宜收復神氣為要。此即內經所謂大驚猝恐之症是也。但當以驚嚇二字立名。不當以驚風二字目之矣。此立名之妄。</p>
<p>其誤一也。其次。亦有因驚嚇而致肝心二臟。木火俱病者。用藥但宜瀉心平肝。其病自已。</p>
<p>亦非金石腦麝所宜投。其誤二也。至於慢驚。或因吐瀉。或因病後。或因過服克伐之劑。</p>
<p>或脾胃素虛。以致臟腑虛損已極。全屬虛寒敗症。急宜溫補。無風可逐。無驚可療。而名之曰慢驚。更屬謬妄。其誤三也。此外。如傷風發搐。傷食發搐。潮熱發搐。將見痘疹發搐。</p>
<p>太陽病變痙。以及天釣。內釣。癇症之類。皆有搐掣反張強直之狀。世人不知。昧於分別。</p>
<p>往往亦混作驚風施治。且或委之於無知婦人之手。致令無辜赤子。橫遭夭折。其誤四也。今將以上各條。辨症論治之法。匯列於後。俾臨症者有所指歸。一洗從前陋習。庶幾登赤子於壽域矣乎。</p>
<h3>大驚猝恐</h3>
<p>小兒氣怯神弱。猝見異形。猝聞異聲。最傷心膽之氣。內經云。大驚猝恐。則氣血分離。陰陽破散。經絡厥絕。脈道不通。陰陽相逆。經脈空虛。血氣不次。乃失其常。又驚則氣散。</p>
<p>又恐傷腎。驚傷膽。其候則面青糞青。多煩多哭。睡臥驚惕。振動不寧。治法急宜收復神氣為要。宜秘旨安神丸。或獨參湯。茯神湯之類主之。若妄進金石腦麝之品。是猶落井而又下之以石矣。</p>
<h3>因驚嚇而致肝心二臟木火俱病者</h3>
<p>乳兒之母。嗜食肥甘。或酒後乳兒。或將護失宜。衣衾太暖。致令小兒邪熱鬱蒸。積於心而傳於肝。蓋心藏神而肝藏魂。猝被驚觸。神魂恐怖。心肝之氣亦傷。心虛則邪熱得以乘之。</p>
<p>肝虛則內風旋繞。以致夜臥不穩。或笑或哭。忽爾悶絕。目直上視。牙關緊急。口噤不開。</p>
<p>手足搐掣。身熱面赤。脈數引飲。口中氣熱。二便黃赤。或秘。搐而有力。為邪氣實。宜導赤散。更加乾地黃防風竹葉。連進三服。或兼辰砂抱龍丸。少少與之。用以導心經之邪熱。息肝臟之虛風。其病即愈。倘肆用香散走竄。或寒涼攻伐之劑。必變為虛寒敗症。不治者多矣。宜兼詳虛實二論。</p>
<h3>虛寒敗症</h3>
<p>凡小兒病後。或吐後瀉後。或脾胃素虛。或誤服藥餌。或過服克伐之劑。或感受風寒。</p>
<p>而致氣微神緩。昏睡露睛。手足厥冷。身體或冷或熱。或吐或瀉。涎鳴氣促。口鼻氣冷。驚跳螈。搐而無力。乍發乍靜。面色淡白。或眉唇青赤。脈象沉遲散緩。或細數無神。此蓋舉世共詫為慢驚風者是也。殊不知病本於虛。臟腑虧損已極。無風可逐。無驚可療。全屬虛寒敗症。不必盡由驚嚇而致。蓋脾虛不能攝涎。故津液妄泛而似痰。火虛則身寒。口中氣冷。木虛故搐而無力。每見世醫狃於陋習。輒作驚風施治。致令百無一救。此無他。良由前人立名之不慎以致此耳。若更乞靈於無知婦人。則其死更速。蓋斯時一點真氣。已屆半續半離之際。一經動搖。鮮有不隨手而脫者。吁可哀也。主治之法。急宜溫補脾胃為要。如四君子湯。</p>
<p>五味異功散。加當歸酸棗仁。東垣黃　湯。若脾土虛寒甚者。六君子加炮薑木香。不應者。急加附子。脾腎虛寒之甚。或吐瀉不止者。附子理陰煎。或六味回陽飲。若但泄瀉不止者。</p>
<p>胃關煎。若元氣虧損已極。而至昏憒者。急灸百會穴。（百會在頭頂正中。取之之法。</p>
<p>用線量前後發際及兩耳尖。</p>
<p>折中乃是穴也。）</p>
<p>兼服金液丹。凡此貴在辨之於早。而急為溫補之。始克有濟。倘稍涉遲疑。則必致不救。慎之慎之。宜兼詳虛論。</p>
<h3>傷風發搐</h3>
<p>凡小兒身熱脈浮。口中氣熱。呵欠頓悶。手足搐搦者。此因傷風而得之。宜大青膏。或人參羌活散之類主之若搐而肢體倦怠。口氣不熱。則屬虛矣。宜異功散以補脾。釣藤飲以制肝。</p>
<p>則搐自止矣。若月內小兒。搐而鼻塞。亦屬風邪所傷。宜用蔥白七莖。生薑一片。細擂攤紙上。合置大人掌中令熱。急貼囟門。（案方書。頂中央旋毛中為百會。百會前一寸為前頂。</p>
<p>百會前三寸即囟門。）少頃即搐止而鼻亦利矣。尋常小兒傷風。亦可用之。愈後取去。仍當以綿胭脂一片。周遭以熱面糊護之。以蔽大人口鼻之氣為善。</p>
<h3>傷食發搐</h3>
<p>凡小兒飲食過度。致傷脾胃。嘔吐多睡。不思乳食。忽然而搐者。此因傷食得之。宜消食丸。若食既消而前症仍作。或見虛象者。此脾土傷而肝木乘之也。宜六君子加釣藤鉤以健脾。</p>
<p>平肝。慎勿肆用消導。而致變壞症也。</p>
<h3>潮熱發搐</h3>
<p>小兒潮熱發搐。謂因潮熱不已。血虛筋急而發搐也。所謂潮熱者謂時間發熱。過時即退。來日依時而發。如江海之潮汐。而罔或愆期也。原其所自。由於因熱而致搐。不由驚嚇而致病。若妄作荒誕之驚風施治。則大誤矣。主治之法。要不外乎虛實寒熱四者而已。假如病因於肝。其候則身體壯熱。目上視。手足動搖。口生熱涎。頸項強急。當用地黃丸以補腎。瀉青丸以治肝。若兼作渴飲冷便結。屬肝膽經虛熱。用柴芍參苓散。若更兼自汗盜汗。屬肝膽經血虛。用地黃丸。若口吻流涎。屬肝木克脾土。用六君子湯主之。假如病因於心。其候則心惕。目上視。白睛赤。牙關緊急。口內涎生。或渴而飲水。手足動搖。當用導赤散以治心。</p>
<p>地黃丸以補肝。若渴而飲湯。體倦不乳。屬土虛木旺。用六君子地黃丸主之。假如病因於肺。其候則不甚搐而喘。目微斜視。身熱如火。睡露睛。手足冷。大便淡黃水。當用益黃散以補脾。瀉青丸以治肝。導赤散以治心。若身體微熱。屬脾肺虛熱。用異功散。若喘瀉不食。手足逆冷。屬脾肺虛寒。用六君子加炮薑木香。若久病而元氣虛者。用六君子地黃丸主之。假如病因於腎。其候則不甚搐而臥不穩。身體溫壯。目睛緊斜。喉中有痰。大便銀褐色。乳食不消。多睡不省。當用益黃散以補脾。導赤散以治心。若吐瀉不乳。厥冷多睡。屬寒水侮土。用益黃散。不應者。用六君子加薑桂主之。大都治搐之法。皆當以固脾肺之氣為先。蓋土旺金生。則肝木有制。不來乘脾。其搐自止。治者審焉。宜兼詳虛實二論。</p>
<h3>將見痘疹發搐</h3>
<p>凡小兒於將見痘疹之時。必先發熱。熱甚則陰分受傷。或心移熱於肝。以致風火相搏。</p>
<p>而見手足搐搦。口眼歪斜者。亦常有之。經云。諸風掉眩。皆屬於肝。又云。諸痛癢瘡。皆屬於心。蓋心主熱。熱甚則肺經受克。不能制伏肝木。熱則生風。風火相搏。神氣不安。故驚惕而發搐也。苟或妄以驚藥治之。則心寒而肌斂。毒必內陷。害可勝言哉。主治之法。當察其所屬而調劑之。如發熱無汗。表邪甚而搐者。柴歸飲。或惺惺散之類主之。煩渴飲冷。裡熱甚而搐者。導赤散。或辰砂六一散之類主之。肝膽熱甚。大便秘結。煩躁而搐者。瀉青丸主之熱甚見血而搐者。犀角地黃湯主之。風熱既退。則痘隨出而搐自止矣。然此皆治實之法。</p>
<p>此外有因稟賦素虛。心脾不足而搐者。但當以面色青白。神氣怯弱為辨。宜七福飲。或養心湯。或六氣煎。加棗仁主之。</p>
<h3>太陽病變痙</h3>
<p>仲景先生云。身熱足寒。頭項強急。惡寒時頭熱。面赤。目脈赤。獨頭面搖。卒口噤。</p>
<p>背反張者。痙病也。發熱無汗。反惡寒者。名剛痙。發熱汗出。不惡寒者。名柔痙。又曰。太陽病。發汗過多。因致痙。小兒肌膚嫩薄。腠理不密。血液未充。易於感冒。往往初傳太陽一經。便覺身強多汗。筋脈牽動。人事昏沉。是即變痙症也。良由熱甚傷陰。汗多傷液。血氣內虛。筋失所養。以致此耳。主治之法。若初病便痙。表邪未解。陰虛無汗身熱者。宜人參羌活散。或三柴胡飲。或四柴胡飲之類主之。若因汗出太多。或過事表散。陽氣虛甚者。宜參附湯。參歸湯。人參建中湯之類主之。若汗出兼火。脈見洪滑。證見煩躁。或痰熱甚者。用丹溪人參竹瀝之法主之。若身微熱。脈不緊數。此表邪已隨汗解。不必再用發散。只宜專顧正氣為要。宜五福飲之類主之。若大虛而脈見沉細陰勝者。宜大營煎。大補元煎。十全大補湯之類主之。其次。有以誤下傷陰。或泄瀉過度。或濕症誤汗。或瘡家誤汗。</p>
<p>或亡血過多。或婦人產後。或傷暑。或中風之類。種種不一。皆能致痙。奈何世醫不明此理。以小兒太陽初病變痙。而謬名之曰急驚風。以汗下過度。神氣微弱。口開眼張。而名之曰慢驚風。以婦人產後。血虛發痙。而名之曰產後驚風。以損傷亡血過多變痙。</p>
<p>而名之曰破傷風。以暑傷正氣。汗多厥逆。而名之曰暑驚風。以及體虛非風之類。不知皆屬極虛之症。動以驚風為名。輒投開關鎮墜之品。致使真氣益虛。邪反內陷。死亡相繼。何生民之不幸。若此其甚也。業幼科者。毋得以頭搖口噤。反張搐搦。便妄作驚風施治。以致誤人不救也。</p>
<h3>天釣內釣</h3>
<p>天釣之狀。發時頭目仰視。驚悸壯熱。兩目反張。淚出不流。手足搐掣。不時悲笑。如鬼祟所附。甚者爪甲皆青。由乳母濃味積熱。貽兒為患。或外感風邪所致。宜內服釣藤飲。外用雙金散吹鼻。至於內釣。其狀則腹痛多喘。唇黑囊腫。傴僂反張。眼尾赤色。或五內抽掣。作痛狂叫。或泄瀉縮腳。亦由乳母起居不慎。或為寒氣所乘而致。宜釣藤飲。五味異功散。</p>
<p>加乾薑木香。甚者宜加肉桂。進乳食者可治。若因乳母鬱怒傷肝。宜兼治其母。宜用逍遙散加熟地。或加味歸脾湯。俱加漏蘆。子母同服。</p>
<h3>癇症</h3>
<p>小兒癇症。多因稟受先天不足。或因妊母七情所傷。傳兒為患。發之之狀。其候則神氣怫鬱。眼瞪面目牽引。口噤涎流。肚腹膨脹。手足搐掣。或項背反張。或腰脊強直。或仆地作聲。醒時吐沫。但當以四體柔弱。發而時醒者。是即癇症也。第五臟不同。治法各異。陰陽有別。難易殊途。宜詳言之。假如面赤目瞪。吐舌嚙唇。心煩氣短。其聲如羊者。此心癇也。宜養心湯。妙香散主之。假如面青唇青兩眼上竄。手足攣掣反折。其聲如犬者。此肝癇也。宜地黃丸主之。若搐而有力。宜柴胡清肝散主之。假如面黑目振。口吐涎沫。形體如尸。</p>
<p>其聲如豬者。此腎癇也。宜地黃丸大劑煎湯主之。假如面如枯骨。目白反視。驚跳反折。搖頭吐沫。其聲如雞者。此肺癇也。宜補肺散主之。若面色萎黃。土不生金也。宜異功散主之。若面赤色。陰火上衝於肺也。宜地黃丸主之。假如面色萎黃。目直腹滿。四肢不收。其聲如牛者。此脾癇也。宜異功散主之。若面青瀉利。飲食少思。木來乘土也。宜六君子加木香柴胡主之。以上五臟所屬。主治之大法也。至若陰陽難易。則以發熱。抽掣仰臥。面色光澤。脈浮者為陽。易治。若身冷。不搐。覆臥。面色黯黑。脈沉者為陰。難治。要皆元氣不足之症也。通宜用紫河車研膏。加人參當歸末。糯米粥糊丸。多服取愈。若妄用祛風化痰克伐之劑。或初發時。誤作驚風施治者。必死。大凡小兒平日。宜察其耳後高骨間。若有青脈紋者。宜即抓破出血可免斯患。此外又有因汗出當風。或脫換衣服。風邪乘虛暗襲。致見目青面紅。迷悶搐掣。涎潮屈指。如計數者。名曰風癇。宜先用消風丸少少與之。繼即用補中益氣湯。兼六味地黃丸。或八珍湯之類主之。兼宜服紫河車丸。又有因傷食過甚。以致噯吐氣。發搐。大便　臭者。名曰食癇。即俗所謂食厥者是也。宜詳傷食發搐條。茲不再。上凡十條。其候雖各有不同。而其搐搦之狀。似與世之所謂驚風者相仿佛。其實病各不同。主治亦互異。真不啻有霄壤之別。冰炭之分焉。究其相沿。概謂驚風之說。由於不細心探討前人之書。但概謂之驚風。則其法為較通俗而易耳。殊不知此門一開。遂令天下業幼科者。只抱數方。便為神術。或更獨標其名曰驚科。大可嘆也。吾今而立是說。非發前人所未發。實啟後來之大覺耳。吾於操縵者有濃望焉。</p>
<h3>附方</h3>
<p>獨參湯　治諸氣虛氣脫。及反胃嘔吐喘促。粥湯入胃即吐。凡諸虛症垂危者。</p>
<p>人參（二兩如無力之家以上好黨參代之。）</p>
<p>用水一升。煎取四合。乘熱頓服。日再進之。兼以人參煮粥食之。尤妙。</p>
<p>茯神湯　治膽氣虛寒。頭痛目眩。心神恐懼。或是驚癇。</p>
<p>人參　黃　（炒）　棗仁（炒）　熟地　白芍（炒）</p>
<p>柏子仁（炒）　五味子　茯神（各一兩）　桂心　甘草（炒各五錢）</p>
<p>上為末。每服二三錢。水煎。</p>
<p>辰砂抱龍丸　此藥利驚疏風。豁痰清熱。並治傷寒傷風。咳嗽生痰。喘急昏沉發熱。鼻流清涕。或風暑熱症。睡中驚掣。痧疹　瘡。胎風胎驚胎熱等症。邪氣實者。</p>
<p>天竺黃（四錢須要嫩白者）　牛膽星（一兩）　朱砂（四錢一半為衣）　天麻（五錢）</p>
<p>雄黃（秋冬三錢春減半夏二錢）　麝香（三分痘疹中不用）　防風（三錢）　甘草（三錢）</p>
<p>上為細末。蜜丸芡實大。雪水糊丸尤佳。薑湯或薄荷湯磨服。痘疹時行。</p>
<p>加天花粉四錢。同藥糊丸。</p>
<p>東垣黃　湯　治驚論。外物驚。宜鎮心。以黃連安神丸。若氣動所驚。宜寒水石安神丸。大忌防風丸。治風辛溫之藥必殺人。何也。辛散浮溫熱者。火也。能令母實。助風之氣盛。皆殺人也。因驚而泄青色。先鎮肝以朱砂之類。勿用寒涼之氣。大禁涼驚丸。風木旺。必克脾胃。當先實其土。後瀉其木。閻孝忠編集錢氏方。以益黃補土。誤矣。其藥有丁香辛熱助火。火旺土愈虛矣。青橘皮瀉肺金。丁香辛熱。大瀉肺與大腸。脾實當瀉子。今脾胃虛。反更瀉子而助火。重虛其土。殺人無疑矣。其風木旺證。</p>
<p>右關脈洪大。掌中熱。腹皮熱。豈可以助火瀉金。如寒水來乘脾土。其病嘔吐腹痛。瀉痢青白。益黃散聖藥也。今立一方。先瀉火補金。大補其土。是為神治之法。</p>
<p>黃　（二錢）　人參（一錢）　甘草（炙五分）</p>
<p>上　咀作一服。水一大盞。煎至半盞。去渣食遠服。加白芍藥尤妙。此三味。皆甘溫能補元氣。甘能瀉火。內經云。熱淫於內。以甘瀉之。以酸收之。白芍藥酸寒。寒能瀉火。</p>
<p>酸味能瀉肝而大補肺金。所補得金土之位大旺。火虛風木何由而來克土。然後瀉風之邪。</p>
<p>金液丹　舊方主病甚多。大抵治氣羸。凡久疾虛困。久吐利不瘥。老人臟秘。傷寒脈微。</p>
<p>陰厥之類。皆氣羸所致。服此多瘥。大人數十丸。至百丸。小兒以意裁度多少。皆粥飲下。</p>
<p>羸甚者化灌下。小兒久吐利垂困。藥乳皆不入。委頓待盡者。並與數十丸。往往自死得生。</p>
<p>少與即無益。嘗親見小兒吐利已極。已氣絕棄諸地。知其不救。試謾與服之。復活者數人。</p>
<p>硫黃（十兩）</p>
<p>上取精瑩者。研碎入罐子。及八分為度。不可滿。外用益母草。同井泥搗。因濟罐外。</p>
<p>約濃半寸。置平地。以瓦片覆罐口。四面炭五斤擁定。以熟火一斤。自上燃之。候罐子九分赤口縫有碧煙。急退火。以潤灰三斗覆至冷。剖罐取藥。削去沉底滓濁。準前再　。通五　為足。（急用可三　止。）藥如熟雞卵氣。取並罐埋潤地一夜。又以水煮半日。取藥。柳木槌研細。滴水候揚之無滓。更研令干。每藥一兩。用蒸餅一兩湯釋化。同搗丸之。曝乾密貯。</p>
<p>聽用。</p>
<p>大青膏　治傷風痰熱發搐。</p>
<p>天麻　青黛（各一錢）　白附子（煨）　烏蛇（酒浸取肉焙）　蠍尾（各五分）</p>
<p>天竺黃　麝香（各一字。案古法用一字者。以藥堆滿錢上之一字也。用二字者同。亦有只用半字者。）</p>
<p>上為末。生蜜丸豆大。每用半粒。薄荷湯化下。</p>
<p>人參羌活散　治傷風驚熱。</p>
<p>人參　羌活　川芎　白茯苓　柴胡　前胡　獨活　桔梗　枳殼　地骨皮　天麻（等分）　甘草（炙減半）</p>
<p>上用生薑薄荷水煎。治驚熱加蟬蛻。</p>
<p>釣藤飲　治天釣潮熱。</p>
<p>釣藤　人參　犀角屑（各半兩）　全蠍　天麻（各二分）　甘草（半分）</p>
<p>上為末。每服一錢。水煎。</p>
<p>消食丸　治乳食過多。胃氣不能消化。</p>
<p>砂仁　陳皮　神麯（炒）　麥芽（炒）</p>
<p>三棱　蓬朮（各半兩）　香附（炒一兩）</p>
<p>上為末。神麯。糊丸。麻子大。量兒大小。每服數分。白湯送下。</p>
<p>柴芍參苓散　治肝膽經分。患天泡等瘡。或熱毒瘰　之類。</p>
<p>柴胡　白芍　人參　白朮（炒）　茯苓陳皮　當歸（各五分）　丹皮　山梔（炒）　甘草（各三分）</p>
<p>上每服二錢。水煎。</p>
<p>柴歸飲　治痘瘡初起。發熱未退。無論是痘是邪。疑似之間。均宜用此平和養營之劑。</p>
<p>以為先著。有毒者可托。有邪者可散。實者不致助邪。虛者不致損氣。凡陽明實熱邪盛者。宜升麻葛根湯。如無實邪。則悉宜用此。增減主之。</p>
<p>當歸（二三錢）　白芍（或生或炒一錢五分）　柴胡（一錢或一錢半）　荊芥穗（一錢）　甘草（炙七分或一錢）</p>
<p>水一鐘半煎服。或加生薑三片。血熱者加生地。陰虛者加熟地。氣虛脈弱者加人參。虛寒者加炮薑肉桂。火盛者加黃芩。熱渴者加干葛。腹痛者加木香砂仁。嘔惡者加炮薑陳皮。若治麻疹。或以荊芥易干葛。陰寒盛而邪不能解者。加麻黃桂枝。</p>
<p>辰砂六一散　解煩熱。止渴。利小水。</p>
<p>粉甘草（一兩）　桂府滑石（飛六兩）　朱砂（三錢）</p>
<p>上為極細末。量兒大小。每服一二三錢。開水調下。</p>
<p>犀角地黃湯　治勞心動火。熱入血室。吐血衄血。發狂發黃。及小兒瘡痘血熱等症。</p>
<p>生地（四錢）　白芍　丹皮　犀角（鎊各一錢五分如欲取汗退熱必用尖生磨攙入上水一鐘半。煎八分服。或入桃仁去皮尖七粒。同煎。以治血症。</p>
<p>七福飲　治氣血俱虛而心脾為甚者。</p>
<p>人參（隨宜）　熟地（隨宜）　當歸（二三錢）　白朮（炒一錢五分）　甘草（炙一錢）　棗仁（二錢）　遠志（制三五分）</p>
<p>上水二鐘。煎七分。食遠溫服。或加生薑三五片。</p>
<p>養心湯　治心血虛怯。驚癇或驚悸怔忡。盜汗無寐。發熱煩躁。</p>
<p>人參　黃　遠志　當歸　川芎　棗仁　五味子　肉桂　柏子仁　白茯苓　茯神　半夏曲（各三錢）　甘草（炙四錢）</p>
<p>上每服二三錢。薑棗水煎。</p>
<p>六氣煎　治痘瘡氣虛。癢　倒陷。寒戰切牙。並治男婦陽氣虛寒等症。</p>
<p>黃　（炙）　肉桂　人參　白朮（炒）　當歸　甘草（炙）</p>
<p>上分量隨宜。水煎。加減照六物煎法詳見痘論六物煎下。</p>
<p>三柴胡飲　凡素稟陰分不足。或肝經血少而偶感風寒者。或感邪不深。可兼補而散者。</p>
<p>或病後產後感冒。有不得不從解散。而血氣虛弱。不能外達者。宜此主之。</p>
<p>柴胡（二三錢）　白芍（一錢半）　甘草（炙一錢）　陳皮（一錢）　生薑（三五片）　當歸（二錢）</p>
<p>上水一鐘半。煎七分溫服。如微寒咳嘔者。加半夏一二錢。溏泄者。以當歸易熟地。</p>
<p>參附湯　治真陽不足。上氣喘急。呃逆自利。臍腹疼痛。手足厥冷。嘔惡不食。自汗盜汗。氣短頭暈等症。</p>
<p>人參　制附子（須參倍於附或等分不拘五錢或一兩酌宜）</p>
<p>薑水煎服。</p>
<p>參歸湯　治心虛血熱。自汗盜汗。（一名團參散一名人參湯）</p>
<p>人參　當歸（等分）</p>
<p>上為末。每服二錢。用雄豬心一個。切三片。以一片煎湯調服。</p>
<p>人參建中湯　治虛勞自汗。</p>
<p>甘草（炙）　桂枝　生薑（各三兩）　大棗（十二枚）　白芍（六兩）　膠飴（一升即麥芽糖）　人參（二兩）</p>
<p>上水七升。煮取三升去渣。入膠飴更上微火消解。溫服一升。日三服。（此漢時分量。</p>
<p>權量與今時不同。酌宜用之可也。嘔家不可用建中湯。以甜故也。）</p>
<p>丹溪人參竹瀝之法　丹溪云。痙比癇為虛。宜帶補多是氣虛有火兼痰。用人參竹瀝治之。不用兼風藥。</p>
<p>人參　竹瀝上將人參煎湯。入竹瀝和服。</p>
<p>五福飲　凡五臟氣血虧損者。此能兼治之。足稱王道之最。</p>
<p>人參（主心）　熟地（主腎俱隨宜用）　當歸（主肝二三錢）　白朮（主肺炒一錢半水二鐘。煎七分溫服。或加生薑三五片。凡治氣血俱虛等證。以此為主。或宜溫者加薑附。宜散者加升麻柴葛。左右逢源。無不可也。</p>
<p>大營煎　治真陰精血虧損。及婦人經遲血少。腰膝筋骨疼痛。或氣血虛寒。心腹疼痛等症。</p>
<p>當歸（二三錢或五錢）　熟地（三五七錢）　枸杞（二錢）　甘草（炙一二錢）</p>
<p>杜仲（二錢）　牛膝（一錢五分）　肉桂（一二錢）</p>
<p>水二鐘。煎七分。食遠溫服。如寒滯在經。氣血不能流通。筋骨疼痛之甚者。必加制附子一二錢方效。如帶濁腹痛者。加破故紙一錢炒用。如氣虛者。加人參白朮。中氣虛寒嘔惡者。</p>
<p>加炒焦乾薑一二錢。</p>
<p>大補元煎　治男婦氣血大壞。精神失守。危劇等症。此回天贊化。救本培元。第一要方。</p>
<p>人參（補氣補陽以此為主少則用一二錢多則用一二兩）　熟地（補精補陰以此為主少則用二三錢多則用二三兩）</p>
<p>山藥（炒二錢）　杜仲（二錢）　當歸（二三錢若泄瀉者去之）　山萸（一錢如畏酸吞酸者去之）　枸杞（二三錢）　甘草（炙一二錢）</p>
<p>水二鐘。煎七分。食遠溫服。如元陽不足多寒者。加附子肉桂炮薑之類。隨宜用之。如氣分偏虛者。加黃　白朮。如胃口多滯者不必加。如血滯者加川芎。去山萸。如滑泄者加五味破故紙之屬。</p>
<p>十全大補湯　治氣血俱虛。惡寒發熱。自汗盜汗。肢體困倦。眩暈驚悸。晡熱作渴。遺精白濁。二便見血。小便短少。便泄閉結。喘咳下墜等症。</p>
<p>人參　白朮（炒）　茯苓　甘草（炙減半）　熟地黃當歸　白芍藥（減半）　川芎（照芍藥更減一半）　黃　（炙）　肉桂（錢許）</p>
<p>上水煎溫服。</p>
<p>雙金散　治天釣。目久不下。</p>
<p>蜈蚣（一個。去頭足尾。用真酥塗抹。慢火炙黃。置砧子上。面南立。用竹刀子當脊縫中亭。</p>
<p>利作兩半個。左邊者入一貼子內。為左字。右邊者。亦入一貼子內。為右字。不得交錯。錯即大誤矣。慎之慎之。）</p>
<p>麝香（一錢。細研。先將左邊者同於乳缽內。研作細末。卻入在左字貼內收起。別用乳缽。將右邊字者。入麝香同研極細。卻入右字貼內收。不得相犯。）</p>
<p>每有病者。眼睛釣上。止見白睛。兼角弓反張。更不能出聲者。用細葦筒子。取左字貼內藥少許。吹在左邊鼻裡。右亦如之。用藥不可多。若眼未全下。更添些少。以意量度。其眼隨手便下即止。</p>
<p>逍遙散　治肝脾血虛。及鬱怒傷肝。少血目暗。發熱脅痛等症。</p>
<p>當歸　白芍　白朮（炒）　茯苓　甘草（炙）　柴胡（各等分）</p>
<p>上加煨薑薄荷少許。水煎。</p>
<p>加味歸脾湯　治脾經血虛發熱等症。</p>
<p>人參　黃　（炙）　白朮（炒）　茯苓　棗仁（各二錢）　遠志　當歸（各一錢）　木香　甘草（炙各五分）　柴胡山梔（各一錢）</p>
<p>水二鐘。加圓眼肉七枚。煎七分溫服。</p>
<p>妙香散　治心氣不足。驚癇。或精神恍惚。虛煩少寐。盜汗等症。</p>
<p>辰砂（三錢）　麝香（一錢）　木香（煨二錢五分）　茯苓　山藥　茯神　遠志　黃　（炙各一兩）　桔梗　甘草　人參（各五錢）</p>
<p>上為極細末。每服一錢。溫酒或白湯調服。</p>
<p>補肺散　治肺虛。惡心喘急。久患咳嗽有痰。</p>
<p>阿膠（一兩五錢炒）　鼠黏子（炒）　馬兜鈴（各五錢）　杏仁（七粒）　糯米（一兩）　甘草（三錢）</p>
<p>上每服二三錢。水煎。</p>
<p>紫河車丸　治癲癇。</p>
<p>紫河車（肥大者一具）　人參　當歸（二味酌用為末）</p>
<p>上將河車生研爛。入二藥。加糯米粥少許搗。丸桐子大。每服五七十丸。日進三服。人乳化下。凡先天不足。後天虧敗者。俱可隨宜增用藥物。照此制服。無不可也。或將河車用酒頓熟亦佳。</p>
<p>消風丸　治風癇。先宜此藥。</p>
<p>膽星（二錢）　羌活　獨活　防風　天麻　人參　荊芥　川芎　細辛（各一錢）</p>
<p>上為末。蜜丸桐子大。每服二丸。薄荷紫蘇湯調化下。</p>
<p>秘旨安神丸（方見熱論）</p>
<p>導赤散（方見實論）</p>
<p>四君子湯（方見熱論）</p>
<p>五味異功散（方見熱論）</p>
<p>六君子湯（方見寒論）</p>
<p>附子理陰煎（方見寒論）</p>
<p>六味回陽飲（方見寒論）</p>
<p>胃關煎（方見寒論）</p>
<p>異功散（即五味異功散方見熱論）</p>
<p>地黃丸（方見熱論）</p>
<p>瀉青丸（方見實論）</p>
<p>益黃散（方見寒論）</p>
<p>惺惺散（方見表論）</p>
<p>四柴胡飲（方見實論）</p>
<p>柴胡清肝散（方見熱論）</p>
<p>補中益氣湯（方見虛論）</p>
<p>八珍湯（方見虛論）</p>
<h2>不可餓論第十</h2>
<p>內經云。人之所受氣者。穀也。穀之所注者。胃也。胃者。水穀氣血之海也。又曰。人以水穀為本。故人絕水穀則死。又曰。人受氣於穀。穀入於胃。以傳於肺。五臟六腑。皆以受氣。又曰。真氣者。所受於天。與穀氣並而充身也。又曰。穀不入。半日則氣衰。一日則氣少矣。又曰。營氣之道。納穀為實。又曰。脾者。倉廩之官。胃者水穀之海。六腑之大源也。</p>
<p>又曰。五臟皆稟氣於胃。胃者。五臟之本也。又曰。有胃氣則生。無胃氣則死。李士材曰。嬰兒既生。一日不再食則飢。七日不食。則腸胃涸絕而死。經云。安穀則昌。絕穀則亡。</p>
<p>猶兵家之餉道也。餉道一絕。萬眾立散。胃氣一敗。百藥難施。一有此身。必資穀氣。愿飲食之於人。不綦重歟。豈知近日醫流。毋論大人小兒。凡遇發熱。不分表裡虛實。便一概禁絕其飲食。而惟揚屬為尤甚。至有餓不死傷寒之說。愚夫愚婦。習焉不察。</p>
<p>至死不悟。嗟乎。胃氣者。元氣也。飲食者。人之所賴以生者也。人非飲食。何以生乎。且夫風寒外感。未曾傳裡之時。其邪在表。裡本無病。其人自能食。若表不解。邪傳入裡。其人自不能食。方其在表能食之時。醫者妄絕其飲食。是先絕其胃氣也。胃氣一傷。則諸臟無所稟氣而皆傷矣。諸臟之氣皆傷。則正不勝邪。正不勝邪。則無以捍御外侮。勢必邪氣乘虛內陷。而直入堂奧矣。若曰風寒宜餓。試問仲景先生傷寒論第一條。風傷衛。服桂枝湯後。</p>
<p>令人　熱稀粥一升余。以助藥力。穀氣內充。則邪不能入。且俾胃中陽氣鼓動。邪自作汗而解者。為何說也。況汗生於陰。非飲食無以生陰長陽。所宜禁者。生冷黏滑。肉面五辛。酒酪臭惡等物耳。此或因從前病家。不耐甘淡。仍食黏滑肉面之物。醫者不免有勿多食之戒。愚者聞之。錯會其說。遂至承認襲謬。貽害至今。殺人無已。在大人或可自知飢甚難支。猶可追呼索食。在小兒則口不能言。任人布置。勢必輕病變重。輾轉呻吟。不至餓死不止。傷心慘目。莫此為甚。間有愈者。亦必羸弱不堪。致使壯者怯而弱者夭。孫真人云。小兒有病。</p>
<p>宜單乳不哺。足可證今人清餓之謬歷覽名家所著之書。亦從未有餓之一字。蓋人之既長。</p>
<p>全資穀氣以為生。嬰孺之時。必賴乳飲以為命。吾今與醫家病家約。凡於外感之症。毋論大人小兒。若其能食者。不必禁其食。不能食者。當思所以食之。要之能食之病。其病必不死。雖弗藥可也。不能食之病。除傷食惡食外。醫者務求其所以而治之。俾其能食。則其病亦自愈。有志於生命者。慎毋以習俗相沿。亦蹈餓人之弊也。吾特於此諄諄而詳戒之。</p>
<h2>治痘論第十一</h2>
<p>痘瘡一證。由先天伏毒。觸後天時行之氣而後發。在上古民物貞淳。並無所謂痘瘡之說。至於後世。乃至人人不免。為嬰兒生死一大關頭。雖曰天地之氣運使然。要亦人事之不古耳。</p>
<p>其候有三。曰順險逆。辨之有四。曰寒熱虛實。蓋順症可不必治自愈。逆症難治難愈。</p>
<p>所宜治者。惟險症而已。所謂險症者。或由天時不正。或因稟賦素虛。或兼外感。或挾內傷。或將護失宜。或服藥謬妄。率皆人事之不齊。非痘瘡之自為險逆也。嘗見近日幼科。動稱火毒。大黃石膏之屬。率意輕投。致使脾腎生氣大傷。勢必毒瓦斯乘虛內陷。冤乎冤乎。此非醫為之乎。</p>
<p>且夫痘瘡見點之後。毒瓦斯悉已發越在表。最忌攻裡。前人戒妄汗妄下。已不勝諄切詳盡。何後人之懵懵也。主治之法。辨列於後。宜詳觀之。然欲無險逆而求萬全。莫如種痘附種痘說。</p>
<h3>表虛見證主治之法</h3>
<p>表虛之狀。初發熱時。其熱必微。或惡寒。身振振搖動。如瘧之狀。宜柴葛桂枝湯。加黃主之。或寒熱往來。四肢厥冷。面色青白。或多汗惡風。或怠惰嗜臥。脈必浮細而弱。宜溫中益氣湯。參　內托散。或十宣散之類主之。若初見點便作癢者。宜六氣煎。加川芎白芷防風荊芥。或十宣散之類主之。若表虛不能約束毒瓦斯。以致一齊涌出。顆粒細碎者。實表解毒湯主之。若表虛無力托送。以致痘出不快者。實表解毒湯。十宣散。保元湯之類主之。若已見齊。而痘色灰白。頂陷。或伏陷。或不起發。不光澤。或色嫩皮薄。或癢　。或如水泡。</p>
<p>或摸不礙手。或根窠不紅。或倒靨。或不能結痂者。脈必細數無力。悉是表虛之候。宜保元湯。十全大補湯。六氣煎之類主之。若已成漿。不因吐瀉。而忽見寒戰者。表虛甚也。養衛化毒湯主之。</p>
<h3>表實見證主治之法</h3>
<p>表實之狀。初熱之時。壯熱無汗。惡寒頭疼身痛。脈浮緊數。如在冬月寒勝之時。宜人參敗毒散主之。如時令暄熱。宜升麻葛根湯主之。如不寒不熱天氣溫和之時。宜柴歸飲主之。</p>
<p>然此皆為表實者宜之。設或稟賦素虛。或表邪不甚。或肢體潮潤。或已見點。雖升麻葛根湯亦不宜用。矧敗毒散乎。倘誤表之。必致潰爛之變。其次若面赤唇紫。眼紅鼻塞。皮焦膚赤。手足熱甚者。宜搜毒煎。或加柴胡。或柴歸飲主之。若已見點。而痘色紅紫。　腫疼痛。</p>
<p>或皮濃而硬。或癰腫　疔。脈見浮洪滑實。裡氣亦實者。四味消毒飲。鼠黏子湯之類主之。</p>
<p>若已見點。而身熱不退者。宜滋營氣。芎歸湯主之。不得肆用表散。蓋妄汗能致　爛也。慎之慎之。若已見點。而偶為風寒所感。痘出不快。身熱加增者。此又宜微表之也。柴歸飲主之。</p>
<h3>表寒見證主治之法</h3>
<p>表寒之狀。不起發。不紅活。根窠淡白。宜保元湯。六物煎。參　內托散之類。少加酒同煎主之。若已起發。而身涼癢　。倒陷干枯者。宜保元湯。六氣煎。十全大補湯之類作大劑。</p>
<p>亦少加酒煎主之。不應者。加鹿茸附子。</p>
<h3>表熱見證主治之法</h3>
<p>表熱之狀。肌膚大熱。氣粗喘滿。煩躁狂言。宜羌活散郁湯。柴歸飲之類主之。若身外熱甚。而唇潤不渴。目無赤脈。大小便調。身雖大熱。但　然。柴歸飲主之。若已出而根窠紅紫。宜四物湯。涼血養營煎之類主之。若已見點。而頂赤發　。涼血養營煎。犀角散之類主之。若頭面紅腫。紫黑焦枯。紫草快　湯。涼血養營煎。六味地黃湯之類主之。若夾　夾疹。眼紅唇裂。涼血養營煎主之。</p>
<h3>裡虛見證主治之法</h3>
<p>裡虛之狀。或因先病吐瀉或因誤服寒涼之劑。或痘瘡已出未出之間。而為吐瀉嘔惡。精神倦怠。喜熱飲食者。宜六君子湯。五君子煎。理中湯。參薑飲之類主之。若少食。或不思食。</p>
<p>或食亦不化。此脾胃之氣虛也。宜五味異功散。四君子湯之類主之。若二便清利。或溏泄不渴。或氣促聲微。或神昏多睡。或腹膨噯氣。吞酸。脈見弱而無力者。宜人參理中湯。保元湯。六氣煎之類主之。若痘未出。發熱之初。而見吐瀉一二次即止者。其痘出必輕。不必治之。此又不可不知也。要之痘瘡全賴裡氣完固。若裡氣虛損。則生機息矣。喜用石膏大黃者。吾誠不知其為何心也。</p>
<h3>裡實見證主治之法</h3>
<p>裡實之狀。二便秘結。胸膈脹滿。作渴喜冷。或唇燥咽乾。口瘡舌黑。脈見沉數有力。</p>
<p>痘形未見之時。宜微下之。四順清涼飲。當歸丸之類。少少與之。若肢體熱甚。柴胡飲子。若煩躁驚狂。聲高譫語。脈見洪滑者。辰砂六一散。退火丹。導赤散之類主之。若痘已隱隱見於皮膚之間。此痘已發越在表。若裡症果急。宜微通其二便。斷不可過用攻裡之劑也。若妄下之。必致裡虛而變內陷矣。慎之慎之。要之近日屬實之症不多。若妄用之。則大誤矣。且痘瘡最喜裡氣完實。自必能食。雖兼他症。以末治之可也。</p>
<h3>裡寒見證主治之法</h3>
<p>裡寒之狀。大小便利。面青目白。或因臟腑素虛。或因誤服涼藥。而見瘡白神倦。吐瀉嘔惡。氣促肢冷。或腹脹腹痛。以致痘出不快。或已出而陷伏倒靨者。宜六氣煎。九味異功煎。</p>
<p>十二味異功散之類主之。若已見齊。或行漿之際。為涼藥所誤。以致吐瀉寒戰切牙者。</p>
<p>木香散。十二味異功散之類主之。然此二方。溫則有餘。補則不足。不若用九味異功煎為最妙。若因誤食生冷。而致腹脹腹痛。或吐瀉者。理中湯。加肉桂木香。或四君子。加乾薑木香之類主之。若胃氣虛寒。腹痛喜按者。黃　建中湯主之。若脾腎虛寒。小腹作痛。瀉利不止者。胃關煎主之。大抵裡寒之症。必由誤服寒涼攻伐之劑所致。奈何近日幼科。胸中毫無的確明見。粗淺浮躁。肆用寒涼。致令小兒陽氣受傷。裡虛變逆。死者多矣。深堪哀憫。有人心者。其亦知所以自省矣。</p>
<h3>裡熱見證主治之法</h3>
<p>裡熱之狀。煩躁狂言。口乾大渴。內熱自汗。小便赤澀。大便秘結。脈見沉數有力。宜退火丹。四順清涼飲之類主之。若衄血。元參地黃湯。加陳墨汁主之。溺血。大釐清飲主之。若已出未出之際。衄血或溺血者。並宜犀角地黃湯主之。血止後。即宜用調元湯主之。或少加木通。若初見發熱。便覺大渴。</p>
<p>唇焦舌燥者。宜葛根解毒湯主之。若火迫庚金而協熱作瀉者。必其脈見洪數。身有大熱。口有大渴。喜冷惡熱。煩躁多汗。中滿氣粗。痘色　腫紅紫。口鼻熱赤。小水澀痛。稟賦素實者。宜黃芩湯主之。然此症不多。斷不可以此湯誤治虛寒泄瀉也。慎之慎之。又或已未見點之時。咽腫喉痛者。甘桔湯。加牛蒡主之。若已見齊。起脹灌漿之時。而見喉痛者。此因喉內有痘作痛。收靨時自愈。不必治之。若痘已出齊。而脾肺有熱。作渴喜冷者。宜人參麥門冬散主之。若痘出而夾　夾疹。煩躁大渴。妄言妄見。雙解散主之。以上皆當與各條參看。果屬裡熱。始無貽誤。倘稍涉疑似。則害人不淺矣。慎之慎之。</p>
<h3>順逆</h3>
<p>身無大熱。痘腳稀疏。根窠紅綻。不瀉不渴。乳食不減。四肢溫和。聲音清亮。精神如常。脈象和緩。此屬順症。不須服藥自愈。至若逆症。咳嗽聲啞。飲食挫喉。一惡也。腹脹氣促。</p>
<p>悶亂不寧。二惡也。渴瀉不止。切牙寒戰。三惡也。瘡嫩易破。癢　不止。四惡也。紫黑灰色。頂陷喘渴。五惡也。若按上法急為救療。十中尚可全活八九。慎勿以其惡。</p>
<p>遂棄而不治也。此外尚有輕變為重。所犯者七。一不忌口味生冷滑膩。致令脾胃受傷。二先曾泄瀉。裡虛不能托毒外出。三過服表藥。或不避風寒。致損表氣。四餌涼藥。及妄用攻裡之劑。致令裡氣虛寒。毒瓦斯不能發出。五穢氣所觸。詳見種痘說內。蓋血氣聞香則順聞臭則逆。</p>
<p>順則易出易靨。逆則難愈。六生人輒至。及僧尼孝服。七犯房屋。又重變為輕。返凶為吉。所慎者五。一謹避風寒。二身常和暖。寒則添衣。熱則減去。務得中和。毋令太過不及。三節飲食。大忌西瓜柿橘菱角水蜜等冷物。恐內傷胃氣。及肥肉油膩。滑腸作瀉。酸鹹作渴。</p>
<p>酒蔥蒜魚羊腥物作癢。務使脾胃充實。則痘瘡易出易靨也。四大便稠。飲食調和。不致泄瀉。</p>
<p>一日二日一次為調。日行二三次為利。宜急用甘溫補脾藥。若值灌漿之時。雖三四日不行。</p>
<p>不得誤以為秘。五按法調理。補氣血。顧脾胃。避風寒。節飲食。毋妄汗。毋妄下。斯皆可以轉重就輕。返逆為順。庶幾不致變輕為重矣。</p>
<h3>戒妄汗妄下</h3>
<p>人之一身。本乎氣血。氣為衛。血為榮。氣陽而血陰也。陽主動。所以沖暢隧道。運動樞機者也。陰主靜。所以棄溢臟腑。灌溉周身者也。然其所重。則又在乎脾胃。是故脾胃者。五臟六腑。生化之大源也。經云。人之所受氣者。穀也。穀之所注者。胃也。胃者水穀氣血之海也。至於痘瘡。則全資氣血。但得氣血充暢。則易出易收。氣血不足。則變症百出。故始出之際。賴氣血以載毒外出。繼則因氣血以起脹灌漿。終之以結靨落痂。莫非氣血為之運化。倘氣血稍虛。脾胃一損。則生機息而化源絕矣。奈何宋麟祥之痘疹正宗。誤用寒涼攻伐。致令愚盲幼科。避諸大家之煩。貪痘疹正宗歸宗湯一方之易。遂至一時翕然用之。不分虛實寒熱。妄行攻下。以致陰陽脾胃之氣俱傷。變症因之蜂起。因而死者多矣。蓋妄汗傷陽。則凡起發灌漿收靨之力。皆失所賴。勢必變為　爛音啞。皮薄癢　。外剝而死。故前人於痘瘡見點之後。便禁用升麻葛根湯。恐發得表虛也。妄下傷陰。則凡臟腑化源。精神鎖鑰。飲食倉廩。皆為所敗。是必變為陷伏。不起發。不灌漿。灰白倒靨。手足逆冷。吐利不食。寒戰咬牙。腹痛虛脹。內攻而死。故前人禁用大黃石膏枳殼生地鼠黏紫草芩連梔子之屬。恐攻得裡虛也。故錢氏曰。瘡疹惟用溫平藥治之。不可妄下及妄攻伐。良有以也。陳氏云。痘以太陰脾肺二經為主。肺宜溫而脾宜燥。萬氏云。痘瘡始終以脾胃為主。胃嘗養而脾當補。馬氏云。痘以少陰心經為主。火不可太清。血不可太涼。三說皆是也。蓋脾為孤臟。能灌四旁。則四臟皆賴一臟以養之。況脾屬土而主肌肉。若能化水穀。成津液。灌溉諸經。令肌肉不枯。氣血得其助。痘何難成。但寒土不能生物。必有陽氣熏蒸於下。而後能成發育也。如草木之根在土。而冬月何以不生。以真陽之氣息也。可見脾受水穀。化生津液。必藉火氣。始能成腐化之功。所謂火能生土。火乃土之母也。心為君火。能役相火。主乎血脈。若心火不息。血不寒凝。自能與脾之津液相為流通。痘自紅潤而鮮艷。所謂血主濡之。氣主之。氣無血不走。血無氣不行。氣乃血之帥也。氣行血亦行。肺統一身之氣。主乎皮毛。若肺氣充盈。自能與心之血脈相為周運。痘自尖圓而肥潤。是血氣充資足。交會於前。脾生津液。</p>
<p>助養於後。痘之成功。三臟缺一不可。若肝臟則無與焉。至於腎臟。如攻伐太過。或經泄瀉。腎氣損傷。則痘瘡變黑。歸腎而死矣。薛氏曰。凡痘瘡在四五日之間死者。毒瓦斯盛真氣虛而不能起發也。六七日之間死者。元氣虛而不能灌膿也。旬日之外死者。邪氣去。脾胃敗。而元氣內脫也。治者但能決其死。而不知其死必本於氣血虧損。苟能逆推其因。而豫為調補。豈斷無生理哉。蓋起發灌膿結痂。三者皆由脾胃榮養。不可妄投表下攻伐之劑。庶不誤人於夭札也。業幼科者。可不戒哉。請更言之。試問痘疹正宗。專以歸宗湯一方。肆用寒涼攻伐。欲以應無窮之痘。有是理乎。不待明智之士。自能覺其非矣。何幼科昧心喪良。故蹈其轍也。有力仁人。若能火其書毀其板。使邪說息而正道行。則於嬰兒造福不淺矣。</p>
<h3>痘後</h3>
<p>痘瘡收靨落痂之後。其嬰兒氣血必虛。蓋自初熱傷陰。以至出齊起發灌漿結靨落痂。莫非氣血之所為。且或體虛痘密。遍體不留余隙。果能一一沖托成實。則是周身氣血。皆為痘用。</p>
<p>周身氣血皆為痘用。則未有不耗傷者。氣血既皆為痘耗傷。則凡於落痂之後。必宜加意培補。</p>
<p>縱有他症。皆當以末治之。務令氣血得以充足復原。不致遺後日多疾之患。譬如以人搏虎。</p>
<p>虎雖斃而人之氣力傷矣。人之氣力既傷。未有不需飲食酒肉以將息者。奈何近日俗習。不知此理。每於痘瘡。皆喜進清涼之劑。於落痂之後。亦妄用黃連梔子苦寒之屬。謬曰敗毒。致使脾胃生氣大傷。飲食減少。　羸孱弱。卒難復原。或即變生他症。仍歸夭亡。可勝浩嘆。嗟乎。痘不成漿。由氣血不能運化。痘既成漿。毒瓦斯已解。果使漿稠痂濃。則毒瓦斯全解。痂落之後。尚何余毒之可清。在稟賦壯實。血熱瘢紫者。或堪其謬。若瘢色紅淡。或雪白者。服之必死。婦人無知。庸醫謬習。沉迷痼結。禍世已深。仆思挽救。是以不惜諄復其詞。用以代鐸。以振世之聾聵云。</p>
<h3>附種痘說</h3>
<p>粵稽上古之世。民物貞淳。人心恬淡。並無所謂痘瘡一症者。迨至有唐以後。風俗澆漓。人情穿鑿。淫　嗜好。醇酒膏粱。六淫外干。七情內擾。臟腑鬱蒸。氣精滓濁。及至分形受質。兩情相感。一氣渾融。錯雜之邪。交相施瀉胚胎之始。毒即伏焉。既生之後。必待天地時行疫癘之氣。或挾外感內傷之邪。觸之斯發。乃至遁為傳染。比戶皆然。為嬰兒所必不能免。此父母遺毒之為害也如此。加以近日醫無善術。用藥乖離。遂至險逆相尋。死亡略半。</p>
<p>此庸醫之為害也又如此。嗟乎。父母愛子之心。何所不至。劬勞鞠育。惟疾之憂。一旦為庸醫所誤。呼救何從。甚且宗祀攸關。賴此一線。抑或貞嫠忘死。守此藐孤。一遇差遲。</p>
<p>銜冤更慘。真令人言之痛心。聞之墮淚者也。幸至有宋。有神人出。而立種痘一法。乘兒無病之時而種之。其種出之痘。少者不過數粒。多者不過數十粒而已。且不需服藥。誠挽回造化。避危就安。萬舉萬全之良法也。</p>
<p>本朝高宗純皇帝。仁被萬方。德逾千古。憫茲良法方書未載。恐日久湮沒失傳。特於御宗金鑒書內。編輯種痘心法要旨。仰見仁慈。恩深保赤者矣。第邇來能種之子。皆有力之家。單寒之兒。猶然自出。豈不大負國家及在昔神人之初念乎。原其所以。屈於力有所不能耳。今喜博愛堂諸君子。發心擇請種師。並資助衣食。廣為貧家兒女種痘。洵慈幼之盛舉也。予甚樂焉。用是特綴數語。並冀廣為勸導。使人人皆能效法諸君子。於以修福而廣皇仁。端在是矣。功德豈有量哉。</p>
<p>一種痘原所以去險履平。避危就安而設。務宜用種出之痘。所落之痂作苗。其氣純正。無天行時毒外感內傷之邪。夾雜於中。種出自然稀疏順吉。應時成功。決無愆忒。若夫時痂。則斷不可用。至於種法。宜以水苗為上。</p>
<p>一下苗之後。調攝禁忌。不可不慎。自始至終。不可稍忽。如避寒熱。慎飲食是也。假氣嚴寒。蓋覆宜溫暖。勿使受寒。恐被寒氣所觸。則痘不得出。亦不可過於重棉疊褥。火器熏靠衣被。致熱氣壅滯。使痘不得宣發。天氣和暖。蓋覆宜適中。恐客熱與毒相並。致增煩熱。亦不可輕易著單露體。致風寒外侵。阻遏生發之氣。此寒熱所以貴得其平也。臥處常要無風。夜靜不斷燈火。不離親人看守。一切食飲。宜豫為現成。以備不時之需。如時有迅雷烈風之變。宜謹帷帳。添蓋覆。多燒辟穢香。以辟一時不正之氣。至於飲食。人之氣血。藉以生化。痘之始終。全賴乎此。若飲食虧少。氣血何所資助乎。但不可過甚。若過飲。則飲停不化津液。過食。則食滯壅遏氣機。大凡吮乳之兒。不多乳。不闕乳。能食之兒。勿餐生冷黏硬。勿啖辛熱炙爆。勿恣意茶水。勿飲涼漿。食不過飽。亦不令飢。此飲食所以貴得其平也。寒熱飲食而外。則凡舉止動作。既不可任意驕縱。亦不可過於拂逆。惟在調攝之人。</p>
<p>耐其性情。兢兢業業。善為保護。不但慎於既種之後。且當慎於未種之先。不但慎於見苗之初。猶當慎於落痂之後。種師宜諄諄告誡。務期詳細。使彼知關系匪輕。心存謹慎。如法調攝。可保萬全。至於禁忌。亦最緊要。凡種痘之家。房中最要潔淨。切忌沖犯。宜明亮。</p>
<p>不宜幽暗。勿詈罵呼怒。勿言語驚慌。勿對梳頭。勿對搔癢。勿嗜酒。勿歌唱。凡房中淫氣。婦人經候氣。腋下狐臭氣。行遠勞汗氣。誤燒頭發氣。誤燒魚骨氣。吹滅燈燭氣。硫黃蚊煙柴煙氣。煎炒炙爆氣。蔥蒜醉酒氣。溝渠污濁氣。霉爛蒸濕氣。溷圊廁桶氣。病患穢惡氣。新喪　穢氣。以上務宜謹慎遵守。毋稍懈忽。倘自不經心。致令觸犯。咎難他諉也。仍宜謹伺房門。勿令生人及僧尼孝服人輒入。宜將此刷印。人給一張。俾各自慎。</p>
<h3>辟穢香方</h3>
<p>蒼朮　大黃（減半）</p>
<p>上二味共為細末。紅棗煮湯。連肉和成條晒乾。宜豫制給人。一凡房屋寬深者。自宜聽其在家。</p>
<p>謹慎將護。倘室廬狹隘。或不足以蔽風雨者。果能籌屋以備暫居。則更妙矣。並且隨時酌借帳被。</p>
<p>─每一小兒。宜給紅興布扎頭一條。紅稀布小褂一件。取其新潔而又和軟也。若極貧之兒。於冬令嚴寒之時。則當改給絮襖矣。此宜隨時斟酌。</p>
<p>在於發熱之時與之。以杜冒濫。既見點後。給燈油魚饅錢。三百六十文。倘不守禁忌。</p>
<p>將護失宜。致生他症。設有不測者。亦宜量給小費。此雖萬中之一。然不得不豫為之籌也。</p>
<p>─一歲之內。四時宜否。要在活人。非富貴之家。自種可比。但於五六七月間。借以深邃房屋。少少種之。以為接苗之計。其余各月。不妨隨到隨種。多多益善也。下苗日期。宜避破閉。及四立二分二至之前一日。並年命刑沖破害。及歲煞災煞劫煞。天克地沖比沖之日。</p>
<p>─凡驗看小兒。以耳後筋紋為主。紅而紋少者為上。紋多而色不紫赤者次之。若紋多而色兼青紫。此雖不可與種。然聽其自出。則更難矣。宜贈以稀痘藥。數服後。令其再詣師驗看。</p>
<p>若轉為紅色。則又宜亟為之種矣。此外如病後。或現有病。或未及周歲。皆當緩種。必俟其氣血和平。始與之種。除此以往。無不可種之兒也。稀痘藥方附後。</p>
<p>消毒救苦湯羌活　防風　連翹　生地　酒黃柏升麻　麻黃根（各五分）　川芎　本　柴胡葛根　生黃芩　酒黃芩　蒼朮（各二分）　細辛生甘草　白朮　陳皮　紅花　蘇木（各一分）</p>
<p>當歸身　黃連（各三分）　吳茱萸（半分）</p>
<p>共為粗末。周歲之兒。每用三錢。兩三歲者用五錢。於四立前一日。東流水煎。調制朱砂服。</p>
<p>制朱砂法　用當歸　川芎　升麻　甘草（各六兩）</p>
<p>東流水六大碗。新砂鍋。桑柴文火煎減半。傾出。濾去渣。用好朱砂四兩。絹包線扎。</p>
<p>懸胎離砂鍋底寸許。掛定。將前所濾之湯。陸續入於鍋內。桑柴火緩煮。俟湯將干。取起研極細末。一歲一分。</p>
<p>下苗後。必以七日。五臟傳遍而後發熱為則。然亦有六日而即熱者。亦有九日十一日而始熱者。此其常也。若發熱於五日以前。此際苗氣尚未傳遍。熱何由作。必因將護不慎。致犯外感內傷。或已染時行之氣。而欲出天花也。與種痘無涉。種師宜豫申明其說焉。若逾十一日不熱。宜更為補種。</p>
<p>附方柴葛桂枝湯　主表散痘熱。</p>
<p>柴胡　干葛　桂枝　防風白芍　甘草　人參水一盞。加生薑三片。煎七分溫服。表虛加黃　。</p>
<p>溫中益氣湯　氣血雙補。疏通隧道。並達四肢。</p>
<p>人參　白朮（炒各五分）　生黃　（八分）　歸身白茯苓（各六分）　甘草（炙）　川芎（各四分）　白芷防風（各四分）　木香　官桂（去粗皮各二分）　山楂肉（六分）</p>
<p>生薑一片。棗一枚去核。水一大鐘。煎四分溫服。</p>
<p>參　內托散　痘虛發癢。或不化膿。或為倒靨。</p>
<p>人參　黃　（蜜炙）　當歸　川芎厚朴（薑製）　防風　桔梗（炒）　白芷紫草　官桂（去粗）皮　木香　甘草（各等分）</p>
<p>糯米一撮。水煎。色淡白者。去防風紫草白芷。宜多加糯米。一方有芍藥。</p>
<p>十宣散　調氣補血。內托瘡毒。五日後必用之方也。亦治癰疽。</p>
<p>人參　黃　當歸（各二錢）　川芎防風　桔梗　白芷　炙草厚朴（各一錢）　桂心（三分）</p>
<p>上為細末。每服一錢。或二錢。木香湯調下。</p>
<p>實表解毒湯人參　黃　當歸　生地甘草　白芍　柴胡　升麻片芩（酒炒）　元參　地骨皮上入薄荷葉少許。淡竹葉十片。水煎。</p>
<p>保元湯　治痘瘡氣虛　陷者。</p>
<p>人參（二三錢）　甘草（炙一錢）　肉桂（五七分）　黃　（二三錢灌膿時酒炒回漿水一鐘半。加糯米一撮。煎服。此藥煎熟。加人乳好酒各半盞。和服更妙。</p>
<p>酌宜用之。頭額不起。加川芎（三五分）。面上。加升麻（三四分）。胸腹。加桔梗（三四分）。</p>
<p>腰膝。加牛膝（四分）。四肢不起。加桂枝（二三分）。嘔惡。加丁香（三四分）。元氣虛寒。加大附子（制七八分。或一錢）。</p>
<p>養衛化毒湯人參　黃　（炙）　桂枝　甘草　當歸上水煎服。</p>
<p>人參敗毒散　治時疫　疹。</p>
<p>人參　茯苓　枳殼　甘草　川芎　羌活　獨活　前胡　柴胡　桔梗（各等分）</p>
<p>水一鐘半。薑三片。煎服。</p>
<p>升麻葛根湯　解發痘毒。</p>
<p>升麻　葛根　白芍　甘草各等分水一鐘。煎七分溫服。</p>
<p>搜毒煎　解痘疹熱毒熾盛。紫黑干枯。煩熱便結。純陽等症。</p>
<p>紫草　地骨皮　牛蒡子（研）　黃芩　木通　連翹　蟬蛻　芍藥（各等分）</p>
<p>水一鐘半。煎服。表熱者加柴胡。</p>
<p>四味消毒飲　治痘瘡熱盛。毒瓦斯壅遏。無問前後皆可服。</p>
<p>人參　甘草（炙）　黃連　牛蒡子（各等分）</p>
<p>上為粗末。每服一錢。加薑一片。水一盞。煎四分去滓。溫服不拘時。</p>
<p>鼠黏子湯　治痘稠身熱毒盛。服此以防青干黑陷。並治　疹稠密。</p>
<p>牛蒡子（炒研）　歸身　黃　甘草（炙）　柴胡　黃芩（酒炒）　連翹　地骨皮水煎服。熱退則止。</p>
<p>芎歸湯　養營起痘。</p>
<p>當歸　川芎（減半）</p>
<p>上為細末。每服一錢。紅花湯調服。</p>
<p>六物煎　治痘疹血氣不充。隨症加減用之。神效不可盡述。</p>
<p>甘草（炙）　當歸　熟地（或用生地）　川芎（三四分不宜多）　白芍（俱隨宜加減）　人參（或有或無隨虛實用之氣不虛者不必用）</p>
<p>水煎服。如發熱不解。或痘未出之先。宜加柴胡以疏表。或加防風佐之。如見點後。痘不起發。或起而不灌。或灌而漿薄。均宜單用此湯。或加糯米人乳好酒肉桂。以助營氣。如氣虛癢　不起。加川山甲炒用。如紅紫血熱不起。宜加紫草。或犀角。如脾氣稍滯。宜加陳皮山楂。如胃氣虛寒多嘔者。加乾薑炒用。或加丁香。如腹痛兼滯者。加木香陳皮。表虛氣陷不起。或多汗者。加黃　。氣血俱虛。未起未灌而先癢者。加肉桂白芷。如元氣大虛。</p>
<p>寒戰切牙。泄瀉。宜去芍藥。加黃　。大附子乾薑肉桂。</p>
<p>羌活散郁湯　治實熱壅盛郁遏。不得達表。氣粗喘滿。腹脹煩躁狂言譫語。睡臥不寧。大小便秘。毛豎面浮。眼張若怒。</p>
<p>並有神效。並為風寒外搏。出不快者同治。</p>
<p>防風　羌活　白芷　荊芥　桔梗　地骨皮　川芎　連翹　甘草　紫草　大腹皮　鼠黏子上為粗末。水一鐘。燈心十四根。煎六分溫服。</p>
<p>涼血養營煎　治痘瘡血虛血熱。地紅熱渴。或色燥不起。及便結溺赤。凡陽盛陰虛等症。悉宜用此。</p>
<p>生地　當歸　白芍　生甘草　地骨皮　紫草　黃芩　紅花水一鐘半。煎服。量兒大小加減用之。渴加天花粉。肌熱無汗。加柴胡。熱毒盛者。加牛蒡子木通連翹之屬。血熱毒不透者。加犀角。</p>
<p>犀角散　治痘瘡癰毒時毒。熱盛煩躁多渴。小便赤澀。或赤　。</p>
<p>犀角（鎊）　甘草（炙各五分）　防風　黃芩（各一錢）</p>
<p>上為粗末。每服二錢。水一小盞。煎五分。溫服無時。</p>
<p>紫草快　湯　治痘疹血氣不足。或血熱不能起發灌膿。色不紅活。</p>
<p>紫草　人參　白朮（炒）　當歸　川芎　白芍　茯苓　甘草　木通（等分）</p>
<p>上加糯米。每服三五錢。水煎。</p>
<p>參薑飲　治脾肺胃氣虛寒。嘔吐咳嗽氣短。小兒吐乳等症。</p>
<p>人參　（三五錢或倍之）　甘草（炙三五分）　乾薑（炮五分或一二錢或用煨生薑三五水一鐘半。煎七八分。徐徐服之。</p>
<p>當歸丸　治便堅三五日不通。裡氣實而稟賦強者。</p>
<p>當歸（五錢）　紫草（三錢）　黃連（一錢五分炒）　甘草（炙一錢）　大黃（二錢上以當歸紫草熬成膏。下三味研為細末。以膏和為丸。如胡椒大。三歲以下兒服十丸。</p>
<p>七八歲兒。二十丸。食前清米飲下。漸加之以和為度。</p>
<p>退火丹　治痘中狂妄神方。</p>
<p>滑石　朱砂（飛各一錢）　冰片（三厘）</p>
<p>共為細末。冷水調一分服。得睡少時。神安氣寧。痘轉紅活矣。</p>
<p>九味異功煎　治痘瘡寒戰切牙。倒陷嘔吐。泄瀉腹痛。虛寒等症。用代陣氏十二味異功散等方。</p>
<p>人參（二三錢）　黃　（炙一二錢）　附子（制一二錢）　熟地（二三錢）　甘草（炙七分或一錢）</p>
<p>當歸（二三錢）　肉桂（一錢）　乾薑（炮一二錢）　丁香（三五分或一錢）</p>
<p>上量兒大小加減用。水一鐘半。煎七分。徐徐與服。泄瀉腹痛。可再加肉豆蔻（面炒一錢）　或白朮（一二錢）。</p>
<p>十二味異功散　治元氣虛寒。痘瘡色白。寒戰切牙。泄瀉喘嗽等症。</p>
<p>人參　丁香　木香　肉豆蔻　陳皮　厚朴（各二錢五分）　白朮（炒）　茯苓官桂（去粗皮各二錢）　當歸（三錢五分）　半夏（制）　附子（制各一錢五分）</p>
<p>上為粗末。每服二三錢。薑棗水煎。去渣服。</p>
<p>木香散　治痘瘡虛寒多滯者。</p>
<p>木香　丁香　大腹皮　人參桂心　甘草（炙）　半夏（制）　訶黎勒赤茯苓　青皮　前胡（各等分）</p>
<p>上為粗末。每服二三錢。薑水煎。去渣服。薛立齋先生曰。前方治痘瘡已出未愈之間。</p>
<p>其瘡不光澤。不起發。不紅活。五七日內。泄瀉作渴。或肚腹作脹。氣促作喘。或身雖熱而腹脹。足指冷。或驚悸。或汗出。或寒戰切牙。或欲靨不靨。瘡不結痂。或靨後腹脹。</p>
<p>泄瀉作渴。此皆脾胃虛寒。津液衰少。急用此藥治之。若誤認為實熱。用寒涼之劑。及飲蜜水生冷瓜果之類。必不救。張景岳先生云。以上二方。溫性有餘。補性不足。用治寒症則可用治虛症則不及也。</p>
<p>黃　建中湯　治諸虛羸瘠百病。</p>
<p>甘草（炙）　桂枝　生薑（等分）　白芍（倍用）</p>
<p>大棗　膠飴（即麥芽糖）　黃　（炙）</p>
<p>上水煎減半去渣。入膠飴。更上微火消解。溫服。</p>
<p>元參地黃湯　治痘疹衄血。</p>
<p>元參　生地黃　丹皮　梔子仁甘草　升麻（各五分）　白芍（一錢）　蒲黃（炒五分）</p>
<p>水一鐘。煎七分溫服。本方宜減去升麻。惡其上升也。加陳墨汁和服。黑色象水。能制火也。</p>
<p>大釐清飲　治積熱閉結。小水不利。或溺血蓄血。腹痛淋閉等症。</p>
<p>茯苓　澤瀉　木通　豬苓　梔子　枳殼　車前子水一鐘半。煎八分。食遠溫服。如內熱甚者。加黃芩黃柏龍膽草之屬。如大便堅硬脹滿者。加大黃。</p>
<p>調元湯人參　黃　（炙）　甘草（炙）</p>
<p>上水煎服。按此即保元湯無肉桂者。名為調元湯。即東垣先生之黃　湯也。東垣用為小兒治驚之劑。魏桂嚴用以治痘多效。因美之。名調元湯也。蓋小兒元氣未充。最易傷殘。用此保全。誠幼科王道之妙方。但能因此擴充。則凡氣分血分。虛寒虛陷等症。皆可隨症增減。無不可奏神效也。</p>
<p>葛根解毒湯　治痘毒止渴良方。</p>
<p>葛根　升麻（減半）　生地　麥冬　天花粉（等分）　甘草（減半）</p>
<p>上取糯米泔水一盞。煎七分。入茅根自然汁一杯服之。</p>
<p>黃芩湯　治太陽與少陽合病自下發汗。</p>
<p>黃芩　甘草（炙）　白芍　大棗上水煎溫服。若嘔者加半夏生薑。按此方系治泄瀉。第此症不多。不可以此方誤治虛寒泄瀉也。宜詳前熱論。</p>
<p>甘桔湯　治一切風熱上壅。咽喉腫痛。</p>
<p>甘草（二錢）　桔梗（一錢）</p>
<p>水煎。食後服。喉中有痘。初見點時痛甚者。加牛蒡子。</p>
<p>人參麥門冬散　治痘瘡微渴。</p>
<p>麥門冬（一錢）　人參　甘草（炙）　白朮（炒）　陳皮　厚朴（薑製各五分）</p>
<p>水煎溫服。量兒增減。薛氏曰。此方治痘瘡熱毒。氣虛宜用之。若因氣虛作渴。宜人參白朮散。</p>
<p>雙解散　治痘疹表裡俱實者。</p>
<p>防風　川芎　當歸　連翹　白芍　薄荷　大黃（各五分）　石膏　桔梗　黃芩（各八分）</p>
<p>荊芥穗　白朮（炒）　桂枝（各二分）　滑石（二錢四分）　甘草（二錢）</p>
<p>水二鐘。加生薑三片。煎一鐘。溫服無時。</p>
<p>六氣煎（方見辨驚風之誤論）</p>
<p>十全大補湯（方見辨驚風之誤論）</p>
<p>柴歸飲（方見辨驚風之誤論）</p>
<p>四物湯（方見虛論）</p>
<p>六味地黃湯（即地黃丸作煎劑方見熱論）</p>
<p>六君子湯（方見寒論）</p>
<p>五君子湯（方見寒論）</p>
<p>理中湯（方見寒論）</p>
<p>五味異功散（方見熱論）</p>
<p>四君子湯（方見熱論）</p>
<p>人參理中湯（即理中湯人參分量加重用方見寒論）</p>
<p>四順清涼飲（方見裡論）</p>
<p>柴胡飲子（方見實論）</p>
<p>辰砂六一散（方見辨驚風之誤論）</p>
<p>導赤散（方見實論）</p>
<p>胃關煎（方見寒論）</p>
<p>犀角地黃湯（方見辨驚風之誤論）</p>
<h2>治疹論第十二</h2>
<p>疹。天行時毒之氣也。亦稟受胎毒之氣也。出於痘前者。名奶疹子。出於痘後者。名正疹子。要亦生人必不能免之數也。初發熱時。咳嗽噴嚏。鼻流清涕。面浮腮赤。兩目胞腫。眼淚汪汪。有如醉狀。或嘔惡。或泄利。或手掏眉目鼻面。是即出疹之候也。然必發熱五七日。或多至十一二日。始見疹子者。宜徐徐升托表邪。俾疹毒出盡。則兒無事矣。切忌妄汗妄下。若妄汗。則增其熱。為鼻衄。為咳血。為口瘡咽痛。為目赤痛。為煩躁。為大小便不通。妄下。則虛其裡。為滑泄。為下痢赤白。為隱伏。為喘逆。多至不救。慎之慎之。主治之法。輕者。宜升麻葛根湯。透邪煎。柴歸飲之類主之。重者。宜金沸草散主之。兼泄利者。合升麻葛根湯。去葛根。加白芷主之。若發熱至六七日。明是疹子。卻不見出。此皮膚堅濃。腠理閉密。又或為風寒外襲。或會有吐利。乃伏也。宜急用麻黃湯。調檉葉散發之。外用胡荽酒。麻蘸戛之。如一向未更衣者。此毒甚於裡也。以七物升麻丸解之。若咳嗽不止。</p>
<p>上氣喘急。面浮目胞腫者。宜甘桔湯。消毒散。瀉白散。三方合用。若更兼熱盛煩渴。加石膏知母黃芩天花粉之類主之。若自汗出。或鼻衄者。不須止之。但不可太過。如汗太多。人參白虎湯。或黃連湯之類主之。若衄太多。元參地黃湯。或茅花湯之類主之。若吐甚者。黃芩湯。加茅根蘆根枇杷葉主之。若利甚者。黃芩湯吞香連丸主之。若咽候腫痛者。甘桔湯。加元參牛蒡連翹。或射干鼠黏子湯之類主之。既見疹後。色貴通紅。必以三日周身普遍而漸沒者為輕。若色淡白者。此心血不足也。養血化　湯主之。若色太殷紅。或微紫者。此血分有熱也。大青湯主之。疹收之後。清涕復來。始為正候。若疹既收後。身有微熱。不須施治。若身熱太甚。或日久不減者。柴胡麥門冬散主之。若發枯毛豎。肉消骨立。漸見羸瘦者。柴胡四物湯主之。若疹後發熱不除。忽作搐者。導赤散加人參麥門冬。兼安神丸主之。若疹後咳嗽者。瀉白散。合消毒散主之。若咳甚氣喘。甚至飲食湯水俱嗆出者。門冬清肺湯。加枇杷葉。</p>
<p>見血。加茅根汁。阿膠珠主之。若疹後下痢赤白。裡急後重。日夜無度者。黃芩湯。兼香連丸主之。虛者。加人參。滑者。加椿根白皮。俱於丸藥內加之。大抵疹屬陽邪。用藥最宜養陰。然亦有屬虛寒者。但當合色脈形證以治之。始無貽誤。若果熱甚氣粗。渴而飲冷。便秘溺澀。脈象洪數有力。悉宜按上法治之。若神氣怠惰。渴而飲湯。二便調和。脈象虛數。即宜用歸芍養陰。略加表托之品矧瀉痢氣喘。尤多虛症乎。斷不可泥為疹毒。而不敢用補劑也。慎之慎之。</p>
<p>附方透邪煎　凡麻疹初熱未出之時。惟恐誤藥。故云未出之先。不宜用藥。然解利得宜。則毒必易散。而勢自輕減。欲求妥當。當先用此方為主。</p>
<p>當歸（二三錢）　白芍（酒炒一二錢）　防風（七八分）　荊芥（一錢）　甘草（炙七分）　升麻（三分）</p>
<p>水一鐘半。煎服。如熱甚脈洪滑者。加柴胡一錢。此外凡有雜症。俱可隨宜加減。</p>
<p>加味金沸草散旋覆花（去梗）　麻黃（去節水煮去沫晒乾）　前胡（去蘆各七錢）　荊芥穗（一兩）</p>
<p>半夏（湯泡七次蘆汁拌炒）　赤芍（各五錢）　鼠黏子（炒）　浮萍（各七錢）</p>
<p>上為末。每服三錢。生薑二片。薄荷葉三五片。煎。</p>
<p>麻黃湯麻黃（去根節水煮去沫晒乾）　升麻　牛蒡子（炒）</p>
<p>蟬蛻（洗淨去翅足）　甘草（各一錢）</p>
<p>上加臘茶葉一錢。為細末。每服二三錢。水一盞。煎七分。去渣服。煩渴加石膏末四錢檉葉散檉。亦名西河柳。亦名垂絲柳。青茂時。采葉晒乾。為末。每服一二錢。茅根煎湯調下。</p>
<p>胡荽酒　辟穢氣。使痘疹出快。</p>
<p>胡荽（一把）　好酒（二盞）</p>
<p>上煎一兩沸。令乳母每含一兩口。噴兒遍身。或噴頭面。房中須燒胡荽香。以辟除穢氣。能使痘疹出快。煎過胡荽懸房門上。更妙。按此酒惟未出之前。及初報之時宜用之。若起脹之後。則宜避酒氣。亦忌發散。皆不可用也。</p>
<p>七物升麻丸升麻　犀角　黃芩　朴硝　梔子仁　大黃各二兩　淡豉（二升微炒）</p>
<p>上共為末。蜜丸如黍米大。凡覺四肢大熱。大便秘者。少服十余粒。取微利為止。</p>
<p>消毒散　治痘瘡六七日間。身壯熱。不大便。其脈緊盛者。用此藥微利之。</p>
<p>荊芥穗　甘草（炙各一兩）　牛蒡子（四兩並炒）</p>
<p>上共為粗散。每用二三錢。水一盞。煎七分服。</p>
<p>人參白虎湯人參　甘草（各一錢）　知母（三錢）　石膏（五錢）　粳米（一合）</p>
<p>上量兒大小。水煎。待米熟。去渣溫服。</p>
<p>黃連湯黃連　麥冬（去心）　當歸　黃柏　黃芩　生地　黃上分量隨宜。水煎去渣。調敗蒲扇灰服之。</p>
<p>茅花湯茅花　真鬱金　生地黃　梔子仁　黃芩上水煎。調百草霜服。</p>
<p>香連丸　治熱瀉痢疾。赤白膿血。濕熱侵脾。裡急後重。</p>
<p>黃連（淨十兩切如豆大）　吳茱萸（淨五兩）</p>
<p>上二味。用熱水拌和一處。入瓷罐內。置熱湯中。頓一日。取起同炒。至黃連紫黃色為度。</p>
<p>去茱萸不用。每制淨黃連一兩。加木香二錢五分。共為細末。醋糊丸。桐子大。每服一二十粒。量大小增減。空心米飲下。</p>
<p>射干鼠黏子湯　治痘疹後癰疽瘡毒。</p>
<p>鼠黏子（二錢）　升麻　甘草　射干（各五分）</p>
<p>上銼散。水一盞。煎六分。量大小服。忌魚腥蔥蒜。</p>
<p>養血化　湯當歸　生地黃　紅花　蟬蛻　人參（各等分）</p>
<p>上銼細。水一盞。生薑一片。煎六分去渣。溫服無時。</p>
<p>大青湯大青　元參　生地黃　石膏　知母　木通　甘草　地骨皮　荊芥穗（各等分）</p>
<p>上銼細。水一盞。淡竹葉十二片。煎七分去渣。量大小溫服。</p>
<p>柴胡麥門冬散柴胡（五分）　龍膽草（三分）　麥門冬（八分）　甘草（二分）　人參　元參（各五分）</p>
<p>上銼細。水煎服柴胡四物湯柴胡　人參　當歸身　黃芩　川芎　生地黃　白芍　地骨皮　知母　麥門冬　淡竹葉上銼細。水一盞。煎七分去渣。量大小溫服。</p>
<p>安神丸黃連　當歸身　麥門冬　白茯神　甘草（各五錢）　朱砂（一兩）　龍腦（二分半）</p>
<p>上為極細末。湯浸蒸餅。和　豬心血搗勻。丸和黍米大。每服十丸。燈心湯下。</p>
<p>門冬清肺湯天門冬（去心）　麥門冬（去心）　知母　貝母　桔梗　款冬花　甘草　牛蒡子杏仁（去皮尖研）　馬兜鈴　桑白皮　地骨皮（各等分）。</p>
<p>上銼細。水一盞。煎七分去渣。量大小食後溫服。</p>
<p>升麻葛根湯（方見痘論）</p>
<p>柴歸飲（方見辨驚風之誤論）</p>
<p>甘桔湯（方見痘論）</p>
<p>瀉白散（方見熱論）</p>
<p>元參地黃湯（方見痘論）</p>
<p>黃芩湯（方見痘論）</p>
<p>導赤散（方見實論）</p>
