<header><h1>產後十八論</h1></header>
<dl class="元資料" data-type="book" hidden></dl>
<h2>序</h2>
<p>余素不知醫，且不信醫。每見世之庸醫，偏執淺見，任意妄治，悖理誤人者，指不勝屈。</p>
<p>故自謂：嗜欲飲食稍為慎節，便可寡病。持此意幾三十年。歲丁酉，子媳孕，余望孫甚切，而媳素弱多疾，臨產愈甚，舉家惶惶，莫知所為。延醫十數，聚論紛然，無濟干事，真呼吸死生也。適妹丈施君以《產後十八論》見與云：得之世醫，為效甚奇。余心疑之。既而無計可施，乃按症投藥，一服而子母保安，其應如響。余猶謂適然。爾後，值家人婦三、四輩，皆產後危症，按論而治，不爽毫厘。真若以手之去物，而余始稍信焉。尚不敢播之於人，族黨親友間，以此方治之者，無不神驗。歷年以來，百投百效，交口相傳，溢於四方，然後知治之自有真焉。</p>
<p>藥當通神誠哉言矣！於是有公世之志，而愿不知醫者，勿吾向日之所疑疑之焉。</p>
<p><u>雍正己酉三月朔　溪覺河圖道先氏漫書</u></p>
<h2>產後十八論神奇驗方</h2>
<p>紅花（二兩）　官桂（一兩五錢，如婦人年三十以外加五錢）　熟地（一兩）　當歸（一兩）</p>
<p>雄黑豆（一兩）　莪朮（一兩，面煨）　赤芍（一兩）　蒲黃（二兩，炒）　乾薑（一兩，三十歲外加五錢）</p>
<p>上藥九味，如法炮制，共為細末，盛瓷瓶內，臨用時每服三錢。凡患產後諸症，細查《十八論》中，必其所患與所論相符，乃照所論引子，用水二鐘，煎七分，將前藥三錢沖入，攪勻，空心溫服即效。其服數不拘多少，總以病好為度，大約重者不過四、五服，輕者二、三服而已。</p>
<p><u>第一論</u></p>
<p>孕婦有患熱病六、七日，小腹疼痛欲死，指甲青色而口中出沫者，皆因臟腑熱極，以致子死腹中，不能順下耳。若服此藥即產，用滑石、榆皮各一錢，水二鐘，煎湯七分，加陳酒三分，和藥三錢，熱服之。</p>
<p><u>第二論</u></p>
<p>凡難產者，因子在母腹十個月，或有餘血凝結為塊，名曰兒枕。生時兒枕先破，敗血流入衣胞中，所以難產。急服此藥逼去敗血，自然易生。用炒黃燕子糞、滑石、榆皮各一錢，煎湯，照前入酒和藥服。</p>
<p><u>第三論</u></p>
<p>胎衣不下，敗血流入衣中所致，照前引服。</p>
<p><u>第四論</u></p>
<p>產後三、五日起坐不得，眼見黑花，及昏迷不識人者，因敗血流入五臟，奔注於肝。若誤認為暗風治之，必死，惟此藥能救。用陳酒一盅，將生鐵燒紅，浸俟冷取出，再燒紅浸之，如是三次。用榆根皮炭、元胡索各一錢，共此酒煎湯七分，入童便三分，和服藥。</p>
<p><u>第五論</u></p>
<p>產後口乾心悶，多煩渴者，乃血氣未定，便吃腥酸熱物，以致余血結聚於心，故有此症。用當歸一錢，煎湯，亦入童便三分，和藥服。</p>
<p><u>第六論</u></p>
<p>產後寒熱往來，頭疼腰背痛者，皆產時偶受風邪，入於腸內，敗血不盡，上連心肺，下至肝腎，故有此症，照前引服。</p>
<p><u>第七論</u></p>
<p>產後發熱，或遍身寒冷，皆因散血攻注於四肢，停滯日久，不能還原，仍結膿血，甚至四肢俱腫。若作水腫必誤。蓋水腫則喘，小便澀滯；氣腫則四肢寒熱，須細心辨明。先服此藥，逐去散血，次服通寶立效。用官桂、紅花各一錢，煎湯，入陳酒三分，和藥服。</p>
<p><u>第八論</u></p>
<p>產後言語顛狂，眼見鬼神，乃散血攻心所致。急服此藥，用當歸一錢、酒半盅，煎服，入童便三分，和藥服。</p>
<p><u>第九論</u></p>
<p>產後失音不語，是七孔九竅多被敗血衝閉所致。用元胡索、粽皮各一錢，煎湯，入陳酒三分，和藥服。</p>
<p><u>第十論</u></p>
<p>產後腹痛兼瀉痢，或腹脹虛滿者，皆因月中誤吃生冷熱物，而余血結聚，日久漸甚，腹脹疼痛，米殼不消，或膿血不止，水氣入腸冷痛，或敗血入小腸變赤白帶。須先服此藥，逐去敗血，然後調治瀉痢。用葛根一錢，煎湯，入童便、陳酒，和藥服。</p>
<p><u>第十一論</u></p>
<p>產後百節疼痛，乃敗血入於關節之中聚結，虛脹不能還原故耳。用陳酒半盅，牛膝一錢，煎湯，入童便三分，和藥服。</p>
<p><u>第十二論</u></p>
<p>產後血崩如雞肝色，昏悶發熱者，因敗血未定，誤吃腥酸等物所致。用樟柳根、杏膠各一錢，煎湯，入陳酒三分，和藥服。</p>
<p><u>第十三論</u></p>
<p>產後昏迷驚恐，氣逆咳嗽，四肢寒熱，口乾心悶，或背膊酸腫，腹中時痛，皆因血未還原，早吃熱物、面食，致有此症，日久甚至月經不通，黃赤帶下，而小便或滑或脹。急服此藥，用引同前。</p>
<p><u>第十四論</u></p>
<p>產後胸隔氣滿，嘔逆，因敗血未淨，故心如有惡物，兼之肺氣不清，不可作傷食治。宜服此藥，用引同前。</p>
<p><u>第十五論</u></p>
<p>產後小便赤色，大便澀滯，或產戶脹腫，乃敗血流入小腸，閉卻水道所致。切勿認作淋澀，當服此散，用引同前。</p>
<p><u>第十六論</u></p>
<p>產後舌乾鼻衄，繞項生點，因敗血流入五臟，可用當歸一錢，陳酒半盅，煎湯，入童便三分，和藥服。</p>
<p><u>第十七論</u></p>
<p>產後腰痛眼澀，或渾身拘攣，牙關緊閉，或兩腳弓狀如中風者，因百日內過行房事所致。</p>
<p>用蝦蟆、麻子各一錢，煎湯，入陳酒三分，和藥服。</p>
<p><u>第十八論</u></p>
<p>產後臟腑不安，言語不得，咽喉作蟬聲，乃月中吃熱物或停宿食，而敗血攻注，喘息間有，上下往來，與牙關相緊，故有此症。用乳香一錢，煎湯，入陳酒三分，和藥服。</p>
