<header><h1>保幼新編</h1></header>
<dl class="元資料" data-type="book" hidden></dl>
<h2>序</h2>
<p>經曰：寧醫十丈夫，難醫一小兒。夫小兒也，臟腑脆嫩，氣血未定，經絡脈息軟弱如絲毫，易虛易實，乍冷乍熱，口不能言證情，手不能指病處，苟不考其方，而先為之所，則當局者迷，終不免束手待盡。其為病，　施姑舍，是自家之荐遭兒　，心常痛之。昨年秋，浮屠正訓，袖示一冊子，曰：此古皇明成斯文，逸其名號，無忌先生所撰《保幼新編》也。論症制方最為詳備，而世醫之等視文具流傳爛紙。訓恐久而漫滅，蕩瓶缽，付剞劂，幸先生之惠一言，弁諸首也。</p>
<p>余於醫學實昧昧焉，不能有以測其說之淺深，重以衰病倥傯，經歲不遑。近於舊簏中間閱其所傳本，蓋其說原於古經，附以新方，刪繁撮要，無浩　難尋之患。參運氣，化五行，察陰陽，看日時，對證輒效，如持左契。今得廣其流布，家藏而人誦之。雖非學為方者，開卷了然，及時投劑，俾赤子既殊而回蘇之，共登慈航，同躋壽域。夫儒之斥佛，以其用功於虛無寂滅而止耳。今乃於瓶水枯淡中，有此竭心力念及壽民之方，孰謂吾儒之所未能者，以浮屠氏而能之乎？余於是益痛其見之之晚，而仆仆愧而敘。</p>
<p><u>龍集乙巳七夕勿齋病夫盧光履撰</u></p>
<h2>凡例</h2>
<p>一小兒急病，臨時考方，有若當局者迷，常有不及治之患。迨其病未發，宜熟覽此一通，使心目了然於諸證，而預備緊入之材，然後庶可趁其證情之未危而治之也。</p>
<p>一小兒急病皆入重材，鄉鄙貧家，卒難覓用，終未免束手待盡，非所以濟夭之意也。今者諸方湯散丸中，擇其妙緊之劑，減其難得之材，而另加鄉產之性相近者，更為制方。雖涉僭越，而庶可為活命之一助焉。</p>
<p>一古人治病，用意不同，立方甚煩，猝當危急之證，未及精擇其當劑，雜施諸方，使標本失次，經緯錯亂，或救或不救，寧不懼哉！小兒之病，不過曰驚、熱、風、痰而已，制方雖殊，而所入之材，大同小異。故敢以管見，刪其峻毒之材，取其和平之味，合為通治之劑。而如有別訂可以兼治者，則別書加減法；若不可兼治，則別立一、二方，以為便考之地爾。</p>
<p>一湯劑分錢太過，一、二歲兒，則一帖分五、六次飲之；五、六歲兒，則分二、三次飲之，酌量用之可也。</p>
<h2>運氣流行法</h2>
<p>（干曰運，支曰氣）</p>
<p><u>化氣五行</u></p>
<p>甲己土　乙庚金　丙辛水　丁壬木　戊癸火　子午火　丑未土　寅申火　卯酉金　辰戌水　巳亥木</p>
<p><u>看日</u></p>
<p>運氣同，曰天符，得病危同困。</p>
<p>氣生運，曰順化。</p>
<p>氣克運，曰天刑。</p>
<p>運生氣，曰小逆。</p>
<p>運克氣，曰不和。</p>
<p>運臨氣，曰歲會。得病執持。（甲辰、甲戌、丙子、丁卯之年是也）</p>
<p>符會合，曰太乙。得病立死。（戊午、乙酉、己未、己丑之年是也）</p>
<p>客氣旁通</p>
<p><u>看年</u></p>
<p>子午太陽初之氣　丑未厥陰初之氣寅申少陰初之氣　卯酉太陰初之氣辰戌少陽初之氣　巳亥陽明初之氣</p>
<p><u>看節</u></p>
<p>大寒初，春分前，初之氣主之。</p>
<p>春分初，小滿前，二之氣主之。</p>
<p>小滿初，大暑前，三之氣主之。</p>
<p>大暑初，秋分前，四之氣主之。</p>
<p>秋分初，小雪前，五之氣主之。</p>
<p>小雪初，大寒前，六之氣主之。</p>
<p>計法先考年之屬某之支，某經初之氣；次考月之屬某節，某之氣主之，次考下輪圖，則知某經客氣之為某病也。</p>
<p><u>看日時</u></p>
<p><a href="_files/p03-b27a1.bmp">圖</a></p>
<p>子屬膽　胞胎□　丑屬肝　水土生起巳　寅屬肺　木生起申　卯屬大腸　金生起寅　辰屬胃　火生起亥　巳屬脾午屬心　未屬小腸　申屬膀胱　酉屬腎　戌屬心胞　亥屬三焦少陽（手：三焦，足：膽）　熱疾陽明（手：大腸，足：胃）　厲疾太陽（手：小腸，足：膀胱）　寒疾少陰（手：心，足：腎）　心疾厥陰（手：心包，足：肝）　末疾太陰（手：肺，足：脾）　腸疾</p>
<p>《入門》曰：醫而不知運氣，如面牆而立。況未語小兒之病，尤難辨其某經之所屬，保幼之家不可以不知此也。</p>
<h2>小兒病源總論</h2>
<p>小兒之病，皆出於熱，何也？蓋男多腎火，女多肝火，腎有火則精熱，肝有火則血熱。小兒稟受父母之精血而成胎，故小兒之病，皆由於胎熱也。</p>
<p>經曰：熱生風。又曰：熱生痰。蓋胎熱挾風上升則為頭瘡、　耳、齒疳、雀目之證；外散則為丹毒、癮疹、遍身胎腫之證。胎熱挾風與痰而流注於頭項、胸背、腋脅、肢節，則為瘰　、癭瘤、走馬、飛□、痰厥、不仁、不遂、龜胸、龜背之證。風痰火乘虛（氣□所虛，邪□湊焉）。而聚合於五內，則為急驚（實熱）、慢驚（虛熱）、狂（實熱）、癲（虛熱）、癇、釣、　（柔）、痙（強）、疝、淋、浮、脹之證。是以胎熱變生六證（風、熱、痰、火、燥、濕），六證養成百病，百病根委不過曰胎熱而已（熱生痰者，熱多則津液煎熬而成痰也）。</p>
<p>凡小兒稟氣有虛實。氣實則熱亦實，氣虛則熱亦虛。虛熱甚而痰多風小，則為慢驚（氣虛則熱愈增勢，熱甚則痰愈增勢）；實熱甚而痰少風多，則為急驚。凡治急驚，先以清熱為主；治慢驚，先以補氣消痰為主。</p>
<p>驚有三證：急驚、慢驚、慢脾風也（眼半開半合，將成脾風之候。驚風三次復發則為癇也）。</p>
<p>驚有八候：一搐（臂肘伸縮）、二搦（十指皆合）、三掣（勢如提掣）、四顫（頭身顫動）、五反（身首反張）、六引（手如挽弓）、七竄（目直上竄）、八視（晴露斜視）。</p>
<p>搐有五證：身熱力大者，急驚；身冷力小者，慢驚；仆地作聲，醒時吐沫者，癇；頭仰視者，天吊；角弓反張者，。</p>
<p>脾風有五證：頭雖熱，眼珠青白而足冷；頭雖熱，或腹脹而足冷；頭雖熱，或泄瀉而足冷；頭雖熱，或嘔吐而足冷；頭雖熱，或渴而足冷者，脾風之候。（凡頭熱足冷者，皆真元不足，而虛熱上升之致）</p>
<p>驚搐無聲者，順；有聲者，逆。男為陽屬木，故發搐之時，左視水位（肺）則無聲，右視金位（肺）則有聲。女人反是。蓋金木相擊故也。</p>
<p>心主驚，實則多叫哭驚悸，手足動搖，發熱飲水；心氣熱則合面而臥；熱實則仰臥目上竄，舌強不能語，虛則困臥驚悸不安。</p>
<p>肝主風，實則目直視，大叫，呵欠，項急，煩悶。甚則兩　俱緊，不轉目睛，發驚切牙，手循衣亂捻物，身強反張。</p>
<p>脾主困，實則困睡，身熱飲水，泄瀉赤黃色，不思飲食，睡不露睛；虛則吐瀉白色，睡露睛或有痰。</p>
<p>肺主喘，實則悶亂、喘促或渴，虛則哽氣長，出氣短，唇白色。</p>
<p>腎主無虛，實則目無精光，畏明，體骨重，虛劫神氣不足，目中白睛多，顱解顱開，面色　白。腎虛者下竄，或脛寒足熱，不喜覆衣。</p>
<p>五臟傳變皆痰為患，蓋痰乃風苗，火靜則伏於脾，火動則壅於脾，痰火交作則為驚風，結滯則為癇、釣，來去則為瀉青，皆由脾濕而成。（保元湯，加白芍藥以養血，為使。乃慢驚之養劑也）</p>
<h2>辨實熱</h2>
<p>性急數啼，汗熱，寤寐多驚，大便小便不通，有微恙身輒烘熱，喜飲水。</p>
<h2>辨虛熱</h2>
<p>性緩聲懦，遍身如常，腦後偏濕，盜汗汗冷，便滑數泄，上熱下寒，口內糜爛，善發諸疳，數吐乳流涎，常有喉間痰聲，善噫，屎色青而又白。</p>
<h2>胎熱預治方</h2>
<p>小兒初生，急以甘草一錢，黃連五分，煎水，蘸帛裹手指，拭兒口內惡汁，且以二味煎水飲之。俾兒吐出腹中穢濁之水，或下惡物於大便，則兒無雜病，善行痘疹。（加人參一、二分，同煎為妙）</p>
<p>一方：朱砂一字，調煉蜜，蘸兒口內咽下，則一生免痘疹之患。</p>
<p>小兒初生，即以綿絮多漬產血，陰乾，無使腐傷，藏於不熱處。小兒氣暫不平，口熱身溫，上綿血浸溫水出之，頻頻飲之，治兒百病。一云臍帶中血尤佳。</p>
<p>取狗糞露干。色白者，蜜炙作末，浸白沸湯，去滓，頻頻溫服。預防慢、急驚，火丹，胎腫，口疳等症。</p>
<p>兒生後臍帶脫落，即取置新瓦上，用炭火四圍燒至煙將盡，放出地上，用瓦蓋之，存性，研為末。預將朱砂透明者細末，水飛。臍帶末若五分重，朱砂和二分半，生地、當歸身濃煎汁一、二蜆（小蛤）殼，調和煎三味飲兒，一日內用盡，次日大便遺下污穢之物，終身永無痘疹及諸疾之患，此延生第一妙方。</p>
<h2>初生危證</h2>
<p>小兒初生，有即死者，急看口中懸雍前　上有泡如石榴子，以指摘破出血，以帛拭之，摻發灰。若惡血入於口中則即死。</p>
<p>小兒初生，氣欲絕不能啼，必是難產時所傷，或冒寒所致。急以綿絮抱兒置懷中，勿斷臍帶，且持胞衣置爐火中燒之，且醋湯或艾湯洗臍帶，令熏氣入兒腹中，則氣回啼哭如常，方可斷臍帶。</p>
<p>一方：人參、烏藥各二、三分同煎，滴兒口中亦妙。</p>
<p>小兒初生，面青身冷口噤者，乃產母臨產前過食生冷性寒之物，寒氣移胎而然。急煎人參，白僵蠶，甘草各二、三分飲之。</p>
<p>小兒初生，嘔吐不能飲乳者，乃穢惡之水入口腹而然。黃連，枳角（殼也），赤茯苓，甘草各二、三分，煎水和蜜飲之。</p>
<p>小兒初生，口內白屑滿舌，不能吮乳，名曰鵝口，急以亂髮纏指頭，蘸薄荷汁或井花水拭之。如不脫，用石雄黃、黃連、甘草等分為末，和蜜塗口內。</p>
<p>一方：鼠婦蟲取汁塗之。</p>
<p>一方：白楊枝取瀝塗之，神效。</p>
<p>小兒初生，遍身無皮，但是紅肉，以白早米粉摻之，候生皮乃止。（白早米，早稻米）。</p>
<p>小兒初生，遍身如魚泡，如水晶，碎則水流，蜜陀僧末摻之（無則可用白早米粉）。因服蘇合香丸（方見下）。</p>
<p>小兒初生，不能吮乳者，口內生齒屎，名馬牙。以針刮腫核，塗白清即效（白清無則生清亦可，不治必死）。</p>
<p>小兒初生，口唇緊小不能開，名曰繭唇。黃柏、五倍子、甘草等分為末，和白清塗之。</p>
<p>一方：牛黃加竹瀝飲之，最妙。不急治則必死。</p>
<h2>驚風之候</h2>
<p>（小兒百病中，驚風最急難治，故別為條列於此，以備預防之道）</p>
<p>小兒急症既發之後，雖有預備之藥，不能及時多服則鮮有萬全，須令乳母逐日細察兒身（如有紅點，則必是丹毒之漸，考方急治之）。若兒身過溫於前日，或腦後熱，口氣熱，則必有驚風之候。須飲小兒清心丸、抱龍丸之屬。（二方並見下）</p>
<p>小兒諸驚，朱砂、雄黃等分，調豬油，抹兒口中，即效。入麝香少許為妙。</p>
<p>小兒生後，一朔內多啼，乃瀉胎熱，不是為病。</p>
<p>小兒生才二、三月，早為起動，或直坐，或高舉，則精神眩倒，多發驚風。天麻五分、人參三分煎水，和朱砂末服之。或泄痢，白僵蠶、砂仁、黃連、甘草等分，煎服為妙。</p>
<p>小兒聽旁人疾聲而驚，或觸窗戶冷風而驚，或冬日冷處之人猝然入房抱之，冷風觸兒而驚，或小兒入睡之際，猝然呼覺而驚，或為他兒所踏而驚，或為乳母寢時所壓而驚，仍發急驚，即服安神丸（方見下）。</p>
<p>一方：麥門冬、酸棗仁（另炒）、天麻、人參、柴胡、防風、烏藥等分，煎服為妙。</p>
<p>小兒大吐大瀉之余，必發慢驚，保元湯（方見下）加砂仁，藿香五、六分合服之。久哭亦發驚風，蘇合香丸服之。</p>
<p>性躁之兒，久哭則氣逆而熱乘痰滯之故也。</p>
<p>小兒身半只熱、半只涼者，慢驚之候（難治），錢氏白朮散（見下）加歸芍各七、八分，香附，烏藥各四、五分服之。鎮心安神湯亦可用。</p>
<p>小兒一腮熱而紅，一腮冷如水者，亦慢驚之候，治法上同。</p>
<p>小兒眼無精氣，睜然若驚者，必發驚風，保元東加柴胡，黃連，羌活，防風各五、六分服之。</p>
<p>小兒白睛多青色者，乃肝熱移肺，亦發驚風。蓋補金氣旺，則木自衰而火自退，宜保元湯調瀉青丸（方見下）服之。</p>
<p>小兒無端常啼者，必是芒刺著膚而然，須向明窗，細察遍身，如無著刺處，則此必驚風之候，清心靈神湯（方見下）服之。加蟬蛻，蘇葉各三、四分服之尤佳。</p>
<p>小兒起動負抱之際，驚悸而哭者，必是護兒不謹，腰脊觸傷而然，宜細察腰脊。如無所傷，則項腋肘臂、腹際腹內痰核流注，或不仁，或筋縮，或疼痛（痰夾熱則不痛）成腫之漸（隨痰治之）。若非腫漸，則亦驚風之候，清心靈神湯加烏藥，枳殼各三、四分服之。</p>
<p>小兒頭宜冷，足宜溫。如有嘔吐，或泄瀉，或引飲，或腹脹，或有眼青白之症，則必先審其頭足。若頭熱足冷則此乃脾虛之致，急用補脾益黃湯（方見下）加全蠍一枚為妙。蓋小兒善脫覆繃，足易出外。頭不熱則不必以足冷為慮。</p>
<p>古人治急驚，以牛黃、龍腦、朱砂、寒水石等材為劑，今多用之有捷效，十生七、八，而或有復發成癇者。蓋氣依於陽，陽依於熱，而上材性味甚寒，暴絕小兒之熱，故元陽清明之氣亦隨而減損，邪氣潛伏於其間，久乃復發。趁其胎熱未肆之前，以和平之劑（鎮心安神丸之屬）預備可也。又曰：古人治慢驚、慢腮，以大附子、白附子、南星、蜈蚣等材為劑，今多用而幸得不死，十保二、三，而終不免為喪性愚痴之兒。蓋上材有大毒，雖藉其毒治其病，而亦能耗損真氣，戕害本性。故小兒精魂減少，而漸至成癲，豈不惜哉！宜預為調治以和平之劑，而勿用毒材為可。</p>
<h2>丹毒之候</h2>
<p>（一名赤游風）</p>
<p>小兒頭面、背腹、手足或有紅點者，乃丹毒之候。紅暈蔓延最疾者，火丹也。紅暈上生赤腫，或如粟米，或如癮疹，或如癬疥，蔓延差緩者，風丹也（治同）。隨赤色暈處，以三棱針亂刺出毒血，一日二、三次（棄血如糞）。五福化毒丹，犀角消毒飲（二方並見下）並主之。</p>
<p>一方：白清塗楸葉（葉干則浸水用之）頻敷之，善消紅色。</p>
<p>一方：芥子爛搗作餅，敷紅暈邊，則毒瓦斯不得外肆蔓延。</p>
<p>一方：生栗留內皮磨於父溺，塗之。</p>
<p>一方：豆腐炙於火上敷之。</p>
<p>一方：下針後生豬肉作片敷之。又生狗皮乘溫敷之。</p>
<p>小兒胎瘡膿破後，不即完合，瘡邊有赤色者，多發火丹，治法上同。</p>
<p>小兒面部猝浮，色白如常，漸為蔓延成瘡，如癬疥者，亦丹毒之類，俗名曰白丹毒，治法上同。</p>
<h2>腹痛之候</h2>
<p>（小兒之病，最多腹痛）</p>
<p>一、二歲兒未語者，有腹痛則必悲啼汗出，轉身亙腹，坐臥不定，頻顧下腹，時止時作者，熱腹痛也。導赤散（方見下）加軟芩五分服之。</p>
<p>小兒未著褲之前，善脫覆繃，腹部犯風或觸冷，則外寒逼身，亦發腹痛，服參茶四、五分。如無人參，則茴香（酒炒）、乳香、香附子等分煎服。</p>
<p>小兒或處冷　，或處濕地，腹痛吐乳，或噫甚，治法上同。</p>
<p>小兒夜啼有四：一曰寒，二曰熱，三曰口瘡、重舌，四曰客忤也。下夜半曲腰而啼，口有冷氣者，寒腹痛，六神散（方見下）主之。上夜半仰身而啼，有汗身熱者，熱腹痛，導赤散主之。口到乳上不能吮，而即啼者，口瘡（雞卵四、五個，和白清服之，立效）、重舌（以針亂刺兩邊出血，勿犯中縫。一方，蒲黃炒，和白清頻塗，最妙）。犯客忤或觸外人氣忤而啼，黃昏時尤甚者，乃容忤中惡也，蘇合丸主之。</p>
<p>小兒吮乳後即發腹痛者，蓋以乳母多胃熱故也。乳母宜服石膏平胃散（方見下）。乳母過食油膩生冷之物，則兒亦發腹痛、吐乳、泄痢，乳母於平胃散加肉桂、乾薑、枳殼、黃柏各五大分服之，腹痛立愈。</p>
<p>小兒環臍痛不可忍，名曰盤腸內吊，乳香散（方見下）主之。</p>
<h2>雜證</h2>
<p>小兒乳後不宜與食，食後不宜哺乳。乳食相並，則難以消下，癖積、疳塊，皆自此始，消食散主之（方見下）。</p>
<p>小兒常流清涎者，名曰滯頤，乃胃有蛔蟲之漸，苦楝根湯（方見下）主之。</p>
<p>小兒變蒸，即益精神長知覺之候。其證或汗，或吐，煩啼微驚，與傷寒相似。輕者五、六日，重者七、八日，治法宜用和平之劑，惺惺散（方見下）主之。</p>
<p>小兒乍有寒氣，身熱昏睡，頭汗微發，或間日，或逐日。如是者，乃瘧母之候，柴胡清肝湯（方見下）主之。</p>
<p>小兒未斷乳前，母有娠，則乳兒黃瘦有病如瘧痢，名曰　病。紅紗袋盛夜明砂令兒佩之。</p>
<p>一方，蝙蝠燒灰細研，令兒粥飲調下三分，日三、四次為妙。</p>
<p>小兒形瘦腹飽，青絡滿腹，乃脾疳之證，肥兒丸（方見下）主之。</p>
<p>小兒頸項、手足強亙不屈，或無氣不仁者，乃觸風傷濕，氣血壅滯而然，終為中風可慮，宜急治之。下部猝然無氣，坐地不遷，乃中濕而然，六味丸（方見下）主之。</p>
<p>小兒足趾相疊，乃風漸，各隨經治之。第一拇趾屬肝脾，第二趾屬胃，第三趾屬腎，第四趾屬膽，第五趾屬膀胱。假如肝脾所屬之趾疊於胃趾，則宜用肝脾治風濕之劑。（針治恐損元氣，且氣弱，不能引經，祛風湯主之。方見下）</p>
<p>小兒性喜用刀，多傷手指，血或過出（絡血行指時致傷，則血出不止）。急以大黃爛搗敷之。</p>
<p>一方，藥艾爛搗敷之。</p>
<p>一方，馬通敷之，血竭尤妙。</p>
<p>小兒跌仆致傷，面部鼻唇血出不止，治宜上同。</p>
<p>小兒肺熱鼻衄，以蕪艾塞鼻孔，冷水滴腦後，血止為度。</p>
<p>一方：蒲黃微炒，一錢許，和山梔子研，干汁炒二錢煎湯飲下，立止。九竅出血，亦宜服此。</p>
<p>小兒腫處或刀傷處干無水氣（宜頻察傷處），身冷，氣不平者，乃破傷風之候，急以新放人糞濃覆傷處，艾灸其上，以當處出水為度。</p>
<p>一方：煎紫檀香和蜜溫服。</p>
<p>一方：黃蠟入清酒煎服。</p>
<p>一方：蜷汁極效。</p>
<p>小兒外腎皮腐破而脫，只懸雙睪子者，乃濕處所傷。以白早米粉塗睪子，以青荷葉裹之，則皮生如舊。</p>
<p>小兒外腎無睪子者，乃疝氣上升，睪子隨而入腹之故。茴香（研，豬膽汁拌炒）、川楝肉（炒）、烏藥（去皮心，酒浸，洗）等分作丸，服之為妙。　疝灸築賓（穴在腎經內踝上三寸）甚妙。一二歲三四壯，四歲五壯。</p>
<p>小兒傷處，未及生肌，輕先皮合如常者，亦犯風之致，追後或痛或不仁，轉為風脾之證，宜預服疏風湯（方見下）。</p>
<p>又以針裂破前傷處，雄黃炒鹽作餅敷之。</p>
<p>小兒外腎、肛門、大股內側多汗濕，且常漬糞尿汁，鮮有干時，故常有赤色。因此發胎毒、丹毒或腐傷成瘡，皆可慮，須頻頻細察，洗以溫水，俾無濕氣為妙。但勿使久坐湯水之中。且水溫風冷內滲，變成搐搦症，可慮。洗兒水中，入豬膽汁煎之，則不生瘡疥。</p>
<p>小兒　疝，外腎如鵝卵大（俗稱王閬）。碧梧桐皮濃煎溫洗，疝氣自消如常（痢疾亦然）。壯者王閬亦效云。</p>
<p>小兒陰莖縮入，取硫黃、吳茱萸各五錢為末，大蒜汁調塗臍腹上，仍以蛇床子燒煙微熏之。</p>
<p>小兒陽頭猝浮，外皮腐傷者，亦濕熱所傷，蛇床子煎水，頻洗之塗雞子黃油最效。又蚯蚓糞調蔥涎塗之亦妙。</p>
<p>小兒陰莖腐傷，內消難治，膽礬、黎蘆、黃丹、孩兒茶等分為末，和清塗之，生肌。（壯老人病亦效）</p>
<p>一方：塗蛇膽亦效。</p>
<p>一方：萵苣莖、木通、枳殼、黃菊沙等分作末，和清敷之，神效。（諸無名惡瘡，皆效也）</p>
<p>小兒初生肛門皮塞者，以　針或金玉簪尖穿孔，蘇合丸作鋌納孔中，勿令再合。</p>
<p>小兒放尿時痛不堪忍，淋瀝不善出者，乃陽甲孔小而然，常以手按引陽頭皮，則自然孔闊，否則以針裂之無妨。</p>
<p>若非孔小，則乃淋疾之候，鵲腦髓五、六個，和木通去節，茶空心連服三、四次，奇效。</p>
<p>小兒大便不通，乃熱甚便燥而然，飲香油數匙許，一日三、四次，腸潤則尿下（日寒時，香油去冷服之）。色白商陸長五、六分許，插入肛門，則亦引糞而下。</p>
<p>一方：朱砂（水飛）和清服之，即通。</p>
<p>小便不通，亦由濕熱雍滯，蒜餅敷之臍中，即通。</p>
<p>一方：大蔥白一寸，四破之，以乳汁同煎，沙石器灌入口中，即效。</p>
<p>小兒虛熱泛上，口內糜爛，或生瘡，枯礬、黃柏作末，和清摻之。或齒疳，先以白鹽，手擦腐傷處，出毒血，次以人中白、黃柏末摻之，以瘥為度。鼻孔內外、唇上、舌下或上　猝有浮氣，仍為腐傷，皆是疳類，治宜上同。</p>
<p>一方：柏木皮削如馬蹄，灸於火，待其脂出，烙腐傷處，極效。</p>
<p>一方：土鼠干肉作末，和清塗之為妙。</p>
<p>一方：蛇膽塗之。</p>
<p>一方：寒水石、白鹽和清塗之，亦效。</p>
<p>小兒懸雍垂不能吮乳，白清和鹽摻之。</p>
<p>小兒咽喉浮痛或爛傷，玄參、桔梗、甘草各七、八分，煎服之。兩耳尖灸三壯，神效。（長老人病，亦效）</p>
<p>小兒臍封犯風，或爛瘡，或猝浮突起，名曰旋螺。荊芥穗、艾葉同煎，頻洗之。王不留行燒存性，父脫鱗並調蠟油塗之。小兒斷臍防風，且無腹痛。</p>
<p>一方：石雄黃、乳香和香油塗之妙。臍封爛瘡，滅瘢膏塗之奇效（方見下）。</p>
<p>小兒傷於風寒，失音聲嘶，久而不瘥，多服清音散（方見下），以瘥為度。</p>
<p>小兒斷臍後，和面作餅，圍臍裹之，艾灸三壯，防臍風。</p>
<p>小兒喉痰有聲者，乃氣虛，痰將為癖積或痰厥。人參、黃連、貝母、甘草各二、三分煎服（或加玄胡索）。肥兒丸亦主之。</p>
<p>小兒處過溫之壤，則血燥損元，面色萎黃，昏睡無氣，升葛湯葛根（二錢）、升麻、白芍藥各一錢、甘草（五分）</p>
<p>加當歸身（一錢）、人參（三分）服之。以解肌熱，兼補津液為妙。</p>
<p>小兒觸暑昏倒，急取路中熱土和童便，去滓灌口。絞腸腹痛（治上同）。暑感寒熱，症涉危重，小柴胡湯為妙。暑傷諸症，生脈散主之（麥門冬去心三錢、人參一錢、五味子九粒研用）。</p>
<p>小兒兩目猝浮不能開，見濁汁流出，乃傷於濕熱而然，瀉青丸加貝母、草決明各三、四分，人參、桑白皮各二、三分作湯服之。</p>
<p>小兒游戲，眼被撞刺，血痕疼痛，仍生翳膜，刮取水青木皮，浸水去冷，頻頻洗之。黃連煎水調初男乳（白芍藥乳尤效），寢時入眼，兼服輕咳散（方見下）。</p>
<p>小兒眼胞猝浮大如拳，眼睛亦凸然突出者，乃脾胃濕熱上升，結核之致，平胃散加石膏、草決明各七、八分或人參三分服之。</p>
<p>小兒鼻塞不通，乳不得下，取豬牙皂角、草烏（薑製）等分為末，調蔥涎作膏，貼囟門上。</p>
<p>一方：南星末調薑汁敷囟門上。</p>
<p>鼻孔生息肉者，肺熱。上星（穴在前頂發際上一寸）灸五壯或七壯。</p>
<p>一方：巴豆去油作末，裹紙如管形，插入鼻孔，稍久黃水流出，以水盡為度，則鼻通肉消。巴豆甚毒，勿令其屑襯鼻內肌。</p>
<p>濁汁恆流者，名曰鼻淵，乃腦消之候（治法上同）。兼用防風湯（方見下）。或流清涕者，亦同治。</p>
<p>小兒　耳，濃汁恆流，久而不瘥，成聾難治。生銀杏作汁滴入耳孔（干銀杏磨醋香油）略入麝香末，為妙。</p>
<p>一方：干胭脂或綿胭脂，調鯉魚膽滴入亦妙。防風通聖散（方見下）加減服之，奇效。</p>
<p>小兒未經痘疹之時，癮疹數發者，乃表熱夾風濕而然。預服升葛湯（方見上）以防行痘時添重之患。　斑疹，熱毒甚而然。加連翹，防風，牛蒡子各五、六分。　白色疹，氣虛熱多而然。加羌活，蒼朮，人參各五、六分。</p>
<p>小兒移去他處，水土擾腸，痰飲猝盛，轉成痰積、痰厥可慮。薏苡仁、桔梗、白茯苓、貝母等分，入乾干少許，作茶和清常常服之。</p>
<p>一方：生槐木上自生耳煎服，治土疾最效。</p>
<p>小兒誤吞牟稻尾刺，飲鵝涎或狗涎（鵝與狗一足縛繩倒懸，則涎自流出）。　魚刺著口內，魚網罨口而飲水，則刺自下。又魚網燒存性，和水服之。　刺著項內難拔，生薑搗作餅，微焙，熨於刺著邊項外（餅冷改焙敷之），刺自聳出。　刺著手足，深入難出，榛子去殼搗作餅，敷於刺著處對沖，刺自聳出（誤敷刺入處則刺入益深）。　刺著手足及肌膚，薔薇根濃煎，沉刺著處，刺自聳出。　如或刺著足底，而上煎水過多，沉沒足趺，則刺聳出足背，須如榛子敷法。如鉛鐵等刺入肌亦然。一方石花敷對沖，如榛子法。針入肌不可拔，指南石敷之，則自然引出。一方螳螂爛搗，略入麝香末敷之。蓋螳螂前引者敷針入當處，後推者敷對沖為妙。</p>
<p>小兒耳孔蟲入，以竹管插入耳孔，用力吸之，蟲自出矣。一方滴入香油，蟲即死，括出之。　豆太入耳孔，繩頭摻明膠汁插耳孔，良久出之，物自附出。</p>
<p>小兒為他兒所咬，龜板或鱉甲燒存性，和香油塗咬處。一方黏飯敷之。　狂犬咬處，初灸七壯，後日灸一壯至百壯。</p>
<p>一方虎骨作末，調酒服之。一方斑貓去頭翅足，炒作末，和溫酒。男子則自背後越肩受其酒飲之，毒物從大便出；若自前直受而飲之，則毒物從小便出，痛不堪。蓋毒物者，狂犬毒瓦斯自成物形也。一方葛根二、三錢，杏仁七、八分煎服之。</p>
<p>貓咬，薄荷嚼敷之。　蛇咬，以針亂刺咬處，逐日出毒血，以瘥為度。一方豬肉敷咬處，兼食之。一方貝母、木香各一、二錢，石雄黃三、四分，並作末，調酒服之。　蜈蚣咬，生雞肉敷之咬處。一方獨頭蒜敷之。一方，付生蜘蛛咬之，吸去其毒。　蜂螫，醋滓或薄荷汁塗之。蛇入鼻口中，火燒其尾，則蛇驚出。一方薑汁擦貓鼻，則必放尿，滴於蛇入孔中，則自出。</p>
<p>小兒誤食諸果諸菜，或躑躅花中毒，香油多飲之。一方甘草、黑豆煎服之。一方人糞多飲之。　誤食草烏，治方上同。一方鴟羽煮於香油，服半盞即效。　牛肉毒尤驗焉。</p>
<p>痘疹鴟張時，令小兒預服稀痘兔紅丸、人參敗毒散（並見下方），以防危重難救之患。</p>
<p>竊觀牛黃抱龍丸，乃小兒百病之良劑。火丹、驚風未瘥之前，連服無妨，而未及生病之前，為其預防。一、二月之內過服七、八丸，則腸胃暴冷，寒痰猝盛，甚危。須人參、白朮、貝母、肉桂各三、四分服之為可。</p>
<p>經曰：大火食氣。又曰：火與元氣不兩立，一勝則一負。凡小兒之病，專出於火熱，而一線脆弱之氣，不能抵當其消鑠，何能免其為火之所食（大火食氣，氣食大小），而亦望其兩立一勝哉？苟非一味參力補虛回元之功，萬萬無撥亂反正之勢矣。或曰人參助熱，熱症不可用。此意稽之言也。經曰：熱雖甚不死。注曰：氣盡而死，然則凡熱病至死者，非熱甚而死也，乃氣盡而死也。蓋金旺土中則木自衰而火自退矣。保養小兒之家，須以人參為瞽者之相，而察其虛實，酌量用之可也。</p>
<h2>三關脈法</h2>
<p>小兒食指（男左女右）第一節，風關；第二節，氣關；第三節，命關。一線紅紋至初節可治，二節難治，三節不治。風關無脈則無病，脈見則病輕，氣關脈見則病重，命關脈見則病欲九死一生。風關、氣關有赤紋者，心病（牛黃抱龍丸主之）。青紋者，肝病（瀉青丸主之）。白紋者，肺病（保元湯主之）。黃紋者，脾病（保脾益真湯主之）。黑紋者，腎病（不治）。</p>
<h2>觀形察色法</h2>
<p>小兒左腮屬肝，右腮屬肺，天庭屬心，地閣屬腎，準頭屬脾。凡五岳赤者，熱（人參茶三、四分，調牛黃抱龍丸服之）；淡白者，皆虛（保元湯主之）。天庭紅，大熱（人參茶三、四分，調牛黃抱龍丸服之）；青主風（保元湯調瀉青丸服之）。印堂（兩眉間）青者，人驚（清心靈神東加草龍膽、酸棗仁炒各五分服之）；紅白者，水火驚（清心靈神湯，加酸棗仁炒，遠志、肉蓯蓉、益智仁各五、六分服之）；紅者，痰熱（膽星抱龍丸主之）。印堂連準頭紅者，三焦熱積（牛黃抱龍丸，人參茶調）；印堂至山根（兩目間）紅者，心小腸熱（鎮心安神湯合導赤散材服之）；山根至鼻柱紅者，心胃熱（鎮心安神東加石膏一錢服之）。唇屬脾，唇紅色，熱痰（保元東加黃連、貝母、朱砂五六分服之）；青色，驚風（保元湯合瀉青丸材服之）；黑色，中惡（蘇合丸主之）；黃色，傷食、吐痢（消食丸主之）；白色，虛甚（保元湯主之）。左太陽（頭額角也）青色，驚（小兒清心丸主之）；紅色，傷寒（惺惺散主之）；青黑色，乳積（消食丸主之）。</p>
<p>右太陽青色，驚（保元湯合瀉青丸材服之）；紅色，風搐（治上同）。</p>
<h2>聽聲音法</h2>
<p>聲音輕清者，氣也，弱也（保元湯主之）。重濁者，痛也，風也（惺惺散主之）。濁而沉靜者，疳積也（消食丸主之）。聲急者，神驚也（鎮心安神湯主之）。聲塞者，痰也（膽星抱龍丸主之）。聲戰者，寒也（惺惺散主之）。聲噎者，氣不順也（蘇合丸主之）。聲喘者，氣促也（保元東加貝母、杏仁、黃連、香附子各五分服之）。高喊者，熱也（小兒清心丸主之）。噴嚏者，傷風也（惺惺散加柴胡、防風各五六分服之）。猝然語訥者，風中舌本也（加減養榮湯加細辛、犀角、石菖蒲各四五分服之）。猝然驚叫者，火動氣虛也，難治（人參七、八分煎茶，調牛黃抱龍丸服之）。</p>
<h2>胎熱</h2>
<p>（小兒心弱，神不固守，故熱夾風痰而肆其毒。若心實神安，則無生患）</p>
<p><u>加減鎮心安神湯</u></p>
<p>（此二劑安心止驚散邪。□合二丸材加減作湯，以為清補心經，預防驚風之候，而凡慢驚發於虛熱，則性寒之材恐無益而反有害，故今姑減之，隨症加入）</p>
<p>麥門冬（去心）　山藥（浸礬水，各七分）　白茯苓（茯神尤緊）　酸棗仁（去皮尖，研，另炒，各五分，大補心肝氣血）　人參（三分半，虛則入四、五分）　甘草（半生半炙，二分半）　朱砂（水飛，二分半。此材性寒不可久服，宜代入黃連薑炒，或山梔子研，酒炒五分可）　麝香（一字）一方，以白芍藥為使，養血。而云白芍能發生發之氣，宜酒浸另炒入五分服之（久服則入當歸身酒洗五分，或紅花酒洗一、二分，以養心血可也）。</p>
<p>如胎熱甚，加連翹、牛蒡子（研，酒炒）、防風各五分。</p>
<p>如心熱，口中氣溫，或合面臥，及眼上竄，額赤搖頭切牙，或舌乾、舌苔、舌腫，加生地（此材損胃，宜藥汁另炒），木通（去節）各五分（或合導赤散，從小便以瀉熱可也），黃連（薑炒）三分。</p>
<p>如肝熱，手尋衣領亂捻物，眼黑，左腮赤，加柴胡、防風各五分。熱甚，加草龍膽（酒洗，三分）、青皮（二分半）。</p>
<p>如脾熱，面黃肚大，怠惰嗜臥，身熱飲水，唇焦鼻赤，加山梔子（薑炒）、防風各五分。熱甚，倍入人參（中氣實，邪熱退），加石膏（　，三分）、藿香（酒洗，三分）（或合瀉黃散，以瀉熱）。</p>
<p>如肺熱，咳嗽寒熱，肚熱水飲，喘悶鼻干，右腮赤，加山梔（研、蜜炒）、貝母（去心干制）各五分。熱甚，倍入人參，加桑白皮（蜜炙）二分半（性峻不可久服）。</p>
<p>如腎熱，目下竄，畏明，頦赤色，加生地（干炒，五分）、乾薑（炒黑，一分半）；熱甚，加肉桂（三分）、黃柏（酒炒黑，一分半）。（干桂二味引腎火歸源）</p>
<p>如大腸熱，右鼻孔干痛，加大黃（酒煨）、芒硝各三分。（此二味性峻不可久用）</p>
<p>如小腸熱，下唇焦，加赤茯苓、生地（干炒）各五分。</p>
<p>如胃熱，舌下痛，加石膏（　）七分。</p>
<p>如膽熱，眼色白，加草龍膽（酒洗）、柴胡（酒洗）各五分。</p>
<p>如筋熱，甲焦，加川芎、當歸身（酒洗）各五分。</p>
<p>如血熱，發焦，加當歸身（酒洗）、生地（酒洗）五分、桂心一分半。</p>
<p>如氣熱，鼻孔喘促，倍入人參，加山梔（酒炒）、軟黃芩（酒炒）各五分。</p>
<p>如潮熱（似潮有信），應時而發，過時即止，加連翹、前胡、木通（去節）各五分。</p>
<p>如骨蒸肌瘦，頰赤口乾，潮熱盜汗，五心煩躁，加寒水石（　）、地骨皮（酒炒）各五分。</p>
<p>如痰熱面赤，身熱咳喘，胸膈不利，喉間有痰聲，加貝母（干制）、杏仁（去心尖）各五分；痰甚，倍入人參（氣虛則痰甚故也），加膽星五分、烏藥（酒洗去心皮）各三分。</p>
<p>如瘧熱，寒熱往來，一日一發，二、三日一發，加柴胡（蜜炙）、草果（面炮煨）各五分；有瘧母，加玄胡索（醋炒）三分、檳榔（研）二分半。</p>
<p>如風寒熱，發熱不歇，身熱口氣熱，呵欠鼻塞，加柴胡五分、羌活三分；傷寒無汗，倍入柴胡，加蘇葉二分半；傷寒有汗加防風五分；汗甚，加生黃　五分。</p>
<p>如上熱，遍身發熱不已，甚則發驚搐，加寒水石五分、馬牙硝三分。</p>
<p>如寒熱，身熱喜飲水，大小便秘澀，去人參，加大黃（酒煨）五分、馬牙硝三分。</p>
<p>如虛熱，身熱不飲水，大小便如常，倍入人參，加柴胡五分（蜜炙則補虛）、地骨皮（酒炒）三分。</p>
<p>如遍身胎腫，腫熱，加連翹、牛蒡子（酒炒）、荊芥穗各五分。</p>
<p>如預防痘疹熱，加葛根、升麻、連翹、牛黃子（酒炒）各五分，紫草茸三分。</p>
<p>如腦後遍熱，而遍身如常者，虛熱泛上而然，加當歸身（酒洗）、白芍藥（酒炒）各五分，肉桂、乾薑（炒）各二分半（干桂二味，引虛火歸源。乾薑炒黑，則且生陰分血），黃柏（酒炒）一分半。</p>
<p>如頭熱，或陽而足冷者，脾風之候，加丁香、天花粉各五分，桂皮三分，附子（炮制）一分（附桂二味，引陽氣下行足部）。</p>
<p>如左腮熱而右腮冷者，肝虛夾火，脾虛夾痰而然。加黃　（蜜炙）、阿膠各五分（二味俱補肝肺），膽星、草龍膽（酒洗）、烏藥（去皮心，酒洗）各三分。</p>
<p>如右腮熱而左腮冷者，肺虛夾火，脾虛夾痰而然。加黃　（蜜炙）、阿膠各五分，貝母（去心，干制）、山梔子（炒黑）、川芎、烏藥（去皮心，酒洗）各三分。</p>
<p>如身半只熱、半只冷者，痰火鬱滯，氣血不行，陰陽不調之致。倍入人參，加膽星、白僵蠶（去觜干炒）各五分，全蠍（去頭翅足及腹中土，薑炒另）、烏藥（去皮心，酒洗）各三分，附子（炮制）分半。</p>
<p>如嘔吐乳食，脾胃熱，加藿香（酒洗）、砂仁（碎炒）各三分（甚則考嘔吐門治之，余仿此）。</p>
<p>如赤痢，熱入血分，加白芍藥（酒炒）五分（清血熱），厚朴（干炒）、桃仁（去心尖，研）各三分。</p>
<p>如白痢，熱入氣分，加砂仁（碎，炒）、陳皮各三分，厚朴（干炒）二分半。</p>
<p>如泄瀉冷熱交攻，加砂仁（碎，炒）、木香（炮）、肉豆蔻（以紙去油酸，調面煨）各三分。</p>
<h2>急驚</h2>
<p>（此證，得於熱甚夾外感風寒，或因物驚悖而發。驚風發搐，不可把捉其手足，只當任其風力遍行經絡，熱極自止，不至傷人）</p>
<p><u>清心靈神湯</u></p>
<p>（治急驚及諸熱驚。合膏丸作湯。小兒時時有驚也，宜服此，以祛心肝之邪）</p>
<p>麥門冬（去心，七分）　白茯神（五分）　人參（二分半）　柴胡（蜜炙）　防風（各五分）　朱砂（水飛，二分半，性寒不可久服，代入黃連、酒砂三分為可）　麝香（一字）</p>
<p>如聞大聲而驚，此無陰也，宜下之。加黑丑頭末（虛則不可用）木通（去節）各五分，恐是膽氣不足，草龍膽（酒洗）、益智仁（去殼鹽水炒）各五分。</p>
<p>如見奇怪物象而驚，此心弱神虛也。當歸身（酒洗）、酸棗仁（去皮尖，另炒）各五分，紅花（酒洗）一分半。</p>
<p>如觸風而驚，此夾外感也。倍入柴胡，加葛根、前胡各五分，羌活、甘草（炙）各三分。</p>
<p>如觸冷氣而驚（肺居五臟之上，先受其傷，氣縮熱結），加生黃　五分，升麻、蘇葉各三分，乾薑（炒）一分半或二分。</p>
<p>如因踏與壓而驚，血氣驚滯而不行，加酸棗仁（去皮尖，研炒）五分、烏藥（去皮心，酒洗）三分、桂皮二分半（此材能通血脈）。</p>
<p>如人驚恐，是氣不足，倍入人參，加酸棗仁（另炒，七分）、草龍膽（酒洗，五分）。</p>
<p>如火驚恐，是神不足，倍入朱砂，加當歸身（酒洗）、酸棗仁（另炒）各五分，遠志（去骨，干炒，三分），紅花（酒洗，一分半）。</p>
<p>如水驚恐，是精不足，倍入人參（益肺氣，則金生水故也），加茱萸（酒蒸，去核）五分，肉蓯蓉（酒浸、去甲）、益智仁（去殼，鹽炒）各三分。</p>
<p>如高舉恍惚而驚，加天麻（去粗皮）、酸棗仁（另炒）各五分，白僵蠶（去觜，薑炒）三分。</p>
<p>如睡中驚魘，常恐畏不寧，加酸棗仁（另炒）、熟地（薑炒）五分（以防損胃），益智仁（鹽炒）三分。</p>
<p>如痰盛如引鋸喘，加膽星、貝母（去心，干制）各五分，烏藥（去皮心，酒洗）三分。氣順則痰化而搐自止，先以蘇合丸調薄荷湯灌下一、二丸，後繼服此劑，亦妙。</p>
<p>如驚搐痰喘，窒塞至死，加膽星、天麻各五分，白僵蠶（干炒）二分，全蠍（去頭翅足、腹中土，干炒）二分半。</p>
<p>如竄視涎潮，加膽星、橘紅各五分，木香三分，全蠍（干炒）一枚。</p>
<p>凡小兒之生理，本天一生水之妙，如治胎熱、丹毒、驚風、痰熱、變蒸、發熱、嘔吐、瀉痢之症，以水道通利為捷徑，所以清心利小便而散火也。倍入人參，加燈心、赤茯苓各三分，豬苓、澤瀉各二分半，天乙丸亦主之（方見下，余仿此）。</p>
<p>如諸熱驚，清心丸主之（柴胡、防風、白茯神、人參、朱砂等分，作丸，金箔衣）。</p>
<p>如邪熱急驚，小兒安神丸主之（大安神丸方見下）。</p>
<p>如肝熱急驚，瀉青丸主之。</p>
<p>如眩暈，昏昧恍惚，保命丹主之。</p>
<p>如氣鬱痰搐，膽星抱龍丸主之（方見下）。</p>
<p>驚風危急難救，兩乳頭各灸三壯，百會、上星（穴在前發際上一寸）。一方，兩眉間灸三壯，神效。凡驚風，專是心火肝風交爭，血亂氣並，痰涎壅塞，開竅不通而無所泄，故暴烈竄搐。及其發定後了了如故者，急驚也，綿綿不止者，慢驚也。宜考下慢驚治之。</p>
<p><u>開關散</u></p>
<p>（治急、慢驚噤不開）</p>
<p>蜈蚣一條（金頭赤足者，可用酒浸炙）　白僵蠶（去觜，干炒）　南星（炮，干制，各一錢）　射香（一字）　豬牙皂角（各三挺，略燒存性）</p>
<p>上為末，以手點薑汁，蘸藥少許擦牙，或用物引滴入藥二、三點於口中，涎出開關。竊觀此劑，雖入毒材，不可多飲之藥。然小兒有此症，施之無妨。（小兒能全純陽之氣，而未破陰，故雖服毒劑少許，不至大損故也）</p>
<p>小兒口噤，然谷（穴在內踝前直下一寸，大骨下）灸三壯，神效。</p>
<p><u>牛黃抱龍丸</u></p>
<p>（膽星抱龍丸加牛黃、珍珠、琥珀、金箔四味，名曰牛抱。小兒百病之良方。急、慢驚未分，宜用此先鎮之。抱者保也，龍者肝也。肝為母，心為子，母安則子安。況心臟神，肝臟魂，神魂內守驚何徒生）</p>
<p>膽星（一兩）　天竺（五錢）　黃雄黃　辰砂（水飛，各二錢半）　麝香　珍珠　琥珀（各一錢）　牛黃（五分）　金箔（十片）</p>
<p>甘草煎膏和丸，芡實大，金箔為衣。半歲兒一丸三分服，三歲兒一丸。薄荷湯下。此劑鎮驚退熱化痰之妙方。但恐性味極寒，專無補元之力，不可多服。如退熱勢大盛，不得已而用之，則人參二、三分，作茶調下無妨，驚止如常後，宜移用補脾調理之劑（如補元湯之類）。大抵驚風，乃心火、肝風、脾痰三家之病，而金旺於土中，則木自衰，火自退，而不得交爭。故方云大病後調理脾胃，醫家之王道，斯言至矣。牛黃抱龍丸稀貴非鄉鄙之所可易得。人參、貝母、白僵蠶、防風、酸棗仁、朱砂、牛黃七味，等分作散，薄荷湯和清服下，則功效之捷不減上丸。竊觀俗人，徒知貴材之治危症，而殊不知性味至寒之藥，峻攻壯熱，使熱邪不得肆其毒於外，而反為縮藏於內，故服良劑之後，了了然如故，仍謂之痊可，置之尋常。及其乘內虛而夾外感復發，植則根固而治之尤難，急驚變為癇，慢驚變為癲，養幼之家。</p>
<p>可不戒懼也哉。</p>
<p><u>截風丸</u></p>
<p>　（治急驚、慢驚、痰搐及急驚變成慢驚等症，宜用此截之）</p>
<p>天麻　白僵蠶（去觜，干炒）　蜈蚣（一條）　白附子（炮制依本草去）　防風　朱砂　全蠍（干炒，各一錢）　麝香（一字）</p>
<p>上蜜丸梧桐子大，薄荷湯調下。此劑止驚、化痰、截風之要藥，但多入毒材，病雖服此減歇，而其奈戕性損元何？須去蜈蚣，且減白附子五分，去南星而代入貝母，加人參二錢、雄黃五分制之可也。</p>
<p><u>大安神丸</u></p>
<p>　（治急、慢驚。安神定驚，又能治心熱夜啼）</p>
<p>酸棗仁（去皮，研粉，炒）　甘草（炙，各五分）　白僵蠶　桔梗尾（各一錢二分半）　人參　赤茯苓　白朮　朱砂麥門冬（去心）　木香　代赭石（醋煮，各二錢半，此方真品難得，代入雄黃一錢亦可）　全蠍（薑炒，三枚）　金銀箔（各三片）</p>
<p>上蜜丸梧子大，金銀箔為衣，薄荷湯化下一、二丸。此劑性味和平，且兼補瀉，驚風新瘥後作丸或作湯，常常服之可也。</p>
<h2>慢驚</h2>
<p>（此證得於火病之余，大吐大瀉之余，過服涼劑之余。面色青白，手足螈　，渾身四肢厥冷，默默不聲，大小便青白，或眼半開半合，漸成脾風之候，十指或開或合。急驚持久不瘥，多服涼劑，脾胃虛冷，轉成慢驚者，多治之尤難矣）</p>
<p><u>錢氏白朮散</u></p>
<p>（治吐瀉日久不止，津液枯竭引飲，欲成慢驚。此劑性味和平，治慢驚之緊方）</p>
<p>葛根（補津液，二錢）　人參　白朮　白茯苓　木香　藿香　甘草（各一錢）</p>
<p>如泄瀉不止，加山藥、白扁豆（炒）、肉豆蔻（醋調面包煨後，以紙去油）各五分，砂仁（碎炒）三分，大瀉之余，中氣下陷，宜升提之，加升麻、柴胡（並酒洗）各三分。</p>
<p>如嘔吐不止，加丁香、砂仁（炒）各五分，大吐之余，宜順氣，加烏藥（去皮心，酒洗）三分。</p>
<p>如津液枯竭，加天門冬（去心）七分，棗肉五分。</p>
<p>如引飲，加天花粉七分。</p>
<p>如慢驚已成，加天麻五分，細辛二分半，白附子（炮制）一分半，全蠍（薑炒）一枚。</p>
<p>如大病余氣虛而□，倍入人參，加黃　一錢。</p>
<p>如過服涼劑而發，倍入人參，加肉豆蔻（炮制）七分，肉桂三分，□□（炒）二分半。</p>
<p>如虛熱，加麥門冬（去心）一錢，前胡七分，朱砂二分半。</p>
<p>如面色青白，倍入人參，加草龍膽、前胡、防風各七分。</p>
<p>如渾身四肢冷，倍入人參，加蒼朮、桂枝各五分。</p>
<p>如大小便青白，加柴胡，山梔子（炒黑）、草龍膽、防風各五分。（凡瀉青，大禁涼面，此方專是補肝，故此方加四味，以疏肝木邪氣）</p>
<p>如眼半開半合，轉成脾風之候，加丁香、肉豆蔻（炮制）、天麻、白僵蠶（薑炒）各五分，白附子（炮制）一分半，全蠍（薑炒）一枚。</p>
<p>如十指開合，加膽星、天麻、白僵蠶、防風各五分，全蠍、薄桂各三分，竹瀝、薑汁各半匙。</p>
<p>如大拇指偏為開合，倍入人參，加黃　（蜜炙）一錢，膽星、白僵蠶（薑炒）各七分，川烏（炮制）二分半。（難治）</p>
<p>如八候俱見，倍入人參，合化風丹調下。竊觀慢驚，多因吐瀉不止，津液枯竭而發，則白朮散專補HT　邊，而只以葛根一味生津，恐太緩。古方云：以白芍藥加於保元湯為使，養血而相依，補血則風自除而火自降，須加歸、芍二味，以滋脾胃之枯竭，且以丁香、砂仁二味收拾泄逆之氣，似可爾。</p>
<p><u>保元湯</u></p>
<p>（治便色青黑。大便泄青，乃慢驚之惡候，急用此劑預防為可。凡瀉青，乃風木克土之致，先補脾土，使土中金旺，則木自衰，火自退矣。蓋氣實則火退者，氣食小大也。</p>
<p>土實則木衰者，脾旺不受制於肝，而金來克木故也）</p>
<p>黃　（蜜炙，二錢）　人參（一錢）　甘草（炙，五分）</p>
<p>此方專主補脾，故以黃　二錢為君。白朮散專主生津，故以葛根二錢為君，兩意皆好。用者，宜變通加減為妙。</p>
<p>一方：以白芍藥（酒炒）五分為使，養血為妙。</p>
<p>如大便黑色，加生地（干炒）一錢，肉桂、玄參（酒炒）各五分，黃柏（酒炒黑）二分半。</p>
<p>如眼無精光，睜然若驚，加柴胡（蜜炙）五分，前胡、山梔（酒炒）、熟地（干炒）、山茱萸（酒蒸）、防風、益智仁（鹽水炒）各五分。</p>
<p>如白睛多青色，加山藥、天門冬（去心），阿膠珠、柴胡（蜜炒）、防風各五分，青皮二分半。（旺肺氣，則肝木自衰）</p>
<p>如因吐瀉轉成慢驚，半陰半陽症，加陳皮一錢，白芍藥（酒炒）七分，白茯苓四分，黃連二分，名曰益黃散。</p>
<p>如因吐瀉不止，脾胃昏沉，默默不聲，去黃　加白朮、白茯苓、白附子（炮制）、白僵蠶（干炒）、天麻、木香各五分，全蠍（干炒）二分半，干三，棗二，名曰醒脾散。</p>
<p>如吐不止，加砂仁（炒）、藿香（酒洗）各五分。</p>
<p>如瀉不止，加砂仁（炒）七分，升麻三分。慢驚危急之證，材煩則效遲，況脾中氣旺則木衰火退，宜先用補元湯二、三帖，以扶真元可也。</p>
<p><u>奪命散</u></p>
<p>（此方不問急、慢驚，痰塞咽喉，其響如潮，百藥不能過咽，命在須臾，但用此藥，入喉痰即墜下，功收萬全，奪天地之造化）</p>
<p>青礞石　焰硝（各一兩）</p>
<p>上二味入鍋內，火　待　盡，候礞石如金色，取用細末，薄荷汁入蜜，微溫服之。黑痰墜下，從大便出，繼用治驚之劑。礞石雖利於痰，非胃家所好，加木香二錢佐之。</p>
<p>一方：痰塞喉門而搐，蘇合丸調薄荷湯，入薑汁少許灌下（或香油和下）。痰因氣鬱而上升，氣順，則痰化而搐自止故也。</p>
<p>小兒時令咳喘痰盛，服蘇合丸，則或吐痰，或下大便，人參二、三分作茶和下最妙。</p>
<p><u>保幼化風丹</u></p>
<p>（治急、慢驚八候俱見）</p>
<p>南星　半夏　川烏　白附子（各一兩）　鬱金（五錢）</p>
<p>上並為末，入臘月黃牛膽內，陰乾百日，取藥研為末，每一兩，入牛黃、朱砂、硼砂、焰硝各一錢，片腦、麝香各少許。上共為末，蜜丸豌豆大，燈心薄荷湯研下和一、二丸。此劑甚毒，不可輕用。然驚風八候俱見之後，難望其生全，第用此方鎮定回蘇後，即用補元調理之劑，亦一道耳。</p>
<p><u>備急丸</u></p>
<p>（治急驚，又同治慢驚）</p>
<p>五月五日，取白頸蚯蚓，不拘多少，去泥後焙乾為末，加朱砂等分，糊丸綠豆大，金箔為衣，白沸湯下一丸。此方以竹刀中繼蚯蚓，取急跳者，治急驚；取慢跳者，治慢驚。神效。</p>
<h2>慢脾風</h2>
<p>（此證由慢驚後吐瀉損脾，病傳已極，總歸虛處，惟脾所受，故曰脾風。若逐風則無風可逐，療驚則無驚可療，但脾間痰涎凝滯，虛熱往來，其眼合者，乃脾益困，氣之神迷之）</p>
<p><u>補脾益真湯</u></p>
<p>（此大補脾胃虛損之聖劑）</p>
<p>丁香　木香　訶子皮　陳皮　厚朴（薑炒）　草果（面包煨）　肉豆蔻（炮制）　白茯苓　人參　白朮　桂枝　半夏（炮，干炒）　甘草（炙，各二分）　全蠍（一枚）　干二　棗一服訖，令標心下，以助藥力。凡小兒脾風之候（見上脾風有五症條），宜預服此劑。</p>
<h2>天吊</h2>
<p>（此證亦驚風之類，但天吊發時，頭目仰視，驚風則無也。小兒螈　不定，翻眼戴睛狀若神祟，頭目仰視，手足抽掣，如魚之上鉤，故亦曰天釣。甚者，爪甲青。宜服蘇合丸。如由乳母過食熱毒物，心肺生熱，加以外感風邪所致，則鉤藤散主之。熱勝則保命丹主之，痰盛則膽星抱龍丸主之）</p>
<p><u>鉤藤散</u></p>
<p>（名曰鉤藤散，而不入鉤藤，恐或有闕也）</p>
<p>人參　犀角（各五分）　全蠍　天麻（各二分）　甘草（一分）</p>
<p>一方：有鉤藤一味。</p>
<h2>客忤</h2>
<p>（小兒神氣軟弱，忽有非常之物，未識見之人觸之，或見神廟佛寺，神氣相忤。其狀口吐青黃白沫，或下水穀解雜，面變五色，腹痛反側，螈　如驚癇，但眼不上竄。即以蘇合丸薑湯調下，頻服。次服雄黃散，兼敷黃土散）</p>
<p><u>雄黃散</u></p>
<p>雄黃（一錢）　乳香（五分）　麝香（一字）</p>
<p>每一字刺雄雞冠血調下，仍以母衣覆兒身，即愈。</p>
<p><u>黃土散</u></p>
<p>伏龍肝、蚯蚓糞等分，細研水調，塗頭上及五心，最良。</p>
<p>一方：熊膽、雄黃、烏藥，治注忤鬼氣，三味合服，單服亦可。</p>
<p>如中馬汗氣，馬鳴驚忤，取馬尾燒煙，熏兒面，以瘥為度。</p>
<p>一方：客忤，故汗衣燒灰，每二錢白沸湯調下。男用女衣，女用男衣。</p>
<h2>中惡</h2>
<p>（此證其狀猝然心腹刺痛，悶亂欲死，人中青黑，即服蘇合丸。未醒，以皂角末吹鼻，兼用辟邪膏）</p>
<p><u>辟邪膏</u></p>
<p>降真香　白膠香　沉香　虎頭骨　人參　鬼箭羽草　龍膽　雄黃（各五分）　麝香（一字）</p>
<p>上為末，爛蜜作膏，取少許乳香湯調下兒口中，又令兒帶之及燒臥內，尤效。</p>
<p>一方：故汗衣燒灰二錢，白沸湯調下。</p>
<p>一方：以唾和麝香一錢研，和醋一合，服之即瘥。</p>
<p>一方：白檀香或紫檀香煎服，為好。</p>
<p>一方：中惡心腹痛，雄黃、朱砂等分，研為末，烏藥煎湯調下。尸厥，蘇合丸研香油灌下。灸巨闕七壯。</p>
<h2>痙</h2>
<p>身軟時醒者，癇；強直不時醒者，　。此症亦驚風之類。　者手足冰冷，痙者舉體強直。本是一病，當以陰柔陽強別之。強者有汗，柔者無汗。其狀肢體強直，腰身反張，甚於風癇，大抵不治。</p>
<p><u>參歸養榮湯</u></p>
<p>（治風痰　，陰痙也）</p>
<p>人參　當歸　川芎　白芍藥（酒炒）　熟地（薑炒）　白朮　白茯神　陳皮（去白，各一錢）　甘草（五分）　干三棗二</p>
<p><u>栝蔞枳實湯</u></p>
<p>（治痰火　）</p>
<p>栝蔞仁（去油）　枳實（麩炒）　貝母（去心，干制）　桔梗　片芩（酒炒）　陳皮　山梔子（薑炒）　白茯苓人參　當歸　蘇子（炒，各七分）　甘草（三分）　竹瀝　薑汁（各一匕，調下）</p>
<p>角弓反張，灸百會七壯。此症切不可作風治，宜以虛實分治為可。</p>
<h2>癇</h2>
<p>（此症乃天刑之疾。醫者治之，或傳染，或反受殃，大風瘡亦然。驚風三次復發則為癇，發時仆地作聲，醒時吐涎沫，過後便惺惺）</p>
<p><u>清心溫痰湯</u></p>
<p>（此劑平肝解鬱，清火化痰也）</p>
<p>當歸身（一錢）　人參（五分）　白茯苓　陳皮　半夏曲　白朮　白芍藥（酒炒）　香附子（便炒）　麥門冬（去心，各七分）　竹茹　黃連（干炒）　川芎　枳實（麩炒，此材治痰，有衝牆倒壁之力）　遠志（干炒）　石菖蒲（各五分）</p>
<p>此劑一名二方，今取性味和平之劑，而但膽星勝於半夏曲，酸棗仁勝於麥門冬，用者宜變通加減可也。白僵蠶、全蠍尤妙。癇病方萌，耳後高骨間必有青紋，紛紛如線，見之急用抓破，須令血出，啼叫尤得，氣通易效。</p>
<p>一方：黑質白腸大蛇作　或脯，久服奇效。</p>
<p>一方：久患此症者，震死牛馬肉食有效（已驗）。</p>
<p>一方：黑　豬心，以竹刀劈開，入九節菖蒲末煮湯，每日空心送下二、三錢，神效。</p>
<p>一方：胎癇、奶癇、驚癇，灸鬼眼四穴（穴在拇指爪甲上兩角，如韭葉）各三壯（此治邪祟之要穴也）。</p>
<h2>癲狂</h2>
<p>（罷倦無力者，癲；強健有力者，狂。癲為心血不足，狂為痰火實盛。竊觀癇者，發時雖似驚風，而過後了了如常。</p>
<p>癲者，喪失本性，多喜痴笑。狂者，或歌或哭，奔走無定。《入門》云：十歲以下為癇，十歲以上為癲。此指癇變為癲而言）</p>
<p><u>寧心化痰湯</u></p>
<p>（治癲狂初起，狂可治，癲不治）</p>
<p>膽星　半夏（炮，干炒）　陳皮　赤茯苓　黃連（薑炒）　天麻　人參　酸棗仁（另炒）　石菖蒲（各一錢）　薑（一片）</p>
<p>膽星、半夏二味俱入太燥，去半夏代入貝母為可。先服此劑祛痰，後宜繼服養心清血湯。</p>
<p><u>養心清血湯</u></p>
<p>當歸身　生地（干炒）　人參　白朮　白茯苓　川芎　遠志（干炒）　酸棗仁（另炒）　石菖蒲（各一錢）　甘草（五分）</p>
<p>癲宜養血安神而兼降痰火，宜加蓮肉（一錢），益智仁（鹽炒，五分），朱砂（五分）。</p>
<p>狂宜下之大便，宜加大黃（酒煨）、芒硝各一錢。</p>
<p>如狂言妄語，加犀角五分。</p>
<p>如啼泣狂叫，加百合一錢。</p>
<p>一方：癲狂癇，多服牛心血，有效。</p>
<p>一方：猝狂，狂言妄說，蠶退紙燒存性一錢許，和白沸湯飲下，即效。</p>
<p>一方：凡諸熱病發狂三日，芒硝（三錢），雞子清（一個），生清（一匕），井花水調飲，奇效。</p>
<h2>丹毒</h2>
<p>（此症乃熱毒之氣與血相摶，而風升之，故游走遍身，名曰赤游風，入腹則死）</p>
<p><u>五福化毒丹</u></p>
<p>（此方專治疳熱、瘡癤、丹毒之類也）</p>
<p>犀角　生地　桔梗　赤茯苓　惡實　連翹　粉甘　薄硝　玄參（各一兩）　青黛（三錢）</p>
<p>此劑一名二方，入人參五錢，麝香五分，金銀箔各八片，每一兩作十二丸，一歲兒一丸，分四服。</p>
<p><u>犀角消毒飲</u></p>
<p>（治丹毒斑疹之緊劑）</p>
<p>牛蒡子（研，酒炒）　荊芥穗　防風（各一錢）　甘草（七分）　犀角（五分）</p>
<p>此方加連翹、白芍藥（酒炒）、紫草茸各七、八分尤效。</p>
<p>如丹毒之氣入裡，則必發腹脹，急以細針亂刺赤暈邊，使不得蔓延。一日二、三次下針，針後即敷生豬肉最妙。</p>
<p>（病療後宜服補血之劑，以防針治損血之害為可）</p>
<p>一方：針後人糞和醋少許，塗之（新放人糞）。</p>
<p>一方：針後全鰒蛤殼燒作末，調醋塗之，以瘥為度。</p>
<p>一方：豆腐炙於火上敷之。</p>
<p>一方：丹毒欲發之初，生栗留內皮，父尿細磨頻塗。</p>
<p>一方：楸葉塗生清敷之（葉干則浸水用之）。</p>
<p>一方：真末調陳真醬塗之。</p>
<p>一方：蓖麻子磨醋塗之。</p>
<p>一方：雞子黃濃塗後，炙虎骨擦之。</p>
<p>一方：三家姓洗皿水洗之。</p>
<p>一方：豬尿洗之，木麥調醋作熱餅，待冷敷之。</p>
<p>如面上有浮氣，色白如常，仍成癬瘡，或如櫻桃而內有膿汁者，亦丹毒之類，俗名曰白丹毒。塗雞子黃，以虎骨暖擦之如面瘡壞爛無全膚，流膿水，百藥不效，臘豬脂塗之為妙。</p>
<p>一方：白楊枝燒，取瀝塗之，神效。</p>
<p>一方：面瘡及諸惡瘡，滅瘢膏塗之極驗。（雞矢、白鷹矢、白衣魚、白附子、白僵蠶、白芷，等分為末，香油作膏）</p>
<p>如肌膚自然傷破，漸至腐敗，生狗皮敷之（冷則無效）。一日二、三次改敷，極驗。</p>
<p>如走馬（胎熱夾痰而風乘之，故流走諸處，滯則成膿，故曰走馬瘡）、飛尸、骨疽（大股內外略有浮氣，淺膿曰飛尸。外無浮氣，深膿曰骨疽。以筋縮及當處有熱氣，知成膿與否也）未膿之前，犀角消毒飲加貝母（去心，干炒）、半夏（炮，干炒）、連翹、白芍藥（酒炒）、天花粉、金銀花各五分，乳香、沒藥各三分；外以南星、枯礬、白鹽、真末、薑汁，並調作餅敷之。（此方自仙傳化毒湯透來）</p>
<p>如走馬、飛尸、骨疽已膿，針破之後，犀角消毒飲加貝母、半夏、連翹、白芍藥、黃　、白芷、皂角刺各五分。外以雄黃、龍腦、白鹽調白狗膽入瘡口，一日一次改敷，以瘥為度。</p>
<p>一方：未膿、已膿。蟾膾、蛇膾，或蟾蛇汁，或作脯，或作丸，皆可服之。</p>
<h2>遍身胎腫</h2>
<p>（小兒遍身生腫如粟米，俗亦謂皮風之類，不治則腫毒入裡成脹也）</p>
<p><u>大連翹飲</u></p>
<p>（治諸般毒腫）</p>
<p>甘草（四分）　柴胡　軟芩（酒炒）　荊芥穗（各三分）　連翹　車前子　瞿麥　滑石　惡實　赤芍藥（酒炒）　山梔子（酒炒）　木通（去節）　當歸　防風（各二分）　蟬蛻（一分半）　竹葉（三片）　燈心（十莖）</p>
<p>此方治瀉熱妙法，從天一生水透出來。</p>
<p>如癢甚，加白蒺藜（三分）。</p>
<p>如痛甚，加寒水石（　，二分半）。</p>
<p>又方：加沒藥、乳香各二分。</p>
<p>如肚腹飽滿，加蘿卜子（五分），厚朴（薑炒，三分）。</p>
<p>如腫毒入裡，猝成浮脹，宜服消脹散。</p>
<p>如疔腫斯毒，菊葉作汁飲（無葉用根）。又菊葉爛搗，敷腫處。</p>
<p>又方：疔腫初生時，生薑作片而孔其中，敷腫處，以石雄末和藥艾細捻之，著薑孔而灸之七七壯，仍取棗肉敷之，謂之薑灸。腫毒自消而完合不難。（若已膿，以剪刀剪腫尖，仍作薑灸）</p>
<p>又方：生銀杏搗，敷腫處。</p>
<p>又方：鼠目大半掬嚼破，敷腫處，以待痊可。</p>
<p>如紅絲疔，以針亂刺紅絲，出毒血後，治法上同。（薑灸則不為亦無妨，而不針則薑灸亦可）</p>
<p>又方：人頭垢作片炙火，乘溫敷腫處。</p>
<p>諸毒腫，枯礬和涎塗之。古方云：千方萬藥，不如一唾。</p>
<p>諸惡腫，陰蛇皮燒存性，和豬脂塗之（無豬脂，香油可代之）。久瘡亦有效。</p>
<p>諸腫癢痛不可堪，陰蛇皮去鱗，調唾敷之，則痛氣立止如神。</p>
<p>胎腫、胎瘡，馬胎燒存性作末，和油塗之為妙。</p>
<p>如頭面發際無名毒腫，菖蒲作末調醋塗之。</p>
<p>如頭瘡壞爛成痂，連翹、荊芥穗煎湯洗之，去其瘡痂。秦艽或羌活作末，調香油頻塗之。</p>
<p>如頭疳，蓋頭上生腫，或如栗子，或如胡桃、雞卵，或硬或軟者，疳毒也。未膿則南星、枯礬作末，薑汁並調醋塗之。已膿則針破出膿汁後，濃敷黏飯，一日二次，以完合為度，否則成蟲，流走臟腑，侵蝕黃瘦，遂至於死。（詳見疳積門）</p>
<p>如面腫、唇腫、背瘡、發疽，桑蟲汁塗之。</p>
<p>又方：柏木枝炙火，待脂出，　烙立效。</p>
<p>又方：柏木公伊芳作簪插頭，久染發垢者，炙火頻擦之，尤效。</p>
<p>湯火瘡，生梨汁塗之。</p>
<p>又方：西瓜皮燒存性，調香油塗之。</p>
<p>又方：多飲月經，使火熱不得內逼。又土鼠燒存性，調香油塗之，至死還生。</p>
<p>毒腫腐痛，白朮爛搗敷之，極效。</p>
<p>久瘡不瘥，萵巨莖、木通、枳殼、黃菊沙（一名王不留行）等分作末，和油塗之，即效。</p>
<p>凡惡瘡，膿、未膿，敷母酒於當處，極效。</p>
<p>背瘡及手足浮突將成腫，麻仁作餅敷之為妙。編瘡多腐肉處，敷之亦效。</p>
<p>小兒放糞於陰瘡人之放糞處，則惡氣上染，仍成陰瘡。裹飯草爛烹洗瘡，又飲之。（曾試有效）</p>
<p>又稷爛蒸數斗許，坐其上，熏其暖氣，頻頻改之，以瘥為度。壯者陰瘡亦效。</p>
<h2>瘰</h2>
<p>（耳後結核漸至兩腋下，或浮突，或至爛瘡，曰瘰　；或自耳繞項結核，曰連珠。多是肝火夾痰而成）</p>
<p><u>梔子清肝湯</u></p>
<p>山梔子（酒炒，一錢）　柴胡　川芎　當歸　白芍藥（酒炒）　連翹（各七分）　桔梗　青皮　甘草（各五分）</p>
<p>此方加玄參、夏枯草各五分，又加胡桐淚，最是痰解之要藥，宜加入不可缺。</p>
<p>一方：昆布調唾敷核上，數月余則核自消散。</p>
<p>一方：瘰　年久成瘡蜃，鹽敷瘡上，以瘥為度。蛤鹽亦可。</p>
<p>一方：玄參三錢，夏枯草二錢煎服，逾年則必瘥。</p>
<p>一方：雞卵每朝三個。至七、八百個，服之（新增）則必效。</p>
<p>一方：黑質白腸蛇　，多服必效。</p>
<p>一方：凡痰核，萵苣莖爛搗，敷之為妙。</p>
<h2>癭瘤</h2>
<p>（癭者，細而垂，肉塊也；瘤者，圓大如大腫而持久不膿，年久後成蟲而膿，難治。蓋此症多發頤下或項邊）</p>
<p><u>破結散</u></p>
<p>（治諸癭瘤及瘰　、馬刀。馬刀瘡多發頤下）</p>
<p>海藻（酒洗）　草龍膽（酒洗）　海粉　通草　貝母（去心，薑炒）　昆布（酒洗）　枯礬　松羅　麥曲　半夏（各七分）</p>
<p>此劑忌甘草、鯽、雞等。</p>
<p><u>十六味流氣飲</u></p>
<p>（治乳岩、瘰瘤、馬刀等症。馬刀腫形如瓜）</p>
<p>當歸　川芎　白芍藥（酒洗）　黃　人參　官桂　厚朴（薑炒）　桔梗　枳殼（麩炒）　烏藥（去皮心，酒洗）</p>
<p>木香　檳榔　白芷　防風　紫蘇葉　甘草（各一錢）</p>
<p>如痰癭，合二陳湯（半夏炮干炒、陳皮、赤茯苓各七分。）</p>
<p>有一兒，頸上生血癭四個，如手指狀，長數寸許，服此劑二十余帖，癭即自枯，根斷不復出。</p>
<p>一方：瘰　、癭瘤，多服蛇　、蛇脯，奇效。</p>
<h2>腹痛</h2>
<p>（小兒腹痛，多是乳食所傷，蓋有積則氣不宣通而痛也）</p>
<p><u>消食散</u></p>
<p>（治食積腹痛）</p>
<p>白朮（陳壁土炒，二錢半）　麥芽（炒）　縮砂（炒研）　山楂肉（炒，各一錢）　橘紅（無則代入陳皮）　香附米（便炒）　神麯（薑炒）　青皮（各七分）　甘草（五分）</p>
<p>如氣不足，加人參三分。</p>
<p>如夾熱，加白芍藥（炒）一錢，黃連（炒）五分。</p>
<p>如夾痰，加貝母（去心，薑炒）一錢。</p>
<p>如夾冷，加肉豆蔻（炮去油）五分，乾薑（炮）三分。</p>
<p>如冷熱食積未分，服蘇合丸降氣則即愈。</p>
<p><u>六神散</u></p>
<p>（此劑通治寒腹痛。小兒下夜半曲腰而啼者，寒腹痛。其症面青白，口有冷氣，手足冷，腹亦冷）</p>
<p>白茯苓　白扁豆（炒，各二錢）　人參　白朮　山藥（炒，各一錢）　甘草（炙，七分）　薑三　棗三此方加香附子（便炒）七分，行氣尤妙。</p>
<p>如夾痰，加茴香（酒炒）、川楝肉（炒）、山梔子（炒黑）、沒藥各七分。</p>
<p>如夾濕，加木通（去節）一錢，澤瀉五分。</p>
<p>如夾蛔，加苦楝根一錢，檳榔五分。</p>
<p><u>導赤散</u></p>
<p>（此劑通治熱腹痛。小兒上夜半仰身有汗而啼者，熱腹痛。其症面赤，小便赤，口中熱，腹亦暖）</p>
<p>生地（薑炒）　木通（去節）　軟芩（酒炒）　甘草（各七分）　竹葉（三片）</p>
<p>多是心熱傳小腸，加麥門冬、山梔仁（碎炒）各七分，效尤捷。</p>
<p>一方：腹熱宜溫散，人參、白芍藥（酒炒）、甘草（炙）香附米（便炒）各四、五分，乾薑（炒）少許，煎服亦效。</p>
<p><u>苦楝根湯</u></p>
<p>（小兒蟲腹痛，十居八、九。其症心腹痛，叫哭，倒身撲手，嘔吐清水涎沫，面色青黃，時止時作，口唇紫黑者，蛔厥）</p>
<p>苦楝根　使君子（各一錢）　白礬（半生半枯）　檳榔（各五分）</p>
<p>一方，芥子蜜丸，黍米大，空心吞下。</p>
<p>一方：榧子留內皮爛搗，和清，望前連服。</p>
<p>一方：蚯蚓糞燒　浸水，去滓，溫服，止痛。</p>
<p>寸白蟲、苦楝根亦主之。一方，服榧子（服法上同）。</p>
<p><u>乳香散</u></p>
<p>（小兒曲腰亂啼無淚，面青白，唇黑股冷，或大便色青不實，盤腸內吊為□）</p>
<p>乳香、沒藥各少許，油研。另取木香一塊，於乳缽內磨水。</p>
<p>一方：滾數沸調乳、沒末服之，立效。</p>
<p>一方：急煎蔥白，淋洗腹部。又蔥熨臍腹，良久尿出痛止。</p>
<p>如上下腹痛，川楝肉（炒）一、二錢煎服。</p>
<p>如環腹痛，酸棗仁（去皮尖，炒研）一、二錢煎服。</p>
<p>如小兒有　疝，下焦觸冷，疝氣上升而腹痛，川楝肉（炒）、茴香（豬膽汁炒）各一錢，乾薑（炒黑）三分煎服，奇效。</p>
<p>疝，睪子浮火，碧梧桐葉濃煎溫洗，極驗。</p>
<p><u>石膏平胃散</u></p>
<p>（小兒飲乳後即發痛者，蓋乳母胃熱之致，令乳母宜服此劑）</p>
<p>蒼朮　陳皮　厚朴（薑炒，各一錢）　石膏（　、炒，三錢）　草龍膽（酒洗，一錢）　甘草（炙，七分）</p>
<p>如乳母過食魚肉油膩之物，加前胡一錢，黃柏（酒炒）七分。</p>
<p>如乳母過食生冷，去石膏、龍膽草，加乾薑（炮）一錢，砂仁（碎炒）七分。</p>
<h2>腹脹</h2>
<p>（腹疳見疳積門。此症由脾胃虛氣攻而作也）</p>
<p><u>消脹散</u></p>
<p>（此方治兒脹之聖劑。累試輒效）</p>
<p>蘿卜子　蘇梗　干葛（各七分）　陳皮　白朮　枳殼（麩炒）　甘草（各五分）</p>
<p>如氣虛，加人參二、三分。</p>
<p>如氣急，加蘇子、葶藶子各五分，沉香三分。去白朮（蓋白朮能閉氣故也）。</p>
<p>如引飲，倍入干葛，加天麻粉七分。</p>
<p>如發熱，加山梔子（炒）、黃連（酒炒）、前胡各五分。</p>
<p>如泄瀉，加白芍藥（酒炒）、砂仁（碎炒）各五分，木香三分。</p>
<p>如小便不通，加木通（去節，一錢）、滑石（五分）。</p>
<p>如飲食停滯，去白朮加神麯、山楂肉（薑炒）各五分。</p>
<p>如惡寒手足冷，加官桂五分。</p>
<p>如腰上浮腫，加藿香五分。</p>
<p>如腰下浮腫，加牛膝五分、黃柏（炒，三分）。</p>
<p>如脅痛面黑（是氣鼓），去白朮加青皮五分。</p>
<p>如脅滿，小腹脹痛，身上有血線（是血鼓），加當歸、芍藥（酒炒）各七分，牡丹皮、紅花各三分，去白朮。</p>
<p>如噯氣作酸，飽悶腹脹（是食鼓），加山楂肉（炒）、神麯（薑炒）、半夏（炒）各七分，去白朮。</p>
<p>如飽腹脹滿，有塊如鼓（是痞鼓），加山楂肉（炒）、神麯、半夏（炮，薑炒）、當歸尾、鱉甲、山棗仁、玄胡索（醋炒）各七分，青皮三分，去白朮。</p>
<p>如因胎腫，毒瓦斯入腹成脹，加連翹、牛蒡子、荊芥穗、茹片各七分。</p>
<p>如因瘧母成脹，加柴胡、鱉甲、玄胡索（醋炒）各七分，檳榔、厚朴（薑炒）各三分。</p>
<p>如觸濕成脹，加木通（去節，一錢），蒼朮（七分），澤瀉（五分）。</p>
<p>如疳積成脹，加山楂肉（炒）、神麯（薑炒）各七分，黃連（薑炒）、青皮各五分。</p>
<p>如氣鬱成脹，加香附子（便炒）、厚朴（薑炒）各七分。</p>
<p>凡浮脹，總作虛治之，以參、朮為君，陳皮、茯苓為臣，黃芩、麥門冬為使，少加厚朴、大腹皮，以消脹氣。氣陷，加升麻、柴胡各三分，提之為妙，以治腫脹之大經大法也。</p>
<p>如虛脹，胡椒、全蠍各四十九個作末，糊丸粟米大，米飲下七、八丸，名榻氣丸。</p>
<p>如頭熱腹脹而足冷者，脾風之候，補脾益真湯主之。</p>
<p>如形瘦腹飽，青絡滿腹者，脾疳也，肥兒丸主之。</p>
<h2>吐瀉</h2>
<p>（吐瀉泄黃，傷熱乳也，玉露散主之）</p>
<p><u>玉露散</u></p>
<p>（兼治暑月吐瀉，身熱煩渴）</p>
<p>石膏　寒水石（並　，各五錢）　生甘草（一錢）</p>
<p>為末，米飲調下。</p>
<p>此方與辰砂益元散相似，隨材所有用之可也。暑月則生脈散和此方服之為妙。</p>
<p>如吐瀉泄青，傷冷乳也，益元散主之。（方見上保元湯下注）</p>
<p>如吐瀉，昏睡露睛者，胃虛熱也，錢氏白朮散主之。</p>
<p>如昏睡不露睛者，胃實熱也，辰砂益元散主之。</p>
<p><u>辰砂益元散</u></p>
<p>滑石（六錢）　辰砂　甘草（炙，各一錢）　砂仁（炒，一錢）</p>
<p>煎湯和服，此方尤妙。</p>
<p>如吐驟或瀉完穀者，傷風甚也（風木侵脾土故也）。益元散加柴胡、防風各七分，青皮三分服之。（方見上保元湯下注）</p>
<p><u>燒針丸</u></p>
<p>（治吐瀉不止，危甚。兼治或吐或瀉）</p>
<p>黃丹　朱砂　枯礬等分為末，棗肉作丸，芡實大。每一丸串針頭燒燈焰存性作末，米飲調下。此方清鎮，專主吐瀉，極妙。</p>
<p>如經年吐乳，眼慢，糞穢有筋膜者，乃父母交感時吃乳所致，名曰交情吐奶，益黃散主之。（方見保元湯條）</p>
<p>余孫兒生七歲，多吃紫桃數升許，腹飽如鼓，未幾大吐，即吃白粥半器。又盡吐之數升，食頃之間，大吐五、六次，面色青黑，手足搐搦，狀如將發慢驚者然。急煎人參一錢和牛黃一分飲之，入口即吐，吐即又飲之，合服人參一兩二錢，牛黃一錢，然後僅僅止吐，遂連飲參茶，漸得回蘇，因以完復。今既長成，若非參、黃之力何能保其生耶？養幼之家，不可不預備參、黃，以濟非命之夭也。</p>
<p>如早為直坐，胃弱氣陷，泄痢頻數，保元東加黃連（酒炒）、砂仁（炒）各七分，升麻三分服之。</p>
<p>如便色青白黃沫，變易無常者，乃疳痢也。至聖丸主之，或作湯溫服亦可。</p>
<p><u>至聖丸</u></p>
<p>使君子（面煨）　陳皮　木香　厚朴（薑炒）　肉豆蔻（泡煨去油）　丁香皮（各一錢）</p>
<p>神麯糊丸。</p>
<p>如赤痢膿血，腹痛，黃芩、白芍藥（酒炒）各一錢半，甘草一錢。</p>
<p>如虛滑，固腸丸主之，樗根白皮（焙乾為末），粥丸梧子大。</p>
<p>一方：久遠泄痢，陳曲末和清，早朝空心服。（血痢尤效）</p>
<p>如白痢，益元散主之。虛弱之兒，人參茶調服。</p>
<p>如赤白痢交雜，或下膿血如爛肉汁，黃連阿膠丸主之。</p>
<p>黃連（酒炒）、阿膠珠、山梔子（薑炒）、黃柏（酒炒）各一錢，桂心五分。</p>
<p>如諸泄痢，滑石、硫黃為末，蜜水調服，立效。</p>
<p>如兼吐，加砂仁（碎炒）、藿香（酒洗）各三、四分。</p>
<p>如頭熱嘔吐而足冷，或頭熱泄瀉而足冷者，脾風之候也，補脾益真湯主之。</p>
<p>大抵吐瀉，總作虛熱治之，必以參、　為主材可也。暑痢、暑泄，黏米半生半熟，黃土水入地龍十余個，爛烹去滓飲之尤妙。和清亦可。</p>
<p>小兒泄瀉大甚，閱月不止，肉脫難救，脫殼田螺炙而服之，則瀉止。生服治瀉肉脫，兒之神方。</p>
<p>小兒及壯老赤白泄痢，海衣細末和清服之。</p>
<p>泄痢忍冬藤（炒去皮），長二寸許二握及棗七枚，濃煎和清服之。</p>
<p>久泄不止，木通湯使乳母服之。木通（去節）三錢，白茯苓二錢半，山梔子（研、炒黑）二錢，澤瀉、車前子（炒研）各一錢，肉桂五分，甘梢三分。病兒則木通一錢，白茯苓七分，山梔子、澤瀉各五分，車前子三分服之，滲利小便則瀉自止矣。</p>
<p>赤白痢，狗頭髓及生梨汁，生清和服為妙。</p>
<h2>脫肛</h2>
<p>（因虛而夾熱，縮砂散主之）</p>
<p><u>縮砂散</u></p>
<p>砂仁（碎炒）　黃連（薑炒）　木賊等分，米飲調下。</p>
<p>一方：五倍子作末，和油塗之。</p>
<p>一方：鱉頭燒存性和真麻油調敷之。</p>
<p>一方：田螺爛搗塗之，奇效。又田螺燒存性塗之云。</p>
<p><u>猾皮散</u></p>
<p>（因泄痢努力脫肛，此方主之）</p>
<p>猾皮　鱉甲（並燒存性）　磁石（煨，醋淬，研，各五錢）　桂心（三錢）</p>
<p>米飲調下。</p>
<p>一方：枳殼五、六錢煎湯，溫洗肛門，五倍子作末，和蜜塗之。</p>
<h2>下疳瘡</h2>
<p>（腹際兩陰間小腫或赤爛）</p>
<p><u>消疳敗毒散</u></p>
<p>柴胡　黃柏　赤芍藥（酒炒）　赤茯苓　木通（去節）　草龍膽（酒洗）　連翹　荊芥穗　黃連　蒼朮　知母（酒炒）　防風　獨活　甘草（各三分）　燈芯（少許）</p>
<p>一方：蛇床子煎湯，頻洗瘡處，雞子黃作油塗之，以瘥為度。</p>
<p>一方：雞卵油和石雄黃末，塗之為妙。</p>
<h2>痔疾治方</h2>
<p>一方：碧梧桐皮煎湯，洗痔瘡為妙。</p>
<p>一方：生螳螂爛搗，敷瘡處。</p>
<p>一方：田螺爛搗，炙火，敷瘡處極妙。</p>
<h2>大便不通治方</h2>
<p>朱砂（水飛）　南星（炮制）　巴豆霜等分為末，糊丸黍米大，薄荷湯和下一、二丸即通。如無巴豆霜，代入大黃（酒煨），加皂角刺等分。</p>
<p>一方：朱砂、滑石並作末，和蜜服之。</p>
<p>一方：香油一盅子，去冷，飲二、三次即效。</p>
<h2>小便不通治方</h2>
<p>急取生地龍數條，蜜少許，同研，敷陰莖上。又蠶退紙燒灰，朱砂、龍腦、麝香各少許，麥門冬、燈芯煎湯，調灌口中即通。如無腦、麝代入木通（去節）、赤茯苓、生地（酒炒），三味煎湯，只調朱砂，服之亦可。</p>
<p>一方：鵲腦髓和清，酒服之。</p>
<p>如大小便俱不通，蔥白汁、乳汁各半匕調勻，抹兒口中，即吮乳乃通。</p>
<h2>疳積</h2>
<p>（廿歲以下疳，廿歲以上勞）</p>
<p>腦疳，頭皮光急，頭發作穗，或有瘡腫至囟，囟腫則多損眼。腦熱如火，囟腦高，遍身多汗也。</p>
<p>脊疳，蟲蝕脊膂骨如鋸齒，拍背如鼓鳴，十指背生瘡，頻咬爪甲，煩熱黃瘦也。</p>
<p>走馬疳，蝕齒齦，口瘡出血，鼻氣，齒黑脫落，囟有穴者，名曰走馬，蓋陽明熱氣奔如馬也。</p>
<p>無辜疳，腦後有核，初生軟而不覺痛，其中有蟲如米粉，不速破去，則熱氣漸長，蟲隨氣血流散，侵蝕臟腑，黃瘦頭大，手足細弱，遂至於死也。（古方天有鳥，名曰無辜，晝伏夜游，兒家洗浣衣繃，露天經宿，或遇此鳥飛過，落羽所污，而與兒穿動，令有此疾也）</p>
<p>丁奚疳，腹大頸細，黃瘦是也。丁者，手足與項極小伶仃也。奚者，腹大也。甚者，尻高肉削，臍突胸滿，愛吃生米、土炭等物也。</p>
<p>哺露疳，虛熱往來，頭骨分解，反食土蟲，煩渴嘔噦，骨瘦　露形也。蓋諸疳皆因脾胃久虛，形體瘦削而發也，並宜十全丹。</p>
<p><u>十全丹</u></p>
<p>陳皮　青皮　蓬朮（此材太峻，宜去之，代入玄胡索）</p>
<p>川芎　五靈脂　白豆蔻　檳榔　蘆薈（各五錢）　木香　使君子（各二錢）</p>
<p>上為末，以豬膽汁浸糕和丸麻子大，米飲下二、三十丸。</p>
<p>如虛甚，加人參一錢。</p>
<p>如冷疳，至聖丸（方見上）主之，兼治諸疳泄痢。</p>
<p>如熱疳，五福化毒丹（方見上）主之。</p>
<p><u>肥兒丸</u></p>
<p>（此方消疳化積，磨癖清熱，伐肝補脾，進食殺蟲也）</p>
<p>胡黃連（五錢）　使君子（四錢五分）　人參　黃連（薑炒）　神麯　麥芽（炒）　山楂肉（各二錢半）　白朮　白茯苓　甘草（炙，各三錢）　蘆薈（煨，二錢半）</p>
<p>上為末，黃米糊和丸綠豆大，米飲下二、三十丸。</p>
<p><u>消食丸</u></p>
<p>（通治五疳，殺蟲退熱，磨積進食。五疳，五腸之疳也）</p>
<p>使君子　草龍膽　麥芽（炒）　陳皮　蕪夷　神麯　黃連　山楂肉（各等分）</p>
<p>上陳米飯和丸黍米大，米飲下二、三十丸，或作煎湯亦可。</p>
<p>諸疳。蛇脯作丸服之最妙，有驗。</p>
<p>齒疳。土鼠干肉作末和清，塗之為妙。</p>
<p>一方：蛇膽塗之亦效。</p>
<h2>瘧母</h2>
<p>（寒熱往來，一日一發，或間日一發者，瘧母之夾也。左脅下如覆杯者，乃瘀血夾濕痰，清肝湯主之）</p>
<p><u>加味清肝湯</u></p>
<p>（左脅屬肝，肝經濕熱，夾瘀血而結成瘧母）</p>
<p>柴胡　山梔子（炒）　川芎　當歸　白芍藥（酒炒）　鱉甲（醋炒，各七分）　玄胡索（五分）　檳榔　青皮　甘草（各三分）</p>
<p>上服二、三帖，以瘥為度。而三帖無效，又服可也。</p>
<p>如氣弱，加人參二、三分。</p>
<p><u>柴胡二陳湯</u></p>
<p>（治右脅下覆杯，如痰飲成瘧者也）</p>
<p>柴胡　陳皮　半夏（炮干，炒）　赤茯苓　鱉甲（各七分）　玄胡索（五分）　檳榔　青皮　甘草（各五分）</p>
<p>如氣弱，加人參二、三分。</p>
<p>如痰癖，加何首烏五分。</p>
<p>一方：朱砂、檳榔、石雄各三分為末，牟甘酒調和，當日飲之則神效。（此方治鱉瘧）</p>
<p>一方：患瘧母黃瘦，地鼠肉或炙或烹食之。</p>
<p>一方：小兒老瘧，松寄生一、二錢煎服之。</p>
<p>一方：丁香一錢半，草果（面炮煨）一錢，巴豆霜一分許。（小兒瘧疾久不瘥者，服此極驗）年壯瘧疾，材倍入，更加乾薑五片可也。（此名丁香散）</p>
<p>竊觀俗人輕視此症，先試章門針灸，次飲雜藥，頗多得效。第章門近於血幕，而不能明知穴處，誤加針刺，血流如射，則欲為止血而艾灸其上，則血不得外流而內涌聚結，仍成內腫，曾多見之。或章門灸處觸風成瘡，終未完合，仍為致夭者，間亦有之。或飲峻毒單方，漸至戍削骨立，不至成長，亦或有之。此保幼之家，所當深戒，須忌針灸及毒藥，制此和平之藥（如丁香散之類），久服則萬無不效之理，且切禁生冷之飲可也。</p>
<h2>黃瘦</h2>
<p>（小兒無指的形症，而自然黃瘦，乃傷於乳食也，肥兒丸主之）</p>
<p><u>養元粥</u></p>
<p>蓮實肉　山藥　薏苡仁　硬米等分為末作粥，常常服之，加入砂糖為妙。</p>
<h2>痰厥</h2>
<p>（痰隨氣火而上升成厥也）</p>
<p><u>夏術天麻湯</u></p>
<p>（治痰厥，脾胃虛弱，頭痛如裂，身重如山，四肢厥冷，嘔吐眩暈，目不敢開，如在風云下）</p>
<p>半夏曲　陳皮　麥芽（炒，各一錢）　白朮　神麯（薑炒，各七分）　人參　蒼朮　黃　（蜜炙）　天麻　白茯苓澤瀉（各五分）　黃柏（酒炒，二分）　乾干（三分）　薑（三片）</p>
<p>如瘦人多火血燥，去蒼朮、澤瀉，加當歸、白芍藥（酒炒）各七分為妙。半夏性燥，不可久服，代入貝母一錢。枳實，治痰有衝牆倒壁之功，宜加五、六分。</p>
<p>如火降則痰自消，加山梔子五分。（山梔能降火，從小便出故也）</p>
<p>如氣降則痰自下，加烏藥、附子各五分。</p>
<p>如脾胃虛弱，倍入參、　加白豆蔻（面炮煨）三分。</p>
<p>如腹痛如裂，加白芷五分，川芎、細辛各三分。</p>
<p>如身重如山，倍入澤瀉、乾干。</p>
<p>如嘔吐甚，加藿香（酒洗）、砂仁（碎，炒）各五分。</p>
<p>如眩暈甚，倍入天麻，加川芎五分。</p>
<p>如四肢厥冷，加官桂五分。</p>
<p>白附子能引諸藥上行頭部，且有引痰之力，痰在頭部者，非白附不能除，治痰厥者，宜略入二、三分可也。新得此症者，以行氣降火消痰為主，久者以補氣血，順氣為主可也。</p>
<p>如頭痛如裂，灸百會、上星各五壯，針太淵、列缺，瀉。凡痰疾，吐為上，宜服雀舌茶，探吐甚妙，但虛弱之人不可試。余兒時患急驚，多服諸方而持久不瘥。過九歲後轉成痰厥，頭痛如碎，眩暈亦甚，多服導痰之劑而終未見效，漸至戍削肉脫骨立。余想痰厥之治未暇論，而血氣枯竭似難枝梧，遂服八物二陳湯五十余帖，肌膚稍勝，病勢自減，得免為病廢之人。古云：正氣實則邪氣退者，此之謂也。</p>
<h2>中風</h2>
<p>（凡風漸多，因濕痰乘虛流注，氣血壅滯，而宜先用順氣飲，以通血道，然後繼用本藥為可）</p>
<p><u>烏藥順氣散</u></p>
<p>（治四肢骨節痛，肢體頑，手足癱瘓，言語蹇澀，筋脈拘攣）</p>
<p>烏藥（去皮心，酒洗）　麻黃　陳皮（各一錢）　川芎　白芷　白僵蠶　桔梗　枳實（去穰麩炒，各七分）　乾薑（炒）　甘草（各一兩）　薑（三）　棗（三）</p>
<p>元氣先虛後受風，宜加人參三、四分。</p>
<p>風非大汗不能除，麻黃（去節及根），加荊芥穗三、四分。</p>
<p>如有虛汗，去麻黃加黃　（生用）七分。</p>
<p><u>加減疏風湯</u></p>
<p>（治手足不仁，或強直，或柔軟）</p>
<p>羌活　防風　陳皮　赤茯苓　半夏（泡，薑炒）　烏藥（去皮心，酒炒）　香附子（便炒）　細辛　甘草（各五分）</p>
<p>如左臂不仁，加當歸、川芎各五分，薄桂三分，竹瀝、薑汁各半匙。</p>
<p>如強直，加麻黃（去節）五分。</p>
<p>如柔軟，加白僵蠶（去觜，薑炒）五分。</p>
<p>如左腳不仁，加川芎、當歸、獨活各五分，桂皮三分。</p>
<p>如右臂不仁，加白朮五分，人參、薄桂各三分，竹瀝、薑汁各半匙。</p>
<p>如右腳不仁，加人參三分，白朮、獨活各五分，桂皮三分。</p>
<p><u>加減養榮湯</u></p>
<p>（治半身不遂，屬血虛夾濕痰）</p>
<p>當歸　白芍藥（酒炒）　川芎　干地（薑炒）　陳皮　半夏（薑泡，炒）　羌活　獨活　防風　軟芩（酒炒）　柴胡烏藥（去皮心，酒炒）　甘草（各五分）　竹瀝　薑汁（各半匕）</p>
<p>左邊雖屬血，然血隨氣而行，略加人參二、三分，以通氣道為可。</p>
<p>如猝然語訥，風中舌本，加麥門冬五分，遠志（薑炒）、細辛、石菖蒲、犀角各三分。</p>
<p>如無汗惡寒，倍入防風，加麻黃（去節）、杏仁（去皮尖，研）各五分。</p>
<p>如有汗惡風，加杏仁五分，桂枝三分。</p>
<p>如六經混淆，指節攣痛，倍入羌活加連翹五分。</p>
<p>如一身俱麻，加人參、白朮、麥門冬各五分。</p>
<p>如遍身疼痛，倍入當歸，加乳香、沒藥各五分，官桂三分。</p>
<p>如痛在上者，屬風，倍入羌活、威靈仙五分。</p>
<p>如痛在下者，屬濕，加牛膝、木通（去節）、漢防己各五分，黃柏（酒炒）二分半。</p>
<p>如腰膝流注疼痛，倍加當歸、甘草，加硝石、車前子、海金沙各五分。</p>
<p>如痰氣壅盛，加南星（炮制，薑炒）、木香各三分。</p>
<p>如手足搐搦，倍入羌活、防風，加山梔（薑炒）、白僵蠶（薑炒）各五分。</p>
<p>如左癱，倍入當歸、川芎。</p>
<p>如右瘓加人參、白朮各五分，全蠍（薑炒）三分。</p>
<p>如久患癱瘓，加天麻、南星（炮，薑製）、木香各五分，倍入當歸、羌活、防風。</p>
<p>如肌肉蠕動，倍入羌活。</p>
<p>如口眼　斜，倍入羌活、防風加全蠍（薑炒）、荊芥穗、忍冬藤各五分。</p>
<p>如口噤，加乳香五分。</p>
<p>如大寒後，加柴胡五分、人參三分。</p>
<p>如孟夏之月，加石膏（　）、軟芩（酒炒）各五分、知母（酒炒）三分。</p>
<p>如季夏之月，加白朮、白茯苓、漢防己（酒洗）各五分。</p>
<p>如大暑之後，加藿香（酒洗）五分，厚朴（薑炒）、肉桂各三分。</p>
<p>如霜降之後，加當歸五分，肉桂三分，附子（泡制）一分半。</p>
<p>如勞汗當風，汗出為　，郁乃痤，倍入當歸、白芍藥。</p>
<p>如癮疹，加麻黃（去節）五分，荊芥穗三分，蔥白三莖。</p>
<p>如小便淋閉，加滑石、連翹各五分，木香三分。</p>
<p>如咳嗽喘急，加桔梗、紫菀各五分。</p>
<p>如頭旋腦熱、鼻寒瀉涕，加黃連（酒炒）五分、薄荷三分。</p>
<p><u>人參敗毒散</u></p>
<p>（治表症頭痛，壯熱惡風及風痰咳嗽，鼻塞聲重，瘟疫發毒，頭面腫痛，痢疾發熱，諸般瘡毒，小兒驚，痘疹）</p>
<p>羌活　獨活　柴胡　前胡　桔梗　川芎　赤茯苓　人參　枳殼　甘草（各一錢）　薄荷（少許）　薑（三片）</p>
<p>凡未經痘疹之兒，勿論壯弱，俱宜服此。預消胎熱腫毒，最妙加防風、荊芥穗、天麻、地骨皮、連翹各七分。</p>
<p>如瘦兒多火血燥，加當歸、白芍藥（酒炒）各一錢。</p>
<p>如肥兒多濕，加白朮、澤瀉各七分。</p>
<p>如痰多，加貝母一錢，枳實五分，甚則合小調中湯。</p>
<p>如腎虛，加熟地一錢，知母、黃柏（並鹽水炒）各五分。</p>
<p>如引飲，加天花粉、天門冬各一錢，知母、乾干各五分。</p>
<p>如頭面多瘡癤，加連翹、防風各七分。</p>
<p>如遍身皮風腫癢，加連翹、防風、荊芥穗、白蒺藜（去刺）各一錢。</p>
<p>如濕瘡多發，加荊芥穗、葛根、蒼朮、白朮、澤瀉各七分。</p>
<p>如素多風熱，加葛根、升麻各一錢。</p>
<p>如氣火上升，時時面赤，加香附子、烏藥各七分，玄參、知母、乾干各五分。</p>
<p>如下焦虛冷，加肉桂、乾干各五分。</p>
<p>如有怔忡，加麥門冬、酸棗仁（另炒）各一錢。</p>
<p>如左脅下有動氣，加山梔、草龍膽各一錢。</p>
<p>竊觀小兒，十歲前未破陰而有純陽之氣，故不待服藥而善行痘疹，或未免夭者，皆因胎熱乘時肆毒之致。近來鄉鄙罕入痘疹，年長之後，戕賊血氣者得嬰此病，則真元已虛，熱毒郁結，安能善為起泡而收靨乎？恨余不曾早學此理，而獨子夭折於此疾，竟抱無涯之戚矣。所聞有一古醫，以此方預服未痘之人，無一不效云。今見列方則解熱消毒，莫此為妙。其言不誣。</p>
<p>如臂痛，加薄桂、蒼朮各五分，紫蘇葉三分。</p>
<p>如腳膝浮腫，倍入獨活加牛膝五分。</p>
<p>如腰痛，加牛膝、杜仲（鹽炒）、八角茴香（酒浸，炒）各五分。</p>
<p>如眼眩，加細辛、細茶各三分。</p>
<p>如四肢冷痹，加官桂五分、附子（炮制）一分半。</p>
<p>如胸膈脹滿，加枳實（麩炒）、莪朮（醋炒）各三分。</p>
<p>如虛汗，加生黃　五分。</p>
<p>如賊風，加荊芥穗、薄荷各三分，倍入羌活、獨活。</p>
<p>如中寒，加乾薑（炮）五分，大附子（炮制）一分半。</p>
<p>中風口噤咽穀，或針或灸。</p>
<p><u>加味六君子湯</u></p>
<p>（治右半身不遂，屬氣虛夾濕痰）</p>
<p>白朮　白茯苓　人參　陳皮　半夏（炮，薑製）　羌活　獨活　防風　軟芩（酒炒）　升麻　烏藥（去皮心，酒洗）</p>
<p>甘草（各五分）　竹瀝　薑汁（各半匕）</p>
<p>右邊雖屬氣，然風行於血絡，故補血則風自消，宜加歸芍一、二味可也。</p>
<p>如全身不遂，屬氣血俱虛夾濕痰，上二劑（養榮湯、君子湯）合服，名曰加味八物二味湯。</p>
<p><u>六味丸</u></p>
<p>（治中濕，下部無氣，坐地不遷）</p>
<p>熟地（薑炒，四兩）　山藥　山茱萸　白茯苓（各二兩）　澤瀉　牡丹皮　蒼朮（各一兩）　白僵蠶（七錢）　黃柏（酒炒，三錢）</p>
<h2>疊指</h2>
<p>（小兒疊指者，乃所屬經絡之虛，而風濕流注之致，宜用祛風湯，預防風漸可也）</p>
<p><u>加減祛風湯</u></p>
<p>當歸　防風　獨活　陳皮　白芍藥（酒炒）　白朮　烏藥（去皮心，酒洗）　甘草（各五分）</p>
<p>如足拇指次指相疊，加山藥，黃　（薑炒），川芎、草龍膽（酒炒）、柴胡各五分，澤瀉、青皮各三分，人參二分半，附子（炮制）一分半。</p>
<p>如足中指、次指相疊，加山藥、黃　（薑炒）、熟地（薑炒）各五分，肉桂、澤瀉各三分，黃柏（酒炒）二分半，附子一分半。</p>
<p>如足中指、第四指相疊，加熟地、山茱萸、酸棗仁（另炒）各五分，草龍膽、澤瀉各三分，黃柏二分半，附子一分半。</p>
<p>如足第四指、五指相疊，加山茱萸、酸棗仁各五分，益智仁、澤瀉各三分，黃柏二分半，附子一分半。附子雄壯之資，有斬關奪將之勢，驅散在表之風寒。況其無經不入，下至指節者乎，治風家宜略入二、三分，藉其通行指節之力可也。</p>
<p>足五指無氣而曳地者，氣虛夾濕而然，加參、　、獨活、澤瀉。</p>
<p>足後跟無氣而曳地者，氣虛夾痰而然，加參、　、二陳之屬。</p>
<p>破傷風。魚膠燒存性，作末，和溫酒服之。角弓反張亦治之。</p>
<p>一方：紫檀香或白檀香，及黃蠟同煎服之，極效。</p>
<h2>龜背</h2>
<p><u>松蕊丹</u></p>
<p>松花　枳殼（麩炒）　防風　獨活（各一兩）　麻黃　大黃（酒煨）　前胡　桂心（各五分）</p>
<p>蜜丸黍米大，飲下。</p>
<p>脊骨夾濕，則大筋縮短，夾熱則小筋弛張，宜加生地（干炒）、漢防己、蒼朮各五錢，澤瀉三錢，黃柏（酒炒）</p>
<p>一錢半。</p>
<h2>龜胸</h2>
<p><u>百合丹</u></p>
<p>大黃（酒煨，七錢半）　天門冬　杏仁　百合　木通（去節）　桑白皮　枳殼　甜葶藶　石膏（　，各五分）</p>
<p>蜜丸，白湯下。</p>
<p>有一兒，胸骨突起，已成龜胸，疳積相因，痰飲膈結而然，服肥兒丸數三劑而愈。</p>
<p>龜胸、龜背、蛇脯作丸大，服而愈。</p>
<p><u>調榮活絡湯</u></p>
<p>（治腰脊觸傷或折）</p>
<p>當歸　川芎　赤芍藥（酒炒）　生地（干炒）　羌活（各七分）　牛膝（五分）　桃仁（去皮尖，研）　大黃（酒煨）　桂枝　紅花（各三分）</p>
<h2>解顱</h2>
<p>（由疳熱而成）</p>
<p><u>三神散</u></p>
<p>乾薑（炮，七錢半）　細辛　桂心（各五錢）</p>
<p>上為末，薑汁調敷顱上。</p>
<p>囟填腫突出，則瀉青丸主之，砂糖水調下。</p>
<p>囟陷成坎，黃狗頭骨炙黃為末，雞子清調敷之。</p>
<p>囟門不合，灸臍中上下三壯。</p>
<h2>五軟</h2>
<p><u>健骨散</u></p>
<p>（治頭項軟、腳軟、手軟、身軟、口軟）</p>
<p>白僵蠶（去嘴炒，為末，五分或一錢）　薄荷（泡）　酒調下三次。如五硬，烏藥順氣散主之（方見中風）。</p>
<h2>眼病</h2>
<p><u>補肝散</u></p>
<p>（治肝虛風熱上攻癢痛，或圓翳在黑珠上昏花）</p>
<p>柴胡　白芍藥（酒炒）　熟地（干炒）　白茯苓（各五分）　甘菊　細辛　柏子仁　防風　甘草（各三分）</p>
<p>如肝經太虛，加羊肝作末一錢，調服酸棗仁（另研）、決明子（酒蒸研）各五分。</p>
<p>如見五花或一物二形，加羚羊角，人參、羌活、玄參、車前子各三分。</p>
<p><u>撥雲散</u></p>
<p>（治　膜、多淚、癢痛）</p>
<p>羌活　防風　柴胡（各七分）　甘草（五分）</p>
<p>目得血而能視，加當歸、熟地（干炒）各五分。</p>
<p>如熱甚，加黃連（干炒）、草龍膽各五分。</p>
<p>如風熱壅盛，倍入防風，加荊芥穗五分。</p>
<p>如左眼　膜，合四物湯，如右眼　膜，合四君子湯。</p>
<p>如精彩不足，加人參、熟地（干炒）、草龍膽（酒炒）各五分。</p>
<p>如腎虛，加熟地（干炒）七分，知母（鹽水炒）三分；如赤腫，加連翹七分。</p>
<p>如白睛紅，加白豆蔻（面煨）五分。</p>
<p>如上下瞼赤腫，加蒼朮、升麻、山梔子（酒炒）、陳皮各五分，厚朴（干炒）三分。</p>
<p>如眼胞及眼下如炭煙熏黑者，痰也。加半夏（炮干，制）、貝母（干制）各五分，青皮二分。如心神亂而不守，卒然見非常之怪，若邪中其睛則精散視歧，加人參五分，麥門冬、酸棗仁（另炒）、白茯神、決明子（酒蒸）各七分，青葙子五分，蟬蛻二分半。</p>
<p>如脾虛則五臟精氣皆失所司，不能歸明於目，加白朮、人參、山藥各五分。</p>
<p>如瞳子散大則青　之，漸加黃連、黃芩（並酒炒）、當歸身、生地、天門冬各五分，地骨皮、五味子各三分。</p>
<p>如羞明怕日，加蜜蒙花五分。</p>
<p>如起倒睫加細辛五分。</p>
<p>如起拳毛加麻子五分。</p>
<p>如治目瘡，加荊芥穗五分。</p>
<p>如多淚，倍入防風加蘇葉三分。</p>
<p>如疼痛加黃　、白芷各五分。</p>
<p>如癢甚，加白蒺藜五分。</p>
<p>如青盲，加人參五分，決明子、青葙子各七分，蟬蛻、升麻各三分。</p>
<p>如諸　膜，加決明子、草龍膽各七分，木賊、蟬蛻各三分，人參一、二分。</p>
<p>如翳目瞳子上始者，屬腎、膽，加草龍膽、玄參各五分，知母、黃柏（並鹽酒炒）各三分。</p>
<p>如翳目白睛上始者，屬肺，加桔梗、山梔子各七分。</p>
<p>如翳目白黑間始者，屬脾，加山梔、升麻、黃連（酒炒）各五六分。</p>
<p>如翳目黑睛上始者，屬肝，加黃連、草龍膽、青皮各五六分。</p>
<p>如翳目內　始者，屬膀胱、大腸，加山梔、連翹各七分，知母、芒硝各三分，木通七分。</p>
<p>如翳目外　始者，屬膽、小腸，加黃芩（酒炒）、草龍膽、木通各七分，大黃（酒煨）二分。</p>
<h2>雀目</h2>
<p>（因心血不足、肝金倀受，或土氣有餘而侮其不勝木，高風上升之致，宜四物湯主之）</p>
<p><u>加味四物湯</u></p>
<p>當歸　生地（干炒）　白芍藥（酒炒）　川芎　陳皮　蒼朮　厚朴（干炒，各五分）</p>
<p>如高風，加羌活、白芷各五分。</p>
<p>如小兒過食，脾胃受傷，亦發此症，消食丸主之。</p>
<p>雀目，手大指爪甲後第一節橫紋中向上針一分許（小兒及壯者，皆神效），又橫紋頭內側白肉際灸三、四壯亦效。</p>
<p>一方：碧魚爛烹，熏其熱臭，亦效。</p>
<p>兩目猝浮不能開，見濁汁流出，瀉青丸加貝母、蒼朮、草決明、人參、桑白皮，或作湯服之亦可。</p>
<p>有一兒左上唇上結核，一宿核移左腮，又一宿核移左目，上胞因疼痛大浮如拳，目睛以此突然突出如瘤症，大如木瓜塊，余命以石膏平胃散加草決明一錢，人參、青皮各五分，服十余帖而愈，人皆異之。</p>
<p>如眼被撞刺，有血痕，因生翳膜，輕效散主之。柴胡、當歸、赤芍藥（酒炒）、大黃（酒煨）、犀角各一錢，甘草五分。</p>
<h2>夜啼（附咳喘）</h2>
<p>（小兒夜啼不止，狀若鬼祟）</p>
<p><u>蟬花散</u></p>
<p>蟬殼下半截為末，初生兒炒一字，薄荷湯入酒小許，調下即止。或誤以上半截為末調服，則啼復如故，古人格物之妙如此。</p>
<p>一方：蟬蛻二七枚，去頭足為末，入朱砂一字，蜜調送下為妙。</p>
<p>一方：小兒達夜啼號，使其父負兒，持刀潛斫鄰家籬帶，勿使人知之，兒啼即止，然後潛還，系其斫帶，則永不啼。</p>
<p>如夫音聲嘶，清音散主之。</p>
<p><u>清音散</u></p>
<p>訶子皮（半生半炒，三錢）　桔梗（半生半炮，五錢）　甘草（半生半炙，二錢）　木通（半生半炙，三錢）</p>
<p>生地汁調下。此方，加天門冬、山藥、貝母、杏仁，潤補金經尤妙。</p>
<p>如天行咳喘，三拗湯主之。</p>
<p><u>三拗湯</u></p>
<p>麻黃　杏仁　甘草（各一錢）</p>
<p>劑留杏仁之皮尖，麻黃之根節，蓋以藉其毒而治痰止喘也。</p>
<p>如痰盛，加貝母（干制）七分。</p>
<p>如氣虛，加人參三、四分。</p>
<p>如感冒風寒，加柴胡五分，蘇葉三分。</p>
<p>如喘甚，加紫菀、款冬花各五分。</p>
<p>如痰盛喘甚者，氣降則痰化而喘止，蘇合丸和蜜服之，立效。</p>
<h2>變蒸</h2>
<p><u>惺惺散</u></p>
<p>（治變蒸傷於風寒發熱，痰嗽煩渴）</p>
<p>人參　白朮　白茯苓　桔梗　川芎　白芍藥（酒炒）　天花粉　甘草（各三分半）</p>
<p>如變症甚，加朱砂、全蠍各三分，麝香一字，以防驚風之候。</p>
<p>如感冒風寒，加柴胡、前胡、防風各二分半。</p>
<p>如傷風汗多，加生黃　五分。</p>
<p>如傷寒無汗，加蘇葉三分。</p>
<p>如喘甚，加貝母、杏仁各二、三分。</p>
<p>如便泄，加砂仁（炒）二、三分。</p>
<p>如有驚風，加酸棗仁（另炒）二分半。</p>
<h2>臍風（附旋螺風等）</h2>
<p>（小兒斷臍後為風濕所傷，面赤喘急，啼聲不出，其症臍腫奕奕，腹脹滿，日夜多啼，不能飲乳，甚則抽搐，口噤撮口，宜並宣風散主之）</p>
<p><u>宣風散</u></p>
<p>（治臍風撮口多啼，不能吮乳，口出白沫）</p>
<p>全蟬（二十一枚，酒炙）</p>
<p>為末，入麝香一錢和白，每取半字，以金銀器煎湯調下。</p>
<p><u>通心飲</u></p>
<p>（治旋螺風赤腫而痛，清心火、通小便、退潮熱）</p>
<p>連翹　木通　瞿麥　山梔仁　軟芩　甘草（各四分）</p>
<p>入燈芯、麥門冬同煎，服之最效。</p>
<p>保命散（治鵝口瘡不能吮）</p>
<p>枯礬　朱砂（各一錢）　馬牙硝（五分）</p>
<p>為末，取一字，用鵝糞白擂水調，塗舌上口內，日三次即效。</p>
<p>如胎熱流毒於心脾二經，舌強唇青，撮口聚面，白僵蠶二枚略炒為末，蜜調敷唇即效。</p>
<p>如重舌，或舌上下生瘡腐爛，通心飲加白僵蠶四分服之。</p>
<p><u>瀉黃飲子</u></p>
<p>（治口唇緊小，不能開合，或唇燥深裂無色，名曰重唇）</p>
<p>升麻　白芷　枳殼　軟芩　防風　半夏（薑炒）　石斛（各一錢）　甘草（五分）</p>
<p>如無石斛，代入犀角五分。</p>
<p>一方：黃連、黃柏作末，蜜調敷唇上。如齒疳蔓延，唇鼻俱腐，通心飲加石膏（　）四分服之。</p>
<p>一方：枯礬、青黛、人中白、五倍子、黃柏為末，蜜調塗之，以瘥為度。</p>
<p>咽喉浮塞症，干松茸沉溫水飲之或煎服。</p>
<h2>鼻淵</h2>
<p>（鼻流濁汁，甚則腦消，宜急治之）</p>
<p><u>防風湯</u></p>
<p>防風　片芩（酒炒）　川芎　麥門冬（各五分）　人參（二分半）　甘草（三分）</p>
<p>上方加連翹、玄參各五分尤妙。</p>
<h2>愛吃泥土</h2>
<p>（此症由脾胃虛熱所致，此脾疳也）</p>
<p><u>清胃養脾湯</u></p>
<p>石膏（一錢）　陳皮　白朮　赤茯苓　甘草　軟芩（酒炒，各二分）</p>
<p>一方：好黃土，黃連煎水，作餅晒乾，與吃即止。</p>
<h2>滯頤</h2>
<p>（口角流涎，曰滯頤）</p>
<p>冷涎，宜溫胃，丁香、益智仁煎服；熱涎，宜清胃，山梔、天花粉煎服；小兒常流清涎者，胃有蛔蟲之漸，苦楝根湯主之。</p>
<h2>齒久不生（附發久不生）</h2>
<p>（此由氣不足，芎黃散主之）</p>
<p><u>芎黃散</u></p>
<p>川芎　生地黃　當歸　山藥　白芍藥（各一兩）　沉香（五錢）　甘草（三錢）</p>
<p>為末，白湯調下，將干末擦齒上，日二次。（白湯調下，每五分）</p>
<p>發久不生，由血不足，蓯蓉丸主之。</p>
<p><u>蓯蓉丸</u></p>
<p>當歸　生地　肉蓯蓉　白芍藥（各一兩）　胡粉（五分）</p>
<p>蜜丸黍米大，每十丸，黑豆湯吞下，兼作餅敷頭。</p>
<h2>行遲</h2>
<p>六味地黃丸加鹿茸、牛膝、五加皮、五味子。如無鹿茸，代入白僵蠶亦可。</p>
<h2>語遲</h2>
<p>地黃丸加鹿茸、五味子、白僵蠶。如無鹿茸，代入枸杞子亦可。如四、五歲不言，足內踝尖各灸三壯。</p>
<h2>稀痘法</h2>
<p>（小兒須服稀痘方，以消胎熱之毒，則行痘時，痘顆稀少，且無諸般危證）</p>
<p><u>兔紅丸</u></p>
<p>臘月初八日，取生兔一只，取血以蕎麥面和之，少加雄黃三、四分，候干作末，丸綠豆大，乳汁送下。一歲兒五丸或七丸，三歲後十五丸。久服則遍身發出紅斑，即其驗也。有終身不出痘疹者，雖出亦稀少，小兒既長，以兔血啖之亦妙。臘月兔雖可用也，然終不若八月之佳。</p>
<p>一方：朱砂之於痘也，令密者可稀，稀者可無，黑陷者可起，痘癰者可消，略加三分於上丸，尤妙。但性寒不可多服。</p>
<p><u>獨聖丹</u></p>
<p>絲瓜近葉取三寸，連皮納於沙瓶中，以桑柴火燒存性為末，倍入砂糖搗成餅，時時與兒，吃盡為佳。服此則痘顆之多者可少，少者可無，重者可輕。一方云：和朱砂少許為妙。</p>
<p><u>服梅花法</u></p>
<p>臘月取梅花，不拘多少，陰乾為末，煉蜜丸芡實大，每一丸好酒化下，念「太一救苦天尊」一百遍，妙不可言。</p>
<p><u>龍鳳膏</u></p>
<p>烏雞卵一只，打開一小竅，納地龍細小活者一條，後防竅蒸熟，去地龍令兒服下，每歲立春日一枚，終身不出痘。</p>
<p>敢以管見偕為加減，以待知者取舍耳。</p>
<p><u>加減人參敗毒散</u></p>
<p>羌活　獨活　前胡　柴胡（蜜炙）　人參　當歸身（酒洗）　川芎　酸棗仁（去皮尖，研，另炒）　貝母（去心，干制）　葛根（各一錢）　桔梗　牛蒡子（研，酒炒）　連翹　防風（各七分）　枳殼（麩炒）　犀角　甘草　知母（酒炒）　乾干（炒黑，各五分）</p>
<p>如有諸症，依上加減，更為裁制用之可也。預服此劑百余帖，則非但痘顆之稀少，可無平生瘡疽、諸般毒腫之患，甚是妙劑。</p>
