<header><h1>何澹安醫案</h1></header>
<dl class="元資料" data-type="book" hidden></dl>
<h2>類中</h2>
<p>頭暈體豐，心悸脈動，類中之漸，須安養調治。</p>
<p>熟地（四錢）　茯神（二錢）　甘菊（一錢五分）　草（一錢五分）　石決明（四錢）　老桑葉（一錢五分）　歸身（二錢）　棗仁（三錢）　麥冬（二錢）　白蒺藜（四錢）　柏子霜（一錢五分）</p>
<p>陽不交陰，鼻塞不通，兩膝麻而不暖，乃命門火微也。用潛陽溫補。</p>
<p>熟地（四錢）　茯神（二錢）　杞子（二錢）　半夏（一錢五分）　胡桃肉（二錢）　歸身（二錢）　棗仁（三錢）</p>
<p>蓯蓉（一錢五分）　新會皮（一錢）</p>
<p>少寐頭暈，陽不交陰也，六脈緊數，無疑肝火挾痰為患，防其類中。</p>
<p>熟首烏　法半夏　茯神　石決明　橘紅　羚羊角　麥冬肉　棗仁　白蒺藜　川鬱金丸方，去羚羊、蒺藜、鬱金，加於朮、膽星、石菖蒲、淮牛膝、鮮竹茹、鉤鉤，湯泛法丸。</p>
<p>卒然厥暈，膈次脹楚，六脈弦數，當用佐金法。</p>
<p>川黃連　歸身　茯神　川楝子　木香　竹茹　淡吳萸　白芍　棗仁　石決明　橘葉陽本虧而厥陰氣鬱，以致身心勞動，即頭暈肢麻，脈來弦滑。類中之機，預為調治。</p>
<p>真西黨　石決明　茯神　草鬱金　橘紅　熟首烏　白蒺藜　棗仁　淮牛膝　竹茹營陰內傷，血不養肝，以致惡寒脈軟，膈脹作痛，兼之舌本不利，語言不清。須寬心安養，可免此患。</p>
<p>紫丹參（三錢）　法半夏（一錢五分）　茯神（二錢）　炒白芍（一錢五分）　川鬱金（一錢）　大生地（四錢）　煨木香（四分）　棗仁（三錢）　淡蓯蓉（一錢五分）　橘葉（三片）</p>
<p>肺胃不清，不能言語，此濕痰凝於肺胃，清竅不利使然。擬方暫服。</p>
<p>炒白朮（二錢）　法半夏（一錢五分）　麥冬（二錢）　歸身（一錢五分）　淡乾薑（七分）　炒毛術（一錢五分）</p>
<p>新會皮（一錢）　茯神（二錢）　白蒺藜（四錢）</p>
<p>聲音不清，不能言語，屬下焦氣虧，惟宜溫補。</p>
<p>川桂枝　法半夏　茯神　川貝　白芥子　薑汁　制遠志　新會仁　棗仁　杞子　石菖蒲又丸方黨參（二兩）　熟地（三兩）　夏曲（一兩）　茯神（一兩五錢）　蓯蓉（一兩）　橘白（七錢）　於朮（二兩）　菖蒲（一兩）</p>
<p>五味（五錢）　膽星（五錢）　棗仁（二兩）　肉桂（四錢）</p>
<p>淡蜜水丸。</p>
<p>肝火挾痰，卒然暈厥，當此發生之候，疏風清鎮治。</p>
<p>羚羊角　法半夏　白蒺藜　黑山梔　石決明　熟首烏　橘紅　天麻　淮牛膝　石菖蒲中虛肝部，心嘈膈脹，須開懷調養，否則防類中。</p>
<p>西黨參　歸身　茯神　法半夏　天麻　制於朮　白芍　棗仁　煨木香　橘葉接服歸脾丸。</p>
<p>手足麻木，面發紅塊，風症將成，和營祛風兼理。</p>
<p>大熟地　歸身　青防風　紅花　濃杜仲　制於朮　川斷　鹿角霜　木防己　桂枝煉蜜為丸。</p>
<p>風濕襲於營衛，以致手足麻木，肌膚不仁，以祛濕養營調治。</p>
<p>真茅朮　熟首烏　川斷　白蒺藜　秦艽　川牛膝　制於朮　炒歸身　木瓜　草　杞子　生米仁熬鹿角膠（三兩）為丸。</p>
<p>上手足腫痛不仁，艱於言語，此風入絡脈，痰蒙清竅也。宜祛風豁痰治之。</p>
<p>羚羊角　秦艽　刺蒺藜　歸身　防風　法半夏　木瓜　五加皮　橘紅　忍冬藤積勞內虧，腰痛肢痿，津液內竭，並六脈沉弱，少力。必須溫補，否則防類中。</p>
<p>黨參　熟地　茯神　杞子　北五味　麥冬　歸身　棗仁　蓯蓉　胡桃肉陽微濕困，腰膝無力，軟中之基，形戒酒謹慎。</p>
<p>制於朮　歸身　狗脊　川附子　胡桃　大熟地　杜仲　杞子　五加皮</p>
<h2>肝風</h2>
<p>質弱火炎，耳鳴頭暈，膈次不寬。先用疏肝清理，然後進補奏效。</p>
<p>製首烏　青蒿　石決明　花粉　澤瀉　元生地　甘菊　老桑葉　鉤鉤　生甘草耳鳴頭暈，六脈弦滑不柔，肝火挾痰為患，先清後補。</p>
<p>製首烏　黑山梔　石決明　池菊　白蒺藜　法半夏　茯苓　老桑葉　淮牛膝卒然厥暈，膈次脹楚，六脈弦數，當用左金法（方在類中復。）</p>
<p>川黃連　茯神　炒白芍　木香　川楝子　竹茹　淡吳萸　棗仁　石決明　歸身　真橘葉肝風挾痰，防其癇厥，六脈弦數，暫用疏肝滌飲治（四肢麻時昏沉。）</p>
<p>製首烏　茯神　白蒺藜　石決明　鉤鉤　法半夏　鬱金　香附　黑山梔肝風挾痰，統體麻木，兼驚惕不寧，屢欲嘔惡，乃肝邪侮胃，中氣虛也。宜標本兼顧（臥則不寐，行則不能，坐則足腫，臥則腫退，症屬濕痰，並非香港腳。）</p>
<p>於朮　法半夏　白蒺藜　五加皮　茯神　十大功勞　茅朮　白歸身　秦艽　石決明　棗仁肝風挾痰，上焦清空竅不利也。以清鎮疏肝降氣治（其人壯時暈厥跌倒。）</p>
<p>羚羊尖　法半夏　黑山梔　茯神　橘紅　陳膽星　製首烏　石決明　白蒺藜　棗仁　降香咽痛咳痰，膈脹便溏，此中虛厥陰化風，宜調中潤肺治之。</p>
<p>桑白皮　橘紅　炒蘇子　桔梗　薄荷葉　生　鉤鉤　大力子　赤苓　冬瓜子復診炒蘇子　炒扁豆　橘紅　桔梗　生甘草　川石斛　生米仁　茯苓　鬱金膈脹目昏，舌本手指麻木，當此厥陰用事之候，未敢遂補。鄙擬疏風滌飲法，以視動靜。</p>
<p>百蒸於朮　蒺藜　茯神　歸身　石決明　薑製半夏　甘菊　棗仁　新會　冬桑葉時疾後驚恐，以致下部精滑，上衝嘔惡，觸動肝風，膈脹浮腫，兼右脈滑大。先宜理胃疏肝，然後補其偏勝。</p>
<p>薑製半夏　廣藿　代赭石　鉤鉤　竹茹　赤茯神　黑山梔　白蒺藜　橘紅肝鬱生風，內熱膈脹，不思飲食，以通為補。</p>
<p>元米炒川連　廣藿　新會　大麥仁　炒白芍　法半夏　鬱金　橘葉　歸須　荷蒂木鬱生風，心悸口乾，兼之腹鳴侮土，不克輸津長肌，恐成單腹，莫作輕視。</p>
<p>川連　法半夏　炒白芍　澤瀉　橘葉　廣藿　白茯苓　焦神麯　黑山梔接服方土炒於朮　法半夏　茯神　白芍　黑山梔　川石斛　白歸身　棗仁　橘葉　澤瀉肝失所養，內風煽爍，時身心煩動，氣機呼吸不利，以致痰喘。現診脈象，並不細軟，並脾胃無咎，未必陽本虧也。</p>
<p>茲此以甘露飲加減法（其人七旬，每於亥於時發，痰壅氣逆，血少肝亢。）</p>
<p>真西黨　熟地　淡天冬　茯神　柏子霜　元生地　牛膝　大麥冬　棗仁　鬱金汁丸方西黨參　半夏曲　茯神　柏子霜　石決明　枇杷葉　大熟地　沉香末　棗仁　胡桃霜　淮牛膝血虛肝鬱，厥陰化風，病經三載，以柔肝培本，恆服奏效。</p>
<p>熟地　製首烏　茯神　杞子　甘菊花　歸身　石決明　棗仁　牛膝　老桑葉接服方炙黃　阿膠　茯神　甘杞子　石決明　大熟地　歸身　棗仁　柏子霜　老桑葉肝火挾痰，卒然暈厥，當此發生之候，宜疏風清鎮治。</p>
<p>羚羊角　法半夏　石決明　白蒺藜　橘紅　熟首烏　天麻　黑山梔　淮牛膝　菖蒲厥陰之氣有餘，不時發熱，熱甚生風，神昏厥逆，當此升令，宜用清心疏鎮法（月事不至。）</p>
<p>製首烏　麥冬　歸須　石決明　枳實　半夏曲　茯神　黑山梔　川鬱金　益母膏（二錢沖）</p>
<p>營液交虛，心陽飛越，上實下虛，易飢膽怯，延久不痊，神思倦怠，脈數無力。鄙擬甘溫潛納法。附方酌用。</p>
<p>炙黃　（二錢）　麥冬（三錢）　茯神（二錢）　杞子（三錢）　新會紅（一錢）　大熟地（五錢）　五味（四分）</p>
<p>棗仁（三錢）　牡蠣（四錢，　）　龍眼肉（二錢）</p>
<p>肝膽熱鬱生風，統體作痛，陽明濕邪下注，以致口渴不清，左脈緊大。先用疏風分理，然後進補奏效。</p>
<p>羚角片　歸身　白蒺藜　赤苓　生米仁　生白朮　秦艽　川續斷　萆　忍冬藤接服方製首烏　白朮　牡蠣　沙苑　細桑枝　歸身　川斷　生米仁　赤神　生甘草神志不清，頻發厥暈，上焦空竅蒙閉也。以瀉心降氣治。</p>
<p>川黃連　法半夏　代赭石　枳實　竹茹　風化硝　炒蘇子　白茯苓　牛膝　菖蒲厥陰氣鬱，郁久生風，風甚生痰，中焦清竅不利也。須戒葷及酒，不致神昏顛倒。</p>
<p>羚羊角　石決明　法半夏　茯神　僵蠶　甘菊花　明天麻　葶藶子　黑山梔　竹茹厥陰化風，痰氣壅於上焦，以致右脈滑數，瘭癤不消，以和肝化痰法。</p>
<p>制洋參　象貝　秦艽　石決明　冬桑葉　夏枯草　麥冬　橘紅　白蒺藜　黑山梔久患休息，復兼咳血，二端俱愈，惟是內風扇動，以致心悸頭暈，右脈弦數。宜黑歸脾通補，徐徐安痊。</p>
<p>制於朮　煨木香　茯神　炒白芍　炙甘草　炒阿膠　遠志肉　棗仁　炒丹皮厥陰氣鬱，久而化風，營陰暗耗，不寐，火動及上焦，脈絡痿痛。當此發生之候，宜疏風靜養。</p>
<p>熟地　歸身　茯神　杞子　柏子仁　洋參　麥冬　棗仁　龜板　十大功勞厥陰化風，神不守舍，屢汗，火升，心悸不寐，以安魄苦泄治。</p>
<p>川連　歸身　茯神　石決明　黑山梔　半夏　麥冬　棗仁　白蒺藜　橘葉內風煽爍，肺氣不宣，以致鼻竅不利，面部紅腫抽動，以清金化風，熱邪自泄。此方暫服。</p>
<p>羚羊角　桑白皮　石決明　甘菊　草　荊芥　生米仁　地骨皮　知母　生甘草接服方熟首烏　歸身　桑葉　澤瀉　生甘草　麥冬肉　丹皮　黑山梔陽明有餘，少陰不足，水不涵木，肝火內動，脈數肢痿。宜祛風培水調治。</p>
<p>熟地　歸身　牛膝　杞子　生虎骨　十大功勞　首烏　秦艽　木瓜　赤苓　元武板多痰頭暈，四肢麻木，由脾虛挾濕，血少肝風，六脈滑大不柔，以平肝燥土調治。</p>
<p>炒熟地　於朮　歸身　白蒺藜　橘紅　法半夏　茅朮　白芍　甘杞子平昔好飲，操勞，火動，傷絡，據曾失血，肝失所養，陰氣易浮，立春節近。當從心脾腎調治。</p>
<p>西黨　遠志肉　茯神　米仁　蛤粉炒阿膠　麥冬　女珍子　棗仁　牛膝　桂圓肉水不涵木，肝風內熾，肺氣受克，肌體不潤，筋骸不利，痛痹之漸，培水柔肝兼治。</p>
<p>製首烏（三錢）　秦艽（一錢五分）　草（二錢）　五加皮（三錢）　柏子霜（一錢五分）　十大功勞（二錢）</p>
<p>淨歸身　（二錢）　米仁（四錢）　地膚子（一錢五分）　冬桑葉（一錢五分）　生甘草（四分）</p>
<p>肺腎兩虛，多痰咳逆，肝風內熾，痰火壅結，腫連頤頸，暫用滌痰清理，然後進補。</p>
<p>生綿　製首烏　知母　橘紅　生鱉甲　真川貝　蛤殼　桑葉厥陰氣鬱，絡傷經敗，肝失所養，木風愈甚，脈不柔軟，以通為補。擬用黑逍遙，佐苦泄法。</p>
<p>元米炒川連（五分）　制於朮（一錢五分）　炒黑棗仁（三錢）　製香附（三錢）　石決明（四錢　）　炒黑柴胡（八分）　白茯神（二錢）　炒黑丹皮（一錢五分）　草鬱金（一錢）　橘葉（三張）</p>
<p>水虧肝風內動，以致虛裡穴跳動，以交心腎，和肝調治。</p>
<p>熟首烏（三錢）　川石斛（三錢）　茯神（二錢）　黑山梔（一錢五分）　牡蠣（四錢，　）　大麥冬（二錢）　炒白芍（一錢五分）　棗仁（三錢）　新會（一錢）　湘蓮（七粒）</p>
<p>始疾咳嗆，繼之帝丁脹楚。此邪入厥陰為患，以培水化風治。</p>
<p>陳阿膠　大力子　人中白　歸須　生甘草　淮牛膝　馬兜鈴　枇杷葉　青黛　新絳屑</p>
<h2>眩暈</h2>
<p>頭暈體豐，心悸脈動，類中之漸，須安養調治。</p>
<p>熟地　茯神　麥冬肉　甘菊　白蒺藜　老桑葉　歸身　棗仁　石決明　柏子霜質弱火炎，耳鳴頭暈，膈次不寬。先用疏肝清理，然後進補。</p>
<p>元生地　青蒿　石決明　花粉　澤瀉　製首烏　甘菊　老桑葉　鉤丁　甘草耳鳴頭暈，六脈弦滑不柔，肝火挾痰為患。先清後補。</p>
<p>製首烏　法半夏　淮牛膝　白蒺藜　茯苓　石決明　甘菊花　黑山梔　冬桑葉頭暈膈脹，陰虛肝絡不舒也。理氣疏風兼治。</p>
<p>歸身　茯神　甘菊花　川鬱金　女珍子　橘葉　白芍　棗仁　白蒺藜　製香附　阿膠頭暈多痰，心悸少寐，坎離不交，心志不寧。以苦泄安神，自然安適。</p>
<p>川連　辰砂拌麥冬　棗仁　丹參　橘紅　法半夏　云茯神　龍齒　橘葉　竹茹</p>
<h2>頭痛</h2>
<p>頭風數載，由肝腎不足，兼表陽空疏，稍觸外感，內風輒動。</p>
<p>炙綿　女珍子　歸身　石決明　青鹽（少許）　大熟地　冬桑葉　茯神　甘菊氣虧表弱，客邪易入，觸動肝風，頭痛嘔吐，以固表養肝治。</p>
<p>炙綿　白歸身　白蒺藜　甘菊　黑山梔　製首烏　法半夏　石決明　白芍　桑葉膈脹頭痛，少陽熱鬱也，防其腹滿。</p>
<p>柴胡　石決明　鬱金　新會皮　牛膝　黑山梔　栝蔞皮　白芍　澤瀉　佛手表虛頭痛，甚則腹泄，嘔吐。此肝風侮土也，暫用溫膽法。</p>
<p>川連　法半夏　茯苓　池菊　黑山梔　焦術　石決明　廣藿　白芍</p>
<h2>咳嗽</h2>
<p>咳嗆脾泄，飲食日減，六脈軟弱少力，土不生金之驗，症非輕渺。</p>
<p>制於朮　茯神　川貝母　歸身　川石斛　北沙參　山藥　新會皮　香附　紅棗久咳膈痛，右脈弦數，肺痿之漸，莫作輕視。</p>
<p>北沙參　川貝母　生　橘白　冬瓜子　紫菀　生蛤殼　米仁　雲苓　桑葉喘咳稠痰轉劇，咽痛脈弱，此非有餘之火克金，乃氣虛肝液虧也。若再投涼劑，脾胃困敗，須重劑滋補，圖其奏效。</p>
<p>熟地　川貝　橘白　天竺黃　淮山藥　於朮　杞子　茯苓　焙麥冬　建蓮肉咳嗆、穢痰、氣喘，脈軟中虛，肺絡受傷也，殊非輕恙。</p>
<p>制於朮　川百合　麥冬　茯苓　川貝　茅根　北沙參　生蛤殼　橘白　桑葉　知母早寒暮熱，脈數煩渴，嗆咳不減，疑表虛火不潛根也。仍用生津止渴，稍佐降氣法（服過涼劑未效，乃下虛上實。）</p>
<p>大熟地　橘紅　牛膝　川貝母　米仁　生石膏　蘇子　知母　北沙參　蘆根咽間碎痛，咳嗆唾涎，六脈並不弦數，乃肝陰虧而脾不輸津下布也。所以大便燥結，殊非輕恙。</p>
<p>制於朮　川貝　杞子　橘白　枇杷葉　半夏曲　蛤殼　蓯蓉　杏仁　人中白脾肺兩虛，畏風咳喘，暫用玉屏風法，然後進補奏效（女身熱乾嘔三月，少痰，腹痛，食後脹，四肢麻木，中虛，恐腫脹）</p>
<p>生黃　防風　蘇子　旋覆花　桑葉　鮮佛手　制於朮　半夏　茯苓　代赭石　橘紅溫邪留戀，咳嗆穢痰，當此夏令，宜救肺滌飲主治。</p>
<p>生　皮　枇杷葉　橘紅　知母　淮牛膝　阿膠　生米仁　桑葉　川貝　茅根耳後結痰，潰膿已愈，現下腠理空疏，嗆咳自汗，幸陽明氣旺，不致大害。鄙擬固表潤腸法，否則防復潰。</p>
<p>生　知母　麥冬　半夏曲　甜杏仁　米仁　川貝　蛤殼　橘紅　枇杷葉丸方，去蛤殼，加洋參、石決明、牛膝、胖海參，搗丸。</p>
<p>咳嗆音啞，中虛木火爍金也。</p>
<p>生　北沙參　川百合　紫菀　橘紅　丹皮　麥冬肉　川貝母　牛膝　桑葉咳吐白沫，惡寒脈軟，乃金寒不束津液，以和脾保肺佐降氣治。</p>
<p>西黨參　北沙參　杞子　人中白　生蛤殼　制於朮　川百合　橘白　川貝母　沉香汁寒熱咳嗆，氣陰交虛，此非暴病，未許速痊。</p>
<p>真四黨　北沙參　川百合　杞子　牡蠣　於朮　大麥冬　淮山藥　橘白久嗽中虛，惡寒咽痛，氣分不足，宜乎溫補，無虞難許。</p>
<p>西黨參　山藥　大麥冬　杞子　橘白　炒熟地　牛膝　五味肉　於朮　青鹽久嗆中虛，氣喘多痰，肝液有虧，咽間梗塞，病根深固，難許速痊。</p>
<p>真西黨　北五味　川百合　橘白　生蛤殼　制於朮　大麥冬　人中白　牛膝　枇杷葉咳嗆不止，色脈少神，氣分虧也。從脾肺調治。</p>
<p>西黨參　北沙參　棗仁　川貝　淮山藥　制於朮　大麥冬　茯神　橘白咳沫音啞，中虛，肺氣不清。宜輕劑疏理。</p>
<p>旋覆花　米仁　冬瓜子　枇杷葉　炒蘇子　紫菀茸　橘紅　馬兜鈴　知母　冬桑葉咳逆音啞，似屬陰虧火動，然脈象未見虛數，可見蘊邪未得清徹，宜輕劑和理。</p>
<p>鮮石斛　杏仁　川貝　馬兜鈴　新會紅　紫苑茸　蛤殼　麥冬　枇杷葉　川鬱金時疾後，飲食不慎，腹脹咳嗆，此土不生金，殊非輕恙。</p>
<p>焦術（二錢）　炒蘇子（三錢）　川石斛（三錢）　茯苓（二錢）　橘紅（一錢）　冬瓜子（三錢）　法夏（一錢五分）　白蔻殼（四分）　生米仁（三錢）　澤瀉（一錢五分）　穀芽（四錢）</p>
<p>咳沫不止，氣喘咽痛，並六脈虛數無力，可見中虛肝液竭也，殊非輕恙。茲擬填補保肝法，圖其奏效。</p>
<p>炙綿　（二錢）　麥冬肉（二錢）　炒熟地（四錢）　橘白（一錢）　茯神（二錢）　川百合（三錢）　人中白（一錢，漂）　淮山藥（二錢）　杞子（二錢）　阿膠（二錢，烊沖）</p>
<p>胃痛干嗆，肝絡不和，恐有蓄血。以通絡潤燥，為暫用之劑。</p>
<p>當歸須　淮牛膝　桃仁　瓦楞子　白茯苓　煨木香　炒蘇子　蔞皮　川鬱金　新絳屑中氣不舒，近兼咳嗆，六脈弦緊，惟恐咯血。</p>
<p>炒蘇子　旋覆花　橘紅　蛤殼　冬桑葉　法半夏　草鬱金　茯苓　歸須　新絳屑元氣素虛，瘧後腠疏喘咳轉劇，脈數無力，勞怯之漸，愈期未許。</p>
<p>炙　北沙參　麥冬　橘白　牡蠣　紅棗　玉竹　川貝母　山藥　茯神　冬桑葉接服方黃　北沙參　麥冬　橘白　牡蠣　杞子　熟地　川貝母　山藥　茯神　款冬花　建蓮膏滋方炙　五味　淡蓯蓉　胡桃肉　熟地　牛膝　牡蠣久嗽不止，中虛表弱也，以致盜汗，膈脹氣喘，脈軟，以健胃固表治，庶克奏效。</p>
<p>制於朮　石斛　蘇子　蛤殼　川貝　紅棗　川百合　橘白　茯苓　米仁　桑葉接服方西黨參　北沙參　山藥　菟絲　茯苓　紅棗　制於朮　沙米仁　橘白　牛膝　桑葉咳喘多痰，咽間梗塞，六脈無力。屬中虛肝液虧也，殊非輕恙。</p>
<p>西黨參（三錢）　北沙參（二錢）　蛤殼（三錢）　杞子（二錢）　人中白（一錢）　大熟地（四錢）</p>
<p>川百合（三錢）　杏仁（二錢）　橘白（一錢）　枇杷葉（一錢五分）</p>
<p>內熱咳嗆，痰中帶血，此中焦熱鬱，非陰虛所發，不宜大補。</p>
<p>北沙參（三錢）　地骨皮（二錢）　元參（二錢）　橘紅（一錢）　人中白（一錢）　麥冬肉（二錢）　生蛤殼（三錢）　知母（一錢五分）　米仁（四錢）　冬桑葉（一錢）</p>
<p>水虧火動，干嗆咯血，六脈無力。可見元氣愈虛，恐交春病劇。</p>
<p>元生地（四錢）　北沙參（二錢）　麥冬（二錢）　山藥（二錢）　茜草（一錢）　粉丹皮（一錢五分）　川百合（三錢）　川貝（一錢五分）　茯神（二錢）　桑葉（一錢五分）</p>
<p>咳嗆反覆，中虛表弱也。宜從脾肺調治。</p>
<p>制於朮　麥冬肉　炒蘇子　橘白　海浮石　法半夏　北沙參　川貝母　茯苓　老桑葉喘咳傷中，口乾膈痛，以潤肺健胃調治。</p>
<p>川石斛　法半夏　杏仁　麥冬　橘紅　北沙參　炒蘇子　蛤殼　米仁先曾失血，由絡傷所致。現患咳嗆，脾泄痰多，肉削，中氣不足之驗。治宜滌痰健中。</p>
<p>舍此無策。</p>
<p>制於朮　淮山藥　桑葉　北沙參　橘白　川石斛　茯苓　款冬　川貝母　炙草再診，沖嗆不止，比前減少，並脈象數勢緩和，斯屬佳境。但速愈不能。</p>
<p>炒生地　麥冬　川貝　元武板　丹皮　北沙參　橘紅　杏仁　冬桑葉　青鹽久嗆中虛，肢體困倦，肝膽氣不舒也，頻作嘔吐，病在肝胃，膩補不合。</p>
<p>制於朮　西黨　川貝　石決明　薑汁焙竹茹　半夏曲　茯神　橘白　麥冬</p>
<h2>吐血</h2>
<p>絡傷見血，幸不咳嗆，乃氣分病也。平肝降氣主治。</p>
<p>元生地　北沙參　茯神　淮牛膝　湖藕　麥冬肉　炒蘇子　棗仁　川鬱金溫邪傷肺，咳嗆失血，六脈弦數，恐延入怯門。</p>
<p>北沙參　麥冬肉　元武板　冬桑葉　丹皮　川貝母　地骨皮　淮牛膝　生米仁　橘紅內傷失血，咽乾膈痛，雖有咳嗆，六脈並不弦數。惟虛陽不潛，須省力調治。</p>
<p>地生地　川斷　北沙參　蘇子　地武板　丹皮　牛膝　大麥冬　橘紅　老桑葉素有痰喘，近兼失血，頻發不已，兩手脈虛軟，乃中虛氣分受傷也。須培陰保肺兼顧，斯為盡善。</p>
<p>黃　陳阿膠　茯苓　甘杞子　製香附　熟地　炒白芍　棗仁　牛膝炭　青鹽內熱咳血，本元虛也。清陰潤肺治。</p>
<p>地骨皮　玉竹　知母　生蛤殼　藕節　北沙參　麥冬　橘紅　老桑葉陽絡受傷，咳血膈痛病久脈虛，愈期難決。</p>
<p>熟地　麥冬　北沙參　橘紅　淮牛膝　阿膠　丹皮　石決明　茜草　冬桑葉覆診脈症，俱見平安，惟有內燒不止，陰分虛也。</p>
<p>元生地　麥冬　北沙參　龜板　橘紅　丹皮　茯神　女珍子　牡蠣　桑葉晨起咳痰，咽癢見血，肺胃之火，只宜清潤調治。</p>
<p>烏犀角　天冬　知母　枇杷葉　生甘草　小元地　麥冬　橘紅　冬桑葉　茅根狂失血後脈軟，氣怯胃氣薄弱，非補無策。</p>
<p>炙黃　麥冬　淮牛膝　牡蠣　廣橘白　炒熟地　五味　甘杞子　茯神　胡桃肉蓄血妄行，並不咳嗆，氣逆，左脈弦大，乃血去絡不和也。暫用疏滯通絡，接服黑歸脾調理。</p>
<p>歸須　丹參　柏子霜　川鬱金　新絳屑　桃仁　蘇子　牛膝炭　石決明元氣素虛，火動咯血，膈次不利，防其狂吐。</p>
<p>炒生地　蓮須　炒蘇子　茯苓　石決明　冬桑葉　丹皮　龜板　川鬱金　淮牛膝藕汁沖服。</p>
<p>元氣素虛，火動咯血，血雖止而痰涎上泛，恐陰液內虧。茲用健中保肺法。</p>
<p>制於朮　北沙參　山藥　川貝母　橘白　陳阿膠　炒麥冬　茯神　川百合　青鹽失血後咳痰氣穢，肝肺絡傷也。無虞難許。</p>
<p>羚羊角　麥冬　杏仁　茜草　炒蘇子　茅根　生米仁　知母　橘紅　牛膝　冬桑葉氣喘咳血中虛，陽氣易浮，固表納喘兼治。</p>
<p>炙綿　牡蠣　山藥　麥冬　北沙參　炒熟地　淮牛膝　茯苓　橘白　胡桃肉質弱火炎，骨蒸不退，痰中雖有血點，幸不咳嗆。當此春令，須滋肝腎調理。</p>
<p>銀柴胡　熟首烏　茯苓　秦艽　淮山藥　北沙參　川柏　澤瀉　麥冬陽明絡傷，狂吐衄血，脈絡空虛，氣喘心悸。</p>
<p>炙　茯神　白芍　蕊石　藕節　大熟地　棗仁　茜草　牛膝咳血久纏，痰多咽痛。</p>
<p>蛤粉炒阿膠　制洋參　橘白　生米仁　冬瓜子　北沙參　人中白　茜草　冬桑葉　燕窩（一錢五分）</p>
<p>驟然失血半斗，神困脈微，由去血過多，陽氣無依，頗有脫勢。姑擬補氣養心法，斯為要計。</p>
<p>炙綿　麥冬　茯神　紅棗　牡蠣　西黨參　五味　棗仁　白芍　炙草蓄血妄行，絡虛心悸，幸不咳嗆，當以黑歸脾調理。</p>
<p>真西黨　麥冬　茯神　牛膝炭　橘紅　炒熟地　遠志　棗仁　炒白芍　桑葉咳血反復，咽關不利，左脈弦數，木火刑金也。</p>
<p>熟地　北沙參　枇杷葉　茜草　牛膝炭　阿膠　川百合　麥冬肉　橘紅　青鹽素體不足，前曾失血，現診脈象弦數不靜，此水虧火不潛根也。久防咳嗆。</p>
<p>元生地　茯神　麥冬　龜板心　北沙參　丹皮　棗仁　丹參　石決明咳血氣穢，六脈弦數模糊，此溫邪入絡，肺胃受傷，以清理救肺治之。</p>
<p>羚羊角　地骨皮　象貝　知母　橘紅　藕節　枇杷葉　冬瓜子　茜草　米仁　茅根失血過多，木邪侮土，脈不柔軟，以通為補。</p>
<p>川石斛（四錢）　白芍（一錢五分）　車前（二錢）　茯苓（二錢）　新會皮（一錢）　焦穀芽（三錢）　淨歸身（二錢）　蘇子（三錢）　澤瀉（一錢五分）　半夏（一錢五分）　冬瓜子（三錢）</p>
<p>血症復萌，右脈弦數，當此升令，宜用瀉白法。</p>
<p>桑白皮　栝蔞皮　麥冬　牛膝　炒米仁　地骨皮　枇杷葉　知母　茜草咳血復萌，近兼遺泄，幸不脈數氣喘，想見陰分不致大虧，乃陽絡傷也，先理後補。</p>
<p>北沙參　川百合　茜草　阿膠　花粉　大麥冬　白蓮須　丹參　茯神失血過多，氣痹陰絡滿也。以通為補。</p>
<p>川石斛　歸身　炒蘇子　法半夏　淮牛膝　焦穀芽　茯苓　白芍　炒車前　新會皮　冬瓜子氣傷血溢，火動咳嗆，肝失所養，木火刑金，當用清上納下法。</p>
<p>元生地　橘白　蘇子　淮牛膝　石決明　麥冬肉　丹皮　茜草　川續斷　藕節咳血咽痛，惡寒喘逆，中虛肺液虧也。以補氣保肺治。</p>
<p>炙綿　北沙參　山藥　阿膠　橘白　熟地炭　大麥冬　牛膝　米仁　桑葉狂失血後，絡傷氣怯，脈細無力。雖見咳嗆，非陰火上衝，乃氣不足使然。以歸脾法調理。</p>
<p>炙綿　（二錢）　麥冬（二錢）　棗仁（三錢）　白芍（一錢）　蛤粉炒阿膠（三錢）　北沙參（二錢）　遠志（一錢，泡）　茯神（二錢）　牡蠣（四錢，　）　建蓮肉（七粒）</p>
<p>嘔瀉蓄血，氣虛陰絡傷也。恐交春後，腹脹不易脫體。</p>
<p>焦術（二錢）　炒歸身（一錢五分）　川楝子（一錢）　白芍（一錢五分）　赤苓（三錢）　木香（四分，煨）　炒青皮（一錢）　延胡索（一錢）　澤瀉（一錢五分）　穀芽（三錢）</p>
<p>陽絡受傷，血症頻發，雖不咳嗆，六脈甚是弦數，非佳境也。立春在邇，預為調治。</p>
<p>元生地　麥冬　桃仁　花蕊石　紫丹參　藕節　丹皮　牛膝　茜草　冬桑葉　草鬱金嘔瀉蓄血，明陽絡俱傷，氣滯脾困，不克輸津生新，下焦真氣不充，清濁艱於升降，運穀無權，腹膨便溺，六脈軟弱無力。理當溫補佐安神法，再視消息，附方呈政。</p>
<p>土炒制於朮（二錢）　炙白芍（二錢）　炒棗仁（三錢）　菟絲（二錢）　橘葉（三張）　土炒歸身（一錢五分）　云茯神（二錢）　川鬱金（一錢，切後入）　澤瀉（一錢五分）　焦穀芽（四錢）</p>
<p>十九日晚復診，左脈弦動，略有煩躁。此肝陰虧而脾未輸上供也。再擬醒脾化氣，參用柔肝法。</p>
<p>土炒制於朮（一錢）　歸身（一錢五分，酒炒）　棗仁（三錢）　川鬱金（一錢）　澤瀉（一錢五分）　焦穀芽（四分）　蛤粉　炒阿膠（二錢）　白芍（二錢）　茯神（二錢）　炙升麻（四錢）　橘葉（三張）</p>
<p>汁一日脈象兩手均稱條達，惟重按少力，可見中焦氣機稍舒，命門真火未能攝水，脾陽不克運動，所以下體浮腫重滯，飲食能納難化也。仍擬和肝胃佐助元陽法。</p>
<p>炒黃西黨（三錢）　茯神（三錢）　巴戟（一錢五分，鹽水炒）　川鬱金（一錢，切，後入）　澤瀉（一錢五分）　焦穀芽（四錢）　土炒於朮（二錢）　棗仁（三錢）　肉桂（三分，去皮磨）　炙升麻（四分）　橘葉（三張）</p>
<p>二十三日診，腹脹不寐，脈反弦數，無疑木旺土衰，肝陰內虧所致。就證參脈，未敢驟補，此方暫服。</p>
<p>米飲炒制於朮　歸身　茯苓　川鬱金　元米炒麥冬　赤豆（三十粒）　薑汁製半夏　白芍　藿香　淮牛膝　磨沖肉桂二十五日診，中不勝濕，濕化為熱，其氣不得快利，以致腐穀少權，二便不暢，脈象動靜，以扶本為主，疏理為佐。</p>
<p>拙方候政。</p>
<p>土炒制於朮　歸身　大腹絨　茯神　益智　煨木香　白芍　泡炮薑　車前　肉桂深思抑郁，內滯蓄血，狂吐之後，肝失所養，氣機呆鈍，侮土作脹，診得脈象右弦左軟，可見下焦無火，津不上供也。當用金匱法。</p>
<p>炒西黨　炒熟地　川附　牛膝　丹皮　焦於朮　塊茯苓　肉桂　澤瀉　赤豆狂失血後，脈絡空虛，其氣無依，喘逆日甚，脈數無力，脾胃不甚強健，大虛候也。當用甘溫納補法。</p>
<p>西黨參　炒熟地　茯神　紫石英　牛膝　制於朮　炒杞子　棗仁　川附子　胡桃復診，前擬溫補，病情脈象，未見進退，但元氣久虛，惟宜溫補，舍此無策。</p>
<p>西黨　熟地　麥冬　杞子　附子　於朮　五味　茯神　磁石　坎氣服參方人參　於朮　麥冬　五味　茯神　杞子　炙草又復方，同前去坎氣，加胡桃肉。</p>
<p>狂吐蓄血，肋痞侮中，乃肝脾絡傷，惟恐腹滿。</p>
<p>川石斛　茯苓　鱉甲　鬱金　焦穀芽　炒蘇子　白芍　新會　厚朴　藕節肝胃不和，並曾失血，顯系營衛受傷，只宜清理。</p>
<p>生白芍　川鬱金　茯苓　鉤鉤　薑皮　炒蘇子　石決明　新會　澤瀉內蘊暑邪，咳痰帶血，六脈洪大不柔，補陰劑，不宜早服。</p>
<p>地骨皮　生米仁　丹皮　橘紅　冬瓜子　桑白皮　生蛤殼　知母　甘草　茅柴根</p>
<h2>失音</h2>
<p>咳逆咽痛音啞，脈象緊數，乃肺虛肝液虧也，甚為棘手。</p>
<p>川黃連　枇杷葉　橘白　人中白　知母　陳阿膠　紫菀　麥冬　生米仁　雞子黃（生沖）</p>
<p>腎水不能制火，必致克金，陰精不能化氣，必致咳病燥，所以咳逆音啞，脈動無神，此木鬱水虧，虛火上炎之象。</p>
<p>鄙擬滋納法，以視動靜。</p>
<p>青鹽炒熟地　牡蠣　川貝　川鬱金　云茯神　鹽水炒廣皮　淮膝　龜板　川百合　雞子黃邪未透泄，音啞咽痛，為患未久，無所大害。</p>
<p>旋覆花　馬兜鈴　麻黃　象貝母　桑葉　紫菀茸　杏仁　桔梗　人中黃接服方紫菀　人中黃　牛膝　北沙參　桑葉　杏仁　生蛤殼　米仁　天花粉咳嗆音啞，中虛木火爍金。</p>
<p>生　北沙參　橘紅　牛膝　川百合　丹皮　麥冬肉　紫菀　川貝　冬桑葉咳沫音啞，中虛肺氣不清，宜輕劑疏理。</p>
<p>旋覆花　生米仁　枇杷葉　冬瓜子　知母　紫菀茸　炒蘇子　馬兜鈴　冬桑葉　橘紅咳逆音啞，似屬陰虧火動，然脈象未見虛數，可見蘊邪未得清徹。宜輕劑和理。</p>
<p>鮮石斛　生蛤殼　麥冬　橘紅　川鬱金汁　紫菀茸　甜杏仁　川貝　兜鈴　鮮枇杷葉</p>
<h2>肺痿</h2>
<p>上膈及臂（膀）脹痛不仁，六脈弦數，坐臥不寧，此溫邪入絡，恐肺氣痿傷，須用清通法（近時稍有痰喘。）</p>
<p>旋覆花　羚羊角　法半夏　當歸　白蒺藜　橘葉　代赭石　川鬱金　炒蘇子　秦艽　生米仁　桑枝絡不通氣，痹右胸肋高腫，右寸關脈大，恐肺氣痿傷，鄙擬通絡化痰佐理氣法，以圖松解（痰黑帶腥稍咳。）</p>
<p>旋覆花　枇杷葉　牛膝炭　當歸　鉤鉤　桑枝　炒蘇子　半夏曲　瓦愣子　橘葉　鬱金咳嗆穢痰帶血，右脈弦數，由氣鬱絡傷，肺金受克，冬至節已近，須寬懷調理。</p>
<p>陳阿膠　丹參　米仁　麥冬肉　炒蘇子　藕節　北沙參　茜草　橘紅　枇杷葉　淮牛膝患瘧時失於表理，肺氣不宣，膀痿咳血，延久不痊，表虛自汗，並神色光白，症屬肺痿，不宜過用涼劑（痰腥大失血。）</p>
<p>生　枇杷葉　橘紅　蛤粉炒阿膠　藕汁　米仁　淮牛膝　茜草　川百合　冬瓜子吞食噎逆，痰喘動血，乃肝鬱刑金肺氣痿傷也。恐盛暑病劇，慎之慎之。</p>
<p>陳阿膠　甜杏仁　麥冬　冬桑葉　冬瓜子　茅根　生米仁　川貝母　橘紅　生蛤殼　枇杷葉肺氣素虛，又感溫邪，身熱咳血，肺絡傷也。所以咯痰膠膩，六脈數大，正氣雖虛，溫補不合。</p>
<p>生洋參（一錢五分）　生米仁（四錢）　川百合（三錢）　茅柴根（四錢）　陳阿膠（二錢）　橘紅（一錢）　沙參（二錢）　枇杷葉（一錢五分，刷）　茜草（一錢）　淮膝炭（一錢五分）</p>
<h2>虛勞</h2>
<p>氣虛表弱，色脈少神，自汗屬泄，法當培本。</p>
<p>炙黃　茯神　白芍　地骨皮　牡蠣　紅棗　川石斛　棗仁　新會　女珍子　桑葉表裡交虛，形衰脈弱，病經三載，須氣陰並補。</p>
<p>炙黃　茯神　山藥　麥冬肉　丹皮　熟地　棗仁　五味　女珍子　紅棗食少痰多，火動不寐，診得六脈虛弦無力，可見氣陰俱不足也。健中保肺為主。</p>
<p>西黨參　陳阿膠　茯神　淮藥　麥冬肉　制於朮　北沙參　棗仁　百合　橘白類瘧兼嗆惡寒，脈軟表裡俱虛，非補無策。</p>
<p>黃　茯神　麥冬　白芍　桑葉　首烏　棗仁　橘紅　牡蠣　紅棗失血後，喘咳業經一載，氣血俱虛，殊非輕渺。</p>
<p>熟地　北沙參　茯神　牡蠣　橘紅　丹皮　陳阿膠　棗仁　山藥氣喘咳血，惡寒自汗，脈數腹痛，大便不結，不但營液內虧，肝胃亦困敗，均非佳境。</p>
<p>姑擬補土寧金法，以望奏效。</p>
<p>炙綿　淮山藥　茯神　菟絲　蛤粉炒阿膠　北沙參　牡蠣　湘蓮　枇杷葉腎水不能制火，必致克金，陰精不能化風，必致病燥，燥則癢，癢則咳，以致音啞嗌痛，脈動無神，此木鬱水虧，虛火上炎之象。鄙擬滋納，以視動靜。</p>
<p>青鹽炒熟地　牡蠣　川貝　川鬱金　云茯神　鹽水炒廣皮　淮膝　龜板　川百合　雞子黃（沖）</p>
<p>質弱火炎，牙痛口乾，六脈並不弦數，此系肝腎虛而不克輸津上供，不宜過投涼劑。</p>
<p>西黨參　阿膠　茯神　北沙參　青鹽　大熟地　丹皮　棗仁　麥冬肉氣虧表弱，不時寒熱，營絡空虛，氣喘火升，六脈不甚有力，須氣陰兼顧。</p>
<p>真西黨　茯神　北沙參　麥冬　橘白　制於朮　杞子　懷山藥　阿膠　青鹽連進補劑，並不膈脹作痛，不但營液有虧，表陽亦不固，甚宜用重劑頻補，庶乎奏效。</p>
<p>西黨參　熟地　茯神　麥冬　牡蠣　北沙參　淮膝　棗仁　百合　水梨失血兼精滑，肝腎虛損，筋拘而坐臥不寧，六脈細軟無力，屬下虛。而血不養肝，並泄自汗，此大虛候也。須重劑培補。</p>
<p>炙綿　茯神　麥冬　狗脊　杞子　大熟地　棗仁　五味　龍齒　鬱金（沖）</p>
<p>氣分不足，肝絡不和，以補氣養營調治（勞力，則食減，飢則左肋痛，腳麻頭痛。）</p>
<p>於朮　歸身　川斷　鉤鉤　香附　茯苓　白芍　法夏　杞子丸方西黨　歸身　川斷　茯苓　法夏　熟地　於朮　白芍　菟絲　木香　新會　炙草肺腎兩虛，腰痛痰喘，飲食有限，宜補脾腎，保肺調理。</p>
<p>炙　於朮　五味　杞子　沙苑　烏賊骨　熟地　麥冬　歸身　杜沖　湘蓮　牡蠣研末，用川石斛煎湯泛丸。</p>
<p>內傷兼少陽熱鬱，鼻衄及便溏帶血，陰陽絡俱傷，須省力調治。</p>
<p>生地炭　白芍　木香　米仁　澤瀉　炒丹皮　鱉甲　山藥　木瓜中虛陰火不潛，六脈沉弱無力。</p>
<p>元生地　丹皮　茯苓　杞子　玉竹　山藥　澤瀉　萸肉　川柏　蘆根素體陰虧，近兼咳逆，自汗脾泄，六脈虛數無力，陽本大虧。宜填納溫補，然無虞未許。</p>
<p>炙綿　（二錢）　炒熟地（四錢）　杞子（二錢）　茯苓（二錢）　北五味（二錢）　沉香汁（三分）　真西黨（三錢）　制於朮（二錢）　白芍（二錢）　棗仁（三錢）　干河車（一錢五分）</p>
<p>久嗽不止，多痰咽痛，及氣喘脈軟軟，舉動無力，不但陰虧中氣大虛也，均非吉兆。</p>
<p>制於朮（二錢）　麥冬（二錢）　茯神（二錢）　甘杞子（二錢）　人中白（一錢）　大熟地（四錢）　五味（三分，炙）　橘白（一錢）　牡蠣（三錢）</p>
<p>久嗽中虛，多痰脾泄，津失供肺，音啞咽痛，此重候也。愈期未許。</p>
<p>制於朮（二錢）　北沙參（二錢）　生米仁（四錢）　茯苓（二錢）　人中白（一錢）　淮山藥（二錢）　川百合（三錢）　白扁豆（二錢）　橘紅（一錢）　冬桑葉（一錢）</p>
<p>氣虛骨熱，營液成痰，筋骸不得舒展，以致腫潰膿水，艱於收口。已屬虛損，惟宜培本。</p>
<p>生　（一錢五分）　熟地（四錢）　五味（炙，三分）　杞子（二錢）　五加皮（一錢）　炒棗仁（三錢）　歸身（二錢）　山藥（二錢）　麥冬（二錢）　川斷（一錢五分）　細桑枝（四錢，酒炒）</p>
<p>症屬虛損，莫作風濕。治從脾腎培補，以圖元旺病卻（並有遺泄。）</p>
<p>熟地　淮藥　歸身　狗脊　木瓜　於朮　杞子　川斷　杜仲　羊腎膏滋方，去山藥、川斷、羊腎，加桑枝、胡桃、黨參、虎骨、龜板、白蜜、湘蓮粉收入。</p>
<p>中虛陰火不潛，多痰內熱，勞怯根苗，須省力服藥。</p>
<p>製首烏（三錢）　北沙參（二錢）　女珍（二錢）　橘紅（一錢）　製香附（三錢）　生綿　（一錢五分）　歸身（一錢五分）　杜仲（三錢）　丹皮（一錢五分）　冬桑葉（一錢）</p>
<h2>遺精</h2>
<p>相火旺而兼濕熱下注，以致陽舉精泄，六脈弦滑。以滋清佐苦泄法。</p>
<p>鮮生地　蓮須　赤苓　丹皮　米仁　川柏　龜板　萆　澤瀉　甘草精關不固，腰脊痿痛，六脈細軟無力。宜澀精溫補。</p>
<p>炒熟地　淮山藥　川斷　北五味　湘蓮肉　制於朮　金櫻子　杜仲　白茯苓丸方去金櫻，加黨參、狗脊、線魚膠、砂仁。</p>
<p>厥陰氣鬱，膈脹目昏，君火內迫，陰精屬泄，脈不柔軟，當用交心腎苦泄法（兼心悸過度，作肝火看，由用心服過補藥不效。）</p>
<p>川黃連　黑山梔　澤瀉　蓮須　柏子霜　法半夏　赤苓　鬱金　橘葉坎離不交，驚恐自汗，近兼精滑，精氣神俱虧，脈空無力。須重劑頻補（足痿艱行）</p>
<p>炙　（三錢）　五味（四分，炙）　茯神（二錢）　牡蠣（五錢）　川柏（一錢）　貢干（一兩）　熟地（八錢）</p>
<p>麥冬（三錢）　棗仁（三錢）　淮山藥（三錢）　湘蓮（七粒）</p>
<p>失血兼精滑，肝腎虛損，筋拘而坐臥不寧，六脈細軟無力，屬下虛而血不養肝。並泄自汗，此大虛候也，須重劑培補。</p>
<p>炙　（二錢）　北五味子（四分）　茯神（二錢）　金狗脊（一錢五分）　甘杞子（二錢）　熟地（五錢）　麥冬肉（二錢）　棗仁（三錢）　龍齒（二錢）　川鬱金（一錢）</p>
<p>心腎不交，多夢遺泄，素有便血。宜黑歸脾調理。</p>
<p>制於朮　茯神　金櫻子　麥冬肉　澤瀉　炒生地　棗仁　蓮須　北五味丸方西黨參　熟地　茯神　金櫻子　麥冬　龜板心　制於朮　湘蓮　棗仁　五味肉　牡蠣　川柏　蜜丸。</p>
<p>咳血復萌，近兼遺泄，幸不脈數氣喘，想見陰分不致大虧，乃陰絡傷也。先理後補。</p>
<p>北沙參　陳阿膠　丹參　蓮須　花粉　麥冬肉　川百合　茜草　茯神丸方西黨　麥冬　茯神　白線膠　龜板　北沙參　熟地　五味　棗仁　牡蠣　湘蓮　丹皮　藕汁泛丸。</p>
<p>陰分不足，又兼濕火上衝，腦頂下陷，遺泄，督脈痿痛，清上納下治。</p>
<p>熟地　龜板　蓮須　石決明　首烏　川柏　茯苓　冬桑葉</p>
<h2>淋濁</h2>
<p>中氣不足，便濁下注，以四君攝精治。</p>
<p>真西黨　茯神　牡蠣　北五味　炙草　淮山藥　萆　牛膝　炒白芍又丸方，即前方加於朮、米仁，湘蓮肉。</p>
<p>久濁元虛，六脈無力，健中升清，自然安適。</p>
<p>制於朮　萆　生米仁　牡蠣　冬瓜子　赤苓　澤瀉　沙蒺藜　山藥　甘草梢脾腎兩虛，腰痛便濁，未免費心太過，君火下陷，但此患久纏命門，陽氣不攝，以致上脈沉弱，大便溏薄。擬補中益氣合滋腎法（服過大黃數兩未效。）</p>
<p>真西黨　熟地　茯神　肉桂　炙草　制於朮　升麻　棗仁　萆　湘蓮丸方，去萆　，加五味、金櫻子、阿膠，搗丸。</p>
<p>誤服藥酒，熱注膀胱，小便下濁，久延不痊，煩渴肉削。診得六脈並不弦數。茲用補中益氣加減法。</p>
<p>西黨參　熟地　麥冬　萆　升麻　蘆根　制於朮　茯神　五味　牡蠣　湘蓮便濁腰痛，督脈受傷，以固精補氣治。</p>
<p>大熟地　金櫻子　川斷　龍骨　淨歸身　芡實　狗脊　杜仲久濁不止，腎部痿痛，釐清溫潤治。</p>
<p>西黨參　川萆　淡蓯蓉　杜仲　生歸身　大熟地　赤茯苓　沙蒺藜　牡蠣　湘蓮肉尿血兼濁，頻解溺痛，左肋不和，恐有蓄血，此方暫服。</p>
<p>川連　萆　瓦楞子　甘草　歸須　赤苓　元胡索便濁久纏，濕火下注也。升清分利治。</p>
<p>元生地　川萆　炙升麻　赤苓　蓮須　丹皮　甘草梢　生米仁　澤瀉</p>
<h2>尿血</h2>
<p>膈脹尿血，由厥陰氣鬱，膀胱絡傷也。暫用破瘀導下法。</p>
<p>川連　制軍　川鬱金　澤瀉　甘草梢　赤苓　歸須　延胡索　蔞皮　琥珀屑接服方萆　淡苓　牛膝炭　澤瀉　生藕　赤苓　丹皮　生米仁　蓮須腹膨便溺，下注尿血，由肝經熱鬱，膀胱絡傷也。先宜疏滯，然後培補奏效。（女）</p>
<p>川黃連　當歸須　赤芍　車前　枳殼　制生軍　牛膝炭　赤苓　澤瀉　新絳屑接服方生於朮　琥珀屑　赤苓　澤瀉　荷蒂　生米仁　川鬱金　萆　生草濕熱傷絡，曾下尿血，神色萎黃。當用健中分理（年六七歲，飲食少，溺時作痛，虛治一童年六七歲，尿血，苦痛，元旺，投川連大黃）</p>
<p>生於朮　赤苓　澤瀉　牡丹皮　冬瓜子　生米仁　萆　川柏　生甘草尿血兼濁，頻解溺痛，左肋不和。恐有蓄血，此方暫服。</p>
<p>川連　萆　瓦楞子　甘草　歸須　赤苓　元胡索心火內迫，膀胱絡傷，以致尿血。</p>
<p>生洋參　元生地　丹參　血余灰　萆　大麥冬　牡丹皮　茯神　琥珀屑尿血溺痛，久延不痊，六脈無力。須標本兼顧。</p>
<p>西黨參　炒丹皮　萆　炒阿膠　湖藕　雲茯苓　炒杞子　升麻　甘草梢尿血久纏，腰腹作痛，屢投利劑，氣陷傷津，以致精神委頓，六脈細軟。若不升清培補，恐交秋病劇。</p>
<p>西黨參　赤茯神　升麻　沙苑　木香　制於朮　甘草梢　杞子　萆　藕節</p>
<h2>小便閉癃</h2>
<p>外症已愈，小溲仍然不爽，脈象亦未柔軟，大補不宜（陰囊潰爛。）</p>
<p>生洋參　丹皮　萆　龜板　甘草梢　製首烏　赤苓　米仁　蓮須命門氣虧，兼之中虛氣陷，清氣不升，小便溺塞，診得六脈沉弱，所以涼劑不宜多服。</p>
<p>西黨參　升麻　菟絲子　萆　琥珀屑　制於朮　赤苓　甘草梢　澤瀉濕火下注，小便溺痛，六脈弦緊。須用釐清導下法，方許奏效。</p>
<p>錦紋　蓮須　萆　牛膝　甘草梢　川連　歸須　澤瀉　赤苓　冬瓜子頻解溺痛，左脈細軟，乃少陰虧而膀胱挾熱也。以滋腎法。</p>
<p>熟地（四錢）　升麻（四分，炙）　赤茯苓（二錢）　川柏（一錢）　生甘草（四分）　肉桂（四分）　萆　（一錢五分）　柏子霜（一錢五分）　丹皮（一錢五分）　琥珀屑（三分，研沖）</p>
