<header><h1>跌損妙方</h1></header>
<dl class="元資料" data-type="book">
<div><dt>作者</dt><dd>異遠真人</dd></div>
<div><dt>朝代</dt><dd>明</dd></div>
<div><dt>年份</dt><dd><data value="1368/1644">公元1368年至公元1644年</data></dd></div>
</dl>
<h2>治法總論</h2>
<p>夫跌打損傷，氣血不流行，或人事昏沉，往來寒熱，或日輕夜重，變作多端。昧者不審妄投猛劑，枉死多人，誠可惜也。治宜及早，半月後才醫，瘀血已固，水道不通，難為力矣。既表不可復表，要仔細看明，隨輕重用藥。青腫轉紅色，血活將愈。若牙關緊閉，不能進藥，萬無生理。坐臥避風，忌一切生冷，牛肉縮筋，豬肉發病，亦不宜食。遇有重傷，解衣諦視偏身，血道形色若何，診脈調和與否。脈絕不至者死，沉細者生。山根好，陰囊有子，可治。腎子入小腹，無治。頂門一破，骨陷難存。囟門被傷，髓出即死。心胸緊痛，青色勝裹心，乃偏心受傷，可治。紅色勝裹心，乃心口受傷，不治。上心口青腫，一七即死。傷小腹而不及肚，可治。若陰陽不分，糞下不止，氣出不收，則肚傷矣。食管雖斷，在飽食之後，延二日不死者，可治。若鼻孔黑色，舌大神昏，則臟腑絕矣。耳後為制命之處，脊骨無續斷之方。男子乳傷，猶非重症，婦人乳傷，卻是危機。正腰受傷，笑者多凶。小腹受傷，孕婦最忌。以上姑述其大者，並列各方於下。</p>
<h2>用藥歌</h2>
<p>歸尾兼生地，檳榔赤芍宜。四味堪為主，加減任遷移。乳香並沒藥，骨碎以補之。頭上加羌活，防風白芷隨。胸中加枳殼，枳實又云皮。腕下用桔梗，菖蒲厚朴治。背上用烏藥，靈仙妙可施。兩手要續斷，五加連桂枝。兩脅柴胡進，膽草紫荊醫。大茴與故紙，杜仲入腰支。</p>
<p>小茴與木香，肚痛不須疑。大便若阻隔，大黃枳實推。小便如閉塞，車前木通提。假使實見腫，澤蘭效最奇。倘然傷一腿，牛膝木瓜知。全身有丹方，飲酒貴滿卮。苧麻燒存性，桃仁何累累。紅花少不得，血竭也難離。此方真是好。編成一首詩。庸流不肯傳，無乃心有私。</p>
<h2>血頭行走穴道歌</h2>
<p>周身之血有一頭，日夜行走不停留。遇時遇穴若傷損，一七不治命要休。子時走往心窩丑時須向泉井求。井口是寅山根卯，辰到天心已鳳頭。午時卻與中原會，左右蟾宮分在未。</p>
<p>鳳尾屬申屈井酉，丹腎俱為戌時位。六宮直等亥時來，不教亂縛斯為貴。</p>
<h2>左右論</h2>
<p>凡受傷不知左右，若有吐血症，見血自明。血黑者左受傷，血鮮者右受傷，若無血吐出看眼珠，亦可知其定所。烏珠包丑者傷在左。白珠包丑又加紅大者傷在右。左屬肝，右屬肺。烏珠屬肝，白睛屬肺，瞳仁屬腎。常見右邊受傷，發時左邊便痛。不可單治一邊，必左右兼治，其病始愈。</p>
<h2>藥中禁忌</h2>
<p>乳香、沒藥二味，方中屢用，務要去油，若不去油，恐其再發。小兒骨一味，方中亦間，余謂小兒何辜，甫離母腹，骨化形銷，以人治人，殘忍殊甚，大造丸有紫河車。張景岳以為戕厥子之先天，勸人少用，況兒骨乎。余輯諸方，見有用此者，悉行裁去，以猴骨代之。</p>
<h2>穴名藥名</h2>
<p>《靈樞‧經脈》篇言穴名甚詳，徐氏、滑氏皆有歌訣。滑氏《十四經發揮》圖與注益明編間取新奇，出《靈》、《素》之外未知何本。瀕湖李氏《本草綱目》一千六百余種，備矣，異名同物，一一注明，其有未收者，散見編內，仍依原本載入俟考。</p>
<p>以下方藥計分七門。</p>
<h2>全身門第一</h2>
<p>父母全而生子，子全而歸之。可謂孝矣。身體毀傷，何全之有，然醫治得宜，不全者仍底於全。是亦不失為孝也，輯全身門。</p>
<h2>全身門用藥</h2>
<p><u>上部湯藥方</u></p>
<p>當歸　川芎　赤芍　生地　羌活　獨活　丹皮　黃芩　桔梗　桂枝　澤蘭　桃仁　檳榔　生薑引水煎，酒對服。</p>
<p><u>中部湯藥方</u></p>
<p>歸尾　赤芍　生地　羌活　丹皮　桃仁　紫荊皮　蘇木　蘇梗　西香　大茴　小茴　杜仲紅花（有紅不用）　兒茶　元胡　草烏（少用）　水煎，酒對服。</p>
<p><u>下部湯藥方</u></p>
<p>歸尾　赤芍　生地　羌活　獨活　丹皮　桃仁　紫荊皮　黃芩　西香　木香　木瓜　苡仁骨碎補　防己　川茗　牛膝　參三七　甜瓜皮　南星　水煎，酒對服。</p>
<p><u>全身跌打丹</u></p>
<p>當歸　川芎　白芍　陳皮　茯苓　半夏　山藥　澤瀉　羌活　獨活　荊芥　防風　細辛芷青皮　枳殼　山楂　神麯　檳榔　大黃　黃柏　小茴　大茴　西香　木香　麝香　元胡木瓜　甜瓜皮　乾薑　杜仲　續斷　骨碎補　虎骨　猴骨　乳香　沒藥　參三七　甘草自然銅　烏藥　川烏　草烏　血竭　地鱉蟲　朱砂　琥珀　穿山甲　花粉　苡仁　車前子木通　狗脊　菖蒲　南藤（即風藤亦名丁公藤）　兒茶　秦艽　紅花　五爪龍（即烏蘞莓俗名五葉藤）　尋骨風　赤芍　以上各等分為末。</p>
<p><u>全身跌打方</u></p>
<p>當歸　虎骨　猴骨　參三七　白芷　烏藥　山羊血　桃仁　木香　母丁香　茜草（以上一乳香　沒藥（以上八錢）　赤芍　血竭　牛膝　菖蒲　木通　五加皮　小茴　杞子　元參　五靈脂南蛇　薄荷　尋骨風（以上五錢）　川芎　澤瀉　肉桂　桂皮　本　鬱金　蔓荊子　麝香（以上三錢）　荊芥　羌活　升麻　枳殼　花粉　杜仲　木瓜　細辛　檳榔　桂枝　兒茶　厚朴破故紙　三棱　自然銅　草烏（以上二錢）　地鱉蟲（四十九個）　共為末，酒對服。（南蛇，即蚺蛇，生嶺南）</p>
<p><u>全身酒藥方</u></p>
<p>當歸　木瓜　虎骨　杜仲　菟絲子　破故紙　杞子　牛膝（以上一兩）　乳香　沒藥（以上八白芍　山藥　丹皮　麥冬　桂枝　知母　元胡　川芎　紫荊皮　丁香　威靈仙以上五錢　甜瓜皮　陳皮　兒茶　獨活　參三七　烏藥（以上三錢）　朱砂　西香（各二錢）　地鱉蟲（五個）　血竭（七錢）　共為末，放瓶內，入好酒十斤，煮三炷香，窨七日。每服一杯。</p>
<p><u>佛手散</u></p>
<p>當歸　生地　川芎　白芍　荊芥　防風　鉤藤　大茴　木瓜　五加皮　白芷　紫荊皮羌活　檳榔　杜仲　故紙　五靈脂　威靈仙　乳香　沒藥　烏藥　自然銅　牛膝　南星共為散，用好酒一壇，絹袋盛浸三五日，隨量飲。不拘時，七日見功。</p>
<p><u>大寶紅藥方</u></p>
<p>琥珀　血竭（各四錢）　金粉（一錢）　朱砂（五錢）　共為末，每服八分。</p>
<p><u>五虎紅藥神仙丹</u></p>
<p>猴骨　兒胎（面包火　）　鹿胎　血竭　琥珀（各五錢）　人參（一錢）　自然銅（三錢）　共為末，損傷十分，服此藥八分，神效。</p>
<p><u>回生再造飲</u></p>
<p>接骨藥也，如骨未斷，勿輕服。</p>
<p>五銖錢（五文，火　七次）　木香　自然銅（各一錢）　麝香（一分）　共為細末，每服一錢，無灰酒送下。先嚼丁香一粒，方進此藥。傷在上飯後服，傷在下飯前服。</p>
<p><u>返魂奪命丹</u></p>
<p>牙關緊閉，不省人事，撬開灌入。</p>
<p>銀絲草（一兩，即山橄葉，長白毛者佳）　小雞（一只，過一月者，不去毛）　二味共搗爛如洗，熱酒沖和，布濾過。調猴骨末二錢，服過，再用棱莪散一劑。</p>
<p><u>棱莪散</u></p>
<p>三棱　莪朮　赤芍　黃柏（各一兩）　大茴　元胡　檳榔　紫蘇　陳皮（各八錢）　青皮　羌活皮（各五錢）　荊芥　桔梗　半夏　黃連（各二錢）　芒硝　大黃　防風　柴胡（各一錢）　千裡馬（即草鞋，二只）　薑（三片）　蔥（一根）　童便、水各半煎，空心熱服。隨症加減。若手足傷斷，徐徐推正。燈芯火紙卷令濃實，杉木皮緊扎自愈。</p>
<p><u>回生續命丹</u></p>
<p>治筋骨斷折，疼痛不止。</p>
<p>川烏　草烏　自然銅（各二兩）　地龍　烏藥　青皮　禹餘糧（醋淬，各四錢）　共為細末，每用二錢。</p>
<p><u>再生活血止痛散</u></p>
<p>大黃　紅花（各五錢）　當歸　柴胡（各二錢）　花粉　穿山甲（各一錢）　桃仁（五十粒）　甘草（八分）</p>
<p>水酒各半煎。空心熱服。</p>
<p><u>神效接骨奇方</u></p>
<p>當歸　白芷　草烏（各三錢，生用為末，先酒調服二錢，一覺麻揣正骨斷處，糯米粥、牡調塗患處）　乳香　沒藥　當歸　白芍　川椒（各五錢）　自然銅（二錢）　共研細末，黃蠟二兩熔化，入前末，攪勻作丸，酒服數次。</p>
<p><u>接骨丹</u></p>
<p>自然銅（五錢）　當歸　川芎　羌活　獨活　虎膏　五靈脂　乳香　沒藥　杜仲　木瓜　茯芡實　棗仁　杏仁　川烏　白蠟　苡仁　細辛　神麯　牙皂　烏藥　朱砂　西香　木香灶馬俗名灶蟀）　地骨皮　地鱉蟲　甘草（各三錢）　紅蚯蚓　抱雞（各三個）　大皂　推車子（各一錢，即蜣螂）　共為細末，每服一錢，酒下。</p>
<p><u>七將擒拿方</u></p>
<p>地鱉蟲　銀朱　朱砂　銀粉　骨碎補　接骨蟲　白蠟　各八分，共為細末。</p>
<p><u>滋榮雙解散</u></p>
<p>治氣血虛，受風寒。</p>
<p>當歸　川芎　白芷　元胡索　沒藥　川烏　自然銅　石蓮肉</p>
<p><u>活血通經止痛散</u></p>
<p>治血衝心，氣緊急。</p>
<p>三棱　莪朮　黃柏　黃連　青皮　赤芍　紫蘇　香附　柴胡　乳香　紅花　蘇木　菖蒲</p>
<p><u>吐血不止方</u></p>
<p>當歸　茯苓　芡實（各一兩五錢）　肉桂　棗仁　白朮　白芍　澤瀉　陳皮　遠志　柴胡（各一兩）　山藥（二兩）　砂仁　熟附（各五錢）　共為細末，酒服。</p>
<p><u>初起方</u></p>
<p>歸尾　川芎　白芍　香附　丁香　木香　紅花　蘇木　桂枝　白芷　甜瓜皮　桑白皮牛膝</p>
<p><u>乳香尋痛散</u></p>
<p>治遠年損傷，遍身疼痛。</p>
<p>乳香　沒藥　木香　沉香　肉桂　草烏（各五錢）　花粉　木瓜　羌活　獨活　小茴　甘草（各七錢）　當歸　川芎　白芷　血竭（各一兩）　共為末，每服二錢，熱酒送下。</p>
<p><u>敷藥方</u></p>
<p>秦艽　川椒　蔥葉（各一兩）　肉桂　雞心瓣（五錢）　生薑（二錢）　共研爛，砂糖調敷，立效。</p>
<p><u>洗藥方</u></p>
<p>半夏　川烏　草烏　乳香　沒藥　骨碎補（各一兩）　白芨　白芷　黃柏　七厘散　尋骨風蛇蛻　千年健　陳鍛石（各五錢）　用燒酒煎洗。</p>
<p><u>末藥方</u></p>
<p>狗脊　骨碎補　蘇木（各一兩）　千年健　過江龍　青木香　尋骨風　檳榔　紅花　三棱莪朮粒共為末，脅下加柴胡、膽草、青皮、細辛、牙皂、桔梗。腳上加半夏。手上加桂枝。腰加仲、破故紙。未過四十者，加乳香、沒藥、骨碎補、烏藥、羌活、防風、檳榔、紅棗肉。上四十者，加熟地、白芍、茯苓、甘草、澤瀉、山藥、棗皮、遠志、黃　。</p>
<p><u>當門吹鼻丹</u></p>
<p>麝香　冰片　金粉　銀粉　朱砂　明礬　牙皂　細辛　槍硝（各三錢）　金箔　銀箔（各二兩）</p>
<p>不換葉（一兩）　共為細末，每吹八分。此藥入鼻，如不轉氣，將紅藥與服。用手在眼角上一揉，片時自轉。（金不換即參三七）</p>
<p><u>婦人跌損方</u></p>
<p>當歸　川芎　生地　白芍　益母草　紅花　杜仲　白朮　牛膝　羌活　獨活　黃芩　黃香附　烏藥　茯苓　續斷　虎骨　南星　胡水沙　各等分，用酒煎服。</p>
<p>凡跌打骨斷，痛不可忍。急拾往來便溺牆下瓦片，洗淨，火　醋淬五七次，研極細末。</p>
<p>三錢，痛在上飯後服，在下空心服。此藥極能理損，續筋接骨，屢有神效。又方，將糞窖內多年瓦片洗淨，醋　九次，研細末。每末一兩，加五加皮、男子發灰各五錢。醋調，一歲一，好酒送下。再用竹四片，竹青向內，夾定患處，勿動；若皮破者，勿用摻藥。又方，用母雞一只，約重一斤，殺後連毛骨剁爛如泥，再將雞血和入再剁，敷患處，綢包緊，三日自愈凡閃挫時，即於無風處將紙捻觸鼻內，用力打噴嚏二三十，則氣升而痛止。再用胡桃肉搗爛，傾熱酒內，盡量一醉而愈。或急尋地鱉蟲炙脆為末，酒調服。</p>
<p>骨節跌脫用生蟹搗汁，熱酒沖服數杯，以蟹渣塗患處，半日間簌簌有聲，脫處自合。又方，燒灰酒對亦佳。</p>
<h2>頭面門第二</h2>
<p>頭居一身之上，五官位焉。若喪其元，豈不有　，依方服之，還汝廬山真面。（輯頭面</p>
<p><u>頭破腫痛發熱</u></p>
<p>歸尾　川芎　生地　赤芍　防風　白芷　蔓荊子　羌活　連翹　花粉（各一錢五分）　甘草（一錢）　如血出過多，昏迷不醒，倍加芎、歸，水煎服。</p>
<p><u>頭破傷風腫大</u></p>
<p>先服紅藥，用雞肝飯上蒸熟。酒調，後服回生丹。</p>
<p>肉桂　自然銅　當歸　白芷　防風　升麻　花粉　大茴　羌活　甘草　水煎，酒對服。</p>
<p><u>百會穴傷</u></p>
<p>　腦頂也金沙　銀沙　自然銅　參三七　血竭（各一錢）　山羊血（如無以地鱉蟲代之）　甘草（五分）</p>
<p>虎骨白芷　自然銅　水煎服。</p>
<p><u>腦門受傷</u></p>
<p>血瘀七孔，雞湯洗淨，將馬蹄子調敷，後用八寶丹。</p>
<p>朱砂　瑪瑙　龍骨　象皮　鹿角膠　地鱉蟲　白蠟　乳香　沒藥　若無血水，用人乳調敷，即愈。</p>
<p><u>囟門穴傷</u></p>
<p>天麻　白芷　本　羌活　木香　青皮　骨碎補　赤芍　紅花　川烏　甘草　共為末，蔥引，酒下五分。</p>
<p><u>太陽太陰穴傷</u></p>
<p>血竄兩目，暈死。先服七厘散。</p>
<p>猴骨　朱砂　參三七　琥珀　自然銅（各二錢）　人中白　沉香　紅花　乳香　沒藥　山羊血（各一錢）　共為末，好酒送服，外用八寶丹點眼。</p>
<p><u>太陽三么穴</u></p>
<p>歸尾　桃仁　莊黃　杜仲　破故紙　青皮　羌活　獨活　肉桂　功勞　章子　千裡馬薑引，酒燉服。</p>
<p><u>太陰三星穴</u></p>
<p>三棱　莪朮　肉桂　參三七　蘇子　元胡　萊菔子　木香　茜草　乳香　沒藥　地鱉蟲</p>
<p><u>開空穴傷</u></p>
<p>　兩耳也。</p>
<p>威靈仙　當歸　山藥　木通　虎茨（各一錢五分）　茯苓　腳樟（各二錢）　大腹皮　甘草（各一錢）　木香（八分）　童便引，酒燉服。</p>
<p><u>喬空穴傷</u></p>
<p>　耳後根也。</p>
<p>天麻　本　白芷　羌活　荊芥　麝香　血竭　紅花　甘草　共為末，酒下五分。</p>
<p><u>左眉尖穴</u></p>
<p>五加皮　桂枝　柴胡　龍膽草　陳皮　荊芥　薄荷　甘草　共為末，酒下。</p>
<p><u>右眉尖穴</u></p>
<p>五加皮　桂枝　柴胡　龍膽草　細辛　五味　威靈仙　木香　麝香　共為末，酒下。</p>
<p><u>眼角穴傷</u></p>
<p>　眼梢也當歸　茯苓　川芎　茜草　地鱉蟲（各五錢）　川烏（三錢）　青木香（二錢）　肉桂　甘草（各一錢）</p>
<p>參三七（五分）　共為末，酒下三分。</p>
<p><u>眼角左右方</u></p>
<p>天麻　白芷　柴胡　桔梗　川芎　獨活　兒茶（各一錢）　三棱　莪朮（各二錢）　甘草（五分）</p>
<p>共為末，酒下。</p>
<p><u>大中穴傷</u></p>
<p>　鼻中也香附　紅花　桂皮　蘇梗　澤蘭　半夏　升麻　白芷　陳皮　甘草　蔥引，酒燉服。</p>
<p><u>天平穴傷</u></p>
<p>　大中穴之上，此穴斷不治。</p>
<p>朱砂（七分）　砂仁（六分）　石乳　枳殼（各一錢）　童便引，酒對服。</p>
<p><u>駕梁穴傷</u></p>
<p>　鼻梁也當歸　生地　川芎　白芍　尋骨風　天麻　白芷　肉桂　參三七　甘草　共為末，酒下</p>
<p><u>山根穴傷</u></p>
<p>　鼻梁之上當歸　生地　川芎　細辛　白芷　茯苓　虎骨　陳皮　甘草　共為末，蔥引，酒下三分</p>
<p><u>咽空穴傷</u></p>
<p>　鼻下也血竭　茜草　桔梗　獨活　杜仲　白朮　紅花　柏葉　連翹　蔥引，水煎，酒對服。</p>
<p><u>人中穴傷</u></p>
<p>升麻　白芷　上力　自然銅　肉桂　地鱉蟲　木香　冰片　蔥引，水煎，酒對服。上力疑即血竭。</p>
<p><u>牙關穴傷</u></p>
<p>　唇口四穴白芍　山藥　連翹　神麯　麥冬　五味　檳榔　赤茯苓　細辛　陳皮各三錢，共為末，</p>
<p><u>牙背牙腮</u></p>
<p>　二穴分左右，在左邊移掇向右，在右邊移掇向左。</p>
<p>鐵馬鞭　骨碎補　五加皮　劉寄奴　純麻　麻骨　活血丹　牛膝　腳樟　白牙丹　澤蘭金不換七枝，生酒燉服。</p>
<p><u>咽喉穴傷</u></p>
<p>　飲食不通，要開他關節，用五虎下西川方。</p>
<p>麝香（二分）　馬兜鈴　青木香　半夏　山楂　元參（各一錢）　共為末服之，不納用千金分氣半夏　桂枝　赤芍　羌活　桑皮　腹皮　陳皮（各一錢）　茯苓　紅花　乳香　沒藥（各一錢五分）</p>
<p>木通　甘草　青皮　紫蘇（各一錢）　好酒燉服。如氣血不行，再用後方。麝香　木香　羌活桃仁　茯苓　木通　生地　獨活　參三七　陳皮　甘草　藕節引，酒燉服。</p>
<p><u>將台穴傷</u></p>
<p>　咽喉左右當歸　川芎　防風　尋骨風　白朮　黃　質汗　甘草　共為末，酒下。查益母草名土</p>
<p><u>將台第二方</u></p>
<p>腳樟　棱麻　白菊　云皮　肉桂　青皮　朱砂　木香　枳殼　香附　桔梗　川芎　甘草共為末，童便引，酒下。</p>
<p><u>將台第三方</u></p>
<p>橘紅　云皮　紅花　砂仁　香附（各一錢五分）　青皮　鬱金　沉香　朱砂　甘草　肉桂（各木香（八分）　酒和童便引；未效，服沉香順氣散：沉香　茯苓　紅花　參三七　熟地　紫草（各二錢）　赤芍　血竭　木香　朱砂　烏藥　木通　白芷　乳香　沒藥（各一錢）　甘草（三分）　糯米（一合，炒）　共為細末　蜜丸梧子大。每服三錢，酒下。</p>
<p><u>舌咽穴傷</u></p>
<p>　服平胃散。</p>
<p>蒼朮　陳皮　厚朴　甘草　五加皮　香附　砂仁　酒燉服。</p>
<p><u>對口穴傷</u></p>
<p>　舌尖露出，飲食不進，言語不清。先拿封門穴，再服後方。</p>
<p>肉桂　茯苓　白芷　云皮（各一錢）　紅花　熟地（各五分）　枳實　木香（各八分）　麝香（二分）</p>
<p>甘草（五分）　福元肉五枚　酒引。煎服後，舌不收，再服蘿卜湯即愈。</p>
<p>頭出腦漿不治，頭出冷汗不治，凡頭破鼻流紅水可治，流黃水不治。耳背有傷，黑色不，紅青色可治，先服紅藥，後服全身丹。忌食雄雞、魚蝦、蛋，眼帶青色或黃色具不治。</p>
<p>牙關骨打落，用雙手掇定，往下一舉，往上一端。先服紅藥，後服接骨丹即愈。舌根跌後頸窩內燈芯火二灸。如不應，再用一灸，再灸兩耳背，先服紅藥，後服全身丹水酒送下。</p>
<p>食管斷用桑白皮和絲密縫，將雞　剖開，去食取膜，貼定，隨用藥護之，再用藥可愈。</p>
<h2>身中門第三</h2>
<p>項以下，小腹以上。曰身中。兩臂系於外，五臟處於內，烏可或傷。文王受命唯中身。</p>
<p>或曰中身終身也。兢兢業業，尚保此以終身。（輯身中門）</p>
<p><u>肋下受傷</u></p>
<p>　傷在左，四肢無力，黃瘦吐血；傷在右，半身不遂，血氣行於七孔，宜服後藥。</p>
<p>赤芍　茯苓　腹皮　青皮（各一錢五分）　木通　柴胡　桂枝　紫蘇　陳皮　半夏　桑白皮草（各一錢）　羌活（八分）　生薑引，酒燉，童便一小杯對服。再服下方：赤芍　茯苓　腹皮　橘紅丹皮　陳皮　桂枝　秦艽　半夏　柴胡　鱉甲　乳香　沒藥　紅花（各一錢五分）　肉桂木香（各六分）　桃仁（七粒）　福元肉引，酒燉服。</p>
<p><u>兩肋骨斷</u></p>
<p>當歸　赤芍　生地　紅花　桃仁　五加皮　木香　桂枝　破故紙　尋骨風　小茴（各一兩）</p>
<p>三七　血竭　肉桂　牛膝（各一錢）　虎骨　乳香　沒藥　柴胡　桔梗　骨碎補（各五錢）　自然銅三棱　川烏　甘草（各八分）　地鱉蟲五個，左加柴胡，右加桔梗百合，好酒對服。</p>
<p><u>右肋方</u></p>
<p>續斷　秦艽　細辛　烏藥　陳皮　威靈仙　枳殼　生地　赤芍　川芎　槐花　乳香　陳稻草灰　紅棗四枚引。</p>
<p><u>右脅久損</u></p>
<p>　虛者先服此方。</p>
<p>當歸　熟地　山藥　澤瀉　蘇葉　沙參　棗皮　丹皮又方　當歸　桔梗　百合（各二錢）　桑皮　牛膝　乾薑（各一錢）　骨碎補　澤瀉　廣皮　乳葶藶子　薄荷　元胡　菖蒲（各八分）　枳殼　沉香　參三七　川貝（各六分）　吐血者，服二劑後，加蒲黃一錢三分、茜草一錢。枳殼、澤瀉不可多用。</p>
<p><u>左肋方</u></p>
<p>柴胡　白芍　青皮　當歸　生地　澤瀉　烏藥　紅硝　骨碎補　山楂　三棱　木通　乳香沒藥　共為末，酒調服。</p>
<p><u>左脅久損</u></p>
<p>當歸　白芍　熟地（各二錢）　澤瀉　澤蘭　酥餅　棗皮（各一錢五分）　牛膝　木香　骨碎補香沒藥（各一錢）　柴胡　元明粉　木瓜（各八分）　肉桂（四分）　麝香（一分）　服二劑後，加杏仁霜</p>
<p><u>鳳膊受傷</u></p>
<p>　肩膀左右也。先用移掇，後用敷藥。</p>
<p>紅曲　花椒　五加皮（各二錢）　韭菜根　胡麻（各一錢）　地鱉蟲（十個）　梔子（八個）　酒藥（五個）</p>
<p>（一把）　老薑（一片）　共為末，酒調敷。後服藥：地鱉蟲（五個）　鹿筋　乳香　沒藥（各二錢）　紅花虎骨　龍骨（各一錢五分）　山甲珠　木香（各一錢）　紅棗引，酒對服。酒藥想即白曲。</p>
<p><u>兩手受傷</u></p>
<p>　出血腫痛宜服。</p>
<p>歸尾　赤芍　川芎　生地　桂枝　木香　威靈仙　骨碎補　細辛　桃仁　紅花　蘇木甘草（各一錢）　水煎服，用酒一二盞以行藥力。另加乳香、沒藥、穿山甲，制末入湯內。若骨斷加虎骨、自然銅、地鱉蟲。</p>
<p><u>左手傷</u></p>
<p>歸尾　赤芍　川芎　生地　紅花　洋末　秦艽　細辛　質汗　桂枝　木香（各八分）　骨碎錢）　柴胡（二錢）　水、酒各半煎。若制末加乳香　沒藥　自然銅　虎骨　地鱉蟲（各五錢）　水酒</p>
<p><u>右手傷</u></p>
<p>歸全　生地　紅花　桂枝　川芎　洋末　薑黃　骨碎補　穿山甲　威靈仙　自然銅</p>
<p><u>童骨穴傷</u></p>
<p>在鳳膊下，如骨斷腫痛，先用移掇，後用藥。</p>
<p>紅曲　自然銅（各五錢）　乳香　沒藥（各二錢）　地鱉蟲（十個）　酒藥（七個）　小雞（一只）　糯米飯包，石臼內搗爛敷上，若發熱即去藥）　二服接骨丹（當歸　自然銅　虎骨　小茴　白芷　羌活獨活　白芍　厚朴　地鱉蟲　猴骨各一錢　乳香　沒藥　肉桂各六分　血竭　烏藥　甘草各五分　麝香二分　共為末，每服二錢，酒對服。）</p>
<p><u>童骨左右二穴</u></p>
<p>川芎　木瓜　獨活　杜仲　肉桂　腳樟　青木香　乳香　蘚皮　桑樹根引　酒煎服。</p>
<p><u>曲池穴傷</u></p>
<p>　兩臂彎也。</p>
<p>五加皮　桂枝　膽草　牛膝　柴胡　細辛　紅花（各一錢）　生地　丁香　參三七　共為末脈門穴傷桔梗　川芎　參三七　木香　五味　細辛　桂枝　膽草　淮膝　陳皮　丁香　桂皮　共為末，酒下。</p>
<p><u>精靈穴傷</u></p>
<p>　虎口四穴。</p>
<p>柴胡　膽草　五加皮　桂枝　淮膝　羌活　細辛　五味　川芎　木香　丁香　陳皮　紅花甘草　地鱉蟲　虎骨　共為末，酒下。</p>
<p><u>胃脘受傷</u></p>
<p>　吐血不止，氣往上逼，先用擒拿，後服藥。</p>
<p>桂皮　半夏　陳皮　青皮　參三七　血竭（各一錢）　山羊血　木香　赤石脂（各八分）　赤芍（一錢二分）　橘紅　靈砂（各三分）　黑羊肝　甘草（各五分）　童便引，酒燉服。靈砂疑即朱砂。</p>
<p><u>心窩受傷</u></p>
<p>　吐血不食，冷汗不干，夜間煩躁。服藥再看，不可包好。</p>
<p>金沙　銀沙　肉桂　神麯（各八分）　當歸　紅花　麥冬　枳殼　橘紅　龍骨　沉香　三棱莪朮　甘草（各五分）　生薑引，酒燉服。</p>
<p><u>中脘穴傷</u></p>
<p>　在心窩下。食減氣逼，兩截不通，服此藥。</p>
<p>茯苓　黃　（各一錢五分）　朱砂　乳石　枳殼　厚朴　砂仁　白芷　破故紙　云皮　甘草錢）　桂圓五枚引，酒燉服。如嘔，再服下方：黃　桔梗各一錢五分　枳殼　附子　黃芩龍骨　枳實　甘草（各一錢）　木香　丁香（各五分）　酒燉服。</p>
<p>肚臍受傷，汗下如雨，四肢麻木，腹痛吐瀉，兩氣不接，不可亂。</p>
<p>人參　紅花　烏藥　龍骨　木草　甘草（各一錢）　生地　乳香　沒藥（各一錢五分）　薄荷（二分）　煎服。傷重者用白蠟　銀朱　蒼朮（各一錢）　麝香（二分）　小雞（一只）　同搗爛，敷肚。</p>
<p><u>六宮穴傷</u></p>
<p>　即肚臍生地　參三七　血竭　云皮　茯苓　赤芍　歸尾　陳皮　甘草　蔥引，生酒煎服。</p>
<p><u>腹結穴傷</u></p>
<p>　大便不收，小便長流，腹痛用此。</p>
<p>附子　黃　當歸　茯苓　白芍　血竭　陳皮　乳香　沒藥　元胡　小茴（各一錢）　升麻甘草（各八分）　紅棗引，酒燉服。</p>
<p><u>兩乳受傷</u></p>
<p>　四肢麻痹，即照下方。</p>
<p>桂枝　羌活　細辛　猴骨　牛蒡子　乳香　沒藥（各一錢）　當歸　紅花　射干（各一錢五分）</p>
<p>香（八分）　灶心土一錢引，酒燉服。未愈，再服下方：川芎　當歸　半夏　杏仁　參三七　云皮菟絲子（各一錢）　紅花（一錢五分）　沉香（八分）　大棗（十枚）　童便引，酒燉服。</p>
<p><u>期門三關</u></p>
<p>　（左乳旁二穴）</p>
<p>三棱　莪朮　柴胡　參三七（各八分）　鬱金　丹皮　茜草　五靈脂　羚羊角（各一錢）　桃仁（七粒）　如眼珠脹痛，加夜明砂酒煎服。</p>
<p><u>通門三關</u></p>
<p>　（右乳旁二穴）</p>
<p>生地　香附　枳實　丹皮　烏藥　蘇木　馬鞭草（各一錢）　苧根　歸尾（各八分）　通草　紅紫草　桑白皮　母丁香　桔梗　黃芩（各六分）　穿山甲（三分）　酒煎不用引。馬鞭草一名龍牙草，一名鳳頸草，春月生苗，莖方、葉似益母，對生；春秋開小紫花，作穗如車前子。</p>
<p><u>期門穴傷</u></p>
<p>川芎　當歸　生地　白芍　柴胡　青皮　紅花　紫草　桃仁　乳香　甘草　不加引，酒</p>
<p><u>章門穴傷</u></p>
<p>　（近背，在脅內期門之下）</p>
<p>歸尾　白芍　血竭　莪朮（各一錢）　柴胡　青皮　紅花　紫草　桃仁　化紅　川貝　木通甘草（各八分）　生地（五分）　丁香（三枚）　廣香（三分）　童便引，酒煎服。</p>
<p><u>氣門血瘦</u></p>
<p>　左右兩乳下二指，左邊氣門，右邊血瘦，上下不接。</p>
<p>蒼朮　厚朴　陳皮　甘草　木香　五加皮（各一錢）　枳殼　香附　砂仁（各一錢五分）　神麯絲子（各一錢二分）</p>
<p>燈心引，酒燉服。又用銀花燉酒飲，再服通行打血湯：牛膝（一錢五分）　桑寄生（一錢）　尋骨風（一錢二分）　甘草（八分）　酒燉服。後看血黑血紫，再服下方。當歸　茯苓（各一錢五分）　參三七　破故紙　桔梗　烏藥　獨活　赤芍（各一錢）　朱砂　甘草（各八分）　紅棗（五枚）　酒燉服。</p>
<p><u>氣囊受傷</u></p>
<p>　小腹左邊。</p>
<p>三棱　莪朮　羌活　防風　枳殼　厚朴　茯苓　蘇子　蘇梗　乳香　鬱金　桃仁　甘草（各八分）　參三七　沉香　紅花（各五分）　藕節　童便引</p>
<p><u>血囊受傷</u></p>
<p>　小腹右邊。</p>
<p>歸尾　橘紅　茯神　廣皮　枳殼　血竭　參三七（各一錢）　桃仁　紅花　蘇木　三棱　莪朮乳香　沒藥（各八分）　沉香　甘草（各五分）　丁香（三分）　童便引，酒煎服。</p>
<p><u>氣關穴傷</u></p>
<p>　即氣門桔梗　枳殼　白芷　乳香　沒藥　紅曲　砂仁　血竭　參三七　自然銅　酒煎，空心服</p>
<p><u>血關穴傷</u></p>
<p>　即血瘦歸尾　生地　桃仁　紅花　青皮　桔梗　乳香　沒藥　甘草　酒煎，空心服。</p>
<p><u>掛膀穴傷</u></p>
<p>　氣門、血瘦之下，左右二穴。</p>
<p>大黃　紅花　蘇木　澤蘭　桃仁　陳皮　歸尾　地鱉蟲　醋引，服後通身麻閉，或寒或四肢無力，照前方加桑寄生　尋骨風　木通　苡仁　甘草（各一錢）　木香（六分）　生薑引，好酒燉服。</p>
<p><u>鳳翅盆弦</u></p>
<p>　腹下兩旁受傷，飲食不進，氣往上逼，力軟心煩。服後藥：羌活　烏藥　半夏　石鐘乳　紅花　血竭　檳榔　木香　破故紙　小茴　丹皮　紅曲（各木通（八分）　桃仁（七粒）　胡椒（三分）　生薑　童便引，酒燉服，再服後方。肉桂（八分）　杏仁（一錢二分）　參三七　紅花　青皮　枳殼　陳皮　厚朴　五加皮　牛蒡子　使君子（各一錢）　紅棗引，酒燉服。</p>
<p><u>肚角穴傷</u></p>
<p>　小腹盆弦之外。</p>
<p>白芍　破故紙　車前　紅花　菟絲子　乳香　沒藥（各一錢）　小茴　地膚子　良薑　青皮西砂　枳殼（各八分）　紫草　杏仁（各六分）　肉桂　木香　甘草（各五分）　童便引，生酒服。</p>
<p><u>淨瓶穴傷</u></p>
<p>臍左肚角，血腕之下，乍寒乍熱，咳嗽吐血，服下方。</p>
<p>參三七　血竭　蒼朮　腳樟　紫草茸　甘草（各一錢）　紅花　生地　苡仁　乳香　沒藥（各一錢五分）　木香　升麻（各八分）　桃仁（七個）　藕節引，酒燉服。</p>
<p><u>命宮穴傷</u></p>
<p>　血瘦之下，丹田之右。</p>
<p>沙參　當歸　紅花　菟絲子　枳殼　厚朴　血竭　細辛　五靈脂（各一錢）　自然銅　七厘散（各八分）　童便、生薑一片引，酒下。</p>
<p><u>丹田穴傷</u></p>
<p>車前子（五錢）　肉桂　桂皮　歸尾　丹皮　參三七　木通　山藥（各二錢）　麝香（一錢）　丁香（六分）　共為末，酒下四分。</p>
<p>肚角受傷，吐血不止，用水銀　梔子　紅花　五加皮共為末，帶毛小雞一只。同搗爛敷陰頭生瘡，用鱉甲一片，燒存性、研末，雞子清調塗，痊愈。</p>
<p>一人騎馬顛撲，所佩鑰匙，傷破陰囊，腎子脫出，筋膜懸系未斷，苦痛難忍，諸醫束手線縫其囊，外用敷藥，生肌定痛，不出三日，線脫爛矣。余思治刀傷但貼壁錢而效，令其多取壁錢貼敷，數日漸安，其囊如故。</p>
<h2>脊背門第四</h2>
<p>背有十六節，五臟六腑系焉，人老而腰俯，精華竭矣。善於調攝者，尚宜豎起脊梁。（輯脊背門）</p>
<p><u>脊背打斷</u></p>
<p>用門一扇，令患者睡定，服接骨丹。</p>
<p>地鱉蟲　當歸　破故紙（各二錢）　杜仲　遠志（各三錢）　地龍（一錢）　共為末，酒調服。</p>
<p><u>脊梁穴傷</u></p>
<p>頭暈軟弱，疼痛難當，咳嗽吐血，服此。</p>
<p>紅花　骨碎補　乳香　沒藥　猴骨　虎骨　劉寄奴　粟殼　龍骨　地榆　甘草（各一錢）</p>
<p>（一錢五分，即胡桃殼）　木香（五分）　砂仁（七粒）　地鱉蟲（十個）　紅棗（五枚）　童便引，酒煎服。外用敷藥：狗脊　地榆　山韭根　乳香　沒藥　紅花　同搗爛敷上，再服後藥。熟地　茯苓（各一錢五分）　白芷　龍骨（各一錢二分）　秦艽　桔梗　羌活　杜仲　續斷　甘草（各一錢）　梁隔（二錢）　魚骨引，好酒燉服。</p>
<p><u>背漏穴傷</u></p>
<p>久咳黃腫，四肢無力，下午潮熱，服此。</p>
<p>當歸　狗脊　澤蘭　乳香　沒藥（各一錢五分）　桑寄生　骨碎補　川芎　地榆　檳榔　續紫蘇　秦艽　黑棗引，酒煎；再服平胃散，蒼朮　厚朴　黃　砂仁　杞子　香附　菟絲子（各一錢）　陳皮（八分）　黃芩（六分）　共為末，蜜丸，酒送下三錢。忌蔥。</p>
<p><u>背心穴傷</u></p>
<p>　背中間也。</p>
<p>生地　五味　防風　獨活　木香（各一錢）　乳香　沒藥（各一錢二分）　共為末，蔥引，酒下</p>
<p><u>三年穴傷</u></p>
<p>　背左右也。</p>
<p>台烏　川烏　草烏　威靈仙　大茴　參三七　廣皮　地鱉蟲（各一錢）　肉桂　甘草（各四分）</p>
<p>童便引，酒下（台烏，疑即烏藥，產台州）。</p>
<p><u>腰眼受傷</u></p>
<p>肉桂八分　龍骨　鬱金　棗仁　五加皮　紅花　虎骨　香附　甘草（各一錢）　純麻　地鱉二錢）　梁隔（一錢五分）　木香（七分）　藕節　旱草節各四個，酒燉服。外用敷藥（肉桂　白芥子乳香　沒藥　共為末，雞子清調敷。）</p>
<p><u>腰上損方</u></p>
<p>杜仲（二錢）　牛膝（一錢五分）　破故紙　骨碎補　生地　質汗　青木香　烏藥　乳香　沒藥歸威靈仙（各一錢二分）　小茴　蛇床子（各八分）　羌活　獨活（各六分）　肉桂（五分）　地鱉蟲（五個腰虛自痛，除地鱉蟲、獨活，加熟地一錢。</p>
<p><u>草烏散</u></p>
<p>　治跌損腰痛川烏　草烏生用　骨碎補　陳皮　乳香　沒藥（各等分）　杉木節（七個，酒炙）　共為末，調服一二錢，手上加穿山甲、細辛、桂枝、威靈仙。左手加柴胡、木香，用酒服。</p>
<p><u>腰痛肚脹方</u></p>
<p>羌活　青皮　烏藥　五靈脂　大茴　杜仲　檳榔　紅花　桃仁　莊黃　甘草　大便不通加大黃、朴硝、荔枝核；小便不通加車前、木通、川楝子、鐵馬鞭。</p>
<p><u>騎當穴傷</u></p>
<p>當歸　白芍　乳香　沒藥　元胡　黃　升麻　熟附　小茴　茯苓　茯神　血竭　沉香甘草　紅棗三枚引。</p>
<p><u>攔馬穴傷</u></p>
<p>歸尾　丹皮（各五錢）　五加皮　苡仁　川牛膝　淮牛膝（各七錢）　參三七　棱麻（各二錢）　肉桂（一錢）　共為末，酒下。</p>
<p><u>鳳尾穴傷</u></p>
<p>腰眼痛極，大便不通。必定打斷鳳翅，積血有餘，服後方。</p>
<p>桑寄生　合夕風　半夏　破故紙　五加皮　紅花　穿山甲　乳香　沒藥　甘草（各一錢）</p>
<p>干葛服。外用敷藥方（乳香　沒藥　紅曲　地鱉蟲　麻根　五龍草　加蔥薑共搗爛，用糯米飯敷</p>
<p><u>腎俞穴傷</u></p>
<p>脊背第十五椎命門之下。</p>
<p>生地（一錢）　破故紙　天仙子　烏藥（各一錢二分）　黃柏　牡蠣　元胡索　小茴　澤蘭　紅花紫草　蘇木　乳香　木香　杜仲（各八分）　不加引，水煎服。</p>
<p><u>氣海穴傷</u></p>
<p>　在關元上赤芍　歸尾　紅花　破故紙　牛膝　紅硝　紅曲　紫草　劉寄奴　肉桂　甘草　杉木皮引，酒煎服。</p>
<p><u>關元穴傷</u></p>
<p>　小腸穴。</p>
<p>歸尾　赤苓　參三七　澤瀉　廣木香　梔仁　自然銅　肉桂　車前　桃仁　三棱　莪朮甘草　燈心引，酒煎服。</p>
<p><u>命關穴傷</u></p>
<p>麝香　肉桂　參三七　牡蠣　青皮　木香　白朮（各三錢）　細辛（二錢）　甘草（五分）</p>
<p><u>膀胱穴傷</u></p>
<p>肚膨不消，小便不通，服此。</p>
<p>車前（一錢五分）　豬苓　澤瀉　檳榔　小茴　桔梗　陳皮　青皮　杜仲　桑寄生　半夏良薑　甘草（各一錢）　莊黃（八分）　燈心、生薑引，水燉服。</p>
<p><u>天樞穴傷</u></p>
<p>　大腸穴莊黃　桃仁　生地　劉寄奴　羌活　棱麻　防風　巴戟　乳香　沒藥　甘草　生薑引，酒煎服。又方　桃仁　千金子　大黃　蜣螂　共為末，酒煎服。</p>
<p><u>糞門穴傷</u></p>
<p>歸尾　莊黃　五味　獨活　參三七　肉桂　五靈脂　生地　甘草　共為末，酒下。</p>
<p><u>封門穴傷</u></p>
<p>此下竅也。傷重昏倒，要拿活，服七葉一枝花，後用藥。</p>
<p>破故紙　桔梗　丹皮　紅花　木通　木瓜　參三七　大茴　獨活　乳香　沒藥　甘草（各肉桂八分　茯苓一錢五分　灶心土引，酒燉服，再用後藥。活石　朱砂　人中白各八分龍骨　烏藥　棗皮　茯神　蓮須　秦艽　茯苓　甘草（各一錢）　續斷　紫荊皮（各一錢二分）　厚朴（六分）　建蓮七枚引，水燉服。</p>
<p>頸項打斷，用高椅坐定，雙手揉上，先服全身丹，後服紅藥，蒸雞肝，童便、酒調吞服頸項骨跌斷，用雙手端定耳門，抬住上掇，先服人參湯，後服紅藥。腰骨腰眼棍打傷者，不治，拳傷可治。</p>
<p>糞骨打傷，用全身丹，藕節煎湯送下。如不止，再用紅藥一分，雞湯送下，即愈。</p>
<h2>腿足門第五</h2>
<p>安步以當車，樂哉。子皮有足疾，限於天也。下堂而傷，咎在人事矣。跛而登者，豈獨貽婦人之笑。（輯腿足門）</p>
<p><u>膝彎受傷</u></p>
<p>生地　蘇梗　桂枝　小茴　細辛　西香　茜草　草烏　甘草　共為末，蔥引，酒下。膝蓋受傷　先移掇，後用藥。</p>
<p>五加皮　五爪龍　梔子仁（三十五個）　共為末，酒調敷，後服藥。獨腳蓮（即鬼臼）過江龍加皮　地鱉蟲　牛膝　木通　紅花　蒼朮　砂仁　棱麻　升麻　甘草　茄根引，酒燉服。</p>
<p><u>膝眼受傷</u></p>
<p>地鱉蟲　梔子　紅曲　乳香　沒藥（各一錢）　胡椒（六分）　蔥薑共搗爛敷上，杉皮夾定後服藥（當歸　生地　沒藥　虎骨　腳樟　南蛇　五加皮　牛膝　獨活　木瓜　一方無獨活）。</p>
<p><u>吊筋受傷</u></p>
<p>當歸（一錢五分）　生地　腳樟　牛膝　木瓜　檀香　骨碎補　劉寄奴　南蛇　紅花　木通降香　乳香　合夕風　甘草（各一錢）　茄根引，酒燉服。</p>
<p><u>內廉二穴</u></p>
<p>牛膝　木瓜　苡仁　五加皮　廣皮　羌活　青皮　丹皮　桂枝　紅花　白芍（各五錢）　馬鞭草引，酒下。</p>
<p><u>太衝鞋帶二穴</u></p>
<p>檳榔　赤芍　腳樟　牛膝　乳香　澤蘭　棱麻　桂枝　鐵砂　甘草　酒煎，空心服。</p>
<p><u>螺絲骨傷</u></p>
<p>苡仁　南星　枳殼　牛膝　木瓜　五加皮　骨碎補　半夏　香附　陳皮　青皮　元胡索尾赤芍　桃仁　羊花（即羊躑躅）　棕樹招　甘草（各一錢）　烏藥（五分）　肉桂（三分）　酒燉服。</p>
<p><u>腳跟受傷</u></p>
<p>腫者不宜動針，只用敷藥。</p>
<p>紅花　川烏　乳香　沒藥　蔥薑肥皂同搗爛敷，又服後方：升麻　元胡索　當歸　蘇木花腳樟　威靈仙　沒藥　五加皮　烏藥　血竭　牛蒡子　牛膝　木通　藕節引，酒燉服。</p>
<p>又方：血竭　虎骨　參三七　牛膝　黃柏　麝香　羌活　木香　丁香　地鱉蟲　歸尾　純麻活血丹　碎骨丹（二丹另用水煎，同藥對服）共為末，酒對服。如人虛加鹿筋；寒氣在身加肉桂另放酒內；腫加大黃、芒硝；氣不和加寄生、廣皮；骨斷加猴骨；血紫加桃仁、紅花；痛加乳香、沒藥、杜仲、故紙；若不煩躁，須減黃柏。</p>
<p><u>衝陽穴傷</u></p>
<p>　腳背也白芨根　川芎　木瓜　檳榔　乳香　甘草　歸尾　澤蘭　青木香　鐵砂　不加引。</p>
<p><u>側足穴傷</u></p>
<p>淮膝　歸尾　莊黃　木通　五味子　參三七　細辛　車前子　白芷　紅花　甘草　馬鞭草引，酒下。</p>
<p><u>涌泉穴傷</u></p>
<p>　腳底心牛膝　木瓜　苡仁　五加皮　丹皮　青皮　莊黃　歸尾　硼砂　車前子　細辛　獨活羌活　共為末，酒下八分。</p>
<p>大腿打落，兩人扶定，將手扣定，抱膝一揉，然後掇上。先服全身丹，後用藥。</p>
<h2>金創門第六杖傷附</h2>
<p>函人唯傷人，乃仁術也，軍中固多備用。北俗人皆佩刀，睚　之怨，抽刃而起，其賴有此與。（輯金創門）</p>
<p><u>金創降真散</u></p>
<p>降真香（用節）　松香　文蛤（各等分）　為末，摻傷處，夾縛定，神效。</p>
<p><u>金創灰蛋散</u></p>
<p>鍛石（細研）　雞蛋清（和灰成餅）　過候冷，研細，遇傷摻之。</p>
<p><u>神效佛手散</u></p>
<p>　治金槍重傷，筋骨斷折將死者。</p>
<p>鹿茸　當歸　蓯蓉　禹餘糧　菟絲餅　桑螵蛸　紫石英　熟地　白芍　川芎　乾薑　覆盆子　酸棗仁　五味子　琥珀　茯苓（各等分）　共為末，薑三片，棗一枚引。</p>
<p><u>軍中第一仙方</u></p>
<p>生狗頭一個（將肉刮盡，文火　存性，為末）　指甲灰　血余灰（各一錢）　陳松香（五錢）　共為末，摻傷處，斷骨即續，刀傷即愈。以四味等分，用酒調服亦可。</p>
<p><u>金創迎刃散</u></p>
<p>　治傷重出血不止。</p>
<p>白芷　甘草　水龍骨（各一兩）　共為末，文武火炒赤色為度，用嫩苧葉　韭菜取自然汁，前末陰乾；入參三七　血竭　南星　牛膽（各一兩）　片腦（三錢）　野苧（五錢）　傷處擦上即愈。</p>
<p><u>住痛生肌止血方</u></p>
<p>韭菜根（二兩）　未毛鼠（二個）　嫩鍛石（二兩）　同放石臼內，搗爛作餅，陰乾為度，用時以刀刮末敷傷處。布裹即愈。</p>
<p><u>治刀斧傷</u></p>
<p>　止血，定痛，生肌。</p>
<p>降真香（挫碎炒存性）　五倍子（微炒）　血余炭（各等分）　為末摻之；將干箬葉護住，用軟棉扎定。兩日一換，愈。</p>
<p>又方　赤石脂　象皮　棕衣　血余　舊氈帽　松香（各五錢）　兒茶　龍骨　乳香　沒藥白礬錢）　共研極細末。</p>
<p><u>刀口見血方</u></p>
<p>生半夏　南星　白芷　研末用。</p>
<p><u>生肌散</u></p>
<p>治刀斧傷成瘡，膿水難干，肌肉不生，此方神效。</p>
<p>五倍子　爐甘石　兒茶　龍膾皮（各等分）　為末，瓷器貯用。洗方：防風　荊芥　甘草共煎湯。無風處洗。</p>
<p><u>英雄丸</u></p>
<p>乳香　沒藥　自然銅　地龍　地鱉蟲　密陀僧　花椒（各八分）　研末蜜丸，酒服。臨打時不覺疼，血不侵心，甚妙。</p>
<p><u>棍傷髀骨</u></p>
<p>茯神　花粉（各一錢二分）　靈砂　龍骨　丹皮　紅花　自然銅　川烏　腳樟　獨活　牛蒡乳香　沒藥　甘草（各一錢）　木香（六分）　桃仁（七粒）　酒煎服。再用敷藥。　花椒（一錢）　梔仁（十個）</p>
<p>地鱉蟲（五個）　酒藥（七個）　麝香（一分）　蔥地蚯蚓（五分）　共搗爛，麻油調敷。再服後藥：當歸生地　乳香　沒藥　石耳　柏葉（各一錢五分）　血竭　人中白　參三七　朱砂　木香　云皮紫草茸　自然銅（各一錢）　猴骨（五分）　七厘散　共為末，肉湯化服之，即愈。</p>
<p><u>金創傷摻法</u></p>
<p>松香　白礬（為末摻）　半夏（六錢）　白礬（四錢，為末摻）　細鍛石　韭汁作餅，貼壁上陰乾，為末摻；鍛石同生大黃片炒桃紅色，去大黃名桃花散。摻之俱效。</p>
<h2>通用門第七</h2>
<p>療折傷方藥，習拳技家多有之，武夫當場往往制以待用。而秘不示人，何其私也，濟世婆心，老而未艾。（輯通用門）</p>
<p><u>八寶丹</u></p>
<p>珍珠（豆腐煮）　滑石（各一錢）　爐甘石（二錢，薄荷水煮　火　）　硼砂（八分）　乳香　蒙薺粉（各一錢，疑是荸薺粉）</p>
<p><u>七厘散</u></p>
<p>歸尾　紅花　桃仁　大黃（酒浸）　自然銅（醋　七次，各一錢）　麝香（五分）　共為末，每服大人一錢二分，小兒七厘，陳酒送下，汗出為度。</p>
<p><u>觀音針方</u></p>
<p>麝香（一錢）　冰片（五分）　硫黃（二錢）　先將硫黃　化，再將冰、麝入內，取起存冷為度。但有久損並核子，用此針即愈。</p>
<p><u>蓮葉散</u></p>
<p>　治瘀血腹脹用蓮葉不拘多少，炒存性、研末，童便調一二服，大便下瘀血愈。若身弱氣虛，用八珍東加骨碎補、續斷服。</p>
<p><u>仙傳火龍行氣散</u></p>
<p>生薑　食鹽　麻油（各四兩）　大黃　牙硝（各二兩頭油渣，疑是豆油渣）　荊芥　澤蘭　瑞香草葉（各三兩）　共搗爛，以麻油炒熱，頻頻熨上，自愈。</p>
<p><u>萬金不換乳香尋痛散</u></p>
<p>治遠年諸般傷損、遍身疼痛，神效。</p>
<p>乳香　沒藥　血竭　甘草　羌活　獨活　茴香　木香　沉香　草烏　當歸　川芎　白芷（各一兩）　花粉　木瓜　肉桂（各七錢）　共為末，每服二錢，熱酒送下。</p>
<p><u>刀斧損傷破傷風方</u></p>
<p>白芷　獨活　荊芥　防風　當歸　乳香　沒藥　蒼耳子　甘草　桃仁一個為引，水煎，酒對服。</p>
<p><u>打死無氣方</u></p>
<p>白芍　桑皮　葶藶子　桔梗（各一錢）　澤蘭　橙葉（各二錢）　枳殼（八分）　連翹　菖蒲　辰砂（分）　牙皂（四分）　麝香（三分）　細辛（二分）　用酒炒過三次，胎發一撮燒存性，和藥研末，開水調服。以手捫其口，藥下一時可愈。</p>
<p><u>萬應膏</u></p>
<p>羌活　獨活　荊芥　防風　黃柏　白芷　赤芍　梔子　川芎　當歸　細辛　連翹　木鱉草蘇木　紅花　元參　升麻　松節　地榆　白芨　白芡　半夏　木瓜　薄荷　生地　白菊降香　知母　貝母　僵蠶　骨皮　苦參　麻黃　蟬蛻　牙皂　枳殼　白朮　云皮　黃豬苓　澤瀉　牛膝　木通　良薑　秦艽　淮藥　艾葉　故紙　炮薑　牽牛　靈仙　杏仁　木賊車前　劉寄奴　續斷　烏藥　陳皮　槐花　香附　砂仁　牛蒡　遠志　三棱　木香　天冬麥冬　山柰　芫花　大戟　骨碎補　山豆根　菖蒲　桂枝　蒼朮　萆　花粉　海桐皮青皮　阿膠　桔梗　黃芩　大黃　薑黃　全蠍　白礬（各一兩）　血余蘇葉　黃丹　水粉（各</p>
<p><u>生肌散</u></p>
<p>乳香　沒藥　血竭　雄黃　蒲黃　梧子　赤石脂　白芷　朴硝　寒水石　陀僧　龍骨輕粉數分，貼傷處。若　瘡厲症，再入麝香二三分。貼背心即安。</p>
<h2>跌損妙方書後</h2>
<p>彥之先生癸巳夏折左肱，南行求治，得《跌損妙方》一編，由是小愈，今秋重加校訂，梓而難其資，就商於余。余讀之，用藥平穩，立法精詳，洵醫林中僅見之作。可補《靈》、</p>
<p>《素》以來所未備，程子云：一介之士，苟存心於利物，於人必有有濟，先生之謂與。爰助其刊資，並綴數言於後。</p>
<p><u>道光丙申九月　同學愚弟胡泉</u></p>
<h2>謹跋</h2>
<p>彥之先生刻《跌損妙方》成，漫題長句一首，即壽其六十生辰。</p>
<p>身是精金百煉余，年華六十再生初，籌添甲子周回日，著到軒岐未有書。世上風波經解脫（日諷金剛經），胸中塊壘酒消除，壽人自壽真無量，珍重青囊萬寶儲。</p>
<p><u>歲在柔兆　灘塗月佛日姻愚弟劉寶楠拜撰</u></p>
