<header><h1>眼科秘訣</h1></header>
<dl class="元資料" data-type="book" hidden></dl>
<h2>序</h2>
<p>上唐仙人所著書，傳之方外，至大瓢七眉先生口授王覆萬，覆萬口授馬云從，云從廣咨博采，推闡微妙，其間沙蒙灰瞇，么麼必錄，室女小兒，纖細無遺。病目者固當朝夕以之，即目無病者，思患予防，亦不可斯須去身。</p>
<p><u>半舫主人白</u></p>
<p>平童子時，從先冰陶兄試青州，即耳云從有聲庠序間。後四十年，為皇清丁君始邂逅於濰西，頹然老翁也，相得甚歡，及道落魄之由，乃知以目病廢舉子業。溯其病目時，俗醫攻其外，不知治其本，試萬方，目將瞽，虔禱於城隍尊神，夢神賜書四帙，帙豆青色，內墨書，句讀處朱界之。</p>
<p>晨起遇江南王覆萬授書，如夢中所見，乃孫真人《眼科秘訣》。如法自醫自愈，醫人人亦愈，人獲真人之賜久矣。今化龍老，恐旦暮死，而此書不行於世；即旦暮未死，亦行於一方，不能遍宇內也。因發愿刊行，又綿力未克終事，言訖，欷　感激，不能自已。時秋月滿庭，爽氣逼人，平聞其言，瞿然有動，遂出硯田金，為之竣事。云從又云《秘訣》行矣，《闡微》不行，誰是能神解者。平目索《闡微》，盡付之梓。雖賢人君子，或與匕箸之余，共成不朽之書，然三、四年來，艱難困苦中，未嘗旦夕敢忘督剞劂氏，是知云從為天下後世而有書，平為云從而刻書，久要不忘，竊有慕焉。若曰：書成而平分醫人之功，則非平意計之所及也。</p>
<p><u>已時庚辰夏王古諸馮昆鐵隋平敘</u></p>
<h2>刻孫真人眼科秘訣序</h2>
<p>蘇文忠云：「醫家之方，但求經效於世間，不必皆從。論已出，依此言而為醫，醫之最上者也。」吾友馬君云從，擅龍木之學，愈人種種矣。自云其七十二證得之於西江覆萬王君，覆萬王君云得之於唐孫真人。云從嘗怏怏告於余：「向覆萬愈余目，而並授之以方，其意不欲自余而秘之也。余老且貧，無力授之梓，奈何？」余亦貧如云從，與之序，茫茫大眾，自有應者。今又二、三年矣，春初遇之稷門之市，訊君前愿就乎？曰：「未也。」夏遇之稷門之市，訊君前愿就乎？曰：「未也。」他人之方，君刻之，如人之愿；君欲刻之方，人代為刻，如君之愿，非有大功德者，弗能求之，百裡咫尺之地，天下何賢者之多也，雖然君仍求之，茫茫大眾，自有應者。云從忽而至，云：「東武隋君昆鐵，慨然欲刻是書。」余素知隋君賢，此役不以君、不以復萬、不以唐孫真人，蓋心動於天下後世之盲於目者，豈僅施之州郡已哉？！余向云：「君仍求之，茫茫大眾，自有應者。」今果然矣！今果然矣！</p>
<p><u>千乘李煥章象先題</u></p>
<h2>卷之一</h2>
<h3>孫真人眼科總理七十二症秘訣</h3>
<p>夫人之雙目，象天之日月、地之源泉。天氣不下降，地氣不上升，二氣不能交感，則天氣之變異，陰陽激剝，日月昏蔽，故天不降甘露，元陽為虐，而江河之甘泉不通。人之一身，氣血升降，水火既濟，則萬病不生矣。</p>
<p>夫眼有五輪八廓，屬於五臟六腑。黑睛屬肝，白睛屬肺，瞳人屬腎，上下眼胞屬脾，大小四角屬心、小腸，往來機發之輪屬三焦。心有疾，則血不養目；腎有病，則瞳人昏暗，肺有症，則白珠血絲日生；肝有患，則翳膜變起。且男婦目病，多傷於肝肺二經，此皆憂患、惱怒、色欲、七情之所感也。內傷於臟腑，外發於眼目。肝屬木，肺屬金。動則傷肺，金來克木，怒則傷肝，肝氣上衝，腦汁下墜，黑睛生翳膜，遮掩瞳人，不睹陽光，致令昏蔽、流淚，變異萬狀。</p>
<p>世上專門眼科，動輒將藥點之，屢醫不效。丸散用補腎之藥。不知腎乃肝之母，補腎生肝之氣，肝氣上衝，則黑睛翳膜轉生，甚無了日。此狂士未遇至人，口口相傳，心心相授。敢云我得仁術，為世善醫耶！余今幸遇至人然光啟老師，得授方外大瓢七眉先生，年百有四十矣，秘傳此方，流通萬世，屢行屢驗。今愿以此方付之於世，亦可保己寧身也。</p>
<p>一時或暴赤之發，多因失調。內郁五臟，外發眼目。如天地疾風豪雨之狀，必當表之，用沖和湯。</p>
<h4>沖和湯</h4>
<p>羌活　蒼朮（制）　防風（各一錢）　黃連　川芎　白芷（各八分）　細辛（六分）　甘草（五分）</p>
<p>加薑三片，蔥頭一個，長五寸，煎熱服。次一劑不用蔥。外以二聖散洗之。如重，用玄靈聖藥點之，幾次即愈。</p>
<h4>玄靈聖方</h4>
<p>兔腦爐甘石（一兩，取瑩白體輕者，內無夾石者佳）</p>
<p>用銀罐盛，上下以木炭火　之紅透，傾於藥水內浸之，滾干再　透紅，仍用藥水烹之干，又如法透紅，九次為度，方將甘石擂為細末，用水飛過數次後，用大碗一只，將細紙二層，貼於碗內，將石末輕輕倒碗內紙上，晒乾刮下，貯為丹頭。</p>
<p>凡用丹頭（一錢）　冰片（八厘）　麝香（六厘）　熊膽（二分）　乳缽內研極細點之。</p>
<h4>制爐甘石藥</h4>
<p>川羌活　蒼朮　防風　白芷　小川芎　黃連　黃芩　黃柏　升麻　柴胡　干葛　荊芥　薄荷　蔓荊子　各等分，用大罐子一個，以水煎汁制爐甘石。</p>
<h4>開明湯</h4>
<p>（治時眼多昏蒙者）</p>
<p>草決明（炒研）　防風　蔓荊子　白菊花（酒洗，各一錢）　羌活　歸尾　荊芥　白芷　生地　薄荷　小川芎（各八分）　黃芩（六分）</p>
<p>加薑三片，燈心十二根，煎服。五七服為度。</p>
<p>凡翳眼，不論男婦，其疾皆因惱怒，肝肺二經郁發心火，克於肺經，七情所感。又或時感，未曾發表；有發表後，疾雖退，猶未盡愈也。又犯七情六欲，久而未調，遂成其疾，變作諸般形狀。故先賢論云：眼有七十二症，症多，方亂用，醫之不效，後將真人總理七十二症之法，其真口訣相授受者鮮矣。孰不知肝氣上衝，腦汁下墜，翳障遮睛，內則垂帘，外則蒙蔽，烏風內障，腦汁下浸瞳人，瞳人歪小，瞳人下陷，瞳人倒側，瞳人不動，青光內障，紅絲纏繞黑白，大小角上風癢，拳毛倒睫，赤眼爛弦，羞日怕光，螺螄突旋，蟹眼，　肉攀睛，頭風患目等症，皆用十大將軍沖翳散，此真人立名曰先鋒開路散。</p>
<h4>十大將軍沖翳散</h4>
<p>文合（五錢重者六錢，即五倍子）　苦參（四錢重者五錢）　升麻（二錢重者三錢半）　草決明（二錢重者三錢）　薄荷（一錢半重者二錢）　防風（一錢半重者二錢）　荊芥（一錢半重者二錢）　白芷　小川芎　羌活（各八分重者一錢）</p>
<p>上十味作一劑，要足分兩，依法加減，用三次。熏法則在口授，其疾極重者沖四十劑，中者三十劑，輕者二十劑，或十五劑，或六、七劑，則有效矣。內服揭障丹，外點開疆掃霧丹。</p>
<h4>揭障丹</h4>
<p>黃荊子（一斤，晒乾，去殼，淨溫水洗三、四次，又用童便浸三日夜，早晚須換童便，浸完又用溫水洗三、四次，炒，研細聽用，號揭障磨翳丹頭。）</p>
<p>每用丹頭一兩，加當歸（酒洗）、川芎、生地各（為末）二錢半，白芍（酒洗為末）一錢半，穀精草、羌活、白芷、升麻、柴胡、草決明、木賊各（為末）一錢，龍膽草一錢半，荊芥、薄荷各（為末）一錢半各如等分發丹頭。如欲多配，照上法添之。如內外翳障重者，加雌雄石末三錢。制用銀鍋內　紅，入醋內淬七次。每用淡竹煎湯，食後服二、三錢，日二次，有奇效。</p>
<p>一兩目中紅如血，此三焦余熱攻之，號曰珠玲。加梔仁、玄參、麥冬各三錢。</p>
<p>一兩珠蠻大，突起如怒像者，號曰古睛，有風熱。加防風、白蒺藜、車前子各二錢。</p>
<p>一含漿眼，上下眼包合，不能自開，將手分開，淚傾如米汁之狀，此風熱太甚，攻於肝肺二經。加龍膽草三錢，防風、羌活各二錢，桑白皮二錢，白芍、柴胡各一錢。</p>
<p>一爛弦紅皮者，加桑白皮三錢，草決明、防風各一錢五分。</p>
<p>一眼內紅絲多者，加山梔仁（炒）三錢。</p>
<p>一紅氣上侵黑珠，加桑白皮（蜜製）三錢。</p>
<p>一眼中淚多者，加柴胡、升麻各三錢。</p>
<p>一血灌瞳人，加白石膏（　）三錢，炒黑梔仁二錢，大黃（炒）二錢，歸尾三錢。</p>
<p>一瞳人側身，加柴胡、升麻各五錢。</p>
<p>一瞳人端正，我把手招他，他不把手招，謂之水火未濟之像，左右輪中氣不貫。加蜣螂（瓦上略焙為末）二錢。</p>
<p>一上眼皮蓋下眼皮，作睡人眼，乃脾之倦也。加白朮（陳壁上土炒）各三錢。</p>
<p>一雙目黑睛紅侵，白珠不紅，號曰血熱侵肝。加當歸尾、白芍、茜草各三錢，梔仁（炒）二錢。</p>
<p>一白珠血紅，黑珠不紅，號曰余熱傷肺。加百合、宣連、梔仁（炒）各二錢。</p>
<p>一眼內青翳突起，乃水勝火衰，號曰烏睛，乃肝不納水之故。加木賊、花椒各三錢，柴胡、白芍各二錢。</p>
<p>一蟹眼、蝦眼、老膜突起者，加千裡光三錢，磁石一錢五分。</p>
<p>一黑白不分，混濁污穢，觸沖瞳人者，加黃柏、知母各二錢。</p>
<p>一上下四角作癢，加白蒺藜（去刺）三錢。</p>
<p>一視人長大，一人似二人者，號曰輪不分白。加青葙子三錢。</p>
<p>一兩目並太陽穴作脹，加蔓荊子三錢。</p>
<p>一青光者，一雙好眼，視物不見，號曰青光瞎子，此三輪有濃病也。加赤茯苓、玄參、黃芩各一錢五分。</p>
<p>一雞　黑，雞上宿則目不明，雙目黑暗，乃肝不納余血，血倒轉攻心之症。加上好藏浪大黃三錢，黃柏、知母各二錢。</p>
<p>一眼內如針刺，謂之血熱。加好大黃二錢，梔仁（炒）二錢。</p>
<p>一雙目細小者，號曰夾視。加白茯苓、白朮、枸杞子各一錢。</p>
<h4>十二將軍二聖散論</h4>
<p>（將軍即黑圓鈴棗）</p>
<p>此方專理七十二症。一切眼症，洗之如神。不怕風膜之氣，但爛弦風眼，視之令人懼怕，不用點藥，止用此法，每日三、四次。一曰用小鐘取藥，些須洗之，自然安好。若要服藥，即服開明湯。</p>
<h4>二聖散</h4>
<p>白聖（五分，飛過用，即白飛礬）　綠聖（六分，生用，即生綠膽礬）</p>
<p>先將二味研為細末，復用十二圓黑面將軍，將大碗一個，用水二飯碗，下將軍於碗中，放在飯面上，蒸數十滾，即下二聖於碗內，將黑將軍取出不用。閉目，一手洗眼外胞，每日三、四次為妙。其蒸黑將軍，必以味盡為度。</p>
<p>凡翳有新舊，久翳人不能取效，來叩我醫，必先用十將軍沖翳之法，內服揭障丹，外點開疆掃霧丹。</p>
<p>勿論男女新舊諸般等眼，無不應驗神效。</p>
<h4>掃霧丹</h4>
<p>兔腦爐甘石（一兩，要上等雪白輕者方佳）　火精石（一兩）</p>
<p>捶為細末，以水合之如泥，作一餅。如無火精石，用混元球　之，或用　元靈丹藥汁淬之。</p>
<p>將甘石打入作小塊，包入精石內，外再用黃泥包之，待干，入百眼爐內　之，紅透取出，待冷聽用。</p>
<p>去泥，取甘石人乳缽內，擂極細，用水飛過三、五次，有微粗再飛過，以不刺牙為妙，晒乾為丹頭。</p>
<p>丹頭（一錢）　冰片（必上好四六者，二分五厘）　真麝香（一分五厘）　熊膽（三分五厘）　蕤仁（三分，去油盡）</p>
<p>與丹頭共擂萬遍，以瓷罐貯之，日點三次。凡一切翳膜障等眼，內服揭障丹，外服沖翳散，再用開疆掃霧丹點之七、八十次，極重者半月，有驗矣。</p>
<h4>制蕤仁之法</h4>
<p>鋪內多將郁李仁代之，不效矣。蕤仁形扁，打開去殼，淨挪去內衣，如內衣殼不能去，將口中含去，淨仁二、三錢，用粗紙包，去油淨，試紙上無一些油痕，用之乃效。</p>
<p>凡醫諸眼之訣，必用授受口訣，醫之乃效。如十將軍沖翳揭膜之法，視碗內翳膜，或如豆腐油，或如豆粉，竹膜牽絲，結核血核。沖熏無有翳膜下於碗內，則肝肺上障已盡，止眼中紅絲牽纏白珠，吃上黑珠，可將揭翳斷絲之法，用蓋世萬捶膏，即賽寶丹，每早點之。凡點眼時，皆用飲食後，方許早點。或十分重者，三、五年老翳濃膜，俱寅時點起。重者，自寅至午點十一遍；中者，自寅至午點九次；輕者，寅時至午點七次；再輕者，自寅至午點五次。</p>
<p>點左歇右，點單不點雙，過午不點。</p>
<p>問：點眼如何不過午？答曰：子時者，一陽初生，乾卦管六個時辰；午時者，一陰初生，坤卦管六個時辰。故人身合天地，陽生五臟六腑之氣皆運於上。頭乃諸陽之首，故午前用藥則有效矣。此等不可與庸醫俗子言之。</p>
<p>近午當瞑目養睛，則眼中瞳人不受其傷。如少年之人，欲火難禁，必別室獨宿，方為保養。</p>
<p>用賽寶丹點七日，服大決明散七日。重者點七日，滿七十七遍；中者點七日，滿六十三遍；輕者點七日；滿四十九遍；再輕者點七日，滿三十五遍。是法不可增也，亦不可減也，如法點完。二七內不點，只服揭障丹，不可少。</p>
<p>如重者要服決明散，一切肝肺二經有未盡火，必當再服。</p>
<p>若仍生紅絲翳膜，速將十將軍沖翳散熏之，仍要揭盡內障，此謂永無後患。點之一月，可以全愈，不必慮其後患矣。</p>
<p>如此一七服大決明散七劑，點賽寶丹七日；二七不點，服決明散、揭障丹相兼七日；三七服決明散，點賽寶丹七日。翳障罄盡揭落，兩目重明如故。三七後因事復患者，清心寡欲，飲食調勻，口不雜味，仍似前早點，白日服決明散，夜晚服揭障丹二、三錢。其翳盡數落下，方見神聖工巧之妙。</p>
<h4>大決明散</h4>
<p>石決明（一錢半，火　如粉）　荊芥穗（八分）　青葙子（八分，酒炒研）　木賊（八分）　羌活（八分）　麥冬（一錢半，去心）　梔仁（炒八分）　白芍（六分，酒炒）　大黃（三分，酒微炒）</p>
<p>遠重者，加雌雄石末一分，水煎八分，食後服。將諸藥煎沖倒在碗內，澄清去渣，外加雌雄石末攪勻服之。雄石體重沉碗底，將藥吃完，以舌尖舐雄石末於口內，白水送下。雌雄石即磁石吸針者，用醋七次，水飛過用之。</p>
<p>點眼，頭一七服七劑；二七不點，服七劑；三七點藥，服七劑。症極重者服百劑；半重五、六十劑；輕者三、四十劑。此方總理七十二症，有神效之功。</p>
<h4>賽寶丹</h4>
<p>爐甘石（一兩，照前用火精石制）　蕤仁（一兩，淨仁照前制）　琥珀（用新布包捶碎研細末）　小珍珠（光明者用豆腐煮過，溫水洗三四次，布包捶碎，研細末）　瑪瑙（重　）　珊瑚（稍重　）　車磲（輕　）　石蟹（又輕，熱水研）　雌雄石（入醋內　七次）　以上各五錢金銀箔各二百張共制過，細研水飛，以不刺牙為度，方合作一處，擂十萬下，將藥包緊，勿令泄氣。</p>
<h4>調合賽寶丹法</h4>
<p>荊芥　真薄荷　草決明　防風　羌活　白菊花　木賊　千裡光　蕤仁（去油，各五錢）</p>
<p>上九味細銼，如水三大碗，浸二、三日，用水煎十余滾，傾出，出渣澄清，熬膏。須留一鐘，加乳汁一鐘，同熬至一鐘，調賽寶丹諸藥，要捶萬下。如干，又將膏潤之。潤之復捶，捶之復潤，務令膏盡捶於藥中，名為萬捶膏。又捶打成大條為賽寶丹。慎之慎之！不可輕泄。點落眼中，翳膜紅絲開盡，其瞳人方得睹光。</p>
<p>久遭霾蔽，尚還不得補回陽精，陽氣不足，如人受病才安，氣血未得充足，最要保重，閉養神氣，老健再服補腦還精丸養之。</p>
<h4>補腦還精丸</h4>
<p>雌雄石（三錢，照前制）　木賊（去節童便浸一宿焙）　茺蔚子（炒）　小羌活　荊芥穗（去梗炒）　蛇蛻（酒洗炙干）　白菊花　菟絲子（酒浸一宿炒）　石決明（半　半生）　防風（去蘆）　杏仁（去皮尖又去油）</p>
<p>以上各五錢　小川芎　懷地（酒拌炙干）　蒼朮（米泔浸三日夜炒干）　白蒺藜（炒去刺）　蟬蛻（去頭足翅洗淨，各一兩）　枸杞（五錢）</p>
<p>共為末，煉蜜為丸，如彈子大。每日服三丸，早飯後薄荷湯研下，或好茶下。服至百丸，其目比前更光，亦且以杜後患。</p>
<p>蕭云峰老師教我用心。凡眼兩角紅者，心火熾然。癢者，屬風。淚者，肝之液也。有淚者，肝經受風有火。凡上下包皮痛腫，脾虛受濕，脾主肌肉故也。白屬肺，肺為金，西方之氣，故主白。凡白有筋者肺有火，有翳膜者肺受風。黑屬腎，腎主水，北方故主黑。無光不能敵陽者，腎虛也。</p>
<h4>外治爛弦迎風有淚方</h4>
<p>爐甘石（五分，童便一碗煮過）　杏仁（十四個，去皮尖，水內浸三日，去油）　歸尾（酒洗，一錢五分）　膽礬（二分）</p>
<p>共四味，用新白布做一小袋，盛藥扎口，入瓷罐內，加清水半盅浸，外用濕腐皮封罐口，入小鍋內，加水，連罐煮一炷香取出，入地內陰三日，用時將無名指蘸搽眼皮上，數次即愈，渣連水存之。</p>
<h2>卷之二</h2>
<h3>注孫真人眼科秘訣後</h3>
<p>按真人《總理眼科秘訣》一書，專治少年中年時發時歇紅絲云翳遮蔽瞳人等症。至於時症，只服沖和湯、開明湯二方愈矣。</p>
<p>若年久生云紅絲翳者，開手先用：</p>
<h4>羌活勝風湯</h4>
<p>白朮（五分，土炒）　枳殼（麩炒）　川芎　防風　白芷　羌活　桔梗　前胡　獨活　荊芥　薄荷（各四分）　柴胡（七分）　黃芩（酒炒，五分）　炙甘草（三分）</p>
<p>清水二鐘，煎一鐘，早飯後大熱服。渣即煎服。</p>
<p>凡紅絲自上眼皮而出，倍加柴胡，加黃連（酒炒）五分；自下眼皮而出，加木通五分，五味子二分。自大眼而出，加蔓荊子（炒打碎、）蒼朮各五分；自小眼　而出，加　本、龍膽草各五分，人參三分。</p>
<p>內服此藥，外點開疆掃霧丹。</p>
<p>點法：臨臥用骨簪蘸涼水，拈藥小米許，點大眼角內，藥力盡再點。輕者點三次，重者點五、六次，俱三更前點完。明早，點落翳膜黏住眼皮，用骨簪蘸溫水撥淨，避風。</p>
<p>點時宜靜，病者並旁人不許說話，恐真氣散而藥力不行也。</p>
<p>勝風湯服至十數劑，眼中云膜虛浮者點去，堅固者點不下來，接服大決明散，仍點掃霧丹。點幾日，歇幾日，不宜常點，看光景點歇。服決明散後，老翳濃膜貼在眼珠上不退，即服揭障丹。揭障丹服五、七日，口中有痰涎，咽喉不清利，吐去唾沫一、二尺不斷，聞口內氣腥穢熏人，是肝肺上障開矣，即用十大將軍吹沖法。吹沖三、五日，眼內紅絲翳膜虛浮，吹沖十日後，紅絲翳膜與眼珠離開，以簪撥紅絲云翳活動，即用賽寶丹點。點法如《秘訣》，點七日歇七日云云。</p>
<p>大約云翳薄者，掃霧丹可以點去，濃者非賽寶丹不能去，或宜點掃霧丹，或宜點賽寶丹，在臨時看眼之變動何如耳。釋熏法則在口授，秋冬在屋內。早飯後，服揭障丹一次，午飯後服一次，日夕用吹法：用杌子一個，置天井無風處，朝日，將吹藥煎滾，倒大碗內，放杌子上；卻令病者坐小板凳，在杌子東邊向西，頭上蒙綿被一床，將頭與身上半截並杌子，藥套在內，不令藥氣出；口含葦子筒一個，如筆管長，上頭含口內，下頭入碗藥水內，口內用力吹藥，令藥氣起，攻衝頭目，出汗，毛孔開而風火出；吹半炷香，覺口內涎黏稠糊如黑脂油，由口中入筒，碗內流出之物，如《秘訣》所載豆腐油等云云。</p>
<p>其肝肺虛浮者，自然流出，堅實成塊，必咳嗽頓吐方出。此時若氣力不足，獨參湯吃三、四口，再吹，藥水冷即止。病者仍蒙綿單睡，汗解方出。藥再煎滾，又吹一次，一日二次，吹完，吃大米粥或以養之。</p>
<h4>口含葦筒法</h4>
<p>上頭含在下牙外，緊接舌尖，下頭入藥水內二、三指，不可遽然深了。周遭淺吹一、二十口，再深吹四、五口，使藥氣上行。喘氣只開上唇，管子不離下唇，緩急淺深得法，病者吹五、六次即知，蓋不可以言傳也。</p>
<h4>辨點眼法</h4>
<p>《秘訣》云，自寅至午，點數遍云云，極明。因治少年公子，不如法守靜，從權臥後點之，遍數如</p>
<p>《秘訣》所云，俱三更前點完，明早退的翳極多。《秘訣》云，過午不點，今竟臥後點之，治好多人。《秘訣》云，三七二十一日云翳全退，今竟數月方退淨吹淨。內障服補腦還睛丸，覺有力量，仍且點且歇。</p>
<p>如退的光明，神光不外射，又服滋腎明目丸。</p>
<p>《秘訣》至還睛丸盡矣，滋腎明目丸乃覆萬王先生收功方。早服滋腎明目丸，早飯後服補腦還睛丸，二方兼服完，再服地黃明目等藥，無不效驗。</p>
<p>大約內障不除，服地黃明目等藥，反助火邪上升，云翳日增，補之不可也。</p>
<p>服寒涼清火之劑，又傷脾胃氣血，泄之不可也。</p>
<p>所以然者，肝、肺二經，腎經之道路也，道路有內障阻塞，補益之藥從何進去？今吹去肝、肺上障膜，腎經道路孔竅已開，任何補藥，俱由肝肺而入於腎經，補足腎水，是以雙目光明如童也。眼科隱竅正在乎此。</p>
<h4>滋腎明目丸</h4>
<p>白菊花（三兩）　川芎（五錢）　白朮土炒（八錢）　草決明（炒，五錢）　人參（三錢）　陳皮（四錢）</p>
<p>梔仁（炒，八錢）　肉蓯蓉（酒洗去鱗甲，八錢）　黃柏（鹽水炒，一兩）　知母（鹽水炒，一兩）　木賊（去節，一兩）　茺蔚子（炒，五錢）　枸杞（酒洗炙干，三兩）</p>
<p>蜜丸桐子大，每一錢只丸十丸，晒乾，空心淡鹽湯下三錢。</p>
<p>《秘訣》沖吹法，原是治少年、中年氣血壯盛者。至於虛弱老年，不敢輕用；就是少年、中年不健壯者，先補後用此法。</p>
<p>氣血虛者，補其氣血；脾胃弱者，養其脾胃；真陰虧者，滋其腎水。築基之法，斷不可少。若吹沖一半，云翳退盡，稍虛弱者，不必再吹。如虛弱人，把內障勉強去淨，恐傷腎經，有青盲之患，慎之慎之！</p>
<h4>外障四十九種，有不宜吹者開後</h4>
<p>傷寒後病目，不用吹法。元氣未復，虛也。</p>
<p>婦人生育後病目，不用吹法。出血過多，虛也。</p>
<p>痘疹後病目，不用吹法。正氣不足，虛也。</p>
<p>勞病患病目，不用吹法。陰陽虧損，虛也。</p>
<p>咳嗽人病目，不用吹法，肺經虛也。</p>
<p>夢遺或自遺精者病目，不用吹法。腎水虧損，虛也。</p>
<p>腰疼腿痛病目，不用吹法，下元虛也。</p>
<p>中年以後，不敢輕用吹法，陰氣漸衰也。萬不得已，少吹幾次，云翳活動，好點就罷。</p>
<p>不戒色欲者，不用吹法。恐傷腎經，虛也。</p>
<h4>內障二十三候，有不宜吹者開後</h4>
<p>瞳人散大，不用吹法，腎、膽虛也。</p>
<p>枯黃繞睛，不用吹法，肝血虛也。</p>
<p>視物昏花，睹一為二，不用吹法，腎、肝虛也。</p>
<p>瞳人黑色，短視，不用吹法，腎水虛也。</p>
<p>瞳人焦小，不用吹法。腎竭肝枯，肝汁熱，虛也。</p>
<p>怒氣傷肝，散而不聚，不用吹法，陽虛也。</p>
<p>陰弱不能配陽，不用吹法，陰虛也。</p>
<p>吹沖半途，頭眩，眼皮不睜，身少精神，服後方。如退淨翳膜，減去細辛、蔓荊子。</p>
<p>黃　（八分）　當歸（五分）　升麻（三分）　炙甘草（五分）　白朮（八分）　柴胡（三分）　細辛（分半）</p>
<p>川芎（四分）　蔓荊子（炒打，五分）　陳皮（四分）　人參（四五分或三分）　枳實（五分）　黃柏（六分，鹽水炒）</p>
<p>薑三片，棗二枚，水二鐘，煎八分，日夕溫服，渣臥服。早服左歸丸二錢，空心滾白水送下。</p>
<h4>左歸丸方</h4>
<p>大熟地（八兩）　山藥（四兩）　山萸肉（四兩）　龜膠（切碎，炒珠，四兩）　枸杞子（三兩）　菟絲子（三兩）　鹿角膠（三兩，打碎炒珠）　川牛膝（酒炒蒸熟，四兩）　先將熟地杵膏，加群藥和搗，煉蜜丸桐子大。</p>
<p>每食前白滾水下百丸。</p>
<h4>論退翳之法</h4>
<p>翳者，乃血氣津液凝而不行，結聚而成云翳。然必要明經絡，庶能應手，照羌活勝風湯引經加減用之。</p>
<p>云翳根在肝、肺上，先發散頭目者，何也？大凡眼中云翳，由肝、肺而上升於目。庸醫多用寒涼清火之藥，將經絡凝結，氣血不得升降。非發散之劑，云翳不能開。是以下手先用發散之藥，使經絡通利，云膜浮虛，以便於點。若遽用吹法，吹的虛了，云膜反不能退。</p>
<p>次用大決明散者，何也？白珠赤絲，根生於肺；黑睛翳膜，根生於肝。必用決明散，把肝肺上火結的障膜滋潤虛浮，與肝、肺離開，好行揭障吹沖之法。</p>
<p>決明散後即服揭障丹者，何也？肝、肺上翳膜，將通明之孔竅閉塞，光明不得上升於目，是以漸昏漸暗，蔽錮失明。所以然者，肝、肺二經，腎經之道路也；道路阻滯，靈明由何處發出？須服揭障丹，把肝、肺上障膜阻塞通明之孔竅者揭下來，不綿纏黏泥於上，好用吹沖法。</p>
<p>內服揭障丹，外用十大將軍沖翳散者，何也？肝、肺上障，雖則揭下來，若不用吹法吹出，藥力盡時，遇煎炒炙　、七情六欲，障膜又長在肝、肺上，合而為一。邪火日盛，云膜日增，服藥的時節好了，不用藥的時節又犯了，這是病根未除，速用沖翳散，將揭下來的內障自口內吐出，肝、肺上無有障膜扯著眼中紅絲，云翳自然退的淨了。可見五臟六腑之清氣升，目光明；濁氣升，目昏暗。海內名人，眼藥退云翳者多，但能退濁氣，不能升清氣，以肝、肺本源不清淨耳！云翳既自肝、肺而生於眼目，是鉤割不得的。人能割眼中之翳，豈能割肝、肺之翳乎？既不能割肝、肺之翳，豈能保眼中之翳割而不復生乎？鉤割之非，於此可悟。</p>
<p>點退翳膜，雙目光明。或微帶翳膜，不能除淨，雙目昏暗。末用補腦還睛丸者，何也？人之五臟六腑、十二經絡、三百六十脈絡，其精氣上貫於腦，下聯臟腑，上下往來，以通血脈，滋養於目。是腦為聚精華之源，吹沖後腦中空虛，當用補腦還睛丸也。</p>
<p>大凡內、外障翳之生也，由心火克於肺金，肺金克於肝木，木受金克，肝氣上衝，腦汁下墜，由目系而入。浸淫於外，隨人感之輕重，變作外障四十九候；浸淫於內，入於金井，隨人感之輕重，變作內障二十三樣。用真人一段工夫，五臟淨潔，氣血流通，生生自然之理，為生生自然之用，毫不阻礙，病何自而生？此釜底抽薪之法也。自開功以至收功，層次極多，功夫極久，須要謹忌色欲，少言語，節飲食，止勞碌，慎起居，避風寒，閉目靜養，回避人事，才可撥暗重明。若悠憂怠忽，功夫作輟，有始無終，不能痊愈，慎之！囑之尤須忌煙、酒、腥葷、蔥蒜、煎炒、動火等物。</p>
<p>脈理秘訣，當照《審視瑤函》中脈看，《瑤函》與《秘訣》，相為表裡也。眼症根生於肝、肺二經，極重者非《秘訣》不可；若症之輕者，《瑤函》中方極妙。不是個個俱用吹法。欲精《秘訣》，先習《瑤函》，此由淺入深之理。其中五輪八廓、十二經絡、相生相克道理，或虛或實景象，外障、內障門類，詳細俱備，可為後學階級，如所載氣為怒傷散而不聚之病，陰弱不能配陽之病，陽衰不能抗陰之病，氣血不分混而遂結之病，血為邪盛凝而不行之病，傷寒愈後之病，為物所傷之病，斑疹余毒之病，深疳為害之病，內急外弛等症，俱是吹沖不得的。如瞳人散大、瞳人焦小、瞳人下陷、瞳人倒側、瞳人青盲、瞳人血貫等症，更是吹沖不得的。《瑤函》書，斷斷不可不看。若執定《秘訣》，一概治之，未有補救於人之處，即有陷害於人之處。業斯道者，須要小心參悟。如認症不真，誤投藥餌，損人雙目，獲罪冥冥，禍延子孫，可不慎與！夫人氣血壯盛而目光明，氣血虛弱而目昏暗。年過四十，陰氣漸衰，理當養陰血以助光明。光明者腎水也，腎水即氣血之精粹者，上升於目而為明也。不是氣血之外又有腎水。只養精血為主，精血必借胃氣生，胃乃五臟六腑之源，開發神光之本，宜先調胃氣。</p>
<h4>杞實粥方</h4>
<p>芡實（七錢，選淨硬皮，滾水淘泡四、五次，又極滾水泡透聽用）　枸杞子（三錢，選肥大赤色者，止用水淘一次，滾水泡透聽用）　粳米（晚熟者大半茶鐘，滾水淘洗四、五次聽用）</p>
<p>三味，今日如法制完，明日五更用砂鍋一口，先將水燒滾，下芡實煮四、五沸；次下枸杞子煮三、四沸；又下大米，共煮至濃爛香甜。空腹食之，以養胃氣。四十日皮膚潤澤，一百日步履壯健，一年筋骨牢固，常服耳聰目明，延年益壽，久久雙目返童，八、九十夜讀細書。煮粥的水多加，勿添冷水。為細末，滾水服亦可。</p>
<h4>豬肝脯</h4>
<p>肝乃童神之本，腎乃精光之源，補肝即所以補腎，腎家通明之孔竅開於肝也。</p>
<p>豬肝（一具，割去苦膽，連血存之，不用水洗，竹刀割淨白筋膜，切成柳葉薄片聽用）　南穀精草（二兩，以手斷碎，不見鐵，黃酒淘去泥土，又黃酒泡透聽用）　枸杞子（七錢，黃酒泡透聽用）　甘菊花（一兩，去梗、蒂、葉，塵土淨，黃酒泡透聽用）　玄參（五錢，不見鐵器，黃酒泡透聽用）　真秋石（二錢，為細末聽用）</p>
<p>除秋石外，將上五味合一處調勻，分作五分，肝亦分五分；用黑薄皮瓷罐子一個，底加一層藥，藥上排一層肝，肝上撒秋石，又藥一層肝一層，肝上仍加秋石末，如此三、四層，上用藥蓋肝，加酒一碗泡肝；用白淨布一塊水濕，布內夾紙五、六層，封固罐口，麻線扎住，入鍋內重湯煮一日，鍋內水耗，時時加熱水，其水不宜入罐內；候肝香氣外聞，取開，當肝內無嫩血色，住火，俟火氣盡取出，即吃十數片，細嚼慢咽。待冷，取出肝來，去藥，將藥收之，還煮一具肝，其肝瓷碗盛著。一日吃五、七次，每次溫熱吃十數多片，不可太多。五、六、七旬以外，加人乳一碗，參湯一茶鐘，酒二茶鐘，當歸湯二鐘，十一月、十二月、正月、二月可用。</p>
<p>時行赤眼，風熱暴發，腫脹不開，流淚疼痛等病，此偶感害眼，或氣血壯盛，痰火上升在頭目，肝肺無根，宜以後方熏之。</p>
<h4>熏法</h4>
<p>細茶二、三兩，入大砂鍋內，加水五、七碗，蓋鍋口嚴，滾五、六沸，取開，趁熱氣上升，熏頭目。</p>
<p>頭上以布單蓋著，頭並藥鍋身子俱罩在布單內；藥氣太熱，頭抬高些，稍溫頭低著些。其眼淚、鼻涕、口內痰涎，俱流於鍋內，以水冷並咽喉涼為度。熏完，仍蒙頭睡，不可見風。熱毒拔出，頭目輕松，立刻全愈。重者，再熏一、二次。往往進大場，或走路遇害惡眼，用此法。</p>
