<header><h1>食療方</h1></header>
<dl class="元資料" data-type="book" hidden></dl>
<h2>第一類‧植物類食療方</h2>
<h3>蘿卜粥</h3>
<p>〔食品〕大蘿卜五個。</p>
<p>〔主療〕消渴、舌焦、口乾、小便數。</p>
<p>〔方法〕煮熟，絞取汁，用粳米三合，同水並汁，煮粥食之。</p>
<h3>小麥粥</h3>
<p>〔食品〕小麥，不以多少。</p>
<p>〔主療〕消渴、口乾。</p>
<p>〔方法〕淘淨，煮粥或炊作飯，空腹食之。</p>
<h3>馬齒菜粥</h3>
<p>〔食品〕馬齒菜。</p>
<p>〔主療〕香港腳、頭面水腫、心腹脹滿、小便淋澀。</p>
<p>〔方法〕洗淨，取汁和粳米同煮粥，空腹食之。</p>
<h3>葛粉羹</h3>
<p>〔食品〕葛根半斤：搗取粉四兩；荊芥穗一兩；豉三合。</p>
<p>〔主療〕中風、心脾風熱、言語蹇澀、精神昏憒、手足不遂。</p>
<p>〔方法〕先以水煮荊芥、豉六、七沸，去滓取汁。次將葛粉作索面，於汁中煮熟，空心服之。</p>
<h3>荊芥粥</h3>
<p>〔食品〕荊芥穗一兩、薄荷葉一兩、豉三會、白粟米三合。</p>
<p>〔主療〕中風、言語蹇澀、精神昏憒、口面　斜。</p>
<p>〔方法〕以水四升，煮取三升，去滓，下米煮粥，空腹食之。</p>
<h3>麻子粥</h3>
<p>〔食品〕冬麻子二兩，炒去皮，研。白粟米三合，薄荷葉一兩，荊芥穗一兩。</p>
<p>〔主療〕中風、五臟風熱、語言蹇澀、手足不遂、大腸滯澀。</p>
<p>〔方法〕水三升，煮薄荷、荊芥，去滓取汁，入麻子仁，同煮粥，空腹食之。</p>
<h3>惡實菜</h3>
<p>〔食品〕惡實菜葉嫩肥者，酥油。</p>
<p>〔主療〕中風、燥熱、口乾、手足不遂、及皮膚熱瘡。</p>
<p>〔方法〕以湯煮惡實葉三五升，取出，以新水淘過，布絞取汁，入五味，酥點食之。</p>
<h3>蓮子粥</h3>
<p>〔食品〕蓮子一升，去心。</p>
<p>〔主療〕心志不寧，補中強志，聰明耳目。</p>
<p>〔方法〕煮熟，研如泥，與粳米三合作粥，空腹食之。</p>
<h3>雞頭粥</h3>
<p>〔食品〕雞頭實三合。</p>
<p>〔主療〕精氣不足，強志，明耳目。</p>
<p>〔方法〕煮熟，研如泥，與粳米一合，煮粥食之。</p>
<h3>葵菜羹</h3>
<p>〔食品〕葵菜葉，不以多少。</p>
<p>〔主療〕小便癃閉不通。</p>
<p>〔方法〕洗，擇淨。煮作羹，入五味，空腹食之。</p>
<h3>生地黃粥</h3>
<p>〔食品〕生地黃汁二合。</p>
<p>〔主療〕虛勞、瘦弱，骨蒸、寒熱往來，咳嗽唾血。</p>
<p>〔方法〕煮白粥，臨熟時入地黃汁，攪勻，空腹食之。</p>
<p>〔食品〕生地黃汁一合；酸棗仁水絞取汁二盞。</p>
<p>〔主療〕虛弱、骨蒸、四肢無力、漸漸羸瘦、心煩不得睡臥。</p>
<p>〔方法〕水煮，同熬數沸，次下米三合，煮粥，空腹食之。</p>
<h3>酸棗粥</h3>
<p>〔食品〕酸棗仁一碗。</p>
<p>〔主療〕虛勞，心煩不得睡臥。</p>
<p>〔方法〕用水絞取汁，下米三合，煮粥，空腹食之。</p>
<h3>桃仁粥</h3>
<p>〔食品〕桃仁三兩。</p>
<p>〔主療〕心腹痛，上氣咳嗽、胸膈妨滿、喘急。</p>
<p>〔方法〕湯煮熟，去尖、皮，研取汁，和粳米同煮粥，空腹食之。</p>
<h3>椒面羹</h3>
<p>〔食品〕川椒三錢、炒為末，白面四兩。</p>
<p>〔主療〕脾胃虛弱、久患冷氣、心腹結痛、嘔吐不能下食。</p>
<p>〔方法〕同和勻，入鹽少許，於豆豉作面條，煮羹食之。</p>
<h3>蓽茇粥</h3>
<p>〔食品〕蓽茇一兩，胡椒一兩，桂五錢。</p>
<p>〔主療〕脾胃虛弱、心腹冷氣病痛，妨悶不能食。</p>
<p>〔方法〕三味為末，每用三錢，水三大碗，入豉半合，同煮，令熟，去滓，下米三合，作粥，空服食之。</p>
<h3>良薑粥</h3>
<p>〔食品〕高良薑半兩為末；粳米三合。</p>
<p>〔主療〕心腹冷痛，積聚停飲。</p>
<p>〔方法〕水三大碗，煎高良薑至二碗，去滓，下米煮粥食之，效驗。</p>
<h3>吳茱萸粥</h3>
<p>〔食品〕吳茱萸半兩。</p>
<p>〔主療〕心腹冷氣衡脅肋痛。</p>
<p>〔方法〕水洗去涎，焙乾，炒為末，以米三合，一同作粥，空腹食之。</p>
<h3>炒黃面</h3>
<p>〔食品〕白面一斤。</p>
<p>〔主療〕泄痢、腸胃不固。</p>
<p>〔方法〕炒令焦黃，每日空心溫水調一匙頭。</p>
<h2>第二類‧動物類食療方</h2>
<h3>乳餅面</h3>
<p>〔食品〕乳餅一個，切作豆子樣。</p>
<p>〔主療〕脾胃虛弱，赤白泄痢。</p>
<p>〔方法〕用面拌，煮熟，空腹食之。</p>
<h3>生地黃雞</h3>
<p>〔食品〕生地黃半斤、飴糖五兩、烏雞一枚。</p>
<p>〔主療〕腰背疼痛，骨髓虛損，不能久立，身重氣乏，盜汗少食，時復吐利。</p>
<p>〔方法〕先將雞去毛腸，肚淨，細切，地黃與糖相和勻，內雞腹中。以銅器中放之，復置甑中蒸炊，飯熟成，取食之，不用鹽醋，唯食肉盡，卻飲汁。</p>
<h3>羊密膏</h3>
<p>〔食品〕熟羊脂五兩、熟羊髓五兩、白沙蜜五兩、煉淨、生薑汁一合、生地黃汁五合。</p>
<p>〔主療〕治虛勞、腰痛、咳嗽、肺痿、骨蒸。</p>
<p>〔方法〕以上五味，先以羊脂煎令沸，次下羊髓，又令沸，次下蜜，地黃。生薑汁。不住手攪，微火熬數沸，成膏。每日空心溫酒調一匙頭，或作羹湯，或作粥食之亦可。</p>
<h3>羊臟羹</h3>
<p>〔食品〕羊肝、肚、腎、心、肺，各一具，湯洗淨，牛酥一兩，胡椒一兩，蓽茇一兩，豉一合，陳皮二錢去白，良薑二錢，草果兩個，蔥五莖。</p>
<p>〔主療〕腎虛勞損，骨髓傷敗。</p>
<p>〔方法〕先將羊肚等慢火煮令熟，將汁濾淨，和羊肝等並藥，一同入羊肚內，縫合口，令絹袋盛之，再煮熟，入五味，旋旋任意食之。</p>
<h3>羊骨粥</h3>
<p>〔食品〕羊骨一付，全者捶碎，陳皮二錢去白，良薑二錢、草果二個、生薑一兩、鹽少許。</p>
<p>〔主療〕治虛勞，腰膝無力。</p>
<p>〔方法〕水三汁，慢火熬成汁，濾出澄清，如常作粥，或作羹湯亦可。</p>
<h3>羊脊骨羹</h3>
<p>〔食品〕羊脊骨一具，全者捶碎，肉蓯蓉一兩，洗切作片，草果三個、蓽茇二錢，</p>
<p>〔主療〕治下元久虛，腰腎傷敗。</p>
<p>〔方法〕水熬成汁，濾去滓，入蔥白，五味，作面羹食之。</p>
<p><a href="_files/pt161a1.bmp">圖</a></p>
<p><a href="_files/pt161a2.bmp">圖</a></p>
<h3>白羊腎羹</h3>
<p>〔食品〕白羊腎二具，切作片，肉蓯蓉一兩，酒浸，切，羊脂四兩，切作片，胡椒二錢，陳皮一錢，去白，蓽茇二錢，草果二錢。</p>
<p>〔主療〕治虛勞，陽道衰敗，腰膝無力。</p>
<p>〔方法〕以上各件相和，入蔥白、鹽、醬，煮作湯，入面　子，如常作羹食之。</p>
<p><a href="_files/pt161a3.bmp">圖</a></p>
<p><a href="_files/pt161a4.bmp">圖</a></p>
<p><a href="_files/pt161a5.bmp">圖</a></p>
<p><a href="_files/pt161a6.bmp">圖</a></p>
<h3>豬腎粥</h3>
<p>〔食品〕豬腎一對，去脂膜切，粳米三合，草果二錢，陳皮一錢去白，縮砂二錢。</p>
<p>〔主療〕治腎虛勞損，腰膝無力疼痛。</p>
<p>〔方法〕先將豬腎、陳皮等煮成汁，濾去滓，入酒少許，次下米成粥，空心食之。</p>
<p><a href="_files/pt161a7.bmp">圖</a></p>
<p><a href="_files/pt161a8.bmp">圖</a></p>
<h3>枸杞羊腎粥</h3>
<p>〔食品〕枸杞葉一斤，羊腎二對細切，蔥白一莖，羊肉半斤，炒。</p>
<p>〔主療〕治陽氣衰敗，腰腳疼痛，五勞七傷。</p>
<p>〔方法〕以上四味拌勻，入五味，煮成汁，下米熬成粥，空腹食之。</p>
<h3>鹿腎羹</h3>
<p>〔食品〕鹿腎一對，去脂膜切。</p>
<p>〔主療〕腎虛、耳聾。</p>
<p>〔方法〕於豆豉汁，入粳米三合，煮粥，或作羹，入五味，空心食之。</p>
<h3>羊肉羹</h3>
<p>〔食品〕羊肉半斤細切；蘿卜一個，切作片；草果一錢，陳皮一錢去白，良薑一錢，蓽茇一錢，胡椒一錢，蒸白三莖。</p>
<p>〔主療〕腎虛衰弱，腰腳無力。</p>
<p>〔方法〕以上諸藥水熬成汁，入鹽、醬，熬湯下面　子，作羹食之，將湯澄清作粥食之亦可。</p>
<h3>鹿蹄湯</h3>
<p>〔食品〕鹿蹄四只，陳皮二錢、草果二錢。</p>
<p>〔主療〕諸風虛，腰腳疼痛，不能踐地。</p>
<p>〔方法〕以上諸藥煮令爛熟，取肉，入五味，空腹食之。</p>
<h3>鹿角酒</h3>
<p>〔食品〕鹿角新者長二、三寸，燒令赤，</p>
<p>〔主療〕卒患腰痛，暫轉不得。</p>
<p>〔方法〕以上件內酒中，浸二宿，空心飲之，立效。</p>
<h3>黑牛髓煎</h3>
<p>〔食品〕黑牛髓半斤，生地黃汁半斤，白沙蜜半斤，煉去蠟。</p>
<p>〔主療〕腎虛弱，骨傷敗，瘦弱無力。</p>
<p>〔方法〕以上三味，和勻，蒸成膏，空心酒調服之。</p>
<h3>狐肉湯</h3>
<p>〔食品〕狐肉五斤，湯洗淨，草果五個，縮砂二錢，蔥一握，陳皮一錢，去白，良薑二錢，哈昔泥一錢，即阿魏。</p>
<p>〔主療〕虛弱，五臟邪氣。</p>
<p>〔方法〕以上諸藥，水一斗，煮熟，去草果等，次下胡椒二錢，薑黃一錢，醋五味，調和勻，空心食之。</p>
<h3>烏雞湯</h3>
<p>〔食品〕烏雄雞一只，　洗淨，切作塊子。陳皮一錢，去白，良薑一錢，胡椒二錢，草果二個。</p>
<p>〔主療〕虛弱勞傷，心腹邪氣。</p>
<p>〔方法〕以上諸藥以蔥、醋、醬相和，入瓶內封口，令煮熟，空腹食。</p>
<h3>醍醐酒</h3>
<p>〔食品〕醍醐一盞</p>
<p>〔主療〕治虛弱，去風濕。</p>
<p>〔方法〕以酒一杯，和勻，溫飲之，效驗。</p>
<h3>山藥</h3>
<p>〔食品〕羊骨五、七塊帶肉，蘿卜一枚，切作大片，蔥白一莖，草果五個，陳皮一錢，去白，良薑一錢，胡椒二錢，縮砂二錢，山藥二斤。</p>
<p>〔主療〕諸虛，五勞七傷，心腹冷痛，骨髓傷敗。</p>
<p>〔方法〕以上諸件同煮取汁，澄清，濾去粗。面二斤，山藥二斤，煮熟研泥，搜面作　，入五味，空腹食之。</p>
<h3>山藥粥</h3>
<p>〔食品〕羊肉一斤，去脂膜，爛煮，熟，研泥。山藥一個，煮熟，研泥。</p>
<p>〔主療〕虛勞、骨蒸、久冷。</p>
<p>〔方法〕肉湯內下米三合，煮粥，空腹食之。</p>
<h3>牛肉脯</h3>
<p>〔食品〕牛肉五斤，去脂膜，切作大片；胡椒五錢；蓽茇五錢；陳皮二錢，去白；草果二錢；縮砂二錢；良薑二錢。</p>
<p>〔主療〕脾胃久冷，不思飲食。</p>
<p>〔方法〕上件為細末，生薑汁五合，蔥汁一合，鹽四兩，同肉拌勻，淹二日，取出，焙乾作脯，任意食之。</p>
<h3>雞頭粉羹</h3>
<p>（原書作「雞頭羹粉」今據文義改）</p>
<p>〔食品〕雞頭、磨成粉；羊脊骨一副，帶肉熬，取汁。</p>
<p>〔主療〕濕痹、腰膝痛，除暴疾，益精氣，強心志，耳目聰明。</p>
<p>〔方法〕以上各件用生薑汁一合，入五味調和，空心食之。</p>
<h3>鯽魚羹</h3>
<p>〔食品〕大鯽魚二斤，大蒜兩塊，胡椒二錢，小椒二錢，陳皮二錢，縮砂二錢，蓽茇二錢。</p>
<p>〔主療〕脾胃虛弱，泄痢久不瘥者食之立效。</p>
<p>〔方法〕以上各件蔥、醬、鹽料物蒜入魚肚內，煎熟作羹，五味調和令勻，空心食之。</p>
<h3>炙黃雞</h3>
<p>〔食品〕黃雌雞，只　淨。</p>
<p>〔主療〕脾胃虛弱，下痢。</p>
<p>〔方法〕以鹽、醬、醋、茴香、小椒末，同拌勻，刷雞上，令炭火炙，干焦，空腹食之。</p>
<p><a href="_files/pt161a9.bmp">圖</a></p>
<h3>牛子煎蓽茇法</h3>
<p>〔食品〕牛　，蓽茇。</p>
<p>〔主療〕貞觀中，太宗苦於痢疾，眾醫不效，問左右能治愈者當重賞，時有術士進此方，用牛子蒸蓽茇，服之立瘥。</p>
<h3>肉羹</h3>
<p>〔食品〕　肉一斤細切，蔥一握、草果三個。</p>
<p>〔主療〕水腫、浮氣腹脹，小便澀少。</p>
<p>〔方法〕用小椒、豆豉同煮爛熟，入粳米一合作羹，五味調勻，空腹食之。</p>
<h3>黃雌雞</h3>
<p>〔食品〕黃雌雞一只，　淨，草果二錢，赤小豆一升。</p>
<p>〔主療〕腹中水癖水腫。</p>
<p>〔方法〕同煮熟，空心食之。</p>
<h3>青鴨羹</h3>
<p>〔食品〕青頭鴨，一只退淨，草果五個。</p>
<p>〔主療〕十腫水病不瘥。</p>
<p>〔方法〕用赤小豆半升，入鴨腹內，煮熟，五味調，空心食。</p>
<h3>野雞羹</h3>
<p>〔食品〕野雞一只　淨。</p>
<p>〔主療〕消渴、口乾、小便頻數。</p>
<p>〔方法〕入五味，如常法作羹　食之。</p>
<h3>鵓鴿羹</h3>
<p>〔食品〕白鵓鴿一只，切作大片。</p>
<p>〔主療〕消渴、飲水無度。</p>
<p>〔方法〕用土蘇一同煮熟，空腹食之。</p>
<h3>雞子黃</h3>
<p>〔食品〕雞子黃一枚，生用。</p>
<p>〔主療〕小便不通。</p>
<p>〔方法〕上件服之，不過三服，熟亦可食。</p>
<h3>鯉魚湯</h3>
<p>〔食品〕大鯉魚一頭，赤小豆一合，陳皮二錢去白，小椒二錢，草果二錢。</p>
<p>〔主療〕消渴、水腫、黃膽、香港腳。</p>
<p>〔方法〕以上件入五味，調和勻，煮熟，空腹食之。</p>
<h3>驢頭羹</h3>
<p>〔食品〕烏驢頭一枚、　洗淨，胡椒二錢，草果二錢。</p>
<p>〔主療〕中風、頭眩，手足無力，筋骨煩痛，言語蹇澀。</p>
<h3>驢肉湯</h3>
<p>〔食品〕烏驢肉，不以多少，切。</p>
<p>〔主療〕治風狂、憂愁不樂，安心氣。</p>
<p>〔方法〕於豆豉中爛煮熟，入五味，空心食之。</p>
<h3>狐肉羹</h3>
<p>〔食品〕狐肉，不以多少，及五臟。</p>
<p>〔主療〕驚風、癲癇、神情恍惚、言語錯謬，歌笑無度。</p>
<p>〔方法〕如常法，入五味，煮令爛熟，空心食之。</p>
<h3>熊肉羹</h3>
<p>〔食品〕熊肉一斤。</p>
<p>〔主療〕諸風香港腳、痹痛不仁、五緩筋急。</p>
<p>〔方法〕於豆豉中八五味，蔥、醬、煮熟，空腹食之。</p>
<h3>烏雞酒</h3>
<p>〔食品〕烏雌雞一只，　洗淨，去腸肚。</p>
<p>〔主療〕治中風背強，舌直不得語，目睛不轉，煩熱。</p>
<p>〔方法〕以酒五升，煮取酒二升，去滓，分作三服，相繼服之，汁盡無時，熬蔥白、生薑粥投之，蓋覆取汗。</p>
<h3>羊肚羹</h3>
<p>〔食品〕羊肚一枚、洗淨，粳米二合，蔥白數莖，豉半合，蜀椒去目閉口者，炒出汗，三十粒，生薑二錢半，細切。</p>
<p>〔主療〕諸中風。</p>
<p>〔方法〕以上六味，拌勻，入羊肚內，爛煮熟，五味調和，空心食之。</p>
<h3>烏驢皮湯</h3>
<p>〔食品〕烏驢皮一張，　洗淨。</p>
<p>〔主療〕中風，手足不遂，骨節煩疼，心燥，口眼面目　斜。</p>
<p>〔方法〕蒸熟，細切如條，於豉汁中入五味，調和勻，煮過，空心食之。</p>
<h3>羊頭膾</h3>
<p>〔食品〕白羊頭一枚，　洗淨。</p>
<p>〔主療〕中風頭眩，羸瘦，手足無力。</p>
<p>〔方法〕蒸令爛熟，細切，以五味汁調和膾，空腹食之。</p>
<h3>野豬</h3>
<p>〔食品〕野豬肉二斤，細切。</p>
<p>〔主療〕久痔，野雞病，下血不止，肛門腫滿。</p>
<p>〔方法〕煮令爛熟，入五味，空心食之。</p>
<h3>獺肝羹</h3>
<p>〔食品〕獺肝一副。</p>
<p>〔主療〕久痔，下血不止。</p>
<p>〔方法〕煮熟，入五味，空腹食之。</p>
<p>〔食品〕大鯽魚一頭，新鮮者，洗淨，切作片；小椒二錢為末；草果一錢為末。</p>
<p>〔主療〕久痔，腸風大便常有血。</p>
<p>〔方法〕用蔥三莖，煮熟，入五味，空腹食之。</p>
