<header><h1>瘴瘧指南</h1></header>
<dl class="元資料" data-type="book">
<div><dt>作者</dt><dd>鄭全望</dd></div>
<div><dt>朝代</dt><dd>明</dd></div>
<div><dt>年份</dt><dd><data value="1368/1644">公元1368年至公元1644年</data></dd></div>
</dl>
<h2>自序</h2>
<p>余賦性孱弱。幼嬰多病。迨丁年尤甚。嘗患內傷。諸藥罔效。於是悉取內經。難經。甲乙經。</p>
<p>東垣十書。傷寒六書各論。及薛氏等書。至於殊國僻壤。奇方怪疾。皆沿波溯源。推詳考索。</p>
<p>循古人之余而為之。不知其已瘳已。人情莫不欲言其所自。知交親承是謬。推庸多奏效。妄意遂謂凡病不出傷寒內傷之范圍也。壬寅秋。天時熱甚。入冬仍不寒。四方疫癘大作。其證似瘧而寒熱不閑。</p>
<p>似傷寒而三陽經少陰太陰經證齊。似內傷而氣口脈不大於人迎。向所妄意以自信者。胥失之矣。</p>
<p>彼以傷寒治者七日逝。以內傷治。以瘧治者。先後亦逝。間有染輕本固者。稍淹浹旬。終歸不起。至一發不能言者。其死尤速。惟輕而不服藥者。百起一二。即老醫宿匠。計與術兩窮矣。然天地之大德曰生。</p>
<p>塞極必有以通之者。有宋李待制之書在也。書名瘴瘧衛生方。專是一證。始以風壤闊越。一涉獵而置之。而後乃知其寶也。</p>
<p>論證則辨晰周詳。用藥則簡易平順。此真妙於治也。且諸書瘧部亦嘗及瘴瘧矣。本末未甚悉。豈身履其地。傳不獲習乎。待制造端王張討潤。皆因宦彼地。得其真詮。是書賴以全。予始以一二及十百。</p>
<p>因沿鄉曲面流疏遠。隨手應心。刻期色起矣。予秘之。是以人命為私也。告之同業。懼不能遍。</p>
<p>謀梓以廣之。區區之公而已。客有告之者曰。夫瘧何有於瘴哉。閩廣之間。山深雨淫。積嵐為瘴。</p>
<p>黃霧隱天。中人作苦。吾信界在中土。土不同方。風亦殊俗。曠絕千裡。嵐瘴何從。母乃巧於署名以炫技乎。余曰。否否。諸疾之作。由天時也。四時之變。由氣數也。人身肖天地與氣順逆也。易曰。</p>
<p>觀乎天文以察時變。其征在國。國實以人。天氣流轉。山澤通之。以時驗變。以人驗時。奧氣不藏。</p>
<p>時之變也。物直槎夭。人直疾病。山川不必同。而氣至則行之矣。故吾信不必閩廣而氣類之。此瘴瘧之所由作也。且如癸卯之冬。四山花木盎然。如春甲辰夏仲菊華如秋六月反擁絮。春秋隕霜不殺。</p>
<p>注謂四時失其序。則其施必悖。月令仲夏行秋令。民殃於疫。在昔識之。蓋天失其序。　氣旁行。</p>
<p>於是乎在邇。年以來冬復大暖。草木禽蟲不含不蟄。殆物得氣之先。與韓昌黎雪擁藍關句。李唐嶺南尚雪。今絕無之。馴至洛陽。杜鵑天氣。自南而北。不尤信乎。客因領之。予又謂瘴瘧於文為瘧。</p>
<p>章言疾彰於外。內無實也。為瘧如虎。反爪向人也。以瘧施無實之人。故多瀕於死。李待制之調劑。</p>
<p>思深哉。不揣愚陋。次其源委。附以鄙見。別傷寒內傷諸瘧之形似。詳藥餌之宜用宜禁。驗病色之可治弗治。編曰瘴瘧指南。車僭妄之罪固無所逃。然於活人。或有小補。庸有未盡。以俟後之君子。</p>
<p><u>萬歷三十七年歲次己酉十月朔信州鄭全望撰。</u></p>
<h2>卷上</h2>
<h3>辨證</h3>
<h4>瘴瘧形狀</h4>
<p>或問曰。發熱頭痛人俱稱為傷寒。一以傷寒藥治之可乎。予曰。當有所辨。諸般發熱種種不一。</p>
<p>而最毒者在內傷有瘴瘧。或曰。若內傷。果有東垣內外傷論。辨別詳晰甚為有理。若醫瘴瘧則不能無疑矣。將以予為妄。吾見子治斯病活人甚多。但未聞是書未聆是語。當明以告我。予曰。傷寒內傷所病處廣。況立法者。乃仲景東垣。二人聖醫也。名重寰宇。而擴充是法者。陶節庵薛立齋二君。</p>
<p>故其書傳之廣。而心於活人者未有不讀也。若夫瘴瘧惟炎方有之僻於一偶。況業醫者鮮。惜李待制治瘴之聖。其書所傳不廣。宜乎吾子之未聞是書。未聆是語。</p>
<p>或曰。既有是書。其病形可得聞歟。予曰。其病有三。而形狀不外於頭痛。發熱。腰重。腳軟。</p>
<p>或冷或嘔或泄。或大便秘。或小便赤。面赤。目紅。口渴。心煩。胸中大熱。舌或黑。狂言譫語。</p>
<p>欲飲水。欲坐水中。或吐血。或衄血。或腹痛。或有汗。或無汗。諸證。以有寒有熱者為寒瘴。</p>
<p>或間日。或不間日。為易治。以單熱不寒者。為熱瘴。為難治。得間日猶可以不言語。惟噫噫作聲者。為　瘴為不治。瘴瘧之形狀大都如是矣。</p>
<h4>人身肖天地瘴瘧類天時</h4>
<p>天以一氣覆於上。地以一氣載於下。人居覆載中。若何能與覆我載我者。相肖也。上古聖人等。天地人為三才。豈無灼見而妄立說耶。蓋謂天以輕清之氣。上浮而下轉。地居其中。而乾健之運。無一毫少息。若一毫不續。則穹壤判。</p>
<p>一息不運。則機緘窮。人身肖之。其氣亦無息。天以日月循環。人以榮衛循環。地有九州。人有九竅。經曰。天氣通於肺。地氣通於嗌。風氣通於肝。雷氣通於心。穀氣通於脾。風氣通於腎。</p>
<p>六經為川。腸胃為海。九竅為水注之氣。陽之汗以雨名。陽之氣以風名。人之一身。身以上其氣象天。</p>
<p>身以下其氣象地。故天不足西北。而人之耳目。右不如左之聰明也。故西北之人頭常冷。地不滿東南。而人之手足。左不如右之利便也。故東南之人。腰足常冷。天有陰陽。以生風暑濕燥寒。地有陰陽。</p>
<p>以生木火土金水。人有陰陽。以生肝心脾肺腎。天氣以四時溫熱涼寒運於上。地氣以生長收藏應於下。而人之陽氣以升浮降沉應之。為生生不息之妙何也。天令春其氣溫。惟其氣溫。故地中之陽氣鼓動而升於外。以生萬物。人之陽氣。亦應之以升。天令夏其氣熱。惟其氣熱。地中之陽氣盡出於外。</p>
<p>以長萬物。所以地之下極寒。人之陽氣亦應之。盡出於外。脾坤土也象地。斯時脾土亦寒。天令秋其氣涼。惟其氣涼。所以陽氣能降於地。而行收成之令。</p>
<p>人之陽氣。亦應之而降於內。天令冬其氣寒。惟其氣寒。陽氣盡沉於地。而成閉藏之令。所以地之下暖。人之陽氣。亦應之沉藏於內。斯時脾土。亦暖。此天地得其常。而人之災害亦不生。發瘴之地則不然。春夏多寒。秋冬多熱。盛夏久雨。則可挾纊。隆冬久晴。寧不搖扇。一日之間。</p>
<p>日未升則寒。日中則熱。日入又寒。一日一夜。寒暑迭變。無論四時。久晴則熱蒸。蒸極則雨。雨下則濕。蒸雨久則淒涼。人生其間。飲食起居。安能一一謹慎。稍失調養。便感此乖戾之氣。而發寒熱。即謂之瘴。然瘴之發。多在秋冬。以其天氣熱。地中之陽氣不能收藏而外泄。故草木不花而花。不葉而葉。人之陽氣亦應之。不能收固。而恆泄之於外。惟其外泄。則脾土所以內虛寒。</p>
<p>身以上象天則極熱。身以下象地則不熱而寒。或熱蒸極而汗。汗出則淒涼。其人身之寒熱濕蒸。一與天時相似。故曰。人身肖天地。瘴瘧類天時。知斯道者。則治瘴之法過半矣。</p>
<h4>受病之源</h4>
<p>南方之地。寒暑不時。春夏淫雨則多寒。晨夕霧昏。地下濕蒸。故陰濕之氣常盛。秋冬久晴則多熱。草木不凋而放花。故陽燠之氣恆泄。晝燠。夜寒。晴霽熱。陰雨寒。人居其中。因寒濕之氣盛。</p>
<p>故下體重濕。生痰又多。痰因秋冬熱故。熱多上壅。膚多出汗。至腠理不密。陽外而陰內。陽浮而陰閉。</p>
<p>於斯時也。若飲食失度。起居不時。及食生冷食炙　。則痰與食相並積於胃。而寒熱之病作矣。或不避暑。奔走於日中。或避暑而坐臥當風。閉其汗孔。使汗不出。此病亦因之而作。或因其晨多霧而寒。</p>
<p>飲酒以御之。少焉日出。而熱。則酒與痰相並滯於膈上。此病亦因之而作。或晨寒而少衣。或夜冷而薄衾。則寒與痰相並。亦作寒熱。或因晨寒多衣。行至日中未解。則暑與痰相並。亦作寒熱。要之此病之本。本於天氣熱元陽恆泄。在人之陽氣。自不降而內又多痰。再不能調攝。感於不正之氣。宜其病有上熱下寒之症。所謂無痰不成瘧者是也。養生者能遠房室。省勞役。毋食生冷。毋食炙　。毋醉早酒。毋飽晚飯。毋乘暑行走。毋當風坐臥。一日之中。順其寒暑。而加減衣裳。則瘴雖毒。庶可免矣。</p>
<h4>瘴瘧傷寒辨</h4>
<p>外傷寒邪之症與瘴瘧。俱有寒熱。醫者盡以瘴瘧作傷寒。率用汗吐下之法治之。其枉死者。</p>
<p>不可勝計。由其不辨寒熱症候耳。今細分之。經曰。冬傷於寒。春必病瘟。冬若即病。謂之傷寒。</p>
<p>不即病至春變為瘟病。至夏變為熱病。其病也。多自太陽經始。故發熱惡寒。頭痛脊強無汗。口中和而不惡。食脈浮緊。為傷寒。或惡風自汗。而脈浮緩。為傷風。其熱無退時。若傳經或傳陽明經。則有目痛鼻干不得眠脈長之症。或傳少陽經。則有耳聾脅痛。口苦嘔吐。舌白苔脈弦之症。若傳陽明腑病為入裡。舌苔黃口渴。心煩舌乾。不惡寒反惡熱。揚擲手足。揭去衣被。狂言譫語。脈洪數內實之證。宜用下劑。下遲則入陰經。方舌黑大。凡傷寒之熱。全不間斷。直至傳入裡。下後方罷。經曰。夏傷於暑。秋必　瘧。夏暑汗不出。秋成風瘧。是知瘧之發。多因於暑。故發瘴之地。</p>
<p>四時常似夏。其病也無傳經。若是冷瘴。則有惡寒發熱。頭痛腳弱腰重。口中不和。嘔吐或不嘔吐。</p>
<p>脈弦帶數。一呼一吸。脈來六至。或七至八至。或先寒後熱。或先熱後寒。方其寒也。脈則沉遲而伏。及其熱也。脈則六至七至。而弦洪渴欲飲水。飲則多吐。揭去衣被。待其汗出。熱則退矣。或無汗而熱久亦退。或間日再發。或一日一發。此為輕症。若是熱瘴。則不惡寒惟發熱壯熱。頭痛身倦。腰重腳弱煩躁。胸膈不利。嘔逆或不嘔逆。自利或不自利。小便赤澀。口渴脈洪弦七至八至。熱亦不間斷。一日二日舌便黑。目紅面赤。渴欲飲冷。與之水亦能飲。狂言譫語。或大便閉。</p>
<p>至日晡尤甚。與傷寒下症無異。細察之。身中之熱有不熱處。以手捫之。額上極熱。面微熱黃尖涼。</p>
<p>心胸及腹極熱。背微熱。腰以下不甚熱。重者常冷。或厥且譫語。以手捫心胸。蜷臥狂起。則腳重無力何也。瘴病是上熱下寒。故腰以下。不熱而沉重。上身之症。雖陽而陰。症隱具於其中。鼻尖為年壽宮。年壽屬脾。脾寒所以鼻尖涼。此病是外熱內寒。熱症雖見於外。而內寒之症。驗於鼻涼。</p>
<p>蜷臥叉手。胃胸隱然見矣。或謂是傷寒陰症。似陽亦非是。若陰症似陽。渴欲飲冷。與之冷則不飲。</p>
<p>瘴病與之則能飲。若用藥得宜則熱退。或得間日熱。退時則脈微弱。非復前之洪弦數矣。大抵瘴與傷寒大不相同。傷寒因於寒。瘴病因於暑。傷寒有傳經。有變症。有傳染。而瘴病不傳經。無變症。</p>
<p>不傳染。若醫者誤認惡寒發熱為表症。用傷寒汗藥。以狂言譫語。大便秘舌黑為裡症。用傷寒下藥。則不旋踵而告變矣。</p>
<h4>瘴瘧內傷辨</h4>
<p>內傷飲食勞役過度之病。其發熱惡寒。與瘴瘧相似。若以瘴瘧。而用內傷勞役之藥治之。則神識昏亂。譫語如狂。</p>
<p>其熱愈劇。服多亦至不起。由不細察其症候耳。今細辨之。內傷勞役之病。其惡寒也。見風見寒居陰處。無日陽處則惡之。若避風寒。居溫暖處。或添衣被。則不惡也。或雖發寒。一暖便已。其發熱也。蒸蒸然。上徹頭頂。旁徹皮毛。下至腰足。渾身燥熱。若袒衣被。近寒涼處則已。或熱極而汗出亦解。若涼片時。即惡寒。添衣被。則不惡寒。又發熱。</p>
<p>直至甘溫之劑。進多則病已。其他頭痛。身重。手心熱。口渴。心煩。舌黑。妄語。妄有見聞。大便秘或沸。小便赤澀或嘔。口不知味。其脈氣口洪大。或兼各臟形症內傷之病。如此瘴瘧之作其寒也。先起於毫毛。伸欠乃作寒栗。鼓領腰杳俱痛。雖重衣濃被。滾湯熱火。不能溫。寒去則內外皆熱。渴欲飲冷。雖袒去衣被。重冰泉水不能寒。或先寒後熱。</p>
<p>或先熱後寒。或一日一發。或間日一發。或一日二三發。此是冷瘴。其脈洪弦數。冷瘴與內傷。其寒熱不同又如此。惟熱瘴熱未間斷時。又當細辨之。內傷之熱。渾身上下皆熱。熱瘴之熱。惟額極熱。</p>
<p>胸腹極熱。腰以下則不熱。足發厥。又易辨之。亦有足熱者。雖熱亦不甚。內傷之熱。袒去衣被即解片時。</p>
<p>熱瘴之熱。即臥於冷地亦不解。內傷之脈。氣口獨洪大而六至。熱瘴之脈。六脈俱弦洪而七八至。</p>
<p>或陽症而見陰脈。要之。兼症雖多。惟以寒熱及脈。潛心分別。則瘴瘧內傷若冰炭矣。苟誤認瘴瘧為內傷。</p>
<p>而用補中益氣湯。則熱愈劇而神愈昏。蓋瘴因陽氣不降而然。升麻柴胡。乃輕清升藥。使不降之陽氣。</p>
<p>愈飛越矣。瘴乃類天時。天氣鬱蒸。得雨方解。瘴之熱悶。欲俟下元溫固。自然出汗方舒。黃　白朮斂腠理藥也。使腠理閉塞。汗不得出。</p>
<p>愈加熱悶神昏矣。若是內傷。此藥一進。病勢即漸減。縱不減亦不加。病之疑難如此。醫者不明望聞問切之理。不分別其內傷瘴瘧傷寒。而妄為施治者。屠劊之流也。</p>
<h4>諸瘧瘴瘧辨</h4>
<p>或曰。傷寒內傷瘴瘧之不同。已知之矣。敢問瘴與瘧。何以辨之。予曰有三陽經瘧。三陰經瘧。</p>
<p>五臟瘧。又有以寒多熱少者。及單寒者。名寒瘧。寒熱相半者。名溫瘧。單熱不寒者。名單瘧。</p>
<p>胸膈痰痞心下脹滿氣逆煩嘔為痰瘧。噫氣吞酸胸腹脹吐酸惡酸惡食為食瘧。惡風自汗筋骨痛抽搐為風瘧。</p>
<p>面垢口渴心煩多汗為暑瘧。三日一發。久而不愈為　瘧。表裡俱虛。客邪未散。真氣不復。間一日連二日發。</p>
<p>或疾雖間。遇勞即發。久而不瘥為勞瘧。進退無時。進則神昏。退則如常為鬼瘧。久而不瘳。膈下結塊為瘧母。發於陽者為牡瘧。發於陰者為牝瘧。雖種種不同。其大略不外於一日一發。或二日一發。三日一發。有間一日連二日發。</p>
<p>有一日兩發。有日與夜各發。有上半日發。有下半日發。有有汗。有無汗。此一定之規。若瘴瘧只是三症。以有寒者為寒瘴。單熱者為熱瘴。不語者為啞瘴。其始發也。多不間斷。重者七日方間斷。其間斷也。一日十二時。只間一二時。即發亦有間斷半日者。退去時。莫起動則可。若起動則發。又終屬難退。即退去。胸腹之熱尚在。或間一日一發者。其發時去死一間。其退去之時。渾身上下筋骨。若無其難過也。不可以言語形容。非若諸瘧退去之時。即如平人。又或先輕後重。或先重後輕。</p>
<p>或先間斷而後反不間斷。或先不間斷而後間斷。變怪不常。非若諸瘧作息自有定期。以此辨別。</p>
<p>皎若日星。其治諸瘧。用藥錯者尚可救。療瘴瘧。用藥一錯。禍如反掌。瘴最忌者。汗吐下及小柴胡湯。</p>
<p>柴苓湯。解肌湯。其故何也。蓋瘴因陽氣外泄而然。發汗之藥多驅內陽外泄。是重虛其內。所以多死。瘴因陽氣不降於下焦。吐則陽氣愈上升。下元無陽氣。</p>
<p>是無根也。故死。瘴疾是下真寒而上假熱。下藥太寒。一下咽則中寒大作。陽氣隨之即脫。所以死極速。</p>
<p>瘴病外雖熱而內實寒。故人謂瘴疾為脾寒。正謂瘴也。故小柴胡柴苓解肌之類。其性俱大寒。服之則外熱不降。而內寒更甚。故至外熱微時。裡外俱無陽氣。所以難救。欲治斯病。醫者自首至尾。</p>
<p>不同妄用一藥。只遵大法。溫中鎮下。正氣相解。且攻且守。主病者無責速效。病者能慎疾。則治自愈。</p>
<p>萬不失一矣。若夫啞瘴。當歸之天命。千百中可救一二。非人力之所能為也。</p>
<h4>傷寒瘴瘧分南北辨</h4>
<p>或曰如子之言。傷寒因於寒。瘴瘧因於熱。則北地多寒。傷寒乃北方之病。南地多熱。瘴瘧乃南方之病歟。予曰子言亦有理。上古聖人。亦有異法方宜之論。然不可執一不通。第曰北方傷寒病多。南方瘴瘧病多。則可。若曰北方無瘴瘧。南方無傷寒。</p>
<p>則不可。蓋天道無常。假令北方暑熱過多。秋時暴熱數日。北人感此氣。亦多病瘴。廣之東南。</p>
<p>設有冬時大寒數日。南方素無寒。若感此氣。亦多病傷寒。故醫者當上察天時四時溫涼寒熱。</p>
<p>上明五運六氣司天在泉之理。下察四方風土之宜。中辨病患平日之性。宜涼宜熱。平日是何脈。再審今病。或外傷風寒暑濕。或內傷飲食勞役七情男女。或感乖戾之氣而為瘴灼。見其病之在何經何臟。宜補宜瀉宜吐宜汗宜溫宜和解。萬舉萬全。庶不愧為醫矣。</p>
<h4>瘴瘧五臟俱病</h4>
<p>夫人身自胸膈至頭為上焦。其氣象天。自胸膈至腹為中焦。其氣象人。自腹至足為下焦。其氣象地。以五行論之。上焦屬丙丁火。中焦屬戊己土。下焦屬壬癸水。在五臟。心肺陽也居上。脾陰坤土也居中。腎肝陰也居下必也。陰能升。陽能降。以成水火之既濟。天地之交泰。則為平人。若夫發瘴之地。秋冬多熱。則人身陰陽之氣。上者自上。下者自下。</p>
<p>而成水火之未濟。天地不交之否。故一觸外邪。五臟俱病。其病多上熱下寒。外熱內寒。何也。</p>
<p>天氣通於肺。天氣熱。故肺熱極。所以大渴引飲小便頻數或遺尿氣逆胸中痞悶。或衄血。心在上焦火位。天氣熱。故心熱極。所以心煩悶亂狂言譫語神識昏沉瞀不知人。或吐血飲冷舌黑面紅口唇生瘡。</p>
<p>脾為中州坤土。天氣熱則地中陽氣恆浮而不降。地下無陽則寒。故脾土虛。所以鼻尖涼多痰肌肉削不能食面黃四肢無力。或嘔或泄中焦虛痞氣倦怠。肝腎居下焦。地之分。天氣熱。陽氣不降。地下無陽故肝腎虛寒。所以腰重腳弱筋骨痛腿足寒厥。或吐蛔或吐沫。瘴病一作。五臟之症俱見。非若傷寒之傳經。傳一經方見一經之症也。知此則知傷寒汗吐下之法。不當施於瘴瘧矣。而治瘴之法。當知升降浮沉則順之。寒熱溫涼而逆之之理。</p>
<p>必使心肺之陽。降於下焦。俾下元溫暖。下元者人身之根本也。溫暖則根本固。根本固則邪熱退。</p>
<p>諸病息矣。</p>
<h4>冷瘴</h4>
<p>其症惡寒發震發熱。頭或痛或不痛。或嘔吐或不嘔吐。胸膈痞悶。身重腰痛腳軟。或先寒後熱。</p>
<p>或先熱後寒。寒時雖濃衣被不能溫。熱時雖臥冷地不能涼。或大渴飲水。或一日一發。發時多。</p>
<p>退時少。或間日三日一發。所兼之症極多。不能盡述。惟以其有寒。謂之冷瘴。有陰有陽。故諺有云。冷瘴必不死。此瘴之輕者也。其脈或寒時微遲。熱時弦數。或來六七至。或陽症見陰脈。治法先用感應丸十四粒。薑湯送下。次用陳皮半夏湯三四服。或不換金正氣散三四服。重者七八服。方用和解湯三四服或七八服。加濃桂更好。得寒熱間斷多時。後用截瘧丸。酒送截之。或養胃湯。不已。四獸飲。此常法也。</p>
<p>如往來寒熱。痰逆嘔吐。</p>
<p>頭痛及身腰痛如被杖。汗多煩躁。引飲自利。小便赤或如中風者。薑附湯主之。如寒熱往來。煩渴手足冷。鼻尖涼。身重舌黑。渴欲飲水。自利嘔逆。汗出惡風者。乾薑附子湯主之。如上半身熱極。下半身冷。腿足寒厥者。沉附湯主之。或送養正丹。黑錫丹。靈砂丹。</p>
<p>如發熱手足厥冷煩渴悶亂上吐下瀉者。附子理中湯主之。</p>
<p>如發熱咽嗌干燥焦煩大渴飲水不止者。冷湯主之。或既濟湯理之。渴甚者。奪命散加附子主之。</p>
<p>如發熱腹痛。頭目昏沉。四肢疼痛。大便自利。小便或澀或利。或嘔或咳者。真武湯主之。</p>
<p>如發熱惡寒嘔不止者。藿香正氣散主之。夫瘴病多嘔。病因飲食傷脾而得。又炎方之病。氣多上逆。</p>
<p>痰與氣並而上。故多嘔。如因食生冷太過。</p>
<p>嘔而惡食。頭目昏沉肢體拘急。痰多腹痛者。養胃東加附子沉香主之。嘔甚送來復丹。或治中湯主之。</p>
<p>如嘔吐膨脹者。二陳湯送感應丸。</p>
<p>如嘔而胸膈不快。脅筋脹滿。心腹刺痛。食少多痰。吞酸噎氣。及見症不一者。以嘉主散主之。</p>
<p>如寒熱往來。惡心嘔吐。吞酸噫腐。腹痛痰痞不能食。紅丸子主之。</p>
<p>如大便秘者。先服和解湯。自然通利。或秘甚者。用嘉禾散加蜜主之。又有多日不通者。看病勢何如。得大便利而後病方得愈。方可用蜜導法。若不甚急。只以治瘴為主。得熱瘴不來。大便自然通利矣。</p>
<p>如寒熱臍腹刺痛。脅痛煩亂。引飲霍亂。手足厥冷者。冷香湯主之。</p>
<p>如寒多熱少。或但寒不熱者。其人平日虛弱。七棗湯主之。</p>
<p>如神思昏亂。狂言譫語。不知人事者。輕則養胃東加附子沉香。重者二陳湯加沉附。若甚者。沉附湯主之。</p>
<p>如脈代者。此病甚不宜代脈。看大便如何。如大便照常。養胃東加附子主之。</p>
<p>如大便不利。可與正氣散或和解散加桂。大便行則代脈去矣。</p>
<p>如發熱頭痛。小便不利。煩躁飲水。水入即吐者。五苓散主之。若引飲自汗。小便赤澀者。</p>
<p>不得服五苓散。汗出更利小便。必亡陽也。況滲泄之劑。下虛者尤忌之。如四肢厥冷。</p>
<p>頭額虛汗。咳逆脈促。其症甚危。三建湯主之。</p>
<p>如症候不一。多所變怪者。和解湯主之。</p>
<p>如瘴止後腰痛腳軟者。加減五積散主之。</p>
<p>如瘴止後汗多者。黃　建中湯主之。</p>
<p>如瘴止後食少體倦者。異功散主之。</p>
<p>如瘴止後多痰及食入而心下飽悶者。香砂六君湯。或吞養脾丸。</p>
<p>如瘴止後虛煩不得眠。心膽虛怯。觸事易驚者。溫膽湯主之。</p>
<h4>熱瘴</h4>
<p>其病身發大熱。神氣沉昏。晝夜如臥炭火中。腰痛腳弱。大渴欲飲冷水。上脘痞悶。神昏妄語。頭痛或不痛。或嘔逆或不嘔逆。小便赤澀或頻數。或遺尿。大便或秘或自利。</p>
<p>舌黑面赤目紅。或吐血衄血。兼見之症。不能盡述。惟以其單熱不寒。謂之熱瘴。其熱多不間斷。</p>
<p>因陽氣盡發泄於外而然。諺云。熱瘴久不死。此瘴之重者也。治得其道。得生者多。其脈洪弦數。</p>
<p>或來七八至。亦有見陰者。治法先刺之。</p>
<p>南人治熱瘴。初起不用藥。只挑草子之法。廣中之處有人能之。凡有瘴發一二日。卷其上下唇之裡。以針刺其血。正中用手捻去紫血。又以楮業擦舌出血。又令病患並足而立。於兩足後腕橫縫中。青脈刺之。出血如注。乃以青蒿水與服。應手而愈。</p>
<p>若冷瘴與雜病。決不可刺。熱瘴之所以刺而得愈者。即太陽傷寒症。邪氣在表。當汗之法也。刺出其血。</p>
<p>即是得汗而其效速於得汗。蓋人身之上下唇。是陽明胃脈之所經。足後腕。是太陽膀胱脈之所經。</p>
<p>太陽受病三日。而陽明受病。南人之針。可謂暗合。若患熱瘴而不即刺。及其三陽傳遍。邪氣入裡。</p>
<p>雖刺而血已凝。非惟無益。或至重傷。又南人針法。別有不可曉者。發瘴過經已入裡而將死。刺病人陰莖而愈。竊意其通五臟。刺之或可去內腑之熱耳。然少壯者。尚可用此法。苟施於怯弱者。豈不危哉。</p>
<p>按黃帝內經。九針從南方來。刺熱論曰。病未見赤色而刺之。是謂治未病。然則南方挑草子之法。不可廢也。但南人未知辨赤色之道。愚謂熱瘴初起。刺病患兩足腕出血。又刺舌下出血。頭痛兩額角脈脹者與兩額角脈上刺之出血。其病勢果衰大半。次服不換金正氣散。又服和解湯七八服。得間斷一日一發。然後截之。若間斷作二日一發尤妙。不來之日。服和解湯七八服。和解後熱勢稍緩。服養胃湯吞截瘧丸。酒送。日服六七次。</p>
<p>如未止。服四獸飲。此平常之法也。如變症不一。當與治冷瘴方法。互治之。</p>
<p>如其症未解。或疑有熱。亦不宜服發汗及涼藥。但取嘉禾散服之。若果蘊熱但冷。服無害。</p>
<p>蓋嘉禾散治下虛中滿。能升降陰陽。正與秋冬作熱之地為宜。服二三日則寒熱之症自判矣。然後隨症調治。自無不效。</p>
<p>如嘔逆以養胃湯。來復丹。治中湯。二陳湯。選而用之。</p>
<p>如兀兀欲吐而不吐者。二陳湯主之。</p>
<p>嘔而熱不退者。藿香正氣散主之。</p>
<p>嘔而膨脹二陳湯下感應丸。</p>
<p>嘔而頭痛。來復丹兼如聖飲子。</p>
<p>嘔而胸膈不快。下虛中滿。嘉禾散主之。</p>
<p>嘔而大便秘。嘉禾散加蜜主之。</p>
<p>嘔而腹痛。紅丸子及烏沉散。</p>
<p>嘔而痰逆。頭痛身痛。腳痛腳弱。大汗多。煩躁引飲。大便自利。小便赤澀者。薑附湯主之。</p>
<p>吞養正丹。或靈砂散。</p>
<p>如發熱煩躁。手足冷。鼻尖涼二症。病患因熱大煩躁。多不自知。醫者須以手捫其手足與鼻尖。</p>
<p>方知之。身重腳腰痛。舌生黑苔。大渴引飲。自利嘔逆。自汗惡風者。乾薑附子湯主之。</p>
<p>如大熱咽嗌干渴。煩躁不解者。冷香湯主之。</p>
<p>如熱大煩渴大作。飲水無度者。既濟湯主之。</p>
<p>甚者合奪命散。</p>
<p>如熱大神昏。不知人事。妄語遺尿。吐血衄血。舌黑面紅。目赤煩渴。脈弦而七八至。以手捫之。額上極熱。胸腹熱。腰以下不熱而冷。雖狂言妄語。病患心蜷臥。叉手捫心。或引衣自蓋。</p>
<p>陰症具於隱微之中。況脈只以五六至。為數。為實熱。若七至八至是內陽盡出於外之脈。腹內則空虛矣。若誤用寒涼。攻外熱。其斃也可立而待。急用沉附湯主之。吞黑錫丹。稍緩者。二陳湯合沉附主之。</p>
<p>輕者養胃湯合沉附湯主之。</p>
<p>如熱大煩渴悶亂逆泄瀉。手足稍微冷者。附子理中湯主之。</p>
<p>如嘔逆泄瀉。臍腹刺痛。脅肋脹痛。引飲無度。胸膈不利者。冷香湯主之。</p>
<p>如發熱腹痛。頭目昏沉。四肢疼痛。大便自利。小便或利或澀。或嘔或咳。自汗多者。真武湯主之。</p>
<p>如因誤攻外熱以至四肢厥冷。兩足如無。頭顱虛汗不止。或時發噦。脈數而促。其危尤甚。急宜收心液。壯真陽。庶可更生。宜服三建湯。</p>
<p>如大便秘。其脈六至。兼弦而有力者。</p>
<p>和解湯主之。甚者用蜜導法。</p>
<p>如夏月冒暑。伏熱即發熱瘴。煩躁口渴。上吐下泄。心脾不調。　全不具。陰症其脈弦而六七至有力。六和湯主之。</p>
<p>如熱大便堅硬。其人平素脾胃壯實。而脈弦數有力者。和解東加蘇葉地骨皮主之。</p>
<p>如發熱頭疼。或眼睛疼。大便實。其脈舉按皆弦數。全無陰症。其人平素宜涼劑者。參蘇飲主之。只可一二服。稍和即止。不可過用。須要詳認。不可誤人。</p>
<p>如已分為間日。脾胃已和。濕冷已去。病退時。脈亦弦數者。養胃東加柴胡主之。</p>
<p>如已服正氣和解溫中固下後。熱已間斷。截瘧丸。不住者。十四日外可少與柴平湯。或柴胡散。尤隱不可多服。參蘇飲。柴平湯。柴胡散。三方。須細察。病患平素宜涼劑。胃氣壯實。</p>
<p>及脈實而無陰症。具於隱微之中者。方可用之。如稍緩。不若和解東加減守之。免致失手。</p>
<p>如已經七日。發熱煩躁。引飲喜冷水。大便不通。小便赤澀。狂言內熱。神昏不省者。藥令黃湯主之。若因上熱未降者。尤宜沉附湯主之。</p>
<p>如無汗發熱頭痛小便澀。煩渴飲水水入即吐。五苓散主之。不可多服。</p>
<p>如瘴止後。猶狂言神昏者。因心經之陽尚未降於下焦故也。二陳東加沉附主之。或養胃湯亦加沉附。</p>
<p>如瘴止後。腹痛腸鳴。大便溏而頻。平胃散主之。</p>
<p>如瘴止後虛煩不眠。心膽虛怯。觸事易驚。或夢不祥或異象。眩惑夜不安寢者。溫膽湯主之。無多服。</p>
<p>如瘴止後。精神倦。不喜飲食者。異功散主之。</p>
<p>如瘴止後。腰痛腳痛。加減五積散。</p>
<p>如瘴止後。自汗多者。黃　建中湯主之。多痰體倦。六君子湯。</p>
<p>如瘴止後。易飢易飽者。香砂六君湯。吞以養脾丸。</p>
<h4>瘴</h4>
<p>瘴病初起發熱頭痛。或嘔逆或不嘔逆。兼症雖多。惟以其神昏不能言。但噫噫作聲。或全不作聲。謂之　瘴。此熱瘴之甚者。故諺云。　瘴無不死。為不治之症也。但不犯不可服之藥。治得其道。千百人亦可起一二人。其脈初起一二日。七八至而弦。熱大至三四日。熱微神清脈反和平。</p>
<p>如其症。精神清目開如常。能飲食能大小便。熱微脈平常。只是全不作聲者。此真　瘴極難救。</p>
<p>蓋肺氣入心則為聲音。今瘴毒之熱沸其血涌於上。塞於心肺之竅。故不能言。七日後多死。治當散其血。用麥冬湯。調黑神散。亦有得生。如其症目上視。</p>
<p>口噤牙關緊閉昏不知人。遺尿遺屎不能言。以手重拿曲池虎口。頰車人中亦知畏疼。不能出聲叫哭。</p>
<p>待熱微時稍言一二句。此痰迷心竅也。為啞瘴用青州白丸子二陳合星附湯。或三生飲。元氣虛者。</p>
<p>加人參十可活三四。如手足搐搦氣逆者。附香散。及養正丹。如因食冷所致者。蘇感丸。</p>
<p>如其症。精神不甚昏。能飲食。大小便亦通。熱不甚。惟舌本強木不轉而不能言者。亦非正　瘴。</p>
<p>乃瘴毒中於心脾二經所致。心之別脈系舌本。脾之別脈連舌下。邪氣入其經絡亦然。用正舌散。</p>
<p>及全蠍麝香南星茯苓之類治之。</p>
<p>如其症初起或是寒瘴。或是熱瘴。能言語。因醫者誤用發汗。及升藥降藥而變　者。為不治之症。</p>
<p>雖神氣清爽脈息和平。二三日決死。不可用藥。</p>
<h4>不治症</h4>
<p>一瘴病初起熱大。不語至二三日。熱微神清脈和。惟不作聲。此真　瘴不治。</p>
<p>一瘴病上吐下泄。精神昏亂。脈微遲無力。二三日決死勿治。</p>
<p>一瘴病因食生冷過多。至四五日作泄。手足冷者。決死勿治。</p>
<p>一瘴病熱退時。脈亦七八至。無神者。決死勿治。</p>
<p>一瘴病脈大而散。無胃氣者不治。</p>
<p>一瘴病陽症見陰脈。無胃氣不治。有胃氣者生。</p>
<p>一瘴病誤服麻黃發汗藥。及柴胡黃芩苦寒藥而變　者。決死不治。</p>
<p>一因誤服麻黃。而筋惕肉　者死。</p>
<p>一因誤服麻黃。而目赤喘急者死。</p>
<p>一因誤服麻黃。汗出不止。發寒而噦者死。</p>
<p>一因誤服寒涼。自利而手足厥冷。漸及肘膝者死。</p>
<p>一因誤服寒涼。而發噦者不治。</p>
<p>一因誤服寒涼。狂起亂搏人者不治。</p>
<p>一因胎前染瘴。胎落而變　者不治。</p>
<p>一產後染瘴。脈洪大如竹管。鼓指七至者不治。</p>
<h4>脈</h4>
<p>瘴病之脈。不可不細察。假如其脈沉細而遲。此元氣虛寒之脈外症。雖見純陽。當急用沉附等藥。</p>
<p>苟誤投以寒劑。其逝即在頃刻。正所謂承氣入胃。陰盛乃亡也。在傷寒。陽症見陰脈。為必死之症。</p>
<p>瘴瘧為上熱下寒。外熱內寒之病。陽症見陽脈為真病脈。見有胃氣者反為易治。萬不失一。</p>
<p>如其脈弦帶數。六七至有力而不散大。此元氣不虛寒。外症無陰症。具於隱微之中。只宜正氣散。和解湯等藥。苟誤投以薑附亦難收功。正所謂桂枝下咽。陽盛則斃。或間有陰症。見有陽脈。亦不宜例用薑附。且與和解正氣。守之若苦寒之藥。不可以脈見陽而妄用也。</p>
<p>如其脈洪大無倫。七八至按之鼓指者。或無力者。此元陽氣盡泄於外之脈。不可謂之陽脈。</p>
<p>蓋脈只以六七至為數為熱。若七八至為元氣已飛越。而邪氣獨盛。正不勝邪。故見是脈。以浮而無力為洪。若洪大通筋似指則為元氣不固於內。反泄於外。故見是脈。正內經。所謂脈大為虛是也。</p>
<p>鼓指者。更虛於無力。二脈兼見。似內傷火不歸經之症。方書謂龍雷之火。其外症決見大熱之病。</p>
<p>細察之必有陰症。具於隱微之中。急宜用薑附等大熱之藥。冷凍飲料之。其效可必。倘誤投涼藥。禍如反掌。</p>
<p>在他症脈至七八至。為七極八脫。決死之脈。在瘴瘧如治以法者。永保無虞。</p>
<p>如脈代而不散者。當問大便如溲。小便調為元氣不足。宜參附之劑補之。元氣實。代脈去矣。</p>
<p>若數日未更衣。更宜和解正氣。使大便利。黑屎去。則代脈去矣。若代而兼散。則為不治之脈。</p>
<p>如脈瘴作時。七八至。溫中固下。正氣和解後。熱退去時。一呼一吸只來二至。在他症為二敗必死之脈。在瘴瘧為邪氣盡退。正氣將復之脈。其外症決見渾身冰冷。困倦乏力。惟口中所出之氣略溫。或大汗如雨。惡寒之極。斯時惟宜調養。內服補脾之藥。一日則前症俱退。二三日脈復。四五至矣。</p>
<h4>日期</h4>
<p>瘴病無傳經。治得其道。則有減病常期。治失其道。則至其時日而增劇。如瘴初起。輕則自間斷正類瘧病。治之當一日一發者。十四日愈。或二十一日愈。二日一發者。七日愈。其故何也。</p>
<p>夫瘴多是元氣不勝邪。一日一發。元氣難復。</p>
<p>其愈遲。二日一發元氣易復。其愈速。若三日一發。則與　瘧無異。當以治瘴治　之方。斟酌合用。必半年一年方可愈也。其次初發不間斷。正氣和解後。三日即間斷七日可愈。或十日愈。又有重者。直至七日方間斷。十四日可愈。如不愈二十一日。才已有二十一日。猶未已者。雖未愈。</p>
<p>謹慎用藥。再無變證。若不知治瘴之法。妄用藥餌。不問輕重。如重犯發汗涼藥。則三日變證。</p>
<p>七日死。有十日變症者。有十四日變症者。有二十一日變症者。若犯石膏大黃。則變症只在頃刻。</p>
<p>總之治失其道。七日內變症極多。十四日變症次之。二十一日內變症又次之。</p>
<h4>婦人</h4>
<p>南方陽浮陰閉。陽恆泄。陰恆固。男子以陽為主。故瘴病者多。女子以陰為主。故病瘴者十中一二。治法與男子同。更加以豁痰調氣降氣為主。用四七湯。</p>
<p>烏沉散。佐以沉香間服。或加四物。惟胎前產後與男子異。在胎前以正氣和解方。加大腹皮。</p>
<p>砂仁杜仲續斷。安胎或兼四物。若見陰症。亦照薑附溫中鎮下方法。胎亦不落。即經所謂有故無殞是也。或不幸而瘴毒深重。熱極大。胎多雖保。胎下不變。　不作痙。脈不洪大無倫。鼓指數八七至者。猶可治。設變　或脈七八至。雖參附亦無如之。何矣。在產後染瘴者。當大補氣血為主。佐以溫中鎮下。正氣和解。不變　。脈不大。七至八至多有得生者。蓋脈大鼓指七八至。</p>
<p>瘴脈之常。本可治。惟產後不見此。其大法不出於前三症中。參論臨時斟酌可也。</p>
<h4>小兒</h4>
<p>小兒瘴病。多因乳母不與之避寒暑。啖生冷。飧炙煎。致兒聚痰為患。況小兒較之大人。謂之啞科。以其不能言病情。故難辨別。醫者當審諦。聞其聲。望其色。察其舉止。看其虎口。參以三症。治法斟酌。其輕重而後藥之。可也。如熱大不寒振。不作聲。</p>
<p>以手重拿合谷。不作聲。惟手撐動。熱微時亦不作聲者。此是　瘴。必不可治。如熱大面赤。舌黑目赤。唇紅欲扯甌碗頻含乳。唇紅是肺熱欲扯甌碗頻含乳是口大渴。上吐下泄。蜷臥或俯臥。手足指梢冷。是虛欲就實。手足指冷中胃中冷。睡露睛。是脾虛。時時狂叫。或曲腰而啼。是腹痛。虎口脈通三關。當用附子理中湯治之。服至病減方止。如熱大面赤。舌黑目赤。唇紅頻含乳。不吐大便秘小便赤。手足指梢不冷。睡不露睛。仰臥時時狂叫。虎口脈通三關。此無虛寒之症。當用正氣和解。參以熱瘧方法治之。如先寒後熱。先熱後寒。或間一日發者。或日一發者。此是冷瘴。治當以前。</p>
<p>審病之法用藥。庶幾可稱為幼科之國手。</p>
<h4>發瘴時調理卻病法</h4>
<p>眾人多發瘴時。必須加意保養。晨興盥漱後。先服平胃散。或不換金正氣散。過一刻啖少粥。巳時早食。申時晚食。夜間服理脾消食丸。藥酒少飲不妨。不宜太醉。天氣若不常。一日之間。順其寒燠。</p>
<p>加減衣裳。不食生冷。則脾胃自壯。省食油膩。則胸膈自快。無大忿怒。以傷天和。重節色欲。</p>
<p>以固真氣。如此調攝。決保無恙。如秋冬大熱。服以降氣鎮墜藥。養正丹。黑錫丹。蘇子降氣湯。</p>
<p>秘傳降氣湯。沉香降氣湯。選而用之。</p>
<h4>瘴病中將息法</h4>
<p>凡才病瘴時。切須忌口。非惟生冷油膩不可食。尤忌酒肉魚面之類。飯亦可住。只可食粥。</p>
<p>仍戒葷食。不得已吃白糝。咸豉蘿卜。即當發時亦不可食。候發過稍久卻食。如不發。日從便吃白粥。</p>
<p>不可太飽。不忌口。則病難已。所食之物。皆助邪氣。致便服藥不效。若食素粥數日。依前法服藥即效。所謂服藥不如。</p>
<p>忌口是也。每日只宜漱口而已。不可洗手面及梳頭。但安心坐臥。數日莫動。如此將息。無所不瘥。</p>
<h4>瘴病後將息法</h4>
<p>凡瘴病才住。可記初發幾日。依前日數十分畏謹。大率瘴不發後。三日方可洗手。七日後方可洗面。半月後可略梳頭一二次。三月內戒房事。能戒百日尤妙。瘴不發時。仍素粥三日。經五日後方以豬脾熟煮羹。薄吃軟飯。十日後略飲些酒。少吃肉羹。但不可食諸般骨汁。若犯之即再發。</p>
<p>如牛羊雞肉。復忌一月為妙。如不能將息或至再發。又須依前法服藥。前法將息而已。如飢飽勞役。</p>
<p>喜怒不時再發。雖依前法服藥調理。多致延綿半年。方得平復。終不若小心謹慎調理。不再發為妙。</p>
<h4>灸法</h4>
<p>凡冷瘴初起。腰足寒厥。其脈沉細。因失飢寒傷飲食致病者。內服薑附等藥。外灸中脘。（從建裡上行。在臍上四寸。中脘穴也。）氣海。（在臍下一寸五分。宛宛中。氣海穴也。）三裡（從下廉穴上行一寸。銳肉之端按之肉起手。三裡穴也。）三穴。使中氣溫。下元暖。則病無不愈。若無前症。其人平日不甚虛弱。及病始發者。未可便灸。如瘴病既久。氣血已虛。服藥不效者。宜灸膏肓。（從魄之下行第四椎五椎上。此穴居中。去脊各三寸半。正坐曲脊。取之膏肓穴也。）</p>
<p>或大椎。（一椎之上。大椎穴也。）及第五椎（五椎下神道穴也。）二穴。隨年壯尤妙。及足三裡。則久瘴自痊。熱瘴忌灸。</p>
<h4>瘴後變症</h4>
<p>瘴後調攝。較之他病。其難百倍。善養生者。於飲食起居之際。兢兢業業。無一毫差忒。謹慎百日。待脾胃元氣復常。方可免變症之患。若瘴後懈怠。起居不時。恣意飲食與夫沽酒市脯。色氣無忌。當此脾胃之元氣未復。不能消化。豈不積而作痢。聚而作痰。浮而作腫乎。此難以立方施治。蓋謂瘴後元氣常虛。是無根本。將何以當病耶。今攝數方法於後。以備審用。當其臨時可權衡虛實而補瀉之。</p>
<h4>痢</h4>
<p>下痢之因。由元氣脾胃衰弱。飲食不節。積而不化。遂致濕熱傷於氣分則白。傷於血分則赤。</p>
<p>氣血俱傷則赤白相雜。其青黃黑色者。由濕熱兼傷各臟。故見各經之色也。脈沉小流連有胃氣者生。</p>
<p>洪大而數者死。身涼脈靜者生。身熱脈大者死。</p>
<p>治法。初起腹痛裡急。後重而痢者。當審元氣何如。元氣未虛者。先服蘇感丸以下之。去其積滯。</p>
<p>更兼有實熱者。量用木香檳榔丸下之。蓋謂無積不成痢。故先宜蕩滌以去其積。若兼伏暑。以香茹飲送下。小便不利。五苓散送之。次用消導和氣行血藥。後服香連丸。或變亂丸。久不止。斷下湯。真人養臟飲。斟酌選用。若元氣虛弱者。不可更行蕩滌。先用六君子湯。隨所傷物加藥。送保和丸。如傷米食。加穀芽神麯。穀食傷加麥芽神麯。肉食傷加山楂神麯。酒食傷加干葛神麯。兼嘔吐加砂仁藿香。次用香連丸及四神丸。如渴甚。用七味白朮散送之。如元氣下陷。用補中益氣湯送下。若兼脾胃虛寒。用理中湯。又有噤口者。衛生方云。噤口乃下痢不納飲食是也。醫者但知危篤。而乃畏縮不究其所致之由。故多不救。良可悲哉。易簡方謂宜四柱湯理中湯茯苓散加肉蔻木香。或咽震靈丹等藥。何乃王德膚知其一未知其二耶。蓋古方有清心蓮子飲及壓毒藥者。有用生胃進食藥。豈可執一物以治之耶。</p>
<p>如診視而知其脾胃脈不弱。問知其心煩頭痛。手足溫熱。未嘗多服涼藥。此乃毒瓦斯上衝心肺。所以嘔而不食。宜用敗毒散。每服四錢。陳倉米百粒薑棗煎服。又一方石蓮子捶碎去殼留心。研為細末。用陳倉米飲調下。若其脈微弱或心腹虛膨。或手足厥冷。</p>
<p>初病不嘔。因服粟殼烏梅及諸苦澀涼劑。或飲草藥過多。早晨未食先嘔。不思飲食。此乃脾胃虛弱。</p>
<p>卻可信簡易方之言。又有一方猶為簡易。用山藥一味。　小豆大。一半銀石器內炒熟。一半生用。</p>
<p>同為末。米飲調下。甚有奇效。又嘗觀前輩癰疽方。治嘔逆不食者。亦有一說。毒瓦斯攻心者。以乳香綠豆粉作內托散服之。脾氣虛弱者。嘉禾散山藥丸治之。胸中當存活法。裁其方法。為噤口痢。</p>
<p>用何患不收功於危篤耶。大都瘴後痢疾。極難施治。如前數藥。雖是良劑。特準繩耳。至於臨時變通。</p>
<p>在醫者盡望聞問切之功。極精巧以別其虛實寒熱。然後施治。庶可為人之司命。</p>
<h4>腫脹</h4>
<p>腫脹之因。蓋為脾胃元氣虛損。又不能調攝飲食。起居失時。復傷脾肺腎三經。俱能作腫。傷脾而腫者。即經所謂諸濕腫滿。皆屬脾土是也。傷肺而腫者。即經言飲食入於胃。</p>
<p>游溢精氣。上輸於脾。脾氣散精。上歸於肺。通調水道。下輸膀胱。令肺傷。不能通調水道。下輸膀胱。使小便不利。　溢作腫是也。傷腎而腫者。腎屬水。以腎氣虛寒不能攝氣。以致　溢反以浸潰乎上。</p>
<p>於是三焦停滯。經絡壅塞。滲於皮膚。注於肌肉。而為腫也。</p>
<p>脈浮大者生。沉細者死。臍突缺盆平。手足心腫起無紋。滿肚青筋。腰腫陰腫無縫者。俱不治。</p>
<p>治法傷於脾者。宜實脾利水快氣。嘉禾散、烏沉散、五加散、實脾散、五苓散、五皮散、平胃散、胃苓散、流氣飲斟酌詳用。切不可用樟柳芫花黑牽大戟甘遂下水之劑。傷於肺者。補中益氣東加減用之。腎水虛寒者。附子理中湯香砂六君東加薑附煎送金匱腎氣丸。以上諸方。腫荃蹄變通之妙。</p>
<p>尤在醫者隨時取用。</p>
<h4>痰</h4>
<p>瘴瘧之作。多由痰滯而成。故其痊後稍不調攝。痰症即作。然痰之變症。非止一端。為嗤。為咳。</p>
<p>為嘔逆。為麻木。為痞膈。及為異病之最重者。又為卒暴痰厥眩暈等症。</p>
<p>若痰厥僵仆。不知人事。脈浮而遲者生。數而急疾者死。目開眼合手撒遺尿吐沫喉如鼾睡發直搖頭汗綴如珠皆不治之症。治法痰厥者。三生飲合奪命散。元氣不虛者。吹鼻藥、三生飲、星附湯、星香散及導痰湯選用。其他痰症以二陳湯為主。隨症施治。不可執一也。</p>
<h4>治濕要訣</h4>
<p>濕有內外之殊。外感則入經絡而流關節。內傷則由臟腑而歸脾腎。濕為土氣。土居水火之中。水陰而火陽。陰陽交感。水火相蒸則生濕氣。火盛則濕化為熱。水盛則濕化為飲。濕熱者治以辛涼。濕寒者治以辛溫。（入腑臟者行其水道入經絡者開其汗孔）</p>
<h3>辨藥</h3>
<h4>升藥</h4>
<p>南方之地。其氣不正。陰常盛。春夏多寒。陽恆泄。秋冬多熱。陽外而陰內。陽浮而陰閉。</p>
<p>故人得病多內寒外熱。下寒上熱。醫者不察。概用升陽發表等藥。致病者痰滯神昏。而不知人。</p>
<p>服多者氣逆。噦而汗出即逝。蓋瘴病之作。秋冬為多。人之陽氣。春升夏浮。秋降冬藏。秋冬熱。</p>
<p>是行夏浮之令。而秋冬之令不行。陽氣之不降也明矣。陽氣不降。則中下二焦空虛而寒。大法升降浮沉則順之。寒熱溫涼則逆之。知此者急使陽氣下降。及溫中之不暇。而況敢用升浮涼藥以犯逆時之戒乎。凡升陽之藥。味辛性涼。味辛便能散真氣。性涼非脾胃虛寒所宜。因其升。</p>
<p>故心肺之陽不降。所以神愈昏不知人。因其散氣。故中氣愈虛。不能運痰。所以痰滯。因其性涼。</p>
<p>脾胃愈寒。所以發噦。因其發汗。故汗一出翻然作冷。上焦幾微之間。氣隨汗而出。所以即逝。</p>
<p>議論至此。治瘴者。豈可以升陽風藥而妄用之哉。所謂升陽風藥者。如升麻。防風。荊芥。羌活。獨活。</p>
<p>前胡。薄荷。天麻。蔓荊。葛根。細辛。白芷。川芎。紫蘇之屬是也。余觀今之醫瘴者。不識其端。</p>
<p>妄以頭痛發熱。身痛口渴。為時行寒疫。用敗毒散及升陽散火湯二三服。則痰滯不語。目瞪口噤。</p>
<p>元氣素實者。熱退時此症亦退而蘇。熱來時其症復來。此時急宜溫中利痰。用治瘴正法。多有得生者。</p>
<p>若元氣虛。服三四服即變　瘴。七日外竟成大夢。又有一等元氣極實者。服前藥亦不痰滯。亦不變　。</p>
<p>止是熱不退。直至十四日內熱微時。方作噦而逝。此等變症不惟敗毒散火湯。雖參蘇飲變症亦如此。</p>
<h4>降藥</h4>
<p>經曰。重陰必陽。重陽必陰。瘴病之作。天氣熱而人身亦熱。上多燥渴。心胸煩熱。是重陽也。</p>
<p>而鼻尖涼。腰足冷痛。是陰寓於其中也。又寒極生熱。熱極生寒。故瘴之始作也。必大熱。及其病退也。身無尺寸之膚下如冰冷。醫者不知此理。見其發熱煩躁舌黑面紅目赤脈數便以為大熱之症。</p>
<p>用苦寒降藥。如黃芩黃連梔子黃柏知母之屬。愈投愈劇。連服數劑。則上熱未降。中寒作。或變。或痰滯。或發噦。或手足梢冷厥而泄。諸症一起。百無一生。又有甚者。見其煩躁引飲。而用白虎湯石膏湯見其舌。黑大便秘小便赤。而用大柴胡湯承氣湯。此藥下咽或即發狂而斃。或即痰滯而卒。頃刻危亡。是知瘴病未必遽能危人。醫危之也。苦寒降藥。如天花粉木通滑石車前子元參連翹元明粉生地黃之類。亦不可輕用。醫者審之。庶不誤人。</p>
<h4>平胃</h4>
<p>或曰。瘴病因於脾胃虛寒。外感乖戾之氣而成。而治法必先正氣和解。所用正氣散養胃湯不換金和解散諸方。俱有平胃散在內。蓋平胃散古人用以治脾胃敦阜。有削平之義。故曰平胃。</p>
<p>非補脾胃藥。何又用之。況瘴病脈弦。脈弦而服平胃散。又犯東垣虛虛之戒何也。予曰發瘴之地。</p>
<p>其地多山。其土卑薄。方其晴明。天氣熱蒸。地下生水。及其陰雨。地下多濕。人生其間。常履於濕土之上。經曰穀氣通於脾。濕傷脾內。故脾胃之虛。多由陽氣浮於上。陰濕之氣傷於下而然。</p>
<p>非若內傷之主於飲食勞倦也。用平胃以去脾濕。胡為不可。中有蒼朮之燥濕。不閉腠理。使汗易出。</p>
<p>陳皮之消痰下氣。川朴溫中下氣理痰消食。甘草之調中氣。益脾胃。故李待制選。以為治瘴要藥也。</p>
<p>若謂脈弦在內傷。謂肝木克脾土。宜補脾抑肝。不宜去濕。故犯虛虛之戒。不知瘴病脈弦。是瘧脈自弦之弦。</p>
<p>為邪在半表半裡。因濕生痰而作。故不禁平胃。正欲其溫中去濕也。</p>
<h4>麻黃</h4>
<p>衛生方云。麻黃生於中牟。有麻黃之地。冬雪不積。蓋麻黃能泄外陽故也。今南方無霜雪。皆如麻黃之地。陽氣恆泄。即此可知。人居其間。不勞麻黃而自汗。有病則不宜輕發汗。輕用麻黃。</p>
<p>此理甚明。前輩詩云。四時恆是夏。一雨便成秋。讀此一聯。不惟知南方天氣。亦可觸類而知。</p>
<p>夫人之病也。假如病者多熱。才經一汗。便翻然為冷。是豈宜輕發汗耶。如五積散。通關散。金沸草散。九寶飲。小續命湯。十神湯。香蘇散。俱有麻黃。雖有主對。亦不可服。若麻黃湯。青龍湯。南方尤不可遽用也。今人例以麻黃為發散藥。殊不知其力只能驅我之內陽。以劫外寒也。古今方書用肺經咳嗽。以肺之性惡寒。肺為嬌臟。易於感寒。乃宜用之。</p>
<p>仲景治足太陽傷寒。以太陽在表。非汗不解。及治少陰經傷寒。發熱脈沉。蓋少陰當無熱惡寒反發熱者。邪在表也。故以溫劑佐之。發中有補。皆所當用也。除此三經。方書已自少用。況南方不寒之地。瘴氣交重。瘴病豈盡因感寒耶。不因感寒。不用麻黃。又何不可。南史記范云欲赴梁武帝九錫之命。忽爾傷寒。召醫徐文伯治之。恐不得與慶事。實告之曰。欲即愈。當先期取汗。</p>
<p>但不免妄泄元陽。恐二年後不復起矣。云曰朝聞夕可。況二年乎。文伯燒地布席。置云於上。得汗而解。云大喜。文伯曰。不足喜也。後二年果應。夫發汗先期。尚促壽限。況不當汗而汗乎。</p>
<p>又嘗見有染瘴者。上熱下寒。腰足寒痛。自謂五積散症也。遂倍加麻黃。多衣覆汗。竟成重症。</p>
<p>雖服真武湯。亦莫能救。並贅於此。為妄用藥者之戒。大凡瘴病誤用麻黃。服後啞者。七日內死。</p>
<p>或筋惕肉　者。十四日內死。或目赤上氣喘促者。十四日內死。若汗出不止。脈細如無悸動。寒戰發噦者。即時死。余常目擊。可不慎哉。</p>
<h4>柴胡</h4>
<p>衛生方云。夫人身本地水火風。四大假合。陰陽和會。上焦屬火為陽。下焦屬水為陰。遇有寒熱。見上熱下寒之疾。不能升降既濟之。而反用藥。實實虛虛。則水火解散。而人身壞矣。嘗謂見柳司教彭亮一曰。染瘴身熱心煩。自以為實熱乘渴。以冷水吞黃連黃芩丸。又取冷水以漬胸膈。</p>
<p>至日晡小便漸多。更服黃芩湯小柴胡湯。是夜連進數服。小便愈數。次日早。熱漸才退。而即逝。可畏哉。夫下元為人身根本。根本既虛。身乎何有。小柴胡湯。今人但知為可用退熱。抑知其所以用乎。夫仲景制方惟用之以治足少陽膽經傷寒。蓋膽無出入道路。柴胡乃本經藥。邪在半表半裡。</p>
<p>非柴胡黃芩之苦。能發傳經之熱則不可。佐以半夏之辛。以散除煩嘔。復用人參甘草之甘。以緩中和之氣。又且存攻守之意也。</p>
<p>倘不擇其可而概用之。鮮有不蹈彭司教之轍者。大凡瘴病誤用柴胡湯後。愈增煩渴。舌愈黑。身沉重。自利頻頻。手稍冷。漸漸厥者。二三日決死。或發噦者。七日內死。或痰逆而啞者。七日死。</p>
<p>俱所目擊者。或曰。若然柴胡斷不可用與。余曰。柴胡能治邪氣在半表。非不可用也。但必須其症一定。不可已。方可用之。亦不可遽用。其性極寒。必須先溫中。固下正氣後。及十四日後。</p>
<p>其病退時。脈亦弦數。外症的系實熱。方可用之。亦當與正氣平胃養胃兼用可也。或李待製柴胡散。</p>
<p>尤為穩當。</p>
<h4>檳榔</h4>
<p>嶺表之俗。多食檳榔。蓋謂瘴瘧之作。率由飲食過度。氣痞痰結。而檳榔最能下氣。消食去痰。</p>
<p>故土人狃於近利。而暗於遠害。此謂北人之飲酥酪塞北地寒。食酥酪膚理縝密。一旦病疫。當汗則寒塞而汗不得出。南方地熱。食檳榔不得。檳榔味辛。</p>
<p>能下泄元氣。大泄胸中至高之氣。久食檳榔。臟氣疏泄。一旦病瘴。元氣已自虛羸。故不能堪。</p>
<p>所以南方多體瘠色黃。夫豈全是氣候所致。蓋亦檳榔為患。殆不思耳。</p>
<h4>附子</h4>
<p>衛生方云。重陽必陰。重陰必陽。寒熱之變。物極則反。今瘴病或始寒戰而終大熱。或連日極熱而後作寒。正謂此也。第傷寒以不飲水為內寒。瘴則內寒者也。亦飲水甚。則欲坐水中取水。</p>
<p>以漬其心。胸蓋炎方受病。氣專炎上。心肺焦熬。華蓋干涸。所以多渴。若其脈浮而虛。按之無力。又或病潮時。脈洪數。病不潮時。脈微弱。其症則心煩躁。額上極熱。面色多赤。舌多黑。</p>
<p>頭或痛或不痛。小便或頻或赤。大便或泄。腰腿沉重。兩足不熱。其有寒厥或疼。誤服涼藥。則渴轉甚。燥轉急。治此者。當引上焦熱氣。降於下焦。正宜用大附子。及灸丹田氣海足三裡等穴。</p>
<p>使下元暖。陰陽交泰。而病自和解矣。或曰口渴心煩。面赤舌黑。小便赤。脈數。明是熱症。而子謂治此病者。宜用大附子。附子乃大熱藥也。以之治大熱之病。是以火濟火。甚駭耳目。吾子其有說以通之乎。余曰方書有云。凡間之火得木則炎。得水則伏。其疾之小者似之。故立方有正治。</p>
<p>龍雷之火。得木則燔。得水則炎。日出則滅。其疾之大者似之。故立方有從治。復佐以熱因寒用之。</p>
<p>寒因熱用之之理。今人染瘴。或啞而不能言。或熱而精神昏亂。如臥炭火之中。去死一間。不謂之火病可乎。所以立從治之方。有薑附湯。乾薑附子湯。沉附湯。附子冷湯。附子理中湯。真武湯。</p>
<p>冷香湯。七棗湯。極重三建湯。雖各有主對。俱系溫劑。合冷服之。或佐以涼藥。乃寒因熱用也。</p>
<p>或曰以熱治之之法。既聞命矣。而三建湯用川烏附子天雄乃一物也。何以別之。</p>
<p>余曰以春月采小者。為川烏。主除寒濕去痰。冬月采大而有小子附於旁者。為附子。主回陽反本。</p>
<p>補下焦之陽虛。大而旁無小子者。為天雄。取之雄不孕子之意。其力全無分散。補上焦之陽虛。</p>
<p>以三物同一本出於建平。故名曰三建。瘴虛因醫者誤用涼藥。以致四肢厥冷。頭額虛汗。發噦。脈數而促。症甚急。用之能收心液。能止真陽。多有得生者。</p>
<h4>常山</h4>
<p>瘴與瘧。似同而實異。故瘴之輕者。全類瘧疾。醫者不知治瘴之法。例用常山白砒及草果。</p>
<p>涌吐其痰。致元氣實者。荏苒難安。元氣弱者。即加腫脹。多致不起。深可太息。蓋瘴疾因陽氣不降又吐之。則不降之陽氣愈升。中氣愈虛。其不危者幾希。故白砒草果毫不可用。若常山猶有用處。其力能去皮膚毛孔中之瘴氣。寒熱所感。邪氣多在榮衛及肉之間。欲除根本。非常山不可。然常山多能吐。人須制之使不吐。方可用。七寶飲冷服之。不吐截瘧丸。日服六七次。酒送之。亦不吐。屢驗之藥也。當知此藥乃末後之兵。方其瘴之始發。必先正氣和解。溫中鎮下。固守乎病患元元之氣。兵法所謂避其來銳是也。及其熱之間斷也。明見其作息有時。一日一作。只有五六時即退。</p>
<p>或間一日一作。審知其脾胃已和。下焦濕冷已去。元氣漸而平復。邪熱漸微漸短。即用七寶飲截瘧丸。則應手而愈。兵法所謂擊其惰歸者。是也。苟不明此理。當其病熱正盛。而用常山。則非徒無益。而正氣愈損矣。</p>
<h4>黃白朮肉桂</h4>
<p>瘴疾之作。率由暑熱。所以腠理不密。多自汗。醫者因其自汗。以治瘧之法治之。用參　歸術之劑補之。服後愈覺煩悶難安。神識昏迷不知。天熱氣蒸。得雨方解。瘴病熱蒸。煩汗方除。白朮止汗。黃　止汗。密腠理。汗不得出。熱蒸無由得解。更作煩悶神昏。故白朮黃　亦不宜遽用。或曰白朮黃　。其性斂汗。為不可用。而肉桂亦非汗藥。何又用之。余曰肉桂固能止汗。本草有曰主溫中。又曰本乎地者。親下。補腎用肉桂。故其性亦能引上焦之陽氣。下達腎經。故可用。或曰子言。天氣熱蒸。得雨方解。瘴病熱蒸。得汗方除。</p>
<p>今病者自汗。宜其瘴之愈也。何又不除。余曰此自汗略得舒片時之熱悶耳。若欲其愈。必也溫中固下。</p>
<p>正氣和解。使陰升陽降。榮衛和調。邪無容地。自然大汗如雨。自頭至足。無處不出。大汗後渾身冰冷。惟口中所出之氣略溫。此等證候不見。瘴熱不復來矣。此時惟當慎其調攝。得百日。元氣可復常耳。</p>
<h4>酒</h4>
<p>本草載。三人晨同行觸霧。空腹者死。食粥者病。惟飲酒者。獨不病。南方天氣。清晨多霧而寒。故人相勉以飲酒。謂其可以御寒辟瘴。殆不知乃發瘴之源也。蓋南方暑濕。飲酒則多中暑濕毒。兼瘴瘧之作。率由上膈痰飲。而酒尤能聚痰。嶺外諺云。</p>
<p>莫飲卯時酒。莫飽申時飯。此誠攝生之要也。然忌夕食者。人雖易曉。戒卯時酒者。人以為疑。蓋南方氣候不常。雖盛夏陰雨必寒。雖隆冬日出必暖。一日之間。寒燠屢變。要之晝多燠。夜多寒。</p>
<p>飲酒過度。固非所宜。而卯酒尤甚。方其朝寒而飲。遇暴熱。則必聚痰以為病也。</p>
<h2>卷下</h2>
<h3>正氣方</h3>
<h4>陳皮半夏湯</h4>
<p>治瘴瘧。不問先寒後熱。先熱後寒。多熱小寒。多寒小熱。皆因夏月傷暑。汗出不透。或秋傷風。</p>
<p>或過食生冷。先傷脾胃。沐浴感冒。多作此疾。因為痰涎停於胸膈。所謂無痰不生瘧。初起宜先下感應丸。溫中去積滯。方服此以正氣去痰。</p>
<p>陳皮（去白）　半夏（湯泡七次）</p>
<p>各等分為粗散。每服四錢。薑七片水煎。不拘時服。壯實人日三四服。虛弱人日二服。瘴瘧本於痰。痰生於濕。半夏能勝脾胃之濕。所以化痰。與陳皮同用。</p>
<p>其味辛。辛能散滯氣。利水穀下氣。氣行則痰行。所以治瘴先用之。以正氣理痰也。</p>
<h4>不換金正氣散</h4>
<p>治四時感冒。五腫膈氣。和脾胃。溫中下痰。止霍亂吐瀉。心腹疼痛脹滿。吞酸噫痞。噎塞乾嘔惡心。中受寒濕生冷。外感風邪。及山瘴之氣。發而為瘴。身體沉重。骨節酸疼。頭昏鼻塞。未分陰陽之間。正宜服之。則氣自正。而病自退。及能止汗。治諸瘧疾。遍身浮腫。或風氣所灌。</p>
<p>手足腫痛。全不思飲食。腸腑時鳴。婦人胎前產後。皆可服之。小兒脾胃不和。時氣諸疾。又治四方不服水土。凡寓嶺南。此藥不可缺也。</p>
<p>厚朴（去皮生薑汁浸一夜）　半夏（湯泡七次薑汁浸晒乾）</p>
<p>陳皮（去白）　藿香（去梗洗淨）　甘草　草果（去皮）　蒼朮（去皮米泔水浸一宿妙）</p>
<p>上各等分先用鍋炒厚朴令香。次入蒼朮。炒令紫色。又會半夏。炒香熟。再入甘草炒黃。又入陳皮炒。方將眾藥安。藿香在中心。用藥遍蓋罨定。少時許。藿香干。方可取出。同草果為散。每服薑棗水煎。一方無草果。按發瘴之地。地土卑薄。陰濕之氣恆盛。四時多熱。陽燠之氣恆泄。濕氣盛則脾胃傷。陽氣泄。則脾胃冷。是方用厚朴之溫中去濕。滿陳皮之消痰下氣。</p>
<p>蒼朮之燥濕健胃安脾。甘草之調中。同用以去敦阜之氣。半夏之利痰以除瘴本。藿香之芬芳助脾開胃止嘔。草果之辛以消食化滯。共為溫中正氣之劑。方名正氣者。謂其能正不正之氣。故治瘴為先用之劑。</p>
<h4>藿香正氣散</h4>
<p>治證同前。嘔吐不止者。用此藿香葉（晒乾）　陳皮（去白）　半夏（湯泡薑汁浸炒）　甘草厚朴（去皮薑汁炒）</p>
<p>上各等分。薑棗水煎。此即前方去蒼朮草果。治瘴之嘔甚者。聞藥氣則嘔。</p>
<p>蒼朮草果其氣太辛竄。故去之。</p>
<h4>大無神朮散</h4>
<p>治證同前。若兼耳閉心痛者。用此蒼朮。厚朴。陳皮。藿香。甘草。石菖蒲。薑水煎服。</p>
<p>此方即不換金去半夏。加石蒲。此太無治瘴之方。若瘴初起兼耳閉心氣痛者。</p>
<p>可擇用之。以菖蒲味辛能散邪開竅。治冷氣也。</p>
<h4>二陳湯</h4>
<p>治瘴病術術欲吐不吐。及嘔而膨脹。又治證候未分。用此服之待其明白見證。</p>
<p>方用對證藥。</p>
<p>陳皮（五兩）　半夏（五兩湯泡七次）　茯苓（一兩去皮）　甘草（一兩）</p>
<p>上　散。每服五錢。薑七片。烏梅一個。水煎溫服。不拘時候。</p>
<p>諺云無痰不成瘧。故瘴病當以治痰為主。痰生於濕。由脾土不能制濕而成。是方用半夏辛溫能燥濕。茯苓甘淡能滲濕。濕去則痰不生。陳皮辛溫能和氣。甘草甘平能益脾。則土足以制濕。</p>
<p>和氣則痰不能留滯。名曰二陳者。以半夏陳皮二藥宜陳用之為君。故名之。此方治瘴。首尾俱可用溫中固下之藥。恐其太峻。加入此方。含用則少緩。</p>
<h4>養胃湯</h4>
<p>治外感風寒。內傷生冷。增寒壯熱。頭目昏痛。肢體拘急。乃辟山嵐瘴氣。脾寒痰瘧。四時疫病。</p>
<p>治冷瘴及寒痰。加附子。人參。伏苓。甘草。半夏。蒼朮。厚朴。藿香。草果。陳皮。上各等分。</p>
<p>每服三錢。烏梅一個。薑七片煎。熱服不拘時。是方乃不換金。合二陳加人參烏梅。瘴初起於濕痰之內積。邪氣之外感而成。故平胃以除濕。二陳以去痰。正氣以正不正之氣。人參之甘溫補脾。</p>
<p>益元氣而利痰。烏梅之酸以止渴。收肺氣。可為治瘴良方。予每用溫中固下之藥。參合此方。甚獲奇效。</p>
<h3>和解方</h3>
<h4>和解散</h4>
<p>治瘴瘧正氣之後。專用此方。一日五六服。南人常自汗。不可汗不可下不可吐。多是脾胃感冷成病。</p>
<p>此方和脾胃逐風邪。其妙如神。感病輕者。更不再發。重者亦自減輕。</p>
<p>蒼朮（半斤制）　陳皮（二兩去白）　本（四兩洗）　桔梗（四兩）　甘草（四兩）　厚朴（二兩去皮薑浸炒）</p>
<p>上共為粗散每服三錢水一鐘。生薑三片。棗一枚。同煎至七分去渣熱服。一日夜五六服。不拘時。若用此藥不發。更服此藥一日方服別藥。發稍輕亦有奇效。後再發次日更服。</p>
<p>一日亦五六服。若第三次不發更服此藥。一日卻服別藥如三次再發。卻服後藥此藥不止。治瘴神效。</p>
<p>就是傷風傷寒作瘧。證候未分之時。並服此藥。一二日皆有效驗。如不效即自依各症用藥。若無於藥之地。病初發至末後。皆服有效。瘴病起於地濕。濕則生痰。天氣熱外泄。脾胃多寒。是方用蒼朮為君。能去濕不閉腠理。使汗易出。汗出則病從汗減。與厚朴。甘草。陳皮。同為平胃之劑。</p>
<p>能去濕溫脾胃。去冷氣調中氣。濕去則痰不生。脾胃溫冷氣去。則土暖中氣既調。且和暖則瘴毒不能留。</p>
<p>自然作汗而解。加以　本。乃太陽經藥。頭痛身熱。腰脊強痛。乃邪氣鬱結於太陽經。　本能使其邪自然作汗。而又治風流於四肢。凡中霧露之氣。皆能為瘴。　本能祛其氣而清上焦。更去風除濕。桔梗之利肺氣利痰。發散胸膈瘴熱之氣。與平胃合為和解之劑。為治瘴和解之神方。</p>
<h3>溫中方</h3>
<h4>附子理中湯</h4>
<p>治瘴毒發熱煩渴悶亂。外熱內寒。自利嘔逆。手足厥冷。</p>
<p>大附子（炮去皮臍）　人參（去蘆）　炙甘草炮乾薑白朮（去蘆土炒）</p>
<p>上各等分水煎溫服。如欲飲冷則冷服。瘴病發熱煩渴。是心肺之陽不降而然。自利嘔逆。手足冷。是脾土無陽虛寒而然是方也。寒淫於內。治以辛熱。乾薑附子之辛熱以治內寒。吐利則脾虛。脾虛者以參朮甘草之甘補。大附子能引上焦之陽入於中焦。則煩熱退中焦曖則吐利除。</p>
<h4>治中湯</h4>
<p>治瘴疾。嘔吐心腹滿痛。人參。白朮。乾薑。甘草。陳皮。青皮。上各等分。水煎熱服。不拘時。</p>
<p>瘴疾多嘔者。因脾土虛寒。痰氣上逆而然也。故以乾薑之辛熱治寒。人參白朮甘草之甘溫以補脾。</p>
<p>同為理中之劑。而陳皮青皮之辛以散氣。氣降則痰下而嘔止矣。</p>
<h4>真武湯</h4>
<p>治療病數日後。發熱腹痛頭目昏沉四肢疼痛。大便自利。小便或利或澀。或嘔或咳。</p>
<p>大附子（炮）　白茯苓（去皮）　白朮（炒）　白芍（炒黃色）</p>
<p>上藥薑五片水煎。食前溫服。小便利者。</p>
<p>去茯苓。大便利者。去白芍。加乾薑。嘔者加生薑五片。易簡方云。不下利而嘔者去附子加生薑。</p>
<p>然既去附子但存三味。似太平易更當臨時消息之。治病之法。本當遙度也。活人書云。太陽病發其汗出不解。仍發熱心悸頭眩。身　筋惕。振振欲擗地。真武湯主之。意謂太陽經傷風。醫者借用麻黃。既然不解。</p>
<p>復成重虛。故宜術附。芍藥。之類。又云少陰病二三日不已。至四五日腹痛。小便不利。四肢沉重。</p>
<p>痛疼自利。或嘔或咳。或小便利。此為有水氣。真武湯主之。今並贅於此。以資用藥者見聞庶不局於一偏也。瘴病頭目昏沉。四肢沉重疼痛者。寒濕傷脾之外證也。腹痛自利小便不利者。寒濕傷脾之內證也。脾惡濕濕勝則濡泄。故用茯苓白朮之甘以補脾去濕。寒淫所勝。治以辛熱。附子生薑以補脾。益陽氣而去寒。白芍收脾氣除腹痛。又能停諸濕而益津液。使小便自行。然必須酒炒黃色以去寒性。名真武者真武乃北方之神。能鎮北方寒水氣使不為禍也。</p>
<h4>嘉禾散</h4>
<p>（又名穀神散）</p>
<p>治中滿下虛。五噎五膈。脾胃不和。胸膈痞悶。脅筋脹滿。心腹刺痛。不進飲食。或多痰。或吞酸胸滿。短氣肢體倦怠。面色萎黃。如中焦虛痞。不任攻擊。臟腑虛寒。</p>
<p>不受峻補。或因病中氣衰。食不復常。稟受祛弱。不能多食。及瘴疾陰陽表裡未分之際。尤宜服之。</p>
<p>枇杷葉（去毛薑汁炙一兩）　石斛（酒拌微炒三錢）　杜仲（酒薑汁同炒三錢）　青皮（五錢）</p>
<p>甘草（一兩五錢）　藿香葉（三錢）　穀芽（炒五錢）　陳皮（去白三錢）　白朮（炒二兩）</p>
<p>砂仁（二兩）　薏米仁（炒一兩）　隨風子（一錢如無小訶子代之）　半夏（薑汁製三錢）　丁香（五錢不見火）　木香（三錢）　桑白皮（炒五錢）　檳榔（炒五錢）　五味子（炒五錢）　神麯（炒一兩）　人參（去蘆一兩）　白蔻（去皮炒五錢）　茯苓（一兩去皮）　大腹皮（炒三錢）　沉香（三錢）</p>
<p>上為末每服薑三片。棗二枚。水煎溫服。不拘時。此方療四時感冒。能調陰陽。使無變動。刻日得安。</p>
<p>如療五噎加干柿蒂一枚。同煎如療膈氣。吐逆羸困入蔥白三寸。棗五枚。同煎婦人亦可服。瘴病發熱候冷服。老人虛人大便閉。加蜜少許煎冷服。</p>
<p>瘴病多因脾胃感冷而成。是方用參朮。苓草。陳半。六君以補脾利痰。丁香。木香。砂仁。白蔻。</p>
<p>藿香。以開胃除積冷以溫中。青皮以理氣。穀芽神麯以消積。瘴病上熱。肺最受邪。枇杷葉薏米仁桑白皮以養肺散肺熱。五味隨風子之酸以補肺斂肺氣。瘴病陽氣不降。</p>
<p>檳榔大腹皮沉香以降氣。氣不降則下寒。下寒則腎無陽。石斛杜仲合沉香引陽氣入腎而暖腰膝。</p>
<p>故李待制謂其宜於瘴病。能升降陰陽。雖證候未分。亦可服之。</p>
<h4>平胃散</h4>
<p>治脾胃不和。膈噎痰氣。嘔吐酸水。氣刺氣悶脅筋虛脹。腹痛腸鳴。胸膈痞滯。飲食不美。</p>
<p>常服則溫養脾元。及辟嵐瘴冷濕。病後進食悉有神效。</p>
<p>厚朴（三兩去皮薑汁炒）　陳皮（留白三兩）</p>
<p>甘草（二兩炙）　蒼朮（五兩米泔水浸炒）　生薑（四兩和皮薄切）　小棗（二百粒去核）</p>
<p>上用水五升。漫火煎干。搗作餅子。先晒後焙。碾為末。入鹽少許。調服。如泄瀉加生薑。烏梅。空心服。</p>
<p>脾寒瘧疾可加草果。烏梅。各一個。如胃寒嘔吐。加丁香茯苓生薑。氣不舒快。不美飲食。加砂仁香附各三兩。生薑湯調服。瘴地陰濕之氣常盛。脾惡濕。蒼朮以扶脾燥濕。厚朴以溫中下氣。理痰消食去濕。陳皮以消痰利氣。甘草能健脾和中。薑以利痰溫胃。小棗之甘。可以補脾氣。</p>
<h4>紅丸子</h4>
<p>治食瘧惡心。腹滿寒熱。右手寸關脈弦實。或沉滑。要之瘴瘧多因食積。氣痞痰結。此藥消食下氣化痰。寓廣者正宜服之。但礬紅阿魏難得好者。又阿魏雖為下氣消瘴之妙藥。卻不可常服。而又不宜於孕婦虛老之人。所以易簡方云。礬紅阿魏不宜常服。用以治瘧黃丹為衣。最好若食積　瘕痞脹。</p>
<p>得真阿魏卻甚良。然亦在修合之際。用好米醋煎陳米糊為丸。自洗米至作糊。不著水純用醋為妙。</p>
<p>蓬莪朮（五兩煨）　青皮（五兩去穰）　陳皮（五兩去白）　京三棱（五兩煨）　胡椒（三兩）　乾薑（三兩）　阿魏（二兩酒化）　礬紅（為衣用）</p>
<p>上為細末。醋糊為丸。礬紅為衣。每服六十丸。</p>
<p>不拘時。治瘴疾生薑桔皮湯。下大病後飲食難化。及中脘停酸。薑湯下心腹脹滿紫蘇湯下。酒疸食疸遍心皆黃。大麥煎湯下。酒傷面黃。腹脹或時乾嘔煨薑湯下。脾氣刺痛菖蒲湯下。兩脅引乳作痛沉香湯下。瘴瘧外因四時之氣乖戾。內因積食生冷而成。留者攻之。故用阿魏棱術以去積冷。積為患氣快則消。氣滯則聚。得熱則行。得寒愈結。青陳皮之辛溫以快氣。椒薑之辛熱以散冷結。用礬紅為衣者。假其土性以培脾胃耳。治瘴用之以溫中。消積甚得其宜。</p>
<h4>感應丸</h4>
<p>治瘧初起。先服以去冷積。及治飲食生冷。硬物停積不化。心下堅滿。胸膈痞悶。兩脅脹痛。</p>
<p>心腹大痛。霍亂吐瀉。大便頻後重遲澀。下痢赤白。膿血相兼。米穀不消。愈而復發。嘔吐痰逆。</p>
<p>惡心喜睡。大便或秘或泄。不拘新久。積冷並皆治之。</p>
<p>南木香（一兩五錢去蘆）　丁香（一兩五錢）　乾薑（一兩炮）　肉豆蔻（去皮捶碎去油二十粒）　百草霜（二兩研細末）　巴豆（去心去油淨七十粒）　杏仁（去皮去尖四十粒研爛如膏）</p>
<p>上將前四味為末。同草霜。杏仁研勻。又將好黃臘六溶化作汁。以重棉濾去渣。更以好酒一升於銀石器內。</p>
<p>煮臘數滾。傾出候酒冷。其臘自浮。取臘聽用。春夏修合。用清油一兩五錢。先於銚內熬。令不散香熟。次下煮過臘四兩化作汁。就銚內拌和。前藥末作錠。以油單紙裹之旋丸。每服十丸。綠豆大。薑湯送下。或用陳皮半夏湯送下亦可。</p>
<h3>溫中固下方</h3>
<h4>薑附湯</h4>
<p>治瘴病內弱發熱。或寒熱往來。痰逆嘔吐。頭痛身疼。或汗多煩躁。引飲或自利。小便赤兼主卒中風。</p>
<p>黑附子（大者要一兩以上者一個炮去皮臍）</p>
<p>分作四服。每服加薑十片。煎溫服。如欲冷者。候冷服之。不拘時。</p>
<p>瘴病痰逆嘔吐自利者。脾土無陽。虛寒也。汗多者。陽氣外泄也。煩躁引飲小便赤者。陽氣上浮。</p>
<p>心肺焦熬而然也。頭痛心疼者。虛寒外甚也。是方用附子之辛熱以溫脾。收外泄之陽氣。佐以生薑又能發散外寒。候冷服之。則能導心肺之熱下行。除下焦宿冷。以熱攻熱。為治重瘴之良方。大意先見附子論。</p>
<h4>乾薑附子湯</h4>
<p>治瘴毒。陰虛發熱。煩躁手足冷。鼻尖涼。身體重。舌苔黑。引飲煩渴。自利嘔逆。汗出惡風。</p>
<p>大附子（一個，去皮臍分作四服）　乾薑（二錢炮）</p>
<p>上水煎。欲飲水者。冷服之。瘴病煩渴引飲。</p>
<p>舌黑陽氣上浮。心肺極熱也。手足冷。鼻尖涼。吐利脾土無陽。虛寒也。身體重。寒氣外盛也。汗出惡風。陽氣外泄。不能衛皮毛也。薑附之辛熱能溫中祛外寒。而收外泄之陽氣。冷凍飲料之以導心肺之熱下行。而暖下焦上焦之熱下行。中下二焦溫暖。則寒熱退。諸病息矣。</p>
<h4>沉附湯</h4>
<p>治瘴病上熱下寒。腿足寒厥。</p>
<p>大附子（五錢）　沉香（磨濃汁）</p>
<p>上薑七片煎。八分乘熱入沉香汁。勿令十分熱。放冷服之。</p>
<p>此藥既主上熱下寒。須真正沉香方佳。雖弄沉亦不濟事。況此香自有數種。既用服餌當以滋味別之。</p>
<p>如咀嚼而香甜者。性平辛辣者。性熱用者。須審擇以對證。附子率用小者。及漏蘆側子之類。謂難得大者。然陰毒及冷瘴。但欲一時壯陽氣可也。若虛而藉降氣斂陽。倘非地道大附子。非徒藥之無益。</p>
<p>夫亦處方者之罪也。瘴病本上熱下寒。加之腿足寒厥。乃下焦腎經陽氣盡浮於上。腎經空虛之極。</p>
<p>是方用附子。乃腎經本藥。加以沉香能引上焦陽氣上腎。腎中有陽氣則下元暖。根本固而邪氣自息矣。</p>
<h4>冷湯</h4>
<p>治瘴病內寒外熱。咽噎干燥煩渴不止。</p>
<p>人參（五錢）　甘草（三寸炙）　淡竹葉（十四片）　大棗（五枚）　大附子（一錢去皮）　上水煎服。</p>
<p>瘴病內真寒外假熱。咽噎干燥。煩渴不止者。心肺熱也。人參之甘。能補脾氣生津液。利痰。</p>
<p>甘草之甘。能和平。二味合用。能緩心肺之火。淡竹葉能解煩渴。大棗能補元氣。大附子能引心肺之火下行。則煩渴止矣。</p>
<h4>既濟湯</h4>
<p>治瘴病熱大。煩渴飲水無度。</p>
<p>大附子（三錢）　人參（三錢）　甘草（一錢）　淡竹葉（二十片）　半夏（一錢）　粳米（二錢）　麥門冬（二錢去心）</p>
<p>上水煎服。</p>
<p>瘴病煩渴。飲水無度者。華蓋焦熬之極也。故用人參以補肺生津。甘草之甘。以緩火。麥冬竹葉之寒。</p>
<p>以潤肺清肺。佐以半夏不令痰滯。粳米乃肺經之穀。用以養肺。若附子之用。妙在於引火下行。</p>
<p>不令華蓋焦熬也。</p>
<h4>冷香湯</h4>
<p>治瘴病。胃脘刺痛胸膈不利。或吐或瀉。引飲無度。及治夏秋暑濕。恣食生冷。遂成霍亂。</p>
<p>陰陽相干。臍腹刺痛。脅肋脹滿。煩亂口渴等證。</p>
<p>良薑（一兩）　檀香（二兩）　丁香（五錢）</p>
<p>附子（一兩）　甘草（二兩）　川羌（一兩）　草豆蔻（一兩）</p>
<p>上為細末。每用三錢水一鐘半。</p>
<p>煎數滾。貯瓶內。沉井底。待冷服之。</p>
<p>瘴因食生冷而得。胃脘痛。吐瀉胸膈不利。皆脾胃之寒也。寒淫於內。以辛熱川羌。良薑。檀香。草蔻。丁香。附子。皆辛熱之藥。去寒溫胃。甘草之甘。溫以和中。大渴引飲者。心肺中有邪熱。</p>
<p>故冷凍飲料以導邪熱下行也。</p>
<h4>三建湯</h4>
<p>治瘴病。四肢厥冷。頭汗出不止。兩足如無或時發噦。</p>
<p>川烏　大附子　天雄　上各等分水煎服。</p>
<p>瘴病四肢厥冷。兩足如無者。脾胃虛寒之極。中下二焦。全無陽氣也。頭汗大出不止者。陽氣盡出於上。欲絕也。噦俗呼為呃逆。方書謂　絕者。聲嘶不凍者。葉落陽氣將脫也。此等證候。</p>
<p>皆因醫者誤用攻熱之藥。以致此危急也。是方用川烏以去寒濕。攻寒痰。附子補下焦之虛陽。天雄補上焦之虛陽。合用之以收心液壯真陽。汗收噦止。四肢溫暖。則可復生矣。按此溫中固下二法。</p>
<p>治瘴之重者。</p>
<p>必用之第。瘴病顯然明見者。皆極熱之證。而陰寒之證。隱然難見。故以熱治熱之法。非玄機之士。未免皆以為怪也。然必冷凍飲料者。乃內經寒因熱用。熱因寒用之義。已見附子論。</p>
<h3>鎮下方</h3>
<h4>養正丹</h4>
<p>治瘴病。上盛下虛。升降陰陽。補接真氣。及治虛風頭眩。吐涎不已。</p>
<p>黑錫　水銀　硫黃　朱砂（各一兩炒另研）</p>
<p>上先將淨鐵。銚入鉛。先熔去滓一兩。淨再入銚。內用鐵匙。</p>
<p>炒攪將硫黃末一錢。漸投入或焰起。無妨只急手攪炒。令鉛熟無性。其硫黃皆燒去。但得鉛熟。遂領地下紙上。令硬即研細。以紗篩出鉛粉。其余成朱者。再炒再研。再篩次將銚頓漫火上。又熔鉛粉入硫黃一兩。頻頻攪炒。至黃煙上。即急持起放冷處。少頃又頓火上再炒。鉛與硫黃皆成黑色。</p>
<p>極調和了。卻放冷處。候其微冷。又頓在微火上。少頃入水銀。以匙攪炒。切勿令青煙上。又次入朱砂末。頻炒至十分調和。即頃在地中。紙上系硬別。研為末黏米糊為丸。綠豆大。每服二十丸鹽湯送下。</p>
<p>瘴病之證多上熱下寒。是方用硫黃大熱之藥。能補真陽壯真火。佐以朱砂黑鉛水銀三味。皆至陰之物。其性寒。所以去巨格之寒。兼有伏陽不得不爾。硫黃亦號將軍。功能破邪歸正。返滯還清。</p>
<p>挺出陽精。消陰回陽。化魄生魂。故治瘴用之。能引上焦陽氣降於下焦。使陰升陽降。成水火之既濟。鎮墜其陽氣。使不上浮外泄。元常溫暖。已病瘴者。得愈。未病者。可以免矣。</p>
<h4>黑錫丹</h4>
<p>治瘴病上熱下寒。升降陰陽。及治痰氣壅塞。上盛下虛。心火炎熾。腎水枯竭。及婦人血海久冷。</p>
<p>無子赤白帶下。屬虛寒者並治之。</p>
<p>黑錫（二兩）　硫黃（二兩）　肉桂（五錢）　沉香　附子（炮去皮臍）</p>
<p>故紙（炒）　小茴（炒）　木香　胡蘆巴（酒浸炒）　肉蔻（面煨）　陽起石（研細水飛）</p>
<p>金鈴子（蒸去皮核各二兩）</p>
<p>上用新鐵銚。如常法。結黑硫砂於地上。出火毒候冷研極細末。余藥並末同研。自朝至暮。以黑光為度。酒面糊丸。梧桐子大。陰乾入布袋內。擦令光瑩。每服三五十丸。鹽湯下。</p>
<p>或棗湯。婦人艾葉湯下。瘴病上熱下寒。是方硫黃之大熱。能助真火。佐以黑鉛之至陰。能治陰盛格陽之病。木香能理諸氣。肉蔻能下諸氣。沉香能降諸氣。加以故紙。小茴。胡蘆巴。引陽氣入腎。肉桂能保腎。附子導熱氣下行入腎。若陽起石。能補腎添精。直高巔之上。引陽氣下達腎經。</p>
<p>共為溫補下元。鎮固陽氣與瘴病為宜也。</p>
<h4>來復丹</h4>
<p>治瘴病上盛下虛。升降陰陽。及治伏暑泄瀉如水。嘔吐不止。</p>
<p>硝石（三兩）　青皮（二兩去穰）</p>
<p>五靈脂（二兩去砂石）　陳皮（二兩去白）　玄精石（二兩研飛）　硫黃（二兩為末）</p>
<p>同靈脂入鍋內微火炒。用柳條攪。不可火大。再研極細末。上末醋糊為丸。豆大每服二十丸米飲下。</p>
<p>瘴病內傷生冷。外感暑氣。氣不升降。是方硝石性寒。佐以青陳皮。性疏快。硫黃大熱。能助真陽。佐以硝石玄精石之至陰。則伏陽格陰皆退。五靈脂能理氣。共為通利三焦。升降陰陽之劑。瘴疾揮霍變亂者。尤宜用之。</p>
<h4>靈砂丹</h4>
<p>治瘴病上盛下虛。痰涎壅塞。此藥最能升降陰陽。鎮墜陽氣。安和五臟。扶助元氣。水銀（八兩）</p>
<p>硫黃（二兩）　上用新鐵銚炒成砂有煙即以醋酒。候研細入水火鼎內。醋調赤石脂封口。鐵線扎縛。</p>
<p>燈盞鹽土固濟。晒乾用炭。二十斤。　煉如鼎裂。筆蘸赤石脂。頻抹。火盡為度。經宿取出。研為細末。</p>
<p>糯米糊為丸。麻子大。每服二十丸。棗湯下。米飲人參任下。瘴病多因秋冬熱則陽氣外泄。浮而不降。下元虛冷。是方用硫黃大熱。能補下元真火。佐以水銀至陰之物。復加　煉成水火既濟之義。能祛拒格之寒。兼有伏陽。大能降上焦之元氣。於下元鎮墜之。使不外泄。甚與瘴病為宜。</p>
<h3>斷瘴方</h3>
<h4>七棗湯</h4>
<p>治外感風寒。內傷生冷。或五臟氣虛。陰陽相勝。作為瘴瘧。寒多熱少。或但寒不熱。</p>
<p>大附子（一個炭火煨以鹽浸再煨再浸七次去皮臍切片）</p>
<p>上用生薑七片。棗七枚。水煎。當發早晨空心溫服。仍吃棗三五枚。忌口為要。冷瘴因寒疾而作。是方用大附子去寒痰。且能引上焦之陽氣。</p>
<p>下入至陰以成天地之交泰。正王太仆所謂益火之元。以消陰翳。加以大棗之甘。以溫補脾氣。則寒痰息而瘴瘧止矣。</p>
<h4>四獸飲</h4>
<p>治喜怒不節。飲食過度。勞役兼並。致陰陽相勝。結聚痰飲。與衛氣相搏。發為瘴瘧。</p>
<p>人參　半夏（湯泡七次）　茯苓（去皮）　白朮　草果（去皮）　陳皮　甘草（炙減半）　烏梅（去核）</p>
<p>上　散用生薑棗子。入鹽少許　之。食頃濃皮紙裹水蘸溫。慢火煨香熟。焙乾。每服半兩。清水煎。</p>
<p>未發前連進三服。</p>
<p>瘴瘧雖因天時。若平人脾胃元氣實。則瘴毒雖慘。於身乎何有。惟喜怒傷氣。飲食傷脾。則元氣不固。</p>
<p>然後瘴毒得以干之。經所謂邪之所腠。其氣必虛是也。是方用參朮苓草之甘溫補脾。以益元氣。加陳皮之辛。以理氣。半夏之辛。以燥濕利痰。草果之辛。</p>
<p>以消食。烏梅之酸。以斂氣生津。薑棗以補元氣。共為截瘧之方。亦君子滿座。小人自退之意也。</p>
<h4>截瘴丸</h4>
<p>治瘴病不問冷熱。或一日一發。二日一發。三日一發。</p>
<p>常山（五兩醋炒七次）　烏梅（四十粒去核）　檳榔（四十粒）　甘草（三兩）</p>
<p>上再同炒為細末。薑汁打米糊為丸。梧子大。未發時。好酒吞二十一丸。一日服七八次。尤妙。發時莫服。瘴止後。忌雞魚羊肉。及　面蔥韭。並生冷瓜果。一切毒物。</p>
<p>避風寒。成房事毋忿怒。瘴與瘧同病而異名。第瘧有定規。瘴多變怪。治瘴之法。不間斷者。使之間斷。</p>
<p>明見作息有時。已間斷者。使之輕減。然後用是方。無痰不瘧。故用常山以去痰。寒熱所感。邪氣多在榮衛肌肉之間。常山能去皮膚毛孔中之邪氣。佐以檳榔能下滯氣。消積利痰。</p>
<p>甘草之甘。以和中氣。借烏梅之酸。以斂外泄陽氣。生薑之辛。以開胃利痰。痰去則瘴本去矣。</p>
<p>截瘴之方。惟此為妙。</p>
<h4>七寶飲</h4>
<p>治瘴瘧一日一發。或間日一發。明白作息。有時此以截之。</p>
<p>常山　檳榔　青皮　草果（去皮）　厚朴　甘草上各等分用酒水各一鐘。煎好以棉罩之。放星月下露一宿。當日早冷服。服後莫熱飲食。無痰不成瘧。是方用常山以逐痰。檳榔以墜痰氣。草果以溫中去寒痰。厚朴青陳皮之辛以行氣。</p>
<p>氣行則痰不能留。甘草以調胃和中。共為行氣消痰之劑。痰消則瘧本消。宜乎瘴之不再作也。</p>
<p>按瘴病治法最難。於始發熱不間斷時。及其溫中固下。正氣和解後。明白作息。有時正氣漸和。</p>
<p>下焦濕冷已去。諸凡截藥不犯寒涼。不吐不利者俱可用。</p>
<h4>麥門冬湯</h4>
<p>治　瘴。神清目開。大小便如常。惟全不能出聲身熱。</p>
<p>麥冬（去心）　人參　白朮　陳皮　川芎　半夏　當歸　肉桂　烏梅　大附子　甘草　茯苓（去皮）</p>
<p>上加薑三片。水煎溫調。黑神散服。</p>
<p>瘴若神昏直視。不知人事。痰響者屬痰。神昏不知人事。不痰響能飲食。惟不能出聲。此邪熱涌沸其血。上塞心肺之竅。故不能言也。是方用六君子。緩火邪以補脾救元氣。門冬解心肺之熱。</p>
<p>烏梅生津以收外泄陽氣。歸芎以行散上竅之血。血得熱則行。故用桂附之熱以行之。且能引上焦之陽下入陰分。再調黑神散。以驅逐其血。血散則心肺之竅開。而聲音出矣。</p>
<h4>黑神散</h4>
<p>治　瘴。</p>
<p>黑豆（二合半炒去皮）　當歸（二兩）　蒲黃（二兩）　乾薑（二兩）　熟地（二兩）</p>
<p>肉桂（二兩去粗皮）　白芍（酒炒五錢）　甘草（五錢）</p>
<p>上為末每服二錢。調麥門冬湯下。瘴病之熱專熬心肺。熱甚則涌沸其血。出於上竅。則為吐衄。不能上退場門鼻。惟塞於心肺之竅。則為　瘴。</p>
<p>是方蒲黃能逐敗血。芍歸能去舊血。生新血。薑能使血行。甘草以和氣益血。乃陰類。熟地黑豆。乃北方之物。合諸藥以導血歸源也。</p>
<h4>青州白丸子</h4>
<p>治　瘴目上視。口噤痰涎閉塞。昏不知人。遺尿遺屎。及治中風痰甚等證。</p>
<p>生半夏（七兩）　南星（二兩）　生白附子（二兩）　生川烏（五錢）</p>
<p>上為細末。以生絹袋。盛於井花水內。擺出未出者。再以手揉。令出渣。再研再入。絹袋擺盡為度。於瓷盆中。日晒夜露。每日一換新水。攪澄清。春五夏三。秋七冬十日。去水晒乾。研細以糯米粉煎粥。清為丸。綠豆大。每服二十丸。</p>
<p>生薑湯下。</p>
<p>瘴口噤。目上視。痰涎閉塞。昏不知人。遺尿遺屎。因脾胃感冷。中氣不能運痰。以致痰氣上迷心竅。故神昏不能言也。痰生於濕。半夏南星能燥濕。痰滯於寒。</p>
<p>白附之溫。川烏之辛熱。能祛寒。送以薑湯。最能治痰滯之瘴也。</p>
<h4>星附湯</h4>
<p>治　瘴。痰涎上壅。昏不知人。聲如牽鋸。口噤直視。遺尿遺屎。</p>
<p>生南星（一兩）　生附子（一兩）　木香（五錢）</p>
<p>上　散每服四錢薑九片。水煎溫服。</p>
<p>瘴有痰涎上塞。聲如扯鋸之狀。則再兼異證。皆痰所為。由脾胃感冷。中氣虛寒。不能運痰而然。</p>
<p>故用南星之燥。以去痰。附子之辛熱以溫中。佐以木香之辛以行氣。氣行則痰行也。予治痰證。多以氣方為主。重者單用。或加二陳湯。內虛者。再倍加人參。更佐以沉香。屢屢獲效。</p>
<h4>三生飲</h4>
<p>治　瘴。如前證之甚者。及治瘴後痰厥。</p>
<p>生南星（一兩）　生附子（五錢）　生川烏（五錢）</p>
<p>木香（二錢五分）</p>
<p>上　散。每服五錢。生薑十片。水煎溫服。元氣虛者。加人參五錢。</p>
<p>同煎是方。即前方加川烏。因脾胃虛寒之甚。故加之。若元氣虛者。加人參補元氣利痰。有起死回生之妙。</p>
<h4>正舌散</h4>
<p>治瘴病。舌本強硬。語言不出。</p>
<p>蠍梢（二錢五分去毒）　茯神（一兩微炒去皮木）　薄荷（一兩焙乾）</p>
<p>上為末。每服二錢。溫酒調下。或擦牙頰間亦。妙瘴病舌本強硬。語言不出者。因瘴熱入於心脾經絡而然。蓋心之別脈系舌本。脾之脈連舌本。散舌下。是方用茯神可以寧心。益脾。薄荷能去風熱。蠍梢能去風痰。風熱去則心脾清。而舌強自消矣。</p>
<h4>柴胡散</h4>
<p>治瘴病。十四日外。寒熱不已。不潮時。脈弦數者。</p>
<p>柴胡（一兩去蘆）　半夏（五錢湯泡）</p>
<p>桂心（五錢去皮）　白芍（五錢炒炙）　甘草（三錢）</p>
<p>上　散。薑七片。棗一枚。水煎溫服。寒熱。</p>
<p>得退。便止此藥。</p>
<p>瘴病十四日外。已過經矣。病雖未愈。元氣稍蘇。更兼其脈。熱不潮時。亦弦數。此正瘧脈弦數多熱之證。</p>
<p>況寒熱脈弦。是邪在半表半裡。足少陽實主之。故用柴胡為君。本經藥也。木得桂而枯。故用以散少陽之邪。半夏生薑之辛。以散邪氣。</p>
<p>兼能燥濕利痰。治之瘴本若白芍之酸。甲味也。大棗甘草之甘。己味也。甲己化土。養脾之妙法也。</p>
<p>是方李待制立。以治瘴扶脾利痰。以退半表半裡之邪熱。用以桂心。佐以柴胡。使柴胡之寒不能為柄。非神於用藥者。不可同語也。</p>
<h4>草果飲</h4>
<p>治瘴瘧頭痛。身疼寒熱。脈浮弦。</p>
<p>草果（去殼）　良薑　青皮（去穰）　川芎　白芷　蘇葉　甘草上各等分　散。水煎熱服。當發日前連進一服。不拘時候。</p>
<p>四時治要方。云風瘧。食瘧。瘧即瘴也。多生於東南。謂東南乃魚鹽之地。及多暴風。風瘧宜草果飲。此方用川芎。青皮。白芷。發散風邪。良薑。蘇葉。發散寒熱。今咳痰脈浮緊。</p>
<p>頭痛身疼。惡風寒。乃感乎凜冽暴風也。正宜草果飲。因食生冷肥膩。中脘生痰。嘔逆遂成食瘧。</p>
<p>宜服二陳湯。三因方。治食瘧用紅丸子。亦為極妙。</p>
<h4>奪命散</h4>
<p>治傷寒瘴瘧。陰陽證候不明。誤投藥。致病垂困。煩躁發渴。及婦人產後。胎煎受熱。瘴等證。</p>
<p>人參（一兩去蘆切片）</p>
<p>用水二鐘。於銀石器內。煎至一鐘。以冷水沉取冷一服而盡。若鼻有汗滴尤妙。</p>
<h4>五苓散</h4>
<p>治傷寒瘴疾。感暑中濕。小便不利。頭疼身熱。煩躁發渴等證。夏月主治尤多。能伐腎氣下虛者。</p>
<p>不可過服。</p>
<p>澤瀉（三兩）　豬苓（去皮一兩五錢）　茯苓（去皮一兩五錢）　肉桂（一兩）　白朮（去蘆一兩五錢）</p>
<p>上為細末。每服三錢。夏月背寒。頭疼。發熱無汗。小便秘。濃煎蔥白湯調熱服。令額上有汗。為妙或只用百滾湯。調熱服。仍續啜熱湯。沖令汗出。</p>
<p>冒暑極熱。新汲水調亦可。熱瘴痢疾。小便不利者。並用熱水調。大便泄小便不利者。車前子湯調。</p>
<p>不宜多服。瘀熱在裡。發黃膽。茵陳湯調。或加辰砂尤治蘊熱心煩。</p>
<p>毛崇甫。因母病。孝感天地。夢投此方。可謂神方也。但五苓散。用桂正如小柴胡用人參。備急丸用乾薑之類。欲其剛柔相濟。亦存戰守之意也。故方書謂五苓散。無桂及隔年陳者。俱不可用。</p>
<p>如去桂而加人參。卻謂之春澤湯。治煩躁效。</p>
<h4>烏沉散</h4>
<p>治瘴疾心腹刺痛調中快氣。</p>
<p>烏藥（一兩）　香附（三兩焙乾）　甘草（一兩炒）</p>
<p>上共為細末入鹽少許滾湯調服。</p>
<h4>加減五積散</h4>
<p>治瘴後腰疼腳痛渾身疼。</p>
<p>蒼朮　陳皮　厚朴　半夏　茯苓　當歸　川芎（大）　肉桂　乾薑　桔梗　甘草　枳殼（氣弱者不用）</p>
<p>上薑三片煎服。</p>
<h4>黃建中湯</h4>
<p>治瘴後自汗。</p>
<p>黃　白芍　肉桂　甘草上薑三片棗一枚水煎服。</p>
<h4>異功散</h4>
<p>治瘴後。精神少。不喜飲食。此藥能調胃進食。順氣化痰。不冷不燥。功效尤多。</p>
<p>人參　白朮　陳皮　茯苓　甘草上各等分。薑三片。棗一枚。水煎服。</p>
<h4>六君子湯</h4>
<p>治瘴後體倦。食少多痰。</p>
<p>人參　白朮　茯苓　甘草　陳皮　半夏上各等分。薑水煎服。如易飢食不多。即飽悶者。加藿香砂仁。名香砂六君湯。</p>
<h4>大養脾丸</h4>
<p>（治同六君湯）</p>
<p>人參（一兩）　白朮（五錢）　茯苓（一兩）　乾薑（二兩炮）　砂仁（二兩）　麥芽（一兩炒）</p>
<p>甘草（一兩五錢）</p>
<p>上煉蜜為丸。每兩八丸。每服一丸。食前細嚼薑湯下。</p>
<h4>濕疽湯</h4>
<p>治瘴後虛煩。不眠心膽虛怯。氣鬱生痰。痰與氣搏。變生諸證。或四肢浮腫。心虛煩悶。觸事易驚。或夢不祥。或異象眩惑。遂致心驚膽怯。</p>
<p>半夏（一兩五錢）　枳實（一兩）　陳皮（一兩五錢）　甘草（四錢）　茯苓（三兩）　竹茹上薑七片。棗一枚。水煎食前熱服。</p>
<h4>如聖餅子</h4>
<p>治瘴疾嘔逆。頭疼及氣厥痰飲。</p>
<p>防風　天麻　半夏（各五錢生用）　南星　乾薑　川烏（各一兩）　川芎　甘草上共為末。水丸作餅子。每服五餅薑湯下。</p>
<h4>六和湯</h4>
<p>治夏月冒暑。伏熱發瘴。煩躁口渴。及心脾不調。霍亂吐瀉。或瘧或痢。或咳嗽。</p>
<p>人參　砂仁　甘草　杏仁　半夏　扁豆　藿香　茯苓　木瓜　香薷　厚朴上　散。每服四錢。薑三片。棗一枚煎服。</p>
<h4>參蘇飲</h4>
<p>治瘴瘧。壯熱脈弦數。按之不絕。頭痛目睛疼。</p>
<p>人參　蘇葉　前胡　干葛　半夏（各二錢）　茯苓　陳皮　桔梗　甘草　枳殼（各五錢）</p>
<p>薑七片。棗一枚。水煎服。不拘時。如頭痛。目疼。</p>
<p>加川芎。聞之陽氣恆泄之地。得疾者。雖身熱亦多內寒。正經所謂。言熱未已。寒病復始。又王叔和云。有熱不可太攻之。熱去則寒起是也。所以瘴疾熱多卑熱者。攝生方。衛生方。皆以病深而難治。</p>
<p>參蘇有不當服者。且如脈虛內弱煩躁而熱。衛生方治以冷湯生薑附子湯甚效。余於湟川得周醫云。</p>
<p>近日三五證。熱甚大。用附子乾薑入麝香少許。汲水調下。心間如覺頓涼。即覺愈。未嘗再服。</p>
<h4>柴平湯</h4>
<p>治瘴疾十四日外。熱尚未除。其脈弦數有力。</p>
<p>柴胡　黃芩（炒黑）　人參　半夏　陳皮　甘草　蒼朮　厚朴上薑三片。棗一枚。水煎服。</p>
<h4>樂令黃湯</h4>
<p>治瘴疾。發熱煩躁。引飲大便不通。小便赤澀。狂言內熱。神昏不省。</p>
<p>黃　人參　陳皮　當歸　桂心　細辛　前胡　炒芍　茯苓　半夏　甘草　麥冬上各等分。薑三片棗一枚。煎溫服。</p>
<h4>星香湯</h4>
<p>治　瘴。手足搐搦。及痰厥等證。氣盛者用之。</p>
<p>南星（八錢）　木香（一錢）</p>
<p>上每服四錢。薑十片水煎服。</p>
<h4>附香飲</h4>
<p>治　瘴。氣逆及痰厥。氣虛者用之。</p>
<p>大附子（八錢炮）　木香（一錢）</p>
<p>上每服四錢。薑十片。水煎服。以天雄易附子尤妙。</p>
<p>痰涎壅盛者。加全蠍五個。仍服黑錫丹鎮墜。如六脈俱虛者。用三建各一兩。木香五錢。薑棗煎。</p>
<p>更磨沉香同服。</p>
<h4>蘇感丸</h4>
<p>治因食生冷。至寒痰上壅。作　瘴。及瘴後痰厥。或痢初起。用蘇合香丸。感應丸。上各等分。</p>
<p>和勻如丸。如黍米大。每服五六十丸。薑湯下。</p>
<h4>蘇合丸</h4>
<p>沉香（三兩）　青木香（三兩）　丁香（三兩）　麝香（三兩）　犀角（三兩）　安息香（三兩）</p>
<p>檀香（三兩）　白朮（三兩）　香附（三兩）　蓽茇（三兩）　朱砂（三兩）　訶子（三兩）　薰陸香（一兩）　冰片（一兩）　蘇合油（一兩）</p>
<p>上將安息香。用好酒熬膏。入蘇合油和勻。余藥為細末。入膏油。內再加煉蜜為丸。</p>
<h4>蘇子降氣湯</h4>
<p>治男子虛陽上攻。氣不升降。上盛下虛。壅隔痰響。咽喉不利。咳嗽虛煩。引飲頭昏。腳疼腰痛。倦怠肚腹。刺痛。冷熱氣泄。大便風秘。澀滯不通。</p>
<p>真蘇子（五兩炒）　當歸（三兩）　前胡（三兩）</p>
<p>厚朴（三兩）　甘草（三兩）　肉桂（三兩）　陳皮（三兩）　半夏（三兩）</p>
<p>上　散。每服薑三片。棗一枚。煎服不拘時。</p>
<h4>秘傳降風湯</h4>
<p>治男女上熱下寒之病。凡飲食過度。致傷脾胃。色欲過節。耗損真元。脾胃不和。遂致氣不升降。</p>
<p>上熱則頭痛目眩。或痰涎嘔逆。胸膈不快。咽喉干燥。飲食無味。下虛則腰膝無力。大便泄澀。</p>
<p>裡急後重。臍肚冷痛。治以涼。則脾氣怯弱。腸鳴下利。治以溫。則上焦壅熱。口舌生瘡。及香港腳上攻。</p>
<p>與浮腫心煩。宜先服此藥。然後以所主之藥治之。無不效者。</p>
<p>五加皮（五錢酒炒）　枳殼（二兩炒）　甘草（一兩炒）　草果（五錢）</p>
<p>柴胡（一兩）　陳皮（五錢）　地骨皮（兩炒）　訶子（五兩去核）　半夏（五錢）　桑白皮（二兩炒）</p>
<p>桔梗（五錢）　骨碎補（五錢去毛炒）</p>
<p>上　散。加蘇葉生薑。水煎食後服。嗽倍半夏。上隔熱甚加黃芩。</p>
<p>下部虛弱甚熟附子。如用附子。更加生薑。女人血虛加當歸。</p>
<p>瘴疾多上熱而下寒。此正張給事所謂陽浮而陰閉也。愚嘗謂寓於廣者。平居無疾。亦須服降氣鎮墜之藥。</p>
<p>及養正丹。黑錫丹。然養正丹。四藥皆有利性。南方陽氣恆泄。稍失制度。寧免誤人。怕服不若黑錫丹。</p>
<p>降氣藥。及蘇子降氣湯。秘傳降湯二藥。均治上盛下虛。然秘傳降氣湯。若胃寒氣虛者。亦不宜多服。得病而上熱下寒者。李待制乾薑附子湯法。最妙易簡方。亦類在降氣湯。後更云煎臨時以藥汁磨沉香。再煎滾此法最良。病退而余熱在上者。正宜服之。</p>
<h4>沉香降氣湯</h4>
<p>治陰陽壅滯。氣不升降。胸膈痞塞。喘促短氣。</p>
<p>沉香（一兩）　砂仁（一兩）　香附（四兩）　甘草（二兩）</p>
<p>上為末。每服二錢。入鹽少許。滾湯點服。</p>
<h4>四物湯</h4>
<p>治婦人瘴病。宜調血者。此方合瘴瘧。諸方用之。</p>
<p>大川芎　當歸　熟地　白芍上各等分。水煎服。</p>
<h4>四七湯</h4>
<p>治婦人瘴疾。中脘痞滿。氣不舒快。痰涎壅盛。及七情氣結。成痰或如破絮。或如梅核在咽喉之間。</p>
<p>咯不出咽不下。</p>
<p>半夏（五兩）　茯苓（四兩）　厚朴（三兩）　紫蘇（三兩）</p>
<p>上每服四錢。薑七片。棗一枚。水煎熱服。</p>
<h4>木香檳榔丸</h4>
<p>治瘴後痢疾。元氣實者。腸胃有積。裡急後重。腹痛頻頻至圊。</p>
<p>木香（一兩）　檳榔（一兩）　青皮（一兩）　陳皮（一兩去白）　枳殼（一兩）　黃柏（一兩）　三棱（醋煨一兩）</p>
<p>莪朮（醋炒一兩）　當歸（一兩）　黃連（一兩）　香附（三兩）　黃芩（二兩）　大黃（三兩）</p>
<p>黑丑（半生半熟取末四兩）</p>
<p>上為末滴水為丸。梧子大。每服六七十丸。滾湯下。</p>
<h4>香薷飲</h4>
<p>治瘴後伏暑作痢。</p>
<p>香薷　黃連　厚朴　扁豆　甘草上藥　散。薑三片。水煎服。</p>
<h4>香連丸</h4>
<p>治諸痢。</p>
<p>川連（二十兩用吳萸淨一兩同好酒浸一夕同炒干去吳萸不用以川連為末）　南木香（一不見火另研為末每連末五兩入木香一兩）</p>
<p>上共和勻。用米醋打老。倉米糊為丸。梧子大。每服五十丸。米泔下。</p>
<h4>雙亂丸</h4>
<p>治赤白痢。</p>
<p>川連（去須蘆）　吳茱萸（去梗）</p>
<p>上各等分共一處。以好酒浸一宿。取出揀開。晒乾各為細末。各面糊為丸。梧子大。赤痢用川連丸。三十丸。甘草湯下。白痢用茱萸丸三十丸。</p>
<p>乾薑湯下。赤白相兼。各三十丸相合。用甘草乾薑湯下。</p>
<h4>斷下方</h4>
<p>治赤白痢。及休息痢。瘴病後患痢。俱宜此藥。</p>
<p>草果（連殼一個）　白朮（面炒）　粟殼（十個去肋膜及蒂醋拌炒透）　茯苓上為粗末。共作一劑。加薑三片。棗三枚。烏梅三個。赤痢加烏豆七粒。</p>
<p>白痢加乾薑五分水煎。分作二服之。</p>
<h4>真人養臟湯</h4>
<p>治小兒大人。腸胃虛弱。患赤白痢。或下膿血。或如魚腦。髓臍腹　痛。日夜無度。大便脫肛。</p>
<p>人參（二錢）　肉桂（五錢）　訶子（一兩去核）　粟殼（三錢六分）　白朮（炒）　當歸（二錢）</p>
<p>白芍（一兩六錢）　甘草（五錢炙）　肉蔻（五錢面煨）　木香（一兩四錢不見火）</p>
<p>上　散。每服四錢。水煎食前溫服。滑瀉及白痢。並加熟附子五六片。生薑三片。冷甚者加乾薑。</p>
<h4>保和丸</h4>
<p>治內傷飲食。致成痢疾。元氣祛弱。不堪下者。</p>
<p>山楂（二兩去核）　神麯（一兩）　半夏（一兩）　茯苓（一兩）　陳皮（五錢）　連翹（五錢）　蘿卜子（五錢）</p>
<p>上為末。粥為丸。梧子大。每服五六十丸。滾湯下。或原物燒灰調湯下。</p>
<h4>四神丸</h4>
<p>治瘴後元氣虛弱。患痢赤白。及脾胃虛。清晨溏泄。</p>
<p>故紙（四兩炒）　五味（一兩去核）　肉蔻（二兩面煨）　吳萸（一兩去梗）</p>
<p>上為末用紅棗六十粒。生薑六兩。切碎同煮。熟去薑將棗肉搗為丸。</p>
<p>梧桐子大。每服五十丸。米飲下。</p>
<h4>七味白朮散</h4>
<p>治下痢虛渴。</p>
<p>白朮　茯苓　人參　甘草　藿香　木香　干葛上共　散。水煎溫服。</p>
<h4>補中益氣湯</h4>
<p>治瘴後痢疾。元氣下陷者。</p>
<p>黃　（二錢）　人參（一錢）　白朮（八分）　當歸（五分）</p>
<p>陳皮（三分）　甘草（一錢）　升麻（三分）　柴胡（三分）</p>
<p>上薑三片。棗一枚。水煎溫服。</p>
<h4>四柱散</h4>
<p>治元氣虛。真陽耗。臍痛痢不止。</p>
<p>人參　附子　茯苓　木香上各等分。每服四錢。薑五片。</p>
<p>水煎溫服。</p>
<h4>參苓白朮散</h4>
<p>治瘴後。脾胃虛弱。飲食不進。致嘔吐瀉痢。病後此藥最好。</p>
<p>人參　茯苓　白朮　山藥　甘草　蓮肉　薏米　桔梗　扁豆　砂仁上共為末。每服二錢。棗湯調下。</p>
<h4>震靈丹</h4>
<p>治病後虛羸。少氣泄痢不止。</p>
<p>禹餘糧（二兩）　代赭石（俱火　醋淬二兩）　赤石脂（二兩）　五靈脂（二兩）　乳香（二兩）　沒藥（二兩）　朱砂（一兩）　紫石英（四兩三味俱搗碎入砂鍋以瓦蓋口鹽泥固濟候干用硬炭十斤　通紅火盡為度入地坑埋出火毒二日夜研末。）</p>
<p>上為末。和勻糯米粉糊為丸。小芡實大風乾每服三丸。用炒故紙棗湯。調鐘乳粉少許。空心送下。</p>
<h4>敗毒散</h4>
<p>（一名倉廩湯）</p>
<p>治下痢赤白。噤口不食。頭疼心煩。手足溫。脈不虛弱。</p>
<p>人參　桔梗　甘草　茯苓　川芎　羌活　獨活　柴胡　前胡　枳殼上各等分。　散。每服四錢。陳倉米。百粒。薑三片。棗二枚。</p>
<p>水煎溫服。</p>
<h4>進食丹</h4>
<p>治痢毒熱上衝心肺。嘔逆噤口。</p>
<p>石蓮子（去殼）</p>
<p>上為細末。陳倉米煎湯調下。</p>
<h4>補脾丹</h4>
<p>治痢脾胃虛弱。聞食則嘔。不思飲食。</p>
<p>山藥（切碎半生半炒熟）</p>
<p>上為細末。陳倉米煎湯調下。</p>
<h4>五皮飲</h4>
<p>治瘴後飲水過多。或食毒物。或飲食不節。致傷脾氣。頭面四肢臍腹腫滿。</p>
<p>生薑皮　茯苓皮　大腹皮　桑白皮　桔紅皮上各等分。　散水煎服。病在上。食後服。病在下。食前服。忌生冷毒物糕　。</p>
<h4>實脾散</h4>
<p>治瀉後脾虛腫滿。</p>
<p>大附子（一兩）　草果仁（一兩）　大苓子（一兩即檳榔）　乾薑（一兩）</p>
<p>宣木瓜（一兩）　甘草（一兩）</p>
<p>上用水同煎干一半。手劈開。附子心。不白為度。勿令水同干。</p>
<p>恐近底焦取出割四片。焙為末。每服三錢。空心日午滾湯調服。</p>
<h4>五苓五皮散</h4>
<p>治瘴後。脾氣凝滯。面目虛浮。四肢腫滿。心腹膨脹。上氣急促。小便不利。</p>
<p>茯苓皮　白朮　豬苓　澤瀉　五加皮　肉桂　陳皮　生薑皮　大腹皮　地骨皮上各等分。每服四錢。水煎熱服。</p>
<p>忌生冷油膩堅硬諸物。</p>
<h4>胃苓湯</h4>
<p>治瘴後濕勝腫滿。</p>
<p>蒼朮　陳皮　川朴　甘草　肉桂　白朮　茯苓　豬苓　澤瀉上各等分。用薑一撮。水煎熱服。</p>
<h4>木香流氣飲</h4>
<p>治諸氣痞塞。胸膈膨脹。走注刺痛。氣促痰嗽。面目虛浮。四肢腫滿。大便秘結。小便不利。</p>
<p>青皮（四兩）　陳皮（四兩）　甘草（四兩）　川朴（四兩）　紫蘇（四兩）　香附（四兩）</p>
<p>木通（二兩）　腹皮（一兩五錢）　丁香（一兩五分）　木香（一兩五分）　藿香（一兩五分）</p>
<p>檳榔（一兩五分）　草果（一兩五分）　莪朮（一兩五分）　肉桂（一兩五分）　人參（一兩）</p>
<p>麥冬（一兩）　白朮（一兩）　茯苓（一兩）　枳殼（一兩）　川蒲（一兩）　木瓜（一兩）　白芷（一兩）　半夏（一兩）</p>
<p>上　散。每服五錢。薑三片水煎服。</p>
<h4>金匱腎氣丸</h4>
<p>治脾腎虛寒。腰重腳腫。濕飲留積。小便不利。或吐。腹腫脹。四肢浮腫。氣喘痰盛。其效如神。</p>
<p>茯苓（三兩）　附子（五錢）　牛膝（一兩）　肉桂（一兩）　澤瀉（一兩）　車前（一兩）</p>
<p>石棗（一兩）　山藥（一兩）　丹皮（一兩）　熟地（四兩）</p>
<p>上為末。和地黃膏煉蜜為丸。梧子大。</p>
<p>每服六七十丸。空心米飲下。</p>
<h4>導痰湯</h4>
<p>治一切痰涎壅盛。胸膈留飲。痞塞不通。</p>
<p>南星（一兩）　枳殼（一兩）　陳皮（一兩）　茯苓（一兩）　甘草（五錢）　半夏（四兩）</p>
<p>上　散。每服四錢。薑十片。水煎溫服。</p>
<h4>通關散</h4>
<p>治瘴後痰厥。昏不知人。痰涎上壅。牙關緊閉。急要諸藥。不得下咽喉。</p>
<p>細辛（一兩）　牙皂（一兩）　半夏（一兩）</p>
<p>上共為細末。吹入鼻中。候噴嚏得少蘇。卻急進藥。</p>
<h4>蜜導法</h4>
<p>治瘴後有汗過多。津液內竭。大便不通。不妄用下藥。惟宜此法。</p>
<p>蜂蜜（四兩）</p>
<p>上於銚內漫火煉攪之。勿令焦。候稍冷。如糖狀。以水濕手。捏作錠。如拇指大。約長二三寸。令一頭銳。</p>
<p>乘其稍熱。納穀道中。以手抱住。如未效。更用一枚。火上略炙。便溫。嚴氏方云。蜜三合。入豬膽汁二匙。在內同煎。無膽只如前亦可。又一方。入皂角五錢在內。皆可隨病淺深取用。</p>
