<header><h1>類證普濟本事方續集</h1></header>
<dl class="元資料" data-type="book" hidden></dl>
<h2>《本事方續集》提要</h2>
<p>《本事方續集》十卷，宋·許叔微先生著。市上流傳先生所著《本事方》十卷，為清·葉天士研究醫學得力之書。惟《續集》十卷吾國素無傳本，且未見著於各家書目，因之吾醫絕未知有是書。本社主任裘君吉生得日本刻本而藏之，所謂禮失求諸野，洵不誣也。其間所載各方，較《初集》十卷中尤為詳備。此種秘笈，凡吾醫家必欲鑒賞之心人人所同。特翻印，以餉同道之搜求遺著者。</p>
<h2>類證普濟本事方續集卷一</h2>
<h3>治諸虛進食生血氣並論</h3>
<p>夫人稟陰陽、五行、運氣、榮衛而保全其身一，凡身中或有毫杪疾患無非因臟腑虛冷，臟腑虛冷則榮衛不調，榮衛不調則疾生矣。又況虛冷之極又能生其虛陽，或手足腰腎及眼目口齒三焦六腑值病之亟則各能死人。且如左右手三陽三陰十二經脈，皆須用有胃氣或加之有疾，而無胃氣者不問病之輕重，不救。何謂須用有胃氣緣胃受穀氣，穀氣生則能生氣血，氣血壯則榮衛不衰，榮衛不衰則病自去矣。如五臟六腑表裏之間皆出自穀氣而相傳授生氣血而灌蔭五臟，或氣血不足則五臟六腑蔭無所自。況加之於憂愁思慮、喜怒不常、起居勞役、飲水不節、房事過多、衝雪冒霜、伏暑鬱熱，損失耗散，則病生焉。且如季春、季夏、季秋、季冬，一十八日之間，脾土於此時旺極，每遇此際，腎水受克，故當補腎。所以心、肺、肝、脾、腎各有衰旺，各有相生、相克。如心克肺，肺克肝，肝克脾，脾克腎，腎克心，遇旺則克之愈甚。凡受克處，故宜補。然春補脾，夏補肺，秋補肝，冬補心，古之賢人平居無病，亦常用方藥法度調護脾胃，使進飲食而全穀氣，凡百皆得其宜。如今之庸醫用意皆錯，姑舉一二而為證然。且如腎經衰敗，則以天雄附子之類而言補腎，且腎本屬北方壬癸水，喜濕惡燥，反用天雄附子至燥藥，豈能補乎腎耶況腎經虛則乃五臟六腑衰極而漸至腎，則諸病生焉。凡下部腎經虛者不必補之，至妙之法有二：一則但補脾護胃，使進飲食而全穀氣；一則所謂生血氣者，可每日夜半子時，乃北方正候當此之時，腎水旺極，則攝血化精，精氣全則實，腎經不虛，病自去矣。男子則攝血化精，女子可通月事。若穀氣不全，則氣血不生。氣血不生，則當夜半子時，腎水雖旺，則血不能償，其腎所攝無精可化，丹田不固，腎自虛矣。以此觀之，凡腎經並五臟虛敗，醫者不識源流，枉用其法，初不能損於病乎今則具列先補脾胃、後調氣血二方並法，悉皆備集，予不欲私為已有，用傳好事云耳。</p>
<p>戊巳圓：治丈夫、婦人稟賦怯弱，飲食無味，氣血衰敗，肌肉不生，項背拘緊，腰腳無力，胸膈膨脹，多睡少寤，終日昏朦，夜多異夢，及積年脾蟲，時下噁心，噫酸吐水，小兒吐乳，大人翻胃，並皆治之。此藥能護脾開胃，進飲食，長肌肉，生氣血，化精益髓，全胃氣，丹田不竭，腎經不虛，是此藥功也。
茴香三兩，揀淨　甘草一兩，炙　浮椒五兩，乃胡椒也，揀淨　人參一兩　白朮二兩　朱砂半兩　白茯苓三兩　香附子半兩
右為細末，生薑汁打麵糊為圓，如梧桐子大，每服二十圓，空心白湯送下眼。</p>
<p>又方：石菖蒲二兩　白茯苓三兩　白朮二兩　茴香一兩半　青皮一兩　枳殼一兩，麩炒，去穰
右為末，每服二大錢，棗湯調，空心服。</p>
<p>又方：枳殼二兩　木香一兩半　丁香半兩　青皮一兩半，去白　牡蠣二兩半　甘草　白茯苓一兩
右為細末，米飲送下三錢，不計時候。</p>
<p>又方：治大人、婦人、小兒唇青面黃，肚裏冷痰牽引小腹，以至翻胃換食嘔吐，口苦舌乾，少寐多寤`腳手不掣，遠年日近一切脾胃冷病悉能除愈。有一婦人年四十餘，患十年翻胃，面目黃黑，曆三十餘人醫不取效，脾腧諸穴燒灸交遍，其疾愈甚。服此藥不五七日間，頓然無事緊忍，服至一月日遂去其根。自是服之不三五服，些少脾疾立便痊平。能全胃氣、生肌肉、進飲食，順榮衛，常服大有補益，悉試悉驗，幸毋忽焉。
人參一兩　茯苓二兩　附子七錢重，炮　去皮臍一兩　牡蠣一兩，煅　粉草半兩　草耆一兩，鹽炙
右為末，每眼三大錢，鹽湯點服。忌生冷、油麵、黏膩等毒物，無不效者，甚妙。</p>
<p>又方：浮椒二兩　茴香二兩　粉草一兩
右三味每為末，服二錢，熱湯點服。忌毒如前。</p>
<p>化痛圓：治丈夫、婦人、小兒年深日近沉積症塊。面色黃青，時上搶心，吐水吞酸，舌生白沫。婦人積年月經不調，漸成血氣或蠱塊，中焦之間復如杯碗，連年累月，漸至瘦瘠，寒熱往來；一切脾胃受寒久不痊癒之疾，並皆治之。
巴豆五西，去油膜　蓬莪朮三兩，醋煮　三棱三兩，醋煮　丁香皮二兩　木香一兩半　厚朴三兩　石菖蒲二兩　良薑一兩　虻蟲一兩半　川牛膝一兩　香附子四兩　石蓮二兩
右為細末，稀麵糊為圓，如小綠豆大。積年症瘕成塊，第一服用熱水下二十圓，自後每日三圓五圓，更量虛實加減與之，五日去盡積塊。日近脾胃有積者，每服五圓飯飲吞下，一服取效。婦人血氣成塊及血瘕，每眼二十圓，蘇木用酒、童子小便各一半煎五七沸，令溫，空心吞下。自後每日用溫酒下三圓，其血塊逐旋消，從大小二便去盡，自知。小兒蛔蟲腹痛不能忍，日夜叫喚，百藥不救者，橘皮湯下七圓，立效。諸蟲皆下，常服白湯或薑湯下三五圓。中酒及酒積大便鮓臭者，白湯舊酒各半，吞下七圓，立效如神。一切噫塞，心下硬痛，皆用棗湯下五圓，不拘時候。</p>
<p>衛真湯：治大人、婦人元氣衰憊，榮衛怯弱，真陽不固，三焦不和，上盛下虛，夜夢鬼交，覺來盜汗，面無精光，唇口乾燥，耳內蟬鳴，腰背倦痛，心氣虛乏，精神不寧，驚悸健忘，飲食無味，日漸瘦悴。外腎濕癢，夜多小便，腰重冷疼牽引小腹，足膝緩弱，行步艱難，婦人血海久冷經候不調，或遇期不至，或一月兩來，赤白帶下，漏分五色，子宮感寒，久不成孕，並皆治之。此藥大能生氣血，遇夜半子時腎水旺極之際償腎收攝，男子攝血化精，實丹田填五臟，諸病未萌之前皆能制治，使不復為梗。是藥也，每賑多寡具列在前。
川當歸三兩　人參一兩半　金釵石斛五兩　茯苓　木香　肉豆蔻　山藥各三兩　生地黃二兩半　熟地黃三兩　丁香一兩　青皮一兩　川牛膝二兩，童子小便。酒各半，浸一宿
右為細末，每服三大錢，溫酒調下，鹽湯亦得。空心食後一服。婦人諸疾，用童子小便同溫舊酒調，空心下。</p>
<p>丙丁圓：生血養氣，升降水火，化精補腎。
附子一個九錢重者，炮川烏一個七錢重者，炮當歸二兩　赤芍藥五兩　沉香五網
右為細末，浸當歸酒，煮稀糊為圓，如梧桐子大，朱砂為衣。每二十圓，漸加三十圓。食前空心鹽湯酒下，婦人淡醋湯下。</p>
<p>又方：治男子、婦人一切虛冷之疾，活血駐顏，減小便，除盜汗，治婦人久不生產，似滯疾而非，其時有遺瀝，並皆治之。功驗不可具述。
蒼朮　吳茱萸　破故紙　葫蘆巴已上各一兩　川薑　草烏已上各半兩，並炮山藥二兩
右各炮治，同為末，臘糊圓，如梧桐子大，每服十五圓，空心溫酒鹽湯任下。婦人艾醋湯下，日二服。丈夫四十歲巳上者，可常服，耳目永不昏聾，髭發不白。</p>
<p>又方：回陽小浴法
川烏　沉香　紫稍花　蒺藜　蛇床子酒浸一兩　兔絲子各等分
右為末，冷熱水如圓，如彈子大，每服一圓，湯三大碗，椒二合，蔥二握，用闊口瓶同煎二碗，去卻蔥根椒，安身於瓶口上薰，如入得手則浴之，冷便止。女人帶下赤白者，依此薰之。留取藥，得三次溫過薰洗，妙。</p>
<p>又方：治後生、大人、婦人房事不節，漸至虛損，行步如踏空，夜夢從高墜下，及夢大小諸般水等，並皆治之，常服永無虛病，雖二十歲亦可服。
人參　白茯苓　川牛膝酒浸一兩　地骨皮真者　川當歸　熟地黃各等分
右為末，煉蜜為圓，如梧桐子大。每服三十圓，溫酒或鹽湯空心下，常服只二十圓，用三五匙乾飯壓下；服三五日後，每日飽飯後及臨臥時服。局中雞蘇圓五十粒不嚼破熟水吞下，次又服前藥，百病皆去，雖百歲鬚髮不白。此藥餘日二十，歲服之不歇，甚妙。</p>
<p>又方：治後生丈夫酒色過多，下元虛憊，膝軟乏，小便滑數，外腎濕癢。
菟絲子五兩　石蓮肉二兩　白茯苓一兩　山藥二兩　茴香二兩　五味子五兩
右為末，稀糊為圓，如豆大，每服四十圓，溫酒或鹽湯空心下。如腳氣及腳膝無力者，木瓜酒空心五十圓晚餐前再服，立效。</p>
<p>又方：補虛損，老少皆可服，一切虛證並皆用之。
人參　桂　茯苓　黃耆　熟乾地黃　川芎　甘草　川當歸各等分
右各依法事治為末。每服二大錢，水一盞，生薑三片，棗子二枚，同煎至七分，空心服。</p>
<p>又方：治勞嗽及虛證及鼻流清涕，耳作蟬鳴，眼見黑花，一切虛症，丈夫、婦人皆可服，少年服亦不妨。
北五味子二兩　鱉甲三兩　厚物地骨皮三兩
右為末，煉蜜圓，如梧桐子大。空心食前溫酒或鹽湯任意服三十五十圓。婦人醋湯下。</p>
<p>此方乃曲江人家秘方，余服之大有功效。處方有理者，人皆欽羨。妙甚！妙甚！</p>
<p>又方：補虛損，治勞倦，一切虛極欲垂死者。
甘草三兩　蒼朮一斤，米泔浸一宿，切作片於用韭白一斤細切，同令盦過一宿　川椒四兩　草烏半斤，水浸一宿切作片子同鹽四兩，令貪一宿，次日炒乾
右共為末，用好舊糟六斤，同搗三五十杵，令勻為圓，如梧桐子大。每服二十三十圓，空心溫酒鹽湯任下，婦人淡醋湯下。</p>
<p>又方：治胸滿氣噫，下部冷，腹療痛。
半夏八兩　生薑六兩　橘皮四兩　桂二兩　吳茱萸五兩，湯泡洗一次
右㕮咀，用水十升，煮取四升，分五服，冷又再溫，空心食前服。余少年時，曾患臍腹療痛，初不疑其虛，遍服諸家藥，無獲效者。餘遂診之，則覺是虛證，合此藥。一劑服未至半劑，頓然痊瘥。</p>
<p>又方：治下部冷極，臍下及小腹痛不可忍者，一服取效。
赤石脂　乾薑各十兩
右二味為末，麵糊為圓，如碗豆大。每服十圓至三十圓，空心飯飲下，日三服。</p>
<p>禦方二仙散：治腎氣
蓬莪朮一兩　茴香二兩　阿魏三錢，真者
右三味為末。每服一錢，溫酒調下。</p>
<p>金鎖正陽丹
砒一兩，火煅　巴豆十兩，去油　烏頭一兩　炮木鱉六個　雄黃半兩
右以上並為末。用黃臘瀝青好者各一兩半，黃丹一兩，朱砂一兩半，細研，溶熱入前項藥末，乘熱圓，如雞頭子大。每服一圓，常服，空心鹽湯下。小腸氣痛，炒茴香、酒冷下，木通煎湯下。滑腸脫肛，乾薑、艾同煎，酒溫下。心氣痛，燒錢淬醋下二圓。氣塊、齧乾，抒子下一圓。婦人紅脈不行，及產後諸疾，當歸酒下。眼多冷淚，鹽椒湯下。</p>
<p>《類證普濟本事方續集》卷一終</p>
<h2>類證普濟本事方續集卷二</h2>
<h3>治諸積熱等疾</h3>
<p>治腳氣，毒遍內外，煩熱不解，口中生瘡，狂走毒厲，及解中諸熱藥毒、邪熱、卒黃等，解蟲毒、鬼魅野道熱毒，又治小兒驚痛熱病。</p>
<p>寒水石　石膏　磁石　滑石
已上四味各三斤，搗末，用水一石煮至四鬥，去滓入後藥。</p>
<p>玄參　羚羊角四兩　升麻五兩　丁香　木香半兩　甘草八兩
已上六味搗為末，入前藥汁中，再煮去一鬥五升，去滓，入下頃二昧。</p>
<p>朴硝三斤　消石好者二斤
已上二味入前藥汁中，微火煎，不住手持柳木篦攪，候有七八升許，投在水盆中。半日久欲凝後，卻入後頃二味。</p>
<p>朱砂三西　麝香一兩　三錢重乳細
已上三味，入前藥汁中，拌調令全勻。
右當寒之二日，每服一錢匕或二錢，冷水調下，大人、小兒仔細加減，食後服。</p>
<p>又方：治大人、小兒五臟積熱，煩躁多渴，唇裂喉閉，目赤鼻衄，頷頰結硬，口舌生瘡，陽明證傷寒發狂，見鬼譫語，大小便秘，一切風壅並皆治之。
川大黃　山梔子仁一兩　朴硝二兩　連翹　薄荷二兩　甘草一兩　干葛　赤芍藥一兩
右為銼散，每二錢水一盞。入竹葉七片，</p>
<p>蜜三匕，同煎至七分，去滓，食後服。法陽明證傷寒，空心下，此藥局方亦載，緣味數與藥不同。予唯一之用，大侄段婦忽患熱病，欲死，付之一服，立效。後來屢眼屢驗，伏幸毋忽。</p>
<p>又方：白朮　荊芥　赤芍藥各三兩　大黃　車前子各二兩　生木通三兩　甘草二兩　川當歸二西
右為細末。大便秘結，米泔調三錢，空心服。上膈壅熱，或生赤丹，或如癰癤，用水二盞煎三大錢服；小便結如淋狀，用蘆根打碎淨洗，煎湯調下。五心煩熱，生薑一片同煎三錢服。此方初來之不得，後費數緡轉托來之，至三方始得之，屢服有效。</p>
<p>東京金宅龍腦圓治胸中鬱熱，肺熱喘嗽，</p>
<p>口臭喉腥，脾疸口甘，丈夫吐血，婦人血崩，並皆治之。
龍腦　薄荷五兩　真蒲黃一兩　麥門冬二兩　阿膠一兩　甘草一兩半　人參一兩　川當歸一兩　黃耆一兩半　木通一兩　生乾地黃　柴胡半兩
右為末，煉蜜，圓如梧桐子大。每服二十圓。病上焦，飯後用熟水吞下，微嚼破更好。病下焦，空心服。小兒加減與之。此藥大有奇效，不可盡述。</p>
<p>又方：治男子、女人、小兒胃中客熱，口臭牙宣，赤眼口瘡。一切瘡疹，已發未發或可服之。
熟地黃　生地黃　天門麥　黃芩　枇杷葉　山茵陳　枳殼　金釵　石斛　甘草已上各三西　犀角三錢</p>
<p>右為末。每服二錢，水一盞煎至七分，去滓，食後臨臥溫眼。小兒一服分作二服，更斟酌與之。此方得某一晶之家，其間用犀角一味，甚有道理，百發百中。子族中有一僕，牙宣口臭，牙齒漸至頹落。予與二服，立愈。服之無不效者。《本事方前集》所未載此數方，緣得之不易。今不欲為之已有，不能廣利一切，謹附此，與眾共之，明醫者必歎賞。</p>
<p>又方：解一切暑毒欲死者，使服之立蘇。
半夏四兩，醋一升半，煮盡，醋焙乾　甘草一兩　桂半兩　赤茯苓二兩　白茯苓一兩
右為末，用生薑汁作麵糊為圓，如○大。
每服五十圓，熱水下。予夏月登途，嘗備此藥於篋笥中，諸緩急及僕價門，每日一服，終無伏暑之疾，奇驗不一。</p>
<h3>治諸風等疾</h3>
<p>治八般頭風
草烏尖　細辛等分　黃丹少許
右為細末，葦管搐入鼻中，立效。</p>
<p>治偏頭風（王荊方云：禁中秘方）
右用好蘿蔔自然汁一蟬殼樣，患人仰臥，右疼注左，左疼注右，或兩邊皆疼皆注之。雖十年患者亦效。王荊公患十二年，用之立效。後醫數人，皆愈。</p>
<p>治頭痛及腦風神砂圓
鹽硫黃各等分
右為末，水調生麵為圓，如梧桐子大。每服十五圓，用薄荷茶食前下。荊芥酒亦得。</p>
<p>又方：定頭疼
楊梅青　硝石　地龍各等分（道按：楊梅青即空青無水者）
右為細末，搐鼻立效。上件四方得自至人，累試有驗。余鄉間有富室就余傳此方，修合施人。</p>
<p>治偏正頭風，夾腦風，並一切頭風，不問年深日近，克日取效，名透頂散
細辛長白者三莖　瓜蒂七個　丁香三粒　糯米七粒　腦子一豆大　麝香一黑豆大
右先將腦、麝乳缽內研，令極細。卻將前四味碾內，事治為末，入乳缽內，蕩起腦麝令勻。用瓦罐子盛之，堅閉瓶口。患人隨左右搐之一大豆許量，久出冷涎一升許，即安。</p>
<p>清頭風，去風邪，順真氣
羌活僵蠶各一兩　白蒺藜去尖炙一兩　甘菊一兩　白附子一兩　朱砂一兩　麝香一兩
右為細末，每服一錢，薄荷茶酒任意調下。</p>
<p>治丈夫、婦人風虛頭疼，氣虛頭疼，婦人胎前產後傷風頭疼，一切頭疼並皆治之。
茵陳五兩　麻黃　石膏煅留性各二兩
右為末，每服一錢，腦茶下，食後服。服畢仰臥。</p>
<p>治風屑極燥無時此乃氣虛風侵，邪於皮表而生焉，須此藥治之甚妙。
藜蘆根
右一味，不拘多少，為末。先洗頭，須避風，最好候未至十分乾時，用藥摻定。須用藥末入發至皮，方得緊縛之兩日夜，次日全無，亦不燥癢。如尚有些少，可再用一次，立效。</p>
<p>又方：香白芷、零陵香各等分
右為末，如前法用之。候三五日後篦去，再付三二次，終世不生。</p>
<p>治頭風荊芥散（王大醫方）
荊芥　石膏各等分，煅
右為細末，每服二錢，薑三片，蔥白三寸和須，使水一盞，同煎至七分，食後服。</p>
<p>治偏頭風方
豬牙　皂角去皮筋　香白芷　白附子各等分
右為末，每服一錢，臘茶下。右疼右側臥，左疼左側臥，兩邊皆疼仰臥，食後服。</p>
<p>治急中風，口閉涎上欲垂死者。一服即瘥
江子二粒，去皮膜　白礬一塊，如大拇指大，末之（按：江子即巴豆）
右二味，於新瓦上煅，令江子焦赤為度。為末，煉蜜丸如雞頭大，每服一圓，用綿裹於患人口中，近喉，如良久吐痰，立效。</p>
<p>治頭風，頭暈目旋，太陽穴痛，不思飲食。
藿香　茯苓　香附子各一兩
右為末，每服二錢，茶清調下，日三服。</p>
<p>清頭目，避風嵐氣
蒼朮四兩　荊芥　甘草各一兩
右三味為細末，每服一大錢，沸湯點，早晨服。凡入煙瘴之地，宜修合隨行。余昔入廣，合合一劑，每日一服，及歸不染瘴。而至僕價門亦嘗與之，無染瘴疾者，又況能清頭目，效驗多端。</p>
<p>治大人小兒驚風退熱取涎牛黃散
朱砂一錢　麝香一字　腦子真者，半兩　水銀一錢　牛黃一字　狗黃椬　雄黃一字　令香半兩（道按：狗黃即狗寶，令香即零陵香。）
右為末，將前四味為末，頓處，後四味末
放一處，臨時和勻，每服一字或半錢，薄荷湯入金銀箔同調下。如用取涎，入江子二粒去油，藥二錢，和勻可服半字，薄荷茶清調下，量大小虛實加減與之。</p>
<p>生津液玉液膏
紫蘇四兩　板桂半兩　甘草　白梅肉各二兩
右，將上三味為末，搗白梅肉為圓，如雞頭大，每服含化三圓。</p>
<p>治一切頭疼
防風　川芎各一兩　附子七錢，重者一個，炮，去皮臍
右為末，每服一字，荊芥薄荷茶調下。</p>
<p>治傷寒頭疼並太陽頭疼及一切頭風
川烏炮　草烏各半兩　麻黃一兩半　川芎　防風　羌活　土龍去土　全蠍十個　雄黃三錢
右為末，每服半錢，食後清茶調下。</p>
<p>又方：
川芎一兩　細辛半兩香　附子　羌活　蒼朮各一兩　薄荷二兩　甘草三錢　白芷二兩　甘菊一兩　荊芥二十文　茵陳五文
右為末，每服二錢，茶清調下。婦人產後傷風頭疼，用當歸末、石膏末同調下。</p>
<p>頭風方
香附子一斤　炒赤烏頭一兩　炒赤甘草二十文
右為末，煉蜜，圓如彈子大，每服一圓，蔥茶嚼下。</p>
<p>治纏喉風
白礬半錢　烏雞子清
右二味調勻，灌入喉內，立效如神。此方活人不記數，幸勿忽。</p>
<p>治中風手腳不遂，此方甚妙
穿山甲二兩　川烏頭二兩　紅海粉一兩
右為末，每服半兩，用生蔥自然汁調成膏，厚作餅子，約徑寸半闊。左患貼左腳，右患貼右腳。貼在足掌心內，用舊絹片緊紮，定於密房中無風處椅子上陲。用湯一盆，將有藥腳浸於湯中，用小心人扶病人。若汗出，即急去了藥。出汗遍身，麻木即輕減，漸至無事，此妙不可言。</p>
<p>治大風神效追命散
川大黃　皂角刺各半斤　川鬱金五兩
右三味為細末，每服三大錢，用真大楓油入無灰酒，溫，調藥末，臨睡時服。臟腑轉時只就地上取下蟲。如疾多年其蟲色黑，日近者其蟲色赤。隔三兩日再服，直候無蟲，方是病瘥。即止其藥，只服平常風藥及諸補藥，此藥大有奇效，下藥切不可許病人知，恐蟲藏匿則病難愈。六十日內，用清齋，戒房色，歇卻一切俗念，亦不可嗔怒，常淨口念阿彌陀佛及救苦難觀世音菩薩，遍數百萬聲最好。緣此疾乃業障果報，若用藥醫得病可之，後恐促其壽，故用念佛懺悔。伏幸聽信斯言，至祝。</p>
<p>治風解毒雄黃救命散
雄黃二錢重　川鬱金二錢重　巴豆四十粒，去油
右為細末，用醋糊為圓，如綠豆大。每服三圓至五圓，茶清冷下。治病於後：治纏喉風，走馬風，喉閉，卒中僕地失音以至牙關緊急，不知人事，每服七圓，熱灌茶下。甚者不過二服，吐涎立蘇。有至死者，但心頭暖，用鐵物抑開口，之藥咽喉，無不活者。或吐或瀉，些少不妨。或上膈壅腫，並宜服之。小兒驚風，量太少加減與之。</p>
<p>治一切風中及左癱右瘓口眼喎邪一切風疾
皂角三莖，刮去黑皮並於。一莖酒浸，一莖燒留性，一莖炙　薄荷三兩　黑牽牛三兩　何首烏十二兩
右先將皂角為末，入水得其中，熬成膏，卻入後三味，搗一二千杵為圓，如梧桐子大。每服二十圓，茶酒任下。</p>
<p>《類證普濟本事方續集》卷二終</p>
<h2>類證普濟本事方續集卷三</h2>
<h3>治諸氣冷等疾</h3>
<p>治一切氣疾，丈夫婦人撞心冷風並治之
香附於一斤，炒　陳皮四兩　甘草一兩
右為末，每服二錢，空心鹽湯點服。</p>
<p>治婦人血氣刺痛、大小腹痛並血脈不調，走疰疼痛並治之
川當歸　白芍藥各二兩　香附子半斤　山慈姑三兩　熟地黃二兩　甘草一兩
右歎咀，每服三錢，水一盞，烏梅一個，荊芥少許，同煎至七分，溫空心服。如腹中冷痛不止者，加阿膠二片同煎，立效。</p>
<p>治婦人室女血氣刺痛不可忍、夜叫喚、可憐者一服見效
雲臺子　肉桂　良薑　沒藥各等分
右乾焙為末，每服二錢，乳香酒調下，熱服，不拘時候。</p>
<p>和氣散：治丈夫、婦人一切氣疾他不瘳者
甘草炙半兩　白芨一兩　地骨皮一兩　藿香半兩　山蜈蚣一兩　白芷一兩　紅內消半兩　木香半兩　山慈姑一兩（紅內消即何首烏）
右焙為末，每服二大錢，空心鹽湯點服。餘鄉曲有一老醫數世習醫，凡婦人氣疾唯憑此藥，百發百中。家有十口，只以此藥養家。</p>
<p>治小腸氣痛不可忍者
烏藥搗研，好舊酒浸一宿　高良薑　茴香舶上者，三味各一兩　青皮二兩
有為末，每服二錢，遇發時熱酒調下。</p>
<p>又方：
杏仁一兩蔥白和棖搗焙乾，半兩　舶上茴香一兩
右為末，每服三大錢，空心溫胡桃酒調下。</p>
<p>治膀胱氣
青礬一兩　白礬一兩
右用小瓦罐子一隻入藥於罐內。用麻皮縛緊，鹽泥如法堅牢固濟，炭五斤煅令通紅，盡炭為度。取出入地穴內，去火毒二宿。為末，酷糊為圓，如綠豆大。每服十圓，空心鹽湯下，或白湯亦好。</p>
<p>治疝氣
官桂半兩　蛇床子一西半　柴胡細串　白芷各二兩
右㕮咀，每服五大錢，水二升，蔥白和須二莖，椒五十粒，同煎至七分。於瓶口上薰合，微汗出，再暖通手，洗。婦人帶下赤白，薰之亦效（婦人用可加紫蘇一握）。</p>
<p>又方：
大蒜三個　韭菜一握　鮮菜一握（道按：鮮菜即生萊用菘葉）
右用大砂瓶內煎令百沸，乘熱薰之，候入得手則洗之，如冷則再暖，日三次，立效。</p>
<p>治痰氣立效散
川芎　川楝子　青皮　舶上茴香　桃仁　黑牽牛已上各一兩，焙
右焙乾為細末，每服二錢，無灰酒一盞，煎至八分盞，溫服。</p>
<p>灸法：治腎氣外腎腫，小腸氣痛，腹內虛鳴
灸風市穴五七壯，灸氣海穴七壯，灸臍左右，各去一寸半，兩穴各七壯。
右，予曾患此疾，灸之立效，後來不發，甚妙。</p>
<p>治液氣
夜明砂不拘多少，為末
右用豉汁調塗，立效。</p>
<p>又方：銅青米醋調成膏。
右，先淨洗腋下，用輕粉摻過，卻使上件膏塗之，立效。</p>
<p>又方：
膩粉　明礬　紅丹各等分
右為末，臨睡時抹之佳。可使半月日去根。</p>
<p>治小腸寒方
枳殼一兩　舶上茴香一兩
右為末，每服三錢，臨發時空心熱酒調下。</p>
<p>又方：
木香一兩　天南星半兩　良薑半兩，與夭南同用麩炒，令赤色
右為末，每服二錢，水無灰酒一盞，煎三兩沸，空心服。此二方曾醫生專修合，貨賣供五口。</p>
<p>治小腸氣痛撞腹面青唇黑欲死者
木香　茵陳　芫花　甘遂各等分
右件為末，每服二錢，水一盞煎至七分，去滓溫服。服此藥後，應犯甘草藥皆不得噥，恐與甘遂相反故也，其藥甚妙。緣處方者有理，屢有效驗。</p>
<p>又方：
川楝子　茴香　川烏炮　破故紙各等分，各炒，令黃色
右焙乾為末，酒糊為圓，如梧桐子大。每服二十圓，鹽湯溫酒任下。忌生冷、動氣、一切毒物。</p>
<p>治遠年小腸氣眾醫不瘩者
硫黃　舶上茴香炒令黃，不可犯鋼鐵器，各等分
右為末，每服五錢，用熱酒調，空心溫服，永除根本。</p>
<p>治膀胱氣金蓮散
巴豆一百粒　川楝子二十四個，湯浸去薄皮，切作片子
右二味用麩二升同炒，令黃赤。去麩與巴豆不用，只將川楝子一味為末。每服三錢，溫酒調，空心下。余閱古今一切名方，無如此方奇特效。</p>
<h3>治諸腰痛等患</h3>
<p>治腰痛疼用轉下膿水：
黑牽牛　白朮各一分　桑白皮一兩　木通半兩
右為細末，每服三錢，茶清調下，四更時服，轉了粥補。</p>
<p>又方：治久患腰痛
石甜瓜一兩　附子炮了，半兩　冬瓜皮半西　檳榔　木香　烏藥各半兩
右為細末，每服一大錢，溫酒調下，臨睡服。此日只午後申時先吃了晚飯，申時當後不得吃食，專候臨臥時服藥。</p>
<p>治腰腳筋骨疼軟無力酒浸牛膝圓
牛膝三兩，炙黃　川椒半兩　附子一個，十錢重者，炮去皮臍
左歎咀，用生絹作袋子，袋盛，縫結其袋口。用無灰酒一鬥，春秋浸十四日，夏浸七日，冬浸十日。每日空心飲一大盞，候飲盡酒後，出藥為末，醋糊為丸。每服二十丸，空心溫酒鹽任下，忌動風等物。</p>
<p>治五般腰疼
巴豆五個，每個用濕紙裹煨令熟，去殼取肉，去油，只使半出油半微去油五靈月旨半兩，炮黑牽牛瓦上炒白牽牛同，各三錢重狗脊半丙萆蘚三錢重沒藥三十文胡桃兩個，取肉研為膏
右件為末，將前胡桃膏入醋糊為圓，如梧桐子大。每服十五圓。風腰痛，豆淋無灰酒下。氣腰疼，煨蔥白酒下。敗精腰痛，茴香酒下。失血腰疼，當歸酒下。打撲腰疼，蘇木酒下。</p>
<p>又方：治五種腰疼
狗脊　萆薢　菟絲子各二兩，酒浸，焙乾，別研
右為細末，煉蜜如此○大。每服三十圓，用萆薢二兩，浸酒三日，取酒服藥，空心食前服。</p>
<p>又方：治遍身皆痛，如勞證者。傷寒身體疼者，不可服。但少年虛損冷憊、老人諸疾，並皆治之。
黃耆　人參　甘草　附子炮　羌活　木香　知母　芍藥　川芎　前胡　枳殼　桔梗　白朮　當歸　茯苓　半夏各半兩　柴胡　鱉甲各一兩　桂心　酸棗仁各一分　杏仁半兩
右為末。每服一二錢，水二盞薑三片，棗子三枚，烏梅三個，蔥白三寸，同煎至七分，空心溫服。</p>
<p>異功散：治婦人血冷氣痛，心胸煩悶，不思飲食，四肢無力，頭目昏疼，寒熱往來，狀似勞倦，並皆治之。
牡丹　芍藥　白芷　乾薑已上各三錢　當歸　陳皮　官桂　烏藥　玄胡索　川芎　苦梗已上各半西
右為末，每服二錢，生薑三片，酒水各半盞，煎至七分，溫服。初生時宜服此藥，每日三服，七日後漸減服數，至十日滿，永無疾病。服後些少腹痛不妨事，勿嘈（口替）。</p>
<h3>治諸脾胃等疾</h3>
<p>開胃進食丁香湯
藿香半兩　巴豆二十粒　丁香四十九粒　粟米一合
右先將粟米、巴豆肉同炒，令赤色，去巴豆不用。只使粟米與丁香，藿香同研為末。每服二錢，米飲調下。</p>
<p>大黃湯：治冷涎翻胃，其候欲發時，先流冷涎，次則吐食。此乃勞證，治之不早，死在旦夕。
大黃一兩　生薑自然汁半茶盞炙大黃令
又淬薑汁中，如此淬盡，切焙為末。
右每服二錢，陳米一撮，蔥白二莖，水一大盞，煎至七分。先食蔥白，次服其藥，不十日去根。</p>
<p>又方：治翻胃吐食
白礬二兩　黃丹一兩
右二味為末，入瓦罐子內，煅令如蒸餅虛空，取出，以淨紙承頓地上盆蓋，一出火毒，再為末。用藥餅為圓，如綠豆大。每服三五圓至七圓，空心溫酒下。更量老少虛實與之。</p>
<p>又方：治宿食不化，嘔吐酸水，胸膈痞悶，冷氣腹痛，肺寒咳嗽，並皆治之。
陳皮四兩　生薑一兩半　甘草一兩，炙
右㕮咀，炒令黃赤色，焙乾，研為末。每服二大錢，鹽湯點服。</p>
<p>又方：
烏梅二個　縮砂三粒　胡椒二十四粒　丁香十四粒　巴豆四粒
右為細末，研飯為圓，如此○大。每服七圓，橘皮湯下。</p>
<p>治脾疼不問新久
高良薑　紅芍藥各等分
右為末。每服三錢，水一盞，煎五七沸，食後服。</p>
<p>治丈夫、婦人。老少遠年日近翻胃吐食方
五靈脂
右一味不拘多少，為細末。用黃犬膽汁為圓，如龍眼大。每服一圓，好酒半盞頓湯，瓶頭溫磨開服不止，再服，不過三服即效。</p>
<p>又方：治胸膈不快，酒食所傷，漸成翻胃，令乾嘔。
丁香　巴豆　烏梅各二十個好完合者
右三味皆不去油殼並核，搗三五千杵成膏。入早米飲一兩，同搗又二千杵，令極勻細，眾手圓如○大，慢火焙乾，淨紙承頓地上，出火毒。每服五圓或七圓，茶酒熟水任下。如嘔吐酸水、心腹氣痛膨脹者，橘皮甘草湯下。</p>
<p>治傷積有滯食，嘔酸餇氣，心腹氣膨，小腹不仁，或時溏泄
高良薑　陳皮　莪朮　烏梅　生薑　甘草　乾薑已上各等分
有用好紅椒二十粒，去子，同研為細末。每服二錢，水一盞，薑三片，煎至七分溫服。</p>
<p>治丈夫婦人心氣刺痛不可忍者
頭髮燒灰存性，為末　丁香七粒
右為末。酒一盞，煎十數沸，溫服立效。</p>
<p>治噁心翻胃
厚朴　薑汁浸，炙　蒼朮　橘皮　甘草各三兩
右為細末，每服一大錢，空心鹽湯點服。</p>
<p>東京王先生傳脾疼藥方
江子半兩，新瓦器中炒令黃色　杏仁半兩，同　牽牛半兩，同　橘皮一兩，同
右件並為末，用醋糊為圓，如○此大。每服十圓，薑湯下。婦人血氣，醋湯下；產後氣痛，艾湯下五圓。丈夫酒食所傷，隨物下。小兒驚熱，飯湯下；疳積，飯飲下；蛔蟲腹痛，史君子七枚為末，湯下。</p>
<p>治脾疼不可忍及療冷氣疼
陳茱萸二兩　浮椒一兩　蚌粉一兩，炒赤色
右件為末，散糊為圓，如梧桐子大。每服五圓，用浸酒鹽湯任下。遇發時服。甚者不過二三服，立有功效。</p>
<p>治脾積氣痛，婦人諸般氣痛
香附子五兩　莪朮　甘草各二兩
右事治令淨，研為細末。每服二錢，入鹽少許，百沸點，空心熱服。</p>
<p>又方：
良薑四兩　甘草一兩　桂花半兩
右為末，每服一大錢，入鹽湯點服。</p>
<p>治脾疼神效方
荔枝核
右一味不拘多少為末。每服二錢，熱醋湯調下。</p>
<p>官方七香圓
丁香　檀香　丁香皮　木香　陳皮　甘松　三棱　莪朮　縮砂　白豆蔻已上各半兩　香附子四兩
右為末。用曲餅湯泡和藥為圓，如綠豆大。每服二十圓，細嚼生薑湯下。</p>
<p>治中酒不醒兼有酒食傷
巴豆一粒　烏梅二個　丁香三粒　胡椒五粒
右同搗為細末，入飯同杵二三乾下，為圓如○大。每服五圓七圓，細嚼丁香湯下。小兒一圓與服。</p>
<p>《類證普濟本事方續集》卷三終</p>
<h2>類證普濟本事方續集卷四</h2>
<h3>治諸口舌牙齒等患</h3>
<p>治上膈熱極口舌生瘡
膩粉一分匕　杏仁七粒不去皮類
右二味臨睡時細嚼，令涎出則吐之，用溫湯漱口，未全可久合用。</p>
<p>又方：
膽礬□□
右用百沸湯泡開，含漱一夕，可瘥八分。</p>
<p>又方：
五倍子不拘多少
右為末，糝在口瘡上，後用茶清灌漱，立止。</p>
<p>治口舌生瘡
甘草五文　白礬十文
右為末，含化。咽喉痛亦治之。</p>
<p>治滿口生瘡，此因虛壅上攻，口舌生瘡
草烏一個　南星一個　生薑一塊
右焙乾為末。每服二錢，臨睡時用醋凋，掩子貼手心、腳心來日便效。</p>
<p>治口鼻生瘡
右好生薑一塊，臨睡時細嚼含睡，不得開口生氣。眠著不妨睡覺，治一切牙疼。</p>
<p>川升麻　當歸　川鬱金　細辛各等分</p>
<p>蓽撥　白芷　荊芥已上比前藥三分之二，各等分
右七味為細末，用瓦合子貯之，緊閉合口。每用少許揩在患牙痛處，溫荊芥湯灌漱立效，甚者只二次。</p>
<p>取牙痛令落不犯手腳
草烏十五文　畢撥同　川椒三十文　細辛同
右為細末。每用少許揩在患牙裏外，不過三五次，揩其牙自落。</p>
<p>又方：定牙痛
右用三腳牙不拘多少，鹽泥固濟，火煅通紅，出火毒，次碾為末。每月些少頓蛀牙孔內，立效。臨用藥時，入乳香少許，令勻同用。若先將乳香交和之後，恐過，即（即當作卻）藥性其效較緩，是故臨用和勻。</p>
<p>治牙疼
雄黃　沒藥等分　乳香少許
右為末。若左邊牙疼，用藥搐左鼻孔，次將藥吹入左耳；右邊牙疼，則搐右鼻孔及吹入右耳，無不效驗。</p>
<p>治牙齒動搖（搖下有髭宇）須黃赤，一服
髭烏牙牢妙
生薑半斤　生地黃一斤，各洗令淨，研取自然汁，滓留取
右不蛀皂角十莖，括去黑皮並節。將前藥汁蘸皂角，漫火炙令黃，用藥汁盡為度。並前藥滓同入瓷罐內，用火煅留性為末，牙齒動搖，用藥揩牙齦上髭黃，用鐵器盛藥末，用三錢湯調。過二日將藥汁蘸須。臨睡時用，次早巳黑，三夜三次用之，其黑如漆。妙甚！妙甚！此方乃得自閻知府宅，貴宦常用，屢有效驗。</p>
<p>治牙疼
鶴虱　細辛　白芷　甘茄各等分（道按：甘茄即尋常茄子也）
右件為末。每用少許揩痛處。如有蛀孔，用飯圓藥末塞入孔中，立效。</p>
<p>取蛀牙本分法
硇砂三錢匕　朱砂一錢　硼砂成塊，一錢匕　附子尖十四個　信砒二錢匕，色黃白，有光星者
已上各末川烏尖七個蟾酴七個，已上同為末</p>
<p>右和勻，五月五日合者佳。點藥於牙根上，良久用手指揩下，次用後傅藥。
防風五文　荊芥同　乳香十五文
右為末。揩牙落處並用些子塞牙落孔子。</p>
<p>此三方余見一道人貨藥取牙，一日常貨三兩貫錢。餘厚賂之，始傳得妙。</p>
<p>治蛀牙疼
右川烏大者一個，舊糟內藏著。候一月日透內後，出，切焙乾，入細辛，同為末，揩痛處效。</p>
<p>又方：
川烏　草烏各一個　白附子半兩　附子臍三七個　朱砂少許，別研
右為末，和勻。每服二錢，酒水各半盞，同煎至七分，候冷服。臨臥時不得再吃熱物。</p>
<p>治一切牙疼風齲，熱釀常出鮮血，漸至崩落，口臭不可近人者，並皆治之：
大黃米泔浸　生地黃
右二味旋切，各用一片二片合定，貼所患牙上，一夜即愈。未全可，則再如前法再用。如說話，恐引風要津液清痛處。</p>
<p>治牙痛
川烏　阿魏　朱砂各等分
右將阿魏醋浸，入蒸餅，搜作團子，切片焙乾。同三味為末，付牙齦上，不可漱口。良久或咽下去亦不妨，藥清盡，又使。其效如神。</p>
<p>治牙疼
土駒一個（道按：土駒當作土狗，考《本草》螻蛞一名土駒。）
右一味，用舊糟裹定。次將紙裹，浸火內，令焦，去糟。只將土駒為末，付牙疼處，立效。</p>
<p>治牙崩
信砒　紅丹
右先將砒霜頓在鐵香匙上，卻以紅丹蓋定。文武火上煅，令煙盡為度，研為細末。先用枳殼荊芥湯灌漱，吐去，將前藥末揩牙上，不可吞。直候涎多吐下。又須用前湯灌漱，立效。</p>
<h3>治諸眼目等患</h3>
<p>治諸眼患，因熱病後，毒氣攻眼，生翳膜遮障，服此藥後遂旋消退，不犯針刀。
青葙子　防風　枳殼巳上各一兩　茺蔚子　細辛各半兩　枸杞　澤瀉　生乾地黃　石決明各一兩半　黃連半兩　川當歸二蔭　車前子　麥門冬二兩
右各如法修事，焙乾為末，煉蜜，圓如梧桐子大。每服三十圓，飯飲吞下。忌一切毒物。</p>
<p>又方：治因五臟熱毒壅盛，氣攻兩眼，赤腫疼痛，或生翳膜，怕日羞明，迎風滴淚，並皆治之。
黃芩　大黃　石膏　羌活各一兩　蛇退一條
右為銼散。每服半兩，朴硝少許，通草二寸，水一大碗，同煎至六分，臨睡溫服。瀉一兩行不妨，次將溫粥補。自後每服只三錢重，不用朴硝水煎服。忌熱物及不得啼哭使怒。</p>
<p>又方：
防風　白蒺藜各一兩　羌活一兩半　甘菊三兩
右為細末，每服二錢，鹽少許，百沸湯點，食後服。</p>
<p>又方：治腎經虛冷，水候不升，不能上蔭肝木，致令眼目昏暗，或赤腫痛癢，須用此藥方能治。
川芎　荊芥　天麻　川烏　烏藥　羌活　黑牽牛　川當歸　金釵　石斛已上各等分
右為細末，煉蜜圓，如豆大，朱砂為衣。每服一圓，薄荷茶嚼下。</p>
<p>治丈夫、婦人、室女、小兒諸般赤眼、針頭圓
川烏尖七個懷乾　白僵蠶七個　鵬砂十文
右為末，用豬膽取汁調藥，不令稀用。成軟塊攤在碗內，荊芥、艾各一兩，皂角一莖，燒煙將藥碗高覆熏之。常將藥膏攪轉，又攤又薰，皂角荊芥艾盡為度。再搜成塊，油單裹定，入地中出火毒。冬天兩日，夏天一日夜，春秋一夜，取出圓如針頭大。每服一圓，入眼中妙。</p>
<p>治眼疾穿針散
木賊半兩，去黑，不要塵者　香附子　細辛　菊花　羌活各半兩
右為細末。每服二錢，用好茶少許同點，食後服。</p>
<p>治清盲雀眼法
右令患人至黃昏時，尋雀兒宿處，驚令飛起，即念咒。咒曰：「紫公紫公，我還汝盲，汝還我明。」如此三日，自可。此法雖傳得後不曾試，尚恐有妄。</p>
<p>治眼生翳膜及內外障
烏賊魚骨一名海螵蛸生箸腦少許
右二味，碾令極細。銅箸點，熱湯洗銅箸三五次，點立效。</p>
<p>又方：治眼目赤腫或癢或痛，上膈壅熱而成
大黃　苦葶藶各□□
右焙乾為末，煉蜜，圓如龍眼核大。每服一圓至二圓，用山梔子仁湯嚼下，量大小加減與之。</p>
<p>又方：解熱眼
大黃　甘草　當歸　赤芍藥
右為細末。每服二錢，湯調下，食後服。或以一錢末，湯洗尤妙。</p>
<p>治暑月或行路目昏澀多眵黏者
生龜（龜當作龍）腦　薄荷五七葉，手揉爛
右用生絹烈汁，滴入眼中妙。</p>
<p>治眼洗肝散此與別方不同錢
大黃　甘草　黃芩　赤芍藥　甘松各三錢　干葛　當歸　熟地黃　山梔子仁各半兩
右為細末。每服二大錢，第二次米泔調。</p>
<p>治風痛眼洗肝散
黃芩　甘草各半兩　菊花　人參各一兩
右為細末。每服一錢，熟水調下。各用忌毒。</p>
<p>治久患壅毒風熱翳膜並內外障眼
真宣連去毛　黃柏　秦皮
右三味等分為末。每服一錢，水一盞，煎五七沸，用夾絹濾去滓，承熱湯洗。候藥冷便住。再暖又洗，滓又並煎洗。</p>
<p>治氣毒赤腫熱痛眼
好真連半兩　生龍腦自然汁半盞
右二味煎取一盞，點洗之。飽食後服一呷。須用人實壯可服，虛薄者不可服。</p>
<p>洗眼明睛散
馬牙硝一西　青礬少許
右二味研勻，用水調文武火煎乾。出火毒一宿。次用蔓荊子、防風二味為極細末，各三錢重，入前二味，同拌勻。每服一字，用百沸湯泡洗。</p>
<p>治風毒眼患
何首烏　荊芥　甘草各等分
右為細末，用砂糖為圓，如彈子大。每服一圓，食後薄荷茶嚼下。</p>
<p>治眼慕幕當作暴赤淚腫疼痛
木賊半兩　細辛半兩　草烏一兩　龍腦半兩
右銼。每服三大錢，水一大盞，黑豆半合，煎至一兩沸。入沙糖一塊如大彈大，煎至八分，去滓。食後溫服。忌毒、煎油麵、鯰醬、熱物及不得嗔怒、房色等事，則使易獲痊安。</p>
<p>治赤腫眼
右以白薑末水調，貼腳掌心。又以土朱蜜調，睡貼眼上。</p>
<p>又方：清眼疼難忍者
川當歸　防風　細辛　薄荷各等分
右為細末。每服二錢，麥門冬熟水調下。食後日午、夜臥各一服。</p>
<p>又方：
白芷　赤芍　防風　細辛各等分
右為末。每服三錢，水一盞，砂糖二錢，同煎七分，去滓。溫服，不拘時候。</p>
<p>治久年眼生黑花不忍者
椒目一兩，炒　蒼朮二兩，炒
右件為末，醋糊為圓，如梧桐子大。每服二十圓，醋茶送下。不過十日取效。</p>
<p>點眼水膏
鵝梨（道按：鵝梨即梨肥大者）一個　鷹爪黃連半兩
右用砂瓶一隻，先入梨，次人黃連末。候初冬第一次下雪時，取雪滿鋪入砂瓶內。油單封口，入地五寸深。候立春日交春時候過了取出，點眼或溫過洗妙。</p>
<p>治眼目諸疾點眼膏子
羊膽一個
右一味入蜜一錢在膽內，線紮定，坩鍋內滿入水煮熟，冷水內浸，取出候乾。頓入角罐內，竹箸點眼四角，立效。</p>
<p>神驗點翳藥照水丹
朱砂半兩　海螵蛸一錢
右二味乳缽內細碾，水飛過，澄取。又用黃蠟少許溶，旋入藥。待要用時，就火旋，圓如蘿蔔子大。臨睡時，用一圓點人眼角，緊合眼睡著。次日用溫湯洗下。未全退者，更用一服，極妙。用此藥後，或更以所吃藥與之尤妙，明醫者自能斟酌，但眼患，比他疾不同。</p>
<p>治男子婦人血灌瞳人及睛疾
生乾地黃　大黃各二兩　朴硝一兩　沒藥半兩
右為細末，每服一錢，熟水調下。</p>
<p>治倒睫爛眩
蜜一兩　虢丹五錢重
右二味漫火熬成膏，入輕粉五文，令熬黑色，逐時泡沫點之。</p>
<p>點冷淚眼二霜膏
南鵬砂一錢　蕤仁十四粒，出油　薑霜末半錢　腦子少許
右乳缽為細末，用糖半兩研勻為膏。銅箸點之，立效。</p>
<p>治諸般眼患菊睛圓
甘菊花　川芎一兩　甘草一兩　天門冬四兩
右為細末，煉蜜為圓，如○大。每服十五圓至十圓，熟水吞下，日三服。餘寓衡陽日，有一婦人患眼十年餘，與此藥十服瘥。</p>
<p>《類證普濟本事方續集》卷四終</p>
<h2>類證普濟本事方續集卷五</h2>
<h3>治諸喘嗽等患</h3>
<p>治遠年日近喘嗽
皂角不蛀者三大莖
右一味刮去黑皮，刀切開去子。每子倉內入巴豆肉一粒，合就麻皮縛定，用生薑自然汁和蜜塗，令周匝漫火炙。又塗又灸，以焦黃為度。擘開去巴豆不用。以好明礬一兩枯過，草麻七個，薑汁和蜜塗炙前三味為末。卻以杏仁二兩去皮尖，研成膏，卻與前藥和勻。每服一錢，用梯（梯當作柿）子乾炙過，候冷點藥，細嚼。臨睡服。忌熱毒、魚齚鮭鯗、油麵酒、米醋、煎煿熟毒等物。</p>
<p>治十六般哮嗽
黃明膠二兩，銼炙　馬兜鈴　甘草炙　半夏薑汁浸三日　杏仁去皮尖，已上各一兩　人參半兩
右為末。每服一大錢，水一盞。隨病有湯使煎至七分，臨睡食後服湯，使於後。心嗽面赤或汗，流加干葛煎服（早吃晚飯）。肝嗽眼中淚出，入烏梅一個，糯米三（三當作十）四粒煎服。脾嗽不思飲食，或一兩時噁心，入生薑三片煎。胃嗽吐逆，吐酸水，入蚌粉煎。膽嗽，令人臨睡用藥半錢，茶清調下。肺嗽上喘氣急，入桑白皮煎。膈嗽咳出痰如圓塊，生薑自然汁調藥咽下。勞嗽，入秦艽末同煎。冷嗽天曉嗽甚，蔥白三寸，同煎。血嗽連頓不住，當歸末棗子同煎。暴嗽涕唾稠，入烏梅、生薑煎。產嗽背甲疼痛，甘草三寸，同煎。氣嗽肚痛張滿，入青皮去白同煎。熱嗽夜甚，蜜一匕，蔥白同煎。哮嗽聲如移鋸，入半夏二個同煎。腎嗽時復三兩聲，入黃耆白飴糖煎。上件十六般嗽疾依法煎服，無不效驗。此方乃都下一家專貨此藥活十余口，餘因中官厚賂錢物，方始傳得，屢試有驗。</p>
<p>治遠年日近哮嗽妙方
砒一錢　麵一錢　海螵蛸一錢
有三味為末，水調作餅子。漫火炙黃，再研令細。每服一字，用井花水調一大呷，空心服。良久吐出為度。小兒加減與之，忌食毒物。</p>
<p>治魚哮
古老錢七個　白梅肉七個
右水一大盞，浸兩宿。每服一茶腳許，空心服，良久吐惡物。</p>
<p>治膈上有痰川芎圓
川芎二兩，細銼，漫火熬熱　川大黃二兩，蒸令極熟
右件焙乾為末，用不蛀皂角五七挺，溫水揉盡，絹濾去滓，瓦器中熬成膏。和前二味為圓，如綠豆大。每服十五圓，生薑湯下，小兒三圓。</p>
<p>補肺法
地黃二斤，生淨洗　生薑四兩　杏仁二兩　蜜四兩
右搗如泥，瓦合盛飯上，蒸五七度。每日五更挑三匙咽下。</p>
<p>治氣喘咳嗽
大黃半兩　葶藶子一兩，淨洗，瓦上炒
右為末，煉蜜，圓如梧桐子大。每服五七圓，用桑白皮湯下。</p>
<p>又方：
草烏五錢重　麻黃三錢重
右為末，每服三大錢，蘿蔔一個同煮，令熟，只吃蘿蔔妙。</p>
<p>又方：
天南星二個大者　蚌粉　甘草等分
右為細末。每服一錢，水一盞，薑三片，煎至七分，臨臥溫服。</p>
<p>治暴嗽
白礬一兩，細研　砒霜一錢
右為細末，砒霜安放茶盞底，卻將礬末鋪蓋，火煅為末。烏梅肉圓，如綠豆大，朱砂為衣。每服二圓，紫蘇湯下。</p>
<p>治久年日近喘嗽
蟬腿一兩，去頭足　五靈脂半兩，生　蚍半兩，生用　雄黃生　杏仁去皮尖，各半兩　輕粉一兩　淡豆四十九粒　馬兜鈴一兩，生
右件除出輕粉，研為末。用生薑、荸薺自然汁合藥圓，如○大。每服一圓，臨臥細嚼，生薑湯送下，忌毒。</p>
<p>定喘
天南星　半夏　青皮（炒令黃）　白礬炒，各等分
右為末，每服一錢，好北棗去核入藥在內，細嚼咽下。</p>
<p>治諸般嗽
甘草十三文　滑石　葛根　桂枝　桂花各十文　瓜蔞一個和皮子使　山藥二兩　蚌粉黑色者　苦參各五文
右為末。每服二錢，薑五片，棗子三枚，水一大盞，入蜜同煎至八分服。</p>
<p>治勞嗽
青黛三錢　辰砂一分　雌黃　雄黃　白礬　信砒各一錢，並生用
右並為末。淡豆鼓一百粒湯浸去殼，研如膏。入前六味，圓如梧桐子大，每服一粒，臨睡，冷茶清下。</p>
<p>化痰涎方
明礬一兩，枯過　白僵蠶半兩，去頭腳絲
右為末。研生薄荷令爛，和圓如綠豆大。每服二十圓，薄荷湯下，日三服，</p>
<p>治嗽
不蛀皂角去黑皮　乾薑　板桂去粗皮各半個
右為末。煉蜜為圓，如梧桐子大，每服十五圓，薑湯臨睡時下。</p>
<p>治諸般嗽疾
天南星　半夏各一兩，各使薑汁漫一宿　豬芽皂角去黑皮並子　杏仁去皮尖，麵炒黃　青黛各半西　焰硝三錢　巴豆二十一粒，去殼生用
右一處為末，薑糊圓，如綠豆大。每服七圓，臨臥薑湯下。</p>
<h3>治諸瘰鬁等患</h3>
<p>治諸瘰鬁
朱砂　砒霜　硇砂　馬牙硝各等分
右乳缽內研細，麵糊搜如香附子狀。相瘡口大小作之，盡送入瘡口。若腫時，用薄荷研細塗之，待收口了，卻將大柏皮並白丁香並為末，盡入孔中。</p>
<p>如邊不乾，卻用：
江子（乃巴豆也），去殼，不拘多少
右用麻油煎令赤，火氣後去巴豆入蠟合如膏，看瘡口大小塗之，及將白芨末水調塗瘡上，立效。</p>
<p>又方：
蜜陀僧十文　青礬五文
右二味為末，乾糝，更用麵糊搜藥作奄貼之。候瘡乾，更上藥三五次。然後用白芨、黃柏皮二味水調作奄貼之，無不效者。</p>
<p>治鼠鬁瘰鬁
刺蝟皮瓦上燥
右一味研為末，入水銀粉，乾傅。</p>
<p>又方：
田螺殼燒灰留性
右一味為末，傅之妙。</p>
<p>又方：
黃荊子（又名蔓荊子）　乳香　甘草各等分
右為末。每服一錢，熱湯調，食後良久服，</p>
<p>又方：
土附子一個洗　鹽三升　小便五升
右三味同浸半月日取出。將附子黑皮陰乾為末，用黑豆爛煮研為膏，圓附子末，如梧桐子大。每服七圓，溫酒早晚下，二服。</p>
<p>治漏鬁
蛇菰子不拘多少（按：蛇菰子未詳，一作蛇床子）
右一味瓦上燥乾為末，用紙撚掿入瘡內，立效。</p>
<h3>治諸鼻耳等患</h3>
<p>取鼻痔
巴豆十二個，去殼　陽起石一錢　石蓮肉三十個
右為末。每用半字許搐入鼻內，又用綿塊子蘸藥塞入鼻中，其痔內化爛出了。</p>
<p>又方：
蠍稍一錢　巴豆五粒，去油　丁香五粒　白丁香七粒
右為細末。用螺青一字和勻，用內消膏藥溶開，入上件藥搜圓，如龍眼核大。用一圓安鼻內。</p>
<p>又方：
苦丁香（乃苽蒂），十四個　赤小豆　丁香各十四個
右漫火焙乾為末。入腦子少許，口內先含水，次將小竹管吹藥入鼻中，半盞茶末多，入盡為度。候頭疼時取下。</p>
<p>消鼻痔方
瓜蒂四錢，炒　甘遂同　白礬半錢，枯過　螺青半錢，炒　草烏尖同，炒
右為末。用真麻油搜令硬得些子不可爛旋圓，如鼻孔大，用藥入鼻內，令達痔肉上，其痔化為水，肉皆爛下。每日一次，妙不可言。</p>
<p>治耳聾
鼠膽二個
右一味滴入耳中，三次便立效。</p>
<p>又方：
海螵蛸
右一味為末。吹入耳中，數日瘥。</p>
<p>治耳出膿水不止，俗呼油耳
白礬燒灰
右一味為末。吹入耳中，三次立效。</p>
<p>治諸蟲及虱等人耳
白膠香
右一味燒煙薰耳中，令知耳孔內暖，蟲自出妙。</p>
<p>治蜒蚰入耳
半夏生
右一味為末，麻油調塗耳門外，蟲聞香自出。</p>
<p>治飛蟲入耳
右用好酸米醋一味，滴入耳內，蟲必出。不出即死。曾有一人被焦蟲入耳，其蟲口硬如鐵，但身軟，用此藥滴之立死而出。</p>
<p>治酒查鼻及婦人鼻上生黑刺者
生硫黃十文　輕粉同　杏仁五文
右為末。用餅藥調，臨臥時塗，早則洗去。</p>
<p>治鼻不聞香臭，多年者亦治
生蔥一味
右將蔥分作三段。早用蔥白，午用蔥管中截，晚換蔥管末梢一截。塞入鼻中，令透裏方得。不二三日用之便聞香。</p>
<p>《類證普濟本事方續集》卷五終</p>
<h2>類證普濟本事方續集卷六</h2>
<h3>治諸癤癰等患</h3>
<p>化毒方：治一切癰疽瘡癤。末成者速散，已成者速潰，敗膿自出，無假手擠，惡肉自去，不犯針刀。服藥後疼痛頓減，此其常用者效也。此方得自於都下異人，時有苦背瘍者七十餘頭，諸藥試遍不獲痊效，眾醫環立如堵，出是方示之，相目而笑曰：是豈癰背所用藥耶固謂之曰：古人用方自有意義，觀其所用藥性乎和，縱未能已疾，必不能壞病，服之何害。乃治此方藥與之，以熟酒一升許下藥五六錢。少頃頓減七分，數服後，瘡大潰，膿血流逆，若有物自內托出。服之半月，瘡口遂合，若未常有所苦者。又有苦腹疾者，其痛異常，醫者莫曉，時意謂此藥大能止痛，試與餌之。當日下濃二三碗許，痛亦逐止。思察之乃腹癰也。又一老人，忽胸間發腫，根腳甚大，毒氣上攻，如一瓢然斜捕頂右不能轉動，遂以此藥與服。明日腫毒既散，餘一小瘤，如粟米大。又明日，占然如故無事。又一人發腦，疑此不能救，遂殞於庸醫手。次年其子復苦此疾，與父無異，病狀一同，因懲父之失，縱飲酒服此藥而至，不覺大醉，竟日滾臥地上，及至酒醒，病已去矣。又一婦人髮乳掀腫疼痛，日夜叫聲不絕，哀苦之音皆不忍聞，自謂無生理。又有一婦人，股間發腫，大如杯碗，服此藥皆脫然如失物。是藥濟苦者不可記數，姑摭一二以示大略。大抵癰疽之作，無非氣血凝滯，風毒壅結，或飲酒食熱物過多，房室虛甚，榮衛不調所致。治之不早，則外壞肌肉，內攻臟腑，去生遠矣。詳味此方，其所用藥皆發散風毒，調理氣血，排膿止痛，生肌長肉等藥，五毒不試而坐收瘍醫十全之功，其可悉述乎（悉述作尚已）。</p>
<p>人參用新羅者、團結重尖滋潤者，洗淨去蘆，薄切焙乾　防風擇新者，淨洗切焙當歸取川中來者澤大今澤作擇，今作個。如馬尾狀，滋潤甜辣者，香芬者，溫水洗，薄切焙乾黃耆川綿者為良狀等（狀下有如字，等箭誤）。乾者，長一二尺，不開者洗淨，寸截，捶碎，擘如絲狀，以鹽湯浸透，微火灸酥，再銼入眾藥中芎勞川中者為上，今多止是撫芎，不用淨，洗淨焙乾厚豐蔔宜用梓州來者，厚而紫，掐乏油色者佳，去鹿（鹿當作粗）皮切，薑汁淹一兩，焙炒白芷桔梗以有心味苦者為真，無心味苦者薺苊，切勿誤用。洗淨去頭，薄切焙乾，入眾藥桂宜用卷薄者，古法帶皮桂每兩止取二錢半，用一兩者當賣四兩，內取一兩好者，不見火甘草生</p>
<p>右十味，選藥貴精者，皆取淨，曬乾極燥方秤。人參、當歸、黃耆各二兩，其他七味各一兩。除桂外，一處為末，入桂令勻。每服三錢，漸加至五六錢，熱酒調。日數服，以多為妙，眼至瘡口合，更服為佳，所以補前損杜後患也。不飲酒者，濃煎木香湯下。然不若酒力之勝也，或飲酒不多能勉強間用者，酒調下，並木香湯解酒，切效，當不減於酒也。</p>
<p>又方：治一切惡核瘰鬁癰疽等病及惡腫。
青木香　沉香　乳香　麝香　升麻　獨活　連翹　桑寄生　木通　夜干（道按：夜干即射干）已上一兩　大黃五兩
右㕮咀乃為銼散也。銼令如麻豆大也，每服四錢，水二盞，煎至一盞。已上去滓，取八分清汁，空心熱服。半日已上未利，再服，以快為度。或下惡物未生肉已前，時服不妨，以析毒熱之氣。或有人使竹瀝、芒硝，恐用藥之人不能斟量，是故不載。知者當自相度用之。</p>
<p>又方：治癰疽發背、丹疹、赤腫惡肉、時行熱毒變作赤雜及眼赤痛生障醫病方
黃芩　白芨　麻黃去節　漏蘆真者　白薇　枳殼麩炒，去穰　升麻　白芍藥　川當歸　川牛膝　甘草各二兩
右為粗末。每服四錢，水一盞半，煎至七分，空心熱服。或利一二行，如未利再服，可加芒硝三錢。未成者散去，已成者立潰癰癤。藥中無如此三方妙絕，餘每用濟人不少。凡有患癰癤發背等疾，服此二三藥獲安之後，宜常服四物湯、交和黃耆建中湯，空心煎服。禦未來，恐疾再作。傳其難又兼費財，不秘者者下有欲天下人安故也七字。</p>
<p>治發背內潰及諸惡毒衝心，嘔吐、疼痛不可忍，三兩服可救一命。應乾瘡毒癰疽等疾每日一服，無不除愈。內托毒氣使出及外，不至內攻乳香散
綠豆四兩　乳香一兩
右二物再同碾極細，每服一錢，新汲水調下。水不宜多，要藥停在胸膈也，甚妙。</p>
<h3>治諸水腫氣疾</h3>
<p>治十腫水病並根源證狀方法：
一蒸水，先從左右肋腫，根在肝，藥是大戟。
二赤水，從舌根起，根在心，葶藶子。
三黃水，從腹腫起，根在脾，甘遂。
四白水，從腳起，根在肺，槁本。
五黑水，從陰（外腎也）腫起，根在腎，連翹。
六玄水，從面腫起，根在外腎，芫花。
七風水，從四肢腫起，根在骨，澤瀉，
八石水，從腎腫起，根在膀胱，桑根白皮。
九蒿水，從滿腹腫起，根在小腸，巴豆。
十氣水，或成或衰，根在腹，赤小豆（道按：成當作盛字）。</p>
<p>右十般腫病，各有根源，種種不同。看十腫病根，除一味用，將九味等分，遂味用。制者依法修治，焙為細末，煉蜜為圓，用赤茯苓湯吞下，不拘時候。其圓如梧桐子大，每日三眼。忌鹽一百二十日。緣鹽能化水故也。然忌魚蚱、麵食、一切毒物，及生冷等物及不得行房事。此病去生甚遠，取死將近。或得良醫醫者，得余此方，慎勿輕賤。雖千金難換，但餘欲天下人安故也。用此方獲瘥之後，更用後來補藥：</p>
<p>補藥方
肉桂去粗皮　青皮去白　乾薑湯洗　莪朮醋煮軟　川芎　肉豆蔻　雞心　檳榔　桔梗各等分，依法製治
右等分，事治為末。每服三錢，百沸湯點服，空心食。前日午食、前晚食前各一服。前項二方治水腫病。余見鄉人有患水疾，半年後得名醫獲瘥。余遂日計來此醫人，多酬黃白之物，遂得此二方。餘試用之，百發百中，獲濟者無數。世間所有水病方藥無此二方之右者。余初出《本事方》前集尚有此，後集二帙，初深秘之，今見前集已盛行於世，此後集今亦略傳一二。仁者使天下皆得，臍盡天年，毋罹枉斃云。治婦人經脈不通，即化黃水，水流四肢，則遍身皆腫，名日血分。其候與水腫相類一等，庸醫不問源流，便作水疾治之，非唯無效又恐喪命。此乃醫殺之也，宜用比方力效。人參川當歸瞿麥穗大黃濕紙裹，二升米上蒸，米熟去紙，焙乾赤芍藥桂去皮白茯苓已上各半兩苦葶藶炒，二分右為細末，煉蜜圓，如梧桐子大。每服十五圓，空心米飲下，漸加二十圓，止於三十圓。每無不效者。</p>
<h3>治諸瀉痢疾（附大便秘）</h3>
<p>治冷熱痢疾（無疾字有等患二宇）。
罌粟殼二兩　白薑三錢重　甘草五錢重　芥葉半兩（白薑即千薑）
右件㕮咀，分作三服。每服入蜜十文，用水一盞，煎至七分，溫服，空心下。</p>
<p>治一切痢
砒霜　黃丹各等分
右同研細，用黃蠟溶和藥末為膏，旋圓如綠豆大，每服三圓，飯飲下。小兒圓如粟米大，飯飲下。忌葷腥。</p>
<p>治赤白痢
赤芍藥　香附子炒，去毛　地榆等分
右三處為末，留心認記。赤痢用赤芍藥末，一錢，香附子末半錢，地榆末例用一錢，蜜一匕，水一盞，煎五七沸，空心溫服。白痢，香附子末一錢，芍藥半錢，地榆一錢，蜜一匕，水一盞，同煮至七分，空心溫服。日二服，小兒加減與之。</p>
<p>治脾胃有積，臟腑不寧，冷熱相搏，遂成赤白痢疾。不思飲食，腹痛不可忍，並皆治之。
罌粟殼四兩，蜜炙　川當歸半兩　甘草同炙　白芍藥　桂去粗皮　訶子　白善土（道按：白善土即白亞土）煅各半兩
右為細末。每服五錢，沸湯點服，空心服。或用生薑二片，棗子二枚，同煎至七分，空心服尤妙。</p>
<p>又方：
茱萸　黃連　阿膠　白芍藥等分，同炒令焦黃色
右為細末，麵糊為圓，如梧桐子大。每服三十圓，陳米飲下，小兒十圓。</p>
<p>又方：
黑豆五十粒　陳皮半兩　罌粟殼十四個　甘草三寸
右四味半生半炒，用水一碗，藥散四錢，煎至七分，空心溫服。盡此一劑，無不效者。</p>
<p>治瀉痢
白石脂　乾薑等分
右為末，麵糊為圓，如梧桐子大。每服三十圓，飯飲，空心送下。霍亂吐瀉，漿水下。</p>
<p>治水瀉並赤白痢
草烏大者，一兩半
右將一半燒灰，一半生用，為末，醋糊為圓，如綠豆大，每服七圓。赤痢甘草湯下，白痢乾薑湯下，水瀉井花水下，並空心服。忌腥臊（臊下有熱毒生冷四字）。</p>
<p>治大便秘結
大黑腰棗（三個）
右將棗子擘開，去核。水銀粉於棗核孔中塞滿，濕紙裹煨。用生蔥、茶清嚼下。</p>
<p>治大人、婦人膈上虛發，肺腑痰奎，調三焦，開胃口。大小便秘結不通及腸風等疾並皆治之。
麻仁八錢重（按：麻仁上闕他藥）
右為末。除出麻仁研為膏，次入前藥，煉為圓，如梧桐子大。每服二十圓，空心茶酒任下。</p>
<p>治大便秘結搜風寬腸
青皮去白　威靈仙去頭，洗，各二兩　大黃一兩半　大戟一兩　牛蒡於四兩，新瓦上炒
右為末。每服一錢，人實壯每服三錢，蜜酒調下，服畢漱口。</p>
<p>治肺臟風毒熱壅鼻塞口乾大便秘
枳殼一兩，麵炒，去穰　川朴硝一兩　川大黃同　牛蒡子半兩，炒　芎□二分　郁李仁一兩半，去皮
右為末。每服一大錢，蜜水調下。忌一切熱毒等物。</p>
<p>治大小便不通行滯氣五宣散
瞿麥　木通　甘草　虎杖　滑石各等分
右㕮咀。每服二大錢，水一盞，燈心數莖，煎至七分，臨臥時溫服。</p>
<p>治大小便秘結日欲死者
推車七個（車下有客字．道按：推車客，蜣螂一名）　土狗同（如男子病，推車客用頭，土狗用身，如女人病，土狗用頭，推車客用身）
右新瓦上焙乾，為末，只一服。用虎目樹皮（虎目樹，椿一名，向南者，濃煎汁調服，經驗如神。</p>
<p>治赤白痢
罌粟湯一貼，局中者力口　白朮半兩
右將白朮分作二分，罌粟湯全貼，只作一服。煎入白朮一半，服畢。再將滓加白朮一半，甘草三寸，木瓜三枚，同煎又服，立效。</p>
<p>極妙痢藥
石榴皮　陳皮　甘草　川當歸　罌粟各半兩
右將上件五味㕮咀，用水十盞，煎取三盞</p>
<p>次用下藥：
茯苓七錢重　粉草同　北棗子七個
右為末。將煎藥汁入此三味，再煎。五七沸，去滓，空心溫服。甚者不過兩劑，小可痢則一劑效。</p>
<p>治痢妙應圓
黃丹三錢重　巴豆四十九粒，去油
右二味研為末，黃蠟溶開，入藥調勻。候冷取出，安瓦合於盛。要用時，旋圓如綠豆大。每服四五圓。赤痢甘草湯下；白痢乾薑湯下；赤白痢相雜，乾薑甘草同煎湯下，可加烏梅同煎；水瀉米湯下，瘧疾桃葉七片揉水，麵北五更初下，發日服。</p>
<p>救命延年治丈夫婦人一切重痢
黃連六兩　乾薑　當歸川者　阿膠各三西
右三件為末。用米醋煮阿膠，令消盡（須用，則料得醋恰好，不可剩）。將藥末搜醋，圓如梧桐子大。每服三十圓，飯飲吞下甚妙如神。痢方中之魁也。</p>
<p>治痢疾
黃連　巴豆去殼，各三兩
右二味和炒赤色，各研為末。以綠豆打糊為圓，如○大，作記認，二處安頓（巴豆末作一處圓，黃連末別作圓）。白痢，黃連圓二十粒，米湯米泔下，赤痢，巴豆（豆下有圓字）二十粒，用井花水下。</p>
<p>治婦人胎前產後赤白痢
生薑年少者百錢重，年老者二百錢重，時自然汁　鴨子一雙，打碎入薑汁內攪勻（時作取雙作隻。）
右二味煎至八分，入蒲黃三錢重，煎五七沸，溫湯空心服，立效。（此二方授於撫州章道人道按：鴨子印野鴨卵，俗名阿比留多方古）。</p>
<p>《類證普濟本事方》卷六終</p>
<h2>類證普濟本事方續集卷七</h2>
<h3>治諸痔疾（並論五痔）</h3>
<p>大凡五痔，皆因虛憊，恣食五辛五味、雞魚而成。熱毒壅入大腸，津液不通，氣血凝滯。久坐久忍不糞水，冷入河水洗，酒後行房，及暑月行路坐諸熱地又移坐冷，種種能成斯病。一者肛腸生肉，腎痔鼠你或似櫻桃，或似大豆，時時出血，又如出膿，名曰鼠你痔。二者肛邊大乳痛腫，無膿血，名曰酒痔。飲酒便發。三者肛邊努核，疼痛難忍，糞則有血。或因憂愁思慮，冷熱不調，無時而發，名曰氣痔。或大便澀難，氣結不通，下血面黃，食少無味，名曰勞痔。四者大便後下諸膿血，更加痛澀，肛腸努出，名曰脫肛痔。五者氣攻兩腎腧，大便不通，糞血色，下赤黑，毒熱不消，肛門濕癢，一似蟲行，名曰風熱內痔。五痔者因房室大勞，多食雞魚陳久之物，即成斯疾也。</p>
<p>熏洗痔方
枳殼不拘多少
右為末。每服二錢，水一盞，砂瓶內煎百沸，先去瓶上坐熏，後卻瀉出，通手熱洗，妙。</p>
<p>治痔下腫痛
枳殼一兩，陳粟同炒令黃赤，粟不用　青木香一分
右為末。每服二錢，飯飲調下。</p>
<p>治痔漏瘡方
雞子一雙，煮熟去黃，取白切焙　白礬明者，如皂角子大，匙上焙過，用三兩
右為末，先用溫湯淨拭乾。用紙撚點藥，送入瘡孔內，立效。一日三易。</p>
<p>治痔方
信砒一兩，煅令煙盡　穀精草三錢　白礬一兩　硇砂三錢
右為細末，綿塊點藥撲上。如痔乾，可用調傅。</p>
<p>治因痔疾阻礙大便秘結
牽牛　青皮　威靈仙　大戟　大黃
右為末。量人大小，每服一錢、二錢至三錢，用蜜酒調下，須用冷熟水漱口。</p>
<p>治男子婦人諸般痔漏
黃牛角　狼毒等分
右為末。糞花漏，每服一錢，甘草湯下。合官漏，酸醋調一錢。滴珠漏，山梔子三個煎湯下半錢。榮漏，薑湯調下半錢。腸風，米飲下一錢。</p>
<p>治痔
神香（道按：神香即香木類返魂香一名）明者燒灰，多燒則有灰。
右一味燒，苦竹瀝調傅。</p>
<p>治痔諸痛
大蜈蚣一條大　青州棗三個　白礬一塊，如棗大
右將蜈蚣、白礬二味為末。用棗肉圓，分作二圓。燒煙用竹筒透引，煙熏痔妙。</p>
<p>治腸風痔漏
赤芍藥　官桂　甘草炙，已上等分
右㕮咀，每服二錢。生薑二片，白礬一塊，水一盞，同煎至七八分，去滓，空心服。</p>
<p>又方：
雞冠花不拘多少
右一味，濃煎湯，每服一盞，空心下。</p>
<p>治痔漏，此因大腸感風熱而生
生砒一字　水銀一粒，如米大　膩粉一字　真麝一粒，如小豆大
右件併入乳缽內，研令撅細。如痔或有珠子者，將白礬湯淨洗拭乾，用手撚藥揩在痔肉．上，揩得癢時便是藥行。一日二次，用又洗去，五日後住藥，見效。如咸有孔，即用紙撚子引藥送入，令徹其內，更用紙塞孔。前一日兩次，使藥自能生合。</p>
<p>治風痔漏不問有頭羌羌頭定三日安
藜蘭燒灰，半兩　白角針只用針不用皮、條，炒，二錢　天麻半兩　乾薑同　蓮子草一兩　真麝半錢　橘子　硫黃一兩　明礬同研　苦瓜蔞一個，大者（道按：藜茄即藜蘆，白角針印皂角刺，蓮子草即旱蓮草。）
右將瓜蔞開一孔，如小錢大，入礬並硫黃在內，卻將元掩合定，藤紙糊，卻瓦罐子盛坐磚上，炭火煅令煙盡為度。瓶內閉死，候冷取出，研細。同前六味藥末和，令勻，煉蜜圓，如梧桐子大。每服十圓至十五圓，空心溫酒下，日三服，三日見效。忌油、麵、醃藏牛馬肉、魚腥、生冷、行房、行遠、勞力，一切忌之。</p>
<p>聖方痔藥
白礬　血俞　石竹各半兩　胡椒二十粒（血俞即蛞蝓，石竹即瞿麥）
右用瓦罐盛泥固濟，猛火煅通紅，取出，去泥用藥，細研為末。五更時用，不語，津調傅痔頭上，不過三服效。</p>
<p>治肉痔大腸頭痛
仙茅　白朮　石卷柏各一兩　郁李仁三錢
右件為末。每服一錢，薄荷酒下。</p>
<p>治痔方
白礬　乳香各一兩　泥礬少許
右為末。用好醋二升熬成膏，痔上點之效。</p>
<p>治痔頭疼痛有瘡膿水不止方
朱砂三錢　砒半錢　麝好者，二分　巴豆一粒，去油　安息香一分　阿魏一分，麵裹煨熟
右為末，蒸餅為圓，如綠豆大。每服空心枳殼湯下一圓，不過十日取效。</p>
<p>理痔方
五靈脂四錢　膩粉半兩　麝香三十文
右研為末。先用甘草湯洗，後用津唾調抹痔上，痔濕則乾撲。</p>
<p>熏痔方
官桂五錢　蛇床子半兩　蛇退一條
右為末。每用一錢，湯煎熏洗。</p>
<p>傳痔方
斑貓十個　輕粉半錢　馬牙硝三十文　好紅椒一錢　黃皮半錢（道按：黃皮即陳皮）
右為末，先用皂角、荊芥洗令淨，拭乾。用麻油調藥傅。</p>
<p>收痔方
白斂　白芨各一兩　黃皮二兩
右為末，入輕粉、麝香各少許，麻油調傅立收了。此藥不能去根，但緩急展限而已。</p>
<p>治腸風痔漏
鯽魚一個
右將魚破開，去盡腸，入白礬令滿，瓦上燒過，並為細末。用雞毛卷藥，傅之立效。</p>
<p>治腸風痔漏
大黃　當歸川者　苦參　牙皂去皮
右等分為末。醋糊圓，如梧桐子大。每服二十圓，空心溫酒下。</p>
<p>治痔疾腸風
半夏（湯泡洗七次）　黃耆　枳殼（去穰）
右為細末，薑汁糊圓，如此○大，每服三十圓，溫酒空心下。</p>
<p>治痔漏下血不止及收痔
城市河中水
右一桶水，脫衣坐水中頻洗，即止痔亦可。不過三五次，立效。</p>
<p>治諸痔疾
塗杉（即杉木塗土）被埋者　朴硝　大黃　側柏各等分
右㕮咀，瓦罐內煎二十沸，安身於罐上，坐熏其痔疾。堪手下則洗之，效。</p>
<p>又方：
枳殼　甘草　香附子炒，去毛
右各等分為細末。每眼二錢，米泔調下甚妙。此方乃吳知府宅方。</p>
<p>治腸風痔漏
穿山甲一兩，火煅焦煙　麝香一錢
右為末，每服一錢，空心飯湯下。</p>
<p>熏痔方
鼠郎度（道按：鼠郎，和名伊多知）
右一味，瓶內燒煙，坐身於瓶口，熏三五次，除根。</p>
<p>又方：
右用降真香燒煙，熏妙。</p>
<p>《類證普濟本事方續集》卷七終</p>
<h2>類證普濟本事方續集卷八</h2>
<h3>治諸打撲傷損等疾</h3>
<p>治打撲傷損
川烏　草烏各一兩
右為末。用生薑汁調作掩子，貼損處，又線縛定。</p>
<p>治打損接骨方
接骨木（半兩乃蒴藉是）　好乳香（半錢）　赤芍藥　川當歸　川芎　自然銅（各一兩）
右件為末。用黃蠟四兩溶入前藥末，攪勻，候溫軟，眾手圓如大龍眼。如打傷筋骨及閃枘著疼痛不甚忍者，用藥一圓，好舊無灰熱酒一盞，浸藥，候藥漬失開，承熱呷之，痛絕便止。若大段傷損碎折，先整了骨，用前藥貼了。然後服此，表裏兩次無不效者。此二方是一副，不可分開。余得之費數十緡，今不敢秘。</p>
<p>治打撲傷損
草烏五兩　沒藥三錢　自然銅半兩　青皮二兩　苦丁香十個（甜瓜蒂是）
右為末。每服二錢，用溫無灰酒調。吃黑水牛肉、蘿蔔，只得使鹽。此二物之外並皆忌之，不得吃。</p>
<p>治打撲傷損定痛掩
木瓜　朮　蜜陀僧等分
右為末，入麵少許，調作糊，貼痛處。</p>
<p>又方：
草烏　白僵蠶　蒼朮各等分
右為末，薑汁調，貼痛處。</p>
<p>治打撲肉損筋骨疼痛
沒藥　乳香　芍藥　川椒去子及閉目者　川芎　當歸（各半兩）　自然銅（三錢半，炭火燒）
右為細末，用黃蠟二兩溶開，入藥末，不住手攪勻，溫圓如彈子大。每服一圓，用好酒煎開、消盡，乘熱一服吃盡。看那處痛向痛處臥，霎時服三五圓，立效。</p>
<p>治打撲傷損
生葛根
右一味搗爛，用米醋調開，攤痛處，綿縛定。</p>
<p>又方：
右野柳樹根細杵，用米醋調開，攤痛吐。
古甘橘葉、白酒糟，杵細、縛痛處。或大段痛，用火燒，令用紅醋並米泔潑地上，急鋪席。患人去席。上臥，蒸出汗。內則服藥，外則貼掩，則易安。</p>
<p>治打撲傷損筋骨
右夜合樹皮四兩，炒乾沬之。入麝香、乳香各一錢重。每服三大錢，溫酒調，不饑不飽時服。</p>
<p>治刀箭傷血出不止並骨折
檳榔一個　木香　胡黃連各三錢重
右為末，傅瘡口上，血止又接得骨。</p>
<p>治筋骨諸疾、手足不遂、行動不得、遍身風瘡左經圓
草烏白者去皮臍　木鱉子　白膠香　五靈脂各三兩半　川當歸　班貓百個，去羽足，酷煮
右為末。用黑豆去皮，生杵，取粉一斤，酷糊，共搜杵為圓，如雞頭大。每服一圓，溫酒磨下。筋骨疾但未曾針傷炙損者，三五服立效。此藥曾醫一人軟風不能行，不十日立效。專治心、腎、肝三經，通小便，除淋瀝，通榮衛，滑經絡。此方傳自淨因寺聖僧處得之，大有奇效。</p>
<p>治打撲傷損腫痛傷風
天南星　半夏　地龍各等分
右為末。用生薑薄荷汁調，貼痛處。</p>
<h3>治諸寒瘧等疾</h3>
<p>治脾胃有積，久不克化。或原有此證，遂成寒瘧之疾，或先寒後熱，或先熱後寒，或但熱不寒，或但寒不熱，或疼譫語。除傷寒之外，是瘧疾者皆治之
人參　木香　官桂　白朮　茯苓　黃連　附子　柴胡　黃耆　厚朴　甘草　麻黃各三錢重　肉豆蔻十個　檳榔五個
右㕮咀。每服三大錢，水一盞，生薑三片，烏梅一個，同煎至七分，入酒少許。又煎三五沸，溫服此藥，兼治虛弱之人。</p>
<p>又方：
白薑　良薑半炒半生，各半兩
右為末。每服二錢，豬腎、酒調下。</p>
<p>治久患勞瘧
柴胡　恒山各一兩　秦艽　甘草各半兩
右㕮咀。每服五大錢，酒水各一小盞，童子小便半盞，同煎至五分。當發日，五更初，麵北服。</p>
<p>治久瘧久痞
川烏大者二個，生，去皮臍
右為末。每服一大錢，水一碗，棗七個，煎至七分。五更時，冷服。</p>
<p>又方：
粉霜　朱砂各一錢重　綠豆粉七錢重
右件為末，糊為圓，如此○大。每服一圓，冷水五更初下。忌生冷物。</p>
<p>減瘧丹
螺青　硫黃　官桂　白礬　巴豆去油，各等分
右件藥，取五月五日為末。面南用粽子角為圓，如梧桐子大。每服一圓，用新綿裹，男左女右耳內安，發日用之。</p>
<p>又方
良薑　白薑各等分
右二味，火上留性，為末。每服三錢，雄豬膽一個，水一盞，溫和膽汁調下，立效。</p>
<p>治寒瘧勞瘧方
龜甲不拘多少
右一味，醋炙，令黃為末。每服二錢，溫酒調下，空心食前及臨臥時各一服。</p>
<p>治瘧疾方
大蒜一頭，分開四方
右每一片內入巴豆肉一粒，濕紙裹，煅熟。去巴豆，研入黃丹為圓，如雞頭大。每服一圓。先發寒用桃枝七寸，東向者煎湯，發日五更向北服。如先發熱，用冷水送下。未全安次發，又可進一服，即除根。</p>
<p>《類證普濟本事方續集》卷八終</p>
<h2>類證普濟本事方續集卷九</h2>
<h3>治諸腸風酒痢等疾</h3>
<p>治腸風瀉血
牽牛五兩　牙皂三兩，不蛀者
右二味，水浸三日後，除皂角，將酒一升煮令乾，焙為末。煉蜜圓，如此○大。每服七圓，空心溫酒下。空心日午夜臥各一服，或轉下黃物不妨，病可。後常每日服五圓，飯食送下。</p>
<p>又方：
皂角　樹蕁（道按：蕁字蕈，通音）
右新瓦上焙乾為末。每服一錢，溫酒下。</p>
<p>治丈夫瀉血婦人血崩漬人大腸出血
豆蔻　檳榔各炒紫色　罌粟殼燒灰
右三味等分，不拘多少為末。每服二錢，飯飲調下，空心服。</p>
<p>治腸風下血
核桃殼　繭退　皮鞋底　赤雞冠花各等分
右四味燒灰為末。每服一錢，溫酒調，空心下。</p>
<p>治腸風
小赤豆一升
右一味，瓦上炒令黑色，為末。每服三錢，粥飲調下。日三服，各飯前服。</p>
<p>又方：
瓜蔞三個
右一味燒灰，留性，為末，每服三錢，米湯調，空心下。</p>
<p>又方：
蕨菜花（道按：蕨菜花即蕨菜嫩芽也）
右不以多少，文武火焙乾為末。每服三錢，飯飲下。</p>
<p>又方：
金星草三兩陳　乾薑同
右為細末。每服一錢，新汲水調下空心。</p>
<p>治腸風
綿瓜不拘多少，一名蠻瓜，一名天羅，又名天絲瓜，其實皆綿瓜也（道按：綿瓜即絲瓜）
右一味燒灰存性，（性下一有溫字）酒調二錢，空心下。</p>
<p>治腸風並脫肛及有血
蛇床子不拘多少
右一味炒為末。去大腸脫垂處，貼立收，妙甚。</p>
<p>治腸風及脫旺不收有血下
不蛀皂角五莖
右銼味捶碎，水一碗，揉令皂角消盡。絹二重濾過，取十分清汁，將脫肛腸浸在藥水中。其腸自收，不用手蕩。如大（道按；大下脫腸字）收了，更用湯燙其腰肛上下，令皂角氣行，則不再作三次蕩。</p>
<p>治腸風
五倍子　白礬各半兩
右為末，順流水圓，如梧桐子。每服七圓，空心，飯飲下，忌酒。</p>
<p>治腸風臟毒，丈夫婦人皆治
大蒜二頭，紙裹煨熟，研成膏　淡豆豉二合，水潤去皮，研成膏
右為圓，每服二十圓，米飲送下空心（右字下有同字）。</p>
<p>治腸風臟毒酒痢下血
黃連　生薑
右二味煎湯下二氣再，次服五塊圓，圓方於後（再字作丹字）。</p>
<p>五塊圓
五倍子　槐花塵者　白藥好者，各等分
右焙乾為末，酒糊為圓，如此○大。每服二十圓，空心米湯下，日三服。</p>
<p>又方：
川當歸　枳殼　側柏葉塵　槐子　芍藥　百草霜（霜下有各一兩三字）
右銼同一處，炒令煙微起，末之。每服二錢，空心溫酒調下，日午米湯調下，各飯前服，甚妙。</p>
<h3>治諸寸白蟲等患</h3>
<p>取寸白蟲
錫灰　木鱉各一兩　蘆薈二十文　黃丹　輕粉各十文
右為末，豬膏油圓，如○大。先齋一日，晚莫吃飯，次早五更溫水吞下，分作二服。</p>
<p>又方：
錫灰十文
右為細末，用棗肉為圓，如梧桐子大。只作一服。先齋一日，次日五更（更字下有先字）吃燒炙淡豬肉一片，次用溫水送下。</p>
<p>又方：
用生芥葉細杵，井花水解取汁一盞。五更初先吃炙豬肉一片，次服芥汁，巳時下了。
取寸白蟲　蕪荑十文　雞心　檳榔二個　榔芽草半兩（道按：榔芽草即狼牙也）　雷丸三文　輕粉少許
右為末。每服二大錢，四更時茶清調下。隔夜點取茶，四更時取清。</p>
<p>摧取寸白蟲方
巴豆七粒，去殼出油　皂角去皮取末，一錢
右用京墨磨醋糊為圓，如此○大。只作二眼，五更初，橘皮湯下。</p>
<p>取寸白蟲方
苦綿瓜子不以多少
右研為末。每服二錢，好酒半盞，空心調服。</p>
<p>取寸白蟲方
畫粉（道按：畫粉即白堊土也）　蜜陀僧各等分
右為末。每服二錢，用麻油調服，空心下，頃刻成涎取下。</p>
<p>又方：
定粉（道按：定粉即錫粉）
右細研。每服一錢，生麻油調。五更服，晚取下。</p>
<h3>治婦人諸疾</h3>
<p>治婦人血脈不調往來寒熱狀似勞倦
川當歸　川芎　甘草　黃耆　桂去粗皮，各一兩　熟地黃一兩半　白朮半兩　白芍藥二兩　柴胡半兩　阿膠半兩
右為細末。每服五錢，棗子一枚，水一盞半，煎一盞，空心溫服，白湯點服亦得。常服不生帶下，調血脈，養子宮，終身無病。治婦人衝任處損，月候不勻或來多不斷，時復辮瀝，或過月不來，或房中去血過多。又治損娠，小腹怠痛，發熱，下痢，手心煩熱。又治久無子息，並宜服之</p>
<p>吳茱萸三兩，去閉目者，沸湯洗淨三次　川當歸　半夏各二兩半，制　麥門冬去心，五兩　芎勞　人參　芍藥　牡丹皮　桂去粗皮　阿膠炒　甘草炙，各一兩
右為銼散。每服三錢，水一盞半，生薑五片，煎至八分，去滓熱服，空心食前。</p>
<p>治婦人赤白帶下
龍骨半兩　舶上硫黃三錢
右為末。每服半錢，無灰舊酒空心調服，三服。不問遠年日近，盡令痊效。</p>
<p>《類證普濟本事方續集》卷九終</p>
<h2>類證普濟本事方續集卷十</h2>
<h3>治小兒諸疾</h3>
<p>治小兒十種丹瘤腫毒所起形候並方法
一．飛灶丹，從頂頭起，腫光；用蔥白研取自然汁塗。
二．吉灶丹，從頭上紅腫，痛；用赤小豆末，雞子清調塗。
三．鬼大丹，從面起，赤腫（大作火）；用灶心土、雞子清調塗。
四．天火丹，從背起，赤黑；用桑白皮末，羊脂調塗。
五．天灶丹，從兩臂赤腫，黃色；用柳木燒灰，水調塗。
六．水丹，從兩脅腫；用生鐵為末，豬糞調塗。
七．胡次丹，從臍上起，黃腫；用檳榔為末，醋調塗。
八．野火丹，從兩腳赤腫；用乳香末，羊脂調塗。
九．煙火丹，從兩腳，有赤白點；．用豬槽下土，麻油調塗。
十．胡漏丹，從陰上起，黃腫；用屋漏庭土，羊脂調塗。</p>
<p>右此十種丹毒，變易非輕，治之或緩，能終不救。余不惜此方能逐一仔細辨認，依此方法治之，萬不失一。如經三日又愈，病入臟腑則終不可救，不可緩也（又愈二字當作不治，病字作攻字）。</p>
<p>治小兒怠慢驚風、四肢逆冷、眼張口噤、涎不止保命丹
虎睛一個，將瓦上安之，以豆蓋定，漫火逼乾　箭頭朱砂半西　蜈蚣二條，去頭尾，赤腳者　麝半錢　全蠍半錢　天麻一分
右為細末，煉蜜為圓，如此○大。瓦罐貯之，又入腦麝窨定。急驚風，薄荷蜜湯化下；慢驚風，薄荷湯化下，各三圓。更量兒大小加減與之，些少驚悸亦可服之（按：慢驚屬虛證，與急驚未可同治）。</p>
<p>又方：
赤腳蜈蚣一條去頭尾　蠍稍　草烏尖七個　半夏三個
右焙乾為末。入麝香三十文，輕粉半錢匕。用生薑自然汁圓，如此○大，每服三圓，金銀薄荷湯化下，次用生朱砂調塗病兒腳中心妙。</p>
<p>治小兒毒氣攻腮腫赤可畏者
皂角二兩，去根（道按根當作核）　天南星二錢，生用　糯米一合，為末
右為細末。薑調塗，立效。</p>
<p>治小兒驚風
茯苓　甘草　朱砂　青黛　膩粉
右各等分，入麝香少許。每服一錢，蜜水調下。</p>
<p>治小兒驚熱
蠍七個　天南星取心為末，一錢　人參　蛇退各三錢重
右為末，薄荷、蜜湯調下。</p>
<p>治小兒風毒
白牽牛一兩，半炒　大黃三錢　青皮甘草　朴硝各一錢重
右為末。每服一錢，砂糖水調下。</p>
<p>治小兒遍身浮腫方
黑牽牛三西，件　青木香　青皮　防風　檳榔各一兩
右為末，麵糊為圓，如芥菜子大。每服二十圓，桑白皮湯下。</p>
<p>消毒顧氣飲
人參　茯苓　甘草　升麻各等分
右為細末。每服半錢，生薑一片，棗子半盞，煎至一大呷許，溫服，不計時候。</p>
<p>治小兒吐瀉不止
龍骨火燒留性　滑石　定粉各等分（道按：定粉即錫粉）
右為末。每眼一錢至二錢，熱水調下。</p>
<p>治小兒癇疾
天南星
右一味，炮裂出火毒，去黑皮不拘多少，為末。每服半錢，生薑、薄荷、蜜、酒調下。</p>
<p>治小兒疳積黃瘦吐食
川烏一錢　定粉三錢　芥灰二錢　龍骨同上
右為末，滴水為圓，龍眼核大，作餅子。每服一餅，飯飲磨下。</p>
<p>治小兒疳積秘方蘆薈圓
蘆薈　荊芥　黑牽牛　青皮各等分，事治
右精細事治，炮制為末，麵糊為圓，如大粟米大，兒一歲以下一圓，或二圓亦不妨，自加減與之。</p>
<p>治小兒顛痛欲發、眼暗、癭瘋、聲惡、嚼舌，雌黃圓
雌黃　黃丹各一兩，沙炒　麝香一錢，研
右為末。拌令極勻，用牛乳汁半升熬成膏，入前件藥末，杵三五百下，圓如綠豆大，每服三圓，溫熱水下。一日三服。此方得自於明醫之家，後餘嘗傳與一貧醫，因是藥醫道大行。</p>
<p>治小兒驚風積熱
全蠍七個，去毒　蟬退二十一個　甘草　天南星大者一枚，炮令香
右為末。每服半錢，水半盞，薄荷七小葉，煎至七分，溫服。</p>
<p>治小兒驚熱
寒水石二兩　甘草一兩　馬牙硝四西　重朱砂一分
右件為末。令極細，次入腦、麝各三十文，煉蜜搜和。圓如龍眼核大，用瓷罐盛之。每服一圓或半圓，量兒大小強弱與之，薄荷湯候冷調下。</p>
<p>治小兒哮喘
黃丹　砒霜
右各生用為末。用棗肉為圓，如麻子大。每服三圓，臨睡冷茶清下。</p>
<p>治小兒赤熱腫脹
川大黃　白礬
右二味等分為末。用冷水調作奄子，貼眼上，立效。</p>
<h3>治諸雜病等方</h3>
<p>治骨鯁
白茯苓
右一味，臨時細切，研為末。以所鯁骨煎湯調下。</p>
<p>治果報面生贅瘤方
右用艾圓灸十粒，即用醋磨雄黃，塗紙上，剪如螺螄奄子大，貼所灸處。更用膏藥重貼。二日一換，候癢，擠出膿如綠豆粉，即愈。</p>
<p>治盜汗
葳靈仙　甘草各半兩
右為末。每服三錢，溫酒調下。</p>
<p>治盜汗外腎濕
人參一錢　苦參三錢　重龍牙草同上（道按：龍牙草《綱目》馬鞭草下出之，俗云金水引草）　麻黃根同上
右件為末，煉蜜圓，如此○大。每服三十圓，煉麩湯下。</p>
<p>治腳汗
白礬　干葛等分
右二味為末。每服半兩，水三碗，煎十數沸，熱洗。逐日一次，經三五日自然無。</p>
<p>治疥不以新久方
白蕪荑一兩　檳榔　吳茱萸各半兩　硫黃二錢重，別研
右為末。麻油調，抓破揩。載《袁州公使庫本》。</p>
<p>宣積手心握藥便通
巴豆　乾薑　韭子　良薑　硫黃　甘遂　白檳榔（各等分）
右為末，研飯為圓，如此○大。用時早朝使椒湯洗手了，麻油塗手掌口握藥一粒，移時便瀉止，即以冷水洗手。</p>
<p>宣積藥
巴豆一百粒，去殼，水洗四十九次　五靈脂　白薑　赤茯苓（茯苓下有各一兩三字）
右為末，用醋糊圓，如綠豆大。每服五圓，冷茶清，五更初服。或欲瀉止，冷水洗手、面、腳三處，立佳。</p>
<p>《類證普濟本事方續集》卷十終 </p>
