<header><h1>外科精要</h1></header>
<dl class="元資料" data-type="book">
<div><dt>作者</dt><dd>陳自明</dd></div>
<div><dt>朝代</dt><dd>宋</dd></div>
<div><dt>年份</dt><dd><data value="1263">公元1263年</data></dd></div>
</dl>
<h2>序</h2>
<p>凡癰疽之疾，比他病最酷，聖人推為雜病之先。自古雖有瘍醫一科，及鬼遺等論，後人不能深究，於是此方淪沒，轉乖迷塗。今鄉井多是下甲人，專攻此科。然沾此疾，又多富貴者。《內經》云；大凡癰瘡，多失於膏粱之人。仆家世大方脈，每見沾此疾者十存一二，蓋醫者少有精妙能究方論者。聞讀其書，又不能探賾素隱，及至臨病之際，倉卒之間，無非對病閱方，遍試諸藥。況能療癰疽、持補割、理折傷、攻牙療痔，多是庸俗不通文理之人，一見文繁，即使厭棄。</p>
<p>病家又執方論，以詰難之，遂使醫者鼯鼠技窮，中心惶惑，當下不下，悠悠弗決，遷延日久，遂令輕者重，重者死。又多見生疽之人，隱諱者眾，不喜人言是癰疽發疾，但喜云只是小小癤毒而已，及至孔洪，遂致不救。又有病家猜鄙，吝其所費浩瀚，不肯請明了之醫，而甘心委命於庸俗之手。或有醫者，用心不臧，貪人財利，不肯便投的當伐病之劑，惟恐效速而無所得，是禍不極，則功不大矣。又有確執一二藥方，而全無變通者。又有當先用而後下者；當後用而先下者。多見一得疾之初，便令多服排膿內補十宣散，而及增其疾。此藥是破後排膿內補之藥，而洪內翰未解用藥之意，而妄為序跋，以誤天下後世者眾矣。陳無擇云：當在第四節用之是也。又有得一二方子，以為秘傳，惟恐人知之，窮貴之人不見藥味而不肯信服者多矣。又有自知眾人嘗用已效之方，而改易其名，而為秘方，或妄增藥味以惑眾聽，而返無效者，亦多矣。此等之徒，皆含靈之巨賊，何足相向！又有道聽塗說之人，遠來問病，自逞了了，詐作明能，談說異端，或云是虛，或云是實，出示一方，力言奇效，奏於某處。此等之人，皆是貢諛。其實皆未曾經歷一病，初無寸長，病家無主，易於搖惑，欲於速效，又喜不費資財，更不待醫者商議，可服不可服，即欲投之，倏然至禍，各自走散。古人云：貧無達士將金贈，病有閑人說藥方，此世之通患，歷代不能革。</p>
<p>凡癰疽之疾，真如草寇，不守律法，出意凶暴，待之稍寬，殺人縱火，無可疑者。凡療斯疾，不可以禮法待之，仍要便服一二緊要經效之藥，把定臟腑，外施針灸，以泄毒瓦斯。其勢稍定，卻乃詳觀方論，或命醫者，詳察定名。是癰是疽，是虛是實，是冷是熱，或重或輕，對證用藥，毋失先後次序。病者不必憂惶，醫者確執己見，不可妄立名色，愴惶惑亂，收效必矣。如近代名醫李嗣之、伍起予、曾孚先輩，編集上古得效方論要訣，愚因暇日，采摭群言，自立要領，或先或後，不失次序。其中重復繁文者削之，取其言簡意盡，綱領節目，整然不紊。庶幾覽者，如指諸掌，雖不能盡聖人之萬一，使臨病之際，便有所主，毋致渴而穿井，斗而鑄兵者乎！</p>
<p><u>歲景定癸亥孟秋寶唐習醫陳自明良甫序</u></p>
<p>外科，蓋指瘡瘍門言也。上古無外科專名，實　於季世，後人遂分內外為二科。</p>
<p>茲外科乃宋陳良甫先生所著。雖以瘍科名其書，而其治法，固多合內外之道。如作渴、泄瀉、灸法等論，誠有以發《內經》之微旨。殆不無宜於昔，而不宜於今者，非先生之術，有未精要也。良由今人所稟，遠不逮昔，雖使先生至今存，亦不得不因時而損益之矣。余於時自忌淺鄙，漫仿元本之所既備而未悉者，斷以愚意而折衷之，仍其舊名，厘為四卷。其補錄一卷，則出余管見。同志勿咎其僭，而進其所未至焉。</p>
<p><u>嘉靖丁未春月吉日奉政大夫太醫院使致仕吳郡薛己謹序</u></p>
<h2>卷上</h2>
<h3>療發背癰疽灸法用藥第一</h3>
<p>經云：諸痛癢瘡瘍，皆屬心火。前輩又謂癰疽多生於丹石房勞之人。凡人年四十以上，患發背等瘡，宜安心早治。此症如虎入室，御而不善，必至傷人。宜先用內托散，次用五香連翹湯，更以騎竹馬法，或隔蒜灸，並明灸足三裡，以發泄其毒。蓋邪之所湊，其氣必虛，留而不去，其病乃實。故癰疽未潰，臟腑蓄毒，一毫熱藥，斷不可用。癰疽已潰，臟腑既虧，一毫冷藥，亦不可用，猶宜忌用敷貼之藥閉其毫孔。若熱渴便秘，脈沉實洪數，宜用大黃等藥以泄其毒；後國老膏、萬金散、黃礬丸、遠志酒之類，選而用之。</p>
<p><u>愚按：</u></p>
<p>前症若熱毒蘊於內，大便秘結，元氣無虧者，宜用大黃等藥泄其熱毒。若陰虛陽湊，精虛氣節，脾胃虛弱者，宜用甘溫之劑培其本源。若瘡不　腫，不作膿者，雖未潰，仍須溫補。若瘡已潰，而腫不退，痛不止者，仍宜清涼之劑治之。若病急而元氣實者，先治其標；病緩而元氣虛者，先治其本；或病急而元氣更虛者，必先治本而兼以治標。大抵腫高痛，膿水稠黏者，元氣未損也，治之則易。漫腫微痛，膿水清稀者，元氣虛弱也，治之則難。</p>
<p>不腫不痛，或漫腫、腫黯不潰者，發於陰也，元氣虛甚，理所不治。若腫高　痛者，先用仙方活命飲，後用托裡消毒散。漫腫微痛者，宜托裡散，如不應，加薑、桂。若膿出而反痛，氣血虛也，八珍散。不作膿，不腐潰，陽氣虛也，四君加歸、　、肉桂。不生肌，不收斂，脾氣虛也，十全大補加薑、桂。晡熱內熱，陰血虛也，四物加參、朮。欲嘔作嘔，胃氣虛也，六君加炮薑。自汗盜汗，五臟虛也，六味丸加五味子。食少體倦，脾氣虛也，補中益氣加茯苓、半夏。喘促咳嗽，脾肺虛也，前東加麥門、五味。欲嘔少食，脾胃虛也，人參理中湯。腹痛泄瀉，脾胃虛寒也，附子理中湯。小腹痞，足脛腫，脾腎虛弱也，十全大補加山茱、山藥、肉桂。泄瀉足冷，脾腎虛寒也，前藥加桂、附。熱渴淋閉，腎虛陰火也，加減八味丸。喘嗽淋閉，肺腎虛火也，補中益氣湯、加減八味丸。凡此變證，皆因元氣虧損，失於預補所致。故丹溪先生云：但見腫痛，參之脈症，虛弱便與滋補，氣血無虧，可保終吉。旨哉斯言！蓋古今虛實不同，因時施治，不無少異。是集治論義悉類此。</p>
<p><u>附治驗</u></p>
<p>上林陳靜涵，面患疔，脈洪數有力，屬邪氣蘊結。余用清熱消毒散二劑未應。或用黃　、肉桂等藥二劑，反益其勢，致耳目唇口俱腫閉，頭面如斗，由邪氣外實也。前脈按之無力，由元氣內虛也。連進托裡消毒之藥，及數砭患處，出黑血碗許，已而膿與腐肉並潰而出。復用托裡之藥，瘡勢漸愈。七日後，復因調護失宜，以致煩渴不食，兩尺脈如絲欲絕，急用八味丸料煎服，其脈頓復，手足自溫。使非砭以泄其外，托裡散以補其內，八味丸以回其陽，則治之失宜，必致不救。慎之慎之！憲副陳魯山，居官勤苦，勞傷元氣，背患疽，漫腫，中央色黯，四畔微赤微痛，脈浮大，按之微細，左寸短而右寸若無。十余日，腫未全起。此病氣元氣虛寒，朝用參、　、薑、桂、歸、朮、陳皮、半夏、炙草，溫補其陽，夕用加減八味丸滋其肝腎，各四劑而腐潰。但膿水清稀，盜汗自汗，內熱晡熱，脈浮而數，改用八珍湯。復發熱，而夜陽舉，此腎虛而火動，仍用加減八味丸料煎服而安。又因怒動肝火，瘡出鮮血二盞許，左關弦數，右關弦弱。</p>
<p>此肝木侮脾，以致肝不能藏血，脾不能統血，用十全大補兼前藥各二劑而血止。再用前藥，調理而痊。</p>
<p>一武職患腦疽，內潰熱渴，頭面腫脹如斗，胸背色　如塗丹，煩熱便秘，此表裡俱實，若非苦寒之劑，內　外泄不救。遂針周項出膿，及用清涼飲一劑，內大黃用五錢，再用消毒散而愈。</p>
<p>節推王器之，背患疽，瘡頭如黍，　痛背重，脈沉而實，此毒在內。服黃連內　湯二劑少退，更與仙方活命飲而愈。</p>
<p>舉人劉華甫，　腫作痛，脈浮而數，此毒蓄於經絡。用內托復煎散二劑而　腫減，用仙方活命飲四劑而腫痛止，更用托裡藥而痊。</p>
<p>一儒者患背疽，腫　痛甚，此熱毒蘊結而熾盛。用隔蒜灸而痛止，服仙方活命飲而腫消，更與托裡藥而潰愈。</p>
<p>一男子，背患疽，腐肉雖潰而新肉不生，此毒瓦斯解而脾胃之氣虛也。用六君子加芎、歸、五味、黃　漸愈，用十全大補湯全愈。</p>
<p>一男子，背患疽，肉腐膿清，肌肉不生，此邪去而氣血俱虛也。用十全大補湯，月余而斂。</p>
<p>一男子，背患疽，腫痛，赤暈尺余，背如負石。其勢當峻攻，其脈又不宜。遂砭赤處，出紫血碗許，腫痛頓退。更用神功散及仙方活命飲二劑，瘡口及砭處出血水而消。</p>
<p>儒者周在魯，懷抱久郁，背脊患疽，肝脈弦洪，脾脈浮大，按之微細。以補中益氣加桔梗、貝母，少用銀花、白芷，二劑，肝脈頓退，脾脈頓復。乃以活命飲二劑，膿潰腫消，肝脈仍弦。此毒雖去，而胃氣復傷。仍用前東加半夏、茯苓而愈。用銀花、白芷，非為治瘡，乃解患者之疑耳。</p>
<h3>癰疽備論第二</h3>
<p>初虞世云：凡癰疽始作，須以大黃等藥亟轉利之，勿以困苦為念。若與其潰爛而死，不若利之而死，況有生道哉。古人立法，率用五香、連翹、漏蘆等藥，貧乏者單煎大黃湯以利之。至於膿潰，乃服黃　等藥以排膿，《千金》、《外台》備矣。世以瘡發於外，不行轉利而死者多矣，悲夫！</p>
<p><u>愚按：</u></p>
<p>前症若腫高　痛，臟腑閉結，屬內外俱實，當用前藥瀉之。若漫腫微痛，臟腑不實，屬內外俱虛，當用內托補之。若患腫無頭，肉色不變，當助胃壯氣，令其內消。若疼痛不止，　腫不消，當用人參黃　散以托裡排膿。若飲食少思，肌肉不生，當用參　托裡散以補養脾胃。丹溪云：癰疽因積毒在臟腑，當先助胃壯氣，使根本堅固，次以行經活血藥佐之，參以經絡時令，使毒瓦斯外泄。治之早者，可以內消，此內托之旨也。又云；腫瘍內外皆壅，宜以托裡表散為主，如用大黃，寧無孟浪之非；潰瘍內外皆虛，宜以補接為主，如用香散，未免虛虛之失。此蓋古今氣稟不同，治宜審之。</p>
<h3>癰疽灸法論第三</h3>
<p>陳無擇云：癰則皮薄腫高，疽則皮濃腫堅，初發並宜灼艾。惟癰膿成則宜針，疽膿成則宜烙，當審察其症，　利其毒，補托其裡。然癰疽冠於雜病之首，治失次序，多致枉夭，故集得效灸法，以貽學人，庶不致妄投也。</p>
<p><u>愚按：</u></p>
<p>前症若發熱煩渴，大便秘結者，由邪蓄於內，宜黃連內　湯，以泄內毒。若頭痛拘急，發熱惡寒者，由邪客於外，宜人參敗毒散，以散表邪。若腫痛　赤，發熱作渴，此毒氣凝於肉裡，宜仙方活命飲，解散其毒。若食少體倦，發熱惡寒，此中氣虛弱，宜六君子湯，以補脾胃。</p>
<h3>騎竹馬灸法第四</h3>
<p>治一切瘡瘍，即用此法，無有不愈。其法令病患以肘憑幾，豎臂腕要直，用篾一條自臂腕中曲處橫紋，男左女右，貼肉量起，直至中指尖盡處截斷為則，不量指甲。卻用竹杠一條，令病患脫衣，正身騎定，前後用兩人扛起，令病者腳不著地，又令二人扶之，勿令傴僂。卻將前所量臂篾，從竹杠坐處，尾　骨盡處，直貼脊背，量至篾盡處為則，用墨筆點定，此只是取中，非灸穴也。卻用薄篾作則子，量病患中指節，相去兩橫紋為則，男左女右，截為一則，就前所點記處兩邊，各量一則，盡處即是灸穴。兩穴各灸五七壯。疽發於左則灸右；疽發於右則灸左；甚則左右皆灸。蓋此二穴，心脈所過之處，凡癰疽皆心火留滯之毒，灸此則心火流通，而毒散矣。起死回生之功，屢試屢驗。</p>
<p><u>愚按：</u></p>
<p>前症若毒既解，而肌肉不生，當求其屬而補之。</p>
<p><a href="_files/p04-a45a1.bmp">第一圖</a></p>
<p><u>男以左手，女以右手，先屈中指，用薄篾量取中一節，兩橫紋盡處為同身一寸為則子。</u></p>
<p><a href="_files/p04-a45a2.bmp">第二圖</a></p>
<p><u>先從男左女右臂腕中曲橫紋起，用薄篾一條量至中指齊肉盡處，不量指爪為則，剪斷。</u></p>
<p><a href="_files/p04-a45a3.bmp">第三圖</a></p>
<p><u>先令病患脫去衣服，以大竹杠一條跨定，令兩人徐徐扛起，足要離地五寸許，兩傍更以兩人扶</u></p>
<p><u>定，毋令動搖不穩。卻以第一圖則子貼定竹杠，從尾閭起，貼脊量至則子盡，以墨點定記之，非</u></p>
<p><u>灸穴也，此是取中穴止處。卻以第二圖取同身寸則，取兩寸平摺，自中穴量之，以中分取兩傍各</u></p>
<p><u>一寸，方是灸穴也。</u></p>
<h3>論隔蒜灸得效第五</h3>
<p>李氏云：治疽之法，灼艾之功勝於用藥，蓋使毒瓦斯外泄。譬諸盜入人家，當開戶逐之。</p>
<p>不然，則入室為害矣。凡瘡初發一二日，須用大顆獨蒜切片三分濃，貼疽頂，以艾隔蒜灸之，每三壯易蒜，痛者灸令不痛，不痛者灸之令痛，瘡潰則貼神異膏。如此則瘡不開大，肉不敗壞，瘡口易斂，一舉三得。此法之妙，人所罕知。若頭項見疽，則不可用此法（五府極觀碑載）。</p>
<p>愚謂瘡瘍之症，有諸中必形諸外，在外者引而拔之，在內者　而下之。苟或毒瓦斯郁結，瘀血凝滯，輕者藥可解散，重者藥無全功，是以灼艾之功為大。凡灸法，未潰則拔引郁毒，已潰則補接陽氣。每治四肢患瘡，氣血無虧者，祗以前法灸之皆愈。若中氣虛弱，不灸而服敗毒之藥，復傷中氣，未有不敗者也。其頭項患者，亦宜灸之，但艾炷宜小，而少其壯數為善。</p>
<h3>背疽腫漫尋頭灸法第六</h3>
<p>李氏云：凡患背疽，漫腫無頭者，用濕紙貼腫處，但一點先干處，乃是瘡頭。可用大蒜十顆，淡豉半合，乳香錢許，研爛置瘡上，鋪艾灸之，痛否皆以前法為度。</p>
<p><u>愚按：</u></p>
<p>前症或附骨疽，及臀腿諸毒初起未明者，尋頭用灸，多自內消。其毒熾盛，更服活命飲，其功尤捷。若氣血虛弱，必以補托為主。若背疽大潰，欲驗穿透內膜者，不可用皂角取嚏法，但以紙封患處，令病者用意呼吸，如紙不動者，未穿透也。倘用取嚏，鼓動內膜，反致穿透，慎之慎之。</p>
<h3>蒜餅施用分其輕重第七</h3>
<p>伍氏曰：凡用蒜餅灸者，蓋蒜味辛溫有毒，主散癰疽，假火勢以行藥力。有只用艾炷灸者，此可施於頑疽痼發之類。凡赤腫紫黑毒甚者，須以蒜艾同灸為妙。</p>
<p><u>愚按：</u></p>
<p>前法誠有回生之功。若頑瘡痼疾，脾胃虛弱，營氣不能滋養患處，以致寒邪內襲而不愈，宜用小艾炷頻灸瘡口，以祛寒邪，補接營氣。其內補之法說，見首論及三十二論。</p>
<h3>灸法要論第八</h3>
<p>伍氏方論曰：夫癰疽發背，皆有所困，前篇言之詳矣。凡初覺赤腫，先從背脊骨第二陷中兩傍，相去同身寸各一寸五分，名熱腑穴，二處各灸七壯，此能　泄諸陽熱氣，永無癰疽之苦。或隔蒜灸，不論壯數，則邪無所容，而真氣不損。但頭項見瘡，宜用騎竹馬法及足三裡灸之。</p>
<p><u>愚按：</u></p>
<p>前論誠為良策，其調理之法，當求首論。</p>
<p><u>史氏引證</u></p>
<p>甲戌年，瘍醫常器之，診太學史氏之母云：內有蓄熱，防其作疽。至辛巳六月，果背胛微癢，瘡粒如黍，灼艾即消，隔宿復作。用膏藥覆之，暈開六寸許，痛不可勝，歸咎於艾。</p>
<p>適遇一僧，自云病瘡甚危，嘗灸八百余壯方蘇。遂用大艾壯如銀杏者，灸瘡頭及四傍各數壯，痛止，至三十余壯，赤暈悉退。又以艾作團，如梅杏大者四十壯，乃食粥安寢，瘡突四寸，小竅百許，患肉俱壞而愈。</p>
<p><u>愚按：</u></p>
<p>灼艾之法，必使痛者不痛，不痛者痛，則其毒隨火而散。否則，非徒無益，而又害之。</p>
<p><u>附治驗</u></p>
<p>秋官高竹真，患背疽，色黯堅硬，重如負石，神思昏憒可畏。其親廷評鄭沙村請同往治。鄭云：竹真先任湖廣某縣時，以某河涉險不便，竹真為整治有功。其民為立生祠，凡渡河者，無不禱祭。竹真患此，悉疑立祠致祟。余曰：不然，病因元氣虛寒，積毒熾盛所致。</p>
<p>遂以杵蒜攤患處，用錢大艾炷灸二十余壯，尚不知。乃攤蒜補艾灸，亦不知。乃著肉灸，良久方知。再灸方痛，內服參附大補之劑而起。</p>
<h3>癰疽灼艾痛癢論第九</h3>
<p>伍氏曰：凡治癰疽發背疔瘡，不痛者，必灸使痛，痛者，必灸使不痛。若初灸即痛者，由毒瓦斯輕淺，灸而不痛者，乃毒瓦斯深重，悉宜內服追毒排膿，外敷消毒之藥。大抵癰疽不可不痛，又不可大痛，悶亂不知痛者，難治。</p>
<p><u>愚按：</u></p>
<p>前論惟疔瘡一症，其狀不一，其色不同，或如小瘡，或如水泡，或作痛，或麻木，或有紅絲，或寒熱頭疼，或嘔吐惡心，或肢體拘急，其候多端。非前灸法並解毒之劑，卒難濟事。若不省人事，或牙關緊急者，即以奪命丹為末灌之。若生兩足，多有紅絲至臍；生於兩手，多有紅絲至心；生於唇面，多有紅絲入喉。俱難治。若針其紅絲出血，多有生者。若患於肢末之處，毒愈凝滯，藥難導達，艾灸之功為大。如妄服　利之劑，耗損真氣，不惟無以去毒，而害反隨之矣。</p>
<p><u>附治驗</u></p>
<p>操江都憲張恆山，左足次指患之，痛不可忍。急隔蒜灸三十余壯，即將舉步。彼欲速愈，自敷涼藥，遂致血凝肉死，毒瓦斯復熾。再灸百壯，服活命飲，出紫血，其毒方解。腳底通潰，腐筋爛肉甚多，將愈，予因考績北上。又誤用生肌藥，反助其毒，使元氣虧損，瘡口難斂。予回，用托裡藥補之，喜其稟實且客處，至三月余方瘥。</p>
<p>表甥居富，右手小指患之。或用針出血，敷以涼藥，掌指腫三四倍，六脈洪大，此真氣奪則虛，邪氣勝則實也。先以奪命丹一服，活命飲二劑，勢稍緩，余因他往。或又遍刺出血，腫延臂腕如大瓠，手指腫大數倍，不能消潰，乃真氣愈虛，邪氣愈盛。余回，用大劑參歸術之類，及頻灸遍手，腫勢漸消。後大便不實，時常泄氣，此元氣下陷。以補中益氣湯加補骨脂、肉豆蔻、吳茱萸、五味子，又以生脈散代茶飲，大便漸實，手背漸潰，又用大補藥五十余服漸愈。</p>
<p>一男子唇患之，有紫脈自瘡延至口內。余曰：此脈過喉，則難治矣，須針紫脈並瘡頭出惡血，以泄其毒則可。不信，乃別用解毒之劑，頭面俱腫。復請治，脈洪數，按之全無，惡症悉具。余曰：無能為也。彼求治甚篤、時口內腫脹，針不能入。為砭腫處出血，勢雖少退，終至不起。</p>
<h3>腦疽灸法第十</h3>
<p>李氏云：腦疽及頸項有疽，不可用隔蒜灸，恐引毒上攻，宜灸足三裡穴五狀，氣海穴三七壯，仍服涼血化毒之藥，或以騎竹馬穴法灸之。凡頭項咽喉生疽，古法皆為不治，若用此法，多有生者。如五香連翹漏蘆等湯，國老膏、萬金散，皆可選用。</p>
<p><u>愚按：</u></p>
<p>前症屬膀胱經，或濕熱上壅，或陰火上炎。若因濕熱，則病氣有餘，元氣不足，當用黃連消毒散以除濕毒，用補中益氣湯以滋化源。若因陰火，則元氣病氣俱不足，當用補中益氣湯及六味地黃丸，以滋腎水。若腎水干涸，中傳末症，急用加減八味丸及補中益氣湯，以固根本，引火歸源。若色黯不潰，或潰而不斂，名曰腦爍，不治。大凡腫　痛甚，宜活命飲，隔蒜灸之，解散瘀血，拔引郁毒，但艾炷宜小而少。若欲其成膿腐潰，生肌收斂，並用托裡為主。</p>
<p><u>附治驗</u></p>
<p>一婦人患頭項俱腫，痛不可當，發熱作渴，喜冷。內服清熱，外敷寒涼，色黯不　，胸中氣噎，此陽氣虛寒。彼泥素有痰火，不受溫補。余用參、　各五錢，薑、桂各二錢，一劑腫頓起而潰，又用大補藥而愈。凡瘡疽腫高痛甚，煩渴飲冷，此病氣元氣俱有餘，宜用清熱消毒散、仙方活命飲為主。若腫高痛甚，口乾飲熱，此病氣有餘，元氣不足，宜用托裡消毒散、參　四補散為主。若漫腫微痛，食少體倦，此病氣元氣俱不足，宜用六君、補中二湯壯其脾胃，則未成者消，已成者潰，已潰者斂矣。</p>
<p>儒者胡本中之內，冬患之，腫痛熱渴，脈洪數實，用清熱消毒之藥，潰膿而愈。次年三月，其舌腫大，遍身患紫疔如葡萄，不計其數，手足尤多，各刺出黑血，此脾胃受毒。先服奪命丹七粒，出臭汗，瘡熱益甚，便秘。二日，與大黃、芩、連各三錢，升麻、白芷、山梔、薄荷、連翹各二錢，生甘草一錢，水煎三五沸服之，大小便出臭血甚多，下體稍退。乃磨入犀角汁再服，舌本及齒縫出臭血，諸毒頓消，更用犀角地黃湯而愈。</p>
<h3>癰疽既灸服藥護臟腑論第十一</h3>
<p>李氏云：背疽之方雖多，得效者殊少，今擇用驗者錄之，庶不致誤人。如護心散，凡有疽疾，早進數服，使毒瓦斯外出，而無嘔吐之患。否則咽喉口舌生瘡，或黑爛如菌。若瘡發四五日之後，宜間用別藥治之。</p>
<p><u>愚按：</u></p>
<p>護心散乃解金石發疽之藥，若發熱　腫作渴，飲冷而嘔者，宜用；若發熱　腫作渴，飲湯而嘔者，不宜用。若脾虛停痰，或寒邪內侵，或痛傷脾胃，宜用六君子湯。若喉舌生瘡，或口乾作渴，或小便頻數，宜用六味丸。大凡諸瘡作嘔，若飲冷便秘，是熱毒也，黃連消毒散解之。飲冷便和，是胃火也，竹葉石膏湯清之。懶食飲湯，是胃虛也，補中益氣湯以補之。大便不實，喜飲熱湯，是脾胃虛寒也，六君加炮薑以溫之。常見脾胃虛弱者，用前散反心間陰冷，無不致嘔。其喉舌生瘡，乃腎水枯涸，虛火炎上，其證甚惡，急用加減八味丸，亦有得生者。</p>
<p><u>附治驗</u></p>
<p>通府張廷儀，背患疽，作嘔　痛，大便秘結，口乾作渴，此內蘊熱毒。用竹葉石膏湯二劑，諸症頓退。用托裡消毒散，四畔腫消。用仙方活命飲，瘡亦尋愈。</p>
<p>上舍李通甫，腿患瘡，作痛，少食作嘔，惡寒。余以為痛傷胃氣，用六君子東加當歸四劑，疼痛少止，飲食加進。又以十宣散加白朮、茯苓、陳皮數劑，膿成，針而出之。又以前散去防風、白芷，數劑而痊。</p>
<p>舉人邊云衢，腋下患毒，嘔逆不食，腸鳴切痛，四肢厥冷，脈沉而細。余謂中氣不足，寒邪內淫，用托裡溫中湯，一劑頓愈。更以香砂六君子治之。彼謂腫瘍時嘔，當作毒瓦斯攻心治之，潰瘍時嘔，當作陰虛補之。余曰：此丹溪大概之言也，即諸痛癢瘡皆屬心火之意。假如赤腫痛甚，煩躁脈實而嘔，為有餘，法當下之。腫硬不痛不潰，脈弱而嘔，為不足，法當補之。亦有痛傷胃氣，或感寒邪穢氣而作嘔者，雖腫瘍尤當助胃壯氣。彼執不信，用攻伐之藥，病愈甚。復請診，其脈微細而發熱。余謂熱而脈靜，脫血脈實，汗後脈躁者，皆難治，後果歿。</p>
<p>護心散綠豆末（一兩）　明乳香（研半兩）</p>
<p>上煎生甘草湯調，時時與呷，使藥常在膈間。</p>
<p><u>五香連翹湯</u></p>
<p>乳香　木香　沉香　丁香　連翹　射干　升麻　黃　木通　獨活　桑寄生　甘草（各三分）</p>
<p>上水煎服。</p>
<p><u>愚按：</u></p>
<p>是方，說見前論。</p>
<p>凡癰疽，不可用生肌斂口之藥，合用麥飯石膏，瘡口自斂。或因毒藥，或為刀割，重者，兼服沉麝湯。</p>
<p><u>愚按：</u></p>
<p>前云凡瘡不可用收口藥者，恐毒瓦斯未盡，反助其惡。蓋肌肉，脾之所主，但托裡健脾，則余毒自解，瘡口自合。若毒發於外，氣血無虧，麥飯石膏亦可倚仗。若元氣虧損，必當補助其脾，禁用刀針，說見第四十三。</p>
<p><u>沉麝湯</u></p>
<p>木香　麝香　沉香　藿香　乳香　連翹（各等分）</p>
<p>上每服二錢，水煎。</p>
<p><u>五香去大黃加人參黃　犀角湯</u></p>
<p>木香　沉香　乳丁香（各五錢）　粉草　人參（各四錢）　黃　（一兩）　犀角末（二錢）</p>
<p>麝香（一錢）</p>
<p>上每服四錢，水煎。</p>
<p><u>漏蘆湯</u></p>
<p>黃　甘草　連翹　沉香　漏蘆（各五錢）　大黃（一兩微炒）</p>
<p>上每服二錢，薑棗水煎。</p>
<p><u>愚按：</u></p>
<p>三方詳見首論，其斂口之法，附見第三十三。</p>
<p><u>柞木飲子</u></p>
<p>　治一切癰疽，未成自消，已成自潰，甚效。</p>
<p>干柞葉（四兩）　萱草根　荷葉蒂　甘草節　地榆（各一兩）</p>
<p>上每服五錢，水煎，一碗作二服，早晚進。</p>
<p><u>愚按：</u></p>
<p>荷葉蒂去惡血，萱草解毒，柞葉善祛逐，地榆、甘草節清血消毒。</p>
<p><u>阿膠飲子</u></p>
<p>　治一切癰疽癤毒。</p>
<p>牛膠（銼蛤粉炒如珠）　粉草（各一兩）　橘紅（五錢）</p>
<p>上作三劑，水煎服。</p>
<p><u>牛膠飲</u></p>
<p>　截治癰疽，毒不內攻，不傳惡症，有益無損。</p>
<p>牛皮膠（用明者四兩）</p>
<p>上用酒一碗，重湯煮化服，加酒至醉，不能飲，加白湯。</p>
<p>愚按：二飲消毒，殊有良驗。</p>
<p><u>神仙黃礬丸</u></p>
<p>　服至一兩以上，最止疼痛，不動臟腑。</p>
<p>白礬（一兩明亮者研）　黃蠟（五錢黃色者溶開一方用七錢）</p>
<p>上丸桐子大，每服十丸，漸加至二十丸，熟水或溫酒送下，未破內消，已破自合。如服金石所致，更用礬末一兩，徐以溫酒送下。有人遍身生瘡，其狀如蛇頭，服此即效，但日服百粒，方能御毒，不致內攻。又治蛇咬，熔礬熱滴傷處，痛即止，毒即出。</p>
<p><u>愚按：</u></p>
<p>前法果有良驗，余常以白礬三錢為末，糊丸，以蔥湯連進二服，其功尤速，故名千金化毒湯。本用礬末，蔥湯調下，因末難服，故作為丸。此藥解金石，固臟腑，有益無損，用力少而成功多。偏僻之處，不可不知。</p>
<p><u>國老膏</u></p>
<p>　治一切癰疽，預服消腫逐毒，其功不能盡述。</p>
<p>粉草上以河水浸二宿，揉取汁，砂器煎膏，服一二匙，無灰酒或白湯下，最解丹毒。</p>
<p><u>愚按：</u></p>
<p>前方誠為解毒之劑，但元氣虛弱者，當深戒之。</p>
<p><u>萬金散</u></p>
<p>　治一切癰疽已潰未潰者。</p>
<p>栝蔞（一個杵細）　大甘草節（二錢）　沒藥（一錢研末）</p>
<p>上用酒二碗，煎一碗，去　，入沒藥服。</p>
<p><u>愚按：</u></p>
<p>前散有消毒破血之功，無腐潰生肌之力。</p>
<p><u>遠志酒</u></p>
<p>　治一切癰疽，因憂怒氣滯所致。</p>
<p>遠志（米泔浸洗去土去心）</p>
<p>上為末，每服三錢，酒一盞調和澄清飲之，　敷患處。</p>
<p><u>愚按：</u></p>
<p>遠志酒誠有解鬱消毒之功，而無托裡補益之效。</p>
<p>忍冬酒　治一切癰疽甚效，仍以麥飯、神異二膏敷貼。</p>
<p>忍冬藤（生取五兩）　大甘草節（一兩）</p>
<p>上用水二碗煎一碗，入無灰好酒一碗，再煎數沸去　，分三服，一晝夜用盡，病重晝夜兩劑，至大小便通利為度。另用忍冬藤一把爛研，入酒少許，敷四圍。</p>
<p>又水蓮四十九片，去毛，研細，酒解溫服，其功與忍冬草同。</p>
<p>又龍鱗薜荔一握，細研，以酒解汁溫服，利惡物為妙。</p>
<p><a href="_files/p04-a45a4.bmp">第四圖</a></p>
<p>紅內消用水砂器煎熟，入酒與藥相半，再煎數沸去　，時時服之，　焙為末，酒糊丸桐子大，每服三十丸，空心溫酒下，為常服之，蓋力輕故也。藥產建昌者良。</p>
<p><u>愚按：</u></p>
<p>前三藥，因其簡易，解毒而用之，略無內托之功也。若毒既去而真氣虛者，必須補托，以收全功。</p>
<h3>馬益卿先生癰疽論第十二</h3>
<p>論曰：夫人有四肢、五臟，一覺一寐，呼吸吐納、精氣往來、流而為榮衛，暢而為氣色，發而為聲音，陽用其形，陰用其精，此又常數之所同也。至其失也，蒸則生熱，否則生寒，結而為瘤贅，陷而為癰疽，凝而為瘡癬，憤則結癭，怒則結疽；又五臟不和，則九竅不通；六氣不和，則流結為癰。皆經絡澀滯，氣血不流暢，風毒乘之，而致然也。</p>
<p><u>愚按：</u></p>
<p>此論可謂善言人身之造化、瘡瘍之情狀者矣，治法當參詳前論。</p>
<h3>癰疽敘論第十三</h3>
<p>論曰：癰疽之症，若七情虧損，氣血經絡壅結而成者，屬內因。若六淫外侵，氣血受傷，寒化而為癰者，屬外因。若服丹石補藥、膏粱酒面、房勞所致者，屬內外因也。又曰：陰滯於陽則發癰，陽滯於陰則發疽，脈浮洪滑數為陽，沉緩遲澀為陰，陰則熱治，陽則冷治，初覺宜清熱拔毒，已潰宜排膿止痛，故用遠志、大黃、甘草，此三因之法也。治當寒者溫之，熱者清之，虛者補之，實者瀉之，導之以針石，灼之以艾炷，破毒潰堅，各遵成法，以平為期。</p>
<p><u>愚按：</u></p>
<p>前證脈沉實，大便秘結者，屬內因也，宜　利之；脈浮大，便調和者，屬外因也，宜托裡之；脈不浮不沉者，屬不內外因也，宜調和榮衛。此亦治三因法也。若　腫大痛，煩熱飲冷，大便秘結，脈洪數實者，為純陽，宜苦寒之劑清熱拔毒。若不腫不痛，瀉利不食，嘔吐足冷，是為純陰，宜辛熱之劑大補陽氣。不拘嚴寒盛暑，當舍時從症。若微腫微痛，似潰不潰，時出清膿者，為半陰半陽，宜辛熱之劑溫補胃氣，此亦治陰陽症法也。治驗詳見首論。</p>
<h3>《素問》良用要論第十四</h3>
<p>《素問》云：陽氣湊襲，寒化為熱，熱甚則肉腐為膿。凡發背多因服金石而發者，有因上代曾服而發者。其候多發於脾，起如栗，或痛或癢，多致不救。外面如拳（古人云：外面如麻，裡面如瓜），有數十孔，以手按之，諸孔出膿，尋時失喑。凡有此症，可用淨土，水調，量大小作餅，濃分許，以艾炷灸之。內服五香連翹湯，及鐵漿醋調蚌殼灰塗之，更以騎竹馬法灸之，甚良。</p>
<p><u>愚按：</u></p>
<p>前症仍參首論主治，恐其表裡熱毒之不同，元氣虛實之不一也。</p>
<h3>《千金》良用備要方論第十五</h3>
<p>《千金》云：癰疽始作，或大痛，或小痛，或發如米粒，即便出膿。宜急斷口味，利去其毒，用騎竹馬灸法，或就患處灼艾，重者四面中央，總灸一二百壯，更貼寒藥，其效甚速。</p>
<p><u>愚按：</u></p>
<p>前症若因元氣虧損，或因氣相滯而患者，更當調補其內。</p>
<h3>別脈辨證論第十六</h3>
<p>伍氏云：癰疽之疾，有二十余症，　發，痼發，石發，岩發，蜂窠發，蓮子發，椒眼發，連珠發，竟體發；有腸癰內發，腦背發，眉發腮頜發，肺癰，瓜瓠發。大率隨病淺深，內外施治，不可遲緩。初發如傷寒，脈浮而緊，是其候也。</p>
<p><u>愚按：</u></p>
<p>前症其名雖殊，處治之法，詳具各論，其肺癰、胃脘癰，別載《外科樞要》。</p>
<h3>癰疽脈症第十七</h3>
<p>陳無擇云：癰疽脈數，身無熱，反洒淅惡寒，若有痛處，乃發為癰。以手掩上，若熱者為有膿，不熱者為無膿，若脈不數不熱而痛者，發於陰也，尤為惡症。凡熱甚，脈數，用漏蘆散，並單煮大黃等湯。不甚熱，脈緩弱，投五香連翹湯。仍依四節八事次序三因以藥之，無有不濟者也。</p>
<p><u>愚按：</u></p>
<p>前症洒淅惡寒，有屬瘡之表邪者，有屬脾肺之氣虛者。若潰後　腫作痛，惡寒發熱，煩渴，脈數，乃真氣虛而邪氣實也，仍參詳首論主之。</p>
<h3>治癰疽用藥大綱第十八</h3>
<p>李氏云：余之所著方論，靡不周備，但欲使治者一一玩味，次第用之，無有不效。今略書用藥要領節次於後：一、初患癰疽，便服內托散，以免後來口舌生瘡，仍用騎竹馬或隔蒜灸。</p>
<p>一、服五香連翹湯，如大便疏快即止，仍量人虛實。</p>
<p>一、癰疽潰後，宜服排膿內補散，若嘔逆，用木香湯下。</p>
<p>一、癰疽初作，便宜灼艾，及麥飯石膏塗四圍，中留口出毒。如瘡小，通敷之，既潰，用神異膏貼之。</p>
<p>一、癰疽已潰，日用豬蹄湯淋洗，將愈之際，三日一次。</p>
<p>一、癰疽將斂，宜用神異膏，如毒未盡，不可遽用生肌之劑。</p>
<p>一、癰疽將安，宜用加味十全湯補其氣血，庶肌肉易生。</p>
<p>一、背疽多先渴而後發，或先疽而後渴，不救多矣。若服加減八味丸，非特杜絕渴疾，抑且大滋氣血，生長肌肉。</p>
<p><u>愚按：</u></p>
<p>前症及諸治法，各附四十七等論，當審用之。</p>
<p>一、癰疽嘔逆有二：一因初發不服內托散，伏熱在心；一因脾氣不正。若因伏熱在心者，心煩身熱，　腫作痛，宜用內托散三兩服。若因脾氣不正者，則不煩熱，或聞穢氣作嘔，宜用嘉禾散。如有寒熱，用不換金正氣散，五更初兼服山藥丸以補腎。</p>
<p><u>愚按：</u></p>
<p>前症治法，當與第十一論參看。</p>
<h3>論癰疽嘔逆症第十九</h3>
<p>李氏云：癰疽嘔逆，是毒瓦斯衝心，非脾胃之冷，當服內托散。楊氏云：鼻衄初愈，不曾表汗，毒在經絡，則背發大疽，自肩下連腰脅腫硬如石，其色紫黑，以涼藥投之，終夜大嘔，連進托裡散，嘔止瘡潰，赤水淋漓，四十日而愈。又有患　者，痛過徹嘔，服此即止。</p>
<p>今有病疽不服此藥者，故引楊氏之言，以解世人之惑。</p>
<p><u>愚按：</u></p>
<p>用藥之法，有是病必用是藥。但今之脾胃虛寒，氣逆痰滯而嘔吐者，十居八九；熱毒內攻而嘔吐者，十才一二。當參首論及第十一論主之。</p>
<h3>論癰疽之源第二十</h3>
<p>夫癰疽之源，因於氣，或因於熱。以仆之管見，亦有因於膏粱房勞、金石等藥。故治法，用綠豆、犀角、礬石、國老膏、追毒丸，其屬毒明矣。華佗《中藏》所言，是毒服宣熱敗毒之藥，不必疑矣。</p>
<p><u>愚按：</u></p>
<p>前症若因金石所致，元氣充實者，誠宜此法。若膏粱積熱，房勞過度，脾腎虧損者，當滋其化源，不可拘執。</p>
<h3>華佗論癰疽瘡腫第二十一</h3>
<p>夫癰疽瘡腫之作，皆五臟六腑蓄毒不流，非獨因榮衛壅塞而發也。其行也有處，其主也有歸。假令發於喉舌者心之毒；發於皮毛者肺之毒；發於肌肉者脾之毒；發於骨髓者腎之毒；發於下者，陰中之毒；發於上者，陽中有毒；發於外者，六腑之毒；發於內者，五臟之毒。故內曰壞，外曰潰，上曰從，下曰逆。發於上者得之速，發於下者得之緩。感於六腑則易治，感於五臟則難瘳。又近骨者多冷，近膚者多熱。近骨者久不愈，則化成血蟲；近膚者久不愈，則傳氣成漏。成蟲則多癢少痛，或先癢後痛，成漏則多痛少癢，或不痛不癢，內虛外實者，多痛少癢，血不止則多死，潰膿則多生。或嘔逆無度，飲食無時，皆癰疽使然。症候多端，要當詳治。</p>
<p><u>愚按：</u></p>
<p>瘡瘍生蟲，乃肝經風熱；其成漏，乃元氣虛弱；其出血，乃脾虛有火；其潰膿，乃元氣充實。至於嘔逆等症，屬脾胃虧損所致，當調補元氣，庶保無虞。</p>
<h3>論背疽其源有五第二十二</h3>
<p>一、天行，二、瘦弱氣滯，三、怒氣，四、腎氣虛，五、飲冷酒，食炙爆，服丹藥。</p>
<p><u>愚按：</u></p>
<p>前症所因雖殊，其治法亦當別經絡、陰陽、虛實、表裡、腫潰，以助胃壯氣為主，使根本堅固，庶保無虞。</p>
<p>追毒丸　六味車螫散轉毒散　止痛靈寶散單煮大黃湯　神效麻仁丸神仙截法　清心內固散秘傳連翹湯　清膻竹葉湯千金漏蘆湯　豬蹄湯神硝散　不換金正氣散聖效散　梔子黃芩湯神仙陷脈散　加減八味丸右方見中卷　忍冬丸麥飯石膏　黃　六一湯神異膏　桑枝湯神驗血竭膏　五味子湯壓熱神白膏　加味十全湯牡蠣地黃膏　人參內補散大川烏丸　神效托裡散二烏丸　內補十宣散蚣蠍散　人參順氣散琥珀犀角膏　茯苓開胃散犀角散　陷脈散內托黃　丸　桂附丸神效栝蔞散　托裡散立效散　清涼膏獨聖散　碧油膏梅花散　神效酒煎散替針丸　蜞針法綠云散　癰疽經驗雜方宜毒散　甲疽代指嵌甲方小五香湯　金瘡竹木湯火傷方塞裡散　上方見下卷</p>
<h2>卷中</h2>
<h3>癰疽分表裡證論第二十三</h3>
<p>伍氏曰：癰疽皆因喜怒不測，飲食不節，陰陽不調，臟腑不和，腠理不密，寒氣客於經絡。或榮血受寒，則澀而不行，衛氣從之，與寒相搏，壅遏不通。或陽氣蘊積，則生寒熱，寒熱不散，皆致前證。又曰：五臟六腑俞穴皆在背，凡患瘡症，易傷臟膜，多致不救。腑氣浮，行於表，故癰腫浮高為易治；臟血沉寒主裡，故疽腫內陷為難治。又曰：癤者節也，癰者壅也，疽者沮也，一寸至二寸為癤，三寸至五寸為癰，五寸至一尺為疽，一尺至二尺為竟體疽。若脈洪數者難治，脈微澀者易治。初覺宜清熱拔毒，已潰則排膿止痛，膿盡則長肌敷痂，當酌量輕重、形證順逆而審治之。</p>
<p><u>愚按：</u></p>
<p>前症，若飲食少思，用六君子湯以補脾胃；如不應，加薑、桂以溫補之，使邪氣自退。其不起者，由邪氣盛，正氣虛，不能發也，於旬日之外見之。若已發出，用托裡消毒散以壯元氣，助令潰腐；不應，須溫補脾胃。其不起者，由真氣虛，不能潰也，於二旬之外見之。若已腐潰，用托裡散以補氣血，生肌肉；不應，當專補脾胃；又不應，須溫補脾胃。</p>
<p>其不起者，乃脾氣虛，不能收斂也，於一月之外而見之。凡此治法，竊嘗用驗，詳具首論。</p>
<h3>察疽發有內外之別第二十四</h3>
<p>李氏云：疽初發一粒如麻豆，發熱腫高，熱痛色赤，此為外發。勢雖熾盛，治得其法，可保其生。若初時不發熱，體倦怠，患處如故，數日不腫痛，五內已壞，雖有盧扁之藥，亦未如之何矣。</p>
<p><u>愚按：</u></p>
<p>前症，有因元氣虛而不能發出者，有因敷貼寒藥而不能發出者，有因攻伐過傷氣血而不能發出者，有因熱毒內蘊而失疏托者，審而治之，多有生者。</p>
<p><u>附治驗</u></p>
<p>進士申天益，臂患癰，寒熱頭痛，形氣虛弱，此手足陽明經風邪之症。用桔梗升麻湯二劑，外邪頓散。用托裡消毒散二劑，腫痛頓退。乃用補中益氣湯調理，形氣漸復而愈。</p>
<p>秋官錢可容，腹患癰，　腫作痛，煩渴飲冷，大便不通，脈沉數實，此熱毒蘊於內。用清熱消毒散加大黃二錢一劑，諸症悉退。但形氣頓虛，用托裡消毒散去金銀花、白芷，倍加參、　、歸、朮而安。</p>
<p>一男子股內患毒，欲求內消。其脈滑數，膿已成矣，因氣血虛而不潰，遂刺之，膿出作痛。以八珍湯治之，漸可。但膿水清稀，更以十全大補東加炮附子五分，數劑漸愈，乃去附子，又三十余劑而愈。</p>
<p>一童子腋下患癰，久不斂，膿清脈大，怠倦懶食，自汗口乾。用內補黃　湯及豆豉餅，兩月而愈。凡瘡潰而膿清，或瘡口不合，或聚腫不潰，肌寒肉冷，自汗色脫者，皆氣血虛極也，非大溫補不可。</p>
<p>一男子肩患毒，　痛飲冷，煩躁便秘，脈數而實。以清涼飲二劑，少愈；以金銀花散四劑，悉退；又以十宣散去桂加天花粉、金銀花數劑，瘡潰而痊。此脈與症皆屬有餘也。</p>
<p>一男子背瘡潰而瘀血不散，此陽氣虛弱也。用參、　、歸、朮峻補，更以桑枝灸，又用托裡散加肉桂，瘡口自斂。此補接陽氣之法也。</p>
<p>上舍毛體仁，素陰虛，春初咳嗽，胸中隱痛，腎脈洪數，肺脈數而時不見。余曰：內當結癰，先用六味地黃丸料一劑服之。翌早來謂余曰：昨得良劑，嗽愈六七，務求一方，到監調理。余曰：此陰火上炎，患癰之症，第因元氣虛弱，未能發出。因其易忽，余辭不能。乃別用降火化痰等劑，愈甚。月余復請診之，脈洪滑而數。余曰：膿已成矣，當請常治者同議針之，且免內潰之患。仍不決。又月余請視，他醫已先開瘡孔偏上，兜膿不出，仍內潰，脈愈洪大。余曰：脈洪滑而數，視其舌青黯，五內已壞，無能為矣。後果然。</p>
<h3>辨癰疽陰陽淺深緩急治法第二十五</h3>
<p>曾氏云：凡癰疽其脈浮數洪緊，腫　作痛，身熱煩渴，飲食如常，此六腑不和，毒發於外而為癰。其勢雖急，投以涼劑，多保全生。其脈沉細伏緊，初發甚微，或無瘡頭，身不熱而內躁，體重煩疼，情緒不樂，胸膈痞悶，飲食無味，此五臟不和，毒蓄於內而為疽。急投五香連翹湯，甚者轉毒散、神仙截法、黃礬丸、國老膏，防托毒瓦斯，免致變症內攻，尤宜當頭隔蒜灸。若塗毒藥，迷其腠理；投諸涼藥，虛其真氣。故其善惡之症，在乎醫之工拙耳。</p>
<p>或氣噫痞塞，咳逆身冷，自汗，目瞪耳聾，恍惚驚悸，語言顛倒，皆惡症也。五善見三則瘥，七惡見四則危，五善並至則善無以加，七惡並臻則惡之劇矣。</p>
<p><u>愚按：</u></p>
<p>前症善者乃五臟未傷，病微邪淺，使能慎起居，節飲食，勿藥自愈。惡者乃五臟虧損之症，前哲雖云不治，若能補其脾胃，固其根本，多有可生者，豈可以其惡而遂棄之耶。</p>
<p><u>附治驗</u></p>
<p>鄰人蘇子遇之內，左手指患疔，麻癢，寒熱惡心，左半體皆麻，脈數不時見。余曰：凡瘡不宜不痛，不可大痛，煩悶者不治，今作麻癢，尤其惡也。用奪命丹二服，不應，又用解毒之劑，麻癢始去，乃作腫痛。余曰：勢雖危，所喜作痛，但毒瓦斯無從而泄。欲針之，適值望日，其家俱言尻神，不從，勢愈腫甚。余強針之，諸症頓退，又用解毒之劑，其瘡全愈。</p>
<p>辛丑孟夏，余至四明，有屠壽卿氏，當門齒忽如所擊，痛不可忍，脈洪大而弦。余曰：弦洪相搏，將發瘡毒也。先用清胃散，加白芷、銀花、連翹一劑，痛即止。至晚，鼻上發一瘡，面腫黯痛，用前藥加犀角一劑，腫至兩額，口出穢氣，脈益洪大，惡寒內熱，此毒熾血瘀，藥力不能敵也。乃數砭患處出紫血，服犀角解毒之劑，翌日腫痛尤甚，乃砭患處與唇上，並刺口內赤脈，各出毒血，再服前藥至數劑而愈。</p>
<p>一婦人背患流注，內潰脹痛，服流氣化痰之劑，自汗盜汗，脈大而弱，此元氣虧損之症也。與參、　各一兩，歸、朮各五錢，肉桂二錢，服而針之。至夜半，始出稀膿二碗許。翌日大汗倦甚，煩熱作渴，揚手氣促，脈洪大而數。仍用前藥加附子一錢，炙甘草二錢，二劑，脈症悉退。又以六君加薑、桂二十余劑，始離床褥。後因勞復，寒熱作渴，汗出，時仲冬，寢幃氣出如霧，用十全大補加桂、附，二劑而痊。</p>
<p>中翰鄭朝用，疽潰發熱吐痰，飲食無味，肌肉不生，瘡出鮮血。余曰：此脾氣虧損，不能攝血歸源也，法當補脾。彼不信，用消毒涼血之劑，加惡寒嘔吐，始悟余言，用六君加炮薑、半夏、茯苓，數劑諸症悉退。又用十全大補，瘡口漸斂。後因飲食稍多，泄瀉成痢，此脾胃虛寒下陷，用補中益氣，送四神丸，而痢止，繼以六君子湯而瘡愈。</p>
<p>一婦人，癸卯冬，失物發怒，缺盆內微腫。甲辰春，大如覆碗，左肩胛亦腫，肉色如故。或針出鮮血三碗許，腹痛如錐，泄瀉不止，四肢逆冷，嘔吐惡寒，或時發熱，絕食已七日矣，其脈洪大，時或微細，此陽氣脫陷也。用六君加炮薑三錢、附子二錢，早服，至午不應，再劑加附子五錢，熟睡覺來，諸症頓退六七，少進稀粥。再四劑，諸症悉退，飲食如故，缺盆始痛。針出清膿二碗許，諸症復至，此虛極也。以十全大補加薑、桂、附各一錢，三劑而安。後減乾薑、桂、附各五分，與歸脾湯，兼服五十余劑而愈。</p>
<p>一男子，背瘡漫腫微痛，食少體倦。余曰：症屬形病俱虛，法當補元氣為主。彼不信，乃用攻毒之劑，中央肉黯五寸許，惡症悉具，復求治。余曰：此胃氣虛寒，而變症作矣，當急溫補脾胃，則惡症自退，黯肉自生。仍不信，乃割死肉，祛惡症，遂致不起。</p>
<p>毛礪庵側室，肚患癰月余矣，色黯不腫，內痛作嘔，飲食不入，四肢逆冷，其脈或脫絕或浮大，雜用定痛敗毒之劑。余曰：此氣血俱虛而作痛，內決無膿，不治之症也。強用大溫補之藥二劑，痛止，色赤，飲食少進。余謂但可延日而已。人皆以為有膿，復強針之，又用大補之劑，始出清膿少許。眾仍以為毒結於內，用攻膿保其必生，殊不知乃速其死耳，惜哉！</p>
<h3>論善惡形症第二十六</h3>
<p>問曰：五善七惡，可得聞乎？曰：飲食如常，一善也；實熱而大小便澀，二善也；內外病相應，三善也；肌肉好惡分明，四善也；用藥如所料，五善也。渴發而喘，眼角向鼻，大小便反滑，一惡也；氣綿綿而脈濡，與病相反，二惡也；目不了了，睛明內陷，三惡也；未潰肉黑而陷，四惡也；已潰青黑，腐筋骨黑，五惡也；發痰，六惡也；嘔吐，七惡也。</p>
<p><u>愚按：</u></p>
<p>善惡形症治法見附錄。</p>
<h3>論生死形症第二十七</h3>
<p>問曰：病有甚而至生，有微而至死，病症難辨，死生何從決乎？答曰：發背潰透內膜者死（此言肝俞以上）；未潰內陷、面青唇黑、便污者死（此言臟壞便瘀血）；潰喉者不治；陰患入腹者不治；入囊者不治；鬢深數寸者不治，在頤後一寸三分名銳毒，亦不治。無此者生。</p>
<p>流注雖多，療之必愈。</p>
<p><u>愚按：</u></p>
<p>前症有因元氣虛弱而毒瓦斯內陷者，有因初作，失於內　托裡，和榮衛者，有因毒盛失於消解者，有因虛弱失於補托者，有因膿成失於針刺者，有因腐潰失於補養者。若發背腦疽，屬濕熱上壅者，黃連消毒散、補中益氣湯以除濕毒，補脾肺滋腎水。若鬢疽銳毒，屬風熱者，柴胡山梔散以清肝火，養肝血，若陰虛，用六味地黃丸以生腎水，滋化源；若患於小腹，補足三陰之血，養脾胃之氣　庶可保其生也。其流注之症，或因飲食勞倦，房室陰虛，或七情內動，六淫外侵，以致血虛，互相凝滯，或產後血瘀，隨虛流注，或結塊，或漫腫，宜用益氣養榮湯以固元氣，佐以蔥熨解散凝滯，更以豆豉餅祛散寒邪，潰久內有瘀肉，用針頭散腐之，多有生者。設若不守禁調攝，多致不起，慎之！</p>
<h3>形症逆順務在先明第二十八</h3>
<p>論曰：癰疽潰後，形有逆有順。白睛黑小，一惡也；不能下食，納藥而嘔，食不知味，二惡也；傷痛渴甚，三惡也；體項不便，四肢沉重，四惡也；聲嘶色脫，唇鼻青黑，面目浮腫，五惡也；煩躁時嗽，腹痛渴甚，瀉利無度，小便如淋，六惡也；膿血大泄，腫痛尤甚，膿色敗臭，七惡也；喘粗氣短，恍惚嗜臥，八惡也；未潰黑陷，面青唇黑，便污，九惡也；氣噎痞塞，咳嗽身冷，自汗無時，目瞪耳聾，恍惚驚悸，語言顛倒，十惡也。又腦為諸陽所會，頸項近咽喉、腎俞，皆致命之所，俱不可灼艾。</p>
<p><u>愚按：</u></p>
<p>前症未潰黑陷，面青唇黯，便污者，臟腑內潰之惡症也。氣噫痞塞，咳嗽身冷自汗者，脾肺虛敗之惡症也。不食便瀉、腸鳴耳聾、目瞪者，脾腎虛敗，傳變之惡症也。治法詳見附錄。</p>
<p><u>審內症用藥附</u></p>
<p>自瀉嘔吐，不進飲食，腎脈最虛，如是之疾，古人皆以為不治，然亦有救療之理焉耳。</p>
<p><u>愚按：</u></p>
<p>前論發《內經》之微旨，開萬世之聾聵，其惠博矣。此症實命門火衰，不能生脾土而虛寒，以致自瀉嘔吐，或胸膈不利，或食而不化，或大便不實，宜用八味丸及六君子，加薑、附。若因房勞過度，真陽衰敗，或原稟不足，不能生脾土，而飲食不進者，用補中益氣加附子、薑、桂，並東垣補真丸，多有得生者。若用參、苓之類直補脾胃，鮮有不誤。若或以為毒瓦斯內攻而治者，俱致不起。</p>
<p><u>附治驗</u></p>
<p>通府李廷儀，患流注，唾痰氣促。自恃知醫，用化痰理氣等劑，膿水淋漓，腫硬不消，寒熱往來，飲食少思，肌肉消瘦，大便不實，手足時冷，兩尺脈浮大，按之微細。余曰：此屬命門火衰，當用八味丸。不信，乃服參、　、歸、朮之類，更加痰喘、泄瀉。服八味丸、益氣湯，年余而痊。</p>
<p>御醫王介之室，背疽不起發，不　赤，泄瀉欲嘔，飲食少思，手足厥冷，脈息如無，此陽氣虛寒。用大補之劑，加附子二錢、薑、桂各一錢，不應。附子加至三錢，二劑，泄瀉愈甚。又以附子一枚，薑、桂各三錢，參、　、歸、朮各五錢，作一劑，腹內始熱，嘔吐始止，手足始溫，脈息始復。仍用大補加薑、附，四劑乃潰，三十劑得愈。六年後，仍歿虛寒之症。</p>
<p>大尹陳國信，素陰虛，背患疽。用參、　大補而不斂，內熱發熱，舌燥唇裂，小便頻數，口乾飲湯，嘔吐瀉利，耳閉目盲，仰首眩暈，脈浮大而數。余曰：瘡口不斂，脾土敗也。舌燥唇裂，腎水枯也。小便頻數，肺氣衰也。內熱發熱，虛火上炎也。口乾飲湯，真寒之象也。嘔吐瀉利，真火衰敗也。耳閉目盲，肝木枯敗也。仰首眩暈，腎氣絕也。辭不治，後果歿。</p>
<p>一男子患癰，腫硬不潰，脈弱時嘔。彼欲用敗毒等藥，余謂腫硬不潰，乃陽氣虛弱，嘔吐少食，乃胃氣虛寒，法當溫補脾胃。大抵腫赤痛甚，煩躁脈實而嘔為有餘，當下之，腫硬不潰，脈弱而嘔為不足，當補之。若痛傷胃氣，或感寒邪穢氣而嘔者，雖腫瘍猶當助胃壯氣。彼不信，仍服攻伐之藥，而果歿。</p>
<h3>發背治貴在早論第二十九</h3>
<p>伍氏曰：夫癰發背者，皮薄腫高，多有椒眼數十粒。疽發背者，皮膚頑硬，壯如牛頸之皮，二症皆宜灼艾。癰成膿則宜針。其針當以馬銜鐵為之，形如薤葉樣，兩面皆利，可以橫直裂開五六寸許，取去毒血，其病頓輕，須先灸而後裂。可服神仙追毒丸，利去毒根，次服排膿托裡等藥調治。疽成膿則宜烙，用銀篦大寸許，長六寸，燒赤頻烙患處，以膿出為效。</p>
<p>大抵癰疽難於諸科，非心傳契妙，其可以易治耶。</p>
<p><u>愚按：</u></p>
<p>前症，若氣血充實，其膿既成，宜速針之，勿藥可愈。若氣血虧損，膿不能出，成膿出反痛，須托裡養胃，庶保終吉。詳見第四十。</p>
<h3>瘡出未辨用津潤墨圍論第三十</h3>
<p>伍氏曰：但覺背兩胛間赤癢腫痛，或有白粒，且以津唾時潤令濕，切勿抓破。大抵在背微有赤腫點，或因抓破入浴犯水，或因飲酒膾炙而作，初未辨症，且以津潤，時用墨圍之。</p>
<p>若腫赤，急就圍中灼艾最善。人皆疑以火熱太過，多致延漫，誤者眾矣。</p>
<p><u>愚按：</u></p>
<p>疽發背胛，若有瘀肉腐爛，膿水淋漓，腫痛仍作者，此處有筋一層間隔，內膿不出故也，宜用針引之。老弱者若待其自潰，多致不救，治者審之。</p>
<p><u>附治驗</u></p>
<p>水部曹文兆，背胛患之，半月余，瘡頭如粟且多，內痛如刺，其脈歇止。此元氣虛而疽蓄於內，非灸不可。遂灼二三十余壯，余以六君加藿香、歸數劑，瘡勢漸起，內痛頓去，胃脈漸至。但瘡色紫，瘀肉不潰，此陽氣虛也。燃桑枝灸患處，以解散其毒，補接陽氣，仍以前藥，加參、　、歸、桂，色赤膿稠，瘀肉漸腐，兩月而愈。夫邪氣沉伏，真氣怯弱，不能起發，須灸而兼大補。若投以常藥，待其自潰，鮮有不誤者。</p>
<p>上舍陳履學之內，先從左肩下一點寒，三日後，右肩下發一白腫如甌，中紅如酒盞，自用消解涼藥一劑不散，次投十宣散四劑，加痛略紅，次連投參、　、丁、桂、防、芷之劑，膿潰後，惡心嘔吐，頭暈不止，厥逆寒戰，鼓牙，虛汗，頂平膿清，此投解散涼劑之誤。急洗去圍藥，投以參、　、歸、朮、地黃、薑、附大劑一服，原從左肩下舊寒一點先熱起，又進一服，遍腫浮熱，腫高膿稠。兼　烏金膏，數日出腐筋如脂膜大小數片。日進前藥二服，參、　投至八錢，逾兩月始安。愈後時以勞厥，即投參、　、歸、朮、薑、附大劑乃蘇。</p>
<h3>看色灼艾防蔓論第三十一</h3>
<p>伍氏曰：瘡腫赤色，按之色不變者，此膿已成矣。按之隨手赤色者，其亦有膿也。按之白者，良久方赤，此游毒已息，可就赤白盡處灸斷，赤腫自消。凡癰疽，以手按之，若牢，未有膿也。若半軟半　，已有膿也。又按腫上，不熱者為無膿。熱甚者為有膿，宜急破之。</p>
<p><u>愚按：</u></p>
<p>瘡瘍毒瓦斯已結而不發者，法當補其血氣，使膿速成而針之。其膿既潰，宜培養脾胃以生肌斂口。大凡瘡瘍膿血既潰，當大補血氣為先，雖有他症，當以末治。</p>
<p><u>附治驗</u></p>
<p>二守施希祿，項患毒，膿已成，因畏針，　延至胸，色赤如霞，其脈滑數，飲食不進，月余不寐，肢體甚倦。此氣血虛，而不能潰也。余針之，腫出即睡，覺而思食，用托裡藥，兩月而愈。</p>
<p>州守胡延器，膿熟不潰，倦怠發熱。余為針之，膿遂涌出，已而發熱惡寒，大渴不止，此虛之極也。服人參黃　湯二劑，熱愈甚，又二劑始應。再以當歸補血湯數劑漸痊。</p>
<p>一老人，腿患癰，膿自潰，忽發昏瞀，脈細微，此血虛極也。以大補之劑而蘇。</p>
<p>一弱人，流注內潰，出敗膿五六碗，是時口眼歪斜。以獨參東加附子二錢，二劑少愈，更以十全大補之劑，月余而痊。大抵瘡瘍膿血既泄，當大補氣血為先，雖有他症，當以末治之。</p>
<h3>論瘡口冷澀難合第三十二</h3>
<p>治癰久不合，其肉白而膿少者，此氣血俱虛，不能潮運，而瘡口冷澀也。每日用艾葉一把煎湯，避風熱洗，及燒松香煙熏之，更以神異膏貼之，必須守禁調理，否則不效。</p>
<p><u>愚按：</u></p>
<p>前症，果因寒邪凝滯氣血，不能榮衛，宜用斯法祛散寒邪，補接陽氣，其功甚大。</p>
<p>若因血氣虛弱，不能潮會瘡口，必用補脾胃生氣血為善。丹溪先生云：諸經惟少陽、厥陰之生癰疽，宜預防之，以其多氣少血也。血少而肌肉難長，瘡久未合，必成敗症。苟反用驅利毒藥，以伐其陰分之血，禍不旋踵矣。</p>
<p><u>附治驗</u></p>
<p>地官李孟卿，環跳穴患疽，內服外敷，皆敗毒寒劑，因痛極刺之，膿瘀大泄，瘡口開張，其色紫黯，右關脈浮大。此胃氣復傷，不能榮於患處也。余以豆豉餅、六君子加藿香、砂仁、炮薑數劑，由是胃氣醒而飲食漸進，患處暖而肌肉漸生，再以十全大補湯而愈。</p>
<p>大尹都承慶，患附骨疽，內痛如錐，外色不變，勢不可消。喜其未用寒劑，只因痛傷胃氣，而不思飲食，用六君子湯治之，飲食少進。更以十全大補，二十余劑而膿成，針去。仍以大補湯倍用參、　、歸、朮，加麥門、五味、遠志、貝母，數服，膿漸止，而瘡亦愈。按二症，蓋因濕熱滯於肉理，真氣不能運化。其始治宜實脾土，和氣血，隔蒜灸，而疽自消矣。</p>
<p><u>治背疽糝藥方</u></p>
<p>李氏云：龍游有患背疽者，大潰，五臟僅隔膜耳，自謂必死，用鯽魚去腸，實以羯羊糞，烘焦為末，干糝之，瘡口自收。此出洪氏方，屢用有效，故附於此，須候膿少欲生肌肉時用之。</p>
<p><u>附治驗</u></p>
<p>黃汝耘，患發背，用生肌藥益潰，大便泄瀉，其脈微緩。余謂脾胃虛，先用二神丸以止其瀉，次用大補藥以固其本，更用豬蹄湯洗患處，用黃　末以塗其外。喜其初起曾用艾灸，毒不內攻，兩月而愈。</p>
<p>許鴻臚，發背十余日，腫硬木悶，肉色不變，脈沉而實，此毒在內。先以黃連內　湯，更以消毒托裡藥，其毒始發。奈欲速愈，急用生肌藥，患處如負石，身如火　，遂致不起。</p>
<h3>用藥溫涼須防秘泄論第三十三</h3>
<p>伍氏曰：凡瘡家皆宜宣去其毒，蕩滌陳　，宜用神仙追毒丸、六味車螯散、五香連翹湯、千金漏蘆湯，更當詳辨稟賦強弱，臨時加減。大抵治瘡要法，須臟腑堅而不秘，通而不泄，真氣不耗，邪無所留。如秘結，神效麻仁丸。凡瘡潰後，尚覺虛熱，可與五香東加大黃、朴硝。且如治瘡溫藥，先用桂以通血脈，宣導百藥、冷藥，必用地黃補不足，益氣填髓。近用乳香散。乳香消毒，綠豆清熱，真良藥也。</p>
<p><u>愚按：</u></p>
<p>大腸秘結，果因血燥，胃氣不虛，最宜前藥。若因精血枯涸，用八珍、桃仁、麻仁。其潰後發熱，若因氣虛，用四君、黃　、當歸；血虛用四物、白朮、茯苓；氣血俱虛，用八珍、黃　；若大便秘，小便赤，用四物、麥門、五味；如不應，急用加減八味丸或六味丸；若下後元氣傷而發熱，用六君當歸，胃氣虛而發熱，用補中益氣湯。大凡二便，肝腎主之。經云：腎主五液，開竅於二陰。若津液滋潤，大便通利；若津液不足，必因脾氣虧損，當培養化源。</p>
<p><u>附治驗</u></p>
<p>儒者顧大有，年幾六旬，仲冬背疽初起入房，患處黑死五寸許，黯暈尺余，漫腫堅硬，背如負石，發熱作渴，小便頻數，兩耳重聽，揚手露體，神思昏憒，脈沉而細，右手為甚，便秘二十七日，計進飲食百余碗，腹內如常。眾欲通之，余曰：所喜者此耳，急用大劑六君加薑、附、肉桂，三劑瘡始　痛。自後空心用前藥，午後以六味丸加參、　、歸、朮五劑，復用活命飲二劑，針出黑血甚多，瘀膿少許，背即輕軟。仍用前藥，便亦通利。余他往四日，神思復昏，瘡仍黑陷，膿水淋漓，飲食不進，急以歸、朮各一兩，炮附子五錢，薑、桂各三錢服之，即索飲食，並鴨子二枚，自後日進前藥二劑，肉腐膿潰而愈。錦衣傅允承母，年逾七十，腰生一　，作癢異常，脈浮數而反惡寒。余曰：此瘡疽之症也，未潰而先弱，何以收斂，況大便不通，則其氣已竭，治之無功。其子懇請，不得已，用六君加藿香、神麯，數劑，飲食漸進，大便始通。更用峻補之劑，潰而膿清，作渴，再用參、　、當歸、麥門、五味、熟地而渴止。允承喜曰：吾母可無虞矣！余曰：尚難收斂，先日之言也。彼疑，遂速他醫，卒致不起。</p>
<h3>生白痂切護勿觸論第三十四</h3>
<p>伍氏曰：癰潰之後，敗肉漸去，新肉漸生，日見堆阜，方成白膜新肉，當滋養平復無虞。大凡瘡口未可速合，日用豬蹄湯洗去惡濁，外敷生肌膏、神異膏，毒膿出盡，可用聖效散以合瘡口，更慎起居，節飲食，戒七情，否則虛症蜂起，多致不救。慎之！</p>
<p><u>愚按：</u></p>
<p>前症，敗肉去而新肉生者，須先微赤，四沿漸生白膜者，此胃中生氣也，用四君子湯以培補之。若赤甚者，血虛而有火也，用四物加參、　、白朮以調補之，若赤而不生膜者，氣虛也，用四君加當歸、黃　，若色白而無神者，氣血俱虛也，用十全大補加薑、桂。</p>
<p>如不應，急加附子。大凡瘡疽潰後，敗肉漸去，新肉漸生，此乃脾胃之氣充實也。若惡濁已一去，宜用當歸膏。</p>
<h3>體察愛護論第三十五</h3>
<p>伍氏曰：癰疽一症，病患當自體察。凡初作，先以墨圍患處，卻視浮沉聚散，膿出視其多少，肉生視其闊狹，飲食視其美惡，臟腑防其秘泄，瘡口防其奢裂。宜戒怒節勞，調補元氣，保愛體察，慎不可忽。</p>
<p><u>愚按：</u></p>
<p>前論，即丹溪先生所云，癰疽當先助胃壯氣，使根本堅固。東垣先生教人以飲食有節，起居有時。素問反復言之，可不慎哉。太凡泄瀉，易損元氣，腫瘍犯之，不能成膿，潰瘍犯之，不能生肌，患者慎之。</p>
<p><u>附治驗</u></p>
<p>太守朱陽山之內，年五十二，四月四日，背當心生疽如栗，三日漸大，根盤五寸許，不腫痛，不寒熱，脈微而沉。余曰：實則痛，虛則癢，不發不治，潰而不斂亦不治。乃與大補陽氣之劑，色白而黯，瘡勢如故，神疲食減，小便淋澀。乃與大補氣血，加薑、桂二劑，瘡亦不起。十五日涉怒嘔瀉並作，復與大補藥一劑，瘡仍不起，留前藥二劑，昏憒不服。或勸之，省悟，依方連進七劑，十六日瘡起而潰，色紅而淡。十九日與大補二十余劑，後因勞自汗，口乾舌強，太陽發際、腦頂俱脹，此血氣俱虛，肝膽火上炎，用補中益氣加山梔、芍藥，頓愈。但內熱少睡，手足發熱，不時霍熱，用逍遙散加山梔，熱退，復用歸脾湯，瘡亦愈。計瘡發及斂，凡四十二日，未嘗一用攻瘡之藥。</p>
<p>江陰舉人陳鳴岐，寓京患背疽，用大補之劑而愈。翌日欲回，先期設席作謝，對談如常。是晚得家信，大拂其意，惱怒發熱作渴，食梨子少許，至夜連瀉數次，早促余視，脈已脫矣，竟至不起。夫梨者，利也，　利下行之物，凡脾胃虛寒，產婦金瘡者，皆當忌之。</p>
<h3>用香藥調治論第三十六</h3>
<p>伍氏曰：氣血聞香則行，聞臭則逆。大抵瘡瘍多因營氣不從，逆於肉理，郁聚為膿，得香味，則氣血流行。故當多服五香連翹湯、萬金散、金粉散。凡瘡本腥穢，又聞臭觸則愈甚，若毒入胃則咳逆，古人用之，可謂有理。且如飲食調令香美以益脾土，養其真元，可保無虞矣。</p>
<p><u>愚按：</u></p>
<p>前症說見第十八、十九。</p>
<h3>飲食居處戒忌第三十七</h3>
<p>李氏云：病疽之人，當戒酒面炙爆腌臘法酒、生冷油膩雞鵝魚腥之類，起居七情，尤當深戒。臥室潔淨馨香，使氣血流暢，仍忌僧道孝子、產婦經婦、雞犬貓畜。若背疽難於隱幾，宜用綠豆十斗作一袋，隱伏其上，解毒涼心也。</p>
<p><u>愚按：</u></p>
<p>前論，慎起居，薄滋味，恐病者好動四體，甘嗜性熱性寒之物，使火益熾而胃氣益衰，則所患淹滯不愈，又誰咎哉？不若預為之防，當以古人之言為戒。如綠豆性寒，主丹毒煩熱風疹，或金石所發，實熱煩渴，飲食如常，症屬純陽者宜用，否則不可用也。</p>
<h3>論醫者更易良方第三十八</h3>
<p>李氏云：常見世間醫者，每有妙方，秘而不傳，或更改以惑人，誠可惡也。余思西華麥飯石膏，守死不傳，其立心私刻，君子責之矣。昔趙公宣教，字季修，來宰龍泉，兼程而進，患鼻衄，日出數升，時家兄教以服藕汁地黃膏。趙叩諸醫云，此為戒服之劑，乃數易醫無效。家兄陰饋前汁，服三日而疾愈。兄曰：此即前所獻之方。趙驚嘆曰：向非醫者譎計以惑我，早信此方，豈久受困耶。今以屢試屢驗，不可易者，如因熱毒衝心而嘔，用內托散（一名萬全散）；因脾胃虛弱而嘔，嘉禾散；熱毒腫痛，麥飯石膏；陰虛作渴，加減八味丸。</p>
<p>此四方屢為醫人眩惑，使人勿用，深憫患者之受苦，故舉趙公之事以例之。</p>
<p>愚竊以為方者，仿也，仿病因以立方，非謂《內經》無方也。若執古方以治今疾，猶拆舊宇以對新宇，其長短大小，豈有舍匠氏之手，而能合者乎？設或有合，以為亙古不易之方，此又先王普濟之神術，奚必秘而私之耶。余觀太無先生，治滇南一僧，遠游江浙，思親成疾；先生惠之以飲食藥餌，復贈金一鎰以資其歸，此固我醫道之當然也。今之醫者，或泥古，或吝秘，或嗜利以惑人，其得罪於名教多矣。</p>
<p><u>神仙追毒丸</u></p>
<p>（一名聖後丹，一名玉樞丹，又名解毒丹，又名萬病丸，又名紫金錠。）</p>
<p>治症見後。</p>
<p>文蛤（即五倍子槌破洗焙末三錢）　山茨菇（去皮淨末二兩）　麝香（三錢另研）　千金子（一名續隨子去殼研去油取霜一兩）　紅牙大戟（去蘆焙乾末一兩半）</p>
<p>上用糯米煮濃飲為丸，分為四十粒，每服一粒，用井花水或薄荷湯磨服，利一二次，用粥止之。合時用端午、七夕、重陽，或天德月德日，須淨室焚香修置，效驗不可盡述。凡人出入，不可無此藥。兩廣山谷間有草曰胡夢，又曰斷腸，亦有感蛇毒致生惡菌，名為定年藥。有淫婦與北人交好者，別時陰以藥置飲食中，仍戒之曰：子必某時來。若依期而至，彼復以藥解之，若過期不往必死，故謂之定年藥。如服前藥一粒，其病即瘥。昔有一女，久病癆瘵，為尸蟲所噬，磨服一粒，吐下小蟲甚眾，更服蘇合香丸，遂愈。如菌蕈菰子、砒石毒藥、死牛馬、河　魚，及時行溫疫、山嵐瘴氣、喉閉喉風、自縊、溺水、撲死，但心頭微溫，未隔宿者，生薑蜜水磨灌一粒即蘇。癰疽惡瘡湯火蛇蟲犬獸所傷，東流水磨塗並服，顛邪鬼氣鬼胎，暖酒磨服，無不效者。愚意此藥果能有積毒中毒，毒蟲纏滯深固，誠有神效。</p>
<p>若病自內出者，尤當審其虛實而用之。</p>
<p><u>轉毒散</u></p>
<p>　治一切癰疽，利去毒根，以免傳變之症。</p>
<p>車螫（紫背光濃者以鹽泥固濟　赤淨末一兩）　輕粉（五分）　甘草（一分）</p>
<p>上每服四錢，栝蔞一枚杵細煎酒，五更初調服，下惡物為度，未應，再服。功在五香連翹之上，緩用五香連翹湯，急用神仙截法。</p>
<p><u>愚按：</u></p>
<p>前二方，果積毒於內，元氣不虛，宜用。仍當審之。</p>
<p><u>孫真人單煮大黃湯</u></p>
<p>　宣熱拔毒，治大便秘結，熱毒蓄於內。</p>
<p>錦紋大黃（酒浸去皮）</p>
<p>上水煎服，此快利要法也。</p>
<p><u>愚按：</u></p>
<p>前方，寒涼祛毒之劑，仍審元氣虛實，症屬內外而用之。</p>
<p><u>附治驗</u></p>
<p>僉憲申天益兄，背患疽，脈沉而實，腫硬木悶，大便秘結，此毒蓄於內。用大黃、白芷，名萬全散，一服，去瘀血，瘡頓消。</p>
<p>鄺進士，患癰將痊，大便秘結，服大黃等藥，反廢飲食。余用補氣血之劑加桃仁、麻仁，未效，更以豬膽汁深納穀道，續以養血氣而愈。</p>
<p><u>神仙截法</u></p>
<p>　治癰疽發背，一切惡瘡，預服，則毒瓦斯不入內。</p>
<p>真麻油（一斤銀石器內煎熬十數沸候冷）</p>
<p>上用酒兩碗，入油五盞，通口熱服，一日用盡，緩則數日服之。吳安世云：吾家三世用之，無有不驗。又聞獵者云：凡中藥箭，急飲麻油，藥毒即消。鄭學諭德甫，屢用之甚驗。</p>
<p><u>愚按：</u></p>
<p>麻油下三焦熱毒，通大小腸滯氣，若瘡瘍初起，毒蓄於內，大便秘結者，用之以通其毒，誠為良法。若大便不實，三焦虛熱，恐非所宜，用者審之。</p>
<p><u>秘傳連翹湯</u></p>
<p>連翹　升麻　朴硝（各一兩）　玄參　芍藥　白蘞　防風　射干（各八分）　大黃（一兩二錢）　甘草（炙五錢）　杏仁（八十個去皮尖同面炒黃另研）</p>
<p>上每服四錢，水煎服，下惡物後，服內托散之類。</p>
<p><u>漏蘆湯</u></p>
<p>　治癰疽發背，丹　，時行熱毒，赤腫　痛。</p>
<p>漏蘆　白芨　黃芩　麻黃（去節）　白薇　枳殼（麩皮炒）　升麻　芍藥　粉草（炙各二兩）</p>
<p>大黃（炙三兩）</p>
<p>上每服四錢，水煎服，以利為度，若實熱而便秘倍加之。</p>
<p><u>千金漏蘆湯</u></p>
<p>漏蘆　黃芩　白蘞　連翹　枳殼（去穰麩炒）　升麻　粉草　麻黃（去節）　大黃（濕紙包煨）</p>
<p>朴硝（各一兩）</p>
<p>上每服五錢，薑水煎，去　，空心服，下惡物為妙。</p>
<p><u>愚按：</u></p>
<p>三方發表攻裡行氣解毒之劑，想當時因有是症而用是藥也。</p>
<p><u>六味車螫散</u></p>
<p>車螫（四個黃泥固濟火　）　燈心（三十莖）　甘草節（二錢）　栝蔞（一個杵）</p>
<p>上用酒二盞，煎八分，入蜜一匙，車螫二錢，膩粉少許，空心服，下惡血為妙。</p>
<p><u>愚按：</u></p>
<p>前方，瘡瘍積毒於內，大便秘結，元氣充實者宜用。</p>
<p><u>止痛靈寶散</u></p>
<p>鬼系腰（生於陰濕竹籬石岸絡石而生者，其藤柔細兩葉相對形生三角用藤葉一兩洗淨晒乾）</p>
<p>皂角刺（一兩銼新瓦上炒黃）　栝蔞（大者一個杵炒用仁）　甘草節（五分）　沒藥　明乳香（各三錢另研）</p>
<p>上每服一兩，水酒各半煎。</p>
<p><u>愚按：</u></p>
<p>前方治腫瘍毒瓦斯凝聚作痛之藥，潰後慎之。鬼系腰即薜蘿也，又名絡石。</p>
<p><u>神效麻仁丸</u></p>
<p>火麻仁（研細）　大黃（煨三錢）　人參（二錢）　訶子（煨肉一兩）</p>
<p>上為末，入麻仁煉蜜丸桐子大，每服三十丸，滾水送下。</p>
<p><u>愚按：</u></p>
<p>前方潤大腸結燥之藥，血液枯涸者，不可用，雖有人參、訶子，亦難倚仗。</p>
<p><u>清心內固金粉散</u></p>
<p>（一名金花散）</p>
<p>辰砂（另研）　白茯苓　人參　甘草（各三錢）　綠豆（四兩）　雄黃（一錢）</p>
<p>朴硝（另研）　豆蔻仁（各五錢）　腦子　麝香（另研各一錢）</p>
<p>上為末，每服一錢半，蜜湯調。</p>
<p><u>愚按：</u></p>
<p>前方若熱　腫痛，飲食如常者，乃可用之。</p>
<p><u>豬蹄湯</u></p>
<p>　治一切潰瘍，消熱毒，去惡肉，解穢惡，甚效。</p>
<p>白芷　甘草　羌活　露蜂房（有蜂兒者）　赤芍藥　當歸（各等分）</p>
<p>上先將豬蹄一雙，以水五碗，煎取清湯，入前藥三五兩，煎數沸，去　洗患處。</p>
<p><u>洗藥神效散</u></p>
<p>蛇床子（二兩）　朴硝（一兩）</p>
<p>上每用五錢，水二碗煎數沸，洗淨拭乾，糝後散。</p>
<p><u>聖效散</u></p>
<p>黃柏（炒黑）　穿山甲（炒黃一兩）　檳榔　木香　雞內金（二枚）</p>
<p>上為末，每用少許，搽瘡口內，日五七次，方效。</p>
<p><u>愚按：</u></p>
<p>前方若毒瓦斯已盡宜用之，否則反益其邪，用當歸膏為善。</p>
<p><u>神秘陷脈散</u></p>
<p>黃　人參　川芎　當歸（酒洗）　赤芍藥　粉草　地骨皮　五加皮　忍冬葉　橘紅（各一兩）</p>
<p>乳香　沒藥（各五錢）</p>
<p>上每服五七錢，水酒各半煎，連進五七服，甚效。</p>
<p><u>愚按：</u></p>
<p>前方乃托裡消毒行氣破血之劑也，若曰補益之功實少焉。</p>
<p>騎竹馬灸法圖　沉麝湯內托散　五香湯五香連翹湯　漏蘆湯柞木飲　國老膏阿膠飲　萬金散牛膠飲　遠志酒黃礬丸　以上方見上卷</p>
<h2>卷下</h2>
<h3>論癰疽用麥飯石膏治效第三十九</h3>
<p>李氏云：麥飯石膏，治發背癰疽神妙，惜世罕知。有患者，因膿不潰，以毒藥罨之，其勢益甚，毒延咽喉、腳膝，皆為不治。余用此膏，一夕頓潰，凡疽得膿，其毒始解。或有不潰者，須用此膏。故錄之，俾精擇修合，以取十全之功也。</p>
<p><u>愚按：</u></p>
<p>前症屬腑屬陽，而氣血未損者，用前膏敷之，固無不愈。然亦有屬臟屬陰，而氣血有虧者，當審其因，而調治其內，可也。大凡瘡陽之作，由胃氣不從，瘡瘍之潰，由胃氣腐化，瘡瘍之斂，由胃氣營養。余嘗治初結未成膿者，托而散之，已成欲作膿者，托而腐之，膿成未潰者，托而開之，膿已潰者，托而斂之。東垣先生云：胃氣乃生發之源，為人身之本。丹溪先生亦謂：治瘡當助胃壯氣，使根本堅固，厥有旨哉（詳見附錄用藥加減之法）。</p>
<p><u>麥飯石膏</u></p>
<p>白麥飯石（炭火　醋淬數次研極細二兩）　鹿角（生取帶腦骨者斷之用炭火燒煙盡研極細四兩）</p>
<p>上用米醋調和，入砂器煎，以竹片不住手攪熬成膏。先以豬蹄湯洗淨，以鵝翎拂塗四圍，干則以醋潤之。若腐爛用布帛攤貼之。</p>
<h3>論癰疽敷神異膏功用第四十</h3>
<p>凡疽症先以麥飯石膏塗之，俟瘡根漸收，卻敷神異膏斂之。夫癰疽之發有淺深，故收斂之功有遲速，斷不可早用收口之藥，恐毒瓦斯未盡，後必復發，為患匪輕。但麥飯膏難於修合，用神異膏亦效。</p>
<p><u>愚按：</u></p>
<p>前症若毒已解而不生肌收斂者，元氣虛也。用六君子湯壯其脾胃，則肌肉自生，設有餘毒，亦能自解。（詳見附錄用藥關鍵）。</p>
<p><u>神異膏</u></p>
<p>露蜂虜（蜂兒多者一兩）　玄參（五錢）　蛇蛻（鹽水洗一兩）　黃丹（水飛炒五兩）　麻油（一斤）　亂髮（男子者如雞子大）　杏仁（一兩）</p>
<p>上先將麻油入砂器煎發熔盡，下杏仁更煎黑，入蜂房、蛇蛻仍煎黑，濾去，入黃丹急攪，試軟硬得中，即成膏矣。其丹不必拘定前數。凡膏藥用日久必老硬，煎時預取嫩膏少許，如硬，量和之。</p>
<p><u>愚按：</u></p>
<p>神異膏乃解毒生肌之良劑。若毒既解而肌不生，當治其內，不可泥為有餘之症，率用攻伐，以致毒在內者不能發散，在外者不能收斂，其為禍不淺。夫有餘者熱毒也、虛火也；不足者陰虛也、營氣也。瘡毒特其形耳：</p>
<p><u>家藏神驗血竭膏</u></p>
<p>當歸（酒洗）　白芷　大黃（生用）　黃連　黃　木鱉子（去殼）　皂角　杏仁　露蜂房（各一兩）　乳香　沒藥　血竭（各三兩）　亂髮（男子者一兩）　黃丹（水飛細者炒晒）　麻油上除乳、沒、血竭，余入油煎焦，去　入發，熔化下丹，將柳枝不住手攪，候軟硬得中，入乳香等攪勻，即成膏矣。</p>
<p><u>愚按：</u></p>
<p>血竭膏，取其以毒攻毒也。若瘀惡已去，毒瓦斯既消，宜用神效當歸膏，以其生肌續筋也。</p>
<p><u>厭熱神白膏</u></p>
<p>大黃　白蘞　黃柏（生用）　南星　赤小豆　黑蛤粉（各一兩）</p>
<p>上為末，用芭蕉汁調塗，如干仍以汁潤之。</p>
<p><u>愚按：</u></p>
<p>神白膏藥味多寒，而南星之性辛溫，佐之有效，加草烏尤妙。</p>
<p><u>牡蠣地黃膏</u></p>
<p>大黃（一兩為末）　牡蠣（用鹽泥封固　赤出大毒研細二兩）　生地黃（水浸）</p>
<p>上研生地黃汁調塗患處，如干更用汁潤之。</p>
<p><u>愚按：</u></p>
<p>前膏苦寒鹹寒之劑，症屬純陽，用之殊效。然此症亦有屬純陰者，亦有屬半陰半陽者（治法見附錄用藥關鍵）。</p>
<p>李氏云：疽疾既成，先服取毒之藥，外敷麥飯石膏。五七日後，病漸減，合用川烏、二烏丸以活血氣，生肌肉，排宿膿，祛風邪，後服內補十宣散。</p>
<p><u>川烏丸</u></p>
<p>　治發背，活經絡。</p>
<p>大川烏（去皮尖）　木鱉子（去殼）　當歸　赤芍藥　蘇木獨活　羌活（各一兩）　沒藥（另研）</p>
<p>五靈脂（去砂微炒）　穿山甲（蛤粉炒各一兩）</p>
<p>上各另為末，酒糊丸桐子大，每服三十丸，溫酒下。</p>
<p><u>二烏丸</u></p>
<p>　治發背，托裡定痛，祛風涼血。</p>
<p>羌活　薄荷葉（各三兩）　川芎　玄參　地榆　麻黃（去根節）　蔓荊子　旋覆花　荊芥穗防風　天麻　白芷　白僵蠶（直者去絲足嘴炒用）　牛蒡子（炒）　甘菊花（各二兩）　大川烏（去皮尖炮）　何首烏（不見鐵器）　粉草（炙各四兩）　蟬蛻（洗去土足半兩）</p>
<p>上為末，煉蜜丸彈子大，每服一丸，細嚼，茶酒任下。</p>
<p><u>愚按：</u></p>
<p>前二丸，用之對症固善，然病有多端，而所因不同，恐不可概施也，治者審之。</p>
<h3>論癰疽口緊小硬論第四十一</h3>
<p>李氏云：大抵疽口緊小而硬者，蓋因風毒所勝，合用蚣蠍散摻瘡口，以神異膏貼之。</p>
<p><u>蚣蠍散</u></p>
<p>赤足蜈蚣（一條去頭足）　全蠍（三個去足生用）</p>
<p>上為末，用豬蹄湯淨洗，搽之。</p>
<p><u>愚按：</u></p>
<p>前症乃風寒滯於瘡口，而未傳於內也。凡傷損之症，尤多此患。經云：風症善行而數變，入臟甚速，死生在乎反掌，當急分表裡虛實而治之。其邪在表者，善伸數欠，筋脈拘急，惡寒惕搦，脈浮而弦，宜羌活防風湯和解之。傳於裡者，舌強口噤，項背反張，筋惕搐搦，痰涎壅盛，胸腹滿悶，或便溺閉赤，時或汗出，脈洪數而弦，宜大芎黃湯　導之。其汗初出者，由風熱鬱於裡，亦宜大芎黃湯之類下之。若熱既退，臟腑已和，而汗仍出者，表虛也，宜白朮防風湯以實其表。然解散、和解、　導三法，此治暴患之症，氣血未損者。若膿瘀內　，而見前症者，宜針之，急投十全大補。或口噤遺尿，乃氣血虛極，亦用十全大補加炮附子。大抵此症，若因膿血去多，宜以補中益氣加羌活主之。或人素多痰，因傷損而見風症，宜二陳、白朮、芎、歸、梔子、芩、連。氣虛加四君，血虛加四物，血氣俱虛內熱甚而生風者，宜四物、參、朮、柴、芩、梔子。若因怒傷而見前症，宜小柴胡湯倍加川芎、山梔、天麻、鉤藤鉤。若患破傷風，至三五年忽然復發，或跌撲而患者，皆氣虛有痰所致也，用二陳加參、朮、芎、歸主之（治驗見正體部）。</p>
<h3>論癰疽喉舌生瘡如菌第四十二</h3>
<p>李氏云：癰疽不服內托散，或失宣內毒，致咽喉口舌生瘡，甚則生紅黑菌，害人甚速，當用琥珀犀角膏治之。向有患此症者，諸法不效，余用此藥，一日而安。</p>
<p><u>愚按：</u></p>
<p>前症多因酒色過度，虧損腎水，虛火上炎，或五疳，元氣消爍，虛火上攻而致。</p>
<p>治當滋其化源，最忌黃柏、知母之類，恐復傷胃氣也。</p>
<p><u>附治驗</u></p>
<p>大尹王汝鄰，兩足發熱，吐痰如涌，左尺數而無力。余謂足三陰虛。彼反服四物、二陳、黃柏、知母之類，喉舌作痛，又服清熱敗毒之劑，其舌如赤桃，脈洪數而無力。此脾肺復傷，腎經虧甚，虛火上炎，水泛而為痰也。當滋化源以生腎水，遂用補中益氣湯，六味地黃丸而愈。</p>
<p>二守韓宗器，不慎起居，舌脹如菌，痰涌便秘，服芩連、二陳之類，脈浮而數，欲針出血。余謂此足三陰虧損之症，且有形而不痛者，陰之類也，法當峻補其陰，毋損其血，況虛浮之脈乎？遂朝補脾肺，夕滋腎肝而愈。後因大勞，面目俱赤，遍身搔癢，時已仲冬。余曰：大熱而甚，寒之不寒，是無水也。乃用制火壯水之劑而愈。</p>
<p>搖城金允文，舌脹吐痰，反服降火化痰，針刺出血，便秘痰甚。余診之，左尺關洪數，右寸關弦數，用滋腎水生肝血益脾胃之劑，諸症少愈。因近火，頓面赤身癢，六脈弦數。余謂此水竭火升之象，難免於春二月矣，於次年清明日果卒。</p>
<p><u>琥珀犀角膏</u></p>
<p>真琥珀（研）　犀角（鎊各一錢）　辰砂（研極細）　茯神（去皮心各二錢）　片腦（研一字）</p>
<p>人參（三錢）　酸棗仁（去皮炒二錢）</p>
<p>上為末，煉蜜丸彈子大，每服一丸，麥門冬煎湯化下。</p>
<p><u>愚按：</u></p>
<p>前方雖有人參、茯神、酸棗仁安神補氣，但琥珀等四品氣味辛散，恐虧損真氣，須審症而用之可也。</p>
<p>李氏云：癰疽之症，不服托裡之藥，熱毒內攻，喉舌生瘡，甚效黑爛，當服犀角散以解其毒。</p>
<p>犀角屑　玄參　升麻　黃　赤芍藥　麥門冬（去心）　生粉草　當歸（各一兩）　大黃（微炒三兩）</p>
<p>上為粗末，每服三錢，水煎。</p>
<p><u>愚按：</u></p>
<p>前方破血降火內　之劑也。若其脈沉實，大便秘結，發熱作渴喜飲冷者，屬熱蓄於內，方可用之。若其脈虛浮，大便不結，發熱作渴，畏飲冷者，乃屬血虛於外，可用當歸補血湯。若尺脈洪數而無力，發熱作渴，小便頻數者，屬腎水不足，虛火上炎，宜用加減八味丸。蓋此症多因腎水虧損，虛火上炎，故也。</p>
<h3>論癰疽膿成用替針丸藥第四十三</h3>
<p>曾氏曰：癰疽膿熟，塗以替針丸，瘡口自開。古人云，癰疽能殺人，若針藥得其宜則生，失其宜則死，可不慎哉。</p>
<p><u>愚按：</u></p>
<p>瘡瘍之症，若毒瓦斯已結，腫赤熾盛，中央肉死黯黑者，內用托裡健脾之劑，外用烏金膏塗之，則黯處漸低，赤處漸起，至六七日間，赤黯之界，自有裂紋如刀劃狀，其黯漸潰。若用鈹針利剪，徐去猶好，須使不知疼痛、不見鮮血為善。若膿未流利，宜用針於紋中引之。若膿水已出，腫痛仍作，乃內筋間隔，亦用針引之。若元氣虛弱，誤服克伐之劑，患處不痛，或肉死不潰者，急溫補脾胃，亦有復生矣。後須純補脾胃，庶能收斂？若妄用針刀去肉出血，使陽隨陰散，是速其危也。若膿潰而煩痛未痊，脈洪滑粗散者，真氣虛而邪氣實也，為難治。脈微澀遲緩者，邪氣虛而真氣將復也，為易治。</p>
<h3>論癰疽割傷第四十四</h3>
<p>李氏云：癰疽有誤搽毒藥，或針刀開割，瘡口不合，不可用澀斂之藥。宜用豬蹄湯、北艾湯間洗，敷貼神異膏，及服內補十宣散、內托黃　丸。</p>
<p><u>愚按：</u></p>
<p>經云：脾主肌肉。脾健則肉自生。然其勢熾甚，宜用前藥以消其毒，毒將盡宜用四君湯以養脾（詳見附錄用藥關鍵）。</p>
<p><u>內托黃　丸</u></p>
<p>　治針砭所傷，惡寒發熱，膿水不止，肌肉不生，瘡口不斂。</p>
<p>黃　八兩　當歸（洗焙三兩）　肉桂（去外皮）　木香　沉香　乳香（另研各一兩）　綠豆末（四兩）</p>
<p>上為末，用薑汁、豆末糊丸，熟水下。</p>
<p>愚按：前症若肌肉傷，而瘡口不斂，用六君子湯，以補脾胃。若氣虛惡寒，而瘡口不斂，用補中益氣湯，以補脾肺。若血虛發熱，而瘡口不斂，用四物參朮，以滋肝脾。若膿多而瘡口不斂，用八珍湯，或十全大補湯，以養血氣。經云：脾主肌肉。如前藥未應，但用四君、歸、　以補脾胃。更不應，乃屬命門火衰，急用八味丸以壯火生土。若脈數發渴者難治，以真氣虛而邪氣實也。</p>
<h3>論癰疽寒熱多汗用藥第四十五</h3>
<p>李氏云：近有數人病背疽，或先寒後熱，先熱後寒，或連日或間日必嘔痰大汗而止，皆用柴胡、恆山不應。余謂此因脾氣不正，復感寒邪，痰盛而作，遂先用不換金正氣散，次用排膿內補散，木香湯，三日即愈。</p>
<p><u>愚按：</u></p>
<p>前症若外邪既去而仍作，宜用六君子湯以補脾胃。大凡胃氣虛而作嘔者，必喜溫熱；毒內攻而作嘔者，必喜寒。治當辨之（詳見附錄用藥關鍵）。</p>
<p><u>家傳不換金正氣散</u></p>
<p>　治感冒風寒，或傷生冷，或瘴瘧，或疫癘。</p>
<p>蒼朮（米泔浸炒四兩）　厚朴（薑汁拌炒四兩）　粉甘草（炙二兩）　橘紅（焙三兩）　藿香葉半夏（薑製各二兩）　木香（濕紙裡煨）　人參　白茯苓（各一兩）</p>
<p>上每服五錢，薑棗水煎。</p>
<h3>論癰疽食毒物發熱第四十六</h3>
<p>李氏論云：凡癰不可食牛羊雞鵝蝦魚酒面爆炙之物。犯之必發熱，宜服梔子黃　湯。大凡臟腑已利，瘡毒已潰，氣血既虛，最當調護。若發熱而服涼藥，無不致禍。</p>
<p><u>梔子黃　湯</u></p>
<p>漏蘆　連翹　山梔子（炒）　防風　苦參（炒）　人參　犀角鎊　甘草（炒）　白茯苓　石韋（如無桑皮代之各三錢半）</p>
<p>上每服五錢，水煎。</p>
<p><u>愚按：</u></p>
<p>前症若飲食傷脾胃而發熱，用六君、神麯、山楂；若陰血不足而發熱，用四物、參、朮、黃　；若膿血出多而發熱，用十全大補湯。東垣先生云：胃為五臟之根本，胃氣一傷，諸臟皆虛，七惡蜂起，可不慎哉。</p>
<h3>論癰疽作渴當調補精氣第四十七</h3>
<p>伍氏云：癰疽發熱大渴，毒瓦斯熾盛，急用神仙追毒丸驅下惡毒，次以清膻湯、萬金散、五香連翹湯、六味車螫散、千金漏蘆湯選用之。渴不止，用秘傳金粉散、人參黃　散、內補散之類，以補津液，生血氣，其渴自止。</p>
<p><u>愚按：</u></p>
<p>前症若脈沉實，大便秘結，宜用前藥驅逐積毒。若發熱作渴，飲食如故，大便如常，屬胃經實熱，用竹葉石膏湯以清胃熱，生津液。若發熱作渴，飲食少思，大便不實，屬胃經虛熱，用竹葉黃　湯以補胃氣，生津液。若發熱惡寒，若內熱晡熱，口乾作渴，屬氣血不足，用八珍、麥門、五味以補肝脾，生精血（余見附錄用藥關鍵）。</p>
<h3>論癰疽將安發熱作渴第四十八</h3>
<p>李氏云：凡疽愈後忽發渴，而不救者十有八九。或先渴而患疽者，尤為難治。急用加減八味丸，可免前患，如能久服，永不作渴，亦無疽症，且氣血皆壯，真神劑也。</p>
<p><u>愚按：</u></p>
<p>前症屬腎水枯涸，虛火上炎。口乾作渴，飲水無度。或舌黃作裂，小便頓數；或痰氣上壅，煩躁不寧；或二三年先作渴飲水；或口舌生瘡，兩足發熱，痰氣上壅；或瘡愈三四年而口乾作渴，小便頻數，急用前藥，多有復生者。能逆知其因，預服前丸，可免此患。</p>
<p>若兼手足厥冷，真陽虛也，宜服八味丸。大凡瘡後，審其腎水不足，用加減八味丸；中氣虛弱，用補中益氣湯；氣血虛弱，用十全大補湯，陽氣虛寒加薑、桂，如不應，用八味丸。</p>
<p><u>加減八味丸</u></p>
<p>地黃（酒拌九蒸九晒八兩杵膏）　干山藥　山茱萸（去核）　五味子（炒各四兩）　肉桂（一兩）</p>
<p>牡丹皮　白茯苓（各三兩）　澤瀉（切片蒸五次焙三兩）</p>
<p>上各另為末，入地黃膏，加煉蜜丸桐子大，每服七八十丸，五更初未言語前，白湯下。</p>
<p>李氏云：一貴人病疽未安而渴，日飲水數升。余用前方，諸醫云：此藥若能止渴，我輩當不復業醫矣。仍用木瓜烏梅等味，渴愈甚。用前方，三日渴止，久服氣血益壯，飲食加倍。</p>
<p><u>愚按：</u></p>
<p>前方非特可治前症。夫人之生，以腎為主，凡病多由腎虛而致。此方乃天一生水之劑，最宜用之。</p>
<p><u>忍冬丸</u></p>
<p>　治渴疾既愈，預防發疽。先將忍冬草入瓶內，後入無灰酒，微火煨一宿，取出晒乾，少加甘草，俱為末，又以所浸余酒調丸桐子大，每服六七十丸，溫酒下，又能治五痔諸癭。</p>
<p><u>黃　六一散</u></p>
<p>　常服，終身可免癰疽，實治渴補虛之劑也。</p>
<p>綿黃　（六兩用淡鹽水潤飯上蒸）　粉草（一兩半生半炙）</p>
<p>上為末，每服二錢，侵晨日午，白湯調下。不應，作大劑，水煎服。古人號黃　為羊肉，可見其能補也。</p>
<p><u>愚按：</u></p>
<p>忍冬丸，解熱毒消渴之藥也。六一湯，補氣虛作渴之藥，用之無有不驗。</p>
<h3>論癰疽口乾作渴症不同第四十九</h3>
<p>李氏云：癰疽已安之後，或未安之際，口舌燥黃如雞內金者，乃腎水枯竭，心火上炎，此症最惡。古人云，玉華池竭七朝亡。若誤投以丹藥，禍在反掌，急用加減八味丸，桑枝煎五味子湯，以滋補之。</p>
<p><u>愚按：</u></p>
<p>前症若不慎房事，虧損真陰，而虛火上炎，亦多患此。若發熱作渴，或口舌生瘡，或小便頻數，或莖中作痛，亦宜用前藥（詳見附錄用藥關鍵）。</p>
<p><u>桑枝方</u></p>
<p>　大治口渴。取嫩桑枝細切一升炒，以水三升煎一升，日服五七劑，更多尤妙。</p>
<p>抱朴子云：療風痹干燥，臂痛香港腳，四肢拘攣，上氣眩暈。久服補肺消食，利小便，輕身聰明，令人光澤，其功不能盡述。</p>
<p><u>愚按：</u></p>
<p>桑枝補血氣，生津液，輕身明目，補肺腎之良劑也。</p>
<p><u>五味子湯</u></p>
<p>　治腎水枯涸，口燥舌乾。</p>
<p>五味子（一兩）　黃　（炒三兩）　人參（二兩）　麥門冬（一兩）　粉草（炙五錢）</p>
<p>上每服五錢，水煎，日夜服五七劑。</p>
<p><u>愚按：</u></p>
<p>前藥乃六一散、生脈散之復方，滋化源之良劑，若腎水既涸，虛火上炎，而口燥作渴者，須佐以加減八味丸（詳見附錄用藥關鍵）。</p>
<h3>論癰疽發熱屬腎虛第五十</h3>
<p>李氏曰：一發背之熱，未有不自腎虛而得之者，必須五更服加減八味丸。</p>
<p>愚按：前論誠為啟發後人，垂惠永久。蓋發背腦疽，皆由腎經濕熱，虛火上炎，中傳惡症；若非加減八味丸滋腎水以制心火，補中益氣以生化源，欲望其生，難矣。啟玄子云：大寒而甚，熱之不熱，是無火也，當助其心。大熱而甚，寒之不寒，是無水也，當益其腎。夫寒之不寒，責其無水，熱之不熱，責其無火；熱之不久，責心之虛，寒之不久，責水之少。</p>
<p>竊謂無火者，當用八味丸以益其心；無水者，當用六味丸以滋其腎（治驗見前四十二論）。</p>
<h3>論癰疽將安當補氣血第五十一</h3>
<p>李氏云：疽疾將安，每日當服十全大補湯，以補氣血，宜與排膿內補十宣散相間服。</p>
<p><u>愚按：</u></p>
<p>前云潰瘍屬氣血俱虛，固在所當補；若患腫瘍而氣血虛弱者，尤宜預補，否則雖潰而不斂矣。凡大病之後，氣血未復，多致再發；若不調補，必變為他症而危。成誤以為瘡毒復發，反行攻伐，速其不起，深可為戒也（詳見附錄用藥關鍵）。</p>
<h3>論癰疽服藥捷徑第五十二</h3>
<p>李氏云：凡患瘡疽而腎脈虛者，急服補藥。尚恐有誤，如鹿茸、附子之藥，是猶抱薪救火，反益其勢，而平補之藥，亦難奏功。有一貴人，苦疽，諸藥無效。愚謂服山藥丸，於五更初，物欲未接之際，腎門未開之時，如法服三日，脈症平復。若腎經沉寒痼冷，鹿茸、附子之藥，斯可用矣。</p>
<p><u>愚按：</u></p>
<p>前方誠有回生之功，治法見前論。</p>
<p><u>加味十全湯</u></p>
<p>　治癰疽潰後，補氣血，進飲食。</p>
<p>人參　黃　（鹽水炒）　熟地黃（自製）　當歸身（酒洗）　茯苓（各一錢）　川芎（七分）</p>
<p>粉草（五分）　桂心（三分）　橘紅（一錢）　烏藥（五分）　白芍藥（一錢）　白朮（炒一錢五分）</p>
<p>五味子（五分）</p>
<p>上水煎服。</p>
<p><u>愚按：</u></p>
<p>前方若腫瘍潰瘍、氣血虛弱者，用之有效。更審經絡時令尤善。</p>
<p><u>人參內補散</u></p>
<p>芍藥（炒）　黃芩（炒）　茯苓（各一兩）　粉草（炙一兩）　桂心　人參（各一兩）　麥門冬當歸（酒浸炒）　熟地黃（自製）　木香（各二兩）</p>
<p>上每服五錢，薑棗水煎。</p>
<p><u>愚按：</u></p>
<p>前方若氣血虛弱，固宜用之，但黃芩瀉肺，麥門寒中，木香行氣，須有是病而後用是藥可也。</p>
<p><u>神效托裡散</u></p>
<p>　治一切癰疽發背腸癰。</p>
<p>忍冬葉　黃　（鹽水炙）　當歸（各五錢）　粉草（二錢）</p>
<p>上酒煎服，　敷患處。</p>
<p><u>愚按：</u></p>
<p>前方乃托裡消毒之良劑也。若欲發表攻裡，各有主方。</p>
<p><u>排膿內補十宣散</u></p>
<p>　（一名十奇散，一名內補散，治瘡傷未成速散，已成速潰，膿毒自去，其效如神。）</p>
<p>人參　當歸　粉甘草（炒）　川芎　黃　（鹽水炒各二兩）　防風　厚朴（薑製）　桔梗（焙各一兩）　香白芷（五錢）　官桂（三錢）</p>
<p>上為末，每服三錢，無灰酒下。日夜數服，愈後再服，以杜後患。木香湯亦可。</p>
<p><u>愚按：</u></p>
<p>前症若陽氣陰弱，風寒鬱滯，而不能潰散，宜用此方。若熱毒壅結而不能潰散，宜用托裡消毒散。若氣血虛弱而不能潰散，宜用參　托裡散。</p>
<h3>調節飲食當平胃氣論第五十三</h3>
<p>論曰：《素問》云：形不足者，溫之以氣；精不足者，補之以味。大凡瘡疽，當調脾胃。</p>
<p>蓋脾為倉廩之官，胃為水穀之海，主養四旁，須進飲食，以生氣血。宜用茯苓開胃散、人參內補散、內補十宣散。</p>
<p><u>人參順氣散</u></p>
<p>　治滯氣，健脾胃，進飲食。</p>
<p>烏藥（一兩五錢）　白茯苓　真蘇子（微炒）　人參（各一兩）　青皮　粉草（炙各五錢）</p>
<p>白朮（麩炒）　白芷（各一兩）</p>
<p>上為末，每服三錢，薑棗水煎服。</p>
<p><u>愚按：</u></p>
<p>前方因脾肺腎氣盛壅遏，宜用此以　泄之。若氣虛壅滯，必用益氣養榮湯以調補之。今之患者，多因氣血受傷，當隨症而施之。</p>
<p><u>茯苓開胃散</u></p>
<p>　治胃氣不開，飲食不進。</p>
<p>白茯苓（一兩）　粉草（炙五錢）　枳殼（麩炒黃三錢）</p>
<p>上為末，每服一錢，鹽湯調下。</p>
<p><u>愚按：</u></p>
<p>前症若胃氣鬱滯，宜用前方。若胃氣虛弱，用四君子湯。若胃氣下陷，用補中益氣湯。若脾氣虛弱，用六君子湯。若脾氣鬱結，用歸脾湯。</p>
<p>李氏曰：胃氣弱，不進飲食，合服嘉禾散，每五兩加人參、丁香、沉香、白豆蔻各二錢。有一貴人，苦疽，用藥失序，脾虛不食。余欲用嘉禾散。或云，內有丁、沉香，乃別服藥。不效。仍用前散，飲食頓進。</p>
<p><u>愚按：</u></p>
<p>前症詳見附錄用藥關鍵。</p>
<h3>論癰疽成漏脈例第五十四</h3>
<p>經云：陷脈為漏，留連肉腠。蓋脈得寒則下陷，凝滯肌肉，故曰留連肉腠。是為冷漏，須用陷脈散、桂附丸溫補之。</p>
<p><u>愚按：</u></p>
<p>瘡瘍為漏，皆因元氣不足，營氣不從，逆於肉裡，或寒氣相搏，稽留血脈，腐潰既久，陽氣虛寒，外邪乘虛下陷，即成是患。若治其初患，當內用參、　、歸、朮溫補脾胃，外用桑枝、蔥、熨接陽氣，使自消散。若久而不能成膿，亦用前二法補助以速之。若膿既成而不潰，用艾於當頭灸數炷以出之，卻服十全大補湯。患者又當慎起居，節飲食，庶幾收斂。若用冷針開刺，久而內出青膿，外色黑黯，或誤用生肌散速其收斂，反助其邪，必成敗症。</p>
<p><u>陷脈散</u></p>
<p>　治漏瘡，治遠年癭瘤，驚惕臥寢不安，肢體掣痛。</p>
<p>乾薑（炮）　琥珀（另研）　附子（炮去皮臍）　大黃（煨各一兩）　丹參（三兩）　石硫黃（另研）　白石英（另研）　鐘乳粉（另研）　烏賊魚骨（各研半兩）</p>
<p>上為末，用豬脂和敷死肉不消者，加朴硝二兩。</p>
<p><u>神效桂附丸</u></p>
<p>　治陽氣虛冷漏諸瘡。</p>
<p>桂心　附子（炮米醋浸碎三五次去臍火干）　厚朴（薑製）　粉草（炙）　白朮（炒各一兩）</p>
<p>木香（一錢）　乳香（另研二錢）</p>
<p>上為末，煉蜜丸桐子大，每服二三十丸，空心米湯下。</p>
<p><u>神效栝蔞散</u></p>
<p>　治乳癰瘰　，與立效散間服。</p>
<p>黃栝蔞（子多者一個杵）　當歸尾（五錢）　甘草節（半兩）　沒藥（一錢另研）</p>
<p>上用酒三碗煎一碗，分三次服，未成即消，已成即潰。</p>
<p><u>愚按：</u></p>
<p>前方乃總治瘡瘍之良劑。若治乳癰，當審其因。蓋乳房屬陽明胃經，乳頭屬厥陰肝經。若怒動肝火，陽明血熱，宜　肝清熱。　痛寒熱，宜發表散邪。腫　痛甚，宜清肝消毒，並隔蒜灸。不作膿或膿不潰，托裡為主。不收斂或膿清稀，補脾胃為主。膿出反痛或發熱作痛，補氣血為主。腫　作痛，或晡熱內熱，補血為主。飲食少思，或作嘔吐，補胃為主。飲食難化，或作泄瀉，補脾為主。勞碌腫痛，補氣血為主。怒氣腫痛，養肝血為主。若為兒口所吹，而發腫　痛，須吮通探散，否則成癰矣，亦治以前法。若婦人經一二載潰者、名曰乳岩，不治（詳見《校注婦人良方》、《外科樞要》）。</p>
<p><u>立效散</u></p>
<p>　治癰疽瘰　。</p>
<p>皂角刺（半斤細銼炒赤）　粉草（二兩）　乳香（另研）　沒藥（另研各一兩）　栝蔞（五個連皮細研）</p>
<p>上為末，每服一兩，好酒煎服。</p>
<p><u>愚按：</u></p>
<p>前方治癰疽瘰　、解毒止痛通用之良劑也。若瘰　寒熱　痛腫赤，乃肝經氣病，當清肝火以養肝血。若寒熱既止而核不消，乃肝經之血亦病也，當養肝血以清肝火。若初如豆粒著於筋肉，色不變，內熱口乾，精神倦怠，久不消潰，乃肝脾虧損，當健脾土，培肝木。《外台秘要》云：肝腎虛熱，則生　矣。《病機》云：瘰　不系膏粱丹毒，因虛勞氣鬱所致，補形氣，調經脈，其瘡自消。若誤下之，必先犯病禁經禁矣（詳見《校注婦人良方》、《外科樞要》）。</p>
<p><u>生肌散</u></p>
<p>　治瘡口氣滯鬱熱，肌肉不生，而不收斂者。</p>
<p>木香　檳榔　黃連（各等分）</p>
<p>上為末，敷患處。</p>
<p><u>愚按：</u></p>
<p>前症若余毒滯於瘡口，而不生肌收斂者，宜用烏金膏以腐化之；若寒邪蘊於瘡口，而不生肌收斂者，宜用豆豉餅以溫散之；若因氣虛血弱不能運於瘡口，而不生肌收斂者，宜用補中益氣湯以培養之。</p>
<p><u>獨聖散</u></p>
<p>　凡瘡瘍皆因氣滯血凝，宜服香劑。蓋香能行氣通血也。如瘡初作，便以此藥入茶飲之。</p>
<p>香附子（薑汁淹一宿焙乾研碎）</p>
<p>上無時以白湯調服二錢，潰後以局方小烏沉東加甘草少許，仍服，尤妙。</p>
<p><u>愚按：</u></p>
<p>前方氣味辛散，宜施於形體充實，氣鬱血凝者。若血虛氣弱，陰虛發熱者，又當隨症制宜，不可以例施也。</p>
<p><u>梅花飲子</u></p>
<p>　初服防毒內攻。</p>
<p>忍冬藤（四兩）　栝蔞根　甘葛根　川芎　烏梅　綿黃　（炒）　甘草　蘇木（各一兩）</p>
<p>上作四劑，水酒煎服。</p>
<p><u>愚按：</u></p>
<p>前方乃解消熱毒之劑，若邪氣盛而真氣虛者，又當補托其內。</p>
<p><u>替針丸</u></p>
<p>　治膿成不潰出者。</p>
<p>白丁香　砂（另研）　真沒藥（另研）　乳香　糯米（四十粒，先用礦灰拳大一塊，置瓷碗內，量入井水，待熱氣將息，以米排入灰中，良久，候米如水晶狀，取出用之，用之如米未就，再用灰制。</p>
<p>上另為末，各一匙入糯米和勻收貯，用時飯丸麥粒大，每用一粒，水濕黏瘡頭，其膿自出。</p>
<p><u>愚按：</u></p>
<p>瘡傷之症，若氣血壯實，膿成不潰者，宜用此方以泄其毒，則肌肉易生，瘡口易斂。若氣血虧損，須用甘溫之劑以培根本，否則不惟膿不潰出，且難收斂。若附骨疽及緊要之地，當及時針砭為善。</p>
<p><u>綠云散</u></p>
<p>　治五毒發瘡於背腦或手足。</p>
<p>鳳尾草（形如鳳尾葉背有金星炙干一兩）　粉甘草（一錢）</p>
<p>上用酒一碗煎三五沸，入冷酒一碗飲之，以醉為度，立效。</p>
<p><u>愚按：</u></p>
<p>前方治金石發疽，果有神效。設當　通發散，宜分表裡。若飲排膿生肌，必須補托。</p>
<p><u>宣毒散</u></p>
<p>　消瘡毒，收赤暈。</p>
<p>露蜂房（三兩炒焦）　小米（一合）　赤小豆　南星　草烏（各一兩）　白礬（五錢）</p>
<p>上為末，用淡醋調敷四畔，干則頻用醋潤之。</p>
<p><u>愚按：</u></p>
<p>前方解毒行經，濟毒散血，治外之法也。</p>
<p><u>托裡散</u></p>
<p>　未成則易消，已成則易潰，既潰則生肌。</p>
<p>黃栝蔞（一個）　忍冬草　乳香（各一兩）　蘇木（五錢）　沒藥（三錢）　甘草（二錢）</p>
<p>上每服用酒三碗煎二碗，空心日午臨睡分三服。　為細末，酒糊丸彈子大，朱砂為衣，細嚼當歸酒下。治打撲傷損尤妙。</p>
<p><u>愚按：</u></p>
<p>前方若無汗下二症，宜調和榮衛者，殊有良驗。若血氣虛弱，不能腐潰生肌者，還當補托其內。</p>
<p><u>清涼膏</u></p>
<p>　治一切瘡瘍，膿去後用之。</p>
<p>當歸（二兩）　白芷　白芨　木鱉子（去殼）　黃柏　白蘞（去皮）　乳香　白膠（各五錢）</p>
<p>黃丹（五兩淨）　麻油（十二兩）</p>
<p>上入油煎黑去　，入黃丹，以槐、柳枝不住順攪，再煎成膏，下乳香等藥。</p>
<p><u>碧油膏</u></p>
<p>　止痛排膿，灸後用此。</p>
<p>桃枝　柳枝　桑枝　槐枝　乳香（另研）　血竭（各五錢研）　黃丹（淨四兩）</p>
<p>上用麻油十兩，煎焦去　，入丹再煎成膏，入乳香、血竭。</p>
<p><u>愚按：</u></p>
<p>前二方藥味平易，可用之。</p>
<p><u>神效酒煎散</u></p>
<p>　治一切瘡瘍，其效如神。</p>
<p>人參　沒藥（另研）　當歸尾（各一兩）　甘草　栝蔞（一個半生半炒）</p>
<p>上以酒三碗煎二碗，作四服。　焙乾，加當歸末一兩，酒糊丸桐子大，每服五十丸，用浸藥酒下，善消毒活血。</p>
<p><u>愚按：</u></p>
<p>前症若膿既去而不生肌者，當審其因而補之。治癰疽未成，用吳茱萸炒為末，雞子清調搽，神效。</p>
<p><u>愚按：</u></p>
<p>前症若氣滯壅腫，用此方　通隧道以散之。若氣虛壅腫，當托裡補接以消之。</p>
<h3>洪丞相方用蜞針法第五十五</h3>
<p>治癰疽初作，先以筆管一個，入螞蜞一條，以管口對瘡頭，使蜞吮瘡膿血，其毒即散，加瘡大須換三四條，若吮正穴，蜞必死矣，累試累效。若血不止，以藕節上泥塗之。若瘡頭未明，以井邊泥塗上，先干處即是。</p>
<p><u>愚按：</u></p>
<p>癰疽既成，毒血凝聚於外，可用此法吮去固善，但能治其末耳。又當審其邪在表裡，並元氣虛實而藥之，斯內外合一而為萬全也。</p>
<h3>癰疽經驗雜方</h3>
<p><u>經驗方</u></p>
<p>　治金石發癰。</p>
<p>黑鉛（一斤）　甘草（三兩）</p>
<p>上用酒一斗置瓷器內，先以甘草置在一邊，另將鉛熔投酒一邊，取鉛再熔，仍投九度，取酒飲醉寢，即愈。</p>
<p><u>愚按：</u></p>
<p>前方治金石發疽之良法也。氣血虧損者，仍當補托可也。</p>
<p><u>肘後方</u></p>
<p>　治發背欲死，取冬瓜切去一頭，合瘡上；瓜爛仍切，復合之，瓜未盡用而瘡已安，仍用膏藥貼之。</p>
<p><u>愚按：</u></p>
<p>此方若　腫痛甚，其邪在表者，最宜用此法宣熱拔毒以通其滯。若腫痛發渴，大便秘結，其邪在裡者，須佐以內　黃連湯通利臟腑以泄其毒。在經絡者，當佐以托裡榮衛湯以調氣血。斯善。</p>
<p>張文仲治耳下石癰不作膿，用商陸根杵爛頻搽之。</p>
<p><u>愚按：</u></p>
<p>商陸破氣軟堅，果系石癰，宜用此方治之。若怒動肝火而腫硬，或發寒發熱，宜用柴胡清肝散加鉤藤、山梔，以養血氣清肝火。肉色不變，晡熱內熱，宜用逍遙散加龍膽草，以養肝血清肝火。若肝火血燥筋攣，或如貫珠，宜用柴芍參苓散加鉤藤，以養血氣，佐以六味丸以生腎水。若時消時作，此脾肺之氣滯而痰結也，須用歸脾、六君二湯以和之。若前藥不應，當佐以海藻丸以散堅。經云：形傷則痛，氣傷則腫。不可輕用行氣破血之劑（以上治症見《外科樞要》）。</p>
<p>治癰疽癤，用生鹿角尖，於砂石器內同米醋磨膿，塗患處四圍，塗一二日，內消。</p>
<p><u>愚按：</u></p>
<p>前方內消之法，如未應，須審其邪在表裡、人之虛實而治之，不可治外而忘內也。</p>
<p>治癰疽，用生甘草為末，酒調二錢服，連進數服，自消。</p>
<p><u>愚按：</u></p>
<p>前方乃清熱消毒之劑。若因膏粱積熱，金石蓄毒，血氣壅滯者，最宜用。如脾胃虛弱，血氣痞滯者，不宜概用，恐反寒胃氣故也。</p>
<p><u>升麻湯</u></p>
<p>　治肺癰，胸乳間作痛，嘔吐膿血腥穢。</p>
<p>川升麻　苦梗　薏苡仁　地榆　黃芩　赤芍藥　牡丹皮　甘草（各等分）</p>
<p>上為散，每服一兩，水煎服。</p>
<p><u>愚按：</u></p>
<p>前方乃消毒清熱排膿之良劑。如未應，用桔梗湯。咳嗽短氣，小便短少者，佐以參、　補肺湯。體倦食少，或咳嗽短氣者佐以參朮補胃湯。咳嗽痰涌者，腎虛水泛也，佐以六味丸。口乾咽燥，虛火上炎者，佐以加減八味丸。若發熱喘唾膿血，飲食不入，為敗症。</p>
<p>皆為脾土虧損不能生肺金，肺金不能生腎水；能補脾肺滋腎水，多有得生者。若面赤脈大者，難治；面黃白脈浮澀者，易治。若嘔膿不止，不治。嘔膿自止，自愈（治驗見《婦人良方》、《外科樞要》）。</p>
<p>治穀道前後生癰，謂之懸癰。用粉草一兩，截斷，以澗水浸潤，炙令透內，細銼，用無灰酒煎服。有人患此已破，服兩劑，瘡即合。</p>
<p><u>愚按：</u></p>
<p>前症患於陰莖之後，穀道之前，屬足三陰虧損之症。輕則為漏，瀝盡氣血而亡；重則內潰而即殞。常治初起，濕熱壅滯，未成膿作痛，或小便澀滯者，用龍膽瀉肝湯。腫痛盛，仙方活命飲，並以制甘草佐之。若不能成膿或不潰者，用八珍散主之。若膿已成者，急針之，欲其生肌收斂。腎虛者，六味地黃丸。血虛者，四物加參、朮。氣虛者，四君加芎、歸。脾虛者，補中益氣湯。氣血俱虛者，八珍湯、大補湯。若用寒涼消毒則誤矣（治驗見《外科樞要》）。</p>
<h3>拾遺（附）</h3>
<p>癰疽之疾，男子與婦人無異。惟婦人有月閉、血虛、氣結三症之異耳，余當依常法治之。</p>
<p><u>愚按：</u></p>
<p>男子之症，多屬肝腎；女子之症，多屬肝脾。治者亦當辨之。</p>
<p>凡小兒屬純陽，其癰疽之疾也，多因心氣熱而患之。</p>
<p><u>愚按：</u></p>
<p>前症亦有因稟賦而致者。嘗治少參史南湖孫，陰囊赤腫，余作胎毒治之而瘥。後患發熱痰嗽，見症不一，難以明狀，遂診其母，有鬱火血熱之症，乃用解毒清肝等藥，子母俱服而愈（詳見《保嬰粹要》）。</p>
<p><u>崔氏方</u></p>
<p>　治手足甲疽，或因修甲傷肉，或因損足成瘡，潰爛上腳，用綠礬置鐵板上沸，色赤如溶金色者為真，沸定取出，研末，以鹽湯洗搽之。</p>
<p><u>愚按：</u></p>
<p>前症即脫疽也。此方固有良驗，尤當調元氣為善。大抵此症，先因醇酒炙爆膏粱濃味傷脾，或房勞虧損腎水，故有先渴而後患，有先患而後渴者。若色赤作痛自潰，可治；色黑不潰，不治。色赤作痛者，先用隔蒜灸，活命飲、托裡散，再用十全湯、大補東加減八味丸；色黯不痛者，隔蒜灸，桑枝灸，亦用十全大補東加減八味丸，則毒瓦斯不致上侵，元氣不至虧損，庶可保生。亦有因修手足口咬等傷者，若元氣怯弱，或犯房事，外塗寒涼，內服克伐，損傷脾胃，患處不潰，色黯上延，亦多致死。重者須解去，當以腳力轉解周HT　，輕拽之，使筋隨骨出，而毒得泄。否則毒筋內斷，仍上潰，雖去無益。且偏僻之處，氣血罕到，藥難導達。況攻毒之劑，先傷脾胃，反損元氣，不若灸法為良。重者須解去為善。故孫真人云，在肉則割，在指則截。雖親之遺體不忍毀傷，然不如連則勢必至於天歿，亦非體親之心也。況患處已壞，雖解不痛，又何憚而不為乎？女子亦有此患，多因鬱怒虧損肝脾所致。治法當與前同，患者知之（治驗見《外科樞要》）。</p>
<p><u>經驗方</u></p>
<p>　治刀傷磕損，跌撲腫痛，或出血。用蔥白細切杵爛，炒熱敷患處，蒜冷再易，神效。</p>
<p><u>愚按：</u></p>
<p>《醫學綱目》稱前方有神效。余嘗以治前症青腫不散，死肉不潰，佐以健脾胃之藥，其功尤捷。此內外所以合一也。</p>
<p><u>百一方</u></p>
<p>　治竹刺在肉，以蠐螬研敷立出。</p>
<p><u>衍羲方</u></p>
<p>　治竹木刺入肉，嚼牛膝根罨之，即出。</p>
<p><u>肘後方</u></p>
<p>　治箭鏃入骨，以巴豆肉微炒，以蜣螂研勻，塗傷處，俟癢極拔出。</p>
<p>孫真人治箭鏃、針刺在咽喉胸膈，杵螻蛄，塗患處，自出。</p>
<p><u>愚按：</u></p>
<p>前四方用之果有良驗。</p>
<p><u>肘後方</u></p>
<p>　治熱油及火燒，用丹參八兩，調以羊脂二斤，煎三五沸，取敷之。</p>
<p><u>至聖膏</u></p>
<p>　治湯火瘡，用雞子黃置銀石器內熬油，調胡粉敷之。</p>
<p><u>愚按：</u></p>
<p>前症若發熱作渴，小便赤澀，用四君、芎、歸、山梔、連翹、甘草健脾胃以消毒。若患處肉已死而不潰，用八珍、白芷、甘草補氣血以排膿，如未應，加肉桂。若患處死肉已潰而不收斂，用四君、芎、歸、黃　健脾胃以生肌，如未應，加炮薑。若小兒患之，或目扎頭搖等症，用四君加芎、歸、山梔、健脾胃以清肝木。若食後即有此患，或腹脹作痛，用四君、山梔、山楂、神麯壯脾氣以消導。大凡初患此症，用神效當歸膏敷之。輕者自愈，重者自腐，良肉易生。其色赤者，乃火毒未盡，必搽至色白為度。倘患於肢節伸屈之處，若敷此且免生痂傷礙新肉復潰難痊。倘回祿煙熏致死者，以蘿卜搗汁灌之即蘇，以其辛能散氣也（治驗見正體部）。</p>
<p><u>附治驗</u></p>
<p>錦衣楊永興，廚下夜間回祿，凡睡此房已死將死者，灌以蘿卜汁，良久悉愈。凡罹此患者，以此治之，其應如響。</p>
<p>騎竹馬灸法圖　萬金散內托散　遠志酒五香連翹湯　忍冬酒沉麝湯　忍冬草圖五香湯　以上方見前卷漏蘆湯　追毒丸柞木飲　轉毒散阿膠飲　單煮大黃湯牛膠飲　神仙截法黃礬飲　秘傳連翹湯國老膏　千金漏蘆湯六味車螫散　神硝散止痛靈寶散　聖效散神效麻仁丸　神仙陷脈散清心內固散　漏蘆湯清膻竹葉湯　豬蹄湯以上方見中卷</p>
<h2>附錄</h2>
<h3>瘡瘍隱括關鍵處治之法</h3>
<p>一、瘡瘍用藥，當審其經絡受症，標本虛實，以治之。不可泥於熱毒內攻，專用寒涼克伐之劑，虧損脾胃氣血，多致有誤。若腫高　痛者，邪氣實也，先用仙方活命飲，後用托裡消毒散。漫腫微痛者，真氣虛也，用托裡散。如不應，加薑、桂。若不作膿，不腐潰，陽氣虛也，用四君子加黃　、肉桂。若膿既出而反痛，氣血虛也，用八珍散。不生肌，不收斂，脾氣虛也，四君子加芍藥、木香。又當舍時從症，如腫痛煩躁，發熱飲冷，便秘，脈洪數實，是為五實，雖在嚴寒，必用大苦寒之劑，瀉其陽以救其陰。若脈細皮寒，瀉利腸鳴，不食嘔吐，手足逆冷，是為五虛，雖在盛暑，必用大辛熱之劑，散其陰以回其陽。若執其常法則誤矣。</p>
<p>一、瘡瘍作嘔，如熱盛　痛，邪氣實也，用仙方活命飲解之。若因作膿　痛，胃氣虛也，用托裡消毒散主之。膿熟脹痛，氣血虛也，用托裡散或針以泄之。　痛便秘，熱蘊於內也，用內　黃連湯導之。寒藥傷胃者，托裡健中湯。食少胃寒者，托裡益中湯。中虛寒淫者，托裡溫中湯。肝木乘脾土者，托裡益青湯。胃脘停痰者，托裡清中湯。脾虛自病者，托裡益黃散。郁結傷脾者，托裡越鞠湯。</p>
<p>一、瘡瘍用圍藥，如腫痛熱渴，症屬純陽，宜內服濟陰丹，外敷抑陽散。若似腫非腫，似痛非痛，似潰不潰，屬半陰半陽，宜內服沖和湯，外敷陰陽散。若微腫微痛，或色黯不痛，或堅硬不潰，症屬純陰，宜內服回陽湯，外敷抑陰散。</p>
<p>一、瘡瘍作痛，若大便秘結者，用內　黃連湯。熱毒熾盛者，仙方活命飲。瘀血凝滯者，乳香定痛散。作膿而痛者，托裡消毒散。膿脹而痛者針之，膿潰而痛者補之。氣虛而痛者，四君、歸、　。血虛而痛者，四物、參、　。腎虛而痛者，六味地黃丸。口乾作渴，或小便頻數，加減八味丸。</p>
<p>一、瘡瘍陽氣脫陷，或誤服克伐，或膿血大泄，或吐瀉勞役，或誤行房事。若發熱煩熱，頭痛頭暈，便血目赤，煩喘自汗盜汗，氣短唾痰，體倦熱渴，意欲飲水投水，身熱惡寒，憎寒惡衣，揚手擲足，汗出如水，腰背反張，呻吟音不絕，脈浮洪大，此無根虛火假熱之症。若畏寒頭痛，咳逆嘔吐，耳聵目蒙，小便自遺，或時淋瀝，瀉利腸鳴，裡急腹痛，玉莖短縮，冷汗時出，齒牙浮痛，肢體麻痹；或厥冷身痛，咬舌嚙唇，舌本強硬，吃逆喘促，脈微沉細，此危殆之症。但見一二，急用大劑參附湯補之，多得復生。</p>
<p>一、瘡瘍潰後，發熱煩躁，若發熱無寐，血虛也，聖愈湯。自汗不止，氣虛也，四君子加黃　、五味子。發熱煩躁，肉　筋惕，氣血虛也，八珍湯。大渴面赤，脈洪大而浮，陰虛發熱也，當歸補血湯。肢體微熱，煩躁面赤，脈沉微，陰盛發躁也，四君、薑、附。</p>
<p>一、瘡瘍大便秘結，若作渴飲冷，其脈洪數而有力者，屬實火，宜用內　黃連湯。若口乾飲湯，其脈浮大而無力者，屬氣虛，宜用加味八珍湯。若飲食雖多，肚腹不脹，此內火銷鑠，切不可通。若腹痞脹而不通者，乃因直腸干涸，以豬膽汁導之。若誤行　導，復傷元氣，則不能潰斂。</p>
<p>一、瘡瘍大便泄瀉，若因寒涼傷脾，六君加砂仁。脾氣虛弱，六君煎送二神丸。脾虛下陷，補中益氣送二神丸。命門火衰，用八味丸料煎送四神丸。腎虛不固，薑附東加吳茱、五味。脾腎虛寒，參附湯送四神丸。脈沉而細，飲食不下，用薑附湯，多有復生者。</p>
<p>一、瘡瘍小便頻數，或莖中澀痛者，乃腎經陽氣虧損，陰無以化之，惡症也，用加減八味丸以補陰。足脛逆冷者，用八味丸以補陽。小便頻而黃者，四物加參、朮、麥門、五味以補腎。若熱結膀胱而不利者，五淋散以清熱。脾肺氣燥而不化者，黃芩清肺飲以滋陰。若膀胱陰虛，陽無以生者，宜滋腎丸。膀胱陽虛，陰無以化者，宜腎氣丸。若老人陰痿，精內敗者，用加減八味丸加車前、牛膝。如不應，加附子。若大小便牽痛，愈痛則愈便，愈便則愈牽痛，以前藥加附子，多有生者。苟用黃柏、知母淡滲之劑，既瀉真陽，復損真陰，速其危矣。</p>
<p>一、瘡瘍作渴，　痛發熱，便利調和者，上焦熱也，用竹葉石膏湯。腫痛發熱，大便秘澀者，五內熱也，用四順清涼飲。　腫痛盛者，熱毒蘊結者，用仙方活命。漫腫微痛者，氣血虎壅也，用補中益氣湯。若因胃火消爍，而津液短少者，用竹葉黃　湯。若因胃氣虛而不能生津液者，用補中益氣湯。若因胃氣傷而內亡津液者，用七味白朮散。若因腎水干涸作渴，或口舌乾燥者，用加減八味丸。或先口乾作渴，小便頻數，而後患疽，或疽愈後作渴飲水，或舌黃干硬，小便數，而疽生者，尤其惡也。苟能逆知其因，預服加減八味丸、補中益氣湯，以滋化源，可免是患。</p>
<p>一、瘡瘍出血，因五臟之氣虧損，虛火動而錯經妄行也。若因肝熱而血妄行者，四物加炒梔、丹皮、苓、朮。肝虛不能藏血者，六味地黃丸。心虛不能主血者，四物加炒連、丹皮、苓、朮。若脾虛熱不能統血者，四君加炒梔、丹皮。若脾經郁結者，用歸脾東加五味子。若脾肺氣虛者，用補中益氣加五味子。若氣血俱虛者，用十全大補。若陰火動者，用六味丸加五味子。</p>
<p>一、瘡瘍用針，當辨生熟淺深。若小按即痛者，膿淺也。大按方痛者，膿深也。按之而不復起者，膿未成也。按之而即起者，膿已成也。若膿生而即針，則徒泄其氣血，而膿反難成。若膿熟而不針，則腐潰益深，瘡口難斂。若瘡深而針淺，則內膿不出，外血反泄。若瘡淺而針深，則內膿雖出，良肉反傷。其元氣虛弱，必先補而後針，不論尻神。若膿出而反痛，或煩躁嘔逆，皆由血氣虧損，宜急補之。不論尻神者，蓋因患處已潰故也。</p>
<p>一、瘡瘍肌肉不生，若赤色而不生者，血熱也，四物東加牡丹皮。晡熱內熱，血虛也，四君子加歸、地、丹皮。若膿水清稀，氣血俱虛也，十全大補湯。食少體倦，脾氣虛也，補中益氣湯。煩熱作渴，起居如常，胃火也，竹葉黃　湯。煩熱作渴，日晡熱甚，腎虛也，用加減八味丸。</p>
