<header><h1>溫病正宗</h1></header>
<dl class="元資料" data-type="book">
<div><dt>作者</dt><dd>王德宣</dd></div>
</dl>
<h2>周序</h2>
<p>民國十有五年秋，忠客芝城軍次，得識湘鄉王松如先生，氣宇軒昂，片言雅合。時先生長寧鄉鹽政，兼任八軍二十五團少校軍需，及同級軍醫。先生綜核計畫，條理井然。全部官兵，與地方民眾，患病請診，戶為之穿，應接從容，曾不少息，且多奏奇效，咸奉之若神明。繼而邀游江漢，懸壺燕都，當地達官顯宦，以及窮鄉婦孺，聞先生名，　集求診，凡沉　痼疾，無不著手成春。至二十一年北平猩紅熱流行猖獗，諸醫束手，而先生全活甚眾，積案成帙。蓋其讀書博，用功深，處方不拘成法，故能得心應手，載譽而歸。本年先生任湖南國醫專校溫病教授，因感溫病專書向無善本，特搜羅古今醫籍，闡發奧蘊，且抒心得，窮源竟委，綜合成書，顏曰《溫病正宗》。忠雖不知醫，然深悉先生醫學之精，治病之奇，則其書足為世重可知，茲因付梓，故述其大凡云爾。</p>
<p><u>民國二十四年十一月</u></p>
<p><u>寧鄉周守忠恕安氏謹序</u></p>
<h2>自序</h2>
<p>孔子為政，必先正名者。名不正，則言不順，事不成也。醫學操人生殺之權，豈可不正其名乎！吾國醫學，所以異夫歐西者，我重氣化，而彼重形質；彼炫科學，而我求哲理也。惟其重氣化，而求哲理，故不盡可以言傳，而必須以意會。其可言傳者，固易知易能；而須意會者，則難知難能。果欲見垣一方，則非別具會心不可。溫病之名不正，由來久矣。苟任其龐雜淆混，誠恐毫厘之差，而有千裡之謬，松如之為此懼也久矣。今春承乏湖南國醫專科學校講席，教授溫病學，是用不忖譾陋，采輯古今溫病學說，加以辨正，名之曰《溫病正宗》。</p>
<p>因校中已采用時人沈嘯穀所改編時逸人之《溫病全書》為教程，故以是稿備學生之參考。遂徇其請，遽付手民，未敢自信，尚幸高明有以教之。</p>
<p><u>民國二十四年乙亥秋月</u></p>
<p><u>湘鄉恬　山人王德宣松如甫序於湖南國醫專科學校</u></p>
<h2>上編‧學說辯正</h2>
<h3>第一章‧溫病解釋之正誤</h3>
<p>後漢張仲景著《傷寒雜病論》合十六卷，自云雖未能盡愈諸病，庶可以見病知源，則其為廣義《傷寒論》明矣。廣義傷寒云者，即《難經》所謂傷寒有五：中風、傷寒、濕溫、熱病、溫病是也。蓋傷寒乃外感之總名，《傷寒論》統論外感之書也。惜其書經三國兵燹殘缺失次，江南諸師復秘其要方不傳。迨晉王叔和撰次其遺論僅得十卷，即今存之《傷寒論》也。又宋‧王洙於館閣蠹簡中，得仲景《金匱玉函要略方》三卷，亦叔和所撰次。或曰古之《雜病論》即此書也。</p>
<p>然則仲景之書，賴叔和以傳，而溫病為傷寒之一，本無疑義也。</p>
<p>洎夫有明‧方中行出，著《傷寒論條辨》，削去傷寒序例，反謂叔和為仲景之罪人，於是仲景之廣義《傷寒論》，一變而為狹義《傷寒論》矣。其所以削去傷寒序例者，無非欲於溫病另辟蹊徑耳。繼方氏而起者，則有吳又可《溫疫論》之傷寒例正誤，清‧喻嘉言《尚論篇》之駁正王叔和序例，錢天來之《傷寒溯源集》、程應旄《傷寒後條辨》之王叔和傷寒序例貶偽，黃元御《傷寒懸解》之王叔和傷寒例；此外，張宛鄰之《素問釋義》，於《生氣通天論》、《熱論》、《水熱穴論》，皆對於叔和攻擊謾罵不遺余力，反目為千古之罪人。張隱庵、柯韻伯、魏荔彤、張令韶、陳修園等，皆傷寒大家也，亦從而和之。於是《傷寒》一書，注釋不下百余家，各以己意附會。或割章分句，或前後易置，或擅加刪改，後之讀者遂如墮五裡霧中矣。</p>
<p>及葉天士之《溫熱論》、與吳鞠通之《溫病條辨》出，遂別溫病於傷寒而立異，謂溫邪專從口鼻而入，而創溫病治三焦之說，以與仲景《傷寒論》六經見證分道揚鑣。不識六氣傷人（古之所謂寒暑燥濕風，名為五氣，天氣也；水火金木土，名為五行，地氣也。清陽為天，濁陰為地。天以陽生陰長，地以陽殺陰藏。本乎天者親上，本乎地者親下。天有陰陽，地亦有陰陽。寒暑燥濕風火，天之陰陽也；木火土金水火，地之陰陽也，是謂六元，亦曰六氣。六氣過甚，謂之六淫，故傷人也）皆襲皮毛，或從口鼻，無分乎寒與溫也。惟寒性凝斂，宜溫宜表；熱性蒸發，宜清宜降，治法各異耳。</p>
<p>溫熱之病雖不若傷寒六經之傳經，然亦可憑六經而見證。《難經》有溫病之脈行在諸經之文。蓋六經乃百病之提綱，何得以溫邪專從口鼻而入，強定傷寒先分六經、溫病須究三焦乎？至邪專從口鼻而入者，乃瘟疫也。《素問‧刺法論》曰：五疫之至，不相染者，正氣存內，邪不可干；避其毒瓦斯，天牝從來，復得其往，氣出於腦，即不邪干。所謂天牝者，即</p>
<p>《老子》所謂玄牝之門。玄，天也，於人為鼻；牝，地也，於人為口（見《老子》河上公注，及《內經》馬元台注）此言人之正氣內存，則邪不干犯。若避毒之法，以毒瓦斯既從口鼻而入，當復循其口鼻而出，世之取嚏法，乃其遺意之一也。</p>
<p>《內經》論瘟疫之邪從口鼻而入，既明且詳，豈待楊士瀛、吳又可出，而後知之乎？蓋瘟疫之邪，乃天地之厲氣，亦即濁氣也，垢穢也，細菌也，為有形質黏滯之物，故不能入皮毛之細孔，而專從口鼻之大道也。至於鼠疫，亦有由皮膚刺傷，或死鼠之蚤咬傷而傳染者，則皮膚既傷，乃疫毒與傷處血液相接之故，仍非疫邪之能由皮膚入也。</p>
<p>乃聽者不察，群相附和，混溫病於瘟疫，別溫病於傷寒。殊不知瘟疫病以化疫為主，溫熱病以清火為急，《傷寒論》之清降法，即所以治溫病也。後人立法，豈能出其范圍？何得不以《傷寒論》為廣義，反與其分庭抗禮哉？然而叔和所輯《傷寒論》之所以不廢者，賴有張路玉、徐靈胎、王朴莊、陸九芝之排除眾議，備致推崇也。張路玉之《傷寒緒論》云：余嘗考晉王叔和集仲景《傷寒》書，未嘗不廢書而三嘆也。嗟夫！猶賴叔和為仲景之功臣。使無叔和之集，則《傷寒》書同於《卒病論》（按宋‧郭雍《傷寒補亡論》：有問曰：傷寒何以謂之卒病？雍曰：無是說也。仲景敘論曰為《傷寒雜病論》合十六卷，而林其目者誤書為卒病，後學因之，乃謂六七日生死，人故謂之卒病，此說非也。</p>
<p>古之傳書怠惰者，因於字畫多，省偏旁，書字或合二字為一，故書「HT　」為「HT　」，或再省為卒。今書卒病，則雜病字也。漢‧劉向校中秘書，有以趙為肖，以齊為立之說，皆從省文而至於此，與雜病之書卒病無以異。今存《傷寒論》十卷，《雜病論》亡矣）之不傳矣，何能知有六經證治乎？即《條辨》、《尚論》，亦無從而下手也。徐靈胎之《醫學源流‧傷寒論論》云：仲景《傷寒論》，編次者不下數十家，因致聚訟紛紜，此皆不知仲景作書之旨故也。今人必改叔和之次序，或以此條在前，或以此條在後，或以此症因彼症而生，或以此經因彼經而變，互相詬厲，孰知病變萬端，傳經無定，古人因病而施方，無編方以待病，其原本次序既已散亡，庶幾叔和所定為可信。何則？叔和序例云：今搜采仲景舊論，錄其證候診脈聲色，對病真方有神驗者，擬防世急也。是則此書乃叔和所搜集，而世人輒加辨駁，以為原本不如此。抑思苟無叔和，安有此書？且諸人所編，果能合仲景原文否耶？此皆閱歷有得，持平之論也。至王朴莊之《傷寒例新注》及</p>
<p>《回瀾說》等，與陸九芝之《世補齋》文，均宗叔和，辟方喻，挽狂瀾，尊聖經，其功尤偉。</p>
<p>邇來仲景之《傷寒雜病論》，有二原稿出。一為羅哲初之所傳，（長安黃竹齋因見浙江流通圖書館國醫圖書專號中，載有張仲景療婦人方，及五臟營衛論，均注存天一閣鈔本字樣，乃往寧波該閣訪之，實無其事。復便道鄞縣周岐隱處，邂逅該邑廣濟施醫局主任桂林羅哲初，出示其家藏古本《傷寒雜病論》鈔本全書十六卷，謂受之桂林左盛德，左受之張紹祖。紹祖即仲景四十六世孫。左氏之序，稱其師紹祖所言，相傳《傷寒》一書，共有一十三稿，每成一稿，傳抄殆遍城邑。茲所藏者，為第十二稿，叔和所得，為第七次稿云）一為劉　湘之所得。（劉自稱在十年前，以母喪求葬地，漫游江西，於山谷中遇張姓老人，授以古本《傷寒雜病論》十六卷云云。嗣　湘以授其族人仲邁，仲邁為之校讎疏釋以公諸世。湘主席何芸樵又有手抄原文影印本）羅所傳者尚未刊行，內容如何雖不可知。而劉所得者，首《平脈法》，次《傷寒例》，又次溫暑熱濕燥各篇，又次演六經本病壞病，及霍亂、痙、陰陽易、瘥後勞復，終之以諸可與不可與等，較之叔和所編加多，且增溫熱燥諸篇。惟《傷寒例》中無「今搜采仲景舊論，錄其證候診脈聲色，對病真方有神驗者，擬防世急也」之二十八字。夫此二十八字為叔和言，余為仲景語，唐王燾《外台秘要》，及陸氏九芝早已言及。今無此二十八字，則《傷寒例》非叔和所增益，為仲景之原文益信。而《傷寒論》為論廣義傷寒之書，亦不待辨而自明矣。</p>
<p>或曰：叔和與仲景相去五六十年，仲景至今則一千七百余年矣，五六十年猶不能得其全，千余年後尚能見廬山真面目乎？遺稿果有存者，胡為不出於方中行等攻擊叔和之時，而出於今日乎？曰：吾國古者絕學，往往秘而不宣，古本流傳，容或有之，即令後人作偽，而人能宏道，安見後人不可昌明聖學乎？時人惲鐵樵之《溫病明理》，雖知有廣義傷寒矣，而其盡廢諸家溫病之說，則又未免抹殺一切。要之，學人立說，苟無悖於經旨，則相得益彰，亦即仲聖之功臣也。</p>
<h3>第二章‧溫病真理之探源</h3>
<p>黃帝之《內經》，仲景之《傷寒論》，吾國醫學典籍中之聖經也。然其立言詞簡而旨深，非細繹全文，潛心體會，舉一而反三，鮮能窺其堂奧。若斷章取義，或以詞害意，則差之毫厘，謬以千裡矣。</p>
<p>《素問‧熱論》云：人之傷於寒也，則為病熱，熱雖甚不死。此病熱者，證候也，非病名也，謂傷寒即時發熱者也。</p>
<p>蓋寒邪薄於肌膚，陽氣不得發越，乃反怫鬱，而為病熱。標熱而本寒，陰精未傷，陽氣尚強，是以不死。</p>
<p>至若熱重於溫之熱病，則《靈樞‧熱病》曰：目不明，熱不已者死；舌本爛，熱不已者死；髓熱者死；熱而痙者死。</p>
<p>蓋目以熱而不明，熱又不已，肝氣衰也；舌本已爛，熱猶不已，心邪盛也；熱甚則髓枯，腎氣竭也；熱而痙者，風動筋急也。所以然者，熱甚則火勢燎原而風生，風火相乘，精血枯竭，焉得不死？</p>
<p>《水熱穴論》曰：帝曰：人傷於寒，而傳為熱何也？岐伯曰：夫寒盛則生熱也。蓋言表寒既化為熱，熱則入裡，裡熱菀結，乃成熱病也。</p>
<p>《刺熱論》曰：病甚者為五十九刺，或瀉諸陽之熱，或瀉胸中之熱，或瀉胃中之熱，或瀉四肢之熱，或瀉五臟之熱。</p>
<p>亦言傳變之熱病也。</p>
<p>《金匱真言論》曰：夫精者，身之本也。故藏於精者，春不病溫。《平人氣象論》曰：人一呼脈三動，一吸脈三動而躁，尺熱，曰病溫。《論疾診尺》曰：尺膚熱甚，脈盛躁者，病溫也。《玉版論要》曰：病溫虛甚死。此則溫病之命名，及其診候之法也。</p>
<p>《陰陽應象大論》曰：冬傷於寒，春必病溫。《熱論》曰：凡病傷寒而成溫者，先夏至日者為病溫，後夏至日者為病暑。《傷寒例》曰：不即病者，寒毒藏於肌膚，至春變為溫病，至夏變為暑病。暑病者，熱極重於溫也。此言伏氣之為病也。</p>
<p>夫中而即病之傷寒，其發熱之因固寒也；傷寒不即病而傳變為溫病、為暑病，其因亦寒也。故《熱論》曰：今夫熱病者，皆傷寒之類也。</p>
<p>《刺志論》曰：氣虛身熱，此謂反也。又曰：氣虛身熱，得之傷暑。蓋氣虛則陽氣不足，陽氣不足當身寒，反身熱者，脈氣當盛，脈不盛而身熱，證不相符，故謂反也。寒傷形，熱傷氣，暑即熱，故傷暑則氣虛身熱也。</p>
<p>《傷寒論》曰：太陽病、發熱而渴，不惡寒者為溫病。然則溫病之異於傷寒，乃以發熱而渴又不惡寒者為辨也。</p>
<p>《傷寒論》曰：若發汗已，身灼熱者名風溫。風溫為病，脈陰陽俱浮，自汗出，身重，多眠睡，鼻息必鼾，語言難出。若被下者，小便不利，直視失溲。若被火者，微發黃色，劇則如驚癇，時螈　，若火熏之。一逆尚引日，再逆促命期。此言風溫誤治變為壞病之證狀也。</p>
<p>《傷寒論》曰：太陽中熱者，　是也，其人汗出惡寒，身熱而渴也。又曰：太陽中　者，身熱疼重，而脈微弱，此以夏月傷冷水，水行皮中所致也。又曰：太陽中　者，發熱惡寒，身重而疼痛，其脈弦細芤遲，小便已，洒洒然毛聳，手足逆冷，小有勞身即熱，口開前板齒燥。若發汗，則惡寒甚；加溫針，則發熱甚；數下之，則淋甚。此言中熱中　者，乃中暑之異名而同病者也。惟其證候各別，故治法不一耳。</p>
<p>凡上所舉，皆溫病學之宜探賾索隱，以窮其本原者也。世人往往於傷寒溫病混淆不分，治熱病而以傷寒發熱論治，且誤認熱雖甚不死，肆用辛溫麻桂之方、治而不應，乃不自責其醫學之未精，反咎古人立法之不善，使先聖悲天憫人之懷，竟變為操刃殺人之術，不亦誣乎！夫惟賾隱難明，故探索不易而誤會者滋多。誤會者既多，於是似是而非之說紛然以起，益令人混淆莫辨，後之學人將從何而探索之乎？是用於眾說混淆之中，擇其可為探索之階梯者分論於下，俾學人知所取舍焉。</p>
<p>宋‧郭白云之《傷寒補亡論》，取《千金》、《活人》及龐氏、常氏之說，合乎仲景者補之，故曰補亡。朱熹跋語，謂其分別部居易見，且使古昔聖賢醫道之原委，不病其難。見者皆驚喜為奇書，其闡奧發微，可謂至矣。</p>
<p>金‧劉河間之《傷寒直格論方》，及《傷寒林本心法類萃》，於治溫熱獨抒心得，發前人所未發，故後世謂主火之說，始自河間。</p>
<p>李東垣之學說，雖以重脾胃見稱，然其弟子王好古所輯之《此事難知集》，上合軒岐之經，中契越人之典，下符叔和之文，乃發仲景不傳之秘，而為人所難知，故以難知為名。</p>
<p>明‧戈存橘之《傷寒補天石》，統論外感諸病，所包甚廣，理例詳明，亦能發仲景言外之意，而立媧皇補天之功。</p>
<p>清‧俞根初之《通俗傷寒論》，乃近時何廉臣所刊行，其內容豐富，條分縷晰，凡辨證論治處方，俱切實用。苟非三折肱之諳練，積畢生之心血，曷克臻此？外感總名傷寒，古之俗稱，故其書曰《通俗傷寒論》。</p>
<p>上數家言，皆屬獨出心裁，別開生面，各自成家，然窠臼雖離，經旨仍合，且能闡發《傷寒雜病論》廣義之實際，其有功仲景，良非淺鮮。欲探求溫病學之原委者，不能不加之意也。</p>
<p>此外，元‧王安道之《醫經溯洄集》，雖誤以仲景《傷寒論》專為即病之傷寒設，不兼為不即病之溫病暑病設，然能辨別溫病與傷寒，井井有條，亦可資研究之書也。</p>
<h3>第三章‧溫病瘟疫之辨析</h3>
<h4>第一節‧通論</h4>
<p>熱為火之用，火為熱之體，故言火則不言熱，言熱則不言火，一而二，二而一也。溫者，熱之不甚者也。六氣言火不言溫，舉一以概二也。曰溫熱者，乃溫病熱病之總稱。邪之輕者為溫，邪之重者為熱。近世概以溫病括之，而溫病乃賅熱暑濕燥而言。溫病暑病之冬傷於寒而春夏發者，及春夏感邪而秋冬發者，皆謂之伏氣；隨時感受而即發者，謂之新感。新感其邪輕，治之尚易；伏氣其邪重，治之較難。故治溫病之法不獨異於傷寒，伏氣與新感亦不可同日而論也。</p>
<p>瘟疫本名癘疫，傳染病也。《素問‧刺法論》云：帝曰：余聞五疫之至，皆相染易，無問大小，病狀相似。《六元正紀大論》云：厲（《韻會》：癘通作厲）大至，民善暴死。皆言癘疫之證狀者也。《說文》：癘者，惡疾也；疫者，民皆疾也。從　役省聲。《釋名》：疫，役也。言有鬼行役也。《刺法論》於癘疫之分，則以干支推之，謂天運化疫，地運化癘。</p>
<p>蓋以疫之與癘，不過上下剛柔之異。故又以金木水火土統之，即所謂五疫者也。而按之實際，則癘疫均有寒溫之別。其流行者，溫癘溫疫多，而寒癘寒疫少。《六元正紀大論》曰：其病溫癘大行，遠近咸若。又曰：其病溫癘。皆言溫癘，而不及寒癘，蓋以溫癘概寒癘也。《老子》曰：凶年之後，必有溫疫。《抱朴子》曰：經溫疫，則不畏。俱言溫疫，而不及寒疫，亦以溫疫概寒疫也。後人又立雜疫之名，以統疫病之雜症也。</p>
<p>夫溫病與瘟疫，病源既殊，治法各異，古人分辨，本極明了，不可以混同也。後人猶恐其相混，故改溫疫之溫作瘟。</p>
<p>吳又可不明此意，以古無瘟字，反混溫病瘟疫為一病。（吳又可云：《傷寒論》曰發熱而渴，不惡寒者為溫病；後人去加為瘟，即瘟也。要之，古無瘟字，乃後人之自為變易者，不可因易其文，以溫瘟為兩病）不識溫病者，以溫為病名也；溫疫溫癘者，以疫癘為病名，言疫之溫者、癘之溫者也。惟其古無瘟字，乃知瘟疫溫癘之溫非病名，何得反混溫病為癘疫哉？夫言事物者，必通權而達變，醫病亦何獨不然？春溫夏熱秋涼冬寒，感之而病者，常也；《素問》曰重陰必陽，重陽必陰，冬傷於寒，春必病溫，春傷於風，夏生飧泄，夏傷於暑，秋必　瘧，秋傷於濕，冬生咳嗽者，皆伏氣也，則謂之變。然猶不傳染，仍屬變中之常。若夫喉痧、白喉、霍亂、伏陰症、痧症、痢疾、疫痙、鼠疫，諸傳染病，則又變中之非常者也。（但白喉、霍亂、痧症、痢疾，亦有非傳染而病者，則亦屬變中之常）故論溫病而欲窮其原委，則非明乎常變之道不可。</p>
<p>然自吳又可混溫病瘟疫為一之後，附和者眾，而常變之理不明，治瘟疫之書多混溫病，治溫病之書亦雜瘟疫，後之學人，苟非好學深思之士，鮮不為其所惑者。（松如）竊憂之，爰將關於溫病瘟疫之書分別評論，俾後之讀者知所取舍焉。</p>
<h4>第二節‧溫病專書之概論</h4>
<p>《四庫全書》醫家類敘云：醫之門戶分於金元。而其門戶所以分，自來以為由於易水、河間學說之不同。究之河間之主火，乃闡發傷寒之廣義，仍不悖乎仲聖之本旨。迨天士《溫熱論》出，溫病學始離傷寒而獨立。鞠通加以附會，則更離經叛道，而溫病學之歧誤益不可究詰，後之學人將何所適從？然則關於溫病之書籍，甄別實不容緩，茲將其專書，略論於下：明‧張鳳逵之《傷暑全書》，乃專治暑者也。其書凡自《內經》以至宋元明諸家之論暑者，靡不采取，可謂詳備。</p>
<p>惟其於《傷寒例》所云寒毒藏於肌膚，至春變為溫病，至夏變為暑病之語，及《內經》所云冬傷於寒，春夏病溫病暑之說，加以詆毀，則是尚未明伏氣之故。幸葉子雨取而增訂之，庶無流弊。</p>
<p>清‧戴麟郊之《廣瘟疫論》，乃踵吳又可瘟即溫之誤。雖其主要以瘟疫與傷寒為辨，使傷寒瘟疫之治不混，然其所論瘟疫，實為伏氣溫熱之病。陸氏九芝愛其論之精，惜其名之誤，乃於其論中刪去尸氣腐氣等語，及大青龍一方，與凡所稱時行疫癘者，悉改之曰溫邪，使無羼混。且補世之治傷寒者，每誤以溫熱治之，治溫熱者，又誤以傷寒治之等語，以免夾雜傷寒，故改其名為《廣溫熱論》。何氏廉臣見其於濕溫燥熱二症言之甚略，即用藥選方亦未盡善，且未將風溫、濕溫、春溫、冬溫等釐清，而概稱時行，未免含混，爰為重訂。將原書缺者補之，訛者刪之，更增入古今歷代名醫之良方，而成為伏氣溫熱之全書。又易其名為《重訂廣溫熱論》，而後乃為盡善盡美之治伏氣溫熱正法眼藏矣。</p>
<p>吳坤安之《傷寒指掌》，於溫病論治頗詳，邵氏仙根加以評語，何氏廉臣復為重訂，且易其名為《感症寶筏》。然其立論但知葉天士所謂溫邪上受，治主三焦，則仍新感溫熱之證治也。</p>
<p>吳鞠通之《溫病條辨》，乃遵葉天士之學說而變本加厲，以三焦劃界，溫熱與瘟疫同治。且於仲景溫病原文捏造以桂枝湯主之，誣聖欺世，莫此為甚。其書之無價值，可以想見。今有葉子雨、陸士諤二家之評，或可杜其流弊。</p>
<p>王孟英之《溫熱經緯》，以軒岐仲景之文為經，葉薛諸家之說為緯，且為之注釋。其詳博明晰，可謂集前人之大成，而垂後學之規范。其書雖間有瑕疵，而得葉子雨為之評訂，可謂盡善。惜其偏重新感，且攙入疫病，不以溫病疫病合稱，未免後人誤會，至其《歸硯錄》，指摘吳氏《溫病條辨》，則語多扼要，可為師法。</p>
<p>周杓元之《溫證指歸》，謂仲景《傷寒論》為專究傷寒之書，雖屬謬誤，尚能分別寒溫。第以疫病混作溫病，則無法以圓其說，名為《指歸》，實則使人無所依歸。</p>
<p>李識候之《暑症發源》，論證處方，條分縷晰，洵為治暑症之金科玉律。</p>
<p>陸九芝之《傷寒陽明病釋》，以傷寒傳入陽明遂成溫病，故取陽明病而釋之，頗明晰，有條貫，此乃發明溫病之一端，其於《世補齋》文辨論溫病甚詳，且於諸家謬誤尤多矯正，使傷寒、溫病、瘟疫，朗若列眉，其功匪淺。</p>
<p>凌嘉六之《溫熱類編》，秦伯未為之刪訂，分溫熱暑濕四大綱，何廉臣加以緒論，自《內經》以及諸家凡論溫熱者，采輯靡遺。裘吉生復為刊之於《讀有用書樓醫書選刊》。惜其羅輯雖豐，而發明甚鮮，且不及燥病。</p>
<p>宋佑甫之《南病別鑒》，乃取葉天士《溫證論治》分條注釋，及校刊薛生白《濕熱條辨》、與薛公望《傷寒古風》，末附自著。意以傷寒為北病，溫熱為南病，則未免拘泥。然欲知葉薛各家，則亦可涉獵及之。</p>
<p>汝琴舫之《治溫闡要》，意在闡發溫病之要，又附治疫之法，其書雖無特長，尚屬簡明可取。</p>
<p>柳寶詒之《溫熱逢源》，其於溫熱頗有獨到之處。既詳伏氣，復闡明仲景之暴感暑熱，乃發人所未發，如能由此探求，庶可左右逢源。</p>
<p>陳葆善之《燥氣總論》，實探《內經》之秘，而發喻嘉言、沈目南、吳鞠通諸氏之所不逮。凡論治處方，尤能獨抒心得，洵為燥病學之善本。</p>
<p>葉子雨之《伏氣解》，乃本《素》、《靈》陰陽氣化之道，而詳解六氣伏邪之理。論伏氣之善本也。</p>
<p>劉吉人之《伏邪新書》，分伏燥、伏寒、伏風、伏濕、伏暑等病。論證處方，俱得諸實驗，洵發前人所未發，可謂有功千古。</p>
<p>時人沈漢卿之《溫熱經解》，乃注釋言溫熱之經文，並附方藥，頗有可取。</p>
<p>王馥原之《溫病指南》，立說本諸葉、吳溫病分三焦之劃界，未能合乎真理。然其論治處方，尚屬平正，未可濃非。</p>
<p>郝炳炎之《溫熱病問答》，辨證主方，明白易曉，可為溫病學之初階。</p>
<p>吳錫璜之《中西溫熱串解》，博采兼收，中西互證，可謂洋洋大觀。惟以三焦分篇，仍蹈鞠通之陋。且羼雜疫病，亦屬瑕疵。</p>
<p>劉仲邁之《溫病詮真》，即其所著《傷寒雜病論義疏》之卷四，亦即所謂古本仲景《傷寒論》之一也。其言頗存古風，雖屬溫病之新法門，究為廣義傷寒之實際，惜其未將《傷寒論》之第五卷暑熱濕燥合刊，而非溫熱學所賅之全書也。</p>
<p>惲鐵樵之《溫病明理》，其斥天士、鞠通之溫邪上受及三焦論治之說，固屬不謬。至謂叔和寒毒藏於肌膚之說於理不可通，及其所著《內經綱要》，據西醫傷寒潛伏期不過二十日之說，以駁冬傷於寒，春必病溫，與凡病傷寒而成溫者諸學理，則未免妄議古人。蓋其於伏氣與新感之分辨，尚未明悉。不知西醫傷寒之潛伏期，乃指傷寒即病之潛伏者言，</p>
<p>《內經》之冬傷於寒，春夏方發者，乃指傷寒變為溫病暑病者言實風馬牛之不相及也。</p>
<p>丁醒吾之《溫熱經緯補錄》，蓋為補王氏《溫熱經緯》所未備而作，於秋燥剖釋詳明，誠足以補王氏之所未及。</p>
<p>楊如侯之《溫病講義》，為其擔任山西醫學專校溫病教授時，所輯以教學人也，言頗精當。惟攙入疫病，不以疫病合稱，未免名實不符耳。</p>
<p>張山雷之《濕溫醫案》，乃輯前人之案，而為之評注，亦有可取。</p>
<p>沈嘯穀之《溫病全書》，乃取時逸人之《中國時令病學》，刪去傷寒及關於六經之解釋，合《序例》與《總論》為一篇，將治法分隸各症，藥方附列於治法之後，並增方解，重行改編而成。所言皆平正簡明，有法有式，頗合教材。惟夏季之病，篇名溫病暑溫，究不若熱病暑病之為妥善。溫為熱之漸，熱為溫之極。春氣溫和，故曰春溫風溫，實可統名溫病；夏氣暑熱，病暑而不病溫，宜曰熱病暑病。且暑溫之名，乃吳鞠通所杜撰，暑溫即暑熱之輕症，故不當以暑溫名篇。</p>
<p>況和煦之氣曰溫，亢熱之氣曰暑，既暑矣，何止於溫？暑溫之名，實不可通。</p>
<p>章巨膺之《溫熱辨惑》，乃本其師惲氏鐵樵之旨，仍援西醫言傷寒之潛伏期至多不過二三日，以辟《傷寒例》寒毒藏於肌膚之謬。此則盲從西說之尚形質，而忘祖國之言氣化。但其辨證論治，頗具條理，不無可取。</p>
<p>宋愛人之《春溫伏暑合刊》，對於春溫、伏暑，演繹詳明，選方亦精，且以春溫一症，分新邪為風溫，伏邪為伏溫，立說新穎，可謂不落前人窠臼。</p>
<p>上皆溫病通行之專書。此外，如邵步青之《四時病機》，雷少逸之《時病論》，雖非溫病之專書，亦詳溫病之證治，頗有可取。至於張畹香之《溫暑醫旨》，張子培之《春溫三字訣》，薑子房之《溫病賦》，錢文驥之《溫病條辨症方歌括》，則皆崇拜鞠通之學說，而為初學示法度者也，不足觀也矣。</p>
<p>夫溫病專書，類皆起於明末而盛於今日，其故何哉？蓋因又可誤溫病為瘟疫，而天士創溫病之異說，於是盲從者日眾，而研究溫病者亦遂多矣。至天士之說，實顧景文所偽托者也。其言似是而非，真理因之而晦，故治溫病之法，至今仍無定說。茲將顧氏之作偽及其類似者，略陳於下：顧氏所著《溫證論治》，乃治新感溫熱之法。相傳為顧氏隨葉氏游洞庭山，信筆記錄舟中之所語。華岫云首刊之於</p>
<p>《續選臨症指南》，名為《溫熱論》。繼則唐笠三以顧氏一時未加修飾，是以辭多佶屈，語亦稍亂，乃為之刪潤，前後移掇，刊之於《吳醫匯講》，而易其名為《溫證論治》。章虛穀又易其名為《外感溫病證治》，刊之於《醫門棒喝》，並為注釋，而贊揚之。王孟英又易其名為《外感溫熱篇》，刊之於《溫熱經緯》，更增注釋。宋佑甫刊之於《南病別鑒》，且為之分條略注。周學海仍其名為《溫熱論》，刊之於《醫學叢書》，間加評注。吳錫璜刊之於《中西溫熱串解》，乃詳注之，易其名為《溫熱論注解》，此其注解中之最精詳者。孟英之注次之。此乃葉派之金針，而為陸九芝所鄙棄者也。</p>
<p>相繼而起者，則有薛生白之《濕熱條辨》，乃治濕溫之法，首載於佛尼勒所刊之《醫師秘笈》，繼則吳子音刊之於《溫熱贅言》，名之為《濕溫症條例》，不題生白之作，而署寄瓢子述。章虛穀易其名為《薛生白濕熱條辨》，刊之於《醫門棒喝》，並略釋之。王孟英刊之於《溫熱經緯》，又易其名為《濕熱病篇》，更詳注之。宋佑甫刊之於《南病別鑒》，又易其名為《濕熱論》。吳錫璜刊之於《中西溫熱串講》，仍名之《濕熱病篇》，更增注之，注中之最精詳者也。此書孟英疑其非薛作，而陸九芝更極辟之，謂其自條自辨，薛氏決無此不合體例，且其語句、藥物，均與《溫證論治》大略相同，難保非顧景文一流人偽托云。</p>
<p>此外，陳平伯之《溫熱病指南》，乃治風溫之法。吳子音刊之於《溫熱贅言》，篇名《溫熱病大意》，不題平伯之名，亦署寄瓢子述，與薛氏《濕熱條辨》合為一人之作。王孟英刊之於《溫熱經緯》，題為《陳平伯外感溫病篇》，並加按語。</p>
<p>吳錫璜之《中西溫熱串講》亦刊之，且於王注之外，更增按語。此書是否陳氏所作，孟英亦以為疑。</p>
<p>由是觀之，溫病專書欲求其盡善者，實不可得。蓋真理既淆，立論自亂，皮之不存，毛將安附？嗚呼！評論者能不為之痛心也哉！</p>
<h4>第三節‧瘟疫專書之概論</h4>
<p>瘟疫，急性傳染病也。自《內經》以下，無書不載，可謂詳且盡矣。然瘟疫之來，以時代而異，以風土為移，故古今方藥不同，南北治療迥異。且變生頃刻，禍不旋踵，非斬關奪隘之將，不克獲除暴安良之功。茲將其專書，略論於下：吳又可之《溫疫論》，實為治瘟疫專書之嚆矢。其辨證論治，有功千古。且發明瘟疫邪自口鼻而入，伏於膜原，又有九傳之變，尤為卓識。惟其因遇崇禎辛已大疫流行之時，所見者為瘟疫而非溫病，乃憑一孔之見，而作正名之篇，悉將溫病誤為瘟疫；又作《傷寒例正誤》，力詆冬傷於寒、春夏成溫成暑之理，遂令溫病混入瘟疫，淆然莫辨，則又仲景之罪人也。</p>
<p>羽翼又可者，則有清‧鄭重光之《溫疫論補注》，孔以立之《評注溫疫論》，洪吉人之《補注瘟疫論》，皆無甚闡發，但洪注較勝。陳錫三之《二分晰義》，及楊栗山之《寒溫條辨》，所辨雖詳，仍援又可瘟溫同病之誤。楊書乃竊取陳素中之《傷寒辨證》，而擴充其義者也。呂心齋之《瘟疫條辨摘要》，則又摘取陳、楊二家而成者也。</p>
<p>劉松峰之《說疫》與《瘟疫論類編》、蔡乃庵之《傷寒溫疫抉要》、楊堯章之《溫疫論辨義》、韓凌霄之《瘟痧要編》、洪教燧之《溫疫條辨》，雖皆瘟溫不分，而間有增補，尚不無發揮者也。</p>
<p>熊立品之《治疫全書》，李炳之《辨疫　言》，朱蘭台之《疫證治例》，皆略有發明，可備治疫之參考者也。</p>
<p>時人余伯陶之《疫證集說》，曹彝卿之《防疫芻言》，徐相宸之《急性險疫證治》，曹炳章之《秋瘟證治要略》，紹興醫學會之《濕溫時疫治療法》，楊志一之《四季傳染病》，時逸人之《中國急性傳染病學》等書，或輯舊說，或抒心得，或參西學，則皆切於實用者也。</p>
<p>至於鄭奠一之《溫疫明辨》，即戴麟郊《廣溫疫論》之張冠李戴，則名為瘟疫，而所論實屬溫熱也。</p>
<p>其瘟溫統治之書，則有清‧周禹載之《溫熱暑疫全書》，分別溫病瘟疫尚清，惜其內容太簡，有負全書之名耳。</p>
<p>至分症論治者，則有清‧余師愚之《疫疹一得》。師愚即《閱微草堂筆記》所載之桐城醫士也。於乾隆癸丑，京師大疫，用大劑石膏，所治應手而痊，踵其法者，活人無算。時人劉民叔之《時疫解惑論》，所用方劑，亦推重石膏。但石膏雖為治熱疫要藥，究亦不專恃石膏。民國壬申歲，故都爛喉丹痧（倭名猩紅熱，北平亦呼疫疹）流行，夭橫無算。</p>
<p>其重症壞症，人所不治者，經（松如）全活者頗多。其所用藥，輕者日用數兩，重者多至八九斤，均不專重石膏。其臨證驗案，他日當刊以問世。此則又非余、劉之所知也。</p>
<p>清‧陳耕道之《疫痧草》，顧玉峰之《痧喉經驗闡解》，金德鑒之《爛喉丹痧輯要》，夏春農之《疫喉淺論》，張筱衫之《痧喉正義》，曹心怡之《喉痧正的》，時人丁甘仁之《喉痧症治概要》，曹炳章之《喉痧證治要略》，皆治爛喉丹痧之專書也。</p>
<p>清‧黃維翰之《白喉辨證》，張善吾之《時疫白喉捷要》，李倫青之《白喉全生集》，陳葆善之《白喉條辨》，耐修子之《白喉治法忌表抉微》，張采田之《白喉證治通考》，皆治白喉之專書也。</p>
<p>夫白喉，咽喉腐也；喉痧，亦咽喉腐也。其所以異者，白喉多由腎虛火旺，裡證也，咽喉雖腐，有汗發熱，自下焦而至上焦，其勢緩；喉痧則純為癘疫之邪，由於口鼻傳入，表證也，咽喉腫腐，發熱無汗，自上焦而至下焦，其勢急。</p>
<p>一屬陰虛，一屬陽邪。陰虛即仲景所云少陰病，咽痛胸滿心煩，豬膚湯主之者也；陽邪即仲景所云陽毒之為病，面赤斑斑如錦紋，咽喉痛，升麻鱉甲湯主之者也。此又不可以不辨也。</p>
<p>清‧王孟英之《隨息居霍亂論》，陸九芝之《霍亂論摘要》，趙海仙之《趙氏霍亂論》，許起之《霍亂燃犀說》，姚訓恭之《霍亂新論》，陳蟄廬之《瘟疫霍亂答問》，連文沖之《霍亂審證舉要》，時人凌禹聲之《霍亂平議》，翟冷仙之《霍亂指南》，皆治霍亂之專書也。</p>
<p>霍亂之發也暴，其退速，脈忌微細。而類似寒霍亂之伏陰症，其發緩，而退不易，脈恆細或伏，先利而後嘔，惟不若霍亂之心腹絞痛，其發專在夏秋，病則遠近一律。清‧田云槎之《時行伏陰芻言》，辨之極明。倘誤認伏陰為霍亂，則其為害不可勝言矣。</p>
<p>清‧郭右陶之《痧脹玉衡》，隨萬寧之《羊毛瘟證論》，徐子默之《吊腳痧方論》，林藥樵之《痧症全書》，高亭午之</p>
<p>《治痧全編》，黨因道人之《急救異痧奇方》，費友棠之《急救痧證全集》，費養莊之《痧疫指迷》，時人陳景岐之《七十二種痧症救治法》，皆治痧症（痧症即雜疫，一名干霍亂，又名痧脹）之專書也。</p>
<p>清‧孔以立之《痢疾論》，吳本立之《痢證匯參》，吳士瑛之《痢疾明辨》，唐容川之《痢症三字訣》，時人丁子良之</p>
<p>《治痢捷要新書》，羅振湘之《治痢南針》，皆治痢疾之專書也。</p>
<p>近時所謂疫痙，亦名痙瘟，又名伏瘟，於小兒俗呼為驚風，即西醫之流行性腦脊髓膜炎也。明方中行之《痙書》，時人蔣璧山之《伏瘟證治實驗談》，沈朗清之《腦膜炎新書》，劉裁吾之《痙病與腦膜炎全書》（此書尚末出版，序文曾經披露）皆治此症之專書也。《金匱》有剛痙柔痙之分，猶驚風之有急慢也。《說文》：痙，疆急也。《廣韻》：痙，風強病也。夫痙之為病，脊強而厥，即《難經》所謂督之為病，脊強而厥。蓋同病而異名者也。脊髓上貫於腦，乃督脈之所司。《脈要精微論》曰：頭者，精明之府。李時珍曰：腦為元神之府。金正希曰：人之記性皆在腦中。王清任曰：靈機在腦。則腦之為物可知。夫心之官則思。《說文》思字從心從囟。囟即　，頂門也。蓋謂心有所思，則神注於腦也。《韻會》曰：自囟至心，如絲相貫不絕。蓋謂腦神經也。夫腦陰質也，心陽火也，以陽火上灼陰質，則神光畢照，事物洞明。</p>
<p>此以腦之靈機，而為心主之所司者也。西說之腦膜炎，炎者火也，但火極生風，風火相乘，則筋膜燥，脊髓枯，神經為之緊張，故頭痛脊疼，頸項彎曲，手指抽攣，神識昏迷，目赤直視，口噤譫語。《靈樞‧熱病》曰：髓熱者死，熱而痙者死，熱病數驚，螈　而狂，風痙身反折。《素問‧氣厥論》曰：肺移熱於腎，傳為柔痙。又《骨空論》曰：督脈為病，脊強反折。皆此症之見證也。葉天士所謂溫邪上受，逆傳心包，亦此證之一也。心包即心主之宮城，蓋腦之靈根下在於腎，腦之靈機上發自心。心通於腦，故瀉心火即清腦法也。然其症不獨有剛柔之分，且有有疫無疫之異。施治之法，又不可執一無權也。</p>
<p>清‧羅芝園之《鼠疫約編》，沈敦和之《鼠疫良方匯編》，劉肇隅之《鼠疫備考》，時人余伯陶之《鼠疫抉微》，李健頤之《鼠疫治療全書》，徐相宸之《訂正鼠疫良方》，皆治鼠疫之專書也。</p>
<p>他如痘瘡、麻疹，乃本先天之遺毒，蘊藏於骨髓之間。痘為陰毒，發於五臟；麻為陽毒，發於六腑。雖皆由感觸疫邪而發，究非其主因也。古者隸於小兒科，今則另立專門，故不列入。</p>
<h3>第四章‧溫病學說之折衷</h3>
<p>岐伯曰：今時之人，以酒為漿，以妄為常，醉以入房。此嘆世風之不古，而不能如古人之虛邪賊風、避之有時，精神內守，病安從來也。自岐伯迄今，又四五千年矣，加以中外交通，人煙繁萃，兵革時起，飢饉荐臻，溫病瘟疫，有不從而日增者乎？痘瘡發現於後漢，至唐宋而盛行。痧症亦名干霍亂，宋時雖盛行，而至有清以來為尤烈。爛喉丹痧、白喉、鼠疫等，雖為往昔異名之病，然皆自有清而後盛行。所以然者，蓋上古之時，天清地寧，民淳俗朴，虛邪苛毒無由而生，即或有之，發現亦鮮，故人不覺；世愈降，民俗愈澆，而惡疾險症亦遂愈多也。</p>
<p>吳又可生於多疫之秋，故其言曰：業醫者，所記所誦，連篇累牘，俱是傷寒，及其臨證，悉見瘟疫，求其真傷寒，百無一二云云，誠非虛語。其立說雖為後世溫病瘟疫混淆之濫觴，而其發明疫邪自口鼻而入，伏於膜原，與夫九傳之變，則為治疫之金針，而不容埋沒。</p>
<p>喻嘉言之溫症三大例，可謂深知伏氣變病之理。惟治金鑒一案，標其名為傷寒死症奇驗，而強詞奪理，竟作冬傷於寒，又兼冬不藏精之春溫兩感症，用麻黃附子細辛湯及附子瀉心湯，以炫其奇；且云不藏精之人，腎中陽氣不鼓，精液不得上升，故枯燥外見，用附子助陽，則陰氣上交於陽位，如釜底加火，則釜中之氣水上騰，而潤澤有立至者。此種言論，荒謬已極，既標名傷寒，何得又作溫病？夫不藏精者，精液枯竭，所以化火，惟恐清涼之不急，何得反用辛溫？火上加油，焉有不燎原者乎？其證狀壯熱、譫語、皮膚枯澀、舌卷、唇焦、足冷，即王海藏《陰症略例》所謂陰極似陽之陰症，實非溫病也。</p>
<p>《臨證指南》、《溫證論治》，《景岳發揮》諸書，偽托葉天士之所作也。（天士生平未嘗著述，其所流傳於世者，泰半由於偽托，即《溫證論治》及《臨證指南》，乃葉派崇奉之靈符，一為顧景文之手筆，一出於華岫云之采輯。他如《景岳發揮》，為梁溪姚球所撰，坊賈因書不售，剜補桂名，遂致洛陽紙貴。曹畸庵《醫學讀書志》言之甚詳。又如陳修園之《醫學三字經》，修園自稱亦曾托名葉天士。其作偽情形可概見矣）《臨證指南》及《景岳發揮》，並詳伏氣，不獨新感。吳鞠通徒取《溫熱論》之溫邪上受，首先犯肺，逆傳心包十二字，撇開伏氣，以新感立論，更固執《臨證指南》所云仲景傷寒先分六經，河間溫熱須究三焦之語，劃分三焦界限，愈失愈遠；既非葉派之全豹，復開後學之盲從，此溫病家之罪人也。陸九芝謂河間治法，亦惟六經是言，而三焦而字，始終不見於《六書》，初不解《指南》之何以有是語，久之而悟《指南》於西昌之論瘟，認作河間之論溫，約略記得河間之書，人皆說是異於仲景者，故即不妨托之河間耳。</p>
<p>此論固屬確鑿，而天士之意或又不然。夫河間主火，是其專長，人所共知，且作《三消論》，以三焦論治。三消之為病，乃燥熱怫鬱，精血枯竭，亦須清涼，無異溫病，此天士或由此而悟也。然《三消論》所謂之三焦，乃指上中下所病之部位而言，此與天士以溫病必始於上焦而終於下焦，又似是而非，實風馬牛不相及也。但天士論溫，雖知伏氣，而論新感則混同於瘟疫，故援又可之說，以溫邪上受，首先犯肺，逆傳心包為綱領。其邪之首先犯肺者，藥用辛涼，是為新感之溫熱，即陸氏所謂不過小小感冒，如小風熱、小風溫也；其逆傳心包者，藥用犀角、金汁、人中黃之屬，是為瘟疫之重症，即陸氏所謂不出數日遽入心包，為一場大病以至於死也。</p>
<p>陸氏之治溫病，執定陽明，以陽明為成溫之藪，凡屬內外之邪，必通行此要津，如導江河而至於海，固屬提綱挈領。</p>
<p>然只發明在陽明之溫病，而於溫病之伏氣新感不分，輕重緩急同治，雖可為治法之常，猶未能通權達變。其意在掃除荊棘，新辟康莊，實則未免矯枉過正。</p>
<p>王孟英溫病家之卓卓者也，其指摘鞠通曰：鞠通之排定三焦路徑，必欲溫熱病遵其道而行，有是理乎？夫溫熱究三焦者，非謂病自上焦始而漸及於中下也。伏氣自內而發，則病起於下者有之；胃乃藏垢納污之所，濕溫疫毒，病起於中者有之；暑邪挾濕者亦犯中焦。又暑屬火，而心為火臟，同氣相求，邪極易犯，雖始上焦，亦不能必其在手太陰一經也。</p>
<p>其辨別伏氣新感曰：伏氣溫病自裡出表，乃先從血分而後達於氣分。更有邪伏深沉，不能一齊外出者，正如抽蕉剝繭，層出不窮，不比外感溫邪由衛及氣、自營而血也。此等議論，皆至理名言，可為師法。且其驗案甚夥，更堪玩味。</p>
<p>章虛穀與吳鞠通為同時人，皆崇拜葉天士者也。章氏於溫熱雖無發明處，然亦糾正吳氏《溫病條辨》之謬，較之吳氏尚勝一籌。</p>
<p>伏邪之病，《內經》論之甚詳，而不見其名。《傷寒論》雖有伏氣之病，而無新感之稱，所以世之論溫病者，恆混淆不分。清‧蔣寶素所著《醫略稿》之伏邪篇，闡揚伏溫一病，昭然大白。惜其乃援吳氏《瘟疫論》行邪伏邪之說，仍屬瘟溫不分，未可為法。柳寶詒繼之，辨別瘟溫之相異，新感伏氣之不同，既正諸家之謬，復發前人所未言，實論伏氣溫之最詳備者也。</p>
<p>他如周禹載、尤在涇、舒馳遠、陳平伯，於溫病均有所發明。周禹載之《溫熱暑疫全書》，乃發明溫病發於少陽者也。其說曰：溫病所傷者，寒也；所病者，溫也；所伏者，少陰也；所發者，少陽也。其所以然者，少陰本虛而傷寒，春則木旺而水虧，火氣燔灼，病必有陽而無陰，藥必用寒而遠熱，黃芩湯其主治也。尤在涇之《傷寒貫珠集》，乃發明少陰清法與厥陰清法者也。其說曰：少陰之熱有從陽經傳入者，亦有自受寒邪，久而變熱者。陽經之寒，變則熱歸於氣，或入於血；陰經之寒，變則熱入於血，而不歸於氣。厥陰之病，本自消渴，其裡有熱，乃傳經之邪，厥陰受之也。舒馳遠之《傷寒六經定法》，乃發明太陰經之火者也。其說曰：太陰經之著痹、行痹二症，為火旺陰虧，熱結經隧，赤熱腫痛，手不可近，法宜清熱潤燥。陳平伯之《溫熱病指南》，乃發明肺胃為溫邪必犯之地者也。其說曰：風溫為燥熱之邪，燥令從金化，燥熱歸陽明，故肺胃為溫邪必犯之地。且風溫為燥熱之病，燥則傷陰，熱則傷津，泄熱和陰，又為風溫病一定之治法也。</p>
<p>以上諸家立言，皆有至理，然皆各舉一端，學人博取而會通之，以為溫病之治法則可，苟拘泥一家之言，則大不可。</p>
<p>《傷寒論》之六經見證，乃百病之提綱，非獨為傷寒病而設。劉松峰有瘟疫六經治法，朱蘭台之《疫證治例》亦分六經。治瘟疫尚以六經見證，何況溫病乎！所謂見證者，乃以證候見於何經，即從何經而治之也。若作傷寒之六經傳經，由太陽而陽明，終於厥陰解之，則謬矣。《難經》曰：溫病之脈行在諸經，不知何經之動也。然則凡論溫病者，豈可膠柱鼓瑟哉？至於治病之法，則《內經》云：治寒以熱，治熱以寒。又曰：從內之外者，調其內；從外之內者，治其外。從內之外而盛於外者，先調其內，而後治其外；從外之內而盛於內者，先治其外，而後調其內。中外不相及，則治主病。又曰：治熱以寒，溫而行之；治寒以熱，涼而行之；治溫以清，冷而行之；治清以溫，熱而行之。故消之削之，吐之下之，補之瀉之，久新同法。此皆治病之通法，治溫熱者亦不能外也。</p>
<p>陸九芝曰：天士於《臨證指南》，既以小風寒抵作傷寒一大法門，於《溫證論治》，又以小風熱抵作溫熱一大法門，所以傷寒一證，至天士而失傳，溫熱一證，亦至天士而失傳。此嘆景文、岫云之作偽也。孰知不有當日天士之誤，則無後世溫病之爭，而傷寒溫病均無人闡發矣。夫《難經》傷寒有五之傷寒，外感之總稱也，《傷寒論》則六淫之全書也。</p>
<p>然五種傷寒之中，又有傷寒之目，故傷寒雖有廣義，亦有狹義。既有狹義，則傷寒與溫病，又未可混而不分也。今日之所謂溫病學人，亦非專言溫病，乃概暑濕燥火而言，既不悖乎經旨，又能發揚光大，何嘗不可與《傷寒論》後先輝映，相得益彰乎？此書雖為正溫病之名而作，亦未始非為《傷寒論》進一解也。</p>
<h2>下編‧正宗輯要</h2>
<h3>第一章‧通論</h3>
<h4>一、《素》、《靈》</h4>
<p>（一）夫精者，身之本也。故藏於精者，春不病溫。（《金匱真言論》）</p>
<p>張隱庵曰：神氣血脈皆生於精，故精乃生身之本。能藏其精，則血氣內固，邪不外侵，故春不病溫。</p>
<p>吳鞠通曰：不藏精三字須活看，不專主房勞說，一切人事之能搖動其精者皆是。即冬日天氣應寒，而陽不潛藏，如春日之發泄，甚至桃李反花之類亦是。</p>
<p>陸九芝曰：《金匱真言論》云：夫精者，身之本也。故藏於精者，春不病溫。所謂精者，指一身津液由於水穀所化。</p>
<p>水穀之精氣，和調於五臟，洒陳於六腑，為後天生身之本，其下遂以精與汗互言之。吾試以經解經，此即經言食氣入胃，散精於肝，淫精於脈，輸精於皮毛之數精字也；亦即經言飲入於胃，游溢精氣，上輸於脾，脾氣散精，上歸於肺，水精四布，五經並行之數精字也。又岐伯論溫病曰：人所以汗出者，汗生於穀，穀生於精，邪氣之得汗者，邪卻而精勝也。</p>
<p>又曰：汗者，精氣也。則精即是汗。</p>
<p>（二）冬傷於寒，春必病溫。（《生氣通天論》）</p>
<p>馬元台曰：冬傷於寒者，至春必為溫病。蓋冬時嚴寒，中之即病者，謂之傷寒；其有傷於寒，而不即病者，至春陽氣發生，邪從內作，故為溫病之證。夫曰溫者，寒非純寒而有熱，熱非純熱而有寒，正以前此而冬則為寒，後此而夏則為熱，則此春時乃為溫病也。</p>
<p>葉子雨曰：冬至一陽漸生，人身之陽氣內盛，被冬日嚴寒殺厲之氣所折，深浹於肌髓之間，至春日，內伏郁結之陽氣為外邪觸發，伏氣既得發泄，遇天氣之陽熱，兩熱相干，發為溫病。</p>
<p>（三）凡病傷寒而成溫者，先夏至日為病溫，後夏至日為病暑。暑當與汗出，勿止。（《熱論》）</p>
<p>葉子雨曰：古醫經以傷寒為外感之通稱，故云凡病傷寒而成溫。然天地陰陽之邪，隨人身氣化感召。冬至後一陽漸生，人身所伏之陽熱，為嚴寒折遏，感春陽之氣而發者為病溫；夏至一陰生，人身所伏之陰氣，感亢熱之氣而發者為病暑。蓋春溫夏暑，隨氣而化，亦隨時而命名也。暑當與汗出，勿止者，暑雖熱邪，熱盛則蒸濕，濕與熱搏，故暑病多汗；治暑之法，不可禁止其汗也。</p>
<p>柳寶詒曰：經言凡病傷寒，是傷寒不必專於冬時，即三時感寒，亦能郁化為溫也。其稱夏至後為病暑，則暑即溫之變名，尤不可指為另是一邪。而此獨分別言之者，因伏氣發於夏至以後，其治病略有不同。蓋溫病忌汗，恐其傷陰；若時交長夏，則汗出必多，而邪氣亦隨汗而出，又未可以汗多而遽止之也。</p>
<p>（四）氣虛身熱，得之傷暑。（《刺志論》）</p>
<p>馬元台曰：氣本虛矣，而身反熱，蓋得之傷暑故也。惟熱傷氣，故傷暑則身熱也。</p>
<p>（五）人一呼脈三動，一吸脈三動而躁，尺（廖平曰：尺為皮之誤）熱曰病溫。（《平人氣象論》）</p>
<p>馬元台曰：一呼脈當再動，而今則三動；一吸脈當再動，而今則三動；則一呼一吸總為一息，為六動矣。《脈訣》以為數脈。《難經》亦以為離經脈。是六至而躁，躁者，動之甚也。今尺脈躁動，當尺有熱。尺部者，下部也，主腎水不足，其病為溫。</p>
<p>（六）尺（廖平曰：尺為皮之誤）膚熱甚，脈盛躁者，病溫也。其脈盛而滑者，病（《甲乙經》病作汗）且出也。（《論疾診尺篇》）</p>
<p>馬元台曰：尺之皮膚熱甚，其脈盛躁，當為溫病也。其脈雖盛，不至於躁，而帶滑者，則病當自出矣。</p>
<p>吳鞠通曰：尺膚熱甚，火爍精也；脈盛躁，精被火煎沸也；脈盛而滑，邪機向外也。蓋溫病必傷金水二臟之津液，尺之脈屬腎，尺之穴屬肺，此處肌肉熱，故知為病溫也。</p>
<p>薛生白曰：尺膚熱者，其身必熱；脈甚躁者，陽邪有餘，故當為溫病。若脈雖盛而兼滑者，是脈已不躁，而正氣將復，故不久當愈。出，漸愈之謂。</p>
<p>（七）諸治熱病，以飲之寒水，乃刺之；必寒衣之，居止寒處，身寒而止也。（《刺熱論》）</p>
<p>章虛穀曰：以其久伏之邪，熱從內發，故治之必先飲寒水，從裡逐熱；然後刺之，從外而泄；再衣以寒，居處以寒，身寒熱除而後止。</p>
<p>柳寶詒曰：治熱以寒，一定之理。今人於溫病初發，見用涼解，而即言其遏邪者，彼固未明此理也。</p>
<p>王孟英曰：今人不讀《內經》，雖溫熱暑疫諸病，一概治同傷寒，禁其涼飲，濃其衣被，閉其戶牖，因而致殆者，我見實多。然飲冷亦須有節，過度則有停飲、腫滿、嘔利等患，更有愈後手指、足縫出水，甚至腳趾脫落，即俗所謂脫腳傷寒也。</p>
<p>葉子雨曰：治熱病，飲以寒水，欲其熱自內達外也；必寒衣寒處者，皆避溫就涼之意耳。然肆飲寒涼，流弊滋多。</p>
<p>孟英此注，頗具卓見，讀者鑒諸。</p>
<p>（八）病溫虛甚死。（《玉版論要篇》）</p>
<p>柳寶詒曰：經言藏於精者，春不病溫，則凡病溫者，其陰氣先虛可知。使或虛而未至於甚，則養陰透邪治之如法，猶可挽回。若病溫者而至虛甚，則熱邪內訌，陰精先涸，一發燎原，不可治矣。</p>
<p>吳鞠通曰：病溫之人，精血虛甚，則無陰以勝溫熱，故死。</p>
<p>（九）熱病已得汗，而脈尚躁盛，此陰脈之極也，死；其得汗而脈靜者生。（《熱病篇》）</p>
<p>馬元台曰：此言熱病汗後脈躁者死，反是則生也。熱病已得汗，脈宜靜，今反躁盛者，此乃陰經之脈衰弱已極，故有陽脈而無陰脈也，其人主於死。若得汗之後，而脈遂能靜，則有陰以配陽，必能以有生矣。</p>
<p>（十）熱病者，脈尚盛躁，而不得汗者，此陽脈之極也，死；脈盛躁，得汗靜者生。（《熱病篇》）</p>
<p>馬元台曰：此言熱病脈盛而不得汗者死，反是則生也。熱病脈躁盛宜得汗，今反不得汗者，此乃陽經之脈衰弱已極，故表虛而不能發汗也，其人主於死；若脈躁盛而汗出脈靜者，必能以有生矣。</p>
<h4>二、《難經》</h4>
<p>（一）傷寒有五：有中風、有傷寒、有濕溫、有熱病、有溫病，其所苦各不同。（《五十八難》）</p>
<p>丁錦曰：傷寒有五者，指五病俱統於傷寒一門，而分其所苦之不同也。風為陽邪，寒為陰邪，故先列中風，次列傷寒。寒者，皆冬月之正病也。濕溫發於濕土之令居多，熱病發於盛夏，溫病即仲景《傷寒經》中春溫病也。乃見前之五邪從本原來，非比之傷寒熱病，故各立其法也。注家以疫症指此溫病，非也。</p>
<p>（二）溫病之脈，行在諸經，不知何經之動也。（《五十八難》）</p>
<p>柳寶詒曰：溫病邪伏少陰，隨氣而動，流行於諸經，或乘經氣之虛而發，或挾新感之邪氣而發。其發也或由三陽而出，或由肺胃；最重者，熱不外出，而內陷於手足厥陰；或腎氣虛不能托邪，而燔結於少陰。是溫邪之動，路徑多歧，隨處可發，初不能指定發於何經，即不能刻定見何脈象也。</p>
<p>（三）熱病之脈，陰陽俱浮，浮之而滑，沉之散澀。（《五十八難》）</p>
<p>丁德用曰：陰陽俱浮者，謂尺寸俱浮也；浮之而滑者，輕手按之而滑，是心傷熱脈也；沉之散澀者，沉手按之而散澀，是津液虛少也。</p>
<p>（四）濕溫之脈，陽濡而弱，陰小而急。（《五十八難》）</p>
<p>丁德用曰：肌肉之上，陽脈所行，濡弱者，是濕氣所勝火也；肌肉之下，陰脈所行，小急者，是土濕之不勝木，故見小急。所以言陽濡而弱，陰小而急也。</p>
<h4>三、《傷寒論》</h4>
<p>（一）《陰陽大論》云：春氣溫和，夏氣暑熱，秋氣清涼，冬氣冰冽，此則四時正氣之序也。（《傷寒例》）</p>
<p>成無己曰：春夏為陽，春溫夏熱者，陽之動始於溫，盛於暑故也；秋冬為陰，秋涼而冬寒者，以陰之動始於涼，盛於寒故也。</p>
<p>（二）冬時嚴寒，萬類深藏，君子固密，則不傷於寒。觸冒之者，乃名傷寒耳。（《傷寒例》）</p>
<p>成無己曰：冬三月純陰用事，陽乃伏藏，水冰地坼，寒氣嚴凝，當是之時，善攝生者，出處固密，去寒就溫，則不傷於寒。其涉寒冷，觸冒霜雪為病者，謂之傷寒也。</p>
<p>（三）其傷於四時之氣，皆能為病。（《傷寒例》）</p>
<p>成無己曰：春風、夏暑、秋濕、冬寒，謂之四時之氣。</p>
<p>陸九芝曰：仲景原文，首著「四時之氣」四字，則《傷寒論》之不獨言冬月傷寒，而並春夏秋三時之溫熱濕燥論之，豈不顯然，乃必曰仲景獨知有寒者何哉？仲景本知有溫熱。既謂仲景但論寒，反謂叔和將溫熱攙入論中，以為仲景之論亂於叔和，真不知其是何肺腑。他人不足責，黃坤載自稱古今無雙，則更可笑矣。</p>
<p>（四）以傷寒為毒者，以其最成殺厲之氣也。（《傷寒例》）</p>
<p>成無己曰：熱為陽，陽主生；寒為陰，陰主殺。陰寒為病，最為肅殺毒厲之氣。</p>
<p>王朴莊曰：寒本正氣，而有殺厲之毒，不特使人病於冬，且能使人病於春夏，故治之不可不急也。</p>
<p>劉仲邁曰：毒之為言害也。《博雅》一曰惡也。《周禮‧天官》：醫師掌醫之政令，聚毒藥以供醫事。論云以傷寒為毒者，喻為害之意云爾。又《易‧師卦》以此毒天下而民從之，與《老子》「亭之、毒之」之毒，在《易》義當訓治，在《老子》則為「優育」之意。後賢有以本論毒字為語病者，真所見未廣耳。</p>
<p>（五）中而即病者，名曰傷寒。（《傷寒例》）</p>
<p>王朴莊曰：此桂枝、麻黃二湯證也。</p>
<p>（六）不即病者，寒毒藏於肌膚，至春變為溫病，至夏變為暑病。暑病者，熱極重於溫也。（《傷寒例》）</p>
<p>王朴莊曰：龐安常云：嚴寒時，奔走荷重勞力之人，皆辛苦之徒也，當陽氣閉藏，反擾動之，令郁發腠理，津液強漬，為寒所搏，腠理反密，寒毒與營衛相渾，則病成矣。其不即時成病者，寒毒藏肌膚間，至春夏陽氣發生，與毒相搏，因春溫氣而變者名溫病，因夏暑而變者名熱病，因暑濕而變者名濕溫。以病本由冬時中寒，故通謂之傷寒焉。</p>
<p>陸九芝曰：龐說如此，足以為《難經》傷寒共有五種之證。</p>
<p>（七）是以辛苦之人，春夏多溫熱病者，皆由冬時觸寒所致，非時行之氣也。（《傷寒例》）</p>
<p>陸九芝曰：此言溫病熱病皆非疫病，而皆由觸寒所致，故皆名傷寒。讀此兩語，則仲景明明告人以溫熱之病，即在</p>
<p>《傷寒論》中矣。後人既不知此本仲景語，而又疑叔和自為此語，轉若仲景所未道，因而削之。又因而駁之。若彼一見</p>
<p>《外台秘要》，（按《外台秘要》諸論傷寒篇，以《陰陽大論》、王叔和、華佗、陳廩丘、范汪論、短劇論、千金論、經心錄論為八家。《陰陽大論》語，即《傷寒例》中文。又《病源》、《千金》，所引《傷寒例》文，俱稱經言，則《傷寒例》在隋唐時，本作仲景原文）亦當啞然自笑矣。</p>
<p>王秉衡曰：傷寒，外感之總名也；《傷寒論》，統論外感之書也。</p>
<p>王永嘉曰：《難經》云傷寒有五，則五種外感，昔人皆謂之傷寒矣。《傷寒論》有治風、治溫、治　、治濕諸法。則非專論一傷寒矣。</p>
<p>王孟英曰：吳鞠通謂宋元以來，不明仲景一書專為傷寒而設。吳氏直未讀《傷寒論》也。注《傷寒》者無慮數十家，皆以為專論傷寒之書，故恆覺支離附會。考論中風、寒、溫、　、濕五氣為病，古人皆曰傷寒，故《難經》云傷寒有五，而仲聖以《傷寒》名其書也。此等大綱不清，豈可率爾著書？楊照藜曰：注《傷寒》者無慮數十家，皆以為專論傷寒之書，故恆支離附會不適於用。惟《重慶堂隨筆》指出為統論外感之書，覺《傷寒論》之全體俱現，此與堯封之見相同者。</p>
<p>（八）凡時行者，春時應暖而反大寒；夏時應熱而反大涼；秋時應涼而反大熱；冬時應寒而反大溫。此非其時而有其氣。是以一歲之中，長幼之病多相似者，此則時行之氣也。（《傷寒例》）</p>
<p>張路玉曰：傷寒是感天時肅殺之氣，以寒犯寒，必先寒水。時行是感濕土鬱蒸之氣，以濕犯濕，必先濕土。陽明為營衛之原，始病則營衛俱病，經絡無分，三焦相溷，內外不通，所以其病即發而暴，非比傷寒以次傳經而入也。蓋地為污穢濁惡之總歸，平時無所不受，適當天時不正之極，則平時所受濁惡之氣，亦必乘時迅發。或冬時過暖，肅殺之令不行，至春反大寒冷；或盛夏濕熱污穢之氣交蒸，忽然熱極生風，而人汗孔閉拒，毒邪不得發泄而為病。病則老幼無分，此即時行之氣也。</p>
<p>王朴莊曰：四時失其正氣，必即時發病，而長幼多相似，故曰時行。</p>
<p>陸九芝曰：此言疫病，不獨溫病、熱病。至首言應溫而反大寒，則有寒疫在內，仲景亦何嘗不知疫乎？（九）其冬有非節之暖者，名曰冬溫。冬溫之毒，與傷寒大異。（《傷寒例》）</p>
<p>張路玉曰：冬溫者，時當大寒，而反大溫，東風時至，則肌腠疏豁，忽然大寒，而衣袂單薄，寒鬱其邪，其病即發者為冬溫。以其所感非時溫氣，故言與傷寒大異。若不即發，藏於皮膚，則入傷血脈，至春發為溫病；藏於經絡，則入傷骨髓，至夏發為熱病矣。</p>
<p>（十）從立春節後，其中無暴大寒，又不冰雪，而有人壯熱為病者，此屬春時陽氣，發於冬時伏寒，變為溫病。（《傷寒例》）</p>
<p>成無己曰：此為溫病也。《內經》云：冬傷於寒，春必病溫。</p>
<p>（十一）是以春傷於風，夏必飧泄；夏傷於暑，秋必　瘧；秋傷於濕，冬必咳嗽；冬傷於寒，春必病溫。此必然之道，可不審明之？（《傷寒例》）</p>
<p>王朴莊曰：此引《素問》以明四時正氣皆能留連致病，而語意專為春溫發也。風即春令生升之氣。飧泄，溏糞也。</p>
<p>，二日一發瘧，岐伯謂由人汗空疏，腠理開，因得秋氣，邪內薄於五臟，橫連膜原，故蓄作有時，而間日一發。濕即初秋涼氣，時有微雨，日凡數陣，諺云遠秋十日，作秋天者是也。蓋風、暑、濕、寒，原為正氣，故當時有不即病者。</p>
<p>其夏之飧泄，升極必降也；秋之　瘧，散極必蓄也；冬之咳嗽，降極必升也；春之溫病，蓄極必散也。故曰必然之道也。</p>
<p>（十二）若脈陰陽俱盛，重感於寒者，變成溫瘧。（《傷寒例》）</p>
<p>成無己曰：脈陰陽俱盛者，傷寒之脈也。《難經》云：傷寒之脈，陰陽俱盛而緊澀。經云：脈盛身寒，得之傷寒。</p>
<p>則為前病。熱未已，再感於寒，寒熱相搏，變為溫瘧。</p>
<p>王三陽曰：陰陽俱盛者，傷寒脈也。十三日以上，寒已傳裡，變為熱病矣，脈當沉數，今復見傷寒脈，豈非重感於外寒乎？寒熱相搏，故曰變為溫瘧。</p>
<p>（十三）陽脈浮滑，陰脈濡弱者，更遇於風，變為風溫。（《傷寒例》）</p>
<p>成無己曰：此前熱未歇，又感於風者也。《難經》云：中風之脈，陽浮而滑，陰濡而弱。風來乘熱，故變風溫。</p>
<p>（十四）陽脈洪數，陰脈實大者，更遇溫熱，變為溫毒，溫毒為病最重也。（《傷寒例》）</p>
<p>成無己曰：此前熱未已，又感溫熱者也。陽主表，陰主裡，洪數實大皆熱也。兩熱相合變為溫毒。以其表裡俱熱，故為病最重。</p>
<p>王朴莊曰：此溫毒與《金匱》陽毒陰毒同。洪數者，氣之熱；實大者，血之熱。溫熱之氣挾毒戾而入陽明變為溫毒，凡一切斑疹皆其類也。毒之陷伏者即不治，故云為病最重也。</p>
<p>（十五）陽脈濡弱，陰脈弦緊者，更遇溫氣，變為溫疫。（《傷寒例》）</p>
<p>王朴莊曰：溫疫，即濕溫。（按濕溫，即濕溫時疫，非《難經》所謂傷寒有五之濕溫也）時行之氣，不外寒、熱、燥、濕四者。寒變溫瘧，熱變溫毒，燥變風溫，濕變溫疫，故《總病論》敘四種溫病，直以溫疫為濕溫。濡弱者，天氣之濕客於上，故陽脈見之；弦緊者，地氣之濕客於下，故陰脈見之。溫氣者，春夏間先時太過之熱，蒸動地濕之氣，傷寒病後受之，蘊而成身熱多汗不解之證。此氣易於傳染，能使長幼受多相似，故名為疫。言溫疫者，以別於寒疫也。</p>
<p>寒疫必兼寒濕，溫疫必兼濕熱，此其大略也。</p>
<p>（十六）太陽病，發熱而渴，不惡寒者，為溫病。（《辨太陽病脈證並治》）</p>
<p>成無己曰：發熱而渴，不惡寒者，陽明也。此太陽受邪，知為溫病，非傷寒也。積溫成熱，所以發熱而渴，不惡寒也。</p>
<p>龐安常曰：溫與熱有輕重之分，故仲景云：若遇溫氣，則為溫病；更遇溫熱，則為溫毒。熱比溫為尤重也。若但冬傷於寒，至春而發，不感異氣，名曰溫病，此病之稍輕者也；溫病未已，更遇溫氣，變為溫病，亦可名曰溫病，此病之稍重者也。傷寒例以再遇溫氣名曰溫疫。又有不因冬月傷寒，至春為溫病者，此特感春溫之氣，可名曰春溫。如冬之傷寒，秋之傷濕，夏之傷暑相同也。以此觀之，是春之病溫有三種：有冬傷於寒，至春發為溫病者；有溫病未已，更遇溫氣而為溫病，與重感溫氣相雜而為溫病者；有不因冬傷於寒，不因更遇溫氣，只於春時感春溫之氣而病者。若此三者，皆可名為溫病，不必各立名色，只要知其病源之所以不同也。</p>
<p>張云岐曰：傷寒汗下不愈而過經，其證尚在而不除者，亦溫病也。經云：溫病之脈，行在諸經，不知何經之動，隨其經之所在而取之。如太陽病汗下後過經不愈，診得尺寸俱浮者，太陽溫病也；如身熱目疼，汗下後過經不愈，診得尺寸俱長者，陽明溫病也；如胸脅痛，汗下後過經不愈，診得尺寸俱弦者，少陽溫病也；如腹滿嗌干，過經不愈，診得尺寸俱沉細者，太陰溫病也；如口燥舌乾而渴，過經不愈，診得尺寸俱沉者，少陰溫病也；如煩滿囊縮，過經不愈，診得尺寸俱微緩者，厥陰溫病也。隨其經取之，隨其症治之。如發斑，乃溫毒也。</p>
<p>柯韻伯曰：溫病內外皆熱，所以別於中風、傷寒之惡寒發熱也。此條不是發明《內經》「冬傷於寒，春必病溫」之義，乃概言太陽溫病之症如此，若以春溫釋之，失仲景之旨矣。夫太陽一經，四時俱能受病，不必於冬；人之溫病，不必因於傷寒；且四時俱能病溫，不必於春。推而廣之，則六經俱有溫病，非獨太陽一經也。</p>
<p>（十七）若發汗已，身灼熱者，名風溫。風溫為病，脈陰陽俱浮，自汗出，身重，多眠睡，鼻息必鼾，語言難出。</p>
<p>若被下者，小便不利，直視失溲；若被火者，微發黃色，劇則如驚癇，時螈　；若火熏之，一逆尚引日，再逆促命期。</p>
<p>（《辨太陽病脈證並治》）</p>
<p>黃寶臣曰：發熱惡寒者，太陽證也；發熱而渴，不惡寒者，陽明證也。今太陽病始得之，不俟寒邪變熱，即現陽明之發熱而渴不惡寒者，知非太陽傷寒，乃太陽溫病也。《內經》云冬不藏精之人，春必病溫；又云冬傷於寒，春必病溫。</p>
<p>原內陰已虧，外陽被郁，伏邪醞釀，早從熱化，至春一遇外邪，熱從內應，故證現發熱而渴不惡寒也。宜用寒涼之品於太陽表藥中，微似汗以和之。若用辛溫之劑，以大發其汗，內蘊之熱，得辛溫而益盛。故發汗已，不但身不涼靜，而反灼熱，則輕病變重，而成風溫矣。蓋風溫之為病，脈陰尺陽寸俱浮，自汗出，猶為太陽中風之本象；至於身重、多眠睡，則標本合熱，而顯出少陰之危象也。腎熱上壅於肺，而鼻息必鼾；腎熱上凌於心，而語言難出。熱甚則臟腑之津液必傷。</p>
<p>若被誤下，則水泉竭，而小便不利，甚至少陰之氣將絕，不能榮太陽之脈而直視，不能約膀胱之氣而失溲。若被火灸燒針，是以火益火，微則熱鬱蒸土而發黃色；劇則熱亢攻心而如驚癇，熱甚生風而時螈　，黃色漸深，中帶黑色，若火熏之狀。夫被下已為一逆矣，被火是再逆也。一逆尚可延引時日，再逆則促其命期矣，醫者可不慎哉？王孟英曰：彼冬溫、春溫之先犯手太陰者，皆曰風溫，乃吸受之風溫也；此伏邪內發，誤汗致逆者，亦曰風溫，乃內動之虛風也。然風溫在肺，只宜清解，若誤以辛熱之藥汗之，亦有自汗多眠，鼻鼾難語之變。余治梁宜人一案可質也。</p>
<p>案見《王氏醫案續篇》。</p>
<p>陸九芝曰：按當時之所謂誤下者，乃巴豆小丸子，故陰愈傷，以巴豆亦溫熱藥也。</p>
<p>（十八）太陽中熱者，　是也，其人汗出惡寒，身熱而渴也。（《金匱》以白虎加人參湯主之）（《辨太陽病脈證並治》）</p>
<p>周禹載曰：冬月寒能傷人，則名中寒；夏月熱亦能傷人，則名中熱。此是外表之熱，故曰中，與伏寒發為熱病之熱不同。而同用白虎者，則以所傷在氣，則所主在金，所病在熱，金病則母子俱病，故與伏氣之在少陰，發出而由陽明者無異，要皆並主一湯。不因冬月之伏與夏月之中為二義也。亦不因伏氣之渴與今病之渴為稍異也。方主人參白虎者，石膏功專清肺，退金中之火，是用為君；知母亦能就肺中瀉火滋水之源。人參生津液，益所傷之氣而為臣；甘草、粳米補土以滋金，為佐也。</p>
<p>沈堯封曰：此是熱病證據。《素問》在天為熱，在地為火。熱者，火之氣也。故熱為五氣之一，而熱病即傷寒有五之一。《傷寒論》以《難經》熱字恐與下文溫字相混，故特指出曰　是也。感烈日之氣而病，即《素問》寒、暑、燥、濕、風之暑病。或曰　是陽邪，暑是陰邪，土潤溽暑，熱兼濕言也，似與　有異。曰寒往則暑來，與寒對待，非專言熱而何？古人稱暑、　、熱，一也。若濕熱並至之病，《難經》名曰濕溫，不名暑。迨至隋唐後，皆指濕熱為暑，於是真暑之名失，而　之名更不知為何病矣。</p>
<p>王孟英曰：仲聖以夏月外感熱病名曰　者，別於伏氣之熱病而言也。《說文》云：　，傷暑也。《漢書‧武帝紀》云：夏大旱，民多　死。故暑也，熱也，　也，皆夏令一氣之名也。《北齊書‧後主紀》：六月游南苑，從官　死者六十人。</p>
<p>《千金須知》云：熱死曰　。是唐時尚知暑、　之為熱也。《內經》云：在天為熱，在地為火，其性為暑。又云：歲火太過，炎暑流行。蓋暑為日氣，其字從日，曰炎暑，曰酷暑，皆指烈日之氣而言也。夏至後有小暑、大暑，冬至後有小寒、大寒，是暑即熱也，寒即冷也。故寒字從「　」，「　」為水氣。是暑為陽，寒為陰，陰陽對待，乃天地間顯明易知之事，並無深微難測之理。而從來歧說偏多，誤人不淺。更有調停其說者，強以動靜分之。夫動靜惟人，豈能使天上之暑氣隨人而判別乎？況《內經》有陰居避暑之文，武王有樾蔭　人之事。又有妄合濕、熱二氣為暑者，則亢旱之年，河井皆涸，禾苗枯槁，濕氣全無，可以謂之非暑耶？況濕無定位，分旺四季，風濕、寒濕，無不可兼，惟季夏之土為獨盛，故熱濕多於寒濕。然暑字從日，日為天氣，濕字從土，土為地氣，霄壤不同。雖可合而為病，究不可謂暑中原有濕也。</p>
<p>（十九）太陽中　者，身熱疼重，而脈微弱，此以夏月傷冷水，水行皮中所致也。（《金匱》以一物瓜蒂湯主之。）（《辨太陽病脈證並治》）。</p>
<p>黃寶臣曰：上條言中暑而不兼濕之證，此條言暑合濕邪而為患也。太陽中　者，暑傷於形，則身熱疼重；暑傷於氣，則脈微弱。以此證與脈揆之，知以夏月貪涼，過飲冷水，傷於水濕，水行皮中，為表邪所束，不得汗泄之所致也。</p>
<p>沈漢卿曰：此論夏月先中　，後傷冷水也。熱由太陽入陽明，故身熱。復傷冷水，水行皮中，則營衛俱滯。營氣被阻，則身疼；衛氣被阻，則身重。太陽中　，脈當數大，不當微弱，而脈微弱何也？此以冷水在皮中，隨營衛氣行，營衛氣被阻，不能達於脈，致令脈微弱，故曰此以夏月傷冷水，水行皮中所致也。瓜蒂苦寒，能吐能下，去身面四肢水氣，水氣去，則熱解，故主之。</p>
<p>陳修園曰：此言暑合濕邪為患，有形之濕壅其肺氣也。《金匱》治以一物瓜蒂湯，後人推展其義，用五苓散（茯苓、豬苓、白朮、澤瀉、桂）、大順散（甘草、乾薑、杏仁、肉桂）、小半夏加茯苓湯（半夏、茯苓、生薑）、十味香薷飲（香薷、人參、陳皮、白朮、茯苓、扁豆、黃　、木瓜、厚朴、甘草）、白虎加蒼朮湯（石膏、知母、甘草、粳米、蒼朮），皆兼治濕也。至夏月陽虛陰伏，凡畏熱貪涼，皆可以傷冷水例之，病在陰經，即為陰證，豈可一以清涼治暑哉？（二十）太陽中　者，發熱惡寒，身重而疼痛，其脈弦細芤遲，小便已，洒洒然毛聳，手足逆冷，小有勞，身即熱，口開前板齒燥。若發汗則惡寒甚；加溫針則發熱甚；數下之則淋甚。（《辨太陽病脈證並治》）</p>
<p>沈堯封曰：此言精氣素虧而中　者。</p>
<p>陳修園曰：此言中暑之證，從經脈表裡俱病處繪出虛證模樣。意者寒則傷形，責其實；熱則傷氣，責其虛。發熱惡寒至手足厥冷，皆陰寒之脈證。小有勞三句，是虛而有熱之見證。汗下火皆為所戒，而治法從可知矣。</p>
<p>徐忠可曰：此即潔古所謂靜而得之為中暑，為陰證也。蓋　即暑也。太陽中　者，太陽脈為一身之外衛，凡六氣之感，無不由之，故暑亦必由太陽入。惟太陽，故發熱惡寒。夏月氣溢經絡，於時濕土司令，傷暑者必兼濕，故身重而疼痛。暑熱必傷氣，故弦細芤遲虛脈也。然暑非中熱之謂，暑熱內受，陰寒外束，即東垣所謂廣廈納涼之類，故無汗不渴，而身反重痛也。</p>
<p>成無己曰：病有在表，有在裡者，有表裡俱病者，此則表裡俱病者也。發熱惡寒、身重疼痛者，表中　也；脈弦細芤遲者，中暑脈虛也；小便已，洒洒然毛聳，手足逆冷者，太陽經氣不足也；小有勞，身即熱者，謂勞動其陽，而　即發也；口開前板齒燥者，裡有熱也。《內經》云：因於暑，汗，煩則喘喝。口開謂喘喝也，以喘喝不止，故前板齒干燥。</p>
<p>若發汗以去表邪，則外虛陽氣，故惡寒甚；若以溫針助陽，則火熱內攻，故發熱甚；若下之以除裡熱，則內虛而膀胱燥，故淋甚。</p>
<p>趙以德曰：予嘗思之，此症屬陰陽俱虛。脈弦細者，陽虛也；芤遲者，陰虛也。所以溫針復損其陰，汗之復傷其陽，此症惟宜甘藥補正，以解其熱爾，即《靈樞》所謂陰陽俱不足，補陽則陰竭，補陰則陽脫。可將以甘藥，不可飲以剛劑。</p>
<p>王宇泰曰：中　、中暑、中熱，名雖不同，實一病也。若冬傷於寒，至夏而變為熱病者，此則過時而發，自內達表之病，俗謂晚發是也，又非暴中暑熱新病之可比。或曰新中暑病脈虛，晚發熱病脈盛。</p>
<p>（二十一）師曰：伏氣之病，以意候之。今月之內，欲有（一作知）伏氣。假令舊有伏氣，當須脈之。若脈微弱者，當喉中痛似傷，非喉痹也。病患云：實咽中痛。雖爾，今復欲下利。（《平脈法》）</p>
<p>張錫駒曰：此條言伏氣之病，由內而出，非若時行卒病，由外而至也。</p>
<p>張隱庵曰：此一節言伏氣發病，始則從陰出陽，既則從陽入陰也。伏氣之病者，春之風氣，夏之暑氣，秋之濕氣，冬之寒氣，感之則潛匿於膜原肌腠之中，不形於脈，故當以意候之。今月之內欲有伏氣者，是以意候也，如三春風盛，九夏暑盛。醫者當知今月之內，時今太過，欲有伏氣，感之則潛匿於形身，而為伏氣之病矣。假令舊有伏氣，今時乃發，當須脈之。若脈微弱者，中土內虛，風木之邪相克也，故當喉中痛似傷。喉者，天氣也；痛似傷者，火氣也。此伏邪從陰出陽也。非喉痹者，言非陰寒內閉之喉痹也。病患云：實咽中痛者，喉主天氣為陽，咽主地氣為陰，先病喉痛，後病喉痛，是先病陽後病陰也。雖爾今復欲下利者，言雖咽痛，當復下利，所以申明咽主地氣之意。伏氣始病，則從陰出陽；既病，則從陽入陰者如此。</p>
<p>葉子雨曰：此節言伏氣之病，伏藏於內，不即見於病，亦不見於脈，故當候其何氣之伏藏。伏於今月之內，當發於今月之中，故曰：今月之內，欲有伏氣，是謂以意候之也。假令舊有伏者，今時乃發，既見於病，亦必見於脈，故當須脈之。若脈微弱者，此春傷於風，風木之邪，賊於中土，故脈微弱也。風邪上受，當喉痛似傷，此伏氣之病，非時行之喉痹也。不特喉痛而且咽痛，以風氣通於肝，地氣通於咽，脾主地，木克土也。邪氣留連，上行極乃下而為洞泄，故曰：雖爾今復欲下利。此上下之交通，一氣之相感也。仲景論一春之風氣，而三時之暑、濕、寒氣，亦可類推矣。注家多以脈微細喉痛下利，乃少陰應有之脈證，不知少陰之脈是微細，此云微弱，但弱與細有間，而微則加於弱細之上，非專論微脈也。弱乃真陽不足，胃氣大虛之候，固非少陰之細脈，亦斷無實熱之理，因其土虛，故木邪侮所不勝也。侈談伏氣者，何伏氣不明若是耶！</p>
<h4>四、《傷寒補亡論》</h4>
<p>仲景以為冬傷於寒，中而即病者，名曰傷寒。蓋初感即發，無蘊積之毒瓦斯，雖為傷寒，而其病亦輕。仲景又曰：不即病，寒毒藏於肌膚，至春變為溫病，至夏變為熱病。是則既傷於寒，又感於溫，兩邪相搏合為一病，如人遇盜，又有同惡濟之者，何可支也？故傷寒冬不即發，遇春而發者，比於冬之傷寒為重也。又有夏至而發者，蓋寒毒淺近在膚腠，正氣易勝，故難久留，是以即發。其毒稍深，則入於肌肉，正氣不能勝，必假春溫之氣，開疏腠理，而後可發，是以出為溫病。又其毒之盛者，經時既久，深入骨髓，非假大暑消爍，則其毒不可動，此冬傷於寒，至夏為熱病者，所以又重於溫也。故古人謂冬傷於寒，輕者夏至以前發為溫病，甚者夏至以後發為暑病也。此三者其為傷寒本一也。惟有即發不即發之異，隨脈變動，遂大不同。又有冬不傷寒，至春感不正之氣而病，其病無寒毒之氣為根，雖名溫病，又比冬傷於寒，至春再感溫氣為病輕。然春溫、冬寒之病，乃由自感自致之病也。若夫一鄉、一邦、一家皆同患者，是則溫之為疫者然也，非冬傷於寒，自感自致之病也。蓋以春時應暖而反寒，夏熱反涼，秋涼反熱，冬寒反暖，氣候不正，盛強者感之必輕，衰弱者得之必重，故名溫疫，亦曰天行時行也。設在冬寒之日，而一方、一鄉、一家皆同此病者，亦時行之寒疫也。大抵冬傷於寒，經時而後發者，有寒毒為根，再感四時不正之氣而病，則其病安得不重。如冬病傷寒，春病溫氣，與夫時行溫疫之類，才感即發，中人淺薄，不得與寒毒蘊蓄有時而發者，同論也。（《傷寒溫疫論》）</p>
<h4>五、《傷寒直格》</h4>
<p>《經》言：寒傷形，寒傷皮毛，寒傷血。然寒主閉藏，而腠理　密，陽氣怫鬱，不能通暢，怫然內作，故身熱燥而無汗。故《經》曰：人之傷於寒也，則為熱病。又曰：夫熱病，皆傷寒之類也。《內經》既直言熱病者，言一身為病之熱氣也。以至仲景直言傷寒者，言外傷之寒邪也。以分風寒暑濕之所傷，主療不同，故只言傷寒，而不通言熱病也。其寒邪為害至大，故一切內外所傷，俱為受寒之熱病者，通謂之傷寒也。一名大病者，皆以為害之大也。又春曰溫病，夏曰熱病，秋曰濕病，冬曰傷寒。傷寒者，是隨四時天氣，春溫，夏熱，秋濕，冬寒為名，以明四時病之微甚，及主療消息稍有不等，大而言之則一也。非為外傷及內病有此異耳。或云冬伏寒邪於肌膚骨肉之間，至於春變為溫病，夏變為熱病，秋變為濕病，冬變病為正傷寒病者；及名冒其寒，而內生怫熱，熱微而不即病者；以至將來陽熱變動，或又感之而成熱病；非謂伏其寒氣，而反變寒為熱也。《經》曰：「冬傷於寒，春必病溫」，亦其義也。亦有一時冒寒而便為熱病者，或感四時不正乖戾之氣；或隨氣運興衰變動；或內外諸邪所傷；或因他病變成；或因他人傳染。皆能成之，但以分門隨證治之耳。《經》言此六經傳受，乃外傷於寒，而為熱病之大略，主療之要法也。（《傷寒六經傳受》）</p>
<h4>六、《此事難知集》</h4>
<p>（一）冬傷於寒，春必溫病。蓋因房室勞傷，與辛苦之人腠理開泄，少陰不藏，腎水涸竭而得之。無水則春木無以發生，故為溫病；至長夏之時，時強木長，因絕水之源，無以滋化，故為大熱病也。傷寒之源如此。《四氣調神論》曰：逆冬氣，則少陰不藏，腎氣獨沉。廣成子云：無勞汝形，無搖汝精。《金匱真言》曰：夫精者，身之本也。故藏於精者，春不病溫。注云：冬不按蹺，精氣伏藏，陽不妄升，故春不病溫。又《經》云：不妄作勞。又云：不知持滿。又云：水冰地坼，無擾乎陽。又云：無泄皮膚，使氣亟奪。啟玄子云：腎水王於冬。故行夏令，則腎氣傷，春木王而水廢，故病於春也。逆冬則傷腎，故少氣以奉春生之令也。是以春為溫病，夏為熱病，長夏為大熱病，其變隨乎時而已，邪之所感，淺者其病輕而易治，深者其病重而難治，尤深者其病死而不治。（《傷寒之源》）</p>
<p>（二）冬傷於寒者，冬行秋令也。當寒而溫，火勝而水虧矣。水既已虧，則所勝妄行，土有餘也。所生受病，水不足也；所不勝者侮之，火太過也。火土合德，濕熱相助，故為溫病。使民腠理開泄，少陰不藏，惟房室勞傷辛苦之人得之。若此者，皆為溫病。所以不病於冬，而病於春者，以其寒水居卯之分，方得其權，大寒之令復行於春，腠理開泄，少陰不藏，房室勞傷辛苦之人，陽氣泄於外，腎水虧於內，當春之月，時強不長，無以滋生化之源，故為溫病耳。故君子周密於冬，少陰得藏於內，腠理以閉拒之，雖有大風苛毒，莫之能害矣。何溫病之有哉？人肖天地而生也，冬時陽氣俱伏於九泉之下，人之陽氣俱藏於一腎之中，人能不擾乎腎，則六陽安靜於內，內既得以安，外無自而入矣。此傷寒之源，非天之傷人，乃人自傷也。傷於寒者皆為病熱，為傷寒氣乃熱病之總稱，故曰傷寒，知寒受熱邪明矣。六陰用事於冬，陽氣在內，周密閉藏可矣。反勞動之而泄於外，時熱已傷於水矣。至春之時，木當發生，陽已外泄，孰為鼓舞？腎水內竭，孰為滋養？此兩者同為生化之源，源既已絕，水何賴以生乎？身之所存者，獨有熱也，時強木長，故為溫病矣。</p>
<p>（《冬傷於寒，春必溫病》）</p>
<h4>七、《醫經溯洄集》</h4>
<p>有病因，有病名，有病形；辨其因，正其名，察其形。三者俱當，始可以言治矣。一或未明，而曰不誤於人，吾未之信也。且如傷寒，此以病因而為病名者也。溫病、熱病，此以天時與病形而為病名者也。由三者皆起於感寒，或者通以傷寒稱之。夫通稱傷寒者，原其因之同耳，至於用藥則不可一例而施也。何也？夫傷寒蓋感於霜降後春分前，然不即發，鬱熱而發於春夏者也。傷寒即發於天令寒冷之時，而寒邪在表閉其腠理，故非辛甘溫之劑，不足以散之，此仲景桂枝、麻黃等湯，之所以必用也。溫病、熱病後發於天令暄熱之時，怫熱自內而達於外，郁其腠理，無寒在表，故非辛涼或苦寒或酸苦之劑，不足以解之，此仲景桂枝、麻黃等湯獨治外者，之所以不可用。而後人所處水解散（麻黃、大黃、黃芩、桂心、甘草、白芍）、大黃湯（大黃、芒硝、芥子、丹皮、桃仁）、千金湯（麻黃、桑白皮、蘇子、杏仁、白果、黃芩、半夏、甘草、款冬花）、防風通聖散（防風、川芎、當歸、芍藥、大黃、薄荷、麻黃、連翹、芒硝、石膏、黃芩、桔梗、滑石、甘草、芥穗、白朮、梔子）之類，兼治內外者，之所以可用也。夫即病之傷寒，有惡風，惡寒之證者，風寒在表，而表氣受傷故也。後發之溫病、熱病，有惡風，惡寒之證者，重有風寒新中，而表氣亦受傷故也。若無新中之風寒，則無惡風，惡寒之證，故仲景曰：太陽病，發熱而渴，不惡寒者，為溫病。溫病如此，則知熱病亦如此，是則不渴而惡寒者，非溫熱病矣。然或有不因新中風寒，亦見惡風惡寒之證者。蓋病患表氣本虛，熱達於表，又重傷表氣，故不禁風寒，非傷風，惡風，傷寒，惡寒也，但衛虛則惡風，營虛則惡寒耳。且溫病、熱病，亦有先見表證，而後傳裡者。</p>
<p>蓋怫熱自內達外，熱鬱腠理，不得外泄，遂復還裡，而成可攻之證，非如傷寒，從表而始也。或者不悟此理，乃於春夏溫病熱病而求浮緊之脈，不亦疏乎！殊不知緊為寒脈，有寒邪則見之，無寒邪則不見也。其溫病、熱病或見脈緊者，乃重感不正之暴寒與內傷過度之冷食也，豈其本然哉。又或者不識脈形，但見弦便呼為緊，斷為寒而妄治。蓋脈之盛而有力者，每每兼弦，豈可錯認為緊而斷為寒。夫溫病、熱病之脈，多在肌肉之分而不甚浮，且右手反盛於左手者，誠由怫熱在內故也。其或左手盛，或浮者，必有重感之風寒，否則非溫病、熱病，自是暴感風寒之病耳。凡溫病、熱病若無重感，表證雖間見，而裡病為多，故少有不渴者。斯時也，法當治裡熱為主，而解表兼之，亦有治裡而表自解者。余每見世人治溫熱病，雖誤攻其裡亦無大害，誤發其表變不可言，此足以明其熱之自內達外矣。其間有誤攻裡而致大害者，乃春夏暴寒所中之疫證，邪純在表，未入於裡故也，不可與溫病、熱病同論。夫惟世以溫病、熱病混稱傷寒，故每執寒字，以求浮緊之脈，以用溫熱之藥。若此者，因名亂實，而戕人之生，名其可不正乎。又方書多言四時傷寒，故以春夏之溫病、熱病與秋冬之傷寒，一類視之，而無所別。夫秋冬之傷寒，真傷寒也；春夏之傷寒，寒疫也。與溫病、熱病自是兩途，豈可同治。吁！此弊之來，非一日矣，歷考方書並無救弊之論，每每雷同，良可痛哉！雖然傷寒與溫病、熱病，其攻裡之法，若果是以寒除熱，固不必求異，其發表之法，斷不可不異也。況傷寒之直傷陰經，與太陽雖傷，不及鬱熱，即傳陰經為寒證，而當溫者，又與溫病、熱病大不同，其可妄治乎！或者知一不知二，故謂仲景發表藥今不可用，而攻裡之藥乃可用。嗚呼！其可用不可用之理，果何在哉？若能辨其因，正其名，察其形，治法其有不當者乎！彼時行不正之氣所作，乃重感異氣而變者，則又當觀其何時、何氣，參酌傷寒、溫熱病之法，損益而治之，尤不可例以仲景即病傷寒藥通治也。（《傷寒溫病熱病說》）</p>
<h4>八、《丹溪心法附余》</h4>
<p>《經》曰：冬傷於寒，春必病溫；此言感時氣不即發，藏於膚腠之間，過期遇觸動而發也。且以即病傷寒，傷風，與伏氣溫熱病三者而言之。傷寒，則身熱無汗惡寒；傷風，則身熱有汗惡風。二者皆邪自外入，故表病裡和，鼻寒而口不渴。溫熱病，則邪自內出，故身熱或有汗，或無汗，鼻不寒而口渴也。傷寒，傷風之邪，循經而入以漸而深，故治法要分三陽三陰清切，表裡寒熱虛實明白，方可施治，不可一毫而少差也。溫熱之邪，自內而出，不過發攻表中裡三者之熱而已，何難之有哉。（《溫熱病附論》）</p>
<h4>九、《傷寒補天石》</h4>
<p>（一）溫病者，冬月伏寒之所變也。冬月伏陽在內，感寒不即病，伏藏於肌膚之間，至春時溫氣將發，又受暴寒，故春變為溫病，既變之後，不得復言為寒矣。又傷寒汗下後，過經不解，亦名溫病。並不可發汗，蓋過經而發，不在表也；已經汗下，亦不在表也。《經》曰：不惡寒而渴者，蓋言溫病也。不惡寒則病非外來，渴則明其熱自內達外，因無表證明矣。溫病之脈行在諸經，不知何經之動，隨其經之所在而取之。如太陽病，頭痛身熱，汗後過經不愈，診得尺寸俱浮者，太陽病溫也。如身熱目疼，汗下後過經不愈，診得尺寸俱弦長者，陽明病溫也。如胸脅痛，汗下後過經不愈，診得尺寸俱弦者，少陽病溫也。如腹滿嗌干，過經不愈，診得尺寸俱沉者，太陰病溫也。如舌乾口燥，過經不愈，診得尺寸俱微沉者，少陰病溫也。如煩滿囊縮，過經不愈，診得尺寸俱微緩者，厥陰病溫也。要在隨其經而取之。凡溫病發於三陽者多，發於三陰者少。若發於陰，必有所因也，或因飲食內傷而得之，或因欲事先傷腎經而得之。（《溫病傷寒第四十八》）</p>
<p>（二）熱病者，冬月伏寒之所變也。冬月伏陽在內，感寒不即病，伏藏於肌膚之間，至夏時暑熱將發，又受暴寒，故夏變為熱病。既變之後，不得復言為寒矣。凡熱病所起所因所感所發證脈治法，並與溫病同。（《熱病傷寒第四十九》）</p>
<h4>十、《傷寒六書》</h4>
<p>趙嗣真曰：按仲景論，謂冬月冒寒，伏藏於肌膚，而未即病，因春溫氣所變，則為熱。夫變者，改易之義也。至此，則伏寒各隨春夏之氣，改變為溫為熱，既變之後，不得復言其為寒也。所以仲景云溫病不惡寒者，其理可見矣。《活人書》其於溫病曰：陽熱未盛，為寒所制，豈有伏寒既已變而為溫，尚可言寒能制其陽熱耶！又於熱病曰：陽熱已盛，寒不能制，亦不當復言其為寒也。蓋是春夏陽熱已變，其伏寒即非有寒，能制其陽熱爾。外有寒邪能折陽氣者，乃是時行寒疫，仲景所謂：春分以後，秋分節前，天有暴寒，為時行寒疫是也。三月、四月，其時陽氣尚弱，為寒所折，病熱則輕；五月、六月，陽氣已盛，為寒所折，病熱則重；七月、八月，陽氣已衰，為寒所折，病熱亦微。是知時行寒疫，與溫熱二病，所論陽氣盛衰，時月則同。至於論暴寒之寒，與伏寒已變之寒，自是相違，名不正，則言不順矣。仲景又云：其病與溫及暑病相似，但治有殊耳。要在辨其病源寒熱溫三者之殊，則用藥之冷熱判然矣。（《傷寒瑣言‧傷寒變溫熱病論》）</p>
<h4>十一、《傷寒緒論》</h4>
<p>（一）至春分節後，天令溫暖，有人壯熱為病者。乃溫病也。《經》云：冬傷於寒，發為溫病。又云：太陽病發熱而渴，不惡寒者為溫病。言冬時伏氣，隨時溫熱發出，但所發之因不同，有感非時暴寒而發者；有飢飽勞役而發者；有房室作力而發者。所感之客邪既殊，發出之經絡亦異，所謂溫病之脈，行在諸經，不知何經之動也，當隨其經證而治之。</p>
<p>凡溫病之發，必大渴煩擾，脅滿口苦，不惡寒反惡熱，脈氣口反盛於人迎，明系伏邪自內達表，必先少陽經始。（《溫病》）</p>
<p>（二）大抵治溫病、熱病，無正發汗之理。蓋其邪自內達外，無表證明矣。若果證顯非時暴寒，惡寒頭痛，而脈浮緊者，亦不可純用表藥。（《溫病》）</p>
<p>（三）大抵溫病熱病，皆是熱鬱之氣，故多發於三陽。若發於三陰者，必難治。其脈若沉細，或微弱，或虛大無力，為脈不應病，必死。然發於三陰者，必有所因，或因冷食傷脾，或因欲事傷腎，皆正氣先傷，熱毒乘虛而發，設用甘溫調補，寧不助邪轉熾。若行苦寒峻攻，真元立致消亡，雖長沙、河間復起，恐難為力矣。（《熱病》）</p>
<h4>十二、《溫熱暑疫全書》</h4>
<p>（一）喻嘉言《尚論篇》，闡發仲景《傷寒論》，殊暢也。《醫門法律》闡發《金匱要略》，殊貫也。雖皆有所粉本，然學廣才張，心靈筆古，以各成其妙者也。至《尚論》溫病云：會《內經》之旨，以發仲景不宣之秘。且謂仲景略於治溫，而法度錯出於治傷寒中，因《內經》云：冬傷於寒，春必溫病，此一大例也。冬不藏精，春必病溫，此一大例也。</p>
<p>既冬傷於寒，又冬不藏精，至春月同時病發，此一大例也。奉此三例以論溫證而詳其治，然後與仲景三陽三陰之例，先後合符。蓋冬傷於寒，邪藏肌膚，即邪中三陽之謂也；冬不藏精，邪入陰藏，即邪中三陰之謂也。嘉言之論如此，予謂溫病無陰陽之分也。何也？冬有溫氣先開發人之腠理，而寒得以襲之，所謂邪之所湊，其氣必虛，惟不藏精之人，而後虛也。虛則寒傷其經，經必少陰者，以少陰藏本虛也。然所傷原微，且冬月大水當令，其權方盛，微邪不敢抗衡，但臥榻之側，豈容他人鼾睡，惟有阻彼生意，暗爍精髓。至於春，時強木長，而水不足以供其資，始則當春而溫，木旺水虧，所郁升發，火氣燔灼，病溫而已矣。其所傷者寒也；所病者溫也；所伏者少陰也；所發者少陽也。故病必有陽而無陰，藥必用寒而遠熱，黃芩湯（黃芩、芍藥、甘草、大棗）其主治也。則嘉言之論溫，有陰有陽，如傷寒三陰經可用辛熱者，予曰否否不然也。（《春溫病論》）</p>
<p>（二）冬傷於寒，春必病溫，是言所感者本寒也。王叔和云：從立春節後，其中無暴大寒，又不冰雪，有人壯熱為病者，此屬春時陽氣發外，冬時伏寒變為溫病，此亦明言寒也。變字大妙，嘉言以為非，予獨以為確，寒氣內伏，郁久而發，自成熱矣。傷寒寒也，暫襲營間，不久而為大熱，況遲之又久耶，為熱乃自然之理，但不言變，不足以教天下也。</p>
<p>然何以不言熱而言溫，以春行溫令故也。如李明之所云：冬傷於寒者，冬行春令也。當冬而溫，火勝而水虧矣。水既虧，則所勝妄行，土有餘也。所生受病，金不足也；所不勝者侮之，火太過也。火土合德，濕熱相助，故為溫病。然由明之所言，是冬溫而感之即病者也，非伏寒也，非變也。不然必無冬溫一證也而後可，既有冬溫，則有是氣，已有是證矣。</p>
<p>由其言以悉冬溫，便可垂論不磨，若論春溫不免貽昧千古矣。《經》曰：逆冬氣，則少陰不藏。不藏，則寒邪得而入之，傷於肌膚，伏於骨髓。始知冬為藏精之時，惟逆冬氣，遂使少陰之經氣不閉，復遭非時之暖，致令開泄，忽然嚴寒驟返，不免受傷，故受傷者，仍是寒邪也。因先被溫令開泄，似乎喜寒，且所傷不甚，故不即病，而潛伏於少陰也。然所以不病於冬，而病於春者，正因水在冬為旺時，邪伏於經，且俯首而不敢抗，內郁既久，已自成熱，至行春令，開發腠理，陽氣外泄，腎水內虧，至春三月，而木當生發，孰為鼓舞，孰為滋養，生化之源既絕，木何賴以生乎？身之所存者溫也，時強木長，故為溫病。予故以彼論冬時之感溫非是，而此論冬月之伏寒最精。愚性甚拙，何敢好議先賢，但以為必如此，方與冬溫兩不相阻，且與仲景論溫熱，必推本自始，動曰傷寒之旨，無悖云耳。（《春溫病論》）</p>
<p>（三）門人問曰：傷者寒也，何以病溫？答曰：傷寒非病寒乎？而何以熱也。寒鬱營間，不一二日而成大熱，況伏藏於內者數十日之久耶。夫既邪傷肌肉，何以得入少陰經中？蓋惟不藏精，則少陰先病，故邪傷者少陰也。春屬木則自內發出，無論兼太陽或陽明，總無不由少陽，何也？彼少陽行春令也。然既從少陰矣，何仲景專云太陽病？蓋太陽與少陰相表裡也，故以發熱為太陽也。曰不惡寒，明無表症也，則其熱自內出，無外邪鬱之也。然則仲景復言太少合病者，見發熱不惡寒，或兼有耳聾，脅滿證也。言三陽合病者，以脈大屬陽明，而多眠則熱聚於膽也。不言法者，總以黃芩湯為主治也。乃嘉言復謂：有發表三、五次，而外證不除；攻裡三、五次，而裡證不除。以為在表也，又似在裡；以為在裡也，又似在表。此溫疫證，感天地人濕氣、熱氣、尸氣、邪入口鼻，溷淆三焦者相近，與春溫全不相涉也。愚故及之，以破後學之惑。（《春溫病論》）</p>
<p>（四）門人復問曰：春溫亦間有一、二表症者乎？曰：有之。伏氣之病，雖感於冬，然安保風之傷人，不在伏氣將發未發之時乎？但兼外感者，必先頭痛，或惡寒而後熱不已，此新邪引出舊邪來也。或往來寒熱，頭痛而嘔，稍愈後渾身壯熱為病者，此正氣又虛，伏發更重也。總之，無外證者，以黃芩湯為主治，兼外感者，必加柴胡或以本經藥輕解，必無發汗之理。故仲景云：發汗已，身灼熱者，名曰風溫。謂誤用辛熱之藥，既辛散以劫其陰，復增熱以助其陽，遂使熱更熾，脈俱浮，有如此之危證也。以及誤下誤火，嚴加戒諭者，舍黃芩湯，別無治法也。（《春溫病論》）</p>
<p>（五）溫病、熱病之脈，或見浮緊者，乃重感不正之暴寒，寒邪束於外，熱邪結於內，故其脈外繃急而內洪盛也。</p>
<p>或不識脈形，但見弦脈，便呼為緊而妄治之。蓋脈之盛而有力者，每每兼弦，豈可錯認為緊，而誤以為寒乎！夫溫熱病之脈，多在肌肉之分而不甚浮，且右手反盛於左手者，誠由怫鬱在內故也。其左手盛或浮者，必有重感於風寒，否則非溫熱病，自是非時暴寒耳。（《溫熱病脈論》）</p>
<p>（六）溫熱病，亦有先見表證，而後見裡證者。蓋怫鬱自內達外，熱鬱腠理之時，若不用辛涼發散，則邪不得外泄，遂還裡而成可攻之證，非如傷寒從表而始也。或有不悟此理，乃於春夏溫熱病，而求浮緊之脈，不亦疏乎。（《溫熱病脈論》）</p>
<p>（七）熱病即伏寒也。彼冬傷於寒，發於春為溫病，發於夏為熱病。何彼發於春，此發於夏耶？蓋感之輕重不同，人之強弱亦異，而觸發亦異，有因飢飽力役者，有因房室勞傷者，故春時雖行風木之令，使氣血不致大虧，感觸亦有先後，不即發也。至夏則陽氣盡泄，火令大行，正屬濕土寄旺，爾時邪烏肯伏？故其發源皆自少陰，熱病由出之途自陽明，溫病由出之途自少陽，雖所合之經不一，要不離乎陽明、少陽者，各因時令之氣也。且為日既遲，為熱愈熾，此仲景所以用石膏辛涼胃熱，以知母蕩滌腎火，用甘草、粳米維持中氣也。名湯曰：白虎者，白屬金屬涼；風從虎且猛。人逢悶熱煩燥無可奈何之際，忽然狂風荐至，偃草揚波，火輪火樹，不頓成清涼世界而稱快乎。（《夏熱病論》）</p>
<h4>十三、《歸硯錄》</h4>
<p>（一）故人沈君辛甫，端恪公曾孫也。嘗病吳鞠通混疫於溫，余謂不但此也。其條辨首列曰溫病者，有風溫、有溫熱、有溫疫、有溫毒、有暑溫、有濕溫、有秋燥、有冬溫、有溫瘧，凡九項，似無遺義，而不自知其題旨未清也。夫冬傷於寒至春而發者，曰溫病；夏至後發者，曰熱病；冬春感風熱之邪而病者，首先犯肺，名曰風溫；其病於冬者，亦曰冬溫；病於春者，亦曰春溫。即葉氏所論者是也。夏至後所發之熱病，在《內經》亦曰暑，以其發於暑令也。故仲景以夏月感暑成病者，名曰　。蓋暑、　者，皆熱之謂也。今杜撰暑溫名目，最屬不通，至於疫證，更不可與溫熱同治，當從吳又可、余師愚兩家為正鵠。而溫之為毒為瘧，乃溫之節目矣。概而論之，宜乎愈辨愈不清矣。</p>
<p>（二）其次條云：凡病溫者，始於上焦，在手太陰。嘻！豈其未讀《內經》耶！伏氣為病，自內而發，惟冬春風溫、夏、秋燥，皆始於上焦。若此等界限不清，而強欲劃界以限病，未免動手即錯矣。夫溫熱究三焦者，非謂病必在上焦始，而漸及於中下也。伏氣自內而發，則病起於下者有之；胃乃藏垢納污之所，濕溫疫毒病起於中者有之；暑邪挾濕者亦犯中焦。又暑屬火，而心為火臟，同氣相求，邪極易犯，雖始上焦，亦不能必其在手太陰一經也。</p>
<p>（三）第四條云：太陰風溫、溫熱、溫疫、冬溫，初起惡風寒者，桂枝湯主之。夫鞠通既宗葉氏，當詳考葉氏論案以立言。如《指南‧溫熱門》第三案云：溫邪上受，內入乎肺，肺主周身之氣，氣窒不化，外寒似戰栗，其溫邪內郁，必從熱化。《風溫門》第五案云：風溫入肺，氣不肯降，形寒內熱，乃　郁之象，用藥皆是辛涼輕劑。至《幼科要略》，論三時伏氣外感，尤為詳備。於春溫證，因外邪引動伏熱者，必先辛涼以解新邪，自注用蔥豉湯。垂訓昭然，何甘違悖，意欲紹述仲聖乎？則祖上之門楣，不可夸為自己之閥閱也。在涇先生云：溫病伏寒變熱，少陰之精已被劫奪，雖有新舊合邪，不得更用桂枝湯助熱，而絕其本也，豈吳氏皆未之聞乎？（四）《中焦篇》第一條自注云：肺病逆傳，則為心包，上焦失治，則傳中焦，始上焦，終下焦。噫！是鞠通排定路徑，必欲溫熱病遵其道而行也。有是理乎？彼犯肺之邪，若不外解，原以下傳於胃為順，故往往上焦未罷及中焦，惟其不能下行為順，是以內陷膻中為逆傳。章虛穀，亦昧此義，乃云：火來克金，而肺邪反傳於包絡，故曰逆。夫從所勝來者為微邪，胡可反以為逆，豈二公皆未讀《難經》耶！其不始於上焦者，更無論矣。</p>
<p>（五）書名《溫病條辨》，而所列霍亂，皆是寒證。故余年少時，輒不自揣，而有《霍亂論》之作也。沈辛老云：鞠通書蘭本葉氏，有前人未見及而補之者，如秋燥增入正化痙螈別為兩條，談理抑何精細；有前人已見及而忘之者，如霍亂證自具《暑濕門》，岫云未經摘出，而伊芳遂不知有熱。疝氣條，當分暴久治，香岩先生業已道明，而伊芳又惟知有寒。</p>
<p>蓋心思之用，固各有至不至，雖兩間亦缺陷世界，而況人乎。又曰：鞠通所云之疝，多系暴證，而久者又系宿瘕病，故可一以溫下取下。若疝雖有歷久不痊，然聚則有形，散即無形，初非真有物焉，如瘀積腹中也。又云干霍亂，以生芋杵汁下咽即生，遠勝鹽湯探吐也。暑瘍初起，用絲瓜杵汁塗之，或荷花瓣貼之皆妙，不必水仙根也。</p>
<p>（六）《中焦》八十四條云：少陽瘧如傷寒證者，小柴胡湯主之，此與溫熱何與，而乃濫入乎！辛老云：葉氏知暑濕時瘧，與風寒正瘧迥別，融會聖言，惟從清解，所見甚超。而洄溪反以不用柴胡，屢肆詆訾，食古不化。徐公且然，況其下乎。噫！辛老長余九歲，與余交最深，品學兼優，真古君子也。嘗為余校《溫熱經緯》，而家貧無子，今墓草宿矣。遺稿未梓，偶於拙草中檢得數條，附錄於此，亦可以見其讀書具眼，立言忠濃也。</p>
<p>（七）《下焦篇》之定風珠，一派腥濁濃膩，無病患胃弱者亦難下咽，如果厥噦欲脫而進此藥，是速其危矣。</p>
<p>（八）二十四至二十六條，皆冬寒內伏，春溫初發之治，乃妄謂溫熱溫疫，自上中傳下之治，豈非夢囈。</p>
<p>（九）四十二條自注：謂宋元以來，不明仲景一書，專為傷寒而設，吳氏直未讀《傷寒論》也。注傷寒者，無慮數十家，皆以為專論傷寒之書，故恆覺支離附會。考論中風、寒、溫、　、濕五氣為病，古人皆曰傷寒，故《難經》云：傷寒有五，而仲聖以傷寒名其書也。此等大綱不清，豈可率爾著書。</p>
<p>（十）五十一條，痰濕阻氣之陰吹證，實前人所未道及。</p>
<p>（十一）五十五條，發明蠶砂功用，何其精切，故余治霍亂以為主藥也。</p>
<p>（十二）吳氏此書，不過將《指南》溫熱暑濕條案，穿插而成，惜未將《內經》、《難經》、《傷寒論》諸書，溯本窮源，即葉氏《溫熱論》、《幼科要略》，亦不匯參，故雖曰發明葉氏，而實未得其精奧也。至采附各方，不但剪裁未善，去取亦有未當，此余不得已，而有《溫熱經緯》之纂也。</p>
<p>（十三）後三卷，雜說、解產難、解兒難等篇，皆可傳之作，遠勝三焦條辨多矣。雜說中，惟霍亂不得吐瀉，治以苦辛芳熱一語，為可議。條辨中可議處，甚多。姑舉大略如上，庶讀者，勿隨波而逐流也。</p>
<h3>第二章‧分論</h3>
<h4>一、考證溫熱名義</h4>
<p>經云冬傷於寒，春必病溫。又曰冬不藏精，春必病溫。同一病溫耳，而必別之曰是為傷於寒，是為不藏精，其義何居？曰此皆伏氣之為病也。傷寒甚者，冬時即病；微者不即病，其氣伏匿於肌腠及少陰，至春陽氣開泄，觸動伏氣而為病，此一例也。西洋醫謂潛伏期不過十四日，無冬傷寒至春乃病之理，不思痘疹、麻疹，為先天之毒，有潛伏至十余年、二三十年者，由冬及春，一剎那間耳，能決其必無是病乎？不藏精之說，注家謂不專主陰精而言，如冬應寒不寒、桃李反花之類。夫氣候不寒，陽邪早發，消鑠陰液，腎精內虧。至春陽氣舒張，或新邪引觸伏邪為病，人與天地同一氣耳。</p>
<p>氣候不和，感觸蘊藏，日積月累，而病以生，此又一例也。《經》又曰：先夏至日為病溫，後夏至日為病暑。暑即熱也。</p>
<p>夏至以前，氣候和煦，故感之者隨時令而病溫；夏至以後，氣候酷熱，故感之者隨時令而病暑。溫者較熱為微，熱者較溫為重。此又一例也。溫熱雖隨時令而變遷，究之，病重於溫則為熱，又不可謂夏至以前必無熱病也。東洋醫學謂人為溫血動物，以熱度表測算，通常在攝氏寒溫計三十六‧五度與三十七‧五度之間。溫特爾裡希氏以三十七度五分，乃至三十八度，名為次熱；三十八度，乃至三十八度五分，名為輕熱；三十八度五分，乃至三十九度五分，名為中熱；三十九度五分，乃至四十度五分，名為高熱；四十度五分以上，名為劇熱。但至四十度以上，患者必無生望。其以華氏熱度表九十八度起算者，規例亦同。夫次熱、輕熱，即溫病之類也。高熱、劇熱，即熱病之類也。觀此而溫與熱之名義，渙然冰釋矣。</p>
<h4>二、論傷寒成溫之理</h4>
<p>夫傷寒之病，醫者多不審察病之本源，但只云病傷寒，即不知其始自陽氣內郁結，而後為熱病矣。自冬至之後，一陽漸生，陽氣微弱，猶未能上行，《易》曰潛龍勿用是也。至小寒之後，立春以前，寒毒殺厲之氣大行時，中於人，則傳在臟腑，其內伏之陽，被寒毒所折，深浹於骨髓之間，應時不得宣暢。所感寒氣淺者，至春之時，伏陽早得發泄，則其病輕，名曰溫病。感寒重者，至夏至之後，真陰漸發，其伏陽不得停留，或遇風寒，或因飲食沐浴所傷，其骨髓間郁結者陽氣，為外邪所引，方得發泄，伏陽既出肌膚，而遇天氣炎熱，兩熱相干，即病證多變，名曰熱病。按《素問‧生氣通天論》云冬傷於寒，注云冬寒且凝，春陽氣發，寒不為釋，陽怫於中，與寒相持，故病溫。又《熱論》云：人之傷於寒也，則病熱。注云：寒毒薄於肌膚，陽氣不得散發，而內怫結，故傷寒者，反為熱病也。以此證之，即傷寒之病，本於內伏之陽為患也。</p>
<h4>三、論葉派治溫熱之誤</h4>
<p>魏晉六朝、隋唐五季，以逮宋金元明，固無人不知仲師《傷寒論》為通治四時而設，獨至康雍以降，別創溫熱之論，而傳足傳手、六經三焦。妄生畛域，遂致後人之讀其書者，誤信首先創議之人大名炫赫，無不一例盲從，乃使世人之病溫熱者，皆不得一嘗仲聖方藥，以致於危殆，何莫非妄分溫熱、傷寒為兩事者有以殺之。嗚呼！自葉香岩《溫熱》一論，盛行於時，而後賢繼起互有發明，間亦可以少補仲師《傷寒論》所未備，而初不料首先提倡之葉老，及首先著書之鞠通，屏絕仲師成法，謬制新方，滋膩戀邪，有百害而無一利。舉世不察，相沿成俗，誤盡蒼生，而終其身不一覺悟。則香岩一人，實為溫熱病中，功之首而罪之魁。然究其貽禍之源，皆由於誤認《傷寒論》一書為專治冬傷於寒之一念，有以成此厲階，而殺人遂不可勝數，是誠二百年之浩劫也。哀哉！至用犀角、地黃、玄參、麥冬諸物，最是葉老慣伎。《臨證指南》及顧氏所述之《溫熱論》，同符合轍，所見一誤，而其禍蔓延遍於全國，流毒至今，作俑二字，斷不容為此老諱。</p>
<p>彼吳子音之偽撰《三家醫案》、《醫效秘傳》、《溫熱贅言》，及吳鞠通之《條辨》，則皆奉行此催命靈符，而充作鉤魂之大使者也。近賢王氏孟英治案，能不受葉派拘束，不愧一大方家。然《溫熱經緯》猶於葉氏作應聲之蟲，模模糊糊，汨沒真性，且有溫熱亦傳足經而手經先受之語，亦隱隱為此老魔力吸住，不能自脫，則此老誤人之罪，那不上通於天耶？又按葉氏所以倡為三焦之論者，蓋亦明知溫病、熱病，必多陽明在經在腑之症，無如既經一口咬定溫熱傳手不傳足，則胃是足經，必不能自圓其說，於是無聊極思，提出三焦二字，冀與六經之說互為雄長。而又恐本作自造無以取信於天下，乃更信口雌黃，偽托河間先有此說，隱隱然以自己所提之肺病、心病歸於上焦，而即以世間恆有之陽明胃病歸之中焦。</p>
<p>掩耳盜鈴，其計不可謂不狡。然自欺欺人，終不能使天下後世不一讀河間之書，則河間三焦之語，果何所本，臆說那不立窮？作偽而敢於濃誣古人，直是栽臟陷害手段。陸九芝謂嘉言論溫三篇，可剮可殺，愚謂亦當移贈葉老。鞠通不學，竟以讕言作為鴻秘，尤其可笑。然耳食之徒，皆奉此兩家，寶若兔園冊子，而所謂葉派者，遍於中國。此溫熱之病在陽明者，所以一病一死，十病十死，而幾於百不一愈也。哀哉！</p>
<h4>四、溫邪上受解</h4>
<p>《溫熱論》曰：溫邪上受，首先犯肺，逆傳心包。</p>
<p>華岫云曰：風溫、濕溫之時感者，邪從口鼻而入，故曰上受。若春溫之由冬時伏寒藏於少陰者，又非上受也。按傷寒從毛竅而入，溫病從口鼻而入，二語世莫不奉為定案矣。其實二者亦皆互有，而總以從毛竅入者為多，南人中焦濕熱素盛，一感溫邪，即表裡合一，遂似全從口鼻而入，亦不察之甚也。若果盡從口鼻而入，何以治法中有汗法乎？本文上受二字，即《內經》邪氣在上之義。</p>
<p>附時人陸平一語：外邪傷人，或襲皮毛，或入口鼻，皆受自表也。近人強指溫病必從口鼻入，一若分疆劃界。溫氣必不許從皮毛從者，未免可笑。</p>
<h4>五、溫熱久在一經解</h4>
<p>《溫熱論》曰：傷寒多有變證，溫熱雖久，總在一經為辨。</p>
<p>此義世皆以手足經釋之，非也。傷寒亦有不傳經者，但傳經者多，溫病傳經者少。所以然者，寒邪為斂，其入以漸，進一境即轉一象，故變證多；溫邪為開，重門洞辟，初病即常兼二三經，再傳而六經已畢，故變證少也。</p>
<h4>六、論吳氏《溫病條辨》之誤</h4>
<p>吳鞠通本顧景文「溫邪上受、首先犯肺、逆傳心包」之十二字，而為《溫病條辨》。自條自辨，可發一笑者也。開卷捏造溫病以桂枝湯主之，為仲景原文，繼復承《臨證指南》暑病門楊姓案云仲景傷寒先分六經、河間溫熱須究三焦之訛，以喻西昌治瘟之法，謂是劉河間之所以治溫。夫河間治法，亦惟六經是言，而三焦二字，始終不見於《六書》。此其兩失，已不待言。乃以溫病之本在中焦者，先移之於上焦，謂切不可用中焦藥。痛哉！中焦之芩、連。而其下即云熱邪久羈，劫鑠真陰，邪熱久羈，肌膚甲錯，皆鞠通所自言，皆鞠通自己所告人者。先是自製銀翹散（連翹、薄荷、芥穗、銀花、竹葉、淡豆豉、桔梗、甘草、牛子）、桑菊飲（杏仁、連翹、薄荷、桑葉、菊花、桔梗、甘草、葦根）兩方，即顧景文之辛涼輕劑不名一藥，而鞠通為之引申者也；嗣是方名安宮，用犀角、牛黃（即安宮牛黃丸，用牛黃、鬱金、犀角、黃連、朱砂、梅片、麝香、珍珠、山梔、雄黃、金箔、黃芩；又清宮湯用玄參心、蓮子心、竹葉卷心、連翹心、犀角尖、連心麥冬），方名增液，用玄參、麥冬（即增液湯，用玄參、麥冬、鮮生地），以及一甲二甲三甲之復脈湯（加減復脈湯用炙草、干地、白芍、麥冬、阿膠、麻仁；一甲復脈湯即於加減復脈湯內，去麻仁，加牡蠣；二甲復脈湯即於加減復脈湯內，加牡蠣、鱉甲；三甲復脈湯即於二甲復脈湯內，加龜板）、小定風珠（雞子黃、阿膠、龜板、童便、淡菜）、大定風珠（白芍、阿膠、龜板、干地、麻仁、五味子、牡蠣、麥冬、炙草、雞子黃、鱉甲），無非滋膩傷陰，引邪內陷，病至此不可為矣。而因其中焦篇，亦或有偶用芩、連、膏、黃時。凡溫病之一用芩、連、膏、黃，無不可去邪撤熱者，鞠通又若未嘗不知，然苟非布置上焦，則熱邪未必久羈，真陰即未定劫鑠；苟非訶斥芩、連，則邪熱未必久羈，肌膚又未定甲錯。顧景文延之數日，鞠通再加緩緩二字，何以必緩緩也，不可解，而實可解也。此所以後乎鞠通者，亦萬不肯不用其法也。以滋膩留邪之藥，緩緩延之，熱邪方盛之時，陰無不傷，病無不死。陶節庵之《一提金》、《殺車錘》、《截江網》，書名之惡極者也；此之一甲、二甲、三甲、定風珠，方名之惡極者也。病何等事，醫何等人，顧可兒戲若斯乎？</p>
<h4>七、溫熱病說</h4>
<p>溫熱之屢變而亂其真也，由於傷寒之一變而失其傳。風寒諸病由太陽入陽明者，有《傷寒論》在，尚且各自為說。</p>
<p>至溫熱而漫以為仲景所未言，更不妨別出己見，每先將溫病移入他經，或且移作他證，如弈棋然，直無一局之同者。若喻嘉言移其病於少陰腎；周禹載移其病於少陽膽；舒馳遠移其病於太陰脾；顧景文移其病於太陰肺；遂移其病於厥陰心包；秦皇士移其病於南方；吳鞠通移其病於上焦；陳素中、楊栗山移其病為雜氣；章虛穀、王孟英移其病為外感；尤其甚者，則張介賓、張石頑以及戴天章輩，皆移其病為瘟疫；而石頑又移其病為夾陰。娓娓動聽，亦若各有一理也者，而不知陽明為成溫之藪，古來皆無異說，皆以《傷寒論》陽明方為治。自夫人欲廢陽明方，故必先將陽明病移出陽明外。</p>
<p>非余之故為訾議也，苟其不然，則東扯西拽者，何以必將千古相傳之定法，弁髦棄之哉？禹謨曰：宥過無大，刑故無小。</p>
<p>不知而移之，出於無心也，過也，猶可恕也；知而移之，出於有心也，故也，不可言也。潛窺其隱，恐尚不僅為明昧之分，後有作者，或更別有移法，總欲令世人不知有仲景，而樂就其簡便之門、新奇之說耳。然此皆將溫病移出陽明者，更有明知其在陽明，亦必謂不可用《傷寒》方，而自製一二味藥，以為此非仲景所知，其實除此一二味，則仍不離《傷寒論》之葛根、膏、黃。試一問黃坤載、楊栗山輩，於青萍、蠶、蟬外，所用何藥，即可見矣。此則暗襲《傷寒》方，而即明斥《傷寒論》，又以不移為移者也。吾愿任斯道之君子，毋為移字訣所誤，看得仲景書只宜於寒，而疑《傷寒》之方，真不可用於溫熱之病，則吾道之幸，亦病家之幸也。</p>
<h4>八、伏溫論</h4>
<p>伏溫之病，隨經可發，經訓昭垂，已無疑義。乃張石頑謂溫邪之發必由少陽；陸九芝謂溫熱病必發於陽明；陳平伯則以肺胃為溫邪必犯之地；吳又可又以膜原為溫疫伏邪之所。諸家所論，雖亦各有所見，但只舉溫病之一端，而不可以概溫病之全體。至吳鞠通《條辨》，橫分三焦，謂凡病溫者，必始於上焦手太陰，是以時感風溫之證，指為伏氣發溫之病，彼此混而不分，其背謬為尤甚。學人當本古聖經文，悉心參究，確知溫病之發，隨經可動，臨證時，始有真知灼見，而不至有他歧之惑也。</p>
<h4>九、傷寒溫熱疫邪傳入不同</h4>
<p>傷寒之邪，自表傳裡，裡證皆表證所侵入；溫熱之邪，自裡達表，表證皆裡證所浮越；惟疫邪由膜絡中道，隨表裡虛實，乘隙而發，不循經絡傳次，亦不能一發便盡。吳又可發明九傳，及熱結旁流，膠閉而非燥結，皆為特識。且傷寒由氣分陷入血分，溫熱由血分轉出氣分，故傷寒多始於太陽，溫熱多始自陽明，或始自少陰。此即熱歸於氣，或歸於血之明辨也。</p>
<h4>十、辨傷寒溫病熱病並無傳染之理</h4>
<p>按《素問‧熱論》傷寒曰：人之傷於寒也，則為病熱，熱雖甚不死。其兩感於寒而病者，必不免於死。又曰：凡病傷寒而成溫病者，先夏至日為病溫，後夏至日為病暑。又曰：藏於精者，春不病溫。初無傳染之說。張仲景曰：《陰陽大論》云：冬時嚴寒，萬類深藏，君子固密，則不傷於寒，觸冒之者，乃名傷寒耳。四時之氣皆能為病，以傷寒為毒者，以其最成殺厲之氣也。中而病者，名曰傷寒，不即病者，寒毒藏於肌膚，（孫真人作肌骨之中）至春變為溫病，至夏變為暑病，熱極重於溫也。是以辛苦之人，春夏多為溫熱病，皆由冬時觸寒所致。又曰：十一月、十二月，寒冽已嚴，為病則重。迥考《素問》、仲景及諸家之論，皆云冬時觸冒寒毒所致，非是猝然傳染也。</p>
<h4>十一、辨景岳混瘟溫為傷寒之誤</h4>
<p>景岳曰：近或有以溫病熱病謂非真傷寒者，在未達其義耳。又曰：瘟疫本即傷寒，無非外邪之病，但染時氣而病，無少長率相似者，是即瘟疫之謂。</p>
<p>《內經》以溫暑病有類傷寒，故曰傷寒之類。既明言傷寒之類，不竟言傷寒。何不竟言傷寒，而曰病溫、病熱？景岳於經義尚未詳悉，抑有意欲毀河間，故將經義塗抹耶。又瘟疫乃時行傳染不正之氣為病，何得云本即傷寒，無非外邪之病？既云傷寒，乃外之寒邪所襲，而病自表傳裡。，既云但染時氣而病，則非傷寒也，此言殊謬，春溫之病，冬令寒邪，鬱伏火氣，至春得風寒所觸，自內而發外，從春令，故曰溫病。瘟疫病，乃感受時行不正之氣而病，所以傳染少長相似者，不論四時皆有之。景岳於瘟疫、傷寒、溫病、熱病，尚未清爽，用藥惟投溫散發表出汗，治法大謬。</p>
<h4>十二、論溫熱四時皆有</h4>
<p>溫熱，伏氣病也，通稱伏邪。病之作，往往因新感而發，所謂新邪引動伏邪也。因風邪引動而發者，曰風溫（或曰風火）；因寒邪引動而發者，曰冷溫（或曰客寒包火）；因暑邪引動而發者，曰暑溫（或曰暑熱）；因濕邪引動而發者，曰濕溫，（或曰濕遏熱伏）。若兼穢毒者，曰溫毒，其症有二，一為風溫時毒，一為濕溫時毒。此以兼症別其病名也。其發於春者，曰春溫，（或曰春時晚發）；發於夏者，曰夏熱，（或曰熱病）；發於秋者，曰秋溫（或曰秋時晚發，或曰伏暑）；發於冬者，曰冬溫，（或曰伏暑冬發）。此以時令別其病名也。其病萌於春，盛於夏，極於秋，衰於冬。間亦有盛發於春冬者，然總以盛發於夏秋為多。何則？春冬空氣清潔，輕氣多而炭氣少，故其為病，亦清邪多而濁邪少，除新感症外，即有因伏邪而病純熱無寒者，但為溫病而已；兼寒者，但為冷溫而已；兼風者，但為風溫而已。雖間有時行溫毒，然亦以風毒居多。夏秋空氣最濁，水土鬱蒸之氣，每被日光吸引而蒸發，發於首夏者，曰霉雨蒸，發於仲夏者，曰桂花蒸。</p>
<p>其為病也，皆水土穢氣雜合而成。人但以暑濕賅其病之本，貪涼飲冷賅其病之標，而不知夏秋水土鬱蒸，濕中有熱，熱中有濕，濁熱黏膩，化生霉菌，故謂之濕溫。（按此非時令病之濕溫，乃濕溫時疫也。即西醫所謂之傷寒，亦曰腸熱症，又曰腸窒扶斯）亦謂之濕熱，西醫謂之霉毒瓦斯，害人最廣，變症最繁，較之風溫、冷溫、暑溫三症，尤多而難治。英醫合信氏云：空氣干熱不傷人，惟濕熱最傷人。因低窪地土，或蘊有死水之潛熱，或積有腐爛之草木，（此即水土穢氣，化生霉菌之原因），後得六十度熱表之日光，接連晒之，其霉毒瓦斯乃勃發，故在東南熱地，夏秋之交，其毒尤甚。可見濕溫、濕熱，為有形黏膩之邪，西醫不為無見。嗚呼！人在氣交之中，一身生氣，終日與穢氣相爭戰，實則與微生物相爭戰，不知不覺中，伏許多危險之機，可不驚且懼哉？</p>
<h4>十三、論伏氣春溫</h4>
<p>春溫一症，由冬令收藏未固，昔人以冬寒內伏，藏於少陰，入春發於少陽，以春木內應肝膽也。寒邪深伏，已經化熱，昔賢以黃芩湯為主方，苦寒直清裡熱。熱伏於陰，苦味堅陰，乃正治也，知溫邪忌散，不與暴感門同法。若因外邪先受，引動在裡伏熱，必先辛涼以解新邪，繼進苦寒以清裡熱。</p>
<h4>十四、春溫有二</h4>
<p>春溫病有兩種：冬受寒邪不即病，至春而伏氣化熱外發者，名曰春溫，若春令太熱，外受時邪而病者，此感而即發之春溫也。辨症之法：伏氣春溫，初起但熱不寒而口渴，此自內而發出於外也；感而即發之春溫，初起微寒，後則但熱不寒，此外犯肺衛者也。</p>
<p>附時人陸平一語：五氣皆有新感、伏邪，惟寒邪獨化熱而出，余邪皆仍本氣發出，此為異耳。</p>
<h4>十五、溫熱提要</h4>
<p>俞東扶曰：今之所謂傷寒者，大概皆溫熱病耳。仲景云：太陽病，發熱而渴，不惡寒者，為溫病。在太陽已現熱象，則麻、桂二湯必不可用，與傷寒迥別。《內經》云：熱病者，皆傷寒之類也。是指諸凡驟熱之病，當從傷寒例觀。二說似乎不同，因審其義，蓋不同者在太陽，其余則無不同也。溫熱病只究三焦，不講六經，此是妄言。仲景之六經，百病不出其范圍，豈以傷寒之類，反與傷寒截然兩途乎？葉案云：溫邪吸自口鼻。此亦未確，仲景明云伏氣之發，李明之、王安道俱言冬傷於寒，伏邪自內而發，奈何以吳又可《溫疫論》牽混耶？惟傷寒則足經為主，溫熱則手經病多。如風溫之咳嗽息鼾，熱病之神昏譫語，或溏瀉黏垢，皆手太陰肺，手厥陰心包絡，手陽明大腸現證。甚者喉腫肢掣，昏蒙如醉，躁擾不寧，齒焦舌燥，發斑發頤等症。其邪分布充斥，無復六經可考，故不以六經法治耳。就予生平所驗，初時兼挾表邪者最多，仍宜發散，如防、葛、豉、薄、牛蒡、杏仁、滑石、連翹等，以得汗為病輕，無汗為病重。如有斑，則參入蟬蛻、桔梗、蘆根、西河柳之類；如有痰，則參入土貝、僵蠶、栝蔞、橘紅之類；如現陽明證，則白虎承氣（生石膏、大黃、知母、甘草、鮮荷葉、芒硝）；少陽證，則小柴胡（柴胡、半夏、人參、甘草、黃芩、生薑、大棗）去參、半，加花粉，知母，〔璜按少陽證因於溫暑者，雷少逸清營捍瘧法（連翹、竹葉、扁豆衣、青蒿、木賊、黃芩、青皮、西瓜翠衣）較穩；〕少陰證，則黃連阿膠湯（黃連、茯苓、阿膠）、豬苓湯（豬苓、茯苓、澤瀉、滑石、阿膠）、豬膚湯〔豬膚、白粉（即粉錫，一名鉛粉）、白蜜〕；俱宗仲景六經成法有效。但溫熱病之三陰證多死，不比傷寒。蓋冬不藏精者，東垣所謂腎水內竭，孰為滋養也。惟大劑養陰，佐以清熱，或可救之。養陰如二地、二冬、阿膠、丹皮、玄參、人乳、蔗漿、梨汁；清熱如三黃（黃連、黃芩、大黃）、石膏、犀角、大青、知母、蘆根、茅根、金汁、雪水、西瓜、銀花露、絲瓜汁，隨其對證者選用。若三陰經之溫藥，與溫熱病非宜。亦間有用真武（附子、白朮、茯苓、白芍、生薑）、理中（白朮、人參、乾薑、甘草）者，百中之一二而已。大抵溫熱病最怕發熱不退，及痙厥昏蒙。更有無端而發暈，及神清而忽間以狂言者，往往變生不測。遇此等症，最能惑人，不比陽證陰脈，陽縮舌卷，撮空見鬼者，易燭其危也。要訣在辨明虛實，辨得真，方可下手。然必非劉河間、吳又可之法所能救，平素精研仲景《傷寒論》者，庶有妙旨。至如葉案之論溫熱，有邪傳心包，震動君主，神明欲迷，彌漫之邪，攻之不解，清竅既蒙，絡內亦閉，豁痰降火無效者，用局方至寶丹（犀屑、玳瑁屑、琥珀、朱砂、雄黃、龍腦、麝香、牛黃、安息香、銀箔、金箔）、或紫雪（黃金、寒水石、石膏、滑石、磁石、犀角、羚羊、沉香、木香、升麻、玄參、公丁香、甘草、朴硝、硝石、麝香、辰砂）、或牛黃丸（牛黃、黃連、大黃、麥冬、朱砂、麝香、梔子、牙硝、川芎、黃芩、甘草），宗喻氏芳香逐穢宣竅之說，真足超越前賢，且不蹈用重藥者一匙偶誤、覆水難收之弊也。</p>
<p>璜按俞氏此論，確切不移。其間有云無端發暈，神清而忽間以狂言者，往往變生不測，因此症神氣半明半昧，察其舌色淡紅而近紫，苔甚薄，或無苔，死期每在五日之間，余於臨證見之屢矣。此症在西醫，為延髓神經被細菌所侵害也。</p>
<h4>十六、溫暑提綱</h4>
<p>夫六氣傷人，為病各異，必辨其為何氣之邪，治之方無錯誤。如寒為陰邪，傷人之陽，熱為陽邪，傷人之陰，二者冰炭，尤當辨別。是以溫病初起，治法與傷寒迥異；傷寒傳裡，變為熱邪，則治法與溫病大同。茲細詳溫病源流，當辨別而分治者有五：一曰春溫、二曰風溫、三曰暑溫、四曰濕溫、五曰瘟疫。</p>
<p>春溫者，經曰冬傷於寒、春必溫病；又曰冬不藏精，春必病溫。此因伏氣之邪，發為春溫病也。王叔和《傷寒例》曰：冬傷寒邪，藏於肌膚，至春發為溫病，至夏發為熱病，熱病重於溫也，是故辛苦之人，春夏多溫熱病者，因冬傷寒邪所致也。乃吳又可《溫疫論》云：世所稱溫病，即屬瘟疫，古無瘟字，後世以溫去「　」加「　」為瘟，不可以字異，而謂別有溫病也，溫者融和之氣，長育萬物，豈能為病？且言冬傷寒邪，藏於肌膚，人身氣血流行，稍有窒礙，即為不安，豈有邪藏肌膚，全然不覺，至春至夏，始得發病耶？余按叔和之言，原本經旨，並非臆說。而又可之論，似乎近理，而實不明六氣陰陽變化之道。直辟經文為非，謬指溫病為瘟疫，殊欠究心故也。夫經言冬傷於寒，春必病溫；春傷於風，夏為飧泄；夏傷於暑，秋為　瘧；秋傷於燥，冬生咳嗽。統論四時，皆有伏氣之邪發病。若謂冬傷寒而春發病為非，則春傷風，夏飧泄、夏傷暑，秋　瘧等，豈皆非歟？每見秋冬時，伏暑邪發，為瘧痢等病者，比比皆是，又可豈未之見耶？又如《素問》論溫瘧云：得之冬中於風，邪藏骨髓，至夏受暑邪，發為溫瘧。《靈樞‧歲露編》云：冬至中虛風賊邪，入客於骨而不發，至立春陽氣發，腠理開，又中虛風，民多病暴死。若此論伏邪者，非獨一端，又可豈未讀耶，何不思之甚也！又如人之痘毒，未發時，毫無影響，一旦觸發，勢多凶暴，往往損命。可見人身臟腑經絡，雖氣血周流，當其邪伏，全然不覺，其理有難究詰者，又可執區區淺見，安可論《內經》奧旨哉？譬猶匪類匿人間，暫不為惡，莫知其為匪也。然其野狼子野心，終至擾害閭閻，必俟殲除淨盡，而後良民始安耳。</p>
<p>今試論春溫之理以質之。蓋冬為太陽寒水司令，故傷風寒者，多從太陽經始。太陽主一身之表，與肺同為皮毛之合，邪由皮毛而入，故身熱頭痛者，太陽經證也；鼻鳴乾嘔、或喘者，肺氣被遏也。但人體質有強弱，受邪有重輕，凡邪重而體強者，則傷太陽經，為麻黃、桂枝湯證；體弱者，邪從太陽直入少陰，為四逆、白通湯證。以二經為表裡，經脈連接故也。如體弱而邪輕者，以外衛不固，邪亦入陰，仲景曰：少陰之為病、脈微細、但欲寐也。或其邪輕，止見脈微細欲寐，而無吐利厥逆等重證。內氣既和，飲食或亦如常，不但傷邪者不覺，即延醫視之，審無他故，惟脈弱欲寐，必認作疲倦，助其元氣而已。又當冬令歸藏之候，其邪從經入絡，經直絡橫，氣血流轉於經，邪伏於絡，則不覺也，即經所謂邪藏肌膚者耳。且如風為陽邪，性動而疏泄，如桂枝湯證，以風重於寒，故脈緩而有汗，豈非風性疏泄乎？寒為陰邪，性靜而凝斂，如麻黃湯證，以寒重於風，故脈緊而無汗，豈非寒性凝斂乎？若但傷於寒而無風，以冬令之收藏，受陰邪之凝斂，則伏而不顯，必待春陽鼓動而後發，如冰之凝，非陽不化。由是推之，不獨體弱邪輕者為然，凡貧苦力食之人，衣單耐寒，日逐積蓄，其臟氣固密，邪不能干，則伏於脈絡，至其發病，熱勢倍重，為因邪與元氣，究非同類。伏於少陰，與腎陽鬱蒸，寒化為熱，至春少陽氣升，熱邪隨發，或云春必病溫。其蓄之愈久，則熱發愈重，理勢必然。叔和云：辛苦之人，春夏多溫熱病者，因冬傷寒邪所致。良非虛語也。其冬不藏精之人，本體陰傷，至春陽旺，陰不勝陽，必致溫病，類乎內傷。若兼伏邪，其病尤重。然皆為春發之病，均名春溫也。</p>
<p>風溫者，冬至一陽來復，則陽進陰退，立春以後，陽氣漸旺，由溫而熱。若又可所言，溫和之氣，原不病患。殊不思《靈樞經》云：虛風賊邪，四時皆有，人感虛風，而當溫暖之候，即成溫病，故方書稱為風溫。經曰：風者，百病之長也。善行而數變，至其變化，乃為他病也。由是見外邪為病，常二三氣雜合而成，多因於邪風，風氣鼓蕩，眾氣隨之而傷人，故風為諸邪領袖，而稱百病之長。然風即陰陽之化氣，故溫和之陽風則生物，殺厲之陰風則戕物，而有時令方位之宜否。若非其時令方位而來者，雖非殺厲，亦為虛風賊邪，傷人致病，故四時皆有邪風。而春令溫暖，又為風木主令，故風溫之病，較三時為多。若方書所稱溫熱、冬溫等名，皆可以風溫二字賅之。蓋冬令溫和，未必為病，必中邪風，而成溫病，溫重即成熱病，是以不須另分名目也。</p>
<p>暑溫者，《素問‧熱論篇》曰：凡病傷寒而成溫者，先夏至日為病溫，後夏至日為病暑，暑當與汗皆出，勿止。此雖同論伏氣之病，但自夏至一陰來　，陽氣漸退，長夏濕土司令，濕土與相火合氣，乃名為暑。暑者陽盛於外，而陰長於內，若　卦而至　至否，陰長之象也。如人本有伏氣之邪，蓄熱已深，而發病於暑濕之令，熱自內出，蒸汗外流，清其內熱，則汗自止。若止其汗，則熱反不泄，故不可止。而內熱亦隨汗解。若無伏氣，而但感暑令熱邪，體質多火者，熱從火熾，濕隨汗去，是暑而偏於火盛，皆名暑溫也。兼伏氣者，病必倍重。嘗見有發病一二日，即昏狂大渴，吐血衄血者。若僅感時令之熱，而非蓄邪深重，何至如此迅暴，即叔和所云，冬傷寒邪，至夏變為熱病，熱病重於溫者是也。</p>
<p>濕溫者，夏感暑濕，及四時溫病，而體質陽虛多濕者，則熱為濕遏，不能宣達，濕因熱蒸，蘊釀膠黏，故最淹纏難愈。或胸腹滿悶；或體重酸痛；或為瘧疾；或為瀉痢；或為黃膽；或為痹腫。變證多端，皆濕熱為病，是名濕溫也。</p>
<p>以上四證，源流不同，各當辨別而治。至於瘟疫，又屬大異，蓋由五運六氣，主客流行，互相剋制，或兼穢污之氣，蘊釀而成，故其病邪，較風溫等為重。考《素問‧六元正紀大論》曰：辰戌之歲，初之氣，地乃遷，氣乃大溫，民乃厲，溫病乃作；卯酉之歲，二之氣，陽乃布，物乃生榮，厲大至，民善暴死；丑未之歲，二之氣，大火正，物承化，溫癘大行，遠近咸若，濕蒸相薄，雨乃時降；己亥之歲，終之氣，流水不冰，地氣大發，其病溫癘。</p>
<p>按古無瘟字，溫瘟義同。所謂厲者，狀其氣之暴厲，而與尋常有別，即後世所稱瘟疫也。瘟疫發病，往往一方相類，如經所云：遠近咸若也。由是可知瘟疫一證，固非吳又可所創論，《內經》已歷歷言之，仍不出六氣錯雜所致。而與溫病不同者，在厲之一字，豈可謂溫病即瘟疫乎？又可復言風寒暑濕等，為天地之常氣，瘟疫乃天地別有一種厲氣，竟謂瘟疫與六氣無涉者，豈天地間六氣以外，更有他氣，軒歧不知，而又可獨知之乎？可見不明六氣變化之理，遂亦不辨伏氣發病。將春溫風溫等，概指為瘟疫，既悖經旨，而誤後學，其害多矣，可不辨乎？方書又有溫毒之名，亦即《經》云溫癘之意。曰厲，曰毒，不過狀其邪之凶暴，即瘟疫一類，不必另立名目，以省繁惑也。六氣中，惟燥金之氣多由風熱風寒所化，或其人陰虛多火，易成熱燥，如《經》云：秋傷於燥，冬生咳嗽。肺熱葉焦，發為痿　之類，當宜清潤養陰。</p>
<p>若體質多寒，而成寒燥，則宜溫潤，如麻黃湯中用杏仁，以潤肺燥之類也。除正傷寒遵仲景成法外，其四時雜感，或不出如上所敘五證，而五證所化之病，如瘧、痢、疸、痹、痧、脹之類，不一而足。既知病邪源流所自，辨六氣變化之理、氣血虛實之殊，則權衡論治，自不至於混淆謬誤。管見所及，聊陳端緒，尚望海內明賢，誨正為幸。</p>
<h4>十七、論溫熱與風寒各異</h4>
<p>一辨其氣之異。風主疏泄，寒主凝澀，二氣雖有不同，然初皆冷而不熱，其中人也，鬱而不宣，方其初受在表，自宜溫散。麻黃湯、桂枝湯、葛根湯、蘇羌飲等方，皆散寒之劑，非解熱之劑也。溫熱由伏氣而成，熱而不冷，其傷人也，立蒸而腐敗，初起即宜涼解。梔豉湯（山梔、淡豆豉）、葛根芩連湯（葛根、黃芩、川連、炙草）、麻杏石甘膏（麻黃、杏仁、生石膏、炙草）、黃芩湯、葳蕤湯（玉竹參、麻黃、杏仁、川芎、青木香、白薇、獨活、炙草）、六神通解散（麻黃、生石膏、蒼朮、黃芩、滑石、甘草、淡豆豉、蔥白）等方，皆解熱之劑，非散寒之劑也。以解熱之劑治風寒，輕則寒中嘔利；重則陽陷厥逆。以散寒之劑治溫熱，輕則衄渴譫妄；重則枯竭亡陰。此氣之不可不辨也。</p>
<p>二辨其受之異。風寒從表入裡，自皮毛而肌腠，而筋骨，而胸膈胃腸，一層漸深一層，不能越此入彼，故汗不厭早，下不厭遲。為散為和，淺深毫不可紊。以其氣皆屬冷，必待寒化為熱，邪斂入內，方可攻下涼解，否則虛其裡氣，反引表邪內陷，而成結胸痞利諸症。濕溫從膜原而發，溫熱從血絡而發，先踞膜絡之中，必內潰而後變九傳，由裡出表雖出表而裡未必全無邪戀，經過之半表，亦未必不為邪傷，故下不厭早，汗不厭遲。為和為解，淺深必不可拘。以其氣皆屬熱，熱能作蒸，不必郁變，而此蒸即帶彼熱，未出表而誤溫之，始則引熱毒燎原，而為斑衄狂喘，末傳則傷真陰，為枯槁沉昏厥逆諸危候矣。</p>
<p>三辨其傳經之異。溫熱傳經，與風寒不同。風寒從表入裡，故必從太陽而陽明，而少陽，而入胃；若溫熱則邪從中道，而或表或裡，惟視人何經之強弱為傳變。故伏邪之發，有先表後裡者，有先裡後表者，有但裡不表者，有表而再表者，有裡而再裡者，有表裡偏勝者，有表裡分傳者，有表裡分傳而再分傳者，有表裡三焦齊發者，此謂九傳。醫必先明九傳之理由，而後能治伏邪。試言其要，風寒從表入裡，必待漸次閉鬱而傳變，故在表時不必兼見裡症，入裡後不必復見表症；溫熱本從裡出表，故見表症時，未有不兼見一二裡症者，亦未有不兼見一二半表半裡症者。且溫熱屬蒸氣，表而裡，裡而表，原是不常。有裡症下之而其邪不盡，仍可出表者；有譫妄昏沉之後，病愈數日，復見頭痛發熱，復從汗解者，此所謂表而再表，風寒必無是也。更有下症全具，用下藥後，裡氣通而表亦達，頭痛發熱得汗而解，胸悶心煩暫從疹斑而解，移時復見舌黑心悶，腹痛譫妄，仍待大下而後愈者，此所謂裡而再裡，風寒必無是也。若夫表裡分傳，三焦齊發之症，風寒十無一二，溫熱十有六七，但據傳經之專雜為辨。初起專見一經症者屬風寒，初起雜見二三經症者屬溫熱；日久而漸傳者屬風寒，一日驟傳一二經，或二三經者屬溫熱。則雖病有變態，而風寒不混於溫熱，溫熱不混於風寒，施治自無誤矣。</p>
<h4>十八、論溫熱症辨似要義</h4>
<p>凡病俱以虛實寒熱四字為大綱，溫熱症何獨不然？但虛實寒熱之真者易辨，似者難辨。有實症似虛，虛症似實，熱症似寒，寒症似熱者，不可不細辨也，故特逐論而詳述之。</p>
<p>所謂實症似虛者，即以表症論之，頭痛發熱，邪在表也。其脈當浮，症當無汗，而反自汗，脈無力，用發表藥，而身反疼痛，則似虛矣。故人惑於多自汗，而誤用桂枝湯者有之；惑於脈無力，而引仲景《太陽篇》發熱惡寒脈微弱為無陽，而誤用小建中湯者有之；惑於身疼痛，而引仲景若不瘥，身體疼痛，當溫其裡，誤用四逆湯者有之。不知伏邪之在表，其自汗者，邪熱自裡蒸出於表，非表虛也；其脈無力者，熱主散漫，散漫則脈軟，非比寒主收斂而脈緊也；身體反疼者，伏邪自裡而漸出於表，非比陽虛不任發表也。此在表之實症似虛者也。</p>
<p>又以半表半裡論之，寒熱往來，胸脅滿，邪在半表半裡也。其脈當弦，其口當渴，而脈反沉，口不渴，則似寒矣。</p>
<p>故人惑於脈沉，而以胸脅滿為太陰，口不渴為內寒，而誤用理中湯，不知伏邪之半表半裡，其脈沉者，邪伏於膜原而未出表，故脈不浮，非陽虛也。其不渴者，邪未傳變，未入胃腑，故不能消水，非內寒也。此半表半裡之熱症似寒者也。</p>
<p>又以裡症論之口燥咽乾不得臥，邪在裡。其脈當洪，其身當熱，其便當結，而脈反沉微澀弱，身反四肢厥冷，大便自利，則全似虛寒矣。人惑於脈微澀弱，而用參　者有之；惑於厥逆，而用桂附者有之；惑於自利，而用參、朮、乾薑者有之。</p>
<p>不知伏邪在裡，其脈沉微澀弱者，乃邪熱結於腸胃，氣不達於營衛也；其身反厥冷者，邪熱結於裡，而不達於外，氣結於下，而不通於上也；其自利者，乃熱結旁流也。此在裡之實症似虛、熱症似寒者也。</p>
<p>總之，溫熱為伏火，與風寒之寒因大異。故脈症雖有似虛似寒之時，而一一辨其為溫熱症，則屬邪盛而反見虛寒之假象，明眼人不當為其所惑也。</p>
<p>所謂虛症似實者，即以表症論之，頭痛、發熱、身疼痛、自汗、脈浮大，邪在表也。而屢用清涼表散，其症不減者，非藥力之不專，乃正氣不能使藥力達表，陰液不能隨陽氣作汗也。此伏邪在表時，虛症之似實者也。氣虛者，加參　於表藥中即汗；陰虛者，加潤劑於表藥中即汗。若不知其氣血之兩虧，而宣表不已，勢必暴厥而脫。</p>
<p>更以半表半裡論之，胸脅滿、耳聾、嘔吐、如瘧狀、脈弦，邪在半表半裡也。而屢用和解消導，其症更加者，非藥力之不到，乃中焦脾胃傷而氣不運，肝陰傷而火更燥也。此伏邪在半表半裡時，虛症之似實者也。必合四君、六君（人參、白朮、茯苓、甘草、薑、棗，為四君子湯，加陳皮、半夏，名六君子湯）於和解藥中，合四物（當歸、生地、芍藥、川芎）於清解藥中，始能戰汗而解。若更消導清解不已，必至胃氣絕而死。</p>
<p>更以裡症論之，舌苔黃黑裂燥芒刺、胸腹脅臍硬痛，大小便閉、六脈數大，邪在裡也。而屢用攻利藥，或總不得利，或利後愈甚，乃正氣不能傳送腸胃，血液不能滋潤腸胃，非藥力之不峻也。此伏邪傳裡時，虛症之似實者也。氣虛者，助胃以資傳送；血枯者，養陰以藉濡滑。氣行津化，方得通利。若不知其虧竭，而恣意攻利，必昏沉痿頓而死。</p>
<p>總之，藥不中病，則傷正氣。傷其下，則正氣浮越而上逆；傷其中，則正氣虛散而外越。脈症雖有似實似熱之時，而一詢其來路，若已治之太過，則屬氣從內奪，正氣奪則虛，明眼人當不為其所惑也。</p>
<p>夫一症而虛實互異，用藥稍誤而生死攸分，將以何者為辨症之把柄乎？曰：以下列五辨法辨之，則了然矣。而更以曾經誤治、與未經誤治，辨其伏邪之為實為虛，為實中夾虛，為虛中夾實，則得其大綱，而更得其細目，然後似是而非之症，斷不能惑矣。余於各論條下，每症細辨其虛實，而此先詳言以通論之者，則以散見諸條，尚恐略過，故首先總論其吃緊處也。至若寒極似熱，則惟傷寒諸症有之，而為溫熱症之所絕無，故不論及。</p>
<h4>十九、論溫熱五種辨法</h4>
<p>一辨氣：風寒之氣，從外收斂入內，病無蒸氣觸人。間有作蒸氣者，必待數日後，轉入陽明腑症之時。溫熱及濕溫症，其氣從中蒸達於外，病即有蒸氣觸人，輕則盈於床帳，重則蒸然一室，以人身臟腑氣血津液，得寒氣則內斂，得火氣則上炎。溫熱火氣也，人受之自臟腑蒸出於肌表，氣血津液逢蒸而敗，因敗而溢，溢出有盛衰，充達有遠近，非鼻觀精者不能辨之。辨之既明，治之毋惑。知為溫熱而非傷寒，則凡於頭痛發熱諸表症，不得誤用辛溫發散，於諸裡症當清當下者，亦不得遲回瞻顧矣。</p>
<p>二辨色：風寒主收斂，斂則結，面色多繃結而光潔；溫熱主蒸散，散則緩，面色多松緩而垢晦。人受蒸氣，則津液上溢於面，頭目之間多垢滯，或如油膩，或如煙熏，望之可憎者，皆溫熱之色也。一見此色，雖頭痛發熱，即不得用辛熱發散。一見舌黃煩渴諸裡症，即宜攻下，不可拘於下不厭遲之說。</p>
<p>三辨舌：風寒在表，舌多無苔，即有白苔，亦薄而滑，漸傳入裡，方由白而黃，轉燥而黑。溫熱一見頭痛發熱，舌上便有白苔，且濃而不滑，或色兼淡黃，或粗如積粉，或兼二三色，或白苔即燥。又有至黑不燥，則以兼濕挾痰之故，然必按之粗澀，或兼有朱點有罅紋，不可誤認為裡寒陰結也。治溫熱者，能先於表症辨之，不用辛溫發散，一見裡症，即用清涼攻下，斯得之矣。</p>
<p>四辨神：風寒之中人，令人心知所苦，而神自清，如頭痛寒熱之類，皆自知之。至傳裡入胃，始或有神昏譫語之時，緣風寒為病，其氣不昏而神清。溫熱初起，便令人神情異常，而不知所苦，大概煩躁者居多，甚或如痴如醉，擾亂驚悸。</p>
<p>及問其何所苦，則不自知，即間有神清而能自知者，亦多夢寐不安，閉目若有所見，此即譫語之根也。或亦以始初不急從涼散，遷延時日，故使然耳。</p>
<p>五辨脈：溫熱之脈，傳變後與風寒頗同，初起時與風寒迥別。風寒從皮毛而入，一二日脈多浮，或兼緊兼緩兼洪，無不浮者。傳裡始不見浮脈，然其至數亦清楚，而不模糊。溫熱從中道而出，一二日脈多沉。迨自裡出表，脈始不沉而數。或兼弦，或兼大，然總不浮，其至數則模糊而不清楚。凡初起脈沉遲，勿誤作陰症。沉者，邪在裡，遲者，邪在臟也。脈象同於陰寒，而氣、色、舌苔、神情，依前諸法辨之，自有不同者，或數而無力，亦勿作虛視，因其熱蒸氣散，脈自不能鼓指，但當解熱，不當補氣。受病之因各殊，故同脈而異斷。</p>
<h4>二十、溫熱有外感有伏邪</h4>
<p>太陽病，發熱而渴為溫病，是少陰伏邪、出於太陽，以其熱從內發，故渴而不惡寒。若外感溫病，初起卻有微惡寒者，以風邪在表也；亦不渴，以內無熱也；似傷寒而實非傷寒，如辨別不清，多致誤治。</p>
<h4>二十一、論溫病與傷寒病情不同治法各異</h4>
<p>冬月傷寒，邪由皮毛而入，從表入裡。初見三陽經證，如太陽病，則頭項強痛而惡寒之類。三陽不解，漸次傳入三陰。其中有留於三陽而不入三陰者；有結於胃腑而不涉他經者；亦有不必假道三陽而直中三陰者。凡此傷寒之證，初起悉系寒邪見象。迨發作之後，漸次化熱內傳，始有熱象。故初起治法，必以通陽祛寒為主。及化熱之後，始有泄熱之法。</p>
<p>此傷寒病之大較也。若夫溫病，乃冬時寒邪伏於少陰，迨春夏陽氣內動，伏邪化而為熱，由少陰而外出，如邪出太陽，亦見太陽經證，其頭項強痛等象，亦與傷寒同。但傷寒裡無鬱熱，故惡寒不渴，溲清無內熱；溫邪則標見於外，而熱鬱於內，雖外有表證，而裡熱先盛，口渴溲黃，尺膚熱，骨節疼，種種內熱之象，皆非傷寒所有。其見陽明、少陽，見症亦然。初起治法，即以清泄裡熱，導邪外達為主，與傷寒用藥一溫一涼，恰為對待。蓋感寒隨時即發，則為傷寒，其病由表而漸傳入裡；寒邪鬱久化熱而發，則為溫病，其病由裡而鬱蒸外達。傷寒初起，決無裡熱見證；溫邪初起，無不見裡熱之證。此傷寒溫病分證用藥之大關鍵，臨證時能從此推想，自然頭頭是道矣。</p>
<h4>二十二、論伏氣發溫與暴感風溫病源不同治法各異</h4>
<p>冬時伏邪，鬱伏至春夏，陽氣內動，化熱外達，此伏氣所發之溫病也。《內經》云：冬傷於寒，春必病溫。又云：凡病傷寒而成溫者，先夏至日為病溫，後夏至日為病暑。《難經》云：傷寒有五，有溫病，有熱病。《傷寒論》云：太陽病，發熱而渴，不惡寒者，為溫病。凡此皆指伏邪所發之溫病言也。另有一種風溫之邪，當春夏間，感受溫風，邪鬱於肺，咳嗽發熱，甚則發為痧疹，《內經》所謂風淫於內，治以辛涼；葉氏《溫熱論》所謂溫邪上受，首先犯肺者，皆指此一種暴感風溫而言也。伏氣由內而發，治之者以清泄裡熱為主。其見證至繁且雜，須兼視六經形證，乃可隨機立法。</p>
<p>暴感風溫，其邪專在於肺，以辛涼清散為主。熱重者兼用甘寒清化。其病與伏溫病之表裡出入，路徑各殊，其治法之輕重深淺，亦屬迥異。近人專宗葉氏，將伏氣發溫之病置而不講，每遇溫邪，無論暴感伏氣，概用葉氏辛涼輕淺之法，銀翹、桑菊，隨手立方，醫家病家，取其簡便，無不樂從；設有以伏氣之說進者，彼且視為異說，茫然不知伏溫為何病，嗟乎！伏溫是外感中常有之病，南方尤多，非怪證也；其病載在《內經》、《難經》、《傷寒論》諸書，非異說也。臨證者竟至茫然莫辨，門徑全無，醫事尚堪問哉？</p>
<h4>二十三、論伏邪外發須辨六經形證</h4>
<p>《傷寒緒論》曰：初發病時，頭項痛、腰脊強、惡寒，足太陽也；發熱面赤、惡風，手太陽也；目疼鼻干、不得臥，足陽明也；蒸熱而渴，手陽明也；胸脅滿痛，口苦，足少陽也；耳聾及病寒熱往來，手少陽也；腹滿自利而吐，足太陰也；口乾津不到咽，手太陰也。脈沉細，口燥渴，足少陰也。舌乾、不得臥，手少陰也；耳聾囊縮、不知人事，足厥陰也；煩滿厥逆，手厥陰也。《醫略》曰：太陽之脈，上連風府，循腰脊，故頭項痛，腰脊強；陽明之脈，挾鼻絡於目，故身熱目疼，鼻干、不得臥；少陽之脈，循脅絡於耳，故胸脅痛而耳聾；太陰脈布胃中，絡於嗌，故腹滿而嗌干；少陰脈貫腎，絡於肺，系舌本，故口燥舌乾而渴；厥陰脈循陰器，而絡於肝，故煩滿而囊縮。凡外感病，無論暴感伏氣，或由外而入內，則由三陽而傳入三陰；或由內而達外，則由三陰而外出三陽。六經各有見證，即各有界限可憑。治病者，指其見證，即可知其病之淺深；問其前見何證，今見何證，即可知病之傳變。傷寒如此，溫病何獨不然？《素問‧熱病篇》、仲景《傷寒論》，均以此立法。聖人復起，莫此易也。近賢葉氏，始有傷寒分六經，溫病分三焦之論，謂出河間，其實溫熱病之法，至河間始詳，至溫病分三焦之論，河間並無此說，其書具在，可覆按也。厥後吳鞠通著《溫病條辨》，遂專主三焦，廢六經而不論。殊不知人身經絡，有內外淺深之別，而不欲使上下之截然不通也。其《上焦篇》提綱云：凡溫病者，始於上焦，在手太陰。試觀溫邪初發者，其果悉見上焦肺經之見證乎？即或見上焦之證，其果中、下焦能絲毫無病乎？鞠通苟虛心診視，應亦自知其說之不可通矣。況傷寒、溫熱為病不同，而六經之見證則同，用藥不同，而六經之立法則同，治溫病者，烏可舍六經而不講者哉？</p>
<h4>二十四、論溫熱伏氣與新感不同</h4>
<p>新感溫熱，邪從上受，必先由氣分陷入血分，裡症皆表症侵入於內也。伏氣溫熱，邪從裡發，必先由血分轉出氣分，表症皆裡症浮越於外也。新感輕而易治，伏氣重而難療，此其大要也。</p>
<p>謂予不信，請述陸氏九芝評孟英之言曰：仲景所論溫熱，是伏氣。天士所論溫熱，是外感，故以溫邪上受、首先犯肺、逆傳心包十二字，揭之篇首，以自別異。果如其說，則所稱溫熱者，即俗所謂小風溫、小風熱，如目赤、頤腫、喉梗、牙疼之類，卻只須辛涼輕劑，其病立愈。更述薛瘦吟之言曰：凡病內無伏氣，縱感風寒暑濕之邪，病必不重，重病皆新邪引發伏邪者也。但伏氣有二：傷寒伏氣，即春溫夏熱病也；傷暑伏氣，即秋溫冬溫病也。邪伏既久，血氣必傷，故治法與傷寒傷暑正法大異。且其氣血亦鈍而不靈，故靈其氣機，清其血熱，為治伏邪第一要義。第其間所伏之邪，有微甚，有淺深；人之性質，有陰陽，有強弱，故其中又有輕重之分焉。醫必識得伏氣，方不至見病治病，能握機於病象之先。然非熟於亢害承制之理，亦豈能測未來之病乎？然非謂司天運氣也，雨　寒燠，在在留心，久當自悟耳。</p>
<p>由是觀之，同一溫熱症，而新感之與伏氣，病所之淺深不同，病情之輕重不同，病機之安危不同，故其療法，亦因之而不同。</p>
<h4>二十五、溫熱暑各伏氣有兼邪</h4>
<p>伏氣溫病，有兼風兼寒兼濕兼毒之不同；伏氣熱病，有兼暑兼濕兼燥之不同。惟伏暑之邪，古無是說，至深秋而發者，始見於葉氏《指南》。霜未降者輕，霜既降者重，冬至尤重。然竟有伏至來春始發者，由於秋暑過酷，冬令仍溫，收藏之令不行，中氣因太泄而傷，邪熱因中虛而伏，其綿延淹滯，較《指南》所論更甚。調治之法則尤難，非參　所能托，非芩連所能清。惟藉輕清靈通之品，緩緩撥醒其氣機，疏通其血絡，始可十救一二。若稍一呆鈍，則非火閉，即氣脫矣。</p>
<h4>二十六、溫暑伏氣證狀</h4>
<p>伏氣溫病，自裡出表，乃先從血分，而後達於氣分。故起病之初，往往舌潤而無苔垢。但察其脈軟，而或弦或微數，口未渴，而心煩惡熱，即宜投以清解營陰之藥。迨邪從氣分而化，苔始漸布，然後再清其氣分可也。伏邪重者，初起即舌絳咽乾，甚有肢冷脈伏之假象，亟宜大清陰分伏邪，繼必濃膩黃濁之苔漸生，此伏邪與新邪先後不同處。更有伏邪深沉，不能一齊外出者，雖治之得法，而苔退舌淡之後，逾一二日，舌復干絳，苔復黃燥，正如抽蕉剝繭，層出不窮，不比外感溫邪，由衛及氣，自營而血也。秋月伏暑證，輕淺者邪伏膜原，深沉者亦多如此。苟閱歷不多，未必知其曲折乃爾也。</p>
<h4>二十七、伏氣溫病論</h4>
<p>伏氣溫病，本冬傷於寒。後人論傷寒由表入裡，溫病自上而下，欲撇去傷寒，獨開生面以論溫，而不自知其無知妄作，不但於仲景經文，未明經旨，並於《內》、《難》二經所論溫病，概不符合。此乃無根之學說，不足道也。仲景論傷寒：有寒邪傷經，由經傳經者；有寒邪傷表，由表入裡者。寒邪入裡，先入胸為胸滿；由心而入心下為心下痞；由心下而入腹中為脹滿。其病皆自上而下。伏氣溫病，本冬傷於寒，寒邪伏於骨與肩背之膂筋，至春，病隨氣化，由筋骨而出走肌肉，化為溫病；由肌肉外達皮毛，發為熱病。伏寒化溫，自裡出表，乃人身之氣，隨時變化使然。所謂自上而下者，乃人之胃氣，不能使邪氣外解，則邪氣入裡，由上焦而入中焦，甚則深入下焦。其病由衛入營，由表入裡也。夫病之所以由表入裡，自上而下者，皆人之氣化使然，非病能使然。寒邪從毛竅入，溫邪亦從毛竅入，不得以溫邪為從口鼻入，不能從毛竅入也。何也？人之口鼻呼吸，毛竅亦呼吸，病氣隨呼吸入人身，固無分乎寒與溫也。惟瘟疫傳染，地氣為病，穢濁氣味，由口鼻入耳。</p>
<p>伏氣者，正邪也。冬以寒為正邪；春以風為正邪；夏以暑為正邪；長夏新秋以濕為正邪。正邪能伏，虛邪、實邪、微邪、賊邪，皆不能伏也。六氣傷人，合於四時，只論風寒暑濕，而不及燥火。何也？以燥火二氣不能伏，故燥為秋之正邪，而置之不論。喻嘉言未明經旨，為補秋燥一條，不知燥傷肺金，其病即發為燥咳，不能伏至冬令而後咳嗽也。</p>
<p>按燥氣有二，有火燥，有寒燥。火燥傷人，其氣不能伏；寒燥傷人，結為　瘕，為疝氣，日久不愈，亦伏氣病也。</p>
<p>嘉言欲補秋燥一條，當言疝瘕，不當言咳嗽也。</p>
<h4>二十八、伏邪病名解</h4>
<p>感六淫而即發病者，輕者謂之傷，重者謂之中；感六淫而不即病，過後方發者，總謂之曰伏邪。已發者而治不得法，病情隱伏，亦謂之曰伏邪。有初感治不得法，正氣內傷，邪氣內陷，暫時假愈，後乃復作者，亦謂之曰伏邪；有已發治愈，而未能除盡病根，遺邪內伏，後又復發，亦謂之曰伏邪。夫伏邪，有伏燥，有伏寒，有伏風，有伏濕，有伏暑，有伏熱。</p>
<h4>二十九、五氣皆從火化</h4>
<p>四時之序，春為風，夏為暑，長夏為濕，秋為燥，冬為寒，皆有外因。火則本無外因，然《內經》言百病之生，皆生於風寒暑濕燥火，則並及於火為六，病則名曰六淫。蓋以風暑濕燥寒感於外，火即應之於內；則在內之火，即此在外之五氣有以致之，故火但曰游行其間，後賢所以有五氣皆從火化之說也。</p>
<h4>三十、論溫熱即是伏火</h4>
<p>凡伏氣溫熱，皆是伏火，雖其初感受之氣，有傷寒傷暑之不同，而潛伏既久，蘊釀蒸變，逾時而發，無一不同歸火化。中醫所謂伏火症，即西醫所謂內炎症也。王秉衡曰：風寒暑濕，悉能化火，血氣鬱蒸，無不生火，所以人之火症獨多焉。朱心農曰：東南方天時多熱，地氣多濕，最多濕熱濕溫之症，正傷寒症極少。即云冬月多正傷寒症，亦不盡然。</p>
<p>歷症以來，恆見大江以南，每逢冬令太溫，一遇感冒，表分雖有外寒，內則竟多伏火，悉以伏火治之，絲毫不爽。故魏柳州曰：壯火為萬病之賊。嘉約翰曰：炎症為百病之源。中醫西醫，其揆一也。雖然，同一伏火，而濕火與燥火判然不同。以治燥火之法治濕火，則濕欲遏而熱愈伏，勢必為痞滿，為嘔呃，為形寒，熱不揚，為腸鳴泄瀉，甚則蒙閉清竅，譫語神昏，自汗肢厥，或口噤不語，或手足拘攣；以治濕火之法治燥火，則以燥濟燥，猶撥火使揚，勢必為灼熱，為消渴，為熱盛昏狂，為風動痙厥，甚則鼻煽音啞，舌卷囊縮，陰竭陽越，內閉外脫。是以對症發藥，必據燥火濕火之現症為憑。分際自清，誤治自少。</p>
<h4>三十一、暑熱與火而言</h4>
<p>風暑濕燥寒，乃天地之氣行於四時者也。惟夏令屬火，日光最烈。《內經》云：歲火太過，炎暑流行。明指烈日之火而言。然春秋冬三時之暖燠，無非離照之光熱，因皆不可以暑稱。故軒岐於五氣之下，贅一火字。且其言暑，明曰：在天為熱，在地為火，其性為暑。是暑　熱與火二者而已，經旨已深切著明矣。而人之火病獨多者，以風寒暑濕，悉能化火，五志過動，無不生火，則又天氣與人性交合化火之大源也。</p>
<h4>三十二、暑命名之別</h4>
<p>，即暑也。變暑言　者，以暑病屬諸伏寒，至夏至後發病之名，故曰中　。使不相混，此仲師法也。</p>
<h4>三十三、寒溫暑濕汗解不同</h4>
<p>傷寒非汗不解，最喜發汗；傷風亦非汗不解，最忌發汗，只宜解肌。此麻、桂之異其治，即異其法也。溫病亦喜汗解，最忌發汗，只許辛涼解肌，辛溫又不可用，妙在導邪外出。俾營衛氣血調和，自然得汗，不必強責其汗也。若暑溫濕溫，則又不然。暑非汗不解，可用香薷發之。發汗之後，大汗不止，仍歸白虎法，固不比傷寒傷風汗漏不止，而必欲桂附護陽實表。亦不可屢虛其表，致令厥脫也。觀古人暑門，有生脈散（人參、麥冬、五味子）法，其義自見。</p>
<h4>三十四、風溫濕溫勿用發表攻裡</h4>
<p>外感不外六淫，民病當分四氣。治傷寒家，徒守發表攻裡之成方，不計辛熱苦寒之貽害，遂使溫熱之旨，蒙昧不明。</p>
<p>仆不敏，博覽群書，恍然於溫熱病之不可不講也。《內經》云：冬不藏精，春必病溫。蓋謂冬時嚴寒，陽氣內斂，人能順天時而固密，則腎氣內充，命門為三焦之別使，亦得固腠理而護皮毛，雖當春令升泄之時，而我身之真氣，內外彌淪，不隨升令之泄而告匱，縱有客邪，安能內侵？是《內經》所以明致病之原也。然但云冬不藏精，而不及他時者，以冬為水旺之時，屬北方寒水之化，於時為冬，於人為腎，井水溫而堅冰至，陰外陽內，有習坎之義，故立言歸重於冬，非謂冬宜藏，而他時可不藏精也。即春必病溫之語，亦是就近指點。總見裡虛者表不固，一切時邪，皆易感受。學人可因此而悟及四時六氣之為病矣。《難經》云：傷寒有五：有傷寒，有中風，有風溫，有熱病，有濕溫。夫統此風寒濕熱之邪，而皆名之曰傷寒者，亦早鑒於寒臟受傷，外邪得入，故探其本，而皆謂之傷寒也。大致西北風高土燥，風寒之為病居多；東南地界水濕，濕熱之傷人獨甚。從來風寒傷形，傷形者定從表入；濕熱傷氣，傷氣者不盡從表入。風邪外束，則曰風溫；濕邪內侵，則曰濕溫；縱有微寒之兼襲，不同栗冽之嚴威，是以發表宜辛涼，不宜辛熱；清裡宜泄熱，不宜逐熱。</p>
<p>使概投以發表不遠熱，攻裡不遠寒諸法，則死亡接踵矣。</p>
<h4>三十五、溫熱燥證宜保津液</h4>
<p>夫春溫、夏熱、秋燥，所傷皆陰液也。苟能時時預護，處處堤防，豈復有精竭人亡之慮？傷寒所傷者，陽氣也。誠能保護得法，自無寒化熱而傷陰，水負火而難救之虞。即使有受傷處，臨證者知何者當護陽，何者當救陰，何者當先護陽，何者當先救陰，因端竟委，可備知終始，而超妙道之神。</p>
<h4>三十六、濕證非易治之病</h4>
<p>濕傷脾陽，在中則不運痞滿，傳下則洞泄腹痛。傷胃陽，則嘔逆不食，膈脹胸痛。兩傷脾胃，既有脾證，又有胃證也。其傷脾胃之陰若何？濕久生熱，熱必傷陰，古稱濕火者是也。傷胃陰，則口渴不飢；傷脾陰，則舌先灰滑，後反黃燥，大便堅結。濕為陰邪，其傷人之陽也，得理之正，故多而常見；其傷人之陰也，乃勢之變，故罕而少見。治濕必須審在何經何臟，兼寒兼熱，氣分血分，而出辛涼、辛溫、甘溫、苦溫、淡滲、苦滲之治。否則籠統混治，將見腫脹、黃疸、洞泄、衄血、便血諸症蜂起矣。蓋土為雜氣，兼證甚多，最難分析，豈可泛論濕氣而已哉？</p>
<h4>三十七、濕溫變證極多</h4>
<p>濕溫一證，蓋土為雜氣，寄旺四時，藏垢納污，無所不受，其間錯綜變化，不可枚舉。其在上焦也如傷寒，其在下焦也如內傷，其在中焦也如外感，或如內傷。至人之受病也，亦有外感，亦有內傷，使人心搖目眩，無從捉摸。其變證也，則有濕痹、水氣、咳嗽、痰飲、黃汗、黃癉、腫脹、瘧痢、淋帶、便血、痔瘡、疝氣、癰膿等證，較之風、火、燥、寒四門之中，倍而又倍。苟非條分縷析，體貼入微，未有不張冠李戴者。</p>
<h4>三十八、太陰陽明之表受邪濕熱居多</h4>
<p>濕熱之邪，從表傷者十之一二，由口鼻入者十之八九。陽明為水穀之海，太陰為濕土之臟，故多陽明、太陰受病。</p>
<p>太陰之表，四肢也，陽明也；陽明之表，肌肉也，胸中也。故胸痞為濕熱必有之證，四肢倦怠，肌肉煩疼，亦必並見。</p>
<h4>三十九、濕邪從膜原而入</h4>
<p>膜原者，外通肌肉，內近胃腑，即三焦之門戶，實一身之半表半裡也。邪由上受，直趨中道，故病多歸膜原。要之濕熱之病，不獨與傷寒不同，且與溫病大異。溫病乃少陰、太陽同病，濕熱乃陽明、太陰同病也。言證而不言脈者，以濕熱之候，脈無定體，或洪或緩，或伏或細，故難以一定之脈，拘定後人眼目也。</p>
<h4>四十、濕熱證陽明必兼太陰</h4>
<p>濕熱之證，陽明必兼太陰者，徒知臟腑相連，濕土同氣，而不知當與溫病之必兼少陰比例。少陰不藏，木火內燔，風邪外襲，表裡相應，故為溫病；太陰內傷，濕飲停聚，客邪再至，內外相引，故病濕熱。此皆先由內傷，再感客邪，非由腑及臟之謂。若濕熱之證，不挾內傷，中氣實者，其病必微。或有先因於濕，再因飢勞而病者，亦屬內傷挾濕，標本同病。然勞倦傷脾為不足，濕飲停聚為有餘，所以內傷外感，孰多孰少，孰虛孰實，又在臨證時權衡矣。</p>
<h4>四十一、暑濕穢合邪</h4>
<p>凡暑月霪雨之後，日氣煦照，濕濁上蒸，人在濕熱蒸騰中，感之則暑濕交受；兼溷穢濁之氣，人中之，即痧毒也。</p>
<p>夫人之正氣一虛，暑濕穢濁之邪，俱從口鼻吸入，流布三焦。上乘於心，為中痧；中入於胃，為霍亂；踞於募原，為寒熱；歸於腸胃，為泄瀉。蓋暑熱之邪，驟發而重者，為濕溫；遲發而輕者，為寒熱如瘧，為伏暑晚發；觸邪隨時即發者，為寒熱，為泄瀉；伏邪遇秋始發者，則為瘧為痢矣。一邪之染，為病非一，臨證者可不探本窮源以治哉？</p>
<h4>四十二、秋燥證治</h4>
<p>按古方書，無秋燥之病。近代以來，惟喻嘉言始補《燥氣論》，其方用甘潤微寒。葉氏亦有燥氣化火之論，其方用辛涼甘潤。乃《素問》所謂燥化於天，熱反勝之，治以辛涼，佐以苦甘法也。</p>
<h4>四十三、秋燥證治論</h4>
<p>春月地氣動而濕勝，故春分以後，風濕暑濕之證多；秋月天氣肅而燥勝，故秋分以後，風燥涼燥之證多；若天氣晴暖，秋陽以曝，溫燥之證反多於涼燥。前哲沈氏目南，謂《性理大全》燥屬次寒，感其氣者，遵《內經》燥淫所勝，平以苦溫，佐以辛甘之法，主用香蘇散（香附、紫蘇、陳皮、甘草）加味，此治秋傷涼燥之方法也。</p>
<p>喻氏嘉言，謂《生氣通天論》，秋傷於燥，上逆而咳，發為痿厥。燥病之要，一言而終，即諸氣　郁，皆屬於肺，諸痿喘嘔，皆屬於上，二條指燥病言明甚，更多屬於肺之燥。至左　脅痛、不能轉側、嗌干面塵、身無膏澤、足外反熱、腰痛、筋攣、驚駭、丈夫　疝、婦人少腹痛、目瞇　瘡、則又燥病之本於肝而散見不一者也，而要皆秋傷於燥之征也。</p>
<p>故治秋燥病，須分肺肝二臟，遵《內經》燥化於天，熱反勝之之旨，一以甘寒為主，發明《內經》燥者潤之之法，自製清燥救肺湯，用桑葉、石膏、甘草、人參、胡麻仁、真阿膠、麥門冬、杏仁、枇杷葉。痰多加貝母、栝蔞；血枯加生地黃；熱甚加犀角、羚羊角、或牛黃。隨證加藥。此治秋傷溫燥之方法也。</p>
<h4>四十四、新感秋燥說</h4>
<p>凡治燥病，先辨涼溫。王孟英曰：以五氣而論，則燥為涼邪，陰凝則燥，乃其本氣。但秋承夏後，火之余炎未息，若火既就之，陰竭則燥，是其標氣。治分溫潤涼潤二法。費晉卿曰：燥者干也，對濕言之也。立秋以後，濕氣去而燥氣來，初秋尚熱，則燥而熱，深秋既涼，則燥而涼，以燥為全體，而以熱與涼為之用，兼此二義，方見燥字圓相，法當清潤溫潤。</p>
<p>次辨虛實。葉香岩曰：秋燥一證，頗似春月風溫。溫自上受，燥自上傷，均是肺先受病。但春月為病，猶是冬令固密之余，秋令感傷，恰值夏月發泄之後，其體質之虛實不同。初起治肺為急，當以辛涼甘潤之方，氣燥自平而愈。若果有暴涼外束，只宜蔥豉湯（蔥白、香豉，服時加童便）加杏仁、蘇梗、前胡、桔梗之屬。延綿日久，病必入血分，須審體質證候。總之，上燥治氣，下燥治血，慎勿用苦燥劫爍胃汁也。</p>
<p>又次辨燥濕，石芾南曰：病有燥濕；藥有潤燥。病有風燥、涼燥、暑燥、燥火、燥郁夾濕之分；藥有辛潤、溫潤、清潤、咸潤、潤燥兼施之別。燥邪初傷肺氣，氣為邪阻，不能布津外通毛竅，故身無汗，寒熱疼痛；又不能布津上濡清竅，下潤胃腸，故口乾、舌燥、喉癢、乾咳、胸悶、氣逆、二便不調。治者當辨燥濕二氣，孰輕孰重；所兼何邪，如兼風、兼寒、兼伏暑之類；所化何邪，如化火、未化火之分；所夾何邪，如夾水、夾痰、夾食、夾內傷之類；對病發藥，使之開通。開是由肺外達皮毛，與升散之直向上行者不同；通是由肺下達胃腸，通潤通利，皆謂之通，非專指攻下言。</p>
<p>雖然，燥病夾濕，用藥最要靈活。專潤燥，須防其滯濕；專滲濕，須防其益燥。必先詰其已往，以治其現下；治其現下，須顧其將來。</p>
<h3>第三章‧辨脈</h3>
<h4>一、辨脈提綱</h4>
<p>脈浮緊惡寒，謂之傷寒；脈數寒少熱多，謂之溫病；脈緩惡風，謂之傷風；脈盛壯熱，謂之熱病；脈虛身熱，謂之傷暑。醫者不可不辨。</p>
<h4>二、溫病辨脈</h4>
<p>凡溫病脈，不浮不沉，中按洪長滑數，右手反盛於左手，總由怫熱鬱滯，脈結於中故也。若左手脈盛，或浮而緊，自是感冒風寒之病，非溫病也。</p>
<p>凡溫病脈，怫熱在中，多見於肌肉之分，而不甚浮。若熱鬱少陰，則脈沉伏欲絕，非陰脈也，陽邪閉脈也。</p>
<p>凡傷寒自外之內，從氣分入，始病發熱惡寒，一二日不作煩渴，脈多浮緊，不傳三陰，脈不見沉；溫病由內達外，從血分出，始病不惡寒，而發熱，一熱即口燥咽乾而渴，（楊如候曰：此論伏氣。若外感溫病，亦有微惡寒者。）脈多洪滑，甚則沉伏，此發表清裡之所以異也。</p>
<p>凡浮診中診，浮大有力，浮長有力，傷寒得此脈，自當發汗，此麻黃、桂枝證也；溫病始發，雖有此脈，切不可發汗，乃白虎、瀉心證也。死生關頭，全於此分。</p>
<p>凡溫病內外有熱，其脈沉伏，不洪不數，但指下沉伏而小急，斷不可誤為虛寒。若以辛溫之藥治之，反益其熱也。</p>
<p>所以傷寒多從脈，溫病多從證，蓋傷寒風寒外入，循經傳也，溫病怫熱內熾，溢於經也。</p>
<p>凡傷寒始本太陽，發熱頭痛，而脈反沉者，雖曰太陽，實見少陰之脈，故用四逆湯溫之。若溫病始發，未嘗不發熱頭痛，而見脈沉澀而小急，此伏熱之毒滯於少陰，不能發出陽分。所以身大熱而四肢不熱者，此名厥，正雜氣怫鬱，火邪閉脈而伏也。急以鹹寒大苦之味，大清大瀉之。斷不可誤為傷寒太陽始病、反見少陰脈沉而用四逆湯溫之。溫之則壞事矣。又不可誤為傷寒陽厥、慎不可下而用四逆散和之。和之則病甚也。蓋熱鬱亢閉，陽氣不能交接於四肢，故脈沉而澀，甚至六脈俱絕，此脈厥也；手足厥冷，甚至通身冰涼，此體厥也。即仲景所謂陽厥，厥淺熱亦淺、厥深熱亦深是也。</p>
<p>下之斷不可遲。非見真守定、通權達變者，不足以語此。（吳錫璜曰：王士雄說：謂沉細之脈，亦有因熱邪閉塞使然，形症實者，下之可生，未可概以陰脈見而斷其必死。凡熱邪壅遏，脈多細實遲澀，按證清解，自形滑數，不比內傷病服涼藥而脈加數為虛也。又馬元儀謂：三陽症亦有脈微弱不起者，以邪熱抑遏，不得外達，待清其熱，則脈自起，勿謂陽衰脈微也。二公論脈，與栗山前說均合，乃經驗日久，確切不易之理解，為醫者當切記之。）</p>
<p>凡溫病脈，中診洪長滑數者輕，重則脈沉，甚則閉絕。此辨溫病與傷寒脈浮脈沉異治之要訣也。</p>
<p>凡溫病脈，洪長滑數兼緩者易治，兼弦者難治。</p>
<p>凡溫病脈，沉澀小急，四肢厥逆，通身如冰者危。</p>
<p>凡溫病脈，兩手閉絕，或一手閉絕者危。</p>
<p>凡溫病脈，沉澀而微，狀如屋漏者死。</p>
<p>凡溫病脈，浮大而散，狀若釜沸者死。</p>
<p>按傷寒、溫病，必須診脈施治。有脈與證相應者，則易於識別；若脈與證不相應，卻宜審察緩急，或該從脈，或該從證，務要脈證兩得。即如表證脈不浮者，可汗而解；裡證脈不沉者，可下而解。以邪氣微，不能牽引抑郁正氣，故脈不應。下利脈實，有病愈者，但得證減，復有實脈，乃天年脈也。又脈法之辨，以洪滑者，為陽為實，以微弱者，為陰為虛，不待問也。然仲景曰：若脈浮大者，氣實血虛也；《內經》曰：脈大四倍以上，為關格。皆為真虛；陶氏曰：不論浮沉大小，但指下無力，重按全無，便是陰脈。此洪滑之未必盡為陽也實也。景岳曰：其脈如有如無，附骨乃見，沉微細脫，乃陰陽潛伏閉塞之候；陶氏曰：凡內外有熱，其脈沉伏，不洪不滑，指下沉澀而小急，是為伏熱。此微弱之未必盡為陰也虛也。</p>
<h4>三、熱病辨脈</h4>
<p>熱病之脈，亦隨其經而取之。發於太陽脈浮緊，發於陽明脈浮長，發於少陽脈弦數。大率發於三陽者多，發於三陰者少，亦有所因也。（治依溫病條下。若表邪傳進三陰者，治法與傷寒條內下證同。若脈沉小足冷者，亦發於陰，則難治也。）</p>
<p>大抵熱病比溫病尤加熱也，脈得洪大有力，或滑數有力，乃為病脈相應，謂之可治；若細小無力，謂之難醫。（人虛脈弱者，主扶元氣，兼解邪熱，不可峻攻。）治表證在者，治例與溫病同。若夾暑、夾內傷生冷、飲食停滯，隨證施治之。中暑與熱病外證相似，但熱病者脈盛，中暑者脈虛，以此別之。《甲乙經》云：脈盛身寒，得之傷寒；脈虛身熱，得之傷暑。蓋寒傷形而不傷氣，所以脈盛；熱傷氣而不傷形，所以脈虛。（此辨暑、熱，有暴感、伏氣，而脈之盛虛異焉。）暑、　皆脈虛，面垢自汗煩渴。靜而熱傷心脾為中暑，與夏熱病相似，但熱病脈洪緊，中暑脈細數而沉。動而熱傷太陽為中　，脈浮似夏傷風，但汗出惡風，身熱而不渴者，傷風也。身熱而渴者，中　也。（後人所謂中暑，多指夏月陰證而言。）夏月有四證：傷寒傷風，脈證互見；中暑熱病，疑似難明。若脈緊惡寒，謂之傷寒；脈緩惡風，謂之傷風；脈盛壯熱，謂之熱病；脈虛身熱，謂之傷暑。以此別之也。</p>
<p>熱病一二日，瀉利腹滿熱甚者死。</p>
<p>三四日，目昏譫語，熱甚脈小者死。</p>
<p>五六日，舌本焦黑，燥渴者死。</p>
<p>七八日，衄血吐血下血，燥熱脈大者死。</p>
<p>八九日，發痙兼昏沉者死。</p>
<p>凡熱病脈，促、結、伏、沉、小，皆難治。熱不得汗，脈躁急，亦難治。已得汗，而熱反盛，脈躁急者死也。</p>
<h4>四、暑病辨脈</h4>
<p>仲景曰：傷暑脈虛。又曰：脈虛身熱，得之傷暑。《脈訣》曰：暑傷於氣，所以脈虛，弦細芤遲，體狀無余。《三因》曰：中暑之脈，陽弱陰虛，微遲似芤。《本事》曰：暑脈弦細芤遲。何也？蓋寒傷形，熱傷氣，氣傷則氣消，而脈虛弱，所以弦細芤遲。皆虛脈也。《正傳》曰：暑脈虛而微弱，或浮大而散，或隱而不見。夫微弱隱伏，皆虛類也。《活人書》曰：中暑與熱病相似，但熱病脈盛，中暑脈虛，以此辨之。張鳳逵曰：（《脈理論》）劉復真云：暑脈虛而微弱，按之無力，又脈來隱伏，弦細芤遲，皆暑脈也。脈虛身熱，得之傷暑。中　脈虛而微者是也。寒病傳經，故脈日變；溫熱不傳經，故不變。寒病浮洪有力易治，芤細無力難治，無脈不治；溫熱不然。溫有一二部無脈者，暑熱有三四部無脈者，被火所逼而伏，非絕無也，於病無妨，攻之亦易，照經用辛寒，火散脈起病愈矣。蓋溫熱病發，在一二經，始終在此，更不傳遞別經者，其一二經或洪數，則別經弱且伏，依經絡調之，伏者起，洪者平，乃愈征也。（鰲按：此篇言熱病，即指暑病而言，非謂伏寒夏發之熱病也。）</p>
<h4>五、濕病辨脈</h4>
<p>脈沉而緩，沉而細，微緩者，皆中濕。脈浮風濕；脈浮虛而澀者，寒濕；脈來滑疾，身熱、煩喘、胸滿、口燥、發黃者，濕熱；脈洪而緩，陰陽兩虛，濕熱自甚；脈洪而動，濕熱為痛也；脈浮而緩，濕在表也；脈沉而緩，濕在裡也；或弦而緩，或緩而浮，皆風濕相搏也。</p>
<h4>六、燥病辨脈</h4>
<p>脈緊而澀，（燥金主於收斂，其脈緊澀。）或浮而弦，或芤而虛。又脈弦風燥也。脈洪熱燥也。脈緩土燥也。脈澀血燥也。脈遲寒燥也。</p>
<h3>第四章‧分症</h3>
<h4>一、春溫</h4>
<p>雷少逸曰：經謂冬傷於寒，春必病溫，是訓人有伏氣之為病也。夫冬傷於寒，甚者即病，則為傷寒；微者即不病，其氣伏藏於肌膚，或伏藏於少陰，至春陽氣開泄，忽因外邪乘之，觸動伏氣乃發。又不因外邪而觸發者，偶亦有之。其藏肌膚者，都是冬令勞苦動作汗出之人；其藏少陰者，都是冬不藏精腎臟內虧之輩。此即古人所謂最虛之處，便是容邪之處。何劉松峰、陳平伯諸公，皆謂並無伏氣？悖經之罪。其可逭乎？又曰：嘗讀介賓之書，謂溫病即傷寒。又可之書，謂溫病即瘟疫。殊不知傷寒乃感冬時之寒邪，瘟疫仍感天地之厲氣，較之伏氣溫病，大相徑庭，豈可同日而語哉？推溫病之原，究因冬受寒氣，伏而不發，又化為熱，必待來年春分之後，天令溫暖，陽氣弛張，伏氣自內而動，一達於外，表裡皆熱也。其證口渴引飲，不惡寒而惡熱，脈形愈按愈盛者是也。此病表無風寒，不宜辛散，切忌辛溫辛涼之法。若誤散之，則變證蜂起矣。如初起無汗者，只宜清涼透邪法；有汗者，清熱保津法；如脈象洪大而數，壯熱譫語，此熱在三焦也，宜以清涼蕩熱法；倘脈沉實，而有口渴譫語，舌苔干燥，此熱在胃腑也，宜用潤下救津法。凡溫病最戒辛溫發汗，汗之則狂言脈躁，不可治也。然大熱無汗則死；得汗後而反熱，脈躁盛者亦死；又有大熱，脈反細小，手足逆冷者亦死；或見痙搐昏亂，脈來促結沉代者皆死。醫者不可不知。</p>
<p>程曦曰：推松峰與平伯，皆謂並無伏氣，有由來也，一執《云笈七藏》冬傷於汗之句，一執錢氏冬傷寒水之臟之文。</p>
<p>殊不知兩家只顧一面文章，全罔顧春傷、夏傷、秋傷之訓作何等解。思二先生天資高邁，亦受其蒙，不正其訛，反助其說，毋怪後之醫者，統稱暴感，恣用發散，羌、防、麻、桂，逼汗劫津，誤人性命，固所不免，此不得不歸咎於作俑之人也。</p>
<p>陳蓮舫曰：汗出則腠理疏，寒邪即因汗而入，則仍是冬傷於寒也，何必改寒為汗哉？</p>
<p>《金鑒》曰：《內經》言熱病皆傷寒之類也，非謂類乎傷寒，乃謂與傷寒同乎一類之病也。蓋傷寒因傷時令之寒而得名也，溫病熱病亦隨時而易其名耳。經曰：冬傷於寒，則為病熱。此即時而病者也。經曰：冬傷於寒，春必病溫。此過時而病者也。經曰：凡病傷寒而成溫者，先夏至為病溫，後夏至為病暑。暑即熱之謂也，此隨時而病者也。是則秋分以前，皆得以熱病名之；秋分以後，皆得以傷寒名之矣。此軒岐、仲景立傷寒、溫病、熱病之名義也。《經》又云：藏於精者，春不病溫，此明過時不病之原也；經曰：冬不藏精，春必病溫。此明過時必病之故也。於此可知傷寒為病，不在精之藏與不藏，而但有觸犯即得為病，非若溫病熱病，藏精則不病，不藏精則必病也。但能藏精者，縱偶感於邪，或溫或暑，其病自輕；不藏精者，雖微感其邪，或溫或暑，其病必重，差為稍異耳。若專以冬不藏精，毫無外感，為少陰本病，熱從內生，則悖仲景溫病之旨矣。仲景論中，但言太陽初病，發熱而渴，不惡寒者，為溫病，辨其非傷寒，非謂太陽之寒不由表入，竟從少陰之熱內生為病也。</p>
<p>又曰：所謂伏氣之病，即四時令氣正病，非四時不正之邪，與非常異氣之疫邪也。所為伏氣者，如感冬令之風寒，其重者傷於營衛，即時而發者，名為中風、傷寒是也；其感之輕者，伏藏於肌膚，過時而發，名為溫病是也。故時氣伏氣之為病，二者不可不辨焉。</p>
<p>楊如侯曰：仲景著《傷寒論》，提出溫病與風寒鼎峙而立，實三大綱也。細玩仲景文法，已於傷寒中風之外，示人以辨別溫病之法。曰發熱，是指明邪在肌肉也；曰不惡寒，是指明邪不在皮毛也；曰口渴，即是指明熱自內發。因冬月感寒不即病，至春變而為溫，既變以後，寒已化熱，不得復言為寒矣。仲景因自解之曰此為溫病。凡是熱由內發者，皆以為溫病三字括之矣。此溫熱之真面目，不由外至者也。就仲景文法細玩之，已將溫病之來歷露出，而其示人以異於傷寒中風之處，皆在言外。</p>
<p>周禹載曰：溫病無陰陽之分，故病惟有陽而無陰，藥必用寒而遠熱。</p>
<p>柯韻伯曰：凡病傷寒而成溫者，雖由於冬時之傷寒，而根實種於其人之鬱火。</p>
<p>又曰：肝膽為發溫之源，陽明為成溫之藪。</p>
<p>楊栗山曰：風寒之邪，始中太陽者十八九；溫病之邪，直行中道，而起陽明者十八九。</p>
<p>又曰：傷寒自表傳裡，裡證皆表證侵入於內也；溫病由裡達表，表證皆裡證浮越於外也。又曰：溫病與傷寒，雖曰不同，而或清或攻，後一節治法，原無大異；惟初病散表，前一節治法，則有天淵之別。</p>
<p>又曰：傷寒一發汗，而外邪即解；溫病一發汗，而裡邪愈熾。麻、桂、青龍，用治傷寒，未有不生者；用治溫病，未有不死者。</p>
<p>雷少逸曰：考諸大家論春溫者，惟嘉言與遠公，精且密矣。嘉言以冬傷於寒，春必病溫，為一例；冬不藏精，春必病溫，又為一例；既傷於寒，且不藏精，至春同時並發，又為一例。舉此三例，以論溫病，而詳其治。遠公所論，都是春月傷風之見證，分出三陽若何證治，三陰若何證治。觀二家之論，可謂明如指掌。然宗嘉言，不合遠公，宗遠公，不合嘉言，反使後人無從執法。其實嘉言之論，遵經訓分為三例，意在伏氣；遠公之論，皆系傷風見證，意在新感。總之，春溫之病，因於冬受微寒，伏於肌膚而不即發；或因冬不藏精，伏於少陰而不即發；皆待來春加感外寒，觸動伏氣乃發焉。即《經》所謂冬傷於寒，春必病溫，冬不藏精，春必病溫是也。其初起之證，頭身皆痛，寒熱無汗，咳嗽口渴，舌苔浮白，脈息舉之有餘，或弦或緊，尋之或滑或數，此宜辛溫解表法為先；倘或舌苔化燥，或黃或焦，是溫熱已抵於胃，即用涼解裡熱法；如舌絳齒燥，譫語神昏，是溫熱深踞陽明營分，即宜清熱解毒法，以保其津液也；如有手足　，脈來弦數，是為熱極生風，即宜祛熱息風法；如或昏　不知人，不語如尸厥，此邪竄入心包，即宜祛熱宣竅法。春溫變幻，不一而足，務在臨機應變可也。</p>
<p>陳蓮舫曰：此因新感之寒邪，觸動伏氣而病春溫也。春溫初起，寒熱無汗，此表有寒邪也。故可用辛溫解表法。否則切忌溫散，幸勿嘗試，以傷其津液。春溫變證可畏，治之者，當慎於初病之時。</p>
<p>楊如侯曰：太陰之為病，脈不緩不緊而動數，或兩寸獨大，尺膚熱，頭痛，身熱，口渴，午後熱甚，名曰溫病。如惡寒無汗，此系春月因寒觸動伏氣而發也。如惡風，或不惡風，自汗咳嗽，此系春月因風觸動伏氣而發也。仲景論溫病屬之太陽者，指伏氣而言。謂冬傷於寒，寒邪伏於少陰，迨至來春，寒化為熱，由裡達表，而浮越於太陽也。後人論溫病屬之太陰者，指新邪引動伏氣而言；謂溫邪由口鼻而入，自上而下，鼻通於肺，凡病溫者，始於上焦，在手太陰也。</p>
<p>故曰：太陰之為病，脈不緩不緊而動數。脈不緩，則知非太陽中風矣；脈不緊，則知非太陽傷寒矣。然頭痛身熱微惡風寒，猶有與傷寒中風相混之處，於何辨之？於脈動數，口渴，尺膚熱，午後熱甚辨之。蓋冬月伏寒，至春已變為溫；或因春感於寒，觸發裡氣而病焉；或因春感於風，觸發裡氣而病焉。此乃新邪引動伏邪，新邪在表，伏邪在裡，必先辛涼以解表邪，繼進苦寒以清裡熱。不得認為風寒，而恣用辛溫，以煽其火，而助之焰也。</p>
<p>楊如侯曰：頭痛、惡寒、發熱、喘促、鼻塞、身重、脈浮、無汗，此春月時行病也。一曰春溫。此屬於春月之暴感者，既系暴感，原可表散，但春令溫舒，辛溫須當少用，陽經表藥，最忌混亂。況口鼻吸入之邪，直行中道，未必恰在足太陽經矣。雖因外邪，亦是表中之裡，設徒發散陽經，雖汗不解，日期多延，病變叢生，不可不慎也。</p>
<p>葉天士曰：春月暴暖忽冷，先受溫邪，繼為冷束，咳嗽痰喘為多。</p>
<p>何廉臣曰：春溫兼寒，往往新感多，伏氣少，每由春令天氣過暖，吸受溫邪，先伏於肺，猝感暴寒而發，葉先生所謂溫邪上受，首先犯肺是也。其證初起，頭痛、身熱、微惡寒，而無汗。</p>
<p>宋愛人曰：春溫之發源，由於皮毛啟閉不慎，驟然感受寒暖空氣，使皮毛起有回應作用者。其所以然，乃因冬月嚴寒，毛孔汗腺，不期然而然的自會緊張，以防御外寒之侵襲，保守體內果有之體溫；惟一至春氣轉動，氣候乍冷乍暖，冷則毛孔閉，暖則毛孔開，熱則汗腺輕啟，調節體溫，此是人類自然的良知良能。惟是冬寒未消，春暖忽至，於此乍冷乍暖之時，其有毛孔啟閉，倏忽之間，不易應付豫如，故空氣之乍冷乍暖，均足以致毛孔啟閉不靈，而為形寒發熱等證也。但此種病理，完全由於感冒性，故為病猶輕，惟亦有因此感冒而引動本有伏邪者，為病亦重。</p>
<p>謝利恆曰：邪從口鼻而入，初起發熱頭昏，口燥肢軟，嘔惡胸滿，舌微白苔而兼淡黃者，宜芳香解穢，用淡豉、蘇梗、藿香、薄荷、鬱金、橘紅、甘草、桔梗、通草之屬，用鮮薑汁少許為引；兼暑濕者，加滑石、香薷；咽喉不利者，加牛蒡子。邪從皮毛而入，初起發熱頭昏，口燥肢軟，脈浮滑，舌淡微苔者，宜辛涼透表，用蘇梗、薄荷、杏仁、桑葉、甘草、桔梗、橘紅、豆卷、通草之屬；兼暑濕及咽喉不利者，治同上。</p>
<h4>二、風溫</h4>
<p>雷少逸曰：風溫之病，發於當春厥陰風木行令之時，少陰君火初交之際。陳平伯謂：春月冬季居多，春月風邪用事，冬初氣暖多風，風溫之病，多見於此。其實大為不然，不知冬月有熱、渴、咳嗽等證，便是冬溫，豈可以風溫名之？即按六氣而論，冬令如有風溫，亦在大寒一節，冬初二字，大為不妥。推風溫為病之原，與春溫仿佛，亦由冬令受寒，當時未發。腎虛之體，其氣伏藏於少陰；勞苦之人，伏藏於肌腠。必待來春，感受乎風，觸動伏氣而發也。其證頭痛惡風，身熱自汗，咳嗽口渴，舌苔微白，脈浮而數者，當用辛涼解表法。倘或舌絳苔黃，神昏譫語，以及手足螈　等證之變，皆可仿春溫變證之法治之。</p>
<p>又或問曰：因寒觸動伏氣為春溫，初起惡寒無汗；因風觸動為風溫，初起惡風有汗。二病自是兩途，豈可仿前治法？答曰：新感之邪雖殊，伏藏之氣則一，是故種種變證，可同一治。必須辨其孰為勞苦之輩，孰為冬不藏精之人，最為切要。試觀病勢由漸而加，其因於勞苦者可知；一病津液即傷，變證疊出，其因於冬不藏精者又可知。凡有一切溫熱，總宜刻刻顧其津液。在陰虛者，更兼滋補為要耳。</p>
<p>又問曰：風溫之病，曷不遵仲景之訓為圭臬，今觀是論，並未有脈陰陽俱浮，自汗出，身重多眠睡、鼻息必鼾，語言難出等證，豈非悖仲景之旨以為醫乎？曰：此仲景論風溫誤治之變證也，非常證也。曰：常證何？曰：太陽病發熱而渴，不惡寒者為溫病，此常證也。</p>
<p>又問曰：平伯論風溫十二條，總稱暴感時氣，肺胃為病。鞠通雜於諸溫條中，分治三焦。誠問以平伯為然，抑亦以鞠通為然？曰：總宜遵《內經》冬傷於寒，春必病溫之論。庶乎宜古宜今。見肺胃之證，即為肺胃之病，見三焦之證，即為三焦之病，弗宜印定可也。</p>
<p>又問曰：春溫風溫，皆有伏氣為病，今時醫每逢春令見有寒熱咳嗽，並無口渴之證，便言風溫可乎？曰：可。蓋春令之風，從東方而來，乃解凍之溫風也，謂風溫者，未嘗不可耳。其初起治法，仍不出辛涼解表之范圍也。</p>
<p>陳蓮舫曰：冬初即病，便是冬溫，何得因氣暖多風，謂為風溫之病乎？又曰：風為陽邪，初起即有汗，與春溫有表寒者不同，故不用辛溫解表，而即用辛涼也。否則，變證百出矣。</p>
<p>又曰：勞苦者，邪在表而裡不虛也；精不藏者，邪入而裡已虛也。故當細辨其病因。</p>
<p>又曰：仲景之訓，不過設言一風溫病狀，以例其余耳，若膠執論中之言，是守經而不能通變也。</p>
<p>又曰：時醫能不用溫散之劑，如羌、防、麻、桂等藥，從溫字上著想，已屬高明。</p>
<p>楊如侯曰：太陽病，發熱而渴，不惡寒，為溫病；若發汗已，身灼熱者，曰風溫，風溫為病，脈陰陽俱浮，自汗出，身重多眠睡，鼻息必鼾，語言難出。若被下者，小便不利，直視失溲；若被火者，微發黃色，劇則如驚癇，時　；若火熏之，一逆尚引日，再逆促命期。此乃標示溫病誤治變為風溫之提綱也。夫仲景提出溫病，即復申言溫病誤治之變證，曰：若發汗已，身灼熱者，名曰風溫。是仍太陽病溫誤發其汗，與更感於風者自是不同。然亦名風溫何也？既曰太陽，不即顯少陰證。惟誤汗，則其證本溫，復以辛熱之藥汗之，則陰津外出，表裡增熱，脈必尺寸俱浮，正以風與溫混。腎水不能獨沉，其證自汗身重，腎有病也；多眠睡，鼻息鼾，語言難，腎有病也。始先太陽，因汗使少陰之候，同時荐至，危且殆矣。古律垂戒云：風溫治在少陰，不可發汗，發汗者死。豈知太陽亦不可發汗，發汗則亦同於風溫之少陰乎？緣醫者誤認為傷寒，而用正汗藥也。若不發汗而誤下者，傷膀胱之氣化，小便不利，津液大傷，直視失溲，一臟一腑，同時兩絕矣。至誤被火劫者，則熱傷營氣，而熱瘀發黃，劇則熱甚風生，而驚癇　，蓋因亂其神明，擾其筋脈也。然則於三者之中，一逆已待斃，再犯則立危矣。</p>
<p>方中行曰：風溫，謂於溫有風也。</p>
<p>陳平伯曰：風溫為病，脈陰陽俱浮，自汗出，身重，多眠睡，鼻息必鼾，語言難出，凡此皆誤汗劫液後變見之證，非溫病固有此證也。</p>
<p>王孟英曰：冬溫、春溫之先犯手太陰者，皆曰風溫，乃吸受之溫風也。此伏邪內發，誤汗致逆者，亦曰風溫，乃內動之虛風也。然風溫在肺，只宜清解，若誤以辛熱之藥汗之，亦有自汗多眠鼻鼾難語之變。</p>
<p>楊如侯曰：頭痛，或惡風，或不惡風，身熱煩渴，脈浮數有汗，此春月時行病也。一曰風溫。風溫傳變甚速，劫液傷津，是所大戒，不可不慎也。</p>
<p>喻嘉言曰：春月厥陰風木主事，與時令之溫，不得分而為兩，凡病溫者，皆為風溫之病也。即如初春之時，地氣未上升，無濕之可言也；天氣尚微寒，無毒之可言也；時令正和煦，無疫之可言也；而所以主病者，全系於風。試觀仲景於冬月正病，以寒統之，則春月正病，定當以風統之矣。</p>
<p>葉天士曰：風溫者，春月受風，其氣已溫。《經》謂春氣病在頭，治在上焦。肺位最高，邪必先傷，故手太陰氣分先病。失治則入手厥陰心包絡，血分亦傷。故足經順傳，如足太陽傳陽明，人皆知之；肺病失治，逆傳心包絡，人多不知。醫見身熱咳嗽，不知肺病在上之旨，妄投羌、防、柴、葛，輒云解肌；或見痞悶，便用大黃，大便數行，上熱愈結，表裡苦辛化燥，胃汁大傷，致多變矣。</p>
<p>凌嘉六曰：春溫者，伏氣也；風溫者，發汗已，而灼熱者也。古人論之詳矣。近有感冒春之溫氣，隨感而發，其邪每有口鼻吸受，先傷肺衛，肺中邪鬱，必從熱化，脈數發熱，或肺痹咳嗽，或胸滿煩渴，或氣窒不舒，外寒如戰栗；或邪鬱不宣，二便不爽利,皆溫邪鬱蒸，時證現象，今人亦謂之春溫，又謂之風溫，此隨俗命名，而治法亦不必泥執古方也。凡遇此證，用藥總以辛涼輕劑清理肺胃為主，加梔子、淡豆豉、連翹、黃芩、杏仁、桔梗、薄荷、蘇梗、牛蒡子、玄參、馬勃、知母、天花粉、橘紅、枳殼、桑葉、竹茹、貝母、石斛、茯苓、米仁、冬瓜子、蘆根、竹葉、枇杷葉、燈心、通草、甜白梨等輕藥，皆可選用。初起證輕，施治如是。然肺熱每易及胃，溫邪不解，必劫爍津液。或口糜，或舌絳，或骨節疼痛，或口渴引飲，或夜煩不寐，是氣分熱熾矣。當於上之辛涼藥中，加入石膏、生地、知母、丹皮、滑石、生甘草、寒水石、黃連、阿膠等藥，以育陰退熱。或熱邪傳入心包，脈數，舌絳，唇焦，鼻煤，耳聾者，此溫邪已入營分，當用犀角、鮮生地、玄參、連翹、羚羊角、丹皮、川貝母、竹卷心、石菖蒲。佐以知母、赤芍、鮮石斛、天花粉、蘆根、白茅根、銀花露、方諸水、金汁、竹瀝、野薔薇等藥，以清解營分伏熱。若神昏譫語者，再沖入至寶丹。是治時證之大略也。然而溫邪吸入，每易由肺直走膜原，以致五、六日以外，不大便，而舌絳苔焦，如熱邪陷入心包之象，則但憑其舌苔或黃、或焦，或黑，是陽明胃實下證，非熱邪陷入心包也，可與承氣湯下之；虛羸老年，用大黃露穩當。是時即有抽掣　、神昏譫語現象，亦急下之。下後無他證，則以沙參、麥冬、石斛、川貝母、茯神、甜白梨等類，以清養胃液，自然見效。凡下之後，不可即補，補則恐其復結也。或下後熱仍不解，然後以犀角、生地、至寶丹之類，清涼解毒，必能獲安。或心液熱傷，驚悸不安者，以辰砂染麥冬、茯神、燈心、石決明、石斛、川貝、竹心等藥，養液安神。</p>
<p>若舌苔濃白，中有灰色，舌尖舌邊色暗不鮮，此又是濕溫之邪，伏於膜原也。脈必細澀不數，而口渴便秘，雖轉矢氣，胸不滿痛，當用達原飲加減，宣達其伏邪。倘病經日久，正氣衰者，除去檳榔、厚朴，以羚羊角、僵蠶、土貝母、生草果、生甘草、滑石、鉤藤、青蒿、黃芩、知母、木通、通草、石菖蒲、佩蘭葉等類，出入用之。凡此皆治時證之大綱，而細目不止於此，全在臨證者留心加察焉。</p>
<p>陳平伯曰：風邪屬陽，陽邪從陽，必傷衛氣。人身之中，肺主衛，又胃為衛之本，是以風溫外薄，肺胃內應，風溫內襲，肺胃受病。其溫邪之內外有異形，而肺胃之專司無二致，故惡風為或有之證，而熱渴咳嗽為必有之證也。</p>
<p>又曰：風溫為燥熱之邪，燥令從金化，燥熱歸陽明，故肺胃為溫邪必犯之地。</p>
<p>又曰：風溫為燥熱之病，燥則傷陰，熱則傷津，泄熱和陰，為風溫一定之治法。</p>
<h4>三、熱病</h4>
<p>雷少逸曰：《金鑒》云：經曰：冬傷於寒，春必病溫，至夏為熱病。熱病者，乃冬傷正令之微寒，未即病也。倪氏謂：交立夏以來，久伏之氣，隨時令之熱而觸發，故初病即發熱汗出，口渴心煩，不惡寒，而反惡熱，脈來脈大之象，是為熱病也。《醫通》曰：邪非外來，故但熱而不惡寒；熱自內發，故口燥渴而多引飲。其邪既郁為熱，不得復言為寒。</p>
<p>合而觀之，熱病因伏氣者了然。然較晚發更發於晚，比諸溫更伏於深。初起之時，宜用清涼透邪法。熱勢不衰，繼用清涼蕩熱法。倘有惡寒相兼，脈象舉取浮緊，是有夏時暴寒所加，寒在外而熱在裡，先用辛溫解表法，以透其外；外邪得透，再用清涼之劑，以蕩其裡熱也。設無浮緊之脈，又無惡寒之證，誤用辛溫之方，耗傷津液者，宜用清熱保津法，加西洋參、石膏治之。倘或兼之惡風，微微汗出，脈象舉取浮緩，此表有風邪所加，風在外而熱在裡，當用辛涼解表法，先解其外也。至於舌苔化燥，譫語昏狂，急用清涼蕩熱法，加紫雪丹治之。發斑者，加黃連、梔子；發疹者，加荷葉、牛蒡。須知熱病最易傷陰，當刻刻保陰為要，辛溫劫液之劑，勿浪用也。</p>
<p>楊如侯曰：夏至以後，炎暑司令，相火用事，人有發熱身疼不惡寒，但大熱而大渴者，為熱病。《內經‧熱論》曰：凡傷寒而成溫者，先夏至為病溫，後夏至為病暑。暑病即熱病也。夏至以前，氣候不熱，為春之暖，故病發猶名曰溫。</p>
<p>溫者，熱之漸也。及夏至以後，氣候漸熱，為夏之暑，故病發則名曰熱。《傷寒序例》云：暑病者，熱極重於溫。是暑病實熱病也。伏氣鬱久而後發，發即大熱大渴，仲景立白虎湯，實治熱病之主方也。熱病由下發上，由內發外，必經陽明，故無論三陽，總以石膏之辛涼，乘勢升散，知母之苦寒，靖少陰伏邪之源，甘草、粳米，維持中氣。為一了百當。</p>
<p>楊上善曰：冬傷於寒，輕者，夏至以前，發為溫病；重者，夏至以後，發為暑病。</p>
<p>沈宗淦曰：此言其常也。然春時亦有熱病，夏日亦有溫病。溫，熱之輕者也；熱，溫之重者也。故古人往往互稱。</p>
<p>楊如侯曰：夏日熱病，因外感而發者，不外二端。一因外感風寒而發，一因外感暑　而發。其因風寒而發者，脈必浮緊，蓋風脈浮，寒脈緊也。熱病之脈者洪大，若見浮緊，可知其夏日之傷於風寒。若輕舉之，脈見浮緊，略按之，脈仍洪盛，即可知其新感風寒之邪，外束於表，而內伏之熱，已發於裡矣。至因暑　而發者，則病勢之來，尤速且劇。蓋風寒之邪，從皮膚入，由外入內，勢猶較緩；暑　之邪，從口鼻入，直行中道，內外熱邪交煽，匪由肺逆傳心包，即歸並胃腑，此譫語遺溺等證，所由來也。醫者對此二因宜明辨之。</p>
<p>周禹載曰：熱病之脈本洪大，若兼浮緊，是又感夏時暴寒。</p>
<p>又曰：凡溫病之發，因暴寒者居多；熱病之發，兼暑　者為盛。</p>
<h4>四、暑病</h4>
<p>雷少逸曰：冒暑者，偶然感冒暑邪，較傷暑之證稍為輕淺耳。夫暑熱之邪初冒於肌表者，即有頭暈、寒熱、汗出、咳嗽等證，宜以清涼滌暑法，加杏仁，蔞殼治之。其證雖較傷暑為輕，然失治入裡，此又不可以不知也。如入於肉分者，則周身煩躁，頭脹體燒，或身如針刺，或有赤腫等證，宜以祛暑解毒法治之。如入於腸胃者，則有腹痛水瀉，小便短赤，口渴欲飲，嘔逆等證，宜以增損胃苓法，佐黃連治之。然冒暑之證雖謂為輕，亦必須防微杜漸耳。陳蓮舫曰：夏時冒暑，猶之春令冒風，略用表散即愈。若失治而由表入裡，則變證作矣。</p>
<p>雷少逸曰：長夏傷暑，有陰陽之別焉。夫陰暑之為病，因於天氣炎蒸，納涼於深堂大廈，大扇風車得之者，是靜而得之之陰證也。其脈浮弦有力，或浮緊，頭痛惡寒，身形拘急，肢節疼痛而心煩，肌膚大熱而無汗，此為陰寒所逼，使周身陽氣不得伸越，宜用辛溫解表法，減去防風，益以香薷、藿香治之。嘔逆加茯苓、半夏；便瀉加厚朴、木香。又有陽暑之病，緣於行旅長途，務農田野，烈日下逼得之者，是動而得之之陽證也。其脈浮洪有力，或洪數，面垢喘咳，壯熱心煩，口渴欲飲，蒸蒸自汗，此為炎熱所蒸，使周身中外皆熱，宜以清涼滌暑法，去扁豆、通草，加石膏、洋參治之。</p>
<p>嘔逆加竹茹、黃連；便瀉加葛根、荷葉。更宜審其體實體虛而藥之，自無不當耳。</p>
<p>張介賓曰：陰暑證，或在於表，或在於裡，惟富貴安逸之人多有之。總由恣情任性，不慎風寒所致也。陽暑證，惟辛苦勞役之人多有之，由乎觸冒暑熱，有勢所不容已也。然暑熱逼人者，畏而可避，可避則犯之者少；陰寒襲人者，快而莫知，莫知則犯之者多。故凡有病暑者，陽暑多不見，而陰暑居其八九。今之人治暑者，但見發熱頭痛等證，則必曰此中暑也，而所用無非寒涼，其不達也亦甚矣。</p>
<p>江誠曰：介賓先生謂陰暑多於陽暑，最為確切。今人治暑不別陰陽，一見發燒，遂投涼藥，若此貿貿，則害人匪淺矣。</p>
<p>王安道曰：暑熱之氣一也，皆夏月中傷其邪而為病，豈以一暑熱分為陰陽二證而名之邪？其避暑於深堂大廈，及恣食藏冰瓜果寒涼之物，正《經》所謂口得寒物，身犯寒氣之病，自當同秋冬即病陰證傷寒處治，不可名為中暑也。</p>
<p>沈堯封曰：暑也、熱也、　也，皆夏令一氣之名也。後人不察，妄騰口說，其實與病情無涉，於醫理反混淆也。</p>
<p>楊如侯曰：頭痛惡寒，身形拘急，肢體疼痛，心煩，肌膚大熱無汗，此暑月為寒所傷也。頭痛發燥熱，肌膚大熱，大渴引飲，汗大泄，無氣以動，此暑月為熱所傷也。《經》云：炎火太過，炎暑流行，是暑即火也，熱也。後人以靜而得之為中暑，動而得之為中熱，將暑、熱分為陰陽二證，命名與古義不合。甚有立陰暑陽暑之名者，亦屬徒亂人意。此以暑月傷寒，暑月傷熱別之。</p>
<p>雷少逸曰：潔古云：靜而得之為中暑。東垣云：避暑乘涼得之者，名曰中暑。其實二說，皆是陰暑之證，而無中字情形，似不可以中暑名之。考中暑即系中　，中　之證，可以不必另分。蓋中暑忽然而發，如矢石之中人也，不似傷暑，初則寒熱無汗，或壯熱蒸汗之可比。是病忽然悶倒，昏不知人，軀熱汗微，氣喘不語，牙關微緊，亦或口開，狀若中風，但無口眼　斜之別。其脈洪濡，或滑而數，緣其人不辭勞苦，赤日中行，酷暑之氣鼓動其痰，痰阻心包所致，宜清暑開痰法治之。如果手足厥冷，名曰暑厥。宜蘇合香丸化開灌之；或以來復丹研末，白湯灌之；或以蒜水灌之；或剝蒜肉入鼻中。皆取其通竅也。俟其人事稍蘇，繼進祛暑調元法為治。</p>
<p>楊如侯曰：太陽中熱者，　是也，其人汗也惡寒、身熱而渴也。《素問》在天為熱，在地為火。熱者，火之氣也，故熱乃五氣之一，而熱病即傷寒有五之一。《傷寒論》以《難經》熱字恐與下文溫字相混，故特出曰　是也。感烈日之氣而病，即《經》所謂在天為熱，在地為火，其性為暑也。故暑字從日，曰炎暑，曰酷暑，皆指烈日之氣而言也。古人曰暑、曰熱、曰　，其義一也。或曰　是陽邪，暑是陰邪。土潤溽暑，熱兼濕言也。似與　有異。不知寒暑本是對待之名詞，暑非專言熱而何？若濕熱並至之病，《難經》名曰濕溫，不名為暑，自隋唐後皆指濕熱為暑，於是暑之名失，而之名更不知為何病矣。</p>
<p>王安道曰：暑熱者，夏之令也。大行於天地之間，人受傷而為病，名曰中暑，亦曰中熱，一也。</p>
<p>趙以德曰：汗出惡寒，身熱而不渴者，中風也；渴者，中　也。</p>
<p>周禹載曰：冬月有寒，則能傷人，名中寒；夏月有熱，亦能傷人，名中熱。此外來之熱，故曰中，非即伏寒發出，夏必病熱之熱也。</p>
<p>葉天士曰：熱地如爐，傷人最易。</p>
<p>楊如侯曰：兩脛逆冷，胸滿，頭目痛，妄言多汗，此先傷於濕，又中於暑，濕得暑邪，遏抑陽氣而病也。頭痛，妄言，多汗，脈陽濡而弱，陰小而急，此先受暑，後受濕，暑挾濕邪，鬱蒸為熱而病也。朱南陽、許學士，均名為濕溫。</p>
<p>雷少逸以濕溫當以夏末秋初為界限，方與《內經》秋傷於濕之訓不相齟齬，亦與四時之氣，大暑至白露，濕土用事，若合符節。茲於上所列二證，病在夏月，故不以濕溫名，而以暑濕稱之。</p>
<p>周禹載曰：濕病緩，暑病速。</p>
<p>沈堯封曰：《難經》所謂濕溫，指濕熱並至之病，不名為暑。</p>
<h4>五、伏暑</h4>
<p>楊如侯曰：冬月頭痛，微惡寒，面赤煩渴，舌白，脈濡而數，此冬月觸動伏暑之邪而病者也。按雖在冬月，獨太陰伏暑，不得誤作傷寒。蓋頭痛惡寒，內傷寒無異，而面赤煩渴，則非傷寒矣。然猶似傷寒陽明證，至脈濡而數，則斷非傷寒矣。蓋寒脈緊，風脈緩，暑脈弱。濡則弱之象，弱則濡之體也。濡即離中虛，火之象也；緊即坎中滿，水之象也。</p>
<p>火之性熱，水之性寒，象各不同，性則各異。故曰：雖在冬月，定非傷寒，而為伏暑也。冬月猶為伏暑，秋日可知。伏暑之與傷寒，猶男女之別，一則外實中虛，一則外虛中實，安得混而同之。</p>
<p>又曰：伏暑有九似：頭疼壯熱似傷寒；往來寒熱似瘧疾；翻胃吐食似膈氣；大便下血似腸風；小便不利似淋瀝；飲食無度似消渴；四肢困倦似虛癆；眼睛黃赤似酒疸；遍身黃腫似食黃，皆伏暑變象也。</p>
<p>雷少逸曰：伏天所受之暑者，其邪盛，患於當時；其邪微，發於秋後。時賢謂秋時晚發，即伏暑之病也。是時涼風颯颯，侵襲肌膚，新邪欲入，伏氣欲出，以致寒熱如瘧。或微寒，或微熱，不能如瘧釐清。其脈必滯，其舌必膩，脘痞氣塞，渴悶煩冤，每到午後則甚，入暮更劇，熱至天明得汗，則諸恙稍緩，日日如是，必要二三候外，方得全解。倘調理非法，不治者甚多。不比風寒之邪，一汗而解；溫熱之氣，投涼則安。擬用清宣溫化法，使其氣分開，則新邪先解，而伏氣亦隨解也。然是證變易為多，其初起如瘧，先服清宣溫化法，倘畏寒已解，獨發熱淹綿，可加蘆、竹、連翹，本法內之半夏、陳皮，乃可刪去，恐其溫燥之品，傷津液也。其舌苔本膩，倘漸黃、漸燥、漸黑、漸焦，是伏暑之熱，已傷其陰，於本法內，可加洋參、麥冬、玄參、細地治之。倘神色昏蒙者，是邪逼近心包，益元散、紫雪丹，量其證之輕重而用。倘壯熱舌焦，神昏譫語，脈實不虛，是邪熱歸並陽明，宜用潤下救津法治之。如年壯體強，以生軍易熟軍，更為有力。種種變證，務在臨證之時，細審病之新久，體之虛實，按法用之，庶無差忒耳。</p>
<p>又或問曰：曾見禹載書中論伏暑，謂三伏之時，以書晒曝烈日之中，隨即收藏於笥，火氣未散，冬時啟笥，觸之遂病。今是論中全未言及，得毋遺漏乎？答曰：子誠刻舟求劍也。此不過偶一有之之證。若此論之，則伏暑之證，專病晒書之家，而無書晒者則不病；專病在冬，而三秋則不病。可發一笑。</p>
<h4>六、濕溫</h4>
<p>楊如候曰：身熱有汗，舌苔黃而滑，煩渴溺赤，脈洪數，此濕熱也。頭痛惡寒，身重疼痛，汗出，胸滿不飢，舌苔黃或白，口渴不引飲，脈弦細而濡，面色淡黃，午後身熱，狀若陰虛，病難速已，此濕溫也。遍身拘急而痛，不能轉側，近之則痛劇，頭汗出，脈緩近遲，小便清白，此寒濕也。蓋夏末秋初，濕土主氣，余暑猶熾，新涼又加，其時暑濕寒三氣最為混雜，有感之而成濕熱者，有感之而成濕溫者，有感之而成寒濕者。寒濕可以溫解，濕熱可以清通，惟濕溫不寒不熱，最為難治。其性黏膩，故病難速已。世醫不知為濕溫，見其頭痛惡寒，身重疼痛也，以為傷寒而汗之，則濕感辛溫發表之藥，蒸騰上逆，蒙蔽內外諸竅，有神昏、耳聾、目瞑、不欲言者矣；見其胸滿不飢，以為停滯而下之，則脾陽下陷，濕邪乘勢內潰，有洞泄不已者矣；見其午後身熱，以為陰虛，而用柔藥潤之，濕為膏滯陰邪，再加柔潤陰藥，遂有錮結不可解之勢矣。蓋濕溫較諸溫，勢雖緩而實重。上焦最少，病勢不甚顯張，惟中焦病最多。</p>
<p>朱丹溪曰：六氣之內，濕熱為病，十居八九。</p>
<p>朱南陽曰：濕溫與中暑同，但身涼不渴為異。</p>
<p>蔡宗玉曰：身冷自汗，四肢沉重，即系濕溫。</p>
<p>又曰：凡陰病脛冷，兩臂亦冷，濕溫脛冷，臂不冷，非下厥上行，陽微寒厥也。</p>
<p>雷少逸曰：濕溫之病，議論紛紛，後學幾無成法可遵。有言溫病復感乎濕，名曰濕溫，據此而論，是病乃在乎春；有言素傷於濕，因而中暑，暑濕相搏，名曰濕溫，據此而論，是病又在乎夏；有言長夏初秋，濕中生熱，即暑病之偏於濕者，名曰濕溫，據此而論，是病又在乎夏末秋初。細揆三論，論濕溫在夏末秋初者，與《內經》秋傷於濕之訓頗不齟齬，又與四時之氣、大暑至白露，濕土主氣，亦屬符節，當宗夏末秋初為界限也。所有前言溫病復感於濕，蓋溫病在春，當云溫病夾濕；言素傷於濕，因而中暑；暑病在夏，當云中暑夾濕，皆不可以濕溫名之。考其致病之因，良由濕邪踞於氣分，醞釀成溫，尚未化熱，不比寒濕之病辛散可瘳；濕熱之病清利乃解耳。是病之脈，脈無定體，或洪或緩，或伏或細，故難以一定之脈印定眼目也。其證始惡寒，後但熱不寒，汗出胸痞，舌苔白，或黃，口渴不引飲，宜用清宣溫化法，去連翹，加厚朴、豆卷治之。倘頭痛無汗，惡寒身重，有邪在表，宜用宣疏表濕法，加葛、羌、神麯治之。倘口渴自利，是濕流下焦，宜本法內去半夏，加生米仁、澤瀉治之。倘有脛冷腹滿，是濕邪抑遏陽氣，宜用宣陽透伏法，去草果、蜀漆，加陳皮、腹毛治之。如果寒熱似瘧，舌苔白滑，是為邪遏膜原，宜用宣透膜原法治之。如或失治，變為神昏譫語，或笑或痙，是為邪逼心包，營分被擾，宜用祛熱宣竅法，加羚羊、鉤藤、玄參、生地治之。如撮空理線，苔黃起刺，或轉黑色，大便不通，此濕熱化燥，閉結胃腑，宜用潤下救津法，以生軍易熟軍，更加枳殼，庶幾攻下有力耳。倘苔不起刺，不焦黃，此法不可亂投。濕溫之病，變證最多，殊難罄述，宜臨證時活法可也。</p>
<h4>七、燥病</h4>
<p>雷少逸曰：推六氣之中，燥金主氣，自秋分而至立冬，喻嘉言以燥令行於秋分之後，所以謂秋不遽燥，確與氣運相合也。沈目南云：《性理大全》謂燥屬次寒，奈後賢悉謂屬熱，大相徑庭。如盛夏暑熱炎蒸，汗出　，肌肉潮潤而不燥也。深秋燥令氣行，人體肺金應之，肌膚干槁而燥，乃火令無權，故燥屬涼，謂屬熱者非矣。豐細玩之，誠非謬也。</p>
<p>凡治初患之燥氣，當宗屬涼擬法。夫秋燥之氣，始客於表，頭微痛，畏寒，咳嗽，無汗，鼻塞，舌苔白薄者，宜用苦溫平燥法治之。若熱渴有汗，咽喉作痛，是燥之涼氣已化為火，宜本法內除去蘇、荊、桂、芍，加玄參，麥冬、牛蒡、象貝治之。如咳逆胸疼，痰中兼血，是肺絡被燥火所劫，宜用金水相生法，去東參、五味，加西洋參、旱蓮草治之。如諸證一無，惟腹作脹，大便不行，此燥結盤踞於裡，宜用松柏通幽法治之。總而言之，燥氣侵表，病在乎肺；入裡，病在腸胃。其余肝燥，腎燥，血枯虛燥，皆屬內傷之病，茲不立論。</p>
<p>又或問曰：先生遵喻氏《秋燥論》中秋不遽燥，燥氣行於秋分以後之說，殊未見《醫醇剩義》中，論之最詳，又明出喻氏之謬，既謂燥氣行於秋分以後，而秋分以前四十五日，全不關於秋燥矣。故云初秋尚熱，則燥而熱；深秋既涼，則燥而涼。此誠是振聾發　之語，先生曷不遵之為龜鑒耶？答曰：子不知六氣循環，亦疑喻氏之謬，不察大寒至驚蟄，主氣風木；春分至立夏，主氣君火；小滿至小暑，主氣相火；大暑至白露，主氣濕土；秋分至立冬，主氣燥金；小雪至小寒，主氣寒水。此年年之主氣，千古不易。由是而推，則燥金之令，確在乎秋分而至立冬，而秋分以前之白露、處暑、立秋四十五日，猶是濕土主氣，豈可誤為燥金乎！子以為然否？或唯唯而退。</p>
<p>程曦曰：論燥氣者，首推嘉言，其次目南與鞠通也。嘉言論燥，引大《易》水流濕、火就燥、各從其類，乃論燥之復氣也；目南所論燥病屬涼，謂之次寒，乃論燥之勝氣也；至鞠通論燥，有勝氣、復氣，與正化、對化，從本從標之說，可為定論。乃曰：如仲景用麻、桂、薑、附，治寒之勝氣也，治寒之正化也，治寒之本病也；白虎、承氣，治寒之復氣也，治寒之對化也，治寒之標病也。能於此理悟通，則燥氣之勝復、正對、本標，亦皆了然於胸中矣。</p>
<p>江誠曰：人皆知溫為熱，而不知燥為涼，以燥為熱者，蓋因燥字從火之弊耳。試問既以燥為熱，曷不以溫字從水而為寒乎？不知四時之令，由春溫而後夏熱，由秋涼而後冬寒，目南先生引《性理大全》之說，謂燥屬涼，真所謂千載迷津，一朝點破耳。</p>
<p>楊如侯曰：秋燥之為病，右脈數大，頭微痛，畏寒，咳嗽，無汗，此燥從寒化也；發熱口渴，咽喉痛，有汗，此燥從火化也。按六氣之中，燥金主氣，自秋分而至立冬，其有感燥氣而為病者，輕則為燥，重則為寒，化氣為濕，復氣為火。前人有云：六氣之中，惟燥不為病者，非也。彼蓋以《內經》少秋燥一層，故有此議耳。如陽明司天之年，豈遂為無燥金之病乎？大抵春秋二令，氣候較夏冬之偏熱偏寒為平和，其由於冬夏之伏氣為病者多，其由於本氣自病者少；其由於伏氣而病者重，其由於本氣自病者輕。蓋秋燥一證，略如春溫。但正秋之時：有伏暑內發，新涼外加之證；有伏暑兼濕之證；燥有從寒化者，燥有從火化者。此中暑濕燥火，雜氣混淆，辨之不可不詳慎也。</p>
<p>又曰：燥有內外之分。燥由外因者，時值陽明燥令，久晴不雨，黃埃蔽空，令人狂惑，皮膚干枯屑起，此燥由於天氣不正而得之者也；燥由於內因者，七情火燥，或大便不利，亡津，或金石燥血，或房勞竭精，或飢飽勞逸損胃，或炙酒漿濃味，皆能偏助火邪，消爍血液，此燥由於人事不慎而得之者也。</p>
<p>又曰：燥有表裡之別。六氣風熱火屬陽，寒燥濕屬陰。但燥雖屬於秋陰，而反同於風熱。蓋火盛則金被熱傷，以致木無所制而生風，風勝濕，熱傷津，此燥從火化，故反同風熱也。風熱燥甚，怫鬱在表，而裡氣平者，善伸數欠，筋脈拘急，或時惡寒，或筋惕而搐，脈浮數而弦；若風熱燥並郁於其裡，則必為煩滿，必為悶結，故燥有表裡氣血之分也。</p>
<p>以上所述燥證表裡之辨，乃屬於燥從火化者。但燥從火化，亦從寒化。經曰：清氣大來，燥之勝也，風木受邪，肝病生焉，此中風之屬也。蓋燥勝則陰虛，陰虛則血少，所以或為牽引，或為拘急，或為皮腠風消，或為臟腑干結，此燥從陽化，營氣不足，而傷乎內者也，治當以養營補陰為主。若秋令太過，金氣勝而風從之，則肺先受病，此傷風之屬也。蓋風寒外束，氣應皮毛，或為身熱無汗，或為咳嗽喘滿，或鼻塞聲啞，或咽喉干燥，此燥以陰生，衛氣受邪，而傷乎表者也，治當以輕揚溫散之劑，暖肺去寒為主。燥證雖亦外邪之類，然有陰陽。從陽者因於火；從陰者發於寒。熱則傷陰，必連於臟；寒則傷陽，必連於經。此所以有表裡，必須辨明而治之。</p>
<p>又曰：燥化有足與不足之異。燥與濕對，《易》曰：水流濕，火就燥。是燥之與濕有別，濕為水火相交而化者也；燥者水火不交之氣也。火不蒸水，則云雨不生；水不濟火，則露澤不降，而燥於是乎成矣。水不潤，則木氣不滋，而草木黃落；火不蒸，則土氣不發，而膏脈枯竭。究水火之所以不交，則由於金性之收。收止水火，故申曰蓐收。草木枯槁，土泉涸竭，是為燥金用事之驗也。人秉燥金之氣者，為陽明經，屬胃與大腸。胃雖屬土，而以燥為主，故與大腸統稱燥金。金收而水火不交，是為燥，則燥者水火消耗之氣也。腸胃所以化飲食，皆以其燥能消耗之也。（西人言飲食之消化，有種種作用，而亦必有賴於溫度，此即中國之所謂燥氣也。）燥化不足，則不消水，而為嘔吐瀉利，是為燥氣不足之濕病。《內經》陽明司天，燥淫所勝條下，所謂大涼革候，腹中鳴，注泄　溏是也。（《經》旨謂夏秋之交，變炎暑而清涼，腹中鳴，注泄騖溏，寒清於中也。）若燥氣有餘之證，又有寒燥、火燥之迥乎不同。總之，燥是水火不交之耗氣也，故有寒燥，有熱燥。而熱燥尤多，則以火就燥也。</p>
<p>張汝偉曰：秋燥之病，人多忽之。燥上何以必冠秋字，豈一至秋而即燥乎？《內經》有消症，而無燥症；有痿痹之名，而無秋燥之名。燥病之狀，同乎消，而類似痿痹耳。自喻嘉言發明長夏勝於濕，秋傷於燥，改《內經》秋傷於濕之濕字為燥字，立清燥救肺湯一方，而秋燥之症，遂議論紛紛，莫衷一是矣。按《說文》燥者，干也。由干而堅，由堅而果。燥字從火從木，中含兩重火也。故每至由結而枯，則燥之症，於是為尤烈矣。然秋承暑後，中挾濕氣，所以秋分之前所患之症，仍屬濕溫之類，必待至秋分以後，風高氣爽，濕氣已盡，燥氣乃得而乘之。其為狀也，洒洒惡寒，翕翕發熱，乾咳無痰，鼻中火發，甚至下衄，唇枯口燥，咽乾而痛，此為上部之燥，治宜甘涼滋肺，亦猶　物之必以水潤也。</p>
<p>又有一種手足心熱，溲短便堅，每便必血，此肺與大腸相表裡，肺熱移於大腸而為脾約之症，亦秋燥之所致。治宜咸潤下行，使大腸一潤，而營分得通，亦猶咸能潰堅之義也。今試以物喻之，如以極堅硬之鋼鐵，置於咸鹵之中，不半年而鋼鐵剝蝕以盡，是鹽能潰堅，鹽能潤燥之明證也；如以極易腐朽之魚類，浸之以鹽鹵，置以風中吹之，而魚反堅硬矣；人多食咸，則口渴不止，是鹽又能化燥之明證也。人身燥病，第一須分寒燥與濕燥。濕燥如魚雖干硬，中含水質，得熱氣即軟，得風氣即干，用藥即不可偏於甘寒甘潤，宜服微辛微溫之品，《內經》所謂風能燥濕是也；寒燥則氣增而變，完全有火之性，無火之質，故宜甘寒滋降。人能辨此二者，則於治秋燥之理，思過半矣。</p>
<p>楊如侯曰：伏火感冒一證，近來盛行，人每認識不清，多致輕轉重，重轉危。此證古人未有另立明條，而混於傷寒溫熱之類，是以後人往往誤治，今不得不重申其義。秋燥之氣，由呼吸吸入肺中，傳於血脈，火毒內蘊，流行血中。一入冬令，大氣寒肅，將火毒遏抑於內。血脈為寒束縛，以致汗血管閉，血度高升，則寒熱交作，頭暈或痛，口苦舌燥，胸滿身痛。人多不察，動用羌、柴、芷、葛、細辛、荊、防辛燥風藥，風煽火勢，益增烈炎。故熱血火毒，逼迫妄行，速度愈加，變證百出，以致皮膚微焦，血管破裂，為痧斑疹　喉痹等危險之證。輕者屢月不瘥，重者便成不起。</p>
<h4>八、冬溫</h4>
<p>楊如侯曰：冬溫脈寸洪尺數，或實大，心煩、嘔逆、身熱、不惡寒，或頭痛、身重、面腫、咳嗽、咽痛、下利，此冬感非節之暖而病溫也。冬溫發熱而微畏寒，汗不出而煩擾，此冬先感溫氣，即被嚴寒遏抑而病溫也。按第一條謂冬時有非節之暖，未至而至，即為不正之氣，獨冬不藏精之人，腎氣先泄，腠理不固，溫氣襲人，感之而病；第二條謂先感溫氣，即被嚴寒遏抑而病者，此因暴冷折陽，表有寒邪，故有微惡寒之見證，與上條但發熱者不同。此皆屬於冬溫，表邪若涉一二，裡熱必兼八九，斯癮疹、丹痧相繼而作矣。況冬月兼有伏暑、伏燥之證，不得以時在冬月，認作傷寒，遽以麻、桂、羌、柴、荊、防之屬，鼓風煽火，而增其烈炎之焰也。</p>
<p>周禹載曰：冬溫與春溫無異，而時令不同。</p>
<p>葉天士曰：入冬以來，暴冷折陽，外感發熱頭痛、身痛嘔惡，必從太陽。若渴能飲水，即是裡熱見證，不得純以表散。</p>
<p>又曰：若冬令應寒，氣候溫暖，陽氣不潛，當藏反泄，即能致病，名曰冬溫。</p>
<p>陸九芝曰：冬月病熱，即是冬溫，不可用正傷寒之桂、麻，則亦有須用膏、梔、芩、連者。</p>
<p>雷少逸曰：昔賢謂冬應寒而反溫，非其時而有其氣，人感之而即病者，名曰冬溫是也。其勞力辛苦之人，動作汗出，溫氣乘襲，多在於表；其冬不藏精之人，腎經不足，溫氣乘襲，多在於裡。冬溫雖發於冬時，然用藥之法，與傷寒迥別。</p>
<p>蓋溫則氣泄，寒則氣斂，二氣本屬相反，誤用辛溫，變證疊出矣。其證頭痛有汗，咳嗽口渴，不惡寒而惡熱，或面浮，或咽痛，或胸疼，陽脈浮滑有力者，乃溫邪竄入肺經也，宜用辛涼解表法，加連翹、象貝治之。口渴甚者，溫邪入胃腑也，再加蘆根、花粉治之。如或下利，陰脈不浮而滑，溫邪已陷於裡也，宜以清涼透邪法，加葛根、黃芩治之。倘熱勢轉劇，神氣昏憒，譫語錯亂，舌苔轉黑者，不易治也，勉以祛熱宣竅法治之，紫雪丹亦可用之。種種變證，不能盡述，須仿諸溫門中之法可也。</p>
<p>又或問曰：冬溫發熱而不惡寒，倘惡寒者，為何病也？答曰：冬溫惡寒，偶亦有之，良由先感溫氣，即被嚴寒所侵，寒在外而溫在裡，宜用辛溫解表法，先去寒邪，繼用涼解裡熱法，而清溫氣。又問曰：傷寒、冒寒皆惡寒，何以別之？曰：傷寒、冒寒，初起無口渴，以此別之。曰：溫邪當發為冬溫，倘其微者，伏而不發，為何病也？曰：伏而不發，來春必變為溫毒也。凡治時病者，新邪伏氣，切要分明，庶不至千裡毫厘之失。</p>
<p>陳蓮舫曰：冬溫乃屬新感，伏而不發，來春必成溫毒。</p>
<h4>附方</h4>
<p>治溫病無汗，溫瘧渴飲，冬溫之邪內陷。</p>
<p>鮮蘆根（五錢）　生石膏（六錢）　連翹（三錢）　竹葉（一錢五分）　淡豆豉（三錢）　綠豆衣（三錢）　水煎服。</p>
<p>此治溫病無汗之主方。其伏氣雖不因風寒所觸而發，然亦有有汗、無汗之分。無汗者宜透邪，有汗者宜保津，一定之理也。凡清涼之劑，涼而不透者居多，惟此法清涼且透。蘆根中空，透藥也；石膏氣輕，透藥也；連翹之性升浮，竹葉生於枝上，淡豆豉之宣解，綠豆衣之輕清，皆透藥也。伏邪得透，汗出微微，溫熱自然達解耳。</p>
<p>治溫熱有汗，風熱化火，熱病傷津，溫瘧舌苔變黑。</p>
<p>連翹（三錢）　天花粉（二錢）　鮮石斛（三錢）　鮮生地（四錢）　麥冬（四錢去心）　參葉（八分）　水煎服。</p>
<p>此治溫熱有汗之主方。汗多者，因於裡熱薰蒸，恐其傷津損液，故用連翹、花粉，清其上中之熱，鮮斛、鮮地，保其中下之陰，麥冬退熱除煩；參葉生津降火也。</p>
<p>治三焦溫熱，脈洪大而數，熱渴譫妄。</p>
<p>連翹（四錢）　西洋參（二錢）　生石膏（五錢）　甘草（八分）　知母（二錢，鹽水炒）　鮮生地（五錢）　加粳米一撮，煎服。</p>
<p>是法以仲聖白虎湯為主，治其三焦之溫熱也。連翹、洋參，清上焦之熱以保津；膏、甘、粳米，清中焦之熱以養胃；知母、生地，瀉下焦之熱以養陰。</p>
<p>治熱在胃腑，脈沉實有力，壯熱口渴，舌苔黃燥。</p>
<p>熟大黃（四錢）　玄明粉（二錢）　粉甘草（八分）　玄參（三錢）　麥冬（四錢，去心）　鮮生地（五錢）　流水煎服。</p>
<p>陽明實熱之證，當用大、小承氣，急下以存津液。但受溫熱之病，弱體居多，雖有是證，不能遽用是藥，故以仲聖調胃承氣為穩。且芒硝改為玄明粉，取其性稍緩耳。合用鞠通增液湯方，更在存陰養液耳。</p>
<p>治春溫初起，風寒寒疫，暑為寒遏，及秋涼等證。</p>
<p>防風（一錢五分）　桔梗（一錢五分）　杏仁（一錢五分）　廣皮（一錢）　淡豆豉（三錢）　加蔥白五寸煎。</p>
<p>是法以防風、桔梗，祛其在表之寒邪。杏子、陳皮，開其上中之氣分。淡豉、蔥白，即蔥豉湯，乃《肘後》之良方，用代麻黃，通治寒傷於表。表邪得解，即有伏氣，亦可隨解。惟暑為寒遏，去蔥、豉、防風，加西香薷一錢可也。</p>
<p>治溫熱內熾，外無風寒，及暑熱、冬溫等證。</p>
<p>鮮蘆根（五錢）　大豆卷（三錢）　天花粉（二錢）　生石膏（四錢）　生甘草（六分）　新汲水煎服。</p>
<p>溫熱邪初入胃者宜此法。蓋胃為陽土，得涼則安，故以蘆根為君，味甘性涼而中空，不但能去胃中之熱，抑且能透肌表之邪，誠涼而不滯之妙品，大勝尋常寒藥。佐豆卷之甘平，花粉之甘涼，並能清胃除熱。更佐石膏，涼而不苦，甘草瀉而能和，景岳名為玉泉飲，以其善治陽明胃熱也。凡寒涼之藥，每多敗胃，惟此法則不然。</p>
<p>治溫毒深入陽明，劫傷津液，舌絳齒燥。</p>
<p>西洋參（三錢）　大麥冬（三錢）　鮮生地（三錢）　玄參（一錢五分）　金銀花（二錢）　連翹（二錢）</p>
<p>加綠豆三錢，煎服。</p>
<p>此法治溫熱成毒。毒即火邪也。溫熱既化為火，火未有不傷津液者。故用銀、翹、綠豆，以清火而解毒；洋參、麥冬以保津；玄參、細地以增液也。</p>
<p>治溫熱不解，劫液動風，手足螈　。</p>
<p>大麥冬（五錢）　鮮生地（四錢）　滁菊花（一錢）　羚羊角（二錢）　鉤藤鉤（五錢）</p>
<p>先將羚羊角煎一炷香，再入諸藥煎。</p>
<p>凡溫熱病動肝風者，此法最宜。首用麥冬、生地，清其熱以滋津液；菊花、羚角，定其風而寧抽搐；佐鉤藤者，取其舒筋以定　也。</p>
<p>治溫熱、濕溫、冬溫，邪竄心包，神昏譫語，甚或不語，舌苔焦黑，或笑或痙。</p>
<p>連翹（三錢）　犀角（一錢）　川貝母（三錢）　鮮石菖蒲（一錢）</p>
<p>加牛黃至寶丹一顆，去蠟殼，化沖。</p>
<p>是法治邪入心包之證。連翹苦寒，苦入心，寒勝熱，故瀉心經之火邪。經曰：火淫於內，治以鹹寒。故兼犀角鹹寒之品，亦能瀉心經之火邪。凡邪入心包者，每有痰隨火升，蒙其清竅，故用貝母清心化痰，菖蒲入心開竅，更用牛黃至寶之大力，以期救急扶危於俄頃耳。若胃熱蒸心，神煩昏譫，口燥渴而便閉者，宜用涼膈散加石菖蒲、遠志，始能奏效。</p>
<p>治風溫初起，風熱新感，冬溫襲肺咳嗽。</p>
<p>薄荷（一錢五分）　蟬蛻（一錢）　前胡（一錢五分）　淡豆豉（四錢）　栝蔞殼（二錢）　牛蒡子（一錢五分）</p>
<p>煎服。如有口渴，再加花粉。</p>
<p>此法專取辛涼，以治風溫初起，無論有無伏氣，皆可先施。用薄荷、蟬蛻，輕透其表；前胡、淡豉，宣解其風。葉香岩云：溫邪上受，首先犯肺。故佐蔞皮、牛蒡，開其肺氣。氣分舒暢，則新邪伏氣，均透達矣。</p>
<p>治中風卒倒，中惡氣絕，痰飲不語，神魂恍惚，頭目昏眩，眠睡不安，唇口乾燥，傷寒譫語，心肺積熱，伏熱嘔吐，邪氣攻心，大腸風秘，血氣不通，寒熱交錯，暗風，中熱，疫毒，陰陽二毒，山嵐瘴毒，水毒，蠱毒，中一切物毒，婦人難產悶亂，胎死不下，產後血暈，口鼻出血，惡血攻心，煩躁，氣喘，吐逆，小兒諸癇，急驚心熱，卒中客忤，煩躁不眠，風涎搐搦。</p>
<p>生烏犀角（一兩）　朱砂（一兩）　雄黃（一兩）　生玳瑁（一兩）　琥珀（一兩）　麝香（一錢）　龍腦（一錢）</p>
<p>金箔（五十片）　銀箔（五十片）　西牛黃（五錢）　安息香（一兩五錢）　制丸如梧桐子大，用蠟護之，每服三丸至五丸。小兒二歲，每服二丸。</p>
<p>此治心臟神昏，從表透裡之方。黃、犀、瑁、珀，以有靈之物內通心竅；朱、雄、二箔，以重墜之品安鎮心神；佐以腦、麝、安息，搜剔幽隱諸竅。故熱入心包絡，舌絳神昏者，以此丹入寒涼湯藥中用之，有祛陰起陽，立展神明之效。</p>
<p>若病因頭痛而即神昏不語者，此肝虛魂升於頂，當用牡蠣救逆以降之，又非此丹之所宜也。</p>
<p>治陽明實熱證，腸中燥屎堅結，腹中滿痛者。</p>
<p>芒硝（三兩）　大黃（四兩）　枳實（五枚）　厚朴（八兩）</p>
<p>腸中穢滯不去，由於氣不能送，液不能滋。方中以大黃清其熱，芒硝潤其燥，厚朴行其氣，枳實攻其堅，宜於熱邪傳裡，痞滿燥實堅全見之證。若表邪未解，或心下硬滿，或面合赤色，或平素食少，或嘔多，或脈遲，或津液內竭，或小便少，皆不可用，所謂承氣湯八禁也。</p>
<p>治時疫邪氣，初犯募原，及疫瘧壯熱，多汗而渴者。</p>
<p>黃芩（一錢五分）　甘草（一錢）　白芍（一錢）　厚朴（一錢）　草果（一錢）　知母（二錢）　檳榔（二錢）</p>
<p>加大棗（一枚）　生薑（七片）　清水煎。</p>
<p>此為疫邪初犯募原之主方。蓋募原雖附軀殼，貼近於裡，為經絡臟腑之交界。濕土之邪，從竅而入，以類橫連，未有不入犯中土者。所以用檳榔、草果、厚朴，清理腸胃為先，非若傷寒傳次，表證未罷，誤用裡藥，則有結胸傳裡之變也。即尚未離表，有薑、棗佐芩、芍，甘草以和之亦足。若見少陽、陽明、太陽之證，則加柴胡、葛根、羌活以開泄之。</p>
<p>設裡氣不通，勢必盤錯於中而內陷，則加大黃以攻下之。其殿後則有白虎、涼膈，為鼎足之任。以此推原，其他變證，則三黃、雙解、清熱解毒、人中黃丸等方，可默識其微，而用之必當矣。若以此治疫瘧、時瘧，靡不應手獲效，總藉以分解中外寒熱諸邪之力耳。</p>
<p>治香港腳毒遍內外，煩熱不解，口舌生瘡，狂越躁亂，瘴疫毒癘，卒死溫瘧，五尸五疰，邪熱卒黃，蠱毒鬼魅，心腹療痛，一切實火閉結，小兒驚癇百病，解熱藥毒發。</p>
<p>黃金（六斤四兩）　石膏（三斤）　寒水石（三斤）　磁石（三斤）　滑石（三斤）　犀角屑（五兩）　羚羊角屑（五兩）　青木香（五兩）　沉香（五兩）　玄參（一斤）　升麻（一斤）　甘草（八兩，炙）　丁香（一兩）　朴硝（十斤）　消石（四升）　當門子（一兩二錢五分）　朱砂（三兩）</p>
<p>每服三四分至一二錢，杵細，食後新汲水或薄荷湯調下。大人、小兒，臨時以意加減。</p>
<p>此即《千金》玄霜。《局方》於方中參入甘草、丁香、朱砂，遂用紫雪之名。凡邪火毒火，穿經入臟，無藥可治，此能消解，其致如神。</p>
<p>治陽明證汗水，渴欲飲水，脈洪大浮滑，不惡寒，反惡熱，及中　煩熱而渴。</p>
<p>生石膏（一斤）　知母（六兩）　甘草（二兩，炙）　粳米（六合）</p>
<p>陽明邪熱外越，故熱汗自出；熱爍胃中，故渴欲飲水；邪盛而實，故脈滑，然猶在經，故兼浮也。蓋陽明屬胃，外主肌肉，雖有大熱，而未成實，終非苦寒之味所能治。方中石膏辛寒，辛能解肌熱，寒能勝胃火，寒性沉降，辛能走外，兩擅內外之能，故以為君。知母苦潤，苦以瀉火，潤以滋燥，故以為臣。用甘草、粳米，調和於中宮，且能土中瀉火，作甘稼穡，寒劑得之緩其寒，苦藥得之化其苦，使沉降之性，皆得留連於胃也。得二味為佐，庶大寒之品，無傷損脾胃之慮。煮湯入胃，輸脾歸肺，水精四布，而大煩大渴可除。名之曰白虎者，取西方金水之義，謂其能止熱邪之陽亢也。</p>
<p>治暑溫、暑熱、暑瀉、秋暑。</p>
<p>滑石（三錢）　生甘草（八分）　青蒿（一錢五分）　通草（一錢）　白扁豆（一錢）　連翹（三錢）　白茯苓（三錢）　加西瓜翠衣一片，入煎。</p>
<p>滑石、甘草，即河間之天水散，以滌其暑熱也。恐其力之不及，故加蒿、扁、瓜衣以清暑。又恐其干犯乎心，更佐連翹以清心。夫小暑之節，在乎相火之後，大暑之令，在乎濕土之先，故先賢所謂暑不離濕也，兼用通、苓，意在滲濕耳。</p>
<p>治暑毒煩熱赤腫，身如針刺。</p>
<p>茯苓（三錢）　製半夏（一錢五分）　滑石（三錢）　銀花（三分）　參葉（六分）　黃連（八分）　連翹（三錢）</p>
<p>粉草（五分）　加綠豆衣（三錢）　煎服。</p>
<p>凡暑熱成毒者，此法最宜。苓、夏偕甘，即海藏消暑方也；滑石偕甘，即河間清暑方也。更佐參葉以卻暑，黃連以清心，銀、翹、綠豆以解毒也。</p>
<p>治暑濕內襲，腹痛水瀉，小便熱赤。</p>
<p>蒼朮（一錢，米泔炒）　厚朴（一錢）　薑汁（炒）　廣陳皮（一錢五分）　滑石（三錢）　豬苓（一錢五分）　白茯苓（三錢）　澤瀉（一錢五分）　藿香（一錢五分）　水煎溫服。</p>
<p>蒼、朴、陳皮以化濕，即平胃散損甘草也；二苓、澤瀉以利濕，即五苓散損桂、朮也。增滑石清暑滲濕，增藿香止瀉和中。凡因暑濕而致瀉者，是法最為合拍耳。</p>
<p>治中暑神昏不語，身熱汗微，氣喘等證。</p>
<p>黃連（一錢二分）　香薷（一錢）　扁豆衣（三錢）　制夏（一錢五分）　厚朴（一錢薑汁炒）　杏仁（二錢）　陳皮（一錢五分）　益元散（三錢入煎），加荷葉梗七寸為引。汗多除去香薷。</p>
<p>連、薷、扁、朴，清熱祛暑；杏仁、陳、夏，順氣開痰；益元散清暑寧心；荷葉梗透邪宣竅。</p>
<p>治傳尸，骨蒸，　，肺痿，疰杵，狐鬼邪祟，驚癇，中風，痰厥，心腹猝痛，昏迷僵仆，寒證氣閉，寒霍亂吐利，時氣瘴瘧，赤白暴痢，婦人瘀血，經閉，小兒驚搐，吐乳，療　瘕疔腫。</p>
<p>蘇合香油（五錢）　丁香（一兩）　安息香（一兩）　青木香（一兩）　白檀香（一兩）　沉香（一兩）　蓽茇（一兩）　香附子（一兩）　訶黎勒（一兩）　烏犀　角屑（一兩）　朱砂（一兩）　薰陸香（五錢）　龍腦（五錢）　麝香（七錢五分）　白蜜和丸，如芡實大，每服一丸。</p>
<p>此方取諸香以開寒閉，與牛黃丸皆為中風門中奪門開關之將。然牛黃丸開熱阻關竅，此則開寒阻關竅。方中用犀角，為寒因寒用之向導，與至寶中用龍腦、桂心無異。若夫口開手撒，眼合聲鼾，自汗遺尿等虛脫證，急用參附峻補，庶或可救；若用牛黃、蘇合之藥，入口即斃矣。</p>
<p>治上盛下虛，裡寒外熱，及痰飲、伏暑，霍亂泄瀉如水，婦人產後敗血衝胃。</p>
<p>硝石（一兩）　硫黃（一兩）　太陰玄精石（一兩）　五靈脂（二兩）　青皮（二兩）　陳皮（二兩）　醋煮米糊和丸，如梧桐子大，每服三十丸，米湯送下。</p>
<p>此方本二氣丹而立。以硝黃二味，大理中宮寒涎宿垢；更以玄精石清鎮肺金，使氣化下行歸就膀胱；兼二皮，五靈，以破食積痰血之滯。雖大理腸胃，而不礙乎陽虛，故為治伏暑水瀉之聖藥。但小便赤澀不利者禁用。又此方古法以醋糊和丸，米飲下，然醋性易壞，不若但用米飲糊丸，醋湯送下為妥。</p>
<p>治暑熱盛極，元氣受傷。</p>
<p>生石膏（四錢）　滑石（三錢）　白茯苓（三錢）　麥門冬（二錢）　製半夏（一錢）　東洋參（二錢），或用西洋參　粉甘草（六分）　加粳米一撮為引。</p>
<p>石膏、滑石，祛暑瀉火為君；茯苓、半夏，消暑調中為臣；暑熱刑金，故以人參、麥冬保肺為佐；暑熱傷氣，故以甘草、粳米調元為使。</p>
<p>治秋時晚發之伏暑，並治濕溫初起。</p>
<p>連翹（三錢）　杏仁（二錢）　栝蔞皮（三錢）　陳皮（一錢五分）　茯苓（三錢）　製半夏（一錢）　甘草（五分）　佩蘭葉（一錢）　加荷葉二錢為引。</p>
<p>連翹寒而不滯，取其清宣；杏仁溫而不燥，取其溫化；蔞皮宣氣於上；陳皮化氣於中。上中氣分得其宣化，則新涼伏氣皆不能留；茯苓、夏、草，消伏暑於內；佩蘭、荷葉，解新邪於外也。</p>
<p>止渴，除煩，降火，利竅，清暑熱，利小便，催生，下乳，治暑傷元氣，表裡俱熱，面赤氣粗，煩渴引飲，小便短赤，霍亂吐瀉，下利腸　，及積聚水蓄，裡急後重，暴注下迫，石淋等證。婦人暑搏血崩，妊娠霍亂，產難。</p>
<p>桂府滑石（六兩）　甘草（炙六錢、生四錢）　加辰砂三錢，新汲水調下。</p>
<p>元氣為暑熱所傷，既不能用參、　以補氣，致邪愈甚；亦不能用芩、連以清熱，致氣更傷。惟滑石稟土中衝和之氣，寒能勝熱，甘不傷脾，含天乙之精，而具流走之性，能上清水源，下通水道，蕩滌六腑之邪，俾暑熱從小便而泄；甘草稟草中衝和之性，調和內外，止渴生津，用以為佐，保元氣而瀉虛火，則五臟自和矣；然心為五臟主，暑熱擾中，神明不安，必得朱砂以鎮之，則神氣方可遽復；涼水以滋之，則邪熱方可急除也。並治熱痢初起，裡急後重者，以滑可去著也。催生下乳，積聚蓄水等證，亦同此義。惟老人、虛人，及病後傷津、小便不利者，均忌之。</p>
<p>治冒濕證，首如裹，遍體不舒，四肢懈怠。</p>
<p>蒼朮（一錢，土炒）　防風（一錢五分）　秦艽（一錢五分）　藿香（一錢）　陳皮（一錢五分）　砂殼（八分）</p>
<p>生甘草（五分）</p>
<p>加生薑三片，煎服。</p>
<p>此治冒濕之法也。君以蒼朮、防、秦，宣疏肌表之濕；被濕所冒，則氣機遂滯，故臣以藿、陳、砂殼，通暢不舒之氣；濕藥頗燥，佐以甘草潤之；濕體本寒，使以生薑溫之。</p>
<p>治牝瘧寒甚熱微，或獨寒無熱。</p>
<p>淡乾薑（一錢）　淡附片（一錢）　厚朴（一錢，薑製）　蒼朮（一錢，土炒）　草果仁（一錢，煨）　蜀漆（一錢五分）</p>
<p>加白豆蔻三顆，去殼細研，分沖。</p>
<p>乾薑宣其陽氣；附子制其陰勝；厚朴開其滯氣；蒼朮化其陰濕；草果治獨勝之寒；蜀漆逐盤結之瘧；佐以豆蔻，不惟透伏有功，抑且散寒化濕。施於牝瘧，豈不宜乎！</p>
<p>治濕瘧寒甚熱微，身痛有汗，肢重脘懣。</p>
<p>厚朴（一錢，薑製）　檳榔（一錢五分）　草果仁（八分，煨）　黃芩（一錢，酒炒）　藿香葉（一錢）　半夏（一錢五分，薑製）　粉甘草（五分）</p>
<p>加生薑三片為引。</p>
<p>此師又可達原飲之法也。方中去知母之苦寒，及白芍之酸斂。仍用朴、檳、草果，達其膜原，祛其盤結之邪；黃芩清燥熱之余，甘草為和中之用。擬加藿、夏暢氣調脾，生薑破陰化濕。濕穢乘入膜原而作瘧者，此法屢效。</p>
<p>治燥氣侵表，頭微痛，畏寒無汗，鼻塞咳嗽。</p>
<p>杏仁（三錢）　陳橘皮（一錢五分）　紫蘇葉（一錢）　桔梗（一錢五分）　荊芥穗（一錢五分）　桂枝（一錢，蜜水炒）　白芍（一錢，酒炒微焦）　前胡（一錢五分）</p>
<p>凡感燥之勝氣者，宜苦溫為主。故用橘、杏、蘇，荊以解之。加白芍之酸，桂枝之辛，是遵聖訓燥淫所勝，平以苦溫、佐以酸辛是也。秋燥之證，每多咳嗽，故佐前、桔以宣其肺，肺得宣暢，則燥氣自解耳。</p>
<p>治疰夏眩暈神倦，呵欠煩汗，及久咳肺腎並虧。</p>
<p>東洋參（三錢）　麥冬（三錢，去心）　五味子（三分）　知母（一錢五分）　玄參（一錢五分）　炙甘草（五分）</p>
<p>法內人參補肺，麥冬清肺，五味斂肺，此《千金》生脈飲也。主治熱傷元氣，氣短倦怠，口渴汗多等證。今以此方治疰夏，真為合拍。加色白之知母，清其肺，復清其腎；色黑之玄參，滋其腎，兼滋其肺。更以甘草協和諸藥，俾金能生水，水能潤金之妙耳。</p>
<p>治燥結盤踞於裡，腹脹便閉。</p>
<p>松子仁（四錢）　柏子仁（三錢）　冬葵子（三錢）　火麻仁（三錢）　苦桔梗（一錢）　栝蔞仁（三錢）　薤白頭（八分）　大腹皮（一錢，酒洗）</p>
<p>加白蜂蜜一調羹，沖服。</p>
<p>此仿古人五仁丸之法也。松、柏、葵、麻，皆滑利之品，潤腸之功非小，較硝、黃之推蕩尤穩耳。丹溪治脾痹，每每開提上竅，故以桔梗、蔞、薤開其上，復潤其下。更加大腹寬其腸，白蜜潤其燥，幽門得寬得潤，何慮其不通哉！</p>
<p>治諸氣　郁，諸痿喘嘔。</p>
<p>桑葉（三錢）　生石膏（二錢五分）　甘草（一錢）　胡麻仁（一錢）　阿膠（八分）　麥門冬（一錢二分）　杏仁（七分）　人參（七分）　枇杷葉（一升）</p>
<p>諸氣　郁之屬於肺者，屬於肺之燥也。而古來治氣鬱之方，多用辛香行氣，絕無一方治肺之燥者。諸痿喘嘔之屬於上者，亦屬於肺之燥也。而古來治法，以痿嘔屬陽明，以喘屬肺，是則嘔與痿屬之中下，而惟喘屬上矣，所以亦無一方及於肺之燥也。即喘之屬於肺者，非表即下，非行氣即泄氣。間有一二用潤劑者，又不得其肯綮。今此方名之為清燥救肺，大約以胃為主。用人參、甘草，甘溫以補氣，氣壯火自消。佐以石膏、麥冬、桑葉、阿膠、胡麻仁輩，使清肅令行，而壯火亦化。又佐以杏仁、枇杷葉之苦以降氣，氣降火亦降，而制節有權，氣行則不郁，諸痿喘嘔自除矣。要知諸氣鬱，則肺必大虛，若泥於肺熱傷肺之說而不用人參，郁必不開，而火愈熾，皮聚毛落，咳不休而死矣。此名之救肺，涼而能補之謂也。若謂實火可瀉，而久服芩、連，苦從火化，亡可立待耳。</p>
