<header><h1>釐正按摩要術</h1></header>
<dl class="元資料" data-type="book">
<div><dt>作者</dt><dd>張振鑒</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
</dl>
<h2>述古齋醫書敘</h2>
<p>余耳筱衫名久矣。己丑七月，始邂逅於揚州。見其性情肫摯，氣象雍穆，望而知為非常之士，然固未嘗知其能醫也。庚寅春，余兩子染疫殤，疫傳幾遍，移家江北，與筱衫結鄰居筱衫醫治皆痊，昕夕過從，談論極洽，因得盡讀其所著《述古齋醫書三種》。語不矜奇，法皆師古，委曲詳盡，纏綿悱惻。其辨證也，如扁鵲之視疾，症結皆見；其制方也，如鄂王之用兵，變化不測；遵是術也，天下無夭民矣。余既悲兩兒之不能得筱衫以起其死，而又為天下之千萬億童幸也。</p>
<p><u>光緒庚寅閏二月</u></p>
<p><u>姻愚弟盱眙王儀鄭拜序</u></p>
<h2>敘二</h2>
<p>按摩一法，北人常用之。曩在京師見直隸滿州人，往往飲啖後，或小有不適，輒用此法能消脹懣，舒經絡，亦卻病之良方也。南人專以治小兒，名曰推拿。習是術者，不必皆醫。</p>
<p>每見版鋟某某氏推拿驚科，懸諸市，故知醫者略而不求，而婦人女子藉為啖飯地也。歲丁亥，自都中歸，訪張廣文筱衫仁棣於城東。遠近就醫者，戶外履滿，室中醫書數百卷，羅列縱橫，為時時目涉者，案置抄本一，塗抹幾遍，閱之，則《推拿要訣》也。云系丹徒張君屬為釐訂，將醵資刊刻，廣惠嬰孩。張君號心樵，名言禮，前寓湖西，距余不遠，閑在親串家一識之。古道可風，孰知留心醫學為活人傳世計耶。昔人言：不為良相，必為良醫，醫之良，非法不可，夫長桑越人，書不再見，苟得古法，神而明之，即今之長桑越人也。余不知醫，猶記五六齡時，先太孺人云，余生二歲，得慢驚症，置空室中，萬無生望，村外蘭若一老僧，清修梵行，兼習岐黃，邀之來，急以鉛粉冰片油於左右手心各擦四十九遍，病旋起。或即此術之遺意歟。今讀是書，追思往訓，不禁泫然。爰慫恿筱衫，速為校正，俾早流傳，是役也，倡始則心樵，釐正則筱衫，孫君犢山任參校，HT　君實卿、劉君恕堂司音釋。周君蘭坪、王君雨亭、韓君毅庵，並倡始者之哲嗣幼樵督鐫刊。余既美二張之意，且樂諸君子相與有成焉，是為序。</p>
<p><u>時光緒戊子冬十一月</u></p>
<p><u>甘泉陳桂馨椒嶼氏撰</u></p>
<h2>敘三</h2>
<p>經曰：　悍者，按而收之。又曰：摩之浴之。是按摩之法，亦古人所最重者。唐有按摩生專科，今日推拿，實其遺法。顧習之者，皆婦人女子，未能盡推納動伸之妙耳。吾郡張筱衫先生，負濟世之志，肆力於醫，近得周氏推拿書二冊，系張君心樵屬為釐正者。遵而用之，應手輒效。於是，訂其紊亂，正其謬　，芟其繁蕪，文其鄙陋。更采先哲名言，外治良法，以附益之，辨證立法，考穴繪圖，井井有條，粲然大備，誠活人之要術，保幼之新書也。越人云：人之所患患病多，醫之所患患道少。醫者得此書而習之，可免道少之譏。推拿家得此正傳，亦不致遺殃幼小。即是窮鄉僻壤，有病無醫，依法治療，均能取效。行見按摩所及，著手生春。將使軒岐古法，復行於今，豈徒為周氏之功臣已哉。</p>
<p><u>光緒十有四年戊子冬十二月</u></p>
<p><u>江都孫風翔犢山謹識</u></p>
<h2>敘四</h2>
<p>昔黃農嘗百草，立方書，著《靈樞》、《素問》諸經，蓋欲布之天下，傳之後世，俾人人曉其法，療其病，以救人之命也，曷嘗居為奇貨而私為不傳之秘哉。余素不知醫，長男孝德生甫三齡，得疳疾，愈醫愈危，僉以為無生理，因聞黃帝有按摩法，於小兒尤宜，嘗欲求其說不可得。適族HT　中有善其術者，經按摩者三更衣得黑矢，由是告痊。如此者甚夥。以故羨其術而惜其秘。不料天奪之魄，命與術俱絕。後因事寓其家，見架上有《小兒推拿要訣》，翻閱一過，乃告推拿者，即按摩之異名也。余欣然借抄，意在推展流傳，以救人命。家中人靳弗與，且曰：此秘方也，慎毋泄。余弗蕕已，因仿蕭翼賺蘭亭，桓元竊發畫廚之意，私取錄焉。存余家廿有餘年，屢質之諸醫家，咸茫然莫得其端緒。寶應張廣文筱衫先生，樂善不倦，仁聞素昭，向服膺《靈樞》、《素問》諸經，又嘗博覽方書，於此道三折肱矣。故每治一症，必審慎周詳；每出一方，輒回生起死。諄諄以施濟為念，以視人死如兒戲為戒。余心折久之。</p>
<p>特出　此書，筱衫亦欣然色喜。為肩剞劂之任，特為之刪其繁蕪，祛其　駁，分門別類，井井有條，冠以凡例，繪厥原圖，且博采群書而附會之，令人一目了然。無論知醫不知醫，皆能按圖治疾而無所遺誤。今而後，布之天下，傳之後世，得以起沉　登仁壽者，皆筱衫、廣文之功。種福無量，種德無涯，而余數十年未遂之愿，至垂老而蕕睹其成，未始非三生之濃幸也。刻既竣，爰敘其顛末，並志感激欽佩之忱，是為序。</p>
<p><u>光緒十有四年歲次戍子仲冬月　</u></p>
<h2>敘五</h2>
<p>歧黃療病之法，針灸而外，按摩繼之尚矣。後世失其傳而易為推拿之說。每見野叟老嫗，不知經絡為何，穴道為何，表裡寒熱虛實病證為何，溫清補瀉汗吐下和治法為何，而概以隨手推抹，名曰抹驚。或妄灌以自製丸散，以致小兒夭枉無算，惻然心傷。竊念小兒臟腑柔脆，一觸風寒暑濕燥火之氣，或痰滯，或食積，最易驚厥，是為急驚，吳鞠通所謂客忤痙也。其重者有慢驚一證，應如何辨證，如何治法，此余所惴惴焉不克勝任者。方脈一科，望、聞、問、切，秦越人謂為聖神工巧。前賢臨證，所重在問。蘇內翰東坡云：我有病狀，必盡情告醫。我求愈病耳，豈以困醫為事哉?脈理深邃，變幻多端，按二十七部脈，即以定千變萬化之證，談何容易。且仲師有從脈不從證，從證不從脈之論，尤須有靈機活法，今昔所慨以為難也。況小兒昔稱啞科，脈無可切，證無可問，即僅以望，聞得之，神聖之事，豈末俗庸流所能望其項背者。然辨證雖難，而又不得不辨，辨而後又不得不設法以治也。國初龔云林《推拿全書》，圖注不明，無門可入。夏禹鑄《幼科鐵鏡》亦略有可采，亟亟焉求按摩之術而未蕕者。京江張心樵先生，抱利濟之懷，溷跡廛市，搜采方書。因見族弟地山善推拿，立起沉，始則嬰兒，繼而男婦，治無不效。秘其術不一傳。既羨之而又惡之。羨其術之精，惡其術之吝也。不幸干造物之忌，地山遂歿。先生托族誼，寓其家，遍翻架上書，得《推拿秘訣》二冊，歸而錄之。藏二十年，以待識者釐訂，傳世兼濟世也。丁亥夏，以所錄者諄諄屬余任是役。自首至末凡五閱，始悉此書乃明萬歷楚人周於蕃所著《推拿要訣》，付梓者三，但次序錯亂，辭語鄙陋。傳曰：言之無文，行而不遠，以故坊間不多見，原本　失，只留抄本於先生之族。因以善其術，先生年七十矣，促余蕆其事，以償其愿。余不敢辭，乃於重復者汰之，繁蕪者刪之，顛倒者理之，俚俗者易之。更博采旁搜附會以明之。顏曰《釐正按摩要術》，一志其源，一補其闕也。編次以辨證為先，立法為後，歷半載而就，以應先生之命，且以見先生慈惠居心。《書》曰：惠迪吉，《易》曰：積善余慶，為先生操左券焉‧謹志其顛末如此。</p>
<p><u>時維光緒十四年戊子冬月</u></p>
<p><u>寶應惕厲子張振　原名醴泉筱衫題於邗上旅次</u></p>
<h2>凡例</h2>
<p>一、辨證宜先也。先哲言：用藥不難，辨證為難，在小兒尤難。小兒辨證須覘神氣，審形色，診面，察眼、耳、唇、齒、鼻準，驗舌苔，診指紋，察手足，聽聲，按胸腹，詢溲便，候脈。</p>
<p>一、立法宜詳也。首按摩，繼以掐、揉、推、運、搓、搖，合為八法。又立汗、吐、下三法。凡針灸砭淬浴　諸法之盡善者，一並采入。另附集成外治九法，惕厲子自製一法。</p>
<p>一、取穴宜繪圖也。按摩、針灸、砭淬等法，均系講明穴道，絲毫不差。欲求穴道，非圖不明。先輩以取穴難於診脈，特別《銅人》十四圖於前，其後正身圖，覆身圖、陽掌圖、陰掌圖、足部圖，所載穴名，亦有《銅人》圖所未備者外，頭面、耳目、手脈、指紋、舌苔，以及按摩手法各圖，一一繪列。</p>
<p>一、證治宜備載也。應用各法條例詳細，小兒最易驚風，故首列驚風。其余小兒應有之證，亦附於後。</p>
<p>一、鬻嬰有法也。集先賢諸家之說，匯為一卷，以綴於後，俾育嬰孩者，防患於未然。</p>
<p>一、是書本之周於蕃，其闡發宣明處，博采群書，廣搜古訓，所輯各說，倍於周氏。其或參以己見者，則注惕厲子以示區別。</p>
<p>一、是書專以手法外治見長，不事湯藥，詢有功於嬰兒者。村嫗野叟取而習之，得其真傳，庶無誤治之虞。</p>
<p>一、是書廣惠嬰孩，刊者將秘傳之術以公諸世，務期家置一編，按圖取穴，施治極易。</p>
<p>庶於活人之術，不無小補云爾。</p>
<p>一、是書以家藏秘傳之法，宣發闡明，醵貲刊刻，嗣後即有《痧喉正義》一卷，《痘疹辨證錄》四卷續出問世。</p>
<p>一、首卷辨證，有說有圖，仿望、聞、問、切以分次序，所采群書，每條旁注姓氏，或著書名，以明來歷，每篇後系以案語。</p>
<p>一、是書以按摩著名，故二卷首列按摩，余法均附於後，俾免喧賓奪主之譏。</p>
<p>一、是書分句處用HT　，緊要處用連○，醒目處用連　，總期一目了然。</p>
<p><u>寶應惕厲子張振　原名醴泉筱衫謹志</u></p>
<h2>卷一‧辨證</h2>
<h3>覘神氣</h3>
<p>神有餘則笑不休，神不足則悲。氣有餘則喘咳上氣，不足則息利少氣。(《素問》)形氣相得者生。(《素問》)小兒識悟通敏過人者多夭，稍費人雕琢者壽。(《千金方》)凡人問壽在神，未有神不足而不夭者。神宜藏不宜露，神宜和不宜滯，神宜清不宜枯，神宜發揚不宜輕佻，神宜安靜不宜浮動。(《達摩》)氣聚則生，氣散則死。(朱文公)胎稟虛怯，神氣不足，目無精光，面白顱解，此皆難育，雖育不壽。(《小兒直訣》)凡小兒專愛一人懷抱，見他人則避之，此神怯弱也。(萬密齋)經曰：氣至色不至者生。又曰：色至氣不至者死。謂其有氣無色，雖病不凶；有色無氣，無病亦亡。(喻嘉言)人之五官百骸，賅而存者，神居之耳。色者，神之旗也。神旺則色旺，神衰則色衰，神藏則色藏，神露則色露。(喻嘉言)察色之妙，全在察神，血以養氣，氣以養神。失睡之人，神有飢色；喪亡之子，神有呆色，氣索則神失所養耳。(喻嘉言)胃之支脈上絡於心，才有壅閉，即堵其神氣出入之竅，故不識人。(趙以德)獨語如見鬼狀，則心主之神氣虛，而病合於少陰也。少陰之神機樞轉，時出時入，廢則神氣昏憒而不識人。(張隱庵)凡病者，氣急不續，則氣已散；自汗如雨，氣隨汗散，大吐大利，氣隨吐利而散；遺尿、嘔血、脫精，氣亦隨之而散。氣者陽也，氣散，則由陽而入陰，為將亡之候。(林佩琴)凡人將死，喉間痰響有聲，以為痰涎閉窒而致氣盡者誤，實則真氣已離，痰隨氣浮而有聲也。(林佩琴)小兒病，神氣清明，雖重可救；神氣昏憒，病雖輕必有倉促之變。(許宣治)人之五臟，內蘊精氣，上華於面，色固由氣而著者，然隱然含於皮之內者為氣，顯然彰於皮之外者為色，色外而氣內，外有跡而內無跡也。(《心法》)注凡病至神明失守而聲嘶者，為五臟已奪，主無治。(《大全》)小兒五體以頭為尊，一面惟神可恃。精神明快者吉，精神昏憒者凶。(陳飛霞)神氣為一身之主，神清氣爽，神完氣足，主清吉。神奪氣移，神疲氣濁，主夭亡。(惕厲子)寒則神清，熱則神昏。實則神有餘，虛則神不足。(惕厲子)寒盛者氣必靜，熱盛者氣必粗。虛則氣歉，實則氣壯。(惕厲子)口鼻氣粗，疾出疾入者，外感邪有餘也。口鼻氣微，徐出徐入者，內傷氣不足也。(惕厲子)按：證有表、裡、虛、實、寒、熱，在大人且不易辨，小兒尤難。夏禹鑄有審苗竅之法，陳飛霞因之。以為臟腑有疾，無可揣度，乃由內而達於外者為苗竅，苗竅者，臟腑之外著也，苗竅有跡可審，而神氣乃無跡之跡，尤不可不審。所期思命者善覘神氣，內傷外感從此辨，死生亦從此決，方足以稱良工。(惕厲子)</p>
<h3>審形色</h3>
<p>經曰：左右者，陰陽之道路也。人生之氣，陽從左升，陰從右降，故以左頰配肝，右頰配肺。《周易》以南離北坎定水火之位，故以心配離火，屬於天庭；腎配坎水，處於地角。《內經》以鼻為面王，以其位居至中，內通呼吸，生死賴之。脾屬土，土處中宮，故鼻屬脾也。</p>
<p>(陳飛霞)青為肝色，赤為心色，黃為脾色，白為肺色，黑為腎色，如面青，主驚風之證，又主痛；面赤，主火熱；面黃，主傷脾傷食；面白，主虛寒；面黑，主痛，多惡候。總之，五色明顯為新病，證屬輕；晦濁為久病，證屬重。(《四診心法》)脾病色黃，正色也。見紅色，是火能生土，故為順。若見青色，乃木來克土，為逆也。</p>
<p>(《心法》)肝病色青，正色也。見黑色，是水能生木，故為順。若見白色，乃金來克木，為逆也。</p>
<p>(《心法》)肺病色白，正色也。見黑色，是土能生金，故為順。若見赤色，乃火來克金，為逆也。</p>
<p>(《心法》)心病色赤，正色也。見青色，是木能生火，故為順。若見黑色，乃水來克火，為逆也。</p>
<p>(《心法》)腎病色黑，正色也。見白色，是金能生水，故為順。若見黃色，乃土來克水，為逆也。</p>
<p>(《四診心法》)小兒面部氣色，為十二經總見之處。氣血充實，遇部色相生者病易治。若久病氣血虛弱，遇部色相克，則正氣不充，為難治。(《心法》)天庭青暗，主驚風。紅主內熱，黑則無治。太陽青，主驚風。印堂青，主驚瀉。風池在眉下，氣池在眼下。青主驚風，紫主吐逆，左頰赤主肝經有熱，右頰赤主肺熱痰盛。承漿青主驚，黃主吐，黑主抽搐。(《集成》)日角在左額，猶日之東升，一經青色遮掩，為木蔽陽光，有病為最危。太陽在左右兩額，為眾陽之宗，屬火旺夏氣，色宜紅，如黑色掩映，為水克火之象，無治。(心法)瀉痢者，面不宜赤，咳嗽者，色不宜青。感風寒則面有火光；傷積滯則色滯萎黃；氣弱者，囟門低陷；血衰者，頭發枯焦。(《集成》)凡病者，面青脈弦，面赤脈洪，面白脈浮，面黃脈緩，面黑脈沉，此色脈相合為無病。</p>
<p>一經相反，如面青則脈浮，為克色，主死。脈沉為生色，主生之類。(《集成》)黃赤色為陽，故為病主風主熱。青白黑色為陰，故為病主寒主痛。晃白者，淺淡白色也，主失血。否則心不生血，故其色不榮。微黑者，淺淡黑色，腎病水寒也。痿黃者，淺淡黃色，諸虛見病也。兩頰有深紅色者，主陰火上乘，虛損之疾也(《心法》)凡人天庭有黑色，兩顴有赤色，皆大如拇指，或成塊成條者，水火相射，主卒死。抑或唇面青黑，以及五官忽起黑色，或有白色如傅粉之狀，皆無治。(《四診心法》)春木旺，色宜青；青欲如蒼璧之澤，不欲如藍。如當春而白，則為金克木。(《心法》)夏火旺，色宜赤；赤欲如帛裹朱，不欲如赭。如當夏而黑，則為水克火。(《心法》)秋金旺，色宜白；白欲如鵝羽，不欲如鹽。如當秋而赤，則為火克金。(《心法》)冬水旺，色宜黑；黑欲重漆，不欲如炭。如當冬而黃，則為土克金。(《心法》)四時以黃為正色，但黃欲如羅裹雄黃，不欲如黃土。(《心法》)病者以面黃目青，面黃目白，面黃目黑，皆主生，但青如草滋，白如枯骨，黑如煤者死。</p>
<p>(《大全》)凡面赤目黃，面赤目青，面赤目白而病者，不治。(《大全》)凡病面黑目青，面黑目白，面黑唇青，面黑兩脅下滿，不能轉反者死。(《大全》)凡以面青目白，面青目黃，面青唇黑，在病者為無治。(《大全》)凡病以面白目黑，及面無精采者，主無治。(《大全》)初病外感，不妨滯濁。久病切忌鮮妍。惟黃色見於面目，既不枯槁，又不浮澤，為欲愈之候。(陳修園)凡病，面青者死，面晦黑者死。(《大全》)乍白乍黃，疳積連綿。又赤又青，風邪緊急。(萬密齋)面目虛浮，定痛脹而氣喘。眉毛頻蹙，必腹痛而多啼。風池氣池如黃土，則為傷脾。左頰右頰似青黛，即成客忤。(《集成》)風門黑主疝，青主驚，方廣昏暗凶，光滑吉。(《集成》)口頻撮而脾虛，舌長伸而心熱。(萬密齋)小兒前囟門稟母血，後囟門含父精，前後囟門光實者主壽；前後囟門空虛者主夭。(《集成》)凡兒口大鼻端，眉清目秀，五岳相朝，部位相等者主福壽。若口小鼻　，眉心皺促者，雖無病而終夭也。(《集成》)漢張仲景見王仲宣曰：君有病，當眉落，半年而死，令服五石湯可免。仲宣不信，後果如其言。美哉，仲聖之候色也。(《後漢書》)凡青紫之筋散見於面者，多病風熱。(陳飛霞)面赤主熱。然陰盛格陽，面赤而脈沉細者，是為戴陽，法當溫之。(周於蕃)面多白點者蟲積。面黃不潤多蟹爪紋者亦蟲積。(周於蕃)面黃不一者食積。面黃而光潤者，濕熱及痰飲蓄血。面黃而枯暗者，寒濕食積。面黃而黑者脾胃衰。(周於蕃)面白者氣虛。面白無神者，或病後、或脫血、或多汗也。(周於蕃)按：審色本自《素問》區辨綦詳，《金匱》獨論於篇首，是色診為司命所必習者。博采古人之說，參閱今人之證，庶期一望而知，乃足以操活人之術。不為良相而為良醫，所愿習岐黃之業者交相勸勉。篇內所載天庭、印堂、風池、氣池、太陽、方廣、兩顴、兩頰、兩額、五岳、日月角、風門、囟門、地角、承漿諸處，則於診面篇有圖在。(惕厲子)</p>
<h3>診面</h3>
<p>小兒半歲後有病，以無名、中、食三指，曲按額前眉上發際之下。若三指俱熱，是感受風邪。鼻塞氣粗，三指俱冷，是感受風寒，臟冷吐瀉。若食、中二指熱，是上熱下冷；無名、中二指熱，是夾之候；食指熱，是胸膈氣滿，乳食不消。(《蘭台規范》)按：三指診面法，歷載簡編。但其說有應有不應，務須參以別法，以求確當。緣操是術者，性命攸關，非苟焉已也。仲師曰：委付凡醫，恣其所措，為天下後世庸工者戒。(惕厲子)</p>
<p><a href="_files/pn-n1.bmp">全面圖</a></p>
<h3>察眼</h3>
<p>目乃肝之竅，勇視而睛轉者風也。直視而睛不轉者，肝氣將絕也。(夏禹鑄)目之竅，五臟所屬。黑珠屬肝，純見黃色，凶證也。白珠屬肺，現青色，肝風侮肺也。</p>
<p>淡黃色，脾有積滯也；老黃色，濕熱內蘊也。瞳人屬腎，無光彩又兼發黃，腎氣虛也。大角屬大腸，破爛，肺有風也。小角屬小腸，破爛，心有熱也。上胞屬脾，腫則脾傷也。下胞屬胃，色青者，胃有風也。上下眼胞皆腫者，脾經風熱也。睡而露睛者，脾胃虛寒所致也。(夏禹鑄)小兒目連眨者，肝有風也。凡病或新或久，肝風入目，如風吹，兒不能任，故連眨。(夏禹鑄)小兒目無精光，及白睛多而黑睛少者，肝腎不足也。(《大全》)心主赤，目赤甚者，心實熱也；赤微者，心虛熱也。肝主青，目青甚者，肝熱也；淡青者，肝虛也。脾主黃，目黃甚者，脾熱也；淡黃者，脾虛也。(《集成》)眼眶黑，主內有痰飲，眼眶青，主生驚厥。(《大全》)目神短促而無光，瞻視無力而昏暗者，主病夭。目瞪者，膀胱絕也，或有痰涎內擾致之。若目睛稍定，暫時轉動者亦屬痰。(《大全》)目屬肝，肝氣實則眵干硬，肝氣虛則眵膠黏。寒傷肝則淚冷，熱傷肝則淚熱。(惕厲子)赤脈貫瞳，火乘水位，治宜瀉心補腎。(《指南》)凡病者，兩目　有黃色起者，其病方愈。(《集成》)目色赤者心實熱，淡紅者心虛熱；青者肝實熱，淡青者肝虛熱；黃者脾實熱，微黃者脾虛熱；白而混者肺實熱，目無精光者腎虛也。(錢仲陽)驚癇發搐，男則目左視無聲，右視有聲；女則目右視無聲，左視有聲，相勝故也。(錢仲陽)凡病者至危時，必察兩目。故經曰：視其目色以知病之存亡也。(《世補齋》)仲聖云：目中不了了，睛不和；睛不和者，神昏如醉也。無表裡證，大便難身微熱者，此為實也，宜急下之。經云：熱病目不明，熱不已者死。(《世補齋》)小兒眼睛珠黑光滿輪者主壽，雖有疾病亦易愈。若白珠多而黑珠昏蒙、眼珠或黃或小者，主災患。(《集成》)小兒目直視者熱，白膜遮睛者成疳。其病時或目開不合，或目合不開，或哭而無淚，或不哭而淚出者，為肝絕。(《集成》)開目見人者屬陽，閉目不欲見人者屬陰。(《大全》)目忽無明者，脫陰脫血也。目睛定而不轉者，危候也。(《周於蕃》)按：經云：肝開竅於目，人之有目，猶天之有日也。天有日則陽光普照，人有目則精光外發，由中形外，目其最著者。分而言之，則目專屬肝。統而言之，則臟腑皆系於目。六淫感於外，七情傷於內，臟腑病無不見於目。診目一法，亦司命所切要者爾。(惕厲子)</p>
<p><a href="_files/pn-n2.bmp">全目圖</a></p>
<p><u>銳　即小　，屬心與小腸。上下胞屬脾胃。瞳人屬腎。黑珠屬肝。白珠屬肺。內　即　</u></p>
<h3>察耳</h3>
<p>兩耳時紅時熱者，主外感風熱。(《集成》)兩耳尖發冷者，主發痘疹。(《集成》)風門在耳前，少陽經所主。色黑，則為寒為疝。色青，則為燥為風。(《集成》)耳上屬心。凡出痘時，宜色紅而熱。若色黑與白而冷，其筋紋如梅花品字樣，或串字樣，從耳皮上出者，皆逆也。(《大全》)耳下屬腎。凡出痘時，其色宜紅紫帶冷，不宜淡黃壯熱。如筋紋梅花品字樣為順，若如蚤咬芝麻之形者，為險逆難治之候。(《大全》)耳後耳裡屬肺。凡出痘時，其色宜淡白帶溫，不宜紅紫壯熱。如見茱萸形，或燈火燒烙之樣為逆。(《大全》)耳後耳外屬肝。凡出痘時，其色宜青帶溫，不宜淡白冰冷。稀疏者吉，稠密者凶。(《大全》)耳後中間屬脾。凡出痘時，宜蒼黃溫和，不宜青色壯熱，稀疏如黃蠟色者吉，稠密如蟻色帶青者凶。(《大全》)凡出痘，耳後筋三條而枝葉多，色淡紅者吉。系心經發痘，主頭面稀少。(《大全》)凡出痘，耳後筋紫赤色者，主肝經發痘，而急出者凶。(《大全》)凡出痘，耳後筋蒼黃色者，或筋頭大而根轉小，系脾經發痘，主頭面胸腹必稀。(《大全》)凡出痘，耳後筋淡而色白者，枝葉繁亂，系肺經發痘。出如蠶種，主癢塌極凶之兆，三五日必亡。(《大全》)凡出痘，耳筋色黑，枝葉多者，系腎經發痘。主黑陷伏毒，九朝十朝內必死。(《大全》)凡發熱，耳筋出現紫黑赤白皆凶。耳上涼者吉，耳下涼者凶。耳後青筋起，主螈　。(</p>
<p>《大全》)耳色枯焦，主腎涸證危。(《集成》)兩耳後黑筋，橫過發際，主臍下疼，腎氣痛。(《集成》)凡看小兒潮熱之際，以兩耳辨其五色為驗，便知生死輕重之分。(《大全》)耳上起青筋者主肝風，耳聾發狂者陽虛病。(周於蕃)耳痛、耳腫、耳聾者，皆主膽病。(周於蕃)按：耳背上、中、下、分五臟。邵公治痘稱為秘法。乃識者以穿鑿譏之，未為無見。回憶幼時聆先君之訓曰：興化有顧先生者，其面麻，群以顧大麻呼之。取佾生者三，卒未補博士弟子員。治痘有神術，惟酷暑嚴寒，不起之證百中一二。其生平輒自負曰：痘無死證。顧公麻，顧公洵三折肱矣。今春痘疫流行，夭枉甚多。總由寒熱虛實，莫能確辨，亦嬰兒一劫也。</p>
<p>嗣有《痘疹辨證錄》四卷，續刻問世，求海內諸方家惠書賜教，幸甚盼甚。是篇察耳，耳雖為腎竅，而五臟所結，系於耳者居多。外感則或冷或熱，內傷則或暗或滯。善診面色者，神明而熟察之，亦辨證要法也。若徒取以辨痘證則拘矣。(惕厲子)</p>
<p><a href="_files/pn-n3.bmp">耳背圖</a></p>
<p><u>耳珠屬腎，耳葉屬脾，耳上輪屬心，耳皮肉屬肺，耳背玉樓屬肝。</u></p>
<h3>察唇口</h3>
<p>經曰：中央黃色，入通於脾，開竅於口，脾敗而見魚口，則啼不出聲。(《集成》)肺主氣，發於聲出於口為言，肺絕，故聲如鴉聲也。(《集成》)唇屬脾，紅紫熱也，又主蟲嚙積痛。淡白虛也，又主吐涎嘔逆諸失血證。黑者，脾將絕也，主無治。(顧練江)唇紅而吐，胃熱也。唇白而吐，胃虛也。唇色平常而吐，作傷胃論。(《指南》)人中青，主不食，大便難通。(《大全》)唇蹇而縮，不能蓋齒者，脾絕也。口角流涎者，脾冷也。(《大全》)凡病者人中平滿為唇反，唇反者，肉先死。(顧練江)凡唇口腫赤而齒焦者，是熱極。唇燥裂者亦熱。(顧練江)凡唇口青黑者，是寒極，唇黃者，主脾受積熱。(顧練江)小兒唇紅如丹，即發渴候，紅甚焦黑則危。(《折衷》)上唇生瘡，蟲食其臟。下唇生瘡，蟲食其肛。(《傷寒》狐蜮證)口甜，是肝熱脾濕，胃有痰滯也。口咸，是腎水上泛，腎熱也。口淡，胃熱也。口辛，肺熱也。口臭，胃熱也。口苦是心熱又或膽熱也。口酸，肝熱也。又或脾胃氣弱，木乘土位所致也。(顧練江)口乾，脾熱也，口燥，胃家熱極也。(顧練江)口有血腥味者胃熱。口不知食味者津液傷。(惕厲子)唇口生瘡，聲啞者蟲積。唇紫者亦蟲積。(惕厲子)唇燥舌乾者脾熱，唇焦赤者脾熱，唇燥裂者亦脾熱。(周於蕃)小兒口如魚嘴尖起者死，口中氣出不返者死，環口黧黑者死。(周於蕃)口張、腳腫、脈絕者，五日死。口中不仁者外感。口燥齒干形脫者，不治。(周於蕃)按：經脈篇：脈不營則肌肉軟，肌肉軟則舌萎，人中滿。人中滿，則唇反。《難經》二十四難曰：口唇者，肌肉之本也。脈不營則肌肉不滑澤。肌肉不滑澤則肉滿，肉滿則唇反，唇反則肉先死，甲日篤，乙日死。徐靈胎注：滿浮腫也，肉腫則唇亦腫，而反出於外也。藏象論：脾，其華在唇。唇色不一，虛實寒熱從此分，死生亦從此決，辨證者可忽乎哉。(惕厲子)</p>
<h3>察齒</h3>
<p>齒為腎之表，舌為心之苗，心氣散，則舌出不收。腎氣絕，則齒忽嚙人。心腎俱絕，則陰陽相離。(《集成》)凡小兒生而有齒者大凶，主傷父母，否則必自傷。(陳飛霞)凡病者齒燥無津，主陽明熱病。若舌上焦黑無垢，主十三日死。(顧練澄)齒為腎之余，齦為胃之絡。小兒病，看舌後亦須驗齒。(葉天士)熱邪耗腎液者，齒色必黃。黃如醬瓣，宜救腎。(葉天士)熱邪耗胃津者，齒色必紫，紫如乾漆，宜安胃。(葉天士)齒光燥如石者，胃熱也。枯骨色者，腎液枯也。若上半截潤者，是水不上承，為心火上炎也。(葉天士)切牙嚙齒者，濕熱化風為痙病。但咬不嚙者，熱甚而牙關緊急也。(周於蕃)齒垢由腎熱蒸胃濁氣所結。其色如灰糕，則枯敗而精氣俱亡，腎胃兩竭，為無治。(葉天士)齒縫流血者，胃火沖擊則痛，如不痛則出於牙根，腎火上炎也。(葉天士)齒焦者腎水枯，無垢則胃液竭，有垢則火雖盛而液尚未竭也。(葉天士)齒者，眠睡而齒相磨切也。血氣既虛，而風邪又客於牙車筋脈之間，故睡後而邪動引其筋脈，故上下齒磨切有聲，謂之　齒。(《蘭台規范》)齒如熱者病難治。(顧練澄)女子七歲，腎氣盛，齒更。(易也，齒落而更易也。)三七，腎氣平均，故真牙生而長極(真牙者，欲所謂盡頭牙也。)男子八歲，腎氣實，齒更。三八，真牙生。五八，齒槁。八八，則齒發去。《素問》齒或生或去，皆由腎氣盛衰為之。(惕厲子)按：齒為骨。骨者，腎之余也，上齒齦為足陽明胃絡，下齒齦為手陽明大腸絡，載在《內經》。後人以上四門牙屬心，下四門牙屬腎，左右二側牙，上屬胃，下屬脾。其余在左之上者屬膽，下者屬肝；右之上者屬大腸，下者屬肺，終不免牽合之弊。葉香岩於診舌後，必須驗齒，以齒辨證，論熱病者居多。齒屬腎，腎屬水，火極而即以灼水也。(惕厲子)</p>
<h3>察鼻準</h3>
<p>年壽在鼻梁，為氣之門戶。赤光外侵，肺已受傷，則氣不流行，血必凝滯，有膿血之證。(《集成》)山根為足陽明胃之脈絡。小兒乳食過度，胃氣抑郁，則青黑之紋橫截於山根，主生災。</p>
<p>(《集成》)鼻孔為肺竅，干燥，熱也，流清涕，寒也，流濁涕，熱也。鼻準屬脾，紅燥，脾熱也，慘黃，脾敗也。(夏禹鑄)鼻色青，主吐乳，又主腹中痛，肢冷者死。(《集成》)鼻色微黑者，痰飲水氣，又主房勞。鮮紅者留飲，紫暗者時病。鼻色黃者，主痰飲濕熱，胸中寒。白者氣虛，又主亡血。(《集成》)鼻色燥黑如煤煙者，陽毒熱極也。若鼻孔黑潤出冷氣者，為陰毒冷極。鼻上汗出如雨者，心胃病。(周於蕃)鼻孔扇張，以及出氣多，入氣少者，皆無治。(《大全》)無病患，忽現黑色於耳、目、口、鼻邊者，主凶。(周於蕃)噴嚏者，感於風也。若欲嚏而不能者為寒。(周於蕃)鼻鼾難言者風溫，鼻鳴干燥者傷風。(周於蕃)鼻色赤者主肺熱，又主風熱。設微赤非時者死。(《金匱》)鼻色青為痛，色黑為勞，色赤為風，色黃者便難。(《金匱》)病患鼻尖山根明亮，目　黃者，病欲愈。(周於蕃)</p>
<p>《靈樞》曰：明堂者，鼻也。明堂廣大者壽，小者殆。若明堂雖小，與面部相稱者，亦壽。(《經絡全書》)鼻痛者風火，鼻色黃黑而亮者，小腹兩脅痛，及蓄血。鼻尖青黃色者為淋。(周於蕃)鼻扇有虛實新久之分，不可概言肺絕。若初病即鼻扇，多有邪熱風火，壅塞肺氣使然。</p>
<p>若久病鼻扇喘汗為肺絕。(林慎庵)按：是卷以辨證為主，分為十五篇，每篇所載，不過平日記誦之書，逐一翻閱，隨翻隨繕，不分類次。其原本措詞，或有未協之處，間易一二，以求明顯。刻因梓人索稿甚急，無暇搜羅，是篇采集無多，閱者諒之。(惕厲子)</p>
<h3>驗舌苔</h3>
<p>經曰：舌為心竅。舌根屬腎，舌中屬脾胃，舌左屬肝，舌右屬肺，舌尖屬心。又舌尖主上焦，舌中主中焦，舌根主下焦。繪圖於後。(林佩琴)舌苔如地上初生之草，草必有根，無根者為浮垢，刮之即去。地如穢濁，草必暢茂。邪氣入胃，苔必濃膩。故以舌苔驗病之虛實寒熱，邪之淺深輕重。(《溫熱經緯》)舌上無苔為在表，鮮紅為火，淡白為寒。(指無苔言。)若有白苔為半表半裡，黃苔為在裡，黑苔病入少陰，主危險。(陳修園)溫邪舌白而燥者，肺陰亡也。舌白如粉者，熱據上焦也。白苔在雜證，是胃中積滯。白苔在溫證，亦屬積滯，定屬熱邪，一二日變成黃黑矣。舌白而干者多譫語，舌白而尖漸紅，口漸燥者皆屬熱。(《溫熱經緯》)舌白為寒，如白而不燥，須問其口中和否。如口中自覺黏膩，濕漸化熱。口苦而渴者，邪已化熱。或渴喜熱飲，邪雖化熱而痰飲內盛也。(《溫熱經緯》)舌白屬氣，主病在氣分，則白苔不必盡屬於寒也。(《溫熱經緯》)舌苔白濃而干燥者，胃燥氣傷也。舌白而薄者，外感風寒也。若白薄而干者，肺津傷也。(《溫熱經緯》)白苔黏膩，吐涎沫而濁濃者，口必甜味也，為脾癉病。濕熱之氣與穀氣相搏，土有餘也。盈滿則上泛，宜芳香辛散以逐之，苔白如鹼者，胃中宿滯，穢濁鬱伏，急宜開泄。(葉天士)白苔如積粉之濃，其穢濁重也。溫疫病初入膜原，未歸胃腑，急宜透解。(葉天士)舌潤如常而未生苔者邪在表。苔白而滑者邪入裡。(周於蕃)苔白而中黃者邪入胃。苔於白而中心黑者危。(周於蕃)舌絳(深紅色也)者，熱入於營也。舌尖絳而干者，心營熱熾也。舌中絳而干者，胃火熱灼也。若望之似干，以手捫之尚有津液，濕熱熏蒸，濁痰蒙閉也。(葉天士)舌初絳而兼黃白色者，氣分邪尚未盡，純絳鮮色者，病已入營也。絳而光亮者，胃陰亡也。絳而澤潤者，雖屬營熱，實因有痰，故不干燥也。(葉天士)舌絳而上有黏膩，似苔非苔者，中夾穢濁之氣。舌絳而短，難於抵齒者，痰阻舌根有內風也。(葉天士)舌絳而光亮，胃陰亡也。舌絳而有碎點或白或黃者，當生疳也。大紅點者，熱毒乘心也。(葉天士)舌絳而無苔者，熱傷血分。舌絳而譫語者，熱入心營。(周於蕃)舌紅者暑證，紅極者溫毒。舌紅嫩如新，望之潤而捫之干者，妄行汗下，津液竭也。(周於蕃)舌底絳而面有白苔者，濕熱遏伏也。舌絳而干縮者，腎陰竭也。(周於蕃)舌絳而紫，紫而暗，潮濕不干，內有瘀血。若晦而干者，精血已枯，邪熱乘之，總由腎色黑，肝色青，青黑相合而見於舌。變化紫晦，為腎肝色泛，多無治。(王孟英)舌黃主熱，為邪以入裡。或淡黃，或老黃如沉香色，或中有斷紋者主熱。(葉天士)溫邪辨證最速，舌色一黃，頃刻即成灰黑，以其火中夾風也。天下至速者，莫如風火，火就燥，口渴舌乾，皆熱邪橫肆，彌漫三焦也。(周於蕃)舌苔黃而濃膩者，熱據中焦也。苔黃而或兼白者，熱滯胃脘也。(周於蕃)苔黃而滑者熱尚輕，苔黃而干者熱已盛。苔中黃而兩邊白者邪入裡。(周於蕃)苔黃而帶灰色者胃熱，苔黃而帶黑色者危。(周於蕃)苔黑有虛實寒熱。黑而燥者為熱，黑而潤者為寒。(王孟英)陽虛而舌黑者，潤而不燥，或無苔而如煙煤者，是腎水來乘心火。(王孟英)陰虛而舌黑者，不甚燥，不甚渴。其舌赤，或舌中黑而無苔垢，舌本枯而不甚赤，宜壯水滋陰。(《溫熱經緯》)舌中無苔，而舌根有黑苔干燥者，熱在下焦也。(《溫熱經緯》)舌本無苔，惟尖黑而燥，為心火自焚，不可救藥。(《溫熱經緯》)苔黑而滑者，水來克火，為虛寒證，當溫之。若見短縮，腎氣竭也。(《溫熱篇》)舌黑而燥者，津枯火熾也。宜瀉南補北。若燥而中心濃者，土燥水竭，以鹹苦下之。(</p>
<p>《溫熱篇》)舌黑而潤者，外無險惡情狀，胸有伏痰。暑熱證夾血，亦多有之，切勿誤作陰證。(何報之)淡紅無色，或干而不榮，胃津傷而氣不能化液也。(《溫熱篇》)苔不拘何色，而忽生芒刺者，上焦熱極也。或斷紋燥裂，亦主熱。(《溫熱篇》)舌焦而齒煤，唇血燥裂者，火熾血涸，欲成風痙也。(《溫熱篇》)有熱無濕者，舌無苔，即有苔亦薄。若有濕有痰而熱者，必有濁苔，但濕在表者亦無苔。(周於蕃)初病，苔自濃，宜宣通氣分。久病，苔黃濃，宜宣通血分。病久有苔而燥，瀉積救陰；病久無苔而干，滋陰養液。(林佩琴)雜證舌中絳而干，須清營熱。雜證舌灰有津，須引火歸原，雜證苔黃，其味或苦或酸，皆脾經有熱。(林佩琴)舌黑有虛寒，有實熱。虛寒者，舌必潤。實熱者，舌必燥。舌黑譫語屬熱，無譫語屬寒。(惕厲子)舌白有寒有熱，無苔而淡白者寒，有苔而濃白者熱。舌白而干者熱，舌白而潮者寒。而淡白而以為口乾者，則病患自覺干，而視舌者不見其干，宜用桂附補命火，則津液薰蒸上潮於肺，不得以口乾而用寒涼。(林佩琴)舌灰而燥者，急下存陰。舌灰有津者，宜桂附溫裡。肥人舌灰有津亦然。(林佩琴)苔潤有液者為寒，苔燥無液者為火。舌上無苔，如去油豬腰，為亡液。名鏡面舌，主危險。(陳修園)舌有半邊干半邊濕者，為膽病。舌半邊白苔，半邊黃黑苔者危。(周於蕃)舌中黑而燥，兩邊或白或黃者，兩感證。舌中黑而潤，兩邊白者表裡皆虛。(周於蕃)舌半黑半黃，或半黃半白，或中干邊潤，或尖干根潤者，傳並之邪。(周於蕃)白苔有黑點者，胃熱也；有紅點者，火炎也。舌紅有白點者，邪入心胞也；有黑點者，胃熱也。(周於蕃)舌紫腫大者酒毒，紫暗而摸之濕者，瘀血夾熱也。(周於蕃)舌中醬色者，夾食傷寒也。舌藍色者，肝絕也。(周於蕃)苔灰而薄者邪輕，苔黑而濃者邪重。苔漸退者邪亦退，苔漸進者邪亦進。(林佩琴)凡有苔而退者，由舌尖退至中，由中退至根。若舌本干燥，服藥後有津，苔必退。亦有舌尖、中、根漸薄而一起退者。(林佩琴)苔因食酸而變者，為染苔。食橄欖則黑，食枇杷則黃。(王孟英)舌青皆厥陰之病。凡病者舌青主寒，無治。至婦人胎死腹中，則舌灰舌青又一說也。(林佩琴)小兒弄舌者主熱，若大病未已而弄舌者凶。(錢仲陽)病初起，舌乾而脈滑脘悶者，痰阻於中，而液不上潮，未可率投補益也。(王孟英)舌紅，而更有紅點如蟲蝕之狀者，熱毒熾盛，火在上，水在下，不能相濟也。(周於蕃)舌紅而更有裂紋如人字形者，君火燔灼，熱毒炎上也。舌淡紅而中有大紅星者，亦君火燔熾。(周於蕃)按：《內經》辨色而舌苔獨遺，近代諸方家詳言之，實有可據。張誕先著《舌鑒》，列圖疏方，只論傷寒，不論雜證，殊多遺漏。葉香岩《溫熱論》辨舌色獨出手眼，超絕千古，殆所謂別有神悟，洵不傳之妙法也。故是篇本葉氏最多，聊注數語，以見向往欽佩之忱。</p>
<p><u>惕厲子於太乙燃藜照讀日志</u></p>
<p><a href="_files/pn-n4.bmp">全舌圖</a></p>
<p><u>舌尖屬心，主上焦。舌中屬脾胃，主中焦，舌根屬腎，主下焦。</u></p>
<h3>診指紋</h3>
<p>幼科指紋，迄無定論。有謂不必用者，有用而至於怪誕不經，惑人聞見者，皆未深悉指紋之理。指紋與寸關尺同一脈，按《內經》十二經絡，始於手太陰，其支者從腕後出次指之端，而交於手陽明，即指紋是也。指紋起於宋人錢仲陽，以食指三節，分為三關。寅曰風關，卯曰氣關，辰曰命關，紋見風關，證輕；紋見氣關，證重；紋見命關，證危。雖未必其言悉應，而其義可取者，位則自下而上，證則自輕而重也。總之，指紋與太淵脈相通。凡有外邪在皮毛腠理之間，太淵脈浮，指紋亦顯露於外，謂之表證。及邪入裡也，淺深有別。若指紋半沉，邪在陽明胃經，指紋極沉，邪在陽明胃府，所謂以浮沉分表裡也。小兒肌膚晃白，唇色慘淡，多屬陽虛。指紋四時皆淡，雖有病亦止淡紅、淡青、淡紫而已。淡紅為虛寒，淡青為虛風，淡紫為虛熱，此蓋根本不堅，中氣怯弱，無論新病久病，總歸於虛。切不可攻伐克削。若病邪遏郁，營衛阻滯，升降羈留，指紋推而澀滯，絕無流利之象，由痰食風熱相搏，是為實證。所謂以淡滯定虛實也。其審紋也，紋直則熱，紋曲則寒，紋多如脈數，紋少如脈遲。紋入掌中，主腹中寒痛；紋向中指彎者，為內，為順證，為外感風寒；紋向大指彎者，為外，為逆證，為內傷痰食；紋如魚刺，風痰皆熱。紋如三叉，痰嗽不止；紋如生花，紋如丫樣，或兩丫齊上，透出三關，或向外彎而侵於指甲者，為難治。其辨色也，紫主熱，紫而兼青主傷食。青主風、主驚。青而兼黑，主痰滯抑郁。紅主寒，白主疳疾，黃主脾困，黑主中惡、危險、無治。或謂黃為中和之氣，紅乃衣冠文物之色。紅黃隱隱，主身安無病。要不可不察。或又謂青主肝病，或發驚，或傷風。肝木乘土，或腹痛泄瀉，糞帶青色，以兒常啼哭為驗。黃主脾病，食積內傷，腫脹腹滿，吐瀉痞積疳疾等證。赤主心病，痰涎壅盛，驚悸不寧。</p>
<p>白主肺病，咳嗽痰積。黑主腎病，臟腑中寒中惡，危急堪虞。其診指紋也，令人抱兒對立於向光之處，醫者以左手握兒食指，以右手大拇指側面，蘸口津，由命關推上氣關、風關，指紋愈推愈出，切不可覆指以指面推之，以指面螺紋有火，剋制肺金，紋必變色，大損肺氣，慎之戒之。</p>
<p>按：診指紋以辨證，肇自錢氏，而其說有然有不然，必須參以望色諸法，方昭確實。論語注醫所以寄死生，非泛常托業者比。(惕厲子)</p>
<p><a href="_files/pn-n5.bmp">指紋圖</a></p>
<h3>察手足</h3>
<p>指爪屬筋余，脾為之運。小兒指尖冷，主驚厥。中指獨熱者屬寒；中指獨冷者，分男左女右為痘痧發見之象。或其掌心冷而十指或開或合者，無治。(夏禹鑄)小兒拳四指己握，而大指加於四指上者，男順女逆，小兒拳大指先屈於掌中，而四指加於大指上者，女順男逆。小兒拳將大指插入食指叉而後握之，無論男女急慢驚風，均屬險證，三歲內至十歲外，皆可以此決之。(周於蕃)指甲青者為心痛，又為肝氣絕；指甲黑者筋絕；指甲白者死；指上有紅絲縷者必夭。(</p>
<p>《大全》)小兒熱邪傷神，手如數物，謂十指屈伸不定，如數物之狀然也。(《大全》)凡病者手足、指甲下肉黑，八日死。(《大全》)凡病者手掌腫而無紋，為無治。(《大全》)抽衣撮空，循衣摸床，以及手撒不收者，皆無治。(周於蕃)手熱足冷，頭痛發熱者，為挾陰證。(周於蕃)手熱足冷，汗多妄言者，暑濕病也。(周於蕃)足心熱，主熱；足脛冷，主寒。(《集成》)足趺腫，嘔吐頭重者。不治。(《大全》)足趺上腫，兩膝大如斗者，十日死。(《大全》)手背熱與背上熱者，外感；手心熱與小腹熱者，內傷。(周於蕃)手心冷者腹中寒，手心熱者虛火旺。(周於蕃)足冷而暈者，氣虛也。手足抽搐，身反向後者，痙病。(周於蕃)額上及手足冷者為陰證。如不能久立，行則掉動者，骨敗故也。(周於蕃)仰睡而腳伸者熱證，覆臥而腳蜷者寒證。(周於蕃)手腫至腕，足腫至跗，面腫至頸，皆氣虛不還，為最危。(周於蕃)按：脾主四肢。四肢厥逆，有寒有熱，三陰證四肢厥冷，人所習見者寒厥也。厥盡也，陽盡而陰生，故四肢冷也。若熱厥較寒厥尤多。《經》云：熱深厥亦深，熱微厥亦微，同此厥逆，寒熱不分，生死立判，以之辨證，則手足尤為至要。(惕厲子)</p>
<h3>聽聲</h3>
<p>凡小兒聲音清亮者壽，有回音者壽，哭而聲澀者病，散而無聲者夭。(陳飛霞)凡聲微者氣不足，聲壯者氣有餘，哭而無淚者實，哭而多淚者虛。(惕厲子)發熱而靜默者邪在表，發熱而煩燥者邪入裡。(周於蕃)聞聲而受驚者，肝虛也。(《集成》)聲濁而重者感於濕；或聲如從瓮中出者，亦中濕。(周於蕃)言遲者風，言急者火。聲高而響者，主內熱外達。(周於蕃)凡癇證，聲如羊者為心癇，聲如雞聲為肺癇，聲如豬者為腎癇，聲如犬者為肝癇，聲如牛者為脾癇。(《蘭台規范》)聲塞者為痰，聲戰者為寒，聲壯者為熱。(惕厲子)氣衰言微者為虛，氣盛言厲者為實，狂言怒罵者為實熱。久病聞呃者為胃絕，痰聲漉漉者死。(陳修園)寒病懶言，熱病多語；言壯為實，言輕為虛，言微則氣奪，出言而首尾不相顧者，為神喪。(《心法》)凡病者語言聲音，不異於平時為吉，反者為凶。(陳修園)聲啞於勞損見之，為無治。(周於蕃)譫語為實，鄭聲為虛，皆主熱。鄭聲者如夢如囈。(《傷寒論》)小兒聲大而亮者，臟腑充實。如向無大聲啼哭，必有一臟陰竅未通，或音如啾唧咿唔之狀，主夭傷。(陳紫山)聲雖啞而咳者，水寒傷肺。聲如破而咳者，外寒裡熱。(周於蕃)中醫聽聲，聲合五音。火聞水聲，煩悶干驚。木聞金聲，恐畏相刑。脾者，土也，生育萬物，回動四旁，太過則四肢不舉；不及則九竅不通，六識閉塞，猶如醉人。四季運轉，終而復始。(《後漢書》)出言遲懶，先輕後重者，內傷氣虛。出言雄壯，先重後輕者，外感邪盛。(周於蕃)聲重鼻塞者，傷風。聲暴啞者，風痰伏火。或暴怒叫喊，聲濁者痰火。平時無寒熱，氣短不足以息者，亦痰火。(周於蕃)按：扁鵲云：聞而知之謂之聖。寒主靜則少語，熱主煩則多言。虛則聲細，實則聲出如常。</p>
<p>若精而求之，則以五藏有正聲，以合於五音者為常，變則病生，其義蘊載於《素問》、《金匱》者居多。(惕厲子)</p>
<h3>按胸腹</h3>
<p>胃之大絡，名曰虛裡，在左乳三寸下。其動微而不見，為不及，宗氣內虛也。或動而應衣，為太過，宗氣外泄也。若三四至一止，五六至一止，主有積聚也。若絕不至者危。經曰：虛裡無動脈者死。(《心法》)人以胃氣為本，故虛裡之動，可以辨病機之輕重。按之應手，動而不緊，緩而不急者，宗氣積於膻中也，是為常。其動洪大而彈手，與絕而不應者，俱胃氣絕也。(《陽山原文》)平人膻中靜者為佳，虛裡者，脈之宗氣也。視之不見，按之漸動，如應如不應者為吉。</p>
<p>若胸中陽氣衰，其動高逾乳，至中府、云門者凶。虛勞勞瘵，逐日動高者為無治。(台州)虛裡與寸口相應，虛裡高者，寸口亦高。寸口結者，虛裡亦結也。(《診病奇　》)虛裡動而高者為惡候，妊婦最忌。若產後而發危急之證，以及黃胖病，或驚惕，或奔怒，或強力而動支體者，虛裡動雖高無患也，是不可不辨。(南陽)凡治小兒不論諸證，宜先揣虛裡穴，若跳動甚者不可攻伐，以其先天不足也。幼科能遵吾言，造福無涯，此千古未泄之秘也，珍之貴之。(《柳州醫話》)小兒脈候難憑，惟揣虛裡穴，確有可據，即以之治大人亦然也。《王孟英》胸腹者，五臟六腑之宮城，陰陽氣血之發源，若欲知其臟腑如何，則莫如診胸腹。(《對時論》)察胸腹宜按撫數次，或沉或浮，以察胸腹之堅軟，拒按與否，可以知虛實也。(《診病奇》)上中下三脘，以指撫之，平而無澀滯者，胃中平和而無虛滯也。按中脘雖痞硬而不如石者，飲癖也。(《診病奇　》)虛裡動氣有三候，淺按便得，深按卻不得者，氣虛之候。輕按洪大，重按虛細者，血虛之候。有形而動者，積聚之候。(《該病奇　》)診胸腹，輕手循撫，自鳩尾至臍下，知皮膚之潤燥，可以辨寒熱。中手尋捫，問疼不疼者，以察邪氣之有無。重手推按，更問疼否，以察臟腑之虛實，沉積之何如，即診脈中浮中沉之法也。(《對時論》)診腹之要，以臍為先。人身之有臍，猶天之有北辰也，故名曰天樞，又曰神闕。是神氣之穴，為保生之根，徐按之而有力，其氣應手者，內有神氣之守也。若按之而氣不應者，其守失常也。(陽山)凡診腎間之動氣者，密排右三指，或左三指以安臍間，和緩有力，一息二至，繞臍充實者，腎氣充也。一息五六至，屬熱。手下虛冷，其動沉微者，命門不足也。手下熱燥不潤，其動細數，上支中腕者，陰虛也。按之分散，一息一至者，為原氣虛敗之候。(《診病奇　》)診腹先可診臍。按之有力者，無病也。按之無力如指如香灰中者，為無治。(壽安)臍上下左右推之不動者，常也。然氣弱者推之則移於一方，右移者左絕也，左移者右絕也，上下亦然，是之謂臍絕。病者見之為無治，惟高年無害。(《南溟》)臍通五臟，真神往來之門也，故名神闕。與腎附於脊之十四椎相對，如南北極是也。凡臍以深大而堅固左右上下推之不動，輪(腹皮相聚為輪也。)廓(臍如小酒杯底為廓也。)約束者，為真神安全。倘有大病猶可治，但暴病非此例。(《台州原文》)小腹左右常結者，皆蓄血也。其痛者非食積蟲積之候，是蓄血而或為疝者。(《台州原文》)小腹有燥屎者，必近迫橫骨，左邊累累成塊，其狀稍長，按之不痛，左邊充滿則及右邊。(《台州原文》)臍之上下任脈見者，脹大如箸，為脾腎虛。此脈見平人則發病，病患則難治。勞傷陰虛火動之證，多有此候。有郁氣者亦常有之，不為害。醫者宜精察。(白竹)久病腹皮貼背，當臍上下，有堅硬而結，排之不動者，是脊骨也。(《台州原文》)肝病者，兩脅下痛引小腹，故肝病須診兩脅。兩脅皮肉滿實而有力者，肝平也。兩脅空虛無力者，為肝虛，及中風一切筋病之候。男子積在左脅者屬疝氣，女子塊在右脅者屬瘀血也。</p>
<p>(《台州原文》)痞積疝氣一切等證，著左者易治，著右者較難，左屬陽，右屬陰也。(良務)鳩尾動氣不高者為風寒邪熱，鳩尾動氣而高者為痘疹。掌中動脈盛者，亦痘疹也，痘發則動止，發而仍動者，痘毒熾也。為最危。(《南溟》)治痘察寒熱，以診腹為主，診腹以任脈為要。真寒者，以腹兩旁雖熱，於任脈久按之，則無熱而為冷，雖有口渴脈數，痘色紅紫等證，是為假熱。若按任脈而有熱者，雖寒戰切牙，痘色淡白下利等證，是為假寒。　(《宗柳》)察寒熱，在任脈水分以上診之。手按久則自辨。察虛實，在臍下或左或右，動而低者毒輕，動而高者毒重，虛裡動甚者險證也。(《診病奇　》)病診腹有三候，腹有凝結如筋而硬者，以指久按，其硬移他處。又就所移者按之，其硬又移他處。或大腹，或臍旁，或小腹，無定處，是一候也。右手輕輕按腹，為時稍久，潛心候之，有物如蚯蚓蠢動，隱然應手，甚至腹底微鳴，是二候也。高低凸凹，如畎畝狀。熟按之，起伏聚散，上下往來，浮沉出沒，是三候也。(玄　)水腫脹滿證，按之至臍，臍隨手移左右，重手按之離乎脊，失臍根者必死。(《陽山原文》)脈候有熱，而腹候無熱者，是表熱而其熱易去也。按腹而熱如燒手掌者，是伏熱而其熱不易去也。小兒暴熱，其輕重難以脈辨，而診腹可以決定矣。若心下動而其熱烙手者，尤不可忽。(南陽)左右不容、承滿處痛，按之痛益甚，或引於胸腹中，漉漉有聲，時吐水汁，吐則痛減，是為　囊。宜溫藥，宜減飲食。(台州)腹痛有食痛積痛，痛在心下，瘀血痛在臍旁小腹，按痛處則有塊應手。腸癰痛右足攣急，小便淋瀝。痰飲痛者，其痛動移無定處也。(東郭)凡小兒肚腹高起，為心突，為肺脹，肺絕也。(周於蕃)肚大青筋，其臥如縛者，為無治。(《集成》)腹者，水穀之海，腹皮寬濃，水穀盈也，主壽。(陳飛霞)臍者，腹之中央，內居大腸。繞臍而痛，乃燥屎結於腸中，欲出不出之狀。(張令韶)小腹未硬痛者，邪在表，若已硬痛者，邪入裡也。(周於蕃)小腹痛，脈沉遲者，為陰寒，當溫之。(周於蕃)腹脹而鳴，肢冷而瀉，發熱、形瘦，脈大者死。(周於蕃)按：胸主分布陰陽，腹為陰中之至陰。食積痰滯瘀血，按之拒、按之不拒，其中虛實從此而辨，此其常解也。乃驗胸以虛裡，驗腹以神闕，辨證恰在此。是人所罕見者，則於望、聞、問、切四診之外，更增一法，較為精詳。(惕厲子)</p>
<h3>詢溲便</h3>
<p>中氣不足，溲便為之變。(《素問》)大便先硬後溏者，不可攻。(張仲景)凡小溲赤澀為熱，經曰：肝有熱則小便先赤也。(惕厲子)凡小兒小便由睡中自遺者，謂之尿床，皆腎與膀胱有虛寒也。(《蘭台規范》)小兒初溲黃赤色，落地良久，凝如白膏者，謂之尿白。為傷脾所致，久而成疳。(夏禹鑄)傷寒小水利者，太陽之氣未劇，吉兆也。(張景岳)凡病者，尿自遺而不如，為無治。(《集成》)溲白為寒，混白如米泔者，為濕熱。(周於蕃)溲紅為熱，黃亦為熱，若淺紅淡黃者為陰虛，溺多心煩者不治。(周於蕃)腸熱者溺黃，腸寒者溺白。(周於蕃)溲短黃澀痛，心熱也；清長而利，心虛也。(周於蕃)凡大便色青者為寒，然亦有因風瀉者，其色亦青，肝木乘脾也。(《鐵鏡》)水液澄清，下利清穀者為寒。(《鐵鏡》)大便老黃色者，心、肺、脾三經實熱；若淡黃色者，為虛熱。(《鐵鏡》)糞如蟹渤，暑濕內搏，脾熱之證也。(江夢花)大便醬色者屬濕，白色者屬脾虛。(夏禹鑄)大便味餿臭者傷食滯，一痛則便，便則痛減，味極穢臭，便時肛門惡熱者，為極熱。</p>
<p>(夏禹鑄)大便味如敗卵腥臭者，傷乳食。(《集成》)大便如紅水而黏者，為暑熱。(《集成》)大便時急迫作聲者屬熱。(《指南》)大便黑如膠漆者，主濕熱凝滯。(周於蕃)大便熱結，腹中堅滿者，屬有餘；若新近得解，而不甚干結，或旬日不解，而全無脹意，非陽明實邪。(張景岳)按：病寒即見寒證，病熱即見熱證，寒者溫之，熱者清之，此其易能也。若內真寒而外假熱，內真熱而外假寒，其中誤人者甚夥。經云：重寒則熱，重熱則寒。又曰：寒甚則熱，熱甚則寒。又曰重陰必陽，重陽必陰。又曰：水極而火，火極而水。又曰：陽盛格陰，陰盛格陽。古人再三垂誡，反復立言，深恐證涉疑似，後世為其所惑耳。溲由前陰出，便由後陰出，寒自寒，熱自熱，以此區辨，則真假能立判矣。(惕厲子)</p>
<h3>候脈</h3>
<p>小兒一歲後，手腕短促，按脈為難。診者用一指轉側，辨寸關尺三部，以浮取、中取、沉取候之。左九候，右九候。三五歲，脈以七八至而細數者為平和。增為熱，減為寒。(《集成》)浮(輕手著於皮膚之上而即見也。)主表，屬腑，屬陽。風邪六氣，外因之病。有力為表實，無力為表虛，皆浮也。虛弱病久，臨危時，脈亦無力而浮，為外感內傷之別。(《心法》)浮而虛甚為散脈，主神離氣脫。浮如蔥管為芤脈，主亡血。浮如按鼓為革脈，主亡精。</p>
<p>浮而柔細為濡脈，主傷濕，又主血虛。浮而有力為洪脈，主嘔脹，又主陽盛陰虛。浮而無力為虛脈，主血虛。(陳修園)沉重手按於肌肉之下而始見也。主裡，屬臟屬陰，七情飲食，內因之病。但暴怒者、水腫者、腹痛極者、瘟疫汗下不能出者，脈亦沉。(《心法》)沉而著骨為伏脈，主熱邪內郁。沉而底硬為革脈，沉而細軟為弱脈，主氣衰，然清貴者有此脈。(陳修園)遲(一息脈來二三至，或一息一至。)主寒，屬陰。有力為寒痛，無力為虛痛。傷暑、滯食、困水，以及冷風迫汗、凝滯氣血者，脈皆遲。(陳修園)遲而不愆為緩脈，遲而不流為澀脈，主血少。遲而偶停為結脈，主積聚，又主陽微，以及氣鬱血壅痰滯。遲而止有定數為代脈，主氣竭，妊娠無忌。(東修園)數一息脈來五六至，或一息七八至也。主熱屬陽。有力為實熱，無力為虛熱。但內痛甚者、汗將出者、虛陽將越者、瀉痢、痞瘍、初產、喘咳、脈亦數。(陳修園)數而流利為滑脈，主痰飲食積。數而牽轉為緊脈，主寒，主痛。數而時止為促脈，主三焦鬱火。數見於關為動脈，主痛、主驚，男亡陽，女血崩。(陳修園)大脈狀粗大如指如箸。主實，邪氣盛，胃氣衰，故脈大而不緩。(陳修園)大而涌沸為洪脈，大而堅硬為實脈。(陳修園)細脈狀細小如線也。主虛，屬陰。又主真陰將亡。(陳修園)細而不顯為微脈，主陽微欲絕。細而小浮為濡脈，細而小沉為弱脈。(陳修園)短脈來短促，上不及寸，下不及尺。主素弱，又主傷酒，以及三焦氣壅，宿食不消。(陳修園)長脈來迢長，上至魚際，下至尺澤也。主素強，平脈也。(陳修園)虛應指無力。主虛。身熱為傷暑，不熱為血少。(陳修園)虛而沉小者為弱，主血虛。虛而浮小者為濡，主氣虛。虛而模糊者為微，主目陽氣絕。</p>
<p>虛而干滯者為澀，主血虛，亦主死血。(陳修園)虛而形小為細，主氣冷。虛而形縮為短，主氣損。(陳修園)實應指有力。主實，又主熱鬱，以及傷食、氣痛、譫語等證。(陳修園)實而流利者為滑，主血病。實而迢長者為長，主氣滯。實而涌沸者為洪，主熱極，亦主內虛。實而端直者為弦，主肝邪症瘕疝瘧。(陳修園)緩脈來四至，從容不迫。主正復，平脈也。但緩而和者主正復，緩而怠者主中濕。(陳修園)兩手六部，皆為肺脈。肺為臟腑之華蓋，凡一切臟腑病，其氣上薰於肺而應於脈。心病六脈皆洪，肝病六脈皆弦，腎病六脈皆沉，肺病六脈皆澀，脾病六脈皆緩。按之指下濁者為邪甚，清者為正復；有神者吉，無神者凶；有力者為熱、為實，無力者為寒、為虛，此為最驗。</p>
<p>(陳修園)凡病內虛者，脈弱為宜，洪大則忌。病外感者，陽脈為宜，陰脈則忌。(陳修園)凡脈有胃氣，有神氣而和緩者吉，合於時令者吉，與面上五色中見那一色相生者吉，反是者凶。(陳修園)何為無病脈。一息四至是也。何謂五臟早脈。心宜洪，肺宜澀，肝宜弦，脾宜緩，腎宜沉，又兼一段沖和之氣，為胃氣是也。何謂四時平脈。春弦、夏洪、秋澀、冬沉、四季之末和緩是也。何謂男女異脈。男為陽，寸大於尺；女為陰，尺大於寸是也。(陳修園)雀啄連連，止而又作，為肝絕。屋漏水落，半時一滴，為胃絕。彈石沉弦，按之指搏，為腎絕。忽密忽疏，亂如解索，為脾絕。本不動而末搖，如魚之翔，為心絕。蝦游冉冉，忽然一躍，為大腸絕。釜沸空浮，絕無根腳，為肺絕。(陳修園)診外感，其初則由經絡，病在表，輕者寸浮盛，重者關尺亦浮盛。迨傳入裡，內熱重則脈沉矣。病在上則見於寸，病在中則見於關，病在下則見於尺。(王漢皋)寸脈伏，無虛證，是風寒閉也，為表虛，不可發汗。尺脈伏，無虛證，是濕熱閉也，為裡虛，不可利二便。(王漢皋)左脈弱，右脈強，主汗多，遺精，肝鬱證。右脈弱，左脈強，主腹痛易怒。及誤服補火丸散，必生肝熱，滑精諸證。(王漢皋)右脈盛，左手無脈，主痰結氣虛。左脈盛，右手無脈，主食滯肝鬱。(王漢皋)脈有反象，皆鬱極而閉阻者也。如肝病左關弦，郁則弦而細，鬱極則細而結，甚則伏。</p>
<p>然其弦反見於相克之經，故右關弦也。余例推。(王漢皋)保精日久者，兩尺俱盛，故六脈重取皆實，無遺精病。(王漢皋)男右脈強，左脈沉細無力者，主氣弱，內有濕熱也，不數日必遺精。若尺弱者必已遺精也。女脈如是者必白濁白淫。脈有結者必白帶。(王漢皋)寸脈強，尺脈弱，主陽實陰虛。每病上熱下寒，上實下虛，浮陽上越，虛寒等證。(王漢皋)寸脈弱，尺脈強，主陽虛陰實，每易病風寒，及濕熱等證。宜細辨。(王漢皋)凡無病者，浮取無脈，為表虛，以平素易汗為據。即有外感，汗劑宜慎。沉取無脈，為裡虛，以平素易泄為據。即有積滯，攻下劑宜慎。中取遲弱者中氣虛，以平素不能食，精神弱為據。惟生而雙伏之六陰脈，不在此論。以其人能食而精神不弱為據。(王漢皋)一部脈見三象四象，如右寸洪，肺熱也；洪而滑，又有痰，而中有一線之細，是其雖細而力強，乃能見象於洪滑之內，主上焦有痛。不為促結弦大而為細，其痛是鬱熱，非實火，治宜解鬱清肺化痰，不宜寒涼，不宜攻伐。余仿此。(王漢皋)勞病吐血脈浮，若重診無脈，是無根將脫也。一切虛病、老病、久病、產病，均貴重診有脈也。大汗者，其脈輕診弱，重診強，乃有未出之汗，雖止之而不能止。若輕診強，重診無，亦將脫也。惟浮沉皆得，脈力平緩，愈之象也。(王漢皋)感寒者畏寒，左三部皆浮數，故身熱而痛。左魚際亦浮數而細，故頭大痛。若右三部亦浮數，則惡食。如無風則無汗，非陽明熱者不渴。(王漢皋)凡兩關重取至數不勻，而見結促，即郁也。須解肝脾郁。在雜疾須先解鬱，而後治病。</p>
<p>常有脈證相符，醫治不應者，皆有郁未解也。(王漢皋)按：《褚氏遺書》多診識脈。識脈者必辨脈，辨脈者辨其形象也。浮脈輕清在上，輕按即見，如木漂於水面也。沉脈重濁在下，重按乃得，如石墜於水底也。遲脈往來遲慢，為不及之象。數脈往來急迫，為太過之象。大脈形粗，如箸如指。細脈形細，如絲如線。短脈不及本位。長脈過乎本位。虛脈遲大而軟，按之無力。實脈浮沉皆見，長大帶弦，按而有力也。緩脈往來和勻，如春風微吹楊柳梢也。濡脈浮而軟，如帛在水中，輕按即見也。洪脈如洪水波濤洶涌之象。浮而有力，來盛去衰，即大脈鉤脈也。澀脈艱澀而遲，如輕刀刮竹也。滑脈流利不止，如珠走盤也。弦脈剛勁而直，可以舉百鈞，有力之象。弱脈柔軟而細，不能舉一羽，無力之象。芤脈中空，是實而空者，如搦蔥管也。革脈中空，是實而空者，如按鼓皮也。</p>
<p>緊脈緊急有力，即不松之謂，如轉索也。散脈浮散無力，即不聚之謂，如楊花飄散也。伏脈沉伏於下，推筋著骨始見也。結脈遲而時有一止也。促脈數而時有一止也。動脈兩頭俱俯，中間高起，形如豆粒，厥厥動搖也。代脈遲而中止，不能自還，每至一止有定數，如四時之禪代不愆其期也。脈象既辨，而一部見二象、三象、四象者，乃一一能識也。是卷以幼科診治，脈理尚未備載，若廣而求之，則有脈經在。(惕厲子)</p>
<p><a href="_files/pn-n6.bmp">左寸關尺圖</a></p>
<p><u>左寸(表)小腸(裡)心　主上焦</u></p>
<p><u>左關(表)膽(裡)肝　主中焦</u></p>
<p><u>左尺(表)膀胱(裡)腎　主下焦</u></p>
<p><u>掌後高骨為關，關前為寸，關後為尺。凡診脈，視掌後高骨下指，先關後寸尺，人短則　</u></p>
<p>指密排，人長則指疏排，為一定之法。</p>
<p><u>　</u></p>
<p><a href="_files/pn-n7.bmp">右寸關尺圖</a></p>
<p><u>右寸(表)大腸(裡)肺　主上焦</u></p>
<p><u>右關(表)胃(裡)脾　主中焦</u></p>
<p><u>右尺(表)心包(裡)命門　主下焦</u></p>
<h2>卷二‧立法</h2>
<h3>按法</h3>
<p>《素問‧陰陽應象大論》：　悍者，按而收之。王太仆注：　、疾也，悍、利也，氣候疾利，按之以收斂也。《玉機真臟論》：脾風發癉，曰可按。疝瘕少腹冤熱而痛、出白，又曰可按。《舉痛論》：按之則熱氣至，熱氣至，則痛止。《調經論》岐伯曰：按摩勿釋，又曰按摩勿釋。《異法方宜論》：痿厥寒熱，其治宜導引按蹺，故導引按蹺者，亦從中央出也。王注：濕氣在下，故多病痿弱氣逆及寒熱也。導引，謂搖動筋骨，動支節。按，謂抑按皮肉，蹺，謂捷舉手足。《生氣通天論》：冬不按蹺，春不鼽衄。王注：按，謂按摩，蹺，謂如蹺捷者之舉動手足，是所謂導引也。然搖動筋骨，則陽氣不藏，春陽上升，重熱熏肺。肺通於鼻，病鼽，謂鼻中水出，病衄，謂鼻中血出了。《離合真邪論》：按而止之。《血氣形志論》：形數驚恐，經絡不通，病生於不仁，治之以按摩醪藥。王注：驚則脈氣並，恐則神不收，脈並神游，故經絡不通而病不仁。按摩者，開通閉塞，導引陰陽。醪藥，謂酒藥也。養正祛邪，調中理氣也。《內經》載按法者多，其中有不可按者，按則增病。有不可不按者，按則療病，故首先辨證。總之，古人用按摩法，無人不治，不拘嬰孩也。《爾雅‧釋詁》：按，止也。《廣　》：按，抑也。周於蕃謂按而留之者，以按之不動也。　按字，從手從安，以手探穴而安於其上也。俗稱推拿。拿、持也，按、即拿之說也。前人所謂拿者，茲則以按易之。以言手法，則以右手大指面直按之，或用大指背屈而按之，或兩指對過合按之，其於胸腹，則又以掌心按之，宜輕宜重，以當時相機行之。</p>
<p>一、按風門。風門即耳門，在耳前起肉當耳缺陷中。將兩大指背跪按兩耳門，所謂黃蜂入洞法也。此溫法，亦汗法也，最能通氣。(周於蕃)一、按牙關。牙關在兩牙腮盡近耳處。用大中二指，對過著力合按之，治牙關閉者即開。(周於蕃)一、按肩井。肩井在缺盆上，大骨前寸半。以三指按，當中指下陷中是。用右手大指按之，治嘔吐，發汗。(周於蕃)一、按奶旁，奶旁即乳房，用右手大指按之。治咳嗽，止嘔吐。左右同。(周於蕃)一、按肚角。肚角在臍之旁，用右手掌心按之，治腹痛，亦止泄瀉。(周於蕃)一、按琵琶。琵琶在肩井下，以大指按之，能益精神。(《廣意》)一、按走馬。走馬在琵琶下，斗肘之上。以大指合按之，發汗。(《廣意》)一、按交骨。交骨在手掌後，上下高骨間。以中、大指按之，治急慢驚風。(周於蕃)一、按總經。總經在掌根橫紋之後。用右手大指背屈按其上，復以中指按手背，與橫紋對過一窩風，治急驚暴亡等證。(周於蕃)一、按百蟲。百蟲在膝上，以大指背屈按之，止抽搐。(周於蕃)一、按三陰交。三陰交在內踝踝尖上三寸，以右手大指按之，能通血脈，治驚風。(《廣意》)一、按仆參。仆參即鞋帶處，在足跟上，按之，治昏迷不醒者。(《廣意》)一、按二人上馬。二人上馬在小指、無名指、骨界空處。以大、中指對過按之，治腹痛。(周於蕃)</p>
<h3>摩法</h3>
<p>《素問‧病能篇》：摩之切之。《至真要大論》：摩之浴之。《調經論》言：按摩勿釋者再。《離合真神論》：治之以按摩醪藥。《前漢‧藝文志》：黃帝岐伯《按摩十卷》，《小兒按摩經》，四明陳氏著集載《針灸大成》。周於蕃曰：按而留之，摩以去之。又曰：急摩為瀉，緩摩為補，摩法較推則從輕，較運則從重。或用大指，或用掌心，宜遵《石室秘錄》：摩法不宜急，不宜緩，不宜輕，不宜重，以中和之義施之。其後掐法屬按，揉法，推、運、搓、搖等法，均從摩法出也。</p>
<p>一、摩腹。用掌心，團摩滿腹上，治傷乳食。(周於蕃)一、摩左右脅。左右脅在胸腹兩旁肋膊處。以掌心橫摩兩邊，得八十一次，治食積痰滯。(周於蕃)一、摩丹田。丹田在臍下，以掌心由胸口直摩之，得八十一次，治食積氣滯。(周於蕃)一、摩神闕。神闕即肚臍。以掌心按臍並小腹，或往上，或往下，或宜左，或宜右，按而摩之，或數十次數百次，治腹痛，並治便結。(周於蕃)一、摩總經、天河、曲池三穴。以右手大指側直摩之，自能開胸退熱。(《按摩經》)按：摩法，前人以藥物摩者多，而以手法摩者，祗此數條。其後推、運、搓、搖等法，皆從摩法體會出之，摩之名雖易，摩之義則一也，習按摩者其知之。(惕厲子)</p>
<h3>掐法</h3>
<p>掐，《說文》：爪刺也。《玉篇》：爪按曰掐。周於蕃曰：掐，由甲入也。夏禹鑄曰：以掐代針也。小兒久病且重者，先將人中一掐以試之，當即有哭聲，或連哭數聲者生，否則，哭如鴉聲，或絕無聲者，難治。但醫者仍勿輕棄，以期生機於萬一，是一好生之德也。</p>
<p>掐法，以大指甲按主治之穴，或輕或重，相機行之。</p>
<p>一、掐大橫紋。大橫紋，即總心經，小天心，在掌根處，為諸經之祖。以指甲掐之，眾經皆動，百病皆效。其嗽甚，再掐中指一節，痰多再掐手背一節。指甲。為筋之余，掐內止吐，掐外止瀉。(《按摩經》)一、掐大指端。大指端即肝記穴，又名皮罷。掐之治吼喘，並治昏迷不醒者。(周於蕃)一、掐心經。心經在中指第一節，掐之，治咳嗽，發熱出汗。(《按摩經》)一、掐內勞宮。內勞宮即掌心，掐之，亦治發熱出汗。(《按摩經》)一、掐脾土。脾土在大指第一節。曲指左轉為補，直推為瀉。治飲食不進，瘦弱面黃，四肢無力，肚起青筋(《按摩經》)一、掐大腸側。大腸側在食指二節側。倒推入虎口，治水瀉痢疾，肚腹膨脹。紅痢補腎水，白痢推三關。(《按摩經》)一、掐肺經。肺經在無名指第一節。又掐離宮起至乾宮止。當中輕，兩頭重，治咳嗽化痰，昏迷嘔吐。(《按摩經》)一、掐腎經。腎經在小指第一節。又掐小橫紋，退六腑，治大便不通，小便赤色澀滯不利，腹脹氣急，人事昏迷。(《按摩經》)一、掐總筋。總筋在掌後，由總筋掐過天河水，能清心火，治口內生瘡，遍身潮熱，夜間啼哭，四肢抽掣。(《按摩經》)一、掐二扇門。二扇門在中指骨兩邊空處，掐後以揉法繼之。治壯熱多汗，並治急驚，口眼歪斜。偏左則右掐揉，偏右則左掐揉，均宜重。(《按摩經》)一、掐二人上馬。穴注上。主和溫之性，能補腎，清神，　順氣，蘇醒沉　。《按摩經》掐後以揉法繼之。(周於蕃)一、掐外勞宮。外勞宮在掌背中間，與內勞宮相對。能清臟腑熱，以及午後潮熱，腹見青筋，皆可用。(《按摩經》)掐後以揉法繼之。(周於蕃)一、掐一窩風。一窩風在掌背盡根處。治肚痛，唇白，眼翻白、一哭一死，並除風去熱。(《按摩經》)掐後以揉法繼之。(周於蕃)一、掐外間使。外間使，在掌背一窩風、陽池、外關之後，與內間使相對。掐主溫和，治吐瀉轉筋。(周於蕃)一、掐五指節。五指節在手背指節高紋處。治傷風，被水驚嚇，四肢抽掣，面青，並一切驚證。(《按摩經》)掐後以揉法繼之，治口眼歪斜，咳嗽風痰。(周於蕃)一、掐精寧。精寧在手背合谷後，一窩風之上。治痰喘氣吼　，乾嘔痞積。(《按摩經》)掐後以揉法繼之。(周於蕃)一、掐威靈。威靈在手背二人上馬後，一窩風之下。治急驚暴死。掐此處，有聲可治，無聲難治。(《按摩經》)揉後以揉法繼之，並按合谷穴。(周於蕃)一、掐陽池。陽池在手背一窩風之後。清補腎水，治大小便閉，眼翻白。(《按摩經》)掐後以揉法繼之。治頭痛風寒無汗，為表散之法。(周於蕃)一、掐四橫紋。四橫紋在陽掌面，二節橫紋處。治口眼歪斜，止腹痛，退臟腑熱。(《廣意》)一、掐小橫紋。小橫紋，在四橫紋之上，指節橫紋處。治口唇破爛，能退熱除煩。(《廣意》)掐十王。十王在五指甲側，能退熱。(《廣意》)一、掐端正，端正在左者，中指端左側，掐之止瀉。端正在右者，中指端右側，掐之止吐。《廣意》一、掐委中。委中在膝後彎中有紋處，治往前跌悶。(《廣意》)一、掐內庭。內庭在足大指、次指外間陷中。治往後跌悶。(《廣意》)一、掐太衝。太衝在足大指本節後，動脈中。治危急之證，舌吐者不治。(《廣意》)一、掐甘載。甘載在掌背合谷後。能救危險，能祛鬼祟。(《廣意》)一、掐大敦。大敦在足大指端，去爪甲韭葉許，毛中。屈大指掐之，治鷹爪驚握拳切牙者。</p>
<p>(《廣意》)一、掐前承山。前承山在足三裡下，與後承山相對。掐之，治驚來急速者(《廣意》)一、掐後承山。後承山在足後跟去地一尺。掐之治氣吼，發汗，消痰食痞積。(《廣意》)一、凡掐筋之法，何證何穴，先將主病穴，起手掐三遍，後將諸穴掐三遍，掐後揉之，每日掐三四次，其病自退，不可忽視。(《按摩經》)一、掐老龍。老龍在男左女右無名指巔。掐之治急驚風，無聲者方可治。(《廣意》)一、掐中指甲。醫者，以大指入兒中指甲內，著力掐之，治急慢驚。(周於蕃)</p>
<h3>揉法</h3>
<p>周於蕃曰：揉以和之。揉法以手宛轉回環，宜輕宜緩，繞於其上也。是從摩法生出者，可以和氣血。可以活筋絡，而臟腑無閉塞之虞矣。</p>
<p>一、揉精寧。(穴注上)。治噎氣，喘氣，以二三百遍，氣平為止。(周於蕃)一、揉版門。版門在大指魚際上，揉之除氣促氣攻，氣吼氣痛，並治嘔脹。(《按摩經》)一、揉內勞宮。(穴注上)。揉之動心中之火，惟發汗用之切不可以輕動。(《按摩經》)一、揉涌泉。涌泉在足心，揉之，左轉止吐，右轉止瀉。若女用反之。(《按摩經》)一、揉仆參。(穴注上)。揉之左轉，於吐則治之。右轉，於瀉則治之。皆補法也。(《按摩經》)一、揉腳大指。掐腳中指甲少許，治驚。(《按摩經》)一、揉小天心。(穴注上。)能清腎水。(《按摩經》)一、揉外勞宮。(穴注上。)和五臟，治潮熱，左轉清涼，右轉溫熱。(《廣意》)一、揉外八卦。(穴注上。)主涼，除臟腑秘結，通血脈。(《廣意》)一、揉臍上，治肚脹氣響。(《廣意》)一、揉龜尾。龜尾在臀尖，揉之，治赤白痢泄瀉。(《廣意》)一、揉三裡。三裡在膝頭下三寸，揉之，治麻木。(《廣意》)一、揉中廉。中廉在前膝鬼眼之下，解谿之上。先掐後揉，治驚來急者。(《按摩經》)一、揉中指第一節內紋，先掐三次，後揉之，治泄瀉。(《按摩經》)一、揉後承山。(穴注上。)治氣吼發汗。(《廣意》)一、掐威靈。(穴注上。)治卒亡。(周於蕃)</p>
<h3>推法</h3>
<p>《廣意》曰：凡推展向前者，必期如線之直，毋得斜曲，恐傷動別經而招患也。古人有推三回一之法，謂推去三次，帶回一次。若驚風用推，不可拘成數，但推中略帶幾回便是。</p>
<p>其手法手內四指握定，以大指側著力直推之，推向前去三次，或帶回一次。如干推，則恐傷皮膚。《廣意》：春夏用熱水，秋冬用蔥薑水，以手指蘸水推之，水多須以手拭之，過於干則有傷皮膚，過於濕則難於著實，以干濕得宜為妙。夏禹鑄曰：往上推為清，往下推為補，周於蕃曰：推有直其指者，則主瀉，取消食之義。推有曲其指者，則主補，取進食之義。內傷用香麝少許，和水推之，外感用蔥薑煎水推之，抑或蔥薑香麝並用入水推之，是摩中之手法最重者。凡用推，必蘸湯以施之。</p>
<p>一、推天河水。天河水在總經之上，曲池之下。蘸水，由橫紋推至天河，為清天河水。</p>
<p>蘸水由內勞宮推至曲池，為大推天河水，蘸水，由曲池推至內勞宮，為取天河水，均是以水濟火，取清涼退熱之義。(周於蕃)　圖附卷三。</p>
<p>一、推骨節，由項下大堆，直推至龜尾，須蘸蔥薑湯推之，。治傷寒骨節疼痛。(周於蕃)一、推肺俞。肺俞在第三堆下兩旁，相去脊各一寸五分，對乳引繩取之。須蘸蔥薑湯，左旋推HT　屬補，右旋推HT　屬泄，但補泄須分四六數用之，治風寒。(周於蕃)一、推由版門至大橫紋，蘸湯推之，能吐，能止瀉。(周於蕃)一、推由大橫紋至版門。蘸湯推之，能瀉，能止嘔。(周於蕃)一、推三關。蘸蔥薑湯，由陽池推至曲池，主溫性，病寒者多推之。(周於蕃)　若以三關在一窩風外間使處，推上至曲池，夏禹鑄主之，其說甚是。</p>
<p>一、推六腑。蘸沸湯，由曲池推至陰池，主涼性，病熱者多推之(周於蕃)　若以六腑在掌面內間使處，由曲池推至總經，夏禹鑄主之，其說亦是。</p>
<p>一、推肝木。肝木即食指端，蘸湯，側推之直入虎口，能和氣生血。(周於蕃)一、推分陽池。由小兒陽掌根中間，向左蘸蔥薑湯推之，治唇干頭低，肢冷項強，目直視，口出冷氣。(周於蕃)一、推分陰池。由小兒陽掌根中間，向右蘸蔥薑湯推之。須用手大指，一分陽，一分陰，治法同上條。(周於蕃)一、推四橫紋。四橫紋在陽掌四指中節，蘸蔥薑湯推之，和上下之氣血，治人事瘦弱，手足抽掣，頭偏左右，腸胃濕熱，不食奶，眼翻白者。(《按摩經》)一、推外關、間使，其穴在陰掌根一窩風之後，蘸蔥薑湯，推之，治吐瀉轉筋。(《按摩經》)一、推後谿。後谿在手掌四指後。先用掐法，後蘸湯，推上為瀉，推下為補。治小便赤澀，益腎經虛弱。(《按摩經》)一、推版門。(穴注上。)蘸湯，往外推之，能退熱，往內推之，治四肢抽搐。(《按摩經》)一、推指三關。三關在食指三節，分寅、卯、辰三關。蘸蔥薑湯推之，能通血氣，能發汗。(《廣意》)一、推脾土。脾土在大指端，蘸湯屈兒指推之為補，能醒人事。直其指推之為清，能進飲食。(周於蕃)一、推五經。五經即五指尖也。蘸湯逐一往上直推，往右運為補，往左運為瀉，總期辨寒熱虛實以施之。(《廣意》)一、推三陰交。(穴注上。)蘸湯從上往下推之，治急驚，從下往上推之，治慢驚。(《廣意》)一、推心火。心火即中指端，蘸湯推之，能發汗退熱，若掐之，亦能利小便。(《廣意》)一、推肺金。肺金即無名指端。蘸湯推之，性主溫通，能止咳化痰。(《廣意》)一、推腎水。腎水即小指端，蘸湯推之，退臟腑熱，利小便，小便短數，又宜補之。(</p>
<p>《廣意》)一、推中指節，蘸湯推內則熱，推外則瀉。(《廣意》)一、推坎宮。坎宮在兩眉上，蘸湯由小兒眉心，分推兩旁，能治外感風寒。(《廣意》)圖附卷三。</p>
<p>一、推攢竹。攢竹在天庭下，蘸湯由眉心交互往上直推。(《廣意》)圖附卷三。</p>
<p>一、推胃脘，由喉往下推，止吐，由中脘往上推，則吐。均須蘸湯。(周於蕃)一、推肚臍。須蘸湯往小腹下推，則泄，由小腹往肚臍上推，則補。(周於蕃)一、推面部次第也。右大指蘸蔥薑湯，由眉心推至囟門三十六次。隨用兩大指蘸湯，由天庭分推兩額，並太陽、大陰、各三十六次。又以大指掐印堂五下　，囟門三十六下。隨用大指面，左右揉轉，各三十六次，掐百會穴三十六下。山根、鼻準、人中、承漿各三十六下，隨於各穴亦各揉三十六次。再於主治之穴從而按摩之，自能除風痰，去寒熱。其妙在適臟腑，行氣血，治經絡，庶無塞而不通之病。(周於蕃)一、推面部手部次第也。推坎宮二十四次，推攢竹二十四次，運太陽二十四次，運耳背高骨二十四次，掐承漿一下，掐兩頰一下，掐兩聽會一下，掐兩太陽一下，掐眉心一下，掐人耳一下，提兩耳尖三下，推虎口三關，推五指尖，　五指尖，運八卦，分陰陽，推三關、六府，用十大手法，運斗肘，為按摩不易之法。(《廣意》)按：掐由甲入，用以代針，掐之則生痛，而氣血一止，隨以揉繼之，氣血行而經絡舒也。推須著力，故推必蘸湯，否則有傷肌膚。掐從按法出。推從摩法出。搓、搖、揉、運，是較推法之從輕者，亦無不從摩而出，按少而摩多者，均以宣通為得其法也。(惕厲子)</p>
<h3>運法</h3>
<p>周於蕃曰：運則行之，謂四面旋繞而運動之也。宜輕不宜重，宜緩不宜急，俾血脈流動，筋絡宣通，則氣機有沖和之致，而病自告痊矣。</p>
<p>一、運太陽。(穴注上。)用兩大指運兒兩太陽，往耳運轉為瀉，往眼運轉為補。(《廣意》)一、運耳背高骨。用兩手中指、無名指，揉運耳後高骨二十四下畢，再掐三下，治風熱。(《廣意》)一、運五經。五經，即五指端也。運之，治肚脹腸鳴，上下氣血不和，寒熱往來，四肢抽掣。(《按摩經》)一、運內八卦。以大指面自乾起，運至兌止，到離宜輕運，恐推展心火，余俱從重，能開胸化痰。(《按摩經》)一、運外八卦。外八卦在掌背，運之能通一身之氣血，開臟腑之秘結，穴絡平和而蕩蕩也。(《按摩經》)圖附卷三。</p>
<p>一、運水入土。治水旺土衰，食穀不化者。運土入水，治水火不濟者。(《按摩經》)圖附卷三。</p>
<p>一、運內勞宮。(穴注上。)醫者屈中指運之。右運涼，左運汗。(《按摩經》)</p>
<h3>搓法</h3>
<p>周於蕃曰：搓以轉之。謂兩手相合，而交轉以相搓也。或兩指合搓，或兩手合搓，各極運動之妙，是以摩法中生出者。</p>
<p>一、搓五經。五經，即五指端也。以大指食指合搓之，能動臟腑之氣。(《按摩經》)一、搓食指。按：關上為風關，關中為氣關，關下為命關。大指、中指合而直搓之，能化痰。(《按摩經》)一、搓涌泉。(穴注上。)左手搓向大指，則止吐。右手搓向小指，則止瀉。(《按摩經》)一、搓臍下丹田等處，以右手周遭搓摩之，一往一來，治膨脹腹痛。(《按摩經》)</p>
<h3>搖法</h3>
<p>周於蕃曰：搖則動之。又曰：寒證往裡搖，熱證往外搖。是法也，搖動宜輕，可以活經絡，可以和氣血，亦摩法中之變化而出者。</p>
<p>一、搖頭。兩手托兒頭，於耳前少上處，輕輕搖之，所謂赤鳳搖頭也。(《按摩經》)圖附卷三。</p>
<p>一、搖斗肘。(穴注上。)左手托兒斗肘運動，右手持兒手搖動，能治痞。(《按摩經》)一、搖左右手。醫者以一手掐勞宮，一手掐心經，兩各搖之，所謂丹鳳搖尾也。治驚風。(《按摩經》)圖附卷三。</p>
<p>一、掐威靈、精寧二穴，搖擺之，所謂鳳凰轉翅也。治黃腫。(《按摩經》)圖附卷三。</p>
<p>一、將小兒手從輕從緩搖之，男左女右，能化痰。(《按摩經》)按：按摩以下六法，由按摩變化而出者，其立法之名雖異，而立法之義則同。各篇所主治各穴，是一病而施一法，恐有未盡之處。周氏所著，後人秘為家傳，不知皆古人所傳之法，具在簡編，以治各證，或合數法，或合十余穴分而治之，而主治之法宜多，非一證僅用一法已也。每日治法，或二次，或三次，病輕者，或三次五次即愈。病重者，或十數次，或數十次。手法有輕重，治數有多寡，胥得其宜，按摩自無不效。其余所附諸法，亦以佐按摩之不逮者爾。(惕厲子)</p>
<h3>汗法</h3>
<p>周於蕃曰：凡小兒寒熱互作，鼻流清涕，或昏迷不醒，一切急慢驚風等證，須用蔥薑煎湯，以左手托病者頭後，用右手大指面，蘸湯摩洗兩鼻孔三十六次，謂之洗井灶，以通臟腑之氣。隨用兩大指，蘸湯摩洗鼻兩邊二十四次，後又蘸湯，由鼻梁山根，推至印堂囟門三十六次，再用兩手食指、中指、無名指、小指，將病者兩耳搬轉向前，掩兩耳門，即以兩大指自天庭左右，分推兩額各三十六次。又以大指掐兩太陽，並印堂二十四次，掐後，又將全指揉二十四次，再用兩大指按兩太陽，兩中指按腦後兩風池穴，一齊著力，按搖三十六次，令小兒大哭出汗。即當時無汗，隨後亦自有汗，或蘸蔥薑湯推肺俞穴、一窩風、內勞宮、二人上馬等處，皆取汗法也。總之，面部通臟腑，無論何證，以取汗諸法為最。但蘸湯推摩後，須用手掌揩之，令頭面皆干，恐水濕反招風也。即有自汗者，亦用以取正汗，汗後須推脾土以收之。是法於風寒外感最宜，若內傷則又宜參酌也。</p>
<p>按：周氏汗法，求其來歷不可得，豈周氏獨出心裁歟，抑本之異人傳授歟?余用以治外感諸邪，靈妙異常。(惕厲子)</p>
<h3>吐法</h3>
<p>周於蕃曰：小兒外感風寒，內傷乳食，致咳嗽嘔吐，痰涎積聚，宜先用汗法，隨將左手托病者腦後，令頭向前，用右手中、食兩指，插入喉間揉舌根，令吐。有乳吐乳，有食吐食，有痰吐痰。如初感於一吐之後，病即告退，再按證以手法施治，則愈矣。但孩兒已生牙齒，按牙關穴，牙關立開。須用竹箸筆杆之類，填牙齦，再入手指，庶免咬傷，須從容入口，恐傷喉。即或胃無積滯，用此一吐，亦舒通臟腑之氣。若由版門推下橫紋令吐者，不若按舌之快也。</p>
<p>按：仲師梔豉湯、瓜蒂散，吐法也。丹溪以吐中有發散之意。張戴人三聖散等，吐法甚多。</p>
<p>經曰：高者越之。又曰上者涌之。先賢用此法，不可勝數。其吐時，宜閉目，以帛束胸腹，吐不已，則飲以蔥湯，皆吐中法也。余於暴感停滯，喉閉痰厥等證，以鹽少許糝沸湯，用竹箸敲二、三百次，連飲數口，以雞毛鵝翎，蘸湯入喉，隨探隨吐，將痰涎宿食因而越之，所感外邪，失所憑依，實治法捷徑也。較周氏以手按舌，並先賢用藥吐者。不如此欲吐則探，欲不吐則己。權自我操，可行可止，須量其人體質為之。若氣虛體弱，吐宜慎。(惕厲子)</p>
<h3>下法</h3>
<p>周於蕃曰：凡小兒未能語者，忽大哭不止，多是腹痛。須令人抱小兒置膝上，醫者對面將兩手於胸腹著力久揉，如搓揉衣服狀。又將兩手摩神闕，左右旋轉數百次，每轉三十六，愈多愈效。再煎蔥薑東加香麝少許，將兩手蘸湯於胸腹兩邊，分推數十次，至百余次，亦為分陰陽之法，然後從胸口蘸湯，推至臍下小腹並北角等處數十次，其余蘸湯，由橫紋推向版門，皆下法也。總之，胸腹上下，或摩或揉，或搓或推等法，往來輕重，緩急得宜，自然消化，切勿偏用，庶臟腑不致有反復不寧之患。即有痰滯食積，在回腸曲折之間，藥力所不能到者，此則妙在運動，因之消化而解矣。</p>
<p>按：汗、吐、下周於蕃所傳之法，張氏秘之。其於家中有病者，婦孺皆悉此法，除病極速。</p>
<p>自余將周法閱明宣著，並於其文義不順者，從而竄易之，更令讀者易習也。雖仲師有溫下寒下法，而此則別有神妙之處，用是法者，自能知之，不待贅言。(惕厲子)</p>
<h3>針法</h3>
<p>針法失傳久矣。《靈樞》、《甲乙經》俱在，習之匪易，用之為難。若周於蕃所施針法，則顯而易者耳。其書內所載第一用針要訣，無論急慢驚風，於小兒不飢不飽之時，應用花針，將虎口、風、氣、命三關，並手少商、足少商等處，本驚搐之要穴，男左女右，略刺皮破血出，不可深入，恐傷小兒反變他證。針法一用，病輕者隨手即愈，若重證，須將主治之穴，再用推、運、掐、揉、諸法，雖病已垂危，無不可冀其回生也。</p>
<p>一、針少商。少商在大指甲外角韭葉許，針一分，沿皮向後三分，治喉癰腫痛。(周於蕃)一、針端正。端正在中指端兩旁，針一分，沿皮向後三分，灸七壯，治中風不省人事，並治心痛。(周於蕃)一、針曲池。曲池在肘外輔骨，屈肘橫紋頭陷中。針七分，治喉痹不能言。(《大成》)一、針禾　。禾　在鼻孔水溝旁五分。針三分，治鼻　鼻塞不通者。(《大成》)一、針合谷。合谷在大指次指陷骨間。針三分，治喉痹、喉風腫痛者。(周於蕃)按：是篇采集無多，所慮無知妄作，漫施針法，以人命為兒戲，亦慎重治法之意，識者驚之。余有一二戚友，行針法者，亦曾歷言神效。朮有自來，然余性多慎，終不敢見信也。(惕厲子)</p>
<h3>灸法</h3>
<p>《異法方宜論》：野處乳食，臟寒生滿病，其法宜灸　，故灸　者，亦從北方來。王太仆注：水寒冰冽，故生病於臟寒也。火艾燒灼，謂之灸　。《玉機真臟論》：或痹不仁，腫痛，當是之時，可燙熨及火灸刺而去之。又曰：筋脈相引而急病，可灸可藥。《素問》言灸者不勝數。灸法分補瀉，以火補者，母吹其火，須待自滅。以火瀉者，速吹其火，開其穴也。其用火也，宜清麻油燈火，或素蠟燭火。其用艾葉也，宜五月五日采曝乾，陳久者良。入臼搗細，篩去塵屑，再入臼搗，取潔白為止。須令極干，經火易燃。艾團分大小，灸面、炷宜小，灸胸腹手足，炷大如箸。若小兒周歲後，炷如雀糞則可。其壯數多寡也，灸頭項止於七壯，積至七七壯止。此外積至百壯，或五十壯，此曹氏灸法也。豈必如扁鵲三五百壯以及成千壯哉。其取穴也，坐點穴則坐灸，臥點穴則臥灸，立點穴則立灸，須四體正直為要。如稍有傾側，徒傷好肉耳。其灸後調攝也，不可飲茶，恐解火氣。不可啖飯，恐滯經氣。須少停一二時，入室靜臥，平心定氣，切忌色欲濃味，大怒大勞，大飢大飽，恐生痰涎，阻滯病氣，因灸而反致害者此也。是亦灸法之所預防者爾。</p>
<p>一、灸尺澤。尺澤在肘中約紋上，動脈中，屈肘肘橫紋筋骨罅陷中。灸七壯，治小兒慢驚風。(《按摩經》)一、灸長強。長強督脈之別絡，脊　骨端，計三分，伏地取之。足少陰少陽之會。灸三十壯，治小兒癲癇　瘕。(《按摩經》)一、灸神庭。神庭在直鼻上，入發際五分，足太陽督脈之會。灸七壯，治小兒癲癇驚風。(《按摩經》)一、灸少商。少商在大指甲角韭葉許，灸七壯，治五癇。(周於蕃)一、灸十一椎下兩旁，相去各一寸五分。灸七壯，治小兒脅滿，四肢不收，　癖積聚，腹痛不嗜食，並治　瘧寒熱黃膽等證。（《按摩經》)一、灸尾閭骨上三寸陷中，治小兒疳瘦，諸方不瘥者。</p>
<p>宜在三伏日內，用楊葉煎沸湯浴之。正午時灸，灸後帛拭，見有疳蟲隨汗即出。(《針一、灸章門。在大橫外，直季脅肋端，　臍上二寸，兩旁六寸，側臥，屈上足伸下足舉之。又云：肘尖盡處是穴。灸七壯，治小兒身瘦腹脹，四肢懈惰，肩臂不舉。(《大成》)一、灸中庭。中庭在膻中下一寸六分陷中。灸三壯，治小兒吐奶。(《大成》)一、灸龜尾。(穴注上。)灸一壯，治脫肛瀉血，秋深不效者。(《大成》)一、灸臍中三壯。《千金方》隨病者年歲若干，灸若干壯。亦治脫肛。(《大成》)一、灸百會。百會在頂中央旋毛中，可容豆，直兩耳尖。灸七壯，治中風角弓反張，涎一、灸鬼哭穴。以病者兩手大指並縛之，用艾炷於兩甲角，並甲後肉騎縫四處火灸，則病者哀告我自去為效。是治鬼魅狐惑者。(《大成》)一、灸足兩大指內，去甲一韭葉許，治卒死暴絕鬼魘者。(《大成》)一、灸十四椎下，兩旁各開三寸，是為精宮穴。灸七壯，專治夢遺。　(《大成》)一、灸鬼眼穴。令病者舉手向上，略轉後些，則腰上有兩陷可見是也。以墨點記，於六月癸亥夜亥時灸，勿令人知。專治癆蟲，或四花、膏盲、肺俞亦可。(《大成》)一、灸十三椎下，各開三寸半，治痞塊，多灸左邊，如左右俱有，左右俱灸。(《大成一、灸足第二指歧叉處，五七壯。治有痞塊者，左患灸右，右患灸左，灸後，即是夕腹一、灸肘尖，治瘰　。左患灸右，右患灸左。(《大成》)一、灸乳後三寸，或兩大拇指頭。男左女右。治尸疰客忤中惡等症。(《大成》)一、灸左右手面中指節宛宛中，七壯。治贅疣諸痣。(《大成》)一、灸兩手大指縫，或足二指上一寸半，治腫滿。(《大成》)一、灸治偏墜者，用HT　心一條，量病者口兩角為準，折為三段如△字樣，以一角安臍，兩角安臍下兩旁，尖盡處是穴。左患灸右，右患灸左，左右俱患，左右俱灸，艾炷如粟米一、灸足大指次指中節橫紋當中處，四十壯。治疝痛，心痛，小腹急痛。(《大成》)按：病宜灸者甚多，就目前常用者略舉一二。然其中有宜灸亦有禁灸者。(《針灸大成書不可不讀也。第古人灸法，用艾置膚上，以火燃之，恰受炮烙之傷，病者見之皆懼，不如用生薑切片，以艾燃溫，置穴上，一經烙痛，即將薑片艾火撤去，庶免痛苦，較古法為尤精。是說亦本之先賢，今時皆遵之。(惕厲子)</p>
<h3>法</h3>
<p>法，楚人多用之。取肥白燈芯，截三四寸長，微蘸麻油，烘乾，燃著，右手平持燈芯尾下垂，按穴　之，一近皮膚即提起，　有聲，須手法靈捷，勿致灼傷肌肉。夏禹鑄所謂一、　臍風。小兒生七日，臍風初發，吮乳必少，眼角眉心有黃色，即用燈火於囟門、眉心、人中、承漿、兩手大指少商等處，各一　，臍旁四圍六　。臍帶未落，於帶口一　，如既，則於落處一　，共一十一　，風遂止而黃退矣。若黃色到鼻；猶易治，人中、承漿俱黃則重。至唇緊舌強為無治。(周於蕃)是證發時，腹上有青筋一條，若上行分枝至心下則危，宜用燈火於青筋盡處，各一，分枝總叉處三　，青筋下縮者吉。(周於蕃)如有病家因小兒畏火者，用肥白燈芯，截寸許長，不蘸油稍用口津，黏各穴上，以火燃之，近肉即熄，用以代　。但力輕，當用一　者，須三倍之。(周於蕃)一、　胎寒。小兒生一、二日內，面青唇白，不乳不啼，肢冷拳縮，或腹痛啼苦不已，皆胎寒也。用燈火於囟門、眉心、臍心各一　，臍旁四圍六　，左右足跟兩旁各一　，共十五。聲音不出者，肺俞穴二　，左右少商穴各一　。(周於蕃)一、　霍亂。人身營衛之氣，為邪氣所阻，不能流通，則手足厥冷，肚腹疼痛，身有紅點隱隱者，此名斑痧，亦名蕃痧，俗以厥冷謂為陰痧者，非也。以燈芯微蘸油點火　之，其病即松。(王孟英)</p>
<h3>砭法</h3>
<p>砭、石針也。《山海經》：高氏之山多針石。《素問‧異法方宜論》：東方之民，黑色疏理，其病癰瘍，其治宜砭石。古人針砭並重，藥石同稱。《史記‧倉公傳》：年二十，是謂易貿，法不當砭灸。漢時猶有此法，後世廢之，並不識其石。博考諸書，只瓷鋒砭血法，有以石刺病遺義。爰亟錄之，亦禮亡羊存之意耳。</p>
<p>一、砭赤游丹也。丹毒赤腫，先以水漱口，吮惡血各聚一處，用細瓷一片擊碎，取鋒芒者，將箸頭劈破夾定，以線縛之，左手二指捻定，右手另取一箸，將鋒芒對惡血處，輕輕擊破，血出後，以玉紅膏封之。如小兒生在百日內者，忌用，患在頭者，亦忌用。(《醫宗金鑒》)附：《秘傳極驗方》：銀朱一錢，明雄黃五分，共研細末糝之，或敷亦可。</p>
<h3>浴法</h3>
<p>《玉機真臟論》：脾風治法，可按、可藥、可浴。《至真要大》論：摩之，浴之……。</p>
<p>是浴法為岐黃所用者。漢有仲師，述伊芳尹湯液之法，古治遂棄而不講用，特搜錄浴法數條，以存古法之遺。</p>
<p>一、《千金方》浴法也。凡浴小兒湯，須冷熱調和，勿令兒驚而生疾也。第在冬不可久浴，浴久則傷寒。夏不可久浴，浴久則傷熱。若頻浴而兒背受冷，則發癇，如不浴又令兒毛落。</p>
<p>一、《千金方》浴法也。凡新生兒，以豬膽一枚，取汁投湯，其湯則宜用桃根、梅根、李根各二三枝，　咀，以水三斗，煮取二十沸，去滓，浴之能除不詳，令兒終身無瘡疥。</p>
<p>一、《簡要濟眾方》浴法也。小兒初生，以益母草半斤，銼細，煎湯溫浴之，能除百病。</p>
<p>一、痘證浴法也。水楊葉(無葉用嫩枝)一斤，煎湯去滓，加酒少許，俟涼熱得宜，入密室中浴之。頭面胸背宜少浴，治痘將出未出時，為寒邪所束，標不見，出不快，等證。</p>
<p>一、《證治準繩》浴法也。凡浴小兒後，以蚌粉輕輕撲之，然後包裹，能辟邪收濕散氣、《說文》同　。《六書索隱》借為　舍之　，古人印章多用之。《集韻》乙盍切，音額。《說文》：覆蓋也。徐鉉曰：俗作窨。是　與敷法相似，又與熨法相類，而其實不同，世俗所謂幫胸口者，即此　法之義也。</p>
<p>一、蔥豉　法也。連須蔥白、生薑、淡豆豉等分，加鹽少許，搗爛作餅　臍上。散風寒，理積滯，兼治二便不通。(《寶鑒》)一、蕎餅　法也。醋炒蕎麥麩為兩餅，更換覆額上，取汗，以收風毒，治風寒頭痛。(</p>
<p>《理淪駢文》)一、蔥螺　法也。皂角、生半夏、麝香為末，填臍內，外用田螺蔥白搗餅蓋之，治小便不通。(吳尚先)一、硝黃　法也。大黃、芒硝、蔥白搗餅，　胸口，治熱結胸，治小兒可，治大人亦可。(《理淪駢文》)一、巴豆　法也。巴豆、飛面同搗餅，　胸口，貼肉襯薄布一層，(防巴豆油近肉起泡)。以熨斗熨餅上，治寒結胸。(《理淪駢文》)一、大黃　法也。醋調大黃末為餅，　臍上，治吐血，此釜底抽薪法。《理論駢文》一、蔥薑　法也。蔥薑擂細，大人掌上搓熱，貼囟門，治月內小兒傷風鼻塞發搐。(《理淪駢文》)一、黑豆　法也。黑豆一升，煮擂爛，　腰上，治腎經痘，腰痛遍身痛。(《理淪駢文》)</p>
<h3>疏表法</h3>
<p>陳飛霞曰：凡小兒無論風寒食積，將出痘疹，於發熱時，宜用蔥一握，搗爛取汁，少加麻油和勻，以指蘸蔥油摩運兩手心，兩足心，並前心頭面項背諸處。每處二十四下，隨以濃衣裹之，並蒙其首，取微汗不可大汗。此等汗法，最能疏通腠理，宣通經絡，使邪氣外出，不致久羈營衛，而又不傷正氣，可以佐周於蕃用汗法也。</p>
<h3>清裡法</h3>
<p>陳飛霞曰：小兒身熱至二三日後，邪已入裡，五心煩熱，坐臥不寧，口渴多啼，胸滿氣急，面赤唇焦，大小便秘，此為內熱也。用雞蛋一枚，去黃取清，入麻油約與蛋清相等，再加雄黃末一錢，攪勻燉溫，以婦女亂髮一團，蘸蛋清於胸口拍之，至臍輪止，須拍半個時之久，即以所用之發，敷於胸口，以布扎之，一炷香後即去。以蛋清滋陰退熱，麻油雄黃，拔毒涼肌，身有熱者，用之能退，即無熱而啼哭焦煩，神志不安，去蛋清，專用麻油雄黃亂髮拍之，敷胸口，即時安臥，是法救危險之證，功難殫述也。</p>
<h3>解煩法</h3>
<p>陳飛霞曰：小兒實熱證，痧疹毒盛，面赤口渴，五心煩躁，啼哭不己，身熱如火，氣喘鼻扇，揚手踢足，一時藥不能及，用鉛粉一兩，以雞蛋清調勻，敷胸口及兩手心，復用釀酒小曲十數枚研爛。和熱酒作二餅，貼兩足心，布扎之，少頃，其熱即散於四肢，心裡清涼，與前清裡法相似。</p>
<h3>開閉法</h3>
<p>陳飛霞曰：小兒風痰閉塞，昏沉不醒者，藥不能入，甚至灸不知痛，總由痰塞其脾之大絡，截其陰陽升降之隧道也。證雖危險，急用生菖蒲、生艾葉、生薑、生蔥各一握，共入臼搗如泥，以麻油原醋同炒熱，布包之，從頭項胸背四肢，乘熱下熨，其痰即豁，自然蘇醒。此方治小兒可，即治大人亦可。凡閉證皆效。</p>
<h3>引痰法</h3>
<p>陳飛霞曰：小兒痰嗽氣喘，有升無降，喉如鋸聲，須引而　下行，最為得法。生白礬一兩，研末入麥面一兩，或米面亦可。用原醋和作成餅，以白礬見醋即化，入面取其膠黏也。冬寒日宜燉溫，貼兩足心，布包之，一宿痰自下。</p>
<h3>暖痰法</h3>
<p>陳飛霞曰：小兒胸有寒痰，一時昏迷，醒則吐痰如綠豆粉，濃濃而帶青色，此痰之生於寒者。前法皆不能化，惟生附子一枚，生薑一兩，同搗爛炒熱，布包熨背及胸，熨完，將薑、附捻成一餅，貼入胸口，久則痰自開。</p>
<h3>納氣法</h3>
<p>陳飛霞曰：小兒虛脫喘急，真氣浮散，適值危亡之頃，諸藥莫效，用吳茱萸五分，胡椒七粒，五倍子一錢，研極細末，和酒成餅，填實肚臍，以帶扎之，其氣自順。</p>
<h3>通脈法</h3>
<p>陳飛霞曰：小兒忽手足厥冷，總由表邪閉其經絡，或風痰阻其營衛，又或大病後陽氣不達於四肢，速用生薑煨熟，搗汁半小杯，略入麻油調勻，以指蘸取，摩兩手足心，兼用搓揉以通經絡，俊其熱回，以紙拭去之。此法不論陰陽虛實用之皆效。</p>
<h3>定痛法</h3>
<p>陳飛霞曰：小兒胸腹飽悶，時覺疼痛，用食鹽一碗，鍋內炒熱，布包之，由胸腹從上運下，冷則又炒又運。鹽走血分，最能軟堅，所以止痛。即以治男婦氣痛，皆能取效。由疏表至此九法，皆古書不載，實由異人傳授，經驗既久，神效無匹，筆之以公諸天下後世者。</p>
<p>按：陳飛霞九法，外治確精，實有神效，及措詞殊多未洽。余不辭僭妄，取其義，易其詞，以求明顯，務期讀者一目了然，方能愜心貴當。是卷二十八法，以之治小兒可，以之治大人亦可，切勿視為泛常也。(惕厲子)</p>
<h3>熨法</h3>
<p>《史記‧扁鵲傳》：案　毒熨。《索隱》：案　，謂按摩而玩弄身體使調也。毒熨者，謂毒病之處，以藥物熨貼也。熨法仿自扁鵲，而今時多不用者，以為外治特其小技耳。不知《靈樞》、《素問》外治者不勝書，余嘗仿其法以行之，確有神效，不敢自私，亦不敢自秘。每遇病者食積痰滯，結於胃脘，宜辛開苦降以治之，設誤服攻下大劑，正氣已傷，積滯未去，此事邪實正虛，無論攻下不可，即消導破耗之劑，並不敢施，惟有用熨法外治，炒枳殼，炒萊菔子各一兩，大皂角一條，食鹽五錢，共研末，白酒炒溫，用青布扎好，乘熱熨之，積滯漸除，胸次自能舒適。此惕厲子自製一方，　之以就正有道者。</p>
<h3>咒法</h3>
<p>太陰化生，金水之精，鑾劍披發，手執寶刀，三界橫行，沏裡流驚。東王公，西王母，急去山中采果，莫休小兒身上作禍，南斗六司延壽星，北斗七元解厄星，吾奉太上老君急急如律令敕。(收驚神咒)按：咒內莫休「休」字，應是「將」字，文義方順。記此，以待識者正之。(惕厲子)天蒼蒼，地蒼蒼，小兒夜啼驚不詳，吾師今日來收捉，小兒即夕立安康。天驚地驚，年驚月驚，日驚時驚，水驚火驚，前檐公吊驚，後檐公吊驚，六六三十六驚，吾師奉法來收捉，要受鐵枷鐵鎖形，諸神速速遠離去，小兒穩睡永安寧。吾奉太上老君急急如律令敕。(收驚神咒)勃瘧勃瘧，四山之神，使我來縛，六丁使者，五道將軍，收汝精氣，攝汝神魂，六丁使者，五道將軍，收入精氣，攝汝神魂，速去速去，免逢此人。(截瘧咒)按：是咒系袁簡齋傳，凡有瘧疾者，臨發時，朗誦不斷，即止。</p>
<p>天火燒太陰，地火燒太陽，五雷靈不滅，燒斷諸不詳。(截瘧咒)按：是咒系宋西橋傳。用米粉作餅，蒸熟，新筆調朱砂，將天火至不祥二十字，即於餅上寫三次，後錄病瘧者姓名，預前食自止。</p>
<p>我從東方來，路逢一池水，水內一尊龍，九頭十八尾，問他吃甚么，專吃瘧疾鬼。太上老君急急如律令敕。(截瘧咒)按：是咒於久瘧不愈者，以棗一枚，安病者口上誦三遍，將棗納於口中食之，即愈。</p>
<p>吞骨散，化骨丹，化龍下海入深灘。即吞即化，無論銅鐵皆化開。吾奉太上老君急急如律令。(諸骨卡喉咒)按：是咒，須面東持水一碗，右手劍訣書符。符曰：龍兒奉化神符敕令，書畢，誦咒七遍，用劍訣在水碗內點三點，令卡者一氣吞下，其效如神。</p>
<p>按：水碗須用煉水法，每日晨起，淨心沐手焚香，面東持水如前法，七咒畢，誦咒者自將水碗內之水，一氣吞完，如此四十九日，不可間斷，以後用之如神。</p>
<p>赤眼神，赤眼神，我今知道你緣因，你是相公門前掃街人，只因灰塵吹入目，至今留下赤眼人。(火眼咒)按：是咒楊子堅法，念前咒畢，將病眼吹一口，即念急急如律令。</p>
<p>年不利，普安保利，月不利，普安保利，日不利，普安保利，時不利，普安保利，一切九重房內有犯，普安到此百無禁忌。犯龍頭，報龍頭，犯龍腰，報龍腰，犯龍爪，報龍爪，犯龍尾，報龍尾。弟子巽風一口，一吹一千裡，二吹二千裡，三吹三千裡，太上老君急急如律令。(犯眼咒)按：是咒楊子堅法，左手持劍訣，指眼誦咒畢，將眼吹三口。如吹太過，則瞳人反背，再將前咒誦一遍，呵一口，則瞳人如故。</p>
<p>天靈靈，地靈靈，家先香火不安寧，廚灶前頭多穢犯，挖窖動土侵龍神，弟子念來神即曉，各安方位守家庭。我今拜請三光至，開爾翳障霎時明，一切火風皆滅沒，神龍依舊復天真。</p>
<p>吾奉太上老君急急如律令。(犯眼咒)按：是咒楊子堅法，手用劍訣默誦，左眼書霄字，右眼亦書霄字，左右眼俱重書霸字，隨吸氣一口吹之。</p>
<p>天上金雞叫，地下錦雞啼，兩雞來相斗，萬毒化為泥。吾奉太上老君急急如律令。(犯翳咒)按：是咒楊子堅法，誦畢書散字於翳上。運神以手抓出，得腳叫一聲，曰散。總要平時練習，用之方靈。</p>
<p>監生之神，衛生之靈，脫骨成胎，化骨成形。骨速開，骨速開，勿傷母命，勿損子胎，敬請九老仙子君，日月光明普照生。吾奉太上老君急急如律令。(催生神咒)</p>
<p><a href="_files/pn-n8.bmp">圖</a></p>
<p>按：是咒虔誠默誦三遍，晝對太陽，夜對燈光，衣冠正揖，另用黃紙一條，持朱砂新筆，於紙中間寫一　字，頂上寫馬，挨次順寫，圓圈合縫。切勿潦草，寫畢付產婦親人，用溫水一盞，持符於燭上焚化，入水中，令產婦服下即產，兼能保胎，並下死胎，且寫符時，便知生男生女，以寫馬字合縫，數雙生女，數單生男，以無心寫之最為應驗。</p>
<p>摩家公，摩家母，摩家子兒苦，客忤從我始，扁鵲雖良不如善唾良。(《千金方》客忤咒)按：是咒先用粉為丸，雞子大，摩兒囟門上及手足心各五遍，又摩心腹臍上下十數次，摩訖，唾而咒，唾訖，棄粉丸於路旁。</p>
<p>天蒼蒼，地皇皇，我家有個夜啼郎，來往君子念一遍，小兒睡到大天光。(《保嬰易知錄》夜啼咒)按：是語用紙敬書，書後遍貼路旁，為人易見之處，總不要四眼見。</p>
<p>按：咒法本上古祝由之義，其中或效或不效。病者邪氣已衰，而咒者須習於平時，用之於當境，又加以精誠格之，原無不效，若邪氣方張，咒者又潦草塞責，恐不足治病也。儒者於符咒諸術，輒指為怪誕不經，謂為江湖伎倆耳。然亦思善操是術，確有神效，則誠解無可解而不可不信者，若竟以誣妄斥之則過矣。(惕厲子)</p>
<h2>卷三‧取穴</h2>
<p>先賢言：診脈難，取穴尤難。取穴之準，宜先審定各臟各腑經絡之穴，悉遵《銅人》圖注，始之以肺經，終之以督脈。其後所列正身、覆身、陽掌、陰掌、足部各圖，是本周於蕃而又參諸家之說，大半《銅人》圖所未載，亦仍其舊，以圖之注之。是書按摩各法，純以手法見長，其如何下手法，尤非圖不足以尋其跡，非注不足以明其用。以故附列推坎宮、推攢竹、雙鳳展翅，以至運水入土，運土入水諸圖，匯為一編，俾習醫術者，按圖注，因證施治。以取穴為按摩之要事，故是卷於凡可圖者，均一一羅列於後。</p>
<h3>肺經圖(注)</h3>
<p><a href="_files/pn-n9.bmp">手太陰肺經圖</a></p>
<p>中府(云門下一寸六分。)　云門(巨骨下二寸。)　天府(腋下三寸。)　俠白(肘上五寸。)淵(掌後橫紋頭。)　魚際(大指本節後內側白肉際。)　少商(大指內側去爪甲角韭葉許。)</p>
<h3>大腸經圖（注）</h3>
<p><a href="_files/pn-n10.bmp">手陽明大腸經圖</a></p>
<p>商陽(食指內側。)　二間(本節前)。　三間(本節後陷中。)　合谷(虎口歧骨間。)　陽谿(腕上側。)　偏歷(腕後三寸。)　溫溜(腕後五寸。)　下廉(曲池前五寸。)　上廉曲池前三寸。三裡(曲池前二寸。)　曲池(屈骨紋盡頭。)　肘　(大骨外廉。)　五裡大筋(中央肘上三寸。)　臂　(肘上七寸。)　肩　(肩端舉臂取之。)　巨骨(肩尖上端。)　天鼎(喉旁四寸。)　扶突(天鼎旁五寸。)　禾　(水溝旁五分。)　迎香(禾　上一寸。)</p>
<h3>脾經圖（注）</h3>
<p><a href="_files/pn-n11.bmp">足太陰脾經圖</a></p>
<p>隱白(大趾內側。)　大都(本節後陷中。)　太白(大趾內側核骨下。)　公孫(本節後一寸。)商邱(內踝陷中。)　三陰交(內踝上三寸。)　漏谷(內踝上五寸。)　地機(內踝上六寸。)陰陵泉(膝下內側。)　血海(膝上內側。)　箕門(魚腹動脈中。)　衝門(期門下一尺五分。</p>
<p>)府舍(期門下九寸。)　腹結(期門下六寸八分。)　大橫(期門下五寸五分。)　腹哀(期門下二寸。)　食竇(天溪下一寸六分。)　天溪(胸鄉下一寸六分。)　胸鄉(周榮下一寸六分。)　周榮(中府下一寸六分。)　大包(腋下六寸。)</p>
<h3>胃經圖（注）</h3>
<p><a href="_files/pn-n12.bmp">足陽明胃經圖</a></p>
<p>承泣(目下七分。)　四白(目下一寸。)　巨　(鼻孔旁八分。)　地倉(夾吻四分。)　大迎(頜下一寸三分。)　頰車(耳下八分。)　下關耳前動脈。　頭維(神庭旁四寸五分。)　人迎(喉旁一寸五分。)　水突(人迎下。)　氣舍(水突下。)　缺盆(氣舍下橫骨內。)　氣戶(璇璣翳下一寸六分。)　乳中(乳頭中。)　乳根(乳下，去乳中一寸六分。)　不容(巨闕旁三寸。</p>
<p>)承滿(不容下一寸。)　梁門(承滿下一寸。)　關門(梁門下一寸。)　太乙(關門下一寸。</p>
<p>)滑肉門(太乙下一寸。)　天樞(臍旁二寸。)　外陵(天樞下一寸。)　大巨(天樞下二寸。</p>
<p>)水道(天樞下四寸。)　歸來(天樞下六寸。)　氣衝(鼠鼷上一寸。)　髀關(膝上一尺二寸。)　伏兔(膝上六寸。)　陰市(膝上三寸。)　梁邱(膝上二寸。)　犢鼻(膝臏陷中。)　三裡(膝下三寸。)　上巨虛(膝下六寸。)　條口(膝下七寸。)　下巨虛(膝下八寸。)　豐隆(膝下九寸。)　解谿(內庭後六寸五分。)　衝陽(內庭後五寸。)　陷谷(內庭後二寸。)　內庭(次趾外間。)　厲兌(次趾端。)</p>
<h3>心經圖（注）</h3>
<p><a href="_files/pn-n13.bmp">手少陰心經圖</a></p>
<p>極泉(腋下大筋間。)　青靈(肘上三寸。)　少海(肘後五分。)　靈道(掌後一寸五分。)裡(腕後一寸。)　陰　(腕後五分。)　神門(掌後銳骨間。)　少府(本節後。)　少衝(小指內側。)</p>
<h3>小腸經圖（注）</h3>
<p><a href="_files/pn-n14.bmp">手太陽小腸經圖</a></p>
<p>少澤(少指外側。)　前谷(本節前。)　後谿(本節後捏拳取之。)　腕骨(腕前骨陷側。)陽胛下兩骨間。)　俞(大骨下陷中。)　天宗(大骨後。)　秉風(肩　外舉臂取之。)　曲垣肩中曲胛陷中。肩外俞(胛後一寸。)　肩中俞(胛後二寸。)　天窗(扶突後陷中。)　天容(耳下曲頰後。)　顴　(面上鳩骨銳端。)　聽宮(耳端大如菽。)</p>
<h3>腎經圖（注）</h3>
<p><a href="_files/pn-n15.bmp">足少陰腎經圖</a></p>
<p>涌泉(足掌心。)　然谷(內踝下一寸。)　太谿(內踝後跟骨上。)　大鐘(足跟後踵邊。)水築賓(內踝上　內分肉間。)　陰谷(膝旁曲膝紋間。)　橫骨(大赫下一寸。)　大赫(氣穴下一寸。)　氣穴(四滿下一寸。)　四滿(中注下一寸。)　中注(肓俞下一寸。)　肓俞(臍旁五分。)　商曲(肓俞上一寸。)　石關(商曲上一寸。)　陰都(石關上一寸。)　通谷(陰都上一寸。)　幽門(通谷上一寸。)　步廊(神封下一寸六分。)　神封(靈墟下一寸六分。)　靈墟(神藏下一寸六分。)　神藏(　中下一寸六分。)　中(　府下一寸六分。)　俞府(璇璣旁二寸。)</p>
<h3>膀胱經圖（注）</h3>
<p><a href="_files/pn-n16.bmp">足太陽膀胱經圖</a></p>
<p>睛明(目內　。)　攢竹(眉頭陷中。)　曲差(發際上五分。)　五處(發際上一寸。)　承光(寸五分。)　天柱(發際內大筋外廉陷中。)　大杼(第一椎旁一寸五分。)　風門(二椎旁一寸五分。)　肺俞(三椎旁一寸五分。)　厥陰俞(四椎旁一寸五分。)　心俞(五椎旁一寸五分。</p>
<p>)督俞(六椎旁一寸五分。)　膈俞(七椎旁一寸五分。)　肝俞(九椎旁一寸五分。)　膽俞(十椎旁一寸五分。)　脾俞(十一椎旁一寸五分。)　胃俞(十二椎旁一寸五分。)　三焦俞(十三椎旁一寸五分。)　腎俞(十四椎旁一寸五分。)　氣海俞(十五椎旁一寸五分。)　大腸俞(十六椎旁一寸五分。)　關元俞(十七椎旁一寸五分。)　小腸俞(十八椎旁一寸五分。)　膀胱俞(十九椎旁一寸五分。)　中膂俞(二十椎旁一寸五分。)　白環俞(二十一椎旁一寸五分。)　上　(第一腰空。)　次　(第二腰空。)　中　(第三腰空。)　下　(第四腰空。)　會陽(尻骨旁。)　附分(二椎旁三寸。)　魄戶(三椎旁三寸。)　膏肓(四椎旁三寸。)　神堂(五椎旁三寸。)　(六椎旁三寸。)　膈關(七椎旁三寸。)　魂門(九椎旁三寸。)　陽綱(十椎旁三寸。)　意舍(十一椎旁三寸。)　胃倉(十二椎旁三寸。)　肓門(十三椎旁三寸。)志室(十四椎旁三寸。)　胞肓(十九椎旁三寸。)　秩邊(二十椎旁三寸。)　承扶(臀下陷中。)　浮　(承扶下六分。)　委陽(承扶下一寸六分。)　殷門(承扶下六寸。)　委中(　中約紋間。)　合陽(委中下三寸。)　承筋(腳跟上七寸。)　承山(　下分肉間。)　飛揚(外踝上七寸。)　跗陽(外踝上三寸。)　昆侖(後跟陷中。)　仆參(踝骨下。)　申脈(外踝下五分。</p>
<p>)金門(申脈下一寸。)　京骨(足外側骨際。)　束骨(本節後陷中。)　通谷(本節前陷中。</p>
<p>)至陰(小指外側。)</p>
<h3>肝經圖（注）</h3>
<p><a href="_files/pn-n17.bmp">足厥陰肝經圖</a></p>
<p>大敦(大趾端。)　行間(大趾縫中。)　太衝本節後二寸。中封(足跟前一寸。)　蠡溝(內踝上五寸。)　中都(內踝上七寸。)　膝關(犢鼻下二寸。)　曲泉(曲膝橫紋盡處。)　陰包(膝上四寸。)　五裡(氣衝下三寸。)　陰廉(氣衝下一寸。)　章門(下脘旁九寸。)　期門(巨闕旁四寸五分。)</p>
<h3>膽經圖（注）</h3>
<p><a href="_files/pn-n18.bmp">足少陽膽經圖</a></p>
<p>瞳子　(近銳　五分。)　聽會(耳前陷中。)　客主人(耳前起骨中，開口取之。)　頷厭(腦空下。)　懸顱(曲角中。)　懸釐(腦空下曲角上。)　曲發(耳上發際。)　率谷(耳上一寸五分。)　天沖(耳後入發二寸。)　浮白(耳後入發一寸。)　竅陰(完骨上。)　完骨(耳後入發四分。)　本神(神庭旁二寸)　陽白(眉上一寸。)　臨泣(發際上五分。)　目窗(發際上一寸五分。)　正營(發際上二寸五分。)　承靈(發際上四寸。)　腦空(發際上五寸五分。)　風池(耳後發際陷中。)　肩井(肩上陷中。)　淵液(腋下三寸。)　輒筋(期門下旁。)　日月(期門下五分。)　京門(日月下。)　帶脈(章門下一寸八分。)　五樞(帶脈下。)　維道(章門下五寸三分。)　居　(章門下八寸三分。)　環跳(髀樞宛宛中。)　風市(垂手中指盡處。)中　(膝上五寸。)　陽關(陽陵泉上三寸。)　陽陵泉(膝下一寸。)　陽交(外踝上七寸。)外邱(外踝上六寸。)　光明(外踝上五寸。)　陽輔(外踝上四寸。)　懸鐘(外踝上三寸。)邱墟(外踝前陷中。)　臨泣(俠谿後一寸五分。)　地五會(俠谿後一寸。)　俠谿(趾後岐骨間。)　竅陰(小趾次趾之間。)</p>
<h3>心包絡經圖（注）</h3>
<p><a href="_files/pn-n19.bmp">手厥陰心主經圖</a></p>
<p>天池(乳後一寸。)　天泉(曲腋下二寸。)　曲澤(屈肘陷中。)　門(去腕五寸。)　間使</p>
<h3>三焦經圖（注）</h3>
<p><a href="_files/pn-n20.bmp">手少陽三焦經圖</a></p>
<p>關衝(無名指外側。)　液門(小指次指陷中。)　中渚(去液門一寸。)陽池(腕上陷中。)外(肘前五寸。)　天井(肘外大骨後骨隙中。)　清冷淵(肘後二寸。)　消鑠(臂外對腋處。)會(肩前三寸。)　肩　(　上陷中。)　天　(缺盆陷處。)　天牖(天容外。)　翳風(耳後尖角陷中。)　脈(耳後青筋處)。　顱息(　脈上。)　角孫(耳廓中間上。)　耳門(耳前起肉中。)　禾　(耳前動脈。)　絲竹空(眉後陷中。)</p>
<h3>任脈圖（注）</h3>
<p><a href="_files/pn-n21.bmp">任脈</a></p>
<p>會陰(兩陰中間。)　曲骨(橫骨上毛際陷中。)　中極(臍下四寸。)　關元(中極上一寸。)臍上一寸。)　下脘(臍上二寸。)　建裡(臍上三寸。)　中脘(臍上四寸。)　上脘(臍上五寸。)　巨闕(臍上六寸。)　鳩尾(臍上七寸。)　中庭(臍上八寸。)　膻中(中庭上一寸六分。</p>
<p>)玉堂(膻中上一寸六分。)　紫宮(玉堂上一寸六分。)　華蓋(紫宮上一寸六分。)　璇璣(華蓋上一寸六分。)　天突(璇璣上一寸六分。)　廉泉(頸下結喉上。)　承漿(唇下陷中。)</p>
<h3>督脈圖（注）</h3>
<p><a href="_files/pn-n22.bmp">督脈圖</a></p>
<p>長強(　骨端三分。)　腰俞(二十一椎下。)　陽關(十六椎下。)　命門(十四椎下。)(十三椎下。)　脊中(十一椎下。)　筋縮(九椎下。)　至陽(七椎下。)　靈台(六椎下。)神道(五椎下。)　身柱(三椎下。)　陶道(一椎下)。　大椎(第一節上。)　啞門(發際上五分。)　風府(發際上一寸五分。)　腦戶(去頂四寸五分。)　強間(腦戶上一寸五分。)　後頂(強間上一寸五分。)　百會(頂中。)　前頂(發際上三寸五分。)　囟會(發際上三寸。)上星(發際上一寸。)　神庭(發際上五分。)　素　(鼻端。)　水溝(人中。)　兌端(唇上端陷中。)　齦交(上齒內。)</p>
<h3>正身圖（注）</h3>
<p><a href="_files/pn-n23.bmp">正身圖</a></p>
<p>正身各穴，已載於《銅人》圖者不復注。第井灶在兩鼻孔，琵琶在肩井下，走馬在琵琶下，，百蟲在鬼眼上，膀胱在百蟲上。</p>
<h3>覆身圖（注）</h3>
<p><a href="_files/pn-n24.bmp">覆身圖</a></p>
<p>覆身各穴，載在《銅人》圖者，茲不重出。第高骨腦空，在風池風府上，龜尾在尾閭處，以補《銅人》所未載也。</p>
<h3>陽掌圖（注）</h3>
<p><a href="_files/pn-n25.bmp">陽掌圖</a></p>
<p>陽掌，掌正面也。掌心，為內勞宮。前離、後坎、左震、右兌、乾艮、巽坤，寄四隅，內八卦也。大指端脾，二節胃。食指端肝，三節大腸。中指端心，三節小腸。無名指端肺，三節包絡。小指端腎，三節膀胱。各指二節紋，為四橫紋，三節根為小橫紋。大指次指叉為虎口，食指三節為三關，魚際為版門，掌根為小天心，大橫紋，總心經，　統名大陵。以後為天河水，內間使，掌根上為陽池，下為陰池，二池旁為交骨。四指後握拳縫處為後谿。十指尖為十王穴，中指左右為兩端正，皆補《銅人》所未載也。</p>
<h3>陰掌圖（注）</h3>
<p><a href="_files/pn-n26.bmp">陰掌圖</a></p>
<p>陰掌者，掌背也。掌背心為外勞宮，與陽掌八卦相同，為外八卦。大指次指叉後為合谷，合谷後為甘載。掌根盡處為一窩風。一窩風上為精寧，下為威靈，一窩風後為陽池，再後為外關，再後為外間使。手彎處為曲池，手彎尖處為斗肘，大指外廉爪甲角韭葉許為少商，食指中指骨界空處為二扇門，中指無名指骨界空處亦為二扇門。四指後為二人上馬，五指中節有橫紋為五指節，種種穴名，亦補《銅人》所未載也。</p>
<h3>足部圖（注）</h3>
<p><a href="_files/pn-n27.bmp">足部圖</a></p>
<p>足部各穴，載於《銅人》圖者，茲不復注。第老龍穴在足二指巔，鞋帶即仆參，在足後跟上。內外鬼眼，外在膝前，內在膝後，皆以補《銅人》之未載也。</p>
<h3>推坎宮法</h3>
<p><a href="_files/pn-n28.bmp">推坎宮圖</a></p>
<p>法治外感內傷均宜。醫用兩大指，春夏蘸蔥薑和真麻油，由小兒眉心上，分推兩旁。</p>
<h3>推攢竹法</h3>
<p><a href="_files/pn-n29.bmp">推攢竹圖</a></p>
<p>法治外感內傷均宜。醫用兩大指，春夏蘸水，秋冬蘸蔥薑和真麻油，由兒眉心，交互往上直推。</p>
<h3>雙鳳展翅法</h3>
<p><a href="_files/pn-n29a.bmp">雙鳳展翅圖</a></p>
<p>專治肺經受寒。醫用兩手中、食二指，捻兒兩耳尖，向上三提畢。次掐承漿，又次掐兩頰，以及聽會、太陰、太陽、眉心、人中諸穴。</p>
<h3>分陰陽法</h3>
<p><a href="_files/pn-n30.bmp">分陰陽圖</a></p>
<p>法治寒熱往來。將兒手掌向上，醫用兩手托住，將兩大指於掌後中間，往外陰陽二穴分之。</p>
<p>陽穴宜重分，陰穴宜輕分，無論何法，均須用此。但寒證宜多分陽，熱證宜多分陰，又不可不講也。</p>
<h3>取天河水法</h3>
<p><a href="_files/pn-n31.bmp">取天河水圖</a></p>
<p>法主大涼，病熱者用之。將兒手掌向上，蘸冷水由天河水推至內勞宮。如蘸冷水由橫紋推至曲池，為推天河水法。蘸冷水由內勞宮直推至曲池為大推天河水法。</p>
<h3>蒼龍擺尾法</h3>
<p><a href="_files/pn-n32.bmp">蒼龍擺尾圖</a></p>
<p>法能退熱開胸。醫右手拿兒左手食、中、名三指。以左手從總經起，搓摩至天河及斗肘，手法略重，自斗肘又搓摩至總經。一上一下三四次，又將左手大、食、中三指捏兒斗肘，右手照前拿法，搖動九次。</p>
<h3>推三關法</h3>
<p><a href="_files/pn-n33.bmp">推三關圖</a></p>
<p>法主溫，病寒者用之。將兒手掌向上，蘸蔥薑湯，由陽池推至曲池上面，須推三五百次，量人虛實施之。</p>
<p>一法蘸蔥薑湯，由大橫紋中間，直推至曲池，溫法也。夏禹鑄主之。</p>
<h3>退六腑法</h3>
<p><a href="_files/pn-n34.bmp">退六腑圖</a></p>
<p>法主涼，病熱者用之。將兒手掌向上，蘸開水，由陰池推至曲池下面，須推三五百次，量人虛實施之。</p>
<p>一法，蘸開水，由手背一窩風中間，直推至斗肘，涼法也。夏禹鑄主之。</p>
<h3>水中撈月法</h3>
<p><a href="_files/pn-n35.bmp">水中撈月圖</a></p>
<p>法主大涼。將兒掌向上，醫用左手拿住，右手滴涼水一點於內勞宮，即用右手四指扇七下，再滴涼水於總經、天河兩穴。又吹四五口，將兒中指屈之，醫以左大指捏住，右手捏拳，將中指節自總經按摩到曲池，橫空二指，如此四五次，在關踢，涼行背上。往腑踢，涼入心肌。切勿輕用。</p>
<p>一法將兒手掌心，用冷水旋推旋吹，如運八卦法。四面環繞，為水底撈月。夏禹鑄主之</p>
<h3>按弦搓摩法</h3>
<p><a href="_files/pn-n36.bmp">按弦搓摩圖</a></p>
<p>法治痰滯。醫用左手拿兒掌向上，以右大、食、三指自陽穴上，輕輕按摩至曲池，又輕輕按摩至陰穴止，如此一上一下，凡九次。屬陽證者，關輕腑重。屬陰證者，關重腑輕。再用兩手，從曲池搓摩至關腑三、四次。又將右大、食、中指捏兒脾指，左大、食、中指，捏兒斗肘，往外搖二十四下。</p>
<h3>猿猴摘果法</h3>
<p><a href="_files/pn-n37.bmp">猿猴摘果圖</a></p>
<p>法主溫，治痰氣，除寒退熱。醫用左手食、中兩指，捏兒陽穴，大指捏陰穴。屬寒證者，將右大指從陽穴往上揉至曲池，轉下揉至陰穴，名轉陽過陰。屬熱證者，從陰穴揉上至曲池，轉下揉至陽穴，名轉陰過陽。俱揉九次。陽穴即三關，陰穴即六腑也。揉畢，再將右大指，掐兒心、肝、脾三指，各掐一下，各搖二十四下。寒證往裡搖，熱證往外搖。</p>
<h3>鳳凰展翅法</h3>
<p><a href="_files/pn-n38.bmp">鳳凰展翅圖</a></p>
<p>法主溫。醫用兩手托兒手於總經上，將兩手上四指在下邊兩面爬開，二大指在上陰陽二穴，兩面爬開。再以兩大指捏陰陽二穴向外搖二十四下，捏緊一刻，又將左、大、食、中指側拿兒手肘，向下輕擺三、四下，復用左手托兒斗肘，右手托兒手背，大指掐住虎口，往上向外順搖二十四下。</p>
<h3>推中指法</h3>
<p><a href="_files/pn-n39.bmp">推中指圖</a></p>
<p>法治寒熱往來。醫用左手大指、無名指，拿兒中指，以中指、食指托兒中指背，蘸湯以右大指推之。</p>
<h3>飛經走氣法</h3>
<p><a href="_files/pn-n40.bmp">飛經走氣圖</a></p>
<p>法主溫。醫用右手拿兒手，四指不動。左手四指，從兒曲池邊起，輪流跳至總經上九次，復拿兒陰陽二穴，將右手向上往外，一伸一縮，傳送其氣，徐徐過關也。</p>
<h3>天門入虎口法</h3>
<p><a href="_files/pn-n41.bmp">天門入虎口圖</a></p>
<p>法主健脾消食。將兒手掌向上，蘸蔥薑湯，自食指尖寅、卯、辰三關側，推至大指根。</p>
<h3>補脾土法</h3>
<p><a href="_files/pn-n42.bmp">補脾土圖</a></p>
<p>法主健補脾虛。醫用左手將兒大指面屈拿之，以右手蘸蔥薑湯推之。又將兒大指面直拿之，仍以右手蘸蔥薑湯推之。互相為用，在人之活法耳。</p>
<h3>二龍戲珠法</h3>
<p><a href="_files/pn-n43.bmp">二龍戲珠圖</a></p>
<p>法主溫。醫將右大、食、中三指，捏兒肝肺二指。左、大、食、中三指，捏兒陰陽二穴，往上一捏又一捏，捏至曲池五次。熱證、陰捏重而陽捏輕，寒證、陽重而陰輕，再捏陰陽二穴，將肝肺二指，搖擺二九、三九是也。</p>
<h3>赤鳳搖頭法</h3>
<p><a href="_files/pn-n44.bmp">赤鳳搖頭圖</a></p>
<p>法治寒熱均宜，能通關順氣。將兒左掌向上，醫用左手大、食、中指，輕輕捏兒斗肘，以右手大、食、中指，先捏兒心指，朝上向外順搖二十四下，次肝指，次脾指，次肺指，再次捏腎指，俱順搖二十四下，女搖右手亦朝上向外，各搖二十四下，即男順女逆也。</p>
<h3>推五經法</h3>
<p><a href="_files/pn-n45.bmp">推五經圖</a></p>
<p>五經者，即五指尖心、肝、脾、肺、腎也。二、三節為六腑。醫用左手四指托兒手背，捏兒掌心，右手食指曲兒指尖下，逐指推運，往上直推。往右運為補，往左運為瀉。先須直推，次看兒寒熱虛實。心肝肺指，或瀉或補，大指脾胃宜多補，如熱甚可略瀉。腎經或補或瀉，或往指根推之。</p>
<h3>運內八卦法</h3>
<p><a href="_files/pn-n46.bmp">運內八卦圖</a></p>
<p>法治心熱痰迷。醫用左手拿兒左手四指，掌心朝上，右手四指托兒手背，以大指自乾運震卦略重。又輕運七次為定魄。再自巽起推至兌四卦，照前七次為安魂。又自坤至坎七次能退熱。又自艮至離七次能發汗。若咳嗽，自離運至乾七次，再坎離二宮直推七次，為水火既</p>
<h3>打馬過天河法</h3>
<p><a href="_files/pn-n47.bmp">打馬過天河圖</a></p>
<p>法主涼，能去熱病。醫用左大指捏兒總經，以右大、中指彈之，如彈琴狀。由天河彈過曲池九次，再將右大指掐肩井、琵琶、走馬三穴，各五次。</p>
<p>一法運勞宮畢，屈指向上，以指甲彈內關、陽池、間使、天河等穴。《按摩經》主之。</p>
<p><a href="_files/pn-n48.bmp">十大手圖</a></p>
<p>法治乳滯感寒。將兒左手掌向上，醫用兩手中、名、小三指托住，將二大指輕按三關六中，左食指靠腑，右食指靠關，中掐旁揉，自總經起循環轉動至曲池邊，橫空三指，自下復上，三四轉為妙。</p>
<h3>運外八卦法</h3>
<p><a href="_files/pn-n49.bmp">運外八卦圖</a></p>
<p>法主通氣血，開秘結。將兒手背向上，醫以右大指從乾運起，至離宮略輕，過離如余宮</p>
<h3>運水入土運土入水法</h3>
<p><a href="_files/pn-n50.bmp">運水入土運土入水圖</a></p>
<p>法治腎脾。將兒掌向上，醫用右大指面，蘸蔥薑湯，由腎水起，經乾、坎、艮三宮邊過脾土止，為運水入土，治痢疾。由脾土起，經艮、坎、乾三宮邊過，至腎水止為運土入水，治泄瀉。</p>
<h2>卷四‧列證</h2>
<h3>驚風</h3>
<p>驚風者，驚生於心，風生於肝。小兒熱盛生風，風盛生痰，痰盛生驚。驚盛則肘臂伸縮，十指開合為搦，肩頭相撲為掣，手足動搖為顫，身仰後向為反，手若開弓為引，目直似怒為竄，露睛不活為視，是為八候也。療驚必先豁痰，豁痰必先祛風，祛風必先解熱，而解熱又必辨風、寒、暑、濕、燥、火外感之邪，必先辨之而後去之。其驚風有急有慢，分為兩門，其證異，其法亦異。</p>
<p>急驚，證多暴發，壯熱煩急，面赤唇紅，痰壅氣促，牙關緊急，二便秘澀，或由風寒鬱閉，或由熱邪阻塞，痰滯經絡所致。</p>
<p>掐揉合谷穴，(三十六遍。)掐揉中指巔，(二十四遍。)掐揉威靈穴(五十遍。)分陰陽，(三百遍。)推三關，(二百遍。)退六腑，(二百遍。)推腎水，(一百遍。)推天河水，(二百遍。</p>
<p>)推脾土，補清(各一百遍。)推補肺經，(二百遍。)運五經，(二十遍。)掐五指節，(二十六遍。)猿猴摘果，(二十遍。)咬昆侖穴，(三次。)推三陰穴，(急驚由上至下二十四遍。)清天河水，(二百遍。)揉內勞宮，(二百遍。)運八卦。(一百遍。)凡推法，用蔥椒水，再以水調蛤粉，敷頭頂心，手足心，並太陽等處，暫禁乳食。用汗法，(見卷二，二十一頁。)通脈法，(見卷二四十四頁。)寒用疏表法，(見卷二，三十七頁。)熱用清裡法，(見卷二，三十八頁。)痰用開閉法。(見卷二，四十頁。)慢驚，面青唇白，四肢厥冷，人事昏迷，手足搐掣，兩目無神，睡則露睛，神色淒慘，大便色青，總由誤汗誤下，脾土虛敗所致。</p>
<p>掐老龍穴，(三次。)灸昆侖穴，(三壯。)分陰陽，(二百遍。)推三關，(二百遍。)推肺經，(二百遍。)推腎水，(二百遍。)推補脾土，(二百遍。)掐五指節，(二十遍。)運五經，(三十遍。)運八卦，(一百遍。)赤鳳搖頭，(二十遍。)二龍戲珠，(三十遍。)天門入虎口，(三十遍。)推三陰穴，(慢驚從下往上。)揉小天心，(二百遍。)凡推法，用蔥薑加香麝水，用　法，(見卷二，三十頁。)用納氣法，(見卷二，四十三頁。)用灸法。(見卷二，二十六頁。)按：驚風原小兒應有之證。第近來各家言驚風者，沿為二十四種，後增四種，後又增數種，至三十余種，列名既多，愈覺誕妄。治法應豁痰以療驚，驅風以止掣，一以祛邪為主。奈庸夫村婦，用針挑筋以治驚，不知驚之為驚，而誤以為筋骨之筋也。舌吐如蛇舌，故驚名蛇絲。手足亂舞如馬蹄，故驚名馬蹄。口動如魚吮水，故驚名鯽魚。倘因病形以立名，則將來驚風名目有不可勝數者矣。夏禹鑄辟謬甚是。余以急驚、慢驚為兩門。急驚屬陽，古稱陽癇，慢驚屬陰，古稱陰癇。蓋是證，中土已虛，風木始動，延久即見驚駭之狀耳，實則非因驚而起也。奈世俗不知，一詢醫者不識驚名，即以醫為無技。以故種種驚名不可不知，亦以免俗眼抑揄爾。(惕厲子)</p>
<h3>疳疾</h3>
<p>疳者，干而瘦也。由小兒稟賦氣血虛弱，臟腑柔脆，或乳食過飽，或肥甘無節，停滯中脘，傳化遲滯，腸胃漸傷，則生積熱，熱盛成疳，則消耗氣血，煎灼津液。凡疳疾初起，尿如米泔，午後潮熱，或因吐瀉瘧痢，日久失治，以及久熱、久汗、久咳、久瘡，致令青筋暴露，肚大堅硬，面色青黃，肌肉消瘦，皮毛憔悴，而疳證成矣。然當分其所屬而治之。心疳，則面紅便赤，　壯熱煩渴，切牙弄舌；肝疳，則面目爪甲皆青，目胞赤腫，翳生淚多，白膜遮睛，糞青如苔；脾疳，則黃瘦，頭大脛細，或喜吃米，吃茶葉，吃泥土，或吐瀉煩渴，大便腥黏；肺疳，則面白咳逆，毛髮焦枯，肌膚干燥，憎寒發熱，常流清涕，鼻頰生瘡也；腎疳，則面色黧黑，齒齦出血，口臭足冷，骨瘦腹痛，泄瀉，啼哭不已，湯藥宜分經治之。</p>
<p>分陰陽，(二百遍。)推三關，(一百遍。)退六腑，(一百遍。)推脾土補清，(各二百遍。)推腎水，(一百遍。)揉肚，(一百遍。)摩臍左右旋。(各一百遍。)按：疳疾一證，身多發熱，宜分別輕重虛實治之。《醫宗金鑒》於疳證分列各名，方法俱在，勿拘於外治也。(惕厲子)</p>
<h3>嘔吐</h3>
<p>吐證有三，曰嘔、曰吐、曰噦。噦、即乾嘔也。先賢謂嘔屬陽明，有聲有物，氣血俱病也。</p>
<p>吐屬太陽，有物無聲，血病也。噦屬少陽，有聲無物，氣病也。獨李東垣謂嘔、吐、噦，俱屬脾胃虛弱。潔古老人又從三焦以分氣，積，寒之三因，然皆不外諸逆上衝也。宜分虛實、寒熱以治之。</p>
<p>熱吐　小兒為稚陽之體，邪熱易感，或則乳母過食濃味，以致熱積胃中，將熱乳吮兒，或則小兒過食煎爆之物，以及辛熱諸品，遂令食入即吐。其證面赤唇紅，口渴飲冷，身熱便赤，吐次雖少而所出甚多，乳汁化而色黃也。內治，以溫膽加黃連麥冬主之。</p>
<p>分陽陰，(二百遍。)推三關，(一百遍。)退六腑，(一百遍。)推肺經，(一百遍。)推脾經，(一百遍。)運水入土，(一百遍。)運八卦，(一百遍。)赤鳳搖頭，(五十遍。)掐十王穴，(二十四遍。)掐右端正，(二十四遍。)揉總經，(八十遍。)揉斗肘。(八十遍。)寒吐　因小兒過食生冷，或乳母當風取涼，使寒氣入乳，將寒乳吮兒，以致胃虛不納，乳汁不化。其證喜熱惡寒，面唇色白，四肢逆冷，朝食暮吐。吐出之物，不臭不酸，吐次多而所出少也。內治宜溫中主之。</p>
<p>分陰陽，(二百遍。)推三關，(一百遍。)退六腑，(一百遍。)推補脾土，(一百遍。)推肺經，(八十遍。)運八卦，(一百遍。)掐右端正，(三十六遍。)黃蜂入洞，(二十四遍。)赤鳳搖頭，(二十四遍。)搖斗肘。(五十遍。)實吐　內傷食滯，胃不能納，每吐必有酸臭之味，身發潮熱，見食則惡，胸腹脹滿，二便秘澀，痞硬疼痛，口渴思飲寒涼也。內治以下法主之。</p>
<p>分陰陽，(二百遍。)推三關，(一百遍。)退六腑，(一百遍。)推脾土，(一百遍。)運八卦，(八十遍。)掐五指尖，(二十四遍。)掐右端正，(二十四遍。)撈明月，(三十六遍。)打馬過天河，(三十六遍。)搖斗肘。(五十遍。)虛吐　胃氣虛弱，不能消納乳食。其證精神困倦，囟門煽動，睡臥露睛，自利不渴，時常嘔吐者是也。內治以四君加丁香、沉香主之。</p>
<p>分陰陽，(二百遍。)推三關，(一百遍。)退六腑，(一百遍。)運八卦，(八十遍。)推補脾土，(二百遍。)掐右端正，(二十四遍。)運土入水，(八十遍。)赤鳳搖頭，(二十四遍。)推補大腸，(五十遍。)揉斗肘，(八十遍。)推補五經。(八十遍。)按：《靈樞》足厥陰所生病者，胸滿嘔逆，嘔吐，證雖屬胃氣失降，而多由肝逆沖胃致之。</p>
<p>故湯藥治法，宜泄肝安胃，以苦降辛通，佐以酸泄主之。甚至嘔而絕粒者，取生鵝血熱飲。</p>
<p>每食必吐者，煮羊血熟食之，皆主之。則雖有按摩外治之法，特其一端耳。司命者，當博采旁搜，於每證必須有審證之法，極效之方，庶幾無愧。(惕厲子)</p>
<h3>泄瀉</h3>
<p>泄瀉者，胃中水穀不分，並入大腸，多因脾濕不運。《內經》所謂濕多成五泄也。小兒致病之原，或內由生冷乳食所傷，或外因風寒暑濕所感，抑或飢飽失時，脾不能運，冷熱相干，遂成泄瀉。甚至久瀉不止，元氣漸衰，必成慢驚重症。內治宜分消，宜溫補。</p>
<p>分陰陽，(二百遍。)推三關。(一百遍。)退六腑，(一百遍。)。推補脾土，(二百遍。)推心經，(八十遍。)推清腎水，(一百遍。)掐左端正，(二十四遍。)側推大腸，(八十遍。)揉外勞宮，(四十九遍。)運八卦，(一百遍。)揉臍及龜尾，(二百遍。)掐承山，(三十遍。)打馬過天河，(八十遍。)搖斗肘。(八十遍。)屬寒者，加黃蜂入洞，(二十四遍。)屬熱者，加撈明月。(二十四遍。)按：泄瀉證皆兼濕，初宜分理中焦，滲利下焦，久則升舉，必至脫滑不禁，方以澀藥固之。</p>
<p>李士材治瀉有九法：淡滲、升提、清涼、疏利、甘緩、酸收、燥脾、溫腎、固澀，然有因痰而泄者，又宜以痰泄之法治之，若僅以按摩施之，則拘矣。(惕厲子)</p>
<h3>寒證</h3>
<p>風、寒、暑、濕、燥、火，謂之六淫。仲師有《傷寒論》，其中分六經見證，列三百九十七法，一百一十三方，精矣，備矣。小兒感寒證，憎寒，畏風，身熱，頭疼，項強，肢節痛，胸滿痞，內治以疏表主之。</p>
<p>分陰陽，(二百遍。)推三關，(一百遍。)退六腑，(一百遍。)運內八卦，(五十遍。)掐五指尖，(五十遍。)搖斗肘。(五十遍。)無汗，掐二扇門，(五十遍。)掐心經(五十遍。)揉內勞宮，(一百遍。)推脾土，(一百遍。)天門入虎口，(一百遍。)推肺俞穴，(一百遍。)推由大椎至龜尾，(一百遍。)凡推法，用蔥薑水，用疏表法，(見卷二，三十六頁。)汗法，(見卷二，二十一頁。)通脈法，(見卷二，四十三頁。)按：寒證，感冒則輕，傷寒則重，中寒則尤重。仲師《傷寒論》其中有云：若汗之者，是不當汗而汗，為誤汗也。有云：若下之者，是不當下而下，為誤下也。《傷寒》一書，為後世救誤之書，不然，六經證候，只立數方，足以盡之，何以著一百十三方之多耶?吁!仲師慮人之誤也，而設方以救之，凡為司命者，可不揭其所以誤，而體仲聖救世之心哉。(惕厲子)</p>
<h3>熱證</h3>
<p>小兒發熱，有表裡虛實之異。何謂表熱?外感寒邪，脈浮緊，苔微白，頭疼，發熱，身痛，無汗，惡風，惡寒者是也；何謂裡熱?小兒肥甘過度，致生內熱，面赤，唇焦舌燥，小溲赤澀，脈實有力者是也；何謂虛熱?小兒氣質虛弱，營衛不和，其證神倦氣乏，又有陰盛格陽，外浮發熱者，其面色雖赤，煩躁不寧，然小溲必清白，四肢必厥逆，方為真寒假熱；何謂實熱?小兒午後潮熱，蒸蒸有汗，肚腹脹滿，面唇紅赤，口舌乾燥，溲赤，便難，煩渴不止，啼哭不已，脈洪數有力者是也。辨證確，則施治不難矣。</p>
<p>胎熱　兒生旬日間，目赤，身熱，溲黃，啼哭，驚煩，由母受胎後，過食五辛，以致熱蘊於內，熏蒸胎氣而生，名曰胎熱。久則有鵝口、重舌、木舌、赤紫丹瘤等證，不可不予防也。</p>
<p>分陰陽，(二百遍。)推三關，(一百遍。)退六腑，(一百遍。)推三焦，(三十六遍。)清天河水，(五十遍。)揉外勞宮，(一百遍。)運內八卦，(一百遍，自坤至坎，宜多二次。)掐腎水，(三十六遍。)掐十王穴，(三十六遍。)運斗肘，(三十六遍。)水底撈明月。(三十六遍。)凡推用蔥水。　法，　虎口曲池，(見卷二，三十頁。)驚熱　小兒見異物則懼，或聞聲而心駭，心既受涼，氣則不順，身發微熱，夢寐不安，脈數煩躁，與急驚相似。</p>
<p>分陰陽，(二百遍。)推三關，(一百遍。)退六腑，(一百遍。)清心經，(一百遍。)推二扇門，(一百遍。)推肺經，(一百遍。)掐中指巔，(五十遍。)掐合谷，(五十遍。)掐總經，(五十遍。)清天河水，(三十六遍。)掐揉威靈，(五十遍。)運斗肘，(五十遍。)撈明月。(三十六遍。)凡推用蔥湯。</p>
<p>疳熱　小兒食積於中，郁久生熱，自脾經失治，傳之各臟，致成五疳之疾，若脾病去則余臟皆安矣。</p>
<p>分陰陽，(二百遍。)推三關，(一百遍。)退六腑，(一百遍。)推補脾土，(二百遍。)天門入虎口，(一百遍。)推大小腸，(一百遍。)運內八卦，(一百遍。)掐揉總經，(五十遍。)運斗肘，(五十遍。)摩運肚臍左右旋轉，(各二、三百遍。)分胸腹陰陽。(二百遍。)凡推用蔥薑水。</p>
<p>按：諸病屬熱者多。病機十九條，大半皆言熱，此熱證所宜辨也。其中真熱假寒，真寒假熱，一經差誤，生死攸關。然必辨之於平時，而施之於當境。庸工不讀書，不辨證，即至病者就診，既無主見，有何把握，隨意疏方，草菅人命，良可慨也。噫!病者不死於病而死於醫，並不死於醫而死於病家之延醫者。(惕厲子)</p>
<h3>痢疾</h3>
<p>痢疾，古名滯下。多因外受暑濕，內傷生冷，而傷於氣者色多白，以肺與大腸相表裡也。傷於血者色多赤，以心與小腸相表裡也。裡急者，腹窘痛也。後重者，頻下墜也。總之，無積不成痢，內治以宣通之法主之。</p>
<p>熱痢，濕熱熏蒸，凝結腸胃，以致腹痛，肛墜，溲短，舌赤，唇焦，煩渴迸迫，下痢鮮紅，脈象洪滑。總由暑濕積滯，內治宜清火導滯法。</p>
<p>推三關，(二百遍。)退六腑，(一百遍。)清心經，(一百遍。)分陰陽，(二百遍。)推大腸，(八十遍。)推脾土，(二百遍。)運八卦，(八十遍。)推腎水，(八十遍。)揉臍及龜尾。(各一百遍。)寒痢者，生冷不節，脾失轉輸，下痢白膿腸鳴切痛，面唇青白，渴喜熱飲，脈象弦弱。</p>
<p>內治宜溫理脾胃，佐以行氣法。</p>
<p>分陰陽，(二百遍。)推三關，(二百遍。)退六腑，(八十遍。)運八卦，(八十遍。)推脾土，(一百遍。)推大腸，(一百遍。)天門入虎口，(八十遍。)揉臍及龜尾，(各一百遍。)運水入土，(一百遍。)板門推向橫紋，(五十遍。)推委中後承山。(各五十遍。)凡推用薑蔥水，用灸法，灸神闕。(見卷二，二十六頁。)赤白痢，由冷熱不調。內治以駐車丸連理湯主之。</p>
<p>分陰陽，(二百遍。)推三關，(一百遍。)退六腑，(一百遍。)推脾土，(一百遍。)運八卦，(五十遍。)推大腸(二百遍。)版門推向橫紋，(五十遍。)摩臍腰眼，並龜尾，(各一百二十遍。)推委中後承山。(各五十遍。)凡推用薑蔥水。</p>
<p>噤口痢。熱毒沖胃，腸中傳導皆逆阻似閉，身熱，舌赤，唇紅。內治以清解熱毒主之。</p>
<p>分陰陽，(二百遍。)推三關，(一百遍。)退六腑，(一百遍。)推脾土(一百遍。)推大腸，(二百遍。)版門推向橫門，(五十遍。)摩臍腰眼並龜尾，(各一百二十遍。)推委中並後承山。(各五十遍。)按：痢疾必兼濕熱停滯，氣機阻逆，不得宣通，致令裡急後重，小溲赤澀。宜苦寒之藥，燥濕滌熱，佐以辛溫，便能開鬱行氣。故行血則便膿自愈，調氣則後重自除。然必分初、中、末治之。初痢，則形氣尚強，脹實堅痛者，亟宜去積，積去，則痢止。此通因通用之法也。其或有煩熱，喜冷脈實，腹滿，純下鮮紅血者，濕熱內盛，亟宜清利，迨經久已傷，或傷陰，或傷陽。傷陰者，精血脂液悉從痢去，多煩躁熱渴之候，宜清潤　養陰；傷陽者，脾腎元陽，因痢而衰，多滑脫厥逆之候，宜溫補回陽。總之，暴病多實，久病多虛，滑脫多寒，澀滯多熱。參之脈證，合之新久，庶幾近之，勿徒以按摩為也。(惕厲子)</p>
<h3>瘧疾</h3>
<p>《內經，》夏傷於暑，秋必病瘧。謂瘧疾由傷暑而汗出腠開，當風浴水受淒涼之水寒，及秋遇涼風束之，裡邪不能外越，則隨經絡以內薄，舍於臟腑募原之間，與日行之衛氣相值而瘧作焉。當其邪正交爭，並於陰，則中外皆寒，並於陽，則內外皆熱，極則陰陽俱衰，衛氣相離，故病得體，衛氣集則復作。治者於瘧將發時與正發之際，切勿施治，治之則病愈甚，須在未發前二、三時，迎而奪之，方為合法。小兒胎瘧，不能服藥，用黃丹五錢，生明礬三錢，胡椒二錢五分，麝香少許，共研末，以好醋調敷手心，男左女右，以絹包手掌，藥發自汗而愈。如小兒未進穀食者，患瘧久不止，用冰糖濃煎湯喂之，最驗。</p>
<p>食瘧。飲食不節，復感風暑，寒熱交作，腹脹痞悶，面黃惡食，內治以養胃湯減參朮主之。</p>
<p>分陰陽，(二百遍。)推三關，(一百遍。)退六腑，(一百遍。)清天河水，(二百遍。)推脾土(二百遍。)推腎水補清，(各一百遍。)揉臍，(一百遍。)運八卦，(二十遍。)用熨法。(見卷二，四十五頁。)痰瘧。小兒素有痰飲，復因外邪凝結脾胃，胸悶欲吐，其證面黃目腫，內治以豁痰之藥主之。</p>
<p>分陰陽，(二百遍。)推三關，(一百遍。)退六腑，(一百遍。)　推清肺經，(二百遍。)推四橫紋，(三十遍。)推脾土，(二百遍。)揉臍，(一百二十遍。)揉內勞宮，(三十遍。)運八卦，(五十遍。)按弦搓摩，(二十四遍。)汗吐法先之。凡推法用薑湯，或桃葉汁亦可。另用桃葉研餅，敷涌泉穴，用開閉法，(見卷二，三十九頁。)引痰法。(見卷二，四十頁。)久瘧。邪結血絡，左脅脹滿，牽連少腹，或腎虛脾虛皆有之。</p>
<p>分陰陽，(二百遍。)推三關，(二百遍。)退六腑，(一百遍。)清天河水，(二百遍。)推補脾土，(二百遍。)運八卦，(一百遍。)掐二人上馬。(二十遍。)凡推用薑水，桃葉捶爛敷足心癉瘧，但熱不寒，由陰氣先傷，陽氣獨發，壯熱，少氣，煩冤，手足熱，欲嘔，邪內藏於心，外舍肌肉，令人消爍肌肉。內治以甘寒生津法。</p>
<p>分陰陽，(二百遍。)推三關，(二百遍。)推脾土，(一百遍。)運八卦，(五十遍。)推肺經，(五十遍。)退六腑，(一百遍。)推間使、內關，(一百遍。)天門入虎口，(五十遍。)搖斗肘，(五十遍。)清裡法。(見卷二，三十七頁。)按：瘧證，內傷痰食積滯，外感風寒暑濕。但感有淺深，故病有輕重，所期寒則溫之，熱則清之，食則消之，風痰則疏導之，務須緩以圖治，不可期以速效。逐日行按摩等法三五次，至三五日、五七日均可。嬰兒如此，大人則次數加多，日期更久，方為合法。毋欲速以圖功，致生他證，是謂至要。勿謂徒恃手法而不求方藥也。(惕厲子)</p>
<h3>咳嗽</h3>
<p>肺為華蓋，職司整肅。自氣逆而為咳，痰動而為嗽。其證之寒熱虛實，外因內因，宜審辨也。肺寒則嗽必痰稀，面白，畏風多涕，宜溫肺固衛。肺熱則嗽必痰稠，面紅身熱，喘滿，宜降火清痰。肺虛則嗽必氣逆，汗出，顏白，飧泄，宜補脾斂肺。肺實則嗽必頓咳，抱首，面赤，反食，宜利膈化痰。外因在六淫，內因在臟腑，亦各有治法，而外治諸法，要不可緩。</p>
<p>分陰陽，(二百遍。)推三關，(一百遍。)退六腑，(一百遍。)推肺經，(二百遍。)掐二扇門，(二十四遍。)掐二人上馬，(二十四遍。)揉肺俞穴，(二百遍。)掐五指節，(二十四遍。)掐合谷，(二十四遍。)運八卦，(一百遍。)揉大指根，(一百遍。)掐精寧，(二十四遍。)天門入虎口，(五十遍。)痰壅氣喘，加掐精靈，(三十六遍。)掐版門。(二十四遍。)痰結雍塞，加運八卦。(一百遍。)乾咳，加退六腑，(一百遍。)痰咳，加推肺經，加推脾經，加清腎水，加運八卦，(各一百遍。)氣喘，加飛經走氣。(五十遍。)凡推用蔥水。</p>
<p>按：先賢言諸病易治，咳嗽難醫。以咳嗽病因，頭緒紛煩也。徐洄溪歷三十年而後能治咳嗽，其治咳嗽之難，有如此者，司命者應如何辨證，如何施治，必求百治百效，庶不愧為良工。(惕厲子)</p>
<h3>痰迷</h3>
<p>小兒痰雍氣塞，呀呷作聲，甚至痰漫竅閉，如痴如迷，甚至痰塞喉間，吐之不出，咽之不入，在小兒為尤多。內治宜豁痰化痰主之。</p>
<p>分陰陽，(一百遍。)推三關，(一百遍。)退六腑，(一百遍。)推肺經，(一百遍。)推心經，(五十遍。)推四橫紋，(五十遍。)運八卦，(五十遍。)揉內勞宮，(五十遍。)天門入虎口，(五十遍。)掐五指節，(二十四遍。)吐法，(見卷二，二十二頁。)應先用之。抑或用雞毛沾燈窩油，掃喉中即吐。引痰法，(見卷二，四十頁。)通脈法，(見卷二，四十三頁。)開閉法。(見卷二，三十九頁。)小兒氣海穴，醫者以手指曲節抵之，旋又放之。以是法取痰，痰即下。此在下者引而竭之法也。</p>
<p>小兒中指由根掐至尖數下，再推涌泉穴，左轉不揉，以中指對按頰車穴，用耳挖爬舌上，即吐痰。此在上者因而越之法也。</p>
<p>按：痰由腎陽虛，火不制水，水泛為痰，為飲逆上攻，故痰清而澈，治宜通陽泄濕，忌用膩品助陰。痰由腎陰虛，火必爍金，火結為痰，為痰火上升，故痰稠而濁，治宜滋陰清潤，忌用溫燥之品。龐氏云：天下無逆流之水，因乎風也。人身無倒上之痰，因乎氣也。痰能隨氣升降，周身無處不到，在肺則咳，在胃則嘔，在心則悸，在頭則眩，在背則冷，在胸則痞，在脅則脹，在腸則瀉，在經絡則腫，在四肢則痹，甚至痰入心竅則迷，癲癇抽制，則各有治法在，不徒按摩已也。(惕厲子)</p>
<h3>頭腫</h3>
<p>頭腫。由風溫內伏，熱毒雍遏。或發於兩頤則為　腮，或發於頭面則為大頭瘟。內治以普濟消毒飲去升、柴、芩、連主之。</p>
<p>分陰陽，(二百遍。)推三關，(二百遍。)退六腑，(一百遍。)推脾土，(一百遍。)揉兩太陽，(五十遍。)運八卦，(二十遍。)揉內勞宮，(三十遍。)汗吐法先之。凡推用蔥湯，用清裡法，(見卷二，三十七頁。)解煩法。(見卷二，三十八頁。)按：頭腫為溫毒疫邪，疫為燥熱毒癘，從無辛溫升散之例，一切柴、葛、風燥辛熱諸品，皆不可犯。外解如蔥、豉、翹、荷之屬，內清如芩，連、滑、梔之屬，下奪如芒硝、大黃之屬。且疫為穢濁之邪，薰蒸熱痰，蒙蔽心包，神昏語譫，宜芳香宣逐，清血絡以防結閉。如犀、葛、郁、佩、銀花之屬。煩渴多汗，如石膏、知母之屬。疹發咽痛，如犀角、牛蒡、生地之屬。天行疫癘之氣，亟宜解毒為先，大頭瘟濕熱傷巔，腫大如斗，不速治，十死八九，豈徒以按摩已哉。(惕厲子)</p>
<h3>腹痛</h3>
<p>腹有寒痛，熱痛，食痛，氣不和痛，脾虛痛，肝木乘脾痛，蛔動痛者，不可以不辨。</p>
<p>寒痛者，氣滯陽衰，面色白，口氣冷，大便青色，小便青利。痛之來也。遷緩不速，綿綿不已。痛時，喜以熱手按之，其痛稍止，肚皮冰冷者是也。內治以香砂理中湯去白朮主之。</p>
<p>分陰，(一百遍，重。)分陽，(二百遍，輕。)推三關，(二百遍。)退六腑，(五十遍。)由胸腹分推左右，(二百遍。)揉肚臍，(二百遍。)推補脾土，(一百遍。)天門入虎口，(二十遍。)掐揉一窩風，(五十遍。)凡推用蔥薑水，用定痛法。(見卷二，四十四頁。)艾灸神闕、氣海各穴各七壯。(見卷二，二十六頁。)熱痛，面赤，口氣熱，唇紅，煩渴，大便秘，小便赤，時痛時止，痛來迅厲，腹形如常，不腫不飽，彈之不響，以熱手按之，其痛愈甚，肚皮熱如火灼，此真熱也。內治以清熱瀉火主之。</p>
<p>分陰，(二百遍。)分陽，(一百遍。)推三關，(五十遍。)退六腑，(一百遍。)水底撈明月，(一百遍。)清天河水，(三十六遍。)分腹陰陽，(二百遍。)揉肚臍，(一百遍。)推脾土。(一百遍。)用清裡法。(見卷二，三十七頁。)食痛，由飲食不節，積滯不化，食入即痛，眼胞浮腫，瀉必　臭，腹必飽脹，彈如鼓響，面黃噯酸，便後痛減，不飢不食者是也。內治香砂平胃散主之。</p>
<p>分陰陽，(二百遍。)推三關，(一百遍。)退六腑，(一百遍。)推脾土，(一百遍。)天門入虎口，(一百遍。)分腹陰陽，(二百遍。)揉臍，(二百遍。)凡推用蔥水香麝水，用艾灸神闕、氣海各穴七壯，(見卷二，二十六頁。)熨法，(見卷二，四十五頁。)定痛法，(見卷二，四十四頁。)氣不和痛，小兒初生後，束臍過緊，不知兒體漸長，束帶未松，上下氣不流通也。</p>
<p>分陰陽，(二百遍。)推三關，(一百遍。)退六腑，(一百遍。)推脾土，(一百遍。)分腹陰陽，(二百遍。)揉臍，(二百遍。)運土入水，(三十六遍。)揉臍，(二百遍。)運土入水，(三十六遍。)運八卦。(三十六遍。)凡推用蔥湯，用艾灸神闕三壯，(見卷二，二十六頁。)臍輪一　，氣海一　，心窩一　。(見卷二，三十頁。)脾虛痛，面色萎黃，大便少而色白，中有虛寒也。內治以香砂六君湯主之。</p>
<p>分陰陽，(一百遍。)推三關，(一百遍。)退六腑，(一百遍。)推補脾土，(三百遍。)運水入土，(一百遍。)分腹陰陽，(二百遍。)揉臍。(一百遍。)凡推用蔥湯，用艾灸神闕、氣海各穴三壯。(見卷二，二十六頁。)肝木乘脾痛，肝木克脾，肝氣無所泄，乘脾衰而痛也。其證唇白口淡，面色時青，痛則腹連兩脅，重按之則痛止，手起又痛也。內治以四君加柴、芍主之。</p>
<p>分陰陽，(一百遍。)推三關，(一百遍。)退六腑，(一百遍。)推補脾土，(二百遍。)天河入虎口，(二百遍。)揉臍，(二百遍。)分腹陰陽，(二百遍。)運水入土，(一百遍。)運八卦坎重，(一百遍。)推大腸，(六十遍。)運五經。(一百遍。)凡推用蔥薑湯。</p>
<p>蛔痛，口吐青水，痛久不歇，或一時或二時而止，或歇半日又痛，面黃唇白，或有紅點，脈乍大乍小，此其候也。內治理中安蛔散或烏梅丸加減主之。</p>
<p>分陰陽，(一百遍。)推三關，(一百遍。)退六腑，(一百遍。)推脾土，(一百遍。)揉肚臍。(一百遍。)凡推用蔥薑香麝水。用艾灸神闕、氣海穴各穴五壯。(見卷二，二十六頁。)史君子去殼火喂，或食十余粒，或少頃又食，以痛止則停。苦楝根皮一兩，水煎濃服，蟲即下。但體弱者酌之。</p>
<p>按：腹痛一證，寒淫為多，熱淫為少，以寒則易於阻塞陽氣也。氣滯者多，血滯者少，理氣滯不宜動血，理血滯則必兼行氣也。先哲以痛則不通，通則不痛，故治痛大法，不外溫散辛通，而其要則初用通腑，久必通絡，宜審虛實治之。(惕厲子)</p>
<h3>黃疸</h3>
<p>黃膽，由脾胃濕熱鬱蒸，漸自身目如金，汗溺皆黃。經謂濕熱相交，民病癉也。丹溪云：此如曲醬相似，濕熱久　，其黃乃成。海藏云：凡病當汗不汗，當利小便不利，皆生黃。內治以清熱泄濕主之。</p>
<p>分陰陽，(二百遍。)推三關，(一百遍。)退六腑，(一百遍。)推補脾土，(三百遍。)抱肚揉，(一百遍。)揉臍左右旋。(各一百遍。)凡推用蔥湯香麝水。</p>
<p>按：黃膽宜辨陰陽，濕熱陽黃多瘀熱，煩渴大汗，脈必滑數，系胃腑濕熱薰蒸，與膽液泄越，上而侵肺，則發黃。其色明如橘子。治在胃。且有表實裡實之分，表實則無汗，治宜疏表，使黃從表解；裡實則二便必秘，腹必滿，治宜下奪，使黃從裡解。若表裡無證，則不可汗下，惟利小便而已。</p>
<p>陰黃，身冷汗出，脈必沉微，系脾臟寒濕不通，與膽液浸淫，外漬肌肉則發黃，其色晦如煙薰，治在脾，或宜溫脾，以理中加茵陳主之。或宜溫腎，以四逆加茵陳主之。且陰黃亦有體痛發熱者，但身如薰黃，終不似陽黃如橘子色也。海藏治陰黃小便不利，煩躁而渴者，茵陳茯苓湯主之。</p>
<p>疸：黃病也。疸有五，身目皆黃，寒熱體倦者為黃膽；食已如飢，頭眩，煩熱身黃者為穀疸；大醉當風入水，心中懊　，不食欲吐，面黃赤斑者，為酒疸；房勞，小腹滿急，額上黑，手足心熱，薄暮發熱者為女勞疸；汗出染衣，色如柏汁，因身熱汗出澡浴，水入毛孔而成者，為黃汗。方書治法具在，則無庸贅述，若徒以按摩諸法施之，則拘矣。(惕厲子)</p>
<h3>腫脹</h3>
<p>腫在外屬水，脹在內屬氣。腫分陽水陰水，脹分氣實氣虛。因濕熱濁滯，致水腫者為陽水，因肺脾腎虛，致水溢者為陰水。濁氣在上為實脹，中氣不運為虛脹。辨其位，則臟腑脈絡皮膚上下表裡皆有之。辨其因，則寒熱濕痰氣血鬱滯蟲積皆致之。以論治法，則宜內外兼盡為要。</p>
<p>氣腫。皮濃色蒼，一身盡腫，自上而下，按之　而不起，由寒氣客於皮膚也。</p>
<p>分陰陽，(二百遍。)推三關，(二百遍。)　退六腑，(二百遍。)推脾土，(三百遍。)運水入土，(一百遍。)天門入虎口，(五十遍)。摩肚　臍左右旋轉。(各二百遍。)凡推用滾水，忌鹽醬生冷。</p>
<p>水腫。先喘後腫，皮薄色澤，自下而上，按之隨手而起。因煩渴喜飲，脾虛不能制水，水反侮土上衝肺，皮膚腫如裹水之狀。</p>
<p>分陰陽，(二百遍。)推三關，(二百遍。)退六腑，(二百遍。)推脾土，(三百遍。)運水入土，(一百遍。)摩肚臍左右旋轉。(各二百遍。)凡推用蔥薑湯，忌鹽醬生冷。</p>
<p>按：經言：諸濕腫滿，皆屬於脾。謂水為至陰，其標在肺，其本在腎，其制在脾。腎何以聚水，腎者胃之關也，腎虛則關閉，其水必逆而上泛，脾不能制，而反為水所漬，故肌肉浮腫，肺不能化，而反為水所凌，故氣息喘急，皆陰勝之害也。是知腫脹無不由肺脾腎者。以肺主氣化，脾主運輸，腎主藏液也。經言：膀胱藏津液，氣化則能出。氣化者：即右腎命門真火也。火衰則不能蒸動腎之關門而水聚焉。須以桂附腎氣丸，蒸動其關，積水始下，以陽主開也。此不獨治水腫，即治脹之要，亦在通陽。腫脹病在水分，以治水為主，兼理氣，氣化，水自化也。在氣分，以理氣為主，兼利水，水行，氣亦行也。必辨陰陽虛實，濕熱壅滯屬陽，濁氣凝滯屬陰。陽證按之痛，陰證按之不痛。陽證起於中焦，陰證起於下焦。凡陽證必熱，熱者多實。陰證必寒，寒者多虛。溺赤便秘，脈數有力，為熱為實。溺清便瀉，脈微無力，為虛為寒。陽證治在腑，法宜清，陰證治在臟，法宜溫。此腫脹之大概也。徐洄溪言：脹滿證即使正虛，終屬邪實。古人慎用補法。</p>
<p>總之，腫證易治，脹證難治。脹證頭緒甚多，宜辨有形無形，無形宜宣通，有形可攻伐。如食入脹加，治在通腑，二便通調，則脹又在臟。其大概治法，宜汗、宜利、宜分消、宜辛泄、宜清肅、宜溫通、宜升舉、宜疏利、宜補攝、宜開鬱、宜緩攻、宜軟堅化痞，宜理瘀導滯，總要在宣通，勿用守補，如是而已。(惕厲子)</p>
<h3>積聚</h3>
<p>諸有形而堅著不移者為積。諸無形而留止不定者為聚。積在五臟，主陰，病屬血分。聚在六腑，主陽，病屬氣分。《難經》既以積聚分屬臟腑，《巢氏病源》別立症瘕之病名，以不動者為症，動者為瘕。亦猶是《難經》積聚之說也。第無形之瘕聚，其散易。有形之症積，其破難。治之者，辨有形無形，在氣在血，可得其概矣。</p>
<p>分陰陽，(二百遍。)推三關，(一百遍。)退六腑，(一百遍。)推補脾土，(二百遍。)掐四橫紋，(三十遍。)運八卦，(八十遍。)掐大腸，(二十四遍。)揉版門，(八十遍。)推補腎水，(一百遍。)天門入虎口，(一百遍。)掐小橫紋。(二十遍。)發熱腹痛，加水底撈明月，(五十遍。)大便秘結，加推六腑，(一百遍。)掐小橫紋，(二十四遍。)揉掐腎水。(各五十遍。</p>
<p>)腹痛泄瀉，加揉掐一窩風，(三十六遍。)揉臍及龜尾。(各一百遍。)凡推用蔥薑椒水，用灸法。(見卷二，二十六頁。)按《難經》肺之積在右脅下，為息賁；肝之積在左脅下，為肥氣；心之積在臍上，上至心下，為伏梁；脾之積在胃脘，為痞氣；腎之積發於少腹，上至心，上下無時，為奔豚；其見於臍下為症瘕，症者按之不移，有血症、食症之別；瘕者假物成形，如血鱉石瘕之類。見於胸脅為痞癖，痞為結塊，在肌肉而可見。癖由內著，結隱癖而難求。既分其部，必原所起，其初由外感風寒，內傷氣鬱血瘀，食積痰滯，凝結於肓膜，久而盤踞堅牢，以至元氣日衰，攻補為難。如徒以按摩諸法治之，恐難奏效，所貴理其氣，氣行則脈絡通，尤宜調其中，脾運則積滯化。其藥宜辛散溫通，乃能入陰出陽，解散凝聚，李士材有陰陽攻積丸在，然搜逐之中，酌補元氣，務令脾胃氣旺，乃可消磨堅結。但堅頑之積聚，多在腸胃以外募原之間，非藥力所能猝及。宜薄貼以攻其外，針法以攻其內，艾灸以消散固結，佐其所不逮也。(惕厲子)</p>
<h3>食積</h3>
<p>食積。由乳食積滯，胸悶腸鳴，噯氣酸腐，見食則惡，或脹或痛，大便臭穢，矢氣有傷食之味。夾寒則面色白　，舌苔白膩，口吐清水，食物不化，手足時冷。夾熱則面赤唇干，口渴，舌苔黃膩。積久脾傷，延成疳疾。內治以健脾扶陽主之。</p>
<p>分陰陽，(一百遍。)推三關，(一百遍。)退六腑，(一百遍。)運八卦，(一百遍。)分腹陰陽，(二百遍。)揉臍，(二百遍。)推補脾土。(一百遍。)凡推用蔥薑水。用熨法，(見卷二，四十五頁。)灸法，灸神闕、鳩尾、氣海各穴七壯。(見卷二，二十六頁。)吐法，(見卷二，二十二頁。)下法，(見卷二，二十三頁。)通脈法。(見卷二，四十三頁。)附治傷乳。陳紅曲一錢五分，砂仁五分，生薑一片，水煎服。</p>
<p>附治傷一切諸穀食，將所傷之物燒灰，如雞內金炙灰，磨枳實汁調服。</p>
<p>附治傷諸肉食及生魚膾。草果(面包煨)五分，焦山楂肉一錢五分，研末，薑湯調服。</p>
<p>附治傷面筋粽子等物，諸藥不能消化。即以本物拌綠礬燒灰，沙糖酒下。</p>
<p>附治傷糯米粉餅餌。用炒酒藥或酒曲三錢炒，糖薑湯下。</p>
<p>附治傷索粉片者。紫蘇煎濃東加杏仁泥服之。</p>
<p>附治傷面傷豆腐者。生萊菔煎湯飲之。如無生萊菔，以萊菔子煎湯亦效。</p>
<p>附治傷瓜果生冷菜物。木香、砂仁各一錢。炮薑、肉桂各三分，麝香少許，共研末和飯杵丸，炒山楂煎湯下。</p>
<p>附治傷蟹膚痛者。蘇葉一錢，生薑一塊，煎湯，加丁香汁少許服，最效。</p>
<p>附治傷雞卵鴨卵胸腹滿悶。生薑、大蒜泥搗汁，和開水頻咽之。</p>
<p>附治傷狗肉。杏仁四兩，去皮尖，和沸湯搗爛絞汁，服二次即解，或以蘆根水煮汁飲亦效。</p>
<p>按：飲以養陽，食以養陰。飲食所以衛生，實脾胃所生之本也。胃旺則多食不滯，過時不飢。脾運則分輸五臟，榮潤四肢。然以生冷則戕胃，飢飽則戕脾。中氣先餒，不宜專事消導。</p>
<p>中氣，即脾胃沖和之元氣也。脾氣以健運為要，胃氣以下行為順。胃強脾弱，則消穀而便溏，脾強胃弱，則知飢而納少。食傷者，胃陽虛，飽食輒噯，宜溫通。脾陽虛，多食不化者，宜香燥。飲食留滯，脘痞腹脹者，為腑氣不宣，宜消導。小兒傷乳滯，則又宜香附、神麯、麥芽、砂仁、陳皮、甘草之屬。可以佐按摩之法不逮也。(惕厲子)</p>
<h3>癇證</h3>
<p>經言：二陰急為癇厥。謂少陰氣逆於經而上行，則喉塞音喑而癇發矣。證由心腎虛怯，肝風膽火　逆，痰誕上壅，心包經脈閉阻，猝然暈仆，口眼牽掣，腰背反張，手足抽搐，喊作畜聲。因其相似，分為五癇，以內應五臟也。癇證幼小為多，大人亦有之。經久失調，遂成痼疾，一觸厥氣鼓風，涎沫升逆無制，痰在膈間，則眩微不仆，痰溢膈上，則眩甚而倒。必待其氣反、吐去驚涎宿沫而後蘇。內治以清痰火主之。</p>
<p>分陰陽，(二百遍。)推三關，(一百遍。)退六腑，(一百遍。)推肺經，(一百遍。)推補脾土，(二百遍。)天門入虎口，(八十遍。)運八卦，(一百遍。)赤鳳搖頭，(五十遍。)按弦搓摩，(二十四遍。)掐威靈穴，(二十四遍。)揉中指，(一百遍。)掐總筋，(二十四遍。)灸昆侖七壯，汗吐法先之。凡推用蔥薑湯，用引痰法，(見卷二，四十頁。)通脈法，(見卷二，四十三頁。)開閉法，(見卷二，三十九頁。)灸法。晝發灸陽蹺，夜發灸陰蹺。(見卷二，二十六頁。)按：石頑謂癇以補腎為本，豁痰為標，其由來不外肝腎龍雷上衝所致。丹溪以癇主痰熱，治以星、半、芩、連主之。熱多者涼膈散加川連、麥冬之屬。痰多者以戴人三聖散吐之。由驚而病者，東垣安神丸平之。總之，癇有陰陽，以先體熱螈　驚啼而後發，脈浮洪者為陽癇，病在腑則易治。以先身冷不驚掣啼叫而病發，脈沉微者為陰癇，病在臟為難治。目瞪如呆者不治，脈沉實弦急及虛散者皆不治，皆醫者所宜深悉也。(惕厲子)</p>
<h3>火眼</h3>
<p>小兒兩目紅腫，由肝經有熱內蘊，風邪外襲，是為風火眼。內治以疏散主之。經云：火鬱發之是也。</p>
<p>分陰陽，(三百遍。)推補腎水，(五百遍。)退六腑，(五百遍。)推脾土，(一百遍。)推天河水，(五百遍。)運八卦，(二百遍。)水底撈明月，(一百遍。)掐合谷穴，(二十四遍。)推曲池。(三十六遍。)凡推用蔥水。</p>
<p>按：眼病有專科，證治甚繁，大約以內障、外障為兩門，火眼特外障中之一證耳。余於海濱，遇有患風火眼者，以至於盲，就余診，詢之，則初患時，有醫者令服大黃，為苦寒所逼，於經訓火鬱發之，大相違悖，是以至此也。司命者，宜辨證，始知為何病，宜立法，方與病針鋒相對。所惜庸工不求往訓，率爾操觚，俾天下不死於病，而死於醫者不可勝數。醫術之壞，將不知伊芳於胡底也，可慨也夫!(惕厲子)</p>
<h3>臍風</h3>
<p>臍者，小兒之根蒂也，名曰神闕。穴近三陰，喜溫惡涼，喜干惡濕。如斷臍有法，臍風何自而起。惟有水濕風冷之氣，入於臍中，兒必腹脹臍腫，日夜啼叫，此臍風之初發也。眼角眉心忽見黃色，即是臍風見證，宜急治。若黃色到鼻，治猶易，到人中、承漿則難。甚至口鎖、唇緊、頭強者不治。但臍風初見，總在初生三日之內，舌硬眼閉，口吐白沫，哭不出聲，左右牙齦上　有硬梗，藍黃白色如雞魚脆骨形狀，或白點如粟米大，亟用銀針，將齦　硬梗外，以及黃白點顆刺破，以青布蘸濕扭干，塗以墨汁。內治用防風一錢煎服。</p>
<p>分陰陽，(七十遍。)推三關，(五十遍。)退六腑，(七十遍。)運八卦，(五十遍。)推肺經，(五十遍。)揉外勞宮。(二百遍。)凡推用蔥薑湯。燈火　法，於兒囟門、眉心、人中、承漿，兩大指少商諸穴各一　，臍輪六　，未落臍帶，於帶口一　，既落，於落處一　，共十三。其腹有青筋叉縫處均宜　。(見卷二，三十頁。)按：臍風證，每起於斷臍不慎。夏禹鑄以為風入腹，附於肝，肝竅在目，眼角黃也，肝木乘土，鼻準黃也。以致入腎入心，口撮舌強也。及早治之，以　法為要，猶可告痊。(惕厲子)鵝口，起於初生之小兒。口內白屑，試去復生，重則滿舌上　疊疊腫起，狀如鵝口，開而不合，哭聲不出，乳食為難。或生牙齦上下，名曰馬牙，皆由心脾胎熱上攻所致也。藥以清熱瀉脾主之。</p>
<p>推食指三關，(一百遍。)退六腑，(一百遍。)分陰陽，(三十六遍。)撈明月，(三十六遍。)打馬過天河。(三十六遍。)扁銀簪腳，將牙齦刮破出血，以軟絹拭淨，磨陳墨汁塗之。頭發蘸井水拭口，再以白礬燒灰二錢，朱砂水飛二錢，馬牙硝五錢，研末，用白鵝糞水攪取汁，塗舌與口角上即愈。</p>
<p>按：鵝口一證，在胎時受其母飲食熱毒之氣，蘊結心脾，因之甫生後，即發於口舌之間。內治以清熱瀉脾為主，外治如所列諸法足矣。倘不急於求治，必將口舌摩爛，不能吮乳，則命難痊也。(惕厲子)</p>
<h3>牙疳</h3>
<p>牙疳，由內蘊胎毒，外感熱毒，毒瓦斯上攻，牙根潰爛，隨變黑腐，臭穢難聞，辨證最速，名為走馬牙疳。內治以瀉毒清熱主之。</p>
<p>分陰陽，(二百遍。)推三關，(一百遍。)退六腑，(二百遍。)清天河水，(二百遍。)水裡撈明月，(五十遍。)搖頭，(三十遍。)凡推用香麝蔥湯水。金棗砒一枚，用紅棗一個去核，以紅砒黃豆大一粒入棗內，濕紙重重包裹，慢火上　至煙盡為度，研細末。穿腸骨一錢，(即狗屎中未化骨，於白色屎內尋之即得)珍珠、牛黃各五分，冰片八分，廣木香一錢二分，銅綠二錢五分，人中白(　)三錢。共八味，各研細末，秤準和勻，先用防風二錢，馬兜鈴三錢，甘草一錢，煎湯洗患處。以舊青布拭淨毒血，用前藥末一分，磨陳京墨調藥擦之，大有神功。韭根松蘿茶各二錢，煎成濃汁，乘熱以雞翎蘸洗患處，去淨腐肉。</p>
<p>按：牙疳一證，因熱毒攻胃上發，齦肉赤爛腫痛，口臭出血，牙齒脫落，穿腮蝕唇，病勢危急。外用前藥敷之，內治如芩、連、硝、黃、蘆薈、蕪荑、雄黃之屬。或加犀、羚、白虎之品，以清火解毒為先，方期有濟。然此證專恃胃強能食，堪勝峻藥，否則終無生機也。(惕厲子)脾之脈絡系舌旁，肝之脈絡系舌本，心之脈絡系舌根。心脾蘊熱，則氣血俱盛，腫附舌根，其形狀似舌，如舌下又一小舌，故曰重舌也。宜針刺出血，向旁挑之，不可深刺正中主筋之上也。內治以清心泄熱主之。</p>
<p>分陰陽，(二十四遍。)推食指三關，(三十六遍。)推心經，(三十六遍。)推脾經，(一百遍。</p>
<p>)推六腑，(三十六遍。)運八卦，(三十六遍。)運水入土，(五十遍。)清天河水。(三十六遍。)凡推用蔥湯。</p>
<p>按：《醫宗金鑒‧幼科心法》所列吐舌、弄舌、木舌、以及重舌等證。僅例重舌，有舉一漏萬之弊。吐舌，則面紅，尿赤，口渴，煩躁不安，宜導赤，瀉心火也；弄舌，以兒舌在口內搖動者，唇焦舌乾，煩熱便穢，治以瀉黃湯，藿、防、山梔、石膏、甘草之屬。木舌者，舌硬如木，不能轉動，內治以瀉心熱，外以紫雪丹塗舌上，是將《心法》所列者補其闕也。然是書祗列二十四證，遺漏甚多，亦以仍周氏之舊爾。(惕厲子)</p>
<h3>喉痛</h3>
<p>喉以納氣而通於天，咽以納食而通於地，會厭　乎其上以司開　，惟其為心肺肝腎呼吸之門，飲食聲音吐納之道，關系死生，為害速矣。經云：一陰一陽結謂之喉痹。其證喉痹為總名，而風溫喉痛為多，亦宜內外兼治。</p>
<p>分陰陽，(二百遍。)推三關，(一百遍。)退六腑，(一百遍。)掐心經，(五十遍。)掐總經，(五十遍。)清天河水，(五十遍。)水底撈明月，(五十遍。)瀉腎水，(五十遍。)二龍戲珠，(三十六遍。)運斗肘。(五十遍。)凡推用蔥薑水。</p>
<p>按：程鐘齡外科十法，喉腫不刺血，喉風不吐痰，喉癰不放膿，喉蛾不針破，皆非法也。凡使刀針，切勿傷蒂丁，以及舌根等處。尤氏以喉痹屬痰，喉風屬火，總因火鬱熱毒，致生乳蛾等證。治宜去風豁痰，解熱開鬱，其證自痊。初病寒熱者，須疏散，迨二便秘結，系有實火者，以下奪之法主之。不可驟用寒涼，以痰實結胸，遇寒不運，漸至喘塞不治也。其氣急閉塞欲死者，亟用吹法、吐法、針法。其吹也，硼砂膽礬末，或皂角末少許吹鼻，噴嚏即開；其吐也，搗皂角浸水，以水灌入即吐，或新汲水磨雄黃灌入亦吐，或雞鵝翎蘸桐油一、二滴，入百沸水，以箸敲水，即用雞鵝翎入喉探吐；其針也，用三棱針於喉腫處刺血出。若口噤針不能入，如手足冷，以水溫之。刺少商穴，左右皆刺二分，出血，口即開，喉即寬。或針照海、然谷四穴，使血出如珠，皆可求愈也。若刺少商穴，血出散而不收者為無治。近時有爛喉痧者，最為險惡之證。初起憎寒壯熱，咽痛渴煩，宜辛涼清散。若驟服寒涼，外邪益閉，內火益焰，咽痛愈劇，潰腐日甚矣。至丹痧透發，已無惡寒等證，則宜寒涼泄熱，不宜雜進辛散，煽動風火，致增腫腐，必致滴水下咽，痛如刀割，此證由感風火濕熱而發，治法因風熱者，主清透。以普濟消毒去升柴主之。因濕熱者主清滲，痰火凝集者主消降，邪達則痧透，痧透則爛止。所慮者，毒瓦斯深伏，郁不能發，為悶痧之證。邗上患此者甚多。一由疫毒內陷，一由庸醫誤治。用柴葛升麻，一切辛溫風燥之品，升提熱毒，入於咽喉，市醫坐蹈是弊，俾病者即歸冥路。噫，此誤治也。醫者不自知，病家不能知，而病而死者或有知，死者能甘心哉?余有《痧喉正義》續出問世，海內諸君子，有以匡正之，則幸甚矣。(惕厲子)</p>
<h3>赤游丹</h3>
<p>赤游丹，由胎中熱毒，或生後過於溫暖，以致熱毒外發，皮膚紅腫，色若塗丹，游走不定，行於遍身，故曰赤游丹。發於頭面四肢而內歸心腹者不治。內治宜清熱解毒主之。</p>
<p>外治宜用砭法。砭去惡血，以鮮豬瘦肉切片貼之。其破爛處，用明雄黃、銀朱等分研細末糝之，確有神效。</p>
<p>按：是卷列二十四證，雖病證所遺甚多，而治法不事湯藥，因小兒不喜藥，於小兒最宜。按摩各法，是亦靈素所燦著者。市醫不知遵經，而以淺近菲薄視之，不讀古書，妄生議論，鳳也而以為雞矣，龍也而以為蛇矣。醫術之壞，非一日也。然予不敢謂采輯各法，足以告備，俟將湯液方法，　集成書，以補是書之闕，就正海內諸方家以匡不逮，斯則纂述之愚忱，不能自己者爾。(惕厲子)</p>
