<header><h1>脈確</h1></header>
<dl class="元資料" data-type="book">
<div><dt>作者</dt><dd><data value="黃琳">黃琳述</data></dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1644/1911">公元1644年至公元1911年</data></dd></div>
</dl>
<h2>序</h2>
<p>石陽黃韞兮。著脈確一書。或從而叩其義。韞兮曰。醫憑乎脈。而脈衰乎理。從來醫家論脈。不患其言之無理。而患其言之於理甚精。以之測病。而所謂精者。終未確也。夫脈以測病。不確豈能無誤。浮游沉塞。起伏傳變。全寄之乎三指。輕輒重按。反復呼吸。實有毫厘千裡之判。微乎渺乎。確誠未易言矣。　於脈學。究心已久。嘗以軒岐之經為主。</p>
<p>而於諸賢論脈之書。采其理之的然可信者。而據以為確。間有未的。則證之於經。復出己意。以旁探博求。其所謂確者。</p>
<p>第識見有限。竊恐自以為確。而終未必其能確也。倘高明於其未確者。更加校正。則幸甚矣。韞兮之言若此。歲壬戌余以母病。延之來淮。出視是書。山陽醫士李鑄九見之。深為折服。晚年其學益進。余復攜其帙至真洲。以示李喬年。喬年亦世醫也。謂余曰。是書實足發蒙啟　。先生既刊行傷寒論翼矣。曷極付剞劂。附之於後俾得表裡印證。厥功豈不偉哉。余曰諾。因次述其語。以弁簡端。</p>
<p><u>乾隆丙寅小春歙州程　識</u></p>
<h2>脈原</h2>
<p>氣口者。手太陰肺經之動脈。而五臟六腑之氣。於此候之也。蓋人以氣生。營衛之氣。先天也。水穀之氣。後天也。</p>
<p>先天後天之氣。脈皆主之。故飲入於胃。其精氣。自脾歸肺。食入於腎。其精氣。自心歸肺。肺布飲食之精氣於諸臟腑。</p>
<p>而後血氣充。營衛調。諸臟腑之氣。各隨其經。同營衛之氣。而呼吸朝之於肺。故手太陰肺經。乃諸臟腑之氣所聚也。</p>
<p>聖人於氣口。候其盛衰。泄天地化育莫測之秘。豈不神乎。</p>
<h2>脈名</h2>
<p>王叔和脈經。有浮、芤、洪、涓、數、促、弦、緊、沉、伏、革、實、微、澀、細、　、弱、虛、散、緩、遲、結、代、動二十　四名。叔和以後諸家。又增長短、牢、疾、大、小共三十名。按察病以脈。必辨之精確。而後見之明。不至游疑而無主。據經之論脈。不止三十名。如鼓、搏、喘、橫之類。今亦未窺其奧。不敢采入。即三十名。尚有可測者。</p>
<p>如脈經。謂浮細為　。沉細為弱。是　以浮細辨。弱以沉細辨也。然經曰。長夏胃微　弱曰平。使　弱皆細脈。細則氣少。經何以謂為長夏之平脈乎。又曰。　弱有石曰冬病。石沉脈也。　弱而沉。是水之侮土也。使　脈果以浮細辨。經何謂以沉言乎。由是觀之。凡脈柔而無力者。概謂之　弱。非浮細沉細之謂。今以　弱附於細。以存其舊也。仲景曰。</p>
<p>弦則為寒。芤則為虛。虛寒相搏。此名曰革。男子亡血失精。女子半產漏下。據此則革脈。即芤之兼弦者。芤主陰虛病。</p>
<p>革亦主陰虛病。今以革附於芤也。沉伏實大。千金翼謂之牢。主寒主痛。是即沉脈而有力者。今附於沉。經一脈有數名者。如秋脈謂之毛。又謂之浮。非二脈也。是疾脈即數。大即洪。小即細也。今刪　弱革牢疾大小七名。定為二十三脈。</p>
<p>蓋脈以候病。其可去輒者。不加詳辨。則名目愈多。脈理愈晦。故不敢避僭妄之譏也。</p>
<h2>脈類</h2>
<p>脈者。陰陽之氣也。有浮即有沉。有大即有小。有遲即有數。故吳草廬。滑伯仁。李瀕湖。皆以對待編之。今欲其易於分別。凡以浮辨者為一類。以沉辨者為一類。以浮沉合辨者為一類。不以浮沉辨。而以至數辨者為一類。不以浮沉至數辨。而以形辨者為一類。</p>
<h2>寸關尺臟腑部位</h2>
<p>經。尺內兩旁。則季脅也。（肋骨盡處名季脅）尺外以候腎。尺內以候腹。中附上。（越人謂之關）左外以候肝。內以候膈。右外以候胃。內以候脾。上附上。（越人謂之寸口）右外以候肺。內以候胸中。左外以候心。內以候膻中。（膻中在兩乳之間）前以候前。後以候後。上竟上者。（關以上）胸喉中事也。下竟下者。（關以下）少腹腰股。膝脛足中事也。推而外之。內而不外。（外浮也內沉也）心腹疾也。推而內之。外而不內。身有熱也。推而上之。上而不下。腰足清也。推而下之。下而不上。頸項痛也。按之至骨。脈氣少者。腰脊痛而有痹也。</p>
<p>脈經。從魚際至高骨。卻行一寸。其中名曰寸口。從寸至尺。名曰尺澤。故曰尺寸。寸後尺前。名曰關。陽出陰入。</p>
<p>以關為界。陽出三分。陰入三分。故曰三陽三陰。陽生於尺。動於寸。陰生於寸。動於尺。寸主上焦。頭及皮毛竟手。</p>
<p>關主中焦。腹及腰。尺主下焦。少腹即足。</p>
<p>經於寸關尺分部以候五臟。而六腑止及腎者。蓋五臟先天之氣。賴後天水穀之氣以養之也。余腑不及者。統於臟也。</p>
<p>蓋腎開竅於二陰。小腸膀胱屬前陰。大腸屬後陰。則腎統乎大腸小腸膀胱也。膽附於肝。則肝統乎膽也。三焦不統於臟。</p>
<p>故於寸內候胸中。關內候膈。尺內候腹。胸中上焦也。膈中焦也。腹下焦也。且五臟者。身之主也。外則耳目鼻口。四肢皮毛肌肉。內則筋骨脈絡。氣血精神魂魄。皆其所司也。故人之一身皆可病。而病入臟者死。見真臟脈者死。此所以經之論脈。惟詳五臟也。四時之脈。有胃氣者生。無胃氣者死。此所以經之論脈。而六腑止及胃也。</p>
<p>經論脈。不以六腑配五臟。而王叔和脈經。以心與小腸。候在左寸。肺與大腸。候在右寸。肝膽候在左關。脾胃候在右關。腎與膀胱。候在左尺。又謂左尺屬腎。右為子戶。名曰三焦。又謂腎與命門。俱出尺部。其書前後。多自相矛盾。疑不盡出於叔和。世但辟高陽生脈訣。而不知脈訣。亦實本於脈經也。至右尺主三焦命門之誤。李瀕湖辨之詳矣。</p>
<p>經論脈不及腑。腑病何以候之耶。曰。腑病辨之於症。而以臟脈。候內外之因。假如頭角耳前後痛。往來寒熱。此膽經之病症也。而肝脈浮緊。則膽經之風寒。肝脈弦數。則膽經之痰火也。假如胸中脹悶。上焦之病症也。而肺脈滑數。</p>
<p>則上焦之痰火。肺脈沉遲。則上焦之寒氣也。</p>
<p>寸關尺。經有外候內候之說。王太仆曰。外謂外側。內謂內側。李士材曰。外謂前半部。內謂後半部。二說皆有可議者。試即尺論之。外以候腎。內以候腹。假令腎病腹不痛。而其脈外側見病脈。內側見平脈乎。前半部見病脈。後半部見平脈乎。即使如此。而一指舉按之間。所謂外側內側。前半後半之界。能劃然清乎。今據經曰。推而外之。內而不外。有心腹積也。推而內之。外而不內。身有熱也。外指浮。內指沉。沉而不浮。故有心腹積。浮而不沉。故身有熱。</p>
<p>由是觀之。則所謂外候內候。指沉浮而言也明矣。蓋五臟六腑之氣。朝於脈口。而各有所辨於寸關尺之間。此天地生人神化莫測之妙。聖人知其故。而於寸關尺浮沉以候之。浮陽也。沉陰也。以臟腑論。則臟陰而腑陽。以臟腑之氣論。則臟氣清而腑氣濁。清氣上升。濁氣下降。脈之見於寸關尺者。五臟六腑之氣。臟氣清。故浮候之。腑氣濁。故沉候之也。</p>
<p>胃亦腑。何為又浮以候之乎。曰。五臟皆稟氣於胃者也。五臟之脈。有胃氣者則平。是五臟之清氣。皆胃氣之所散布也。</p>
<p>脾受胃之清氣。則胃為脾之主也。故浮候胃。而沉候脾也。</p>
<p>趙繼宗曰。心肺居上。為陽為浮。肝腎居下。為陰為沉。脾居中州。半陰半陽。半浮半沉。當以左寸為心。右寸為肺。左尺為肝。右尺為腎。兩關為脾。按趙氏之說。可謂妄矣。夫寸關尺之部位。皆手太陰肺經之動脈也。聖人於此分候臟腑。此其故。惟聖人知之。而其所以然之故。聖人終不得明言之也。趙氏不自知其量。而創論欲異於聖人。抑何妄乎。至褚澄謂女人之脈。當以左寸為命門。左關為脾。左尺為肺。右寸為腎。右關為肝。右尺為心。則其妄更甚矣。</p>
<p>脈經。心肺俱浮。然浮而大散者心也。浮而短澀者肺也。肝腎俱沉。然牢而長者肝也。按之　。舉指采實者腎也。</p>
<p>脾者中洲。故其脈在中。按此。皆論心肺肝腎與脾之脈體。非論寸關尺。而凡浮者為心肺脈。沉者為肝腎脈也。王宗正不察。為之說曰。診脈之法。當從心肺俱浮。肝腎俱沉。脾在中州之說。王叔和獨守寸關尺。分部位以測五臟六腑之脈。</p>
<p>非也。按宗正。以叔和獨守寸關尺為非。不知執心肺俱浮。肝腎俱沉之說。亦非也。今即守寸關尺論之。假如氣虛痰鬱。</p>
<p>而兩寸俱沉之脈。豈以其沉。而遂謂肝腎之乘心肺乎。失血傷精。而關尺俱浮之脈。豈以其浮。而遂謂心肺之乘肝腎乎。</p>
<p>若使不守寸關尺。將不論何部浮。而皆以為心肺病乎。不論何部沉。而皆以為肝腎病乎。況同一浮也。心病肺不病。不論部位。其何以辨乎。同一沉也。肝病腎不病。不論部位。其何以辨乎。且使心肺俱以浮候。肝腎俱以沉候。經何為又分心肺肝腎。與脾胃之部乎。夫脈以候病也。守寸關尺以候之。尚不能洞悉其精微。若不守寸關尺。則茫然而無據矣。</p>
<p>經曰。脈者血氣之先。血氣者陰陽也。故脈有三部俱浮者。陽盛也。非三部之浮。皆心肺脈也。三部俱沉意。陰盛也。</p>
<p>非三部之沉。皆肝腎脈也。當以部位辨之。又以脈之本體辨之。假如浮。必浮洪來盛去衰者。心也。假如沉。必沉而弦長者。肝也。</p>
<p>經但言。尺外以候腎。尺內以候腹。而叔和則以兩尺兼候膀胱。吳寫皋。李士材輩。則以左尺兼候小腸與膀胱。其意皆欲補經之所不及。不知經之論脈。惟詳五臟者。蓋以五臟能繞乎六腑也。即如傷寒。頭痛腰痛項強。此膀胱經之病症也。而其脈不候於左尺。而候於左寸。愚故曰。腑病辨之以症。而以臟脈。辨內外之因也。由是觀之。則以左尺候腎。</p>
<p>兼小腸與膀胱。以為補經之所不及。可以不必矣。且一部候兩脈。猶有浮沉陰陽之可辨。至一部。候腎與小腸陽膀胱至脈。試問何以確辨其為腎脈。為小腸脈。為膀胱脈乎。</p>
<h2>診法</h2>
<p>經診以平旦者。陰氣未動。陽氣未散。飲食未進。經脈未盛。絡脈調均。氣血未亂。故乃可診有過之脈。</p>
<p>經人一呼脈自動。一吸脈自動。呼吸定息。脈五動。閏以太息。命曰平人。按一呼一吸為一息。脈四動。然呼吸之間。必有一息長者。謂之太息。猶歲月之有閏。故脈五動。四動五動。平脈也。若三動則為不及。六動則為太過。皆病脈也。難經曰。呼出心與肺。吸入腎與肝。按呼吸之氣。系衛氣。吸非吸入。乃吸起也。蓋衛氣出下焦。而主之於肺。</p>
<p>肺自下焦吸起。而呼出於鼻。一呼一吸。衛氣流行。晝夜循環。周而復始。故氣譬則火。火之氣。不通則不發。人之氣。</p>
<p>不通則病。呼之氣。猶火之氣出而不入者也。難經呼出心與肺。吸入腎與肝之說似誤。</p>
<p>崔紫虛四言脈訣。脈有七診。曰浮中沉。上下左右。消息求尋。按初持脈輕手於皮毛間。候其表。曰浮。次稍重手於肌肉間。候其半表半裡。曰中。次重手按至筋骨間。候其裡曰沉。上謂上部。下謂下部。左謂左三部。右謂右三部。</p>
<p>合為七診。又經有七診。謂獨大。獨小。獨疾。獨遲。獨寒。獨熱。獨陷下也。</p>
<p>四言脈訣。又有九候。舉按輕重。按輕下指曰舉。重下指曰按。寸關尺。每部有浮中沉三候。合為九候。又經有九候。脈經曰。九候者。每部中有天地人也。按經所謂天地人。另指頭與手足三部之動脈。不指寸關尺也。</p>
<p>經持脈有道。虛靜為保。（內虛則心不紛。外靜則心不擾。）春日浮。如魚之游在波。（浮非浮脈。乃浮起也。春日陽氣升。其脈浮起然如魚之在波。雖浮起而不甚浮也。）夏日在膚。泛泛乎萬物有餘。（夏日陽氣盛。萬物有餘。故其脈浮大在膚。）秋日下膚。蟄蟲將去。（秋日陽氣降。蟄蟲將去。故其脈漸沉而下膚。）冬日在骨。蟄蟲周密。君子居室。（冬日陽氣伏。蟄蟲周密。君子居室。故其脈亦沉而在骨。）知內者。按而紀之。（脈合內之臟腑。其盛衰按脈而綱紀之。是謂知內。）知外者。終而始之。（四時陰陽之氣。終而復始。以脈之陰陽。合四時之陰陽。是謂知外。）此六者持脈之大道。</p>
<h2>平脈</h2>
<p>經平人之常氣稟於胃。胃者平人之常氣也。春胃微弦曰平。夏胃微鉤曰平。長夏胃微　弱曰平。秋胃微毛曰平。冬胃微石曰平。按經所謂胃氣在微字上體認。若弦則胃少弦甚則無胃。惟微弦則其氣和。故曰平。余仿此。</p>
<p>經春脈如弦。春脈者。肝也。東方木也。萬物之所以始生也。故其氣來　弱。輕虛而滑。端直以長。故曰弦。反此者病。夏脈如鉤。夏脈者。心也。南方火也。萬物之所以盛長也。故其氣來盛去衰。故曰鉤。反此者病。秋脈如浮。秋脈者。肺也。西方金也。萬物之所以收成也。故氣來輕虛以浮。來急去散。故曰浮。反此者病。冬脈如營。冬脈者腎也。</p>
<p>北方水也。萬物之所以合藏也。故其氣來沉以搏。故曰營。反此者病。（營者內守之意。）脾者。土也。孤藏以灌四方者也。善者不可得見。惡者可見。按脾脈之善者。即胃氣四時見於弦鉤毛石之間。故曰善者。不可得見。若脾胃受傷。則惡者可見矣。</p>
<p>脈經春肝脈弦細而長曰平。夏心脈浮大而散曰平。長夏脈大阿阿而緩曰平。秋肺脈浮澀而短曰平。冬腎脈沉　而滑曰平。按脈經之說。與經合參。則脈理精且備矣。</p>
<p>凡脈不大。不小。不數。不遲。不滑。不澀。不短。不長。浮沉正等者。平脈也。</p>
<p>凡病患脈不大不小。浮沉正等而緩者。為陰陽平。病將愈也。</p>
<p>四言脈訣。謂春弦夏鉤。秋毛冬石。為平脈。不知弦鉤毛石。</p>
<p>有胃氣始為平脈。若但弦。但鉤。但毛。但石。即病脈也。滑伯仁診家樞要。謂長夏四季脈。遲緩為平。本脈經脾胃部。</p>
<p>德則為緩。恩則為遲之說。不知一息四至。閏以太息。則五至。此脾胃之平脈也。三至為遲。則主寒主虛。病脈也。</p>
<p>朱丹溪曰。男子寸盛尺弱。女子尺盛寸弱。按寸為陽。男子陽盛。故寸盛。尺為陰。女子陰盛。故尺盛。此男女尺寸之平脈也。脈法贊左大順男。右大順女。按男子本氣旺血虛。左主血。左大於右。是血足也。血足則陽不至獨元矣。</p>
<p>女子本血旺氣虛。右主氣。右大於左。是氣足也。氣足則陰有所統攝矣。且男子陽。故左大。女子陰。故右大。此男女左右之平脈也。丹溪格致余論。以左右指醫者手之左右。謂右大順男。左大順女。其說似牽強。</p>
<p>凡人肥脈沉。人瘦脈浮。人長脈長。人短脈短。人大脈大。人小脈小。順也。反此則逆。</p>
<h2>病脈</h2>
<p>五臟病脈扁鵲曰。脈長而弦。病出於肝。脈大而洪。病出於心。脈下堅上虛。病出於脾。脈澀而浮。病出於肺。脈小而攣。病出於腎。</p>
<p>四時病脈。經。春不沉。夏不弦。秋不數。冬不澀。是謂四塞。（如春水旺。其脈弦。然春初之時。兼冬脈。而沉弦。</p>
<p>則水生木。母子之氣相通也。若弦而不沉。是不得母氣。故曰塞。塞則病矣）參見曰病。（如春脈弦。參見他脈。則他臟之氣乘肝也。）未去而去曰病。（如春脈弦未交夏之時。便不見弦而見鉤。是肝氣不足。未當去而即去也。）去而不去曰病。</p>
<p>（如春脈弦。入夏已深。仍見弦不見鉤。是肝氣有餘。當去而不去也。）復見曰病。（如春脈弦。或秋時復見弦脈。是肝之乘肺也。）</p>
<p>三部病脈。脈經寸脈浮大而疾者。名曰陽中之陽。（寸陽部也。浮大疾。陽脈也。故曰陽中之陽。）病苦煩滿。身熱頭痛。腹中熱。寸脈沉細者。名曰陽中之陰。（沉細陰脈也。見寸陽部。故曰陽中之陰。）病苦悲傷不樂。惡聞人聲。少氣。時汗出。陰氣不通。臂不能舉。尺脈沉細者。名曰陰中之陰。病苦兩脛酸痛。不能久立。陰氣衰。小便余澀。陰下濕癢。尺脈滑而浮大者。名曰陰中之陽。病若小腹痛。滿不能溺。溺即陰中痛。大便亦然。寸脈壯大。尺中無有。此為陽干陰。其人若腰背痛。陰中傷。足脛寒。尺脈牢而長。關上無有。此為陰乾陽。其人若兩脛重。少腹引臀痛。上魚際病脈。脈經。脈入魚際者遺尿。脈出魚際者。逆氣喘息。</p>
<p>外內久新病。脈經。脈淺滑堅者。病在外。脈小實而堅者。病在內。脈小弱而澀者。謂之久病。脈浮滑而疾者。謂之新病。六病脈。脈經弦緊滑澀浮沉。此六脈為殘賊。能為諸經作病。</p>
<h2>主諸病脈</h2>
<p>外邪脈。浮主風。遲主寒。緊主寒。緩主濕。細主濕。沉主濕。虛主暑。</p>
<p>內邪脈。數主火。洪主火。實主火。長主熱。清主熱。滑主痰。主食。弦主痰。主食。弦主痛。緊主痛。牢主痛。</p>
<p>短主痛。促結主痛。主久積。澀主痛。主痹。動主痛。主驚。代主痛主泄。實主脹。緊主脹。微主脹。細主脹。主吐。</p>
<p>伏主吐。</p>
<p>外邪兼見脈。浮緊主風寒。浮遲主風寒。浮緩主風濕。浮細主風濕。沉遲主寒濕。外邪內邪兼見脈。浮洪主風火。</p>
<p>浮數主風火。浮弦主風痰。浮滑主風痰。風熱。浮長主風熱。風癇。遲滑主脹。遲澀主瘕。緊滑主吐。緊澀主痹。緩滑（主）熱中。氣虛脈。滑主氣虛。代主氣虛。沉無力。主氣虛。血虛脈。澀主血虛。芤主血虛。洪主血虛。浮無力。主血虛。氣血兩虛脈。微主氣血兩虛。竅主氣血兩虛。虛主氣血兩虛。細主氣血兩虛。浮遲無力。主氣血兩虛。沉數無力。</p>
<p>主氣血兩虛。</p>
<h2>可治病脈</h2>
<p>脈經。凡脈浮大數勤長滑為陽。沉微弦弱短澀為陰。陽病見陰脈者。過也。陰病見陽脈者。順也。按脈之說。本仲景傷寒論。在傷寒症。則陽病見陽脈者順。陰病見陽脈者亦順。若內傷病。陰病見陽脈者。又為逆也。經曰。陰病而陰脈大者為逆。如虛勞失血之病。喜沉細陰脈。忌洪數陽脈是也。脈經不辨誤。經脈從陰陽。病易已。按男子陽。左脈大為從。女子陰。右脈大為從。春夏陽。脈浮大為從。秋冬陰。脈沉細為從。外感病。陽症見陽脈為從。陰症見陽脈亦為從。內傷病。陽症見陽脈為從。陰症見陰脈亦為從。</p>
<p>四言脈訣。脈貴有神。李東垣曰。脈之不病。其神不言當自有也。脈既病。當求其中神之有無焉。如六數七極。熱也。脈中有力。即有神也。三遲二敗。寒也。脈中有力。即有神也。熱有神。當泄其熱。則神在焉。寒有神。當去其寒。</p>
<p>則神在焉。寒熱之脈。無力無神。將何藥而泄熱去寒乎。按東垣以脈中有力為神。固是也。然所謂神者。即胃氣也。經曰脈弱以滑。是有胃氣。又曰滑則從。澀則逆。故五臟骨肉。滑利可以長久。以此與脈中有力合參。則得之矣。滑伯仁謂東垣脈中有力之中字。乃浮中沉之中。其意蓋謂脾居中州。以中候有力為神。然則沉脈者。其神將何以候之乎。伯仁誤矣。</p>
<h2>諸可治病脈</h2>
<p>（皆出扁鵲及叔和脈經其症未備者摘崔紫虛四言脈訣數條補之）</p>
<p>長病三部脈細而　者生。三部脈弦而數者生。</p>
<p>中惡腹大。四肢滿。脈大而緩者生。脈緊細而微者生。</p>
<p>中風脈浮緩者生。</p>
<p>風病不仁痿蹶。脈虛者生。</p>
<p>傷寒熱盛。脈浮大者生。已得汗。脈沉小者生。</p>
<p>溫病三四日以下。不得汗。脈大疾者生。</p>
<p>譫言妄語。身熱。脈洪大者生。</p>
<p>癲病。脈實堅者生。脈搏大滑者。久久自已。</p>
<p>癇病脈虛者生。</p>
<p>四肢厥逆。脈沉細而長者生。</p>
<p>骨蒸勞熱。脈數而虛者生。</p>
<p>咳嗽脈浮　者生。</p>
<p>衄血脈小弱滑者生。</p>
<p>吐血脈滑者生。小弱滑者生。</p>
<p>上氣喘息低昂。脈滑手足溫者生。</p>
<p>嘔吐反胃。脈沉滑者生。</p>
<p>消渴脈數大者生。沉小者亦生。</p>
<p>消痹脈實大。病久可治。</p>
<p>腹痛不得息。脈細小遲者生。</p>
<p>積聚。脈堅急強者生。</p>
<p>腹脹滿。脈浮大者生。</p>
<p>水病脈浮大　者生。水病腹大如鼓。脈實者生。</p>
<p>病泄。脈緩時小結者生。</p>
<p>腸　下白沫。脈沉者生。腸　下膿血。脈滑大者生。腸　下膿血。脈沉小流連者生。</p>
<p>蝕陰　。脈虛小者生。</p>
<p>婦人瘕聚。脈弦急者生。</p>
<p>婦人漏下赤白不止。脈小虛滑者生。</p>
<p>產後脈沉小滑者生。</p>
<p>金瘡出血。脈沉小者生。</p>
<p>跌仆內有血。腹脹滿。脈堅強者生。</p>
<h2>死脈</h2>
<p>真臟死脈、經。真肝脈至。中外急。如循刀刃。責責然如按琴瑟弦。真心脈至堅而搏。如循薏苡子。累累然。真肺脈至大而虛。如以毛羽中人膚。真腎脈至。搏而絕。如指彈石。辟辟然。真脾脈至。弱而乍數乍疏。見真臟乃死。何也。</p>
<p>五臟皆稟氣於胃。胃者五臟之本也。臟氣不能自至於手太陰。因胃氣乃至於手太陰。（肺朝百脈。故臟氣必先會於手太陰。</p>
<p>而後行於諸經也。）故經謂五臟各以其時自為而至於手太陰。皆胃氣為之也。（五臟各以其時。自為弦鉤毛石之象。因胃氣而至於手太陰之脈口。）若邪氣勝者。精氣衰。胃氣不能與之俱至於手太陰。故真臟之氣獨見。獨見者。病勝臟也。故曰死。按五臟之氣為陰。胃氣為陽。五臟有胃氣。則其脈和。如微弦微鉤之類是也。若無胃氣。但見弦鉤等本臟之脈。</p>
<p>曰真臟。見真臟則陽氣絕故死。</p>
<p>四時賊邪死脈。經。五邪所見。春得秋脈。夏得冬脈。長夏得春脈。冬得長夏脈。名曰陰出之陽。不治。按所謂陰者真臟也。故死。脈經謂夏脈沉　而滑者。為腎乘心。水克火。十死不治。不知夏月停水停痰之人。其脈有沉　而滑者。</p>
<p>未必即為死病也。且滑為陽脈。沉　而滑。是有陽也。有陽者亦不死也。經所謂夏得冬脈。乃沉而堅硬。如指彈石。純陰無陽者也。又謂長夏脈弦細而長。為肝乘脾。木克土。十死不治。不知長夏病瘧之人。其脈多弦細而長者。未必即為死病也。且長為陽脈。弦細而長。是有陽也。有陽者亦不死也。經所謂長夏得春脈。乃弦而堅硬。如循刀刃。純陰無陽者也。脈經之說誤。李士材曰。一歲之中。脈象不可再見。如春宜弦而得洪脈者。至夏必死。得澀脈者。至秋必死得沉脈者。至冬必死。為真臟之氣先泄也。當其時不能再見矣。按士材之說。本脈經死脈要訣篇。然亦有不可泥者。經以春不沉謂之塞。則春得沉脈。未可即以為死脈也。春脈弦。未交夏之時。便得鉤脈。經謂未去而去者病。亦未可即以為死脈也。又當以病症合辨之。庶幾始確。且所謂真臟者。純陰無陽之脈也。非夏脈鉤。或見於春時。即為真臟也。又當以有神無神細辨之。庶幾始確。大抵惟春得秋脈而澀者。乃經所謂賊邪。為不宜耳。余仿此。</p>
<p>三部死脈。脈經尺脈上不至關。為陰絕。寸脈下不至關。為陽絕。死不治。上部有脈。下部無脈。其人當吐。不吐者死。上部無脈。下部有脈。雖困無害。所以然者。如樹之有根也。按上部無脈。下部有脈。若其脈微細如絲。按之無有者。此腎臟將盡未盡之氣也。亦死。</p>
<p>形盛形瘕死脈。經形盛脈細。少氣不足以息者死。形瘕脈大。胸中多氣者死。</p>
<p>死脈名狀。脈如屋漏雀啄者死。（屋漏者。脈一來忽絕。久又來也。雀啄者脈。來疾時絕又一來也。）脈來如彈石。</p>
<p>去如解索者死。（彈石者。急而勁也。解索者。散乳無結也。）脈如魚翔蝦游者死。（魚翔。蝦游者。脈浮而無根也。）脈如涌泉者死。（涌泉者。燥亂而有來無去也。）脈一息二至以下。八至以上者死。</p>
<h2>諸病死脈</h2>
<p>（皆出扁鵲及叔和脈經。其症未備者。摘雀紫虛。四言脈訣數條補之。）</p>
<p>長病三部脈虛而澀者死。實而大者亦死。（愚按急數者亦死）</p>
<p>中惡的緊大而浮者死。</p>
<p>中風脈堅大急病者死。</p>
<p>風病不仁痿蹶。脈緊疾急者死。</p>
<p>傷寒熱盛。脈沉小者死。已得汗。脈浮大者死。</p>
<p>溫病三四日以下。不得汗。脈細小者死。</p>
<p>譫語妄語四逆。脈沉細微者死。</p>
<p>癲病。脈小而堅急者死。沉細者亦死。</p>
<p>癇病。脈急實者死。</p>
<p>四肢厥逆。脈反浮大而短者死。</p>
<p>頭痛。脈短澀者死。</p>
<p>骨蒸勞熱。脈澀小者死。（愚按脈洪數者亦死。）</p>
<p>久嗽。脈堅大者死。脈沉緊者死。咳且溲血脫形。脈小勁者死。（愚按弦澀而數者亦死。）</p>
<p>衄血不止。脈大者死。（愚按血不止。脈急數者亦死。）</p>
<p>吐血脈實大者死。脈緊強者死。吐血而咳上氣。其脈數有熱不得臥者死。</p>
<p>上氣脈數者死。上氣喘息低昂。脈澀四肢寒者。死。上氣面腫肩息脈大者死。</p>
<p>嘔吐反胃。脈弦數緊澀者死。</p>
<p>消渴。脈細小浮短者死。</p>
<p>消癉病。久脈懸小堅急者死。</p>
<p>腹痛。脈反浮大而長者死。</p>
<p>積聚。脈虛弱者死。沉小者死。</p>
<p>腹脹滿而喘。脈反滑而沉者死。脈虛小者亦死。</p>
<p>水病。脈沉細虛微者死。水病腹大如鼓。脈虛者死。</p>
<p>病泄。脈浮大數者死。脈緊急者死。</p>
<p>腸　下膿血。脈浮大緊者死。身熱脈懸絕及澀者死。</p>
<p>蝕陰　。脈緊急者死。</p>
<p>婦人瘕聚。脈虛弱者死。</p>
<p>婦人漏下赤白不止。脈大緊實數者死。</p>
<p>產後脈實大緊弦急者死。寸脈焱疾不謂者死。</p>
<p>金瘡出血。脈浮大者死。</p>
<p>跌仆內有血腹脹滿。脈小弱者死。</p>
<h2>奇經</h2>
<p>奇經八脈。亦候於手太陰肺經者也。李瀕湖奇經八脈考。極其詳悉。然非神而明之。莫能洞窺其奧。曉然於指下也。</p>
<p>要之用針用炙。則奇經之病。必求奇經之穴以治之。至於用藥。則奇經之表裡寒熱虛實。而臟腑之脈。可以測之。則亦可以統之也。故茲編姑闕而不錄。</p>
<h2>內經切脈之圖</h2>
<p><a href="_files/p01-e25a1.bmp">內經切脈之圖</a></p>
<p>脈理作為歌。便誦習也。其以浮沉至數辨。及不以浮沉至數辨者。各從其類。欲其易分別也。浮沉等脈。即用浮沉等字之韻。欲其不混淆也。脈之應病。以內經為主。內經未詳者。以脈經補之。脈經未詳者。以歷代明醫之說補之。欲其簡而訣也。有是脈。即有主是病之由。復逐句箋釋於其下。欲其明且暢也。較前人脈賦脈詩。頗有勝處。有志醫學人。</p>
<p>由此入門。雖曰捷徑。實為正路矣。</p>
<p>脈以輕亂辨者曰浮。輕手便得。如木浮水上。其以浮辨者曰洪。浮大來有力。去無力。曰虛。浮大按之。無力曰芤。</p>
<p>浮大無力。按之中央空。兩邊實曰散。浮大無力。至數不齊。渙漫不收。曰微。浮細無力。按之如欲絕。若有若無。凡六脈。</p>
<h2>浮</h2>
<p>（內經謂之乏）</p>
<p>浮脈輕手得。如木水中浮。（浮秋脈也。春夏冬見之。則病脈也。然在秋輕虛以浮。來急去散。則為手脈。若中央堅。</p>
<p>兩邊虛。此謂太過。細而微。此謂不及。亦病脈也。）有力表邪清涕嗽。惡寒發熱令人愁。（風邪自皮毛入。皮毛合肺。</p>
<p>肺開竅於鼻。肺惡寒、金寒則生水、故鼻流清涕、風邪迫肺。則氣逆、故嗽、肺主衛、風邪入則皮毛閉。固衛氣不能溫外。故惡寒、肺與心皆在上。肺邪傳心則心火鬱。心主營。營行血脈。數一身發熱。仲景謂冬月寒傷營。則發熱惡寒無汗。風傷。齦則發熱惡風有汗、此固然矣、然四時感昌者。亦發熱惡寒。必用表藥而愈。蓋表藥其味皆辛、辛開毛孔。</p>
<p>散火鬱。毛孔開。則衛氣外達。火鬱散則營血內安。營衛調和。則汗出而寒熱解矣。）寸主頭疼開腹滿。尺司癃閉好推求。</p>
<p>（自胸至頭寸主之。諸陽經起於頭、風邪自皮毛深入。則歸經。故頭痛。肝脾與腎。且脈常沉。今脈浮。乃陽之乘陰也。</p>
<p>陽盛則熱。水之性。寒則凋。熱則旺、肝水旺、則克脾土。脾虛則不欲食。而腹滿。腎竅於二陰。真性惡燥。熱勝則血燥。而大腸不潤。故閉氣燥而膀胱不化。故癃、癃者。小便不利也。）浮緊傷寒浮虛暑。（寒傷營。營行脈中。寒氣動急。</p>
<p>故脈緊。暑傷氣。傷氣故脈虛。）浮緩風濕自宜搜。（濕氣濡滯。故脈緩。凡頭重、身重、腿膝痛、浮腫、大便泄、小便黃者。風濕症也。）浮滑風痰浮數熱。（滑主痰。帶浮則為風痰、數主熱、帶浮則為風熱。）無力須將血弱謀。（陽盛故脈浮。陰虛故無力、遇此等脈。不宜輕用表藥。）</p>
<h2>洪</h2>
<p>（內經謂之鉤。又謂之大。）</p>
<p>應指雖浮大。來盛去衰便曰洪。（洪。夏脈也。春秋冬見之。則病脈也。然就夏來盛去衰如鉤。則為平脈。若來盛去亦盛。此為太過。來不盛。去反盛。此為不及。亦病脈也。如鉤者。浮候之來盛下垂。由如鉤狀。去衰。則又柔和矣。</p>
<p>故為平脈。）真陰不足。邪氣相攻。（人之正氣。陰陽相配者也。陰陽和。則無病。陰不足。則陽盛。陽盛則生火。火者。</p>
<p>偏勝之氣也。偏勝之氣。為邪氣。邪氣即邪火。）寸洪身熱兼膚痛。咳唾煩心亦可窮。（陽盛。故身熱。火不得淺。故膚痛。火瀉肺。故咳嘔。心惡熱。故煩。）嘔與脹。察闕中。（胃喜清涼而惡熱。嘔者。火上炎也。火鬱而不散也。）尺虛宜壯水。泄痢不宜逢。（尺脈洪、相火旺也。宜壯水以制陽光。若泄痢尺脈洪者。難治。）</p>
<p>李瀕湖、謂洪脈非夏升陽散火宜。愚按新病身強。及洪見寸關者。升陽數火可也。若久病身弱。及洪見兩尺者。又宜以滋陰降火為是。</p>
<h2>虛</h2>
<p>（瀕湖引內經云。氣來虛微為不及。病在內。愚按虛脈、浮大無力、微脈、浮細無力、火中不能見細。則虛不可兼言微矣。今考內經、謂氣來不實而微。為不及。不實者細無力之謂也。故可言微。瀕湖硬以不實故作虛字誤。）</p>
<p>虛來浮大　無力。夏宜逢之暑病居。（暑病發熱有汗脈虛者。宜清暑益氣。若陰熱惡寒無汗脈浮數。而不虛者。宜清暑解表。）寸虛自汗多驚悸。（虛脈主氣血虛。正氣虛則邪氣實。邪氣實便是火火食氣則表虛、汗者、心之液也。血所化、表既虛。創營亦不固。血隨火化。外泄於表。為自汗。心藏神。血虛則神失所養。故多驚。火氣衝心。故跳動而多悸。）</p>
<p>關主中宮脹不舒。（血虛肝鬱則脹、脾胃虛。中氣不足亦脹。）潮熱骨蒸痿候尺。（陽氣終巳。陰氣始干。陰虛則交午時陰分。而陽氣並之。陽勝則外越為肌膚熱。內爍為骨髓熱。熱在骨。謂之骨蒸。日如潮水之應時而至。謂之潮熱。骨枯髓竭。足不任身。謂足骨痿。）卻憐久病定亡軀。</p>
<h2>芤革</h2>
<p>（芤而弦曰革。主陰虛失血。與芤同。今附於此。脈經。謂芤脈浮大而　。按之中央空。兩邊實。舊謂前後為兩邊者。固非矣。李士材以浮沉為兩邊。亦不是。有力謂之實。浮中沉相去無幾。豈有浮候實。沉候實。而中候獨見其空者乎。據內經論浮脈云。其氣來毛。中央堅。兩旁虛。此謂太過。由是推之。則兩邊指兩旁也。蓋芤脈浮大而　。按之兩旁浮實。而中央獨陷下。此血不充之象。故主失血諸症）</p>
<p>輕手亂之浮大　。重按中空邊實芤。（芤。草名。中空如蔥。血行脈中。失血者其脈中空。故以芤比之。）寸關吐衄腸癰病。尺部崩淋便血流。（吐血、衄血、腸癰、血崩、血淋。大便下血等症。皆陽盛陰。虛也。摧陽。故其脈浮大。惟陰虛。故其脈中空盛）</p>
<h2>散</h2>
<p>有表無裡大而散。至數不齊。楊花無定空中泛。左寸怔忡。右寸自汗。（散主氣實血虛。心主血。血虛則心神恍惚不寧。曰怔忡。氣實者。邪氣實也。邪氣實則熱。熱則氣泄故自汗。）左關溫飲兮。（陰虛生內熱胃熱則津液耗。而發渴。</p>
<p>渴多飲。滲入肌膚會腸胃之外。謂之滋飲）右關食痹。胳腫亦堪斷。（胃熱則不和。不和則不消穀。因而痞悶。曰食痹、、足腫也。　明腎經。下循脛外廉。冒熱故　腫。）尺為血大虛。兩尺如斯終專算。（經以醫脈散為血少。載同父曰。</p>
<p>腎脈散諸病脈代散。皆不可治也。）</p>
<h2>微</h2>
<p>重乎按之如欲絕。若有若無極其微。微屬陰陽虛弱候。（惟陰陽皆虛。故其脈見若有若無之象。而名之曰微。）惡寒發熱汗霏霏。（陽虛則生寒。陰虛則生熱。陽不外固。陰不內守則多汗。）寸微衄血驚兼喘。關主中寒拘急泥。（氣血虛則中寒寒則心下拘急。拘急不寬嬌也。）尺中厥逆元陽損。（陽火生於陰精。陰精虛則陽火弱。陽火弱則手足寒。而為厥。</p>
<p>陰陽不交氣上衝而為逆也。）女子崩中帶下虧。</p>
<p>脈以重亂辨者曰沉。重按始得。其以沉辨者曰伏。重按之著骨乃得。凡二脈。</p>
<h2>沉牢</h2>
<p>沉（內經謂之石、又謂之營。）牢（牢即沉脈。長大弦而有力者。主寒主痛。與沉同。今附於此。）</p>
<p>按始有則為沉。（沉。冬脈也。春夏秋見之。則病脈也。然在冬。其氣來沉以搏。則為平脈。若來如彈石者。此謂太過。其去如數者。此謂不及。亦病脈也。）寸沉胸脅痛。水氣膈間停。若居關與尺。腹背及腰疼。（沉主陰。陰盛則克伐元氣。故三部得沉者。皆主痛。宜溫之。有水氣者。宜利之。）沉緩寒濕沉數熱。沉滑當知痰食真。沉如無力。氣虛甚明。</p>
<p>（沉有力為實邪。故主寒主積。沉無力。則氣虛也。）崔紫虛四言舉要云。沉牢痼冷。沉實熱極愚按牢脈沉而長大有力。</p>
<p>實脈沉臥。亦長火有力。同一沉臥長大有丸何以辨其為痼冷熱極手。</p>
<h2>伏</h2>
<p>何以謂之伏。推筋按至骨。傷寒欲汗陽邪解。厥逆臍疼溫藥服。（瀕湖曰。傷寒一手伏。曰單伏、兩手伏、曰雙伏、不可以陽症見陰為診。乃火邪內郁。不得發越。陽極似陰。故脈伏、必有大汗而解。不可發表。又有夾陰傷寒。先有伏陰托內。外復感寒。陰盛陽衰。四肢厥逆。六脈俱伏。須投薑附及炙關元。脈乃復出。若太谿衝陽。皆無脈者。必死。）</p>
<p>寸司嘔吐關司痛。尺部疝瘕利水穀。（霍亂、嘔吐、腹痛、男子疝、女子瘕聚、痛甚者。其脈多伏。暴泄者。脈亦多伏。）</p>
<p>脈以浮沉合辨者曰實。大而長。浮沉皆得。凡一脈。</p>
<h2>實</h2>
<p>實脈大而長。浮沉皆者力。風熱蘊蓄深。譫語發狂疾。（邪氣盛則實。浮有力。表實也。沉有力。理實也。所以然者。</p>
<p>由風邪深入。鬱而發熱。熱甚。則喪其神守。故譫語、更甚、則發狂。所謂重腸者，狂也。左手脈實者，宜發之。右手脈實腹滿者。宜下之。）寸實嘔吐頻。心胸苦氣逆。積聚腹疼候在關。大便不通候在尺。</p>
<p>瀕湖曰。脈訣言尺實。小便不禁。與脈經尺實。小腹痛。小便癰之說何反。潔古不知其謬。藥用薑附。愈謬矣。愚按脈訣所言。亦出脈經。脈經云。尺脈實。小腹痛小便不禁。宜服當歸東加大黃一兩。據用大黃。則脈經以尺實為熱明矣。潔古用薑附可謂大誤。但虛寒不足之症。火不能攝水。則小便不禁。此系實熱。而脈經何以亦有小便不禁之言。意者熱渴飲多。大便閉塞。水獨歸膀胱。則小便數。小便數。則不及溺之。即自出。亦謂為小便不禁耶。</p>
<p>脈以至數辨者曰遲。一息三至曰緩。一息四至曰數。一息六至曰結。緩時一止曰促。數時一至曰代。止有常數。遲入尺中。良久方來。凡六脈。</p>
<h2>遲</h2>
<p>一息三至。號之曰遲。浮遲寒在表。沉遲作裡醫。有力無力皆寒症。抑陰扶陽不用疑。寸遲心痛吐酸水。（寒氣攻心。</p>
<p>故痛。胃虛而寒氣客之。則水入於胃。不輸於脾。停於胃脘。水得寒氣熏蒸變而為酸。此為寒症。故脈經治以附子湯。</p>
<p>茱萸湯。然此症亦有熱者。肝移熱於胃。土受木制。不能勝水。水得木味。蘊而淺酸。經所謂諸嘔吐酸。屬於熱是也。</p>
<p>當清熱燥濕。此以脈之滑數辨之。）關尺寒疼厥可知。（陰氣盛。則從足五指至膝上寒。謂之寒厥。）遲澀　結。（遲澀則血虛寒。血虛寒則凝滯不行。結成　結。）遲滑脹宜。（滑。主氣虛。主食積。氣虛則寒。寒則氣收。故脹、寒飲食積於腸胃。亦作脹。）</p>
<h2>緩</h2>
<p>緩脈均均來四至。貴無偏勝　而和。（緩主脾胃。又主風濕在四季之月。不大不小。浮沉同等。　而和者。手也。若三部不齊。則為偏勝。或又兼他脈者。病脈也。不在四季之月。他脈中帶緩者。胃氣也。若獨見極者病脈也。）肌肉不仁緩在寸。（風氣之傷人。多在上。寸部。心肺也。心主血脈。肺主皮毛。風邪入皮毛。客血脈。故肌肉之間。不知痛癢。</p>
<p>曰不仁。）關知脾胃食難磨。（風氣通肝。肝氣移之於脾胃。脾胃實。故不欲食。實者邪實也。）尺為腳弱下體腫。（濕氣之傷人。多在下。濕濡筋。故腳弱。濕滲肌膚。故下膻。）小便難而余瀝多。（濕積下焦。蘊而淺熱。濕熱壅滯。則膀胱之氣不化。故小便難。有餘瀝也。）浮緩為風沉緩濕。若逢緩滑熱為　。（經以緩而滑。為熱中、李士材以緩滑。為濕痰誤。）緩澀管虛緩細痹。（風寒濕三氣。皆能為痹。風勝為行痹。寒勝為痛痹。濕勝為澀痹。脈緩細者。主風濕痹。）推詳三部自無訛。</p>
<h2>數</h2>
<p>一息六至稍為數。只有兒童獨安樂。（兒童以六至為平脈、外此皆為火。）浮沉實數散且清。（浮數有力。為實火在表、宜散、沉數有力、為實火在裡。宜清。）無力為虛宜補藥。（數而無力。虛火也。宜補氣。或益火之元。）寸為喉舌疼。嘔吐嗽煩渴。（胃口當心。亦寸主之。胃有火。故嘔吐。火迫肺。故為嗽。為煩、肺金爆。故渴。）關中補穀易於飢。（胃有大。則消穀善飢。）尺部惡寒氣淋作。（脈經謂尺脈數。惡寒。小便黃赤。又曰。少陰脈數。男子氣淋。蓋腎為陰。屬水。</p>
<p>陰虛而陽湊之。內熱故外惡寒。火伏水中。故小便黃赤。甚則膀胱之氣不化。小便不利。痛而為淋。）</p>
<h2>結</h2>
<p>（脈經載扁鵲之言曰。脈有表無裡者死。經名曰結。何謂結。脈在指下。如麻子動搖。按如麻子動搖者。輕輒之。</p>
<p>則散亂無紀。重按之。則不可得。故曰有表無裡。乃腎絕也。與緩時一止之結不同。）</p>
<p>緩時止。謂之結。陰盛陽衰凝氣血。（氣、溫血行血者也氣虛不能溫血。則血寒。氣虛不能行血。則血滯。血寒而滯則結。血結氣亦結矣。）浮為痛積外相攻。沉為痛積內相迫。</p>
<h2>促</h2>
<p>數時一止何其促。陽有餘。陰不足。痰火煎熬。或為喘嗽。或斑毒。（內上紅紫盛凡者。斑也。黑斑難治。癰疽。皆毒也。）</p>
<h2>代</h2>
<p>動而中止不能還。止有常數斯名代。不是傷寒心悸多。即有腹疼泄痢害。久病固為凶。（扁鵲曰。脈五來一止。不復增減、或七來一止。不復增減者經名曰代、死。）平人亦臟敗。（靈樞曰。一日一疸五十營。以營五臟之精。所謂五十營者。持其脈口。數其至、也。五十動而不一代者。五臟皆受氣。四十動一代者。一臟臟無氣。三十動一代者。二臟無氣。</p>
<p>二十動一代者。三臟無氣。十動一代者。五臟無氣。予之短期。據脈經。謂四十動一止。四歲死。三十動一止。三歲死。</p>
<p>二十動一止。二歲死。十動一止。歲內死。五動一止。五日死。此亦概言之也。不必泥。）女胎三月余。見之不為礙。（舊謂胎三月。其脈代。按胎脈有五月七月亦代者。當於兩尺候之。如胎來成九至。或十至一止。良久方來。又九至或十至一止。良久方來。此所謂有常數也。再來。或九至或十至不止又於十二至。或十五至一止。但有常數。皆是代脈。代之止有常數。乃信也。土主信。此脾胃之氣至也。出為萬物之生氣。脾胃乃五臟之生氣。生氣至。故有胎也。且天一生水。</p>
<p>次生火木金土。而五行備。胎之初結。乃天一之水也。次生火木金土。而五臟之氣全。五臟之氣全。故脈代也。代又何以為死脈。以生數論。五臟之氣全。應天五生土之數。故其脈代。以淺數論。有形之後。則營衛之氣與天地之書液周流。</p>
<p>而無一息之止者也五臟無氣。獨胃氣尚在。故其脈亦代。然此胃氣。乃油盡之燈。故不久必死。）</p>
<p>脈不以浮沉至數辨。而以形辨者。曰弦。直而長。如按弓弦。曰緊。往來有力。左右彈人手。如轉索無常。曰長。</p>
<p>迢迢自若。如揭（長）竿末稍。曰短。不能滿部。兩頭縮縮。曰細。直而　應指指如絲線。曰澀。細而往來難。應指如輕刀刮竹。曰滑。往來前卻。流利如珠。曰動。大如豆。厥厥搖動。凡八脈。</p>
<h2>弦</h2>
<p>（脈經謂弦脈舉之無有。按瘧脈有浮弦者。未嘗舉之無有也。經曰。瘧皆生於風。惟旺於風。故其脈浮弦。且頭疼如破也。即脈經傷寒條中。亦有陽明中風脈弦浮之語。則所謂弦脈。舉之無有。疑其誤也。）</p>
<p>硬然在指下。端直似弓弦。（弦。春脈也。夏秋冬見之。則病脈也。然在春　弱而滑。平脈也。若而實強。此謂太過。</p>
<p>不實而征此謂不及。亦病脈也。）夏秋則主瘧相纏。（風寒暑濕之氣皆為瘧。其脈皆強。惟夏秋患瘧者甚多。冬春亦間有之。）弦數熱。弦遲寒。寸弦頭痛膈多痰。（弦主痰。痰隨厥氣上升。故頭痛。）關若　瘕胃氣逆。（血凝氣滯。久而堅硬。</p>
<p>在臍旁。曰　瘕。胃中寒氣。沖窗心下曰逆。）尺當　疝腳拘攣。（　疝者。睪丸腫痛。上遲小腹也。蓋肝脈絡陰器。主疝。或寒。或澀。或熱或虛。或氣分或血分。臨症以脈之遲數軟弱辨之。肝主筋、腎主骨。筋束骨者也。寒則筋急。</p>
<p>故抱攣。拘攣痛。屈伸不利也。）</p>
<h2>緊</h2>
<p>（內經謂之急。）</p>
<p>左右彈手其力強。狀如轉索名為緊。（緊主寒。浮緊表寒。沉緊裡寒。）人迎主傷寒。還把風癇診。（左手寸關之間曰人迎。人迎緊。主瀉寒。頭痛。惡寒。發熱。風氣通肝。木得風則動搖。故身螈　。肝火鼓動心火。火炎神越。故卒不知人。吐涎沫曰風癇。）氣口主傷食。喘嗽亦宜審。（右手寸關之間。曰氣口氣口緊。主傷食。心下苦滿。肺惡寒。寒則氣逆。故為喘與咳。脈經曰。緊為實。以上皆實邪。故其脈緊。）關尺見緊時。痹疝極其準。（經謂青脈之至也。長而右左彈人手。有積氣在心下支　。名曰肝痹。得之寒濕。與疝同法。）</p>
<h2>長</h2>
<p>迢迢自若指間長。倘帶搏堅便失常。（長脈在春。乃肝脈也。軟弱如揭長竿末稍。曰肝平。實而滑。如循長竿。曰肝病。按長則氣治。若應指搏堅。而不　弱。則氣不治矣。）傷寒傳變。陽明可評。（傷寒二三日脈長。目痛鼻干不得眠。</p>
<p>陽明病也。）左寸足疼舌卷縮。（經曰。寸口脈長曰足脛痛。按左寸心為陽。主血脈。長立有餘之病。上余有則下不及。</p>
<p>血脈不通。故足腫痛。腎脈挾舌本。舌為心病。心火盛則水急。水急則舌本縮。而舌卷不能言矣。）右寸分明嘔血傷。（腎主唾。其脈入肺中。循喉嚨。血隨火升。故唾血。）關中少氣髀如折。（長本肝脈。木邪克土。故脾虛中氣不足。肢內曰髀。胃脈之所下。胃虛故脾痛如折。又脾有邪。其氣亦留於兩髀。）尺則腰痛不可當。（火盛則水衰。腰為腎府。腎空則腰痛。）</p>
<h2>短</h2>
<p>本位不能及。縮縮其形短。（短則氣病。若秋時肺脈短澀。乃平脈也。）滑短酒傷浮短嗽。寸主頭疼尺腹滿。（短主不及之病。酒傷與嗽。則氣不及也。上不及。則頭疼。下不及。則腹滿也。）</p>
<h2>細</h2>
<p>（內經謂之小。）濡（同　。）弱（脈經以浮細為　。沉細為弱。豈細脈無浮二候。獨於不浮不沉候之乎。而內經何以有沉細之說也。且經曰。脈弱以滑。是有胃氣。滑者流利如深之謂。若以沉細為弱。則沉細如經之中。不能見滑矣。</p>
<p>且脈經既以沉細為弱。而論肺痿。何以又有浮弱之言乎。今據內經。以弦脈　弱為肝之。平脈。則所謂　弱者。無力之謂。不得以浮細為　。沉細為弱矣。況　弱所主之病。大概與細同。今附於此。）</p>
<p>直　如絲細。勞傷損血氣。（細主氣血兩虛。）身汗來。心慌至。（浮細屬陰虛。多盜汗。沉細屬陽虛。多自汗。汗多心虛故慌。）寸須嘔吐關須脹。（脾胃虛寒。上則嘔吐。下則腹滿。）尺屬骨蒸痢與痹。（骨蒸。久痢。皆屬腎虛。故脈細。</p>
<p>痹為寒濕之陰邪。故脈亦細。）</p>
<h2>澀</h2>
<p>往來難。細短澀。輕刀刮竹形容切。血少氣有餘。寸澀心疼神亦怯。（胃屬陽明。多血多氣。其上口當心。血虛。則氣湊之氣血攻衝。則當心而痛。陽明又主驚。驚氣歸心。故神怯。）關中脅脹胃虛嘔。（肝藏血、屬厥陰。其脈布脅肋。</p>
<p>血少氣勝。故脅肋脹。胃為水穀之海。血少則摻。氣勝則逆。爆則血枯。逆則氣。故不納水穀而嘔吐也。）尺部腸枯五心熱。（血虛則腸枯澀血虛而相火動。則肝熱肝。熱下移之於母。則腎熱上移之於子。則心熱腎之脈起於足心。心之脈入於手心。故手足心熱。）婦女當為經不通。或為胎病宜區別。（血養胎。故脈澀。）崔紫虛謂澀主自汗。瀕湖士材皆宗之。愚按內經云。澀滿陽有餘也。陽氣有餘。則為身熱無汗。當以經言為是。</p>
<h2>滑</h2>
<p>流利如珠便是滑。多汗陰有餘。風痰更可察。（經曰。滑者。陰氣有餘也。陰氣有餘。為多汗。身寒。滑脈主風。又主痰。）寸滑吞酸咳嗽嘔。（滑又主熱。胃中濕氣。與熱氣。熏蒸。蘊而淺酸。停在胃脘。故吞酸。濕熱生痰。故咳嗽及嘔吐。）當關積熱掌中發。（食積胃。胃生熱。胃熱上熏則包絡與心肺皆熱。包絡之脈。入掌中。肺脈行其前。心脈行其後。故掌中就熱。經所謂掌中熱者。腹中熱是也。）痢疾　癃尺部者。（滑又主宿食。食積成痢。　者睪丸腫大痛連小腹也。癃者。小便不通。脈經謂尺滑當溺血也。）女子或為經閉煞。（脈經謂尺脈滑。女子經脈不利。按滑為血有餘。若滑而結。及浮滑遲滑者。蓄血也。不然則是胎脈。）</p>
<h2>動</h2>
<p>（仲景傷寒論曰。數脈見於關上。上下無頭尾。如豆大。厥厥搖動者。名曰動。愚按兩上字。其一乃浚人誤添者。</p>
<p>當是數厥見於關上、下。經曰。女子手少陰脈動甚者。妊子也。手少陰屬心。是寸者動脈矣。又曰。陰虛陽搏謂之崩。</p>
<p>腎之陰虛。陽搏之故。見崩症是尺有動脈矣。王叔和著脈經。不知兩上字。其一乃衍字。因曰動脈見於關上。遂令談之論脈者。皆曰動脈。只見於闕。與經不合矣。）</p>
<p>動脈如豆形。數而厥厥動。陽動出汗兮。驚痛堪憂。（成無己曰。陰陽相搏。則虛者動。按陰搏陽則陽虛。陽虛故出汗。經謂肝主驚。陽明主驚。按膽附於肝。肝氣強者膽大。肝氣弱者膽小。膽小當有畏懼之心。故易驚。此驚之生於內者也。陽明屬土。土性靜。故聞木聲惕然而驚。此驚之生於外者也。由是觀之。則自驚者屬肝。物觸而驚者屬陽明。然而驚則皆歸於心也。陰陽相搏。陰邪勝故痛。）陰動發熱兮。血崩為重。（陽搏陰。則陰虛。陰虛故發熱。陽邪盛。迫血妄行。故崩。）</p>
<h2>胎脈</h2>
<p>尺脈滑疾。心脈動來。三部浮沉脈正等。五十不止確為胎。疾而按散兮。其胎三月。但疾不散兮。五月可猜。沉則為男浮則女。陰陽推測貴三才。（女子以血旺為本。尺脈當滑。然滑屬血。陰也。痰屬氣。陽也。滑而疾。是陽之交陰也。</p>
<p>女子心脈當沉。今陰陽相搏。而其脈動。是陰之交陽也。陰陽相交。而三部之脈。無偏浮偏沉。五十不正。無或結或促。</p>
<p>其為胎也明矣。三月之胎。其形未實。故其脈按近而散。五月之胎。其形漸實。故其脈按之不散。而其疾如故者。蠱疾為陽氣。萬物得天地之陽。氣以生成。陰必得母之陽氣以長養也。沉陰脈。何以反為努浮陽脈。何以反為女。蓋男胎得陽氣多。胎得陽氣多。則母之陽不足陰有餘矣。陰有餘陽不足。故其脈沉。女胎得陰氣多。胎滑陰氣多。則母之陰不足。</p>
<p>陽有餘矣。陽有餘。陰不足。故其脈浮。亦猶故為男。陰多於陽。且陰外而陽內也。雖為女。陽多於陰。且陽外而陰內也。疾與滑。何以不主病。蓋疾而不滑。則為陰虛火盛。滑而痰。則非病矣。尺既滑而疾。則寸之動。母非病矣。脈經辨男女法。左手沉實為男。右手浮大為女。左右手俱沉實。生二男。俱浮大生二女。又左尺脈偏大為男。右尺脈偏大為女。左右俱大生二子。）</p>
<h2>附送戴原禮還浦陽序</h2>
<p>醫之為道至矣。周官有疾醫。視萬民四時之病。春之　首。夏之癢疥。秋之瘧寒。冬之嗽咳。分而治之。驗其狀而制其祿。復世官寢失職。故於其術。每擇之不精。吾同縣戴原禮。從朱先生彥修學。治疾往往多奇驗。原禮從叔仲章。</p>
<p>六月患大熱。面赤口譫語。身發紅斑。他醫投以大承氣湯。而熱愈極。原禮脈之。曰。左右手皆浮虛無力。非真熱也。</p>
<p>張子和云。當解表而勿攻裡。此證似之。法當汗。遂用附子乾薑人參白朮為劑。烹液冷凍飲料之。大汗而愈。櫧概方氏子婦。</p>
<p>瘧後多汗。呼媵人易衣不至。怒形於色。遂昏厥若死狀。灌以蘇合香丸而蘇。自後聞人步之重。雞犬之聲。輒厥逆如初。</p>
<p>原禮曰。脈虛甚。重取則散。是謂汗多亡陽。正合經意。以黃　人參日補之。其驚漸減。至浹旬而安。松江諸仲文。長夏畏寒。身常挾重纏。食飲必熱如火。方下咽。微溫則嘔。他醫授以胡椒煮伏雌之法。日啖雞者三。病逾亟。原禮曰。</p>
<p>脈數而大且不弱。劉守真云。火極似水。此之謂矣。椒發陰經之火。雞能助痰。只以益其病爾。以大承氣湯下之。晝夜行二十余。頓減纊之半。復以黃連導痰湯。益竹瀝飲之。竟瘳。姑蘇朱子明之婦。病長號。數十聲暫止。復如前。人以為萬所憑莫能療。原禮曰。此郁病也。痰閉於上。火鬱於下。故長號則氣少舒。經云。火鬱則發之是已。遂用重劑涌之。</p>
<p>吐痰如膠者無算。乃復初。藥原忠妻。因免乳後。病驚。身翩翩然。如升浮云之上。舉目則室廬旋運。持身弗定。他醫飲以補虛治驚皆無驗。原禮曰。左脈雖芤且澀。神色不動。是因驚致。心包絡積污血爾。法宜下之。下積血如漆者一斗。</p>
<p>即愈。留守衛吏。陸仲容之內子。病熱。妄見神鬼。手足　動。他醫用黃連清心湯。不中。原禮視之。曰。形瘦而色不澤。乃虛熱耳。法當以李杲甘溫除大熱之法為治。即經所謂損者溫之者也。服人參黃　而安。他若此者甚眾。夫醫之為道。本於素問內經。其學一壞於開元。再壞於大觀。習俗相仍。絕不知究其微指。唯執一定之方。類刻舟而求劍者。人訾之。則曰我之用此。不翅足矣。又惡事內經為。宋之錢仲陽。獨得其秘於遺經。而擴充之。金之張劉李諸家。又從而衍繹之。於是內經之學大明。劉之學。朱先生得之最深。大江以南。醫之道本於內經。實自先生發之。原禮乃其高弟弟子。其傳授有要。故察證無不中。服其劑者。沉　豁然如洗。昔司馬遷作倉公傳。載其應詔所對。自齊御史成至公乘項處。凡二十有三。書治病之狀甚具。予仿此義。稍陳原禮療疾。奇中者系之首簡。若周官疾醫。四時治證之概。知言者。</p>
<p>必有所擇焉。</p>
<h2>贈醫師葛某序</h2>
<p>古之醫師。必通於三世之書。所謂三世者。一曰針灸。二曰神農本草。三曰素女脈訣。脈訣所以察證。本草所以辨藥。針灸所以祛疾。非是三者。不可以言醫。故記禮者有云。醫不三世。不服其藥也。傳經者既明載其說。復斥其非。</p>
<p>而以父子相承。三世為言。何其惑歟。夫醫之為道。必志慮淵微。機穎明發。然後可與於斯。雖其父不能必傳其子也。</p>
<p>吾鄉有某。三世業醫。專事大觀之方。他皆弗之省。又有朱聘君。家世習儒。至聘君。始以醫鳴。醫家諸書。則無不精覽。一少年。病肺氣上。喀喀鳴。喉中急則唾。唾血成縷。某曰。此瘵也。後三月死。聘君曰。非也。氣升而腴。中失其樞。火官司令。爍金於爐。是之謂肺痿。治之生。已而果然。一六十翁。患寒熱。初毛洒淅。齒擊下上。熱繼之。盛如蒸甑。某曰。此痰也。不治將瘥。聘君曰。非也。脈淫以芤。數復亂息。外強中干。禍作福極。是之謂解亦。藥之則瘳。不藥則劇。已而果劇。治乃愈。一女婦。有噦疾。每吐涎數升。腥觸人。人近亦噦。某曰。此寒噦也。法宜溫。聘君曰。非也。陽陰未平。氣苞血聚。其勢方格。靡有攸處。是之謂惡阻。在法不當治。久則自寧且生男。言後輒驗。夫某之醫三世矣。聘君則始習為之。而優劣若是。醫其可以世論即。昔之名醫眾矣。若華元化。張嗣伯。許智藏。其治證。</p>
<p>皆入神。初不聞其父子相傳也。自傳經惑於是非。使禮經之意。晦而不白。三千年矣。世之索醫者。不問其通書與否。</p>
<p>見久於其業者。則瞀瞀焉從之。人問其故。則曰是記禮者。云爾也。其可乎哉。葛生某淮之鉅族也。明於醫。三世之書。</p>
<p>皆嘗習而通之。出而治疾。決死生。驗瘥劇。若燭照。而龜卜無爽也者。士或不能具藥。輒注之不索其償。士君子翕然稱之。名上丞相府。賜七品服。俾提舉諸醫官。有疾者。遂倚之以為命。嗚呼。若葛生者。其無愧古之醫師者歟。</p>
<h2>贈醫師賈某序</h2>
<p>醫之為道。難言矣。必審診以起度量。立規矩。稱權衡。合色脈。表裡。有餘。不足。順逆。之法。復參其人之動靜。與其息之相應。然後從而治之。非洞明應世群書之得失。不足與於斯。黃帝內經。雖疑先秦之士。依仿而托之。其言深。其旨邃。以弘其考辨。信而有征。是當為醫家之宗。下此則秦越人和緩。無書可傳。越人所著八十一難經。則皆舉內經之要。而推言者也。又下此。則淳於意華佗之熊經鴟顧。固亦導引家之一術。至於刳腹背。湔腸胃。而去疾。則涉於神怪矣。意之醫狀。司馬遷備志之。其所謂回風杳風者。今人絕不知為何證。況復求於治療之深旨乎。又下。則張機。機之金匱玉函經。及傷寒諸論。誠千古不刊之典。第詳於六氣所傷。而於情欲食飲。罷勞之所致者。略而弗議。兼之文字錯簡。亦未易以序次求之也。又下此。則王叔和。叔和纂歧伯華佗等書。為脈經。敘陰陽內外。辨三部九候。分人寧氣和。條陳十二經絡。洎夫三焦五臟六腑之病。最為著明。惜乎為妄男子。括以膚陋之脈歌。遂使其本書。不盛布於世也。又下此。則巢元方。其病源候論。似不為無見。但言風寒二濕。而不著濕熱之文。乃其失也。又下此則王　。</p>
<p>推五運六氣之變。撰為天元王策。周詳切密。亦人所難。苟泥之。則屬滯而不通矣。又下此。則王燾孫思邈。思邈以絕人之識。操慈仁惻濃之心。其列千金方翼。及工害人之禍。至為憤切。後人稍闖其藩垣。亦足以其術鳴。但不知傷寒之數。或弗能無遺憾也。熏雖暗劣。外台秘要。所言方證符禁灼灸之詳。頗有所祖述。然謂針能殺生人。而不能起死人者。則一偏之見也。又下此。則錢乙龐安時許叔微。叔微在準繩尺寸之中。而無所發明。安時雖能出奇應變。而終未離於范圍。二人皆得張機之粗者也。惟乙深造機之閫奧。而擷其精華。建為五臟之方。各隨所宜。肝有相火。則有瀉而無補。腎為真水。則有補而無瀉。皆啟內經之秘。世概以嬰孺醫目之。何知乙之淺哉。其遺書散之出於閻孝忠所集者。多孝忠之意。初非乙之本真也。又下此。則工穀張元素。河間劉完素。睢水張從正。元素之與完素。雖設為奇夢異人。以神其授受。實聞乙之風而起者。若從正則又宗完素者也。元素以古方新病。決不能相值。治疾一切不以方。故其書亦不傳。其存於今者。皆後來之所傅會。其學則東垣李杲深得之。杲推明內外二傷。而多注意於補脾土之說。蓋以土為一身之主。土平則諸臟平矣。從正以吐汗下三法。風寒暑濕火燥六門。為醫之關鍵。其治多攻。其劑多峻厲。不善學人殺人。</p>
<p>光素論風火之病。以內經病機氣宜十九條。著為元病式。簡奧粹微。有非大觀局諸醫。所可仿佛。究其設施。則亦不越補攻二者之間也。嗟乎。自有內經以來。醫書之藏有司者。凡一百七十九家。二百九部。二千二百五十九卷。他未遑深論。即今所論者言之。世之醫師。果能盡心於斯否乎。脫或未盡心於斯。則夫起度量。立規矩。稱權衡。合色脈之屬。</p>
<p>焉能察而行之。不至以人命為戲也。幾希矣。雖然亦有要焉。逆與順之謂也。曰升降。曰浮沉。吾則順之。曰溫涼。曰寒熱。吾則逆之。果能此道矣。則去夫先醫之所治。雖不中。不遠矣。烏傷。賈思誠。濂外弟也。嘗同濂。師事城南聞先生。學治經。久之復受醫說於彥修宋先生。治疾有奇驗。荐紳間多為賦詩。而屬濂以序。濂為直疏歷世群書之得失。</p>
<p>而最思誠以學人如此。</p>
