<header><h1>接骨手法</h1></header>
<dl class="元資料" data-type="book" hidden></dl>
<h2>婦兒篇</h2>
<h3>接骨手法</h3>
<p>接骨一道手中出，須看出臼與折骨，肩骨跌出最易見，上肩骨子自聳出，舉手不能上至頭，疼痛難熬全無力，若遇此症要醫他，手法妙中好頃刻。</p>
<p>令人兩手騎跨抱，坐正其身莫偏側，一手將來拽下臂，一手推其肩上骨，兩手一時齊拽動，自然入臼陷充溢。</p>
<p>若用此法未見功，肩下須當用竹筒，兩頭隨力略抬起，我舉兩手如上弓，重用氣力只一拽，拽上之時痛不凶。</p>
<p>中臂臼出最難識，屈則難伸伸難屈，且將好臂比別他，骨子若出自然屈，令人用手捏上臂，我將下臂用拽直，舉手之中要用巧，須向內邊略一側，隨手屈之又要伸，放手叫他自伸屈，若還腫脹難屈伸，其中消息要詳精，向內向外頻轉側，須審骨節無磚聲，無聲無礙好之音。</p>
<p>近手骱出也難認，看他高骨方為定，高骨偏時骱必偏，高骨正時骱必正，高骨非是診脈骨，手骱底邊高骨起，醫人看處要分明，治法無非用拽直，且將其骨將上抬，活動頻頻要仰抑，將他大拇指來伸，又伸大拇指下骨，方才筋骨得和平，要好且須半月日。</p>
<p>近骱臂骨懸半寸，此骨若損如折骨，治用薄杉板綁之，扎縛須教他挺直，近手扎縛莫太緊，委曲不得反成疾。</p>
<p>又有一種鎖子骨，近肩橫連在喉側，此骨若出無臼藏，若折之時易補葺，或出或折但KT　平，就將圍藥濃攤勻，要加綿絮來包裹，更用桑皮按KT　平，抄肩綁縛用腳帶，復絡患手在胸心。</p>
<p>背梁骨出如何驗，上下參差不得平，扶正患人席地坐，用布抄胸吊上身，上身一起骨便見，急將手去KT　須平。</p>
<p>肋骨折時須指按，按其骨節聽其聲，按著之時須用綁，綿絮加之急裹身。</p>
<p>臀髀骨出最難看，坐得平時無大患，扶他好足平直立，放下患足自然見，膀出側外骨出裡，若內裡側出外面，令他仰臥端正身，兩手舉足用一伸，隨將腳按其內踝，一拽仍須要屈伸。</p>
<p>惟有膝蓋骨無臼，跌失之時難依舊，用藥圍定用圈箍，總然成疾也無咎。</p>
<p>膝蓋骨下中臼骨，此骨生來未易出，若出之時也可醫，用力一伸再一屈，轉側內外看來由，骨入之時自平直。</p>
<p>腳骱骨出最難醫，一出外邊便難入，此骨若出成疾多，十好三四病六七，若遇此症要醫之，醫家全在手指力，頻伸腳背揉寬筋，大拇指頭向一抵，抵入之時隨縛住，圍藥膏貼兩相宜，若還不入病一世。又有一種模糊疾，但覺腫痛不出骨，此等雖為跌撲輕，若要速好也難得。</p>
<p>四肢骨折皮不破，折在中間好調護，治法輕輕要拽齊，拽其捏平疾不做，速將圍藥包裹之，綁板兩頭齊臼縛。</p>
<p>若是骨子近臼折，綁板須宜透臼結，委曲臼邊板休透，免致筋骨不動活，如包脹腫並血　，銀針挑破生肌抹，六七日後縛若寬，再換圍藥隨力扎。</p>
<p>又有皮破血淋漓，皮開骨露甚恐危，治法也要輕拽入，生肌散抹膏藥隨，夏月須當露傷口，香油時上免生蛆，或有些小碎骨出，不須驚懼耐心醫，諸般骨節俱堪醫，天靈蓋破無藥醫，天柱之骨在頂內，若還跌出極為危。</p>
<p>下頦脫落如何驗，口角流涎齒下齊，口角若正是雙落，口角歪斜單落醫，令人背後抱住額，兩手捧其腮頰骨，二大拇指入口中，盡齒根頭捏著實，輕輕拽出向上攙，隨用一拽自平復。</p>
<p>如覺指下嘰然聲，不須放手目暫停，試看入臼未入臼，妙法無機在性靈。</p>
<p>單落一邊用指治，治法無過悉如此，若醫此疾漫心機，心性魯莽徒然耳。</p>
<p>此訣傳來百有年，倭寇燒燼無遺編，吾今略舉其驗過，雖為俚語實心傳，若使後人能世習，濟人利己兩周全。</p>
