<header><h1>臨症驗舌法</h1></header>
<dl class="元資料" data-type="book">
<div><dt>作者</dt><dd>楊雲峰</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1917">公元1917年</data></dd></div>
</dl>
<h2>上卷</h2>
<h3>臨症以驗舌為準統論</h3>
<p>舌者，心之苗也。五臟六腑之大主，其氣通於此，其竅開於此者也。查諸臟腑圖，脾、肺、肝、腎，無不系根於心。核諸經絡，考手足陰陽，無脈不通於舌，則知經絡臟腑之病，不獨傷寒發熱，有苔可驗，即凡內外雜症，亦無一不呈其形、著其色於舌，是以驗舌一法，臨症者不可不講也。何從前以醫名家者俱略焉，而僅於傷寒見諸金鏡耶？余自弱冠，敬承家學，殫心醫理，間嘗從金鏡三十六舌，逐一體驗，其法殊多未合，疑而質諸先君子。先君子曰：東莊不有云乎，金鏡三十六舌，當參其意而勿泥其法，更有三十六舌之所未及者，須以意通之。予領先君子訓，退而繹其所以其意當參，其法勿泥者，乃見東莊所云，真實獲我心也。於是臨症之下，於舌必看其形、審其色、合諸脈症，而有心得其秘焉。據舌以分虛實，而虛實不爽焉；據舌以分陰陽，而陰陽不謬焉；據舌以分臟腑、配主方，而臟腑不瘥、主方不誤焉。危急疑難之頃，往往症無可參，脈無可按，而惟以舌為憑；婦女幼稚之病，往往聞之無息，問之無聲，而惟有舌可驗。是以陰陽虛實，見之悉得其真；補瀉寒暄，投之輒神其應。人以見之無不真、投之無不應也，未有不稱以為奇者。不知余於四診之中，於舌更有獨得之秘也。然獨得之秘，究何秘哉，不過同得之理耳。臨症者誠潛心而有會焉，則分之而臟腑各一陰陽也，陰陽各一虛實也，理周而法到，可以補金鏡之所未及，而正不止三十六舌也；合之而臟腑同此陰陽也，陰陽同此虛實也，理圓而法活，可以裁金鏡之所未合，而並不必三十六舌也。分而分之，其法不出乎五行；合而合之，其理總原於太極。準此以臨症，則諸病之變現，縱使萬葉千枝，而一望之神明，自可搜根拔本，尚何無者生之、有者甚之，以干致邪失正，絕人長命之咎哉？茲將驗舌諸法，備述之下，惟識者參之。</p>
<h3>驗舌分虛實法</h3>
<p>經云：「邪氣盛則實，正氣奪則虛」。又云：「有餘者瀉之，不足者補之。」竊謂虛實兩字，是攪病機之領；補瀉兩字，是提治法之綱。蓋以人之有病，不出一虛一實，醫之治病；不過一補一瀉。如虛實稍有疑心，則補瀉無從下手。其參症切脈以審虛實，固臨症第一要著也，乃有症似實而脈則虛，脈似實而症則虛者。如舍脈從症，既難信以為真，而舍從脈，又惟恐其是假，則且奈之何哉。不知凡物之理，實則其形堅斂、其色蒼老；虛則其體浮胖、其色嬌嫩。而病之現於舌也，其形與色亦然。（故凡病屬實者，其舌必堅斂而兼蒼老；病屬虛者，其舌必浮胖而兼嬌嫩。如此分別，則為虛為實、是假是真，雖未參症切脈，而一目先了然矣。）</p>
<h3>驗舌分陰陽法</h3>
<p>虛實既分，補瀉固有定見。然虛實各有陰陽，而陰陽迭為虛實，則於虛實分陰陽，臨症者又不可混也。</p>
<p>而分之不得其法，則有以陰盛為陽盛、陽虛為陰虛，而不能無誤者。且有症本陽虛，而經訓曰陰虛，令人錯解，貽害不淺者。如云：「陰虛出盜汗」。陰言手太陰也，虛言肺氣虛也。又云：「陰虛發夜熱」。陰言足太陰也，虛言脾氣虛也。同曰陰虛，而其中有手足太陰之分。名曰陰虛，而其實是脾肺氣虛之症。無如歷代醫師，從未注明其義，誤以脾肺氣虛認為腎水不足，而用滋陰降火之劑，朝夕重陰下逼，逼至土困金敗，便溏聲嘶，置之死地而不悟者，只此兩個陰字，拘義牽文，以訛傳訛。自古迄今，普天之大，不知日殺凡幾，良可痛也。況如此類者，經中未易枚舉，總緣陰陽混雜，虛實模糊，但憑脈症，分晰難清耳。（詎知陰虛陽盛者，其舌必干；陽虛陰盛者，其舌必滑；陰虛陽盛而火旺者，其舌必干而燥；陽虛陰盛而火衰者，其舌必滑而濕。）如此分別，則為陰為陽，誰實誰虛，顯然可見，更何似陰似陽之疑，以致重陰重陽之誤，貽人夭殃耶？</p>
<h3>驗舌分臟腑配主方法</h3>
<p>虛實不爽，而後補瀉無不應；陰陽不謬，而後寒暄無不投。然必臟腑不瘥，而後補瀉寒喧悉對其病，以拔其根而主方無不諦，則就虛實陰陽，以分夫臟腑而定以主方，臨症者尤不可混也。而臟腑之分，不越青黃黑白，主方之配，須合酸苦辛甘。爰按內經分臟別腑，並檢成方，酌定主治，條例如下。</p>
<p>一、舌見青色，肝膽病也。（紫色同）不拘所見何症，但看青而舌堅斂蒼老，肝膽兩經邪氣盛也，瀉火清肝飲；青而浮胖嬌嫩者，肝膽兩經精氣虛也，滋水生肝飲；青而干燥者，非膽腑陰虛火鬱，即肝臟血虛火旺也，（但干而不燥者，專責陰虛，如干而且燥，則陰虛而火旺矣。各臟腑仿此）膽腑陰虛者逍遙散，火鬱加生地、薄荷；肝臟血虛者逍遙散，火旺，加丹皮、山梔。</p>
<p>郁是氣抑，抑則氣不透，不透則熱而為火也。第從來俱以鬱火屬之肝，而余獨責之膽者，蓋膽屬少陽，其氣尚稚，膽為甲木，其質尚嫩，所以最易被抑，一抑則其氣悶而不舒矣。若肝則為厥陰，於木屬乙，其氣已盛，其質已堅，而其火易動而易旺，一有所觸，則即發而不可遏，其發而不可遏者，怒也非郁也。</p>
<p>郁主凝滯於中，而怒則發揚於外者也。本方統治肝膽陰虛，而於膽腑火鬱，則加薄荷、生地者，以木喜風搖，而鬱火非生地不能涼也。於肝臟火旺，則加丹皮、山梔者，蓋肝血既虛，則肝火易旺，則肝血益虛，自非瀉其火，難以滋其陰，非借屈曲下行以通之，無以瀉其火也。惟是血為火迫，變成燥症，則當重加熟地，以潤其燥，丹山兩味，固可不必，而亦非宜矣。</p>
<p>青而滑潤者，非膽腑氣怯，即肝臟氣虛也。膽腑氣怯者，十味溫膽湯，去枳實，加酒煎服，其應更捷。蓋以酒入膽經，而最壯膽氣也。</p>
<p>肝臟氣弱者，當歸建中湯去膠飴。</p>
<p>建中之所以異於桂枝者，在加膠飴一味耳。今恐甘先入脾，而去膠飴，則仍與桂枝無別。故用當歸建中，則與肝臟氣虛乃合。</p>
<p>如干燥而形色反見胖嫩者，肝膽陰陽兩虛也。七味飲倍肉桂，滑潤而形色不兼胖嫩者，肝膽木氣虛寒也，養榮東加枸杞。</p>
<p>凡左關脈細緊如刀口者，其舌不拘何色，必胖而滑；其病不拘何症，心虛而寒。予每投以養榮，無不立應。</p>
<p>臨症者切勿畏之，重生者切勿疑之。</p>
<p>一、舌見黃色，脾胃病也。不拘所見何症，但看黃而堅斂蒼老者，脾胃兩經邪氣盛也，瀉黃散。</p>
<p>如有濃苔，或焦黃、或焦黑，而糙刺燥裂，其症痞滿燥實堅斂悉具者，實症也。須急下之，以存津液，大承氣湯主之。但此是真正陽明裡症，北方傷寒，間或有此。然舌若胖大，即在北方，亦非承氣的症，切不可妄用硝黃，殺人於頃刻也。</p>
<p>黃而浮胖嬌嫩者，脾胃兩經精氣虛也，益黃散。黃而干燥者，非胃腑陰虧火旺，即脾臟血虛火盛也。胃腑陰虧者，左歸飲去茯苓；火旺加花粉、歸、地；脾臟血虛者，歸脾湯去木香；火盛加白芍、丹、山。</p>
<p>如干燥而有濃苔者，宿食滯於腸胃，而燥結不出也。其脈必牢實，神思必昏沉，面必擁熱通紅，鼻必氣粗，胸前按之必微痛，須逍遙散倍加熟地，潤而下之。</p>
<p>黃而滑潤者，非胃氣虛弱，即脾氣虧損也。胃氣虛弱者，七味白朮散加半夏，脾氣虧損者，五味異功散加白芍。</p>
<p>如其舌後半截滑膩而有微苔者，乃脾胃虛氣下陷也，須補中益氣湯。</p>
<p>如干燥而形色反見胖嫩者，脾胃氣血兩虛也，參　八珍湯。滑潤而形色又兼胖嫩者，脾胃中氣虛寒也，薑桂養榮湯。</p>
<p>一、舌見赤色，心與小腸病也。不拘所見何症，但看赤而堅斂蒼老者，心與小腸邪氣盛也，瀉心湯。</p>
<p>按四明心法：凡舌見灰色，指甲刮下無渣汁者，方是火症，乃芩連之對症也。味其語意，可見陽邪燔灼，則其陰液未有不干枯者。然以予驗之，又必其形堅斂、其色蒼老，方是真正芩連對症。若一見胖嫩，即使苔濃而焦干燥裂，非寒水侮土，即腎氣凌心。寒水凌土，當用附子理中；腎氣凌心，當用人參八味。倘誤用芩連，則舌上現出人字紋必死。予診莘墅沈彝仲症，辭以不治者，因其得此舌也，有論驗在醫案中可參。又按火色本紅，火症而舌見灰色者，如炭火通紅於內，而浮灰翳蔽於外也。顧據理論之，則舌見灰色，其症當更甚於舌黑如炭何也，蓋火燃薪盡，則是木成炭，是草成灰，故曰炭曰灰，皆火極之變象也。而木本質堅，甫著火燃，未成炭也。必火極似水，乃變黑而為炭，然其性猶甚烈也。至於久經火　，則熱極必寒，乃返白而成灰，然其心猶未灰也。若草本則其體弱，著火一過，即灰矣。一灰即不可復燃矣。然則就物理以察病機，彼見舌灰色者，無論一火即灰，與由炭而灰，不皆更甚於舌黑如炭者乎？赤而浮胖矯嫩者，心與小腸精氣虛也，養心湯。赤而干燥者，非小腸陰虧火旺，即心臟血虛火盛也。小腸陰虧者，滋水清肝飲去柴胡。</p>
<p>欲潤其下，不欲其就燥也。</p>
<p>火旺加生地、木通。</p>
<p>合導赤散以瀉其火氣。</p>
<p>心臟血虛者，濟生歸脾湯去木香。</p>
<p>恐其血燥，反動肝火而燥血液。火盛加丹皮、山梔。</p>
<p>凡本經之陰血既虧，則本經之陽火必旺，一負則一勝也。加丹皮、山梔者，欲其引心火下行，以直達於膀胱耳。</p>
<p>赤而滑潤者，非小腸陽虛氣墜，即心臟陽虛氣弱也。小腸陽虛氣墜者，補中益氣東加山梔、川烏。</p>
<p>氣虛則滯，氣滯則墜，方中參、　、朮、草，補其虛也；川烏、陳皮，破其滯也；升麻、柴胡，舉其墜也。</p>
<p>加山梔，借其屈曲下行，以引至小腸耳。</p>
<p>心臟陽虛氣弱者，噓血歸脾東加丹皮、肉桂。</p>
<p>氣有餘便是火，氣不足便是寒，本方加肉桂復加丹皮，欲其引入心經以補心氣也。</p>
<p>如干燥而形色反見胖嫩者，心與小腸氣血兩虛也，棗仁養營湯。滑潤而形色又見胖嫩者，心與小腸火氣大虧也，附子養營湯。</p>
<p>一、舌見白色，肺與大腸病也。不拘所見何症，但看白而堅斂蒼老者，肺與大腸邪氣盛也，瀉白散。白而浮胖嬌嫩者，肺與大腸精氣虛也，補肺湯。白而干燥者，非大腸血虛火盛，即肺臟陰虛火盛也。大腸血虛者，潤腸滋水飲，火盛加生地、當歸。</p>
<p>凡大便燥結，努力責不出者，本方神應。</p>
<p>如兼氣虛而推送無力者，間以補中，或竟用八珍東加桃仁、杏仁，養氣補陰，亦無不應。</p>
<p>肺臟陰虛者，生金滋水飲，火燥加百合、沙參。白而滑潤者，非大腸陽虛氣陷，即肺臟陽虛氣弱也。大腸陽虛氣陷者，補中益氣湯送固腸散。</p>
<p>大腸小腸俱屬下焦之腑，何以亦配中臟之方？則以腸胃相連，其氣本一貫也。</p>
<p>肺臟陽虛氣弱者，補中益氣湯合參附湯。如干燥而形色反見胖嫩者，肺與大腸氣血兩虛也，十全大補湯去肉桂，加炮薑。滑潤而形色又見兼胖嫩者，肺與大腸金氣虛寒也，參附養榮湯去茯苓，加炮薑。</p>
<p>一、舌見黑色，腎與膀胱病也。（命門水火附，左右兩腎同治）不拘所見何症，但看黑而堅斂蒼老者，腎與膀胱邪氣盛也，清肝飲。黑而浮胖嬌嫩者，腎與膀胱精神虛也，補元煎。黑而干燥者，非膀胱陰虛火盛，即左腎陰虛火旺也。膀胱陰虛者，六味飲，火盛合滋腎丸。左腎陰虛者，六味飲，火旺合生脈散。黑而滑潤者，非膀胱陰盛火衰，即右腎陽虛火虧也，膀胱陰盛火衰者，金匱腎氣丸。</p>
<p>膀胱為州都之官，主藏津液，而其所以能出者，由氣化也。陰虛火旺，則熱逼膀胱，而氣不能化矣；陰盛火衰，則寒逼膀胱，而氣不能化矣。膀胱不利為癃，除脾肺氣虛，不能通調水道外，大率不出此兩者也。然同一三陽癃閉，而一由火旺，一系火虧。病判天淵，治分冰炭。相反若此，可類推之。</p>
<p>右腎陽虛火虧者，八味地黃丸。如干燥而形色反見胖嫩者，腎與膀胱陰陽俱虛也。枸杞養榮湯主之，繼用十全大補湯作丸。</p>
<p>更有由白而黃，由黃而焦，而枯黑燥裂，其舌邊胖大，舌底滑潤者，甚有舌底亦燥而絕無津液，其糙刺如沙皮，斂束如荔子者。皆因勞傷脾肺，氣虛發熱，誤用發散，益虛益熱，復用寒涼，重陰內逼，以致虛火上炎。所以白上加黃，黃上加焦，而枯黑燥裂也。不論其脈，不論其症，大劑參附養榮湯，不時灌服，多有得生者。余救烏程潘中建之弟、歸安張學海、桐鄉諸聖濟等症，皆此舌也，有治驗在醫案可參。</p>
<p>滑潤而形色又兼氣嫩者，腎與膀胱元氣大憊也，附子養榮湯主之，繼用右歸丸。</p>
<p>更有其舌同一黑色，而一屬寒水侮土者，宜用附子理中湯；一系腎氣凌心者，宜用人參八味。其治有不相同何也？蓋寒水侮土者，系陰盛於內，逼陽於外，外假熱而內真寒，格陽症也，其黑色止聚於舌中。腎氣凌心者，系陰盛於下，逼陽於上，上假熱而下真寒，戴陽症也，其黑色直底於舌尖。然未有不胖且嫩者，干燥滑潤，又在所不拘也。惟是實火兩症，則其形必堅斂、色必蒼老，而萬無胖嫩者耳。</p>
<h3>驗舌決生死法</h3>
<p>生死之決於脈症者，內經垂訓，甚明備矣。而佐以驗舌，則尤顯而易見也。故並撮素所經驗者，附載於此，以為臨症一助。</p>
<p>一、舌如去膜豬腰子者，危。</p>
<p>一、舌如鏡面者，危。</p>
<p>一、舌糙刺如沙皮，而干枯燥裂者，危。</p>
<p>一、舌斂束如荔子肉，而絕無津液者，危。</p>
<p>一、舌如火柿者，危。</p>
<p>一、舌如烘糕者，危。</p>
<p>一、舌光無苔，胃氣絕也，不治。</p>
<p>一、舌卷而囊縮者，不治。</p>
<p>一、舌本強直，轉動不活，而語言蹇澀者，危。</p>
<p>一、舌起白苔如雪花片者，脾冷而閉也，不治。</p>
<p>一、舌因誤服芩連，而現出人字紋者，不治。</p>
<p>以上所列，皆垂死危候也。然有不必如此而死者；有即至如此而灼見臟腑陰陽虛實，竭力挽回，則亦得生者。吾輩果操活人神技，須存壽世婆心，即有百不一活之症，當作萬有一生之想。縱使修短有數，彭殤難齊，破格出奇，終於莫救，致招從旁浮議，同道中傷，病家歸咎，然而反之吾心，固無愧也。倘畏避嫌疑，而於此種危症，再付之庸劣之手，則必無生理矣，詎不痛哉。</p>
<h3>臨症以驗舌為準結語</h3>
<p>上論臨症以驗舌為準。而驗舌以浮胖堅斂分虛實，干燥滑潤分陰陽，黑白青黃分臟腑。蓋本至中至正之理，以立至簡至易之法。軒岐復起，當不易吾言也。至於陰陽虛實四柱，所配補瀉寒熱諸方，雖是為臨症者舉其大略，然而無一症不從親身經歷；無一方不從親手試驗者。誠以醫寄死生，只字不容率筆；理原性命，片語無可粗心也。惟是加減出入，因病制宜，神明於規矩繩墨之中；得心應手，變化於規矩繩墨之外。運斤成風，則存乎其人耳。而究之神明變化，仍不離夫規矩繩墨也。臨症者，若知赤子元無罪，合有人間父母心。則余此一編也，雖只望診中之一節乎，亦未始非切脈審症之證據，回生起死之范圍也。倘出厥范圍，而不憑此為證據，則恐其所操以活人者，反以殺人也已。</p>
<h2>下卷</h2>
<h3>方略</h3>
<p>凡病皆標也，而必有其本，本者所以致病之根源也。蓋惟人之病也，有一標必有一致標之本。是以醫之治也，有一本必有一拔本之方。不獲乎致標之本，處方必不能對其症也。不投以對症之方，治病必不能拔其本也。</p>
<p>臨症者，欲決群醫莫決之疑，則內因外因，致病須審其原；欲中各症必中之的，則正治從治，驗方務求其諦。</p>
<p>用輯主症諸方，以列驗舌之次。</p>
<p>凡舌見青色而堅斂蒼老者，肝膽兩經邪氣盛也，瀉火清肝飲主之。</p>
<h4>瀉火清肝飲方</h4>
<p>柴胡（酒炒）　黃芩（酒炒）　山梔（酒炒各一錢）　生地（酒浸三錢）　當歸（酒洗二錢）　生甘草（一錢）</p>
<p>按：上方主治肝膽兩經實邪，以致脅痛耳聾，膽溢口苦，筋痿陰汗，陰腫陰痛，白濁溲血等症。</p>
<p>凡舌見青色而浮胖嬌嫩者，肝膽兩經精氣虛也，滋水生肝飲主之。</p>
<h4>滋水生肝飲方</h4>
<p>熟地（四錢）　山藥（二錢）　萸肉（二錢）　丹皮（錢半）　茯苓（錢半）　澤瀉（錢半）　五味（一錢）　歸身（錢半）　柴胡（一錢）　甘草（一錢）　白朮（二錢半）</p>
<p>上方主治小便淋漓不利，婦女月經不調，兩脅脹悶，少腹作痛，寒熱往來，胸乳作痛，左關弦洪，右關弦數，此鬱怒傷肝，脾血虛氣滯為患也。用六味雙對減半分兩，加柴胡、白朮、甘草、當歸、五味，合逍遙而去白芍、加五味者，合都氣意也，以生肝。故去白芍而留白朮、甘草，以補脾。補脾者，生金以制木也。</p>
<p>以制為生，天地自然之理也。</p>
<p>凡舌見青色而干燥，屬膽腑陰虛火鬱者，用逍遙散加生地、薄荷主之。</p>
<h4>逍遙散加生地薄荷方</h4>
<p>柴胡（酒炒五分）　白芍（酒炒一錢）　歸身（酒洗一錢半）　白朮（一錢半）　茯苓（一錢）　甘草（五分）　生地（二錢）　薄荷（五分）</p>
<p>凡舌見青色而干燥，屬肝臟血虛火旺者，逍遙散加丹皮、山梔主之。</p>
<h4>逍遙散加丹皮山梔方</h4>
<p>柴胡（一錢）　白芍（二錢）　當歸（三錢）　白朮（二錢半）　茯苓（一錢半）　甘草（一錢）　丹皮（一錢半）　山梔（一錢半）</p>
<p>按：上原方主治肝膽兩經鬱火，以致脅痛頭眩，或胃脘當心而痛，或肩胛絆痛，或兩目赤痛，連及太陽。（以上各症，皆肝火上衝也）及六經感症，凡見陽脈者，悉宜此方治之。婦女鬱怒傷肝，致血妄行，赤白淫閉，沙淋崩濁等症。（以上各症，皆肝火下流也）俱宜此方加減。易曰：「風以散之。」此方是也。</p>
<p>凡舌見青色而潤滑，屬膽腑氣怯，十味溫膽湯去枳實主之。</p>
<h4>十味溫膽湯去枳實方</h4>
<p>陳皮（二錢去白）　半夏（二錢薑製）　茯苓（一錢半）　棗仁（錢半炒研）</p>
<p>遠志（五分去心）　人參（五分）　熟地（二錢）　竹茹（一錢）　甘草（五分）　生薑（一錢）　大棗（三枚）　酒煎按：上方主治心虛膽怯，氣鬱生涎，涎與氣搏，變生諸症。觸事易驚，或夢寐不祥，或短氣悸怖，或自汗虛煩，口苦嘔涎，痰盛不眠，及夢遺驚惕等症。</p>
<p>凡舌見青色而滑潤，屬肝臟氣虛者，當歸建中湯去膠飴主之。</p>
<h4>當歸建中湯去膠飴方</h4>
<p>白芍（三錢）　當歸（二錢）　肉桂（一錢）　甘草（一錢）</p>
<p>按：上方主治肝臟氣虛，不能生火，以致火不生土。白芍之酸、甘草之甘、此系甲己化土也。肉桂補肝之子、益土之母，所以培生化之原也。凡脾味不和，飲食不進，其外見症，兩脅寒痛，大便泄利，少腹墜痛，並宜此方治之。再按，此小建中湯原方主治也。千金方加當歸，名當歸建中。治婦人產後，虛羸不足，腹中痛引腰背。小腹拘急，今恐甜多入脾，而去膠飴。則當歸建中，尤與肝臟氣虛切合矣。</p>
<p>凡舌見青色干燥，而形色反見胖嫩者；肝膽氣血兩虛也，七味飲倍肉桂主之。</p>
<h4>七味飲倍肉桂方</h4>
<p>熟地（八錢）　山藥（四錢）　淨萸肉（四錢）　丹皮（三錢）　茯苓（三錢）</p>
<p>澤瀉（二錢）　肉桂（二錢）</p>
<p>按：上方主治肝膽氣虛，筋無所養，變為寒症。以致筋骨疼痛，腳軟懶行，及傷寒服涼藥過多，木中無火，手足牽引，肝經血虛，以致火燥筋攣，變為結核瘰　等症。經曰：「辛以潤之。」此方是也。</p>
<p>凡舌見青色滑潤，而形色又兼胖嫩者，肝膽木氣虛寒也，養榮湯倍肉桂主之。</p>
<h4>養榮湯倍肉桂方</h4>
<p>白芍（三錢）　當歸（二錢）　遠志（一錢）　五味（錢半）　肉桂（一錢）</p>
<p>熟地（四錢）　陳皮（一錢半）　白朮（三錢米泔水浸蒸）　黃　（三錢蜜炙無參倍用）　人參（多少隨宜）　茯苓（一錢半）　炙草（一錢半）　煨薑（一錢半）　大棗（五枚）</p>
<p>按：上方主治，凡屬大虛症，勿論其脈與症，但服此方，諸症悉退，此十全大補湯對子也。但十全大補只分氣血，此則五臟皆補，無虛不到，虛而寒甚者，當加附子以治之；三陰虛更妙。後凡用本方加減者，主治並同。</p>
<p>凡舌見黃色而堅斂蒼老者，脾胃兩經邪氣盛也，瀉黃散主之。</p>
<h4>瀉黃散方</h4>
<p>防風（四兩）　藿香（七錢）　山梔（炒黑一兩）　石膏（五錢）　甘草（二兩）　微炒為末甜酒調服。</p>
<p>按：上方主治脾胃伏火，口燥唇干，口瘡口臭，煩渴易飢，熱在肌肉者。</p>
<p>凡舌見黃色而浮胖嬌嫩者，脾胃兩經精氣虛也，益黃散主之。</p>
<h4>益黃散方</h4>
<p>陳皮（一兩）　青皮（五錢）　訶子（五錢泡去皮）　丁香（二錢）　白朮（二兩）　甘草（炙五錢）</p>
<p>按：上方主治脾胃虛寒，寒水反來侮土，而嘔吐不食。或肚腹作痛，或大便不實，手足逆冷等症。炒磨為末，每服四錢，水煎服。</p>
<p>凡舌見黃色而干燥，屬胃腑陰虧火旺者，左歸飲去茯苓加花粉、歸、地主之。</p>
<h4>左歸飲去茯苓加花粉歸地方</h4>
<p>熟地（八錢）　枸杞（六錢）　山藥（四錢）　萸肉（四錢）　甘草（二錢）　當歸（三錢）　生地（三錢）　花粉（一錢火不甚者去之）</p>
<p>按：上方主治腎水干枯，虛火上蒸，脾胃陰土受虧，以致飲食不進，大便燥結，甚至三陽癃閉，將成噎隔，及早服此，無不愈也。傷寒舌黑唇焦，大渴引飲，此必服發散寒涼、攻伐之藥過多也。原方加歸、芍救之，燥症更妙。</p>
<p>凡舌見黃色而干燥，屬脾臟血虛，火盛者歸脾湯去木香，加白芍、丹皮、山梔主之。</p>
<h4>歸脾湯去木香加丹皮山梔方</h4>
<p>棗仁（一錢炒研）　茯神（一錢去木）　遠志（一錢去心）　歸身（一錢）　人參（一錢半）　炙　（三錢無參倍之）　白朮（二錢半米泔淨蒸）　尤圓（七枚去殼）　甘草（一錢炙）　白芍（二錢）　丹皮（錢半）　山梔（錢半炒黑）</p>
<p>煨薑（一錢）　大棗（三枚）</p>
<p>按：上方主治思慮傷心脾，鬱怒傷肝，以致三經血少而燥。漸至心口有塊如拳，或左肋下有塊如手掌，或右肋下有塊如鐮刀，且時作痛，及健忘怔忡、驚悸不寐等症。內經所謂「二陽之病發心脾」。在男子則隱曲不利，在女子則月事不來，其傳為風消，其傳為息賁者不治，正此症也。</p>
<p>凡舌見黃色而滑潤，屬胃氣虛弱者，七味白朮散加半夏主之。</p>
<h4>七味白朮散加半夏方</h4>
<p>干葛（二錢）　木香（五分）　藿香（一錢）　人參（錢半）　白朮（二錢半）　茯苓（錢半）　甘草（一錢炙）　半夏（一錢半）　大棗（三枚）　煨薑（一錢）</p>
<p>按：上方主治脾虛，肌熱泄瀉，虛熱作渴。如去干葛、木香、藿香，加陳皮，則治脾胃氣虛，飲食不進，致成痰癖，不能咳唾。或胃氣虛寒，動成嘔惡。凡虛及諸病後，皆可以此調之。</p>
<p>凡舌見黃色而滑潤，屬脾氣虧損者，五味異功散加白芍主之。</p>
<h4>五味異功散加白芍方</h4>
<p>陳皮（一錢）　人參（一錢）　白朮（二錢半）　茯苓（一錢）　炙草（一錢）</p>
<p>白朮（一錢酒炒）　煨薑（一錢）　大棗（三枚去核）</p>
<p>按：上方主治脾胃不和，飲食不進，泄利虛飽。</p>
<p>凡舌見黃色干燥，而形質反見胖嫩者，脾胃氣血兩虛也，參　八珍湯主之。</p>
<h4>參八珍湯方</h4>
<p>人參（錢半）　茯苓（錢半）　炙草（錢半）　白朮（二錢半米泔洗蒸土炒）　川芎（一錢）　當歸（三錢）　白芍（二錢酒炒）　熟地（四錢）　煨薑（錢半）　大棗（五枚）</p>
<p>按：上方主治心脾肺胃氣血俱虛，以致惡寒發熱，嘈雜健忘，怔忡不寐，懈怠不臥，四肢酸倦等症。</p>
<p>凡舌見黃色滑潤，而形質又兼胖嫩者，脾胃中氣虛寒也，薑桂養榮湯主之。</p>
<h4>薑桂養榮湯方</h4>
<p>白芍（三錢酒炒）　遠志（一錢去心）　當歸（二錢酒洗）　五味（錢半）　熟地（四錢）　肉桂（一錢）　白朮（三錢）　陳皮（錢半）　人參（多少隨宜）　黃　（五錢蜜炙）　茯苓（錢半）　炙草（錢半）　炮薑（錢半）　大棗（五枚）</p>
<p>按：上方主治，已悉肝膽病本方條下。凡舌見紅色而堅斂蒼老者，心與小腸邪氣盛也，瀉心湯主之。</p>
<h4>瀉心湯方</h4>
<p>川連（一錢）　黃芩（一錢）　生地（三錢）　山梔（錢半）　丹皮（錢半）　木通（一錢）　甘草（一錢）</p>
<p>按：上方主治心火熾炎，口苦舌瘡，小腸郁結，不能通利等症。</p>
<p>凡舌見赤色而浮胖嬌嫩者，心與小腸精氣虛也，養心湯主之。</p>
<h4>養心湯方</h4>
<p>茯神（二錢）　遠志（五分）　棗仁（五分炒研）　柏子仁（五分去油）　五味（五分）</p>
<p>人參（五分）　黃　（二錢炙）　當歸（二錢）　川芎（二錢）　半夏（二錢）　肉桂（五分）　甘草（五分）</p>
<p>按：上方主治心虛血少，神氣不寧，怔忡驚悸等症。</p>
<p>凡舌見赤色干燥而屬小腸陰虛火旺者，滋水清肝飲去柴胡，加生地、木通主之。</p>
<h4>滋水清肝飲去柴胡加生地木通方</h4>
<p>熟地（四兩）　山藥（二錢）　萸肉（二錢）　丹皮（錢半）</p>
<p>茯苓（錢半）　澤瀉（錢半）　棗仁（一錢）　白芍（二錢）　山梔（錢半）　當歸（二錢）　生地（三錢）</p>
<p>木通（錢半）</p>
<p>按：上原方主治腎水不足，肝火上炎，以致吞酸吐酸，脅痛頭眩，口苦咽乾，大便艱澀，小水短赤等症。蓋取地黃丸之探原而不隔於中；取生地黃湯之降火而不犯於下，真從來所未及也。</p>
<p>凡舌見赤色而干燥，屬心臟血虛火盛者，濟生歸脾湯去木香，加丹皮、麥冬主之。</p>
<h4>濟生歸脾湯去木香加丹皮麥冬方</h4>
<p>茯神（一錢）　遠志（一錢）　棗仁（一錢）　當歸（錢半）　煨薑（一錢）　人參（一錢）　黃　（二錢半）　冬術（錢半）　龍圓（五枚去殼）　丹皮（錢半）　麥冬（一錢）</p>
<p>甘草（一錢）　大棗（五個）</p>
<p>按：上原方主治心衰火盛，不能生土，以致土困金敗，外兼咳嗽吐痰，寒熱往來，盜汗等症，悉以此方治之。凡見脾胃衰弱，飲食少思，大便泄瀉，總屬心氣不旺所致，此補本法也。凡各種虛症，補中益氣湯所不效者，投以此方，加五味、白芍以斂其心氣，奏效更神也。又按補中陽藥也，歸脾陰藥也。凡因飢飽勞役，傷其脾而氣虛者，宜用補中，補中者，補中以益其氣也；因思慮郁結，傷其脾而血虛者，宜用歸脾，歸脾者，噓血以歸於脾也。至於心力俱勞，而氣血俱傷者，則補中歸脾，單服固非對症，合用又不成方，惟有養榮一方，可合補中歸脾兩症而統治之，不致拈一放一耳。</p>
<p>凡舌見赤色而滑潤，屬小腸陽氣虛墜者，補中益氣東加山梔、川烏主之。</p>
<h4>補中益氣東加山梔川烏方</h4>
<p>升麻（五分）　柴胡（五分）　當歸（二錢）　陳皮（一錢）　人參（一錢）　白朮（錢半）　炙草（一錢）　黃　（二錢半炙）　山梔（一錢）　川烏（一錢）　煨薑（一錢）　大棗（三枚）</p>
<p>按：上原方主治凡六經內傷外感。</p>
<p>內傷外感者，言由內傷以致外感也。蓋以邪之所湊，其氣必虛，東垣故立此方以補傷寒書之所未及，非補虛方也。今感症家多不敢用，而以為調理補虛服食之藥則謬矣。調理補虛及通其意而轉用者耳。</p>
<p>及暑月勞倦發熱，暑則氣耗，勞則氣傷。發熱而在於暑月，且因勞倦，自非甘溫不能。彼肆用藿香、滑石等，為暑月發熱必需之劑，只在不明此義耳。</p>
<p>或汗出不止，衛外之陽虛，則腠理不固矣。</p>
<p>俱用本方加白芍一錢（須再加五味，乃合肺主皮毛之義）。</p>
<p>痢疾腹痛已除，瀉猶未已，是胃氣下陷也。必尚兼後重，第圊後隨減耳，加酒炒白芍三錢。</p>
<p>瘧疾發久，形體　羸，無論六經，皆當加半夏一錢（合六君也）。</p>
<p>即有外感，不過加黃芩一錢（則合小柴胡矣）。</p>
<p>凡婦女胎前氣虛，以致胎動不安，小產崩漏，皆因氣虛不能升舉故也。</p>
<p>或產後血虛發熱。凡血虛發熱者，其舌必干；氣虛發熱者，其舌必滑。然既在產後，則不但血虛，即其氣未有不虛者。蓋當其臨盆之際，為產婦者，若非全副精神、渾身力氣，努力責以推送之，則胞胎如何下地？迨至胞胎下地，則所去之血固多，之後能不傷其氣乎？況血虛則氣無所附，寧不與之俱虛乎？茲以產後發熱，專責血虛，殊有漏義。而症乃列於本方之下　是知有形之血不能速生，無形之氣所當急固。陽旺陰生，其意固自包舉也。第不明言其意，則產後之血虛，人習聞之；而產後之氣虛，人皆忽之，故特表而出之。</p>
<p>俱加酒炒白芍二錢（氣味酸寒，恐伐生氣，故用酒炒）。</p>
<p>此方凡屬中宮虛損，病後調攝，無不相宜。倪氏曰：「七情內傷，脾胃先病，治先補土，此方主之」。</p>
<p>然內傷脾胃，須有分別。如飢飽勞役，飲食生冷，內傷脾胃而病者，自當主以此方。若由思慮鬱怒，七情內傷，而脾胃先病者，則於本方尚隔一膜，不若歸脾為的當也。</p>
<p>凡舌見赤色而滑潤，屬心臟陽虛氣弱者，濟生歸脾東加丹皮、肉桂主之。</p>
<h4>噓血歸脾東加丹皮肉桂方</h4>
<p>茯神（一錢）　遠志（一錢去心）　棗仁（一錢炒研）　當歸（錢半）</p>
<p>人參（錢半）　黃　（三錢炙）　白朮（二錢土炒）　木香（五分）　炙草（一錢）　丹皮（一錢）　肉桂（五分）　龍圓（五枚去殼）　大棗（三枚）　煨薑（一錢）</p>
<p>按：上原方主治，已見本臟血虛條下。</p>
<p>凡舌見赤色干燥，而形質反見胖嫩者，心與小腸氣血兩虛也，棗仁養榮湯主之。</p>
<h4>棗仁養榮湯方</h4>
<p>棗仁（一錢炒研）　遠志（一錢去心）　白芍（錢半酒炒）　歸身（一錢）　五味（八分）　熟地（二錢）　肉桂（五分）　陳皮（八分）　白朮（錢半土炒）　人參（錢半）　黃　（三錢炙）</p>
<p>茯神（一錢）　炙草（一錢）　煨薑（一錢）　紅棗（三枚）</p>
<p>按：上方主治詳前本方。</p>
<p>凡舌見赤色滑潤，而形質反見胖嫩者，心與小腸火氣大虧也，附子養榮湯主之。</p>
<h4>附子養榮湯方</h4>
<p>附子（一錢制）　白芍（錢半）　遠志（五分去心）　歸身（一錢）　五味（八分）</p>
<p>熟地（二錢）　肉桂（五分）　陳皮（八分）　人參（錢半）　黃　（三錢炙）　白朮（二錢半土炒）　茯神（一錢）　甘草（一錢炙）　煨薑（一錢）　紅棗（三枚）</p>
<p>按：上方主治，並詳各臟腑病所列本方下，而其分兩，則獨輕於各臟腑，而只與肺同者，蓋心肺位近，宜制小其服，肝腎位遠，宜制大其服也。</p>
<p>凡舌見白色而堅斂蒼老者，肺與大腸邪氣盛也，瀉白散主之。</p>
<h4>瀉白散方</h4>
<p>桑白皮（二錢蜜炙）　地骨皮（二錢）　甘草（一錢）</p>
<p>按：上方主治，凡屬肺熱咳嗽，皆當加減用之。嗽加桔梗、百合，痰加貝母，如面赤咳嗽屬心火刑金者，加人參、茯苓、青皮、陳皮、五味、麥冬、知母，為人參平肺散，以瀉金中之賊邪。如咳嗽而鼻塞身重者，風寒傷肺也，參蘇飲或金沸草散以散之。</p>
<p>凡舌見白色而浮胖嬌嫩者，肺與大腸精氣虛也，補肺湯主之。</p>
<h4>補肺湯方</h4>
<p>人參（一錢）　黃　（一錢炙）　五味（一錢）　熟地（二錢）</p>
<p>紫菀（一錢）　桑皮（一錢蜜炙）　水煎入蜜少許和服。</p>
<p>按：上方主治肺金氣虛，不能生水，以致水不制火，虛陽上炎而生咳嗽等症。</p>
<p>凡舌見白色而干燥，屬大腸血虛火盛者，潤腸滋水飲加生地、當歸主之。</p>
<h4>潤腸滋水飲加生地當歸方</h4>
<p>熟地（四錢或八錢）　山藥（二錢）　萸肉（二錢）　枸杞（四錢）</p>
<p>歸身（三錢）　生地（三錢）　蓯蓉（三錢酒洗）　甘草（一錢）</p>
<p>按：上方主治大腸無血、大便燥結，其應甚捷。</p>
<p>凡舌見白色而干燥，屬肺臟火旺者，生金滋水飲加柴胡、黃芩主之。</p>
<h4>生金滋水飲加柴芩方</h4>
<p>熟地（四錢）　白芍（二錢）　當歸（二錢）　丹皮（錢半）　麥冬（錢半糯米拌炒）　人參（一錢半）　白朮（二錢半土炒）　甘草（一錢炙）　柴胡（一錢）　黃芩（一錢）</p>
<p>按：上原方主治，凡傷寒熱退後，有難補之陰，有易動之陽，皆當養之。此以其見症，或汗後煩燥未除，口乾微熱，大便艱澀，小水短赤即是。又有一種少陽陽明症，手足腫痛，系火燥生風，風淫末疾，不必俟其汗後，當即以本方加柴、芩與之，無不效也。</p>
<p>凡舌見白色而滑潤，屬大腸陽虛氣湯者，補中益氣湯送固腸散主之，補中益氣湯見前。</p>
<h4>固腸散方</h4>
<p>陳米（二兩炒熟）　木香（一錢）　肉果（二錢生用）　粟殼（二錢密炙）　乾薑（二錢半炒）　炙草（一錢半）</p>
<p>按：上方主治脾胃虛弱，內寒注泄，水穀不分，下痢膿血，赤少白多，脹滿腹痛連心，食少力乏等症。</p>
<p>炒磨為末，每服二三錢，煎補中送下，切忌酒肉魚腥油面生冷。</p>
<p>凡舌見白色而滑潤，屬肺陽虛氣弱者，補中益氣合參附湯主之。</p>
<h4>補中益氣合參附湯方</h4>
<p>升麻（五分）　柴胡（五分酒炒）　人參（錢半）　黃　（三錢炙）　白朮（二錢半土炒）　歸身（錢半）　陳皮（一錢）　甘草（一錢炙）　附子（錢半制）　煨薑（一錢）　大棗（三枚）</p>
<p>按：上方主治肺脾氣虛下陷而土冷金寒者，其原治見前本方。</p>
<p>凡舌見白色干燥，而形色反見胖嫩者，肺與大腸氣血兩虛也，十全大補湯去肉桂、加炮薑主之。</p>
<h4>十全大補湯去肉桂加炮薑方</h4>
<p>川芎（一錢）　歸身（二錢）　白芍（三錢酒炒）　熟地（四錢）</p>
<p>人參（錢半）　黃　（三錢炙）　白朮（二錢半土炒）　茯苓（錢半）　炮薑（一錢）　炙草（錢半）　大棗（三枚）</p>
<p>按：上方主治，已見前參　八珍湯條下。凡舌見白色滑潤，而形色又兼胖嫩者，肺與大腸精氣虛寒也，參附養榮湯去茯苓、加炮薑主之。</p>
<h4>參附養榮湯去茯苓加炮薑方</h4>
<p>白芍（錢半酒炒）　遠志（五分去心）　歸身（一錢酒洗）　五味（八分）　熟地（二錢）　肉桂（五分）　陳皮（八分）　人參（一錢）　白朮（一錢）　炙草（一錢）　炮薑（一錢）　大棗（三枚）</p>
<p>按：上方主治，並詳各臟腑病所列本方下。</p>
<p>凡舌見黑色而堅斂蒼老者，腎與膀胱邪氣盛也，清肝飲主之。</p>
<h4>清肝飲方</h4>
<p>熟地（八錢）　山藥（二錢）　萸肉（二錢）　丹皮（錢半）　茯苓（錢半）　澤瀉（錢半）　柴胡（一錢）　棗仁（一錢）　歸身（錢半）　白芍（錢半）　甘草（一錢）</p>
<p>按：上方主治，見前心與小腸病所列滋水清肝飲方下。</p>
<p>凡舌見黑色而浮胖嬌嫩者，腎與膀胱精氣虛也，補元煎主之。</p>
<h4>補元煎方</h4>
<p>熟地（六錢）　枸杞（四錢）　山藥（二錢）　萸肉（二錢）　杜仲（二錢）　人參（二錢）　甘草（二錢）</p>
<p>按：上方主治，男婦氣血俱虛，精神失守，危劇等症。虛甚倍加　、朮，寒者重加薑、附。</p>
<p>凡舌見黑色而干燥，屬膀胱陰虛火盛者，六味飲合滋腎丸主之。</p>
<h4>六味飲合滋腎丸方</h4>
<p>熟地（四錢）　山藥（二錢）　萸肉（二錢）　茯苓（錢半）　澤瀉（錢半）</p>
<p>丹皮（錢半）　黃柏（二錢）　知母（二錢）　肉桂（五分）</p>
<p>按：上方主治，凡小便不利，而莖中痛連小腹者，系火逼膀胱所致也。痛止便利，即止勿服。</p>
<p>凡舌見黑色而干燥，屬腎陰虛火旺者，六味飲合生脈散主之。</p>
<h4>六味飲合生脈散方</h4>
<p>熟地（四錢）　山藥（二錢）　萸肉（二錢）　丹皮（錢半）　茯苓（錢半）</p>
<p>澤瀉（錢半）　五味（錢半）　人參（錢半）　麥冬（錢半）</p>
<p>按：上原方主治，腎水不足，虛火上升，變為朝熱咳嗽，消渴虛勞，及水沸為痰等症。易曰：「雨以潤之」。</p>
<p>此方是也。</p>
<p>凡舌見黑色而滑潤，屬膀胱陰盛火衰者，金匱腎氣丸主之。</p>
<h4>金匱腎氣丸方</h4>
<p>牛膝（一兩）　車前子（一兩）　附子（五錢）　肉桂（一兩）　熟地（九兩酒拌）</p>
<p>山藥（一兩）　萸肉（一兩）　茯苓（三兩）　澤瀉（一兩）　丹皮（一兩）　煉蜜為丸按：本方主治脾腎虛寒，腰重腳腫，濕飲留積，小便不利（此則莖中痛而不連少腹者，乃寒逼膀胱而氣不能化也）；或肚腹腫脹，四肢浮腫，氣喘痰盛；或已成水症，其效如神。</p>
<p>凡舌見黑色而滑潤，屬右腎陽虛火虧者，八味地黃丸主之。</p>
<h4>八味地黃丸方</h4>
<p>附子（一兩）　肉桂（一兩）　熟地（八兩）　山藥（四兩）　萸肉（四兩）　丹皮（三兩）　茯苓（三兩）　澤瀉（三兩）</p>
<p>按：上方主治命門火衰，元陽虛憊，變為泄瀉，腹脹陽痿，精寒不育，兩膝　疼，腰軟無力，兩目昏花，不能遠視，悉以此方治之。易曰：「日以　之。」此方是也。</p>
<p>凡舌見黑色干燥，而形色反見胖嫩者，腎與膀胱陰陽俱虛也，枸杞養榮湯主之。繼用十補丸。</p>
<h4>枸杞養榮湯方</h4>
<p>枸杞（四錢）　遠志（一錢）　歸身（二錢）　五味（錢半）　白芍（三錢）</p>
<p>熟地（六錢）　人參（錢半）　白朮（三錢）　炙草（錢半）　茯苓（錢半）　肉桂（五分）　陳皮（錢半）</p>
<p>炙（三錢無參倍用）　煨薑（錢半）　大棗（五枚）</p>
<h4>十補丸方</h4>
<p>熟地（八兩）　山藥（四兩）　萸肉（四兩）　丹皮（三兩）　茯苓（三兩）　澤瀉（三兩）　附子（一兩制）　肉桂（一兩）　鹿茸（二兩無則鹿膠代之）　五味（一兩）　蜜丸按：上方主治，腎臟虛冷，面黑足寒，耳聾膝軟，小便不利等症。</p>
<p>凡舌見黑色滑潤，而形色又兼胖嫩者，腎與膀胱元氣大憊也，附子養榮湯主之。繼用右歸丸。</p>
<p>附子（錢半）　遠志（一錢）　白芍（三錢酒炒）　歸身（二錢）　五味（錢半）</p>
<p>熟地（六錢）　肉桂（五分）　茯苓（錢半）　人參（錢半或二三錢）　炙　（五錢無參倍用）　白朮（三錢）</p>
<p>陳皮（錢半）　炙草（錢半）　煨薑（二錢）　大棗（五枚）</p>
<p>上將熟地棗肉搗爛，其余炒磨為末，加蜜為丸，即予家所制萬應一粒丹者是也。凡中風傷寒，痘疹胎產，及血症喉痹等症，勢在危急，刻不可緩者，每用一粒，滾湯研化，不時灌服，其勢自定。繼予兩粒三粒，其病自退。如調治久病，則作細丸，每服五錢，早晚兩時，空心米飲送下。</p>
<p>按：上方主治勞役過度，飢飽失時，思慮太甚，郁結尤多，以致脾肺氣虛，榮血不足，畏寒發熱，食少無味，四肢無力，懶動怠惰，嗜臥身倦，飢瘦色枯，氣短驚悸，怔忡健忘少寐；或中風卒倒，張口直視，手撒遺尿，或傷寒重劇，譫妄昏沉，撮空見鬼；或身振脈搖；或筋惕肉潤；或吐血、衄血、便血不止；或自汗、盜汗、頭汗不收；或嘔吐泄瀉；或水腫腹脹；或眩暈呃逆；或痰涌喘急；或筋骨疼痛；或手足痿痹；或心腹腰背肋脅諸痛難當；或九竅不利；或瘧痢疾疾，諸藥不效；或脫肛痔漏，積久不痊；或夜熱咳嗽；或夢遺白濁；或婦女經閉、血淋崩中帶下，胎前產後；或幼稚急驚慢脾，疳積吐瀉，麻疹痘瘡；或發背癰疽，不能起發收功；或瘰　流注，不能消散潰斂，種種雜症。不拘新久，但看其面色　白痿黃，病勢日輕夜重，而其舌胖嫩滑潤者，勿論其脈症，投以此方，無不立應。更有其舌由白而黃，由黃而黑，甚至焦干燥裂，而其舌頭浮大而胖壯者，屬寒涼太過，五臟虛冷也，亦必此方救之。余家救活各科危症，夙號專門，三吳遠近，兩浙東西，活人無算，而起死回生之力，此方十居六七。蓋其用之廣而效之神，誠有不能殫述者，姑陳其略，以為重生者告。</p>
<h4>右歸丸方</h4>
<p>附子（一兩）　肉桂（一兩）　熟地（八兩）　枸杞（四兩）　山藥（四兩）　萸肉（四兩）　杜仲（三兩）　歸身（三兩）　菟絲（三兩）　鹿膠（三兩）　蜜丸按：上方主治，凡命門空虛等症，八味丸治之，不愈者，此方神效。見症已詳八味丸下。</p>
<h3>驗舌配方結語</h3>
<p>方自仲景到今，凡充棟矣。而予所經驗者采而輯之，不過三十有奇，不且嫌其太簡乎？不知予於醫也，半世功夫，搜盡群書主腦，一生閱歷，參遍各症根苗。就標求本，據本配方，所配止此，則其所輯亦惟此耳。然經絡臟腑，無病不統於其中；通塞正從，無法不備於其內。則是方雖簡，而未始不該也。第天下之理，則由一而分為萬，吾輩之學，須窮流以溯其源。臨症者，倘因有此而舉目則陰陽虛實，了若日星；動手則補瀉寒暄，應如桴鼓。遂相率而趨於簡易之途，而不復於賾處著力，繁處營心，則辟後學一直捷之徑，適貽後學以疏陋之譏，亦非是編所以公世之心也。</p>
