<header><h1>經驗麻科</h1></header>
<dl class="元資料" data-type="book" hidden></dl>
<h2>子總論（第一）</h2>
<p>夫　之初發，咳嗽噴嚏，鼻流清涕，眼胞微腫微赤，淚欲汪汪，腮赤面腫，皆是出　之兆，一冒風寒食積，論其大概，不必一一如是。重則遍身膨脹，眼赤封閉，或壯熱無汗，氣粗氣喘，嘔吐，驚搐，鼻煤，咳嗽聲啞，至五六七日不見點者，急用表散以升發之，用麻黃湯主之。若　出稠密如云，片疙紫紅干燥，其毒甚重，表時宜表，回時速當清火解毒為要，此時宜用清龍湯或雙解湯使之。大便燥實者加生軍五六錢，回時尤宜重用。胃火盛於回後，用生石膏兩余。若不出足而回者，須用麻黃、石膏解之。肺火盛於回後，片芩宜之。回後小便不利，山梔瀉之。心火刑克肺金，黃連清之。表若未透，宜慎之戒之。疹出黑暗者，不起不透也。焦枯慘暗者，血滯也。糊塗者，凶也。手指先見者，犯本位也。頭面身上全無者，閉症也。或感風寒而不出者，須用麻黃重表也。頭面不出而體多者，疹後生死難料也，急宜荷鼻、筍尖、升、羌、芎也。手足尖頭不到者，　後變症無窮也，藥宜桂枝鞭芽而起之。一熱即出，一出即沒者重，只要出足，回速何妨。不進飲食者重，胃火所致也。鼻掀口張，目無神氣者，死。鼻乃肺竅，掀則肺絕，口乃脾竅，張則脾絕，皆難治也。氣喘胸前吸者死，天君不寧者，安得不死？發不出者，閉症也。及腹脹、氣喘、煩躁者，毒火不出，反攻於內也。昏睡者，死。脾困者，面黑色滯者，血死也。目無光彩者，熱則冷之，寒則溫之，莫良於眸子也。痰喘音啞者，肺竅塞也。指甲黑色者，血死也。鼻煤項軟者，肺火盛也。四支冰冷者，脾土傾也。睡臥不寧者，內毒伏也。眼紅眼障者，肝火甚也。鼻燥者，肺火甚也。唇硬舌紅者，胃火攻心也。口焦者，脾火甚也。或痰或喘者，火壅危也。　若桃紅色者，輕正色也。白色而煩者重，血不足也。紫色而成堆者重，血滯也。點粒者輕，毒散也。一片者重，從上出下者輕，從下出上者重。四肢先見者不治，此乃脾經陰不轉陽也。鼻青糞黑，咳嗽連聲，面青聲啞者不治，回時雖云可治，然亦難也。白色有二症：飲食如常者，不犯胃氣也；精神如舊者，不困肺經也。色潤體安不大熱者，汗透也。無舌胎者，心火輕也。大小便如常者，此謂順症也，不必強治，反是則重，為其氣弱也，表降宜慎之。未出之時，鼻紅出者，佳兆也，汗流如淋則美，嘔吐亦佳。喜三者何也？《經》云：衄能散毒，汗能松火，吐能解熱毒。從衄消熱，以汗透火，以吐松肺。火盛者，則衄血流而不必止，誤止者則毒奔於內也。如此者非惡症也。故汗吐下三者美也，可不藥而自愈矣。凡治　之法，三日宜升，四日宜降，倘誤降者則不治也。此治順症之常規，未言乎變症。然看手足指尖有紅點者方為出完，倘不透明而不見者，仍用表方中加桂枝鞭芽以發之，切不宜降，慎之慎之。若表而不齊，必須　後停藥，以待變之來。《經》云：變症難逆於將來，何能預料？所謂不藥為中醫之說也。婦人胎前出　三日之前，用升麻以提之，恐其墮胎也。回後則用黃芩以安胎，速降以消火，又能解毒。如產後加凌霄花、丹參可也，而人參切不可用，用則殺人。用補亦然，富貴之家常犯此病，不可不慎。書云：不可用人參，叮嚀如此其切。參歌有云：肺熱還傷肺，為人參能助氣與火也，為肺熱者言之，肺火既清，何忌之！有又熱補之藥斷不可用，如疹後日久虛喘坐立不安，可用生甘熟地，若一月之外，便宜重用。太陰主肺，陽明大腸，肺與大腸相表裡，毒從大腸出者為貴。《經》云：毒因利減，此之謂也。回後不可久瀉，久則肺經移熱於大腸，宜涼腸。　出形雲片如錦紋者為斑，其色紅赤者胃火熱甚而失下也，此沖入足少陽膽經，助相火而成斑矣，必須重用石膏，以清胃與肝膽可以成功而消斑。隱隱紅點為疹，胃火沖入手足少陰心腎經，則助君火而成疹，黃連能奏效如神。若斑重而疹輕者，初起時最忌寒涼熱辣酸冷之味，並忌冒感風寒，急宜麻黃、蒼耳二味以托肌膚之閉密。毒瓦斯阻遏而內攻不出者，初起之藥斟酌用之，但麥冬、生地為其補肺斂皮恐不能發越，又參、、薑、附子、丁、朮、桂燥悍酸熱之味為其助火傷肺，補氣發喘。但痘與疹用藥不同，疹出之時瀉利不止者，吉也，蓋瀉毒不瀉元氣也。回時自利不止者，又吉也，毒以利減。若利久而至八九日者方謂過多，恐肺火移熱於大腸，必須先下順利之水，則自止矣。利水者何也？《經》云：小水愈長而大便愈結也。驟用補澀如桂、附、朮、木、訶、蔻、參、　等藥補澀之劑，必須胸腹脹滿，重滯而死矣。《經》云利不可止，瘧不可截，其斯之謂歟！疹子未出與正出之時，不進飲食者，謂此毒瓦斯內蘊，實未解也。</p>
<p>出則宜表回，後重用石膏以開其胃，又加竹茹最妙。</p>
<h2>藥性（第二）</h2>
<p>麻疹未出，升發為先。防風、荊芥散腠理之留邪；升麻、干葛開營衛之蘊熱。麻黃發斑毒之出現，淹延熱盛，發不出而無汗者，不拘冬夏可用桂枝，令血氣之橫流。四肢不出者，便宜加入薄荷、竹葉，解膚熱之汪洋。蘇葉、蔥頭疏肌表之拂鬱。既知君臣還有佐使，青皮拔毒止痛，陳皮理氣化痰。咳嗽咽痛，肺燥貴乎滋潤，桔梗、大力最宜。嘔吐不食，痰氣滯於胸隔，散涎毒出，前胡、復花為良。色不紅潤，川芎、紅花行血而開滯。色若紫黑，急宜火燒人糞路朝東，必然黑色而轉紅。大便秘結，用大黃、枳殼。小便不利須用木通。出不快者，宜大力、蟬衣，能透肌解表，此乃未出與見點之前，用之一法也。</p>
<p>若既出足之後，解毒清火為良。裡熱毒重，藥宜降之，柴胡、黃芩入肺加蘇子以定喘；玄參、石膏治邪火之浮游；生梔、連翹開惡毒之郁結。栝蔞潤肺止渴，滑腸化痰而解毒，合用麥冬解煩渴而清肺金；生知母降火生津；黃柏解毒蒸用；犀角解心胃之熱；羚羊泄肝肺之炎；牛膝去下部之邪；力子解陽明之毒；柴胡去厥陰之邪；黃連瀉心火；大黃號名將軍；生甘和中得國老之稱；蒸山楂通氣血而去腹中之宿垢；止咳嗽，解涎痰，石膏、貝母爭先；利咽喉者桔梗、大力、射干、豆根、玄參最宜；荊芥去皮膚之熱；薄荷、鉤藤解驚悸之宗。痰藥尤要，蘇子、杏仁、天麻、竹瀝、消痰而下氣，陳皮、枳殼，利氣以開痰；鉤藤、桑皮、定喘；花粉、干葛止渴。若風熱痰壅，膽星九制；痰毒便閉，栝蔞仁莫去殼油，消腫定喘解毒最妙，化痰定嗽，順氣為良。</p>
<h2>升藥加減（第三）</h2>
<p>石菖蒲、木通能制譫語，小草、蓮心清心而定驚，食積以神麯、麥芽、枳實而消，河柳加於回後面赤之時，荷鼻加於太陽不起之候，四肢不到桂枝鞭芽何疑，額上不起川芎、羌活、升麻、桔梗、筍尖宜早加，目直視者天麻、膽星、石菖蒲。若是傷暑，青蒿、香薷進；大力、蟬衣、鉤藤、薄荷加干不起，鬱火相扇用連翹，痰結在於皮裡膜外，昏迷發熱不出者，竹瀝佐以蔥白，一發而出矣。</p>
<h2>降藥加減（第四）</h2>
<p>胃火盛者，則用石膏三兩，不嫌其過。多汗不出，發不透者，用麻黃一二錢，不謂其太熱。四肢不到，或桂枝五六錢，不愁其已甚。肺火毒重，則用黃芩八九錢，不見其多。大腸閉結栝蔞仁三兩，尤謂其少，不瀉，又加大黃五六錢。喘嗽仍用鉤丁，汗多須用知母，喉痛射干、山豆根、大力、枯草、玄參、荊芥、桔梗與甘草，八味之中最宜深。痰症天麻共膽星，更加竹瀝貝母吞。吐膿吐血，芩連山梔用，腹痛枳實效如神，骨蒸地骨又柴胡，骨節酸痛石菖蒲。鉤丁、知母、貝母、石蒲、榧子、通草與栝蔞，能開聲之啞。槐花、黃芩、枳殼、川連、山梔，能治膿血之瀉。又加石膏而重用，回後發不透，而喘者仍用大力、蟬衣、鉤丁、葶藶、桑皮、兜鈴數味，甚則青龍湯，百發百中。尤宜慎之。</p>
<h2>升藥良方（第五）</h2>
<p>如額角兩太陽多見者，本方去升麻，而頭面多者為佳，荷鼻、筍尖要多加，身上起而四肢不到者，桂枝鞭芽無差。</p>
<p>壯熱腮紅升葛用，前桔陳皮復花紅，川芎枳殼並木通，荷鼻筍尖額上同。</p>
<p>面青神慢，蔥蘇飲發之：面青神慢蔥蘇紅，復花陳桔前川芎，發疹最妙萊菔子，和解散用去防風。</p>
<p>和解散：和解升葛桔荊防，覆刀蟬衣薄荷郎，氣悶煩躁難二便，枳殼木通功效彰。</p>
<p>淹滯不出，毛孔閉密，皮膚干燥，身熱噴嚏，毒瓦斯郁內，急用升麻散發之。</p>
<p>升麻散：升麻干葛復花芎，大力薄荷紅木通，蟬衣桔梗煨天麻，前陳鉤藤疹有蹤。</p>
<h2>降藥良方（第六）</h2>
<p>小兒出疹，見風罩沒，未得清爽者，和解發之，即消毒飲。疹出已足，宜清金散風熱，瀉心火，使金不受火克，否則肺之母受寒邪所閉，必至痰喘聲嗽，身熱喉痛，不進飲食，後生瘡疥，漸成疳瘵。下流傳入大腸為泄瀉自痢等症，良以心火未散，或咳血、吐血、衄血，或傷眼目。下流傳入小腸，小便赤澀為血痢等症，以上諸症俱用降之。</p>
<p>潤肺消毒飲：潤肺消毒用紫芩，枳殼花粉栝蔞仁，桑杏陳蘇並山梔，石膏萊菔下氣清，喘加麻黃淡竹瀝，便閉大黃真河柳。</p>
<p>此湯即清金降火湯。若疹出已到指尖及天庭可用此方不必更換。若不到者，不作出齊論，但人多安靜如常，且緩服之。統論看症用藥加減：以石膏、萊菔下氣定喘；麻黃重用以開肺竅；生熟大黃以通閉結；竹茹開胃郁；枇杷葉蜜炙以止嗽；綠豆、芝麻解毒潤腸；加竹瀝消痰潤燥以降火；西河柳使疹毒出於外，兼治疹後痢；地栗能治噎膈，開胃消食，除胸中之實熱；白芥子豁痰、理氣、發汗；水蘆根降火除嘔噦；白茅根治血妄行，止呃逆，兼治肺熱喘急，止淋瀝；木通能利小便，引火下降，加刀豆止呃下氣，蔥白發汗而解肌。</p>
<h2>自擬表降備用方（第七）</h2>
<p>備用表藥升羌防，復花蟬衣大力當，川芎桔梗荊芥穗，前胡葛根鉤藤方。</p>
<h2>半表半降良方（第八）</h2>
<p>半表半降紫力芩，蘇子鉤藤山梔仁，石膏甘草與木通，桑杏便閉大黃均。</p>
<p>消痰化毒湯：消痰化毒覆蟬衣，薄荷鉤藤白桑皮，紫杏甘桔大力子，石蒲全梢僵蠶宜。</p>
<p>此湯回後，人倦氣粗，痰嗽聲啞，感冒風寒，以此服之能解毒化痰，開音發散。</p>
<h2>誤降再表方（第九）</h2>
<p>誤降之說，謂其麻未出透，降之太早，見他氣急便實，無汗昏睡，目赤眼開便可服之。如誤服酸澀熱補之劑，不可救藥矣。</p>
<p>誤降重表有鉤藤，大力蟬衣復花同，薄荷蘇子甜桔梗，大青龍湯合劑攻。</p>
<p>解毒湯：自古黃連名解毒，黃柏黃芩共合成。</p>
<h2>後（第十）</h2>
<p>鼻紅弄舌，牙有鮮血者，須用石膏、梔子、筍根，能清脾胃之熱，再加茅根煎汁。如便血、吐血不止者，解毒湯中加犀角、鮮地黃。煩渴作瀉者，豬苓東加黃連、花粉、石膏。乾嘔者，解毒湯。嘔不止者，陳皮、竹茹、石膏。下痢不止者，黃連、豬苓、澤瀉、滑石、甘草。或滯後重，黃芩、枳殼、木通、桔梗、升麻、叭杏、六一散與栝蔞仁。疹後氣急咳嗽，連聲不絕者，加栝蔞仁、蘇子、桑皮、枳殼、桔梗、麥冬，最用葶藶、冬花極妙，如若喘重者，麥冬清肺飲為宜。</p>
<p>清肺飲：清肺飲中又二冬，甘桔石膏杏仁同，二母要求大力子，兜鈴加上肺氣通。</p>
<p>後壯熱不退，發為搐搦，煩躁不寧，此心脾不寧也，宜四物東加山梔、麥冬、甘草、木通，或下安神丸。</p>
<p>疹後虛煩不得眠，竹葉石膏東加陳皮、麥冬。</p>
<p>疹後毒瓦斯攻內，循衣摸床，譫語神昏，喪珠者死。</p>
<p>疹後瀉久不止，而變驚風者死。</p>
<p>疹後咳嗽連聲不絕，而口啞者死。</p>
<p>疹見發不透而頸項腫硬者死。</p>
<p>疹見牙疳腫爛，唇齒肉落者死。</p>
<p>疹沒後下痢不食，兼赤白口噤者死。</p>
<p>疹回後壯熱，晝夜不退，身瘦弱者死。此因初起失表，毒火不能盡出，急宜表藥與解毒治之。</p>
<p>疹出四五日不收者，內有熱毒，清利治之，則熱自解，疹已消回後，禁忌風寒濕水，否則必致咳嗽不休。</p>
<p>四十九日內余毒未除，肺虛咳嗽，下汗如雨，頭汗如蒸，全身浮腫，宜用此方：麥冬、冬花、知母、橘紅、百合、百部、阿膠（面粉炒）、沙參、貝母、鉤藤、枇杷葉、榧子、兜鈴、栝蔞仁。</p>
<p>疹若回後，如見發熱，每渴用綠豆、芝麻炒米和煎茶飲，切不可飲寒水，更宜生津解熱而止渴，或用白虎湯代之亦可。</p>
<p>疹後二十日之後，其毒不解，邪火拂鬱，渾身發熱，晝夜不退，發枯肌燥，漸成疳瘵，宜清熱除疳丸主之。</p>
<p>清熱除疳丸：清熱除疳又黃連，歸芎膽草陳干蟾，發枯膚癢成疳瘵，加上君子治五疳，再加筍薈共為末，神麯糊丸米湯下。</p>
<p>如渾身壯熱未至瘦弱，但每煩躁搐搦不寧，此熱在於心肝二經，以當歸養血湯、黃連安神，間而服之。</p>
<p>當歸養血湯：後壯熱每煩躁，定知心脾有火熬，四物湯中除芍藥，安神養血須醫早，枇杷麥冬梔子入，燈竹木通甘草高，假如氣結連聲嗽，桔梗蔞仁不可少，天門麥冬入口消，知母枳殼天花炒，若似氣急聳肩嗽，血退場門鼻面色焦，若非瀉肺終難治，二冬二母與甘草，桔梗杏仁與葶藶，兜鈴糯米帶甘草。</p>
<p>疹後咳嗽氣喘，連聲不住，此乃毒瓦斯流於肺，肺葉焦而動也。如胸前凸起，龜背直從而喘急，血出鼻掀，握手擺頭，面青色或白枯者，皆不治之症，如胸前不動用麥冬清肺飲治之。</p>
<p>疹後牙疳紅腫者，宜服清胃飲。</p>
<p>升麻（二錢）　川連（一錢）　丹皮（二錢）　生地（二錢）　胃爛加生知母（二錢）　生石膏（三兩）　清胃飲合加荊芥（一錢）　大力（二錢）　玄參（二錢）　生甘草（一錢）　桔梗（二錢），疹回後雜症，或前或後，稍為加減酌用。</p>
<h2>小便赤澀（十一）</h2>
<p>心火移熱於小腸，小腸入於膀胱，膀胱熱熾於小便，則小便赤澀，血隨之。又肺受火邪之克，以致毒瓦斯無從而泄，蓋因失降下之故也。或生煩躁不寧者有之，不必專於利水，宜清金降火氣為要，用導赤散加生山梔、川連、升麻等藥治之，火氣既出，小便自然清利矣。</p>
<p>導赤散方：木通　麥冬　車前　生地　生甘草（一錢）　赤苓　生梔　生黃苓滑石　澤瀉　川柏　知母　加燈芯煎（以上各二錢）</p>
<p>蓋溺血總系烈毒內攻也，況出自小腸乎，故五淋病惟濁血尤重，非下極清涼之藥，難以緩其流，澄其源也。</p>
<p>淋症從溺竅來，濁症從精孔來，貝母六一散能分水道。</p>
<p>尿血即血淋也，溺血者，心與小腸實熱也，可加貝母、前胡、石葦、牛膝各二錢。</p>
<h2>大便秘結（十二）</h2>
<p>血氣下行，大便自無阻滯，苟熱氣燥結於下，毒火流住於大腸，以致津液干枯不得潤滑，故大便有秘結之症。苟不攻其胃則胃實，胃實則生譫語，腹脹目赤者有之。《經》云：毒瓦斯歸胃，胃氣閉塞，喘急煩躁不免矣。急用大黃、栝蔞仁、枳殼潤下以去毒，外導亦可，加升麻提之更好，蓋清氣提上，而濁氣自下也。</p>
<h2>泄瀉（十三）</h2>
<p>發熱與見點並回後五六日之間作瀉者，是瀉火毒不瀉元氣也，切勿止之，《經》云：毒以瀉松，痛以利減，回後瀉至八九日外當用四苓散加升麻、槐花、桔梗、柴胡、梔子、黃連、車前、六一散、杏仁、條芩、豆根、栝蔞仁，切勿用白朮、木香健脾等藥。瀉出之物如雞卵臭者，傷食也。宜用山楂、麥芽、檳榔、川朴等味以消食積。</p>
<p>《經》云：泄瀉者，邪入於大腸，原進原出者，邪熱不化穀也。蓋因火性沸騰，不暇分消，故其出也。</p>
<p>泄瀉大作，一切寒涼清解之藥在所禁忌，然非所以概治熱毒下痢之　症也。熱毒太甚，其毒不能盡行肌表；勢必至於壅滑凝滯，所幸內實不受邪，侵注於大腸，大腸為傳送之官，不至毒害迫於其中，頻頻下痢，雖與泄瀉相似，而實不同。此之瀉者滑而不禁，彼則堅而閉塞，此之瀉者溏而不實，彼則凝結如膠漆。有純下清水，或穢氣不甚，或便塞難出，或腹痛煩躁不寧，重用芩連以清其火，稍加大黃以攻毒而痢自止矣。若以泄瀉治之，則左矣。《經》云：熱毒沖腸便自頻，喜腸傳送毒難侵。頻頻欲解仍難塞，誤認脾虛終內攻，久瀉者飲食內停中氣阻，轉運失職脾困苦，縱然順症亦淹遲，內傷消積止瀉吐，熱退便塞須加升麻，一提而大小便自順矣。</p>
<h2>嘔吐咳逆（十四）</h2>
<p>嘔吐者，胃火也。胃火上衝，嘔吐而食不下咽。咳逆者，肺火也。肺火上衝而咳逆不止也。《經》云：嘔吐者，邪甚於上。順其氣，清其火，則自止矣，切勿用薑汁，有痰在膈，在經絡非吐不可，吐中亦有發散之義，《經》所謂：因其高者因而越之也。</p>
<p>嘔吐不止者，用葛根煎汁服之，不能下氣消痰。嘔噦不止者，用枇杷葉煎服之，能止痰嗽咳逆。</p>
<h2>三消症（十五）</h2>
<p>渴而每飲為上消，肺熱也，心火移熱於肺。多食善飢為中消，胃熱也。渴而小便數，且有膏為下消，腎熱而水虧也。</p>
<h2>不食（十六）</h2>
<p>人以胃氣為主，不食則胃氣必傷，此為實熱壅塞而然也。回後重用石膏以清胃火，大便秘結須加大黃，不憂寒涼太過，不憂蕩滌傷胃，《經》云：百凡欲食最為先。《經》云：安穀則昌，絕穀則亡。不食應知各有緣，有熱邪犯胃而不食也，亦有胃虛火閉不食者，此則火閉無疑非胃虛也。胃虛不食身安靜，胃熱人煩體自炎外。又有飲食過多，或痰凝氣滯，與夫寒邪閉塞胃熱者，皆令不食，須知其食過多，致脾不消穀而成痞脹者有之。</p>
<h2>驚搐（十七）</h2>
<p>熱毒犯心，心為君主，忽被風邪束縛，不得汗泄，大小腸郁結不得內行，是以心火亢極，金受火克，不得平木，木動風生以侵脾土，故吐食更兼搭眼，面青又見頭搖，氣亂神昏，遂生驚搐之症。《經》云：木邪盛而傷土，宜發散兼利小便，使其內外之毒，分消而驚搐自定，發散用消毒飲加防風、川羌、煨天麻、木通、小草、甘草、鉤丁、陳皮、青皮。回後加大黃、麥冬、柴胡、山梔，或用清解散。防風、荊芥、蟬衣、桔梗、前胡、川芎、升麻、黃芩、木通、大力、連翹。治法當平肝木，利小便為要。瀉肝則風去，利小便則心熱清。此因心火火熾盛，肺金受克不能制肝木，以致火風相搏，神不得安，邪火退，正火旺，則心肝寧而驚搐定矣。發搐惟利關節，毋為驚治，須清煩熱安神治，宜疏風消食透毒為良。</p>
<h2>失血（十八）</h2>
<p>今夫血陰物也，有質而凝，寒則凝，熱則行，熱毒之氣內外不得分消，內閉結，外無汗，營家失所，奔竄妄行，傳注督脈，必從鼻軟關而出。《經》云：毒從衄散不必止之。若從口來犯胃，難治，急用犀角地黃湯。或溺血者，加山梔、車前、石葦、木通、升麻、槐花（各二錢），或大便下血者，加黃芩（四錢）、槐角（三錢）、黃柏（二錢）、升麻（二錢）。血屬陰本靜，因相火所逼，故越出上竅，耳鼻衄出者加山梔（二錢）、防風（二錢）、荊芥（八分）。若九竅出血者不治。若吐蛔，瀉蛔。</p>
<p>蛔者，嘈食蟲也。不食而出者，胃火實也。見食而出者，胃中虛寒也。氣虛不食而吐蛔者死，瀉蛔亦然。不食，蟲無存養之所，故出。蟲畏胃火，不安其身，亦出，宜重用石膏。</p>
<h2>誤降（十九）</h2>
<p>疹雖出齊，天庭不明，手足尖不至，而時師誤降者，或自回者，於降藥中加發散開提之藥，如大黃、鉤丁、薄荷、蟬衣之類。或用青龍湯不可遲延，生甘草、知母、薄荷、黃芩、栝蔞仁、膽草、大青、紅花、忍冬花、通草、穀精草、西瓜汁、升麻、砂仁、竹瀝、僵蠶、槐花。</p>
<h2>咽喉（二十）</h2>
<p>咽者，胃脘水穀之道路，主納而不出；喉者，肺經呼吸之往來，主出而不入。咽喉系一身之橐　，使毒火上炎，不得發越，鎖於咽喉，或燥或破，或嗆或噎，或痛或腫，甚至水入則吐，食入則嘔，音啞，言語不明，無論火毒重輕，即以甘桔東加大力、荊芥、玄參、復花、前胡、芍藥，消火毒，清咽喉為要。回後加豆根、麝干、麥冬、防風、石膏、苦參。《經》云：切要解炎並清喉痹。咽痛甚，毒火灼，只恐一朝封管，　鎖殺聲，啞卻徒勞。</p>
<h2>舌刺咽乾（二十一）</h2>
<p>舌胎生刺，咽乾如炙，傷寒難症見之，陽盛陰消之象，然扶陰益陽其危可解，痘疹若見，總以烈毒肆虐，非僅爆炙已也。甚則干焦日黑，總以咽喉壅毒，所以咽啞水嗆無言。若　，舌刺如煤者，不治欲解其危，非寒涼蕩滌不可，即使攻解須在回時早圖可也，用大黃、栝蔞仁、石膏、枳殼為主。音啞是肺熱，有肺痿，有風毒入肺，啞有火鬱，舌有痰迷。</p>
<h2>音啞（二十二）</h2>
<p>心者，聲音之主；丹田者，聲音之府；喉者，聲音之門也。被熱毒煎熬，熱甚生痰，津液膠錮，痰毒填實，肺竅有礙氣道，其毒不能盡行於肌表，故音啞。然熱毒既已不行，以致肺竅填實，雖有根有主，聲音亦不能發越也。且肺金以空而鳴，不空則不鳴，宜用力子（二錢）、桔梗（一錢）、花粉（二錢）、甘草（一錢）、菖蒲（八分）、黃芩（八錢）、麥冬（二錢）、知母（二錢）、鉤丁（二錢）、川貝（一錢）、天麻（二錢）、前胡（二錢）、芍藥（二錢），以清其火，順其痰，則肺開而聲音出矣。如久瀉後音啞汗出者，元氣脫也，不治痰，疹始中聲啞者，以人事安靜，飲食如常者佳。若起發之時，即音啞失聲音，切牙者，寒戰者，煩躁昏迷者，乾嘔水嗆鎖喉者，痰壅喘急者，泄瀉不止者，腹脹悶亂者，皆凶。未出聲變者，表郁病也。已出聲變者，膈熱病也。出後而聲不出者，表膈兼病也。又咳嗽出聲者，不在此例，此時亦用北沙參清肺，肺斂則聲開，惟疹回一月外，方可用訶子、阿膠、糯米。</p>
<h2>弄舌咂唇（二十三）</h2>
<p>（唇未腫則肺熱，燥則唇干，利濕熱唇爛，肺熱則唇生核，狐惑則唇濃上瘡或則唇下瘡，風則唇動　，虛則唇白無色，寒則唇青或噤。）</p>
<p>舌乃心之苗，心寧則舌安，心擾則舌亂。且肺之絡又連舌本，心肺有熱，其苗自不能寧，故搐弄不息，長出不收。脾乃倉廩之官，其華在唇，且胃脈環於唇口，咂唇者、硬腫者，乃是脾火也。若破荷葉浸軟貼之，或辰砂和蜜敷之，倘若唇肉已傷，不治。疹回後倘有此症，重用黃連、石膏、蓮心、梔、柏，以清心苗。</p>
<p>蓋舌乃心苗，口為脾竅，火降則熱自疏矣。</p>
<h2>發狂（二十四）</h2>
<p>發狂一症，雖不得見，然總因風寒外束，腠理閉密，大腸干燥，身熱無汗，毒火鬱結而不得發越故也。</p>
<p>初起用麻黃散加大黃，回後用石膏（四兩）、知母、黃連（各一錢）等味，治之可愈。</p>
<h2>煩躁不寧（又二十四）</h2>
<p>《經》云：煩躁者，毒瓦斯壅塞並表裡不寧也。如抓搔者，疹癢也。不安者，內熱也。呻吟者，疼也。</p>
<p>又煩者，氣血燥也。《經》云：內煩外躁，小便不通，小腸熱積也。　疹每有此症，或至晝夜不安。</p>
<h2>譫語不眠（二十五）</h2>
<p>譫語發狂，啼叫多時，治宜發汗兼通大小便，《經》云：心煩亂用涼膈散，快胸又疏表，透毒涼解清火以去其根。又云：腎燥故心躁，火屈於水而出也。《經》云：腎枯燥急食辛以潤之。又肺主煩，腎主燥，有痰，有火，有毒，有蟲，有癢，用黃芩、黃連、麥冬、知母、貝母、連翹、車前、羚羊、犀角、防風、膽草、干葛、冬花、茯苓、柴胡、山梔、槐花、石膏、栝蔞仁等味，又加玄參、生甘草、茯苓、山梔解清肺火，宜重或用大黃、六一散之類。</p>
<h2>咳嗽痰壅（二十六）</h2>
<p>咳嗽者痰涎壅盛，外感風寒，熱毒壅遏而不得發越，以致肺竅不通，始用和解散，回後痰多加川貝、膽星，或麥冬、清肺飲。咳嗽者乃邪氣上衝，痰滯不活之故，治嗽宜以治痰為先治，痰要以治氣為本，用枳殼、橘紅以利其氣而痰氣自除，痰飲自消。清肺金，解熱毒，而邪火自退矣。夫人身之津液所以資生精血也，火毒煎熬，而津液不得流通，變為痰涎，膠固於中，致使正氣被塞於胸膈，或喘或嗽或舌強不能言語，或喉中作聲乳汁難下，入口即嗽而吐出者，此毒瓦斯停滯於肺胃也，宜升發解毒，當以前胡、桔梗、復花、枳殼、橘紅，大力等藥，以運動其痰。如先有痰在頸項者，不必妄治，即用生大力移之亦可。</p>
<h2>呃逆（二十七）</h2>
<p>呃逆者，氣噎也。乃是胃枯槁而成，此下焦毒火鬱於胃中，不得發越之故，非是陰火上升，依胃而發也，治宜用石膏、茯苓、麥冬、橘紅、鮮斛、山梔、竹茹、九頭蘭、茉莉花、樹上干桃等藥。</p>
<h2>腰脅痛（二十八）</h2>
<p>毒伏於腎，腎傳於腰，腰乃一身之關節也。毒火煎熬，腎水枯槁，水火失濟，故腰疼也。初起用敗毒散（川羌、獨活、前胡、柴胡、川芎、桔梗、升麻、干葛、甘草、青皮），若外感風寒必兼頭痛，亦用此藥。兩脅疼痛尚有餘毒在中，陰陽之氣不能升降，故作脅疼治，宜柴胡、枳殼、桔梗、赤茯苓之類，使二便氣流通而疼自止矣。</p>
<h2>腹痛惡心（二十九）</h2>
<p>疹出不透，脾胃有毒，邪正交攻，臟氣相擊，火毒郁結，凝滯而作腹痛。腹痛者毒郁於陰，臍以上屬太陰，當臍屬少陰，小腹屬厥陰，治直升發解利。《經》云：痛以利減，毒以瀉松，加枳殼、枳實、大黃、栝蔞仁之味，胃口有熱有痰而作乾嘔者，是為惡心，大便秘結忽作腹痛者，燥糞欲出也，用外導法，如平日原有蛔痛之症，此為內熱蛔不安而作痛也，宜用大黃、枳殼、栝蔞仁等味微微利之，瀉出即安，切勿妄用使君子等酸藥也。</p>
<h2>腹脹（三十）</h2>
<p>毒瓦斯凝於胃，不能外越，而毒留於內，甚則氣喘發厥，治宜升發解利散邪，使毒瓦斯分消，則脹自愈。</p>
<p>《經》云：疼以利減，脹以自消。肺熱生脹而大便秘結，仍用枳殼、大黃、栝蔞仁。胃熱生脹，小便赤澀，可用木通、川連、黃芩、石膏。乳食停積，可用升發加消導，又加枳殼、杏仁、桑皮、陳皮之類，喘者加葶藶子。又方用田螺一個，將麝香、五味子、入於田螺內，覆臍中，布包，晝夜小水即利矣。</p>
<h2>喘息（三十一）</h2>
<p>毒火流於肺金，氣為火毒所郁也，治宜清金解毒，退火消痰，順氣為主，如鼻塞咳嗽，乃風入皮毛，可加麻黃、杏仁。泄瀉久而喘者，虛喘也。不泄瀉而喘者實喘也。實喘非傷食即便閉，宜陳皮、枳殼、蘇子、前胡。疹後發喘者，毒火繞肺也，宜用條芩、知母、大力子、石膏、桔梗、地骨、兜鈴、杏仁、桑皮、葶藶、川貝。喘後腹脹者，利小便而喘自止矣。氣喘痰盛者，當服三子養親湯，蘇子、芥子、萊菔子，微炒黃。注云氣有餘便是火，火升而痰亦升，氣高而喘亦高，故用蘇子降氣以解之，芥子開氣以理之，菔子利氣以下之，氣下則火清而痰喘自止矣。再加竹瀝、枇杷葉、綠豆更妙。</p>
<h2>預料疹後（三十二）</h2>
<p>起發時先看頭上，旋視手足透發如何。若手足尖出到，額上皆明，此毒瓦斯得泄，脾胃素強，不必慮也，勿藥有喜。若遍身雖起，而手足尖不到者，此毒郁於脾胃。蓋人之一身，脾胃為君主，然後灌溉於四肢。今脾胃津液不能行，其毒不泄，所以起發不到，此根本已撥，枝葉必萎之兆。天庭亦要緊之處，定要透發，若太陽太陰兩顴並鼻左右不起，不比金木不分之症可挽救也。</p>
<h2>手足疼痛（三十三）</h2>
<p>疹出之後，被風寒邪氣侵襲肩窩手臂，以致毒火凝滯不散，疼痛無時，不能搖動，回後必須發壅，降藥之中加羚羊角、青皮、桔梗、獨活、川芎，以治之可愈。</p>
<h2>口渴（三十四）</h2>
<p>渴者，胃中有熱，津液為熱所耗，故發渴而欲飲也。宜炒米、綠豆、芝麻煎茶與飲，切勿飲水，回後加石膏、知母、麥冬、冬花、花粉、干葛，以生津液而止渴。</p>
<p>津液流通於三焦，以制火也。火氣上炎，熏灼心脾，是以津液為之下陷，華池為之干涸，故發渴也，治宜清金。《經》云：烈火刑金，咽燥發渴，火清則華池自潤矣。咽喉干燥則渴，雖有虛實，均屬肺病，金生水而畏火不能輸降下之，令華池干涸而渴，從之喜熱惡冷，稍飲即止，宜生津液而渴自止。喜寒惡熱，百杯未足，宜制烈火而渴自解，是金被火爍，火焰如爐，五臟皆竭，而肺更何言哉！《經》又云：降火則渴止。</p>
<h2>寒熱（三十五）</h2>
<p>火動則熱，火鬱則寒。蓋毒欲發泄而不得散耳，將出而有氣血與火毒相攻也。出之而有者，毒盛則邪勝也，宜用柴胡、知母、石膏、地骨，便閉加大黃可也。</p>
<p>熱如炮烙者有之，頭溫足冷者有之，唇焦頰赤者有之，青慘黯滯者有之，周身發熱參半者有之，陰陽殊絕者有之。其所以然，毒火有隱現之分，非真有寒熱之界也。熱者有微熱，有半熱，有極熱之不同者，宜知之。</p>
<h2>厥冷（三十六）</h2>
<p>厥者，手足逆冷人事不知也。陽氣獨上，火隨痰涌氣塞不行而厥也。熱毒之氣鬱遏於內，元氣不得流通，以致外表無陽而厥冷也。宜發散之中加麻、桂、蔥頭，陰虛火旺則內熱生風，火氣焚灼，故身熱肢冷，痰隨火涌，故不知人事。又有血厥者，汗出過多，血少則陽氣獨上，氣塞不通之故耳。</p>
<h2>頭溫足冷（三十七）</h2>
<p>頭乃諸陽之會，毒瓦斯上蒸故溫，足之六經屬水土木，水寒則冰，土寒則拆，木寒則枯，足冷者，陽氣絕也。《經》云：足冷過膝者不治。但疹出郁於上而足冷者，宜清之於上，則火降而足溫。四肢脾胃主之，是以四肢先見者不治，疹後四肢冰冷亦不治也。</p>
<p>疹後頭汗如淋，毒慘陽位者則不治。若治，宜前開錄四十九日後之方治之，此因火性炎上，兼之滲泄無門，不容滂達，焰光上竄，汗之所以上涌若蒸也。四肢屬脾宜和暖之故，不宜熱，尤不宜冷，通身火熱而手足獨冷者，皆烈毒涌遏於脾陽，邪莫透，火鬱則寒之象，冷之極，正熱之極也。未出之時，則用麻桂以散之，而火自收矣。</p>
<h2>發癢（三十八）</h2>
<p>有血熱發者，有毒盛發者，有感風發者，此三者宜消毒散加防風、連翹、玄參、蟬衣、地骨、生地、黃芩、荊芥等藥。又曰癢者急疏風以開其牖，攻毒以達其滯則止矣。</p>
<p>又云：熱毒壅於皮膚，氣為郁遏，血被煎熬，氣非不足也，錮之則焰，血非自熱也，灼之則迫，游行皮肉，癢之所以作也，重加石膏、生地涼解，以殺其熱毒之勢，庶氣血不受邪虐，何患乎癢之有哉！若內症猖狂，大便秘結，用大黃、麻黃、枳殼，速宜蕩滌，不可臨渴而浚井也。又有俗法，升麻、蒼朮、桑皮、荊芥、防風、柳枝、槐枝，共水煎以布拭之，即止。</p>
<h2>便下膿血（三十九）</h2>
<p>疹後泄瀉而便膿血，此邪熱內陷，大忌止澀，最宜升發開提，雖云清氣不復，脾胃虛弱，不得輕用生　，但解其熱，涼其血，而諸症自愈。治疹之法與他症大不相同，宜清熱發散，涼腸為主。便下純血者風傷肝也，宜散風涼血。如豆汁者濕傷脾也，宜清熱滲濕為主，倘若鮮血者為腸風，隨感而見也，瘀血者為臟毒積久而發也，糞前為近血，出於腸胃。糞後為遠血，出於肺肝，用藥切忌酸澀之味，如疹後見之者，此移熱於大腸，藥宜降之，隨進槐角、川連、石膏、木通、六一散、山梔、黃芩、杏仁，久則地榆亦同功。《經》云：腎者胃之關也。腎主二便，久瀉腎虛，不可專責脾胃也。疹毒傳大腸，或瀉痢膿漿，此是臟傳腑，能知其因必得安康矣。</p>
<h2>症（四十）</h2>
<p>乃太過之症，比疹更重，夾毒上浮，從毛竅中出，形如蚊咬之狀而色紫赤，宜用石膏、生地、丹參、荷鼻、大力、黃連、川芎、羌活、山梔、防風、荊芥、連翹、甘草、大黃等味，便有神功。</p>
<h2>痘疹相連（四十一）</h2>
<p>痘若現形之後，有碎密如芥子者，疹也。皮肉鮮紅成塊者，斑也。此火毒薰灼於中，急宜解毒，使斑疹消散，痘得成功。《經》云：痘疹連呈甚是奇，夾斑夾疹總為非，斑消疹散先解毒，芩母石膏玄參宜。</p>
<p>又云：疹先痘後小兒哭，退疹方能痘自來，莫道寒涼憂冰伏，時師一見便痴呆。</p>
<p>又云：治疹不治痘，惟要開其腠，腠開毒自出，毒出為寧候。</p>
<p>又云：先退其麻疹，痘瘡自然發越，宜服生甘草、防風、黃芩、荊芥、黃柏、玄參、大力、石膏，再加升麻。</p>
<h2>表裡實熱（四十二）</h2>
<p>紅紫干滯、黑色焦枯者，表熱而實也。大便秘結，小便赤澀，身熱鼻干而燥，氣熱唇焦煩渴者，裡熱而實也。表熱宜清涼發散分利之，裡熱宜重解毒兼清涼發散為主。</p>
<h2>疹後症（四十三）</h2>
<p>後現點或疔多者，熱毒抑遏皮膚也。《經》云：急宜清毒始為美，連翹飲下莫磋砣。</p>
<p>又有疹後牙根出血，咽喉腫痛者，《經》云：甘桔湯中用荊芥、防風、玄參、大力，可扶傷牙根舌上。</p>
<p>若生瘡，連翹解毒桔玄當。</p>
<h2>發搐（即悸症四十四）</h2>
<p>發熱驚悸，心肝受病，心主火，肝主風木，風火相搏激而發搐，升解主之。又有咳嗽喘怯，肺肝受病。</p>
<p>肺主氣，肝主血，是為金木相並，氣血兩搏，亦要發搐，宜清肺飲主之。《經》云：治驚之法要平肝，利水之時勢自安。諸風掉眩皆屬肝木，心火熱盛，肺金受克，不能制水，肝木熱則生風，風火相搏，神氣不寧，故發驚搐，治法平肝木、利小便為要。筋抽脈惕動者狀似驚也，筋屬肝，毒在於肝不得尋竅而出，筋脈受沖激，以致抽動如驚，而實非驚也，或用蘇解散即清解散去芩、連，加羌、蘇。</p>
<h2>掏口（四十五）</h2>
<p>口為脾之外竅，脾熱盛故掏之。又火邪客於心肺，心火熾盛，金受火克亦掏口，宜雙解散主之，回後重用生石膏。</p>
<h2>煩哭（四十六）</h2>
<p>肝主怒，肺主聲，毒結於肺肝之中，故煩哭而不絕聲，瀉火即愈。</p>
<h2>乾嘔（四十七）</h2>
<p>肝肺有毒，而毒沖於胃，肺胃受毒在內，故發乾嘔也。</p>
<p>衝任之火，上犯清道，乾嘔無物者，此臟腑內傷。若飲食而嘔，此熱嘔也，宜用陳皮、黃芩、石膏、竹茹。飲食而硬塞嘔者，此咽中作痛閉塞而嘔也，加味大力子湯。甘草、射干、豆根、荊芥、防風、陳皮、連翹、苦參、大力、桔梗。</p>
<h2>切牙（四十八）</h2>
<p>心肝火旺，相戈而鳴，又有胃熱則切牙，肝熱則寒戰。肺熱而切牙者治宜清解散。切牙者，乃足陽明胃經主之，陽明主肌肉，其經走於上下齒齦，邪並陽明，故切牙且胃熱，非石膏不為功，黃芩次之。《經》云：毒火深藏腎與肝，升沉二臟擾何安，齒牙相戈聲何慘，透解潛藏自貼然。此痘疹兼論。</p>
<p>火毒在肝，肝則藏血而養筋。毒在腎，腎則主骨而生肝還以養血。猶唇齒之邦，兩受其虐而失其和，齒其妄劇而自斗矣，但虛者則聲松，實者聲緊，痘疹皆同。</p>
<h2>譫語（四十九）</h2>
<p>心經之症，邪毒蘊結於心，心主聲言，心神安則聲言自清。邪熱在內，心神不安，故譫語，宜升解散少加小草、石蒲、木通治之。狂言宜退火，癇聲宜安神。</p>
<h2>自汗（五十）</h2>
<p>自汗者腠理流通，蘊毒發越，《經》云：液汗通。皮潤。又云：毒從汗泄，不必止之。若汗出如淋者，火熾極也。火擾於內，而汗涌於外，是汗為火逼可知。宜用桂枝合清火主之。</p>
<p>回後有此汗者，是余毒無所容，以汗而解也。驗其人因汗而適快者是也，不宜再服收斂等藥。</p>
<p>論汗者，血之液也。腎液從毛竅出者為汗，是汗亦血也。原其本，在肺之通調四布而得潤乎一身，以滋養四體，猶曰白露下降，草木敷榮可知。藏則存而為液，疏則泄而為汗，涸則皮毛枯澀，郁則肢體浮腫，寒則凝，熱則沸，血一枯則汗亦因而枯也，必矣。</p>
<h2>切牙驚搐熱渴（五十一）</h2>
<p>疹屬陽明胃經，又移於各臟，移於心者則驚悸發熱，移於肝者則切牙發搐，治宜小柴胡湯、導赤散，加麥冬服之。</p>
<h2>手揉眉目鼻面（五十二）</h2>
<p>（鼻毛生鼻中，晝夜伸長一二寸，漸系如繩，痛不可忍，速用　砂乳香為散敷之，如神。）</p>
<p>疹出於脾，脾傳於肺，肺中火熾，以致眉目鼻面狀如蟲行而不能禁者，故手揉之，治宜甘桔湯、清肺飲，重用石膏、條芩、柴胡，此太陽陽明之脈形於面，非石膏、條芩不能成功。否則咳嗽喘急，氣促至危，鼻為肺竅，貴乎滋潤，鼻干黑燥，如煤之狀，肺火熾也，即火克金也。面者，陽明經之所聚也。貴乎鮮明透發，若面色焦黑，精華散矣。皮者，肺之合也。欲其色淡紅，苟如塗朱，並紫色，火之象也。火之所郁結也，或如橘色者，火極土燥也。</p>
<h2>咳嗽氣促喘急（五十三）</h2>
<p>疹屬脾胃，脾乃肺之母邪，傳於肺，主氣而氣喘促急，咳嗽，皆主於肺，以清肺飲主之。</p>
<h2>摳咬指甲（五十四）</h2>
<p>疹發於肝，指甲乃肝經外竅，肝經有毒，外竅形焉。此木克土，故小兒摳咬指甲，治宜小柴胡湯主之，或伐肝或扶肝俱可。</p>
<h2>癮症（五十五）</h2>
<p>疹出未收，復感風寒邪氣，風邪外襲皮毛而入肺，肺中毒瓦斯合而伏於兩脅背腦腰腿之間，形如鬼崇疙瘩，名為瘋癮，癢不可忍，宜荊芥防風敗毒散洗之可也。</p>
<h2>作吐（五十六）</h2>
<p>疹子既出，毒瓦斯不透，兼熱痰積於胸膈之間，痰在膈上，喘促氣逆，水乳飲下為酷為所膈，略嗽即吐，治宜利氣消痰，加竹茹、竹瀝、黃荊瀝，更好再加枇杷葉，若被胃火所沖，重加生石膏，火毒上衝，水火相激，兩不相下，任其吐逆往上，而我之藥進一步則吐，退一步頻頻與之，自然消受矣。</p>
<h2>疔（五十七）</h2>
<p>疹出余毒未盡，兼食辛辣毒物，致令藏於脾胃，脾胃主肌肉，其毒發於肌肉之間，變生疹疔矣。其症壯熱不除，煩渴欲飲，躁亂不寧，蓋熱毒使然也，治宜柴胡合化毒湯。</p>
<h2>疹後痢（五十八）</h2>
<p>出之後，食物不謹，風寒不避，致傷脾胃，遂傳於肺，肺與大腸為表裡，故成痢疾矣。又有餘毒未盡，余火未清，則毒移熱於大腸，而成痢矣，必須清金涼腸主之。行血則使膿愈，調氣則後重除。膀胱之氣不通則癃秘，大腸之氣凝滯則後重，其理一也。須加杏仁、升麻，兼消積治之。</p>
<h2>觸肺揚涕（五十九）</h2>
<p>諸香聞鼻觸了肺，難免頭疼鼻涕揚，急服苓、杏、薄荷、荊芥、桔梗，若無霜打茄同進，苦楚難當就災殃。</p>
<h2>發熱腹痛（六十）</h2>
<p>發熱腹中急痛時，毒擾於裡不須疑，大便不通宜攻下，莫待臨時懊悔遲。《經》云：毒留於腹中，腹痛腸如觸，徐徐入大腸，下血污穢濁，急服生軍、枳殼可愈。</p>
<h2>舌腫無聲（六十一）</h2>
<p>君火炎上熱若蒸，咽喉疼痛亦非輕，舌根腫脹難言語，甘桔玄參連倍增，再加犀梔並連心，立時煎服豈無聲。《經》云：腫消聲響可無驚，隨進二冬知玄參，薄荷連翹荊芥穗，條芩射干與豆根。</p>
<h2>狂躁（六十二）</h2>
<p>毒瓦斯壅盛於內為風邪所閉，不能驟發而驚搐狂躁，治宜蘇芥散加大黃、枳殼，大小便閉者最宜清利之。</p>
<h2>身熱不收點（六十三）</h2>
<p>發熱蒸蒸，　自虛收，如不收者，毒瓦斯未盡解也，退其熱，邪疹自消，宜用清表散毒湯去當歸、澤瀉、豬苓，宜加骨皮、黃芩、麥冬、花粉、大力、天冬、甘草、柴胡、車前、木通。</p>
<h2>夾斑丹（六十四）</h2>
<p>夾丹者，此皆毒火浮游散漫於皮膚之間也。宜投甘桔荊防黑玄參，牛蒡知柏與黃芩，木通苦參連翹入，連進數劑斑丹青。</p>
<p>《經》曰：皮肉鮮紅如雲片者，丹也；點粒如蚊咬者，斑也。皆由毒火熏灼於中，故斑丹與疹齊出於外也，宜用荊芥散毒湯或消斑湯主之。</p>
<h2>口舌生瘡（六十五）</h2>
<p>口為脾竅，舌乃心苗，引火下降，則熱自除，宜用清上飲。</p>
<p>薄荷、桔梗、甘草、黃芩、防風、大力、干葛、連翹、玄參、麥冬、花粉、川連、石膏。</p>
<p>口舌生瘡用有功，敷藥方中薄荷柏，黃連青黛月石同，冰片少許研為末。</p>
<h2>眼赤腫痛（六十六）</h2>
<p>眼者，五臟血氣之精華也。毒瓦斯鬱滯於肌膚者為癰為癤，而其留滯於精華者則發為眼患矣。其毒火發露在表，又在至高之地，宜用麥冬清肺飲或蟬化散治之。蟬衣、荊芥、防風、甘菊、川芎、黃芩、柴胡、車前、桔梗、山梔、升麻、木通、膽草，再加蒺藜、蕤仁、蒙花。</p>
<h2>兩目紅腫（六十七）</h2>
<p>兩目紅腫，羚羊、荊芥為先，次以菊花、連翹。《經》曰：毒內流於肺，精珠不得看，搜去肝風毒，眼目自安然。凡目病在表宜疏風兼清熱，或向外下淚難開名羞明，宜清熱兼疏風，加升麻、黃芩。論疹毒為害，咽喉先，眼次之，但觀兩眼紅脈虯纏，或閉或腫，多生眵淚，或上星障，急瀉肝火，以免傷目之患，蟬化散主之。</p>
<h2>月事（六十八）</h2>
<p>發熱之時，忽經水適來如期，此積污隨出，毒從此解，勿藥而愈。倘若不止，熱邪乘血海之虛，逼血妄行，回時宜服小柴胡湯合生地黃湯以清其熱。又有非其期而忽行，此毒火內蘊，擾亂血海妄行，亦宜涼血為主；或發熱之時，經水適斷，宜柴胡四物湯治之，以防毒邪乘虛而入。使已憎寒壯熱，神氣不清，言語錯亂，此為熱入血海。血海者，衝任是也。肝主之肝藏血，肝為血海，天癸至後，血已空虛，熱乘而入，四物合導赤散加麥冬，與安神散間而服之，加丹參、凌霄花可也。</p>
<h2>五臟受毒辨（六十九）</h2>
<p>毒歸於心者為斑疹、驚悸、癢痛、壯熱、咽喉干渴、盜汗、丹瘤，皆其候也。毒歸於肝者，則為悶亂、水泡、腰痛、目疾、卵腫、乾嘔、手足拘攣、吐蛔、寒戰、切牙者，皆其候也。毒歸於肺者，為咳嗽喘急、衄血、皮膚燥竭、肩臂痛，皆其候也。毒歸於脾者，則為吐瀉、腹痛、腫脹、唇烈口燥、手足病、不欲食，此之謂也。毒歸於腎者，為失音、手足逆冷、咽中干痛、耳　、飢不欲食而多　。毒歸於大腸、胃者，為瀉痢膿血、腸鳴失音、大便不通。毒歸於膀胱者，為小腹滿、溺血、遺尿、頭額腫痛而目視。此論五臟六腑受毒之症也。</p>
<h2>寒熱往來（七十）</h2>
<p>疹所最忌者寒戰也，如發熱之時，憎寒壯熱，身體振振戰動，其毒欲出不出，留於腠理之間，邪正交爭，故發振振戰動也，宜服柴葛桂枝湯。</p>
<h2>口中臭氣（七十一）</h2>
<p>口中之臭氣，勃勃沖人，是肺胃中火所致，此症多有失聲，喘嘔，兼吐膿血，皆其候也。藥宜清金湯、瀉火湯主之。</p>
<h2>疹癢（七十二）</h2>
<p>疹出遍身作癢，爬搔不寧者，此毒瓦斯火邪傳於肌膚之間，不能發出，與傷寒汗不出而作癢者，同也。況諸瘡痛癢皆屬心火，《經》云：癢者，火之變也。又肝木主風，爬搔不寧者，風使然也。肝主筋而運乎爪，皆心肝二臟之症，藥宜清風化毒湯主之。荊芥、防風、升麻、羌活、大力、干葛、麻黃、桂枝。</p>
<h2>頭目腫（七十三）</h2>
<p>毒瓦斯發越，聚於三陽，故掀腫也，宜解毒湯（羌活、防風、荊芥、大力、條芩、連翹、柴胡、桔梗、石膏各二錢），如　未透時去石膏。</p>
<h2>鼻掀口張，氣喘氣粗，胸脅吸動（七十四）</h2>
<p>鼻掀者，肺氣絕也。口張者，脾氣絕也。氣喘胸悶者，肺火盛極而難下也，不治。服清肺飲重加石膏、黃芩一兩余，或冀挽回於萬一，然必要胸中、鼻尖不動，乃可用藥耳。</p>
<h2>余毒不清（七十五）</h2>
<p>氣高而喘息作聲，掀胸抬肚者，余毒在於肺臟也。痰涎稠黏，切牙戈齒，泄不止，口臭者，余毒在於脾胃也。盜汗身熱不退，渴盛者余毒在於心經也。夢中多驚，攝手振動，目赤者，余毒在於肝膽也。耳　手足尖熱者，余毒在於腎臟也。身腫不消，壯熱不退，郁悶不舒，諸經皆有未盡之余毒也。</p>
<h2>寒戰（七十六）</h2>
<p>心火亢極，上灼肺金而孔竅閉塞，故寒戰不止，宜發汗以去表熱。如大便閉，宜下之，小便不通，宜利之。論火性甚烈，喜散而不喜郁，則拂其性矣。欲達而不達，氣血與火毒，五內搏激，其能免身之不戰乎？火鬱固戰，每過鬱而反似寒者，是熱極反見水化，如嗜強酒，若不勝其所寒矣。惟用麻黃為先，毒火松透，自必熾熱火性得順而寒戰自止矣。</p>
<h2>氣短倦怠口乾出汗（七十七）</h2>
<p>火氣熏赫，肺金受制而寒水生化之源已絕，故氣短、倦怠、出汗，皆本經症，宜麥冬清肺飲以濡肺金之枯燥。</p>
<h2>紫紅白三泡（七十八）</h2>
<p>紫紅泡起於化肌傳肝，表裡不解，致血鼎沸，以黃連解毒東加犀角、紫草、生地、丹皮、山梔、木通治之。白泡者，乃氣有餘而血不足也。化肌傳肺，熱毒注於皮膚之間，其津液亦隨氣而泡也。白而空者，其氣虛也；白而有清水者，其氣實也，用川連、石膏、丹皮、黃芩、生地、僵蠶、連翹、玄參。又云：白泡亦熱之故，《經》云：血熱則斑，氣熱則泡。又云：皮濕之故，腎水盛耳，總有熱毒未出而熱邪先為所害也。論氣盛則泡，氣盛者毒瓦斯盛也。沖突處毒鋒如射膺，鋒者囊隨毒瓦斯而發也，則泡之有自來矣。氣血關鎖之極者，色白而囊空也。氣得浮動者，內含清水；血得浮動者，水若腌魚。總為毒瓦斯所致。又云：血熱則枯，血涼則生洵然。</p>
<h2>遍身紫黑紋（七十九）</h2>
<p>熱邪內外熏蒸，遇風寒輒與內熱相拒而不得入內，熱為風寒所閉而不得出，毒瓦斯壅於肌表，故形如痕點，其色青紫者有之，宜用生地、紫草、凌霄花、丹皮、玄參、連翹、黃芩、紅花、全蠍、石膏、川連，如大便秘結加生軍。</p>
<h2>連出不收（八十）</h2>
<p>連出不收者，熱毒太甚也。不能一時發透，宜重表之。如回後用化斑解毒湯治之（玄參、知母、升麻、力子、人中黃、連翹、石膏），大便閉結加生軍、生地、紅花、紫草。</p>
<h2>疹後牙根血出腫爛（八十一）</h2>
<p>牙根血出胃火並，宜投天麻枳花粉，麥冬生地黃連入，重用石膏生條芩。此因積熱毒火入胃，宜用清胃飲、涼膈散（薄荷、山梔、連翹、桔梗、黃芩、生地、甘草、川連、升麻、丹皮、石膏）。</p>
<h2>齒腮腫痛口角流涎（八十二）</h2>
<p>齒頰腫痛口流涎（宜用川芎、防風、石膏、黃連、玄參、黃芩、甘草、牛蒡子），不投陽劑痛連綿。</p>
<p>疹後紅斑作癢，疹後發熱一二日，紅斑作癢遍身散出，愈爬愈癢，狀如細粟，或成雲片，一涌而出，此因回後不禁辛辣、油膩之味，放心縱食，以致風熱寒濕之氣外感而成也。急宜三花斑東加防風、黃連，以除風熱，免生瀉利。倘瀉痢日久不已，此余毒移入於大腸也，切勿妄投止澀，以致內毒上攻，轉成嘔吐，噤口不食，而莫可療生也。如滑泄不止，或下鮮血，或如屋漏塵水者，急服三黃東加檳榔、枳殼、六一散，治之可望愈矣。</p>
<h2>五經熱症（八十三）</h2>
<p>五經熱症病原分，熱氣熏蒸上衝心，譫語妄言神志亂，犀角黃連可定神。熱蒸於肝，則搐搦如驚，治宜天麻、羌活、膽星。熱蒸於脾，則腹脹，渴飲，目腫，大便閉，宜投枳殼、山梔、大黃。熱蒸於肺，喘嗽鼻涕，兜鈴、貝母、桑皮。熱蒸於腎，玄參、知母。</p>
<h2>瘟毒發疹（八十四）</h2>
<p>瘟毒發疹者，由小兒感冒風邪，藏蓄於肌肉之間，陽氣發動，潛形於皮膚之外，一年之中，屢受不正之氣，而出於兩腋之下者，氣之道路也。瘟邪隨氣道而出者，肺之瘟毒發疹也，治宜清肺飲主之。</p>
<h2>疹後癖積（八十五）</h2>
<p>疹後癖積，麻既回，飲食不謹，驚唬不忌，以致積久成病而痰氣包裹，遂成癖疾，故令小兒面黃肌瘦，項細腳軟，腹如脹鼓，身熱口瘡，治宜痞氣丸、褐子丸，二藥消之。</p>
<h2>疹後遍身糜爛（八十六）</h2>
<p>疹後遍身糜爛者，發在　子已收，飲水過多，嗜食不節，致使食傷脾胃，至於肌肉、背心、兩脅間發出小水泡，其形光明，此水晶　也。一日之間變成漿泡，如湯沸然，而潰爛成糜，法當胃苓丸治之，外用白云散敷之。</p>
<h2>疹後痧疳（八十七）</h2>
<p>後痧疳者，乃脾胃虛熱上炎，熏蒸於口，涎流清水，是為口瘡，口瘡日久，遂流血水，血聚成膿，黑爛臭穢，是為痧疳，治宜丙金散、HT　散敷之。</p>
<h2>疹後陰囊腫痛（八十八）</h2>
<p>回後陰囊無故赤腫，明亮如燈籠，痛不可忍，此乃余毒邪熱流注於膀胱，宜用導赤散治之。</p>
<h2>疹後瘧疾（八十九）</h2>
<p>疹後瘧疾，乃肺腑嬌嫩，洗之太早，濕熱水氣客於皮膚，衛氣不守，邪氣潛乘，陰陽交爭，虛實更作。</p>
<p>陰勝陽則內外皆寒，陽勝陰則內外皆熱，以截瘧丹治之。（方見《金鏡錄》。）</p>
<h2>疹後生風（九十）</h2>
<p>疹後生風，疹沒而榮衛俱虛，虛極則生熱，熱極則生風，其症手足螈　，目直項急，角弓反張，口吐白沫，是脾虛為肝木所制，治宜平肝散風。</p>
<h2>胃爛發斑（九十一）</h2>
<p>胃爛發斑者，熱甚血復，裡極表虛則發斑，輕如疥子，重如錦紋。紫黑者，熱極而胃爛也，十有九死。</p>
<p>如赤斑煩痛宜犀角大青湯化之。若後有因傷寒者，或當下不下，宜汗不汗，以致熱毒蒸於內，胃受熱毒而發於皮膚之間。赤者為斑，以化斑湯解之；黑者為胃爛發斑，十無一生也。</p>
<h2>余毒論（九十二）</h2>
<p>論余毒是血熱毒重之症，或涼解不早，或寒冷太過，二者均失於調劑。或誤投溫補，辛酸燥辣之味，帶火收結，故余毒仍留，且血熱毒重，其症非虛，涼瀉則氣復矣。所謂涼瀉而成其補者，此也。</p>
<h2>摘要（九十三）</h2>
<p>鼻氣通於天，天者頭也。肺竅開於鼻，而陽明胃脈環鼻而上行，腦為之元神之府，而鼻為命門之竅，清陽不升，則頭為之傾，九竅為之不利，疹子未發將發之時，宜用升麻。發表如不透者，急用麻黃、桂枝二味。如過用酸藥，勢必至於發不透明，所以荊、薄、紫、陳、蘇、蔥等藥，表時定不可缺也。但用亦不可太重，更有復花，亦表藥方內而冷利大腸之藥，亦不可過用，或有用松毛尖，其性極寒，尤為不可，切囑切囑。夫表時忌用最寒之藥，間有用大黃者為救急也，大便一去寒不停留，故不敢廢耳。疹出足，另有土藥備用，當降之時，不論貧富可服而愈。枇杷葉與荊竹黃，綠豆芝麻糯米湯。以上五味常服，小兒定然安昌。痰甚又加荊竹瀝，氣喘還須蘿卜子，胃火盛加水蘆根，溺赤便血白茅根，肺熱氣喘一同吃，呃逆不止刀豆入，遍體風癢桑枝用，氣喘蕎麥合蘇子，骨蒸青蒿效如神，燈芯竹葉解煩渴，能利小便在其中。無汗加上蔥白透，利氣消痰芥子逢，目赤山梔夏枯草，發灰吹鼻止衄紅。又云：疹出不到而回者，有未足而誤降者，惟此方能生人也，石膏黃芩天門冬，知母蟬衣栝蔞仁，鉤藤黃枳殼沖，不瀉氣實大黃順，氣喘兜鈴葶藶子，肚痛要加枳殼充，火瀉車前不可缺，咳嗽蘇子冬花同，喉痛射干山豆根，起死回生此方神。</p>
<p>小柴胡湯：柴胡芩連歸桔翹，知膽葛防粉甘草，大力陳皮芎貝母，薄荷丹皮夏枯草。</p>
<p>寧肺桔梗湯：桔梗枳貝歸蔞仁，甘草百合桑皮用，加減葶藶地骨皮，還加知母與杏仁。</p>
<p>清咽利膈湯：連翹黃連與黃芩，甘桔梔子荊芥穗，防風銀花薄荷葉，大力玄參大黃添。</p>
<p>柴胡清肝湯：柴胡清肝地歸芎，黃芩梔子又防風，連翹花粉大力子，再加甘草一味沖。</p>
<p>三黃解毒湯：三黃解毒又黃芩，黃柏黃連一同行，山梔木通甘大力，解毒還加連翹升。</p>
<p>加味四苓湯：加味四苓豬瀉並，車前木通赤茯苓，黃芩川連大力子，疹後過瀉服之靈。</p>
<p>清肺飲：清肺飲中有二冬，甘桔石膏杏仁同，二母要求大力子，兜鈴加上肺氣通。</p>
<p>清金瀉火湯：清金瀉火天麥冬，知母片芩甘木通，兜鈴石膏花粉梔，肺火煎熬用其中。</p>
<p>荊芥解毒湯：荊芥解毒亦玄參，防風力子與黃芩，知母石膏甘草入，還進川柏木通升。</p>
<p>蟬化散：蟬衣蒙花當歸梢，羌防芎柴龍膽草，川連木連白蒺藜，梔子車前作引好。</p>
<p>黃連解毒湯：黃連解毒柏連芩，山梔石膏薄荷荊，連翹甘草生大力，口舌生瘡桔梗真，疹後如見喉痛症，急投甘桔湯有靈。</p>
<p>化斑湯：（裡熱發斑表虛者，須用浮萍煎藥。）</p>
<p>化斑湯中黑玄參，人中白與石膏升，知母連翹牛蒡子，急進川連與大青。</p>
<p>胃苓湯：胃苓澤瀉赤茯苓，陳皮厚朴合豬苓，木通山梔甘草炙，茅山蒼朮軟防風。</p>
<p>四順湯：四順湯中又杏仁，紫菀貝母冬花共，桔梗甘草淡條芩，肺嗽不眠此方順。</p>
<p>清上飲：清上飲內薄荷風，干葛力子麥門冬，桔梗連翹甘草殼，川連黃芩天花同。</p>
<p>涼膈散：涼膈薄荷山梔翹，黃芩桔梗同甘草，手足指尖如不到，大力蟬鉤麻黃表。</p>
<h2>昏睡不醒（口燥唇干不食。九十四）</h2>
<p>生石膏每劑用二三兩，黃芩每劑用五六錢，此二味終不可少，不怕寒涼過度。手足指尖不到，勿論回者誤降者，須更用筍鞭芽十個，荷鼻五個，可同煎服。脾病困倦，昏沉多臥，口乃脾竅，故口燥唇干不食，是亦胃火不清之故，肺病則嗽，一切鼻煤、鼻煽、鼻干、鼻瘡、嘔吐，皆胃火也。至若眼紅澀是肝病，須伐木清金，兼去風膽病，多煩而不眠，重用石膏，即四五兩一帖亦不妨。若喘息，生芩作主，石膏次之。力子桑皮葶兜鈴，知桔蘇麻與條芩，天冬杏貝生石膏，引加蘆根與茅根。</p>
<h2>小便赤血（涼膀胱為主。九十五）</h2>
<p>豬瀉車前梔木通，滑石芩柏石地冬，石葦一金麥葶藶，通草順引膀胱中。</p>
<h2>大便血痢（涼腸作主九十六）</h2>
<p>大黃復花翹桔梗，枳荷力子連條芩，銀花槐梔栝蔞杏，荊芥升麻與苦參。</p>
<p>涼大腸利小便，蓋小便愈長則大便愈結，然亦不可強止。《經》云：毒以利泄，若利止則不能出而腹痛也。</p>
<p>干桔升荷枳木通，石蒲芩連胡天冬，知母豆根苓槐骨，滑石人中柏杏仁。</p>
<h2>嘔吐咳逆（九十七）</h2>
<p>《經》曰：胃火抑郁，肺火上衝而為逆重，用生石膏、生黃芩。次之又方：柴前蟬桔曲二冬，茯苓石膏芩蔞仁。</p>
<h2>咽喉痛（先治風火並治喉嚨。九十八）</h2>
<p>甘桔復花前玄參，射干荊防枳豆根，冬花芩薄生大黃，蔞仁木通與苦參。</p>
<h2>音啞（先清肺火，重用生黃芩。九十九）</h2>
<p>石蒲桔梗力子冬，黃芩花粉甘木通，通草薄荷玄參入，前麻貝槐知母同。</p>
<h2>咳嗽（肺火清則咳止矣。一百）</h2>
<p>大力兜鈴與三冬，雙骨葶藶二母同，蔞仁黃芩枳石膏，蘇子百部與橘紅。</p>
<h2>目赤上星肉浮睛（一百零一）</h2>
<p>《經》曰：總要截去風火兼治眼目，非升麻提之不愈。入方：桔菊膽草羌活升，梔子車前與條芩，荊芥蟬衣川柏服，又加薑荊去目翳。</p>
<h2>呃逆（肺氣上衝，胃火呃逆。一百零二）</h2>
<p>石膏條芩與橘紅，石斛蟬衣麥門冬，竹茹茅根引加入，清肺降火呃逆通。</p>
<h2>口唇齒齦燥裂血出（一百零三）</h2>
<p>此乃脾家本病，全以生石膏、條芩為主。若上下齒齦臭爛，舌胎濃白，宜石膏為主。入方：梔子桔梗共升麻，木通花粉川柏加，荊芥薄荷淡條芩，重用石膏胃火瘥。</p>
<h2>發癢（清脾火而去風。一百零四）</h2>
<p>荊防薄荷葛玄參，地骨桑皮桂連芩。</p>
<p>蟬衣大力芎銀花，百部升麻有苦參，</p>
<h2>昏睡不食，舌胎濃，唇燥齒齦爛（一百零五）</h2>
<p>（口臭若是喘，加葶藶子，黃芩重用不可留。）</p>
<p>黃芩知母生石膏，天門冬合花粉好，薄荷玄參栝蔞仁，枳殼更加川相炒。</p>
<h2>腸毒發斑（一百零六）</h2>
<p>《經》曰：按此症心胃兩經熱毒熏蒸於內，庸師皆謂重疹也，而用藥不對，則火愈熾而發斑也，須用靛花水飛過，加鍛石淘淨晒乾，研末取人乳調敷，斑即消矣。又云：宜瀉肝火而鬱火亦散，熱毒傷血而裡實，虛則發斑，輕則如疹，重若錦紋，紫黑者熱極而胃爛也，則多死。重用石膏、大青草、犀角三味，缺一不可，此瀉心胃熱毒，必用之矣。詩曰：毒火流入在脾臟，眼目起發翳膜障，上星掀腫在兩嘴，膿血淋漓眵淚汪。</p>
<p>撥雲散加減：撥雲膽草荊苓羚，地木甘連木賊羌，大黃硼砂條芩石，銀花升麻菊花良。</p>
<p>毒流於脾在上者，唇裂而掀腫，堆結如煤，動即血出，血出即燥結。在下者，毒注於大腸，下垢如膠漆，或下鮮血痛不可忍，以滌除救苦湯治之。</p>
<p>滌除救苦湯：滌除救苦用生軍，芩連石膏枳木通，生地力子紅滑石，蟬衣荊芥叭杏仁。</p>
<h2>走馬牙疳（一百零七）</h2>
<p>倘有血紫堅凝毒流於腎胃，則口內生疳，牙齦腐爛，甚生穿腮落牙，漸入喉嚨，名為走馬疳，最惡症也。宜用忍冬解毒散加減服之，外敷消疳散。</p>
<p>忍冬解毒散加減：忍冬石膏芩木通，力子桑皮玄二冬，甘桔豆根銀花貝，荊菊連翹地丁同。</p>
<p>外敷消疳散：消疳散用連兒茶，人中花粉甘硼砂，青黛石膏冰片入，共為研細牙齦搽。</p>
<h2>頭瘡（一百零八）</h2>
<p>《經》曰：毒流於頭項，頭乃諸陽之首，倘毒入陽會而潰爛生蛆時，值炎天臭不可聞，急以清涼攻毒湯治之外，以金銀花洗之。又用金蓋散即牛糞晒乾為末，少加冰片、青黛合研摻之，則愈矣。</p>
<p>清涼攻毒飲：（即瀉黃散。）</p>
<p>清涼攻毒用大黃，川連石膏犀角鎊，荊力木通鮮生地，丹皮地丁合成方。</p>
<h2>咽乾音啞發嗆（一百零九）</h2>
<p>若毒流於肺，津液遂不能上行，則咽喉干燥，音啞發嗆，以清金飲主之。若毒鎖喉嚨者，則不治之症也。</p>
<p>清金飲加減：清金甘桔與玄參，大力麥冬花粉荊，前胡枳翹薑蟲炒，豆根石膏天冬芩。</p>
<h2>身發沸子（一百十〇）</h2>
<p>《經》曰：時值隆冬，表邪未盡，風邪與熱毒抑郁於皮毛，發一身沸子，宜清肌散毒飲主之。</p>
<p>清肌散毒飲加減：清肌散毒薄荊風，前葛蟬衣力子芎，桔梗薑蟲生甘草，無汗還加麻黃通。</p>
<h2>消腫（一百十一）</h2>
<p>《經》曰：肺主皮毛，脾胃主肌肉，故用石膏清胃火，黃芩瀉肺火，則皮毛開而肌肉平矣。宜服：知柏石膏麥門冬，生梔六一芩木通，百部枳實白百合，車澤赤苓貝杏仁，昆布海藻桑白皮，金銀葶藶與天冬，麻黃香薷荷鼻立，瓜蒂牙根紫菀茸，榆白皮煎蔓荊子，蘿卜子與燈草逢。</p>
<h2>疹後氣喘發熱（一百十二）</h2>
<p>大便秘結，庸醫以為宜投大黃，二次仍不能通，但此症非瀉不能回生矣，速進濟川煎，內加肉蓯蓉、枳殼、牛膝，以泄大便秘結。又加升麻五六分之數，隨用大黃七八錢之，則頃刻黑糞先出，而後大便通泄即安矣。故用升麻一提則清氣上升，用大黃一瀉則濁氣下降也。</p>
<h2>疹後身瘦潮熱（一百十三）</h2>
<p>疹後，身瘦潮熱而胃口欲食，甫食則飽，飽過即飢，而肚大痛，大小便利，口臭而身發疥，此乃誤服熱藥大八味故耳。如一月間，先宜石膏、條芩一大劑，次服熟地、百部、枳殼、沙參、知母、山梔、天冬、黃芩、穀芽二大劑，則愈矣。又服六味，方內去萸肉，加當歸、防風、麥門冬、沙參等分，可以收功。</p>
<h2>疹後遍身流水（一百十四）</h2>
<p>疹後遍身流水，日夜發厥，此以瘡疥潰爛之故。如四十日外，可服六味，重熟地，去萸肉加蒺藜、荊芥、丹參、沙參、二冬、漏蘆、苦參等分，煎服可以收功。</p>
<h2>附補疹子諸方</h2>
<h3>忌用藥物</h3>
<p>疹子初發熱時，忌用麥冬、生地，恐其清肺而斂邪也。發散不出，忌用人參、黃　、白朮、恐其補氣而發喘也。忌用諸熱藥，恐其助火而傷肺也。切忌雞、魚、蝦、鴨，四十九日內，食之必然重出，食雞子多令兒眼白，食糖多令兒牙疳，食酸鹼物均害肺。如泄瀉太過，以加味四苓散與之，切忌訶子、豆蔻、參、　補澀之藥，即生甘亦不宜多用。</p>
<h3>治例</h3>
<p>疹有出沒，治分升降，且如壯熱腮紅便服升麻，面毒神慢宜用紫蘇、蔥頭，氣粗熱壅，心煩便澀，即須和解。喘呼咳嗽，眼封肌燥，急宜疏散。未出之前，遵斯而用，再思回後，別有奇方，發不透而毒邪內蘊，當識內外分消之妙，回速而黑赤枯焦須用清涼解毒，氣喘而肚膨脹，聲啞喉痛，不食二便不通，身熱燎人，解毒降痰並用。立此二方乃治疹之良規，後之學人慎勿妄圖。</p>
<h3>升藥主方</h3>
<p>發熱時壯熱腮紅，以此方主之：升麻　干葛　前胡　川芎　枳殼　桔梗　復花　陳皮　木通發熱時面青神慢，以此方主之：蘇葉　桔梗　前胡　陳皮　復花　紅花　蔥頭發熱時氣喘煩躁，二便不和以此方主之：防風　荊芥　前胡　葛根　升麻　大力　蟬蛻　薄荷　枳殼　復花　木通　竹葉發熱時遲延不出，皮膚干燥，身熱噴嚏，毒瓦斯抑郁，以此方主之：麻黃　干葛　柴胡　蟬蛻　天麻　大力　復花　薄荷　木通　川芎　陳皮　紅花　加筍尖</p>
<h3>用藥調治</h3>
<p>喘加鉤藤，感寒加升麻、葛根，驚石菖蒲、小草，無汗加麻黃、桂枝，疹出不快加薄荷、力子，痰多加大麻、膽星，額不出加荷鼻、筍尖，譫語加石菖蒲，四肢不出加桂枝，食積加枳實、蓮心，頭面不出加升麻或用老酒煎熱洗，即起。</p>
<p>面赤加柳芽，通身不起加大力，發斑加荷鼻，目直視加天麻、膽星，吐甚加薑汁，色不紅潤加丹參，傷暑加青蒿，六經火加連翹，時遇暑熱加連翹、木通，鬱火相煽加連翹，時遇寒冷加麻黃、桂枝，時遇溫加薄荷、竹葉，痰結在皮裡膜外發不出者，加竹瀝、薑汁。凡疹發熱昏迷，不知人事者單用竹瀝、薑汁少許，汗之則疹自現矣。疹後下痢不止者，用豬苓、澤瀉、茯苓、滑石、甘草、黃連，或滯下後重加黃芩、歸尾、赤芍、枳殼、木通、六一散。</p>
<p>疹後氣喘，連聲咳嗽不絕者，用栝蔞仁、桔梗、桑皮、蘇子。渴加麥冬、枳殼，或用清肺飲。知母、貝母、桔梗、大力、杏仁、天冬、麥冬、甘草、石膏、兜鈴。</p>
<p>疹後壯熱不退者，發為驚搐煩躁，精神不寧，此脾有熱也，宜用四物湯，山梔、竹葉、燈草、生地、白芍、赤芍；或用安神丸，黃連、當歸、膽草、蟬蛻、茯苓、菖蒲，上為末，蒸餅汁加豬血、朱砂為衣，燈芯湯送下。</p>
<p>疹後虛煩不得眠者，用竹葉石膏湯去人參，麥冬、甘草、石膏、法夏、竹葉、糯米百粒。</p>
<p>疹出三日不收者，宜加清裡藥，則退而疹自消。</p>
<p>疹後渾身壯熱未至瘦弱，但每煩躁不寧，此毒在心肝二經，以當歸養血湯主之。</p>
<p>當歸、川芎、生地、甘草、麥冬、山梔、竹葉。大便秘加大黃。</p>
<p>疹後牙疳臭爛，時時出血，呼吸氣息，名為走馬疳，以文蛤散主之。</p>
<p>文蛤五分，雄黃五分，五倍子二錢，枯礬五分，蠶蛻包紙灰一錢。上共為末，米泔水洗過，一日搽三次，以平為度。</p>
<p>疹後四十九日內，或熱除而毒未除，肺虛咳嗽，以沙合散主之。</p>
<p>麥冬、冬花、知母、橘紅、百部、百合、阿膠、鉤藤、北沙參，加榧子肉、枇杷葉。</p>
<h3>降藥方</h3>
<p>凡疹宜清金降火，不致金受火克，否則肺之母受病，必致變症多般，俱用後藥降之可也。</p>
<p>柴胡　橘紅　黃芩　枳殼　花粉　栝蔞仁　山梔　杏仁　陳皮　蘇子　竹葉汗加知母，舌胎重加黃芩，骨蒸加地骨皮，骨節疼痛加石菖蒲，吐血加黃梔（炒焦）、黃芩。</p>
<p>凡疹是脾肺之毒，倘用山梔不足，須用石膏。按石膏不必拘多少，只看病如何。</p>
<p>凡疹發不透而喘者，加葶藶、百部、白果、茯苓。</p>
<p>凡疹見風罩沒，未得清爽者，又宜和解再入升散之藥，雖不復出亦可痊愈。（和解散清毒飲。）</p>
<p>凡疹三朝出不甚者，毒瓦斯內攻，聲音不出，咳嗽痰涎，大便秘結，服此方神效；蔞仁二兩，炒黃芩四錢。</p>
<p>如熱甚，加一兩枳殼、知母、桑皮、花粉、玄參、山梔、杏仁、柴胡、鉤藤、石菖蒲、天麻、竹葉、燈草，水煎服。如此之症，二日必愈。</p>
<h3>疹後雜症</h3>
<p>疹後作瀉，煩渴者白虎東加蒼朮、知母、石膏、甘草。</p>
<p>疹後乾嘔者宜解毒湯，黃連、黃芩、黃柏、山梔，俱用酒炒。</p>
<p>疹後嘔吐不止者，用陳皮、竹茹、石膏。</p>
<h3>前後治疹總論</h3>
<p>總之，疹與痘不同色，痘怕太紅，防破。疹喜統紅，不可紫黑。但所慮者疹不出盡，若出盡而毒便散。故治疹者於發時，當察天時寒暄以藥發之。</p>
<p>發散方，表出而愈。復花、前胡、桔梗、菖蒲、川芎、天麻、麻黃、桂枝、枳殼。</p>
<p>凡疹便血、吐血、衄血不止者，另用犀角地黃湯（生地、犀角、丹皮、赤芍）合解毒散。</p>
<p>凡孕婦出疹，宜四物東加白朮、黃芩、蘇葉、砂仁。</p>
<p>凡疹不進飲食者，但得麻色淡紅潤澤亦無害也，此乃毒瓦斯未解，內蘊實熱，故不食耳。</p>
<p>凡風寒感冒重者，毛孔如粟狀，額青足冷，身熱無汗，至六七日或十余日尚不見點，有外症咳嗽，鼻流清涕，眼胞微腫，決定是疹，不可妄治，宜先用麻黃湯發散，則疹自出矣。</p>
<p>大無比散：粉草（一兩）　飛滑石（六兩）　飛辰砂（三錢）　飛雄黃（一錢）</p>
<p>小無比散：粉草（五錢）　飛滑石（六錢）　寒水石（五錢）　飛石膏（一兩）　廣鬱金（七分）</p>
<p>上二散研末服，凡疹喘嗽氣急面赤者，用二散，每服大一錢，小六分，毒從小便出，熱退為度。</p>
<p>稀　疹經驗方：用絲瓜一個，風乾，歲除日放在新瓦面上　灰，攤地上，去火氣，研末，以百沸湯沖服，每歲如此，服至三四次，小兒永不患麻疹矣。（按：既有牛痘種法，小兒可免痘患，又有此善方以稀　疹，育子者洵堪奉為希世之寶也。）</p>
