<header><h1>絳囊撮要</h1></header>
<dl class="元資料" data-type="book">
<div><dt>作者</dt><dd>雲川道人</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1644/1911">公元1644年至公元1911年</data></dd></div>
</dl>
<h2>序</h2>
<p>物何靈。人為靈。靈何寄。寄一耳。耳也者。自後天而紐合先天者也。先天以靈明為主。</p>
<p>後天以血氣為用。用不流行。則靈明且為之窒塞。用是軒岐家閔焉。以為先天不立。皆由後天而瓊芝瑤草。又非人間可以猝得。不得已而思其次。有借樹根草皮為生活計者。夫樹根草皮。得天地之靈秀而毓。只是一樹根一性味。一草皮一性味。不善用之。非失之剛即失之柔。</p>
<p>善用之則剛者濟之以柔。柔者濟之以剛。有不得正平而與彼更生者。未之前聞也。作是說於萍翠山房。山房中有客聞而善之曰。然則如何而可得正平之良劑乎。予曰。是不難。語云藥雖出於醫手。方多傳於古人。只取軒岐家已經經驗於世者。遍告同人。豈不一舉而萬善駢臻客即應聲曰是是。於是向絳囊中取撮要一冊以授客。客受而懷之。懷之也何居。曰將以問世也</p>
<p><u>乾隆九年歲次甲子仲夏之月十有三日云川道人識</u></p>
<h2>內科</h2>
<h3>牛膽星丸</h3>
<p>治一切厥逆。猝不省事。口流涎沫。手足拳攣諸症。</p>
<p>陳極牛膽星（一兩五錢）　天竺黃（一兩）　白芥子（五錢）　香犀角尖（一兩）　羚羊角尖（一兩）</p>
<p>共為細末。用陳米飲湯為丸。如椒目大。每服二十一粒。老弱減去十粒。用開水送。</p>
<h3>牛黃清心丸</h3>
<p>專治痰厥。昏暈不醒。口噤痰喘。及小兒驚風發搐。五癇等症。</p>
<p>陳膽星（一兩薑汁炒）　白附子（一兩煨）　鬱金（五錢）　川烏（一兩面包煨）　半夏（一兩皂莢上五味研細。用臘月黃牛膽三個取汁和藥。仍入膽內。扎口掛風檐下。次年取膽內藥。</p>
<p>每藥一兩四錢重。加度過芒硝　水飛辰砂。　硼砂（各一錢）　冰片　麝香（各一分）　照分發就。</p>
<p>（附合牛膽星法　臘月用黃牛膽取出汁配入天南星　川貝母等分極細末將汁拌勻仍入膽殼內檐下</p>
<h3>艾灸法</h3>
<p>治一切中風。中痰。中寒。中惡。神驗無比。</p>
<p>將兩手中指對合。以繩縛定。用艾丸灸兩指中間。三四壯即愈。再灸百會穴（在頭頂中心）。</p>
<p>中脘穴（臍上四寸）氣海穴（臍下一寸五分）凡灸取寸法。量男左女右。手中指中一節橫紋處。</p>
<h3>吳茱萸熨</h3>
<p>治陰毒傷寒。四肢逆冷。</p>
<p>吳茱萸（一升）</p>
<p>酒拌濕絹袋二個。分貯包蒸極熱。互熨心胸及足心。候氣透痛即止。</p>
<h3>蔥薑熨</h3>
<p>治傷寒結胸蔥薑（不拘多少）　搗爛炒熱。布包頻換。熨胸甚效。</p>
<h3>七鮮湯</h3>
<p>治時疾厥逆。</p>
<p>鮮藿香（一錢五分）　鮮首烏（一錢五分）　鮮荷葉邊（三錢）　鮮生地（五錢）　鮮佩蘭葉（一錢上藥和勻。打汁濾清。用溫開水沖服。</p>
<h3>辰砂益元散</h3>
<p>治一切中暑熱之聖藥。</p>
<p>滑石（六錢水飛）　生甘草（一錢）　辰砂（五分）</p>
<p>研極細末。用冷水或冷鮮藿香湯。調服即安。</p>
<h3>四汁散</h3>
<p>治痰火天花粉（一斤）　用梨汁　薑汁　蘿卜汁　竹瀝（各一鐘）</p>
<p>次第拌晒乾為末。每服一錢好茶下。</p>
<h3>咳嗽神方</h3>
<p>桔梗（六分）　川貝母（一錢）　白菊花（七朵）　水梨肉（五錢連皮）</p>
<p>日泡湯服即愈。</p>
<h3>痰哮方</h3>
<p>川楝子（一兩）　江枳實（五錢）　製香附（一兩）　生牡蠣（七錢）　生地栗（一兩）</p>
<p>方青鹽（三水泛為丸。每朝開水。送三四錢。</p>
<h3>治瘧方</h3>
<p>真川貝母（六錢去心研極細末）　半夏（四錢研細末炒微黃）</p>
<p>須於五月五日午時虔合。瓷瓶收貯。每服一分五厘。薑汁兩三匙。拌。隔水燉熱。瘧來前一</p>
<h3>三日瘧方</h3>
<p>鱉甲（炙灰）　青蒿（等分）　每服三錢。或酒或茶。清晨送下。</p>
<h3>治瘧初起方</h3>
<p>平胃消痰。理氣除濕。輕者二三劑即愈。如稍減未全愈。接服第二方。</p>
<p>陳皮（一錢五分）　半夏（一錢五分礬制）　茯苓（一錢五分）　威靈仙（一錢五分）　蒼朮（一錢錢）　檳榔（八井水河水對半煎服。如頭痛加白芷一錢。</p>
<p>第二方　虛實得宜。即極弱之人。數劑後即愈。</p>
<p>何首烏（四錢生用）　廣皮（一錢）　柴胡（八分）　茯苓　黃芩　白朮（炒）　威靈仙鱉甲（各井水河水各半。煎滾加酒（半鐘）再煎滾服。</p>
<h3>治白痢方</h3>
<p>橘餅（一只切碎）　黃糖（三錢）　普洱茶（一兩）　水薑（五錢）　白糖（三錢）</p>
<p>煎湯當茶服愈。紅痢不宜。</p>
<h3>參香丸</h3>
<p>治紅白痢極效。</p>
<p>苦參（六錢）　木香（四錢忌火）　甘草（五錢）</p>
<p>為末飯搗丸。重一錢。</p>
<p>紅痢甘草湯下。　白痢薑湯下。　紅白痢米湯下。　噤口痢砂仁連肉湯下。　水瀉豬苓澤瀉</p>
<h3>晨瀉散</h3>
<p>治老人脾虛。五更泄瀉。其效如神。</p>
<p>老黃米（三合炒）　蓮肉（二兩）　白朮　乾薑（各二錢）　木香（一錢）　沙糖（一兩）</p>
<p>共為細末。每服三錢。空心白湯下。</p>
<h3>霍亂絞腸痧方</h3>
<p>服此方者。先宜按穴刮透。</p>
<p>明礬末（二三錢）　水調服立效。</p>
<h3>香圓丸</h3>
<p>治一切氣逆。不進飲食。或即嘔噦神方。</p>
<p>陳極香圓皮（二兩）　真川貝（三兩去心）　炒黑當歸（一兩五錢）　白通草（一兩或烘或晒）</p>
<p>甜共為細末煎濃。白檀香水泛為丸。如梧子大。每服開水送三錢。大虛者酌用。</p>
<h3>柿餅飯</h3>
<p>治反胃神方。有人三世死於反胃者。得此方愈。</p>
<p>柿餅切細。雜干飯內。同蒸食。不用水。亦勿以他藥雜之。久服自愈。</p>
<h3>甘露湯</h3>
<p>專治反胃噎隔。朝食暮吐。曰反胃。須臾即吐。曰噎。良久吐出。曰隔。</p>
<p>干餳糖（六兩在糖坊中賣頭榨者）　生薑（四兩）　二味和勻搗爛。作餅焙乾。加炙甘草（二兩）。同研為末。每服二錢。用沸湯入鹽少許。調服甚效。常服之快利胸膈。調養脾胃。能進飲食。</p>
<h3>反胃簡易方</h3>
<p>甘蔗汁（二碗）　薑汁（一碗）　和勻溫熱。隨意飲之。每日三次。則吐自止。</p>
<h3>消痞神膏</h3>
<p>治積年惡痞。至重貼兩張可消。</p>
<p>密陀僧（六兩）　阿魏（五錢）　羌活　水紅花子（各一兩）　穿山甲（三錢）　香油（斤許）</p>
<p>火候照常熬膏法。膏成時下麝香一錢。用布照痞大小攤貼。</p>
<h3>雞金散</h3>
<p>治臌脹如神。</p>
<p>雞內金（一具）　沉香　砂仁（各三錢）　陳香櫞（五錢去核）</p>
<p>共為末。每服一錢五分。薑湯下。</p>
<h3>水臌方</h3>
<p>地枯蔞（即蘿卜）　生於朮（各等分）　煎湯服。</p>
<h3>蟾砂散</h3>
<p>治氣臌神方。</p>
<p>大蟾蟆（一個）　砂仁（不拘多少）</p>
<p>為末。將砂仁裝入蟆內令滿。縫口。用泥周身封固。炭火　紅。候冷。將蟆研末。作三服。</p>
<p>此方殺生救命。不可輕用。不得已用之。須立愿多放生命為是。</p>
<h3>葫蘆散</h3>
<p>治腹脹黃腫。</p>
<p>切頸葫蘆（連子燒存性）　為末。每服一個。食前溫酒下。或白湯下。十余日見效。</p>
<h3>獨妙丹</h3>
<p>治黃膽奇方。</p>
<p>毛腳芹（搗爛）　塗男左女右臂大肉上。用蜆子殼蓋定。絹扎牢。起小泡即愈。忌食發物大葷</p>
<h3>茵陳菜</h3>
<p>治疸聖藥。</p>
<p>茵陳蒿　或作菜。或作羹。或蒸麥飯。日日食之。三五日愈。　茵陳新者切細。干者為末。</p>
<h3>輪回酒</h3>
<p>專治吐血不止。</p>
<p>用足紋銀約五六錢重。放碗底。早起小便。如色黃者不可用。先吃白糖湯一碗。少頃便成純愈後</p>
<h3>吐血除根奇方</h3>
<p>真童子雞（一只男用雌女用雄）先擇無人走動處。掘一地潭。用竹刀將雞在潭內殺之。</p>
<p>血滴潭干布一個許取永</p>
<h3>白鳳膏</h3>
<p>治久虛發熱。咳嗽吐痰咳血。火乘金位者。</p>
<p>黑嘴白鴨（一只）　取血入溫酒量飲。使直入肺金。以潤補之。將鴨干　去毛。脅下開竅。</p>
<p>去將陳煮酒一瓶。作三次。添入以干為度。取起食鴨及棗。或搗丸服。</p>
<h3>烏雞丸</h3>
<p>治男婦。血氣虛勞。咳嗽吐血。骨蒸潮熱。夢遺失精。赤白帶下。</p>
<p>人參（三兩或以西黨參四兩代之亦可）　大生地（三兩忌鐵酒炒）　大熟地（三兩忌鐵酒炒）</p>
<p>青黑）　枸杞子（一兩五錢兩）</p>
<p>上藥如法制好。磨為細末。用白毛烏骨雞（一只男用雌女用雄約重一斤外者）。悶絕去毛。</p>
<p>竹雞湯</p>
<h3>血余散</h3>
<p>治血症妙藥。</p>
<p>少壯人頭發（水洗淨晒乾火燒熄存性）　絹包煎湯服之。</p>
<h3>治鼻血不止方</h3>
<p>用煮酒頓熱。將兩足浸入。俟溫洗之。即止。酒可用二三次。用畢傾入河內。服後煎方。</p>
<h3>鼻血不止煎方</h3>
<p>真犀角尖（一錢五分鎊）　細生地（四錢）　粉丹皮（三錢）　白芍（一錢五分炒）</p>
<p>上藥四味煎湯服。重者四五劑自平。</p>
<h3>煮豬腸</h3>
<p>治便血。</p>
<p>木耳（不拘多少）　入淨豬腸內。煮食自愈。</p>
<h3>治腸紅方</h3>
<p>石木耳（瓦上炙存性）　研末每服二錢。開水送下。常服除根。</p>
<h3>柿餅丸</h3>
<p>治腸風下血。</p>
<p>棉花核（炒黑去殼三兩）　側柏葉（炒黑四兩）　槐米（炒一兩）</p>
<p>柿餅蒸爛搗丸。清晨滾湯下四五錢。</p>
<h3>車蓮飲</h3>
<p>治溺血屢驗。</p>
<p>旱蓮草　車前草　搗汁各半茶杯和勻。空心溫服。如無鮮者。各用三錢。煎濃湯服。</p>
<h3>橄欖膏</h3>
<p>治癲痴立效。兼治肝火上逆之症。</p>
<p>橄欖（十斤）　砂鍋內煮數滾。去核入石臼搗爛。仍入原湯煎膩出汁。易水再煎。煎至無味去錢。</p>
<p>開</p>
<h3>橘餅湯</h3>
<p>除嗝止消。</p>
<p>橘餅　細嚼滾水過下。勿以易而忽之。</p>
<h3>清濁飲</h3>
<p>赤白濁秘方。</p>
<p>木通（七錢）　滑石（三錢）　粉甘草（四錢）　蔓荊子（一錢）</p>
<p>水煎空心服立止。</p>
<h3>二仙飲</h3>
<p>治溺時痛如刺。</p>
<p>甘草　木通（各一兩）</p>
<p>水煎空心服愈。</p>
<h3>隔蔥熨臍法</h3>
<p>治二便不通。</p>
<p>蔥白頭（一斤）搗爛炒熱。以布勻兩包。更換互熨臍下立通。</p>
<h3>治頭風神方</h3>
<p>冬桑葉（一兩）　黃菊花（五錢）　黑山梔（三錢）　獨活（一錢）　明天麻（一錢）</p>
<p>煎滾熏洗患處。避風立愈。加秦艽。（一錢）更妙。</p>
<h3>頭風痛膏方</h3>
<p>此病甚則害眼。左痛貼右太陽。右痛貼左太陽。兩首痛俱貼。</p>
<p>青黛　決明子　黃連　黃芩　桑葉　歸身　紅花　細生地　防風　紫蘇葉　加川貝母（去心除青黛外。為粗末。油煎。用朱砂十分之三。紅丹十分之七。同青黛末收膏。青布攤貼。</p>
<p>再</p>
<h3>熨衣方</h3>
<p>治骨內風寒濕氣。</p>
<p>川烏　草烏　南星（等分）　為末。視疼處大小。每藥五錢。配廣膠（一兩）　薑汁（一鐘）</p>
<p>盛瓷碗內蓋好。綿紙封口。入鍋中頓化調勻。敷疼處。鋪舊衣數層。熨斗火運之。能飲者盡</p>
<h3>二妙湯洗法</h3>
<p>治一切風痹癱瘓。筋骨疼痛。並大麻惡風。無不神效。</p>
<p>甘草　威靈仙（各切片一斤）　水約擔外。將藥煎五六滾。入大缸內。用板凳坐其中。</p>
<p>周圍用</p>
<h3>治面上瘋方</h3>
<p>螞蟻草（不拘多少）搗爛。俟睡時塗患處。四五夜可愈。兼治火丹。（此草多生城垣及牆階間</p>
<h3>治風疹塊方</h3>
<p>白雞冠花煎水洗之愈。</p>
<h3>金蟾酒</h3>
<p>治大麻風全身腫爛。頭發眉毛俱脫落而腐爛。立效。</p>
<p>大蝦蟆（一只）用泥裹煨熟去泥。以大碗盛蟆。小碗蓋住。沖熱黃酒。再隔水煮一刻。</p>
<p>只服酒</p>
<h3>癘風煎</h3>
<p>此方神驗。千金不易。</p>
<p>桑皮　大黃　芒硝（各一撮）　水煎。無風處日洗一二次。如有蟲。加鴿屎同煎。如爛。</p>
<p>用琥</p>
<h3>洗癘風惡瘡便方</h3>
<p>浮萍草　或地膚子。煎湯。日洗俱效。</p>
<h3>六黑丸</h3>
<p>專治虛目疾。</p>
<p>夜明砂　望月砂　晚蠶砂　野馬料豆（另研各四兩）　真徽州黑芝麻（八兩）　俱勿見火。</p>
<p>晒乾</p>
<h3>豬肝方</h3>
<p>治夜不見物。名曰雞宿眼。</p>
<p>不落水豬肝割一方塊。飯鍋上蒸熟。露一宿。明晨淡冷食。食六七日愈。</p>
<h3>弦爛風赤眼洗方</h3>
<p>其效如神。制以施人。價廉功倍。陰德甚大。</p>
<p>五倍子（炒）　黃連（去淨毛）　防風　荊芥穗（各五錢）　苦參（四錢）　銅綠（五分）</p>
<p>為細末。以薄荷煎湯丸。如彈子大。以熱水化開。乘熱洗眼。冷則重湯溫之。日洗三次。</p>
<h3>爛眼皮方</h3>
<p>爐甘石（三錢）　小川連（一錢五分）　天花粉（三錢）</p>
<p>共為極細末。以磨油調勻。候臥熟後。輕輕敷之。或以川連。花粉。煎濃汁。制爐甘石。</p>
<p>研</p>
<h3>眼藥方</h3>
<p>治肝虛生障。</p>
<p>爐甘石（一錢）　天花粉（一錢）　小川連（五分）　木賊草（三錢）　穀精子（一錢）</p>
<p>煎濃湯。收成膏。點眸子畔。每日三次。</p>
<h3>眼內堆起肉翳方</h3>
<p>向屠家多取豬鼻頭上尖。沿邊一道皮。　研為末。用好黃酒每早服三錢。兩三日退淨</p>
<h3>眼中起星不消方</h3>
<p>頂高丁香（二分研末）　黑棗（一枚去皮核）</p>
<p>同搗為丸。蠶豆大。如左目有星。塞右鼻。右塞左鼻。自清晨塞至夜星斗上時去之。如未退</p>
<h3>治拳毛倒睫神方</h3>
<p>木鱉子（一個去殼）</p>
<p>為末。綿裹塞鼻中。左眼塞右。右眼塞左。一二夜其睫即分上下。切不可摘去毛。摘後重出</p>
<h3>治時行赤眼熏洗方</h3>
<p>當歸　黃連　紅花　桃仁（各二錢）　膽礬（三錢）　皮硝（五錢）</p>
<p>水三碗煎三四沸。連渣傾入瓷盆內。以黑帛罩面。蘸水乘熱洗之。立愈。真神方也。</p>
<h3>龍骨散</h3>
<p>治耳內出膿。</p>
<p>枯白礬　龍骨（水飛）　黃丹　杭州胭脂（炙存性各一錢）　五倍子（一錢）　麝香（少許）</p>
<p>共為末。先用棉杖子。捻去耳中膿水。以藥用蘆管。或紙卷。輕輕吹入效而止。</p>
<h3>三仙方</h3>
<p>治耳腮疳瘡。</p>
<p>海螵蛸　白芨　輕粉（各三錢）　為末敷患處。</p>
<h3>治耳內出血方</h3>
<p>龍骨　為細末吹入即止。如無真者。以牡蠣粉代之。或以蒲黃。（炒黑為末）吹之愈。</p>
<h3>治耳內腫痛方</h3>
<p>金絲荷葉草（洗淨）　搗汁滴入。有膿加枯礬。（少許）　立愈。</p>
<h3>辛夷散</h3>
<p>治鼻流濁涕。名曰鼻淵。</p>
<p>白芷（一兩）　蒼耳子（炒）　辛夷（各二錢五分）　薄荷（五分）</p>
<p>為末。每服二三錢。蔥茶汁調。食後服。</p>
<h3>治腦漏方</h3>
<p>廣藿香為末。吸鼻內小匙許。立止。</p>
<h3>治酒渣鼻方</h3>
<p>紫葳花為末。和密陀僧末。唾調敷上立愈。再以天花粉（三錢）　龍膽草（一錢）　煎服三四</p>
<h3>蜘絲線</h3>
<p>專治口舌生菌。遲治菌大。塞滿不能飲食。而死。</p>
<p>先做一小竹弓。弓口約三寸許。於荒野間。覓極大蜘蛛一個。將蛛絲盤在弓口上。盤盡絲蜘血出。</p>
<h3>綠衣散</h3>
<p>治舌忽硬腫即時氣絕。名曰KT　舌。</p>
<p>綠礬（不拘多少）　新瓦上　紅。放地上涼透研細。將牙刷腳撬開牙關搽舌上。立愈。</p>
<h3>二妙散</h3>
<p>治舌腫出血蒲黃（炒黑）　海螵蛸（等分）</p>
<p>為細末塗之。另用石膏（三錢）　薄荷（五分）　煎湯含之。</p>
<h3>治牙疼方</h3>
<p>雄黃精（三分）　明礬（三分）　梅花冰片（一分）　牙屑（一錢烘脆）</p>
<p>共為末。擦患處。</p>
<p>又方治虛火牙疼。</p>
<p>冬桑葉　黑山梔　二味煎湯。含漱愈。</p>
<h3>平時擦牙散</h3>
<p>永無牙病。至老堅固。</p>
<p>青竹（一根）　逐節留節。一頭截斷。將食鹽裝實。濕粗紙塞口。每段用濕粗紙二層裹好。</p>
<p>放三</p>
<h3>燒白散</h3>
<p>牙疳神方。</p>
<p>大紅棗（去核）　人中白　填滿棗內。燒焦為末。入麝香。（二厘）　搽之立愈。</p>
<h3>牙縫出血不止方</h3>
<p>絲瓜藤（炙灰）敷立止。</p>
<p>治虛火牙咬腫痛。</p>
<p>宣州木瓜（一兩陳酒拌一宿）　干絲瓜絡（五錢）　瓦上各炙灰存性。研末和勻。臥時敷患處。</p>
<h3>丹痧喉爛神效煎方</h3>
<p><u>（煎劑吹藥並用雖極重者服之無不神效勿忽）</u></p>
<p>生大黃（五分）　熟大黃（五分）　連翹心（一錢）　土貝母（二錢）　生甘草（五分）</p>
<p>苦桔梗（一用淨臘雪水一大杯。和入長流水煎服。重者兩服。</p>
<h3>丹痧喉爛吹藥效方</h3>
<p>兼治口疳。</p>
<p>陳極牛膽星（三錢）　真西牛黃（五分）　真大珠（三錢）　人中黃（五錢）　生甘草（三錢）</p>
<p>干橘分）　射干（二上藥日晒。研極細末。藥料須擇道地者。預備分兩不可增減。瓷瓶裝貯。用管吹入患處立愈</p>
<h3>珠黃散</h3>
<p>專治口疳喉痛。</p>
<p>西牛黃（五分）　冰片（五錢）　真珠（六錢）　煨石膏（五兩）</p>
<p>共研極細末。盛瓷瓶內。勿令泄氣。用時吹入立愈。</p>
<h3>喉蛾散</h3>
<p>不論雙單蛾最效。</p>
<p>牆上喜蛛窠　以箸夾住燒灰存性。為末。加冰片（少許）吹入喉即愈。</p>
<h3>乳蛾方</h3>
<p>土牛膝根（洗淨）　搗爛取汁。和酒慢咽。</p>
<p>凡生乳蛾者。頭頂發內必有血泡一個。用銀針挑破出血。毒泄治之更效。</p>
<h3>爛喉痧方</h3>
<p>紅棗（四兩去核帶皮炙灰）　雄黃（七錢五分）　銅綠（二厘）　明礬（二厘）　冰片（二分）</p>
<p>麝共為細末。吹患處一夜即愈。</p>
<h3>治喉痹將絕方</h3>
<p>黑魚膽點入少許即瘥。重者水調灌之。</p>
<h3>金鎖匙</h3>
<p>治牙關緊閉。不能進藥神方。</p>
<p>巴豆壓油於紙上。即取紙捻成條子點旺吹滅。以煙氣熏入鼻中。一時口鼻流涎。牙關自開。</p>
<h3>萬金散</h3>
<p>治乳蛾喉閉神效。真萬金不傳之秘方。</p>
<p>豬膽（五六個）　黃連　青黛　薄荷　僵蠶　白礬　朴硝（各五錢）</p>
<p>臘月初一日。取膽將藥裝入膽內。青紙包固。挖地方深各一尺。以竹棒橫懸此膽在內。</p>
<p>蓋好</p>
<h3>治肺癰肺痿神方</h3>
<p>陳芥菜囟　每日溫服愈。</p>
<p>又方每日煮囟半杯。沖豆腐漿服。服則胸中一塊塞上塞下。塞至數次。方能吐出惡膿。日服至是兩</p>
<h3>治胃氣痛方</h3>
<p>陳干香圓（一只）切開蓋去穰。連蓋秤見重若干。配陽春砂仁亦若干。裝入香圓內。原蓋蓋好錢。</p>
<h3>二賢散</h3>
<p>治肝氣痛。常服除根。</p>
<p>鹽水炒橘紅　生甘草（等分）為末。每朝開水服二錢。日日服無間而愈。</p>
<h3>疝氣初發方</h3>
<p>生薑（四兩）　蔥（十莖）　大蒜（一枚去衣）　共打爛敷患處。將麩皮炒極熱。烘於藥外。</p>
<h3>治疝氣神方</h3>
<p>雄豬大腰子（一對）不落水。去膜及血。切作片。大茴香　小茴香（各一兩炒為粗末）　同腰子半碗收</p>
<h3>閃挫腰痛神方</h3>
<p>真橙子核（一錢五分）　製香附（一錢）　炒研為末。酒下三錢即愈。</p>
<h3>治濕氣陰囊腎子腫大方</h3>
<p>灶心土（三升）　砂鍋內炒熱。加川椒　茴香（各一兩）　研末拌勻。隔褲將陰囊坐在上面。</p>
<p>冷</p>
<h3>治漏肩風方</h3>
<p>穿山甲（炙）　生半夏　生南星（各一錢）　肉桂（三錢）</p>
<p>共為末。好醋調勻。為餅如錢濃。晒乾將口涎黏藥於痛處。用艾灸之。輕者一壯。重者三壯</p>
<h3>五聖散</h3>
<p>治鶴膝神方。有患此症五年者。敷藥三日即愈。</p>
<p>乳香　沒藥（各一錢五分）　地骨皮（五錢）　無名異（五錢）　麝香（一分）</p>
<p>為末。車前草搗汁入煮。酒調敷患處。</p>
<h3>螃蟹散</h3>
<p>治手指縫腫痛不可忍。若不早治。即爛入手。</p>
<p>鮮螃蟹　搗爛敷上。即愈。如無鮮者。以蟹黃蜜調塗。</p>
<h3>木瓜酒</h3>
<p>治香港腳腫痛。</p>
<p>木瓜（不拘多少為末）　杉木屑（少許）　好酒調敷患處。立止。</p>
<p>又方蔥　薑　艾葉（等分）　搗爛布包。蘸極熱燒酒擦患處。以痛止為度即愈。</p>
<h3>治鵝掌風方</h3>
<p>雄黃　穿山甲（等分）為末。卷筒火熏之。數次自愈。</p>
<h3>治手足裂縫方</h3>
<p>瀝青（二兩）　黃蠟（一兩）　熬膏敷之愈。</p>
<p>又方牛骨髓（不拘多少）　五倍子（炙少許）　為末。搗和填入縫內即合。</p>
<h3>傷寒截足方</h3>
<p>樟木（一段劈碎）煎濃湯調。遠年溺桶砂末。（一兩）陳小粉（酌用）敷在大熱痛處。</p>
<p>有奪命之功</p>
<h3>治脫肛方</h3>
<p>五倍子末（三錢）　白礬（一塊）　水一碗煎湯洗之。再用木賊草燒灰。搽肛上即收。</p>
<h2>婦人科</h2>
<h3>加味芎歸湯</h3>
<p>治一切橫生倒產。瀝漿生。交骨不開。子死腹中等症。大劑連服即產下。極神救急方也。</p>
<p>當歸（一兩）　川芎（七錢）　龜板（一個酥炙研末）　生男婦人發（一握瓦上焙存性）</p>
<p>水二碗。煎一碗服。如人行五裡許即生。</p>
<h3>胞衣不下</h3>
<p>無名異（三錢為末此漆匠煎油筌子）以鴨蛋白。調勻碗貯。次用老醋。（一茶杯）熱滾和藥同服</p>
<h3>保生無憂散</h3>
<p>治氣虛胞衣不下。腹中不痛者。</p>
<p>當歸　芎　白芍　枳殼　木香　甘草（炙各一錢五分）　乳香（另研）　血余炭（各五分）</p>
<p>水煎絹濾。入乳香末和勻服。</p>
<h3>益母丸</h3>
<p>治婦人虛勞經閉。胎前產後。一切百病無不神效。</p>
<p>益母草（八兩不犯鐵器摘碎風乾為末）　當歸　川芎　赤芍　木香（忌火）　清陳阿膠（各一兩為末煉蜜丸。如彈子大。照後湯引化下一丸。（或將此方煎膏亦妙）　胎前腹痛。胎動下血不無黑帶</p>
<h3>安胎便產神方</h3>
<p>專治一切產症。懷孕不拘月數。偶傷胎氣。腰酸腹痛。甚至見紅。勢欲小產即安。再服全愈。又或臨產。交骨不開。兒死腹中。橫生逆產。至六七日不產。命服此無不神效。但臨月多預服三五劑。即無難產之患。真濟世神方也。　藥料炮制兩須準。不可增減草率。以自誤。即俗名十二味。產後不可服。</p>
<p>蘄艾（醋炒）　厚朴（薑汁炒各七分）　當歸（酒洗）　川芎（各一錢五分）　白芍（酒炒一錢二分黃（八分）　川羌活　甘草（各五分）　枳殼（麩炒六分）</p>
<p>生薑三片。水碗半。煎八分。（預服者空心服若遇臨產及胎動不安皆隨時熱服）</p>
<h3>黃楊頭湯</h3>
<p>臨月服之。寬胸瘦胎易生。</p>
<p>黃楊頭（七個）　白糖（一撮）　真陽春砂仁（一粒研細末）</p>
<p>沖和朝晨服。不拘次數。</p>
<h3>千金保胎丸</h3>
<p>凡受孕三月而胎墮者。雖氣血不足。乃中衝脈有傷。中衝脈即陽明胃經。供應時。必須節飲食。絕欲。戒怒。兼服此藥。庶免小產之患矣。</p>
<p>白朮（土炒）　生地　杜仲（俱薑汁炒各四兩）　當歸　續斷（俱酒炒）　阿膠（蛤粉炒）　益母草蘇梗（三共為末。棗肉為丸。空心每服二錢。</p>
<h3>醋熏法</h3>
<p>治產後血暈如神。臨盆時。須預備。雖健婦順產。亦必不可缺。常令醋氣不斷為妙以好醋置房門口。投以火紅秤錘。令醋氣滿房。每日三四次。產後即行之。三日可止。</p>
<h3>蔥白熨</h3>
<p>治乳癰吹乳。登時立消。此方奇而穩。神效。</p>
<p>蔥白　連根洗淨。搗爛鋪患處。用平底瓦罐盛火灰熨蔥上。蔥熱蒸乳上。汗出即愈。或以蔥</p>
<h3>獨妙散</h3>
<p>治乳岩未破。</p>
<p>螃蟹殼（焙焦）　研細末。每服二錢。黃酒溫下。隔半日再進。調氣交通陰陽之法。如是行之</p>
<h3>半夏丸</h3>
<p>治一切乳毒初起。</p>
<p>生半夏（一個）為末。蔥白半寸。搗和為丸。綿裹塞鼻。左乳塞右。右塞左。一夜即愈。</p>
<h3>香附丸</h3>
<p>治乳　效方。</p>
<p>鮮橘葉（一兩石臼內搗爛）　童便製香附（五錢）　夏枯草花（五錢切碎）　青皮（五錢）　川貝母先將青皮香附晒乾為末。後入搗爛橘葉拌勻。再晒極干碾細。陳米飯為丸。不拘時。開水日</p>
<h3>乳癤方</h3>
<p>雞蛋殼（炙）　百部（炒等分）</p>
<p>研末。水泛為丸。如桐子大。每服三錢。用福珍酒。空心送下。</p>
<p>又方鮮芙蓉葉搗爛敷上。泡起即消。如干葉用雞子清醋調和圍上。即消。兼治一切外症。</p>
<p>又方用生生膏加真沉香末貼之效。（生生膏方在通治門）</p>
<h3>二陳攝本散</h3>
<p>治血崩不止。</p>
<p>陳棕櫚（燒灰存性）　陳阿膠（等分）</p>
<p>為末。每服三錢。酒下即止。</p>
<h2>小兒科</h2>
<h3>小兒馬牙方</h3>
<p>口　牙根生白點。不能食乳。</p>
<p>用銀針挑破出血。以薄荷湯磨好金墨。手指蘸墨遍擦。勿令食乳。待睡一晌方可。</p>
<h3>小兒吐乳方</h3>
<p>白蔻仁　砂仁（各七粒）　炙甘草（五分）　生甘草（五分）</p>
<p>為末。常搽入兒口中。或少入蜜。抹乳上。令食之。若直出不停留者。　炒麥芽（三錢）</p>
<p>橘紅（一錢）　丁香（三分）　水煎服立止。</p>
<h3>臍孔出水方</h3>
<p>牡蠣粉　川貝母粉　雲母粉　生甘草粉　陳壁土粉（等分）　摻臍中立愈。</p>
<h3>撮口臍風方</h3>
<p>西牛黃（三分）　薄荷（六分）　水半鐘。煎濃汁灌下七八匙。即愈。</p>
<h3>小兒赤游方</h3>
<p>糞坑底磚研末。麻油調塗。即愈。或用鱔魚血。塗之立效。須兼服煎藥。</p>
<p>煎方天花粉（一錢）　生大黃（五分）　川通草（五分）　水煎服。</p>
<p>又方黃柏（三錢）　黃連（一錢）　大黃（三錢）　冰片（三分）</p>
<p>為末。將豬苦膽一個。調敷患處。軟絹扎好。並治猴猻疳神效。</p>
<h3>小兒雪口方</h3>
<p>陳臘雪水。煎生甘草。（一錢）用新軟青布。蘸擦口內愈。</p>
<h3>小兒口中百病一切熱毒方</h3>
<p>牛黃　片腦　硼砂（各一分）　雄黃　辰砂　青黛（各二分）　朴硝（一分五厘）　黃連黃柏（為極細末。吹少許立效。</p>
<h3>走馬牙疳腐爛不堪方</h3>
<p>人中白（火　一錢）　銅綠（三分）　麝香（五厘）</p>
<p>為末。敷。先用米泔水洗淨。然後上藥。</p>
<h3>走馬牙疳方</h3>
<p>真西黃（一分）　風茄（炙存性二錢）　真珠（三分）　冰片（一分）　象牙屑（炙存性一錢）</p>
<p>同研極細末。以無聲為度。搽患處。</p>
<p>又方大棗（一枚去核）　坑砂（放滿棗子內用泥裹再將濕草紙包好在火炭內煨透去泥草紙單用棗擦疳上即愈。</p>
<h3>KT猻疳方</h3>
<p>水飛滑石（三錢）　青黛（一錢）　赤石脂（三錢）　生石膏（三錢）　冰片（二分）　白蠟（一錢）</p>
<h3>抱龍丸</h3>
<p>治小兒驚嚇傷心肝二經。唇青四肢搖動。起臥不安。</p>
<p>陳膽星（七分）　天竺黃（三錢）　明天麻（一錢七分）　赤芍（一錢）　川貝（一錢七分去心）</p>
<p>薄錢）　陳皮（共為細末。煉蜜丸。如芡實大。水飛朱砂為衣。每服一丸。開水下。有外邪淡薑湯下。</p>
<h3>治急驚風方</h3>
<p>石菖蒲（洗淨）　連根搗汁。少許飲之。用通關散吹鼻中取嚏愈。</p>
<h3>通關散方</h3>
<p>（兼治大人中風不省人事牙關緊閉有嚏可治無嚏難治）</p>
<p>生南星　生半夏　豬牙皂角（各等分）　研細末。吹鼻內。</p>
<h3>驚風神方</h3>
<p>白頸曲　（一二條）　用竹刀切斷。加麝香。（五厘）和搗爛塗臍內。加貼太乙膏扎緊。</p>
<p>周時而</p>
<h3>八寶丹</h3>
<p>治疳積。脾胃怯弱。不長肌肉。實者可用。虛者宜忌。</p>
<p>五穀蟲（一兩洗淨焙乾）　大蝦蟆（一個黃者佳）　山楂肉（蒸熟）　蓮肉（去心各二兩）　青黛（共為細末。砂糖拌勻。搗為餅。任兒食之效。</p>
<h3>治疳臌食積方</h3>
<p>五穀蟲　大麥芽　青皮　使君子（四味各等分）　山楂肉　肉果（二味減半）　為末。</p>
<p>開水送三</p>
<h3>愈瘧散</h3>
<p>治小兒瘧疾。無計可施。惟此最效。切忌入口。</p>
<p>代赭石（五塊燒紅醋淬）　朱砂（五分）　砒霜（一豆大）　用紙包七重。打濕煨干。</p>
<p>入麝香少許</p>
<h3>治蟲便方</h3>
<p>使君子肉（十四個半生半炒）搗末空心拌紅糖吃。蟲從大便出。若未盡。頻服以盡為度。</p>
<h3>治天泡瘡方</h3>
<p>蓮房殼（二枚　存性研末）　井泥調敷。</p>
<p>又方白荷花瓣（不拘）　晒乾研末。香油調搽。</p>
<h3>異傳不出天花方</h3>
<p>天麻子（揀肥大者三十粒去殼衣）　透明朱砂（一錢）　麝香（揀真當門子五厘）</p>
<p>上藥三味。先將朱砂麝香研極細末後。入天麻子共研成膏。於五月五日午時。擦小兒頭頂心俱要出痘數粒。次年端午再擦一次。出痘三粒再次年端午又擦一次。永不出痘。如未周歲之小兒。於七月七日。九月九日。依法擦之。更妙。男女治法皆同。傳方之家不出天花。已十三代矣。爰是刊布。以公於世。</p>
<p>又方凡嬰孩無論男女。於五月起。至八月有除日七個。每遇除日。用川楝子。揀肥大光潔不蛀不遍個用三十個。水十五碗。照前搗爛煎濃。洗擦。搗藥忌鐵器。非但不出痘。且免瘡癤。若不信。或手或足留一處。出時必聚在一塊。此系神方毋忽。</p>
<h3>急治小兒悶痘及毒重痘方</h3>
<p>小兒出痘三四朝時。或系悶症。或系火重。甚至二便下血。危急之至者。急覓活蟾蜍。</p>
<p>至少排放不（此方得自異傳經驗已久錄出布告共相備急倘遇嚴冬蟾蜍無處覓取可在野間向陽桑樹根頭掘下三四尺深即可得之蟾蜍蝦蟆俗名癩團）</p>
<h3>三豆湯</h3>
<p>專治痘毒。</p>
<p>赤豆　綠豆　黑豆　三味煎湯頻服。（不可多煎因豆之功俱在皮也）　外用豆腐渣。加冰片</p>
<h3>預防痘入目最妙法</h3>
<p>牛蒡子搗塗兒囟門。則痘可不入目。</p>
<p>又方白芥子（研末蜜調）　塗兩足心。引毒下行。目不出痘。</p>
<h3>痘出眼中</h3>
<p>新象牙磨水滴入眼中。其痘自退。可免眼瞎。</p>
<h3>痘疹濕爛不結痂方</h3>
<p>干綠豆粉（五錢）　天花粉（減半）　敷之愈。</p>
<h3>痘疳方</h3>
<p>雄牛屎尖（燒存性）　為末。每一錢。加冰片。（二分）　研細。吹患處立愈。</p>
<h3>痘潰膿水淋漓方</h3>
<p>多年蓋屋草。洗焙為末。摻之。痘後不收膿亦效。</p>
<h3>痘爛生蛆方</h3>
<p>嫩柳葉鋪席上臥。蛆盡出即愈。</p>
<h3>神燈照法</h3>
<p>川椒　艾葉　紅棗（去核）　芫荽　茵陳　乳香　白芷梢　陳香圓　安息香共為細末。作紙捻熏照。雖癢塌之痘。火到癢除。</p>
<h3>痘後齒病方</h3>
<p>專治小兒痘疹余毒。牙齦破爛出血。或成走馬牙疳。並治大人牙爛。口舌破碎人中白（一錢）　銅綠（一分五厘）　麝香（一分三厘）</p>
<p>共研末。先將濃茶洗淨口牙。後用指頭蘸藥敷立愈。</p>
<h3>痧痘後口疳方</h3>
<p>生半夏　生香附（等分）　瓦上焙為細末。加梅花冰片（少許）　用雞蛋白。在男左女右腳心中</p>
<h3>松香油</h3>
<p>治小兒禿瘡。</p>
<p>松香（研細）　裁尺余青布條裹之。以線扎條子。蘸香油燒旺。其滴下之油。以碗接之。</p>
<p>搽瘡</p>
<h3>胎癩方</h3>
<p>紫甘蔗皮（炙灰存性）　研末。加銅綠。（少許）　白糖（一撮）　磨油調搽立效。</p>
<h3>貢頭方</h3>
<p>杏仁（三錢）　蔥制松香（二兩）　輕粉（一錢）　蓖麻子肉（五錢）　銅綠（二錢）</p>
<p>杵成膏青布攤貼。</p>
<p>又方用制過銅杓罐子。研極細末。菜油調敷即愈。</p>
<h3>小兒手指濕毒方</h3>
<p>此症因弄晒熱之水。及檐漏水濕熱所變。重者身發寒熱。飲食不進。</p>
<p>青松頭燒煙熏之。指中出水無數。立刻干癟。若熏三次。永不復發。</p>
<h3>花葉膏</h3>
<p>治火丹。</p>
<p>鮮側柏葉　瓦花　共打爛。加大黃末和勻。醋調敷愈。</p>
<h3>鬼臉火丹方</h3>
<p>滿面頻出膿血。發癢難禁者。</p>
<p>爐甘石（二錢火　入黃連汁內淬三次）　輕粉（一錢）　熟石膏（二錢）　宮粉（七分）</p>
<p>冰片（一</p>
<h3>螞蟻火丹方</h3>
<p>大黃末　穿甲末　用木鱉子。磨汁調塗。</p>
<h3>子火丹方</h3>
<p>腹內有塊。身發寒熱者。</p>
<p>薏苡仁根（一兩）　打爛酒水各一盞煎。空心服兩次愈。</p>
<h3>抱頭火丹方</h3>
<p>先砭去惡血。以炒黑山梔　大黃　雄黃（等分）　為末。水調敷。或以雞蛋白。調雄黃末敷亦</p>
<h3>水蛇火丹方</h3>
<p>用伏龍肝（即灶心土）　水磨塗之。少頃水氣干後。藥上重新潮濕。乃是泡中之毒水也。</p>
<p>拔完</p>
<h2>外科</h2>
<h3>腫毒初起治法</h3>
<p>一切腫毒惡瘡初起。即用大蒜。（去皮）切如兩錢濃。安疽頭上。中通一孔。用棗核大艾炷於灸不先干</p>
<h3>蔥礬酒</h3>
<p>治一切疔毒惡瘡初起走黃。無不神效。</p>
<p>白礬（三錢）　蔥白（七莖）　同搗爛。分作七塊。用熱白酒送下。吃完蓋暖。出汗。</p>
<p>再飲蔥白</p>
<h3>赤豆散</h3>
<p>貼一切腫毒。</p>
<p>赤小豆　為末。和雞蛋白一半。調敷瘡之四圍。數次即消。</p>
<p>又方豬牙肥皂（去弦筋及子）搗爛。好醋調敷即愈。屢敷更妙。</p>
<h3>蔥蜜膏</h3>
<p>貼癰疽發背。疔瘡惡毒。有膿者。不可用此藥。切不可入口中。</p>
<p>蔥白（七莖）　生蜜（一兩）　搗勻敷患處。日換三四次。立消。先列數方。簡便之極。</p>
<p>人若能</p>
<h3>紫玉散</h3>
<p>專圍癰疽腫痛。大小一切外症。</p>
<p>白芨（八錢）　黃柏（四錢）　大黃（四錢）　薑黃（三錢）　南星（四錢）　東丹（五錢）　礬紅（二共為細末。用井水調敷。留頭。火紙摘碎蓋上。干則連紙自落。再敷不必水洗。並不可用天又方芙蓉花（或葉或根皮）　或生搗。或干研。和白蜜調塗四圍。中留頭。干則頻易。</p>
<h3>當歸膏</h3>
<p>專治發背癰疽。湯火傷。去腐生新。其肉搽至漸白方始毒盡。如外肉　干。爬連好揭作痛。用之即愈。並治一切濕毒　瘡。頭面疳瘡。膿窠瘡毒。小兒胎毒瘡癩。凡腐爛之症。無不效驗。</p>
<p>當歸（一兩）　大生地（一兩）　黃蠟（五錢）　白蠟（五錢）　真麻油（五兩）</p>
<p>先將當歸生地浸油內一宿。煎至枯浮。用絹濾去渣。次以黃白蠟入油熬化。攪勻成膏。</p>
<p>瓷罐</p>
<h3>黎洞膏</h3>
<p>治癰疽初起。及熱癤瘰　。俱效。並治　腮發頤。一切風毒之症。</p>
<p>象貝（一兩）　穿山甲（二兩五錢）　川貝（一兩去心）　紫花地丁（一兩）　蒲公英（二兩）</p>
<p>生甘陳橘核（五用大麻油浸煎熬成膏。以東丹酌收。油紙照症。攤貼神效。</p>
<h3>氣毒流注未潰方</h3>
<p>蔥白（不拘多少）　搗爛堆患處。以熨斗火隔紙運之愈。</p>
<h3>松香膏</h3>
<p>治瘰　結核。已穿未穿俱效。</p>
<p>白嫩松香（熔化置生布內絞去渣入水杓內頓滾扯拔至松脆為度淨末一兩）　蓖麻子肉（五錢研</p>
<h3>犀黃丸</h3>
<p>治乳岩瘰　。痰核流注。橫　肺癰。小腸癰。一切腐潰陰疽。神效。</p>
<p>乳香　沒藥（各一兩）　麝香（一錢五分）　犀黃（三分）</p>
<p>共為細末。取黃米飯。（一兩）搗爛研和為丸。如卜子大。晒乾忌烘。每服二錢。熱陳酒送下附制乳香沒藥法。　每藥一斤。用燈草心四兩。摘寸段。同炒至圓脆可粉為度。扇去燈心。</p>
<h3>替針丸</h3>
<p>追膿去腐止痛。</p>
<p>雄麻雀屎　乳香（去油）　沒藥（去油各三分）</p>
<p>為末。飛面丸。黍米大。晒乾用。利針撥破瘡頭。黏上膏藥。蓋之即破。</p>
<h3>神效生肌散</h3>
<p>乳香　沒藥　血竭　兒茶（各一錢）　珍珠　龍骨（各五分）　冰片　象皮（各三分）</p>
<p>為極細末。貯瓶塞口用。</p>
<h3>加味太乙膏</h3>
<p>治一切瘡口不收。貼之生肌長肉。</p>
<p>香麻油（一斤）　當歸（二兩）　生地（一兩）　生甘草（一兩）</p>
<p>三味入油內熬枯。以絲綿濾去渣。再入淨鍋煎熬。至滴水不散。入炒飛黃丹（八兩）　又慢火藥（去</p>
<h3>生肌紅玉膏</h3>
<p>治一切瘡不收口。用之呼膿。長肉。外科聖藥也。</p>
<p>白芷（五錢）　歸身（二兩）　紫草（二錢）　粉草（一兩二錢）　血竭（四錢）　白蠟（二兩）</p>
<p>真麻先以前四味。入油內浸三日。慢火熬藥枯黑。去渣入銅杓內。煎滾。下血竭化盡。次下白蠟外以</p>
<h3>治瘡成管方</h3>
<p>大蒜硬梗燒灰存性。研搽患處。其管自消。或覓梅樹上　衣蟲。炙灰存性。研末搽之亦消。</p>
<h3>翠霞錠子</h3>
<p>治年深冷漏。日久惡瘡。有歹肉用之。</p>
<p>銅綠　寒水石（　）　滑石（各三錢）　明礬　膩粉　砒霜　雲母石（各一錢二分五厘）</p>
<p>上研細末。糊為錠子。如席草粗。量瘡口深淺。　之修合。宜擇晴天。</p>
<h3>治疔毒初起方</h3>
<p>人中白（少許）　益母草連莖葉（炙）　存性為末。先用銀刀。十字劃開。去惡血摻末在內。</p>
<p>其又方　不拘何疔。雖已走黃。但看心頭未滿者可治。</p>
<p>用遠年糞坑內黑磚幾塊。帶水磨細。同甘草煎濃。收去渣服。服後用淨桶一只。候解出黑水又方用水煤研細。酒調服。服後照前。用淨桶候解毒水立愈。解後。用稀粥湯調補。真治急神方</p>
<h3>拔疔方</h3>
<p>地鱉蟲（一個）　以濕草紙包數重。瓦上炙。俟草紙成灰。剝出研末。黑糖油調敷。依根盤圍</p>
<h3>菊花酒</h3>
<p>治疔毒惡瘡。小水不利。</p>
<p>白菊花連根莖葉搗爛。入微水絞汁。熱酒溫服。渣敷患處。即止疼消腫。</p>
<h3>治指上蛇頭疔方</h3>
<p>干蜈蚣（一條）　瓦上焙。酒漿滴七次。焦枯連瓦放地上。至脆為末。加雄黃（一錢）　雞蛋（氣。</p>
<p>一周時效。痛極者。一日換四五次即效。</p>
<h3>治紅絲疔方</h3>
<p>手足間有黃泡。即起紅絲一條。走入心腹。令人悶亂。不救。皆因大喜大怒。氣血逆行所致</p>
<h3>散疔膏</h3>
<p>專敷一切疔毒。紅絲疔。蛇頭疔。及諸疽毒。其效如神。</p>
<p>的乳香　沒藥　真血竭　人言　兒茶（各二錢）　飛淨青黛　蟾酥　象皮（瓦焙各一錢）</p>
<p>當門上藥各秤準為細末。用大棗（十余枚去皮核）和藥入乳缽內。石捶打極勻為丸。如芡實大。</p>
<p>另勻。</p>
<p>塗於毒頂。以綿紙蓋之。一宿全消。如毒盛未盡。明日再塗一次。如有因寒熱口渴便秘等症。再服梅花點舌丹一丸。蓋暖取汗。無不應手而愈。</p>
<h3>梅花點舌丹</h3>
<p>治一切疔毒。惡瘡初起。天行瘟毒。咽喉腫痛等症。</p>
<p>梅花冰片（五分）　明雄黃（七分）　當門子（五分）　乳香（去油）　沒藥（去油）　飛淨朱砂硼砂（各一錢）　真西黃　血竭　沉香末　蟾酥（火酒化開和藥）　葶藶（各七分）　熊膽（五分）</p>
<p>珍珠淨末（四分）</p>
<p>上藥各研極細無聲。並用無病患乳汁和搗。再入蟾酥搗至極勻。丸如麻子大。外用金箔為衣丸。</p>
<h3>鳳仙膏</h3>
<p>治癰疽發背。杖瘡蛇傷。</p>
<p>鳳仙花連根莖葉。搗爛敷患處。一日一換。</p>
<h3>懸癰飲</h3>
<p>在肛門前陰根後交界處。初起如松子大。漸如蓮子粗。十日後如桃李樣。此方治之甘草　金銀花（酒炒等分）　濃煎空心服。或即將此二味煎膏。晨用開水點服更妙。</p>
<h3>紫蘇散</h3>
<p>治腎子爛出。</p>
<p>蘇葉（焙乾）　老杉木（燒灰等分）　為末敷。干以香油調敷。如囊無皮爛出者。以蘇葉或荷葉</p>
<h3>通仙五寶散</h3>
<p>治楊梅結毒。此方古今第一。</p>
<p>鐘乳石（三分）　朱砂　琥珀　冰片（各五厘）　珍珠（二分）</p>
<p>入炒飛面分半勻十二服。每日用土茯苓（一斤）水煎十二碗。清晨一碗。入藥一服溫服。</p>
<p>其茯忌酒</p>
<h3>紫金丹</h3>
<p>治楊梅結毒。疼痛腐爛。甚至咽喉唇鼻破壞。不拘久近神效。。</p>
<p>龜板（酒炙三次焦黃二兩）　石決明（　紅童便淬）　朱砂（各二錢）</p>
<p>為末。爛米飯丸。如麻子大。每服一錢。量病上下。食前後服之。筋骨疼痛酒下。　腐爛土魚口便毒（左為魚口右為便毒生於兩胯合縫之間結腫是也近之生於小腹之下陰毛之傍結腫名栝蔞（燒存性）　為末。黃酒下。（此治魚口初起）</p>
<h3>便毒奇方</h3>
<p>地榆（四兩）　川通草（一兩）　白酒（三碗）　煎一碗。空心服愈。</p>
<h3>橫神方</h3>
<p>雞蛋（一個）　白蒺藜（一合）　好酒煮蛋熟去殼服立愈。</p>
<h3>內消方</h3>
<p>治痔神效。</p>
<p>黃芩（五錢）　苦參（六錢）　防己（五錢）　天花粉（五錢）　連翹（五錢）</p>
<p>水二大鐘煎八分。初起者。服即見功。</p>
<h3>治痔方</h3>
<p>老甘草（一斤）　青鹽（半斤）　為末。水泛丸。桐子大。每朝服三四錢即愈。</p>
<h3>洗痔湯</h3>
<p>治肛門腫痛。下墜。無論新久。痛止腫消。</p>
<p>枳殼　天名精（各二兩一名地菘）　以河水三瓢煎數滾。先熏後洗。甚者三次即愈。</p>
<h3>護痔膏</h3>
<p>用此藥圍護四邊好肉。方上枯痔散。</p>
<p>白芨　石膏　黃連（各三錢）　冰片　麝香（各三分）</p>
<p>研末。雞蛋白調成膏。塗好肉上。</p>
<h3>枯痔散</h3>
<p>自有此藥。世上斷無不愈之痔。真神方也。</p>
<p>紅砒（不拘多少放舊瓦上火　白煙將盡取起）　枯礬（各一錢）　烏梅（燒存性二錢）</p>
<p>研極細末。用時以口津濕手。蘸藥於痔身痔頭上搓捻。一日二次。初敷不腫。五六日出臭水</p>
<h3>治管漏方</h3>
<p>象牙屑（焙黃）　為末。每早用熱雞蛋三個。蘸食五六錢。或入稀粥內吃。約服二斤自愈。</p>
<p>又方用田螺大者　灰存性。入冰片少許塗之。</p>
<h3>治管中有蟲癢極神方</h3>
<p>白楊樹皮　白楝樹皮煎湯。入新淨桶內坐上。熏蟲即出。</p>
<h3>甘草蜜</h3>
<p>治陰頭生瘡。</p>
<p>甘草　為末白蜜調敷愈。</p>
<h3>合掌散</h3>
<p>專治癩疥。陰囊瘡效方。</p>
<p>硫黃（一兩）　鐵鏽（一錢）　紅砒（六分）</p>
<p>共研極細如面。取蔥汁調和。塗入粗大碗內。勿使濃薄。以碗覆於瓦上。取艾置碗下熏藥。藥得熏干。敲藥碗聲同空碗無異為度。取藥再研極細。每遇滿身疥瘡。及繡球風。用藥一錢只有</p>
<h3>洗瘡方</h3>
<p>不論膿窠癩疥俱效。</p>
<p>白果樹葉不拘多少。先在石臼內搗爛。煎濃湯浴洗。重者五六次即愈。</p>
<h3>瘡藥方</h3>
<p>治癩疥膿窠俱效。</p>
<p>大蜈蚣（二條）　白苦參（二兩）　川萆　（一兩五錢）　白歸身（一兩）　穿山甲（一兩）　金銀花麻油（一斤）</p>
<p>煎膏加入小麻油。（三兩）調和擦搽周身愈。</p>
<h3>治癬蟲方</h3>
<p>川槿皮　肥皂　水浸。時時搽之。或浸汁磨雄黃尤妙。</p>
<p>又方白芨（切片焙）　槿皮（炒各等分）</p>
<p>為末。陳醋調。先放飯鍋上蒸熟。濃塗黏肌難脫。淨去隨愈。</p>
<h3>白禿瘡方</h3>
<p>松香（三兩蔥汁煮白）　白芷（二兩）　川椒（一兩）　東丹（一兩）　枯礬（一兩）</p>
<p>為末。菜油調搽。</p>
<h3>黃香油</h3>
<p>治禿瘡肥瘡。</p>
<p>松香（一兩）　雄黃（一兩）</p>
<p>為末。放竹紙上卷成條子。用菜油浸一宿取出。倒吊燒之。用一粗碗盛滴下之油。搽上立愈</p>
<h3>獨聖膏</h3>
<p>治　瘡妙方。</p>
<p>過爐甘石（不拘多少）　豬骨髓油調搽。　凡敷藥。先以防風。荊芥。銀花。甘草湯洗淨。</p>
<h3>治濕毒瘡方</h3>
<p>石膏（一兩五錢）　黃柏（一兩）　半夏（一兩）　赤石脂（五錢）　枯白礬（二錢）　緋丹（二錢）</p>
<p>共為末摻。如裙風濕毒痛癢者更效。</p>
<h3>爛腿瘡膏方</h3>
<p>陳棕櫚皮　生甘草粉　生地榆　川萆　青木香（各一兩）　青防風　黃柏末　稀　草細生用大麻油浸煎。如法用飛丹收成膏。油紙攤貼。</p>
<h3>治蟻漏驗方</h3>
<p>生項頸間。刺破水出。不能收口。緣食物中偶食蟻故患之。</p>
<p>穿山甲　燒存性為末。敷之立愈。干用豬脂調敷。</p>
<h3>蟻入耳中</h3>
<p>穿山甲　燒研水調灌入。</p>
<h3>治粉渣瘤方</h3>
<p>天花粉（一兩）　東壁土（五錢）　穿山甲（三錢）　川貝母（三錢去心）</p>
<p>為末和勻。摻現成太乙膏上貼之。即穿出渣而愈。</p>
<h3>治癭瘤初起方</h3>
<p>櫻桃核（醋磨）　敷之消。</p>
<h3>二黃散</h3>
<p>治坐板瘡屢效。</p>
<p>大黃　黃柏　為末入豬油。共搗勻搽即愈。</p>
<h3>蟹黃散</h3>
<p>治漆瘡聖藥。</p>
<p>蟹黃（晒乾）　同滑石研末。白蜜調塗。先以老杉木屑煎湯洗。</p>
<h3>治凍瘡方</h3>
<p>生薑（不拘多少）　搗絞汁。銅杓內熬濃。塗患處。覺熱辣難當愈。</p>
<h3>地榆散</h3>
<p>治湯火傷。拂上立刻即愈。</p>
<p>生地榆（晒乾）為末。香油調敷。破爛者干搽。傷重者。再用生蘿卜。搗汁一碗。灌下良久愈</p>
<h3>蛇纏腰方</h3>
<p>牛膝（一兩）　黃柏（五錢）　知母（五錢）　水酒煎服效。</p>
<h3>白蛇纏方</h3>
<p>白芨（八錢）　水龍骨（糞舡板上者佳）　研末。水調搽。</p>
<h3>螃蟹酒</h3>
<p>治渾身打傷。並治接骨。</p>
<p>生螃蟹（大者一只小者三只）　石臼內搗碎。滾黃酒沖服。其渣罨傷處。骨內穀穀有聲。</p>
<p>其骨</p>
<h3>土鱉酒</h3>
<p>治傷接骨神方。</p>
<p>地鱉蟲（十余個生搗）　絞汁用滾黃酒沖服效。</p>
<h3>止血散</h3>
<p>金槍第一方。</p>
<p>陳鍛石（八兩）　大黃（四兩切片）　同炒至鍛石桃花色。去大黃碾細收貯。遇傷敷上。</p>
<p>即時止</p>
<h3>蓖麻膏</h3>
<p>治竹木入肉。</p>
<p>蓖麻子　搗塗痛止即出。出即洗去。</p>
<h3>治刀斧傷血不止方</h3>
<p>紫降香（瓷瓦鐮刮下石碾研細忌鐵）　敷上即止。又無瘢痕。</p>
<p>又方天南星　血竭（等分）　研細末。敷即止。</p>
<h3>爛腳丫方</h3>
<p>白蔻仁　砂仁　澤瀉（各三錢）　研極細末。撒患處愈。先用甘草煎湯洗淨。</p>
<p>又方　爛甚發腫作膿。寸步難行者。</p>
<p>蒼朮（一錢）　枯白礬（五分）　小川連（五分）　生甘草（三分）</p>
<p>焙乾研極細末。加入冰片。（一分）先用甘草煎湯。洗淨患處。將新棉花蘸藥末些少摻上。</p>
<h3>瘋狗咬方</h3>
<p>急於無風處取出惡血。如無血以針刺出血。小便洗淨。外用香油調雄黃少加麝香敷。或即以加一以二再加聲。</p>
<p>又方用斑蝥七個去頭翅足。糯米四十九粒同炒。揀去斑蝥。將米研末。黃酒調服。毒從小便內出忌一擦破張景岳云。每見犯諸忌復發者不救。又見服斑蝥而死者亦有之。蓋斑蝥至毒。只用糯米同炒皆宜</p>
<h2>通治</h2>
<h3>寸金丹</h3>
<p>烏藥　防風　羌活　前胡　川芎　砂仁　厚朴　藿香　半夏　木香　紫蘇　薄荷　蒼朮香仁（一兩）</p>
<p>為末。另用神麯。（二十四兩）多搗生薑汁拌糊為丸。以水飛朱砂（二兩）為衣。每重一錢二分治男婦老幼。中風中寒中暑。口眼歪邪。牙關緊閉薑湯下。　傷寒時疫。頭疼脊強。惡寒發肚痛水調</p>
<h3>太乙紫金丹</h3>
<p>解諸毒。療諸瘡。山巒瘴氣。煙霧癘疫。利關竅通治百病。</p>
<p>山慈菇（二兩　有毛者可用須將四兩洗淨除毛切片晒乾焙研方得淨末二兩）　千金子淨霜（一片晒焙研錢）</p>
<p>麝香（揀五倍子秤一錢。晒桃根煎湯</p>
<h3>太乙救苦辟瘟丹</h3>
<p>麻黃（十六兩去根節晒取淨末一兩五錢）　杜蘇葉（二十兩晒取淨末一兩五錢）　升麻（五十兩三十兩）</p>
<p>末三十兩）</p>
<p>（二十六兩五倍（四兩真茅山去蘆根焙取淨末十五兩）　大半夏（二十兩滾水泡七次薑礬制晒乾淨末十五兩）　飯赤豆（七十炒取淨末六者佳去殼去（十四兩千烏（五十（三兩一錢研以上二十七味。選上好道地者。俱磨極細末。逐樣另自包好。擇天德月德黃道龍虎上吉日。</p>
<p>石臼每錠邪退昏急。惡菌河豚。死牛馬肉。鳥獸諸毒。　小兒急慢驚風。五疳五痢。癮疹瘡瘤。並昏憒不醒。</p>
<p>牙關緊閉。（以上諸症皆用薄荷湯磨服）　中風中氣。口眼歪邪。言語謇澀。牙關緊急。筋脈攣縮。骨節風腫。手腳疼痛。行步艱難。婦人腹中結塊。並月經過期不至。腹內作痛。或為邪所交。腹中作痞。但有孕不宜服。　男婦急中顛邪鬼氣。狂亂喝叫奔走。並失心羊頭諸顛等風。（以上諸症皆用好酒磨服）　頭疼太陽疼。用酒磨入薄荷細末。塗太陽穴。　瘧疾臨發時。取東流水。煎桃柳枝湯。磨服。　傳尸癆瘵。並女子為尸蟲所噬。用清水磨服。　病起倉猝。中風五癇中惡。溺縊壓魘。胸口尚熱。及怪迷死未隔宿者。皆用冷水磨灌。　赤痢痢血。涼水磨服。白痢薑湯磨服。　心脾痛酒磨服。或淡薑湯磨服。　牙疼酒磨塗患處。及含少許吞下。　諸痔便毒。堅硬未成膿者。若痛大小便難者。清水磨服。　癰疽發背。無名腫毒。對口天蛇頭等一切惡瘡。諸風癮疹。赤腫諸瘤。未破時皆用淡酒磨服。及用冷茶磨塗瘡上。日夜各數次。已潰不宜服。　湯火傷。虎傷鼠傷。蜈蚣傷。蛇傷。皆用水磨塗。並用酒磨服。　凡飲食中毒。瘴氣邪瘧。惡痢。用桃柳枝湯磨服。　婦人鬼胎鬼氣。用紅花湯磨服。此藥乃衛身至寶。萬勿火烘泄氣。鹽滓汗污穢觸。孕婦血癆忌用。</p>
<h3>蟾酥丸</h3>
<p>治諸般痧症神效。</p>
<p>上西黃（一錢）　蟾酥（五錢）　真茅朮（一兩）　飛淨朱砂（五錢）　明雄黃（五錢）</p>
<p>麝香（一錢共為極細末。端午日水泛為丸。如肥芥子大。輕者一粒。重者二粒。噙於舌底。化完立愈。</p>
<h3>黎洞丸方</h3>
<p>續筋接骨。疏風活絡。及一切外症。內服外敷效。</p>
<p>西牛黃（一兩）　參三七（十兩）　冰片（二兩二錢）　麝香（二兩二錢）　天竺黃（去石淨末十一兩）　錦紋大黃（淨末十一兩）　明雄黃（去石淨末十一兩）　的乳香（去油淨九兩）　沒藥（去油十一兩）</p>
<p>藤上藥十三味。用白蜜四斤為丸。每重一錢五厘。白蠟為殼。如遇跌打損傷。用酒送下。</p>
<p>余俱</p>
<h3>一粒珠方</h3>
<p>全穿山甲（一具　一足用好醋製　一足用松蘿茶制　一足用麻油制　一足用蘇合油制）</p>
<p>俱連一可用犀牛黃（三錢）　真珠（三錢）　大劈砂（四錢）　明雄黃（四錢）　原麝香（四錢）　梅花冰片（四共研極細末。加入蟾酥（一錢二分乳化飯鍋上蒸）再量入蘇合油。打和為丸。每丸干重三分。</p>
<p>專治一切無名腫毒。對口搭手。癰疽發背等症。已成即潰。未成立消。用人乳化開。真陳藤（三分）　橘紅（三分）　煎湯化服一丸。　悶痘初起。用白蘆根湯。化服一丸。（怯弱吐血疔症孕婦忌服）</p>
<h3>生生膏方</h3>
<p>生大黃（六兩）　當歸　丹皮　白芍　元參　白芷　地黃　升麻（各四兩）　肉桂（二兩）</p>
<p>用大煎成膏東丹收。或紙或布攤貼。　治一切外患。奇瘍初起。加上好冰片（少許）於膏上。</p>
<p>貼之香末物。</p>
<p>朱砂膏方　專貼一切無名腫毒。橫　乳癤。惡疽疔毒。未成者即消。已成者即潰。真神方也用蔥五六十斤。搗極爛絞汁。放鍋內投入嫩松香（五斤）　微火熬至蔥汁滾。松香化。取下俟稍冷。即以手在汁中揉松香幾百揉。然後再放火上再烊再揉。如此五六次。揉至松香色白無油為度。配入後藥。</p>
<p>當門子（五錢即頂高麝香）　樟腦（十二兩）　梅花冰片（一兩）　蓖麻子（一斤去殼研如泥另貯）</p>
<p>上除蓖麻子。余皆為極細末。將制好松香放於瓷缽內。隔水烊化取出。即以前藥末並蓖麻子著火</p>
<h3>觀音大士救苦神膏</h3>
<p>大黃（一兩）　香附（七錢）　三棱（一兩）　羌活（八錢）　白芷（八錢）　芫花（七錢）　蜈蚣（十戟（八錢）</p>
<p>蛇蛻（五錢）　巴豆（八錢）　皂角（八錢）　杏仁（七兩研）　細辛（七錢）　肉桂（八錢）　麻黃（八錢）　黃連（五錢）　甘遂（二兩）　川烏（一兩）　莪朮（一兩）　枳實（八錢）　獨活（七錢）</p>
<p>防風（七錢）　全蠍（七錢）　草烏（七錢）　元參（七錢）　蓖麻子（二兩研）　木鱉子（一兩研）</p>
<p>穿山甲（七錢）　天花粉（七錢）　五倍子（七錢）　當歸（一兩五錢）　密陀僧（四兩）　飛過黃丹（二斤四兩）</p>
<p>選道地藥材稱準。用大麻油（六斤）　浸瓷盆內五日。然後熬攤。熬膏時忌婦人雞犬沖破。</p>
<p>一偏正頭風左患貼左。右患貼右。正患貼印堂。兼卷條塞鼻孔中。口含甘草湯咽之。　一眼科七十二症。赤腫將耳上角。針刺血出貼上。星脹翳膜眷毛倒睫。迎風流淚等症。卷條左患塞左。右患塞右鼻。常服甘草湯。　一喉嚨三十六症。單蛾雙蛾。喉閉喉風。貼喉上。口含甘草湯。要速效。將膏口含化下。不服甘草湯。　一兩頤浮腫。風火牙疼。貼上即止。一諸般腹痛。胃口痛。丹田痛。即於痛處貼之。服甘草湯。　一中風癱瘓。左患貼左。右患貼右。服甘草湯。不省人事。痰聲如鋸。作丸如豆大。每服七粒。清湯送下。其痰立下。若口關緊閉。用鐵箸撬開。將水灌下。或再作條插鼻孔中。真有起死回生之功。　一癆瘵病。貼夾脊藥草含湯臍服便解而愈矣。　一瘧疾一日二日三日。俱貼肚臍。飲甘草湯。如發過四五次者。作丸早一時服下。飲熱酒數杯。即日便止。不可飲甘草湯。　一赤白帶下。貼臍下丹田。常服甘草湯。</p>
<p>一各種痢疾。俱貼胃口肚臍。四五日不愈。紅用圓眼殼核七個打碎。煎湯送丸下。白用荔枝甘不可服。　一小兒驚風。目翻上。氣喘痰壅不通。作條塞鼻孔。貼一膏於臍上。如急極作丸服之。勿飲甘草湯。　一小兒諸疳症。貼臍上。口疳貼牙床。口疳不必飲甘草湯。　一經閉不通。貼丹田。如病久。作丸服之。小腹上。用甘草末調敷。蔥汁塗之。不可服甘草湯。</p>
<p>一血塊痞積。貼臍上。並貼痞上。飲甘草湯。人健壯者。作丸日服。便泄為上。　一外科疔瘡。內服外貼。勿飲甘草湯。背疽一切癰癤毒。俱貼患處。日飲甘草湯作丸服。兼貼肺俞穴。勿服甘草湯。　一　瘡香港腳。針孔反貼上。蓋以紙帶縛定。一日洗換。十日愈矣。　一腸風下血。夢遺白濁。俱貼肚臍。飲甘草湯。　一痔漏。內則卷條插入。外則貼之。　一跌打損傷。貼患處。飲甘草湯。　一吐血鼻血。貼兩腳心。飲甘草湯。　孕婦忌用。</p>
<h3>法制清寧丸方</h3>
<p>錦紋大黃或十斤或百斤。米泔水浸半日。切片晒乾。入無灰酒浸三日。取出晾大半干。</p>
<p>第一次將大黃入甑內。用側柏葉墊底。蒸一炷香。取出晒乾。　每次俱用側柏葉悉要換過。</p>
<p>二次綠豆熬濃汁。將大黃拌透晒乾。蒸照前晒乾。</p>
<p>三次大麥熬濃汁。將大黃拌透晒乾。蒸照前晒乾。</p>
<p>四次黑豆熬濃汁。將大黃拌透晒乾。蒸照前晒乾。</p>
<p>五次槐葉熬濃汁。將大黃拌透晒乾。蒸照前晒乾。</p>
<p>六次桑葉熬濃汁。將大黃拌透晒乾。蒸照前晒乾。</p>
<p>七次桃葉熬濃汁。將大黃拌透晒乾。蒸照前晒乾。</p>
<p>八次鮮車前草熬濃汁。將大黃拌透晒乾。蒸照前晒乾。</p>
<p>九次每大黃一斤。用厚朴一兩。煎汁拌透晒乾。蒸照前晒乾。</p>
<p>十次每大黃一斤。用新會皮一兩。煎汁拌透晒乾。蒸照前晒乾。</p>
<p>十一次每大黃一斤。用半夏一兩。煎汁拌透晒乾。蒸照前晒乾。</p>
<p>十二次每大黃一斤。用白朮一兩。煎汁拌透晒乾。蒸照前晒乾。</p>
<p>十三次每大黃一斤。用香附一兩。煎汁拌透晒乾。蒸照前晒乾。</p>
<p>十四次每大黃一斤。用黃芩一兩。煎汁拌透晒乾。蒸照前晒乾。</p>
<p>十五次用無灰陳酒。拌透晒乾。蒸照前晒乾。</p>
<p>以上如法制度磨為細末。每末一斤。加黃牛乳二兩。童便二兩。薑汁二兩。拌勻搗千下。</p>
<p>丸頭痛不發熱。口渴薄荷湯下。　兩太陽疼。　本、白芷、石膏。各三錢。煎湯送下。　頭時瘡麻半和營中作痛。麥冬湯送下。　大便下血。槐花地榆煎湯送下。　白濁淋症。燈心湯送下。</p>
<p>胃脘作痛。薑湯送下。　傷寒出汗。不退熱。白滾湯送下。　傷風咳嗽不止。薑湯送下。</p>
<p>久嗽無痰。麥冬湯送下。　痢疾初起。紅者檳榔湯送下。白者薑湯送下。　久痢。甘草湯送下。紅白相間。薑皮燈心湯送下。　胸中時痛。口吐酸水。橘餅湯送下。　肥人忽然昏沉如醉。薑湯送下。　噎膈。薑湯送下。　胸膈飽滿。薑湯送下。　中暑。薑皮湯送下。　中熱。香薷湯送下。　傷酒。甘菊湯送下。　陰陽不和。霍亂。薑湯送下。　哮喘。大腹皮湯送下。　盜汗。浮麥湯送下。　驚悸。怔忡。石菖蒲湯送下。　小便不通。燈心湯送下。　肺癰。苡仁一合煎湯送下。　老年大便結燥。當歸湯送下。　筋骨疼痛。不能舉動反側。木通一兩煎湯送服四錢。三服即愈。　大腸癰。槐米湯送下。　黃膽。茵陳湯送下。　婦人經水不調。四物湯送下。　骨蒸發熱。地骨皮湯送下。　胸膈不寬。香附湯送下。　有孕小便不通。燈心草湯送下。　遍身發腫。大腹皮湯送下。產後頭暈。四物湯送下。行經紫色作痛。</p>
<p>蘇術煎湯沖薑汁送下。產後大便不通。歸身紅花湯送下。乳不能。王不留行湯送下。　產後惡露不盡。腹中行經時。遍</p>
