<header><h1>時方妙用</h1></header>
<dl class="元資料" data-type="book">
<div><dt>作者</dt><dd>陳念祖</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1644/1911">公元1644年至公元1911年</data></dd></div>
</dl>
<h2>序</h2>
<p>古之長吏。與民相親。飢為之食。寒為之衣。水旱疾疫。為之醫藥而調劑之。用能循績丕懋。仁聞遠覃。長樂陳修園孝廉。精軒岐術。作令三輔。適大水奉檄勘災恆山。出其方。</p>
<p>試而輒效。嗣丁丙艱旋裡。讀禮之暇。因刊時方歌括。時方妙用二書。夫上醫醫國。前人如狄懷英陸敬輿諸賢。家居時。率駢集驗方以自娛。亦以救世。物理論曰。醫者。非仁愛不可托也。非聰明理達不可任也。非廉潔淳良不可信也。修園行將廣其道以究心民瘼。希蹤古循吏者。豈直以術KT　售哉。</p>
<p><u>時</u></p>
<p><u>嘉慶癸亥至日趙在田序</u></p>
<p>醫有三。貫通靈素及仲景諸經之旨。藥到病瘳。曰名醫。講求唐宋以後方書。按證施治。</p>
<p>功多過少。曰時醫。　掠前醫。套襲模棱。以文其過。迎合而得其名。曰市醫。醫之不同如此。余友陳修園。精通醫理。閉門注經。以正千古相沿之誤。念當世名醫既不數覯。市醫又不可與言。唯於時醫中有誘掖無己之心。仕保陽。公余。著有時方歌括二卷。時方妙用四卷。</p>
<p>出以示余。余讀之。或連篇累牘而不繁。或寥寥數語而不漏。一字一句。皆古聖賢之心法。</p>
<p>從時。即從古也。爰為參訂圈點。顏曰公余醫錄。慫恿授梓。公之海內云。</p>
<h2>小引</h2>
<p>辛酉歲余能南宮試。蒙恩試令三輔。適夏間大水。奉檄勘災恆山。以勞遘疾。得寒厥證。</p>
<p>幾死。病間。自定湯服二服愈。時恆山東北。大為溫瘧患。誤於藥者比比。余憫之遂於公余。</p>
<p>采時方一百八首。韻為歌括。出繕本。付刀圭家按法療治。多所全活。越明年。</p>
<p>制府熊謙山先生見而許可。曰。子之意善矣。然有方而不審其用。則不足以活人且以殺人。子蓋明方意而廣之。適余丁內艱。弗果。今歲讀禮在籍。謹體先生壽世壽民意。續成四卷詩病原於一百八首中。且余讀靈素。宗仲景。向有經方之注。和者寥寥。偶以時方出。紙貴一時。投時好也。好在此。曷弗導之以此。時方固不逮於經方。而以古法行之。即與經方相表裡。亦在乎用之之妙而已。因顏曰時方妙用</p>
<p><u>時</u></p>
<p><u>嘉慶癸亥立春後一日修園陳念祖題</u></p>
<h2>卷一</h2>
<h3>望色一</h3>
<p>明堂圖。內部十四。外部十一恐倉卒間不能辨也。唯相傳額心鼻脾左頰肝右頰肺顧腎之法。簡捷可從。又須審其五色。以定五臟之病。（肝青。肺白。心赤。脾黃。腎黑。）色周於面者。辨其有神無神。色分於部者。審其相生相克。暗淡者。病從內生。紫濁者。邪自外受。</p>
<p>郁多憔悴。病久瘦黃。山根明亮。須知欲愈之　。環口黑黧。休醫已絕之腎。言難盡意。醫要會心。</p>
<p>經云。赤欲如帛裹朱。不欲如赭。白欲如鵝羽。不欲如鹽。青欲如蒼璧之澤。不欲如藍。</p>
<p>黃欲如羅裹雄黃。不欲如黃土。黑欲如重漆色。不欲如地蒼。青如翠羽者生。赤如鵝冠者生。</p>
<p>黃如蟹腹者生。白如豕膏者生。黑如鳥羽者生。靈樞曰。五色各見其部。察其浮沉。以知淺深。察其澤夭。以觀成敗。察其散摶。（音團）以知遠近。視色上下。以知病處。積神於心。</p>
<p>以知往令。</p>
<h3>望色二</h3>
<p>尸臭。（肉絕。）舌卷及囊縮。（肝絕。）口不合。（脾絕。）肌腫唇反。（胃絕。）發直齒枯。</p>
<p>（骨絕。）遺尿。（腎絕。）毛焦。（肺絕。）</p>
<p>面黑直視。　目瞑不見。（陰絕。）　目眶陷。目系傾。　汗出如珠。（陽絕。）　手撤戴眼。（太陽絕。）　病後喘瀉。（脾肺將絕。）　目正圓　。（不治。）　吐沫面赤。　面青黑。　唇青人中滿。　發與眉沖起。　爪甲下肉黑　手掌無紋。　臍突。　足趺腫。　聲如鼾睡。</p>
<p>脈足爪甲青或脫落。呼罵不休。（筋絕。八日死。）　眉息回視。（心絕立死。）　發直如麻。不得屈伸。自汗不止。（小腸絕。六日死。）</p>
<p>口冷足腫。腹熱臚脹。泄利無時。（肺絕。五日死。）脊骨疼腫。身重不可轉側。（胃絕。</p>
<p>五日死。）耳干。舌腫。溺血。大便赤泄。（肉絕。九日死。）口張。氣出不反。（肺絕。二日死。）　泄利無度。（大腸絕。）齒干枯。面黑。目黃。腰欲折。自汗。（腎絕。）</p>
<h3>望色三</h3>
<p>舌上津津如常。邪尚在表。見白苔而滑。邪在半表半裡。見黃苔而干燥。熱已入於裡。</p>
<p>見黑苔有二。如黑而焦裂硬刺者為火。極似炭之熱。苔如黑而有水軟潤而滑者。為水來克火之寒苔。又藍色為白色之變。為寒。紫色為紅色之變。為熱。此傷寒症辨法也。凡舌腫脹。</p>
<p>重舌木舌。舌生芒刺。舌苔黃燥。皆熱甚也。凡舌硬舌強舌短縮。舌卷。皆危症。又陰陽易。</p>
<p>出舌</p>
<h3>聞聲</h3>
<p>難經曰。聞其五音。以知其病。以五臟有五聲。以合於五音。謂肝呼應角。心言應徵脾歌應宮。肺哭應商。腎聲應羽是也。然此義深奧。非尋常所能揣測者。今以古人經驗簡易之法。列為聲。診脈之呻者。痛也。（言診時之呻吟。）言遲者。風也。（遲則寒溫風痰之症）</p>
<p>聲從室中言。此中氣有濕也。言將終乃復言者。此奪氣也。（謂氣不續。言未終止而又言之狀也）衣被不斂。言語罵詈。不避親疏者。神明之出也。（狂。）出言懶怯。先輕後重。此內傷中氣也。出言壯厲。先重後輕。是外感邪盛也。攢眉呻吟。苦頭痛也。呻吟不能行起。腰足痛也。叫喊以手按心。中脘痛也。呻吟不能轉身。腰痛也。搖頭而呻。以手捫腮唇。齒痛也。</p>
<p>行遲而呻者。腰腳痛也。診時吁氣者。郁結也。紐而呻者。腹痛也。形羸聲啞。癆瘵之不治者。咽中有肺花瘡也。暴啞者。風痰伏火。或暴怒叫喊所致也。聲嘶血敗。久病不治也。</p>
<p>坐而氣促。痰火為哮也。久病氣促。危也。中年人聲濁者。痰火也。診時獨言獨語。首尾不應。思慮傷神也。傷寒壞病。聲啞為狐惑。上唇有瘡。蟲食其臟。下唇有瘡。蟲食其肛也。</p>
<p>氣促喘息不足以息者。虛甚也。平人無寒熱。短氣不足以息者。實也。（實者是痰與火也）</p>
<p>新病間呃。非火逆。即寒逆。久病間呃。胃氣欲絕也。大抵聲音清亮。不異於平時為吉。</p>
<h3>問症</h3>
<p>凡診病。必先問是何人。或男。或女。或老。或幼。或外家婢童仆。問而不答。必耳聾。</p>
<p>須詢其左右。平素何如。否則病久或汗下致聾。問而懶答或點頭。皆中虛昏憒。不知人。非暴厥。即久病也。如婦人多中氣。診婦人。必當問月信如何。寡婦血氣凝滯。兩尺多滑。不可誤斷為胎。室女亦有之。又問其病於何日。（日少為新病實症居多。日多為久病。虛症居多。）曾食何物。（食冰而病。藥用冰煎若傷肉食用草果山楂之類。詳傷食本條。）曾有怒勞房欲等事。（怒則傷肝。勞則內傷元氣。房勞則傷腎。）及問初起何症。（如初起頭疼發熱惡寒。屬外感。如初起心腹疼痛及瀉痢等症。屬內傷。）後變何病。（如痢變瀉變瘧為輕。瘧瀉變痢為重。先喘後脹病在肺先脹後喘病在脾。先渴後嘔為停水之類。）今口渴思飲否。（口不渴。內無熱也。口渴欲飲為熱。老人口乾不須飲。主津液少苦。漱水不欲咽。主蓄血。主陰極發躁。）喜熱喜冷否。（喜熱內寒。喜冷內熱。）口中何味。（苦熱鹹寒。虛淡甘。脾熱成疳。</p>
<p>傷食口酸。）思食否。（傷食不思食。雜症思食。為有胃氣則生。若絕食為無胃氣則死。）五味中喜食何味。（喜甘脾弱。喜酸肝虛之類。）胸中寬否。（不寬。傷食痰積氣滯之症。）及腹中有無痛處否。（無痛。病不在內主虛。有痛處。主食積痰血之類。有痛處。手按則減者為虛。）大小便如常否。（小便秘。黃赤為熱。清白為寒。濁如米泔為濕熱下陷。大便秘為實。</p>
<p>久瀉久痢為虛。下黃赤為熱。下清白為寒。）足冷暖否。（足暖陽症。足冷陰症。乍冷乍溫便結屬陽。大便如常屬虛。）及平日勞逸喜怒憂思。及素食何物。（勞則氣散。逸則氣滯。喜傷心。怒傷肝。憂傷肺。思慮傷脾。恐傷腎素食濃味則生痰。醇酒則發熱。）種種問法。實為活人之捷徑。</p>
<h3>切脈</h3>
<p>內經分發臟腑左寸（心膻中）　左關（肝膽）　左尺（腎腹中）　右寸（肺胸中）　右關（脾胃）</p>
<p>右尺（腎腹中）王叔和分發臟腑　左寸（心小腸）　左關（肝膽）　左尺（腎膀胱）　右寸（肺大腸）</p>
<p>右關（脾胃）　右尺（命門三焦）</p>
<p>李瀕湖分發臟腑左寸（心膻中）　左關（肝膽）　左尺（腎膀胱小腸）　右寸（肺胸中）</p>
<p>右關（胃脾）　右尺（腎大腸）</p>
<p>張景岳分發臟腑左寸（心膻中）　左關（肝膽）　左尺（腎膀胱大腸）　右寸（肺胸中）</p>
<p>右關（脾胃）　右尺（腎小腸）</p>
<p>愚按大小二腸。經無明訓。其實尺裡以候腹。腹者。大小腸與膀胱俱在其中。王叔和以大小二腸。配於兩寸取心肺與二腸相表裡之義也。李瀕湖以小腸配於左尺。大腸配於右尺。</p>
<p>上下分屬之義也。張景岳以大腸宜配於左尺。取金水相從之義。小腸宜配於右尺。取火歸火位之義也。俱皆有至理當以病症相參。如大便秘結。右尺宜實。今右尺反虛。左尺反實。便知金水同病也。小便熱淋。左尺宜數。今左尺如常。而右尺反數者。便知相火熾盛也。或兩尺如常。而脈應兩寸者。便知心移熱於小腸。肺移熱於大腸也。一家之說。俱不可泥如此。</p>
<p>況右腎屬火。即云命門。亦何不可。三焦鼎峙。兩腎之間。以應地運之右轉。即借診於右尺。亦何不可乎。</p>
<h4>五臟平脈</h4>
<p>心脈浮大而散。肺脈浮澀而短。肝脈弦長而和。脾脈緩大而敦。腎脈沉軟而滑。○又有反關。脈在關後。必反其手診之。當詢其平日何如脈象。</p>
<h4>男女異脈</h4>
<p>男子陽為主。兩寸常旺於尺。女子陰為主。兩尺常旺於寸。乃其常也。反之者病。</p>
<h4>無病經脈</h4>
<p>經者。常也。醫者一呼一吸。病者脈來四至。為和平之象。或問。以五至為閏息。如歲運三年一閏。是我之息長。非彼之脈數也。</p>
<h4>脈分四時六氣</h4>
<p>十二月大寒至二月春分。為初之氣。厥陰風木主令。經曰。厥陰之至其脈弦。○春分至小滿。為二之氣。少陰君火主令。經曰。少陰之至其脈鉤。○小滿至六月大暑。為三之氣。</p>
<p>少陽相火主令。經曰。少陽之至大而浮。○大暑至八月秋分。為四之氣。太陰濕土主令。經曰。太陰之至其脈沉。○秋分至十月小雪。為五之氣。陽明燥金主令。經曰。陽明之至短而澀。○小雪至十二月大寒。為六之氣。太陽寒水主令。經曰。太陽之至大而長。</p>
<p>按近時只遵春弦夏洪。秋毛冬石。四季之末和緩不忒之訣。然氣之至有遲速。不必趨於捷徑。</p>
<h4>七怪脈歌</h4>
<p>（舊訣）</p>
<p>雀啄連來三五啄。（連連摶指。忽然止絕。少頃復來。如雀啄食。肝絕也。）屋漏半日一點落。（如屋殘漏下半時一滴。胃絕也。）彈石硬來尋即散。（沉於筋間。劈劈急硬如指彈石。</p>
<p>腎絕也。）搭指散亂如解索。（指下散亂。乍數乍疏。如索之解。脾絕也。）魚翔似有亦似無。</p>
<p>（本不動而未強搖似有似無。如魚之翔。心絕也。）蝦游靜中跳一躍。（浮於指下始則冉冉不動。少焉而去。久之忽然一躍。進退難尋。如蝦之游。大腸絕也。）更有釜沸涌如羹。（浮於指下。有出無入。無復止數。如釜湯沸。肺絕也。）旦占夕死不須藥。</p>
<h4>八脈該二十八字脈象</h4>
<p>舊訣。以浮芤滑實弦緊洪為七表。以沉微遲緩濡伏弱澀為八裡。以長短虛促結代牢動細為九道。不無可議處。浮沉遲數。為診脈四大綱。舊訣竟脫去數字。謬甚。當就李瀕湖李士材二十七字外。更增入大脈方足。然病無定情。脈不單見。學無頭緒。指下茫然。茲以浮沉遲數虛實大緩八脈為主。而以兼見之脈附之。總括以詩。為切脈之捷法。</p>
<p>浮。（輕手乃得。重手不見。）為陽為表。（除沉伏牢三脈之外。皆可互見。）浮而中空為芤。（有邊無中。如以指著蔥之象。）主失血。浮而摶指為革。（中空外堅。似以指按鼓皮之狀。浮見也。視芤脈。中更空而外更堅。）主陰陽不交。浮而不聚為散。（按之散而不聚。來去不明。）主氣散。</p>
<p>詩曰。浮為表脈病為陽。輕手捫來指下彰。芤似著蔥知血脫。革如按鼓識陰亡。（孤陽越於上。便知真陰竭於下矣。）從浮辨散形撩亂。定散非浮氣敗傷。除卻沉中牢伏象。請君象外更參詳。（浮。不沉也沉中諸脈俱不能兼。）</p>
<p>沉。（輕手不得。重手乃得。按至肌肉以下。）為陰為裡。（除浮革芤散四脈之外。皆可互見。）沉而幾無為伏。（著骨始得。較沉更甚。）主邪閉。沉而有力為牢。（沉而強直摶指。）</p>
<p>主內實。</p>
<p>詩曰。沉為裡脈病為陰。淺按如無按要深。伏則幽潛推骨認。牢為勁直著筋尋。須知諸伏新邪閉。可悟諸牢內實尋。除卻浮中芤革散。許多活法巧從心。（沉。不浮也。浮中諸脈。</p>
<p>不遲。（一息。三至或二至。）為在臟為寒。（除數緊促動四脈之外。皆可互見。）遲而時止為結。（遲中而時有一止也。但無定數）主氣鬱血壅痰滯。（亦主氣血漸衰。）遲而更代為代。</p>
<p>（緩中一止。不能自還而更代也止有定數。）主氣絕。（亦主經墜。有阻。妊詩曰。遲為在臟亦為寒。（脈經云。遲為寒。仲景云。遲為在臟。）一息未及四至彈。（一呼一吸。合為一息。一呼脈來二至。一吸脈來二至。合為一息四至。為平人之脈。遲則一息三至。或一息二至。至於一息一至。必死。）結以偶停無定數。（遲中一止也。）代因不返即更端。（一臟氣絕。其脈往而不能自還他臟因而更代之。須知此脈止有定數。）共傳代主元陽絕。還識結成郁氣於。除卻數中促緊動。諸形互見細心觀。（遲。不數也。數中諸脈不能兼見。）</p>
<p>數。（一息。五六至。）為在腑為熱。（除遲結代三脈之外。俱可互見。）數而牽轉為緊。</p>
<p>（如牽繩轉索。）主寒邪而痛。（亦主表汗。）數而時止為促。（數中時有一止。亦無定數。）</p>
<p>主邪氣內陷。數見關中為動。（形圓如豆。厥厥搖動見於關部。）主陰陽相搏。（主氣與驚。男亡陽。女血崩。）</p>
<p>詩曰。數為腑脈熱居多。（仲景云。數為在腑脈經云。數為熱。）一息脈來五六科。（謂一息五六至也。至七八至者危。）緊似轉繩寒甫閉。動如搖豆氣違和。數中時止名為促。促裡陽偏即是魔（陽盛為促。）除卻遲中兼結代。旁形側出細婆婆。（數。不遲也。遲中諸脈。</p>
<p>不能兼見。）</p>
<p>虛。（不實也。應指無力。浮中沉三候俱有之。前人謂豁然空大見於浮脈者非。）主虛。</p>
<p>（有素稟不足。因虛而生病者。有邪氣不解。因病而至虛者。）虛而沉小為弱。（沉細而軟。</p>
<p>按之乃得。沉見。）主血虛（亦分陰陽胃氣。）虛而浮小為濡。（如絮浮水面。○浮見。）主氣虛。（亦主外濕。）虛而模糊為微。（不顯也。指下不分明。若無若有。浮中沉皆是。）主陰陽氣絕。虛而勢滯為澀。（往來干澀。如輕刀刮竹之象。）主血虛。亦主死血。虛而形小為細。</p>
<p>（形如蜘蛛絲之細。指下分明。）主氣冷。虛而形縮為短。（寸不通魚際。尺不通尺澤。）主氣損。（亦主氣鬱。）詩曰。虛來三候按如綿。元氣難支豈偶然。弱在沉中陰已竭。濡居浮分氣之愆。癆成脈隱微難見。（指下不分明。）</p>
<p>病劇精干澀遂傳。冷氣蛛絲成細象。（以上皆言脈勢。唯細大長短。皆指脈形而言。細者形如蛛絲也。微與細相類。但微對顯而言。細對大而言。分別在此。）短為形縮郁堪憐。</p>
<p>實。（不虛也。應指有力。浮中沉俱有之。四言脈訣云。牢甚則實。獨附於沉脈者非。</p>
<p>大抵指下清楚而和緩。為元氣之實。指下逼逼而不清。為邪氣之實。）主實。實而流利為滑。</p>
<p>（往來流利。）主血治。（亦主痰飲。）實而迢長為長。（上至魚際。下至尺澤。）主氣治。（亦主陽盛陰虛。）實而涌沸為洪。（應指滿溢。如群波涌起之象。）主熱極。亦主內虛。實而端直為弦。（狀如弓弦。按之不移。）主肝邪。（亦主寒。主痛。）</p>
<p>詩曰。實來有力象悠悠。邪正全憑指下求。（脈來有力。指下清而不濁。滑長不兼洪弦之象。正氣實也。如指下濁而不清。但見洪緊。不見滑長。是邪氣實也。）流利滑呈陰素足。</p>
<p>迢遙長見病當瘳。洪如涌浪邪傳熱。弦以張弓木作仇。毫發分途須默領。非人渾不說緣由。</p>
<p>大。（即洪脈而兼脈形之闊大也。舊本統於洪脈。今分別之。）</p>
<p>詩曰。大脈如洪不是洪。形兼洪闊不雷同。絕無舞柳隨風態。卻似移兵赴敵雄。新病邪強知正怯。夙　外實必中空。內經病進真堪佩。總為陽明氣不充。（邪氣盛。則胃氣衰。故脈大而不緩。）</p>
<p>緩。（脈來四至。從容不迫。）主正復。（和緩之緩。主正復。怠緩之緩。主中濕。）</p>
<p>詩曰。緩脈從容不迫時。診來四至卻非遲。胃陽恰似祥光布。穀氣原如甘露滋。不問陰陽欣得此。任他久暫總相宜。若還怠緩須當辨。濕中脾經步履疲。（胃氣復。則邪氣退。故脈緩而不大。○緩者。主脈之氣象從容不迫而言。非指往來之遲緩也。遲字對數字言。遲則不數。數則不遲也。緩字所包者廣。遲中有緩。數中亦有緩。非淺人所可領會。故內經與大字對言。不與數字對言。其旨深哉。）</p>
<h4>節錄病機賦</h4>
<p>（修園重訂）</p>
<p>賦曰。能窮浮沉遲數虛實大緩八脈之奧。（八者。脈之奧也。）便知表裡寒熱盛衰邪正八要之名。（表者。病不在內也。裡者。病不在外也。盛者。本來氣血不衰也。衰者。本來氣血不盛也。寒者臟腑積冷也。熱者。臟腑積熱也。邪者。非臟腑正病也正者非外邪所中也。）</p>
<p>八脈為諸脈綱領。八要是眾病權衡。（量度諸病。申此八要也。）虛為氣血不實。舉按無力。</p>
<p>若兼弱澀之象。（舉者。輕手取之於皮膚之上。按者。重手按之於肌肉之內也。無力者。言指下舉按應指無力也。弱者。痿而不起也。主氣虛。澀者。往來干澀也。主血少。虛脈兼此二象。）實為氣血不虛。舉按有力。且該長滑之形。（長者。過於本位也。主氣有餘。滑者。</p>
<p>流而不滯也。主血有餘。實脈兼此二象。此以虛實二脈。探氣血盛衰之情也。）遲寒數熱。</p>
<p>紀至數多少。（平人脈。以四至為準。不及曰遲。一息三至也。太過曰數。一息六至也。經云。數則為熱。遲則為寒。此以遲數二脈。別其寒熱也。）浮表沉裡。在指下重輕。（輕手舉之於皮膚上即得。重按乃無。如水浮泛者曰浮。重手按至筋骨而得者曰沉。經云。浮為在表。</p>
<p>沉為在裡。此以浮沉二脈。別其表裡也。）緩則正復。和若春風柳舞。大則病進。勢若秋水潮生。（緩則胃氣復。如春柳之和。故邪退而正復也。病進而危。故脈洪大。如秋濤之洶涌。此以緩大二脈。驗其邪正也。）六脈同等者。喜其勿藥。（六脈者兩手六部之脈也。同等者。</p>
<p>脈息調勻。不治自愈。王肯堂誤解為大小浮沉遲數同等。不可從也。）六脈偏盛者。憂其采薪。（偏盛者。六部中那一部獨異也。又於那一部之中。推其於八脈中見出那一象也。王肯堂舊解亦誤。）</p>
<h4>脈有宜忌</h4>
<p>凡病內虛者。脈弱為宜。洪大則忌。病外感者。陽脈為宜。陰脈則忌。○有神者吉。和緩者吉。合於時令者吉。與面上五色中見那一色相生者吉。反是者凶。只此數語可遵。其余皆不經之言。不可信也。</p>
<h4>婦人脈法</h4>
<p>婦人兩尺盛於兩寸。常也。若腎脈微澀與浮。或肝脈沉急。或尺脈斷絕不勻。皆經閉不調之候。婦人尺脈微遲為居經。月事三月一下。血氣不足故也。</p>
<p>婦人三部浮沉正等。無他病而經停者。孕也。尺大而旺。亦然。左尺洪大實為男。右尺洪大實為女。（舊說。以左右尺為斷。然經云。婦人手少陰脈動甚者。妊子也。今以寸脈動滑。為斷左葉熊羆。右應鸞鳳之兆。）</p>
<p>體弱之婦。尺內按之不絕。便是有子。月斷病多。六脈不病。亦為有子。所以然者。體弱而脈難顯也。脈經曰。三部浮沉正等。按之無絕者。孕娠也。何常拘於洪滑耶。陰搏陽別。</p>
<p>謂之有子。言尺內陰脈摶指。與寸口陽脈迥別。其中有陽象也。婦人不月。脈來滑疾。重手按之散者。胎已三月也。和滑而代者。二月余之胎息也。重手按之。滑疾不散者。五月也。</p>
<p>婦人經斷有嘔。其脈弦者。後必大下。不成胎也。然有因病脈弦。又當保胎為務。氣旺。則弦自退矣。</p>
<p>陰虛陽搏謂之崩。言尺內虛大弦數。皆內崩而血下。妊娠七八月。脈實勞強大者吉。沉細者難產而死。</p>
<p>女人得革脈。曰半產漏下。得離經之脈。曰產期。離經者。離乎經常之脈也。蓋胎動於中。脈亂於外。勢之必至也。</p>
<p>新產傷陰。出血不止。尺脈不能上關者死。婦人脈平而虛者。乳子也。</p>
<p>婦人尺脈弱而澀。小腹冷惡寒。年少得之。為無子。年大得之。為絕產。</p>
<h4>小兒脈法</h4>
<p>小兒五歲以下。血氣未盛。經脈未充。無以別其脈象。故以食指絡脈之象彰於外者察之。</p>
<p>食指第一節寅位。為風關。第二節卯位。為氣關。第三節辰位。為命關。以男女左右為則。</p>
<p>紋色紫曰熱。紅曰傷寒。青曰驚風。白曰疳疾。淡黃隱隱為無病。黑色曰危。在風關為輕。</p>
<p>氣關為重。命關為危。脈紋入掌為內釣。紋彎裡為風寒。紋彎外為食積。及五歲以上。乃以一指取寸關尺之處。常以六至為率。加則為熱。減則為寒。皆如診大人法。</p>
<p>小兒脈亂身熱。汗出不食。食即吐。多為變蒸。小兒四末獨冷。鼓栗惡寒。面赤氣粗。</p>
<p>涕淚交至必為痘疹。</p>
<p>半歲以下。於額前眉端發際之間。以名中食三指候之。食指近發為上。名指近眉為下。</p>
<p>中指為中。三指俱熱。外感於風。鼻塞嗽咳。三指俱冷。外感於寒。內傷飲食。發熱吐瀉。</p>
<p>食中二指熱。主上熱下冷。名中二指熱。主夾驚。食指熱。主食滯。</p>
<h3>中風</h3>
<p>猝倒無知。牙關緊閉。痰涎上壅。危在頃刻是也。李東垣主氣虛。劉河間主火盛。朱丹溪主濕盛生痰。三子皆言中風之因。如作文之推原法。薛立齋趙養葵。言真水竭。真火虛。</p>
<p>肝鬱脾傷。及諸虛所致。更推展言之。總非正面文字。其曰風者。主外來之邪風而言也。其曰中者。如矢石之中於人也。此時因風治風。尚恐不及。其他奚論焉。小續命湯為第一諸說。</p>
<p>不足憑也。若謂是氣虛火盛痰多水竭火虛肝鬱脾傷及諸虛所致。為病日久。即未中風之前。</p>
<p>以大劑調養。非一兩月不效。豈於既中風之際。死生只在頃刻。尚可以一劑。回其氣虛。平其火勢。清其痰源。滋其腎水。溫其命火。及疏肝健脾。補養諸虛乎。必無是理也。如牛黃腦麝。及市上馳名丸藥。人尚知其劫傷元氣。不敢輕投。而數家之書。言似近理。其實偽君子之為害。更甚於真小人。（念祖）為活人計。不敢不得罪前人。而直辨其非。</p>
<p>脈喜浮大。（浮者。邪尚在腑也。大者。風為陽邪。陽症見陽脈也。若浮大鼓指。恐邪盛正衰。元氣欲脫。）忌沉小。（沉者。邪入臟也。小者。正氣衰也。其沉小而氣度和緩。來去分明。乃是吉兆。）</p>
<p>中經有六經之形證。宜</p>
<p><u>小續命湯。</u></p>
<p>（三十二）</p>
<p>中臟多滯九竅。故有唇緩失音鼻塞耳聾目瞀便秘之症。風自外來。故不外麻桂。手足抽掣。故兼用歸芍。二便阻隔。故用滑石硝黃。宜</p>
<p><u>防風通聖散。</u></p>
<p>（五十六）</p>
<p>中腑多著四肢。故有半身不遂手足不隨左癱右瘓之形。</p>
<p>中血脈。外無六經之形症。內無便弱之阻隔。唯口眼　斜。或左或右。</p>
<p>偏左。宜</p>
<p><u>六君子湯。</u></p>
<p>蓋左半雖血為主。非氣以統之。則不流也。（二）</p>
<p>偏右。宜</p>
<p><u>四物湯。</u></p>
<p>蓋右半雖氣為主。非血以麗之。則易散也。（九）</p>
<p>二湯俱加竹瀝薑汁。以行經絡之痰。再加僵蠶鉤藤天麻羚羊角。以熄風活絡。或加附子以固陰。肉桂以通陽。黃　以勝風。</p>
<p>中風不語。宜</p>
<p><u>資壽解語湯。</u></p>
<p>（三十九）</p>
<p>舌強不能言。足廢不能行。宜</p>
<p><u>地黃飲子。</u></p>
<p>（三十）</p>
<p>中風死症。多是風中帶寒。其症。口開為心絕。手撒為脾絕。眼合為肝絕。遺尿為腎絕。</p>
<p>聲如鼾睡為肺絕。汗出如油為元氣內絕。發直目上視。面赤如妝。汗綴如珠。法在不治。用藥若遲數刻。即死矣。急用三生飲一兩。加人參一兩。（一百零四）</p>
<p>按三生飲中。近時附子俱以鹽腌過烏頭。非四川產者無力。愚用熟附子一兩。乾薑五錢。</p>
<p>炙甘草四錢。一服汗略止。再服眼睛略動。三服加人參三錢。漸有生意。必須半日服三劑。</p>
<p>中風愈後。照劉朱李薛諸法。緩緩調治之。</p>
<p>愚按。開竅以驅風。非是正法。內經重在填竅。金匱有侯氏黑散風引湯二方。是補天手段。</p>
<p><u>附小續命湯六經加減並針灸法</u></p>
<p>如中風無汗惡寒。依本方。麻黃杏仁防風各加一倍。又宜針至陰出血。（穴在足小指外側甲角。針一分。）昆侖。（穴在足外踝後踝骨。針透太谿。）○如中風有汗惡風。依本方桂枝芍藥杏仁各加一倍。又宜針風府。（穴在項後入發一寸。針入三分。禁灸。）以上二症。皆太陽經中風也。如中風有汗。身熱不惡寒。依本方。加石膏知母各二錢。甘草再加一倍。去附子。○如中風有汗。身熱不惡風寒。本方加葛根桂枝黃芩再加一倍。宜針陷谷。（穴在足大趾次指外間骨節後陷中。針入五分。）去陽明之賊。兼刺厲兌。（穴在足大趾次趾端去爪甲如韭葉許。）以瀉陽明之實也。以上二症。皆陽明經中風也。</p>
<p>如中風無汗身涼。依本方。附子加一倍。乾薑加二倍。甘草加二倍。又宜刺隱白。（穴在足大趾內側。去爪甲角如韭葉。）去太陰之賊。　此太陰經中風也。如中風有汗無熱。依本方。桂枝附子甘草各加一倍。又宜針太谿。（穴在足內踝後跟骨上陷中。針透昆侖。）此少陰經中風也。</p>
<p>如中風六經混淆。系之於少陽。或肢節蠻痛。或麻木不仁。依本方。加羌活連翹。又於少陽之經紀骨穴。（在足外踝上三寸。灸五壯。）灸以引其熱。取厥陰之井大敦穴。（在足大趾甲聚毛間。）刺以通其經。　此少陽厥陰經中風也。</p>
<p>新按（受業侄鳳騰注。諸書逐而散之。風散即為氣散。生而亦死。茲法養以和之。氣和即為風和。死可回生。為風症補千古所未及。）壬戌歲。（念祖）在保陽供職。</p>
<p>制憲熊大人召診。診得兩手脈濃而長。唯左手兼些弦象兩寸略緊。（念祖）謂脈濃得土之敦氣。以濃道載濃福。脈長壽亦長。非諛語也。但弦為風脈。緊為痛脈。緊在兩寸。恐上半身有痹痛等症也。大人云。所言俱對。但背上及手腕痛。或愈或作。約有五年余。指頭麻木。</p>
<p>十年前頗甚。今略麻而不木矣。（念祖）曰。風在骨節而作痛。妙在痛處。痛是氣血與風邪相拒。非若偏枯之不痛也。書謂中指麻木。三年內必有中風之患。以中指屬手。心主之經故也。</p>
<p>今拇指食指為甚。特肺與大腸之氣不調。不甚為害。然必須治之於早也。</p>
<p>薛氏云。服風藥。以預防中風。適以招風取中。（念祖）師其意。而不用其方。擬用黃五物湯常服。</p>
<p>黃　桂枝尖　生芍藥（以上各二錢）　生薑（四錢）　大棗（二枚擘）　水煎服。</p>
<p>昔人云。人在風中而不見風。猶魚在水中而不見水。風。即氣也。人在氣交之中。得風以生。即宋儒所謂和風一至。萬物皆春是也。因風以害。即釋氏所謂業風一吹。金石烏有是也。人身五臟。而肝為風臟。乃生死之門戶。無病。則風和而氣息脈息俱和。不見其為風。</p>
<p>有病。則風疾而氣息脈息亦疾。遂露出風象。甚至目直手足動搖抽掣汗出如珠痰涎如涌等症。</p>
<p>大顯出風象。治之不及矣。唯指頭麻木時。或眩運時。或歷節作痛。病未甚而治之於先。則肝得所養。斯不為風病矣。肝屬木而主春。陽春有腳。能去而亦能來。別有所以留之之道。</p>
<p>吾於邵子之詩悟之。內經云。神在天為風。又曰。大氣舉之。莊子云。萬物以息相吹也。孟夫子謂塞乎天地之間。佛經以風輪主持大地。異同處實有一貫之道焉。茲方也。認定肝為風臟。取桂枝通肝陽。芍藥滋肝陰。陰陽不偏。是為和氣。亦即和風也。盈天地間。皆風而皆氣。氣貴善養。黃　之補。是養氣章勿忘工夫。大棗之緩。是養氣章勿助工夫。且倍以生薑之雄烈。所以還其剛大浩然之體段。聖賢之一言一字。包函萬有。自可以互證而益明。</p>
<p>又擬丸方。（時常服食之方。與救病之方不同。故取和平之藥。與五穀五菜同功。古云藥以治病。食以叢丸。此方取義等於食物。即勿藥意也。）</p>
<p>熟地黃（六兩。）　HT　潛白朮（六兩。米泔浸一宿。去皮切片。飯上蒸。）　懷山藥（三兩。生薑汁拌炒。）　甘枸杞（三兩。隔紙烘。）　川附子（二兩炒。）　上肉桂（一兩去皮。</p>
<p>不見火研。）　人參（二兩。飯上蒸軟。切片隔紙烘研。）　鹿茸（去毛切片。酥炙。勿傷焦。）</p>
<p>麥冬（二兩。紹酒潤晒烘。）　五味子（二兩。鹽水浸炒味）　依制研末。煉白蜜丸如桐子大。</p>
<p>用朱砂此方。與黃　五物湯相表裡。黃　五物湯。補氣以治風。所重在肝。肝為風臟。風者。</p>
<p>天地之噫氣也。氣和即風和。鼓舞動蕩。無有不周。即孟子所謂塞乎天地之間是也。此方補腎。亦是養肝。肝屬木。為東方之生氣。莊子云。野馬也。塵埃也。生物之息以相吹也。然而木生於水。乙癸同源。所重尤在於腎。內經云。腎藏志。又云。腎者。作強之官。夫曰作強。則為剛大浩然之根本。即孟子所謂夫志氣之帥是也。聖賢言包萬有。雖養氣章主學問而言。而尊生之道。亦在其中。自漢醫後。無一人談及。鮮不以（念祖）之論為創。其實有所本而言。</p>
<p>方中。熟地補先天腎水。白朮補後天脾土。然欲補腎。必先聚精。故取枸杞函精氣之完足。以佐熟地所不及。欲補脾。必先濃土。故取山藥具土氣之沖和。以佐白朮所不及而為脾腎之總根者。則在命門。命門之外。為兩腎坎外之耦也。兩腎之中。為命門。坎中之奇也。</p>
<p>方中。附子入命門血分。肉桂入命門氣分。二藥溫養水臟。為生生之本。即邵康節先生所謂地下有雷聲。春光彌宇宙是也。又合生脈散（人參五味麥冬。）之酸甘化陰。俾辛熱之陽藥不。再加鹿茸為血氣所長。較無情之草木倍靈。外以朱砂為衣者。取其色赤入心。</p>
<p>內經云。心藏神。腎藏志。朱子論語注云。心之所之之謂志是也。各家之說不足憑。而內經為三墳之一。證之聖經賢訓。字字相符。醫與儒。原非二道也。</p>
<h3>癆症</h3>
<p>前人分別名色最多。其實鋪張語。臨症之際。反啟人多岐之惑。大抵外感內傷。七情過用。皆能致之。其症倦怠少食。或常畏寒。或常發熱。或寒熱往來。氣色日見憔悴。肌肉日見消瘦。即將入癆症之門。若咳嗽不已。吐血時止時來。是既成癆症。法在不治。二症另立一門。宜參看。</p>
<p>凡脈。極大極小極虛。皆癆也。但漸緩。則漸漸有生意。若漸數。則漸入死門。若數而兼緊弦。十不救一。左右關俱弦。死期不遠。</p>
<p>昔人謂此症服寒涼之藥必死。愚以為不盡然。火盛抽薪。正不可無權宜之計。火平即舍去。亦何害哉。且寒涼之藥不可久服。人人俱知也。唯滋陰降火。及不涼不溫之品。最足誤人。余每遇癆病之家。未診時。見其案上有薛氏醫按景岳全書醫方集解本草備要等書。曰以麥門冬代茶。則不復與診。知其中於藥魔。定其必死也。余素不喜寒涼。姑以寒涼方之不可棄者。首列之。</p>
<p>肺痿聲嘶。喉痹咳血煩躁。宜</p>
<p><u>滋腎丸。</u></p>
<p>（九十四）</p>
<p>小便癃閉者。亦宜之。</p>
<p>血熱妄行。脈洪大。身壯熱。或吐血。或衄血。宜</p>
<p><u>四生丸。</u></p>
<p>（一目）</p>
<p>吐血便血。婦人血崩血淋。及傷寒斑黃未已而吐血者。宜</p>
<p><u>犀角地黃湯。</u></p>
<p>（九十九）</p>
<p>骨蒸發熱。日靜夜劇。及婦人熱入血室。胎前發熱者。宜</p>
<p><u>地骨皮散。</u></p>
<p>（九十五）</p>
<p>午後發熱。盜汗不止者。宜</p>
<p><u>當歸大黃湯。</u></p>
<p>（六十五）</p>
<p>吐血衄血盈盆盈斗者。忌驟用苦寒及辛溫之藥。急用後方。服後熟睡。勿觸其醒。則立可重生。一夜復元。宜</p>
<p><u>獨參湯。</u></p>
<p>（八）</p>
<p>胃中濕熱。身黃溺赤。口瘡牙床糜爛。吐血衄血。宜</p>
<p><u>甘露飲。</u></p>
<p>（八十七）</p>
<p>感秋燥之氣。咳嗽不已。宜</p>
<p><u>瀉白散。</u></p>
<p>（八十六）</p>
<p>感秋燥之氣。洒淅惡寒。寒已發熱。漸至咳嗽誤以參木補之。致肺中之熱。無處可宣。</p>
<p>急奔大腸。食入。則不待運化而出食不入。而腸中之垢。亦隨氣奔出。瀉痢不休。宜以潤肺之藥兼潤其腸。則源流俱清。寒熱咳嗽泄利。一劑俱止。此喻嘉言得意之法也。宜</p>
<p><u>瀉白散</u></p>
<p>去粳米。如黃芩阿膠杏仁。</p>
<p>夢遺失精。及夢與鬼交。宜</p>
<p><u>封髓丹。</u></p>
<p>（七十四）</p>
<p>午後發熱。腰痛足酸。服六味丸不效者。宜</p>
<p><u>大補陰丸。</u></p>
<p>（二十三）</p>
<p>氣上逆。煩熱嘔吐。若驚悸不眠。宜</p>
<p><u>溫膽湯。</u></p>
<p>加真阿膠棗仁。（九十）</p>
<p>氣　郁之屬於肺者。屬於肺之燥也。諸痰喘嘔之屬於上者。亦屬於肺之燥也。宜</p>
<p><u>清</u></p>
<p><u>燥救肺湯。</u></p>
<p>（七十六）</p>
<p>以上諸方。雖曰寒涼。卻能培養生氣。為癆門不可少之方。亦是權宜暫用。為癆門不可恃之方。</p>
<p>癆字從火。未有癆症而不發熱者。世醫以若寒為戒。謂滋陰一法。最為妥當。而不知此症多是陰盛為病。滋陰是益其病也。人皆曰。陰虛則火動。吾獨曰。陰盛則火動。何以言之。</p>
<p>心肺在上。陽之位也。胸中之陽宣布。如日月一出。爝火無光。何有發熱之病。唯下焦之陰氣一盛。上干陽位。足太陰脾之濕氣動而為水飲。干於手太陰肺。則咳嗽不已。足少陰腎之寒氣動而為陰血。干於手少陰心。則吐血不休。虛癆以此二症為提綱。非陰盛所致而何。且心肺之位。如太空也。下焦之陰氣上衝。陰霾密布。白晝亦如長夜。不獨燈燭之火有光。</p>
<p>即腐草螢蟲。俱能生光。豈非陰盛火動之一證乎。況人身中有龍雷之火。非諸經之火可比。</p>
<p>然必陰云四合。而龍雷方得遂其奔騰之勢。而烈日當空。雷龍潛伏矣。以下諸方。皆退熱之良法。學人須當細玩。</p>
<p>一仲景法。以小建中湯為主。方中桂枝生薑。宣胸中之陽。即所以除陰火也。後人識見不及古人。慮薑桂之熱。只用溫補之品。東垣云。參　甘草。為瀉火之良藥。又云。甘溫除大熱。視古方雖低一格。猶有先民之矩　。</p>
<p>宣肺陽。則天氣清明。地氣不能蒸濕而為云。而龍雷之火不作。為退熱一大法。計八方。</p>
<p>保元湯。（七）補中益氣湯。（五）當歸補血湯。（六）四君子湯。（一）六君子湯。（二）五味異功散。（四）香砂六君子湯。（三）歸脾湯。（二十一）</p>
<p>以上八方。皆手足太陰之藥補也。退熱進食除痰止血極驗。唯咳嗽一症。方由飲邪方中人參。其味甘苦屬陰。其質柔潤多液助濕非飲症所宜。故仲景於咳嗽症。去人參。加乾薑五味。或再加細辛三味為主。寒熱燥濕之藥隨宜加入。其法最妙。不可不知。如肺燥肺熱。人參又為要藥。</p>
<p>宣心陽。則離光普照。爝火無光。又為退熱一大法。計十方。</p>
<p>附子理中湯。（一百零七）近效朮附湯。（一百零六）人參養榮湯。（十二）聖愈湯。（十八）正元丹。（二十）二加龍骨湯。（三十二）黑錫丹。（三十）朮附湯。（一百零五）　附湯。</p>
<p>（一百零五）參附湯。（一百零五）</p>
<p>以上十方。皆手足少陰之藥。治驗同前。通有流精氣扶元氣補火以攻水之妙。但吐血症。</p>
<p>以理中湯照古法等分煎服神妙。或照仁齋直指。加木香當歸亦妙。所以妙者。血得暖。則循行經絡。乾薑與甘草並相之功也。或用炙草四錢。乾薑炮黑二錢。三味子二錢煎服。亦妙。</p>
<p>引火歸源。用八味丸。自薛立齋張景岳以後。皆奉為枕中之秘。其實治標之法。不可常服。</p>
<p>余每見久服滋陰之劑。發熱日甚。後醫翻前醫之案。謂熱藥固不可用。而以地黃滋陰之品。</p>
<p>倍用以制其毒。則能引火歸源。其熱氣退。投以八味地黃湯等。初服一二劑如神。再服一二劑。不甚見效。再服三四劑。虛症大作。其熱如焚。病家或疑桂附之誤。而更醫。或信任不疑。而歸咎於附子之制法不佳。其肉桂之產非道地。視二藥如鴆。遂以滋陰者枉其歸陰。所以然之故。千古無一人悟。及余謂一一明之。蓋陰氣居於陽位。邪火因而竊動。忽得桂附扶胸中之陽。則邪火自然退聽而不敢動。故初服而效。至三四服而不效者。習以為常也。至五六服而發熱更甚者。桂附陽藥之少。不敵地黃一派陰藥之多也。或曰數方中陰藥數倍於陽藥。陽藥固掣肘而不盡其量。宜其不效。何以前效而後不效歟。余曰。此問正不可少。個中機關。必須識破。然後可以得病情。凡陰藥性柔而行緩。緩則相續而不絕。陽藥性剛而行急。急則迅發而無余也。胃如分金之爐。一柔緩而逡巡不進。一剛急而捷足先登。入咽之後。</p>
<p>但見桂附之扶陽。若忘地黃之滋陰。故初服而效。至於數服。桂附雖烈。無如前日之地黃等藥。緩行未了。又得新入之地黃以助之。勢可相敵。故三四服不甚見效。乃服至五六劑而大發者奈何。蓋以每日所服之桂附。如火一發而無余。而同劑中之地黃等藥。如水之漸注。</p>
<p>不驟之積日多。些少之桂附。安能與之為敵。宜其服之增熱也。天地間兩可之見。最為誤事。</p>
<p>不可不知。</p>
<p>八味地黃湯。（十五）全真一氣湯。（三十一）十味地黃丸。（十九）</p>
<p>癆症愈後。不可無調養之法。丸劑優於湯藥。宜八味地黃丸。（十四）天王補心丹。（十三）龜鹿二仙膏。（十七）還少丹。（十七）全鹿丸。（二十五）八味地黃丸。（十五）加味虎潛丸。（二十四）</p>
<h3>附錄慎柔五書</h3>
<p>凡久病服寒涼。氣伐過多。以至三陽氣衰。痰凝氣滯。以調元之劑治之。陽氣一動。則少陽先升。少陽欲先出。前有太陽。後有陽明。遏截不能伸。少陽之氣至太陽。太陽與之並則寒。與陽明並則熱。適成寒熱瘧狀。非真瘧也。其太陽氣達。遂有傷風之狀。鼻塞惡風寒之症見矣。陽明氣達。則有作瀉之症。此時正當調脾補元。分頭施治。則舊病盡脫矣。</p>
<p>損病。六脈俱數。聲啞口中生瘡。晝夜發熱無間。經云。數則脾氣虛。此真陰虛也。用四君。加黃　山藥蓮肉白芍五味子麥冬煎。去頭煎不用。止服第二三煎。此為養脾陰秘法也。</p>
<p>服十余日。發熱漸退。口瘡漸好。方用丸劑。如參苓白朮散。亦去頭煎。晒乾為末。陳米鍋焦打糊為丸。如綠豆大。每日服三錢。或上午一錢。百沸湯下。蓋煎去頭煎。則燥氣盡。遂成甘淡之味。淡養胃氣。微甘養脾陰。師師相授之語。毋輕忽焉。</p>
<p>愚按。煎去頭煎不用。黃履素（諱承昊）折眩漫錄。亦云神妙秘法。</p>
<p>又按。以淡補脾之說。余一時亦不能會悟。後得徐靈胎書。謂五味各有所屬。味甘屬土。</p>
<p>然土實無味也。故洪范論五行之味。潤下作咸。炎上作苦。曲直作酸。從KT　作辛。皆即其物言之。惟於土則曰稼穡作甘不指土而指土之所生者。可知土本無味也。無味即為淡。淡者。五味之所從出。即土之正味也。故味之淡者。皆屬於土。如茯苓山藥石斛之類是也。五臟皆受氣於脾。故脾為五臟之本。五味皆托始於淡。故淡為五味之本。慎柔黃履素煎去頭煎。</p>
<p>取無味之味以補脾。誠秘法也。</p>
<h2>卷二</h2>
<h3>腫</h3>
<p>（腫者。皮膚腫大也。脹者。心腹脹滿也。臌者。心腹痞滿。而四肢瘦小。昔人謂之蠱腫症。從來有氣腫水腫之辨。內經以按之　而不起者為氣。即起者為水。後醫多反其說。</p>
<p>然氣滯水亦滯。水行氣亦行。正不必分。總以不起為腫甚。即起為腫輕。腎囊及莖中腫。大多死。</p>
<p>脈本沉。　若浮而弦。宜發汗。　若浮而鼓指有力。宜越脾湯。　若浮在皮外。多死。　若沉而緊。宜麻黃細辛附子之類。　若沉而緩。易愈。　若沉而微細。宜溫補。</p>
<p>初起。面上微腫。兩目下名臥蠶。更腫些。一身覺重滯。微喘。小便不利。即腫症之漸。</p>
<p>宜如皮膚腫大。氣喘小便不利。宜</p>
<p><u>五皮飲。</u></p>
<p>上腫。宜發汗。加蘇葉防風杏仁各三錢。下腫。宜利水。加豬苓防己各二錢。木通一錢。</p>
<p>小水多。為陰水。加附子乾薑各二錢。白朮三錢。川椒木香各一錢。小便不利。為陽水。加防己豬苓知母各二錢。凡脈虛人羸。宜加白朮人參肉桂附子。脈實人健。加萊菔子枳殼各二錢。凡畏風之甚。宜加生黃　。三四錢。或再加附子二錢。（八十）</p>
<p>如小便點滴俱無。氣喘口不渴。宜</p>
<p><u>滋腎丸。</u></p>
<p>（九十四）</p>
<p>如前藥不效。宜用濟生腎氣丸。藥料作湯服。或前症愈後。亦以此丸服一月收功。</p>
<p><u>濟生加減腎氣丸。</u></p>
<p>（一百零九）</p>
<p>如服利水之藥。而小便愈少者。</p>
<p><u>補中益氣湯。</u></p>
<p>首煎照常服。二煎服後。以手指探吐。（五）</p>
<p>愚按。水腫病。淺者照上法治之愈矣。深者。必遵金匱五水而治之。余著有金匱淺注。</p>
<p>頗有發明。風水由於外邪。法宜發汗。皮水者。外邪已去經而入皮。故不惡風。病在皮間。</p>
<p>故內不脹而外如鼓皮病不涉於內。故口不渴。然水在於皮。亦必從汗以泄之也。石水病在臍下。陰邪多沉於下。法用麻黃附子甘草湯。重在附子。以破陰也。黃汗者。外邪傷心。鬱熱成黃。胸滿。四肢頭面俱腫。病在於上。法用桂枝湯。加黃　。啜熱粥以取微汗。重在桂枝。</p>
<p>以化氣。尤賴啜粥取汗。以發內外交郁之邪也。唯正水一症。正內經所謂三陰結謂之水。結則脈沉。水屬陰則脈遲。三陰結。則下焦陰氣不復與胸中之陽相調。水氣格陽則為喘。其目窠如蠶。一身盡腫。可知金匱之論甚精。徐忠可之注甚妙。試節錄之。金匱云。寸口脈浮而遲。浮脈則熱。遲脈則潛。熱潛相搏。名曰沉。趺陽脈浮而數。浮脈即熱。數脈即止。熱止相搏。名曰伏。沉伏相搏。名曰水。</p>
<p>沉則脈絡虛。伏則小便難。虛難相搏。水走皮膚。即為水矣。徐忠可注云。此段論正水之由也。謂人身中健運不息。所以成云行雨施之用。故人之汗。以天地之雨名之。人之氣。</p>
<p>以天地之疾風名之。寸口脈主上。猶之天道必下濟而光明。故曰陰生於陽。趺陽脈主下。猶之地軸必上出而旋運。故曰衛氣起於下焦。今寸口脈浮而遲。浮主熱。乃又見遲。遲者。元氣潛於下也。既見熱脈。又見潛脈。是熱為虛熱。而潛為真潛。故曰熱潛相搏名曰沉。言其所下濟之元氣。沉而不復舉也。今趺陽脈浮而數。浮主熱。乃又見數。數者。衛氣止於下也。</p>
<p>既見熱脈。又且止脈。是於客氣為熱。而真氣為止。故曰熱止相搏名曰伏。言其宜上出之衛氣。伏而不能升也。從上而下者。不返而終沉。從下而上者。停止而久伏。則旋運之氣幾乎熄矣。熄則陰水乘之。故曰沉伏相搏名曰水。見非止客水也。又恐人之不明乎沉伏之義。故又曰。絡脈者。陰精陽氣所往來也。寸口陽氣沉而在下。則絡脈虛。小便者。水道之所從出也。跌陽真氣止而在下。氣有餘即是火。火熱甚。則小便難。於是上不能運其水。下不能出其水。又焉能禁水之胡行亂走耶。故曰虛難相搏。水走皮膚。即為水矣。水者。即身中之陰氣。合水飲而橫溢也。沉伏二義。俱於浮脈見之。非真明天地升降陰陽之道者。其能道只字耶。</p>
<p>此仲景所以為萬世師也。徐忠可此注。妙不可言。獨惜仲景不立方。忠可又不補出應用何方。致世之患此者。或死於庸醫之舟車丸神佑丸疏鑿飲子等方。或死於明醫之實脾飲濟生腎氣丸補中益氣湯導水茯苓湯等方。以挺與刃。余又不忍坐視而不救。故擬方於後。</p>
<h4>消水聖愈湯</h4>
<p>治水第一方。然必兩手脈浮而遲。足趺陽脈浮而數。診法絲毫不錯。一服即驗。五服全愈。否則不可輕用此秘方也。大道無私。方不宜秘。然黃帝有蘭台之藏。長桑有一恐輕試之誤。一恐泄天地之機也。余出此方。以俟一隅之反。非謂一方可以天雄（一錢制）　牡桂（二錢去皮）　細辛（一錢）　麻黃（一錢五分）　甘草（一錢炙）　生薑（二錢）　大棗（二枚）　知母（二錢去皮）　水二杯半。先煎麻黃。吹去沫。次入諸藥。</p>
<p>煮八分服。日夜作三服。當汗出。如蟲行皮中即愈。○水盛者。加防己二錢。</p>
<p>天雄補上焦之陽。而下行入腎。猶天造下濟而光明。而又恐下濟之氣潛而不返。故取細辛之一莖直上者以舉之。牡桂暖下焦之水。而上通於心。猶地軸之上出而旋運。而又恐其上出施之用。若潛而不返。則氣不外濡而絡脈虛。故用薑棗甘草。化氣生液。以補絡脈。若止而不上。則氣聚為火。而小便難。故以知母。滋陰化陽。以通小便。且知母治腫。出之神農本草經。而金匱治歷節風腳腫如脫與麻黃附子並用。可以此例而明也。此方即仲景桂甘薑棗麻</p>
<h4>辛附子湯</h4>
<p>加知母一味。主治迥殊。可知經方之變化如龍也。</p>
<p>野老某。年八旬有奇。傳予奇方。用生金櫻根。去粗皮一兩半。吳風草三錢。香菌極小團結者七枚。水煎服一服。小便即通而腫愈。○余細繹此方極妙。麻黃大發汗。而根又能止汗。橘肉生痰壅氣。而皮又能化痰順氣蠶因風而致僵。反能驅風如神。此大開大闔之道。金櫻子之大澀小便。即可悟其根之大通小便矣。吳風草原名鹿銜草。能除濕熱。故素問與澤瀉白朮同用。以治酒風。更妙。是小香菌一味。此物本濕熱所化。用之於除濕祛熱墜中。同氣相感。引藥力至於病所。而諸藥之性一發。則濕熱無余地以自藏。俱從小便而下矣。此必異人所授遺下。所謂禮失而求諸野也。惜余未試</p>
<h3>脹</h3>
<p>（此症與腫症相因者。宜以治腫之法治之。或內脹而外不腫者。治法稍異）</p>
<p>心腹脹滿甚者。宜</p>
<p><u>平胃散</u></p>
<p>為主。氣鬱。加麥芽香附各二錢。傷食者。加萊菔子山楂乾薑。傷酒。加干葛三錢。砂仁一錢。痰多。加茯苓三四錢。多嘔。加半夏生薑各三錢。胸上脹不橫通而脹。</p>
<p>加木通茜草麥冬栝蔞貝母。濁氣在上。加柴胡半夏桔梗。心下痞滿。加黃連黃芩各一錢。乾薑八分。</p>
<p>腹痛。加生白芍三錢。腹痛因大便不通者。再加大黃二錢。小便不通合五苓散。若貼臍左右上下脹者。脹必兼痛。為衝脈逆而不舒。去蒼朮。加紅花歸芍柴桂治之。若季脅兩旁兼小腹脹痛者。乃厥陰內不交於少陰。外不合於少陽。加柴胡人參半夏桂枝當歸治之。（八十）</p>
<p>腹脹喜按者。宜後四方。</p>
<p>附子理中湯。（一百零七）○（虛寒。）</p>
<p>補中益氣湯。（五）○　（脾土失調地氣不升。）　六君子湯。加乾薑。（二）○（脾虛痰多腹脹。）　香砂六君子湯。（三）</p>
<p>愚按。以上諸法。治而不應者。必以膀胱為主。喻嘉言云。人身胸中空曠如太虛。地氣上而為云。必天氣降而為雨。地氣始收藏不動。誠會上焦如霧中焦如漚下焦如瀆之意。則云行雨施。而後溝瀆皆盈。水道通決。乾坤有一番新景象。此義首重膀胱一經。經云。膀胱者。州都之官。津液藏焉。氣化。則能出矣。如人之飲酒無算而不醉者。皆膀胱之氣化而出也。膻中位於膈內。膀胱位於腹中。膀胱之氣化。則空洞善容。而膻中之氣。得以下運。若膀胱不化。則腹已先脹。膻中之氣。安能下達耶。然欲膀胱之氣化。其權在於葆腎。腎。以膀胱為腑者也。腎氣動。必先注於膀胱。屢動不已。膀胱脹滿。勢必連於胸膈。其窒塞之狀。</p>
<p>不可名言。腎氣不動。則收藏愈固。膀胱得以清淨無為。而膻中之氣。注之不盈矣。膻中之氣。下走既捷。則不為牽引所亂。而胸中曠若太空矣。此論。可為胸腹滿及痰飲症之金針。</p>
<h3>臌症</h3>
<p>臌症。多是氣虛中滿。誤服枳朴寬脹之藥所致。屬實者少。屬虛者多。</p>
<p>臌症屬實者。其來必暴。有氣血食飲寒熱蟲之別。辨症詳於心腹九種之中。唯飲氣兩脅痛有水氣。或嘔清水。宜後三方。酌其虛實。加減用之。</p>
<p><u>備急丸。</u></p>
<p>（五十三）</p>
<p><u>五積散。</u></p>
<p>（四十二）</p>
<p>平胃散加減。照前血臌。加川芎桃仁。蟲臌去甘草。加黃連榧子乾薑。或另服烏梅丸四十九日。</p>
<p>臌病屬虛者。其來必漸。若氣喘水氣盛者。宜黑錫丹。若腹大如箕。四肢消瘦。初因吐酸而起。後吞吐皆酸。宜附子理中丸加黃連。若單腹脹。初服劫奪之藥少效。久用增張。硬如鐵石。昧者見之。方謂何物邪氣若此之盛。自明者觀之。不過為猛藥所攻。即以此身之元氣。轉與此身為難。首如驅良民為寇之比。喻嘉言治有三法。一曰培養。宜朮附湯。加乾薑陳皮。一曰招納。宜補中益氣湯。加半夏。一曰攻散。宜桂甘薑棗麻細附子湯。金匱枳朮湯。</p>
<p>二朮附湯。（一百零五）</p>
<p><u>補中益氣湯。</u></p>
<p>（五）</p>
<p><u>桂甘薑棗麻辛附子湯。</u></p>
<p><u>金匱枳朮湯。</u></p>
<p>（俱出金匱方載醫訣。）</p>
<p>外有血臌症。醫書俱云是婦人之病。唯喻嘉言謂男子恆有之。面色萎黃。有蟹爪紋路。</p>
<p>脈雖虛極。而步履如故。多怒善忘。口燥便秘。胸緊脅脹腹疼。迨脹之既成。腹大如箕。遂不可救。東南最多。所以然者。東海擅魚鹽之饒。魚者甘美之味。多食令人熱中。鹽者鹹苦之味。其性偏於走血。血為陰象。初與熱合。不覺其病。日久月增。中焦沖和之氣。亦漸為熱矣。氣熱則結。而血不流矣。於是氣居血中。血裹氣外。一似婦人受孕者然。至彌月時。</p>
<p>復如抱瓮矣。推而言之。凡五方之膏梁粱味椒薑桂糈成熱中者。皆其類也。治之之法。以六君子湯料加乾薑川芎防己為末。以陳米荷葉煎湯泛丸。每服三錢。日兩服。夜一服。一月漸愈。此執中央以運四旁法也。</p>
<h4>六君子湯</h4>
<p>（二）</p>
<p>腫脹症。以疏鑿飲子舟車丸為禁劑。濟生腎氣丸。脹症亦須慎用。</p>
<h3>噎膈反胃</h3>
<p>食不得入。昔醫名噎。食雖入咽。及帶痰涎吐出為膈。朝食暮吐暮食朝吐。名翻胃。丹溪主血液俱耗。噎為上稿。膈為下稿。以四物湯。加甘蔗汁蘆根汁牛乳之類為主。薛立齋謂怫鬱傷脾。以逍遙散左金丸歸脾湯六君子湯之類。與六八味丸間服。趙養葵充其說。而歸於治腎。以內經謂腎乃胃之關。關門不利。升降息矣。關即氣交之中天之樞也。故腎旺則胃陰充。胃陰充則能食。以大劑六味湯八味湯為主。時賢高鼓峰楊乘六宗其法。而變通之。專取陽明。</p>
<p>以六味湯。去丹澤伏苓。加甘草枸杞生地當歸。總使一派甘潤之藥。以養胃陰。胃陰上濟。則賁門寬展。而飲食進。胃陰下達。則幽門闌門滋潤。而二便通。十余劑可愈。入鏡經。</p>
<p>主內經三陽結謂之隔一語。大變其法。以隔食之人。五七日不大便。陳物不去。則新物不納。</p>
<p>以三一承氣湯節次下之。後用芝麻飲啜之則愈。此數法。皆從金匱大半夏湯中甘潤蜜水得來。</p>
<p>而卻遺去仲景以半夏為主而降衝脈之逆。人參為輔而生既亡之液之義。學人必於此而得其梧機。而又審其寒熱虛實而施治。則於噎膈之道。思過半矣。至於食入反出。是中焦土寒。下焦火虛。以附子理中湯香砂六君子湯。加乾薑八味地黃丸。間服多效。○若食不得入。必以黃連黃苓人參乾薑湯為主。瀉心湯亦妙。○瘀血在膈。飲熱湯及食椒薑而呃者。宜加桃仁紅花之類。○吳茱萸湯。不論噎膈反胃皆可用。唯以嘔而胸滿為的證。乾嘔吐涎沫頭痛。亦為的證。脈浮緩而滑。沉緩而長。皆可治。弦澀短小。為難醫。</p>
<h3>藥方</h3>
<p>四物湯。（九）　逍遙散。（四十八）　左金丸。（八十八）　歸脾湯。（二十一）　六君子湯。</p>
<p>（二）六味丸。（十四）　八味丸。（十五）　三一承氣湯。（五十四）　附子理中湯。（一百零七）　香砂六君子湯。</p>
<h4>治噎膈奇方</h4>
<p><u>牛犬二灰散。</u></p>
<p>不拘黃牛水牛。但遇有狗放屎於牛屎上。連二屎共取和勻。候干封固。每用　灰存性三錢。以好苦酒調服後。用真雲南棋子一枚。男以白的。女以黑的。搗研極細。仍用苦酒燉濃服之。</p>
<p><u>甘蔗飲。</u></p>
<p>取甘蔗。去皮切錢。瓷碗乘白米些少。以水潤透米。將蔗錢放米內。仍用瓷碗蓋定。慢火蒸熟成飯。先取蔗錢。與本人徐徐嘴咽蔗汁。漫開喉嚨。即食此飯。為開膈之第一方。即審症議藥。○二灰散不易得。先用此法。即以黑白棋子繼之。再審症用藥。以收全功。一膈症。湯飲不入口。針合谷穴。亦可開通。</p>
<h4>治翻胃奇方</h4>
<p><u>斗門方。</u></p>
<p>用附子一個最大者。（按近日附子宜以開水俟溫和入附子泡去鹽。一日二換湯。泡三日取晒。）坐於磚上。四面著火。漸逼碎。入生薑自然汁中。又依前火逼干。復淬之。約生薑汁盡半碗許。搗羅為末。用粟米飲下一錢。不過三服瘥。</p>
<h3>續論</h3>
<p>膈噎症。古今方法最緊。遵之亦不甚驗。以上論治。未免太簡。恐初學人領悟不來。正欲續論以暢其旨。適友人自安徽來。遺予以張心在附經一書。檢閱之下。深喜其讀書有得。</p>
<p>可與共學適道也。雖識荊俟諸異日。而數千裡神交。不啻同堂時晤對。請即以附經之原文。</p>
<p>演為問答。未知心在以為然否。</p>
<p>問曰。噎膈初起。有食入打嗆而因不能下咽者。肺氣上逆會厭不及蔽。而氣喉為之病。</p>
<p>當用何藥。余曰。治以枇杷葉百合天門冬半夏阿膠甘草。令治節行。則逆者順矣。然必佐以乾薑之開。五味子之闔。細辛之撥動神機令咽喉二竅。得順其出入之常。遂無嗆逆之患。非熟於仲景書者。不悟也。問曰。有食下如刀KT　草勒。胸痛畏食者。胃之上口內腫。而食管為之不利。當用何藥。余曰。金銀花煮膏。以米飲調下常服。或白水牛喉焙乾研末。佐之以金銀花。能止痛消腫。且味甘而質潤。可滋胃脘之陰。性寒而氣香。又除鬱熱之閉也。問曰。每食必以飲送下者。胃中之氣不上吸。故食不能自下。若非飲送。即見阻滯。應用何藥。</p>
<p>余曰。</p>
<p>胃氣不能上吸。非人參之助。胃不可得食。阻滯非甘瀾水和白蜜之潤下不可。且其阻滯者。衝脈之為病。非半夏不能降衝脈之逆。仲景大半夏湯甚妙。問曰。有將食時必飲酒而後能食者。胃氣鬱塞不開。得酒之剽悍而始通。應用何藥。余曰。宜平胃散料加香附麥芽半夏乾薑白豆蔻沙參川芎。入羊肚內。蒸熟晒乾。又易羊肚。如前法三次。去羊肚為末。以陳米湯送下三錢。日二服以辛藥開結。以香藥醒脾。而制法之妙。化其霸氣。方不傷其陰氣。經云。</p>
<p>陰者中之守也。此方頗為合度。問曰。有肝逆膽橫小絡相厄。兩脅時痛。食入不犯肝膽之絡。則下。犯其小絡。則土受木制。不能納穀而因吐者。病由木鬱。而土因之亦郁。應用何藥。余曰宜用小柴胡湯。遵原定分數。折為小劑。（柴胡四錢。半夏湯洗七次不可用礬煮。</p>
<p>黃芩人參炙甘草生薑各一錢五分。大棗一個。水煎。）加紫蘇旁小梗整用。生竹茹各二錢。</p>
<p>橘皮內筋膜當歸須各一錢。補虛清火。解鬱通絡。配合得法。則各藥相得而益彰。自不同他方之泛泛也。問曰。有胃火自盛。食入則吐逆不已者。應用何藥。余曰。食物不得入咽。是火阻於上。宜用黃連黃芩之大寒以瀉之。大苦以降之。更用人參以助胃。俾胃喜於納食。而急迎之入內。然必用乾薑。大辛大熱。沖開其關。方無拒格之患。四味等分煎服。仲景得意之方也。如食既入咽。隨即吐出。是胃素有熱。一得食物。為兩熱相沖。不能停留而即出。</p>
<p>宜大黃四錢。甘草二錢。為釜下抽薪之法。此與黃連黃芩乾薑人參湯。均是苦寒之劑。而毫厘有千裡之差。況寒熱之相反乎。問曰。有朝食暮吐。完穀不化。必傾囊倒篋盡淨無存而後快者。</p>
<p>則食久反出無火之謂也。應用何藥。余曰。此症用溫補法。人人共知。每服之而不效者有故。</p>
<p>當辨其為中焦無火。與下焦無火。中焦無火有二。在陽明則胸滿。宜吳茱萸湯。在太陰則腹滿。宜理中丸。又恐此丸之過甘。則甘草不妨減半。恐其功之過緩。不妨加入蓽茇附子吳茱萸半夏茯苓之類。勿泥定成法也。下焦無火亦有二。在厥陰則吐食而兼酸腐。亦宜吳萸湯。又以川椒乾薑肉桂吳茱萸附子當歸川楝子人參沙參研末。棗湯泛丸。米飲送下三錢。一日二服。在少陰則吐食而兼水液。宜真武湯。倍生薑。或以斗門方峻補之。愈後宜腎氣丸。</p>
<p>倍桂附以收功。又問。以上諸症。未至於槁。皆足以至槁。至口吐白沫。便如羊矢。津液枯竭。營衛不行。五臟不通。則食全不入。而病不可為矣。未知先生尚有法可以救之否。余曰。</p>
<p>津液即是真水。水由氣化。亦由火致。推其所以枯竭之故。非氣虛不能化之。即火虛不能致之也。今人不明其理。以滋潤甘涼。為生津養液。實所以涸津液之源而速其死。仲景云。乾嘔吐涎沫。吳茱萸湯主之。雖非為噎膈症立論。而聖言無所不包少陽症火逆於上其嘔有聲而不吐穀名為乾嘔。若不吐穀而但吐涎沫名為乾嘔吐涎沫。此症食全不入。無穀可吐。亦是乾嘔例。津液生於穀氣。絕食則津液已枯。又吐出涎沫。則津液遂竭盡無余。所以不能下滋腸胃。糞如羊矢。唯吳茱萸一湯。大辛以開其格。大苦以鎮其逆。大甘以培其中。且辛從甘以化陽。苦從甘以化陰。陰陽合而時雨降。頃刻間。有萬裡沃澤之景象矣。況又佐以人參之大生津液。並以馴諸藥之性。宜其為起死之靈丹也。至於停痰瘀血。阻塞胃口。致食入之路滯礙者。為有餘之症。諸家之說。不無可采。毋庸修園之再贅也。經又有上氣下蟲之症。治以騾馬尿而未愈者。似可以烏梅丸繼之。言不盡意。亦視乎人之善悟而已。</p>
<h3>痰飲</h3>
<p>水氣上逆。得陽煎熬。則稠而成痰。得陰凝聚則稀而為飲。皆以脾腎二經為主。以水歸於腎而受制於脾也。金匱以痰飲懸飲溢飲支飲分四飲。後人加留飲。為五飲。不知留飲即痰飲也。唐宋以後名色愈多。而治法愈亂。茲舉數方。為扼要之法。</p>
<p>凡痰脈多應於滑。脈沉而弦者。主懸飲內痛。</p>
<p>一痰飲諸方。以二陳湯為通劑。茲加減法。仿金匱之意故取效倍於諸家。</p>
<p><u>二陳湯。</u></p>
<p>（八十二）</p>
<p>久嗽氣短。加桂枝一錢五分。白朮二錢。此從水道以化氣也。或與腎氣丸互服。停飲脅痛。加白芥子一錢五分。前胡二錢。</p>
<p>四肢腫。身體疼重。加生黃　三錢。防己二錢。</p>
<p>咳逆倚息。氣短不得臥。加木防己三錢。桂枝人參各一錢五分。水煎好。入芒硝八分服。</p>
<p>心下有支飲。其人若眩冒。加澤瀉四錢。白朮二錢。</p>
<p>咳嗽不已。加乾薑細辛五味子。</p>
<p>以上。俱仿金匱意加減。</p>
<p>火痰。加海粉栝蔞仁黃芩海石。○寒痰。加乾薑附子。○風痰。加制南星天麻竹瀝薑汁。</p>
<p>○加人參白朮。○實痰。加旋覆花枳實。○食痰。加萊菔子。</p>
<p>一實熱老痰。變出怪症。不可名狀。宜</p>
<p><u>礞石滾痰丸。</u></p>
<p>（六十三）</p>
<p>中脘留伏痰飲。臂痛難舉。手足不得轉動。宜</p>
<p><u>指迷茯苓丸。</u></p>
<p>（六十四）</p>
<p>按痰飲之病最多。胸脅疼。嘔逆。神識不清。及手足臂痛。皆是。大抵痰為陽邪。隨氣所到。其症變幻無常。凡苦辛酸鹹及竹瀝薑汁童便皂角芒硝之類。隨症可加入。亦有虛者宜六君子湯桂苓甘術湯。腎氣丸。真武湯。小半夏倍加。茯苓湯等。以扶元氣。飲為陰邪。</p>
<p>唯停於心下脅下。為脹為咳為悸為眩冒。及溢於皮膚而為腫。必以桂苓朮附。加生薑汁之類。</p>
<p>使離照當空。而群陰力能退避。若以地黃麥冬五味附和其陰。則陰霾沖逆肆空。飲邪滔天莫救矣。</p>
<h3>咳嗽</h3>
<p>咳嗽症。方書最繁。反啟人多疑之惑。其實不若虛實二症。實者。外感風寒而發。虛者。</p>
<p>內傷精氣而生也。總不離乎水飲。金匱以小青龍湯。加減五方。大有意義。小柴胡湯自注云。咳嗽。去人參。加乾薑五味子。人多順口讀過。余於此悟透全書之旨。而得治咳嗽之秘鑰。因集溢未詳。大為恨事。向著有金匱淺注等十種。言之不厭於復。業斯道者。請鑒予之苦心焉。</p>
<h4>實症方</h4>
<p>一外感風寒。內挾水飲。必咳嗽不已。兼見頭痛發熱惡寒等症。若外感重者宜香蘇飲加杏仁防風各二錢。半夏乾薑各一錢五分。五味子搗扁。細辛各八分。水煎服。溫覆取微汗。</p>
<p>外感輕者。宜二陳湯。加細辛乾薑五味子杏仁前胡。○若二症面目浮腫。俱加桑白皮三錢。</p>
<p>葶藶子八分微炒。研末調服。</p>
<p>香蘇飲。（三十五）　二陳湯。（八十二）</p>
<p>一外感風寒。咳嗽頗久。每嗆。兩脅牽痛發熱者。或寒熱往來者。宜</p>
<p><u>逍遙散。</u></p>
<p>倍柴胡。加半夏乾薑各一錢半。五味子一錢。（四十八）</p>
<p>一夏月傷暑。咳嗽自汗。口渴小便赤短。宜六一散。滑石六錢。甘草一錢。加乾薑細辛五味子各一錢。水煎服。</p>
<p>一秋間傷秋金燥氣。皮毛洒淅惡寒。寒已發熱。漸生咳嗽。咳嗽不已。漸至瀉利。宜瀉白散二劑。合為一劑。去粳米。加黃芩阿膠各一錢五分。乾薑一錢。五味子細辛各五分。水煎服。此方加減。庸醫必駭其雜。能讀孫真人書者。方知從五味子湯麥門冬湯二方得來也。（八十六）</p>
<p>以上咳嗽。治之失法。多至吐血癆傷。</p>
<h4>虛症方</h4>
<p>一癆傷之人。土氣日虛。不能生金。每至咳嗽。惟補其中土。則百病俱愈。宜六君子湯。加乾薑一錢五分。五味子細辛各八分。水煎服。方中雖有人參。久咳肺燥之人。不忌也。（二）</p>
<p>一久嗽不已。時見喘促者。是肺腎俱虛。天水不交之症。宜附子理中湯。加茯苓四錢。細辛五味子各八分。阿膠天門冬各三錢。（一百零七）</p>
<p>一咳嗽雖為肺病。其標在肺。其本在腎。腎具水火。水虛者滋之。宜豬苓湯。服四五劑後。即服六味地黃丸。加蛤蚧麥冬五味。火虛者溫之。宜真武湯。去生薑。加乾薑細辛五味子。四五劑後。即服桂附地黃丸。數方俱以利水為主。若讀張景岳書輩必謂補腎不可利水。</p>
<p>求正錄中有實漏卮之喻。而不知咳嗽必挾飲邪。標在肺而本在腎。天不連地而連水也。今於水道一利。則上焦之水飲。亦必下行。源流俱清。咳嗽自愈。經云。上焦如霧。中焦如漚。</p>
<p>下焦如瀆。但得三焦氣化。水道通決。則云行雨施。乾坤有一番新景象矣。</p>
<p>一經云。肺惡寒。又云。形寒飲冷則傷肺。仲景不用人參。以參之性微寒也。然此為新病而言。若久嗽之人。肺必干燥。且以多咳而牽引諸火而刑金。人參又為要藥。如病在金臟者。宜清燥救肺湯。如病在水臟者。宜瓊玉膏。</p>
<p>一實症不可妄用虛症諸方。恐留邪為患也。而虛症。定不可廢實症諸方。以咳嗽必有所以致</p>
<h3>喘促</h3>
<p>喘者。氣上衝而不得倚息也。有內外實虛四症。宜與痰飲咳嗽參看。外則不離乎風寒。</p>
<p>內則不離乎水飲。實則為肺脹。虛則為腎虛。宜分別治之。</p>
<p>脈宜浮滑。　忌短澀。</p>
<p>一外感風寒。及傷暑傷燥。方治詳於咳嗽門。不贅。</p>
<p>一水飲之病。小青龍湯為第一方。若支飲內痛。亦可暫用十棗湯。如因支飲滿而氣閉。</p>
<p>氣閉則呼吸不能自如。宜用葶藶大棗瀉肺湯。今人畏不敢用多。致因循誤事。</p>
<p>一咳而上氣為肺脹。其人喘。目如脫。脈浮大者。用麻黃三錢。生石膏四錢。半夏二錢。</p>
<p>甘草一錢。生薑一錢五分。大棗二枚。水二杯半。先煮麻黃去沫。入諸藥。煮八分服。日二服即愈。名越脾加半夏湯。○或咳嗽甚而煩躁者。小青龍。加生石膏四錢。</p>
<p>一腎虛氣喘。方治詳於咳嗽門。不贅。</p>
<p>一黑錫丹。為氣喘必用之藥。宜預制之以備急。</p>
<p>一喘症。起於七情氣逆者。宜四磨飲。起於痰喘脹滿者。宜蘇子降氣湯。二方為喘症之良方。</p>
<p>四磨飲。（二十九）　蘇子降氣湯。（二十七）</p>
<p>一聖濟總錄云。枸杞湯治氣短。方用枸杞四錢。薑棗水煎服。又云。紫蘇湯治卒氣短。</p>
<p>方用紫蘇四錢。陳皮一錢。棗二枚。水酒各半煎服。○按二方同治氣短。何以彼此懸殊。而不知一治肺。一治腎也。肺主出氣。皮毛為肺之合。風寒客於皮毛。則肺之竅道閉。竅道閉則出氣不利而短。故用紫蘇陳皮之辛以開之。書中卒字一字大有意義。腎主納氣。腎虛。則吸氣不能歸根而短。故用枸杞之補腎精以填之。與八味地黃丸同意。但任專則效速。所以舍彼而用此也。</p>
<p>過服辛燥等藥。喘促愈盛者。可用貞元飲。然為緩劑。若痰多喘甚者。大忌之。</p>
<p>一喘氣諸家之說最雜。近有張心在之論。深合鄙意。余所以數千裡而神交之也。心在云。</p>
<p>喘氣專在口也。鼻息出入。氣未始不至於口。而專在口。則喘矣。天氣通於鼻。一呼一吸。</p>
<p>吐故而納新。果順其常。則出心肺而入肝腎。脾居中而轉運。（此句最精。可以悟出絕妙心法。）何喘之有。唯鼻失其職。或肺壅竅塞。不能上達其氣。復返心脾而出於口。或肺虛力弱不能下引其氣。上到心脾而出於口。則喘作焉。皆肺之過也。至若氣短症。鼻氣有出無入。</p>
<p>能呼而不能吸則責在肝腎之絕。肺不任咎矣。</p>
<h3>哮症</h3>
<p>聖濟總錄。名呷。咳嗽而胸中多痰結於喉間。偏與氣相擊。隨其呼吸。呀呷有聲。用射干丸。其方用射干半夏陳皮百部款冬花細辛干老薑五味子貝母茯苓郁李仁各一兩。皂莢刮去皮子炙五錢。共為末。蜜丸桐子大。空心以米飲下三十丸。一日兩服。</p>
<p>脈喜浮滑。　忌短澀代散。</p>
<p>愚按。哮喘之病。寒邪伏於肺俞。痰窠結於肺膜。內外相應。一遇風寒暑濕燥火六氣之傷即發。傷酒傷食亦發。動怒動氣亦發。勞役房勞亦發。一發。則肺俞之寒氣。與肺膜之濁痰。野狼狽相依窒塞關溢。不容呼吸。而呼吸正氣。轉觸其痰。鼾　有聲。非泛常之藥所能治。</p>
<p>故聖濟用前方之竣。然體實者可用。若虛弱之人。宜用六君子湯料十兩。加貝母二兩。共研末。以竹瀝四兩。生薑汁一兩。和勻拌之。又拌又晒以九次為度。每服三錢。開水送下。以竹瀝薑汁。可以透窠囊也。然內之濁痰。蕩滌雖為得法。又必於潛伏為援之處。斷其根株。</p>
<p>須用各家秘傳諸穴灸法。如畏多者。宜於夏月三伏中。用張路玉外貼藥末。余家傳有哮喘斷根神驗藥散。（其方載於修園新按。）入麝五分。薑汁調塗肺俞膏肓百勞等穴。塗後麻瞀疼痛。</p>
<p>切勿便去。俟三柱香盡。方去之。十日後塗一次。如此三次。病根去矣。哮喘辨症方治。俱詳痰飲咳嗽喘促三門。不贅。</p>
<h3>心腹諸痛</h3>
<p>心為君主之官。一痛手足青至節。不治。俗謂心痛者。乃心胞絡痛。或胃腕痛也。昔人分為九種。宜辨而治之。</p>
<p>一曰氣痛。脈沉而澀。乃七情之氣鬱滯所致。宜七氣湯。（五十四微溫。）　百合湯。（九十微涼。）</p>
<p>一曰血痛。脈浮沉俱澀其病如刺。不可按捫或寒熱往來。大便黑。宜失笑散。（五十八）　三一承氣湯。（五十四此方雖竣。而痛其便閉拒按者。不得不用之。如桂枝桃仁各三錢。）</p>
<p>一曰痰痛。即飲痛。脈滑咳嗽。痛連脅下。或游走無定。宜傷寒十棗湯。但此方。近醫膽識不及。不敢用。宜二陳湯。（八十二○加白芥子一錢五分皂角炒紫五分。栝蔞三錢。）　滾痰丸。（六十三○諸藥不效大便閉者。可暫用之。）</p>
<p>一曰火痛。脈數而實。口渴面赤。身熱便秘。其痛或作或止。宜金鈴子散。（九十二）　丹參湯。（九十二）　百合湯。（九十三）</p>
<p>或用梔子炒熟四錢。良薑二錢研末。名越桃散。溫酒送下。</p>
<p>加味逍遙散。送下左金丸二錢。</p>
<p>一曰冷痛。脈遲而微細。手足俱冷。其痛綿綿不休。宜附子理中湯。加當歸肉桂木通吳萸子。</p>
<p>一曰虛痛。即悸痛。脈虛細小。或短澀。心下悸。喜按。得食少愈。二便清利。宜歸脾湯。加石菖蒲一錢。（二十一）　當歸補血湯。加肉桂一錢五分。（六）</p>
<p>一曰注痛。入山林古廟古墓。及感一切異氣而痛。語言錯亂。其脈乍大乍小。兩手若出兩人。宜平胃散。加藿香二錢。木香一錢。調麝香七厘服。以香者天地之正氣也。正能勝邪。</p>
<p>一曰蟲痛。脈如平人。其痛忽來忽止。聞肥甘之味更痛。（聞食而蟲頭上昂。）按摩稍止。</p>
<p>（附子理中湯。去甘草。加烏梅三枚。川椒黃連各一錢五分。黃柏肉桂當歸各一錢。水煎服。愈後。宜服烏梅丸。（一百零七）</p>
<p>一曰食痛。脈實而滑。噯腐吞酸。惡食腹脹。其痛或有一條扛起者。宜平胃散。加麥芽穀芽山楂半夏各二錢。脹甚者。再加萊菔子生研三錢。水煎服。如初病。</p>
<p>食十）又按。以上九痛。流傳已久。不可不知。而高士宗醫學真傳。分各部用藥。其法甚捷。</p>
<p>今重訂而節錄於下。</p>
<p>一當心之部位而痛。俗云心痛非也。乃心胞之絡。不能旁達於脈故也。宜</p>
<p><u>香蘇飲。</u></p>
<p>加當歸四錢。元胡索木通各一錢。桂枝二錢。酒水各半煎服。紫蘇須用旁小梗整條。不切碎。更能通絡。（五十三）</p>
<p>一心脈之上則為胸膈。胸膈痛乃上焦失職。不能如霧之溉。則胸痹而痛。宜</p>
<p><u>百合湯半劑。</u></p>
<p>加栝蔞皮貝母各三錢。薤白八錢。白蔻一錢五分。水煎服。（九十三）</p>
<p>胸膈之下兩乳中間名曰膺胸。膺胸痛乃肝血力虛。氣不充於期門。致衝任之血。從膺胸而散則痛。宜</p>
<p><u>丹參飲半劑。</u></p>
<p>加當歸五錢。白芍金銀花各三錢。紅花川續斷各一錢。酒水各半煎。</p>
<p>（九十二）</p>
<p>一膺胸之下則為中脘。中脘作痛。手不可近。乃內外不和。外則寒氣凝於毛皮。內則垢濁停於中脘。當審其體之虛實而施治。莫若以燈當痛處爆十余點。則寒結去而內外通。便不痛矣。若爆後痛仍不止。實者宜五積散。虛者宜加味香蘇飲。</p>
<p><u>五積散。</u></p>
<p>（四十二）</p>
<p>香蘇飲加桂枝芍藥當歸各三錢。細辛木通各一錢五分。吳茱萸二錢。水煎服。方中紫蘇生薑細辛桂枝。以驅外之凝寒。吳茱萸陳皮木通。以降內之濁垢。歸芍香附甘草。和其氣血。</p>
<p>安一中脘之下。當陽明胃土之間。（銅人圖中脘下一斗名建裡穴）時痛時止。乃中土虛而胃氣不和。若服行血消泄之劑過多。便宜溫補。但以手重按之則痛稍平。此中土內虛。虛而且寒之明驗也。宜香砂六君子湯。加乾薑二三錢。（三）　附子理中湯。（一百零七）</p>
<p>一乳下兩旁胸骨盡處痛者。乃上下陰陽不和。少陽樞轉不利也。傷寒病中多有此症。當助其樞轉。和其氣血。上下通調。則愈矣。宜逍遙散。倍柴胡。加生薑一錢五分。（四十八）</p>
<p>一大腹痛者。乃太陰脾土之部。痛在內而緩。中土虛寒也。（宜理中湯。倍人參。）痛兼內外而急。脾絡不通也。（宜理中湯。倍乾薑。）蓋脾之大絡。名曰大包。從經隧而外出於絡脈。今脾絡滯而不行。則內外皆痛。（理中湯倍乾薑。服之不應者。再加肉桂一錢五分。木通一錢。）太陽篇云。傷寒。陽脈澀。陰脈弦。法當腹中急痛。先與小建中湯。不瘥者。與小柴胡湯。此先補益於內。而後樞轉於外也。</p>
<p>一臍旁左右痛者。乃衝脈病。衝脈當臍左右。若為寒氣所凝。其衝脈之血。不能上行外達。則當臍左右而痛。當用血分之藥。使胞中之血。通達肌表。若用氣藥。無裨也。宜當歸四逆。加生薑吳茱萸湯。水酒各半煎服。或用四物湯。（九）　去地黃。加肉桂一錢。生黃生薑各三錢。炙甘草紅花各一錢。水酒煎服。</p>
<p>一臍中痛不可忍喜按者。腎氣虛寒也。宜通脈四逆湯。加白芍三錢。若脈沉實口中熱渴腹</p>
<p><u>三一承氣湯。</u></p>
<p>（五十四）</p>
<p>一臍下痛者。乃少陰水臟太陽水腑。不得陽熱之氣以施行。致陰寒凝結而痛。少陰水臟虛寒。用真武湯溫之。太陽水腑虛寒。用桂枝湯。加熟附子茯苓溫之。○按士材必讀云。臍上痛。屬脾。臍下痛。屬肝。當臍痛。屬腎。此臆說也。不可從。又臍下痛。有火逼膀胱。</p>
<p>小便不利而痛者。宜五苓散。亦有陰虛陽氣不化。小便點滴俱無脹痛者。宜通關丸。有燥屎者。辨法方治。見上條。</p>
<p><u>通關丸。</u></p>
<p>（五十一）</p>
<p>一小腹兩旁謂之少腹。少腹痛乃厥陰肝臟之部。又為胞中之血海。蓋胞中之水。主於少陰。胞中之血。主於厥陰也。痛者。厥陰肝氣。不合胞中之血而上行也。肝臟不虛者。當疏通以使之上。（宜香蘇飲。加柴胡三錢。當歸白芍各二錢。生橘葉三片。）肝臟虛者。當補益以助其下。（宜烏梅丸。以米湯送下二錢。一日三服。）蓋厥陰不從標本。從中見少陽之氣。</p>
<p>使厥陰上合乎少陽。則不痛矣。　兩旁季脅痛者。肝氣虛也。（當歸四逆湯。加阿膠。四君子湯。去白朮。加當歸粳米與烏梅丸。五服。）兩脅之上痛者。少陽之氣不和也。（宜小柴胡湯。去棗。加牡蠣青皮。）時法用左金丸。愚按。凡心腹諸痛。宜辨其內之脹與不脹。便之閉與不閉。脈之有力與無力。口中熱。口中和。痛之久暫。以辨寒。熱。邪。正。虛。實。如痛而脹且閉者。厚朴三物湯。攻裡兼發熱者。厚朴七物湯。兼表裡治之。腹痛連脅痛。脈弦緊。惡寒甚大便秘者。大黃附子湯主之。若但脹而便不秘者。是實中之虛。宜厚朴半夏人參生薑甘草湯。腹痛甚而不可觸近嘔吐者。大建中湯主之。雷鳴切痛嘔吐者。附子粳米湯主之。</p>
<p>腹痛下利而厥者。通脈四逆湯主之。腹痛吐瀉者。理中湯主之。若繞臍疼痛。名寒疝腹中病痛者。當歸生薑羊肉湯主之。皆起死回生之法。時醫不講久矣。予著有金匱淺注十六卷。醫訣三卷。辨之頗詳。宜查對勿誤。</p>
<h3>痛風</h3>
<p>肢節走痛。內經謂之賊風。後人謂之痛風。又謂之白虎歷節風。宜審其寒熱而治之。</p>
<p>脈宜浮數。　忌虛弱。</p>
<p>痛風。脈浮緊。頭痛惡寒發熱。為新受之邪。宜</p>
<p><u>五積散。</u></p>
<p>（四十二）</p>
<p>治風先治血。血行風自滅。宜</p>
<p><u>四物湯。</u></p>
<p>加生黃　防風桂枝秦艽桑枝紅花炙草主之。（九）</p>
<p>痛風久不能愈。必大補氣血。以為勝邪之本。切不可徒用風藥。宜</p>
<p><u>十全大補湯諸藥。</u></p>
<p>各一錢。加真桑寄生三錢為君。再加附子防風竹瀝生薑汁為佐使。（十一）</p>
<p>痛風久不愈。以痛久必入絡也。諸方俱宜加入金銀花木通紅花鉤鉤藤刺蒺藜之類。</p>
<p>○又痛久則郁。鬱而瀉熱。熱則生痰。必加入制南星半夏栝蔞根黃柏貝母竹瀝薑汁之類。○又桑寄生虎骨。俱為要藥。以桑為箕星之精。風從虎之義也。○久服辛熱之藥不效者。宜用玉竹黑芝麻直僵蠶生　歸須菊花蒺藜阿膠炙草之類。為柔潤熄肝風法也。</p>
<h3>痹</h3>
<p>痹者。閉也。風寒濕雜至。合而為痹。與痛風相似。但風則陽受之。痹則陰受之。雖內經痹論。風氣勝者為行痹。寒氣勝者為痛痹。濕氣勝者為著痹之分。而深究其源。自當以寒與濕為主。蓋以風為陽邪。寒與濕為陰邪。陰主閉。閉則鬱滯而為痛。是痹不外寒與濕。而寒與濕亦必假風以為之帥。寒曰風寒。濕曰風濕。此三氣雜合之說也。內經壽天剛柔篇曰。</p>
<p>在陽者命曰風。在陰者命曰痹。以此分別。則兩症自不混治矣。若胸痹及臟腑諸痹。又當別論。醫門法律。分別甚詳。宜參閱之。</p>
<p>一痹症之實者。宜</p>
<p><u>五積散。</u></p>
<p>（四十二）</p>
<p>一金匱治血痹。脈陰陽俱微。寸口關上微。尺中小緊。外症身體不仁。如風痹狀。用黃五物湯。黃　芍藥桂枝各二錢。生薑六錢。大棗四枚。水煎服。一日三服。愚謂為痹症屬虛者之總方。</p>
<h2>卷三</h2>
<h3>血症</h3>
<p>（吐血　咳血　咯血　鼻衄　齒衄　衄　大便血　小便血　血淋　血崩）</p>
<p>經曰。中焦受氣取汁。變化而赤。是謂血。血之流溢。半隨衝任而行於經絡。半散於脈外而充肌腠皮毛若外有所感。內有所傷。則血不循經。從上而涌。則為吐血咳血咯血鼻衄齒衄舌衄。從下而走。則為大便血溺血婦人血崩。其源則一。或問諸書皆分別五臟六腑之血而施治。茲何以籠統言之。余曰。五臟有血。六腑無血。觀剖諸獸。腹心下夾脊包絡中多血。</p>
<p>肝內多血。心脾肺腎中各有血。六腑無血。近時以吐血多者。謂吐胃血。皆耳食前醫之誤。</p>
<p>凡吐五臟血必死。若吐衄崩下。皆是經絡散行之血也。或問既無分別何金匱以瀉心湯治心氣不足為吐衄乎。曰百病不離於五臟六腑。臟腑病以致血。不循經而為吐衄崩下。非吐衄崩下之血從臟腑中脫出也循經之經字。作常字解時醫誤解。謂歸脾湯引血歸脾。脾能統血。即是歸經。害人無算。余再為之喝醒一語。曰。隨者仍其隨之常行者仍其行之常。散者仍其散之常。充者仍其充之常。血循經常之道路。則無吐衄崩下之病矣。千古無一人談及。余於高士宗引而不發處。細繹思論。大為快事。</p>
<p>身熱脈大者難治。○身涼脈靜者易治。○若喘咳急而上氣逆。脈見弦緊細數有勢。不得臥者。死。</p>
<p>一外感吐血。先見頭痛惡寒發熱等症。必取微汗則愈。宜</p>
<p><u>香蘇飲。</u></p>
<p>加荊芥穗一錢。丹皮白芍各一錢五分。（三十五）</p>
<p>一夏令秋令感暑氣燥氣而吐血。方治見咳嗽門。不贅。</p>
<p>一內經云。不遠熱則熱至。血溢血泄之病生矣。凡人不避暑熱。及過食爆炙之物。以致血熱妄行。宜</p>
<p><u>四生丸。</u></p>
<p>（一日）</p>
<p>一瘀血而吐。必先胸痛。血色必紫或黑而成塊。脈必滯澀。宜</p>
<p><u>四物湯。</u></p>
<p>加醋炒大黃桃仁丹皮香附各一錢五分。○如紫血盡。鮮血見。即用六君子湯。加當一傷寒及溫病。應發汗而不汗之。內熱蓄血及鼻衄。吐血不盡。內余瘀血。大便黑面黃。</p>
<p>宜</p>
<p><u>犀角地黃湯</u></p>
<p>（九十九）</p>
<p>高鼓峰心法。於血症獨精。其云除瘀血與傷寒外。其余俱屬七情餓飽勞力等因。必見惡心（驗症分明）一味固元湯主之。方用人參炙　歸身甘草煨薑大棗白芍。水煎服。血症最繁。</p>
<p>以一仁齋直指。謂陽虛陰必走。大吐大衄外。有寒冷之狀。可用理中湯。加南木香或甘草乾薑湯。其效更著又有飲食傷胃。胃虛不能傳化。其氣上逆。亦能吐衄。亦宜上二方。○余用甘草乾薑湯。其乾薑炮黑。加五味子二錢甚效。從慎柔五書得來。</p>
<p>一內經云。血氣者。喜溫而惡寒。寒則滯而不流。溫則消而去之。此數語。為治血之要旨所以楊仁齋高鼓峰方法神驗。即張景岳用熟地一兩澤瀉附子牛膝各一錢五分肉桂一錢炙甘草二錢水煎服。名為鎮陰。煎方雖駁雜。而溫藥較多。亦能奏效。</p>
<p>一褚氏遺書云。血雖陰類。運之者其陽和乎。陽和二字。指心肺而言也。心肺之陽宜布。</p>
<p>如日月一出爝火無光。凡諸般邪熱之氣俱除。血無所擾。則循行常道矣。運之者三字。更妙。</p>
<p>血不自運。必藉氣以運之。既已運矣。則隨衝任而行於經絡。散於脈外。充於皮毛。有經常之道可行。何至妄行而為失血之症耶。諸家俱贊此二句之妙絕。未能發明其旨。甚矣醫道之難也。高鼓峰雖未能悟到此旨。而固元湯與之暗合。慎柔和尚以保元陽為主。亦不過取黃補氣以生血。而亦與此。旨暗合。合之則效速。二公所以名燥一時也。余於此。千慮一得。</p>
<p>不敢自秘。</p>
<p><u>保元湯</u></p>
<p>（七　慎柔方。無肉桂。有煨薑三片黑棗二枚。）</p>
<p><u>當歸補血湯</u></p>
<p>（六）</p>
<p>一血症有不宜剛燥之劑者。或血虛煩渴。徐熱睡寤不寧。五心煩熱宜</p>
<p><u>聖愈湯。</u></p>
<p>（十八）</p>
<p>一舌上出血如孔鑽者。煎香薷汁服。外用槐花炒研摻。蒲黃炭亦可摻之。○齒齦血出。</p>
<p>用生竹茹四兩。醋浸一宿含之。○牙縫出血。以紙維醮干蟾酥少許。於出血處按之立止。○滿口齒血出。枸杞子為末。煎湯漱之。然後吞下根亦可。○鼻衄。用生茅花或根一兩煎服。</p>
<p>以上症。或統用</p>
<p><u>甘露飲</u></p>
<p>（八十七）</p>
<p><u>滋腎丸。</u></p>
<p>（九十四）</p>
<p>一血淋尿血。用苧麻根十枚。水煎服。又用海螵蛸乾地黃赤茯苓各等分為末。每服三錢。</p>
<p>以柏葉車前子煎湯下。又用亂髮燒灰。入麝香少許。用米醋溫湯調下。如痛不可忍。以藕汁蘿卜汁白蜜調下。○又房勞兼小便尿血。宜鹿角膠半兩。沒藥另研。油頭發繩各三錢為末。</p>
<p>茅根汁打面。糊丸桐子大。每服五十丸。鹽湯下。</p>
<p>一下血。先便後血為遠血。用灶中黃土八錢。甘草生地白朮熟附子阿膠黃芩各一錢五分。</p>
<p>水煎服。名黃土湯。○下血。先血後便為近血。宜赤小豆三兩。泡令出芽晒。當歸一兩共為末。以漿水服一錢五分日三服。名赤小豆當歸散。○二方俱出金匱。</p>
<p>大便下血不止諸藥不效者。宜濟生烏梅丸。（六十九）</p>
<p>一皮膚血汗。宜郁李仁去皮研二錢。以鵝梨汁調下。又用人中白焙乾。入麝香少許。溫酒調服立效。又用六味地黃湯。加五味一錢麥門冬川續斷各二錢。</p>
<p>一諸竅出血。宜頭發敗棕陳蓮蓬各等分。俱燒灰研。每服三錢。木香湯下。</p>
<p>一婦人血崩。審其寒熱虛實。照以上諸方擇用。若脫血之頃。不省人事。大汗不止者。</p>
<p>宜參附湯。貧者以當歸補血湯。加熟附子二三錢。（一百零五）</p>
<p>一大吐大衄大崩之頃。血若稍止。急用獨參湯服。服後聽其熟睡切勿驚醒。則陰血復生矣。</p>
<h3>癲狂癇</h3>
<p>癲者痴呆之狀。哭笑無時。語言無序。其人當靜。狂者罵詈不避親疏。其人當動。癇者忽然猝倒無知。口角流涎。手足抽掣。或作五畜聲。數刻即愈。愈後即如平人。作止有間斷。</p>
<p>所以名癇也。皆痰火為病。而癇病多由胎中受驚。一觸而發也。治宜調中。服補北瀉南不必過求奇險。</p>
<p>脈實者吉。　沉細者凶。</p>
<p>一前症屬於實痰實火者。宜</p>
<p><u>滾痰丸。</u></p>
<p>（六十三）</p>
<p>肝火之為害。非泛常之藥所可療。時賢葉天士獨得其秘。急用</p>
<p><u>當歸蘆薈丸。</u></p>
<p>每服三十丸。一日兩三服。不可遲疑敗事。（九十八）</p>
<p>一前症屬虛者。宜</p>
<p><u>磁砂丸。</u></p>
<p>（二十六）</p>
<p>二加龍骨東加鉛丹二錢。或再加阿膠三錢。（二十二）</p>
<p>此二方神妙。非可以思議及者。</p>
<p>一前症既愈。即宜以和平之劑收功。宜</p>
<p><u>朱砂安神丸。</u></p>
<p>（二十八）</p>
<h3>消渴</h3>
<p>口渴不止為上消。治以人參白虎湯。食入即餓為中消。治以調胃承氣湯。飲一溲一為下消。治以腎氣丸。趙養葵大變其法。謂治消無分上中下。先以治腎為急。以六味丸料一斤。</p>
<p>入肉桂一兩五味子一兩。水煎六七碗。恣意冷凍飲料之。熟睡而渴如失矣。白虎承氣皆非所宜也。</p>
<p>喻嘉言曰。腎者。胃之關也。關門不開。則水無輸泄而為腫滿。關門不　。則水無底止。而為消渴。金匱腎氣丸。蒸動精水。上承君火。而止其下入之陽光。彼症取其開。此症取其。一開一合。具通天手眼。子和詆之。何其陋也。又白茯苓丸。治腎消方。用白茯苓復盆子黃連栝蔞根萆　人參熟地黃元參各一兩。石斛蛇床子各七錢半。雞　三十具。微炒共為末。煉蜜和搗三五百杵丸如梧子大。每服三十丸。食前磁石湯送下。喻嘉言治驗加犀角一兩。又以六味丸加犀角收功。○抄此與八味地黃丸。一陰一陽。相為表裡。皆為神方。</p>
<p>脈宜數大。　忌虛小。</p>
<h3>傷食</h3>
<p>傷食病。必有胸悶吞酸噯腐腹脹腹痛等症。直以平胃散。如麥芽穀芽山楂神麯蘿卜子消之。或以所傷之物。燒灰加入為引導。如初傷時食尚在膈。服此湯。以手探吐。如傷之已久。</p>
<p>腹滿拒按。宜以三一承氣湯下之。愈後服香砂六君子湯。加乾薑調養。若無吞酸噯腐等症。</p>
<p>但見頭痛惡寒發熱。是外感症。切不可誤用消導之品。致外邪陷入。變症百出。傷寒不禁食。故桂枝湯啜粥是開章第一義。讀仲景書自明。西北之人。一遇頭痛惡寒發熱之症。便云有食。即服神麯山楂等藥。往往誤事。余為活人計。不得不大聲疾呼也。</p>
<p>脈滑而實。　時書以右關之上為氣口。謂氣口緊盛傷於食者。妄也。</p>
<p>張景岳云。偶病之人。多有非食而疑食者。曰某日曾食某物。或某肉某面。其日即病。</p>
<p>醫理不論虛實。但聞此言。且見胃口不開。必先治食。夫未病之人。誰有不食。豈必預為停食。以待病至者。斯可信其無食乎。及其病也。則或因勞倦。或因風寒。或因七情。病發不測。而且無脹無滯。與食何干。藥有對病而妄行剝削。必反增病。此斯道之莫須有也。由此推之。則凡無據無證。而妄行胡猜者。皆其類也。良可慨矣。</p>
<p>黃履素（著折肱漫錄。）云。五穀皆養補脾氣之物。一　成炭。反能消食者何。蓋火能軟堅化物。燼從火化故也。諸炭能消食。亦能傷脾。功用不減於山楂神麯。不可忽之。以為食物而多服常服也。</p>
<p>愚按今人用白朮炒焦不知其傷脾地黃燒灰。不知其傷腎。當以先生之言正之。</p>
<h3>瘧疾</h3>
<p>寒熱往來有定候。一日一發者邪淺。二日一發者邪深。三日一發者邪更深。先寒後熱者為順。先熱後寒者為逆。自子至午發者為陽。自午至子發者為陰。單寒無熱者名牡瘧。為純陰病。單熱無寒者為癉瘧。為純陽病。瘧病因勞而發者名勞瘧。因食而發者名食瘧。更有鬼瘧為祟病。瘴瘧疾感嵐氣而成。種種不同。總以少陽一經為主。以少陽居陰陽之界。偏陰則寒多。偏陽則熱多。陰陽俱病。則寒熱等。單寒單熱。為陰陽偏造具極。即祟瘧瘴瘧。亦陽氣之虛。正虛不能勝邪。內虛不能御外。脾胃之陽虛。不能熟腐水穀。俱不離少陽一經。</p>
<p>瘧脈自弦（浮弦表邪　沉弦裡邪。　遲弦屬寒。　數弦痰飲。　洪弦屬熱。　實弦食積。）</p>
<p>久瘧之脈（漸緩則愈　弦緊則殆。　吐散雙弦。　代散莫救。）</p>
<p>初起俱宜小柴胡湯。一日一服。五日必愈。方中柴胡一味。少則用四錢。多則用八錢。</p>
<p>切不可少。此一味。神農推為上品。久服延年益壽之藥。自李東垣及李時珍之書行。此藥之真面目漸掩。張景岳新造五柴胡飲為散劑。更屬無知妄作流毒非輕。○凡初起無汗。去人參加桂枝三錢。服後食熱粥溫覆。微似汗則愈。未愈再服之。有利無弊。切勿惑於淺人之說。</p>
<p>○若發熱甚。汗不出。可加麻黃三錢。如病家惑於邪說。牢不可破。即以杏仁紫蘇防風各三錢。代麻黃。服後溫覆。微似汗。不用食粥。○上下午瘧。不必過分。唯以寒多者屬陰盛。</p>
<p>加桂枝三錢。生薑宜倍用之。或再加吳萸三錢。單寒無熱者。亦用此法。或去黃芩。再加熟附子二錢。○熱多者屬陽盛。加知母貝母各三錢。汗多而大熱大渴者。加生石膏五錢。麥冬三錢。粳米四錢。單熱無寒者亦用此法。或再加知母三錢。先熱後寒者名痹瘧。治同。宜加桂枝二錢。是從金匱白虎加桂枝湯中仿出。○鬼瘧。脈乍大乍小。加藿香二錢。以香為天地之正氣。正能勝邪也。天麻三錢。以天麻之形如魁芋。有二十四子周環於外。其苗名赤箭。</p>
<p>取弧矢以示威之義也。○瘴瘧。加蒼朮藿香各二錢。○食瘧。以平胃散采入柴胡一味為君。</p>
<p>融合二方為一方。即前人復方法也。○勞瘧。是虛人不能耐勞而病瘧。宜小柴胡原方。去半夏。加栝蔞根二錢。或佐以補中益氣湯。○一切瘧疾口渴。俱去半夏。加栝蔞根。以生津液。</p>
<p>凡一切瘧疾。欲急於取效。俟三發之後。以小柴胡湯。加常山三錢。寅時服。渣再煎於辰時再服如吐。任其吐去痰涎。自愈。○時醫惑於俗傳本草。謂常山是截瘧猛藥。邪未盡而強截之。多變他病。此無稽之臆說也。蓋常山從陰出陽。為透邪外出之良藥。仲景用其苗名為蜀漆。今人用其根。何嘗是強截之藥。</p>
<p>一久瘧不愈。及三陰瘧三日一發者。諸藥不效。惟以白朮一兩或二兩加生薑五七錢。水煎一杯。於寅時服之渣再煎。於上午再服。如熱多者。以當歸一兩余。代白朮。○如脾腎兩虛。諸藥不效者。用近效白朮湯一日兩服。服到十日必愈。（書成。友人自安徽回贈余醫書一帙。乃張心在新著附經也。中有三陽交於膽。三陰交於脾。三陽之瘧治膽。三陰之瘧治脾句。真是名言可佩。此君若得名師益友而講論之。將來為醫中一巨擘。恨未悟其人。）</p>
<p>一初病瘧。世稱胎瘧。纏綿難愈。與痘疹之症。本於胎毒無異。宜六君子湯。加草果烏梅。或合小柴胡湯。</p>
<p>一久瘧不愈。不必治瘧。只以六君子湯。補中益氣湯。兼吞桂附八味丸。調理半月無不痊愈。今醫俱遵景岳法。用何人飲休瘧飲方中。以何首烏一味為主。據云中和之道。其實苦澀之品不能食入。余屢見久服此藥。多變出腫脹等病。學人不可不知。</p>
<h3>痢疾</h3>
<p>下痢穢濁膠黏似膿似血。小腹隱痛。欲便不便的裡急後重是也。舊說偏寒偏熱。主補主攻。皆不可拘執。唯所列死證數條。緣時醫治不得法流連致死。或過信前醫之說。棄而不治。</p>
<p>坐視其死。余目擊心傷。日夜焦心。從內經仲景言外之旨。及散見於各條之下。一一體認。</p>
<p>而參以所治之症。大有所悟。藥到病瘳。厥效彰彰可紀。請先言救逆之道。而次及恆法。</p>
<p>一醫書云。脈沉小者易治。脈浮大者難療。又云發熱不休者死。此遵內經腸　一論。執一不通之過也。余別有所悟。脈浮為表邪。浮而兼大。是表邪浸於陽明之界而下利。仲景有葛根湯。等治法發熱不休。非感冒風寒。即是經絡不和。宜用桂枝湯當歸四逆湯。祛風寒以調經絡。人參敗毒散加老米。名倉廩湯亦是此意。但藥力輕薄。不能速效耳。大抵初病治法。</p>
<p>發熱惡寒者。香蘇飲加防風川芎。以取微汗則愈。重必用桂枝湯當歸四逆湯之類。若寒熱往來多嘔者。必用小柴胡湯。若熱多而口渴者。小柴胡湯去半夏加栝蔞根主之。若發熱不惡寒裡急後重者。以葛根黃芩黃連甘草湯。照古法先煎葛根。後煎諸藥。日服二三劑。必愈。若用痢門方。如芍藥湯之類。其邪無不陷入變危者。余深恨倪氏痢疾三方。為殺人主具。</p>
<p>一醫書云。腹痛不休者死。按其治法。不過用木香檳榔砂仁及消食行滯之品。安能以救死症。若果消渴。口中熱。胸腹脹滿堅實而拒按。為實症。三承氣湯可以擇用。或以三一承氣湯代之。若果不渴。口中和。脈遲小而無力。或手足冷。腹痛而喜按。為虛寒症。非四逆湯不可。若腹痛而下痢重滯者。再加生白芍三錢。如腹痛不止。虛煩而喜按。脈弦者。為肝邪克土。宜小建中湯。服一時許。即以小柴胡湯。去黃芩加白芍藥繼之。神效。</p>
<p>一醫書云下痢純血者死。下痢如屋漏水者死。按其治法。不過用阿膠地榆槐花蒼朮之類。</p>
<p>安能以救死症。如果下奔鮮血。口渴便短。裡急後重。脈盛者為火症。宜白頭翁湯。一日二服。虛人及產後。加阿膠甘草。亦有下鮮血而非火症者。若血帶黯而成塊者。屬熱者少。屬寒者多。俱宜從脈症細辨之。若口中和。脈細。小便長。手足冷者。屬虛寒無疑。宜以理中湯。加灶心土八錢主之。下血多者。宜間服黃土湯。一日二服。三日漸愈。蓋以脾胃如分金之爐。理中湯分其清濁。是治其本源也。屋漏水。即血水之黯滯不稠者。為虛寒症。誤用寒涼攻破所致。若見咽痛。語言無序。半日必死。亦用理中湯救之。</p>
<p>一醫書云能食者輕。不能者重。絕食者死。發嘔者死。蓋不能食。有食滯。即宜以平胃散加消導之藥。若脾胃虛弱。即宜用香砂六君子湯及理中湯。健脾以運胃。又有辨於其微者。</p>
<p>不即是噤口痢。丹溪用人參石蓮肉黃連煎湯。入生薑汁。徐徐呷之。只認作濕熱上衝之症。故不效。宜參上諸法治之。若食入即吐不利於香砂橘半者。宜用乾薑黃連黃芩湯。苦辛以開拒格。若胸滿而吐。及乾嘔吐涎沫者。宜吳茱萸湯。溫鎮以和土木。其效如神。○凡心下痞滿。從仲景三瀉心湯。及厚朴生薑甘草半夏人參湯等。擇用如神。</p>
<p>一醫書云。婦人新產即發痢者死。余放金匱白頭翁東加甘草阿膠之例。可知產後宜照病用藥。毫無顧忌。又云小兒出痘後即發痢者死。余以為不盡然。大抵產後失於過溫致死痘後失於過寒致死。俱因病而藥之。不必泥於一說。</p>
<h3>恆法</h3>
<p>一痢疾無外症惡症。但見裡急後重便膿血者。三日內。俱宜</p>
<p><u>芍藥湯。</u></p>
<p>（六十）</p>
<p>一痢疾腹中撮痛。或下血片。及噤口惡痢。諸藥不效者。宜斗門秘傳方。（七十）</p>
<p>一痢疾不論新久。以陳米湯送下香連丸三錢。一日三服。極驗。至於久痢。以四君子湯六君子湯補中益氣湯十全大補湯送下。法本薛氏多效。</p>
<p>一久痢諸藥不效。審其為虛脫不禁無余邪者。宜</p>
<p><u>真人養臟湯。</u></p>
<p>（七十五）</p>
<p>一久痢流連不愈。愈而又作。名為休息痢。是堵澀太早。余邪未盡。宜羊脂四錢。白蠟三錢。黃連末三錢。白蜜八錢。烏梅肉炒研末二錢。血余灰三錢。煎攪為丸丸如桐子大。以米飲送下三十丸。日三服。此孫真人法也。○又有服補中益氣湯。不應。反下鮮紫血塊者。</p>
<p>此久風成食泄。風氣通於肝。肝傷不能藏血也。宜玉屏風散。去白朮。倍防風。加羌活葛根升麻主之。宜</p>
<p><u>玉屏風散。</u></p>
<p>（六十七）</p>
<p>一洞泄寒中。注下水穀。赤痢白痢。食已即出。</p>
<p>食物不消者。宜</p>
<p><u>聖濟附子丸。</u></p>
<p>（七十）</p>
<h3>時疫</h3>
<p>（修園新訂）</p>
<p>程山齡云。時疫之症。須知有來路兩條。去路五條。何謂來路兩條。疫有在天者。在人者。如春應溫而反寒。夏應熱而反涼。秋應涼而反熱。冬應寒而反溫。非其時而有其氣。自人受之。皆從經絡而入。或為頭痛發熱咳嗽。或頸腫發？大頭風之類。斯在天之疫也。若一人之病。染及一室。一室之病。染及一鄉。以及闔邑。病氣穢氣。互相傳染。其氣從口鼻而入。其見症。憎寒壯熱。胸膈飽悶。○吐黃涎。乃在人之疫以氣相感。與天無涉。所謂來路兩條者此也。夫在天之疫。邪從經絡入。寒多者。治以辛溫。宜五積散。熱多者。治以辛涼。</p>
<p>宜九味羌活湯。審其氣虛不能作汗者。宜人參敗毒散。熱甚格邪。不作汗者。宜防風通聖散。</p>
<p>若發頤及大頭症。是風火相乘而為毒。宜防風通聖散。加牛蒡子金銀花桔梗貝母栝蔞仁之類。</p>
<p>俾邪從經絡入者。仍從經絡出。此以發汗為去路也。在人之疫。邪從口鼻入。或香蘇飲。</p>
<p>加玉竹川芎忍冬。或神朮散。加葛根蔥頭。或藿香正氣散之類。俾其從口鼻入者。仍從口鼻出。此以解穢為去路也。至於經絡口鼻所受之邪。傳於陽明之經。則為自汗大渴大熱斑黃等症。宜甘露飲。生其津液。以為勝邪回生之本。甚者必用人參白虎湯。以清陽明散漫之熱。</p>
<p>此以清火為去路也。如入於胃腑。則為譫語發狂。大便實小腹拒按等症。宜三一承氣湯下之。或內有實熱外有實邪者。宜防風通聖以兩解。此方。疫症第一良方用之得法。不論新久。</p>
<p>頭頭是道。此以攻下為去路也。復有虛人患疫。或病久變虛。或誤治變虛。須用四物湯四君子湯補中益氣湯等加減。此以補養托邪為去路也。要之疫症必從大汗而解。人壯者。不戰而汗。人虛者。必戰栗而後大汗。汗未徹者。俟七日後而又作汗。以上五法。該於發汗一法之中。散邪。是發汗正法。而穢濁之氣襲經絡。不以辛香解之。則汗不出。火邪內燔。血干津涸。非清火。則陰氣不滋而汗不出。胃氣壅塞不攻。其實。則濁氣不解。而汗不出。汗由液化其出自陽。其源自陰。非補養陰陽。則氣血不充。而汗不出。此發汗一法。為治疫大關頭。有汗則生無汗則死。若治之失法。或涸其汗源。或強逼使汗皆枉其死也。可不慎哉未汗。宜陽脈。忌陰脈。　已汗。宜陰脈。忌陽脈。</p>
<h3>避疫法</h3>
<p>避疫之法。惟在節欲節勞。仍勿忍飢以受其氣。○膽為中正之官。膽氣壯。則十一經之氣賴以俱壯。邪不能入。○醫統云男人病邪氣出於口女人病邪氣出於前陰。其對坐之間。必須識其向背。或以雄黃塗鼻孔中。從容察位而入。</p>
<h3>暑症</h3>
<p>潔古謂動而得之為中熱。靜而得之為中暑。暑陰而熱陽。未免稱名不正。蓋夏日炎炎。</p>
<p>人觸之則生暑病。即為中熱。無非動以得之。他若畏熱求涼。涼襲於外。則為發熱惡寒頭痛項強等症。宜九味羌活湯以散之。涼中於中。則為吐瀉腸痛。宜理中湯以溫之。若兼煩躁則間用涼水調下大順散病雖作於暑月。不得以暑病名之也。大抵暑症辨法。以口渴煩心溺赤身熱脈洪而虛為的。輕者為傷。以六一散蕩滌熱氣。從小便而泄。若暑熱閉鬱而無汗。必用香薷飲。發越陽氣。徹上徹下。解表兼利小便。則愈。重者為中。大渴大汗。宜白虎加人參湯主之。或汗出身熱而兩足冷者。是暑而挾濕。宜白虎加蒼朮湯主之。若中暑昏悶不醒並伏暑停食吐瀉。用半夏四兩醋煮茯苓甘草各二兩。共為末。以生薑汁為丸。如綠豆大。每服五六十丸。開水送下。若昏憒不醒者。研碎灌之立蘇。此孫真人之神方也。（名消暑丸。為暑症第一神方。）至於生脈散清暑益氣湯。為暑傷元氣而立。或預服以卻暑。或病愈後以收功。</p>
<p>非暑病正方也。</p>
<p>六一散（五十二）　香薷飲（四十一）　清暑益氣湯（九十六）　生脈散（七十八）</p>
<h3>濕病</h3>
<p>濕有從外入者。有自內得者。陰雨濕地。皆從外入。其症頭重腰冷。一身盡重。冷漿瓜果。皆自內得。其症泄瀉腹脹。腸有水氣。淋濁痰飲。然外濕亦可漸入於內。內濕亦有浸漬於外。失此不治。則鬱而為熱。變症多端。不可不察。濕脈多緩。（是怠緩。非和緩。）　浮大者易治。沉細小者難醫。</p>
<p>一內外濕總方。宜二陳東加蒼朮白朮羌活王之。○外濕加紫蘇防風豬苓澤瀉干葛木瓜主之。○內濕。加木通澤瀉砂仁木香。食積。加山楂麥芽枳實。寒濕。加乾薑。濕熱。加黃連黃芩。熱輕者。只用連翹。○檳榔時嚼。亦妙。（八十二）</p>
<p>受濕腰痛。其痛冷重沉著。如帶五千錢。宜腎著湯。（八十四）</p>
<p>白濁不止。為濕熱下注。婦人白帶亦然。宜萆　釐清飲。○如婦人白帶。加半夏芡實苡仁黃柏生白朮主之。（八十三）</p>
<p>一傷濕一身盡痛。不可轉動。宜一味白朮酒。（八十五）</p>
<p>一蒼朮多脂易霉而治濕。與僵蠶死於風而治風。驢皮動火制成阿膠而降火。俱是造物妙處。即大易所謂同氣相求。內經所謂衰之以其屬是也。蓋濕邪在人腸胃。原自不安。一得蒼朮。氣味便與之合一。氣從汗出。味隨水穀下行。先誘之。而後攻之也。</p>
<h3>頭痛</h3>
<p>大抵暫痛為邪。久痛為虛。邪則分寒熱而除之。虛則審陰陽而補之。然亦有久痛為邪所纏。新痛因虛而發者。當因脈證而辨之。</p>
<p>脈浮滑者生。短澀者死。</p>
<p>一傷寒六經俱有頭痛。太陽痛在腦後。必連項強。宜九味羌活湯。加蔥白三根。○陽明痛在額前。必連目眶。宜升麻葛根湯。○少陽痛在側。必兼兩脅痛多嘔。宜逍遙散。去白朮。</p>
<p>加半夏黃芩川芎。○太陰無頭痛。然濕土動而生痰。亦為頭痛。宜二陳湯。加制南星蒼朮川芎。○少陰頭痛。脈細俱欲寐。宜五積散。加細辛附子。○厥陰頭痛如破。乾嘔吐涎沫。宜吳茱萸二錢。人參一錢五分。生薑四錢。大棗四枚。水煎服。名吳茱萸湯。</p>
<p>一火邪頭痛。火盛者宜竹葉石膏東加減。方見傷寒。如火勢輕者。只用辛涼之品。火鬱發之之義也。宜</p>
<p><u>加味逍遙散。</u></p>
<p>加葛根二錢酒炒。黃柏一錢。薄荷五分。（四十八）</p>
<p>一氣實有痰。或頭重眩暈。用大黃酒炒三遍為末。茶調三錢服。此釜下抽薪之法也。</p>
<p>一偏頭痛。宜</p>
<p><u>二陳湯。</u></p>
<p>偏在右者。宜沙參一兩酒炒。黃芩黃連川芎防風制南星之類。偏在左者。</p>
<p>加當歸一氣虛頭痛。宜</p>
<p><u>補中益氣湯。</u></p>
<p>少加川芎蔓荊子之類。（五）</p>
<p>一血虛頭痛。宜</p>
<p><u>四物湯。</u></p>
<p>倍川芎。加黃柏知母。少加蔓荊子細辛之類。（九）</p>
<p><u>當歸補血湯。</u></p>
<p>加鹿茸五錢。水酒各半煎。（六）</p>
<p>一眉棱角痛。宜半夏六錢。生薑三片。水煎。調沉香末五分服。</p>
<p>一真頭痛。痛甚。腦盡痛。手足寒至節不治。然不忍坐視其死。急灸百會。吞黑錫丹。</p>
<p>（三十）</p>
<p>一腎虛頭痛。諸藥不效。宜</p>
<p><u>六味湯。</u></p>
<p>去丹澤。加枸杞三錢炙甘草細辛各一錢。川芎二錢。肉蓯蓉三錢五分。</p>
<p>○如命門火一蒸法最效方。用川芎半兩。晚蠶砂二兩。僵蠶如患者年歲之數。以水五碗。煎至三碗。</p>
<p>就砂鍋中。以濃紙糊滿。中間開錢大一孔。取藥氣。熏蒸痛處。每日一次。雖年久者。三五次永不再發。</p>
<h3>瘰</h3>
<p>普明子曰。瘰　者。肝病也。肝主筋。肝經血燥有火。則筋急而生瘰　。多生於耳前後者。膽之部位。膽與肝相表裡。其初起。即宜消瘰丸消散之。不可用刀針。及敷潰爛之藥。</p>
<p>若病久已經潰爛者。外貼普救萬全膏。內服消瘰丸。並逍遙散。自無不愈。更宜戒惱怒。斷煎炒及發氣閉氣諸物。免致膿水淋漓。漸成虛損。患此者可毋戒歟。</p>
<p>（新采）</p>
<p><u>消瘰丸。</u></p>
<p>此方奇效。治愈者不可勝計。予亦刻方普送矣。</p>
<p>元參（蒸。）牡蠣（　醋淬。）貝母（去心蒸。各四兩。）</p>
<p>共為末。煉蜜為丸。每服三錢。開水下。日一服。</p>
<p>愚按普明著醫學心悟一書。逐未亡本。用之鮮效。唯此方平淡而神奇。當共寶之。但耳前後為少陽部位。（渠云肝之部位者誤也。故改正之。）</p>
<h3>眩暈</h3>
<p>內經云。上虛則眩。又云。腎虛則高搖髓海。不足則腦轉耳鳴。皆指不足而言仲景論眩。</p>
<p>以痰飲為先。丹溪宗河間之說。亦謂無痰不眩。無火不暈。皆指有餘而言。前聖後賢。何其相反至此。不知此症不離於肝。經云。諸風掉眩。皆屬於肝。此風非外來之風。指厥陰風木而言。厥陰風木。與少陽相火同居。厥陰氣逆。則風生而火發。故河間以風火立論也。風生必挾木勢而克土。土病則聚液而成痰。故仲景以痰飲立論。丹溪以痰火立論也。然一身聚邪之處。即為偏虛之處。頭為諸陽之會相火得以逆行上　者。非上焦之虛而何。腎為肝母。</p>
<p>腎主藏精。精虛則髓海空而頭重。故內經以上虛及腎虛髓海不足立論也。言虛者。言其病根。</p>
<p>言脈數熱多　脈澀血少。　弦為肝風。　滑實痰責。　虛小氣虛。　大為病進。</p>
<p>一眩暈脈弦發熱。或寒熱往來。宜</p>
<p><u>逍遙散。</u></p>
<p>加半夏天麻鉤藤主之。（四十八）</p>
<p>一眩暈脈數或滑實。大小便閉。胸脅作痛。耳聾耳鳴多怒。凡屬肝經實火。宜</p>
<p><u>當歸蘆薈丸</u></p>
<p>○此法。從喻嘉言寓意草醫吳添宮之母一案得來。</p>
<p>一眩暈脈澀。乃精氣不足。欲榮其上。必灌耳根。宜</p>
<p><u>六味地黃湯。</u></p>
<p>倍地黃。去丹皮澤瀉。加細辛炙甘草各一錢。川芎二錢。枸杞子三錢。肉蓯蓉一脈虛細弱小。是氣虛。宜</p>
<p><u>補中益氣湯。</u></p>
<p>加天麻半夏鉤藤。（五）</p>
<p>一脈弦而滑。眩暈而嘔逆。為痰飲。宜澤瀉四錢白朮二錢水煎服。或用二承湯。加天麻合此二味。</p>
<p>一實火眩暈不可當。宜大黃酒炒三遍研末。茶調下二三錢。</p>
<p>一虛眩諸藥不效。宜鹿茸五錢。酒煎去滓。入麝香少許服。緣鹿茸生於頭。以類相從也。</p>
<p>一眩暈大虛。諸藥不效。及虛人愈後調理。俱宜正元丹。（二十）</p>
<p><u>桂附八味丸。</u></p>
<p>（十五）</p>
<h3>眼目</h3>
<p>眼目一症。古有五輪八廓及七十二症之辨。其實不足憑也業是科者。庸妄固無論已。而高明之士。於實症。則曰風曰火。於虛症。則曰肝血少曰腎水衰。言之親切有味。而施治則毫無少效。且以增病。余歷數交游。凡目痛者。無不因醫而致瞽。即有一二幸免者。原為輕淺之病。即不服藥亦愈。於醫固無與也。蓋此症除風火赤腫外障等症。外而一切目視無光及昏黑倦視等症。皆為陽虛。心肺為上焦之陽。心屬火。火能燭物。肺屬金。金能鑒物。二臟之陽不宣則火不能燭。金不能鑒矣醫者不知。以補血之藥滋肝。以補水之藥滋腎。下焦之陰愈盛。則上焦之陽愈虛。且令下焦陰氣。上加於天。白晝如夜。爝火有光。陰云四合。龍雷飛騰。原欲滋陰以降火。其實滋陰以助火。火盛則遂增出赤腫紅絲　肉羞明諸火象。漸成廢疾矣。予非專業此道。不敢多言。請向瞽者而詢其所服何藥。所點何藥。便得前車之鑒。今於眼科所未載外。搜出數方。以救逐流之弊。</p>
<p><u>四君子湯。</u></p>
<p>（一。加肉蓯蓉川椒菟絲為丸。治虛寒症。）豆腐一塊。（中挖一空。</p>
<p>入朴硝一二錢。仍用豆腐蓋上蒸出水即以此水洗目效。治實熱症。）</p>
<p>桂附地黃丸（十五）當歸補血湯。加鹿茸三錢。（六）磁珠丸。（二十六）還少丹。以菊花湯送下。（十六）初起翳障。不可遽用點藥。及一切洗藥。蓋目不染塵。藥汁入目。亦見羞澀。</p>
<p>唯用潔淨開水。以潔淨茶盞盛之。用潔淨本色絹片。乘熱淋洗。洗後水混濁。換水再洗。洗至水清無垢方止。如此數次即愈。水內並不用藥。名天然水。水必煎沸者。以熱能散風。水能制火也。</p>
<h3>耳聾</h3>
<p>腎開竅於耳。固也。而腎脈卻不能上頭。腎與心交。假道於心之腑以上耳中之穴。曰聽宮。小腸之經脈貫之。為司聽之神所居之位。其形如珠。皮膜包裹真水。若真水破而耳立聾。</p>
<p>有為大聲所振而聾者。皮膜破也。或聾或不聾者。心腎不交也。宜磁朱丸交媾水火。有先耳鳴而後聾者。腎虛不能開藏。陰氣窒塞於陽竅也。宜六味丸。去丹皮重加磁石。再加五味子龜板膠為丸。令陰氣自盛於本宮。不觸於陽竅。若感冒暴聾。總不外少陽一經。足少陽膽脈。</p>
<p>繞耳輸。手少陽三焦脈。入於耳。邪氣壅實。聽官為其所掩。宜逍遙散。去白朮。加黃芩半夏生薑玉竹大棗主之。如風火交煽。宜防風通聖散。肝火熾盛。宜蘆薈當歸丸。尺脈弱者。宜桂附地黃丸。尺脈數者。宜大補陰丸二丸俱加磁石菖蒲蓯蓉之類。神而明之。存乎其人。非可以筆楮傳者。</p>
<p>浮大為風。洪數為火。　洪大而實為風火。　尺數為陰火　遲濡為腎虛。</p>
<h3>疝氣</h3>
<p>疝者。小腹睪丸為腫為痛是也。其名有七。曰寒疝。囊冷結硬如石。陰莖不舉。或控睪丸而痛。曰水疝。腎囊腫痛。陰汗時出。或腫狀如水晶。或囊癢而外出黃水。曰筋疝。陰莖腫脹。或潰或膿。或裡急筋縮。或出白物。曰血疝。狀如黃瓜。或小腹兩旁橫骨兩端約中。</p>
<p>俗云便癰。曰氣疝。上連腎區。下及陰囊或因號哭忿怒則脹。罷則氣散。</p>
<p>曰狐疝。臥則入小腹。行立則出小腹。曰　疝。陰囊腫縋。如升如斗。不癢不痛。然亦不必拘者。經云。任脈為病。男子內結七疝。女子帶下瘕聚。又曰足厥陰肝病。丈夫　疝。</p>
<p>婦人少腹腫。大抵任病肝病居多。小腸病亦多。各經亦間有之。治之之法。統以二陳湯。加澤瀉豬苓白朮桂枝小茴香木通金鈴子主之余少時初用。疑為偶效。後屢試屢驗。方知其調氣之功甚KT　。張景岳先得我心。景岳云。病名疝氣。非無謂也。蓋寒有寒氣。熱有熱氣。</p>
<p>濕有濕氣。逆有逆氣。陷有陷氣。在陽分。則有氣中之氣。在陰分。則有血中之氣。從寒熱虛實施治。俱當兼用氣藥。余此方。化膀胱之氣。而諸氣俱調。其義詳於脹症。宜參究之。</p>
<p>本脈牢急。弱急不宜。</p>
<p>二陳東加味外。○若寒甚者。再加乾薑附子。○若熱極者。加黃柏知母。○小便如膏者。</p>
<p>加石菖蒲萆　。○氣上衝。去白朮。加肉桂吳茱萸當歸。○囊腫如水晶者。加苡仁桑皮。○痛不可忍者。恐瘀血為膿致潰。加桃仁紅花乳香。○筋縮者。加苡仁一兩。木瓜二錢。○頑麻不痛者。加川芎檳榔。○癢者。加刺蒺藜三錢。</p>
<p>千金翼洗方　治丈夫陰腫如斗。核中痛雄黃末（一兩）　礬石（二兩）　甘草（七錢）</p>
<p>水五碗。煎二碗。洗。</p>
<p>又於關元兩旁相去各三寸青脈上。灸七壯。即愈。左灸左。右灸右。</p>
<p>又灸外陵穴。在臍左右各開一寸半。灸疝立效。永不再發。</p>
<h3>痿症</h3>
<p>痿者。兩足痿弱不能行也。（痿而不痛。）治宜獨取陽明。陽明為五臟六腑之海。主潤宗筋而痿　作矣。若用辛熱風藥。及蒸灸等法。立危。</p>
<p>脈浮數可治。虛弱難醫。</p>
<p>一痿症皆屬於熱。宜</p>
<p><u>虎潛丸。</u></p>
<p>（二八三）</p>
<p>陽明為諸筋總會。故取虎潛丸為主。而足所以能健步者。則在於骨。三因方又取加減四筋丸為主。以腎為筋骨之總司也。方用肉蓯蓉牛膝木瓜鹿茸熟地五味子菟絲子各等分為末。</p>
<p>煉蜜丸桐子大。每服十丸。溫酒米飲下。</p>
<p>一痿症服前丸。若氣虛多痰者。間服</p>
<p><u>六君子湯。</u></p>
<p>加黃柏蒼朮紫菀。神農本經云。紫菀主痿　。今人不讀聖經。只知為治咳也。（一瘦黑人血虛多火。宜間服</p>
<p><u>六味丸。</u></p>
<p>加黃柏蒼朮。（十四）</p>
<p>肥白人痰多氣虛。宜間服</p>
<p><u>當歸補血湯。</u></p>
<p>加竹瀝薑汁。（六）</p>
<h3>泄瀉</h3>
<p>難經有五泄之分。曰胃泄脾泄大腸泄小腸泄大瘕泄。（即痢疾。）其實不必泥也。總以虛實久暫為辨。</p>
<p>脈小手足寒。難已。　脈小手足溫。易已。泄而脫血。難治。　泄而脈大。難治。</p>
<p>一內經云。濕勝則濡泄。此為瀉病之總論。宜平胃散。加茯苓豬苓澤瀉白朮桂枝。名胃苓湯。統治諸瀉如神。（八十）</p>
<p>口中熱。溺赤下瀉腸垢。為濕熱。去桂枝。加防風黃連一錢。○溺清。口中和。下利清穀。為濕寒。加乾薑二錢。○胸滿痞悶。噯腐吞酸。瀉下臭穢。為食積。加山楂麥芽。○食少便頻。面色　白。為脾虛。去厚朴。加人參乾薑。○五更天明。依時作瀉。或臍下痛。為腎一忽然大瀉不止。大汗大喘。手足厥冷兼吐者。須防脾腎之氣暴脫。夏月伏陰在內。最多此症。若服藿香香薷必死。急用附子理中湯大劑。</p>
<p>一內經云。諸病暴注。皆屬於熱。然必有熱症熱脈可憑。不可以涼藥姑試。宜香連丸。</p>
<p>（八十九）六一散。（五十一）</p>
<p>一內經云。清氣在下。則生飧泄。須用升清法。宜</p>
<p><u>補中益氣湯。</u></p>
<p>去當歸。加木香干葛。（五分）</p>
<p>一內經云。春傷於風。夏生飧泄。又云。久風生飧泄。宜神術湯。（七十八）聖濟附子丸（七十一）</p>
<p>久瀉愈而又作瀉。時腹痛。諸藥不效。此痼冷在腸間。必先取去。然後調治。宜</p>
<p><u>平胃散。</u></p>
<p>去蒼朮。加乾薑肉桂附子各一錢半。大黃八分。水煎服。法本千金。（八十）或用溫久瀉諸藥不效。有臟熱腸寒。臟寒腸熱之辨。微乎微乎。余詳於從眾錄等書。茲用仲景烏梅丸。每服二錢。米飲下。日三服。半月愈。又冬瀉。有用肉蓯蓉鹿角霜當歸須等法。有用芩連甘草葛根等法。有用阿膠羊脂乳酥黃連末蜂蜜熬膏等法。此理更微。可以心會。不可以言傳。喻嘉言頗得其秘。</p>
<p>一五更泄。名脾腎瀉。及虛人時常作瀉。必以溫補腎元為主。宜</p>
<p><u>回神丸。</u></p>
<p>加白朮人參乾薑附子茯苓罌粟殼。煉蜜丸。朝服三錢。臨睡服五錢。米飲送下。（七十二）</p>
<h2>卷四</h2>
<h3>鶴膝風</h3>
<p>脛細而膝腫是也。為風寒濕三氣。合痹於膝而成。初起。發熱頭痛。宜五積散。痢後變成者亦宜之。若久病。為足三陰虛。宜十全大補湯。加附子牛膝杜仲防風羌活主之。又治初起外法。用陳年白芥子研末。以薑汁蔥汁調塗一伏時。患處起泡。泡干脫皮。自愈。</p>
<p>五積散。（四十二）十全大補湯。（十一）</p>
<p>又按。鶴膝風多是虛寒。香港腳多是濕熱。一攻一補。治法各判。然香港腳有腎虛氣喘小腹痹者。腎氣丸必不可緩。鶴膝風有赤熱　腫者。二妙散桂枝芍藥知母湯。亦所必需。此活法也。</p>
<h3>腳氣</h3>
<p>腳之腫大是也。東垣云。南方卑濕。其濕從外以襲入。北方常食膻乳。又飲酒太過。脾胃有傷。不能運化。其濕從中以流下。初起發熱惡寒。似傷寒症。若上氣喘急。及上少腹不仁。恐致攻心不救。若患久不治。即成痼矣。此症名壅疾。不可驟補。</p>
<p>一香港腳腫痛不可忍。宜</p>
<p><u>雞鳴散。</u></p>
<p>（一百零八）</p>
<p>香港腳氣喘。少腹不仁。須防其入心。宜後方。香港腳服雞鳴散愈後。亦宜之。用桂附地黃丸。（十五）一兩脛大。為濕香港腳。兩脛不腫。或頑麻。或攣急。或緩縱。名干香港腳。宜</p>
<p><u>四物湯。</u></p>
<p>加牛膝獨活蒼朮黃柏木瓜澤瀉肉桂之類。（九）</p>
<h3>積聚</h3>
<p>積者。五臟所生。推之不移。屬陰。聚者。六腑所成。推之則移。屬陽。當辨其新久虛實而施治。內經云。大積大聚。不可犯也。衰其大半而止。過則死。此治積聚之法也。</p>
<p>脈宜沉實。　忌虛弱。</p>
<p>一積聚新病。審其可用發散者。宜用</p>
<p><u>五積散。</u></p>
<p>（四十二）</p>
<p>一積聚新病。審其可用消導攻下者。宜用</p>
<p><u>備急丸。</u></p>
<p>（五十三）</p>
<p><u>平胃散。</u></p>
<p>加入　蓄瞿麥炒大麥芽川芎。以上八味。各用五錢。沉香木香各一錢五分。大黃酒浸二兩。共為細末。每服三錢。薑湯送下。忌油膩動氣之物。及房事一月。藥須黃昏服。勿食晚飯。大小便見惡物為度。（八十）肝之積在左脅下。名曰肥氣。去蒼朮。加柴胡鱉甲青皮莪朮。○肺之積在右脅下。名曰息賁。加白豆蔻桑白皮鬱金。○心之積起臍上。</p>
<p>上至心。下大如臂。名曰伏梁。去蒼朮。加肉桂黃連石菖蒲莪朮。○脾之積在胃脘。腹大如盤。名曰痞氣。原方不加減。○腎之積在臍下。發於小腹。上衝心而痛。名曰奔豚。上方去蒼朮大黃陳皮麥芽　蓄。加茯苓四兩。肉桂附子當歸吳茱萸各五錢。川楝子李根白皮膈一兩。</p>
<p>淡鹽湯送下。或煉蜜為小丸。吞下四錢更佳。○凡熱積。加黃連黃芩。寒積。加薑桂附子。</p>
<p>酒積。加葛根。痰積。加半夏。水積。加桑白皮赤小豆。血積。加桃仁紅花。肉積。加阿魏山楂。果積。加麝香草果。</p>
<p>一久病及虛弱之人。不可徑用前藥。或先服補藥。然後攻之。或攻藥去病之半。而即補之。或服攻藥三日。服補藥一日。神而明之。存乎其人。若愈後。必以補藥收功。宜</p>
<p><u>六君子湯。</u></p>
<p>（二）</p>
<p><u>香砂六君子湯。</u></p>
<p>（三）</p>
<p><u>附子理中湯。</u></p>
<p>（一百零七）</p>
<p>以上三方。唯臍下動氣。去白朮。加肉桂一錢五分。</p>
<p>服攻藥。大下積血。自汗不止。氣弱不能轉動者。宜急進</p>
<p><u>參附湯。</u></p>
<p>若貧者。以當歸補血湯。加附子三錢代之。（一百零五）</p>
<h3>嘔吐噦呃</h3>
<p>聲與物俱出為嘔。有物無聲為吐。有聲無物為噦。氣自臍下衝逆有聲。聲短而頻。古人名噦又名咳逆為呃。方書命名各異。今從俗本分名。使人易曉。</p>
<p>脈陽緊陰數為吐。陽浮而數亦吐。寸緊尺澀胸滿而吐。寸口脈數者。吐。緊而澀者難治。</p>
<p>緊而滑者吐逆。脈弱而嘔。小便復利。身有微熱見厥者。難治。　吐出色如青菜者。危。</p>
<p>上四症。皆屬氣逆。有統治之法。宜二陳湯。隨症加減。（八十二）</p>
<p>如為寒氣所客。脈遲畏寒。加砂仁藿香乾薑○如乾嘔吐涎沫。加人參一錢。吳茱萸二錢。</p>
<p>大棗三枚。倍生薑。○如食不得入。為火阻於上。加黃連黃芩人參。○如為飲食所傷。吞酸噯腐。加蒼朮藿香砂仁麥芽山楂。○如有聲無物。加生竹茹二錢。人參一錢。旋覆花三錢。</p>
<p>代赭石一錢五分。大棗二粒。如吐酸水。加吳茱萸一錢。黃連五分。○如脾胃虛弱。運化遲而嘔吐者。加人參白朮砂仁木香。○如食已即吐。是胃中有熱。食入則兩熱相沖。不得停留而吐。若大便秘結。可加大黃三錢。○若寒熱往來。脅痛而嘔者。為少陽症。加人參黃芩各一錢。柴胡三錢。大棗二粒。○如驟然發呃者。為胃火上衝。加麥芽石斛麥冬枇杷葉竹茹扁豆各二錢。○久病發呃。有脾虛腎虛之分。脾虛者。加參朮丁香柿蒂。腎虛者。加參附乾薑沉香巴戟天。此症多死。○如吐蟲者。去甘草。加川椒人參吳茱萸黃連川楝子烏梅三粒。粳米一百粒。</p>
<h3>五淋癃閉</h3>
<p>淋病。小便滴瀝澀痛。欲去不去。欲止不止是也。古人分為五種。石淋。下如沙石。膏淋。下如膏脂。勞淋。從勞役而得。氣淋。氣滯不通。臍下悶痛。血淋。瘀血停蓄。莖中割痛。皆為熱結膀胱所致。而治者。卻不重在膀胱。而重在三焦。經云。膀胱者。州都之官津液藏焉。氣化則能出矣。又云。三焦者。決瀆之官。水道出焉。此數語。數百年來注家俱誤。</p>
<p>不知津液為汗之源。膀胱氣化。則能出汗故仲景發汗法。必取之太陽也水道為行水之道。三焦得職。則小水通調。須知外出為膀胱之津液。下出為三焦之水道也。又有清心之法。以心與小腸相表裡也。又有清肝之法。以肝主疏泄也。又有補腎之法。以腎為司水之臟也。治三焦與膀胱之正法。則用五淋散。清心滋腎。則用導赤散。清肝。則用龍膽瀉肝湯之類。至於癃閉症。小便點滴不通。甚則脹悶欲死。其病源亦同前症。而治法更進一步。有用八味丸。</p>
<p>倍桂附。蒸動腎氣以開關者有用滋腎丸。滋陰以化陽者。有用補中益氣湯。服後以手探吐者。</p>
<p>（如滴水之器。閉其上竅而倒懸之。點滴不能下也。去其上閉。則下竅通矣。）有用五淋散。</p>
<p>加入麻黃杏仁。以取微汗。（麻黃力猛。能通陽氣於至陰之地。下肺氣。主皮毛。配杏仁以降氣下達州都。導水必自高原之義也。）有用人參麻黃各一兩。水煎服者。夏月不敢用麻黃。有用紫蘇防風杏仁各三錢水煎服溫覆取微汗者。有用白菊花根搗爛。以生白酒沖和取汁溫飲者有用水母四兩。　薺十四粒。水煎服者。有用皂角蔥頭王不留行各數兩。煎湯一盆。令病者坐浸其中。熏洗小腹下體。久之熱氣內達。壅滯自開而便通者。務宜審其脈症而施治。</p>
<p>不可執一。</p>
<p>脈宜浮大。忌細小。</p>
<p><u>五淋散。</u></p>
<p>（五十通治五淋癃閉。）</p>
<p>加減法。氣淋。加荊芥香附生麥芽。○血淋。加牛膝桃仁紅花生地。入麝香少許。○石淋。送下六一散三錢。○膏淋。合萆　釐清飲。○勞淋。合補中益氣湯。○如過服金石藥。</p>
<p>與老人陽已痿。思色以降其精。致精內敗而為淋。加萆　石菖蒲菟絲子以導之。</p>
<p>六一散。（五十二石淋）　萆　釐清飲。（八十三膏淋）　導赤散。（四十九赤淋。）　龍膽瀉肝湯。（九十七莖腫莖中痛甚宜之）　補中益氣湯。（五氣淋。）　六味丸（十四水虛。）　八味丸。（十五冷淋。）　濟生腎氣丸。（一百零二扶陽以化陰。）　滋腎丸。（九十四滋陰以化陽。）　四生丸（一百血淋。）　百合湯。（九十三氣淋。）</p>
<h3>續論</h3>
<p>三焦包羅臟腑。主氣而即主水。（水由氣化也。）　故曰決瀆之官。水道出焉。上焦如霧。</p>
<p>氣中有水也。下焦如瀆。水中有氣也。中焦如漚。氣水相函於其中也。凡水道不通。溢於外而為腫。積於中而為脹。凌於肺為咳嘔。流於腸為泄瀉。宜專責之三焦。與他臟無涉。時醫治他臟而幸效。不可援以為例。</p>
<h3>遺精</h3>
<p>夢而遺者。相火之熾也。宜封髓丹。無夢而遺者。心腎之虛也。宜金鎖固精丸。然肝主疏泄。肝火大盛。宜暫用龍膽瀉肝湯。肝魂不守。宜多服二加龍骨湯。肝熱膽寒。宜溫膽湯。</p>
<p>加人參茯神棗仁蓮肉。精之蓄泄。無非聽命於心。威喜丸。平淡而神奇。四君子東加遠志。</p>
<p>亦補養得法。徒用補腎及固澀之藥。無益也。然此症。必須清心寡欲。靜養年余方效。藥石原不足賴。</p>
<p>時賢沈錄芊云。心藏神。肝藏魂。腎藏精。夢中所主之心。即心之神也。夢中所見之形。</p>
<p>即肝之魂也。夢中所泄之精。即腎之精也。要之心為君。肝腎為相。未有君火動而相火不隨之者。當先治其心。而後及其余。宜黃連清心飲。萬用黃連生地甘草當歸人參茯神棗仁遠志蓮子。按錄芊著有沈氏尊生一書。大抵皆見病治病。不脫江蘇氣習。此一條。用藥雖庸。而立論頗超。故節錄之。</p>
<p>訣云遺精白濁。當驗於尺。結芤動緊。二症之的。</p>
<p>正傳云。兩尺洪數必便濁遺精。</p>
<h3>赤白濁</h3>
<p>濁者。小水不清也。方書皆責之腎。今則求之於脾。脾土之濕熱下注。則為濁病。濕勝於熱則白。熱勝於濕則赤。治之之法。不外導其濕熱。濕熱去。則濁者清矣。</p>
<p>醫鑒曰。淋濁之病細數何妨。少陰微者。氣閉膀胱。女人見之。陰中生瘡大實易愈。細澀則亡。</p>
<p>一濁病初起。宜導其濕熱。宜</p>
<p><u>二陳湯。</u></p>
<p>加蒼朮白朮黃柏萆　主之。如赤濁。加丹參。（八十三）</p>
<p>一濁病稍久。當固其精道。利其水治。宜萆　釐清飲（八十三）</p>
<p>一內經云。中氣虛而溺為之變。與濁症不同。宜四君子湯。一補中益氣湯。（五）</p>
<p>一命門火衰。氣不攝精。每致敗精為濁。宜桂附八味丸。加菟絲子車前子。以導敗精。</p>
<p>一濁出精竅。與淋出溺竅者不同。病之稍久。宜固腎。不宜利水。此要旨也。</p>
<h3>自汗盜汗</h3>
<p>傷寒門。以自汗為傷風。盜汗為少陽症。其余雜病。自汗為陽虛。盜汗為陰虛。然陰陽互為其根。自汗亦有陰虛者。盜汗亦陽虛者。宜辨而治之。</p>
<p>一陽虛自汗。其人常畏寒。宜</p>
<p><u>參附湯。</u></p>
<p>（一百零五）朮附湯。（一百零五）　附湯。（一百零五）</p>
<p>一陰虛盜汗。其人常發熱。宜</p>
<p><u>當歸六黃湯。</u></p>
<p>（六）</p>
<p>一陰陽兩虛。自汗盜汗。怔忡不眠煩躁等症。宜</p>
<p><u>歸脾湯。</u></p>
<p>加麥冬五味。（二十）</p>
<p><u>人參養榮湯。</u></p>
<p>（十二）</p>
<p>一自汗發熱。為前此傷風醫不得法所致。宜玉屏風散（八十七）</p>
<h3>怔忡</h3>
<p>（驚悸不眠健忘症。治同。）</p>
<p>高鼓峰曰。怔忡。血少也。其原於腎水不足不能上升。以致心火不能下降。大劑歸脾湯。</p>
<p>去木香。加麥冬五味枸杞。吞都氣丸。如怔忡而實。挾包絡一種有餘之火兼痰者。則加生地黃連川貝之類。以清之。</p>
<p>按一症之治。只此數語。緣讀書臨症之多。故能片言居要。而胡念齋又補出胃絡不能上通症。脾脈不能入心症。宗氣虛而虛裡穴動症。水氣凌心症。奔豚上乘症。治法不甚相遠。</p>
<p>唯水氣與奔豚。當另法治之。愚謂水氣凌心。輕則用小半夏湯。倍加茯苓以泄之。重則用茯苓桂枝甘草大棗湯。以安之。再重。則用真武湯。以鎮之。○奔豚。則用桂枝東加桂以泄之。</p>
<p>或黑錫丹。以鎮之。或用茯苓桂枝甘草大棗湯。以緩之。金匱奔　湯。亦有意義。烏梅丸亦可借用。</p>
<p><u>六味地黃丸。</u></p>
<p>加五味子。名都氣丸。（十四）</p>
<h3>婦人科</h3>
<p>婦人之病。與男子同。唯經帶胎前產後。另有方法。</p>
<p>一妊婦患傷寒雜病。俱以四物湯為主。無汗。加麻黃細辛。有汗。加桂甘草。寒熱往來。</p>
<p>加柴胡黃芩。鼻干不眠。加升麻葛根大黃芒硝乾薑附子。俱可隨症加入。古人六合四物湯。</p>
<p>論之詳矣。</p>
<p>一婦人有胎。恐服藥有礙。灶中黃土研末。以水和塗於心下及臍下。干則易之。</p>
<p>一受胎二三月。必嘔惡心。以月水不通。陽明之氣。壅盛上　。至四五月自愈。如病甚。</p>
<p>用一胎前下血。名曰胎漏。氣虛不攝血也。多服補中益氣湯。如因惱怒傷肝者。宜加味逍遙散。加生地。</p>
<p>一胎動不安。血不養胎也。宜四物湯。去川芎加白朮杜仲。若有火者。再加黃芩。如腹時痛多寒者。加川椒。此一味。今人罕用。金匱用以養胎。</p>
<p>一墮胎症屢患者。必應期而墮總屬氣血大虛。余昔惑於丹溪之說。以黃芩白朮為安胎聖藥。內子患此。四年中連服五次皆墮。後有老醫。用四物湯。加真鹿膠補骨脂菟絲子杜仲川續斷而安。余始悟命門為人立命之本。女以系胞。必用溫藥熱藥始效。趙氏醫貫。用六味八味。加艾葉阿膠。大有灼見。如不受溫藥峻劑者。以杜仲八兩。糯米湯泡炒勿焦取粉。真桑上寄生人參五味子各四兩為末。以黃　一斤。白朮大棗各六兩。煮膏為丸。米湯送下四錢。</p>
<p>一日兩服。神效。一子腫。宜五皮散。加白朮子嗽。宜二陳湯。加阿膠麥冬桑白皮五味子乾薑細辛。子懸宜四物湯。去川芎。加黃芩白朮甘草。子瀉宜補中益氣湯。四君子湯。加黃芩砂仁。</p>
<p>一臨產交骨不開。宜四物。去芍地。加發炭三錢。龜板五錢。水煎服。如血水大下而不產者。是血干而胎滯。氣虛推送無力。宜當歸補血湯。加人參肉桂各一錢。甚者。去桂。加附子三錢。此法時醫不講。</p>
<p>一產後血暈。用醋炭熏鼻。老酒和童便飲之。不可放倒。如氣血脫而暈者。必唇口手足厥冷。以當歸補血湯。加參附乾薑。以回其陽。甚者。必用通脈四逆湯。如認作血暈治之。</p>
<p>則一胎衣不下。用歸身五錢。川芎三錢。水煎服。或血入衣中。脹而不下。宜清酒送下失笑散。</p>
<p>一產後發熱。有外感者。照常法治之。如無外感。用當歸補血湯。</p>
<p>一血塊痛。宜四物。倍當歸。去地黃。加牛膝桃仁肉桂青皮醋炒大黃下之。</p>
<p>一產後泄瀉。不可利水。只用補中益氣東加減。</p>
<p>一產後大便不通。宜八珍湯。加桃仁杏仁。</p>
<p>一子宮下墜。乃勞力所傷也。宜補中益氣湯。加附子。玉門不閉。治同。</p>
<p>一產後。瘀血不行腹痛者。宜當歸四錢。川芎二錢。炮薑炙草各一錢。桃仁七枚。名生化湯一產後感風成痙。口噤。角弓反張。無汗者名剛痙。宜荊芥穗一兩。以童便煎灌之。或桂枝湯。加葛根三錢。有汗。為柔痙。宜桂枝。加栝蔞根三錢。二痙屬虛者。以十全大補湯。</p>
<p>加一產後喘促。口鼻起黑氣。為瘀血入肺。不治。或用人參一兩。蘇木三錢。水煎頓服。</p>
<p>若厥冷自汗。必用通脈四逆湯。進二三劑。厥回脈復。可治。</p>
<h3>婦人雜病</h3>
<p>一經水不調屬虛者。乃衝任之血不足。宜服歸脾湯二十劑。再以海螵蛸四兩。茜草一兩。</p>
<p>以一經水不調屬實者。自有實症實脈可驗。宜四物湯。加醋炒大黃香附桃仁丹皮青皮紅花之類。</p>
<p>一經水不調因鬱而致者。宜加味逍遙散。</p>
<p>一婦人肥而不妊。乃子宮脂滿。宜四物湯。去地黃。加香附半夏貝母。以益母膏為丸。</p>
<p>如瘦一婦人帶病。皆由中土虧損。帶脈不能收引。以致十二經脈。因而內陷也。宜六君子湯。</p>
<p>加炮薑以補脾。甚者。以補中益氣湯。以提之。或以椿根皮黃柏牡蠣粉醋糊為丸。間服以澀之。</p>
<p>傷寒（傷寒以六經為主。太陽陽明少陽為三陽。太陰少陰厥陰為三陰。病症百出無常。</p>
<p>總范一百病敢</p>
<h3>太陽</h3>
<p>（為寒水之經。主一身之表。）</p>
<p>何謂太陽經症。曰頭痛項強發熱惡寒是也。一脈緩自汗惡風。為虛邪。宜桂枝湯。○如八九不邪未而竭棗。</p>
<p>二湯按此二法。治表中之表也。○時法。冬月以加味香蘇飲代上二方。三時感胃。以九味羌活何謂太陽腑症。曰表邪不去。必入於裡。膀胱為表中之裡也。有蓄水蓄血之辨。</p>
<p>一太陽症。其人口渴煩躁不得眠。脈浮小便不利。水入即吐。為膀胱蓄水症。宜五苓散。</p>
<p>一太陽症。其人如狂。小腹硬滿。小便自利脈沉。為膀胱蓄血症。（古用抵當湯丸。今畏其按此二法治表中之裡也何謂太陽變症。曰汗下失宜從陰從陽之不一也。</p>
<p>一不應下而下之。續得下利清穀身疼痛。宜四逆湯。以救清穀之裡。又以桂枝湯。以救身疼一病發熱頭痛。脈反沉。若不瘥。身體疼痛。當救其裡。宜四逆湯。</p>
<p>一大汗大下利而厥冷者。四逆湯主之。</p>
<p>太陽病。發汗太過。遂漏不止。其人惡風。小便難。四肢微急。難以屈伸。桂枝加附子湯主一太陽病。發汗太過。動其營血。而衛邪反內伏。其人仍發熱。心下悸。頭眩身　動振振欲陽一陽盛於內。誤服桂枝湯。大汗出後。大煩十渴不解。脈洪大者。白虎加人參湯主之。</p>
<p>一傷寒若吐若下後。七八日不解。熱結在裡。表裡俱熱。時時惡風。大渴舌上干燥而煩欲一傷寒不大便六七日。（為裡症）頭痛有熱（為表症。）外不解。由於內不通也。下之。</p>
<p>裡和而病患煩熱。汗出則解。又加瘧狀。日晡所發熱。屬陽明也。脈實者。宜下之。與大承氣湯。</p>
<p>一發汗後惡寒者。虛故也。不惡寒但熱者。實也。當和胃氣。與調胃承氣湯。</p>
<p>一太陽病未解。脈陰陽俱停。（停者。沉滯不起也。陰陽者。尺寸也。）先振栗汗出乃解。</p>
<p>但汗以上言汗下失宜。熱熾而傷其陰陰傷則從陽明陽化之症多以大腸陽明遞相傳也。</p>
<p>何謂發汗利水。為治太陽兩大門。曰邪傷太陽病在寒水之經也。驅其水氣以外出。則為汗逐太陽為寒水之經。邪之初傷。必須發汗。麻黃湯。發皮膚之汗。桂枝湯。發經絡之汗。</p>
<p>葛根發汗渴雷散之大陷甚於宜小出不強。</p>
<p>以桂</p>
<h3>陽明</h3>
<p>（主裡。外候肌肉。內候胃中。）</p>
<p>何謂陽明經症。曰身熱目痛。鼻干不得眠。反惡熱是也。有未罷太陽已罷太陽之辨。</p>
<p>若兼見頭痛惡寒是太陽症未罷。自汗脈緩。宜桂枝湯。項背KT　KT　者。桂枝加葛根湯主之。無若無頭痛惡寒但見壯熱口渴。是已罷太陽。為陽明經之本症。宜白虎湯主之。</p>
<p>何謂陽明腑症。曰潮熱譫語。手足腋下　然汗出。腹滿大便硬是也。有太陽陽明。少陽陽明本太陽症。治之失法。亡其津液。致太陽之熱。乘胃燥而轉屬陽明。其症小便數。大便硬。</p>
<p>本少陽病。治之失法。亡其津液。致少陽之邪。乘胃燥而轉屬陽明。為大便結燥。傷寒論謂遂歸於愚按陽明在經。未離太陽宜汗之。既離太陽。宜清之。在腑。審其輕重下之。若在經腑之界口乾口是開出於以為</p>
<h3>少陽</h3>
<p>（主半表半裡）</p>
<p>何謂少陽經症。曰口苦咽乾目眩是也。有虛火實火之辨。</p>
<p>寒熱往來於外。胸脅苦滿默默不欲食。心煩喜嘔。為虛火症。宜小柴胡湯。</p>
<p>寒熱往來於外。心中痞硬。郁郁微煩。嘔不止。為實火症。宜大柴胡湯。</p>
<p>何謂少陽腑症。曰少陽主寒熱屬於半表則為經。屬於半裡則為腑。其症雖無寒熱往來於外。</p>
<p>因嘔而痞不痛者。半夏瀉心湯。胸中有熱而欲嘔胃中有邪氣而腹中痛。宜黃連湯。邪已入裡。</p>
<p>則膽火下攻於脾而自利。宜黃芩湯。膽火上逆於胃而為嘔。宜黃芩加半夏生薑湯。以上四方。</p>
<p>寒熱攻補並用。仍不離少陽和解法。</p>
<h3>傳經發明</h3>
<p>按宋元以後醫書。皆謂邪從三陽傳入。俱是熱症。唯有下之一法。論中四逆白通理中等方。</p>
<p>俱為不然有非也。有謂遞次傳入三陰盡無寒症者。</p>
<p>亦非何則。人今試譬之寒。第覺寒。寒性謂誤藥而變凡汗下失宜。過之。則傷正而虛其陽。不及。則熱熾而傷其陰。虛其陽。則從少陰陰化之症化熱疼痛陰化裡寒外陽從陰</p>
<h3>太陰</h3>
<p>（為濕土純陰之臟也。病入太陰。從陰化者多。從陽化者少）</p>
<p>何謂太陰之邪從陰化。傷寒論云。腹滿吐食。自利不渴。手足自溫。時腹自痛是也宜理中湯何謂太陰之邪從陽化。傷寒論云。發汗復不解腹痛。急下之。宜大承氣湯是也。又曰。</p>
<p>腹滿而痛。）桂枝加大黃湯主之。</p>
<h3>少陰</h3>
<p>（腎中水火同具邪傷其經或從水化而為寒。或從火化而為熱。二症俱以脈沉細但欲寐為何謂少陰之邪從水化而為寒。曰脈沉細而微但欲寐。背惡寒口中和腹痛下利清穀。小便白是少陰病寒邪始傷是當無熱。而反發熱。為太陽之　陽外呈。脈沉。為少陰之生氣不升。</p>
<p>恐陰太陽以上交陰陽法。</p>
<p>少陰病。自始得以至於二三日。俱無裡症。可知太陽之表熱。非汗不解。而又恐傷汗以傷腎湯。</p>
<p>以上微發汗法。</p>
<p>手足厥冷吐利小便復利。下利清穀。內寒外熱脈微欲絕者。宜四逆湯。</p>
<p>裡寒外熱。面赤。或腹痛或乾嘔或咽痛利止脈不出。汗出而厥。宜通脈四逆湯。少陰下利。</p>
<p>微續汗下後。不解煩躁者。茯苓四逆湯主之。少陰病。二三日不已。至四五日。腹痛小便不利。</p>
<p>武湯。</p>
<p>少陰病。得之二三日。口中和。其背寒者。（太陽之陽虛。不與少陰之君火相合）當灸之。</p>
<p>○痛（輒云少陰病吐利。（神機不能交會於中土。）手足逆冷。（中上氣虛。不能達於四肢。）煩躁欲死者吳以上用溫劑法。</p>
<p>何謂少陰之邪從火化而為熱。曰脈沉細而數。仍欲寐而內煩外躁。或不臥口中熱下利清水小少陰病。二三日咽痛者。可與甘草湯。不瘥。與桔梗湯。</p>
<p>少陰病。咽中傷生瘡。不能言語聲不出者。苦酒湯主之少陰病。咽中痛。半夏散及湯主之少陰病。下利咽痛胸滿心煩者。豬膚湯主之。</p>
<p>少陰病。得之二三日以上。心中煩不得臥。黃連阿膠湯主之。</p>
<p>少陰病。下利六七日。咳而嘔渴心煩不得眠者。朱苓湯主之。</p>
<p>少陰病。二三日至四五日。腹痛小便不利。</p>
<p>下利便膿血。桃花湯主之。</p>
<p>以上皆以補正為救陰法。</p>
<p>少陰病。得之二三日。口燥舌乾者。急下之。宜大承氣湯。柯注云。熱淫於內。因而轉屬陽少陰病。六七日腹脹不大便者。急下之。宜大承氣湯。柯注云。得病六七日。當解不解。</p>
<p>津心少陰病。自利清水色純青。心下必痛口乾燥者。急下之。宜大承氣湯。柯注云。是土燥火炎以上皆以攻邪為救陰法。</p>
<h3>厥陰</h3>
<p>（為風木之臟。從熱化者多。從寒化者少。以木中有火故也。）</p>
<p>何謂厥陰症。傷寒論云。厥陰之為病。消渴。（火盛。）氣上撞心。（氣逆即火逆）心中疼熱。</p>
<p>臭。</p>
<p>則症相即轉屬厥陰。為病危。厥陰病衰。轉屬少陽。為欲愈。</p>
<p>一烏梅丸。為厥陰症之總方。吐蛔久利尤隹。一病初起。手足厥冷。脈微欲絕。宜當歸四逆後必一脈結（脈緩時一止日結。活人云陰盛則結。）代。（一臟氣敗。其脈動而中止。不能自還。</p>
<p>虛生按前言表症。而手足厥逆。此言裡症。而脈結代。雖為厥陰寒化。終不用薑附大熱之品。</p>
<p>以厥皆所以下無形之邪也。若以承氣下之。利不止矣。</p>
<p>一熱利下重者。白頭翁湯主之。○下利欲飲水者。熱也。白頭翁湯主之。</p>
<p>以上治熱化之法。</p>
<p>一厥者必發熱。熱與厥相應。熱深厥亦深。熱微厥亦微。此四症。是厥陰傷寒之定局。</p>
<p>先熱少而一乘脾乘肺二症宜辨。一曰傷寒腹滿。（經云。諸腹脹大皆屬於熱。此由肝火也。）譫語（經一曰傷寒發熱。嗇嗇惡寒。（肺主皮毛。此症因無頭痛項強。知其非太陽病。為肺虛。）</p>
<p>渴欲此其一傷寒陽脈澀。陰脈弦。法當腹中急痛。（此亦肝乘脾也。）先與小建中湯。（平肝以補脾。）</p>
<p>所一傷寒厥而心下悸者。宜先治水。當服茯苓甘草湯。卻治其厥。不爾。水清入胃。必作利也水在發散</p>
<h3>太陽方</h3>
<h4>桂枝湯</h4>
<p>桂枝　白芍（各三錢）　甘草（二錢炙）　生薑（三錢切片。）　大棗（四枚）</p>
<p>水二杯。煎八分。溫服服後。少頃　粥一杯。以助藥力。溫覆微似汗。若一服病止。不必再</p>
<h4>麻黃湯</h4>
<p>麻黃（三錢去根節。）　桂枝（二錢）　杏仁（去皮尖。二十三枚。）　甘草（一錢）</p>
<p>水三杯。先煮麻黃至二杯。吹去上沫。納諸藥。煎八分。溫服。不須　粥。余將息如前法。</p>
<h4>大青龍湯</h4>
<p>麻黃（六錢去根節）　桂枝（二錢）　甘草（二錢炙。）　杏仁（去皮尖。十二枚。）　生薑（三錢切片。）　大棗（四枚）　石膏（碎。以棉裹。四錢五分）</p>
<p>水四杯。先煮麻黃至二杯半。去上沫。納諸藥。再煮八分。溫服。溫覆取微似汗。汗出多者</p>
<h4>小青龍湯</h4>
<p>麻黃（去根節）　白芍　乾薑（不炒。）甘草　桂枝（各二錢）　半夏（三錢）　五味子（一錢）　細辛水三杯半。先煮麻黃至二杯半。去沫。納諸藥。煎八分。溫服。○若渴者。去半夏。加栝蔞○若噎者。去麻黃。加附子（一錢五分。）○小便不利。小腹痛滿。去麻黃。加茯錢。）</p>
<p>○若喘者。去麻黃。加杏仁二十一枚。○按論云。若微利者。去麻黃。加芫花。今芫花不常</p>
<h4>桂枝二麻黃一湯</h4>
<p><u>桂枝麻黃各半湯。</u></p>
<p>按近傳傷寒論有分兩。理宜兩湯各煎聽用。如各半湯。則各取其半而合服之。如二一湯。</p>
<p>則取桂枝湯二分麻黃湯一分合而服之。猶水陸之師。各有節制。兩軍相為表裡。異道夾攻之義。後人等其分兩。</p>
<h4>五苓散</h4>
<p><u>合為一方。與葛根輩何異。</u></p>
<p>澤瀉（一兩六株）　豬苓　茯苓　白朮（各十八株）　桂枝（半兩）</p>
<p>共為末。以米飲和服二錢五分。日三服。多飲暖水以出汗。</p>
<h4>抵當湯</h4>
<p>水蛭（熬。）　虻蟲（去翅足熬各十二個。）　大黃（三錢）　桃仁（七個）</p>
<p>水一杯半。煎七分服。不下。再服。</p>
<h4>桃仁承氣湯</h4>
<p>桃仁（十六粒。去皮尖。）大黃（四錢）　甘草　桂枝（各二錢）　芒硝（二錢）</p>
<p>水二杯。煎八分去滓。入芒硝。煎微沸。溫服。四逆湯。真武湯。（俱見下少陰。）桂枝加附子湯。白虎加人參湯。（即白虎東加人參一錢。）調胃承氣湯。大承氣湯。（即見下陽明。）生薑瀉心湯。</p>
<p>生薑（二錢）炙草　人參　黃芩（各一錢五分）　半夏（一錢）乾薑　黃連（各五分）　水煎服</p>
<h4>大陷胸湯</h4>
<p>大黃（二錢）　芒硝（一錢）　甘遂（末三分）</p>
<p>水一杯。先煮大黃至六分去滓。入芒硝。煮二沸。納甘遂末。服得快。勿再服。</p>
<h4>大陷胸丸</h4>
<p>大黃（四錢）　葶藶子（熬。）　芒硝　杏仁（各一錢五分）</p>
<p>搗為丸。如彈子大。每用一丸。入甘遂末三分。白蜜半匙。水一杯。煎半杯溫服。一宿乃下</p>
<h4>小陷胸湯</h4>
<p>黃連（一錢）　半夏（二錢）　栝蔞實（二錢）</p>
<p>水一杯半。先煮栝蔞至一杯。入二味。再煎至七分服。微下黃涎。</p>
<h4>三物白散</h4>
<p>桔梗　貝母（各四錢二分）　巴豆（一錢二分去心熬黑。）</p>
<p>共為末。以白飲和服一錢一分。羸者七分。病在膈上必吐。在膈下必利。不利。進熱粥一杯</p>
<h4>十棗湯</h4>
<p>芫花（熬）　甘遂　大戟（各等分）</p>
<p>異篩秤末合和之。水二杯半。煮大棗十枚。至七分去滓。強人納藥末七八分。羸人五六分。</p>
<p>桂枝去桂。加茯苓白朮湯。</p>
<p>芍藥　生薑　茯苓　白朮（各三錢）　炙草（二錢）　大棗（四枚）</p>
<p>水煎溫服。小便利。則愈。</p>
<h3>陽明方</h3>
<h4>桂枝加葛根湯</h4>
<p>即桂枝東加葛根四錢。</p>
<p>水三杯半。先煮葛根至二杯半。吹去沫。入諸藥。煎至八分。溫服。不須　粥。</p>
<p>葛根湯。</p>
<p>葛根（四錢）　麻黃（三錢）　生薑（三錢）　甘草（二錢）　桂枝（二錢）　大棗（四枚）　白芍（二水三鐘半。先煮麻黃葛根至二鐘去沫。入諸藥。至八分。溫服。微似汗。不須啜粥。</p>
<h4>梔子豉湯</h4>
<p>梔子（七枚生用）　香豉（三錢）</p>
<p>水三鐘。先煮梔子至一鐘半。入香豉煮七分。溫服。一服得吐。不用再服。</p>
<p>葛根加半夏湯。（即葛根東加半夏二錢。）</p>
<h4>白虎湯</h4>
<p>石膏（八錢綿裹）　知母（三錢）　炙草（一錢）　粳米（四錢）</p>
<p>水三杯。煎一杯服。</p>
<h4>麻仁丸</h4>
<p>麻仁（另研）　芍藥　枳實（炒）　厚朴（各五兩炒）　杏仁（五兩半研作脂。）　大黃（一斤蒸焙）</p>
<p>煉蜜丸如梧子大。米飲送十丸。漸加。以知為度。（此方分兩照脾約丸。）</p>
<h4>煎蜜導方</h4>
<p>蜜一杯。於銅器內煮如飴狀。取紙卷作挺子。以線札之。以蜜濃包之。如指許長二寸。</p>
<p>微熱</p>
<h4>豬膽汁導方</h4>
<p>豬膽一枚。和醋少許。以竹管灌入穀道中。如一食頃。當大便。出宿食惡物甚效。</p>
<h4>調胃承氣湯</h4>
<p>大黃（四錢清酒潤。）　炙草（二錢）　芒硝（三錢）</p>
<p>水二杯半。先煮大黃甘草。取一杯去滓。入芒硝。微煮令沸。少少溫服之。</p>
<h4>小承氣湯</h4>
<p>大黃（四錢）　厚朴　枳實（各三錢）</p>
<p>水二杯。煎八分服。初服當更衣。不爾者。再煮服。若更衣分服。</p>
<h4>大承氣湯</h4>
<p>大黃（二錢酒潤。）　厚朴（四錢）　枳實　芒硝（各二錢）</p>
<p>水三杯。先煮枳實厚朴。至一杯半去滓。納大黃。煮一杯去滓。納芒硝。微火煮一二沸。</p>
<p>服</p>
<h3>少陽方</h3>
<h4>小柴胡湯</h4>
<p>柴胡（四錢）　人參　黃芩　炙草　生薑（各二錢五分）　半夏（二錢）　大棗（二枚）</p>
<p>水三鐘。煎一鐘半去滓。再煎八分。溫服。一日夜作三服。</p>
<p>胸中煩而不嘔者。去半夏人參。加栝蔞二錢。○渴者。去半夏。加人參七分。栝蔞根二錢利愈。○咳者。去人參大棗生薑。加五味子一錢。乾薑一錢半。</p>
<h4>大柴胡湯</h4>
<p>柴胡（四錢）　半夏（二錢）　黃芩　芍藥　大棗（二枚）　枳實（各錢半）　生薑（二錢五分）一本。有大黃五分。</p>
<p>水三鐘。煎八分。溫服。一日夜作三服。</p>
<h4>半夏瀉心湯</h4>
<p>半夏（三錢）　黃芩　乾薑　炙草　人參（各一錢五分）　黃連（五分）　大棗（二枚）</p>
<p>水三杯。煎一杯半去滓。再煎八分。溫服。</p>
<h4>黃連湯</h4>
<p>黃連　炙草　乾薑　桂枝（各一錢五分）　人參（一錢）　半夏（二錢）　大棗（二粒）</p>
<p>水二杯。煎七分。溫服。</p>
<h4>黃芩湯</h4>
<p>黃芩（三錢）　炙草　芍藥（各二錢）　大棗（三粒）</p>
<p>水煎服。日二夜一。</p>
<h4>黃芩加半夏生薑湯</h4>
<p>即前方。加半夏二錢。生薑三錢。</p>
<h3>太陰方</h3>
<h4>理中丸湯</h4>
<p>人參　白朮　甘草　乾薑（各三兩）</p>
<p>共研末蜜丸如雞子黃大。研碎以沸湯服一丸。日三四服。服後啜熱粥。以腹熱為度或用各三錢。水二鐘。煎八分。溫服。服後啜熱粥○若臍上築者。去朮。加桂。○吐多者去朮加生薑者。</p>
<h4>桂枝加芍藥湯</h4>
<p>桂枝　生薑（各三錢）　大棗（四枚）　芍藥（六錢）　炙草（二錢）　水三杯煎一杯服。</p>
<h4>桂枝加大黃湯</h4>
<p>桂枝　生薑（各三錢）　芍藥（六錢）　炙草（二錢）　大黃（七分）　大棗（四枚）　水三杯。煎八</p>
<h3>少陰方</h3>
<h4>麻黃附子細辛湯</h4>
<p>麻黃（去節。）　細辛（各三錢）　附子（一錢五分）</p>
<p>水三鐘。先煮麻黃至二鐘去沫。入諸藥。煎七分。溫服。○按近醫惑於細辛用不過一錢之邪</p>
<h4>麻黃附子甘草湯</h4>
<p>麻黃（去節）　甘草（各三錢）　附子（一錢五分）</p>
<p>煎法同上。</p>
<h4>真武湯</h4>
<p>茯苓　芍藥　生薑（各二錢）　白朮（二錢）　附子（一錢泡。）　水三鐘。煎八分。</p>
<p>溫服。</p>
<h4>四逆湯</h4>
<p>甘草（四錢炙。）　乾薑（三錢）　附子（二錢生用。）</p>
<p>水三鐘。煎八分。溫服。○乾薑再加三錢。名通脈四逆湯。○加茯苓六錢人參一錢。名茯苓</p>
<h4>白通湯</h4>
<p>乾薑（三錢）　附子（三錢生用）　蔥白（二根）</p>
<p>水二鐘。煎八分。溫服。○加豬膽汁一湯匙人尿半湯匙。名白通加豬膽汁湯。</p>
<h4>附子湯</h4>
<p>附子（二錢）　茯苓（三錢）　人參（二錢）　白朮（四錢）　芍藥（二錢）　水二鐘。</p>
<p>煎八分。溫服</p>
<h4>吳茱萸湯</h4>
<p>吳茱萸（三錢湯泡）　人參（一錢半）　大棗（四枚）　生薑（六錢）　水煎服。</p>
<h4>甘草湯</h4>
<p>甘草（二錢）　水三鐘。煎一鐘。分兩次服。</p>
<h4>甘草桔梗湯</h4>
<p>甘草（六錢）　桔梗（三錢）</p>
<p>水三鐘。煎一鐘半。分三服。</p>
<h4>苦酒湯</h4>
<p>半夏（一枚生的破十四片）　雞子（一枚去黃。）</p>
<p>納半夏著苦酒中。以雞子殼置刀環中。安火上令三沸。去滓。少少含咽之。不瘥。再作三服</p>
<h4>豬膚湯</h4>
<p>豬膚（四兩）　水六杯。煎三杯去滓。加白蜜半盞。米粉三錢熬香。分三服。</p>
<h4>半夏散及湯</h4>
<p>半夏　桂枝　炙草各等分為末。白飲和服二錢。日三服。不能服散者。用水一杯。煮七沸。入散三錢。更煮三</p>
<h4>黃連阿膠雞子黃湯</h4>
<p>黃連（四錢）　黃芩（一錢）　芍藥（三錢）　阿膠（三錢）　雞子黃（一枚）</p>
<p>水三杯。煎二杯去滓。入膠烊盡。小冷。入雞子黃。攪令相得。溫服。一日三服。</p>
<h4>桃花湯</h4>
<p>赤石脂（八錢留一錢研末。）　乾薑（五分）　粳米（四錢）</p>
<p>水三杯。煎八分。入石脂末一錢。調服。日作三服。</p>
<h4>大承氣湯</h4>
<p>（見陽明）</p>
<h4>豬苓湯</h4>
<p>豬苓　茯苓　澤瀉　滑石　阿膠（各三錢）</p>
<p>水二杯。先煮四味。至一杯去滓。入膠煎服。</p>
<h3>厥陰方</h3>
<h4>烏梅丸</h4>
<p>烏梅（九十三枚）　細辛（六錢）　乾薑（一兩）　當歸（四錢）　黃連（一兩六錢）　附子（六錢炮）</p>
<p>各另研末。合篩之。以苦酒浸烏梅一宿。去核。飯上蒸之搗成泥。入煉蜜。共搗千下。</p>
<p>丸如</p>
<h4>當歸四逆湯</h4>
<p>當歸（三錢）　桂枝　白芍（各二錢）　甘草（炙）　木通（各一錢五分）　細辛（一錢）　紅棗（五水三杯。煎八分。溫服。○寒氣盛者。加吳茱萸生薑各二錢。老黃酒半杯。同煎服。</p>
<h4>白頭翁湯</h4>
<p>白頭翁（一錢）　黃連　黃柏　秦皮（各一錢五分）</p>
<p>水二鐘。煎八分。溫服。</p>
<h4>炙甘草湯</h4>
<p>炙草（二錢）　桂枝　生薑（各一錢五分）　人參（一錢）　火麻仁　麥門冬　阿膠（各二錢）　生</p>
<h4>四逆湯</h4>
<p>炙草　枳實　柴胡　芍藥（各等分）</p>
<p>研末白飲和服二錢。日三服。○咳者。加五味子乾薑各五分。並主下利。○悸者。加桂枝五煮薤</p>
<h4>白虎湯</h4>
<p>（見陽明）</p>
<h4>小建中湯</h4>
<p>芍藥（六錢）　桂枝　生薑（各三錢）　炙草（二錢）　大棗（四枚）</p>
<p>水三杯。煎一杯去滓。入飴糖四錢。烊溫服。茯苓甘草湯。</p>
<p>茯苓　桂枝（各二錢）　炙草（一錢）　生薑（三錢）</p>
<p>水二杯。煎一杯服。</p>
