<header><h1>傷寒兼證析義</h1></header>
<dl class="元資料" data-type="book">
<div><dt>作者</dt><dd>張倬</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>底本</dt><dd>《欽定四庫全書·子部五·醫家類·傷寒兼證析義》（<a href="https://www.kanripo.org/text/KR3e0093/">掃描及文字化本</a>）</dd></div>
</dl>
<h2>傷寒兼證析義目錄</h2>
<p>中風兼傷寒論
虛勞兼傷寒論
中滿腫脹兼傷寒論
噎膈反胃兼傷寒論
內傷兼傷寒論
宿食兼傷寒論
素患欬嗽家兼傷寒論
宿病咽乾閉塞兼傷寒論
頭風兼傷寒論
心腹諸痛兼傷寒論
亡血家兼傷寒論
多汗家兼傷寒論
積聚動氣兼傷寒論
疝證兼傷寒論
淋濁兼傷寒論
瀉利兼傷寒論
胎產兼傷寒訥
附
經脈
奇經
司運
方宜</p>
<h2>傷寒兼證析義</h2>
<p>長洲張倬飛疇著</p>
<h3>中風兼傷寒論</h3>
<p>晨窗雪霽，光射四壁，張子被褐方起，誦雪嶠熟者春風劈爛椽之句，
客有量屐過我而進苦雪篇者，中有凍餒相繼倒一語，憮然久之，
因呼從事爐頭相與平章風雅，杯單內，論及醫道之難，而傷寒為最難，
傷寒而挾雜病者尤難，是以亙古絕無兼該之例，後世不能兼善其術也，余曰：
安有滔滔江漢，不通潮汐者乎，苟能純一其道，則圓機在我，活法隨人，
何處兼症之不克哉，客舉手稱善，請析中風兼傷寒義始。</p>
<p>問：中經絡兼傷寒。</p>
<p>曰：傷寒邪從外入中風風從內召，雖同具汗下和解之法，而虛實之機，
微有不同傷寒悉從外邪起見，故必分營衛經絡，一毫可混淆，中風外內合邪，
故攻表必兼養正，如小續命中芎歸參附之類，即兼傷寒者，亦當顧慮正氣為主，
若率意攻表，則營熱轉甚，在裏之津液，勢必隨表藥外泄，而為燥痒枯竭之症矣。</p>
<p>問：中血脈。</p>
<p>曰：中血脈，即傷寒之半表半裏症，傷寒邪未深入，但須和解，中風陰血先虧，
故必養血兼除風熱，所謂血行風自滅是也，在兼傷寒者，和解藥中，稍加調血之味，
以滋血燥，不得任用滋陰涼血之藥。</p>
<p>問：中府兼傷寒。</p>
<p>曰：中府多見閉症，與傷寒之裏實脹閉不殊，傷寒邪熱入府，灼爍陰津，
故用承氣以泄其熱，不得雜一味表藥，恐引熱勢上蒸也，中風是裏熱生風，
木邪棄土，故攻裏必兼祛風熱，如三化湯中用羌活之義，閉症而見痰鳴喘脹，
面赤口張，為正氣暴卒此必不治。</p>
<p>問：中藏兼傷寒。</p>
<p>曰：中藏多見脫症，與直中陰經之自利無異，古法用三生陰治脾肺之中，
地黃飲子腎肝之中，侯氏黑散治心與包絡之中，然用以治藏虛受邪之症，誠為聖藥，
若卒中昏迷，手撒遺尿真陰失守之脫症，雖有合劑，不能復起況兼傷於寒者乎。</p>
<p>問：類中兼傷寒。</p>
<p>曰：類中大綱有三，曰氣衰，曰火暴，曰痰逆，總皆陽虛邪害空竅所致，
河間之地黃飲子，為下虛上盛，陰火暴逆而設，東垣之三生飲，為脾肺氣衰，
痰積于中而設，丹溪之星香二陳，為形盛氣阻，痰盛於外而設，在兼傷寒者，
三法俱不可效惟和營衛中，隨症加養氣導火豁痰之藥，斯為兼得之法。</p>
<p>問：中風本有六經形證，與兼感客邪何異。</p>
<p>曰：中風六經形證，是指口眼喎斜肢體麻瞀等症而言，與傷寒六經見症不同，
然亦間有惡寒發熱之候，但中風雖有惡寒，必常時凜凜，或經日不止，
不似外感之驟然惡寒發熱如燔也，中風雖有火炎痰濕頭痛，必時甚時減或晝甚，
或夜甚，不似外感之頓然發熱大痛，晝夜不分也，中風雖有肢體煩疼，必麻痹不仁，
或久臥床褥所致，不似外感之忽然壯熱無汗，骨節煩疼也，
中風雖有表虛自汗必時濈濈，不似外感之暮然發熱，頭痛自汗也，
中風雖有往來寒熱，必常常若此，不似外感之發熱頭痛三四日，而轉入少陽也，
中風雖有大便枯約，必平昔至圖艱難，不似外感之大熱數日，
熱邪入裏而燥結不通也，中風雖有小水短濇，必向來不利，或見頻數，
不似外感之熱結膀胱，煩渴引飲，小腹脹閟也，以此審辨，則中風之本症兼症，
可了然心目矣。</p>
<p>問：有年少體肥之人，平素左半身無汗，脇下一片常冷，數日前索逋下鄉，
是日天氣暴寒，舟中食飯一箸，隨食隨冷，便覺凜凜畏寒，登崖失足顛仆，
扶挾解帶而寢，是夜即發熱頭痛，喘鳴胸滿，遍體煩疼，腰脊左脇尤甚，
左半身不能轉動，仍冷不熱，手足亦微冷，第三日扶病而歸，其脈左手弦細，
右手遲滑，絕不似外感之候，因見脈弦脇痛，與小柴胡二服不應，
又似半肢風廢，與小續命亦不應，檢方書中半身無汗例，當二陳四物合用，
按法治之亦無效，今舌上微有薄胎，而左畔白滑，右畔微黃，得病後大便已去二次，
去亦無多，小便略見黃濇究竟此屬何症，當與何藥。</p>
<p>曰：此人素有寒飲結緊脇下，更兼內外感寒，加以驚仆痰逆，
則發熱喘鳴頭痛，胸滿身疼，勢所必至，其右半經脈貫通處受邪，則從陽而化為熱，
左半寒飲積結之界，半時尚且無汗，縱有寒邪湊泊，亦必從陰而釀寒，
陽氣不到之所，自然重著難移，陽氣不行于脈，自然弦細搏指，至於右脈遲滑，
手足微寒，皆緣脾氣向衰，熱勢不盛，所以舌胎不能乾燥，大便不能結鞭，
其小便黃濇一證，雖因肺胃氣化不行，亦見下焦真陽未艾，斯人向後必夭，
目今尚可挽回，當與五積散晝夜三進，總藉辛溫解散之力，可以內消寒滯，
中溫血脈，外逐表邪，一舉而有三得，其外可用白芥子川烏薑滓，炙熱包熨之，
候表邪分解，裏氣調和，然後用六君子加辛附姜桂之屬，徐溫中氣可也。</p>
<h3>虛勞兼傷寒論</h3>
<p>問：虛勞之人，兼感風寒者，何以辨之。</p>
<p>曰：必先明受病之三綱，見症之五常，然後參詳脈症，以辨客邪，三綱者，
房勞傷，思鬱傷，藥物傷，五常者，骨蒸，欬嗽，吐血，泄瀉，男子失精，
女不月，此皆本病之常，他症雖多，莫如此五者為甚，如平時骨蒸勞熱，時重時輕，
火炎則面熱頰亦，兩角隱隱掣痛，忽然壯熱頭疼不分晝夜，是感客邪也，
平時欬嗽聲怯，痰涎不應，忽然鼻塞聲重，涕唾稠粘，是感客邪也，
平時關尺脈弦，忽然人迎浮盛，是感客邪也，醫不達此，每認本病變重，
日與調補助邪，深入傷殘之餘，立刻告竭，究竟不知其為風寒，
而反歸咎於飲食居處，不亦冤乎。</p>
<p>問：房勞傷者，先見何症，兼客邪者，當用何藥。</p>
<p>曰：房勞傷者，作強太過，而傷其先天也，世俗謂之陰虛，而實兼傷陰中陽氣，
故曰先天，若云腎本受傷致病，則有質之精，依然後天水穀所化，安得謂之先天乎，
惟素稟虛寒，陽氣不振，恣餌金石，熱毒入于腎藏，傷耗真陰者，乃為陰虛，
其症皆從下而上，由腎肝而至于脾，或先失血，或見遺精，
次見欬嗽骨蒸等症，真陽虧者，乏氣少食，後見泄瀉而危，真陰虧者，
強中熱中，必發癰腫斃，故治本病之陽虛，八味腎氣異功保元等藥，兼外感者，
黃芪建中，本病之陰虛，六味都氣補陰虎潜之類，有藥毒者，
滋腎丸洗滌之，兼客邪者，小建中加丹皮，先吐血者為營血受傷，
黃芪建中加當歸，先遺精者，為封藏不固，桂枝加龍骨牡蠣湯，雖有外邪，
無逾上法，但須參邪之盛衰，從少從多，以為活法可也。</p>
<p>問：思鬱所傷，較斲喪所致者，孰重孰輕，證治與房勞何異。</p>
<p>曰：斲喪是精氣受傷，可用填補之劑，思鬱是神氣受困，七情之火交煎，
真陰不久告匱，豈藥石之所能療哉，惟早適其志為第一義，此病起於腎，關乎心，
而迫肺傷肝及脾，再交水火，謂之七傳，初起骨蒸乾欬，繼則亡血失精，女子不月，
至死而面色不衰，以其陰火蒸騰津液于上，所以肢體日削，神釆愈鮮，
不似房勞之精氣先傷，而形神枯索也，在初起真陰未耗時，急宜調治，
如地黃丸逍遙散歸脾湯之類，若經閉不行，而氣體尚強，可用玉燭散疏滌其熱，
次以金匱下瘀血湯作丸，歸脾湯下之，倒經血溢於上者亦然，男子失血遺精，
都氣丸加鰾膠，與四烏鰂骨一藘茹丸間服，有外感者，
通宜小建加大劑牡丹皮，服後熱不除，合當歸補血湯自止，若誤與羌防升柴等藥，
多致昏熱痞悶，變生不測，慎之慎之。</p>
<p>問：醫藥傷者，傷在何經，治用何藥，更加傷寒，尚可一回否。</p>
<p>曰：此皆表邪發散不清，病留肺絡而欬嗽纏綿，醫者不察，認陰虛肺熱，
而與寒涼清肺，除火滋陰，其邪從皮毛入肺而及心胃，為從上而下，
亦有因寒涼傷胃，胃輸寒氣於肺，咸必先嗽而後寒熱也，復有風熱認作風寒，
誤投辛散而傷少陰之經者，必先欬唾膿血，而後泄利，又有汗下太過，
失于調養而成，此則營衛受傷，必先微寒數熱而後欬嗽，凡此皆能致虛，
若於本門求治，百不一效，惟用傷寒搜滌之法，庶或可圖，但得形氣未衰，
脈症相符，縱加客症，亦有成法，如邪留肺絡而喘欬不休，脈見浮緊浮數者，
大小青龍射干麻黃選用，喘欬有血者，和劑欵冬花散之類服二三劑，
而見鼻塞聲重，有似傷風之狀者，此邪從上泄也，即當以保元異功少加細辛，
調理中氣，兼六味丸加桂枝滋其下元，若服二三劑不應反加喘咳脈疾，
或腹痛聲啞者難已，如寒涼傷胃而欬，畏寒少食，氣口脈見緊細沈弦，
大劑桂枝人參湯，服四五劑而見下血，或有積沫，小復微痛，喜得溫按者，
邪從下泄也，小劑理中湯和之，七日不止者難治，風熱誤用辛溫者，麻黃升麻湯，
萎蕤湯，消風散，隨輕重而施，已上等法，皆是因風寒久伏，故與兼客邪者同治，
惟汗下太過者，當助正氣，如十全大補大建中人參養營酌用，倘邪棄虛入而見表症，
新加湯，桂枝加附子湯，柴胡桂枝湯，諒寒熱施治可也。</p>
<p>問：虛勞之因不同，而所見之症則一，其故何也。</p>
<p>曰：致病之因雖異，其所受病者，不過陰陽血氣而已，故凡治療，必察陰陽，
如骨蒸勞熱之晡夜善易飢者，陰虛也，晝日煩熱，至夜稍安者，陽虛也，
欬嗽咽乾，欬甚略有粘痰者，陰虛也，嗽多清痰，
嗽甚則嘔水者，陽虛也，吐血紫赤，濃厚光澤，或有結塊星縷者，陰虛也，
血色晦淡無光，吐久不凝，或雖有瘀結，多帶痰水者，陽虛也，泄瀉臭穢，
身煩熱渴，或兼膿血者，陰虛也，瀉下純清水，或白沫者，陽虛也，失精夢寐不寧，
二便引急，陰虛也，陰頭寒而精出不知，或溺後常有滑精者，陽虛也，經閉發熱，
欬嗽五心煩熱者，陰虛也，少腹引痛，而背微惡寒者，陰氣有餘，
循經而棄陽位，必有乾血，若經雖不行，但少食倦怠，腰腹不痛者，陽虛也，
陽虛則氣衰不能生血，經雖不通必無結血，此病機之最要者，勿以其繁而忽諸，
大都陰虛則熱，陽虛則寒，陰陽俱虛，則寒熱之症錯亂而見，
又當審其偏勝而為處方，設不知此，日以不寒不熱之劑投之，則偏者愈偏，
勝者愈勝，永無均適之期矣，故智者臨病，務在調其所偏，察其所變，診察之際，
其脈忽然鼓大，症異平時，便當推原飲食起居，以辨客邪有無之應，
又有忽然惡寒發熱，脈無常候，乃陰陽倚伏，亢極反害之大虛症，豈可一認風寒，
而與開泄，不旋踵而告變矣，歷觀此症，但陽虛可服參芪者，十全五六，
陰虛不服參芪者，十難救一，若年在三旬以外者，其人質幹已固，尚可斡旋，
如在二十上下，非特筋骨柔脆，抑且情形難制，縱極力圖治，終難克效。</p>
<h3>中滿腫脹兼傷寒論</h3>
<p>問：脹滿兼傷寒當與何藥。</p>
<p>曰：先察其脈之屬寒屬熱詳其邪之在表在裏方可議藥。</p>
<p>問：脹諸腹大，皆屬于熱，恐無屬寒之理。</p>
<p>曰：曷觀罈中之水，冰則脹，脹甚則裂，豈非寒極脹閉之一驗乎。</p>
<p>問：脹滿之寒熱，何以為辨。</p>
<p>曰：諸病水液，澄澈清冷，皆屬於寒，水液渾濁，皆屬於熱，然亦有本寒標熱，
而大便不實，小便赤濇者，大抵中滿當辨痰飲食積，水腫當辨陰水陽水，
鼓脹當辨氣血虫積，此為大綱。</p>
<p>問：腫脹之表症，寒者何治，熱者何治。</p>
<p>曰：中滿腫脹之人，痰濕素盛，中氣先傷，更加傷寒，未有不先犯胸膈，
而為煩擾不寧，喘脹嘔逆之患，
外症雖有頭疼發熱人迎未必繄盛然往往有氣口反大于人迎者，倘醫者不加辨察，
只認本病變重，而與清熱利水，恣邪深入，輾轉誤藥，不死不已，邪在表時，
切不可動其痼疾，亦不可恣用表藥，惟當和其營衛為主，
如寒脹用桂肢加附子湯五積散，熱脹用桂枝加厚朴杏仁子湯芎蘇散之類，
本寒燥熱者，膀胱津氣大虧，切不可用利水藥，
惟茯苓桂枝白朮甘草湯加葱白最當，若溺閉小腹鞭滿者，和用春澤湯，
以五苓開結導水，四君滋其化源此瀉中寓補之義也。</p>
<p>問：見半表裏症何治。</p>
<p>曰：此病本在裏，邪復向裏，如大小柴胡之類皆無妨礙。</p>
<p>問：見裏症何治。</p>
<p>曰：宿病雖有虛實寒熱之不同，若更加外邪棄機內入，雖正氣本虛，
亦當微導以泄其熱，或通幽門，或疏水道，隨其攸利，若以其虛而禁攻，
則邪氣流連，漫無期矣，至于真元虛憊者，神丹亦不可復起也。</p>
<p>問：中滿水腫鼓脹兼傷寒者，治各有異否。</p>
<p>曰：三者皆屬裏症，咸禁升發，而中滿者，汗劑中宜加痰氣之藥，則不致於逆滿，
水腫則可用開鬼門之法，惟極虛陰水，與陰本陽標者戒汗，若鼓脹則大忌發汗，
當理中兼調營衛，多有浹然汗出而解者，若用表劑，則熱轉劇，脹反甚，
必無得汗之理，至其傳裏，當各隨本病之氣血痰水，兼以養正藥治之，
慎勿以其虛而驟進壅補，亦不可因脹而擅用峻攻，此治虛中實邪之大法也。</p>
<h3>噎膈反胃兼傷寒論</h3>
<p>問：噎膈反胃，異名同類，倘復為客邪所傷，其治亦彷彿否。</p>
<p>曰：噎者，食即帶痰而出，有時屈曲而下，膈者，膈塞閉絕，上下不通，反胃者，
飲食如常，後必傾囊而出，三症雖各有辨，而致病之由，總不離乎欝結，
故其治亦不甚相遠，潔古以上焦吐者從乎氣，言食則暴吐，
心下嘈雜皆痰飲欝火所致，中焦吐者從乎積，每吐則膈間隱隱刺痛，
必有死血，好飲熱酒人，每多犯此若默默如痴者為虫積，靈樞所謂虫為下膈是也，
下焦吐者從乎寒，食久不消經日必吐，乃火衰不能生土，土不制水之候，王太僕云：
食不得水，是有火也，食入反出，是無火也，觀噎膈反胃症雖不一，其可治不可治，
可一言而知，在老人中氣久衰，血液枯槁更加欝結而成真膈者，
即不兼傷寒，百不一療，惟血氣未衰之人，因痰飲死血搏結為患者，縱加表症，
尚可圖治，其症雖發熱頭痛，而足必冷，傷于寒則鼻燥身疼，而脈微緊，中于風，
則鼻鳴乾嘔，而脈微數以中氣久衰，不能鼓搏其脈，熱勢亦不能盛，
與鼓脹之中蘊濕熱者不同，是以辨治尤難，治此者雖當散邪為急，然必先安中氣，
如甘草乾姜湯，加桂枝姜棗之類，切不可雜一味耗氣破血攻伐宿病之藥，
若胃虛而逆，大半夏湯，藿香安胃散，皆以人參助胃氣，行藥力也胃中痰濕上逆，
腸鳴膈痞者，半夏瀉心湯，以乾姜黃連和其寒熱，則不致於扞格也，反胃嘔吐而渴，
欲飲水者，茯苓澤瀉湯以澤瀉引桂枝乾姜之辛入膀胱，行布水精於五經也，
若腎虛水逆而嘔，金匱腎氣丸，減半地黃倍用桂枝，兼散邪以收攝之，
熱吐酸水噦逆，橘皮竹茹湯下佐金丸，如見裏症，不妨用下奪之法，
使氣下而不上正與本病相合，如半夏生姜大黃湯，人參利膈丸，皆可應用，
但胃中寒冷者又為切戒，故仲景有客熱不能消穀，胃中寒冷則吐之論，
當效理中加枳實加附子等法治之。</p>
<h3>內傷兼傷寒論</h3>
<p>問：勞力感寒與傷寒症治何異。</p>
<p>曰：勞力是內傷其氣，氣傷者補之，傷寒是外傷其形，形傷者瀉之，此形氣俱傷，
內虛外實有攻補兩難之勢，復有兼停宿食者，尤為扼腕，設醫者素無成見於胸中，
必致發汗以傷其表，則外熱轉盛，消剋以傷其裏，則痞脹益甚，
輾轉戕伐計無所施惟有極力攻下而已深可慨也，夫內傷一症，因勞動太過，
陽氣亢極而化為火，火氣內盛陰氣先虧，陽愈盛而愈衰，乃致清氣不升濁氣不降，
陰陽交錯，穀氣少進，胸中之揚，既不能內守勢，必上逆外擾而為身熱頭痛，
有似乎傷寒之症，而實非外感之邪，內經所謂陰虛生內熱，陽盛則外熱是也，
後世惟東垣深得其旨，因立補中益氣湯，以升舉清陽，補益中氣，
則濁陰不降而降矣，此方雖專為內傷脾胃而設，然邪棄虛入，非兼神則必不解，
即于此湯稍加表藥，熱服取汗最捷，兼停宿食者，桂枝人參湯，若傷寒輕而內傷輕，
黃芪建中湯，至若始為熱中，當確遵東垣補中益氣之法，未傳寒中，
則又不能出仲景理中湯之範圍也。</p>
<p>問：仲景形作傷寒，其脈不強緊而弱，弱者發渴，夫脈弱則無熱邪，何故發渴，
又何以知其為傷寒。</p>
<p>曰：傷寒一科，原以症為主，脈參之，此因勞形作力而感寒發熱，
故以形作傷寒目之，今世所謂勞力感寒者是也，夫傷寒之脈，法當弦緊，
今因勞力傷其津氣，氣傷不能鼓運其脈，所以反弱，津耗不能上蒸於咽，所以作渴，
雖非熱邪灼爍使然，而津液受傷則一也，按切脈之道，古人原合望聞問：三法而言，
今之病家不達此理，深居幃幄，惟以切脈試醫，醫者又恥于詳問：，每多忽略，
設遇此症此脈，得無有誤治之失乎，況人所稟之脈，與面目性情不殊，有偏大偏小，
純陰純陽，反關四出，種種異狀，皆生成本脈，豈可悉歸之於病侯耶，客曰：
向謂醫道之難莫，甚于脈，今聞是言，則知診法又不在七表八裏，而在活法推詳，
幾幾乎難言之矣，余曰：醫無難，察脈難，辨症難，用方難，夫察脈雖難，
於活法而實無外乎規矩，不過原其人之清濁貴賤，形志苦樂，與脈候之符與不符，
便可推測病情之逆順，譬諸塾師講學，得其旨者，自然不遠于理，用方如儒者作文，
人於其旨，能有幾人合局，辨症如釋氏參禪，未悟已前，舉止障礙，
既徹已後，觸處靈通，信手拈來，頭頭是道，然後方可自信而為人司命也。</p>
<h3>宿食兼傷寒論</h3>
<p>問：傷寒何以見有宿食。</p>
<p>曰：傷寒而見胸前大熱，額顱脹，胸腹滿，按之痛，或嘔逆，或泄利，或腹痛，
皆是停食之候，若右關脈見遲滑，為宿食傷胃，濇伏為脾陰受傷，數盛為食積發熱，
往往有脈見促結，症見足冷，乃宿食妨D3經脈流行之道而然，
不可遂認為代脈陰症，大扺傷寒有發熱頭疼，雖見脈沈足冷，陽道痿縮，
皆是陽症夾陰，合用溫中兼消導之劑，宿食一通，胃氣敷布，又當從陽症例治也，
若誤認陰症而與四逆，則熱勢轉亢，真陰立槁，多政亡血躁亂而死，
誤作實治而與承氣，則真陰下脫，虛陽上逆，多致喘脹開泄而死，
近有一醫治尤德昭霍亂，四逆煩渴脈伏，誤與溫中藥，遂呃逆發斑，屢更四醫，
雜治罔效，第七日求救于大人。曰：六脈洪滑而促，呃聲頻併，斑色焮赤，
舌本紫腫，證脈俱陽，始先所見厥利脈伏，皆宿食阻塞于中，脾氣遏絕之候，
腸中之垢雖下，胃中之實未除，與涼膈散去硝加犀角黃連，一服斑退呃止而愈，
復有少年患夾食傷寒，足冷面戴陽，醫用發汗藥，致動陰血，而見四逆嘔泄無度，
他醫用枳實理中，夜半陽回足煖，前醫復用消導收功，極詆參朮為非，
病家反以為然，詎知此症之生，全賴溫中之力耳，一同道之室，傷寒夾食，
自用疎表消導，四五日後，邪熱入裏，而煩渴引飲，水道黃赤，
與五苓散一服，遂致水逆不，入小便涓滴不通，晝夜懊憹不安，下問於余，
令用大劑五苓散，隨吐隨灌，繼用梔子豉湯，灌吐稠痰水飲數升，
二便隨至是夜即得安臥，彼謂自用之藥未嘗有異，但力未到，不得收效，
安知其為先前誤用五苓引邪犯本，故仍用五苓灌吐，領之外泄，其先後退之之機，
難為世俗言也。</p>
<p>問：傷寒夾食，何者宜消，何者宜下。</p>
<p>曰：大法先去外邪，繼除裏實，在胃則宜消，在腸則宜下，若不分經府，內外併治，
必致引邪內犯，故有表邪末盡不可攻裏之戒，然人之稟不無偏勝，宿食亦有寒熱，
不可一途而取，如胃中痰濕素盛，必兼理氣豁痰，胃虛不能蘊熱，必兼溫中消導，
有寒食伏久而化熱者，當兼清食積之火，有過用消剋傷胃者，當溫中養氣，
以資健運之能，若夫下症之緩急，豈特三陽明三承氣而已，如虛寒壞病，
非假人參之力，則攻之不應，寒積固結，非藉附子行經，則下之不解，濕熱脹閉，
前後不通，下症最急，非用木香苓半開發痰氣，則推之愈逆，大約水道不利，
腸鳴腹滿之症，必無燥結，大黃必須姜製，芒硝斷不可施，與夏秋腸澼同法，
然有一下即安者，有下後腸空，胃中之實得下而粘者，製劑之大小，亦當師以成法，
如大承氣以蕩實熱，大黃不妨即用兩許，雙解散分解內外蘊熱，和雜藥不過二三錢，
必續續而進，漸取開結之功，枳實梔子豉湯治食復，所加大黃，
不過博棋子大五六枚，臨症處方之際，苟非講明有素，必合轍也。</p>
<p>問：傷寒停食症治，四時有異否。</p>
<p>曰：非但四時症治有異，病名傳變，各各不同，而水土方隅，亦是不一，
如西北土地高厚，風寒凜冽，患傷寒者非特冬時，春夏恒多有之，
嘗有北人在南感寒，二三日尚惡寒不止，直待服表藥後方發熱脈浮者，
若嶺南炎方瀕海，冬月不寒，陽氣常泄，四時多患瘴癘，總無傷寒之病，
在大江以南，水土卑弱，寒煖不時，傷寒與冬溫常間雜而發，舉世不察，
概與辛溫發汗，致變風而死者多矣，亦有邪伏中，至春夏而發為濕病熱病者，
至于春夏非時暴寒之症，與傷寒B0殊，冬月寒水司令，其邪雖必從太陽而入，
實由陽維而斜次三陰，陰維而斜次三陰，蓋邪氣滿溢，必注溝渠，
所以不從十二經而隨八脈也，其有宿食者，則必併諸陽明，以其經上貫額顱，
是以必脹，即府實熱蒸，頭痛亦然，若夫春時感冒，則司令已屬風木，
必先少陽受邪，少陽在中，陽明太陽在外，受則三經俱受，故治感之藥，
皆不分經絡，如芎蘇神朮正氣之類，為停食感冒之的方，春時陽氣枋升，致汗頗易，
與蟄藏之令，自是不同，夏月津本外泄，表氣先虛，雖或觸冒風露，消暑樂中，
略兼透表即解，若恣用風藥，不無鼓動痰濕之處，如更加停食，必致喘脹逆滿矣，
大抵停食感寒，無論何時何症，但氣口脈顯滑盛，而手足溫和者，皆為易治，
若脈見短濇，而四肢逆冷者，必難克效，此為總訣。</p>
<h3>素患欬家兼傷風寒論</h3>
<p>問：雜病以欬嗽為重，傷寒以欬嗽為輕，請明其故。</p>
<p>曰雜病之繁冗難明者，莫如欬嗽為最，然究其源，不過胃氣不清，陰火上棄，
二者而已，內經雖分五藏六府諸欬，而所重尤在聚于胃關于肺六字，
此內因之大綱也，外感之欬嗽有風從皮毛而入于肺者，
有寒從背俞而入于肺者，有素患欬嗽，復加風寒，及形寒飲冷所致者，
外感乃暴傷經絡之邪一表即清，故為輕，雜病積久而發，且有寒熱虛實新久之不同，
即善察病機者，急難獲效，故為重，若夫外內合邪，邪正交互，藏府糾結之症，
斷非見病醫病者之所可以克任也。</p>
<p>問：胃氣不清之欬其在胃，客邪所傷在經，治當從府乎，從經乎。</p>
<p>曰：胃為藏府之總司，肺為諸欬之門戶，不但五藏之久欬，乃移于六府，
即諸府之氣，靡不本之于胃，故凡藏府諸欬，感聚于胃而關于肺也，
所謂胃氣不清者，言水穀之氣，不能如霧之上蒸于肺，而轉溉諸藏，勢必留積于胃，
隨熱氣而化為痰，隨寒氣化為飲，胃中既為痰飲所滯，則輸肺之氣亦必不清，
而為諸欬之患矣，其有六淫外感之邪者，又必兼經而治，如肺胃素有寒熱痰飲，
諸嗽皆用上焦分之藥，則與風寒無礙，
但虛嗽久嗽之兼風寒者，則難于補斂，稍費周旋耳，外感諸欬中，
惟風熱風燥二症，世所難明，如冬時先傷非節之煖，復加風寒外遏，
而致欬嗽痰結，咽腫身重，自汗浮者，風熱也，治此者，當辛潤以解其邪，
如萎蕤湯之類，切勿誤與辛熱發汗，致變風溫溫毒，自利發斑，種種危殆，
至于風燥一症，辨治尤難，蓋燥為秋氣，令不獨行，必假風寒之威而令乃振，
欬乃發也，然考之於經，則不曰秋傷于燥，而言秋傷于濕，何也夫D4令本燥，
以長夏濕土欝蒸之餘氣，漸漬身中，隨秋令收斂而伏于肺胃之間，
直待秋深燥令大行，與濕不相容，至冬而為欬嗽也，此症有肺燥胃濕，
兩難分解之勢，古方中，惟千金麥門冬湯，千金五味子湯二方，獨得其秘，
不知者以為斂散不分，燥潤雜出，則又置而不用，總未達分解之義耳，
喻嘉言先生不明濕氣內伏，燥令外傷之意，直云內經獨遺長夏傷于濕句，
致令秋傷于燥，誤為傷濕，殊失內經精微之奧矣。</p>
<p>問：陰虛欬逆之人，龍火易于炎上，若更感風寒而用升散之藥，則虛火愈炎，
為之奈何。</p>
<p>曰：胃氣不清之痰嗽，症類繁多，若陰虛火炎乾欬，惟有房勞傷精，
思欝傷脾兩途審係精傷，則宜補精，神傷則宜養神，一定法也，
有客邪加臨而見表症，頻與小劑桂枝湯其營衛，然必倍芍藥以謢陰，增膠飴以潤燥，
使中氣有權，則陰火不致于上炎，以共襄建中之功，況芍藥得桂，無酸寒收斂之虞，
桂得芍藥，無妄動陰血之患，如氣虛畏寒，手足寒者，則加黃芪，血虛煩熱，
手心熱者，則加牡丹皮，實陰虛感寒之神丹，即欬而小便利，或失小便者，
亦不出是湯也，至若夏秋陰虛感冒，莫如葱白香鼓湯最宜，
兼可以救溫病熱病時行疫癘之陰虛者，家大人嘗言崇禛辛已，歲飢民困，
江南疫癘大行，凡服發表攻裏之藥者皆死，惟用敗毒散，補中益氣湯，多有得生者，
馮長年孝廉，素患陰虛欬嗽而犯時氣，遂用葱白香豉湯加人中童便，
三日而安，又一地師，宿有血症，亦感是氣，即用前湯，更加犀角丹皮，
服後大便下血而愈，是皆時氣中之變症也，近王公峻先生治一孕婦，
風熱欬嗽，已經發散後，胎上逼心上氣倚息，欬則遺尿，
用紫蘇飲去芎藭腹皮，加萎蕤白微，三劑而胎始寧，家昆誕先治一少年，
陰虛而傷秋燥，常時火炎乾欬，五心煩熱，，妄夢失精，小水時白時黃，
秋杪忽大咳嗽，坐間徧地清痰，周身凜凜畏寒，肌表微微發熱，
咳甚則嘔，嘔則鼻衂如注，大便枯燥，小水如淋，先用異功散去朮加山藥，
次與六味丸加麥冬五味，半月而嗽方止，歷推諸驗，未有不重在本病者，
大抵火炎乾咳，悉是陰虛，古人雖有腎肝同治之論，然細格病情，多屬腎水枯竭，
肝藏多火之症，所以只宜壯水制陽，若導火之法，斷斷不可輕試也。</p>
<p>問：形寒飲冷所傷，與停食感何異。</p>
<p>曰：停食感冒是三陽經受病，食雖停而未嘗固結，胃府末必受傷，
故但於解表藥中略兼痰理氣，其食自消，此受寒氣，胃傷冷食，內外併傷，
乃致移寒于肺而為欬，鄰國尚然為壑，同氣連枝之脾，能無寒中之患乎，
此一經一府二藏，同時受病，非桂枝人參湯，枳實理中湯，四逆加人參湯等，
不能圖治，豈停食感冒之可與比例哉。</p>
<h3>宿病咽乾閉塞兼傷寒論</h3>
<p>問：人有素患咽中閉塞者，復傷于寒，則汗下俱禁，有平時咽喉乾燥而患傷寒，
則但禁汗而不禁下，何也。</p>
<p>曰：乾燥與閉塞，二者輕重懸殊，素常咽中閉塞是腎藏精血空虛，生陽之氣，
不能隨經上循喉嚨，所以汗之則血隨虛陽上脫，而厥冷踡臥，下之則氣隨真陰下脫，
而下利身疼水漿不下也，平昔但乾燥，而不閉塞，乃胃中津液不克，所以不宜發汗，
設不知此而與汗劑，重傷津液，不待經傳入府而為燥結之患矣，故善治者，
一見裏症，即當微泄以泄其熱，若待結定而下，則與延D5入室何異哉。</p>
<p>問：虛人不宜發汗者，並用建中以和之，如胃燥而用膠飴之潤愚所易知，
若夫腎虛而用建中，反實土以勝其水，得無愈傷其陰之慮乎。</p>
<p>曰：所謂建中者原在建立中土而隄腎水方中全賴芍藥內護其陰，使虛陽無泛上之虞，
則桂枝等得以建辛發散之功，更加膠飴滋中氣之燥而助其作汗，
豈香燥助脾而有傷犯腎水之慮乎。</p>
<p>問：咽中閉塞之見裏症，當用何藥咽喉乾燥之見裏症，當用何藥。</p>
<p>曰：仲景C4膚湯，治咽中閉塞之裏症，神效，外編用童子小便，
調生白蜜加C4膽汁隔湯熱服，
面戴陽者去蜜和葱湯亦佳咽喉乾燥者用蜜煎導，
熱甚用C4膽汁導臍腹按之痛，用小承氣急下，以救胃中之津液，
所以仲景但禁汗而不禁下也。</p>
<p>問：咽痛非有大熱，即為大塞，寒者何以致痛，請明其故。</p>
<p>曰：熱則火氣欝蒸，血液燔灼，寒則經絡閉塞，陽氣不通，皆能致痛，
甚症雖繁．大約不出胃熱，陰火寒犯少陰三種，如痛而喉舌赤腫，
痰氣壅塞身熱煩悶，前後不通，渴欲飲水，其脈實大有力，或沈伏而滑，
皆胃中痰濕挾心包之火為患，此為實邪，或涌或泄或砭，皆能取效，
如咽喉雖赤而不甚焮腫，面上時有怫鬱之色，而手足不熱，二便不秘，渴喜熱飲，
或口中時有清涎上湧，此龍火上騰而吸引陰津于上，最危之兆若左脈弦數者，
陰虛水不制火，惟宜壯水制陽，若六脈數疾無倫，或右尺瞥瞥虛大者，
虛陽遊散于上也又當用引火歸源之法，此皆雜病，即有壯熱，不得以傷寒目之，
其驟痛無熱，而不腫不赤不渴，舌淡青紫，或嘔泄清水，二便清利脈來沈緊者，
此大寒入犯少陰之經也，若二三日而見煩熱躁亂，面赤足冷，脈變虛大者，
陰極似陽，虛陽發露之候，急宜通脈四逆，白通加C4膽汁湯溫之，
遲則不救。</p>
<h3>頭風兼傷寒論</h3>
<p>問：有患傷寒者屢用發散，汗出身涼，而頭痛愈劇，徹夜叫號，至夜則有微熱，
此係何故。</p>
<p>曰：此必素有頭風，或血虛風熱，而過汗重傷血液，所以其痛益甚也。</p>
<p>問：治此者，仍當袪風乎，清火乎，抑宜養血乎。</p>
<p>曰：風火相煽，額與眉棱目珠但痛，當用選奇湯兼清風熱，久欝成頭風者，
清空膏茶調散之類，大寒犯腦，痛連齒頰，欝閉成火者，非兼調寒熱，
則火不散，如本事玉真丸，寶鑑石膏散，隨表裏而開發之，痛久不除，
須防目翳之患肥人濕土盛者，半夏白朮天麻湯，瓜蒂散，清理濕熱為要，
若兩太陽痛連目梢者為血虛，雖宜養血為主然有火則兼清火，有邪則兼散邪，
如四物湯加細辛蒼耳芽茶，當歸補血湯加葱豉姜棗，皆前人已驗之良法。</p>
<p>問：一婦素稟羸弱，產育過多，常患頭痛，背上畏寒之極，
夏月必用緜絮裹首，複衣掩背，初冬傷寒，發熱頭痛異常，周身痛楚，
膝下與手臂皆不溫，而手心獨熱，胸膈無恙，二便如常，或用表藥，熱勢不減，
畏寒轉增，胸膈迷悶，二便艱濇，李懷茲先生用補中益氣加蔓荊子微汗而安，
愚謂此婦雖虛，然既犯傷寒，法當解表何乃汗之不愈，補之即安，幸明示以開茅塞。</p>
<p>曰：此婦素常陽氣不升，而頭疼背寒，復與發散傷其衛氣，
所以熱不除而轉加畏寒也，用補中益氣以升舉清陽，衛得參芪之力，
自能袪邪外散，非深得東垣之旨者不能也。</p>
<p>問：一老婦久患偏頭風，諸治不效，春間復感風寒，方士用火鍼刺風池合谷等穴，
鍼處皆發赤腫，氣從小腹上衝，不時頭面赤熱，諸醫莫解其故，因延瘍醫治之，
用消毒藥，腫愈堅大，施元倩先生用桂枝湯數劑而平，細繹此症，似屬邪熱，
而用辛溫之藥反效，何也。</p>
<p>曰：此即燒鍼令其汗，鍼處被寒，核起而赤之成法，幸有施子能用，知仲景之學，
尚不至於全廢也。</p>
<p>問：今有一少年，形體肥盛，患傷寒昏熱，或用表藥不得汗，遂讝妄躁亂，
愚用涼膈散加黃連而熱除，但頭痛經月不止，晝則目珠與眉稜太陽俱痠疼，
夜則大痛引急如掣，目中如有風吹狀，以熱掌按之，即稍覺爽快，
寐則頭與胸前大汗如漉，左脈緊細，右脈浮緩，服茶調散，用搐鼻法不應，
與養血藥亦不應，不識此為何病，何藥可以收功。</p>
<p>曰：此熱邪雖從內泄，而寒痰襲於經中，因體肥不能外泄，所以流連不解，
內經所謂其人肥則為目風眼寒是也，治當解營分鬱閉之火，除經絡沈沍之寒，
授以三因芎辛湯加生石膏半兩，數日必能獲效，服之果然。</p>
<h3>心腹諸痛兼傷寒論</h3>
<p>問：凡宿有心腹諸痛，因外感之邪觸動而發，若欲先治表症，裏痛勢難刻緩，
若欲兼治其痛，又恐有礙于表，歷考方論中，素無成法可師，幸顯示至理，
以補昔賢之未逮。</p>
<p>曰：諸痛皆有表裏氣血虛實寒熱之分，其痛在肌表者，中間不無裏症，
如胃脘留飲之臂痛，腎虛足不任地之腳心痛，腎衰風襲之下體痿弱，骨節疼痛，
豈非痛出外而病根於裏者乎，然病雖從內而發，其實痛在經絡，所以治表之藥，
總無妨於本病，但不可不顧慮血氣，以虛其虛，痛必轉劇也，
其胸脇肩背諸痛，症雖不一，以大綱論之，悉為陽分之疾，縱有傷寒表症，
而痛楚不堪者，不妨兼治其痛，並無引邪入犯三陰之虞，即使陰邪上逆，
不過先溫其裏，若腎心痛之與背相控，如從後觸其心者，仍無礙於裏症也，
觀仲景太陽例中，傷寒醫下之，續得下利清穀不止，身疼痛，急當救裏，
則知後身疼痛，清便自調者，急當救表，內有虛寒者，必當先溫其裏而後解表，
乃正治也，至於腰臍少腹諸痛，雖皆陰分之患，然既有表症，則當從表治之，
如腰痛而兼外感，亦須桂枝湯以分解太陽之邪，則裏氣亦得疏通，而痛必少緩，
寒者則加附子以溫之，腹痛用小建中，為土中伐木之聖藥，血虛而氣散者尤宜，
有寒則加乾姜，寒甚則加附子，虛寒則用桂枝人參湯，寒極而嘔，金匱大建中湯，
少腹痛，用當歸四逆湯，寒加吳茱萸最妙，此皆兼理外內之良法也，
大抵有宿病之人，不得用峻汗峻攻之法，必參其人之形氣盛衰，客邪微甚，
本病之新久虛實，向來之宜寒宜熱，宜補宜瀉，宜燥宜潤，宜降宜升，
或近日服過何藥之相安不相安，其間或挾痰，或挾血，或挾火，或挾氣，或挾水，
或挾積，務在審症詳明，投劑果決，自然隨手克應矣，故凡智者用方，
法法不離古人，而實未嘗執古人之成法也。</p>
<p>問：一少年素有便血，自言觸穢腹痛，經日不止，因覓土醫刺委中出血如注，
是夜即大發寒熱，頭痛如搗，腹脇滿痛，不能轉側，讝語如見鬼狀，
一館師以大柴胡下之而愈，愈後不時寒熱咳嗽，服滋陰清肺之藥兩月餘，
其嗽愈甚，近日飲食少進，大便作瀉而兼下血，左右關尺皆弦細而數，
未識此症，尚可圖治否。</p>
<p>曰：此必刺委中時感冒風寒，因其人素有便血，邪棄虛入，而為熱入血室，
如陽明病下血讝語之例，非獨婦人經水適來適斷而有是症也，
用大柴胡得愈者，是偶中，痛隨利減之效，原非正治，
所以愈後不時寒熱咳嗽，脾肺清陽下陷，而肺失通調輸化之氣也，
斯時不與調補脾胃，反與寒涼清肺，則脾氣愈傷，不能統血，而為下脫泄瀉之患，
虛損已成，雖暫時復生，恐難為力矣，蓋腹痛一症，舉世咸謂沙脹，或刮或刺，
或飲冷水，種種為害非淺，曾見有陰虛停食腹痛，誤飲冷水，吐利不止，
周身青黑而斃者，有經水將行作痛，亦飲冷水，經閉不通而成蠱脹者，
與夫痛痹一症，靈樞謂之賊風，後世方書名為痛風，亦曰白虎歷節風，
近來呼為箭風，例禁湯液，恣用鍼艾火焠，愚夫無知，被其煽惑而受非刑，固不訝，
即明哲之士，亦常以箭風二字鑿鑿而談，且有自任時醫者，身有所痛，
必倩村中臾嫗挑焠，咒水吞符，無所不至，吾將以靈素痹論，金匱胸痹血痹諸例，
請用從火庶不致與俗全違耳。</p>
<h3>亡血家兼傷寒論</h3>
<p>問：仲景太陽篇中，有亡血家不可發汗，發汗則寒慄而振，
有衂家不可發汗汗出則額上陷，脈急緊，直視不能眴，不得眠，
夫亡血是統諸失血而言，何衂家另設一例，且血為陰，血亡則陰傷，
陰傷則陽盛何故汗之反寒慄而振，衂家何獨不然，又為額上陷，
脈急緊等症。</p>
<p>曰：血之與氣，異名同類血雖屬陰，實為陽氣之根，與氣相為維附，一息不能相離，
凡人身中有氣不到處，則血凝不流而為刺痛，痛處必熱，有血不行處，
則水飲襲入而腫痛，痛止必寒，素有血症之，人復發汗以奪其血，寒慄而振，
勢所不免，血既消亡于內，則陽氣無根，所以諸亡血家驟脫不止，
必用大劑人參斂其神氣，氣斂則血有所統，無復再脫之虞，
斯時雖不敢望其陽生陰長，但得扶定胃氣以進飲食，即是生長之基，
設不知此而用血藥，惟有膩膈傷中，而為奪食泄瀉之患也，至于衂血一症，
皆由陽明經火氣逆行而至，故曰：衂行清道，不知者以清道指肺，
遂有衂血出於肺之說，大可噴飯，詳衂血一症，
十二經惟手足陽明太陽四經有之，即使因肺致衂，亦必由手陽明經而至，
肺雖清肅之藏，業常少血，且經脈不行于鼻孔，其血從何而至哉，蓋陽明多氣多血，
是以患其症者，恬不知怪，然慣衂之人，稍有勞動，或煩心過飲，
受熱感寒，血必隨火而行熟徑，蓋火即氣，氣隨血散，久之經氣并傷，更加奪汗，
則血不榮筋，而為兩額之動脈收引，眥急不能卒視也，其所以不得眠者，
虛火蘊降于胃，胃不和則臥不安，此皆亡血人復發其汗之候，若因傷寒而致亡血，
又當隨症施治如太陽症失汗，邪留經中而衂，非麻黃湯汗之不解，
有熱傳營分而為吐血，則當清解其內，如犀角地黃湯，黃連阿膠湯之類，凡此種種，
未遑盡述，姑就宿病傷血之人傷寒表症而言，
如衂血則宜小建中加犀角丹皮，咯血則宜小建中加丹皮童便，
吐血則宜黃芪建中加童便阿膠，伏氣發溫而為吐衂，皆從內而至，
經絡胃府通宜涼膈解毒，三黃石膏加葱豉童便之屬，
若感冒風熱之衂，則宜葱白香豉湯加童便，若素有便血而兼傷寒，
則宜千金內補當歸建中，寒加灶土炮姜，熱用白頭翁湯，婦人宿患血崩而感客邪，
則宜金匱三物旋覆花湯加香豉，或當歸建中加黃芪防風葱豉最妙，
至若熱邪傳裏而觸動陰血，無論宿病新病，皆無表症糾纏，但須詳從何道而至，
或稠或清，或鮮或晦，自可直清本病，竟行無礙矣。</p>
<p>問：亡血家衂家症見於外，尚有發汗之誤，其血畜於內而顯發熱頭痛者，
得無誤汗之患乎。</p>
<p>曰：凡畜血必有見症，可察而知，其所患處有三，畜于胃脘之內，則胸膈隱隱剌痛，
甚則牽引於背，畜于厥陰之經，則脇下痛引腰脊，畜於膀胱之府，
則少腹急痛，若小便不利者，并傷氣分也，其辨治之法，須詳新久虛實寒熱，
大率新者多實，實則宜攻久畜必虛虛當兼補，寒則非煖不散，最忌酸寒，
熱則宜于寒下，然必加辛溫而為嚮導，亦有症顯虛熱，而所畜屬寒者，，
必畏寒而畏熱飲，不可因其假症，而誤與寒涼攻血，多致發呃脫瀉而死，
其治畜血之兼傷寒表症，輕則小建中香蘇散之類，重則五積散，
隨上下寒熱而為裁酌，至見半表，及傳入裏，皆與本病無礙，但久畜虛人，
不可輕動其血此為切禁。</p>
<p>問：鄒孔昭之弟費仲雪之女，皆患失血何以知其必死而辭之。</p>
<p>曰：孔昭昆仲俱患，喘欬吐血，肩息不得臥，孔昭之脈，尺部雖弦而寸關卻浮，
症雖陰火迫肺，脈則兼感客邪，且審其所吐之血，多滯涎水，知必從胃而出，
故先與小建中加丹皮，和其營衛，績與異功去朮加薯芋丹皮，下靈砂丹收攝陰火，
則肺胃自清，于昭之脈，關尺皆弦細如循刀刃，血色正赤如凝硃，為少陰守藏之血，
故知必死，費仲雪先生，久患膈塞嘔逆，中脘攪痛如剌，或時痰中帶血，
六脈沈細如絲，自謂六陰之脈，及按至神門，別有一脈，上至陽谿迢迢應指，
知胃氣未竭，尚可苟延，其令愛不不過欬血一二次，尚有梳洗出，診脈得純弦細數，
此胃氣已竭，安有復生之理。</p>
<p>問：郭孝聞之室血崩，聞用金鈴子而愈，何也。</p>
<p>曰：孝聞夫人暑月經行時，涼臥風中，色患淋瀝，加以惱怒跌哭，遂崩脫不止，
小腹中如線條，貫心掣痛，常發熱頭疼，遍體煩疼，服止血諸藥不應，
而進參芪，忽然忽慣不省，崩脫愈甚，深夜急遽邀往，脈得弦大而芤，
獨左寸丸滑，知衝任二脈受病，明是風入胞門所致，久之風從火化，
血愈傷而火愈熾，非旋覆花湯金鈴子散兼進，不能清其風熱，降其逆氣也，
況此症多有火淫血室，濕結子戶，及欝結傷脾，怒動肝火，恐驚失跌，
種種不同，若用通套升發補斂之藥，烏能獲效哉。</p>
<p>問：兵道李石台內姪之傷寒，更七醫而轉篤，皆不識為何症，
尊大人何以知其為血而下之。</p>
<p>曰：魯公棄於夏月從陸來吳，途中中暍受傷有之，大暑中何有傷寒之症，
醫見壯熱皆憒，便與發汗，發汗不已，兼之消導，不已，繼進參朮，主見雜出，
補瀉徧嘗，正氣轉傷，畜積愈固，而見善忘如狅，身汗如油直視不眠，
唇反不收，齒齦腐穢，七晝夜喃喃不休，手足動掉不寧，脈得純弦而豁大中芤，
明是畜血而兼狐惑之症，急與犀角地黃湯加黃連烏梅，清其胃，
安其虫腹中之黑物自下，而神識頓清，從未嘗用攻血之藥也。</p>
<h3>多汗家兼傷寒論</h3>
<p>問：汗家不宜發汗，則邪從何解。</p>
<p>曰：所謂汗家不當發汗，是指平昔腠理不固，不時傷風自汗者而言，
即仲景例中汗家重發汗，必恍惚心亂，小便已陰疼一條不過言衛虛營氣常泄之人，
汗之復傷其營，乃有如是變症，非謂多汗之人，一概不可發汗也，嘗見陰虛盜汗者，
發汗不得汗，則乾熱不已，汗出則足冷面戴陽，陽虛自汗者，發汗則惡寒不食，
甚至冷汗厥逆，蓋陰虛則血熱，其汗亦熱，陽虛則其寒，其汗常冷，
且有胃氣虛寒者，常出淡汗，凡此皆以發汗為禁，惟小建中為主陰虛加丹皮，
陽虛加黃芪，陰陽俱虛，二味並加，胃虛自汗不止，則加人參，
又有血虛心痛，則加當歸，血虛寢汗熱不止，則合當歸補血湯，皆萬舉萬當，
百不失一者，若夫濕熱素盛之人，舉動則渾身汗出，設有客邪表症，
亦謂其虛而禁發汗，則表邪與內濕，固結難分，當棄邪未入裏時，急與表散，
當表法與尋常不同，必兼辛涼淡泄之味，則胃熱方化，非但無痰逆氣滿之虞，
并可以杜風熱內入之患，如越婢加半夏湯，小清龍加石膏湯，麻杏甘石湯，
麻黃連軺赤小豆湯之類，若治稍失時，邪一入內，即當隨症用瀉心湯諸法，
復有濕熱多汗之人而兼陰虛者，汗之則喘汗胸滿，上熱下寒而上脫，
下之則溺閉腹脹，五液注下而下脫，兼陽虛者，汗之則額上與手背冷汗不止而上脫，
下之則呃逆嘔穢，暴下不止而下脫，所以犯此皆死，
余嘗用小陷胸合C4苓湯，治陰虛濕熱，小陷胸合理中湯治陽虛濕熱，
每多見效，倘陰虛下利不止，用赤石脂禹餘粮湯，陽虛下利不止，
用桃花湯，間有淂生者此皆平時多汗，復感客邪之候，若因外感而見自汗者，
則與上法無預也。</p>
<h3>積聚動氣兼傷寒論</h3>
<p>問：積聚動氣三者，皆腹中固疾，其受病之原有異否。</p>
<p>曰：積聚寒氣客于五臟之膜，血氣不行所生，聚則汁沫聚于六府之廓，
溢畜不瀉而成，動氣為無形之氣受病，所以忽有忽無，與積聚之有形質者不同。</p>
<p>問：有動氣之人，不可汗下，其有積聚者，亦有所禁乎。</p>
<p>曰：動氣是脾衰氣失統運之候，汗下先動脾津，故為切禁，
非若積聚初起之可用攻擊者，若久病氣衰，亦必兼補而攻始應，嘗見有積聚誤汗，
則津液外泄，固結隨表藥而上升者，誤攻則氣隨下脫，陰邪無制而愈逆者，
亦有下之便利不止，水道澀痛如淋者，內經所謂此風根也，不可動，
動之為水溺濇之病是也。</p>
<p>問：已誤汗下者，為之奈何。</p>
<p>曰：誤汗虛陽擾亂而氣上沖，或欬吐眩愓，或心煩惡寒者，通宜五苓散去朮，
多加棗仁降斂之，誤下虛陽不禁而氣下奪，或身熱踡臥，或下利汗出者，
金匱大建中湯，吳萸湯，府子理中加桂苓湯，急溫其裏，則虛熱不治自息矣。</p>
<p>問：三證之表法。</p>
<p>曰：積之兼表者，以溫血為主，加甘草乾姜湯加桂枝姜棗，感冒則香蘇散，
葱白香豉湯，聚之兼表者，以滌飲為先，如小半夏茯苓湯加桂枝姜棗，
或四七湯，芎蘇散之類，動氣之兼表者，以安中為務，
如小建中黃芪建中為最當，非若積之芍藥助陰有礙，
聚之膠飴助濕難投也，若營傷無汗者，則合香蘇飲，凡表藥皆升而香蘇獨降也。</p>
<p>問：三證之和法。</p>
<p>曰：和法總不出小柴胡，然於本方中宜除去參芩，積加細辛乾姜，聚加茯苓橘皮，
動氣但去黃芩，加木香桂心之類，又須知中虛挾邪之，人胸多寒熱不和，
常有痞滿之患，當於三瀉心湯，黃連湯，旋覆代赭石湯選用，若待脹滿喘急而治，
難為力矣。</p>
<p>問：三者治失其宜而見裏症，當何法以除之。</p>
<p>曰：大約中氣久虛，及有宿病之人，先用導法，如積用蜜煎加川烏末導，
聚用C4膽汁加姜汁導，動氣用醬姜導，若裏熱勢劇不下必死者，
積用大黃附子湯，聚用厚朴七物湯，動氣理中湯去朮，加桂芩姜製大黃微利之，
庶免陰氣逆上之虞，至於伏氣發溫，雖有積氣當涼膈散大柴胡，
及三黃石膏加大黃急下之，以熱毒從內而發，裏先受邪，所以不禁內奪，
非導法所能蕩滌其熱也。</p>
<h3>疝證兼傷寒論</h3>
<p>問：七疝之名，各有不同，且所治諸藥，多寒熱錯雜，此屬何意。</p>
<p>曰：疝瘕之症，因內經有任脈為病，男子內結七疝句，致元方子和各立七疝之名，
咸非內經所謂，內經以邪留諸經，腹中引急諸痛，通名曰疝，
近世惟以睪丸之病為疝，外此皆置而不論也，詳經中雖有藏府諸疝，統而言之，
不離任與厥陰，蓋肝則任之生化，任之陰氣為疝，肝之陽氣為風，故治疝多用風藥，
觀金匱大烏頭煎，烏頭桂枝湯，並不用附而用烏，義可見矣夫疝之受病，
多由寒熱不和，所以經脈緩急，即使濕熱，
必因寒束而痛伏寒必由火欝而發但須詳偏寒則從寒，偏熱則從熱，
如烏頭梔子湯，治本寒標熱，少腹中緩急痛引心脇之疝，
蒼朮五苓加棟實檗皮湯，治䫋癃脹墜之疝，皆寒為熱引，熱為寒導之法，
然其症各有所挾，必非空氣作痛，故有血則兼攻血，有積則兼攻積，
能識此義方可與言治疝諸法。</p>
<p>問：疝症多兼風治，表症自可無虞，不識裏症有所禁否，</p>
<p>曰：在無客邪時，治其本病，多兼風藥，若一有風寒，
則表藥反難恣用常見有疝瘕人，服羗防柴葛之類，升動陰邪，每致喘脹嘔呃，
善治者，必兼桂芩棟實等味于香蘇芎蘇小建中，葱白香豉諸方中，
則陳氣不致于上逆，若有陳寒，必加烏附細辛姜桂之屬裏氣不溫，外邪必不得散，
倘見裏症，切禁苦寒峻攻，與積聚等法無異。</p>
<h3>淋濁兼傷寒論</h3>
<p>問：諸淋皆腎虛膀脫受熱，何古方中多有用熱藥者。─曰：淋之為病，小便如粟狀，
方書分膏石氣血勞五種，丹溪謂諸淋皆忌補氣，氣得補而愈脹，血得補而愈澀，
熱得補而愈甚，惟勞淋則宜補氣，但須兼利州都，則水道之熱方化，
然多有腎虛囊中受寒者，症必先寒凜而後溲便血淋亦有屬寒者，其色必瘀晦無光，
不鮮不紫，是皆膀胱虛寒，陽不化陰之候，觀金匱治小便不利，有水氣而渴，
用栝蔞D6麥丸，消渴之飲一斗，溲一斗溲上如脂，用腎氣丸，一屬腎氣不開，
一屬腎氣不閤，並用附子以司開閤之權，豈可概謂膀胱受熱乎。</p>
<p>問：濁帶之症，丹溪謂胃中濁痰滲入膀胱，而所下常有赤色首何。</p>
<p>曰：肥人固多濁帶，而瘦人亦恒患此，且多有陰中，不潔，敗濁襲入精竅者，
辨治之法，大約以乾掩竅端者為火，不乾掩者為濕，小水赤濇而痛，
或濁有赤色者為小腸濕熱，小水不赤不痛，而所下色白，或滲利轉甚者，
為脾氣下陷，莖中痛痒而發寒熱，或有結痛者，為毒邪所侵，若此種種，
詎止痰濕一端而已。</p>
<p>問：淋濁皆前陰之疾，設有是症而更傷于寒，其治亦相類否。</p>
<p>曰：淋為精病，濁為氣病，安得相類精病則宜黃芪建中，熱加丹皮，
寒加附子，下消走精二味並加，精滑不止，或夢中走泄，桂枝加龍骨牡蠣，
湯氣病則宜香蘇散，濕加苓半木香，熱加葱豉滑石，虛加升柴參芪，
水氣上逆而渴，五淋散灌吐取汗最捷，此皆治淋濁兼外感之良法，復有兼雜他症者，
如苕溪田孟先，久患膏淋，溲中有塊如橘核狀，外裹血膜，中包黃水，乃醉後入房，
酒濕流入腎藏所致，徧服利水固精藥不應，溽暑中忽然憎寒發熱，
喘促悶亂，腰背煩疼，脈見浮濡沈細，是淋久陰傷暑氣襲虛之症，
先與生料六味加川萆薢作湯，下消暑丸，次用前湯送本事豬苓丸，八服諸症霍然，
江右孝廉蔡允恭嚴冬患濁，小腹結硬，大發寒熱，巔痛自汗，脈得左緩右濇，
兩尺緊細，乃風挾毒邪入犯厥陰之經，與當歸四逆湯熱服，覆汗而熱除，
即以前方除去通草姜棗，加蠍稍陵鯉甲麝臍，丸服不令作汗，數日塊綃痛止，
但濁猶未淨，或令嚼生銀杏而痊，世人咸謂銀杏濇精，殊不知其專滌敗濁也。</p>
<h3>瀉痢兼傷寒論</h3>
<p>問：泄瀉皆脾胃之疾，何內經有風寒濕熱之泄，且治瀉多有兼用風藥者。</p>
<p>曰：六氣中，除燥氣外，皆能為瀉，其邪咸從經絡入犯中士，所以治瀉多用風藥，
即內因之瀉，亦常兼用，如脾虛氣陷作瀉，用補中益氣，必加羌防以勝濕，
乃正治也，其五更腎瀉，昔人皆謂腎虛，而用四神五味補斂之藥，服之未必悉應，
殊不知此皆酒濕入傷水藏所致，余嘗用金匱澤瀉湯加姜辛五味萆薢之屬，往往獲效，
又有脾腎俱虛之瀉，若小便清利倍常，則泄瀉大作，此降泄多而升氣少，
切不可用苓澤之類，且關門失守，腎氣空虛，亦不得用升柴等藥，惟宜附子理中，
加紫石英赤石脂紅豆以固斂之，如素有酒積食積，痰濕水飲，
或積兼氣滯頓瀉而兼感外邪者，並宜香蘇散為主，酒積合澤瀉湯，食積合平胃散，
痰濕合二陳湯，水飲合五苓散，氣滯合四七湯，瀉症繁多，聊舉一二為例，
餘可類推矣。</p>
<p>問：滯下以通利為務，若兼感風寒而與通利，能無妨於表症乎。</p>
<p>曰：痢疾多患於夏秋，本無傷寒之理，然初秋常有非時暴寒，或久痢延至冬時，
及休息痢，多有兼外感者，既有表症，自應救表，
但須審本病之新久虛實或氣分受傷，或血分受傷，或氣血並傷，參酌而治可也，
夫痢之通利，不過棄初起濕熱全盛時，及為相宜，然在元氣虛人，傷犯胃氣，
多有呃噦不食，下利不止而危者，當知積滯原係腸中津液，因氣不統運而為敗垢，
惟當宣通其氣，則失統之敗垢自下，未傷之津液自安，後重窘迫自除矣，
近世但守痛隨痢減一語，概以通利瀉氣之劑，施之久痢虛痢，吾未見有得愈者，
況兼客邪為治乎，方書中原有胃風湯，治風毒下痢參蘇飲治下痢發熱，
白頭翁湯治熱痢下重，敗毒散，治疫痢壯熱陽旦湯，治血痢身熱脈浮，陰旦湯，
治血痢瘀晦腹痛，當歸四逆湯，治下痢身熱手足冷，五苓散，治下痢有熱水道閉，
升麻葛根加犀角湯，治下痢身熱發斑，調中飲，治下痢胸前手足陰班，三奇湯，
治久痢後重不除，補中益氣湯治久痢元氣虛陷，及瘧後病後一切虛痢，皆先哲之成，
則未嘗不用傷寒之法也，然非博聞廣識之士，難以語此。</p>
<p>問：一人陰虛發熱，下痢赤白，至夜煩渴不寧，或用涼血攻積藥而死，
一人陰虛發熱，下痢五色，胸中常覺飢狀，得食則脹，或用補中益氣而死，
一人陰虛發熱，下痢不食，郭友三先生用豬苓湯，黃連阿膠湯而痊二，
方並非下痢門中藥，而用之輒應，何也。</p>
<p>曰：世患陰虛下痢者頗多，古人從未闡發，其症未有不發熱不煩渴，不畏食，
不見紅，不夜甚者，蓋陰氣內亡，勢必虛陽外擾，故治陰虛之痢，涼血死，攻積死，
補氣亦死，惟兼清解熱毒，兼滋陰血，庶可保全，此用仲景少陰例中救熱存陰之法，
與金匱治產後下痢虛極，用白頭翁加甘草阿膠湯不殊也。</p>
<h3>胎產兼傷寒論</h3>
<p>問：孕婦百病以胎產為主，若有外感客邪，黃芩白木，仍宜用否。</p>
<p>曰：古人用黃芩安胎，是因子氣過熱不寧，故用苦寒以安之，
脾為一身之津梁主內外諸氣，而胎息運化之機，全賴脾土，故用白朮以助之，
然惟形瘦血熱，營行過疾，而胎常上逼，過動不妻者，乃為相宜，若形盛氣衰，
胎常下墜者，非人參舉之不安，形盛氣實，胎常不運者，非香砂耗之不安，
血虛火旺，腹常急痛者，非歸芎養之不安，體肥痰盛，嘔逆眩暈者，
非苓半豁之不安，此皆治母氣之偏勝也，又有父氣虛贏，或有宿病而胎稟不固者，
則當如父調理自安，若因風寒所傷，而胎不安者，則桂枝湯，香蘇散，
葱白香豉湯，諒所宜而用之，和解則小柴胡，柴胡四物，裏症則大柴胡，
小承氣，涼膈散，隨上下輕重而施，伏邪時氣，尤宜急下，此即安胎之要訣，
內經所謂有故無隕是也，下藥中獨芒硝切不可犯，凡胎死腹中，及誤斷臍腸，
胞衣上升，壯實人並用平骨散加芒硝，虛人理中湯，因外感傷胎者，
五積散加芒硝服之，胞胎即縮小而下，走血之性可知，其半夏大黃，雖言孕婦忌服，
然用之得宜，亦安胎聖藥，若有客邪而用芩朮，使熱邪留連不解，反足傷胎，
觀紫蘇飲，治孕婦風寒，惱怒喘脹，腹痛諸疾，即于本方除去川芎生姜，而加白朮，
為達生散，瘦胎飲，則以芩朮為君，而加枳葱滑石，豈二味專主安胎，
又能滑胎耶，蓋瘦胎飲一方，特為奉養太過，胎肥不能轉運而設，今人不達此理，
無故服之，傷耗其氣，臨產無力送胎，反致難產，及釀成產後諸患者不少，
良由不明虛實補瀉故爾。</p>
<p>問：產後以行血為務，若有表邪而與行血得無引邪傷營之患乎。</p>
<p>曰：產後諸疾非行血則邪不去，即諸虛症，亦須血行其氣乃復，第行之有方，
不可過峻，凡產後危症，莫如三衝三急，三衝者，敗血之衝肺衝心衝胃也，三急者，
新產之嘔吐泄瀉多汗也，其用藥則有三禁，禁佛手散，以川芎能發汗也禁四物湯，
以地黃能作瀉也，禁小柴胡，以黃芩能阻惡露也，然皆產後之常法，設有風寒危急，
亦將守此坐令致斃乎，嘗讀金匱產後之例，有大承氣湯，下瘀血湯，陽豆湯，
三物黃芩湯等方，不能使人無訝，及見家嚴所治金聖祥婦，產後敗血沖肺，
發熱面赤喘脹，人事不省用二味參蘇飲，倍蘇木加芒硝惡露即通而甦宋孝先次孫媳，
產後發熱頭疼，腹中急痛，死絕復甦者再，與當歸內補建中湯，得汗而痊，
其長孫媳臨產下痢，產後膿血無度，更兼感冒客邪而發熱頭痛，此血液大脫，
胃氣逮盡，非但難勝藥力，即益母湯，亦傷胃難用，惟借金匱黃士湯之法，
令以伏龍肝，炒黑查肉炒焦砂糖炒焦陳米，入姜棗煎成不時熱服，取枯以去垢，
而有溫中止痢之功，姜棗以和營散邪，三日熱退痢減，果進糜飲，七日而痢全瘳矣，
鄭墨林夫人亦臨產下痢，用連理湯加木香，二服而止，止後即產，產後嘔吐大汗，
以抵聖散去赤芍加炮姜黃連而安，徐日昇婦，草蓐中發露得風，壯熱頭痛，
面赤胸煩用香蘇散加荊芥葱豉而熱除，但手足心熱，不時煩擾，善食易飢，
二便不利，與三物黃芩湯而安，以上等治，未嘗不用汗下，不用寒涼，而暴病勢緊，
不得不猛治者，下手稍軟，去生便遠，其病久氣衰者，非但不可峻攻，
峻補亦是不可，必緩劑輕調，以候胃氣之復，務在臨症權宜，
若拘世俗之見而禁汗下專事血藥以治胎產之疾我未敢信以為然。</p>
<h3>經脈</h3>
<p>經脈出自靈樞本當全篇融貫熟讀，為醫門之實學，第苦L0縷交加，
難于誦記，于是稍為裁削，略其繁詞，兼取軒岐仲景切於經脈之文，參入一二，
以為決診之捷法，若言筆削聖經，則我何敢。</p>
<p>肺手太陰之脈，起於中焦，下絡大腸還循胃口，
上膈（膈膜遮膈濁氣使不上薰心肺），布胸中屬肺，從肺系橫出腋下，循臑內，
下肘中，循臂內，入寸口循魚際，出大指，其支者從腕後直出次指內廉出其端。
是動（邪在氣氣為是動），則病肺脹滿，
膨膨然而喘欬（其脈布胸中故病喘欬肺宜溫潤燥則病寒亦病），胸中痛，
缺盆中痛（缺盆乃手足陽明脈氣所發肺病則胃氣不升大腸之氣不降故氣不行而痛），
甚則交兩手而瞀（瞀麻木不仁也），是主肺所生病者（其在血血為所生病），
欬上氣喘渴，煩心胸滿，臑臂內前廉痛，氣盛有餘，則喘渴，胸盈仰息，肩背痛，
風寒汗出中風，小便數而欠（風寒在表故汗出中風邪傷其氣故小便數而欠欠少也），
氣虛，則肩背痛寒，少氣不足以息，
溺色變（氣虛則陽病故為痛為寒而怯然少氣金衰則水涸故膀胱氣化不行而溺色黃赤也
），氣絕則皮毛焦，爪枯毛折，盛者寸口大三倍於人迎，虛者寸口反小於人迎也。</p>
<p>大腸手陽明之脈，起於大指次指之端（肺脈出次指大腸脈即受肺交而起食指），
出合谷兩骨之間，上入兩筋之中，循臂上廉，入肘外廉，
上臑外前廉上肩出髃（音余），骨之前廉，上出柱骨之會上，下入缺盆，
絡肺下膈，
屬大腸（大腸上接小腸下接迴腸傳送不潔之物必待肺氣下行故與肺為表裏），
其支者從缺盆上頸貫頰，入下齒挾口，交人中左之右，右之左上挾鼻孔。是動，
則病齒痛（必要熱飲），頰腫，
是主津所生病者（大腸與肺為表裏肺主氣津由氣化故凡大腸之或泄或閉皆津所生之病
也），目黃口乾，鼽衂喉痹（能言），腹中雷鳴切痛，感寒則泄，
氣常沖胸，瘧（日發而渴）肩前臑痛，次指不用，氣有餘，
則當脈所過者熱腫皮膚穀穀然堅腫而不痛，虛則寒慄不復，肩背肘臂外痛，
盛者人迎大三倍于寸口，虛者人迎反小於寸口也。</p>
<p>胃足陽明之脈，起於鼻之交頞中，入上齒挾口環脣，出人迎（內名在面），
絡於目（陽明主肉其脈挾鼻絡于目）上耳前循髮際，至額顱，其支者，
下人迎（穴名在頸動脈應手），循喉嚨，入缺盆下膈屬胃絡脾，其直者，
從缺盆下乳挾臍入氣街中（氣沖穴也），其支者，起胃口，循腹裏，
下氣街中而合以下髀關抵伏兔（伏兔在膝上六寸髀關在伏兔後）下膝臏中，
循脛外廉下足胕入中指內間，其友者，下膝，
入次指外間（按足陽明屬充內庭陷谷皆在次指靈樞甲乙脈經俱作中指誤），其支者，
別跗上入大指間出其端。是動，則病灑灑振寒，善伸數欠，
顏黑（伸欠類黑士勝水也）惡人與火（胃寔則熱，熱則惡火），
聞木音則惕然而驚（土惡木邪故惊也），心欲動，獨閉戶塞牖而處，
甚則欲上高而歌，棄衣而走（陽盛則四肢實實則能登高也），
賁響腹脹（火盛與水相激故激搏有聲即腸鳴也本輸篇云大腸小腸皆屬于胃），
罵詈不避親疎（土熱欝蒸于心胸神明則亂也），
是主血所生病者（陽明多氣多血是主血所生病），狂瘧（間日發而不渴），
濕淫（濕濁下滲也），
陰痿足廢（衝督帶三脈皆聚陽明陽明主潤宗筋宗筋主束骨而利機關也）汗出鼽衂
，脣漯漯暴難言，甚則不能言，面腫齒痛（必惡清飲）口喎脣胗（人中腫也），
面赤熱，頸腫喉痹（不能言），大腹水脹，（土病不能制水也），膝臏腫痛，
膺乳氣街股骭外廉，足跗上皆痛，次指不用，腹䐜脹，胃脘當臍而痛，
上支兩脇，膈塞不通，飲食不下，胃中不和則不能正偃，腹中鳴，
身重難以行，胃熱則宗氣喘數（胃之大絡名虛里出左乳下其動應衣宗氣也），氣盛，
則身以前皆熱，消穀善飢，溺色黃（此陽明寔熱在經在府之辨也）氣不足，
則身以前皆寒慄，胃中寒則脹滿（此陽明虛寒在經在府之辨也），
盛者人迎大三倍於寸口，虛者人迎反小于寸口也。</p>
<p>脾足太陰之脈，起于大指之端上內踝（音哇），循股內前廉，入腹屬脾，絡胃，
上膈，挾咽，連舌本，散舌下，其支者，復從胃別上膈，注心中。是動，
則病姏本強，食則嘔（脾氣煖則健故食易消寒則衰故食不化而嘔逆），胃脘痛，
腹脹善噫（脾脈入腹屬脾絡胃故為痛為脹陰盛感而上走陽明故氣滯而為噫），
得後與氣，
則怏然如衰（病後失氣則怏然如病衰但倦怠耳）身體皆重（脾濕之氣下流也），
是主脾所生病者，舌本強（氣病則強血病則痛）煩心心下急痛，
寒瘧溏瘕泄（脾寒則為溏泄脾滯則為癥瘕），水閉黃癉不能臥（水氣逆滿傷氣也），
善飢善味肉痿，足不收行善瘛，強立股膝內腫，厥大指不用，寒甚則厥而響響然，
腹中穀穀便溲難，心痛引背不得息，實則腹脹涇溲不利，身盡痛虛則四肢不用，
五藏不安，百皆縱腹大腸鳴飱泄面黃不嗜食，
食不化怠惰嗜臥九竅不通身体不能動搖，當臍上下左右動氣，氣絕則脈不營肌肉，
舌萎人中滿脣反盛者，寸口大三倍于人迎，虛者寸口反小于人迎也。</p>
<p>心手小陰之脈，起于心中出屬心系下膈，絡小腸其支者，從心系上挾咽，
繫目系其直者復從心系上肺，出腋下，下肘內，循臂內後廉，入掌內，
循小指之內出其端（心系有二一則上與肺通為心包絡之系一則下絡小腸為周身血脈之
總司）。是動，則病嗌乾心痛渴而欲飲（心火炎則心液耗故渴而欲飲），善笑善忘，
眩仆煩心，善驚不寐是主心所生病者，目黃，膺背肩脇滿痛，臑臂內後廉痛，
厥掌中熱而啘浸淫瘡瘍，舌乾焦苦，消渴舌破心胸間汗，實則笑不休，
虛則悲，胸腹大脇下與腰相引而痛，氣絕則脈不通，血不流，髦色不澤，
面黑如漆柴，盛者寸口大再倍于人迎，虛者寸口反小于人迎也。</p>
<p>小腸手太陽之脈，起于小指之端，循手外側上腕循臂骨下廉，
出肘內側兩筋間上循臑外後廉，交肩上，入缺盆，上衝心，貫肝肺，絡心循咽，
下膈抵胃屬小腸，其支者從缺盆，循頸上頰至目銳眥，卻入耳中，其支者，
別頰上䪼（音抽）抵鼻，至目內眥。是動，則病嗌痛，
頷腫不可以顧痛在頸側也，肩似拔，臑似折，
是主液所生病者（小腸主泌別清濁宿則清濁不分而流衍無制是主液所生病也），
耳聾目黃，頰腫鼻衂（不成流），頸頷肩臑肘臂外，
後廉皆痛虛則小腹控睪（音高），引腰脊上沖心而痛，盛者人迎大再倍于寸口，
虛者人迎反小于寸口也。</p>
<p>膀胱足太陽之脈，起於目內眥（晴明穴也），上額交謓其支者從巔，至耳上角，
其直者，從巔入絡腦，還出別下項，循肩髆閃，挾脊抵腰中，入循膂絡腎，
屬膀胱其支者，從腰中下貫D7入膕中，其支者，從髆內左右別下貫脾，
挾脊內過髀樞，下合膕中，以下貫踹內（踹音湍足跟也）至小指外側。是動，
則病衝頭痛（邪循經上而痛也）目似脫，項似拔（痛在項後不可俛仰），
脊痛腰似折（痛上寒），髀不可以曲，膕如結，
踹如裂是主骨所生病者（腎主骨膀胱為腎之府故亦主之世本作是主筋所生病者誤），
痔瘧（虛則痔盛則瘧），狂癲疾（邪入于陽也）頭顖（音信）項痛，
目黃（為畜血），淚出鼽衂（則成流），小腹偏腫而痛，
以手按之即欲小便而不得，胞痹少腹按之內痛，若沃以湯，濇于小便，上為清涕，
膀胱不利為癃，不約為遺溺也項背腰D8膕踹腳皆痛，小指不用，
盛者人迎大再倍于寸口，虛者人迎反小於寸口也。</p>
<p>腎足少陰之脈，起于小指之下，斜走足心，循內踝後別入跟中，
出膕內廉上股內後廉，貫脊屬腎絡膀胱，其直者，從腎上貫肝膈，入肺中循喉嚨，
挾舌本其支者，從橫骨中挾臍，循腹上行而入肺（橫骨一名下極），從肺出絡心，
注胸中（腎藏有二其脈交通水火左者直上入肺而循喉挾舌右者直行臍腹而上絡心胞越
人以右腎為命門非也）。是動，則病飢不欲食（陰火上棄雖飢不欲食也），
面如漆柴（腎水枯也），欬唾則有血（真陰損而延及其母也），
喝喝而喘（腎水不能上通于肺也），口乾呂血坐而欲起（陰虛陽擾而不能靜也），
𥉂𥉂目如無所見（目之明在瞳子瞳子者骨之精腎氣內奪故目
𥉂𥉂如無所見也），
心如飢若飢狀（心腎不交則精神離散故心如懸陰虛則內餒故常若飢狀），氣不足，
則善恐心惕惕如人將捕之（腎主志為恐腎氣怯故惕惕如人將捕之），
是主腎所生病者，耳鳴遺泄口熱舌乾，咽腫上氣，
嗌乾及痛（厥氣走而不能言手足清大便自利口熱如膠）煩心痛（痛引腰脊而欲嘔），
黃癉（水虛士寔故為癉其額上必黑），
腸澼（腎開竅于二陰故為腸澼寒則利清穀熱則便膿血），
脊股內後廉痛痿厥嗜臥泄利下重，足下熱而痛，小腹急痛，腰下冷痛，自言腹脹滿，
而寔不滿，脛腫煩冤（煩為煩擾冤為冤熱）骨痿不能起，
䏚中清（䏚音抄季脇下也）指清黑，清厥意不樂，四肢不收，身重，
寢汗出憎風，氣絕則肉軟怯，齒長而垢，髮無澤，盛者大再倍於人迎，
虛者寸口反小於人迎也。</p>
<p>心主手厥陰心包絡之脈起於胸中，出屬心包絡（諸邪之在心者皆心包絡受之）下膈，
歷絡三焦，其支者，循胸出脇，下腋循臑內，入肘中，下臂，
行兩筋間入掌中，循中指，其支者，別掌中，循小指次指出其端（無名指也）。
是動，則病手心熱，臂肘變急，腋腫，甚則胸脇支滿，
心中憺憺大動面赤目黃，喜笑不休，
是主脈所生病者（諸脈雖屬于心而行太陰肺部脈之運動皆由包絡之火故又為陰包所主
），
煩心心痛（痛引腋脇而欲欬）掌中熱（脈起心胸入掌中也）盛者寸口大一倍于
人迎，虛者寸口反小于人迎也。</p>
<p>三焦手少陽之脈，起于小指次指之端上出兩指之間，循手表脘，出臂外兩骨間，
上貫肘循臑外，上肩，入缺盆，布膻中，散絡心包下膈，循屬三焦，其支者，
從膻中，上出缺盆，上項繫耳後，出耳上角，以屈下頰至䪼，其支者，
從耳後入耳中，
出耳前交頰至目銳篇（三焦有上中下之名其形則一在七節兩腎之中所謂上焦如霧中焦
如漚下焦如瀆者是形容三焦之用非寔有三處也）。是動，則病耳聾，渾渾焞焞而痛，
嗌腫喉痹（三焦之氣通于喉喉不和則痹腫矣）往來寒熱，
是主氣所生病者（三焦為決瀆之官水病必由于氣也）汗出，目銳眥痛頰痛，
耳鳴耳後肩臑肘臂外皆痛，小指次指不用，腹氣滿，小腹尤堅，
不得小便溢則水留即為脹，盛者人迎大一倍于寸口，虛者人迎反小于寸口也。</p>
<p>膽足少陽之脈起于目銳眥上抵頭角，下耳後，循頸至肩，上入缺盆，其支者從耳後，
入耳中出走耳前，至目銳眥後，其支者，別銳眥，下人迎，合手少陽，
抵䪼，下頰車，下頸，合缺盆以下胸中，貫膈，絡肝，屬膽，
循脇裏，出氣街，遶毛際，橫入脾厭中（即脾樞），其直者，從缺盆下腋，
循胸，過季脇下合髀厭中，出膝外廉，循足跗，入小指次指之間，其支者，
別足跗，入大指間。是動，則病口苦（膽病則液泄故口苦），嘔宿汁，
善太息（膽欝則氣不舒故善太息），惊惕，心下憺憺恐人將捕之，
嗌中介介然數唾，心脇痛，
不能轉側（足少陽之別貫心循肋裏故病則不能轉側），耳無所聞，甚則面有微塵，
體無膏澤（膽病則春升之令不行如木之枝葉凋瘁而色枯槁也），足外反熱，
是為陽厥（病本屬火故為陽厥），
是主筋所生病者（肝主筋膽為肝之府故亦主之世本作是主骨所生病者誤），
頭角頷痛，目銳眥痛，缺盆中腫痛，腋下腫，馬刀挾癭，
汗出振瘧（膽居表裏之半陰勝則振寒陽勝則汗出故瘧），
胸脇膝脛踝前諸節皆痛，小指次指不用，少陽終者耳聾，百節盡縱，目系絕，
盛者人迎大一倍于寸口，虛者人迎反小于寸口也。</p>
<p>肝足厥陰之脈，起于大指，上循足跗，上膕內廉，循陰股，環陰器，抵小腹，挾胃，
屬肝，絡膽，上貫膈，布脇肋，循喉嚨之後，上入頏顙，連目系，
上出額與督脈會于巔，其支者，從目系，下頰裏，環脣內，其支者，復從肝，
別貫膈，上注肺。是動，則病閉目不欲見，人腰痛不可俛仰（痛上熱），丈夫頹疝，
婦人少腹腫，甚則咽乾面塵脫色，淅淅時寒熱，兩脇下痛引少腹，
上下無常處，淋溲便難，脇痛支滿，手足青，面青面青脣黑，
是主肝所生病者，胸滿嘔逆，作酸飱泄狐疝瘧，遺溺閉癃，
頰腫喉痹（吐膿血），吐血下血（暴湧不止），瘈瘲惡風，渾身痠麻疼痛，
四肢滿悶，筋痿不能起，陰縮兩筋急，轉筋足逆冷，脛痠陰痒，盛則善怒忽忽，
眩冒（眩運也），而巔疾（巔頂痛也），氣逆則頭痛耳聾，目赤腫痛，
虛則目𥉂𥉂無所見，耳無所聞，善恐，
如人將捕之（善恐如人將捕有三足少陰是腎藏精氣虛衰足少陽是膽虛寒涎漬沃足厥陰
是肝虛神魂不寧一屬精傷一屬涎沫一屬血虛不可不辨），氣絕，則筋急引舌與卵，
唇青，盛者寸口大一倍於人迎，虛者寸口反小於人迎也。</p>
<h3>奇經</h3>
<p>脈有奇常，十二經者常脈也，所見諸症皆平常無奇其奇經八脈交加中外，絡繹諸經，
所見諸症皆忽起忽伏，脈亦倐去倐來，故謂之奇，舊說以為奇偶之奇，
恐非至當，若爾，則不應有陰陽維蹻（音竅平聲）之偶矣，所謂督脈督于身後諸陽，
任脈任於身前諸陰，衝為諸脈之海，又為血海，陽維維絡諸陽，主一身之表，
陰維維絡諸陰主一身之裏，陽蹻得足太陽之別，主一身左右諸陽，
陰蹻得足少陰之別，主一身左右諸陰，二蹻皆起跟中，使人蹻捷，
帶脈橫束季脇，約束諸脈，為諸經之別貫，各有專司，蓋人身之氣血，
常行於十二經而後及於八脈，若受邪則先傷八脈。而後傳次六經，
所以越人譬之溝渠，溝渠滿溢，諸經不能復拘也。</p>
<p>督脈起於下極之俞（音殊），並於脊裏，
上至風府（項中央之脈督脈也名日風府）入屬於腦，陽脈之海也，其絡循陰器，
合篡間，繞篡後繞臀，至少陰與巨陽中絡者合少陰，上股內後廉貫脊屬腎，
與太陽起於目內眥，上額交巔，上入絡腦，還出別下項，循肩膊內，挾脊抵腰中，
入循膂絡腎，其男子循莖下至篡，與女子等，少腹直上者，貫臍中央，上貫心，
入喉，上頤環脣，上繫兩目之內中央。動苦少腹上沖心而痛，
不得前後為沖疝其女子不孕，癃痔遺溺，嗌，乾卒口噤，背反張，瘛瘲，腰背強痛，
不得俛仰，脊強反折及痛，頭重不舉，大人癲疾，小兒風癎，
其脈直上直下而中央浮，或尺寸強，俱直而浮者，督脈也。</p>
<p>任脈起於中極之下，以上毛際，循腹裏，上關元，至咽喉，上頤循面，入目絡舌，
陰脈之海也，同足三陰並行腹裏，其浮於外者，出毛際，
循關元石門（即丹田）氣海，而歷三脘，循膻中，
至缺盆（缺盆之中任脈也名曰天M1）。
動苦少腹繞臍引陰中切痛（入房太過衝督任受傷多此），男子內結七疝，
女子帶下瘕聚，月事不以時下，腹皮急，腹中有氣如指上搶心，
不得俛仰拘急（志慾不遺陰火上乘多此），其脈橫寸口，邊丸丸緊細而長，或弦，
出寸口上魚際而丸滑者任脈也，衝脈起於少腹之內胞中，為血之海也，其浮於外者，
起於氣街（即氣衝在少腹），
並足少陰之經（難經云並足陽明之經以穴考之足陽明挾臍各二寸而下行與衝脈會于宗
筋足少陰挾臍五分而上行針經所載衝脈在腹關元等穴皆屬少陰非陽明也明矣），
挾臍上行，至胸中而散，衝脈任脈，皆起於胞中，上循背裏，為經絡之海。
動苦逆氣裏急，氣上沖咽喉不得息，喘息有音不得臥，腹中刺痛拘急，
寒氣客於衝脈，則脈不通，故喘動應手，有寒疝痛，則上引胸中也，
其脈直上直下而中央牢者，衝脈也，凡人兩手脈，浮之俱有陽，沈之郋有陰，
陰陽皆盛，此衝督之脈也（衝主沈牢督主浮革），衝督為十二經之道路，衝督用事，
則十二經不復朝于寸口，其人恍惚痴狂，刺衝督，
陽維起於諸陽之會（諸陽皆會于頭），主持衛氣，其脈發於足太陽外踝，循膝外廉，
上髀關，抵少腹，側循脇肋，斜上肘，
會手足太陽陽蹻於臑俞（在背後胛上谷中），上循耳，會督脈於風府，上腦空，
下至風池，與諸陽會於頭。
動苦寒熱（陽維為病在表故苦寒熱而足太陽少陽始終聯附故二經為病苦寒熱），
腰痛，痛上怫然腫，又腰痛不可以欬，欬則筋縮急，肌肉痹痒皮膚痛，下部不仁，
汗出而寒，羊癎倒仆（多發于日），手足相引，甚者不能言，
若陽維不能維於陽，則溶溶不能自收持（溶溶緩縱貌），
其脈從尺外斜上至寸而浮者，陽維也，陰維起於諸陰之交（諸陰皆交于胸），
主持營血，其脈發於足少陰內踝，循股內廉，上行入少腹，會足三陰，
上腹裏（去腹中行四寸半）循脇，會足厥陰於期門（直乳下一寸半），
上胸脇挾咽，與任脈會於頸。
動苦心痛（陰維為病在裏故苦心痛陰維雖交三陰寔與任脈同歸故心痛腹痛多屬少陰而
兼陰維任脈也）脇滿腰痛，甚則悲以恐癲疾失音（多發于夜），
肌肉痹痒汗出惡風身洗洗然（洗與洒同），若陰維不能維於陰，則悵然失志，
其脈從尺內斜上至寸而沈實者，陰維也。</p>
<p>陽蹻起於跟內，出外踝直上循股外廉，循脇後胛上，行肩膊外，上挾口吻，
至目內，上行髮際後入風池。動苦緩縱不收，
陰緩而陽急（陽蹻脈急當從外踝以上急賽踝以上緩），腰背痛，
羊癎倒仆（多發于日），惡風偏枯，𢂽痹体強，
目瞋不得瞑其脈寸口左右彈，浮而細綿綿者，陽蹻也。</p>
<p>陰蹻起於然谷之後，上內踝之上，直上循陰股入陰中，上循胸裏，
入缺盆上出人迎之前，入鼻屬目內眥，至咽喉，交貫衝脈。動苦拘急不弛，
陽緩而陰急（陰蹻脈急當從內踝以上急外踝以上緩）少腹痛裏急，腰痛相引陰中，
男子陰疝，女子漏下不止，癲疾寒熱（多發于夜），皮膚淫痹，風痙瘈瘲，
目閉不能開，其脈尺內左右彈，沈而細綿綿者，陰蹻也。</p>
<p>帶脈起於季肋圍身一周，如朿帶然，
與足少陰會于十四椎（自上而下則十四椎自下而上則七節），十二經與奇經七脈，
皆上下周流，
惟帶脈橫朿如帶而衝任二脈循腹脇夾膀傍傳流於氣衝屬于帶脈絡，
于衝脈衝督任三脈，同起而異行，一源而三歧，皆絡帶脈。
動苦腹滿腰溶溶若坐水中腰腹縱，如囊水狀婦人腰痛少腹痛裏急瘈瘲，
牽引季肋下空軟處，月水不調，赤白帶下其脈中部左右彈，而橫滑者，帶脈也。</p>
<h3>運氣</h3>
<p>諺云不讀五運六氣，檢徧方書何濟，所以稍涉醫理者動以司運為務，
曷知天元紀等篇，本非素問：原文，王氏取陰陽大論補入經中，後世以為右聖格言，
孰敢非之其實無關于醫道也，況論中明言時有常位而氣無，必然猶諄諄詳論者，
不過窮究其理而已縱使勝復有常而政分南北四方有高下之殊，四序有非時之化，
百步之內，晴雨不同千里之外寒暄各異，豈可以一定之法，而測非常之變耶，
故余僅取司運規例，詳釋其義，以資顧問，其六元正紀中之某歲某氣當見某病，
世所最重者，概不釆錄。</p>
<p>甲已之歲土運統之乙庚之歲，金運統之丙辛之歲，水運統之，丁壬之歲，
木運統之戊癸之歲，火運統之五運之化有常數，主客之運有遞代，蓋六氣之有主客，
五運亦有主客，主運皆起于角，以次相生，如木主春令而為角，火主夏令而為徵，
土主長夏而為宮，金主秋令而為商，水主冬令而為羽，每運得七十三日五刻，
與六步主氣同，但歲氣有陰裼主運分太少假如甲年為陽土，則主運始太角，
而生少徵太宮少商太羽已為陰士，則主運始少角，而生太徵少宮太商少羽，
此主運之氣，必始于角而終于羽也客運亦一年五步假如甲已為士運，甲屬陽土，
甲年則太宮初運，少商為二運，太羽為三運，少角為四運，太徵為終運，已屬陰土，
已年則少宮為初運，太商為二運，少羽為三運，太角為四運，少徵為終運，
太少相生凡十年一主令而竟天干也，但主運則必始于角兩終于羽，
客運則以本年中運為初運，以次相生此主運客運之所以有異也。</p>
<p>子午之歲，上見少陰丑未之歲，上見太陰寅由之歲，上見少陽卯酉之歲，
上見陽明辰戍之歲，上見太陽已亥之歲，上見厥陰。</p>
<p>主氣者地氣也如厥陰風木主初氣，少陰君火為二氣，
少陽相火為三氣太陰濕士為四氣，陽明燥金為五氣太陽寒水為終氣君，
相二火相隨為一歲之主有常無變，故少陽相火繼君火行令，循序而生濕士，
所以土陰土居相火之後氣之順行者也客氣者，天氣也如子午則太陽為初氣，
厥陰為二氣少陰為三氣，太陰為四氣，少陽為五氣，陽明為終氣，
丑未則厥陰為初氣，寅申則少陰為初氣，卯酉則太陰為初氣，辰戍則少陽為初氣，
已亥則陽明為初氣，盍初氣皆起地之左間也，而客氣之濕士，居相火之前，
乃陰陽先後之數也。按六氣分正化對化，如子丑寅卯辰已為對化，對司化令之虛，
則勝而有復，午未申酉戍亥為正化，正司化令之實，則勝而不復。</p>
<p>帝曰：勝復之動，時有常乎氣有必，岐伯曰：時有常位而氣無必也，帝曰：
願聞其道也岐伯曰：初氣終三氣，天氣主之勝之常也，四氣盡終氣，地氣主之，
復之常也有勝則復，無勝則否。</p>
<p>帝曰：天地之氣何以候之，岐伯曰：天地之氣，勝復之作不形于診也，
脈法曰天地之變，無以脈診此之謂也，帝曰：問氣如何，岐伯曰：隨氣所在，
期于左右，帝曰：期之奈何，岐伯曰：從其氣則和違其氣則病，不當其位者病，
迭移其位者病，失守其位者危，尺寸反者死，陰陽交者死先立其年以知其氣，
左右應見然後乃可以言死生逆順也。</p>
<p>論言人迎與寸口相應若引繩大小齊等，命曰：平陰之所在，寸口何如，岐伯曰：
視歲南北若知矣。</p>
<p>（甲子甲午）南政少陰司天，陽明在泉，則兩寸不應。
（初氣太陽二氣厥陰三氣少陰四氣太陰五氣少陽終氣陽明）</p>
<p>（己已己亥）南政厥陰司天，少陽在泉，則右寸不應。
（初氣陽明二氣太陽三氣厥陰四氣少陰五氣太陰終氣少陽）</p>
<p>（已丑已未）南政太陰司天，太陽在泉，則左寸不應。
（初氣厥陰二氣少陰三氣太陰四氣少陽五氣陽明終氣太陽）</p>
<p>（已卯已酉）南政少陰在泉，陽明司天，則兩尺不應。
（初氣太陰二氣少陽三氣陽明四氣太陽五氣厥陰終氣少陰）</p>
<p>（甲寅甲申）南政厥陰在泉，少陽司天，則左尺不應。
（初氣少陰二氣太陰三氣少陽四氣陽明五氣太陽終氣厥陰）</p>
<p>（甲辰甲戍）南政太陰在泉，太陽司天，則右尺不應。
（初氣少陽二氣陽明三氣太陽四氣厥陰五氣少陰終氣太陰）</p>
<p>（丙戍庚壬子午）北政少陰司天，陽明在泉，則兩尺不應。
（初氣太陽二氣厥陰三氣少陰四氣太陰五氣少陽終氣陽明）</p>
<p>（乙辛丁癸已亥）北政厥陰司天，少陽在泉，則左尺不應。
（初氣陽明二氣太陽三氣厥陰四氣少陰五氣太陰終氣少陰）</p>
<p>（乙辛丁癸丑未）北政太陰司天，太陽在泉，則右尺不應。
（初氣厥陰二氣少陰三氣太陰四氣少陽五氣陽明終氣太陽）</p>
<p>（乙辛丁癸卯酉）北政少陰在泉，陽明司天，則兩寸不應。
（初氣太陰二氣少陽三氣陽明四氣太陽五氣少陰終氣少陰）</p>
<p>（丙戊庚壬寅申）北政厥陰在泉，少陽谷天，則右寸不應。
（初氣少陰二氣太陰三氣少陽四氣陽明五氣太陽終氣厥陰）</p>
<p>（丙戊庚壬辰戍）北政太陰在泉，太陽司天，則左寸不應。
（初氣少陽二氣陽明三氣太陽四氣厥陰五氣少陰終氣太陰）</p>
<p>諸不應者，反其診則見矣。</p>
<p>司天在泉四間氣者，客氣之六步也，凡初氣為左間，二氣為右間，三氣為司天，
四氣為左間，五氣為右間，終氣為在泉，故曰司左右者為間氣，每氣各主一步，
又司天主上半年，在泉主下半年，故曰歲半已前，天氣主之，歲半以後地氣主之。
南北政者，即甲已為南政，餘為北政是也，謂南政之年，南面行令，其氣在南，
故寸為上而尺為下，左右俱同，北政之年，北面受令，其氣在北，
故尺應上而寸應下，是以司天應兩尺，在泉應兩寸也。脈不應者，
指少陰所居之處而言，故曰陰之所在，而三陰以少陰居中，太陰居左，厥陰居右，
隨南北二政以定上下也，故曰諸不應者，反其診則見矣，反其診者，
謂南北相反而診之，北政之年，少陰司天，則兩尺不應，太陰司天，則少陰在右，
所以右尺不應，厥陰司天，則少陰在左，所以左尺不應，南政之年，少陰在泉，
則兩尺不應，太陰在泉，則少陰在右，所以右尺不應，厥陰在泉，
則少陰在左所以左尺不應也。</p>
<p>厥陰司天，其化以風，少陰司天，其化以熱，太陰司天，其化以濕，少陽司天，
其化以火，陽明司天，其化以燥，太陽司天，其化以寒，以所臨藏位，命其病者也。</p>
<p>厥陰之至其脈弦，少陰之至其脈鈎太陰之至其脈沈，少陽之至大而浮，
陽明之至短而濇，太陽之至大而長，至而和則平，至而甚則病，至而反者病，
至而不至者病，未至而至者病，陰陽易者病死。</p>
<p>大寒至春分為初之氣，厥陰風水主令其脈乍大乍小，乍短乍長。
春分至小滿為二之氣，少陰君火主令，其脈浮大而短。小滿至大暑為三之氣，
少陽相火主令，其脈洪大而長。大暑至秋分為四之氣，太陰濕土主令，
其脈緩大山長。秋分至小雪為五之氣，陽明燥金主令，其脈緊細而微。
小雪至大寒為終之氣，太陽寒水主令，其脈沈短而敦。</p>
<h3>方宜</h3>
<p>醫以天下民生為已任，當具通天下之才識，非膠執一巳之見，
固守一隅之法者之所能管窺也，吾吳為五方雜處之地，南北士商雲集，
苟未明水士之剛柔，風氣之強弱，資D9之偏勝，而欲妄治遐方遊客，
或客遊他地治病，則與圓枘方鑿何異哉，況客遊治病，與治斿客之病，其法懸殊，
設遊藝他方，惟隨其地之風土，若遐方流寓，又須詳彼處之資D9，
此地之風土，方始合宜，故經有一病而治各不同，地勢使然之語，圓機之土，
能於是觸類旁推，匪特行之方內，雖廣諸異域，可以無間然矣。</p>
<p>東方發育之地，土膏氣澤，冬鮮凜冽之寒，四序常行春令，俗尚華而少實，
病多熱中疎理，而無真中風寒，即使外感內傷，總由理疎邪入，
中熱氣傷所致，詳熱氣中疎理四字，已道盡東方元氣病情矣，
按吳越皆居東方，而江南元氣最薄，病則虛熱居多，溫順為宜，苦寒切禁，
江北則接壤東魯，其間元氣，虛實兼半寒熱補瀉隨宜，江左地氣稍厚，
略覺奈病勝藥，江右則南近閩粵，內連荊楚，得火上之餘氣，是以不任溫補，
然亦不勝酸攻，惟清理中外為宜，大抵東方所D9孱弱，宜宗東垣復菴，
而丹溪則宜於江之左右，新甫則偏宜江南，若河間戴人之法，
非西北資D9剛厚人斷斷不可效用也。</p>
<p>南方長養之處，陽盛氣泄，窮冬恒服絺衣，四序常行夏令，繆仲淳云：陽燠既泄，
則使人本氣不堅，民雖緻理，而霧露不時蒸發，人觸之者，未免多攣痹之患，
其稍不緻者，則有瘴癘之虞矣，即居恒無病之人，氣多上壅而少下降，
以故時嚼檳榔，唾皆赤色是以土人有天蠻不下雪，地蠻不落葉，人蠻日吐血之語，
其患瘴癘之症，亦發熱頭脹胸滿嘔逆，與傷寒相似但治法與傷寒迥異感之輕者，
但食檳榔袪散滯氣，胸膈寬舒即愈，重則必需芳香正氣之劑開發中氣為主，
若誤行表散則陽氣愈泄，表氣愈虛，邪棄虛擾，發熱愈無抵止矣，
凡嶺南烟瘴之鄉，天晴亦多霧露，罕見日色，嵐濕與晻曖交升，
蠱毒與鬼蜮並虐，感之必內應濕土，中氣先傷，故瘴癘之治，與疫癘彷彿，
但廣粵正向離明，黔滇斜臨坤位，咸多濕熱氣蒸，閩雖未踰梅嶺，已得南方氣候，
水士皆泄而不收，縱有大頭瘟蝦蟆瘟等疫，
悉屬陽邪其毒亦易解散非若北方之地脈堅厚，陰邪積而不發，發則旦發夕死，
如疙瘩瘟黑骨瘟等症之暴絕也。</p>
<p>西方收引之界，金沙之域，地高土厚，多風四序，常行秋令，其俗剛毅而不阿，
其民不衣而褐薦，華實而脂肥，則知西域D9賦與關西無異，
然蜀直指兌澤元氣與人文俱厚，有峽三倒流之勢，關西正當北斗，地氣與人文俱偉，
有劍倚崆峒之概，以其材質俱D0表裏俱充故邪弗能傷之也，惟是內氣壅盛，
故治宜毒藥，如西域倒倉，子和漏下等法，觀內經病生於內，治宜毒藥，
一方風氣主治，了無餘蘊矣。</p>
<p>北方閉藏之境，陰盛氣沈，春夏草木不生，四序常行冬令，
民D9坎水而生故常以水為事，且性好乳食，所以藏寒生滿，則內因之症也，
至於樂野處，冒風沙歷冰雪，其寒可以斷指裂膚，反不言傷寒之病者，
以緻理慣拒嚴寒，雖有大風苛毒，弗之能害即得傷之，其氣堅固不能便入於裏，
故感之輕者，但需雞湯麵食，助其肝，實其胃自能祛邪作汗，若傷之重者，
竟行辛熱表散，裏氣壅滯便與苦寒峻攻，非若東南之元氣瘠薄，投劑稍重，
便致變症蜂起也，惟是腎氣素勞之人，
邪棄虛入而為卒中之患者是必峻用溫補然煤火內蘊，須兼苦降之味，
以防火炎竭澤之虞，蓋煤為水士之精，人食其E1長氣于陰中之陽，
所以力能壯火傷陰，可不預為調制乎，復有車塵馬足之勞，不內外因之候，
又宜導氣和中，不宜升發溫補，若以南方內傷勞倦例治之，愈益其壅滿矣，
然燕與晉魯皆北，燕則左河右岱，地氣最厚，魯雖偏居良土，風氣已北晉抵關西，
惟一河之限元氣之充實，大率相類，其治亦相類。</p>
<p>中央正中之位，水土平濕萬類各得其和，四序各行其令，民雖食雜不勞，
而多痿厥寒熱者，良由水土平濕使然，以其食雜不勞，元氣平治所傷亦輕，
故導引按蹻，便可愈之不必毒藥內治針石外治也，然此言平氣所致，若傷寒卒病，
其可拘於此例乎，蓋中央雖居正位，四維八埏之氣，
皆得干之所以仲景有寒熱補瀉之不同，立法皆隨病制宜，以為天下萬世則，
而於中州更宜，按仲景為南陽聖醫，吏治長沙皆不離洛楚之地夫洛與楚，
皆居中央而楚則交界江右，稍偏于南所以一切溫補，皆為掣肘，以其地氣渾厚，
民多溫飽，是以不須補益，洛則水土平濕，平濕則氣柔氣，柔則受補矣，經言：
治所以異而病皆愈者，得病之情，知治之大體也。</p>
<h2>石頑老人診宗三昧序</h2>
<p>夫人身猶天地也，天地失和，則宇宙為殃，人身失和，則四體為病，所以主之者，
在天地稚君，人身惟心，故心為君主，君失其治，則宇宙災困，心失其養，
則四體疾疢，其弭災困，惟相之調和M2理，治疾疢，亦惟醫之調和M2理，
故曰不為良相，即為良醫，然相失政則殘民，醫誤治則殘命，相之與醫，豈易言哉，
蓋天地之九州，天地之九野，人身為九藏，又石為之骨，土為之肉，江河為血液，
草木為毫髮，道路為脈絡，風為氣，雨為汗，雷為聲，凡此則人身無不合於天地者，
天地有災，莫不載聞道路，人身有疾，莫不見諸脈絡，故治疾必要於測脈也，
予當治邑江城，署多奇疾，遘識張路玉先生，其察脈辨病症，補虛袪實，應如鼓桴，
因問之曰：人身脈絡眾多，取病何獨決兩腕，云：兩寸為心肺之關隘，一身之所主，
猶君相之都邑，天下之總會，故天下災無不肇於都邑，一身病無不形於兩腕也，
人之六脈，猶近之六部，天下刑賞與罰，莫不由此，然其昂藏磊落，風論卓絕，
B0越常識，其能運天時於指掌，決生死於須臾，又非泛泛可及知，
無經天緯地之才者，不可與言醫也，以之為良相，又誰曰不可，後以脈學一書，
索序曰診宗三昧，予雖不知醫，觀其論天地陰陽之常變，出川草木之脈理，
靈機獨發，無不貫通造化，予所云為良相信然，時因取召赴都，
碌碌未遑諾就今於職務瘁勞，嗽疾復生，思良醫不可得，因述數語郵寄，以誌仰云。
康熙已已即墨通家弟郭琇譔</p>
<p>診宗三昧目錄</p>
<p>宗旨</p>
<p>醫學</p>
<p>色脈</p>
<p>脈位</p>
<p>脈象</p>
<p>經絡</p>
<p>師傳</p>
<p>浮，沈，遲，數，滑，濇，虛，實，弦，緩，洪，微，緊，弱，長，短，大，小，
芤，濡，動，伏，細，疾，牢，革，促，結，代，散，清，濁</p>
<p>口問</p>
<p>問三焦命門脈，問神門脈，問衝陽太谿脈，問反關脈，問人迎氣口脈，
問初診久按不（同說），問病同脹異等治，問節庵從脈從症等治，
問內經脈有陰陽說，問長沙高章綱惵卑損脈法，問辨聲色法，問脈沈溫補轉劇治法</p>
<p>逆順</p>
<p>異脈</p>
<p>婦人</p>
<p>嬰兒</p>
<h2>石頑老人診宗三昧</h2>
<p>長洲張登誕先編次</p>
<h3>宗旨</h3>
<p>石頑老人，趺坐繩牀，有弟子進問醫學宗旨，老人憮然嘆曰：
崇古聖人立一善政，後世輒增一害民之事，只今偽君子之風，良由文字夭生民之患，
咎始神丹，吾嘗縱觀萬類，無物不有成敗之機，人稟造化之靈不能超乎萬類，
地水火風，常交戰於一體，雖有志者，不無疾疢之危，一有小劇，
即從事于醫藥往往貪生失生，深可哀憫，逮如下愚無知，罔悟前車已覆之鑑，
緣是不得正命者，日以繼踵，若夫未達不敢嘗者，自古及今，能幾人哉，
當世之名於醫者，有三種大病，一種藉世醫之名，絕志聖學，株守家傳，矜言削伐，
不顧本元斯皆未聞大道之故，一種棄儒業醫，徒務博覽，不卒師傳，專于溫補，
極詆苦寒，斯皆不達權變之故，一種欺世盜名，藉口給之便佞，賴聲氣之交通，
高車衒術，曲為趨時，日殺無辜，以充食客之腸，竭厥心力，以博妻孥之笑，
斯皆地獄種子，沈淪業識之故，此三種病，非藥可除，
吾今伏醫王力運六通智開個教外別傳，普救夭扎，底微妙法門，汝等若有疑團，
向前執問，但須迅掃胸中積染，向白地上從新點出個指下工夫，若能頓然超悟，
立正宗風，何慮不直接南陽先師一脈乎。</p>
<h3>醫學</h3>
<p>或問醫藥之書，汗牛充棟，當以何者為先，答曰：醫林著作日繁，葛藤益甚，
而識見愈卑，總皆竊取狐涎，蒐羅賸語，從無片言發自己意者，吾故曰：教外別傳，
不欲汝等墮諸坑塹也，近來留心斯道者，紛如泥沙，求其具夙根者，卒不可得，
是不得不稍借文字，以為接引之階梯，但此奪權造化，負荷非輕，即有真心向道，
以天下生民為已任者，入門宗E2不慎，未免流入異端，
向後雖遇明師檢點頭緒決不能清，頭緒不清，審症必不能確，審症不確，
下手亦無辣氣，安望其有轉日回天之功乎，有志之士，務在先明靈樞素問，
傷寒論金匱要略四經，為醫門之正法眼藏，然皆義深詞簡，質奧難明，
讀者不可隨人作解，以障已之悟門，或遇不能透脫處，撞著銀山鐵壁相似，
於挨𣏐不入處，忽地頂門迸裂，自然洞若觀火然後看古人註釋，
卻不仍其紕繆直待胸中學識堅固，隨意綜覽諸家，無往不受其益，即如劉張李朱，
世推四大家，觀其立言之旨，各執一偏河間之學，悉從岐伯病機十九條入首，
故其立方，一於治熱，戴人專於撥亂除邪上起見，故汗吐下法，信手合轍，
要知二子道行西北，地氣使然之故，不可強也，東垣志在培土以發育萬物，
故常從事乎升陽，丹溪全以清理形氣為本，故獨長於濕熱，二子之道雖皆行於東南，
然一當顛沛，一當安和，補瀉升沈之理，不可不隨時遷變也，在學識粗淺者，
不能委悉其全，即當因材教誨，指與個捷徑工夫，一般到家，惟脈學之言，
自古至今，曾無一家可宗者，某不自揣，竊謂頗得其髓，惜不能力正習俗之訛，
咸歸先聖一脈，是不能無愧於心，或云：夫子之道，昭乎日月，而尚有不辨明暗者，
何也，曰：是某之機緣不契，亦眾生之機緣不契也，教棄所謂時節因緣，非可強也，
吾聞佛法無邊，能度一切有情，而不能化導無緣，豈區區智力，能充牣法界，
使悉歸心至教，乎今觀遊時師之門者，一皆羊質虎皮，問其所學，
無非偽訣藥性等書，家絃戶誦，不過如斯，今古相仍，莫知其謬，蓋偽訣出自高陽，
生昔戴起宗嘗著刊誤以辟其妄，而聾聵之師，猶視以為資生至寶者，以其編成，
俚語，易於習誦也，藥性賦不知出自何人，乃妄誣東垣所著，尤為髮指，
吾願祖龍有知，凡有二書處，請用從火，造福無涯矣，至于王氏脈經，
全氏太素多拾經語，溷廁雜毒於中，偶一展卷，不無金屑入眼之憾，他如紫虛四診，
丹溪指掌，嬰寧樞要，瀕湖脈學，士材正眼等，靡不稱譽於時，要皆刻舟求劍，
按圖索驥之說，迨夫得心應手之妙，如風中鳥跡，水上月痕，苟非智彗辨才，
烏能測識其微於一毫端上哉，只今諸方雲集，向某問個脈法大義，吾當以三昧水，
滌除塵見，顯示個頭頭是道，底活法悟門，不涉纖微陳跡，便可言下荐機，
學者毋以余言為尚異也，要知冰即是水，別傳之義，原不外乎軒岐仲景，
祖祖相承之心印，但較當世所言七表八裏之法，趨舍殊途，宗旨迥乎角立耳。</p>
<h3>色脈</h3>
<p>或問人身四支百骸，藏府經絡諸病，皆取決于三部，究竟脈屬何類，動是何氣，
而診之之法，一如古聖所言否，答言，脈本營氣所主，為氣血之源，故能出入藏府，
交通經絡，行於肯綮之間，隨氣上下鼓動，其指下發現之端，或清或濁，或小或大，
或偏小偏大，雖言稟賦不同，實由性靈所發，非可一途而取，縱古聖曲為摩寫形象，
以推陰陽寒熱之機，然亦不過立法大義，明眼之士，貴在圓機活潑，比類而推，
何難見垣一方，人蓋脈之顯著雖微，而所關最鉅，其受氣在混沌未分之先，
流行在胚胎方結之際，天地萬物，莫不皆然，如璿璣玉衡，江海潮汐，
此天地脈運之常也，白虹貫日，洪水滔天，此天地脈絡之病也，窮冬閃電，
九夏雹冰，此天地氣交之亂也，天愁雨血，地震生毛，此天地非常之變也，
至於夏暑冬寒，南暄北冽，乃天地陰陽之偏，人在氣交之中，脈象豈能無異，
時值天地之變，診切安得不殊，試觀草木無心，其皮幹莖葉，皆有脈絡貫通，
以行津液，頑石無知，亦中懷脈理，以通山澤之氣，適當亢熯陰霖，嚴寒酷暑，
則木石皆為變色，況於人乎，姑以脈之常度言之，其始從中焦，循肺一經而之三部，
由中達外，為身中第一處動脈，較諸他處不同，古人雖有浮沈滑濇等辨論之法，
然究其源，有形之脈，乃水穀之精所布，稟乎地也，其鼓運之象，是無形之氣所激，
稟乎天也，而交通天地之氣，和合陰陽生生不息之機，此則稟乎氣交也，
況此氣血之屬，原不可以方圓端倪，即如人之面目，雖五官無異，及細察之，
千萬人中，從未有一雷同者，經脈別論云：診脈之道，觀人勇怯，骨肉皮膚，
能知其情，以為診法，故上古使僦貸季，理色脈而通神明，夫色者神氣之所發，
脈者血氣之所憑，是以能合色脈，萬舉萬全，得其旨，則心目昭如日月，
洵非下士可得而擬議焉，陰陽應象論言，善診者，察色按脈，先別陰陽，
審清濁而知道部分，視喘息，聽聲音，而知病所苦，觀權衝規矩，而知病所主，
按尺寸浮沈滑濇，而知病所生，以治，則不失矣，此即能合色脈，萬舉萬全之互詞，
然其所重，尤在適其性情，故診不知五過四失，終未免為粗工也，
邇來病家亦有三般過失，一者匿其病情，令猜以驗醫之工拙，一者有隱蔽難言之病，
則巧為飾詞，以瞞醫師，一者未診先告以故，使醫溺于成說，略不加詳，
雖老成名宿，未免反費推敲，多有自認錯謬，喻之不省者，苟非默運內照，
鮮不因誤致誤也，坐次一人問曰：夫子每云能合色脈，萬舉萬全，設有深閨窈窕，
密護屏障，不能望見顏色，又當何如，曰：是何言之不聰也，尼父有云：舉一隅，
不以三隅反，但須驗其手腕之色澤蒼白肥脊，已見一斑，至若肌之滑濇，
理之疎密，肉之堅軟，筋之粗細，骨之大小，爪之剛柔，指之肥瘦，
掌之厚薄，身之寒熱，及乎動靜之安危，氣息之微盛，更合之以脈，
參之以症，則氣血之虛實，惰性之剛柔，形體之勞逸，服食之精粗，
病苦之順逆，皆了然心目矣，又問五色之應五藏，愚所共知，餘皆學者未諳，
願卒聞之，以啟蒙昧曰：某所謂色脈者，倉公五色診也，乃王機不刊之秘，
知者絕罕，其間奧妙，全在資稟色澤，以參脈症，如影隨形守一勿失，
靈樞所謂粗守，形上守義者，即此義也，夫神者色也，形者質也，假令黃屬脾胃，
若黃而肥盛，胃中有痰濕也，黃而枯癯，胃中有火也，黃而色淡，胃本虛也，
黃而色黯，津液久耗也，黃為中央之色，其虛寔寒熱之機，又當以飲食便溺消息之，
色白屬肺，白而淖澤，肺胃之充也，肥白而按之綿軟，氣虛有痰也，白而消瘦，
爪甲鮮赤，氣虛有火也，白而夭然不澤，爪甲色淡，肺胃虛寒也，白而微青，
或臂多青脈，氣虛不能統血也，若兼爪甲色青，則為虛寒之症矣，白為氣虛之象，
縱有失血發熱，皆為虛火，斷無寔熱之理，蒼黑屬肝與腎，蒼而理粗，筋骨勞勩也，
蒼而枯槁，營血之涸也，黑而肥澤，骨髓之充也黑而瘦削，陰火內戕也，
蒼黑為下焦氣旺，雖犯客寒，亦必蘊為邪熱，絕無虛寒之候也，赤屬心，主三焦，
深赤色堅，素稟多火也，亦而䐃堅，營血之充也，微赤而鮮，氣虛有火也，
赤而索澤，血虛火旺也，赤為火炎之色，祇慮津枯血竭，亦無虛寒之患，
大抵火形人，從未有肥盛多濕者，即有痰嗽，亦燥氣耳若夫肌之滑濇，
以徵津液之盛衰，理之疎密，以徵營衛之強弱，肉之堅軟，以徵胃氣之虛實，
筋之粗細，以徵肝血之充餒，骨之大小以徵腎氣之勇怯爪之剛柔，以徵膽液之淳清，
指之肥瘦以徵經氣之榮枯，掌之厚薄，以徵藏氣之豐歉尺之寒熱，
以徵表裏之陰陽論疾診尺云：尺膚熱甚，脈盛燥者，病溫也，其脈盛而滑者，
病且出也，尺膚寒，其脈小者，泄少氣斯皆千古祕密一旦豁然，
詢是臨機應用信手拈來，頭頭是道底第一義，稔須著眼。</p>
<h3>脈位</h3>
<p>或問古人以三部分別藏府，而大小二腸之脈，或隸之於兩寸，或隸之於兩尺，
未審孰是孰非，願示一定之理，以解學人之惑，答曰：皆是也，皆非也，
似是而非者也，緣經無顯論，所以擬議無憑，要知兩手三部，咸非藏府定位，
不過假道以行諸經之氣耳，觀靈樞經脈，雖各有起止，各有支別，而實一氣相通，
故特借手太陰一經之動脈，以候五藏六府十二經之有餘不足，其經雖屬於肺，
實為胃氣所主以藏府諸氣，靡不本之於胃也，五藏別經云：氣口何以獨為五藏主，
胃者水穀之海，六府之大源也，五味入口，藏于胃，以養五藏氣，氣口亦太陰也，
是以五藏六府之氣，皆出于胃，變見於氣口，經脈別論云：食氣入胃，經氣歸于肺，
肺朝百脈，氣歸於權衡，權衡以平，氣口成寸，以決死生，營衛生會云：
人食氣於穀，穀入於胃，以傳於肺，五藏六府，皆以受氣，其清者為營，濁者為衛，
營行脈中，衛行脈外，即此三叚經文，可以默會其微矣，或言兩手六部，
既非藏府脈位，何脈要精微論中，有逐部推之之法耶，曰：
此即所謂假道以行諸經之氣耳，吳草廬曰：醫者以寸關尺，輒名之曰此心脈，
此肺脈，此脾脈，此肝脈，此腎脈者，非也，五藏六府，凡十二經，兩寸關尺，
皆手太陰之一脈也，分其部位，以候他藏之氣耳，脈行始於肺，終於肝，
而復會於肺，肺為出氣之門戶，故名氣口，而為六脈之大會，以占一身焉，
李瀕湖曰：兩手六部，皆肺之經脈，特取以候五藏六府之氣耳，
非五藏六府所居之處也，即內經所指藏府部位，乃是因五行之氣而推，火旺於南，
故心居左寸，木旺於東，故肝居左關，金旺於西，故肺居右寸，土旺於中，
而寄位西南，故脾胃居于右關，水旺於北，故居兩尺，人面南司天地之化，
則左尺為東北也，東北為天地始生之界，人在胎息之中，則兩腎先生，
以故腎曰先天，在五行則天一生水，水性東行膀胱為水注之器，腎司北方之令，
又居下部，則其氣化，從此而推也宜矣，然腎本有二，同居七節左右，
右者獨非腎乎，獨不主精氣乎，獨不司閉蟄封藏之令乎，蓋人身同乎造物，
凡呼吸運動，稟乎乾健，藏府軀殼，合於坤輿，以分野言，則腎當箕尾燕異之界，
其地風高土厚，水都潜行地中，結成煤火，以司腐熟之權，人應其氣，
則三交之火，從此交通，況三焦鼎峙兩腎之間，以應地運而右轉，
是雖右尺偏屬相火，為生人生物之源，因有命門之號，其實兩腎皆有水火，
原無分於彼此，以故岐伯於寸關二部，俱分左右，尺獨不分者，一皆主乎腎也，
腎為先天一氣之始，故首言尺內兩傍，則季脇也，尺外以候腎，尺裏以候腹，
腹者大小二腸在其中矣，膀胱亦在其中矣，以經氣言之，平居無病之時，
則二腸之氣，未嘗不隨經而之寸口也，以病脈言之，則二腸司傳化之任，
病則氣化不順，而為留滯，又必驗之於尺矣，曷觀長沙論中，凡正陽明府症，
必尺中有力，方用承氣，此非尺裏以候腹之一驗乎，吾故曰皆是也，皆非也，
似是而非者也，蓋尺外者，尺脈之前半部也，尺裏者，尺脈之後半部也，前以候陽，
後以候陰，人身背為陽，腎附於背，故外以候腎，腹為陰，故裏以候腹也，
東方生木，木應肝而藏于左，故借左關以候肝膽之氣，土居中位，而旺于四季，
獨以長夏濕土氣蒸之時，為之正令，故經以之分隸右關，所謂中附上左外以候肝，
內以候鬲，右外以候胃，內以候脾鬲者，鬲膜之謂，中焦所主，膽在中矣，
中附上者，附尺之上而居於中即關脈也，肝為陰中之陽藏，亦附近於背，
故借左關之外以候肝，內以候鬲，右關之前以候胃，後以候脾，脾胃皆中州之官，
以藏府言則胃為陽，脾為陰，故外以候胃，內以候脾也，火生於木，
而應乎心合乎脈，謂之牡藏牡者陽也左為陽寸為陽中之陽，故宜候之左寸，
金生於土而應乎肺，與胃一氣貫通，而主西方金氣，故經以之候於右寸，
所云上附上右外以候肺內以候胸中，左外以候心，內以候膻中，膻中者，
心主之宮城，胞絡之別名，胸中者，鬲膜之上皆是也，上附上者，
言上而又上則寸口也，五藏之位，惟肺最高，故右寸之前以候肺，後以候胸中，
心為虛靈之藏，而為君主之火，性喜上炎，又喜附木而燔，然其行令，皆屬胞絡，
故左寸之前以候心，後以候膻中氣也，詳本篇六部，但言五藏不及六府，
而獨不遺其胃者，以經絡五藏，皆稟氣于胃，五藏之本也，藏氣不能自致于手太陰，
必因胃氣，乃至手太陰也，原夫兩手六部，雖皆肺金之一脈，而胃氣寔為之總司，
足陽明一經，與諸經經經交貫為後天氣血之本源即先天之氣，
亦必從此而化每見陰虛血耗之人日服六味四物，不得陽生之力，則陰無由而長也，
或問六部皆屬肺經，皆生胃氣，以推藏府之病，敬聞命矣，而靈樞十二經，
獨以人迎寸口言者，何也曰：此辨別藏府諸經之盛衰，及外內諸邪之綱主也，
夫寸口即是氣口，又謂脈口，以配人迎，昔人所謂關前一分，人命之主，即此脈也，
復問其後諸經之脈，又以三倍再倍一倍言者，此又何耶曰：三陰三陽之謂也，
逆其旨，則手足太陰，謂之三陰，故盛者寸口大三倍於人迎手足少陰，謂之二陰，
故盛者寸口大再倍於人迎，手足厥陰，謂之一陰，故盛者寸口大一倍於人迎，
在陽經則不然，其手足陽明，謂之二陽，以二經所主津液最盛，故盛者人迎大三倍，
手足太陽謂之三陽，以二經所主津液差少，故盛者人迎祇大再倍，
手足少陽謂之一陽，以二經所主津液最少，
故盛者人迎僅大一倍也或言人迎主表氣口主裏，此言人迎主府，氣口主藏者何也，
蓋人迎主表，氣口主裏是主邪氣而言，人迎盛堅者傷于寒，氣口盛堅者傷于食也，
此言人迎主府，氣口主藏，是指經氣而言，原未嘗指府藏也，
以人迎主在津液津血灌注六府，而偏麗于左氣口主在神氣，
神氣鍾于五藏而偏麗于右，此陰陽血氣流行之道，以上下言之，則寸為陽，
尺為陰以左右言之，則人迎為陽，氣口為陰須知人之血氣，與流水無異，水性東行，
若得風湧，即隨之而逝，不可拘于南北也，人身經脈營運亦然，雖血喜歸肝，
氣喜行脾，而有左右之屬，若得其火即隨之而上炎，得其風，則隨之而外擾，
變幻之機，無所不至，豈復拘于部分哉。</p>
<h3>脈象</h3>
<p>或問人身脈位，既無一定之法，但以指下幾微之象，推原藏府諸病，益切茫無畔岸，
願得顯示至教，開我迷雲，答曰：汝等今日各從何來，或言某從西南平陸而來，
或言某由西北渡水而來，或言某于東南仄徑遇師于不期之中，因諭之曰：
良由汝等識吾居處，得吾形神，故不拘所從，皆可邂逅，否則覿面錯過矣，
故欲識五藏諸病，須明五藏脈形，假如肝得乙木春升之令而生，其脈若草木初生，
指下軟若招招，故謂之弦，然必和滑而緩，是為胃氣，為肝之平脈，若弦寔而滑，
如循長竿，弦多胃少之脈也，若弦而急強，按之益勁，但弦無胃氣也，加以發熱，
指下洪盛，則木槁火炎而自焚矣，所謂火生於木，焚木者原不出乎火也，
若微弦而浮，或略帶數，又為甲木之象矣，若弦脈見于人迎，肝氣自旺也，
設反見于氣口，又為土敗木賊之兆，或左關雖弦，而指下小弱不振，
是土衰木萎之象，法當培土榮木，設投伐肝之劑，則脾土愈困矣，若弦見于一二部，
或一手偏弦，猶為可治，若六脈皆弦，而少神氣，為邪氣混一不分之兆，靈樞有云：
人迎與寸口氣大小等者，病難已，氣者，脈氣也，凡脈得純藏之氣，
左右六部皆然者，俱不治也，或肝病症劇，六部絕無弦脈，是脈不應病，亦不可治，
舉此以為諸脈之例，不獨肝藏為然也，心屬丙丁而應乎夏，其脈若火之燃薪，
指下累累微曲而濡，故謂之鈎，然必虛滑流利，是為胃氣，為心之平脈，
若喘喘連屬，其中微曲，鈎多胃少之脈也，若瞥瞥虛大，前曲後居，
但鈎無胃氣也，若虛大浮洪，或微帶數，又為丙火之象，故鈎脈見於左寸，
包絡之火自旺也，或并見於右寸，火乘金位之兆，設關之外微曲，
又為中宮有物阻礙之兆也，脾為已土而應於四季，雖稟中央濕土，
常兼四氣之化而生長萬物，故其脈最和緩，指下紆徐而不疾不遲，故謂之緩，
然於和緩之中，又當求其軟滑，是謂胃氣，為脾之平脈，若緩弱無力，
指下如循爛綿，緩多胃少之脈也，若緩而不能自還，
代陰無胃氣也若脈雖徐緩而按之盈實，是胃中宿滯蘊熱，若緩而濇滯，指下模糊，
按之不前，胃中寒食固結，氣道阻塞之故耳，若緩而加之以浮，
又為風棄戊土之象矣，設或諸部皆緩，而關部獨盛，中宮濕熱也，諸部皆緩，
寸口獨滑，鬲上有痰氣也，諸部皆緩，兩尺獨顯弦狀，豈非肝腎虛寒，
不能生土之候乎，肺本辛金，而應秋氣，雖主收斂，而合於皮毛，是以不能沈實，
但得浮弱之象於皮毛間，指下輕虛，而重按不散，故謂之毛，然必浮弱而滑，
是為胃氣，為肺之平脈，若但浮不滑，指下濇濇然如循雞羽，毛多胃少之脈也，
昔人以浮濇而短，為肺藏平脈，意謂多氣少血，脈不能滑，不知獨受營氣之先，
營行脈中之第一關隘，若肺不傷燥，必無短濇之理，即感秋燥之氣，亦肺病耳，
非肺氣之本燥也，若浮而無力，按之如風吹毛但毛無胃氣也，加以關尺細數，
喘嗽失血，陰虛陽擾，雖神丹不能復圖也，若毛而微濇，又為庚金氣予不足之象矣，
若諸部皆毛，寸口獨不毛者，陽虛陰濁用事，兼挾痰氣於上也，諸部不毛，
氣口獨毛者，胃虛不能納食，及為泄瀉之徵也，腎主癸水而應乎冬，脈得收藏之令，
而見於筋骨之間，按之沈實，而舉指流利，謂之曰石，然必沈濡而滑，是為胃氣，
乃腎之平脈，若指下形如引葛，按之益堅石多胃少之脈也，若弦細而勁，如循刀刃，
按之搏指，但石無胃氣也，若按之雖石，舉之浮緊，又為太陽壬水受邪之象矣，
若諸脈不石，左寸獨石者，水氣凌心之象，右關獨石者，沈寒傷胃之象也，
可知五脈之中，必得緩滑之象，乃為胃氣，方為平脈，則胃氣之驗，
不獨在於右關也，況內經所言，四時之脈，亦不出乎弦鈎毛石，是知五藏之氣，
不出五行，四時之氣，亦不出於五行，故其論脈，總不出五行之外也，
但當察其五脈之中，必得緩和之氣，即是病脈，或反見他藏之脈，是本藏氣衰，
他藏之氣棄之也，每見醫守六部之繩墨，以求藏府之虛寔者，是欲候其人，
不識聲形笑貌，但認其居處之地也，若得其聲形笑貌，雖遇之於殊方逆旅，
暗室隔垣，未嘗錯認以為他人也，猶之此經之脈，見于他部，
未嘗錯認以為他經之病也，至於臨病察脈，全在活法推求，如診富貴人之脈，
與貧賤者之脈，迥乎不侔，貴顯之脈，常清虛流利，富厚之脈，常和滑有神，
賤者之脈，常濁壅多滯貧者之脈，常蹇濇少神，加以勞勩則粗硬倍常，
至若先富貴而後貧賤，則營衛枯槁，血氣不調，脈必不能流利和滑，久按索然，
且富貴之症治，與貧賤之症治，亦截然兩途，富貴之人，恆勞心腎，精血內戕，
病脈多虛，總有表裏客邪，不勝大汗之下，全以顧慮元氣為主，略兼和營調胃足矣，
一切苦寒傷氣，皆在切禁，貪賤之人，藜藿充腸風霜切體，內外未嘗溫養，
筋骸素慣疲勞，藏府經脈，一皆堅固，即有病苦憂勞，不能便傷神志，
一以攻發為主，若參芪桂附等藥，咸非是輩所宜，惟先貴後賤，
先富後貧之人，素享豐腴，不安粗糲，病則中氣先鬱，非但藥之難應，
參芪或不能支，反憎鬱抑之患，在所必至，非特富貴之脈症，與貧賤縣殊，
即形體之肥瘠，亦是不同，肥盛之人，肌肉豐厚，胃氣沈潜，縱受風寒，
未得即見表脈，但須辨其聲音涕唾，便知有何客邪，設鼻塞聲重，涕唾稠黏，
風寒所傷也，若雖鼻塞聲重，而屢欬痰不即應，極力略之，乃得一線粘痰，
甚則咽㗁腫脹者，乃風熱也，此是肥人外感第一關鍵，以肥人肌氣充盛，
風邪急切難入，因其內多痰濕，故傷熱最易，惟是酒客濕熱，漸漬於肉理，
風邪易傷者有之，否則形盛氣虛，色白肉鬆，肌腠不實之故，不可以此膠執也，
瘦人肌肉淺薄，胃氣外泄，即發熱頭痛，脈來浮數，多屬於火，但以頭之時痛時止，
熱之忽輕忽重，又為陰虛火擾之候也，惟發熱頭痛，無問晝夜，不分輕重，
人迎浮盛者，方是外感之病，亦有表邪兼挾內火者，雖發熱頭痛，不分晝夜輕重，
而煩渴躁擾，臥寐不寧，皆邪火爍陰之候，雖宜辛涼發散，又當顧慮其陰，
獨形瘦氣虛，顏白脣鮮，衛氣不固者，最易傷風，卻無內火之患矣，矧吾江南之人，
元氣最薄，脈多不實，且偏屬東方，木火最盛，治之稍過，不無熱去寒起之慮，
而高梁之人，豢養柔脆，調適尤難，故善治大江以南病者，
不難徧行宇內也，但要識其所稟之剛柔，情性之緩急耳，西北之人，
慣拒風寒，素食煤火，外內堅固，所以脈多沈實，一切表裏諸邪，不傷則已，
傷之必重，非大汗大下，重用峻劑，不能克應，滇粵之人，恒受瘴熱，慣食檳榔，
表裏疎豁，所以脈多微數，按之少實，縱有風寒，衹宜清解，不得輕用發散，
以表藥性皆上升橫散，觸動瘴氣，發熱漫無止期，不至津枯血竭不已也，經云：
西北之氣散而寒之，東南之氣，收而溫之，所謂同病異治也，是以他方之人，
必問方隅水土，傍觀者以為應酬套語，曷知其為察脈審症，用藥之大綱，
故操司命之權者務宜外息諸緣，內心無喘，向生死機關下個竿頭進步工夫，
自然不落時人圈繢，當知醫門學問，原無深奧難明處但得悉其要領，活法推求，
便可一肩擔荷，又何必搜羅百氏，博覽群書，開鑿尋文解義之端，愈滋多岐之惑哉。</p>
<h3>經絡</h3>
<p>或問奇經諸脈，何以異於十二經，而以奇字目之，答曰：夫十二經者經脈之常度也，
其源各從藏府而發，雖有稜別，其實一氣貫通，曾無間斷，其經皆直行上下，
故謂之經十五絡者，經脈之聯屬也，其端各從經脈而發頭緒散漫不一，
非如經脈之如環無端也，以其斜行左右遂名曰絡，
奇經為諸經之別貫經經自為起止各司前後上下之陰陽血氣，不主一藏一府，
隨邪氣之滿溢而為病，故脈之發現諸部皆乖戾不和是古聖以奇宇稱之，
非若經氣之當升，絡氣之常降也，所以者何，蓋緣經起中焦，恒隨營氣下行極而上，
故其診在寸絡起下焦恆附營氣上行極而下故，其診在尺雖經有明諭，
而世罕究其旨者，通評虛寔論云：經絡皆寔，寸脈急而尺緩言經中所受之邪，
既隨經而盛於上，絡氣雖實，當無下陷之邪，則尺部不為之熱滿矣，次云絡氣不足，
經氣有餘，脈口熱滿尺，部寒濇，有餘則熱滿，是指邪氣而言，非經氣之充寔也，
不足則寒濇，絡氣本虛之驗也，又云經虛絡滿者，尺部熱滿脈口寒濇，
絡滿亦指邪氣，以經中之邪陷于絡，故尺部為之熱滿也，按金匱云極寒傷經，
極熱傷絡，蓋經受寒邪而發熱，絡受熱邪而傳次，溢入於奇經矣，然經絡之脈，
雖各有疆界，各有司屬，各有交會，而實混然一區，全在大氣鼓運，營血灌注，
方無偏勝竭絕之虞，經云：氣主煦之，血主濡之，又言邪在氣，氣為是動邪在血，
血為所生病，是以十二經脈，各以分隸氣血之所屬也，其經絡二字，
方書中靡不並舉，曷知絡脈皆不離本經之部分雖十二經外，
別有陰絡陽絡脾之大絡三種，而為病亦不殊本經之血氣也，蓋絡脈之病，
雖略亞於本經，然邪伏幽隱，氣難升散，不似經脈之循經上下，易于開發也，
而奇經又為十二經之約束，若藏氣安和，經脈調暢八脈之形，無從而見也，
即經絡受邪，不至滿溢，與奇經亦無預也，惟是經絡之邪，熱滿，勢必溢入於奇經，
所以越人有溝渠滿溢，諸經不能復拘之喻，試推傷寒之邪，皆從陽維而傳次三陽，
從陰維而傳次三陰，未嘗循十二經次第也，或有藏氣內結，
邪氣外溢竟從奇經受病者有之，復問八脈之形象與病苦，可得聞乎答曰：
在經有之吾嘗考諸經中，言衝脈直上直下而中央牢，病苦逆氣裏急，
督脈直上直下而中央浮，病苦脊強不得俛仰，任脈橫寸口，
邊丸丸緊細而長病苦少腹切痛，男子內結七疝，女子帶下瘕聚，
陽維尺外斜上至寸而浮，病苦寒熱，溶溶不能自收持，
陰維尺內斜上至寸而沈病苦心痛，悵然失志陽蹻寸口左右彈，浮而細綿綿，
病苦陰緩而陽急，陰蹻尺內左右彈，沈而細綿綿，病若陽緩而陰急，
帶脈中部左右彈而橫滑，病苦腹痛，腰溶溶若坐水中，內經所言奇經之脈象如是，
凡遇五癎七疝，項痙背強，發歇不時，外內無定之症剛勁不倫，
殊異尋常之脈便於奇經中求之，或問奇經之奇字，昔人咸奇偶之奇為訓未知孰是，
因語之曰讀書須要自立主見，切必浮澼澼地隨人腳跟設泥昔人奇偶之說，
不當有陰陽維蹻之配偶也，坐客皆舉手稱善，請著玉版，以為奇恆之別鑒。</p>
<h3>師傳（三十二則）</h3>
<p>或問診切之法，何者為宗，答曰診切之法心空為宗，得其旨言下可了，
不得其旨雖徧讀五車轉增障礙，衹如日月，豈不淨耶，
而盲者不見，是盲之過非日月咎，客云：若爾則古人歷陳某脈某病鑿鑿諸例，
將有適於用乎，無適於用乎，答曰：大似向泥人祈禱有時靈應有時不靈應，客云：
法法紕繆，安得滌除玄覽參五色之診乎，答曰：除卻胸中落索，
空空地向已靈上究去，了得浮脈之義，便了得沈脈之義，觸類旁通，
諸脈皆了無餘蘊矣，夫脈學者，大醫王之心印非大智慧大辨才難以語此，
吾嘗疾首生民，不聞炎黃之垂誨，永違仲景之至言，逮後唐進士千金方，
直接長沙一脈，又以立法險峻，不易躋攀，乃致造詣日卑，風斯日下，
今我不惜廣長，開陳聖教，為眾生運無盡燈，譬之一燈然百千燈，冥者皆明，
明終無盡，無不沒宿昔先師垂誨，吾當逐一為汝陳之。</p>
<p>浮脈者，下指即顯浮象，按之稍減而不空，舉之泛泛而流利，不似虛脈之按之不振，
芤脈之尋之中空，濡脈之綿軟無力也，浮為經絡肌表之應，良由邪襲三陽經中，
鼓搏脈氣於外，所以應指浮滿，在暴病得之，皆為合脈，然必人迎浮盛，乃為確候，
若氣口反盛，又為痰氣逆滿之徵，否則其人平素右手偏旺之故，有始病不浮，
病久而脈反浮者，此中氣虧乏，不能內守，反見虛痞之兆，若浮而按之漸衰，
不能無假象發見之虞，傷寒以尺寸俱浮為太陽受病，故凡浮脈主病，皆屬于表，
但須指下有力，即屬有餘客邪，其太陽本經風寒營衛之辨，全以浮緩浮緊，
分別而為處治，其有寸關俱浮，尺中遲弱者，南陽謂之陽浮陰弱，營氣不足，
血少之故，見太陽一經，咸以浮為本脈，一部不逮，虛實懸殊，亦有六脈浮遲，
而表熱裏寒，下利清穀者，雖始病有熱，可驗太陽，其治與少陰之虛陽發露不異，
又有下後仍浮，或兼促兼弦兼緊兼數之類，總由表邪未盡，乃有結胸咽痛，
脇急頭疼之變端，詳結胸藏結及痞之症，皆為下早表邪內陷所致，
究其脈雖變異，必有一部見浮，死生虛寔之機，在關上沈細緊小之甚與不甚耳，
惟陽明府熱攻脾，脈雖浮大，心下反鞭者，急需下之，所謂從症不從脈也，
其在三陰，都無浮脈，惟陰盡復陽，厥愈足溫而脈浮者，皆為愈症，
故太陰例有手足溫，身體重而脈浮者，少陰例有陽微脈浮者，厥陰例有脈浮為欲愈，
不浮為未愈者，須知陽病浮遲兼見裏症，合從陰治，陰病脈浮，症顯陽回，
合從陽治，幾微消息，當不越于聖度也，近世陶尚文浮中沈三法，舉世共推，
雖卓立已見，究其所云，不論脈之浮沈遲數，但以按之無力，重按全無者，
便是陰症，曷知按之無力者，乃虛散之脈，與浮何預哉，逮夫雜症之脈浮者，
皆為風象，如類中風痱之脈浮，喘咳痞滿之脈浮，煩暝衂血之脈浮，
風水皮水之脈浮，泄瀉膿血之脈浮，如上種種，或與症相符，或與症乖互，
咸可治療，雖內經有腸澼下白沫，脈沈則生脈浮則死之例，然風木乘脾之症，
初起多有浮脈，可用升散而愈者，當知陰病見陽脈者生，
非若沈細虛微之反見狂妄躁渴，難於圖治也。</p>
<p>沈脈者，輕取不應，重按乃得，舉指減小，更按益力，縱之不即應指，
不似實脈之舉指逼逼，伏脈之匿於筋下也，沈為藏府筋骨之應，蓋緣陽氣式微，
不能統運營氣于表，脈顯陰象而沈者，則按久愈微，若陽氣鬱伏，
不能浮應衛氣于外，脈反伏匿而沈者，則按久不衰，陰陽寒熱之機，在乎纖微之辨，
傷寒以尺寸俱沈為少陰受病，故于沈脈之中，辨別陰陽，為第一關捩，
若始病不發熱，無頭痛，而手足厥冷脈沈者，此直中陰經之寒症也，
若先曾發熱頭痛，心緒不寧，至五七日後，而變手足厥冷，
躁不得寐而脈沈者此厥深熱深，陽邪陷陰之熱症也，亦有始本陽邪，因汗下太過，
而脈變沈遲，此熱去寒起之虛症也，有太陽症下早，胸膈痞鞭而關上小細沈緊者，
此表邪內陷，陽分之結胸也，若能食自利，乃陽邪下陷，陰分之藏結矣，
有少陰病自利清水，口乾腹脹不大便而脈沈者，此熱邪陷于少陰也，有少陰病，
始得之，反發熱脈沈者，麻黃附子細辛湯溫之，是少陰而兼太陽，即所謂之兩感也，
此與病發熱頭痛，脈反沈，身體痛，當溫之宜四逆湯之法，似是而是寔不同也，
有寸關俱浮，而尺中沈遲者，此陽症夾陰之脈也，若沈而實大數盛，動滑有力，
皆為陽邪內伏沈而遲細微弱，弦濇少力皆屬陰寒無疑，有冬時伏邪，發于春夏，
煩熱躁渴，而反脈沈足冷，此少陰無氣，毒邪不能發出陽分，下虛死症也，
凡傷寒溫熱時疫感冒得汗後脈沈，皆為愈証非陽病陰脈之比，有內外有熱，
而脈沈伏，不數不洪，指下濇小急疾無論傷寒雜病，發於何時皆為伏熱，
不可以其脈之沈伏，而誤認陰寒也，至如腸澼自利而脈沈，
寒疝積瘕而脈沈歷節痛痹而脈沈，伏痰留飲而脈沈，胸腹結痛而脈沈，
霍亂嘔吐而脈沈，鬱結氣滯而脈沈咸為應病之脈，若反浮大虛濇，
或雖沈而弦細堅疾，為胃氣告匱，未可輕許以治也，遲脈者，呼吸定息，
不及四至而舉按皆遲，不似濇脈之參伍不調，緩脈之去來徐緩也，遲為陽氣不顯，
營氣自和之象，故昔人皆以隸之虛寒，而人迎主寒濕外襲，氣口主積冷內滯，
又以浮遲為表寒，沈遲為裏寒，遲濇為血病，遲滑為氣病，此論固是，
然多有熱邪內結，寒氣外鬱，而見氣口遲滑作脹者，詎可以脈遲概為之寒，
而不究其滑濇之象，虛實之異哉，詳仲景有陽明病脈遲，微惡寒而汗出多者，
為表未解，脈遲頭弦腹滿者不可下，有陽明病脈遲有力，汗出不惡寒，身重喘滿，
潮熱便鞭，手足濈然汗出者，為外欲解，可攻其裏，又太陽病脈浮，因誤下而變遲，
膈內拒痛者為結胸，若此皆熱邪內結之明驗也，當知遲脈雖現表證，亦屬藏氣不充，
不能統攝百骸，所以邪氣留連不解，即有腹滿而頭弦脈遲，陽分之患未除，
禁不可下，直待裏證悉具，然後下之，聖法昭然，豈不詳審慎重乎，遲為陽氣失職，
胸中大氣不能敷布之候，詳遲為在藏一語，可不顧慮藏氣之病乎。</p>
<p>數脈者，呼吸定息，六至以上，而應指急數，不似滑脈之往來流利，
動脈之厥厥動搖，疾脈之過於急疾也，數為陽盛陰虧，熱邪流傳於經絡之象，
所以脈道數盛，火性善動而躁急，故傷寒以煩躁脈數者為傳，脈靜者為不傳，
有火無火之分也，即經盡欲解，而脈浮數，按之不芤，其人不虛，不戰汗出而解，
則知數而按之芤者，皆為虛矣，又陽明例云：病人脈數，數為熱，當消穀引食，
而反吐者，以發汗令陽氣微，膈內虛，脈乃數也，數為客熱，不能消穀，
胃中虛冷故吐也，又胃反而寸口脈微數者，為胸中冷，又脈陽緊陰數為欲吐，
陽浮陰數亦吐，胃反脈數，中氣大虛，而見假數之象也，人見脈數，悉以為熱，
不知亦有胃虛及陰盛拒陽者，若數而浮大，按之無力，寸口脈細者，虛也，經曰：
脈至而從，按之不鼓，諸陽皆然，病熱而脈數，按之不鼓甚者，
乃陰盛拒陽於外而致病，非熱也，形症似寒，按之鼓擊於指下者，
乃陽盛拒陰而生病，非寒也，丹溪云：脈數盛大，按之而濇，外有熱症者，
名曰中（平聲）寒，蓋寒留血脈，外症熱而脈亦數也，凡乍病脈數，
而按之緩者為邪退，久病脈數為陰虛之象，瘦人多火其陰本虛若形充色澤之人脈數，
皆痰濕鬱滯經絡不暢而蘊熱，其可貴之於陰乎若無故脈數，
必生癰疽如數寔而吐臭痰者為肺癰，數虛而欬涎沫者為肺痿又歷考數脈諸例，
有云數則煩心者有云滑數心下結熱者皆包絡火旺而棄君主之位也，有云細數陰虛者，
水不制火，真陰虧損也有云數為在府者，陽邪干陽藏氣無預也，
有云數則為寒者少火氣衰壯火食氣也，大抵虛勞失血，喘嗽上氣多有數脈，
但以數大耎弱者為陽虛，細小弦數者為陰虛，
非若傷寒衂血之脈浮大為邪伏於經，合用發汗之比，諸凡失血，
脈見細小微數無力者為順，脈數有熱，及寔大弦勁急者為逆，
若乍疎乍數無問何病，皆不治也。</p>
<p>滑脈者，舉之浮緊按之滑石不似寔脈之逼逼應指緊脈之往來勁急，動脈之見于一部，
疾脈之過於急疾也，仲景云：翕奄沈，名曰滑滑者緊之浮名也言忽沈忽浮，
形容流利之狀，無以過之，滑為多血少氣之脈，而昔人又以滑大無力，
為內傷元氣曷知滑脈，雖有浮沈之分，卻無無力之象，蓋血由氣生，若果氣虛，
則鼓動之力先微，脈何由而滑耶，惟是氣虛不能統攝陰火而血熱脈滑者有之，
嘗攷諸內經有脈滑曰病風，緩而滑曰熱中脈浮而滑曰新病，脈盛滑堅者曰病在外，
脈弱以滑，是為胃氣，滑者陰氣有餘也，則知滑脈之病，無虛寒之理，
他如傷寒溫熱時行等病，總以浮滑而濡者為可治，故先師論脈，
首言大浮數動滑為陽，而雜病以人迎浮滑為風痰，緩滑為中風，氣口緩滑為熱中，
滑數為宿食，尺中弦滑為下焦畜血，又嘔吐而寸口遲滑，為胸中寔，
下利而關上遲滑，為下未盡，厥逆而脈滑，為裏有寔，詳此則滑脈之病，
可不言而喻，即經有滑者陰氣有餘一語，是指陰邪搏陽而言，豈以陰氣有餘，
多汗身寒之病，便可目為血多，又以滑天之脈，牽合無力，而為內傷元氣乎，
平人肢體豐盛，而按之綿耎，六脈耎滑，此痰濕漸漬於中外，終日勞役，不知倦怠，
若安息則重著痠疼矣，夫脈之滑而不甚有力者，皆浮滑緩滑濡滑微滑之類，
終非無力之比，滑為血寔氣壅之脈，悉屬有餘，婦人身有病而脈和滑者為孕，
臨產派滑疾者曰離經，若滑而急強，擘擘如彈石，謂之腎絕，滑不直手，
按之不可得，為大腸氣予不足，以其絕無和緩胃氣，故經予之短期。</p>
<p>濇脈者，指下濇滯不前，內經謂之參伍不調，叔和喻以輕刀刮竹，
通真子比之如雨沾沙，長沙又以瀉漆之絕，比擬雖殊，其義則一，
不似遲脈之指下遲緩，緩脈之脈象紆徐濡脈之來去綿耎也，良由津血虧少，
不能濡潤經絡，所以濇濇不調，故經有脈濇曰痹，寸口諸濇亡血，濇則心痛，
尺熱脈濇為懈㑊，種種皆陰血消亡，陽氣有餘，而為身熱無汗之病，
亦有痰食膠固中外，脈道阻滯，而見濇數模糊者，陰受水穀之害也，金匱云：
寸口脈浮大，按之反濇，尺中亦微而濇，知有宿食，有發熱頭痛，而見浮濇數盛者，
陽中霧露之氣也，霧傷皮腠，濕流關節，總皆脈濇，但兼浮數沈細之不同也，
有傷寒陽明府寔，不大便而脈濇，溫病大熱而脈濇，吐下微喘而脈濇，
水腫腹大而脈濇，消癉大渴而脈濇，痰症喘滿而脈濇，病在外而脈濇，
婦人懷孕而脈濇，皆症脈相反之候，間有因胎病而脈濇者，然在二三月時有之，
若四月胎息成形之後，必無虛濇之理，平人無故脈濇，為貧窘之兆，
尺中蹇濇則艱於嗣，金匱云：男子脈浮弱而濇則無子，精氣清冷，
其有脈塞而鼓如省客，左右旁至如交漆，按之不得如頹土，皆乖戾不和，
殊異尋常之脈，故素問列之大奇。</p>
<p>虛脈者，指下虛大而耎，如循雞羽之狀，中取重按，皆弱而少力，久按仍不乏根，
不似芤脈之豁然中空，按久漸出，濇脈之耎弱無力，舉指即來散脈之散漫無根，
重按久按絕不可得也，虛為營血不調之候叔和以遲大而耎為虛，每見氣虛喘乏，
往往有虛大而數者，且言血虛脈虛，獨不詳仲景脈虛身熱，得之傷暑，
東垣以氣口脈大而虛者，為內傷於氣，若虛大而時顯一濇，為內傷於血，
凡血虛之病，非顯濇弱，則弦細芤遲，如傷暑脈虛為氣虛，弦細芤遲為血虛，
虛勞脈極虛芤遲，或尺中微細小者，為亡血失精，男子平人脈虛弱微細者，
善盜汗出，則氣血之分了然矣，慎齊有云：脈洪大而虛者防作瀉，
可知虛脈多脾家氣分之病，大則氣虛不斂之故，經云：脈氣上虛尺虛，是謂重虛，
病在中脈虛難治，仲景有脈虛者不可吐，腹滿脈虛復厥者不可下，脈陰陽俱虛，
熱不止者死，可見病寔脈虛，皆不易治，蓋虛即是毛，毛為肺之平脈，若極虛而微，
如風吹毛之狀，極虛而數，瞥瞥如羹上肥者，皆為肺絕之兆也，
為癲疾之脈虛為可治者，以其神出舍空，可行峻補，若實大為頑痰固結，搜滌不應，
所以為難耳。</p>
<p>實脈者，重濁滑盛，相應如參舂而按之石堅，不似緊脈之迸急不和，
滑脈之往來流利，洪脈之來盛去衰也，實為中外壅滿之象，經云邪氣盛則實，
非正氣本充之謂，即此一語，可為實脈之總歸，夫脈既實矣，諒虛症之必無也，
症既實矣，諒假象之必無也但以熱邪亢極而暴絕者有之，其為病也，
實在表則頭痛身熱，實在裏則䐜脹腹滿，大而實者，熱由中發細而實者，
積自內生在傷寒陽明病，不大便而脈實則宜下，下後脈實大，或暴微欲絕，
熱不止者死，厥病，下利脈實者，下之死，病脈之逆，從可見矣，蓋實即是石，
石為腎之平脈若石堅太過，劈劈如彈石狀，為腎絕之兆矣，其消癉鼓脹堅積等病，
皆以脈實為可治，若泄而脫血，及新產驟虛，久病虛羸，而得實大之脈，
良不易治也。</p>
<p>弦脈者，端直以長，舉之應指，按之不移不似緊脈之狀如轉索，革脈之勁如弓弦也，
弦為風木主令之脈故凡病脈弦，皆陽中伏陰之象，虛症誤用寒涼，兩尺脈必變弦，
胃虛冷食停滯，氣口多見弦脈，傷寒以尺寸俱弦，為少陽受病少陽為樞，
為陰陽之交界，如弦而兼浮兼細，為少陽之本脈，弦而兼數兼緩，
即有入府傳陰之兩途若弦而兼之以沈濇微弱，得不謂之陰乎經言寸口脈弦者，
脇下拘急而痛，令人嗇嗇惡寒，又傷寒脈弦細，頭痛發熱者屬少陽，
此陽弦頭痛也，痛必見於太陽，陽脈濇，陰脈弦，法當腹中急痛，此陰弦腹痛也，
痛必見於少腹，皆少陽部分耳，少陰病欲吐不吐，始得之，手足寒脈弦遲者，
此胸中寔當吐之，若膈上有寒飲乾嘔者，不可吐，急溫之，詳此，
又不當以兼沈兼濇，概謂之陰，弦遲為胸中實也，審症合脈，
活法在人貴在心手之靈活耳，歷診諸病之脈，屬邪盛而見弦者，十常二三，
屬正虛而見弦者，十常六七其於他脈之中，兼見弦象者，亦復不少，
在傷寒表邪全盛之時，中有一部見弦，或兼遲兼濇，便是夾陰之候，客邪雖盛，
急需溫散，汗下猛劑咸非所宜即非時感冒，亦宜體，此至于素有動氣怔仲，
寒疝腳氣，種種宿病，而挾外感之邪，於浮緊數大之中委曲搜求，弦象必隱于內，
多有表邪脈緊于緊脈之中，按之漸漸減小縱之不甚鼓指，便當弦脈例治於浮脈之中，
按之斂直滑脈之中，按之搏指，並當弦脈類看，于沈脈之中，按之引引濇脈之中，
按之切切，皆陰邪內伏陽氣消沈，不能調和百脈，而顯弦直之狀，
良非客邪緊盛之兆，迨夫傷寒壞病，弦脈居多，
虛勞內傷弦常過半所以南陽為六殘賊之首推也，他如病瘧寒飲一切雜症，皆有弦脈，
按金匱云：瘧脈自弦，弦數多熱弦遲多寒，
弦小堅者下之差弦遲者可溫之弦緊者可發汗針灸也，浮大者可吐之，弦數者風發也，
以飲食消息主之飲脈皆弦雙弦者寒也，偏弦者飲也，弦數者有寒飲，
沈弦者懸飲內痛，他如腹痛鼓脹，胃反胸痹，癥瘕畜血，中暍傷風霍亂滯下，
中氣鬱結，寒熱痞滿等病，種種皆有弦脈，總由中氣少權，土敗木賊所致，
但以弦少弦多，以證胃氣之強弱，弦寔弦虛，以證邪氣之虛實浮弦沈弦，
以證表裏之陰陽，寸弦尺弦，以證病氣之升沈，無論所患何症，
兼見何脈但以和緩有神不乏胃氣咸為可治，若弦而勁細，如循刀刃，弦而強直，
如新張弓弦，如循長竿，如按橫格，皆但弦無胃氣也，
所以虛勞之脈多寸口數大尺中弦細搏指者，皆為損脈，盧扁復生奚益哉。</p>
<p>緩脈者，
從容和緩不疾不徐似遲而實未為遲不似濡脈之指下綿耎虛脈之瞥瞥虛大微脈之微細而
濡，弱脈之細軟無力也，仲景云：陽脈浮大而濡陰脈浮大而濡，陰脈與陽脈同等者，
名曰緩也，傷寒以尺寸俱微緩者，為厥陰受病，厥陰為陰盡復陽之界，
故凡病後得之咸為相宜，其太陽病發熱頭痛自汗脈浮緩者，
為風傷衛症以其自汗體疎，自不能緊盛也，緩為脾家之本脈然必和緩有神，
為脾氣之充，若緩甚而弱，為脾氣不足，緩而滑利，則胃氣沖和，
昔人以浮緩為傷風，沈緩為寒濕緩大為風虛，緩細為痹濕，又以浮緩為風中於陽，
沈緩為濕中於陰，蓋濕脈自緩，得風以播之，則兼浮緩，
寒以束之則兼沈緩苦中於陰，則沈細微緩，以厥陰內藏風木之氣，
故脈雖沈而有微緩之象也。</p>
<p>洪脈者，既大且數，指下纍纍如連珠，如循琅玕而按之稍緩，不似實脈之舉按逼逼，
滑脈之耎滑流利，大脈之大而且長也，昔人以洪為夏脈，
內經以鈎為夏脈遂有鈎即是洪之說，以其數大而濡，按之指下委曲旁出，
固可謂之曰鈎，火性虛炎，所以來盛去衰按之不實，
然痰食瘀積阻礙脈道，關部常屈曲而出，此與夏脈微鈎，
似同而實不類也，洪為火氣燔灼之候，仲景有服桂枝湯，大汗出大煩渴不解，
脈洪為溫病，溫病乃冬時伏氣所發，發於春者為溫病，發於夏者為熱病，
其邪伏藏于內而發出于表，脈多浮洪而混混不清，每多盛于右手，亦有動滑不常者，
越人所謂行在諸經，不知何經之動也，當此不行內奪，反與解表，
不至熱交營度不已也，若溫熱時行，症顯煩渴昏熱，脈反沈細小弱者，陽病陰脈也，
有陽熱亢極，而足冷尺弱者，為下虛之症，皆不可治，又屢下而熱勢不解，
脈洪不減，謂之壞病，多不可救洪為陽氣滿溢，陰氣垂絕之脈，
故藹藹如車蓋者為陽結，脈浮而洪，身汗如油為肺絕，即雜病脈洪，
皆火氣亢甚之兆，若病後久虛，虛勞失血，泄瀉脫元，而見洪盛之脈，尤非所宜，
惟惛濁下賤，脈多洪實，又不當以實熱論也。</p>
<p>微脈者，似有若無，欲絕非絕，而按之稍有模糊之狀，不似弱脈之小弱分明，
細脈之纖細有力也，微為陽氣衰微之脈，經言寸口諸微亡陽，言諸微者，
則輕取之微，重按之微，氣口之微，尺中之微，皆屬氣虛，故所見諸症，
在上則為惡寒多汗少氣之患，在下則有失精脫瀉少食之虞，總之與血無預，
所以縈縈如踟蛛絲者，仲景謂陽氣之衰，嘗見中風卒倒而脈微，暑風卒倒而脈微，
皆為虛風之象，其脈多兼沈緩，若中寒卒倒而脈微，為陰邪暴逆，所以微細欲絕也，
而傷寒尺寸俱微緩，為厥陰受病，病邪傳至此經，不特正氣之虛，邪亦向衰之際，
是以俱虛，不似少陰之脈微細，但欲寐耳，詳二經之脈，同一微也，而有陰盡復陽，
陽去入陰之異，即太陽經病之脈微，而有發熱惡寒，熱多寒少，脈微為無陽者，
有面有熱，色邪未欲解而脈微者有陰陽俱停，邪氣不傳，而脈反微者，
若以微為虛象，不行攻發，何以通邪氣之滯耶，必熱除身安而脈微，
方可為欲愈之機，若太陽症具，而見足冷尺微，又為下焦虛寒之驗，可不建其中氣，
而行正發汗之例乎。</p>
<p>緊脈者，狀如轉索，按之雖實而不堅不似弦脈之端直如弦牢革之強直搏指也，
緊為諸寒收引之象亦有熱因寒束，而煩熱拘急疼痛者，如太陽寒傷營症是也，
然必人迎浮緊，乃為表症之確候若氣口緊堅，又為內傷飲食之兆，
金匱所謂脈緊頭痛，風寒腹中有宿食也，仲景又云：曾為人所難，緊脈從何而來，
假令亡汗若吐，以肺裏寒，故令脈緊也，假令欬者坐飲冷水，故令脈緊也，
假令下利，以胃中寒冷故令脈緊也，詳此三下轉語，可謂曲盡緊脈為病之變端，
而少陰經中，又有病人脈陰陽俱緊，反汗出者亡陽也，此屬少陰法當咽痛而復吐利，
是謂緊反入裏之微驗，又少陽病脈緊，至七八月下利脈暴微手足反溫，脈緊反去，
為欲解也，雖煩下利必自愈，此即緊去人安之互詞，辨不可下脈症中，
又有脈來陰陽俱緊惡寒發熱則脈欲厥厥者，脈初來大，漸漸小，更來漸漸大，
是其候也，
此亦緊反入裏之互詞因誤下而陽邪內陷欲出不出有似厥逆進退之象故言欲厥，
脈雖變而緊狀依然，非營衛離散，乍大乍小之比，而脈法中復有寸口脈微，
尺脈緊其人虛損多汗知陰常在，絕不見陽之例，可見緊之所在，皆陽氣不到之處，
故有是象，夫脈按之緊如弦直上下行者痙，若伏堅者為陰痙，總皆經脈拘急，
故有此象，若脈至如轉索，而強急不和，是但緊無胃氣也，豈堪尚引日乎。</p>
<p>弱脈者，沈細而耎按之乃得舉之如無不似微脈之按之欲絕，
濡脈之按之若無細脈之浮沈皆細也，弱為陽氣衰微之候，
夫浮以候陽今浮取如無陽衰之明驗也，故傷寒首言弱為陰脈，
即陽經見之亦屬陽氣之衰，經言，
寸口脈弱而遲虛滿不能食寸口脈弱而緩食卒不下氣填膈上，上二條，，
一屬胃寒一屬脾虛，故皆主乎飲食，又形作傷寒，
其脈不弦緊而弱太陽中暍身熱疼重而脈微弱可見脈弱無陽，必無寔熱之理，
祗宜辨祈真陽之虛，與胃氣之虛，及夏月傷冷水，水行皮中所致耳在陰經見之，
雖為合脈然陽氣衰微已極，非大溫大補，良難春回寒谷也惟血痹虛勞，久嗽失血，
新產及老人久虛，脈宜微弱然必弱而和滑，可卜胃氣之未艾，若少壯暴病而見脈弱，
咸非所宜，即血症虛症，脈弱而兼之以濇為氣血交敗，其能榮灶下之薪乎。</p>
<p>長脈者，指下迢迢而過於本位，三部舉按皆然，不似大脈之舉之盛大，按之少力也，
傷寒以尺寸俱長，為陽明受病，內經又以長則氣治，為胃家之平脈，胃為水穀之海，
其經多氣多血，故顯有餘之象，然必長而和緩，方為無病之脈若長而浮盛，
又為經邪方盛之兆，亦有病邪向愈，而脈長者，仲景云：太陰中風，四肢煩疼，
陽脈微，陰脈濇，而長者為欲愈，蓋風本陽邪，因土虛木棄，
陷于太陰之經而長脈見于微濇之中，疼熱發于諸陽之本，洵為欲愈之徵，
殊非病進之謂，且有陰氣不充，而脈反上盛者，經言寸口脈中手長者，
曰足脛痛是也，此與秦越人遂上魚為溢，遂入尺為覆，及上部有脈下部無脈，
關格吐逆，不得小便，同脈異症，不可與尺寸俱長之脈，比例而推也。</p>
<p>短脈者，尺寸俱短，而不及本位，不似小脈之三部皆小弱不振，
伏脈之一部獨伏匿不前也，經云：短則氣病，良由胃氣阨塞，不能條暢百脈，
或因痰氣食積阻礙氣道所以脈見短濇促結之狀，亦有陽氣不充而脈短者，
經謂寸口脈中手短者，曰頭痛是也，仲景云：汗多重發汗，亡陽讝語，
脈短者死，脈自和者不死，又少陰脈不至，腎氣絕為尸厥，傷寒六七日，大下後，
寸脈沈而遲，手足厥冷，下部脈不至，咽喉不利，唾膿血者難治，戴同父云：
短脈只當責之於尺寸若關中見短，是上不通寸為陽絕，下不通尺為陰絕矣，
曷知關部，從無見短之理，昔人有以六部分隸而言者，殊失短脈之義。</p>
<p>大脈者，應指滿溢，倍於尋常，不似長脈之但長不大，洪脈之既大且數也，
大脈有虛寔陰陽之異，經云：大則病進，是指實大而言，仲景以大則為虛者，
乃盛大少力之謂，然又有下利脈大者為未止，是又以積滯未盡而言，
非大則為虛之謂也，有六脈俱大者，陰不足，陽有餘也，有偏大於左者，
邪盛于經也，偏大於右者，熱盛于內也，亦有諸脈皆小，中有一部獨大者，
諸脈皆大，中有一部獨小者，便以其部斷其病之虛寔，且有素稟六陽，
或一手偏旺偏衰者，又不當以病論也，凡大而數實有力，皆為實熱，
如人迎氣大緊以浮者，其病益甚在外，氣口微大，名曰平人，其脈大堅以濇者脹，
乳子中風熱，喘鳴肩息者，脈實大而緩則生，急則死，乳子，
是指產後以乳哺子而言，非嬰兒也，產後脈宜懸小，最忌實大，今症見喘鳴肩息，
為邪氣暴逆，又須實大而緩，方與症合，若實大急強，為邪勝正衰，去生遠矣，
此與乳子而病熱，脈弦小，手足溫則生，似乎相左，而實互相發明也，傷寒熱病，
讝語煩渴，脈來實大，雖劇可治，得汗後熱不止，脈反實大躁疾者死，
溫病大熱不得汗，脈大數急強者死，細小虛濇者亦死，厥陰病下利脈大者，虛也，
以其強下之也，陰症反大發熱，脈虛大無力，乃脈症之變，內症元氣不足，
發熱脈大而虛，為脈症之常，虛勞脈大，為血氣虛盛，金匱云：男子平人脈大為勞，
氣有餘，便是火也，所以瘦人胸中多氣而脈大，病久氣衰而脈大，
總為陰陽離絕之候，孰謂大屬有餘，而可恣行攻伐哉，若脈見乍大乍小，
為元神無主，隨邪氣之鼓動，可不慎而漫投湯藥耶。</p>
<p>小脈者，三部皆小，而指下顯然，不似微服之微弱依稀，細脈之微細如髮，
弱脈之耎弱不前，短脈之首尾不及也，夫脈之小弱，雖為元氣不足，
若小而按之不衰久按有力，又為實熱固結之象，總由正氣不充，不能鼓搏熱勢於外，
所以隱隱略見滑熱之狀於內也，設小而症見熱邪亢盛，則為症脈相反之兆，
亦有平人六脈皆陰，或一手偏小者，若因病而脈損小，又當隨所見部分而為調適，
機用不可不治也，假令小弱見於人迎，衛氣衰也見於氣口，肺胃弱也，見於寸口，
陽不足也，見於尺內，陰不足也，凡病後脈見小弱，正氣雖虛，邪氣亦退，
故為向愈，設小而兼之以滑實伏匿，得非寔熱內蘊之徵乎，經云：
切其脈口滑小緊而沈者，病益甚在中，又云：溫病大熱，而脈反細小，手足逆者死，
乳子而病熱，脈懸小手足溫則生，寒則死，此條與乳子中風熱互發，言脈雖實大，
不至急強，脈雖懸小，四支不逆，可卜胃氣之未艾，若脈失沖和，陽竭四末，
神丹奚濟非特主產後而言，即妊娠亦不出於是也嬰兒病，赤辮飧泄，脈小手足寒，
難已，脈小手足溫，泄易已，腹痛脈細小而遲者易治，堅大而急者難治，
洞泄食不化，脈微小流連者生，堅急者死，諦觀諸義，則病脈之逆從可默悟矣，
而顯微又言，前大後小，則頭痛目眩，前小後大，則胸滿短氣，
即仲景來微去大之變詞，虛中挾寔之旨，和盤托出矣。</p>
<p>芤脈者，浮大弦耎，按之中空中按雖不應指，細推仍有根氣，縱之卻顯弦大，
按之減小中空，不似虛脈之瞥瞥虛大，按之豁然無力也，芤為血虛不能濡氣，
故虛大如芤，然其中必顯弦象，劉三點以為絕類慈蔥，
殊失弦大而按之減小中空之義，蓋虛則陽氣失職，芤則經絡中空，所以有虛濡無力，
弦大中空之異，仲景云：脈弦而大弦則為減，大則為芤，減則為寒，芤則為虛，
虛寒相搏，此名為革，革則胃氣告匱，而弦強搏指，按之無根，非芤脈中空之比，
按太陽病有脈浮而緊，按之反芤，本虛戰汗而解者，暑病有弦細芤遲血分受傷者，
芤為失血之本脈，經云：脈至如搏，血溫身熱者死，詳如搏二字，
即是弦大而按之則減也，又云：脈來懸鈎浮為常脈，言浮而中空，
按之旁至似乎微曲之狀，雖有瘀積阻滯，而指下柔和，是知尚有胃氣，
故為失血之常脈，若弦強搏指，而血溫身熱，為真陰枯竭，必死何疑，凡血脫脈芤，
而有一部獨弦，或帶結促濇滯者，此為陽氣不到，中挾陰邪之兆，
是即瘀血所結處也，所以芤脈須辨一部兩部，或一手兩手而與攻補，方為合法。</p>
<p>濡脈者，虛耎少力應指虛細如絮浮水面，輕手乍來，重手乍去，
不似虛脈之虛大無力，微脈之微細如絲，弱脈之沈細耎弱也，濡為胃氣不充之象，
故內傷虛勞，泄瀉少食自汗喘乏，精傷痿弱之人，脈雖濡耎乏力，猶堪峻補溫補，
不似陰虛脫血，純見細數弦強，欲求濡弱，絕不可得也，蓋濡脈之浮耎，
與虛脈相類，但虛則浮大，而濡則小弱也，濡脈之細小，與弱脈相類，但弱在沈分，
而濡在浮分也，濡脈之耎弱，與微脈相類，但微則欲絕，而濡則力微也，
濡脈之無力，與散脈相類，但散則從大而按之則無，濡則從小而漸至無力也，
夫從小而漸至無力，氣雖不充，血猶未敗，從大而按之即無，則氣無所統，
血已傷殘，陰陽離散，將何所恃，而可望其生乎，以此言之，則濡之與散，
不啻霄壤矣。</p>
<p>動脈者，厥厥動搖，指下滑數如珠，見於關上，不似滑脈之諸部皆滑數流利也，
動為陰陽相搏之候，陽動則汗出，陰動則發熱，是指人迎氣口而言，
然多有陰虛發熱之脈，動於尺內，陽虛自汗之脈，動於寸口者，所謂虛者則動，
邪之所湊，其氣必虛，金匱有云：脈動而弱，動則為驚，弱則為悸，
因其虛而旺氣棄之，惟傷寒以大浮數動滑為陽，是專主邪熱相搏而言，非虛勞體痛，
便溺崩淋脈動之比，而婦人尺脈動甚，為有子之象，經云：陰搏陽別，謂之有子，
又云：婦人手少陰脈動者，妊子也，以腎藏精，心主血，故二處脈動，皆為有子，
辨之之法，昔人皆以左大順男，右大順女為言，然妊娠之脈，
往往有素稟一手偏大偏小者，莫若以寸動為男，尺動為女，最為有據。</p>
<p>伏脈者，隱于筋下，輕取不得，重按濇難，委曲求之，附著於骨，而有三部皆伏，
一部獨伏之異，不似短脈之尺寸短縮，而中部顯然，沈脈之三部皆沈，
而按之即得也，伏脈之病，最為叵測，長沙有趺陽脈不出，脾不上下，身冷膚鞭，
少陰脈不至，令身不仁，此為尸厥等例，詳伏為陰陽潛伏之候，
有邪伏幽隱而脈伏不出者，雖與短脈之象有別，而氣血濇滯之義則一，故關格吐逆，
不得小便之脈，非偏大倍常，即偏小隱伏，越人所謂上部有脈，下部無脈是也，
凡氣鬱血結久痛，及疝瘕留飲，水氣宿食，霍亂吐利等脈，每多沈伏，皆經脈阻滯，
營衛不通之故，所以妊娠惡阻，常有伏匿之脈，此又脈症之變耳，在傷寒失于表散，
邪氣不得發越，而六脈俱伏者，急宜發汗，而脈自復，劉元賓曰：伏脈不可發汗，
謂其非表脈也，而潔古又言，當以麻黃細辛附子湯發之，臨病適宜，各有權度，
不可執一，若六七日煩擾不寧，邪正交併而脈伏者，又為戰汗之兆，如久旱將雨，
六合陰晦，雨過庶物皆蘇也，不可以伏為陰脈，誤投辛熱，頃刻崑崙飛焰矣。</p>
<p>細脈者，往來如髮，而指下顯然，不似微脈之微弱模糊也，細為陽氣衰弱之候，
傷寒以尺寸俱沈細，為太陰受病，太陰職司敷化之權，今為熱邪所傳，營行之氣，
不能條暢百脈，所以尺寸皆沈細，不獨太陰為然，即少陰之脈，亦多沈細，
故仲景有少陰病，脈沈細數，不可發汗之禁，此皆外陰內陽，非若嚴冬卒中暴寒，
盛夏暑風卒倒，內外皆陰之比，內經細脈諸條，如細則少氣，脈來細而附骨者，
積也，尺寒脈細，謂之後泄，頭痛脈細而緩為中濕，種種皆陰邪之證驗，
所以胃虛少食，冷涎泛逆，便泄腹痛，濕痹腳耎，自汗失精，皆有細脈，
但以兼浮兼沈，在尺在寸，分別而為裁決，如平人脈來細弱，皆憂思過度，
內戕真元所致，若形盛脈細，少氣不足以息，及病熱脈細，神昏不能自持，
皆脈不應病之候，不可以尋常虛細論也。</p>
<p>疾脈者，呼吸之間，脈七八至，雖急疾而不實大，不似洪脈之既大且數，
卻無躁疾之形也，疾脈有陰陽寒熱真假之異，如疾而按之益堅，乃亢陽無制，
真陰垂絕之候，若疾而按之不鼓，又為陰邪暴虐，虛陽發露之徵，嘗攷先輩治按，
有傷寒面赤目赤，煩渴引飲而不能嚥，東垣以薑附人參汗之而愈，又傷寒畜熱內盛，
陽厥極深，脈疾至七八至以上，人皆誤認陰毒，守真以黃連解毒治之而安，
斯皆證治之明驗也，凡溫病大熱躁渴，初時脈小，至五六日後，脈來躁疾，
大顴發赤者死，謂其陰絕也，躁疾皆為火象，內經有云，其有躁者在手，
言手少陰厥陰二經，俱屬於火也，陰毒身如被杖，六脈沈細而疾，灸之不溫者死，
謂其陽絕也，然亦有熱毒入於陰分，而為陰毒者，脈必疾盛有力，不似陰寒之毒，
雖疾而弦細乏力也，虛勞喘促聲嘶，脈來數疾無倫，名曰行尸，金匱謂之厥陽獨行，
此真陰竭於下，孤陽亢於上也，惟疾而不躁，按之稍緩，方為熱症之正脈，
脈法所謂疾而洪大苦煩滿，疾而沈細腹中痛，疾而不大不小，雖困可治，
其有大小者難治也，至若脈至如喘，脈至如數，得之暴厥暴驚者，待其氣復自平，
迨至脈至浮合，浮合如數，一息十至以上，較之六數七疾八極更甚，
得非虛陽外驚之兆乎。</p>
<p>牢脈者，弦大而長，舉之減小，按之實強，如弦縷之狀，不似實脈之滑實流利，
伏脈之匿伏濇難，革脈之按之中空也，叔微云：牢則病氣牢固，在虛症絕無此脈，
惟濕痙拘急，寒疝暴逆，堅積內伏，乃有是脈，歷攷諸方，不出辛熱開結，
甘溫助陽之治，庶有克敵之功，雖然，固壘在前，攻守非細，設更加之以食填中土，
大氣不得流轉，變故在於須臾，可不為之密察乎，若以牢為內實，不問所以，
而妄行迅掃，能無實實虛虛之咎哉，大抵牢為堅積內著，胃氣竭絕，
故諸家以為危殆之象云。</p>
<p>革脈者，弦大而數，浮取強直，重按中空，如鼓皮之狀，不似緊脈之按之劈劈，
弦脈之按之不移，牢脈之按之益堅也，嬰寧生曰：革乃變革之象，雖失常度，
而按之中空，未為真藏，故仲景厥陰例中，有下利腸鳴脈浮革者，主以當歸四逆湯，
得非風行木末，擾動根株之候乎，又云：婦人則半產漏下，男子則亡血失精，
金匱半產漏下，主以旋覆花湯，得非血室傷憊，中有瘀結未盡之治乎，
其男子亡血失精，獨無主治，雲岐補以十全大補，得非極勞傷精，填補其空之謂乎，
是以長沙直以寒虛相搏例之，惟其寒，故柔和之氣失焉，惟其虛，故中空之象見焉，
豈以革浮屬表，不顧腎氣之內憊乎。</p>
<p>促脈者，往來數疾中，忽一止復來，不似結脈之遲緩，中有止歇也，
促為陽邪內陷之象，經云：寸口脈中手上擊者曰肩背痛，觀上擊二字，則脈來搏指，
熱盛于經之義，朗然心目矣，而仲景太陽例，有下之後脈促胸滿者，
有下之利遂不止，而脈促者，有下之脈促不結胸者，有脈促手足厥冷者，上四條，
一為表邪未盡，一為併入陽明，一為邪去欲解，一為傳次厥陰，總以促為陽盛，
裏不服邪之明驗，雖症見厥逆，祗宜用灸以通陽，不宜四逆以回陽，明非虛寒之理，
具見言外，所以溫熱發斑，瘀血發狂，及痰食凝滯，暴怒氣逆，皆令脈促，
設中虛無凝，必無歇止之脈也。</p>
<p>結脈者，指下遲緩中，頻見歇止，而少頃復來，不似代脈之動止不能自還也，
結為陰邪固結之象，越人云：結甚則積甚，結微則氣微，言結而少力，為正氣本衰，
雖有積聚，脈結亦不甚也，而仲景有傷寒汗下不解，脈結代，心動悸者，
有太陽病身黃脈沈結，少腹鞭滿，小便不利，為無血者，一為津衰邪結，
一為熱結膀胱，皆虛中挾邪之候，凡寒飲死血，吐利腹痛，
癲癇虫積等氣鬱不調之病，多有結脈，暴見即宜辛溫扶正，略兼散結開痰，
脈結自退，嘗見二三十至，內有一至，接續不上，每次皆然，而指下虛微，
不似結促之狀，此元氣驟脫之故，峻用溫補自復，如補益不應，終見危殆，
若久病見此，尤非合脈，夫脈之歇止不常，須詳指下有力無力，結之頻與不頻，
若十餘至，或二三十至一歇，而縱指續續，重按頻見，前後至數不齊者，
皆經脈窒礙，陰陽偏阻所致，蓋陽盛則促，陰盛則結，所以仲景皆為病脈。</p>
<p>代脈者，動而中止，不能自還，因而復動，名曰代陰，不似促結之狀雖見歇止，
而復來有力也，代為元氣不續之象，經云：代則氣衰，在病後見之，未為死候，
若氣血驟損，元神不續，或七情太過，或顛仆重傷，或風家痛家脈見止代，
只為病脈，傷寒家有心悸脈代者，腹痛心疼，有結濇止代不勻者，凡有痛之脈止歇，
乃氣血阻滯而然，不可以為準則也，若不因病而脈見止代，是一藏無氣，他藏代之，
真危亡之兆也，即因病脈代，亦須至數不勻者，猶或可坐，若不滿數至一代，
每次皆如數而止，此必難治，經謂五十動，不一代者，以為常也，以知五藏之期，
予之短期者，乍疎乍數也，又云：數動一代者，病在陽之脈也，
此則陽氣竭盡無餘之脈耳，所以或如雀啄，或如屋漏，或如弦絕，皆真代脈，
見之生理絕矣，惟妊娠惡阻，嘔逆最劇者，恒見代脈，穀入既少，氣血盡并於胎息，
是以脈氣不能接續，然在二三月時有之，若至四月，胎已成形，當無歇止之脈矣。</p>
<p>散脈者，舉之浮散，按之則無，去來不明，漫無根蒂，不似虛脈之重按雖虛，
而不至於散漫也，散為元氣離散之象，故傷寒欬逆上氣，其脈散者死，
謂其形損故也，可知散脈為必死之候，然形象不一，或如吹毛，或如散葉，
或如懸雍，或如羹上肥，或如火薪然，皆真散脈，見之必死，非虛大之比，經曰：
代散則死，若病後大邪去，而熱退身安，泄利止而漿粥入胃，或有可生者，
又不當一概論也，古人以代散為必死者，蓋散為腎敗之應，代為脾絕之兆，
腎脈本沈，而散脈按之不可得見，是先天資始之根本絕也，脾脈主信，
而代脈去來必愆其期，是後天資生之根本絕也，故二脈獨見，均為危亡之候，
而二脈交見，尤為必死之徵。</p>
<p>清脈者，輕清緩滑，流利有神，似小弱而非微細之形，不似虛脈之不勝尋按，
微脈之耎弱依稀，緩脈之阿阿遲縱，弱脈之沈細耎弱也，清為氣血平調之候，經云：
受氣者清，平人脈清虛和緩，生無險阻之虞，如左手清虛和緩，定主清貴仁慈，
若清虛流利者，有剛決權變也，清虛中有一種弦小堅實，其人必機械峻刻，
右手脈清虛和緩，定然富厚安閒，若清虛流利，則富而好禮，清虛中有種枯濇少神，
其人雖豐，目下必不適意，寸口清虛，洵為名裔，又主聰慧，尺脈清虛，端獲良嗣，
亦為壽徵，若寸關俱清，而尺中蹇濇，或偏小偏大，皆主晚景不豐，及艱子嗣，
似清虛而按之滑盛者，此清中帶濁，外廉內貪之應也，若有病而脈清楚，雖劇無害，
清虛少神，即宜溫補以助真元，若其人脈素清虛，雖有客邪壯熱，脈亦不能鼓盛，
不可以為症寔脈虛，而失於攻發也。</p>
<p>濁脈者，重濁洪盛，騰湧滿指，浮沈滑實有力，不似洪脈之按之耎闊，
寔脈之舉之減小，滑脈之往來流利，緊脈之轉索無常也，濁為稟賦昏濁之象，經云：
受穀者濁，平人脈重濁洪盛，垂老不得安間，如左手重濁，定屬污下，右手重濁，
可卜庸愚，寸口重濁，家世卑微，尺脈重濁，子息鹵莽，若重濁中有種滑利之象，
家道富饒，濁而兼得蹇濇之狀，或偏盛偏衰，不享安康，又主夭枉，
似重濁而按之和緩，此濁中兼清，外圓內方之應也，大約力役勞苦之人，
動輒勞其筋骨，脈之重濁，勢所必然，至於市井之徒，拱手曳裾，脈之重濁者，
此非天性使然歟，若平素不甚重濁，因病鼓盛者，急宜攻發以開泄其邪，
若平昔重濁，因病而得蹇濇之脈，此氣血凝滯，痰涎膠固之兆，
不當以平時濇濁論也。</p>
<h3>口問（一十二則）</h3>
<p>門人問曰：讀師傳諸義，發智慧光，如大火聚，掃卻胸中無限陰霾矣，
但某等根器疎陋，尚有積疑未泮，如三焦命門，各有岐說，未獲定鑑，
願師垂誨真銓，以破學人之惑，答曰：夫所謂命門者，即三焦真火之別名也，
以其職司腐熟之令，故謂之焦，經謂中精之府，言其所主精氣也，又云：上焦如霧，
中焦如漚，下焦如瀆者，言其氣化之象也，岐伯曰：寸以射上焦，關以射中焦，
尺以射下焦，此言三焦之脈位也，射者，自下而射於上，其脈即分屬寸關尺，
凡鼓動之機，靡不本諸三焦，則知六部之中，部部不離三焦之氣也，
三焦為真火之源，故有命門之號，難經獨以右尺當之，而脈訣復有男女左右之分，
男以精氣為主，故右尺為命門，女以精血為主，故左尺為命門，是命門之診，
尤重在乎尺內也，三焦鼎峙兩腎之間，為水中之火，既濟陰陽，
趙氏所謂天非此火不能生物，人非此火不能有生，為性命之主宰，故曰命門，
越人謂其有名無形者，以火即氣，氣本無形，非若精津血液之各有其質也，
以氣化為無形則可，以三焦為無形則不可，靈樞本藏云腎應骨，密理厚皮者，
三焦膀胱厚，粗理薄皮者，三焦膀胱薄，疎腠理者，三焦膀胱急，
毫毛美而粗者，三焦膀胱直，稀毫毛者，三焦膀胱結也，詳此明言厚薄急結之狀，
詎可謂之無形乎。</p>
<p>復問神門為心經之動脈，而王氏又云：神門決斷，兩在關後者，是指尺中腎脈而言，
其故何也，答曰：神門之脈有二，如前所言神門即是命門，命門即是三焦，
屬於七節之上，故於尺中求之，以尺為六脈之根也，越人云：人之有尺，
譬如樹之有根水，為天一之元，先天之命根也，若腎脈獨敗，是無根矣，
此與諸脈之重按有力為有根，脈象迥異，而為腎氣之所司則所也，如虛浮無根，
是有表無裏，孤陽豈能獨存乎，若尺內重按無根，不但先天腎水之竭，
亦為後天不足之徵，仲景所謂營氣不足，血少故也，脈微所云：是指心經動脈而言，
案氣交變論中歲水太過一節，內有神門絕者死不治，言水勝而火絕也，
其穴在掌後兌骨之端，即如人迎與氣口並稱，皆主關前一分而言，其穴在喉之兩傍，
乃足陽明之動脈，能于是處求諸經之盛衰乎，可知神門二說，各有主見，各有至理，
不可附會牽合而致疑殆也，問衝陽太谿，皆足之動脈，每見時師求之於垂斃之時，
驗乎不驗乎，答曰：是即仲景趺陽少陰也，嘗聞氣口成寸，以決死生，
未聞決之於二處也，仲景以此本屬胃與腎脈，雖變其名，仍當氣口尺中診之，
脈法之寸口趺陽少陰三者並列而論，是即寸關尺三部之別號，但未明言其故耳，
喻嘉言釋仲景平脈首條云：條中明說三部，即後面趺陽少陰，俱指關尺而言，
然何以止言趺陽少陰，蓋兩寸主乎上焦，營衛之所司，不能偏於輕重，故言寸口，
兩關主乎中焦，脾胃之所司，宜重在右，故言趺陽，兩尺主乎下焦，宜重在左，
故言少陰，此先得我心之所同然，況二處動脈，僅可求其絕與不絕，
斷不能推原某脈主某病也，設閨中處子，而欲按其足上之脈，殊為未便，昔人所云：
反關之脈，但言脈位之異，未審所見之脈與平常之人可例推乎，抑別有所異乎，
答曰：凡脈之反關者，皆由脈道阻礙，故易位而見，
自不能調暢如平常之脈也，其反關之因，各有不同，而反關之狀，亦自不一，
有胎息中驚恐顛仆而反關者，有襁褓束縛致損而反關者，有幼時跌蹼動經而反關者，
有齠齔疳積伐肝太過，目連劄而左手偏小，有似反關者，有大驚喪志，
死絕復蘇而反關者，有一手反關者，有兩手反關者，有從關斜走至寸而反關者，
有反於內側，近大陵而上者，有六部原有如絲，而陽谿列缺，別有一脈大於正位者，
有平時正取側取俱無，覆手取之而得者，有因病而正取無脈，覆手診之乃得者，
總皆陰陽伏匿之象，有傷寒欲作戰汗脈伏而誤認反關者，大抵反關之脈，沈細不及，
十常八九，堅強太過者，十無二三，欲求適中之道，卒不易得也，
亦有諸部皆細小不振，中有一粒如珠者，此經脈阻結於其處之狀，
故其脈較平人細小者，為反關之常，較平人反大者絕少，不可以為指下變異，
謂之怪脈也，凡遇反關殊異平常之脈，須細詢其較之平時稍大，即為邪盛，
比之平時愈小，即為氣衰，更以所見諸症參之。</p>
<p>門人問曰：人迎主表，氣口主裏，東垣內外傷辨，言之詳矣，
而盛啟東又以新病之死生，係乎右手之關脈，宿病之死生，主乎左手之關尺，
斯意某所未達，願聞其義云何，答曰：疾有新久，症有順逆，新病穀氣猶存，
胃脈自應和緩，即或因邪鼓大，因虛減小，然須至數分明，按之有力，不至濁亂，
再參語言清爽，飲食知味，胃氣無傷，雖劇可治，如脈至濁亂，至數不明，
神昏語錯，病氣不安，此為神識無主，苟非大邪暝眩，豈宜見此，經云：脈浮而滑，
謂之新病，脈小而濇，謂之久病，故新病一時形脫者死，不語者亦死，口開眼合，
手撒喘汗遺尿者，俱不可治，新病雖各部脈脫，中部獨存者，是為胃氣，治之必愈，
久病而左手關尺耎弱，按之有神，可卜精血之未艾，他部雖危，治之可生，
若尺中弦緊急數，按之搏指，或細小脫絕者，法在不治，蓋緣病久胃氣血衰，
又當求其尺脈，為先天之根氣也，啟東又云：診得浮脈，
要尺內有力為先天腎水可恃，發表無虞，診得沈脈，要右關有力，為後天脾胃可憑，
攻下無虞，此與前說互相發明，言雖異而理不殊也。</p>
<p>問脈有下指浮大，按久索然者，有下指濡耎，按久搏指者，有下指微弦，
按久和緩者，何也，答曰：夫診客邪暴病，應指浮象可症，若切虛嬴久病，
當以根氣為本，如下指浮大，按久索然者，正氣大虛之象，無問暴病久病，
雖症顯灼熱煩擾，皆正衰不能自主，隨虛陽發露於外也，下指濡耎，久按搏指者，
裏病表和之象，非藏氣受傷，則堅積內伏，不可以脈沈誤認為虛寒也，下指微弦，
按久和緩者久病向安之象，氣血雖殆，而藏氣未敗也，然多有症變多端而脈漸小弱，
指下微和，似有可愈之機者，此元氣與病氣俱脫，反無病象發現，乃脈不應病之候，
非小則病退之比，大抵病人之脈，初下指雖見乏力，或弦細不和，
按至十餘至漸和者，必能收功，若下指似和，按久微濇不能應指，或漸覺弦硬者，
必難取效，設病雖牽纏，而飲食漸進，便溺自調，為胃氣漸復之兆，經云：
安穀者胃，漿粥入胃，則虛者活，此其候也。</p>
<p>問有病同而脈異，病異而脈同，病同而治異，病異而治同，何也，答曰：
夫所謂病同而脈異者，人在氣交之中，所感六淫七情，八風九氣，一時之病，
大率相類，故所見之症，亦多相類，而人之所稟，各有偏旺偏衰之不同，
且有內戕神志，外役支體，種種懸殊，脈象豈能如一，如失血症，脈有浮大而芤者，
有小弱而數者，傷胃及藏之不同也，氣虛症有氣口虛大而濇者，有氣口細小而弱者，
勞傷脫泄之不同也，病異而脈同者，內傷夾外感，陽症夾陰寒，虛中有實，
積新邪夾舊邪，表裏交錯，為患不一，而脈之所現，不離陰陽寒熱虛寔之機，
其細微見症，安能盡顯於指下哉，如太陽中風，癱瘓不仁，脈皆浮緩，
一為暴感之邪，一為久虛之病，虛勞骨蒸，病瘧寒熱，關尺皆弦緊，一為腎藏陽虛，
一為少陽邪盛，可不互參脈症一概混治乎，病同而治異者，風氣之病，
時氣之病，瘧利之病，內傷虛勞之病，初起見症，往往相似，而人之所稟，
各有貞脆，且有多火多痰多氣，平時之資質既殊，病中之調治自異，
如金匱之短氣有微飲者，從小便去之，苓桂朮甘湯主之，腎氣丸亦主之，
消渴小便不利，蒲灰散主之，滑石白魚散，茯苓戎監湯並主之，若治病不求其本，
不問脈症之真象假象，但見病醫病，殊失逆從反正之旨矣，病異而治同者，
所見之症雖異，總不外乎邪正之虛實，如傷寒尺中脈遲之營氣不足，
陽邪內陷之腹中痛，虛勞裏急之悸衂失精，並宜小建中湯，
伏氣鬱發之熱病，太陽中熱之暍病，並宜臼虎湯，寒疝之腹急脇急，
產後之腹中㽲痛，並宜當歸生姜羊肉湯，豈可以一方主治一病，
而不達權變之用哉。</p>
<p>問古人治例，有從症不從脈，從脈不從症一病而治各不同，或愈或不愈者，
其故何也，答曰：此節庵先生以南陽治例，下一註腳也，惜乎有所未盡耳，
蓋從症從脈，各有其方，如脈浮為表，治宜汗之，然亦有宜下者，仲景云脈浮而大，
心下反鞭有熱屬藏者攻之，不令發汗，脈沈為裏治宜下之，然亦有宜汗者，
如少陰病，始得之，反發熱脈沈者，麻黃附子細辛湯汗之，脈促為陽盛，
當用芩葛清之，若脈促厥冷，非灸百會以通其陽，此非促為陽盛也，脈遲為寒，
當薑附溫之，若陽明病脈遲不惡寒身體濈然汗出，則當用大承氣，又非遲為陰寒也，
此皆不從脈之治，以其症急也，又如表症汗之，乃常法也仲景云：病發熱頭痛，
脈反沈，身體痛，當溫之，宜四逆湯，裏症下之，亦其常也，日晡發熱者，屬陽明，
脈浮虛者，宜發汗用桂枝湯，結胸症具，當與陷胸下之，脈浮大者不可下，
當與桂枝人參湯溫之，身體疼痛，當以麻桂汗之，然尺中脈遲者不可汗，
當用小建中湯和之，此皆不從疘治，以其脈虛也，一病而治各不同，或愈或不愈者，
良由不明受病之故，嘗攷內經多有同一見症，而所受之經各別，所見之脈迥殊，
其可執一例治乎，況醫有工拙，病有標本，假令正氣有權之人，無論治本治標，
但得藥方開發病氣，元神自復，若正氣本虛之人，反現假症假脈，
而與苦寒伐根之藥，變端莫測矣，故凡治邪氣暴虐，
正氣驟脫之病製方宜猛蓋暴邪勢在急追，驟虛法當峻補，若虛邪久淹，
嬴弱久困之病，不但製方宜緩，稍關物議之味，咸須遠之，是以巨室貴顯之家，
一有危疑之症，則遍邀名下相商，於補瀉雜陳之際，不可獨出已見而違眾處方，
即不獲已，亦須平淡為主，倘病在危逆，慎勿貪功奏技，以招鑠金之謗也。</p>
<p>客問內經陰陽別論所言，二陽之病發心脾，三陽為病發寒熱，一陽發病少氣諸例，
俱論脈法之陰陽，王太僕誤作經脈註解，觀其提綱，悉從脈有陰陽一句而來，
次言知陽者知陰，知陰者知陽，凡陽有五，五五二十五陽，即仲景大浮數動滑為陽，
以五藏之脈，各有大浮數動滑，是為五五二十五陽也，不言五五二十五陰者，
先言知陽者知陰，則沈濇弱弦微之陰，可不言而喻也答曰：讀書雖要認定提綱，
一氣貫澈然中間轉折，尤宜活著，不可執著，蓋脈有陰陽句，
岐伯原是答黃帝人有四經十二從等問，所言凡陽有五，五五二十五陽，
是言五藏之陽氣，應時鼓動于脈，五五相承，為二十五陽，與玉機真藏之故病有五，
五五二十五變，異名同類，夫脈法之陰陽，原不離乎經脈之陰陽，況下文所言，
三陽在頭三陰在手，得非明言經脈陰陽之確據乎，若以脈有陰陽，為通篇之提綱，
皆附會于脈，未免支離牽強，殊失先聖立言之旨矣，曷知陰陽別論，原從陰陽應象，
陰陽離合，魚貫而下，皆論經脈之陰陽，又為提綱中之挈領，可不體會其全，
妄譏先輩乎。</p>
<p>旅泊苕溪，偶檢嘉言先生仲景脈法解，坐有同人謂石頑曰：夫脈之顯著共聞者，
尚且指下難明，況乎險奧幽微，人所共昧，如高章綱惵卑損之脈，既非恆有之象，
何長沙博採古訓，以眩耳目，喻子曲為釋詞，以誇博識乎，答曰：
此古聖至微至顯之的訣，不能晦藏于密，一時為之闡發，豈故為詭異以欺後世耶，
其所謂綱者，諸邪有餘之綱領，損者，諸虛積漸之損傷，恐人難於領悟，
乃以高章惵卑四字，體貼營衛之盛衰，雖六者並舉，而其所主，實在綱損二脈也，
以其辭簡義深，末由窺測，喻子獨出內照，發明其義，惜乎但知高章為高章取象，
惵卑為惵卑措辭，不知高張為綱脈之紀，惵卑為損脈之基耳，蓋高者，
自尺內上溢於寸，指下涌涌，既浮且大，而按之不衰，以衛出下焦，行胃上口，
至手太陰，故寸口盛滿，因以高字名之，章者，自筋骨外顯于關，應指逼逼，
既動且滑，而按之益堅，以營出中焦，亦並胃口而上上焦，故寸關實滿，
因以章字目之，綱者，高章兼該之象，故為相搏，搏則邪正交攻，脈來數甚，
直以綱字揭之，惵者，寸口微滑而按之軟弱，舉指瞥瞥，似數而仍力微，
以衛氣主表，表虛不能勝邪，故有似乎心中怵惕之狀，因以惵字喻之，卑者，
諸脈皆不應指，常兼沈濇之形，而按之隱隱，似伏而且濇難，以營氣主裏，
裏虛則陽氣不振，故脈不顯，有似妾婦之卑屑不能自主，故以卑字譬之，損者，
惵卑交參之謂，故為相搏，搏則邪正俱殆，脈轉衰微，直以損字呼之，而損脈之下，
復有遲緩沈三者，言阿阿徐緩，而按之沈實，為營衛俱和，陰陽相抱之象，
不過借此以顯高章等脈，大都高章綱惵卑損之脈，皆從六殘賊來，其浮滑之脈，
氣多上升而至于高，弦緊之脈邪必外盛而至於章，沈濇之脈，陽常內陷而至於卑，
非陰寒脈沈，不傳他經之比凡此六者，能為諸脈作病故謂殘賊，
縱邪氣盛滿而汗下剋削太過皆能致虛，
虛則脈來惵惵按之力微逮所必至至於高章相搏，未有不數盛者，惵卑相搏，
未有不弦勁者，所以沈伏之中，尺內時見弦細搏指，則為損脈來至，必難治也，
詳高惵之脈，往往見於寸口章脈每多顯於趺陽，
卑脈恆於少陰見之然惵卑之脈寸口趺陽未嘗不有也，高章之脈，尺內少陰，
從未一見耳，觀後寸口趺陽少陰諸條，皆言高章惵卑之病其陰陽死生之大端，
端不出大浮數動滑為陽，沈濇弱弦微為陰之總綱，以其非專言傷寒脈法，
故長沙另緝平脈法篇隸諸辨脈法下，由是昔余詮釋讚論，略未之及，茲因同人下問，
不覺為之饒舌。</p>
<p>或問醫以聲色之辨為神聖妙用而審切反居其次，何也答曰：夫色者神之華，
聲者氣之發，神氣為生陽之徵驗，在診之際不待問而陰陽虛實之機，
先見於耳目間矣，予於傷寒緒論，言之頗詳，姑以大略陳之色貴明潤不欲沈夭，
凡暴感客邪之色，不妨昏濁壅滯病久氣虛祇宜瘦削清癯若病邪方銳，
而清白少神虛嬴久困，而嫵媚鮮澤，咸非正色，五色之中青黑黯慘，
無論病之新久總屬陽氣不振，惟黃色見於面目，而不至索澤者皆為向愈之候，
若眼胞上下如烟煤者寒痰也，眼黑頰赤者，熱痰也，眼黑而行步艱難呻吟者，
痰飲入骨也眼黑而面帶土色，四肢痿痹，屈伸不便者風痰也，病人見黃色光澤者，
為有胃氣不死，乾黃者為津液之槁，多凶目睛黃者，
非癉即衂目黃大頰為病進，平人黑氣起於口鼻耳目者危，
若赤色見於兩顴黑氣出於神庭，乃大氣入於心腎，暴亡之兆也至於聲者，
雖出出肺胃實發丹田其輊清重濁，雖由基始，要以不不異平時為吉，
如病劇而聲音清朗如常者，形病氣不病也，始病即氣壅聲濁者，
邪干清道也病未久而語聲不續者，其人中氣本虛也，脈之呻者，病也，言遲者，
風也，多言者，火之用事也，聲如從室中言者，中氣之濕也言而微，終日乃復言者，
正氣之奪也，衣被不斂，言語善惡不避親疎者，神明之亂也，
出言懶怯先重後輕者，內傷元氣也，出言壯厲，先輕後重者，外感客邪也，
攢眉呻吟者，頭痛也，噫氣以手撫心者，中脘痛也，呻吟不能轉身，坐而下一腳者，
腰痛也，搖頭以手捫腮者，齒頰痛也，呻吟不能行步者，腰腳痛也診時吁氣者，
鬱結也，搖頭言者，裏痛也，形嬴聲啞者，勞瘵，咽中有肺花瘡也，，暴啞者，
風痰伏火，或怒喊哀號所致也，語言蹇塞者，風痰也診時獨言獨語，不知首尾者，
思慮傷神也，傷寒壞病，聲啞唇口有瘡者，狐惑也平人無寒熱，短氣不足以息者，
痰火也聲色之診最繁無庸瑣述以混耳目。</p>
<p>門人問曰：嘗聞肥人之脈宜沈，腎肝之脈宜沈，冬月之脈宜沈，於此有人，
年盛體豐，冬時腰痛不能轉側，怯然少氣，足膝常逆，症脈皆寒與腎氣丸不應，
轉增寒熱喘瞞，何也，答曰：不在症治也，夫肥人之脈沈者，濕傷血脈也，
腰痛不能轉側者，濕滯經絡也，怯然少氣者，濕干肺胃也，足膝常逆者，濕遏陽氣，
不能旁達四支也，法當損氣以助流動之勢，則痛者止而逆者溫反與滋膩養營之藥，
則痰濕愈壅，經絡不能條暢，而寒熱喘滿，勢所必至也，昔有朔客，初至吳會，
相邀診視時當夏月裸坐盤飧，倍於常人而形偉氣壯，
熱汗淋漓于頭頂間診時不言所以，切其六部沈實，不似有病之脈，
惟兩寸略顯微數之象，但切其左則以右掌抵額，切其右則易左掌抵額，
知為肥盛多濕，夏暑久在舟中，時火鼓激其痰於上而為眩暈也，
詢之果然因與導痰清濕而安，設不察所苦，但以脈沈，求其病之所屬，失之遠矣，
醫之手眼可不臨機活潑乎。</p>
<h3>逆順</h3>
<p>診切之要，逆順為寶，若逆順不明，陰陽虛實死生不別也，故南陽先師，
首言傷寒陰病見陽脈者生，陽病見陰脈者死，即此一語，可以推卒病之順逆，
亦可廣諸病之死生，一著先機至微至顯奈何先輩專守王氏之繩墨，不達至聖之璇璣，
以至脈學之言，愈闡愈昧，求脈之道，愈趨愈蹶良由不解活法推源之故，
因是彙輯逆順諸例，庶學者披卷曉然雖以死生並列，而逆症尤不可忽如傷寒未得汗，
脈浮大為陽，易已，沈小為陰，難已傷寒已得汗，脈沈小安靜為順，浮大躁疾者，
逆然多有發熱頭痛，而足冷陽縮尺中遲弱，可用建中和之者，亦有得汗不解，
脈浮而大，心下反鞭合用承氣攻之者，更有陰盡復陽，厥愈足溫，而脈續浮者，
苟非深入南陽之室，惡能及此，迨夫溫病熱病，熱邪亢盛雖同，
絕無浮緊之脈觀內經所云，熱病已得汗，而脈尚盛躁，此陰脈之極也，
死其得汗而脈靜者生，熱病脈尚盛躁而不得汗者，此陽脈之極也死，脈盛躁，
得汗靜者生，他如溫病穰穰大熱，脈數盛者生，細小者死，熱病汗下後脈不衰，
反躁疾，名陰陽交者死，歷參溫熱諸病，總以數盛有力為順，細小無力為逆，
得汗後脈不衰，反盛躁，尤逆也，至於時行疫癘，天行大頭，咸以脈數盛滑利為順，
沈細虛濇為逆，然濕土之邪內伏，每多左手弦小，右手數盛者，總以辛涼內奪為順，
辛熱外散為逆，當知溫熱時疫，皆熱邪內蘊而發，若與表散，如爐冶得鼓鑄之力耳，
然疫癘雖多，人迎不振，設加之以下利足冷，又未可輕許以治也，
故昔人有陰陽俱緊，頭痛身熱而下利足冷者死，謂其下虛也，至若溫毒發斑，
讝語發狂等症，總以脈寔便秘為可治，脈虛便滑者難治，
若斑色紫黑如果實靨，雖便秘能食，便通即隨之而逝矣，其狂妄躁渴，昏不知人，
下後加呃逆者，此陽去入陰，終不可救，卒中風口噤，脈緩弱為順急實大數者逆，
中風不仁，痿躄不遂，脈虛濡緩為順，堅急疾者逆，中風遺尿盜汗，脈緩弱為順，
數盛者逆，中風便溺阻濇，脈滑實為順虛濇者逆，中寒卒倒，脈沈伏為順虛大者逆，
中暑自汗喘乏，腹滿遺尿，脈虛弱為順，躁疾者逆，風暑卒倒，脈微弱為順，
散大者逆，大抵卒中天地之氣，無論中風中寒中暑中暍，總以細小流連為順，
數寔堅大為逆，散大艱濇，尤非所宜，不獨六淫為然，即氣厥痰厥，食痰蚘厥，
不外乎此，蓋卒中暴厥，皆真陽素虧，故脈皆宜小弱，不宜數盛，
中惡腹滿則宜緊細微滑不宜虛大急數，中百藥毒，則宜浮大數疾，不宜微細，虛濇，
詳中風中暑，一切暴中，俱有喘乏遺尿，如中風中寒，則為腎氣之絕，中暑中暍，
則為熱傷氣化痰食等厥，又為氣道壅遏所致，死生逆順懸殊，可不辨而混治乎，
凡內傷勞倦，氣口虛大者為氣虛，弦細或濇者為血虛，若躁疾堅搏，大汗出，
發熱不止者，死以裏虛不宜復見表氣開泄也，內傷飲食，脈來滑盛有力者，
為宿食停胃，濇伏模糊者，為寒冷傷脾，非溫消不能克應，霍亂脈伏為冷食停滯，
胃氣不行，不可便斷為逆，搏大者逆，既吐且利，不宜復見實大也，霍亂止而脈代，
為元氣暴虛，不能接續，不可便斷為逆，厥冷遲微者逆，陽氣本虛，加以暴脫，
非溫補不能救療，噎膈嘔吐，脈浮滑大便潤者順，痰氣阻逆，胃氣未艾也，
弦數緊濇，涎如雞清，大便燥結者逆，氣血枯竭，痰火菀結也，腹脹，
關部浮大有力為順，虛小無神者逆，水腫，脈浮大耎弱為順，濇細虛小者逆，
又沈細滑利者，雖危可治，虛小散濇者不治，鼓脹，滑寔流利為順，虛微短濇者逆，
腫脹之脈，雖有浮沈之不同，總以耎滑為順，短濇為逆，欬嗽，浮耎和滑者易已，
沈細數堅者難已，久嗽緩弱為順，弦急實大者逆，勞嗽骨蒸，虛小緩弱為順，
堅大濇數者逆，弦細數疾者尤逆，上氣喘欬，脈虛寧寧，伏匿為順，堅強搏指者逆，
加瀉尤甚，上氣喘息低昂，脈浮滑，手足溫為順，脈短濇，四支寒者逆，
上氣脈數者，死謂其形損故也，歷陳上氣喘欬諸例，皆以耎弱緩滑為順，
濇數堅大者逆，蓋緩滑為胃氣尚存，堅濇則胃氣告匱之脈也，肺痿，脈虛數為順，
短濇者逆，數大寔者，亦不易治，肺癰初起，微數為順洪大者逆，已潰緩滑為順，
短濇者逆，氣病而見短濇之脈，氣血交敗，安可望其生乎，吐血衂血下血，
芤而小弱為順，弦急寔大者逆，汗出若衂，沈滑細小為順，寔大堅疾者逆，
吐血，沈小為順，堅強者逆，吐血而欬逆上氣，芤耎為順，細數者逆，
弦勁者亦為不治，陰血既亡，陽無所附，故脈來芤耎，若細數則陰虛火炎，
加以身熱不得臥，不久必死，弦勁為胃氣之竭，亦無生理，畜血脈弦大可攻為順，
沈濇者逆，從高跌仆，內有血積，腹脹滿，脈堅強可攻為順，小弱者逆，
金瘡出血太多，虛微細小為順，數盛急實者逆，破傷，發熱頭痛，浮大滑為順，
沈小濇者逆，腸澼下白沫，脈沈則生，脈浮則死，腸澼下膿血，沈小留利者生，
數疾堅大身熱者死，久利沈細和滑為順，浮大弦急者逆，雖沈細小弱，
按之無神者不治，腸澼下利，內經雖言脈浮身熱者死，然初病而兼表邪，
常有發熱脈浮，可用建中而愈者，非利久虛陽發露，反見脈浮身熱口噤不食之比，
泄瀉脈微小為順，急疾大數者逆，腸澼泄瀉，為腸胃受病，
不當復見疾大數堅之脈也，小便淋閟脈滑疾者易已，濇小者難已，消癉脈寔大，
病久可治，脈懸小堅病久不可治，消渴脈數大耎滑為順，細小浮短者逆，
又沈小滑為順，實大堅者逆，頭痛目痛，卒視無所見者死，清陽失守，
邪火僭逆於上也，其脈浮滑，為風痰上盛可治，短濇，為血虛火逆不治心，心腹痛，
痛不息，脈沈細遲小為順，弦長堅寔者逆，癥瘕脈沈寔者可治，虛弱者死，
疝瘕脈弦者生，虛疾者死，心腹積聚，脈實強和滑為順，虛弱沈濇者逆，
癲疾脈搏大滑，久自已小堅急死不治，又癲疾脈虛滑為順，濇小者逆，
狂疾脈大實為順，沈濇者逆，痿痹脈虛濇為順，緊急者逆，䘌蝕陰肛，
虛小為順，堅急者逆，癰疽初起，脈微數緩滑為順，沈濇堅勁者逆，未潰洪大為順，
虛濇者逆，潰後虛遲為順，數實者逆，腸癰耎滑微數為順，沈細虛濇者逆，病瘡，
脈弦強小急，腰脊強，瘛瘲皆不可治，潰後被風，多此痙病，脈浮弦為陽，
沈緊為陰，若牢細堅勁搏指者，不治，妊娠脈宜和滑流利，忌虛濇不調，
臨月脈宜滑數離經，忌虛遲小弱，牢革尤非所宜，新產脈宜緩弱，忌弦緊，帶下，
脈宜小弱，忌急疾，崩漏，脈宜微弱，忌寔大，乳子而病熱，脈懸小，手足溫則生，
寒則死，凡崩漏胎產久病，脈以遲小緩滑為順，急疾大數者逆，以上諸例，
或採經論，或摭名言，咸以病脈相符為順，病脈相反為逆，舉此為例，餘可類推，
穎悟之士，自能聞一知十，無煩余之屑屑也。</p>
<h3>異脈</h3>
<p>異脈者，乖戾不和，索然無氣，不與尋常諸脈相類，內經大奇論，貫列諸脈，
摹寫最微，苟非逐一稽研，焉能心領神會，如心脈滿大，癎瘛筋攣，
肝脈小急，癎瘛筋攣，二條見症皆同，而脈象迥異，受病各別，
其同病異治等法，良有見乎此也，若肝脈驚暴，有所驚駭，脈不至，若瘖，
皆驚氣失常，所以肝脈馳驟，氣平自已，毋治也，腎脈小急，肝脈小急，心脈小急，
不鼓皆為瘕，言諸經之脈，皆有小急，但以按之不鼓者為瘕，若縱之鼓指，
又為火伏之象，非瘕也，腎肝并，沈為石水，并浮為風水，并虛為死，并小弦欲驚，
并者，六位皆然，非見一二部也，水脈當沈，以風勢鼓激則浮，浮則重按不乏，
虛則按之即空，以水氣內蓄，不當并見虛脈故死，并小弦欲驚者，以少陽生氣，
為陰邪所埋，故惕惕如驚，而寔非驚也，腎脈大急沈，肝脈大急沈，皆為疝，
心脈搏滑急為心疝，肺脈沈搏為肺疝，疝脈無不弦急者，觀下文三陽急為瘕，
三陰急為疝，則疝瘕之陰陽辨治，可燎然矣，二陰急為癎厥，
厥屬腎而癎屬心包也，二陽急為驚，聞水聲則惕然而驚也，脾脈外鼓，
沈為腸澼，久自已肝脈小緩，為腸澼，易治，腎脈小搏沈，為腸澼，下血，
血溫身熱者死，心肝澼亦下血，二藏同病者可治，其脈小沈，濇為腸澼，
其身熱者死，熱見七日死，腸澼之脈，總以緩小為易治，堅搏為難治，外鼓沈者，
言雖浮大而根氣不乏也，小搏沈者，陰邪內注而脈顯陰象，不當復見虛陽外擾也，
心肝二藏，水火同氣，故同病者易治，脾腎同病，為土崩水竭，故死不治，
胃脈沈鼓濇，胃外鼓大，心脈小堅急，皆鬲，偏枯，男子發左，女子發右，不瘖，
舌轉可治，三十日起，其從者瘖三歲起，年不滿二十者，三歲死言胃脈重按則濇，
浮取則大，陰血受傷，而陽氣失守也，心脈小堅急，陰邪勝而上侮君主也，
胃氣既傷，血脈又病，故心下痞鬲，而半體偏枯也，偏枯以男子發左，
女子發右為逆，然雖逆而非不治也，如不瘖舌轉，非藏受病見症雖逆，治亦易起，
若瘖不能言，腎氣內虧，症雖不逆，治亦難痊，若年不滿二十，氣血方盛之時，
而見偏枯之疾，此根氣乏夭，不出三年必死也，脈至而搏，血衂身熱者死，
脈來懸鈎浮為常脈，血衂身熱，而脈來搏指，虛陽外脫，陰血內亡，
安得不死，脈來懸鈎浮，言浮而中空之狀，隱然言外，脈至如喘，名暴厥，
暴厥者，不知與人言，言暴逆氣浮，故脈喘喘乏力，腎氣不能下守可知，脈至如數，
使人暴惊，三四日自已，言暴惊氣亂，故脈至如數，而寔未常數，故不須治，
脈至浮合，浮合如數，言一息十至以上，如浮波之合，後至凌前，虛疾而動無常候，
是經氣予不足也，脈至如丸泥，言指下動滑如循薏苡子，是胃精予不足也，
脈至如橫格言堅強如橫木之拒於指下，是膽氣予不足也，脈至如火薪然，
言浮數而散，瞥瞥如羹上肥，是心精之予奪也，脈至如散葉，言飄忽無根，
是肝氣予虛也，脈至如省客，省客者，言如省問之客，乍見欲言而遲疑不吐，
故以脈塞而鼓四字體貼之，是腎氣予不足也，脈至如弦縷，言弦急而強，
如轉索之狀，是胞精予不足也，脈至如交漆，交漆者，左右傍至也，
言指下艱濇不前，重按則不由正道而出，或前大後細，與綿綿如瀉漆之絕互發，
脈至如湧泉，言寸口洪盛，如泉出穴之湧，而按之散漫，浮鼓肌中，
太陽氣予不足也，脈至如頹土之狀，言濇大模糊，如雨中頹土，按之不得，
是肌氣予不足也，脈至如懸雍，懸雍者，浮揣切之益大，重按即無，
故以腭間下垂之肉喻之，是十二俞之予不足也，脈至如偃刀，偃刀者，
浮之小急，按之堅大急，五藏菀熱，寒熱獨并於腎也，脈至如丸，滑不直手，
按之不可得，是大腸氣予不足也，脈至如華者，言如花之虛浮，令人善恐，
不欲坐臥，行立常聽，是小腸氣予不足也，如上諸脈，古聖目之大奇，
洵非尋常可擬，余嘗反覆互參，始得其旨，前九條，咸以脈症異同，
究其病之所屬，如脾脈外鼓沈，及胃脈沈鼓濇，胃外鼓大之脈皆彷彿，而為病迥殊，
後十四條，又以指下乖異，辨諸經之氣予不足，而悉予之短期，近世但知彈石解索，
雀啄屋漏，魚翔蝦游，謂之六絕，若浮合等脈，真藏七診，茫然不知何義，
而漫治取謗者有之，多有病本濱危，藥之不應，而顯絕脈絕症，如病人身熱脈大，
服藥後，忽然微細欲絕，厥冷下利，呃逆不止者死，脈轉躁疾亦死，病人厥逆下利，
脈微欲絕，服藥後，脈暴出者死，與厥逆下利，本不能食，今驟能食，
為除中者死同義，又脈來忽沈忽浮，乍疎乍數，來去無次，皆不可治，
經謂不大不小，病猶可治，其有大小者，為難治也，真藏者，獨弦獨鈎，
獨毛獨石獨代，而指下堅強，絕無和緩之象，藏氣病氣，打成一片，故曰真藏，
見之必死，七診者，獨小獨大，獨疾獨遲，諸部皆然，非一部兩部見病脈也，
獨熱者，尺炬然熱，獨寒者，尺膚寒是也，獨陷下者，諸部皆陷伏不應也，
真藏悉為死候，七診猶為病脈，其所重全在胃氣，胃主肌肉，故言形肉已脫，
九候雖調猶死，七診雖見，九候皆從者不死，胃為五藏之本也，若有七診之病，
其脈候亦敗者死矣，前篇彙次逆順，此篇專輯異脈，欲人貫徹其旨，
庶無輕諾許治之失。</p>
<h3>婦人</h3>
<p>問婦人脈法，與男子何異，答曰：女子二七天癸通，月事以時下，
故其所重全在衝任，衝任為精血之海，其脈常隨肝腎而行，故以左尺為命門，
陰陽應象論云：陰陽者，血氣之男女也，左右者，陰陽之道路也，
蓋天道左旋而主陽氣，地道右轉而主陰血，陰常從陽，為陽之守，
故左尺反有命門之號，然陰稟多暴，脈多隨氣上章，陰性多鬱，脈亦隨氣內惵，
古人雖有女子右脈常盛，及女脈在關下之說，要非定論，其病惟經候胎產，
異於男子，他無所殊也，若腎脈微濇，或左手關後尺內脈浮，或肝脈沈而急，
或尺脈滑而斷絕不勻，皆經秘不調之候，如體弱之婦脈常微弱，但尺內按之不絕，
便是有子，月斷嘔逆不食，六脈不病，亦為有子，所以然者，體弱而脈難顯也，
脈經曰：婦人脈三部浮沈正等，按之不絕，無他病而不月者，妊子也，
尺數而旺者亦然，經曰：何以知懷子之且生，身有病而無邪脈也，又云：陰搏陽別，
謂之有子，言尺內陰脈搏指，與寸口陽脈迥別，其中有陽象也，陰陽相鷇鵓，
故能有子，陰虛陽搏謂之崩，言尺內虛大弦數，皆內崩而血下，若消瘦喘息，
月事不來者，二陽之病發心脾也，婦人不月，脈來滑疾，重手按之散者，
胎已三月也，和滑而代者，此二月餘之胎息也，重手按之，滑疾而不散者，五月也，
妊娠四月，欲知男女法古人悉以左尺滑大為男，右尺滑大為女，兩尺俱滑大為雙胎，
然往往有左寸動滑為男者，以經行血瀉，陰常不滿，故尺常不足，
不可執於尺內滑大，方為胎脈之例，經云：婦人手少陰脈動甚者，妊子也，
寸為陽位，故見動滑，則為血充而顯陽象，左叶熊羆，右應鸞鳳之兆，
可預卜而無疑也，凡婦人經水三月不來，診其脈兩寸浮大，兩關滑利，
兩尺滑實而帶數，此胎脈也，若有形而不動，或當臍下翕翕微動如抱甕之狀，
按之冰冷，又兩尺乍大乍小，乍有乍無，或浮或沈，或動或止，早暮不同者，
乃鬼胎也，須連視二三日乃見，宜補氣活血，溫養脾胃，則水行經自通矣，
若脈來疾如風雨亂點，忽然而去，久之復來如初者，是夜叉胎也，亦有左關之脈，
指下見兩歧，而產夜叉者，總與平常之脈不類也，妊娠脈弱，防其胎墮，
以氣血無養也，急宜補養，若弦急亦墮，是火盛也，婦有孕脈沈細弦急，憎寒壯熱，
唇口俱青黑，是胎氣損也，當問胎動否，若不動，反覺上搶心悶絕，按之冰冷者，
當作死胎治之，婦人經斷有軀，其脈弦者，後必大下，不成胎也，然有因病脈弦，
又當保胎為務，氣旺則弦自退矣，婦人尺脈微遲為居經，
月事三月一下血氣不足故也，婦人尺脈微弱而濇，少腹惡寒，年少得之為無子，
年大得之為絕孕，若因病而脈濇者，孕多難保，凡妊娠外感風邪，脈宜緩滑流利，
最忌虛濇躁急，虛濇則不固，躁急則熱盛傷胎，多難治也，胎前下利，脈宜滑小，
不宜洪數，洪數則防其胎墮，墮後七日多凶，治療之法，攻積必死，兜濇亦死，
急宜伏龍肝湯，煎溫養脾胃藥，多有生者，凡妊娠之脈，宜寔大有力，
忌沈細弦急虛濇，半產漏下，宜細小流連，忌急寔斷絕不勻，臨產宜滑數離經，
忌虛遲弦細短濇，產後宜沈小微弱，忌急寔洪數不調，新產傷陰，出血不止，
尺脈不能上關者死，新產中風熱病，脈宜浮弱和緩，忌小急懸絕，崩漏不止，
脈宜細細小芤遲，忌虛濇數寔，凡診婦人室女傷寒熱病，須問經事若何，
產後須問惡露多少，及少腹中有無結塊，此大法也。</p>
<h3>嬰兒</h3>
<p>問嬰兒三歲以下，看虎口三關紋色，其義云何，答曰：嬰兒氣血未盛，
經脈未充無以辨其脈象，故以食指絡脈形色之彰於外者察之，其絡即三部之所發，
其色以紫為風熱，紅為傷寒，青為驚恐，白為疳積，惟黃色隱隱，
或淡紅隱隱為常候，至見黑色危矣，若虎口三關多亂紋為內釣，腹痛氣不和，
脈亂身熱不食，食即吐而上唇有珠狀者，為變蒸也，其間紋色，在風關為輕，
氣關為重，命關尤重也，此言次指上三關近虎口一節為風關，中節為氣關，
爪甲上節為命關，然紋直而細者，為虛寒，少氣，多難愈，粗而色顯者，
為邪干正氣，多易治，紋中有斷續如流珠形者為有宿食，其紋自外向裏者為風寒，
自內向外者為食積也，岐伯曰：陰絡之色應其經，陽絡之色變無常，隨四時而行也，
寒多則凝泣，凝泣則青黑，熱多則淖澤，淖澤則黃赤，此皆常也，至三歲以上，
乃以一指按三關，此言寸關尺三部也，其脈常以六至為則，添則為熱，減則為寒，
浮弦為乳癎，弦緊為風癎，虛濇為慢惊，沈弦為腹痛，弦寔為氣不和，
牢實為便秘，沈細為冷乳不消，沈滑為宿食不化，或小或濇，或沈或細，
皆為宿食停滯，浮大為傷風，伏結為物聚，弦細為疳勞，沈數為骨蒸有熱也，
嬰兒病赤瓣飧泄，脈小手足寒難已，脈小手足溫，泄易已，小兒見其腮赤目赤，
呵欠煩悶，乍涼乍熱，或四末獨冷，鼓慄惡寒，面赤氣湧，涕淚交至，
及耳後有紅絲紋縷，脈來數盛者，皆是痘疹之候，湯藥之所當忌者最多，
慎勿漫投以貽其咎也。</p>
