<header><h1>仙傳外科集驗方</h1></header>
<dl class="元資料" data-type="book">
<div><dt>作者</dt><dd>趙宜真</dd></div>
<div><dt>朝代</dt><dd><data value="元|明">元末明初</data></dd></div>
<div><dt>年份</dt><dd><data value="1382">公元1382年</data></dd></div>
</dl>
<h2>序</h2>
<p>余少讀書，嘗聞先哲云：為人子者不可不知醫。於是遇好方書，輒喜傳錄，累至數十帙。見有疾者，如切己身，常制藥施與。一日，先君子訓曰：施人以藥，不若施人以方，則所濟者廣。從而有已驗之方，必與樂善之士共。及冥棲方外，悉棄舊學，況經塵劫，煨燼無遺，僅</p>
<p>《外科集驗方》一帙，乃禾川楊清叟所編述，以授吳寧極。寧極之子有本以授西平善觀李先生。先生以授於宜真者，其方簡要，惜未版行，故獨存之。昨來游金精福地，道經雩都，吾徒蕭天倪鳳岡，本西昌望族，自幼學道於紫陽觀二十載，前嘗從予游，亦能召風雨濟旱澇。蓋道緣深重，履踐端恪之所致也。其師弟劉致柔順川，數年間遍身苦瘡癤，服荊煎湯、敗毒散諸藥俱不效。予因以外科方授之，用返魂湯未終劑而愈。天倪乃欣然捐己資繡梓，散施流通。其慧濟之意如此，則雨　之應禱也。宜哉。雖然，予有故人曾害鼓椎風，往來寒熱，數月伏枕，諸藥不能療，最後一醫士診之曰：雖成痼疾，而有客邪在少陽經未解，若曾服五積散則誤矣。詢之果然。因授小柴胡湯數服，寒熱頓除，卻用本科追風丸等藥理其風證，而全瘳矣。夫雜病有方，傷寒有法，二者兼盡其道，乃為良醫。若以大方、外科各專其一，正恐或有所誤，而不自知，則又豈能全美乎。此外科論證處方，雖極其造理，校於諸方為獨優，在圓機之士，臨證之時，尤當加審焉。</p>
<p><u>洪武戊午九月朔日浚儀原陽子趙宜真序</u></p>
<p>醫之為藝尚矣。自神農氏始嘗百草，辯溫涼寒熱之性，以濟民於夭枉，其功莫大焉。厥後扁鵲、華佗，最精於技，治療之法，效驗如神，惜其術不盡傳。今之外科，乃其緒余也。外科之證，癰疽為甚。蓋疽有陰陽虛實之不同，用藥稍差，則立至殆。其次如疔瘡、咽喉之屬，尤易以殺人。世之工外科者，固為不少，求其能精，類不多見。浚儀原陽趙練師，以通儒名家，學於老氏，道行高潔，超邁輩流，處心切於濟人，以平昔所獲奇異方書，匯聚成帙，中經兵火散失，唯外科方僅存。戊午秋挾其書游金精，寓雩都之紫陽觀。蓋二十年前，嘗以道法授其觀之高士蕭鳳岡，今而重過，又能愈其徒劉順川積年不治之瘡疾。鳳岡即欲版行，以廣其扶危救急之意，而雩都穀邑，艱於得匠。因循至壬戌夏五月，而原陽仙化，遺命囑其徒劉淵然終其志。淵然佩服不敢違，仍將所授秘方，總編為一卷。復遇釜江謝安達，慨然任其事，凡工匠供饋之費，悉出於己。其子允原、允恭能如父志，與一門少長互相贊美，誠可嘉尚。觀原陽之自敘，與鳳岡之捐資版行，其用心皆極其忠濃。然非淵然次第集錄，則不能就一全書。淵然游心方外，屏絕俗紛，獨拳拳篤於濟人，信可謂賢矣。若非安達力為玉成，則鳳岡雖欲廣其傳，亦不可得。安達豈不尤賢矣乎。是書之行，可以拯危急，利倉卒。使凡為人子者，皆得此書，可不陷於不孝。使凡為醫者，皆得此書，可不墮於不仁。則仁人孝子之心具在此。吾鄉前輩申齊劉先生本草單方序語也。予故為淵然誦之，庶幾不負其編輯之勤也。</p>
<p><u>洪武陽復月廬陵友蘭父吳有壬序</u></p>
<h2>敘論癰疽發背第一</h2>
<p>外科冠癰疽於雜病之先者，變故生於頃刻，性命懸於毫發故也。夫癰疽之名，雖有二十余證，而其要有二。何則？陰陽二證而已。發於陽者，為癰、為熱、為實；發於陰者，為疽、為冷、為虛。故陽發，則皮薄、色赤、腫高，多有椒眼數十而痛。陰發，則皮濃、色淡、腫硬，狀如牛頸之皮而不痛。又有陽中之陰，似熱而非熱，雖腫而實虛，若赤而不燥，欲痛而無膿，既浮而復消，外盛而內腐。陰中之陽，似冷而非冷，不腫而實，赤微而燥，有膿而痛，外雖不盛，而內實煩悶。陽中之陰，其人多肥，肉緊而內虛。陰中之陽，其人多瘦，肉緩而內實。而又有陽變而為陰者，草醫涼劑之過也。陰變而為陽者，大方熱藥之驟也。然陽變陰者，其證多，猶可返於陽，故多生。陰變而陽者，其證少，不復能為陽矣，故多死。然間有生者，此醫偶合於法，百中得一耳。所謂發者，積於中而發於外也。大抵人之一身，皆本於五臟；五臟之氣，皆稟於胃氣。胃為五臟之根本，故胃受穀，脾化之以生氣。脾生肌肉，胃氣傳五臟而行血脈，以經絡一身，而晝夜一周。雖癰疽有虛實寒熱，皆由氣鬱而成。其因有三：內因，外因，不內外因。內因候於人迎。人迎者，左手關前一分也。外因候於氣口，氣口者，右手關前一分也。人迎氣口之脈和平，則為不內外因也。其原有五：一天行時氣；二七情內郁；三體虛外感；四身熱搏於風冷；五食炙爆、飲法酒、服丹石等熱毒。以此五者為邪氣鬱於胃中，胃氣盛而體實，則邪氣相搏而流注於經絡，澀於所滯，血脈會聚，壅結而成癰。胃氣弱而體虛，則邪氣盛而宿於經絡，凝澀流積，血脈不潮，內腐而成疽。故曰：外形如粟，中可容穀；外貌如錢，裡可著拳；惡毒膿管，寸長深滿；膿血交黏，用藥可痊；臭穢無絲，血敗氣衰；陽絕陰盛，神仙難醫。醫之用藥，當量人虛實，察病冷熱，推其所因，究其所原，而後治之，使內外相應，不可一概而論。如病發於陽而極熱，則當有順其氣，勻其血。氣順則陽氣宣通而不滯，血勻則血脈流動而自散。蓋氣為陽，血為陰，陰陽調和，病者自安。外則用涼藥而蠲之，熱盛則血得涼而易散，不散，則熱已痿而血凝於涼。此陽變為陰之漸，乃壞爛之根也。急歸溫涼以治之，解其外攻四圍之血路，出其中間已成之膿毒，然後依法以收其功也。如病發於陰而極冷，則內用平補之藥，以宣其氣，滋其血，助其元陽，從其脾胃，待其飲食進，精神回，然後順氣勻血如常法。外因熱藥，以潮會一身之氣血，回死肌，拔毒瓦斯，然後用溫藥以散之。其極冷者，而又為涼藥所誤者，不得已於三建而回陽，則病必不出，再作，方為佳。此陰變為陽之候，更生之兆也。若內陽不回，外證不見，是為獨陽絕陰，不可為矣。蓋陽者氣也，陰者血也；陽動則陰隨，氣運則血行；氣不運而血死，血死則肌死，肌死則病死矣。冷證則用熱藥者，不過行其氣血也。蓋血氣遇熱則行，遇涼則止也。雖然，冷熱之藥用之固妙，尤當先乳香、豆粉救其心，護其膜。蓋心為一身之主宰，膜為五臟之囊橐。病之初發，毒必上攻心胞絡，故先嘔逆而後癰疽，或先癰疽而後嘔逆者，胞絡根於心也。苟治之不早，則心主受毒。神無所舍，元氣昏瞑矣。病之初發，毒必旁腑肌肉，苟治之不早，則毒瓦斯透膜。膜透則元氣泄，臟腑失養，精神枯槁，脈壞絕矣。故病至盛而生者，內見五臟而膜完全者也。亦有至微而死者，肌肉未潰，而膜先透者也，此救心護膜所以為第一義歟。是方乃遇神仙秘授神聖工巧，不可具述，非尋常草醫，一草一木、一針一刀之比，得其要者，寶之寶之。</p>
<h2>服藥通變方第二</h2>
<h3>榮衛返魂湯</h3>
<p>（又名通順散，又名何首烏散。）</p>
<p>何首烏（不犯鐵）　當歸　木通（去皮節）　赤芍藥（炒）　白芷　茴香（炒）　土烏藥（炒）</p>
<p>陳枳殼（麩炒。若惡心，薑汁炒）　甘草上方只此九味各等分，水、酒、湯使隨證用之，水酒相半亦可。惟流注加獨活。每服四錢。</p>
<p>病在上，食後服；病在下，食前服。</p>
<p>此一藥，流注、癰疽、發背、傷折，非此不能效。至於救壞病、活死肌，弭患於未萌之前，拔根於既愈之後，中間君臣佐使，如四時五行更相迭旺，真神仙妙劑，隨證加減，其效無窮。何則？此藥大能順氣勻血故也。夫氣陽也，血陰也。陽動則陰隨，氣運則血行；陽滯則陰凝，氣弱則血死；血死則肌死，肌死則病未有不死者矣，必調其陽，和其陰，然後氣血勻，二者不可偏廢。只調陽不和陰，則氣耗而血凝，肌必不活，如五香連翹之類是已。只和陰不調陽，則血旺而氣弱，疾必再作，如內補十宣之類是已。然二藥亦須參用之，不可執一為妙。此藥扶植胃本，不傷元氣，蕩滌邪穢，自然順通，不生變證，真仙劑也。用法開具於後：一、發背既久不愈，乃前醫用涼藥過也。涼藥內傷其脾，外冰其血。脾主肌肉，脾土受傷，飲食必減，顏色痿瘁，肌肉不生；血為脈絡，血一受冰，則氣不旺，肌肉糜爛。故必理脾，脾健，肉自生。宜於此方中去木通，少用當歸，倍加厚朴、陳皮。盛則用家傳對金飲子，又盛則加白豆蔻之類為妙。</p>
<p>一、凡治流注，可加獨活。流注者，氣血凝滯，故氣流而滯，則血注而凝。加此藥者，可以動蕩一身血脈，血脈既動，豈復有流注乎。</p>
<p>一、流注起於傷寒，傷寒表未盡，余毒流於四肢，經絡澀於所滯，而後為流注也。如病尚有潮熱，則裡有寒邪未盡散。此方中可加升麻、蘇葉。如服此而熱不退，可加干葛。如有頭疼加川芎，並用薑水煎。如無潮熱，可用水酒相半煎，酒大能行血生氣故也。氣生血行，病愈可必然。流注須表者何也？所以推其因究其源，不忘病之根本也。寒邪既盡，表之太過則為冷流注，尤為難治，故宜略表為妙。表後第二節，宜服溫平之藥，乃十宣內補是已。如不效，第三節宜加附子，或服四桂散數服即止。溫藥亦不可多用，恐增痛苦，反成膿血不干。第四節仍歸本方收效。然表未盡，則余毒附骨而為骨癰。夫流注者，傷寒之余毒。骨癰者，又流注之敗證也。流注非傷寒之罪，乃醫者表之未盡也。骨癰非流注之過，又庸醫涼藥之過也。庸醫無識，心盲志聾，妄猶明見，雖知為骨癰，而治之無法，又復投之涼藥，烈之毒刃，則毒瓦斯滯，涼藥觸鐵器，則愈附骨而不能愈矣。不然，則人之骨何以有癰。骨而成癰，非藥所治，故名附骨疽，又名白虎飛尸。留連周期，輾轉數歲，冷毒朽骨，出盡自愈。其不愈者，至於終身有之，此皆失於初也。其骨腐者，多為副骨，尤或可痊。正骨腐則終身廢疾。故膿白而清者，碎骨初脫，肉深難取；膿黃而濃者，碎骨將出，肉淺可取，宜以利刀取之。詳在後章。此不過治骨癰之概耳。</p>
<p>又有病經數月，傷於刀刃，羸弱、拳攣、咳嗽、膿血、壞肉陰爛者，此皆冷極。陽弱陰盛，不可以唾紅為熱，宜以好附子加減治之。</p>
<p>又有毒自手腳頭面而起，疼痛遍身，上至頸項經絡所系去處，如瘍　貫珠者，此為風濕流氣之證，宜以加減小續命湯及獨活寄生湯，與此方參錯用之。</p>
<p>又有兩膝痛起，以至遍身骨節皆痛，婦人類血風，男子類軟風，此名風濕痹，又名　節，宜以附子八物東加減用之。</p>
<p>又有癰腫在項、腋、兩乳旁，兩胯軟肉處，名為　癰。此冷證無熱，宜以內補十宣散，與此方參用。小兒不可輕用附子，恐生驚癇。切不可更犯針刀，薄血無膿，　肉難合，宜以溫熱藥貼散內消。倘犯針刀，生　肉，亦以此藥收功。倘用藥微疼，略有驚癇，宜用全蠍觀音散加減用之。驚定，藥如故事。又有小兒亦患宿痰失道者，癰腫見於頸項、臂膊、胸背等處，是為冷極，全在熱藥敷貼之功，（留口。）病須再作為佳，治法在後。</p>
<p>又有流注，大如匏瓠覆碗，見於胸背，其證類發而甚惡，用藥之後，情勢一有微動，即非發矣。宜以內補十宣，與此方隨證通變用之，可以內消。大抵諸證，皆原於冷，故為痛者，骨痛也。骨者腎之余，腎虛則骨冷，骨冷所以痛。所謂骨疽，皆起腎者，亦以其根於此也。故補腎必須大附子，方能作效。腎實則骨有生氣，疽不附骨矣。凡用藥不可執一，貴乎通變。</p>
<p>一、凡癰疽初萌，必氣血凝滯所成，為日既久，則血積於所滯，而後盛作。故病患氣血盛者，此方中減當歸，多則生血，發於他所，再結癰腫，生生不絕。斯乃秘傳，醫者少知也。</p>
<p>一、凡癰疽生痰有二證：一胃寒生痰，此方中加半夏健脾化痰。二熱鬱而成風痰，此方中加桔梗以化咽膈之痰，並用生薑，和水酒煎。</p>
<p>一、凡腦發背發在上者，此方中可去木通，恐導虛下元，為上盛下虛之病，難於用藥。</p>
<p>老人虛弱者，尤宜去之。</p>
<p>一、凡病患有瀉者，不可便用此方。宜先用止瀉藥，白礬生用為末，溶開黃蠟為丸米飲下三十丸，俟瀉止方用此藥。蓋人身以血氣為主，病癰之人，氣血潮聚一處為膿，若臟腑不固，必元氣泄而血愈寒難愈。此藥大能順氣故也。大抵氣順則血行，氣耗則血寒，氣寒則血死，血死則肌肉不生。投之熱藥，則肌肉無元氣，不足以當之，徒增苦。投之涼藥，則無是理。</p>
<p>是方雖仙授，要在用之得當，不然，則有刻舟之患矣。至於流注，又不可一概論也。若涼藥耗散元氣虛敗，有用三建取效者，其疾多緣於冷故也。尤當審其脈、辯其證的出於冷，而然後用之。亦不可過，過亦有害。但陽脈回，腫處紅活，骨有生氣，寒氣不能相附為疽，即歸功本方以取效。此萬全妙法。</p>
<p>一、此藥，丸、散、末皆可水、酒、湯使，臨時裁度用之。貴人加木香為衣。病者有熱痰、咳嗽，富沉香、貧蘇葉湯皆可下，丸用蜜為丸。</p>
<p>一、此方，非但治癰疽、發背、傷折，至於男子婦人疝氣、血氣皆可用，屢獲效矣。有一婦人患氣疾五年，發時只是塊痛、嘔逆，水漿不下，一發便死。用此藥為丸，木香湯下，一服嘔止，再服痰氣順遂愈。</p>
<p>一、凡傷折，皆不脫此方，但加減有差，詳見傷折類中。如尋常打破傷損，或傷心胞，並皆治之。在頭上則去木通、枳殼，加川芎、陳皮；常用加丁皮、蘇葉能活血；加破故紙、五靈脂能破宿血。水煎熟了，卻用濃酒一盞浸入；侯再沸，卻入大黃末，空心服之。如通順，藥只四服，先二服中入大黃末，後二服不必用，只是催發便下。如不通，用枳殼湯一向催；如若不通，即不可治。不可坐視人死而不知也，補血十宣散之類。</p>
<p>一、凡傷折，常用此方，可去木通，名何首烏散。蓋首烏能扶血故也。如刀刃傷，有潮熱，面腫氣喘，乃破傷風證，可服索血散、葛根湯數服，薑蔥煎發散：或敗毒散三、四服，外用敷貼藥，依法治之，無不愈者矣。</p>
<p>一、經年腰痛，加萆　、玄胡索，以酒煎服。</p>
<p>一、香港腳，加檳榔、木瓜、穿山甲，水煎服之。</p>
<p>一、宿痰失道，非惟人不識，自仙授以來，惟余一派知之。人身有痰，潤滑一身，猶魚之有涎。痰居胃中，不動則無病，動則百病生，或喘、或咳、或嘔、或暈，頭痛睛疼，遍身拘急，骨節痹疼，皆外來新益之痰，乃血氣敗濁凝結而成也。何則？臟腑氣逆郁結生痰，當汗不汗，蓄積生痰，飲食過傷，津液不行，聚而生痰。其常道，則自胃脘達肺脘而出；其失道，自胃脘而流散冷肌肉皮毛之間。脾主肌肉，肺主皮毛。故凡胸背、頭項、腋胯、腰腿、手足，結聚腫硬，或痛、或不痛，按之無血潮；雖或有微紅，亦淡薄不熱；堅如石，破之無膿，或有薄血，或清水，或如乳汁；又有壞肉如破絮；又恐如瘰　，在皮肉之間，如雞卵浮浴於水中，可移動，軟活不硬，破之亦無膿血，針口　肉突出，惟覺咽喉痰實結塞，作寒作熱，即皆其證。急於此方中加南星、半夏等藥，以治其內；外用玉龍熱藥，以拔其毒，便成膿破為良。其輕無膿者，必自內消。如熱極痰壅，則用控涎丹：紫大戟、甘遂、白芥子等分為末，米糊為丸。如遍身腫硬，塊大如杯盂，生於喉項要處者，尤為難治。夫血氣和暢，自無他病；氣行不順，血化為痰；痰復失道，則血氣衰敗，不能為膿，但能為腫硬，理必然也。此證陽少陰多，隨證用藥，回陽生氣，補血控涎。外則用後法，作起一身氣血引散冷塊。萬一腫不消，不作痛，不為熱，體氣實無他證，肉塊與好肉無異，此又一證也。切不可輕用針刀自戕，如草醫曾用針灸，陰爛其肉；或用毒藥點脫，使人憎寒壯熱。法當通順其氣血，於此方中加升麻，以除其寒邪。用斂口結痂之藥以安之，使為疣贅而已。萬一病自作臭穢糜爛，不免動刀，則有妙劑，可以代刀，不可輕泄，即白礬枯朴硝二味為末敷之。</p>
<p>一、肚腸內癰，宜服十宣散，與此方相間用之，並加忍冬藤。此藥最治內癰，但當審其虛實，或通或補。補須用附子，通則用大黃。如不明虛實，則此方亦自能通順。十宣自能內補，可無他變。至於肺癰，初覺飲食有礙，胸膈微痛，即是此證。急須察脈，審其虛實。虛則用此方，加附子相出入用之。若稍再作，即用十宣散內補之，即自消散。實則用此方加大黃略通之，使毒瓦斯下宣為妙。蓋肺與大腸相表裡故也。如內癰已成，宜以海上方，與此方加減參用之。喘咳膿血者，肺癰也；大便有膿自臍出者，肚癰也；忍冬藤甘草節煮酒妙。</p>
<h2>用敷貼溫藥第三</h2>
<h3>沖和仙膏</h3>
<p>（一名黃云膏，又名仙膏。）冷熱不明者用之，茶酒隨證治之。</p>
<p>川紫荊皮（五兩重，炒。又名紅肉，又曰內消）　獨活（三兩重，炒，不用節）　赤芍藥（二兩重，炒）　白芷（一兩重，不見火。）　木臘（又名望見消、陽春雪，隨加減妙，即石菖蒲）</p>
<p>上五件，並為細末，用法詳見於後。</p>
<p>夫癰疽流注雜病，莫非氣血凝滯所成，遇溫即生，遇涼即死。生則散，死則凝。此藥是溫平，紫荊皮木之精，能破氣、逐血、消腫；獨活土之精，能止風、動血、引氣、拔骨中毒，去痹濕氣，更能與木臘破石腫堅硬；赤芍藥火之精，微能生血、住痛、去風；木臘水之精，能生血、住痛、消腫、破風、散血；白芷金之精，能去風、生肌、止痛。蓋血生則不死，血動則流通，肌生則不爛，痛止則不掀作，風去則血自散，氣破則硬可消，毒自散，五者交攻，病安有不愈乎。</p>
<p>一、凡病有三證，治有三法。如病極熱，則此方中可倍加紫荊皮、木臘，少用三品，亦能消散之，但功少遲耳。如病極冷，則此方微加赤芍藥、獨活，亦能活血而消散之，功亦稍遲，而不壞病。</p>
<p>一、如病熱勢大盛，切不可用酒調，但可用蔥泡湯，調此藥熱敷上，蔥亦能散氣故也。</p>
<p>血得熱則行，故熱敷也。如病稍減，又須用酒調。酒能生血，遇熱則血愈生；酒又能行血，遇溫則血愈行矣。</p>
<p>一、瘡面有血泡成小瘡，不可用木臘，恐性黏起藥時生受，宜用四味先敷，後用木臘，蓋在上面，覆過四圍，以截助攻之血路。凡敷藥皆須熱敷，干則又以元湯濕透之，使藥性濕蒸而行，病自退矣。</p>
<p>一、如用正方，四面黑暈不退，瘡口皆無血色者，是人曾用冷藥大過，不可便用玉龍，蓋肌未死也。恐藥力緊，添痛苦。宜於此方加肉桂、當歸，以喚起死血，自然黑暈退，見功效。</p>
<p>血回即除加藥，只以正方取效。</p>
<p>一、如用正方痛不住，可取酒化乳香、沒藥，於火上使熔，然後將此酒調藥熱塗痛止。</p>
<p>一、流注筋不伸者，可於此方加乳香敷之。其性能伸筋故也。</p>
<p>一、如瘡口有赤肉突出者，其證有三：一是著水，二著風，三是刀破後，刀口翻突。宜以此方加少南星以去風，用薑汁酒調。其不消者，必是庸醫以手按出膿核大重，又以涼藥涼了皮，以致如此。若投以熱藥，則愈糜爛。此又有口訣焉。宜用白礬枯朴硝二味為末敷之，次用硫黃　之外，服榮衛加對金飲，外貼沖和。</p>
<p>一、若病勢熱盛者，不可便用涼藥。熱盛則氣血壅會必多，大涼則血退不徹，返凝於涼，故宜溫冷相半用之。血得溫則動，挾涼則散。可用此方加對停洪寶丹，用蔥湯調塗貼之。</p>
<p>一、此方乃發背流注之第一藥也。學人當通變妙用，表裡相應，則病在掌握之中。但發背甚者，死生所系，惟此藥功最穩重，終始可恃，決無變壞。若發之輕者，草醫亦能取效，然有變證流弊之患。此無他，發於陰則非草醫之可治矣。豈如是劑兼陰陽而並治，奪造化之神功哉。至如流注一疾，雖不能死人，而十有九為廢疾。廢疾流連，死亦隨之。縱有醫之能愈者，亦必半年周歲之後，方見其效。此乃百中之一，然終為殘弱之身矣。惟吾此派仙方，藥奇效速，萬不失一，端有起死回生之效，非言所能盡述。夫流注乃傷寒之余毒也。故有表未盡者，余毒客於經絡，氣血不勻，則為熱流注。所謂醫之能愈者熱也。熱病少見，有表散大過氣血衰者。余毒流入腠理，腠理或疏或密為冷流注，所謂醫之難愈者冷也。冷病常多，故傷寒表未盡者，非特為熱證而已。其余毒亦多為冷證，皆原於腎虛，故作骨疽。冷則氣愈滯而血愈積，故但能為腫而不能為膿。若醫者投之以涼劑，則所謂冷其所冷，而陰死於陰，惟有壞爛肉腐，毒瓦斯著骨而為骨癰，流為廢疾。故曰：骨癰者，流注之敗證也。又曰：骨癰非流注之罪，乃醫者涼劑之過也。流者動也，注者住也。氣流而滯，則血注而凝。氣為陽，血為陰。陽動則陰隨，氣運則血行。吾所以能移流注於他處而散之者，取其能動故也。動則可移，陽既移而動矣。陰豈能獨住而不隨之者乎。是故以獨活引之者，以其性能動蕩氣血也。引之一動，則陰陽調和，不能為膿，而散之於所移之處，勢必然矣。</p>
<p>一、流注在背膊腰腿緊要處，當用此方，濃敷患處。卻單用一味獨活末，酒調熱塗一路，其盡處以玉龍誘之，此移法也。使血氣趨於他所，聚於無緊要處作膿，又或消之。若以成膿，則引不下，急將此藥拔之出毒瓦斯，免作骨疽。如庸醫用了涼藥，犯了針刀，使成骨癰，非藥所愈。又待其碎骨出盡方愈。若怯用針刀取之，則用玉龍。治法在後。若正骨出無治法，副骨出可安。</p>
<p>一方用白芷、紫荊皮酒調，以內消初生癰腫，名一勝膏。又方只用赤芍藥、木臘、紫荊皮作箍藥，名三勝膏。</p>
<p>一方治大人小兒偶含刀在口，割斷舌頭，已垂落而未斷，用雞白軟皮袋了舌頭，用破血丹蜜調塗舌根斷血，卻以蜜調和蠟，稀稠得所，調此正方敷在雞子皮上，取性軟薄，能透藥性故也。如在口溶散，勤勤添敷，三日舌接住，方可去雞子白皮。只用蜜蠟調藥，勤勤敷上，七日全安。學人觀此，則知通變活法，妙用不在師傅之功。如無速效，以金瘡藥參錯治之，尤妙，尤妙。</p>
<p>一、治癰腫未成膿，不可使用洪寶丹敷貼頭上，恐為冷藥一冰，血凝不消，不能成膿，反能爛肉。只用此方敷貼。如不消，欲其成膿，卻以玉龍貼癰頭以燥之。次用此正方在玉龍之下，四圍用洪寶丹箍住，以截新潮之血。又若病未甚冰於涼藥者，玉龍之下，不必用此方。只以洪寶丹圍之。</p>
<p>一、如救壞病，未見可用玉龍，只用此方自然穩當，免病患苦。</p>
<p>一、發背初生未成，單用紫荊皮末酒調箍住，自然撮細不開，服藥只用柞木飲子，乃救貧良劑也。</p>
<p>一、此方加南星、草烏二味三分之二，熱酒調敷，諸癰可以潰膿不痛。若單玉龍，要洪寶丹箍住，實此法妙。</p>
<p>一、　犬咬人，單用紫交沙糖調塗留口，金丹退腫，嚼杏仁置口中去毒。一法加南星、草烏二味，與此方各一半，熱酒調敷，可治久損，至妙至妙。</p>
<p>一、小兒軟節，用此方加軍薑酒調敷。若初發，只用此方酒調敷，成膿而止。若初發之時，用紫荊皮、木臘酒調敷，可以必消，切不用洪寶丹。</p>
<p>一、　疽，心火熱毒也。見於五心，痛不可忍，其狀如泡瘡而血赤，外形雖小，內有熱毒在心，腌者難治，在手足心者可療。然治之須早，稍遲或在心腌，則腐肉粉碎，神仙莫醫。凡有此疾，在手心則用洪寶丹，於手心環圍敷之，以截其血。卻用沖和於手心，留口收功。在腳心則用洪寶敷；在腳脛交骨四圍一二寸長，以沖和收功如前。</p>
<h2>敷貼熱藥第四</h2>
<h3>回陽玉龍膏</h3>
<p>（性熱。）</p>
<p>草烏（三兩重，炒）　南星（一兩重，煨）　軍薑（二兩重，煨）　白芷（一兩重，不見火）</p>
<p>赤芍藥（一兩重，炒）　肉桂（半兩重，不見火）</p>
<p>一、此方，治陰發背、冷流注、鼓椎風、久損痛、冷痹、風濕、諸香港腳、冷腫無紅赤者，冷痛不腫者，足頑麻、婦人冷血風，諸陰證之第一藥也。用熱酒調塗。用法詳具於後：一、夫雜病雖見於皮膚手足之間，而因必本於五臟六腑。蓋臟腑之血脈經絡，一身晝夜營運，周而復始，一臟受病，必見於本臟脈息所經之處，即陰陽分手足之所屬也。其為病有冷有熱，熱者易治，冷者難療。夫冷，必由臟腑元陽虛弱，然後風邪得以乘間而入，血氣不勻，遂自經絡而客於皮膚之間，脈息不能周流，遂澀於所滯，愈冷則愈積而不散；復加庸醫用涼劑，而內外交攻，則其為病，鮮有不危者矣。學人當觀其外之為證，而察其內之所屬，表裡相應，萬無失一。此藥有軍薑、肉桂，足以為熱血生血。然既生，即熱而不能散，又反為害。故有草烏、南星，足以破惡氣，驅風毒，活死肌，除骨痛，消結塊，喚陽氣。又有赤芍、白芷，足以散滯血，住痛苦，生肌肉，加以酒行藥性散氣血，雖十分冷證，未有不愈，端如發寒灰之焰，回枯木之春。大抵病冷則肌肉陰爛，不知痛癢。其有痛者，又多附骨之痛不除，則寒根透髓，非尋常之藥所能及。惟此藥大能逐去陰毒，迎回陽氣，住骨中痛，且止肌肉皮膚之病，從可知矣。但當斟酌用之，不可大過，則為全美。治法加減，疏舉如下。</p>
<p>一、發背發於陰，又為冷藥所誤。又或發於陽，而誤於藥冷，陽變為陰，滿背黑爛，四周好肉上用洪寶丹，把住中間，以此藥敷之，一夜陽氣回，黑者皆紅，察其紅活即住此藥，卻以沖和收功。如不效欲作膿，又以南星、草烏加於沖和用之。如陽已回，黑已紅，惟中間一點黑爛不能紅者，蓋血已死，可以朴硝、明礬。又云白丁香、　砂、乳香，用唾調勻，於黑紅交處作一圈，上用沖和蓋之，至明早起藥，自然去黑肉如割，卻以藥洗之，　以生肉，合口收功。</p>
<p>一、流注冷證多附骨，內硬不消，骨寒而痛，筋縮不伸。若輕用刀針，並無膿血，若只有乳汁清流，或有瘀血，宜用此藥敷之。若稍緩止，以軍薑、白芷、肉桂、草烏等分熱酒調敷，骨寒除而痛止，則氣溫和而筋自伸，肉硬自消矣。然治流注，不可無木臘，以其性能破積滯之氣，消堅硬之腫最妙。又不可多，多則能解藥性，蓋此證主於溫藥故也。</p>
<p>一、鼓椎風，起於中濕，或傷寒余毒，又或起於流注之壞證，或起於風濕虛痹。此證有三：一是兩膝相　，行步振掉，膝HT　脛骨微腫；二是膝HT　脛骨交接處，大如椎，腿股肉消，皮縮裹骨；三是上腿腫大，下股冷消。</p>
<p>蓋足膝屬肝，肝經有風寒濕氣則血脈不流而作此，遂為膝寒所澀，凝流不動。下股之血脈，有去而無返，是以愈瘦愈冷，而筋愈縮；上腿之血脈，有積而無散，是以愈腫愈熱而肉愈瘦。其原，若起於流注，則肉凝者為爛，爛則冷毒腐骨。腐骨一出，神仙無術。未破則肌肉尚未死，急以此藥，熱酒調敷膝HT　骨上腿處，以住骨痛回陽氣；又以沖和塗下腿冷處，引其血氣，使流動而不通貫血脈。又以此方敷脛骨交處，以接所引之血脈，以散所積之陰氣。內則用追風丸，倍加乳香以伸筋，如法服之，無不愈者。如人欲出方，可用五積散加薑、桂、芷、歸，又加大川烏、牛膝、檳榔、木瓜，或茶或酒調之。</p>
<p>一、男子婦人久患冷痹血風，手足頑麻，或不能舉動，可用綿子夾袋此藥在中心，卻以長長纏在痛處，用絹袋系定。此藥能除骨痛，附在肉上，覺皮膚如蟻緣，即其功也。如痹，可加丁皮、吳茱萸、沒藥、大川烏等分，然後全在追風丸，表裡交攻，去病如神。</p>
<p>一、風腳痛不可忍，內用追風丸，外用此方加生面，薑汁調熱敷。欲得立止，可依法加乳香、沒藥，化開酒調為妙。</p>
<p>一、久損入骨者，蓋因墜壓跌撲傷折，不曾通血，以至死血在所患之處，久則如雞肺之附肋，輕者苔蘚之暈。上年少之時血氣溫和，尤且不覺；年老血衰，遇風寒雨濕，其病既發。宜以此方熱酒調敷，內則用搜損尋痛丸，表裡交攻為妙。雖然血氣虛弱之人，病在胸肋腰背之間者，謂之脫垢不除，變為血結勞，不論老少，年遠近歲，大而遍身，小而一拳半肘，醫之則一。此等乃根蒂之病，此非一劑可愈，磨以歲月，方可安。未成勞者易，已成勞者難。</p>
<p>一法只用南星、草烏，加少肉桂，能去黑爛潰膿，謂之小玉龍，此法大效。</p>
<p>一、治石癰，用此方熱酒調敷外，卻用洪寶箍住四圍，待成膿後破。</p>
<p>一、婦人乳癰，多因小兒斷乳之後，不能回化；又有婦人乳多，孩兒飲少，積滯凝結；又為經候不調，逆行失道；又有邪氣內鬱而後結成癰腫。初發之時，切不宜用涼藥冰之。蓋乳者血化所成，不能漏泄，遂結實腫核，其性清寒。若為冷藥一冰，凝結不散，積久而外血不能化乳者，方作熱痛，蒸逼乳核而成膿。其苦異常，必爛盡而後已。故病乳癰者，既愈則失其乳矣。蓋乳性最寒而又滯，以涼劑則陰爛宜也。然涼藥亦未嘗不用，用於既破之後則佳。如初發之時，宜於此方中，用南星、薑汁酒兩停調勻熱敷，即可內消。欲急，則又佐以草烏，此藥味性烈，能破惡塊，逐寒熱，遇冷即消，遇熱即潰。如已成癰腫，易又從沖和，依常法用之，或加此草烏、南星二味亦可。破後觀其原，原於冷用沖和收功；原於熱用洪寶生肌，且須用乳沒住痛，以減其苦。至於吃藥，只用栝蔞散隨人虛實參以通順散、十宣相間服之。</p>
<p>多口者為乳發，乳房堅硬者為乳石，正在乳嘴處腫者為吹乳，在乳兒囊下為乳漏，以肉懸垂而血易滿故也，故為難治。一囊一口為乳癰，五十歲老人無治法。外有老人乳節，又為可治。蓋在垂囊肉上為癰，若近腦則為節矣。</p>
<p>一、宿痰失道，癰腫無膿者，可用此藥點頭。病必旁出，再作為佳，不然則元陽虛耗，此為敗證。如元陽虛耗敗證者，急用全體玉龍敷之，拔出成膿，服藥則通順散加桔梗、半夏、當歸、肉桂等藥。若病紅活熱驟，則當歸沖和為佳，切不可誤投涼劑。此方但能拔毒作膿，病回即止，不可過。若能參用陷脈神劑尤妙，出《外科精要》。</p>
<p>一、肚癰一證，十有九死。蓋胃屬陰，外寒裡熱。凡氣血潮聚，趨熱避寒，故多為內癰，不能外現，間有微影欲出，則又為冷藥所蠲，及服涼劑，雖有神仙，莫施其功，醫者可不慎乎。凡有此證，初覺腰痛，且以手按之痛苦，走閃移動，則為氣塊；若根不動，外面微有紅腫，則為內癰。急以此方拔出毒瓦斯，作成外癰，然後收功沖和，內則用通順散加忍冬藤，治法如前。若癰自能外現者，不必用此方，只用沖和為妙，不可輕用針刀。如犯鐵器，口不能合，只用玉龍貼癰頭上，四面以沖和圍之，依法自破。若膿流不快，依法用洪寶三分、薑汁七分，茶調敷之，膿出皆盡；內用十宣平補生肌，外則依然收功沖和。此證陰多陽少，損人最害，將安之際，倍服內補，以生氣血，庶幾易愈，否則消而復脹，口不合。既安之後，尤宜多服內補加附子，否則氣弱難平。證冷者，未破之先，尤宜先服附子方好；既破之後，切不可用急澀斂口之藥，恐　毒不散。服藥力到，自然合口。至於內癰已成，不能拔出，只用沖和外貼，使在外溫合成膿，自臟腑而出，不至肉爛，死生所系，全在服藥之功，治法見前。最忌毒食，食毒即發，反復雜療。又有孕婦病此者，又與此異，內用紫蘇飲安胎，勿輕與他藥。</p>
<p>若臨月則兒與膿俱下，若尚遠則膿自大腑中下，若初萌只服藥可消。若癰在外面，其證必熱，惟可用沖和收功，亦須審輕重用之，恐有誤也。</p>
<h2>敷貼涼藥第五</h2>
<h3>洪寶丹</h3>
<p>（又名金丹、寸金、四黃散、一黃散，又名破血丹、黃藥。）</p>
<p>天花粉（三兩重）　薑黃（一兩重）　白芷（一兩重）　赤芍藥（二兩重）</p>
<p>上為末，茶、酒、湯使，隨證熱塗諸般熱證、癰腫之毒，金瘡之證。</p>
<p>此一藥一涼而已，能化血為水，又能使血瘀積，又能涼肌生肉，去死肌爛肉，及能破血退腫，又能滯氣為浮，能止痛又能為痛，閉膿又能出膿，一反一復。此方藥性無他，遇涼效少，遇熱效多，故非十分陽證不可輕用，恐或凝寒，治療費力。若夫金瘡出血，非此不可，乃第一藥。余外但可為前二藥之佐使爾，當審之審之。大抵此三藥可合力同功者，可獨將專權者，可分司列職者，可合圍交攻者，可借援求救者，可勇力相持者，可正兵先鋒、奇兵取勝者，可奇兵先鋒、正兵取勝者。神聖工巧，端與兵法無異。然兵隨印轉，將遂令行。故立功取勝，存乎其人。苟非明理通變之士，何足言哉。用法如後：一、若病勢大熱，可用熱茶調敷。如證稍溫，則用酒調。若用以撮膿，可用三分薑汁、七分茶調。何也？此藥最涼，能使血退；薑汁性熱，能引血潮。故血退則被引，血潮被逐。進退相持，而後成膿作破，逼膿盡流也。</p>
<p>一、凡瘡口破處，肉硬不消者，瘡口被風所襲也。此方中加獨活以去風，用熱酒調。如又不消，則風毒已深，肌肉結實，又加紫荊皮，有必消之理矣。</p>
<p>一、此方莫善，去金瘡及諸熱症赤腫，斷諸血根，不使掀赤。若癰疽不可輕用，恐貼處不散，毒入內，在骨則成骨癰，在喉項則毒瓦斯聚喉，在胸背則陰爛臟腑，在腹肚則為內癰，殺人不救，可不慎哉。只以沖和、玉龍，依法詳證，用之為妙。</p>
<p>一、年少血壯之人，衰老血敗之士，如有濺血，無藥可止，血盡人亡。若在手足，可用茶調敷手足上下尺余遠；若在胸背腰腹，則全體敷之，把住血路，方能止。卻用斷血藥。（五倍末，方見後。）或神效軍中方　口，方得安愈。</p>
<p>一、治金瘡重者，筋斷脈絕，血盡人亡。如要斷血，須用繩及絹袋縛住人手臂，卻以此方從手臂上，用茶調敷住血路，然後卻用斷血藥　口，卻不可使內補及四物等藥，卻又能令人發嘔吐，甚則口眼　邪。少焉發煩、發熱，成破傷風。只可下對金飲加川芎、白芷、薑、棗煎自安，卻徐徐補血。如或有破傷風證，又須用破傷風藥，即葛根湯之類。（方見後。）瘡口用軍中方加九肋鱉甲酥炙碾。</p>
<p>一、凡金瘡在頭面上者，血不止。急用此方，茶調團圍敷頸上截血，瘡口邊亦用此敷，軍中方　口。重十日、輕者三日效。</p>
<p>一、凡金瘡著水，肉翻花者，可用薤汁調此方敷瘡口兩旁，以火微灸之。或用早稻稈煙熏之，瘡口水出即愈。如無水出即是風襲，可用南星茶調敷之即愈。然後以軍中方　口妙。</p>
<p>一、治婦人產後，或經絕血行逆上，心不能主，或吐血、鼻衄、舌衄，可以此方用井花水調敷頸上，生艾汁調亦妙，其血立止，然後服藥以絕原。如舌衄，必有血泡，破之復脹，可用線於舌根頸縛住勿除，於頸項上截血。內用黃芩、荊芥涼心之藥，以收其原。舌上用蜜調結口之藥以治之，泡破除線血不脹矣。服涼心藥四物東加荊芥、薄荷、朱砂。</p>
<p>一、此方用藥調塗熱毒，恐隨干隨痛，赤腫不退，當用雞子清調敷，諸熱毒難干妙。湯火瘡同。</p>
<p>一、打破傷損在胸膈上者，藥通血不下，可用綠豆水調此藥末吞之，即吐出而安。又有從高墜下，用通血藥不下，數日病患幾死。此必天時寒凍，服大黃等藥冰之，血凝片不行，可用熱酒調軍薑末飲之，片時血通，人得更生。蓋借熱性以活死血，則前藥方能行矣。</p>
<h2>合用諸方第六</h2>
<h3>黃礬丸</h3>
<p>（即護膜散。）</p>
<p>明礬（一兩重，生用為末）　黃蠟上以蠟熔開出火，俟及九分冷，傾入礬末在內，和為丸如梧桐子大。每服十丸，加至二十丸，或米湯下。未破者即潰，已破者即合。大能護膜救心，防毒內攻。</p>
<h3>柞木飲子</h3>
<p>治發背癰疽已成、未成，並宜服之。（此乃救貧良方。）</p>
<p>干柞木葉（四兩）　干荷葉心蒂　萱草根　甘草節　地榆（各一兩重）</p>
<p>上為散，每服半兩，水二碗煎至一碗，分作二服，早晚各進一服，再合滓煎。有膿者自干，成膿者自消。忌一切毒食之物。</p>
<h3>三石散</h3>
<p>治患瘡消渴小便數，宜服此藥。</p>
<p>人參　白朮　當歸　白芍藥（各一錢）　桔梗　知母　山梔子（各二錢）　茯苓　連翹　天花粉　干葛（各二錢）　肉桂　藿香　木香（各半錢）　甘草（六錢）　朴硝（一兩六錢）　寒水石　石膏（各八錢）　滑石（一兩）　大黃（八錢）</p>
<p>上為末、散，每服五錢，水一盞、薑三片，煎至一半，用布絹絞汁，入蜜少許服。漸加一兩重，一日三服，常使小便疏通。如有自利，不用朴硝、大黃。《外科精要》八味丸，亦治此證。</p>
<h3>栝蔞散</h3>
<p>治癰疽。</p>
<p>栝蔞（新舊皆可，和椒炒，碎）　川椒（二十粒）　甘草（三四寸，銼）　乳香（五粒，如皂角子大）</p>
<p>上用無灰酒三碗，煮作一碗，去滓溫服，其毒立散。未成即破，已成者膿自出，皆不用手。</p>
<p>《海上方》：治內癰有膿，敗血，腥穢殊甚，遂至臍腹冷痛。此乃敗膿所致，用此方推膿下血。</p>
<p>白芷（一兩）　白芍　白礬（枯，各半兩）　單葉紅蜀葵根（二兩）</p>
<p>上為末，蠟礬熔為丸如梧桐子大，空心食前米飲下三十丸。俟膿出盡，十宣散補之。一方，用豬膏煎鯽魚治腸癰。一方，以鱉甲燒存性服之。</p>
<h3>真君妙貼散</h3>
<p>通明硫黃（三兩）　蕎麥粉（二兩）</p>
<p>上作末，以井花水調和稀稠得所，捏作餅子晒乾，或焙乾收之。如有惡瘡，再用研碎，以井花水調敷之。如痛、即不痛，如不痛、即痛而愈。</p>
<h3>追風丸</h3>
<p>治男子婦人冷痹血氣，手足頑麻，流注經絡成鼓椎風，並皆治之。</p>
<p>沉香（五錢重，焙）　牛膝（酒浸，炒）　當歸（各三兩重，焙）　薏苡仁　白芷　川芎（各二兩重）羌活　防風（炒）　川烏（一只，泡）　赤芍（炒）　天麻（炒）　草烏（炒黃）　肉桂　乾薑（炒，各一兩）　丁皮　乳香　沒藥　木香（各五分重）　木瓜（炒，三兩重）</p>
<p>上為末蜜丸，每服三十丸，酒下。如香港腳，用酒糊為丸，溫酒下；為末，則用酒調服，忌熱食。</p>
<h3>搜損尋痛丸</h3>
<p>能接骨，遍身疼痛，久損至骨。如金刃傷則後用之。</p>
<p>乳香（二錢）　沒藥（二錢）　當歸（一兩）　軍薑（五錢，炒）　肉桂（三錢）　川芎（一兩）</p>
<p>薏苡仁（炒一兩。如筋絕脈絕，多加此一味）　丁皮（五錢）　獨活（五錢，炒）　茴香（二錢，炒）</p>
<p>草烏（五錢，炒黃色）　骨碎補（二兩，炒）　赤芍（五錢，炒）　石黏藤（炒，五錢。云二兩）　白芷（炒，五錢）</p>
<p>上作末，蜜為丸，用生薑細嚼，溫酒吞下。如為末，用薑酒調服亦可，浸酒吃亦可。如折傷，則須用藥，遍身頑麻，方可用藥。接骨加草烏一匕多，熱酒調服，量人老弱虛實，加減用之。如其人麻不解，可用大烏豆濃煎汁解之；如無豆，淡煎濃豉亦可。如吐，加薑汁。</p>
<h3>復煎散</h3>
<p>治癰疽發背。</p>
<p>黃柏　黃芩　黃連　知母　生地黃（各一錢，酒洗）　防己　山梔　羌活　黃　麥門冬甘草（炙）　獨活（各半錢）　人參（半錢）　當歸尾（二錢）　陳皮　防風梢（生）　甘草梢（生）　蘇木當歸身　五味子　豬苓　本　連翹　桔梗（各一錢）</p>
<p>上　咀，每服四錢，水二盞，煎至七分去滓，隨證上下，食前後服。</p>
<h3>神鋒散</h3>
<p>（又名替針膏。）</p>
<p>餅藥　針水　白丁香（七粒）　砂（一字）</p>
<p>上用針水調勻敷貼。</p>
<h3>烏金散</h3>
<p>去惡肉，潰滯膿。</p>
<p>巴豆（半錢）　寒食面（二兩）</p>
<p>上用水和面作餅子，巴豆燒黑色，量瘡口大小干　之。</p>
<h3>索血散</h3>
<p>凡刀刃傷，有潮熱，面腫氣喘，乃破傷風者，此藥亦以治之。</p>
<p>干葛（虛弱老人出血多者，去此，加川芎代）　防風　赤芍　細辛　羌活　桔梗（炒）　甘草肉桂　白芷（各三錢）</p>
<p>上為散，薑、蔥煎服。</p>
<h3>葛根湯</h3>
<p>治刀刃傷後發寒熱，男女流注初發，潮熱紅腫赤痛者，以此發散。</p>
<p>升麻（一兩）　葛根（二兩）　甘草（二錢）　半夏　蘇葉　白芷　丁皮　川芎　香附子　陳皮（各五錢）</p>
<p>上為散，每服二錢，薑、蔥煎，空心服之。</p>
<h3>散血散</h3>
<p>被刀刃傷，血出過多，用此藥補之。</p>
<p>人參　當歸　白芷　白茯苓　黃　（各五錢）　砂仁　陳皮　丁香（各二錢）　枳殼（炒）</p>
<p>牛膝（酒浸，各三錢）　川芎（一兩）　蒼朮（炒）　茴香（炒）　甘草（各一錢）　肉桂（一錢。若去血多，多用此一味）</p>
<p>上為　咀，每服三錢，薑、棗煎，不拘時。凡瘡口及杖瘡要生肉，須服此藥。或十宣散亦可。</p>
<h3>通血散</h3>
<p>如肉傷無血者，及打撲遍身赤腫，大小便不通，服此通之。</p>
<p>大黃（三錢，面裹煨）　當歸（三錢，焙）</p>
<p>上用蘇木、枳殼煎湯調，溫服。如用酒，加童便；有潮熱，不用酒；如不通，用炒枳殼煎湯引發。</p>
<h3>雞鳴散</h3>
<p>亦通血。</p>
<p>大黃末（生用）　杏仁（去皮、尖，炒）</p>
<p>上為末調服。</p>
<p>伯顏丞相軍中方　治刀箭兵刃所傷。</p>
<p>乳香　沒藥　羌活　紫蘇　細辛　烏藥　麝香（半字）　蛇含石（　）　濃桂　白芷（不見火）　降香　當歸　蘇木　檀香　龍骨　南星　硫黃　寄生尾　花蕊石（童便淬十數次）</p>
<p>上等分為末，干　傷處，止血止痛，去風生肌。瘡口四圍，用洪寶丹敷貼，神妙。</p>
<p>熏洗方　凡患一切癰疽發背諸瘡，打破傷損骨斷，未破或未斷而腫痛者，並皆治之。</p>
<p>桑白皮（殺傷，此為主）　白芷（一兩半）　赤芍（二兩）　烏藥（腫骨痛，此為主）　左纏藤荊芥　橘葉　藿香（臭爛加此）　葉根（亦可）</p>
<p>上銼散，隨證加減，每藥一兩重，用水二碗煎。如洗金瘡加荊芥、桑白皮，臭加藿香，毒瘡加烏　根皮，溫溫用瓶斟洗。如傷損遍身，重者可於小房內無風之處，用火先燒紅大磚數片，先用熱藥湯熏洗。如氣息溫，又用紅磚逐旋淬起藥氣令熱，得少汗出為妙。</p>
<h3>麝香輕粉散</h3>
<p>（又名桃花散。）　生肉合口，去痛住風，一切癰瘡傷折，口不合，用藥洗後，以此方干。</p>
<p>乳香　沒藥　五倍子（焙，為主）　白芷（不見火，去風生肌）　赤芍（散血止痛）　輕粉國丹（水飛）　赤石脂（　，性急）　麝香　血竭（止血生肉）　檳榔（止血）　宣郎　當歸（酒浸，焙、洗）　海螵蛸上研為細末　口。</p>
<h3>神異四七膏</h3>
<p>治一切疰瘡、惡瘡、毒瘡久不愈者，即愈。</p>
<p>乳香　沒藥　防風　羌活　白芷　赤芍　當歸　宣連　肉桂　皂角　五倍子　巴豆（去殼）</p>
<p>木鱉子　國丹　蓖麻子　無名異　檳榔　水粉　輕粉　楓香　蓽茇（一用烏葉）　松香　黃蠟（各等分）　桃、柳、槐枝　蠟膏　清油上除乳、沒、麝、輕粉、丹另研外，先用清油煎諸藥令焦，方下楓香、松香、黃蠟、蠟膏，又熬令熔，用絹濾去前藥，卻下國丹、水粉，再熬令紫色，然後下乳、沒、麝、輕末，用桃、柳、槐枝，不停手攪勻，滴水不散為度，將瓦器收貯，出火毒方用。</p>
<p>又方：止血、生肉、合口，通變用法。</p>
<p>滑石（性緩）　寒水石（　）　石膏（　，性緩）　番香（燒）　雄黃（住臭去爛）　龍骨（　，性急）</p>
<p>穿山甲（灰炒能去水）　百草霜　王不留行（炒，止血）　劉寄奴（炒，止血）　金櫻子　九裡光（止血）　苧根（燒存性）　老松皮（燒存性）</p>
<p>上各為細末，加減用之。</p>
<h3>住痛一黑散</h3>
<p>亦能止血。</p>
<p>百草霜　苧根（燒存性）　番降（燒存性）　口用。</p>
<p>先用老松皮燒存性為末，能住刀口杖瘡，一切痛不止者，亦能止之。</p>
<h3>神效復元通氣散</h3>
<p>治一切惡瘡，初覺發時，連進三服，癰疽、丁瘡、腫痛並皆治之。</p>
<p>當歸（三兩）　甘草（一兩）　生地黃（半兩）　黃　（一兩）　白芍（一兩）　天花粉（一兩）</p>
<p>熟地黃（半兩）　金銀花（二兩）</p>
<p>上　咀，每服五錢，水一盞半，煎至一盞，去滓溫服，隨證上下，食前後服。本方藥品今注於後異名：馬肝石上何首烏，碧蓮HT　水通可呼。紅牡丹名赤芍藥，陽春木臘水菖蒲。（又名陽春雪，望見消。）快胃香茴香更好，長生草獨活人蘇。金鴉散草烏形變，虎骨膏南星不殊。淮上橘來為枳殼，龍泉香炒軍薑敷。補血脂當歸酒焙，寶鼎香薑黃最殊。玉箭名為香白芷，土烏藥化土木蘇。金屑香桂不見火，紫霞膠即紫荊呼。玉髓瓊漿番乳沒，天花粉瑞雪模糊。國老實名為甘草，尋方取類可相扶。</p>
<p>制法：白芷肉桂不見火，何首烏不犯鐵器，土烏藥、赤芍、茴香、紫荊皮、望見消、軍薑並炒，獨活去節炒，當歸酒洗焙，枳殼煨，甘草炙，木通去皮節，南星煨，淮草烏煨，薑黃、天花粉生用。</p>
<h2>增添別本經驗諸方</h2>
<h3>治癰疽發背</h3>
<h4>內補散</h4>
<p>專治癰疽發背，潰濃出多，內虛少力，不進飲食。有陰證惡重者，亦治之。</p>
<p>人參　白茯苓　當歸　黃　桂心　遠志（各半兩）　芎　（一兩）　麥門冬（一兩）　甘草（半兩）　白芍　陳皮　熟地黃　五味子（各一兩）</p>
<p>上　咀，水一盞半，生薑三片，棗三枚，同煎溫服。</p>
<p>又方用：附子　桂心　乾薑　白蘞　人參　川椒（各二錢）　芎　（二兩）　赤小豆（一合半）　黃芩防風　甘草（各一兩半）</p>
<p>上為　咀，每服四錢，入酒煎，溫服之。</p>
<h4>內補黃散</h4>
<p>治癰疽，內虛不足，膿水不絕，四肢乏弱，不進飲食。久不好者，必為內漏。</p>
<p>附子　黃　肉蓯蓉　遠志　麥門冬　熟地黃　巴戟（各一兩）　白茯苓　白芍　人參石斛　甘草（各三錢）　北五味　山茱萸　菟絲子　當歸　芎　地脈　石葦（各五錢）</p>
<p>上為細末，每服二錢，以荊芥湯送下。</p>
<p>治消渴證，多發癰疽之疾，吃此水立效。</p>
<p>上收下臘月水，以HT　取絲留湯，澄清冷，溫服二十三次，病退不渴。</p>
<h4>沉香散</h4>
<p>治諸發腫毒入腹，心煩脹滿，不進飲食。</p>
<p>沉香　木香　薰陸香　丁香　大黃（各一兩）　麝香（少許）</p>
<p>上為　咀，入水煎溫服。</p>
<h4>乳香散</h4>
<p>治發背內潰，及毒瓦斯攻衝，嘔逆惡心，內攻危證。凡惡疽、疔瘡癤，宜日進一二服便毒出外，不攻臟腑之證。</p>
<p>乳香（別研）　真綠豆粉（以綠豆去皮亦可用）</p>
<p>上研為極細末，每服一錢重，新汲井水少許調服，細細呷之要。</p>
<p>經絡發背、大疽，自肩下連腰脅腫盛，其堅如石，極紫黑，醫以陳藥敷之，中夜大嘔，乃連進此藥三四服，嘔遂止，既而瘡潰，出赤水淋漓四十日而愈。又有一患瘰　者，疼痛輒嘔，服此嘔逆即止，草節煎湯調服亦可。</p>
<h4>內消散</h4>
<p>治癰疽發背，諸瘡癤結硬，疼痛不止。</p>
<p>人參　當歸　黃　川升麻　沉香　黃芩　防己　防風　瞿麥　白蘞　甘草（各一兩）</p>
<p>赤小豆（一合，炒熟）</p>
<p>上為細末，每服二錢，不拘時，溫酒調服。</p>
<h4>麥門冬散</h4>
<p>治發背乳癰赤腫，疼痛體熱，大煩渴不止。</p>
<p>黃　黃芩　門冬（各一兩半）　川升麻　赤茯苓　赤芍　玄參　當歸　甘草　知母　栝蔞根（各一兩）　生地黃上　咀，每服四錢，水煎，溫服。熱甚，加淡竹葉、燈草。</p>
<h4>木通散</h4>
<p>治癰疽諸發氣壅，大小便不通。</p>
<p>木通　黃芩　大黃　土瓜根　漏蘆　甘草　朴硝（各二錢）　梔子仁（三錢）</p>
<p>上　咀，水煎，溫服，以利為度。</p>
<h4>瞿麥散</h4>
<p>治癰疽發背，排膿止痛，利小便。</p>
<p>桂心　赤芍　當歸　黃　芎　瞿麥　白蘞　門冬（各等分）　赤小豆（一合，酒浸，炒干）</p>
<p>如諸癰已潰、未潰，瘡中膿血不絕，痛不可忍者，加細辛、白芷、白蘞、薏苡仁。</p>
<p>上為　咀，每服四錢，酒煎溫服。</p>
<h4>不止麒麟散</h4>
<p>治癰疽惡瘡，生肌後行房事，用力勞動、努復出血不止。</p>
<p>血竭　檳榔　白芨　黃連　黃柏　訶子（各半兩）</p>
<p>總為細末，用雞子白調塗敷之，用紙貼之。藥干即換，不用水調。</p>
<h4>仙方化痰丹</h4>
<p>明礬　遲礬　大半夏（湯洗七次）　大南星（各二兩，一半湯洗七次，一半皂角煮）</p>
<p>內用南星一半，切作片子，卻用不蛀皂角截斷七片，各長一寸，用水同南星煮干為度，去了皂角，只用南星焙乾，將前藥總為細末，水打硬面糊候冷，用濃生薑自然汁，在內化開，面糊為丸如梧桐子大。每服三五十丸，空心臥用淡薑湯吞下，立效。</p>
<h4>肺癰黃散</h4>
<p>（亦名桔梗湯。）　治肺癰，心胸氣壅，咳嗽膿血，肩背煩悶，小便赤黃，大便多澀，不進飲食。</p>
<p>黃　天門冬　川大黃　紫蘇葉　赤茯　桑白皮　生乾地黃（各一兩）　杏仁　蒺藜　枳殼（各一錢）　當歸　甘草（各半兩）</p>
<p>加貝母、薏苡仁。</p>
<p>上為　咀，生薑三片，水煎溫服。</p>
<h4>桔梗丸</h4>
<p>治肺癰，胸中滿，振寒脈數，咽乾不渴，時出濁唾腥臭，久久吐膿如硬米粥者用。</p>
<p>桔梗（半兩）　貝母（半兩）　巴豆（一錢，去油）</p>
<p>上為細末，煉蜜為丸如梧桐子大。強人進粥飲下五丸，羸人下三丸。若病在膈上者，吐出也；若膈下者，利出也；若下多不止者，冷飯三四匙，補之即止。治腸癰，壯熱大，微汗氣急，小腹腫痛，小便澀似淋，或大便澀難，如刀刺痛，及背肺疼痛，腸中已成膿，或大便下膿者用。</p>
<p>當歸（一兩，微炒）　甜瓜子（一合）　蛇蛻皮（一尺長）</p>
<p>上為　咀，每服四錢，水一盞半，煎至一盞，去滓，食前服之。利下惡物，為妙效矣。</p>
<h4>牡丹散</h4>
<p>治腸中未成膿，腹中疼痛不可忍者。</p>
<p>木香　牡丹　敗醬　甜瓜子　赤芍　桃仁　芒硝　川大黃（微炒，各三兩）</p>
<p>上為咀散，用水煎服。</p>
<h4>茯苓湯</h4>
<p>治腸癰，小腹牽強，按之疼痛，小便不利，時時有汗出，惡寒脈遲，未成膿也。</p>
<p>赤茯　桃仁　甜瓜子　川大黃（微炒）　川芒硝　牡丹上　咀，用水煎服，三四日即愈。</p>
<h4>牛黃散</h4>
<p>治腸癰成膿者，治之。</p>
<p>牛黃（一錢）　血竭（半錢）　大黃　牙硝　牽牛　牛蒡子　破故紙總為細末，用溫酒調服，以利下膿血為度。</p>
<p>《千金方》：凡人患腸癰，其狀兩耳葉文理甲錯，初患腹中苦疼痛，或繞臍痛，有瘡如粟，皮熱，便膿血似赤白下者，不治者必死也。</p>
<h4>漏蘆湯</h4>
<p>漏蘆　黃芩　白芨　麻黃（去節）　大黃（各三兩）　升麻　白薇　枳殼（去白面，炒）　芍藥粉草（各二兩，炙）</p>
<p>上為　咀，每服四錢，水一盞，煎至七分，空心熱服。本方黃芩去之。若見熱而實者，加大黃五兩，或加芒硝亦可。</p>
<h4>升麻和氣飲</h4>
<p>治瘡疥發於四肢，痛癢不常，甚至憎寒發熱腫下濕癢，並皆治之。</p>
<p>升麻　干葛　桔梗　蒼朮（各一兩）　枳殼　半夏（制）　乾薑（各半兩）　陳皮　白芷　甘草（各一兩）　茯苓　當歸　大黃（蒸，各半兩）　芍藥（七錢半）</p>
<p>上　咀，每服四錢，水一盞，生薑、燈心同煎，食前溫服。</p>
<h4>復元通氣散</h4>
<p>治諸氣澀，耳聾，腹癰，便癰，瘡疽無頭。止痛消腫。</p>
<p>青皮　陳皮（各四兩）　穿山甲（炮）　甘草（半生熟）　栝蔞根（各三兩）　金銀花（一兩）</p>
<p>加連翹、大黃、當歸（各半兩），皂角刺（一兩）</p>
<p>上為細末，熱酒調下，或用酒煎亦可。</p>
<h4>黃茯苓湯</h4>
<p>治諸癰疽膿出大多，虛熱不停。</p>
<p>赤茯苓　升麻　大黃　黃　黃芩　遠志　赤芍（各一兩）　甘草　人參　當歸　生地黃（各二兩）　麥門冬（一兩半）</p>
<p>上　咀，每服四錢，水煎服之，大效。</p>
<h3>治諸疔瘡方法</h3>
<p>如疔瘡初出，以不變色及不知疼痛，按搖不動，嵌頂，身發寒熱，便是此瘡。氣疔、水火疔、蛇眼、石疔、雄雌疔、爛疔、血疔、刀斧疔、紅絲、魚睛、紫硯、麻子諸般疔，急用圈黃藥，用臘月間雄豬膽一個，入雄黃、京墨、薑汁末，入為於膽內，用此藥塗在瘡上圈之，便不走黃。元疔發之上，便打一針，直到痛處便住，血出無妨，便入仙蟾拔毒，取黃藥入於瘡口內，即用水沉膏貼之，神應膏亦可。取黃回時，以瘡紅腫為度。四圍腫，可以放針出血毒黃水。如是走黃，看血筋到何處，以用火針刺斷其血筋立住，便不走黃。看先黃走入何處，結成一塊，便是黃者，可以黃上便放三五十針，等出血及毒瓦斯，即用敷黃藥敷出毒矣。如是黃走者，左過右、右過左者，難治之，必死也。瘡上黃上放針無血出，如血紫黑者，難治，亦死也。用針取黃不用鐵針，只用金、銀、銅針者，初發急服追疔奪命湯，即能內消立效，以服飛龍奪命丹亦可，後服化毒消毒托裡散。以服諸藥，皆要大汗出為度。</p>
<h4>取蟾酥法度</h4>
<p>上將活蝦蟆眉棱上，用手裹捻油紙上，或是黃桑葉上便有蟾酥，用竹篾青刮離紙葉上，便於原刮竹篾上，插在背陰處，經宿酥自然干，收用之。</p>
<h4>追毒丹</h4>
<p>取黃去疔頭，追膿毒立效。</p>
<p>蟾酥（一錢，干用老酒化）　蜈蚣（酒浸，炙干黃）　砂（一錢）　白丁香（一錢，無此味加巴豆）　巴豆（七粒，去殼不去油）　雄黃（二錢）　輕粉（一錢）　朱砂（二錢，為衣。如無，黃丹亦可）</p>
<p>總為細末，面調水為丸。如丸不就，用酒打面糊為丸如麥大，兩頭尖，入於針破口內，用水沉膏貼之，後用膏藥及生肌藥迫出膿血毒物。又如有黑陷漏瘡者，四圍死敗肉不去，不生肌者，不可治也，亦用此藥追毒，去死肌敗肉，生新肉愈矣。小者用一粒，大者加用之。病輕者不必用針，只以手指甲爬動於瘡頂上，安此藥水沉膏貼之，其瘡即時紅腫為度，去其敗肉為妙，用之神效立驗。</p>
<h4>水沉膏</h4>
<p>將白芨末放在盞內，用水沉下去，用紙貼之，如用膏不可用生肌藥，方在前。敷黃藥蟬蛻　僵蠶又方：絲瓜葉、連須、蔥白、韭。</p>
<p>又方：蒼耳根苗燒灰，白監梅灰，藍靛為妙。</p>
<p>總為細末，酸醋調塗四周，留瘡口上，毒出如干，再以醋常常潤濕為度。如不退，加前敷藥、化毒散血拔毒散立效。</p>
<p>疔瘡陷頂，專治疔瘡發背，諸般惡瘡癤及膿水不干者。以用鐵鏽，不拘多少，研為細末，用醋調塗疔瘡上，須臾疔毒自然凸出，膿水即干，立效。</p>
<h4>追疔奪命湯</h4>
<p>秘方速效，能內消腫。</p>
<p>羌活　獨活　青皮（多用）　防風（多用）　黃連　赤芍　細辛　甘草節　蟬蛻　僵蠶　腳連（各等分）</p>
<p>加河車、澤蘭、金銀；有膿，加首烏、白芷；要利，加青木香、大黃、梔子、牽牛；在腳，加木瓜。</p>
<p>上　咀，每服五錢，先將一服加澤蘭、（少用葉。）金銀花各一兩，生薑十片，同藥擂爛，好酒鏇之，熱服；不吃酒者，水煎為妙。然後用酒、水各一盞半，生薑十片，煎至熱服，汗出為度。病退減後，再加大黃二錢，煎至熱服，再以利一兩服，去余毒為妙。此方以藥味觀之，甚若不切，然效速於神驗，萬無一失，累用累效。如有別證再出，宜隨證加減治之速效。</p>
<p>若心煩嘔吐，加甘草節一錢，豆粉，酸漿水下。嘔逆惡心，加乳香、豆粉，甘草湯下，紫河草、老薑，用米醋一口吞下。心煩嘔，名伏暑，用朱砂五苓散。嘔逆，加母丁香、石連。不止，用不換金正氣散，又加人參、木香。嘔不止，因吃水多，手足冷，以黃連香薷散吞之消暑丸。冷不止者，加宣木瓜、牽牛。心煩加麥門冬，赤芍、梔子、燈草。潮熱，加北柴胡、黃芩、淡竹、絲茅根。眼花，加朱砂、雄黃、麝香少許。腹脹加薏苡仁、寒水石；自利，加白朮、白茯苓、肉豆蔻、米殼。腹內痛不止，加南木香、乳香。喘嗽，加知母、貝母、蜜少許。頭疼，加川芎、白芷、蔥白；痛不止，加蘿卜子、川芎、蔥白擂碎敷於太陽即止。痰涎多，加生艾尾葉，用米醋擂取汁，嗽去痰。咽喉痛，加山豆根、靈消根、梔子、淡竹葉、艾葉、燈草。大便秘，加赤芍薑製，枳殼、大腹皮。小腑秘，加赤芍、赤茯、木通、車前、燈草。尿血出，加生地黃、車前。鼻血出，加野紅花、地黃、藕節、薑皮生用。骨蒸，加絲茅根。無脈，服二十四味流氣飲。瘡不痛，頂不起，灸三狀，更不痛，不治。秘方，加進葉，速效內消，一生受用矣。</p>
<h4>飛龍奪命丹</h4>
<p>專治疔瘡發背，腦疽，乳癰疽，附骨疽，一切無頭腫毒惡瘡，服之便有頭，不痛者服之便痛，已成者服之立愈。此乃惡證藥中至寶，病危者服之立可矣，萬無失一。此乃家傳之秘方，一生受用，不敢輕泄，神速之驗，即愈立效。</p>
<p>蟾酥（二錢，干者老酒化）　血竭（一錢）　乳香（二錢）　沒藥（二錢）　雄黃（三錢）　輕粉（半錢）　膽礬（一錢）　麝香（半錢）　銅綠（二錢）　寒水石（一錢）　朱砂（一錢，為衣）　海羊（二十個，蝸牛即是，連殼用之）　腦子（半錢，無亦可）　天龍（一條，酒浸炙黃，去頭足）</p>
<p>上為細末，先將海羊研為泥，和前藥為丸如綠豆大。如丸不就，入酒打面糊為丸。每服二丸，先用蔥白三寸，令病患嚼爛，吐於手心，男左女右，將藥丸裹在蔥白內，用無灰熱酒三四盞送下。於避風處，以衣蓋覆之，約人行五裡之久，再用熱酒數杯，以助藥力，發熱大汗出為度矣。</p>
<p>初覺二丸即消，如汗不出，重者再服二丸，汗出即效。三五日病重者，再進二丸即愈。</p>
<p>如疔瘡走黃過心者，難治之。汗出冷者，亦死矣。如病患不能嚼蔥，擂碎裹藥丸在內，熱酒送下。瘡在上食後服，瘡在下食前服。服此藥後，忌冷水、黃瓜、茄子、油、豬、雜魚肉、濕面，一切發風發瘡毒類之物，不可食之。又忌婦人。洗換狐臭，百發百中，此藥活人多矣。</p>
<p>歌括：血竭蟾酥輕粉，雄黃銅綠朱砂；膽礬寒水麝香加，三七海洋研化。專治疔瘡惡毒，腦疽發背無差。如綠豆大二丸佳，細嚼蔥酒送下。衣被蓋之汗出，返魂救死堪夸。神仙傳與世人家，奪命金丹無價。</p>
<p>凡患疔瘡癰疽等瘡癤毒，專治此瘡，能令內消去毒，化為黑，水從小便出，萬無失一。此方不得秘，又不許輕泄，謹之，慎之，寶之可也。</p>
<p>乳香　知母　半夏　天花粉（可加貝母）　穿山甲　白芨　皂角　銀花（各一錢）</p>
<p>上為　咀，用無灰酒一碗，煎至半碗去滓，只作一服溫服，不得加減。再將滓搗碎為細末，加秋過芙蓉葉一兩，用蜜調井花水及敷藥於瘡口上，如干再用蜜水潤濕過一宿自然消，不必用第二服。</p>
<h4>雄黃丸</h4>
<p>利大腑，去毒積。</p>
<p>鬱金　雄黃（各半兩）　大戟　芒硝（各一兩）　巴豆（四十粒，去殼不去油）</p>
<p>上為細末，面糊為丸如綠豆大。每服七、八、九丸，用巴豆半粒擂爛，冷白湯送下。如要打痰，以桑白皮、杏仁煎湯，冷吞下即行。</p>
<p>又方：以大戟為末，每服三四錢，茶清調服即行。</p>
<p>又方：如要下積，用江子二十一粒，木香、丁香、桃仁各等分為細末，面糊為丸如綠豆大，溫白湯吞下。</p>
<p>過藥江子（一兩）　豆豉（二兩）</p>
<p>上為細末，面糊為丸。每服七丸，白湯送下即行。忌食熱湯物。過後，以溫白粥、米湯補之。</p>
<p>拔黃藥：用蟾酥、飛羅面為丸如梧桐子大，可將一丸放在面前舌下，即時黃出。</p>
<h4>百二散</h4>
<p>（又名護心散。）治發疔瘡煩躁，手足不住發狂者，急宜服之。</p>
<p>甘草節　綠豆粉　朱砂（各等分）</p>
<p>上為細末。甚者水調服之，大效。</p>
<h4>返魂丹</h4>
<p>治病同前。</p>
<p>麝香（少許）　雄黃（二錢）　蟾酥（一字）　江子（七粒，去殼，燈上燒存性）</p>
<p>上為末，和酥點舌上三次，含化咽之，其疔自爆，勿用鐵器，忌之。</p>
<h3>治瘰神效方法</h3>
<p>凡患瘰　，不問年深月久者，先用箍子箍住其瘡，以後用艾火，從下面兒　上灸一個起，以等下灸上去，灸到母發之處即住，每一個上用大蒜一片貼之，灸五七壯止，隨灸一個，便用膏藥貼之，當時一日一換，立見神效矣。</p>
<p>秘傳膏藥真綠豆（二兩半，炒，用銅銚子炒黃色，枯了為妙）　檀香（半兩，焙乾用）　香竭（香節亦可）膽礬（半兩，真者取毒生肌，後不用此味）　乳香　沒藥（各半兩，痛用）　輕粉（匣子亦好，少用）　南蛇膽（無亦可）　麝香（破者可用，初灸不用）</p>
<p>上為細末，諸藥半兩，可用豆粉五兩，米醋調成膏，攤開油紙上貼之。不生肌，加生肌藥即愈矣。</p>
<h4>五香連翹散</h4>
<p>治一切積熱，結核，瘰　，癰疽，惡瘡，腫癤。</p>
<p>沉香　連翹（去蒂）　桑寄生（升麻亦可）　丁香（去枝梗）　射干　獨活　乳香　升麻　大黃（蒸，要利生用）　木通　羌活　甘草　麝香（破者用）　青木香（各等分）</p>
<p>又方加生黃　。</p>
<p>上為　咀，每服四錢，水二盞煮取八分，食後熱服，以利下惡毒為度。本方有竹瀝、芒硝隨證熱輕重，當自加減為妙，再用此滓煎湯洗之，其瘡即愈。</p>
<h4>立效散</h4>
<p>（又名六一散、益無散。）瘰　初發之時，服此藥即安。</p>
<p>滑石（一兩）　甘草（二錢）</p>
<p>二味為末，先將此末每服一錢半，米飯調服。臨睡進一服，半夜再進一服。</p>
<p>又方：用荊芥穗、僵蠶、黑牽牛各四錢，斑蝥二十八個。（去頭、足、翅，入糯米炒黃色，去斑用米。）</p>
<p>總為細末，每服一錢，至五更初時，用溫酒調服，等惡物從小便中出。如小便無惡物行，次日再進一服。又不行，第三日早五更初，先進白糯米稀粥，卻又再一服，更以燈草湯調琥珀末一錢服之，以小便內利下惡物為效，絕根不發。如肚疼痛不止，利惡毒不住，可用生冷茶補之。肚痛不止，用防風擂水解之。前藥不可多用。</p>
<h4>牛蒡子丸</h4>
<p>治風毒，結核，瘰　，腫痛不止。</p>
<p>牛蒡子（微炒）　首烏（各一兩）　干薄荷　雄黃（各二兩）　牛黃　麝香（各二錢）　皂角（七皮，水二升，捶汁煉膏）</p>
<p>上以為末，用皂角膏為丸如梧桐子大。每服二十丸，煎黃　湯下。</p>
<h4>四聖散</h4>
<p>治瘰　去利後，用此補之。</p>
<p>海藻　石決明　羌活　瞿麥穗（各等分）</p>
<p>上為細末，每服二錢，米湯調下。</p>
<h3>經驗治咽喉方法</h3>
<p>夫咽喉者，為一身之總要，與胃相接，呼吸之所從出。若有胸膈之間蘊積熱毒，致生風疾，壅滯不散，發而為咽喉之病。喉內生瘡，或狀如肉腐為腫為痛，窒塞不通，吐咽不下，甚則生出重舌。治之尤宜先去風痰，以通咽膈，然後解其熱毒，遲則有不救之患。又有熱毒沖於上而生瘡，謂之懸癰，及腑寒亦令人咽門吐吞不利。臨病須當審詳其證，施以法治。</p>
<h4>化毒托裡散</h4>
<p>治咽喉風熱上攻急閉，腮頰腫痛，並雙蛾單蛾結喉，重舌木舌，並皆治之，以利即解。</p>
<p>玄參　木通　大黃（生用）　淡竹葉　梔子　生地黃　燈草（各等分）</p>
<p>上為　咀，每服水煎溫服。</p>
<p>灌漱急解，用水清油調皂角末、百草霜吞下亦可。</p>
<h4>山豆根湯</h4>
<p>治咽喉腫閉疼痛。灌漱去痰，噙之咽下即愈。</p>
<p>山豆根（解毒）　靈霄根（生肌）　梔子　淡竹葉　艾葉　燈草上為　咀。吃酒者，用酒煎；不飲酒者，水煎亦可。有孕婦人不可服。若諸喉生瘡者，好了吃此藥五六服，絕根好矣。</p>
<h4>吹喉祛風散</h4>
<p>治咽喉中生瘡、腫痛，纏喉風閉，單蛾雙蛾結喉，急喉風，飛緣入喉，重舌、木舌等證。</p>
<p>膽礬（鴨觜炒）　腦子（一字）　碧雪　白僵蠶（炒去絲）　苦丁香（即甜瓜蒂，不用多）　燈草（米糊漿炒）</p>
<p>若病不退，加雄黃、豬牙皂角，去皮炙黃，焰硝、藜蘆。</p>
<p>上為細末，每用少許吹入喉中，未成者速散，已成者即破立愈。重者吹入鼻中。如痰多，急解，用生艾尾葉，米醋同擂取汁噙之，灌漱去痰，立愈矣。</p>
<p>又方：用臘月豬膽，以明礬為末，入在膽內，風中吹干，取礬碾末吹之，立效。每年發者，可灸火不發。</p>
<p>又方：若牙關緊閉者，取九龍川名金釵草，單枝上為妙，只用根不用皮，打碎用綿子裹著，縛在筋頭上，以去五六次於牙關上，牙關即開。又以喉中五六次，痰涎即出。後用火炙鹽為末，綿子帶鹽去潤之即愈。進食後有返復，取生薑捶碎，將皂角炙過，炙鹽為末，用綿子裹薑帶鹽，並皂角末去潤五六次，即能愈矣。</p>
<p>治纏喉閉急證，以米醋生薑同擂灌之，喉瘡即破。</p>
<p>鼓槌草　土牛膝加烏藥為妙。</p>
<p>上二味生擂碎取汁，用醋灌下，重者灌於鼻中，吐痰即愈。干者為末，米醋煎之亦可矣。</p>
<h4>如聖散</h4>
<p>治急時氣纏喉風，漸入咽塞，水穀不下，牙關緊急，不省人事，並皆治之。</p>
<p>雄黃　藜蘆（生）　白礬　牙皂（去皮、炙黃）</p>
<p>加蠍梢七枝。</p>
<p>上為細末，每用一字，吹入鼻中，吐出頑痰愈矣。</p>
<p>又方：用白藥、山豆根同煎噙之，灌漱後咽下一二口即愈。</p>
<h3>經驗治瘋狗咬人方法</h3>
<p>如若瘋狗才傷人之時，即便吃清油半盞，能清其心，急取雄黃炒斑蝥去頭、翅、足，研為細末，一日服一個，用雄黃以酒調服，至七七四十九個，以服四十九日，少用冷水入清油亦可。若小便利，下惡毒為度，如不利者，多進一服，利後肚腹疼痛，急用冷水調青靛服之，以解其痛，再以黃連水煎服之亦可。服藥之後，不得便吃熱物，即絕根愈矣。瘡口莫等好，如不破可以灸破，待出血去毒瓦斯，再不發也。如是小便出血，不可治也，此之必死矣。</p>
<p>治傷人死對周急解之。凡傷人已後，至一年或一百日內發者已死，但心間溫者，便可救之。</p>
<p>急取槐花一斤，用酒水二大碗煎至碗半，以溫服之；不能用者，挑開口灌入喉中，少時便能蘇省，一個時辰之後，用溫清粥與吃之，此個即無事矣。如若不然，再將藥滓煎服之，不可與冷水及羊肉，一應發風毒類之物，切須忌之。</p>
<p>又方：若復發者，無藥可療，用之極驗。</p>
<p>雄黃（明者，五錢重）　麝香（五錢重）</p>
<p>上各研為細末，勻和一處，用好酒調二盞服之。如不能服者，則捻其鼻而灌之。</p>
<p>服藥已後，必然得睡，切莫驚起，任其自醒，後利下惡物，再進藥數服，即見此藥效矣。</p>
<p>又經驗方法：用杏仁不拘多少，去其皮尖，又以馬藺根一處同研細，先以蔥煎湯洗之，然後再以此藥敷之，或單以杏仁一味，去皮尖用之亦可。</p>
<p>又方：用蓖麻子五十粒去殼，以井花水研成膏，先以鹽湯洗淨，後敷之。</p>
<p>又方：用虎骨油搽之，即可立見效矣。</p>
