<header><h1>養生秘旨</h1></header>
<dl class="元資料" data-type="book">
<div><dt>作者</dt><dd>馬齊</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1644/1911">公元1644年至公元1911年</data></dd></div>
</dl>
<h2>孫真人衛生歌</h2>
<p>天地之間人為貴，頭象天兮足象地，父母遺體宜寶之，「洪范」五福壽為最。衛生且要知三戒，大怒大欲並大醉。三者若還有一焉，須防損失真元氣。欲求長生須戒性，火不發兮心自定，木能去火不成灰，人能戒性還延命，貪欲無窮忘卻精，用心不已失元神，勞形散卻中和氣，更仗何因保此身。心若太費費則竭，形若太勞勞則怯，神若太傷傷則虛，氣若太損損則絕。世人欲識衛生道，喜樂有常嗔怒少，心誠意正思慮除，順理修身去煩惱。春噓明目夏呵心，秋　冬吹肺腎寧，四季常呼脾化食，三焦嘻出熱難停。發宜多梳氣宜煉，齒宜數叩津宜咽，子欲不死修昆侖，雙手揩摩常在面。春月少酸宜食甘，冬月宜苦不宜咸：夏日增辛宜減苦，秋來辛減略加酸，季月少咸甘略戒，自然五臟保平安，若能全減身康健，滋味能調無病難。春寒莫放綿衣薄，夏月汗多宜換著，秋冬覺冷便加添，莫待病生才服藥。唯有夏月難調理，伏陰在內忌冰水，瓜桃生冷宜少餐，免至秋來成瘧痢。心旺腎衰色宜避，養腎固精當節制，常令腎實不虛空，自然強健無憂慮。</p>
<p>大飽傷脾飢傷胃，太渴傷血多傷氣，飢餐渴飲莫太過，免致膨　傷心肺。醉後強飲飽強食，未有此身不生疾，人資飲食以養生，去其甚者自安適。食後徐行百步多，平摩臍腹食消磨。夜半靈根灌清水，丹田濁氣切須呵。飲酒可以陶情性，劇飲過多防百病。肺為華蓋倘受傷，咳嗽勞神能損命。慎勿將鹽來點茶，分明引賊入人家。下焦虛冷令人瘦，傷腎傷脾防病加。坐臥防風來腦後，腦後受風人不壽，更兼醉飽臥風中，風入五內成災咎。雁有序兮犬有義，黑鯉朝北知臣禮，人無禮義反食之，天地神明終不喜。</p>
<p>養體須當節五辛，五辛不節反傷身，莫教引動虛陽發，精竭榮枯病漸侵。不問在家並在外，若遇迅雷風雨大，急宜端肅畏天威，靜坐澄心須謹戒。恩愛牽纏不自由，利名縈絆幾時休，放寬些子留余福，免致中年早白頭。頂天立地非容易，飽食暖衣寧不愧，思量難報罔極恩，晨夕焚香頻告解，身安壽永福如何，胸次平夷積善多，惜命惜身兼惜氣，請君熟玩衛生歌。</p>
<h2>可惜歌</h2>
<p>可惜許，可惜許，可惜元陽宮裡生，一點既出顏色枯，百神泣送真陽去。三魂喜，七魄無，血敗氣衰將何補，弄元真物屬他人，赤宅元君誰做主？勸世人，須慕道，休慕色，慕色貪淫有何益？不念形骸積漸枯，逢人強說丹砂力。丹砂力，人不識，誰人肯向身中覓，靈源經裡號真鉛，丹華訣內名金液。三茅真君喚作一，子得一時萬事畢，聖人秘一不能傳，不曉分明暗如漆。一神去，百神離，百神去後人不知，幾度欲說不欲說，臨時一點泄天機。一神離，百神悲，日後形悴卻如痴，我今念念說向汝，說時又恐泄天機。男子修成不漏精，女子修成不漏經，精不漏兮身不朽，經不漏兮可長生。若曉此玄玄外法，便是長生物外人。</p>
<h2>長生歌</h2>
<p>與君直說長生理，世上能有幾人知。爭名逐利心如火，那個回頭問道機，哀哉忙忙世上人，個個不醒似夢裡。夜眠晝走豈知老，貪戀榮華秋復春。秋復春兮去如飛，不學長生待幾時。長生有路無人走，只在眼前人不知。君不知兮為君指，還丹大要在神水。真人煉就結成鉛，真鉛結汞龍鳳髓。膩如膏，白如雪，神仙留下真秘訣。煉歸元海號還丹，萬神靈兮三尸滅。三尸滅兮壽數多，把定靈關降龍虎。三千功行自能靈，返老還童歸洞府。運匹配，逆順取，坎男離女喜同歸。自古神仙訣盡同，人人認取本來宗。朝朝只在君家舍，何勞外覓走西東。勸君急急早須修，莫待紅顏變白頭。忽然至寶離身去，永劫千生何處求。</p>
<h2>青天歌</h2>
<p>青天莫起浮云障，云起青天遮萬象，萬象森羅鎮百邪。光明不顯邪魔旺。我初開廓天地清，萬戶千門歌太平，有時一片黑云起，九竅百骸俱不寧。是以長教慧風烈，三界十方飄蕩徹，云散虛空體自真，自然現出家家月。月下方堪把笛吹，一聲響亮振華夷，驚起東方玉童子，倒騎白鹿如星馳。逡巡別轉一般樂，也非笙兮也非角，三尺云墩十二徽，歷劫年中混元斫。玉韻琅琅絕鄭音，輕清偏貫達人心，我從一得鬼神輔，入地上天超古今。縱橫自在無拘束，心不貪榮身不辱，閑唱壺中白雪歌，靜調世外陽春曲。我家此曲皆自然，管無孔兮琴無弦，得來驚覺浮生夢，晝夜清音漏洞天。</p>
<h2>養生銘</h2>
<p>怒甚偏傷氣，思多太損神。神疲心易役，氣弱病來侵。勿使悲歡極，常令飲食均。再三防夜醉，第一戒晨嗔。亥寢鳴云鼓：晨興漱玉津，妖神難犯己，精氣自全身。若要無諸病，常當節五辛。安神宜悅樂，惜氣保和純。壽夭休論命，修行在本人。若能遵此理，平地可朝真。</p>
<h2>卻病十法</h2>
<p>靜坐觀空，覺四大原從假合，一也。煩惱現前，以死譬之，二也。常將不如吾者強自寬解，三也。造物勞我以形，遇病稍閑反生慶幸，四也。宿業現逢不可逃避，歡喜領受，五也。家室和睦，無交謫之言，六也。眾生各有病根，常自觀察克治，七也。風露謹防，嗜欲淡泊，八也。</p>
<p>飲食寧節毋多，起居務適毋強，九也，覓高明親友，講開懷出世之談，十也。</p>
<h2>病有十不治</h2>
<p>操欲　淫，不自珍重，一也，窘苦拘囚，無瀟洒之趣，二也，怨天尤人，廣生煩惱，三也。今日預愁明日，一年常計百年，四也。室人噪聒，耳目盡成荊棘，五也。聽信師巫禱賽，廣行殺戮，六也。寢興不適，飲食無度，七也。</p>
<p>諱疾忌醫，使虛實寒熱妄投，八也。多服湯藥而滌腸胃，元氣漸耗，九也。以死為苦，與六親眷屬常生難割舍之想，十也。眾生諸苦，病居第一。愚者以苦生苦，如蠶作繭，智者於苦滅苦，如鳥脫籠。余悲眾生障深，難即解脫，書之以作方便法門耳。</p>
<h2>長生在惜精論</h2>
<p>鐘離師曰：長生不死由人做。長生亦有道乎，昔箕子序六極曰：凶短折。則知人之不能永年者，亦自戕其生也。譬諸草木方長，從而折之，鮮有能暢茂者矣。蓋人身三寶曰精氣神者，人謂修丹須斷淫欲，養生者當以此為第一義也。或曰：煉精者，煉元精，非交感之精，豈在淫欲之斷乎？不知元精與淫佚之精本非二物，凡人未交感時，身中無處有精，《內經》云：腎為精府，又云：五臟各有臟精，井無停泊之所。蓋此時精皆涵於元氣之中，未成形質，唯男女交感，此氣化而為精，自泥丸順脊而下，至膀胱外腎而施泄，則此精即為渣滓之物，而曰交感之精矣。是其生於真一之中，則為元精；漏於交感之中，則為淫欲。其為元氣則一也。是以修仙家只留得精住，則根本壯盛，生氣日茂。若欲心不息，靈根不固，此精日耗，元氣日少，漸漸竭盡而死矣。乃世人於交感時，手按尾閭，閉其淫佚之精，謂之留精不泄。不知留精者，當留於未成形質之先，若俟其成質而後止之，則此精已離腎府，而神氣已去，使敗穢之物積於腰腎之間，致釀成奇癖之疾，何其愚哉？而盲師又誑之曰：宜引此精自尾閭夾脊雙關而止，乃為返精補腦，名泥水金丹。噫！是殺人而不操刃者也，能逃天譴乎？然則人之欲留精者，必於平時清心純念上做工夫始得。</p>
<h2>前修格言</h2>
<p>《太上玄鏡》曰：純陽上升者謂之氣，純陰下降者謂之液，氣液相交於骨脈之間謂之髓，相交於膀胱之外謂之精。心氣在肝，肝精不固，目眩無光；心氣在肺，肺精不固，肌肉瘦弱；心氣在腎，腎精不固，神氣減少；心氣在脾，脾精不固，齒發浮落。五臟之中，腎為精樞，心為氣管，真精在腎，余精自還、下曰：真氣在心，余氣自歸元府。</p>
<p>呂祖師曰：精養靈根氣養神，此真真外更無真，神仙不肯分明說，迷了千千萬萬人。</p>
<p>又曰：二八佳人體似酥，腰間佩劍斬愚夫，雖然不見人頭落，暗裡教君骨髓枯。</p>
<p>彭祖曰：可惜可惜真可惜，自家有寶人不識，將來送於粉骷髏，卻向人間買秋石。</p>
<p>又仙真曰：尾閭不禁滄海竭，九轉神丹都謾說，總有斑龍頂上珠，難補玉堂關下闕。</p>
<p>寥陽師曰：夫人身中元氣，日日發生，只為不知保養，故被二邪侵削。何為二邪？風寒暑濕之邪，喜怒哀樂之邪，日夜攻伐，所以元氣耗竭，遂至於亡。真人知道保命，在留得元氣住，故敢人升元精、保元氣，合做一處，至堅至固，不耗不散，禁得二邪侵伐，然後能長生久視。</p>
<p>施肩吾曰：氣是添年藥，心為使氣神，能知行氣主，便可作仙人。</p>
<p>譚紫霄曰：神猶母也，氣猶子也，以神及氣，如以母召子，孰敢不至？劉赤腳曰：神氣自然，如子母相愛，只為塵情相隔，不能相見，若去了一分塵情，即有一分升降。</p>
<p>李清庵曰：心歸虛寂，身入無為，動靜俱忘，到這裡精自化氣，氣自然化神，神自然還虛。</p>
<p>丘長春曰：修行須要三全。戒思慮，神全；戒言語，氣全；戒色欲，精全。又要三滿：神滿，不思睡：氣滿，不思食；精滿，不思欲。</p>
<p>或問：前修格言既聞命矣，下手之工夫若何？曰：顧人之用力何如耳。吾之所以諄諄於惜精者，蓋以色心易動，欲火難禁，情念一興，精離腎府，或隨溺而出，或流溢於外，豈必交感而後泄哉？故曰：有感於中，必搖其精。此古人避色如避仇之說也。是當於欲動之時，急轉念頭，即行調息之法，呼接天根，吸接地根，內有所事，則欲亦可回，始雖強制，久則自然。如縱其淫泄，則百媚紅顏，斷送萬萬千千少年的性命；一堆黃土，埋藏多多少少蓋世英雄。</p>
<p>興言及此，寧不寒心？是以聖賢專為後嗣計，自有天然之節制，何也？男子十六而精通，二十以前兩日復，三十以後十日復，四十以後月復，五十以後三月復，六十以後七月復，故曰六十閉戶，乃時加愛養，以為壽命之本也。否則，雖勤吐納導引服餌藥石何益哉？唯能保守此精，則氣壯神全，長生可漸致矣。或曰：人有一飲而傾四坐，日擁俠邪二八以為樂，乃年老而未艾，有疏儀狄，屏驪姬，以二戒為競，競未艾而艾，此曷以故？曰：是系於人之所稟不同耳，然鮮有不傷於所恃者，唯能愛生可延生也。</p>
<h2>修行始事</h2>
<p>初學修行，當先認爐鼎。《九真玉書》曰：修丹者，先正其爐。爐者鼎之外垣，身是也。爐分八門，曰耳目口鼻，是為　。闔辟之戶既認明的，須理會安爐立鼎。慎起居，節飲食，調寒暑，少眠睡，收拾身心，懲忿窒欲，惜精、惜氣、惜神，使四大安和，神完氣足，則此身方成爐鼎，可為入藥之基矣。然未敢遽議行火。蓋初入門之人，斫喪既多。此身是個虛器，大藥未生而行火候，則虛陽上攻，適自焚其軀也。須營靜室，室不宜太明，太明則傷魂；不宜太暗，太暗則傷魄；室中只設一香爐，一燈檠、一靜幾、一禪榻而已。須辦肯心，此事若非真為生死，鮮不中道而輒。故必立志堅剛，割舍不系，直前不回。常觀此身如牽牛入屠市，步步近死，既以死為念，則步步棄割，雖有境物紛華在前，目無所見，耳無所聞，念念盡忘：此身亦舍，何況其他？縱遇患難，永無退心，必不以緣分淺、根氣薄而自暴自棄也。須屏眾緣，蓋學道之人，第一要斷緣簡事，如內接家務，外綜世事，不唯勞形役心，牽纏業障，留戀人我，何時得了！必屏除之。所謂舊緣漸減，新緣莫結也。</p>
<p>次學打坐，須濃鋪茵褥，使身不苦，解寬衣帶，使氣不滯，塞充垂帘，正身端坐，耳對肩，眼對鼻，鼻對臍，坐毋傾側，毋倚靠，要安舒，要自然。息不可粗，不可促，不可閉：不可抑，出入往來，務令綿綿。不可著意，念起即覺，覺之即無，所謂不怕念起，只怕覺遲。若能如此，自然四大輕爽，即安樂法門也。然打坐最是難事，若內無靜定工夫，不免束心太急，致生狂疾，如何坐得安穩？昔有武人慕道，禮師以求打坐，師不許上蒲團，令供薪水之役。如是歲余，乞容一坐。師曰：此蒲團一上便不可下了，汝自思之。因其固求，乃使之坐。坐未半時，求下甚急。師令抬大石壓其兩腿，疼不可忍，大聲曰：我以殺人為事！舊性復發。師叱而逐之。其人去而復返曰：事師久矣，幸賜一訣。師曰：我適以石壓汝足，汝覺疼乎？曰：疼。師曰：疼處就有道。其人遂大悟，安坐而成道。今之學人，只舍不得這疼，倘真為生死事大，若父子天親如何可割？則思一日無常，子亦難代，身中自有真種子在也。夫婦恩情如何可割？則曰：夫妻本是同林鳥，大限來時各一天。身中配偶何樂如之，一切家中所有所用如何舍得？則曰：來時空手，去亦空拳，無常買得不來否也。參透此間，忍得此疼，一刀兩段，何道之不可成哉！</p>
<h2>產藥川源論</h2>
<p>元精生於腎，仙家借腎府為發生之地，不是用腎，乃向腎中作用。此腎為產藥川源也。人或不知，即謂兩腎中間別有一穴，真陽伏藏於內，修丹但用真火，逼出這點真陽以為用耳。豈知身中所有，皆後天渣滓之物，仙家不用。若果有元氣伏於一穴之內，亦是渣滓矣。故經曰：水者，大丹之根源也。天一生水，其位在北，其卦為坎，乃吾身藥物所產之處也。夫元精生於腎，使非靜翕則不能生，故作丹必心氣下交於腎，腎含受而翕聚之，然後能成變化而生元精也。心氣下交，只是凝神入氣穴耳。凝者非凝聚也，夫神至靈至妙，潛天潛地，如何凝聚得？但息念而返神，神返於心而不外馳，則氣亦返於身，漸漸沉入於氣穴矣。氣果有穴乎？葆真子曰：人之元陽真氣，散於四肢百骸之間，為視聽言動之用，豈有區區藏伏一穴之理？若指一處而注想之，終必成疾，修丹者不可泥於凝神入氣穴之言也。此金丹大道，唯借腎為發生之地，以其為氣之會、故曰氣海；以其深而在下，故曰氣穴；以其為金華所生，故曰華也。作丹只要氣沉到此處，非用魂注想之謂也。元太虛曰：凝神入氣穴之法無他，只是收視返聽、回光內照而已。夫回光內照，非執著所在而用意觀照之也，不過靜虛以返神於內。其實觀無所觀，照無所照，而亦未嘗不觀照也。下手之功何如？訣曰：專處致柔，在乎忘情識。忘情識之捷，在乎心息相依。心息相依。則情識不期忘而自忘矣。是息也，出入有聲謂之縱，出入不盡謂之滯，往來頻促謂之喘，不縱不滯不喘，綿綿若存，用之不勤，庶乎心息相依自然矣。然舍「調」之一字，其奚以？或上機之士，但覺念起，即用調息，略照一照，無念即止，不可太著意也。如以意照之，則累照者多矣，又須加一忘字。蓋忘與照一而二，二而一者也。當忘之時，其心湛然，未嘗不照；當照之時，纖塵不染，未嘗不忘，其忘乃真照也。或有隨照而昏散者，因平日千思萬慮，紛擾之甚，宅無一主，一旦驟然收拾，把持不定，故隨照隨亂也。治之如何？才覺妄動，即融妄歸真，歸之豈外於忘照這些工夫耶？此正動靜之機，神一出即收回之說盡矣。使照之而不勝，不可強制，且去應事以遣之，亦不可隨亂而流，俟其平和，即忘之照之也。夫修煉至此，又豈有他術哉？只是采取先天之氣，以為金丹之丹也。張紫陽曰：采者，采真鉛於腎府；取者，取真汞於心田。鐘離師曰：腎中藏伏父母之真氣，所謂鉛也。鉛中有真一之水，曰鉛中銀。腎氣傳肝氣，肝氣傳心氣，心氣自涵而為液，所謂砂也。液中有正陽之氣，曰砂裡汞。傳行之時，以法制之，使腎氣不走失，氣中采取真一之水，心液不耗散，液中采取正陽之氣。蓋不采而采，采而不采，不取而取，取而不取。陳虛白所謂身心不動為采藥也。至如火候、藥物，真火本無候，大藥不計斤。白玉蟾師曰：心者，神也，神即火也，氣即藥也，以火煉藥而成丹，即是以神馭氣而成道也。夫修煉而至於成道，則神氣渾融，嬰兒顯象。嬰兒者，即我一靈真性，純陽不雜耳。白玉蟾師又曰：人但心中無心，念中無念，純精純氣謂之純陽。仙家只是教人養神，因人迷溺嗜欲，不能一刀兩段，故設為長生之說以誘之。人貪長生乃肯去做，一心修煉養氣，其實借煉精煉氣以系此心，養得元神靈妙，非是元神之外，精氣別結一個嬰兒也。然必靜虛之極，無我之至，始得脫胎神化。李清庵曰：身外有身，未為奇特，虛空粉碎，方是全真。旨哉！旨哉。</p>
<h2>精氣神論</h2>
<p>或問：紫陽師曰，煉氣者，煉元氣，非呼吸之氣。然則元氣惡乎在耶？曰：元者混於杳冥恍惚之中，而實不離於呼吸之氣者也。朱紫陽曰：天地只是一氣，自今年冬至到明年冬至，唯這一個呼吸，呼是陽，吸是陰。玄同子曰：呼乃氣之出，故屬冬至之後，大則為天地一歲之呼吸，是以仙家千緒萬端，譬喻不過呼吸二字而已。問：人身一呼一吸謂之一息，而經言調真息，又言胎息，果呼吸之息歟？曰：人身一日，一萬三千五百呼，一萬三千五百吸，一呼一吸，謂之一息。《丹經》曰：天地呼吸於內，故長久。人能效天地呼吸於內，亦可與天地同其長久。但常人之息以喉，則元氣亦隨之而出耳。</p>
<p>且以調息之法言之，蓋調久則神愈凝，氣愈微，久之又久，則鼻息全無呼吸，止有微息在臍上往來，與嬰兒在母腹中一般，所以謂之胎息。乃神氣大定，自然而然，非有作為也。然此要在忘機絕念做工夫，故曰：心定則息自調，靜久則息自定。修煉至於胎息，而後氣歸元海。氣歸元海而壽無窮矣。世有教人抑息者，抑則勉強以制之，非自然之妙也。《丹經》曰，服氣不伏氣，伏氣非服氣，服氣不長生，長生須伏氣。蓋服者如魚吞水，入者即出，不能存也；伏者如貓捕鼠，使氣不走泄，結而成丹即含光，所謂內氣不出，外氣不入也。或又問：紫陽師云煉神者，煉元神，非思慮之神。二者果有異乎？曰：心也，性也，神也，一也。以其稟受於天，一點靈明謂之元神；後來為情識所移，則此　沒於其中，遂成思慮之神。其實元神渾渾淪淪，不虧不欠。人能回光返照，去其情識，則此思慮者，莫非元神之妙用矣。或曰：精氣神之在人也，均謂之寶，均所當重也。然紫陽師以神為君，以精為主。夫人之有身，動靜語默，皆此氣為之運用，是故氣聚成形，氣散則絕命，氣獨非人之本乎？曰：精神固非二物，神氣原不相離，三者一以貫之者也。而元精、元氣、元神主宰於其間，自然相生而不窮耳。故紫陽師云：元神見則元氣生，元氣生則元精產。是以元精煉交感精，以元氣煉呼吸氣，以元神煉思慮神，二物混成，與道合真，自然元精固而交感之精不漏，元氣住而呼吸之氣不出，元神全而思慮之神不起。修丹者，修此三者，故全也。</p>
<h2>仙師六字治病訣</h2>
<p>此訣治五臟六腑之病，即呵、呼、　、吹、嘻、噓也。以呼而出臟腑之毒瓦斯，為瀉，呼字；以吸而探天地之清氣，為補，吸字。凡入室靜坐，扣齒，咽津，先念呵字治心，念畢即徐徐吸之，出多入少，俱勿令聞聲。蓋聞則氣粗，反傷氣也。如此六度。倘口內有液，咽下一口亦可。</p>
<p>次念呼字治脾，次念　字治肺，次念噓字治肝，次念嘻字治三焦，次念吹字治腎，悉如呵字法，各六度，是為三十六小周天也。又看何臟腑受病，如目病，即念噓嘻二字，如前法各十八遍，總之為三十六，連前為七十二，謂之中周也。又依前法，念六次；各六度、是為三次三十六，合前共計一百單八，為大周，曰百八訣也。凡遇各臟之病，即依各訣行之，不拘時候，大約陽時，不拘以數限。總之三百六十以應周天之數，尤為神妙。然修養家又謂腎無瀉法，故曰四時常用嘻，八節不須吹也。又考《四時常攝論》，春，肝氣盛者，調噓氣以利之；夏，心氣盛者，調呵氣以疏之；秋，肺氣盛者，調　氣以泄之，冬，腎氣盛者，調吹氣以呼之。此治於未病之意，不在區區藥石間也。</p>
<h2>神水滋養法</h2>
<p>呂祖曰：舌上之水，可以活人，但要知天機潮候，每日依時下上。面東靜坐，舌抵上　，自然舌上二竅神水逆流，心液滋合，一如潮涌，充滿口頰，上潤頂門，中注五岳，分作三咽，送下丹田。</p>
<p>行之十日，肌膚瑩潤，面色光澤，百日功成，永照心經諸疾矣。</p>
<h2>天機潮侯</h2>
<p>初一日子午末。二日丑未初。三日丑未正。四日丑未末。五日寅申正。六日寅申末。七日卯酉初。八日卯酉正。九日辰戌正。十日辰戌末。十一日巳亥初。十二日巳亥正。十三日巳亥末。十四日子丑初。十五日子丑正。十六日子丑末。十七日子午末。十八日丑未初。十九日丑未末。二十日寅申初。廿一日寅申末。廿二日卯酉初。廿三日卯酉正。廿四日卯酉末。廿五日辰戌初。廿六日辰戌末。廿七日巳亥正。廿八日子午初。廿九日子午正。三十日子午末。蓋此時人身氣血亦朝至頂也。</p>
<h2>八段導引法</h2>
<p>（亦可卻病，又名八段錦）</p>
<p>閉目冥心坐，握固靜思神。</p>
<p>閉目冥心，總以求靜。坐法以左腳後跟曲頂腎根下動處，不令精竅漏泄，謂之握固。</p>
<p>叩齒三十六，兩手抱昆侖。</p>
<p>頭面謂之昆侖。叉兩手向頂後，數九息，勿令耳聞。</p>
<p>左右鳴天鼓，二十四度聞。</p>
<p>移兩手心掩兩耳，先以第二指壓中指，彈擊腦後，左右各二十四次。</p>
<p>微擺撼天柱。</p>
<p>搖頭左右顧，肩膊轉動，二十四次。</p>
<p>赤龍攪水精。</p>
<p>赤龍者，舌也。以舌攪口齒並左右頰，待口中津生。</p>
<p>漱津三十六，神水滿口勻；一口分三咽，龍行虎自奔。</p>
<p>液為龍，氣為虎。</p>
<p>閉氣搓手熱。</p>
<p>以鼻引清氣，閉之少頃，搓手甚急，令熱極，鼻中乃徐徐放出氣。</p>
<p>背摩後精門。</p>
<p>精門者，腰後外腎也。合手心摩畢，收手握固。</p>
<p>盡此一口氣，想火燒臍輪。</p>
<p>閉口氣，想用心火下燒丹田，覺熱極，即用後法，丹田在臍輪下一寸三分。</p>
<p>左右轆轤轉，兩腳放舒伸。</p>
<p>俯首擺撼兩肩三十六次，後將兩腳放開舒直。</p>
<p>叉手雙虛托，低頭攀足頻。</p>
<p>先叉手相交，向上托空三次，後以兩手向前攀腳心十二次，乃收足端坐。</p>
<p>以候逆水上。</p>
<p>喉中津液生，如未生，再用攪水法。</p>
<p>再漱再吞津；如此三度畢，神水九次吞。</p>
<p>謂再漱三十六，如前口分咽，乃為九也。</p>
<p>咽下　響，百脈自調勻；河車搬運訖，發火遍燒身。</p>
<p>擺肩並身二十四，及再轉轆轤二十四次，想丹田火自下而上遍燒身體，想時口鼻皆閉氣少頃。</p>
<p>邪魔不敢近，夢寐不能昏；寒暑不能入，災病不能侵。</p>
<p>子後午前作，造化合乾坤；循環次第轉，八卦是良因。</p>
<p>法於甲子日夜半子時起首行時。口中不得出氣。唯鼻中微微放清氣，每日子後午首各行一次。然此修仙家能也，凡人事忙，不必拘定，但一日之中得身閑心靜處，便是下手所在，多寡隨行可也。</p>
<h2>丹陽祖師回陽固本十六錠金訣</h2>
<p>一升便提，氣氣歸臍，一降便咽，水火相見。</p>
<p>凡修養家，以鼻為天門，以口為地戶，地戶常閉。天門常開，故此法只以鼻息為候。</p>
<p>遇鼻入息曰吸，即便升氣，將下部前後著力一提，氣氣歸臍也。遇鼻出息曰降，即便放身自在，徐徐出氣，咽津一口，　然有聲，亦以意存送於臍中，乃是一降便咽，水火相見也。蓋臍中乃真元所聚之處，真氣悉藏於此，原胎息之所也，凡咽納之際，若有津液，尤為妙也。一升一降，使氣相會，心腎相合，水火相見，所以謂煉成離女液，咽盡坎男精也。如此行之，不計度數，不拘時候，要行即行，要止即止，一身之後，臍輪火熾，兩腎湯煎，腹中氣轉，如雷之鳴，小便漸減，久而百病皆除，延年益壽矣。</p>
<h2>積氣生精</h2>
<p>積氣生精，不外神氣相守之功，雖功同而用則異也。凡精不足者，與欲開關者，俱宜用積氣生精之功。凡神氣不足者，與開關後者，俱宜用神氣相守之功，若人於酒色財氣、思慮過度，耗其精神者，丹田空虛，下元虛冷無力，入房易敗，種子不結不射，宜於玄關行真息升降。於子後午前，或食少腹虛之際，運機用息，行內呼吸，每於此玄關升呼降吸，為一息，俱會於命蒂之處。行真息即生真氣，有真氣即生真精，是積息正所謂積氣也，積氣正所謂生精也。何也？真息乃氣之闔辟，真氣乃精之父母，故煉士欲積氣生精；須於積息中求之，每節積三十息，咽津一口，共積至十二節，以合周天一年三百六十日之數，數完自覺氣滿精生矣。行旬日功，禁欲節勞，保守精氣，自有奇驗。久久行之，則精氣生旺，諸病不生，開關之功全賴於此。凡一節三十息完，生華池神水一滿兌，是驗也。若津液不生，功夫不到，必須另為。</p>
<h2>煉精化氣</h2>
<p>夫煉精化氣，乃逆行法也。欲知仙凡之隔，當知順逆之分。經曰：順則成人，逆則成仙是也。順行則致一身之氣化而為精，是以陽變陰，乃成人之道也。凡人有所感觸而興起者，或交感忍而不泄，或夢覺交而未遺，犯此者，精雖未：泄，然念頭馳動，而流珠便欲去人，其精己離各臟腑，奔出於腎，凝聚於陰蹺、會陰等處矣。由是其精有從溺出者，有結為懸癰者，有閉其竅溺不通者，有變為赤白濁者，有變為淋瀝者，有致遺精不禁者，有凝結為痔漏者，有積久不泄，遂致一潰傾命者，種種遺患，難以盡舉。仙翁所以憐憫世人，立此煉精化氣之法；以卻其病，以延其年，非大有福緣者，不能遇此。須要知其聚精當為何時，及其煉精為何功耳。如前云感觸興起、交媾不泄、夢交未遺者，非所謂聚精之時耶？此時能依法行煉精化氣法十余轉，則運所聚之精悉化為氣，又何有疾患哉？久久行時，則能使精元完固而可無漏矣。此煉精化氣之法，人實難明其義。譬精猶水澤也，能以法運精使升，不猶地氣騰其水澤為雲霧乎？氣升作甘津降下中黃，不猶云騰化作甘津以敷九野乎？精出於腎，止聚於一處，到此復上泥丸，降下中黃，則散於一身四大矣，《易》所謂黃中通理是也。訣曰：平氣定其息，以手握龍身，鼻息用力提，龍神往上奔，神龍歸大海，陰蹺上暫停，自南轉北去，須臾到命門，駕起我白駒，挽著轆轤行，夾脊三關過，曹溪上太清，興云布甘雨，陣陣落黃庭，行此運氣法，百病不來侵。煉士請細玩之，乃有得也。</p>
<h2>仙師口訣</h2>
<p>凡視聽言動，皆我神也。欲行功，須先以意收回所散之神，次聚內外兩腎中間之氣，常兜二子向上，一遇陽生，即以左手中指掩馬口，右手雙指緊抵陰蹺穴，隨怒目切牙，吸鼻，咽氣一口，駝腰憋腹，著力提搐入泓池水內，瞑目端坐，習靜調息，息息歸根，務令純熟。又加導引按摩，吹吁呼吸，如有津液，漱咽下丹田。此乃築基煉己之法也。</p>
<p>凡行坐動，須從緩緩，若存若忘，不可急忙取效，所謂急則反受其敵也。迨夫調弄習慣，則放去收來多由得我矣。每泓池中水火相見了，鼻中重吸一吸，咽氣一口，則津液心火都下入丹田。</p>
<p>咽時即搐外腎，便津氣　有聲，然後徐徐稍放出氣，如此謂之一次，少停再行。或略睡便起，不必拘於時候，要在次第行之。初次行一九，次七加之二九，至三九四九，數多為妙。然亦不可執定數目，恐勞神耳。</p>
<p>已上法行之一年，則下田自實，第二年方可運用河車法。若神氣充溢於四肢，津液流通於上下，謂之水火既濟。使陰陽交媾於丹田之內，後行河車轉運，使真氣循環於一身之間。必須寧神定息靜坐，先攪左關二十四，後攪右關二十四，次攪雙關二十四。左右兩膊，一前一後，更換相扇，共四十八。左右歪肩，共四十八。左右手屈伸二十四。顧左肩一十四，右肩一十四，仰頭一十四，點頭一十四。正立起，以手扶物，左腳屈伸二十四，右腳屈伸二十四。鞠躬，左右手舞足蹈二十四。將身向前凹脊，兩手握固，大攪雙關二十四。行畢少坐，方可起身。蓋凡漱煉津液，為生心汞。汞為神水，煉至華池皆化為鉛，一意常照泓池水中，乃兩腎中間。腎生精，精化氣。氣者，大也。為聚火燒丹，每於子午卯酉四正時，可常叩齒集神煉之。液在下田則化為氣。</p>
<p>一見金精發現時，便當肘後飛煉，一撞三關，逆流直上，氣衝泥丸，如戽水相似。凡定中藥生，急急采之，肘後飛過，先過尾閭為第一關，次夾脊為中關，玉枕為三關。要閉塞兩耳，耳乃腎之門戶，勿使走泄。頭頂緊縮，著力提，過尾閭，有九竅，上有四十二骨節，直透泥丸，猶日月之飛騰黃道也。第二關，如前法提起，飛過夾脊二竅。第三關，復如前法提起，飛過玉枕，有九竅。然此關頗難開，須閉息令緊，以大白牛車力如禮打之狀，亦不能放。頭頂氣從腎中生，從夾脊直透上腦，其時藥物都從頂門過，須臾覺腦門如火熱且重，即緩緩抬身，徐徐放氣，自明堂兩眉間飛下，即吞入腹中，解化為水，經洞房，入黃庭，漸漸變成黃芽矣。近有修真之士，不得真訣，未能聚火，未能煉鉛，丹田無藥，下手便行搬運周天火候，妄致氣血奔馳，虛陽沖腦，令人頭暈目眩、耳聾、鼻流清涕，豈不深可惜哉？正所謂腹內若無真種，猶將水火煮空鐺耳。訣云：按巽骨，攀心竅，此中消息誰知道，牙關咬定是秘傳，從此元神入懷抱。此蓋不用心，而以手行火候，正無為之工夫也。用左手按尾閭，尾閭即巽骨也。右手行火候，火候即周天火也。如斗柄之指十二辰，而心不動，至靜中不知身之為我，我之有身，真液下咽。　有聲，每滴有一銖，以二十四銖為進一兩，水應坤策也。此只是八口，紫陽師云：口八八刀。蓋指每灌漱津液，一口分三咽，咽之有聲，止八口也，定中胎息自動，情極而噓，如春池龜息，動三十六為進一兩，火應乾策也。一抽一添，一進一退，乃為周天火候，正所謂周天息數微微數，玉漏寒聲滴滴符。如此行持，不記年月、直待脫胎神化，方為了當。</p>
<h2>日用經</h2>
<p>飲食有節，脾土不泄。調息寡言，肺金自全。動靜以敬，心火自定。寵辱不驚，肝木以寧。恬然無欲，腎水自足。</p>
<h2>固精法</h2>
<p>人生之精，每生於子時。此時盤膝正坐，手齒俱固，先提玉莖如忍小便狀，鼻即收氣有聲，直至丹田始滿，口始微微放氣，一放一收，要想臍中出入，每行七次。或陽舉，亦以此法行，自倒矣，收氣宜長而洪，放氣宜微而緩。</p>
<h2>運氣法</h2>
<p>凡運氣，必先提穀道如忍大便狀，鼻即收氣，存想從背脊逆上泥丸，注意頃之，鼻方放氣，即想下歸丹田。</p>
<h2>健脾胃法</h2>
<p>《內經》云：人身背項下七節之旁，內有小心。小心者，命門也，男子藏精，女子系胞，常借胃土之功，胃弱則不能振精。精者，五穀之華，凡不寐、多思、手心熱耳鳴、目眩諸火症，皆相火也。治之之法，一搓一兜，左右換手，九九數足，真精不走。一日之內，辰戌丑未四時，食後淨室端坐，鼻收氣閉住，左手將外腎連囊向上緊兜，右手在臍之上，心之下，用力橫搓，默數三十遍，氣急，口作嘻字吐出，調息再行，如此九次。卻換右手兜，左手搓，亦九次。久行脾胃大健，精力強壯，飲食多進。</p>
<h2>翻江倒海法</h2>
<p>昔人謂大飽則臟氣不流通，因生眾疾，故中年人以節飲食為本。又云食取補氣，不飢則已，過飽而以藥物消化，尤傷和氣。只須閉口，用臍下轉氣，左七右八，名為翻江倒海，如此不計遍數，自然噯氣，而飽者寬矣。又直下一口氣，名為鑿山開道，用之大驗。東坡云：脾胃惡濕。水飲宜少，脾胃惡寒，生冷宜節。</p>
<h2>瀉命門大法</h2>
<p>戌亥二時，上床仰臥，枕高四指，四肢宜伸，以鼻收氣於右腎，火從口中嘻出，默數百次。卻以右肋著席臥，蜷兩足，鉤兩腿，一手掩臍，一手掩外腎。古人云：三焦須是臥嘻行。又云：睡如貓，精不逃，睡如狗，精不走。是為養元之大法也。</p>
<h2>擦腎治頻詡法</h2>
<p>老年夜起頻詡，亦一病也。昔林某頻詡，一道人教以擦腎法。每臥時坐床垂足，解衣閉氣，舌柱上　，目視頂，提穀道，以手擦兩腎　穴各三十六，少息，至四十九、至四十一，多多益善，行之旬日，果稱奇妙。</p>
<h2>擦涌泉穴令腰足輕快法</h2>
<p>每日趺坐，兩足相向，閉目握固，縮穀道，一手扳足趾，一手擦摩足心，至極妙，少息、再行，日五六度，能令步履輕捷。昔歐恩忠晚年患足瘡，痛不可忍，得此法，用之三日而愈。蓋此穴在足心，濕氣皆從此入也。</p>
<h2>睡訣</h2>
<p>臥時必須蜷足、側睡，以斂其形，若仰臥則神蕩矣。</p>
<h2>固手指訣</h2>
<p>手不固，則心血不生。若行功時，必須將大拇指捏在四指根間，握固而定。</p>
<h2>固齒訣</h2>
<p>齒不固，則經絡不通。若行功時，必須口緊閉，牙齒著實咬定，而不可放也。</p>
<h2>舌訣</h2>
<p>行功時必要舌抵上　，則舌下玄膺穴開矣。此穴開，真氣可流通於周身百節，若閉無益。</p>
<h2>坐訣</h2>
<p>身必正，頭必直，背脊如鐵柱，盤膝端坐，以眼垂帘，觀鼻、觀臍。如身屈曲、頭縮，氣即不能通矣。</p>
<h2>眼訣</h2>
<p>坐時開眼，則神不聚，須宜閉之。或想上下左右，則將瞳神向之便是。倘修大道眼要垂帘，養病必要閉目藏神，方為有益。</p>
<h2>漱唾訣</h2>
<p>行功時將舌抵上　，舐久則生津，津生則漱之，漱之則咽下四分，留下六分，以俟火炎而潤下，如平常時，漱津滿口，分為三咽，淚然有聲而下，不必存留。</p>
<h2>撫摩訣</h2>
<p>身不撫摩，則氣不通暢。於清晨將兩手搓熱，將頭面並夾脊、腎　擦極熱便止。自然周身暢快而多益矣。</p>
<h2>擺身訣</h2>
<p>飲食後，將兩手搓熱，於脾胃間撫摩。再將兩手握拳，絞固於胸前，橫擺腰間七次，左右轉腹亦各七次，須臾胃運而食消矣。</p>
<h2>運手訣</h2>
<p>手不運，則手肢不遂。每朝將左右手把手前骱絞扭，不計遍數，或在熱面水內把手骱絞扭更妙，使老年再不手抖。日日為之，不可間斷。</p>
<h2>運足訣</h2>
<p>足不運，則足力不健。行步時須將腳丟如踢球狀，如此時常行百數步，則足力永健旺矣。</p>
<h2>去汗訣</h2>
<p>客汗不發，其邪氣不得出，正氣不能扶，而疾難奏功。倘遇病，如瘋癆蠱脹癰嗝等症，必須發大汗三日方妙。</p>
<h2>暖丹田訣</h2>
<p>治小腸虛冷疼痛，端坐，兩手摩丹田，閉息行功，運氣四十九口。</p>
<h2>三不動訣</h2>
<p>腎不動，精全；身不動，氣全；心不動，神全。三圓三全，自然成仙。</p>
<h2>三滿訣</h2>
<p>精滿不思色，氣滿不思食，神滿不思睡。</p>
<h2>四大忌</h2>
<p>一年之忌，不可過勞、大怒；一月之忌，不可大醉；一日之忌，不可過飽；終身之忌，不可清晨時常受氣。</p>
<h2>四少訣</h2>
<p>口中要言少，心頭要事少，肚裡要食少，晚間要睡少。</p>
<p><u>洗眼方</u></p>
<p>用皮硝六錢，清河水一碗煎七分，每次帶熱洗七次，每日照前，一年之後，瞳目光明矣。</p>
<p><u>洗眼日期</u></p>
<p>正月初五日　二月初一日　三月初四日　五月初六日　六月初四日　七月初二日　八月初一日九月初三日　十一月初六日　十二月初五日　四、十兩月不洗。</p>
<p><u>光緒十九年手錄</u></p>
