<header><h1>鱠殘篇</h1></header>
<dl class="元資料" data-type="book" hidden></dl>
<p>《鱠殘篇》</p>
<h2>提要</h2>
<p> 《鱠殘篇》一卷，會稽沈萍如著。市上極少傳本，本社主任裘吉生君藏書中之秘笈。論說傳記十有七篇，或論藥品，或談病理，或辨偽訛，或釋古方，胥能發捷心得，成一家言。自云：幼客江寧，因水土變遷，屢嬰疾病，臥床兼旬幾弊者，屢守中醫而獲愈。既愈，留心醫學，欲為卻病計，非敢存醫人志也。可見，其於此道探討有素矣．中醫之有發明者，輒在小部書籍，讀此可為吾言一證。</p>
<h2>鱠殘篇目錄</h2>
<p>秘授藥方須審察論
養生當以養陰為首務論
附子吳茱萸乾薑論
黃芩天花粉傳
馬齒莧記
蕪菁說
山陰倪涵初先生瘧疾三方疏釋
癉疝
濕溫如瘧論
男子熱入血室論
太陰脾經辨訛跋
山陰倪涵初先生痢疾三方疏釋
資生丸方
左金丸
石斛非肝經藥
羊毛疹子辨論
加減參蘇飲
集蟲說</p>
<h2>秘授藥方須審察論</h2>
<p>孟子曰：居移氣，養移體。《素問》曰：東方濱海，食魚而嗜鹹，其人黑色疏理，病多瘡瘍，治宜砭石；西方陵居，風多而土剛，其人華食肥脂，病生於內，治宜毒藥；北方地高，風寒而冰冽，其人野處乳食，病多藏寒，治宜灸嫡；南方地下，土弱而霧聚，其人嗜酸致理，病多攣痹，治宜微針，中央地平濕，其人雜食而不勞，病多痿蹲，治宜導引按蹻。《家語》曰：堅土之人剛，弱土之人懦，壚土之人細，息土之人美，耗土之人醜。觀此則人之形質皆由水土飲食之所變生，而於起居服食可不慎所擇哉？故枸菊之鄉多壽，而酒色之戕致夭。五行更迭，生克乘除，有常道焉。亢則害，承乃制，不可偏倚也。是以腎氣過強則妨心，而驚悸愴恍生；心氣過旺則戕肺，而咳嗽煩冤生；肺氣過實則傷肝，而目眵涕淚生；肝氣過盛則克脾，而飧瀉(月真)脹生；脾氣過滿則害腎，而痿躃重膇生。皆亢害而失其平易也．聖人制為藥餌，針灸、按摩、導引、祝由以平治之，救其偏也。至於湯液之方，創於伊尹，盛於長沙，後賢遞興，則有七方十劑之等差，君臣佐使之配合，而尤當審其反畏惡欲之性以劑之，始可以為方。方之所以為方者，使之方向而不違，平易大方而雅俗共賞也。故其表表於醫籍者，桂枝、麻黃、青龍、白虎、三承氣、四瀉心之祛邪返正也；四君、八物、十全、六味、五子、七寶、建中、補中，以及虎潛、河車等之培元扶弱也。藥品不多於十味，對症取效於頃刻。亦何曾探奇搜異，必致力於赤箭、青芝、牛黃、狗寶方形神效也？乃今多有聚集鱗介毛倮中一切臊膻熱澀，如肭臍、狗腎、海馬、蛤蚧、全蠍、紅鉛之屬，輔之以桂、附、椒、茱、腦、麝之類，辛香臭腐數十種雜為一方，亦不問其反畏惡欲、君臣佐使之謂何，豔稱其名號，可奪造化，極贊其功能克轉乾坤。一藉捷劫之性，取效片時，暢人欲志，不顧流禍於隱微，積久而大患突起，駭人聞見而不遑救者多矣。總由術士之眩惑，貴介之樂聞，而不察天地有常道，聖人有至論。所謂五穀為養，五菜為充，五果為助，五行相生，五藏以安，順其天常，安其地利。而必欲強其詞曰、人定可以勝天者，殊不知服全鱉丸久，而腹生小鱉以戕軀，餌龍骨粉多，而腸腑生癰以斃命，前人已受害者矣。夫子曰：未達不嘗。所謂達者，非徒達藥而已，意必達藥性之良劣，與吾身之宜否，而後敢服。詎可不察吾身之固有，而漫為嘗試？致犯虛虛實實之禁，失其平易而生偏勝之災，甚至亢火消陰，變幻非常者有之。經曰：芳草發狂，石藥發癲。可不慎諸？況恬淡虛無，真氣從之。黃帝養生之妙訣可師。肉食者鄙，未能遠謀。曹劌論戰之快談堪取。苟能毋搖爾精，毋勞爾神，起居有節，自可長生。是故氣足則不饑，神足則不睡，精足則不淫。克寶吾身之寶，亦何有於外物哉？然而天地之間，土為萬物之母，人身之中，胃為水穀之海。語云：節飲食者，卻病之良方；理脾胃者，醫中之王道。脫欲綢繆於未雨，請從事於脾胃。庶飲食強而穀氣化精，則神氣不期足而自足，又何籍於藥餌之扶吾也耶？附詩：寒夜無聊遺漏長，挑燈起坐讀岐黃，至人精論皆金石，朮士誇談屬老莊，咀嚼素靈非好辨，揶榆朱紫慎推詳，螽斯自古稱西伯，不見流傳種子方。</p>
<h2>養生當以養陰為首務論</h2>
<p>天地之間，陽行健，陰德靜，體也；陽常有餘，陰常不足，用也。然而陽更為陰之用，陰實為陽之體也。故陽無陰不生，陰無陽不長。觀既濟之爻可見，而習坎之義不可不察與。昔丹溪獨主滋陰，後人訾其藥尚寒涼，易伐生氣，而崇補火之法，乃不循本源之奧，而徒知膚淺之論矣。夫藥用寒涼，乃瀉火非養陰也。養之之義謂何？勿使陽之亢燥而消爍真陰，保其天一之本源也。今水被火侮，而斯病烏得不壯水之本以制陽光，藉北方苦寒之味以救之，而守習坎之義哉？人非水火不生活，是二者之不可偏廢，亦不可偏勝，更當知陽易回而陰難養為首務。試以水火論日用尋常，藉火者暫而約，藉水者常而博，蓋火易發而速，水難致而緩。十日之霖，不敵三日之曝。藏火於灰，久而垂滅，益之以薪，頃刻而熾，為力易而致甩速也。貯水於器，逾旬而減，經月而涸，無可以生，凡物皆能耗之。是非存養之胡能經久而澤耶？人身精血，水也，陰也，日以萬應幾，何而不耗且盡也。是則存養之功，可不一日而三致思焉？水本靜，靜極而動生．故曰：腎藏智。智者樂水也。知覺生而運動隨之。故少陽乃胎於太陰，是陰實陽之體。少陽甲木之氣發生，萬物運動而出，則陽乃陰之用而已。詎今人喜於補火，且有以呂仙號純陽而得道為說，殊不察其采陰補陽之謂何，而北極有龜蛇配合之妙，聖人有夜氣以存之訓與？曆觀服熱藥金丹者，輕則癰疽，奇疾疊出，甚則真陰耗絕而暴亡者，比比是。故既濟之防終亂，而習坎之獲有孚，信矣。養生者，豈可忽於養陰之道不急務，而惑於補火之浮言哉？且凡物體實而用斯巨集，未有體去而能用者矣。</p>
<h2>附子吳茱萸乾薑論</h2>
<p>經曰：大毒治病，十去其五；無毒治病，十去其九。二者相形，而時尚何多惑焉？蓋直達少陰，祛寒救敗，誰如附子：善走厥陰，燥濕定痛，莫過吳萸；散表溫中，快脾利膈，更尚乾薑。此三者誠三陰斬關奪命之將也，然於諸熱藥中為最烈，過劑誤施必有動血僭上之患跡，其功能直朱家郭解遊俠之流言，信行果急人之急，捐軀赴難，可存亡生死而收效旦夕者耶？然一不善馭，未免以武犯禁，而取笑同類矣。蓋其氣雄性毒走疾而悍，或氣味俱厚，偏陽少陰。故附得薑而愈熱，得桂而善走；茱得薑而益散，非以甘緩監之，難免疾馳銜橛之變也。故八味丸用桂、附以消陰翳，不過全料中之什一；左金丸用吳萸以開肝鬱，而黃連五倍之。王好古有補火須防涸水，烏、附非身涼肢厥脈沉遲者不可擅投之，戒其慎始要終之道歟。然古人亦有終身餌烏、附、椒、萸而年登耄耋無恙，此又稟賦之殊，偶有之事，不可以為訓。昔子產論政，以水懦弱，慮民玩而多死，今之用藥反狎玩猛烈之火，至噬臍而弗悔，何哉？其必曰：砒礐鴆鱷方為毒，而不思中病即止之戒與。</p>
<h2>黃芩天花粉傳</h2>
<p>山草黃芩者，蜀之秭歸產也。味苦，性寒，氣厚，味薄，陽中之陰，色青，專行少陽而兼入肺胃，可升可降，嘗與黃連、厚朴、柴胡善，而惡蔥實，畏藜蘆、丹砂、牡丹皮。其相與遊而協濟以成功者，則得酒上行，而消上焦積血，清痰利膈：得豬膽汁除肝膽火，而祛脾胃濕熱偕柴胡退寒熱之往來；同白朮為安胎之聖藥；佐桑皮瀉肺火，而須舊根枯片，即別名腐腸妒婦者；與芍、連、枳、朴除下利膿血。腹痛後重必選細實新根，即俗稱子芩、條芩者。仲景傷寒方治心下痞滿瀉心湯，凡四方皆用之。又如太陽症下之，利不止、喘而汗出者，有葛根黃芩黃連湯；太陽少陽臺病下利，有黃芩湯；少陽症下後，心下滿而不痛，有瀉心湯；少陽症之小柴胡湯，則本經藥也。迨張元素稱其功用有九，而李東垣、朱丹溪多闡發其妙，蓋火靖氣寧而胸隔暢，濕除滯化而腸胃通，上焦治則二便利。血閉痰凝，癰疽煩懣，清熱以澄其源。因勢利導，故事半而功倍，順病之情，不煩奇異，而效斯捷，審寒熱，慎予奪，故曰：藥貴中病，醫之寶也。大暑炎嫗，三黃、白虎不足以為暴，何獨於芩而斯懼哉？至蔓草中又有天花粉、栝蔞根者，秦之弘農所出也，甘微苦酸，微寒，清潤降下之品，金玉君子之質，除消渴，清暑熱，通小腸，散癰腫瘡癤，排膿止痛，消瘀生肌，其為肺與陽明藥也，最宜虛熱人。仲景用其實以治胸痹，痛引心背，咳唾喘息及結胸滿痛，乃取其甘寒不犯胃氣，能清上焦之火，使痰行氣降而治矣。若栝蔞散之治乳癰，其根下乳汁，拔箭鏃，及針入肉，退痘後目瘴，其以純粹之質，而能定倉猝乖戾之疾，其功可以想見矣。故其使枸杞子惡乾薑，畏牛膝，反烏頭，亦物以群分云爾。萍如子曰：黃芩、花粉《農經》中品，日用恒需之藥，以治四時常有之疾，不可一日廢也。乃世人好奇異，矜詭秘，競事玉紮，丹砂之貴重，侈談空青、狗實之無幾，何異舍菽粟、水火而他求養生具哉？天食人以五氣，地食人以五味。無虛虛，無實實，掊有餘，補不足。是在人為之，而有至理存焉。察理真則施用，當可免偏勝之患，詎可因施之不當而棄物之性，不亦冤乎？然盡信書，則不如無書，亦不可不察。若李之才云：山茱萸、龍骨為黃芩之使，得五味子、牡蠣令人有子之說，則吾未之深信。黃芩苦燥而寒，其於濕熱、瘡痍、瘧痢、血熱等症，實能勘亂定禍，因便乘勢以成功。管夷吾之流，而亦得桓公任之，當而能盡其才也。天花粉甘寒而潤，大宜虛熱人，其能出箭鏃，退目翳。殆平仲在莊公之世，而處崔杼之亂也。吾故仿龍門管晏傳而為芩粉傳。《詩》云：呦呦鹿鳴，食野之芩。又云：果羸之實，亦施於宇。睹二詩，可以窺二物尚矣。</p>
<h2>馬齒莧記</h2>
<p>馬齒莧者，以葉似馬齒而得名。葉青，莖赤，花黃，根白，子黑色，具五行，又名五行菜。鮮者烈日爆之不易干，其汁流凝成水銀，得汞之不死，故又名長命草。性寒滑而味微酸，其功用則入厥陰血分，散血消腫，兼潤腸臟，而去留滯者也，且可預禳瘟疫。於六月六日采，存至次年元旦，瀹熟，鹽醋拌食之。俗又有安樂菜之名。唐武相國元衡患脛瘡，鍁癢痛楚，三年不愈，廳吏自以鮮者搗敷之，數易而愈。《海上方》用干者一斤，鮮二斤，同五加皮八兩，蒼朮四兩，煎湯澡浴。一切風濕氣、楊梅毒，及婦人月家病，以致筋骨疼痛者，亦取其滑可去澀，而宣通血脈也。其殺寸白由，敷拔療根，滴聘耳，療甲疽，滅瘢痕，點目眯、目翳，理痔漏、帶下，又其餘事耳。此物本萊類，而食者少備藥料而肆不收，隨在俱產而摘采易，可應急需而不難購，人多忽而不用，余甚惜之。因述其功能而特為之記，以告諸同志。</p>
<h2>蕪菁說</h2>
<p>蕪菁者，一名九英菘，即蔓菁也。南北隨地可蒔，而北方為多。《毛詩》為之葑，其性易生而滋長。故武侯行軍，教士卒種之以備饑，蜀人呼為諸葛萊。馬毀攜入南中猺狫，今猶呼為馬王萊。而蒙古則稱為沙吉木兒。其葉似芥，闊大而厚，莖短而租。夏初起台，開黃花，四出結角，子似芥子，而色紫赤，勻圓根，如蘿蔔，青白而圓長。六月種者，根大而葉蠹。八月種者，葉美而根小。惟七月初種，則根葉俱佳。京師人家以瓶醃藏，名閉甕菜，差似撇蘭耳。其性苦平，利氣消食，治嗽通淋，殆清熱祛滯之品。其子大能明目，而榨油然燈又損目，此物理之變幻也。李時珍稱其可升可降，能汗能吐，能解蜘蛛毒，其根解酒止衄，拔疔根，消陰腫如斗。亦日用恒需之藥，非特僅於療饑而已。且於立春後庚子日，搗根汁，闔家以次溫飲之，可辟時疾。其有裨於世，非淺鮮用為之說，以揚其功用云。</p>
<p>附：治青盲方？但瞳子不壞者，十可療九。用蔓菁子六升蒸之，氣遍合甑，掇下，以釜中熱湯淋之，乃曝乾，如是三蒸三淋三曬，杵為末，食後清酒服方寸匕。</p>
<p>又方　常服能洞視臟腑。蕪菁子三升，苦酒三升(苦酒，醋也)，煮熟曬乾為末，以井華水服方寸匕，日三服，盡一斗，夜視有光云。</p>
<p>煮蔓菁菜作食，先用水炸熟，漉出，另用冷水浸一宿，去水加油鹽炒食之，否則味苦不堪食。　　</p>
<h2>山陰倪涵初先生瘧疾三方疏釋</h2>
<p>第一方　治夏秋暑濕時瘧初起。平胃除濕，理氣化滯，有疏導開先之功。受病輕者，一二劑即愈。</p>
<p>製半夏　廣橘皮　雲茯苓　威靈仙各一錢茅蒼朮　紫厚朴　柴胡　黃芩各八分青橘皮　廣擯榔各六分　炙甘草三分　生薑一錢</p>
<p>河井水各一盞煎，空腹溫服，如頭痛加白芷八分。按此方合小柴胡、平胃散，青皮飲三方為一，面以檳榔易草果之辛烈，加威靈仙，通行十二經絡，徹內外而透邪出表，故奏效捷而成功偉也。蓋人身中水濕有形之陰邪，每留著於腸胃，多化為熱；中暑熱無形之陽邪，每游溢於經絡與濕相搏，遂化為瘧痢。暑邪初中，不為濕所羈留，而即病自當從暑治，香薷散等方，表散之而外出是也，既化為瘧痢，則當從瘧痢治，猶米已成飯，不可以出汁，須由裏而和之，使外出是也。故治瘧發表非治法也，盡用麻，桂、羌、防，幾曾見一汗而愈者？瘧邪之汗，猶之瘟疫同法，必裏氣和而表自解。倪先生此方，專以疏利留著之濕邪為主，而以和胃化滯為佐。獨黃芩一味，堪清遊溢經絡之暑熱，可與疫症達原飲同調，不藉香茹之發表，而況麻、桂、羌、防，散太陽風寒之晶，可浪施乎？至若但熱不寒之癉瘧疫厲，傳變之溫瘧，自有白虎、承氣在，但寒不熱之牝瘧，則又有附子理中、大小建中在，亦非徒恃發表可愈也。</p>
<p>第二方　治瘧發三四次後，痰滯稍減，正氣漸虧，一二劑即可止住。即極弱之人，纏極重之症，十劑後無不奏效。</p>
<p>生何首烏三錢　醋炙鱉甲？知母各二錢白朮　當歸　威靈仙各椙？　白茯苓　黃芩柴胡　廣橘皮各八分　炙甘草三分　生薑一錢</p>
<p>河井水各半。煎，加無灰酒一盞，再煎數沸，空心溫服。按此方妙在補瀉互用，虛實得宜，不用人參、黃耆之驟補，屏去常山、草果之峻削，平平無奇，卻神有效。慎勿混行加減，即無效矣。蓋瘧舍於營，邪傷血分，表邪稍解，當顧營血。方中首烏、鱉甲、當歸正力血分藥也。</p>
<p>第三方　治久瘧虛弱並虛人患瘧，扶正祛邪大有神效。</p>
<p>人參(或以玉竹代之，沙參無益也)　炙黃耆各一二錢　白朮錢半　當歸一餞？柴胡橘皮各八分　升麻四分　炙甘草三分　生何首烏二錢　大棗一枚　生薑八分</p>
<p>渴加知母一錢，熱甚加青蒿八分，胃口不和加麥芽一錢，在半饑時服。</p>
<p>《素問》瘧論，黃帝問曰；痃瘧皆生於風，其蓄作有時者，何氣使然？岐伯對曰：陰陽上下交爭，虛實更作，陽並於陰，則陰實而陽虛。陰勝寒生於內，陽虛寒生於外，故中外皆寒極，則陽回而外出。陰並於陽，則陽實而陰虛，陽盛則外熱，陰虛則內熱，內外皆熱，故喘而渴，欲飲冷也，此皆得之。夏傷於暑，熱氣盛，藏於肌肉之內，腸胃之外，此營氣之所舍也。令人汗孔疏，腠理開。因得秋氣，汗出遇風，及得之浴，水氣舍於皮膚之內，與衛氣並居。衛氣者，晝日行於陽，夜行於陰。此氣得陽而外出，得陰而內薄，內外相薄，是以日作其間。日作者，由邪氣內薄於五臟，橫連於募原，其道遠，其氣深，其行遲，故間日發也。至間數日發者，邪客於六腑有時，與衛氣相失，故數日乃作也。</p>
<p>按經文則瘧為先傷暑濕，後感寒風，構煽而起，其病根於肌肉之內，營氣界分。不比風寒，驟感之在皮毛，不與營氣相涉，可用麻、桂，羌，防發表，一汗而愈也。故治法必求之營氣，用藥必遵夫和解，由半表半裏之間，導之使出。半表半裏者，少陽之分也。少陽為樞，開闔必經之地也。雖刺瘧篇有三陰三陽五臟及胃腑十二瘧形狀，乃邪走空竅，游溢於虛隙之處而現症，究其受病之原，乃舍於營分及募原皆半表裏也。惟間數日者，則舍於六腑而更深入。然求其外出，亦必由少陽之樞辟，而後甫能達之皮毛。故小柴胡為治瘧要藥，奈今人因李士材有瘧非少陽者，慎用柴胡一語，寒邪在太陽者，柴胡投早引入少陽等語，舉世畏柴胡如虎，而治瘧有終始棄置不用者。詎不思非少陽者，固不可用，在少陽者，非此不達也。前賢垂訓，原欲人辨症而施藥，試思寒熱往來之為少陽症也，千古不易。既見寒熱往來而猶侵柴胡，甘事麻、桂、羌、防，能不僨敗乎？且士材所云瘧非少陽，寧非指癉瘧、牝瘧乎？奈何泥於一而不通乎？概遂致因噎而廢食，豈不可歎！因疏倪先生方，而並拈經旨以印之，為同道共商榷焉。且風寒在表之惡寒發熱，人雖惡寒而肌膚已熱。瘧疾之惡寒，內外俱寒，及其發熱，絕不惡寒矣。風寒得汗，退熱即解。瘧疾自能作汗，而退熱次日仍復。如是可見其病在裏而不在表，非可求汗而解，必裏清而表白清。強表徒傷正氣，而瘧必淹纏。故瘧疾有汗者，及其無汗即愈；無汗者，及其有汗即愈。瘧之為汗，乃其所自為也，非可強發也。故曰：裏氣和，汗自出，裏和而表從之矣。</p>
<h2>癉瘧</h2>
<p>經曰：癉瘧者，肺素有熱，氣盛於身，厥逆上衝，中氣實而不外泄，因有所用力，腠理開，風寒舍於皮膚之內，分肉之間而發，發則陽氣盛而不衰，不及於陰，故伹熱不寒，氣內藏於心，外舍於分肉，令人消爍脫肉。</p>
<p>按：此則治癉瘧主於肺熱，實者白虎湯，虛者竹葉石膏湯，或君以知母，佐以人參，但二味更專功也。</p>
<h2>濕溫如瘧論</h2>
<p>原夫瘧疾多端，《內經》詳論已備。後人體認不真，每舍少陽不治，徒事發表攻裏，往往貽誤。不知瘧之關於少陽，猶咳之不離乎肺也，縱有十二經之兼症，不過兼藥以治之。若舍少陽而治瘧，猶舍肺而治咳也。瘧為少陽證，小柴胡為少陽藥，舍小柴胡其孰用耶？少陽症忌汗吐下，此仲景之格言也。舍和解其又孰從之耶？今乃有濕溫如瘧一證，亦少陽病也。而又若似乎非瘧，濕邪鬱蒸而成，而又若似乎溫疫，其初起也，先覺身體懶倦，神思困頓，微覺怯寒，而又不甚畏風寒，似將發熱，而又不覺其大熱，三五日間，似饑非饑，欲食不食，漸漸加熱，非若傷寒之猝然灑浙，惡寒而發熱，非若溫疫之陡然蒸熱而昏迷也，每熱則渴，欲飲水而不甚貪，太陽或痛，筋骨或酸。或現少陽一二症，口苦而不脅脹，脅脹而不耳聾，耳聾而不作嘔；或兼陽明一二症，兩目微脹鼻干，不干時或眠，不眠更或腰脊強痛；又似太陽證狀。然而種種雜出，俱隨熱輕重而增減，且不惡寒而反愛涼，熱時手心甚於手背，一日之內，平旦前後，必有一二時辰安靜，頭頸以上若似有汗而潤澤，摸之黏手，而實無可拭之汗，及至巳午以後，熱甚則膚腠乾燥，似睡非睡，囈語如譫，喚醒則清，而非若譫妄之不知人事，舌苔白滑，中或微黃，口糙無味，脈則兩關滑數，少陽更弦，浮部不足，沉部有力，此濕溫時氣雜合所致，脾胃虛弱之人多成此症，乃少陽、陽明而兼涉太陰之候也。因其非風寒之邪，故不惡寒，而但作熱。因其似瘧，故不若傷寒之惡寒發熱，頭痛無休，不若疫症之大熱娟然，神昏志亂也。因是濕溫，故但熱不寒，而渴不貪水。不若冬傷於風，至春作瘧之先熱後寒而為溫瘧也，不若夏傷於暑，秋必為瘧之先寒後熱而為寒瘧也。但其作止有時，輕重有候，即同瘧症，邪由濕溫內發，干涉太陰，是以難汗發。從少陽、陽明，當用柴平散以萎蕤代人參和解之法治之。且此症更多自肘至腕之臂，自膝至踝之脛不熱可徵，其兼太陰而外驗諸四肢也，其手足心更熱者可徵，其邪在少陽而內熱甚也，人見其但熱不寒，而又不若癉瘧之但熱面有汗也，故不敢斷其為瘧。因其無汗，多用羌、防、荊、葛，求其汗解而不應，益以麻、桂，重竭其表，而汗愈不至，轉而疑為血虛，不能作汗，重施歸、葛、逍遙，而終不應，其或有兼腰痛者，非太陽症，或增注瀉者，乃邪留少陽，日久而動厥陰經氣，即經所云足厥陰之脈絡膽，是動則病，腰痛不可以俯仰，嗌干，面塵脫色，胸滿嘔逆飧泄是也。伹和少陽，則邪自解矣。此症多發於春暮，以至中秋，當木土火氣值令之時為最多。奈病家但見發熱，鹹為著表，喜從發散，不知發熱之症多端，豈盡表耶？南方人更怕寒涼，視三黃、白虎如蛇蠍，以小柴胡方內有黃芩，多不敢服，北方人怕溫燥，視薑、桂如虎狼，且嫌和解之功緩，喜從攻下，而服承氣。此俱一隅之偏見，必藉醫家把握，剴切開導，使知此症當從少陽治法，而柴胡為少陽之表藥，清肌解熱，黃芩為少陽之裏藥，利熱燥濕，二者去一則不成其為小柴胡湯也。而人參、半夏，乃佐使之晶，在可增可減耳。炙草固胃氣，薑棗和營衛，俱不可少者也。若有兼症，則以兼藥治之，豈可舍少陽而他求乎？</p>
<p>加減柴平散</p>
<p>萎蕤三錢柴胡　黃芩酒妙　製半夏各二錢　茅蒼朮　厚朴薑炒　橘皮　炙甘草各八分紅棗三枚　生薑一片</p>
<p>如屢服發散藥而無汗，重竭其津液而煩渴者，加天花粉、麥冬，減半夏；如服攻下藥而溏瀉，夜甚，五心煩熱，邪陷血分者，須調中益氣湯加減治之，提邪外出陽分。</p>
<p>加減調中益氣湯</p>
<p>生黃耆　生白朮　萎蕤各二錢　茯苓一錢二分　炙甘草　橘皮　柴胡各八分　升麻四分棗三枚薑一片　若腹脹瀉不止，加煨木香八分</p>
<p>凡治傷寒者，咸祖述仲景。然多致力於汗下，而於溫清和補之法，每略而不究。時人用藥，動稱景岳而言新方者，惟擅有歸、理陰，但用其熱補二陣，而遺其六陣於不問，殊不察用和之法，莫善於景岳，其於和陣略中言之詳矣。且其散陣中之六柴胡飲，更可為善用柴胡者。奈人咸謂景岳偏於溫補，乃今人用其偏，而景岳原未之偏也。</p>
<h2>男子熱入血室論</h2>
<p>《金匱要略》曰：婦人中風七八日，續得寒熱，發作有時，經水適斷，此為熱入血室，其血必結，故使如瘧狀，發作有時者，小柴胡湯主之。又曰；婦人傷寒發熱，經水適來，晝日明瞭，暮則譫語，如見鬼狀，此謂熱入血室，治之無犯胃氣及上二焦，必自愈也。又曰：陽明病下血譫語者，此為熱入血室，但頭汗出，當刺期門，隨其實而瀉之，濈然汗出者愈，</p>
<p>愚按：血室即血海也。肝為血海，乃厥陰也。婦人傷寒時疫，適逢經至，血海空虛，邪陷入內，面作寒熱往來，譫妄如瘧，此邪犯厥陰而列入少陽篇者，所以明少陽為厥陰之府，必和邪使從表出，故治法不外乎小柴胡湯也。然血海男女皆同，而不及男子熱入血室之故者，乃古之缺文也。成無已則以陽明病下血譫語一條謂指男女者，猶未可為定論。若然，則婦人豈獨無陽明病下血之症乎？婦人之月經有信可驗人所易知，男子則無以考證。成無已泥於必見血而方可為熱入血室，故以陽明病下血條印之，獨不思無下血症而往來寒熱如瘧，又當指為何症乎？愚意男子是症，必其人素有遺滑慣病，或感邪後而夢遺，或入房，至使邪熱乘虛而入血室也。夫遺精出自前陰，人皆認為腎病，而愚曰：厥陰非創說耶，然不知經云肝主疏泄，故遺精必先治肝，況女子之月水亦出前陰，非同根於厥陰之疏泄，而出則俱從外腎也。細繹《金匱》所列三條，受症不同，治法各異，總以和解為主。其曰；無犯胃氣及上二焦者，恐人誤施汗吐法也。曰：當刺期門，隨其實面瀉之，濈然汗出者愈。恐人誤施攻下，並戒不可大汗，以明少陽症忌汗吐下法也明矣。故婦人必察其適斷適至，而於和邪中兼以活血導血之藥；在男子則察其有無下血遺滑，而兼以逐瘀養陰之藥，和解緩攻，萬無以剛藥與之，以致不救。乃人往往見男子是症，認為腎虛，投以薑、附、桂、地，甚則參、耆，純於溫補，忘其譫忘熱邪，多致昏惑，憤亂而斃，更不思陰寒直中少陰之症，自有脈症之可據，今縱因疏泄而腎虛，乃熱邪之陷入，非陰寒初感直中之可比。奈醫家不察經義，而置和解提邪於不問，病家期於速效，而喜補正祛邪之穩妥，致令死者之含冤，徒使二豎之竊笑，深可慨夫！</p>
<p>以上二症，同出少陽病，最淹纏，醫易搖惑。若更病家欲求速效，則多所貽誤用抒一得之忱，惟冀大雅之鑒，倘蒙賜教，更幸甚矣。</p>
<h2>太陰脾經辨訛跋語</h2>
<p>余自束發客江寧，因水土變遷，嬰疾病臥兼旬，幾弊者屢，守中醫而獲愈。既愈，留心醫學，欲為卻病計，非敢存醫人志也。越數歲，稍出應酬，見人有稱病曰太陰脾經者，心竊異之，及其治法則令人餓而不食，藥則從乎蒼、朴、砂、蔻，香燥攻克而已。夫太陰脾乃手足十二經中之一耳，若論其經臟之病，則疸、腫、瀉利，嘔吐、脹滿，以致停痰、積食，種種不一，淪其治則，補瀉溫清，各各不同，何混乙太陰脾經命病名？而治則一例也，若以不思食為脾之病而概稱之，則咳嗽吼喘何又不稱之曰太陰肺經也？類此而推，則驚悸怔忡，亦可稱曰少陰心經，(病-丙C貴)疝癥瘕亦可稱曰厥陰肝經矣。雖仲景《傷寒論》有太陽、少陽、陽明、太陰、少陰、厥陰症，乃言是經之為病如某某等，亦並未有乙太陰脾經為病名也。在病家或不知名義，奈醫家亦侈口而稱，其不思也甚矣！且其不思食，屬傷食惡食者餓猶可也。若脾虛不運，胃弱饜飫，補之不暇，尚堪餓而消之乎？獨不顧得穀則昌、有胃氣則生之義，詎有令人長餓而更連旬累月之進攻克香燥藥以責效也耶？存疑迄今，役役四方，未得就有道而訂淪之。乙丑暫歸金陵舊館，得與王子村舟游，出其太陰脾經辨訛論以示余，讀之數過，其析理詳明，剖症纖悉，足破金陵習俗，而壽斯民，功匪淺鮮猗歟！人同此心，心同此理，使余積久疑團一旦而獲同聲之應，是用慫恿付梓，以公諸世，王子辭讓，且恐獲罪於同儕。噫！切磋琢磨，朋友之道也。苟有所得，出而丐正於同人，何莫非相長之道與？亦胡惙惙弗遑焉？爰為跋之篇末，惟村舟其圖之。</p>
<h2>山陰倪涵初先生痢疾三方疏釋</h2>
<p>第一方　治痢疾初起，或紅或白，裏急後重，身熱腹痛，五色兼至，或如魚腦，皆以此方治之。</p>
<p>川黃連　條黃芩　白芍藥山楂肉各一錢二分　枳殼　桃仁去皮尖研，一錢　厚朴　檳榔　青皮各八分　當歸　甘草　地榆各五分紅花酒炒，三分廣木香二分</p>
<p>如單白者，去地榆、桃仁，加橘紅四分，倍木香，滯澀甚者酌加酒炒大黃一二錢。</p>
<p>按：痢之為病，由於手太陽小腸、手陽明大腸二經而來。蓋小腸為受盛之官，水穀腐焉。大腸為傳導之官，糟粕行焉。若二經外受暑風濕蒸之氣，內傷生冷油膩之物，受盛失職，不能分消傳導，失度不能遞送，故其作也裏急後重，變為膿血，大小腹痛，旋解旋作，皆壅滯不通之狀。古名滯下，今則為痢，實乃不利之渭也。其色白者，大腸受病，庚金白而肺相表裏，病於氣也。色紅者，小腸受病，丙火赤而心相表裏，病於血也。總緣濕熱為患，並無紅白以分寒熱之說；惟日久氣虛以致脫滑者，則需參、朮、訶、栗以固之，無用溫補，治痢之法也。須知痢與瀉屬兩途，痢屬腸病，瀉屬脾病，迥不相謀。瀉有寒熱之干，痢惟濕熱之患。瀉多虛寒之症，痢惟久暫之異。雖古稱有大瘕、腸癖、滯下、刮積之名，而實為濕邪壅滯化熱所致，直至日久不止，變為虛寒者有之。若初起誤投補澀之藥，貽患匪輕。倪先生治痢三方，鹹以芩、連清熱，查、朴消積，歸、地、桃仁、紅花以清血滯，枳、橘、木香、檳榔以清氣滯，生白芍除後重而約脾，按日照方，無不百投百效也。</p>
<p>第二方　治痢十日外者，用生熟料各半法也。</p>
<p>黃芩　黃連　白芍各炒六分，生四分　查肉-錢　橘紅　青皮　檳榔　地榆各四分當歸五分　桃仁六分　紅花三分　木香二分　甘草炙二勺，生二分</p>
<p>第三方　治久痢經月，脾胃弱而虛滑者。</p>
<p>黃芩酒炒黃連酒炒．各六分　自芍酒炒，四分　當歸五分　人參五分　白朮土炒，五分　炙甘卓五分　橘紅六分</p>
<p>以上三方皆以芩連為主，而補瀉隨宜，乃今治痢者絕不用芩連，何哉？鹹以瀉法治痢故也。殊不知苦以燥之，即熱瀉亦何避芩連耶？</p>
<h2>資生丸方</h2>
<p>王肯堂曰：余初識繆仲淳時，見袖中出彈丸咀嚼，問之，曰：得之秘傳，名資生丸，饑者眼之飽，飽者服之饑。因疏其方，麗猶不信其消食之功。已於醉飽後頓服二丸，徑投枕臥，夙興無停滯，始信此方之神。先恭簡年高脾弱，食少痰多，余齡葆攝全賴此方，因特著此與世共之。</p>
<p>白朮泔浸黃土拌蒸，曬九次，去土切片．焙乾，三兩薏苡仁淘淨炒黃色，三兩　人參蒸熟焙乾，三兩山楂肉蒸焙乾，二兩　神麯炒二兩？橘皮浸洗去膜，堵干，二兩　白茯苓去皮，水飛去筋膜，人乳拌蒸，一兩半　干山藥炒黃，一兩半　麥芽粉一兩半　芡實去殼蒸，一兩半？白扁豆去皮炒，一兩　蓮子去心蒸，一兩　炙甘草五錢　桔梗米泔浸炒，五錢　藿香五錢　白豆蔻三錢半　川連薑汁炒，三錢半？澤瀉蒸，三錢半妊娠以砂仁易澤瀉，煉蜜為丸，每服二錢，淡薑湯細嚼下。亦可作細丸。無力用人參者，以洋參代之，黨參不如也。</p>
<p>《醫宗金鑒》羅謙甫曰：此方始於繆仲淳，以冶妊娠脾虛及胎滑，蓋胎資始於足少陰，資生於足陽明，故足陽明為胎生之本。一有不足，則元氣不足以養胎，又不足以自養，故當三月正陽明養胎之候，而見嘔逆，又其甚者，或三月或五月而墮，此皆陽明氣虛，不能固耳，古方安胎類用芎、歸，不知此正不免於滑，是方以參、朮、茯、草、蓮、芡、山藥、扁豆，薏苡之甘乎以補脾元，陳皮、曲，柏、砂、蔻、藿、桔之香串以調胃氣，其有濕熱以黃連清之燥之，既無參苓白朮散之補滯，又無香砂枳朮丸之燥消，能補能運，臻於至，和於以，固胎永無滑墮。丈夫服之，調中養胃，名之資生信不虛矣。</p>
<p>余於辛卯回越中，值母姨臥疾數月矣。時年七十有八，每夜起更衣三四次，晝如之所進食數次，共不及一盂，腹中時痛不休，肌肉瘦憊，起坐維艱，語言無力。醫者無非用補火生土之法，右歸、四神之類，輒不應，余因謂脾胃之疾不宜湯液，年高之人礙於峻補。蓋脾胃不能健運厚味飲食，大補之藥亦猶之厚味飲食，徒圍塞脾胃運樞。不若用資生消補之法，遂進此丸，數日後面腹痛漸減，泄瀉漸除，旬日後飲食加進，彌月而愈。於今七載，服丸未嘗間斷，現在八十四齡，每飯可兩碗矣。可見肯堂先生前論之不誣，亦培後天以補先天，女媧煉石之法也，用揭此方以公同好，乾隆丁酉萍如謹識。</p>
<h2>左金丸</h2>
<p>川黃連炒，六兩　吳茱萸滾湯泡炒，一兩　水跌為丸</p>
<p>《醫宗金鑒》胡天錫曰：治肝之法有數種，水衰而木無以生，用地黃丸，乙癸同源是也。土衰而木無以植，用參、苓、朮、草，緩肝培土是也，本經血虛有火，用逍遙散清火；本經血虛無水，用四物湯養陰。至於補火之法，亦下同於腎。而瀉火之法，則上類乎心。左金丸獨用黃連為君，從實則瀉子之法，以直折其上炎之勢。吳茱萸從類相求，引熱下行，並以辛燥開其肝鬱，懲其捍格，故以為佐。然必以本氣實而土不虛若，庶乎相宜。左金者，木從左而制從金也，特治肝藏實火左脅痛者。</p>
<p>按；時下凡遇脅肋脹痛，肝脾不調之症，動輒以左金投之，是未察左金之義也。《金匱要略》有云：見肝之病，以先實脾。若脾虛，為肝木所乘。再用黃連以瀉心火。但知瀉肝之子，不顧瀉睥之母乎？當衡其輕重緩急而施治，慎勿偏任也。</p>
<h2>石斛非肝藥</h2>
<p>石斛生於水石之間，秋月開花，皮黃肉白，甘淡微鹹，故入心腎脾胃四經，能強陰益</p>
<p>精，除熱療痹。氣薄味厚，陽中之陰也。時人竟以為肝經藥，殊不知何所據？夫五色、五味、五氣入五臟，千古不易之理也。肝屬木而色青，味酸氣臊。凡物品如是者則入肝膽，未有黃白甘淡者而入肝也。然肝苦急，急食甘以緩之。石斛甘淡用以緩肝，為輔佐之品則可，若藉以為平肝之藥，則未之察也。因論左金治肝法，故連類而及之。</p>
<h2>羊毛疹子辨論</h2>
<p>余客金陵四十餘年，舟車經遊十一省，所交四方知醫之土不下百什人，從未聞所謂羊毛疹者。乾隆辛卯壬辰間，有客醫倡是說以語人，用蕎麥面搓人胸背而治之，金陵逾甲老醫亦未曾見是症是治也，故疑信相半。客醫乃援《證治準繩》療瘡門所載羊毛疔，及《醫宗金鑒》療瘡門注釋所述，並《說鈴談往》所紀三條以示人，在明理者雖未之全信，然不能詰其原以究其理，好事者乃從而和之，稍稍昌熾其說矣。余甚慨焉，因即其示人書逐條明辨之，非余好為揶揄其說也。蓋恐亥豕魚魯之不分，將以為人生性命之患，然猶未敢自信為所辨減是也，特引經據理而疏述之質諸。考古君子定其然否，知我罪我，弗遑顧焉。</p>
<p>王肯堂《證治準繩》療瘡門載濮陽傳云：萬曆了亥，金台有婦人遍以羊毛鬻干市，忽不見。繼而，都下人身生泡瘤，漸大痛死者甚眾。瘤內包有羊毛，後一道人傳方，用黑豆、蕎麥為粉，塗擦之，毛落而愈。</p>
<p>《說鈴談往》云：崇禎癸未，京師時疫，病起必有紅點在背中，包羊毛一縷，無得活者，疫死無算。</p>
<p>《醫宗金鑒》疔瘡注釋下云，有羊毛療症，身發寒熱，狀類傷寒。但前心後心有紅點如疹形，視其癍紫黑者為老，淡紅者為嫩。宜蟾酥丸汗之，五味消毒飲汗之。愚按以上三條，一則為天行疫癘之成療者，一則為災疫毒發於背而似癍疹之類者，一則為療瘡中有紅點發於前後心如疹形者，並未實指為疹也，況有可救者，有必死者，有以藥汗之而可愈者，輕重奇恒之階判然，豈可不逐一明辨之而混曰羊毛疹子為四時常有之疾乎？蓋首條有婦人鬻毛於市而生泡瘤，痛死毛現，此之謂天行疫邪也。況泡瘤狀大，發無定處，內包有毛類於羊毛，名之曰羊毛療猶近似也。原未曾曰羊毛疹也，然亦必在春秋行疫時有之。萬曆丁亥偶有之，前乎此後乎此未之聞也，次條乃疫癘極甚，毒發於背，紅點似疹、含毛、此之謂災眚怪症，呼曰羊毛疫可也，未可呼曰羊毛疹也。且法無可治麗必死，否則萬歷時道人方為時末甚遠，豈人盡不知而一試治之？若謂療可治疹不可治，則今之養麥，又何益耶！第三條乃疔瘡中兼見前後心發紅點者，並末指明毛在疔抑在點，當去毛與否。蓋《金鑒》乃禦纂書，太醫秉筆，因《準繩》等書載有前條，不敢遺又不敢信，故於注釋內載此數語，要知吳太醫亦未嘗經見是症也，意其發於膻中背俞之分，散示人以汗解之。亦只曰羊毛疔面末日羊毛疹也。總而論之病有奇恒，時有治亂，事當尋理。疔與疹懸殊也，疔痛疹不痛，疔大而疹細，疔無定處，疹及遍身，豈得以療有羊毛之症而渾曰羊毛疹乎？即據《說鈴》所紀，紅點發於背而病疫生毛，《金鑒》所述紅點發於前後心而患疔生斑，可見獨發於此而不及他處者，始可斷曰羊毛疫，羊毛疔亦未曾直書曰羊毛疹也。今若以肺經鬱熱咳嗽而發疹亦遽曰羊毛疹可乎？若傷寒熱干陽明面發癍亦是紅點，亦概曰羊毛疹乎？若然，則凡痧麻癮痤其中皆有羊毛乎？倡是說者固非鑿空無本之談，然察理欠明，不當以明季災異之怪症而侈談為盛世常有之疾病，致使痤疹痧麻鹹混羊毛之說，惟以去毛為治，滋害深矣。明理者當慎察之。查《本草》大豆條下云；能制牛馬瘟毒。《夷堅志》云：靖康二年春京師疫，有異人傳方用黑大豆二合，炒熟炙甘草一錢，煎湯時時飲之立愈，可見大豆能治天行瘟疫之毒也。又蕎麥條下云；苦蓧性寒能脫人鬚髮還生，亦稀道人用此二物，一以治毒，一以去毛，拯一時之災也。今客醫見人胸背偶有痱痤之類，輒教以荍面，連旬累月而搓擦之，寧不毫毛隨面而黏落，遂指人身之毫毛為羊毛，妄矣！然毛疹固屬牽混，而毛疔、毛疫之災究何自生，查《宋太史書》云：山林之人毛而瘦，得木氣多也，《素問》云：毛蟲屬木，則毛之為災乃少陽木氣強盛，得濕熱蒸溽而生，譬如罨醬曲於夏暑少陽工時之候，不數日而毛生，氣變矣。經又云；肝膽屆木，其氣臊，剛毛秉木氣而生，是羊毛疔疫之患為少陽經病。木邪侮金髮於肺部之膻中背俞之分，生毛而氣臊，有類於羊，面名之。豈人之身而真有羊毛耶？且夫少陽為樞，太陽為開，陽明為闔。樞運而外辟達於太陽，可汗而愈。毛其化矣。樞滯面內閉歸於陽明，入於腑臟，昏冒惑亂，人死而毛見矣。假遇是證，理應達木鬱，疏肺邪。初感為淺者，荊防敗毒散加豆豉之類汗之。日久而深者，防風通聖散表裏雙解之。若果皮破毛現，時氣鹹若，即道人方原不可廢。總之為疔為疹咸皮也，不可與凡百常病同視也。謂疫厲中有此毛療毛疹之症，則可謂疹症中常有，羊毛之症則不可也，又查五常政大淪曰：敷和之紀，木德周行，云云。其蟲毛。委和之紀，是謂勝生，生氣不治，化氣乃揚，其蟲毛介，其病支廢癰腫瘡瘍，眚於三。發生之紀，是謂啟敕，土疏泄，蒼氣達，其病怒，太角與上商同(上商、陽明司天)，其蟲毛介。又曰厥陰司天，毛蟲靜，羽蟲育，介蟲不成。在泉，毛蟲育，介蟲耗，羽蟲不育。少陽司天，羽蟲靜，毛蟲育，倮蟲不成。在泉，羽蟲育，介蟲耗，毛蟲不成。氣交變大論曰：歲金太過，燥氣流行，胸痛引肩，歲金不及病，內舍騰脅，外在皮毛。又曰：有德有化、有政有令，有變有災，而物由之而人應之也。又曰：以道留久，邊守而小，是謂省下；以道而去，去而速來，曲而過之，是謂省遺過也：久留而環，或離或附，是謂議災與其德也。</p>
<p>按：木平曰敷和，不及曰委和，太過曰發生，災病曰眚，留守曲環星象，省察分野，審德罪而降災福也。故本子歲，其蟲毛，得木氣專而靜也，不及則毛介，介乃金屬，金來兼化而介蟲同生也。太過亦毛介者，木盛淩金面齊化，毛介並生也。尋繹各經文，則木邪無不關於金也，症未有不發於胸背部分也。若盛朝熙皞之際，歲氣縱有災侵，德化可以消弭，此留守曲環之所以遺省者也。如丁亥乃委和之紀，金兼木化，歲運丁王化木，司天厥陰風，木運與天符二木，比助轉委而強，接交春分二氣，後太徵，火客運來，臨木火過強，金受其制，勝復之作疵厲盛行而生，毛疔木之眚也。婦人鬻毛亦歲運災星之脫化，豈真有婦人耶？泡瘤腫痛即經所云癰腫瘡瘍也，瘤內有毛即經所云眚於三，三乃木之生數，而見災異病也。迨後癸未乃小逆之歲，立春初氣主客同為厥陰，木春分二氣，主客同為少陰火，歲運戊癸化火，木火相生而熾。至小滿三氣客氣濕土，臨主氣相火之上，濕熱蒸溽而疵厲起，均歲運節氣之所致。當明季末運，尚有何德化而弭此災變也耶？至於運氣，雖六甲一周而災祥乃因時而變，前此之丁亥癸，未曾未聞有此毛疔毛疫也。後此之丁亥癸未，又屢更矣，而熙皞承平更未知有疢疾，乃者忽倡為異說以惑人，其不審也甚矣。值此德化，覃敷萬邦，和洽編氓，隱瘼久被，南薰之解慍，何業醫者不守常而好異是為哉？</p>
<p>天行時疫，本不常有，索隱行怪者偶倡惑世。誣民之說，知醫者少，以訛傳訛，始則妄指怪症，繼則妄投謬藥，為害不淺矣。萍如先生哀之，條晰明辨，灑灑干言，洞若觀火，如秦人照膽鏡，表裏明徹。吾知心不正者，見之卻走，為功斯世，豈淺鮮哉？亟勸付梓，俾戶誦家弦，齊登壽域，勝刻《太上感應篇》、《文昌陰騭文》千百紙也。</p>
<p>乾隆癸巳落燈後三日同學弟古漁陳毅跋。</p>
<p>加減參蘇飲</p>
<p>治四時感冒、風寒、頭痛、發熱、憎寒、咳嗽、涕唾、稠黏、胸隔滿悶、脈弱、無汗並停滯飲食、腹痛、欲作瀉痢等症。歌曰：蘇葛前胡合二陳，枳香甘桔共雲苓，人參特為虛人設，加減推洋要性靈。</p>
<p>紫蘇　葛根　前胡各二錢　陳橘皮　製半夏　枳殼各一錢　廣木香　炙甘草　桔梗各八分　茯苓錢半　人參酌用，連須蔥頭三個生薑六七分，隨時增減　紅棗三枚</p>
<p>按：風寒感在太陽膀胱經，則能傳經以其主一身，極表浮陽之地。故遞傳三陽而病陽行速也。占法用桂枝麻黃二湯，發營衛之汗，不使再傳者。以佳麻辛甘發散純陽之晶，寒邪容於太陽寒水之經用此純陽迅速之藥，以氣相從而奏效捷也。若已傳他經者投非其時，即禍不旋踵。故後人以九味羌活湯、人參敗毒散代之誠詳慎矣。若風寒感在太陰肺經則不傳經非太陽之可比。蓋肺主氣，經云：邪之所湊其氣必虛，氣虛之人不拘四時，易於感冒。不與傷寒時行之際強弱均受者同日而語也。此方於發散藥中，用參、苓、草以固氣，即沖和湯中，用生地以養血，同意知非可徒恃峻表而愈也。況應用桂麻之症，而用蘇、葛、柴前失之不及，猶無傷害。若只須蘇、葛可療而過，用桂麻為害多矣。方中蘇、葛、前胡，清熱解肌；陳、夏、枳、香，利痰疏氣；苓，草安胃和中；桔梗載藥。上浮直達胸中表裏兼行，若形體素弱或年高久病之人，則人參臨時酌用。總之肺為太陰燥金，清肅之地宜於清散。不同太陽寒水之經，可施辛溫猛悍之藥。經絡不同當詳識之，且此等症候，最多切勿小題大做。</p>
<p>加減法</p>
<p>傷飲食、胸脅脹滿、噯氣不舒者，加山楂肉，麥芽．神麯，倍木香；大便難者加杏仁泥，血虛而大便秘結者，加歸尾、桃仁泥；小便少者加澤瀉、倍茯苓，頭痛因火者加甘菊花，因血虛者加當歸、川芎。如一二劑後，表解熱除而咳嗽不止，喉干舌燥者，加百合、天花粉或貝母，除去半夏、木香、蔥、薑、棗，本方除去人參、前胡，用川芎、柴胡、名芎蘇飲，則入厥陰少陽而宜於血虛火盛者，減參恐其助氣而動火也。本方除去人參，半夏加芎．歸治新產後，感冒、發熱、頭疼及虛損吐血人。感冒、發熱、咳嗽，無汗者，養血則汗作也。半夏有三禁：產後，汗後、血家，俱不可投。其他如玉竹、荊芥、博荷，俱可量加。利熱則梔子、連翹，亦可擇網。鄉村旅次乏醫之處，偶值微屙照方揀投，最為穩妥，用疏之以公諸世，亦方便之一端耳。</p>
<h2>集蟲說</h2>
<p>巢元方《病源》云：人腹有九蟲：伏蟲長四分，群蟲之主也；蛔蟲長五六寸至一尺，發則心腹作痛上下，口喜吐涎及清水，貫心則死；自蟲長一寸，色白頭小，生育轉多，令人精氣損弱．腰腳疼，長至一尺，亦能殺人；肉蟲狀如爛杏．令人煩悶；肺蟲狀如蠶，令人咳嗽，成勞殺人；胃蟲狀如蛤蟆，令人嘔逆喜噦；弱蟲又名鬲蟲，狀如瓜辦，令人多睡；赤蟲狀如生肉，動作腹鳴；蟯蟲至微，形如菜蟲，居胴腸中令人生癰疽、疥癬、病癘、痔瘺、疳（匿/蟲）、齲齒諸病。堵蟲皆依腸胃之間，若人臟腑氣實，則不為害，虛則侵蝕變生諸疾也。又有三屍蟲，名彭質、彭矯、彭琚，與人俱生，為人大害，其狀如六烏尾，或如薄筋，依脾麗居，三寸許有頭尾，每於庚申日，上天奏人過惡．故道家有守庚申之說；凡服補藥必須先去此蟲，否則不得藥力。凡一切症瘕久皆成蟲，紫庭真人云：九蟲之中，六蟲傳變為勞瘵，而胃、蛔、寸白三蟲不傳。其傳變者或如嬰兒，如鬼形、如蛤蟆，如守宮．如蜈蚣、如螻蟻、如蛇、如鱉、如蝟、如鼠、如蝠、如蝦，如豬肝、如血汁、如亂髮亂絲等狀。凡蟲在腹，上旬頭向上，中旬向中，下旬向下，服藥須是月初四五日五更時則易效也，並須先以炙臠含口內，咀汁勿咽，引其開口而服藥。</p>
<p>張子和云：巢氏之衍九蟲詳矣，然蟲之變不可牲窮，要之皆以濕熱為主，蟲得風氣乃生，得雨氣乃化，豈非風木主熱，雨澤主濕耶？故五行之中皆有蟲，諸木有蠹，渚果有螬，諸菽有魴，五穀有螟螣蟊（？），麥朽蛾飛，栗破蟲出，草腐化螢，皆木之蟲也。烈火有鼠，爛灰生蠅，皆火之蟲也。穴蟻牆蠍，田螻石蜴，皆土之蟲也。蝌蚪、馬蛭、魚鱉、蛟龍，皆水之蟲也，昔冶工破一釜見其斷處臼中有一蟲如米，蟲色正赤，此則金中亦有蟲也。</p>
<p>沈萍如曰：前人所序論渚蟲，詳且夥矣，獨於治法則未之晰焉。觀今人患勞症瀕危時則有飛蛾出昔，豈非肺蟲如蠶而化蛾也。又如胃蟲如蛤蟆，能令人嘔逆善噦者，則反胃膈食未始非此蟲之為患也。煩悶因乎肉蟲，多睡緣乎弱蟲，腸鳴乃由赤蟲，雖未經人常道而蛔出於胃，而厥則心痛寸白蟯蟲之為病乃恒有者也。求仙必先殺三屍，乃人所常談者也，他如疥癬之有蟲蛇纏瘡之如蛇形，人面瘡之能食肉，醫藥俱必用硫雄砒麝，先殺其蟲，而疥癬瘡痍獲愈，是則病由於蟲者，急當除之，奈何惟治癆與膈，則未有以去蟲為務耶？</p>
<p>張子和言：蟲之所生，由於風濕熱固也，猶末透發其理，蟲之托始，固根於濕熱而使之化生，則專一於風，蓋風能生萬物，今觀藏物於器密封不透則無恙，若-進風則濕熱始化而為蟲。如枝元果殼及蠟函丸藥一破而蟲斯生，則可見非風不能使濕熱化蟲也，蓋蟲之生也，根乎濕與熱並而後萌，由於飲食雜進而後滋，更必因乎風氣鼓扇而後能動。夫五行在天為風，在地為木，在人為肝，是必脾胃土衰而濕熱滯，肝膽木盛而風動，然後蟲生而變為疾病，則治蟲之法，必先培土燥脾、抑肝去風，而澄其源，勿使滋蔓，庶得治蟲之要領矣。若徒殺之，而勿澄其源則隨殺隨生，亦何益哉？然而如三屍蟲之本乎先天，人人難免，非修真煉神不能制。若蛔蟯等蟲之生於後天，飲食所化者，則消除之法，其權在我，可以尋其本而治之也。</p>
<p>《鱠殘篇》終</p>
