<header><h1>慈幼新書</h1></header>
<dl class="元資料" data-type="book">
<div><dt>作者</dt><dd>程雲鵬</dd></div>
<div><dt>朝代</dt><dd>明</dd></div>
<div><dt>年份</dt><dd><data value="1368/1644">公元1368年至公元1644年</data></dd></div>
</dl>
<h2>張序</h2>
<p>士君子立身，為天下之望，雖窮而在下，凡百有作，無一不與天下相維系，故能為天地立心者，斯能為生人立命，如吾友程子鳳雛是已。鳳雛受知蔣慎齋先生，稱吾楚文章巨子，自余司鐸江夏時，固心識之矣。後稍稍接見，乃知鳳雛非特能文章，其胸中浩蕩之氣，實將空當世一切之所有，醫事其一端已。醫亦不一家，而先之以慈幼書者，憫赤子之呼號而莫告也。</p>
<p>今天下醫學之弊，非庸則妄，庸者卑陋自窒，守一師說而不能變通，妄者私心穿鑿，攻補一遍而不能察於微渺。其術不同，而殺人則一也。昔寧都魏丈冰叔，謂鳳雛之醫，神動變化，大似武侯用兵。鳳雛聞之曰：武侯吾豈敢，吾師鄧禹耳。鄧禹有言，吾將百萬兵，攻城陷陣，未嘗妄殺一人。夫鄧禹、武侯，皆能達造化之機者。余觀《慈幼》一書，大而胎產痘疹驚癇寒熱，細而耳目喉齒，以及瘡癤疥癬，廣博精微，無一不具。蓋隆中之抱膝，車上之指揮，非異事也。冰叔之言，豈欺我哉。余又聞鳳雛從趙照庵吏部，與延陵二五山人，華山半輪道士，講論大丹，駕鵲橋而交水火，固又嘗飲天姥之醍醐矣。今此肘後所傳，豈更猶夫人之醫籍也哉！鳳雛以有為之才，不得有為之地，將以此書鞠育天下之人，其用心良苦，以視一命之士，惠愛不過一隅，則為功倍多。嗟乎！余曩以木天清冷之官，視學全浙，雖夙夜殫心於端士習濃風俗，而環視車下創痍之顛蹶，而曾無可挽，不若鳳雛心力所及，遂可登斯民於仁壽之域。</p>
<p>余滋愧矣。</p>
<p><u>黃安張希良撰</u></p>
<h2>卷首</h2>
<h3>保產</h3>
<p>生產一道，天地自然妙理，不假修為。然詩人以不坼不副，無災無害美後稷，則自後稷以外，固實有坼副災害其母者，保產之術，可不講乎？世風不古，胎教久廢，為母者既不能保於平時，身安逸則氣血凝滯，奉養濃則脂膜肥滿，嗜欲多則胎衣濃而難破。不幸值此，急以回生丹治之。</p>
<p>鄭蘭皋曰：嗜欲一端為害最重。三月前犯，能動胎小產，三月後犯，使子不壽，慎之慎之。</p>
<p>又曰：出胎時，身多白點，或兩足粉白如枯骨，或痘標干涸焦紫，皆此之故。</p>
<p>又曰：飲食最忌炙　椒辣，及驢馬犬兔，蟹鱉　魚，河豚菌子，野雀薏苡茨菰之類。昔人有食兔缺唇，食鱉短項，食鱉橫生，食魚生瘡等論，驗之良然。</p>
<p>史指臣曰：俗信師巫邪說，轉女為男，妄用針灸，或吞符水，或以麝香膏藥貼臍，為害匪淺。</p>
<p>少婦初產，神氣怯弱，子戶未舒。中年婦人，生育既多，血氣虧損，二者須大金丹至寶丸，常服調理。</p>
<p>懷孕六七月，或八九月，偶略曲身，胎忽亂動，三兩日間，或痛或止，或有水下，惟腰不甚痛，胎未離經，名曰弄產。又有臨產一月前，忽然腰痛，卻又不產，此是轉胎，名曰試月。胎水有無俱不妨，但直身坐臥行立，即無事。又有伸手高處取物，忽子鳴腹中，但令鞠躬片時即愈。</p>
<p>臨產陣痛，有二三日者，有五七日者，氣候未至，須聽其坐臥如意，不得便令扶坐努力，憂疑氣餒，或丸或散，諒虛實消息之。（大金丹、回生丹、達生散便產神方）</p>
<p>臨產有七候，臍腹急痛，腰間重墮，眼中火出，糞門進急，產戶腫滿，手中指筋脈跳動，胞水或血俱下，方是子出胎時，產母始可用力。如數症未備，即一日二日，切不可強使掙努。又有胞水以下，兒頭已到產門，三四日仍不出者，亦唯有調其飲食待之，服大金丹壯之。</p>
<p>臨產時飲食減少，即須常服獨參湯調理，不可使精力衰乏，若交骨不開，是氣血不能運達，須補中益氣，加味穹歸湯服之。</p>
<p>臨產時驚覺太早，血先下而胎元干涸，僵死腹中，唯看產母面舌。面青母傷，舌青子傷，面舌俱青，子母難保。下死胎，亦不必倉皇用力，服回生丹至三丸立下。若一時未備，以平胃散一兩，投朴硝五錢，煎三五沸溫服，其胎即化水而出，切忌用力，駭傷產母。</p>
<p>產時子有出戶之勢，轉側差緩，母力一逼，或手或足，橫生倒生。又有生路未正。兒頭遍拄左右腿畔，名曰偏產。又有偏拄穀道，名曰棖後。凡此宜急扶產婦上床，正身仰臥，濃被覆之，服便產湯（臨產，預煎，）須臾提上，重新轉身，兒頭正對產門矣，急扶即生。</p>
<p>程克庵曰：俗謂手先出為覓鹽，以手得鹽而螫縮也。吳子通云：不論手足先出，急以針尖微刺手足心內，大約深半米許，用鹽醋泥三味，調勻塗之，輕輕送入產時門戶俱正，兒已露頂而不下，此轉身時，臍帶絆其肩也，扶母仰臥，輕輕推兒向上，以手指輕按兒肩，去其臍帶，然後用力送下。</p>
<p>胎衣來遲，氣虛弱也，大金丹服之。若血流入衣，脹悶疼痛，宜速服回生丹二三丸，或牛膝湯下之，捷法用滾水磨好陳墨，沖服即下。或令能事穩婆，以手循臍帶而上，輕覆衣血，從容俟下亦下。有用萆麻子貼足心，及令產婦含頭發作嘔者，甚非良法，切須戒之。</p>
<p>產時用力太早，水衣先破，以魚膠燒過存性，擂細沖酒服之。又有水衣破時，被風所吹，產戶腫脹，干澀狹小者，亦從容俟之。又有穩婆蓄意害人，私以指掐破水衣，須要防護。</p>
<p>產時腸先盤出，用淨盆盛溫水，少入香油養潤，待兒並胞衣下時，母略仰臥，自己吸氣上升，穩婆香油塗手，徐徐送入。或以陰陽家用過磁石煎湯服之。亦能收上。或濃煎黃湯浸之，補中益氣湯服之，尤為妙法。又有兒並胞衣下後，膀胱墜出產戶者，同前法送入。若穩婆不謹，膀胱扯破者，八珍東加豬胞三錢，服之可復。</p>
<p>汪寧齋曰：盤腸為中氣不足，若初胎見此，下次孕時五六月上多，服補中升提之劑，分娩自無此患。</p>
<p>產畢產門不閉，氣血虛也，加味芎歸湯、十全大補湯，俱可服。若因胎大，而擦傷產門者，蘄艾、益母草煎湯洗之。</p>
<p>產後血暈，不省人事，用韭菜細切，裝入有嘴瓶內，煎滾醋沃之，封扎瓶口，刺二小竅，扶產婦坐定，以瓶竅對鼻孔熏之，令醋氣透入，須臾自蘇。或進大金丹、清魂散，亦無不效。曩有燒舊漆器法，不宜用之。蓋血氣未回，穢觸必生他病，豈可妄施乃爾。</p>
<p>方公度曰：敗血逆上攻心，滿急垂絕者，用生薑二十片，鹽半斤炒熱布包熨之，血下而愈。或韭菜同炒亦妙。又有敗血入肺作喘者，人參、蘇木等分，煎服自瘥。</p>
<p>產後百脈空虛，洗拭太早，令中風口噤，手足搐搦，角弓反張，或因怒氣，發熱迷悶，用荊芥穗微焙，當歸酒洗各二錢，水盅半，童便黃酒各半盅，煎七分灌之。牙關緊，以簪抉開，或口對口灌，仍捻其鼻，以手摩其喉，使得下咽，即蘇。</p>
<p>產後有舌出不能收者，亦妄力所致，以朱砂末敷之，仍令作產子狀，片刻自愈。舊法：窗戶外潛堆盆盎，擲地使驚而舌入。此與燒漆器、咬頭發之意，皆未盡善也。</p>
<p>孕時觸損臟氣，胞系裂斷，忽然胎墜，名曰小產。虧敗子宮，較大產為甚，宜倍加調攝，大金丹、至寶丸服之，或芎歸補中湯亦可。</p>
<p><u>大金丹</u></p>
<p>當歸（肥白大枝者酒洗淨晒乾切濃片）　白茯苓（乳拌晒）　白朮（黃土裹飯上蒸七次去土切片烘）　延胡索（酒煮透晒乾）　蘄艾（去梗淘淨灰塵醋煮）　川芎　川　本（去土洗淨晒乾）　丹皮（水洗淨晒）　赤石脂（　）</p>
<p>茵陳（童便煮）　鱉甲（醋炙酥）　黃芩（酒炒）　白芷（各二兩）　人參（切片飯上蒸）　大地黃（酒煮爛）</p>
<p>益母草（取上半截熬膏）　香附（醋、乳、酒、童便、鹽水，泔水六制，各四兩）　桂心　大粉草（酒洗炒）</p>
<p>沒藥（透明者，去油，各一兩二錢）　北五味子（去梗淨炒，一兩）　沉香（六錢）　阿膠（蛤粉炒成珠，三兩）</p>
<p>紫河車一具，盛竹籃內，放長流水中，浸半日，去其穢惡，用黃柏四兩，入煨罐內，將河車放黃柏上，酒浸沒，炭火煮熟，取起，合各藥同搗晒乾，磨極細，如飛面。復合益母草膏、爛地黃、阿膠和勻，搗二千杵，如干，漸加煉蜜，丸如彈子大，每重三錢五分，日色中略晒片時收起。</p>
<p>阿膠難得佳者，用龜膠神妙，吳子通傳此方，以朱砂為衣，合時勿經婦人手。</p>
<p>臨產米湯服一丸，助精神，壯氣血，分娩順利。</p>
<p>產下童便好酒服一丸，神清體健，無崩暈之患，每日服一丸，五日後氣血完固，不生他病。</p>
<p>產後血崩，童便好酒服一丸即止。</p>
<p>產後血暈，當歸川芎湯服一丸即醒。</p>
<p>產後風痙，防風湯服一丸即解。</p>
<p>產後兒枕作痛，山楂砂糖湯服即止。</p>
<p>產後胞衣不下，黑薑煎湯服即下。</p>
<p>婦人經水不調，艱於子者，每行經後，川芎當歸湯日服一丸，過百日即能受孕。</p>
<p>婦人氣血不調，情志郁結，受胎後偶有所觸，胎動欲落，白湯服一丸，睡半日。其胎即安。每日服一丸，保全足月，分娩無患。</p>
<p>凡婦人諸虛百損，用川芎當歸湯，每日服一丸，亦多可復。產後不論何症，俱用童便好酒服之，能保命護身，回生起死，其功不能盡述。</p>
<p><u>至寶丸</u></p>
<p>真金華香附（一斤四兩，擇無毛大而淨者，童便浸三日，搗碎晒乾為末，用馬料黑豆數升煮濃汁拌晒三次，復以人乳拌晒一次磨為末，用十二兩）　熟地黃（三兩）　當歸　杜仲（鹽水炒，各二兩）　川芎　人參　白茯苓牡丹皮　延胡索　滴乳香　沒藥（二味瓦上焙去油研）　赤石脂（細膩黏唇者火　醋淬，各一兩）　白朮白芍（各一兩五錢）　鹿角膠（牡蠣粉炒成珠去粉，四兩）</p>
<p>方內余藥，俱照大金丹制法，蜜丸彈子大，每早空心白湯服一丸，能調經止帶，安胎補虛。凡治胎前一切症，從無神妙過此者。</p>
<p><u>回生丹</u></p>
<p>錦紋大黃（一斤，為末）　蘇木（三兩，打碎，河水碗，煎汁三碗）　大黑豆（三升，水浸去殼，用絹袋盛好，同豆煮熟，去豆留汁，將殼晒乾　紅花（三兩，炒黃色，入好酒四碗煎五七滾去渣）　米醋（陳者，九斤）</p>
<p>上件先將大黃末入淨鍋，下米醋三斤，文火熬之，以長木箸，不住手攪之成膏。</p>
<p>再加醋三斤熬之，如前攪透，又加醋三斤熬之，如前攪透，徐下黑豆汁，再熬，次下蘇木汁，次下紅花汁，如前攪熬成膏。取起盛瓦盆內，將鍋粑產下，同後藥磨。</p>
<p>人參（二兩，減半亦可）　當歸　川芎（俱酒洗）　香附　延胡索（俱醋炒）　蒼朮（米泔浸炒）　蒲黃（隔紙炒）　茯苓　桃仁（去皮尖）　酒蒸熟地黃（各一兩）　牛膝　地榆　白芍（俱酒洗）　甘草（炙）　三棱（醋浸透紙裹煨）　川羌活　廣橘紅　馬鞭草　五靈脂（醋煮化焙乾研細）　山萸肉（酒浸蒸搗爛入藥晒，各五錢）　木瓜　青皮（炒）　白朮（米泔浸炒）　秋葵子（各二錢）　烏藥（去皮，二兩五錢）　良薑　木香（各四錢）</p>
<p>乳香　沒藥（各二錢，瓦上焙去油研）　益母草（二兩）</p>
<p>上三十味，並前黑豆殼為末，入石臼內，下大黃膏拌勻，再下熟蜜一斤，共搗千杵為丸，每重二錢七八分，靜室陰乾，須二十余日，不可日晒，不可火烘，不可塵染，干後止重二錢有零，熔蠟護之待用。</p>
<p>臨產，淡鹽湯下一丸，無橫生逆產之苦。氣血怯弱者，獨參湯下之。</p>
<p>產母素患熱病，子死腹中，用車前子一錢煎湯服，未下再服二三丸。若因血下太早，致子死者，人參、車前子各一錢煎服。如無參，以陳酒少許，煎車前子湯。</p>
<p>胎衣不下，用炒鹽少許，泡湯服一丸至二丸三丸。</p>
<p>產畢血暈，用薄荷湯服。</p>
<p>產後三日，血氣未定，遠走五臟，奔沖於肝，血暈，起止不得，眼見黑花用滾水服。</p>
<p>產後七日，因食物與血結聚胸中，心悶煩渴，用滾水服。</p>
<p>產後虛羸，血入於心肺，熱入於脾胃，寒熱往來，似瘧非瘧，用滾水服。</p>
<p>產後敗血走注五臟，轉滿四肢停留，化為浮腫，渴而四肢覺寒，乃血腫非水腫也，用滾水服。</p>
<p>產後敗血為熱，中心煩躁，言語顛狂，非風邪也，用滾水服。</p>
<p>產後敗血流入心孔，閉塞失音，用甘菊花三分，桔梗二分，煎湯服。</p>
<p>產未盈月，誤食酸寒堅硬之物，與血相搏，流入大腸，不得克化，泄痢膿血，用山楂煎湯服。</p>
<p>產後百節開張，血入經絡，停留日久，虛脹酸疼，非濕症也，用蘇梗三分煎湯服。</p>
<p>產後月中，飲食不得應時，兼致怒氣，余血流入小腸，閉塞水道，溺血似雞肝，用木通四分煎湯服。又或流入大腸，閉塞肛門，有瘀血成塊如雞肝者，用廣陳皮三分煎湯服。</p>
<p>產後瘀露未淨，飲食寒熱不得調和，以致崩漏，形如肝色，潮熱煩悶，背膊拘急，用白朮三分廣皮二分煎湯服。</p>
<p>產後血停於脾胃，脹滿嘔吐，非翻胃也，用陳皮煎湯服。</p>
<p>產後敗血入五臟六腑，並走肌膚四肢，面黃口乾，鼻中流血，遍身　點，危症也。陳酒服。</p>
<p>產後小便澀，大便秘，乍寒乍熱，如醉如痴，滾水服。</p>
<p>產後敗血為害，一切異症，人所未經，醫亦難識，但服此丹一丸至二三丸。無不奇應。</p>
<p>胎前以獨參湯常服一丸，壯氣養胎，滋陰順產，調和五臟，平理陰陽，最為神妙。</p>
<p>室女經閉，月水不調，白湯服妙。</p>
<p>此丹疏利臟氣，較大金丹為速，然尋常服餌，必以至寶為先，此丹殿後，大金間進。又以濟二藥之奇，自有產科以來，未見如此十全法寶也，吾愿天下有力人，速為誠敬修合，廣濟群生，皇天決不相負。</p>
<p><u>兔腦丸</u></p>
<p>十二月兔腦髓（一具，去皮膜研如泥）　母丁香（二錢五分）　乳香　麝香（各另研，五分）</p>
<p>三香碾細拌勻，兔腦為丸，如芡實大，陰乾，油紙裹好，每用時溫水下一丸。凡生理不順，或橫或逆皆效。產時男左女右手中握出。</p>
<p>趙照庵曰：鼠腎用銀針挑破，滴乳香一錢，為末和丸，如桐子大，朱砂為衣，俟惡露至，好酒送下二丸，同此治效。</p>
<p><u>備用煎方</u></p>
<p>丸藥一時未備者，按候用之。</p>
<p><u>安胎飲</u></p>
<p>白朮　當歸　紫蘇　條芩（各一錢）　川芎（八分）　白芍（七分）　砂仁（炒）　香附（各炒，六分）　人參陳皮（各五分）　炙甘草（三分）　苧根（二錢）</p>
<p>翁曙公曰：婦人經水三月不來，疑似之際，用川芎二錢為細末，空心煎艾湯調下方寸七，覺腹中動，則有胎也。臍之下動，則血瘕也。不動者，瘀血凝滯也。</p>
<p>程未能曰：女子胞系於腎，腎氣虛，胎不能固，用杜仲一斤，鹽水炒斷絲為末，黑棗一斤，去皮核搗肉，共為丸，每服三錢，其胎自固。</p>
<p><u>人參橘皮湯</u></p>
<p>　妊時嘔酸惡阻，脾胃虛也。</p>
<p>人參　白朮　茯苓　陳皮　厚朴　麥冬　炙甘草　煨生薑</p>
<p><u>麥門冬湯</u></p>
<p>　妊時心常驚悸，是子煩也。</p>
<p>麥冬　黃芩　茯苓　淡竹葉</p>
<p><u>天仙藤散</u></p>
<p>　妊時面目四肢浮腫，是子氣也。</p>
<p>香附　陳皮　烏藥　甘草　天仙藤</p>
<p><u>羚羊角散</u></p>
<p>　妊時喉中喘急，搐掣露睛，是子癇也。</p>
<p>羚羊角　五加皮　川獨活　川芎　苡仁　當歸身　酸棗仁　炙甘草　茯神　木香　防風　杏仁</p>
<p><u>達生散</u></p>
<p>大腹皮（炒）　白芍（酒炒）　紫蘇　人參（各一錢）　甘草（炙）　陳皮（各五分）　當歸身（一錢二分）</p>
<p>蔥（五葉）</p>
<p>胎肥加黃楊樹梢七個。</p>
<p>春加川芎，夏加黃芩，秋冬加砂仁、枳殼。</p>
<p>程坡士曰：達者，暢茂條達之意。或曰：達音闥，小羊也。詩：誕彌厥月，先生如闥，美後稷之易生。夫馬牛羊豕，未有分娩而致厄者，豈天之於人獨薄乎？不知皆平時調攝無道，臨產著意驚惶，遂致人不如物耳。為丈夫者，幸體此而講明之。</p>
<p><u>便產神方</u></p>
<p>當歸（一錢五分）　川芎　白芍（各一錢二分）　貝母（一錢）　菟絲子（酒洗，二錢）　荊芥（八分）　厚朴（薑汁炒）　黃　（蜜炙，各七分）　枳殼（炒，六分）　艾葉　甘草（炙）　川羌活（各五分）</p>
<p>胎至九個月一服，產時再服，易於分娩，並可杜血暈、陰脫、無乳、血塊痛等症。</p>
<p><u>又方</u></p>
<p>　產時有橫逆棖拄諸症，服此神良。</p>
<p>當歸　枳殼　赤芍　貝母　益母草（各一錢）　車前子（八分）</p>
<p>好酒、童便同煎。如遇遍身拘攣，加麻黃（八分）　升麻（五分）</p>
<p>吳綺園曰：產母平素血少者，臨時以當歸三錢，川芎二錢，日服一次，名佛手散。</p>
<p>甚效。若鄉村不能備藥，忽遇橫生逆產，速以柘樹葉煎汁連飲二盅，少頃不動，更進一盅，至四五盅，必能提上轉身矣。</p>
<p><u>催生如神散</u></p>
<p>百草霜（取釜底心者）　白芷（不見火，各為末，等分）</p>
<p>每服三錢，以童便、米醋調和如膏，加沸湯下，或童便、酒煎進二服。薛立齋云：此藥大能固血，可免血干。治逆產橫生，其功甚大。</p>
<p><u>黑神丸</u></p>
<p>官桂　當歸　芍藥　甘草　炮薑　生地（各一兩）　黑豆（炒焦去皮三兩）</p>
<p>為末，每服三錢，溫酒下，治熱疾胎死腹中自出。朱丹溪云：胎得暖則下，故用薑桂，冬月更宜。</p>
<p><u>催生滑胎湯</u></p>
<p>當歸（一錢）　川芎　枳殼　紫蘇　滑石（各六分）　甘草（三分）　木通（五分）　白茯苓（七分）　大腹皮（八分）　益母草（三錢）</p>
<p>無參不能服達生散者，此方亦妙。</p>
<p><u>平胃散加朴硝方</u></p>
<p>厚朴　蒼朮　陳皮（各二錢）　甘草（五分）　朴硝（五錢）</p>
<p>俱用生者，下死胎神妙。</p>
<p>朱紫含曰：有雙胎，一死一生者，取蟹爪煎湯服，能令生者安而死者出。</p>
<p><u>牛膝湯</u></p>
<p>　治胎衣不下。</p>
<p>牛膝　木通（各三錢）　當歸（二錢）　滑石（四錢）　瞿麥（一錢）　黃葵子（一錢五分）</p>
<p>張心齋曰：五六個月墜胎，亦有胞衣不下者，牛膝、官桂、川芎、當歸、蒲黃、朴硝、生薑服之。</p>
<p><u>加味芎歸湯　</u></p>
<p>　治交骨不開，產門不閉。</p>
<p>川芎（一錢）　當歸（二錢五分）　自死龜板（酥炙一錢，灼過亦可）　婦人頭發（燒存性，一錢）</p>
<p><u>補中益氣湯</u></p>
<p>　治交骨不開，盤腸不收，膀胱墜出。</p>
<p>黃　（一錢五分）　人參　白朮（各一錢）　當歸（八分）　陳皮　炙甘草（各五分）　升麻　柴胡（各三分）</p>
<p><u>十全大補湯</u></p>
<p>　治產門不閉。</p>
<p>人參　白朮　茯苓　甘草　川芎　當歸　熟地　白芍　黃　肉桂除　桂為八珍湯，治膀胱破損。</p>
<p><u>玉龍湯</u></p>
<p>　治產後陰挺下墜，產戶腫痛。</p>
<p>當歸　芎　地黃　芍藥　龍骨</p>
<p><u>當歸川芎湯</u></p>
<p>　治產後瘀血心疼。</p>
<p>當歸　川芎　香附　青皮　生地　赤芍　延胡　桃仁　紅花　丹皮　澤瀉煎好，用童便半杯，酒半杯，沖服。</p>
<p>江子眉曰：益母草一兩，入童便一碗，水一碗煎服。能去污穢，不致留滯作疼。</p>
<p>王介庭曰：近人於產後多服紅糖，為逐瘀暖腸之用，不知產後脾胃虛弱，甘甜作嘔，血隨上泛，豈不誤人。且紅糖間有摻入石膏者，誤服立見危殆。</p>
<p>產後忌食生冷，惟梨尤甚，雖食少許，即桂附亦不能救。平素喜食生冷者，只藕不防。</p>
<p><u>清魂散</u></p>
<p>　治產後血暈。</p>
<p>當歸（二錢）　川芎（一錢）　荊芥（七分）　澤蘭（八分）　甘草（三分）　益母草（三錢）</p>
<p>身熱，加麥冬七分。脈細，加人參一錢，童便一盅。</p>
<p><u>小調經湯</u></p>
<p>　治產後，敗血流入四肢，浮腫，名曰產後流注。</p>
<p>沒藥　琥珀　桂心　赤芍　當歸　細辛　麝香為末，每服二錢，薑汁溫酒調下。</p>
<p><u>車前子湯</u></p>
<p>　治產後尿血。</p>
<p>蒲黃　芍藥　黃芩　生地　當歸　牡蠣　車前子</p>
<p><u>黃絹湯</u></p>
<p>　治產傷膀胱，不能小便，滲濕苦楚。</p>
<p>生絲黃絹（一尺，剪碎）　白丹皮　白芨（各一錢）</p>
<p>同煎至絹爛如餳，空心頓服，不得作聲，神效。</p>
<p><u>玉露飲</u></p>
<p>　治產後無乳。</p>
<p>人參　茯苓　甘草　芍藥　川芎　當歸　枳殼　桔梗</p>
<p><u>又方</u></p>
<p>當歸　川芎　瞿麥　王不留行　穿山甲　麥冬　陳皮煎熟，沖酒一杯飲之，徐以木梳梳乳數下，乳路自通。</p>
<p><u>又酒方</u></p>
<p>　治乳少。</p>
<p>生地　熟地　當歸　木通　牡蠣（各一兩）　川芎　白芍（各五錢）　酒（十五斤）</p>
<p><u>芎歸補中湯</u></p>
<p>　治小產血崩，腹痛暈厥。</p>
<p>人參　黃　白朮　川芎　當歸　白芍　艾絨　阿膠　杜仲　炙甘草　五味子</p>
<p><u>人參黃　湯</u></p>
<p>　治氣虛小產，血下不止。</p>
<p>阿膠　艾絨　白芍　當歸　人參　白朮　黃　煨薑　大棗</p>
<p><u>調經種子奇效方</u></p>
<p>（附見）　大金丹，至寶丸，調經妙藥也，然修合不易。此方煎劑，竟有奇功，雖未能十有九效，乃余所見，則效者比比矣。敬為述之。</p>
<p>當歸身（肥白者，一錢二分）　熟大地黃（二錢）　香附（童便浸三日，醋炒）　白芍（酒炒，各一錢）</p>
<p>艾絨（去梗淨醋炒）　真廣陳皮（各七分）　甘草（炙）　乾薑（炮黑，各三分）　白茯苓　丹皮（酒洗）</p>
<p>延胡索（炒）　川芎（酒洗，各八分）　官桂（四分）　山萸肉（一錢二分）</p>
<p>上十四味，依法炮制，加煨薑二片，大棗一枚，水二碗，煎八分，空心服。渣再煎，臨臥時服。</p>
<p>每月經至淨後，即服此方，一日一劑。服四五劑後，不必再服，旬日內即能成孕。</p>
<p>如經期不調者，每月服五劑，三月後必調經受孕也。</p>
<h2>卷一</h2>
<h3>稟賦</h3>
<p>兒在母腹中，感受精氣，一月胚，二月胎，三月血脈見，四月形體成，五月能動，六月筋骨成，七月毛髮生，八月臟腑具，九月穀神入胃，十月百骸備而生。生後六十日，瞳子成，能笑語，始識人。百日任脈生，能反覆。一百八十日，尻骨生，能獨立。二百一十日，掌骨成，能匍匐。三百日髕骨成，能獨倚。三百六十日為一周，膝骨成，乃能移步。</p>
<p>落地時，身破裂者死，陰囊白者死，陰不起者死，無糞門者死，股間無生肉者死，開口如鴉聲者死。</p>
<p>凡周歲之間，顱囟開解，齒發不生，手足攣縮，膝如鶴脛，身羸無肉，或四五歲不能行立，皆胎氣不足致之。若夫筋實則多力，骨實則早行，血實則形瘦多發，肉實則少病，精實則伶利多笑語，不畏寒暑，氣實則少發而體肥，此皆受胎氣之充足，得稟賦之隆濃者也。</p>
<p>呂晚村曰：凡小兒齒遲，語遲，行遲，囪門開大，腎疳等症，皆先天不足，自　周時，即有虛病腎病，從幼填補，亦多可復。</p>
<p>初生芽兒，藉乳為命，善為乳母者，夏不欲熱，熱則致吐逆，冬不欲寒，寒則致咳痢。乳時不欲怒，怒則上氣顛狂，不欲醉，醉則身熱腹痛。母方吐下而乳，則致虛羸。母方積熱而乳，則變黃不能食。新房而乳，則瘦瘠交脛不能行。新浴而乳，則發吐傷神。冷熱不調，停積胸膈，結為痰飲，遂成壯熱。壯熱不已，乃作驚癇，兒啼未定，遽以乳哺，氣逆不消，因成乳癖。懷孕而乳，致令黃瘦，腹大腳弱，名曰HT　病。大抵芽兒或瘡或熱，或困倦，或口生白糜，或夜啼，或糞色變常，必非無因，病之初來，其溺必甚少，便須根究緣由，隨症調治。庶無後患。</p>
<p>胎症列後。</p>
<p>人每於初生時，多向頭額前發際穴灸之，取其可以截風路也，此但可行之北方地寒之處，東南脆薄，似乎不宜。</p>
<h3>臟能</h3>
<p>心所伏者腎，所敵者肺，所喜者苦，所傷者咸鹵。應三變八蒸之臟，和則性情悅樂。疾主驚癇恐悸，譫語狂煩，涎流口角。痘主紅　。</p>
<p>肝所伏者肺，所敵者脾，所喜者酸，所傷者辛辣。應初變六蒸之臟，和則魂魄壯，意智生。疾主風攣搐搦，眼目赤腫疼痛。痘主水　。</p>
<p>肺所伏者心，所敵者肝，所喜者辣，所傷者苦。應二變七蒸之臟。和則氣爽神清魂強。疾主喘滿咳嗽，虛痰壅盛。痘主膿　。</p>
<p>脾所伏者肝，所敵者腎，所喜者甜，所傷者酸釅。應四變九蒸之臟。和則消穀食，美滋味。疾主嘔噦疳積，瀉痢潮熱，不思乳食。痘主結痴。</p>
<p>腎所伏者脾，所敵者心，所喜者咸，所傷者甘甜。應五變十蒸之臟。和則嬉戲笑語精神。疾主黑齒崩沙，　耳膿汁。痘主黑陷。</p>
<h3>脈候</h3>
<p>左頰者肝之部，應左手關位風木之分。額為心之部，應左手寸口君火之分。鼻為脾之部，應右手關位濕土之分。右頰為肺之部，應右手寸口燥金之分。頤為腎之部，應左手尺部寒水之分。向有初氣二氣之說，頗不應，詳見余別著脈覆中。</p>
<p>小兒五歲以下，未可診寸關尺，惟看男左女右虎口。食指一節寅位為風關，脈見易治。第二節卯位為氣關，脈見為病深。第三節辰位為命關，脈見為病危。</p>
<p>色紫為熱，色紅傷寒，色青驚風，色白疳疾，惟黃色隱隱，為常候也。色黑者多危。</p>
<p>脈紋入掌為內釣。紋彎裡為風寒。彎外為食積。病重時紋勢彎入，猶可挽回，彎外者，萬不救一。</p>
<p>五歲以上，以一指取寸關尺三部，六至為和平，七八至為熱，四五至為寒。浮弦為風癇，沉緩為傷食，促為驚，細為冷，單細為疳勞，洪為蟲積，浮而遲，潮熱者為胃寒。</p>
<p>半歲以下，於眉端發際之間，以名中食三指候之，兒頭在左，舉右手候，兒頭在右。</p>
<p>舉左手候，食指近發為上，名指近眉為下，中指為中。三指俱熱，外感於風，鼻寒咳嗽。三指俱冷，外感於寒，內傷飲食，發熱吐瀉。食中二指熱，主上熱下冷。名中二指熱，主夾驚。食指熱，主食滯。</p>
<h3>胎病</h3>
<p>小兒胎病凡二端，在胎時母失愛護，或勞動氣血相干，或坐臥飢飽相役，飲酒食肉，冷熱相制，恐怖驚悸，血脈相亂，蘊毒於內，損傷胎氣，此胎熱胎寒，胎肥胎怯，胎驚胎黃諸症，所由作也。又有落地時，浴體拭口，斷臍灸囟之不得法，繃袍驚恐，寒溫乳哺之乖其宜，此嘬口、臍風、鎖肚、不乳等症所由生也。黃帝云：吾不能察其幼小，亦唯小兒臟腑嬌嫩，血氣懦弱，肌體不密，精神未充，而用藥消息之難耳。</p>
<h4>胎熱</h4>
<p>胎熱者，生後氣急喘滿，眼閉或目赤，眼胞浮腫，神困呵欠，呢呢作聲，遍體壯熱，小便赤，大便澀，時復驚煩，宜至寶丹研服之，木通散與乳母服之。目不開，以二妙散溫洗之。不治，則生鵝口、木舌、重舌、紫赤丹瘤。</p>
<p><u>至寶丹</u></p>
<p>滑石（六兩）　甘草　木香　陳皮　莪朮　三棱（各一兩）　茯神　白朮　山藥　遠志　青皮（各一兩五錢）　甘松（五錢）　益智仁（七錢五分）　麝香（一錢五分）</p>
<p>一方，加人參一兩。</p>
<p>蜜丸芡實大，朱砂為衣，燈心湯調化服。</p>
<p>此即時下所常用秘方也，不論內傷外感，變蒸寒熱，一切治之。予謂此藥，唯蒸症相宜，次則鬱熱伏暑神劑。小兒夏月，宜多服之。補而不滯，瀉而不偏，殊有妙用。</p>
<p><u>木通散</u></p>
<p>　兼治小兒臍熱，小腑閉，諸瘡丹毒，母子同飲。</p>
<p>木通　蓄　大黃　甘草　瞿麥　赤茯　滑石　黃芩　薄荷　炒桅子　車前子補中益氣用升、柴天道之方也；此方車、茯、瞿、　，地道之方也。小兒稚陽氣純，天道完全，故唯此法出入調理。</p>
<p><u>二妙散</u></p>
<p>　大人翳膜血絲俱治。</p>
<p>文蛤（一兩）　黃柏（二錢）</p>
<p>煎水熏洗。</p>
<h4>胎寒</h4>
<p>胎寒者，百日內口冷腹痛瀉白，時發戰栗，曲足握拳，晝夜啼哭不已。或口噤不開，昏昏沉睡，治以指迷七氣湯。失治，則成慢驚。</p>
<p>指迷七氣湯　一切腹痛寒熱，多啼不乳等症，皆為陰陽不升降，氣道壅塞而作。並宜服之。</p>
<p>陳皮　青皮　藿香　桔梗　莪朮　香附　半夏　甘草　肉桂　益智仁　生薑　大棗凡人身內之氣，呼吸出入，無刻不與天道陰陽之氣相通，故六淫外襲則感而致病，翕受之理也。內氣閉塞，天道不通，升者不升，降者不降，寒熱之原也。是方疏利臟氣，神應無方，最宜領會。</p>
<p>學人能識陰陽消息，即不用方內藥味，吾知其必有合也，愚昧者未可與語。</p>
<h4>胎肥</h4><p>胎肥者，生下肌肉濃者，遍體血紅，盈月後漸漸羸瘦，目白，五心煩熱，大便難，時時涎溢，浴體法治之。</p>
<h4>胎怯</h4>
<p>胎怯者，生下目無精光，肌肉薄，大便白水，身無血色，亦浴體法治之。</p>
<p><u>浴體法</u></p>
<p>天麻（二錢五分）　蠍梢　朱砂（各五分）　麝香（少許）　白礬　青黛（各二錢）　烏蛇肉（酒浸焙，三錢）</p>
<p>為末，每用三錢，連葉桃枝一握同煎十沸，溫熱浴之，勿浴背。</p>
<h4>胎黃</h4>
<p>胎黃者，生下遍體面目皆黃如金色，或面赤眼閉，身上壯熱，大便不通，小便如梔汁，皮膚生瘡，不思乳食，啼哭不止，母子同服地黃湯。</p>
<p><u>地黃湯</u></p>
<p>生地　赤芍　川芎　當歸　花粉　甘草　赤茯　豬苓　茵陳　澤瀉</p>
<h4>胎驚</h4>
<p>胎驚者，月內溫壯，翻眼握拳，噤口切牙，身腰強直，涎潮嘔吐，搐掣驚啼，腮縮囟開，或頰赤，或面青眼合。凡胎風眼合，不可誤作慢驚而用溫藥，只宜解散風邪，利驚化痰調氣，貼囟，甚則以朱銀丸治之。如初生不能服藥，以豬乳汁，調牛黃麝香少許，入咽即愈。</p>
<p>如眉角引搐不已，用大蝦膜一雙，活取膽，將人乳調服之，立效。</p>
<p><u>朱銀丸</u></p>
<p>　此方能取胎中蘊受之毒，亦治驚積，須量與之。</p>
<p>水銀（一錢，蒸棗研如泥）　南星　全蠍　朱砂（各一錢）　白附子（一錢五分）　天漿子　蘆薈（各五錢）</p>
<p>鉛霜（和水　研）　牛黃（各五分）　白僵蠶（七枚，炒）　片腦（一字）　麝香（少許）</p>
<p>蜜丸桐子大，薄荷湯食前下。</p>
<p>古方有當用者，不必妄為加減。認症既真，投之立效。不敢用者，不明之罪，用而不明於症，雖用奚為？</p>
<h4>鎖肚</h4>
<p>鎖肚者，胎中熱毒壅盛，結於肛門，急令婦人以溫水漱口，吸咂兒前後心臍下手足心，共七處，凡四五次。外以輕粉五分，蜜少許，溫水化服，以通為度。如更不通，以物透而通之。金簪為上，玉簪次之，須刺入二寸許，納入蘇合香丸，糞出為快。若至一七不通者死，不能通而又不乳者死。</p>
<p><u>蘇合香丸</u></p>
<p>白朮　青木香　烏犀屑　香附　訶梨勒（煨去皮）　朱砂　白檀香　安息香（別為末，無灰酒一升熬膏）　沉香　麝香　丁香　蓽茇（各二兩）　龍腦　薰陸香　蘇合香油（入安息香膏內，各一兩）</p>
<p>古方有三，各不同。</p>
<p>煉蜜和劑，旋丸桐子大。</p>
<h4>不啼</h4>
<p>落草不啼，有因難產，項被母夾，有因絞臍，項被臍纏，有因天寒癘氣所逼，有因糞門生膜，閉住兒氣。病項者，溫手摩之，口吸咂之。寒氣者，溫水浴之，以潔淨婦人舌，吸咂其舌而通之。生膜者，手拍之使破，不破以銀簪挑之。</p>
<h4>不乳</h4>
<p>出胎三日，不知吮乳，此惡穢入腹。腹滿氣短，亦由胎中受寒，兒腹疼痛嘔吐故也。</p>
<p>《指迷》七氣(見胎寒)調之。</p>
<h4>臍風</h4>
<p>臍風者，斷臍後，為水濕風冷所乘，入於臍而流於心脾，令肚腹脹滿，臍腫多啼，不能吮乳，甚則風搐，指迷湯（見胎寒）消息之。臍邊青黑，撮口不開，為內搐，不治。爪甲黑不治。若因熱在胸膛，伸縮努勢，亦令臍腫，木通散（見胎熱）消息之。</p>
<p>曰消息者，未可全用本方也。落地貧富不同治，氣稟濃薄不同體，天時寒熱不同功，醫不諳此，豈堪司命。</p>
<h4>撮口</h4>
<p>撮口者，氣息喘急，啼聲不出，或肚上青筋，吊疝內氣引痛，此胎氣兼風邪入臍。治宜疏利郁結，指迷湯（見胎寒）去桂，加大黃、鉤藤、僵蠶，或參以荊芥穗湯</p>
<p><u>荊芥穗湯</u></p>
<p>川黃連　荊芥穗　生地黃　生甘草大便秘，加大黃。小便少，加木通。</p>
<h4>噤口</h4>
<p>噤口者，眼閉口噤，啼聲漸小，舌上聚肉，如粟米狀，吮乳不得，口吐白沫，大小便不通。遇此先看其上　有點子，即以指甲輕輕刮破，次服四順清涼飲，加木香、白蔻仁，利動臟腑，徐以指迷湯（見胎寒）加減調之。如口噤不能開，用生南星去皮臍為末，加龍腦少許，合和，將指蘸生薑汁調之，擦大牙根上立開。（大人中風口噤俱效）</p>
<p><u>四順清涼飲</u></p>
<p>當歸　白芍　甘草　大黃三症雖異，其源則一。大抵裹氣鬱結，閉塞不通，並宜淡豆豉汁與食，取下胎毒，甚者朱銀丸（見胎驚）亦可用之。初生時，用淡豆豉汁，與三五口，不特能下胎毒，復可助養脾氣。臍風撮口，不語不乳，灸男左女右涌泉穴，立愈。又法：炙蜈蚣末，入麝少許，豬乳和之飲，口噤立開。或蜘蛛去足及口，炙焦研細，和豬乳飲亦效。更入麝少許，能治牙疳。</p>
<p>窮鄉僻壤，藥餌難得，故備經驗治法，為襁褓中乞命，幸毋忽之。</p>
<p>後卷仿此。</p>
<h3>變蒸</h3>
<p>變蒸者，小兒生三十二日為一變，再變為一蒸，總五百七十六日。變蒸方足，凡變蒸身熱而脈亂，汗不出，不欲食，甚則煩啼躁渴，輕者五日解，重者八日解。其候與傷寒相似，但變蒸則耳冷，上唇發　，狀如濁珠。若寒邪則腹中痛，啼叫不絕為異大都此乃長養氣血，滋榮五臟，不可妄加施治，唯宜秘方至寶丹（見胎熱）常服。若不乳多啼，或寒熱間作，陰陽不升降，指迷湯（見胎寒）消息調之。</p>
<p>錢氏云：一變腎，二變膀胱，三變心，四變小腸，五變肝，六變膽，七變肺，八變大腸，九變脾，十變胃。《寶鑒》云：初變肝，二變肺，三變心，四變脾，五變腎，二說不同，其膠滯則一。夫人當長養氣血之時，陰陽變換，五行顛倒，斯理至微，一用後天推測分發，不足見造化之神妙矣。</p>
<h2>卷二</h2>
<h3>雜症</h3>
<h4>咽喉</h4>
<p>咽喉與肺胃相接，為出入樞要，種種之症，與大人不同。大抵由熱毒蘊積，致生風痰，壅滯不散，為瘡為腫，甚至吐咽不通，治宜桔梗湯。或牛蒡子湯，先去風痰，然後解其熱毒，次則以上清丸時時噙化服之亦佳。</p>
<p>肉鵝者，太陽少陰之火，為風寒壅遏，關隘不通，留連發腫，痰涎稠濁，疼痛難堪，用大烏梅一個去核，納入蝸牛一條，灰火煨透碾末，刺破鵝腫點之，或服清道湯、山豆根湯。先天虛弱火泛者，巴戟湯俱效。</p>
<p>喉癬者，風火鬱滯喉間，蒸濕生蟲，或疼或癢，干燥枯涸，甚至面紅耳熱而不可忍，百部湯治之，苡仁湯調之。</p>
<p><u>牛蒡子湯</u></p>
<p>　治風熱上壅，咽喉腫痛，或生乳鵝。</p>
<p>元參　升麻　黃芩　桔梗　木通　甘草　犀角（鎊）　大力子</p>
<p><u>桔梗湯</u></p>
<p>　咽喉微覺腫痛，聲破難語神效。</p>
<p>桔梗　甘草　黃芩　當歸　麻黃　桂枝　白僵蠶　馬勃</p>
<p><u>上清丸</u></p>
<p>　咽喉腫痛，痰涎壅塞妙方。</p>
<p>薄荷（一斤）　川芎　防風（各二兩）　桔梗　砂仁（各五錢）　甘草（四兩）</p>
<p>蜜丸彈子大，不拘時噙服，臥時更佳。</p>
<p><u>清道湯</u></p>
<p>花粉　元參　柴胡　芍藥　甘草　麻黃　桔梗　山豆根陳遠公破隘湯即此。</p>
<p><u>山豆根湯</u></p>
<p>射干　麥冬　花粉　甘草　元參　山豆根</p>
<p><u>巴戟湯</u></p>
<p>熟地　茯苓　巴戟　麥冬　五味子程漢章曰：少陰之火，直如奔馬，非借降泄，何以引而歸元？此方加入牛膝、澤瀉、山萸尤妙。</p>
<p><u>百部湯</u></p>
<p>白微　紫菀　百部　元參　麥冬　甘草　五味子　大力子　白芥子</p>
<p><u>苡仁湯</u></p>
<p>熟地　麥冬　苡仁　山萸　桑皮　貝母　生地　甘草遠公曰：服百部湯蟲死，服苡仁湯火息，更入肉桂數分，服二劑，不再發。</p>
<p><u>玉露湯</u></p>
<p>　治初生喉腫。</p>
<p>陳茶葉　川黃連　荊芥穗　薄荷　甘草</p>
<p><u>吹藥方</u></p>
<p>膽礬　牛黃　冰片　皂角灰（各一分）　麝（五厘）</p>
<p><u>玉鎖匙</u></p>
<p>　治風熱喉閉，並纏喉風。</p>
<p>硼砂　僵蠶（各一錢）　焰硝（一錢五分）　冰片（三厘）</p>
<p>碾細盛固，臨用取出，吹喉中甚效。</p>
<p>京師中一醫，持秘方丸藥治喉閉，獲利其廣。惟用拭面肥皂，金箔為衣，偶為翁曙公識破，遇江湖無藥處，以此灌之，稠痰盡吐，危症立蘇。</p>
<p>咽喉以下十六門，名曰襟症，指孩抱中言也。然余治法，則自初生至少壯，廣為設立焉。若夫虛勞相火熾甚，致喉齒耳目等症者，載余醫貫別裁中，始不及。</p>
<h4>齒</h4>
<p>齒者骨之余，骨者腎之絡。初生兒有重齦重　者，骨不斂髓，故頰裡生物，與蘆擇相似，用綿裹針微刺之，令瀉血汁，先以淡鹽湯洗，次以細辛散頻擦之。</p>
<p>齒　，上屬足陽明胃，下屬手陽明大腸。而其為病也，責胃居多，但所傷有胃血胃氣之異。胃血傷者，喜寒而惡熱，清胃湯；胃氣傷者，喜熱而惡寒，益胃湯。</p>
<p>葉錫侯曰：胃病者，口極臭，腎病則否。</p>
<p>小兒臥時，開口當風，吸入風邪，留連不解，令齒縫酸痛，治以胡桐淚湯。胃虛濕熱壅盛不得下行，牙齒腫痛，清胃合五苓（見口）治之。又有牙疳出血，口臭肉爛，蘆薈丸（見疳）治之。</p>
<p>小兒稟賦虛怯，數歲後牙齒時疼，蟲疳風吼，九味地黃丸主之。腎氣不足，髓脈不充，七八月齒仍不出，或難出而無力嚼物，芎　散治之。</p>
<p><u>細辛散</u></p>
<p>　治一切風蛀牙疼，腮頷浮腫。</p>
<p>細辛　荊芥穗（各一兩）　砂仁　蓽茇　鶴虱　皂角（各五錢）　白芷　細椒　草烏（各二錢）</p>
<p>為末，擦患處，有涎吐之，仍用水灌漱。</p>
<p><u>清胃湯</u></p>
<p>當歸　生地　丹皮　升麻　甘草　連翹　黃連</p>
<p><u>益胃湯</u></p>
<p>當歸　茯苓　白朮　陳皮　黃　甘草　防風　升麻</p>
<p><u>九味地黃丸</u></p>
<p>生地　山萸　山藥　丹皮　茯苓　當歸　川芎　使君子　川楝肉高鼓峰曰：此方直瀉厥陰風木，乃腎肝同治之法。緣蟲疳為風木之化，有可伐之理。</p>
<p>然伐其子則傷其母，故用五者補之。去澤瀉者，腎不宜再泄也。</p>
<p><u>胡桐淚湯</u></p>
<p>白芷　麥冬　當歸　生地　花粉　石膏　細辛　升麻　干葛　胡桐淚</p>
<p><u>芎　散</u></p>
<p>川芎　生地　山藥　芍藥　當歸　甘草為末。每服二錢，白湯下。</p>
<h4>舌</h4>
<p>舌者心之竅，脾之脈絡所系，心脾壅熱上衝，故令舌腫，漸漸脹大，塞滿口中，名曰木舌。宜木通散（見胎熱）服之，烏魚散塗之。又有重舌者，亦心脾蘊熱所致，由血氣俱盛，附舌根而重生一物，形如舌而略短小，以真蒲黃和黃柏末敷之，或牙硝亦可。</p>
<p>脾臟有熱，令舌絡微緊，時時舒出，名曰弄舌，切勿用寒藥及下之，唯宜瀉黃散，甚有飲水者，脾胃虛，津液少也。</p>
<p>生時舌下有膜，如石榴子，或口上　有　，不能出聲，速用指甲掐破，或葦草割之，血出即活。若血出不止，豬脂調發灰敷之。</p>
<p><u>烏魚散</u></p>
<p>烏魚骨（五錢）　蜣螂　蒲黃（各二錢五分）　白礬（五分）</p>
<p>雞子黃調塗舌上，咽津無妨。</p>
<p><u>青液散</u></p>
<p>　治重舌並口瘡。</p>
<p>青黛　朴硝（各一錢）　龍腦（一字）</p>
<p>蜜調鵝羽蘸敷。</p>
<p><u>瀉黃散</u></p>
<p>　治弄舌兼治木舌。</p>
<p>藿香葉　炒山梔　石膏　甘草　防風</p>
<h4>口</h4>
<p>小兒生後，宜勤看口，有口糜者，膀胱移熱於小腸，腸膈不便，上為口糜，導赤合五苓治之。</p>
<p>鵝口者，初生白屑滿舌，如鵝之口，乃胎熱所致，用發纏指上，蘸薄荷自然汁拭之。</p>
<p>如不已，更以粟米煎濃汁拭之，外用過黃丹滲患處。</p>
<p>初生一復時，滿口上下牙齒，忽變白色，恍如齒牙，名曰馬牙驚，不治。若因將養過溫，積熱熏蒸於上，發為口瘡，宜炒焦乾薑，同黃連為末敷之，以木通散（見胎熱）與乳母服。</p>
<p>如不愈，更以礬湯浸腳，上半日，以蜜炙黃柏、炒僵蠶末敷之立效。如只口角爛瘡，發灰以豬脂調敷即愈。</p>
<p><u>導赤散</u></p>
<p>生地　木通　赤茯　麥冬　甘草　燈心</p>
<p><u>五芩散</u></p>
<p>豬苓　赤茯　赤芍　白朮　肉桂</p>
<p><u>口糜散</u></p>
<p>　口瘡糜爛神效。</p>
<p>黃柏　黃連（各一兩）　雄黃　沒藥（各二錢）　片腦（五分）</p>
<p>為末干摻瘡上。</p>
<h4>耳</h4>
<p>小兒腎氣實，其熱上衝於耳，使津液壅滯，化為稠膿，或為清汁，亦有沐浴水入耳中，血氣凝滯，漸生疳臭，久乃成聾。湯氏有五耳之名，其本則一，宜龍骨散吹之，外服化毒退熱之劑。</p>
<p>膽氣不舒，風邪乘襲，少火被郁，兩耳腫痛，內流清水，久則變為膿血，身發寒熱，耳內如沸湯之響，此風火燥干膽汁之候，治宜舒膽湯。</p>
<p>耳中干耵，無膿無水，痛如針刺，久則焚槁成聾矣，速宜平火湯重劑服之，或以柴胡聰耳湯消息調之。</p>
<p><u>龍骨散</u></p>
<p>龍骨（研）　明礬（　，各三錢）　黃丹（　，二錢）　胭脂（一錢）　麝香（少許，同為末）</p>
<p>先捻去膿汁，次用鵝管吹入。</p>
<p>吳遇齋曰：瘡在耳外，用雄黃一錢，紅棗一枚去核，包黃在內，火煨存性，取黃研細，搽上即愈。瘡在耳內，用魚首石煉存性，碾細，加朱、麝各少許同碾，吹入自愈。</p>
<p>方鹿村曰：耳後膿瘡，用柿餅蒂七八個，燒灰，將熄時，以碗覆之，冷定為末，入輕粉一錢，香油調塗即愈。</p>
<p><u>舒膽湯</u></p>
<p>當歸　白芍　元參　花粉　炒山梔　柴胡　石菖蒲</p>
<p><u>平火湯</u></p>
<p>熟地　生地　麥冬　玄參　菖蒲</p>
<p><u>柴胡聰耳湯</u></p>
<p>柴胡（三錢）　連翹（四錢）　當歸　甘草　人參（各一錢）　虻蟲（三個，去翅足）　水蛭（五分）　麝香（少許，三件另研）　生薑（一片）</p>
<p>各藥煎好，去渣入三末，再煎一二沸，食少遠，熱服。</p>
<p>程慶其曰：有蟲入耳中，痛不可忍，極似干耵症，用生薑擦貓鼻，取尿滴耳中即出。</p>
<p>仇芑軒曰：有耵燥暴聾者，用全蠍去毒為末，酒調滴耳中，聞水聲即愈。</p>
<h4>目</h4>
<p>目黑睛屬肝，白睛屬肺，瞳人屬腎，上下胞屬脾，大小角屬三焦，心者，往來機發之輪，故目內赤者，心家積熱上攻，導赤散（見口）主之。青者肝熱，瀉青丸主之。黃者脾熱，瀉黃散（見舌）主之。有視物不明，不腫、不痛、不赤，無翳膜，或見黑花，無眼光者，是肝腎陰虛，不可服涼藥，宜滋陰腎氣丸主之。有初生眼閉者，由產母食熱物毒物所成，以熊膽少許，蒸水洗之，日七次。如三日不開，與地黃湯服之，乳母與木通散（見胎熱）服之。乳母食熱物毒物，令兒眼赤者，消風散加減調之。時氣風熱，眼昏紅腫者，開明湯、衝和湯主之。斗睛，牛黃膏主之。疳眼流膿生眵，龍膽飲子治之。痘毒及無辜疳入眼，羊肝散治之。初生洗拭不淨，穢汁浸漬眼　中，兩角赤爛，至長不瘥，又有難產，轉側差遲，血壓兒首，灌注入眼，生下不見瞳人，外胞赤腫，上下弦爛，亦宜生地湯服之，四神散洗之，不可服重劑寒涼，致傷臟腑。若因肝氣上衝，腦汁大墜，翳膜卷帘，非服補腦還睛丸不可。</p>
<p><u>諸不治症</u></p>
<p>　白珠如炙腦髓，翳如梅花蕊，瞳人散亂，青光瞎，白珠膿出，內翳裹睛，血脈脹出，瞳人打破，白翳貫心，烏珠突起。</p>
<p><u>瀉青丸</u></p>
<p>龍膽草　梔子仁　大黃　羌活　防風（各一錢）　當歸　川芎（各一錢五分）</p>
<p>蜜丸，竹葉薄荷湯下。</p>
<p><u>滋陰腎氣丸</u></p>
<p>熟地（三兩）　山藥　歸尾　丹皮　北味　柴胡（各五錢）　茯苓　澤瀉（各二錢五分）　生地（酒炒，四兩）</p>
<p>蜜丸，辰砂為衣，每十丸，空心白湯下。</p>
<p>張迂庵曰：人至中年，腎水衰耗，兩目昏花，極宜六味地黃丸加枸杞、甘菊、沙苑蒺藜常服。平素火盛者，入酒炒黃柏一兩，火虧者，入肉桂一兩。眼昏兼虛熱，紅腫澀痛者，此丸減少作湯，加枸杞、甘菊，數服自愈，不得妄用風藥，致損真元。</p>
<p><u>生地黃湯</u></p>
<p>生地　赤芍　歸尾　川芎　甘草　花粉　燈心</p>
<p><u>消風湯</u></p>
<p>防風　茯苓　蟬蛻　陳皮　厚朴　川芎　羌活　荊芥穗　白僵蠶　藿香葉　甘草</p>
<p><u>開明湯</u></p>
<p>羌活　白芷　荊芥　防風　菊花　川芎　生地　黃芩　當歸尾　蔓荊子　草決明　薄荷　燈心　生薑</p>
<p><u>沖和湯</u></p>
<p>　治四時感冒，赤火之眼，極效。</p>
<p>羌活　蒼朮　防風　白芷　生地　黃芩　川芎　細辛　甘草　生薑　蔥白</p>
<p><u>四神散</u></p>
<p>銅青　明礬　海螵蛸（煎過用，各一錢）　硼砂（二錢）</p>
<p>燈龍果漿為丸，芡實大，每用時水浸化，蒸熟取清水洗拭。</p>
<p><u>將軍沖翳散</u></p>
<p>　洗一切翳障。</p>
<p>文蛤　苦參　升麻　薄荷　防風　荊芥白芷　川芎　羌活　草決明</p>
<p><u>十二將軍二聖湯</u></p>
<p>黑面將軍（十二個）　綠聖　白聖（各五分，煎洗）</p>
<p>程自閑曰：即五倍子白礬銅綠耳，以其功能，得邀品號。</p>
<p><u>龍膽飲子</u></p>
<p>青蛤粉（五錢）　炒黃芩（二錢）　羌活　龍膽草（各二錢）　麻黃（三錢五分）　蛇蛻　穀精草（各五分）</p>
<p>為末，每服二錢，茶調下。</p>
<p><u>羊肝散</u></p>
<p>蜜蒙花（三錢）　青葙子　決明子　車前子（各一錢）</p>
<p>羊肝一葉薄批，滲上濕紙裹煨，空心食之。</p>
<p><u>牛黃膏</u></p>
<p>牛黃　麝香（各五分）　白附子（炮）　肉桂　全蠍　川芎　石膏（各一錢）　白芷　辰砂（飛）</p>
<p>藿香葉（各二錢）</p>
<p>蜜丸，芡實大，薄荷湯研化服。</p>
<p><u>賽寶萬捶膏</u></p>
<p>　治老障紅絲　肉，風火爛弦重翳，如神。</p>
<p>爐甘石（一兩，打成小塊，放銀罐內，將火硝拌勻，用火　紅，取出研極細，飛過，復研，以細絕為度）</p>
<p>蕤仁（一兩，去油淨）　琥珀　珍珠　瑪瑙　珊瑚　石蟹（各五錢）　雌黃　雄黃（各二錢五分）</p>
<p>以上用布包裹，捶碎研細，水飛過，加金銀箔各二百片，同研細，再入人乳，研十萬下，如塵欲飛。然後用荊芥穗、草決明、防風、羌活、木賊、菊花、蕤仁、千裡光各五錢，細銼，煎水二碗，澄清熬膏，加乳汁，復熬透，調前藥捶之萬下。如干以膏濕之，做成片子藏固，臨用取少許潤軟點之。</p>
<p><u>立靈散</u></p>
<p>爐甘石（一錢，同上制）　冰片　麝香（各一分）　熊膽（二分）　蕤仁（三分，去油淨）</p>
<p>研細，點翳膜上。</p>
<p><u>粉丹散</u></p>
<p>輕粉　黃丹等分為末，盛小竹筒吹耳內，左翳吹右，右翳吹左，奇效。</p>
<p><u>辟塵膏</u></p>
<p>　治塵埃入目，揩成腫痛，發熱啼哭。</p>
<p>頂煙陳墨（新汲水濃磨，入元明粉和成膏，新筆蘸點目內，日三五次，忌食煎炒）</p>
<p>吳朴公曰：飛絲入眼，亦蘸墨點之，略閉刻許，墨染絲黑，用筆挑去。</p>
<p><u>補腦還睛丸</u></p>
<p>雌黃（火　，入醋，研，三錢）　千裡光（酒拌炒）　菟絲子（酒浸炒）　川木賊（去節，童便浸一日）</p>
<p>杏仁（去皮尖）　茺蔚子　荊芥穗　甘菊花　羌活　防風　蛇蛻（酒浸焙）　石決明（　，各一錢）　川芎　白蒺藜蟬蛻　蒼朮　酒蒸地黃（各一兩）</p>
<p>各自為末和勻，煉蜜丸，如彈子大，每服一丸，日三次。薄荷湯或好茶送下。</p>
<p><u>大腹皮飲</u></p>
<p>　治頭疼眼脹，及偏正頭風，神妙。</p>
<p>大腹皮　當歸尾　何首烏　麻黃　川芎　北細辛</p>
<h4>鼻</h4>
<p>鼻為肺竅，一有風寒停滯，則氣道壅塞，津液不收，流為濁涕。若冷結不散，久乃不聞香臭，辛夷散治之。有風寒挾熱者，則鼻干不眠。又有乳母臥時，鼻中出息，吹著兒囟，亦令鼻塞，不能飲乳，開關散治之。</p>
<p>鼻淵有二症，風入膽中，移熱於腦，腦尋竅於鼻而出涕，濃而臭為實熱症，當歸湯治之，鼻流不臭清涕，經年不瘥，為肺氣虛寒之候，治宜石首魚腦湯。又有鬱火不宣，門戶閉塞，稠黏濁涕，或硬或黃，不嚏則脹悶難忍，嚏則鼻梁疼痛，須加味逍遙散治之。</p>
<p><u>辛夷散</u></p>
<p>白芷　川芎　細辛　本　辛夷　木通　升麻　防風　甘草</p>
<p><u>開關散</u></p>
<p>香附　川芎　荊芥穗　細辛葉　白僵蠶　皂角（燒存性各等分）</p>
<p>為末，用生蔥白同搗成膏，紅絹包固，臥時貼囟門上。</p>
<p><u>當歸湯</u></p>
<p>當歸（五錢）　元參（三錢）　辛夷（一錢）　炒梔（八分）　貝母（五分）　柴胡（三分）</p>
<p><u>石首魚腦湯</u></p>
<p>訶子　甘草（各一錢）　荊芥　細辛　人參（各五分）　桔梗（二錢）　石首魚腦骨（五錢，　存性）</p>
<p>為末，將上件煎好，去渣，入末，再煎一二沸服。</p>
<p><u>加味逍遙散</u></p>
<p>當歸　白芍　白朮　茯苓　甘草　陳皮　柴胡　桔梗　黃芩　白芷　半夏</p>
<h4>囟</h4>
<p>囟陷者，血氣虛弱，不能上衝腦髓，或因泄利下陷，不得平滿，總以狗頭骨炙黃為末，入雞子清調敷之。</p>
<p>囟填者，乳哺不調，致傷寒熱，逆氣衝填，突然高起，毛髮短黃，顫惕自汗，寒氣則牢硬不已，熱氣則柔軟不支，寒者溫之，熱者涼之，兼調其氣，而折其逆，自無不愈。</p>
<p>囟解者，小兒年大，頭縫開解不合，由腎氣不足，腦髓空虛，如樹無根，豈堪培養。</p>
<p>斯時也，惟以六味地黃，加龜板為丸，空心溫水服之，外用防風、柏子仁去油為末，乳汁調塗，或以華陰細辛、肉桂、乾薑為末，乳汁調敷，亦多有效。</p>
<p><u>六味丸</u></p>
<p>地黃（八兩）　山萸肉　山藥（各四兩）　茯苓　澤瀉　丹皮（各三兩）</p>
<p>程格思曰：張仲景原方，有桂、附各一兩，名八味丸，錢氏謂小兒稚陽，無補陽之理，故去桂、附治之。近世俗醫，並六味亦不敢與小兒服矣。</p>
<h4>頤</h4>
<p>滯頤者，脾胃虛冷，涎流出而漬於頤間，不能收約，大宜溫脾，薑朮散主之，或八仙糕。加木香、白蔻仁亦妙。</p>
<p><u>薑朮散</u></p>
<p>半夏　木香（各五錢）　川白薑　白朮　青皮　陳皮（各二錢五分）</p>
<p>糕糊丸，麻子大，一歲十丸，米飲下。</p>
<p><u>八仙糕</u></p>
<p>人參（五錢）　苡仁　芡實　山藥　茯苓　蓮肉（各四兩）　白米粉（五升）　白洋糖（任用）</p>
<h4>臍</h4>
<p>臍為有生之蒂，內通臟腑，偶或汁出，或赤腫，或生瘡，俱為風濕相乘，當用白石脂末焙，出火氣敷之，日三度，或油發灰敷，或當歸末敷，或蝦蟆灰敷，亦可。</p>
<p><u>安臍散</u></p>
<p>瓜蒂　南星　白斂　赤小豆斷臍時，以四藥等分為末，每三錢，用芭蕉自然汁，調塗四傍，能去濕固氣。</p>
<p>王介庭曰：斷臍時，以蘄艾為捻子，香油浸濕，燒臍帶至焦方斷，斷後用軟帛濃棉裹束，每日看之，勿令兒尿浸潤。可以預防臍風。</p>
<p>楊涵一曰：臍帶落下，放新瓦上，　存性，碾細，每一分，用飛過朱砂五厘和勻，外以黃連、當歸、生地煎汁，調成稀糊，搽乳上，與兒吮吃，一日令盡，次日撻下黑糞，可免痘密，且無瘡痕。</p>
<h4>語遲</h4>
<p>言心聲也，母有驚邪，兒感其氣，心神不守，舌本不通，菖蒲丸主之。</p>
<p><u>菖蒲丸</u></p>
<p>人參　麥冬　川芎　當歸　遠志　菖蒲（各二錢）　乳香　朱砂（各一錢）</p>
<p>蜜丸麻子大，每服十丸，粳米湯下。</p>
<h4>夜啼</h4>
<p>陰盛於夜，小兒臟冷，遇夜則陰極發躁，寒盛作疼，故夜啼而日歇，鉤藤散主之。</p>
<p><u>鉤藤散</u></p>
<p>茯神　茯苓　川芎　當歸　木香　甘草鉤藤　生薑　大棗如或心熱煩疼而夜啼者，必面赤舌白，小便赤澀，即去當歸、木香另為末，加辰砂一錢同研，少以木香煎湯調服。有觸犯禁忌及驚駭者，服新安金藥。（見驚）程書焉曰：夜啼一症，有用燈花末塗乳頭者，有用燈心湯研化燈花四五粒而飲之者，有用井邊草，或雞窠中草安臥席下，不令母知者，俱有意焉。</p>
<h4>龜胸</h4>
<p>胸高臍滿，其狀如龜，此肺家熱邪，由乳母多用五辛酒面無度，或夏月熱乳所致，宜服杏仁煎。</p>
<p><u>杏仁煎</u></p>
<p>川大黃　天冬　杏仁　百合　木通（各一錢二分）　桑皮　葶藶（各五分）　石膏（八分）　臨臥時服。</p>
<h4>龜背</h4>
<p>小兒生下，不能保護，客風入於骨髓，或坐早勞傷氣血，多成痼疾，間有灼艾收功者，肺俞穴第三椎骨下兩傍各一寸五分，膈俞穴第七椎骨下各一寸五分，以小兒中指中節為一寸，艾炷如小麥大，灸但三五壯為止，內服松芷丹。</p>
<p><u>松芷丹</u></p>
<p>花松　枳殼　防風　獨活（各一兩）　川大黃　麻黃　前胡　桂心（各五錢）</p>
<p>蜜丸黍米大，粥飲服。</p>
<h4>鶴節</h4>
<p>小兒肌肉瘦薄，骨節呈露，如鶴之膝，此先天稟受精髓不充，亟以六味地黃丸（見囟）加麝茸、牛膝治之，緩則必成廢疾。</p>
<h4>行遲</h4>
<p>小兒髓不滿骨，血不榮筋，故軟弱不行，虎骨飲治之，或六味丸加牛膝、五加皮、酒炙鹿茸亦可。若稟受肝氣怯弱，致兩足攣縮，兩手伸展無力，須薏苡仁丸治之。</p>
<p><u>虎骨飲</u></p>
<p>虎脛骨　乾地黃　當歸身　棗仁　茯苓　川芎　防風　牛膝　肉桂為末，每服一錢，粥飲調入酒少許，日二次。</p>
<p><u>苡仁丸</u></p>
<p>秦艽　當歸　苡仁　棗仁　防風　羌活等分蜜丸，芡實大，每一丸，荊芥湯研化，入麝一厘服。</p>
<h4>五軟</h4>
<p>小兒生後，頭項手足肉口皆軟，乃先天諸陽之氣不足也，頭項症地黃丸（見囟）服之，甚者星附膏貼之。手足肉口症，補中益氣湯主之（見保產）。有因吐瀉之久，囟目頓陷，天柱骨倒，補中加附子治之，地黃丸料兼服之。</p>
<p>余子敬曰，肉軟者，肉少皮寬，口軟者，食少舌舒，皆脾胃之症。又有初生，遍身赤肉，全無皮殼，或有皮如魚胞，如水晶，亦產母脾氣不足所致。無皮者，以粳米粉拌黃土敷之。魚胞水晶者，蜜陀僧碾細末敷之。更有　赤發熱者，石膏碾細敷之。</p>
<p><u>星附膏</u></p>
<p>南星　附子等分為末，用生薑自然汁調敷。</p>
<h4>五硬</h4>
<p>薛氏曰：五硬者，仰頭取氣，難以動搖，氣壅作痛，連於胸膈，腳手心冷而硬，此陽氣不營於四末也。又曰：手足冷而硬者，獨陽無陰也，難治。若肚筋青急，為木乘土位，速宜六君子湯，加炮薑、肉桂、升麻、柴胡，以復其真氣。如系風邪客於四末，而令硬冷者，須從驚風症中求之。</p>
<p><u>六君子湯</u></p>
<p>人參　白朮　茯苓　陳皮　半夏　炙甘草</p>
<h2>卷三</h2>
<h3>痘瘡</h3>
<h4>總訣</h4>
<p>痘曰胎毒，由男女交媾時，先有火會而後精聚，此火蘊釀於胚胎之中，為血液之賊。</p>
<p>外有感觸。忽然而生，莫可止遏。間有輕重不等者，或父母稟受所致，或天行運氣使然。</p>
<p>善治者因其勢而利導之，何難皆中理解也。</p>
<p>兒在胞中，如雛在卵，形體未全，口無透竅，賴其母血液灌溉於臍帶中，渾渾然太初之氣也。產時母血橫流，滲入兒口，容或有之，俗謂口含血餅咽下，寄於命門，蘊蓄成毒誤矣。其有臍矢者，猶瓜果中漿汁，豈食血餅而成。若云腹中賴此滋生，則此乃血液之寶，焉得成毒哉？沈旬仲曰：此益都翟氏之旨也，鳳雛淵源翟氏，一番推出一番新。翟氏得未曾有，鳳雛又發明其所以然，開聾　而濟夭枉。二先生寧止為斯道之功臣。</p>
<p>痘毒稟自胚胎，或數年而後發，或十數年而後發，或數十年而後發。其未發也，深藏潛伏，聲臭俱泯。正如閭閻無事時，未可執人而誅之曰，爾將為寇也。奈何世有預解痘毒之說者。</p>
<p>預解痘毒方法，有偶中者，小兒胎毒本輕也。一或不中，當奈之何？嘗見富貴之家，珍愛太過，遍覓方士金丹，及出痘時，反極重不可救藥。良由所服損虛臟氣，不得使痘毒宣暢故爾。</p>
<p>痘毒在人身中，無處不有。然其發也有次第，自骨髓而達於筋，腎主骨，血氣壯盛，毒盡送出於筋，則腎經毒解，自筋達於肌肉。肝主筋，氣血充足，毒盡送出於肌肉，則肝經毒解，自肌肉達於血脈。脾主肌肉，血氣充足，毒盡送出於血脈，則脾經毒解，自血脈達於皮毛。心主血，氣血充足，毒盡送出於皮毛，則心經毒解，自皮毛達於瘡窠。肺主皮毛，氣血充足，毒盡送出於瘡窠，則肺經毒解。五臟毒解，血化為膿，毒從膿化，痂結靨落而功成矣。若出於筋而少留於骨髓，則壯熱口乾悶亂。出於肌肉而少留於筋，則搐搦牽掣，紫黑潮熱。出於血脈而少留於肌肉，則得癰腫於四肢。出於皮毛而少留於血脈，則痘不圓肥。出於瘡窠而少留於皮毛，則痂落遲而多麻　。</p>
<p>痘毒與諸瘡毒不同，諸瘡毒未成形，可解散內消而愈。既成形而未成膿，猶可逐散不成膿而愈。痘毒發自先天，應期開落，不可內消，不能逐散，全仗氣血送毒歸痘。（翟氏秘奧在此四字）以灌膿結痂，生理沛然。一用寒涼冰伏，變症叢生矣。況有不必解者，又有不可解者，小兒稟賦強壯，素無疾病，飲食如常，其氣血足以運送，變化成功，順症也，焉用解。若先天稟賦素虛，後天脾胃復弱，出痘時飲食減少，或瀉利腹脹，或手足冷，或氣短促失聲，或出不快，或根窠不紅活，或色白頂陷，或當膿而不膿，當靨而不靨，此氣血不能運送變化，宜速用溫補。若參、　、歸、朮，力不及者，即丁香、桂、附佐之，亦不為害，焉可解為？痘毒蘊結於臟腑骨肉之間，與血氣渾成一塊，未曾破解，有感之後，漸漸分離。如胎之將產，此解字乃分形解體也。故痘出一分，毒解一分，痘出二分，毒解二分，痘盡出，則毒盡解，特在肌肉之間而未化耳。出不齊，脹不起，膿不化，痂不結，氣血弱也，速宜助之。助之者，恐膠結難解也。若曰未出可解之不出，多出可解之少出，將使胎之在腹者，可使之不產，將產亦可使之有不產乎。</p>
<p>痘之發與雜症不同，雜症只在一經，痘則五臟之症俱見。古云似傷寒者，亦大概言也。孟春沂曰：寒出外入（故惡寒），痘由內出（故惡熱），故惡寒無汗，頭痛脊強，左額青紋，面色慘而不舒，此傷寒之所有，痘症之所無也。兩目含淚珠如水精，鼻氣出粗，睡中微驚，耳紋現（淡紅者吉，青紫者凶），惡熱不惡寒，此痘症之所有，傷寒之所無也。有云中指獨冷，耳尻冷等說，理亦信焉。</p>
<p>痘者豆也，肖其形則生，不肖其形則死。形之不肖，元神竭矣。尖圓而突，周淨而松，形之有神者也。如麩（色白）如沸（空殼），如疥（無根顆）如蠶種（黑小）如蛇皮（一片），如蚊跡（血，散）</p>
<p>如瘙斑（根散），如湯泡（皮肉，先爛）如火刺（血干），形之無神者也。形而無神，可冀生乎？至於色也，欲如春花之在露（紅活光潤），不欲如秋草之經霜（黑暗干黃。）紅白兩分，明潤光活，色之有彩者也。如膩粉，如枯骨，如紅米飯，如豬肝色，色之無彩者也。形不有神，色不現彩，生意可知矣。嗚呼，神彩其生死之門戶也。</p>
<p>凡痘之看，先看元氣。痘兒元氣，非有非無，唯心領意會而已。如形色初善而終變惡者，元氣內竭也。形色初惡而終歸善者，元氣內強也。元氣本也，形色未也，故善治者必求本。</p>
<p>程書焉曰：昔人用人參、黃　、甘草為保元湯，始終不易，正欲使元氣內強耳。</p>
<p>桂岩子曰：人知痘藉氣血，不知痘之所藉，尤有超於氣血者，蓋元氣盛，則氣血流通，而領逐，而負載，並行祛毒，痘必應期而開落。元氣一虧，則在外者內不續，在內者外不固，毒肆妄行，或出或入，而為外剝內攻矣。調養真元，補益氣血，誠治痘完策。</p>
<p>不得已而欲攻他症，中病即止。經曰：常毒治病，十去其八，無毒治病，十去其九。夫包血成圓者，氣也，氣能拘血制毒，則痘暈必光明而紅活。頂陷者，氣之虛，塌陷者，氣之離，暈枯者，血之虛，根散者，血之離。圓也暈也，氣血之所為也。而所以成圓成暈者，氣血不得專也。</p>
<p>吳東園曰：根顆者，血之運，膿者，血之腐。六日前專看根顆，無根顆者，必不灌膿（毒在內也）。六日後專看膿色，無膿色者，必難收靨（元氣不足）。此理也勢也。</p>
<p>無形者依有形，有形者附無形，互相依附，天地之道，亦氣血之道也。氣之離，不由血之散乎，故自氣血交後，常觀根暈為憑準。粗緊紅活，生意沛然。若微細而不現不斂，且黯淡，則氣將飛去而必不剋制毒矣。是故內攻根散者死，內攻而根血猶附，非毒作楚，必三因致之（因體虛、因穢觸、因誤藥）。</p>
<p>氣血有常，但不能盈於常，而能自虧於常。然亦有盈者，何也？毒壅於氣，火搏於血耳。斑者，血有餘也；　者，氣獨盛也。經曰：邪氣盛則實，真邪奪則虛。</p>
<p>氣居親上之尊，則痘頂尖圓白潤；血安親下之分，則四圍色暈紅活。若通頂紅色，必不能漿，八九日癢塌而死。此非血之過，由氣虧而失其尊，故血得妄行而僭居其位也。大補其氣，猶或可救，誤認血熱，以涼治之，斃矣（真血熱則枯焦紫黑，甚至無痘處亦紫）。</p>
<p>凡形色大惡，氣不交，漿不成，似為死矣。若精神爽朗，便食如故，而天庭有一二悅目者，猶可發毒，作臭痘而愈。何也，毒在外，不在內也，故如此云。</p>
<p>陳氏云：痘以太陰脾肺二經為主，肺宜溫而脾宜燥。萬氏云：痘始終以脾胃為主，胃當養而脾當補。馬氏云：痘以少陰心經為主火不可太清，而血不可太寒。夫脾為孤臟，主肌肉，化水穀而生津液，灌溉諸經，而熏蒸發育。肺主氣，心主血，氣血充盈。　濡流貫，而痘有不得其天者乎。</p>
<p>心主血而屬火，痘藉之以運用一身，溫則流行，寒則凝滯，世以犀角涼之，此不知陰陽之屬也，惡能使之運化痘毒而成功乎？故予只於痂後余毒用之。若天行癘氣，與氣血爭盛者，脈洪數，痘初出即帶紫色，既出而稠密紅紫，內症煩悶躁渴，小便赤澀，大便秘結，量入清涼之味解之，或酒炒大黃微利之，甚有口鼻出血者，犀角暫用之。若毒盛而氣血不盛者，雖曰解毒，必兼活血補氣，參、　、歸、芍，安可缺耶？黃連、犀角皆瀉心之品，時下恃為治痘神良，不論虛實寒熱，一切用之，更益以石膏、明粉、生地汁、羚羊角之屬，冰伏其生生之氣，噫異哉。</p>
<p>痘始終藉熱成功，先三日熱而後出，出齊則退，漿將行又熱，漿足則退。回漿前又熱，漿回則退，結痂收靨落痂又熱，名曰燒瘢。凡此皆不宜涼解，涼解則氣血凝滯不行，痘毒留中而禍作矣。（初熱未退，痘即出日火苗，宜辛涼托表。）</p>
<p>痘不為害，惟毒為害，毒盡附於痘中不為害，惟不盡附於痘中則為害（秘奧法門）。故無論隨所因而用何劑，必少加穿山甲末，透其竅而逐之，使毒歸於顆粒而後已。又必加白芍，斂其血而收其毒，使無一分滲漏傍溢。治痘之法，其庶幾乎？痘未出前，升發微汗，使毒瓦斯宣通，毒出外而內自安也。既出後，調氣助血，使漿路充盈，漿始化而毒無不盡也。</p>
<p>毒停肌肉則發腫，毒滯皮膚則作臭，肌肉陽明主之，屬土，皮膚太陰主之，屬金，癰腫土象，腥臭金象，亦各從其類也。</p>
<p>書謂紅　者生，紫　者死，黑　藍　，百不救一。雖然，亦有紅　死，而紫　藍　得生者，夫　、血熱也，失於解利則發　，惡痘出，勢所必然，無論顏色，　與不　皆死。但天庭疏朗，形色善而斑出，又當別論。</p>
<p>昔一　症，諸醫莫治，召予視之，已七日矣。斑分上中下，上斑紅，中斑紫，下斑青，視其痘，則綻突疏朗，內含清水，色黑黯而精神爽健。視唇舌，則多苔燥。予曰：失解故也，進以清涼自愈。後果然。由是書不可拘也，察形色，驗唇舌是準。</p>
<p>痘前後有衄血者，毒瓦斯外泄，沖於肺也，此非惡候，只宜發灰散、清肺湯調之，不可用犀角等峻劑。</p>
<p>疔之結也，亦熱毒壅盛，失於解和，內不能入，而結隧道空隙之處，惡痘疔結，逆轉為順矣。但結前後心必死，結耳門喉下者死。辨疔有法，慎無以黑痘作疔，黑痘猶痘也。疔則陷入肉中，形如螺蓋，捏之則有核，割之不知痛，其根白或長寸許，醫多誤認，靨後疔爛，七日前後者，四聖丹主之。</p>
<p>痘起脹，或收結時，驟然泄瀉不止，危在旦夕。有用異功散仍不效者，豆蔻丸、白朮散止之（熱毒作瀉用加味四苓散）。起脹灌膿時，有六七日不大便而煩悶作痛者，毒盛而秘也，清毒活血湯去參、　。加牛膝，倍紫草、當歸，服時入生蜜半杯，甚者加酒炒大黃三錢利之。若仍不通，用豬膽汁滴入穀道中，即通，切不可用硝黃大下，使生變症，禁絕葷腥是矣。然亦有富貴之子，其脾胃賴此以養成者，一旦使之不食，則生生之氣，將何賴以熏蒸長育乎？是又不可以常法論者。</p>
<p>痘之所恃者，血為養而氣為充也，故眼鼻必欲封塞，眼封則神不外馳，鼻塞則氣不外逐，神氣內榮，而毒不為之制伏者鮮矣。然又有鼻塞而有涕，美之征也。鼻塞而竅外干黑者死，眼封而有淚，生之兆也。封而沿眶塗煤者死，封眼五六日間未腫，過封後必眼疾，痘少者不封，或封而才靨，即退。</p>
<p>氣血之分，猶清濁之本於上下也。氣血之交，猶陰陽之互為依附也當分不分毒結之，當交不交毒隔之。知陰陽散郁，何不分之有知清熱解毒，何不交之憂。</p>
<p>痘之形症有四：曰毒壅，曰血熱，曰氣虛，曰血虛。又虛實有四：表裡虛實是也。見點稠密，形不尖松，色慘黯而皮膚間欲出不出，此毒壅也。見點深紅，而漸變紫黑，夾疔夾　，此血熱也。頂陷皮薄，平塌不振者，此氣虛也。色淡根散，或痘色與肉色無異者，此血虛也。身微熱而有汗曰表虛。壯熱無汗，喘促，脈浮皮毛焦，肌肉痛，表實也。精神疲倦，唇舌淡白，曰裡虛。狂亂氣盛，渴飲善食，唇燥而舌見黃白苔者，裡實也。毒壅血熱，同表裡之實。氣虛血虛，同表裡之虛。此一而二，二而一者也。壅者疏之，熱者涼之，虛者補之，實者瀉之，不虛不實，平劑以調之。明此數者，思過半矣。雖然，辨寒熱虛實，尤須用舌作綱維。</p>
<p>三等：順、險、逆。順者，血氣充和，痘毒宣暢，不必施治。險者，氣血不舒，痘毒壅遏，或雜症攪擾，當急施治。逆者，痘毒凝結，氣血干枯，治之無功。五要：一、出欲盡。二、起發透。三、膿稠滿。四、收靨齊。五、結痂濃。五善：一、飲食如常。二、大小便調。三、瘡紅活堅實。四、脈靜身涼，手足溫暖。五、聲音清亮，動止安和。（五者不能全得，得一二亦自清吉。）七惡：一、煩躁悶亂，譫妄恍惚。二、嘔　泄利，飲食不能。三、黑陷焦枯，癢塌破爛。四、頭面預腫，鼻煽肩抬，目張唇裂。五、喉舌潰爛，食入即　，水入即嗆。六、寒戰切牙，聲啞色黯。七、腹脹喘促，四肢逆冷。（七者不必皆有有一二亦自難為）七惡之外，又有渾身血　，心腹刺痛，陷伏不出，便溺皆血，尋衣撮空，是又卒死而不可救者。</p>
<p>葉天士曰：逆症亦有得生者，未可舍之不治也。險症必無死理，死者醫之過，非痘之過也。今且有揀順症治之，以混俗沾名，而舍棄其險者，吾是以惡金鏡錄等書分症之言，為不仁也。</p>
<p>痘有至佳者，隨出隨長，隨長隨灌，頂尖圓而色紅潤，稍見漿而即靨。又有至奇者，隨出隨長，隨長即靨，通不見膿汁，名為旱痘。二者俱不宜施治，庸妄者每至殺人。先出疹，疹靨而痘始出，曰墊疹。疹與痘並出，疹靨而痘始長，曰夾疹。痘出即有小小顆粒堆於痘之上，曰罩痘痧。痘出時，皮肉間隱隱有　點，大小不一，曰夾　。皮肉間艷色紅赤如云頭，而突起成片，曰丹毒。靨後痂落而疹出，曰蓋疹。種種不同，要皆痘毒之浮游散漫於皮膚間者，只當於痘中用治法，不可與正經麻疹　毒同科。</p>
<p>大都症候相似，運氣使然也。彼與此一，症狀無殊，非氣運而何。干涸者火鬱勝，吐瀉而肉腫者土鬱勝，咽燥喘促者金鬱勝，彼此凝伏者水鬱勝，鬱而不出者木鬱勝。火則清之，土則平之，木則發之，金則潤之，水則溫之。不泥於法，求之於經，自可斡旋造化。</p>
<p>諒形體用藥上工也。小兒臟腑易虛易實，體實過劑，尤為之損，況弱乎？凡痘極光潤，極榮灌，至回謝日而忽變逆，誰之咎歟？形體本虛，理宜補益，不察而行攻劫，使人元氣一驅而出，外雖榮灌，內實耗蠹，欲不死得乎？諒形體者，非泥於形體之形，而審形體之神也。</p>
<p>痘症之陷有四：有白有紅，有灰有黑。魏桂岩皆責氣虛，而後人以四者俱用補，誤矣。</p>
<p>彼之論陷，有深究其源。唇舌滋潤，身不壯熱，惟色變遷而陷，故責以氣虛。若唇燥舌苔，壯熱燎人，焦紫其色，而凹陷不起，果虛耶，抑毒耶？補益妄投，按圖索驥，予治不然，有外實則解之，有內實則清之下之，內外無症，則平劑調之。不獨治陷，痘終始皆然。藥隨舌轉，症用舌痊。嗚呼！舌之功大矣。</p>
<p>舌通乎五內，人知之而莫之用，不由指示，臨局必迷，不知此乃用藥樞紐也。藥有寒者、涼者、溫者、熱者，一唯樞紐在手，則縱橫顛倒，皆自我出，而是非而利害，姑置勿論。夫易虛易實，小兒也。使無定見，而謂不枉人命，吾未之信。</p>
<p>此吳氏秘法，旬仲得自孫其猶而語予者。因思凡一切藥，欲通乎臟氣者，皆曰放舌底噙化，非舌能通百脈之竅乎？況痘假心火成功，運用造化，全在此靈台方寸，至論不刊。</p>
<p>治痘之藥不可過，過於熱則涸，過於寒則凝，過於燥則耗血，過於潤則滑腸，過於攻則損真，過於補則助邪。古有云，藥須病更，機非在我。我者不通變之謂也。</p>
<p>邪熱壅盛，隧道阻塞，而卒無死者有之，禁絕寒涼過也。若根顆不散尚活，宜置涼處以徹其熱，亦能復蘇，毋因其氣絕而遂舍去。</p>
<p>治痘有四節次，務要不紊，紊則氣血顛倒，火毒肆瘧，而諸症蜂作矣。故驚者狂者，吐者瀉者，　者疹者，腰痛腹痛者，肉腫痘不腫者，水嗆錯喉者，皆當發不發，毒壅三焦，停氣道也。焦紫者，枯黑者，渴者，躁者，發疔毒者，胃爛口臭者，皆當清不清，陽明內熱所致也。當補不補，則為白陷，為泄瀉，為癢塌，為倒靨，外剝內攻，中氣虛也。</p>
<p>當滲泄不滲泄，則反壯熱，或少食，或吐瀉不止，或肌肉作疰癤而疤爛，何者？脾濕內淫也。標離而異，本合而同，藥當其節，變症息矣。不應四法，必三因乘之。六氣外襲為外因，驚恐內動為內因，調理失宜為不內外因。四法正也，三因奇也。奇正互用而得之矣。</p>
<p>治痘症不治雜症，萬古秘論也。雜症有日，痘症只兩七日而已。且痘中之症，緣失治而作。今猶治症不治痘，將症愈甚，而痘愈憊矣。</p>
<p>程既莘曰：雜症非痘中所有，醫實誤之，愿世人著眼，治雜症一寸，則痘症落後一丈。</p>
<p>昔人固嘗言之，今人欲故犯之何也。</p>
<p>痘有當吐者吐之，吐中有發意存焉，滴水不入者，毒壅氣道也，宜吐之。食飲痰停，形色生變，陽氣鬱遏也，宜吐之。惟氣虛多汗者忌之（吐法用升麻梔子豆豉煎服探吐之）。</p>
<p>痘有當汗者汗之，當汗不汗，後必變症，壯熱皮燥，喘促面浮，可汗也。痘隱隱不出，肉腫瘡不腫，毒停不成漿，或因寒倒靨，皆可汗也。但兼解補有殊耳。可清也，可下也，舌之黃白盡之矣。可溫也，可補也，舌之淡紅盡之矣。其詳審諸。</p>
<p>出痘之童，嗜欲開而血氣耗，虛火炎蒸，或煩或渴，或咽喉痛，或鼻時出血，腫盛不任溫補，當是時參麥清補湯，頻服於五六日前，猶或可救。若七八日不成膿，非參歸鹿茸湯不可。</p>
<p>女人月事，時至必行，將行經，忽然暴至，險之險也。痘之成功，全藉氣血，氣虛可為，血虛難為。如痘不倒陷，根暈不散，猶可冀生。若倒陷根散者必死。治療之法，在重養其陽以生陰，症屬血熱。又有得行經而反吉者，然在見點起脹時，非灌膿時宜也。</p>
<p>凡治孕婦，務要無失時，胎之墮也，非血熱必氣虛。藥投其時，皆有安胎之妙。四五日唇燥舌苔，雖硝黃亦可下。經曰：有故無殞，亦無殞也（謂胎亦無殞也）。有實症不下，胎可保乎？故傳曰：變而通之存乎人。</p>
<p>痘症墮胎，務審在何時，在初出則補而升之，在起脹則補而清之。在行漿則峻補之。</p>
<p>又當以根暈散不散為生死證驗。</p>
<p>痘之失治，必至於死。然死之日死之狀何如？沈虛明曰：鬱而不出者三日死，出而不齊者六日死，不起脹者九日死，不灌漿者十二日死。凡內攻之痘，皆死於十二日之前，不成痂者十五日死。又毒陷於脾者，泄瀉而死，毒壅於胃者，干枯焦黑而死，郁毒未解，喘促而死，火毒未解，外剝而死。此勢之所必有也。節齋曰：重症屬虛寒者，九日後變症而死，或延至十數日變症而死。屬實熱者，毒蒸內傷五臟也，不過六日而已。余又不然，不斷以日，唯斷以死。若曰某日變某日死為神奇，吾不羨也。</p>
<p>世有神痘家，其術在能定嬰兒稟賦，出痘不死，然後種之，百無一失。間有壞事者，偏屬富貴之子，蓋非不能灼見，未免貪利心切，即不可種而意圖僥幸，遂至失手。此醫之過。抑富貴者自取，果能聽造化主持，出痘雖重，高明猶可著手，乃必勉強矯揉其正氣，使之根本脫離而不可救，不亦可哀也夫。</p>
<h2>卷四</h2>
<h3>痘瘡</h3>
<h4>發熱三日訣</h4>
<p>痘不熱不發，猶五穀不熱不結，但熱有輕重，毒輕則熱輕，毒重則熱重。有熱五六日出者，有熱一二日出者，太過則正不能勝邪，愆期則氣血凝滯。惟三四日而身涼痘出者為正，此吉兆也。</p>
<p>凡發熱，肌膚溫平潮潤，唇舌滋潔無苔，聲音清亮，睡中微驚，便食如故，或少食貪睡，皆吉兆也，重則反是，一發熱而唇裂舌炕，煩躁悶亂，口渴惡寒，兩耳灼熱，目睛紅，二便秘，蘇枳東加明粉，或千裡馬下之，惡熱者單下，以苔為增減，不可拘在初當發之說，此百中一二，又無執以為常。如唇舌滋潤，雖見惡症，切不可妄下以損人也。</p>
<p>發熱時，腹痛腰痛，四肢酸痛，皆重症也。若表過痛止者吉，痛加甚者凶。</p>
<p>發熱時吐瀉，切不可用止法，惟吐瀉酸臭，可加消導藥佐之，是必傷食者。</p>
<p>驚發痘前者吉，何也？驚屬陽，痘屬陰，陽破陰沖，則無壅遏之患，故吉。若誤服驚藥而冰伏其毒，釀害非淺（亦有驚即死者，必因中惡）。</p>
<p>發熱時，譫語顛狂，見神見鬼，躁亂不寧，是熱甚失表，外邪內毒，兩相激搏也，重發之則愈。舌見黃苔，非下不可。</p>
<p>凡臟腑鬱熱，非微汗則不解，故一發熱，必用汗藥也。身熱四五日不退者，知毒猶在內也，務要使熱退為佳。</p>
<p>身熱四五日不退，痘影焦紫，郁郁不出，此必寒氣外薄，閉塞鬼門也。出臭汗則熱自退，痘亦自出。</p>
<p>一發熱，頭面中有大痘數點，余痘不出，復不除熱，名曰報痘。急用銀針挑破，胭脂塗之，不則領敗正氣，為留連之禍也。</p>
<p>初熱時，即頭溫足冷，不渴，大便溏，面　白，或瀉利清穀，嘔食不化，虛症也，須從虛症方中考。</p>
<p>唐芳友曰：凡痘未有不由毒來者，小兒稟賦有虛實，各從治之易易耳，乃世謂虛中夾毒，為不治逆症，其言不仁之甚。試思天下小兒，何能人人皆實，何能有痘無毒哉。吾愿為父母者，捧誦鳳雛先生此書，不使庸妄者得啟其口，爾子孫其濃幸矣。</p>
<p>發熱時，燈照肉內，隱隱有紅紫成片者重，面紅唇白亦重，再加形色不善，死必矣。九竅流血者死。</p>
<p>目閉無魂，舌黑聲啞，胸高而突，掌紋出血，皆死症不治。起發白漿，不論何處，主七日死。</p>
<p><u>蘇桔湯</u></p>
<p>　此湯無論痘與不痘，但見小兒身熱，呵欠煩悶，睡中微驚，嚏噴眼澀，鼻氣出粗，手足酸軟，即宜與服。</p>
<p>紫蘇　桔梗　前胡　甘草　升麻　葛根　連翹　赤芍　當歸　蔥白　生薑身熱壯盛，肚腹膨脹而喘滿，加麻黃。</p>
<p>煩滿，加花粉、麥冬，調滿天秋。（備用方）</p>
<p>搐驚時發，加木通、生地。</p>
<p>喉痛，加大力子、元參、荊芥。</p>
<p>咳嗽，加杏仁、桑皮。</p>
<p>嘔吐甚，加陳皮、黃連、豬苓、澤瀉。</p>
<p>泄瀉，加豬苓、澤瀉。</p>
<p>失血乾嘔，加犀角、芩連。</p>
<p>便血，加桃仁、黃連。</p>
<p>溺血，加犀角、梔子。</p>
<p>溺短澀，加木通、車前、腹皮。</p>
<p>便秘結，加枳殼、當歸。</p>
<p>喘滿秘結，壯熱煩躁，面目浮腫，唇燥舌苔，甚則身惡寒，四肢逆冷，加千裡馬。（備用方）譫語狂亂，加石膏、知母，調滿天秋。</p>
<p>傷食腹痛嘔酸，加山楂、厚朴、神麯、麥芽。</p>
<p>腰痛，加羌活、防風。</p>
<p>婦人行經，加生地、川芎。</p>
<p>不期而行，加熟地、熱見愁。（備用方）</p>
<p>經行暴啞，加人參、麥冬、生地。</p>
<p>經行適斷，有譫妄等症，加羌活、柴胡，下熱見愁。</p>
<p>便秘加千裡馬。</p>
<p><u>益元湯</u></p>
<p>　此為元氣虛弱者立也，辨症果真，則前後皆不可易，中間雜症，雖或不同，要皆氣虛致之，治者只於本方消息加減。</p>
<p>人參　黃　甘草　白朮　陳皮　當歸　川芎　升麻　桔梗　生薑熱甚，易沙參。</p>
<p>白，減川芎。</p>
<p>停滯腹痛，或瀉酸臭，加山楂、曲芽。不因停滯者，加乾薑、芍藥。</p>
<p>腹痛甚，加異功散。（備用方）</p>
<p>泄瀉不已，去當歸，加肉果，或調中丸。</p>
<p>便秘結，倍用當歸。</p>
<p>不思飲食，倍白朮，加神麯。</p>
<p>溺澀赤，加腹皮、木通、茯苓。</p>
<p>嘔吐，去桔梗，加乾薑、丁香、陳皮。</p>
<p>嘔甚，加丁香再一倍。</p>
<p>虛煩作渴，加麥冬、五味子。</p>
<p>咳嗽，加麥冬、五味子、杏仁。</p>
<p>有痰，加貝母。</p>
<p>感寒咳嗽，加蘇、防、杏仁。</p>
<p>四肢冷，加乾薑、肉桂。</p>
<p>有汗，去桔梗、升麻，加桂。</p>
<p>驚悸，加天麻、鉤藤，磨安神丸。</p>
<p>三四日痘出不快，肌膚慘慘然，毛屑起舉，去升麻，加桂、白芷。</p>
<p>五六日候當長大，如起不快，或皮薄易破，色不紅活，倍參、　。加芷、桂、乳、酒。</p>
<p>水　，倍白朮，加防己、白芍。</p>
<p>癢亦然。</p>
<p>癢甚，用豬鬃小帚輕搠之，或行熏法亦妙。</p>
<p>四肢不起，加桂枝、防風。</p>
<p>七八日乃貫漿時也，如停漿不貫，氣血淡白，或灌清水，加芷、桂、木香常服，不可缺糯米，乳、酒亦宜常服。</p>
<p>凡痘至此而寒戰，而泄瀉，而反白癢塌，皆不能免，一見此症，急以木香異功散，出入用之。如膿色一足，唇舌轉紅，又須叱去，惟照本方加苓、芍，以助收斂耳。拘滯之醫，徒執溫補，一偏之制也。</p>
<p>虛症而反見腹脹喘促，便秘而渴，麥冬湯主之。咽喉煩躁，滋陰潤燥湯主之。蓋此乃虛症變實非真實也。倘疏利之劑，不察而姿意妄行，則方升之氣，又將轉而虛脫矣。九日十日，亦惟本方加苓、芍耳，有雜症加減之。至靨後癰毒等症，亦惟照後參之。</p>
<p>痘有純虛純實者，有先實後虛者，有從虛轉實者，如此方治症純虛也。故始終不移，雖有增減，要皆補益氣血為主。凡遇此症，必以此法行之，若蘇桔、十神等劑，切不宜用。</p>
<p>或曰：加減益氣，乃虛症所必需，然首尾不易，得無固乎，且參　皆峻補之味，何可妄行若此。予曰不然，用藥有訣，唇、舌，用藥之訣也，能識唇舌紅白而進退之，多用可也，常用可也。即不用可也，何妄之有？</p>
<h4>見點三日訣</h4>
<p>見點三日，死生判矣，斷於此時，方稱高列開竅，唯面部要緊，面者諸會之真，天庭印堂，尤面部最要緊者。師曰：天庭為看痘把柄，何者，元神所歸也。元神者，元氣也。小兒出痘，不過氣、血、毒三字，氣血又元氣所統也。元氣勝毒，開落應期，毒勝元氣，內攻外剝，毒既勝矣。又安望元氣之復勝哉。</p>
<p>天庭先見先起，先灌先靨，密而癢（毒盛氣不足），慘而黯（毒盛血不足），皆死症也。毒從虛發，信矣哉。</p>
<p>凡見點磊落，摸過礙手，顏色潤澤，眼部以下先見，身熱漸退，吉症也。蓋此等磊落礙手，稀而有神者也，色潤澤，謂有彩也。天庭後見，元氣內固也，反是者逆。</p>
<p>葉錫侯曰：毒盛從上部先見，毒微從下部先見，如火之盛，而必先有焰於上也。不由血領氣拘，而先上頭額者，則毒固可知，而生死亦從可知矣。</p>
<p>痘初出時，三五相連者，後必密，單見者稀，毒之淺深，於此可以預決。</p>
<p>形屬氣，色屬血，兩者俱可驗吉凶，定生死，人何專言血而不及氣。氣無形難知，血有形易見，故見點三日，色如豬肝者死，如紅米飯者死，毒散漫於皮膚，如洗過大紅綢者重。雖然，面部上有數十顆神彩奕奕者，尚可救活。師曰：不慮形惡，慮無神；不慮色惡，慮無彩。形綻而凸，彩潤而明，惡症緊要處，見有一二紅活可愛，雖凶亦吉。何者？元氣猶存也。</p>
<p>程占五曰：有一二紅活可愛，雖凶亦吉。何庸妄者，必諉之不治。病家又有眼不識高明，甘視其孩抱之呼號而莫之救，哀哉。</p>
<p>大都自眉以上見點，有神彩悅目可愛，仍不瑣屑，又不歪邪，雖遍身稠密，雜症百出，總不至於死。悅目二字，即予筆舌，亦難盡述，在學人心領意會而已。</p>
<p>見點頭焦神躁，舌苔而色或紫者，是血分毒熾，而未必不由內熱也。</p>
<p>見點白如水珠者重，若稀疏不密，人素色黃，而痘頗起發，氣至而血不至也。當散火。倘神不內寧，痘日增多，頂尖作　子形，毒大盛也，恐非藥所愈。</p>
<p>見兩日而大便尚秘，舌上無苔，知是血熱，非毒壅也，急行清解，本方加枳殼、明粉治之，否則恐灌漿時。嘔痛作瀉而不起，本方內芎、歸宜倍用。</p>
<p>見點色白不紅，不可便作虛治。白而無神，唇舌淡白，或吐或瀉，虛症也。若白而起色，唇舌赤紅，非虛也。三日後漸變深紫，其誤人不淺，見點腳冰冷者，不必慮之，氣未下行也。</p>
<p>初見時，大小不一。有色點如沸者，曰夾疹，本方加救苦丹治之。又有一等瑣屑紅點，隱隱肉間，曰夾痧，治亦同之。丹毒亦然。但有此症，必正痘悅目可愛，方為痧疹之夾。不然，是痘也，最當別之。又有痘出數顆，而夾疹遍身，圓淨疏朗，形色紅活，現兩日而盡沒，見者莫不驚愕。然此疹也，非痘也。痘沒必悶亂煩躁，此則寧靜，且正痘顯然，故知其為疹也。治以平劑自愈。然未沒時，亦難識認。</p>
<p>點見身熱，毒未盡也，但所感不同，有寒氣外郁者，有熱氣內郁者，均散之。</p>
<p>見點自汗，有生者，有死者，丹溪謂自汗無妨，指形色善者言也。若汗出而顏色日變必死，不可不極辨之。</p>
<p>凡痘出不快，須審時藥之，冬則寒鬱，夏則熱鬱。然亦有虛實之別。唇舌滋潤無苔，當從虛治。</p>
<p>見點色白，不甚起發，唇舌淡瑩，或吐或瀉，或腹脹，或自汗肢冷，神氣怯弱，須從虛例。</p>
<p>見點在於肚臍，或在肛門，而四圍成堆者，皆重症也。</p>
<p>初見數顆於山根上者重，才出而聲遂變，亦重。</p>
<p>痘出數點，而面目即光亮如瓜，口中氣臭，勃勃沖人，必至發斑吐血而死。</p>
<p>見點先於眉上，或兩太陽出數粒，突起光亮，少頃即沒，此賊痘也，必死。</p>
<p>有初出愛人，皮薄光亮，一兩日即長大，是未至而至，癘氣使然也，後必癢塌而死。凡患諸瘡毒未愈，或瘡毒新愈，而見點於此者重，此陽毒也。若瘡不干紅，雖重不死。</p>
<p>謂為於可為之時則從，為於不可為之時則凶，指險症也。至見點如蛇皮，如蠶種，如蚊跡，如瘙斑，如湯泡，如火刺，如青黑藍斑，或身如被杖，發斑而唇腫口臭，或鎖項，或蒙頭，或斷腰，或無根，或色粉白如枯骨，或胸高氣喘，七孔流血，或面紋如橘皮，形色不正而驚狂，並腰痛腹疼不止，可為乎？不可為乎？書謂見點吐紫黑血者不治。向有潘姓女六歲，見點兩日，夜間吐紫數升，舉家驚恐，即老醫亦因吐血而去，余詳之，非毒也，大補脾胃而痊。何者，唇舌滋潤，內無毒也。形色兩善，外無毒也。血去而神寧，血有餘也。女父素患血症，此之吐血，是子乘父余，乃熱激動，故一涌而出，非毒也。倘用犀角解毒，得無殞乎？古云：盡信書不如無書。</p>
<p>凡謂斷腰無根，必諸痘形色不善方是。苟形色圓澤，即腰腳無，又何妨哉。</p>
<p>十神解毒湯　治身熱毛焦，皮燥腮紅，額紅點紅，煩渴引飲，睡臥不寧，小便赤澀等症當歸　川芎　生地　赤芍　丹皮　紅花　連翹　木通　甘草　桔梗　燈心　蔥白　大腹皮　淡竹葉身熱壯盛，皮急肉緊，加干葛、前胡、地骨皮。</p>
<p>出不快，加山楂、大力子、蟬蛻。</p>
<p>作癢，加桂枝。</p>
<p>作痛，加防風、黃芩。</p>
<p>唇燥舌苔，加熱見愁。（備用方）</p>
<p>夾疹，下救苦丹。（備用方）</p>
<p>發紅斑，加元參、犀角，下熱見愁。</p>
<p>眼眶紅腫流淚，加柴胡、膽草、熱見愁，外用護法。</p>
<p>咳嗽，加杏仁、桑皮。</p>
<p>咽痛，加元參、射干，外行吹法。</p>
<p>黑陷疔毒，加賽春雷，外點四聖丹。（備用方）</p>
<p>失血乾嘔，加犀角、熱見愁。</p>
<p>嘔吐，加陳皮、黃連、豬苓、澤瀉。</p>
<p>溺血，加犀角、生地。</p>
<p>溺短澀，加車前、地膚子。</p>
<p>便秘，加枳殼、杏仁、蘇梗，倍當歸。</p>
<p>便黑，加犀角、桃仁、黃連。</p>
<p>腹脹喘滿，目怒而浮，毛直皮焦，加麻黃，下救苦丹。</p>
<p>秘而喘者，加千裡馬。（備用方）</p>
<p>煩滿身熱，加花粉、麥冬。調滿天秋。（備用方）</p>
<p>泄瀉，加豬苓、澤瀉。</p>
<p>譫言狂亂，加石膏、知母，調滿天秋。</p>
<p>腰痛，加羌活、獨活。</p>
<p>傷食膨脹，加楂、朴、曲芽。</p>
<p>腹痛有三：傷食，和中丸。毒攻衝，救苦丹。氣滯，加青皮、木香。</p>
<p>凡腹痛俱宜千裡馬下之，一通即已，不可過。過則毒瓦斯內作，反成他症。</p>
<p>四日五日毒瓦斯盛者，加楂、芷、筍尖。痘至四日，理該易方。若毒盛未除，何可輕易。</p>
<p>唯加人參四五分足矣，此名喚漿法。</p>
<p>凡遇熱苔，熱見愁不可缺。有下症，千裡馬不可缺。有壅遏症，救苦丹不可缺。痘欲出不出，干紫焦枯，黑陷疔毒，賽春雷不可缺。若唇舌紅赤，小便短少，身熱煩渴，痘色干紅者，滿天秋不可缺。大都凡見熱症，滿天秋乃第一要藥。</p>
<p>或曰：熱見愁、千裡馬，皆苦寒藥也，子以舌苔，用熱見愁固矣。乃所謂下症者何也。</p>
<p>曰：謂舌苔過甚耳。曰：有舌苔而作瀉可乎？曰可。通因通用，此之謂也。</p>
<p>曰：壅熱者謂何？曰：謂毒盛郁遏耳。何以驗之？曰：腹脹喘滿，目怒面浮，毛直皮枯，欲出不出，蒸蒸然煩，翕翕然熱是也。</p>
<h2>卷五</h2>
<h3>痘瘡</h3>
<h4>起脹三日訣</h4>
<p>曰起脹，是點已定，毒瓦斯盡出時也。本乎上者上之，本乎下者下之。血氣定位，毒被制服成膿矣。若白不從頂，紅不斂顆，氣血毒混而為一，元氣弱也。苟能察形色，驗唇舌，如轉柁回流，一持而正，後斷如破竹勢矣。</p>
<p>凡痘三日後，先見者先起脹，後見者後起脹，頂白根紅，如一顆明珠，坐於胭脂之上，面與目漸浮腫，鼻流涕，口角涎出，眼蒙欲開不開，順症也。即不然，兩腮間，有一二悅目起腫者，頂白根紅，亦順症也。不可妄治。</p>
<p>凡起脹時，色焦紫者，毒盛也。形大皮薄而起皺紋者，毒盛氣虛也。頂紅滿者，血滯也。滯者活之。焦者清之，氣虛毒盛，補而兼解之。但面部有一二悅目可愛，用藥當節，則枯者潤，薄者濃，而生意勃然矣。</p>
<p>方鹿村曰：明此則虛中夾毒，非逆症可知。</p>
<p>痘至五日，而內外症平，宜該起發退紅，不爾正氣虛也。方中倍加參、　。古人以此為喚漿法也。</p>
<p>起脹時諸痘未起，而有一二似膿非膿，色如黃金者，名曰賊脹痘。又四日起，大快亦非吉兆。何者？表虛毒盛也。七日後腫退倒靨，皆此之變，遇此須分虛實預防之。</p>
<p>起脹時，有一等光活可愛，嬌嫩艷觀，手揉之則破，燈照之如琉璃，此假脹也，名曰空歡喜。急救表，或可幸活，否則癢塌而死。</p>
<p>又有至五日</p>
