<header><h1>白喉全生集</h1></header>
<dl class="元資料" data-type="book">
<div><dt>作者</dt><dd>李紀方</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>年份</dt><dd><data value="1882">公元1882年</data></dd></div>
</dl>
<h2>自敘</h2>
<p>先外祖尹慎徽先生博學詩詞書畫。各臻其妙。尤精岐黃術。紀方負笈從學。而於內外科。喉科。腫證。刻志研求。二十年來。險逆諸證。一一經歷。博訪旁咨。悉心討論。竊謂深有所得。第白喉一證。世無專書。而時醫之業喉科者。於內經缺焉不講。故偶遇危殆。茫然莫解。即有一二高明。亦多狃於習見。有偏於寒者。有偏於熱者。</p>
<p>偏寒偏熱。不獨不為濟世資。且適貽為殺人刃。余心焉憫之。誦讀余暇。轍與表兄趙仲標以外祖所傳治白喉證方之屢試經驗者。纂輯白喉全生集。是書以寒熱二字為綱領。而寒熱中又分輕重虛實。其辨證辨脈。縷晰條分。而用藥用方。通權達變。</p>
<p>簡而精。約而備。使人得是書以釋疑難。非敢云良方濟世。亦足以立起沉　焉。</p>
<p><u>光緒八年壬午冬月衡山李紀方倫青氏敘於龍門山房</u></p>
<h2>凡例</h2>
<p>一白喉病熱證本多。寒證較少。而寒熱所郁。無不有毒。此時醫所以專指為疫。而用藥多偏於涼也。不知白喉少寒證。非無寒證。白喉之熱證有毒。寒證亦非無毒。時醫一偏之見。殺人無算。論中設為問答。分條詳辨。熟玩之自悟其謬。</p>
<p>一凡病必有寒熱二種。非白喉獨異也。是書以寒熱二字為綱領。而其中又分出輕重虛實。毫無一偏之弊。</p>
<p>其方又無不從親驗而來。故言之最質最切。</p>
<p>一寒熱之分。必先憑證。證既認清。復參之以脈。自無遁情矣。蓋言脈尚可含糊。而言證無可遷就也。古人以切居望聞問之後。自有深義。故是書辨證最詳。辨脈從略。</p>
<p>一是書以寒證熱證寒熱錯雜證。分三大綱。病情萬變。總不出此三者也。而三證之方。即附於後。以便尋覽。</p>
<p>一各方皆借古人成方而加減之。無一師心者。按證尋方。皆藥到病愈。切勿增損。如有兼證。則不妨變通。至寒熱錯雜證。尤不易治。故方論獨詳。</p>
<p>一治白喉之法。服藥宜慎。吹藥尤宜精。若鄉村僻壤。一時水藥不能驟得。全賴吹藥以救其急。時醫有通行吹藥。遇輕證尚可。重證無不貽誤者。是書吹藥。亦以寒證、熱證、寒熱錯雜分三大綱。按證用藥。無不立驗。</p>
<p>切不可一味增減。</p>
<p>一白喉險證壞證。牙關緊閉。痰涎上涌。有不能服藥。亦無可吹藥者。法宜先開關以掃其痰涎。甚則針刺各穴以出惡血。通經活絡。便立時清醒。再行吹藥服藥即愈矣。是書開關敷貼針刺方法。備極精詳。但當依法行之。</p>
<p>一是書雖專為白喉立法。然一切喉風、單雙乳蛾、重舌等證。總不外表、裡、寒、熱、虛、實六字。醫者臨證果能通權達變。彼此類推。無不可治之喉疾矣。</p>
<p>一是書和盤托出。不隱秘一方。不杜撰一法。醫者得之。可以立開其沉痼。病者玩之。亦不終誤於庸醫。救人之功。余不敢分。害人之罪。余當獨認。</p>
<h2>白喉證論</h2>
<p>白喉證古書未載。而時醫專目為疫證。謬矣。凡治病必先尋經絡。次察寒熱。次審虛實。三者既明。雖雜證百出。可一以貫之。如白喉證亦寒暑之不時。氣血之不調所致。非六經之外別有一病也。焉有不審寒熱虛實。而概指為疫者乎。經云。赤屬熱。白屬寒。如所言則白喉只有寒而無熱。其曰熱者。亦從證而別之耳。</p>
<p>若概指為疫。則只有熱而無寒矣。於理安在。此其弊皆由不辨證不辨脈徒聽時醫之說。以人之性命。委諸無形之斧斤。予甚惜之。誦讀之暇。因將白喉證治法。條分縷晰。以寒熱二字為綱領。而寒熱之中又分輕重虛實。庶用藥無毫厘千裡之謬。書既成。或有疑之者。曰既非疫。焉有傳染。曰氣之相感。理之常然。如傷風瘡毒之類。防身者每不與共寢食。若以傳染為疫。則傷風瘡毒。不亦可云疫乎。曰有傳染不傳染何也。曰物必先朽也。而後蟲生。其傳染者。必其人內有寒熱。始觸而發也。故有同一室而傳與不傳各異。傳者之寒與熱亦各異。曰其色白。何也。曰白屬肺。</p>
<p>凡風寒熱之中人。未有不由肺入而傷氣者。喉為氣之門戶故宜宣發。而時醫忌表藥。謬矣。曰寒熱之為病甚多。而獨發於喉何也。</p>
<p>曰十二經惟足太陽主表。別下項。余皆內循於喉。盡得而病之也。蓋陽明為水穀之海。而胃氣直透咽喉。故喉疾惟陽明之火最盛。少陽厥陰。為木火之藏。亦多熱證。少陰之脈。絡於舌本。凡陰火沖逆。多生喉疾。但其中有虛有實。不得概從火斷。而少陰尤不可概從火斷。如酒色過度。真陰中之陰虧損。火無所養。非補水以配火不可。易所謂水火既濟者是也。真陰中之陽虧損。火無所歸。非補火以引火不可。易所謂火就燥者是也。</p>
<p>此褚氏遺書所以有上病療下之說也。曰何死之速也。白喉急證。非死證也。治之不善。則死矣。如熱證投以熱藥。寒證投以寒藥。或表證而攻下。或虛證而表散。如人之無辜受戮。雖欲不死。焉得而不死。且每聞白喉之死。</p>
<p>死於熱證者少。死於寒證者多。大抵人知有熱證。而不知有寒證。即知有寒證。而不知有虛寒之證。皆誤於疫之一字也。然則予之辨之也。其容已乎。但見淺學寡。不無疏漏。尚冀高明之士。匡予不逮。則幸甚。</p>
<h2>辯證法</h2>
<p>一白點在外關者。（小舌旁邊。）多屬熱。在內關者。（小舌內。）多屬寒。</p>
<p>一熱證必腫。寒證不腫。喉內反大而空。（亦有虛腫者。其形必潤。）</p>
<p>一熱證必痛。痛無止息。（略痛者輕。痛甚者重。）寒證不甚痛。或時痛時止。</p>
<p>一熱證喝水不甚痛。吃飯則痛。寒證喝水痛。吃飯不甚痛。</p>
<p>一熱證必渴。喜喝水。（喜溫者輕。喜冷者重。少喝者輕。多喝者重。）寒證不渴。雖渴不多喝水。（喜溫者輕。喜極熱者重。）</p>
<p>一熱證不思食。亦不能食。（一由腫痛。一由不知味。）寒證能食。而不甚思食。（一由脾虛。一由脾絕。</p>
<p>一由過服寒劑。）</p>
<p>一熱證有風涎。（涎少者輕。涎多者重。宜解表。從涼散。）寒證則斷無風涎。（若風寒相兼。亦有風涎。</p>
<p>宜解表。從溫散。）</p>
<p>一熱證白點必干澀。或一邊一點。或一邊數點。大小不一。寒證白點必明潤或成點。或成塊。甚者滿喉俱白。狀如凝膏。或如霜雪。</p>
<p>一熱證白點外皆深紅色。或紅絲。（紅絲者輕。）寒證白點外皆淡紅色。或紅絲。（紅絲者輕。）</p>
<p>一熱證舌苔。或黃或黑。宜察其潤燥。燥者是實熱。宜下之。潤者是假熱。宜清之。寒證舌苔必白。或間有黑黃色。（水極似火之象。）亦宜察其潤燥。燥者寒輕。宜微溫。潤者寒重宜大溫。（鼻孔口唇。俱宜察其潤燥。但有火爍肺而鼻燥者。有肺氣絕而鼻燥者。有肺火伏而唇燥者。有胃氣不升而唇燥者。有脾氣絕而唇燥者。有傷食而唇燥者。俱宜詳察。眼目但察其畏風與否。畏火與否而已。）</p>
<p>一熱證小便必赤。赤而熱。且短數者。是實熱。宜導之。赤而不熱。且長而多者。是假熱。</p>
<p>宜清之。若清長。則的是寒證矣。</p>
<p>一熱證大便必燥。燥而腹中堅滿。欲解不能。或解如羊矢者。為實熱。宜下之。燥而不結。或先結後溏。或旬日不解。而全無脹意者。為虛熱。宜清之。若大便純溏。則的系是寒證。宜溫之。至滑泄不守。宜溫而補之。即兼有熱證亦不可妄議攻下。</p>
<p>一辨證宜相天時。度地勢。審人事。大約夏秋多熱。春冬多寒。住平陽之地者多熱。住深山冷浸之地者多寒。體強者多熱。體弱者多寒。好酒者多熱。好色者多寒。少壯者多熱。年老者多寒。雖不盡然。此其大較也。</p>
<p>一白喉無論寒熱證。如汗出似油者。不治。失音動痰氣喘者。不治。目光直視者。不治。用針無血者。不治。吹藥無涎者。不治。吹藥即刻痛止白落。過日復患者。不治。滿喉白滿喉腫者。惟熱證不治。醫者如遇此等證候。切勿輕與用藥。</p>
<h2>辨脈法</h2>
<p>熱證脈主數。浮細而數為風熱。其熱輕。宜散之。（如升陽散火湯之類。）浮洪而數。按指有力。或沉而牢實為實火。其熱重。宜下之。（如清咽利膈湯之類。）不拘浮數沉數。但按指無力。乃是假熱。宜散而兼清。（如甘桔湯之類）</p>
<p>寒證脈主緊。浮細而緊。為風寒。其寒輕。宜表散。（如荊防敗毒散之類。）沉細而弦緊。其寒重。宜溫散。（如參桂飲之類）若重按不見。為虛寒。宜溫補。（如理中湯之類。）</p>
<h2>用藥法</h2>
<p>一治白喉者。時醫各有忌藥。有忌升麻者。忌細辛者。忌麻黃者。忌白朮者。忌地黃者。並全忌表藥者。</p>
<p>種種惡習。深可慨嘆。若舍證而言藥。何藥不忌。</p>
<p>一熱證誤服寒證尚輕各方者。雖不愈。尚不死。誤服寒證漸重各方。及補方者。必死。寒證誤服熱證漸重各方者。必死。虛寒證過服表劑。或誤服下藥者。必死。寒熱二證。判若冰炭。此之不審。殺人反掌。可不慎與。</p>
<p>一表藥不過宣發內邪。使無遏抑。原不能取急效。治者不可因其無效而過服。或涼或溫。急宜轉方。</p>
<p>蓋表藥多辛竄。過服則耗散真氣。必至氣壅也。</p>
<p>一白喉服藥。與吹藥並重。蓋寒熱伏於內。非服藥不能治其本。而毒瓦斯壅於喉。非吹藥不能解其標也。若危險之證。必先吹藥。掃去痰涎。而後可以服藥。至輕證初起。則吹藥一二次即愈矣。並無庸服藥也。故吹藥尤煉之宜精。備之宜豫。</p>
<p>一白喉不無傳染。非因熱證而傳染者。即為熱證。因寒證而傳染者。即為寒證也。宜視人之秉賦強弱。氣血虛實用藥。</p>
<p>一患白喉者。必兼感雜證。若有萬難兼理者。只治白喉證。不理雜病。而雜病亦自可愈。何也。病未有不相因者也。即或白喉已愈。而雜病未愈。或白喉已愈。而雜病又生。則在醫者變而通之。神而明之。古方俱在。不能備述。</p>
<h2>白喉熱證尚輕治法</h2>
<p>（俗所謂時疫毒證者。即專指此熱證也。）</p>
<p>初起白見於外關。或薄或小。淡紅微腫。略痛。聲音響亮。牙關飲食稍礙。口乾頭悶目脹。舌苔與小便微黃。即其候也。此熱邪尚在表。治宜人參敗毒散。升陽散火湯。連翹飲加減主之。</p>
<p><u>人參敗毒散</u></p>
<p>洋參（二錢，或用條參）　防風（二錢，去蘆）　白芷（二錢）　浙貝（二錢，去心）　桔梗（三錢）</p>
<p>銀花（三錢）　僵蟲（三錢，薑汁炒）　鼠黏（三錢）　荊芥（一錢）　人中黃（一錢）　蟬蛻（七只，去頭、翅、足）　皂角刺（三根，煨）　水煎服。</p>
<p><u>升陽散火湯</u></p>
<p>柴胡（二錢，去蘆）　連翹（二錢）　僵蟲（二錢，薑汁炒）　防風（二錢，去蘆）　桔梗（三錢）</p>
<p>鼠黏（三錢）　蟬蛻（七只，去頭、翅、足）　山豆根（一錢）　射干（一錢）　薄荷（一錢）　荊芥（一錢）　人中黃（一錢）　皂角刺（三根，煨）　水煎服。</p>
<p><u>連翹飲</u></p>
<p>連翹（三錢）　桔梗（三錢）　鼠黏（三錢）　僵蟲（二錢，薑汁炒）</p>
<p>銀花（二錢）　黃芩（一錢）　人中黃（一錢）　粉葛（一錢五分）</p>
<p>赤芍（一錢五分）　薄荷（八分）　皂刺（三根）　水煎服。</p>
<h2>白喉熱證漸重治法</h2>
<p>白見於關內外。色必干焦。或黃而凸。濃而多。牙關緊閉。滿喉紅腫。疼痛異常。痰涎壅甚。飲食難咽。</p>
<p>語言不爽。舌苔深黃甚或焦黑芒刺。口渴口臭。便閉溺澀。目赤心煩。身輕惡熱。即其候也。此熱邪已入裡。治宜達原飲。普濟消毒飲。清咽利膈湯。加減主之。</p>
<p><u>達原飲</u></p>
<p>檳榔（二錢）　草果（二錢，煨）　連翹（二錢）　僵蟲（二錢，薑汁炒）</p>
<p>厚朴（一錢）　知母（一錢）　蟬蛻（七只，去頭、翅、足）</p>
<p>栝蔞殼（一錢五分）　黃芩（一錢五分）　人中黃（一錢五分）　水竹茹（一錢五分）　銀花（三錢）　水煎服。</p>
<p><u>普濟消毒散</u></p>
<p>元參（三錢）　桔梗（三錢）　連翹（三錢）　鼠黏（三錢）</p>
<p>薄荷（一錢五分）　陳皮（一錢五分）　黃芩（一錢五分）　馬勃（三分，布包煎）</p>
<p>黃連（六分）　僵蟲（二錢）　板藍根（一錢，或青黛代）　水煎服。</p>
<p><u>清咽利膈湯</u></p>
<p>芒硝（三錢）　銀花（三錢）　鼠黏（三錢）　大黃（六錢，酒炒）</p>
<p>黃連（八分）　枳實（一錢五分）　連翹（一錢五分）　梔子（一錢五分）</p>
<p>薄荷（一錢五分）　僵蟲（二錢，薑汁炒）　人中黃（二錢）　厚朴（一錢）　生石膏（三錢）　水煎服。</p>
<h2>白喉寒證尚輕治法</h2>
<p>初起白見於關內或關外。色必明潤而平。滿喉淡紅。微腫略痛。頭痛惡寒發熱。飲食如常。舌苔白。二便和。即其候也。此寒邪尚在表。治宜柴胡飲。參艾飲。荊防敗毒散加減主之。</p>
<p><u>柴胡飲</u></p>
<p>柴胡（二錢，去蘆）　羌活（二錢）　法夏（二錢，薑汁炒抖）　僵蟲（二錢，薑汁炒）</p>
<p>桔梗（一錢五分）　銀花（一錢五分）　蟬蛻（七只，去頭、翅、足）</p>
<p>厚朴（五分，薑汁炒）　陳皮（一錢）　粉草（一錢）　生薑（三片）　水煎服。</p>
<p><u>參艾飲</u></p>
<p>條參（四錢）　前胡（二錢）　法夏（二錢，薑汁炒抖）　僵蟲（二錢，薑汁炒）</p>
<p>桔梗（三錢）　銀花（三錢）　陳皮（一錢）　枳殼（一錢）　粉草（一錢）　艾葉（三皮）　水煎服。</p>
<p><u>荊防敗毒散</u></p>
<p>防風（三錢，去蘆）　柴胡（二錢，去蘆）　僵蟲（二錢，薑汁炒）　法夏（二錢，薑汁炒抖）</p>
<p>桔梗（二錢）　前胡（二錢）　獨活（二錢）　荊芥（一錢五分）　羌活（一錢五分）　銀花（一錢五分）　枳殼（一錢）　粉草（一錢）　生薑（三片）　水煎服。</p>
<h2>白喉寒證漸重治法</h2>
<p>白見於關內。成點成塊。或滿喉俱白。色如凝膏。喉內淡紅微腫。時痛時止。頭項強痛。身重。惡寒發熱。咳嗽結胸。聲低痰壅。舌苔必白而濃。不思飲食。目眩。倦臥。或手足冷。逆欲吐。腹痛。即其候也。此寒邪已入裡。治宜五積散。參桂飲。溫胃湯。加減主之。</p>
<p><u>五積散</u></p>
<p>蒼朮（二錢）　白芷（二錢）　法夏（二錢，薑汁炒抖）　桔梗（二錢）</p>
<p>川芎（二錢）　銀花（一錢五分）　僵蟲（一錢五分，薑汁炒）</p>
<p>厚朴（一錢，薑汁炒）　枳殼（一錢）　粉草（一錢）　煨薑（三片）　水煎服。</p>
<p><u>參桂飲</u></p>
<p>條參（五錢）　銀花（二錢）　法夏（二錢，薑汁炒抖）　僵蟲（二錢，薑汁炒）</p>
<p>肉桂（五分，去皮）　陳皮（一錢）　砂仁（一錢，薑汁炒）　粉草（一錢）　生薑（三片）　水煎服。</p>
<p><u>溫胃湯</u></p>
<p>條參（五錢）　銀花（三錢）　法夏（三錢，薑汁炒抖）　僵蟲（三錢，薑汁炒）</p>
<p>炮薑（一錢五分，炒）　白芍（一錢五分）　本制附片（三錢）　陳皮（一錢）　粉草（一錢）　水煎服。</p>
<h2>白喉虛熱證治法</h2>
<p>白見於關內外。色稍不潤。喉內紅腫。下午痛甚口乾不渴。舌苔雖黃而滑。小便略赤而長。飲食稍礙。心煩不眠。此虛陽上浮。不可認作實熱攻下。治宜甘桔湯。四物湯。甘露飲。加減主之。</p>
<p><u>甘桔湯</u></p>
<p>甘草（三錢）　桔梗（四錢）　銀花（一錢五分）　麥冬（二錢，去心）</p>
<p>僵蟲（二錢，薑汁炒）　鼠黏（二錢）　冬桑葉（三皮）　水煎服。</p>
<p><u>四物湯</u></p>
<p>生地黃（三錢）　僵蟲（二錢，薑汁炒）　川芎（二錢）　白芍（一錢五分）</p>
<p>銀花（一錢五分）　當歸（一錢）　粉草（一錢）　青果（一粒）　水煎服。</p>
<p><u>甘露飲</u></p>
<p>生地黃（四錢）　熟地（三錢）　麥冬（三錢，去心）　僵蟲（二錢，薑汁炒）</p>
<p>銀花（一錢五分）　天冬（一錢五分）　石斛（一錢）　枳殼（一錢）　粉草（一錢）　水煎服。</p>
<h2>白喉虛寒證治法</h2>
<p>白見於關內。色明潤成塊。甚或凹下。不紅不腫。不甚疼痛。飲食稍礙。舌苔滑白。二便如常。或自溏瀉。間或寒熱往來。兩顴作紅。嘴唇燥裂。此上假熱下真寒證也。宜治理中湯。</p>
<p>鎮陰煎。附桂理陰煎。加減主之。</p>
<p><u>理中湯</u></p>
<p>黨參（五錢）　淮藥（四錢，炒）　僵蟲（二錢，薑汁炒）　炮薑（二錢）　銀花（二錢）　炙草（一錢）　水煎服</p>
<p><u>鎮陰煎</u></p>
<p>熟地黃（四錢）　澤泄（五錢）　淮牛膝（五分，鹽水炒）　本制附片（三錢）</p>
<p>僵蟲（二錢）　銀花（一錢五分）　肉桂（四分，去粗皮蒸兌）　炙草（一錢）　煨薑（一片）　水煎服。</p>
<p><u>附桂理陰煎</u></p>
<p>熟地（四錢）　僵蟲（二錢）　本制附片（三錢）　炮薑（一錢五分，炒）</p>
<p>銀花（一錢五分）　當歸（一錢）　炙草（一錢）　肉桂（八分，去粗皮蒸兌）　水煎服。</p>
<h2>白喉寒熱錯雜證治法</h2>
<p>寒熱二證既明。復有一種寒熱錯雜證。宜細詳之。初起畏寒微熱。疲倦。咳嗽。迨至數日。熱愈大。夜間尤甚。喉內漸起白點。日見長大。雖通身大熱如火。足趾必冷如冰。或腹痛自利。陰寒犯足太陰牌也。或心胸吵亂作嘔者。</p>
<p>混雜之邪。擾於脾胃欲成霍亂也。或鼻出濁涕。且見血絲者。風熱熏蒸鼻竅也。或齒牙紅腫出血。火毒熾於胃腑也。</p>
<p>此證之迥乎不同也。察其脈兩寸浮洪而數。陽邪見陽脈也。兩尺沉細無神。陰邪見陰脈也。此脈之顯然有別也。脈證既殊。治療各異。若專作熱證。而用大苦大寒。必至嘔吐瀉痢。而脾胃敗絕。專作寒證而用麻黃炮薑桂附。則上焦之已傷者再傷。定然吐血衄血。此皆難以救藥也。惟疏風清燥以宣於上。調中利濕以和其中。溫暖散邪以逐於下。乃克有濟。</p>
<p>治宜辛夷散。蘇子降氣湯。藿香正氣散。加減主之。</p>
<p><u>辛夷散</u></p>
<p>辛夷（二粒）　桔梗（三錢）　防風（三錢，去蘆）　茯苓（三錢）</p>
<p>僵蟲（三錢）　前胡（一錢五分）　法夏（二錢，薑汁炒抖）　蟬蛻（九只，去頭、翅、足）</p>
<p>白芷（二錢）　川芎（二錢）　黃栗芽（八分，草藥店有賣）　薄荷（五分）　陳茶（五錢）　蒼耳（四分）　木通（一錢）　陳皮（一錢）　粉草（一錢）　生薑（一片）　水煎服。</p>
<p>此方辛夷一派。皆驅風開竅以宣發於上。合二陳生薑除痰去濕。以調和脾胃於中。陳茶能清頭面之熱。木通能平心肺之火。以降於下。黃栗芽尤解燥熱之瘴氣。無論喉之已痛未痛。但見脈證相似即投此方。未痛者全愈。已痛者減半。如頭面浮腫去白芷加白附。胸結痰鳴氣促。去白芷加旋覆花。小便赤澀。加茵陳、瞿麥、扁蓄。鼻孔出血或吐血。加絲茅根、藕節、側柏葉炭。</p>
<p><u>蘇子降氣湯</u></p>
<p>當歸（二錢）　前胡（二錢）　法夏（二錢，薑汁炒）　茯苓（三錢）　僵蟲（三錢）　陳皮（一錢）</p>
<p>水竹茹（一錢）　厚朴（一錢，薑汁炒）　蘇子（一錢）　粉草（一錢）　蟬蛻（九只，去頭、翅、足）　肉桂（五分，去皮蒸兌）　生薑（三片）　水煎服。</p>
<p>投前方。脈必見下虛上實。再用此方。連進二三服。取歸桂以溫養下元。蘇子降逆氣以化痰。如頸項喉內腫痛未除。肺氣不降。加葶藶子、旋覆花、栝蔞、杏仁之類。</p>
<p><u>藿香正氣散</u></p>
<p>黨參（五錢）　苡仁（四錢，炒）　陳米（一小杯，炒）　茯苓（三錢）</p>
<p>扁豆（三錢）　藿梗（二錢）　法夏（二錢，薑汁炒抖）　前胡（二錢）　蘇子（一錢）　陳皮（一錢）　厚朴（一錢，薑汁炒）　腹毛（一錢）　粉草（一錢）　生薑（三片）　水煎服。</p>
<p>投前二方。病勢雖退。必飲食減少。腹中脹滯微痛。或余熱不退。或大便溏瀉。小便赤短。此脾胃困乏。</p>
<p>余邪滯澀。斯時再逐其邪。正氣益虛。欲補其正。邪氣未淨。宜此方以和解。既和之後。審察脈證偏盛之處。以調其氣血。使精氣神三者充。自然困倦起病根除矣。</p>
<h2>續方</h2>
<p>一　邪熱既盛。而真陽復虛之候。欲下之而恐亡陽。欲不下而邪熱復熾。法宜附子瀉心湯。寒熱並用。斯為有制之兵。</p>
<p><u>附子瀉心湯</u></p>
<p>大黃（四錢，酒炒）　黃連（六分）　本制附片（三錢）　僵蟲（二錢，薑汁炒）</p>
<p>桔梗（二錢）　銀花（二錢）　黃芩（一錢五分）　生薑（三片）　水煎服。</p>
<h2>白喉誤治壞證治法</h2>
<p>一　熱證尚輕。誤服大黃黃連而病愈加者。宜轉服人參敗毒散加升麻。（恐邪陷下而不得出。或因藥傷胃。</p>
<p>則必用術附。）寒證尚輕誤服薑附而見燥證者。用黃土湯、豆粉散解之。再察何證。斟酌用方。若系虛寒。</p>
<p>誤服芒硝大黃者。其證與實熱相似。舌或黃而黑。唇或紅而干。但潤而不燥。非附桂理陰煎鎮陰煎不治。</p>
<p><u>人參敗毒散</u></p>
<p>　見上。</p>
<p><u>黃土湯</u></p>
<p>　取三尺深黃土泉水煎服。</p>
<p><u>豆粉散</u></p>
<p>　綠豆一杯。研末泡服。</p>
<p>附桂理陰煎　鎮陰煎（俱見上）</p>
<h2>白喉愈後補虛治法</h2>
<p>白喉為肺之本色。肺主表。病起先由肺入。治之者既服表藥以宣發之。復吹片麝以竄散之。而肺氣愈傷。故病後補虛之法。不可不講也。且肺止太陰一經也。如熱證由陽明胃火盛者。治必瀉以苦寒。而不免傷夫陽。</p>
<p>寒證由少陰命火衰者。</p>
<p>治必扶以辛燥。而不免傷夫陰。各經之為病皆然。當視其所傷。從而補之。但人之體氣各殊。有偏於陽而陰不足者。宜補陰以兼清。而辛躁之類不可用。有偏於陰而陽不足者。宜補陽以兼溫。而清潤之品非所宜。又有陰陽俱不足者宜平補之。而辛燥清潤不可偏。故用藥既察其病源。又審其本體。方不犯虛虛之戒。迨至病者邪氣既去。元氣又復。而醫始可告無罪焉。臚列諸方於下。</p>
<p><u>加減四陰煎</u></p>
<p>（熱證）</p>
<p>條參（五錢）　淮藥（六錢，炒）　僵蟲（二錢，薑汁炒）　云神（三錢）　生地黃（三錢）白芍（一錢五分）　麥冬（一錢五分，去心）　銀花（一錢）　陳皮（一錢）　粉草（一錢）　水煎服。</p>
<p><u>加減固金湯</u></p>
<p>條參（六錢）　淮藥（八錢，炒）　麥冬（一錢五分，去心）　茯苓（三錢）</p>
<p>百合（三錢）　苡仁（四錢，炒）　浙貝（二錢，去心。薑汁炒）　粉草（一錢）　紅棗（三粒）　水煎服。</p>
<p><u>六味地黃湯</u></p>
<p>熟地（五錢）　淮藥（八錢，炒）　僵蟲（一錢五分，薑汁炒）　雲苓（三錢）　丹皮（一錢，去骨）　澤泄（一錢，鹽水炒）　麥冬（一錢，去心）　炙草（一錢）　泡圓（三粒）　水煎服。</p>
<p><u>歸芍六君湯</u></p>
<p>（寒證）</p>
<p>黨參（五錢）　白朮（三錢）　白芍（三錢）　云神（三錢）　法夏（二錢）　當歸（一錢五分）　僵蟲（一錢五分，薑汁炒）　陳皮（一錢）　銀花（一錢）　炙草（一錢）　煨薑（三片）　水煎服。</p>
<p><u>加減益氣湯</u></p>
<p>黃　（三錢）　白朮（三錢）　僵蟲（一錢五分，薑汁炒）</p>
<p>銀花（一錢五分）　黨參（五錢）　當歸（一錢）　陳皮（一錢）　炙草（一錢）　煨薑（三片）　水煎服。</p>
<p><u>加減右歸飲</u></p>
<p>熟地（五錢）　淮藥（六錢，炒）　本制附片（三錢）　杜仲（一錢，鹽水炒）</p>
<p>枸杞（一錢）　炙草（一錢）　肉桂（五分，去皮蒸兌）　泡圓（三粒）　水煎服。或加參朮。</p>
<h2>婦人白喉證</h2>
<p>治法皆同。惟孕婦所吹之藥。須去片麝。所服之藥。如法夏、南星、附片、肉桂、大黃、芒硝、牛膝、厚朴等藥。皆能墮胎。若證稍輕。或認證未確。切戒妄用。如實系虛寒危險之證。必須附、桂。方可回將脫之元陽。實系壯熱危險之證。必須硝、黃。方可救欲絕之真陰。則不妨放膽用之。有病病受。於胎仍無傷也。但宜中病即止。不可過劑。經云毒藥治病。十去六七。此之謂也。</p>
<h2>小兒白喉證</h2>
<p>治法皆同。惟小兒為啞科。凡有發熱咳嗽。口流涎沫。飲乳便哭者。必須看喉嚨有無形跡。倘喉內紅腫。發有白點。如法施治。但血骨未充。服藥之分兩。宜視年歲之大小。體氣之強弱。而酌減之。然小兒好哭。難於吹藥。輕證即可以服藥而愈。其有危險重證。仍須吹藥。不可畏其啼哭而不用也。</p>
<h2>白喉熱證吹藥</h2>
<p>（此方不獨白喉可治。即風熱喉症。以及齒痛舌泡諸病。無不神效。惟熊膽牛黃麝香三味。</p>
<p>真品既少。價值又昂。難於制備。現下另有增減一方。附刻本集之後。功效如神。）</p>
<p><u>離宮回生丹</u></p>
<p>　治熱證白喉及乳蛾喉風等證。</p>
<p>熊膽（二錢，如濕潤於銀窩子內微火焙乾）　西洋參（二錢）　黃連（六分）　山慈菇（一錢）</p>
<p>硼砂（二錢）　人中黃（一錢）　兒茶（五分）　真麝香（三分）</p>
<p>青黛（五分）　大梅片（一錢）　薄荷（七分）　真牛黃（一錢）</p>
<p>除熊膽牛黃片麝外。共研極細末。過絹篩。合熊膽牛黃片麝再乳精細。瓷瓶收貯。臘封固瓶口。勿使泄氣。</p>
<p>臨時計每次以三厘。對參艮宮除害丹三厘。用銅風鼓吹入白處。含噙片時。使毒瓦斯隨風涎吐出。便立刻回生。</p>
<h2>白喉寒證吹藥</h2>
<p><u>坎宮回生丹</u></p>
<p>　治喉證白喉及乳蛾喉風等證。</p>
<p>真血竭（一錢）　細辛（一分）　真雄精（二錢）　牙皂（二分）　大梅片（四分）　硼砂（一錢）真麝香（六分）　鬱金（一錢）　生附片（一錢，密炙極焦枯）</p>
<p>除片麝外。共研極細末。過絹篩。合片麝再乳精細。瓷瓶收貯。臘封固瓶口。勿使泄氣。臨時計每次以三厘對參艮宮除害丹一厘。用銅風鼓吹入白處。含噙片時。使毒瓦斯隨風涎吐出。便立刻回生。</p>
<p><u>艮宮除害丹</u></p>
<p>　專治一切白喉證。</p>
<p>真珍珠（三錢，放水豆腐上蒸三尺香久）　地虱婆（二厘，放銀窩內微火焙焦）　真瑪瑙（三錢，入砂罐內火焙七尺香久）　手指甲（五分，瓦焙焦）　真珊瑚（三錢，入砂罐內火焙七尺香久）　馬勃（三厘）</p>
<p>真琥珀（三錢）　蚯蚓（六分，瓦焙枯）　真辰砂（三錢，水飛）　蠶繭（七只，燒灰存性）　真麝香（五分）大梅片（六分）</p>
<p>共研極細末。過絹篩。再乳精。瓷瓶收貯。臘封固瓶口。勿使泄氣。便寒熱證臨時對用。</p>
<h2>白喉寒熱錯雜證吹藥</h2>
<p><u>三仙丹</u></p>
<p>　即離宮回生丹（一分）　坎宮回生丹（一分）　艮宮除害丹（五厘）　臨時和勻。</p>
<p>吹法照前。吹完再依分兩對用。</p>
<h2>白喉雜治通用方</h2>
<p><u>開關立效散</u></p>
<p>　治一切白喉牙關緊閉。湯水難入等證。</p>
<p>真雄精（一錢）　細辛（一分）　真牛黃（一錢）　牙皂（二分）</p>
<p>真麝香（四分）　薄荷（六分，去梗）　大梅片（五分）</p>
<p>除麝片牛黃外。共研極細末。過絹篩。合麝片牛黃再乳精細。瓷瓶收貯。蠟封固瓶口。勿使泄氣。臨時以三四厘吹兩腮內。或以少許吹鼻孔。立刻開竊。</p>
<p><u>掃涎立效丹</u></p>
<p>　治一切白喉風涎壅滯急證。</p>
<p>巴豆（去殼取淨肉三粒）　明礬（二錢）　合巴豆炒枯為度。去巴豆取礬。乳細末。瓷瓶收貯。遇風涎壅滯。用少許溫水泡透。新筆醮水。塗掃喉內。使風涎吐出。然後吹藥。則取效更捷。掃後用二次米泔水漱口。</p>
<p><u>提毒異功散</u></p>
<p>　治一切白喉急證真血竭（六分）　斑蝥（四錢）　大梅片（三分）　制乳香（六分，去淨油）</p>
<p>全蠍（六分）　麝香（三分）　制沒藥（六分，去淨油）　元參（六分）</p>
<p>斑螫去頭翅足。糯米拌炒。以米色微黃為度。炒後去米。除麝片外。共研細末。過絹篩。再合麝片乳細瓷瓶收貯。遇一切喉證。將隨用膏藥開攤。以此散放膏藥中心。貼頸項。須對喉內腫處。左腫貼左。右腫貼右。左右俱腫。兩邊皆貼。閱五六時。揭去膏藥。</p>
<p>貼處必起水泡。用針刺破。揩淨毒水。即能消腫止痛。亦救急法也。</p>
<p><u>平險如意散</u></p>
<p>　治一切白喉內外俱腫急證。</p>
<p>赤小豆（四錢）　大黃（四錢）　芙蓉葉（四錢）　蚊蛤（三錢）　四季蔥（三根）　鼠黏（三錢）　燕子窩泥（五錢）</p>
<p>共研細未。將四季蔥抖汁。以陳茶水白酒各半。共調和炒微熱。敷頸項。</p>
<p>拔毒外出。消腫止痛。</p>
<p><u>引龍歸海散</u></p>
<p>　治寒證白喉急證。</p>
<p>本制附片（五錢）　吳萸（三錢）</p>
<p>共研細末。白酒調作二餅。貼兩足心涌泉穴。若天氣寒。用火微烘。庶無根之火浮越於上。得此引之而自降。亦以類相求之法也。</p>
<h2>白喉針穴經絡法</h2>
<p>頰車穴。在耳下八分。屬足陽陰胃經。</p>
<p>少商穴。第一手指內甲角。屬手太陰肺經。</p>
<p>商陽穴。第二手指外甲角。屬手陽有大腸經。</p>
<p>中衝穴。第三手指中甲角。屬手厥陽心包絡經。</p>
<p>關衝穴。第四手指內甲角。屬手少陽三焦經。</p>
<p>少衝穴。第五手指內甲角。屬手少陰心經。</p>
<p>凡此六穴。應病行針。穴處俱離指甲一韭菜葉寬。如病者畏針穴之多。只針少商一穴。亦立起沉　。</p>
<p>宜針出惡血為妙。無血者不治。再用生薑擦針口。布條包裹。以避風襲入針口。</p>
<p>三方　銀針式太陰肺經在大指內側。去甲角一韭葉。</p>
<p><a href="_files/p05-c30a1.bmp">圖</a></p>
<p>在中指端去甲角一韭葉。系厥陰心包經。</p>
<p><a href="_files/p05-c30a2.bmp">圖</a></p>
<p>在小指甲內側去甲角一韭葉。系少陰心經。</p>
<p><a href="_files/p05-c30a3.bmp">圖</a></p>
<p>在二指內側。去甲角一韭葉。系陽明胃經。</p>
<p><a href="_files/p05-c30a4.bmp">圖</a></p>
<p>在四指外側去甲角一韭葉。系少陽三焦經。</p>
<p><a href="_files/p05-c30a5.bmp">圖</a></p>
<p>人有大小長短不同。以同身寸尺取之。人長則寸長。人短則寸短。老幼男婦皆然。取法男左女右。屈中指以草量中節屈紋為準。</p>
<p><a href="_files/p05-c30a6.bmp">圖</a></p>
<p>頰車在耳下。同身寸八分。曲頰端近前陷中。開口有空。即是穴。系陽明胃經。</p>
<h2>附錄</h2>
<p>一謝　城明經有二孫。俱患白喉。季孫已死矣。長孫在危急間。醫總用攻利解毒清潤諸劑。不效。余用荊防敗毒散。</p>
<p>重用羌活以散表邪而始效。繼以參桂飲而夏效。適余他出。前醫復用元麥地芍之類。喉內加生兩蛾。蛾上見白點。</p>
<p>又內關復起白塊兩條。鼻塞出血。痰壅。兩顴通紅。右寸關脈浮數而散大。左緩弱。而兩尺微。此皆為腎中陰寒所逼。龍雷之火上乘也。若再清涼。則愈滋陰寒。寒愈盛而火愈升。腎臟幾希之火。其為陰寒所滅甚速耳。故少陰臟中。重在真陽。陽不回則邪不去。余以人參君主之藥保元。肉桂辛溫補火。入坎宮之命穴。但中宮為寒涼久困。更入炮薑溫中以助健行。少加柴胡以提外陷之邪。鼠黏僵蟲利咽消核。果服一劑而平。但內關白塊未退。痰與火未降。繼以參桂薑砂溫補中下。南星法夏以消痰飲。鼠黏利咽。更入蔥汁以通陽氣。真火既歸於中。而陰凝之毒自解。後以術薑桂以收全功。</p>
<p>一楊君鈞和有女三。長與季俱患白喉證斃。而仲女又患此證。延余往視。白塊將滿。不甚疼痛。此虛寒證也。服理中湯。吹坎宮回生丹而愈。後其家傳染者二。一服參艾飲。吹坎宮回生丹。一服清咽利膈湯。吹離宮回生丹而皆愈。傳染者雖一病源。而體氣寒熱攸分。所以又不可拘方也。</p>
<p>一湘潭胡君筠棠之子。小舌旁邊一點白。痛甚。脈浮數而細。此病尚在表也。余用人參敗毒散。其家恐藥之太輕也。別請醫。以大承氣東加豆根元參二劑而病劇。既又延余轉用荊防敗毒散。三劑全愈。此輕證而用重劑之一戒也。</p>
<p>一湘潭馬丈益卿六十余得一子。視若掌珠。凡食之稍寒者。必禁勿與。忽患白喉。色焦黃痛甚。余知其有積熱也。用清咽利膈湯。其家嫌藥之苦寒。堅不與服。余因辭去。後醫迎其意。以人參　朮歸地薑桂。其病轉劇。次日聲嘶鼻血氣喘。不三日而斃。此實熱必用寒劑之一法也。</p>
<p>一常寧總戎周定安夫人病數日矣。雜證多端。尚不知為白喉。因不甚痛故也。一日偶言喉痛。延余往治。視內關白塊兩條。色如凝膏。其家懼甚。余曰。幸而未服涼劑也。猶可以治。吹坎宮回生丹。服參桂飲二劑。白塊減半。繼以溫胃湯。不數劑而全愈。此寒證必用溫劑之一法也。</p>
<p>一長沙清軍府李蘭生都轉夫人忽患喉痛。發熱惡寒頭悶。心煩口渴。便澀鼻出血絲。延余往醫。見內關白塊兩條。色焦黃。腫痛異常。湯水難咽。舌苔邊白中黃。診右寸洪大。而左關浮數。</p>
<p>此足厥陰手太陰風火上衝而成也。余初用人參敗毒散。吹離宮回生丹。腫痛俱減。次用四物甘桔湯。白塊退。</p>
<p>諸證悉除。後用六味地黃東加栝蔞殼絲茅根而全愈。</p>
<p>一長沙陳漢仙茂才喉痛數日。醫用清潤解毒諸劑而病愈劇。發熱惡寒。痰涎上涌。聲如拽鋸。小便不通。湯水不能下咽。已二日余矣。其家視變證蜂起。愴皇懼甚。延余往治。視喉內淡紅微腫。內關白點已陷。舌苔白。</p>
<p>兩手脈弦而緊。誤以清涼凝閉風寒。阻滯經絡。余用坎宮回生丹。合開關立效散。連吹二三次。立刻上下交通。</p>
<p>飲食即進。隨以柴胡飲提已陷之邪。不數劑諸證悉除。後以加減六君子湯十劑而全愈。</p>
<p>一善化沈筱嵐孝廉。大舌邊起白泡數顆。醫用元麥赤芍竹葉之類。連進三劑。一宵忽痰涎上涌。精神疲倦。</p>
<p>惡寒發熱。胸結。飲食不能下咽。延余往治。診兩寸浮弦。右關沉緊。喉內白塊已滿。色如霜雪。痰涎稠黏不斷。</p>
<p>此風寒在表。未經宣發。誤以寒涼迭進。變成壞證也。余用荊防敗毒散以驅表邪。吹坎宮回生丹以祛惡毒。次日白塊退淨。而胸膈為風痰阻隔。食入少頃即吐。</p>
<p>不能直達中下二焦。證類關格。其家懼甚。復巫醫雜投。百計罔效。余細察脈證。猶屬風痰之毒阻隔。與喉無干。遂用拔毒及引龍歸海之法。始兩耳頸項稍發紅疹。再用艾葉皂角白酒炒熱。布包熨之。隨熨隨發。遍體紅疹無間。</p>
<p>其家以為變證。懼之尤甚。余曰此佳兆也。必欲提毒表出。始能開其阻隔。次日果胸膈豁然。飲食即進。隨以人參敗毒散再提表以托毒。繼以人參君主之藥保元。鼠黏僵蟲利咽。法夏陳皮以消痰飲。銀花蟬蛻以清余毒。不數劑諸證悉除。後用六君八珍以收全功。此風寒表證。必須宣發。不可輒用清涼之一戒也。</p>
<h2>附治單雙乳蛾神效吹藥方</h2>
<p><u>紫砂散</u></p>
<p>明月石即硼炒（一兩）　淨牙硝（五分）　當門子（一分）　紫荊皮（五分）　大梅片（五分）　飛朱砂（五分）</p>
<p>共研細末。瓷瓶封固。遇症吹之。孕婦忌用。</p>
<h2>附原定增減白喉熱證吹藥方</h2>
<p>西洋參（二錢）　大梅片（一錢）　云連（一錢五分）　山慈菇（一錢）　元明粉（六分）</p>
<p>硼砂（三錢）　人中黃（一錢）　西洋參葉（八分，去梗）　薄荷（七分）　塊兒茶（五分）　建青黛（五分）</p>
<p>上藥除梅片青黛元明粉外。共研極細末。過絹篩。再合梅片青黛。元明粉。</p>
<p>同KT　精細。瓷瓶收貯。黃蠟封固瓶口。勿使泄氣。用法同前。</p>
