<header><h1>傅青主女科</h1></header>
<dl class="元資料" data-type="book">
<div><dt>作者</dt><dd>傅山</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
</dl>
<p>傅青主女科
陽曲傅山青主手著</p>
<p>　上卷（共三十八條、三十九症、四十一方）<br>
　　帶下<br>
　　　白帶完帶湯<br>
　　　青帶加減逍遙散<br>
　　　黃帶易黃湯<br>
　　　黑帶利火湯<br>
　　　赤帶清肝止淋湯<br>
　　血崩<br>
　　　昏暗固本止崩湯<br>
　　　年老血崩加減當歸補血湯<br>
　　　少婦血崩固氣散<br>
　　　交感血出引精止血湯<br>
　　　鬱結血崩平肝開鬱止血湯<br>
　　　閃跌血崩逐瘀止血湯<br>
　　　血海太熱血崩清海丸<br>
　　鬼胎<br>
　　　婦人鬼胎蕩鬼湯、紅花霹靂散<br>
　　　室女鬼胎蕩邪散、調正湯<br>
　　調經<br>
　　　經水先期水火太旺清經散、火旺水虧兩地湯<br>
　　　經水後期溫經攝血湯<br>
　　　經水前後無定期定經湯<br>
　　　經水數月一行助仙丹<br>
　　　年老經水復行安老湯<br>
　　　經水忽來忽斷時疼時止加味四物湯<br>
　　　經水未來腹先疼宣鬱通經湯<br>
　　　行經後小腹疼痛調肝湯<br>
　　　經前腹疼吐血順經湯<br>
　　　經水將來臍下先疼痛溫臍化溼湯<br>
　　　經水過多加減四物湯<br>
　　　經前先洩水健固湯<br>
　　　經前大便血順經兩安湯<br>
　　　年未老經水斷益經湯<br>
　　種子<br>
　　　身瘦不孕養精種玉湯<br>
　　　胸滿不思食不孕并提湯<br>
　　　下部冰冷不受孕溫胞飲<br>
　　　胸滿少食不受孕溫土毓麟湯<br>
　　　少腹急迫不受孕寬帶湯<br>
　　　嫉妒不孕開鬱種玉湯<br>
　　　肥胖不受孕加味補中益氣湯<br>
　　　骨蒸夜熱不受孕清骨滋腎湯<br>
　　　腰酸腹脹不受孕升帶湯<br>
　　　便澀腹脹足浮腫不受孕化水種子湯<br>
　下卷（共三十九條、四十一症、四十二方、二法）<br>
　　妊娠<br>
　　　惡阻順肝益氣湯<br>
　　　浮腫加減補中益氣湯<br>
　　　少腹疼安奠二天湯<br>
　　　口乾咽疼潤燥安胎湯<br>
　　　吐瀉腹疼援土固胎湯<br>
　　　子懸脅疼解鬱湯<br>
　　　跌損救損安胎湯<br>
　　　胎漏助氣補漏湯<br>
　　　子鳴扶氣止啼湯<br>
　　　腰腹疼渴汗燥狂即子狂息焚安胎湯<br>
　　　中惡消惡安胎湯<br>
　　　多怒墜胎利氣洩火湯<br>
　　小產<br>
　　　行房不慎固氣填精湯<br>
　　　跌閃理氣散瘀湯<br>
　　　大便乾結加減四物湯<br>
　　　畏寒腹疼黃耆補氣湯<br>
　　　大怒引氣歸血湯<br>
　　難產<br>
　　　血虛送子丹<br>
　　　交骨不開降子湯<br>
　　　腳手先下轉天湯<br>
　　　氣逆舒氣湯<br>
　　　子死產門救母湯<br>
　　　子死腹中療兒散<br>
　　正產<br>
　　　胞衣不下送胞湯、補中益氣湯<br>
　　　氣虛血暈補氣解暈湯<br>
　　　血暈不語刺眉心穴法、獨參湯、當歸補血湯<br>
　　　敗血攻心暈安心湯<br>
　　　腸下補氣升腸湯、萆麻仁提法<br>
　　產後<br>
　　　少腹疼血瘀散結定瘀湯、血虛腸寧湯<br>
　　　氣喘救脫活母湯<br>
　　　惡寒身顫十全大補湯<br>
　　　惡心嘔吐溫腎止嘔湯<br>
　　　血崩救敗求生湯<br>
　　　手傷胞胎淋漓不止完胞湯<br>
　　　四肢浮腫轉氣湯<br>
　　　肉線出兩收湯<br>
　　　肝痿收膜湯<br>
　　　氣血兩虛乳汁不下通乳丹<br>
　　　鬱結乳汁不通通肝生乳湯</p>
<h1>上卷</h1>
<h2>白帶下一</h2>
<p>夫帶下俱是溼症，而以帶名者，因帶脈不能約束，而有此病，故以名之，
蓋帶脈通於任督，任督病而帶脈始病，帶脈者，所以約束胞胎之糸也，
帶脈無力則難以提繫，必然胎胞不固，故曰，帶弱則胎易墜，帶傷則胎不牢，
然而帶脈之傷，非獨跌閃挫氣已也，或行房而放縱，或飲酒而顛狂，雖無疼痛之苦，
而有暗耗之害，則氣不能化經水，而反變為帶病矣，故病帶者，
惟尼僧寡婦出嫁之女多有之，而在室女則少也，況加以脾氣之虛，肝氣之鬱，
溼氣之侵，熱氣之逼，安得不成帶下之病哉，故婦人有終年累月，下流白物，
如涕如唾，不能禁止，甚則臭穢者，所謂白帶也，夫白帶乃溼盛而火衰，
肝鬱而氣弱，則脾土受傷，溼土之氣下陷，是以脾精不守，不能化榮血以為經水，
反變成白滑之物，由陰門直下，欲自禁而不可得也，治法宜大補脾胃之氣，
稍佐以舒肝之品，使風木不閉塞於地中，則地氣自升騰於天上，脾氣健而溼氣消，
自無白帶之患矣
方用完帶湯。</p>
<p>婦科一門最屬難治，不難於用方，難於辨症也，五帶症辨之極明，立方極善，
倘用之不效者，必其人經水不調，須於調經種子二門，參酌治之，無不見效，
即如知白帶症，倘服藥不效，其人必經水過期，少腹急迫，宜服寬帶湯，餘宜類參，
方見二十三。
白朮（一兩土炒），山藥（一兩炒），人參（二錢），白芍（五錢酒炒），
車前子（三錢酒炒），蒼朮（三錢製），甘草（一錢），陳皮（五分），
黑芥穗（五分），柴胡（六分）
水煎服，二劑輕，四劑止，六劑則白帶全愈，此方脾胃肝三經同治之法，
寓補於散之中，寄消於升之內，開提肝木之氣，則肝血不燥，何至下剋脾土，
補益脾土之元，則脾氣不溼，何難分消水氣，至於補脾而兼以補胃者，
由裏以及表也，脾非胃氣之強，則脾之弱不能旺，是補胃正所以補脾爾。</p>
<h2>青帶下二</h2>
<p>婦人有帶下而色青者，甚則綠如菉豆汁，稠粘不斷，其氣腥臭，所謂青帶也，
夫青帶乃肝經之溼熱，肝屬木，木色屬青，帶下流如菉豆汁，明明是肝木之病矣，
但肝木最喜水潤，溼亦水之積，似溼非肝木之所惡，何以竟成青帶之症，
不知水為肝木之所喜，而溼實肝木之所惡，以溼為土之氣故也，以所惡者，
合之所喜，必有違者矣，肝之性既違，則肝之氣必逆，氣欲上升，而溼欲下降，
兩相牽掣，以停住於中焦之間，而走於帶脈，遂從陰器而出，其色青綠者，
正以其乘肝木之氣化也，逆輕者，熱必輕而色青，逆重者，熱必重而色綠，
似乎治青易而治綠難，然而均無所難也，解肝木之火，利膀胱之水，
則青綠之帶病均去矣，方用加減逍遙散。
脾土喜燥而惡溼，土病溼則木必乘之，木又為溼土之氣所侮，故肝亦病，
逍遙散減去當歸，妙極。
茯苓（五錢），白芍（酒炒五錢），甘草（生用五錢），柴胡（一錢），
陳皮（一錢），茵陳（三錢），枙子（三錢炒）。
水煎服，二劑而色淡，四劑而青綠之帶絕，不必過劑矣，夫逍遙散之立法也，
乃解肝鬱之藥耳，何以治青帶若斯其神與，蓋溼熱留於肝經，因肝氣之鬱也，
鬱則必逆，逍遙散最能解肝之鬱與逆，鬱逆之氣既解，則溼熱難留，
而又益之以茵陳之利溼，枙子之清熱，肝氣得清，而青綠之帶又何自來，
此方之所以奇而效捷也，倘僅以利溼清熱治青帶，而置肝氣於不問，
安有止帶之日哉。</p>
<h2>黃帶下三</h2>
<p>婦人有帶下而色黃者，宛如黃茶濃汁，其氣腥穢，所謂黃帶是也，
夫黃帶乃任脈之溼熱也，任脈本不能容水，溼氣安得而入而化為黃帶乎，
不知帶脈橫生，通於任脈，任脈直上，走於脣齒，脣齒之間，原有不斷之泉，
下貫於任脈以化精，使任脈無熱氣之繞，則口中之津液盡化為精，以入於腎矣，
惟有熱邪存於下焦之間，則津液不能化精，而反化溼也，夫溼者，土之氣，
實水之侵，熱者，火之氣，實木之生，水色本黑，火色本紅，今溼與熱合，
欲化紅而不能，欲返黑而不得，煎熬成汁，因變為黃色矣，此乃不從水火之化，
而從溼化也，所以世之人，有以黃帶為脾之溼熱，單去治脾而不得痊者，
是不知真水真火合成丹邪元邪，繞於任脈胞胎之間，而化此黔色也，
單治脾何能痊乎。法宜補任脈之虛，而清腎火之炎，則庶幾矣，方用易黃湯
。
丹邪元邪四字未晰，擬易以真水真火，為溼熱之氣所侵繞於任脈云云，較無語病，
然原書究不可輕改，姑仍之。
凡帶症多係脾溼，初病無熱，但補脾土，兼理衝任之氣，其病自愈，
若溼久生熱，必得清腎火，而溼始有去路，方用黃柏車前子炒。
山藥（一兩炒），芡實（一兩炒），黃柏（二錢鹽木炒），
車前子（一錢酒炒），白果（十枚碎）
水煎，連服四劑，無不全愈。此不特治黃帶方也。凡有帶病者，均可治之，
而治帶之黃者功更奇也，蓋山藥芡實專補任脈之虛，又能利水，
加白果引入任脈之中，更為便捷，所以奏功之速也，至於用黃柏，清腎中之火也，
腎與任脈相通以相濟，解腎中之火，即解任脈之熱矣。</p>
<h2>黑帶下四</h2>
<p>婦人有帶下而色黑者，甚則如黑豆汁，其氣亦腥，所謂黑帶也，夫黑帶者，
乃火熱之極也，或疑火色本紅，何以成黑，謂為下寒之極或有之，殊不知火極似水，
乃假象也，其症必腹中疼痛，小便時如刀刺，陰門必發腫，而色必發紅，
日久必黃瘦，飲食必兼人，口中必熱渴，飲以涼水，少覺寬快，此胃火太旺，
與命門膀胱三焦之火，合而熬煎，所以熬乾而變為炭色，斷是火熱之極之變，
而非少有寒氣也，此等之症，不至發狂者，全賴腎水與肺金無病，其生生不息之氣，
潤心濟胃以救之耳，所以但成黑帶之症，是火結於下，而不炎於上也，
治法惟以洩火為主，火熱退而溼自除矣，方用利火湯
病愈後當節飲食，減辛熱之物，調養脾土，若恃有此方，病發即服，
必傷元氣矣，慎之。
大黃（三錢），白朮（五錢土炒），茯苓（三錢），車前子（三錢酒炒），
王不留行（三錢），黃連（三錢），梔子（三錢炒），知母（二錢），
石膏（五錢煆），劉寄奴（三錢）。
水煎，服一劑，小便疼止而通利，二劑，黑帶變為白，三劑，白亦少減，
再三劑全愈矣，或謂此方過於迅利，殊不知火盛之時，用不得依違之法，
譬如救火之焚，而少為遷緩，則火勢延燃，不盡不止，今用黃連，石膏，梔子，
知母，一派寒涼之品，入於大黃之中，則迅速掃除，而又得王不留行，
與劉寄奴之利溼甚急，則溼與熱，俱無停住之機，佐白朮以輔土，茯苓以滲溼，
車前以利水，則火退水進，便成既濟之卦矣。</p>
<h2>赤帶下五</h2>
<p>婦人有帶下而色紅者，似血非血，淋瀝不斷，所謂赤帶也，夫赤帶亦溼病，
溼是土之氣宜見黃白之色，今不見黃白而見赤者，火熱故也，火色赤，
故帶下亦赤耳，惟是帶脈繫於腰臍之間，近乎至陰之地，不宜有火，而今見火症，
豈其路通於命門，而命門之火，出而燒之耶，不知帶脈通於腎，而腎氣通於肝，
婦人憂思傷脾，又加鬱怒傷肝，於是肝經之鬱火內熾，下剋脾土，脾土不能運化，
致溼熱之氣，蘊於帶脈之間，而肝不藏血，亦滲於帶脈之內，皆由脾氣受傷，
運化無力，溼熱之氣，隨氣下陷，同血俱下，所以似血非血之形象現於其色也，
其實血與溼不能兩分，世人以赤帶屬之心火誤矣，治法須清肝火而扶脾氣，
則庶幾可愈，方用清肝止淋湯
不用參朮苓極妙，此症者誤認為血漏，恐其久則成崩，用參朮苓等藥治之，
多不見效，赤帶反甚，若年逾四九，癸水將止，或頻頻見血，此崩症也，
宜分別治之。
五帶症古方極多，然有應有不應者，總屬未得病原，此書揭透病原，故用無不效。</p>
<p>白芍（一兩醋炒），當歸（一兩酒洗），生地（五錢酒炒），
阿膠（三錢白麵炒），粉丹皮（三錢），黃柏（二錢），牛膝（二錢），
香附（一錢酒炒），紅棗（十個），小黑豆（一兩）。
水煎服，一劑少止，二劑又少止，四劑全愈，十劑不再發，此方但主補肝之血，
全不利脾之溼者，以赤帶之為病，火重而溼輕也，夫火之所以旺者，由於血之衰，
補血即足以制火，且水與血合而成赤帶之症，竟不能辨其是溼非溼，
則溼亦盡化而為血矣，所以治血則溼亦除，又何必利溼之多事哉，此方之妙，
妙在純於治血，少加清火之味，故奏功獨奇，倘一利其溼，反引火下行，
轉難遽效矣，或問曰，先生前言助其脾土之氣，今但補其肝木之血何也，
不知用芍藥以平肝，則肝氣得舒，肝氣舒自不克土，脾不受剋，則脾土自旺，
是平肝正所以扶脾耳，又何必加人參白朮之品，以致累事哉。</p>
<h2>血崩昏暗六</h2>
<p>婦人有一時血崩，兩目黑暗，昏暈在地，不省人事者，人莫不謂火盛動血也，
然此火非實火，乃虛火耳，世人一見血崩，往往用止澀之品，雖亦能取效於一時，
但不用補陰之藥，則虛火易於沖擊，恐隨止隨發，以致經年累月，不能全愈者有之，
是止崩之藥，不可獨用，必須於補陰之中，行止崩之法，方用固本止崩湯
。
若血崩數日，血下數斗，六脈俱無，鼻中微微有息，不可遽服此方，恐氣將脫，
不能受峻補也，有力者，用遼人參，去蘆，三錢，煎成沖貫眾炭末一錢服之，
待氣息微旺，然後服此方，仍加貫眾炭末一錢，無不見效，
無力者用無灰黃酒沖貫眾炭末三錢服之，待其氣接神清，始可服此方，
人參以黨參代之，臨服亦加貫眾炭末一錢沖入，亦有孀婦年老血崩者，
必係氣沖血室，原方加杭芍炭三錢，貫眾炭三錢，極效。
大熟地（一兩九蒸），白朮（一兩土炒焦），黃耆（三錢生用），
當歸（五錢酒洗），黑薑（二錢），人參（三錢）
水煎服，一劑崩止，十劑不再發，倘畏藥味之重而減半，則力薄而不能止，
方妙在全不去止血，而惟補血，又不止補血，而更補氣，非惟補氣，而更補火，
蓋血崩而至於黑暗昏暈，則血已盡去，僅存一線之氣，以為護持，
若不急補其氣以生血，而先補其血而遺氣，則有形之血，恐不能遽生，而無形之氣，
必且至盡散，此所以不先補血而先補氣也，然單補氣，則血又不易生，
單補血而不補火，則血又必凝滯，而不能隨氣而速生，況黑薑引血歸經，
是補中又有收斂之妙，所以同補氣補血之藥並用之耳。</p>
<h2>年老血崩七</h2>
<p>婦人有年老血崩者，其症亦與前血崩昏暗者同，人以為老婦之虛耳，
誰知是不慎房幃之故乎，夫婦人至五十歲之外，天癸匱乏，原宜閉關守寨，
不宜出陣戰爭，苟或適興，不過草草了事，尚不至腎火大動，倘興酣浪戰，
亦如少年之好合，鮮不血室大開，崩決而墜矣，方用加減當歸補血湯
。
亦有孀婦年老血崩者，必係氣沖血室，原方加杭芍炭三錢，貫眾炭三錢，
極效。
當歸（一兩酒洗），黃耆（一兩生用），三七根末（三錢），
桑葉（十四片）
水煎服，二劑而血少止，四劑不再發，然必須斷慾始除根，若再犯色慾，
未有不重病者也，夫補血湯乃氣血兩補之神劑，三七根乃止血之聖藥，加入桑葉者，
所以滋腎之陰，又有收斂之妙耳，但老婦陰精既虧，用此方以止其暫時之漏，
實有奇功，而不可責其永遠之績者，以補精之味尚少也，服此四劑後，
再增入白朮五錢，熟地一兩，山藥四錢，麥冬三錢，北五味一錢，服百劑，
則崩漏之根可盡除矣。</p>
<h2>少婦血崩八</h2>
<p>有少婦甫娠三月，即便血崩，而胎亦隨墜，人以為挫閃受傷而致，
誰知是行房不慎之過哉，夫少婦行房，亦事之常耳，何便血崩，蓋因元氣衰弱，
事難兩顧，一經行房洩精，則妊娠無所依養，遂致崩而且墜，凡婦人之氣衰，
即不耐久戰，若貪歡久戰，則必洩精太甚，氣每不能攝夫血矣，況氣弱而又娠，
再加以久戰，內外之氣皆動，而血又何能固哉，其崩而墜也亦無怪其然也，
治法自當以補氣為主，而少佐以補血之品，斯為得之，方用固氣湯。
妊娠宜避房事，不避者縱幸不至崩，往往墮胎，即不墮胎，生子亦難養，
慎之戒之。
人參（一兩），白朮（五錢土炒），大熟地（五錢九蒸），當歸（三錢酒洗），
白茯苓（二錢），甘草（一錢），杜仲（三錢炒黑），山萸肉（二錢蒸），
遠志（一錢去心），五味子（十粒炒）
水煎服，一劑而血止，連服十劑全愈，此方固氣而兼補血，已去之血可以速生，
將脫之血可以盡攝，凡氣虛而崩漏者，此方最可通治，非僅小產之崩，其最妙者，
不去止血，而止血之味，含於補氣之中也。</p>
<h2>交感血出九</h2>
<p>婦人有一交合則流血不止者，雖不至於血崩之甚，而終年累月不得愈，
未免血氣兩傷，久則恐有血枯經閉之憂，此等之病，成於經水正來之時，貪歡交合，
精沖血管也，夫精沖血管，不過一時之傷，精出宜愈，何以久而流紅，
不知血管最嬌嫩，斷不可以精傷，凡婦人受孕必於血管已淨之時，方保無虞，
倘經水正旺，彼欲湧出，而精射之，則欲出之血，反退而縮入，既不能受精而成胎，
勢必至集精而化血，交感之際，淫氣觸動其舊日之精，則兩相感召，舊精欲出，
而血亦隨之而出，治法須通其胞胎之氣，引舊日之集精外出，
而益之以補氣補精之藥，則血管之傷，可以補完矣，方用引精止血湯
。
欲種子者，必待落紅後，即三十時辰兩日半也，經來之時，數足三十時辰，
便可入房，一日男，二日女，三日男，四日女，五日男，六日女，七日男，
過七日即不能受孕矣。
人參（五錢），白朮（一兩土炒），茯苓（三錢去皮），熟地（一兩九蒸），
山萸肉（五錢蒸），黑薑（一錢），黃柏（五分），芥穗（三錢），
車前子（三錢酒炒）
水煎，連服四劑愈，十劑不再發，此方用參朮以補氣，用地以萸補精，
精氣既旺，則血管流通。加入茯苓車前以利水與竅，水利則血管亦利，
又加黃柏為引，直入血管之中，而引夙精出於血管之外，芥穗引敗血出於血管之內，
黑薑以止血管之口，一方之中，實有調停曲折之妙，故能祛舊病而除陳疔，
然必須慎房幃三月，破者始不至重傷，而補者始不至重損，否則不過取目前之效耳，
其慎之哉，宜寡慾。</p>
<h2>鬱結血崩十</h2>
<p>婦人有懷抱甚鬱，口乾舌渴，嘔吐吞酸，而血下崩者，人皆以火治之，時而效，
時而不效，其故何也，是不識為肝氣之鬱結也，夫肝主藏血，氣結而血亦結，
何以反至崩漏，蓋肝之性急，氣結則其急更甚，更急則血不能藏，故崩不免也，
治法宜以開鬱為主，若徒開其鬱，而不知平肝，則肝氣大開，肝火更熾，
而血亦不能止矣，方用平肝開鬱止血湯。
此方入貫仲炭三錢，更妙。</p>
<p>白芍（一兩醋炒），白朮（一兩土炒），當歸（一兩酒洗），丹皮（三錢），
三七根（三錢研末），生地（三錢酒炒），甘草（二錢），黑芥穗（二錢），
柴胡（一錢）。
水煎服，一劑嘔吐止，二劑乾渴除，四劑血崩愈，方中妙在白芍之平肝，
柴胡之開鬱，白朮利腰臍，則血無積住之虞，荊芥通經絡，則血有歸還之樂，
丹皮又清骨髓之熱，生地復清臟腑之炎，當歸三七於血之中以行止血之法，
自然鬱結散，而血崩止矣。</p>
<h2>閃跌血崩十一</h2>
<p>婦人有升高墜落，或閃挫受傷，以致惡血下流，有如血崩之狀者，若以崩治，
非徒無益，而又害之也，蓋此症之狀，必手按之而疼痛，久之則面色痿黃，
形容枯槁，乃是疼血作祟，並非血崩可比，倘不知解瘀，而用補澀，則瘀血內攻，
疼無止時，反致新血不得生，舊血無由化，死不能悟，豈不可傷哉，
治法須行血以去瘀，活血以止疼，則血自止而愈矣，方用逐瘀止血湯
。
凡跌打損傷致唾血嘔血，皆宜如此治法，若血聚胃中，宜加川厚朴一錢半，
姜汁炒。
生地（一兩酒炒），大黃（三錢），赤芍（三錢），丹皮（一錢），
當歸尾（五錢），枳殼（五錢炒），龜版（三錢醋炙），桃仁（十粒泡炒研）。</p>
<p>水煎服，一劑疼輕，二劑疼止，三劑血亦全止，不必再服矣，此方之妙，
妙於活血之中，佐以下滯之品，故逐瘀如掃，而止血如神，或疑跌閃升墜，
是由外而傷內，雖不比內傷之重，而既已血崩，則內之所傷，亦不為輕，
何以只治其瘀，而不顧氣也，殊不知跌閃升墜，非由內傷以及外傷者可比，
蓋本實不撥，去其標病可耳，故曰急則治其標。</p>
<h2>血海太熱血崩十二</h2>
<p>婦人有每行人道，經水即來，一如血崩，人以為胞胎有傷，觸之以動其血也，
誰知是子宮血海，因太熱而不固乎，夫子宮即在胞胎之下，而血海又在胞胎之上，
血海者，衝脈也，衝脈太寒而血即虧，衝脈太熱而血即沸，血崩之為病，
正衝脈之太熱也，然既由衝脈之熱，則應常崩而無有止時，何以行人道而始來，
果與肝木無恙耶，夫脾健則能攝血，肝平則能藏血，
人未入房之時。君相二火寂然不動，雖衝脈獨熱，而血亦不至外馳，及有人道之感，
則子宮大開，君相火動，以熱招熱，同氣相求，翕然齊動，以鼓其精房，血海泛濫，
有不能止遏之勢，肝欲藏之而不能，脾欲攝之而不得，故經水隨交感而至，
若有聲應之捷，是惟火之為病也，治法必須滋陰降火，以清血海而和子宮，
則終身之病可半載而除矣，然必絕慾三月而後可，方用清海丸。
凡血崩症最宜絕欲避房，無奈少年人彼此貪歡，故服藥往往不效，
若三月後崩止病愈，而房事仍無節制，病必復作，久則成勞，慎之。
大熟地（一斤九蒸），山萸（十兩蒸），山藥（十兩炒），丹皮（十兩），
北五味（二兩炒），麥冬肉（十兩），白朮（一斤土炒），白芍（一斤酒炒），
龍骨（二兩），地骨皮（十兩），乾桑葉（一斤），元參（一斤），沙參（十兩），
石斛（十兩）。
右十四味，各為細末，合一處，煉蜜丸桐子大，早晚每服五錢，白滾水送下，
半載全愈。此方補陰而無浮動之慮，縮血而無寒涼之苦，日計不足，月計有餘，
潛移默奪，子宮清涼，而血海自固，倘不揣其本，而齊其末，徒以髮灰、白礬、
黃連炭、五倍子等藥末，以外治其幽隱之處，山恐愈澀而愈流，終必至於敗亡也，
可不慎與。</p>
<h2>鬼胎十三</h2>
<p>婦人有腹似懷妊，終年不產，甚至二三年不生者，此鬼胎也，其人必面色黃瘦，
肌膚消削，腹大如斗。厥所由來，必素與鬼交，或入神廟而興雲雨之思，
或遊山林而起交感之念，皆能召祟成胎，幸其人不至淫蕩，見祟而有驚惶，
遇合而生愧惡，則鬼祟不能久戀，一交媾即遠去，然淫妖之氣，已結於腹，
遂成鬼胎，其先尚未覺，迨後漸漸腹大，經水不行，內外相包，一如懷胎之狀，
有似血臌之形，其實是鬼胎，而非臌也，治法必須以逐穢為主，
然人至懷胎數年不產，即非鬼胎，亦必氣血衰微，況此非真妊，則邪氣必旺，
正不敵邪，其虛弱之狀，必有可掬，烏可純用迅利之藥，以祛蕩乎，
必於補中逐之為的也，方用蕩鬼湯。
鬼祟之事，儒者弗道，然城市鄉曲，往往有是症，不可不察，
甚勿以此言為荒唐也。
人參（一兩），當歸（一兩），大黃（一兩），雷丸（三錢），
川牛膝（三錢），紅花（三錢），丹皮（三錢），枳殼（一錢），厚朴（一錢），
小桃仁（三十粒）
水煎服，一劑腹必大鳴，可瀉惡物半桶，再服一劑，又瀉惡物而愈矣，
斷不可復用三劑也，蓋雖補中用逐，未免迅利，多用恐傷損元氣，
此方用雷丸以祛穢，又得大黃之掃除，且佐以厚朴，紅花，桃仁等味，
皆善行善攻之品，何邪之尚能留腹中，而不盡逐下也哉，尤妙在用參歸以補氣血，
則邪去而正不傷，若單用雷丸、大黃以迅下之，必有氣脫血崩之患矣，
倘或知是鬼胎，如室女寡婦輩，邪氣雖盛，而真氣未漓，
可用岐天師新傳紅花霹靂散，紅花半斤，大黃五兩，雷丸三兩，水煎服，亦能下胎，
然未免太於迅利，過傷氣血，不若蕩鬼湯之有益無損為愈也，在人臨症時，
斟酌而善用之耳。</p>
<h2>室女鬼胎十四</h2>
<p>女子有在家未嫁，月經忽斷，腹大如妊，面色乍赤乍白，六脈乍大乍小，
人以為血結經閉也，誰知是靈鬼憑身乎，夫人之身正，則諸邪不敢侵，其身不正，
則諸邪自來犯，或精神恍惚，而夢裏求親，或眼目昏花，而對面相狎，或假托親屬，
而暗處貪歡，或明言仙人，而靜地取樂，其始則驚詫為奇遇，而不肯告人，
其後則羞赧為淫褻，而不敢告人，日久年深，腹大如斗，有如懷妊之狀，
一身之精血僅足以供腹中之邪，則邪日旺，而正日衰，勢必至經閉而血枯，
後雖欲導其經而邪據其腹，則經亦難通，欲生其血而邪食其精，則血實難長，
醫以為胎，而實非真胎，又以為瘕而亦非瘕病，病往往因循等待，
非因羞憤而亡其生，即成勞瘵而終不起，至死不悟，不重可悲哉，
治法似宜補正以祛邪，然邪不先去，補正亦無益也，必須先祛邪而後補正，
斯為得之，方用蕩邪散。
此方陰隲大矣，見有因此病羞憤，而蹈於非命，勞瘵而喪於妙年，深為可憫，
若服此方不應，宜服桂香平胃散，無不見效，愈後宜調養氣血，節飲食，
肉桂去粗皮一錢，</p>
<p>麝香一錢，以上二味共研細末，開水為丸如桐子大，空心開水下服，
後半日時煎平胃散一劑服之，
蒼朮米泔炒三錢，厚朴二錢姜汁炒，廣皮一錢，枳實二錢土炒，全當歸三錢酒洗，
川芎一錢酒洗，服後必下惡物，若不見下惡物，次日再服平胃散，不用桂香。
雷丸（六錢），桃仁（六十粒），當歸（一兩），丹皮（一兩），
甘草（四錢）
水煎服，一劑必下惡物半桶，再服調正湯治之，</p>
<p>白朮（五錢），蒼朮（五錢），茯苓（三錢），陳皮（一錢），貝母（一錢），
薏米（五錢）
水煎，連服四劑，則脾胃之氣轉，而經水漸行矣，前方蕩邪，後方補正，
實有次第，或疑身懷鬼胎，必大傷其血，所以經閉，今既墜其鬼胎矣，
自當大補其血，乃不補血，而反補胃氣何故，蓋鬼胎中人，其正氣大虛可知，
氣虛則血必不能驟生，欲補血必先補氣，是補氣而血自然生也，用二朮以補胃陽，
陽氣旺則陰氣難犯，尤善後之妙法也，倘重用補陰之品，則以陰招陰，
吾恐鬼胎雖下，而鬼氣未必不再侵，故必以補陽為上策，而血自隨氣而生也。</p>
<h2>調經經水先期十五</h2>
<p>婦人有先期經來者，其經甚多，人以為血熱之極也，誰知是腎中水火太旺乎，
夫火太旺則血熱，水太旺則血多，此有餘之病，非不足之症也，似宜不藥有喜，
但過於有餘，則子宮太熱，亦難受孕，更恐有爍乾男精之慮，過者損之，
謂非既濟之道乎，然而火不可任其有餘，而水斷不可使之不足，治之法但少清其熱，
不必洩其水也，方用清經散。
婦科調經尤難，蓋經調則無病，不調，則百病叢生，治法宜詳察其病原，
細審其所以不調之故，然後用藥，始能見效，此書雖有先期，後期，
先後無定期之分，然須與種子帶下門參看，臨症時自有進見。
丹皮（三錢），地骨皮（五錢），白芍（三錢酒炒），大熟地（三錢九蒸），
青蒿（二錢），白茯苓（一錢），黃柏（五分鹽水浸炒）
水煎，服二劑而火自平，此方雖是清火之品，然仍是滋水之味，
火洩而水不與俱洩，損而益也。
又有先期經來，只一二點者，人以為血熱之極也，誰知腎中火旺而陰水虧乎，
夫同是先期之來，何以分虛實之異，蓋婦人之經最難調，苟不分別細微，
用藥鮮克有效，先期者，火氣之沖，多寡者，水氣之驗，故先期而來多者，
火熱而水有餘也，先期而來少者，火熱而水不足也，倘一見先期之來，
俱以為有餘之熱，但洩火而不補水，或水火兩洩之，有不更增其病者乎，
治之法不必洩火，只專補水，水既足，而火自消矣。亦既濟之道也，
方用兩地湯。
大生地（一兩酒炒），元參（一兩），白芍藥（五錢酒炒），麥冬肉（五錢），
地骨皮（三錢），阿膠（三錢），
水煎，服四劑而經調矣，此方之用地骨生地，能清骨中之熱，
骨中之熱由於腎經之熱，清其骨髓則腎氣自清，而又不損傷胃氣，此治之巧也，
況所用諸藥，又純是補水之味，水盛而火自平理也，此條與上條參觀，
斷無誤治先期之病矣。</p>
<h2>經水後期十六</h2><p>婦人有經水後期而來多者，人以為血虛之病也，誰知非血虛乎，蓋後期之多少，
實有不同，不可執一而論，蓋後期而來少，血寒而不足，後期而來多，血寒而有餘，
夫經本於腎，而其流五臟六腑之血皆歸之，故經來而諸經之血盡來附，益以經水行，
而門啟不遑迅闔，諸經之血乘其隙而皆出也，但血既出矣，則成不足，
治法宜於補中溫散之，不得曰後期者俱不足也，方用溫經攝血湯。
大熟地（一兩九蒸），白芍（一兩酒炒），川芎（五錢酒洗），
白朮（五錢土炒），柴胡（五分），五味子（三分），肉桂（五分去粗研），
續斷（一錢），
水煎，服三劑而經調矣，此方大補肝腎脾之精與血，加肉桂以祛其寒，
柴胡以解其鬱，是補中有散，而散不耗氣，補中有洩，而洩不損陰，所以補之有益，
而溫之收功，此調經之妙藥也，而攝血之仙丹也，凡經來後期者，
俱可用倘元氣不足，加人參一二錢亦可。</p>
<h2>經水先後無定期十七</h2>
<p>婦人有經來斷續，或前或後無定期，人以為氣血之虛也，誰知是肝氣之鬱結乎，
夫經水出諸腎，而肝為腎之子，肝鬱則腎亦鬱矣，腎鬱而氣必不宣，
前後之或斷或續，正腎之或通或閉耳，或曰，肝氣鬱而腎氣不應，未必至於如此，
殊不知子母關切，子病而母必有顧復之情，肝鬱而腎不無繾綣之誼，
肝氣之或開或閉，即腎氣之或去或留，相因而致，又何疑焉，治法宜舒肝之鬱，
即開腎之鬱也，肝腎之鬱既開，而經水自有一定之期矣，方用定經湯
。
以上調經三條，辨論明晰，立方微妙，但恐臨時或有外感內傷，不能見效，
有外感者，宜加蘇葉一錢，有內傷者，宜加神曲二錢炒，有因肉食積滯者，
再加東山查肉二錢炒，臨症須酌用之，若肝氣鬱抑，又當以逍遙散為主，
有熱加梔炭丹皮，即加味逍遙散。
兔絲子（一兩酒炒），白芍（一兩酒炒），當歸（一兩酒洗），
大熟地（五錢九蒸），山藥（五錢炒），白茯苓（三錢），芥穗（二錢炒黑），
柴胡（五分）
水煎，服二劑而經水淨，四劑而經期定矣，此方舒肝腎之氣，非通經之藥也，
補肝腎之精，非利水之品也，肝腎之氣舒而精通，肝腎之精旺而水利，不治之治，
正妙於治也。</p>
<h2>經水數月一行十八</h2>
<p>婦人有數月一行經者，每以為常，亦無或先或後之異，亦無或多或少之殊，
人莫不以為異，而不知非異也，蓋無病之人，氣血兩不虧損耳，夫氣血既不虧損，
何以數月而一行經也，婦人之中，亦有天生仙骨者，經水必一季一行。蓋以季為數，
而不以月為盈虛也，真氣內藏，則坎中之真陽不損，倘加以煉形之法，一年之內，
便易飛騰，無如世人不知，見經水不應月來，誤認為病，妄用藥餌，
本無病而治之成病，是治反不如其不治也，山聞異人之教，特為闡揚，
使世人見此等行經，不必妄行治療，萬勿疑為氣血之不足，而輕一試也，雖然，
天生仙骨之婦人，世固不少，而嗜慾損夭之人，亦復甚多，
又不可不立一療救之方以輔之，方名助仙丹。
曾見婦人一年一行經，身健無恙，妊娠後，反月月俱行經，
或至五月至七月經止不等，育男皆成人，咸以為異，或亦仙骨之所致乎，
抑造化令人不測耶。
白茯苓（五錢），陳皮（五錢），白朮（三錢土炒），白芍（三錢酒炒），
山藥（三錢炒），兔絲子（二錢酒炒），杜仲（一錢炒黑），甘草（一錢）
河水煎，服四劑而仍如其舊，不可再服也，此方平補之中，實有妙理，
健脾益腎而不滯，解鬱清痰而不洩，不損天然之氣血，便是調經之大法，
何得用他藥以冀通經哉。</p>
<h2>年老經水復行十九</h2>
<p>婦人有年五十外，或六七十歲，忽然行經者，或下紫血塊，或如紅血淋，
人或謂老婦行經，是還少之象，誰知是血崩之漸乎，夫婦人至七七之外，天癸已竭，
又不服濟陰補陽之藥，如何能精滿化經，一如少婦，然經不宜行而行者，乃肝不藏，
脾不統之故也，非精過洩而動命門之火，即氣鬱甚而發龍雷之炎，
二火交發而血乃奔矣，有似行經而實非經也，此等之症，非大補肝脾之氣與血，
而血安能驟止，方用安老湯。
加貫仲炭一錢，研細末以藥沖服尤妙。</p>
<p>人參（一兩），黃耆（一兩生用），大熟地（一兩九蒸），白朮（五錢土炒），
當歸（五錢酒洗），山萸（五錢蒸），阿膠（一錢蛤粉炒），黑芥穗（一錢），
甘草（一錢），香附（五分酒炒），木耳炭（一錢）。
水煎，服一劑減，二劑尤減，四劑全減，十劑愈，此方補益肝脾之氣，
氣足自能生血而攝血，尤妙大補腎水，水足而肝氣自舒，肝舒而脾自得養，
肝藏之而脾統之，又安有洩漏者，又何慮其血崩哉。</p>
<h2>經水忽來忽斷時疼時止二十</h2>
<p>婦人有經水忽來忽斷，時疼時止，寒熱往來者，人以為血之凝也，
誰知是肝氣不舒乎，夫肝屬木而藏血，最惡風寒，婦人當行經之際，腠理大開，
適逢風之吹，寒之襲，則肝氣為之閉塞，而經水之道路亦隨之而俱閉，
由是腠理經絡，各皆不宣，而寒熱之作，由是而起，其氣行於陽分，則生熱，
其氣行於陰分，則生寒，然此猶感之輕者也，倘外感之風寒更甚，
則內應之熱氣益深，往往有熱入血室，而變為如狂之症，一似遇鬼之狀者，
若但往來寒熱，是風寒未甚，而熱未深耳，治法宜補肝中之血，通其鬱而散其風，
則病隨手而效，所謂治風先治血，血和風自滅，此其一也，
方用加味四物湯。
加荊芥穗炒黑一錢，尤妙。</p>
<p>大熟地（一兩九蒸），白芍（五錢酒炒），當歸（五錢酒洗），
川芎（三錢酒洗），白朮（五錢土炒），粉丹皮（三錢），元胡（一錢酒炒），
甘草（一錢），柴胡（一錢）
水煎服，此方用四物以滋脾胃之陰血，用柴胡白芍丹皮，以宣肝經之風鬱，
用甘草白朮元胡，以利腰臍而和腹疼，入於表裏之間，通乎經絡之內，用之得宜，
自奏功如響也。</p>
<h2>經水未來腹先疼二十一</h2>
<p>婦人有經前腹疼，數日而後經水行者，其經來多是紫黑塊，人以為寒極而然也，
誰知是熱極而火不化乎，夫肝屬木，其中有火，舒則通暢，鬱則不揚，
經欲行而肝不應，則抑拂其氣而疼生，然經滿則不能內藏，而肝中之鬱火焚燒，
內逼經出，則其火亦因之而怒洩，其紫黑者，水火兩戰之象也，其成塊者，
火煎成形之狀也，經失其為經者，正鬱火內奪其權耳，治法似宜大洩肝中之火，
然洩肝之火，而不解肝之鬱，則熱之標可去，而熱之本未除也，其何能益，
方用宣鬱通經湯。
白芍（五錢酒炒），當歸（五錢酒炒），丹皮（五錢），山梔子（三錢炒），
白芥子（二錢炒研），柴胡（一錢），香附（一錢酒炒），川鬱金（一錢醋炒），
黃芩（一錢酒炒），生甘草（一錢）
水煎，連服四劑，下月斷不先腹疼而後行經矣，此方補肝之血而解肝之鬱，
利肝之氣而降肝之火，所以奏功之速。</p>
<h2>行經後少腹疼痛二十二</h2>
<p>婦人有少腹疼於行經之後者，人以為氣血之虛也，誰知是腎氣之涸乎，
夫經水者，乃天一之真水也，滿則溢，而虛則閉，亦其常耳，何以虛能作疼哉，
蓋腎水一虛，則水不能生木，而肝木必剋脾土，木土相爭，則氣必逆，故爾作疼，
治法必須以舒肝氣為主，而益之以補腎之味，則水足而肝氣益安，
肝氣安而逆氣自順，又何疼痛之有哉，方用調肝湯。
經前經後腹痛二方極妙，不可加減，若有別症，亦宜此方為主，另加藥味治之，
原方不可減去一味。
山藥（五錢炒），阿膠（三錢白麵炒），當歸（三錢酒洗），
白芍（三錢酒炒），山萸肉（三錢蒸熟），巴戟（一錢鹽水浸），甘草（一錢）。</p>
<p>水煎服，此方平調肝氣，既能轉逆氣，又善止鬱疼，經後之症，
以此方調理最佳，不特治經後腹疼之症也。</p>
<h2>經前腹痛吐血二十三</h2>
<p>婦人有經未行之前一二日，忽然腹疼而吐血，人以為火熱之極也，
誰知是肝氣之逆乎，夫肝之性最急，宜順而不宜逆，順則氣安，逆則氣動，
血隨氣為行止，氣安則血安，氣動則血動，亦勿怪其然也，或謂經逆在腎，不在肝，
何以隨血妄行，竟至從口上出也，是肝不藏血之故乎，抑腎不納氣而然乎，
殊不知少陰之火，急如奔馬，得肝火直沖而上，其勢最捷，反經而為血，亦至便也，
正不必肝不藏血，始成吐血之症，但此等吐血，與各經之吐血有不同者，
蓋各經之吐血，由內傷而成，經逆而吐血，乃內溢而激之使然也，其症有絕異，
而其氣逆則一也，治法似宜平肝以順氣，而不必益精以補腎矣，雖然，經逆而吐血，
雖不大損夫血，而反覆顛倒，未免太傷腎氣，必須於補腎之中，用順氣之法，
始為得當，方用順經湯。
婦人年壯吐血，往往有之，不可作勞症治，若認為勞症，必至肝氣愈逆，
非勞反成勞矣，方加茜草一錢，懷牛膝八分，尤妙
當歸（五錢酒洗），大熟地（五錢九蒸），白芍（二錢酒炒），丹皮（五錢），
白茯苓（三錢），沙參（三錢），黑芥穗（三錢）。
水煎，服一劑而吐血止，二劑而經順，十劑不再發，此方於補腎調經之中，
而用引血歸經之品，是和血之法實寓順氣之法也，肝不逆而腎氣自順，腎氣既順，
又何經逆之有哉。</p>
<h2>經水將來臍下先疼痛二十四</h2>
<p>婦人有經水將來三五日前，而臍下作疼，狀如刀刺者，或寒熱交作，
所下如黑豆汁，人莫不以為血熱之極，誰知是下焦寒溼相爭之故乎，
夫寒溼乃邪氣也，婦人有衝任之脈，居於下焦，衝為血海，任主胞胎，為血室，
均喜正氣相通，最惡邪氣相犯，經水由二經而外出，而寒溼滿二經而內亂，
兩相爭而作疼痛，邪愈盛而正氣日衰，寒氣生濁，而下如豆汁之黑者，
見北方寒水之象也，治法利其溼而溫其寒，使衝任無邪氣之亂，
臍下自無疼痛之疚矣，方用溫臍化溼湯。
衝任之氣，宜通不宜降，故化溼不用蒼朮薏仁，餘宜類參。</p>
<p>白朮（一兩土炒），白茯苓（三錢），山藥（五錢炒），
巴戟肉（五錢鹽水浸），扁豆炒搗（三錢），白果（十枚搗碎），
建蓮子（三十枚不去心）
水煎服，然必須經未來前十日服之，四劑而邪氣去，經水調，兼可種子，
此方君白朮，以利腰臍之氣，用巴戟白果，以通任脈，扁豆山藥蓮子以衛衝脈，
所以寒溼掃除，而經水自調，可受妊矣，倘疑腹疼為熱疾，妄用寒涼，則衝虛任冷，
血海變為冰海，血室反成冰室，無論難於生育，而疼痛之止，又安有日哉。</p>
<h2>經水過多二十五</h2>
<p>婦人有經水過多，行後復行，面色痿黃，身體倦怠而困乏愈甚者，
人以為血熱有餘之故，誰知是血虛而不歸經乎，夫血旺始經多，血虛當經縮，
今曰血虛而反經多，是何言與，殊不知血歸於經，雖旺而經亦不多，血不歸經，
雖衰而經亦不少，世之人見經水過多，謂是血之旺也，此治之所以多錯耳，
倘經多果是血旺，自是健壯之體，須當一行即止，精力如常，何至一行後而再行，
而困乏無力耶，惟經多是血之虛，故再行而不勝其困乏，血損精散，骨中髓空，
所以不能色華於面也，治法宜大補血而引之歸經，又安有行後復行之病哉，
方用加減四物湯
荊芥穗炭，能引血歸經，方妙極，不可輕易加減。</p>
<p>大熟地（一兩九蒸），白芍（三錢酒炒），當歸（五錢酒洗），
川芎（二錢酒洗），白朮（五錢土炒），黑芥穗（三錢），山萸（三錢蒸），
續斷（一錢），甘草（一錢）
水煎，服四劑而血歸經矣，十劑之後，加人參三錢，再服十劑，下月行經，
適可而止矣，夫四物湯乃補血之神品，加白朮、荊芥，補中有利，加山萸、
續斷，止中有行，加甘草以調和諸品，使之各得其宜，所以血足而歸經，
歸經而血自靜矣。</p>
<h2>經前洩水二十六</h2>
<p>婦人有經未來之前，洩水三日，而後行經者，人以為血旺之故，
誰知是脾氣之虛乎，夫脾統血，脾虛則不能攝血矣，且脾屬溼土，脾虛則土不實，
土不實而溼更甚，所以經水將動，而脾先不固，脾經所統之血，欲流注於血海，
而溼氣乘之，所以先洩水而後行經也，調經之法不在先治其水，而在先治其血，
抑不在先治其血，而在先補其氣，蓋氣旺而血自能生，抑氣旺而溼自能除，
且氣旺而經自能調矣，方用健固湯
與胖人不孕參看，自得立方之妙。</p>
<p>人參（五錢），白茯苓（三錢），白朮（一兩土炒），巴戟（五錢鹽水浸），
薏苡仁（三錢炒）
水煎，連服十劑，經前不洩水矣，此方補脾氣以固脾血，則血攝於氣之中，
脾氣日盛，自能運化其溼，溼既化為烏有，自然經水調和，又何至經前洩水哉。</p>
<h2>經前大便下血二十七</h2>
<p>婦人有行經之前一日，大便先出血者，人以血崩之症，誰知是經流於大腸乎，
夫大腸與行經之路，各有分別，何以能入乎其中，不知胞胎之系，上通心而下通腎，
心腎不交，則胞胎之血，兩無所歸，而心腎二經之氣，不來照攝，聽其自便，
所以血不走小腸而走大腸也，治法若單止大腸之血，則愈止而愈多，
若擊動三焦之氣，則更拂亂而不可止，蓋經水之妄行，原因心腎之不交，
今不使水火之既濟，而徒治其胞胎，則胞胎之氣無所歸，而血安有歸經之日，
故必大補其心與腎，使心腎之氣交，而胞胎之氣自不散，則大腸之血自不妄行，
而經自順矣，方用順經兩安湯。
若大便下血過多，精神短少，人愈消瘦，必係肝氣不舒，久鬱傷脾，
脾傷不能統血，又當分別治之，方用補血湯，嫩黃耆，二兩，生熟各半，歸身四錢，
酒洗炒黑，杭芍炭三錢，焦白朮五錢土炒，杜仲二錢炒斷絲，荊芥炭，二錢，姜炭，
二錢引用貫仲炭一錢，沖入服之，四劑必獲愈，愈後減半，再服二劑。
經入大腸必當經之際，而大便下血也，初病血雖錯行，精神必照常，若脾不統血，
精神即不能照常矣，用者辨之。
當歸（五錢酒洗），白芍（五錢酒炒），大熟地（五錢九蒸），
山萸  肉（二錢蒸），人參（三錢），白朮（五錢土炒），麥冬（五錢去心），
黑芥穗（二錢），巴戟肉（一錢鹽水浸），升麻（四分）
水煎，服二劑大腸血止，而經從前陰出矣，三劑經止，而兼可受妊矣，
此方乃大補心肝腎三經之藥，全不去顧胞胎，而胞胎有所歸者，以心腎之氣交也，
蓋心腎虛則其氣兩分，心腎足則其氣兩合，心與腎不離，而胞胎之氣，
聽命於二經之攝，又安有妄動之形哉，然則心腎不交，補心腎可也，
又何兼補夫肝木耶，不知肝乃腎之子，心之母也，補肝則肝氣往來於心腎之間，
自然上引心而下入於腎，下引腎而上入於心，不啻介紹之助也，
此使心腎相交之一大法門，不特調經而然也，學者其深思諸。</p>
<h2>年未老經水斷二十八</h2>
<p>經云，女子七七而天癸絕，有年未至七七而經水先斷者，人以為血枯經閉也，
誰知是心肝脾之氣鬱乎，使其血枯，安能久延於人世，醫見其經水不行，
妄謂之血枯耳，其實非血之枯，乃經之閉也，且經原非血也，乃天一之水，
出自腎中，是至陰之精，而有至陽之氣，故其色赤紅似血，而實非血，
所以謂之天癸，世人以經為血，此千古之誤，牢不可破，倘果是血，
何不名之曰血水，而曰經水乎，古昔聖賢創呼經水之名者，原以水出於腎，
乃癸干之化，故以名之，無如世人沿襲，而不深思其旨，皆以血視之，
然則經水早斷，似乎腎水衰涸，吾以為心肝脾氣之鬱者，蓋以腎水之生，
原不由於心肝脾，而腎水之化，實有關於心肝脾，使水位之下，無土氣以承之，
則水濫滅火，腎氣不能化，火位之下，無水氣以承之，則火炎鑠金，腎氣無所生，
木位之下，無金氣以承之，則木妄破土，腎氣無以成，倘心肝脾有一經之鬱，
則其氣不能入於腎中，腎之氣即鬱而不宣矣，況心肝脾俱鬱，即腎氣真足而無虧，
尚有茹而難吐之勢，矧腎氣本虛，又何能盈滿而化經水外洩耶，經曰，亢則害，
此之謂也，此經之所以閉塞，有似乎血枯，而實非血枯耳，治法必須散心肝脾之鬱，
而大補其腎水，仍大補其心肝脾之氣，則精溢而經水自通矣，方用益經湯
。
善醫者，祇用眼前純和之品，而大病盡除，不善醫者，立異矜奇，不惟無效，
反致百病叢生，凡用藥雜亂，假金石為上品者，戒之戒之。
大熟地（一兩九蒸），白朮（一兩土炒），山藥（五錢炒），
當歸（五錢酒洗），白芍（三錢酒炒），生棗仁（三錢搗碎），丹皮（二錢），
沙參（三錢），柴胡（一錢），杜仲（一錢炒黑），人參（二錢）
水煎，連服八劑，而經通矣，服三十劑而經不再閉，兼可受孕，
此方心肝脾腎四經同治藥也，妙在補以通之，散以開之，倘徒補則鬱不開而生火，
徒散則氣益衰而耗精，設或用攻堅之劑，辛熱之品，則非徒無益，而又害之矣。</p>
<h2>身瘦不孕二十九</h2>
<p>婦人有瘦怯身軀，久不孕育，一交男子，即臥病終朝，人以為氣虛之故，
誰知是血虛之故乎，或謂血藏於肝，精涵於腎，交感乃洩腎之精，與血虛何與，
殊不知肝氣不開，則精不能洩，腎精既洩，則肝氣亦不能舒，以腎為肝之母，
母既洩精，不能分潤以養其子，則木燥乏水，而火且暗動以鑠精，則腎愈虛矣，
況瘦人多火，而又洩其精，則水益少，而火益熾，水雖制火，而腎精空乏，
無力以濟，成火在水上之卦，所以倦怠而臥也，此等之婦，偏易動火，
然此火因貪慾而出於肝木之中，又是虛燥之火，絕非真火也，且不交合則已，
交合又偏易走洩，此陰虛火旺，不能受孕，即偶爾受孕，必致逼乾男子之精，
隨種而隨消者有之，治法必須大補腎水而平肝水，水旺則血旺，血旺則火消，
便成水在火上之卦，方用養精種玉湯。
服藥三月後不受孕，仍照原方加杜仲，三錢炒斷絲，續斷二錢，白朮，
五錢土炒焦，雲苓三錢，服數劑後必受孕。
大熟地（一兩九蒸），當歸（五錢酒洗），白芍（五錢酒炒），
山萸  肉（五錢蒸熟）
水煎，服三月便可身健受孕，斷可種子，此方之用，不特補血，而純於填精，
精滿則子宮易於攝精，血足則子宮易於容物，皆有子之道也，惟是貪慾者多，
節慾者少，往往不驗，服此者果能節慾三月，心靜神清，自無不孕之理，
否則不過身體壯健而已，勿咎方之不靈也。</p>
<h2>胸滿不思食不孕三十</h2>
<p>婦人有飲食少思，胸膈滿悶，終日倦怠思睡，一經房事，呻吟不已，
人以為脾胃之氣虛也，誰知是腎氣不足乎，夫氣宜升騰，不宜消降，升騰於上焦，
則脾胃易於分運，降陷於下焦，則脾胃難於運化，人乏水穀之養，則精神自爾倦怠，
脾胃之氣可升而不可降也明甚，然則脾胃之氣，雖充於脾胃之中，實生於兩腎之內，
無腎中之水氣，則胃之氣不能騰，無腎中之火氣，則脾之氣不能化，
惟有腎之水火二氣，而脾胃之氣始能升騰而不降也，然則補脾胃之氣，
可不急補腎中水火之氣乎，治法必以補腎氣為主，但補腎而不兼補脾胃之品，
則腎之水火二氣不能提於至陽之上也，方用并提湯。
胸滿不孕，人每誤為脾胃虛寒，不能剋食，用扶脾消導之藥，腎氣愈虛，
何能受孕，妙在立方不峻補腎火，所以不用桂附等藥，但專補腎氣，
使脾胃之氣不復下陷，則帶脈氣充，胞胎氣暖，自然受孕無難矣。
大熟地（一兩九蒸），巴戟（一兩鹽水浸），白朮（一兩土炒），
人參（五錢），黃耆（五錢生用），山萸肉（三錢蒸），枸杞（二錢），
柴胡（五分）
水煎，服三月而腎氣大旺，再服一月未有不能受孕者，此方補氣之藥，
多於補精，似乎以補脾胃為主矣，孰知脾胃健，而生精自易，是補脾胃之氣與血，
正所以補腎之精與水也，又益以補精之味，則陰氣自足，陽氣易升，
自爾騰越於上焦矣，陽氣不下陷，則無非大地陽春，隨遇皆是化生之機，
安有不受孕之理與。</p>
<h2>下部冰冷不受孕三十一</h2>
<p>婦人有下身冰冷，非火不煖，交感之際，陰中絕無溫熱之氣，
人以為天分之薄也，誰知是胞胎寒之極乎，夫寒冰之地，不生草木，重陰之淵，
不長魚龍，今胞胎既寒，何能受孕，雖男子鼓勇力戰，其精甚熱，直射於子宮之內，
而寒冰之氣相逼，亦不過茹之於暫，而不能不吐之於久也，夫猶是人也，
此婦之胞胎，何以寒涼至此，豈非天分之薄乎，非也，蓋胞胎居於心腎之間，
上繫於心，而下繫於腎，胞胎之寒涼，乃心腎二火之衰微也，故治胞胎者，
必須補心腎二火而後可，方用溫胞飲。
今之種子者，多喜服熱藥，不知此方特為胞胎寒者設，若胞胎有熱，則不宜服，
審之。
白朮（一兩土炒），巴戟（一兩鹽水浸），人參（三錢），杜仲（三錢炒黑），
兔絲子（三錢酒浸炒），山藥（三錢炒），芡實（三錢炒），肉桂（二錢去粗研），
附子（三分製），補骨脂（二錢鹽水炒）。
水煎，服一月而胞胎熱，此方之妙，補心而即補腎，溫腎而即溫心，
心腎之氣旺，則心腎之火自生，心腎之火生，則胞胎之寒自散，原因胞胎之寒，
以至茹而即吐，而今胞胎既熱矣，尚有施而不受者乎，若改湯為丸，朝夕吞服，
尤能攝精，斷不至有伯道無兒之歎也。</p>
<h2>胸滿少食不孕三十二</h2>
<p>婦人有素性恬淡，飲食少則平和，多則難受，或作嘔洩，胸膈脹滿，久不受孕，
人以為賊稟之薄也，誰知是脾胃虛寒乎，夫脾胃之虛寒，原因心腎之虛寒耳，
蓋胃土非心火不能生，脾土非腎火不能化，心腎之火衰，則脾胃失生化之權，
即不能消水穀以化精微矣，既不能化水穀之精微，自無津液以灌溉於胞胎之中，
欲胞胎有溫煖之氣，以養胚胎，必不可得，總然受胎，而帶脈無力，亦必墜落，
此脾胃虛寒之咎，故無玉麟之毓也，治法可不急溫補其脾胃乎，然脾之母，
原在腎之命門，胃之母，原在心之包絡，欲溫補脾胃，必須補二經之火，
蓋母旺子必不弱，母熱子必不寒，此子病治母之義也，方用溫土毓麟湯
。
少食不孕，與胸滿不思飲食有間，一補腎中之氣，一補命門與心包絡之火，
藥味不多，其君臣佐使之妙，宜細參之。
巴戟（一兩去心酒浸），覆盆子（一兩酒浸蒸），白朮（五錢土炒），
人參（三錢），懷山藥（五錢炒），神麯（一錢炒）。
水煎，服一月可以種子矣，此方之妙，溫補脾胃，而又兼補命門，
與心包絡之火，藥味不多，而四經並治，命門心包之火旺，則脾與胃無寒冷之虞，
子母相顧，一家和合，自然飲食多而善化，氣血旺而能任，帶脈有力，不虞落胎，
安有不玉麟之育哉。</p>
<h2>少腹急迫不孕三十三</h2>
<p>婦人有少腹之間，自覺有緊迫之狀，急而不舒，不能生育，此人人之所不識也，
誰知是帶脈之拘急乎，夫帶脈繫於腰臍之間，宜弛而不宜急，今帶脈之急者，
由於腰臍之氣不利也，而腰臍之氣不利者，由於脾胃之氣不足也，脾胃氣虛，
則腰臍之氣閉，腰臍之氣閉，則帶脈拘急，遂致牽動胞胎，精即直射於胞胎，
胞胎亦暫能茹納，而力難負載，必不能免小產之虞，況人多不能節欲，
安得保其不墜乎，此帶脈之急，所以不能生子也，治法宜寬其帶脈之急，
而帶脈之急不能遽寬也，宜利其腰臍之氣，而腰臍之氣不能遽利也，
必須大補其脾胃之氣與血，而腰臍可利，帶脈可寬，自不難於孕育矣，
方用寬帶湯。
凡種子治法，不出帶脈胞胎二經，數言已洩造化之祕矣。</p>
<p>白朮（一兩土炒），巴戟肉（五錢酒浸），補骨脂（一錢鹽水炒），
人參（三錢），麥冬（三錢去心），杜仲（三錢炒黑），大熟地（五錢九蒸），
肉蓯蓉（三錢洗淨），白芍（三錢酒炒），當歸（二錢酒洗），五味（三分炒），
建蓮子（二十粒不去心）
水煎，服四劑少腹無緊迫之狀，服一月即受胎，此方之妙，脾胃兩補，
而又利其腰臍之氣，自然帶脈寬舒，可以載物而勝任矣，
或疑方中用五味白芍之酸收，不增帶脈之急，而反得帶脈之寬，殊不可解，
豈知帶脈之急，由於氣血之虛，蓋血虛則縮而不伸，氣虛則攣而不達，用芍藥之酸，
以平肝木，則肝不剋脾，用五味之酸以生腎水，則腎能益帶，似相礙而實相濟也，
何疑之有。</p>
<h2>嫉妒不孕三十四</h2>
<p>婦人有懷抱素惡，不能生子者，人以為天心厭之也，誰知是肝氣鬱結乎，
夫婦人之有子也，必然心脈流利而滑，脾脈舒徐而和，腎脈旺大而鼓指，始稱喜脈，
未有三部脈鬱，而能生子者也，若三部脈鬱，肝氣必因之而更鬱，
肝不鬱則心腎之脈，必致鬱之極而莫解，蓋子母相依，鬱必不喜，喜必不鬱也，
其鬱而不能成胎者，以肝木不舒，必下剋脾土，而致塞脾土之氣，
塞則腰臍之氣必不利，腰臍之氣不利，必不能通任脈而達帶脈，則帶脈之氣亦塞矣，
帶脈之氣既塞，則胞胎之門必閉，精即到門，亦不得其門而入矣，其奈之何哉，
治法必解四經之鬱，以開胞胎之門，則幾矣，方用開鬱種玉湯。
方似平平無奇，然卻能解妒種子，不可忽視，若懷娠而仍然嫉妒，
必致血鬱墜胎，即幸不墜胎，生子多不能成，方加解妒飲合煎之，可保無虞，
必須變其性情始效，解妒飲，黍，穀各九十粒麥，生用，小黑豆各四十九粒，
豆炒熟，高糧五十五粒。
白芍（一兩酒炒），香附（三錢酒炒），當歸（五錢酒洗），
白朮（五錢土炒），丹皮（三錢酒洗），茯苓（三錢去皮），花粉（二錢）
水煎，服一月則鬱結之氣開，鬱開則無非喜氣之盈腹，而嫉妒之心，
亦可以一易，自然兩相合好，給胎於頃刻之間矣，此方之妙，解肝氣之鬱，
宣脾氣之困，而心腎之氣亦因之俱舒，所以腰臍利而任帶通達，不必啟胞胎之門，
而胞胎自啟，不特治嫉妒者也。</p>
<h2>肥胖不孕三十五</h2>
<p>婦人有身體肥胖，痰涎甚多，不能受孕者，人以為氣虛之故，
誰知是溼盛之故乎，夫溼從下受，乃言外邪之溼也，而肥胖之溼，實非外邪，
乃脾土之內病也，然脾土既病，不能分化水穀，以養四肢，宜其身瘦弱，
何以能肥胖乎，不知溼盛者多肥胖，肥胖者多氣虛，氣虛者，多痰涎，外似健壯，
而內實虛損也，內虛則氣必衰，氣衰則不能行水，而溼停於腸胃之間，
不能化精而化涎矣，夫脾本溼土，又因痰多，愈加其溼，脾不能受熱，
必津潤於胞胎，日積月累，則胞胎竟變為汪洋之水窟矣，且肥胖之婦，內肉必滿，
遮隔子宮，不能受精，此必然之勢也，況又加以水溼之盛，即男子甚健，
陽精直達子宮，而其水勢滔滔，泛濫可畏，亦遂化精成水矣，又何能成妊哉，
治法必須以洩水化痰為主，然徒洩水化痰，而不急補脾胃之氣，則陽氣不旺，
溼痰不去，人先病矣，望其茹而不吐乎，方用加味補中益氣湯。
再十劑後，方加杜仲一錢半，炒斷絲，續斷錢半，炒，必受孕矣。</p>
<p>人參（三錢），黃耆（三錢生用），柴胡（一錢），甘草（一錢），
當歸（三錢酒洗），白朮（一兩土炒），升麻（四分），陳皮（五分），
茯苓（五錢），半夏（三錢製）
水煎，服八劑，痰涎盡消，再十劑，水溼利，子宮涸出，易於受精而成孕矣，
其在於昔，則如望洋觀海，而至於今，則是馬到成功也，快哉，此方之妙，
妙在提脾氣而升於上，作雲作雨，則水溼反利於下行，助胃氣而消於下，為津為液，
則痰涎轉易於上化，不必用消化之品以損其肥，而肥自無礙，
不必用濬決之味以開其竅，而竅自能通，陽氣充足，自能攝精，溼邪散除，
自可受種，何肥胖不孕之足慮乎。</p>
<h2>骨蒸夜熱不孕三十六</h2>
<p>婦人有骨蒸夜熱，遍體火焦，口乾舌燥，咳嗽吐沬，難於生子者，
人以為陰虛火動也，誰知是骨髓內熱乎，夫寒陰之地，固不生物，而乾旱之田，
豈能長養，然而骨髓與胞胎，何相關切，而骨髓之熱，即能使人不嗣，
此前賢所未言者也，山一旦創言之，不幾為世俗所駭乎，而要知不必駭也，
此中實有其理焉，蓋胞胎為五臟外之一臟耳，以其不陰不陽，所以不列於五臟之中，
所謂不陰不陽者，以胞胎上繫於心包，下繫於命門，繫心包者，通於心，心者陽也，
繫命門者，通於腎，腎者陰也，是陰之中有陽，陽之中有陰，所以通於變化，
或生男，或生女，俱從此出，然必陰陽協和，不偏不枯，始能變化生人，否則否矣，
況胞胎既通於腎，而骨髓亦腎之所化也，骨髓熱由於腎之熱，腎熱而胞胎，
亦不能不熱，且胞胎非骨髓之養，則嬰兒無以生骨，骨髓過熱，則骨中空虛，
惟存火烈之氣，又何能成胎，治法必須清骨中之熱，然骨熱由於水虧，必補腎之陰，
則骨熱除，珠露有滴濡之喜矣，壯水之主，以制陽光，此之謂也，
方用清骨滋腎湯。
治骨髓熱，所以不用熟地，方極善，用者萬勿加減，</p>
<p>凡峻藥，病去七分即止，不必拘泥三十劑六十劑之數，三元生人不一，
餘類推。
地骨皮（一兩酒洗），丹皮（五錢），沙參（五錢），麥冬（五錢去心），
元參（五錢酒洗），五味子（五分炒研），白朮（三錢土炒），石斛（二錢）
水煎，連服三十劑，而骨熱解，再服六十劑，自受孕，此方之妙，補腎中之精，
涼骨中之熱，不清胞胎，而胞胎自無太熱之患，然陰虛內熱之人，原易受妊，
今因骨髓過熱，所以受精而燥，以致難於育子，本非胞胎之不能受精，
所以稍補其腎，以殺其火之有餘，而益其水之不足，便易種子耳。</p>
<h2>腰酸腹脹不孕三十七</h2>
<p>婦人有腰酸背楚，胸滿腹脹，倦怠欲臥，百計求嗣，不能如願，
人以為腰腎之虛也，誰知是任督之困乎，夫任脈行於前，督脈行於後，
然皆從帶脈之上下而行也，故任脈虛則帶脈墜於前，督脈虛則帶脈墜於後，
雖胞胎受精，亦必小產，況任督之脈既虛，而疝瘕之症必起，疝瘕礙胞胎而外障，
則胞胎縮於疝瘕之內，往往精施而不能受，雖餌以玉燕，亦何益哉，
治法必須先去其疝瘕之病，而補其任督之脈，則提挈天地，把握陰陽，呼吸精氣，
包裹成形，力足以勝任而無虞矣，外無所障，內有所容，安有不能生育之理，
方用升帶湯。
此方為有疝瘕而設，故用沙參，荸薺粉，鱉甲，以破堅理氣，若無疝瘕，
去上三味，加杜仲，一錢半，炒黑，澤瀉，一錢半炒，甘枸杞，二錢，三味服之，
腰酸腹脹自除矣，鱉甲破氣，不可誤服，惟有疝瘕與肝鬱者宜之。
白朮（一兩土炒），人參（三錢），沙參（五錢），內桂（一錢去粗研），
荸薺粉（三錢）鱉甲（三錢炒），茯苓（三錢），半夏（一錢製），
神麯（一錢炒）
水煎，連服三十劑，而任督之氣旺，再服三十劑，而疝瘕之症除，
此方利腰臍之氣，正升補任督之氣也，任督之氣升，而疝瘕自有難容之勢，
況方中有肉桂以散寒，荸薺以祛積，鱉甲之攻堅，茯苓之利溼，有形自化於無形，
滿腹皆升騰之氣矣，何至受精而再墜乎哉。</p>
<h2>便澀腹脹足浮腫不孕三十八</h2>
<p>婦人有小水艱澀，腹脹腳踵，不能受孕者，人以為小腸之熱也，
誰知是膀胱之氣不化乎，夫膀胱原與胞胎相近，膀胱病而胞胎亦病矣，蓋水溼之氣，
必走膀胱，而膀胱不能自化，必得腎氣相通，始能化水，以出陰器，
倘膀胱無腎氣之通，則膀胱之氣化不行，水溼之氣，必且滲入胞胎之中，
而成汪洋之勢，汪洋之田，又何能生物也哉，治法必須壯腎氣以分消胞胎之溼，
益腎火以達化膀胱之水，使先天之本壯，則膀胱之氣化，胞胎之溼除，而汪洋之田，
化成雨露之壤矣，水化則膀胱利，火旺則胞胎煖，安有布種而不發生者哉，
方用化水種子湯。
便澀，腹脹，足浮腫，此症極多，不惟不能受孕，抑且漸添雜症，久而不愈，
甚有成勞瘵不治者，此方補水而不助溼，補火而使歸原，善極，不可加減一味，
若無好肉桂，以破故紙一錢，炒代之，用核桃仁二箇，連皮燒黑，去皮用仁作引，
若用好肉桂，即可不用核桃引。
巴戟（一兩鹽水浸），白朮（一兩土炒），茯苓（五錢），人參（三錢），
兔絲子（五錢酒炒），芡實（五錢炒），車前（二錢酒炒），肉桂（一錢去粗研）</p>
<p>水煎，服二劑，膀胱之氣化，四劑艱澀之症除，又十劑虛脹腳腫之病形消，
再服六十劑，腎氣大旺，胞胎溫煖，易於受胎而生育矣，此方利膀胱之水，
全在補腎中之氣，煖胞胎之氣，全在壯腎中之火，至於補腎之藥，多是濡潤之品，
不以溼而益助其溼乎，然方中之藥妙於補腎之火，而非補腎之水，
尤妙於補火而無燥烈之虞，利水而非蕩滌之猛，所以膀胱氣化，胞胎不溼，
而發榮長養無窮與。</p>
<p>女科下卷</p>
<h1>下卷</h1>
<h2>妊娠惡阻三十九</h2>
<p>婦人懷娠之後，惡心嘔吐，思酸解渴，見食憎惡，困倦欲臥，
人皆曰妊娠惡阻也，誰知肝血太燥乎，夫婦人受妊，本於腎氣之旺也，
腎旺是以攝精，然腎一受精而成娠，則腎水生胎，不暇化潤於五臟，而肝為腎之子，
日食母氣以舒，一日無津液之養，則肝氣迫索，而腎水不能應，則肝益急，
肝急則火動而逆也，肝氣既逆，是以嘔吐惡心之症生焉，嘔吐縱不至太甚，
而其傷氣則一也，氣既受傷，則肝血愈耗，世人用四物湯，治胎前諸症者，
正以其能生肝之血也，然補肝以生血，未為不佳，但生血不知生氣，則脾胃衰微，
不勝頻嘔，山恐氣虛衰則血不易生也，故於平肝補血之中，加以健脾開胃之品，
以生陽氣，則氣能生血，尤益胎氣耳，或疑氣逆而用補氣之藥，不益助其逆乎，
不知妊娠惡阻，其逆不甚，且逆是因虛而逆，非因邪而逆也，因邪而逆者，
助其氣則逆增，因虛而逆者，補其氣則逆轉，況補氣於補血之中，則陰足以制陽，
又何慮其增逆乎，宜用順肝益氣湯
亦有肝鬱氣滯，胸膈膨悶，見食不惡，不能多食，雖係妊娠，而非惡阻，
宜分別治之，後另有方。
方極效，但蘇子一兩，疑是一錢之誤，然國初上元生人，稟賦最壯，
或非用一兩不效，今當下元，用一錢可也，萬不可用一兩，疏肝化滯湯，全當歸，
酒洗，六錢，杭芍酒炒三錢，黨參，去蘆三錢，白扁豆，去皮四錢，雲苓二錢，
香附炒焦二錢，砂仁，炒研錢半，條芩炒焦八分，神麯，炒焦錢半，廣皮八分，
薄荷六分，甘草五分水煎服。
人參（一兩），當歸（一兩酒洗），蘇子（一兩炒研），白朮（三錢土炒），
茯苓（二錢），熟地（五錢九蒸），白芍（三錢酒炒），麥冬（三錢去心），
陳皮（三分），砂仁（一粒炒研），神麯（一錢炒）。
水煎，服一劑輕，二劑平，三劑全愈，此方平肝則肝逆除，補腎則肝燥息，
補氣則血易生，凡胎病而少帶惡阻者，俱以此方投之無不安，最有益於胎婦，
其功更勝於四物焉。</p>
<h2>妊娠浮腫四十</h2>
<p>妊婦有至五個月，肢體倦怠，飲食無味，先兩足腫，漸至遍身頭面俱腫，
人以為溼氣使然也，誰知是脾肺氣虛乎，夫妊娠雖有按月養胎之分，
其實不可拘於月數，總以健脾補肺為大綱，蓋脾統血，肺主氣，胎非血不蔭，
非氣不生，脾健則血旺而蔭胎，肺清則氣旺而生子，苟肺衰則氣餒，
氣餒則不能運氣於皮膚矣，脾虛則血少，血少則不能運血於肢體矣，氣與血兩虛，
脾與肺失職，所以飲食難消，精微不化，勢必至氣血下陷，不能升舉，
而溼邪即乘其所虛之處，積而成浮腫症，非由脾肺之氣血虛而然耶，
治法當補其脾之血，與肺之氣，不必祛溼，而溼自無不去之理，
方用加減補中益氣湯。
白朮一味，今多以蒼朮充之，於白朮偽者更多，白朮補胎，蒼朮打胎，
用者宜審，若恐其偽，以白扁豆山藥代之，較妥。
人參（五錢），黃耆（三錢生用），柴胡（一錢），甘草（一分），
當歸（三錢酒洗），白芍（五錢土炒），茯苓（一兩），升麻（三分），
陳皮（三分）。
水煎，服四劑即愈，十劑不再犯，夫補中益氣湯之立法也，原是升提脾肺之氣，
似乎益氣而不補血，然而血非氣不生，是補氣即所以生血，觀當歸補血湯，
用黃□為君，則較著彰明矣，況溼氣乘脾肺之虛而相犯，未便大補其血，
恐陰太盛而招陰也，只補氣而助以利溼之品，則氣升而水尤易散，血亦隨之而生矣，
然則何以重用茯苓，而至一兩，不幾以利溼為君乎，嗟嗟，溼症而不以此藥為君，
將以何者為君乎，況重用茯苓於補氣之中，雖曰滲溼，而仍是建脾清肺之意，
且凡利水之品，多是耗氣之藥，而茯苓與參朮合，實補多於利，所以重用之，
以分溼邪，即以補氣血耳。</p>
<h2>妊娠少腹疼四十一</h2>
<p>妊娠小腹作疼，胎動不安，如有下墜之狀，人只知帶脈無力也，
誰知是脾腎之虧乎，夫胞胎雖繫於帶脈，而帶脈實關於脾腎，脾腎虧損則帶脈無力，
胞胎即無以勝任矣，況人之脾腎虧損者，非飲食之過傷，即色慾之太甚，
脾腎虧則帶脈急，胞胎所以有下墜之狀也，然則胞胎之系，通於心與腎，
而不通於脾，補腎可也，何故補脾，然脾為後天，腎為先天，脾非先天之氣不能化，
腎非後天之氣不能生，補腎而不補脾，則腎之精何以遽生也，是補後天之脾，
正所以補先天之腎也，補先後二天之脾與腎，正所以固胞胎之氣與血，
脾腎可不均補乎，方用安奠二天湯。
人參一兩，無力者以黨參代之，無上黨參者，以嫩黃耆代之。</p>
<p>人參（一兩去蘆），熟地（一兩九蒸），白朮（一兩土炒），山藥（五錢炒），
山萸（五錢蒸去核），炙草（一錢），杜仲（三錢炒黑），枸杞（二錢），
扁豆（五錢炒去皮）
水煎，服一劑而疼止，二劑而胎安矣，夫胎動乃脾腎雙虧之症，
非大用參朮熟地補陰補陽之品，斷不能挽回於頃刻，世人往往畏用參朮，
或少用以冀建功，所以寡效，此方正妙在多用也。</p>
<h2>妊娠口乾咽痛四十二</h2>
<p>妊婦至三四個月，自覺口乾舌燥，咽喉微痛，無津以潤，以至胎動不安，
甚則血流如經水，人以為火動之極也，誰知是水虧之甚乎，夫胎也者，
本精與血之相結而成，逐月養胎，古人每分經絡，其實均不離腎水之養，
故腎水足而胎安，腎水虧而胎動，雖然，腎水又何能動胎，必腎經之火動，
而胎始不安耳，然而火之有餘，仍是水之不足，所以火炎而胎必動，補水則胎自安，
亦既濟之義也，惟是腎水不能遽生，必須滋補肺金，金潤則能生水，
而水有逢源之樂矣，水既有本，則源泉混混矣，而火又何難制乎，
再少加以清熱之品，則胎自無不安矣，方用潤燥安胎湯。
方極妙，用之立應，萬不可因咽痛而加豆根射干等藥，
亦不可因過潤而加雲苓。
熟地（一兩九蒸），生地（三錢酒炒），山萸肉（五錢蒸），
麥冬（五錢去心），五味（二錢炒），阿膠（二錢蛤粉炒），黃芩（一錢酒炒），
益母（二錢），
水煎，服二劑而燥息，再二劑而胎安，連服十劑而胎不再動矣，
此方專填腎中之精，而兼補肺，然補肺仍是補腎之意，故腎經不乾燥，則火不能灼，
胎焉有不安之理乎。</p>
<h2>妊娠吐瀉腹疼四十三</h2>
<p>妊婦上吐下瀉，胎動欲墮腹疼難忍，急不可緩，此脾胃虛極而然也，
夫脾胃之氣虛，則胞胎無力，必有崩墜之虞，況又上吐下瀉，則脾與胃之氣，
因吐瀉而愈虛，欲胞胎之無恙也得乎，然胞胎疼痛，而究不至下墜者何也，
全賴腎氣之固也，胞胎繫於腎而連於心，腎氣固則交於心，其氣通於胞胎，
此胞胎之所以欲墜而不得也，且腎氣能固，則陰火必來生脾，心氣能通，
則心火必來援胃，脾胃雖虛而未絕，則胞胎雖動而不墮，可不急救其脾胃乎，
然脾胃當將絕而未絕之時，只救脾胃而難遽生，更宜補其心腎之火，使之生土，
則兩相接續，胎自固而安矣，方用援土固胎湯。
白朮多偽，肉桂更無佳者，用者若有真藥，固妙，如無真藥，
白朮以白扁豆代之，肉桂以破故紙代之。
人參（一兩），白朮（二兩土炒），山藥（一兩炒），肉桂（二錢去粗研），
製附子（五分），續斷（三錢），杜仲（三錢炒黑），山萸（一兩蒸去核），
枸杞（三錢），兔絲子（三錢酒炒），砂仁（二粒炒研），炙草（一錢）。
水煎，服一劑而洩止，二劑而諸病盡愈矣，此方救脾胃之土十之八，
救心腎之火十之二也，救火輕於救土者，豈以土欲絕而火未甚衰乎，非也，
蓋土崩非重劑不能援，火衰雖小劑而可助，熱藥多用，必有太燥之虞，
不比溫甘之品也，況胎動係土衰而非火弱，何用太熱，妊娠忌桂附，是恐傷胎，
豈可多用，小熱之品，計之以錢，大熱之品，計之以分者，不過用以引火，
而非用以壯火也，其深思哉。</p>
<h2>妊娠子懸脅疼四十四</h2>
<p>妊婦有懷抱憂鬱，以致胎動不安，兩脅悶而疼痛，如弓上弦，
人止知是子懸之病也，誰知是肝氣不通乎，夫養胎半係於腎水，然非肝血相助，
則腎水實有獨力難支之勢，故保胎必滋腎水，而肝血斷不可不顧，使肝氣不鬱，
則肝之氣不閉，而肝之血必旺，自然灌溉胞胎，合腎水而並協養胎之力，
今肝氣因憂鬱而閉塞，則胎無血蔭，腎難獨任，而胎安得不上升以覓食，
此乃鬱氣使然也，莫認為子之欲自懸而妄用泄子之品則得矣，治法宜開肝氣之鬱結，
補肝血之燥乾，則子懸自定矣，方用解鬱湯。
方加薏仁米三四錢尤妙。</p>
<p>人參（一錢），白朮（五錢土炒），白茯苓（三錢），當歸（一兩酒洗），
白芍（一兩酒炒），枳殼（五分炒），砂仁（三粒炒研），山梔子（三錢炒），
薄荷（二錢）。
水煎服一劑而悶痛除，二劑而子懸定，至三劑而全安，去梔子，
再多服數劑不復發，此乃平肝解鬱之聖藥，鬱開則木不剋土，肝平則火不妄動，
方中又有健脾開胃之品，自然水精四布，而肝與腎有潤澤之機，
則胞胎自無乾燥之患，又何慮上懸之不愈哉。</p>
<h2>妊娠跌損四十五</h2>
<p>妊婦有失足跌損，致傷胎元，腹中疼痛，勢如將墮者，人只知是外傷之為病也，
誰知有內傷之故肚乎，凡人內無他症，胎元堅固，即或跌撲閃挫，依然無恙，
惟內之氣血素虧，故略有閃挫，胎便不安，若止作閃挫外傷治，斷難奏功，
且恐有因治而反墮者，可不慎與，必須大補氣血，而少加以行瘀之品，
則瘀散胎安矣，但大補氣血之中，又宜補血之品多於補氣之藥，則無不得之，
方用救損安胎湯
即用尋常白朮，土炒焦最妙，以其能理氣行血也，於白朮味過甘，
不能理氣行血，用者知之。
當歸（一兩酒洗），白芍（三錢酒炒），生地（一兩酒炒），
白朮（五錢土炒），炙草（一錢），人參（一錢），蘇木（三錢搗碎），
乳香（一錢去油），沒藥（一錢去油）。
水煎，服一劑而疼痛止，二劑而勢不下墜矣，不必三劑也，此方之妙，
妙在既能去瘀，而不傷胎，又能補氣補血，而不凝滯，固無通利之，亦痊跌閃之傷，
有益無損，大建奇功，即此方與，然不特治懷孕之閃挫也，即無娠閃挫亦可用之。</p>
<h2>妊娠小便下血病名胎漏四十六</h2>
<p>妊婦有胎不動，腹不疼，而小便中，時常有血流出者，人以為血虛胎漏也，
誰知氣虛不能攝血乎，夫血只能蔭胎，而胎中之蔭血，必賴氣以衛之，氣虛下陷，
則蔭胎之血亦隨氣而陷矣，然則氣虛下陷，而血未嘗虛，似不應與氣同陷也，
不知氣乃血之衛，血賴氣以固，氣虛則血無憑依，無憑依必燥急，燥急必生邪熱，
血寒則靜，血熱則動，動則外出而莫能遏，又安得不下流乎，倘氣不虛而血熱，
則必大崩，而不止些微之漏矣，治法宜補其氣之不足，而洩其火之有餘，
則血不必止，而自無不止矣，方用助氣補漏湯。
補血不用當歸妙。</p>
<p>人參（一兩），白芍（五錢酒炒），黃芩（三錢酒炒黑），
生地（三錢酒炒黑），益母草（一錢），續斷（二錢），甘草（一錢）。
水煎，服一劑而血止，二劑再不漏矣，此方用人參以補陽氣，
用黃芩以洩陰  火，火洩則血不熱，而無欲動之機，氣旺則血有依，
而無可漏之竅，氣血俱  旺而和協，自然歸經，而各安其所矣，
又安有漏洩之患哉。</p>
<h2>妊娠子鳴四十七</h2>
<p>妊婦懷胎，至七八個月，忽然兒啼腹中，腰間隱隱作痛，人以為胎熱之過也，
誰知是氣虛之故乎，夫兒之在胞胎也，全憑母氣以化成，母呼兒亦呼，母吸兒亦吸，
未嘗有一刻之間斷，至七八個月則母氣必虛矣，兒不能隨母之氣以為呼吸，
必有迫不及待之勢，母子原相依為命，子失母之氣，則拂子之意，而啼於腹中，
似可異而究不必異，病名子鳴，氣虛甚也，治宜大補其氣，使母之氣與子氣相合，
則子之意安，腹啼亦息矣，方用扶氣止啼湯。
黃耆用嫩黃耆不可用箭耆，箭耆係北口外苜蓿根。</p>
<p>人參（一兩），黃耆（一兩生用），麥冬（一兩去心），當歸（五錢酒洗），
橘紅（五分），甘草（一錢），花粉（一錢）。
水煎，服一劑而啼即止，二劑不再啼，此方用人參、黃耆、麥冬以補肺氣，
使肺氣旺，則胞胎之氣亦旺，胞胎之氣旺，則胞中之子氣，
有不隨母之氣以為呼吸者，未之有也。</p>
<h2>妊娠腰腹疼渴汗燥狂四十八</h2>
<p>婦人懷妊有口渴汗出，大飲冷水，而煩燥發狂，腰腹疼痛，
以致胎欲墮者人莫不謂火盛之極也，抑知是何經之火盛乎，此乃胃火炎熾，
熬煎胞胎之水，以致胞胎之水涸，胎失所養，故動而不安耳，夫胃為水穀之海，
多氣多血之經，所以養五臟六腑者，蓋萬物皆生於土，土氣厚而物始生，
土氣薄而物必死，然土氣之所以能厚者，全賴火氣之來生，胃之能化水穀者，
亦賴火氣之能化也，今胃中有火，宜乎生土，何以火盛而反致害乎，
不知無火難以生土，而火多又能爍水，雖土中有火土不死，然亦必有水方不燥，
使胃火太旺，必致爍乾腎水，土中無水，則自潤不足，又何以分潤胞胎，
土爍之極，火勢炎蒸，犯心越神，兒胎受逼安得不下墜乎，
經所謂二陽之病發心脾者，正此義也，治法必須洩火滋水，使水氣得旺，
則火氣自衰，火衰而胎狂燥渴自定矣，方用息焚安胎湯。
原方不可加減，娠妊燥狂，每誤有別症，不日痰甚，即云時疾傳經，
而置妊娠於不問誤服多藥，數月不愈，甚有打去胎，而以顧大人性命為名者，
更屬糊塗之極。
生地（一兩酒炒），青蒿（五錢），白朮（五錢土炒），茯苓（三錢），
人參（三錢），知母（二錢），花粉（二錢）。
水煎，服一劑而狂少平，二劑而狂大定，三劑而火盡解，胎亦安矣，
此方藥料頗重，恐人不勝而不敢全用，又不得不再為囑之，懷胎而火勝若此，
非大劑何以能蠲，火不息則狂不止，而胎能安耶，況藥料雖多均是滋水之味，
益而無損，勿過慮也。</p>
<h2>妊娠中惡四十九</h2>
<p>婦人懷子在身，痰多吐涎偶遇鬼神祟惡，忽然腹中疼痛，胎向上頂，
人疑為子懸之病也，誰知是中惡而胎不安乎，大凡不正之氣，最易傷胎，
故有孕之婦，斷不宜入廟燒香，與避靜陰寒之地，如古洞幽巖，皆不可登，
蓋邪祟多在神宇潛蹤，幽陰巖洞，亦其往來遊戲之所，觸之最易相犯，
不可不深戒也，況孕婦又多痰涎，眼目易眩，目一眩如有妄見，
此招祟之因痰而起也，人云，怪病每起於痰，其信然與，治法似宜以治痰為主，
然治痰必至耗氣，氣虛而痰難消化，胎必動搖，必須補氣以生血，補血以活痰，
再加以清痰之品，則氣血不虧，痰亦易化矣，方用消惡安胎湯。
輔正逐邪，方極平正，如此可知用金石之藥以化痰者，皆矜奇立異，欲速取效，
不知暗耗人之真氣，戒之。
當歸（一兩酒洗），白芍（一兩酒炒），白朮（五錢土炒），茯苓（五錢），
人參（三錢），甘草（一錢），陳皮（五分），花粉（三錢），蘇葉（一錢），
沈香（一錢研末）。
此方大補氣血，輔正邪自除之義也。</p>
<h2>妊娠多怒墮胎五十</h2>
<p>婦人有懷妊之後，未至成形，或已成形，其胎必墮，人皆曰氣血衰微，
不能固胎也，誰知是性急怒多，肝火大動而不靜乎，夫肝本藏血，肝怒則不藏，
不藏則血難固，蓋肝雖屬木，而木中實寄龍雷之火，所謂相火是也，相火宜靜，
而不宜動，靜則安，動則熾，況木中之火，又易動而難靜者也，人生在世，
無日非動靜之時，即無日非動火之時，尤加大怒，則火益動矣，火動而不可止遏，
則火勢飛揚，不能生氣化胎，而反食氣傷精矣，精傷則胎無所養，勢必不墜而不已，
經所謂少火生氣，壯火食氣，正此義也，治法宜平其肝中之火，利其腰臍之氣，
使氣生夫血而血清其火，則庶幾矣，方用利氣洩火湯。
性急怒多，而不用舒肝藥者，以其有胎娠故也，經云，胎病則母病，
胎安則母病自愈，所以妊娠一門，總以補氣養血安胎為主，則萬病自除矣。
人參（三錢），白朮（一兩土炒），甘草（一錢），熟地（五錢九蒸），
當歸（三錢酒洗），白芍（五錢酒炒），芡實（三錢炒），黃芩（二錢酒炒）。</p>
<p>水煎，服六十劑而胎不墜矣，此方名雖利氣，而實補氣也，
然補氣而不加以洩火之品，則氣旺而火不能平，必反害其氣也，
故加黃芩於補氣之中以洩火，又有熟地歸芍以滋肝，而壯水之主，
則血不燥而氣得利，怒氣息而火自平，不必利氣，而氣無不利，即無往而不利矣。</p>
<h2>行房小產五十一</h2>
<p>妊婦因行房顛狂，遂致小產血崩不止，人以為火動之極也，誰知是氣脫之故乎，
大凡婦人之懷妊也，賴腎水以蔭胎，水源不足，則火易沸騰，加以久戰不已，
則火必大動，再至興酣顛狂，精必大洩，精大洩則腎水益涸，而龍雷相火益熾，
水火兩病，胎不能固而墮矣，胎墮而火猶未息，故血隨火而崩下，有不可止遏之勢，
人謂火動之極，亦未為大誤也，但血崩本於氣虛，火盛本於水虧，腎水既虧，
則氣之生源涸矣，氣源既涸，而氣有不脫者乎，此火動是標，而氣脫是本也，經云，
治病必求其本，本固而標自立矣，若只以止血為主，而不急固其氣，
則氣散不能速回，而血何由止，不大補其精，則水涸不能遽長，而火且益熾，
不揣其本，而齊其末，山未見有能濟者也，方用固氣填精湯。
小產血崩，多由行房而致，若年逾四十，黃耆宜倍用。熟地宜減半，
蓋以其氣虛火衰也，否則每令氣脫不救，凡有妊娠者，須忍慾謹避房事，
萬勿自蹈危途，慎之。
人參（一兩），黃耆（一兩生用），白朮（五錢土炒），大熟地（一兩九蒸），
當歸（五錢酒洗），三七（三錢研末沖），芥穗（二錢炒黑）。
水煎，服一劑而血止，二劑而身安，四劑則全愈，此方之妙，
妙在不去清火，而惟去補氣補精，其奏功獨神者，以諸藥溫潤，能除大熱也，
蓋熱是虛，故補氣自能攝血，補精自能止血，意在本也。</p>
<h2>跌閃小產五十二</h2>
<p>妊婦有跌仆閃挫，遂致小產，血流紫塊，昏暈欲絕者，人皆曰瘀血作祟也，
誰知是血室損傷乎，夫血室與胞胎相連，如脣齒之相依，胞胎有傷，則血室亦損，
脣亡齒寒，理有必然也，然胞胎傷損而流血者，其傷淺，血室傷損而流血者，
其傷深，傷之淺者疼在腹，傷之深者暈在心，同一跌仆損傷，而未小產，與已小產，
治各不同，未小產而胎不安者，宜顧其胎，而不可輕去其血，已小產而血大崩，
宜散其瘀，而不可重傷其氣，蓋胎已墮，血既脫而血室空虛，惟氣存耳，
倘或再傷其氣，安保無氣脫之憂乎，經云，血為營，氣為衛。使衛有不固，
則營無依而安矣，故必補氣以生血，新血生而瘀血自散矣，
方用理氣散瘀湯。
胎未墮，宜加杜仲炒炭一錢，續斷炒黑一錢，若胎已墮，服原方，血崩不止，
加貫眾炭三錢，若血閉心暈，加元胡炭一錢。
人參（一兩），黃耆（一兩生用），當歸（五錢酒洗），茯苓（二錢），
紅花（一錢），丹皮（三錢），薑炭（五錢）。
水煎，服一劑而流血止，二劑而暈除，三劑而全安矣，
此方用人參黃耆以補氣氣血可攝也，用當歸丹皮以生血，血生則瘀難留也，
用紅花四薑以活血，血則暈可用茯苓以利水，水利則血易歸經也。</p>
<h2>大便乾結小產五十三</h2>
<p>妊婦有口渴煩燥，舌上生瘡，兩脣腫裂，大便乾結，數日不得通，
以致腹小產者，人皆曰大腸之火熱也，誰知是血熱爍胎乎，夫血所以養胎也，
溫和則胎受其益，太熱則胎受其損，如其熱以爍之，則兒在胞胎之中，
若有探湯之苦，難以存活，則必外越下奔，以避炎氣之逼迫，欲其胎之不墜也得乎，
然則血蔭乎胎，則血必虛耗，血者陰也，虛則陽亢，亢則害矣，且血乃陰水所化，
血日蔭胎，取給刻不容緩，而火熾陰水不能速生以化血，所以陰虛火動，
陰中無非火氣，血中亦無非火氣矣，兩火相合，焚逼兒胎，此胎之所以下墜也，
治法宜清胞中之火，補腎中之精，則可已矣，或疑兒已下墜，何故再顧其胞，
血不蔭胎，何必大補其水，殊不知火動之極，以致胎墜，則胞中純是一團火氣，
此火乃虛火也，實火可洩，而虛火宜於補中清之，則虛火易散，而真火可生，
倘一味清涼以降火，全不顧胞胎之虛實，勢必至寒氣逼人，胃中生氣蕭索矣，
胃乃二陽資養五臟者也，胃陽不生，何以化精微以生陰水乎，
有不變為勞瘵者幾希矣，方用加減四物湯。
此方加條芩一錢尤妙。</p>
<p>熟地（五錢九蒸），白芍（三錢生用），當歸（一兩酒洗），川芎（一錢），
山梔子（一錢炒），山萸（二錢蒸去核），山藥（三錢炒），丹皮（三錢）。
水煎，服四五劑而全愈矣。</p>
<h2>畏寒腹疼小產五十四</h2>
<p>妊婦有畏寒腹疼，因而墮胎者，人只知下部太寒也，誰知是氣虛，不能攝胎乎，
夫人生於火，亦養於火，非氣不充，氣旺則火旺，氣衰則火衰，人之所以坐胎者，
受父母先天之真火也，先天之真火，即先天之真氣以成之，故胎成於氣，亦攝於氣，
氣旺則胎牢，氣衰則胎墮，胎日加長，而氣日加衰，安得不墮哉，況又遇寒氣外侵，
則內之火氣更微，火氣微則長養無資，此胎之不能不墮也，使當其腹疼之時，
即用人參乾薑之類，補氣祛寒，則可以疼止而胎安，無如人拘於妊娠之藥，
禁而不敢用，因致墮胎，而僅存幾微之氣，不急救氣，尚有何法，
方用黃耆補氣湯。
肉桂須用好的，如無佳者，用炮姜代之，或一錢二錢，皆可，不可祇用五分。</p>
<p>黃耆（二兩生用），當歸（一兩酒洗），肉桂（五分去粗皮研）。</p>
<p>水煎，服五劑愈矣，倘認定是寒，大用辛熱，全不補氣與血，恐過於燥熱，
反致亡陽而變危矣。</p>
<h2>大怒小產五十五</h2>
<p>妊婦有大怒之後，忽然腹疼吐血，因而墮胎，及墮胎之後，腹疼仍未止者，
人以為肝之怒火未退也，誰知是血不歸經而然乎，夫肝所以藏血者也，
大怒則血不能藏，宜失血而不當墮胎，何為失血而胎亦隨墮乎，不知肝性最急，
血門不閉，其血直搗於胞胎，胞胎之系，通於心腎之間，肝血來沖，
必斷絕心腎之路，胎因心腎之路斷，胞胎失水火之養，所以墮也，胎既墮矣，
而腹疼如故者，蓋因心腎未援，欲續無計，彼此痛傷，肝氣欲歸於心，而心不受，
欲歸於腎，而腎不納，故血猶未靜，而疼無已也，治法宜引肝之血，仍入於肝，
而腹疼自己矣，然徒引肝之血，而不平肝之氣，則氣逆而不易轉，
即血逆而不易歸也，方用引氣歸血湯。
產後忌用白芍，因其酸寒也，胎墮後用白芍五錢，惟上元生人可，若下元生人，
萬不可用，必不得已而用之，將白芍炒炭，用三錢可也，餘藥如法製
白芍（五錢酒炒），當歸（五錢酒洗），白朮（三錢土炒），甘草（一錢），
黑芥穗（三錢），丹皮（三錢），薑炭（五分），香附（五分酒炒），
麥冬（二錢去心），鬱金（一錢醋炒）。
水煎服，此方名為引氣，其實仍是引血也，引血亦所以引氣，
氣歸於肝之中，血亦歸於肝之內，氣血兩歸，而腹疼自止矣。</p>
<h2>血虛難產五十六</h2>
<p>妊娠有腹疼數日，不能生產，人皆曰氣虛力弱，不能送子出產門，
誰知是血虛膠滯，胞中無血，兒難轉身乎，夫胎之成，成於腎臟之精，而胎之養，
養於五臟六腑之血，故血旺則子易生，血衰則子難產，所以臨產之前，
宜用補血之藥，補血而血不能遽生，必更兼補氣以生之，然不可純補其氣也，
恐陽過於旺，則血仍不足，偏勝之害，必有升而無降，亦難產之漸也，防微杜漸，
其惟氣血兼補乎，使氣血並旺，則氣能推送而血足以濟之，是汪洋之中，
自不難轉身也，又何有膠滯之患乎，方用送子丹。
方妙，若頭產交骨不開，加炙龜板尾三錢，生過子婦人頂心髮三錢，洗淨，
用新瓦一個，置火上焙髮成灰，入藥同煎，服下即效。
生黃耆（一兩），當歸（一兩酒洗），麥冬（一兩去心），熟地（五錢九蒸），
川芎（三錢）。
水煎，服二劑而生矣，且無橫生倒產之患，此補血補氣之藥也，二者相較，</p>
<p>補血之味，多於補氣之品，蓋補氣止用黃耆一味，其餘無非補血之品，血旺，
氣得所養，氣生，血得所依，胞胎潤澤，自然易產，譬如舟遇水淺之處，
雖大用人力，終難推行，忽逢春水泛濫，舟自躍躍欲行，再得順風以送之，
有不揚帆而迅行者乎。</p>
<h2>交骨不開難產五十七</h2>
<p>妊婦有兒到產門，竟不能下，此危急存亡之時也，人以為胞胎先破，
水乾不能滑利也，誰知是交骨不開之故乎，蓋產門之上，原有骨二塊，兩相鬥合，
名曰交骨，未產之前，其骨自合，若天衣之無縫，臨產之際，其骨自開，
如開門之見山，婦人兒門之肉，原自斜生，皮亦橫長，實可寬可窄，可大可小者也，
苟非交骨連絡，則兒門必然大開，可以手入探取胞胎矣，此交骨為兒門之下關，
實婦人鎖鑰之鍵，此骨不閉，則腸可直下，此骨不開，則兒難降生，
然而交骨之能開能合者，氣血主之也，血旺而氣衰，則兒雖向下，而兒門不開，
氣旺而血衰，則兒門可開，而兒難向下，是氣所以開交骨，血所以轉兒身也，
欲生產之順利，非大補氣血不可，然交骨之閉甚易，而交骨之開甚難，
臨產交骨不開者，多由於產前貪慾洩精大甚，精洩則氣血失生化之本而大虧矣，
氣血虧則無以運潤於兒門，而交骨粘滯不開矣，故欲交骨之開，
必須於補氣補血之中，而加開骨之品，兩相合治，自無不開之患，不必催生，
而兒自迅下，母子俱無恙矣，方用降子湯。
方為子已臨門救急而設，若子未臨門，血虛難產，宜服前送子丹，
不可遽服此方。
當歸（一兩），人參（五錢），川芎（五錢），紅花（一錢），
川牛膝（三錢），柞木枝（一兩）
水煎，服一劑，兒門必響亮一聲，交骨開解，而兒乃降生矣，
此方用人參以補氣，芎歸以補血，紅花以活血，牛膝以降下，柞木枝以開關解骨，
君臣佐使，同心協力，所以取效如神，在用開於補之中也，然單用柞木枝，
亦能開骨，但不補氣與血，恐開而難合，未免有下部中風之患，
不若此方之能開能合之為神妙也，至於兒未臨門之時，萬不可先用柞木以開其門，
然用降子湯，亦正無妨，以其能補氣血耳，若欲單用柞木，必須候到門而後可。</p>
<h2>腳手先下難產五十八</h2>
<p>妊婦生產之際，有腳先下而兒不得下者，有手先下而兒不得下者，
人以為橫生倒產，至危之症也，誰知是氣血兩虛之故乎，夫兒在胞胎之中，
兒身正坐，男面向後女面向前，及至生時，頭必旋轉而向下生，此天地造化之奇，
非人力所能勉強者，雖然，先天與後天，原並行而不悖，天機之動，
必得人力以濟之，所謂人力者，非產母用力之謂也，謂產母之氣與血耳，
產母之氣血足，則胎必順，產母之氣血虧，則胎必逆，順則易生，逆則難產，
氣血既虧，母身必弱，子在胞中亦必弱，胎弱無力，欲轉頭向下而不能，
此胎之所以有腳手先下者也，當是之時，急用針刺兒之手足，則兒必痛而縮入，
急用轉天湯以救順之。
若服三劑後，以針刺兒手足，仍不轉身，以針刺產婦合骨穴，兒即下，
萬不可使穩婆用手探取以致子母俱危，戒之。
人參（二兩），當歸（二兩酒洗），川芎（一兩），川牛膝（三錢），
升麻（四分），附子（一分製）。
水煎，服一劑而兒轉身矣，再二劑自然順生，此方之妙，用人參以補氣之虧，
用芎歸以補血之虧，人人皆知其義，若用升麻，又用牛膝、附子，恐人未識其妙也，
蓋兒已身斜，非用提潔，則頭不易轉，然轉其身非用下行，則身不易降，
升麻牛膝並用，而又用附子者，欲其無經不達，使氣血迅速以催生也。</p>
<h2>氣逆難產五十九</h2>
<p>婦人有生產數日，而胎不下者，服催生之藥，皆不見效，人以為交骨之難開也，
誰知是氣逆不行而然乎，夫交骨不開，固是難產，然兒頭到產門而不能下者，
方是交骨不開之故，自當用開骨之劑，若兒頭尚未到產門，乃氣逆不行，
兒身難轉耳，非交骨不開之故也，若開其交骨，則兒門大開，兒頭未轉而向下，
必致變症非常，是兒門萬萬不可輕開也，大凡生產之時，切忌坐草太早，
若兒未轉頭，原難驟生，乃早於坐草，產婦見兒許久不下，未免心懷恐懼，
恐則神怯，怯則氣下而不能升，氣既不升，則上焦閉塞而氣乃逆矣，上氣既逆，
而上焦必脹滿而氣益難行，氣沮滯於上下之間，不利氣而徒催生，則氣愈逆，
而胎愈閉矣，治法但利其氣，兒自轉身而下矣，方用舒氣散。
凡臨產三日前，必先腹痛一小次，名曰試痛，此時萬勿坐草臨盆，
但將包兒諸物預備現成，不可早叫穩婆來，過三日後，腹若大痛，方叫穩婆來，
不可令產婦見面，暫讓別室靜待，不可高言，蓋穩婆名曰收生，使其兩手接收，
不欲兒隨地受傷，非穩婆別有妙法也，若穩婆來之，即令產婦見面，彼必胡言亂語，
用力太早，必致難產，百變叢生，戒之慎之。
人參（一兩），當歸（一兩酒洗），川芎（五錢），白芍（五錢酒炒），
柴蘇梗（三錢），牛膝（三錢），陳皮（一錢），柴胡（八分）
蔥白七寸，水煎，服一劑而逆氣轉，兒即下矣，此方利氣而實補氣，
蓋氣逆由於氣虛，氣虛易於恐懼，補其氣而恐懼自定，恐懼定而氣逆者，
將莫知其何以定也，何必開交骨之多事乎哉。</p>
<h2>子死產門難產六十</h2>
<p>婦人有生產三四日，兒已到產門，交骨不開，兒不得下，子死而母未亡者，
服開骨之藥不驗，當有死亡之危，今幸而不死者，正因其子死，而胞胎下墜，
子母離開，母氣已收，未至同子氣俱絕也，治但救其母，而不必顧其子矣，
然死子在產門，塞其下口，亦有致母死亡之道，宜用推送之法，補血以生水，
補氣以生血，使氣血兩旺，死子可出，而存母命也，倘徒用降子之劑以墜之，
則死子未必下，而母氣先脫矣，非救援之善者也，山親見此等之症，常用救母丹，
活人頗多，故誌之。方妙，不可加減。。
人參（一兩），當歸（二兩酒洗），川芎（一兩），益母草（一兩），
赤石脂（一錢），芥穗（三錢炒黑）
水煎，服一劑而死子下矣，方用芎歸以補血，人參以補氣，氣旺血旺，
則上能升，而下能降，氣能推而血能送，況益母又善下死胎，石脂能下瘀血，
自然一湧而出，無少阻滯矣。</p>
<h2>子死腹中難產六十一</h2>
<p>婦人有生產六七日，胎衣已破，而子不見下，人以為難產之故也，
誰知是子已死於腹中乎，夫兒死於兒門之邊易辨，而死於腹中難識，
蓋兒已到產門之邊未死者，頭必能伸能縮，已死者必然不動，即以手推之，
亦必不動如故，若係未死，用手少拔其兒之髮，兒必退入，故曰易辨，
若兒死在腹中，何從而知之，然實有可辨而知之者，凡子死腹中，而母可救者，
產母之面，必無煤黑之氣，是子死而母無死氣也，子死腹中，而母難救，
產母之面必有煙燻之氣，是子死而母亦無生機也，以此辨死生，斷斷不爽也，
既知兒死腹中，不能用藥以降之，危道也，若用霸道以洩之，亦危道也，
蓋生產至六七日，其母之氣必甚困乏，烏能勝霸道之治，如用霸道以強逐其死子，
恐死子下而母亦立亡矣，必須仍補其母，使母之氣血旺，而死子自下也，
方用療兒散
下死胎，不用厚朴妙，曾有產婦面黑舌青，用補氣養血活血之藥，
而子母復得皆全者，亦萬中之一幸也。
人參（一兩），當歸（二兩酒洗），川牛膝（五錢），鬼臼（三錢研水飛），
乳香（二錢去油），
水煎，服一劑，死子下，而母生矣，凡兒之降生，必先轉其頭，
原因其母氣血之虛，以致兒不能轉頭以向下，世人用催生之藥，以耗兒之氣血，
則兒之氣不能通達，反致閉悶而死於腹中，此實庸醫殺之也，所以難產之疾，
斷斷不可用催生之藥，只宜補氣補血以壯其母，而全活嬰兒之命，正無窮也，
此方救兒死之母，仍大補氣血，所以救其本也，誰知救本即所以催生哉。</p>
<h2>正產胞衣不下六十二</h2>
<p>產婦有兒已下地，而胞衣留滯於腹中二三日不下，心煩意燥，時欲昏暈，
人以為胞衣之蒂未斷也，誰知是血少乾枯，粘連於腹中乎，世人見胞衣不下，
未免心懷疑懼，恐其沖之於心，而有死亡之兆，然而胞衣究何能上沖於心也，
但胞衣不下，瘀血未免難行，恐有血暈之虞耳，治法仍宜大補其氣血，
使生血以送胞衣，則胎衣自然潤滑，潤滑則易下，生氣以助生血，則血生自然迅速，
尤易催墜也，方用送胞湯。
當歸（二兩酒洗），川芎（五錢），益母草（一兩），乳香（一兩不去油），
沒藥（一兩不去油），芥穗（三錢炒黑），麝香（五釐研另沖）。
水煎服立下，此方以芎歸補其氣血，以荊芥引血歸經，用益母乳香等藥，
逐瘀而下胞衣，新血既生，則舊血難存，氣旺上升，而瘀濁自降，尚有留滯之苦哉，
夫胞衣是包兒之一物，非依於子，即依於母，子生而不隨子俱下，以子之不可依也，
故留滯於腹，若有回順其母之心，母胞雖已生子，而其蒂間之氣，原未遽絕，
所以留連欲脫而未脫，往往有存腹六七日不下，而竟不腐爛者，正以其尚有生氣也，
可見胞衣留腹不能殺人，補之而自降耳，或謂胞衣既有生氣，補氣補血，
則胞衣亦宜堅牢，何以補之而反降也，不知子未下，補則益於子，子已下，
補則益於母，益子而胞衣之氣連，益母而胞衣之氣脫，此胞胎之氣關通則兩合，
閉則兩開矣，故大補氣血，而胞衣反降也。
有婦人子下地五六日，而胞衣留於腹中，百計治之，竟不能下，
而又絕無昏暈煩燥之狀，人以為瘀血之粘連也，誰知是氣虛不能推送乎，
夫瘀血在腹，斷無不作祟之理，有則必然發暈，今安然無恙，是血已淨矣，
血淨宜清氣升，而濁氣降，今胞衣不下，是清氣下降而難升，遂至濁氣上浮而難降，
然濁氣上升，又必有煩燥之病，今亦安然者，是清濁之氣兩不能升也，
然則補其氣不無濁氣之上升乎，不知清升而濁降者，一定之理，
未有清升而濁亦升者也，苟能於補氣之中，仍分其清濁之氣，則升清正所以降濁也
，方用補中益氣湯。
方極效。</p>
<p>人參（三錢），生黃耆（一兩），柴胡（三分），炙草（一分），
當歸（五錢），白朮（五分土炒），升麻（三分），陳皮（二分），
萊菔子（五分炒研），
水煎，服一劑而胞衣自下矣，夫補中益氣湯，乃提氣之藥也，並非推送之劑，
何以能降胞衣如此之速也，然而濁氣之不降者，由於清氣之不升也，
提其氣則清升而濁降，濁氣降則腹中所存之物，即無不隨濁氣而盡降，
正不必再用推送之法也，況又加萊菔子數分，能理濁氣，不至兩相扞格，
所以奏功之奇也。</p>
<h2>正產氣虛血暈六十三</h2>
<p>婦人甫產兒後，忽然眼目昏花，嘔惡欲吐，中心無主，或神魂外越，
恍若天上行雲，人以為惡血沖心之患也，誰知是氣虛欲脫而然乎，蓋新產之婦，
血必盡傾，血室空虛，止存幾微之氣，倘其人陽氣素虛，不能生血，心中之血，
前已蔭胎，胎墮，而心中之血亦隨胎而俱墮，心無血養，所賴者，
幾微之氣以固之耳，今氣又虛而欲脫，而君心無護，所剩殘血，欲奔回救主，
而血非正血，不能歸經，內庭變亂，而成血暈之症矣，治法必須大補氣血，
斷不可單治血暈也，或疑血暈是熱血上沖，而更補其血，不愈助其上沖之勢乎，
不知新血不生，舊血不散，補血以生新血，正活血以逐舊血也，然血有形之物，
難以速生，氣乃無形之物，易於迅發，補氣以生血，尤易於補血以生血耳，
方用補氣解暈湯。
原方極效，不可加減。</p>
<p>人參（一兩），生黃耆（一兩），當歸（一兩不酒洗），黑芥穗（三錢），
薑炭（一錢）
水煎，服一劑而暈止，二劑而心定，三劑而血生，四劑而血旺，再不暈矣，
此乃解暈之聖藥，用參耆以補氣，使氣壯而生血也，用當歸以補血，
使血旺 而養氣也，血氣兩旺，而心自定矣，用荊芥炭引血歸經，
用薑炭以行瘀引陽，瘀血去而正血歸，不必解暈，而暈自解矣，一方之中，
藥止五味，而其奏功之奇而大如此，其神矣乎。</p>
<h2>正產血暈不語六十四</h2>
<p>產婦有子方下地即昏暈不語，此氣血兩脫也，本在不救，然救之得法，
亦有能生者，山得岐天師祕訣，何敢隱而不宣乎，當斯之時，急用銀針刺其眉心，
得血出則語矣，然後以人參一兩，煎湯灌之，無不生者，即用黃耆二兩，當歸一兩，
名當歸補血湯，煎湯一碗灌之，亦得生，萬不可於二方之中，輕加附子，
蓋附子無經不達，反引氣血之藥，走而不守，不能專注於胞胎，不若人參歸耆，
直救其氣血之絕，聚而不散也，蓋產婦昏暈，全是血室空虛，無以養心，以致昏暈，
舌為心之苗，心既無主，而舌又安能出聲耶，夫眉心之穴，上通於腦，下通於舌，
而其系則連於心，刺其眉心，則腦與舌俱通，而心之清氣上升，則瘀血自然下降矣，
然後以參耆當歸之能補氣生血者，煎湯灌之，則氣與血接續，又何至於死亡乎，
雖單用參耆當歸，亦有能生者，然終不若先刺眉心之為更妙，世人但知炙眉心之法，
不知刺更勝於炙，蓋炙法緩而刺法急，緩則難於救絕，急則易於回生，
所謂急則治其標，緩則治其本者此也。</p>
<h2>正產敗血攻心暈狂六十五</h2>
<p>婦人有產後二三日，發熱，惡露不行，敗血攻心，狂言呼叫，甚欲奔走，
拏捉不定，人以為邪熱在胃之過，誰知是血虛，心不得養而然乎夫產後之血，
盡隨胞胎而外越，則血室空虛，臟腑皆無血養，只有心中之血，尚存幾微，
以護心君，而臟腑失其所養，皆欲取給於心，心包為心君之宰相，攔絕各臟腑之氣，
不許人入心，始得心神安靜，是護心者，全藉心包之力也，使心亦虛，不能障心，
而各臟腑之疑氣，遂直入於心，以分取乎心血，心包情急，即不能內顧其君，
又不能外禦乎眾，於是大聲疾呼，號鳴勤王，而其跡象反近於狂悖，
有無可如何之勢，故病狀似熱而實非熱也，治法須大補心中之血，
使各臟腑分取以自養，不得再擾乎心君，則心君泰然而心包亦安矣，
方用安心湯。
服藥後狂定，宜服加味生化湯，當歸，酒洗，一兩一錢，川芎，二錢桃仁，
錢半，研，荊芥穗，炒炭，一錢，丹皮錢半，服四劑妙。
當歸（二兩），川芎（一兩），生地（五錢炒），丹皮（五錢），
生蒲黃（二錢）。
乾荷葉一片引，水煎，服一劑而狂定，惡露亦下矣，此方用芎歸以養血，
何以又用生地丹皮之涼血，似非產後所宜，不知惡露所以奔心，原因虛熱相犯，
於補中涼之，而涼不為害，況益之以荷葉，七竅相通，引邪外出，不惟內不害心，
且佐蒲黃以分解乎惡露也，但只可暫用以定狂，不可多用以取咎也，謹之慎之。</p>
<h2>正產腸下六十六</h2>
<p>產婦腸下，亦危症也，人以為兒門不關之故，誰知是氣虛下陷，而不能收乎，
夫氣虛下陷，自宜用升提之藥，以提其氣，然新產之婦，恐有瘀血在腹，一旦提氣，
並瘀血升騰於上，則沖心之患，又恐變出非常，是氣又不可竟提也，氣既不可竟提，
而氣又下陷，將用何法以治之哉，蓋氣之下陷者，因氣之虛也，但補其氣，
則氣旺而腸自升舉矣，惟是補氣之藥少，則氣力薄，而難以上升，必須以多為貴，
則陽旺力強，斷不能降而不升矣，方用補氣升腸飲。
生產有子未下，腸先下者，名盤腸生，勿遽服此方，急取一淨盆，用開水洗熱，
將腸置於盆內，靜侍，勿懼，子下後，腸即徐徐收回，若時久，盆與腸俱冷，
不能速收，急用開水一盆待溫，以入得手為度，將溫水傾於置腸盆內，腸熱氣充，
即可收起矣，若子先下，急服此方，少遲，恐氣脫不救。
前後二方極效，不必加減。</p>
<p>人參（一兩土蘆），生黃耆（一兩），當歸（一兩酒洗），白朮（五錢土炒），
川芎（三錢酒洗），升麻（一分）。
水煎，服一劑而腸升矣，此方純於補氣，全不去升腸，即如用升麻一分，
亦不過引氣而升耳，蓋升麻之為用，少則氣升，多則血升也，不可不知，
又方用萆麻仁四十九粒，搗塗頂心以提之，腸升即刻洗去，時久則恐吐血，
此亦升腸之一法也。</p>
<h2>產後少腹疼六十七</h2>
<p>婦人產後，少腹疼痛，甚則結成一塊，按之愈疼，人以為兒枕之疼也，
誰知是瘀血作祟乎，夫兒枕者，前人謂兒頭枕之物也，兒枕之不疼，
豈兒生不枕而反疼，是非兒枕可知矣，既非兒枕，何故作疼，乃是瘀血未散，
結作成團而作疼耳，凡此等症，多是壯健之婦血有餘，而非血不足也，
似乎可用破血之藥，然血活則瘀自除，血結則瘀作祟，若不補血，而反敗血，
雖瘀血可消，畢竟耗損難免，不若於補血之中，以行逐瘀之法，則氣血不耗，
而瘀亦盡消矣，方用散結定疼湯。
當歸（一兩酒洗），川芎（五錢酒洗），丹皮（二錢），益母草（三錢），
黑芥穗（二錢），乳香（一錢去油），山查（十粒炒黑），
桃仁（七粒泡去皮尖炒研）
水煎，服一劑而疼止而愈，不必再劑也，此方逐疼於補血之中，
消塊於生血之內，妙在不專攻疼病，而疼病止，彼世人一見兒枕之疼動，
用元胡蘇木蒲黃靈脂之類以化塊，又何足論哉。
婦人產後，少腹疼痛，按之即止，人亦以為兒枕之疼也，誰知是血虛而然乎，
夫產後亡血過多，血室空虛，原能腹疼，十婦九然，但疼有虛實之分，不可不辨，
如燥糖觸體光景，是虛疼而非實疼也，大凡虛疼宜補，而產後之虛疼，尤宜補焉，
惟是血虛之疼，必須用補血之藥，而補血之味，多是潤滑之品，恐與大腸不無相礙，
然產後血虛，腸多乾燥，潤滑正相宜也，何礙之有，方用腸寧湯。
當歸（一兩酒洗），熟地（一兩九蒸），人參（三錢），麥冬（三錢去心），
阿膠（三錢蛤粉炒），山藥（三錢炒），續斷（二錢），甘草（一錢），
肉桂（二分去粗研）
水煎，服一劑而疼輕，二劑而疼止，多服更宜，此方補氣補血之藥也，
然補氣而無太鬱之憂，補血而無太滯之患，氣血既生，不必止疼而疼自止矣。</p>
<h2>產後氣喘六十八</h2>
<p>婦人產後氣喘，最是大危之症，苟不急清，立刻死亡，人只知是氣血之虛也，
誰知是氣血兩脫乎，夫既氣血兩脫，人將立死，何又能作喘，然此血將脫，
而氣猶未脫也，血脫欲留，而氣不能留挽乎血之脫，而氣反上喘，如人與賊鬥，
而力不勝賊之強，又不肯自安於不鬥，乃召號同志，以求鄰人之助，故呼聲而喘作，
其症雖危，而可救處正在能作喘也，蓋肺主氣，喘則肺氣似盛，
而不知實肺氣之衰也，當是之時，血將脫而萬難驟生，望肺氣之相救甚急，
若赤子之望慈母然，而肺因血失，止存幾微之氣，自顧尚且不暇，又何能提挈乎血，
氣不與血俱脫者幾希矣，是救血必須補氣也，方用救脫活母湯。
方妙，不可加減。</p>
<p>人參（二兩），當歸（一兩酒洗），熟地（一兩九蒸），枸杞子（五錢），
山萸（五錢蒸去核），麥冬（一兩去心），阿膠（二錢蛤粉炒），
肉桂（一錢去粗研），黑芥穗（二錢）
水煎，服一劑而喘輕，二劑而喘減，三劑而喘定，四劑而全愈矣，此方用人參，
以接續元陽，然徒補其氣而不補其血，則陽燥而狂，雖回生於一時，
亦旋得旋失之道，即補血而不補其肝腎之精，則本原不固，陽氣又安得而續乎，
所以又用熟地山萸  枸杞之類，以大補其肝腎之精，而後大益其肺氣，
則肺氣健旺，升提有力矣，特慮新產之後，用補陰之藥，膩滯不行，
又加肉桂以補命門之火，使火氣有根，助人參以生氣，且能運化地黃之類，
以化精生血，若過於助陽，萬一血隨陽動，瘀而上行，亦非保全之策，
更加荊芥以引血歸經，則肺氣安而喘速定，治幾其神乎。</p>
<h2>產後惡寒身顫六十九</h2>
<p>婦人產後，惡寒惡心，身體顫，發熱作渴，人以為產後傷寒也，
誰知是氣血兩虛，正不敵邪而然乎，大凡人之氣不虛，則邪斷難入，產婦失血既多，
則氣必大虛，氣虛則皮毛無衛，邪原易入，正不必戶外之風來襲體也，即一舉一動，
風即可乘虛而入之，然產後之婦，風易入而亦易出，凡有外邪之感，俱不必祛風，
況產婦之惡寒者，寒由內生也，發熱者，熱由內弱也，身顫者，顫由氣虛也，
治其內寒，而外寒自散，治其內弱，而外熱自解，壯其元陽，而身顫自除，
方用十全大補湯。
宜連服數劑，不可只服一劑。</p>
<p>人參（三錢），白朮（三錢土炒），茯苓（三錢去皮），甘草（一錢炙），
川芎（一錢酒洗），當歸（三錢酒洗），熟地（五錢九蒸），白芍（二錢酒炒），
黃耆（一兩生用），肉桂（一錢去粗研）。
水煎，服一劑而諸病悉愈，此方但補氣與血之虛，而不去散風與邪之實，
正以正足而邪自除也，況原無邪氣乎，所以奏功之捷也。</p>
<h2>產後惡心嘔吐七十</h2>
<p>婦人產後，惡心欲嘔，時而作吐，人皆曰胃氣之寒也，誰知是腎氣之寒乎，
夫胃為腎之關，胃之氣寒，則胃氣不能行於腎之中，腎之氣寒，
則腎氣亦不能行於胃之內，是腎與胃不可分而兩之也，惟是產後失血過多，
必致腎水乾涸，腎水涸應腎火上炎，當不至胃有寒冷之虞。何故腎寒而胃亦寒乎，
蓋新產之餘，水乃遽然涸去，虛火尚不能生，火既不生，而寒之象自現，
治法宜補其腎中之火，然火無水濟，則火在水上，未必不成火動陰虛之症，
必須於水中補火，腎中溫胃，而後腎無太熱之患，胃有既濟之歡也，
方用溫腎止嘔湯。
服此方，必待惡露盡後，若初產一二日之內，惡心欲嘔，乃惡露上衝，
宜服加味生化湯，全當歸一兩酒洗，川芎二錢，炮薑一錢，東查炭二錢，
桃仁一錢研用無灰黃酒一鍾，水三鍾同煎。
熟地（五錢九蒸），巴戟（一兩鹽水浸），人參（三錢），白朮（一兩土炒），
山萸（五錢蒸去核），炮薑（一錢），茯苓（二錢去皮），白寇（一粒研），
橘紅（五分薑汁洗）。
水煎，服一劑而嘔吐止，二劑不再發，四劑而全愈矣，此方補腎之藥，
多於治胃之品，然而治腎仍是治胃也，所以腎氣升騰，而胃寒自解，
不必用大熱之劑溫胃而祛寒也。</p>
<h2>產後血崩七十一</h2>
<p>少婦產後半月，血崩昏暈，目見鬼神，人皆曰惡血沖心也，
誰知是不慎房幃之過乎，夫產後業踰半月，氣血雖不比其初產之二三日，
而新氣血初生，尚未全復，即血路已淨，而胞胎之損傷未痊，斷不可輕於一試，
以重傷其門戶，無奈少嬌之婦，氣血初復，不知慎養，慾心大動，貪合圖歡，
以致血崩昏暈，目見鬼神，是心腎兩傷，不特胞胎門戶已也，明明是既犯色戒，
又加酣戰，以致大洩其精，精洩而神亦隨之而欲脫，此等之症，乃自作之孽，
多不可活，然於不可活之中，而思一急救活之法，舍大補其氣與血，別無良法也
，方用救敗求生湯。
亦有中氣素虛，產後頃刻，血崩不止，氣亦隨之而脫，此至危之證，
十常不救者八九，惟用獨參湯尚可救活一二，遼人參，去蘆，五錢，打碎急煎，
遲則氣脫不及待矣，煎成後徐徐灌之，待氣回再煎一服，灌之，其餘治法，
參看血崩門，但產後不可用杭芍炭，以及諸涼藥，然此證皆係臨產一二日前，
入房久戰所致，戒之。
人參（二兩），當歸（二兩酒洗），白朮（二兩土炒），九蒸熟地（一兩），
山萸（五錢蒸），山藥（五錢炒），棗仁（五錢生用），
附子（一分或一錢自製）。
水煎，服一劑而神定，二劑而暈止，三劑而血亦止矣，倘一服見效，
連服三四劑，減去一半，再服十劑，可慶更生，此方補氣以回元陽於無何有之鄉，
陽回而氣回，自可攝血以歸神，生精而續命矣。</p>
<h2>產後手傷胞胎淋漓不止七十二</h2>
<p>婦人有生產之時，被穩婆手入產門，損傷胞胎，因而淋漓不止，
欲少忍須臾而不能，人謂胞破不能再補也，孰知不然，夫破傷皮膚，尚可完補，
豈破在腹內者，獨不可治療，或謂破在外，可用藥外治，以生皮膚，破在內，
雖有靈膏，無可救補耳，然破之在內者，外治雖無可施力，安必內治不可奏功乎，
試思瘡傷之毒，大有缺陷，尚可服藥以生肌肉，此不過收生不謹，小有所損，
並無惡毒，何難補其缺陷也，方用完胞飲。
胞破，諸書單方多，然不如此妙</p>
<p>人參（一兩），白朮（十兩土炒），茯苓（三錢去皮），生黃耆（五錢），
當歸（一兩酒炒），川芎（五錢），桃仁（十粒泡炒研），紅花（一錢），
益母草（三錢），白芨末（一錢）
用豬羊胞一個，先煎湯，後煎藥，飢服，十劑全愈，夫胞損宜用補胞之藥，
何以反用補氣血之藥也，蓋生產本不可手探試，而穩婆竟以手探胞胎，以致傷損，
則難產必矣，難產者，因氣血之虛也，產後大傷氣血，是虛而又虛矣，因虛而損，
復因損而更虛，若不補其氣與血，而胞胎之破，何以奏功乎，今之大補其氣血者，
不啻飢而與之食，渴而與之飲也，則精神大長，氣血再造，而胞胎何難補完乎，
所以旬日之內便成功也。</p>
<h2>產後四肢浮腫七十三</h2>
<p>產後四肢浮腫，寒熱往來，氣喘咳嗽，胸膈不利，口吐酸水，兩脅疼痛，
人皆曰敗血流於經絡，滲於四肢，以致氣逆也，誰知是肝腎兩虛，陰不得出之陽乎，
夫產後之婦，氣血大虧，自然腎水不足，腎火沸騰，然水不足，則不能養肝，
而肝木大燥，木中乏津，木燥火發，腎火有黨，子母兩焚，火焰直沖而上剋肺金，
金受火刑，力難制肝，而咳嗽喘滿之病生焉，肝火既旺，而下剋脾土，土受木刑，
力難制水，而四肢浮腫之病出焉，然而肝木之火旺，乃假象而非真旺也，假旺之氣，
若盛而實不足，故時而熱，時而寒，往來無定，乃隨氣之盛衰以為寒熱，
而寒非真寒，熱亦非真熱，是以氣逆於胸膈之間而不舒耳，兩脅者，肝之部位也，
酸者，肝之氣味也，吐酸脅疼痛，皆肝虛而腎不能榮之象也，治法宜補血以養肝，
補精以生血，精血足而氣自順，而寒熱咳嗽浮腫之病悉退矣，方用轉氣湯
。
方妙，不可加減，白芍宜炒炭用。</p>
<p>人參（三錢），茯苓（三錢去皮），白朮（三錢土炒），當歸（五錢酒洗），
白芍（五錢酒炒），熟地（一兩九蒸），山萸（三錢蒸），山藥（五錢炒），
芡實（三錢炒），故紙（一錢鹽水炒），柴胡（五分）。
水煎，服三劑效，十劑痊，此方皆是補血補精之品，何以名為轉氣耶，
不知氣逆由於氣虛，乃是肝腎之氣虛也，補肝腎之精血，即所以補肝腎之氣也，
蓋虛則逆，旺則順，是補即轉也，氣轉而各症盡愈，陰出之陽，
則陰陽無扞格之虞矣。</p>
<h2>產後肉線出七十四</h2>
<p>婦人有產後，水道中出肉線一條，長二三尺，動之則疼痛欲絕，
人以為胞胎之下墜也，誰知是帶脈之虛脫乎，夫帶脈束於任督之間，
任脈前而督脈後，二脈有力，則帶脈堅牢，二脈無力，則帶脈崩墜，產後亡血過多，
無血以養任督，而帶脈崩墜，力難升舉，故隨溺而隨下也，帶脈下垂，
每每作痛於腰臍之間，況下墜者而出於產門之外，其失於關鍵也更甚，
安得不疼痛欲絕乎，方用兩收湯。
此方凡腎虛腰痛遺尿皆可治，甚勿輕忽。</p>
<p>人參（一兩），白朮（二兩土炒），川芎（三錢酒洗），九蒸熟地（二兩），
山藥（一兩炒），山萸（四錢蒸），芡實（五錢炒），扁豆（五錢炒），
巴戟（三錢鹽水浸），杜仲（五錢炒黑），白果（十枚搗碎）。
水煎，服一劑而收半，二劑而全收矣，此方補任督，而仍補腰臍者，
蓋以任督連於腰臍也，補任督而不補腰臍，則任督無助，而帶脈何以升舉，
惟兩補之，則任督得腰臍之助，帶脈亦得任督之力而收矣。</p>
<h2>產後肝痿七十五</h2>
<p>婦人產後陰戶中垂下一物，其形如帕，或有角，或二岐，人以為產䫋也，
誰知是肝痿之故乎，夫產後何以成肝痿也，蓋因產前勞役過傷，又觸動怪怒，
以致肝不藏血，血亡過多，故肝之脂膜隨血崩墜，其形似子宮，而實非子宮也，
若是子宮之下墜，狀如茄子，只到產門，而不能越出於產門之外，惟肝之脂膜，
往往出產門外者，至六七寸許，且有粘席乾落一片如手掌大者，如是子宮墜落，
人立死矣，又安得而復生乎，治法宜大補其氣與血，而少加升提之品，
則肝氣旺而易生，肝血旺而易養，肝得生養之力，而脂膜自收，
方用收膜湯。
收肝膜，全賴白芍之功，不可用炭。</p>
<p>生黃耆（一兩），人參（五錢），白朮（五錢土炒），白芍（酒炒焦），
當歸（三錢酒洗），升麻（一錢）。
水煎，服一劑即收矣，或疑產後，禁用白芍，恐伐生氣之原，
何以頻用之而奏功也，是未讀仲景之書者，嗟乎，白芍之在產後，不可頻用者，
恐其收斂乎瘀也，而謂伐生氣之源則誤矣，況病之在肝者，尤不可以不用，
且用之於大補氣血之中，在芍藥亦忘其為酸收矣，又何能少有作祟者乎，
矧脂膜下墜，正藉酸收之力，助升麻以提升氣血，所以奏功之捷也。</p>
<h2>產後氣血兩虛乳汁不下七十六</h2>
<p>婦人產後，絕無點滴之乳，人以為乳管之閉也，誰知是氣與血之兩涸乎，
夫乳乃氣血之所化而成也，無血固不能生乳汁，無氣亦不能生乳汁，然二者之中，
血之化乳，又不若氣之所化為尤速，新產之婦，血已大虧，血本自顧不暇，
又何能以化乳，乳全賴氣之力，以行血而化之也，今產後數日，而乳不下點滴之汁，
其血少氣衰可知，氣旺則乳汁旺，氣衰則乳汁衰，氣涸則乳汁亦涸，必然之勢也，
世人不知大補氣血之妙，而一味通乳，豈知無氣則乳無以化，無血則乳無以生，
不幾向飢人而乞食，貧人而索金乎，治法宜補氣以生血，而乳汁自下，
不必利竅以通乳也，方名通乳丹。
人參（一兩），生黃耆（一兩），當歸（二兩酒洗），麥冬（五錢去心），
木通（三分），桔梗（三分），七孔豬蹄（二個去爪殼）。
水煎，服二劑而乳如泉湧矣，此方專補氣血以生乳汁，正以乳生於氣血也，
產後氣血涸而無乳，非乳管之閉而無乳者可比，不去通乳，而名通乳丹，
亦因服之乳通而名之，今不通乳而乳生，即名生乳丹亦可。</p>
<h2>產後鬱結乳汁不通七十七</h2>
<p>少壯之婦，於生產之後，或聞丈夫之嫌，或聽翁姑之誶，遂致兩乳脹滿疼痛，
乳汁不通，人以為陽明之火熱也，誰知是肝氣之鬱結乎，夫陽明屬胃，
乃多氣多血之府也，乳汁之化，原屬陽明，然陽明屬土，壯婦產後，雖云亡血，
而陽明之氣實未盡衰，必得肝木之氣以相通，始能化成乳汁，未可全責之陽明也，
蓋乳汁之化，全在氣而不在血，今產後數日，宜其有乳，而兩乳脹滿作痛，
是欲化乳而不可得，非氣鬱而何，明明是羞憤成鬱，土木相結，
又安能化乳而成汁也，治法宜大舒其肝木之氣，而陽明之氣血自通，而乳亦通矣，
不必專去通乳也，方名通肝生乳湯。
麥冬用小米炒，不惟不寒胃，且得米味，一直引入胃中，而化乳愈速。</p>
<p>白芍（五錢醋炒），當歸（五錢酒洗），白朮（五錢土炒），熟地（三分），
甘草（三分），麥冬（五錢去心），通草（一錢），柴胡（一錢），遠志（一錢），</p>
<p>水煎，服一劑即通，不必再服也。</p>
