<header><h1>魯府禁方</h1></header>
<dl class="元資料" data-type="book">
<div><dt>作者</dt><dd>龔廷賢</dd></div>
<div><dt>朝代</dt><dd>明</dd></div>
<div><dt>年份</dt><dd><data value="1368/1644">公元1368年至公元1644年</data></dd></div>
</dl>
<h2>序</h2>
<p>余自襲封以來，恆念民間疾苦，每以濟人利物為心，施藥活民，蓋亦久矣。第恨奇方未廣，明醫希覯，無能俾天下黎民無恙，此心恆歉歉然，愿為而未逮也。頻年以來，博集奇方，殆今數載，續以成帙，什襲珍藏，世不多有。癸巳秋，緣余妃張氏，遘鼓脹之恙，即以吾藩醫弗瘥，遂訪海內明醫，百藥千方，曾無寸效，病勢垂危，倉皇無措。有荐金溪明醫龔子廷賢者，余特致書幣，遣官抵大梁。聘至，詢其所蘊，真儒醫也。究其方脈，悉皆超邁群識。</p>
<p>遂投一二劑，輒有奇效。以後藥則時時進，而恙則時時愈。歷冬迨春，恙已潛瘳矣。以吾藩醫，余妃弗愈；俾海內諸醫，余妃亦弗愈；而易龔子醫余妃，輒愈之。龔子之醫，豈非天下醫之魁乎！余嘉之以銜，獎之以匾，題曰「醫林狀元」。舉國欣羨，咸謂古之盧扁，不是過矣。余思窮檐　屋，設遘斯恙，遇有醫若龔子者，則病無弗瘳，否則望其生者難矣。今將所治驗方，推而廣之，以濟天下有是恙者。余聞龔子所著《醫鑒》、《回春》、《仙方》、《神彀》四書，盛行於世，推其心仁且濃矣。茲今所蓄秘方，並渠素蘊珍奇，厘為四卷，題曰《魯府禁方》。是皆百發百中者，悉附諸梓，愿與斯世斯民共焉。蓋以施藥限於一方，傳方布於天下，欲起天下疲癃之民，咸躋於仁壽之域，庶幾少慰余之素志云。</p>
<p><u>時萬歷甲午歲仲春之吉　</u></p>
<p><u>魯王三畏書於存心殿　</u></p>
<p>禁方括曰：魯藩仁主，心同天地，忠孝賢明，精金美玉。時值飢饉，疊施賑濟，積善累德，陰功普被。施藥傳方，弗忍私秘。特命良醫，選奇拔萃，刪繁就簡，分門析類。不用切脈，問病投劑。藥性平和，奏效奇異。屢施屢驗，輒投輒愈。好生君子，依方修制，救急濟貧，扶危蘇劇。刊布天下，咸沾恩惠，國泰民安，功垂萬世。</p>
<h3>中風</h3>
<p><u>神仙奪命丹</u></p>
<p>治中風、痰厥、氣厥，牙關緊，不省人事。</p>
<p>南薄荷葉（一兩）　天南星（湯泡透切片，薑汁炒，五錢）　僵蠶（三錢）　南羌活（五錢）　荊芥穗（二錢）　川椒（去目，一錢）　遼細辛（二錢）　牙皂（刮去皮弦，八兩）　石腦油（真者二兩）</p>
<p>上各制如法。將牙皂以上八味，共合一處，用好酸漿水四碗，入磁盆內浸藥，春秋五日，夏熬數十沸，方入石腦油、硼砂，再熬成膏，形如琥珀色，乘熱攤於濃連四紙上，干收貯。臨用時，剪方寸一塊，以溫漿水溶化盞內，用二葦筒，吹入二鼻孔中，良久吐痰涎即省。若吹之太重，或藥水太熱，致鼻出血，勿懼，即飲淡鹽湯一二口便止。</p>
<p><u>紫金錠子</u></p>
<p>專治男子婦人諸般風症，左癱右瘓，口眼歪斜，半身不遂，及破傷風。量虛實，錠，重者一錠，無灰黃酒研下，汗出即愈。避風，孕婦不可服。其效不可盡述。</p>
<p>鮮玄參（去蘆，四十斤）　鮮地榆（去蘆，四十斤）　鮮天麻（十二斤）　鮮草烏（去蘆，四十斤）　全蠍（洗去土鹽足梢，淨三斤）　麻黃（去根，四十斤）　白面（十斤）　麝香（真正淨肉，三片碾壓，取自然汁，入瓷缸內，每日攪晒。至九月甲子庚申日，入全蠍，同碾為細末，入麝香拌勻。候麻黃四十斤末及白面，打糊，搓成</p>
<p><u>千金不換刀圭散</u></p>
<p>治男婦小兒諸般風症，左癱右瘓，半身不遂，口眼歪斜，腰腿疼痛，手足澀，行步艱難，遍身瘡癬，上攻頭目，耳內蟬鳴，痰涎不利，皮膚瘙癢，偏正舊。及破傷風角弓反張，蛇犬咬傷，金刀所傷，出血不止，敷貼立效。痔漏膿血，疼痛難禁，服之頓愈。</p>
<p>川烏　草烏（並用水泡，去皮尖）　蒼朮（米泔浸，各二兩）　人參　白茯苓（去皮，各一錢半）</p>
<p>浸三日，棄酒火炙風（去蘆）　麻黃二錢半）</p>
<p>上為細末，每服二分或五分，漸加至六七分，臨臥酒調下。不飲酒者，茶亦可。服後忌多飲</p>
<p><u>牛黃紫金丹</u></p>
<p>　治中風、暗風、痰厥、氣厥，不省人事。</p>
<p>朱砂（二錢）　阿芙蓉（一錢）　沉香（一錢）　牛黃（三分）　廣木香（五分）　冰片（三分）　麝香丸。如無梨汁，薄荷湯送下</p>
<p><u>治風內消丸</u></p>
<p>治男婦左癱右瘓，口眼　斜，半身不遂，語言謇澀，手足麻木，行步艱難，遍神效。</p>
<p>川芎（一兩）　干山藥　白芷　甘松　防風（各七錢五分）　草烏（炮，去皮）　當歸　芍藥（酒炒）　天麻　甘草　細辛　白膠香　牛膝（去蘆）　兩頭尖（各五錢）　人參　木香（各二錢）</p>
<p><u>華山五子丹</u></p>
<p>治左癱右瘓，遍身疼痛，三十六種風，二十四般氣，胎前產後，腹脹咳嗽，痔漏，手足頑麻，遍身瘡癢疹癩，五般痢疾，共血氣風、血暈、血山崩、積聚、一切疾病，俱服之。此藥生精補髓，安五臟，定魂魄，補下元，治虛損，壯精神，補血氣，和容顏，其功如神。</p>
<p>當歸　川芎　生地黃　熟地黃　川烏（煨，去皮）　白朮　蒼朮（酒浸三日，焙乾）　益智仁川椒上為細末，煉蜜為丸，如櫻桃大，每服一丸，細嚼，茶、酒、米湯任下。</p>
<p><u>祛風散</u></p>
<p>治中風口眼　斜，半身不遂。</p>
<p>白附子　僵蠶　全蠍（各等分）</p>
<p>上為細末，每服一錢五分，熱酒調下。</p>
<p><u>牛黃散</u></p>
<p>治中風痰厥，不省人事，小兒急慢驚風。</p>
<p>牛黃（一分）　辰砂（半分）　白牽牛（頭末，二分）</p>
<p>上共研為末，作一服，小兒減半。痰厥，溫香油下。急慢驚風，黃酒入蜜少許送下。</p>
<p><u>壽星散</u></p>
<p>治痰厥不省人事。</p>
<p>臘月牛膽南星（五錢）　枯礬（二錢）　朱砂（一錢）</p>
<p>上共為末，每服一錢，茶、酒、薑水皆可送下。</p>
<p><u>治中風不語及打傷敗血攻　</u></p>
<p>枯礬為細末，弱人三分，壯人五分，黃酒調服，血從大便下，或口吐一二口即已。</p>
<p><u>治左癱右瘓半身不遂　</u></p>
<p>用好麻（四兩，燒灰存性）　朱砂（二錢）</p>
<p>上共一處研末，分作四服，黃酒送下。</p>
<p><u>治眼歪斜神方　</u></p>
<p>當歸　白芍　川芎　白朮　茯苓　陳皮　半夏　枳殼　白芷　桔梗　僵蠶　天麻　防風荊芥　細辛　黃芩　烏藥　甘草　生薑煎服。</p>
<p><u>通關散</u></p>
<p>　治中風痰厥，昏迷，不省人事欲絕者。先用皂角、細辛等分為末，每用少許吹入鼻皂角末（五分）　半夏　白礬（各三分）</p>
<p>上為末，薑汁調服，探吐後，服對症藥。</p>
<p><u>紅白散</u></p>
<p>　治中風痰厥，不省人事。</p>
<p>用辰砂、白礬各等分，三伏內裝入豬膽內，透風處陰乾。每用一塊，涼水研下。</p>
<h3>傷寒</h3>
<p>傷寒金口訣這傷寒，世罕稀，多少庸醫莫能知。仲景《玉函》節庵泄，千金不易傷寒秘。方不同，法更異，四時傷寒各有例。惟有冬月正傷寒，不與春夏秋同治。發表實表兩妙方，用在三冬無別治。真傷寒，真中風，表實表虛各自中。表虛自汗脈浮緩，疏邪實表有奇功。表實無汗脈浮緊，升陽發表汗自松。背惡寒，背惡熱，頭痛脊強一般說。俱屬太陽膀胱經，有汗無汗須分別。有汗表虛無汗實，脈浮緩緊胸中別。春夏秋，另有方，通用羌活沖和湯。春溫夏熱秋治濕，隨時加減細斟量。病症與冬皆相似，淺深表裡脈中詳。脈有浮，脈有沉，半浮半沉表裡停。有力無力求虛實，或溫或下細推尋。更有汗吐下三法，當施當設莫留停。兩感症，日雙傳，一日太陽少陰連，腎與膀胱脈沉大，口乾頭痛是真原。二日陽明與太陰，沉長之脈脾胃兼，目又痛，鼻又干，腹滿自利不能安。三日少陽厥陰病，肝膽脈息見沉弦，耳聾脅痛囊蜷縮，古人不治命由天。陶節庵，泄漏方，不問陰陽兩感傷，通用沖和靈寶飲，一服兩解雪澆湯。更明表裡多少病，治分先後細推詳。表病多，裡病微，麻黃葛根湯最奇。表緩裡急宜攻裡，調胃承氣急通之。寒中陰經口不干，身疼發熱自下利。脈沉細，又無力，回陽急救湯最的。都言兩感無治法，誰知先後有消息。結胸症候分輕重，雙解六一二方覓。陽明症，不得眠，鼻干目痛是根源，柴葛解肌湯一劑，猶如渴急遇甘泉。耳聾脅痛半表裡，柴胡雙解立蘇痊。腹又痛，咽又干，桂枝大黃湯可蠲。太陽發黃頭有汗，茵陳將軍湯獨羨。無熱自利是臟寒，加味理中湯最端。時行病症身大熱，六神通解須當啜。小水不利導赤飲，下焦蓄血憑斯訣。一切下症並結胸，六一順氣分明說。身有熱，頭無痛，面赤飲水不下咽，庸醫誤認為熱症，豈知心火泛上炎，自是戴陽多不曉，復元湯服得安然。身如朱，眼似火，發斑狂叫誤認我，病在三焦無人識，三黃石膏湯最可。發斑之症先咳嘔，耳聾足冷定無他。休發汗，愈斑斕，消斑青黛飲莫慢。勞力感寒症又異，調榮養胃金不換。內傷氣血外感寒，莫與傷寒一例看。身出汗，熱又渴，如神白虎湯最確。食積症，類傷寒，發熱不惡寒，嘔逆身不痛，頭痛休疑談，只消加味調中飲，氣口緊盛休變延。小水利，大便黑，桃仁承氣對子說。熱邪傳裡蓄血症，血熱自利病安逸。吐血衄血另有方，生地芩連湯最切。陰隔陽，難遍詳，陰極發熱面戴陽。欲赴井中脈無力，急救回陽返本湯。水不下咽瘀血症，加減犀角地黃湯。真中寒，真厥症，回陽救急湯連進。陽毒發斑脈洪數，三黃巨勝湯之症。再造飲治無陽症，重復發汗汗不定，如狂症，原無熱，精采不與人相攝。熱結膀胱休誤下，桂苓飲子真奇絕。心下硬痛利清水，熱結利症醫莫測，又譫語，又作渴，身熱黃龍湯莫錯。口噤頭搖名痙　，如聖飲內抽添訣。瘥後昏沉百合病，柴胡百合湯休越。亡陽症，過汗多，頭痛振振病不和，筋惕肉虛太甚，溫經益元湯最和。男女勞復陰陽易，逍遙湯治脈沉　。香港腳症，類傷寒，禁用補劑與湯丸。暑中身熱寒中冷，浮風濕熱脈之端，便閉嘔逆難伸屈，加味續命湯保全。撮空症，仔細認，休認風症誤人命，循衣摸床為症驗，叉手摸胸不識人，只因汗熱相傷肺，升陽散火效如神。睡覺中，忽言語，夢寐昏昏神無主，湯粥與之雖吞咽，形如中酒多不舉，心火克金越經症，瀉心導赤湯急取。身熱渴，不頭痛，神思昏昏亂語言，小水不利大便黑，誤投涼藥喪黃泉，病傳心肺夾血症，當歸活血湯最玄。夾痰症，類傷寒，寒熱昏迷頭又眩，涎出口中為症驗。七情內損傷之根，神出舍空亂語言，加味導痰湯可增。大頭病，是天行，項腫惡寒熱並煎，一劑芩連消毒飲，痰飲喉痹盡安痊。此是先賢千古秘，不是知音莫浪傳。</p>
<p><u>升陽發表湯</u></p>
<p>出其不意　治冬月正傷寒，頭疼發熱，惡寒項脊強重，脈浮緊無汗，是足太陽膀胱經表症麻黃　杏仁　桂枝　甘草　川芎　白芷　羌活　防風　升麻用薑、蔥、豆豉，水煎，熱服出汗，汗出藥止，勿多服。</p>
<p><u>疏邪實表湯</u></p>
<p>治冬月正傷寒，頭疼發熱惡風，鼻塞項脊強重，脈浮緩有汗者，太陽表症也。</p>
<p>桂枝　芍藥　甘草　防風　川芎　羌活　白朮薑一片，棗二枚，水煎服。汗不止加黃　，喘加柴胡、杏仁，胸中飽悶加枳殼、桔梗。</p>
<p><u>羌活沖和湯</u></p>
<p>治春夏秋非時感冒，暴寒頭疼，發熱惡寒無汗，脊強脈浮緊，此足太陽膀胱受症。</p>
<p>蒼朮　羌活　防風　川芎　白芷　細辛　黃芩　生地黃　甘草薑、蔥煎，熱服出汗。胸中飽悶加枳殼、桔梗；夏月加石膏、知母；有汗去蒼朮加白朮；再不止去細辛加黃　；如再不止，以柴胡加桂枝、芍藥一錢，名神術湯；不作汗加蘇葉。</p>
<p><u>柴葛解肌湯</u></p>
<p>治陽明身熱，鼻干不眠，微惡寒，頭痛眼眶痛，脈微洪，宜解肌，屬陽明經明，別有治法。</p>
<p>柴胡　黃芩　葛根　芍藥　羌活　石膏末　白芷　桔梗　甘草生薑、棗煎服。本經無汗惡寒，去黃芩加麻黃。</p>
<p><u>柴胡雙解散</u></p>
<p>治少陽經，耳聾脅痛，寒熱痛嘔而口苦，脈來弦數，屬半表半裡，宜和解。此經有三禁，不可汗、下、利小便也。</p>
<p>柴胡　黃芩　半夏　人參　甘草　茯苓　芍藥生薑、棗煎服。嘔者加陳皮、竹茹、薑汁；痰多加栝蔞、貝母；口渴加知母、石膏；心中飽小便不利，大便泄瀉，合四苓散；挾熱而利，加炒連、白芍藥。</p>
<p><u>桂枝大黃湯</u></p>
<p>治太陰經，腹滿痛，咽乾而渴，手足溫，脈沉實，此為太陽傳經熱症。</p>
<p>桂枝　大黃　芍藥　甘草　枳實　厚朴生薑煎，臨服加檳榔磨水二匙入溫服。</p>
<p><u>茵陳將軍湯</u></p>
<p>治太陰腹滿，身目黃，小便短赤，或不利，燥渴譫語，脈沉有力，此屬濕熱發如火煤，搖頭直視，出汗不流，環口黎黑者，不治。</p>
<p>茵陳　大黃　梔子　黃連　枳實　甘草梢　滑石末（二錢）</p>
<p>滾水渴，熱服，以利為度。但頭汗出，身無汗，小便不利，渴飲水漿，身必發黃，宜此藥調下五苓散。</p>
<p><u>六一順氣湯</u></p>
<p>治傷寒熱邪傳裡，大便結實，口燥咽乾，怕熱譫言，揭衣狂妄，揚手擲足，斑黃陽厥，潮熱自汗，胸腹滿硬，繞臍疼痛等症，或代大小承氣、調胃承氣、三乙承氣、柴胡大陷胸等湯之神藥也。</p>
<p>柴胡　黃芩　芍藥　枳實　厚朴　大黃　芒硝　甘草滾水煎，臨服入鐵鏽水二匙調服。</p>
<p><u>如神白虎湯</u></p>
<p>治身熱，渴而有汗不解，或經汗過，渴不解者，脈來微洪。無渴不可服。</p>
<p>石膏　知母　甘草　糯米　人參　麥門冬　五味　山梔　天花粉薑一片，臨服入烏梅汁一匙服。心煩加竹茹；濕溫症熱不退，而大便溏者，依古方加蒼朮。</p>
<p><u>三黃石膏湯</u></p>
<p>治陽毒發斑，身如塗朱，眼珠如火，狂叫欲走，六脈洪數，燥渴欲死，鼻干面赤齒黃，過經不解，已成壞症。表裡皆熱，欲發其汗，病熱不退，又復下之，大便遂頻，小便不利。</p>
<p>亦有錯治溫症，而成此症者。又治汗下後，三焦生熱，脈洪譫語，晝夜喘息，鼻時加衄，狂叫欲走者。</p>
<p>黃連　黃芩　黃柏　山梔　麻黃　石膏　豆豉生薑、細茶煎服。</p>
<p><u>三黃巨勝湯</u></p>
<p>治陽毒狂妄亂言，登高而歌，棄衣而走，面赤脈大有力，發斑黃，大渴，大便卷囊縮者，難治。此因毒入臟腑。</p>
<p>石膏　黃芩　黃連　黃柏　大黃　芒硝　枳實　山梔　甘草薑、棗煎，熱服。</p>
<p><u>沖和靈寶飲</u></p>
<p>治兩感傷寒，頭疼身熱惡寒，舌乾口燥，以陽先受病者，先以此湯導之。如陰先受病者，當先以六一順氣攻裡下之。如裡先下利，身體痛者，又當以回陽救急湯。</p>
<p>羌活　防風　川芎　生地黃　細辛　黃芩　柴胡　知母　干葛　石膏薑、棗煎，臨服加薄荷十片，煎一沸熱服。中病即止。冬月去黃芩、石膏，加麻黃。</p>
<p><u>桃仁承氣湯</u></p>
<p>治熱邪傳裡，熱蓄膀胱，其人如狂，小水自利，大便黑，小腹滿痛，身目黃，為蓄血症，脈沉有力，宜此下盡黑物則愈。未服前而血自下者，為欲愈，不必服桃仁　桂枝　大黃　芒硝　甘草　柴胡　青皮　枳實　芍藥　當歸入蘇木二錢，煎二沸熱服。</p>
<p><u>生地芩連湯</u></p>
<p>治鼻衄成流不止者，或熱毒入深，吐血不止者，並治。若見耳目口鼻並出血者厥下竭，不治。</p>
<p>生地黃　黃芩　黃連　犀角　茅根　甘草　人參　桔梗　山梔　當歸薑、棗煎，臨服入搗韭汁墨磨一匙，調之溫服。</p>
<p><u>消斑青黛飲</u></p>
<p>治熱邪傳裡，裡實表虛，血熱不散，熱氣乘虛出於皮膚，而為斑也。輕如疹子紋，重甚則斑斕皮膚。或本屬陽，誤投熱藥；或當汗不汗，當下不下；或下後未解，皆能致此。不可發汗，重令開泄，更加斑斕也。其或大便自利，怫鬱短氣，燥糞不通，黑斑，主不治。凡汗下不解，耳聾足冷，煩悶咳嘔，便是發斑之候。</p>
<p>柴胡　玄參　黃連　知母　石膏　生地黃　山梔　犀角　青黛　人參　甘草生薑一片，棗二枚煎，入醋一匙服。大便實，去人參加大黃。</p>
<p><u>加減犀角地黃湯</u></p>
<p>治煩躁渴欲飲水，水入不下者，屬瘀血在上焦，則邪熱入裡也。</p>
<p>犀角　生地黃　當歸　黃連　苦參　枳殼　桔梗　赤芍藥　紅花生薑一片煎，臨服入藕汁二匙，如無韭汁亦可。</p>
<p><u>柴胡百合湯</u></p>
<p>治傷寒瘥後，昏沉發熱，渴而譫語失神，及百合、勞復、食復等症。</p>
<p>柴胡　人參　黃芩　百合　知母　茯苓　芍藥　鱉甲　甘草薑、棗煎，臨服入生地搗汁一匙，溫服。</p>
<p><u>加味理中湯</u></p>
<p>治傷寒自受其寒，病直中陰經是也。初得病，無身熱，無頭痛，止有腹痛，怕或下利嘔吐不渴，脈沉遲無力。</p>
<p>人參　白朮　乾薑　肉桂　陳皮　甘草薑三片煎，臨服加木香磨一匙，入薑汁溫服。</p>
<p><u>回陽救急湯</u></p>
<p>治傷寒初起，無頭痛，無身熱，便就怕寒，四肢厥冷，或過於肘膝，或腹痛吐瀉，或口吐白沫，或流冷涎，或戰栗面如刀刮，引衣蜷臥，不渴，脈沉遲無力，即是寒中陰經真寒症，不從陽經傳來。</p>
<p>人參　白朮　白茯苓　附子　乾薑　肉桂　陳皮　半夏　五味　甘草薑、棗煎，熱服。嘔吐涎沫，或有小腹痛，加鹽炒吳茱萸；無脈加豬膽汁一匙；泄瀉不止，加黃　、升麻；嘔吐不止，加生薑汁。</p>
<p><u>回陽返本湯</u></p>
<p>治陰極發躁，微渴面赤，欲於泥水井中坐臥者，脈沉遲無力，或脈伏者。不可若誤認為熱症，而用涼藥，死，不可復生矣。服熱而躁不止者，宜再服，躁自定矣服涼藥。</p>
<p>附子（制）　乾薑　人參　肉桂　麥門冬　五味　茯苓　甘草　童便薑、棗煎，臨服入蜜二匙，頓服之。無脈者加豬膽汁一匙，面赤者加蔥七莖，嘔者入薑汁炒</p>
<p><u>溫經益元湯</u></p>
<p>治汗下後，頭眩振振欲倒地，及肉　筋惕，或大汗後，衛虛亡陽，汗出不止，脈來無力。</p>
<p>附子　人參　白朮　甘草　芍藥　當歸　黃　生地　乾薑　肉桂薑、棗、糯米炒，水煎溫服。</p>
<p><u>如聖飲</u></p>
<p>治傷寒重感寒濕，則成剛柔二　，頭面赤，項強直，手足搐，口噤背張，與螈　同羌活　防風　柴胡　枳殼　甘草　川芎　人參　白朮　白芷　芍藥薑一片煎，臨服入薑汁、竹瀝各二匙溫服。有汗去枳殼加桂枝，無汗去白朮加麻黃，口噤切牙加大黃，手足攣搐加當歸。</p>
<p><u>六神通解散</u></p>
<p>治三月前後，感寒疫，頭疼大熱，惡寒體痛而渴，脈浮緊有力，無汗，年力壯盛之人，用羌活沖和湯恐緩，故用此。</p>
<p>麻黃　甘草　黃芩　滑石　蒼朮　細辛生薑、蔥白、豆豉煎，熱服出汗。頭痛甚加川芎，渴甚加天花粉，身痛甚加羌活。無頭疼惡實。</p>
<p><u>加味調中飲</u></p>
<p>治傷寒夾食停寒，亦有頭痛身熱，不惡寒為異耳，氣口脈緊盛是也。</p>
<p>陳皮　枳實　青皮　厚朴　乾薑　白朮　砂仁　蒼朮　草果　甘草生薑、炒蘿卜子一撮，煎溫服。</p>
<p><u>桂苓飲子</u></p>
<p>治傷寒初得，症無熱，狂言，煩躁不妥，精采不與人相當。不可認為發狂，而用下藥，死者多矣。不知此因邪熱結膀胱，名曰如狂症。</p>
<p>桂枝　豬苓　知母　澤瀉　黃柏　甘草梢　滑石生薑三片，燈心二十四莖，煎溫服。</p>
<p><u>逍遙湯</u></p>
<p>治傷寒瘥後，發大熱昏沉，錯語失神，小腹絞痛，頭不能舉，足不能移，眼中生花，百節解散，熱氣衝胸，男子則陰腫，入小腹攻刺，婦人則裡急，腰胯重，引腹內痛，此男女勞復，陰陽易也。</p>
<p>知母　人參　竹青　茯苓　甘草　生地黃　黃連　滑石　鼠糞（兩頭尖者十四枚）</p>
<p>薑、棗煎，臨服入燒　襠末調服，陰頭痛即愈矣。</p>
<p><u>黃龍湯</u></p>
<p>治傷寒下利，純清水，心下硬痛而渴，譫語怕熱者。</p>
<p>大黃　芒硝　枳實　厚朴　甘草　人參　當歸</p>
<p><u>年老氣血虛者去硝。　</u></p>
<p>薑三片，棗二枚，煎之後，再加桔梗煎一沸。熱服，以利為度。</p>
<p><u>調榮養胃湯</u></p>
<p>治有患頭疼身熱，惡寒體痛，腳腿酸疼，微渴自汗，脈浮無力，此勞力內傷氣寒邪，名曰勞力感寒症。</p>
<p>黃　人參　白朮　陳皮　當歸　川芎　柴胡　羌活　防風　甘草生薑、棗子、蔥白煎服。</p>
<p><u>升陽散火湯</u></p>
<p>治傷寒熱症，叉手摸心，尋衣摸床，譫語昏沉。此邪熱乘於肺，元氣虛不能自主，名曰撮空症，小便利者可治，不利者難治。</p>
<p>人參　當歸　黃芩　柴胡　麥門冬　芍藥　陳皮　甘草薑一片，棗二枚，入金銀首飾，煎之溫服。有痰加薑炒半夏。大便實而燥渴、譫語，加大黃。</p>
<p><u>再造湯</u></p>
<p>有患頭疼身熱，惡寒脊強，用汗劑二三次，汗不出，此陽虛不能作汗，名曰無陽症黃　人參　桂枝　甘草　熟附　羌活　細辛　川芎　白朮　芍藥夏月去附、辛，加石膏。</p>
<p>薑一片，棗二枚，臨服入童便，以助陽氣。</p>
<p><u>當歸活血湯</u></p>
<p>有患無頭疼惡寒，止發大渴，口出無倫語，此內傷血鬱肝脾之症，使人昏迷，沉重錯語，故名挾血，如見鬼祟矣。</p>
<p>當歸　赤芍藥　甘草　紅花　桂枝　乾薑（炒）　枳殼　柴胡　人參　生地黃　桃仁泥（二錢）薑一片，水煎溫服。大便實而譫語，加大黃利之。</p>
<p><u>加味導痰湯</u></p>
<p>有患憎寒壯熱，頭疼迷悶，口出無倫語，此內傷七情，以致痰迷心竅，神不守挾痰，如鬼祟矣。</p>
<p>茯苓　半夏　南星　陳皮　甘草　枳實　黃芩　黃連　白朮　桔梗生薑一片，水煎，臨服入薑汁少許。一方加人參、栝蔞仁。</p>
<p><u>瀉心導赤飲</u></p>
<p>治傷寒漸變神昏不語，或睡中獨語一二句，目赤神焦，將水與之則咽，不與則不思，形如醉人。此邪熱傳入心經，因心火上而逼肺，所以神昏，故名曰越經症。</p>
<p>山梔　黃芩　麥門冬　滑石　甘草　人參　犀角　知母　黃連（薑炒）　茯神　燈草（二十根）薑、棗煎，臨服入生地黃汁二匙。</p>
<p><u>復元湯</u></p>
<p>有患傷寒，無頭疼，無惡寒，身微熱，面赤微渴，目無精光，口出無倫語，脈數無力，此汗下太過，下元虛弱，無根虛火泛上，名曰戴陽症。</p>
<p>熟附　黃連　甘草　人參　五味子　麥門冬　知母　芍藥　童便薑、棗煎，臨服入蔥白二莖，搗汁調之，溫服。</p>
<p><u>安神益志湯</u></p>
<p>治傷寒虛煩心驚，微熱，四肢無力體倦者。又治六七日，別無刑克症候，昏沉不知人事，六脈俱靜者，無脈欲出汗者。</p>
<p>柴胡　人參　麥門冬　知母　五味子　竹茹　茯苓　遠志　生地黃　當歸　甘草　黃連薑炒）</p>
<p><u>熊膽奪命散</u></p>
<p>治傷寒熱極發狂，不認親疏，燥熱至甚，神效。</p>
<p>熊膽一分研末，涼水調服，立蘇。</p>
<p><u>點眼聖仙方</u></p>
<p>治傷寒並大頭瘟腫項、瘧疾、痘疹等症。</p>
<p>人尿　貓屎　狗屎（各一兩。用黍糠二升，炒黃色，入前三味，制過，各淨用六錢）　山茨菰六錢）　血竭上共為細末，將小棗剖開去核，每一個入藥末二分，合上，用針將棗刺遍眼，烏金紙包裹，腦三分，共研極細。如傷寒，點男左女右大眼　，汗出即愈。如傷寒十二日無汗者，用藥吹入男左女右鼻孔，汗出即愈。如陰症，瘟疫頭項俱腫者，俱如上點，汗出即愈。驢馬中結，點眼亦瘥。年分散　治傷寒頭疼身痛，發熱惡寒，無汗。田承奉傳。</p>
<p>雄黃南星半夏，川烏草烏朱砂，更加一味白天麻，薑蔥酒調送下，傷寒無汗被蓋之，萬兩黃金無價。</p>
<p>上俱生用為末，每服半分，出汗如神。</p>
<p><u>千金散</u></p>
<p>治症同前。張承奉傳。</p>
<p>苦實去皮，用香油焙黃色，為末，每服三分。先吃綠豆湯一二鐘，次將藥用綠豆湯調服，再</p>
<p><u>預防傷寒</u></p>
<p>典寶傳六月六日三伏時，采黃嵩陰乾，冬至日搗為末，待正月初一日早晨，蜜水調，渾家大小各吃</p>
<p><u>傷寒日久汗不出者　</u></p>
<p>用梨一個，薑一塊，同搗取汁，再入童便一碗，重湯煮，熱服即汗。</p>
<h3>瘟疫</h3>
<p><u>神效清震湯</u></p>
<p>專治天行瘟疫，頭面腫盛，咽喉不利，舌乾口燥，憎寒壯熱，時氣流傳，親戚染之多不救。若依此方服之，無不應驗。</p>
<p>羌活（一錢）　荊芥　牛蒡子　防風　葛根　柴胡　赤芍　獨活　白芷　前胡　川芎（各八分）　升麻　甘草（各六分）　薄荷（七分）</p>
<p><u>內府仙方</u></p>
<p>治腫項大頭病。</p>
<p>僵蠶（二兩）　薑黃　蟬退（各二錢半）</p>
<p>上為細末，合一處，薑汁打面糊為丸，每丸重一錢，小兒半丸，蜜水調服，立愈。</p>
<p><u>逼瘟丹　</u></p>
<p>廣零陵香　小零陵香　蒼朮　茅香　藿香（各八兩）　香附子　山柰子　川芎　本（各四兩）　細辛　白芷　甘松　防風　遠志（各二兩）　檀香　沉香　降真香　樟腦　乳香　辰砂焰硝　安息香　鬼箭草（各一兩）　大皂角（二十四個）</p>
<p>上為細末，水和丸，任意大小，黃丹為衣。</p>
<p><u>二聖救苦丸</u></p>
<p>治傷寒瘟疫，不論傳經過經，俱可服。</p>
<p>大黃（四兩，切片，酒拌蒸）　牙皂（二兩）</p>
<p>上為細末，水打稀糊為丸，如綠豆大，每服三五十丸，綠豆煎湯，待冷送下，即汗而愈。</p>
<p>眾</p>
<h3>中暑</h3>
<p><u>天水丸</u></p>
<p>治中暑身熱，小便不利。此藥性涼，除胃脘積熱，治一切熱病。</p>
<p>白滑石（水飛，六兩）　大粉草（微炒，一兩）</p>
<p>上為細末，生蜜搗為丸，如彈子大，井水化服一丸。</p>
<p><u>九似丸</u></p>
<p>治伏暑　，變生諸症，頭疼壯熱似傷寒，寒熱往來似瘧疾，翻胃嘔吐似膈氣，大便似腸風，小便不利似淋瀝，飲食無度似消渴，四肢困倦似虛勞，眼睛黃赤似酒疸，遍身黃腫似食黃。</p>
<p>舶上硫黃　白礬　玄精石　滑石　石膏（　，江水浸一宿）　盆硝　甘草（炙，各半兩）</p>
<p>寒食上為細末，滴水丸如彈子大，每服一丸，用熱水一呷許，浸透其藥，然後以薑汁、蜜各少許</p>
<p><u>梅蘇丸</u></p>
<p>治上焦熱，潤肺生津。</p>
<p>烏梅（不拘多少，溫水洗淨，取肉半斤）　白沙糖（半斤）</p>
<p>上為細末，入南薄荷頭末半斤，再搗成膏，丸如彈子大，每用一丸，口中噙化，行路備之解</p>
<p><u>千裡水壺蘆　</u></p>
<p>白沙糖　白楊梅（去核）　南薄荷　烏梅（去核，各二兩）　百藥煎　天門冬（酒浸，去心）　麥上為細末，煉蜜為丸，如櫻桃大，每用一丸，噙化。</p>
<h3>內傷</h3>
<p><u>參朮膏</u></p>
<p>治飲食失節，損傷脾胃，勞役過度，耗傷元氣，肌肉消削，飲食不進。</p>
<p>揀參（去蘆，二兩）　白朮（去蘆、油，八兩）</p>
<p>上銼片，入砂鍋內，水六碗，熬至二碗，濾取汁，再入水熬，如此四次，共得汁八碗，濾淨三匙，白米湯下，不拘時，任意服。</p>
<p><u>調和大補羹　</u></p>
<p>大米　小米　糯米　薏苡仁　蓮肉　芡實　山藥　白茯苓（各等分）　白糖（少許）</p>
<p>上炒熟黃色為末，每日空心白滾湯，和羹食之。</p>
<h3>傷食</h3>
<p><u>消滯丸</u></p>
<p>消酒消食，消水消氣，消痞消脹，消腫消積消痛。</p>
<p>黑牽牛（炒，取頭末二兩）　南香附米（炒）　五靈脂（各一兩）</p>
<p>上為細末，醋糊為丸，如綠豆大，每服二三十丸，食後淡薑湯送下。</p>
<p><u>消導平胃散</u></p>
<p>治飲食所傷，胸膈痞悶，肚腹疼痛。</p>
<p>蒼朮（米泔制）　陳皮　厚朴（薑汁炒）　神麯（炒）　麥芽（炒）　枳實（麩炒）　香附米　甘草、薑、棗水煎，溫服。傷肉食加山楂，腹痛加莪朮，惡心加砂仁，有痰加半夏，傷酒加薑炒黃連、干葛。</p>
<p><u>健脾丸　</u></p>
<p>枳實（一兩，麩炒）　白朮（三兩，麩炒）　陳皮（二兩）　神麯（一兩，炒）　木香（五錢）　半夏（薑製）　黃連（炒）　黃芩（炒）　厚朴（薑製）　當歸（酒洗）　香附子（去毛）　大麥芽（炒）　白上為細末，用荷葉煮，糯米糊丸，如桐子大，每服四五十丸，食後白米湯下。</p>
<h3>痰火</h3>
<p><u>神異痰火膏子　</u></p>
<p>生地黃（四斤）　熟地黃　核桃肉　紅棗肉　蓮肉　柿霜　山茱萸（去核，各一斤）　甘枸杞黃柏天門冬（去心）　麥門冬（去心）　厚朴（薑炒）　枳殼（去穰）　當歸　白朮（去蘆）　桑白皮　天花粉（以上四十味各四兩）　梨汁（五斤）　藕汁（二斤）　五加皮（六兩）</p>
<p>上用甜水一大鍋，將生熟地黃煮熬，稠水十碗，收起。又用水一大鍋再煮熬，待稠濃，收十碗，如此將藥煮熬五次，取水五十碗。將煎煮二黃汁，投入諸藥汁和勻，仍再將水用細絹袋濾淨明粉以十</p>
<p><u>法制陳皮</u></p>
<p>食之清氣化痰，甚妙。</p>
<p>廣陳皮（一斤）　青鹽　五味子　甘草（各四兩）　山茱萸（去核）　烏梅（去核，各二兩）</p>
<p>將陳皮在溫水浸一宿取出，將內白刮去晒乾，將青鹽等五味，置砂鍋底，陳皮在上，水可滿陳皮，用文武火燒干，只用陳皮，任意嚼下。</p>
<p><u>治痰火　</u></p>
<p>廣陳皮（四兩）　甘草（一兩）</p>
<p>二味鹽水炒黑色為末，加玄明粉二兩，神麯糊為丸，綠豆大，每服五十丸，食後茶下。</p>
<p><u>釣痰仙方　</u></p>
<p>硼砂　白礬（半生半枯）　磁青（上細磁打下，青研極細）　青礞石（　紅，淬生薑汁內，各一共研極細末，每用二厘，薄荷濃湯調入鼻內即愈。</p>
<p><u>秋露白</u></p>
<p>治痰火。</p>
<p>經霜絲瓜，自根至蔓，留尺五長斷，余藤不用。將斷蔓就地脈接水二日，用瓶罐扎嚴埋地，兩，急則</p>
<p><u>栝蔞膏</u></p>
<p>治上焦痰火如神。</p>
<p>青嫩栝蔞洗淨，切片搗爛，用布絞取汁二碗，入砂鍋內，慢火熬至一碗。加真竹瀝一小盞，白蜜一碗，再熬數沸，瓷罐收貯。每用一小盞，傾茶甌中，白滾湯，不拘時服。</p>
<h3>咳嗽</h3>
<p><u>治咳嗽方　</u></p>
<p>清油（一兩）　蜜（三兩）生薑自然汁（三兩）　訶子皮　白礬（各五錢）</p>
<p>慢火熬黑如漆，空心服二匙，最效。</p>
<p><u>治咳嗽如神　</u></p>
<p>槐花　杏仁（去皮另研，各四兩）　人參（五錢，為末）</p>
<p>上為末，煉蜜丸，龍眼大，每一丸，臨臥噙化下。</p>
<p><u>治寒熱久嗽方　</u></p>
<p>川芎　官桂　薄荷　細茶（各等分）</p>
<p>上為末，用茶罐一個，盛火在內，以藥末些須散入內，煙起即用書本覆上口，煙從罐嘴出，患人用口吸煙咽之，米湯隨即壓下，神效。</p>
<p><u>治咳嗽　</u></p>
<p>桑白皮（一兩）　枯白礬（五錢）</p>
<p>上為末，面糊為丸，如梧子大，每服五十丸，食遠淡薑湯下。</p>
<p><u>治咳嗽　</u></p>
<p>杏仁（去皮尖）　胡桃肉（去皮，各等分）</p>
<p>上二味研為膏，入蜂蜜少許，每服一匙，臨臥薑湯調下。</p>
<p><u>治肺熱咳嗽久不愈者　</u></p>
<p>用石膏火　紅為末，每服二錢，食遠用蜂蜜水調下。</p>
<p><u>治喘嗽　</u></p>
<p>蘿卜子二兩蒸熟，皂角燒存性為末。每服二錢，蜜水調下。</p>
<p><u>治喘嗽　</u></p>
<p>杏仁（去皮尖）童便浸，一日一換，半月取出，焙乾，研如泥。每服一指頂大，薄荷蜜水一匙，水一鐘煎半鐘，食後服。</p>
<p><u>治痰嗽　</u></p>
<p>用黃熟栝蔞一個，取出子若干數，照還去皮杏仁於內，火燒存性，醋糊為丸，如梧子大。</p>
<p>每服二十丸，臨臥時白蘿卜湯送下。</p>
<p><u>治久嗽　</u></p>
<p>川椒一百粒，去目為末，杏仁一百粒，去皮尖，小紅棗五十枚去核，共搗如泥，丸如小棗大。每服一二枚，臨臥時，細嚼咽下。</p>
<p><u>治吐膿血咳嗽　</u></p>
<p>半夏二兩，先用白礬滾水浸十日，再生薑汁浸五日，陰乾為末，甘草二兩，熬汁為丸，如櫻</p>
<p><u>治痰嗽神效方　</u></p>
<p>生礬　枯礬（各五錢）　槐子（炒，一兩）　辰砂（三錢）</p>
<p>上為末，醋糊丸，如梧子大。每服三十丸，薑湯下，日三服。</p>
<p><u>治咳嗽吐膿乃肺傷也</u></p>
<p>知母　貝母　白芨　枯礬（各等分）</p>
<p>上研細，每服三錢，生薑三片，嚼服。三五服後，即已。</p>
<h3>喘</h3>
<p><u>治喘嗽　</u></p>
<p>半夏　麻黃　石膏　杏仁（去皮尖）　細茶　甘草　川芎（少許）　粟殼（少許）　淡豆豉銼生薑三片，水煎服。</p>
<p><u>治　喘　</u></p>
<p>千葉雌雄黃　牛黃　片腦（各一分）</p>
<p>上為末，面糊丸，如綠豆大。每服一丸，臨臥溫茶送下。</p>
<h3>瘧疾</h3>
<p><u>塞鼻丹</u></p>
<p>治瘧疾。</p>
<p>草烏（一個）　巴豆（三個）　胡椒（七個）　棗（二個）</p>
<p>上四味為末，棗肉為丸，如梧桐子大。每用一丸，綿花裹，男左女右，塞鼻孔中，於未發之先。</p>
<p><u>治瘧疾方　</u></p>
<p>木鱉子（七個，炮過去殼，刮去貼肉綠皮）　全蠍（七個，去頭足，焙乾）　檳榔（結實者佳）　廣木香　砂仁　草果（火炮）　知母（去皮毛）　貝母（去心，各一錢五分）</p>
<p>為末，每服一錢五分，燒酒送下。</p>
<p><u>龍虎丹</u></p>
<p>治瘧，端午午時制。</p>
<p>龍骨　虎骨等分，為末，水丸，如彈子大，朱砂為衣。臨發日，預握男左女右手心內即止。</p>
<p><u>截瘧丹</u></p>
<p>治諸瘧。</p>
<p>端午日，以獨蒜不拘多少，搗爛，入好黃丹，研勻，干濕得所，搓作丸，如龍眼大，晒乾收貯。但瘧疾發一二次後，臨發日雞鳴，以一丸略槌碎，面東，井花水下。</p>
<p><u>治瘧疾仙方</u></p>
<p>不拘年月新久。</p>
<p>柴胡　黃芩　烏梅　草果　桂皮　檳榔　乾薑　知母（各一錢）　陳皮　半夏（各一錢二分）寒多乾薑二錢，熱多知母二錢。</p>
<p>洒水煎，空心服。</p>
<h3>痢疾</h3>
<p><u>治痢不拘赤白　</u></p>
<p>白蘿卜搗取汁，與蜂蜜調對服，三四匙即愈。</p>
<p><u>治血痢　</u></p>
<p>用苦參炒為末，每服半錢，米湯調下。</p>
<p><u>治白痢　</u></p>
<p>肉豆蔻面包煨過，入乳香一粒，為末。每服二三分，米湯調下。</p>
<p><u>治禁口痢不思飲食　</u></p>
<p>蓮肉不拘多少，為細末。每服二錢，蜜水調下。</p>
<p>又方　糯米半升，入生薑汁，浸炒為末，每服三錢，白湯調下。</p>
<p><u>椿根散</u></p>
<p>治痢疾如神。</p>
<p>椿根白皮（二兩）　松花面　地榆　荷葉蒂（約四指長，各一兩）</p>
<p>上和勻為末。若白痢白糖調服，紅痢黑糖調服，立止。</p>
<p><u>妙應散</u></p>
<p>治遠近痢疾。</p>
<p>用男左女右舊草鞋一只，取中心一寸許，燒存性為末。用黃酒調服，或井花水亦可，立止。</p>
<p><u>治下痢禁口不飲食　</u></p>
<p>黃雞一只，制如食法，以炭火炙之，鹽、醋、椒末搭之，炙令香，熟食。患人在側，聞香即食其肉。</p>
<p><u>治久痢　</u></p>
<p>酸石榴皮一個劈破，火燒黑灰為末。每服二錢，不拘時，米湯調下。作丸服亦可。</p>
<p><u>治赤白痢疾久不止者神效　</u></p>
<p>烏梅六七個，燒存性，為末，空心黃酒調，一服見神效。</p>
<p><u>久痢神方　</u></p>
<p>鴉片（五錢）　牛黃　冰片　麝香（各三分半）　木香　沉香　朱砂（各二錢）　乳香　雄黃（各一錢）</p>
<p>上為細末，燒酒為丸，如綠豆大，朱砂為衣。每服一丸，空心服。白痢井水下，紅痢黃連水</p>
<h3>泄瀉</h3>
<p><u>治大人小兒脾虛泄瀉方　</u></p>
<p>丁香　木香　陳皮　甘草（炒）　白朮（去蘆，土炒）　澤瀉　茯苓（去皮）　藿香　厚朴（薑汁炒）　冬瓜仁（去殼）　白芍（酒炒，各等分）</p>
<p>上為末，煉蜜為丸，如雞頭子大。每服一二丸，米湯或淡薑湯下。</p>
<p><u>萬補丸</u></p>
<p>治脾胃不和，溏泄晨泄，一切脾氣不足。治男子遺精，女人赤白帶下尤妙。</p>
<p>蒼朮（八兩）　厚朴（去皮）　陳皮（各五兩）　甘草　小茴（略炒，各三兩）</p>
<p>上為末，聽用。將牙豬肚一個，蓮肉為末半斤，將豬肚擦洗極淨，入蓮絞肉於中，線扎住，用豬腰二個同煮，用童便煮，極爛為度，取出搗如泥，和前藥再搗極勻為丸，如梧子大。</p>
<p>每</p>
<p><u>金丹散</u></p>
<p>治水瀉。</p>
<p>箱殼子不拘多少，炒去刺，黃色為末。每服三錢，薑湯調下，小兒服一錢半即止。</p>
<h3>霍亂</h3>
<p><u>順逆丹</u></p>
<p>治霍亂上吐下瀉，傷食腹脹。</p>
<p>白朮（去油、蘆，土炒）　白茯苓（去皮）　陳皮　厚朴（去皮，薑炒）　澤瀉（各一兩）　豬苓（仁（三錢）　木香（二上為末，煉蜜為丸，如龍眼大。每服一丸，滾水化下。</p>
<p><u>秘方</u></p>
<p>治霍亂吐瀉。</p>
<p>乾薑、胡椒、胡黃連（各二分）　綠豆粉（五分）</p>
<p>上為末，每三分，沸湯點服。治霍亂吐瀉轉筋，筋粗大如桃李，攣縮，痛不可忍，秫菊葉煎湯，飲之即效。</p>
<h3>青筋</h3>
<p><u>白虎丸</u></p>
<p>治青筋初覺，頭疼惡心，或心腹、腰背、遍身疼痛，憎寒壯熱，不思飲食。此瘀血即進一服，當時血散。若遇三五日，青筋已老，多服亦效。及婦人崩漏帶下，久患赤或打撲內損，血不能散。</p>
<p>古礦灰（不拘多少，雜色泥土，為末，水飛晒乾）</p>
<p>上為末，水糊為丸，如梧桐子大。每服三五十丸，溫燒酒送下。看病輕重，加減丸數。</p>
<h3>翻胃</h3>
<p><u>噎食方　</u></p>
<p>皂礬　黃糟（正發者，控干，各二兩）　硼砂　砂（各一分半）</p>
<p>俱拌在前二味內，裝入老酒瓶內，封固令干。先文後武火煨半日，取出。利就三錢作三服，先一服將藥末放舌上，即用酒送下；第二服以酒調作一硬塊，放舌上，亦用酒送下；第三服亦用酒調服。連三服，一日服盡，立愈。</p>
<p><u>治五噎如神　</u></p>
<p>雄黃　五靈脂（各五錢）</p>
<p>上為末，黑狗膽丸，如梧桐子大。每服七丸，靛缸水送下。</p>
<p><u>又方　</u></p>
<p>螺螄二升，米泔浸一宿，去螺取水澄，取泥焙乾為末，酒下，忌一日飲食不吃，如神。</p>
<p>病重</p>
<p><u>治翻胃　</u></p>
<p>胡桃　肉　舊銅錢　蜂蜜（各五錢）</p>
<p>上搗三千下，丸如彈子大。噙舌下，不可嚼，待消自化下，即愈。若隨食隨吐者，加珍珠末</p>
<p><u>又方　</u></p>
<p>干糟（六兩）　生薑（四兩）　甘草（炙，二兩）</p>
<p>為末，同搗作餅，焙乾為末。每服二錢，用鹽湯調下。</p>
<p><u>魏靈丹</u></p>
<p>治噎食轉食痞疾。</p>
<p>真阿魏　五靈脂（各等分）</p>
<p>上為細末，用黃狗膽汁為丸，如綠豆大。每服五七丸，小兒三丸，白滾湯送下，有痰薑湯下</p>
<p><u>治翻胃　</u></p>
<p>用棗一枚去核，裹全斑蝥一個，濕紙包，慢火煨熟，將斑蝥棄之，用棗。細嚼，空心米湯送下。</p>
<p><u>又方　</u></p>
<p>用甘蔗汁七升，生薑汁一升，二味和勻，分作二服，效。</p>
<p><u>又方　</u></p>
<p>用黑驢尿一鐘，服之即愈，有蟲吐出。</p>
<p><u>又方　</u></p>
<p>五月五日，山裡去處尋野人肝（即人大便是也），用真阿魏等分為細末，空心用生薑薄片藥食之，其效如神。</p>
<p><u>治翻胃轉食　</u></p>
<p>用干柿餅三個，連蒂搗為細末，酒調服，如神。</p>
<h3>咳逆</h3>
<p><u>七粒散</u></p>
<p>治咳逆。</p>
<p>柿蒂七個，焙乾為末，黃酒調下，立止。外用雄黃二錢，酒一盞，煎至七分，急令患人嗅其</p>
<h3>噯氣</h3>
<p><u>南極丸</u></p>
<p>治胃中有火有痰有郁，作噯氣。</p>
<p>南星（湯泡透，切片，薑汁浸炒）　半夏（同上制）　軟石膏　香附子（童便浸，炒）　梔子（炒上為細末，水打神麯糊為丸，梧子大，每服五七十丸，臨臥薑湯送下。</p>
<h3>吞酸</h3>
<p><u>茱連丸</u></p>
<p>治鬱積，吞酸吐酸。</p>
<p>蒼朮（米泔水浸，炒）　陳皮　白茯苓（去皮）　半夏（湯泡透，切片，薑汁炒，各一兩）　黃連上為細末，蒸餅水打稀糊為丸，如綠豆大。每服三十丸，食後薑湯下。</p>
<h3>嘈雜</h3>
<p><u>三聖丸</u></p>
<p>治嘈雜白朮（去油、蘆，四兩）　紅陳皮（一兩）　黃連（薑汁炒，五錢）</p>
<p>上為末，神麯糊為丸，如綠豆大。每服五十丸，津液下，或薑湯半口亦可。</p>
<h3>七氣</h3>
<p><u>交感丹</u></p>
<p>治一切公私拂情，名利失志，抑郁煩惱，七情所傷，不思飲食，面黃形羸，胸膈痞疼痛等症。</p>
<p>南香附米（一斤，長流水浸三日，砂鍋炒干為末）　白茯神（去皮、木，為淨末，四兩）</p>
<p>上攪勻，煉蜜為丸，如彈子大。每清晨細嚼一丸，白滾湯下，陳皮湯亦可。</p>
<p><u>神仙一塊氣</u></p>
<p>治諸氣食積，及噎膈痞滿，胸脅刺痛，症，疝氣，並皆治之。</p>
<p>青皮　陳皮　三棱　莪朮　香附（童便炒，各一兩）　神麯　麥芽　白丑（頭末）　檳榔蘿卜上為末，面糊丸，綠豆大。每三十丸，視疾之上下，為食之先後，熱酒、薑湯任下。</p>
<h3>痞滿</h3>
<p><u>枳朮丸</u></p>
<p>治心下堅如盤。</p>
<p>枳實（一錢，麩炒）　白朮（三分）</p>
<p>水一鐘，煎至七分溫服。</p>
<p><u>治氣結聚心下不散　</u></p>
<p>用桃樹上不落干桃子三兩為末，每服二錢，空心溫酒調下。</p>
<p><u>香砂枳朮丸</u></p>
<p>治脾胃虛弱，飯食減少，胸膈痞悶宜服之。</p>
<p>枳實（尖，炒，一兩）　白朮（二兩）　香附子（各五錢）</p>
<p>為末，湯浸蒸餅為丸，如桐子大。每服三十丸，食遠白湯下。</p>
<h3>勞瘵</h3>
<p><u>吐勞嗽吐膿血　</u></p>
<p>款冬花（一錢四分）　藕節（六分）</p>
<p>上共銼，為一罐內，鋪灰火上，放熟炭四五塊，將藥全放火上，用布圍罐口，病患以口鼻受</p>
<p><u>治勞疾眠陽方　</u></p>
<p>鱉頭（一個）　麻黃根（二兩）</p>
<p>皮硝以水煮一炷香，取出麻黃根，切碎晒乾。鱉頭用面包煨熟焦，去面。將此為細末，以皮不可</p>
<p><u>治陰虛火動發熱咳嗽痰喘　</u></p>
<p>人乳（一盞）　童便（白者一鐘）　竹瀝（半盞）　薑汁（二匙）</p>
<p>上四味，合一處入瓷碗內，重湯煮熟，空心一服，午間一服，晚上一服。</p>
<p><u>治傳尸勞瘵及傳染滅門者　</u></p>
<p>用鰻　魚，白水煮食之，用骨燒煙，熏病患斷根。</p>
<p><u>治勞瘵好食諸物而有勞蟲者　</u></p>
<p>用豬心肺一付去膽，用白莖蓖麻子仁一兩，石膏一錢，乳香、沒藥各三分，蔥白三根，用酒肺吃</p>
<p><u>八珍膏</u></p>
<p>治勞瘵。</p>
<p>用梨汁、蘿卜汁、藕汁各一碗，柏枝搗爛，用童便熬濃汁一碗，稀一碗，乳汁一碗，共熬成</p>
<p><u>清肺飲</u></p>
<p>治男子虛陰火動，發熱咳嗽，吐血盜汗，痰喘心慌。</p>
<p>當歸　白芍　生地　麥門冬　生知母　貝母　紫菀　前胡　黃連　五味子　地骨皮　人參水煎，入童便一鐘同服。</p>
<p><u>滋榮健脾丸</u></p>
<p>治陰分不足，四肢倦怠，脾氣不能布化，或五心煩熱，盜汗，將成勞瘵，或大一切不足之症。</p>
<p>白朮（六兩）　白芍（炒）　白茯苓（各五兩）　當歸（酒洗）　橘紅（各四兩）　川芎（三兩半）　甘（蒸）　黃連（薑炒，各二兩上為末，酒糊丸，如梧子大，每服七八十丸，白水下。</p>
<h3>失血</h3>
<p><u>清火涼血湯</u></p>
<p>治吐血，一服立已。</p>
<p>當歸尾（酒洗）　赤芍藥（酒洗）　生地黃（酒洗）　百合　貝母（去心）　梔子仁（炒黑）　麥門冬丹皮　蒲黃（炒黑，加生薑一片，水煎服。</p>
<p><u>治吐血成斗命在須臾　</u></p>
<p>管仲（為末，二錢）　血余（灰，五分）　側柏葉（搗汁，一碗）</p>
<p>放一大碗內，重湯煮一炷香取出，待溫入童便一小鐘，黃酒少許，頻頻溫服，立止。</p>
<p>將軍丸　治吐血不止，一服如神。</p>
<p>大黃酒拌，九蒸九晒，為末，水丸。每服四五十丸，白滾水下。下血用條芩湯下。</p>
<h3>衄血</h3>
<p><u>鼻衄久不止　</u></p>
<p>驢糞焙乾為末，血余燒灰等分，每少許吹鼻，立止。</p>
<p><u>止血方</u></p>
<p>吐咳衄血下血皆止。鮮藕汁（上）　白蘿卜汁（上）　刺腳芽汁（即萋萋芽，上）　韭上合一處，碗盛頓熱，不拘時服，立效。</p>
<p><u>治鼻衄神法　</u></p>
<p>勿令患人知，以井花水忽然猛　其面，即止。</p>
<p><u>衄血神方　</u></p>
<p>人乳　童便　好酒三味重湯煮沸，飲之立止。</p>
<p><u>灸衄血方　</u></p>
<p>灸項後發際兩筋間宛中，三壯立止。蓋自此入腦注鼻中。</p>
<h3>眩暈</h3>
<p><u>將軍九戰丸</u></p>
<p>治頭目眩暈，多是痰火。</p>
<p>大黃不拘多少，拌九次，蒸九次，以黑為度，晒乾為末，水丸。每五十丸，臨臥白水送下。</p>
<p><u>治酒虛頭暈　</u></p>
<p>小川芎（一兩）　羌活　本　蔓荊子　香白芷（各五錢）</p>
<p>上為細末，每服五錢，入牛腦髓內，好黃酒煮熟，連酒腦服之。</p>
<h3>麻木</h3>
<p><u>止麻消痰飲</u></p>
<p>治口舌麻木，涎及嘴角，頭面亦麻，或嘔吐痰涎，或頭眩眼花，惡心，並遍身黃連　半夏　栝蔞　黃芩　茯苓　桔梗　枳殼　陳皮　天麻　細辛　甘草　南星血虛加歸，氣虛加參。亦有十指麻木，胃中有濕痰死血，加二術，少佐熟附子；行經中死血</p>
<h3>癲狂</h3>
<p><u>獨參丸　</u></p>
<p>治狂邪舉發無時，披頭大叫，欲殺人，不避水火。</p>
<p>苦參不拘多少，為末，煉蜜為丸，如梧桐子大。每服二三十丸，薄荷湯送下。</p>
<p>一方治氣心風，即是痰迷心竅，發狂亂作，以花蕊石　，黃酒淬一次，為末。每服一錢，黃</p>
<p><u>養血清心湯</u></p>
<p>治癲狂喜笑不常。</p>
<p>人參　白朮　茯神　石菖蒲　遠志（各一錢，甘草水煮，去骨）　酸棗仁（炒香，一錢）</p>
<p>當歸水煎服。</p>
<p><u>治喜笑不休神方　</u></p>
<p>先用食鹽二兩成塊，燒令紅，放冷研細。以河水一大碗，同煎三五沸，待溫，分三次啜之，須臾以釵探喉中，吐去熱痰數升，以黃連解毒東加半夏、竹瀝、薑汁服，不數劑而愈，殊效。</p>
<h3>五癇</h3>
<p><u>清明丸</u></p>
<p>治風癇（久服其涎隨小便出。）</p>
<p>白礬　細茶（各一兩）</p>
<p>上為細末，煉蜜為丸，如梧桐子大。每服三十丸，茶清送下。</p>
<p><u>治諸癇神志不寧，時發狂躁，多言好怒，面容不澤。　</u></p>
<p>生地黃（薑焙，五錢）　橘紅　貝母　茯苓　黃連　遠志　酸棗仁（炒）　枳實　甘草（少許）</p>
<p>上生薑煎服。</p>
<h3>健忘</h3>
<p><u>定志丸</u></p>
<p>治心氣不足，恍惚多忘，怔忡驚悸。</p>
<p>遠志（甘草水泡，去心）　石菖蒲（各二兩）　白茯神（去皮、木，三兩）　人參（一兩）上為末，煉蜜為丸，如梧子大，朱砂為衣，每服二十丸，臨臥米湯送下。</p>
<h3>邪祟</h3>
<p><u>秦承祖灸鬼法</u></p>
<p>治一切驚狂譫妄，逾牆上屋，詈罵不避親疏等症。</p>
<p>以病者兩手大拇指，用細麻繩扎縛定，以大艾炷置於其中兩個甲，及兩指角肉四處著火，一處不著即無效，灸七壯，神驗。</p>
<h3>怔忡驚悸</h3>
<p><u>安神丸</u></p>
<p>治血虛。心煩懊　，驚悸怔忡，胸中氣亂。</p>
<p>朱砂（水飛另研，五錢）　黃連（酒洗，六錢）　生地黃（一錢）　當歸（二錢半）　甘草（炙，二上四味為末，蒸餅打稀糊丸，如黍粒大，朱砂為衣。每服三五十丸，津液咽下。</p>
<p><u>參歸腰子</u></p>
<p>治心氣怔忡而自汗者，不過一二服即愈。</p>
<p>人參　當歸身（各五錢）　豬腰子（一個）</p>
<p>先以腰子，用水二碗，煮至一碗半。將腰子細切，入三味藥同煎至八分，吃腰子，以藥汁送以</p>
<p><u>寧神定志丸　</u></p>
<p>當歸　白芍　茯神（去木）　麥門冬（去心）　陳皮（去白）　貝母　朱砂（各一兩，為衣）　川芎錢）　甘草（三錢）</p>
<h2>卷二‧壽集</h2>
<h3>`鼓脹</h3>
<p><u>金蟾散</u></p>
<p>治氣鼓。</p>
<p>大蝦蟆一個，以砂仁推入其口，使吞入腹，以滿為度，用泥罐封固，炭火　至透紅，煙盡取</p>
<p><u>秘方</u></p>
<p>治脹滿水腫。</p>
<p>癩蝦蟆一二枚，裝在豬肚內，用好酒煮一伏時，去蝦蟆，將豬肚與酒盡服。大便屁如雷，或</p>
<p><u>金棗兒</u></p>
<p>治腫脹仙方。</p>
<p>紅芽大戟一斤，紅棗三斤，火煮一晝夜，去大戟用棗，晒乾食之。</p>
<p><u>秘方</u></p>
<p>治腫脹。</p>
<p>白商陸根（以人形者，搗，取汁一合）　生薑汁二點，黃酒一盞和服，空心三日服一次。</p>
<p>元氣濃者服五次，薄者三次。只忌鹽醬。凡人年五十以裡者可服，以外者不可用。</p>
<p><u>水腫膨脹神驗秘方　</u></p>
<p>大田螺（四個）　大蒜（五個，去皮）　車前子（三錢，為末）</p>
<p>上三件，研為一處為餅，貼入臍中，以手帕縛之。貼藥後少頃，水從小便出，一二餅而愈。</p>
<p><u>附經驗治法　</u></p>
<p>魯藩賢國母，年近五旬，於癸巳秋，因驚風惱怒過度，患腹脹如鼓，左脅積塊刺痛，上壅夯悶，坐臥不寧，晝夜不寐，身癢時熱，痰嗽喘促，二便澀滯，間或作瀉，四肢羸瘦，腹大如蛛，飲食不進，苦楚難禁，諸醫罔效。遂曉諭四方人等，復遣牌如兩京，歷諸省，遍訪明醫。未幾旬日，進方饋藥者紛然，藥屢至而屢試，病愈久而愈劇，醫禱百計，並無寸功。</p>
<p>忽曹急促脾胃以制倍用毫不病以奈病寒，固不舍時將何脹滿入少返用塞因左一服；辰時進湯藥一劑，內加參朮膏調服；午間進太和丸，或瑞蓮丸一劑；晚上又湯藥一劑。日日如斯，未少間焉。服至五十劑，諸症稍減。至百劑，苦楚全無。奈病者不能戒氣節食慎勞，三者屢屢犯之；又時值春令，肝氣愈盛，脾氣愈憊，深為可慮。因循至此，病難脫體。幸天相吉人，陰騭可以延壽。後調治半年余，人參服至六七斤許，始獲全安。我仁恩國主，喜而羨曰：真天下奪魁之國手也。遂題之匾曰：醫林狀元。眾皆欣服。第予慚譾陋，何敢當此寵渥哉。後之醫斯病者，可不以補虛為主耶。</p>
<p><u>加減補中益氣湯</u></p>
<p>補元氣，健脾胃，養心血，平肝火，清濕熱而消膨脹。</p>
<p>黃　（二錢，炒）　人參（四錢）　白朮（三錢，土炒）　當歸（一錢）　白芍（一錢，酒炒）　陳皮五分）　木香（三分）</p>
<p>上銼一劑，生薑三片，棗一枚，水二鐘，煎至一鐘，溫服。人參四錢，服三劑後，每一劑只升麻服至二十劑後去之，恐升提太過，益增痰嗽。上方逐日看病加減不同，大略如此。服至三十劑後，又易後方。</p>
<p><u>益氣補脾養心平肝清火消脹之劑　</u></p>
<p>人參（三錢）　白朮（去蘆，土炒，三錢）　白茯苓（去皮，一錢）　當歸（酒洗，一錢）　白芍藥（酒炒，一錢）　麥門冬（去心，五分）　五味子（十個）　柴胡（酒炒，五分）　黃連（酒炒，五朴（薑炒，五分）　枳實（麩炒分）</p>
<p>上銼一劑，生薑三片，棗三枚，水煎，不拘時服。此藥調參朮膏同服，與後地黃丸、瑞蓮丸以收</p>
<p><u>參朮膏</u></p>
<p>補元氣健脾胃為主。</p>
<p>揀參（四兩）　白朮（去蘆、油，淨八兩）</p>
<p>上銼片，入水十碗，熬至二碗，濾汁將渣再熬，如此四次，共得汁八碗，將汁濾淨，入砂鍋</p>
<p><u>六味地黃丸</u></p>
<p>養心滋腎，補肺健脾，清熱除濕。</p>
<p>大懷生地黃（用好酒拌炒，鍋內蒸熟取出，再用砂仁一兩、茯苓二兩，二味用絹袋包，藏在蒸去核（二兩）</p>
<p>上忌鐵器，為細末，用前參朮膏為丸，如梧子大。每服三錢，空心米湯下，（此方只用半</p>
<p><u>瑞蓮丸</u></p>
<p>補元氣，健脾胃，進飲食，止泄瀉。</p>
<p>人參（二兩）　白朮（土炒，三兩）　白茯苓（去皮，二兩）　山藥（炒，二兩）　蓮肉（炒，二兩）</p>
<p>五錢）</p>
<p>上為細末，用　豬肚洗令淨，水煮爛，杵千余下入藥，再搗和為丸，如梧子大，每服三錢，米湯送下。</p>
<p><u>太和丸</u></p>
<p>補元氣，健脾胃，養心血，平肝火，清濕熱，化痰涎，開胸膈，消鼓脹，化積滯，進飲食，順氣寬中，解鬱結。</p>
<p>人參（二兩）　白朮（土炒，二兩）　白茯苓（去皮，三錢）　半夏（湯泡，切片，薑汁炒，二錢）</p>
<p>三錢）　川芎（二錢）　香附（炒，二錢）　白芍藥（酒炒，三錢）　神麯（炒，三錢）　麥芽（炒，二錢）　山楂（去子，二錢）　縮砂（炒，二錢）　甘草（炙，上為細末，荷葉手掌大煎湯，煮倉穀米飯為丸，如梧子大　每服三錢，米湯送下。</p>
<p><u>白雪糕　</u></p>
<p>干山藥（二兩）　人參（二兩）　茯苓（二兩）　蓮肉（二兩）　芡實（二兩）　神麯（炒，一兩）　麥上為末，蒸糕當飯食之。</p>
<h3>水腫</h3>
<p><u>丹房奇術</u></p>
<p>不服藥，自去水蟲脹腫病。</p>
<p>真水銀粉（二錢）　巴豆（四兩，去油）　生硫黃（二錢）</p>
<p>上三味，一處搗研成餅，用新棉一斤鋪臍上，次以藥當臍掩之，外用帛裹住，待人行三五裡可救</p>
<p><u>又方</u></p>
<p>治症同前。</p>
<p>用精豬肉一二兩，加甘遂細末一分，銼一處，用濕紙包裹，火煨香熟，細嚼，好酒送下，便</p>
<p><u>扶脾消腫湯　</u></p>
<p>人參　白朮（去蘆）　茯苓　豬苓　澤瀉　木通　滑石　木香　麥門冬（去心）　黃芩　大腹皮水煎服。</p>
<p><u>金匱腎氣丸</u></p>
<p>治脾腎虛，腰疼腳腫，小便不利，或肚腹脹痛，四肢浮腫，或喘急痰盛，已成效如神。此症多因脾胃虛弱，治失其宜，元氣復傷而變症者，非此藥不能救。</p>
<p>白茯苓（三兩）　牛膝（去蘆，酒洗）　肉桂　澤瀉　山茱萸（酒蒸，去核）　車前子　山藥牡上為末，煉蜜為丸，梧桐子大。每服七八十丸，臨臥米湯送下。</p>
<p><u>秘方　</u></p>
<p>粟米、綠豆各一抄，豬肝一葉，切碎，三味煮作粥食之。至重者不過五次，其腫自消。</p>
<p>切忌</p>
<h3>積聚</h3>
<p><u>三棱煎丸</u></p>
<p>治飲食過度，痞滿疼痛，食不消化而成癖。又治婦人血積血塊，干血氣鬱經閉，疾。</p>
<p>莪朮　三棱（各一兩，二味濕紙包煨）　大黃（去皮，八兩）</p>
<p>上為末，先以大黃銀器內，好醋漬，令平慢火熬微干，入二味為丸，如綠豆大。每服十丸至</p>
<p><u>神化丹</u></p>
<p>消癖疾，破血氣，下鬼胎，通經脈，及諸癖積血氣塊。</p>
<p>砂　乾漆（炒）　血竭（各三錢）　紅娘子（二十個，去翅）　斑蝥（二十個，去翅足）　乳香上為末，棗肉為丸，豌豆大。每一丸，服至三五丸，臨臥棗湯或薑湯，或紅花蘇木湯下。</p>
<p><u>勝金丸</u></p>
<p>治一切痞塊，積氣發熱。</p>
<p>大黃　皮硝　甘草（各一兩）</p>
<p>上三味，共為細末。每服三錢，蜜一茶匙，滾水調下，空心加減服之。大便下膿血，效矣。</p>
<h3>五疸</h3>
<p><u>地黃散</u></p>
<p>治遍身黃腫。</p>
<p>地龍（一兩）　黃瓜（一兩）</p>
<p>共為細末，每服二錢，用黃酒或茶清調下。露珠飲　治五疸黃病神效。</p>
<p>露珠即土豆，形如薑，搗爛取汁，半碗服之。</p>
<p><u>酒煮茵陳湯</u></p>
<p>治酒疸，遍身眼目發黃，如金色者。</p>
<p>好茵陳一兩，好黃酒一鐘半，煎至八分，食後溫服，不過五六劑全安。</p>
<p><u>治五疸黃腫　</u></p>
<p>綠礬（不拘多少，炒至白色）</p>
<p>上為細末，煮棗肉為丸，如櫻桃大。每服五丸，早晨、午間、晚上各一服，用冷黃酒送下。</p>
<p>忌醋、生冷、發物。百發百中，或有蟲即吐出。</p>
<p><u>治黃膽專屬濕熱盒曲相似　</u></p>
<p>茵陳（三錢）　白朮（一錢半）　赤苓（一錢半）　豬苓　澤瀉（各一錢）　蒼朮　山梔滑石（各一錢二分）　桂枝　甘草（各二分）　燈草水煎服。</p>
<p><u>治黃病方　</u></p>
<p>黑礬（一兩）　雄黃（二錢）　五靈脂（五錢）</p>
<p>上三味為末，用紅棗煮熟去皮核，揉和為丸，如梧桐子大，白面為衣。每服二十丸，薑湯送</p>
<h3>補益</h3>
<p><u>神仙接命秘訣　</u></p>
<p>一陰一陽，道之體也。二弦九氣，道之用也。二家之氣，交感於神室之中，而成丹也。</p>
<p>萬卷中牝二物也。煉己築基，得藥溫養，沐浴脫胎，神化盡在此二物運用，與己一毫不相干，即與天地營運日月無二也。《悟真》云：　先把乾坤為鼎器，次將烏兔藥來烹。臨驅二物歸黃道，爭得金丹不解生。此一詩言盡三家矣。千言萬語，俱講三性會合，雖語句不同，其理則一而已矣。但周天度數，分在六十四卦之內，以為筌蹄。朝進陽火，暮退陰符，其數內暗合天機也。</p>
<p>訣曰（此乃先師呂相傳之秘旨也，寶之寶之）</p>
<p>一三二五與三七　四九行來五十一　六十三兮七十五　八十七兮九返七　若人知此陰陽數</p>
<p><u>河圖數　</u></p>
<p>三五一都三個字，古今明者實然稀。東三南二同成五，北一西方四共之，戊己自居生數五，三家相見結嬰兒。嬰兒是一含真氣，十月胎完入聖機。</p>
<p><u>先天度數　</u></p>
<p>溫養火朝屯暮蒙（十月火也）</p>
<p><u>暮退陰符</u></p>
<p>（戌時居右，自十六起，至四止。煉巳之度數，東升西降。詩曰：河車周旋</p>
<p><u>朝進陽火　</u></p>
<p>（寅時居左，自三至十七，每圈一次吹噓，此道盡之矣。塞兌垂帘默二窺）。</p>
<p>待先天氣至，自十六起，至四止，就換於左起，三至十七止，即換爐用鼎，在右自二、四、盡工功為卻行演神出殼之功，一日十飯不覺飽，百日不食不顯飢。盡矣，秘之秘之。</p>
<p>此二節工夫，待人道周全，方可行之。</p>
<p><u>駐世金丹</u></p>
<p>　治諸虛百損，五勞七傷，萬病臨危，服之能起死回生，百發百中。大補元神，培紅鉛（要十三四歲清秀女子首經，陰乾，二分五厘）　人乳（要壯盛婦女初生男子乳汁，晒乾，二分五厘）　乳香（二厘半，要透明者）　朱砂（二厘半，要有神者）　秋石（用新小烏盆一個日久盆外上各為細末，合一處研勻，用初生男乳汁，加童便少許，揉和為丸，如梧桐子大。用雞蛋取病怒止</p>
<p><u>呼吸靜功妙訣　</u></p>
<p>人生以氣為本，以息為元，以心為根，以腎為蒂。天地相去八萬四千裡，人心腎相去八寸四百脈血氣每子午卯酉時，靜室中，濃褥鋪於榻上，盤腳大坐，瞑目視臍，以綿塞耳，心絕念慮，以意氣不下榻專心夫萬病之源，總歸於虛。虛者，人不自慎而戕之也。蓋飲食失節，損傷脾胃；勞役過度，耗難，重病變危，可勝嘆哉。預為調攝者，晚服保合太和丸，以培元氣脾胃之虧，可以壯氣而增力，可以伐勞而任事，可以助困而不倦，可以當寒而耐飢。早服坎離既濟丸，以補心血、腎水之損，由是添精而養神，由是升水而降火，由是卻病而除根，由是延年而益壽。然此二藥，專補人自戕之虛，可免終身之患，乃王道平和之劑，能收萬全之功。衛生君子，稟賦薄弱，或斫喪太早，不能節慎者，不可一日無此藥也，可不信服而預防哉。</p>
<p><u>保合太和丸</u></p>
<p>白朮（去蘆，炒）　當歸（酒洗，各四兩）　茯苓（去皮）　白芍（酒炒，各二兩）　人參（去蘆）</p>
<p>芽（炒）　山楂（去子）</p>
<p>（去殼，三錢）　甘草（炙，五錢）</p>
<p>上為細末，荷葉煎湯，下大米煮粥稀為丸，如梧桐子大。每服六七十丸，食後臨臥米湯送下</p>
<p><u>坎離既濟丸　</u></p>
<p>熟地黃（酒蒸，薑汁浸，焙，四兩）　生地黃（酒浸）　天門冬（去心）　麥門冬（去心）　山茱母（酒炒）　當半）　澤瀉　五味子　揀上忌鐵器，為細末，煉蜜為丸，如梧子大，每服一百丸，空心鹽湯、黃酒任下。忌三白。</p>
<p>凡</p>
<p><u>制斑龍膠法　</u></p>
<p>此膠能生精養血，益智寧神，順暢三焦，培填五臟，補心腎，美顏色，卻病延年，乃虛損中鹿角連腦蓋骨者佳，自解者不用。去蓋至缶，淨五十兩，截作三寸段，新汲泉井水浸洗去垢去鍋將汁復入砂鍋內，熬成膠聽用，和藥末。其角去外粗皮，淨者為末，名鹿角霜也，亦有可用處。戒病詩謹堅冰至，霸藥休投良劑宜。堪嗟真病非容易，調攝還從未病時。</p>
<p><u>全鹿丸</u></p>
<p>治諸虛百病，精血不足，元氣虛弱，久無子嗣，並四肢無力，精神欠爽。常服能還髓，補益元陽，滋生血脈，壯健脾胃，安五臟，和六腑，添智慧，駐容顏。久服其效不述。修合沐浴至心，勿輕視之。</p>
<p>黃　人參　白朮（去皮）　白茯苓（去皮）　當歸（酒洗）　生地（酒洗）　熟地　天冬（去皮心）</p>
<p>皮）　牛膝（酒洗）　五心）　胡蘆巴（炒）　菟絲子川椒（去目）　小茴香（炒）　青上藥精制如法，各為細末聽用。牡鹿一只，宰殺退去毛肚雜碎，洗淨，以桑柴火煮熟，橫切拌勻下。</p>
<p><u>神仙不老丹　</u></p>
<p>用牛乳一瓶，干山藥末四兩，無灰好黃酒一大鐘，童子小便一大鐘去頭尾，共和一處，入鐘，重湯煮，以浮沫出為度取出。每用一小鐘，溫服，每日服三次。</p>
<h3>痼冷</h3>
<p><u>治陰症攪腸沙　</u></p>
<p>胡椒（末，五錢）　黃丹（三錢，炒過）　枯礬（三錢）　細面（一撮）</p>
<p>上研細，或好酒或釅醋，調勻作膏，放手心，合在外腎上，即時汗出愈。或攤濃紙上，或布</p>
<p><u>治陰症冷疾　</u></p>
<p>用雞血，入好熱黃酒，飲下即愈。</p>
<p><u>回陽丹</u></p>
<p>　治陰症，手足厥冷，心腹病痛。</p>
<p>白芨（二錢）　胡椒（二錢）</p>
<p>上為細末，黃酒為丸，如麥粒大，每服九丸，用熱黃酒送下，效。</p>
<p><u>治攪腸沙</u></p>
<p>用胡椒二</p>
<p><u>治傷寒陰症方　</u></p>
<p>艾（一撮）　乾薑　甘松　細辛　胡椒（各等分）</p>
<p>上為細末，每用三錢，好醋調勻，入男左女右手心，男朝馬口，女朝陰門，汗出為效。</p>
<p><u>火精散</u></p>
<p>　治陰症心腹冷痛，不可忍者。</p>
<p>硫黃（四分）　胡椒（六分）</p>
<p>上為末，每服三分，燒酒調服。</p>
<p><u>治夾陰傷寒　</u></p>
<p>用刀刮鍋蓋木皮，炒胡為細末，滾熱酒調一碗服。又灸兩中指尖，又灸兩腳大拇指尖，汗出為妙。</p>
<p><u>治男婦陰症</u></p>
<p>用蔥去粗皮，捆住，如酒鐘粗，上下分三指長，切去胡葉，放肚臍上，用熱熨斗熨，蔥氣透則熱而愈。</p>
<p><u>寒症方　</u></p>
<p>乳香　當歸（各一錢）　胡椒（一歲一個）</p>
<p>為末，雞血研，熱黃酒下。</p>
<h3>頭痛</h3>
<p><u>治偏正頭風　</u></p>
<p>羌活　白芷　細辛　川芎　蔓荊子　薄荷　防風　甘草上八味各等分，為細末，每服一二茶匙，白湯調下。</p>
<p><u>香茗散</u></p>
<p>治因氣惱沖動頭痛，神效。</p>
<p>香附子（二錢）　川芎（一錢）　細茶（一撮）</p>
<p>上銼，二劑，水煎溫服。</p>
<p><u>三靈散</u></p>
<p>治八般頭風。</p>
<p>草烏　細辛（等分）　黃丹（少許）</p>
<p>上為極細末，吹鼻內，效。</p>
<p><u>獨烏膏</u></p>
<p>治風寒頭痛，服藥不效。</p>
<p>川烏一兩為末，醋調如膏，塗於頂腦角太陽風府處，須臾痛止。</p>
<p><u>太陽膏</u></p>
<p>治頭痛頭風。</p>
<p>川烏　天南星　白芷（等分）</p>
<p>上為細末，用蔥白連須，同藥搗爛，貼太陽穴上，紙蓋之。</p>
<p><u>二黃散</u></p>
<p>治偏正頭疼，頸風眼痛，破傷風，並驗。</p>
<p>黃丹（三錢）　雄黃（三錢）　乳香　沒藥（各二錢）　焰硝（一兩）</p>
<p>上為細末，令患人噙溫水，吹藥於鼻內，立效。</p>
<h3>須發</h3>
<p><u>烏須固本丸</u></p>
<p>生精補髓，益血補虛，烏須黑發，返老還童，延年益壽。</p>
<p>何首烏（八兩，米泔水浸三宿，竹刀刮去粗皮，切片，黑豆五升同首烏滾水浸一時，蒸熟去豆）　黃精（四兩，黑豆二升同煮熟，去豆，忌鐵器）　生地黃（酒浸）　熟地黃（酒浸）　天門加皮　巨勝子上為細末，煉蜜為丸，如梧子大。每服七八十丸，加至百丸，空心溫酒下，鹽湯亦可。</p>
<p>忌蔥、蒜、蘿卜、豆腐、燒酒等物，並房事。</p>
<p><u>烏須　</u></p>
<p>何首烏（一斤，打碎，面包，蒸一炷香，去皮）　白茯苓（去皮，半斤）　當歸（半斤）</p>
<p>蒼朮（米泔浸，去皮，一斤）　熟地黃　生地黃（酒洗）　麥門冬（泡去心）　天門冬（泡去心）　旱蓮上為細末，黃酒面糊為丸，如綠豆大。每服五十丸，青鹽湯送下。服二十日見效，黑。</p>
<p>至三月，再服十日見效。朝暮各一服。</p>
<p><u>烏發方　</u></p>
<p>五倍子（一兩）　砂（春冬八分，秋夏三分）　紅銅末　白礬　石子（各一錢）</p>
<p>上各研極細末。先將須發用肥皂洗淨，以布拭乾。將藥入於白茶盞內，又用濃茶、食鹽些須調前藥，放於鍋內煮三四沸，看其不稠不稀，取起，趁熱以眉掠挑藥染塗白處，以油紙包裹，一二時解去油紙，候干洗淨，須發即黑。</p>
<p><u>制五倍子法　</u></p>
<p>用五倍子，不拘多少，搗碎如黃豆大，用糠篩篩去細者，入無油淨鍋內，不住手炒，以黑色成餅，候冷取出聽用。</p>
<p><u>制銅末法　</u></p>
<p>用紅銅末，將好醋、銅末鍋內炒干，如此七次方好，入醋看末多寡酌量。</p>
<p><u>牢牙烏須</u></p>
<p>　養生不用煉丹砂，每日清晨只擦牙，若還用之三五日，轉教須鬢黑如鴉。</p>
<p>旱蓮草　青鹽　槐角子　豬牙皂　生地黃（各一兩）</p>
<p>上俱切碎，搗和一處，紙包鹽泥裹，燒存性，研為細末。早晨擦牙，吐出洗須上，久則其黑如漆。</p>
<p><u>益牙散</u></p>
<p>補腎去脾濕熱，固齒止疼，明目烏須發，大有神效。</p>
<p>熟地黃　地骨皮　川芎　青鹽（炒）　香附子　破故紙（各二兩）　細辛　防風（各二錢半）　白上為細末，每早蘸藥擦牙，用百沸湯漱口咽下，其效不可盡述。</p>
<p><u>神仙延齡丹</u></p>
<p>專治男婦癱瘓，五勞七傷，顏色枯干，身體羸瘦，婦人久不成胎，男子精神減艱難，筋骨疼痛，能使衰返壯，折骨復堅，素發青墮生瘢痕，耳聰目明，能除病益其效不可盡述。</p>
<p>旱蓮（取汁，晒乾成膏子，半斤）　破故紙（炒香為末，一斤）　五加皮（酒浸一晝一夜，晒乾）</p>
<p>膏子）　紅棗（為末）　核桃仁（去皮，各半斤）　川芎　枸杞（去蒂，酒浸，各四兩）　沒石子　蜂蜜（煉老熟，各二兩）　細辛（一上除桃仁、紅棗、蜜外，其余各為細末，將前三味藥煮熟為丸，如桐子大。每服三五十丸，或酒或鹽湯下。服二十日外，退白生黑。日久延年。神效。</p>
<p><u>烏須大補丹　</u></p>
<p>何首烏（一斤，銅刀切碎，黑豆三升水泡入甑內，與首烏層層鋪蓋，蒸，一炷香盡取出，晒椹子　柏子仁　酸棗仁　沒石子　川椒　小茴香　茯苓（各一兩）　巴戟　百藥煎　槐角子（各五錢）　青鹽　甘草（各三錢）</p>
<p>上二十一味，各制為末，石臼內不犯鐵器。蜂蜜一碗，頭生兒乳汁一碗，二味和勻，銅鏇盛卜、豆腐，不可用。服至二十日，須發從根發黑。至一月，陽物雄壯。須當謹慎。效。</p>
<h3>鼻病</h3>
<p><u>治紅糟鼻　</u></p>
<p>升麻　牡丹皮　生地黃　大黃（各一錢半）　黃連　當歸　葛根（各一錢）　生甘草　白芍（各每帖加紅小豆面一撮。</p>
<p>上銼，水一鐘半，煎至一鐘，去粗渣。徐徐服之，忌蒜、椒、酒。</p>
<p><u>赤鼻久不瘥　</u></p>
<p>用大黃、芒硝、檳榔等分，為末，調敷患處三四次，洗淨，卻用銀杏嚼爛敷之。</p>
<p><u>瓮鼻塞肉乃肺氣盛　</u></p>
<p>用枯礬研為末，綿裹塞鼻中，數日自消矣。</p>
<p><u>鼻瘡久患不已膿極臭者</u></p>
<p>用百草霜研細，每服三錢，冷水調，臥服。</p>
<p><u>鼻中時時流臭黃水，甚者腦亦時痛，俗名控腦砂，有蟲食腦中　</u></p>
<p>用絲瓜藤近根三尺許，燒存性，為末，酒調服。</p>
<p><u>治鼻瘡</u></p>
<p>杏仁（去皮尖），　用乳汁和之，搽瘡處。</p>
<h3>口舌</h3>
<p><u>治口舌生瘡方　</u></p>
<p>黃連　細辛（各等分）</p>
<p>上為末，干摻之，效。</p>
<p><u>治口瘡方</u></p>
<p>黃連（三錢）　乾薑（二錢，炮）　甘草（三分）</p>
<p>上為末，搽患處，良久嗽吐涎出，再搽再吐涎，愈。</p>
<p><u>治舌腫方　</u></p>
<p>用百草霜，醋和敷舌上下，脫皮，須臾立消。</p>
<p><u>舌長過寸</u></p>
<p>　研冰片敷之即收。</p>
<p><u>舌出血如泉</u></p>
<p>炒槐花為末，摻之立止。</p>
<h3>面斑</h3>
<p><u>治汗斑經驗方　</u></p>
<p>官粉（一錢）　輕粉（五分）　硫黃（三分）　珍珠（五厘，砂鍋內　過，研細）</p>
<p>上為末，以生薑擦之，次日即去其斑。</p>
<p><u>點痣　</u></p>
<p>好鹼　礦灰（各等分）</p>
<p>大鐵杓內炒良久，以草葉放入藥上即起焰可用，離火。臨用以清水調和，以鐵條蘸塗痣上，</p>
<h3>牙齒</h3>
<p><u>立止牙疼方　</u></p>
<p>好雄黃（為末）　蒜（一瓣，搗爛，麻布扭汁）</p>
<p>令患人先噙水一口，將布包蒜扭汁，滴鼻中，男左女右，彈上雄末一指甲，些須患人提氣一口，將藥吸上，即吐水疼止。</p>
<p><u>治牙疼方</u></p>
<p>雄黃（五分）　礦灰（五分）　麝香（一分）</p>
<p>上為細末，用黃蠟溶化，入藥為丸，入疼處，立效。</p>
<p><u>又方　</u></p>
<p>全蠍（一個，陰乾）　胡椒（三分）</p>
<p>共為末，搽疼牙立止。</p>
<p><u>治蟲牙疼方　</u></p>
<p>蟾酥　朱砂　雄黃（各一分）</p>
<p>上為細末，面糊為丸，如米粒大。每用一丸，咬疼處，立止。</p>
<p><u>治牙疳　</u></p>
<p>用梔子不拘多少，以水潤，每個鑽眼三五個，入明礬小豆大填在眼內，以火燒煙微盡，為末</p>
<p><u>治牙疳　</u></p>
<p>用明礬五錢枯，雞肫黃五個燒存性，為末，擦之。</p>
<p><u>治牙疳　</u></p>
<p>枯白礬、五倍子燒存性，共為末，擦患處。</p>
<p><u>治牙疼　</u></p>
<p>荊種不拘多少，半生半熟，醋浸。漱口三五次，痛止吐去，效。</p>
<p><u>又方　</u></p>
<p>巴豆一粒去殼，用鐵絲針注，燈火燒半熟。用綿裹咬在疼處，有涎水任流，即愈。</p>
<p><u>梔子散</u></p>
<p>　治一切牙疳，效。</p>
<p>大梔子一個去穰，用生白礬末入梔殼內，燒礬熟，取出研末。先以米泔水漱口，後敷患處。</p>
<p><u>走馬牙疳　</u></p>
<p>杏仁　銅青　滑石（各等分）</p>
<p>上為末，擦患處立愈。</p>
<p>擦牙　固腎牢牙，用久齒不動搖，須發不白，是其驗也。</p>
<p>熟地黃　當歸　青鹽（各一兩）　川芎（八錢）　細辛　荷蒂　葛花（各五錢）</p>
<p>上七味，共研細末。逐日早晨用藥少許擦牙上，不許吐，只要漱咽之。</p>
<p><u>固齒明目方　</u></p>
<p>赤芍藥　荊芥穗　香白芷　當歸尾　防風　青鹽上用青鹽一斤搗碎，以井花水五碗先煎潔淨，為末。然後將咀成片五件藥，用水八升，煎至日早晨洗面時，用手指蘸水濕擦，於牙上下周遍。卻噙半口水，漱三十六次，吐水在手洗面，眼者亦可。用水一升，即一茶盞也。又或添細辛五錢，尤妙。</p>
<p><u>治牙疼</u></p>
<p>麝香（五分，另研）　胡椒　甘松（各一分）　雄黃（半分）</p>
<p>上為細末，研勻，煉蜜為丸，如桐子大。用新綿裹一丸，安在患處，咬定，立效。</p>
<h3>眼目</h3>
<p><u>治暴發眼赤，腫痛眵淚，　澀難開　</u></p>
<p>黃連（五錢）　南薄荷（二錢半）</p>
<p>上為末，用雞子清調和，隔紙塗眼上良久，干則以水潤之，即效。</p>
<p>一方用大黃末，新汲水調塗兩眉正上頭兩腦，水潤之，即愈。</p>
<p><u>洗法</u></p>
<p>　治火眼赤眼，暴發腫痛，不可忍者。</p>
<p>黃連　黃柏（各一錢）　白礬（生，二分）　膠棗（一枚）</p>
<p>水煎半鐘，洗之即消。</p>
<p><u>拜堂散　</u></p>
<p>白礬（二錢）　銅綠（一錢）</p>
<p>泡水洗之，即愈。</p>
<p><u>風眼赤爛　</u></p>
<p>黃連　黃芩　黃柏　荊芥　防風　薄荷（各等分）</p>
<p>先將各味共切，有半碗，洗淨，晒，略帶濕，入碗，加朝腦五六錢，散在上，以一碗合，著</p>
<p><u>治紅爛眼　</u></p>
<p>銅綠（五錢）　瑪瑙（一錢）</p>
<p>上為極細末，用秋時熟天茄不拘多少，換水五七次，絞取汁，丸如桐子大。每用一丸，乳汁</p>
<p><u>治雀目昏暗方</u></p>
<p>干菊花　黃連（各三錢）　夜明砂（七錢）</p>
<p>上三味為末，井花水為丸，桐子大。每服五七丸，鹽湯送下。</p>
<p><u>治暴發腫痛方　</u></p>
<p>先將青皮一塊，水浸洗令干，另用生薑汁、白礬末，將布蘸搭眼胞上，閉目，須臾淚出而痛</p>
<h3>咽喉</h3>
<p><u>吹喉散</u></p>
<p>治咽喉腫痛。</p>
<p>臘八日豬膽一二個，用枯礬五錢，茄柴灰五錢，共入膽袋，滿，陰乾，吹些須即愈。</p>
<p><u>治咽瘡腫方　</u></p>
<p>雞內金倒淨勿洗一個，用壁錢十個，共焙焦為末，吹腫處，即消。如成瘡則愈。多少量用。</p>
<p><u>諸喉風　</u></p>
<p>用豬牙皂角一兩，去黑皮並弦，銼碎，水二鐘，煎至一鐘去滓，加蜜一匙，如無以雞青半個鼻中，蘇矣。</p>
<p><u>治乳蛾氣絕者即時返活　</u></p>
<p>單蛾用巴豆一粒打碎，入綿繭殼內塞鼻，在左塞左，在右塞右；若雙蛾者，用二粒塞兩竅，</p>
<p><u>吹喉散</u></p>
<p>治咽喉腫痛如神。</p>
<p>牙硝（一兩半）　硼砂（五錢）　雄黃　僵蠶（各二錢）　冰片（二分）</p>
<p>上為末，每少許吹患處，立已。</p>
<p><u>針急喉閉法　</u></p>
<p>於大指外邊指甲下根，不問男女左右，用布針針之，令血出即效。如大勢危急，兩手大指俱</p>
<p><u>治喉痹雙單蛾風腫痛涎咽不下，死在須臾　</u></p>
<p>真山豆根為細末，用熊膽和為丸，用雞肫皮陰乾研末為衣，如綠豆大。每用一丸，放舌根下</p>
<h3>癭瘤</h3>
<p><u>海藻潰堅丸</u></p>
<p>治癭大盛，久不消。</p>
<p>海藻　海帶　海昆布　廣術　青鹽（各五錢）</p>
<p>上為細末，煉蜜為丸，龍眼大。每用一丸，食後噙化。</p>
<p><u>治癭方　</u></p>
<p>豬氣眼（一兩，壁土干過，舊瓦焙乾）　明礬（一錢二分，生用八分）　急性子（十五粒，焙乾）</p>
<p>上為細末，均作五服，臨臥燒酒調服。不拘遠近大小。</p>
<p><u>治癭方　</u></p>
<p>木香　當歸　海藻（各一兩）　穿山甲（五片，炒）　海納子（五錢）　豬棗肉（三個）</p>
<p>上用燒酒二壺，煮二炷香。每服一小鐘，酒盡見效。</p>
<p><u>南星膏</u></p>
<p>治頭面、皮膚、手足生瘡，瘤大如拳，小者如栗，或軟或硬而不痛。</p>
<p>大生南星一枚，研細稠黏，用好醋五七滴為膏。如無生以干者為末，醋調作膏。先將小針刺</p>
<p><u>治瘤神方</u></p>
<p>用金鳳花草，煎水頻洗。若夏用鮮者，若秋冬用干者。</p>
<h3>結核</h3>
<p><u>治頂後側少陽經中疙瘩，不變肉色，不問大小，及月深淺遠，或有赤硬腫痛　</u></p>
<p>生山藥（一塊，去皮）　蓖麻子（去殼，三個）</p>
<p>研勻攤帛上，貼之，即消。</p>
<p><u>敷法</u></p>
<p>治痰核。</p>
<p>南星　淮烏（各等分）</p>
<p>為細末，薑汁調如膏，敷核上，立消。</p>
<p><u>治結核腫痛　</u></p>
<p>夏枯草一味，水煎頻服。</p>
<h3>肺癰</h3>
<p><u>治肺癰　</u></p>
<p>薏苡仁略炒為末，糯米飲調服。或入粥內煮吃亦可。或水煎服。當下膿血而安。</p>
<p><u>焊肺丹</u></p>
<p>凡治肺癰，必以此藥間而服之，以護膈膜，不致潰透心肺，最為切當。</p>
<p>白礬（三兩，生）　黃蠟（二兩）</p>
<p>上為末，溶蠟為丸，梧子大。每二十丸，蜜湯送下，臨臥服。</p>
<h3>心痛</h3>
<p><u>紅玉散　</u></p>
<p>生白礬（九錢）　朱砂（一錢）</p>
<p>共研細，每服錢抄一字，溫水調下即止。</p>
<p><u>六合金針散</u></p>
<p>點眼，治蠍肚疼，心疼轉筋。</p>
<p>雄黃　朱砂　乳香　沒藥　火硝（各一錢）　麝香（少許）</p>
<p>共為極細末，點眼。</p>
<p><u>文聖散</u></p>
<p>治急心痛。</p>
<p>舊筆頭三個燒灰，作一服，白滾湯調下，立止。</p>
<p><u>獨步散</u></p>
<p>治心腹暴痛不可忍，神效。</p>
<p>紫色香附三錢為末，熱黃酒調下。</p>
<p><u>治心疼方　</u></p>
<p>用兔血和蕎面為丸，如彈子大。每服一丸，捶碎，熱黃酒送下，立止。</p>
<p><u>碧玉丸</u></p>
<p>治心胃刺痛，其效如神。</p>
<p>生白礬　枯白礬上等分為末，稀糊丸如櫻桃大。每四丸，燒酒下，立止。</p>
<p><u>拈痛丸</u></p>
<p>治九種心疼，神效。</p>
<p>五靈脂　蓬朮（煨）　木香　當歸（各半兩）</p>
<p>為細末，煉蜜為丸，如桐子大。每服二十丸，食前橘皮煎湯下。</p>
<p><u>治心疼</u></p>
<p>椰瓢（用蕎面包裹，燒面去煙為度，多用些）　磁石（少許）　青鹽（少許）</p>
<p>上共研為細末，每服七分，或一錢，黃酒調下。</p>
<p><u>心疼方　</u></p>
<p>槐子（炒黃色，一兩）　古鍛石（炒黃色，一兩）</p>
<p>上共為細末，每服一錢，黃酒或溫水送下，效。</p>
<p><u>治蟲咬心疼　</u></p>
<p>用楝根去粗皮，用白皮，水煎去渣服。</p>
<p><u>清肝順氣湯</u></p>
<p>治心胃刺痛，及兩脅作疼，上嘔，大便硬，六脈急數。</p>
<p>柴胡　黃芩　赤芍藥　厚朴　大黃　芒硝　枳實　梔子（炒）　黃連　半夏　青皮　甘草生薑煎服。</p>
<p><u>拔去病根丸</u></p>
<p>治男婦常慣心腹疼痛，終身不愈者，服此一料除根。</p>
<p>香附　山梔（薑炒）　川芎　蒼朮（米泔浸炒）　神麯（炒）　山楂肉　陳皮（帶白）　半夏曲　草上九味，共為細末，薑汁打稀糊為丸，如梧子大。每服七十丸，臨臥白水送下。</p>
<p><u>灸心疼神法　</u></p>
<p>兩手肘後陷出酸痛是穴，先用香油半鐘重湯煮溫服，即用艾水入粉揉爛為炷，每處灸五壯，</p>
<h3>腹痛</h3>
<p><u>調氣散</u></p>
<p>治氣滯於內，胸膈虛痞，腹中刺痛。</p>
<p>木香　紫蘇（各五分）　檳榔（七分）　青皮（麩炒）　香附（各一錢）　陳皮　半夏（各八分）　甘上銼，生薑三片，水煎服。</p>
<p><u>平肝散</u></p>
<p>治七情不順，鬱火攻衝，腹痛時發時止，痛無定處是也。</p>
<p>陳皮　青皮（麩炒）　香附　白芍　山梔（炒）　黃連（炒）　黃芩（炒，各一錢）　半夏（薑製，生薑三片，水煎服。</p>
<p><u>椒礬散</u></p>
<p>治心腹刺痛。</p>
<p>胡椒　白礬（各一錢）</p>
<p>上為末，每服五分，黃酒調下。</p>
<p><u>治肚痛　</u></p>
<p>用明礬不拘多少，為細末，以蔥白搗爛和丸，如彈子大。每用一丸，研爛，白滾水調下。</p>
<h3>腰痛</h3>
<p><u>治腎虛腰痛，久則寒冷</u></p>
<p>此藥壯筋骨，補元氣，利小水，養丹田。杜仲蓯蓉巴戟天，茴香故將來吃，八十公公也少年。</p>
<p>杜仲（酒炒，去絲，一兩）　肉蓯蓉（五錢，酒洗）　川巴戟（酒浸去骨，五錢）　小茴（一兩）　青鹽（五錢）　故紙（一兩，鹽水浸）</p>
<p>上為細末，將腰子分開，入藥在內縫住，紙包煨熟。每一個一服，用黃酒送下。</p>
<p><u>治腰痛眼疾，烏須黑發。　</u></p>
<p>麻子（去殼，一斤）　白軍薑（四兩）</p>
<p>共為細末，蒸餅糊為丸，如桐子大。每服二十五丸，空心黃酒送下，以干物壓之。</p>
<p><u>如神散</u></p>
<p>治閃挫一切腰痛，甚者不過三服。</p>
<p>當歸　肉桂　玄胡索上等分為末，每服二錢，黃酒調下。</p>
<h3>脅痛</h3>
<p><u>開氣散</u></p>
<p>治脅間痛，如有物刺，是氣實也。</p>
<p>枳殼（去穰麩炒，二兩半）　甘草（炙，七錢五分）</p>
<p>上為末，每服二錢，濃煎，蔥白湯下，不拘時服。</p>
<p><u>疏肝飲</u></p>
<p>治左脅下痛者，肝積屬血，或因怒氣所傷，或跌閃所致，或為痛。</p>
<p>黃連（吳茱萸煎汁拌炒，二錢）　當歸　柴胡（各一錢半）　青皮（一錢）　桃仁（研如泥，一錢）</p>
<p>水煎，食遠溫服。</p>
<h3>痛風</h3>
<p><u>治一切筋骨痛</u></p>
<p>陳皮　青皮　甘草　白芷　良薑　麻黃　罌殼　洛陽花　無灰酒一瓶上為細末，入壺內煮三炷香，取出溫服，汗出為度。加木香三分，白花蛇三錢，尤妙。</p>
<p><u>治一切遍身骨節流注作痛　</u></p>
<p>人參　白朮　茯苓　當歸　川芎　赤芍藥　生地黃　防風　羌活　獨活　天麻　南星陳皮　黃芩　甘草上銼，生薑煎服。</p>
<p><u>遍身疼痛丸　</u></p>
<p>當歸（全身）　羌活　木香（各一兩）　木通　陳皮　青皮　枳殼（各七錢）　川芎　白朮（各六上共為細末，神麯糊為丸，如綠豆大。每服五七十丸，不拘時，熱酒送下。</p>
<p><u>和血止疼如聖散　</u></p>
<p>鹿角（燒灰，一兩）　茺蔚草（小暑前取，陰乾為末，三錢）　乳香（二錢）　沒藥（二錢）　當歸上六味為細末，每服一二錢，重者三錢，好黃酒調下，有汗避風，立效。</p>
<p><u>治筋骨疼神驗方　</u></p>
<p>大豬膽一個，用熱燒酒調下，服不過二三個即安。</p>
<p><u>治遍身骨節疼痛久不愈者　</u></p>
<p>木通不拘多少，酒煎，服之立止。</p>
<h3>腳氣</h3>
<p><u>治風濕腿痛艱行　</u></p>
<p>當歸（一錢，酒洗，全身，焙乾）　白芍藥（八分）　陳皮（八分）　川芎（八分）　白茯苓（八分）</p>
<p>枳殼（八分）　烏藥錢二分）　白芷（八分）　知母上作一服，水二鐘，薑三片，煎服。</p>
<p><u>治寒濕氣作腳腿痛</u></p>
<p>此藥服後，竟投痛處，出汗如神。</p>
<p>番木鱉子（一兩，用牛油炸黃色，炒干）　兩頭尖（三錢，火炮）</p>
<p>上共為細末，每服四分，空心燒酒調下。未止，次日再加二分，三服覺有汗即效。</p>
<p><u>治寒濕氣腳腿疼痛　</u></p>
<p>乳香　沒藥（各一錢）　綿子仁（三錢，炒紅黃色）　白糖一兩上為末，黃酒調下。</p>
<h3>疝</h3>
<p><u>小腸氣墜偏痛　</u></p>
<p>以豬毛燒灰為末，每服二錢，空心熱黃酒下，一服立止。二次加茴香服。</p>
<p><u>小腸疝氣方　</u></p>
<p>荔枝核不拘多少，炒過為末。每服二錢，空心熱酒送下。</p>
<p><u>治偏墜氣方　</u></p>
<p>豬懸蹄，燒存性為末，每服三錢，黃酒調下。</p>
<p><u>治陰囊腎莖肛門瘙癢不可忍者，抓破出血，好了又癢又抓　</u></p>
<p>人言，用釅醋二碗，熬至一碗，洗患處，立止。</p>
<h3>消渴</h3>
<p><u>黃連豬肚丸　</u></p>
<p>黃連（五兩）　麥門冬　知母　天花粉（各四兩）　加葛根、生地黃（各二兩）</p>
<p>上為末，入雄豬肚內縫定，置甑中蒸極爛，取出藥，搗肚成膏，和藥如干，加煉蜜杵勻，如</p>
<p><u>治三消如神</u></p>
<p>用蠶繭殼或絲綿，煎湯服之皆可，無時服之。</p>
<h3>濁證</h3>
<p><u>清濁鎖精丹</u></p>
<p>治白濁，大能化痰如神。</p>
<p>白礬（二兩，飛過）　滑石（二兩）</p>
<p>上為末，早米糊為丸，梧子大。每五十丸，米飲空心下服之。</p>
<p><u>治白濁淋瀝痛，因房欲不節，或精未施泄而將成下疳，神效　</u></p>
<p>綠豆不拘多少，擂，井花水澄清空心服。</p>
<p>洗法：用花椒三錢，蔥白七根，煎水，先熏後洗。</p>
<p><u>治遺精白濁　</u></p>
<p>山藥（一兩）　黃柏（二兩，酒炒）　牡蠣（五錢，火　，火淬七次）　白茯苓（一兩）</p>
<p>上共研細末，酒糊為丸，如梧子大。每四十丸，空心水酒送下。</p>
<h3>遺精</h3>
<p><u>滋補丹</u></p>
<p>治夜夢遺精，或滑精虛損。</p>
<p>人參　白朮　茯苓（去皮）　當歸（酒洗）　川芎　熟地　白芍（酒炒）　枸杞子　杜仲（去皮，遠志（甘草水泡）</p>
<p>上為末，干山藥末打糊為丸，如梧桐子大。每百丸，空心酒下。</p>
<p><u>石蓮散</u></p>
<p>治遺精。</p>
<p>蓮蕊　石蓮肉　芡實　人參　麥門冬　茯神　遠志　甘草上銼，水煎，空心服。</p>
<p><u>神龍丹</u></p>
<p>治遺精。</p>
<p>文蛤（炒，二錢）　白龍骨（　，三錢）　白茯神（去皮木，五錢）</p>
<p>上為細末，醋糊為丸，梧子大。每服三十丸，空心溫水下。</p>
<h3>淋症</h3>
<p><u>治淋方　</u></p>
<p>車前子草　葵花根二味煎湯服之。</p>
<p><u>又方　</u></p>
<p>木通（五錢）　甘草（一錢）</p>
<p>二味煎湯，服之立效。</p>
<p><u>青龍銀杏酒</u></p>
<p>專治五淋白濁，疼痛苦楚，神驗。</p>
<p>天棚草（即瓦松嫩者，去根尖，三錢）　銀杏（即白果，去殼，七個）</p>
<p>上二味共一處，順研極爛，滾黃酒調飲，一服即愈。</p>
<p><u>治血淋方</u></p>
<p>亂髮燒灰存性，為末。每服一錢，空心白滾湯調服。</p>
<p><u>治久淋不止　</u></p>
<p>當歸　川芎　白芍　熟地　陳皮　半夏　茯苓　甘草（各五分）　升麻　柴胡　牛膝　黃柏水煎，露一宿，空心服。</p>
<p><u>鸞鳳散</u></p>
<p>治淋血。</p>
<p>公雞一只，用二腿骨共六節，燒灰存性為末。每服一錢，黃酒送下。</p>
<p><u>小便出血方　</u></p>
<p>用萵苣菜搗爛，貼臍上，立止。</p>
<p><u>加味滋腎丸</u></p>
<p>治熱淋管痛，並兩足熱宜服。</p>
<p>黃柏（八兩，酒拌，晒，炒）　知母（法同上）　五味（四兩）　青鹽（五錢）</p>
<p>上為細末，粥糊為丸，如梧子大。每服五七十，空心米飲湯任下。</p>
<h3>小便閉</h3>
<p><u>治小便不通</u></p>
<p>（樊進忠經驗）</p>
<p>用蟋蟀，一名促織，大者三個，焙乾為末，煎竹葉湯調服，神驗。</p>
<p><u>治小便不通　</u></p>
<p>麝香、半夏末，填臍中，上用蔥白、田螺搗成餅，封臍上，用布帶縛住；下用皂角，煙熏入</p>
<p><u>治小便不通　</u></p>
<p>用皮硝一合，連蔥須一根，搗為一處，用青布攤在上，似膏藥樣，用熱瓦熨之即出。</p>
<p><u>治小便不通腹脹疼痛欲死　</u></p>
<p>野地蒺藜子，不拘多少，焙黃色為末，溫黃酒調服，立通。</p>
<p><u>神灰散</u></p>
<p>治小便不通，登時見效。</p>
<p>用　麻燒灰，黃酒調服。</p>
<h3>大便閉</h3>
<p><u>通腸飲</u></p>
<p>治大便不通，經驗。</p>
<p>皮硝（提過淨者，五子）　蔥白連須（五枝，搗爛，加蜜少許）</p>
<p>用黃酒調飲即通。</p>
<p><u>大便不通　</u></p>
<p>用皮硝五錢，熱酒化開澄去渣，加香油三四茶匙，溫服，須臾即通。</p>
<p><u>大便不通　</u></p>
<p>大黃　皮硝　牙皂三味等分，水煎，一服立通。</p>
<p><u>治大便不通　</u></p>
<p>大黃（一兩）　皮硝（一兩半）　細茶（一兩）　蜂蜜（三匙）</p>
<p>上用水煎，去渣溫服，忌生冷之物。</p>
<p><u>大便不通</u></p>
<p>大麥芽，不拘多少，搗碎入黃酒壺，煮一沸，服之立通。</p>
<h3>大小便閉</h3>
<p><u>顛倒散</u></p>
<p>治臟腑實熱，或小便不通，或大便不通，或大小便俱不通。</p>
<p>大黃（六錢）　滑石（三錢）　皂角（三錢）</p>
<p>上為末，黃酒送下。如大便不通，依前分兩服；如小便不通，黃三錢、石六錢、角如前；大</p>
<h3>痔漏</h3>
<p><u>痔腫痛　</u></p>
<p>蔥頭共蜜搗，點一指頭，腫處冰冷即消散。</p>
<p><u>點痔漏方　</u></p>
<p>頭伏日采下瓦松，熬水，不時洗之。</p>
<p><u>治腸風下血</u></p>
<p>烏梅連核（四兩，燒存性）　黃連（四兩）</p>
<p>上為末，醋糊丸，桐子大。每服七十丸，茶清送下，藥盡而愈。</p>
<p><u>又方　</u></p>
<p>豬腸頭五寸長，煮爛，用黃連為末，和搗極如泥可丸，如梧桐子大。每服七十丸，空心鹽湯下。</p>
<p><u>治腸風痔漏</u></p>
<p>用鵝膽汁點痔，又用新汲水早晚洗之，常洗最效。</p>
<p><u>治痔下血　</u></p>
<p>槐花、荊芥穗（各等分）</p>
<p>上為末，每服一錢，空心茶清送下。</p>
<p><u>治翻花痔</u></p>
<p>馬齒菜一斤，燒存性，細研，豬脂調搽。</p>
<p><u>痔漏　</u></p>
<p>五倍子（大者一個，取孔）　當歸　防風（等分為末，裝實）</p>
<p>以環眼馬糞入油簍，置五倍子熏之，一兩次，有一桶落下，長短不等，瘡永不發。</p>
<p><u>治漏方　</u></p>
<p>熟棗（一大枚）　水銀（一錢）</p>
<p>共揉不見星，隨漏眼大小，作條塞入，蟲死瘡即漸愈矣。</p>
<p><u>槐殼丸</u></p>
<p>專治痔瘡。</p>
<p>槐花（揀淨微炒，八兩）　枳殼（去穰，三兩）</p>
<p>上共為細末，煉蜜為丸，如梧桐子大。每服一百丸，空心白滾湯送下。</p>
<p><u>洗痔神方　</u></p>
<p>曲曲菜　小蟲臥單　馬齒菜　豬牙草　花椒　槐條　茄根煎水，先熏後洗。後用珍珠（　，一錢）、琥珀（一錢）、片腦（二錢），為末搽上。</p>
<p>治痔漏黃色，各等分）</p>
<p>上為細末，江米飯搗為丸，如梧子大。每服三錢，一日三服，米湯送下。忌發氣物。再加皮</p>
<h3>腸</h3>
<p><u>大便下血，腸痛不可忍，肛門腫起　</u></p>
<p>大黃　黃芩　黃連　梔子　黃柏　赤芍　連翹　枳殼　防風　甘草上水煎，空心服，外用金鳳花煎水頻洗，腫消痛止。</p>
<p><u>治大便下血　</u></p>
<p>槐子不拘多少，炒為末，雄豬膽為丸，梧子大。每服五十丸，空心白滾水送下。</p>
<p><u>大便下血秘方　</u></p>
<p>茅根不拘多少，煎湯服之，立止。</p>
<p><u>大便下血如流水不止者　</u></p>
<p>用黃連一兩，金華酒煎服，一服立止。</p>
<p><u>大便下血方</u></p>
<p>當歸　川芎　白芍　熟地（各一錢）　阿膠（炒）　槐花　條芩（各八分）　梔子（六分）</p>
<p>酒煎，空心服。</p>
<p><u>大便下血秘方　</u></p>
<p>干柿餅，燒存性為末，每服二錢，空心米湯調下。</p>
<h3>脫肛</h3>
<p><u>脫肛方　</u></p>
<p>蟬蛻（焙黃）</p>
<p>為末，點即上。</p>
<p><u>洗法</u></p>
<p>治脫肛。</p>
<p>用五倍子三錢，白礬一塊，水煎溫洗，以芭蕉葉或荷葉緩緩托上。</p>
<p>又宜蜘蛛七個燒存性，為末，每少許香油調敷。</p>
<p>又宜生蜘蛛搗，搭臍上即收效。</p>
<p>又宜死鱉頭一枚，燒令煙盡，搗末敷肛上，以手接援之。</p>
<p>又宜烏龍尾（即梁上塵灰）同鼠糞和之，燒煙於桶內，令坐其上，熏之數遍，即上不脫為效。</p>
<h3>諸蟲</h3>
<p><u>追蟲取積丸　</u></p>
<p>黑牽丸（一斤，取頭末四兩）　檳榔（六兩，取頭末四兩）　巴豆（二兩，去殼）　大皂角（半寸上用水三碗，將巴豆、皂角入鍋內煮之，一碗去滓，將水和前藥末為丸，如梧桐子大，晒乾送下。如不行，飲熱水一口催之。行十一二次，忌口五七日為妙。此藥有蟲取蟲，有積取積，效</p>
<p><u>殺蟲丸</u></p>
<p>宜蟲疾，當時取效，消痞塊，即除根。</p>
<p>檳榔　牽牛（各一兩二錢）　綿紋大黃（四錢）　木香（八分）　雷丸　蕪荑　錫灰　使君子肉（上為細末，用連須蔥煎湯，露一宿，為丸，如小豆大，每服四錢，連根蔥湯送下。</p>
<h2>卷三‧康集</h2>
<h3>婦人</h3>
<p><u>加減四物湯</u></p>
<p>治諸病神效。</p>
<p><u>驅風四物湯</u></p>
<p>治血虛頭目眩暈，頭風頭痛，或時頭面作癢，或肌膚癢皆治。</p>
<p>生地黃（酒洗，一錢）　川芎（一錢）　赤芍（八分）　當歸（酒洗，一錢）　荊芥（七分）　防風（上銼，水煎，量疾食前後溫服。</p>
<p><u>除寒四物湯</u></p>
<p>治氣血虛，身體怯冷，但逢時少寒，為之聳肩。</p>
<p>熟地黃　南芎　白芍（酒炒）　白茯苓（去皮）　當歸身（酒洗，各一錢）　乾薑（五分）　石菖蒲（七分）　黃　（蜜炒）　人參（各七分）　甘草（三分）</p>
<p>上銼，水煎，不拘時服。或寒戰加官桂。</p>
<p><u>清暑四物湯</u></p>
<p>治盛暑身熱，頭疼目昏。</p>
<p>生地黃　赤芍　赤茯苓（去皮）　白扁豆　當歸（去頭，酒洗）　川芎　香薷　柴胡　黃芩（去上銼，水煎服。</p>
<p><u>除濕四物湯</u></p>
<p>治感濕氣遍身骨節疼痛，四肢困倦。</p>
<p>當歸（去頭，酒洗）　川芎　赤芍　生地黃　赤茯苓（去皮）　蒼朮（米泔浸，炒）　豬苓澤瀉上銼，水煎，不拘時服。</p>
<p><u>明目四物湯</u></p>
<p>治血虛目暗生花。</p>
<p>當歸（酒洗）　南芎　白芍（酒炒）　熟地黃　肉蓯蓉（酒洗）　酸棗仁（炒，各一錢）</p>
<p>木通（五上銼，水煎服。</p>
<p><u>聰耳四物湯</u></p>
<p>治耳閉。</p>
<p>當歸（酒洗）　川芎　赤芍　生地黃（各一錢）　石菖蒲　酸棗仁（炒）　白芷　木通　枳殼（麩上銼，水煎，食後服。</p>
<p><u>除眩四物湯</u></p>
<p>治頭目昏眩。</p>
<p>當歸身（酒洗）　川芎　赤芍　生地黃（各一錢）　羌活（八分）　細辛（五分）</p>
<p>本（七分）　蔓上銼，水煎服。</p>
<p><u>清暈四物湯</u></p>
<p>治血虛時時昏暈，不得清爽。</p>
<p>當歸　川芎　白芍（酒炒）　熟地黃　蔓荊子（各一錢）　細辛（五分）　半夏（湯泡透切片，薑上銼散，生薑三片，水煎服。</p>
<p><u>止嘔四物湯</u></p>
<p>胃氣不和，時或嘔吐，有物吐出。</p>
<p>當歸（酒洗，七分）　白芍（酒炒，一錢）　川芎（減半，五分）　半夏（湯泡切片，薑炒，一錢）</p>
<p>（去皮，一錢）　枳殼上銼，生薑三片，水煎，不拘時服。</p>
<p><u>除穢四物湯</u></p>
<p>胃氣不和生嘔，不進飲食，無物吐出者。</p>
<p>當歸身（酒洗，一錢）　南芎（五分）　白芍（酒炒一錢）　檳榔（七分）　半夏（湯泡，薑汁炒，穰，七分）　金沸草（五分）　陳皮（一錢）　青木香（五分）</p>
<p>上銼，生薑三片，水煎，不拘時服。</p>
<p><u>散痞四物湯</u></p>
<p>脾胃虛，胸中不時痞悶不寬。</p>
<p>當歸（酒洗，八分）　川芎（五分）　白芍（酒炒，一錢）　枳殼（去穰，麩炒）　枳實（麩炒）　青皮（一錢）</p>
<p>上銼，生薑三片，水煎服。</p>
<p><u>消脹四物湯</u></p>
<p>治氣塊時時膨脹。</p>
<p>當歸（酒洗，一錢）　南芎（八分）　枳殼（去穰，麩炒）　赤芍（八分）　枳實（麩炒）　青皮（去錢）　青木香（五分）</p>
<p><u>清熱四物湯</u></p>
<p>血虛津液干燥，肌體煩熱，手足心熱。</p>
<p>當歸（酒洗，一錢）　川芎（八分）　生地黃　熟地黃　赤芍（各一錢）　天花粉　地骨皮　柴胡上銼，水煎，不拘時服。</p>
<p><u>除煩四物湯</u></p>
<p>虛損，面上心中時或煩熱。</p>
<p>當歸（酒洗）　川芎　赤芍　生地黃　天花粉（各一錢）　五味子（十個）　麥門冬（去心）　前胡　干葛（各八分）　淡竹葉（十個）　人參（七分）　石膏（一錢）</p>
<p>上銼，水煎，不拘時服。</p>
<p><u>止渴四物湯</u></p>
<p>血虛心火旺，津液少，故生渴也。</p>
<p>當歸（酒洗）　川芎　白芍（酒炒）　生地黃（各一錢）　柴胡　前胡（各七分）　五味子（十個）</p>
<p>母（一錢）　石膏（一錢）</p>
<p>上銼，水煎，不拘時服。</p>
<p><u>止痛四物湯</u></p>
<p>血虛弱，渾身四肢疼痛。</p>
<p>當歸（酒洗）　川芎　白芍（酒炒）　熟地黃（各一錢）　秦艽　丹參　羌活　骨碎補（各八分）</p>
<p>上銼，水煎服。</p>
<p><u>除痿四物湯</u></p>
<p>治身虛四肢　弱倦怠。</p>
<p>當歸（酒洗）　川芎　白芍（酒炒）　熟地黃　菟絲子（酒洗）　肉蓯蓉（酒洗）　白朮（去蘆、油炙，七分）　破故紙（上銼，水煎，空心服。</p>
<p><u>健步四物湯</u></p>
<p>血虛不榮於下部，故令足痿弱，不能行步。</p>
<p>當歸（酒洗）　川芎　白芍（酒炒）　熟地黃（各一錢）　牛膝（去蘆，酒洗）　木瓜　川續斷（各上銼，水煎，空心服。</p>
<p><u>和解四物湯</u></p>
<p>傷風感冒，四肢倦怠，頭目昏痛，身熱。</p>
<p>當歸（酒洗）　川芎　赤芍　生地黃（各八分）　本　羌活　前胡　防風　白芷（各一錢）　甘上銼，生薑三片，蔥二根，水煎，熱服。</p>
<p><u>止嗽四物湯</u></p>
<p>肺熱上壅痰嗽。</p>
<p>當歸（酒洗）　川芎　赤芍　生地黃　前胡　桔梗（去蘆）　紫蘇　杏仁（去皮尖）　金沸草　黃上銼，生薑三片，水煎，溫服。</p>
<p><u>化痰四物湯</u></p>
<p>痰壅不利，胸膈不寬。</p>
<p>當歸（酒洗）　川芎　赤芍　陳皮　半夏（湯泡，薑炒）　白茯苓（去皮）　桔梗（去蘆）　枳實上銼，生薑五片，水煎，溫服。</p>
<p><u>順氣四物湯</u></p>
<p>時覺心中氣不下降，痞塞不通，或有積塊。</p>
<p>當歸（酒洗）　川芎（各一錢）　赤芍　枳殼（麩炒）　烏藥（各八分）　三棱（醋浸，炒）　莪朮（皮（去穰）　陳皮上銼，水煎服。</p>
<p><u>定喘四物湯</u></p>
<p>肺氣不利，故令喘促。</p>
<p>當歸（酒洗，六分）　川芎（六分）　白芍（酒炒，六分）　生地黃（七分）　白茯苓（去皮）　前胡穰，麩炒）　枳實（麩上銼，水煎服。</p>
<p><u>消腫四物湯</u></p>
<p>治遍身浮腫。</p>
<p>當歸（酒洗）　川芎　赤芍（各六分）　車前子（一錢）　青木香（五分）　赤茯苓　豬苓澤瀉　大腹皮　葶藶（一錢）　防風　木通　檳榔（各一錢）</p>
<p>上銼，蔥三根，水煎，食前服。</p>
<p><u>治淋四物湯</u></p>
<p>膀胱熱結，小便難。</p>
<p>當歸（酒洗）　川芎　赤芍　生地黃　葶藶　木通　車前子　防風　山梔　條芩（各等分）</p>
<p><u>止瀉　痢四物湯</u></p>
<p>治腸腹虛滑，或瀉或痢不停，虛寒久者宜服。</p>
<p>當歸（酒洗，六分）　川芎（五分）　蒼朮（米泔浸，炒）　白朮（去蘆，各一錢）　木香丁香煨，去油，各一上銼，生薑三片，水煎服。</p>
<p><u>除痢四物湯</u></p>
<p>治痢赤白日久，虛寒者可服。</p>
<p>當歸（酒洗）　川芎　白芍（酒炒，各一錢）　乾薑（炒，五分）　阿膠（炒）　厚朴（薑炒，各一熱盛加黃連、黃芩，裡急後重加檳榔。</p>
<p>上銼，水煎，空心服。</p>
<p><u>通經四物湯</u></p>
<p>經脈不通，不可一例用藥。有血壅盛而不通者，用破血之藥以通之。有血不不行，乃血虛乏，若用破血之藥以通之，非不通行，經後愈損人矣。血虛血旺，中試之，有力無力辨之耳，庶獲不瘥。</p>
<p>當歸（酒洗）　川芎　白芍（酒炒）　熟地黃（各一錢）　人參　黃　（蜜炒）　肉蓯蓉（酒洗，各七分）　五味子（十個）　紅花（五分）　蘇木（一錢）</p>
<p>上銼，蔥白三莖，酒水煎，空心服。</p>
<p><u>清血四物湯</u></p>
<p>血壅過不行。</p>
<p>當歸（酒洗）　川芎　赤芍　生地黃（各一錢）　鬼箭　三棱（醋浸，炒）　玄胡索（各七分）　紅上銼，水煎，入酒同服。</p>
<p><u>安胎四物湯</u></p>
<p>胎氣不安，腰疼重墜。</p>
<p>當歸（酒洗）　川芎　白芍（酒炒）　熟地黃（各一錢）　地榆　續斷　木香　前胡　丹參紫蘇上銼，蔥白一根，水煎，空心服。</p>
<p><u>催生四物湯</u></p>
<p>胎連日不下，死於腹中。</p>
<p>當歸（酒洗，二錢）　南芎（二錢）　桂枝　鬼箭　白芷　蘇木　紅花　乾薑　牛膝（去蘆）　牡丹皮　玄胡索（各五分）　麝香（另研，三分，臨服入湯藥內，攪勻服之）</p>
<p>上銼，一劑，水酒煎服即下。</p>
<p><u>保產四物湯</u></p>
<p>治產後虛損諸病。</p>
<p>當歸（酒洗）　南芎　白芍（酒炒）　熟地（各一錢）　白朮（去蘆，炒，一錢）　白茯苓（去皮，一錢）　甘草（炙，三昏憒加荊芥穗，口乾加麥門冬，盜汗加黃　（蜜炒），　不寐加酸棗仁（炒），惡露不行加桃仁上銼，生薑三片，棗一枚，水煎溫服。發熱加童便一盞同服。</p>
<p><u>化積四物湯</u></p>
<p>因飲酒中毒，或時胸中痞悶，腹中膨脹者，有妨飲食。</p>
<p>當歸（酒洗）　川芎　赤芍　三棱（醋浸，炒）　莪朮（醋浸，炒）　青皮（去穰）　陳皮枳殼（木香（五分）　白豆蔻（去殼，五分）</p>
<p>上銼，水煎服。</p>
<p><u>進食四物湯</u></p>
<p>脾氣不和，胸中飽悶。</p>
<p>白芍（酒炒，一錢）　川芎（七分）　香附（一錢）　砂仁（八分）　陳皮（八分）　枳實（麩炒，七豆蔻（去殼）　青木香（上銼，生薑三片，水煎，溫服。</p>
<p><u>化氣四物湯</u></p>
<p>氣逆上攻，胸脅作痛。</p>
<p>川芎　赤芍　青皮（去穰）　陳皮　香附　檳榔　木香　烏藥　莪朮（醋炒）　川烏（火炮，去上銼，水煎服。</p>
<p><u>扶勞四物湯</u></p>
<p>血虛成勞，遍身骨節酸痛，五心煩熱，盜汗，不進飲食。</p>
<p>當歸（酒洗）　川芎　白芍（酒炒）　熟地黃　黃　（蜜炙）　麥門冬（去心，各一錢）</p>
<p>柴胡　地（各七分）</p>
<p><u>調經四物湯</u></p>
<p>血氣不調，或前或後，或多或少，但調氣經脈自勻。</p>
<p>當歸（酒洗）　川芎　白芍（酒炒）　熟地黃（各一錢）　青皮（去穰）　陳皮　丹參（各八分）　川附（各六分）　砂仁（上銼，水酒煎服。</p>
<p><u>清帶四物湯</u></p>
<p>治血淋，赤白帶下。</p>
<p>當歸（酒洗）　川芎　熟地黃　枳殼（麩炒）　香附（炒，各一錢）　白附子　防風（各五分）　橘上銼，棗三枚，酒一鐘，煎七分，入白面一撮，入淨肉汁，再煎二三沸，空心服。如白帶多</p>
<p><u>胎產四物湯</u></p>
<p>胎前產後，腰胯疼痛。胎前數服，胎滑易產；產後數服，能去敗血。</p>
<p>白芍（酒炒，一錢）　川芎（七分）　枳殼（麩炒，七分）　陳皮（八分）　莪朮（醋炒，六分）　香附（炒，一錢）　大腹皮　當歸（各一錢）　紫蘇（七分）　甘草（三分）</p>
<p>上銼，生薑三片，蔥白三根，水煎，空心服，忌生冷。</p>
<p><u>四時增損四物湯</u></p>
<p>調理婦人女子諸症。</p>
<p>春倍川芎，夏倍芍藥，秋倍地黃，冬倍當歸。</p>
<h3>經閉</h3>
<p><u>治婦人經脈不通方　</u></p>
<p>大黃（二兩，面包燒熟）　頭紅花（二兩）　肉桂（一兩，去粗皮）　吳茱萸（一兩，炒）　當歸（上五味為細末，每服二三錢，好黃酒調下，量人虛實加減。一方加香附米一兩，莪朮、檳榔各五錢，尤佳。</p>
<p><u>治婦人干血氣　</u></p>
<p>海金沙（二錢）　穿山甲（一錢）　大附子（二錢）　皂角（二錢）　苦丁香（二錢）　巴豆（一錢半香（二錢）</p>
<p><u>萬化膏</u></p>
<p>治日久經閉不行，神效。</p>
<p>真香油（一小酒杯）　蜂蜜（一小酒杯）</p>
<p>上共合一處，瓷碗內盛之，重湯煮一炷香，空心熱服即通。</p>
<p><u>養血調經丸</u></p>
<p>治婦人經閉，或二三年不通者，臍左下一塊如碗大，間或吐血或便血，余無恙。此血虛氣盛脾弱郁，用後二方一消一補，即效。</p>
<p>當歸（酒洗，二兩）　南芎（一兩）　白芍（酒炒，二兩）　熟地（四兩）　山茱萸（酒蒸，去核，兩半）　梔子（炒，陳皮（一兩半）</p>
<p>上為末，煉蜜為丸，梧子大。每服三錢，空心淡薑湯下。</p>
<p><u>消積通經丸　</u></p>
<p>南香附（醋炒，十兩）　艾葉（醋炒，二兩）　當歸（酒洗，二兩）　南芎（一兩）　赤芍（一兩）</p>
<p>兩）　莪朮（醋炒，一上為細末，醋糊為丸，如梧子大。每服八十丸，臨臥淡醋湯下。</p>
<h3>血崩</h3>
<p><u>治血山崩不止</u></p>
<p>用核桃連粗皮，以黃酒煮數滾，取出嚼食，仍用酒送下，即止。</p>
<p><u>葙子散</u></p>
<p>治血山崩漏。</p>
<p>葙子二枚，燒胡為末，黃酒調服。</p>
<p><u>固經散</u></p>
<p>治血山崩，神效。</p>
<p>大薊根（不拘多少，燒灰存性，為末。空心好熱黃酒調下，即止）</p>
<p><u>治婦人血崩如泉流不止　</u></p>
<p>棉花子（銅器炒盡煙，為末。每服二錢，空心黃酒下）</p>
<p><u>備金散</u></p>
<p>治婦人血崩不止。</p>
<p>香附子（炒，四錢）　五靈脂（炒，二兩）　當歸尾（一兩二錢）</p>
<p>上為細末，每服二錢，空心黃酒送下。</p>
<p>一方米糊丸，空心五十丸，用醋湯送下。</p>
<p><u>治血山崩如泉涌不止</u></p>
<p>干驢糞為粗末，入壇內燒煙，令崩婦人坐其上煙熏，久久自止。</p>
<p><u>治血山崩　</u></p>
<p>郁花子仁（炒黃色）　黃芩　甘草上等分為末，每服二錢，空心黃酒送下。</p>
<p><u>治血崩　</u></p>
<p>腥腥　草銼，一劑，水煎服之，立止。</p>
<p><u>婦人血崩方　</u></p>
<p>蒲黃　五靈脂　官桂　雄黃　甘草（各一錢）</p>
<p>上為末，每服一錢，薑湯調下。</p>
<p><u>血山崩　</u></p>
<p>當歸（一兩）　龍骨（　，一兩）　香附子（炒，三錢）</p>
<p>上為細末，空心米湯飲調下四錢，忌油膩。</p>
<h3>帶下</h3>
<p><u>治女人赤白帶下，男子白濁。</u></p>
<p>硫黃（一兩，燒酒淬七次）　官桂（三錢）　陳皮（一錢二分）　白芷（二錢）　當歸（一錢二分）</p>
<p>上共為末，每服一錢，空心黃酒送下。</p>
<p><u>劉刺史丸</u></p>
<p>治赤白帶下。此藥不寒不熱，得其平和，助陰生子，神效。</p>
<p>肉蓯蓉（酒洗，一兩三錢）　復盆子（去蒂，一兩二錢）　蛇床子（一兩二錢）　菟絲子（酒製，芎（一兩一錢）　白錢，用鹽泥固濟，煨透去泥研）</p>
<p>上焙乾為末，煉蜜為丸，每服三十或四十丸，早晚青鹽湯送下。二白丸　治白帶如神。</p>
<p>鍛石（一兩）　茯苓（二兩）</p>
<p>上為末，水丸，每服三十丸，空心白水下。</p>
<p><u>火龍丹</u></p>
<p>專治男婦下元久冷，赤白帶下，如神效。</p>
<p>硫黃　丁香　甘松　山柰（各二錢）</p>
<p>上共為細末，煉蜜為丸，如綠豆大，每服七丸、九丸，空心熱黃酒送下。</p>
<h3>求嗣</h3>
<p><u>神仙種子奇方　</u></p>
<p>巴戟肉（二兩五錢）　菟絲子（酒製，二兩）　鹿茸（酥炙去毛，一兩，須真茄茸）　吳茱萸　白芨　白茯苓（各一兩）　大附子（童便浸三日，切片，陽干，五錢）　牛膝（酒洗，去蘆）　細辛（各五錢）　菖蒲　厚朴（薑炒）　桂心　人參　白蘞　沒藥（各四錢）　當歸（三錢）　乳香（二錢）</p>
<p>上共為細末，和丸如梧桐子大。每服五七十丸，空心黃酒送下，或鹽湯亦可。壬子日修合，</p>
<p><u>金蓮種子方　</u></p>
<p>附子（生用，去臍）　白茯苓（去皮，各一兩半）　杜仲（去皮，炒去絲）　桂心　秦艽防風（參（二錢）　何首上共為細末，煉蜜為丸，如黃豆大。每服三十丸，茶酒送下，效。</p>
<p><u>仙傳種子藥酒方　</u></p>
<p>白茯苓（去皮，淨一斤）　大紅棗（煮去皮核，取肉半斤）　胡桃肉（去皮，泡去粗皮，六兩）</p>
<p>酒三十斤芍（炒）　生五錢）　乳香上為細末，共入蜜壇內和勻，筍葉封口，面外固，入鍋內大柴火煮二炷香取出，埋於土中，駐精，補虛益氣，滋陰降火，保元調經，壯筋骨，潤肌膚，發白再黑，齒落更生，目視有光，心之</p>
<p><u>種子方　</u></p>
<p>人參　五味子（各三錢）　白芨　吳茱萸（去皮，各一兩）　白附子（火炮，二兩）　細辛（去土上共為細末，煉蜜為丸，如梧桐子大，每服十五丸，空心溫黃酒送下。</p>
<p><u>禿雞丸</u></p>
<p>治男子陽道痿軟，久無子息，服之旬日見效。</p>
<p>肉蓯蓉（酒洗，一兩）　遠志（去心，一兩）　甘草（水泡）　蛇床子（一兩，鹽酒炒）</p>
<p>山藥（一蕊（一兩）　沉香（上為細末，煉蜜為丸，梧子大，空心五十丸，溫酒下。大壯陽道，無妻不可服。</p>
<p>詩曰：活人曾不受黃金，紅杏栽成春滿林。</p>
<p>石室丹爐藏世域，青囊後發復全生。</p>
<h3>妊娠</h3>
<p><u>安胎方</u></p>
<p>半產多者，有胎先於兩月半後，即服此藥十數劑；四月六月之後，各服數劑，以防至九個月內，服達生散數服，可保無虞。至十個月，可服瘦胎散。</p>
<p>人參　白朮　茯苓　甘草　當歸　川芎　白芍藥　熟地黃　陳皮　阿膠　艾葉　條芩多氣加香附、砂仁，有痰加薑製半夏。</p>
<p>上味薑水煎服，為丸亦可。</p>
<p><u>紫蘇飲</u></p>
<p>治胎氣不和，湊上心腹，脹滿疼痛。兼治臨產驚恐，氣結連日不下。</p>
<p>當歸　川芎　白芍藥　人參　紫蘇　陳皮　大腹皮　甘草上銼，生薑五片，蔥白七寸煎服。</p>
<p>腹痛加香附米，咳嗽加枳殼、桑白皮，熱加黃芩，嘔加砂仁，瀉加白朮、茯苓。胎前諸病，</p>
<h3>產育催生方</h3>
<p>咒曰：九天玄女下界來，身穿羅衣腳撒鞋。揚子江河一點水，產婦吃了產門開。謹請南斗六星，北斗七星，吾奉太上老君，急急如律令敕。默念七遍，吹在水內，產婦吃之即下。</p>
<p><u>治婦人難產及橫生逆產如神</u></p>
<p>蛇退皮焙乾一條為末，每服五分，黃酒調下，效。</p>
<p><u>治橫生逆產胎死腹中　</u></p>
<p>先用伏龍肝三錢為末，黃酒調服，即用平胃散，加皮硝五錢，麝香一分，水煎溫服，立效。</p>
<p><u>治難產方　</u></p>
<p>用魚鰾三寸，燈焰上燒過，為末，每一分，用好黃酒調服。橫生直下者服五分。</p>
<p><u>治胎衣不下　</u></p>
<p>當歸（二錢）　蘇木（二錢）　麝香（少許，另用）</p>
<p>上用水一鐘半，煎至一鐘，入童便一鐘，並麝香末，調勻服之，立下。</p>
<h3>產後</h3>
<p><u>婦人產後十八症論　</u></p>
<p><u>第一論</u></p>
<p>產前母遭熱病欲死者何也？答曰：因母掩熱病，六七日，臟腑極熱，蒸煮其胎，是死在腹中。何以治之？但服烏金散，須臾自然兒生。其狀臍下疼痛，指甲青，口邊沫出，用滑石、榆皮、酒三味，同煎三五沸，溫服。</p>
<p>久纏熱病近子宮，肚熱蒸胎不可禁，臍下疼時有頃刻，口中沫出命逡巡，唇青齒黑推三命，手腿筋抽換四鄰，試看烏金功力效，酒調三服便安寧。</p>
<p><u>第二論</u></p>
<p>難產者何也？緣已成就，食母血十月滿足，自有餘血，遂結成塊，名為兒枕。凡生時，兒枕先破，敗血散入囊中，故難產，急服烏金散，逼去敗血，自然兒生。若胎衣未下，用燕子糞炒黃色，同滑石、榆皮、酒四味，同煎溫服。</p>
<p>腹痛連時至夜半，醫人無路救災危，千斛湯藥施無計，萬種書符效驗遲，痛愁徹心何路去，昏迷勿聽認人知，試將酒調烏金散，必定平安效莫疑。</p>
<p><u>第三論</u></p>
<p>產後胎衣不下者何也？緣母子生訖，腹中敗血流入衣中，被血所脹，故衣難下。但金散，去衣中敗血，則衣帶自斷，須臾自然衣下。用樹棕燒灰，燕子糞炒黃，童子小便、酒同煎，溫服。</p>
<p>子落衣留在腹中，居家愁悶一心同。</p>
<p>須知血返衣中聚，結脹衣根在產宮。</p>
<p>莫信凡醫行取次，無過此藥有神功。</p>
<p>連將溫酒調三服，須臾逐血自然通。</p>
<p><u>第四論</u></p>
<p>產後三五日以來，起坐不得，眼見黑花生，及昏迷或極冷不識人者何也？答曰：緣三五日，血氣未定，敗血流入渾身五臟，奔注於肝臟。醫人不識，多作暗風治之，百無一存。</p>
<p>用榆皮燒灰，生鐵燒紅，酒浸三次，玄胡索、童便四味，同煎溫服。</p>
<p>血奪肝時眼見花，鄰人都道是風邪。</p>
<p>狂言似鬼安知次，亂語如神莫測涯。</p>
<p>恍惚清神看不定，驚慌愁慮恐悲嗟。</p>
<p>若吃三服烏金散，管保全安喜氣賒。</p>
<p><u>第五論</u></p>
<p>產後口乾，悶多煩渴者何也？答曰：緣生產三五日，血氣未定，因食腥酸熱物，瘀住在心臟，故有此疾。醫人不識，多作胸腹膨悶治之，非也。宜用當歸、酒、童便三味，同煎溫服。</p>
<p>因傷熱物口生干，積聚心頭返不安，迷悶昏沉增敗血，驚忙困渴又生寒，唇干口齒咽喉急，恍惚精神語數難，性命不安看頃刻，烏金試服立安痊。</p>
<p><u>第六論</u></p>
<p>產後寒熱往來，腰背疼痛者何也？答曰：緣產後寒於風穴，邪氣入腹，敗血不盡，心肺，下逐肝臟，故令寒熱如瘧疾，或腰腹疼痛。醫人不識，作瘧疾治之，百無一存。但服烏金散，童便、酒、當歸同煎，溫服。</p>
<p>敗血流來似瘧看，肺羸臟氣變多端，喘殘壅盛連心肺，緊逐風邪即入肝，頭疼腰痛身壯熱，口乾體戰更增寒，神功是有烏金散，入口逡巡命自安。</p>
<p><u>第七論</u></p>
<p>產後返熱，遍身四肢寒熱者何也？答曰：緣五臟敗血攻注，流於四肢，停滯日久，還原，仍化作膿血，故四肢俱腫。時人不識，多作水氣治之，百無一存。夫生氣不固，何以治之？水氣腫則喘，小便澀滯，血氣腫則四肢寒熱。先服烏金散去敗血，次服局方通寶散，立效，用桂枝、紅花、酒煎服。</p>
<p>血氣腫　入四肢，皮膚腫悶欲何醫。</p>
<p>還因擁作三焦出，積惡攻心五臟衰。</p>
<p>氣粗喘息如痢澀，血傷疼痛莫能知。</p>
<p>神仙是有烏金散，解救臨危果不虛。</p>
<p><u>第八論</u></p>
<p>產後眼見鬼神，顛狂言語者何也？答曰：蓋因產後敗血攻心，受之適憂，觸被敗血煮其心，遂乃言語顛狂，如見鬼神。醫人不識，多作風魔治之，誤也。但服烏金散，去血，其病自痊。用當歸、童便、酒煎服。</p>
<p>言語無休豈可輕，親眷來看總不通，物無事見言作怪，眼中須臾鬼神驚，時時喘息心煩悶，往往增寒敗血衝，動似風魔緣血氣，烏金服了便安寧。</p>
<p><u>第九論</u></p>
<p>產後失音不語者何也？答曰：人心有七孔九竅三毛，卻被敗血上衝心臟，閉七孔，言語不得。時人不識，多作失音治之。但服烏金散，去卻心中敗血，其病即愈。用玄胡索、棕皮、灰酒三味，煎服。</p>
<p>失音不語有何因，敗血衝心誤損人，羸弱既過知本意，參差性命必沉淪，滿胸奔注沖七孔，流塞心中悶五魂，莫言中風邪氣作，烏金三服得安寧。</p>
<p><u>第十論</u></p>
<p>產後腹疼兼瀉痢，或腹脹虛滿者何也？答曰：緣產後未盈月，誤食冷水，或食熱物血相投，結聚日久，漸漸腹脹疼痛，米穀不消，或膿血不止，腹脹虛滿。若水氣入腹，因冷疼痛，或泄瀉、或痢，或五臟不安。血入小腸，變赤白帶下。先服烏金散，去卻敗血，後調中，痢即安。用葛根、童便、酒同煎，溫服之。</p>
<p>腹中疼痛有千般，呼吸精神語不安，冷水熱湯為疾病，分明相擊血流殘，朝朝米穀難消化，日日虛盈五臟寒，自有烏金散取治，何愁此病不安痊。</p>
<p><u>第十一論</u></p>
<p>產後百節疼痛者何也？緣產後被敗血流入關節中，傷注日久，結聚虛脹，不能還此疼痛。用牛膝、童便、酒煎服之。</p>
<p>百節疼時胸脅排，血流無處不經來，或時腫痛人難辨，發作疼時似刃摧，回轉翻身無可忍，四肢疼痛叫聲雷，只因五臟皆虛弱，服取烏金散不衰。</p>
<p><u>第十二論</u></p>
<p>產後崩中，敗血有如雞肝者何也？答曰：緣產後敗血，惡露自下未定，久而不治，或食腥酸之物，變作崩中，敗血如雞肝，發熱昏悶難治，萬無一存。先服烏金散，用樟柳根、杏膠、酒煎服之。</p>
<p>腹中疼痛如刀割，因食腥酸惹病愆，頻頻落似雞肝色，虛羸四體熱兼寒，有時奔注急煩躁，恍惚昏沉命轉難，但取烏金三二服，當時神效得安痊。</p>
<p><u>第十三論</u></p>
<p>產後血氣不通，上氣咳嗽，昏迷驚恐者何也？答曰：緣產後未經盈月，血未還原填補，因食熱物濕面，壅結成病，積聚成塊，即上氣咳嗽，四肢寒熱，口乾心悶，背夢多驚恐，腹中疼痛，日久月經不通，多致腹疼繞臍下，面帶黃色忽赤，因此不治，變成骨蒸。但服烏金散，用樟柳根、杏膠、酒煎服之。</p>
<p>氣殘血敗中心積，性命行看誤殺人，還因熱面相牽系，往來增寒喘息頻，虛冷昏沉常在枕，形骸常被痛來臨，如何不用烏金散，便著身亡做鬼魂。</p>
<p><u>第十四論</u></p>
<p>產後胸膈氣滿，嘔逆頭疼者何也？答曰：緣產後血氣未定，心中有惡物，是以肺不安，自然吐逆，胸膈脅脹。勿作返食症治之，須服烏金散，去卻心中惡物，其病自愈。用樟柳根、杏膠、酒煎服之。</p>
<p>腹中凝血氣喘呵，又添嘔逆吐涎波，遍臍敗血衝胸膈，繞心虛氣汗流戈，增寒頭疼兼口苦，兩脅膨脹怎奈何，若要氣順心不悶，服取烏金見效多。</p>
<p><u>第十五論</u></p>
<p>產後小便赤色，大便澀滯者何也？答曰：緣產後敗血，流入小腸中，閉卻水門，故小腸閉澀，或攻產門腫。時人不識，多作下淋治之。但服烏金散，去卻敗血，用樟柳根、杏膠、酒煎服。</p>
<p>血入胎中推不知，小便淋澀大便遲，乍寒乍熱頭流汗，恰以英熒向日葵，花向日前如綾錦，孔悲手足亂黏衣，須臾誠驗烏金散，莫信凡愚取次醫。</p>
<p><u>第十六論</u></p>
<p>產後舌乾鼻衄，繞項生瘢點者何也？答曰：緣產後敗血，流入五臟，故有疾。但散，用當歸、童便、酒同煎，溫服。</p>
<p>繞項血瘢點不除，漸凝殘血道流余，敗血流通傷七孔，口鼻經過以次衢，通結四肢黃似赤，不然如面上皮膚。</p>
<p>早早尋醫忙救治，服取烏金病自無。</p>
<p><u>第十七論</u></p>
<p>產後中風，腰疼眼澀，腿腳如弓者何也？答曰：緣產後未盈月之時，或百日之內房事，或因於灸瘡內中風，初時眼澀，體腰脊渾身筋急，有如角弓，牙關緊閉。用河烏蝦、野麻子草、酒煎服。</p>
<p>眼澀腰疼困後眠，多因房事致如然。</p>
<p>此肚為因邪血入，昏沉恍惚病牽連。</p>
<p>牙關緊閉筋還急，腰脊彎時腿亦彎。</p>
<p>毋號見風兼血氣，烏金三服得安身。</p>
<p><u>第十八論</u></p>
<p>咽喉如蟬聲者何也？答曰：產後有熱血相兼，或宿食熱敗血攻注，喘息不定，上於頑涎相結，故令喉中有此聲。時人難救，遂言語不得。五臟未實，用乳香、酒煎血衝心臟熱相兼，喘息喉中不可堪，頑涎瘀血相纏緊，往來徐徐漸加添，富貴此時何不樂，姻親滿室不相瞻。</p>
<p>但服烏金三二服，管教身病即時安。</p>
<h3>乳病</h3>
<p><u>治吹乳　</u></p>
<p>蒲公英　金銀花共一處煎濃，加黃酒服。</p>
<p><u>一方　</u></p>
<p>入患家門房上，或牆頭地下，掐草四指長，以手捺，默念：我佛面前一科蓮，結下子來獻西顧，將</p>
<p><u>下乳方　</u></p>
<p>半夏泡三粒為末，酒調服，即有乳。</p>
<p><u>吹乳咒　</u></p>
<p>咒曰：上方玉女吹奶疼，下方玉女吹奶疼，一口吹在金簪上，按下金簪再不疼。謹請南斗六</p>
<p><u>治吹乳腫痛不可忍　</u></p>
<p>用半夏一個，蔥白二寸，搗一餅。如左吹，塞入右鼻孔；右吹，塞入左鼻孔，經宿愈。</p>
<p><u>治吹乳乳癰神方　</u></p>
<p>用蔥根搗爛，鋪乳患處上，用瓦罐盛火蓋蔥上，一時蒸熱，汗出即愈。</p>
<h3>婦人雜症</h3>
<p><u>神秘萬靈丹</u></p>
<p>專治婦人一切胎前產後，諸般病症，三十六種冷血風，八十二種風疝病，氣乳聚，婦人胎孕不安，死胎不下，不過二三丸；胎衣不下，只一丸；產後腹內攪痛，臍下如刀刺者，只服一丸；胎前產後，赤白帶下，嘔逆填塞，心氣煩滿，懷胎近產，一日一丸；臨產不覺疼，若經脈不通，或來頻並，或赤白帶下，飲食無味，面赤唇焦，手足頑麻，遍身生黑點血　者，一切諸疾，但服一丸，細嚼，溫酒送下。又治產後傷寒中風，體如板者，用麻黃湯下。</p>
<p>何首烏（去皮，用黑豆九蒸九晒，忌鐵器）　川當歸（酒浸）　兩頭尖（各五錢）　川烏（去尖，蘆、尾）　白芷二兩）　白朮（米泔浸）</p>
<p>米泔洗過，入酒浸一宿，晒乾上共二十味，俱為細末，煉蜜為丸，如彈子大。每服一丸，細嚼，黃酒送下。</p>
<p><u>紫霞杯　</u></p>
<p>硫黃（一斤，燒酒煮過，每一兩加雄、砂各一錢）　丁香（一錢）　木香（一錢）</p>
<p>上共為細末，將硫化開，入藥攪勻，傾於模內，即成杯矣。如有下元虛寒，酌酒服之，甚妙下元久冷，婦人白帶淋漓。空心酌酒飲三杯，勝服丹藥良劑。</p>
<p><u>玉兔散</u></p>
<p>治婦人產後，陰下脫似腸者。</p>
<p>用鮮兔頭一個，燒灰存性，敷之即縮上。此藥雖平，有殊效。</p>
<h3>小兒驚風</h3>
<p><u>金箔鎮心丸</u></p>
<p>治風痰胸膈積熱，心神恍惚，急慢驚風如神效。</p>
<p>朱砂　馬牙硝　片腦　麝香（各一錢）　甘草（二兩二錢三分）　人參（五錢七分）　白茯苓（六上為細末，煉蜜為丸，如圓眼大，金箔為衣。每服一丸，不拘時，薄荷湯化下。</p>
<p><u>保命丹</u></p>
<p>治驚風發熱痰嗽，神效。</p>
<p>朱砂　鬱金　天麻（各一錢）　防風　粉草　僵蠶（炒去絲）　白附子　青黛　薄荷　南星（制同下）　半夏（用生薑汁浸二日，銼碎，各二錢）　麝香（少許）　全蠍（去尾、尖，一錢）上為末，煉蜜為丸，如皂角大。每服一丸，燈心薄荷湯送下。</p>
<p><u>保童丹</u></p>
<p>專治小兒急慢驚風。痰咳嗽喘滿，不進乳食，蟲疳積熱，膨脹等病，亦皆治之。</p>
<p>陳枳殼（五對大者，去穰，用巴豆七粒，去殼入內，十字縛定，好醋反復煮軟，去巴豆，切上為細末，以前醋面糊為丸，如綠豆大，朱砂為衣。小兒未及一周一丸，以上三丸，三歲以</p>
<p><u>大紅末子　</u></p>
<p>烏藥順氣散一貼，加朱砂五錢，為細末。</p>
<p>治小兒發熱驚風，及痘疹諸疾。量大小與服，黃酒或米湯調下。多則一錢或幾分。</p>
<p><u>臍風驚風　</u></p>
<p>一粒朱砂一片雪（砂、輕粉各一分），七個僵蠶三個蠍（蠶炒去絲，蠍焙），不論急風與慢風，上為細末，乳汁調一分，敷乳頭，兒口噙，吃下即安。</p>
<h3>疳疾</h3>
<p><u>蘆薈丸</u></p>
<p>治小兒疳積食積，面黃或青或白，小便如泔，大便溏瀉，腹有青筋，肚大如鼓，足瘦如柴，不時發熱，皆治。</p>
<p>胡黃連（乳浸）　山楂肉（各五錢）　鶴虱　蕪荑　蘆薈（乳浸）　川楝子肉　陳皮　白朮三棱（醋炒）　莪朮（醋炒，以上八味各三錢）　使君子肉（十個）　尖檳榔（二錢）　蝦蟆頭（一個，上為末，加飛羅面，入阿魏為糊丸，如綠豆大。每服三十二丸。忌腥暈豬肉，百日外不忌。</p>
<p><u>治小兒癖疾如神</u></p>
<p>砂　硼砂（各五錢）　白滑石（一兩）</p>
<p>上共一處為末，用　魚一尾，去腸屎淨，將藥入肚內，用小銅瓦合住，鹽泥固濟，入炭火癖</p>
<p><u>神仙化癖丸　</u></p>
<p>蘆薈　青黛　木香　厚朴（薑炒）　陳皮（去白）　檳榔（各一錢）　使君子（去殼）　胡黃連　山楂肉　香附（水浸）　三棱（煨，醋炒）　莪朮（煨，醋炒，各二錢）　人參　白朮（各三錢）　水紅花子　神麯（炒）　麥芽（炒，各四錢）　阿魏（為糊，一錢）　甘草（炙，六分）</p>
<p>上為末，將阿魏一錢，水研開，和面糊為丸，綠豆大。每服四五十丸，米飲、白湯任下。</p>
<p><u>小兒癖疾</u></p>
<p>並男婦一切積塊。</p>
<p>核桃（一斤）　檳榔（二十個）　砂（一錢）　大黃（一兩）</p>
<p>上三味為細末，入桃仁，水煮一炷香，水滾時，陸續入皮硝半斤，香盡硝亦盡，只食桃仁亦</p>
<p><u>牛黃散</u></p>
<p>治癖神效。</p>
<p>牛黃　蘆薈　僵蠶（各二錢）　孩兒茶　阿魏　甘草（各三錢）　大黃（一兩一錢）　穿山甲（十上為細末，每服五分，蜜水或黃酒空心服，忌生冷。</p>
<p><u>痞疾丸</u></p>
<p>阿魏（二錢）　天竺黃　蘆薈　沉香　胡黃連　砂　雄黃　沒藥　穿山甲（炙）　草烏（火炮）</p>
<p>上共為末，將阿魏用黃酒放入白瓷鐘內，再坐砂鍋內溶化，取出入群藥攪勻，丸如豆大。</p>
<p>每服二丸，黃酒送下。忌生冷油膩，熱物不可食。</p>
<p><u>化癖膏　</u></p>
<p>黃狗腦子（三個）　皮硝（半斤）　麝香（三分）　珍珠（一錢）</p>
<p>共搗成餅，分作三次用，先令病者飲食稍飽，令仰臥，揣塊之大小，用筆圈定，以篾作圈圍為妙其塊</p>
<p><u>貼癖神應膏　</u></p>
<p>皮砂　山梔子　蜂蜜　酒糟　豬脂　水蘿卜皮（各一兩半）　砂（一錢半）　雞子青（二個）</p>
<p>上各味為細末，搗蔥同雞青相合諸藥，攤布上，貼患處。或用油紙裹住，頻頻潤之。如今日</p>
<p><u>千金不換撾痞膏　</u></p>
<p>血竭（一錢半）　乳香（另研）　沒藥（各二錢，另研）　阿魏（二錢）　大黃　雄黃　米殼巴豆烹）　皮硝　野葡上為末，用小黃米做成粉子，炒糊，四兩，研細，用陳醋和成膏，貼患處。每貼加麝香五分貼二</p>
<p><u>經驗化癖千槌膏</u></p>
<p>治小兒大人內有積塊，發熱口臭。</p>
<p>皮硝（提過明淨者）　川椒（去目）　蓖麻仁（去殼，各六兩）　黃香（即拔過松香，三斤）　綠豆先將綠豆半升，川椒六兩，用水二瓢，熬成濃汁，濾去椒豆，只存淨汁，再熬一炷香，入黃為一方覆除病肉。</p>
<p><u>黃閣化癖膏</u></p>
<p>專貼癖積氣塊，身體發熱，口內生疳。此藥用狗皮攤貼患處，每個重七錢，貼貼七日覺腹微疼，十日大便下濃血為驗，大有神效。忌生冷及腥暈發物百日。（秦艽　三棱　黃柏　莪朮　蜈蚣（各五錢）　當歸　大黃（各三錢）　真香油（二斤四兩）　黃丹（七個）</p>
<p>上將藥入油內，煎黃色為度，濾去滓，搗爛待用。油冷入黃丹，用文武火熬，槐柳條不住手阿魏（一兩）　乳香（五錢）　沒藥（五錢）　麝香（一錢）　皮硝（三錢，風化為末）　攪勻，以瓷器內無不效驗。</p>
<p><u>明目化積丸</u></p>
<p>點痞積熱甚眼　，神效。</p>
<p>牛黃　冰片（各一分）　熊膽（二分）　麝香（七厘）</p>
<p>上為細末，人乳為丸，米大。每二丸入眼，合久自化，有奇功。</p>
<p><u>治大人小兒癖積方　</u></p>
<p>黑礬（三斤）　皮硝（三斤）</p>
<p>上用金花燒酒一碗，調二味勻，面一升和塊，圍病上，以熨斗加火，三日一熨，十日癖軟。</p>
<p>忌醋、醬、魚、犬肉、豆等物。宜牛肉、白米粥，加小棗三個，入飯煮，先吃棗，後用飯，日三服。</p>
<h3>吐瀉</h3>
<p><u>治小兒吐瀉方</u></p>
<p>寒水石（一兩）　硫黃（　過，四錢）</p>
<p>上為末，藿香煮水，打糊為丸，如雞頭子大。每服一丸，針扎燈上燒紅，研末，米湯送下。</p>
<p><u>治小兒泄瀉　</u></p>
<p>赤石脂為末，面糊為丸，如黍粒大。每服十丸，米湯送下。</p>
<p><u>治久瀉不止及脫肛</u></p>
<p>五倍子（炒，一兩）　枯白礬（三錢）</p>
<p>上為末，水糊為丸，如梧桐子大，每服五七丸，空心米湯送下。</p>
<p><u>治小兒水瀉　</u></p>
<p>白礬　黃丹上各五錢，用蔥白同搗爛，塗臍上即止。</p>
<p><u>貼小兒驚癇水瀉</u></p>
<p>巴豆（二個，火炮，去油）　皮硝　黃蠟上三味各等分，搗成膏，攤在紙上，貼額臚上囟門下是也。有小泡起，即止其泄。</p>
<h3>痢疾</h3>
<p><u>治小兒噤口痢　</u></p>
<p>甜梨一個，取出子，入蜜填滿，紙包火煨，熟吃立止。</p>
<p><u>治小兒水瀉痢疾</u></p>
<p>蜂蜜（三茶匙）　飛礬（三錢，為細末）</p>
<p>白蘿卜搗爛，扭水半酒鐘，調在一處飲之，出微汗即好。忌酸冷三五日。</p>
<p><u>治小兒一切痢疾並噤口痢，七八日乃可服　</u></p>
<p>五倍子不拘多少，炒黑色存性，為末，蔥汁為丸，綠豆大。每服一二十丸，生薑湯送下。</p>
<p>一</p>
<p><u>治痢疾口瘡神效　</u></p>
<p>紅麻子（百粒）　巴豆（四十九個）　雄黃　朱砂（各五錢）　蜂蜜（量加）</p>
<p>共搗爛，小兒痢貼印堂，如錢大，二炷香即起。久痢貼三日，一日一換。男女五七歲，貼三</p>
<h3>瘧疾</h3>
<p><u>治小兒瘧疾　</u></p>
<p>用芫花根為末，每用一二分，三歲兒用三分，以雞子一個，去頂入末，攪勻紙糊頂口，外用</p>
<p><u>治瘧秘方　</u></p>
<p>天靈蓋，燒存性為末，每服五厘，黃酒調下。</p>
<h3>咳嗽</h3>
<p><u>小兒咳嗽方　</u></p>
<p>用生薑四兩，煎濃湯，沐浴即愈。</p>
<p><u>治小兒痰嗽方　</u></p>
<p>甜梨一個，入硼砂一分，紙包水濕火煨，熟吃，立愈。</p>
<p><u>治咳嗽方　</u></p>
<p>杏仁（去皮，尖）　胡桃肉（各等分）</p>
<p>上二味為膏，入蜜少許，每一匙，臨臥薑湯下服之。</p>
<h3>牙疳</h3>
<p><u>治小兒牙疳搽上即生肌肉方　</u></p>
<p>輕粉（二分）　孩兒茶（一分）　麝香（一分）　靛花（三分）</p>
<p>上共為細末，照瘡大小，貼患處即效。</p>
<p><u>薑礬散</u></p>
<p>　治小兒走馬牙疳。</p>
<p>乾薑（五分）　晉礬（二錢）　紅棗（三枚，燒存性）</p>
<p>上共為細末，敷在患處。</p>
<h3>口瘡</h3>
<p><u>治小兒滿口白爛生瘡口糜　</u></p>
<p>白朮　茯苓　豬苓　澤瀉　木通　生地　肉桂　甘草上各等分，煎服，神效。</p>
<p><u>治小兒白口瘡方</u></p>
<p>黃丹、巴豆同炒焦，去豆用丹，摻瘡上，立止。</p>
<p><u>小兒口瘡方　</u></p>
<p>用孩兒茶為極細末，敷之立效。</p>
<p>一方用小紅棗去核，入些微白礬，　存性，為末，加入雄黃末，孩兒茶各一分，和勻搽之。先用荊芥煎湯洗口，後敷藥立效。</p>
<p><u>小兒口瘡方　</u></p>
<p>黃柏（蜜炙）　僵蠶（炒）</p>
<p>上為末，敷之立效。</p>
<h3>預解胎毒</h3>
<p><u>消毒丹</u></p>
<p>其效如神。</p>
<p>初覺時，將朱砂一味，先研為末，次用磁石引去鐵屑，然後研為極細末，蜂蜜和水調勻，量多</p>
<p><u>消毒保嬰丹</u></p>
<p>纏豆藤（一兩五錢，六七月收青豆上纏細紅絲者是，采取陰乾，妙在此）　黑豆（三十粒）　赤草當歸　赤芍紙炒過）　連翹（二上共為細末，和勻，淨砂糖拌丸，李核大。每服一丸，濃煎甘草湯化下。</p>
<p>其前項藥，須預辨精料，遇春分秋分，或正月十五日，七月十五日修合，務在精誠，忌婦人老君，急急如律令，敕。一氣念七遍。</p>
<h3>痘瘡</h3>
<p><u>痘煮砂　</u></p>
<p>升麻　川芎　當歸（各四兩）　甘草（三錢）　天麻　干葛（各五錢）</p>
<p>共六味，銼如豆，東流水五瓢，於砂鍋煮朱砂四兩，細絹袋盛之，懸於鍋內，盤覆之，文武量兒大小，一服六七分，炒過糯米三分，同研為末，白蜜一匙，熟水同調下。初發熱者，服之毒瓦斯即散，見苗者服之，則稀亦穩；早回者，服之復起。</p>
<p><u>九味神功散</u></p>
<p>治痘出大盛，血紅一片，七日以前諸症可服。</p>
<p>黃　人參　白芍　生地　紫草　紅花　牛蒡子　前胡　甘草上銼，水煎服。熱甚加黃連、黃芩各一錢；有驚加蟬退去翅足；若頭粒淡黑色者，有寒乘之</p>
<p><u>內托散</u></p>
<p>治氣血虛損，或風邪穢毒沖觸，使瘡毒內陷，伏而不出，或出而不勻快。此藥活血勻氣，調胃補虛，內托瘡毒，使之盡出，易收易靨。</p>
<p>黃　（炒）　人參　當歸（各二錢）　川芎　防風　桔梗　厚朴（薑炒）　白芷　甘草（生，各一錢）　木香　肉桂（各三分）</p>
<p>泄瀉加丁香、乾薑、肉豆蔻。</p>
<p>上方於紅紫黑陷屬熱毒者，去桂加紫草、紅花、黃芩；若淡白灰黑陷伏屬虛寒者，加丁香救</p>
<p><u>起死回生散</u></p>
<p>治痘瘡至七八日，忽然變黑收入，遍身抓破，吭喘慌亂，生死須臾，服此從新另出，立可回生。趙神仙傳。</p>
<p>當歸　川芎　白芍　生地黃　升麻　紅花上陷加白芷，下陷加牛膝，遍身黑陷加麻黃、象糞（微炒，如一歲兒用二錢，大則用至三五錢者）</p>
<p>上銼，一劑，半水半酒煎服。從新發出，腳下有黑疔，至七八日，用針挑去，以太乙膏貼之</p>
<p><u>復生丸</u></p>
<p>治痘疹不起脹。</p>
<p>當歸身　西芎　升麻　干葛　白芍　人參　黃　甘草（各五錢）　辰砂（一兩二錢）　紫草上為末，糯米粽為丸，雞頭子大。每服一丸，河水煎滾，入黃酒少許送下。</p>
<p><u>獨參湯</u></p>
<p>治出痘至貫膿收靨之時，倒塌陷伏，心慌悶亂，死在須臾。</p>
<p>人參一兩，水煎濃汁，灌下即省。</p>
<h3>小兒雜症</h3>
<p><u>碧葉膏</u></p>
<p>治小兒遍身丹毒，神效。</p>
<p>菠菜葉，不拘多少，搗極爛取汁，掃敷在患處，二三次即愈。</p>
<p><u>牛黃消毒膏</u></p>
<p>治小兒一切丹毒，神驗。</p>
<p>雄黃（一錢）　蝸牛（五十個）　大黃末（一兩）</p>
<p>上共研為一處，用鐵鏽水調搽患處。</p>
<p><u>一郎二子散</u></p>
<p>治諸蟲。</p>
<p>檳榔（五個，切片，錫灰炒）　榧子（十個，去殼）　使君子（去殼，二十個）</p>
<p>上共為細末，每服大人二錢，小兒一錢，或五分，空心用蜜水調下。每月初一日起，至十五</p>
<p><u>夜安一粒金</u></p>
<p>治小兒夜啼，立安。</p>
<p>牛黃（生者，三分），研極細，用乳汁調灌咽下，仍將小兒臍下寫一田字，效驗。</p>
<p><u>神仙萬億丸</u></p>
<p>敕封通微顯化真人。</p>
<p>朱砂　巴豆（去殼）　寒食面（清明前一日，用白面二兩，酒和捍成餅，包干面在內，蒸熟，五錢。</p>
<p>研百余下，丸如黍米大。每服三五七丸，看病加減，照後引下。</p>
<p>感冒風寒，薑蔥湯送下出汗。</p>
<p>內傷飲食，茶清送下。</p>
<p>心痛，艾葉煎水，入醋少許送下。</p>
<p>伏暑熱，冷水送下。</p>
<p>心膨氣脹，淡薑湯送下。</p>
<p>霍亂吐瀉，薑湯送下。</p>
<p>痢疾，空心茶清送下。</p>
<p>肚腹疼痛，熱茶送下。</p>
<p>小兒急慢驚風，薄荷湯送下。</p>
<p>一切病症，茶清送下。</p>
<h2>卷四‧寧集</h2>
<h3>癰疽</h3>
<p><u>一枝箭</u></p>
<p>治諸般腫毒惡痛不可忍者。</p>
<p>白芨　天花粉　知母（去毛）　牙皂　乳香　半夏　金銀花　穿山甲（酥炙）　貝母（去心）上銼，每一劑各一錢五分，酒二鐘，煎一鐘，溫服，汗出即愈。</p>
<p>感寒失於表解，流成便毒癰疽，往來寒熱甚艱危。獨活生　，歸尾要真，金銀花穗，大黃酒　甚奇，穿山甲要炒成珠，利下膿血即愈。</p>
<p><u>黑白散</u></p>
<p>專治一切癰疽發背，無名腫毒，醫所不識者，並皆治之，神效。</p>
<p>牽牛黑白者，各一合，用布包捶碎，好酒一碗，煎至八分，露一宿，溫熱服。大便膿血為度</p>
<p><u>朱砂解毒丸</u></p>
<p>治一切惡瘡，走胤無形，並皆治之，若人不能服藥，心中霍亂，不省人事，揆舌尖貼一丸，汗出為度，其效不能盡述。</p>
<p>朱砂（一兩）　龍骨（五錢）　雄黃（少許）</p>
<p>上三味，蟾酥為丸，如綠豆大，輕者五七丸，重者九丸，或十一丸，冷水送下，或舌尖上貼</p>
<p><u>潰膿散</u></p>
<p>治貼骨癰，無名腫毒。</p>
<p>當歸（七錢）　穿山甲（炙，七錢）　大黃（五錢）　白芷（二錢）　乳香　沒藥（各一錢）　僵蠶（共為細末，每服三錢，好酒送下，行一二次腫毒消。</p>
<p><u>治一切無名腫毒，癰疽發背等瘡　</u></p>
<p>用蒜掐斷，擦患處，立消。</p>
<p><u>治癰疽發背，已潰未潰，如神　</u></p>
<p>芝麻一碗，炒糊，入枯礬七錢，再炒，搗成餅，敷患處，三日一換。</p>
<p><u>夾紙膏</u></p>
<p>治發背潰爛者。</p>
<p><u>百草霜</u></p>
<p>壯人血余灰上各等分，研細，臘月油燭淚化開，調為膏，攤舊柿油傘紙上，夾住，周遭線縫，涼水浸之貼，漸愈。</p>
<p><u>千槌膏</u></p>
<p>治無名腫毒，及發背初起者，效如神。</p>
<p>赤杆蓖麻子（四十九個）　杏仁（四十九個）　黃丹（一錢）　軟黃香（二兩）　沒藥（一錢）　乳香（一錢半）　輕粉（五分）　麝香（一分）</p>
<p>上以端午日午時搗千槌，收磁器，絹攤貼。</p>
<p><u>追毒五香丸</u></p>
<p>治發背疔瘡。</p>
<p>丁香　木香　沉香　乳香　沒藥　血竭（各二錢）　巴豆（去皮淨仁，三錢）</p>
<p>上為末，然後入巴豆，同研極細，重羅過，以磁器盛之，黃蠟塞口，臨用時以生蜜調一丸，藥藥下無不愈，乃用一大丸作二三五小丸灌之。（此藥旋用旋丸，不可預丸，積久而無用矣，神效。）</p>
<h3>瘰</h3>
<p><u>治遠近瘰　</u></p>
<p>麝香　黃丹　輕粉　乳香（各一錢）　斑蝥（五錢，麥炒，去頭足翅）</p>
<p>上為末，每服一錢，雞青調勻，入雞蛋殼內，飯上蒸熟。雞鳴時，湯瓶上噓熱，細嚼，飲湯送下。患自小便出，淺者見小便疼澀，下血塊如小指；患深者下如鼠。已潰者用敷貼，旬日自干，永不發。忌三日不得用冷水洗面，手腳不許踏冷地，忌生冷魚雞，動風之物。</p>
<p><u>治瘰　</u></p>
<p>用豬肚去淨勿洗，刮膚上極細嫩油一層，以蔥蜜搗爛，上瘡即潰，蝕舊干，生新肉。</p>
<p><u>又方</u></p>
<p>　已破未破皆可。</p>
<p>以男左女右，搦拳後紋盡處，豌豆大艾炷，灸三壯，三四日愈。</p>
<p><u>又方　</u></p>
<p>用五倍子末，醋調貼敷。如已破，以蜜調敷硬處。消腫軟堅。</p>
<p><u>治瘰　老鼠瘡</u></p>
<p>豬懸蹄，燒存性為末，每服三錢，黃酒送下，一服立消。</p>
<p><u>治項瘰　</u></p>
<p>斑蝥（四十九個，去頭足翅，糯米炒）　白檳榔（一個）　麝香（五分）　砂（一錢）</p>
<p>上為末，用雞清二個，調前藥入殼內，綿紙封固，坐飯蒸熟，取出晒乾為末，平明酒送下七鼠，　盡。忌生冷。</p>
<p><u>琥珀散</u></p>
<p>治瘰　。</p>
<p>滑石（一兩）　白芷（一兩）　斑蝥（二錢）　琥珀（二錢）　僵蠶（一兩）　枳殼（五錢）　甘草（三（七錢）</p>
<p>上銼，一兩，水煎服。</p>
<h3>疔瘡</h3>
<p><u>治疔腫</u></p>
<p>掐頭去白水，以蔥白共蜜搗，貼，效。又以此貼無名腫毒有效，惟要搗黏。</p>
<p><u>又方　治疔。　</u></p>
<p>門樞下土取來，勿令人知，以獨蒜切蘸，擦瘡頂，立消腫。</p>
<p><u>治疔</u></p>
<p>雄黃　朱砂　棺釘鏽（各等分）</p>
<p>上為末，將瘡挑破，量上藥掩口，綿紙貼，留頂有效。</p>
<p><u>治誤食瘟牛肉生疔背瘡　</u></p>
<p>白頭蚯蚓八九條擂，酒濾，用其渣，貼在四圍患處，可留頭出氣。</p>
<p><u>治疔瘡如神　</u></p>
<p>用杏仁切去下少許令平，蘸溏雞糞，安坐於疔頭上，痛即止。</p>
<p><u>奪命丹</u></p>
<p>治無名腫毒，疔瘡發背，小兒急慢驚風，及疽瘡、傷寒陰症。</p>
<p>朱砂（五錢）　雄黃（五錢）</p>
<p>上為末，以蟾酥為丸，如菜子大。每服三丸，蔥酒下，取汗為效。</p>
<p><u>又方　治疔。　</u></p>
<p>取芭蕉根研，生酒服。</p>
<h3>便毒</h3>
<p><u>神異散</u></p>
<p>治魚口便毒瘡。</p>
<p>金銀花　天花粉　木鱉子（各一錢）　甘草（三分）　連翹　黃芩（各八分）　山梔子（七分）　穿上銼，水酒煎，空心溫服。</p>
<p><u>治便毒極效方　</u></p>
<p>當歸尾　金銀花　赤芍藥　天花粉　白芷（各一錢）　穿山甲（二片）　木鱉子（十枚）</p>
<p>大黃（好酒二鐘，煎一鐘，連藥罐露一宿，五更熱服，濃蓋出汗，利一二次即愈。硝黃待群藥煎將</p>
<h3>下疳</h3>
<p><u>治下疳如神　</u></p>
<p>官粉（　，一錢）　冰片（三厘）</p>
<p>上研末，搽上立已。</p>
<p><u>治下疳潰爛立效　</u></p>
<p>珍珠（燒存性）　片腦　血余（燒成灰）　人指甲　腳指甲（燒成灰）</p>
<p>上各等分為末，搽患處。</p>
<p><u>治下疳</u></p>
<p>皮硝（一碗）　乳香　雄黃　孩兒茶（各五分）</p>
<p>上入小壇內，外用牛糞火　熱壇，其硝自化，熏之，晚上使以心口涼為度。</p>
<p><u>治疳瘡方　</u></p>
<p>輕粉（五分）　密陀僧（五分）　沒藥（五分）　川黃連（二錢，淨去須上土）　川黃柏（二錢，去上六味，研細末和勻，先將米泔水，務要洗淨膿血水見肉，然後用藥末，微微薄薄散上，一</p>
<h3>魚口</h3>
<p><u>金蟾膏</u></p>
<p>治未成魚口橫眼，疙瘩疼痛難忍。</p>
<p>大蝦蟆（一個，剝去皮，另放後用）　大蔥白（三根）</p>
<p>上將蝦蟆身連腸及蔥搗一處如泥，敷在腫處。</p>
<p>用蝦蟆皮蓋覆膏上，經宿即消，神驗。</p>
<p><u>子花煎</u></p>
<p>治魚口瘡。</p>
<p>槐子（五錢）　穿山甲（微炒，三錢）</p>
<p>上用無灰黃酒半碗，水半碗，煎至半碗，空心熱服，即愈。</p>
<p><u>治魚口瘡方　</u></p>
<p>大黃（火炮）　僵蠶（去絲嘴，炒）　穿山甲（黃土炒黃色）　五靈脂上四味各等分，共為細末。每服三錢，黃酒送下。即時吃二三服，便膿血即退，效。</p>
<h3>楊梅瘡</h3>
<p><u>楊梅瘡方</u></p>
<p>已發未發者，皆可服之。</p>
<p>土茯苓（二兩）　金銀花　皂角刺　歸尾　白芷　白蘚皮　薏苡仁　防風　荊芥　木瓜木通上用白酒二碗，水二鐘，煎至一半，去渣，不拘時溫服，五七日效。</p>
<p><u>治楊梅瘡　</u></p>
<p>土茯苓（四兩）　金銀花（五錢）　雄豬肉（半斤）</p>
<p>上用水五碗，入藥同煮爛去藥，將肉同湯吃飯，一服。食七服，七日效。忌醋、牛肉、燒酒</p>
<p><u>治頑瘡</u></p>
<p>乳香　沒藥（各二錢）　雄黃（一錢半）　牙皂（五錢）　苦參（五錢）　土茯苓（干用一斤，鮮用上用好黃酒十斤，入壇，下鍋煮三炷香。每日三服，各二三鐘。如能飲，一醉即止疼。</p>
<p><u>治筋骨病</u></p>
<p>用過輕粉者。</p>
<p>黑鉛（三錢，化開），以好麻二錢作刷研，鉛汁務要汁乾為度。取土羅細末。</p>
<p>穿山甲（五分，末，炙黃）　乳香（五分）　沒藥（五分）　水銀（三分半，鉛死）</p>
<p>上共研，生蜜和成一丸。以麻黃煎酒送下，出汗愈。</p>
<p><u>治天　瘡疼痛三五日即好　</u></p>
<p>輕粉（三錢）　朱砂　雄黃　乳香　沒藥（以上各五分）　孩茶（五分）</p>
<p>上為細末，每服一錢八分，三貼，黃酒送下，共分忌油膩物三七日。</p>
<p><u>玉粉散</u></p>
<p>治天　頑瘡，效。</p>
<p>南京官粉一兩，火燒黃色，研細末。每服二三錢，溫燒酒調下。</p>
<p><u>五寶仙丹</u></p>
<p>治天　頑瘡，楊梅潰爛，經年不愈者。</p>
<p>珍珠（一分半）　琥珀（一分半）　片腦（一分半）　朱砂（一分半）　滴乳石（三分）</p>
<p>飛面（炒過別湯水，日日上為細末，分作十二貼，每服一分，土茯苓湯調下，空心服，治病於後。</p>
<p>一種腹內受患，口臭，不能飲食。</p>
<p>二種流穿爛肉，骨出痛甚。</p>
<p>三種皮不損，自然肉痛，年久眠床，誤作瘋氣疾治。</p>
<p>四種發牛皮癬連肉遍身，不識錯認作大麻瘋治。</p>
<p>五種發手足癬，千重萬重，或好或發。</p>
<p>六種發黑紫色遍身，頭痛，四肢及水道、穀道爛。</p>
<p>七種紅色滿面，及面各旺處發瘡。</p>
<p>八種發白色斑癬，及手足、四肢等處。</p>
<p>九種原生疳瘡未服藥，尚存余毒，及延小兒，原產胎毒，多人不識，誤作異瘡治，不應驗。</p>
<p><u>治筋骨疼痛頑瘡不愈甚效　</u></p>
<p>烏藥（一錢二分）　當歸　細辛　陳皮　麻黃　甘草　荊芥（各五分）　川芎　良薑　青皮枳分）</p>
<p>上銼，一劑，酒水煎。生薑三片，蔥一根，煎服。忌生冷油膩之物。</p>
<p><u>治楊梅瘡妙方　</u></p>
<p>輕粉（一錢二分，用銅杓炒黃色）　塵壁土（五分）　槐花末（一錢）　烏藥（八分，瓦罐內煨過上共為細末，杵飯為丸，均作六十三丸。每服三丸，日進一次，酒送下。忌茄子、牛肉。</p>
<h3>瘡</h3>
<p><u>治　瘡膏</u></p>
<p>瘡　口風，效。</p>
<p>香油（半斤）　黃蠟（一兩，夏加五分）　定粉（一兩六錢，研細末）　桑皮紙（濃者二半張）</p>
<p>用銅器將香油入內，以火煨熱，下蠟慢火熬，如桐油色，入粉末，以箸頻攪沫起，熬至沫落瘡用蔥、椒、槐條、茄根煎湯淨洗，用穰絹拭乾，將藥紙貼患處，上用油單紙拴蓋著瘡處。</p>
<p>藥貼一日揭去一張，不十張痊矣，極效。</p>
<p><u>神效　瘡方　</u></p>
<p>黃香　黃蠟　豬脂油（各五錢）</p>
<p>先用黑碗火上將油化開後，入蠟、香溶勻取出，連碗坐涼水內，待冷聽用。將瘡米泔水洗淨日痊。靴襪及一切發物不忌。</p>
<h3>疥瘡</h3>
<p><u>擦疥方　</u></p>
<p>用雞子青同香油入鐵杓內煎三沸，冷定火烤，抓破塗上，土坑上睡即好。</p>
<p><u>又方　</u></p>
<p>蛇床子、大楓子同為末，油調擦，一宿即瘥。忌發物。</p>
<p><u>呂祖苦參數</u></p>
<p>專治風癬疥瘡。</p>
<p>石菖蒲（一兩，九節者）　威靈仙（一兩）　胡麻（炒，一兩）　川芎（一兩）　苦參（四兩）　荊芥上七味共為細末，每服三錢，好黃酒調服，三次愈。</p>
<p><u>天棚散</u></p>
<p>治疥癬諸瘡神效。</p>
<p>干瓦松經霜者，燒灰研末，不拘多少，用雞蛋黃煎取自然油，調搽患處。</p>
<p><u>治疥癬坐板血風痛癢神方　</u></p>
<p>大風子（去殼，四十九個）　蛇床子（三錢）　木鱉子（去殼，二十個）　川椒（二錢）</p>
<p>枯礬（二上為細末，　油搗勻，先將椒艾湯洗令淨，待癢抓破，擦藥大效。</p>
<p><u>治疥內消散　</u></p>
<p>硫黃一二錢，細嚼，燒酒送下。</p>
<p><u>熏疥如掃</u></p>
<p>銀朱　雄黃（各一錢）　木鱉子（一個）　好攛香（一錢）　艾葉（三錢）</p>
<p>上五味為末，以紙卷條，陰陽瓦盛，熏二腿腕，以被蓋之，留頭面在外，先以布包裹二便。</p>
<p><u>治疥癬癩瘡　</u></p>
<p>人言末一錢，放鍋內，入硫黃一兩，化開取出為末，用香油炒蔥拌前藥，入絹帛包擦患處，</p>
<h3>癬瘡</h3>
<p><u>治風癬　</u></p>
<p>巴豆（炒）　草烏（燒存性）　皂角（如上）　人言（少許）</p>
<p>上共為細末，干則香油調敷，溫則干摻之。</p>
<p><u>治牛皮癬極癢抓破爛　</u></p>
<p>牛角爪燒存性為末，香油調搽，立效。</p>
<p><u>治疥癩風癬膿血諸瘡毒煎藥　</u></p>
<p>歸尾（一錢半）　赤芍　黃芩　黃連　黃柏（各一錢）　大黃（三錢七分）　防風（八分）　木鱉子上銼，用酒水各一鐘，煎至一鐘，後下大黃，煎三四沸取起，露一宿，五更服。腸風臟毒下</p>
<p><u>治癬疥老鼠瘡螻蛄等瘡　</u></p>
<p>水銀　鉛（各一錢，將鉛化開，入水銀，冷定為末，聽用）　木香（一錢）　歸尾　梔子黃上為末和勻，加熟紅棗搗丸彈子大。每用一丸，瓦上擱火，將藥放火上燒，煙起口吹，以待</p>
<p><u>治癬方　</u></p>
<p>枯礬　野狼毒（各一兩）　硫黃（少許）　斑蝥（三錢）</p>
<p>共為末，芝麻炒糊色，口嚼成膏，量瘡大小貼上，用布絹包住。膿癬去礬。</p>
<p><u>川槿散</u></p>
<p>專治一切頑癬。</p>
<p>大斑蝥（七個，或小用十個，去頭足）　巴豆（五個，去油）　川槿皮（為末，三錢）</p>
<p>上三味，共為細末一處，用釅醋調搽，稍時作痛起泡，泡落即愈。</p>
<p><u>治　瘡　</u></p>
<p>苦葶藶、芫花搗為末，杏仁四十五個燒存性，搗一處，香油調搽。</p>
<p><u>治　瘡　</u></p>
<p>白礬在杓內化，入信一錢，一並在內滾，礬枯干取出，用礬研細，洗瘡淨，散即干，幾次全</p>
<p><u>烏龍膏</u></p>
<p>專治頭發內生白頂瘡。</p>
<p>伏龍肝（即灶心土，研末，五錢）　飛過白晉礬（五錢）</p>
<p>共研極細，用燈窩香油調敷患處，搽不過三五次，其發復生如黑漆。</p>
<p><u>　瘡方　</u></p>
<p>用豬外腎搗爛，去筋渣用。先用花椒、細茶熬水洗淨後，將搽上封固，一七日自愈。</p>
<p><u>治　瘡　</u></p>
<p>用香油　黃香　輕粉　頭發上入鍋熬，得不稀不稠，將瘡用苦楝根水洗淨，只搽一遍除根。</p>
<h3>癜風</h3>
<p><u>治紫癜風　</u></p>
<p>硫黃（一兩，醋煮一日）　海螵蛸（二個）</p>
<p>上共研為末，先浴，後以生薑蘸藥，熱搽患處，須謹風少時，數度斷根。又以知母磨醋搽亦</p>
<p><u>治白癜風　</u></p>
<p>茄子一個破開，入人言一錢於中，煨熟取去人言，以熱茄搽之即消。</p>
<h3>厲風</h3>
<p><u>厲風瘡　</u></p>
<p>乳香　沒藥　丁香　攛香（即安息香）　水花朱　麝香　蜈蚣　白花蛇　看穀老（各一錢）</p>
<p>上九味為細末，黃蠟二兩化汁為丸，化作十丸，男左女右握之。未用之先，早服天花粉湯，</p>
<h3>諸瘡</h3>
<p><u>綿花膏</u></p>
<p>治諸瘡。</p>
<p>香油（四兩）　雞子（五個，煮熟去白留黃，入油炸紫色）　黃柏（五錢，去粗皮入油炸褐色，綿紙濾過，再入鍋內，下黃蠟四錢，傾碗內，坐水盆，入麝香少許）　乳香　沒藥　孩茶</p>
<p><u>治腫毒　</u></p>
<p>雞子油加頭發、黃蠟些須，量用黃丹試熬貼，每用一個即消。</p>
<p><u>治曝起瘡腫如燒，半日串身　</u></p>
<p>雄黃（五分）　沒藥（五分）</p>
<p>共研極細，入油熬一二滾，取下放將冷，下雞子青調勻，治熱瘡神效。</p>
<p><u>治風瘡各樣爛瘡　</u></p>
<p>香油（四兩）　雞子（二個，青黃俱用，熬枯灰，碾為極細末，入油亦好）　硫黃（一兩，為細末）　雄黃（三錢，為末）</p>
<p>共油攪勻搽瘡，雞毛掃。</p>
<p><u>吹腫毒方　</u></p>
<p>一根柱，兩根柱，北方真武玄天柱　疼也住，腫也住。謹請南斗六星，北斗七星，吾奉太上</p>
<p><u>吹瘡法　</u></p>
<p>日出東方，赤赤中央，金童盛水，玉女焚香，先請天神，次請先王，來禁惡瘡。僅請南斗六</p>
<p><u>治頭瘡並黃水瘡　</u></p>
<p>細茶（二錢）　銀朱（一錢）　水銀（五分）</p>
<p>先將茶搗，次加二味搗研，不見星，散搽，一宿虱淨，瘡自然好。</p>
<p><u>龍鳳膏</u></p>
<p>治一切惡瘡。</p>
<p>鳳凰殼（即出雞蛋殼，不拘多少，微火炒黃色為細末，入蚯蚓糞末）</p>
<p>二味等末，用臘月豬脂油調膏，敷瘡即愈。</p>
<p><u>紅玉散</u></p>
<p>專治頭面黃水到處生瘡。</p>
<p>官粉（二錢）　黃丹（五分）　攏過松香（五錢）</p>
<p>共為極細末，干摻患處。如瘡結痂，用香油調敷，神效。</p>
<p><u>二仙掃痱湯</u></p>
<p>治伏熱遍身痱癢。</p>
<p>棗葉（一升）　好滑石末（二兩）</p>
<p>用水數碗，共合一處，熬二炷香，承熱浴洗，二三次即愈。</p>
<p>點瘡頂方　治無名腫毒，日久不破者。</p>
<p>用葛條燒灰，點在瘡頂上，就破，奇效。</p>
<p><u>治惡瘡出汗方　</u></p>
<p>飛過白礬（一錢）　乾薑（一錢）</p>
<p>共在一處，為細末。每服二錢，黃酒下，汗出有效。</p>
<p>大黃（五錢）　枯礬　皮硝（各二錢半）　榆皮（四兩）</p>
<p>上為細末，涼水調敷患處。</p>
<p><u>治諸毒瘡</u></p>
<p>大黃（一兩）　僵蠶（五錢）　皮硝（一撮，或五錢）</p>
<p>上共為細末，每服三錢半，空心用滾白湯送下。</p>
<p><u>治諸般腫毒瘡癤　</u></p>
<p>凡大人小兒婦女，偶生腫毒，於未成膿之先，銼鹿角末一錢，用滾白酒調服，量瘡上下服之，經宿即成膿，無膿則腫自消，毒自解，神效。</p>
<h3>杖瘡</h3>
<p><u>棒瘡</u></p>
<p>疔了用此藥貼。</p>
<p>黃蠟（一兩）　豬脂油（一兩）　汞（二錢）</p>
<p>三味共搗一處，作餅覆疔處，以油紙綁住，鮮血出為度，去此藥洗淨，收之仍可用。　另貼棒</p>
<p><u>又方　</u></p>
<p>黃蠟　豬脂（各一兩）　汞（二錢）　孩茶（一錢）　大麻子（四十九粒）　片腦（三厘）</p>
<p>共搗成膏，作一搏，臨用置油紙於刀鏊，乘熱將藥一擦，即攤成膏，貼。</p>
<p><u>肉紅膏</u></p>
<p>貼棒瘡起疔止疼。</p>
<p>豬脂油（二兩，煉去渣）　黃蠟（一兩，入一處化開）　銀朱（五分）　花椒末（一錢）</p>
<p>上調勻，用紙攤貼。</p>
<h3>折傷</h3>
<p><u>接骨方　</u></p>
<p>用糞屎內瓦子（　紅醋浸，以此七次為度，一兩）　甜瓜子（三錢，炒過為末）</p>
<p>共一處勻，每服三錢，好酒送下，立止。</p>
<p><u>接骨方　</u></p>
<p>天花粉　瓜蔞仁（各五錢）</p>
<p>共為細末，三服，用點香一炷。先以黃酒熱調三錢三分；香盡三分之一，再服一服如前；香點余三分之一，服盡第三服，亦如前。至一炷香盡，覺接患處有聲，其痛止，次日全好如常。</p>
<p><u>又方　</u></p>
<p>古文錢（大者醋淬碎）　乳香　沒藥（各五錢）　輕粉（一分）</p>
<p>上為末，酒糊丸服，酒調亦可。</p>
<p><u>又方　</u></p>
<p>蟹焙焦黃為末，黃酒調服，接骨時學響出汗止疼。</p>
<p><u>接骨方</u></p>
<p>土鱉（一個，焙乾）　巴豆（二個）　半夏（二個）　乳香（一分）　馬包（即灰包，燒灰存性，一共為末，每服一二厘，黃酒送下，日三服，出微汗其骨止疼。忌鹽醋。</p>
<p><u>抵金丹</u></p>
<p>治跌撲傷損，閃扭骨竅等證。</p>
<p>蠶沙　綠豆粉（炒黃，各四兩）　枯礬（二兩四錢）</p>
<p>上為末，釅醋調敷患處，濃紙貼之，絹布縛綁之，換敷三四次，效。忌產婦房事。常飲黃酒，通和血脈，妙。</p>
<p><u>筋斷骨折痛不可忍　</u></p>
<p>硼砂（一錢半）　水粉　當歸（各一錢）</p>
<p>上為末，每服二錢，蘇木湯調服，仍時飲蘇木水，立效。</p>
<p><u>當歸補血湯</u></p>
<p>專治打傷，血氣不足，神效。</p>
<p>紅花（五錢）　黃　當歸　獨活（以上各一兩）　有風加羌活（一兩）</p>
<p>水一鐘，煎服，忌風。</p>
<p><u>神仙接骨丹</u></p>
<p>治跌打傷損，皮爛骨折，疼痛不可忍，十分危急。此仙傳方也，秘之。</p>
<p>小兒胎骨火燒，醋淬七次，為末聽用。</p>
<p><u>上部末藥　</u></p>
<p>小川芎　白芷　升麻　當歸　蔓荊子　茯苓上切片焙乾，共為細末，秤服七分。</p>
<p>外加黃荊子炒烏色，研為細末三分，二樣共一錢，再加接骨丹五分和勻，用老酒調，食後送</p>
<p><u>中部藥方　</u></p>
<p>當歸　芍藥　茯苓　黃　甘草　生地黃　秦艽　白芷　陳皮　白朮　血　梗上切片焙乾，共為細末，加黃荊子末五分，再加接骨丹八分和勻，老酒調，食後送下。</p>
<p>一日</p>
<p><u>下部藥方　</u></p>
<p>當歸　芍藥　牛膝　木瓜　防己　片薑黃　羌活　獨活　白芷　陳皮　防風　海桐皮秦艽　鐵線藤　千年矮　血　梗上切片焙乾，共為細末。服一錢五分，加接骨丹一錢和勻，老酒調，食前送下。一日服二次</p>
<p><u>打傷疼痛　</u></p>
<p>用久尿處磚瓦，洗淨燒紅，放在醋內，五七次取出為末。每服三錢，黃酒送下。</p>
<h3>破傷風</h3>
<p><u>治破傷風　</u></p>
<p>一對蜈蚣半兩芽（草烏尖也），三錢白芷共天麻，七個全蠍一處研，死在陰司也還家。</p>
<p>先嚼蔥頭二指咽下，以藥一字，黃酒一鐘送下。</p>
<p><u>治破傷風　</u></p>
<p>手指甲，用壯盛人者，灰水鹼水洗淨，香油炸黃為末，每服三錢，黃酒調下。</p>
<p><u>治破傷風及風犬傷　</u></p>
<p>用胡桃殼半個，填人糞滿，用槐白皮襯扣傷處，上用艾灸之，若遍身臭汗出，其人大困即愈。遠年者，將傷處如前灸之。</p>
<p><u>立效散</u></p>
<p>治破傷風（槐花酒亦妙。）</p>
<p>雄黃　香白芷（各等分）</p>
<p>上銼，黃酒濃煎服之。如牙關緊急者，灌之即活。</p>
<h3>腋臭</h3>
<p><u>治陰汗鴉臭兩腋下臭不可與人共行　</u></p>
<p>白礬　蜜陀僧　黃丹（各一分）　麝香（一珠）</p>
<p>上於乳缽內，研如飛塵，以醋於手心調藥末，搽腋下，經兩時辰許，卻以香白芷煎湯洗之，</p>
<p><u>治腋臭神效</u></p>
<p>蜜陀僧（四兩）　枯白礬（二兩）　輕粉（三錢）</p>
<p>上為細末，頻擦兩腋下，擦至半月見效，半年全愈。</p>
<p><u>治腋氣神妙不可盡述　</u></p>
<p>用活田螺一個，以好麝香少許，放於田螺內，卻埋放於露地上，不可雨打，七七四十九日取</p>
<p><u>治體氣　</u></p>
<p>用蠟胭脂搽在腋下，待一時看黃處，灸二十一炷。過三日，食乾薑湯神效。</p>
<h3>湯火</h3>
<p><u>治湯燙火燒　</u></p>
<p>柏葉為末，搽患處。如瘡干者，香油調敷。</p>
<p><u>又方　</u></p>
<p>大黃為末，涼水調敷。或梔子為末，雞子青調敷。</p>
<p><u>又方　</u></p>
<p>大黃為末，涼水調敷，三錢有效。</p>
<p><u>又方　</u></p>
<p>無名異為末，雞子青調敷。</p>
<p><u>治火瘡止痛　</u></p>
<p>乳香為末，雞子青調搽。</p>
<p><u>治火瘡流水　</u></p>
<p>犬油搽上即止。</p>
<p><u>緣白散　</u></p>
<p>治湯火燒，疼痛難忍。</p>
<p>苦參　不拘多少為末，香油調搽。</p>
<p><u>治油火瘡　</u></p>
<p>面和梔子末，油調敷。</p>
<h3>蟲獸</h3>
<p><u>蟾酥丸</u></p>
<p>專治蠍子牙痛疼。</p>
<p>麝香　雄黃　蟾酥　草烏　黃蠟　胡椒（各一錢）</p>
<p>上六味共一處，將蠟化為丸，綠豆大，牙疼咬蠍塗之。</p>
<p><u>如聖散</u></p>
<p>專治蠍螫眼病。</p>
<p>片腦　白礬（各四厘）　火硝（三厘）　膽礬（二厘半）</p>
<p>上四味為細末，點眼效。</p>
<p><u>又方</u></p>
<p>潮腦（一錢）　蝸牛（不拘多少）</p>
<p>共為細末，塗之神效。</p>
<p><u>又方　</u></p>
<p>青黛　飛白礬（各等分）</p>
<p>共為細末，男左女右，點眼，淚出即愈。</p>
<p><u>膽礬錠子</u></p>
<p>專治蠍螫疼痛。</p>
<p>白礬（二錢）　雄黃　蟾酥　膽礬　乳香（各一錢）</p>
<p>上五味共為細末，用水化皮膠為錠子，若蠍螫搽之即好。</p>
<p><u>風犬方</u></p>
<p>黎花斑蝥七個，去翅足，微焙黃色，溫黃酒送下，汗出即愈。忌見風及人驚。</p>
<p><u>治風狗傷人方　</u></p>
<p>斑蝥（七個去足翅），蝦蟆去五臟，用江米一撮，砂鍋片上炒黃色令干，各另研收，用時方合</p>
<p><u>凡風狗咬傷人　</u></p>
<p>本人散發眠在板凳上，用井中涼水泡發，如水溫時，再換水泡，三個時辰，發上尋有紅發者</p>
<p><u>禁蠍子法　</u></p>
<p>上方金雞叫，下方叫金雞，我會錯蠍法，錯了便不疼，青州有青蠍，便把吾郎螫，螫一螫，休</p>
<h3>金瘡</h3>
<p><u>撮合山</u></p>
<p>治破傷、刀刃傷、箭鏃。</p>
<p>降香（三斤）　片腦　珍珠（各二錢）　龍骨　白芷　孩兒茶（各二兩）</p>
<p>用臘腳醋調合，加陳鍛石四兩，陰乾為末，上患處。</p>
<p><u>冰片散</u></p>
<p>治傷手瘡如神。</p>
<p>片腦（二分）　孩兒茶（一錢二分）</p>
<p>共為細末，摻於患處。</p>
<p><u>治金瘡止血速瘥　</u></p>
<p>炒鍛石和雞子白，丸彈子大，炭火　赤，研末敷之。</p>
<p><u>金瘡血不止</u></p>
<p>以血竭末敷之，立止。</p>
<h3>骨鯁</h3>
<p><u>治魚刺方　</u></p>
<p>山查一味，煎滾，先入魚刺化之，即溫服，速化如神。</p>
<p><u>治刺在肉中不出　</u></p>
<p>研蠐螬汁敷，立出。</p>
<p><u>治醫人折針肉中　</u></p>
<p>以鼠腦塗之，出。</p>
<p><u>治魚鯁　</u></p>
<p>取橄欖核為末，流水調服，愈。</p>
<p><u>咒骨鯁　</u></p>
<p>吾從西來，鐵背夜入，入吾喉中，化為粉碎。謹請南斗六星，北斗七星，急急如律令。</p>
<p>（掐</p>
<p><u>治骨鯁</u></p>
<p>用香椿樹子，不拘多少，陰乾，每用半碗許，擂碎，熱酒沖調服之，良久即連骨吐出。</p>
<h3>救急</h3>
<p><u>救急方</u></p>
<p>治縊死頦下筋脈猶動者。</p>
<p>半夏　南星　珍珠為末，吹鼻內，口出痰涎即蘇。溺死，以尿包吹起，以一管節口入肛門，　氣入攻出水來，用幾次可蘇。</p>
<p><u>救死方　</u></p>
<p>半夏細辛為細末，噓鼻時下遇神仙。</p>
<p><u>救溺死方　</u></p>
<p>凡人溺死者，以鴨血灌之可活。</p>
<h3>通治</h3>
<p><u>雄黃解毒丸</u></p>
<p>治諸症神效。</p>
<p>雄黃　鬱金（各一兩）　巴豆（去油，炒焦，八錢）　乳香　沒藥（各二錢）</p>
<p>上為細末，醋糊丸，如綠豆大，朱砂為衣。每服五七丸，隨引下。疔瘡數日，毒瓦斯入內，服之即效。</p>
<p>心下疼，艾醋湯送下。急心疼，艾湯送下。纏喉風，茶湯下，吐痰為妙，不吐者再服。</p>
<p>人暴下。諸般腫毒癰疽，小兒急慢驚風，黃酒下，無不取效。瘋犬傷，斑蝥七個炒，防風湯送下。</p>
<p>身送下。頭風疼，川芎湯送下。口眼　斜，麻黃湯送下。肚腹膨脹，香附湯送下。　腮，芍藥湯送下。痢疾，甘草湯送下。瘧疾，井花水送下。產後諸疾，皂角湯送下。湯傷食傷，鹽湯送下。赤白帶下，好酒送下。腰腳痛，當歸酒送下。半身不遂風證，用薑十片，棗十枚，蔥十根，絹袋盛入罐內，煮酒送下，日三次。緩即浸酒亦可。春三夏一，秋五冬七日。小兒亦可用。</p>
<p><u>一粒金丹</u></p>
<p>沉香　木香　血竭（各一錢）　牛黃　狗寶（各五分）　鴉片（一錢五分）　麝香（二分）　朱砂（為末）上共為末，用頭生小兒乳汁為丸，如黃豆大，朱砂為衣。每服一丸，舌裡押之，先嚼梨汁送一粒金丹太上留，能醫萬病解人愁。吐血吐膿如捏去，咳嗽氣喘當時休。胸膈膨悶立寬快，</p>
<p><u>十仙奪命丹</u></p>
<p>治梅核氣，膨脹氣塊，冷心疼，經脈不通，食積氣積冷積。</p>
<p>三棱　莪朮　木香　沉香　丁香　沒藥　川芎　苦葶藶　皂角　巴豆（槌去油）</p>
<p>上各等分，為細末，棗肉為丸，如櫻桃大。每服一丸，空心涼水送下。</p>
<h3>膏藥</h3>
<p><u>神仙太乙膏</u></p>
<p>專貼打撲傷損，遍身疼痛，一切癰疽，惡瘡疥癬，及筋骨疼痛，如神。</p>
<p>黃柏　防風　玄參　赤芍　白芷　生地黃　大黃（以上各五錢）　血竭（三錢）　當歸（八錢）</p>
<p>共合一處，用真麻油四斤浸藥，春五夏三，秋七冬十日，用桑柴火熬，令油褐色，濾去渣，</p>
<h3>雜方</h3>
<p><u>噙化上清丸</u></p>
<p>香口生津，止痰清熱，寧嗽清頭目。</p>
<p>五倍子打碎，去內末，淨一斤，為細末，用水白酒曲二兩亦為細末，二味合一處令勻。</p>
<p>卻將鋪穰草，口間上用草拍蓋住。次日驗看，發動作熱，用棍動，仍舊蓋住，看蓋上有水擦淨。</p>
<p>如此一日二次，看攪擦水。至二七日嘗之，其味涼甜為止。後合法前制中煎，乘濕加南薄荷三兩，白硼砂二兩，砂仁焙、甘松焙、玄明粉各為末五錢，將前共為一處，用梨汁熬膏，搗和為丸，任意噙化。加片腦尤妙。如無梨汁，用柿霜白湯和之亦可。</p>
<p><u>雞蘇餅子　</u></p>
<p>柿霜　白糖霜（各四兩）　冰片（三分）　南薄荷（淨葉三兩，冷水洗，晒乾）　白葛粉（一兩）　烏梅肉（晒乾，二兩半）　好檀香（二錢）　白官硼（五錢）</p>
<p>上為細末，入好片腦三分，再研末，煉蜜為丸，如櫻桃大，捏成餅子，每一丸噙化。</p>
<p><u>香茶餅　</u></p>
<p>細辛（四兩）　葛花　沉香　白檀　石膏　硼砂（各一兩）　薄荷（二兩）　孩茶（五錢）　烏梅（上為細末，甘草膏為丸，捏餅噙化。</p>
<p><u>沉檀香茶餅　</u></p>
<p>檀香（一兩五錢，為末）　沉香　芽茶　甘草　孩茶（各一錢）　百藥煎（二錢）　龍腦（量加）</p>
<p>意為之。</p>
<p><u>香身丸</u></p>
<p>入酒壺，名共殿香，又名一座香。</p>
<p>白豆蔻（四兩）　木香（二兩）　檀香　甘松（各一兩）　廣零陵香（一兩半）　丁香（七錢半）　白香（少許）</p>
<p>上為極細末，煉蜜同酥油或羊尾油，於石臼搗千余下為丸，如黃豆大，每用一丸噙化。</p>
<p>當日中</p>
<p><u>硼砂丸</u></p>
<p>治口臭口乾口舌生瘡硼砂（二兩）　風化馬牙硝（四兩）　片腦　麝香（各一錢）　寒水石（飛，　，十兩）</p>
<p>上為極細末，熬甘草膏和丸，如桐子大。不拘時含一丸，咽津，妙。</p>
<p><u>透頂香　</u></p>
<p>片腦（一錢）　麝香（五分）　硼砂（三錢）　薄荷（二錢）</p>
<p>上為極細末，熬甘草膏為丸，如桐子大，朱砂為衣。每用一丸，噙化。</p>
<p><u>洗香丸　</u></p>
<p>孩兒茶（一兩一錢三分）　上好細茶（一兩）　砂仁（一兩三錢）　白豆蔻（三錢三分）</p>
<p>沉香（七上為細末，甘草膏為丸，如豌豆大。每用一丸，噙化。</p>
<p><u>法制芽茶</u></p>
<p>清熱化痰，消食止渴。</p>
<p>芽茶（一斤，揀淨，冷水洗，烘乾）　白檀香末（五錢）　白豆蔻末（五錢）　片腦（一錢，另研）</p>
<p>用甘草膏拌勻茶，將前三味散為衣，晒乾，不拘時嚼咽。亦能解酒。</p>
<p><u>法制枸杞子</u></p>
<p>治虛煩，生津，益壽延年。</p>
<p>枸杞子（甘州紅者，半斤）　白檀香末（五錢）　白豆蔻末（四錢）　片腦（一錢，另研）亦用甘草膏同煎為衣。</p>
<p><u>瑩肌如玉散</u></p>
<p>〔一方有白芷、天花粉（一兩）〕</p>
<p>楮實（五兩）　白芨（肥者，一兩）　升麻（白者，半兩）　甘松（七錢）　白丁香（臘月收，半兩）　糯米（一升二合，為末）　連皮砂仁（半兩）　山柰子（五錢）　綠豆（八合，另用羅絹子羅，弦子可得二斤半，為末，另用羅子羅過）</p>
<p>上俱為末，入糯米、綠豆、皂角末，一處攪勻，如常用之。</p>
<p><u>八白散　</u></p>
<p>白芨　白丁香　白僵蠶　白丑　杜蒺藜　新升麻（用白者佳，各三兩）　山柰子　白蘞白芷上為末，至夜津唾面上，明旦以瑩肌如玉散洗之。</p>
<p><u>洗面漚子</u></p>
<p>茅香　藿香　零陵香　朝腦（以上為細末，小袋盛之）　加梨核　紅棗　享糖（量加）</p>
<p>小磁罐盛，滾黃酒浸之，旋添旋用。</p>
<p>香肥皂藿香　甘松　朝腦　細辛（各一兩）　豬胰　白芷（各一兩）　肥皂（去皮弦子，半斤）</p>
<p>上俱為末，搗熟棗一兩，為膏和丸，如干少加煮棗汁，丸如彈子大，晒收用。</p>
<p><u>孫仙少女膏　</u></p>
<p>黃柏皮（三寸）　土瓜根（三寸）　大棗（七個）</p>
<p>上同研細為膏，常早起化湯洗面，旬日後容如少女。以之洗浴，尤為神妙。</p>
<p><u>楊太真紅玉膏　</u></p>
<p>杏仁（去皮）　滑石　輕粉上三味等分，為細末，蒸過，入腦麝香少許，以雞子清調勻。早起洗面，後敷之，旬日後色</p>
<p><u>省頭香　</u></p>
<p>茅香　山柰　荊芥　川芎　檀香　細辛　沉香　防風　川椒　樟腦（各一兩）　白芷　甘松廣零陵香　香附子（各二兩）</p>
<p>上為細末，摻頭發內。</p>
<p><u>干洗頭　</u></p>
<p>甘松　川芎　百藥煎　薄荷　白芷　五倍子　藿香　茅香　草烏（各等分）</p>
<p>上為末，不拘多少，干洗頭發。</p>
<p><u>衣香方　</u></p>
<p>茅香銼（蜜炒）　零陵香（各三兩）　香白芷　甘松（去土，各一兩）　檀香（五錢）　山柰（七錢上為細末，入麝少許和勻，以絹袋盛之。</p>
<p><u>造仙酒方　</u></p>
<p>細面四斤干後稱，糯米一斗熟軟蒸，胡椒良薑三兩等，桂花細辛四兩停，肥好杏仁五百粒，停。春夏七日冬半月，卯時方可得開瓮，取出爛搗三千杵，時間丸作彈子形。每丸煎水二大碗，藥入瓮中自作聲，不待一時便為酒，吃了延年更長生。</p>
<p><u>造蜜林禽酒方　</u></p>
<p>用糯米一升，煮米湯三五碗，止用米湯，飯吃之。又用好燒酒三五碗，入米湯。次用木香、再成詩曰：此酒至神至聖，號為王母仙漿。留傳世上與人嘗，服了神清氣爽。善能調治五臟，又治滿目睜光。曾將此酒獻皇王，萬兩黃金陪賞。</p>
<p><u>黃酒省面方　</u></p>
<p>糯米（一斗）　麥面（一斗）　綠豆面（五升）　蜂蜜（二十四兩）　官桂（二兩）　香附子（二兩）</p>
<p>上為細末，搜和，干濕得宜，　葉包，外用故紙再包麥楷，埋一七日取出，日晒夜露，成熟</p>
<p><u>金盤露　</u></p>
<p>白酒曲（四兩）　小棗（八兩，煮熟）　白糖（一斤）　糯米（一升）　加香數味亦妙。</p>
<p>將米泡淘淨，蒸熟冷定，將面糜四味和勻，用絹袋盛之，懸在燒酒壇內封固，三七日取出。</p>
<p><u>蘭陵酒方　</u></p>
<p>白面（八十斤）　糯米面（二十斤）　沉香　木香（各五錢）　砂仁（二兩）　當歸（一兩）　陳皮（（一兩）</p>
<p>上為末，和作曲，二十一日下吊，翻覆如常法。</p>
<p><u>香茶餅子　</u></p>
<p>甘松　乳香　大茴香　砂仁　官桂　白豆蔻（去殼）　細茶　綠豆粉（炒）　薄荷　藿香零陵（三錢）　柿霜（大甘草一斤，銼，熬成膏，俱為細末，煉蜜和膏為丸，如綠豆大，每用一丸噙化。</p>
<p><u>玉露酒　</u></p>
<p>薄荷葉（五斤）　綠豆粉　白沙糖（各一斤半）　天門冬（去心，一兩）　麥門冬（去心，一兩）</p>
<p>用新盆二個，將薄荷等藥層相間隔，著實盛於內，二盆合封固如法，不許透氣，蒸五炷香。取出晒乾，抖去群藥，止用豆粉，復加白糖，柿霜、硼砂、冰片隨用。此藥諸疾痰飲，宿滯噎塞，氣痞奔豚，膨脹，上喘下墜，乍寒乍熱，頭目暈脹，咽喉腫痛，不拘老少，並皆治之。不用引子，諸物不忌。</p>
<p><u>上清丸</u></p>
<p>化痰止嗽，清火生津止渴。</p>
<p>烏梅肉（一斤，去核）　薄荷（八兩）　柿霜　沙糖（各四兩）　石膏（火　，一兩）　粉草（一兩）　冰片（二分）</p>
<p>上為末，烏梅搗為丸，如梧子大。每服一丸，噙化。</p>
<p><u>透體異香丸</u></p>
<p>專治五膈五噎痞塞，諸虛百損，五勞七傷，體氣、口氣、顙氣等症。初服一七香。若常服，身體康健，壯陽滋腎，補益丹田，不可盡述。</p>
<p>沉香　木香　丁香　藿香　沒藥　零陵香　甘松　縮砂　丁皮　官桂　白芷　細茶　香附藥（先將大粉草半斤銼片，水煮汁去渣，將汁熬成膏，將前藥為末，煉蜜共膏搗和為丸，如芡實</p>
<p><u>肥皂方</u></p>
<p>專治粉刺、花斑、雀子斑，及面上黑靨，皮膚燥癢。此藥去垢潤肌駐顏。如年高得轉老色如童子，似玉之光潤，乃奇方也。</p>
<p>角子糯肥皂（一斤十二兩，去核）　真排草（一兩五錢，如鐵線者佳）　綠升麻（四兩）</p>
<p>白芨（另研）　綠豆（五皮，研如泥）　豬胰子（五陵香（五錢）　大片腦　藿香（南桂花（一兩半）</p>
<p>上為末，加蜂蜜半斤，金酒一鐘，量末均調，得所搗為丸，龍眼大。照常洗面，潤開搽臉。</p>
<p>久用斑滯自消，面如玉色。</p>
<h2>人有百病</h2>
<p>喜怒偏執是一病，忘義取利是一病，好色壞德是一病，專心系愛是一病，憎欲無理是一病，縱貪蔽過是一病，毀人自譽是一病，擅變自可是一病，輕口喜言是一病，快意逐非是一病，以智輕人是一病，乘權縱橫是一病，非人自是是一病，侮易孤寡是一病，以力勝人是一病，威勢自憎是一病，語欲勝人是一病，債不念償是一病，曲人自直是一病，以直傷人是一病，與惡人交是一病，喜怒自伐是一病，愚人自賢是一病，以功自矜是一病，誹議名賢是一病，以勞自怨是一病，以虛為實是一病，喜說人過是一病，以富驕人是一病，以賤訕貴是一病，讒人求媚是一病，以德自顯是一病，以貴輕人是一病，以貧妒富是一病，敗人成功是一病，以私亂公是一病，好自掩飾是一病，危人自安是一病，陰陽嫉妒是一病，激勵旁悖是一病，多憎少愛是一病，堅執爭斗是一病，推負著人是一病，文具鉤錫是一病，持人長短是一病，假人自信是一病，施人望報是一病，無施責人是一病，與人追悔是一病，好自怨憎是一病，好殺蟲畜是一病，蠱道厭人是一病，毀訾高才是一病，憎人勝己是一病，毒藥鴆飲是一病，心不平等是一病，以賢　是一病，追念舊惡是一病，不受諫諭是一病，內疏外親是一病，投書敗人是一病，笑愚痴人是一病，煩苛輕躁是一病，摘捶無理是一病，好自作正是一病，多疑少信是一病，笑顛狂人是一病，蹲踞無理是一病，丑言惡語是一病，輕慢老少是一病，惡態丑對是一病，了戾自周是一病，好喜嗜笑是一病，當權任性是一病，詭譎諛諂是一病，嗜得懷詐是一病，兩舌無信是一病，乘酒凶橫是一病，罵詈風雨是一病，惡言好殺是一病，教人墮胎是一病，干預人事是一病，鑽穴窺人是一病，不借懷怨是一病，負債逃走是一病，背向異詞是一病，喜抵得戾是一病，調戲必固是一病，故迷誤人是一病，探巢破卵是一病，驚胎損形是一病，水火濺傷是一病，笑盲聾啞是一病，亂人嫁娶是一病，教人捶　是一病，教人作惡是一病，含禍離愛是一病，唱禍道非是一病，見貨欲得是一病，強奪人物是一病。上為百病也。人能一念除此百病，日逐檢點，一病不作，決無災害痛苦，煩惱凶危。不惟自己保命延年，子孫百世永受其福矣。</p>
<h2>醫有百藥</h2>
<p>思無邪僻是一藥，行寬心和是一藥，動靜有禮是一藥，起居有度是一藥，近德遠色是一藥，清心寡欲是一藥，推分引義是一藥，不取非分是一藥，雖憎猶愛是一藥，心無嫉妒是一藥，教化愚頑是一藥，諫正邪亂是一藥，戒敕惡仆是一藥，開導迷誤是一藥，扶接老幼是一藥，心無狡詐是一藥，拔禍濟難是一藥，常行方便是一藥，憐孤惜寡是一藥，　貧救厄是一藥，位高下士是一藥，語言謙遜是一藥，不負宿債是一藥，愍慰篤信是一藥，敬愛卑微是一藥，語言端愨是一藥，推直引曲是一藥，不爭是非是一藥，逢侵不鄙是一藥，受辱不忍是一藥，揚善隱惡是一藥，推好取丑是一藥，與多取少是一藥，稱嘆賢良是一藥，見賢內省是一藥，不自夸彰是一藥，推功引善是一藥，不自伐善是一藥，不掩人功是一藥，勞苦不恨是一藥，懷誠抱信是一藥，覆蔽陰惡是一藥，崇尚勝己是一藥，安貧自樂是一藥，不自尊大是一藥，好成人功是一藥，不好陰謀是一藥，得失不形是一藥，積德樹恩是一藥，生不罵詈是一藥，不評論人是一藥，甜言美語是一藥，災病自咎是一藥，惡不歸人是一藥，施不望報是一藥，不殺生命是一藥，心平氣和是一藥，不忌人美是一藥，心靜意定是一藥，不念舊惡是一藥，匡邪弼惡是一藥，聽教伏善是一藥，忿怒能制是一藥，不干求人是一藥，無思無慮是一藥，尊奉高年是一藥，對人恭肅是一藥，內修孝悌是一藥，恬靜守分是一藥，和悅妻孥是一藥，以食飲人是一藥，助修善士是一藥，樂天知命是一藥，遠嫌避疑是一藥，寬舒大量是一藥，敬信經典是一藥，息心抱道是一藥，為善不倦是一藥，濟度貧窮是一藥，舍藥救疾是一藥，信禮神佛是一藥，知機知足是一藥，清閑無欲是一藥，仁慈謙讓是一藥，好生惡殺是一藥，不寶濃藏是一藥，不犯禁忌是一藥，節儉守中是一藥，謙己下人是一藥，隨事不慢是一藥，喜談人德是一藥，不造妄語是一藥，貴能授人是一藥，富能救人是一藥，不尚爭斗是一藥，不淫妓眚是一藥，不生奸盜是一藥，不懷咒厭是一藥，不樂詞訟是一藥，扶老挈幼是一藥。古之聖人，其為善也，無小而不崇；其於惡也，無微而不改。改惡崇善，是藥餌也。錄所謂百藥以治之。</p>
<h2>延年二十箴</h2>
<p>四時順攝，晨昏護持，可以延年。三光和敬，雷雨知畏，可以延年。孝友無間，禮義自閑，可以延年。謙光慈讓，損己利人，可以延年。物來順應，事過心寧，可以延年。人我兩忘，勿競炎熱，可以延年。口勿妄言，意勿妄想，可以延年。勿為無益，常慎有損，可以延年。行住量力，勿為形勞，可以延年。坐臥順時，勿令身怠，可以延年。悲哀喜樂，勿令過情，可以延年。愛憎得災，揆之以義，可以延年。寒溫適體，勿侈華艷，可以延年。動止有常，言談有節，可以延年。呼吸精和，安神閨房，可以延年。靜習蓮宗，敬禮孔訓，可以延年。詩書悅心，山林逸興，可以延年。兒孫孝養，僮仆順承，可以延年。身心安逸，四大閑散，可以延年。積有善功，常存陰德，可以延年。</p>
<h2>勸世百箴</h2>
<p>父要嚴莫過，母要慈莫逆，子要孝莫慢，媳要順莫逆，夫要剛莫懦，妻要賢莫妒，兄要友莫傲，弟要恭莫慢，內要和莫謗，家要富莫分，長要寬莫躁，幼要謙莫狂，親要顧莫疏，友要益莫損，鄰要睦莫爭，人要長莫短，臣要忠莫佞，官要廉莫貪，吏要良莫欺，刑要威莫加，東要敬莫衰，客要禮莫失，師要嚴莫墮，學要嚴莫荒，士要志莫怠，農要時莫違，工要巧莫拙，商要回莫流，主要恩莫克，仆要勤莫走，天要聽莫怨，命要安莫恨，身要惜莫輕，心要良莫喪，志要大莫小，量要洪莫窄，時要過莫望，名要揚莫隱，功要成莫廢，道要明莫晦，德要修莫損，恩要報莫辜，仇要忘莫記，節要守莫壞，義要尚莫負，賢要重莫輕，愚要化莫棄，富要仁莫驕，貧要甘莫諂，貴要平莫嚴，賤要屈莫強，奸要除莫容，盜要誅莫放，詐要去莫學，冤要解莫結，訟要息莫起，惡要殄莫縱，善要好莫欺，寡要惜莫辱，難要救莫論，飢要賑莫吝，尸要埋莫露，債要償莫騙，借要還莫昧，勢要丟莫倚，法要畏莫犯，舟要濟莫難，路要通莫塞，橋要修莫毀，婚要擇莫較，喪要哀莫忘，祭要誠莫褻，神要敬莫媚，邪要止莫信，銀要真莫假，交要平莫欺，斗要官莫小，秤要平莫偏，物要惜莫枉，禮要有莫無，席要中莫費，用要儉莫奢，眾要公莫私，事要忍莫生，言要謹莫妄，信要全莫爽，行要顧莫短，氣要忍莫亟，理要順莫越，性要直莫偏，情要濃莫薄，酒要節莫嗜，欲要寡莫縱，財要明莫苟，食要淡莫濃，衣要暖莫華，樂要為莫極，福要享莫盡，祿要重莫輕，壽要長莫戕。</p>
<p>上勸世百箴，乃人生日用之事，不論貧富貴賤，均為有益。倘能味而行之，則惡者善，而善</p>
