<header><h1>重訂診家直訣</h1></header>
<dl class="元資料" data-type="book">
<div><dt>品質</dt><dd>80%</dd></div>
<div><dt>作者</dt><dd>周學海</dd></div>
<div><dt>朝代</dt><dd>清</dd></div>
<div><dt>版本</dt><dd>京寧科技書店，中醫珍本圖書集成。</dd></div>
</dl>
<h1><span class="註"><small class="雙行小字">重訂</small></span>診家直訣序目</h1>
<p>醫有四科，曰脈、曰證、曰藥、曰方。知脈而後知證，知藥而後能方，故脈尤汲汲也。拙著《脈義簡摩》、《脈簡補義》，《診家直訣》、《辨脈平脈章句》，凡四種，都十二卷。博采百家，參以已說，名雖四種，義實相承，卷帙既繁，脈絡難貫，專取一種，又苦弗完，茲特撮其要者，簡之又簡，別為此編，名曰《重訂診家直訣》，其篇目如左：</p>
<p>卷上
　　指法總義
　　八法總義
　　微甚兼獨
　　二十四象會通
　　位數形勢
卷下
　　獨取寸口本義
　　血氣形勢直解
　　說神
　　初診久按不同
　　脈有兩側
　　脈有動搖
　　脈有內曲外曲
　　脈有變易無定
　　外診撮要
　　三關脈體通攷
　　左右表裏直解
　　辨止
　　單診總按不同
　　脈有頭本
　　脈有俯仰
　　脈有無數細絲
　　脈有起伏中途變易</p>
<h1>《重訂診家直訣》</h1>
<p>　　　　清　皖南　建德周學海澂之甫著
　　　　　　鄞縣　曹　炳　章　圈　點</p>
<h2>卷上</h2>
<h3>指法總義</h3>
<p>診脈之指法，見於經論者，曰舉，曰按，曰尋，曰推，曰初持，曰久按，曰單持，曰總按，無求子消息七法。曰上竟、下竟，曰內推、外推，曰浮按、中按、沈按，更有側指法、挽指法、輾轉指法、俯仰指法、舉而復按，按而復舉，是操縱指法。若是者，皆有舊論可攷也。至於私心所創獲，與得諸益友所訓示者，則又有移指法、直壓指法。</p>
<p>夫脈有四科，位、數、形、勢而已。位者，浮沈尺寸也；數者，遲數促結也；形者，長短廣狹厚薄粗細剛柔，猶算學家之有線面體也。勢者，斂舒伸縮進退起伏之有盛衰也。勢因形顯，斂舒成形於廣狹，伸縮成形於長短，進退成形於前後，起伏成形於高下，而盛衰則貫於諸勢之中，以為之綱者也，此所謂脈之四科也。</p>
<p>指法即由此而辨，曰舉按，以診高深也。曰上下，以診長短也。曰尋推，以診皮廣狹厚薄曲直也。曰初持久按，以診遲數滑濇止代也。曰單持總按，以診去來斷續也。病者氣口處骨肉不平，須用側指法。病者不能平臂而側置，須用挽指法，俯仰者，三指輕重相畸也。輾轉者，一指左右相傾也。操縱者，舉按迭用，以察根氣之強弱，難經所謂按之耎，舉指來疾者此也。</p>
<p>惟三指總按，橫度三關，三指縫中，各有其隙，若三部脈形不同，如寸濇尺滑，前小後大，即無由得其接續之真迹。昔有同學示以移指法，如先診三關，再略退半部，以食指加寸關之交，中指加關尺之交，終以有隙，而其真不見。後乃自創一指直壓之法，以食指直壓三關，而真象迸露矣。</p>
<p>小兒脈位狹小，以食指橫度脈上，而展轉以診之。</p>
<h3>二十四象會通</h3>
<p>浮沈　以診氣之升降也。陽不能降，則脈見於浮。陰不能升，則脈見於沈。前人每以脈之在浮在沈，與脈之能浮能沈相混。能浮能沈乃高深之義也。</p>
<p>遲數　以診氣之躁靜也。躁有因熱，有因燥；靜有因寒，有因虛，而皆有因鬱。</p>
<span class="註"><p>　按：《內經》手躁足靜，與遲數不同。手經之道近，其氣至也迫。足經之道遠，其氣至也緩，故有躁靜之殊也。然先至者不能先去，必待後至者去，而始能與之俱去，故無遲數之異也。滑伯仁謂察脈須識上、下、去、來、至、止，至止即察躁靜之事也。察其停於下者之久暫，又察其鼓於上者之久暫，而陰陽噓吸之躁靜瞭然矣。</p></span>
<p>強弱　以診勢之盛衰也。應指有力謂之強，無力謂之弱。前人每以脈形之軟硬，與脈勢之盛衰相混。《內經》凡言脈之大小，多指動勢之盛衰也。</p>
<p>剛柔　以診形之軟硬也。形軟有因血虛，有因溼熱。形硬有因血實，有因風寒，此即《內經》之所謂緩急也</p>
<p>滑濇　以診形之枯潤也。血有餘則脈滑，血不足則脈濇，然血由氣行，故亦可徵氣之盛衰云。<span class="註"><small class="雙行小字">氣血必有津以載之，始能推行滑利，故《內經》以滑為陰有餘，濇為陽有餘，陰即津液也。</small></span></p>
<p>斷續　以診氣血之通塞盛衰也。有形之斷續，長短是也。有動之斷續，促結濇代是也。此條專言動之斷續，應指有力有神，屬於通塞；無力無神，關於盛衰。亦有無力而有神者，微衰而兼塞也，來去停勻，五十不代，謂之續；參伍不調，有來有去，謂之斷。其敗也，蝦游、魚翔、屋漏、雀啄。塞者血塞也，衰者氣衰也，敗者氣血俱敗也。</p>
<p>長短　以診氣之鬱暢也，氣暢則雖弱而亦長，氣鬱則雖強而亦短。</p>
<span class="註"><p>　按：氣有出入，有升降，出入橫也，升降直也。風寒外束，氣出不利，脈來弦緊。痰飲中結，氣升不利，脈來厥厥如豆。是長短皆有氣鬱也。經曰：長則氣治，短則氣病，亦言其大概而已。</p></span>
<p>高深　以診氣之噓吸也，此指來去之遠近。所謂息之深深，達之亹亹者，氣之操縱也。浮沈是陰陽噓噏之已然，高深是陰陽噓噏之方然，一言氣之所在，一言氣之所至。</p>
<p>厚薄　以診血之盈虛也。以形體言，非浮沉之謂也。故有浮而厚，有沉而薄。浮中沉三候俱有，按之不斷，謂之厚。僅在一候，按之即斷，謂之薄。</p>
<p>寬窄　以診氣血之寒熱盈虛也。氣熱則血漲，氣寒則血消，血實則氣充，血虛則氣怯。</p>
<p>斂散　以診氣之寒熱也。以兩旁之邊際言，非寬窄之謂也。寬窄指脈體之大小，斂散指脈邊之清濁。故氣寒血盈，寬而亦清；氣熱血虛，窄而亦濁，亦非剛柔之謂也。剛柔指脈體之硬軟，斂散指脈遲之緊鬆。故血虛氣寒，軟而亦緊；血實氣熱，硬而亦鬆，脈中有脊，而兩邊渾渾不清也。</p>
<p>粗細　以診氣血之寒熱盈虛也。寬厚相搏謂之粗，窄薄相搏謂之細。</p>
<p>會通者，二十四象互相加乘，以求合於古脈，而診百病也，如浮薄而硬，革也。浮薄而耎，芤也。浮厚而斂，弦也。浮薄而散，微也。長硬而斂，緊也。短耎而散，濡也。高而數，促也。深而遲，伏也。短而剛強，動滑也。斷而柔弱，結代也。長厚硬斂，弦牢也。長厚柔散，洪緩也。</p>
<p>是故芤，血虛也，遲，氣寒也。伏，氣閉也。代散，氣脫也。血弱虛微，氣血俱虛也。細緊，氣血俱寒也。革，陰盛於上也。牢，陰盛於下也。洪促，氣熱於氣分也。動滑，氣熱於血分也。浮數，氣熱於氣分也。沉遲，氣寒於血分也。弦革，氣寒於氣分也。緊結，氣結於血分也。細，血中氣寒也。緩，血中氣熱也。長短，同有氣鬱。氣橫於氣分則長，氣結於血分則短也。滑濇，同有血虛血實。寒凝於血分則實而濇，熱亢於氣分則虛而滑也。</p>
<p>而且寒極似熱，熱極似寒，實極似虛，虛極似實。如滑主痰也，而痰亦見濇：弦主肝也，而肝亦見濡。上氣喘促，脈虛大也，而亦有緊細伏匿。孕脈必滑也，而亦有虛濇不調。</p>
<p>又弦緩相反也，而風弦與熱緩相似。滑濇相反也，而熱濇與虛滑相似。搏與散相反也，而搏而累累不續，即與散同論。洪與伏相反也，而尸厥霍亂。伏與洪同斷。長與短相反也。而長而勁，短而搏，同主氣逆氣鬱。散與結相反也，而同主癥瘕。正氣未衰則結，正氣既衰則散，亦有乍病食滯而脈散者，胃氣新亂而未復也。或其人素有溼熱，加之新傷，而中氣益潰也。有以無脈為病所者，芤脈中空，即內主精血之傷也；有以有脈為病所者，緊脈浮數，即外主風寒之感也。抑尤有要焉。</p>
<p>滑伯仁曰：察脈須識上下去來至止六字真訣。故審脈者，凝神於指下起伏去來頭本之勢，而脈之真象無遁，即病之升降斂散之真機，亦迸露而無遁矣。</p>
<p>明乎此者，必知脈證斷無相反。何則？有所以相反者在也。脈病斷無不應。何則？有所以不應者在也。仲景曰：邪不空見，中必有奸。景岳曰：脈之假者，人見之不真耳，脈亦何從假哉。</p>
<h3>八法總義</h3>
<p>靈樞邪氣藏府病形篇，以緩急大小滑濇立綱。而以微甚緯之，實開千古診法之奧，後世有以浮沉遲數分綱者，則其義淺而不備矣。今擬合二者共十字，仍似微甚緯之，於十字中縱橫離合，即二十八脈，不待擬議，而形狀嘹然，然此特其形狀耳，未足以盡脈理之妙也。</p>
<p>滑氏曰：凡察脈須識得上下來至止。蓋求明脈理者。須先將位數形勢，講得真切，便於百脈無所不賅，不必立二十八脈之名可也。位者，浮沈前後也。數者，遲數也。形者，虛實滑濇也。勢者，即滑氏所謂上下去來至止也。</p>
<p>四者為經，更緯之以微甚兼獨，百病之虛實寒熱，全從此八字上分合剖析。每診一人，即於各部中按此八字，次第求之，反復尋之，則真假無遁惰，而氣分血分之病，亦到指便見矣。此其洩天地之祕者也。</p>
<p>指到脈上，即心先擬其脈，浮耶？沉耶？在寸在尺耶？繼存其息，遲耶？數耶？繼察其體，長耶？短邪？虛耶？實耶？滑耶？濇耶？審此三者，指下必已有定象，即就定象上，揣其微耶？甚耶？獨見一脈耶？兼見何脈耶？至此而氣更定矣。於是玩其上下起伏之盛衰，動止之躁靜，而本原無不迸露焉。大抵診脈，以察來去之勢為最要，此陰陽噓噏之真機也。</p>
<h3>位數形勢</h3>
<p>位數形勢者，正脈之提綱也。位即三部九候也，或在寸，或在尺，或在浮，或在沉。數以紀其多寡也，數與滑促，其數皆多；遲與濇結，其數皆少‧即屋漏雀啄，蝦游魚翔，舉該於數之類也。至於形勢，分見互見，各有妙蘊。挺亙於指下而靜者，形也，血之端倪也。起伏於指下而動者，勢也，氣之徵兆也。</p>
<p>《內經》曰：「渾渾革革，至如涌泉。」。又曰：「脈至如火新然。」。《脈經》曰：三部脈如釜中湯沸，此血不維氣，勢之獨見者也。《內經》曰：真肝脈至，如循刀刃，責責然；真心脈至，如循意苡子，累累然。此氣不運血，形之獨見者也。</p>
<p>故形勢分見者，皆氣血偏絕之死脈也。若在平人，無不氣血相融，形勢相洽者。然氣血稍病，即於相融相洽之中，不無彼此勝負之致，尤不可以不辨。如形勁於外者，氣悍於中，是動與大也，氣不堪悍，是弦與緊也。若氣甚歉，則為細矣，為芤矣，形微勝於氣者此也。如形弱於外者，氣悍於中，是洪與滑也，氣不堪悍，是濡與弱也。若氣甚歉，則為散矣，為微矣，氣微勝於形者此也。</p>
<p>是故人之診脈也，指到脈上，先察其形之粗細硬軟，再審其氣之至也，充於脈管之中，微溢脈管之外，既將脈形撐寬，而又起伏高深有力，無來去盛衰之參錯，斯為氣血和同焉。何者？脈之正管，其四旁必有無數微絲細管，以達其氣於肌肉，所謂腠理也。若寒盛而陽氣不敵，則微絲細管先為寒束，脈氣之來，不能旁溢，此即緊脈之象也。更有脾肺中氣不足，不能充於脈中，往往脈形挺然指下，而氣來如綫，從脈中馳過，既不能撐寬，更不能起伏矣。此脈形雖粗，脈氣自細也。更有中焦痰飲停結，其溼熱濁氣，上蒸肺中，肺氣不能清肅，脈管為之膹莞。其形挺然指下，而中氣為痰飲格拒，不能暢達，其來如綿，過於指下，既不能撐寬，亦不能起伏矣。此脈形雖硬，脈氣自軟也，此非脈管自硬，乃濁氣壅塞使然，是動脈之中，有推盪不動之氣也。</p>
<p>李士材論芤脈有云：其狀加按慈蔥，以指浮候之，著上面之蔥皮。中候之，正當蔥之中空處。沉候之，又著下面之蔥皮矣。此非獨芤脈之診也，脈管本自如此，但有時緊時鬆，時虛時實之異。芤脈中虛，遂易顯耳。芤脈屬浮，只動於上面之皮，其下面之皮不動也。此脈形雖厚，脈氣自薄也。勢有來去，有起伏；形有中邊，有底面。</p>
<p>是故平人之身，榮衛調和，脈中脈外，氣行度數相應，指下每不見脈之硬管，及氣之來，乃覺正管既充，而又微見旁溢焉，且微絲管之所繫大矣。倘衛陷入榮，中外隔絕，脈在指下，一條扛起，是壯火耗津，脈絡不能濡潤而閉塞也，往住有眩冒顛仆，偏枯痿易之虞。</p>
<p>昔者俞春山嘗言：老人虛人，久病將死，其脈皆獨然一條扛起，似與肌肉不相連絡，是氣血不交，榮衛相離，猶老樹將枯，根上旁鬚，先見憔悴，不得土氣矣，此察形之至微者也。至於察脈之勢，非但察其來去之盛衰也，必且來去之間，循環相續，自沉從容上浮，自浮從容下沉，其情如環，無驟折之跡。</p>
<p>嘗見有一種脈，其來也，有頃而一掣，其去也，有頃而一掣，一息亦不過四五至，未嘗數於常脈，而指下鶻突，無容與迴環之度。此為津虛血熱，氣燥而旋轉不利也，《內經》謂之躁脈。故夏脈如鉤者，以其來盛去衰，不能如環之圓。鉤即環之缺其一面者也。躁則來去如一，并無所缺，而驟來驟去，不為圓轉，而為直折。</p>
<p>蓋扁鵲所謂其至跳者。《內經》又謂脈之動也，陽氣前至，陰氣後至，是又於脈氣方動之頃，分別前後，以察陰陽之微機。於是《難經》有前大後小，頭痛目眩；前小後大，胸滿短氣之論。仲景有脈來頭小本大，其病在表之談。後人有動前脈盛氣有餘，脈衰氣不足，應後脈盛血有餘，脈衰血不足之辨。是皆剖析微芒，脈學之上乘，診家之慧業也。</p>
<h3>微甚兼獨</h3>
<p>微甚兼獨者，變脈之提綱，即體察形勢之權衡也。凡物之輕重也，非特極輕極重之并處也，必有微輕微重者介乎其間，故微甚不可不知也。如《難經》所論一脈十變，與《靈樞》之論緩急大小滑濇，其義大矣。</p>
<p>第脈有以微見為善者，有以甚見為善者，固不盡微即皆輕，甚即皆重也。萬象之變化無定也，形形色色，舉在分分合合之中，故有一象而兼數象者，直須辨明主客，知其孰為正象？孰兼象氣？庶幾施治用藥之輕重，乃有所準矣。</p>
<p>李東垣云：脈之相合，各有虛實，不可只作一體視之。假令弦洪相合，弦主也，洪客也，子能令母實也。洪弦相合，洪主也，弦客也，母能令子虛也，餘脈倣此，可以類推。</p>
<p>夫所謂主客者，藏府之病氣，皆各有主脈，如肝藏與風氣之病，其脈皆弦。心藏與熱氣之病，其脈皆洪。若其間有挾痰挾食挾血挾虛之異，即其脈之所見，必有兼象，所謂客也。是故脈無單見。古人立二十八脈，亦不過懸擬其象，以明大綱，使學者有所據，以為講明之地。講明乎五藏六氣之主脈，斯知藏脈之變有萬，無非各主藏之脈所互乘也。病脈之變有萬，無非各主病之脈所互乘也。</p>
<p>倘執著而不知會通，紙上之象，幾無一合於指下之象，指下之象，更無一合於紙上之象矣，開卷瞭然，臨診茫然，是何為者？況微甚有因兼獨而分，兼獨每因微甚而見。故寬而兼厚，以實兼實，是甚實也。薄而兼窄，以虛兼虛，是甚虛也。厚而兼窄，是微實也。薄而兼寬，是微虛也。</p>
<p>更有大謬之語，難為人道者，厚而兼薄也。寬而兼窄也，粗而兼細也，滑而兼濇也，長而兼短也，浮而兼沉也，遲而兼數也，於萬萬相反之事，而忽并於三指之下，此叉何說以處之？曰此必有一微一甚也。此必一見於形，一見於勢也。亦有相間而迭呈者，即《難經》所謂陽中伏陰，陰中伏陽也。故常有於緜軟之中，忽夾一至，挺更指下，如弦之象。此有因氣逆上衝，有因氣鬱猝發，有因氣脫不返，宜察其脈之神而決之。此即來大時小，來小時火之類也。又常有於遲緩之中，忽夾一至躁疾，上馳如射，此亦有鬱氣之猝發，或伏熱之乍升，宜察其脈之沉分而參之。《脈經》曰：尺脈上應寸，時如馳，半日死。此又氣之脫也，若沈分大而有神，只是氣滯熱伏耳。</p>
<p>總之講脈學者，先求脈在人身，為何等物，再將脈象之綱領條目，從自心中一一為之分析，不必倚傍舊說，而自推見本原。如位也數也形也勢也，此綱領也。位之在寸在尺在浮在沉也，數之為遲為數為疏為密也，形之長短廣狹厚薄粗細軟硬堅鬆也，勢之強弱高深也，此條目也。於此各推求其所以然之故。瞭然心中，然後彼此參互，如微甚兼獨之迭見者，亦皆有以得其變化之本，臨診自有條理，不致眩惑。</p>
<p>大凡人之病也，邪甚脈甚，邪微脈微，不待言矣。而且兩邪合病，則兩脈并見，三邪合病，則三脈并見。如仲景論脈諸文，所謂脈弦而大，弦則為寒，大則為虛。脈浮而緊，浮為衛氣實，緊為榮中寒。是皆分析各脈之主證。而後合訌主病之正脈，故學者總須先求其分，再求其合。分者苟能剖析微芒，則其合者，特分者為之參錯耳，若起手不知探原，拘泥文字，逐末忘本，即將脈名增為百數，亦不足以盡天下之變矣，恐終身無見真之日也。</p>
<h1>《重訂診家直訣》</h1>
<p>清　皖南　建德周學海澂之甫著
　　鄞縣　曹　炳　章　圈　點</p>
<h2>卷下</h2>
<h3>獨取寸口本義<span class="註"><small class="雙行小字">附人迎氣口本義</small></span></h3>
<p>《難經》首章，汲汲發明獨取寸口之義者，以其法奇而旨奧也，寸口賅寸關尺三部言，其義本於《內經》經脈別論。第別論之義，注重在得氣之平，以此脈發源心肺，直達寸口，自首至尾，脈管之體無曲屈，無大小，噓發之氣，適得其勻，故曰氣歸於權衡，而又得程途遠近之適中。故曰權衡以平也。</p>
<p>《難經》之義，注重在得氣之全，以此脈發源心肺，直達寸口。心為百脈之根源，肺為宗氣之橐籥，故曰脈之大會。自首至尾，無中途歧出以分其氣，無他脈來會以攙其氣，完而不偏，純而不雜，故曰手太陰之所終始也。他部動脈，雖亦發源心肺，而或已貫他藏他府而來，或已分他經他絡而去，氣有偏至，故弗取之。分寸關尺者，經藏居上，其氣前至，故診於關前。經藏居下，其氣後至，故診於關後。</p>
<p>《內經》曰：手經之道近，其氣至也疾。手足之經且然，況部位之高下乎！分左右者，心居中，而血發於左，肝居右，而氣噓於左，肺葉右大，脾即甜肉，右端亦大，故皆氣行於右也。近日西人，以此脈為心肺之專，不能分診五藏六府，聖人正以此脈得心肺之全，乃可偏診五藏六府，妙識精微，下愚豈容輕議。</p>
<h3>三關脈體通攷</h3>
<p>世謂寸口，正取無脈，覆手取之而得者，謂之反關脈。近武進費伯雄，又有斜飛脈之說。張石頑曰：脈之反關者，皆由脈道阻礙，故易位而見。有一手反關者、有兩手反關者、有從關斜走至寸而反關者、有反於內側近大陵而上者、有六部如絲，而陽谿列缺，別有一脈大於正位者、有諸部細小不振，中有一粒如珠者。所謂從關斜走至寸而反關者，外斜脈也。所謂反於內側近大陵而上者，內斜脈也。所謂陽谿列缺，別有一脈大於正位者，似反關而非反關也，謂之臂外脈。蓋諸處本有細絡，與手太陰脈通，而手太陰之正管，實由寸部透於反背，出於陽谿，趨於合谷。正管有阻，其氣不能直達，則散溢諸絡，迂道而達，非正管移於諸處也。</p>
<p>《靈樞‧邪客》曰：手太陰之脈，出於大指之端，內屈，循白肉際，至本節之後太淵，留以澹，外屈，上於本節下，內屈，與陰諸絡會於魚際，數脈並注，其氣滑利，伏行壅骨之下，外屈，出於寸口而行，上至於肘內廉，入於大筋之下，內屈，上行臑陰，入腋下，內走肺，此順行逆數之屈折也。此言手太陰脈，自大指外側，內屈下魚抵太淵。太淵者，寸口去本節甚遠，但正直本節之後耳。復自太淵外屈，上於本節下，此極所謂外斜脈，大指本節下合谷穴處也。自合谷內屈，會陰諸絡於魚際，伏行壅骨之下，壅骨大陵穴處也。外屈出於寸口者，自伏而出，斜行與前抵太淵者會，此即所謂內斜脈也。此脈與外斜之脈，出於合谷者，雙歧如叉。《脈經》云：從寸口斜入上者，名曰解脈。王冰謂不合而歧出，如繩之解股是也。</p>
<p>外斜脈，常與三關平等，而內斜脈常細。曾見有人，時而內斜脈盛，時而外斜脈盛，其外斜脈盛，無苦，而內斜脈盛，即苦氣逆胸滿。蓋嘗思之，其外斜脈盛無苦者，氣行之正經也。內斜脈盛即有所苦者，此與手心主相會之絡也，絡不當盛，必木火逆橫，致壅遏肺氣，不得暢耳。</p>
<p>又有三部，別有一細脈，自尺至寸，與正脈並行者，此細脈，或與正脈平排，並行指下，如引二線也。或行於正脈之上，浮之只見細脈，沉之始見正脈也。或行於正脈之下，按之隱隱有一細脈，自動於正脈之內也。此等最宜留心，若正脈中自見細線，挺然指下者，為寒、為痰、為瘀、為癥瘕。若別具一脈，動而流連，則是稟賦然矣。世謂雙弦脈，指下如引二線者死，未足為據，蓋雖引二線，而指下來往流連者，乃是本象，其挺然指下，無來去者，即不二線，庸有濟乎？</p>
<p>張石頑曰：反關脈，較平人細小者為常，較平人反大者絕少，不可以為指下變異，謂之怪脈也。凡遇反關，殊異常脈，如須細詢其較之平時稍大，即為邪盛，較之平時愈小，即為氣衰，仍以所見諸證參之。更有正取反取俱無脈，細尋卻在手臂鼠肉之上者，亦反關之類也，但此脈已無常，似難憑脈，必須察其病證何如？元氣何如？以斷吉凶，此論極為精當。</p>
<h3>血氣形勢直解</h3>
<p>氣無形也，血有形也。氣動也，血靜也。脈之行也，以息往來，其動則氣也，其管則血之質也。病在氣分，候動之勢；病在血分，候脈之形。氣主咰之，血主濡之。血病即當累氣，故候形者，必兼審勢；氣病久乃累血，故察勢者，不必泥形。氣虛血實，脈雖弱，而按之必有形；血衰氣盛，脈雖空，而其來必有勢。</p>
<p>是故凝痰瘀血，無論脈勢強弱，按之必有勁線，或如珠粒；氣化升降不利，無論脈形虛實，其動也，必有疏密不勻，強弱不均，或寸弱於尺，或尺弱於寸，或應指少力，或中道而還。血實者脈形必厚，血虛者脈形必薄，牢實與芤革可推也。氣盛者來勢必盛，氣衰者來勢必衰，濡弱與洪滑可例也。氣周於外，血實於中，故氣寒而血為所束，脈即細緊，血虛而氣無所歸，脈即微散也。氣鬱與血結必殊，血虛與氣弱不類，此分見者也。血熱即見氣脈，氣寒則見血脈，此又互見者也。</p>
<p>且夫勢衰而形實者，有氣虛不能運血，有血滿致鬱其氣，何以辨之？曰：血累氣者氣不虛，其勢雖來去不大，而按之必有倔彊欲起之情，似動似滑，所謂陰中伏陽也。氣累血者，血不行，指下堅細而已。</p>
<p>勢盛而形虛者，有氣亢以耗其血，有氣旺將生其血，何以辨之？曰：氣耗血者，輕診必帶弦而來多去少。氣生血者，輕診必見濡，而來去停勻也。</p>
<p>經曰：脈濇而堅者，血實氣虛也。脈浮而大者，氣實血虛也。氣熱者，血未嘗不奔逸，然清其氣而血即平。若正入血分，則腫腐矣，但清其氣無功也。氣寒者，血未嘗不凝滯，然溫其氣而血即通，若正入血分，則頑塊矣，但溫其氣無功也。</p>
<p>故吾嘗謂病之在經絡也，有在氣分，有在血分，其在臟府也，止可以在氣分，而不可以在血分。前人每言病在某藏某府血分者，仍指其經絡言之也，或指其血為氣累者也，果在血分，藏體壞而死矣。</p>
<h3>左右表裏直解</h3>
<p>王海藏曰：傷寒以左脈為表，右為裏。雜病以右脈為氣，左為裏。予初診不盡驗，心以為此特一法耳，固不可拘也。近二年來，深察病情脈象，有可得而言者。</p>
<p>凡外感風寒溼之邪深者，皆係左脈沉細於右，淺者，但兩手浮弦，或右關前浮弦而已。</p>
<p>外感暑熱之邪深者，皆係左脈弱散於右，淺者，但兩手浮滑，或右關前浮大而已。</p>
<p>溫病之由於伏氣內發者，前人皆以右大於左為詞，謂邪從中道，胃氣鬱濁之故。</p>
<p>以吾歷診春溫、冬溫、喉痧、疫疹諸症，凡右大於左，而左脈不甚細弱者，真陰未損，治之易愈。若左脈沈細而數，斷續不勻，真陰已竭，十難救一。是當以左小於右，定正氣之成敗，不當專以右大於左，定邪氣之微甚也。</p>
<p>又診夏行秋令時疫，有所謂癟螺痧者，其證先見頭痛心嘈，四肢麻冷，螺紋陷下，或吐或瀉，旋即昏厥，重者即死，輕者，醒後越一二日而死。醒後心中煩悶，其苦難言，而神識清明，額汗不止，其脈皆兩手沉細，短伏關後，而左手尤甚。此天行肅殺之氣，傷其心肝生陽之氣，亦由其人生陽之本虛也。</p>
<p>又診水腫之人，陰邪極盛，亦莫不左沉脈小於右。此外一切大病久病，邪氣深入者，莫非左陷於右。元氣虧甚者，亦莫非左弱於右。其將愈也，則又右脈先盛，左脈後復，必待左脈復盛，乃為元根充固，其病可無慮反復矣。病氣輕淺，左脈決不受傷，惟癥瘕積聚，其病雖深，必隨其經絡之部位，而見於脈，不能拘於此例耳。由此觀之，左裏右表者，百病之通診，傷寒豈能獨異耶！</p>
<p>故吾以左脈察邪氣之淺深，即以左脈察元氣之虛實，其脈象須各因病而定，不得專以大小二字賅之。寒邪以細而急為甚，熱邪以薄而散為甚，陰虛以浮虛而短為甚，陽虛以沉細而短為甚。其敗也，總歸於躁疾散斷，全無神力而已矣。</p>
<p>海藏之劈分傷寒雜病者，彼蓋以雜病為勞倦內傷也，由氣分漸傷入血分，血傷而左脈敗矣，故左為裏也。寒為陰邪，先傷於陽，內傳胃實，而右脈大矣，故右為裏也。殊不知陽明胃實證，乃陽氣之內鬱而盛，有撐邪外出之機，不得謂之寒邪內陷。寒邪內陷者，少陰厥陰之寒證是也，是扔當在左手矣。</p>
<p>大凡病之始生也：屬陽虛與寒甚者，左脈常沈小於右。屬陰虛與熱甚者，右脈常浮大於左。若沉小之極，而右脈亦陷，則胃陽絕矣。浮大之極，而左脈亦散，則腎氣絕矣。故喉痧之死脈，皆右關與左脈，同其短數。癟螺痧之治脈，皆右關緩滑有力，左脈雖伏，而不至散斷者也。左脈重尺，右脈重關。</p>
<p>盛啟東以新病之死生，主乎右手之關脈，久病之死生，主乎左手之關尺。義正如此，此皆取其偏重者言之也。若夫邪氣之猝至，雖兩手脈伏，尚不為凶。病久邪雜，陰陽藏府俱困者，但一部脈壞，即為不吉，是又在於圓機應變者。</p>
<h3>說神</h3>
<p>脈貴有神，由來舊矣，其說約有數端。一曰應指有力也，一曰來去從容也，一曰來去如一也<span class="註"><small class="雙行小字">亦曰陰陽俱停，陰陽同等</small></span>，一曰形體柔和也‧四者固俱本聖經，而有皆似是而非之處，不可以不辨。</p>
<p>所謂有力者，謂其氣來應指之際充然有餘，而無怯然不進之象，若謂搏擊滑大，失本意矣。</p>
<p>所謂從容者，謂其來去中途和緩，而無一擊即來，一掣即去，躁疾不安之象。若怠緩之脈，其氣來至中途，而不欲前，去至中途，而即欲止，豈從容之謂耶！</p>
<p>所謂如一者，來能高滿於其分，去能深極於其底，而無來盛去衰、與來不盛去反盛之嫌也。若來如釜沸，去如弦絕，則非是矣。</p>
<p>形體柔和者，真氣充於脈中，而脈管之四傍，又與肌肉相親也。外緊內空，內結外散，均非是矣。獨是四者之義，乃指平脈之神，非病脈之神也。病者正氣若虛，應指豈必有力，況乎陽盛陰衰，陰盛陽衰，血虛氣實，氣虛血實，又豈能從容如一而柔和耶！然則何以見其神也？神妙萬物，平脈之神尚難揣摩，病脈之神，孰能擬議？</p>
<p>神不可言，言神所見之處可乎？前人謂應指有力，是脈既動之後也。吾謂神不在既動之後，而在方動之初。其來也，意似浩然涌出，無力倦不能來，與迫欲急來，不安於內之情。其去也，意似坦然折入，無怠不欲去、與應指即散，不見其去之象。如此，則應指即令少力，即今不能從容如一，而柔和而神，自卓然在也。來去二者之中，又以去為尤要。何者？去乃真陰之內吸也，若回折有勢，如石投水，是陰氣猶全，元根未撼。此察神於方動之頃也。</p>
<p>《內經》曰：靜者為陰，動者為陽。所謂靜者，脈氣方停，未來未去之間也。察其未來之先，停於下者之久暫，而知真陰之盈虧，即可知真陽噓力之盛衰也。察其既來之後，停於上者之久暫，而知真陽之衰旺，即可知真陰吸力之強弱也。此察神於末動之始也，方來也，方去也，未來也，未去也，皆神所流露之處也，聖經未嘗不明言之，但後人讀書，不能領會，今略為拈出，以俟來哲之發揮，豈敢謂義盡於此耶！至於神之發源，生於胃氣，本於命門，前人論之夥矣，不煩絮聒。</p>
<h3>辨止</h3>
<p>凡癥瘕積聚、痰凝水溢、跗腫痞滿、喘促咳逆、畜血停食、風熱癮疹、寒濕筋骨疼痛、心胃氣痛，以及憂愁抑鬱大怒、久思久坐、夜深不寐、與夫因病過服涼泄、胃氣遏伏不通、婦人月閉妊娠，脈皆常有停止。有停一二至者，有停二三十至，而復來者，即仲景所謂厥脈也，又小兒脈多雀鬬不勻，此其多寡疏密，舉不足為吉凶之據也。詳攷其辨，</p>
<p>蓋有四端。一察其不停之至：應指之有力無力，起伏之有勢無勢也。力與勢盛，即為有神。力與勢衰，即為無神。</p>
<p>一察其停至之頃：是在脈氣下伏之後，其力不能外鼓而然者，是為邪所遏，陽不能噓。若在脈氣上來之後，其力不能內返，因從指下即散，如弦之絕，而不見其下者，是元根已離，陰不能吸，其餘氣游弋經絡之中，而將外脫也，</p>
<p>一察其停至之至：是於脈氣下伏之後，全不能起，徑少一至，是邪氣內結也。若非全不能起，已至中途，不能上挺指下，喘喘然搖擺而去者，是中氣內陷不振，而將上脫也，稍遲，即當變見蝦游魚翔之象矣。</p>
<p>一察其既停之後：復來之至，將起未起之際，有努力上掙，艱濇難起之意者，即知其停，是邪氣所阻也，若起伏自然，如常流利，略無努掙艱濇之情，是其停為元根已離，其餘氣徘徊於三焦胸腹之空中，進退無定，而將上脫也，稍遲即變見雀啄屋漏之象矣。</p>
<p>更察其脈之形，無論為緊斂，為洪大，但能通長勻厚，應指有力，高下停勻，或來微衰而去盛者，吉也。若應指少力，來盛去衰，及寬大中挾一細線，指下挺亙不移，或上駛如馳如射，又斷而累累如珠，及指下如引數線，不能斂聚者，是中氣敗散，為痰所隔而不合，即所謂解索也。故有偶停一二至，而即決其必死者，為其氣敗而不續也，有久停二三十至，而仍決其可治者，為其氣閉而內伏也。</p>
<p>更察其證有病之人，必痰塞氣逼，不得宣暢，神識昏迷，譫妄躁擾，狂越可駭者，吉也。若氣高不下，時時眩冒，及神識清明而靜者，凶也。無病之人，必胸膈不清肋脹腹痛，氣悶不舒，心中驚惕，寐中肢掣，夜夢紛紜，及見惡物入暗洞者，吉也。若四肢無力，稍動即喘，氣高不能吸納，胸中時時如饑，而又不欲食，二便清利頻數者，凶也。</p>
<h3>初診久按不同<span class="註"><small class="雙行小字">出張石頑</small></span></h3>
<p>問：脈有下指浮大，按久索然者；有下指濡耎，按久搏指者；有下指微弦，按久和緩者，何也？答曰：夫診客邪暴病，應指浮象可證，若切虛贏久病，當以根氣為本。如下指浮大，按久索然者，正氣大虛之象，無問暴病久病，雖證顯灼熱煩擾，皆正衰不能自主，隨虛陽發露於外也。下指濡耎，按久搏指者，裏病氣和之象，非藏氣受傷，即堅積內伏，不可以脈沈，誤認為虛寒也。下指微弦，按久和緩者，久病向安之象，氣血雖殆，而藏氣未敗也，然多有變證多端，而脈漸小弱，指下微和，似有可愈之機者，此元氣與病氣俱脫，反無病象發見，乃脈不應病之候，非小則病退之比。</p>
<p>大抵病人之脈，初下指，雖乏力，或弦細不和，按至十餘至漸和者，必能收功。若下指似和，按久微濇，不能應指，或漸覺弦硬者，必難取效。設病雖牽纏，而飲食漸進，便溺自調，又為胃氣漸復之兆，經云：安鼓榖昌。又云：漿粥入胃，則虛者活，此其候也。</p>
<h3>單診總按不同</h3>
<p>脈有單診總按不同者，或單診強，總按弱也，或單診弱，總按強也，或單診細，總按大也，或單診大，總按細也。</p>
<p>凡單按弱，總按強者，此必其脈弦滑，一指單按，氣行自暢，無所搏激，三指總按，則所按之部位大，氣行不暢，而搏激矣。此脈本強，而總按更強於單按也。</p>
<p>單按強，總按弱者，此必其脈氣本弱，但食指較靈，單指按下較顯，各中二指較木，總按即不顯其振指也。此脈本弱，而總按更弱於單按也。</p>
<p>單按細，總按大者，是其脈體弦細，而兩旁有暈也，總按指下部位大，而暈亦鼓而脈指矣。</p>
<p>單按大，總按細者，必其人血虛氣燥，脈體細弱，而兩旁之暈較盛也，食指靈而暈能應指名中二指木，而暈不能應指矣。</p>
<p>更有單按浮，總按沈，單按沈，總按浮者，其浮即暈也，抑或脈體本弱，輕按氣無所搏，力不能鼓，重按氣乃搏鼓也。</p>
<p>又有醫者，操作用力，指尖動脈盛大，與所診之脈氣相擊，而亦見盛大者。</p>
<p>又有醫者，久行久立，指頭氣滿，皮膚膹起，因與脈力相隔，而不顯者。此皆極瑣細之處，前人所不言，而所關正非淺鮮也。</p>
<p>大抵單診總按，而指下顯判大小強弱之有餘不足者，其有餘總屬假象，在無病之人，固為正氣衰微，即有病之人，亦正氣不能鼓載其邪，使邪氣不能全露其形於指下，而微露此幾希也，當以正虛邪實例治之，固不得重於用攻，亦不得以為邪氣輕微，專於用補也。即如總按大單診細者，其細多是指下梗梗如弦，起伏不大，其中氣之怯弱可知。單診大，總按細者，其細多是指下駛疾，累累似滑，是氣力不足於上充，而勉強上爭也，其中氣之竭蹶，更可知矣。</p>
<p>強弱亦如是也，總是稟賦薄弱，或勞倦內傷，或久病氣血困憊，胸中窄狹，動作乏力，乃多見之，是因虛生實，清濁混處，氣鬱不舒之象也。</p>
<h3>脈有兩側</h3>
<p>《脈要精微論》曰：「尺內兩傍則季脅也，尺外以候腎，尺裏以候腹。中附上，左外以候肝，內以候鬲，右外以候胃，內以候脾。上附上，右外以侯肺，內以候胸中，左外以候心，內以候膻中。」王冰云：「兩傍，兩尺外側也。」。李中梓曰：內外二字，諸家皆說兩側，此必脈形扁闊，或有兩條，否則於義不通矣。觀易卦六爻，自下而上，上三爻為外卦，下三爻為內卦，則上下之為內外，不昭然乎？故內者，每部之後半部也。外者，每部之前半部也。</p>
<p>李氏之解經，誠新穎矣；然脈實有兩側診法，非扁闊與兩條之謂也。凡指平按脈上，其形如此，及側指於內側拍之，而其形如彼，及側指於外側拍之，而其形又如彼矣。此可以脈之緩急滑濇，察病之虛實寒熱。內側主裏。外側主表。祇可取以與正脈合參，不能專恃此以決病，亦不能加正脈之分二十八脈，各有主病也。</p>
<p>每診正脈微弱，側診弦而兼滑，則知有痰飲矣。其微弱乃氣虛，又為痰飲所困耳。又如外側見弦，內惻見滑，便是表寒裏熱，與浮弦沉滑同斷，餘仿此。</p>
<p>頃讀《韓氏醫通》有云：左寸指法，按如六菽之重。在指頂為陰，屬心。在指節為陽，屬小腸。餘部仿此，此即兩側診法也。但不言側指內，側指外，而言指頂指節，似從正面平按，未免蹈李氏扁闊兩條之誚耳。</p>
<h3>脈有頭本</h3>
<p>《內經》曰：脈之動也，陽氣前至，陰氣後至。《辨脈》曰：脈來頭小本大者，名曰覆，病在表也。上微頭小者，則汗出。下微本大者，則為關格不通，不得尿。</p>
<p>蓋脈之來也，自筋骨之分，而上於皮膚之際，乍擊於指，此陽氣之前至也，謂之頭。既應於指，而脈尚未去，橫度指下，此陰氣之後至也，謂之本，有來之初勢有力，而旋即衰弱，不見脈氣之橫趨者，此頭大本小也，有來之初勢不甚有力，而旋見脈氣涌涌續上者，此頭小本大也。</p>
<p>脈如曰：動前脈盛，氣有餘。動前脈衰，氣不足。應後脈盛，血有餘。應後脈衰，血不足。此正與頭本之義相發明。故頭本者，就脈來之際分前後，以別陰陽氣血，非謂來為頭，去為本也，舊說有指為寸尺，指為浮沉者，皆未合云。</p>
<h3>脈有動搖</h3>
<p>此所謂動搖，是脈之本象，非如緊脈之因病而見也。扁鵲曰：少陽之脈，動搖六分，正月二月王。太陽之脈，動搖九分，三月四月王。陽明之脈，動搖三分，其至跳，五月六月王。少陰之脈，動搖六分，七月八月王。太陰之脈，動搖九分，九月十月王。厥陰之脈，動搖三分，十一月十二月王。此動搖之本於自然者也。</p>
<p>夫常脈之動搖，人人所共有，亦人人所必有，必有動搖，而後見其氣來之盛也，須於指下脈來應指初回之際，細審之，自見矣。</p>
<p>泰西有審脈表，凡脈之起，而將落未落旋轉之際，必有振撼之迹，此氣之噓力大盛，與吸力兩相激盪之勢也。</p>
<p>若緊脈，熱為寒束。其動搖，即在脈勢初起之始，乃熱力與寒相搏，脈形挺亙，故動搖之勢益顯，世遂以動搖專屬之緊矣。更有溼熱痰盛，氣鬱而搖者，或不暢也。有腎熱內沸，氣喘而搖者，氣不靜也。有命火脫泄，氣怯而搖者，氣已無根，如人之力弱而舉重也。</p>
<h3>脈有俯仰</h3>
<p>平人之脈，寸浮尺沉，關脈在中，診時，食指略輕，名指略重，此常法也。若所謂俯仰者，或寸沈尺浮，是前俯後仰也，或寸更浮，尺更沉，是前仰後俯也。此三部之俯仰也。又有一部二部，前後相為俯仰，此皆常有之事。</p>
<p>《脈經》曰：從少陰斜至太陽者，陰維也，<span class="註"><small class="雙行小字">尺沉寸浮</small></span>動苦肌肉痺癢，僵仆羊鳴，手足相引，甚者失音不能言。從少陽斜至厥陰者，陰維也，<span class="註"><small class="雙行小字">尺浮寸沉</small></span>，動苦癲癇，肌肉淫痺，汗出惡風，前後俯仰之專脈也。二維有病，即見其脈，其實奪常診脈，多用此法，以審氣之升降強弱，奚必二維哉！</p>
<p>又內經陰陽結斜，多陰少陽，其義亦可通。此謂尺寸脈緊濇而傾斜，前仰後俯，浮少沈多，所謂肝腎并沉為石水也，扁鵲曰：不俛不仰，不低不昂，此為平脈，此俯仰二字所本也。</p>
<h3>脈有內曲外曲</h3>
<p>《脈要精微論》曰：推而外之，內而不外，有心腹積也。推而內之，外而不內，身有熱也。所謂外者，脈外近臂前廉，手陽明大腸脈之部也。所謂內者，脈內近大筋手厥陰心包脈之部也。是脈形之弓曲，或外贏，或內朒也，寒結之則脈形內曲，熱鼓之則脈形外曲，與小兒診三關脈紋內外之法，其義同。</p>
<p>《陰陽別論》曰：陰陽結斜，多陰少陽，曰石水，少腹腫，向來注者，罔知斜曲之義。夫結者，堅而濇也。斜者，如弓之曲也。多陰少陽者，謂其斜之弓曲向內，近於少陰，而遠於腸明也。石水少腹腫，是為單腹脹，即心腹寒積之類也。</p>
<p>張石頑診趙明遠曰：左手三部，弦大而堅，從人迎斜內向寸，是為三陽經滿溢入陽維之脈也，當有顛仆不仁之虞。所謂斜內向寸者，必先外越，乃折而內向上寸也。三陽滿溢，即內經身熱之類也。</p>
<p>《脈經》曰：從尺邪入陽明者，大風寒熱也。<span class="註"><small class="雙行小字">大風厲風，亦曰寒熱。詳見風論</small></span>邪入少陰者，女子漏下赤白，男子溺血，陰痿不起，引少腹疼。是正氣虛則內曲，邪氣實則外曲也。</p>
<p>扁鵲脈法曰：外句者，久澼也。內卷者，十日以還，是又以內曲外曲，分食積之新久也。大抵脈之曲者，皆因於積，而又中氣虛也。偏於熱多則外撐，偏於寒多則內倚。嘗診一婦，病胃脘痛，過服泄氣之劑，右脈內倚，藏於筋下，左手弦勁，問之曰：左腹素有塊也，用溫元補中二劑，而脈復常。</p>
<h3>脈有無數細絲</h3>
<p>此痰脈也，氣過指下，似覺拖帶黏涎，宛然中有無數細絲，此心包絡，與肺胃之有痰也，必有嘈雜惱儂，呼吸不利之證。</p>
<p>若平人常見此脈，且兼洪弦，又貪厚味，多房室，身肥項短，時覺骨節不便，胸膈不舒，眼目少神，夢寐不安，久必有類中風證，此脈形勢，介在滑濇之間，而實不可以滑濇名也。痰多氣弱，故其形似滑，而其勢甚濇也。</p>
<p>王叔和以系水交馳為死脈，真陽盡，而脈中津液悉化為痰也。系水者，懸水多股，即無數細絲，其絲忽斷忽續而不聚，故遂主死矣。</p>
<p>又有風馳脈，其氣衝指而過，如大風馳驟狀，此血虛而痰火相摶也，宜補血化痰主之。</p>
<h3>脈有變易無定</h3>
<p>虛損久病，脈象早晚不一，時遲時數，時大時小，甚至起坐之間，舉手換診，亦有改變，此由元氣不能自主，或痰飲尸疰所為。易思蘭曰：久病氣虛，早晚脈同，雖危可療。韓飛霞曰：重大之病，一日三脈多變，難治沈苛。日日脈不移，亦難治。《脈經》曰：左手寸口，乍大乍小，朝來浮大，暮夜沈伏，住來無常者，榆葉枯落而死，慎柔曰：癆瘵脈，酉戌時洪盛，寅卯時細弱者，陽氣虛陷也，忌用苦寒，當助陽以復其寅卯之位，微加瀉陰火而已，此皆虛勞鬼疰之類。</p>
<p>此外更見有兩種：一種婦人，初孕一二月內脈來忽大忽小，忽如病危，忽如無病，其證亦時而偪急欲死，時而舒暢如常也。</p>
<p>一種血虛內躁之體，火灼於內，濕閉於外，陰陽升降失度，腠理開合不時，心常懊儂，身常癮疹，上下往來，游移無定，其脈或寸大尺小，或寸小尺大，或左盛右弱，或右盛左弱，長短浮沈，逐日變易，連日診之，無一同象，凡遇此脈，即宜細心察神審證，或是燥火內燔，或巳尸氣內伏，一當養陰宣陽，一當理血殺蟲也。</p>
<p>大抵脈象無定，在困病，為陰陽之不交，在平人，為血氣之不和，當求所以不交不和之故而治之。</p>
<h3>脈有起伏中途變易</h3>
<p>舊說脈之浮沉不同者，不過浮大沈小，浮小沉大，浮滑沉濇，浮濇沈滑而已。未有於起伏之間，察其中途變易者也。</p>
<p>近來診視，曾見有兩種脈，一種其氣之初起，自沈分而至於中也，滑而踊躍有勢，及至中分，忽然衰弱無力，緩緩而上至於浮，形加泥漿；其返也，亦自浮緩緩而下於中，由中至沉滑而有勢，輕按重按，指下總是如此。其證身體困倦，終日昏迷，似寐非寐，心中驚惕，惡聞人聲，目畏光明，面帶微熱，四肢微冷，不飢不欲食，但口渴索飲不止。此衛濕營熱，風燥在肺，痰熱在胃也。身中伏有溼邪，而又吸受亢燥之新邪也，以防風、藁本通衛陽，驅表溼，紫苑、白薇、杏仁、蔞皮，宣泄肺中濁氣，焦查、竹茹、煅石膏、煅瓦楞子，降滌胃中熱痰，兼以自芍清肝，天竹黃清心而神清氣爽，身健胃開矣。</p>
<p>一種脈氣正與此相反，其初起，自沉而中也，艱濇少力，由中而浮也，躁疾如躍；其返也：亦由浮而疾下於中，由中而沉，遲弱無勢，輕按重按，指下總是如此，其人嗜好洋煙，飲食不強，陰痿不起，此表分病而裏有痰飲。又上虛熱，下虛寒也，治法當疏中溫下。</p>
<p>此二脈者，皆古書所未言也，豈真古人未見此脈哉！見之而詞不能達，徒以浮滑沈濇，浮數沉遲了之，不知浮沈之間，遲數不能有二，滑濇各自不同，與此之起伏中變者迥別也。故凡著醫案，於脈證曲折處，必不憚反復摩繪，方能開發後學也。</p>
<h3>外診撮要<span class="註"><small class="雙行小字">外診繁矣！以面色目色舌苔三者為大綱，茲撮其有關生死要診者著於篇。欲睹其詳有拙著《外診簡摩》在</small></span></h3>
<p>目色主五臟，面色主六府，舌苔主辨表裏寒熱，血氣存亡者也，前人分氣與色為二，又分光與色為二，其說甚精，具在《外診簡摩》中。</p>
<p>《靈樞‧五色》篇：論面色有所起所向，凡色起處，必緊而深厚，所向處，必漸淺而銳。故曰：上銳首空，上向，下銳，下向，察其起於何部，便知病處何藏，所向何部，便知病入何藏，以此參考病證，決其吉凶。</p>
<p>凡察面色，以初見而乍視之為準，又須兼正面側面并看之，須知粗老與枯燥不同，明潤與浮燄不同。大抵面色不怕濃濁，而怕夭薄，不怕滿面，而怕一線。</p>
<p>凡察面色，以初起如粟如珠如絲者為真，又須察其色深連肉裏，若滿面滯晦者，氣也，光也，雖甚枯暗，常主病而不主死，以其肉裏色猶潤焉。</p>
<p>脈有真藏，色亦有真藏，凡黃色深重，如土堆於皮面，或繞眉目，或繞顴鼻，或繞唇口，皆大凶。</p>
<p>鬢前兩太陽下，及耳前，為福德部，忽滯晦者，將病也。常滯晦者，腎與膀胱陽氣不足也，又主身世偃蹇。忽明而浮燄者，凶也。漸明者，久病將愈也。常明者，主康強安樂。常赤者，主有血分燥熱病，又主勞碌風波。又兩鬢勻圓，性情寬厚有福，細長下垂，多機心也。</p>
<p>面色以天中為主，赤色黑色為最忌，若見如粟如豆，即凶。他部有色應之，其禍更速。孕婦赤色，主產厄，平人男婦，並主兵厄火厄。</p>
<p>面目色宜相生，忌相剋。病人面色生目色，其愈速。目色生面色，其愈遲。目色剋面色，其死遲。面色剋目色，其死速。凡病日加劇，而面色愈見光燄，目光愈似有神，勝於平日者凶。</p>
<p>面色散漫，主病而已，若入竅為入門戶井竈，主凶。千金方言之甚詳，入竅者，即入眉目鼻孔口吻也，凡面色兩部，色並起，漸見相連者凶。</p>
<p>凡久患溼痰困重人，脾溼肝鬱，山根下，多見一橫道滯暗。若內含微赤者，伏熱也，色雖深重，不死。旁連目胞下及兩顴，即凶。</p>
<p>凡繞鼻準兩迎香紫黯，而鼻準兩顴與脣，俱光浮似腫者，下體有楊梅瘡也，不治。</p>
<p>凡面色起於內部而外行者，內部漸開，主病散，故滿面色雖惡，而印堂山根鼻準明潤深厚者，雖困無危。起於外部而內行者，主病深為凶，自下上行過顴，自上下行過目，皆凶。</p>
<p>又《內經》謂男子左為逆，右為從。女子右為逆，左為從。</p>
<p>凡察目舊以四白為忌，其實不然，久病胞肉消瘦，能無露白乎？當以黑睛為主，瞳人緊斂，邊際分明，神光內涵者，壽相也，雖困無危。瞳人暴大及縮小，邊際散漫，神光昏濁，皆忌。小兒初生，瞳人寬大者夭。白晴黃者，溼熱也。青睛黃者，溼熱甚也，亦主血虛。黑睛黃者，腎虛也。黃甚者，皆為疸、瘰癧、癰疽。有赤脈貫瞳子，不治。平人白睛，常多赤脈者，主有大風波。天中及兩眉兩顴，有赤色應之，即發。</p>
<p>凡察舌，須分舌苔舌質，舌苔雖惡，舌質如常，胃氣濁惡而己，苔從舌裏生出，刮之不能全凈者，氣血尚能交紐，為有根也。</p>
<p>凡舌苔，以勻薄有根為吉。白而厚者，溼中有熱也。忽厚忽薄者，在輕病，為肺氣有權，在困病，為腎氣將熄。邊厚中薄，或中道無苔者，陰虛血虛也。中道一線深陷，極窄如隙者，胃痿也。舌根高起，累累如豆，中路人字紋深廣者，胃有積也。舌上星點赤而鼓起者，胃熱也。在兩旁，主肝熱，在尖，主心熱。淡而陷下者，胃虛也，在小兒為有滯有蟲。望似有苔，一刮即淨，全無苔跡者，血虛也。一片厚苔，或黃或白，如溼粉所塗，兩邊不能漸勻漸薄者，胃絕也。</p>
<p>黑苔者，血瘀也。灰苔者，血瘀而挾痰水也。婦人傷寒時病，最易生黑苔，不得遽以為凶。舊法，黑苔以芒刺燥烈，濕潤細膩分寒熱。歷診瘀血，苔黑，雖內熱，而不遽起刺。有煙癮人，苔易燥刺，而非必內有真熱，不過肺胃津傷耳。凡見灰黑二苔，總宜兼用行血，其證寒熱甚者，必神昏譫語，無寒熱者，必胸肋有一塊結熱，內煩而夜不安眠也，若僵縮言語不利，或身重不能轉側，及一邊不能眠，乃凶。</p>
<p>舌枯晦而起剌者，血燥熱極也，雖結黑殼，猶有生者，光平如鏡，乃凶。亦有平人，胃中夙有冷痰瘀血，舌上常見一塊，光平如鏡，臨診宜詳問之，又凡有痞積及心胃氣疼者，病時，舌苔多見怪異，婦科尤甚。</p>
<p>凡久病，齒光無垢者凶，齒枯黃，似垢非垢，或雖有垢，而一即卸凈而全無者，皆腎氣將絕也。</p>
<p>唇青，黯淡無華也。</p>
<p>人中滿，寬縱不能起棱也，唇吻反，兩吻下垂，如弓反也。</p>
<p>凡察耳，宜與面目同色，若不同者，視其好惡，辨其生剋以決之，耳輪忽枯如塵垢者，凶也。平人面色蒼潤，而耳輪常焦黑而不枯者，反為腎氣充實之相。</p>
<p>凡身瘦肉削，而筋與骨緊附，皮與肉緊著者，及皮膚雖枯燥白屑，而未跌結起栗者，無慮也。
若筋骨相離，皮肉相離，寬縱如頹囊者、皮上如麻豆累手，身雖熱無汗，但背心心窠額上準上有汗者、手掌食指大指後露骨者、目胞四圍深陷如削者、項後大筋正中深陷如坑者，併大忌之。大筋兩旁陷者，常也。正中不陷，無妨。蓋肌肉脂膏，消瘦可也。筋絡腠理，枯縮廢弛，不可也。</p>
<p>形養於血，色生於血，病重血濁，病久血虛，形色相應常也，血亂血散，血枯血死，形色不相應，非常之變也。</p>
<p><span class="註"><small class="雙行小字">重訂</small></span>診家直訣終</p>
