<header><h1>明目至寶</h1></header>
<dl class="元資料" data-type="book" hidden></dl>
<h2>卷一</h2>
<h3>明目賦</h3>
<p>夫人之有兩眼，猶天之有兩曜，視萬物，察纖毫，何所不至。日月有一時之晦者，風云雷雨之所致也，眼之失明者，四氣七情之為害也。大抵眼目為五臟之精華，一身之至要，故五臟分五輪八廓，名八卦。五輪者，肝屬木，曰風輪，在眼為烏睛；心屬火，曰血輪，在眼為二　；脾屬土，曰肉輪，在眼為上下胞；肺屬金，曰氣輪，在眼為白睛；腎屬水，曰水輪，在眼為瞳子。至若八廓，無位有名，膽之腑為天廓，膀胱之腑為地廓，（今因後八廓圖改作山廓，好記亦無害，理且長於言語，從之。）命門之腑為水廓，（今改火廓，從之。）大腸之腑為山廓，（今改風廓，從之。）三焦之腑為澤廓，（今改為肺之腑，從之。）此雖為眼目之本根，而有藉血為之包絡五臟。或蘊積風熱，或有七情之氣鬱結不散，上攻眼目各隨五臟所屬而見。或腫而痛，羞澀多淚，或生障膜，昏暗失明。其證七十有二，治之法須究其因。</p>
<p>風則攻散之，熱則清涼之，氣則調順之，切不可輕用針刀點割，偶得其愈，出乎僥幸，倘或不然，為害不淺。又且不可過用涼劑恐冰其血脈，凝而不流，亦成痼疾。當量人老少，氣體虛實用藥。又有腎虛者，亦能令人眼目無光，或生冷翳，止當補暖下元，益其腎水。北方之人，患眼最多，皆是日冒風沙，夜臥熱炕，二氣交蒸使然，治之多用涼藥，北方之人，稟受與南方不同也。疹痘之後。毒瓦斯郁於心肝二經，不能自已，發於眼目，傷於瞳人者，素無治法。</p>
<h3>眼科論</h3>
<p>世之最貴者，莫過於人。人之最貴者，莫過於目。眼乃一身之珍寶，能觀萬物，照耀無窮，內連五臟，外應五行。今時患眼者，皆因外受風寒暑濕，內為憂思喜怒，五勞七傷，四氣七情，或餐五辛，或好淫色，早乘煙霧，久視燈光，皆為患眼之源。</p>
<p>輕則昏蒙，重則翳障，致成　肉遮睛，眵淚爛眩。或被五風所害，或然障膜所侵，無須治眼，先保元陽。切宜洗心滌慮，然後服藥，隨證治之或洗，或針，或烙，或割，封貼，明辨患證，切宜細心醫治。（其功難述。）</p>
<h3>孫真人諭眼論</h3>
<p>夫眼者，五臟之精華，一身之至寶，如天之日月，其可不保護哉！骨之精為瞳人，（屬腎。）筋之精為黑睛，（屬肝。）血之精為脈絡，（屬心。）氣之精為白睛，（屬肺。）肉之精為約束，（屬脾。）人之造化皆從眼，目生於肝、心、脾、肺、腎、肢體、手足。</p>
<p>今人多好淫欲，耗散元陽，五臟不和，上盛下虛，血不能流傳，致令熱氣上攻，眼目赤腫，疼痛隱澀難開，翳膜遮睛，羞明怕日。或然表虛，外受風寒，其氣在裡，內須頭痛發作無時，經年日久，致令翳障，侵睛內障。或飲酒過多，常食熱物，皆為損眼之源。明辨數方，濟無之周。凡有眼證，察其義理，隨患證治之。</p>
<h3>陰陽相應辨論</h3>
<p>人稟五行造化，陰陽匹配成形，是曰：五輪有位，八廓分形。五輪應五行，按五方，內五臟，出五運，曰金、木、水、火、土者也。人質之中，皆荷五應之扶持。</p>
<p>所謂八廓者，分八卦，應八廓。故眼為清淨之寶，屬日月之通幽。膽脈相連，配於天道之象，隨於瞻視，其用清虛，外通五輪，內應八廓，其經故無正名。內間為之天、地、水、火、風、雷、山、澤，應是八廓，而有病根，形於證候。凡觀察於何經廓位，虛實冷熱，氣之所侵用藥。士大夫詳推至理矣。</p>
<h3>上古天真論眼科</h3>
<p>夫眼者，一身之至寶，能觀天地，照耀無窮。今時之人，有內障失明，亦有翳膜疼痛者，何也？天真曰：今時之人，以酒為漿，以色為常，醉以入房，以欲竭其精，以酒散其真，不知持滿，不時損神，務快其樂，逆於生理。起居無節，亦有或受風寒，或勞神散氣，致使然也。夫上古聖人之教下也，正其心以正其身，保陰護陽，筋脈調和，骨髓堅固，血氣皆順。若從此法，是以嗜欲不能勞其目，淫邪不能惑其心，內外調和，耳目自然聰明也。問曰：今時之人不能樽節，失其調理，患之所侵，何以濟之？天真人曰：人之目者，眼胞周匝，則有二四之穴，若生赤膜，可以手法治之，將息一月，以能去暗而復明，疼痛昏　者得痊。用在各方，遂傳於世而人習之。若能誠意通明，乃濟世活人之道也。</p>
<h3>通明論</h3>
<p>夫眼者，榮身之寶，如天之日月，能觀山河之秀麗，能照萬物之精華，宜安其身，調持保護。然不睹光明者，任有千金萬玉以榮其富貴，縱有金飾佳人以解其憂愁，何睹也？且傷今時患眼者，皆因感受風寒入內，邪氣相傳，風血並行，風氣盛而血氣多，致成翳膜遮障，　肉侵睛，諸般異證，不時疼痛，視物不明。凡是此證，用藥治療，但收一半之功，未能盡臻其效，當須手法除去病根，則曰知源。其眼胞者，周匝一寸三分，按五輪八廓，出乎其十二之經，分為二三之穴。若生諸患，切宜詳細驗源治之。其赤筋者某生，是患眼之源，亦有陰精光明者乎？能治者，得濟人之功。不能治者，誤損神光，取瘥則難，精通秘要，明其諸穴，得其真傳，方能取效，濟世之道也。</p>
<h3>軒轅黃帝說眼病目科</h3>
<p>帝曰：外障者，肝中得病；內障者，膽中用藥。外障肝上有膜，先令吃藥去膜，然後用點藥；內障者，膽上有膜，膽汁熱枯，用藥調理，喚作青風內障，虛則補之。二十以上，三十以下，涼藥多不妨。五十以上，七十以下，宜用溫藥。赤眼、毒眼，須用治心肺血氣之藥。審其虛實，解心肺氣，先宜解，後點洗。及患翳膜，眼睛不疼痛，不用宣解。婦人血氣，先治頭風，然後治眼，非俗說之談。</p>
<p>凡人患眼，皆因酒色思慮，憂愁悲哭，食毒咸酸，致令血氣不均，肝氣損動。調理肝肺，則用藥明矣。</p>
<h3>四季五行發揮妙訣</h3>
<p>天地造化，陰陽變通，五行匹配而有象，四肢體類以成形。天有日月，人有雙眸，在眼通乎腎臟，外分五輪，內應五臟，運稟四時，通流百脈。是乃春和萬物，木旺之時，肝氣盛而腎氣衰。夏日敷榮，火氣炎上，心氣旺而肝氣衰。秋令收成，金氣騰旺，肺氣旺而肝氣衰。冬至滯根，水性乃全，腎氣旺而肝氣生，乃曰子母生成之造化。人眼者，肝之外候也。肝氣不和，則瘀血灌睛；肺氣不和，則眼睛澀癢；脾氣不和，則白仁淡黃；腎氣不和，則多流冷淚；心氣不和，則時常赤澀。</p>
<p>血輪受病，察於心；風輪受病，察於肝；水輪受病，察於腎；肉輪受病，察於脾；氣輪受病，察於肺，故乃相生相克理正明源。識五臟之盛衰，知四時之造化，自有生以來，皆資氣血，氣滯血虛，目病自生。若氣血調和，安有斯患？人登事務，多貪酒色，大冒風寒暑濕，過食口味，將息失度，以致肝膽受於風邪，因入膀胱而致冷淚。冬天大寒，春天凜烈，九夏清涼，三秋酷熱，陰陽毒瓦斯則春三陽所生。故陰陽雜於丹田，毒瓦斯一日二日離丹田，三日四日在脾胃，五日六日在臟腑，或傳變而目赤，在肝而目痛，在肺而多癢，在腎而瞻視不明，在脾而爛眩倒睫，在肝膽而肉攀睛，克在脾胃三焦而視物不明，克在膀胱，故有頭痛流淚，瞻視昏花，補肝散實能奏效。脾冷則珠睛澀癢，驅風散而相之。腎冷則黑花散亂，補腎丸大有奇功。</p>
<p>肺冷瞻視難開，清肺散而調之。有熱兮，柴胡散發散，仍使通肝散。腫兮，清肝散通利，兼用涼脾。決明散、羚羊角散、還睛散眾疾施為，地黃丸、定心丸息內有效。胎前產後檀香散、當歸散、二宜散須當詳用；冷熱風虛，五退散、清涼散、白薇散消息效驗。目赤深紅，眼睛痛澀，乃肝經實熱，須當瀉肝、清心、涼脾，其效必矣。目赤淡紅，眼睛微澀，乃肝經虛熱，須當溫涼調順驅逐，是疾愈焉如故。</p>
<p>氣粗口味不攬，是乃脾胃積熱，翳障遮睛，或如粟粒，成如梅花。白仁腫痛，肺與腸積熱。不腫而有瘡翳者，肺臟傳於風涎。赤脈多者，心之虛也。白睛黃者，酒欲食傳脾胃。血灌瞳人，心經壅熱。腎經風熱，羞明生花，無翳者，宜補。痛如針刺者，通利即除。眼睛癢者，驅風旋愈。撞刺者，住痛為先。斑瘡者，消毒宜早。</p>
<p>調理陰陽，所謂醫者乃人之司命，通達玄微，始終有準。妄行針刺，藥有誤身，深可戒也。</p>
<p>人眸有患，扶救在醫，視陰陽與虛實，察形色與盛衰，總二十四方之體用，分七十二證之候門。得高賢之趣則超然解晤，遇達人示教則表我扶危。又質曰：地黃散專治混睛外障。驅風散能除癢極難任，沖風淚出，清肺散消除暴風客熱，兩　赤脈。犀角飲愈除黃膜上衝，清涼散冰翳瑕深而有效，消毒散瞼生風粟以無虞。圓翳內障、坐起生花、黑翳如珠、肝虛雀目，補肝散、補腎丸悉能療治：兩瞼黏睛、胎風赤爛，風繾　斜、胞肉凝脂，消風散、五退散盡獲平安。白薇丸善止漏睛膿出；洗肝散能平突出睛高。諺云：雞冠蜆肉、　睛、神祟撞刺、熱病傷寒、肝腸積熱，石決明散果驗；逆順生翳，黑風、青綠內障，花翳白陷，羚羊角散可投。牛角膏，小兒睛痛即止，柴胡散，小兒斑痘掃除。詳論冰翳零花，拳毛倒睫，血灌瞳人，瞼肉硬痛，旋螺突起，赤膜下垂，通肝散而絕妙，滑翳、澀翳、白翳黃心痛如針剌，玉翳浮睛，小兒疳眼，還睛散而可投。黑花內障，涼瞻丸而有效，烏風形狀，瀉肝散服安康。決明丹、六神散小兒痘眼可用；定心丸、二黃丸侵睛　肉以兼行。偷針撞刺、昧目飛塵，荊防散而最妙；赤眼麻痘，風熱癢痛，勝金散而絕高。兔肝丸、蛤粉散專治小兒斑痘；大通散、四靈散偏醫血灌瞳人。爛眩風眼，碧霞散、青蠶、兒澤可洗；胎前產後，二宜散、檀香散服則安康。地黃丸，拳毛倒睫而可宜，遠志丸，丁翳根深而可除。予曰：當尋古義，猶有玄機，審玄文則倏然解悟，蒙指示則助我扶危。先須審認浮沉，堪會人神在眼。天空野狼藉，血忌休囚，四方風靜，云收全假，三光相助，遠年近日，深細團圓。狀若明珠出海；形如星月相同。或火熱昏蒙，或時刻不見，須在窮究，知趣洞別玄微。如啟盤而呈珠，擬撥雲而見日，則力才之功於茲可見矣。</p>
<h3>太玄真人論眼病五輪所屬</h3>
<p>風輪屬木，在臟為肝，在眼為烏睛也。</p>
<p>問曰：風輪如何得病？答曰：喜怒不常，或勞心力，云中瞻視百物，燈下看讀經書。眼力既勞，風輪內損，則眼澀痛睛疼，視物不真，眼眩緊急。日久不治，昏蒙細小也。問曰：如何治？答曰：按本草對證當治肝，肝氣盛攻於風輪也，宜服羚羊角散。</p>
<h4>羚羊角散</h4>
<p>羚羊角（磋末，五錢）　人參（一錢）　皂角（兩半，蜜浸）　防風（五錢）　甘草（五錢）　草烏（一兩，生用）　川芎（一兩）</p>
<p>上為末，每服二錢，用木賊、甘草煎調服，日進三服，忌生冷。</p>
<p>詩曰　東方屬木木生風，在臟為肝竅目通，飢飽不均生熱毒，睛疼有翳主侵瞳。</p>
<p>血輪屬火，在臟為心，在眼為大小　也。</p>
<p>問曰：血輪如何得病？答曰：憂愁思慮，悲喜煩惱，內傷於心，致生赤筋，白膜遮睛，昏蒙難開，日久不治，遂致失明也。問曰：如何治？答曰：按本草對證當理心，心血之熱攻於血輪也，宜服地黃丸。</p>
<h4>地黃丸</h4>
<p>生地黃　白朮　青葙子　山梔子　荊芥穗　當歸　木通　黃芩各等分為末，煉蜜為丸，每服三十丸，淡竹葉煎湯送下，如用砂糖水下亦可。</p>
<p>詩曰　心火南方屬丙丁，熱風流入臟中停，頭兩目赤兼澀，遠視渾如散碎星。</p>
<p>肉輪屬土，在臟為脾胃，在眼為上下瞼也。</p>
<p>問曰：肉輪如何得病？答曰：為人多好熱酒，嗜食五辛，上嶺奔走，開弓驟騎，肉輪既損，內感於脾、瘀血侵睛，腫攻胞廓，翳障經年不退，昏暗竟日難開也。問曰：如何治？答曰：按本草對證當理脾，脾熱毒攻於肉輪，宜服薏苡仁散。</p>
<h4>薏苡仁散</h4>
<p>薏苡仁（一兩）　甘草　白茯苓（一兩）　石決明（一兩）　大黃黑牽牛（各五錢）</p>
<p>上為末，每服二錢，食後煎臘茶吞下。</p>
<p>詩曰　太陰屬土主脾元，積熱傳脾胃被纏，上下眼皮浮又赤，偷針為患古今傳。</p>
<p>氣輪屬金，在臟為肺，在眼為白睛也。</p>
<p>問曰：氣輪如何得病？答曰：凌霜冒雪，或受飢寒，肌體稍虛，邪毒內攻，或腫或昏，赤筋隱澀，視太陽如隔霧；睹人物似疑煙。日久不治，變成障翳也。問曰：如何治？答曰：按本草對證當治肺毒，多生白膜、青筋赤筋也，宜服蒺藜散。</p>
<h4>蒺藜散</h4>
<p>白蒺藜（炒，去刺）　川芎　當歸　羌活　海蛤（蜜炙）　荊芥穗各等分為末，每服二錢，茶清或米泔調下詩曰　肺臟停留冷熱停，兩睛不覺澀沉沉，但將涼藥調衛榮，毋使昏沉似血形。</p>
<p>水輪屬水，在臟為腎，在眼為瞳人也。</p>
<p>問曰：水輪如何得病？答曰：久飲久坐，色欲無厭，大喜傷神，大怒損志。愛食酒面五辛，有傷腎經，侵於黑光，致令冷淚傾流。風虛內作或腫或疼，結成翳障，多澀昏也。問曰：如何治？答曰：按本草對證當理腎經，乃腎虛敗攻水輪，常多昏暗，視物久則黑花生也，宜服枸杞子丸。</p>
<h4>枸杞子丸</h4>
<p>枸杞子（二兩）　黑附子（一兩，炒）　五味子（二兩）　蟬蛻（去頭足，一兩）　全蠍（七個，不炒）</p>
<p>蒼朮（一兩兩錢，米泔水浸）</p>
<p>上為細末，蜜為丸，每服三十丸，米湯或鹽湯送下。</p>
<p>詩曰　腎臟原因受賊邪，起居眼目主生花，只因色重傷元氣，冷藥休餐疾不瘥。</p>
<p>問曰：眼有五輪者何也？答曰：眼有風輪、血輪、肉輪、氣輪、水輪，所以名為五輪也。</p>
<h3>太玄真人問眼病因論八廓所屬八卦也</h3>
<p>乾為天，≡乾屬金。膽之經名清淨廓，足少陽脈主之。</p>
<p>問曰：天廓如何得病？答曰：或云中射物，月下看書，多食腥膻，侵冒寒暑，致令生病。昏蒙多出冷淚，不能辨物。問曰：如何治？答曰：按本草封證，治天廓昏蒙生淚也，宜服清神散。</p>
<h4>清神散</h4>
<p>防風（一兩）　川椒（一兩，去皮）　香附子（一兩，炒）　薄荷（一兩五錢）　加川芎（一兩）</p>
<p>上為末，每服一錢，臨臥茶清送下，酒亦可。</p>
<p>詩曰　視物依稀似露中，時時將手拭睛瞳，要知冷淚頻頻下，此是肝虛膽氣攻。</p>
<p>坤為地，KT　坤屬土。腎之經名陰會廓，足少陰脈主之。</p>
<p>問曰：地廓如何得病？答曰：或因濕發堆於頭上，冷氣壅於睛瞳，因而生病，為眵多，眼眩緊急，瘀肉生起也。問曰：如何治？答曰：按本草對證，治侵睛之故，宜服當歸散。</p>
<h4>當歸散</h4>
<p>當歸　羌活　山梔子　牛蒡子　白朮　甘草共為末，每服一錢，蜜水調服。</p>
<p>詩曰　腎為納病曉元由，酒色雖多更帶憂，莫道睛疼無大故，看看橫膜障雙眸。</p>
<p>坎為水，　坎屬水。胃之經名水穀廓，足陽明脈主之。</p>
<p>問曰：水廓如何得病？答曰：大喜大怒，有傷於心，毆擊相持，開虧驟騎，強力成疾。其病昏澀，熱淚多出也。問曰：如何治？答曰：按本草對證，治水廓睛疼、白翳侵睛淚出之故，宜服洗鏡丹。</p>
<h4>洗鏡丹</h4>
<p>密蒙花　黃芩　家菊花　白茯苓　蟬蛻（炒）　夜明砂（炒）</p>
<p>上為末，水糊為丸，每服三十丸，豬肝湯送下。</p>
<p>詩曰　食氣傷脾及胃中，更加積熱兩相沖，胞眩漸腫眼中赤，不解胃中熱不通。</p>
<p>離為火，KT　離屬火。命門之經名抱陽廓，手少陰脈主之。</p>
<p>問曰：火廓如何得病？答曰：精神恐懼，情懷郁結，內動心腎，上攻火廓，致令赤脈侵瞳人，熱淚如傾也。問曰：如何治？答曰：按本草對證，治赤腫多疼，熱淚之故，宜服玄精石散。</p>
<h4>玄精石散</h4>
<p>玄精石　石膏　穀精草　蟬蛻　連翹　甘草上等分為末，每服一錢，蜜水調，食後服。</p>
<p>詩曰　內抱真人是命門，眼前花亂色難分，不能補腎調肝膽，赤脈交加兩眼昏。</p>
<p>巽為風，KT　巽屬木，大腸之經名傳道廓，手陽明脈主之。</p>
<p>問曰：風廓如何得病？答曰：枕邊穴隙，窗下穿竅不能遮蔽，坐臥當風，腦畔斜風攻於輪廓，致令睛疼，兩瞼常　，昏澀多淚也，問曰：如何治？答曰：按本草對證，此治昏癢多淚之故，宜服楮實子丸。</p>
<h4>楮實子丸</h4>
<p>楮實子（四兩，炒）　木賊　黃芩　白朮（四兩）　菟絲子（一兩，酒浸，蒸熟，研爛，焙乾為末入藥）</p>
<p>肉蓯蓉（一兩，酒浸）</p>
<p>上為末，蜜丸如梧桐子大，每服三十丸、空心鹽湯下，酒亦可。</p>
<p>詩曰　傳道多因是本經，肝經多熱滯風停，大腸若順應須好，癢澀之時翳抱睛。</p>
<p>震為雷，KT　震屬木。小腸之經名關泉廓，手太陽脈主之。</p>
<p>問曰：雷廓如何得病？答曰：宴罷貪睡，酒後行房，血脈泛濫，精髓閉塞，風邪內聚上攻於目，致令　頭赤腫，瞼內生瘡，倒睫拳毛，攀睛　肉生也。問曰：如何治？答曰：按本草對證，治赤筋攀睛、拳毛之故，宜服水鏡散。</p>
<h4>水鏡散</h4>
<p>當歸（一兩）　甘草（三錢）　蟬蛻（三個）　黃連（五錢）　家菊花　川芎（一兩）</p>
<p>上為末，每服一錢調蜜水下，井水亦可，忌羊肉面腌臟五辛之物。</p>
<p>詩曰　小腸經屬關泉廓，受病先從心上傳，兩　多生眵淚癢，但調心熱自然涼。</p>
<p>艮為山，KT　艮屬土。膀胱之經名津液廓，足太陽脈主之。</p>
<p>問曰：山廓如何得病？答曰：或手拳打觸，或竹木誤簽，血灌睛瞳，致令生瘡翳膜。若不早治，永遭黑暗也。問曰：如何治？答曰：按本草對證，治瘀血　肉，侵睛疼痛之故，宜服地黃丸。</p>
<h4>地黃丸</h4>
<p>生地黃　川芎　人參　白蒺藜（去刺）　當歸（酒洗）　防風上為末蜜丸如梧桐子大，每服三十丸，食後茶清送下詩曰　膀胱屬水腎為虛，冷熱相刑本臟居，睛赤兼黃輪廓內，不逢妙手豈能醫。</p>
<p>兌為澤，KT　兌屬金。肺之經名養化廓，手太陰脈主之。</p>
<p>問曰：澤廓如何得病？答曰：春不宣五臟，冬聚於陽毒，或因食炙肉，火毒之氣聚於腎水，致令腦脂凝聚，血毒攻目。一似薄霧遮隔，又如飛蠅來往，結成眵淚，瞻視難開也。問曰：如何治？答曰：按本草對證，治額常眼痛，黑花多淚難開之故，宜服煮肝散。</p>
<h4>煮肝散</h4>
<p>木通　綠豆皮　黃芩　羌活上為末，用豬肝切開入藥三兩半，用線扎定，以米泔水煮，天明飯後吃，以豬肝同藥細嚼。月進三次，每服藥一錢，用豬肝三兩摻藥也。</p>
<p>詩曰　三焦為臟肺中藏，胃熱沖風犯目光，涼膈祛邪方可用，若投熱藥病難當。</p>
<h3>論五輪受病之因</h3>
<p>肝病是風輪，色黃而赤，交受風熱，色黃而黑，乃肝肺冷；心病是血輪，色赤而疾，心受熱毒，赤而痛者，心主夏之氣；脾病是肉輪，色黃而腫，是脾虛，色赤而癢，是脾氣積熱；腎病是水輪，色黃而光，是腎受風熱之邪，色昏而濁，腎氣虛敗；肺病是氣輪，色黃而赤，風熱毒攻。赤極而痛，火毒傷金。醫者辨明，萬無一失，用藥無瘥。</p>
<h3>論八廓受實熱病之因</h3>
<p>肝熱　肉攀睛，宜理肝涼膽也。膽熱睛生翳膜疼痛，宜涼膽退肝熱也。心熱是赤脈不散，宜涼心也。肺熱胞瞼生瘡，宜涼肺也。脾熱睛痛、宜涼脾胃也。腎熱睛生虛障痛腫，宜均腎氣也。膀胱熱生倒睫拳毛也。腸熱浮翳遮睛，宜涼心肺也。</p>
<h3>論八廓受虛寒病之因</h3>
<p>肝冷有淚羞明，宜補腎肝和氣也。膽冷昏暗兩瞼澀，宜補腎益肝也。心冷氣不順，宜溫脾也。眼睛疼，宜溫脾生血也。腎冷則生黑花，宜補腎生精也。膀胱冷則多昏暗，大腸冷則眼昏，宜服暖藥也。肺冷受風邪寒氣，宜補心肺也。脾冷則目閉不開也。凡須用藥，究其源，庶無謬矣。</p>
<h3>論五行所屬金木水火土位</h3>
<p>風輪屬肝，東方甲乙木位。（理肝經氣毒攻目，昏澀疼痛，赤腫風熱，冷翳侵睛，宜服）</p>
<p><u>瀉肝散</u></p>
<p>當歸（一錢）　茯苓（一錢）　人參（一錢）　防風（一錢）　羌活（二錢）　蒺藜（二錢）　蟬蛻（一錢，去腳）</p>
<p>荊芥（二錢）　甘草上為末，每服三五錢，酒送下，茶亦可。</p>
<p>血輪屬心，南方丙丁火位。（理心經熱毒暴赤，血絲侵睛，血灌瞳人，昏澀難開，宜服）</p>
<p><u>洗心散</u></p>
<p>生地黃　白芍藥　川芎　槐花　當歸　防風　朴硝　荊芥　大黃　甘草　梔子仁（炒，為末）　龍膽草上藥各等分為末，淡竹葉煎湯調下，每服三五錢，重者日三服。</p>
<p>肉輪屬脾，中央戊己土位。（理兩胞浮腫，　肉攀睛，瘀血偷針眼，宜服）</p>
<p><u>枳殼散</u></p>
<p>川芎　枳殼上為末，厚朴煎湯下，蜜湯送下亦可，每服三五錢。</p>
<p>氣輪屬肺，西方庚辛金位。（理肺經白膜遮睛，羞明怕日，視物如煙，昏澀癢痛，宜服）</p>
<p><u>防風散</u></p>
<p>防風　蒼朮　羌活　荊芥　當歸　甘草上各等分為末，每服三五錢，茶清送下。</p>
<p>水輪屬腎，北方壬癸水位。（理腎經昏暗黑花，頭痛冷淚，視物不明，青盲內障，宜服）</p>
<p><u>補腎丸</u></p>
<p>巴戟　山藥　破故紙　小茴香　青鹽　肉蓯蓉　牡丹皮（五錢）　枸杞子（十兩）</p>
<p>上為末蜜丸，每服五十丸，鹽湯送下。</p>
<p>又治肉輪，太陽穴疼痛，翳膜侵睛，瘀血時作赤腫，經年不退，宜服</p>
<p><u>薏苡仁散</u></p>
<p>薏苡仁　茯苓　石決明　白牽牛　大黃上各等分為末，每服三五錢，茶清調送下。</p>
<h4>四季所屬</h4>
<p>春屬木三陽一陰　夏屬火二陽三陰秋屬金四陽二陰　冬屬水一陽四陰。</p>
<h4>五輪所屬</h4>
<p><a href="_files/p05-c17a1.bmp">五輪所屬圖</a></p>
<h4>五輪證治</h4>
<p><a href="_files/p05-c17a2.bmp">五輪證治圖</a></p>
<h4>八廓之圖</h4>
<p><a href="_files/p05-c17a3.bmp">八廓之圖</a></p>
<h3>孫真人還睛表</h3>
<p><u>大唐真觀十九年二月二十八日，相州湯陰縣崔村，蘇門山集仙洞真人孫思</u></p>
<p><u>邈進是表，大有奇功，醫者用之，甚有驗矣。</u></p>
<p>臣問世間最貴者，莫過於人：人之最貴者，莫過於眼。眼者，按五臟六腑之精華，一身之珍寶，能觀萬物，照耀無窮。皎潔如珍珠，包含於天地，內連於肝膽，外應於六經。眼雖屬於竅門，乃歸腎而不主。腎屬北方壬癸水，心屬南方丙丁火。心腎不安，則水火交戰，水火相克，故聚血氣停流，膽損肝虛，目因受病。</p>
<p>凡須治療，先須補腎，後乃修肝。肝是腎之苗，腎是肝之主，修肝則神魂安定；補腎則精魄流通。魂魄既得安和，眼目自然明朗。譬如種果惟在修根，根壯則枝葉方榮，根損則苗蕊何立。黑睛屬腎，腎虛則腦痛。淚竅通肝，肝風則冷淚常出。</p>
<p>白仁屬肺，肺熱則赤脈通睛。上瞼下瞼屬脾，脾風則拳毛倒睫。大　小　屬心，心熱則攀睛　肉。</p>
<p>眼分五輪，內應五臟，肝、心、脾、肺、腎，又屬五行者，金、木、水、火、土。五輪者，氣輪、風輪、肉輪、水輪、血輪。勿信愚醫，妄行鉤割，切須細尋方論，藥物精研。夫人好食丹藥，或夜尋心苦用精神，或膽中受熱，或肺上受寒，或食好五辛毒魚菜　蔥蒜韭，愛色貪淫。或縱七情之偏或瞻星視日，或近火沖煙，或即深思不睡，思慮家園無歇，致使三焦壅熱，遂乃迎風淚出，視物如煙生，覷空中似雪霜之形，視太陽如同水底，蓋因腎臟衰敗，夜夢鬼交，眼前似黑花撩亂，看物依稀，如此動靜，便是損目之根源。日久月深，變成大患。年少不聞道，恣意隨心，酒後逞情，飯飽便臥。或即冬天近火，夏日耽涼，醉臥當風，不能回護，貪淫樂欲，不能拋形。或身家豐富，年力壯盛，酒色過度，誰思損目之殃。由於腎氣衰敗，致令禱鬼祈神，積苦身形，其病成矣。今乃按其本草，主治處方，此藥能養腎安神，久則搜風明目，補暖除邪，但依方備合常服，治眼萬無一失。名曰還睛丸，共十味炮炙不同，特定君臣，但能服餌，克日當愈。不惟男子老幼服之無妨，臣曾驗，實為制，辨物精爽。後備方於下。陛下永施昌瀆聖德，臣無任瞻仰之至。</p>
<h4>還睛丸</h4>
<p>（此方但能克日取效也。）</p>
<p>川芎（酒浸）　白蒺藜（炒，去刺）　白朮　木賊（去節）　甘草（炙）　羌活　青葙子　菟絲子（照前制）　密蒙花　防風　家菊花　楮實　川當歸（酒洗）</p>
<p>上藥十三味，各二兩為末，煉蜜丸如梧桐子大，每服三十丸白湯送下，或鹽湯送下亦可。</p>
<h4>煮針法</h4>
<p>烏頭（五錢，去尖）　巴豆（五錢）　硫黃　麻黃（各三錢五分）　木鱉子（五個）　烏梅（五個）</p>
<p>上用藥同針入罐內水煮一日，洗淨去鏽，再用止痛藥煮過。</p>
<p>乳香　沒藥　當歸　花藥面（各二分半）</p>
<p>又煮一日取出針，用皂角水洗，再用狗肉血內煮一日，仍用瓦屑打磨干淨，正直，又用菘子油塗，常要近人氣，針則不痛矣。</p>
<h3>明堂問答七十二證之因</h3>
<p>一問曰：人病患眼者，何也？答曰：或因酒色、憂愁、思憶、悲哀，或因食咸酸，血氣不均，肝經損動，久則患目矣。</p>
<p>二問曰：眼赤而痛者，何也？答曰：五臟積熱，毒傳於肝木，目乃肝之外象，肝受邪氣，使血散亂，流注於目，故赤而痛也。宜服酒調散、四順散、八解散。</p>
<p>三問曰：赤而不痛者，何也？答曰：乃肝實也。肝者，血之源。肝實則血盛，血盛則流注於四肢，血氣上衝，侵於睛瞳，目受其血，故赤而不痛也。宜服四順散、撥雲散、八解散、洗心散、瀉肝散。</p>
<p>四問曰：眼赤而昏者，何也？答曰：乃肝虛也。肝主木，木生火，火發則木衰。火屬心，心主血，血隨火升而上灌於目，侵於瞳人，故眼赤而昏也。宜服洗肝補膽散、活血散、順肝散、還光丸、黃　丸。</p>
<p>五問曰：大　赤者，何也？答曰：乃心實也。五臟分布皆屬於心。心者，帝王之職，離火之位，熱積於中，火炎於上，故大　赤者，心之實也。宜服三黃丸、洗心散、菊花散。早晨昏，洗肝散。</p>
<p>六問曰：小　黃者，何也？答曰：乃心虛也。心主火，火乃土之母，子能令母虛，土實則火虛。故脾土之色應於外，是知心虛而小　黃也。宜服人參茯苓煎、朱砂膏、定志丸。</p>
<p>七問曰：眼白膜眵多者，何也？答曰：乃肺實也。肺屬金，金生水，其色白。熱傷於肺，故白膜生焉。水溢而成眵淚，本肺之精華，故淚出自為眵多，結而黏硬也。宜服瀉肺散、桑白皮湯、洗心散。</p>
<p>八問曰：眵淚多出，稀而不結者，何也？答曰：乃肺虛也。肺金受心火邪氣所克，則金見火而化水，故水流溢出於淚堂，故眵淚多稀而不結。宜服阿膠散、艾煎丸、洗肺散、桑白皮湯。</p>
<p>九問曰：羞明怕日者，何也？答曰：乃脾實也。脾屬土，土化濕。濕傳於肝，肝受脾邪，上騰於目，濕熱相攻，津華澀結不榮於目，故羞明怕日也。宜服密蒙花散、千裡光散。</p>
<p>十問曰：視物不真者，何也？答曰：乃脾虛也。蓋人身之血氣，皆稟受於脾土，上貫於目而為明。脾虛則五臟之精氣皆失所司，不能歸明於目矣，故視物不真也。宜服蒼朮湯、千裡光散。</p>
<p>十一問曰：茫茫黑花如蠅羽者，何也？答曰：乃腎實也。腎乃肝之母，母實則榮於子。肝受腎邪，傳於膽經，膽為神水之源，因熱邪所干，故時復黑花茫茫如蠅羽飛也。宜服苦參散、豬苓湯、艾煎丸、晚蠶砂湯。</p>
<p>十二問曰：迎風洒淚者，何也？答曰：乃腎虛也。腎虛則不能榮於肝，肝乃腎之子，故木弱而畏風飄，故迎風洒淚者，腎之虛也。宜服地黃丸、還睛丸、石燕子丸。</p>
<p>十三問曰：赤筋侵睛者，何也？答曰：心乘肝也。心主血，肝藏血而主筋。血侵於筋，流傳於目，血筋侵睛者，故知乘肝也。宜服大當歸散、三黃丸，此亦子母相刑之化，大黃湯。</p>
<p>十四問曰：白膜遮睛者，何也？答曰：此肺克肝也。肺金色白，風邪在肺中，其金大旺能克木，故白膜遮睛也。宜服連翹散、密蒙花散。</p>
<p>十五問曰：迎風燥癢者，何也？答曰：肝受邪也。風熱之邪侵於肝，肝木招風，故迎風燥動而癢也。宜服荊芥散、青鹽散、苦芥子散。</p>
<p>十六問曰：日中目昏者，何也？答曰：痰火所致也。蓋真陽之氣旺於巳午之時，真陽之氣太旺，則心火騰肝而痰愈壅，故日中目昏也。宜服半夏丸、辰砂丸、桑螵蛸丸。</p>
<p>十七問曰：早晨目昏者，何也？答曰：乃頭風攻注也。頭為六陽之會，清晨陽氣初會於首，又寅卯之時肝木大旺，肝主風木，故云頭風攻注也。宜服芎　散、石膏散、蒺藜散。</p>
<p>十八問曰：夜間目昏者，何也？答曰：乃腦損也。腦者，天真之物行陰道而不行陽道，至申酉戌亥時，寒氣方旺，腦損而被風寒所襲，故目昏也。宜灸風池穴、風府穴。</p>
<p>十九問曰：夜間目痛者，何也？答曰：此陰毒盛也。蓋陰好靜，陽好動，因氣血散漫而行陰道，寒邪克之，使寒邪之氣大盛而妄動，申時痛至寅時，陰之使也。宜服回陽湯、補腎丸、乳香丸。</p>
<p>二十問曰：白日目痛者，何也？答曰：此陽毒盛也。經云：晝則陽生，夜則陰生，少陽膽經旺於寅，衰於申，故陽毒盛於晝，乃上攻於目而白日痛也。宜服乳香散、瀉心湯、洗肝散。</p>
<p>二十一問曰：浮翳遮睛者，何也？答曰：乃肺經熱也。肺者，氣之源。氣妄動即是火氣，盛則火炎於上，熱攻於目，故白翳生焉。宜服瀉肺湯、三黃丸、四順散。</p>
<p>二十二問曰：抱羅突起者，何也？答曰：乃睛之損也。睛者，臟腑之精華，常令清淨則無恙矣。苟或熱攻於內，毒攻於外，則結成膿血而抱羅突起也。</p>
<p>宜服救睛丸、蟬蛻無比散、珍珠散、珊瑚琥珀膏。</p>
<p>二十三問曰：眼睫倒入者，何也？答曰：乃肺損也。肺者，五臟之華蓋，主於皮毛，經云：一損損於肺，皮聚而毛落。故知拳毛倒睫者，肺之損也。宜服救睛丸、菊化丸、阿膠煎。</p>
<p>二十四問曰：青膜遮睛者，何也？答曰：此外障也。五臟蘊毒熱氣攻衝，上侵於目，目屬肝，其色青，故生青膜遮睛也。宜服珊瑚琥珀膏、救睛丸、決明丸、洗肝散。</p>
<p>二十五問曰：背側瞳人者，何也？答曰：此內障也。五行應變，升降為先，氣盛血衰，凝滯不能榮於目，故瞳人不能轉動而背側也。宜服夜光椒紅丸、地黃活血煎、當歸鹿茸丸。</p>
<p>二十六問曰：頭暈目昏者，白星亂起，何也？答曰：此血衰也。血為一身之榮，周流諸脈。血衰則諸脈不旺，六陽不舉，故頭暈目昏，白星亂起。宜服川芎散、當歸活血散。</p>
<p>二十七問曰：眼不痛不癢，赤而昏者，何也？答曰：此氣衰也。血之流行，隨氣升降，二者相濟則一身通泰。若血結則成癰疽，氣凝則成痿痹。是以正氣衰弱則眼目不痛不癢而赤昏也。宜服順肝丸、透經勻氣丸、蟬花散、明目益腎丸、明目地黃丸。</p>
<p>二十八問曰：血侵睛者，何也？答曰：此肝經虛也。目者，肝之候，津液之道路，總脈之所聚也。邪熱客於肝，肝虛則血散，流走兩目，故赤而侵睛也。宜服五苓散、補肝丸、連翹散、地黃丸。</p>
<p>二十九問曰：眼久昏如物遮睛者，何也？答曰：此衛實也。衛行脈外而主於氣，氣實則挾熱上衝而侵於目，故久昏如物遮之狀。宜服木賊散、連翹散。</p>
<p>三十問曰：目昏痛而憎寒者，何也？答曰：此衛虛也。衛主腠理，衛虛則腠理不密寒邪乘虛而入，故痛而憎寒也。宜服香附豬苓散、白朮湯、益黃湯。</p>
<p>三十一問曰：目痛而體熱者，何也？答曰：此榮實也。榮衛乃陰陽之道路，在上屬心與肺，在下屬腎與肝。痛而體熱者，邪在心。心者，少陰君火化而發也。宜服洗心散、解肌湯、菊花餅子。</p>
<p>三十二問曰：乍明乍暗者，何也？答曰：此榮虛也。蓋目得血而能視。榮血既虛，則經絡之周流有滯而不能常榮於目矣，故時復乍明乍暗也。宜服調氣丸、當歸艾煎丸、夜光椒紅丸。</p>
<p>三十三問曰：左眼赤而傳於右眼者，何也？答曰：此陽經太旺也。六經有陽中之陰，陰中之陽。陽中之陰心也，陰中之陽肝也。心經蘊熱，邪傳於肝，肝傳於目，左目屬太陽，右目屬太陰。左目傳於右目者，陽經太旺也。宜服木通散、三黃丸、洗心散、五苓散。</p>
<p>三十四問曰：右眼赤傳於左眼者，何也？答曰：此陰絡太旺也。人有三百六十五絡，有陽絡，有陰絡。陰絡之脈系於右目，右目傳於左目，故知陰絡旺也。</p>
<p>宜服瀉肺湯、橘皮湯、導赤湯、苦參散。</p>
<p>三十五問曰：左右互相赤紅者，何也？答曰：血邪攻衝也。肝臟不足，為風邪所干，風熱相爭，左右來往，有偏盛偏衰，故左右互相赤紅也。宜服蠶蛾丸、芍藥湯。</p>
<p>三十六問曰：目赤而澀痛者，何也？答曰：此風熱沖攻也。肝者，厥陰風木之經。風邪所湊，與熱相搏，氣血痞塞，時發澀癢也。宜服芍藥湯、二霜膏。</p>
<p>三十七問曰：白上微紅絲，四眩瞼紅赤爛者，何也？答曰：此乃風熱干脾胃也。風邪客於腠理，濕氣相爭於兩瞼之間，因而淫濕侵爛也。宜服省風湯。</p>
<p>三十八問曰：眼睛通黃者，何也？答曰：此因酒毒也。盛渴大樂，飲酒如漿，貪嗜過度，隨經絡注流，上下往來，至夜血朝於肝，晨血朝於目，引酒之毒灌注瞳人，使目通黃也。宜服雄黃丸、貫眾散。</p>
<p>三十九問曰：眼不能遠視而能近視者，何也？答曰：此因勞傷臟腑，風邪客之，使精華之氣衰弱，肝經不足，蓋有水而無火也，故不能遠視而能近視也。宜服補肝散、蟬花散，補心定志丸加茯苓主之。</p>
<p>四十問曰：日不能近視而能遠視者，何也？答曰：蓋有火而無水也。故不能近視而能遠視，當補腎。宜服地黃丸。地黃丸服不效，可服定志丸。</p>
<p>四十一問曰：眼疾治已愈，至期而復發者，何也？答曰：乃是隨天地之氣令人疾也。假如冬至，一得甲子太陽膀胱經旺；二得甲子陽明胃經旺；三得甲子少陽膽經旺，此三陽經絡臟也。夏至，一得甲子太陰脾經旺；二得甲子少陰腎經旺；三得甲子厥陰肝經旺，此三陰經絡臟也。各旺六十日，其氣一周復。假如太陽經受病，交冬至節氣六十日內而復發。太陰受病，交夏至節氣六十日內而後發，當隨其時令而治之，隨其經而療之，用藥各有所宜，治則無不愈矣。宜服消風勝血散、連翹丸。</p>
<p>四十二問曰：眼睛細小者，何也？答曰：此乃脾損也。蓋脾主肌肉，肌肉清瘦，飲食不為肌膚，外感風邪，克於腠理，使肌肉緊急，積毒於目也。宜服人參和脾湯、四物豬肝丸、省風湯、補肺散。</p>
<p>四十三問曰：　肉侵睛者，何也？答曰：乃脾經積毒也。脾者，倉稟之官，肌肉之府，毒瓦斯攻衝，肌肉壅塞，邪氣傳於肝，肝受脾邪傳於雙目，故肉侵睛也。宜服青鹽丸、防風丸、三黃丸、蕤仁膏。</p>
<p>四十四問曰：眼積年赤而不愈者，何也？答曰：此風熱傷於肝也。肝應於目，風熱傷之則目赤，肌體虛弱則相火煽動，熱邪不退，故積年赤而不愈宜服省風湯、牡丹丸、當歸活血丸。</p>
<p>四十五問曰：兩眼腫者，何也？答曰：此風毒也。肝主目，肝虛不足，風冷相擊，風邪相攻，上干於目，致令胞瞼結核，數日不散，或時自散，或感風毒而復腫也。宜服洗肝散、瞿麥湯、消風飲子、消毒丸。</p>
<p>四十六問曰：眼珠突出者，何也？答曰：此臟腑陰陽不和也。目者，乃陰陽之精，魂魄之主。因風熱痰氣蘊積於臟腑之中，以致陰陽不和，郁結風熱，攻衝於目，致令眼睛疼痛之甚而珠突出也。宜服救睛散、陰陽五和湯。</p>
<p>四十七問曰：眼前常有黑花者，何也？答曰：乃肝之虛也。目者，肝之外象。血氣不足則肝虛不榮於目，神彩昏暗，故黑花常見也。宜服補肝散、夜光椒紅丸、芎　散、夜光散。</p>
<p>四十八問曰：目中飛紅血者，何也？答曰：此厥陰經血旺也。厥陰脈起於足大KT　趾之端，肝經血氣太旺，風熱相乘入連於目，故眼睛大赤，或來或往，故云飛血也。宜服芍藥湯、退赤散、夜光椒紅丸。</p>
<p>四十九問曰：目澀者，何也？答曰：此內動臟腑也。或當時悲泣淚出不止，使液道開而不閉，液道干枯，臟腑勞動，邪氣觸於肝，沖於目，傳於血氣，睛源不固，故發流澀也。宜服三黃丸、益鹽丸、二霜膏、補真丸。</p>
<p>五十問曰：大病後眼昏者，何也？答曰：此陰陽痞塞，血氣大虛，神光不完，故茫茫昏　也。宜服人參芍藥湯、橘皮煎丸、黃　丸、石燕丸。</p>
<p>五十一問曰：陽毒病後昏者，何也？答曰：此因下之太過，五臟無陰，六腑無陽，久經宣利，臟腑虛弱，脾胃未和，肌肉未實，勞動氣血，故目昏也。宜服蒼朮湯、黃　丸、鱉甲柴胡湯、半夏丸。</p>
<p>五十二問曰：陰毒病後昏者，何也？答曰：此因受熱太過也。因服熱藥，或多炙灼，大病稍退，復出冒風，肝氣不勝，風火相乘，即目昏也。宜服三黃丸、瞿麥散、菊花散，三黃瀉心東加芒硝，五更服。</p>
<p>五十三問曰：過水昏者，何也？答曰：此冷氣攻衝於肝也。兩足脛下，太谿穴下名復溜，復溜之下名涌泉，涌泉穴即足少陰經也，絡於膀胱，水氣冷侵兩足，直從腎上攻於肝而傳於目，以致昏也。宜服蒼朮湯、朮苓湯。</p>
<p>五十四問曰：孕婦眼昏者，何也？答曰：此因血不榮於目也。妊娠血惟養於胞胎，不榮於肝，肝氣虛乏，故目昏也。宜服茯苓補肝散、虛消散、椒紅丸。</p>
<p>五十五問曰：產後眼昏者，何也？答曰：此產後去血過多，營衛皆虛，神光遂乏，故目昏也。宜服菊花散、人參椒紅丸、當歸活血煎、四物湯。</p>
<p>五十六問曰：小兒生下，未及周年，兩目赤爛者，何也？答曰：此胎毒也。小兒未生時，穢濁凝於兩目胞瞼之間，既生之後，浴湯拭之不干潔，留於眼內，又為風邪所乘，故令兩眼赤爛也。宜服黃連散、樺皮南星湯。</p>
<p>五十七問曰：小兒瘡疹入眼內者，何也？答曰：乃小兒未生時在母腹中，飲其穢血，及生下時養母不能以手拭口中之血，血隨兒啼吞入腹中、留於臟腑，遂生瘡疹。又因穢血攻衝，或保護失時，故毒遂攻於目也。宜服蛤粉散。</p>
<p>五十八問曰：小兒眼生翳障者，何也？答曰：眼為五臟精華，肝之外候，外感風熱，內有痰實以壅肝臟，沖發於目，故眼生翳障也。宜服瞿麥散。</p>
<p>五十九問曰：小兒眼生白障者，何也？答曰：乃肺實痰壅也。熱攻於肝，肝屬木，木色青，痰熱攻衝於肝，灌注瞳人，瞳人勞動，故生白膜，散漫於目為白障也。宜服乾薑丸、琥珀散、救睛丸、半夏丸六十問曰：小兒雀目者，何也？答曰：乃肝不和也。此是五臟蘊熱，經絡凝滯，陰陽不和，營衛不通，使目晝明而夜昏，如雀目之　然也。宜用豬肝膏。</p>
<p>六十一問曰：小兒青盲者，何也？答曰：此臟腑虛弱，或因飲食所傷，臟腑不宜，元氣衰微，故目不赤、不痛、無翳、無膜，而昏暗不見物也。宜服羌活散、決明散、犀角象牙丸、人參菊花散。</p>
<p>六十二問曰：小兒眼中生瘡者，何也？答曰：此因初生洗浴之時，拭不干淨，穢惡侵染於目兩瞼之間，一感外熱即發粟米之瘡，連胞瞼赤爛也。宜服白蘚散。</p>
<p>六十三問曰：大人胞瞼生風粟瘡者，何也？答曰：此脾肺二經受風邪熱毒。肺主皮毛，脾主肌肉，二經失職，風熱邪毒即乘虛而入，沖攻於目，故胞瞼之間生此風粟之瘡，宜服鯊皮散、省風湯、石膏散。</p>
<p>六十四問曰：青盲有白膜者，何也？答曰：此熱傷於肝，風木相乘，相火煽動，消爍真陰，內損神光，外生白膜如蠅羽之狀也。宜服犀角象牙丸、決明丸。</p>
<p>六十五問曰：淚目之狀者，何也？答曰：此風邪客於目　，津液乘之，常出冷淚，時發癢，故曰淚目之狀也。宜服艾煎丸。</p>
<p>六十六問曰：眼睛漏膿者，何也？答曰：臟腑太虛，風熱之毒上攻於目，以致瞳人內損，故成漏膿。宜服救睛丸、琥珀散、通神丸。</p>
<p>六十七問曰：眼偏視者，何也？答曰：此臟腑偏衰，血脈不通，陰陽錯亂，目官失職，故一目上不見，一目下不見，名曰偏視，宜服換經腸、救睛湯、五肝丸、犀角象牙丸、連翹散。</p>
<p>六十八問曰：目眇者，何也？答曰：此經絡偏絕，氣血衰乏，或風邪停留，傷於內外，使大小　血氣不均，故目眇也。宜服均氣散、省風湯、朱砂散。</p>
<p>六十九問曰：雙目忽然白睛腫者，何也？答曰：此肺氣壅滯，熱毒上攻，令白睛忽腫。若無疼痛宜服桑白皮湯、瀉肺湯、羊肝丸，痛者宜用瀉心瀉肝之劑。</p>
<p>七十問曰：挑針眼者，何也？答曰：此脾經受熱毒傳於肝，肝受脾毒也，令胞瞼上生癤名曰挑針，宜服消毒飲子、洗心散、當歸丸。</p>
<p>七十一問曰：眼撞打生翳障者，何也？答曰：目者，神水之宗，不受物觸，忽被物觸撞，令眼生翳障，過百日不治，宜服鎮肝散、蒺藜散、順光散。</p>
<p>七十二問曰：風牽入瞼者，何也？答曰：此臟腑不和，陰陽不分，經絡凝滯，氣血不通，為風乘虛而入，令目轉去也，故曰：風牽入瞼。宜服鎮肝丸、和氣丸、人參菊花散。</p>
<p>七十三問曰；瞳人散者，何也？答曰：此膽經損也。膽者，目之經，神水之源，膽碎則瞳人散也。宜服救睛琥珀膏。</p>
<h3>眼有七十三證，內有十四證不治</h3>
<p>眼睛突出不治　眼睛陷下不治瞳人干枯不治　丁翳根深不治轆轤轉睛不治　烏風內障不治沉翳內障不治　黑翳如珠不治蟹眼睛疼不治　劇驚內障不治旋螺突起不治　風輪內障不治瞳人生白翳不治　高風雀目無血不治綠風眼瞳人碧綠是烏風眼滯澀瞳人開大是內障眼瞳人不動全無明是</p>
<h2>卷二</h2>
<h3>眼科七十二證受疾之因</h3>
<h4>圓翳內障</h4>
<p><a href="_files/p05-c17a4.bmp">圓翳內障圖</a></p>
<p>鷓鴣天圓翳烏珠一點圓，日中羞小暗中玄。始生輪廓無知覺，竟被為殃把目纏。補肝散，補腎丸，若投冷藥病尤煎。此是肝腎虛而得，醫士精求莫罔然。</p>
<p>此是肝腎風虛，點去翳思用冷藥。宜服五子丸、拂手散、錦鳩丸、岩電丸。</p>
<h4>冰翳內障</h4>
<p><a href="_files/p05-c17a5.bmp">冰翳內障圖</a></p>
<p>鷓鴣天冰翳如冰凍實堅，陰觀陽看淚潸然。無時白膜侵睛內，疼而難忍苦憂煎。通肝散，服心處，此名膽氣苦肝纏。良醫用藥無差懼，眸子光明勝似前。</p>
<p>此是肝腎久虛，熱風久痛，其病宜以調理肝腎，此是熱淚凝結生翳也。宜服岩電丸、三花五子丸、撥雲散。</p>
<h4>滑翳內障</h4>
<p><a href="_files/p05-c17a6.bmp">滑翳內障圖</a></p>
<p>西江月滑翳何尚安足，微含黃色無家。水銀白色透瞳遮，拴系心猿意馬。肝肺風熱相弄，不疼不痛為佳。還睛散服是生涯，調寄西江月下。</p>
<p>此是肝腎風虛，內有熱不散，五般風熱毒日久，不治永沉黑暗也。宜服拂手散、三花五子丸、岩電丸。</p>
<h4>澀翳內障</h4>
<p><a href="_files/p05-c17a7.bmp">澀翳內障圖</a></p>
<p>西江月澀翳微微色赤，或開或聚如花。試看瞳子似煙霞，無淚時疼痛也。肝肺熱風相侮，還睛散服為佳。煩憑妙藥點無瘥，右調西江月下。</p>
<p>此是腎風熱，四時陰陽失調理，色欲勞苦，故有此也。宜服三花五子丸、撥雲散、勝金散、聚寶散。</p>
<h4>橫翳內障</h4>
<p><a href="_files/p05-c17a8.bmp">橫翳內障圖</a></p>
<p>鷓鴣天橫翳內障甚蹺蹊，上橫劍脊下微微。濃處濃兮薄處薄，不疼不癢是根基。如斯狀，病者稀，人沾此證實難醫。若逢妙手金針撥，退了依然日上遲。</p>
<p>此是腎臟虛熱也。斯疾多難治也。宜服三花五子丸、聚寶散、岩電丸、拂手散。</p>
<h4>浮翳內障</h4>
<p><a href="_files/p05-c17a9.bmp">浮翳內障圖</a></p>
<p>鷓鴣天浮翳內障色如銀，白光如水透瞳仁。此病初生來小　，三焦不順病之因。不癢痛，不精神，目無光力翳來頻。等閑莫要空嗟嘆，醫士求之免受辛。</p>
<p>此是腦熱脂凝也，即聚散翳也。宜服鎮心丸、連翹散、退血散。</p>
<h4>偃月內障</h4>
<p><a href="_files/p05-c17a10.bmp">偃月內障圖</a></p>
<p>鷓鴣天翳如偃月似凝脂，肝經病證本來稀。缺處薄兮重處白，瑕疵無定不須醫。投針藥，豈能施，未知何日是安期。記此叮嚀難強力，任逢盧扁總成非。</p>
<p>此是腎敗邪毒熱也，此疾難治也。宜服三花五子丸、夢靈丸、拂手散。</p>
<h4>散翳內障</h4>
<p><a href="_files/p05-c17a11.bmp">散翳內障圖</a></p>
<p>西江月散翳形如魚點，只因粟米生延。瞼紅赤爛是根源，熱淚時常流瞼。日夜珠疼痛楚，皆因肝肺為冤。還睛散服是神仙，管取觀高望遠。</p>
<p>此是腎臟熱毒也，肺家熱生翳也。宜服岩電丸、宣肺散。</p>
<h4>沉翳內障</h4>
<p><a href="_files/p05-c17a12.bmp">沉翳內障圖</a></p>
<p>鷓鴣天沉翳名為內障邪，白藏黑水若無瑕。目中細看如白銀，兩瞼難開淚若麻。空費力，莫生嗟，早輕晚重療難嘉。求神拜佛空燒紙，醫士徒勞莫療他。</p>
<p>此是腎虛，肝膽壅熱生翳也。宜服鎮肝丸、三花五子丸、退翳散、夢靈丸，宜點黃連膏。</p>
<h4>棗花內障</h4>
<p><a href="_files/p05-c17a13.bmp">棗花內障圖</a></p>
<p>鷓鴣天肝臟停留熱賊風，痛如針刺病來攻。周遭微細如魚子，視物如煙泛不同。棗花翳，甚昏蒙，早輕晚重痛難容。專心藥服還睛散，醫士馳名實有功。</p>
<p>其翳周遭，如鋸齒之狀，此是心熱，腎風熱，肝膽熱也。宜服三花五子丸、岩電丸、聚寶散、拂手散、退翳散。</p>
<h4>白翳黃心</h4>
<p><a href="_files/p05-c17a14.bmp">白翳黃心圖</a></p>
<p>鷓鴣天翳如梅片白如銀，一點微黃在翳心。大小　頭微赤色，或時澀痛淚淋淋。肝肺毒，熱風侵，覆盡烏珠不見輪。若服數帖還睛散，管取安然病不臨。</p>
<p>此是肝腎熱毒也。宜服三花五子丸、岩電散、拂手散、聚寶散、退翳散。</p>
<h4>黑花內障</h4>
<p><a href="_files/p05-c17a15.bmp">黑花內障圖</a></p>
<p>鷓鴣天黑花翳狀眼多青，此病根源在腎經。飲食不貪常口苦，此名膽氣熱風停。如斯證，不為輕，等閑服藥未為寧。涼膽丸服要補腎，許見三光日月星。</p>
<p>此是肝熱腎虛也。宜服三花五子丸、逐血散、二地散、活血散。</p>
<h4>小兒胎患內障</h4>
<p><a href="_files/p05-c17a16.bmp">小兒胎患內障圖</a></p>
<p>鷓鴣天小兒內障甚難醫，始生燈下見光稀。行步不分南共北，瞳仁潔白怎扶持。胎受熱，是根基，延年真個性情　。縱命醫者空施藥，將養為佳實可悲。</p>
<p>此是肝熱也，此疾難醫也。宜服羚羊角散、還睛丸、夢靈丸、穀精丸。</p>
<h4>五風變內障</h4>
<p><a href="_files/p05-c17a17.bmp">五風變內障圖</a></p>
<p>鷓鴣天五風內障病何孤，青烏綠白黑糊塗。變成內障來遮目，物物難分眼赤舒。瞳仁大，淚有無，頭痛腦痛疾難除。鎮心止痛靈丹藥，要見三光這世無。</p>
<p>此是色欲過度，腎虛敗，血氣皆虛也。宜服三花五子丸、拂手散、鎮肝散、岩電丸。</p>
<h4>雷頭風內障</h4>
<p><a href="_files/p05-c17a18.bmp">雷頭風內障圖</a></p>
<p>鷓鴣天忽然被打觸成冤，變成內障淚漣漣。赤腫侵睛為病久，三光不見苦憂煎。雷頭證，豈安然，住疼止痛莫依先。若要見光何日得，再逢元化也哀憐。</p>
<p>此是上熱下虛，故生此疾也，難療。宜服三花五子丸、勝金丸、石蟹散、鎮肝丸、還睛散。</p>
<h4>驚振內障</h4>
<p><a href="_files/p05-c17a19.bmp">驚振內障圖</a></p>
<p>鷓鴣天驚振內障閃珠移，熱毒沖入眼中居。牽引瞳仁為反背，致令暗昧不知時。心無靜，肝膽虛，名為驚振步須遲。等閑不服靈丹藥，針灸令人無所施。</p>
<p>此是腎風熱毒上攻，又且血氣凝滯，有傷瞳仁也，此證難治。宜服三花五子丸、活血散、還睛丸。</p>
<h4>綠風內障</h4>
<p><a href="_files/p05-c17a20.bmp">綠風內障圖</a></p>
<p>鷓鴣天綠風初患有頭旋，兩額相牽痛不痊。鼻梁隔乃時時痛，紅白花生在眼前。肝左熱，肺右邊，或時兩眼淚漣漣。決明散與羚羊散，服了光明玄又玄。</p>
<p>此是肝虛勞頭痛也。宜服三花五子丸、川芎散、鎮肝散、勝金散。</p>
<h4>烏風內障</h4>
<p><a href="_files/p05-c17a21.bmp">烏風內障圖</a></p>
<p>西江月烏風障生已定，全無翳障生花。或時癢痛似云遮。漸漸昏暗無假。此候肝經氣盛，須知實熱侵加。瀉肝散服是生涯，通了分明後雅。</p>
<p>此是肝熱或痛久而不治，時見飛花。宜服夢靈丸、三花五子丸、鎮肝散。</p>
<h4>黑風內障</h4>
<p><a href="_files/p05-c17a22.bmp">黑風內障圖</a></p>
<p>西江月黑風病起何因，腎胃風熱相侵。綠風形證別無分，時有黑風相趁。若要分明刮決，羚羊角散為憑。還睛散服妙通靈，醫士馳名已定。</p>
<p>此是腎虛生內障也。宜服三花五子丸、二地散、拂手散。</p>
<h4>青風內障</h4>
<p><a href="_files/p05-c17a23.bmp">青風內障圖</a></p>
<p>西江月青風眼候如何，不疼不痛由他。瞳子安然如不患，卻有頭旋害我。漸有花生上下，後勞昏暗增加。還睛散服不為佳，羚羊角散兼和。</p>
<p>此是腎虛勞也，此疾難治也。宜服還睛散、鎮肝散、二地散。</p>
<h4>肝虛雀目</h4>
<p><a href="_files/p05-c17a24.bmp">肝虛雀目圖</a></p>
<p>鷓鴣天雀目生來甚惱情，小兒患此曰疳名。肝臟虛勞為此病，點燈時分沒光明。花亂起，或頭痛，年深不料害雙盲。初患之時須服藥、倦醫不療暗雙盲。</p>
<p>此是肝虛勞也，久則難治也。宜服三花五子丸、鎮肝散、還睛散、人參散。</p>
<h4>高風雀目</h4>
<p><a href="_files/p05-c17a25.bmp">高風雀目圖</a></p>
<p>鷓鴣天高風雀目證同前，形狀其間有異偏。才到黃昏昏不見，經年瞳子似珠圓。高風候，古今傳，莫貪口味色心牽。靈丹妙藥能醫治，便是人間快活仙。</p>
<p>此是肝虛勞也，此疾難治。宜服三花五子丸、鎮肝散、還睛散、夢靈散。</p>
<h4>肝虛雀目暗</h4>
<p><a href="_files/p05-c17a26.bmp">肝虛雀目暗圖</a></p>
<p>鷓鴣天肝虛要識病來因，遠視近視不光明。眼前不見如煙霧，一物看來二物形。肝虛熱，定心情，補肝散服若神靈。調持保護須知己，莫使勞神眼又盲。</p>
<p>此是肝氣虛勞，難治也。宜服三花五子丸、鎮肝散、磨鏡丸、還睛散、二地散。</p>
<h4>肝臟積熱</h4>
<p><a href="_files/p05-c17a27.bmp">肝臟積熱圖</a></p>
<p>鷓鴣天肝臟積熱疾生多，睛疼怕日淚成河。翳膜漸生加澀痛，皆因勞力用心過。患雙眸，不能瘥，熱風邪氣奈如何。決明散服方才好，莫若涼肝把氣和。</p>
<p>此是腎氣虛敗，故生此疾而肝熱。宜服密蒙花散、還睛丸、金釵丸、磨鏡丸。</p>
<h4>傷寒熱病</h4>
<p><a href="_files/p05-c17a28.bmp">傷寒熱病圖</a></p>
<p>鷓鴣天傷寒安後患雙眸，赤腫生翳病多由。嗜食五辛多受毒，上攻雙目淚如流。開澀痛，閉不休，決明散服不須憂。頻頻膏用黃連點，醫士參詳療必瘳。宜服聚寶散、拂手散、鎮肝散、岩電丸、夢靈散。</p>
<h4>混睛內障</h4>
<p><a href="_files/p05-c17a29.bmp">混睛內障圖</a></p>
<p>鷓鴣天混睛內障證如何，有淚迎風冷淚多。白睛腫赤難開視，或時好了又來磨。治毒熱，莫差訛，漸生膜障為蹉跎。病者早服地黃散，兩目光明見日羅。</p>
<p>此是傷濕內熱也。宜服活血散、聚寶散、密蒙花散、鎮肝散。</p>
<h4>肉侵睛</h4>
<p><a href="_files/p05-c17a30.bmp">　肉侵睛圖</a></p>
<p>鷓鴣天肉侵睛憂慮多，　頭赤爛為揩磨。如云赤障橫遮過，勞神太過為蹉跎。傷肝氣，熱風磨，更加癢痛疾難瘥。定心丸子須為美，手法治之妙不過。</p>
<p>此是脾風熱也。宜服拂手散、清肝散、岩電丸，南硼砂點。</p>
<h4>兩瞼黏睛</h4>
<p><a href="_files/p05-c17a31.bmp">兩瞼黏睛圖</a></p>
<p>鷓鴣天兩瞼黏睛赤爛眩，等閑不治已經年。翳膜遮珠因血熱，憎風流淚古今傳。消風散，沉痊，除風去血得安然。黃連為末煎湯洗，免得終朝眼疾纏。</p>
<p>此是脾風內熱，故有此疾也。宜服涼肝散、四物湯、岩電丸、槐花散，宜手法治之愈也。</p>
<h4>膜入水輪</h4>
<p><a href="_files/p05-c17a32.bmp">膜入水輪圖</a></p>
<p>鷓鴣天膜入水輪甚不宜，瞳仁昏暗實堪悲。障膜兩眸如火熱，皆因色欲過多為。如斯證，急求醫，滋陰降火散為奇。還睛鎮肝散宜服，莫待青盲悔是遲。</p>
<p>此是邪毒熱侵腎經也。宜服三花五子丸、鎮肝散、二地散、夢靈散。</p>
<h4>丁翳根深</h4>
<p><a href="_files/p05-c17a33.bmp">丁翳根深圖</a></p>
<p>西江月丁翳根深病老，肝心滯熱不好。致令疼痛淚雙垂，突出如釘釘腦。晝夜不分黑白，似漆如煙難掃。仙方妙藥任施為，再要復原難討。</p>
<p>此是久蘊熱毒在心經也，不可治。宜服蒺藜散、聚寶散、木賊散。</p>
<h4>黑翳如珠</h4>
<p><a href="_files/p05-c17a34.bmp">黑翳如珠圖</a></p>
<p>西江月黑翳羞明惟目，受病疼痛哭泣。腎虛受熱致生來，形黑又如豆粒。此疾無淚流兮，點藥不須用力。補腎丸子要相投，羚羊角散無失。</p>
<p>此是腎經虛勞受熱也。宜服三花五子丸、鎮肝散、二地散、人參散。</p>
<h4>花翳白陷</h4>
<p><a href="_files/p05-c17a35.bmp">花翳白陷圖</a></p>
<p>西江月花翳旋繞瞳仁，點點如花如鱗。砌成白陷不須嗔，肝臟積熱已定。酒後行房共枕，嗜食煎炙茹葷。先將藥餌涼肝經，羚羊角散保命。</p>
<p>此是肝經熱毒也。宜服聚寶散、撥電散、岩電散、拂手散、密蒙花散。</p>
<h4>冰翳瑕深</h4>
<p><a href="_files/p05-c17a36.bmp">冰翳瑕深圖</a></p>
<p>鷓鴣天瑕深冰翳日昏光，青色沉沉證不常。瞳子時時疼痛甚，日當午後稍安康。五臟熱，受其殃，清涼散最為良。點洗莫離真口訣，管教醫士姓名揚。</p>
<p>此是腎氣虛敗也。宜服三花五子丸、人參散、岩電散、鎮肝散。</p>
<h4>玉翳浮睛</h4>
<p><a href="_files/p05-c17a37.bmp">玉翳浮睛圖</a></p>
<p>鷓鴣天玉翳堆起白如霜，浮痛根源不可當。不疼不痛難療治，不紅不腫少斯殃。淚頻出，怕窺光，還睛散服漸安康。好將藥餌頻頻服，此病寬心得久長。</p>
<p>此是肝經受熱也。宜服聚寶散、拂手散、除翳散。</p>
<h4>偶因他患後生翳</h4>
<p><a href="_files/p05-c17a38.bmp">偶因他患後生翳圖</a></p>
<p>西江月偶因他患不覺，倏爾沖於輪廓。朦朧漸漸翳來侵，只見瞳仁白膜。豈能觀看分明，且把閑愁捺落。鎮肝丸散見功勞，難把金針除卻。</p>
<p>此是肝經氣虛也。宜服撥雲散、拂手散、聚寶散、岩電丸。</p>
<h4>逆順生翳</h4>
<p><a href="_files/p05-c17a39.bmp">逆順生翳圖</a></p>
<p>西江月逆順生翳為名，澀疼令人淚傾。上而生下裹瞳仁，此證名傳逆證。自下生上為順，兩翳交加已定。羚羊角散見分明，點洗依方必應。</p>
<p>此是臟腑虛熱也，此疾久則難治也。宜服三花五子丸、羚羊角散、羌活散、拂手散。</p>
<h4>雞冠蜆肉</h4>
<p><a href="_files/p05-c17a40.bmp">雞冠蜆肉圖</a></p>
<p>鷓鴣天胞肉生如蜆肉形，雞冠紅色甚分明。或青或黑須番看，痛苦難禁兩淚傾。甚怕日，又羞明，原因客熱在脾經。寬心多服石明散，活血調和致太平。宜服岩電丸、活血散、密蒙花散、羚羊角散。</p>
<h4>瞼生風粟</h4>
<p><a href="_files/p05-c17a41.bmp">瞼生風粟圖</a></p>
<p>鷓鴣天粟米瘡生兩瞼中，醫來盡是爛眩風。或多或少全無數，大而兼細不相同。脾積熱，賊風攻，或針或烙去瘡風。驅風散與消風散，醫士參詳定有功。</p>
<p>此是脾經受賊風，邪熱也。宜服防己散、活血散、聚寶散、拂手散。</p>
<h4>胞肉凝脂</h4>
<p><a href="_files/p05-c17a42.bmp">胞肉凝脂圖</a></p>
<p>鷓鴣天胞肉凝脂不易平，皆因心熱苦相刑。致令胞腫如桃李，疼痛時時熱淚傾。清心火，得安寧，消風散血漸光明。更宜手法加針烙，莫使邪風劫眼睛。</p>
<p>此是脾經受風熱也。宜服三花五子丸、聚寶散、羌活散。</p>
<h4>漏睛膿出</h4>
<p><a href="_files/p05-c17a43.bmp">漏睛膿出圖</a></p>
<p>鷓鴣天漏睛膿出苦離宮，心火炎炎熱毒攻。氣滯停留於　畔，結成膿血出無窮。經日久，甚為凶，眼珠倏爾落胸中。白薇丸及洗心散，服了教君熱毒通。</p>
<p>此是心經脾經熱毒相攻也。宜服三花五子丸、鎮肝散、羌活散。</p>
<h4>蟹眼睛疼</h4>
<p><a href="_files/p05-c17a44.bmp">蟹眼睛疼圖</a></p>
<p>鷓鴣天水輪如豆復烏珠，蟹睛蝦眼兩無殊。肝腎虛疼因客熱，至能損目要知乎。淚不止，證難除，補肝補腎兩相扶。醫人活法在眼法，藥不執方眼不辜。</p>
<p>此是肝虛熱痛也，此疾難治也。宜服桂枝湯、防風散、勝金散。</p>
<h4>突起睛高</h4>
<p><a href="_files/p05-c17a45.bmp">突起睛高圖</a></p>
<p>鷓鴣天五臟停留風毒纏，致令突起眼珠懸。膽虛故有如斯證，淚流腫痛夜無眠。息嗔怒，莫憂煎，洗肝散服似神仙。砂糖一塊酸車草，入藥調和眼亦痊。</p>
<p>此是肝腎邪熱也，宜太陽貼藥。宜服消風散、逐血散、勝金散。</p>
<h4>風牽斜</h4>
<p><a href="_files/p05-c17a46.bmp">風牽　斜圖</a></p>
<p>鷓鴣天淚出頻頻眼角偏，或時斜跳是風牽。致令昏暗全無翳，不知不覺病來纏。如斯證，要醫痊，全憑藥餌得安然。消風散服多靈驗，莫使　斜誤少年。</p>
<p>此是脾經受邪熱也，此疾久則難治。宜服夏枯草丸、三花五子丸、鎮肝散、拂手散。</p>
<h4>倒睫拳毛</h4>
<p><a href="_files/p05-c17a47.bmp">倒睫拳毛圖</a></p>
<p>鷓鴣天倒睫拳毛碎眼皮，通肝散服可為奇。防風散劑常宜服，翳膜除之又不離。補肝散，決狐疑，更將手法請君知。剪夾洗塗須云好，何如艾便洗相宜。</p>
<p>此是脾臟受熱也。宜服防風散，黃連膏點，用童便煎蘄艾，露過一夜，臥時洗眼，其拳毛自伸。</p>
<h4>風牽瞼出</h4>
<p><a href="_files/p05-c17a48.bmp">風牽瞼出圖</a></p>
<p>鷓鴣天風牽瞼出要參詳，太陰脾毒被風傷。來纏雙目無時住，卻留瞼內作斯殃。紅赤色，少安康，但將五退散為良。若有紅淡黑煤色，豈能除患莫思量。</p>
<p>此是脾經肝經虛勞也，此是風邪。（干經絡難治。）宜服三花五子丸、還睛散、聚寶散，宜灸風池穴太陽角。</p>
<h4>神祟疼痛</h4>
<p><a href="_files/p05-c17a49.bmp">神祟疼痛圖</a></p>
<p>鷓鴣天居常無疾得安然，忽爾如油似火煎。太陽掣痛如針刺，早輕晚重淚漣漣。神鬼禍，甚難言，信之則有也能痊。何如一服洗肝散，頃刻除邪祛病根。</p>
<p>此是神祟為禍，頭痛目赤，是心肝有邪熱。宜服還睛散、防己散、洗心散、瀉肝散。</p>
<h4>旋螺突起</h4>
<p><a href="_files/p05-c17a50.bmp">旋螺突起圖</a></p>
<p>鷓鴣天人生在世目為先，最貴全憑水火全。率爾睛疼多淚出，腎虛肝熱賊風纏。紅赤障，旋螺弦，白睛突起毒之愆。洗心散及瀉肝散，管取依然夜得眠。</p>
<p>此是肝經熱也，腎經虛熱也。宜服活血散、洗心散、洗肝散。</p>
<p>此疾久則眼出膿血，（人面黑色如鐵者不可治，宜用藥貼太陽。）</p>
<h4>鶻眼凝脂</h4>
<p><a href="_files/p05-c17a51.bmp">鶻眼凝脂圖</a></p>
<p>鷓鴣天鶻眼凝脂是病胎，臟中有熱故安排。舉目視瞻輪廓硬，抬頭澀淚藥難諧。空嘆息，莫傷懷，好將臟熱細分開。若教信卻金針刺，未福先殃再受災。</p>
<p>此是肝臟受熱也，此疾不可治也。宜服還睛散、鎮肝散、勝金散。</p>
<h4>轆轤轉睛</h4>
<p><a href="_files/p05-c17a52.bmp">轆轤轉睛圖</a></p>
<p>鷓鴣天轆轤轉睛是肝風，熱積生成此疾凶。雙目轉動無安靜，臟神邪氣患雙瞳。轆轤轉，邪氣攻，世醫有藥妙難通。了得個中端的意，除非盧扁再相逢。</p>
<p>此是肝經風毒也，此病多難治也。宜服還睛散、聚寶散、岩電丸。</p>
<h4>撞打破傷</h4>
<p><a href="_files/p05-c17a53.bmp">撞打破傷圖</a></p>
<p>西江月撞打破刷刺差，疼痛甚則風加。朦朧看物事如麻，驚震瞳仁休耍。敗血赤腫不散，地黃薑汁為佳。太陽貼藥痛方瘥，四物湯服無價。</p>
<p>此是撞打賊風，故血腫也，瞳仁碎作兩邊，不可治，但能以藥散血止痛。宜服四物湯、活血散、逐血散。</p>
<h4>撞刺生翳</h4>
<p><a href="_files/p05-c17a54.bmp">撞刺生翳圖</a></p>
<p>鷓鴣天人世雙眸要保全，忽然撞刺不由言。腫痛霎時生翳障，更添風熱淚漣漣。須早治，莫遲延，生黃桃柳貼眼眩。用藥不離真口訣，醫家有效妙通仙。</p>
<p>此是客風入眼生熱翳也。宜服逐血散、活血散，宜貼太陽穴。</p>
<h4>血灌瞳仁</h4>
<p><a href="_files/p05-c17a55.bmp">血灌瞳仁圖</a></p>
<p>鷓鴣天瞳仁被血灌其中，皆為勞神氣血攻。全無翳膜難分別，痛如針刺血難通。肝氣閉，病來凶，紫則皮使酒煎濃。木通丸藥須吞服，四靈活血妙無窮。</p>
<p>此是肝經病也，虛熱又腎虛熱也。宜服鐵柱散、逐血散、活血散，太陽宜貼藥。</p>
<h4>目飛塵</h4>
<p><a href="_files/p05-c17a56.bmp">　目飛塵圖</a></p>
<p>鷓鴣天目飛塵證要明，風拂飛塵入眼睛。黏定雙睛生赤腫，致令瞳子不非輕。痛而淚，莫遲停，鵝涎調末藥名罌。更將京墨拖筋膜，莫把尋常眼類評。</p>
<p>此病忌客風入目也。若是麥芒入眼，煮大麥汁洗之，新鵝涎點之亦愈，若無物　目，乃肌肉消瘦不能為肥膚，外感風邪，乃脾之毒也。宜服活血散、連翹散。</p>
<h4>天行赤眼</h4>
<p><a href="_files/p05-c17a57.bmp">天行赤眼圖</a></p>
<p>鷓鴣天天行赤眼是瘟邪，澀痛瞳仁肝熱加。風毒又沖生翳障，洗肝散服便光華。紅赤淡，涼為佳，洗心去血乃為瘥。太陽刺血何為巧，點藥先時也有差。</p>
<p>此乃是肝經受邪客熱也。宜服消毒散、涼肝散、活血散。</p>
<h4>暴赤生風</h4>
<p><a href="_files/p05-c17a58.bmp">暴赤生風圖</a></p>
<p>鷓鴣天心肝邪熱不相通，血氣相爭痛不容。暴赤生風生翳膜，令人瞻視淚無窮。巡五臟，洗肝風，心經君火莫興隆。等閑莫把手頻拭，免有拳毛膽氣逢。</p>
<p>此是肝經受風熱也。宜服防風散、洗心散、消毒散。</p>
<h4>胎風赤爛</h4>
<p><a href="_files/p05-c17a59.bmp">胎風赤爛圖</a></p>
<p>鷓鴣天小兒出世只由他，沐浴不潔愛之差。養至一周三五歲，雙眸赤爛忌風邪。多癢痛，度年華，消風去血妙堪夸。碧霞散洗還睛服，風爛應教漸漸瘥。</p>
<p>此是胎毒生白障，淚流眼弦赤腫爛。宜服岩電散、活血散，黃連膏點。</p>
<h4>風赤瘡痍</h4>
<p><a href="_files/p05-c17a60.bmp">風赤瘡痍圖</a></p>
<p>西江月兩瞼赤似赤霞，瘡痍熱是風邪。久而不治翳來遮。無計可治疾罷。好把碧霞散洗，醫人妙手堪夸。黃連膏點得其瘥，眸子依舊無瑕。</p>
<p>此是脾經有熱，受風邪也。宜服驅風散、消毒散，宜手法針烙治之也。</p>
<h4>痛如針刺</h4>
<p><a href="_files/p05-c17a61.bmp">痛如針刺圖</a></p>
<p>鷓鴣天痛如針刺不非輕，只因積熱在心經。澀滯難開並不睡，腫如桃李淚　。洗肝散，若神靈，漸漸災消得太平。太陽穴畔須針刺，去血教君眼復明。</p>
<p>此是肝經熱毒風邪也。宜服洗心散、洗肝散、消毒散、活血散。</p>
<h4>癢極難忍</h4>
<p><a href="_files/p05-c17a62.bmp">癢極難忍圖</a></p>
<p>鷓鴣天輪廓因風邪氣攻，致令雙手拭睛瞳。　頭瞼畔睛珠癢，此證分明為賊風。驅風散，妙無窮，好將井水蜜調同。飲罷心肝情意朗，風邪熱毒去無蹤。</p>
<p>此是心脾風邪熱也。宜服還睛散、消毒散、秦皮散、驅風散。</p>
<h4>坐起生花</h4>
<p><a href="_files/p05-c17a63.bmp">坐起生花圖</a></p>
<p>鷓鴣天坐起生花似碎星，頭旋目暗耳虛鳴。要知此證因何得，腎臟誰知客熱停。戒房色，質言呈，息心定意免災生。補肝補腎還睛散，出入教君眼復明。</p>
<p>此是心虛如水洗過一時無糞不久。宜服三花五子丸、鎮肝散、還睛散、岩電散。</p>
<h4>瞳仁干缺</h4>
<p><a href="_files/p05-c17a64.bmp">瞳仁干缺圖</a></p>
<p>鷓鴣天瞳仁干缺甚為疼，風熱須知在腎經。此症水輪無淚液，三光難辨眼多盲。息色欲，使心清，藥將補腎補肝平。病者服藥須宜早，莫待朦朧眼不明。</p>
<p>此是腎風內熱也。宜服三花五子丸、鎮肝散、還睛散、岩電丸、益腎丸。</p>
<h4>黃膜上衝</h4>
<p><a href="_files/p05-c17a65.bmp">黃膜上衝圖</a></p>
<p>鷓鴣天黃膜下生攻上輪，猶如脂膜覆瞳仁。疼而又淚難禁忍，脾胃多停熱毒侵。慎口味，莫生嗔，好將犀角服殷勤。不痊更服六神散，兩目光明去膜云。</p>
<p>此是脾胃有毒熱也。宜服聚寶散、防風散、拂手散。</p>
<h4>赤膜下垂</h4>
<p><a href="_files/p05-c17a66.bmp">赤膜下垂圖</a></p>
<p>鷓鴣天赤膜上生人怎知，初時得疾甚蹺蹊。澀痛流淚多紅障，怕日羞明膜下垂。難禁忍，熱風欺，心經脾熱瀉為奇。通肝散藥須頻服，發際上星穴可知。</p>
<p>此是脾經內蘊熱也。宜服岩電丸、洗肝散、通肝散。</p>
<h4>小赤脈</h4>
<p><a href="_files/p05-c17a67.bmp">小　赤脈圖</a></p>
<p>西江月小　赤脈中生，交加漸漸遮睛。久停風熱在心經，昏暗卻來爭競。病者洗心滌慮，三焦血滯不行。故生風氣惱人情，犀角飲能治症。</p>
<p>此是心經有熱也。宜服活血散、洗心散、消毒散、瀉肝散。</p>
<h4>小兒雙目通睛</h4>
<p><a href="_files/p05-c17a68.bmp">小兒雙目通睛圖</a></p>
<p>西江月小兒肝受驚風，雙目故此睛通，欲觀西處又觀東，無時徘徊視弄。此疾心受邪熱，牛黃膏子可用。必須退熱顯醫功，眸子依然不動。</p>
<p>此是心經有邪熱也。宜服涼肝散、逐血散、聚寶散、岩電散。</p>
<h4>小兒胞肉生瘡</h4>
<p><a href="_files/p05-c17a69.bmp">小兒胞肉生瘡圖</a></p>
<p>西江月兒童胞肉生瘡，臟腑風熱為殃。痘瘡毒瓦斯眼朦朧，淚出如流膜障。瞳仁只要不損，菟絲子丸能昌。龍蛤草散妙無量，敗毒柴胡先用。</p>
<p>此是肝經風虛熱也。宜服活血散、防己散、岩電散、聚寶散。</p>
<h4>小兒睛中生贅</h4>
<p><a href="_files/p05-c17a70.bmp">小兒睛中生贅圖</a></p>
<p>西江月贅粒初如麻子，日久常似豆懸。常將手拭度流年，痛而淚出脹瞼。有此脾經風熱，肝臟毒積攻眼。莫教把眼等閑看，變成石榴大患。</p>
<p>此是肝經風邪熱毒也。此疾難治，死者有之，初起宜急服藥可也。宜服聚寶散、夏枯草散、穀精草散</p>
<h4>小兒疳眼</h4>
<p><a href="_files/p05-c17a71.bmp">小兒疳眼圖</a></p>
<p>西江月澀癢初生瘡翳，久而疼痛難開。致令兒子哭悲哀，頭熱肝風目　。怕日憎光淚落，皆因瀉利生來。小兒疳眼又難諧，還睛散能除害。</p>
<p>此是肝虛勞也。宜服聚寶散、還睛散、活血散、黃連散、蘆薈散。</p>
<h4>小兒青盲</h4>
<p><a href="_files/p05-c17a72.bmp">小兒青盲圖</a></p>
<p>西江月提起自傷悲嘆，那懷孕時堪贊。五辛口味不能停，產後令兒難盼。或時嘔吐黃酸，兩目瞳仁盲貫。致令肝熱受其殃，作定青盲難散。</p>
<p>此是肝經風熱也，或因病後亦變此青盲，反背瞳仁也。此證多嗜五辛，（難治。）宜服三花五子丸、鎮肝散。</p>
<h4>暴赤生熱</h4>
<p><a href="_files/p05-c17a73.bmp">暴赤生熱圖</a></p>
<p>鷓鴣天暴風客熱疾須知，此候生時淚若悲。兩　赤脈頻頻癢，疼痛如針實慘　。肺風熱，肝經疲，醫人變動任施為。洗心涼肝方莫錯，硼砂樟腦用相宜。</p>
<p>此是心經有客熱也。宜服洗心散、洗肝散。</p>
<h4>迎風流淚</h4>
<p><a href="_files/p05-c17a74.bmp">迎風流淚圖</a></p>
<p>西江月參祥淚痕流眼，肺虛能起飛花。出入甚畏賊風加。拴定心猿意馬。獨怕冷風灌目，腎虛補藥為佳。清肝散服是醫家，宴樂西江月下。</p>
<p>此是肺經虛也。宜服還睛丸、楮檳丸、補腎丸。</p>
<h4>瞼硬睛疼</h4>
<p><a href="_files/p05-c17a75.bmp">瞼硬睛疼圖</a></p>
<p>鷓鴣天怕日羞明熱淚傾，瞼皮紅腫硬無情。不堪疼痛無時癢，肝臟風邪熱毒生。通肝散，效神靈，三朝翳膜退如星。宜用手法施針烙，大都合谷與淵澄。</p>
<p>此是脾經風熱也。宜服消毒散、驅風散、逐血散。</p>
<h2>卷三</h2>
<h3>祖傳明目神方</h3>
<p>爐甘石（要紅白色者為佳，用黃柏、當歸、防風、荊芥、黃芩、大黃、羌活、獨活各等分水煎煮，　甘石七次，以火　甘石，以紅取出將藥水淬，研得成粉為度）　硼砂（水錢要通明佳）　膽礬（火錢用刀面磨試即化為銅佳）　白礬（金錢用白者佳）　冰片（火錢要冰片者為佳）　朱砂（木錢真紅明者佳）　麝香（火錢當門子者為佳）　輕粉（水錢）　芒硝（土錢）　白丁香（水錢用寺觀不犯雨淋者及夏月冬月者為佳）</p>
<p>沒藥（木錢）　乳香（木錢用石滴帶紅白潔佳）　空青（水錢）</p>
<p>上藥依分兩逐一為末和勻，用瓷罐收貯。遇有眼疾，點之神效。</p>
<p>又方甘石（二兩，童便　七次，散血）　乳香（一錢，火焙乾，止痛）　沒藥（一錢，火焙乾，止痛）　硼砂（一錢，去障膜）　朱砂（五分，去障膜）　膽礬（五分，去障膜）　熊膽（一錢用筍葉包，以文武火焙乾，不可急）　麝香（一分通孔竅）　砂（五分，將鐵器盛，火　煙盡為止，去障膜）　輕粉（三分，干淚）　銅青（五分，去風乾淚）　冰片（隨時加減）</p>
<h3>太玄妙方治翳障遮睛並美</h3>
<p>黃柏（二錢）　黃連　石決明　黃芩　鬱金　密蒙花　石斛　白芍藥　防風　荊芥　川芎　白蒺藜　當歸　地黃上藥為粗末，以碗盛之水浸，將樟腦放藥上，用綿紙漿糊，謹封碗口，不要走氣，以文武火煎之良久，待冷去封，藥上碗，刮下樟腦，以瓷罐貯之，點藥數次，其障膜即開也。</p>
<h3>治眼，五臟補瀉用藥</h3>
<h4>瀉心藥</h4>
<p>大青葉　黃連　玄參　黃柏　雄黃　朴硝　連翹　龍膽草　麥門冬　生地黃</p>
<h4>補心藥</h4>
<p>烏梅　當歸　遠志　酸棗仁　枸杞子　山藥　石菖蒲　五味子　茯苓　柏子仁</p>
<h4>瀉肝藥</h4>
<p>菊花　竹葉　大黃　黃芩　犀角　蟬蛻　羚羊角　龍膽草　防己　荊芥　梔子石膏　柴胡　防風　草決明　升麻　蔓荊子　赤芍藥　牛蒡子　玄參　槐花　薄荷</p>
<h4>補肝藥</h4>
<p>熟地黃　當歸　大黃　五味子　五加皮　白朮　鹿茸　薏苡仁　肉蓯蓉</p>
<h4>瀉脾藥</h4>
<p>石膏　梔子</p>
<h4>補脾藥</h4>
<p>陳皮　麥芽　青皮　川芎　附子　白薑　肉桂　訶子　神麯</p>
<h4>瀉肺藥</h4>
<p>桑白皮　葶藶　鬱金　地骨皮　白牽牛　防風　梔子　白芍藥　玄參　牛蒡子</p>
<h4>補肺藥</h4>
<p>鐘乳粉　白朮　茯苓　薏苡仁　天門冬　人參　麥門冬　白石英　款冬花</p>
<h4>瀉腎藥</h4>
<p>當歸　黑牽牛　大戟　郁李仁</p>
<h4>補腎藥</h4>
<p>杜仲　破故紙　巴戟　菟絲子　熟地黃　青魚膽　竹葉　槐花　鹿茸</p>
<h4>治眼方</h4>
<p>薄荷　甘草　共脂麻　連翹　當歸　甘菊花　白芷　川芎　枸杞子　防風　荊芥密蒙花等分，將為細末，飯後三匙，卻用茶，勸君日進三五次，瞳人咫尺見天涯。</p>
<h4>眼有紅障方</h4>
<p>生地黃（五錢）　赤芍藥（三錢）　歸尾（一兩）　防風（五錢）　白蒺藜（五錢）　香白芷（五錢）　羌活（一兩）　薄荷（不拘多少）</p>
<p>上　咀，每服二錢，水盞半，燈心同煎，食後溫服。</p>
<h4>治青云障方</h4>
<p>防風（五錢）　蟬蛻（四錢）　菊花（三錢）　荊芥（五錢）　草決明（五錢）　黃連（一兩）　澤瀉（一兩）　細辛（五錢）　羌活（五錢）　獨活（五錢）</p>
<p>上　咀水煎至八分，食後服。</p>
<h4>治眼常痛</h4>
<p>川芎（五錢）　白芷（四錢）　防風（四錢）　赤芍藥（五錢）　細辛（五錢）　黃連（五錢）</p>
<p>上　咀水煎，食後服。</p>
<h4>治爛眩風</h4>
<p>荊芥　獨活　蔓荊子　防風（各五錢）　黃連（四錢）　蒼朮　木賊　夏枯草（各五錢）</p>
<p>上　咀水煎，食後服。</p>
<h4>治眼常流淚</h4>
<p>木賊（一兩）　夏枯草（五錢）　香附子（一兩）　荊芥（一兩）　甘草（一兩）</p>
<p>上為細末，臨臥酒調下。</p>
<h4>治眼常昏暗</h4>
<p>山梔子（一兩）　荊芥（一兩）　細辛（五錢）　決明子　蔓荊子　菊花　蒺藜（五錢）　黃芩　玄胡索　蒼朮　木賊　防風上　咀水煎，食後服。</p>
<h4>治眼赤障</h4>
<p>歸尾　川芎　白芷　黃連　生熟地黃（各一兩）　菊花　澤瀉　白蒺藜　赤芍藥　蟬蛻（各五錢）　大黃（一兩）　甘草（三錢）</p>
<p>上　咀水煎，食後服。</p>
<h4>治眼白障</h4>
<p>黃連　黃芩　梔子　決明子　蔓荊子　大黃　蒺藜（各一兩）　當歸　甘草（各五錢）</p>
<p>上水煎，食後服。</p>
<h4>灸眼法</h4>
<p>治眼痛不能視物。上星穴，其穴在鼻直上入發際一寸陷中，灸七壯。仍先灸穴，其穴在肩膊內兼第六椎骨下兩旁三寸；其穴，抱肩取之，灸二七壯。次灸風池穴，其穴在　發際陷中，與中府正相並耶，是側邊相去各二寸。</p>
<p>治青盲無所見遠，目中淫膚白膜覆瞳人。灸巨　穴。其穴在鼻孔下夾水溝傍是也。</p>
<p>治目暗，灸大椎下數至第十節，當脊中灸二百壯，甚驗也。</p>
<p>治風翳，灸。若患右目，灸右手中指本節頭骨上五壯，艾如小麥大。患左目，灸左手亦如之。</p>
<p>治卒生翳，灸大指節橫紋三壯。患右灸右，患左灸左，兼治不明淚出也。</p>
<h3>治眼七十二證良方</h3>
<h4>一問</h4>
<p>不開</p>
<h4>二問</h4>
<p><u>酒調散</u></p>
<p>旋覆花　荊芥穗　蒼朮　甘草　菊花各等分為末，每服二三錢，酒調下。鹽湯調下亦可。</p>
<p><u>四順散</u></p>
<p>大黃　川芎　梔子　朴硝　赤芍藥　枳殼（以上各五錢）　生地黃（三錢）</p>
<p>有氣加香附子，有痛加沒藥，白湯下。</p>
<p><u>八解散</u></p>
<p>人參　茯苓　甘草　陳皮　藿香　白朮　厚朴　半夏　薑（三片）　蔥（一根）</p>
<p>煎服。</p>
<h4>三問</h4>
<p><u>撥雲散</u></p>
<p>羌活　防風　柴胡　甘草（各炒一兩）</p>
<p>上為末，每服二三錢　白湯下。</p>
<p>四順、八解散見上</p>
<p><u>洗心散</u></p>
<p>當歸　大黃　赤芍藥　甘草　天花粉　荊芥　麻黃　白朮　薄荷　豬苓　澤瀉　黃芩　茯苓上水煎，食後服。</p>
<p><u>瀉肝散</u></p>
<p>薄荷　當歸　羌活　防風　大黃　山梔　川芎　甘草　菊花（各等分）</p>
<p>上　咀水煎服。</p>
<h4>四問</h4>
<p><u>洗肝補膽散</u></p>
<p>當歸　羌活　蒺藜　蟬蛻　蛇蛻　荊芥（各二錢）　甘草（七分）　為末酒調下。</p>
<p><u>活血散</u></p>
<p>山梔　當歸　菊花　熟地黃　牛蒡子　大黃　甘草　細辛　赤芍藥（各等分）</p>
<p>上為末，每服三錢，酒調下。</p>
<p><u>還光丸</u></p>
<p><u>順肝散</u></p>
<p>生地黃　當歸　大黃　栝蔞仁上等分，共為細末，每服二錢，食後新汲水調下。</p>
<p><u>黃　丸</u></p>
<p>黃　防風　小茴香（炒）　白蒺藜（炒）　牡丹皮（各等分）</p>
<p>上為細末，酒糊為丸，如梧桐子大，每服五七十丸，食後淡鹽湯送下。</p>
<h4>五問</h4>
<p><u>三黃丸</u></p>
<p>大黃　黃連　黃芩各等分，為末，蜜丸。</p>
<p><u>洗心散</u></p>
<p><u>洗肝散</u></p>
<p>薄荷　當歸　羌活　防風　大黃　山梔子　川芎　甘草各等分，　咀，水煎服。</p>
<p><u>菊花散</u></p>
<p>防風　菊花　蔓荊子　枸杞子　甘草　白芷　川芎　密蒙花　五味子　羌活　白蒺藜上各等分，為末，茶清調服。</p>
<h4>六問</h4>
<p><u>朱砂膏</u></p>
<p>杏仁（二十個，去皮、尖、油）　蕤仁（二百個，去皮、尖、油）　硼砂（二兩）　蜂蜜（二兩）　朱砂（二兩）</p>
<p>冰片（少許）</p>
<p>上各為末蜜熬，旋旋入藥和勻成膏，銅簪點眼。</p>
<p><u>定志丸</u></p>
<p>石菖蒲（二兩）　辰砂（一兩）　遠志（二兩）　白茯苓（三兩）　人參（二兩）</p>
<p>上末蜜丸桐子大，每服三十丸，燈心湯下。</p>
<p><u>人參茯苓煎</u></p>
<p>人參（一錢）　玄參（五分）　白附子（五分）　白茯苓（一錢）　川續斷（五分）　白僵蠶（五分）</p>
<p>水煎去渣，食後溫服。</p>
<h4>七問</h4>
<p><u>洗心散</u></p>
<p><u>桑白皮湯</u></p>
<p>桑白皮（蜜炒二兩）　黃芩（五錢）　赤芍藥（一錢）　山梔子（炒一錢）</p>
<p>上水煎服。</p>
<p><u>瀉肺湯</u></p>
<p>桑白皮（三錢）　地骨皮（三錢）　甘草（二錢）</p>
<p>上水煎去渣，食後溫服。</p>
<h4>八問</h4>
<p><u>桑白皮湯</u></p>
<p>桑白皮（炒二兩）　黃芩（五錢）　赤芍藥（一錢）</p>
<p>梔子同煎服。</p>
<p><u>洗肺散</u></p>
<p>黃芩（二兩）　桑白皮（一兩）</p>
<p>上為末，每服三錢，燈心湯食後送下。</p>
<p><u>艾煎丸</u></p>
<p>香附子　菊花　夏枯草　楮實子上各等分，酒糊丸，每服三十丸，麥門湯送下，食後服。</p>
<p><u>阿膠散</u></p>
<h4>九問</h4>
<p><u>密蒙花散</u></p>
<p>密蒙花　菊花　木賊　石決明　白蒺藜　羌活各等分為末，每服二三錢，茶清送下。</p>
<p><u>千裡光散</u></p>
<p>石決明（　，二錢）　海金砂（二錢）　菊花（二錢）　甘草（一錢）</p>
<p>上水煎去渣，食後溫服。</p>
<h4>十問</h4>
<p><u>蒼朮湯</u></p>
<p>蒼朮　本　白芷　羌活　川芎　甘草各等分，　咀，水煎服。</p>
<p><u>千裡光散</u></p>
<h4>十一問</h4>
<p><u>豬苓湯</u></p>
<p>豬苓　滑石　阿膠　澤瀉水煎服。</p>
<p><u>苦參散</u></p>
<p>赤芍藥　防風　甘草　苦參　天花粉上為末，每服一錢，米泔調送下。</p>
<p><u>艾煎丸</u></p>
<p>艾葉（醋煮）　肉蓯蓉（去甲）　牛膝（酒浸）　甘草　桑葉　山藥　牛膠（炒朱）　當歸（各等分）</p>
<p>上為細末，煉蜜為丸，如梧桐子大，每服二三十丸，茶清送下。</p>
<p><u>晚蠶沙湯</u></p>
<p>蠶沙（炒四兩）　巴戟（去心，二兩）　苦楝皮（二兩）　馬蘭花（二兩）</p>
<p>上為細末，每服二錢，不拘時，溫酒調下。</p>
<h4>十二問</h4>
<p><u>地黃丸</u></p>
<p>防風　羌活　黃芩　黃連　當歸　熟地黃　人參　茯苓各等分水煎服。</p>
<p><u>還睛丸</u></p>
<p>白蒺藜　蟬蛻　木賊　草決明　當歸　菊花　川芎　青葙子　密蒙花　羌活楮實子　石決明上等分為末，蜜丸桐子大，每服五十丸，茶清下。</p>
<p><u>石燕子丸</u></p>
<p>石燕子（一雙　，醋碎十次）　玳瑁　羚羊角　犀角（各一兩）</p>
<p>上為細末，煉蜜為丸，如梧桐子大，每服三十丸，食後薄荷湯化下。</p>
<h4>十三問</h4>
<p><u>三黃丸</u></p>
<p><u>大黃湯</u></p>
<p><u>大當歸散</u></p>
<p>　治赤筋侵睛不退用。</p>
<p>當歸　白朮　甘草　羌活　牛蒡子　梔子各等分為末，每服二三錢，白湯送下。</p>
<h4>十四問</h4>
<p><u>連翹散</u></p>
<p>連翹　甘草　黃芩　朴硝　梔子　大黃　薄荷　蜂蜜（少許）</p>
<p>各等分為末，每服三錢，蜜水調下。</p>
<p><u>密蒙花散</u></p>
<h4>十五問</h4>
<p><u>荊芥散</u></p>
<p>荊芥　菊花　蔓荊子　香附子　甘草　蒼朮　石決明　白芍藥　草決明上各等分，為末，每服一二錢，黑豆煎湯，食後服。</p>
<p><u>青鹽散</u></p>
<p>青鹽　菊花　熟地黃　龍膽草　地骨皮　秦皮　地膚子（各等分）</p>
<p>上為末，茶清調送下。</p>
<p><u>苦芥子散</u></p>
<h4>十六問</h4>
<p><u>半夏丸</u></p>
<p>半夏　南星　豬苓各等分為末，蜜丸薑湯送下。</p>
<p><u>辰砂丸</u></p>
<p>辰砂（五錢另研）　枯白礬（一兩）　南星（泡一兩）　半夏（泡一兩）</p>
<p>上為細末，生薑汁打糊為丸，如梧桐子大，每服三十丸，食後淡薑湯送下。亦治小兒風壅痰嗽。</p>
<p><u>桑螵硝丸</u></p>
<h4>十七問</h4>
<p><u>蒺藜散</u></p>
<p>蒺藜　甘草　防風　石決明　川芎　當歸　羌活　芍藥（各三兩）　蛇蛻（五錢）　蟬蛻（十個去頭足）　蒼朮（三兩）</p>
<p>上為末蜜丸，薑湯送下。</p>
<p><u>石膏散</u></p>
<p>石膏　川芎　細辛　防風　羌活　川烏（各等分）</p>
<p>上為末，入麝少許研勻，每服一錢，茶清送下。</p>
<p><u>芎　散</u></p>
<p>川烏　甘菊花　川芎　細辛　防風　生地黃　荊芥　當歸　芍藥　甘草　人參　羌活　薄荷　白芷　茱萸　茯神各等分為末，每服二錢，白湯調下。</p>
<h4>十八問</h4>
<p>灸法　風池穴　風府穴</p>
<h4>十九問</h4>
<p><u>補腎丸</u></p>
<p>巴戟　山藥　破故紙　小茴香　青鹽　蓯蓉　牡丹皮（各五錢）　枸杞（一兩）</p>
<p>上為末蜜丸，空心鹽湯送下。</p>
<p><u>乳香丸</u></p>
<p>全蠍（七個）　僵蠶（十四個）　草烏（十九個）　蓽茇（二十四個）　白芷　胡椒（四十九個）　乳香　沒藥麝香　細辛　良薑各等分，為末，蜜丸，鹽湯送下。</p>
<p><u>回陽湯</u></p>
<h4>二十問</h4>
<p><u>洗肝散</u></p>
<p><u>乳香散</u></p>
<p>乳香　沒藥　郁李仁　杏仁（各五錢）　人參（一錢）　酸棗仁（二兩）</p>
<p>上為末，白湯送下。</p>
<p><u>瀉心湯</u></p>
<p>黃連　連翹　山梔子　大黃　薄荷　黃芩　甘草（各五錢）　朴硝（二錢五分）</p>
<p>上　咀每服五錢。水煎去渣，食後溫服。</p>
<h4>二十一問</h4>
<p><u>三黃丸</u></p>
<p><u>四順散</u></p>
<p><u>瀉肺湯</u></p>
<h4>二十二問</h4>
<p><u>蟬蛻無比散</u></p>
<p>（治大人小兒，風毒傷肝，目昏翳膜，久患漸細小者及赤爛並治之。）</p>
<p>茯苓　甘草　防風（去蘆，各四兩）　石決明（鹽水煮，研）　川芎　羌活　當歸（酒浸，焙乾，各三兩）　赤芍藥（十三兩）　蒺藜（炒，去刺，半斤）　蟬蛻（去頭、足，二兩）　蛇蛻（油浸，炙一兩）</p>
<p>蒼朮（去皮，十三兩）</p>
<p>上為末，每服三錢，白湯調下。</p>
<p><u>救睛丸</u></p>
<p>沒藥　龍膽草　陳皮　白芍藥　梔子　白朮　人參　甘草上各等分，為末，酒送下。</p>
<p><u>珍珠散</u></p>
<p>朴硝（淨）　爐甘石（各等分）　冰片　麝香（各少許）</p>
<p>上研極細末點眼。</p>
<p><u>珊瑚琥珀膏</u></p>
<p>辰砂（另研，為衣，三錢，丸成藥）　琥珀（一錢）　人參（二錢）　石菖蒲　天門冬　遠志　茺蔚子白茯苓　麥門冬（各一兩）</p>
<p>上為細末，煉蜜為丸，如梧桐子大，每服二十丸，食後清茶送下。</p>
<h4>二十三問</h4>
<p><u>救睛丸</u></p>
<p><u>菊花丸</u></p>
<p>菊花（四兩）　巴戟（一兩去心）　五味子（三兩）　肉蓯蓉（酒浸焙乾二兩）　枸杞子（三兩）</p>
<p>上為蜜丸，每服五十丸，酒或鹽湯下。</p>
<p><u>阿膠煎</u></p>
<h4>二十四問</h4>
<p><u>洗肝散</u></p>
<p><u>決明丸</u></p>
<p>黃連（五錢）　黃芩（一兩）　大黃（三兩）</p>
<p>上末蜜丸桐子大，每服五十丸，茶清下。</p>
<p><u>珊瑚琥珀膏</u></p>
<p><u>救睛丸</u></p>
<h4>二十五問</h4>
<p>夜光椒紅丸川椒（五錢）　夜明砂（一兩）　菊花　石決明（　、二兩）　川芎（一兩）　蟬蛻（五錢）　蒺藜（五錢）　防風（五錢）　黃連　蒼朮（二兩）　陳皮（一兩）　白朮（五錢）　茴香（一兩）　蕤仁（五錢）　白芷　細辛蘇木（各一兩）</p>
<p>上為末蜜丸，每服三五十丸，白湯下。</p>
<p><u>地黃活血煎</u></p>
<p>當歸（一兩）　生地黃　川芎　香白芷　羌活（各五錢）　乳香　沒藥（各一錢）</p>
<p>上為細末，煉蜜為丸，如梧桐子大，每服三十丸，食後薄荷、荊芥煎湯送下。</p>
<p><u>當歸鹿茸丸</u></p>
<h4>二十六問</h4>
<p><u>川芎散</u></p>
<p><u>當歸活血散</u></p>
<p>當歸（酒浸，三兩）　赤芍藥（酒浸，二兩）　川芎（二兩）　熟地（二兩）　防風　菊花　蒺藜　蟬蛻草決明（各一兩）　甘草（五錢）</p>
<p>上為末，每服三錢，訶子湯送下。</p>
<h4>二十七問</h4>
<p><u>明目益腎丸</u></p>
<p>枸杞子（一兩）　當歸（一兩，酒浸，晒乾）　生地黃（照上制）　知母（七錢）　五味子（五錢）　山藥（五錢）　茯神（一兩）　黃柏（七錢，酒浸）　人參（五錢）　巴戟（甘草水煮，去心）　菟絲子（一兩，酒浸）</p>
<p>甘草（五錢）　天門冬（五錢）</p>
<p>上藥為末以蜜丸，每服三五十丸，鹽湯下。</p>
<p><u>明目地黃丸</u></p>
<p>石斛（去苗）　枳殼（去白，曲炒）　生漆渣（酒浸，三兩）　杏仁（去皮，尖，油）　防風（去蘆）　生地黃熟地黃（酒浸，各半斤）</p>
<p>俱為末蜜丸，酒鹽送下。</p>
<p><u>蟬花散</u></p>
<p><u>順肝丸</u></p>
<p><u>透經勻氣丸</u></p>
<h4>二十八問</h4>
<p><u>地黃丸</u></p>
<p><u>五苓散</u></p>
<p>豬苓　澤瀉　白朮　茯苓　肉桂上各等分為末，茵陳湯送下。</p>
<p><u>連翹丸</u></p>
<p>連翹　神麯　香附子　白朮　麥芽　半夏　藿香（各等分）</p>
<p>上為末，糊丸，每服三十丸，薑湯送下。</p>
<p><u>補肝丸</u></p>
<p>當歸　車前子　防風　芍藥　蕤仁　熟地黃　川芎　枳實（各等分）</p>
<p>上為細末，煉蜜為丸，如梧桐子大，每服七十丸，不拘時，溫水送下。</p>
<h4>二十九問</h4>
<p><u>木賊散</u></p>
<p>菊花　甘草　夏枯草　木賊（去節，米泔水浸一宿，晒乾）　桑白皮各等分為末，每服一錢，茵陳煎湯送下。</p>
<p><u>連翹散</u></p>
<h4>三十問</h4>
<p><u>香附豬苓散</u></p>
<p>香附子　豬苓　赤茯苓　澤瀉　滑石各等分為末，每服一錢，薑湯送下。</p>
<p><u>白朮湯</u></p>
<p><u>益黃湯</u></p>
<p>陳皮　青皮　訶子肉　丁香　甘草上末，每服五錢，水煎去渣，食後溫服。</p>
<h4>三十一問</h4>
<p><u>洗心散</u></p>
<p><u>解肌湯</u></p>
<p><u>菊花餅子</u></p>
<p>菊花　甘草　防風　荊芥　蟬蛻　大黃　石決明（各等分）</p>
<p>上為細末，煉蜜為丸成餅，每服一餅，食後茶清化下。</p>
<h4>三十二問</h4>
<p><u>調氣丸</u></p>
<p>木香　烏藥　旋覆花　藿香　菊花　川芎　甘草　黃芩各等分為末，糊丸，白湯送下。</p>
<p><u>夜光椒紅丸</u></p>
<p><u>當歸艾煎丸</u></p>
<h4>三十三問</h4>
<p><u>五苓散</u></p>
<p><u>洗心散</u></p>
<p><u>三黃丸</u></p>
<p><u>木通散</u></p>
<p>木通　生地黃　黃連　甘草（各等分）</p>
<p>上水煎去渣，食後服。</p>
<h4>三十四問</h4>
<p><u>苦參散</u></p>
<p><u>導赤湯</u></p>
<p>生地　木通　甘草（各等分）</p>
<p>上水煎去渣，食後服。</p>
<p><u>瀉肺湯</u></p>
<p><u>橘皮湯</u></p>
<h4>三十五問</h4>
<p><u>蠶蛾丸</u></p>
<p>晚蠶蛾　蟬蛻　菊花　羌活　穀精草　甘草各等分為末，蜜丸，每服三十丸，茶清送下。</p>
<p><u>芍藥湯</u></p>
<p>白芍藥　赤芍藥　當歸　菊花　甘草（各等分）</p>
<p>上為末，每服一錢，燈心煎湯下，食後服。</p>
<h4>三十六問</h4>
<p><u>芍藥湯</u></p>
<p><u>二霜膏</u></p>
<p>田螺養開入黃連末，焙乾為細末，入冰片少許和勻，用綿裹泡水中，不拘時洗眼。</p>
<h4>三十七問</h4>
<p><u>省風湯</u></p>
<p>蘇子　天麻　白附子　甘草　川芎　獨活　荊芥　菊花　茯苓　黑豆各等分　咀，用生薑五片，水煎服。</p>
<h4>三十八問</h4>
<p><u>貫眾散</u></p>
<p>貫眾　茵陳　黃　黃芩　茯苓　槐花　甘草　白茅香各等分為末，白湯送下。</p>
<p><u>雄黃丸</u></p>
<h4>三十九問</h4>
<p><u>定志丸</u></p>
<p>人參　菖蒲　遠志　白茯苓各二兩為蜜丸，每服三十丸，朱砂水送下。</p>
<p><u>補肝散</u></p>
<p>甘草　山藥　防風　柏子仁　柴胡　白芍藥（各二錢）</p>
<p>上銼，水一鐘半煎七分，食後服。</p>
<p><u>蟬花散</u></p>
<h4>四十問</h4>
<p><u>地黃丸</u></p>
<p>生地黃　天門冬　枳殼（麥麩，炒）　甘菊花（炒）</p>
<p>各二兩為末蜜丸，每服百丸，茶清下。</p>
<p><u>定志丸</u></p>
<h4>四十一問</h4>
<p><u>連翹丸</u></p>
<h4>四十二問</h4>
<p><u>補肺散</u></p>
<p>白茯苓　枳殼　麥門冬　半夏　淡竹葉　桔梗　陳皮　紫蘇子　人參　甘草　五味子各等分，薑三片，水煎服。</p>
<p><u>人參和脾湯</u></p>
<p><u>四物豬肝丸</u></p>
<p><u>省風湯</u></p>
<h4>四十三問</h4>
<p><u>青鹽丸</u></p>
<p>青鹽　菊花　熟地黃　龍膽草　地骨皮　秦皮　地膚子各等分為末，糊丸，每服三十丸，茶清送下。</p>
<p><u>三黃丸</u></p>
<p><u>防風丸</u></p>
<p><u>蕤仁膏</u></p>
<p>蕤仁（去皮，油，四錢）　冰片（五分）</p>
<p>上蕤仁研極細，入冰片和勻，入好白蜜一錢二分，再研，每以簪取少許，點大眼角內。</p>
<h4>四十四問</h4>
<p><u>牡丹丸</u></p>
<p>當歸　萆　熟地黃　川牛膝　牡丹皮　玄胡索各等分為末蜜丸，每服酒下。</p>
<p><u>省風湯</u></p>
<p><u>當歸活血丸</u></p>
<h4>四十五問</h4>
<p><u>消毒丸</u></p>
<p>荊芥　防風　牛蒡子　甘草各等分，　咀，水煎服。</p>
<p><u>瞿麥湯</u></p>
<p>瞿麥　木通　防風　甘草　芍藥（各等分）</p>
<p>上為細末，每服一錢，食後茶清調下。</p>
<p><u>消風飲子</u></p>
<p>防風　荊芥　鼠黏子　甘草（各等分）</p>
<p>上水煎服，去渣，不拘時服。</p>
<p><u>洗肝散</u></p>
<h4>四十六問</h4>
<p><u>救睛散</u></p>
<p>沒藥　陳皮　龍膽草　梔子　白朮　人參　甘草　白芍藥各等分為末，每服三錢，烏梅、草果煎湯送下。</p>
<p><u>陰陽五和湯</u></p>
<h4>四十七問</h4>
<p><u>夜光散</u></p>
<p>防風　羌活　青葙子　楮實子　牛蒡子　川芎　蒺藜　車前子　連翹　地黃梔子　菊花　黑牽牛　柴胡　草決明各等分為末，蜜丸，每服三十丸，茶清送下。</p>
<p><u>夜光椒紅丸</u></p>
<p><u>芎　散</u></p>
<p><u>補肝散</u></p>
<h4>四十八問</h4>
<p><u>退赤散</u></p>
<p>沒藥　當歸　赤芍藥　黃芩　生地黃　甘草各等分為末，每服一錢，溫酒送下。</p>
<p><u>芍藥湯</u></p>
<p><u>夜光椒紅丸</u></p>
<h4>四十九問</h4>
<p><u>補真丸</u></p>
<p>茴香　鹿茸　菟絲子　蓯蓉　胡盧巴（川）　巴戟各等分，糊為丸，每服三十丸，鹽湯或酒送下。</p>
<p><u>三黃丸</u></p>
<p><u>二霜膏</u></p>
<p><u>益鹽丸</u></p>
<h4>五十問</h4>
<p><u>石燕丸</u></p>
<p>石燕（一雙，火　紅，酒淬，要分雌雄）　甘草　木香　茴香　川楝子（七個）</p>
<p>各等分為末蜜丸，空心鹽湯或酒送下。</p>
<p><u>人參芍藥湯</u></p>
<p><u>橘皮煎丸</u></p>
<p><u>黃　丸</u></p>
<h4>五十一問</h4>
<p><u>半夏丸</u></p>
<p>半夏　丁香　木香　人參　肉豆蔻　陳皮　藿香（照上制服）</p>
<p><u>蒼朮湯</u></p>
<p><u>黃　丸</u></p>
<p><u>鱉甲柴胡湯</u></p>
<p>鱉甲　柴胡　胡黃連　黃連　厚朴　半夏（各等分）</p>
<p>上水煎去渣，食後服。</p>
<h4>五十二問</h4>
<p><u>三黃瀉心湯</u></p>
<p>　（加芒硝，五更服。）</p>
<p>大黃　黃芩　黃連</p>
<p><u>瞿麥散</u></p>
<p>瞿麥　木通　防風　甘草　赤芍藥（各等分）</p>
<p>上末每服一錢，人參湯調送下。</p>
<p><u>菊花散</u></p>
<p><u>三黃丸</u></p>
<h4>五十三問</h4>
<p><u>術苓湯</u></p>
<p>白朮　豬苓　茴香　甘草　川楝子　楮實子　青鹽各等分為末，每服一錢，溫酒送下。</p>
<p><u>蒼朮湯</u></p>
<h4>五十四問</h4>
<p><u>椒紅丸</u></p>
<p>椒紅　當歸　烏藥　白芍藥各等分為末，糊為丸，每服三十丸，鹽湯送下。</p>
<p><u>茯苓補肝散</u></p>
<p>茯苓　熟地黃　細辛　家菊花　甘草（五錢）　山藥（二錢）　防風　柏子仁　柴胡　白芍藥（一錢）</p>
<p>上　咀，用水鐘半煎七分，食後服。</p>
<p><u>虛消散</u></p>
<h4>五十五問</h4>
<p><u>四物湯</u></p>
<p>當歸　白芍藥　川芎　熟地黃用燈心同煎服。</p>
<p><u>菊花散</u></p>
<p><u>當歸活血煎</u></p>
<p><u>人參椒紅丸</u></p>
<p>人參　肉豆蔻　附子　沉香　蓮子　訶黎勒　椒紅　丁香　良薑　麻子仁　當歸　白朮　麝香上為細末，煉蜜為丸，如梧桐子大，每服三十丸，溫酒送下。</p>
<h4>五十六問</h4>
<p><u>黃連散</u></p>
<p>黃連　甘草　連翹　大黃各等分為末，防風煎湯、調灌乳母亦當服之。</p>
<p><u>樺皮南星湯</u></p>
<h4>五十七問</h4>
<p><u>蛤粉散</u></p>
<p>蛤粉　穀精草各等分為末，每服一錢，用公豬肝一葉，用竹刀破開入藥於肝內，淡竹葉包之，以線扎定水煮熟，細嚼就以湯吞。張仲景法用瓦罐煮得滾，復以紙封之，開一孔乘熱熏眼，待溫更洗，仍要服肝與藥十余次見效。</p>
<h4>五十八問</h4>
<p><u>瞿麥散</u></p>
<h4>五十九問</h4>
<p><u>乾薑丸</u></p>
<p>乾薑　白礬　半夏　黃芩　桑白皮　南星各等分為末，薑汁糊丸，每服四十丸，薑湯下。</p>
<p><u>救晴丸</u></p>
<p><u>半夏丸</u></p>
<p><u>琥珀散</u></p>
<h4>六十問</h4>
<p><u>豬肝膏</u></p>
<p>荊芥　烏頭（去尖，七個）　大黃　細辛各等分為末，以公豬肝作膏，貼太陽。以紙掩定，不許藥入眼。</p>
<h4>六十一問</h4>
<p><u>犀角象牙丸</u></p>
<p>犀角　象牙　乾薑　半夏各等分為末，以薑汁糊丸，每服三十丸，薑湯送下。</p>
<p><u>決明散</u></p>
<p>石決明　細辛　荊芥　龍膽草　車前子　木賊（各二兩）　穀精草（四兩）　甘草　白花蛇蒼朮（四兩，米泔-水浸）</p>
<p>上為末，每服二三錢，清水湯送下。</p>
<p><u>人參菊花散</u></p>
<p>人參　赤芍藥　菊花　草決明　黃芩（各等分）</p>
<p>上為末，每服二錢，米湯送下。</p>
<p><u>羌活散</u></p>
<p>羌活　川芎　天麻　旋覆花　青皮　南星　本（各等分）</p>
<p>上水煎去渣，食後服。</p>
<h4>六十二問</h4>
<p><u>白蘚散</u></p>
<p>白蘚皮　僵蠶　白附子各等分為末，每服一錢，茶清送下。</p>
<h4>六十三問</h4>
<p><u>石膏散</u></p>
<p><u>省風湯</u></p>
<p><u>鯊皮散</u></p>
<h4>六十四問</h4>
<p><u>決明丸</u></p>
<p>決明子　黃連　地膚子　青葙子　井泉石　太陰石　玄精石各等分，糊為丸，每服三十丸，鹽湯下。</p>
<p><u>犀角象牙丸</u></p>
<h4>六十五問</h4>
<p><u>艾煎丸</u></p>
<h4>六十六問</h4>
<p><u>通神丸</u></p>
<p>當歸　百部　羚羊角　犀角　金、銀箔　人參　珍珠　千金子俱為末水丸　每服五十丸，白湯送下。</p>
<p><u>救睛丸</u></p>
<p><u>琥珀丸</u></p>
<h4>六十七問</h4>
<p><u>連翹散</u></p>
<p>連翹　神麯　白芍藥　紫參　菊花　磁石（火　，醋淬七次）　甘草　犀角各等分為末，蜜湯下。</p>
<p><u>換經湯</u></p>
<p><u>五肝丸</u></p>
<p><u>救睛湯</u></p>
<p><u>犀角象牙丸</u></p>
<h4>六十八問</h4>
<p><u>均氣散</u></p>
<p>木香　檀香　白豆蔻　砂仁各等分為末，每服一錢，鹽湯送下，酒亦可。</p>
<p><u>朱砂散</u></p>
<p><u>省風湯</u></p>
<h4>六十九問</h4>
<p><u>羊肝丸</u></p>
<p>羊肝　豬肝　鯉魚肝　雞肝　狗肝各等分，搗爛糊為丸，每服二十丸，茶清送下。</p>
<p><u>桑白皮湯</u></p>
<p><u>瀉肺湯</u></p>
<h4>七十問</h4>
<p><u>當歸丸</u></p>
<p>當歸　黃芩　赤芍藥　黃連　犀角各等分為末蜜丸，每服一丸，細嚼，乳香湯下。</p>
<p><u>洗心散</u></p>
<p><u>消毒飲子</u></p>
<h4>七十一問</h4>
<p><u>順光散</u></p>
<p>蟬蛻　蛇蛻（炙）　草決明　木賊　甘草　黃芩　鬱金　淡竹葉　菊花各等分為末，每服一錢，麥門冬煎湯送下。</p>
<p><u>鎮肝散</u></p>
<p>生地黃　防風　荊芥　龍膽草　梔子　川芎　黃芩　羌活　夏枯草　大黃　木賊菊花　黃連　牛蒡子　薄荷　甘草　當歸　車前子（各等分）</p>
<p>上　咀水煎食後服。</p>
<p><u>蒺藜散</u></p>
<p>蒺藜　甘草　防風（各五錢）　羌活（一兩）</p>
<p>上末米泔湯調送下。</p>
<h4>七十二問</h4>
<p><u>人參菊花散</u></p>
<p><u>鎮肝丸</u></p>
<p>川芎　防風　茯苓　五味子　玄參　羌活　細辛　黃連　知母　甘草　蒼朮　蒺藜　當歸（各等分）</p>
<p>上末，蜜丸龍眼大，茶清化下</p>
<p><u>和氣丸</u></p>
<h3>治眼方</h3>
<h4>補肝散</h4>
<p>熟地黃　茯苓　細辛　家菊花　甘草（五錢）　山藥（二錢）　防風　柏子仁　柴胡　白芍藥（二錢）</p>
<p>上　咀，水鐘半，煎七分，食後服。</p>
<p>治眼痛。</p>
<p>防風　地骨皮　南星　柏子仁　細辛　茯苓　蔓荊子　肉桂　桃仁　甘草上等分，　咀，用棗子一枚，水煎服。</p>
<h4>通肝散</h4>
<p>上為末，每服三錢，食後白湯送下。</p>
<p>仁齋云：治肝熱赤眼，腫痛，翳障。</p>
<p>郁李仁　梔子　大黃　甘草　荊芥上各等分，　咀，水煎服。</p>
<h4>瀉肝散</h4>
<p>治蟹睛，眼痛。</p>
<p>防風　遠志　桔梗　羚羊角　甘草　人參　細辛　黃芩　赤芍藥上各等分，為末，溫水送下。</p>
<h4>清肝散</h4>
<p>治諸般眼疾。</p>
<p>草當歸　車前子上　咀，水煎溫服。</p>
<h4>洗肝散</h4>
<p>肝盛，風熱攻眼，赤腫眵淚，浮霧蔽明。</p>
<p>各等分　咀，水煎服。為末，以荊芥泡湯送下。</p>
<h4>涼肝散</h4>
<p>菊花　梔子　甘草各等分為末，米泔水送下。</p>
<p>退翳膜。</p>
<p>黃芩　蛤粉　龍膽草各等分為末，每服二錢，酒調下。</p>
<p>治白眵，如稀糊在目，白珠腫，睛似豬肝膜。</p>
<p>甘草（五錢）　葶藶（一兩）　桑白皮（二兩）　地骨皮（一兩）　粳米四十粒，水煎服。</p>
<h4>鎮肝丸</h4>
<p>補眼。</p>
<p>川芎　防風　茯苓　五味子　玄參　羌活　細辛　黃連　知母　甘草　蒼朮　蒺藜　當歸上為末，蜜丸如龍眼大，茶清化下。</p>
<p>治赤眼。</p>
<p>菊花　鬱金　黃連　甘草上　咀，水煎溫服。</p>
<h4>炙肝散</h4>
<p>治肝虛極，眼生內外翳障。</p>
<p>石決明　黃連（三錢）　穀精草　蒼朮（制，各二兩）</p>
<h4>清肺散</h4>
<p>僵蠶　細辛　甘草　黃桑（一兩）　木賊　烏頭　荊芥　旋覆花上為末，每服二三錢，鹽湯送下，溫水亦可。</p>
<h4>大瀉肺散</h4>
<p>歸尾　黃芩　桔梗　赤芍藥　麻黃　枳殼　玄參　白芷　生地黃　甘草　防風上為末，每服三錢。薑三片，水煎服亦可。</p>
<h4>涼膈散</h4>
<p>治肝。</p>
<p>大黃　川芎　蒺藜　牛蒡子　細辛　防風　玄參　梔子　白菊花　黃芩　甘草荊芥　木賊　草決明　蒼朮　蔓荊子各等分，水煎服。</p>
<h4>涼膽丸</h4>
<p>黃連（五錢）　僵蠶　防風　龍膽草　地骨皮（一兩）　黃柏　黃芩　荊芥（五錢）</p>
<p>上為末，蜜丸，薄荷湯下。有蘆薈湯下。</p>
<h4>洗心散</h4>
<p>治胃膈不利，心經有熱。</p>
<p>當歸　大黃　赤芍藥　甘草　荊芥　麻黃　白朮　加薄荷　豬苓　澤瀉　天花粉各等分水煎，加大黃、芒硝，五更服，取瀉三四。此方治眼赤腫疼痛。</p>
<h4>清心散</h4>
<p>治目乏，熱風氣，赤腫疼痛。</p>
<p>川芎　白朮　赤芍藥　甘草　荊芥　梔子　熟地黃上各等分，　咀，水煎服。</p>
<h4>撥心散</h4>
<p>眼有諸疾可服。</p>
<p>防風　羌活　柴胡　白蒺藜　菊花　甘草　薄荷各等分入細茶，水煎服。</p>
<h4>還睛散</h4>
<p>白蒺藜（五錢）　木賊（五錢）　防風　甘草（三錢）　石決明（三錢）　蟬蛻上為末，每服三錢，訶子湯下。</p>
<h4>還睛丸</h4>
<p>白蒺藜　蟬蛻　木賊　石決明　草決明　威靈仙　菊花　川芎　青葙子　密蒙花　羌活　楮實子各等分為末蜜丸，每服五十丸，茶清送下。</p>
<h4>孫思邈進藥表還睛丸</h4>
<p>白蒺藜（炒，去刺）　川芎　木賊（去節）　白朮　青葙子　菟絲子（酒浸三兩，蒸爛，晒乾）　密蒙花　羌活　甘草（炙）　防風　家菊花　川當歸　楮實子上為末蜜丸，每服三五十丸，鹽湯送下。</p>
<h4>決明散</h4>
<p>石決明（一兩）　草決明　羌活　木賊（五錢）　青葙子　當歸　梔子　大黃　赤芍藥　荊芥各等分為末，訶子煎湯送下。</p>
<p>治男婦常用。</p>
<p>石決明　細辛　荊芥　龍膽草　車前子　木賊（各二兩）　穀精草（四兩）　甘草　白花蛇　蒼朮（四兩、米泔水浸）</p>
<p>各等分，為末，每服二三錢，清米湯送下。</p>
<h4>決明丸</h4>
<p>治赤腫翳膜。</p>
<p>黃連（五錢）　黃芩（一兩）　大黃（三兩）</p>
<p>上為末，蜜丸，每服五十丸，茶清送下。</p>
<h4>決明丹</h4>
<p>密蒙花（二兩）　決明子　黃連　青葙子　車前子（一兩）　羚羊角（一兩）</p>
<p>上為末，以羊肝擂爛為丸，每服三五十丸，荊芥煎湯送下。</p>
<h4>地黃散</h4>
<p>生地黃　赤芍藥　甘草　車前子　川當歸各等分，水煎食後服。</p>
<h4>如聖地黃丸</h4>
<p>治眼生白障，翳膜，赤脈通睛。</p>
<p>大黃　當歸（酒浸）　甘草　生地黃（二兩）</p>
<p>上為末，煉蜜丸綠豆大、燈心、淡竹葉煎湯，食後服。</p>
<h4>地黃膏</h4>
<p>生地黃（一兩）　寒水石（五錢）　黃連　黃柏（一兩）</p>
<p>上為末，用生地黃汁，調成餅子，貼太陽上，其腫即退。</p>
<h4>二黃散</h4>
<p>黃芩　大黃　防風　薄荷　秦皮水煎去滓，入蜜再煎。</p>
<h4>加味三黃丸</h4>
<p>治三焦熱結，眼赤腫，大便閉結。</p>
<p>大黃（煨熱）　大腹皮　黃柏　巴豆（五粒，去殼膜）</p>
<p>上為末，糊丸如梧桐子大，五更茶清送下。</p>
<h4>清涼散</h4>
<p>荊芥　蔓荊子　甘草　牛蒡子　梔子（三兩）　薄荷　苦竹葉（五錢）</p>
<p>水煎服。</p>
<h4>解涼散</h4>
<p>密蒙花　大黃　鬱金　石決明　甘草　梔子　木賊　黃芩　淡竹葉　蟬蛻　菊花上為末，每服二三錢，訶子湯下。</p>
<h4>涼疳丸</h4>
<p>治小兒疳，眼赤爛。</p>
<p>苦參　防風　玄參　蔓荊子　龍膽草各等分為末，豬膽糊丸如綠豆大，茶清送下。</p>
<h4>小柴胡湯</h4>
<p>治血熱，又治傷寒，退大熱。發汗加麻黃；頭痛加川芎；退熱加黃連、梔子；大便閉加大黃、芒硝。有如神效。</p>
<p>黃芩（三錢）　柴胡（二錢）　人參（一錢）　半夏（二錢）　甘草上　咀，薑三片，棗一枚，水煎。</p>
<h4>柴胡散</h4>
<p>柴胡（二錢）　黃芩（二錢）　黃柏（五錢）　赤芍藥　甘草（一錢）</p>
<p>上　咀，水煎，食後服。（用勝金散水煎。）</p>
<h4>勝金散</h4>
<p>治眼熱，風腫熱淚，澀閉難開。</p>
<p>當歸　防風　白附子　羌活　地膚子　草決明　川芎　石決明　菊花　甘草　赤芍藥各等分，為末，每服二三錢，茶清送下。</p>
<p>治五臟受熱，活血去風，止赤腫疼痛。</p>
<p>川芎　當歸　密蒙花　荊芥　大黃　甘草　黃芩　龍膽草　黃連　菊花　木賊蒼朮　羌活　防風上各等分為末，每服一錢，茶清送下。</p>
<h4>冷淚方</h4>
<p>用棗一枚去核，以花椒二十粒入內，又用紙包打溫灰火煨熟，細嚼白湯下。</p>
<h4>立應丸</h4>
<p>治冷淚。</p>
<p>象斗子（一個）　甘草（三錢）</p>
<p>上為末，每服三錢，熱水調下。</p>
<h4>俱治冷淚楮實丸</h4>
<p>香附子　甘草　夏枯草　夏桑葉　楮實子上為末，每服三錢，熱水調下。</p>
<p>香附子　川芎　玄參　青葙子　密蒙花　夏枯草　草決明　菊花　豬牙皂（醋炙）</p>
<p>上末每服三錢，熱水調下。</p>
<h4>治眼膿漏不止方</h4>
<p>黃　防風　地骨皮　大黃　黃芩　人參　遠志　赤茯苓　蒲蘆上各等分，水煎食後服。</p>
<h4>金露散</h4>
<p>治婦人行經，出被風吹，赤爛眼弦。</p>
<p>甘草　防風　地骨皮　黃連　菊花　當歸　川芎　赤芍藥　荊芥　黃芩上各等分，為末，每服三錢，溫酒調下。</p>
<h4>小兒痘疹小兒痘疹後，毒瓦斯攻目，致生翳膜，及下元赤白痢疾</h4>
<p>枳殼　甘草　黃連　草果　肉豆蔻　當歸上各等分，水煎服。</p>
<h4>通神效</h4>
<p>不可瀉，治小兒痘疹及眼生翳障。</p>
<p>白菊花　綠豆皮　穀精草上各等分，為末，每服一錢，用干柿一枚，米泔一鐘同煎，待水干不拘時服干柿。七日後見效，重者半月見效。（小兒痘疹入目生翳膜瘴。）</p>
<p>草決明　甘草　天花粉　赤芍藥上各等分為末，每服五分，熱水化蜜湯調服。</p>
<h4>小兒周年、半歲，患赤眼者</h4>
<p>黃連為末，茶調敷手心，如痛難開加　薑黃　皂角　朴硝上為末，一同貼太陽穴即愈。</p>
<h4>小兒瘡患後，睛上有膜</h4>
<p>白蕪荑（五十個，去皮）　蘆薈（三錢）　熊膽（三錢）　蕤仁（二十五個，去皮）</p>
<p>研細，香油三兩調勻，攤碗上。次用熟艾一塊如雞子大，又用　砂、乳香、砒霜三味各如綠豆大，研入在碗內同艾燒煙熏，碗內藥艾盡為度，取出剖下藥研細，每用如粟米大點在眼中，即有神效。</p>
<p>凡小兒痘疹後，毒瓦斯攻目，或翳障赤筋，隱澀腫痛，流淚羞明難開，並宜洗心涼肝，取瀉有效。</p>
<h4>磁石丸</h4>
<p>治肝腎虛，蟹眼睛痛黃　紫巴戟　肉蓯蓉（酒浸）　覆盆子　青鹽　人參　附子　木香　沉香　防風牛乳　牛膝　肉桂　熟地黃　乾薑　遠志　茯苓　磁石　大腹皮　蒼朮　陳皮白朮　川芎　檳榔　白芷　青皮　烏藥　獨活上各等分為末，蜜丸，每服三十丸，鹽湯送下。</p>
<p>治肝腎虛，眼暗視物不明。</p>
<p>肉蓯蓉（酒浸）　五味子　菟絲子（照前制度）　車前子（三兩）　蒼朮（五錢）　乾薑　肉桂　磁石上各等分，為末，蜜丸，每服三十丸，鹽湯送下。</p>
<h4>乳香丸</h4>
<p>治男婦頭疼，眼痛，筋骨痛甚妙。</p>
<p>乳香　沒藥　五靈脂　木鱉子　烏藥　夏蠶砂上各等分為末，酒糊丸，每服七丸，薑汁、茶清送下。</p>
<h4>乳香散</h4>
<p>杏仁（去皮尖）　酸棗仁（二兩）　人參　乳香　郁李仁（各五錢）</p>
<p>上為末，每服二三錢，溫酒送下。</p>
<p>治眼風毒不開。</p>
<p>全蠍（七個）　僵蠶（十四個）　白芷　烏頭（十九個）　蓽茇（二十一個）　胡椒（四十九個）　乳香沒藥　麝香　細辛　良薑上各等分為末，蜜丸，每服三十丸，鹽湯送下。</p>
<h4>藿香散</h4>
<p>一名金丸。治時行赤眼，退翳障，隱澀難開。</p>
<p>藿香　麻黃（去節）　白芷　石膏（三兩　）</p>
<p>上為末，荊芥湯茶清可下。</p>
<h4>檀香散</h4>
<p>荊芥　檀香　石膏　大川烏　川芎　白芷　甘草　香附子上各等分為末，蔥湯送下。如不便，茶清亦可。</p>
<h4>磨翳散</h4>
<p>治冷翳，不痛不腫，黑睛上生蔥花，名曰怒氣傷肝。</p>
<p>黃連　龍膽草　赤芍藥　防風　當歸　梔子　生地黃　熟地黃　桑白皮上各等分，　咀，水煎。如痛加淡竹葉去肝熱，如口乾加燈心，如腫加大黃、砂糖，後服穀精草。</p>
<h4>治風翳</h4>
<p>穀精草　夏枯草　木賊　青葙子　石決明　羌活　白蒺藜　菊花　淡竹葉上各等分，　咀，水煎服。</p>
<h4>穀精散</h4>
<p>治翳。</p>
<p>防風　穀精草上各等分為末，每服二三錢，空心米湯送下。</p>
<h4>除翳散</h4>
<p>黃連（三錢）　秦艽　甘草　梔子　決明子（以上三錢）　赤芍藥　大黃（各五錢，炒）　川芎（一兩）　車前子上為末，淡竹葉，燈心煎湯送下。</p>
<h4>退翳散</h4>
<p>治風毒瓦斯眼，攀睛　肉，昏澀淚出。</p>
<p>黃芩　蟬蛻（炒、去頭足，各五錢）　蒼朮（制）　甘草（炙，各五錢）　木賊（一兩，去節）　蛇蛻（油浸，酒洗一宿）</p>
<p>上為末，每服二錢，訶子煎湯送下。</p>
<h4>磨翳丸</h4>
<p>平補眼疾。</p>
<p>熟地黃　夜明砂（少許）　黃芩　草決明上為末蜜丸，淡竹葉煎湯送下。</p>
<h4>散血散</h4>
<p>歸尾　大黃　黃連　赤芍藥　芒硝　黃柏　旋覆花　羌活　牡丹皮　獨活　紅花　川芎　五加皮上等分，水煎溫服。</p>
<p>治赤腫難開。</p>
<p>當歸　菊花　石膏　漢防己　龍膽草　茵陳　朴硝　旋覆花上各等分為末，米湯送下，食後服。</p>
<h4>退赤散</h4>
<p>大黃　黃芩　黃連　赤芍藥　白芷　梔子　當歸桑白皮同水煎，食後服。</p>
<h4>退赤丸</h4>
<p>黃芩　當歸　白朮　生地黃　木通　連翹　甘草　草決明上為末蜜丸，每服四十丸，淡竹葉煎湯送下。</p>
<h4>逐血散</h4>
<p>黃連　菊花　防風　赤芍藥　黃芩　梔子上各等分，　咀，用水煎，溫服。</p>
<h4>活血散</h4>
<p>治血毒眼。</p>
<p>梔子　當歸　菊花　熟地黃　牛蒡子　大黃　甘草　細辛　赤芍藥上各等分為末，每服二錢，酒送下。</p>
<h4>退血散</h4>
<p>治白膜侵睛，早晨冷淚。</p>
<p>白蒺藜　荊芥　麥門冬　檳榔　甘草　羌活　草決明上為末，每服二三錢，茶清化下。</p>
<h4>四物湯</h4>
<p>治血熱內障，加酒炒黃連、黃柏。</p>
<p>當歸　川芎　白芍藥　熟地黃上各等分，　咀，燈心同煎服。</p>
<h4>貼眼藥</h4>
<p>退赤。</p>
<p>白蘞　大黃　黃柏　白蒺藜　蘇木　紅花　皂角上為末，冷水調貼太陽。</p>
<p>治眼熱，赤腫疼痛。</p>
<p>大黃　白礬　朴硝上為末，水調作餅貼太陽。</p>
<h4>瀉眼藥</h4>
<p>治一切積熱，赤腫疼痛。</p>
<p>黃芩　枳殼　赤芍藥　荊芥　大黃　朴硝五更空心服，取瀉即效。</p>
<p>退赤眼毒熱。</p>
<p>桑白皮（二兩）　大黃（五錢）　荊芥（五錢）　朴硝（二兩）</p>
<p>上為末，蜜水貼太陽穴，以紙隔貼藥。</p>
<p>治撞打，瞳人被血灌，及赤腫頭風等證，疼痛難忍。</p>
<p>皂角　黃柏　薑黃　南星　烏頭　黃連上為末，薑汁調貼太陽。如撞打赤腫不開，芙蓉、豆粉、生地黃汁、雞子清調貼甚效。</p>
<p>治眼被打傷，血灌瞳人。</p>
<p>大黃　薑黃　五倍子　黃連　黃柏　當歸　荊芥　朴硝　薄荷上各等分為末，用生地黃汁調藥，以紙隔貼藥在太陽穴即效。</p>
<p>治眼被打傷，血浸睛。</p>
<p>梔子　柳枝用生地黃捶爛調藥，用紙隔藥貼太陽。</p>
<h2>卷四</h2>
<h3>治眼方</h3>
<h4>治心間有熱，眼有赤脈，血灌瞳人方</h4>
<p>玄參不拘多少，為末，米泔水煮豬肝，入藥末在肝內，細嚼，用乾薑湯送下。</p>
<h4>治爛眩風眼</h4>
<p>一夜洗三四次。</p>
<p>陳霜梅（三個）　銅錢（三個）　黃連（三分）</p>
<p>用水半鐘洗眼皮。</p>
<h4>糖煎散</h4>
<p>治風毒瓦斯攻眼，赤腫視物不明，隱澀難開。</p>
<p>龍膽草　防己　大黃　當歸　荊芥穗　甘草　防風　川芎　赤芍藥水煎入砂糖一塊同煎服。</p>
<h4>治雀目眼方</h4>
<p>夜明砂　蛤粉上各等分為末，每服二錢，用豬肝三指大，批開入藥於肝內，用麻線扎定，用陳米一合約煮熟，空心服。</p>
<h4>蛤粉丸</h4>
<p>治雀目。</p>
<p>蛤粉　黃蠟上各等分，溶化如棗子大，入藥和蠟成丸，用豬肝二兩批開入丸於肝內，麻線扎定，瓷器內煮熟，熏眼，溫服。</p>
<h4>豬肝丸</h4>
<p>治雀目痘眼全不見者有效。</p>
<p>穀精草　蛤粉　夜明砂上各一兩，每服三錢，用豬肝一片，重二兩，批開摻藥於內，麻線扎定，米泔水煮熟待涼臨臥細嚼，又用豬肝汁咽下，忌生冷、油面、熱毒之物。</p>
<h4>治雀目方</h4>
<p>夜不見光。</p>
<p>茯苓、石膏各一兩，豬肝尖七葉，老米半升，共浸一時，略炒，悶飯吃五六七次即有效矣。</p>
<h4>治眼赤腫疼痛方</h4>
<p>北細辛　當歸　黃連　赤芍藥　龍膽草上各等分，　咀水煎，入砂糖少許同煎服。</p>
<h4>雙劍散</h4>
<p>治赤眼有效。</p>
<p>青黛　乳香（各一錢）　HT　硝（五分）</p>
<p>上各等分為末，調水吹入鼻中有效。</p>
<h4>搐鼻散</h4>
<p>治火眼立效。</p>
<p>皂角　鵝不食草　芒硝　荔枝殼上各等分為末，患者先含水一口，後以藥搐鼻中神效。</p>
<h4>吹鼻散</h4>
<p>退翳定疼痛。</p>
<p>苓苓香　藜蘆　丁香　甘松香　川芎（各一兩）　藿香（五錢）</p>
<p>上為末少許吹入鼻中。</p>
<h4>搐鼻方</h4>
<p>治風熱腫難開。</p>
<p>雄黃（水透過）　辰砂（各二兩）　細辛（二錢）　冰片（少許）　麝香（少許）</p>
<p>上為末，先口含水以藥搐鼻中。</p>
<h4>生地黃湯</h4>
<p>治眼痛極。</p>
<p>漢防己　生地黃　熟地黃上各等分，水煎服。</p>
<h4>二地散</h4>
<p>治眼赤腫。</p>
<p>地骨皮（一兩）　菊花（一兩）　川芎（五錢）　黃芩（二兩）　赤芍藥（一兩）　黃柏（二兩）　熟地黃（三兩，酒浸）</p>
<p>上　咀加荊芥，燈心同水煎服。</p>
<h4>聚寶散</h4>
<p>治風毒熱眼。</p>
<p>當歸　大黃（煨）　黃連　龍膽草　赤芍藥　甘草　荊芥　菊花　牛蒡子　薄荷上各等分，水煎服。</p>
<h4>防己散</h4>
<p>治熱風毒去濕氣。</p>
<p>梔子　防己　地黃　赤芍藥　當歸　龍膽草上各等分，為末，每服二錢，酒調下。</p>
<h4>鐵柱散</h4>
<p>平補去風。此方治虛，血灌瞳仁，肝經之疾。</p>
<p>訶子　防風　梔子　甘草　紫金藤　石斛　川芎　當歸　荊芥上各等分，為末，米湯送下。</p>
<h4>蒺藜散</h4>
<p>止淚，此方原傳吳宅。</p>
<p>蒺藜　甘草　防風（各五錢）　羌活（一兩）</p>
<p>上為末，米泔湯送下。</p>
<h4>細辛散</h4>
<p>防風毒，流淚不止。</p>
<p>細辛　川芎（各一兩）　菊花　桑白皮　旋覆花　石膏　蒼朮（各一兩）　蒺藜（二兩）</p>
<p>上為末，木賊煎湯送下。</p>
<p>治眼睛打傷，有妨瞳仁，睛疼出血。</p>
<p>荊芥穗　茯苓　車前子　地骨皮　細辛　沒藥（各二錢）</p>
<p>上為末，空心溫酒調下。</p>
<h4>住淚散</h4>
<p>治淚不止者。</p>
<p>甘草　木賊　蒺藜　夏枯草　生地黃　梔子　牛蒡子上各等分　咀，水煎溫服。</p>
<h4>防風散</h4>
<p>本教云：可常服，妙治產後喜怒不常或憂思，見淚出過多變成眼疾昏暗，爛眩疼痛，又治四五十歲者。</p>
<p>大黃　甘菊花　甘草　石決明　薄荷　荊芥　川芎　防風　草決明　牛膝　羌活　鬱金上各等分，為末，每服二錢，訶子煎湯下，枸杞子煎湯送下。</p>
<p>治風毒攻眼，拳毛倒睫，止痛。</p>
<p>甘菊花　防風　黃芩　黃連　甘草　草決明　大黃　木通　赤芍藥上各等分，水煎服。</p>
<h4>川芎散</h4>
<p>治眼頭痛。</p>
<p>川芎　防風　木賊　石決明　白蒺藜　羌活　蒼朮　荊芥　旋覆花　香白芷　山茵陳　楮實子　石膏　夏枯草　草決明（各二錢）　薄荷（一兩）　香附子　甘草　蟬蛻（去頭足，各一兩）　蛇蛻（五錢，油浸炒）　菊花上為末，每服二錢，茶清食後服。</p>
<p>治頭疼眼痛。</p>
<p>甘菊花　赤石脂　荊芥　旋覆花　川芎上各等分，為末，每服三二錢，蔥湯調食後服。</p>
<h4>消毒散</h4>
<p>荊芥（五錢）　牛蒡子（一兩）　大黃　甘草（一兩）</p>
<p>上　咀，水煎溫服。</p>
<p>防風　甘草　荊芥　牛蒡子　連翹　蒼朮　赤芍藥上各等分，　咀，水、燈芯同煎。</p>
<h4>五退散</h4>
<p>蟬蛻　蛇蛻　豬蛻　穿山甲　蠶蛻　荊芥　防風　甘草　石決明　雄黃　草決明上各等分，為末，鹽湯送下。</p>
<h4>經效散</h4>
<p>黃芩　大黃　當歸　北柴胡　犀角　甘草　白芷　赤芍藥（五錢）</p>
<p>上等分，　咀，水煎溫服。</p>
<h4>罌粟丸</h4>
<p>罌粟（三錢）</p>
<p>上為末，又用鵝涎調藥，貼眼　邊，治　目、飛塵入眼，及麥芒入眼者。</p>
<h4>碧霞散</h4>
<p>銅綠　土膏（五錢）　輕粉　麝香（俱少許）</p>
<p>上為末，頓水洗眼去風。</p>
<h4>驅風散</h4>
<p>川芎　羌活　防風　石膏（一兩）　川烏　荊芥　蟬蛻上各等分，為末，每服三錢，薄荷煎湯送下，或茶清亦可。</p>
<h4>二宜散</h4>
<p>治胎前產後風眼，與檀香散。</p>
<p>北柴胡　茯苓　黃柏　黃芩　枳實　甘菊花　甘草　熟地黃上各等分，　咀，水煎溫服。</p>
<p>當歸　甘草　菊花　熟地黃　川芎　防風　蒺藜　蟬蛻　赤芍藥　草決明上各等分，為末，訶子煎湯下，胎前產後宜服。</p>
<h4>當歸散</h4>
<p>治老幼虛實通用。</p>
<p>甘草　荊芥（五錢）　當歸（二兩，酒浸，洗）　赤芍藥（二兩）　白芷　防風　川芎（二兩）</p>
<p>熟地上　咀，水煎服。</p>
<h4>四靈散</h4>
<p>治血灌瞳仁。</p>
<p>大黃　朴硝　生地黃　沒藥上各等分，為末，溫酒調下。</p>
<h4>六神散</h4>
<p>治傷寒後及麻痘時行赤眼、熱毒、食毒、腫痛不開。</p>
<p>大黃　黃連　防風　赤芍藥　甘草　當歸（五錢）</p>
<p>上　咀，水煎溫服。</p>
<h4>菊花散</h4>
<p>仁齋方云：治肝受風毒，眼昏暗，翳障並治之。</p>
<p>甘草（二兩，炙）　甘菊花（四兩）　白蒺藜（炒，搗，去刺）　羌活　荊芥穗　木賊（去節，童便浸過一宿）　蟬蛻（去頭足，各三兩）</p>
<p>上　咀，水煎服。為末，每服二錢，茶清送下。</p>
<p>治熱眼常用。</p>
<p>防風　菊花　蔓荊子　枸杞子　甘草　白芷　川芎　密蒙花　五味子　羌活　白蒺藜上各等分為末，茶清送下，或酒調下。</p>
<h4>白芷散</h4>
<p>治頭痛眼疼。</p>
<p>石膏　川芎　川白芷　本　細辛上各等分，為末，燈芯湯送下。</p>
<h4>三花五子丸</h4>
<p>密蒙花　旋覆花　菊花（各五錢）　決明子　枸杞子　牛蒡子　菟絲子（酒浸，蒸熟，搗爛，焙乾）　地膚子　甘草上各等分，為末，蜜為丸，如梧桐子大，每服五六十丸，麥門冬湯送下。</p>
<h4>七子丸</h4>
<p>治腎氣上攻，肝虛膽盛，漸生障膜，不見光明者。</p>
<p>天麻子（又云是火麻子，可考）　當歸　萊菔子　決明子　青葙子　菟絲子　車前子　荊芥子上各等分，為末，蜜丸，又用當歸、生地黃研爛，和藥為丸，每服三十丸，空心鹽湯吞下。</p>
<h4>黃芩散</h4>
<p>治熱毒、赤腫、痛澀難開。</p>
<p>黃芩　天花粉　菊花　荊芥　淡竹葉　川當歸上各等分，為末，砂糖、訶子煎湯調送下。</p>
<h4>黃苓散</h4>
<p>治腎氣虛弱上攻目，昏暗澀痛，及生　肉侵睛，皆治之。</p>
<p>黃芩　白蒺藜　荊芥（各一兩）　蟬蛻（去頭、足）　羌活　蛇蛻（油浸，炙）</p>
<p>上各五錢，為末，麝香調酒送下。</p>
<h4>明目丸</h4>
<p>玄參　密蒙花上各等分，為末，糊丸，荊芥湯或菊花煎湯送下。</p>
<h4>人參散</h4>
<p>人參　木香　茯苓　附子（各五錢，炒）　玄參　木賊　鬱金　細辛　車前子　麝香　樟腦　青葙子上為末，用豬胰切片子，入椒、鹽少許炙焦，溫酒送下。</p>
<h4>木賊散</h4>
<p>木賊　乳香　細辛　烏頭（炒）　白芷　石膏　寒水石（二兩　）</p>
<p>上各等分，為末，每服二三錢，茶清送下。</p>
<h4>佛手散</h4>
<p>治腎虛，風毒瓦斯、赤眼。</p>
<p>木賊（去節）　天仙藤　黃連　黃柏　蒼朮　甘草　石決明　香附子上各五錢，為末，赤眼，砂糖水煎服。腎氣風毒，茶清下。氣眼，訶子湯下。</p>
<h4>槐花散</h4>
<p>治頭疼眼痛不止者。</p>
<p>槐花　龍膽草　茯苓　山梔子上各等分，為末，每服兩錢，砂糖水調下。</p>
<h4>荊芥散</h4>
<p>治頭風眼症。</p>
<p>僵蠶　川芎　旋覆花　防風　菊花　石膏　半夏　羌活　白芷上各等分，為末，蔥湯、茶清調下。</p>
<h4>荊芥湯</h4>
<p>治一切赤腫眼。</p>
<p>牛蒡子（一兩，炒）　蒼朮（五錢，米泔水浸）　防風（一兩）　槐花　荊芥（各一兩）　菊花（五錢）　甘草（一兩）　大黃（三錢）　木賊　石膏（各五錢）　龍膽草（五錢）　草決明（一兩）</p>
<p>上　咀，水煎服。為末，臨臥時米湯下亦可。</p>
<h4>密蒙花散</h4>
<p>治諸般眼病，遠視不明，見物稀依，黑白不分明，本教云：最治風有效。</p>
<p>羌活　密蒙花　石膏　木賊　防風　甘草　石決明　蒼朮　蒺藜　荊芥　蔓荊子上各等分，為末，訶子煎湯下。赤澀，砂糖水下。</p>
<p>治諸毒，痘瘡眼。</p>
<p>密蒙花　青葙子　決明子　車前子上各五錢，為末，用生薑一塊破開作三片，摻藥入內，合成一塊，濕紙包七重，灰火煨熟，空心服。</p>
<p>治酒毒眼。</p>
<p>防風　蒺藜　甘草上各等分，為末，每服二錢，酒調送下。</p>
<h4>羌活散</h4>
<p>治一切眼疾，頭風證。</p>
<p>羌活　白蒺藜　防風　川芎　石膏　荊芥　甘草上各等分，為末，每服二錢，酒調服或茶清下。</p>
<p>治眼赤腫，翳障。</p>
<p>羌活　大黃（煨）　密蒙花　甘草（炙）　蒺藜　荊芥　木賊　草決明　蟬蛻（炒，去頭足）　菊花　薄荷　黃芩　生地黃　黃連　當歸　淡竹葉　防風　赤芍藥（各等分）</p>
<p>上為末，訶子湯下，赤腫梔子湯下，翳障木賊湯下。</p>
<p>治男婦病毒瓦斯上攻成赤眼，或食毒，或障膜。</p>
<p>羌活　防風　黃連　升麻　地骨皮　玄參　川芎　柴胡　桔梗　石決明　細辛　黃芩　淡竹葉上各等分，為末，每服二錢，蜜糖水調下。</p>
<h4>蔓荊散</h4>
<p>治眼赤腫痛。</p>
<p>密蒙花　甘草　石決明　蔓荊子（包煨）　草決明　白蒺藜　蟬蛻　淡竹葉　蛇蛻（燒）</p>
<p>薄荷（二兩）　酸棗仁（五錢）</p>
<p>上為末，每服二三錢，薄荷湯下。</p>
<h4>竹葉散</h4>
<p>治眼疼痛，骨節熱，散血。</p>
<p>黃芩　天竺黃　胡黃連　朴硝　青蒿（五錢）　蟬蛻（一兩）　甘草（五錢）　大黃（煨，五錢）　側上為末，訶子湯下；小兒翳熱，金環薄荷湯下。</p>
<h4>肉散</h4>
<p>治　肉侵睛。</p>
<p>密蒙花　菊花　穀精草　車前子　黃連　羊肝子　朴硝　淡竹葉　羚羊角　黃芩　甘草　蔓荊子上各等分，為末，每服二錢，茶清或米湯調下。</p>
<h4>退頂散</h4>
<p>治頭疼目腫。</p>
<p>青黛（五錢）　樟腦（少許）　麝香（少許）</p>
<p>上為末，搐鼻中。</p>
<h4>透頂散</h4>
<p>退赤眼翳障。</p>
<p>凌霄花　鬧羊花　苓苓香上各一錢，為末，少許搐鼻中。</p>
<h4>退翳光明散</h4>
<p>木賊　菊花</p>
<h4>透光散</h4>
<p>治氣虛弱，頭風，冷熱昏疼，生翳障。</p>
<p>甜瓜子　地骨皮　牡丹皮　蟬蛻　黃芩　龍膽草　白朮　蒼朮　菊花上各等分，為末，每服一錢，荊芥湯下。</p>
<p>治翳障赤眼、　肉侵睛、攀睛。</p>
<p>青葙子　木賊　白芷　甘草　蟬蛻　楮實子　草決明　石決明　羌活　川芎　白蒺藜上各等分，為末，每服一錢，食後茶清或酒下俱可。</p>
<h4>二草散</h4>
<p>治膀胱或左或右有冷氣上攻，眼目赤腺，橫睛作痛。</p>
<p>夏枯草（二兩）　木賊（一兩）　甘草（五錢）</p>
<p>上為末，每服一錢，薄荷煎湯下，或茶清亦可。</p>
<h4>金鈴散</h4>
<p>治膀胱冷氣上攻，眼目昏澀。</p>
<p>茴香　枳殼（去穰）　破故紙（炒）　金鈴子　芎須（一兩）　茯苓　川芎（炮）</p>
<p>上為末，每服一錢，木通、黃連、生地黃、茴香煎湯下，酒下亦可。</p>
<h4>茯苓散</h4>
<p>治老人赤眼不退。</p>
<p>茯苓　人參　赤芍藥　梔子　甘草　麥門冬　藿香　瞿麥（各二兩）　連翹（三兩）</p>
<h4>黑神散</h4>
<p>治婦人血風爛眩，或產後月水不調，痛不可忍，撞打血攻瞳仁，散血行風。孕婦不可服。</p>
<p>茯苓　甘草　茴香　肉桂　生地黃　川芎　蒲黃　木香　白芷　玄胡索　當歸　赤芍藥上各等分，為末，每服三錢，酒調下，煎亦可。</p>
<h4>茶調散</h4>
<p>治婦人，男子風腫癢痛，翳障，爛眩，氣眼，流淚、昏暗。</p>
<p>川芎　石膏（炒）　防風　石決明　羌活　木賊　甘草（五錢）　薄荷　甘菊花上各一兩，為末，每服二錢，茶清調下。</p>
<h4>夢靈丸</h4>
<p>附子（煨）　川椒（酒浸）　山藥　茴香（各一兩）　青鹽（五錢）　黃　（一兩）</p>
<p>上為末，用豬腰子一副，研爛，面糊為丸，每服三十丸，荊芥煎湯調下，酒亦可。</p>
<h4>錦鳩丸</h4>
<p>石決明　白朮　防風　石膏（　）　蒺藜（炒）　青皮　甘草　蟬蛻　青葙子　旋覆花　白僵蠶　蛇蛻　川芎　車前子　羌活　木賊（各二兩）　人參（五錢）</p>
<p>上為末，蜜丸如彈子大，細嚼，青皮煎湯下。如爛眩，訶子湯下。治男婦老幼諸般翳障，血灌瞳仁，淚出不止，赤筋侵睛。</p>
<h4>大雷丸</h4>
<p>治氣眼淚出。</p>
<p>木賊（二兩，去節）　防風　川白芷　草決明（炒）　輕粉（炒）　蒼朮（制過）　荊芥　夜明砂上各等分，為末，糊丸，薄荷煎湯下，茶清下亦可。</p>
<h4>蘆薈丸</h4>
<p>治眼腫。</p>
<p>蘆薈　甘草　牛膝　柏子仁　細辛　人參　羚羊角上各等分，為末，蜜丸，每服二十丸，茶清送下。</p>
<h4>岩電丸</h4>
<p>治婦人血風，爛眩眼。</p>
<p>川芎　香附子　防風　甘草　細辛　杏仁　枸杞子　蒼朮　荊芥　蟬蛻（炒，去頭足）　菊花　赤芍藥上各等分，為末，蜜丸，鹽湯茶清俱可下，每服十五丸。</p>
<h4>夏枯草丸</h4>
<p>治眼睛痛。</p>
<p>川芎　菊花　石膏　夏枯草　香附子　五味子上各等分，為末，蔥，研爛取汁為丸，每服十三丸、燈芯煎湯下。</p>
<h4>天麻丸</h4>
<p>治大人、小兒、婦人風熱，氣攻眼，昏暗赤澀，　肉，生瘡，翳膜，久患偏正頭痛，目小淚出，常夾腦風疼，多見黑花。</p>
<p>天麻　南星　川芎　旋覆花　本　羌活　青皮　黑牽牛上各等分，為末，生薑汁為丸，每服三十丸，鹽湯下。</p>
<h4>蔥白丸</h4>
<p>治腎虛多昏，視物不明。</p>
<p>菟絲子（酒浸，二兩）　肉蓯蓉（一兩）　五味子　車前子（二兩）　肉桂　蒼朮（五錢）　乾薑（泡）　磁石（一兩，煮，煨）</p>
<p>上為末、蜜丸如梧桐子大，鹽湯送下。</p>
<p>巴戟　山藥　青鹽　破故紙　小茴香　牡丹皮（五錢）　蓯蓉　枸杞子（五兩）</p>
<p>上為末，蜜丸，每服三十丸，空心鹽湯送下。</p>
<p>石菖蒲　枸杞子（五錢）　甘草　辰砂（一兩）　遠志（一錢）　茯神（一兩）　麥門冬（一兩）</p>
<p>上為末，蜜丸，燈芯煎湯送下。</p>
<h4>白薇丸</h4>
<p>白薇　防風　羌活　石榴皮　白蒺藜　生地黃上各等分，為末，蜜丸，枸杞子煎湯送下。</p>
<h4>遠志丸</h4>
<p>治丁翳經年。</p>
<p>遠志　人參　白茯苓　柏子仁　細辛（五錢）　茺蔚子　草決明（二錢）　車前子上為末，蜜丸，米湯下。</p>
<p>仁齋云清心益肝，明目退翳。</p>
<p>人參　蘆薈（研）　茯苓　琥珀（研）　蔓荊子（各五錢）　川芎　生地黃　熟地黃（洗，焙）　蟬蛻（洗淨，二兩）　茺蔚子　細辛　車前子　白蒺藜　遠志（水浸，去心，晒乾，薑汁拌，焙焦）</p>
<p>上各七錢，為末，蜜丸，每服五十丸，菖蒲湯送下。</p>
<h4>虎睛丸</h4>
<p>治內外障，赤腫疼痛。</p>
<p>玄參（一兩）　苦參（一兩）　黃連（五錢）　草決明（二兩）　石決明（二兩）</p>
<p>上各為末，蜜丸，每服七丸，茶清送下。</p>
<h4>三奇丸</h4>
<p>治內障，三五年不見光者。</p>
<p>車前子　麥門冬　熟地黃上各等分，為末，蜜丸，每服三十丸，鹽湯送下。</p>
<h4>金釵丸</h4>
<p>治男婦肝腸積熱，肝虛目虛，膜入水輪，多淚，眼見黑花，視物不明，混睛冷淚，翳膜遮睛，腎臟虛憊，肝受虛熱，遠年近日暴赤，風毒瓦斯眼；又治男子干濕香港腳，消腫，逐風明目，其效如神，不可盡述也。</p>
<p>生地黃　熟地黃（各酒浸）　杏仁（去皮尖，火炒去油，研）　石蟹　牛膝（去蘆酒浸，一兩）　防風　枳殼（去穰，麩炒，四兩）</p>
<p>上各等分，為末，蜜丸，每服三十丸，鹽米湯下。</p>
<h4>紫金丸</h4>
<p>和方治眼。</p>
<p>川芎　當歸　川椒（各兩半）　楮實子　栝蔞根（二錢）　蔓荊子（炒，二兩）　薄荷　菊花（三錢）</p>
<p>密蒙花（三錢）　地骨皮（一兩，用甘草水浸過，焙乾）　荊芥穗（二錢，酒浸）　蛇蛻（油浸，酒浸，一兩）　白蒺藜（一兩，炒去刺）</p>
<p>上各為末，蜜丸，每丸重一錢，茶清下。昏蒙，當歸湯下；氣障，木香湯下；婦人血暈，當歸湯下。不問好嗜，熱酒失明與氣昏失明俱效。</p>
<h4>照水丹</h4>
<p>專治翳膜。</p>
<p>皂角　硼砂　海螵蛸　白丁香（七個）　冰片上為末，以黃蠟和為大餅子，如用時，針刺在火上炙，溶作小餅子，在眼翳上半日，用水盞照眼，其翳即隨藥落下水。</p>
<h4>犀角湯</h4>
<p>治小兒患　瘡，痘毒。眼睛枯破者不治，其余昏證半月不愈悉治之。</p>
<p>犀角（銼末）　石決明　羚羊角（銼末）　薄荷　羌活　麻黃　白蒺藜　甘草　人參　栝蔞根上各等分，為末，大者用一錢，小者用五分，蜜湯下，臨臥則要稱過錢分。</p>
<h4>四順散</h4>
<p>治婦人血虛眼。</p>
<p>黃連　黃柏　黃芩　甘草上各等分，為末，每服一錢，訶子湯下。</p>
<h4>桑白皮湯</h4>
<p>治白睛紅線。</p>
<p>桑白皮（二兩）　黃芩（五錢）　赤芍藥（五錢）</p>
<p>上各水煎服加梔子同煎</p>
<h4>治眼珠突起，赤腫流膿疼痛方</h4>
<p>茯苓　知母　羯羊角　人參　玄參　桔梗　犀角　霍香上各等分，水煎，食後服。</p>
<h4>秦皮散</h4>
<p>治大人，小兒諸般眼疾。</p>
<p>秦皮　黃連　滑石　肉桂</p>
<h4>二宜膏點藥</h4>
<p>治膀胱久患，上攻眼目，赤江腫疼痛難開。</p>
<p>宣黃連（五分、為末）　麝香　大甘蔗　樟腦上甘蔗頭，苗節，用刀開穴似竹筒，其蔗自然汁來蔗穴，又用宣黃連末一錢，文武火熬成膏，入冰片，麝香少許，研如膏點之。</p>
<h4>干柿膏</h4>
<p>治肝腎虛生黑花，視物不明。</p>
<p>穀精草為末，蜜丸如彈子大，將干柿劈開孔，入丸於內，飯上蒸七次，以碗盛，空心細嚼下，用干柿湯下。</p>
<h4>朱砂膏</h4>
<p>杏仁（二十個，泡，去皮尖油）　蕤仁（二百個，去皮尖油）　蜜（二兩）　硼砂　朱砂（各二兩）　冰片（少許）</p>
<p>上各為末，蜜熬　旋旋入藥，和均成膏，銅簪點。</p>
<h4>黃連膏</h4>
<p>黃連（一兩）　蜂蜜（二兩）　麝香（少許）</p>
<p>上為末，用蜜煎成膏入藥，以紙封埋土內一宿點火毒，以絹濾去滓，入冰片少許和均，點眼有效。</p>
<h4>春雪膏</h4>
<p>南硼砂　冰片（少許）　蕤仁（一兩，去皮尖油）　蜂蜜（一兩）</p>
<p>上為末，煉蜜成膏，用銅簪點眼。</p>
<h4>神仙太乙膏</h4>
<p>當歸　白芷　肉桂　赤芍藥　玄參　大黃　黃芩　香油　生地黃上為末，每藥一兩，用油四兩，熬成膏點眼。</p>
<h4>治眼諸般翳障昏暗方</h4>
<p>栝蔞根（六錢）　川芎　當歸（五錢）　楮實子（五錢，炒）　川椒（七錢）　甘草（三錢）　蟬蛻（三錢）　黃連（三錢）　甘菊花（一兩）　蔓荊子（二兩）　木賊（二兩，童便浸一宿，焙）　羌活（一兩）　地骨皮（一兩）</p>
<p>白蒺藜（五錢）　薄荷（五錢）　荊芥（一兩）　密蒙花（一兩）</p>
<p>上十七味為末，每丸一錢，食後服；有翳，米泔水下；昏暗者，當歸湯下；婦人血暈者，薄荷當歸湯下。忌葷腥、熱物、酒面。</p>
<h4>治冷淚方</h4>
<p>夏枯草（一兩）　香附（一兩）　蒼朮（二兩）　木賊（一兩）　白芷（一兩）　防風（二兩）　細辛（三錢）　赤芍藥（二錢）</p>
<p>上為末，食後服用，砂糖調熱水下。</p>
<h4>久補增肝力方</h4>
<p>治肝虛腎氣不足，常見黑花或生翳障，視物不明，迎風有淚。</p>
<p>車前子（二兩）　熟地黃　菟絲子（五兩），酒浸，蒸熟，研爛上為末，蜜丸，每服三十丸，空心茶清送下。</p>
<h4>兩目赤腫方</h4>
<p>治風氣攻注兩目，昏暗，多淚羞明，瞼生粟米，隱澀難開，或癢或痛，漸生翳障，視物不明，久患偏正頭風，牽引兩目細小，赤腫。</p>
<p>密蒙花　菊花　石決明　白蒺藜　羌活　木賊上各等分，為末，每服一錢，茶清調下。</p>
<h4>敗毒散</h4>
<p>治大人、小兒一切風氣熱毒攻眼，暴赤腫痛，隱澀羞明方。</p>
<p>羚羊角　川升麻　車前子上各等分，為末，每服三錢，食後米湯調下。</p>
<h4>治上焦受風，熱氣攻眼，暴赤羞明澀痛方</h4>
<p>龍膽草　菊花　草決明　甘草　川芎（各二兩）</p>
<p>上為末　麥門冬煎湯下，或熱水化砂糖調下。</p>
<h4>時行暴赤方</h4>
<p>治肝氣不足，內受風熱，上攻眼目，昏暗，視物不明，見風多淚，怕日羞明，隱澀難開，翳障，婦人血風爛眩。</p>
<p>梔子　荊芥　菊花　蔓荊子　玄參　細辛　防風　大黃　牽牛（炒）　黃芩　川芎　木賊（去節）　甘草（各一兩）</p>
<p>蒼朮（二兩，炒）　草決明（五錢）</p>
<p>上為末，每服一錢，冷酒調下。</p>
<h4>連翹散</h4>
<p>治心熱目赤。</p>
<p>連翹　柴胡　赤芍藥　甘草　當歸　梔子　木通　牛蒡子　防風　瞿麥　滑石　黃柏　車前子　黃芩　荊芥　蟬蛻（去頭足）　薄荷　生地黃上各等分，　咀，水煎服。</p>
<h4>黃連丸</h4>
<p>治心熱毒瓦斯眼。</p>
<p>黃連（四兩）</p>
<p>上為末，用羯羊肝，去筋膜，搗爛，生為丸，日進二服，每服五十丸，茶清送下。</p>
<h4>治虛眼方</h4>
<p>治男婦眼目紅腫。</p>
<p>當歸　熟地黃　茯苓　川椒　甘草　茴香　山藥　黃連　菊花上各等分，水煎服。</p>
<h4>瀉白散</h4>
<p>治肺與大腸有熱。</p>
<p>桑白皮　地骨皮（各一兩）　甘草（五錢）</p>
<p>上　咀，水煎服。</p>
<h4>瀉青散</h4>
<p>治肝熱眼赤腫。</p>
<p>當歸　川芎　龍膽草　大黃　羌活　山梔子上各等分，蜜為丸，每服三十丸，清湯下。</p>
<h4>治暴赤眼方</h4>
<p>用肥生薑、黃柏各一塊，將薑開孔入黃柏在內，再用薑片掩定，將黃泥封，用火煨熟，取自然汁點。</p>
<p>又方用雞子一個去黃，用清將黃連末五分入內，攪勻封固放臭泥內一宿，次日濾清點眼有神效。</p>
<h4>百解散</h4>
<p>治遠年近日血風赤眼、昏暗，皆是臟積熱毒。</p>
<p>當歸尾　赤芍藥　防風　木賊　白蒺藜　白朮　菊花　黃柏　大黃　北細辛　天花粉　羌活　蟬蛻　白芷　生地黃青葙子　香附子上各等分　咀，水煎服。</p>
<h4>明目益腎丸</h4>
<p>枸杞子（一兩）　當歸（一兩，酒浸）　巴戟（五錢、甘草水煮，去心）　五味子（五錢）　知母（十錢，酒炒）　山藥（五錢）　黃柏　茯神（一兩）　人參（五錢）　甘草（五錢）　生地黃（一兩，酒浸）　天門冬　菟絲子（一兩，酒浸，蒸熟、搗爛、焙乾，為末）</p>
<p>上為末，蜜丸，每服五十丸，鹽湯送下。</p>
<h4>滋陰地黃丸</h4>
<p>即熟地黃丸。</p>
<p>熟地黃（一兩）　生地黃（五錢）　柴胡（八錢）　天門冬　甘草（炙）　枳殼（麩炒）　地骨皮　黃連五味子（各五錢）　人參（二錢）　當歸身（酒浸，焙乾）　黃芩（各五錢）</p>
<p>上為末，每服百丸，茶清米湯俱可下。</p>
<h4>六味地黃丸</h4>
<p>治腎虛眼不耐神，神光不足。</p>
<p>蔓荊子　川芎　山藥　山茱萸（去核，各二兩二錢）　牡丹皮　熟地黃（三兩）　澤瀉　白茯苓（各八錢）</p>
<p>上為末，蜜丸，每服七十丸，空心米湯下。</p>
<h4>撥雲丸</h4>
<p>治翳障遮睛疼痛。</p>
<p>天花粉　甘草（炙）　蔓荊子　枳實（麩炒）　川芎　薄荷　菊花　白蒺藜　木賊（去節，童便浸一宿，各五錢）　密蒙花　荊芥穗　地骨皮　羌活（各一兩）　蛇蛻（油浸，炙干）　蟬蛻（去頭足）　黃連（各三錢）　當歸（一兩五錢）　川椒（七錢五分，炒，去殼）。生地黃（一兩五錢）</p>
<p>上為末，蜜丸，每服三十丸，食後臨臥之時服三次，米湯下。</p>
<h4>點眼神膏</h4>
<p>百草心（即羊膽）　百花心（即蜂蜜）　生人血（婦人初生男孩乳）</p>
<p>上味攪和一處，瓷罐盛貯，埋在土內，春三日，夏一日，秋七日，冬十日取出點眼，無問火眼風眼，疼痛，隱澀難開，羞明怕日。</p>
<h4>針赤眼</h4>
<p>臨泣二穴瀉，並在眼角發際進五分是穴。合谷二穴補、太陽二穴瀉。</p>
<h4>針眼痛</h4>
<p>淚出須先瀉後補穴道。光明二穴　合谷二穴　風池二穴　行間、睛明二穴。</p>
<h4>治婦人赤眼頭風方</h4>
<p>白芍藥　當歸　熟地黃　川芎　荊芥　細辛　羌活　石決明　甘草　菊花　木賊　薄荷　草決明　黃芩上各等分，　咀，水煎服，其痛即止。</p>
<h4>治婦人血犯肝經眼花見鬼方</h4>
<p>當歸　白芍藥　川芎　黃芩　茯苓　遠志　熟地黃　朱砂　燈芯　金箔　門冬子　山梔子上各等分，　咀，水煎溫服。</p>
<p>詩曰：血犯肝經致眼花，醫人盡道是風邪；狂言見鬼安知病，妄語如神未測耶。</p>
<h4>退赤</h4>
<p>當歸（五錢）　山梔子（一兩）　甘草（一錢，炙）　大黃（二錢，半生半熟）</p>
<p>上　咀，水煎食後溫服。</p>
<h4>除昏</h4>
<p>黃連（五錢）　菊花（二錢）　大黃（五錢）　夜明砂（水澄，少許）</p>
<p>上為丸，每服三十丸，食後鹽湯下。</p>
<h4>去熱</h4>
<p>黃芩（五錢）　梔子　甘草　大黃（五錢）　龍膽草上各等分，為丸，每服三錢，薄荷，砂糖水下。</p>
<h4>定痛</h4>
<p>防風（一兩）　當歸（五錢）　黃芩（五錢）</p>
<p>上水煎入砂糖少許，再煎溫服。</p>
<h4>止淚</h4>
<p>木賊（二兩，去節）　香附子（二兩，去毛，炒）　夏枯草（一兩）　蒼朮（一兩五錢，酒浸一夜，去皮）</p>
<p>上為末，面糊丸，每服二十丸，食後鹽湯送下。</p>
<h4>磨翳</h4>
<p>黃連（五錢）　白蒺藜（一兩）　熟地黃（二兩）　生地黃（一兩）</p>
<p>上為末，蜜丸，麥門冬湯送下。</p>
<h4>去赤</h4>
<p>川芎（五錢）　赤芍藥（二兩）　熟地黃　當歸（各一兩）</p>
<p>上　咀，水煎，食後溫服。</p>
<h4>除肉</h4>
<p>冰片（少許）　白硝（少許）　硼砂（少許）　白丁香（五粒）</p>
<p>上為末，煉蜜成膏點眼。</p>
<h4>活血</h4>
<p>當歸（一兩）　蘇木（一兩）</p>
<p>上為末，每服三錢，食後茶清送下。</p>
<h4>順氣</h4>
<p>人參　甘草　白朮　藿香　茯苓上各等分，棗三枚，食後溫服。</p>
<h4>瀉肝</h4>
<p>大黃（五錢）　荊芥（一兩）　甘草（三錢）</p>
<p>上　咀，水煎食後為末，每服三錢，白湯下。</p>
<h4>洗腎</h4>
<p>黑牽牛（五錢，半生，半炒）　大黃（三錢，生用）</p>
<p>上為末，每服二錢，空心燈芯湯送下。</p>
<h4>洗心</h4>
<p>澤瀉　黃連　甘草（二錢，炙）</p>
<p>上為末，每服二錢，燈芯湯食後送下。</p>
<h4>洗肺</h4>
<p>黃芩（二兩）　桑白皮（一兩）</p>
<p>上為末，每服三錢，燈芯湯食後送下。</p>
<h4>補腎</h4>
<p>蒼朮（一兩）　青鹽（五錢）　香附子（一兩）　夜明砂（一兩，水澄，去砂石）</p>
<p>上為末，蜜丸，每服三十丸鹽湯送下。</p>
<h4>補肝</h4>
<p>蒼朮（一兩）　黃連（一兩）　熟地黃（一兩）</p>
<p>上為末，蜜丸，每服三十丸，食後鹽湯送下。</p>
<h4>磨障</h4>
<p>硼砂　冰片（少許）　加朴硝上為末，點眼。</p>
<h4>倒睫</h4>
<p>石燕（一個）用碗磨水點之，常以黃連水洗，又摘去眼內倒睫拳毛，用石燕水搽之。</p>
<h4>消腫</h4>
<p>南星（二錢，為末）　生地黃（五錢，研）　加大黃（有驗）</p>
<p>上為末，用雞子清調，點太陽穴，以紙隔藥。</p>
<h4>去風</h4>
<p>荊芥（一兩）　地龍（五錢，去土）　大黃（五錢，炮）　蔓荊子（一兩）　甘草（五錢，炙）</p>
<p>上為末，每服二錢，食後茶清下。</p>
<h4>散血</h4>
<p>甘草（一兩，炙）　生地黃（一兩）　山梔子（一兩，去殼）</p>
<p>上　咀，每酒水各半盞同煎，食後服。</p>
<h4>止痛</h4>
<p>防風（一兩）　川芎（五錢）　甘草（五錢，炙）　當歸（五錢）</p>
<p>上為末，食後米湯調下。</p>
<h4>頭風</h4>
<p>梔子（二兩）　全蠍（五個）　薄荷（包，炒）　川烏（五錢，生）</p>
<p>上為末，酒糊丸，每服十丸，食後蔥湯下。</p>
<h4>退血</h4>
<p>細辛　紅花　川芎（三錢）　大黃（五錢，生用）　當歸（各五錢）</p>
<p>上　咀，水酒各半煎，溫服。</p>
<h4>治酒毒</h4>
<p>防己（一兩）　甘草（五錢）　白蒺藜（一兩）</p>
<p>上為末，每服二錢，白湯調下。</p>
<h4>護睛</h4>
<p>黃連（一兩）　當歸（五錢）　甘草（一兩）　赤芍藥（一兩）</p>
<p>上　咀，水煎，食後服。</p>
<h4>宣肺</h4>
<p>甘草（一兩）　麥門冬（一兩）　桑白皮（五錢）</p>
<p>上　咀，水煎，食後溫服。</p>
<h4>去肉</h4>
<p>朴硝（少許）　硼砂（如豆大）　白丁香（五粒）</p>
<p>上為末，點眼。</p>
<h4>天行赤眼</h4>
<p>青黛　草決明　槐花（三兩，梔子代）　黃柏（不拘多少）</p>
<p>上　咀，水煎，食後服。</p>
<h4>痘瘡</h4>
<p>甘草（三錢，炙）　綠豆皮（一兩）　枳殼（五錢）　蟬蛻（五個，去頭足）　龍膽草（一兩）</p>
<p>上為末，每服二錢，麥門冬煎湯調下。</p>
<h4>冷淚</h4>
<p>夏枯草　香附子上各等分，為末，麥門冬湯調下。</p>
<h4>常洗</h4>
<p>黃連　黃柏　梔子　銅青（一錢）　蔓荊子　當歸（五錢）　五倍子（一錢）</p>
<p>上為末，熱湯泡洗。</p>
<h4>常搐</h4>
<p>薄荷（五錢）　鬧羊花（一兩）　川芎（三錢）　羌活（一兩）</p>
<p>上為末，搐鼻。</p>
<h4>去翳</h4>
<p>豬胰（一錢）　樟腦（少許）　白丁香（十五粒）</p>
<p>上為末，以豬胰為膏點之。</p>
<p>鉛丹（五錢）　海螵蛸上為末，熱湯調洗。</p>
<h4>搐鼻</h4>
<p>川芎（一錢）　鵝不食子（一錢，晒乾）</p>
<p>上為末，吃噙水一口後，將藥搐鼻中。</p>
<h4>通用</h4>
<p>川芎　香附子（三錢）　甘菊花（各一兩）</p>
<p>上為末，砂糖丸，熱湯送下。</p>
<h4>爛眩</h4>
<p>連翹　黃連上各等分，為末，沸湯泡洗眼皮。（方名美玉散。）</p>
<p>川芎　當歸　菊花　白芍藥　生地黃上各等分，為末，每服三錢，白湯送下。</p>
<h4>赤腫</h4>
<p>黃芩　枳殼　荊芥　赤芍藥上各等分，煎熟，將大黃泡，空心服。</p>
