<header><h1>理虛元鑑</h1></header>
<dl class="元資料" data-type="book">
<div><dt>作者</dt><dd>汪綺石</dd></div>
<div><dt>朝代</dt><dd>明</dd></div>
<div><dt>年份</dt><dd><data value="1368/1644">公元1368年至公元1644年</data></dd></div>
</dl>
<h2>陳序</h2>
<p>歲甲戌，予守毗陵，得一士，柯子心齋。其先世浙慈人也，家傳忠濃，多業醫者，令祖錦堂家學，隱識為遠到材，迄今二十載矣。一衿潦倒，蹭蹬場屋，豈其愛博而不專歟？顧多才者多藝，不相妨也，遇合會有時耳。予患頭風，訪醫仰藥，無纖毫之效。心齋診予脈，乃云治病不求其本，真為頭痛治頭。緣制一方，卻與所患不相涉，服後痛漸愈，不啻陳琳之檄。及見伊芳令伯德修所刻《理虛元鑒》，因知心齋制方之意之所由來也。德修柯君，雖未晤言，其學業之淵博，已於所訂者窺見一斑。且是書沉埋剝蝕，歷有年所，當世不知有是書，即見之，誰復知為綺石作者。今柯君不掠美，以付剞劂，參訂而表彰之，更可見其用心之濃矣。噫！學固貴崇其本，業必有待乎時，不獨醫道也。是為序。</p>
<p><u>時乾隆三十六年歲次辛卯嘉平月閩中陳焱晉亭氏題於姑蘇署次</u></p>
<h2>華序</h2>
<p>余年未三十，獲交柯君德修，今六十有九矣。君業醫，余喜地學，輒談論天下技術。地關一地誤廿載後，醫誤旦夕間耳。君天姿穎敏，幼就塾同學，分授經，悉耳熟背誦，故潛心醫學，得深造焉。本世醫，復從明師指授，探源溯流，廣搜博記，多購未見書，《理虛元鑒》，其一也。君於疑難症立辨，制方不停睫，案簡當，老醫攝服。入都，名大振，醫院諸人避席。太原守病邀入幕，山右撫司以下，咸以扁、盧目之。君善導引，長余數歲，健食如虎咽，步履捷於少壯人。余日就衰頹，每以屏俗，緣毋懈系功為最。君之邃於醫，不但貫串諸家，得於靜悟者尤多，來余家劇談不厭，延治者急甚，久之乃去。今欲刻《理虛元鑒》公諸世，余四十余年知己，述其概，弁諸簡端。</p>
<p><u>乾隆三十六年歲次辛卯三月朔日牛毛道人華傑撰</u></p>
<h2>柯序</h2>
<p>醫學祖《靈》、《素》、《難經》，而方不傳。制方首推仲景，嗣後各立一說。仲景治冬寒，而河間明溫暑，潔古理脾胃，東垣講內傷，子和攻痰飲，丹溪究陰虛，六家為醫學之宗主寒、傷寒；巢元方以溫暑分出熱病、中暑；羅謙甫以內傷分出勞傷、食傷；隱君以痰飲分出濕痰、燥痰；叔和以陰虛分出真陰、真陽。其論尤為明晰。古人立說，各具一長。合其長，乃稱全璧。余遍觀諸家，虛症猶未盡厥奧。雍正乙巳仲秋，購得綺石先生《理虛元鑒》，實發前人所未發。其治陰虛，主清金，肺為五臟之天也；治陽虛，主健中，脾為百骸之母也。其方甚簡，藥味無多。《神農本經》藥三百六十五種，效法周天度數。仲景一百十三方，取《本經》藥九十一種，入《傷寒論》中。或合經之大綱，或合經之一目，乃詳於傷寒，推及諸病也。綺石先生獨詳於虛勞，蓋風、寒、暑、濕，多乘虛而入，正氣固，則受病少，治虛勞是治其本也，諸病其余事耳。余素留心於六氣司天，主客進退，乘除偏勝，而人病焉。不諳司天審病，誤投藥餌者過半，《元鑒》亦參及之，則綺石之論虛勞，猶仲景之論傷寒，非舉一而廢百也。韓昌黎謂孟子之功不在禹下，綺石豈在仲景下耶？醫道大而微，不知天、地、人，不可與言醫，不通儒、佛、仙，不可與言醫。余淺昧，愧未貫徹，但愿業醫者，廣為搜討，會其指歸，則吾道幸甚！斯世幸甚！</p>
<p><u>乾隆歲次辛卯初夏古吳柯懷祖題於復韻齋</u></p>
<h2>原序</h2>
<p>綺石先生醫道高玄，虛勞一門，尤為獨闡之宗。嘗曰：人之稟賦不同，而受病亦異。顧私己者，肝腎病少；矜志節者，肝腎病多。病起於七情，而五臟因之受損。先生憫世人之病虛勞者，委命於庸醫，而輕者重，重者危，深可痛傷。特校昔賢之書幾千百家，如四時各司一氣之偏，未逢元會。乃伏讀《素》、《靈》而啟悟門，得其要領，參訂補注，集成一書。辨症因，詳施治，審脈法，正藥訛，精純邃密，後岐黃而啟發者也。其功豈淺鮮哉！奈書成身歿，易簀之時，猶諄諄以斯世之責，至囑於兩世兄及諸門下士，而不肖亦與聞遺命焉。今先生雖逝，而道在人間。長君伯儒，能讀其書；次君東庵，能繼其志；猶子濟明及門下武林君賓沈子，能廣其傳。然則先生固未嘗逝也。先生不忍後世病此者，夭折而莫救，故臨終以山中宰相事業，專付仲君。會世變，遂棄棘闈而潛心於箕裘之紹。是書之成，實其發明者居多，所恨身丁喪亂，受梓無人，大懼淹沒先生之德。是望後之仁人君子，體先生之心，登此書於梨棗而廣傳之，則吾儕幸甚。天下後世，讀其書飲其澤者幸甚。</p>
<p><u>受業趙何宗田氏謹識</u></p>
<h2>卷上</h2>
<h3>治虛脈法總括</h3>
<p>脈來緩者，為虛，軟、微、弱皆虛也。弦為中虛；細而微者，氣血皆虛；小者，氣血皆少。又脈芤血氣脫，沉、小、遲者，脫氣。（以上皆勞倦之脈，虛怯勞熱之症也。）又微而數者，為虛熱；微而緩滑者，為虛痰。</p>
<h3>治虛脈法分類</h3>
<p>一、心腎不交，兩寸弦數，兩尺澀。《紀傳》曰：左寸脈遲，心虛；右寸微滑，精氣泄二、夢泄遺精，尺寸脈遲而澀。心腎不交，夢淫精泄，真元耗散，不壽之征。又曰：寸數脾弦，兩尺細數，精離位。青年左尺微澀，色欲傷。《正傳》曰：諸芤動微緊，男子失精，女鬼交。心脈短小，夢遺精。尺數，相火熾而遺。</p>
<p>三、漏精，右尺弱如發細，天精搖搖，寒精自出，馬口有黏膩之累，房事不久，絕孕。</p>
<p>四、腎痹，寸虛弱而澀，尺沉細而數。</p>
<p>五、夜熱，微弦虛數，或沉或澀，軟弱而細。</p>
<p>六、骨蒸，數大，或滑、急、促、細而數。</p>
<p>七、乾咳嗽，左寸澀數，右大急數。</p>
<p>八、虛痰嗽，軟細弱，氣口微細而數，或滑大而虛。</p>
<p>九、血虛痰火，左寸澀而弦數，右寸虛大而滑，或數而澀，尺中虛澀。又曰：細而緊數，細則血虛，數必咳嗽，緊則為寒。寒因血虛而客於肺經，反而作熱，故脈數而咳嗽也。</p>
<p>十、咳嗽痰中帶血珠，右寸滑而數，或濡而弱，即煎厥之症。</p>
<p>十一、咳嗽帶血，寸數而大，或滑而緊急，關、寸弦而澀，即煎厥。</p>
<p>十二、勞嗽吐血、咳血、嘔血、咯血，即薄厥。脈得諸澀、濡，為亡血，芤為失血，澀為血吐血、唾血，脈遲小弱者生；實大者死。唾血，堅強者死；濡滑者生。</p>
<p>十三、傳尸勞，《脈經》云：男子平人脈滑大為勞極，虛澀亦為勞。</p>
<p>十四、氣口脈弦而數者，脈痿也。（《脈訣》氣口數而虛澀，肺痿之形。疑即肺痿之誤。）</p>
<p>十五、六脈軟弱，陽虛極也。</p>
<h3>治虛有三本</h3>
<p>治虛有三本，肺、脾、腎是也。肺為五臟之天，脾為百骸之母，腎為性命之根，治肺、治脾症之宗；立齋究明補火，謂太陽一照，陰火自弭。斯三先生者。皆振古之高人，能回一時之習尚，辟岐黃之心傳者。然皆主於一偏，而不獲全體之用。是以脾胃之論，出於東垣則無弊執丹溪以治者，全以苦寒降火，有礙於中州之土化。至於「陽常有餘，陰常不足」，此實一偏之見，難為古人諱者，而後人沿習成風，偏重莫挽，凡遇虛火虛熱，陰劇陽亢之病，輒以黃柏補腎、知母清金，未能生腎家真水，而反以熄腎家真火。夫腎者，坎象，一陽陷於二陰之間。二陰者，真水也。一陽者，真火也。腎中真水，次第而上生肝木，肝木又上生心火。腎中真火，次第而上生脾土，脾土又上生肺金。故生人之本，從下而起，如羲皇之畫卦然。蓋腎之為臟，合水火二氣，以為五臟六腑之根。真水不可滅，真火獨可熄乎？然救此者，又執立齋補火之說，用左歸、右歸丸，不離蓯蓉、鹿茸、桂、附等類，而罔顧其人之有鬱火無鬱火，有鬱熱無鬱熱，更不慮其曾經傷肺不傷肺。夫虛火可補，理則誠然。如補中益氣湯，用參、　、朮、草之甘溫以除大熱。然苟非清陽下陷，猶不敢輕加升、柴、歸、薑辛熱之品，乃反施之鬱火鬱熱之症，奚啻抱薪救火乎！余唯執兩端以用中，合三部以平調。一曰清金保肺，無犯中州之土。此用丹溪而不泥於丹溪也。一曰培土調中，不損至高之氣。此用東垣而不泥於東垣也。</p>
<p>一曰金行清化，不覺水自流長。乃合金水於一致也。三臟既治，何慮水火乘時，乃統五臟以同歸也。但主脾、主腎，先賢頗有發明，而清金保肺一著，尚未有透達其精微者，故余於論肺也獨詳。此治勞之三本，宜</p>
<h3>治虛二統</h3>
<p>治虛二統，統之於肺、脾而已。人之病，或為陽虛，或為陰虛。陽虛之久者，陰亦虛，終是陽虛為本；陰虛之久者，陽亦虛，終是陰虛為本。凡陽虛為本者，其治之有統，統於脾也；陰虛為本者，其治之有統，統於肺也。此二統者，與前人之治法異。前人治陽虛者，統之以命火，八味丸、十全湯之類，不離桂、附者是；前人治陰虛者，統之以腎水，六味丸、百補丸之類，不離知、柏者是。余何為而獨主金、土哉？蓋陰陽者，天地之二氣。二氣交感，乾得坤之中畫而為離，離為火；坤得乾之中畫而為坎，坎為水。水火者，陰陽二氣之所從生，故乾坤可以兼坎離之功，而坎離不能盡乾坤之量。是以專補腎水者，不如補肺以滋其源，肺為五臟之天，孰有大於天者哉？專補命火者，不如補脾以建其中，脾為百骸之母，孰有大於地者哉？</p>
<h3>陽虛三奪統於脾</h3>
<p>就陽虛成勞之統於脾者言之，約有三種：曰奪精，曰奪氣，曰奪火。氣為陽，火者，陽氣之則火與氣相次俱竭。此奪精之兼火與氣也。勞役辛勤太過，漸耗真氣。氣者，火之屬，精之用。氣奪，則火與精連類而相失。此奪氣之兼火與精也。其奪火者，多從奪精而來，然亦有多服寒藥，以致命火衰弱，陽痿不起者。此三種之治，奪精、奪火主於腎，奪氣主於脾。余何為而悉統於脾哉？蓋陽虛之症，雖有奪精、奪火、奪氣之不一，而以中氣不守為最險。故陽虛之治，雖有填精、益氣、補火之各別，而以急救中氣為最先。有形之精血，不能速生；無形之真氣，所宜急固。此益氣之所以切於填精也。回衰甚之火者，有相激之危；續清純之氣者，有沖和之美。此益氣之所以妙於益火也。夫氣之重於精與火也如此，而脾氣又為諸火之原，安得不以脾為統哉？余嘗見陽虛者，汗出無度；或盛夏裹綿；或腰酸足軟而成痿症；或腎虛生寒，木實生風，脾弱滯濕，腰背難於俯仰，　股不可屈伸，而成痹症；或面色皎白，語音輕微。種種不一，然皆以胃口不進飲食，及脾氣不化為最危。若脾胃稍調，形肉不脫，則神氣精血可以次第而相生，又何有亡陽之虞哉？此陽虛之治，所當悉統於脾也。</p>
<h3>陰虛之症統於肺</h3>
<p>就陰虛成勞之統於肺者言之，約有數種，曰勞嗽，曰吐血，曰骨蒸，極則成尸疰。其症有兼嗽者；有竟從勞嗽起，而兼吐血者；有竟從吐血起，而兼勞嗽者；有久而成尸疰者；有始終只一症，而或痊或斃者。凡此種種，悉宰於肺治。所以然者，陰虛勞症，雖有五勞、七傷之異名，而要之以肺為極則。故未見骨蒸、勞嗽、吐血者，預宜清金保肺；已見骨蒸、勞嗽、吐血者，急宜清金保肺；曾經骨蒸、勞嗽、吐血而愈者，終身不可忘護肺。此陰虛之治，所當悉統於肺也。</p>
<h3>虛症有六因</h3>
<p>虛症有六因：有先天之因，有後天之因，有痘疹及病後之因，有外感之因，有境遇之因，有醫藥之因。</p>
<p>因先天者，指受氣之初，父母或年已衰老，或乘勞入房，或病後入房，或妊娠失調，或色欲有虧，則至二十左右，易成勞怯。然其機兆，必有先現，或幼多驚風，骨軟行遲；稍長讀書不能出聲，或作字動輒手振，或喉中痰多，或胸中氣滯，或頭搖目瞬。此皆先天不足之征。</p>
<p>宜調護於未病之先，或預服補藥，或節養心力，未可以其無寒無熱，能飲能食，並可應接世務，而恃為無懼也。即其病初起，無過精神倦怠因後天者，不外酒色、勞倦、七情、飲食所傷。或色欲傷腎，而腎不強固；或勞神傷心，而脾弱不復健運。先傷其氣者，氣傷必及於精；先傷其精者，精傷必及於氣。或發於十五、六歲，或二十左右，或三十上下，病發雖不一，而理則同歸耳。</p>
<p>因痘疹及病後者，痘乃先天陽毒，疹乃先天陰毒。故痘宜益氣補中，則陽毒之發也淨，而終此脾泄胃弱，腹痛氣短，神瘁精虧，色白足痿，不耐勞動，不禁風寒，種種氣弱陽衰之症，皆由痘失於補也；凡肺風哮喘，音啞聲嘶，易至傷風咳嗽等類，種種陰虧血枯之症，皆由疹失於清也。至於病後元氣尚虧，更或不自重命，以勞動傷其氣，以縱欲竭其精，頃間五臟齊損，恆致不救，尤宜慎之。</p>
<p>因外感者，俗語云：傷風不醒結成癆。若元氣有餘者，自能逼邪使出；或腎精素濃，水能救，不至於成癆也。若其人或酒色無度，或心血過傷，或肝火易動，陰血素虧，肺有伏火，一傷於風火，因風動則癆嗽之症作矣。蓋肺主皮毛，風邪一感於皮毛，肺氣便逆而作嗽。似乎傷風咳嗽，殊不經意，豈知咳久不已，提起伏火，上乘於金，則水精不布，腎源以絕，且久嗽失氣，不能下接沈涵，水子不能救金母，則勞嗽成矣。</p>
<p>因境遇者，蓋七情不損，則五勞不成，惟真正解脫，方能達觀無損，外此鮮有不受病者。從窘迫難堪。此皆能亂人情志，傷人氣血。醫者未詳五臟，先審七情，未究五勞，先調五志，大宜罕譬曲喻，解縛開膠。蕩佚者，惕之以生死；偏僻者，正之以道義；執著者，引之以洒脫；貧困者，濟之以錢財。是則仁人君子之所為也。</p>
<p>因醫藥者，本非癆症，反以藥誤而成。或病非因感冒而重用發散，或稍有停滯而妄用削伐，遂致邪熱膠固，永不得解。凡此能使假者成真，輕者變重，所宜深辨也。</p>
<h3>心腎論</h3>
<p>夫心主血而藏神者也，腎主志而藏精者也。以先天生成之體論，則精生氣，氣生神；以後天精、夢泄種種精病者，必本於神治；於怔忡、驚悸種種神病者，必本於氣治。蓋安神必益其氣，益氣必補其精。</p>
<h3>心腎不交論</h3>
<p>虛勞初起，多由於心腎不交，或一念之煩，其火翕然上逆，天精搖搖，精離深邃。淺者夢而成陽虛一路，不為陰虛之症也。其單見心腎不交，滑精夢泄，夜熱內熱等候者，此為勞嗽之因，而未成其症也。其心腎不交，心火炎而乘金，天突急而作癢，咯不出，咽不下，喉中如有破絮黏塞之狀，此勞嗽已成之症也。</p>
<h3>心腎不交與勞嗽總論</h3>
<p>在心腎不交之初，或夢泄滑精，體倦骨痿，健忘怔忡；或心脾少血，肝膽動焰，上冒下厥。</p>
<p>桂，交心腎於頃刻；歸脾丸內以龍眼、木香，甘溫辛熱之品，直達心脾，主補中而生血，引經文主明下安之義，以補火為治。故凡火未至於乘金，補火亦是生土之妙用，而何慮乎溫熱之不可從治也哉？若夫陰劇陽亢，木火乘時，心火肆炎上之令，相火舉燎原之焰，肺失降下之權，腎鮮長流之用，以致肺有伏逆之火，膈有膠固之痰，皆畏非時之感，胸多壅塞之邪，氣高而喘，咳嗽頻仍，天突火燃，喉中作癢，咯咽不能，嗽久失氣，氣不納於丹田，真水無以制火，於是濕挾熱而痰滯中焦，火載血而厥逆清　，伏火射其肺系，則能坐而不能臥，膈痰滯乎胃絡，則能左而不能右。斯時急宜清金保肺，以宣清肅之令；平肝緩火，以安君相之位；培土調中，以奠生金之母；滋陰補腎，以遏陽光之焰。一以中和為治，補其虛、載其陷、鎮其浮、定其亂、解其爭、制其過、潤其燥、疏其淹滯、收其耗散，庶有濟也。若執補火之說，用辛熱之品，與彼寒涼傷中者，異病而同治，豈不殆哉！</p>
<h3>五交論</h3>
<p>勞嗽吐血之症，其難於脾肺之交，不必遍論五臟，但取其要處言之。夫虛症總由相火上炎，物能制木之過，又能滋木之枯，此治金木之交也。至於木得火勢而上乘於金，金失降下之令，已不能浚水之源，木強土受其克，水寡於畏，亦乘風木之勢而上乘，淆混於胸膈而為痰涎，壅塞膠固稠膩不可開，以礙清肅之化。此因木土不交，水又乘之而肆虐。粗工每以陳、半、香、朴治痰之標，殊不知此乃水乘木火而上泛為痰，比之雜症二陳所主之痰，天淵不同。</p>
<p>余但於清金劑中，加牛膝、車前、澤瀉，以導水下行，土自安位，金水準調，天地清肅矣。</p>
<p>此調木土之交，及水土之變也。</p>
<h3>吐血論</h3>
<p>有不從勞嗽，而吐血先之者，心火、肝木之為病主也。然又有煎厥、薄厥之分。煎厥者，從為火，火熱為風，風火相薄，厥逆上衝，血遂菀亂涌出，其勢較急。煎厥單動於心火，不得風助，故無勢而緩。薄厥兼動於肝火，火得風助，故有勢而急。大抵性急多盛怒者，往往成薄厥。且是症也，又當防其瘀血滲入肺系，鬱而不散，以至積陽為熱，積陰為疰，喘嗽交加，病日以深而成勞嗽也。大凡治吐血，宜以清金保肺為主，金令既肅，肝木得其平，而火自不敢肆。至於骨蒸之久，煎灼真陰，火炎傷肺，亦宜急化其源，庶乎水得所養，而火漸熄，不至為勞嗽之漸也。</p>
<h3>紅症初起治法</h3>
<p>吐紅薄厥之症，初治用犀角地黃湯不效者，以犀、地雖有涼血止血之功，而其力尚緩故也。凡吐血正涌之時，法宜重在止血，宜以炒蒲黃、炒側柏葉、棕灰三味為主，佐以紫菀、犀角、地黃、白芍之類；若血勢過盛不止者，再用清金散、碧玉丹，一墜其火即降；更不止，再加童便。甚至血勢涌溢，並湯藥無隙可進者，須以熱酒濯其兩足，自能引火下行，而血漸止，然後投以上藥可也。</p>
<h3>勞嗽症論</h3>
<p>余於勞嗽症，嘗列四候以為準。夫四候者，肺有伏逆之火，膈有膠固之痰，皆畏非時之感，胸多壅塞之氣。然此四候，以肺火伏逆為主，余三候則相因而至。蓋肺為五臟之天，司治節之令，秉整肅之化，外輸精於皮毛，內通調乎四瀆。故飲食水穀之精微，由脾氣蒸發以後，悉從肺為主，上榮七竅，下封骨髓，中和血脈，油然沛然，施於周身，而何痰涎之可成哉？惟肺為火薄，則治節無權，而精微不布於上下，留連膈膜之間，滯而為痰，痰老則膠固而不可解，氣無以宣之也。又肺主皮毛，外行衛氣，氣薄而無以衛外，則六氣所感，怯弱難御，動輒受損，則本病而復標邪乘之。或本火標風，則風助火勢，而清火易滯其氣，驅風必燥其營；本火標寒，則寒火結聚，而散寒則火煽，降火必寒收；本火標暑，則暑火同氣；本火標濕，則濕火交煎。虛勞一遇此等標邪觸發，或兼傷寒，或兼瘧痢，必至輕者重而重者危。故於時已至而氣未至，時未至而氣先至，或至而太過、至而不及等，皆屬虛風賊邪，所宜急防之也。胸者，心肺交加之部，火炎攻肺，而氣不得以下輸，則氣多壅塞，尤不當以寬胸理氣之劑開之。總之，肺氣一傷，百病蜂起，風則喘，痰則嗽，火則咳，血則咯，以清虛之臟，纖芥不容，難護易傷故也。故於心腎不交之初，火雖乘金，水能救母，金未大傷者，預當防維清肅之令，以杜其漸，而況勞嗽已成，可不以保肺為治哉！</p>
<h3>勞嗽初起治法</h3>
<p>勞嗽初起之時，多兼表邪而發。蓋肺部既虧，風邪乘虛而入，風寒入肺，化為火邪，邪火與內火交灼，則肺金愈傷，而咳嗽因之不止。庸醫但知勞嗽為五內本病，而驟以　、朮益其氣，歸、地補其血，甚以白芍、五味、棗仁斂其邪，則邪氣深滯腠理，膠固而難拔矣。余凡遇此症，先以柴胡、前胡清理表邪，及桔梗、貝母、兜鈴之類，清潤而不泥滯者，以清理肺金，或六七劑後，方用清涼滋陰之品，以要其終。但柴胡可多用幾劑，前胡止可用一二劑，若表邪一清，柴胡亦須急去也。</p>
<h3>乾咳嗽論</h3>
<p>乾咳者，有聲無痰，病因精血不足，水不濟火，火氣炎上，真陰燔灼，肺臟KT　澀而咳也。丹捷。午後咳，陰虛也；黃昏咳，火氣上感於肺也。</p>
<h3>咳嗽痰中帶血珠血絲</h3>
<p>此症大約皆從鬱火傷肺，肺金受邪，不能生水，水火不相濟，則陰火亢陽，而為痰血凝結，而成。若不早治，肺金受傷之至，火盛血逆，成塊成片，夾痰而出，有時無痰而出，輕則見於清晨，甚則時時頻見，或拂鬱憤怒，則隨觸隨見，即煎厥也。不急治，則為薄厥，而病篤矣。</p>
<h3>論勞嗽吐血能治不能治大旨</h3>
<p>血症生死之辨，以大肉不消者，其病輕；大肉漸消者，其病重；若大肉脫盡者，萬無生理。</p>
<p>長起，則猶可治；設使仍前不長者，斷然不可治，即使飲食自健，亦不過遷延時日而已。每見患怯之人，起居如常，正當進膳之時，執匕箸而去者，即此症也。凡患此症者，如心性開爽，善自調養，又當境遇順適，則為可治；若心性系滯，或善怒多郁，處逆境而冤抑難堪，處順境而酒色眷戀，又不恪信醫藥，死何疑焉？</p>
<h3>虛勞內熱骨蒸論</h3>
<p>虛勞發熱，皆因內傷七情而成。人之飲食起居，一失其節，皆能成傷，不止房勞一端為內傷因醉飽後入房，及憂思勞役，或病飲食失調，暨大喜、大怒、大痛、大淚，嚴寒酷暑房勞，不能調攝，邪氣入內而成注。注之為言住也，外邪深入，連滯停住而不能去也。注不治則內變蒸，蒸失治則咳嗽、吐痰、咳血，而病危矣。故夜熱、內熱、虛熱，為虛勞之初病，骨蒸、內熱、潮熱，則虛勞之本病也。宜及時調治，毋使滋蔓。治法以清金、養榮、疏邪、潤燥為主，則熱自退矣。</p>
<h3>虛火伏火論</h3>
<p>諸火可補火，諸熱不可補火。又他臟有虛火可補火，肺臟有伏火不可補火。斯言實發前人未有倏無。其發也，盡有燎原之勢，或面紅頰赤，或眩暈厥冒，種種不同，而皆可以溫潤補腎之劑，以收其浮越，而引歸於性根命蒂之中，補之可也。何謂諸熱不可補火？熱者，實熱也。謂其先動於氣，久而漸著於形，如燒熱之物相似。其見於症，有定時，有定處，無升降，無變遷。其夜間準熱日間不熱者，為夜熱；其裡面恆熱而皮膚未熱者，為內熱；其熱如在骨髓間蒸出而徹於皮膚者，為骨蒸勞熱。此種種蒸熱，有清法，無溫理，補之不可也。何謂他臟有虛火可補火，肺臟有伏火不可補火？蓋肺與四臟有別，如肝腎龍雷之火可補而伏，脾胃寒格之火可補而越，心家虛動之火可補而定，惟肺之一臟屬金，金畏火克，火喜鑠金，故清肅之臟最畏火。此言其臟質也。肺居膈上，其氣清，其位高，火若上衝則治節失令，而痰滯氣塞，喘嗽交加，故至高之部極畏火。此以部位言之也。然或偶然浮越之火，猶不犯此禁，獨至伏逆之火，出於陰虛陽亢，火乘金位，謂之賊邪。以其火在肺葉之下，故名伏；以其火只星星，便能使金令捍格，故名逆。凡若此者，症必膠痰固膈，吸短呼長，脈必細而數。細為血虛，數為火勝。此在少年為勞嗽之根，四十以外，為血虛痰火之兆。宜用清法，無用溫理，其斷不可補者也。</p>
<h3>遺精夢泄論</h3>
<p>精雖藏於腎，而實主於心。心之所藏者神，神安則氣定，氣為水母，氣定則水澄，而精自藏走，精逐而流也。且心主血，心血空虛，則邪火上壅，而淆其靈舍，於是神昏志蕩，天精搖搖，淫夢交作，而精以泄。其甚者，不待夢而時泄。此時以降火之法治之，而火不可降，即以龍骨、牡蠣澀精之品施之，亦屬隨止隨發。殊不知神不歸舍，斯精不歸元，故腎病當治其心，宜以養氣安神為主，以潤燥滋血之品為先，君火既安，相火自能從令，神清氣爽，而精安有不固者哉？人身之精，融化於周身，如樹中膠汁，本無形質，至因情動搖，遂各成形質而出。其所出者出，皆為精所施化，多出皆能傷精，但與遺精者相較，則感有淺深，質有濃薄，傷有輕重耳。</p>
<h3>腎痹論</h3>
<p>此即遺精痿症也。其初起於酒色不節，精血日竭，水火俱衰，肝風、脾濕、腎虛生寒，三氣元，而筋骨日瘁也。法宜清氣安神，以養心脾之血；潤燥滋血，以歸肝腎之陰。</p>
<h3>白濁白淫論</h3>
<p>白濁、白淫，從新久定名。初出莖中痛而濃濁如膏，謂之白濁。久之不已，精微弱而薄，痛淫，則火衰而寒勝矣。此因腎家元氣降而不升，故黏絲帶膩，馬口含糊而不已。治法宜回陽氣而使上升，固其精元而不使下陷，則病自止矣。外此有症非屬虛，而濕熱下注者，宜從丹溪治法。又有所求不遂，志意郁結而精泄，及氣虛人失精氣而遺者，皆非虛病也。</p>
<h3>女人虛勞</h3>
<p>女人虛勞，有得之郁抑傷陰者，有得之蓐勞者，有得之崩帶者。其郁抑傷陰，雖以調肝為急以為治也。蓐勞非即是勞嗽，蓐勞重，然後傷肺而勞嗽以成。治當以歸脾、養榮，兼清金主之。別有氣極一種，短氣不能言者，卻不在陽虛例，乃肺病也。此症雖陳皮，亦在所忌。</p>
<h3>尸疰傳尸勞等症</h3>
<p>夫勞極之候，血虛血少，艱於流布，甚至血不脫於外，而但蓄於內，蓄之日久，周身血走之蟲，遂成尸疰瘵症。其或因濕火蒸化，或因死痰滲入清　而成，皆是類也。自此竭人之神氣，養蟲之神氣，人死則蟲亦死，其游魂之不死者，傳親近之一脈，附入血隧，似有如無，其後蟲日榮長，人日凋瘁，而命隨以斃。故傳尸勞又與尸疰症不同，尸疰因虛損而成，若傳尸則在素無虛損之人，一傳染，即現出勞怯候，或發熱、骨蒸，或咳嗽、吐血、唇紅、面青等症者是。所傳亦分五臟，在脾腸　，在心吐血，在肝與肺則咳嗽也。治尸疰以清金養榮為本，其殺蟲斷祟，當以獺肝、獺爪、熊指、啄木等丹治之。至犯傳尸者，一見其外症唇紅、面青、骨蒸、內熱，飲食健啖，而人漸瘦不已者，必有蟲也，治以獺爪百部丸主之。</p>
<h3>虛勞當治其未成</h3>
<p>患虛勞者，若待其已成而後治之，病雖愈，亦是不經風浪，不堪辛苦的人，在富貴者猶有生之，令其善為調攝，隨用湯液十數劑，或用丸劑膠劑二三斤，以斷其根，豈非先事之善策哉。</p>
<h3>知節</h3>
<p>節為節省之義。虛勞之人，其性情多有偏重之處，每不能撙節其精神，故須各就性情所失以，宜節忿怒以養肝；在躁而不靜者，宜節辛勤以養力；在瑣屑而不坦夷者，宜節思慮以養心；在慈悲而不解脫者，宜節悲哀以養肺。此六種，皆五志七情之病，非藥石所能療，亦非眷屬所可解，必病者生死切心，自訟自克，自悟自解，然後醫者得以盡其長，眷屬得以盡其力也。</p>
<h3>知防</h3>
<p>虛人再經不得一番傷寒，或一番痢疾，或半年幾月瘧疾，輕傷風感冒，亦不宜輒受。所以一年之內，春防風，又防寒；夏防暑熱，又防因暑取涼，而致感寒；長夏防濕，秋防燥，冬防寒，又防風。此八者，病者與調理病患者，皆所當知，即醫師亦須深明五運六氣之理，每當時序推遷，氣候偏重，即宜預為調攝挽救，以補陰陽造化之偏，而制其太過，扶其不足。經云：毋翼其勝，毋贊其復，閑其未然，謹其將然，修其已然。即此之謂也。</p>
<h3>二護</h3>
<p>寒從足起，風從肩俞、眉際而入。病者常護此二處，則風寒之乘於不意者少矣。其間有最緊，立身不定光景，即刻斷食一周；其稍重者，略散以煎劑，自脫然而愈。若時氣初染，不自覺察，再加以飲食斗湊，經邪傳裡，輕者蒸灼幾日，重者恆致大害。</p>
<h3>三候</h3>
<p>前者四季之防六氣，本而防標之說也。若夫二十四候之間，有最與本症為仇者。其候有三：曾透過，雖嗽平吐止，火降痰寧，病者怡然，以為無事矣。而不知氣候之相克，有在於尋常調燮之外者，一交三候，遂與本症大逆，平者必復，復者必深，深者不救。是惟時時防外邪、節嗜欲、調七情、勤醫藥，思患而預防之，方得涉險如夷耳！</p>
<h3>二守</h3>
<p>二守者，一服藥，二攝養。二者所宜守之久而勿失也。蓋勞有淺深，治有定候。如初發病，服，便可斷除病根。至於再發，則真陰大損，便須三年為期。此三年間，起於色者節欲，起於氣者慎怒，起於文藝者拋書，起於勞倦者安逸，起於憂思者遣懷，起於悲哀者達觀，如是方得除根。至於三發，則不可救矣。且初發，只須生地、元參、百合、桔梗之類，便可收功；至於再發，非人參不治。是在病者之盡其力而守其限，識所患之淺深近久，量根本之輕重濃薄，而調治之；勿躁急取效，勿惜費恣情，勿始勤終</p>
<h3>三禁</h3>
<p>治勞三禁，一禁燥烈，二禁伐氣，三禁苦寒是也。蓋虛勞之痰，由火逆而水泛，非二陳、平勞之氣，由肺薄而氣窒，非青、枳、香、蔻、蘇子等所豁之氣。乃至飲食所禁，亦同藥餌。</p>
<p>有因胃弱而用椒、胡、茴、桂之類者，其害等於二陳；有因煩渴而啖生冷鮮果之物者，其害同於知、柏；有因氣滯而好辛辣快利之品者，其害甚於青、枳。此三禁不可不知也。</p>
<h3>四難</h3>
<p>一家中如父母慈，兄弟友，夫婦摯而有別，僮仆勤而不欺。此四者在人而不在己，在本家而期。其日逾久，則恩勤易怠，其效難期，則厭棄滋生，苟非金石之堅，難免嘖室之怨，一著失手，滿盤脫空，雖非醫師之過，而為醫者，亦不可不知也。</p>
<h3>勞傷非弱症</h3>
<p>有平時心腎不虧，並無弱症，偶有房勞，猝然嘔血者，其血從胃中來，不得以怯症論治。宜須柴胡、貝母、桔梗、澤瀉、丹皮、白芍、麥冬之類治之。更有勞傷筋力而得者，只宜調其胃氣而自愈。</p>
<h3>嘔吐見血非弱症</h3>
<p>往往有人患嘔血甚多，醫者遂認為弱症，誤也。此先傷於怒，怒氣傷肝，肝臟原有血積於中治嘔藥中，加楂肉先行其瘀，止其吐；後再徐調其他症，自可萬全也。</p>
<h3>傷寒見血非弱症</h3>
<p>有勞倦傷血，瘀積胃絡，兼受風寒，寒邪迫血，火不能降，以致吐血、衄血，不可以弱症施降，則血自止矣。或問何以辨之？曰：頭痛、惡寒、戰栗、手足逆冷，而其人素無虛症，如虛火上炎，不足之候，身體不瘦，突然而起者是也。</p>
<h3>腸風便血不同怯症</h3>
<p>每見先天不足之人，得腸紅便血之症，不肯自認為勞怯，且以為輕病而不治，久久至氣血盡中州，元氣下陷，客風邪火，流入腸胃，氣滯血凝，腐敗潰亂，而成土崩河決之勢。若不速治，將成大患。治法如何？曰：不過散其風，燥其濕，，升其陷而已。散風用炒黑防風、荊芥為主。此二味，生用則能散風於上部，炒用則散風於二腸，荊芥尤為要藥。寬腸行氣以炒枳殼為主。止血以炒黑蒲黃、醋炒地榆為主。行瘀以紫菀為主，兼有調血歸經之妙。升陷以升麻、柴胡為主。燥濕以白朮、澤瀉、茯苓為主。風散、濕除、氣行、瘀消，元陽生發則病自愈。能節勞戒氣，貶酒卻色，善自調攝，且知起居服食禁忌，自不復發。更兼以調和氣血、補助先天之劑投之，與虛勞血症收功之法同治，終身可以無患。</p>
<h3>陽虛陰症辨</h3>
<p>有男子脾腎氣虛，腰膝無力、目眩、耳鳴、形體憔悴、溏泄無度、飲食少進、步履艱難，似乎陰虛弱症而非也。何以辨之？曰：不咳嗽，不內熱、骨蒸，不潮熱、吐紅是也。然其脈必軟緩微弱，虛寒之極。治法當回陽返本、健脾益胃、交補心腎為主，則寒穀陽回，萬物發生。</p>
<h3>軟懶症辨</h3>
<p>有一種軟懶之症，四肢倦怠，面色淡黃；或膈中氣滿，不思飲食。其脈沉遲澀滯，軟弱無力。或表氣不清，惡寒發熱，當其寒，則脈愈加沉澀；當其熱，則脈微見細數。或傳裡內熱，則脈氣沉洪或洪數。總之，定帶軟弱不清之象。此內傷兼外感，其邪只在肌表筋骨之間，未深入臟腑，其所感尚輕，故不成傷寒、瘧、痢等疾，而為此軟弱因循之症也。</p>
<p>久久不治，成硬頭黃者居多。若脾虛濕勝者，則成黃腫；若肺氣不足者，流入清虛之腑，則壅為痰嗽；若血少者，遷延歲月，則成內熱，或五心煩熱，日晡潮熱，漸似骨蒸勞熱矣。</p>
<p>此症大都得諸藜藿窮檐之輩，間有膏粱之人，因房勞不節，或竊玉偷香，恐懼憂驚，或埋首芸窗，用心過度，或當風取涼，好食生冷，致風寒傳染，鬱而不散，乃內傷兼外感而成。其外象酷似弱症，若察症不的，初起遽投以涼劑、補藥，則邪正混淆，不得清徹，以致寒邪閉遏，郁於經絡，而為內熱，遂成真病。人家子弟患此，類多諱疾忌醫，不便直告人，自認虛弱，見醫者投以清理散邪之品，反不肯服，所以難治，亦難辨也。然則何以辨之？曰：頭不痛，身不熱，不煩嗽，不唾血，但腿酸腳軟，蒸蒸內熱，胸中邪氣隔緊，食不易飢，與之食則食，不與亦不思，或今日思此物，明日即不喜，又思別物適口，如怯症之嘗食勞也。治法：當其未入裡時，宜和解分消，托之使出，用八物東加減，去黃芩，加前胡、山楂、陳皮之類。濕勝有痰者，重以二陳湯，稟氣濃者，加枳殼。用此數劑，邪自解散。若邪已入裡，難從肌表散去，則宜重在分消，使邪從小便而出。表裡既清之後，以養氣、養血之品，培其本源。若起於憂驚思慮者，以交固心腎之藥要其終，則霍然矣。玉芝云：外感軟懶之症，切不可發汗，汗之則虛暈欲倒，以其兼內傷重也。治宜柴胡、防風、葛根、蘇梗、陳皮、山楂、枳殼、澤瀉等味主之。小便不利者，加車前。質弱者，去枳殼。數劑後加丹參，再後加當歸。若脾虛下泄者，稍加燥味。若血虛內熱者，少加丹皮、地</p>
<h3>老年怯症難治說</h3>
<p>諺有少無風癱，老無癆瘵之說。故中年以後人，往往有勞嗽、吐血、咳血症，不肯自認為怯愈為其相火易衰，色心已淡，性氣已灰，怒氣少動故也。若二者不戒，死期更促耳。至於治法，則從同也。</p>
<h2>卷下</h2>
<h3>虛勞本治方</h3>
<p><u>歸養心脾湯</u></p>
<p>（治夢遺滑精。）</p>
<p>人參　黃　白朮　芡實　北五味　甘草　熟地　棗仁　茯神　山藥　當歸身參固氣，氣固則精有攝而不遺。生地滋陰，陰滋則火有制而不浮越。當歸養血。芡實固腎。茯神、棗仁安神寧志。　、朮、藥、草補氣調中，氣旺神昌，則精固而病自愈。遺甚加萸肉、蓮須。思慮過度加蓮肉。不禁加石蓮、金櫻膏。足痿加牛膝、杜仲、龜板膠。</p>
<p><u>歸養心腎丸</u></p>
<p>生地　熟地　黃　白朮　山藥　芡實　茯神　棗仁　歸身　萸肉　五味　甘草煉蜜丸，空心白湯送下三錢。</p>
<p>二地滋陰。當歸養血。茯神、棗仁補心。　、朮、藥、草調氣補中。五味、芡實固精滋腎。</p>
<p>茸、沙苑、菟絲。泄瀉加澤瀉、蓮肉。腰膝軟弱，艱於步履，加牛膝、杜仲、龜鹿膠。</p>
<p><u>養心固本丸</u></p>
<p>元武膠（紅曲炒珠）　鹿角膠（紅曲炒珠）　萸肉　杞子　人參　黃　石蓮肉　白朮　甘草棗仁　地黃　淮牛膝內石蓮將肉桂一錢同煮一日，去肉桂，用煉蜜丸。收功固本藥也。</p>
<p><u>養心固腎丸</u></p>
<p>（治漏精。）</p>
<p>生地　當歸　茯神　山藥　芡實　萸肉　陳皮　甘草　五味　石蓮肉河水煎，空心服。</p>
<p><u>桑螵蛸散</u></p>
<p>（治遺精漏不止。）</p>
<p>桑螵蛸一味，焙為末，酒漿調服一錢。三四服即止。</p>
<p><u>補元湯</u></p>
<p>（治腎痹。）</p>
<p>生地　杞子　黃　白朮　杜仲　牛膝　山藥　茯苓　當歸　甘草不拘時服。</p>
<p><u>清熱養榮湯</u></p>
<p>（治虛勞內熱骨蒸。）</p>
<p>柴胡　丹皮　地骨皮　生地　當歸　白芍　元參　茯苓　麥冬肉　生甘草燈芯三十寸，河水煎服。</p>
<p><u>加味固本膠</u></p>
<p>生地　熟地　桔梗　茯苓　天冬肉　元參　川貝　百合　阿膠　紫菀　麥冬肉　甘草白蜜二斤，收膠。</p>
<p><u>集靈膠</u></p>
<p>天冬　麥冬　生地　熟地　元參　桔梗　甘草白蜜五斤，收膠。</p>
<p><u>清金養榮丸</u></p>
<p>生地　麥冬肉　花粉　川貝　元參　白芍　茯苓　地骨皮　丹皮　甘草內生地將薄荷湯煮爛，搗膠，同蜜為丸。</p>
<p><u>清金甘桔湯</u></p>
<p>（治乾咳。）</p>
<p>桔梗　川貝　麥冬肉　花粉　生地　元參　白芍　丹皮　粉甘草　燈芯河水煎。</p>
<p><u>清金百部湯</u></p>
<p>（治虛勞久嗽。）</p>
<p>桔梗　元參　川貝　百部　生地　麥冬　丹皮　白芍　生甘草　地骨皮　燈芯喘急，加白前、海粉、竹茹。如痰吐稠黏，脾肺火盛，加清金散、竹茹、花粉。</p>
<p><u>清金加減百合固金湯</u></p>
<p>百合　桔梗　川貝　桑皮　杏仁　花粉　麥冬　茯苓　陳皮　生甘草</p>
<p><u>大聖藥</u></p>
<p>春加佛耳草，即面兼頭，立夏日采取為餅。夏加苧麻根。秋加金沸草。冬加款冬花。發熱加柴胡、前胡。咽痛，元參、射干。素有血症，生地、丹皮。</p>
<p><u>固金養榮湯</u></p>
<p>桔梗　桑皮　川貝　茯苓　百合　杏仁　陳皮　甘草生地四兩，荷葉湯煮爛搗膏為蜜丸。此方與百合固金湯，為治血虛痰火主藥。</p>
<p><u>清金甘桔湯</u></p>
<p>（治咳嗽痰中帶血絲血珠。）</p>
<p>桔梗　生地　白芍　丹皮　麥冬　元參　川貝　茯苓　阿膠　甘草此方加紫菀、犀角，名膠菀清金湯，治咳嗽痰中夾血。為丸，治咳嗽痰中夾血珠、血絲、血片。去生地、桔梗，加地骨皮、百部，名膠菀犀角湯，治勞嗽吐血。</p>
<p><u>加味犀角地黃湯</u></p>
<p>犀角　生地　赤芍　丹皮　蒲黃燈芯三十寸，荷葉一大張，煎湯代水。</p>
<p><u>瓊玉膠</u></p>
<p>生地　茯苓　人參各等分，蜜收。</p>
<p><u>固本腎氣丸</u></p>
<p>（治陽虛。）</p>
<p>人參　黃　白朮　茯苓　當歸　生地　炙草　棗仁　煨薑　鹿角膠</p>
<p><u>還元丹</u></p>
<p>（亦治陽虛。）</p>
<p>遠志　杜仲　牛膝　補骨脂　山藥　茯神　鎖陽　五味　杞子　山萸肉　熟地　菖蒲煉蜜為丸，淡鹽湯下。</p>
<p><u>獺爪丸</u></p>
<p>（治傳尸勞。）</p>
<p>獺爪（醋炙為末）　獺肝（陰乾）　敗龜板　銀柴胡　百部　沙參　生地　桔梗　地骨皮丹皮　麥冬　甘草共為末，每以五分或至七分，投入煎劑，或丸或膠加入，潛使服，勿令病者知覺。</p>
<p><u>百部清金湯</u></p>
<p>（治傳尸勞）</p>
<p>百部　骨皮　人參　麥冬　桔梗　生地　丹皮　芍藥　茯苓　甘草</p>
<h3>治虛藥訛一十八辨</h3>
<p><u>人參　外感風邪，元氣未漓，審用。</u></p>
<p>人參大補元氣，沖和粹美，不偏不倚，故在陰補陰，在陽補陽，能溫能清，可升可降，三焦成壅塞，所謂實實也。若夫虛勞之病，或氣血、陰陽、水火、寒熱、上下諸證，與夫火、痰、燥、濕、滯、脹、吐、利、冒厥、煩渴，及胎前、產後、痘疹、久病、病後，一經虛字，則先後發明，並無異議。庸醫不察，執節齋之瞽說，以為人參補陽，沙參補陰，若補陽則助其火，甚至云虛勞人服參者，必至不救，以致舉世畏參如砒鴆，而不敢試，豈不誤載！</p>
<p><u>黃柏、知母　禁用。</u></p>
<p>《丹溪心法》有云：虛損吐血，不可驟用苦寒，恐致相激，只宜瓊玉膏主之。何事首尾矛盾並用。後之學人宗之，凡遇虛勞咳嗽、吐血、虛火虛熱之疾，皆以知、柏二味，以為清火滋陰，殊不知虛勞之火，虛火也，相火也，陰火也。即丹溪云：虛火可補，人參、黃　之屬。</p>
<p>相火系於肝腎之間，出入於甲膽，聽命於心君。君火明，則相火伏，若君火不明，則相火烈焰沖天，上感清虛之竅，耳聾、鼻干、舌痛、口苦、頭暈、身顫、天突急而淫淫作癢、肺葉張而咳嗽頻仍。當此時也，惟有清氣養榮，滋方寸靈台之雨露，以寧膻中之煩焰，則甲膽乙肝之相火，不撲而自滅矣。陰火者，龍雷之火也，起於九泉之下，遇寒水陰翳，則其焰愈騰，若太陽一照，自然消隕。此三火者，皆無求於降火滋陰，亦何事乎知、柏，而用之以貽害乎？且黃柏傷胃，知母滑脾，胃傷則飲食不進，脾滑則泄瀉無度。一臟一腑，乃生人之本。</p>
<p>經云：得穀者昌，失穀者亡。又曰：陽精上奉，其人壽；陰精下降，其人夭。今以苦寒傷胃，豈非失穀者亡乎？以冷滑泄脾，豈非下降者夭乎？想世用此者，意在滋陰，而不知苦寒下降多亡陰，陰虧而火易熾；意在清金，而不知中土既潰，絕金之源，金薄而水益衰。吾知用此者，未見其利，徒見其害耳。每見虛勞</p>
<p><u>麥冬、五味　初病酌用。</u></p>
<p>治肺之道，一清、一補、一斂，故麥冬清，人參補，五味斂。三者，肺怯之病，不可缺一者疏散之，未可驟加斂補，施治之次第宜然。若不知初病、久病之分，或驟清、驟補、驟斂，則肺必致滿促而不安，邪氣濡滯，久而不徹。此非藥之害，實由用之失節耳。若夫疏解之後，邪氣既清，元氣耗散，則當急用收斂、清補為主，舍此三物，更何求焉？況五味不但以收斂為功，兼能堅固心腎，為虛勞必用之藥。乃在用之不當者，反咎五味酸能引痰致嗽，畏而棄之。殊不知病至於伏火乘金，金氣耗越之際，除卻此味，更用何藥以收之耶？</p>
<p><u>澤瀉　宜用。</u></p>
<p>夫肺金為氣化之源，伏火蒸灼，則水道必污，污則金氣不行而金益病，且水停不流，則中土功。夫亦嘗究其命名之義矣。蓋澤者，澤其不足之水；瀉者，瀉其有餘之火也。惟其瀉也，故能使生地、白芍、阿膠、人參，種種補益之品，得其前導，則補而不滯；惟其澤也，故雖走濁道而不走清道，不若豬苓、木通、腹皮等味之消陰破氣，直走無余。要知澤瀉一用，肺、脾、腎三部咸宜，所謂功同神禹者此也。古方用六味丸，用之功有四種，《頤生微論》論之極詳。庸醫不察，視為消陰損腎之品，置而不用，何其謬甚！</p>
<p><u>桑皮　宜用。</u></p>
<p>桑白皮清而甘者也，清能瀉肝火之有餘，甘能補肺氣之不足。且其性潤中有燥，為三焦逐水，最忌喘、腫二候。金逆被火所逼，高而不下則為喘；土卑為水所侮，陷而失堤則為腫。喘者，為天不下濟於地；腫者，為地不上交於天。故上喘、下腫，天崩地陷之象也。是症也，惟桑皮可以調之。以其降氣也，故能清火氣於上焦；以其折水也，故能奠土德於下位。奈何前人不察，以為性不純良，用之當戒。不知物性有全身上下純粹無疵者，惟桑之與蓮，乃謂其性不純良，有是理乎？</p>
<p><u>桔梗　宜用。</u></p>
<p>夫肺如華蓋，居最高之地，下臨五臟，以布治節之令。其受病也，以治節無權，而氣逆火升味；至清故能清金，升浮故能載陷，微苦故能降火，實為治節君主之劑，不但引清報使而已。此味升中有降，以其善清金，金清自能布下降之令故也；清中有補，以其善保肺，肺固自能為氣血之主也。且其質不燥不滯，無偏勝之弊，有十全之功，服之久，自能清火消痰，寬胸平氣，生陰益陽，功用不可盡述。世之醫者，每畏其開提發散，而於補中不敢輕用、多用，沒其善而掩其功，可惜也。</p>
<p><u>丹皮、地骨皮　宜用。</u></p>
<p>夫黃柏、知母，其為倒胃敗脾之品，固宜黜而不錄矣。然遇相火爍石流金之際，將何以處此清火除蒸，更兼養肺。骨皮者，枸杞之根也。枸杞為補腎之要藥，然以其升而實於上也，但能溫髓助陽，虛勞初起，相火方熾，不敢驟用。若其根伏而在下，以其在下也，故能資腎家真水；以其皮，故能舒肺葉之焦枯，涼血清骨，利便退蒸。其功用較丹皮更勝，且其味本不苦，不致倒胃，質本不濡，不致滑脾，施治允當，功力萬全，有知、柏之功，而無其害，最為善品。</p>
<p><u>生地　宜用，初病審用。</u></p>
<p>世人以生地為滯痰之物，而不敢輕用，是不知痰之隨症而異也。雜症之痰，以燥濕健脾為主克肺金，金不能舉清降之令，精微不徹於上下，滯而為痰作咳。治宜清肺，則邪自降；養血，則火自平。故余於清金劑中，必兼養榮為主。榮者，血也。陰者，水也，潤下之德也。清金若不養榮，如吹風滅火，風勢愈逆，烈焰愈生。清金養榮者，為引水制火，沾濡彌漫，煙氣永息。故桔梗、桑皮、貝母之類，清金之品也。生地、丹皮、當歸之類，養榮之品也。而養榮劑中，又以生地為第一。以生地治雜症之痰，則能障痰之道，能滯化痰之氣，且其力滋補，反能助痰之成。若加之虛勞劑中，則肺部喜其潤，心部喜其清，腎部喜其滋，肝部喜其和，脾部喜其甘緩，而不冷、不滑，故勞嗽、骨蒸、內熱、吐血、咯血劑中，必無遺生地之理。惟勞嗽初起，客邪未清，痰嗽盛時，亦暫忌生地滯泥。若表症既除，內熱蒸灼，非生地之清潤，以滋養化源，則生機將絕矣。若畏其滯</p>
<p><u>茯苓　宜用。</u></p>
<p>有謂茯苓善滲，下元不足者忌之。非也。蓋茯苓為古松精華蘊結而成，入地最久，得氣最濃。其質重，其氣清，其味淡。重能培土，清能益金，淡能利水。惟其得土氣之濃，故能調三部之虛。虛熱虛火濕氣生痰，凡涉虛者皆宜之，以其質中和粹美，非他迅利克伐者比也。夫金氣清降，自能開水之源；土氣調平，自然益氣之母。三臟既理，則水火不得憑凌，故一舉而五臟均調。又能為諸陰藥之佐，而去其滯；為諸陽藥之使，而宣其道。補不滯澀，泄不峻利，精純之品，無以過之。</p>
<p><u>黃　宜用。</u></p>
<p>余嘗說建中之義，謂人之一身，心上，腎下，肺右，肝左，惟脾胃獨居於中。黃　之質，中上氣不下，下氣不上，左不維右，右不維左，得黃　益氣甘溫之品，主宰中州，中央旌幟一建，而五方失位之師，各就其列，此建中之所由名也。故勞嗽久已失氣，氣不根於丹田，血隨氣溢，血既耗亂，氣亦飛揚。斯時也，雖有人參回元氣於無何有之鄉，究竟不能固真元於不可拔之地，欲久安長治，非黃　不可。蓋人參之補迅而虛，黃　之補重而實，故呼吸不及之際，　不如參。若夫鎮浮定亂，返本還元，統氣攝血，實表充裡，其建立如牆壁之不可攻，其節制如將令之不可違，其饒益如太倉之不可竭，其御邪扶正，如兵家之前旄，中堅後勁，不可動搖，種種固本收功之用，參反不如　。故補虛以黃　為牆垣，白朮作基址。每見服參久久，漸至似有若無，雖運用有餘，終是浮弱，不禁風浪。若用　、朮兼補，可至風雨不畏，寒暑不侵，向來體弱者，不覺脫胎換骨，誠有見於此也。除勞嗽初起，中土大傷，氣火方盛，心肺雖失其和，脾胃猶主其事，此時只宜養榮為主，黃　微滯，尚宜緩投。若久病氣虛以實土，徒以沉陰降濁之品，愈傷上奉升騰之用，必無濟也。</p>
<p><u>白朮　宜用，初病審用。</u></p>
<p>虛勞初起，治未有不以清金為第一義者。而清金之品，生地、阿膠、丹皮、白芍之外，又有並麥冬亦微惡其冷，元參亦且嫌其寒，久久漸妨飲食，漸陷中氣，於斯時也，又宜以培土調中為主。其法在雜症門中，用藥頗多，惟虛症內，培土之劑，止有黃　、白朮、茯苓、山藥，有功而無過。夫虛勞之培土也，貴不損至高之氣，故二陳之燥，平胃之烈，固萬萬不可，即扁豆之健脾，苡仁之勝瘴，猶未免於走血，俱未盡善。若乃四味之中，茯苓、山藥雖沖和，而無峻補回生之力，即　、朮二種並用，又以術為土部專經之劑，兼為益氣之品，故能培土以生金，而至高之部，胥有賴也。夫術性微燥，於虛症似當緩投，然卻喜其燥而不烈，有合中央之土德，且補土自能生金，如山岳之出云蒸霧，降為雨露，以濡萬物，而何病燥之有哉？繆仲淳謂其燥能傷陰。殊不知傷陰為蒼朮、厚朴之類，豈可以白朮微燥中和之品同語耶？且治法收功之時，非培土則浮火終不歸根，知白朮之功大矣。</p>
<p><u>柴胡　酌用</u></p>
<p>柴胡升清調中，平肝緩脾，清熱散火，理氣通血，出表入裡，黜邪輔正，開滿破結，安營扶浸淫鬱滯，有待宣通，舍此柴、前二胡，則無有秉性純良出其右者矣。故每用些少以佐之然後專用清源補斂之品，乃為十全。即其調理之人，中間或攖或感，亦必急用柴胡、防風、葛根等味徹之，然後仍用補斂，庶免關門捉賊之患。但其性升散，用者當中病即止，不可多用、常用耳。更有女人抑郁傷陰，與夫蓐勞之後，必當選用。蓋多郁則傷元氣，柴胡平肝散郁，功最捷也。後人因陳藏器一言，忌用柴胡，遇內傷、外感之症，將反用麻黃、紫蘇等味以散之耶！</p>
<p><u>陳皮　偶用。</u></p>
<p>夫桔梗本以載氣上行，而氣火以平者，可見虛勞之氣，皆由於火侵肺也。若雜症之有胸膈氣口氣滯，輒以陳皮理氣，不知陳皮味辛而性燥，辛能耗肺氣之清純，燥能動陰虛之相火，本以理氣，氣反傷矣。惟清金之久，化源初動，脾氣未健，胃口漸覺涎多，可少加陳皮以快之，使中宮一清，未為不可。又或時氣偶來，脾胃濡瀉，亦可暫用數劑，以清理之，然亦須去病則已，不宜常用。</p>
<p><u>蘇子　不必用。</u></p>
<p>夫虛勞之火，既乘金之氣高而不降，治宜平其火而已，不必下其氣也。惟雜症之喘急而氣高痰可消。不知其復也，必增劇矣。惟白前一味，為平喘之上品。凡擷肚抬肩，氣高而急，能坐而不能臥，能仰而不能俯者，用此以平之，取效捷而元氣不傷，大非蘇子可比。</p>
<p><u>枳殼　不可用。</u></p>
<p>虛勞施治，曰清金，曰安神，曰培土，曰調肝，曰益腎，而惟補之一字，徹乎終始，故火亦氣塞滯，不究虛實，便用枳殼以伐之。不知虛勞治氣，與雜症不同。其滯也，不可以利之；其高也，不可以下之；其治滿也，不可以破之。陳皮、蘇子，已不當用，況枳殼、青皮乎！虛勞之施治有次序，先以清金為主；金氣少肅，即以調脾為主；金土咸調，則以補腎要其終還元。凡屬陰虛，未有不以此為扼要者也。然杞子之性太溫，若君火未明，相火方熾，肺葉舉杞子性涼之說，試問性若果涼，胡為興陽之驟耶？</p>
<p><u>當歸　審用。</u></p>
<p>夫當歸之養榮，以佐清金也，尚矣。然其味未免於辛，其性未免於溫，雖有養血之功，亦為腎水以收功。若執古人之論，謂當歸命名之義，使氣血各得其歸，罔顧血症新久而用之，亦有誤處。</p>
<p><u>桂圓　審用。</u></p>
<p>龍眼大補心血，功並人參。然究為濕熱之品，故肺有鬱火，火亢而血絡傷者，服之必劇。世既清之後，以此大補心脾，信有補血安神之效，若肺有鬱伏之火，服之則反助其火，或正當血熱上衝之時，投此甘溫大補之味，則血勢必涌溢而加沖。不可不慎也。</p>
<h2>柯跋</h2>
<p>《傳》云：三折肱為良醫。《楚辭》云：九折臂而成醫。《曲禮》云：醫不三世，不服其藥。則業醫者，貴專且久也。曾伯祖韻伯公，本諸生，精研醫理，箋疏辨論極伙，自著《來蘇集》等書數種，向未梓行。表舅祖陳時行，韻伯公嫡派，吾伯父所受業者，淵源固歷歷不爽也。吾家藏書頗備，刻本、鈔本若干卷，相與析疑辨難，克窮閫奧。又與琴川楊資生先生，討論有年，凡儒生淵博而貫通者，廣資稽考。則伯父於醫，原本先世，參究明師，博訪良友，冥搜曩哲，可謂專且久矣。今《來蘇集》等書，已刊刻行世。是書乃綺石先生所著，亦鈔本之一，不敢自私，鐫刻公世，既以闡古人之秘，亦以表得力之自云爾。</p>
<p><u>乾隆三十六年歲次辛卯小春朔又五日侄男有田謹跋</u></p>
<h2>陳跋</h2>
<p>上《理虛元鑒》兩卷鈔本，無錫顧信成所藏。信成研究醫理，亟稱此書，以為治虛勞，功不師及各處坊間，叢殘故楮中，殊不可得。《四庫提要》及張氏《書目答問》、朱氏《匯刻書目》，均未及收。乃亟付剞劂，傳諸久遠，以為治虛專書，未必無補。傳寫既久，訛廖滋多，學識固陋，校勘非易。不敢臆度，傳其可信，闕其可疑，綱羅考訂，有俟篤好。綺石先生，姓氏裡居，急切難考。觀趙氏跋語，豈明末之遺老與避世之隱君子歟。殺青既竟，書諸簡</p>
<p><u>大清光緒二十二年嘉平月蕭山陳光淞識</u></p>
